[2019-07-23 09:43] pustaczek opened #62892 "Doc comments break proc_macro::SourceFile"
Adding a doc comment before a procedural macro invocation causes [`proc_macro::SourceFile::path`](https://doc.rust-lang.org/proc_macro/struct.SourceFile.html#method.path) to return the path to lib.rs or main.rs instead of the actual path. The documentation states that if [`proc_macro::SourceFile::is_real`](https://doc.rust-lang.org/proc_macro/struct.SourceFile.html#method.is_real) returns false, t

[2019-07-23 10:13] eddyb commented on #46989
@jesskfullwood You can just cast them safely, e.g.: `f as usize`.

[2019-07-23 10:26] saleemjaffer commented on #60164
@xldenis @oli-obk I can work on this if you guys are caught up with something else :)

[2019-07-23 10:48] jonas-schievink commented on #62892
cc https://github.com/rust-lang/rust/issues/54725

[2019-07-23 10:54] GuillaumeGomez commented on #62867
There was a reason for this. I'll check why.

[2019-07-23 10:58] glandium commented on #57563
AFAICT, the RFC doesn't talk about associated consts and traits with no items involved. And I don't see what forward compatibility issues those could lead to.

[2019-07-23 11:16] Majkl578 commented on #62841
Looks like even compilation directly on RPi0 is broken as the compiler crashes:
[code]

Running under gdb:
[code]

@nikic I'm not sure if this helpful at all, I can send (e-mail) you the coredump or do anything else you need, unfortunately I have basically no experience debugging low-level ASM issues.

[2019-07-23 11:19] sdroege opened #62893 "absolute-paths-not-starting-with-crate warning emitted for macros from 2015 edition crates used in 2018 edition crates"
See e.g.

[code]

The macro in question is declared by a 2015 edition crate and used in a 2018 edition crate.

Right now this is only annoying but if this ever becomes a hard error then using all 2015 crates as dependencies of an 2018 crate will be impossible, which was one of to promises of the editions system.

[2019-07-23 11:33] oli-obk commented on #57563
**TLDR:**

[code]

is fine

[code]

is not and the trait bounds are exactly the same. Also you don't want the body contents to have an effect on what types you are allowed to use as `T` (some types may have `some_fn` be const, so be ok, some may not have that). The RFC solves this question in a consistent manner.

**Long version:**

The RFC doesn't have to talk about associated consts, because as

[2019-07-23 11:35] oli-obk commented on #57563
More information on how we got here can be found in https://github.com/rust-lang/rust/issues/53972 and https://github.com/rust-rfcs/const-eval/issues/1

[2019-07-23 11:43] GuillaumeGomez commented on #62867
The reason why:

![Screenshot from 2019-07-23 13-39-45](https://user-images.githubusercontent.com/3050060/61709407-79dc1980-ad4f-11e9-8233-0abe18403742.png)

It's not very nice looking on "normal" blocks to not have a bit of padding.

[2019-07-23 11:46] GuillaumeGomez commented on #62867
I've got an idea on how to fix. Let's put it to try!

[2019-07-23 11:52] nikic commented on #62841
The problematic instruction is `vcvt.f64.u32`, which [requires](https://github.com/llvm/llvm-project/blob/53f9fec8e8b58f5a904bbfb4a1d648cde65aa860/llvm/lib/Target/ARM/ARMInstrVFP.td#L1409) vfp2 and dpvfp. The [arm-unknown-linux-gnueabihf](https://github.com/rust-lang/rust/blob/master/src/librustc_target/spec/arm_unknown_linux_gnueabihf.rs) target builds with `+vfp2`.

There were some changes in LL

[2019-07-23 11:59] SimonSapin commented on #35428
Ah that’s a good point, presumably through `impl<I: Iterator + ?Sized> Iterator for &mut I`.

[2019-07-23 12:15] GuillaumeGomez commented on #62867
Won't work, CSS is too limited for that. The only solution I see currently would be to be able to detect that code tags are following each others and merging them as one.

[2019-07-23 12:15] dwrensha opened #62894 ""Aborted (core dumped)" with asm! after "error: expected expression, found `<eof>`""
rustc crashes ungracefully when given the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):
[code]

[code]

I'm seeing this behavior on stable, beta, and nightly.

[2019-07-23 12:23] Majkl578 commented on #62841
According to the ARM1176JZF-S™ Technical Reference Manual (which is the CPU used in Raspberry Pi Zero) it contains a VFP11 coprocessor (VFP2 implementation with full support for single-precision and double-precision math operations).
Maybe VFP11 is somehow slightly different from what LLVM assumes?

ARM refs:
- [ARM1176JZF-S™ Technical Reference Manual](http://infocenter.arm.com/help/index.jsp?top

[2019-07-23 12:26] dwrensha opened #62895 "ICE on "index out of bounds: the len is 3 but the index is 4""
I'm getting an internal compiler error on the following program (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

I'm seeing the error on stable, beta, and nightly. As with #62881, the error occurs on `nightly-2018-12-14` (f4a421e) but not on `nightly-2018-12-08` (4a45578).

#62887, the proposed fix for #62881, does not fix this error. cc @estebank

[2019-07-23 12:36] fenhl opened #62896 "Segfault compiling libc on armv7-unknown-linux-gnueabihf"
Originally reported as rust-lang/libc#1441 but I was asked to report this here.

# Steps to reproduce

[code]

Output:

[code]

# Workaround

Run the `cargo check` command with `RUSTFLAGS='-Ccodegen-units=1'` or add the following to the Cargo.toml:

[code]

[2019-07-23 13:13] steveklabnik commented on #48426
Triage: not sure if anything is going on here, or if this issue is pulling its weight. That is, this feels like a small discussion from a year ago, with no clear resolution.

[2019-07-23 13:18] gnzlbg commented on #62836
@RalfJung we do say there that the `{i,u}{N}` types are `N` bits wide, that is, `u8` and `i8` are exactly 8 bits wide. The API documentation of these types says the same, e.g., see the [`u8`](https://doc.rust-lang.org/std/primitive.u8.html) documentation.

I don't know where would the right place to say in the UCGs book that 1 byte is always 8-bit, if anywhere. Maybe we could add a note there some

[2019-07-23 13:22] gnzlbg commented on #62896
@jonas-schievink this is also a regression with respect to stable Rust, so we probably need to avoid shipping a beta with this issue.

[2019-07-23 13:25] mati865 commented on #62896
Can you obtain backtrace using gdb or lldb?

[2019-07-23 13:33] steveklabnik commented on #41574
Triage: not aware of any movement on this front, though @BurntSushi did come up with a good use-case for this in #55632

[2019-07-23 13:35] jonas-schievink commented on #62896
cc @nikic, this might also be fallout from the LLVM update

[2019-07-23 13:35] steveklabnik commented on #47931
Triage: the sysroot system hasn't changed at all.

[2019-07-23 13:50] gnzlbg commented on #48426
I think that the current default is better, and therefore we should not change it.

The current default is unsurprising: user writes scalar code and gets scalar semantics, while users that explicitly use logical vectors get vector semantics. One can change from one to the other and what happens is explicit in the code.

If we change the defaults to use vectors for pairs, at best, the user code bec

[2019-07-23 14:18] mati865 commented on #47931
It works fine on Linux nightly.

Steps for verification:
1. `git clone https://github.com/eqrion/cbindgen/`
2. `cd cbindgen`
3. `git checkout 270491f`
4. `cargo +nightly build --release`

[2019-07-23 14:20] alexcrichton commented on #62844
Thanks for the heads up, definitely want to keep these tests running! I've opened https://github.com/rust-lang/rust/pull/62897 to work towards fixing it.

[2019-07-23 14:50] ogham commented on #62794
Hi,

In this case, I'm literally testing against the auto-generated `Debug` output! The type in question has a short debug style if you use `{:?}` and a longer debug style if you use `{:#?}` (using `debug_struct`). There's a test to see if the short debug style works, but there's also a test to see if the longer debug style works that has started feeling. This is why I can't just use `PartialEq`.

[2019-07-23 15:07] RalfJung commented on #62794
What is the point of the test?

If you want to test the debug output itself, you will just have to live with the fact that it can change arbitrarily any time. It's like testing `&mut 4 as *mut _ as usize` -- some tests just won't produce stable results. I also don't know why you would do that, but whatever. ;)

[2019-07-23 15:16] dtolnay commented on #62867
Here is how I currently work around this in Syn (without merging code tags):

- https://docs.rs/syn/0.15.40/syn/struct.Generics.html#method.type_params
- https://github.com/dtolnay/syn/blob/0.15.40/src/generics.rs#L76-L82

[2019-07-23 15:18] rubdos commented on #61624
Also when the type is wrapped privately (i.e., `pub struct Keccak1600(KeccakState::<1600usize>)`) and exported like that, it seems to be triggered.

[2019-07-23 15:21] jswrenn opened #62899 "Explicit `Self: Sized` bounds missing from generated documentation."
Nearly every method of `Iterator` has an explicit `Self: Sized` bound. These bounds are **present in libcore**'s documentation (e.g., [`Iterator::count`](https://doc.rust-lang.org/1.36.0/core/iter/trait.Iterator.html#method.count)), but are **missing in libstd**'s documentation (e.g., [`Iterator::count`](https://doc.rust-lang.org/1.36.0/std/iter/trait.Iterator.html#method.count)).

[2019-07-23 16:43] CAD97 commented on #49347
Is anything keeping this from stabilization?

[2019-07-23 17:07] #62276 closed

[2019-07-23 17:08] pietroalbini commented on #62276
We backported the change!

[2019-07-23 17:23] cramertj commented on #62517
I wasn't able to reproduce this on master. @hackerer1c can you check your original example with the latest nightly to see if it works properly?

[2019-07-23 17:32] nikic commented on #62841
Thanks for the references. So both vfp2 and fp64 should be supported.

Something I missed before is that the instruction uses the `d16` register, while the VFP11 coprocessor only has 16 double-precision registers. To target this CPU `-d32` needs to be added to the target features.

It looks like the corresponding [armv7 target](https://github.com/rust-lang/rust/blob/0324a2b309cd66cb7bd4a156bd0b84c

[2019-07-23 18:04] cuviper commented on #62835
Maybe there could be an explicit method to copy `MaybeUninit` contents?

[code]

[2019-07-23 18:14] jonas-schievink commented on #62811
So is it expected that all PR builds currently fail with this error on the LinuxTools builder?

[2019-07-23 18:27] RalfJung commented on #62835
@cuviper you mean [something like this](https://doc.rust-lang.org/nightly/core/mem/union.MaybeUninit.html#method.read)?

[2019-07-23 18:36] cuviper commented on #62835
It wouldn't literally be `Copy`, but this would still be an "escape hatch" to copy the thing. I don't know if that's sufficient for what `slotmap` wants, and of course they can do the same `ptr::read` "copy" anyway.

[2019-07-23 19:03] LukasKalbertodt commented on #41817
I just attempted to fix it, but I already spent almost two hours into finding the relevant spot in the codebase and gave up for now. Can anyone give me some hints which functions might be relevant? I already roughly understand the functions involved in error reporting and am pretty sure that the wrong span ends up in an `ObligationCause`. But I have no idea where this span is created. In other wor

[2019-07-23 19:20] Ericson2314 commented on #41619
[Hopefully this doesn't count as inappropriate advertising!] I'll be 1 half of a 2 person talk at the [HIW](https://icfp19.sigplan.org/home/hiw-2019) at ICFP reviewing some of the literature. I was certainly inspired to take this up from this RFC and @eternaleye's comment, and I hope whatever proposal this turns into is equally applicable to Rust too!

[2019-07-23 19:24] pftbest commented on #59077
@cr1901 I'm looking into this for two evenings already, but still not found where the bug is. What I know so far:

1) Compiling with `--emit=link` and `--emit=asm` both fail, which means it's probably not a `no_integrated_as` issue, because `--emit=asm` doesn't need `no_integrated_as` option.

2) Compiling with `--emit=llvm-ir` flag and then using `llc` to produce the assembly works fine. Which me

[2019-07-23 19:51] #62802 closed

[2019-07-23 19:55] nikic commented on #59077
For reference, the error:

Which means that the MSP430 AsmParser cannot be found (even though it does exist). Looking at https://github.com/rust-lang/rust/blob/master/src/librustc_llvm/lib.rs#L74 we see that we indeed fail to initialize it.

[2019-07-23 20:23] pftbest commented on #59077
@nikic no so long ago the asm parser didn't exist on msp430, the inline assembly was just inserted as is into resulting assembly and everything was fine. What exactly have changed that now the asm parser is required?

[2019-07-23 20:26] mark-i-m commented on #62739
@Michael-F-Bryan I guess, but if that is the case, then why is it not working on some platforms? See the errors in #59772

[2019-07-23 20:34] nikic commented on #59077
@pftbest The integrated assembler was enabled in https://github.com/llvm/llvm-project/commit/b26134bf9213d50a506b33803a3410b812f9470a, which is why it is now attempted to be used. (The `no_integrated_as` option in rustc does not control this behavior.)

[2019-07-23 20:38] cuviper opened #62909 "primitive docs should core/alloc/std accessibility"
In #61851, I tried to generate primitive docs in `core`, similar to those in `std`. My main motivation was to clearly see what `f64` methods are available in `core` alone, under `#[no_std]`, since a lot of them require `std` and `libm` support. However, I had trouble making that work because of broken documentation links between `core` and `std`-specific methods.

So I think instead, `rustdoc` cou

[2019-07-23 20:46] Centril commented on #62884
cc @Zoxc

[2019-07-23 20:48] Centril commented on #62893
cc @petrochenkov

[2019-07-23 20:49] Centril commented on #62894
cc @estebank

[2019-07-23 20:52] Diggsey commented on #62835
Yeah, the issue is not with actually being able to do a `memcpy` on the type - that is easy enough. The goal is to be able to use in generic contexts which have a `Copy` bound.

[2019-07-23 21:00] mati865 commented on #62739
@mark-i-m it didn't work on i686 Linux because it's cross compiled from x86_64 Linux and there was no 32 bit openssl installed. I think I've fixed it but I'm waiting on the build to finish.
After that I'll check other platforms and open PR if everything is ok.

[2019-07-23 21:04] mark-i-m commented on #62831
The offending code is here:
https://github.com/rust-lang/rust/blob/299ef86e1f8b3e53154f834115752c719b611fa1/src/libsyntax/ext/tt/macro_rules.rs#L653-L655

TBH, I'm not really sure what it is checking, and I don't have time to look into it right now (work is busy)... Sorry about that.

It seems that the proc_macro is somehow generating some tokens or TokenTrees (especially in a `Sequence` [i.e. a t

[2019-07-23 21:04] GuillaumeGomez commented on #62867
That's something! 🤣

[2019-07-23 22:31] estebank commented on #62894
Interesting:

[code]

I'm not familiar with `visit_cobbler` but that's where we are aborting.

[2019-07-23 22:31] dwrensha opened #62913 "ICE on "lexer accepted unterminated literal with trailing slash""
I'm getting an internal compiler on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):
[code]

[code]

I'm seeing the error on nightly, beta, and stable.

[2019-07-23 22:43] Centril opened #62915 "arbitrary_enum_discriminant: needs raw ptr -> usize cast + "a raw memory access tried to access part of a pointer value as raw bytes""
With:

[code]

something seemingly strange is going on:

[code]

I haven't looked at the MIR, but it's strange that a raw pointer -> usize cast is going on here?

cc https://github.com/rust-lang/rust/issues/60553
cc @oli-obk @eddyb

[2019-07-23 22:46] dwrensha commented on #62894
cc @nnethercote

[2019-07-23 23:25] estebank commented on #54482
The current output for this is:

[code]

[2019-07-23 23:31] mati865 commented on #61561
This issue is not fixed and shouldn't have been closed.

[2019-07-23 23:32] cavedweller opened #62918 "Remove TLS dependency from async/await"
Futures currently have a dependency on TLS for storing a pointer to` Context<'_>`.
https://github.com/rust-lang/rust/blob/master/src/libstd/future.rs#L116

This makes usage in `no_std` environments quite difficult.

[2019-07-23 23:33] cavedweller commented on #62918
I would like to tackle this since it's blocking a personal project.

cc/ @cramertj @eddyb @nikomatsakis @Zoxc

[2019-07-23 23:37] #62203 closed

[2019-07-23 23:37] #60933 closed

[2019-07-23 23:37] #58887 closed

[2019-07-23 23:37] rust-highfive opened #62919 "`miri` no longer builds after rust-lang/rust#62902"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#62902, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Mark-Simulacrum, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Mark-Simulacrum, the PR reviewer, and @rust-lang/c

[2019-07-23 23:37] #59674 closed

[2019-07-24 00:04] nathanwhit commented on #62884
I experience this as well on macOS Mojave 10.14.5.
I also have `optimize` set to `true` and debug assertions off.

A full bootstrap usually takes over an hour and an incremental build with `keep-stage 1` and only a small change (e.g. a whitespace change) in librustc takes over 20 minutes.

[2019-07-24 01:17] estebank opened #62922 "Rework method disambiguation error to use structured suggestions"
_Taken from https://github.com/rust-lang/rust/pull/62921#discussion_r306584349_

#62921 will extend the amount of times we display the disambiguated syntax in cases where multiple traits with the method being called is displayed in the following way:

[code]

It'd be a good idea to take a hard look at this and come up with better output that hopefully is as easy to understand while also incorporat

[2019-07-24 02:19] Zoxc commented on #62884
30 seconds does seem quite optimistic for a incremental compiler build (assuming any changes). This is probably just some wrong documentation. cc @mark-i-m

[2019-07-24 02:31] glandium commented on #57563
Does it have to? There are number of things that currently can't be used in const functions, despite being part of the language, like match (IIRC, it's still not allowed). I can totally get that the compiler implementation to allow trait bounds only for non-problematic cases might be non-trivial (and I have no clue, it might as well be easy), but I'd argue that's an implementation detail.

[2019-07-24 02:37] Lokathor commented on #57563
I haven't used it in a while, but I recall that the const_fn feature on nightly already lets you use trait bounds in const fn. There's no methods callable because none are const, but it already allows "just marker traits" (and maybe associated consts?) perfectly fine.

[2019-07-24 02:57] nexplor opened #62924 "Tracking issue for map_first_last: first/last methods on BTreeSet and BTreeMap"
Feature gate: `#![feature(map_first_last)]`

### Public API

[code]

### Steps / History

- [x] Implementation: #65637
- [x] Changes: #70850
- [x] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- [x] Naming (min/max, first/last, front/back, .. ?)
- [ ] For BTreeMap: Separate entry and pair (and just-value) functions?

----

Original issue title: Finding minimum/max

[2019-07-24 03:34] TitanThinktank commented on #52941
so basically no body knows the solution to this problem ?

i.e. conclusion, Rust language  dont work.

[2019-07-24 05:49] Lokathor opened #62925 "integer method `wrapping_abs` should be made const"
The current `wrapping_abs` definition is

[code]

But for any integer type you can perform a branchless/const wrapping absolute with

[code]

This produces code that's only about as bad as the existing `wrapping_abs` at opt-level 0, and is identical at opt-level 2 or 3.

https://rust.godbolt.org/z/PTGeg2

So, I think that we should consider moving `wrapping_abs` to this formulation and making the

[2019-07-24 06:19] oli-obk commented on #57563
No, but once we allow trait bounds on the generic parameters of a function, and we allow you to call that without having a `const impl` for the trait, we lock in into that system and can't ever go back. This is all explained in the RFC and linked discussions. If it weren't a forward compat issue you'd have trait bounds already. The RFC was created because we've had this exact discussion a year ago

[2019-07-24 06:25] oli-obk commented on #62915
It does make sense. `Self::V2` is a function, is it not?

[2019-07-24 06:29] Centril commented on #62915
Oops! I forgot to apply the `V2` in the test I was writing up.
When you apply it, you correctly get a cycle error.

Sorry for the noise!

[2019-07-24 06:29] #62915 closed

[2019-07-24 06:31] Centril commented on #57563
👍 -- This issue is not for length discussion about a specific issue. If you want to discuss a topic in-depth, please create a new issue and link it here in a comment or use one of the existing linked issues at the top.

[2019-07-24 08:28] phil-opp commented on #56974
See also https://internals.rust-lang.org/t/pre-rfc-generator-resume-args/10011 for a Pre-RFC for generator resume arguments.

[2019-07-24 08:38] rkruppe commented on #62765
@RalfJung showed how to perform pointer arithmetic that crosses allocation boundaries. It's certainly possible to do this manually when handling raw pointers, but it's something that has to be done on every operation, you can't simply claim to LLVM that two separate allocations are actually the same. Therefore, fixing the safety issue that this issue is about would require us to implement all oper

[2019-07-24 09:23] mati865 commented on #62447
Errors like this often happen when rustbuild decides the target does not support dylibs (defaults to static crt).

From the x86 build log:
[code]
Try changing it to match the target, in this case: `i586-alpine-linux-musl`

If that doesn't work you can try with `RUSTFLAGS="-C target-feature=-crt-static"`. If that works then something went horribly wrong.

[2019-07-24 10:25] pravic opened #62929 "Documentation: remember the selected crate in search"
Right now it is allowed to select whether we want to search within all crates or in the specific ones (e.g. core, std, etc).

It would be really useful to remember the selected option, because in most cases we want to search in the std crate only.

cc @GuillaumeGomez

[2019-07-24 10:40] Cogitri commented on #62447
Hm, thought that too, but our triplets already disable crt-static by default: https://github.com/alpinelinux/aports/blob/d314157469eb1d0278f99d561e7ffcca22c92aa5/community/rust/alpine-target.patch#L45 :thinking:

Oh, didn't notice that, will try, thanks.

[2019-07-24 11:00] pravic commented on #34601
It would also be nice to add the list of keywords to the [main std page](https://doc.rust-lang.org/nightly/std/index.html), similar to the [modules](https://doc.rust-lang.org/nightly/std/index.html#modules) and [macros](https://doc.rust-lang.org/nightly/std/index.html#macros) sections.

Because right now is the only way to browse them is to open a documentation page and scroll down to the keywords

[2019-07-24 11:10] GuillaumeGomez commented on #34601
@pravic: it's there: https://doc.rust-lang.org/nightly/std/index.html#keywords, or did I misunderstood what you meant?

[2019-07-24 11:11] GuillaumeGomez commented on #62929
Good idea!

[2019-07-24 12:09] fenhl commented on #62896
@mati865 is there a guide I can use for this?

[2019-07-24 12:30] RalfJung opened #62931 "Allocation::bytes should be private"
The `bytes` field of an [`Allocation`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/mir/interpret/struct.Allocation.html) is a very subtle one -- the values in there often do not mean what one might intuitively think. First of all the doc comment should probably be improved, but secondly I think we need to make this field private. See https://github.com/rust-lang/rust/pull/62655#discussio

[2019-07-24 12:50] pravic commented on #34601
@GuillaumeGomez almost :)

I meant a link in the TOC on the left (the one below the "See all std's items" section).

[2019-07-24 13:04] GuillaumeGomez commented on #34601
Oh I see! Can you open an issue for this please? (and cc me on it)

[2019-07-24 13:04] lnicola commented on #39915
@almindor try `RUSTFLAGS='-C linker=rust-lld -L /usr/lib -L /usr/lib/gcc/x86_64-pc-linux-gnu/9.1.0'` or something similar. The path will depend on your distro and compiler version.

[2019-07-24 13:26] gnzlbg opened #62932 "libcore fails to compile for thumbv6m-none-eabi"
The libc crate cron job has started failing to build on master for the target `thumbv6m-none-eabi`. To reproduce:

[code]

errors with

[code]

libcore failing to build for the target is bad - that it prevents to build the libc crate for the target is a sideeffect of that.

[2019-07-24 13:40] gnzlbg opened #62933 "changes to master should be gated on tier-1 compilers building libcore correctly for the targets they support"
#62932 #62896 are regressions on tier-1 rustc `nightly-x86_64-unknown-linux-gnu` builds failing to build libcore for some of the targets that they are supposed to support cross-compiling to.

Changes to master should be gated on not introducing regressions here. Testing this is easy and takes very little CI time: once the toolchain has been build, just loop over all the targets that the rustc bina

[2019-07-24 13:54] LiyuCode opened #62934 "`mismatched types` error in Listing 2-4 of the book"
#### Env:
rustc 1.36.0 (a53f9df32 2019-07-03)
Windows 10 64 bits

#### Problem:
In the Listing 2-4 of https://doc.rust-lang.org/book/ch02-00-guessing-game-tutorial.html#comparing-the-guess-to-the-secret-number . It seems the guess is a `String` and secret_number is a `i32`, the code `guess.cmp(&secret_number)` trick `mismatched types` error.

#### Possible missing:
adding a sentence like the follo

[2019-07-24 14:02] gnzlbg commented on #62925
You can replace many `if` and `match` uses in `const fn` by just computing the result of all branches and blending them with the condition. For `wrapping_abs`, that would be:

[code]

I find it much simpler to follow that using the shifts and the mask, and the approach can be transferred to many other algorithms.

[2019-07-24 14:09] Centril commented on #62934
This issue should be filed at https://github.com/rust-lang/book/issues/.

@steveklabnik can you transfer it?

[2019-07-24 14:16] LiyuCode commented on #62934
my bad.
The error is solved in the later of the book

[2019-07-24 14:16] #62934 closed

[2019-07-24 14:19] matklad commented on #62865
Found a bug: [here](https://github.com/rust-lang/rust/blob/27a6a304e2baaabca88059753f020377f2476978/src/libsyntax/ext/expand.rs#L1257-L1260) we load doc comment via a file, without `translate_crlf` step.

[2019-07-24 14:25] pravic opened #62939 "Documentation: Add a link to the keywords list"
As per [this request](https://github.com/rust-lang/rust/issues/34601#issuecomment-514586053):

Add the following link (`/std/index.html#keywords`) next to the existing ones:

**See all std's items**
Re-exports
Primitive Types
Modules
Macros
[Keywords](https://doc.rust-lang.org/nightly/std/index.html#keywords) <-- this one.

cc @GuillaumeGomez

[2019-07-24 15:09] gnzlbg commented on #58564
I can't, libc build jobs have been broken since the LLVM upgrade. Once all issues are resolved I will be able to retest.

[2019-07-24 15:10] gnzlbg commented on #62841
This issue might be related to this one #62932

[2019-07-24 15:22] jonas-schievink commented on #62841
This is probably caused by https://github.com/llvm/llvm-project/commit/760df47b778a530e9368a4b8706940ba103d57ba

[2019-07-24 15:24] iluuu1994 commented on #62884
Well, 3 minutes would make me happy too. Do you guys get different results on Linux?

[2019-07-24 15:27] mati865 commented on #62896
@fenhl
[code]
and paste the output.

[2019-07-24 15:35] rivy commented on #62794
@ogham & @RalfJung , I think I've made the current testing a bit more robust in the face changing debug formatting between `rustc` versions (see <https://github.com/ogham/rust-ansi-term/pull/52>,  specifically <https://github.com/ogham/rust-ansi-term/pull/52/commits/bc76cd1af57b42de5ed0d46c7fd129d2597dcdf1>). All tests are passing on all platforms and `rustc` versions that I'm seeing. But it's obv

[2019-07-24 15:50] leo60228 opened #62940 "cargo doc --all does not document proc macro crates if target is explicitly specified"
If a target is explicitly specified on the command line, even if it is the same target as the host, then proc macro crates will not be documented by `cargo doc --all`. When a cargo configuration file is used to set a default target for cross-compliation, this can prevent documenting proc macro crates at all.

Minimal testcase: https://github.com/leo60228/minimal_testcase

[code]

[2019-07-24 15:51] RalfJung commented on #62794
I am still wondering what it is that you are trying to achieve here.

You do not have to write the `PartialEq` code yourself, you can use `#[derive(PartialEq)]`.

[2019-07-24 16:15] eddyb commented on #62931
Might also help to rename it to something like `unrelocated_bytes`.

[2019-07-24 16:21] cramertj commented on #56974
cc @cavedweller

[2019-07-24 16:37] RalfJung commented on #62931
`unrelocated_raw_maybe_initialized_bytes_dont_touch`

[2019-07-24 17:00] fenhl commented on #62896
[code]

[2019-07-24 17:05] alexcrichton commented on #55981
I'm going to de-nominate this because stabilization happens outside of triage meetings and happens when a libs team member feels confident enough to propose stabilization.

[2019-07-24 17:05] alexcrichton commented on #55422
I'm going to de-nominate this because stabilization happens outside of triage meetings and happens when a libs team member feels confident enough to propose stabilization.

[2019-07-24 17:06] gnzlbg commented on #62896
cc @nikic - suspicious that this was reported right after the llvm 9 upgrade

[2019-07-24 17:12] RalfJung commented on #55422
Re: the parallel with `MaybeUninit`; my thinking is actually that `read` should probably be renamed to `read_init` or `read_assume_init` or so, something that indicates that this may only be done *after* initialization is complete.

[2019-07-24 17:13] RalfJung commented on #53491
Similar to what @danielhenrymantilla wrote about `get_{ref,mut}`, I am beginning to think that  `read` should probably be renamed to `read_init` or `read_assume_init` or so, something that indicates that this may only be done after initialization is complete.

[2019-07-24 18:08] mati865 commented on #62884
Guide doesn't specify the CPU :smile:
[code]

<details>
<summary>Config</summary>

[code]

</details>

2700X on Linux
Modifying different crate or using more powerful CPU (like 3900X which is still considered as mainstream CPU) would beat 30s time.

[2019-07-24 18:23] lnicola opened #62945 "rust-gdb doesn't set up path substitutions?"
I'm trying to use `rust-gdb` on project generated by `cargo new` and looks like the `rust-src` source code path is not configured:

[code]

[2019-07-24 18:26] cuviper commented on #62924
Here are what the other collections call similar methods:

- `[T]` slices (and `Vec` via deref) have `first`/`first_mut` and `last`/`last_mut`.
- `VecDeque` and `LinkedList` have `front`/`front_mut` and `back`/`back_mut`.
- `BinaryHeap` has `peek` and `peek_mut`, i.e. only from the front.
- `HashMap` and `HashSet` are unordered, and have no such methods.
- `str` and `String` have no such methods.

[2019-07-24 18:27] lnicola commented on #39915
Is my comment above the right way to use LLD? I can't get it to work, as every program crashes with `SIGSEGV`:

[code]

[2019-07-24 18:28] cuviper commented on #62924
#59947 is related -- `Iterator::min`/`max` are even worse since they naively walk everything.

[2019-07-24 18:36] cuviper commented on #62933
Isn't that already tested by the fact that dist-* builders produce cross-compiled artifacts? I suppose that's only from an x86_64-linux host though, not all tier-1 hosts -- is this what you mean?

[2019-07-24 18:38] cuviper commented on #62933
I don't mean to discount the regressions you mention. I'm just pointing out that CI already does have some cross-compilation that would gate all branches. There may be some additional factor that affects those regressions differently, like the use of xargo.

[2019-07-24 18:39] mati865 commented on #62896
@fenhl `gdb` haven't detected failed thread. Could you try again with this?

[code]

[2019-07-24 18:43] max-sixty opened #62947 "Confusing Debug of chars"
Currently, the Debug of `Chars` prints the underlying bytes, rather than the chars:

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7b09ceeb511d2859dbf492b5f4c046f4)

[code]

Returns:

[code]

As I was trying to work out what `chars` was (whether it was unicode points or bytes or something else), the first output was v confusing - is there a reason we don

[2019-07-24 19:13] GuillaumeGomez commented on #62939
Thanks for opening the issue! I'll send the PR tomorrow (but if you want to do it, please go ahead 😃).

[2019-07-24 19:25] fenhl commented on #62896
[code]

[2019-07-24 19:27] Cogitri commented on #62447
Seems like neither of those things helped: https://cloud.drone.io/alpinelinux/aports/8847/4/1

Here's the build recipe: https://github.com/alpinelinux/aports/pull/9353/files

[2019-07-24 19:43] mati865 commented on #62447
Sorry but I have no idea. It fails in stage0 so maybe host compiler is not working properly. Does x86_64 work?

[2019-07-24 19:50] #21673 closed

[2019-07-24 19:50] #41030 closed

[2019-07-24 19:50] #62913 closed

[2019-07-24 19:54] tmandry opened #62952 "Copy trait defeats generator optimization"
The following example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8ce85f410c979987157e2a0518f065d2)):

[code]

Outputs:

[code]

The only difference between Foo and Bar is that Foo is Copy. This defeats the generator optimization implemented in #61922 which considers any local that has been _moved_ from as a candidate for overlap.

Technically, this is se

[2019-07-24 19:57] spastorino opened #62953 "Ungreat diagnostic error borrowed data escapes outside of function"
On an change I was implementing in the compiler I got the following error ...

[code]

I don't remember how the code looked like exactly but we can probably rebuild an example that shows this behavior.

More info https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/borrowed.20data.20escapes.20outside.20of.20function

[2019-07-24 20:25] nikic commented on #62932
I wasn't able to reproduce this based on your instructions. Though for me there is no attempt to even build core, it just builds libc.

[2019-07-24 20:27] iluuu1994 commented on #62884
I've just noticed that stage0 is executed again even with the `--keep-stage 1` option.

[code]

<details>
  <summary>Output</summary>
Updating only changed submodules
Submodules updated in 0.06 seconds
    Finished dev [unoptimized] target(s) in 0.13s
Building stage0 std artifacts (x86_64-apple-darwin -> x86_64-apple-darwin)
    Finished release [optimized] target(s) in 0.18s
Copying stage0 std fr

[2019-07-24 21:15] xurtis commented on #62918
Duplicate of rustasync/team#42

[2019-07-24 21:25] xurtis commented on #62918
There's also some additional [background discussion](https://internals.rust-lang.org/t/pre-rfc-generator-resume-args/10011/4) on the rust-internals discourse.

[2019-07-24 21:40] gnzlbg commented on #62932
Weird. The first thing `xargo` does is build a sysroot for the target, and the first step of doing that is building `libcore`.

[2019-07-24 21:42] gnzlbg commented on #62932
See the exact build failure in libc's CI which mentions the exact same `xargo` invocation and how the first thing `xargo` does is building libcore: https://travis-ci.com/rust-lang/libc/jobs/219031083#L5403

[2019-07-24 21:45] cramertj commented on #62918
Not sure if you were suggesting this, but I don't think we should be using other repo's issues to track changes to rustc.

[2019-07-24 21:48] gnzlbg commented on #62933
What I mean is that with a `nightly-x86_64-unknown-linux-gnu` rustc on a `x86_64-unknown-linux` HOST you can cross compile to dozens of targets, and for many targets the first step is building libcore for that target.

No, because cross-compiled artifacts are not produced by each HOST for all possible TARGETS that can be cross-compiled to from that host.

The dist builders that cross compile on th

[2019-07-24 22:00] xurtis commented on #62918
I mean, nor do I but that is where most of the existing discussion is. It may be worth closing the other thread to try and avoid splitting the discussion over two issues on separate repos.

[2019-07-24 22:12] nikic commented on #62933
rust-std is (afaik) not necessarily std, it can also just be core/alloc, and those are built for pretty much all targets, including the ones in the referenced issues. If you check the `dist-various-1` build logs, there's a `Building stage2 std artifacts (x86_64-unknown-linux-gnu -> thumbv6m-none-eabi)` at some point, which in that case will only build core/alloc, not std, and later dist that.

[2019-07-24 22:15] nikic commented on #62932
I suspect that it doesn't build libcore because it's already distributed by rustup (and removing the rustup target makes compilation fail with libcore not found). Maybe something needs to be done to force building of libcore even for a non-custom target?

[2019-07-24 22:24] gnzlbg commented on #62933
If that is the case, then I have no idea how those components have stopped to build.

[2019-07-24 22:33] iluuu1994 commented on #21204
One problem with this one is that the example from @Manishearth `"aa"_` is a lexer error. At that point the `allow` and `deny` attributes haven't been parsed. [This example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=84cab46c1a23e2910ee7d1e845db67c4) should compile fine but that would be hard to track in the lexer.

[2019-07-24 22:33] gnzlbg commented on #62932
I don't really follow. `xargo` and `cargo-xbuild` ignore anything distributed by rustup, except for the `rust-src` component, which include libcore sources, and as can be seen in the logs, the first thing they do is compiling the `core` crate, which fails with an LLVM error since the LLVM upgrade.

[2019-07-24 22:37] gnzlbg commented on #62932
AFAIK, we do not ship a rust-std component for this particular target.

[2019-07-24 22:47] 4teap opened #62958 "Async fn doubles argument size"
Generator optimization in #60187 by @tmandry reused generator locals, but arguments are still duplicated whenever used across yield points.

For example ([playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=af3e5e9233c45d6397c7b4b3e671f092)):

[code]

Expected: 8200
Actual: __16392__

When passing in futures, the future size can grow exponentially ([playground](h

[2019-07-24 22:54] iluuu1994 commented on #35851
Seems fixed, there's a test for it [here](https://github.com/rust-lang/rust/blob/master/src/test/ui/foreign-fn-return-lifetime.rs).

[2019-07-24 22:59] jonas-schievink commented on #62932
`thumbv6m-none-eabi` has a rust-std component that contains just libcore (it's the only target we ship that works on Cortex-M0 chips, so it's quite important for embedded)

[2019-07-24 23:11] Centril commented on #35851
Indeed it seems so; closing therefore.

[2019-07-24 23:11] #35851 closed

[2019-07-24 23:33] RalfJung commented on #62715
Closing in favor of https://github.com/rust-lang/rust/issues/62919.

[2019-07-24 23:33] #62715 closed

[2019-07-24 23:35] Osspial opened #62965 "Initializing struct fields with `MaybeUninit`"
The `MaybeUninit` docs have one weird, concerning section:

However, there seems to be a pretty clear, simple way to do that:

[code]

If you run that through MIRI, it doesn't complain, which strongly implies that the documentation is incorrect: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1862e046da3dbd485f83fd8ffa1ce4fd

So, is the documentation incorrect, or is MIRI i

[2019-07-24 23:36] solb commented on #62965
cc me

[2019-07-24 23:39] dwrensha commented on #62899
This looks like a dupe of #24183.

[2019-07-25 00:35] nasso commented on #62649
I just got the same error on my project, and I am able to reproduce it first building on a first commit and then immediately building again on the next commit.

I am going to try to make an MCVE but if anyone wants to try this right now, here's the repo and the relevant commits (of course anyone is allowed to use this to create an MCVE or fix the bug in some other way):
Repo: https://github.com/na

[2019-07-25 00:51] nasso commented on #62649
Okay I got it:

1. Create a new library crate (this way unused stuff doesn't get optimized out): `cargo new --lib test`
2. Create a public trait with a function named `foo`:
[code]
3. `cargo build`
4. Change the trait to a structure (keeping the same name), and the function to a field (with the same name too). I don't think the type matters but I haven't tried with different types:
[code]
5. `carg

[2019-07-25 01:39] ExpHP commented on #62947
The first one is UTF-8 bytes.  You see this because the `Debug` impl for `Chars` is auto-generated:

[code]

Strictly speaking, since the bytes inside of `Chars` should always be valid UTF-8, this could have a custom `Debug` impl that makes it pretend to contain a string by formatting the member as `str::from_utf8(self.iter.as_slice()).unwrap()`.

[2019-07-25 01:40] Centril commented on #62952
I thought that's what https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir/transform/copy_prop/index.html does?

cc @oli-obk

[2019-07-25 02:03] Centril commented on #62965
The assumption here that if Miri doesn't complain then there is no UB is not correct. Rust does not have a specification, but until the language team decides otherwise, the snippet above is UB even though Miri does  not complain and even though LLVM might not exploit it as UB. And even if we decide otherwise, Miri might still not complain as it is not necessarily a sound analysis.

The documentati

[2019-07-25 02:28] max-sixty commented on #62947
Do `str` & `String` contain more data than `Chars`? I had thought they both contained the underlying bytes and then these were decoded as needed - including as part of the `Display` & `Debug` implementations

[2019-07-25 03:08] nathanwhit commented on #62884
I believe that's the intended behavior. From [the rustc guide](https://rust-lang.github.io/rustc-guide/how-to-build-and-run.html):

The stage 0 artifacts being built in the output are being built _by_ the stage 0 compiler. The `keep-stage 1` flag means that the std lib compiled by the previous stage 1 rustc is copied over for the current build, not that you start at stage 1. The stage 1 compiler i

[2019-07-25 03:30] nixpulvis commented on #38347
@Emilgardis @brson update on Linux I believe I'm still seeing the issue with `lldb_rust_formatters.py`. On both nightly and beta I get the following message (example from nightly):

[code]
If I'm just missing a dependency I'm sorry for the noise, otherwise should I open a new issue in rustup?

[2019-07-25 03:50] thomcc commented on #62965
This is UB because writing the fields like that will trigger a drop of the uninitialized value that was present before: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=756bfd2040f8f50d9d8d0081ba1027f6

[2019-07-25 06:12] hellow554 commented on #62649
Can confirm the mcve above! 🎉

@rustbot modify labels: -E-needs-mcve +E-needs-bisection

[2019-07-25 06:55] hellow554 commented on #62649
<strike>Regression in nightly-2019-05-06 (looking for the exact commit)</strike>
regression in d65e721ef824becd76773368718701cd0db83e59

CC https://github.com/rust-lang/rust/pull/60525 @eddyb

@rustbot modify labels: -E-needs-bisection

[2019-07-25 07:00] hellow554 commented on #62965
@solb please use the "subscribe" button to the right, instead of writing a comment.

[2019-07-25 07:49] nnethercote commented on #62894
If I change the body of `visit_clobber` to this:
[code]
then the compiler aborts how you would expect.

I caught the panic in gdb (with `break rust_panic`). It is coming from [here](https://github.com/rust-lang/rust/blob/185b9acb66438894596f3c40d2ae4c6f7deeb8ab/src/libsyntax/ext/tt/macro_parser.rs#L927). Here's the stack trace:
[code]
So it seems like this is a "legitimate" panic from the parser t

[2019-07-25 08:11] matklad commented on #62894
@nnethercote I think there’s no magic trick here. Afaik the only safe way to do this is to mem::replace t with a dummy value, apply f, and swap the result back, but that requires that t *has* a dummy value. Does the code break if you add T: Default bound?

Also, when suggesting that change I was 80% sure that it’s pure pedantry because, clearly, we don’t panic anywhere :) I am fascinated by how co

[2019-07-25 08:41] fakenine commented on #60532
I think this can be marked as resolved now :tada:

[2019-07-25 08:42] pietroalbini opened #62967 "Spurious failures when downloading awscli from PyPI"
We recently started seeing multiple network failures while downloading awscli from PyPI:

* https://github.com/rust-lang/rust/pull/62960: [log 1](https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/4208/logs/707), [log 2](https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/4210/logs/722), [log 3](https://dev.azure.com/rust-lan

[2019-07-25 09:11] RalfJung commented on #62965
Indeed. To quote from the [Miri README](https://github.com/rust-lang/miri/):

That said, the code in the OP actually *is* not UB according to my understanding. However, as @thomcc pointed out, it only works for struct fields that do not have drop glue.

Still, non-drop-glue-types are a common case for FFI. So this might be worth mentioning in the docs?

[2019-07-25 09:27] Lokathor opened #62968 "Rustdoc doesn't explain (or can't) linking to slice methods"
Rustdoc documentation tells you link to an item with `[text](rust::path::to::item)`. You can even use paths appropriate to the current context to name an item, and so because `i32` and other primitives are always in scope you can point a link at `i32::abs` or whatever. However, you seemingly can't direct a link at a method of a slice because you can't name the slice primitive type.

This is maybe

[2019-07-25 10:00] #62919 closed

[2019-07-25 11:38] eddyb commented on #62649
You have to be kidding me. Just from #60525 causing a regression, we can tell that:
* `trait Something`'s method `foo`
* `struct Something`'s field `foo`

used to have different `DefPath`s but don't after that PR.

Now they're both `{type:Something}::{value:foo}`. But there should exist examples of `DefPath` collisions *before* #60525, I don't think I introduced the only ones that cause this bug.

[2019-07-25 11:45] eddyb commented on #62649
cc @Zoxc @michaelwoerister Any idea how matching `DefPath`s can cause an ICE? AFAIK you would still have the different HIR, which would result in the old query results being discarded.

[2019-07-25 12:24] ExpHP commented on #62947
No, they contain the same data.  They're all just UTF-8 bytes.  And the `Display` implementation of `str` simply writes the bytes contained in the `str` directly to the `io::Write` instance.

---

Suppose we are writing to STDOUT.  On UNIX, these bytes are written directly to the underlying file descriptor with no processing.

https://github.com/rust-lang/rust/blob/eedf6ce4ef54bb03818ab21d714f1b9f

[2019-07-25 12:32] cyphar opened #62972 "No way to extract flags arguments from unix::OpenOptionsExt"
At the moment, if I want to write an interface that uses `OpenOptions`, but doesn't use the `OpenOptions::open` interface it's simply not possible to implement. The short reason why this is needed is because I am [writing a library](https://github.com/openSUSE/libpathrs) that uses `libc::openat` (which needs the actual flag arguments).

Would it be possible to add something like `OpenOptionsExt::m

[2019-07-25 12:51] dwrensha opened #62973 "ICE on "byte index 1 is out of bounds of ``""
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):
[code]

(EDIT: the trailing newlines are important)

[code]

The error happens on stable, beta, and nightly.

[2019-07-25 13:48] nikomatsakis commented on #62932
@gnzlbg can you try to bisect the regression -- ideally to a specific PR? The https://github.com/rust-lang-nursery/cargo-bisect-rustc tool may be of use! I'm marking this as P-high so that we check in on it but it seems like it's not yet clear whether this is a compiler bug exactly or what.

[2019-07-25 13:49] nikomatsakis commented on #62896
Report from compiler-team pre-triage:

It seems like a good next step would be to bisect the regression to a specific nightly or (better) PR. The [cargo-bisect-rustc](https://github.com/rust-lang-nursery/cargo-bisect-rustc) tool may be of use here!

[2019-07-25 13:55] nikomatsakis commented on #62838
Checking in from the compiler team:

Is this a regression? I'm going to mark as P-medium as it seems to be "just an ICE" at this point.

[2019-07-25 13:55] nikomatsakis commented on #62838
Not to say we shouldn't fix it, mind you =) @NieDzejkob thanks for your efforts to minimize!

@sgrif are you still able to reproduce?

[2019-07-25 13:58] nikomatsakis commented on #62781
Update from compiler team triage:

I can't tell quite what's going on here. Is this a compiler bug or something to be fixed downstream? @nikic's comment suggests the latter -- @jamesmunns if that is true, can you close the issue?

[2019-07-25 13:58] nikomatsakis commented on #62781
Marking as P-high so we check up on this

[2019-07-25 14:00] nikomatsakis commented on #62767
Compiler team check-in:

I'm marking this as P-medium for now as it is not classified as a regression, although it seems like a fairly major problem. @petrochenkov appears to be on it, though.

[2019-07-25 14:00] nikomatsakis commented on #62767
Feel free to add the I-nominated label if you think it should be P-high

[2019-07-25 14:03] nikomatsakis commented on #62708
Compiler team triage:

Marking as medium for now but indicating "needs mentor". This is a fairly basic example, so it would be good to figure out why it doesn't work and get it working.

[2019-07-25 14:05] nikomatsakis commented on #62649
Compiler team triage:

Marking as P-high as this is some sort of regression. No assignee yet.

[2019-07-25 14:06] sgrif commented on #62838
I agree this is "just an ICE", and should be prioritized as such -- especially since the code to reproduce it would fail to compile anyway. I'm not sure what the first version where this occurs is.

I can still reproduce on the latest nightly. I get a more specific compiler error:

[2019-07-25 14:07] sgrif commented on #62838
I will note that I had to change that line to `Box<Expression>` to get it to compile once, then remove the `Box` to get the recursive version in order for the ICE to occur

[2019-07-25 14:20] nikomatsakis commented on #62785
Update from compiler-team:

Marking as high priority but the most obvious next step would be to bisect this and validate which PR caused the problem. The [cargo-bisect-rustc](https://github.com/rust-lang-nursery/cargo-bisect-rustc) tool could be very helpful here.

cc @varkor, since the commit cited above was from them, though it's not clear to me if that is the true cause

[2019-07-25 14:22] nikomatsakis commented on #62717
Update from compiler-team meeting:

Rating as P-high and assigning to @simonsapin as they have a pending PR (#62727).

[2019-07-25 14:24] TomCrypto commented on #62918
I'm running into this as well. You can work around it and get things working using a hack akin to this https://github.com/SunriseOS/core-futures-tls but it requires overriding libcore for every crate that needs `#![feature(async_await)]` which makes it difficult to do in library crates. TLS-free `async fn`s would be cool.

(I'm sure this workaround is well-known but just posting for future readers

[2019-07-25 14:47] max-sixty commented on #62947
OK, so given that - is there still an objection to displaying the unicode characters for `Chars` but not `String`?

[2019-07-25 14:53] JJia-Perl commented on #57391
I agree with @leoyvens.
NANO (or ONE_NANO) is more suitable for Duration constant. NANOSECOND is more suitable for enumeration TimeUnit (or ChronoUnit).

[2019-07-25 15:15] jamesmunns commented on #62781
So in general:

* This does to appear to be an expected change in LLVM9
* Current versions of widely (nearly universally) used crates that are fundamental for embedded systems (e.g. `cortex-m-rt`, which provides a linker script generation template, among other things) do not handle this change, and are broken by versions of rustc that include LLVM9
* We have submitted and landed a PR to `cortex-m-

[2019-07-25 15:28] gounthar commented on #62676
I have curl, but I have the same error.
Something else must be missing:
` sudo apt-get install curl
Reading package lists... Done
Building dependency tree
Reading state information... Done
curl is already the newest version (7.52.1-5+deb9u9).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
linaro@captation-techforum-rk3399-2GB:~/ffmpeg_sources/rust$ ./x.py build && ./x.py install
Up

[2019-07-25 15:30] jonas-schievink commented on #62781
To help out with this, it might help to backport the fix and publish 0.5.8, since 0.5.x is still used by quite a few crates.

[2019-07-25 15:44] shepmaster opened #62976 "Make references to GitHub issues in diagnostics consistent"
Some diagnostics include a link to GitHub issues. From the ui testsuite, I found at least these two patterns:

[code]

[code]

These should use the same format. My preference is for the latter:

/cc @varkor

[2019-07-25 15:48] shepmaster commented on #62976
General steps:

1. Do some initial review of the *.stderr files in `src/test/ui` and see how many distinct patterns there are. I'd say this requires some knowledge of command line text processing.

1. Identify the sources of each distinct pattern in the source code and unify them.

1. The tests will need to be [updated with the new diagnostics](https://rust-lang.github.io/rustc-guide/tests/adding.

[2019-07-25 16:26] DutchGhost commented on #52432
Now no longer ICE's on stable I've notices.

[2019-07-25 16:31] Mark-Simulacrum commented on #62973
cc @estebank

[2019-07-25 16:35] mark-i-m commented on #49146
Any new on this?

[2019-07-25 16:49] DoumanAsh commented on #34511
Do we have to keep `existential` keyword in language for this feature?

[2019-07-25 17:05] nikomatsakis commented on #62517
@cramertj it seems to fail on the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d604962a7db67155860fb7313aadc908)

[2019-07-25 17:06] gnzlbg commented on #62932
I think it would be helpful if somebody else can reproduce this issue first. Following the instructions that I posted in the OP, I can reproduce this both on a x86_64-unknown-linux-gnu and a x86_64-apple-darwin host, with the current nightly (rustc 1.38.0-nightly (03f19f7ff 2019-07-24)).

@nikic which host are you on ?

[2019-07-25 17:09] gnzlbg commented on #62932
@nikomatsakis PR wise we started seeing this right after https://github.com/rust-lang/rust/pull/62592 was merged. I'm afraid that on my home laptop compiling rustc twice to test will take me... days.

[2019-07-25 17:12] cramertj commented on #62517
Oh, literally with that code and using futures 0.1 `Stream`-- got it!

[2019-07-25 17:12] oli-obk commented on #49146
There is some discussion on https://rust-lang.zulipchat.com/#narrow/stream/146212-t-compiler.2Fconst-eval/topic/dataflow-based.20const.20qualification.20MVP

[2019-07-25 17:14] jonas-schievink commented on #62932
I also cannot reproduce on x86_64-unknown-linux-gnu using the instructions above.

[code]

[2019-07-25 17:14] nikic commented on #62932
@gnzlbg I was able to reproduce after doing a `rustup default nightly`. I'm not sure why that works while `xargo +nightly` doesn't. Now I get the LLVM error.

[2019-07-25 17:14] jonas-schievink commented on #62932
Ah, indeed! `rustup override add nightly` makes the error appear.

[2019-07-25 17:15] cramertj commented on #34511
@jethrogb Yes. The fact that it currently doesn't is a bug.

[2019-07-25 17:21] gnzlbg commented on #62932
So I do indeed have nightly as my default Rust toolchain, and on libc's CI this is the case as well for that build job. I'll report this to xargo upstream.

[2019-07-25 17:36] nathanwhit commented on #60876
I've done some work on this, and have a working draft ready for review. The PR is at #62984, feedback is appreciated!

[2019-07-25 17:51] estebank commented on #62767
[The assertion was added](https://github.com/rust-lang/rust/blob/eedf6ce4ef54bb03818ab21d714f1b9f13a6b31c/src/librustc_resolve/resolve_imports.rs#L932) late last year.

@petrochenkov could you take a look at this to see if it is valid for the invariant being checked not to hold in this case? If I comment out the `assert` the output is reasonable:

[code]

[2019-07-25 17:59] JohnTitor commented on #60229
Does #61506 make the second checkbox checked? @eddyb

[2019-07-25 18:02] estebank commented on #61788
I think the appropriate thing to do here would be to lint on `if let Irrefutable = foo {}`, which would have clarified things.

[2019-07-25 18:03] petrochenkov commented on #62767
I'll see what happens (that's why I self-assigned).
The assert is there to catch the cases that resolve logic assumes to be impossible.
It may work ok if the assert is removed, but it may also mean some deeper issues, this needs a more detailed look.

[2019-07-25 18:05] nikic commented on #62776
Closing this in favor of #62932, which is the same issue (not related to const generics).

[2019-07-25 18:05] #62776 closed

[2019-07-25 18:05] Centril commented on #61788
@estebank We already do. https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f95c48ce63d45bebaa45ca2cab5641fb

[2019-07-25 18:29] estebank commented on #62894
cc @petrochenkov re:macros/`parse_nt` being `panic`ky.

[2019-07-25 18:29] jethrogb commented on #34511
@cramertj Ok. Should I file a separate issue for that or is my post here enough?

[2019-07-25 18:37] nikic commented on #62932
There's a couple of places that can throw this error, the one we hit is https://github.com/llvm/llvm-project/blob/930df11a0d00c467b17c76f2b782a96bf721599b/llvm/lib/MC/MCStreamer.cpp#L354-L355.

The symbol in question is `.LJTI27_0`, a jump-table label.

[2019-07-25 18:39] joshtriplett commented on #62231
@Havvy There are many assumptions we might wish to document, but I don't think we should block documenting *one* thing that we know about on trying to document others.

I'm just proposing that we have a quick footnote somewhere saying that by specifying this behavior we assume that we can efficiently implement such behavior on all hardware we might want to run on.

[2019-07-25 18:39] oberien commented on #62767
The above error message without the `assert` looks a lot like #62768 and #62769 and all three might be solvable the same way.

[2019-07-25 18:58] joshtriplett commented on #62175
Is this something that would naturally vary between targets? Would specifying this break any existing or anticipated targets?

If the answer to both questions is "no", then I'm fine with specifying this. If we don't *currently* have consistent behavior on this point across all our existing targets, then I don't think the standard should precede the implementation here.

[2019-07-25 19:03] cuviper commented on #61978
The two biggest are `librustc.rlib` (85M) and `librustc_mir.rlib` (42M) -- are you sure those cannot be removed? I suppose nightly/unstable users may need those, but for stable ISTM we only need the artifacts from `x.py build libstd` and `libtest` (which includes the proc-macro shim).

[2019-07-25 19:16] nikic commented on #62932
Finally managed to get a reproducer (turns out this only crashes llc at `-O3`): https://gist.github.com/nikic/1fa40bc972e815f9606518c5b2218699

[2019-07-25 19:30] nikic commented on #62932
I've opened an LLVM bug at https://bugs.llvm.org/show_bug.cgi?id=42760.

[2019-07-25 19:31] joshtriplett commented on #62825
Rather than panicking at runtime, could we detect this at *compile-time*, and issue a compile-time warning about calling `mem::uninitialized` or `mem::zeroed` with a type of `&T` and similar?

[2019-07-25 19:35] estebank commented on #62973
I haven't been able to reproduce :-/

[2019-07-25 19:35] joshtriplett commented on #62825
Based on discussion in the lang team: we'd be fine with backing this out, but we *do* need a lint or similar mechanism to make sure people notice and fix code.

[2019-07-25 19:37] RalfJung commented on #62825
@joshtriplett

I assume you are responding to [this proposal](https://internals.rust-lang.org/t/make-mem-uninitialized-and-mem-zeroed-panic-for-some-types-where-0-is-a-niche/10605)?

For some cases yes, but not reliably in generic contexts.

[2019-07-25 19:38] estebank commented on #61788
But we do only after typechecking, and we don't if there are any errors before then. Quite a few lints have similar issues related to not happening early enough.

[2019-07-25 19:45] dwrensha commented on #62973
I may have made a copy/paste error or typo when writing up this issue.
I’ll take a another look later tonight when I’m in front of my computer.

On Thu, Jul 25, 2019 at 3:36 PM Esteban Kuber <notifications@github.com>
wrote:

[2019-07-25 19:48] nikomatsakis commented on #60424
Discussed in the rust-lang/lang meeting -- we decided this is, ultimately, not a *blocker* but we ought to "try real hard" to fix it.

[2019-07-25 19:52] cramertj commented on #34511
Filing an issue would be great, thanks! :)

[2019-07-25 19:59] dwrensha commented on #62973
Ah, it requires some trailing newlines. This should do it:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=70eae36c693cb46e59b7db1badb8bf79

On Thu, Jul 25, 2019 at 3:44 PM David Renshaw <dwrenshaw@gmail.com> wrote:

[2019-07-25 20:10] GuillaumeGomez opened #62986 "rustdoc source code page should provide more things"
For examples:

 * [ ] Interactions with types (adding a popup when we hover one to give information like the doc page)
 * [ ] Collapsing blocks
 * [ ] ...

[2019-07-25 20:14] SimonSapin commented on #52976
The goal of using standard library containers with different allocators, including non-zero-size handles, is part of an accepted RFC that precedes the new transparency guarantee being proposed here: https://rust-lang.github.io/rfcs/1398-kinds-of-allocators.html#what-about-standard-library-containers

Ideally we would have *`Box<T, A>` is `repr(transparent)` if and only if `A` is zero-size*, but as

[2019-07-25 20:18] Centril commented on #61788
@estebank How do you know that the pattern is irrefutable before match checking in HAIR?

[2019-07-25 20:22] gnzlbg commented on #52976
@SimonSapin

This PR solves that: https://github.com/rust-lang/rust/pull/62514

Once we stabilize Box<T, A> we just need to clarify that that only holds if A is zero-sized, and that's pretty much it.

We plan to submit an RFC to guarantee this for all types btw as part of the UCGs RFC. There is a PR in the UCG repo with proposed wording for that as well: https://github.com/rust-lang/unsafe-code-gu

[2019-07-25 20:38] jethrogb opened #62988 "Existential types have issues with lifetimes"
[code]

[code]

cc @cramertj

(original report at https://github.com/rust-lang/rust/issues/34511#issuecomment-511534500)

@rustbot modify labels: A-impl-trait C-bug

[2019-07-25 20:55] BO41 commented on #60876
@Centril Would you mind giving a short explanation? I am curious :smiley:

[2019-07-25 21:07] Centril commented on #60876
@BO41 What sort of explanation? We felt positive about this lint since it removes something which sometimes happens and which is a mistake, iirc. We don't want to lint on `return x;` since that is commonly accepted as OK/good style.

[2019-07-25 21:26] imbrem commented on #60229
@JohnTitor that was certainly my intention haha

[2019-07-25 21:30] fenhl commented on #62896
I'm going to need some help with that because it just said “regression in nightly-2019-07-25” which is obviously wrong. Doing some further testing, it seems the segfault doesn't occur every time `cargo check --release` is run:

[code]

[2019-07-25 21:32] ExpHP opened #62992 "slice methods could be added to the array docs"
(I'm surprised I couldn't find an issue for this!)

The documentation page for the [primitive array type](https://doc.rust-lang.org/std/primitive.array.html) ideally should include the methods defined on slices. (see e.g. [this report of confusion](https://users.rust-lang.org/t/array-lengths-cant-depend-on-generic-parameters-with-const-generics-bug-or-expected-behavior/30579/36) on the forum)

Thi

[2019-07-25 21:39] pedantic79 opened #62993 "Boolean optimization no longer works"
I'm unsure if this is a bug or not. The following code used to perform just as well as if there were no `let` statements. However, sometime since last year, that has changed.

[code]

Starting with rust 1.33, all the modulos are always computed. While in 1.32, it would stop processing if the year was not divisible by 4. Using compiler explorer, I was able to find when `is_leap_year` assembly outpu

[2019-07-25 21:56] iluuu1994 commented on #38885
What's the reasoning behind a type like `struct Foo(!)`?

The warning comes from the expanded macro:

[code]

[2019-07-25 22:13] norcalli commented on #48784
@sfackler @withoutboats I came across this again and read through the comments to find nothing blocking stabilization other than your votes which have been absent for 9 months. It would seem prudent to comment before it is further forgotten.

[2019-07-25 22:19] iluuu1994 commented on #45092
E0044 has been reworded in https://github.com/rust-lang/rust/pull/48138.

[code]

This can be closed.

[2019-07-25 22:26] estebank commented on #61788
You can't, but you can write the lint in such a way that it triggers regardless. We're getting to typechecking, we should be able to detect irrefutability by then. It just can't use the standard linting machinery (like a few other lints already do to avoid being silenced by accident).

[2019-07-25 23:31] punitkoura commented on #62976
@shepmaster I'd like to take this up. Seems like a good first contribution to Rust.
Do we have an ETA for this?

[2019-07-25 23:40] shepmaster commented on #62976
@punitkoura that’s wonderful! ❤️

I don’t think there’s any rush; it was mostly a minor annoyance I had when maintaining the playground.

[2019-07-26 00:09] joshtriplett commented on #62825
On July 25, 2019 12:38:13 PM PDT, Ralf Jung <notifications@github.com> wrote:

Doesn't have to be perfect. If we can detect common cases like `&T` and function types, that would help people know they need to migrate.

[2019-07-26 00:12] petrochenkov commented on #61097
The tidy check is implemented in https://github.com/rust-lang/rust/pull/62996.

[2019-07-26 00:27] sailfish009 commented on #61561
@mati865 Technically correct, but rust is compiled fine with gcc 8.3 version.
only problem with gcc 9.x, may be rust need to be modified with gcc 9.x syntax.

[2019-07-26 01:29] nnethercote commented on #62894
Yes. Unfortunately, lots of the involved types lack a `Default` bound, and adding one doesn't make sense.

@eddyb wants the commit that introduced `visit_clobber` to be reverted anyway. Perhaps that's the best path forward, even though it'll be a perf hit.

If I'd stuck with the original code that didn't handle panics it would have been a double-free without warning. One of those "`unsafe` is tric

[2019-07-26 01:30] nnethercote commented on #62894
Or we just accept the current behaviour, because it's a benign abort on a very obscure case, and `panictry!` is being phased out anyway...

[2019-07-26 01:34] estebank commented on #62894
What's the plan post-`panictry!`?

[2019-07-26 01:36] estebank commented on #62986
Code navigation when clicking on local bindings or fields.

[2019-07-26 02:18] #49048 closed

[2019-07-26 02:18] #62686 closed

[2019-07-26 02:18] #44113 closed

[2019-07-26 02:18] #58072 closed

[2019-07-26 02:18] #62881 closed

[2019-07-26 02:18] #62895 closed

[2019-07-26 02:18] #40471 closed

[2019-07-26 02:18] #51046 closed

[2019-07-26 02:18] #51559 closed

[2019-07-26 02:18] #62843 closed

[2019-07-26 02:18] rust-highfive opened #62998 "`miri` no longer builds after rust-lang/rust#62990"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#62990, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nomi

[2019-07-26 03:08] Aaron1011 commented on #62517
Minimized:

[code]

[2019-07-26 04:22] glandium opened #62999 "rustc should "ellipsis" very long lines when printing warnings"
STR on macOS:
- Clone https://github.com/RustAudio/coreaudio-sys
- Checkout commit 13a32d718647b9e5be1defdef8197958cfda31fa
- Edit Cargo.toml to update the bindgen dependency from 0.42 to 0.49.
- `cargo build`
- Admire the 200MB of warnings scrolling in your terminal for ~800 actual lines of output.

The longest line is 1.4MB. On a 80-columns terminal that's > 17K lines of terminal output just for

[2019-07-26 05:24] solb commented on #62965
@thomcc Agreed, but wouldn't writing the struct member using `std::ptr::write()` or the pointer type's `write()` method be safe?

[2019-07-26 05:44] punitkoura commented on #62976
I did an initial pass finding the different types of patterns of referencing Github issues. I was able to find 8 different types as follows -

[code]

[2019-07-26 05:45] punitkoura commented on #62976
Will focus now on identifying the sources of these patterns in the source code.

[2019-07-26 05:52] #45092 closed

[2019-07-26 06:53] RalfJung commented on #62965
@solb no, [unfortunately not](https://github.com/rust-lang/rfcs/pull/2582). To create a raw pointer you have to write `&mut foo.field`, and at that moment you caused UB because producing a reference to something that is not a valid value of the given type is UB. Whether this should be or not is [being discussed here](https://github.com/rust-lang/unsafe-code-guidelines/issues/77), but until we made

[2019-07-26 07:00] taiki-e opened #63003 "Lifetime elision rules in `self` types"
This issue tracking lifetime elision rules in `self` types.

Here are test cases of elision rules introduced in #61207: https://github.com/rust-lang/rust/blob/d79d13f9e6ca05f2002446addfbd68e63e419cc1/src/test/ui/self/elision/README.md
This rule has already been applied in Rust 1.36 (see #62209).

[2019-07-26 07:00] taiki-e commented on #63003
@rustbot modify labels: T-lang

[2019-07-26 07:43] JohnTitor commented on #55265
This is no longer reproduced via the above playground link. We added similar tests in #61666, should we also add tests for this?

[2019-07-26 08:09] gnzlbg commented on #62896
@fenhl can you manually test if the nightlies before the one from 2019-07-21 also have this issue ? Nailing the first nightly with this problem would be very helpful.

[2019-07-26 08:12] GuillaumeGomez commented on #62986
@estebank: I don't understand what you mean. Could you describe what you have in mind a bit more please?

[2019-07-26 08:26] RalfJung commented on #62825
Agreed. I think we can do something that traverses the type as far as we see it, and complains when it finds a reference, `fn`, `NonNull` or `NonZero*`.

We should probably stop looking when encountering an enum, or else we'd have to figure out which variant would be picked by the all-0 bit pattern and then look at the fields of that.

[2019-07-26 09:32] Tomcc commented on #37101
3 years later, [the gap between fastlink and full link has increased even further](https://devblogs.microsoft.com/cppblog/improved-linker-fundamentals-in-visual-studio-2019/).
When I googled "rust fastlink" I didn't expect to find a 3 year old issue with 0 comments, hopefully something can be done about that :P

[2019-07-26 10:18] p-avital commented on #55724
Hello, just wondering if there's any stable alternative to `Layout::array<T>(n)` to allocate arrays manually right now ? This feature is the only block for me to switch my build to stable :(

[2019-07-26 10:23] djc commented on #55437
What's the holdup for moving this towards stabilization? Still waiting for a lang team member to write the stabilization report? Is there a template that a non-team member could follow to assist with this work?

[2019-07-26 10:25] danielhenrymantilla commented on #59229
Using `read_until` is nice, although the suggested implementation is not sound, in @DevQps case, and may crop a non-null byte in @Shnatsel case; indeed, `read_until` may read contents without reaching the expected byte (when EOF is reached).

Here is a fixed (and performant) implementation:

[code]

[2019-07-26 10:49] RalfJung commented on #55160
I agree with the OP that encoding the "kind" of type in the URL seems suboptimal. Rust has three namespaces (macro-level, fn/variable-level, type-level), so that needs to be encoded, but I see no good reason to encode more. `type.ManuallyDrophtml` has all the information needed to uniquely identify this type.

As another argument for why the current URLs are bad: this is one of the few cases where

[2019-07-26 10:50] RalfJung opened #63005 "rustdoc: Searching for path (including a `::`) does not work"
Say I want to find the docs for `Vec::new`, so I search for that. What I get is [this](https://doc.rust-lang.org/nightly/std/?search=Vec%3A%3Anew): almost all of these results are entirely irrelevant.

rustdoc search should understand enough about Rust syntax to handle `::` appropriately.

[2019-07-26 10:52] mateon1 opened #63006 "Iterator::skip is not zero-cost in some cases (badly optimized by LLVM)"
See https://rust.godbolt.org/z/DkMgKv for full, commented source and the generated assembly.

---

rustc doesn't optimize the iterator `buffer.windows(size).skip(1)` well.
You can very easily outperform the Rust compiler by writing an imperative loop with a boolean flag whether the current element is the first.

Consider the function:
[code]
The intent of this function is to iterate over `order`-s

[2019-07-26 10:56] hellow554 commented on #63005
IIRC this used to work at some time :/

[2019-07-26 11:08] Dylan-DPC commented on #43561
@mikeyhew unfortunately that PR was inactive so we closed it. So if you are still interested, you can implement it.

[2019-07-26 11:35] pietroalbini commented on #62967
Opened a PR to add more debug information: https://github.com/rust-lang/rust/pull/63007

[2019-07-26 11:53] iluuu1994 commented on #60876
@Centril I think this issue is only talking about duplicate semicolons. `return x;;` should warn but `return x;` shouldn't. This also shouldn't:

[code]

[2019-07-26 12:03] Wizr commented on #41078
Maybe similar issue [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8476f2c0c40b8eff69e88922cf8f7e42)

[code]

[2019-07-26 12:50] CryZe commented on #63005
Looks like this is a regression in 1.36:
Here it still works: https://doc.rust-lang.org/1.35.0/std/?search=Vec%3A%3Anew
Here it doesn't: https://doc.rust-lang.org/1.36.0/std/?search=Vec%3A%3Anew

[2019-07-26 12:58] dwrensha commented on #62894
Just in case it's useful: here is a variation that causes (what I assume is) the same abort with only the `assert_eq!` macro:
[code]

[2019-07-26 13:14] RalfJung commented on #63005
Well, it works better. It still shows lots of junk even for prior versions.

I mean, when I search for `from_raw_parts` it also does not show every method that contains the word "from". So searching `Vew::new` should not show every method called `new`.

[2019-07-26 13:25] Alxandr commented on #49359
I'd also love to see improvements in this. Also, currently there seems to be bug in the json output: https://github.com/johnterickson/cargo2junit/pull/9

[2019-07-26 14:29] petrochenkov commented on #62768
This is more or less a duplicate of https://github.com/rust-lang/rust/issues/62769, the root cause (https://github.com/rust-lang/rust/issues/62769#issuecomment-512619439) is the same.

[2019-07-26 14:33] alexcrichton opened #63010 "Tracking issue for `fs::Metadata` extensions on Windows based on handle information"
This is a tracking issue for APIs added in https://github.com/rust-lang/rust/pull/62980, namely the following Windows-specific APIs:

[code]

The motivation of these accessors are that the standard library learns about them in its call to `GetFileInformationByHandle` but doesn't expose it from the standard library, which means consumers that want to learn this either need to reimplement the pieces

[2019-07-26 14:58] Centril commented on #55437
@djc Niko is on vacation and generally busy so he hasn't had time to write up the report yet. If you want to help out with that, there's inspiration to find in https://github.com/rust-lang/rust/pull/61682#issuecomment-502472847 (which is my most recent and elaborate report hitherto), https://github.com/rust-lang/rust/pull/61347#issuecomment-497533585, and https://github.com/rust-lang/rust/pull/571

[2019-07-26 15:06] SimonSapin commented on #55724
The alternative is `Layout::from_size_align(size_of::<T>().checked_mul(n)?, align_of::<T>())?`

[2019-07-26 16:05] ehuss opened #63012 "Tracking issue for -Z binary-dep-depinfo"
This is a tracking issue for `-Z binary-dep-depinfo` added in #61727.
The cargo side is implemented in https://github.com/rust-lang/cargo/pull/7137.

I think the only blocker is dealing with canonicalized paths on Windows. The dep-info file includes a mix of dos-style and extended-length (`\\?\`) paths, and I think we want to use only one style (whatever is compatible with make and other tools). S

[2019-07-26 16:17] eupn commented on #62976
@shepmaster please take a look at #63008 PR. @punitkoura, thanks for a list of patterns, you might take a look as well.

[2019-07-26 17:23] ollie27 opened #63016 "rustdoc silently fails parsing some doctests when using a playground URL"
For example running `rustdoc --markdown-playground-url=https://play.rust-lang.org/ foo.md` on:

[code]

results in a 0 byte file and no error messages but a none zero exit code. It should succeed. This has the same root cause as #59313 and #59557 but it only occurs when using a playground URL.

[2019-07-26 17:24] estebank commented on #62986
[code]

Clicking on `foo` inside of `main` would take you to the `fn` definition for `foo`, clicking on `y` in `x.y` would take you to and highlight the appropriate field in the struct `S`.

[2019-07-26 18:14] bjorn3 opened #63018 "SIGSEGV during compilation of extern x86-interrupt fn with u128 param"
[code]

I suspect LLVM being the culprit.

[2019-07-26 18:42] bjorn3 commented on #34123
New repro:

[code]

[2019-07-26 19:01] fenhl commented on #62896
Looks like the issue first appears on nightly-2019-07-18 (bc2e84ca0 2019-07-17). On nightly-2019-07-17, the command ran successfully 100 times.

[2019-07-26 19:02] amcajal opened #63019 "Missing documentation folder in armv7-unknown-linux-gnueabihf installer (both standalone and using rustup)"
Tried in Linux raspberrypi 4.4.9-v7 Friday, May 6 2016, armv7l GNU/Linux.  All the steps described below were executed in 23th or July, 2019.

While following the installation guide (ref001, at the bottom of this report), and once Rust is sucessfully installed in the system (stable version, 1.36.0; compiling with rustc works, etc), the following command fails:
`rustup doc`

A quick look at <home_d

[2019-07-26 19:10] nlewycky opened #63020 "rustc_args_required_const on parameter not treated as constant in argument"
This implementation of wasm32's v8x16.shuffle intrinsic does not build (add to stdarch/crates/core_arch/src/wasm32/simd128.rs):

[code]

with the error `error[E0526]: shuffle indices are not constant`. I expected that `rustc_args_required_const(2)` would be sufficient to make the argument to `simd_shuffle16` const. It looks like this is supposed to happen in `src/librustc_mir/transform/qualify_con

[2019-07-26 19:31] TrionProg opened #63021 "Strange Arc::ptr_eq behaviour (duplicate vtables?)"
Hello. This issue is simmilar to https://github.com/rust-lang/rust/issues/48795 and https://github.com/rust-lang/rust/issues/46139 but have more strange behaviour and suggestion.

The problem is located when we clone `Arc` to `Arc<Trait>` in one function, return `Arc` and then clone `Arc` to `Arc<Trait>` in "parent" function, but `Arc::ptr_eq` says, that `Arc<Trait>`(called function) != `Arc<Trait

[2019-07-26 19:31] Karrq commented on #22565
[Still ICEs](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018), even with a simple standing function.

Doesn't error when not calling the function.
Should `E0183` be emitted?

[2019-07-26 19:39] GuillaumeGomez commented on #62986
Oh right! I can't affirm with 100% confidence that'd be possible with current information we have in the front *but* I'll add it to the items list.

[2019-07-26 19:44] sfackler commented on #63021
vtables are not unique. There can be, for example, a duplicate vtables in each codegen unit that needs one.

[2019-07-26 20:22] estebank commented on #22565
No, it should have a dedicated error where the ICE is being emitted pointing at the definition saying "this `fn` must take a single tuple as an argument" and replace the argument being evaluated with `TyErr`.

[2019-07-26 20:30] Karrq commented on #22565
I meant emit the error (or the ICE) when using `cargo build` and not just `cargo run`, sorry.

[2019-07-26 20:41] tspiteri opened #63023 "On i686 release builds, Valgrind reports depending on uninitialized values"
For the following *main.rs*
[code]

On i686 GNU/Linux, for a release build, Valgrind reports “Conditional jump or move depends on uninitialised value(s)”.

I couldn’t reproduce the issue on debug builds or on x86_64.

[code]

[2019-07-26 20:42] #62831 closed

[2019-07-26 20:42] #62811 closed

[2019-07-26 20:42] #61811 closed

[2019-07-26 20:42] #54062 closed

[2019-07-26 20:42] rust-highfive opened #63024 "`miri` no longer builds after rust-lang/rust#63015"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63015, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nomin

[2019-07-26 20:44] LukasKalbertodt commented on #38885
Mainly some strange type level things. Adding a `!` field makes sure that the struct is never created and thus only used at type level. There are some uses.

So to solve this one could simply add an `#[allow(unreachable_code)]` attribute to the method, right? **Do you think this solution is OK?** Or shouldn't that be done for some reason?

If that solution is acceptable, I could prepare a PR I gue

[2019-07-26 20:50] RalfJung commented on #63024
Miri-side fix: https://github.com/rust-lang/miri/pull/860

[2019-07-26 21:07] iluuu1994 commented on #38885
I honestly don't understand enough about the `never` type. Why is it useful for `Foo` to implement `Debug` when it can never be instantiated? Is it something like this?

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c06cdaff756d196380f250ec163105c6

But then why not just use `never`?

I'm new to `rustc` so probably not the person to answer this. It could theoretically hi

[2019-07-26 21:11] Centril commented on #63021
Note also that the layout of trait objects is not specified.

[2019-07-26 21:14] LukasKalbertodt commented on #38885
Yeah, of course that's kinda strange. But you already provided a nice example! Generics is where you just want to derive `Debug` and it's fine if the `Debug` impl for your type instantiated with `!` is never called.

I discovered this issue because I have a `#![deny(missing_debug_implementations)]` in my crate and tried to slap a `#[derive(Debug)]` on my `Foo` instead of `#[allow(missing_debug_imp

[2019-07-26 21:14] Centril commented on #62967
https://github.com/rust-lang/rust/pull/63025#issuecomment-515599989

[2019-07-26 21:19] nikic commented on #59077
Reopening until there is confirmation that this is fixed...

[2019-07-26 21:19] nikic commented on #62841
Reopening until there is confirmation that this is fixed...

[2019-07-26 21:24] Centril commented on #62967
https://github.com/rust-lang/rust/pull/63025#issuecomment-515603500

[2019-07-26 21:24] nikic commented on #63018
Assertion failure:
[code]

Trace excerpt:
[code]

[2019-07-26 21:25] iluuu1994 commented on #38885
Well, stupid English language, wasn't sure if "you" means "you" singular or "you" plural 😄

There's some discussion on whether `never` types should be convertible to all types (https://github.com/rust-lang/rfcs/issues/2619). Apparently there are some concerns but this would make the `#[derive(Debug)]` unnecessary. The error is technically correct as the generated code can never be executed.

Eithe

[2019-07-26 21:29] nikic commented on #63018
Minimal IR reproducer:
[code]

I'm not familiar with this calling convention, but would suspect that having an i128 argument just doesn't make sense for it and rustc may be the party responsible for preventing it. Maybe @phil-opp may comment?

[2019-07-26 21:39] iluuu1994 commented on #52790
The changes need to be made in [`parse_item_implementation`](https://github.com/rust-lang/rust/blob/1a563362865e6051d4c350544131228e8eff5138/src/libsyntax/parse/parser.rs#L7075). These are all the `fn` modifiers currently accepted by the parser:

[code]

These are all the other things parsed in `parse_item_implementation`:

[code]

Not sure how we should proceed. We could move the parsing of the m

[2019-07-26 22:19] alexreg commented on #60532
Yep!

[2019-07-26 22:19] #60532 closed

[2019-07-26 22:25] cr1901 commented on #59077
@nikic Thank you for your work. There is still a bit more work to be done to get msp430 compiling again. The fix is involved/breaking, and @pftbest and I (mainly me) will not be able to fix this until the week of August 11th.

[2019-07-26 22:28] Diggsey commented on #63021
Seems odd to ever use the vtable pointer as part of a comparison then...

[2019-07-26 22:31] ExpHP commented on #62972
From the point of view of a consumer of crates, I'd actually be surprised to see a crate take `std::fs::OpenOptions` as an argument for its own API; I'd expect them to invent their own types.  As an instance of the Builder pattern, `std::fs::OpenOptions` is not so much a data structure as it is a glorified function with optional/named arguments.

(I'm not saying that this is necessarily a bad idea

[2019-07-26 22:47] mati865 commented on #62896
So we have the winner: https://github.com/rust-lang/rust/pull/62592

[2019-07-26 22:48] khernyo opened #63026 "ICE: local variable without a name"
The following code causes an internal compiler error on 1.37.0-beta.6 and 1.38.0-nightly. On stable it's a simple error, though the message could be improved (#63027).

[code]

([Playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=7995a9dba0cccb204349d7b269b22aea))

Output of `rustup run nightly rustc --crate-type lib lib.rs`:

[code]

`rustup run beta rustc --version

[2019-07-26 22:50] tspiteri commented on #63023
After adding debug symbols to the release build
[code]

the output is

[code]

[2019-07-26 22:54] khernyo opened #63027 "Error message referring to non-existent variable: "cannot return value referencing local variable `__next`""
Compiling the following code on stable result in an error message which is referring to a non-existent variable `__next`

[code]

The error message:

[code]

`rustc --version --verbose`:
[code]

[2019-07-26 23:32] Centril commented on #62967
https://github.com/rust-lang/rust/pull/63028#issuecomment-515628170

[2019-07-26 23:55] alexreg commented on #34511
I think the intention is to immediately deprecate this when the type-alias-impl-trait feature is implemented (i.e., put in a lint) and eventually remove it from the syntax.

[2019-07-27 00:15] gnzlbg commented on #62896
The most suspicious winner. We should  give a “bravest dev of the quarter”
award to whoever updates the LLVM version. Alex would often get this award,
but this time it would be @nikic and i’d Bet Alex would love to not have to
do this kind of thing and instead only work on the wasm stuff that interest
them. Or maybe we should have an LLVM working group whose job is to
regularly keep rustc followin

[2019-07-27 01:02] estebank commented on #63027
The correct error should be

[code]

[2019-07-27 01:12] estebank commented on #63026
Dumped HIR:

[code]

Error on it:

[code]

The error once fixed should be closer to

[code]

[2019-07-27 01:36] alexreg opened #63031 "ICE typechecking closure object with bound lifetime"
I don't think this was previously submitted as an issue, though it was mentioned on the [Rust Internals forum](https://users.rust-lang.org/t/generic-closure-arguments-and-hrtbs/13185/5).

[code]

This crashes both on stable and latest nightly.

[code]

[**Playground**](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4e5f020fab2c606cbfb0a19d6c7f7b3a)

[2019-07-27 01:37] cyphar commented on #62972
Ah okay, maybe I'm not quite familiar enough with what is considered "idiomatic" in Rust API design. The point of view I have from Go and C is that you would want to re-use existing structures (in Go, almost everyone re-uses `os.FileMode` and similar types) so users know what's going on just by looking at the signature -- but if that is not actually the case then we can close this.

[2019-07-27 02:07] samsartor commented on #62581
I'm on it!

[2019-07-27 03:05] sfackler opened #63032 "Lifetime is unnecessarily captured in nested functions returning impl trait via async"
When trying to create some futures that do a bit of work up-front to avoid borrowing some inputs, I ran into this strange issue where it seems like an input lifetime is being unnecessarily captured by the returned impl trait even though the value isn't:

[code]

[code]

It also seems really weird that this only happens with 2 layers of "nesting" - `start` compiles just fine, but `query` doesn't ev

[2019-07-27 03:10] tmandry commented on #60450
Since NLL on 2015 has now landed, what should the timeline look like for transitioning this to a hard error?

[2019-07-27 03:14] #61687 closed

[2019-07-27 03:14] #61804 closed

[2019-07-27 03:23] tmandry commented on #54987
How should we handle yielding from a generator while a local variable is partially initialized? e.g.

[code]

I'd prefer that this wasn't allowed when generators stabilize. It would simplify some layout code and potentially enable more optimizations. It's possible we decide to allow it eventually, but I'd rather not be locked into that decision from the start.

Note that I'm fine with allowing thi

[2019-07-27 03:50] jhpratt commented on #61405
Right now I'm creating a temporary variable solely to satisfy the compiler. It's not even possible within an anonymous block, and that bit I don't fully understand.

I'd think it's possible for the compiler to perform the suggested action internally (and silently), but I'm also not familiar with the exact details of rustc. Is this not the case?

[2019-07-27 03:54] dtolnay opened #63033 "Async fn does not compile if lifetime does not appear in bounds (sometimes)"
[code]

This fails with:

[code]

I believe this should compile because:

1. The non-async function with the same signature does compile;

[code]

2. Seemingly insignificant tweaks, like adding a wrapper struct, make it compile.

[code]

Mentioning @cramertj who fixed a similar error message in #59001.
Mentioning @nikomatsakis who touched this error message in #49041 and #61775.

*rustc 1.38.0-nig

[2019-07-27 08:36] basdebue opened #63037 "rustdoc shows anonymous elided lifetimes in async fn signature"
When run on an `async fn` with elided lifetimes, `rustdoc` generates documentation containing the anonymous elided lifetimes in the function's signature. Running `rustdoc` on the blocking variant of the same function produces a correct signature.

You can reproduce this issue by generating docs for the following code:
[code]

The asynchronous function's docs show the elided lifetimes, the blocking

[2019-07-27 10:27] bjorn3 commented on #56122
Fixed in https://github.com/rust-lang/rust/pull/56198.

[2019-07-27 11:13] petrochenkov commented on #62967
https://github.com/rust-lang/rust/pull/62550#issuecomment-515670491

[2019-07-27 12:13] Undin opened #63039 "Builtin macro pattern separator"
Since #62243 builtin macros use `,` as a separator between different patterns. Although, all other macros use `;` instead.
Is it intended change?
This change breaks parser in IntelliJ Rust plugin. Should we adjust our parser or it should be fixed from stdlib side?

[2019-07-27 12:13] Undin commented on #63039
@petrochenkov

[2019-07-27 12:30] petrochenkov commented on #63039
The comma is not specific to built-in macros, but rather to unstable `macro` macros in general (which are currently used to define built-in macros).

So, it's reasonable for IntelliJ to adjust its parser if it wants to support unstable code.

[2019-07-27 12:32] petrochenkov commented on #63039
(Note that the comma itself is pretty questionable, so it's likely that it will be changed into something else, for example no separator at all, once `macro` macros are closer to stabilization.)

[2019-07-27 12:44] bjorn3 opened #63040 "Invalid suggestion when returning struct with lifetime param missing"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8e98596fa4a1d144fa7c8061697cbcb1))

Errors:

[code]

[2019-07-27 13:19] Undin commented on #63039
@petrochenkov Thanks for quick reply!
Then we will adjust our parser

[2019-07-27 13:19] #63039 closed

[2019-07-27 13:52] GuillaumeGomez opened #63042 "[docs] auto impl trait should be sorted"
That'd make tests more accurate.

[2019-07-27 13:57] rkruppe commented on #62231
When you put it like that it seems kind of tautological. I stand by not really caring one way or another but may I suggest reconsidering what the note is intended to achieve specifically?

[2019-07-27 15:42] therealprof opened #63044 "Formatter not capable of generating underscores in long number literals"
When using the `quote` crate or otherwise generating Rust code (like we do in `svd2rust`) it would be immensely helpful if there was a way to `format!` long number literals in a way that `clippy` wouldn't throw an https://rust-lang.github.io/rust-clippy/master/index.html#unreadable_literal back at us when linting the code but isn't.

[2019-07-27 15:50] Centril commented on #60450
@tmandry If you can separate this from the other NLL error-downgrades I would welcome making it a hard error right away. Otherwise you'll have to wait for all the NLL error-downgrades to be removed.

[2019-07-27 16:02] #60229 closed

[2019-07-27 16:02] oli-obk commented on #60229
Yea this looks resolved to me

[2019-07-27 16:21] czipperz commented on #42327
PR #62606 to document implementing `try_fold` for iterators should be reopened once this becomes stable.

[2019-07-27 16:41] ColinPitrat opened #63046 ""Variable is assigned to, but never used" with += operator"
Tested on both rust 1.36 and 1.38 (nightly):
$ rustc -V
rustc 1.36.0 (a53f9df32 2019-07-03)
$ rustc +nightly -V
rustc 1.38.0-nightly (c43753f91 2019-07-26)

The following code:

[code]

Produces the following warning:

[code]

Which is incorrect. The value assigned, 0.0 is obviously used as the code is effectively the following (which doesn't produce a warning):

[code]

[2019-07-27 17:04] sfackler commented on #63021
The documentation for ptr::eq covers why vtable pointers are incorporated in one of the examples: https://doc.rust-lang.org/std/ptr/fn.eq.html.

[2019-07-27 17:33] svartalf opened #63047 "-Zprofile and -Clink-dead-code enabled leads to the linking error on macOS"
I'm integrating [grcov](https://github.com/mozilla/grcov) and have macOS build failures with a linkage error while both `-Zprofile` and `-Clink-dead-code` flags enabled.

Consider a cargo project with the following manifest:
[code]

and the `src/main.rs` file:
[code]

Plain `cargo run` successfully compiles and run the binary (no additional env vars set):

[code]

Now, as described in the `gcov` [

[2019-07-27 19:27] #61863 closed

[2019-07-27 19:28] #62189 closed

[2019-07-27 19:28] #61963 closed

[2019-07-27 20:00] BO41 commented on #63046
I am not sure if I understand you correctly. But this warning _is_ correct.
You are assigning to `error`, but you never actually do anything with the value.

This should throw the same error, but it doesn't
[code]
That's the actual bug

[2019-07-27 20:51] ColinPitrat commented on #63046
Indeed, I confused the warning for another, the following doesn't raise the warning:

[code]

I guess detecting the second one is harder. I'll close this issue, I'll let you reopen if you think the "actual bug" should be fixed.

[2019-07-27 20:51] #63046 closed

[2019-07-27 21:08] BO41 opened #63054 ""Variable is assigned to, but never used" not thrown"
[code]
This ([playground](https://play.integer32.com/?version=stable&mode=debug&edition=2018&gist=58536d969b9dce47854128a31f47454b)) correctly throws the warning 'variable `error` is assigned to, but never used'.

But _this_ ([playground](https://play.integer32.com/?version=stable&mode=debug&edition=2018&gist=89507f1543cedcc9b452ad430eab5ca8)) **doesn't**
[code]

[in 1.36, beta, nightly; 2015,2018

[2019-07-27 21:19] BO41 commented on #63046
What do you mean with that?

[code]
you can't omit the `= 0;`, if you mean this.

[2019-07-27 22:44] pheki commented on #20267
I'm working on this! Can I be assigned?

[2019-07-28 01:07] Majkl578 commented on #62841
Hi @nikic, with the recent ´*1.38.0-nightly (c43753f91 2019-07-26)* both local toolchain / cargo and the cross-compiled binary seem to work. 👌

[2019-07-28 01:19] scottmcm commented on #63006
One of the two bounds-checks disappears using internal iteration:
[code]

`<Windows as Iterator>::nth` is overloaded, which is the usual way to get `skip` to work well, but maybe there's a cleaner way to implement it.

[2019-07-28 01:31] kuldeepdhaka opened #63058 "Simple software design pattern not possible"
[code]

https://gist.github.com/d6a57779fcd431ce6eacbabdce46c0fa
https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=d6a57779fcd431ce6eacbabdce46c0fa

[code]

[2019-07-28 01:38] realSmushyTaco opened #63060 "ANSI mode text breakage on Windows PowerShell"
1.) In the "Type here to search" box search "Registry Editor" and open the Registry Editor app (If it asks if you want to allow the app to make changes to your device choose "Yes").

2.) Click the drop down arrow for "HKEY_CURRENT_USER" and select the folder named "Console".

3.) In the box where it says "Name", "Type", and "Data" look for the name "VirtualTerminalLevel" (Under "Name" of course).

[2019-07-28 01:51] nagisa commented on #63054
`error += i` is equivalent to `AddAssign::add_assign(&mut error, 1)`, and passing in a reference of local variable as an argument to a method counts as using it.

Closing as not-a-bug.

[2019-07-28 01:52] nagisa commented on #63060
Extremely unlikely to be a Rust bug. Does this work the way you expect with *equivalent* code written in other languages.

[2019-07-28 01:55] scottmcm commented on #60876
@BO41 well, `rustfmt` puts semicolons after `return` expressions, so it wouldn't be nice to tell people to remove something only for rustfmt to put it back again 🙂

[2019-07-28 02:42] BartMassey commented on #56331
Current documentation still has evidence of this bug: see e.g. `Ref` in https://doc.rust-lang.org/std/cell/struct.Ref.html

[2019-07-28 02:47] realSmushyTaco commented on #63060
#include <iostream>

int main()
{
    std::cout << "Hello World!\t\t\tHow's life?";
}

You're right, This C++ code has the exact same issue.

[2019-07-28 02:47] #63060 closed

[2019-07-28 04:56] #52675 closed

[2019-07-28 04:57] #36150 closed

[2019-07-28 04:57] #61218 closed

[2019-07-28 04:57] #62967 closed

[2019-07-28 06:01] jhpratt commented on #48594
@Centril What's holding this up? From the original post, it looks like it's just documentation and a stabilization PR. Is there anything more than that?

[2019-07-28 06:12] Centril opened #63063 "Tracking issue for RFC 2515, "Permit impl Trait in type aliases""
This is a tracking issue for the RFC "Permit impl Trait in type aliases" (rust-lang/rfcs#2515) under the feature gate `#![feature(impl_trait_type_aliases)]`.

**Steps:**

- [ ] Implement the RFC (cc @alexreg @varkor)
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-guide][stabilization-guide])

[stabilization-guide]: https

[2019-07-28 06:35] alvinhochun opened #63064 "dead_code lint highlights too much on functions with multi-line signatures"
With the following example code:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4324b40a5ff41a984e1e6dd7a04f1753))

The compiler produces these warnings:

[code]

Notice that for `fn unused` and `fn unused2`, `dead_code` is reported on only the first line signature of the function, however for `fn unused3` `dead_code` is reported on the whole functi

[2019-07-28 06:36] Centril opened #63065 "Tracking issue for `impl Trait` in `const` and `static` items and `let` bindings"
As provided for by rust-lang/rfcs#2071, this is a tracking issue for `impl Trait` in:
- `const` items
- `static` items
- `let` bindings

**Steps:**

- [x] Implement the RFC
   - There are bugs...
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-guide][stabilization-guide])

[stabilization-guide]: https://rust-lang.github.i

[2019-07-28 06:38] Centril opened #63066 "Meta tracking issue for `impl Trait`"
This issue tracks the progress of `impl Trait` in general.

This issue is not for discussion about specific extensions to `impl Trait` and only exists to provide links to other places that track the progress of specific issues. If you wish to discuss some subject related to `impl Trait`, please find an existing appropriate issue below or create an new issue and comment here with a link to the newl

[2019-07-28 06:40] Centril commented on #34511
Closing this in favor of a meta-issue which tracks `impl Trait` more generally: https://github.com/rust-lang/rust/issues/63066

[2019-07-28 06:40] #34511 closed

[2019-07-28 06:41] Centril commented on #44686
New tracking issue: https://github.com/rust-lang/rust/issues/63065

[2019-07-28 06:56] JohnTitor commented on #63024
Could we resolve this by updating Miri?

[2019-07-28 07:01] s3bk commented on #63058
This is not a bug.
The Item passed to rename is aliased via self and i. (& and &mut). This is strictly forbidden.

[2019-07-28 07:19] pythonesque commented on #60715
Okay, seeing this issue has convinced me that we really need to push for either opt-in Copy, or Copy for UnsafeCell, or the CopyOwn thing.  Because we cannot just wait and expect people not tor rely on people abusing the number of things Copy excludes for other purposes than declaring things to be (implicitly) byte-copyable.  People already abuse it for making sure a type has a no-op Drop impl, wh

[2019-07-28 07:23] Centril commented on #48594
@jhpratt Please read the discussion in the issue.

[2019-07-28 07:43] pythonesque commented on #25053
I'm guessing we need an RFC to add the ability to `unsafe impl Copy` for types that fulfill all the requirements?  Or add `CopyOwn`?  Given the potential to abuse `Copy`'s guarantee not to include an `UnsafeCell`, and the fact that people seem very reluctant to make `UnsafeCell` itself `Copy` where `T` is (for understandable reasons, given that it is conflated with "also make the copy implicit" in

[2019-07-28 07:52] Centril opened #63068 "Tracking issue for RFC 2574, "SIMD vectors in FFI""
This is a tracking issue for the RFC "SIMD vectors in FFI" (rust-lang/rfcs#2574).
The feature gate is `#![feature(simd_ffi)]`.

**Steps:**

- [ ] Implement the RFC (cc @rkruppe @gnzlbg); WIP in https://github.com/rust-lang/rust/pull/59238.
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-guide][stabilization-guide])

[stab

[2019-07-28 07:58] catastrop opened #63069 "become fully self-hosted when releasing 2.0"

[2019-07-28 07:58] catastrop opened #63070 "write a self hosted compiler"

[2019-07-28 07:59] Centril commented on #63070
Elaborate?

[2019-07-28 07:59] #63069 closed

[2019-07-28 08:02] #63058 closed

[2019-07-28 08:02] catastrop commented on #63069
@Centril , why closed ?

[2019-07-28 08:05] Centril commented on #63069
@catastrop When you file issues please elaborate in them, otherwise it's just noise.

[2019-07-28 08:07] catastrop commented on #63070
remove LLVM and replace it with tools written in rust.

[2019-07-28 08:13] nikic commented on #63070
https://github.com/rust-lang/rust/issues?q=is%3Aissue+author%3Acatastrop+is%3Aclosed

Please do not open the same issue again and again. You already opened three other issues on this topic.

[2019-07-28 08:13] #63070 closed

[2019-07-28 08:16] RalfJung commented on #63024
Right now, no, because [something broke Miri on macOS](https://travis-ci.com/rust-lang/miri/jobs/220221687) and I am not sure what.

[2019-07-28 08:18] RalfJung commented on #25053
I do not recall any, but there also was not a ton of discussion.

[2019-07-28 08:19] catastrop commented on #63070
........ i am not using rust

[2019-07-28 08:21] jonas-schievink commented on #63054
Not sure I understand, that seems like it would explain the opposite of the actual behavior

[2019-07-28 08:25] jonas-schievink commented on #62841
Great, closing as fixed

[2019-07-28 08:25] #62841 closed

[2019-07-28 08:55] windelbouwman opened #63073 "New trait for types which can report memory usage"
Hi all,

In the course of implementing the sizeof operator in rustpython, we stumbled upon a feature we possibly lack: the ability to request the true memory usage of a struct. Meaning, the memory usage of the struct itself, as reported by `std::mem::size_of` and friends, but also the size of the dynamically allocated heap structures, such as `Vec`.

Our current approach is to dive into the inner

[2019-07-28 09:25] JohnTitor commented on #63024
Hmm, [the build passes](https://travis-ci.com/rust-lang/miri/builds/120968710) now?

[2019-07-28 09:25] jakubadamw commented on #63064
I've seen this as well.

It's been years since I hacked on the compiler, so I'll claim this as a bug to fix so as to refresh my memory of what's where. :)

[2019-07-28 09:29] RalfJung commented on #25860
Cc https://crates.io/crates/fake-static

[2019-07-28 09:30] BO41 commented on #63054
I am sorry @nagisa , but this doesn't make sense to me.
`+= i` and `error + i` are equal. And Clippy suggests changing the one to the other.
So how can one be an unused variable and one not?

In both examples, `error` does not need to exist and only makes the code "ugly" and gives the compiler work to optimize (if the compiler is even optimizing such things).

---

And as @jonas-schievink said, ac

[2019-07-28 09:40] BO41 commented on #60876
Thanks @Centril and @scottmcm for the explanation.
I think we got a bit confused, as @iluuu1994 described.

This issue is about multiple semicolons. Not a single after `return`.
So _I_ think

is not really what this is about. As `return;;` is wrong. And `continue;;;;;;;;;` too.
But I agree suggesting from `break;` to `break` is bad.

[2019-07-28 09:54] RalfJung commented on #63024
Breakage is likely caused by https://github.com/rust-lang/rust/pull/62982.

[2019-07-28 10:00] ishitatsuyuki commented on #63073
This idea doesn’t seem new: there are several implementation but not for serious use.

- [syn’s procedural macro example](https://github.com/dtolnay/syn/blob/master/examples/heapsize/README.md)
- [Servo’s crate (and a link to the implementation that is actually used in Servo)](https://github.com/servo/heapsize)

[2019-07-28 10:05] windelbouwman commented on #63073
Hi @ishitatsuyuki ,

Thank you for your reply! It's good to know that the idea is not new.

So the question might be: does this type of trait belong in the standard library under the `std::mem` or `std::alloc` namespace?

[2019-07-28 10:24] ishitatsuyuki commented on #63073
My opinion is that this functionality does not belong to std. Rust std only include additional functionality when there are well-known needs and a consensus on API (basically what the RFC process demands).

[2019-07-28 11:04] RalfJung commented on #63024
Submitted fix: https://github.com/rust-lang/rust/pull/63076

[2019-07-28 11:20] Mark-Simulacrum commented on #62389
@craterbot run name=beta-1.37-6 start=1.36.0 end=beta-2019-07-23 mode=build-and-test cap-lints=warn p=10

[2019-07-28 11:43] mibac138 opened #63078 "E0277 should put emphasis on containing function's return type"
I got the following error today:
[code]
I was confused for a minute as I misinterpreted what the error was saying. I double-checked that `reqwest::get` does indeed return a `Result` but a moment later I realized that it's the function that's containing `reqwest::get` I should be looking at which indeed did return `()` after which I fixed the issue.

I believe this error message could be somehow im

[2019-07-28 11:56] crlf0710 opened #63080 "Rustdoc should index "Methods from Deref" in search results"
Rustdoc should index "Methods from Deref" in search results, and mark them somehow. So people be able to find something like `Vec::last` during search.

[2019-07-28 12:46] mooli commented on #55724
I think there might be a bug in the implementation of `repeat()` when it comes to overaligned `Layout`s. It currently computes the padded size and then multiples that by the repeat count. However, this arguably over-pads, since the last array element does not need to be padded.

[2019-07-28 12:51] #63026 closed

[2019-07-28 12:51] #50900 closed

[2019-07-28 13:02] nagisa commented on #63054
Ah, my bad, didn’t read the report closely enough.

Only their behaviour is for that particular type are equal. Clippy is a list of heuristic lints has nas nothing to do with language’s semantics.

[2019-07-28 13:06] jonas-schievink commented on #63054
I believe the lint firing here is correct. The last iteration of the loop assigns to `error`, but nothing uses that assigned value afterwards.

[2019-07-28 13:22] Cogitri commented on #62447
Yup, x86_64 has been working for some releases now :/

[2019-07-28 14:46] phil-opp commented on #63018
Yes, I think that's correct. The `x86-interrupt` calling convention requires a specific function signature since it is directly called by the hardware. The first argument must be a pointer and the optional second argument must me an integer. See the proposal at http://lists.llvm.org/pipermail/cfe-dev/2015-September/045171.html for details. So the problem is that `i128` is not a pointer, which I th

[2019-07-28 14:55] czipperz commented on #53167
What's the status of this?

[2019-07-28 14:59] mkadziolka opened #63082 "Confusing error message when matching on an unnecessarily-unwrapped value"
Consider this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c083e7005433f0e7b29d10d8f2fe4725)):

[code]

This looks like perfectly reasonable code, but upon further inspection, you can see an `.unwrap()` as a leftover from refactoring. However, Rust chooses a quite confusing way of pointing this out:

[code]

As far as I am aware, there is no way to so

[2019-07-28 15:13] jonas-schievink commented on #63082
Using `from_str::<Result<_, ()>>` compiles

[2019-07-28 15:19] alexreg commented on #63063
@varkor See my comment about the PR for this in the other thread, and let me know if you'd like me to take up your existing PR and finish it off maybe. :-)

[2019-07-28 16:28] jonas-schievink commented on #63019
I think we intentionally don't build docs for the non-tier-1 targets to save on CI time, but I could be wrong.

[2019-07-28 16:35] oli-obk opened #63084 "Tracking issue for `const fn` `type_name`"
This is a tracking issue for making and stabilizing `type_name` as `const fn`. It is not clear whether this is sound. Needs some T-lang discussion probably, too.

Steps needed:

* [ ] Implementation (essentially add `const` and `#[rustc_const_unstable(feature = "const_type_name")` to the function and add tests showing that it works at compile-time.
* [ ] Stabilization
	* Note that stabilization is

[2019-07-28 16:36] jonas-schievink commented on #63023
@tspiteri any reason to assume this is not a false positive? They usually are.

[2019-07-28 16:43] RalfJung opened #63085 "Reevaluate Miri engine alignment checks"
Two PRs will likely land soon that change the way the Miri engine does alignment checks: https://github.com/rust-lang/rust/pull/63079 and https://github.com/rust-lang/rust/pull/63075.

The former entirely disables alignment checks for CTFE (when the Miri engine is used as part of compilation). The latter moves the checking of "access validity" of a pointer (non-dangling and aligned) to the moment

[2019-07-28 16:44] RalfJung commented on #63084
Can the output change between compiling a library crate, and a binary crate using that library? Or only when switching rustc versions?

[2019-07-28 16:58] oli-obk commented on #63084
No, we're using global paths now.

Yes, there needs to be a change in rustc that causes a change in output.

[2019-07-28 17:00] Thomasdezeeuw commented on #55981
Anything I can do to advance the stabilisation?

[2019-07-28 17:09] Aaron1011 commented on #62879
This appears to be due to the fact that we always create an empty substs for an `AnonConst`. We could either try to parse the body of the `AnonConst` to determine which generic parameters are actually used (in this case, `N`), or just use all of the available generic parameters (regardless of which actually get used).

I'm not sure which approach would be correct.

[2019-07-28 17:11] jonas-schievink commented on #55981
@Thomasdezeeuw Apparently https://github.com/rust-lang/rust/pull/61797 is now nominated, so the libs team should discuss it soon

[2019-07-28 17:29] tspiteri commented on #63023
I was already kinda suspecting they were false positives, but wasn't aware they usually are so I opened the issue.

[2019-07-28 17:35] jonas-schievink commented on #63023
This looks very similar to https://github.com/rust-lang/rust/issues/5856, so closing in favor of that, unless something indicates this is different.

[2019-07-28 17:35] #63023 closed

[2019-07-28 17:35] RalfJung commented on #29864
So is the current status that we have both `#[feature(overlapping_marker_traits)]` which applies to any trait with no items, and `#[marker]`?

Based on https://github.com/rust-lang/rust/issues/29864#issuecomment-409398581, it seems like consensus is that `overlapping_marker_traits` shouldn't happen without opt-in from the trait, and indeed with https://github.com/taiki-e/pin-project/pull/18 we now

[2019-07-28 17:40] Mark-Simulacrum commented on #63019
That's correct. IIRC, last time I looked at this it was possible to download the linux docs through rustup so that would be my recommendation. Closing as won't fix.

[2019-07-28 17:40] #63019 closed

[2019-07-28 17:40] jonas-schievink commented on #61479
Closing this as fixed.

[2019-07-28 17:40] #61479 closed

[2019-07-28 17:40] Thomasdezeeuw commented on #55981
@jonas-schievink I missed that, thanks.

[2019-07-28 17:44] crlf0710 commented on #56112
Now that we're using Azure Pipelines, i guess this can be closed now?  @kennytm @Centril

[2019-07-28 17:52] Centril commented on #56112
Indeed this issue seems moot. :)

[2019-07-28 17:52] #56112 closed

[2019-07-28 18:05] crlf0710 commented on #48827
@kennytm Maybe this is also outdated after the migration to azure pipelines.

[2019-07-28 18:17] #58993 closed

[2019-07-28 18:18] Mark-Simulacrum commented on #62617
Removing T-compiler and nominating for T-lang -- I think we should close this; the ungated syntax landed a long time ago and we're pretty good these days about ensuring that we check grammar early enough that this isn't a problem (as @petrochenkov notes).

[2019-07-28 18:19] crlf0710 commented on #40921
I think this issue is outdated, maybe we can just close it. @oli-obk @Manishearth

[2019-07-28 18:22] Mark-Simulacrum commented on #58234
Reviewing this since then, I think it may be worth removing these APIs and replacing them with something like `AsRef<OsString> for PathBuf` and `AsMut`. These aren't really commonly used so hiding them as such seems reasonable and is less heavy.

[2019-07-28 18:23] Mark-Simulacrum commented on #36233
Closing. We have the new self-profile infrastructure which more or less makes this no longer necessary.

[2019-07-28 18:23] #36233 closed

[2019-07-28 18:37] Centril commented on #62254
The syntax change in https://github.com/rust-lang/rfcs/pull/2707 was implemented on the 2019-07-28 in https://github.com/rust-lang/rust/pull/62550 (author: @Centril, reviewer: @petrochenkov).

What remains now is:

- [ ] Adding more tests for the syntax.

- [ ] Verifying the semantics in terms of type checking and making changes as needed.

Before / during stabilization, we must also:

- [ ] Organ

[2019-07-28 18:43] gilescope commented on #57151
In my case it was caused by #63016.

[2019-07-28 18:47] #40921 closed

[2019-07-28 19:09] dtolnay commented on #57919
Fixed in 1.36.0.

[2019-07-28 19:09] #57919 closed

[2019-07-28 19:39] Aaron1011 commented on #60564
This no longer causes an ICE on the latest nightly.

[2019-07-28 19:41] Aaron1011 commented on #54899
This compiles successfully on the latest nightly.

[2019-07-28 19:41] Aaron1011 commented on #53678
This no longer ICEs on the latest nightly.

[2019-07-28 19:42] Aaron1011 commented on #60407
This no longer ICEs on the latest nightly.

[2019-07-28 19:55] jakubadamw opened #63091 "Invalid span when emitting a diagnostic note on the top-level module"
While I was investigating a fix for #63064, I noticed one problematic error case, where, as it turns out, the compiler emits a broken span.

[code]

This is the error I'm getting with the nightly:

[code]

The second span should extend to the whole top-level module but instead terminates at the first `{`. This is due to how `SourceMap::def_span()` is defined:

https://github.com/rust-lang/rust/blo

[2019-07-28 19:56] oli-obk commented on #53678
I'm assuming this (and https://github.com/rust-lang/rust/issues/54899, https://github.com/rust-lang/rust/issues/60564, https://github.com/rust-lang/rust/issues/60407) were fixed by https://github.com/rust-lang/rust/pull/62423 ?

If so, we could close all four by adding their failing examples as regression tests (if there aren't already such tests).

[2019-07-28 19:57] jakubadamw commented on #63091
@eddyb, there's a relevant-looking `FIXME` with your name in that file:
https://github.com/rust-lang/rust/blob/master/src/librustc/ty/query/plumbing.rs#L900-L909

Would you have an idea on a good fix for this? Seemed like an easy one for me at first but then I noticed that it would involve meddling with this plumbing.

[2019-07-28 19:59] varkor commented on #63063
@alexreg: thanks for the offer — I'll try to get a PR open this week, but if I turn out not to have enough time, I may pass it on to you :)

[2019-07-28 20:31] Centril commented on #53678
I would prefer to have redundant tests here rather than under-testing so some bit of duplication is fine imo.

Also cc @varkor @alexreg -- we should add these tests before we change the syntax ideally.

[2019-07-28 21:46] TankhouseAle commented on #63084
I might take a look at this. (I implemented the support for _using_ `type_name` inside of `const fn`s, if you don't remember me, haha.)

[2019-07-28 23:12] power-fungus commented on #60564
It does not fail indeed. However, I have no idea what the error message is trying to tell me. Can you verify that this is indeed the intended error message?

[2019-07-29 00:08] #61238 closed

[2019-07-29 00:09] #62973 closed

[2019-07-29 00:13] Centril commented on #62539
Fixed in https://github.com/rust-lang/rust/pull/62871.

[2019-07-29 00:13] #62539 closed

[2019-07-29 00:16] c410-f3r commented on #62426
#61856 has been merged

[2019-07-29 00:19] Centril commented on #60406
#61238 was fixed on the 2019-07-29 in https://github.com/rust-lang/rust/pull/61856. The PR was written by @c410-f3r and reviewed by @matthewjasper, @petrochenkov, and @oli-obk.

The RFC is now fully implemented.

Setting the earliest date for a stabilization report to 6 weeks from now which is on 2019-09-09.

[2019-07-29 00:28] c410-f3r commented on #60406
@Centril Which type of additional documentation is necessary to tick `Adjust documentation`? #62683 has been merged.

[2019-07-29 00:39] estebank commented on #63064
There's a method `def_span` that explicitly looks for the next `{` token. If the resulting span is a single line, it uses that, otherwise it uses the full span under the assumption that the multiline span would look weird:

[code]

With that, most of the places where we are calling `def_span` could be changed so that they get the `Ident` for the function and use its span instead (we used not to en

[2019-07-29 00:45] Centril commented on #60406
This primarily refers to the https://github.com/rust-lang-nursery/reference/ which can be shortly fixed after stabilization. In this case it should be straightforward to fix I think.

[2019-07-29 02:01] Aaron1011 commented on #53598
This no longer produces an ICE on the latest nightly.

[2019-07-29 02:38] ayosec commented on #47809
I'm sorry for the delay. I couldn't have time to work on this until now =\

I have completed the step 0 described in https://github.com/rust-lang/rust/issues/47809#issuecomment-443538059 . The progress is available in [my branch](https://github.com/rust-lang/rust/compare/master...ayosec:rfc2091), though I guess that I will have to wait until the pull-request is open to know is everything is OK.

A

[2019-07-29 02:51] Arnavion commented on #53598
Yes, it was fixed by #62090

[2019-07-29 03:21] ngolin opened #63097 "`type S = Option<Box<S>>;` should compile"
It seems a compiler bug to me. I tried this code:
[code]
I expected it could compile, but instead:
[code]

However, the equivalent code as following compiles fine:
[code]

[2019-07-29 04:36] MaulingMonkey commented on #56660
Not yet.  Current state of things:
* It's listed under "Proposals we might consider in the future" here: https://github.com/WebAssembly/design/blob/master/FutureFeatures.md#source-maps-integration
* There's an open pull request / discussion here dating back to May 2017: https://github.com/WebAssembly/design/pull/1051
* FireFox has support for WebAssembly referencing source maps.

I made a brief at

[2019-07-29 05:03] josephlr commented on #62516
Given that RHEL is the only reason we keep comically old kernel versions around, I would propose that Rust only support RHEL until Maintenance Support ends. This is (essentially) what we already did for RHEL 4. Rust never supported RHEL 4, and [set its minimum supported Linux Kernel version](https://github.com/rust-lang/rust/commit/b5334b3c0d4ec51713d0aff1a95c4e79b6770f11) back when RHEL 5 still h

[2019-07-29 05:09] lzutao commented on #62516
cc @cuviper which I think they could be related.

[2019-07-29 05:32] hellow554 commented on #63097
Why do you think it should be possible? What is the difference to `type S = S`? This is a cycle, do you agree? So, `type S = Option<S>` is a cycle as well? And the same goes for `type S = Option<Box<S>>`. All of these three examples are cycles.

Why does `enum S { T(Box<S>) }` works? Because it is an indirection. Box isn't the same size as `S`, but it is "a pointer" to S. If you go to the playgrou

[2019-07-29 05:35] newpavlov commented on #62516
It also may be worth to drop support of Windows XP and Vista (especially considering that panics are broken on XP since June 2016, see: #34538). Previously it was discussed [here](https://internals.rust-lang.org/t/8745).

[2019-07-29 05:37] briansmith commented on #62516
Besides `O_CLOEXEC`, which other things would we be able to clean up?

[2019-07-29 05:54] meggarr commented on #45742
Hi, & may I have a question here about the blanket impl,
[code]
It is implementing `impl AsRef<U> for &T`, then what is the type of `self` in `fn as_ref(&self) -> &U`? My understanding is `self: &&T`, is this correct?

[2019-07-29 06:10] oli-obk commented on #60564
That's curious indeed. The type parameter `E` is passed to the existential type, not sure what's going on. Can you try minimizing the test?

[2019-07-29 06:14] reitermarkus opened #63098 "`f64::round` produces Illegal Instruction on `arm-unknown-linux-gnueabihf`"
I am cross-compiling for a Raspberry Pi Zero W (`arm-unknown-linux-gnueabihf`), and I am experiencing a strange issue when using `f64::round`, which leads to an “Illegal Instruction”. Here are some minimal examples:

1. Illegal Instruction at line 4

[code]

2. No Illegal Instruction

[code]

3. No Illegal Instruction

[code]

Apparently, the Raspberry Pi Zero W is actually a `arm-unknown-linux-gn

[2019-07-29 06:27] Centril commented on #63097
This is working as intended; the issue is *not indirection* however but rather that type aliases are aliases and so when the compiler is working out what `S` is it has to compute the type expression `Option<Box<S>>` which requires working out what `S` is so you have to compute `Option<Box<S>>`, and so we have a cycle.

This is different from `enum`s and `struct`s in that these introduce essentiall

[2019-07-29 06:39] reitermarkus commented on #63098
I wasn't using the latest nightly because of `clippy`, this seems to be fixed.

[2019-07-29 06:40] #63098 closed

[2019-07-29 06:51] Patryk27 opened #63100 ""Try invoking the function" hint"
Hi,

Let's consider following code:
[code]
Right now it fails with the `expected usize, found fn item` message - I think it would be helpful if compiler bragged about missing parentheses when function's return type matches expected type:
[code]
It may even help a little bit when dealing with `async` functions - recently I've written:
[code]
... and it took me a few minutes to notice that what I ac

[2019-07-29 06:56] josephlr commented on #62516
Good question! There are 6 workarounds in `libstd` for older Linux versions (that I could find). Increasing the minimum version to 2.6.32 (aka 3rd Kernel LTS, aka RHEL 6) would fix 5 of them.  Code links are inline:

- [`File::open_c`](https://github.com/rust-lang/rust/blob/8b94e9e9188b65df38a5f1ae723617dc2dfb3155/src/libstd/sys/unix/fs.rs#L469-L505) uses the `O_CLOEXEC` flag with [`open(2)`](http

[2019-07-29 07:20] jakubadamw commented on #63064
@estebank, thanks for the write-up! By the way, that function assumes that items would have a leading `{` in their definition, whereas that's not the case for top-level modules. I filed #63091 with an example of that breaking (and that's regardless of whether this gets fixed).

[2019-07-29 08:52] jonas-schievink commented on #34538
Triage: https://github.com/rust-lang/rust/pull/56410 will switch libstd to use `parking_lot`, but it's still got a long way to go

[2019-07-29 08:55] jonas-schievink commented on #58529
@khareatu did you open a bug in the tokio tracker for this? This seems like a pretty bad bug.

[2019-07-29 08:56] adrian-budau opened #63101 "Support armv7-unknown-linux-gnueabi and armv7-unknown-linux-musleabi (soft-float variants)"
Currently for armv7 only the hardfloat variants (`armv7-unknown-linux-gnueabihf` and `armv7-unknown-linux-musleabihf`) are supported.

I'll try to open a pull request as this seems to be a small change.

[2019-07-29 09:12] Cogitri commented on #62447
Hm, I changed the triplets to be closer to the upstream ones (https://github.com/alpinelinux/aports/pull/9353/files#diff-ccfaa4435cf05bd784144a7d7720c82cR39) but it still doesn't work, so I guess it's not on the triplets: https://gist.github.com/1dfdf04db4e88950a8db2840b3ce97d1

I'm a bit confused because it _does_ build rustc_macros earlier in the build but then can't find it :/

[2019-07-29 09:16] hellow554 commented on #63101
Is there a reason you don't use the `thumbv7*-*` targets instead?

[2019-07-29 09:23] adrian-budau commented on #63101
None of those targets support the `std`. In particular I require only the `armv7-unknown-linux-muselabi` target, but I mentioned both because it makes sense.

And `arm-unknown-linux-musleabi` doesn't work because some instructions use the `CP15` register which is disabled/does not exist on our hardware (it's not particularly clear for us).

[2019-07-29 09:44] dmitris commented on #56371
question regarding https://doc.rust-lang.org/rustc/linker-plugin-lto.html#toolchain-compatibility - the page lists `Rust 1.34` and `Rust 1.35` in the compatibility table - should we add `1.36` as well since the current `rustc` version is 1.36.0?

[2019-07-29 09:46] mati865 commented on #56371
@dmitris it's updated on nightly: https://github.com/rust-lang/rust/blob/e562b24ae325f5a31b7ba5873e3db426a14e6342/src/doc/rustc/src/linker-plugin-lto.md#toolchain-compatibility

[2019-07-29 09:48] bjorn3 opened #63102 "decl macro 2.0 doesn't allow trailing comma"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6986bf981691d75da249f136a16e2e07))

Errors:

[code]

[2019-07-29 10:07] axos88 commented on #51540
@mark-i-m, based on what you just said, I got to think about why we want the alloc_error handler to be `-> !` ? If we're talking about a kernel, theoretically it should be possible for the kernel to either "expand the heap" (by freeing up memory used for buffers and caches and whatnot), or kill away some of its "processes" or "tasks" or whatever we call them and then retry the allocation. Then the

[2019-07-29 10:15] DutchGhost commented on #53096
As of now, compiles just fine!
I could add this as a test somewhere? But Im not sure where I should put it.

[2019-07-29 10:22] runiq commented on #61997
Triage: The first two boxes can be checked and the rustc-guide PR has landed, so this:

is inaccurate now, which is a good thing. :)

[2019-07-29 10:31] dmitris commented on #56371
@thanks mati865 - Go has pages like https://tip.golang.org/cmd/go/, does Rust have any such "symlink" URLs that would link to the latest/nightly version of https://doc.rust-lang.org/stable/rustc/ etc?  If not, do you think it would be useful?

[2019-07-29 10:47] mati865 commented on #56371
Literally replace `stable` with `beta` or `nightly` in that URL :smile:

[2019-07-29 11:33] SimonSapin commented on #51540
@axos88 A typical usage is `NonNull::new(alloc(layout)).unwrap_or_else(|| handle_alloc_error(layout))`. We want something that doesn’t return, to express “I don’t want to deal with this case”.

Any mechanism to “try harder” to allocate memory would be a better fit for being in the allocator itself. That is, in an impl of the `GlobalAlloc` trait (or `Alloc` trait), possibly by wrapping another allo

[2019-07-29 11:33] matthewjasper commented on #63102
But they do accept a trailing `;`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f8bd2841ec49d0222be9ad6124bdd0a4

[2019-07-29 11:33] oblitum opened #63104 "Should PartialOrd provide impl for Ord to avoid boilerplate?"
Currently `std` gives the following example in "[How can I implement `Ord`?](https://doc.rust-lang.org/std/cmp/trait.Ord.html#how-can-i-implement-ord)":

[code]

I was wondering why this boilerplate couldn't be reduced, because it seems clear that in almost all cases of `Ord` implementation, `PartialOrd` implementation can be done in terms of the former.

I suspect this is in its current state bec

[2019-07-29 11:53] shingtaklam1324 commented on #63104
This conflicts with the existing blanket `impl` in `core`.

[code]

which removing would be a breaking change (and very unlikely considering how commonly used that blanket `impl` is)

[2019-07-29 12:01] Diggsey commented on #63021
The net result is C++-level foot-gunnery. The documentation there says that *different implementations* may compare differently, but the problem here is that the *same implementation* is comparing differently depending on which compilation unit converted the concrete type to a trait object.

What's worse is that this exposes an implementation detail. Let's say I have this code:

[code]

If the com

[2019-07-29 12:03] oblitum commented on #63104
@shingtaklam1324 what this is basically saying is that given `impl<T: Ord>` is too general that it also covers references, and there's an specialization for references already, then the two collide.

[2019-07-29 12:25] bjorn3 commented on #63102
Maybe someone forgot to change the trailing `;` into `,` when changing the separating `;` into `,` in the (copied?) parse code?

[2019-07-29 12:27] shingtaklam1324 commented on #63104
Pretty much.

`PartialOrd<Rhs=Self>`, so replace `B` with `A` in the error.

Essentially what `rustc` is complaining about is that there are now two implementations of the same thing

Consider a type `A: Ord`

1. First way
    1. since `Ord: PartialOrd`
    2. `A` must `impl PartialOrd`
    3. `impl PartialOrd<&A>` from `core`'s `impl<A, B> std::cmp::PartialOrd<&B> for &A`
2. Second Way
    1. `im

[2019-07-29 13:31] skade commented on #62781
Phew, I see multiple lines of arguing where this would break the [language semver](https://github.com/rust-lang/rfcs/blob/master/text/1122-language-semver.md).

While not strictly compiler breakage, I think linking behaviour is also a big part of our compiler story.

[2019-07-29 14:05] jrmuizel opened #63105 "Add an option to avoid merging of calls to panic!()"
Given code like:
[code]

Rust generates
[code]
The two calls to wrap are unified and it's not possible to tell which one failed at runtime.

I requested a way to tell LLVM not to do this in https://bugs.llvm.org/show_bug.cgi?id=42783 and Reid pointed me at https://cs.chromium.org/chromium/src/base/immediate_crash.h?l=10&rcl=92d78c90964200453b80fe098b367e0838681d09 which is Chrome's attempt to achi

[2019-07-29 14:24] Gankro commented on #63105
Note that naively this doesn't work, because unwrap is just a normal function and it's pre-compiled before the end-user gets to specify optimization flags. The only way this *could* sort of work is to have a Very Magic intrinsic which is only fully evaluated at monomorphization time. Then we would have a chance to look at the optimization flags and determine whether we should have it expand to a n

[2019-07-29 14:34] khareatu commented on #58529
Jonias-Schievinnk,

Mean culpa for not following through with the tokio team. Got side tracked with other things at work and since this was no longer in the radar with the workaround, just never got around to it. Anyway, thanks for the reminder... will follow up.

[2019-07-29 16:17] h-vetinari commented on #59838
Seems that LLVM supporting python 3 is close: https://reviews.llvm.org/D64894

[2019-07-29 16:39] Cogitri commented on #62447
Hm, the same compiler works fine for the upstream triplets, I'm honestly unsure what's going wrong here

[2019-07-29 16:51] power-fungus commented on #60564
Unfortunaltey, I was unable to get a smaller meaningful example. On the way, I found several error messages that were completely confusing as well. I suspect that some of them might be completely incorrect. I will open a new issue for them once I minified them a bit more.

[2019-07-29 17:50] mbilker commented on #34538
I've been using the changes from #56410 for a few months now in a small program running on Windows XP Embedded machines for a few months now with working panic messages.

[2019-07-29 18:00] arcnmx commented on #34538
(I love that most of the interest in XP and the reason this issue was filed seems to stem from one certain company's use of XP Embedded in their arcade cabinets)

[2019-07-29 18:11] asomers commented on #62558
ping.  Any progress here?  This issue blocks tier2 users from upgrading past rustc nightly 1.36.0.

[2019-07-29 18:13] Manishearth commented on #62558
I can't tell where the logs for Clippy on cross platforms are so I don't know how to fix this. Rust has a ton of builders :/

[2019-07-29 18:13] estebank opened #63110 "Redundant E0106 missing lifetime error and rust_2018_idioms missing lifetime lint"
While hacking in the compiler I got the following error:

[code]

The errors are correct (and the lint is even helpful!) but they are 1) redundant and 2) E0106 is not as helpful as the `rust_2018_idioms` lint. We should get them both to parity and hide one if the other has triggered.

[2019-07-29 18:27] cramertj commented on #63105
https://github.com/rust-lang/rust/issues/47809 could potentially help with this.

[2019-07-29 18:59] ExpHP commented on #63054
The first example where the lint fires appears to be special-cased, because `impl AddAssign for i32` is known to be free of side-effects.  If you replace the `i32`s with any user-defined type that implements `AddAssign`, clippy will no longer emit a warning.

There is currently no similar special case for `Add for i32`, probably because there's so much more you can do with it and so it isn't as st

[2019-07-29 19:31] cuviper commented on #62516
I am Red Hat's maintainer for Rust on RHEL -- thanks @lzutao for the cc. I try to keep an eye on new issues, but this one slipped past me.

Red Hat only ships the Rust toolchain to customers for RHEL 7 and RHEL 8. If our customers would like to use Rust on older RHEL, they can do so via `rustup`, and we'll support them in the same way we would for any other third-party software.

Internally we do

[2019-07-29 19:36] alex commented on #62516
(Not a Rust maintainer, but I'm a Rust user and maintain a lot of other OSS software so I have well-developed feelings around supporting Very Old Software :-))

Do you have any sense of on what timeline Rust would be able to drop support for 2.6.18 kernels without causing you pain?

In general I don't think people mind supporting configurations that have users and are painful to work around, but n

[2019-07-29 19:38] nikic commented on #62516
@cuviper The other benefit would be that Rust wouldn't have to use CentOS 5 for CI, which means we don't have to patch LLVM (and Emscripten LLVM) to compile on those systems. Of course that's also fairly limited in scope.

[2019-07-29 19:52] mati865 commented on #62558
@Manishearth logs for last successful merge: https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/4613/logs/937?&api-version=5.0-preview

It still fails with the same error.

[2019-07-29 19:52] ambiso commented on #60564
There are several errors, that I believe to be incorrect.
However, since these don't produce an ICE, I'd suggest I close this issue and create new ones for them?

[2019-07-29 20:07] Centril commented on #60564
Before closing this issue we should add a reproducer test.

[2019-07-29 20:10] cuviper commented on #62516
@alex

As soon as we stop shipping Firefox and Thunderbird updates on RHEL 6, I won't need Rust there anymore. AFAIK this does correspond to the end of Maintenance Support, [approximately](https://access.redhat.com/support/policy/updates/errata#Life_Cycle_Dates) November 30, 2020. Then I'll be on to RHEL 7 builders as my minimum, probably still with some RHEL 6 2.6.32 kernels involved.

@nikic

It

[2019-07-29 20:21] josephlr commented on #62516
@cuviper I noticed that Red Hat also has Extended Life Cycle Support (ELS) for RHEL 6 until June 30, 2024. Will you need RHEL 5 to work during this time? I don't know how ELS works with Firefox updates. Also, is there any reason RHEL 4 support wasn't an issue prior to March 31, 2017 (while RHEL 5 was still normally supported)?

This issue came up for me when dealing with opening files in https://g

[2019-07-29 20:29] Centril opened #63113 "Improve recovery diagnostic for `for ( $pat in $expr ) $block`"
Roughly according to https://github.com/rust-lang/rust/pull/62928#discussion_r308365465.

cc @estebank

[2019-07-29 20:30] kper commented on #62426
@Centril can you look over my commit? :)

[2019-07-29 20:31] Centril commented on #63113
Some notes:

I think this is not worth fixing as it would require hacks deep in the general sequence parser.

We should try to still have `MachineApplicable` suggestions; @estebank notes that there are special purpose methods for doing that.

"Unnecessary" is semantically misleading here as this is a hard error, not a lint.

[2019-07-29 20:32] Centril commented on #62426
@kper Can you file it as a PR? Easier to review that way.

[2019-07-29 20:43] cuviper commented on #62516
I'm not on that team, but AFAIK we don't ship Firefox updates for ELS. The last build I see for RHEL 5 was [45.8.0 on 2017-03-08](https://access.redhat.com/errata/RHSA-2017:0459). Maybe there could be an exception for a severe security issue, but I really doubt we'd rebase to newer Firefox for that, which means Rust requirements won't change.

New Firefox ESR versions do require a newer Rust toolc

[2019-07-29 20:55] axos88 commented on #51540
I disagree. Staying at the example of the kernel, this would mean the allocator would be responsible for instructing the kernel to try to free some space up for me, whereas IMHO the allocator should only be responsible to tell the kernel that hey, I don't have enough space for this operation, and then the kernel would decide wether to free up space, or crash. In the end it ends up in the same prog

[2019-07-29 20:58] josephlr commented on #62516
@cuviper that makes perfect sense to me, thanks for clarifying.

So the proposed policy would be: __Support RHEL `N-1` until RHEL `N` is retired__ (i.e. ends normal support). This would mean:
  - Supporting RHEL 5 (v2.6.18) until November 30, 2020
  - Supporting RHEL 6 (v2.6.32) until June 30, 2024
  - Supporting RHEL 7 (v3.10) until May, 2029

This is a _much_ longer support tail than any other L

[2019-07-29 21:21] cramertj commented on #63100
@Centril why was this tagged async-await?

[2019-07-29 21:30] cuviper commented on #62516
Sure, that's ideal for me. :smile:

As mentioned, `N-1` is just needed for kernel support, as far as I'm concerned. Userspace concerns like GLIBC symbol versions can stick to currently supported `N` for my needs.

[2019-07-29 21:35] wez opened #63115 ""`X...` range patterns are not supported" occurring in today's nightly"
The CI for `libssh2-sys` started to fail today with this error:

[code]

It appears as though the compiler doesn't see `1 ... $e` and only sees `1...` as the range expression and then generates this error.

The expression is inside a `macro_rules!` expansion.

You can reproduce this by cloning the `extprim` repo and building it:

[code]

The build succeeds on the stable channel and much older rele

[2019-07-29 21:42] Centril commented on #63115
Regression introduced in https://github.com/rust-lang/rust/pull/62550.

[2019-07-29 21:54] dwrensha opened #63116 "ICE on "internal error: entered unreachable code""
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

This error does not occur on stable or beta, nor on a nightly from last week.

[2019-07-29 22:16] Centril commented on #63115
More specifically the bug is in:
[code]
which is called to see whether what follows `...` is a valid start of a range pattern end expression.

This is strange tho... in the case of e.g.:
[code]
the call to `self.token.is_path_start()` in https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/parser.rs#L3959 is used successfully to parse `$e1` but somehow that doesn't work for `$e1..$e2`

[2019-07-29 22:24] Centril commented on #63115
Similarly, with:
[code]
this does *not* trigger *"error: `..X` range patterns are not supported"* but it should.

[2019-07-29 22:41] briansmith commented on #62516
Red Hat should backport the features we need (CLOEXEC and getrandom, in particular) to whatever kernels that it wants Rust to support. I don't know any good reason why they don't do so, other than it's cheaper to convince the whole world to keep supporting older kernel versions than it is to do the backports. We should change that dynamic.

[2019-07-29 23:09] Manishearth commented on #62558
Hmm that seems like the rust build system being brittle. I've seen that kind of error before, it's usually solved by deleting something in the build dir.

cc @alexcrichton @pietroalbini

[2019-07-30 00:10] tmandry commented on #62952
Nice find, this does indeed do the required transformation. Running that (along with [simplify_locals](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir/transform/simplify/index.html)) right before the generator transform almost does the trick.

The problem is that we currently [eliminate all storage markers](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_mir/transform/copy_prop

[2019-07-30 00:57] estebank commented on #55878
@oli-obk would it make sense to use `delay_span_bug` here to avoid the miscompilation?

[2019-07-30 01:33] Aaron1011 commented on #58951
This now compiles successfully on the latest nightly.

[2019-07-30 01:34] Aaron1011 commented on #59342
This now compiles on the latest nightly.

[2019-07-30 01:35] Aaron1011 commented on #57611
This still produces an error on the latest nightly (not sure if it's supposed to compile or not), but no longer ICEs.

[2019-07-30 01:36] Aaron1011 commented on #57700
This now produces an error instead of an ICE on the latest nightly.

[2019-07-30 03:10] TankhouseAle commented on #63084
Sorry it took me a bit to get to this. [Just opened a PR.](https://github.com/rust-lang/rust/pull/63123)

[2019-07-30 04:58] ddeville opened #63125 "Re-exporting `extern "C"` and `#[no_mangle] symbols in cdylib doesn’t work with gcc on Linux"
Building a `cdylib` crate that has a dependency on a crate with `extern "C"` and `#[no_mangle]` symbols fails to export the symbols on Linux, even when the symbols are re-exported as public. Symbols are correctly exported on Mac and Windows.

The problem was somewhat discussed on #36342 but as far as I can tell, only `gcc` and Linux are behaving abnormally today.

In order to reproduce the issue,

[2019-07-30 06:22] SimonSapin commented on #51540
Agreed that `#[alloc_error_handler]` is not a great name, something like `#[abort_implementation]` (mirroring the existing `#[panic_implementation]`) would be closer to the truth although the `core::alloc::Layout` parameter *is* specific to allocations. However this attribute’s name is related to the name of the `std::alloc::handle_alloc_error` function, which is stable. (Though adding an alias an

[2019-07-30 06:23] zhuxiujia commented on #59492
If rust is slower than gc lang like go,java, why do we use rust?
We should solve problems rather than avoid them.
If we use a lot of string manipulation, the performance will be very, very poor.

[2019-07-30 06:27] zhuxiujia commented on #59492
I found that the root problem of rust was the Vec
it is slow ，Slow insertion causes slow string splicing

[2019-07-30 06:45] oli-obk commented on #55878
I think we should add a `ParamEnv` argument to https://github.com/rust-lang/rust/blob/8315b11b6352cbd91ee096571c31ae7d3ac9613d/src/librustc/mir/interpret/error.rs#L107 and in case it's `RevealAll`, we emit the error again?

But yea, as an intermediate step, add `delay_span_bug` or check the error counter and directly ICE if no errors have been reported yet (like statics do)

[2019-07-30 06:58] kper commented on #62426
@Centril sure :)

[2019-07-30 07:04] glandium commented on #51540
It's a matter of perspective. The error already happened. It's unrecoverable. We handle it by doing something and aborting. It's not "handle_to_maybe_recover", after all.

[2019-07-30 07:20] #62724 closed

[2019-07-30 07:20] #62947 closed

[2019-07-30 07:20] #58307 closed

[2019-07-30 07:20] #60746 closed

[2019-07-30 07:20] #61574 closed

[2019-07-30 07:20] #62433 closed

[2019-07-30 07:20] #58099 closed

[2019-07-30 07:20] #52632 closed

[2019-07-30 07:20] #53678 closed

[2019-07-30 07:20] #60407 closed

[2019-07-30 07:20] #60564 closed

[2019-07-30 07:30] XVilka opened #63128 "Add the markdown preview for the output of `rustc --explain E...`"
Currently it outputs the raw markdown, but it makes sense to provide an embedded preview. Luckily, there is an amazing Rust library for that - [termimad](https://github.com/Canop/termimad).
And it is scrollable out of the box.

![image](https://user-images.githubusercontent.com/203261/62109462-ef5f6100-b2de-11e9-8f14-57a3b8be5dfe.png)
![image](https://user-images.githubusercontent.com/203261/62109

[2019-07-30 08:38] Centril commented on #62254
One remaining issue is also https://github.com/rust-lang/rust/issues/53820.
cc @RalfJung and @varkor re. ^-- Not sure whether that's blocking or not.

[2019-07-30 08:57] oli-obk opened #63130 "Compute all argument-less const fns via `eval_const` to cache their evaluation"
cc https://github.com/rust-lang/rust/pull/61626#issuecomment-514719862

We are already doing that for nullary intrinsics (#61626), it seems like we could get some perf gains from this, even cross crate.

[2019-07-30 09:07] Centril commented on #53820
cc @nagisa also?

[2019-07-30 09:17] RalfJung commented on #53820
I updated the example to the changed syntax; it still reproduces with the latest nightly.

[2019-07-30 09:17] oherrala commented on #61264
@smaeul Using the following Dockerfile I'll get the output attached: [output.txt](https://github.com/rust-lang/rust/files/3446059/output.txt)

However, since `-Z print-link-args` is nightly only flag, the compilation doesn't fail. But maybe this can enlighten what's happening?

[code]

[2019-07-30 09:19] RalfJung commented on #62254
Not sure either. Someone will have to make the call if it is okay for matching on big arrays to stack-overflow.

Last time I checked, on Windows, matching on `[0u8; 1024]` is actually enough to trigger the error.

[2019-07-30 10:12] vityafx opened #63131 "Improve UX with std::thread::Builder::name()"
We could improve the [`std::thread::Builder::name()`](https://doc.rust-lang.org/std/thread/struct.Builder.html#method.name) method by accepting not only <String>, but
anything that could be converted to a string:

[code]

Now I can't compile a simple piece of code:

[code]

I have to explicitly create a `String` object, what I find a bit extra because we can allow the conversion is done automatica

[2019-07-30 10:16] purpleposeidon opened #63132 "Immutable reference can't be destructured from a mutable reference."
Just a minor papercut & inconsistency. [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1ad8eba40e76d644b07dba5ca4d48f5c):
[code]

[2019-07-30 10:17] gilescope commented on #51405
@da-x totally still want joyful stack overflows. I got as far as getting a stack trace on OSX, but got bogged down trying to find a cross-OS way for https://github.com/gilescope/findshlibs to deal with sections and segments as they're a bit different in OSX and Linux.

I don't mind how we do it, it would be great to have a good stacktrace.

[2019-07-30 10:19] pBeta00n opened #63133 "RGB_GAMA"
#C0C0C0_
C+M+Y

[2019-07-30 10:21] Mark-Simulacrum commented on #63131
I don't really think this is the right approach - creating named threads is something I would expect to be infrequently done, and anyone who does so can always write a more convenient wrapper around std::thread that avoids needing to deal with Builder, etc.

[2019-07-30 10:39] vityafx commented on #63131
Everyone can do something easier to use all the time in C++ every day. And most of such things are useful to everyone. What is your point, why should we **not** do this? Mention things explicitly, why is it a food idea to have a useful and easy to use standard library?

Also, why do have a thread module in standard library then, if everyone can make wrappers around system threads themselves? (A rh

[2019-07-30 11:10] #63133 closed

[2019-07-30 11:39] qnighy commented on #59492
In https://users.rust-lang.org/ you may find people who would help you improving performance of your Rust code.

[2019-07-30 11:47] crlf0710 commented on #58099
Finally done! Maybe tick the checkbox too!

[2019-07-30 11:51] crlf0710 commented on #58099
Finally done! Maybe tick the checkbox too!

[2019-07-30 11:54] Patryk27 commented on #63131
`&str` should suffice IMO.

[2019-07-30 12:01] dwrensha opened #63135 "ICE on "Error constructed but not emitted""
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

The error happens on stable, beta, and nightly.

[2019-07-30 12:11] Mark-Simulacrum commented on #63131
We need to store the String in the Builder, so &str doesn't work. My primary objection to using `Into<String>` is that it's both an API we pretty much don't have today in the standard library, mostly IMO due to hiding the allocation involved in going from &str -> String or similar. It also makes it really easy to pass in `&String` and pay the allocation cost when you have a `String` on hand. Essen

[2019-07-30 12:20] Mark-Simulacrum commented on #63128
I think there's a fairly high cost to this for relatively little gain. Rendering the markdown means that the compiler itself gains fairly hefty dependencies in a markdown parser and terminal printing (currently limited to rustdoc, for the most part). It also makes it much harder to copy/paste the code as it's now indented and potentially colored, as well as it looks like asking the compiler to imp

[2019-07-30 12:23] bjorn3 opened #63136 ""match arms have incompatible types" hint incorrect"
Only some of the prior arms are of type `!`, the rest is of type `FloatCC`.

[code]

[2019-07-30 12:25] vityafx commented on #63131
Could you please explain to me, what costs exactly are introduced with having `Into<String>`?

What I can think of is:

We will generate the code for every object which has the `Into` or for which the `From` is implemented. However, we will always have a code which performs such a conversion in any way (either by using these traits or not), so it doesn't really change anything.

Why is it more exp

[2019-07-30 12:26] #60419 closed

[2019-07-30 12:26] #60987 closed

[2019-07-30 12:26] #60988 closed

[2019-07-30 12:46] Mark-Simulacrum commented on #63131
With the `.into()` in end-user code, it is clearer that some cost for the conversion is involved. It's true that the cost if I have a `&str` and need a `String` is the same whether I do so or the standard library does, but I'm explicitly noting the case where I actually do have a `String` or can thread one through, but because passing a reference worked, I didn't think "oh, there was a cost here"

[2019-07-30 12:51] vityafx commented on #63131
Okay, if there is always a cost, what does the knowledge of this fact give a user? If he can't avoid it anyway? He will always need to have a String, right?

[2019-07-30 12:55] Mark-Simulacrum commented on #63131
The cost may be avoidable -- making the cost explicit is part of what Rust tries to do, to an extent. It's the reason `clone()` doesn't happen automatically, etc.

[2019-07-30 12:55] bjorn3 opened #63138 "Rustdoc search results truncated"
https://docs.rs/cranelift-codegen/0.37.0/cranelift_codegen/ir/trait.InstBuilder.html?search=I32X

![image](https://user-images.githubusercontent.com/17426603/62130746-f768d200-b2d9-11e9-89d9-b9201ff5dda2.png)

Reason: `max-height: calc(100vh - 32px);` on parent `<div class="rustdoc trait container-rustdoc">`.

[2019-07-30 13:06] haraldh commented on #58520
Hmm, this works:

[code]
[code]

[2019-07-30 13:44] nox commented on #35428
@scottmcm

Can you imagine a scenario where you would want to have a trait bound on `KnowsEmptyIterator` but not `ExactSizeIterator`, and where you wouldn't be able to just call `Iterator::next` until a `None` is returned?

[2019-07-30 13:51] JohnTitor commented on #63024
The fixes landed?

[2019-07-30 14:10] ExpHP commented on #63135
The only early return I see that doesn't emit `delayed_error` is here:

https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/parser.rs#L3623

[2019-07-30 14:17] XVilka commented on #63128
Maybe some simple integration then? With configuration option that it can pipe to something like that automatically? Basically executing the external binary.  Should be very easy to implement and no deps required.

[2019-07-30 14:23] Mark-Simulacrum commented on #63128
What does that gain over `rustc --explain ... | <tool>` or an alias on the command line that does that? I guess to an extent the reason why I'm pushing back might be that I personally almost never look at explain on the command line (or anywhere, really) so it's hard for me to judge the frequency of use. Configuration doesn't really work either because rustc doesn't have any configuration not pass

[2019-07-30 14:24] XVilka commented on #63128
Yes, creating such a crate might be a good idea, agree.

[2019-07-30 14:57] newpavlov opened #63139 "Tracking issue for div_duration"
Rust PR: #62756

This feature adds the following methods to `Duration`:
- `div_duration_f64(self, rhs: Duration) -> f64`
- `div_duration_f32(self, rhs: Duration) -> f32`

[2019-07-30 14:59] RalfJung commented on #63024
It did, yes. There are some PRs under review on the rustc side that would break Miri again, but if you want you can update Miri so we'll get one or two nightlies with newer versions.

Btw, for using Miri on CI or so, I recommend a snippet such as:
[code]
This way you'll get a working Miri even if the latest nightly does not have one.

[2019-07-30 15:15] sorenmortensen commented on #62826
Radar filed: [FB6861169](http://www.openradar.me/6861169)

[2019-07-30 15:20] iluuu1994 commented on #61738
@rustbot claim

I'll implement this now, you can decide whether you want to merge it now or wait until it's stabilized. We could also make an issue to remove the `#![feature(associated_type_bounds)]` once the feature is stabilized.

[2019-07-30 15:25] newpavlov commented on #62516
I think we should not support retired OS versions (well, maybe with some grace period). Supporting 14 year old kernels seems a bit too much to me.

@cuviper

Is it possible to apply kernel patches to those builders to add support for functionality like CLOEXEC? Or build Firefox separately on RHEL 6 builder?

[2019-07-30 15:34] iluuu1994 commented on #61738
Do you guys prefer:

[code]

or

[code]

I like for former better.

[2019-07-30 15:40] RalfJung commented on #62998
Superseded by https://github.com/rust-lang/rust/issues/63024.

[2019-07-30 15:40] #62998 closed

[2019-07-30 15:41] RalfJung commented on #63024
(In case you open a PR, please Cc/r? me. I won't see it otherwise.)

[2019-07-30 15:54] schungx opened #63140 "Generic type parameters used in expression?"
Is there a way to use a generic type parameter in an expression?

For example:

[code]

Obviously, during actual code generation when instantiating the actual types, the irrelevant code branches can be safely omitted.

[2019-07-30 15:56] jonas-schievink commented on #63140
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-07-30 15:56] #63140 closed

[2019-07-30 16:21] CryZe commented on #63125
Yeah this is the same bug as this https://github.com/rust-lang/rust/issues/50007

[2019-07-30 16:25] cuviper commented on #62516
@briansmith

I think it won't be fruitful for us to debate the merits of stable enterprise kernels, but no, this is not a possibility. An alternative take is "Red Hat should be responsible for the work in Rust to maintain the support they want" -- here I am, ready and willing.

@newpavlov

I definitely can't change those kernels. The ones that are stuck on N-1 are precisely to avoid rocking the bo

[2019-07-30 16:38] cramertj commented on #63100
I don't think that makes this an async/await issue in any way, though. :woman_shrugging:

[2019-07-30 17:16] pustaczek opened #63142 "Using proc macros through a re-exported crate raises rustc_private unstability error"
When a library A depends on a library B, which re-exports a library C that (re-?)exports procedural macros, using them in A through the re-export in B may result in an E0658 error.

I tried this code:

[code]
[code]

I expected to see this happen: code compiles successfully.

Instead, this happened: the compilation failed with the following error message:
[code]

## Meta

`rustc --version --verbos

[2019-07-30 17:49] spastorino opened #63143 "Box "doesn't have a size known at compile-time" wrong diagnostic"
If I do ...

[code]
I get the following error ...

[code]

I think the right error should be ...

[code]

Is not that `Box` is not `Sized`, the problem is that the parameter of the `Box`'s `new` function is not `Sized`. So the last note in the error is important and also kind of lost in a lot of noise.

Possibly related to #61860.

[2019-07-30 17:57] gilescope commented on #61076
Can we close this now @doctorn ?

[2019-07-30 17:57] arielb1 opened #63145 "Fix to #62194 broke the coherence tests and made error messages more mysterious"
PR #62696 had *removed* the notes from the tests for the upstream/downstream printing logic, so now that logic is not tested:

https://github.com/rust-lang/rust/commit/2ced474e808d59e4b3bf2c6874e40446a4598f51

Plus, the new error messages are worse: an upstream impl can indeed be added, even if the crate is private.

I think that even in the OP case, some sort of note should be added, unless we ch

[2019-07-30 17:58] arielb1 commented on #63145
Actually, I think the version of the note I came up with is even more confusing than the "downstream crate" note, and the current version is worse than both.

[2019-07-30 18:01] arielb1 commented on #63145
That PR was also submitted with no "positive" test to see that it fixes the error message it is purported to fix. That feels clearly wrong to me..

[2019-07-30 19:26] doctorn commented on #61076
Unfortunately not... I haven't had a lot of time for the past few weeks, but basically all cases similar to this one that @estebank pointed out still aren't covered.

`future.field_or_resolved_future.execute_new_future()?` that should have been `future.await.field_or_resolved_future.execute_new_future().await?`.

I've made some progress towards this, but there are some complicated trait predicates

[2019-07-30 19:37] ExpHP commented on #63135
Applying the most obvious patch, I get the following non-ICE output:

[code]

[code]

[2019-07-30 20:36] Centril commented on #61738
@iluuu1994 The first one should be:
[code]
per rustfmt.

which one you use is situational I think; I'd use the latter if it cleanly fits on one line and there are not a lot of bounds and the former otherwise.

[2019-07-30 20:44] alexcrichton commented on #62558
That isn't an issue about stale build directories or anything like that. Something is misconfigured to cause the rustc-macros crate to get built twice. The rustc_macros crate should not be getting compiled into the stage1-tools directory, but something is pulling it in. I haven't investigated to see what, though.

(it'd be good as well btw to not assume default-flakiness and instead assume that be

[2019-07-30 20:46] ExpHP commented on #63131
None of this matters; making `name` take `Into<String>` is a breaking change anyways.

(namely, it will break all code that looks like `.name("hello".into())`)

[2019-07-30 20:49] #62803 closed

[2019-07-30 20:56] mati865 commented on #62558
I think `rustc_macros` are expected to be available in stage1: https://github.com/rust-lang/rust/pull/58013/files#diff-4bc384d35e57dc577b9378d4d733d7c3R818
The issue started when `rustfmt` was updated and pulled new dependecy: `rustc-ap-rustc_macros` in https://github.com/rust-lang/rust/pull/61861

[2019-07-30 21:41] acourdavault opened #63150 "incremental compilation DepNode Bug running cargo check"
# cargo check panic

# code that produced the panic
[code]
# expected
[code]
(as seen in rust playground)

# observed
[code]

# meta
on windows 10, rustc 1.36.0 (a53f9df32 2019-07-03)

[2019-07-30 22:06] Ericson2314 commented on #51540
In ant event a non-! would be completely different semantics and not fit the current use-case at all. Not saying this is good or bad, but just a massive redesign.

[2019-07-30 22:11] Ericson2314 commented on #51540
Basically there are a gazillion interesting things one can do with errors and one global hook can never hope to cover them all. I would expect this to be dead code in a kernel or other program which really cares about error cases.

[2019-07-30 22:29] estebank commented on #63143
There are multiple cases of this, where we point at the method ident instead of the correct argument, as we should in this case. It will require some reworking on how we deal with this. The solution will fix a swath of similar issues. Sadly I think it'll be a medium size undertaking to fix.

[2019-07-30 22:40] dwrensha commented on #63116
The panic is being thrown from here:
https://github.com/rust-lang/rust/blob/dddb7fca09dc817ba275602b950bb81a9032fb6d/src/libsyntax/parse/parser.rs#L565

That code assumes that `self.expect_one_of(&[], &[])` will always return `Err(_)`. However, in this case `expect_one_of()` calls `expected_one_of_not_found()`, which returns `Ok(_)` from here:

https://github.com/rust-lang/rust/blob/dddb7fca09dc81

[2019-07-30 22:41] dwrensha commented on #63116
cc @estebank

[2019-07-30 22:59] scottmcm commented on #63104
This has been a wish for a _long_ time (such as https://github.com/rust-lang/rfcs/pull/1028).  I think it's better tracked in the RFCs repo, since it depends on languages changes, and is plausibly just a requirement to be addressed in a specialization RFC.  (Or a different change, which would also take an RFC.)

[2019-07-30 22:59] #63104 closed

[2019-07-30 23:26] Mark-Simulacrum commented on #63131
That's inference breakage which is permitted by our policies - though we may not want that for this change (since it's so minimal).

[2019-07-30 23:38] estebank commented on #61076
I fear that that case will remain open for a while, as it'll be hard to get right.

[2019-07-31 00:06] jakubadamw opened #63151 "Spurious unused field warning when matching variants under a `Self` scope"
This code should compile without warnings:

[code]

However, it produces the following one:

[code]

If we switch the pattern within `match` to the one that's commented out, the warning is gone.

[2019-07-31 00:22] estebank commented on #55878
@oli-obk `reveal` is `UserFacing` for the repro case above and having an unconditional `delay_span_bug` in `struct_generic` caused it to be emitted in a significant amount of tests.

Removing the early return only for `EvalErrorKind::Layout(LayoutError::SizeOverflow(_))` gets rid of the bug. We can gate it behind `delay_span_bug` if we're afraid we'll have duplicated errors, but that's not what I'

[2019-07-31 00:36] #60610 closed

[2019-07-31 00:41] Centril commented on #62254
https://github.com/rust-lang/rust/pull/63111 and https://github.com/rust-lang/rust/pull/63129 have both landed. In combination previously existing tests I believe we can be confident in the implementation now. The only remaining issue is https://github.com/rust-lang/rust/issues/53820 now.

[2019-07-31 02:35] tmandry commented on #62958
Implementation notes: In the compiler, these arguments get converted to generator upvars, which are then immediately moved into locals at the top of the generator MIR. The values are afterward used from these local vars.

We don't support overlapping upvar storage. @cramertj had a suggestion which makes sense to me, which is to make upvars part of the generator `Unresumed` variant. Then when we mo

[2019-07-31 04:16] jimblandy commented on #24124
Readers of our book 'Programming Rust' have reported errata related to this, because it's hard to explain that operators and trait methods work on unresolved `{float}` values, but associated functions don't. An introductory chapter should never get distracted with explanations for why this doesn't work:

    let n = 2.0;
    println!("{}", n.sqrt());
    let _n3 : f64 = n;

but this does:

    let

[2019-07-31 05:09] WildCryptoFox opened #63154 "Associated types, impl traits ~and closures~; oh my, an ICE."
While experimenting with some code I hit this ICE. Interestingly, when running `cargo test` a second time, it magically works - skipping the error. Also, `cargo miri test` works fine too.

I'm on a slightly older nightly because some rustup components are missing on the latest. https://play.rust-lang.org confirms the ICE in both its stable and nightly.

[code]

[code]

[2019-07-31 06:07] gilescope commented on #61920
RipGrepped for "move async " in the current codebase and not found so I think someone's already fixed this? - move to close.

[2019-07-31 06:13] gilescope commented on #63100
It's a great suggestion either way. Going to take a crack at it if I may?
@rustbot claim

[2019-07-31 06:55] oli-obk commented on #60164
@saleemjaffer sure. Just `@rustbot claim` once you start working on it. Maybe you can even get the WIP branch from @xldenis fork

[2019-07-31 07:08] Phlosioneer commented on #45029
Triage: Can this issue be closed in favor of #54878 ? nikic commented above but received no response.

[2019-07-31 07:13] sinkuu commented on #61920
This is not fixed ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cf071cbdc597582d604c4ddc3ade0b3c) - I should have provided one). IIRC E0373's suggestion just adds `"move "` in front of the closure span.

[2019-07-31 07:19] Phlosioneer commented on #54878
Triage: If I'm reading this correctly, the LLVM fix was accepted (https://reviews.llvm.org/D9375). I'm unsure what that means for actually merging into LLVM, or when that happened; someone more knowledgeable about LLVM's revision process should check if the issue is fixed now (and for what versions).

[2019-07-31 07:24] sinkuu commented on #61909
Simpler reproduction: https://rust.godbolt.org/z/Ex3HIu

[2019-07-31 07:40] james-darkfox commented on #44859
Closing per my last comment.

[2019-07-31 07:41] #44859 closed

[2019-07-31 07:48] james-darkfox commented on #9307
@Mark-Simulacrum I strongly disagree that this is waste. The compiler knows the type it is expecting, so it should meaningfully tell the user what the type it expects is, instead of accepting anything and failing if you're lucky. Worse, what happens when a type changes? However rare, I'd rather have the types than an ICE or other obscure outputs.

[2019-07-31 09:19] petrochenkov commented on #60804
So, I looked into this a bit more, and this feature doesn't even require extending AST structures.
What we need to do is to resolve a single-segment `ast::Path` in generic argument positions in two namespaces instead of one (type first, then value fallback), and then lowering to HIR can use the resolution result to disambiguate.
That's, like, ~40 lines of code in librustc_resolve/lib.rs and loweri

[2019-07-31 09:20] alecmocatta commented on #34451
This has compiled for a while now. Unsized tuples are being exercised, incl by tests related to https://github.com/rust-lang/rust/issues/42877. Closing.

[2019-07-31 09:20] #34451 closed

[2019-07-31 09:33] mati865 commented on #54878
It's not merged, the review process was a bit odd and the person who OK'ed it don't review patches anymore.

[2019-07-31 10:12] axos88 commented on #51540
I agree this would be a change in the use case. However if we allow a return from this hook, it would expand the use-case rather than shift it.
If the user wants to use it as it is today, that's great, don't return from it. If the hook returns, retry the allocation. If the user did not correct the issue that lead to the allocation failiure, it will fail again, and the hook will be entered again.

[2019-07-31 10:42] xfix commented on #42788
I wonder about having a method like the following in `Read`.

[code]

The reason for it returning `Result<&'a mut [u8]>` is to allow using this in safe code as well as preventing malicious implementations - if `Result<usize>` was returned, as it is a case for other `Read` methods, an implementation could just say `Ok(42)` and watch the world burn when trying to interpret the uninitialized bytes. I

[2019-07-31 10:45] oli-obk commented on #51910
Now that https://github.com/rust-lang/rust/pull/62946 is on its merry way, this issue becomes unactionable. @RalfJung I think we should just close it and make ppl use raw pointers instead of integers?

[2019-07-31 10:48] oli-obk commented on #51910
Hmm actually, if the value is an int it's still fine. So we'd still allow `ptr::null() as usize`... idk if that is a useful feature

[2019-07-31 11:01] Mark-Simulacrum commented on #9307
The point here is that unlike almost everything else in Rust, lang items are always pretty visible and when changing their signature it's almost always done inside libstd/libcore and as such the time investment into checking them (compile time and human time) seems to make this not really worth tracking. If a minimal PR was filed and/or we gradually started doing this, that's reasonable, but IMO w

[2019-07-31 11:01] Mark-Simulacrum commented on #45029
Yes, that seems reasonable. Closing.

[2019-07-31 11:01] #45029 closed

[2019-07-31 11:13] bravomikekilo opened #63156 "lint of unnecessary parentheses around `if` condition may case error"
when unnecessary parentheses is removed, may lack a whitespace between `if` and `expr`.

example
`if(is_prime) {println!("hello")};`
while be replaced to
`ifis_prime {println!("hello")};`

Maybe we should replare `(expr)` with a pair of whitespace around `expr`, instead of just `expr`;

[2019-07-31 11:23] JaniM opened #63157 "Drop ordering breaks macro hygiene"
Macro hygiene implies any objects created in the macro should be dropped before any code run after it executes. This does not happen in latest stable or nightly.

I tried this code:

[code]

Playground link https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0ddca23a27a8f6cd6c5af3251c503ff4

I expected to see this happen: stdout

[code]

Instead, this happened: stdout

[code]

[2019-07-31 11:27] SimonSapin commented on #51540
This is not expanding, this is entirely different functionality that should be proposed separately.

[2019-07-31 11:27] jonas-schievink commented on #63157
I don't see why this should be the case. Hygiene only governs name resolution.

[2019-07-31 11:28] SimonSapin commented on #51540
And, remember that the `#[alloc_error_handler]` attribute can only be used when libstd is not linked. When it is linked, it takes care of providing the implementation of `std::process::abort`.

[2019-07-31 11:35] james-darkfox commented on #9307
@Mark-Simulacrum But it is an issue and is far from closed. You may not see the effort in implementing it but if it remains open, someone else may do so.

[2019-07-31 11:37] a-rodin commented on #59342
@Aaron1011 It looks like it doesn't crash, but returns an error now: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bc01d4e3f91ad7a350955891d2ad84d4.

[2019-07-31 11:54] RalfJung commented on #51910
One case where union transmute hacks are used currently is to have a [const-capable `offsetof!`](https://internals.rust-lang.org/t/pre-rfc-add-a-new-offset-of-macro-to-core-mem/9273/83?u=ralfjung). I am not sure what it would take to avoid this. Ultimately this has to subtract two pointers from each other -- either two integer-valued pointers (but then it did some illegal ptr arithmetic) or two po

[2019-07-31 12:00] Nemo157 commented on #63157
The current behaviour is relied on a lot in the ecosystem to allow injecting variables that will be dropped at the end of the current scope, fix is to just put the macro-generated code into an explicit block, this is why you will commonly see macro expansions wrapped in `{{ ... }}` instead of just `{ ... }` ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6a08

[2019-07-31 12:11] gnzlbg opened #63159 "Do copy[_nonoverlapping]/swap[_nonoverlapping] do typed copies?"
The following example ([godbolt](https://rust.godbolt.org/z/SDb-pj)):

[code]

produces the following LLVM-IR:

[code]

and machine code:

[code]

where 128 bytes are copied every time a value of type A is moved/copied/read/...

However, one actually only has to copy a single byte, since all other bytes are trailing padding. The expected machine code is ([godbolt](https://rust.godbolt.org/z/B5l1yi

[2019-07-31 12:24] oli-obk commented on #63020
That's intended. Please use const generics if you want to have const arguments. The attribute only exists for the basic SIMD instructions, not for wrappers or abstractions

[2019-07-31 12:24] bravomikekilo commented on #63156
I am working on it.

[2019-07-31 12:27] jbg commented on #62658
i'm hitting this too, will see if i can make a small repro

[2019-07-31 12:35] Mark-Simulacrum commented on #63157
I tend to agree this is not a bug, cc @petrochenkov but closing.

[2019-07-31 12:35] #63157 closed

[2019-07-31 12:36] gnzlbg opened #63160 "Redox builder is temporarily disabled"
#61393 temporarily disables the redox builder, this issue tracks re-enabling it.

cc @jackpot51

[2019-07-31 12:46] Mark-Simulacrum commented on #9307
The reason I don't see tracking it as useful is because it's essentially an internal implementation detail -- similar to having a dedicated issue for random FIXMEs in the code. In this case, it's not even clear that we want to do this -- at least to me. I'll reopen, I guess, because I don't feel strongly enough to argue about it more, but I don't think this is useful.

[2019-07-31 12:50] rkruppe commented on #63159
The least gross and special-cased way I can think of achieving this would be extending `llvm.memcpy` (and related intrinsics) with some extra info about bytes which don't need to be copied, e.g. a bitset in metadata. It would discarded when lowering to a `memcpy` call but could hypothetically be used when expanding to a sequence of loads and stores inline. That's still a lot of implementation work

[2019-07-31 12:59] gnzlbg commented on #63159
Instead of extending memcpy, could the Rust front end generate single loads for each of the fields, and would LLVM be able to merge them as appropriate?

That is, for the OP, I'd expect Rust to emit an 8-bit load. For something like `(u8, u16)` I'd expect Rust to emit two loads (8-bit and 16-bit), and for (u8, u8, u8) I'd expect Rust to emit three 8-bit loads. For (u8, u16) and for (u8, u8, u8) I

[2019-07-31 13:03] rkruppe commented on #63159
I don't think that can work. Leaving aside the huge inefficiencies of emitting so many instructions and praying that LLVM merges them, if we just emit loads and stores for the non-padding bytes and don't say anything about the padding, then LLVM has no indication that it's even allowed to clobber those parts.

[2019-07-31 13:12] jfrimmel opened #63161 "ICE: index out of bounds: the len is 7 but the index is 7"
I encountered an ICE today. Below you find the backtrace of running `cargo test`. I ran `cargo clean` afterwards and the ICE vanished, so it seams to be connected to incremental compilation.

[code]

If required I can attach the full project including the build directories, as I zipped it after the ICE.

[2019-07-31 13:21] nikic commented on #63159
LLVM already supports specifying padding through `!tbaa.struct` metadata: https://llvm.org/docs/LangRef.html#tbaa-struct-metadata

We currently don't use it because we generally aren't interested in TBAA. I also haven't checked whether the padding specified there is actually taking into account.

[2019-07-31 13:28] Nemo157 commented on #63063
It appears that the current implementation does not trigger any "private type in public interface" errors, for the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8949098346fd2c84126e3685e716b2ae)):

[code]

I would expect it to give an error like

[code]

(although, because normal type aliases are transparent to the visibility checking, I'm no

[2019-07-31 13:29] james-darkfox commented on #9307
Thank you @Mark-Simulacrum.

[2019-07-31 13:41] RalfJung commented on #61833
I submitted a PR for this at https://github.com/rust-lang/rust/pull/63162.

[2019-07-31 14:19] jbg commented on #62658
My project doesn't build for ARM even with `rustc 1.37.0-nightly (088b98730 2019-07-03)`, which casts doubt on the above rollup merge containing the cause, I think. (Also possible that there are two similar bugs introduced at different times.) I'll try to bisect.

[code]

[2019-07-31 14:37] sfackler commented on #42788
The default implementation will make that pretty hard to use in practice, unless you already know that your Read implementation overrides it. You're commonly calling read with a large buffer and don't expect it to be entirely filled, so writing to the entire thing before the raw read call imposes a very large performance penalty. There's an issue somewhere on Tokio's issue tracker about a similar

[2019-07-31 15:02] cazgp opened #63164 "internal error: entered unreachable code"
Seems to be something to do with Rocket. Having a `get` on the internal function is causing the compiler to blow up.

[code]

Version:

[code]

Stack trace:

[code]

[2019-07-31 15:05] RalfJung commented on #63159
I am not at all convinced that this is a legal optimization, and I think making it legal is very hard to justify operationally.

`copy_nonoverlapping` says

To me this looks like the description of an untyped, `memcpy`-like operation. I feel fairly strongly that behavior of `copy_nonoverlapping` should *not* depend on the type of the pointers.

[2019-07-31 15:08] RalfJung commented on #63159
In particular, the docs also say that `copy_nonoverlapping` is equivalent to `memcpy`, which in turn [is documented as](https://en.cppreference.com/w/c/string/byte/memcpy):

Given this spec, I see no way to justify not copying padding bytes.

[2019-07-31 15:10] nikic commented on #63159
@RalfJung Not for copy_nonoverlapping possibly, but we should be able to elide padding copies for implicit memcpy's, as in the `foo` example (copy of return value into sret).

[2019-07-31 15:16] RalfJung commented on #63159
Ah, yes, I agree `foo` can be optimized as described in the OP. This can be explained, for example, by [my proposed definition for a "typed copy"](https://github.com/rust-lang/unsafe-code-guidelines/issues/183#issuecomment-516811540).

[2019-07-31 15:19] jbg commented on #62658
My bisect indicates the regression was introduced in 848e0a23f34aaab3e4a974b031c86ef2a4e4fcc1

[2019-07-31 15:31] gnzlbg commented on #63159
@RalfJung

https://rust.godbolt.org/z/Ka2VLG

[2019-07-31 15:34] gnzlbg commented on #63159
I did use `y = *x` in my original comment, e.g., see `fn foo`.

[2019-07-31 15:37] maxdeviant commented on #63164
@cazgp I think this issue might be better-suited for the Rocket repository.

[2019-07-31 15:37] RalfJung commented on #63159
I never claimed it had to. But I claim it has to copy all the bytes, including padding bytes.

Agreed, I had missed that. But if I read your OP correctly, you are saying the optimization should happen for `copy_nonoverlapping` (that's `bar`). I vehemently disagree.

[2019-07-31 15:47] cazgp commented on #63164
Ah OK. The output told me to file an issue here so I thought it might be a compiler problem rather than something specific to Rocket. Can we leave it open for a bit just until it's confirmed as Rocket-specific?

[2019-07-31 15:49] Mark-Simulacrum commented on #63164
Hm, this bug probably originates with interesting codegen in Rocket, but is likely a bug in rustc in the end. I would keep it here, though letting Rocket know about it might not be a bad idea.

[2019-07-31 16:04] gnzlbg commented on #63159
Yep, for `copy_nonoverlapping` as specified, that cannot be done. For `foo` is ok.

TIL that `copy_nonoverlapping<T>` works like `memcpy`. I expected it to work like `std::copy` in C++, which is also generic over T. I think I've never needed `copy_nonoverlapping<T>` for a `T` that is not `u8`, and am surprised that there isn't a typed copy intrinsic that does the sane thing and avoids copying padd

[2019-07-31 16:07] rkruppe commented on #63159
Likewise, I think we should add such a function (or feel out whether we can get away with redefining the existing functions that way).

[2019-07-31 16:43] gnzlbg commented on #63159
I think we would need to survey how users are using it in the wild. The API does say that all bytes are copied and it does not require the memory to be "valid" at `T` (e.g. the API docs do not suggest that `T`s are read or written via the pointers), so users can use any `T` that fits for the operation as long as `size_of::<T>` and the size argument matches whatever memory they want to copy.

I don

[2019-07-31 16:48] adamlesinski opened #63167 "Confusing error message with type unification of impl Traits"
It took a colleague explaining to me that the return type of a function returning an impl Trait is unique across function definitions for me to understand the following error: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4ceda076c82b01ea279e8864518ab5d9

This becomes more important for async/await because of the automatic translation of `async fn foo() -> i64` to `fn foo

[2019-07-31 16:54] ksqsf opened #63168 "Tracking issue for Result::cloned, Result::cloned_err, Result::copied, Result::copied_err"
[PR](https://github.com/rust-lang/rust/pull/63166)

[2019-07-31 17:13] RalfJung commented on #63159
Just to be sure we are on the same side here, the semantics of that would basically to do `n` repeated ["typed copies"](https://github.com/rust-lang/unsafe-code-guidelines/issues/183#issuecomment-516811540)? So, this does not need any new mechanism in the Abstract Machine and can be explained with more primitive operations that we already have?

If it doesn't change the Abstract Machine, I am fine

[2019-07-31 17:14] RalfJung commented on #63159
A typed copy would also imply that this operation is UB if the copied value(s) does not satisfy the validity invariant.

[2019-07-31 17:17] pickfire commented on #22750
@Kixunil Did you mean?
[code]
But I thought having multiple versions of the same crate are allowed?

[2019-07-31 17:27] gilescope commented on #61076
I was thinking that this issue was fairly similar to #63100.

[2019-07-31 17:37] Nemo157 opened #63169 "impl trait in type aliases does not trigger "private type in public interface" errors"
The current implementation of `existential_type` does not trigger any "private type in public interface" errors, for the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f8b7bf41e44a8f7ec207f35eaf879f16)):

[code]

I would expect it to give an error like

[code]

(although, because normal type aliases are transparent to the visibility checking,

[2019-07-31 17:38] Nemo157 commented on #63169
@rustbot modify labels to A-impl-trait, C-bug, F-impl_trait_type_aliases, T-lang

[2019-07-31 17:40] Centril commented on #63154
Slight reduction:
[code]

[2019-07-31 17:44] Centril commented on #63169
cc @petrochenkov

[2019-07-31 17:47] Centril commented on #63161
If possible, we would most of all appreciate a reproducer that works on the playground but if that's not possible a link to the zip would be good also.

[2019-07-31 17:51] Centril commented on #63164
I'm going to label this as P-high for now since it affects Rocket.

cc @petrochenkov re. macros & privacy.

[2019-07-31 17:56] doctorn commented on #61076
It is essentially the same issue. It boils down to altering the trait inference code to give diagnostics when certain necessary trait predicates don’t hold. For example if you consider the question mark case:

[code]

The error here arises because `Future<Output=Result<(), ()>>` does not implement `std::ops::Try`; however, it’s obvious to us that the `Output` type does, so we want to await here.

[2019-07-31 17:57] Centril commented on #63167
How about?:

[code]

In the second case I think we should suggest that the `.await`s be moved into the branches tho this may be complicated to encode as a diagnostic.

cc @estebank

[2019-07-31 18:01] doctorn commented on #61076
#63100 only points out cases where we have a concrete expected type which are the same cases I covered with #62067. Covering expected trait bounds is where it gets sticky.

[2019-07-31 18:18] adamlesinski commented on #63167
This is perfect! It's the exact hint I needed to understand the problem :)

Agreed, this is definitely a bit trickier. I'll defer to you on the best way to message this error.

[2019-07-31 18:40] bdonlan commented on #57977
Although these were added for testing, it is occasionally useful to have a way to probe optimistically for whether a weak pointer has become dangling, without actually taking the overhead of manipulating atomics. Are there any plans to stabilize this?

[2019-07-31 18:59] petrochenkov commented on #63169
This is intentional, `impl Trait` is opaque and equivalent to `dyn Trait` from the privacy checking point of view.
For other crates the return type of `foo` looks like public `std::fmt::Debug` and doesn't leak any info specific to the private `Bar`.
(Except for `Send`/`Sync` which were explicitly decided to be leaked by `impl Trait`, unfortunately or not).

A motivating example:
[code]

RFC: https

[2019-07-31 19:05] #63024 closed

[2019-07-31 19:29] emilio opened #63171 "f32 formatter produces strange results"
Test-case:

[code]

I expected both to produce the same number, since that number is a perfectly representable `f32` value.

This bit me because I was investigating [an issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1570236) where values close to integer limits were treated as negative.

Seeing `2147483600` (in range for an i32) rather than the actual value `2147483648` (out of range for an `

[2019-07-31 19:39] mustafaemirtan opened #63172 "TcpListener does not listen any requests"
I wrote this code for build a simple TCP server:
[code]
and tested it with this code:
[code]
The result at client-side:
[code]
at server-side:
[code]
and an infinite wait at both results.

My version:
[code]

[2019-07-31 19:58] Nemo157 commented on #63169
The problem is that with RFC 2515 the `impl Trait` alias essentially becomes a new nominal type, by having a public API mentioning this unreachable alias you create APIs that cannot have their values stored and retrieved from non-inferred locations.

As an extended example [this playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=281e9b10675184d760e55819b2736436) t

[2019-07-31 20:03] Nemo157 commented on #63169
(btw `Bar` wasn't really anything to do with the bug, just leftover from me trying stuff out in that playground, I've removed it from the example).

[2019-07-31 20:25] Centril commented on #63169
I'm not sure that's so much of a problem; notably you can still use `foo::bar(foo::foo());` and inferred locals are still available if you need to store in a local.

What's nice about the current semantics is that `type Alias = TypeExpr;` will not need a special rule for `Visibility X WasThereImplTrait` which should simplify both the mental model and the compiler.

[2019-07-31 20:39] petrochenkov commented on #63169
@Nemo157
I see the issue, but type privacy is supposed to solve the opposite problem - preventing leaks, rather than ensuring that everything reachable can be named as well.
One of the [lints](https://github.com/rust-lang/rfcs/blob/master/text/2145-type-privacy.md#lints) proposed by RFC 2145 will help to detect unnameable things, but it's not implemented yet.

[2019-07-31 21:00] varkor commented on #62976
@punitkoura: if you want help finding another good issue to work on, feel free to send me a message on Discord or Zulip. Any of the E-easy or E-mentor issues are good choices, though.

[2019-07-31 21:02] estebank commented on #62254
@Centril would having an arbitrary size limit in arrays used in patterns help with masking #53820 to stabilize earlier?

[2019-07-31 21:10] punitkoura commented on #62976
Thanks @varkor. I'll be on the lookout 🙂

[2019-07-31 21:12] Centril commented on #62254
@estebank Seems like bad policy to encode such arbitrary limits in the language itself? At minimum I want to know why it is the case that https://github.com/rust-lang/rust/issues/53820 happens and whether it is fundamental or a bug that we can fix soon-ish.

[2019-07-31 21:35] Arnavion commented on #63167
Doesn't it already does so?

[2019-07-31 21:36] iluuu1994 commented on #61738
@Centril

Is this one expected to fail?

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=81d86cad842d74f4307d62b4e5ab1a49

[code]

[code]

Not sure how `I::Item` is ambiguous.

[2019-07-31 21:38] jbg commented on #62658
I've narrowed down the block of code that triggers the regression, and simplified it to the extent possible, but when extracted from the project it no longer causes rustc to panic. In case it's useful:

[code]

If the line with the arrow is commented out, the code compiles. Uncommented, it fails with:

[code]

Will update if I have any success producing a standalone reproduction.

[2019-07-31 21:43] Centril commented on #61738
Yeah that's ambiguous.

[2019-07-31 21:43] iluuu1994 commented on #61738
Additionally, switching to associated type bounds requires even more `as` redundancy:

Without associated type bounds this is ok:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a3dba78b4b8af6a3710dc3351b8e2b0a

[code]

This one isn't ok:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d608b0e4b2a9b0f2bd4abfb06bc492ac

[code]

[code]

This one is

[2019-07-31 21:47] iluuu1994 commented on #61738
How so? Can't `I` just be an `Iterator` which only has one associated type `Item`? Please note I'm not questioning your answer, I just don't understand it.

[2019-07-31 21:58] estebank commented on #63167
@Centril what is the correct nomenclature for a regular, non-opaque type that we could use here? With that we could say something like "consider materializing to an explicit type in both branches from the opaque type" and "for `impl std::future::Future` you can `.await` them on both branches to unify the types". This is rough wording, but gives an idea of what I'm thinking.

[2019-07-31 22:04] estebank commented on #63164
Without looking too deeply I would wager that we're getting a `ForeignMod` here, although it could be any other `ItemKind` which would be worrisome:

https://github.com/rust-lang/rust/blob/676d282dd3cd2dedba651e98c9a41af42983f08b/src/librustc_privacy/lib.rs#L761-L768

[2019-07-31 22:09] jbg commented on #62658
OK, I managed to extract a standalone reproduction:

https://github.com/jbg/rust-ice-repro

[2019-07-31 22:13] jonas-schievink commented on #62658
cc @tmandry @matthewjasper

[2019-07-31 22:13] jbg commented on #62658
I added a comment in the repo; you can make it build or fail to build by just reversing the order of two lines of code.

[2019-07-31 22:15] Centril commented on #63167
@estebank The antonym of *opaque* is *transparent* but I'm not sure that is situationally good to use here. ISTM you'd want to say something like "use an enum with variants for both cases" (at least that's the advice I'd give in person). I'd go for a non-actionable description as a first pass at this problem and consider an improvement later.

[2019-07-31 22:26] Centril commented on #61738
This seems similar to the bug in https://github.com/rust-lang/rust/issues/61752 :(
cc @alexreg

Honestly I don't really sure why that is the case but it has been ambiguous since forever. :)

[2019-07-31 22:36] iluuu1994 commented on #61738
Haha ok that works for me 🙂

[2019-07-31 22:43] varkor commented on #60804
@petrochenkov: if you actually have a fix for this, you're very welcome to take it — I only assigned myself to remind myself to get to it, but I don't think I'll have time very soon. Thanks for investigating, in any case!

[2019-07-31 22:47] petrochenkov commented on #60804
No, I don't have a ready fix.

[2019-07-31 23:09] estebank commented on #63135
@ExpHP `expected <something>, found <closing delimiter>` is an unfortunate side effect of the unmatched delimiter recovery logic not accounting for `TokenTree`s. Submit a PR with this patch to fix this ICE as fixing the slightly misleading message will require a much larger (unrelated) change.

[2019-07-31 23:33] est31 commented on #49146
@oli-obk your link doesn't work. What does it say?

[2019-08-01 00:06] MOZGIII opened #63178 "Tracking Issue for Iterator::find_result"

[2019-08-01 01:58] abonander opened #63183 "fs::read_dir() and ReadDir need clear warnings about not relying on iteration order"
The docs for `fs::read_dir()` and `fs::ReadDir` need to clearly state that iteration order is implementation defined and may vary not just between OS's but between identical versions of a directory on different filesystems.

Currently the warning on `fs::read_dir()` is uselessly vague:

Meanwhile even this warning is completely missing from `ReadDir`.

Finding the semantics on ordering requires go

[2019-08-01 02:02] abonander commented on #63183
The good news is that this would be a good issue for a beginner since it should just be touching docs. An example for getting entries sorted by path would be nice too.

[2019-08-01 02:21] nagisa commented on #63171
Not sure why the expectation here, as `2147483648.0f32` is not exactly representable in `f32` and after rounding you get `2147483600.0f32` which is what you see printed. Next representable float is `2147483904.0f32`.

[2019-08-01 02:30] nagisa commented on #63171
The bytes put into the binary are correct, so it is indeed an issue in formatting routines.

[2019-08-01 02:55] benw opened #63185 "spurious error "cannot borrow `*x` as mutable more than once at a time""
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9aa85d24c70ca1f05a41441093351901))

[code]

I fail to see any potential undefined behaviour in this code.

Removing the match arm guard allows this to compile.

Also weird that the error mentions `x.0` when `x` is not a tuple.