[2016-07-25 23:39] doppioslash commented on #11724
Still there...

[2016-07-25 23:50] eddyb commented on #35005
@srdqty The technical explanation is that the type-checker uses the exact definitions (via numerical IDs) and does not care about privacy of types. The type-system really needs that because you can easily mix all sorts of types in generic code.

But that's not *that* relevant. The privacy system, as I've been told (by @petrochenkov, who refers to @pnkfelix), is only intended to prevent module-leve

[2016-07-26 00:01] aidanhs commented on #19188
On the topic of `Option<String>` to `Option<&str>`, one option is given in http://stackoverflow.com/questions/31233938/converting-from-optionstring-to-optionstr

[code]

[2016-07-26 00:10] japaric commented on #31322
(Heh, I'm not totally sure if I should this here or in one of the other closely related open issues but here it goes)

Update: I got a rustc that works an Alpine. I have thrown a tarball of said compiler in [my Dropbox] in case anyone is interested in trying it out. I tested the compiler with the following smoke test:

[my Dropbox]: https://www.dropbox.com/sh/t3vs8sjc3u8rzzr/AACmcqrvoKZGX9pWd1eC_d

[2016-07-26 00:38] jirutka commented on #31322
This is really great news! Excellent work, @japaric! 🎉

Absolutely. Although I’m more a fun of static linking, I don’t understand Rust’s implication musl → static linking. musl can be statically linked without any problems (unlike ***** glibc…), but that doesn’t mean that it can’t be dynamically linked as well. Most of the Alpine Linux is dynamically linked.

Me neither, musl libc and Alpine are t

[2016-07-26 01:25] japaric commented on #31322
I agree, but it's too late. Changing it will probably break a bunch of build scripts.

Sure, I'll ping you when it's updated.

[2016-07-26 10:35] jupp0r commented on #31322
I've been working on producing a static rustc the last few days, to no avail unfortunately.

[2016-07-26 11:12] asdfopiweut commented on #34881
It's not about inline assembly imo:
[code]

[2016-07-26 12:58] nikomatsakis commented on #33216
Agreed, not a bug. The enum type `Y` (in the original example) was declared as `pub`, meaning "potentially accessible by the entire world". If the desire was to limit the type to the `a` module, then `pub(a)` would have been correct. I'm going to close, but feel free to re-open or disagree.

[2016-07-26 12:58] #33216 closed

[2016-07-26 13:03] nikomatsakis commented on #35005
The goal of the "private-in-public" checker is **not** to ensure that the all public bits of the API are reachable. Rather, it's goal is to ensure that all **private bits** are **not reachable**. That is, we want to be sure that if you declare a type as private, you know that it can't be accessed used from outside the current module. This is important because unsafe code often relies on the assump

[2016-07-26 13:34] nikomatsakis commented on #31436
@glaebhoerl

Indeed. Can you refresh my memory and start out with some examples of things you would think should be forbidden? Or perhaps just the laws you have in mind? I have to admit that I am wary of "laws" like this. For one thing, they have a tendency to get ignored in practice -- people take advantage of the actual behavior when it suits their purposes, even if it goes beyond the intended l

[2016-07-26 13:41] alexbool commented on #31436
By the way, what is the state of `catch` expressions? Are they implemeted?

[2016-07-26 13:52] pmarcelll commented on #34891
It seems like the new nightly fixed this.

[2016-07-26 14:01] nikomatsakis commented on #34349
That is what I meant by caching, basically.

[2016-07-26 14:03] nikomatsakis commented on #31847
It does seem like there is room to have flags that, at minimum, have undefined **output**. Which effectively means they are unstable and can't really be used for scripting. I am thinking of things like gcc's "dump ast" flags (`gcc -fdump-tree-vcg -g test.c`).

[2016-07-26 14:04] nikomatsakis commented on #30191
Closing as dup of #19032.

[2016-07-26 14:04] #30191 closed

[2016-07-26 14:09] nikomatsakis commented on #33727
@michaelwoerister so the *simplest* thing I can imagine is just to hash the options and encode that in the serialized state. When we re-load the state, we could compare against our current options and just choose to ignore everything if the options changed. But I guess if you've worked through some of the dep-graph approach that'd be that much better.

[2016-07-26 14:15] nikomatsakis commented on #22590
I have been wanting for some time to switch to more of a "backtrace" style error. I think we should lead with the top-level thing which is unsatisfied (in this case, `C: A`, as @nagisa noted) and then offer some note as to the impls that *almost* applied but didn't (that would be the ones on the backtrace). @nagisa's suggestion is perhaps roughly how I would go (modulo precise wording).

This seem

[2016-07-26 14:30] hank-der-hafenarbeiter opened #35044 "Matching strings in beta and nightly"
when matching &str in nightly or beta the following code always returns the first match case:
[code]
Expected behaviour is returning the fitting case. This can be fixed by removing the "&" in front of the last case.

##Meta

tested on my machine with: rustc 1.11.0-nightly (bb4a79b08 2016-06-15)
tested on [here](http://play.integer32.com/) with beta and nightly showing the bug and stable giving a r

[2016-07-26 14:31] goertzenator opened #35045 "Add i586-unknown-linux-gnu rustc binaries"
Filing this issue as recommended [here](https://github.com/japaric/rust-cross/issues/24).

`rust-std` binaries are provided for i586-unknown-linux-gnu, but not `rustc`.  Can we have `rustc` binaries too?

I am working on an embedded Vortex86 CPU(not quite i686).  I would like to have a `rustc` that targets i586 by default because...
- I was unable to build my own rustc that targets i586 by default

[2016-07-26 14:36] ranma42 commented on #35045
Be aware that even the i586-unknown-linux-gnu target for rust actually requires some features that might not be available on i586-compatible processors, as it basically means i686 (for example it might use CMOV).

[2016-07-26 14:36] nagisa opened #35046 "::std::process::exit does not document interpretation of the argument"
On systems where the glibc `exit` call is used, the exit code returned to the OS is actually `code & 0xff`. This made my exit code of `0xb00_b00` be a success.

We should ~~either figure out how to make `glibc` pass through the exit code verbatim, or~~ document this atrocity.

[2016-07-26 14:36] bstrie opened #35047 "Add a test for AddAssign on String"
https://github.com/rust-lang/rust/pull/34890 was merged, but it should have had an accompanying test.

[2016-07-26 14:52] #34891 closed

[2016-07-26 14:55] goertzenator commented on #35045
Can you tell me more about this?  I assumed I could use Rust on i586 but maybe that's not the case.  I've got a "hello world" test program running on i586 but it would be very frustrating to hit a brick wall as I write more complex code.

[2016-07-26 14:56] eddyb commented on #34891
@pmarcelll What nightly? https://static.rust-lang.org/dist/index.html doesn't list anything newer than 2016-07-21.

[2016-07-26 15:00] rkruppe commented on #34891
`rustup update` gave me a nightly with a commit-date of June 24 (9316ae515) and the [dashboard](http://rusty-dash.com/nightlies) picked it up as well.

[2016-07-26 15:01] CodeMonkey90 commented on #31383
@steveklabnik Is there any other way to track the status of this feature request?

[2016-07-26 15:12] eddyb commented on #34891
@rkruppe Ah, @alexcrichton informed me that it was a manual build and not enough was updated.

[2016-07-26 15:30] jonathandturner commented on #22590
@nikomatsakis

Just sketching it out.  Maybe something like this?

[code]

Though we might want to play with the spans.  At least seems promising.

[2016-07-26 15:42] nikomatsakis commented on #33242
cc @rust-lang/compiler -- @arielb1 has a PR to turn this into a hard-error (#34982). I started a crater run but am generally in favor, although it's not quite per policy (that is, it's not the start of a release cycle, etc). We don't seem to have that policy running in "full gear" though. Thoughts?

[2016-07-26 15:42] nikomatsakis commented on #33243
cc @rust-lang/compiler -- @arielb1 has a PR to turn this into a hard-error (#34982). I started a crater run but am generally in favor, although it's not quite per policy (that is, it's not the start of a release cycle, etc). We don't seem to have that policy running in "full gear" though. Same applies to #33242, so for now let's discuss there (though it's conceivable that the impact is different).

[2016-07-26 15:48] nikomatsakis commented on #31436
Sadly no :(

On Tue, Jul 26, 2016 at 06:41:44AM -0700, Alexander Bulaev wrote:

[2016-07-26 15:54] alexbool commented on #31436
Perhaps you should plan implementing it? There is nothing more depressing than accepted but not implemented RFCs...

[2016-07-26 15:59] oli-obk commented on #35044
The MIR looks fine, and it works fine with `-Zorbit` enabled

[2016-07-26 16:07] petevine commented on #35045
@goertzenator
I already verified almost a year ago (before that target was officially available) a locally bootstrapped i586 target was fully compatible with pentium-class processors.

Can't vouch for the official distribution, of course, but if you were to correctly cross-bootstrap it yourself, you'll be absolutely fine. (otherwise it's a recent bug)

[2016-07-26 16:08] jonathandturner commented on #22590
A better one...

[code]

[2016-07-26 16:15] ranma42 commented on #35045
@goertzenator sorry, my bad, I was remembering incorrectly, the unusual target is `i686` (which actually targets pentium4, as per Clang's defaults). The `i586` target requires only a `pentium`-compatible processors (as per @petevine's [PR](https://github.com/rust-lang/rust/pull/31629/files#diff-9918f1f1e58581023cc3a5e20be3252fR19)), thus it should work just fine.

[2016-07-26 16:37] goertzenator commented on #35045
Thanks for clearing that up.  Panic attack averted.

[2016-07-26 16:46] nikomatsakis commented on #34991
So I did some digging. There are a few bugs I think.

One of them occurs is you run with `-j1 -v`, in which case you get an error in the SVH code at `src/librustc_incremental/calculate_svh.rs:94`, where we call `expect_item`, but sometimes the def-id corresponds to a foreign-item.

There seems to be a distinct bug that occurs with the default amount of parallelism which (I think) must relate to re

[2016-07-26 16:52] nikomatsakis commented on #34166
@arielb1 can you elaborate a bit on your comment. For example:

What do you mean by "unit cell"? What is the Rust code from which this is generated?

Same question :) what is the rust code? What is "pair-passing style"?

Let me take my best guess :).  I think by "pair passing style" you are referring to the rust-call convention, where we are tupling up the arguments? Certainly I see that in your s

[2016-07-26 18:04] jseyfried commented on #34535
@brson @arielb1 The ICEs are fixed by #34963, which has been approved but is having trouble landing due to spurious build-bot failures.

[2016-07-26 18:21] posborne commented on #34592
@alexcrichton  I'm running into this on 1.10 and it also fails on `rustc 1.11.0-beta.1 (8dc253bcf 2016-07-05)` (but not nightly).  For me, my code crashes if I (or a user) provides invalid JSON that correct code tries to parse using .  I would very much like to see a fix in 1.11 if possible.  Any chance of that?

This bug would seems to breaks the canonical way of doing JSON parsing for the majori

[2016-07-26 18:25] munyari commented on #35047
I would like to take this on

[2016-07-26 18:29] eddyb commented on #34592
@posborne I've nominated #34658 for backporting to beta, thanks for bringing it up.

[2016-07-26 18:29] alexcrichton commented on #34592
@posborne sure! I've nominated the PR for a beta backport at https://github.com/rust-lang/rust/pull/34658#issuecomment-235361157

[2016-07-26 18:44] nikomatsakis commented on #34991
Fixing the problem with `expect_item` was easy. I am now investigating the second failure. Seems to be that when processing `xml-rs` we create an invalid read from a foreign HIR node, labeled as `<std::vec::Vec<T> as std::ops::Drop>`. I'm not 100% sure yet where this occurs but I guess sometime in trans?

[2016-07-26 18:45] cybergeek94 commented on #35046
I don't know how to ask this more politely so I'll just go for it. Did you mean for your error code to spell out "boob" or is that a coincidence and the error code has some other semantic meaning to your program?

[2016-07-26 19:05] michaelwoerister commented on #33727
@nikomatsakis Prototyping the DepGraph approach was mostly to get a feel for what it would look like -- and subsequently lead me to prefer the simpler approach. What you describe is pretty much how I intend to implement it, just with filtering out those options before hashing that should not have any influence.

[2016-07-26 19:08] munyari commented on #34455
@steveklabnik I'd like to work on this with you. Where should one begin?

[2016-07-26 19:12] knight42 commented on #35031
Sorry for the mess :sweat_smile: I guess it is clearer now.

[2016-07-26 19:29] nikomatsakis commented on #34991
OK, the other problem goes away with `-Z orbit`, and is due to how "old trans" handles inlined functions.

[2016-07-26 19:30] nikomatsakis commented on #34973
Maybe we should just make `-Z incremental` imply `-Z orbit`? In any case, I just spent a bit of time debugging a case where I forgot to use -Z orbit =)

[2016-07-26 19:30] michaelwoerister commented on #34991
Have you tried turning backtraces on? That should give you idea where it occurs.

On July 26, 2016 8:44:31 PM GMT+02:00, Niko Matsakis <notifications@github.com> wrote:

[2016-07-26 19:34] nagisa commented on #35046
I was meaning to spell out “Boo! Boo!”, because I remembered it accepting a i32 and had nothing better to do this evening. Alas.

[2016-07-26 19:40] nikomatsakis commented on #34991
Actually, I still get an ICE even with -Z orbit, but it occurs later. It seems to all be connected to `register_reads`, which seems a bit suspicious to me now that I look at it a bit more closely. I'm actually not sure if it's even needed, to be honest. It seems like the "trans item" is just a def-id and substs, so I would expect we should just start a suitable task and whatever reads are needed w

[2016-07-26 19:43] nikomatsakis commented on #34991
Maybe @michaelwoerister we should touch base on the whole scheme here to make sure we've got it all setup right? Doesn't feel like trans needs to be particularly special.

[2016-07-26 19:44] nagisa commented on #22590
@jonathandturner remember that delegation chain could be inifinitely long¹, thus we should strive somewhat to ensure that multiple such suggestions can be presented in readable way.

¹: https://play.rust-lang.org/?gist=4a8db1abe419dab9a9fb4e52c4ebf4e3&version=stable&backtrace=0 is an example extended to have an extra trait in the chain.

[2016-07-26 19:48] jonathandturner commented on #22590
@nagisa Heuristics are fair game here.

[2016-07-26 19:55] nikomatsakis commented on #31434
@brson this is basically implemented, except that I don't think I did anything clever for the exhaustiveness check. I updated the check marks. The semantics are still (in my mind) basically a kind of temporary hack.

[2016-07-26 20:41] jjpe opened #35052 "Symbol mangling happens despite #[no_mangle] or #[link_name]"
I see symbols being mangled despite using `#[no_mangle]` or `#[link_name = "foo"]`. Specifically, the symbols are being prepended by `_`, i.e. `foo` gets mangled to `_foo` rather than being accessible as `foo`.

I tried this code:

[code]

and

[code]

## Meta

OS: `OS X 10.10`

`rustc --version --verbose`: I tried both

`rustc 1.10.0 (cfcb716cf 2016-07-03)
binary: rustc
commit-hash: cfcb716cf0961

[2016-07-26 20:50] nikomatsakis commented on #34973
Maybe we should just make `-Z incremental` imply `-Z orbit` or something like that?

[2016-07-26 20:55] steveklabnik commented on #34455
@munyari great! So, https://github.com/rust-lang/rust/blob/master/src/libcore/macros.rs#L33-L60 and https://github.com/rust-lang/rust/blob/master/src/libcore/macros.rs#L111-L145 are where the text goes.

What do you think about @gnzlbg 's draft of the comments? Feel free to open a PR (I can help walk you through that too if you need) with it, or some variant of it, in your own words, and we can go

[2016-07-26 20:57] brson commented on #35052
The `_` prefix isn't considered to be part of the Rust name mangling - it's part of the platform ABI for OS X. I don't know of any way to get a symbol in Rust on OS X without the `_`, so seemingly the language would need a new mechanism to mean "use this exact string for the symbol name".

[2016-07-26 21:00] japaric commented on #35045
cc @alexcrichton

[2016-07-26 21:02] jjpe commented on #35052
Having no knowledge of rustc's source code, it seems to me that that is the purpose of `#[link_name = "..."]`. But I could be mistaken.

[2016-07-26 21:32] retep998 commented on #31383
@CodeMonkey90 Feature requests usually belong in the rfcs repo.

[2016-07-26 21:54] sgrif commented on #30191
@nikomatsakis I'm fine with closing as a dup, but based on your example shouldn't the blanket impl for `From` be illegal as well?

[2016-07-26 22:06] alexcrichton commented on #35052
Ah the `#[no_mangle]` is actually just for Rust's mangling (as @brson mentioned). To disable the "mangling" LLVM does (e.g. adding the `_` in front) you can work with a likely undocumented escape hatch in LLVM:

[code]

That is, explicit symbol names which start with the 1 byte get no extra mangling at the LLVM layer, and that 1 byte is stripped.

[2016-07-26 22:09] alexcrichton commented on #32481
Looks like this may randomly get fixed by https://github.com/rust-lang/rust/pull/34743

[2016-07-26 22:11] nikomatsakis commented on #32753
I'm going to take a stab at hacking on this.

[2016-07-26 22:19] retep998 commented on #32481
Using this code.
[code]
This is the current situation.
[code]
When that PR lands and gets into nightly, I will post fresh results to confirm what occurs.

[2016-07-26 22:28] tbu- commented on #35046
It seems to me that Rust is already doing the correct thing:

[code]

Strace:

[code]

[2016-07-26 23:05] alexcrichton commented on #34978
The tools team got a chance to talk about this during triage yesterday, and our conclusion was that this wasn't a *super serious* regression but we'd love to fix this! We're not entirely sure how to do so ourselves, so help would greatly be appreciated!

[2016-07-26 23:07] jwilm commented on #34978
Is there a workaround for this other than sticking to an older nightly?

[2016-07-26 23:09] alexcrichton commented on #34978
@jwilm for me at least updating to a Ubuntu 16.04 docker container also fixed it, and I think the underlying issue according to @eefriedman is that a newer binutils is required to link. If either of those can be arranged I think that'll get things working again.

[2016-07-26 23:11] jethrogb opened #35057 "Tracking issue for `no_panic_abs` stabilization"
See https://github.com/rust-lang/rfcs/pull/1678 and https://github.com/rust-lang/rust/pull/35058

[2016-07-26 23:27] nrc commented on #33242
fine by me if Crater is OK

[2016-07-26 23:31] nrc commented on #25879
cc me (and also, sigh)

If anyone wants to tackle this I'm happy to mentor, however, it won't be super-easy.

[2016-07-26 23:35] nikomatsakis commented on #32753
Somewhat surprisingly, I'm finding that the hash of items where the only change is a `use` in scope *does* change. Trying to get to the bottom of that.

[2016-07-26 23:35] alexcrichton commented on #35045
Most of the changes necessary here will be done in https://github.com/rust-lang/rust-buildbot rather than this repository. The changes may not be super easy to do as our 32/64 musl situation is a bit hectic, but [`master.cfg`](https://github.com/rust-lang/rust-buildbot/blob/master/master/master.cfg) is the place to look, namely [this array of targets](https://github.com/rust-lang/rust-buildbot/blo

[2016-07-26 23:35] nikomatsakis commented on #32753
Also, it seems likely that we don't need to include nested items in the hash at all, no?

[2016-07-27 00:29] wesleywiser commented on #34985
Ok cool! I believe your hunch was correct. The code was balling out too soon if the function's ABI wasn't Rust. Removing the early return and running the above commands no longer shows those symbols. Is there any other tests I should run before opening a PR? (The `check-stage2` target passes on OS X.)

[2016-07-27 00:40] alexcrichton commented on #34985
Awesome! I'd run a full `make check` just to be sure, but if that passes it's probably good to go

[2016-07-27 01:01] japaric commented on #31322
@jirutka [The gist](https://gist.github.com/japaric/52b8816a4c86f5a4699bcc50ebc3e020) has been updated.

[2016-07-27 01:13] lu-zero opened #35059 "Unexpected panic when building code using interpolate_idents"
I'm not exactly sure what is causing the problem but the initial [poc](https://github.com/rust-av/rust-av/commit/0eeaf58a39b2cf69bf67090e5a37a79928d23eea) has no problems while [extending](https://github.com/rust-av/rust-av/commit/c42516d74465e556a37cdb21bea01d94d0c8e801) the macro triggers the following panic:

[code]

[2016-07-27 01:35] retep998 commented on #34981
Just checking, will this apply to align and packed (when they are finally implemented) so that I can do `#[repr(align(4))]` or `#[repr(packed(4))]`?

[2016-07-27 01:38] eddyb commented on #34981
@retep998 That is the intention AFAIK, yes.

[2016-07-27 02:05] jvns opened #35061 "relocation-model=dynamic-no-pic passes `-pie` to ld"
I'm having trouble linking a Rust program to a non-position-independent C library. When I manually remove the `-pie` flag from the ld step that rustc runs, everything works correctly. I think that `-C relocation-model=dynamic-no-pic` should remove the `-pie` flag for me, but it doesn't.

Here's what I think is going on:

When I run

[code]

It runs ld with the `-pie` flag:

`execve("/usr/bin/ld",

[2016-07-27 03:43] comex commented on #35052
For reference, in C, using the `asm`-on-declarations GNU extension on OS X omits the underscore:

[code]
Arguably it would be more consistent for Rust to do the same with `export_name`, though that would be breaking.

[2016-07-27 03:45] retep998 commented on #35052
Really I think we just need to properly document the `"\x01foo"` trick somewhere.

[2016-07-27 03:50] comex commented on #35052
Yuck... it's confusing enough that mangling adds characters you didn't write, without added magic that removes characters you did write.  I would much prefer either changing `export_name` or adding another attribute (`export_name_asm`?).

[2016-07-27 04:33] Aatch commented on #35046
@tbu- unfortunately, somewhere along the way, it gets truncated down to a single byte. If you run that program and inspect the exit code, you should see 161.

Looks like this is something that is platform-specific and we should just make a note of it in the docs.

[2016-07-27 04:39] lambda opened #35065 "rustdoc --test only detects rust vs. markdown based on filename"
If I run `rustdoc --test` on something that doesn't have a file extension, it interprets it as Rust code. This makes it inconvenient to run on something piped in, say via Bash process redirection:

[code]

There isn't any way to override this, by providing a `--markdown` flag or the like.

Also, for this use case, would be nice if you could provide input on stdin instead of via bash process redire

[2016-07-27 04:48] retep998 commented on #35052
Normally the ABI decoration is desired though. If some code links to an extern C function named `foo`, it usually is actually looking for the decorated form of that, such as `_foo` or `_foo@4` (stdcall) or even `@foo@4` (fastcall), and if some code defines an extern C function named `foo` it is usually defined having the decorated form of that as well. This form of decoration is the standard thing

[2016-07-27 04:54] retep998 commented on #35046
Just did a quick test to verify the behavior on other platforms. On Windows the exit code is definitely a 32bit integer and no truncation of its bits occurs. Whether it is signed or unsigned seems to vary.

[2016-07-27 04:56] ubsan commented on #35046
`_Noreturn void exit(int status);`

Finally, control is returned to the host environment. If the value of `status` is zero or `EXIT_SUCCESS`, an implementation-defined form of the status successful termination is returned. If the value of status is `EXIT_FAILURE`, an implementation-defined form of the status unsuccessful termination is returned. Otherwise the status returned is implementation-defi

[2016-07-27 05:04] ubsan commented on #35046
We could do something like "if status is zero, then successful; if status is one, then unsuccessful; otherwise, implementation-defined"

[2016-07-27 05:30] retep998 commented on #35046
According to http://man7.org/linux/man-pages/man2/waitpid.2.html
[code]

[2016-07-27 05:36] Aatch commented on #35059
Looks like this is a bug in the `interpolate_idents` crate.

[2016-07-27 06:04] arielb1 commented on #35044
I think I broke old trans `_match` with my slice-patterns PR (#32202).

[2016-07-27 06:27] michaelwoerister commented on #32753
I would think so too.

[2016-07-27 07:35] ubsan opened #35067 "UnsafeCell::into_inner should not be unsafe"
It's been unsafe since 2014 when it was called `unwrap`. Nobody thought about it, I guess, but it shouldn't be unsafe.

[2016-07-27 07:43] retep998 commented on #35067
For reference the PR which added it is https://github.com/rust-lang/rust/pull/12686

[2016-07-27 08:42] ticki commented on #35035
Here's a temporary workaround:

[code]

[2016-07-27 08:56] ticki commented on #35035
@steveklabnik the `A-libs` tag is wrong.

[2016-07-27 09:09] nagisa commented on #35046
from linux’s exit(3)

from OpenBSD exit(3)

from POSIX exit(3)

from OS X exit(3)

---

Common topic here (as also pointed out by other people, already) is that its not the exit code that gets passed to `exit(2)`/`exit_group(2)` which is truncated, but the exit code that is inspected by `wait`.

IMO in this case both `process::exit` and various ways to `wait` for children in libstd should mention

[2016-07-27 09:26] #34726 closed

[2016-07-27 10:06] tbu- opened #35068 "Tracking issue for the functions for debug escaping `char_escape_debug`"
`std::char::escape_debug`, `std::char::EscapeDebug`.

[2016-07-27 10:41] nagisa commented on #35061
`-pie` and `-pic` are two distinct things. `-pie` is also unrelated to the `relocation-model` option. Interestingly, I do not remember us having an option to disable PIE; we should have one.

[2016-07-27 10:58] jjpe commented on #35052
I omitted this initially in an attempt to keep the thread focused.
But now I think it's a good idea explain my exact use case:

I'm developing an Emacs module. Modules are a new Emacs 25 feature and basically provide an FFI to the C world. Emacs requires each module to have a symbol `plugin_is_GPL_compatible` to be present, otherwise it will refuse to load the module.

I have a working C module (w

[2016-07-27 11:04] retep998 commented on #35052
Perhaps you could try using the new `cdylib` crate type.

It shouldn't.

[2016-07-27 11:10] jjpe commented on #35052
@retep998 I just tried changing
[code]
to
[code]
But those 2 produce identical results for me when using `rustc 1.12.0-nightly (9316ae515 2016-07-24)`, both in lib output and in how Emacs treats them.

[2016-07-27 11:25] #35052 closed

[2016-07-27 12:08] ubsan commented on #34267
Fixed by #34461

[2016-07-27 13:31] jjpe commented on #35052
I think I finally figured out what happened. Emacs wants the dynamic lib to have a `.so` extension, to the point that building my library as a regular `.dylib` and renaming the extension to `.so` actually works. Weird quirk on Emacs' part.

[2016-07-27 13:47] nikomatsakis commented on #32753
Never mind, my test was bogus.

[2016-07-27 13:53] nikomatsakis commented on #32753
I edited the summary to incorporate @michaelwoerister's analysis results as a check-list of changes.

[2016-07-27 14:29] lu-zero commented on #35059
That's what I initially though, but `interpolate_idents` passes its tests.

[2016-07-27 15:41] KennethAdamMiller commented on #34987
I actually would like to just make my voice heard and let people know that I could really use this feature myself.

I've been in the process of following another route, which is adding another compile target for alternative libc implementations and editing the musl target to remove the static flag that's always getting passed in. Currently I'm stuck adding that target with a compile error where it

[2016-07-27 15:50] kvark commented on #34857
Can we just `impl<R: Read> Into<String> for R {...}`?

[2016-07-27 15:52] durka commented on #35067
Someone thought about it enough to [document the rationale](https://github.com/rust-lang/rust/blob/master/src/libcore/cell.rs#L895):

Has something changed to make this consideration unnecessary or do you have an explanation of why the reasoning is faulty?

[2016-07-27 15:55] retep998 commented on #35067
@durka Because the function takes `self` so by definition it must be the owner of the value so there can be no other viewers, either from this thread or another thread.

[2016-07-27 16:11] KennethAdamMiller commented on #34987
Oh, turns out that I just fixed my current fork issue, and am able to move past that compilation error for the new uclibc target. If I complete it, I will put in a merge request.

On another note, I haven't had a chance to start the dynamic musl target yet.

[2016-07-27 16:19] japaric commented on #34987
I got dynamic musl working. Check [this thread](https://github.com/rust-lang/rust/issues/31322#issuecomment-235124632); there's a gist to build a dynamic musl in a docker container there.

[2016-07-27 16:42] #34267 closed

[2016-07-27 16:44] alexcrichton opened #35070 "Tracking issue for RefCell::{try_borrow, try_borrow_mut}"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1660

Stabilization of these functions should be contingent on confirming the conventions around naming of this style of methods.

Another idea I've had recently is we perhaps want to connect the lifetime of the `RefCell` to the error type as well, but we can always do that later as well.

[2016-07-27 16:49] nikomatsakis commented on #30191
@sgrif

I guess you mean an impl like the following?

[code]

This impl is allowed, but only in the crate that defines the trait `Into`. It is true that downstream creates could, according to the orphan rules alone, define an overlapping impl like:

[code]

but they would also be required to prove this impl is disjoint from the impls in the crate where `Into` is defined (this is the overlap check)

[2016-07-27 16:52] DoumanAsh commented on #33985
Having the same issue on current stable gnu toolchain

[2016-07-27 16:56] sgrif commented on #30191
I think I misunderstood https://github.com/rust-lang/rust/issues/30191#issuecomment-234359622. It assumes that there's a crate further downstream. Shouldn't we be able to omit that assumption for binary projects, or for types which are not public?

[2016-07-27 17:16] #33329 closed

[2016-07-27 17:18] munyari commented on #34455
Just opened a PR @steveklabnik :smile:

[2016-07-27 17:20] alexcrichton opened #35073 "Tracking issue for the assert_ne and debug_assert_ne macros"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1653

[2016-07-27 18:44] GuillaumeGomez commented on #29348
All done.

[2016-07-27 18:44] #29348 closed

[2016-07-27 18:51] alexcrichton opened #35075 "Extraneous "parameter never used" error"
When compiling this code:

[code]

the compiler emits:

[code]

The second error here isn't actually relevant and should be turned off because the first error was emitted.

cc @nrc
cc @jonathandturner

[2016-07-27 19:01] nagisa commented on #34831
@nrc despite us having a 07-25 nightly build, the last perf run still seems to be at 07-13. Could one be triggered manually or something?

[2016-07-27 19:16] nagisa commented on #17606
Still an issue.

[2016-07-27 19:37] ubsan commented on #35067
Although this isn't backwards-compatible

[code]

there is some prior art of going unsafe -> safe: `std::mem::forget` (although, that was pre-1.0)

[2016-07-27 19:47] durka commented on #35067
That's weird, it seems like you ought to be able to assign a safe fn to an
unsafe fn pointer.

On Wed, Jul 27, 2016 at 3:38 PM, Nicole Mazzuca <notifications@github.com>
wrote:

[2016-07-27 19:59] nikomatsakis commented on #22590
Interesting. I have no idea what the common depths of the stacktrace are. (Also, commonly the impls will be in other files, but that's ok).

[2016-07-27 20:05] cardoe commented on #32752
This is a duplicate of #29812

[2016-07-27 20:12] cardoe commented on #29812
This should likely improve with #34980.

[2016-07-27 20:12] cardoe commented on #34806
This should likely improve with #34980.

[2016-07-27 20:12] cardoe commented on #32752
This should likely improve with #34980.

[2016-07-27 20:12] #32752 closed

[2016-07-27 20:15] cardoe commented on #33497
This should likely improve with #34980.

[2016-07-27 20:28] nikomatsakis commented on #35067
We removed the subtyping relation at some point; it does seem like a coercion would be (probably) ok, but that would still not be (strictly) backwards compatible.

[2016-07-27 20:29] nikomatsakis commented on #35067
(I tend to agree that `into_inner` could be safe, though, and I highly doubt any existing crates would actually break due to this change.)

[2016-07-27 20:58] eefriedman opened #35077 "ICE with nested slice pattern"
Testcase:
[code]

Gives:
[code]

CC @arielb1

[2016-07-27 20:59] nikomatsakis opened #35078 "Separate fn signature from fn body in HIR"
Currently, getting access to a HIR item gives you access to both the function signature _and_ its body. This makes the incremental compilation graph more coarse than it should be. To fix this, the best thing would be to separate things out so that the item is just the external signature, and you have to separately load (e.g., from the HIR map) the body for a fn item. This way we could record that

[2016-07-27 21:00] eefriedman commented on #26158
This is outdated since the slice pattern rewrite.  Filed #35077 as a followup.

[2016-07-27 21:03] eefriedman commented on #26158
Wait, nevermind, this is still a problem; revised testcase:

[code]

[2016-07-27 21:07] eefriedman commented on #35077
Actually, taking another look, closing this in favor of the original bug; it looks like the original issue still exists.  The ICE is just a symptom.

[2016-07-27 21:07] #35077 closed

[2016-07-27 21:08] eefriedman commented on #26158
Related miscompile:

[code]

MIR ICE:
[code]

[2016-07-27 21:12] beneills commented on #35030
One solution would be to add detail after the expected/found lines if primitive shadowing has come into play.  This would not change the language, but make the error look like:

[code]

[2016-07-27 21:52] nikomatsakis commented on #34166
Is this in any way platform specific?

[2016-07-27 21:53] nikomatsakis commented on #34119
Do we believe that this is platform specific? The original comment mentions that it fails on Windows 32-bit, but not Mac -- what about linux? Other versions of Windows?

[2016-07-27 22:19] jonas-schievink commented on #34166
This happened on x64 Arch Linux, but I can't reproduce it anymore:

[code]

[2016-07-27 22:20] malbarbo commented on #33417
Why `TryFrom::Err` and `TryInto::Err` is not bounded by `std::error::Error`?

[2016-07-27 22:47] shepmaster commented on #33417
That would prevent `Err` being `()`, which is a viable error type for infallible conversions.

[2016-07-27 23:01] nrc commented on #34831
@nagisa frontend server needs a kick, then that should be updated. I've been fiddling with the backend (trying to get -Zorbit results) and so that is offline atm, should be fixed soon though.

[2016-07-28 00:08] nikomatsakis commented on #34831
Just FYI I think @edunham kicked the front end server.

On Jul 27, 2016 19:02, "Nick Cameron" <notifications@github.com> wrote:

[2016-07-28 00:16] retep998 commented on #35067
We could always do a crater run just to be absolutely sure nobody is turning `UnsafeCell::into_inner` into a function pointer.

[2016-07-28 00:23] joshtriplett opened #35081 "unused_extern_crates warns about extern crates that only supply macros"
I ran into this when using [quick_error](https://crates.io/crates/quick-error).  Minimal test case (along with a Cargo.toml including `quick-error="*"` in `[dependencies]`):

[code]

This produces:
[code]

[2016-07-28 00:35] #31173 closed

[2016-07-28 02:57] Aatch commented on #35059
@lu-zero that only means the things `interpolate_idents` tests for are working. If there's no test for this case, then obviously its tests won't fail. The reason I think it might be an `interpolate_idents` issue is that the panic is triggered from within `interpolate_idents`.

[2016-07-28 03:57] liigo commented on #13699
For ones who comes here:
At the end, `Zero` and `One` was deprecated since 1.11, with a reason 'no longer used', in https://github.com/rust-lang/rust/pull/34530. Jun, 2016.
It takes over a year to make decisions about them. CC https://github.com/rust-lang/rust/issues/27739.

[2016-07-28 04:53] joshtriplett commented on #28237
I found `...` error-prone as well, both to accidentally write, and to misread.  I'd prefer `..=` or any other syntax that makes a more visible distinction.

[2016-07-28 05:38] silvio opened #35082 "ICE: 'index out of bounds: the len is 1 but the index is 1' for println! and writeln!"
rustc crash:

I tried this code:

[code]

I expected to see this happen:

[code]
Instead, this happened: <explanation>

[code]

## Meta

[code]

[2016-07-28 06:14] alexbool commented on #34119
I cannot repriduce this on Linux. Did not try Windows 64 bit

[2016-07-28 07:13] lu-zero commented on #35059
Looks like it is impossible to report syntax errors from within a `MacResult` in a nicer way so the plugin happily uses `unwrap()` over the `Parser` functions return values.

Should the plugin not do that or should I open an issue about it instead?

[2016-07-28 07:54] Aatch commented on #35059
The plugin probably shouldn't do that. It is possible to report errors, there's some other code in `interpolate_idents` that does it.

[2016-07-28 08:00] TimNN commented on #35082
This is a regression from stable to nightly.

Apart from the ICE, during my tests, the error ``error: there is no argument named `valueb` `` is reported on nightly, however the error `error: named argument never used` reported on stable / beta is not reported on nightly.

On a hunch I would guess that this was probably cause by #33642.

[2016-07-28 08:05] matt2xu commented on #13699
I wanted to "Add my reaction" to your post, but I cannot say whether it should be :confused: or :smile: ^^

[2016-07-28 08:59] dns2utf8 commented on #28592
I would like to take this on.

[2016-07-28 09:10] liigo opened #35083 "`{Result,Option}::expect()` hurt the readability of Rust code"
Some bad smell code samples in tree:

in RawVec::with_capacity():
[code]
It maybe read as the author expect that capacity overflows.

in BTreeMap Index impl:
[code]
It maybe read as the author expect that no entry found for key.

in Rc tests:
[code]
It maybe read as the author expect ...(something)... failed?

in MIR:
[code]
It maybe read as the author expect an invalid terminator state?

Now in R

[2016-07-28 09:52] TimNN commented on #35082
cc @xen0n, you probably know best what's going on in that code right now, although I suspect that the early return from `verify_arg_type` in case of an `there is no argument named` error causes `args` to contain less arguments than expected when reporting an `argument never used` error.

[2016-07-28 10:58] adrianbrink commented on #31242
@steveklabnik I would be glad to help out :-) What's the best way to start on this?

I am trying to find the source for the docs and I am ending up [here](https://github.com/rust-lang/rust/tree/master/src/doc), but somehow I think I am wrong.

[2016-07-28 11:08] adrianbrink commented on #29357
What kind of further documentation are you looking for here? @steveklabnik

[2016-07-28 11:14] #5846 closed

[2016-07-28 11:14] #22819 closed

[2016-07-28 11:58] nagisa opened #35088 "[MSVC] -C save-temps does not save the .def file"
`rustc test.rs --target=x86_64-pc-windows-msvc -C save-temps`

invokes

[code]

In particular it passes a `/DEF:/tmp/rustc.FDk6jGbZnDUb/lib.def` to the linker, but does not save this temporary file with `-C save-temps` provided.

[2016-07-28 12:10] nagisa opened #35089 "Rust should allow specifying a custom .def file"
… on Windows. Especially for `cdylib`s.

[2016-07-28 12:35] sanxiyn commented on #35081
Closing as a duplicate of #30849. Thanks!

[2016-07-28 12:35] #35081 closed

[2016-07-28 13:59] nikomatsakis commented on #34831
So there is a new measurement now and the 1000% drop does not seem to be improved. I was wondering about @michaelwoerister's hypothesis that memory usage might be to blame, so I loaded up [this graph](http://perf.rust-lang.org/mem.html?start=Tue%20Jun%2021%202016%2009%3A18%3A42%20GMT%2B0000%20(UTC)&end=Sat%20Jul%2023%202016%2016%3A35%3A34%20GMT%2B0000%20(UTC)&kind=rustc&crates=total&phases=total&g

[2016-07-28 15:30] nikomatsakis commented on #25478
Is this still an issue?

[2016-07-28 15:31] eddyb commented on #25478
@petevine How much RAM do you have? Any chance it could be swapping for hours?

[2016-07-28 15:33] eddyb commented on #25478
@petevine Do you have the timings without `-Z orbit`? The issue is older than MIR trans.

[2016-07-28 15:38] petevine commented on #25478
It's the same issue as the linked one, I already OK'ed @jschievink's findings.

[2016-07-28 15:50] nagisa commented on #34831
Note that the graph axis are not numbered from 0, which is why the spike looks so big. The increase is a bit less than 5%, which is to be expected since we started book-keeping around a big amount of stuff.

[2016-07-28 15:58] nikomatsakis commented on #34831
Ha! Thanks. Oldest trick in the book, and I fell for it. ;)

[2016-07-28 16:22] eddyb commented on #34166
@jonas-schievink Hangs in release + `-Z orbit`, both on `glium` master and the original revision, for me.

[2016-07-28 16:46] nikomatsakis commented on #34831
OK, so, I just tried bootstrapping (`make rustc-stage1 && time make all`) both before/after the regresson locally and I did not find much of a difference. Before 33m, after 35m.

[2016-07-28 16:46] nikomatsakis commented on #34831
(Note that I was doing other things etc, but I figured a 1000% regression would be visible. :)

[2016-07-28 16:49] cuviper commented on #26764
FYI, I filed a glibc bug about the improper `alloca`:
https://sourceware.org/bugzilla/show_bug.cgi?id=20419

[2016-07-28 16:53] eddyb commented on #25478
Alright then, the original issue appears to have been fixed long ago.

[2016-07-28 16:53] #25478 closed

[2016-07-28 17:06] steveklabnik commented on #29357
Better explanations for https://doc.rust-lang.org/std/hash/struct.BuildHasherDefault.html

examples of implementing https://doc.rust-lang.org/std/hash/trait.BuildHasher.html and https://doc.rust-lang.org/std/hash/trait.Hash.html and https://doc.rust-lang.org/std/hash/trait.Hasher.html and more docs generally for all three.

[2016-07-28 17:13] brson opened #35092 "Add Mutex methods that ignore poisoning"
Scenarios where one wants to ignore poisoning happen. Having to type extra incantations to ignore the poisoning can be quite unpleasant, makes Rust less ergonomic, and is a source of complaints. Let's please consider adding conveniences for cases where poisoning is not desired, either additional methods, or new types that do not poison.

[2016-07-28 17:18] brson commented on #35092
For reference, this is what you type when you need to ignore poisoning: `mutex.lock().unwrap_or_else(|e| e.into_inner())`

[2016-07-28 17:19] brson commented on #35092
Would be worthwhile to survey existing code bases to see how common it is to ignore poisoning.

[2016-07-28 17:25] pcwalton opened #35093 "Make LLVM better at using XMM registers to perform structure moves"
Here's a small snippet of Servo code from block flow fragmentation:

    servo[0x100bf974e] <+6638>:  mov    r10b, byte ptr [rbp - 0x729]
    servo[0x100bf9755] <+6645>:  mov    r9, qword ptr [rbp - 0x728]
    servo[0x100bf975c] <+6652>:  mov    rax, qword ptr [rbp - 0x720]
    servo[0x100bf9763] <+6659>:  mov    rdi, qword ptr [rbp - 0x718]
    servo[0x100bf976a] <+6666>:  mov    r8, qword ptr [r

[2016-07-28 17:30] brson commented on #35093
Tagging this as help wanted because it's a significant (and kinda obvious) optimization. Unfortunately we don't know how to make LLVM do it. Will require some digging.

[2016-07-28 17:36] eddyb commented on #35093
@brson It might be impossible in the general case if LLVM can't get some guarantees about bytes that are never touched by the individual copies (i.e. the padding bytes).
Locally, not reading those bytes can inform the optimizer that they are irrelevant, but if pointers to the values are used anywhere else, they have to be marked with the "padding holes" somehow.

[2016-07-28 17:38] brson commented on #35093
It may also be undesirable in the general case for security reasons.

[2016-07-28 17:40] pcwalton commented on #35093
Here's the code: https://github.com/servo/servo/blob/master/components/layout/block.rs#L1792

[2016-07-28 18:02] nikomatsakis commented on #30191
We have not (currently) drawn any distinction between binary / library projects. I am reluctant to do so -- it seems to create refactoring hazards where you expose a binary as a library and so forth. But at the same time it seems clear that a number of coherence issues go away for binary projects -- so maybe there is a good way to handle these "at most once" decisions.

Regarding privacy, that's a

[2016-07-28 18:04] nikomatsakis commented on #28024
In general, type defaults have been kind of stalled; we've been wanting to rethink the design overall, which has led to a lack of motivation to fixing details of the implementation. I wouldn't in any case tackle this bug first -- the overall algorithm isn't really following the RFC, so I'd fix that first. Not sure if there's an issue about that though.

[2016-07-28 18:05] nikomatsakis commented on #28229
@brson fixing this is no small thing, sadly. I had hoped we could address it through specialization but that does not seem to be the case. @arielb1 has been advocating for building the clone impls into the compiler, that might be the most prudent short-term path at least, particularly given that `Clone` is a lang-item anyway. I could mentor this.

[2016-07-28 18:20] #34933 closed

[2016-07-28 18:20] #34932 closed

[2016-07-28 18:20] #21696 closed

[2016-07-28 18:20] #34928 closed

[2016-07-28 18:45] petrochenkov opened #35096 "`Trait::method` and `<_ as Trait>::method` are treated differently by type checker"
[code]

Behavior (2) is pretty unusual, in all other cases type parameters in expression/pattern paths are inferred.
It also prevents desugaring all associated paths into the `<TYPE as Option<TRAIT>>::ASSOC_ITEM` form because some extra bookkeeping is required to discern between `Trait::method` and `<_ as Trait>::method`.

What is the history and motivation behind this behavior? (It was introduced

[2016-07-28 18:53] eddyb commented on #35096
@petrochenkov The difference is that `<_ as Trait>` puts `Trait` in a type context where defaults are *required*.
For the purposes of fully qualified paths, `Trait::method` is *not* a projection from a type.
`T::A` should be replaced with `<T>::A` unless `T::A` was resolved by name resolution (which is the case for `Trait::method`).

More generally, given `a::b::c::X::Y::Z` and a resolution depth

[2016-07-28 18:54] pcwalton commented on #35093
LLVM IR: https://www.dropbox.com/s/f00k5a6w660s9eh/layout-7b1ca0dc53bfeae5.ll.xz?dl=0

[2016-07-28 19:07] sgrif commented on #30191
:+1: Thanks for clarifying

[2016-07-28 19:07] petrochenkov commented on #35096
I don't really see the difference between `Trait`s in `Trait::method` and in `<... as Trait>::method` and why the second one is in a different context. They are resolved and type checked identically otherwise.

[2016-07-28 19:12] petrochenkov commented on #35096
Oh, by the way for me the motivation in this desugaring is basically to have additional `NodeId`s for `X`, `Y` and `Z` to be able to keep separate resolutions/types/etc for them in tables. Do you have anything else about it in mind?

[2016-07-28 19:15] nagisa opened #35097 "slice::slice_unchecked does not exist"
There exists a `str::slice_unchecked`, but no similar method for `slice`s themselves. There probably should be one.

[2016-07-28 19:20] eddyb commented on #35096
@petrochenkov Only expression paths have the relaxed behavior, and within `<...>` there are only type paths. Think of it the same way that `Box<Trait>` doesn't infer the type parameter of `Trait`.

*However*, there is a bigger problem here: `T::A` is more relaxed than `<T>::A`, which makes that desugaring problematic, *unless* `_` parameters are injected:

[code]

As for the motivation, having the

[2016-07-28 20:00] petrochenkov commented on #35096
Sigh, this is unfortunate. Not even in technical sense (the desugaring is complicated), but in general, as a subtle exception to a simple rule that no one is aware about until it attacks.

[2016-07-28 20:06] MarkSwanson commented on #34909
The workaround for us was to define a process where all git repos have zero tests, and all tests are moved into another git repo.

It's critical for us that we can build a Rust DSO.
It would be nice if the test cases for a DSO could be included with the git repo that contains the DSO code.

[2016-07-28 20:07] eddyb commented on #35096
@petrochenkov The rule is that if you have a path expression, *everything* in it gets inferred, whereas if you have a path type, required parameters must be provided and defaults are used.

The misleading simple rule is the desugaring one, not the difference between expression/type paths, but it's not obvious how they interact, I suppose.

[2016-07-28 20:08] nikomatsakis commented on #35082
triage: P-high

[2016-07-28 20:08] eddyb commented on #35096
Nominated for discussion by @rust-lang/lang.

[2016-07-28 20:11] nikomatsakis commented on #12033
Consensus in the compiler team meeting was that we should just fix this and add the resulting PR to the release notes.

triage: P-medium

[2016-07-28 20:19] petrochenkov commented on #35096
Yep, I realize that, this is a simple and self-contained rule. It's 1) the border between the expression and type contexts is positioned somewhat unexpectedly and 2) given that border the consequences like `Type::method != <Type>::method` may be non-obviousю

[2016-07-28 20:25] brson commented on #28229
@nikomatsakis oh, that would be great. I was only hoping to stop the ICE!

[2016-07-28 20:26] eefriedman commented on #35093
servo[0x100bf9771] <+6673>:  mov    rdx, qword ptr [rbp - 0x710]
    servo[0x100bf9778] <+6680>:  mov    qword ptr [rbp - 0x710], rdx

Are you sure this is a release build?  That looks extremely suspicious.

[2016-07-28 20:36] nikomatsakis commented on #34535
We're going to lower the priority, since we can't seem to reproduce it and it is not blocking @aochagavia (right?). @aochagavia if you are able to at least get a backtrace, that would certainly be helpful. Otherwise, we'll have to see if it occurs more often or elsewhere!

[2016-07-28 20:36] nikomatsakis commented on #34535
triage: P-medium

[2016-07-28 20:36] eddyb commented on #35093
Looking at the [IR for `<layout::block::BlockFlow as layout::flow::Flow>::fragment`](https://gist.github.com/eddyb/a19ce2c1e8914cf0a99540be6af33b3d):
* 718 `alloca`
 * 42 `core::raw::TraitObject` (you'd expect these to vanish)
* 649 `store`
* 917 `load`

Honestly, I have no idea where exactly those assembly instructions come from.
It might be possible to use debug info to correlate to the IR and s

[2016-07-28 20:44] nagisa opened #35099 "EncodeUtf8 iterator implementation results in bad code"
Provided https://github.com/rust-lang/rust/pull/35098 (more precisely https://github.com/rust-lang/rust/pull/35098/commits/f729e1753d0a6cf2c595caaa07374b09bcb50fbf commit) lands, iterating `x.encode_utf8().as_slice()` results in considerably better code compared to `x.encode_utf8()`.

One major problem with the `EncodeUtf8` iterator is the fact that it uses checked indexing, despite it being obvio

[2016-07-28 20:50] nikomatsakis commented on #34166
Discussed in compiler team meeting. @arielb1 will try to produce a stand-alone test case. Seems like doing some "NRVO-style" optimization may be the best answer here.

[2016-07-28 20:57] nikomatsakis commented on #34166
One question is whether the [workaround] that @arielb1 suggested has been applied for glium? @arielb1 at least is of the opinion that (if so) this need not block moving to MIR more broadly, as there are many possible O(n^2) cases we could hit, even in old trans (even if this code was not among them). Though I'd still like to see it fixed =)

[workaround]: https://github.com/rust-lang/rust/issues/3

[2016-07-28 21:00] jonas-schievink commented on #34166
Glium is still on gl_generator 0.5.1, the fix is in 0.5.2

[2016-07-28 21:05] eddyb commented on #34166
@jonas-schievink Woo, indeed, if I remove `Crate.lock` (why does a library crate have that anyway?), it finishes in about a minute. cc @tomaka

[2016-07-28 21:07] arielb1 commented on #34166
self-contained, but not minified, example at www.cs.tau.ac.il/~arielb1/gl-bindings-self-contained-1.rs.xz

[2016-07-28 21:08] eddyb commented on #34166
@jonas-schievink Oops! Totally my bad, I had a stale `Cargo.lock`.

[2016-07-28 21:30] arielb1 commented on #34166
minified example: http://sprunge.us/fGMM

[2016-07-28 21:30] nrc commented on #31436
cc #35056

[2016-07-28 21:36] arielb1 commented on #34166
Template:

[code]

[code]

[2016-07-28 21:51] sfackler commented on #35097
https://github.com/rust-lang/rfcs/pull/1679 adds these by overloading `get_unchecked` to accept range arguments.

[2016-07-28 21:52] nikomatsakis commented on #34901
Conclusion: this seems like we ought to feature gate the call sites (but not a big deal ultimately).

[2016-07-28 21:53] nikomatsakis commented on #34900
Discussed ABIs in context of the PR, denominating.

[2016-07-28 21:53] sfackler commented on #35092
I made a wrapper crate over the standard library types to do this: https://crates.io/crates/antidote

I have needed to poison a data structure exactly once in my career (Rust and not-Rust).

[2016-07-28 22:09] alexcrichton commented on #34909
@MarkSwanson note that the crate type "cdylib" is most appropriate for creating a Rust DSO. If you're trying to use a dylib linking to other Rust dylibs it'll be a nonstop world of pain right now unfortunately, but cdylib should be quite smooth.

[2016-07-28 22:28] eefriedman opened #35101 "Consider producing more friendly output with runtime drop flag checking"
[code]

This produces absolutely zero output in the playground because it generates a SIGTRAP and kills the program.  Of course, it's hard to do much at this point because the program is in an unknown, probably-corrupt state, but we could at least print a message to stderr noting what happened.

Originally reported at https://internals.rust-lang.org/t/im-moving-away-heres-my-two-cents/3767 .

[2016-07-28 22:36] eddyb commented on #35096
Discussed in @rust-lang/lang meeting. Consensus was that this has the intended semantics.
One interesting point by @pnkfelix was that we might eventually want to add `Foo<..>` which would expand into placeholders for all declared lifetime and type parameters.

@petrochenkov Do you think you could use a HIR-only `<..>` as the "bookkeeping" method?
One advantage is that expression paths and type pat

[2016-07-28 22:55] eddyb commented on #35093
@pcwalton I convinced myself this is a release + debuginfo build, but that's not actually true, is it?

This explains where all the code comes from (`#[inline(always)]`): https://github.com/servo/servo/blob/dfc007e10e8f0815966682e768685f14e55164c2/components/layout/block.rs#L772.

[2016-07-28 23:03] eefriedman commented on #35099
Maybe it's a problem that EncodeUtf8::next() isn't marked `#[inline]`?  Or are you not running into that issue because you're writing code inside libstd?

[2016-07-28 23:08] nagisa commented on #35101
This is mostly solved by not having filling drop (cough… MIR… cough). In case anybody still wants to fix this issue, the relevant TRAP likely comes from code generated by https://github.com/rust-lang/rust/blob/d1df3fecdf8dc959fbd8901603a16e5bc0bfa21d/src/librustc_trans/glue.rs#L314

[2016-07-28 23:10] nagisa commented on #35101
Printing a message, though, would essentially mean extra code in every single drop glue. I wonder if that’s really the tradeoff anybody would be interested in making.

[2016-07-28 23:23] nagisa commented on #35099
Yes, I was writing code inside libstd, so the method got inlined regardless of attribute (or lack of it thereof).

[2016-07-28 23:55] eefriedman commented on #35099
I looked into this a bit; there are a few related problems, but I think the biggest problem is that LLVM can't really figure out that accesses to EncodeUtf8.buf don't alias accesses to EncodeUtf8.pos, which prevents a lot of simplifications.  There's been some discussion of this on the LLVM mailing lists; see http://lists.llvm.org/pipermail/llvm-dev/2016-July/102867.html and http://lists.llvm.org/

[2016-07-29 00:16] DemiMarie commented on #35093
Is this before or after optimization? `mem2reg` should have optimized this out (and should probably be the first pass run).

[2016-07-29 00:17] #34036 closed

[2016-07-29 00:17] #34037 closed

[2016-07-29 00:17] #34038 closed

[2016-07-29 00:18] eddyb commented on #35093
@DemiMarie @eefriedman Turns out the IR is from a debug build (my fault, forgot to add `--release` in the command I gave @pcwalton), but the assembly is from a release build.

[2016-07-29 02:15] yongqli opened #35105 "Can't build from source"
I'm trying to build from a git checkout on OSX but I get the error:

    checking for stdbool.h that conforms to C99... In file included from /Users/yongqli/projects/rust/src/rustllvm/ExecutionEngineWrapper.cpp:11:
    In file included from /Users/yongqli/projects/rust/src/rustllvm/rustllvm.h:11:
    In file included from //Users//yongqli//projects//rust//src//llvm//include/llvm/IR/IRBuilder.h:22:

[2016-07-29 02:18] Aatch commented on #35105
Could you provide some more information? What commands did you use, etc.

[2016-07-29 02:34] yongqli commented on #35105
Looks like there were some left over files that `git clean -f` didn't catch.

[2016-07-29 02:34] #35105 closed

[2016-07-29 03:33] DemiMarie commented on #35044
Can we enforce MIR trans whenever slice patterns are in use?

[2016-07-29 03:38] DemiMarie commented on #35101
@nagisa could this be debug-build-only?  I would imagine having the function that emits the message just write a string to stderr before raising the signal itself.

On the other hand the current implementation helps debugging because it traps into the debugger.

[2016-07-29 06:18] #34922 closed

[2016-07-29 06:42] xen0n commented on #35082
Formatting code, my fault. I'll investigate immediately.

[2016-07-29 07:36] m4b commented on #34978
Chiming in here, nightly broke my build as well, but only on what looks like are ubuntu machines, with the relocation (0x2a) as stated above:
[code]
So I haven't tested with clang; unfortunately my build will be broken until the travis vm is updated (and hence gets a new linker that understands the reloc), I guess?

[2016-07-29 08:25] petrochenkov commented on #35096
Sounds like a plan.
Closing this as not-an-issue then.

[2016-07-29 08:25] #35096 closed

[2016-07-29 09:00] the-kenny opened #35107 "tcp-stress-test.rs fails in master"
I'm packaging `unstable` (rev d9a911d236cbecb47775276ba51a5f9111bdbc9c) for NixOS. Right now I can't continue here as one test fails. I'm not sure if this is related to our chrooted build environment or if it's an upstream issue.

Noteworthy is also that `beta` and `stable` are working fine (with the same build process).

Error messages:

[code]

I forgot to pipe the build output to a file, but I'

[2016-07-29 10:12] petrochenkov commented on #22546
I'm pretty sure this can be closed.

[2016-07-29 10:50] TimNN commented on #35107
It looks like that test is already ignored on lot's of platforms:

[code]

And far as I can tell it fails because it can only spawn `484` out of `1000` threads.

[2016-07-29 10:52] TimNN commented on #35107
I believe this issue manifest itself since #33640, when the failing assert was introduced.

[2016-07-29 11:01] GuillaumeGomez commented on #29358
I think this one is all good. I close it, don't hesitate to reopen it if you find something missing.

[2016-07-29 11:01] #29358 closed

[2016-07-29 11:06] arielb1 commented on #35101
This is not a purely zeroing drop issue: if you are using an enum instead of a struct, mangling the discriminant will cause an out-of-range switch and random UB (often a `SIGILL`).

[2016-07-29 11:07] gemmarx opened #35108 "Stdout does panic in pipe"
In a 64-bit Linux box, the code below fails to write, and dies with a panic message only in a pipeline.
[code]
[code]

On the other hand, following two codes work with no trouble.
[code]

[code]

What's happened?
It seems to be a buggy behaviour.
( rustc version is 1.12.0-nightly (feeca9457 2016-07-26) )

[2016-07-29 11:14] the-kenny commented on #35107
Is this something to be handled upstream? I don't think we can easily
change the ulimit for a specific build.

Should I just patch out the failing test on our side?

Am 29.07.2016 12:53 schrieb "Tim Neumann" <notifications@github.com>:

[2016-07-29 11:20] TimNN commented on #35107
Mh, I'm not that familiar with the topic, better wait for someone like @alexcrichton to chime in, who know better, whats going on.

(Just on a side note, the `// ignore-*` lines were present before #33640, the PR which introduced the failing assertion).

[2016-07-29 11:25] nagisa commented on #35108
As the `message: "Broken pipe"` implies, the stuff you’re piping into exits before your code finishes writing all your newlines.

The 2nd program likely finishes because it manages to write all of its stuff before `head -0` exits. The 3rd program has different behaviour from the 1st or 2nd programs – it does not check the return code of `libc::write`, essentially ignoring the errors.

It seems to

[2016-07-29 11:42] petevine commented on #35101
Indeed, I'm getting a `SIGILL` here (debug only obviously), similar, but unrelated, to  #34427.

[2016-07-29 12:32] gemmarx commented on #35108
Oh, thank you very much. I get it.

It sounds naatural to handle exceptions neatly when bytes to write are to be greater than the buffer size of pipeline (maybe 1024K?).

This means that print! or write! macro family is not good to use in pipeline because they cannot catch errors, right?

[2016-07-29 12:43] nagisa commented on #35108
`write!` allows you to handle the errors just fine (it returns a `Result`). `print!` does not.

[2016-07-29 12:46] nagisa opened #35110 "Documentation is not entirely clear what `write!` returns"
Looking at [`write!`](https://doc.rust-lang.org/stable/std/macro.write!.html) documentation page, the only thing you can figure out is that `write!` does return something and “something” has a `unwrap()` method.

[2016-07-29 13:22] gemmarx commented on #35108
That reminds me!

Thank you, nagisa-san.
This issue shall be close tomorrow.

[2016-07-29 13:48] #34250 closed

[2016-07-29 13:48] #29356 closed

[2016-07-29 13:48] #35031 closed

[2016-07-29 13:59] TimNN commented on #35110
I'm pretty sure that write is not even guaranteed to return anything with an `unwrap()` method...

Write basically calls whatever `write_fmt` method on `$dst` is in scope (and makes *no* other guarantees).

[2016-07-29 14:05] nagisa commented on #35110
It, then, should document *that*.

[2016-07-29 14:11] nikomatsakis opened #35111 "Audit metadata dep-graph edges"
When we record the metadata, we create a new task for the metadata pertaining to each item. The incoming edges to this task are then used to compute the hash of the metadata. This is all good, but there are a number of cases of "information leaks" that will lead to missing edges.

One example:

[code]

Here, if the function reads from `m` or `impl_item_opt`, this will not result in any incoming ed

[2016-07-29 14:20] michaelwoerister commented on #35111
So, if we used `TyCtxt::visit_all_items_in_krate()` instead of `Crate::visit_all_items()` at https://github.com/rust-lang/rust/blob/5a7773a18098be712d7e1ce4fded36aed8c3c311/src/librustc_metadata/encoder.rs#L1417, that would fix the majority of problems, right?

[2016-07-29 14:20] #34962 closed

[2016-07-29 14:25] nikomatsakis commented on #35111
@michaelwoerister yeah, actually, I think that was a mistake on my part. That would certainly be a good step. :) Probably ought to change the names there to make the distinction more obvious.

[2016-07-29 14:51] retep998 commented on #35110
Yay duck typing!

[2016-07-29 15:10] michaelwoerister commented on #32753
Note: It's probably a good idea to add a `visit_span` method to `intravisit::Visitor` when implementing the span-related parts of this.

[2016-07-29 15:20] bjorn3 opened #35112 "Extern statics can be accessed in safe Rust"
This code crashes:
[code]
@ubsan wrote this code on irc.
https://botbot.me/mozilla/rust-internals/2016-07-28/?msg=70411962&page=5

[2016-07-29 15:35] ubsan commented on #35112
I'd argue the solution is to require `unsafe` when accessing statics that are extern, *or* that we do `unsafe extern` when writing an extern block that includes statics.

[2016-07-29 15:54] alexcrichton commented on #34978
@m4b the fix I know of currently at least is to update to Ubuntu 16.04 (perhaps in a docker image). Other than that though I know of a fix :(.

If the fix is known though we'd be more than happy to apply it!

[2016-07-29 15:58] alexcrichton commented on #35107
It should be fine to just turn down the size of this tests, it was originally meant to stress libuv and turn up bugs, but that's long gone now!

[2016-07-29 16:32] Stebalien commented on #35112
Why do we even allow extern *references*? Shouldn't this be `pub static X: *const u32`?

[2016-07-29 16:50] nikomatsakis commented on #34831
@nrc I wonder if it would make sense to re-run the benchmark results on the perf machine? I guess we've seen them repeat numerous times, but it seems like a phenomena that is just not being witnessed from other setups?

[2016-07-29 16:52] petrochenkov commented on #35112
It's pretty horrifying that `unsafe` isn't required to access foreign statics.
Given that you can write a `static` with any Rust type with any invariants (`improper_ctypes` is not a hard rule)
[code]
and the C side can contain arbitrary bytes under the name `STATIC`.

[2016-07-29 17:01] jseyfried opened #35115 "resolve: "bindings cannot shadow constants" diagnostics are unreliable"
[code]

[2016-07-29 17:31] steveklabnik commented on #35110
part of https://github.com/rust-lang/rust/issues/29381

[2016-07-29 17:31] steveklabnik commented on #35110
I would be willing to work with anyone who wanted to fix this issue.

[2016-07-29 17:34] steveklabnik commented on #35112
nominating due to unsoundness

[2016-07-29 17:39] TimNN commented on #35110
Some related issues regarding that macro & it's documentation: #21615, #28049

[2016-07-29 17:43] retep998 commented on #28229
If `Copy` is implemented by the compiler automatically for certain types, then I don't see why the compiler wouldn't also implement `Clone`, and seems like the obvious solution to me. Using blanket impls and specialization just feels like the standard library covering up a deficiency in the compiler.

[2016-07-29 17:44] ubsan commented on #35112
@petrochenkov technically, the Rust side can also contain arbitrary bytes under the name `STATIC`.

[2016-07-29 17:51] retep998 commented on #35112
I'd be okay with extern statics requiring unsafe to access. Would probably need a very long deprecation/warning period however.

[2016-07-29 17:53] ubsan commented on #35112
@retep998 it's unsound, therefore, it doesn't need that long of a deprecation period, in my opinion. Maybe two cycles.

[2016-07-29 18:02] rkruppe commented on #35112
Since this would presumably go through a forward compatibility lint, it could be made `deny`-by-default soon-ish. A hard error should perhaps take longer &mdash; just because it's unsound doesn't mean it won't affect many crates.

[2016-07-29 18:06] ubsan commented on #35112
@rkruppe makes sense.

[2016-07-29 18:07] retep998 commented on #35112
Probably one Rust release warn by default, and then at least one deny by default and keeping it deny by default for a while until crater says it is mostly okay.

[2016-07-29 18:14] alexcrichton commented on #34727
With @vadimcn's and @cynicaldevil's awesome work, some secret sauce of mine I'll land after @cynicaldevil's PR, and LTO, we can optimize this to a noop:

[code]

That I believe means we've given LLVM all the inlining opportunities we need, so this should be close to getting fixed. With @cynicaldevil's PR we may not need to tackle cross-crate thread-locals at all!

[2016-07-29 19:56] nikomatsakis opened #35118 "Tracking issue for 128-bit integer support (RFC 1504)"
Tracking issue for rust-lang/rfcs#1504.

cc @Amanieu

**Blocking stabilization:**

- [x] #41799 (Casting u128::MAX to f32 is undefined)
- [x] ~~Interaction with FFI? (https://github.com/rust-lang/rust/issues/35118#issuecomment-309867846)~~ - https://github.com/rust-lang/rust/pull/44261
- [x] ~~separately feature gate `repr(i128)`~~ - https://github.com/rust-lang/rust/pull/44262
- [x] #45676 (u/i)1

[2016-07-29 20:12] nikomatsakis opened #35119 "Tracking issue for global-asm support (RFC 1548)"
Tracking issue for `global_asm!` macro rust-lang/rfcs#1548:

**Note that this is intended as a (particularly) experimental feature.**

Feedback on its design is required, as well as comparisons with [naked fns](https://github.com/rust-lang/rust/issues/32408).

[2016-07-29 20:13] jackpot51 commented on #35119
# Don't take away naked functions!!!!!!!!!!!!!!!!!!!

They are a crucial component of building operating systems in Rust.

Without naked functions, it is impossible to do context switching without moving huge amounts of code into assembler.

[2016-07-29 20:14] nikomatsakis commented on #35119
@jackpot51 more detailed examples would be great :)

[2016-07-29 20:16] nikomatsakis commented on #32408
Note that [global-asm](https://github.com/rust-lang/rust/issues/35119) has also been added, which overlaps somewhat with naked fns.

[2016-07-29 20:17] nikomatsakis commented on #35119
@jackpot51 but rest easy, I don't think we're in any hurry to make firm decisions here. :)

[2016-07-29 20:17] nikomatsakis opened #35120 "Tracking issue for changes to name resolution (RFC 1560)"
Tracking issue for rust-lang/rfcs#1560.

[2016-07-29 20:27] murarth commented on #34331
I've encountered this same issue, using a constant defined in my own crate rather than `std::path::MAIN_SEPARATOR`.

The ICE is dependent upon the used constant being defined as the value of another constant.
It also appears to be dependent upon the constant in question being of type `char`. A `u32` constant does not trigger the ICE.

I was thus able to make a smaller minimal case (smaller because

[2016-07-29 20:28] nikomatsakis opened #35121 "Tracking issue for promoting `!` to a type (RFC 1216)"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/35121)*

Tracking issue for rust-lang/rfcs#1216, which promotes `!` to a type.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.  They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.  A tracking issue is ho

[2016-07-29 20:28] ticki commented on #35119
@nikomatsakis They're used in anything from interrupt handler to context switches. I would cry for 10 years straight if you removed them.

[2016-07-29 21:07] nikomatsakis opened #35123 "Map crate numbers between compilations"
It appears we are not checking for crate-numbers having changed. The best thing here would probably be to find the new crate-number. The easiest thing, however, would be to store -- for each crate-number we have -- the name/discriminant and then double-check that nothing has changed. I'll probably start with the easy fix for now.

[2016-07-29 21:08] steveklabnik commented on #35119
To make this concrete, here is a PR where I went from regular old `asm` to `naked fn`: https://github.com/intermezzOS/kernel/pull/49/files

All that setup code in `src/src/asm/interrupt_handlers.asm` was able to go away; the duplication between the `extern` declarations in `src/interrupts/src/lib.rs` was able to go away... much, much, much nicer.

[2016-07-29 21:12] jackpot51 commented on #35119
Thanks @steveklabnik for showing the potential of `#[naked]`. Our experience in Redox was similar

[2016-07-29 21:29] parched commented on #35119
Regarding having compile time constants and unmangled labels in it, would it possible to have separate procedural macro that did this? Something like `unmangle!(ident)` and `eval!(expr)` that produced string literals. Or is that not possible?

If a general way like that wouldn't work then something like the way [`armcc`](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0472m/chr13591

[2016-07-29 22:10] nagisa commented on #35119
I do not see how any naked function is not trivially convertible to a `global_asm!` or vice-versa, though (examples much appreciated). For example, you could have a `naked! { fn peach() { /* asm goes here */ }` which expands to `global_asm!` as an implementation of naked functions. Making `global_asm!` just a wrapper over naked functions seems also plausible to some extent.

Otherwise, I agree wit

[2016-07-29 22:48] eternaleye commented on #35119
@nagisa: I agree with you on naked-functions-over-global_asm, but I actually disagree on the inverse.

In particular, it relies on doing awful Duff's Device-like tricks, where asm that's syntactically inside a function is treated semantically as if it was global. If Rust ever grows a principled handling of asm, that sounds like an immense obstacle and/or footgun.

[2016-07-29 23:05] gemmarx commented on #35108
In my short research, "wc" command in [coreutils projict](https://github.com/uutils/coreutils) and [exa](https://github.com/ogham/exa) at least have this panic problem.
They have lost some values as a filter command.
There could be more appropriate affordance for Stdout.

[2016-07-30 00:38] nikomatsakis commented on #34991
Making progress here. I've eliminated a few sources of ICEs, but still have a problem left. I may post an intermediate PR, or may press on. :)

[2016-07-30 03:06] brson commented on #27741
@shssoichiro Had a chance to look at the `Step` trait yet?

[2016-07-30 03:07] brson commented on #34716
@srinivasreddy How's this going?

[2016-07-30 03:40] brson commented on #34455
Thanks @munyari !

[2016-07-30 03:40] #34455 closed

[2016-07-30 05:19] canndrew commented on #35121
**Huzzah!**

There's a WIP implementation of this here: https://github.com/canndrew/rust/tree/bang_type_coerced

It's current status is: it builds with old-trans and is usable but has a couple of failing tests. Some tests fail due to a bug that causes code like `if (return) {}` to crash during trans. The other tests are to do with link-time-optimization and have always been buggy for me, so I don'

[2016-07-30 05:47] jhod0 commented on #35011
Looks like the PRs were merged - should this be closed?

[2016-07-30 05:48] alexcrichton commented on #35011
Indeed!

[2016-07-30 05:48] #35011 closed

[2016-07-30 05:52] IvanUkhov opened #35126 "Missing documentation when re-exporting type aliases"
If one crate defines a type alias

[code]

and another re-exports this alias

[code]

the description of the alias will be missing in the documentation of the second crate, which is not the case when re-exporting other items.

Regards,
Ivan

[2016-07-30 07:08] #34786 closed

[2016-07-30 07:19] chris-morgan commented on #35083
Renaming `expect` to `unwrap_or_panic` would make it all perfectly clear. I have a feeling that the name of `expect` was discussed at length some time before 1.0 but evidently it was not changed at that point.

[2016-07-30 08:06] srinivasreddy commented on #34716
sorry for the delayed response. But i do not see why E0502 is rendered incorrect. I cannot find the missing empty line before and after - ```.   Maybe @timoth-mcroy could shed some light on this.

[2016-07-30 08:08] srinivasreddy commented on #34716
Or may be it was fixed in meantime?

[2016-07-30 10:47] #35108 closed

[2016-07-30 10:56] shahn opened #35128 "#[deprecated] fn using format_args!() triggers "use of deprecated item" warning"
This code:

    #[deprecated]
    fn foo() {
        format_args!("bla");
    }

gives this warning:

    warning: use of deprecated item, #[warn(deprecated)] on by default
     --> <anon>:3:18
    3 |>     format_args!("bla");
      |>                  ^^^^^
    <anon>:3:5: 3:25: note: in this expansion of format_args!

in current stable and nightly

[2016-07-30 12:05] GuillaumeGomez commented on #34716
It seems fixed. I close it then.

[2016-07-30 12:05] #34716 closed

[2016-07-30 12:59] sanxiyn commented on #34434
@glennw That error is #7493, which is truly ancient.

[2016-07-30 13:06] nikomatsakis commented on #34991
OK, so I have all the ICEs fixed. I'm encountering a bit of trouble because cargo is using the same crate name / disambiguator (`build-script-build` / ``) for every build.rs file, so unless you use `-j1` we run into #32754.

Only problem is that I have no test cases: most of these ICEs arise from multi-crate scenarios and I didn't bother to reduce them. Probably should do so before opening a PR.

[2016-07-30 14:25] shssoichiro commented on #27741
@brson I have, although not as much as I'd like. I think the ideal path would be to remove all of the methods from the `Step` trait except for `step` and `steps_between`. However, I'm having trouble finding a practical way of implementing this.

[2016-07-30 14:27] #35047 closed

[2016-07-30 14:27] #35082 closed

[2016-07-30 16:04] steveklabnik commented on #31242
Hey @adrianbrink ! Thanks :)

That's the directory for all of the long-form docs. The API documentation is in the source. With this specific bit of docs, it's here: https://github.com/rust-lang/rust/blob/9316ae515e2f8f3f497fb4f1559910c1eef2433d/src/libcore/hash/mod.rs#L251-L255

So modifying these lines is where you need to go! Feel free to take a shot at it and just open a PR; we can workshop spe

[2016-07-30 16:27] shepmaster commented on #34978
I have also been bitten. 😄 There appear to be some similar reports out there from Rust packaged on Debian:

- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=808576
- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=819475

In both cases, it appears that the solution was updating binutils. It would be interesting to know why this affects only musl, as the above reports appeared to be normal Lin

[2016-07-30 17:28] GuillaumeGomez commented on #29362
I don't see anything to do here.

[2016-07-30 17:33] canndrew opened #35131 "rustc/LLVM DiagnosticKind mismatch causes crash when bootstrapping unoptimized w/ MIR."
I'm unable to build rustc with MIR on my machine. I've tried to do a completely fresh build by running:

    $ git clone https://github.com/rust-lang/rust
    $ cd rust
    $ ./configure --enable-debug --disable-docs --enable-orbit
    $ make check-stage1

.. and rustc segfaults

    rustc: x86_64-unknown-linux-gnu/stage1/lib/rustlib/x86_64-unknown-linux-gnu/lib/libcore
    /home/shum/src/rust/rus

[2016-07-30 18:12] steveklabnik commented on #29362
This module is mostly about quality; the module documentation is quite light, as are the individual functions.

[2016-07-30 18:24] jhod0 commented on #2873
In addition, should there be a way to customize the timeout?

e.g.:

[code]

For the (very) rare case a test would naturally take such a long time, and a user wants to silence such warnings.

[2016-07-30 18:37] petevine commented on #35131
Probably the same as #34427

[2016-07-30 20:04] #34959 closed

[2016-07-30 20:15] toumorokoshi opened #35132 "Rust could release borrows in match against the matched object in some cases"
It seems like Rust's borrow checker could be more lenient on match checks where the match is an enum with no references to the object being matched.

I tried this code:

[code]

I expected to see this happen:

In the commented example, I would expect that if the map is matched to None, it would release the borrow on the map, thereby allowing me to mutate it. For this particular case, it would make

[2016-07-30 22:04] dtolnay commented on #5067
Still an issue in 1.12.0-nightly using the minimal repro in the previous comment.

[2016-07-30 22:06] Stebalien commented on #35132
See: http://smallcultfollowing.com/babysteps/blog/2016/04/27/non-lexical-lifetimes-introduction/

[2016-07-30 22:58] #34985 closed

[2016-07-30 23:09] steveklabnik commented on #35132
Yes, this will be fixed by non-lexical lifetimes. Thanks for filing! We agree, but we're already tracking it :smile:

[2016-07-30 23:09] #35132 closed

[2016-07-30 23:55] eddyb commented on #35131
@petevine But isn't #34427 ARM-specific?

@canndrew Do you have a backtrace?

[2016-07-31 00:06] eddyb commented on #35078
The body is a block, so I think the only missing thing is keeping an ID instead of a reference.
Not being able to use references without having implicit dependencies does seem like a bit of a limitation, which will impact the future design of HIR.

[2016-07-31 01:52] #34900 closed

[2016-07-31 02:39] eddyb commented on #34511
First attempt at implementation is #35091 (second, if you count [my branch](https://github.com/eddyb/rust/commits/calendar-driven-development) from last year).

One problem I ran into is with lifetimes. Type inference likes to put region variables *everywhere* and without any region-checking changes, those variables don't infer to anything other than local scopes.
However, the concrete type *must*

[2016-07-31 03:14] canndrew commented on #35131
@eddyb You're darned tootin' right I do! But it's not a very good one...

[code]

I have no idea what's going on over in thread 2 there.

[2016-07-31 04:42] DemiMarie commented on #35005
Is there any legitimate use for such a type?  I can't think of any, since Rust allows zero-sized types, so one could declare a zero-sized struct that should not be constructable by outside code as
[code]

[2016-07-31 05:00] jseyfried opened #35135 "resolve: suboptimal unused import detection"
For example:
[code]

[2016-07-31 07:33] BartMassey opened #35136 "Test runner interacts badly with redirected child process"
(Moved here from rust-lang/cargo/2936 as it is believed to be a standard library bug.)

Consider the code at https://gitlab.com/BartMassey/ptyknot/tree/pipes-direct/misc/piperef-rs . The relevant portion is in piperef.rs:

[code]

This code is run in a child process. When it is invoked by running it after `cargo build`, it works fine regardless of whether Macro or C mode is used. When it is invoke

[2016-07-31 07:54] Marwes commented on #31548
Added basic language server support for my own language (written in Rust). The language server API is not complete yet but I would be happy to separate out the language agnostic parts to its own crate if that would be useful.

https://github.com/Marwes/gluon_language-server

[2016-07-31 07:57] canndrew commented on #35131
This happens on my other machine aswell :frowning:
Also running Gentoo, linux-4.0.5 x86_64, Core 2 Q9400 with 4GB RAM.

[2016-07-31 08:43] Manishearth commented on #35005
Exposing "sealed" traits for bounds without allowing people to implement them is one.

Also allows libraries to seal types for stability reasons -- exposing an effectively anonymous type means that you've further restricted how it can be used; and consequently have more freedom to tinker with internals.

[2016-07-31 08:52] petevine commented on #35131
@eddyb Could be but a MIR-only memory error would have been too big a coincidence to ignore.

[2016-07-31 09:52] arielb1 commented on #26158
I want to figure out our nested slice pattern story.

[2016-07-31 10:00] arielb1 commented on #34511
@eddyb

But lifetimes *are* important with `impl Trait` - e.g.

[code]

I mentioned that several times in the RFC threads

[2016-07-31 10:05] arielb1 commented on #34511
trait-object-less version:

[code]

This is either UB or not depending on the definition of `as_debug`.

[2016-07-31 10:50] nikomatsakis commented on #35123
I have a simple fix for that where, on startup, the compiler just validates that the crate numbers belong to the same crate as they used to (it doesn't try to find a new crate number if they don't match). This is suboptimal, clearly, but not terrible.

[2016-07-31 10:55] eddyb commented on #34511
@arielb1 Ah, right, I forgot that one of the reasons I did what I did was to only capture lifetime parameters, not anonymous late-bound ones, except it doesn't really work.

[2016-07-31 11:25] eddyb commented on #35131
@petevine Well, we did find the Rust cause for #34427 and ARM codegen turns it into a problematic instruction. Regardless, the key element here is `--enable-debug` with no optimizations, which is not officially supported.

[2016-07-31 11:43] nikomatsakis commented on #34991
One other problem: running, then using cargo clean and running again, doesn't seem to save much time. :( Will have to see what's causing it not to reuse results. Probably better to start with a very simple crate though. :)

[2016-07-31 12:35] tmiasko commented on #35136
There is a hidden functionality (`std::io::set_print`) that allows one to
provide a custom thread-local writer that will be used by `print!` like things.
libtest crate uses exactly that to capture the output, so in your test the
output never reaches the stdout.

[2016-07-31 12:58] petevine commented on #35131
I'm sure you're right, however the Rust cause is clearly related to MIR, and LLVM codegen could well be fine. (that's my bet for now)

[2016-07-31 13:02] eddyb commented on #35131
@petevine The Rust cause of #34427 is the *implementation* of MIR, coupled with LLVM ARM codegen.
This bug, however, *depends* on `--enable-debug`. x64 linux is known to build with MIR without `--enable-debug` whereas last I heard, `--enable-debug` didn't actually bootstrap, regardless of MIR.

[2016-07-31 13:26] petevine commented on #34427
@eddyb Oops, the oldest "new" rustc I've got here is dated July 16th and it doesn't produce the minimal example crash. The one that does (Jun 12th) was built before LLVM cmake transition and `rt` away from cmake (but it's still the same LLVM revision) so maybe the bootstrap is fixed too.

[2016-07-31 13:29] eddyb commented on #34427
@petevine If you confirm the bootstrap is fixed, we can close this.

[2016-07-31 13:46] jirutka commented on #34687
Before moving to rustbuild, you should definitely at least provide statically linked cargo binaries. I understand complications with rustc, but why is even cargo self-hosted, so you need prebuilt snapshot of cargo to build cargo? Sorry, but this is insane.

[2016-07-31 15:11] cengizIO commented on #35128
Hello.

What's the real issue here? Are you concerned about the extra error message?

Because when I [try this in playground](https://is.gd/VuCh7z), I get two errors and one of them is correct behaviour.

[code]

If it's so, I think you should update the title to "Deprecation warning getting incorrectly recursed into std function calls" or something like that.

Cheers!

[2016-07-31 15:20] cengizIO commented on #35110
@steveklabnik Hello! I can work on this.

[2016-07-31 15:22] TimNN commented on #35128
@cengizIO: I believe the current title is pretty accurate:

* only the `format_args!` macro is affected (as far as I can tell, `stringify!`, `concat!` and `try!` don't work for example)
* the error is triggered, even if `foo` is never used

See: https://is.gd/ua1Lyz

[2016-07-31 16:16] canndrew commented on #35131
@eddyb Correct. `--enable-debug` was breaking it. Should I open another issue about that?

[2016-07-31 16:21] eddyb commented on #35131
With a debug LLVM (on the upgrade to 3.9 branch) I get this:
[code]
This only happened with `-Z orbit`, so it is MIR-specific.

[2016-07-31 16:23] cengizIO commented on #35128
@TimNN Thanks for clarifying that for me.

I traced source to [librustc_lint/builtin.rs#L577](https://github.com/rust-lang/rust/blob/master/src/librustc_lint/builtin.rs#L577) but can't seem to find something special for macros.

[2016-07-31 16:35] terrynsun commented on #32372
I can take a stab at this!

[2016-07-31 16:40] TimNN commented on #35128
Alright, I did some more tests and basically the following happens:

* `#[deprecated]` is applied recursively, so a `#[deprecated] mod foo {}` will deprecate anything inside that module as well.
* `format_args!` (probably) expands (among other things) to something like `const BLA: &'static str = "bla"; ...; do_somthing(BLA);`
* since `foo` is deprecated, `BLA` is deprecated, so using `BLA` in `do_

[2016-07-31 16:48] TimNN commented on #16490
This just came up again in #35128, although a little bit more surprisingly, due to the expansion of `format_args!` inside of a deprecated function.

@steveklabnik: If I understand the original issue correctly, I believe your code should continue to warn about the `use of deprecated item`.

I believe the issue is that the following warning should not happen:

[code]

[2016-07-31 16:51] cengizIO commented on #35128
@TimNN Nice catch! Here's the full expanded version

[code]

[2016-07-31 17:00] eddyb commented on #34511
@arielb1 Do we have a strict outlives relation we can put between lifetimes found in the concrete type pre-erasure and late-bound lifetimes in the signature? Otherwise, it might not be a bad idea to just look at lifetime relationships and insta-fail any direct or *indirect* `'a outlives 'b` where `'a` is *anything* other than `'static` or a lifetime parameter and `'b` appears in the concrete type

[2016-07-31 17:10] BartMassey commented on #31343
For the record, see issue #35136 for an example where the test runner fouls up my test via `set_print` redirection.

I would prefer to see `set_print` and `set_panic` replaced by the test runner running its crates in a child process it controls, ala <http://gitlab.com/BartMassey/ptyknot>, but I'm not sure how that would work on Windows.

[2016-07-31 17:18] eddyb commented on #16490
The fix doesn't seem *that* hard. [`depr_map`](https://github.com/rust-lang/rust/blob/5556554e2504ba2df8712ad0666ce1a11915dade/src/librustc/middle/stability.rs#L69) can contain a `DefId` of the definition marked with `#[deprecated]` instead of `Deprecation` (which [can be obtained on demand](https://github.com/rust-lang/rust/blob/5556554e2504ba2df8712ad0666ce1a11915dade/src/librustc/middle/stabili

[2016-07-31 17:22] TimNN commented on #16490
If nobody has picked this up by then, I'll see if I can come up with a fix for this towards the end of the week.

[2016-07-31 17:22] BartMassey commented on #35136
Good to know; I looked for something like that, but never found it. Guess I wasn't looking carefully enough. Thanks much!

I've stuck a cross-reference on issue #31343 for the record.

I don't quite understand what I should do about this, though? I dug around in `stdio` looking for a way to take `stdout` back at the beginning of the test, but couldn't quite figure out how to do it. In any case, gr

[2016-07-31 17:23] cengizIO commented on #16490
@eddyb I can work this if nobody else wants to.

LiveEdit: I guess @TimNN wants. 🍀

[2016-07-31 17:58] diwic opened #35139 "Unsound: Borrowck missing that closure needs to be "move""
Here's as far as I've come in minifying the problem. It gives bad result on both Stable, Beta and Nightly according to playground.

    pub trait MethodType: Sized + Default {
        type GetProp: ?Sized;
    }

    #[derive(Default, Debug, Copy, Clone)]
    pub struct MTFn;

    impl<'a> MethodType for MTFn {
        type GetProp = Fn(&mut String) -> Result<(), ()> + 'a;
    }

    pub struct Pr

[2016-07-31 18:13] the-kenny commented on #35107
@alexcrichton Thanks! Lowering the thread count to `256` fixed the build for us. Shall we close this issue?

[2016-07-31 18:30] eefriedman commented on #35139
The problem has to do with `type GetProp = Fn(&mut String) -> Result<(), ()> + 'a;`.  It probably should be triggering E0207 ("the lifetime parameter `'a` is not constrained by the impl trait, self type, or predicates").

[2016-07-31 18:38] petevine commented on #34427
No change; clearly I must have run out of MIR bootstrapped rustc's :) The latter part of https://github.com/rust-lang/rust/issues/34427#issuecomment-230890468 still holds.

[2016-07-31 18:52] diwic commented on #35139
@eefriedman, hmm, but this would be a bad solution in my real code. I want to indicate that the GetProp function can borrow from its environment (as opposed to `+ 'static`, which is the default and does not allow borrows at all. I believe?).

[2016-07-31 19:18] eefriedman commented on #35139
You can change `MTFn` to `pub struct MTFn<'a>(PhantomData<&'a u8>);`, then write `impl<'a> MethodType for MTFn<'a> {`, and everything should work.

[2016-07-31 19:19] eddyb commented on #35131
@canndrew I can't reproduce on current master, only on the LLVM upgrade branch (fix for that is #35141).

[2016-07-31 19:56] arielb1 opened #35142 "Bad cascading "is not a trait" error"
## Meta

[code]

## STR

[code]

## Expected result

Single unresolved import error

## Actual result

[code]

The E0404 error is a duplicate (BTW, E0404 and E0432 should be switched ;-)).

cc @jseyfried

[2016-07-31 20:24] arielb1 opened #35144 "type_id is not crate-independent with object associated types"
## Meta

[code]
## STR

[code]

Any pair of crates, one of them with a struct, can be used instead of arena/term.
## Expected Result

The Type ID of `Iterator<Item=arena::TypedArena<()>>` should be the same when the cfg is toggled.
## Actual Result

The Type ID of `Iterator<Item=arena::TypedArena<()>>` differs when the cfg is toggled, but the id of `arena::TypedArena<()>` does not

[2016-07-31 20:43] alexcrichton commented on #35107
Sure, sounds good to me!

[2016-07-31 20:43] #35107 closed

[2016-07-31 20:50] jirutka commented on #31322
@japaric I can confirm that rustc you’ve compiled works well on Alpine Linux. Could you please create a complete snapshot like those hosted on http://static.rust-lang.org? I’ve spent half day just trying to built cargo, using [cargo-bootstrap](https://github.com/dhuseby/cargo-bootstrap), and it’s like a nightmare. :(

[2016-07-31 21:34] Osspial opened #35146 "Unnecessary "Parameter `Foo` is never used" error when `Foo` is used in generic bounds"
When creating `struct`s that use generics parameters for use in generic bounds, the compiler throws an error that such parameters aren't being used when they are actually being used in the bound. For example, take the following `struct`/`trait` pair:

[code]

This code has no reason not to compile, but it still fails with the following error:

[code]

Similarly, if a lifetime is used in the trait,

[2016-07-31 21:39] Stargateur opened #35147 "Book typo: 4.23. Closures: missing i in i32"
In chapiter 4.23. Closures, section "Taking closures as arguments"

There are two exemple where i is missing

[code]
[code]

[2016-07-31 21:42] #34349 closed

[2016-07-31 21:47] petevine commented on #32359
Closing in favour of the more focused #33181

[2016-07-31 21:47] #32359 closed

[2016-07-31 21:58] petevine commented on #33181
@eddyb Is there any use keeping this open? MIR trans is unaffected and I'm not going to try to reproduce it again.

[2016-07-31 22:05] #33181 closed

[2016-07-31 22:13] arielb1 opened #35148 "Verify that the AST does not have DUMMY_SP"
Currently, syntax extensions can generate code with `DUMMY_SP` in its AST. All compiler diagnostics from that code, and all stack backtraces generated by that code, are basically worthless.

That should not be possible. The lowered HIR should not have any DUMMY_SP.

cc @rust-lang/compiler

[2016-07-31 22:13] arielb1 commented on #35148
I think that if a syntax extension generates code with DUMMY_SP, we should use the span of its caller instead.

[2016-07-31 22:14] eefriedman commented on #35146
See https://github.com/rust-lang/rfcs/blob/4b4fd5146c04c9c284094aad8f54ca5c2093c7f2/text/0738-variance.md .

[2016-07-31 22:47] jirutka commented on #31322
Uff, I finally managed to build cargo on musl (with a lot of ad-hoc fixes during the process)!

[cargo-0.11.0-nightly-x86_64-alpine-linux-musl.tar.gz](https://alpine.geeknet.cz/distfiles/cargo-0.11.0-nightly-x86_64-alpine-linux-musl.tar.gz) (3.9 MiB)

[2016-07-31 22:56] bcully opened #35149 "rust 1.10 fails to build with local rust on OS X"
I'm the maintainer of fink's rust package, trying to update it to 1.10.0. It currently fails trying to run the stage0 compiler:

    rustc: x86_64-apple-darwin/stage0/lib/rustlib/x86_64-apple-darwin/lib/libcore
    dyld: Library not loaded: @rpath/libarena-d16b8f0e.dylib
      Referenced from: /Users/brendan/tmp/rustc-1.10.0/x86_64-apple-darwin/stage0/bin/rustc
      Reason: image not found
    ma

[2016-07-31 22:57] shepmaster commented on #34978
This may also negatively affect people who use Travis CI to test nightly builds or to produce easy-to-run redistributable binaries. Since they currently only support up to 14.04, I believe that you'd have to use their [Docker building](https://docs.travis-ci.com/user/docker/) and abandon the faster container-based infrastructure.

[2016-07-31 23:02] petevine commented on #31322
Not bad @jirutka! I wonder if `panic=abort` and `lto` works too? (I'm thinking about a smallest `x86_64` fully optimized cargo binary to date)

[2016-07-31 23:04] nrc commented on #34831
I've run the bootstrap on the perf machine a few times and it does really seem to take that long. I currently have an old commit running to see if something changed in the environment. Next step is to try a current commit but without the scripts in case something in the scripts is making it take super long.

[2016-07-31 23:06] alexcrichton commented on #34978
@shepmaster those two debian bugs look unrelated as I think they're related to how debian compiles the binaries. Although if we can figure out how to ask something to not emit these kinds of relocations I'd imagine it'd fix them as well!

That is, the bug here I'm worried about is specifically related to the musl target, there should be no regression in the glibc target we're shipping because that

[2016-07-31 23:12] eddyb commented on #34831
@nrc How many hours is "that long"?

[2016-07-31 23:12] tiffany352 opened #35150 "Unhelpful error message in macros which invoke other macros"
The problematic code:

[code]

Rustc output:

[code]

[Playpen link](https://is.gd/ett0rc)

This error points out that the `y!` macro performed an incorrect invocation of the `x!` macro, but fails to point out which `x!` macro in particular it is trying to invoke, or the location where the `y!` macro was invoked. In addition, it doesn't point out tokens which the macro would accept (in this case,

[2016-07-31 23:12] shepmaster commented on #34978
They definitely aren't *this* problem, but similar issues around mismatched binutils. I'd suppose you are right because Debian probably compiles their own version of Rust against their own binutils.

Oh, I agree. I was pointing out that I could see a project that wanted to make easily redistributable Linux binaries using Travis CI and building against musl running into this problem.

[2016-07-31 23:59] japaric commented on #31322
I think you only need to call [`make rustc-stage3`](https://users.rust-lang.org/t/how-do-i-build-rustc-with-statically-linked-rustlib/6674/4?u=japaric) instead of `make` to get one of those. Do note that the bootstrap process is now using previous stable releases instead of the old snapshots. But, I guess you can use the snapshot with `--local-rust=/path/to/rustc`.

We are not building Cargo for `

[2016-08-01 00:04] chris-morgan commented on #33417
Once [RFC 1216 is implemented](https://github.com/rust-lang/rust/issues/35121), `!` will be the appropriate error type for infallible conversions. I *think* that would mean that an `Error` bound on `TryFrom::Err`/`TryInto::Err` would be OK.

I’d certainly like it if implementing `From<T>` yielded a `TryFrom<T, Err = !>` implementation (and ditto for `Into`, of course).

[2016-08-01 00:24] durka commented on #28237
I want to write an RFC for `a ..= b` syntax and generalized ranges. I've started a [discuss thread](https://internals.rust-lang.org/t/representation-of-generalized-ranges/3792) to talk about how such ranges would be represented in the standard library.

[2016-08-01 00:24] jirutka commented on #31322
Hm, I’m still getting errors like below when compiling rustc on Alpine:

[code]

Yes, that’s what I’m doing.

No, https://static.rust-lang.org/cargo-dist/2016-03-21/cargo-nightly-x86_64-unknown-linux-gnu.tar.gz returns 404. BTW, it’s kinda hard to find what snapshots are available when static.rust-lang.org doesn’t provide indexes…

Uh, I’m stupid… I found this issue, but wanted to try it with [car

[2016-08-01 00:29] gyscos commented on #28373
Being able to include example files (from the `examples/` directory) would also go a long way toward reducing this kind of redundancy.

[2016-08-01 00:38] #35139 closed

[2016-08-01 00:58] japaric commented on #31322
Hmm, could that be related to #34978? If that's the case, I think a "snapshot" would still have the same problems. What version of binutils do you have installed in your Alpine box? It seems the binutils version is the root of the issue. A possible solution would be to cross compile the initial musl rustc from an older Ubuntu release (15.10 maybe?).

I've been annoyed by that before. Could you ope

[2016-08-01 02:30] tones111 opened #35152 "compiler panic (enum pattern didn't resolve to enum or struct None)"
I come across a compiler panic message when attempting to build (cargo build) the attached code.  This might be a dupe of issue #33293, so maybe someone can test against a version with that fix applied.  Thanks.

$ rustc --version --verbose
rustc 1.10.0
binary: rustc
commit-hash: unknown
commit-date: unknown
host: x86_64-unknown-linux-gnu
release: 1.10.0

[bug.zip](https://github.com/rust-lang/rus

[2016-08-01 03:20] DanielKeep commented on #33463
Hit this on 1.12 nightly 9316ae515, hosted on i686-pc-windows-gnu.

[2016-08-01 03:27] jimblandy commented on #28237
Ruby happens to use these two operators in the opposite way: `..` is an inclusive range, and `...` is an exclusive range. See [docs]. This seems like an additional argument for using a different syntax than `...` for inclusive ranges.

[docs]: http://ruby-doc.org/core-2.1.3/Range.html

[2016-08-01 03:44] eddyb commented on #35150
cc @jonathandturner

[2016-08-01 04:05] nrc commented on #34831
@eddyb 48?

[2016-08-01 04:47] canndrew commented on #35131
@eddyb Well it was broken for me on yesterday's master, from a fresh clone :confused:

[2016-08-01 04:50] m4b commented on #34978
I think we can fix this.

So, using binutils version 2.26, I recompiled musl with `-fPIC` and added the `-Wa,-mrelax-relocations=no` to musl's `config.mak` for the `CFLAGS`, and stderr, which was previously compiled with the problematic relocation, `R_X86_64_GOTPCRELX` and it generates the backwards compatible (but less optimized) relocation `R_X86_64_GOTPCREL` (notice no X):

[code]

similarly fo

[2016-08-01 04:54] m4b commented on #34978
oh yea, you'll need to add this flag to the libunwind compilation step too I think, since i'm seeing similar optimizations (and unknown relocation failures) there :/

[2016-08-01 04:54] mrkev opened #35153 "Unexpected panic at 'explicit panic', src/librbml/lib.rs:436"
I'm not the first one to see this one (#33733, #33015 -promise I'm not drunk tho heh) while building a brand new project with a single dependency:

[code]

The full trace;

[code]

## Meta

[code]
and
[code]

[2016-08-01 05:07] camlorn opened #35154 "Rustc runs out of memory when dealing with extremely large array literals in macros"
Playground link: https://is.gd/WsYvhb

This was originally a typo having to do with using a screen reader, which doesn't read exclamations in positions which it decides aren't the ends of sentences well with my currently configured settings.  I first observed it locally with 0.10 i686-pc-windows-gnu.

Expected behavior with that version and triple appears to be an error message about the array con

[2016-08-01 05:09] #35149 closed

[2016-08-01 05:21] sanxiyn commented on #35152
Yes, this is fixed.

[2016-08-01 05:21] #35152 closed

[2016-08-01 05:30] Aatch commented on #34831
@nrc sounds like it might be specific to the perf machine then. If full builds were regularly taking even a tenth of that to run, we'd know about it elsewhere.

[2016-08-01 05:39] Aatch commented on #35154
Duplicate of #30083. The "capacity overflow" is from trying to create the massive vector to pass to LLVM.

[2016-08-01 05:39] #35154 closed

[2016-08-01 05:41] Aatch commented on #30083
One issue shown by #35154 is that very large arrays can cause ICEs due to us trying to create absurdly-large vectors to hand to LLVM for constants.

[2016-08-01 05:58] Aatch commented on #35153
Interestingly, @filmor seems to have encountered the same issue with the same crate. While he did make sure it was a completely fresh build, could you do the same? This ICE normally comes from having old crates around.

[2016-08-01 06:07] DemiMarie opened #35155 "New gdb with Rust support does not honor rust-gdb's pretty printers"
`gdb` git HEAD, when invoked via `rust-gdb`, does not honor the Rust pretty-printers.  This results in bad printing of types like `Vec`.

[2016-08-01 07:17] michaelwoerister commented on #35155
cc @tromey

[2016-08-01 08:05] michaelwoerister commented on #35144
This is probably the same underlying issue that has been solved for `tyencode` here:
https://github.com/rust-lang/rust/pull/34805
Projection bounds should be hashed in deterministic order.

[2016-08-01 08:26] sanxiyn commented on #35131
I can reproduce on master, 535cea0, `--enable-orbit --enable-debug`, `make rustc-stage2`. Segmentation fault in the same place.

[2016-08-01 08:53] #35075 closed

[2016-08-01 09:16] canndrew commented on #35121
@eddyb, @arielb1, @anyone_else: Thoughts on this approach? I'm pretty much up to this stage (sans a couple of failing tests that I'm (very slowly) trying to fix).

[2016-08-01 09:34] matklad opened #35158 "`pub` should not be allowed on nested items"
The following compiles without errors:

[code]

It probably should be an error to specify `pub` on a nested item, because it has no effect.

[2016-08-01 09:38] canndrew commented on #33417
Yes, we'll definitely have `impl Error for ! { ... }` for precisely these sorts of cases.

[2016-08-01 09:53] petrochenkov commented on #35158
Hey, we permitted this only a few months ago, it's too soon to make it an error again.
See https://github.com/rust-lang/rust/issues/31776 for details.

[2016-08-01 10:03] matklad commented on #35158
Hm, perhaps a lint should be added? Originally I though of the following example:

[code]

[2016-08-01 10:06] #35158 closed

[2016-08-01 10:22] abonander opened #35160 "Compiler allows type aliases with unused lifetime parameters"
First noticed with [this funky type alias](http://docs.piston.rs/piston_window/piston_window/type.G2dTexture.html), which probably needed a lifetime at one point but doesn't anymore.

Simplest case is the most trivial: create a type alias with a lifetime parameter, but don't use it on the RHS:

[code]

[Playground](https://is.gd/TTuCYZ)

The linked example compiles on all three channels.

As far a

[2016-08-01 10:57] hoodie commented on #28237
On the other hand, you could argue that people could just get used to it

[2016-08-01 11:30] eddyb commented on #35131
@sanxiyn Can you reproduce by running `./x86_64-unknown-linux-gnu/stage1/bin/rustc -Z orbit -g src/libcore/lib.rs` manually? Can you get a backtrace?

[2016-08-01 11:47] #34793 closed

[2016-08-01 12:38] JonasOlson commented on #33038
Wouldn't it be nice to have `count` take a predicate as an argument, and count only those items for which the predicate is true, so that `.count(predicate)` would be the same as `.filter(predicate).count()`? It think that would make even more sense readability-wise.

[2016-08-01 12:51] sanxiyn commented on #35131
Yes, I can reproduce manually. Backtrace is similar to what @canndrew already posted.

[code]

[2016-08-01 12:55] eddyb commented on #35131
@sanxiyn Can you dump `info registers` and `info proc mappings`? This might be a stack overflow, which would explain the mangled backtrace.

[2016-08-01 13:16] wesleywiser commented on #35147
This was fixed in 81386cf277d29b347bf4506571b9f0bcd3326523. I guess this hasn't made it to `stable` yet?

[2016-08-01 14:28] eddyb commented on #35131
On IRC @sanxiyn has provided enough information to track it down to [`DiagnosticKind`](https://github.com/rust-lang/llvm/blob/7ca76af03bb04659562890d6b4f223fffe0d748f/include/llvm/IR/DiagnosticInfo.h#L46-L64), which we [wrap on the Rust side](https://github.com/rust-lang/rust/blob/5ef1e7e0efe7129edbf06a699abaa6563e8cfc9e/src/librustc_llvm/lib.rs#L410-L419) *even though* it's an unstable C++ enum.

[2016-08-01 14:47] eddyb commented on #35160
You can't misuse it because the checks are done on the semantic type, so it sees right through type aliases, e.g. `impl<'a> Foo for MyType<'a>` will fail because `Foo for String` doesn't mention `'a`.

[2016-08-01 14:51] terrynsun commented on #32372
Oh, it looks like someone already added a clarification of using dot notation with tuple structs. Do you think that resolves this issue?

[2016-08-01 14:54] eddyb commented on #35131
@sanxiyn managed to get it to print:
[code]
I have no reason to believe this is MIR-specific, just triggered by MIR due to a combination of factors.

[`diagnostic_handler` has a default arm](https://github.com/rust-lang/rust/blob/5ef1e7e0efe7129edbf06a699abaa6563e8cfc9e/src/librustc_trans/back/write.rs#L423) and @sanxiyn and I are speculating that, given optimizations, it would likely catch the UB

[2016-08-01 14:57] #35147 closed

[2016-08-01 15:28] jonathandturner opened #35164 "json byte position doesn't start at top of file"
From the IRC conversation:

The fix should be to alter the json output so that lo/hi of the span's byte position start at the top of the file rather than at a codemap offset.

[2016-08-01 16:00] eddyb commented on #34119
@alexbool Next nightly (~20h from now) should be fixed. Will close when we have confirmation.

[2016-08-01 16:08] michaelwoerister opened #35165 "compiletest: error-pattern and warnings are not checked in run-pass tests"
There are some `run-pass` tests that seemingly check whether a specific warning or error is emitted. As far as I can tell though, the `compiletest` tool just ignores the given directives in a `run-pass` test case, i.e. changing the given directives to something unexpected still lets the tests pass.

Some affected test cases (in no particular order):
- `attr-before-view-item.rs`
- `attr-before-view

[2016-08-01 16:15] sfackler commented on #33417
I'm a bit worried about the type differences in the integer conversions use case, but it does seem like we should probably punt on stabilizing this until `!`-as-a-type lands to have a chance to experiment.

[2016-08-01 16:39] alexbool commented on #34119
OK, I'll try

[2016-08-01 17:43] nikomatsakis commented on #34166
Removing from the "launch MIR into orbit" milestone for the following reasons:

- The problem with glium specifically is not present in the latest release.
- As @arielb1 argues, there are many sources of "O(n^2)" behavior in LLVM (not to argue we shouldn't try to fix this one), some of which are present in old trans, some in MIR trans.
- We do plan to address this source by working on optimization

[2016-08-01 18:16] arielb1 commented on #35153
dupe of #34027.

[2016-08-01 18:16] #35153 closed

[2016-08-01 18:22] nikomatsakis opened #35167 ""cargo clean; cargo build" doesn't save work w/ incremental"
In fixing #34991, I tried an experiment of doing `cargo build` then `cargo clean` and `cargo build` with incremental compilation enabled. I believe that, in principle, this ought to enable full-reuse, since the sources haven't changed. It did not. It's worth making a small cargo package and experimenting with why this might be the case (or maybe even small standalone rustc program, though we do se

[2016-08-01 18:28] rkruppe commented on #35167
I needed a double take when reading the title, so for clarification: You put the incr.comp. directory outside of `target/` and only used `cargo clean` to force invoking `rustc` again? Eventually, when inc.comp. works and is integrated in the usual work flow, its cache will be cleared by `cargo clean`, right?

[2016-08-01 18:38] durka commented on #24263
An alternative of sorts has emerged where the wrapper function returns an opaque newtype that derives some traits, but not all. See rust-lang/rfcs#1696.

[2016-08-01 18:41] brson commented on #27741
Thanks for the update!

[2016-08-01 18:52] nikomatsakis commented on #35167
@rkruppe yes, that is correct.

[2016-08-01 18:58] nikomatsakis commented on #35167
Hmm, it's not as simple as getting "no re-use". For example, I tried the deque package and got these print outs:

incremental: re-using 6 out of 6 modules
incremental: re-using 3 out of 13 modules
incremental: re-using 1 out of 1 modules

[2016-08-01 19:01] Sawyer47 opened #35169 "Rustdoc: Wrong documentation in case of types that only implement Deref, but not DerefMut"
Wrong documentation is generated for types that only implement Deref, but not DerefMut. It inherits methods from both Deref and DerefMut.

Steps to reproduce:
`cargo new deref-doc-bug`

[code]
`cargo doc --open`

Generated documentation has methods for both `&[char]` and `&mut [char]`, for example`fn get_mut`.

## Version
[code]

[2016-08-01 19:04] nikomatsakis commented on #35167
A further note: if I just execute the command to rebuild rand, I get 100% reuse. So it's something to do w/ building libc first.

[2016-08-01 19:05] nikomatsakis commented on #35167
Problem is that the metadata hashes are changing (unsurprisingly, but also reassuringly).

[2016-08-01 19:20] nikomatsakis commented on #35167
hmm so I realize that we are computing metadata hash by iterating over the dep-nodes, but the ordering of that iteration is almost certainly not stable.

[2016-08-01 19:44] nrc commented on #34831
@Aatch to be clear, that is a full run of the perf measurements, which is multiple bootstraps + 6 stage builds + 10 of each benchmark

[2016-08-01 19:48] nikomatsakis commented on #35167
I just confirmed that this is indeed the problem. Have to think about the best way to sort the nodes.

[2016-08-01 19:50] eddyb commented on #34831
On IRC @nrc pointed out that building just `stage2` jumped from 13m to 2h30m, so ~12x.

[2016-08-01 20:30] jorendorff opened #35170 "jorendorff on built-in-traits, part 5: `Default`"
(this issue was opened by accident, never mind)

[2016-08-01 20:32] #35170 closed

[2016-08-01 20:43] nikomatsakis opened #35171 "LLVM lifetime intrinsics and MIR"
MIR is currently not emitting LLVM lifetime intrinsics. This means we will generate larger stack frames than trans.

cc @eddyb @arielb1 @nagisa, with whom I know I have discussed this

[2016-08-01 21:24] eddyb commented on #34119
@alexbool FWIW both @alexcrichton and me and have tried and can't reproduce on beta or nightly.
I also can't reproduce on a local build that includes the LLVM upgrade, so this is most likely fixed now.

[2016-08-01 21:35] DemiMarie opened #35173 "gdb git HEAD cannot invoke methods"
`gdb` (git HEAD) cannot invoke member functions, as their demangled name contains `{{impl}}` or other syntactically-invalid forms.

[2016-08-01 22:40] brson commented on #35165
Nice catch.

[2016-08-01 22:41] alexcrichton commented on #29958
We updated homu, so I think this is taken care of now

[2016-08-01 22:41] #29958 closed

[2016-08-01 22:43] alexcrichton commented on #8426
This is a pretty ancient bug, and now that we have a ton of Windows automation set up, I doubt we're going to do this. We barely even run valgrind on Linux, much less OSX, much less Windows, so I don't think that this is particularly pressing.

[2016-08-01 22:43] #8426 closed

[2016-08-01 22:43] alexcrichton commented on #9435
Done!

http://perf.rust-lang.org/mem.html

[2016-08-01 22:43] #9435 closed

[2016-08-01 22:43] brson commented on #35165
An easy way to get started fixing this is to add checks for the warnings to run-pass. It should be relatively easy to crib off the compile-fail code to figure out how to do it.

Additionally add code that makes error directives `//~ERROR` or `error-pattern` *errors* since they don't make sense in run-pass tests.

For any tests that begin to fail because of these changes, check with the author of t

[2016-08-01 22:43] DemiMarie commented on #35101
Would Valgrind detect this?  If not, I suspect that Rust needs ASan and UBSan support.

[2016-08-01 22:44] alexcrichton commented on #13334
This is a pretty old bug at this point, but all our editor integration has its own packaging/distribution mechanisms, so I'm going to close this.

[2016-08-01 22:44] #13334 closed

[2016-08-01 22:46] alexcrichton commented on #21904
Closing due to https://github.com/rust-lang/rust-buildbot/pull/16 being closed

[2016-08-01 22:46] #21904 closed

[2016-08-01 22:47] alexcrichton commented on #21243
We've now done this with v2 manifests, so closing

[2016-08-01 22:47] #21243 closed

[2016-08-01 22:48] alexcrichton commented on #17578
Closing, we actually ended up going back to Android API level 9 for Servo

[2016-08-01 22:48] #17578 closed

[2016-08-01 22:48] alexcrichton commented on #17578
er, for Gecko

[2016-08-01 22:49] alexcrichton commented on #20836
Closing since we enabled rpath by default

[2016-08-01 22:49] #20836 closed

[2016-08-01 22:50] alexcrichton commented on #23193
We've since enabled rpath by default, so closing

[2016-08-01 22:50] #23193 closed

[2016-08-02 00:31] terrynsun commented on #35165
Can I try working on this?

[2016-08-02 01:38] petevine commented on #34427
@eddyb Updating LLVM to 3.9 made no difference. Clutching at straws here - I gave a rough estimate when the regression'd started and now wonder if the choice of stage0 compiler (I might have switched around that time) could have any impact beyond stage0?

[2016-08-02 01:39] nagisa commented on #35173
Since gdb now implements Rust support natively, this probably should be reported against gdb instead.

[2016-08-02 01:40] eddyb commented on #34427
@petevine The `stage0` compiler is the one relevant here, it's the one compiling the `librustc_trans` that goes into `stage1/bin/rustc`, and which contains the problematic instruction.

[2016-08-02 01:44] petevine commented on #34427
Yeah, that's what I meant by beyond stage0 - did my experiment of turning MIR off for stage0, and then turning it back on for stage1, getting the same crashg during `stage2's` libcore conclusively prove the issue couldn't propagate from the snapshot used?

[2016-08-02 01:49] eddyb commented on #34427
@petevine Alright, so it's not fixed yet. And my snippet from https://github.com/rust-lang/rust/issues/34427#issuecomment-231554262 stopped triggering it?
Because that's pretty much identical to the code in `rustc_trans`.

[2016-08-02 02:00] cybergeek94 commented on #35160
@eddyb [Are you sure about that?](https://is.gd/ibHELw)

[2016-08-02 02:03] eddyb commented on #35160
@cybergeek94 You're not using it anywhere so it's actually ignored, apparently.
[Here's the error](https://play.rust-lang.org/?gist=2bf3d87e421f5fa91d81ba657e019d18&version=nightly&backtrace=0).

[2016-08-02 02:04] petevine commented on #34427
I'm sure your snippet would trigger the crash, it's just I don't have any recent rustc's bootstrapped with MIR. The last one I've got is dated `Jun 10th` and it produces crashing code which means the issue was already present back then.

So how was I still able to do a MIR bootstrap?  Would that suggest the choice of stage0 compiler somehow propagates after all?

[2016-08-02 02:09] eddyb commented on #34427
@petevine You only need to be able to compile that snippet for ARM, with `-Zorbit -O` and run it.
I don't really know what to say if 3.9 doesn't help with that. Unless `clang` can reproduce the problem.

I'm not sure what you mean by being able to do a MIR bootstrap.

[2016-08-02 02:15] petevine commented on #34427
I meant an `--enable-orbit` bootstrap. OK, I'll try repeating the experiment with `LLVM 3.9` and `-Zorbit` taking over in `stage1` - if it still crashes during stage2, the question of LLVM will be settled.

[2016-08-02 02:20] tromey commented on #35155
It's most useful if you can report the version of rustc that you are using.  I was able to reproduce the problem with stable.  I'll look into it.

[2016-08-02 02:20] eddyb commented on #34427
@petevine In a way, the snippet is more important than `rustc_trans`, because it's simpler and can be reduced further. However, I don't have access to a machine to run the code and thus reduce it.

[2016-08-02 02:23] petevine commented on #34427
Sure, but let me repeat, old trans bootstrapped rustc doesn't produce crashing code (while still using `-Zorbit -O`) which sounds very strange to me :)

[2016-08-02 02:32] petevine commented on #34427
Also, a `SIGILL` on Linux can be triggered by failed allocations or OOM conditions - can we eliminate this angle?

[2016-08-02 02:35] eddyb commented on #34427
Ah, I understood otherwise. That's confusing, given that `stage0` wasn't bootstrapped with MIR trans, and yet it produced crashing `rustc_trans` code.

[2016-08-02 02:36] tromey commented on #35155
The older gdb says the type of a vec variable is:

[code]

However git gdb says:

[code]

The rust pretty-printers assume that the type tag holds the unqualified name (see `GdbType.get_unqualified_type_name`), but in git gdb, this is not the case:

[code]

Perhaps the Rust gdb scripts could be updated to recognize this name, though I'm not 100% certain this will work in all cases.

[2016-08-02 02:38] petevine commented on #34427
It's entirely possible the stage0 compiler I'm currently using was bootstrapped with MIR trans. It's not the official beta, if that's what you meant.

[2016-08-02 02:41] petevine commented on #34427
Ay, it must have been - it's my own nightly build rustc 1.11.0-nightly (`0554abac6`)

[2016-08-02 02:54] eddyb commented on #34427
I was hoping to reproduce in clang: https://godbolt.org/g/8BnjtE - however, it produces:
[code]
IIUC, `str     r0, [r0, r1]!`, if valid, would be equivalent to these two instructions.

[2016-08-02 03:00] petevine commented on #34427
Yeah, that immediately struck me as wrong but I thought, maybe the compiler is that smart!

[2016-08-02 03:06] eddyb commented on #34427
@petevine Can you get good / bad versions of the LLVM IR for my snippet? Looking at the assembly again, I don't see how storing `r0` could possibly work - it's supposed to store `r1` which is `0`.

[2016-08-02 03:06] petevine commented on #34427
Sure, I think I should have both versions lying around somewhere.

[2016-08-02 03:09] petevine commented on #34427
Attached.

[2016-08-02 03:10] eddyb commented on #34427
FWIW, this is more or less what's happening in the good ASM: https://godbolt.org/g/mU6Egb.

[2016-08-02 03:37] eddyb commented on #34427
@petevine Hmm, one crucial element is `undef` - that is, if you replace `None` by `unsafe { std::mem::zeroed() }`, it should work even with `-Zorbit -O`.

[2016-08-02 03:40] petevine commented on #34427
Correct!

[2016-08-02 03:41] eddyb commented on #34427
Reproduction! https://godbolt.org/g/YHu7H8

[2016-08-02 03:45] petevine commented on #34427
Impressive! Shall I direct you to a preexisting LLVM issue? ;)

[2016-08-02 03:51] mitchmindtree commented on #34027
I managed to avoid the `ICE` that would occur when compiling the `synth` crate (mentioned by @filmor) with [this PR](https://github.com/RustAudio/envelope/pull/19) to one of its dependencies.

Similarly to the conrod fix, all the PR does is move a type definition (this time a function rather than a struct) out of the body of a function and to the root of the module.

Now however, I've managed to h

[2016-08-02 03:52] eddyb commented on #34427
@petevine Well, I just filed https://llvm.org/bugs/show_bug.cgi?id=28809.

[2016-08-02 03:54] petevine commented on #34427
Great job, thx! I'm just going to link to my previous feeble attempt from there.

[2016-08-02 04:00] edsrzf opened #35177 "Possible trait bounds issue in compiler"
I have some code that I think should compile, but it doesn't with rustc 1.9 or 1.10. I originally [posted this to Reddit](https://www.reddit.com/r/rust/comments/4vlxmu/hey_rustaceans_got_an_easy_question_ask_here/d605t7s).

Here's the code in question, reduced from real code:

[code]

`foo` fails to compile. The compiler complains:

[code]

It seems to me that this bound should be satisfied since

[2016-08-02 05:34] DemiMarie commented on #21073
Is this undefined behavior?

[2016-08-02 06:14] z3t0 commented on #12690
Hi all, just wanted to ask it seems  that sleep() does not sleep to the nanosecond precision?

[2016-08-02 07:58] ollie27 commented on #24137
This was fixed by #34752. https://doc.rust-lang.org/nightly/std/?search=downcast_ref

[2016-08-02 08:00] tovarishdno opened #35179 "eat while running"
Before i put the TAB eat any food and running - never had a problem with it stopped my running. But now, i need to click to mouse0 in TAB, whatever i was able to do at least something
Vid: https://youtu.be/E0d2j9ogp0o

[2016-08-02 09:24] oli-obk opened #35180 "unsatisfyable HKL error message prints broken bound (`for<'b> 'b : `)"
the full error is

[code]

reproducible example on stable, beta and nightly:

[code]

[2016-08-02 09:50] dns2utf8 commented on #35179
Hi Tovarishdno

I think you are looking for the [Rust-Forum](https://lab.facepunch.com/rust) or the [Steam-Forum](https://steamcommunity.com/app/252490/discussions/4/). This project has no ties to the game [Rust](https://playrust.com/)

Regards

[2016-08-02 09:55] lu-zero commented on #35059
It does that by doing an explicit `emit()` over the error and then triggers a panic, it is still confusing.

[2016-08-02 10:51] #35179 closed

[2016-08-02 14:00] jirutka commented on #31322
Not really sure, but I don’t think that it’s related. However, it’s probably related to binutils.

2.26.1

[2016-08-02 14:04] bstrie commented on #34400
@alexcrichton Is there an open issue for this somewhere? I'd like to know what this means in more detail.

[2016-08-02 14:28] eminence opened #35183 "rustdoc and linking to stdlib docs"
- Observation:  Running `rustup doc` is great and works wonderfully.
- Observation:  The docs hosted on [rust-lang.org](https://doc.rust-lang.org/nightly/std/index.html) are Unix only.  Windows-only types are no-where to be found.
- Observation:  After running `cargo doc` and viewing local docs, any links to stdlib types are redirected to the rust-lang.org hosted docs, and so links to Windows-only

[2016-08-02 14:58] eminence commented on #35183
Half dup of #1998

[2016-08-02 15:53] vadimcn commented on #34502
But in that case programs won't be able to unwind from panic without dropping into debugger.  When debugger is not attached, `int 3`crashes the program.
You might be thinking of `if (IsDebuggerPresent()) DebugBreak();` sort of thing, but even that is annoying, IMO, because the debugger will always do a breakpoint stop, even if you were debugging something else.
What's wrong with setting a breakpoi

[2016-08-02 16:18] #35142 closed

[2016-08-02 16:25] alexcrichton commented on #34400
@bstrie it's this issue! We just need to be sure to lazily compile compiler-rt as part of `cargo build` of the standard library, but that's what this issue is about.

[2016-08-02 16:33] alexcrichton commented on #24137
Yay!

[2016-08-02 16:33] #24137 closed

[2016-08-02 16:38] alexbool commented on #34119
@eddyb I can confirm that with the latest nightly it doesn't reproduce

[2016-08-02 16:40] jonathandturner opened #35184 "E0384 needs to be updated to new format"
E0384 still uses the old format and can be updated to the new format.  Ideally, we would move from span_note to span_label, as well as add a few labels.

Given the example:
[code]

This would change the error from this:

[code]

to:

[code]

[2016-08-02 16:42] #34119 closed

[2016-08-02 17:07] bruno-medeiros commented on #31548
Ha, I had just started very similar work last week: https://github.com/RustDT/RustLSP
RustLSP is meant to be just the LSP protocol, not tied to any actual language engine.

I'm hoping later to actually provide a basic Rust language server, by integrating Racer, Rainicorn, maybe even cargo build and rustw to the LSP protocol.

[2016-08-02 17:15] steveklabnik commented on #35110
@cengizIO great! Do you need any help from me?

[2016-08-02 17:16] steveklabnik commented on #32372
@terrynsun I think so yes! Thank you for investigating. :smile:

[2016-08-02 17:16] #32372 closed

[2016-08-02 17:22] kamalmarhubi commented on #35061
I did a bit of reading and here's what I figured out, please correct me if any of this is wrong. Linkers are new to me!

Rust builds position independent executables by default on platforms that support it. These platforms have  a relocation model of pic in their target config. The [code @jvns linked](https://github.com/rust-lang/rust/blob/d11936251a93d7395169dfab9088c4dde0cca180/src/librustc_tran

[2016-08-02 17:23] nagisa commented on #35184
@jonathandturner usually E-easy issues benefit a lot from a short summary on what should be done.

It would likely involve changing [this](https://github.com/rust-lang/rust/blob/master/src/librustc_borrowck/borrowck/mod.rs#L761) code to use `span_label` rather than `span_note`.

Why is there a distinction between these two?

[2016-08-02 17:25] jonathandturner commented on #35184
@nagisa - I'm actually hoping up to queue a lot of these to go along with a call-for-volunteers blog post.  You're right though it could use some additional guidance.

To your other point, for small messages it makes sense to use labels.  For larger, more involved messages, sometimes span_note works a little better.  In time, hopefully we'll strike a good balance.

[2016-08-02 17:30] icanrealizeum opened #35185 "doc: some links to char primitive give Not Found "Looks like you've taken a wrong turn.""
This might be more generic, but in my case, clicking on the `char` links on this page: https://doc.rust-lang.org/std/string/struct.String.html#method.chars
gives a page with:
[code]

The good link appears to be this: https://doc.rust-lang.org/std/char/index.html

Thanks!

[2016-08-02 17:31] icanrealizeum commented on #35185
Oh wait actually, the good link seems to be this:
https://doc.rust-lang.org/std/primitive.char.html
instead of what it tried:
https://doc.rust-lang.org/std/string/primitive.char.html

[2016-08-02 17:35] durka commented on #35185
See #32129.

[2016-08-02 17:40] scottcarr opened #35186 "[MIR] Cannot explicitly set discriminant"
In #35168, we might like to deaggregate enums like:

[code]

Into:

[code]

The problem (as far I know) is that the deaggregated version never sets the discrimnant.

I had some code that at least did the casting:

[code]

[2016-08-02 17:43] Diggsey commented on #34502
Having looked into it a little, I think the best option would be to remove the top-level exception handler which rustc installs, when compiling for windows.

When a panic is uncaught, it should then automatically trigger the windows JIT debugging feature, or if running in a debugger, it would break into the debugger. Setting a breakpoint on `rust_panic` only works if you've already got a debugger

[2016-08-02 17:50] icanrealizeum commented on #35185
yup, duplicate.
Thank you:)

[2016-08-02 17:50] #35185 closed

[2016-08-02 17:57] nagisa commented on #35186
I have long wanted to add a `Discriminant` lvalue projection. Might be a time to do it.

[2016-08-02 18:12] Marwes commented on #31548
@bruno-medeiros I finished making the rest of the [serializing structures](https://github.com/Marwes/gluon_language-server/blob/master/src/language_server.rs) yesterday (barring a mistake here or there), if you want I can move them to a crate and submit to crates.io if you want to skip the tedious part of the server.

[2016-08-02 19:30] nikomatsakis commented on #35186
Could also use it to rewrite `Switch` vs `SwitchInt`, which I think @nagisa  was in favor of :)

[2016-08-02 19:58] cengizIO commented on #35110
@steveklabnik Hello. Not currently. I'll come up with a PR and ask your comments on it tomorrow or the next day.

Thanks for keeping an eye!

[2016-08-02 19:59] nikomatsakis commented on #35119
On Fri, Jul 29, 2016 at 03:49:10PM -0700, eternaleye wrote:

To clarify: do you mean "simulating global asm using a dummy naked function is a hack"?

[2016-08-02 20:03] eternaleye commented on #35119
@nikomatsakis

In essence, yes.

[2016-08-02 20:11] alexcrichton opened #35188 "./configure --disable-orbit doesn't for tests"
The support added in https://github.com/rust-lang/rust/pull/35187 won't pass `-Z orbit=off` for tests, such as the run-pass test suite. We should do it when `--disable-orbit` is present.

[2016-08-02 20:15] nrc commented on #31387
Could you zip it on the server and unzip on the client? Failing that, we should use move to a new format. Optimised JSON is a terrible idea - either use JSON because it is clear what is getting serialised to what and its human readable or move to an efficient binary format to be efficient. Trying to optimise JSON gets you the worst of both worlds - a format which is easy to make mistakes with and

[2016-08-02 20:17] nrc commented on #31387
Or move to an architecture where you don't need to download the whole search index to the client (which honestly seems like a terrible thing to do).

[2016-08-02 20:55] japaric commented on #31322
The rustc/std I uploaded was built with binutils 2.25. The reports on #34978 indicate that the problem occurs when a std built with binutils 2.26 is used in a system with binutils 2.25 or older. That would be the reverse of what you are seeing. So no I'm not sure what's wrong in your case.

To discard the binutils version mismatch problem you could (a) try installing binutils 2.25 in your Alpine b

[2016-08-02 21:06] jonathandturner commented on #35184
@nagisa - updated

[2016-08-02 21:15] durka commented on #35118
Is `#[repr(u128)] enum SuchDiscriminantVeryWideWow { ... }` allowed?

[2016-08-02 21:19] Amanieu commented on #35118
That's a good point, I don't see any reason why it shouldn't be allowed.

[2016-08-02 21:22] durka commented on #35118
The return type of the `discriminant_value` intrinsic needs to be updated, then :)

[2016-08-02 21:25] nagisa commented on #35118
Intrinsics are stuff internal to the compiler, therefore changes to them doesn’t need discussion in the RFCs.

[2016-08-02 21:26] jonathandturner opened #35190 "E0001 needs to be updated to new format"
From: src/test/compile-fail/E0001.rs

We need to add a span_label to update E0001 from:

[code]

To:
[code]

[2016-08-02 21:27] durka commented on #35118
I know, I just wanted to mention it here since I didn't see enums discussed in the RFC.

[2016-08-02 21:29] jonathandturner opened #35191 "E0004 needs to be updated to new format"
From: src/test/compile-fail/E0004.rs

E0004 needs a span_label, taking it from:

[code]

to:

[code]

Bonus: We may want to update the span that this error uses as well to point at something other than the beginning of the match.

[2016-08-02 21:30] jonathandturner opened #35192 "E0005 needs to be updated to new format"
From: src/test/compile-fail/E0005.rs

E0005 needs a span_label, taking it from:

[code]

to:
[code]

[2016-08-02 21:35] jonathandturner opened #35193 "E0009 needs to be updated to new format"
From: src/test/compile-fail/E0009.rs

A span_note needs to be updated to a span_label.  We may also want to update the span used for the error to the second label.  This would take this:

[code]

to:

[code]

[2016-08-02 21:38] jonathandturner opened #35194 "E0010 needs to be updated to new format"
From: src/test/compile-fail/E0010.rs

A span_label is needed on E0010, taking it from:

[code]

To:

[code]

[2016-08-02 21:42] jonathandturner opened #35195 "E0017 needs to be updated to new format"
From: src/test/compile-fail/E0017.rs

E0017 needs a span_label to be added, taking the examples from:

[code]

to:

[code]

Bonus: you'll notice this test file duplicates its error messages.  Ideally, each error would be printed only once.

[2016-08-02 21:46] jonathandturner opened #35196 "E0023 needs to be updated to new format"
From: src/test/compile-fail/E0023.rs

E0023 needs span_labels, taking it from:

[code]

To:

[code]

Bonus: "this pattern has 1 fields" isn't good English. You could detect the number and change "fields" to "field" or reword this to be "this pattern has 1 field(s)"

[2016-08-02 21:51] jonathandturner opened #35198 "E0025 needs to be updated to new format"
From: src/test/compile-fail/E0025.rs

E0025 needs span_label instead of span_note, changing it from:

[code]

To:

[code]

[2016-08-02 21:53] nagisa opened #35199 "rustbuild ignores the llvm-config setting"
I got in my `src/bootstrap/config.toml`:

[code]

but rustc_llvm/build.rs still seems to attempt using /usr/bin/llvm-config

[code]

cc @alexcrichton

[2016-08-02 21:53] jonathandturner opened #35200 "E0027 needs to be updated to new format"
From: src/test/compile-fail/E0027.rs

E0027 needs a span_label, taking it from:

[code]

to:
[code]

[2016-08-02 21:57] jonathandturner opened #35201 "E0029 needs to be updated to new format"
From: src/test/compile-fail/E0029.rs

The E0029 error needs a span_label, taking it from:

[code]

to:

[code]

Bonus: The start type and end type should probably be added as notes to the error rather than part of the main message text, something like:

[code]

[2016-08-02 22:04] nagisa opened #35202 "rustbuild does not track changes to dependencies properly"
[code]

What you see in this snippet is:
1. A compilation after rustc_llvm is already built. The bootstrap script attempts to build librustc next.
2. I change a source file for librustc_llvm;
3. On a first re-run of bootstrap script, the change is properly detected, but I cancel the build before librustc_llvm build completes;
4. On a 2nd re-run of the script, change to librustc_llvm is seemingly f

[2016-08-02 22:05] petrochenkov opened #35203 "Tracking issue for patterns in functions without body"
Code using patterns in parameters of foreign functions, function pointers or trait methods without body is not accepted by the compiler.

[code]

Previously some simple patterns like `&ident`, `&&ident` or `mut ident` were allowed in these positions, now they aren't. Such patterns weren't properly type checked, e.g. `type A = fn(&arg: u8);` compiled despite `u8` not being a reference.
#### What ar

[2016-08-02 22:09] jonathandturner opened #35204 "E0030 needs to be updated to new format"
From: src/test/compile-fail/E0030.rs

The E0030 error needs a span_label, taking it from:

[code]

To:

[code]

[2016-08-02 22:29] jonathandturner opened #35205 "E0034 needs to be updated to new format"
From: src/test/compile-fail/E0034.rs

The E0034 error message needs a span_label, changing it from:

[code]

to:

[code]

Bonus: there may be additional fixes we can do to improve E0034 as well.  We could explore underlining the candidates as secondary notes rather than as completely separate notes as one possibility.

[2016-08-02 22:37] jonathandturner opened #35206 "E0035 needs to be updated to new format"
From: src/test/compile-fail/E0035.rs

**Edit (9/24/2016)**: updated wording

Error E0035 needs a span_label and an updated title, updating it from:

[code]

To:

[code]

[2016-08-02 22:40] jonathandturner opened #35207 "E0036 needs to be updated to new format"
From: src/test/compile-fail/E0036.rs

The E0036 error needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-02 22:44] jonathandturner opened #35208 "E0040 needs to be updated to new format"
From: src/test/compile-fail/E0040.rs

Error E0040 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-02 22:50] jonathandturner opened #35209 "E0046 needs to be updated to new format"
From: src/test/compile-fail/E0046.rs

Error E0046 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-02 22:53] jonathandturner opened #35210 "E0049 needs to be updated to new format"
From: src/test/compile-fail/E0049.rs

Error E0049 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: we may want to include the trait declaration is an additional span_label.  This may require additional compiler work to make that span available.

[2016-08-02 22:56] jonathandturner opened #35211 "E0050 needs to be updated to new format"
From: src/test/compile-fail/E0050.rs

UPDATED: after a conversation on IRC, looks like the current thought is to update this:

[code]

To:

[code]

[2016-08-02 23:00] jonathandturner opened #35212 "E0053 needs tighter spans"
From: src/test/compile-fail/E0053.rs

Some bonus tasks on this one:

* Add the original trait requirement, so that you can see both the error and what the original trait expects
* If possible, tighten the spans

Error E0053 currently is updated to the new error format, but the spans are very large.  Ideally, instead of this:

[code]

We could have smaller spans (with updated labels):

[code]

It w

[2016-08-02 23:07] alexcrichton commented on #35199
I think that the actual behavior (from IRC) that happened here was that `llvm-config` configuration change in `cargo.toml`, but the build script wasn't re-run.

The build script should probably print out `rerun-if-changed` pointing at `config.toml` if it exists, passed through via rustbuild.

[2016-08-02 23:08] jonathandturner opened #35213 "E0055 needs to be updated to new format"
From: src/test/compile-fail/E0055.rs

Error E0055 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: there may be a better wording for the label.  Suggestions welcome!

[2016-08-02 23:12] nikomatsakis commented on #34596
@hgallagher1993 ok, sorry for the delay. I did a bit of digging. I think the changes you need to make are roughly this:

In `src/librustc/lint.rs`, there is a function called `set_level` -- it changes the level of reporting for a lint. Currently, it first checks something called the `lint_cap`, which records a maximum level (this is used by cargo so that you don't see "unused variable" warnings fo

[2016-08-02 23:13] jonathandturner opened #35214 "E0057 needs to be updated to new format"
From: src/test/compile-fail/E0057.rs

Error E0057 needs a span_label, updating it from:

[code]

To:

[code]

Bonus 1: The note seems excessive.  Check other E0057 errors.  If it is not needed, remove the note.

Bonus 2: The span for the error could likely focus on the parameters rather than the whole call.

[2016-08-02 23:16] jonathandturner opened #35215 "E0060 needs to be updated to new format"
From: src/test/compile-fail/E0060.rs

Error E0060 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: There may be a better way of displaying the information from the note.  Could it be part of the label?

[2016-08-02 23:20] jonathandturner opened #35216 "E0061 needs to be updated to new format"
From: src/test/compile-fail/E0061.rs

Error E0061 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: the types could be incorporated into the label rather than a note (though we may want to avoid types with long names in the label)

[2016-08-02 23:22] jonathandturner opened #35217 "E0062 needs to be updated to new format"
From: src/test/compile-fail/E0062.rs

Error E0062 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: we should also include the span_label for the first time it was used as a secondary label.

[2016-08-02 23:28] jonathandturner opened #35218 "E0063 needs to be updated to new format"
From: src/test/compile-fail/E0063.rs

Error E0063 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-02 23:29] brson commented on #29563
We could probably produce some guidelines now. But it would take some investigation to figure out both what packaging-related features we're providing and what packagers are actually doing in practice, and to make sense of it. It's all pretty fuzzy to me still.

I could probably spend a day collecting notes together, then bounce them off our packagers to see if they make sense. Low priority still.

[2016-08-02 23:30] jonathandturner opened #35219 "E0069 needs to be updated to new format"
From: src/test/compile-fail/E0069.rs

Error E0069 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-02 23:33] jonathandturner opened #35220 "E0071 needs to be updated to new format"
From: src/test/compile-fail/E0071.rs

Error E0071 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: The span should underline only the name of the thing that's not a struct rather than the whole expression.  Example:

[code]

This may require additional compiler changes.

[2016-08-02 23:36] jonathandturner opened #35221 "E0076 needs to be updated to new format"
From: src/test/compile-fail/E0076.rs

Error E0076 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: The span should focus on the arguments

[code]

[2016-08-02 23:39] jonathandturner opened #35222 "E0079 needs to be updated to new format"
From: src/test/compile-fail/E0079.rs

Error E0079 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-02 23:45] jonathandturner opened #35223 "E0080 needs better wording"
From: src/test/compile-fail/E0080.rs

Error E0080 has been updated to the new format, but its wording is awkward.  It can be updated from:

[code]

To:

[code]

[2016-08-02 23:50] jonathandturner opened #35224 "E0081 needs to be updated to new format"
From: src/test/compile-fail/E0081.rs

Error E0081 needs a span_label and a span_note replaced with span_label, updating it from:

[code]

to:

[code]

Bonus: this may be nicer with spans that focus on the value.

[code]

[2016-08-02 23:54] jonathandturner opened #35225 "E0087 needs to be updated to new format"
From: src/test/compile-fail/E0087.rs

Error E0087 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-02 23:56] jonathandturner opened #35226 "E0088 needs to be updated to new format"
From: src/test/compile-fail/E0088.rs

Error E0088 needs to be updated with a span_label, taking it from:

[code]

To:

[code]

Bonus: we may want to detect the 0 case and say:

[code]

[2016-08-03 00:00] jonathandturner opened #35227 "E0089 needs to be updated to new format"
From: src/test/compile-fail/E0089.rs

Error E0089 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 00:02] jonathandturner opened #35228 "E0091 needs to be updated to new format"
From: src/test/compile-fail/E0091.rs

Error E0091 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 00:04] jonathandturner opened #35229 "E0092 needs to be updated to new format"
From: src/test/compile-fail/E0092.rs

Error E0092 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 00:04] nikomatsakis commented on #34596
That said, @wycats has been arguing to me that this would be a bad thing to do. It may be worth having a wider discussion if there are other approaches we might consider.

[2016-08-03 00:05] jonathandturner opened #35230 "E0093 needs to be updated to new format"
From: src/test/compile-fail/E0093.rs

Error E0093 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 00:09] jonathandturner opened #35231 "E0094 needs to be updated to new format"
From: src/test/compile-fail/E0094.rs

Error E0094 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: That span is pretty long, though I'm not sure if it can be fixed.  Worth seeing if we can shrink the span to:

[code]

[2016-08-03 00:12] nikomatsakis opened #35232 "optimize dep-graph serialization"
Looking at the syntex-syntax crate, I see that dep-graph serialization is pretty expensive:

[code]

We're saving way more data than we really need to. I expect we can make this a lot cheaper by pruning the graph. But it'd be worth doing some profiling.

cc @michaelwoerister

[2016-08-03 00:16] GuillaumeGomez opened #35233 "Error code list which need to be updated to new format"
If you want to work on one (or more) of the issues, just comment on it to say you're taking it!

You can read @jonathandturner's [post about how to make the fixes](http://www.jonathanturner.org/2016/08/helping-out-with-rust-errors.html).  If you have any questions, ask us here or on #rust-internals on irc.mozilla.org.

Also, if you finish an issue and it has a "Bonus" part that you're not able to

[2016-08-03 00:20] nikomatsakis commented on #35232
Also surprising, if unrelated: even with 100% reuse, translation takes ~4s on my machine. I think the only thing it's doing is re-generating the metadata.

[2016-08-03 00:23] briansmith commented on #34400
If compiler-rt were rewritten in Rust, then would non-Rust code be able to use the Rust-coded version? For example, let's say I've linked a program using 4 LLVM-based programming languages together. Would I have multiple copies of the compiler-rt logic linked into my program? That would suck. A much simpler solution to rewriting compiler-rt would be to just include llvm-as and clang in the Rust di

[2016-08-03 02:02] DemiMarie commented on #28356
Actually, cycle detection in could be useful for far more than just debugging: one might be able to use it to implement a cycle collector a la Python that not only detected cycles, but freed the ones that were no longer reachable.

[2016-08-03 02:44] Osspial opened #35237 "Trait inheritance gives unexpected compile error when inherited traits use associated types defined in trait"
If one defines a trait such that inherited traits involve one of the trait's associated types, the compiler throws a "cyclic reference" error when one does not need to be thrown. Take the following code:

[code]

which throws this error:

[code]

This error, while it accurately describes what is happening inside of the compiler, does not actually provide any way to fix the error. Even worse, the s

[2016-08-03 03:47] cramertj commented on #35233
I guess I'll go first! I'll take 1, 4, 5, and 9.

[2016-08-03 04:11] pcn commented on #35233
I have no idea what I'm doing.  I'll take 10, 17, 23 and 25.

[2016-08-03 04:15] silenuss commented on #35233
I've also got no idea what I'm doing. I'll take 27, 29, 30, and 34. This should be fun.

[2016-08-03 04:25] jonathandturner commented on #35233
For the "I have no idea what I'm doing" crowd - I'm working on a blog post that's going up soon (hopefully tomorrow!)  It goes through all the steps of how to update the errors.

Thanks for jumping on them :)  Once the blog goes up, I'll reply here with the link.

[2016-08-03 04:40] silenuss commented on #35233
@jonathandturner Wow, that's really great of you! I kinda just assumed we were expected to figure this stuff out ourselves. The amount of effort put into this community is really awe-inspiring. Thank you so much, I'm really glad I'm not on my own on this!

[2016-08-03 04:43] Vassah commented on #35233
I've never done this before. I'd like to grab 91, 92, and 93 if that'd be helpful!

[2016-08-03 05:28] cyplo commented on #26258
Hi !
Is this still an issue ?

[2016-08-03 05:30] neilzxu commented on #35233
I'll grab 35, 36. Seems like digestible way to dive into open source

[2016-08-03 05:33] shri3k commented on #35233
I'll take 40, 46, 49 and 50 even though I don't know much about traits.

[2016-08-03 05:39] jaredwy commented on #35233
I will take 63 and 69.

[2016-08-03 05:50] razielgn commented on #35233
Booking 71, 76 and 79. :smiley:

[2016-08-03 05:58] poveda-ruiz commented on #35233
I'll take 81, 87, 88 and 89

[2016-08-03 06:07] nickmass commented on #35233
I will take 55, 57, and 60

[2016-08-03 06:26] #34973 closed

[2016-08-03 06:41] theypsilon commented on #35233
I take 384 (I think there are no more available)

[2016-08-03 07:19] lukehinds commented on #35233
Might I suggest folks just take on one or two issues,  that way others wanting to learn, will have a chance to get involved too.

[2016-08-03 07:25] cramertj commented on #35233
@lukehinds Yeah, I didn't realize the precedent I was setting, nor how much interest there would be in the issue. If others who haven't contributed before would like to take any of the ones I said I would do (1, 4, 5, 9), they're welcome to it.

[2016-08-03 07:46] TheZoq2 commented on #35233
I'll gladly take 4 then

[2016-08-03 08:37] Roybie commented on #35233
I'll wouldn't mind taking number 1 off you then if that's ok?

[2016-08-03 08:41] Vassah commented on #35233
@lukehinds I'll release 93 then. I can always pick it back up later if no one ends up wanting it.

[2016-08-03 08:43] DarkEld3r commented on #35233
I would like to try 93 then. Thank you.

[2016-08-03 08:54] DevShep commented on #35233
@cramertj I'll take 9 of you don't mind.

[2016-08-03 08:59] pythoneer commented on #35233
anything left? i lost count :D

[2016-08-03 09:06] TheZoq2 commented on #35233
@pythoneer It looks like 5 is still available from the ones @cramertj released

[2016-08-03 09:10] pythoneer commented on #35233
i'll jump on 5 then, thx @TheZoq2

[2016-08-03 09:12] yossi-k commented on #35233
Anything else left?

[2016-08-03 09:24] jirutka commented on #31322
Well, I figured out where’s the problem… it’s between chair and keyboard. When applying the patches, I haven’t committed the changes. Build script automatically updates git submodules, so it basically resetted it back. So sorry for false negative.

Now it works, I’ve finally built rustc on Alpine! 🎉

[2016-08-03 09:44] lukehinds commented on #35233
@pcn @silenuss could you guys free up some of your issues for @yossi-k (and likely some others too!)

[2016-08-03 10:09] razielgn commented on #35233
Releasing 76 and 79. 😄

[2016-08-03 10:33] nikomatsakis commented on #34596
I think, if I may take a stab at summarizing @wycats's point-of-view, that his position is:

- seeing warnings in code you don't control is annoying (true)
- users are unlikely to file issues or know how to respond (seems true)
  - they may well respond by just downgrading
- we would be better off finding other ways to alert crates.io maintainers of upcoming problems, and finding other ways to ale

[2016-08-03 10:35] GuillaumeGomez commented on #35233
Wo. Much more success than expected! I intended to do a big part of it but I guess I'll just review.

[2016-08-03 10:37] GuillaumeGomez commented on #35233
@yossi-k: 76 and 79 are free.

[2016-08-03 11:09] MuffinPimp commented on #35233
I would like to try 76.

[2016-08-03 11:14] yossi-k commented on #35233
I'm on 79 then

[2016-08-03 11:40] saml commented on #35190
Taking it

[2016-08-03 12:19] nindalf commented on #35233
@GuillaumeGomez any left?

[2016-08-03 12:31] faebser commented on #35233
@GuillaumeGomez any left for me?

[2016-08-03 12:31] shantanuraj commented on #35233
I'll take 80

[2016-08-03 12:37] shri3k commented on #35233
@faebser @nindalf I just removed 49 & 50 from my plate if you're interested on them.

[2016-08-03 13:08] GuillaumeGomez commented on #35233
@nindalf: You can take 49 and @faebser will take 50 (thanks @shri3k!).

[2016-08-03 13:14] nindalf commented on #35233
@shri3k thanks!

[2016-08-03 13:54] arielb1 opened #35241 "Forgetting to call a variant constructor causes a confusing error message"
## STR

[code]
## Confusing result

[code]

[2016-08-03 13:54] arielb1 commented on #35241
The error message mentions function items, which is confusing to new users.

[2016-08-03 14:01] nikomatsakis commented on #34765
Yeah, this seems bad. I've also been thinking a bit about how to go about saving/restoring MIR -- as the `.o` re-use stuff gets close to completion, and MIR-trans is landing, this is going to be the Next Big Step to save a lot of compilation time.

The most straight-forward thing would be to model the MIR passes the way we model everything else:

- `MirMap(DefId)` -- tracks the MIR that we created

[2016-08-03 14:04] nikomatsakis commented on #30127
@pnkfelix @eddyb I think that the extension would be subsumed by the proposal in rust-lang/rfcs#66 -- however, the need to refactor (and compute the temporary lifetimes during typeck) is the main reason that this RFC has not been implemented.

[2016-08-03 14:14] paulfanelli commented on #35233
Any left to fix?

[2016-08-03 14:24] birryree commented on #35233
I'm a little late to the party but I was also wondering if there were any left to fix?

[2016-08-03 14:27] GuillaumeGomez commented on #35233
@paulfanelli, @birryree: It doesn't seem, no. Sorry. We'll maybe add more in the future but nothing sure.

[2016-08-03 14:45] GuillaumeGomez commented on #35233
@nickmass: Thanks!

@paulfanelli: You take 57 and @birryree you take 60?

[2016-08-03 14:57] paulfanelli commented on #35233
Sounds good!  I'll take 57. Thx.

[2016-08-03 15:00] aidanhs commented on #34535
[code]
[code]

I've commented out all use of plugins in my crate, though I use a bunch of nightly features.

Looking at strace output, it appears the bottom child is blocking on `write`ing errors to the top process, whereas the top level process is `wait4`ing on the middle process and the middle process is blocked on a futex. So deadlock. This is supported by my cpu being completely idle.

Maybe t

[2016-08-03 15:17] Stebalien commented on #32836
<sub><sub>(@aturon you can check-off that unresolved question now.)</sub></sub>

[2016-08-03 15:48] pcn commented on #35233
Who still wants a ticket?  I can pass on a couple.

[2016-08-03 16:06] bstrie commented on #35233
I'd like to remind folks to also leave comments on the individual issues themselves, just so that we're totally clear about who's intending to claim what. :)

[2016-08-03 16:10] theypsilon commented on #35231
I would take this one.

[2016-08-03 16:10] theypsilon commented on #35184
I would take this one.

[2016-08-03 16:13] nickmass commented on #35213
I will take this issue.

[2016-08-03 16:16] yossi-k commented on #35222
On it

[2016-08-03 16:16] alexcrichton commented on #24346
So I think that at this point this bug is basically about OSX. I've seen really good backtrace line numbers on MSVC and Linux, so OSX is the only major desktop platform at least left that needs this.

@sujayakar has done some [awesome work](https://github.com/sujayakar/backtrace-osx) and discovered that the `atos` tool shipped on OSX actually already can do the conversion from address to filename/

[2016-08-03 16:23] alexcrichton commented on #34701
@sujayakar's done some awesome work to prototype this on OSX at least, discovering:

* For now, codegen-units probably has to be one to make this work (worth investigating)
* The pass to insert into LLVM is `-C passes=insert-gcov-profiling`
* The runtime support is available through `-C link-args=-lclang_rt.profile_osx`, and that library
* This runtime support lives around the directory `xcrun --f

[2016-08-03 16:23] japaric commented on #31322
Ah, yes. I've been bitten by this before.

:tada:

[2016-08-03 16:28] nikomatsakis commented on #34511
Sorry for taking a while to write back here. So I've been thinking
about this problem. My feeling is that we do, ultimately, have to (and
want to) extend regionck with a new kind of constraint -- I'll call it
an `\in` constraint, because it allows you to say something like `'0
\in {'a, 'b, 'c}`, meaning that the region used for `'0` must be
either `'a`, `'b`, or `'c`. I'm not sure of the best way

[2016-08-03 16:51] jonathandturner commented on #35233
Blog is posted!  You can read how to make the changes [here](http://www.jonathanturner.org/2016/08/helping-out-with-rust-errors.html)

If you have any questions, feel free to reach out to me or ask on #rust-internals on irc.mozilla.org (I'm jntrnr on there)

Just to second @bstrie's idea, please leave a note on the individual issues if you are taking them.

Also, this is just the first batch! So s

[2016-08-03 16:52] jonathandturner commented on #35233
Also a **huge thanks** for everyone jumping in and offering to help!

[2016-08-03 16:58] jonathandturner opened #35243 "E0101 needs to be updated to new format"
From: src/test/compile-fail/E0101.rs

Error E0101 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 16:59] jonathandturner opened #35244 "E0102 needs to be updated to new format"
From: src/test/compile-fail/E0102.rs

Error E0102 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 17:03] jonathandturner commented on #35233
Also, if you finish an issue, if it has a "Bonus" part and you're not able to complete it...

Once you finish, go ahead and close the issue and open a new issue for just the Bonus part.  That way, someone else can jump in and work on the bonus part.  You can cc me on the new issue and we can add it to the list above.

[2016-08-03 17:04] jonathandturner opened #35245 "E0106 needs to be updated to new format"
From: src/test/compile-fail/E0106.rs

Error E0106 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 17:07] jonathandturner opened #35246 "E0107 needs to be updated to new format"
From: src/test/compile-fail/E0107.rs

Error E0107 needs a span_label, updating it from:

[code]

To:

[code]

This assumes we can see how many lifetime parameters we expect, and update the label accordingly.

[2016-08-03 17:10] jonathandturner opened #35247 "E0109 needs to be updated to new format"
From: src/test/compile-fail/E0109.rs

Error E0109 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 17:11] jonathandturner opened #35248 "E0110 needs to be updated to new format"
From: src/test/compile-fail/E0110.rs

Error E0110 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 17:13] razielgn commented on #35220
Booking this one, as mentioned in #35233.

[2016-08-03 17:15] jonathandturner opened #35249 "E0116 needs to be updated to new format"
From: src/test/compile-fail/E0116.rs

Error E0116 needs a span_label, an updated error text and a note, updating from:

[code]

To:

[code]

[2016-08-03 17:16] arielb1 commented on #34535
The "too many errors" does not hang on my computer

[2016-08-03 17:16] DevShep commented on #35193
I'll take this one.

[2016-08-03 17:17] arielb1 commented on #34535
Ah 16871 is rustup.

[2016-08-03 17:18] paulfanelli commented on #35214
I'm taking this one.

[2016-08-03 17:20] jonathandturner opened #35250 "E0117 needs to be updated to new format"
From: src/test/compile-fail/E0117.rs

Error E0117 needs a span_label, updated error text, and a note, updating it from:

[code]

to:

[code]

[2016-08-03 17:23] emoon commented on #24346
This might be interesting to look at also https://github.com/google/breakpad/tree/master/src/common/mac

Now I'm not sure if that supports file/line but I think it does so it may be good to look at as a reference also.

[2016-08-03 17:23] jonathandturner opened #35251 "E0118 needs to be updated to new format"
From: src/test/compile-fail/E0118.rs

Error E0118 needs a span_label and a span_note to be a simple note, updating from:

[code]

To:

[code]

Bonus: It'd be good if we could underline the type it's complaining about.

[code]

[2016-08-03 17:29] jonathandturner opened #35252 "E0119 needs to be updated to new format"
From: src/test/compile-fail/E0119.rs

Error E0119 needs a span_label and a span_note converted to a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 17:32] jonathandturner opened #35253 "E0120 needs to be updated to new format"
From: src/test/compile-fail/E0120.rs

Error E0120 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: update the span to highlight the type.

[code]

[2016-08-03 17:36] jonathandturner opened #35254 "E0121 needs to be updated to new format"
From: src/test/compile-fail/E0121.rs

Error E0121 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 17:39] jonathandturner opened #35255 "E0124 needs to be updated to new format"
From: src/test/compile-fail/E0124.rs

Error E0124 needs a span_label and a span_note replaced with a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 17:40] jonathandturner opened #35256 "E0130 needs to be updated to new format"
From: src/test/compile-fail/E0130.rs

Error E0130 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 17:43] jonathandturner opened #35257 "E0131 needs to be updated to new format"
From:

Error E0131 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: underline the type parameters directly

[code]

[2016-08-03 17:44] jonathandturner opened #35258 "E0132 needs to be updated to new format"
From: src/test/compile-fail/E0132.rs

Error E0132 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: Underline just the type parameters

[code]

[2016-08-03 17:45] TheZoq2 commented on #35191
I'll give this one a shot

[2016-08-03 17:51] jonathandturner commented on #35233
For those still looking for error codes to pick up, I just added a new batch to the list on this meta-issue.

[2016-08-03 17:52] MuffinPimp commented on #35221
Working on it.

[2016-08-03 17:53] #35131 closed

[2016-08-03 17:55] scottcarr opened #35259 "[MIR] when should we not deaggregate?"
#35168 adds the capability of deaggregating structs like:

[code]

Into:

[code]

But, one could imagine situations where this is counter productive.

It's not clear if this should be handled by the Deaggregator or MIR trans.

[2016-08-03 17:59] terrynsun commented on #35233
I'll take 116!

[2016-08-03 18:01] terrynsun commented on #35249
Taking this!

[2016-08-03 18:10] GuillaumeGomez commented on #35233
I take 132.

[2016-08-03 18:12] kdar commented on #24346
@alexcrichton This issue is present on windows-gnu as well.

[2016-08-03 18:21] Limeth commented on #35233
I'll try to tackle 131.

[2016-08-03 18:24] sciyoshi commented on #35233
I can take E0124.

[2016-08-03 18:48] mgattozzi commented on #33817
@steveklabnik I'd like to take a crack at this issue with your help. I won't be able to work on it today but I could tomorrow.

[2016-08-03 19:09] intrepion commented on #35233
I'd like to try 121

[2016-08-03 19:48] scottcarr opened #35262 "[MIR] handle local variables generically (temps, vars, args, up_vars, return)"
Optimizations probably handle the different "kinds" of local variables in the same manner.  MIR should have some way of handling them generically.

This new interface should be reasonably backwards compatible.

[2016-08-03 19:49] intrepion commented on #35254
I'd like to take this

[2016-08-03 19:59] Tiwalun commented on #35233
I'll take 106.

[2016-08-03 20:00] Tiwalun commented on #35245
I'll try this one.

[2016-08-03 20:17] birryree commented on #35233
@GuillaumeGomez I'll take 60, thanks!

[2016-08-03 20:19] birryree commented on #35215
I will take this issue.

[2016-08-03 20:19] circuitfox commented on #35233
I'll take 109.

[2016-08-03 20:27] circuitfox commented on #35247
Just grabbed this one from the list.

[2016-08-03 20:32] jethrogb commented on #34579
I'm not sure what part of this issue was fixed by #34684 and what problems might still exist. cc @oli-obk

[2016-08-03 20:33] ticki opened #35263 "#[derive(Default)] constraints type parameters despite not being required for a Default bound."
[code]

only derives `Type<T>: Default` if `T: Default`, which is unnecessary, given a `Vec<T>: Default` for any unbounded `T`.

[2016-08-03 20:40] jonas-schievink commented on #35263
Sounds like #26925

[2016-08-03 20:43] ticki commented on #35263
Certainly related, but not exactly a duplicate.

[2016-08-03 20:50] jaredwy commented on #35216
Planning on tackling the bonus here. Is there a prefered max length for output on the console. In the case it would exceed this should i truncate the typename or just not include?

[2016-08-03 20:51] jaredwy commented on #35219
This should land pretty soon (once i have confirmed the tests and have a compiling rustc)

[2016-08-03 20:54] apasel422 commented on #35263
Since #32673 was a duplicate of #26925, I would argue this is as well.

[2016-08-03 21:17] steveklabnik commented on #33817
@mgattozzi great! Can you swing by IRC tomorrow? That'd be easiest

[2016-08-03 21:22] mgattozzi commented on #33817
The docs IRC channel correct? I'll swing by around 7pm EST maybe even
slightly earlier

On Wed, Aug 3, 2016, 17:17 Steve Klabnik <notifications@github.com> wrote:

[2016-08-03 21:40] nagisa commented on #35262
There’s `Local`, `Mir::local_index` and `Mir::count_locals`.

[2016-08-03 21:54] scottcarr commented on #35262
Local doesn't solve the problem, IMHO.  I can't use a Local to index anything, so local_index may as well map each variable to random usize.

Also, the Local -> Lvalue mapping is cumbersome.  The return value should be the parent type of Temp, Var, Arg, etc.  If we have that type why not just have one vector of that type?

[2016-08-03 22:03] nikomatsakis commented on #35232
OK, so, my first attempt at optimizing this was kind of a failure, in that it caused us to take more time than before. =)

Some things I learned:

- the expensive part is the meta-data hash computation
- some part of this is computing the sets of HIR inputs for a given metadata, some part of it is probably creating the strings and sorting and so forth; haven't quite gotten to the bottom of it

Als

[2016-08-03 22:14] steveklabnik commented on #33817
Yeah, any of them. That's a _little_ late for me, but I'm sure that one of us can be helpful :smile:

(And I'm also happy to do it asynchronously through this issue too, just sometimes real-time is a bit easier.)

[2016-08-03 22:18] mgattozzi commented on #33817
I'll pop in around that time and if you're around great if not I'll point
the channel to this issue to ask for help if I need it. I could pop on
during work lunch break tomorrow and at least get a starting point from you
if that works as well.

On Wed, Aug 3, 2016 at 6:15 PM Steve Klabnik <notifications@github.com>
wrote:

[2016-08-03 23:04] nagisa commented on #35262
Indexing not being implemented does not mean you cannot implement it.

That’s what Lvalue is, no?

Because you *do* want to handle variables and arguments and temporaries significantly differently sometimes. Having to iterate through all the locals when you only care about arguments only is just wasteful.

---

Ultimately my suggestion would be to change `Local` to be `u64` under the covers, and u

[2016-08-03 23:10] eddyb commented on #35263
Closing as duplicate of #26925.

[2016-08-03 23:10] #35263 closed

[2016-08-03 23:13] jonathandturner opened #35265 "E0137 needs to be updated to new format"
From: src/test/compile-fail/E0137.rs

Error E0137 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: add the span_label to show where the first duplicate was created:

[code]

[2016-08-03 23:17] arielb1 commented on #35245
I think "expected lifetime parameter" is a better label.

[2016-08-03 23:18] jonathandturner opened #35268 "E0162 needs to be updated to new format"
From: src/test/compile-fail/E0162.rs

Error E0162 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 23:24] jonathandturner commented on #35245
👍  to @arielb1's suggestions

[2016-08-03 23:28] jonathandturner opened #35269 "E0164 needs to be updated to new format"
From: src/test/compile-fail/E0164.rs

Error E0164 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 23:30] scottcarr commented on #35262
Sure, sometimes you do, but handling generically is (maybe more) common as evidenced by the existence of Local,

and here: https://github.com/rust-lang/rust/blob/master/src/librustc_borrowck/borrowck/mir/gather_moves.rs#L333-L349

and here: https://github.com/rust-lang/rust/blob/master/src/librustc_borrowck/borrowck/mir/gather_moves.rs#L541-L555

and here: https://github.com/rust-lang/rust/blob/ma

[2016-08-03 23:31] jonathandturner opened #35270 "E0165 needs to be updated to new format"
From: src/test/compile-fail/E0165.rs

Error E0165 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 23:44] jonathandturner opened #35271 "E0166 needs to be updated to new format"
From: src/test/compile-fail/E0166.rs

Error E0166 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 23:47] jonathandturner opened #35272 "E0172 needs to be updated to new format"
From: src/test/compile-fail/E0172.rs

E0172 needs a span_label, updating it from:

[code]

[code]

[2016-08-03 23:50] jonathandturner opened #35273 "E0178 needs to be updated to new format"
From: src/test/compile-fail/E0178.rs

E0178 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-03 23:56] jonathandturner opened #35275 "E0184 needs to be updated to new format"
From: src/test/compile-fail/E0184.rs

Error E0184 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: I'm not sure that note is helping, you can probably just remove it.

[2016-08-04 00:02] jonathandturner opened #35276 "E0185 needs to be updated to new format"
From: src/test/compile-fail/E0185.rs

E0185 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: show the trait that it's referencing.

[code]

[2016-08-04 00:07] jonathandturner opened #35277 "E0186 needs to be updated to new format"
From: src/test/compile-fail/E0186.rs

Error E0186 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: show the trait line as well

[code]

[2016-08-04 00:13] jonathandturner opened #35278 "E0191 needs to be updated to new format"
From: src/test/compile-fail/E0191.rs

Error E0191 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-04 00:17] jonathandturner opened #35280 "E0194 needs to be updated to new format"
From: src/test/compile-fail/E0194.rs

Error E0194 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: the span can be shortened and we can reference the other `T`

[code]

[2016-08-04 00:29] neilzxu commented on #35205
I signed up for this one

[2016-08-04 00:29] neilzxu commented on #35206
I also signed up for this one

[2016-08-04 00:29] jonathandturner commented on #35216
@jaredwy - great point.  If you want to work on truncation, feel free to add it, too.  I'm not sure if the term crate will tell you the current terminal size, but it may.

[2016-08-04 00:30] neilzxu commented on #35207
I signed up for this one

[2016-08-04 00:36] jonathandturner commented on #35220
@razielgn - I think you released it to @yossi-k

[2016-08-04 00:40] japaric commented on #34400
Presumably yes, the intrinsics in the Rust version will be exposed in the same way as the intrinsics in libcompiler-rt.a. (Side note: On failure, the compiler-rt intrinsics call an "abort" function defined in compiler-rt; I'm not sure if that should become `panic` on the Rust version or if we should port the abort function to Rust -- this has not been discussed yet but the former path would hinder

[2016-08-04 00:50] jonathandturner commented on #35233
@faebser - do you want 50?

[2016-08-04 00:53] nagisa commented on #35259
I can’t think of a trivial way to reverse deaggregation, especially after multiple optimisation passes go through the MIR.

The newtype concern raised by Ariel could be easily handled by replacing

[code]

with

[code]

(This is probably the same thing as SRoA, which @eddyb mentioned) This likely would allow us to discard some of the `Pair` stuff in the translator as well, but would need a good he

[2016-08-04 00:55] shahn opened #35282 "-Zincremental causes ICE for libc crate"
Getting this while trying to compile libc 0.2.14:

[code]

[2016-08-04 00:56] nagisa commented on #35259
That being said, I feel like LLVM should be more than capable to handle such case quite quickly by itself.

[2016-08-04 01:02] eddyb commented on #35259
@nagisa There's 2 reasons SRoA isn't enough to replace `Pair`: fat pointers use `Pair` and `CheckedBinOp` produces one. And yes, LLVM can handle most of these by itself anyway.

Newtypes (including those with extra ZST fields) are more relevant because of "zero-cost abstractions".

[2016-08-04 01:22] michaelwoerister commented on #34765
Is there any case you foresee where it would make sense to have more than one DepNode? As long as each pass just produces a transformed version of a function's MIR, the simple approach should be fine, I think.

[2016-08-04 01:30] michaelwoerister commented on #35232
Those seem like very valuable pieces of information! Sounds like some kind of caching on intermediate graph nodes might be a speedup opportunity. But that's just off the top of my head, I haven't really investigated.

[2016-08-04 01:49] nikomatsakis commented on #35232
I have some thoughts about how to improve performance. I'll experiment
tomorrow (and/or we can discuss)

On Aug 3, 2016 9:30 PM, "Michael Woerister" <notifications@github.com>
wrote:

[2016-08-04 01:51] japaric commented on #31322
@jirutka

It would be great if you ran `make check` to get an idea of how much of rustc/std works when dynamically linked to musl (hopefully, everything works OK, even plugins).

Also, do you know if Alpine is going to start packaging this *patched* version of rust-lang/rust? Because I would prefer if we had a proper target for dynamically linked musl.

[2016-08-04 02:05] shantanuraj commented on #35223
Created a pull request https://github.com/rust-lang/rust/pull/35283

[2016-08-04 02:44] franleplant commented on #35233
Hi! I'd like to take 101 and 102

[2016-08-04 02:45] birryree commented on #35216
I'm fixing #35215 and I noticed that it and this issue currently share the same code for generating this error, and adding a `span_label` for to `librustc_typeck/check/mod.rs` would fix both.

[2016-08-04 02:57] jaredwy commented on #35216
Did you do the bonus as well? I can tackle that if you haven't.

[2016-08-04 02:57] circuitfox commented on #35233
I'm also up for taking 110 and 119, if possible.

[2016-08-04 03:18] birryree commented on #35216
@jaredwy I haven't yet - I can fix the `span_label` issue (currently testing/fixing unit tests) and you can take on the bonus part of the issue.

[2016-08-04 03:19] jaredwy commented on #35216
Sounds great to me! Thanks.

[2016-08-04 04:01] neilzxu commented on #35233
If someone wants to take 34, I accidentally took when trying to take 35/36 :D

[2016-08-04 04:13] zackmdavis opened #35284 "long diagnostics not registered for some internal crates"
In the comments on #32777, @jhod0 [writes](https://github.com/rust-lang/rust/issues/32777#issuecomment-234660618):

[2016-08-04 04:14] zackmdavis commented on #32777
@jhod0 good catch on the unregistered diagnostics! Despite @GuillaumeGomez's recollection that this is known, I can't find an existing filed issue, so I've taken the liberty of excerpting your notes into #35284 so that it doesn't get lost in this enormous comment thread.

Are you interested in submitting a PR? If not, I might be able to take a look later. (I think _someone_ should author a patch a

[2016-08-04 04:48] Aatch commented on #35259
@nagisa I think the issue is about not deaggregating in some cases, rather than trying to reverse it.

[2016-08-04 05:56] #34496 closed

[2016-08-04 06:33] m4b commented on #34978
So if i'm understanding correctly, my `rustc` is:
[code]
which means my rustc's source had the build changes I added here https://github.com/rust-lang/rust/pull/35178

However, when I inspect the musl build artifacts I'm still seeing the *RELX relocations in `libstd` and `liballoc_jemalloc` (and `libunwind.a` but latest pr in rust-buildbot should fix that).

I take this to mean the changes in PR 3

[2016-08-04 07:11] Vassah commented on #35228
I'll be tackling this one over the next few days.

[2016-08-04 07:11] Vassah commented on #35229
I'll be tackling this one over the next few days.

[2016-08-04 08:16] Roybie commented on #35190
Taking this one.

[2016-08-04 08:17] Roybie commented on #35271
Taking this one

[2016-08-04 08:17] Roybie commented on #35233
I'll take 166

[2016-08-04 08:23] Detegr commented on #35233
I'll grab 117 and 118.

[2016-08-04 08:25] Detegr commented on #35250
In case no one is working with this yet, I can give this a go.

[2016-08-04 08:25] Detegr commented on #35251
In case no one is working with this yet, I can give this a go.

[2016-08-04 08:33] PFischbeck commented on #35233
I am taking 164 and 165.

[2016-08-04 09:10] sanxiyn commented on #34701
@alexcrichton That's gcov coverage, which is completely different from what @gnzlbg meant in this issue.

The correct pass name is `instrprof`, implemented in `lib/Transform/Instrumentation/InstrProfiling.cpp`. See also [LDC LLVM profiling instrumentation](http://wiki.dlang.org/LDC_LLVM_profiling_instrumentation).

[2016-08-04 09:14] dmjb commented on #35233
I'll take 101

[2016-08-04 09:24] prabodhtiwari commented on #35233
I'll try 50

[2016-08-04 09:44] seblw commented on #35233
I would take 194.

[2016-08-04 09:55] garekkream commented on #35233
I can take 162.

[2016-08-04 09:58] sanxiyn commented on #34297
After #35080, we now print `the trait bound {integer}: std::ops::AddAssign<{float}> is not satisfied`.

[2016-08-04 11:34] Keats commented on #35233
I'll take 120

[2016-08-04 11:37] gnzlbg commented on #34701
@sanxiyn is correct.

I just want to add that I don't think we should implement clang-like gcov coverage generation.

LLVM format can be used for many more things (e.g. profile guided optimizations), and LLVM's llvm-cov tool can generate gcov files from it.

[2016-08-04 11:55] Limeth commented on #35257
I am working on this one.

[2016-08-04 12:15] birryree commented on #35215
@jonathandturner I got my changes in and working, but I had to set an environment variable to see the new formatting style? My command to make sure my changes actually did what they were supposed to look like this.

    RUST_NEW_ERROR_FORMAT=true ./build/x86_64-apple-darwin/stage1/bin/rustc src/test/compile-fail/E0060.rs

Is this expected? If so, I think it would help other new people tackling the

[2016-08-04 12:23] birryree opened #35290 "E0060 and E0061 bonus improvements for error messages"
cc @GuillaumeGomez

This issue tracks the bonus portions of issues #35215 and #35216. I worked on the `span_label` fixes for them and @jaredwy said he would take on the bonus portion.

**Bonus for E0060**:

**Bonus for E0061**:

[2016-08-04 12:24] birryree commented on #35216
@jaredwy - I opened up issue #35290 to track the bonus portion of the work for you.

[2016-08-04 12:31] Limeth commented on #35257
I need some help, I cannot get the label to display in the compilation error. I've asked around in #rust-internals, nobody answered apart from @TheZoq2 who seems to be experiencing the same problem and is looking for a solution too.
This is my code, where it doesn't work: https://github.com/Limeth/rust/commit/56c54cff6dd709e72234f1165aa9fc92ebeef59f#diff-34daa37d4433b778139b9c3bb583756bR269
This i

[2016-08-04 12:41] birryree commented on #35233
I'll also take E0194.

[2016-08-04 12:42] birryree commented on #35280
I'll work on this one.

[2016-08-04 13:12] GuillaumeGomez commented on #35215
@birryree: Yes it is. I add it on the issue.

[2016-08-04 13:13] GuillaumeGomez commented on #35233
Forgot to mention this but to use the new error format, you have to run rustc like this:

[code]

[2016-08-04 13:16] GuillaumeGomez commented on #35233
New errors will be added once #35274 is merged.

[2016-08-04 13:18] GuillaumeGomez commented on #35290
Thanks for opening it @birryree!

cc @jonathandturner

[2016-08-04 13:19] yossi-k commented on #35233
I'd like to take 185 as well

[2016-08-04 13:19] yossi-k commented on #35276
On it

[2016-08-04 13:21] Limeth commented on #35257
@GuillaumeGomez You did? I thought you had taken E0132 instead.

[2016-08-04 13:24] GuillaumeGomez commented on #35257
@Limeth: Yes sorry, when I have read the description, I thought it was the one I did because they're very close. I updated my comment.

[2016-08-04 13:34] yossi-k commented on #35277
On it

[2016-08-04 13:35] yossi-k commented on #35275
On it

[2016-08-04 13:35] medzin commented on #35233
I'll take 178.

[2016-08-04 13:41] Roybie commented on #35272
taking this one

[2016-08-04 13:41] Roybie commented on #35233
taking 172

[2016-08-04 13:57] nikomatsakis opened #35292 "DefPathData should use InternedString, not Name"
Currently `DefPathData` embeds a `Name`. The intention was to have an interned string and ignore hygiene. But it turns out that `Name` still has a kind of quasi-hygiene -- using `gensym`, you can create two names with the same string representation but distinct identifiers. We should be using `InternedString` in `DefPathData` instead, I believe. Otherwise you can wind up with two def-ids with def-

[2016-08-04 13:58] michaelwoerister commented on #35292
cc me

[2016-08-04 14:08] mitsuhiko opened #35293 "process::ExitStatus propagation"
Currently if you have a `process::ExitStatus` it is my understanding that if you want to `process::exit` with it (to propagate the status) you need to do lots of platform specific handling due to the splitting of the signal on unix.

Eg, something like this:

[code]

Maybe one could implement a function on `ExitStatus` that invokes process::exit correctly (and a ToRaw function that returns an i32?

[2016-08-04 14:11] circuitfox commented on #35248
Grabbed this one from the list.

[2016-08-04 14:11] circuitfox commented on #35252
Grabbed this one from the list.

[2016-08-04 14:12] munyari commented on #35278
I'll take this

[2016-08-04 14:17] letheed opened #35295 "Rustdoc doesn't follow type aliases in Deref's Target"
The `Methods from Deref<Target=...>` will not appear in the documentation if `Deref`'s `Target` is a `type` alias.
This works:

[code]

This doesn't:

[code]

[2016-08-04 14:18] munyari commented on #35273
I'll take this

[2016-08-04 14:43] birryree commented on #35257
@Limeth are you not seeing the messages show up next to the span? If so, can you try running your `rustc` like this?

    RUST_NEW_ERROR_FORMAT=true ./build/PLATFORM-HERe/stage1/bin/rustc src/test/compile-fail/E0131.rs

I ran into the same issue - the new formatting and span labels aren't enabled by default yet.

[2016-08-04 14:49] TheZoq2 commented on #35257
That made it work for me @birryree

[2016-08-04 15:02] Eh2406 commented on #29623
How hard is this to work on?
Where are the FIXMEs / how can I grep for them?
What would be improved by doing this better?

[2016-08-04 15:18] Limeth commented on #35257
Yes, that was the reason. Thank you, @birryree!

[2016-08-04 15:41] sanxiyn commented on #34978
@m4b That nightly does not include #35178(9cf1897). Can be confirmed by running `git log 9cf1897..a005b6785` and `git log a005b6785..9cf1897`.

[2016-08-04 15:57] arielb1 commented on #34535
moved to rust-lung-nursery/rustup.rs#639.

[2016-08-04 15:57] #34535 closed

[2016-08-04 16:03] jonathandturner commented on #35233
@franleplant and @dmjb - you both called out 101, but there are others free if one of you wants to take 101 and one take another free one

[2016-08-04 16:06] oijazsh commented on #35233
I'd like to take E0107.

[2016-08-04 16:08] brson commented on #34754
@mw status update?

This will go to beta on 8/18.

[2016-08-04 16:11] michaelwoerister commented on #34754
There were a few refactorings I needed to do before being able to fix this. These have landed by now, so I expect that the actual fix should be ready before beta.

[2016-08-04 16:11] jonathandturner commented on #35233
I've updated the list.  There are a few free ones.  Hoping to add more soon.

[2016-08-04 16:14] brson commented on #24263
P-medium since there's no longer the urgent need from servo.

[2016-08-04 16:22] alexcrichton commented on #34831
It was pointed out on IRC that this was happening maybe because LLVM was being compiled in debug mode. With that in mind I now remember running into this problem on https://github.com/rust-lang/rust/issues/34559 where the Android builder was randomly switching LLVM to debug mode, and [the fix](https://github.com/rust-lang/rust/issues/34559#issuecomment-229988328) was to update CMake from 2.8 to so

[2016-08-04 16:22] #19481 closed

[2016-08-04 16:22] brson commented on #19481
Old issue, lots of changes since.

[2016-08-04 16:25] brson commented on #28785
@nikomatsakis can mentor. Needs investigation into the correct grammar.

[2016-08-04 16:28] sanxiyn commented on #29743
Still reproduces.

[2016-08-04 16:29] nikomatsakis commented on #29743
(Note: would be fixed by a borrowck-based MIR is what I meant, which is not yet done.)

[2016-08-04 16:46] trixnz commented on #35233
I can take E0062 and E0130.

[2016-08-04 16:48] brson commented on #24971
Closing in favor of https://github.com/rust-lang/rust/issues/31847

[2016-08-04 16:48] #24971 closed

[2016-08-04 16:51] trixnz commented on #35217
Taking care of this one

[2016-08-04 16:51] trixnz commented on #35256
Taking care of this one

[2016-08-04 16:52] jonathandturner opened #35301 "E0206 needs to be updated to new format"
From: src/test/compile-fail/coherence-impls-copy.rs

Error E0206 needs a span_label and a title update, updating it from:

[code]

To:

[code]

Bonus: fix the span so it's on the type rather than the whole impl:

[code]

[2016-08-04 16:55] jonathandturner opened #35302 "E0207 needs to be updated to new format"
From: src/test/compile-fail/impl-unused-rps-in-assoc-type.rs

Error E0207 needs a span_label, updating it from:

[code]

to:

[code]

[2016-08-04 16:57] nikomatsakis commented on #28728
So just to recap prior discussion, there are really two choices here that I can see:

- Wait for LLVM to provide a solution.
- Introduce no-op asm statements wherever there may be an infinite loop or infinite recursion (#18785).

The latter is kind of bad because it can inhibit optimization, so we'd want to do it somewhat sparingly -- basically wherever we can't prove termination ourselves. You co

[2016-08-04 16:58] brson commented on #30225
@nikomatsakis can mentor.

[2016-08-04 17:00] brson commented on #16948
Close. Old and unloved.

[2016-08-04 17:00] #16948 closed

[2016-08-04 17:01] jonathandturner opened #35304 "E0201 needs to be updated to new format"
From: src/test/compile-fail/associated-item-duplicate-names-3.rs

Error E0201 needs a span_note replaced with a span_label and needs span_labels, updating this:

[code]

To:

[code]

[2016-08-04 17:03] jonathandturner opened #35305 "E0229 needs to be updated to new format"
From: src/test/compile-fail/issue-23543.rs

Error E0229 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-04 17:12] Keats commented on #35233
I'll take 137 as well if no one wants it

[2016-08-04 17:14] jonathandturner commented on #35233
@keats - go ahead and take it.  I'm adding new error codes as we speak

[2016-08-04 17:14] petevine commented on #33828
A quick heads-up, Ye Olde strikes back in `bigint`! (actually MIR trans regresses, for reference see the final part of this [comment](https://github.com/ethcore/parity/issues/596#issuecomment-192630065))

[code]

[2016-08-04 17:17] jonathandturner opened #35306 "E0252 needs to be updated to new format"
From: src/test/compile-fail/double-import.rs

Error E0252 needs an updated unit test and span_labels, updating it from:

[code]

To:

[code]

To remove the extra "error: requires `sized` lang_item", remove the:

[code]

Lines in the unit test.

[2016-08-04 17:19] nagisa commented on #33828
Fill a new issue, please.

[2016-08-04 17:21] brson commented on #34754
Sweet!

[2016-08-04 17:27] jonathandturner opened #35309 "E0265 needs to be updated to new format"
From: src/test/compile-fail/issue-23302.rs

Error E0265 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: I'm not sure how difficult this will be, but if we can underline the part of the constant that is causing the recursion, that might be even better.

[code]

[2016-08-04 17:38] jirutka commented on #31322
There’s the result:

[code]

So it fails only on jemalloc, that’s IMHO not a surprise, because it’s build with `--disable-jemalloc`. We should figure out why it doesn’t work, because jemalloc itself works on musl libc and Alpine well.

Yes, I’m gonna package it, but add it only to the testing repository for now. I want to have any working version of rustc and cargo in the repo soon, so we can fina

[2016-08-04 17:40] intrepion commented on #35233
thank you @birryree for showing how to get the span labels to show up!

[code]

[2016-08-04 17:41] eddyb opened #35310 "Revise semantics and implementation of #[rustc_inherit_overflow_checks]."
As of #35300, two places in MIR trans look for overflowing operations used when overflow checks are off.
Such operations are then assumed not to overflow, effectively changing semantics on-the-fly.

This is done so that the functions marked `#[rustc_inherit_overflow_checks]` in libcore can be used cross-crate (e.g. generics over arithmetic traits like `Add`) and use the overflow checks only when e

[2016-08-04 17:52] arielb1 commented on #22066
This seems to work on Rust 1.10.

[2016-08-04 17:55] eddyb commented on #35292
We can also get rid of `gensym` and use hygiene instead.

[2016-08-04 18:03] jonathandturner opened #35311 "E0277 needs to be updated to new format"
From: src/test/compile-fail/associated-types-ICE-when-projecting-out-of-err.rs

Error E0277 needs a span_label, updating it from:

[code]

to:

[code]

Note: looks like there are a bunch of tests that will need to be updated when this is fixed.  You can "git grep E0277" to see them.

[2016-08-04 18:05] steveklabnik commented on #20046
@eefriendman's test case https://github.com/rust-lang/rust/issues/20046#issuecomment-121405728

now compiles as of

[code]

as does @huonw's https://github.com/rust-lang/rust/issues/20046#issuecomment-152175919

As such, I'm going to give this one a close. Let me know if this can still be reproduced!

[2016-08-04 18:05] #20046 closed

[2016-08-04 18:14] jonathandturner opened #35312 "E0282 needs to be updated to new format"
From: src/test/compile-fail/issue-23041.rs

Error E0282 needs a span_label, a note, and an updated title, updating it from:

[code]

To:

[code]

[2016-08-04 18:24] jonathandturner opened #35315 "E0306 needs to be updated to new format"
From: src/test/compile-fail/repeat_count.rs

Error E0306 needs a span_label and a title update, updating it from:

[code]

to:

[code]

[2016-08-04 18:39] nwin opened #35316 "MIR enabled rustc nightly warns about error in unreachable code"
Compiling the following code using rustc+mir

[code]

emits the following warning

[code]

although the `else` branch is unreachable. Switching off MIR by using `-Z orbit=off` causes the warning to disappear.

Edit: It seems that `rustc` lost the ability to detect this unreachable branch. Using `if true {` instead causes the warning to disappear as well.

[2016-08-04 18:53] nagisa commented on #35316
Constant propagation should help with this.

[2016-08-04 19:12] sciyoshi commented on #35255
Error message updated in #35318.

[2016-08-04 19:25] Limeth commented on #35257
We've implemented essentially the same thing with @GuillaumeGomez in two separate PRs. I am now waiting for his PR to get merged, so we both can use the same implementation.
https://github.com/rust-lang/rust/pull/35264

[2016-08-04 19:38] eddyb commented on #35316
@nwin rustc never actually checked, this warning is a new MIR feature.
We do need constant propagation to make it not trigger in cases like this.

[2016-08-04 19:48] Tiwalun commented on #35245
@arielb1 Do you mean like this?
[code]

Or like this, with the primary span changed?

[code]

[2016-08-04 19:53] jonathandturner opened #35322 "E0318 needs to be updated to new format"
From: src/test/compile-fail/typeck-default-trait-impl-outside-crate.rs

Error E0318 needs a span label, a note, and an updated title, updating it from:

[code]

To:

[code]

Bonus: narrow the span to focus on the foreign trait

[code]

[2016-08-04 20:02] jonathandturner commented on #35245
I think he means the second one:

[code]

[2016-08-04 20:07] jonathandturner opened #35323 "E0322 needs to be updated to new format"
From: src/test/compile-fail/coherence-impls-sized.rs

Error E0322 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: shrink the span to only the Sized part:

[code]

[2016-08-04 20:13] nikomatsakis commented on #35044
Discussed in @rust-lang/compiler meeting -- @arielb1 is going to try and revert PR #32202 on the beta branch only to fix this or else find a fix. We don't have to do anything on nightly because it's correct in MIR -- though it means that old trans is kind of broken.

Also, @arielb1 says it's all @eddyb's fault. ;)

[2016-08-04 20:14] cgswords commented on #35148
While this is a good idea, it seems a better idea is to have the expander walk the plugin's output and respan anything with a `DUMMY_SP` to have the span of the macro invocation site. Doing this as part of expansion has a few advantages:

1. We don't have to produce errors here _or_ worry about those checks during HIR lowering
2. This takes a lot of responsibility off of the plugin writer (most im

[2016-08-04 20:32] japaric commented on #31322
@alexcrichton @brson ^ There's quite some demand for a dynamically linked musl target. AFAICT, the only thing that's needed is to pick a name (triple) for the target as the implementation has been proven to work. How do we move this forward? Do we need an RFC to pick a name for the target?

---

@jirutka

Did the test runner stop at that point? You should run `make check -k` to run the **full** te

[2016-08-04 20:51] jonathandturner opened #35325 "E0323 needs to be updated to new format"
From: src/test/compile-fail/impl-wrong-item-for-trait.rs

Error E0323 needs a span_label, updated title, and a note, updating it from:

[code]

To:

[code]

Bonus: show the original part of the trait that conflicts:

[code]

[2016-08-04 20:58] jonathandturner opened #35327 "E0324 needs to be updated to new format"
From: src/test/compile-fail/impl-wrong-item-for-trait.rs

Error E0324 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: show the original requirement also

[code]

Note: this may be related to https://github.com/rust-lang/rust/issues/35325