[2022-03-15 16:12] Aaron1011 commented on #94903
I suspect that this is caused by a bug in how we handle higher-ranked region variables (possibly during trait selection caching).

[2022-03-15 16:13] Stupremee opened #94965 "Make `Stream` a doc alias of `AsyncIterator`"
Now that `Stream` is renamed to `AsyncIterator` it would be really helpful if `AsyncIterator` still shows up even if you search for `Stream`.

[2022-03-15 17:36] metasim opened #94967 "Segmentation fault when compiling `unicode-bidi` inside Docker"
Not sure if this is a useful bug report or not, but I'm building an `amd64` executable inside Docker on an `aarch64` host (Apple Silicon). `rustc` aborts with a `SIGSEGV` when compiling `unicode-bidi`.

I don't have an `amd64` host to test on, so I don't know if this is caused by the oddity of my build environment. I can say I've successfully built project this way that _don't_ use `unicode-bidi`.

[2022-03-15 18:36] jyn514 commented on #71818
https://github.com/rust-lang/rust/issues/94829

[2022-03-15 18:41] xFrednet commented on #94953
I think I just have to remove that `assert` all together. I'm guessing that the comment only runs part of the compiler, but not the query used to update the unstable ids. The next step will require some refactorings. For now, I'll remove the `assert` and look back into this after the refactorings. Thank you for the report!

[2022-03-15 18:53] michaelwoerister commented on #94961
I'll look into it. Thanks for the bug report!

[2022-03-15 18:53] Mark-Simulacrum commented on #71818
I think the likely immediate next step if someone would like to make progress on this is to do a survey across at least tier-1 platforms (macOS, Windows, Linux, in no particular order), with likely some more variants of each (by install method, etc) in terms of the likely binaries available in a common PATH, and ease of getting other binaries/symlinks (e.g., python-is-python3 and similar packages)

[2022-03-15 18:56] nachkar commented on #50220
Any solution to build the rust library for both architecture arm64 and x86 using Apple LLVM compiler not rust's ? Bitcode enabled is affecting the release of the application due to the difference between the LLVM producer and reader while archiving on xCode.

[2022-03-15 19:27] m-ou-se opened #94970 "Tracking issues for unstable language features in `std`"
`std` uses a lot of unstable language features. While `core` will most likely always have to use language features because it defines things that are part of the core of the language, we can strive for `std` to eventually be free of unstable language features.

Some of these we'll need to stabilize, but some others we might be able to simply remove with some small changes to the code.

These are t

[2022-03-15 19:28] m-ou-se commented on #94970
@rust-lang/lang Can y'all please stabilize this entire list? :D Thaanks!

cc @rust-lang/libs

[2022-03-15 19:39] m-ou-se opened #94971 "Tracking issues for unstable language features used by `std`"
`std` uses a lot of unstable library features. While `core` will most likely always have to use *language* features, we can strive for `std` to eventually be free of both unstable language and unstable library features.

Some of these we'll need to stabilize, but some others we might be able to simply remove with some small changes to the code.

(See also https://github.com/rust-lang/rust/issues/9

[2022-03-15 19:45] m-ou-se opened #94972 "Allow `std` to re-export unstable things from `core` without having to enable the feature itself"
`library/std/src/lib.rs` now enables a lot of `#![feature]`s from `core` and `alloc` and `test` only because it needs to re-export some unstable items (with the same `#[unstable]` tag). It makes it hard to tell if `std` needs those features itself or not.

It'd be great if an `#[unstable] pub use` would work without enabling the feature in the entire crate. (As long as the feature name is the same

[2022-03-15 19:55] compiler-errors commented on #94971
Should this be titled "Tracking issues for unstable library features used by `std`"?

[2022-03-15 20:27] zesterer opened #94975 "Redundant vtable entries are generated, resulting in unnecessary amounts of LLVM IR being emitted"
Rust appears to generate LLVM IR for vtable entries unnecessarily, such as for types that never get coerced into a trait object. This realisation came as a result of discussion [here](https://github.com/zesterer/chumsky/issues/13).

I've also theorised that it does this for all trait methods outright, although I've yet to confirm that this is the case. It might be that in this latter case, the com

[2022-03-15 20:51] pcordes opened #94977 "Inline asm docs incorrectly state that k0 (x86 AVX-512) is hard-wired to zero"
https://doc.rust-lang.org/nightly/reference/inline-assembly.html#register-names
says about  `k0`  "*This is a constant zero register which can't be modified.*"
That's the same phrasing as AArch64 `xzr`, so I assume the author thought it was architecturally hard-wired, rather than a software choice to keep it zeroed (like often done with AVR `r0`).  (Which I don't think would make much sense; most

[2022-03-15 21:31] pietroalbini commented on #94945
This was discussed with the Rust Security Response WG (not just me) and we agreed with making this issue public.

[2022-03-15 21:37] ghost opened #94978 "Tracking Issue for ```#[deprecated_safe]``` attribute"
This is a tracking issue for the lang-team MCP "Add #[deprecated_safe] attribute..." (rust-lang/lang-team#147).

The feature gate for the issue is `#![feature(deprecated_safe)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue

[2022-03-15 21:41] undersquire opened #94979 "Add documentation about macOS-specific behavior for non-blocking UdpSocket & TcpSteam"
**EDIT:** I noticed that it is actually wrapping this error under WouldBlock, and I messed up my error checking so I wasn't getting that. I will close this now.

~~I have been working with UdpSocket's on **macOS** recently and noticed that when setting the socket to **non-blocking**, using the `recv` or `recv_from` functions **sometimes** return WouldBlock, but other times return `EAGAIN` or `"Res

[2022-03-15 21:55] JanBeh commented on #34537
Note that this (currently) also disallows `impl<T: P> S<T> { /*…*/ }` if `P` is private. See [discussion here](https://users.rust-lang.org/t/private-trait-in-public-interface-sometimes-allowed-and-sometimes-not/73029).

[2022-03-15 22:02] #94979 closed

[2022-03-15 22:11] marcbowes opened #94980 "Compile fail with implicit return"
I tried this code:

[code]

I expected to see this happen: it compiles!

Instead, this happened: *explanation*

[code]

What's weird is changing to an explicit return fixes the problem:

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

[2022-03-15 22:13] HeroicKatora opened #94981 "Surprising behavior of `Take` with misbehaved inner reader"
Nothing here is unsound, just surprising. I tried this code:

[code]

I expected to see this happen: The wrapping into `Take` ensures that _no more_ than the specified number are appended to the underlying vector.

Instead, this happened: `read_to_end` enters a very long loop, eventually fails to allocate and crashes.

### Meta

`rustc --version --verbose`:
[code]

The standard library includes th

[2022-03-15 22:17] HeroicKatora commented on #94981
This is especially surprising because `BufRead::consumes` protects against this kind of misuse by the caller:

[code]

[2022-03-15 22:24] c410-f3r commented on #83527
Thank you @mark-i-m for reviewing https://github.com/rust-lang/rust/pull/93545 and for all your contributions to the compiler.

Hehehehe... You, me and @petrochenkov had trouble trying to understand this feature

Indeed! It is much easier cognitively to keep everything with the direction instead of having `count` going from outer-to-inner and `length` from inner-to-outer. Although I am not sure if

[2022-03-15 22:26] nikomatsakis commented on #44491
I am actively working on this

[2022-03-15 22:26] nikomatsakis commented on #44491
As a start, what I am doing is drawing up a new model based on https://github.com/nikomatsakis/mir-formality

[2022-03-15 22:26] nikomatsakis commented on #44491
More updates to come :)

[2022-03-15 22:27] c410-f3r commented on #83527
Any thoughts @markbt?

[2022-03-16 00:09] djkoloski opened #94983 "Statically linking `libc++` requires disabling `static-libstdcpp`"
In 737ef08ea066cbdc9f4b93373b1a1a108e6691ab, the default value of `static-libstdcpp` was changed from `false` to `true`. When statically linking `libc++` on linux, this has a rather unfortunate cascade of effects:

1. If `static-libstdcpp` is set to true, then `bootstrap/compile.rs` will ask `clang++` where `libstdc++.a` is located.
2. For pure-LLVM toolchains, only `libc++.a` is provided and `cla

[2022-03-16 01:16] erikdesjardins commented on #94975
When compiling that example locally or on godbolt: https://godbolt.org/z/9Ecch96jG, only one vtable (`@vtable.0`) is generated. Perhaps it's reduced too much from the the original issue?

(Aside: I would be a little surprised if the issue you're seeing is caused by vtables specifically, since they should be generated on demand when we codegen an unsizing coercion, e.g. [here](https://github.com/ru

[2022-03-16 01:27] wcampbell0x2a opened #94986 "ICE: Compiling tracing-appender v0.2.0 in rsadsb"
Hey! Just got this ICE in my code. I was building my project `adsb_deku` and was using this commit: https://github.com/rsadsb/adsb_deku/pull/118/commits/70343dbc7186c827fe4cab32a93122460ac947b6

Looks like it crashed trying: `   Compiling tracing-appender v0.2.0`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[c

[2022-03-16 01:38] wcampbell0x2a commented on #94986
Found previous art: https://github.com/rust-lang/rust/issues/85350

And I can confirm that the following code causes an ICE (just like the previous ticket did):
[code]

[2022-03-16 02:33] ehuss commented on #94977
cc @Amanieu

[2022-03-16 02:51] cmpute commented on #85532
It's very useful to add a `mul_mod` function to the integer types (the name can be better designed tho). Here's the assembly comparison with a naive implementation in [Godbolt](https://rust.godbolt.org/#g:!((g:!((g:!((h:codeEditor,i:(filename:'1',fontScale:14,fontUsePx:'0',j:1,lang:rust,selection:(endColumn:2,endLineNumber:21,positionColumn:2,positionLineNumber:21,selectionStartColumn:2,selectionS

[2022-03-16 04:56] DemiMarie commented on #94970
`allow_internal_unstable` makes no sense to stabilize, so that one can be scratched off the list already.

[2022-03-16 08:10] m-ou-se commented on #94970
If we stabilize `staged_api` (to allow other crates to use `#[stable]` and `#[unstable]` for their own API), then we should also stabilize `allow_internal_unstable`.

[2022-03-16 09:01] krasimirgg opened #94994 "removal of #![feature(rustc_private)] from library/std/src/lib.rs"
`#![feature(rustc_private)]` was removed from from library/std/src/lib.rs:
 https://github.com/rust-lang/rust/commit/9b952b7d3a9dc7961f14257c3fe20955ca4d2a50#diff-317b30ba653f20600042781487d517ae7d07547466b074d09d521f0b9b6ccc52L322

With this removal we're hitting some errors while trying to build std in a non-standard way (we're using a build system not based on cargo that directly invokes rustc)

[2022-03-16 09:01] michaelwoerister commented on #86929
I'll try to take a look at this.

[2022-03-16 09:09] luojia65 commented on #44839
Hello! Please add stabilization state of RISC-V architecture in issue details as well :) It only has x86_64, arm etc.

[2022-03-16 09:22] luojia65 commented on #69098
By now `#[target_feature(..)]` can only be applied to `unsafe` functions. Should we lift this restriction? Some of the intrinsic functions (e.g. sm3p0 in RISC-V K extension) maybe considered safe function if any RISC-V cpu have implemented them.

[2022-03-16 10:06] zesterer commented on #94975
Perhaps I'm reading the LLVM IR incorrectly and misindentifying a normal method call.

That said, there does seem to be *something* generating superfluous LLVM IR in combinator-heavy code (see [here](https://github.com/fasterthanlime/netherquote)), and it seems to result in significantly less LLVM IR being emitted when moving dynamic uses of a trait to a helper trait with a blanket impl [like this

[2022-03-16 10:17] chenzhuoyu opened #94998 "assertion failed: !value.has_escaping_bound_vars(): ICE when compiling crate `tracing-subscriber v0.3.9`"
### Code

Cargo.toml

[code]

rust-toolchain.toml
[code]

src/main.rs

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-16 10:27] chenzhuoyu commented on #94998
`nightly-2022-03-14` works fine, but `nightly-2022-03-15` crashes with ICE.

[2022-03-16 10:29] GoldsteinE opened #94999 "ICE on stable when trying to imitate `trivial_bounds`"
Trying to emulate trivial bounds via generics & associated types panics on stable, beta and nightly.

### Code

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7fd4f152df6e03d96a0f4e6c0b807cfd

[code]

### Meta

`rustc --version --verbose`:
[code]

Reproducible on beta and nightly

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[2022-03-16 10:41] GoldsteinE commented on #94999
Bug is not present in 1.51 and appears in 1.52.

[2022-03-16 11:00] bsodmike opened #95001 "ICE in rustc 1.61.0-nightly (52b34550a 2022-03-15) running on x86_64-unknown-linux-gnu"
Rust: `rustc 1.61.0-nightly (52b34550a 2022-03-15) running on x86_64-unknown-linux-gnu`

This was running in a CI job, the most I have are the following details:
[code]

[2022-03-16 11:08] hkratz opened #95002 "aarch64 neon intrinsics broken after #90621"
#90621 causes a compile-time error on every aarch64 function which just has the neon feature explicitly enabled  via `#[target_feature(enable = "neon")`, even if `fp` is enabled implicitly. This will cause a good amount of breakage across the ecosystem - [Github Code Search](https://cs.github.com/?q=%23%5Btarget_feature%28enable+%3D+%22neon%22%29%5D). After this change even running `TARGET=aarch64

[2022-03-16 11:59] jo-so commented on #82775
Would it be possible to allow `=> $x:ident` to make it possible to unwrap with `assert_matches!`? I often have tests like:

[code]

Now I have to write this what's a little longish.

[code]

[2022-03-16 12:01] sfackler commented on #82775
What's the purpose of using assert_matches at all there?

[2022-03-16 12:34] ErikBjare commented on #95001
I've stumbled upon this too (when building rocket), seems to be a regression in the latest nightly (bug not present in yesterday's build), see https://github.com/ActivityWatch/aw-server-rust/issues/269 for details and logs.

[2022-03-16 12:50] jhpratt commented on #82775
That has been previously discussed and decided against.

[2022-03-16 12:57] cjgillot opened #95004 "Refactor HIR item-like traversal"
HIR is globally traversed using the `tcx.hir().{,par_}visit_all_item_likes{,_in_module}` family of functions. These functions create a lot of dependency edges (they call the `hir_crate` query, or call `hir_owner` for each item-like). These dependencies are not always useful: many use sites only require `item`s, and don't care for impl items, trait items or foreign items.

This can be avoided by re

[2022-03-16 13:02] adamgemmell commented on #95002
Working on a fix for this.

[2022-03-16 13:25] Alexendoo commented on #87142
No longer ICEs since #94261

[2022-03-16 13:29] nikomatsakis commented on #69098
@calebzulawski I know it's almost a year later but I *think* this is probably ready for a stabilization report? (cc @rust-lang/lang)

[2022-03-16 13:48] m-ou-se commented on #82775
I thought moving the macro into that module without re-exporting it in the prelude or crate root was only a temporary fix while this feature is unstable. I think once this is stable, it shouldn't require an extra import, to make sure it's available in the same way as `assert_eq!()` etc.

[2022-03-16 14:02] nikomatsakis commented on #87517
No matter whose jurisdiction it is, this seems really useful, +1 from me. I would like a few more knobs on our derives.

[2022-03-16 14:13] Walther commented on #71818
Hoisting from Zulip:

[code]

On my Windows 11 machine, if i run `python3` in either Powershell or CMD, the Windows Store automatically opens to the official Python 3.10 software page, published by Python Software Foundation.

After I click the Get button to install it, in both Powershell and CMD, running `python3 -V` results in `Python 3.10.2`.

After the installation, if I write a small file

[c

[2022-03-16 14:30] jackh726 commented on #94986
See #94998 for a smaller repro.

[2022-03-16 14:35] camsteffen commented on #83527
It also seems odd to me that `index` doesn't support an `ident` parameter but all the other functions do.

[2022-03-16 14:36] jo-so commented on #82775
Steven Fackler schrieb am Wed 16. Mar, 05:02 (-0700):

I want to assert that the return type matches `Ok()` and want to fail
otherwise. If it's Ok(), I want to go on and run other checks.

[2022-03-16 14:36] jackh726 commented on #94998
My guess is this is caused by #93977. Specifically https://github.com/rust-lang/rust/pull/93977/files#diff-8d11697c196da9f44774488ae0bf353283e5c6466a6dd570d7818431b73d4a44R1683.

cc @compiler-errors

[2022-03-16 14:40] nagarajmanjunath opened #95009 "'rustc' panicked at 'assertion failed: !value.has_escaping_bound_vars()' after update to latest version v1.61.0"
Hi, I was using rust `v1.58.0 nightly`,  `cargo build` was working fine in our project. Recently I updated the rust version to  `v1.61.0. nightly` Now I am facing the below issue with the rocket.rs package, whenever I try to build.

Rust version :
[code]
Error Complier

[code]

[2022-03-16 14:40] jackh726 commented on #94998
(That might not be the cause though)

[2022-03-16 14:52] Mark-Simulacrum commented on #94994
Can you give the rustc invocation for the libc crate build?

[2022-03-16 15:00] skulthe opened #95010 "Internal compiler error while using `rustc 1.61.0-nightly`"
### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2022-03-16 15:09] jo-so commented on #82775
It wouldn't compile, because the variable is not defined.

[2022-03-16 15:13] sfackler commented on #82775
`assert_matches!(x, Ok(_));` does not define any variables.

[2022-03-16 15:13] kckeiks commented on #95004
@rustbot claim

[2022-03-16 15:14] Shatur commented on #82775
I would use `expect()` in your case:

[code]

[2022-03-16 15:15] kckeiks commented on #95004
@rustbot claim

[2022-03-16 15:16] m-ou-se commented on #93740
Here is a quick analysis of **Apple Darwin libpthread**'s implementation:

I'm not going into as much detail as the other implementations. MacOS has native (undocumented) syscalls for things like mutexes and rwlocks (psynch), but also supports a not-fully-documented futex-like syscall (ulock_wait). By default, the pthread locking types use their `psynch` based implementation, but there is also an

[2022-03-16 15:17] Sherlock-Holo opened #95012 "cargo test cause ICE"
### Code

[code]

the pb is

[code]

and use `tonic-build` to generate it

### Meta

`rustc --version --verbose`:
[code]

### Error output

run `cargo test`

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-16 15:20] kckeiks commented on #95004
@rustbot claim

[2022-03-16 15:24] kckeiks commented on #95004
Not sure why rustbot is ignoring me but I'd like to pick this up. I'll have some bandwidth in the next couple of weeks to work on this.

[2022-03-16 15:29] TennyZhuang commented on #82775
IMO feature let_else can help you in the case.

[2022-03-16 15:35] m-ou-se commented on #93740
And here's some details of **FreeBSD**'s pthread implementation:

All of the pthread locking types are 'boxed' on FreeBSD. They are just a single pointer, pointing to the heap-allocated implementation. (This means that today, std::sync::Mutex on FreeBSD is effectively a `Box<Box<ActualMutex>>`. :( )

The kernel directly supports native syscalls for mutexes, condition variables, and read writer loc

[2022-03-16 15:35] koehlma commented on #87785
How about adding some opacity to the item names or would that be too subtle?

I think I would be able to contribute a PR making this happen.

[2022-03-16 16:12] estebank opened #95014 "Suggest removal of type ascription in stable"
Given the following code:

[code]

[The current output is](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7ef86289ce3518aa4c3b028988042c2f):

[code]

It should (instead?/also?) suggest *removing* the type ascription, as it is more likely what the end user wanted. Particularly in stable compilers.

_Taken from https://users.rust-lang.org/t/cannot-compile-my-code/72894_

[2022-03-16 16:12] jackh726 commented on #95009
Duplicate of #94986 and #94998; going to go ahead and close.

[2022-03-16 16:12] #95009 closed

[2022-03-16 16:13] krojew opened #95015 "ICE while building the tracing-subscriber crate"
### Code

Compiling tracing-subscriber v0.3.9.

### Meta

[code]

### Error output

[code]

[2022-03-16 16:24] compiler-errors commented on #94998
No, you're probably right @jackh726. I'll either erase regions during candidate assembly or use something infcx-local to probe if something is Copy.

@rustbot claim

[2022-03-16 16:28] jackh726 commented on #94998
Compiling with debug assertions on should be able to pinpoint exactly where things go wrong.

[2022-03-16 16:37] lqd commented on #94998
Bisecting this lead to https://github.com/rust-lang/rust/commit/040703018c51409ea8c9a0cfb8f829a138d2a411 though cc @michaelwoerister

[2022-03-16 16:40] lqd commented on #95015
Thanks for opening an issue! It seems like a duplicate of #94998 so I'll close it as such, so all info is in a single issue.

[2022-03-16 16:40] #95015 closed

[2022-03-16 16:41] michaelwoerister commented on #94998
👍

[2022-03-16 16:43] compiler-errors commented on #94998
Actually, I do agree that this is probably not due to #93977. @michaelwoerister, I can still fix this though, unless you're gonna take a look at it?

[2022-03-16 16:44] michaelwoerister commented on #94998
@compiler-errors, feel free to take a look. https://github.com/rust-lang/rust/pull/94997 might be relevant here too (although it does look like a different problem).

[2022-03-16 16:47] lqd commented on #95012
This looks like a duplicate of #94998, so I'll close this as such, and we can have all the information in the other one. Thanks a bunch for opening an issue!

[2022-03-16 16:47] #95012 closed

[2022-03-16 16:48] lqd commented on #95010
This looks like a duplicate of #94998, so I'll close this issue as such, and we can have all the information in the other one. Thanks a bunch for opening an issue!

[2022-03-16 16:48] #95010 closed

[2022-03-16 16:49] lqd commented on #95001
This looks like a duplicate of #94998, so I'll close this issue as such, and we can have all the information in the other one. Thanks a bunch for opening an issue!

[2022-03-16 16:49] #95001 closed

[2022-03-16 17:06] FSMaxB opened #95018 "ICE on nightly "assertion failed: !value.has_escaping_bound_vars()""
### Code
[code]

NOTE: I could only reproduce it with the following cargo workspace structure:
https://github.com/FSMaxB/rust-ice-reproducer

### Meta
Interestingly this needs the cargo workspace structure to happen. Just the code isn't enough

[code]

[code]

### Error output

[code]

[2022-03-16 17:23] lqd commented on #94998
For either of the two Michaels looking at this: big thanks to @FSMaxB for the [small repro](https://github.com/FSMaxB/rust-ice-reproducer/blob/master/broken/src/lib.rs) from #95018.

[code]

([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=517b63a23d9737a450e063b07d1a8793))

[2022-03-16 17:25] lqd commented on #95018
Thank you very much for the small repro, this will be very helpful!

Since this is a duplicate of #94998, I'll close it as such so we can keep track of the progress there. Thanks a bunch for opening the issue and minimizing the code.

[2022-03-16 17:25] #95018 closed

[2022-03-16 17:26] djkoloski commented on #94998
Here's a minimization I left on a duplicate issue:

`lib.rs`
[code]

[code]

Note that without `-Cdebuginfo=2` this does not ICE.

[2022-03-16 17:28] joshtriplett commented on #44930
Tagging as ready-to-stabilize based on previous lang discussion.

The author mentioned wanting to add some more tests. Assuming those tests pass, this is ready for stabilization; if any fail, this should move to impl-incomplete until they pass.

[2022-03-16 17:33] joshtriplett commented on #83518
This came up in today's @rust-lang/lang meeting. One notable consideration: should we enable this by default, and with what threshold?

[2022-03-16 17:37] bjorn3 commented on #94970
I don't think that is completely realistic. It contains several fallbacks for things that need to be explicitly defined when not using libstd, but call still be defined even when libstd is used. For example the global allocator used when no `#[global_allocator]` is used. Or the wrapper around the `main` function. These fallbacks shouldn't stabilize I think as it would allow for multiple crates to

[2022-03-16 17:57] bjorn3 commented on #94762
@rustbot ping llvm

[2022-03-16 18:01] joshtriplett commented on #48556
We discussed this in today's @rust-lang/lang meeting.

This seems to be the tracking issue for target-specific SIMD (not portable SIMD, which is being tracked and developed elsewhere). And we've shipped target-specific SIMD on x86-64 and aarch64. There will always be more CPUs to support, but that doesn't mean this issue needs to remain open indefinitely.

We've shipped this; closing.

[2022-03-16 18:04] jackh726 commented on #94986
I'm going to close this as a duplicate of #94998, since that has a smaller repro, plus a MCVE in comments.

[2022-03-16 18:04] #94986 closed

[2022-03-16 18:07] jackh726 commented on #94998
Also changing title and pinning to try to help curb some duplicates.

[2022-03-16 18:13] jrmuizel commented on #48556
For reference the ARM32 stabilization is tracked in #90972

[2022-03-16 18:56] jam1garner commented on #93171
Since this fix won't retroactively apply to old docs, if anyone else runs into this thread, here's a ublock origin filter that has worked for me:

[code]

(Coincidentally it uses the same hack-fix as cynecx mentioned)

I should note that I observe this issue for non-font reasons (I believe, inspector could be lying to me about font calculations) due to the fact I always view docs in a vertical win

[2022-03-16 19:05] apiraino commented on #94847
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2394847.20No.20more.20auto-vectorization.20starting.20with.20LLVM.2014) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-03-16 19:08] NahejL opened #95021 "thread 'rustc' panicked at 'Box<dyn Any>', compiler/rustc_errors/src/lib.rs:1169:9"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-16 19:15] griffi-gh opened #95022 "drop(self); in fn ... (self) causes a compiler crash (nightly)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-16 19:22] griffi-gh commented on #95022
repo: https://github.com/griffi-gh/rustish/tree/9b4f71aa089c9e65e78a45999eb7f3b9e7776f5a
ik my code sucks

[2022-03-16 19:24] pierwill commented on #90108
@estebank: Would this make sense as a lint in [`compiler/rustc_lint/src/traits.rs`](https://github.com/rust-lang/rust/blob/1b14fd3b1063771923e2fcf2110961bfa5ba4ad0/compiler/rustc_lint/src/traits.rs), or would clippy be better?

[2022-03-16 19:25] pierwill commented on #90108
@rustbot label +A-lint

[2022-03-16 19:37] compiler-errors commented on #95022
This seems to be fixed on nightly, or else maybe I'm having trouble reproducing it with `cargo build`. Can you `rustup update nightly` and check again?

[2022-03-16 19:38] compiler-errors commented on #95022
Actually I think I fixed this in #94688.

[2022-03-16 19:45] oli-obk commented on #83518
We don't really have a precedent for heuristic lints. The closest equivalent are the other raisable limits. I don't think we can use crater to find good limits, as most large types will be occuring in binary crates or tests on edge cases.

So... I think we should pick an arbitrary limit (e.g. 4kb) and only enable it by default if cfg(test) is not set and just wait for reports to come in. It's easi

[2022-03-16 20:07] GoldsteinE commented on #94999
It seems to affect only traits that are checked by `noop_method_call`. Changing `Clone` to `MyClone` fixes the panic.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=18ab51db258ebd476883851b932ac208

[2022-03-16 20:11] compiler-errors commented on #94999
I wonder if this could be fixed by normalizing the caller-bounds when checking for trivial bounds in WF. Hmm.... might think about this issue later tonight.

[2022-03-16 20:13] compiler-errors commented on #94511
The fixes for this were beta-backpoorted in #94933, should we close this @Mark-Simulacrum?

[2022-03-16 20:18] matthiaskrgr opened #95023 "ICE: assertion failed: !value.has_escaping_bound_vars(), compiler/rustc_middle/src/ty/sty.rs:971:9"
### Code

[code]

### Meta

This crashes rustcs as old as 1.56.1 so probably different from https://github.com/rust-lang/rust/issues/94998 (didn't try any older rustcs though.)

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-16 20:20] m-ou-se commented on #81061
@rfcbot fcp merge

[2022-03-16 20:27] Mark-Simulacrum commented on #94511
I'm rerunning crater and will close if it doesn't appear again.

[2022-03-16 20:46] compiler-errors commented on #95023
This is probably a bug in the way that we lower `impl Fn(&_)` that lets a late-bound region escape. I can probably take a look at this later, though guessing it's low-pri since it requires a feature and triggers errors before the ICE occurs.

[2022-03-16 21:01] Amanieu commented on #72353
We discussed this on the libs meeting today. Currently, hardware support for float atomics only exists on GPU targets (CUDA & AMDGPU). On all other targets, you can perform atomic operations on floats by using `to_bits` and `from_bits` with `compare_exchange`. Unless there is a compelling use case for exposing float atomic support (e.g. someone is actually using them on GPU targets) then we prefer

[2022-03-16 21:01] #72353 closed

[2022-03-16 21:08] markbt commented on #83527
First off, thanks to @c410-f3r for implementing this.  Really excited to see it merged, and I'm going to try to find some time to try it out soon.

Thanks for all the feedback, too.  I'm going to try to explain my thinking about this, as I spent some time thinking through these points when I was drafting the RFC.  This was quite some time ago, so my memory is a little rusty (excuse the pun).  Over

[2022-03-16 21:21] lqd commented on #95023
I think it's a variant of #85350 btw.

[2022-03-16 22:00] joshtriplett commented on #83518
Sounds reasonable to me. And yes, I think the most obvious thresholds would be something like 1k or 4k.

[2022-03-16 22:30] kupiakos commented on #80384
Does this need to apply to raw references/`ptr::addr_of!`? Given only a `*const UnsafeCell<T>`, there in not yet a stable way to mutate the referent:

[code]

[2022-03-16 22:37] ericseppanen opened #95027 "Tracking Issue for `CStr::from_bytes_until_nul`"
Feature gate: `#![feature(cstr_from_bytes_until_nul)]`

This is a tracking issue for adding member fn to `CStr` that convert from a byte slice, without the caller needing to know where the nul byte is located within the slice.

This is intended for use in FFI calls, where a foreign function wrote a string into a Rust-allocated buffer. The existing member fns fall short in this case:
- `CStr::from_

[2022-03-16 22:55] joboet commented on #93740
I would really like to see benchmarks for most of these choices (1, 2, 3, 5, 7), as they trade off simplicity for performance, so they'll be easier to make when you know how much performance you lose.

4. I think it is very much in the spirit of Rust's focus on correct concurrency to prevent writers from starving. We should try to avoid the other kind of UB (**unexpected** behaviour) wherever poss

[2022-03-16 23:43] RalfJung commented on #93740
As mentioned before, this is not clear-cut: that approach would mean that if a thread that holds a read lock acquires another read lock (entirely harmless by Rust standards, just two shared references in the same thread), this can lead to a dead-lock if there is a writer waiting. There is unexpected behavior either way.

Avoiding unexpected behavior might be possible by making it so that when a wr

[2022-03-16 23:46] RalfJung commented on #80384
I would be rather nervous about relying on roundabout arguments like this -- that's the kind of reasoning which quickly leads to accidental stabilization.

For some motivation why we care about this feature, see https://github.com/Gilnaa/memoffset/issues/4#issuecomment-1069658383.

[2022-03-17 00:33] QuaternionsRock commented on #94722
Yeah, I'm going to have to ask that you reopen this issue, @jackh726 (I cannot do so myself). At the end of the day, we are discussing a trait implementation conflict that is contingent upon another impl that *doesn't exist*. Perhaps the majority will agree with your stance, but I personally cannot get myself to agree this is not a bug.

[2022-03-17 00:48] Sytten opened #95028 "Explicit lifetime bound now required for Any"
This might be working as expected but I just wanted to report that builds of diesel started failing on nightly 2022-03-16 (commit 52b34550a).

The lines in question are https://github.com/diesel-rs/diesel/blob/7184f128a3c1435d12b32f413b14b6632e2f753c/diesel/src/connection/mod.rs#L442-L477.

Here are the errors:
[code]

This might be due to https://github.com/rust-lang/rust/pull/92285

[2022-03-17 00:55] estebank commented on #90108
I think this would be ok in the compiler itself (@rust-lang/compiler any reason not to accept such a lint? this would require a proposal?), but it would certainly be reasonable in clippy. You can start working on either codebase that is easiest for you (which might be clippy) and migrate it to the other, as they both use rustc's linting and visitor machinery, so this can be linted almost the same

[2022-03-17 00:56] cuviper commented on #94762
Did that coredump link expire? I get 404...

[2022-03-17 01:00] #83274 closed

[2022-03-17 01:28] AlexApps99 commented on #94762
It must have, I'll reupload it: https://file.io/5EE16bawL2bG (I think this one's once use? I can't find very good sites)
If Rust recommends a specific site for temporary file uploads, I'm happy to upload it to that too

[2022-03-17 01:31] lyricsboy opened #95029 "Certain Emoji cannot be used as character literals"
I was going thru Rustlings, and in `primitive_types2.rs` it encourages you to use an Emoji for the character literal.

[code]

I tried to use the emoji 1️⃣ ([Keycap Digit One](https://emojipedia.org/keycap-digit-one/)) as the character and it made rustc sad:

[code]

The same kind of compiler errors can be produced with the following code:

[code]

Rust version: rustc 1.59.0 (9d1b2106e 2022-02-23)

[2022-03-17 01:53] 8573 opened #95030 "Error message is misleading for missing semicolon between raw string literal and attribute"
Given the following code: <https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8b5f6ac92ab1ea3dbc9d74c8d63d7514>

[code]

The current output is:

[code]

Given the following code: <https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=28a29f9c008732dd3e7fc75455a4e325>

[code]

The current output is:

[code]

The problem with the error message is that there is

[2022-03-17 01:57] thomcc commented on #95029
Unfortunately some emoji, like the one you've chosen, are actually a sequence of multiple unicode scalars. I'm not 100% sure what the solution here is, but there are hard technical limitations that prevent us from allowing these emoji in character literals.

I do think the diagnostics could use work though, and it *might* even be worth adjusting the rustlings text somehow, to avoid encouraging stu

[2022-03-17 02:10] lyricsboy commented on #95029
Yeah, it's a tricky one. Interestingly, in VS Code, if I press delete/backspace with my cursor after the troublesome emoji, it looks like it turns into a normal `1` but there is a stealth combining mark still there, which produces a different diagnostic:

[code]

[2022-03-17 02:15] ChrisDenton commented on #95029
Yeah, the keycap digit one is made up of three Unicode scalar values:

|Scalar value|name|meaning|
|--|--|--|
|U+0031|Digit one| `1`|
|U+FE0F|Variation Selector-16|Changes the appearance of the previous scalar|
|U+20E3|Combining Enclosing Keycap|Combines to create a keycap emoji|

To test test this out try using double quotes instead `"`:

[code]

To be honest a Rust [`char`](https://doc.rust-lang

[2022-03-17 02:24] cuviper commented on #94762
Hmm, I downloaded it, but my local GDB doesn't make any sense of it without all of the mapped modules, it seems. It's not even enough to have just the matching toolchain at the right path.

But I did manage to line up the offsets myself to find it in the disassembly -- it's this `divl`:

[code]

and that value `0x18(%rsp)` is zero, at least in the current state of the coredump. That came from the

[2022-03-17 03:07] jhpratt commented on #92384
Duplicate of #82814?

[2022-03-17 03:10] clarfonthey commented on #92384
That appears to be a meta tracking issue, this is specifically for these methods.

[2022-03-17 03:12] jhpratt commented on #92384
At least when I created it, it was not intended to be a meta issue. `Result::as_mut` and `Result::transpose` point directly to that as their tracking issue.

[2022-03-17 03:13] clarfonthey commented on #92384
Yes, but for now, these methods point to this one, since they presumably would need their own FCP.

[2022-03-17 03:14] jhpratt commented on #92384
I figured it would be a partial stabilization of #82814. Not a big deal either way, just wanted to bring it to your attention :slightly_smiling_face:

[2022-03-17 03:24] compiler-errors commented on #95028
Yeah, this is a side-effect of #92285. :/

[2022-03-17 03:54] jackh726 commented on #94722
This isn't inconsistent behavior. The impl over all `T` includes downstream types as well. The concrete impls do not. They are not the same.

Again, these aren't the same. In this case because of the orphan rule. Because i32 is defined upstream and NDArrayType is defined in the current crate, no new impl can ever exist. So, these two impls cannot overlap.

Yes; if you add that impl it will break.

[2022-03-17 04:03] nagarajmanjunath commented on #94998
any solution!,  I am still facing same error `assertion failed: !value.has_escaping_bound_vars()` when i try to build the crate.

[2022-03-17 04:04] Sytten commented on #95028
All good since it was probably a bug not to flag that. I pushed a fix to diesel. I do expect some people will come to report similar issues. I expect it will be in a changelog at some point.

[2022-03-17 04:08] compiler-errors commented on #94998
No, the PR that fixes this is blocked on a CI issue, which will not likely be resolved until tomorrow at this rate.

You may find a temporary fix by downloading an old nightly revision with (e.g.) `rustup install nightly-2022-03-14` and setting that as your default for the time being, but please make sure to set it back later. Or, if your project does not use any nightly-only features, I recommend

[2022-03-17 04:09] compiler-errors commented on #95028
Yes, it'll be in the release notes for 1.61 -- thanks for the report anyways. I'm curious if this will break any downstream usages in diesel. Please let us know if so.

[2022-03-17 04:16] camsteffen commented on #83527
Okay I now understand how `count` is categorically different from `index` and `length`. `count` is for inner repetitions and `index` and `length` are for outer repetitions, relative to the current expansion context. An `ident` is necessary for specifying an inner repetition since there could be multiple (and multiple within those etc.). But outer repetitions only need a relative `depth`. With this

[2022-03-17 04:17] erikdesjardins commented on #94975
When compiling https://github.com/fasterthanlime/netherquote locally with `cargo llvm-lines` (optionally with `--release`), with `chumsky` patched to a local clone:
[code]

I see minimal difference in LLVM IR lines (<100) between:
- https://github.com/zesterer/chumsky/commit/f6f39da671ea2807c922fb6db3398452c96d6dcd (using `dyn DynParser`) [0] [1]
- https://github.com/erikdesjardins/chumsky/commit/

[2022-03-17 04:19] nagarajmanjunath commented on #94998
@compiler-errors Thanks!

[2022-03-17 05:44] jo-so commented on #82775
I'm talking about `let x = assert_matches!(fun(), Ok(x) => x);`

[2022-03-17 05:55] jo-so commented on #82775
Yes, `expect()` would allow to give a static message. But `assert` has that advantage to see the bad value. Sometimes tests trigger nasty bugs, and it is helpful to have as much information as possible. Hence, I use `assert`.

[2022-03-17 06:22] camsteffen commented on #83527
For `count`, `depth` could be "outward distance from `$x`" rather than "inward distance from `count(..)`". I think that would be more consistent and intuitive.

---

Hope you don't mind one more alternate idea. Named repetitions. This allows for referencing repetitions that do not otherwise have an ident.

[code]

[2022-03-17 07:09] maboesanman commented on #65225
I've put a bunch more thought into the types for the entry api, and am planning on putting together a proper RFC.

the same repo as above (and the documentation link, if GitHub Pages finally uploads it) apply, now updated to reflect changes made to the design, which has matured a bit. Now I think it's likely mostly a matter of extending with helpers and improving ergonomics.

right now I'm pretty

[2022-03-17 08:20] nikic commented on #94762
It is, our non-alt builds don't enable assertions.

@AlexApps99 For this kind of issue, a particularly minimal reproducer is not needed, just anything that is publicly sharable will do.

[2022-03-17 08:51] SimonSapin commented on #82775
`Result::<T, E>::expect` requires `E: Debug` and prints the error value in the panic message: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c23502bf5661ca1d97b5f691e826e851

[2022-03-17 09:10] AlexApps99 commented on #94762
Here's the reproducer (I minimized it a bit by removing some modules/deps, but it's otherwise as is, new coredump is attached inside zip for debugging purposes)
https://ufile.io/x8d0hlkf

[2022-03-17 09:21] nikic commented on #94762
Thanks, I can reproduce the crash with `opt -passes='lto<O3>'` on `lto.after-restriction.bc` with current LLVM HEAD.

[2022-03-17 09:33] nikic commented on #94762
Reduction for `lto<O2>`: https://gist.github.com/nikic/de35ff579336c501a581e57e725ba4f3

[2022-03-17 09:35] m-ou-se commented on #93740
It's very tricky to make realistic benchmarks, or even decide what 'realistic' really is. There are many different usage patterns of locks, and optimizing a lock implementation for a specific benchmark is easy but not that useful.

Many of the choices cannot be made independently from each other, and have consequences for the complexity (and size) of the lock. There is also value in keeping them s

[2022-03-17 09:50] nikic commented on #94762
[code]

[2022-03-17 09:55] m-ou-se commented on #93740
We discussed the design of several possible implementations in the library team meeting yesterday. Here's a summary of our most important conclusions:

- A 'trivial' futex-based implementation of these locks, like in my experiment, seems like a good way to go. It is simple and easy to implement and verify, as it leaves most of the complexity to the kernel. None of the more complex ways to implemen

[2022-03-17 09:57] nikic commented on #94762
https://github.com/llvm/llvm-project/issues/54413

[2022-03-17 10:58] aliemjay opened #95034 "ICE on "computing whether GenFuture<_> is `Copy`""
### Code

[code]
Compiled with the command  `rustc --edition 2021 --crate-type lib  repro.rs`. Surprisingly, It is not reproducible with `--crate-type bin`!

With any of the following changes, the code compiles fine:

[code]
or
[code]

### Meta

The code compiles fine on v1.55.0. It was reproduced on v1.56.0 up to the current nightly with a similar error output.

Last good nightly:  `1.56.0-nightl

[2022-03-17 11:33] m-ou-se commented on #93740
Started the Linux implementation for Mutex and Condvar here: https://github.com/rust-lang/rust/pull/95035

This (draft) implementation does not (yet) spin before locking.

[2022-03-17 11:51] nikic commented on #94390
I looked into this a bit, and I'm not sure this qualifies as a catastrophic inlining issue. The input IR for `"_ZN189_$LT$long_compile_time..big_struct.._..$LT$impl$u20$serde..de..Deserialize$u20$for$u20$long_compile_time..big_struct..BigStruct$GT$..deserialize..__Visitor$u20$as$u20$serde..de..Visitor$GT$9visit_map17h6f5c5ed07f452137E"` is already more than 50k lines to start with and "only" grows

[2022-03-17 12:07] exrook opened #95036 "`Box<T, &A>` and LTO: Explicit gep type does not match pointee type of pointer operand"
### Code
Only when building with `lto = thin` or `lto = fat` do I trigger this issue. Found while working on #77438.
Compile test that triggers the issue: https://github.com/exrook/rust/commit/b2652ba851833dfc95ecf5675cce280c2bcf2436

`lto_box_allocator/lib.rs`
[code]
`box_consumer/main.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`lto=thin`
[code]
`lto=fat`
[code]

[2022-03-17 12:11] exrook commented on #95036
@rustbot modify labels: +A-allocators +A-lto

[2022-03-17 12:17] InfRandomness commented on #94310
@rustbot claim

[2022-03-17 12:26] c410-f3r commented on #83527
A little pseudo illustration. Hope it helps

![meta](https://user-images.githubusercontent.com/17877264/158807799-87c89b1a-4fb4-46ed-8de7-3a6c823ceed8.png)

[2022-03-17 12:31] m-ou-se commented on #93740
I should note that it is also a very reasonable option to use this kind of implementation on *all* platforms, including those where futexes are available.

I have a preference for using the simpler futex-based locks on platforms where that is possible, but I believe @Amanieu has a slight preference for using the SRW/WordLock-style user-space queue based locks on all platforms.

We should consider

[2022-03-17 12:39] m-ou-se commented on #93740
For MacOS, I've heard some concerns about not using the system's locks directly. The standard locks interact well with the QoS system and handle things like priority inversion. If we implement our own locks on MacOS, we'll lose that part, which might be problematic.

We might be able to use `os_unfair_lock` rather than `pthread_mutex_t`, though.

We only support timeouts for waiting on condition v

[2022-03-17 12:42] bjorn3 commented on #93740
Another argument in favor of futexes is thaf futexes allow priority inheritance using variants of the wait and wake commands. They also allow the kernel to favor higher priority threads I think.

[2022-03-17 12:48] m-ou-se commented on #93740
@bjorn3 Yes. But the priority inheritance version of those operations also expect us to store the thread id in the AtomicI32, which is not something we'd need otherwise. Getting the thread ID means accessing a thread local on every `lock` operation (even when uncontended), which can be significant in some situations. Maybe it can be an optional feature, or a separate type.

[2022-03-17 12:50] s3rius opened #95037 "Rustc paniked at !value.has_escaping_bound_vars()"
This bug comes from library sqlx-core v0.5.11 as I understand.

### Meta

[code]

### Error output

Output is available here https://github.com/s3rius/rustus/runs/5582355532?check_suite_focus=true

I couldn't reproduce it locally so I posted here logs from my github actions job. I'll provide more info as soon as I find out how to reproduce it.

[2022-03-17 13:03] frank-king commented on #94981
@rustbot  claim

[2022-03-17 13:03] aliemjay commented on #95037
likely a duplicate of #94998

[2022-03-17 13:16] joboet commented on #93740
There is a very simple, `const` implementation of `ReentrantMutex` in [`lock_api`](https://github.com/Amanieu/parking_lot/blob/master/lock_api/src/remutex.rs) which just uses a regular mutex along with two extra `usize` for storing the thread id and a counter, so `std` can eliminate the dependence on the `pthread` locks entirely. Also, it might be nice to make that mutex public.

[2022-03-17 13:41] s3rius commented on #95037
@aliemjay, indeed. It looks similar.

I reproduced it locally. Here's my output: [error.log](https://github.com/rust-lang/rust/files/8286677/error.log)

[2022-03-17 13:41] s3rius commented on #95037
Feel free to close the issue if it's a duplicate.

[2022-03-17 15:40] spastorino commented on #94526
Would be great to reduce this into a simple example we can test.

@rustbot ping cleanup-crew

[2022-03-17 15:41] pierwill commented on #90108
@rustbot claim

[2022-03-17 16:19] Ten0 opened #95043 "Changing file on latest rustdoc has text slide for 1s"
# Reproduction

Load https://doc.rust-lang.org/stable/src/core/alloc/layout.rs.html#436
Open files panel on the left.
Refresh page.

You'll notice everytime you load the page, the file list slides again. So we now have to wait 1s for it to stop sliding before starting to read the file we clicked on.

# Note

Btw, I'd rather this never slides at all. This is time loss anyway. Could there be an opti

[2022-03-17 16:56] apocello2008 commented on #94998
Same error!

thread 'rustc' panicked at 'assertion failed: !value.has_escaping_bound_vars()', /rustc/461e8078010433ff7de2db2aaae8a3cfb0847215\compiler\rustc_middle\src\ty\sty.rs:1089:9

note: rustc 1.61.0-nightly (461e80780 2022-03-16) running on x86_64-pc-windows-msvc
note: compiler flags: --crate-type lib -C embed-bitcode=no -C debuginfo=2

[2022-03-17 17:06] apiraino commented on #47384
Issue was mentioned during T-compiler meeting [on Zulip](https://zulip-archive.rust-lang.org/stream/238009-t-compiler/meetings/topic/.5Bweekly.5D.202022-03-17.20.2354818.html#275660816)

@rustbot label -I-compiler-nominated

[2022-03-17 18:53] pnkfelix commented on #38788
Visiting as part of a T-compiler backlog bonanza prepass.

This at very least is in a "needs summary" state. But based on @RDambrosio016 's [comment from 10 days ago](https://github.com/rust-lang/rust/pull/94703#issuecomment-1061177678), there may even be design concerns? (At least depending on what scope of potential parameter types we want this ABI to cover at the outset.)

@rustbot label: S-tra

[2022-03-17 19:05] kjetilkjeka commented on #38788
@pnkfelix I'm currently working on fixing bugs in ptx-kernel in #94703 and would like to help out providing a summary. I have also discovered some design concerns that I can contribute to the summary.

Do you have a template or example of how it should look like?

[2022-03-17 19:22] Mark-Simulacrum commented on #42117
Closing, I don't think we've seen this in a while (at least based on the referenced issues above).

[2022-03-17 19:29] weiznich commented on #95028
This breaks diesel itself, so any crate which depends on diesel cannot work due to the broken dependency. Fortunately no released diesel version is affected. Only the master branch contains the relevant code, so it should only affect those users which depend directly on the master. Those users need to expect breaking changes from diesels side anyway. That means from my point of view as diesel main

[2022-03-17 19:32] compiler-errors commented on #95028
@weiznich: sorry, when I meant "break downstream", I meant that I wonder if this PR (and the resulting changes to diesel) then require downstream crates to similarly need to add additional `+ 'static` bounds, as opposed to just needing to fix up diesel itself at the library-level.

[2022-03-17 19:42] weiznich commented on #95028
That likely depends a bit on the actual way the specific trait is used by downstream users. For non generic use cases it shouldn't be required to change anything. For the generic use case the additional bound is likely required. I expect that most users only use a version of that impl  that uses a concrete type in place of the generic parameter, as the fully generic version is really hard to use.

[2022-03-17 20:25] maccesch opened #95053 "Trying to compile rocket_sync_db_pools with nightly"
### Code

No special code. Error while compiling dependencies.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-03-17 20:31] qarmin opened #95054 "i686 gnu windows build crashes with `memory allocation` error"
When compiling with `rust-1.59.0-i686-pc-windows-gnu`(https://static.rust-lang.org/dist/rust-1.59.0-i686-pc-windows-gnu.msi) this project - [WinProject.zip](https://github.com/rust-lang/rust/files/8291525/WinProject.zip) I have crash
[code]

compilation with 64 bit windows rust binaries works just fine.

It takes 4GB from 8GB, so still 2GB of memory is free when crash happens.

Problem also I can

[2022-03-17 20:35] aliemjay commented on #95053
probably a duplicate of #94998

[2022-03-17 20:37] arlosi commented on #93624
CodeLLDB has released an updated version (1.7.0) that fixes the issue. This can be closed.

[2022-03-17 21:10] spaarmann opened #95055 "Confusing error from an incorrect `return;` in `async` block"
This code compiles without errors:
[code]
Adding a `return;` in the middle of the `async` block makes this code wrong
[code]
and `rustc` correctly produces an error. [Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8efbb96b159cc8c48359d0457d9ffcce)
However, the error is very confusing:

[code]
It simultaneously complains in the first error that the `?` is

[2022-03-17 21:13] spaarmann commented on #95055
The playground link also contains a version of this using `tokio::main` instead of an `async` block within an `async fn`. This hides the real issue a bit more, but on top, it also makes the suggestion at the end extra confusing:
[code]
"Try `Ok(()); Ok(())` instead of `Ok(())`" is not great. I suspect this is related more to the spans set by `tokio::main` than what the compiler does, but I figured

[2022-03-17 21:39] Ten0 commented on #95043
Yes absolutely

[2022-03-17 22:08] LeSeulArtichaut commented on #69098
Tried to help by opening rust-lang/reference#1181, feedback from people who actually know what they are doing would be greatly appreciated.

While writing the PR, I noticed that https://github.com/rust-lang/rust/issues/72012 is a breaking change for wasm targets, where `target_features` could be used on safe functions. It looks like you can still safely call `target_feature` functions though:
[cod

[2022-03-17 22:42] alex-coinfund opened #95057 "Using wrong toolchain when compiling with wasm32-unknown-emscripten on MacOS Big Sur"
I am working on project that uses openssl and compiles to wasm (wasm32-unknown-emscripten toolchain). It builds on Linux just fine, but when I try building it on my MacOS Big Sur, I get the following error (removing some irrelevant information from the output):

[code]

Obviously, it is incorrectly using Apple's native libraries and tools where it should be using those provided by emscripten. My w

[2022-03-17 23:18] jblazquez opened #95059 "DWARF debug info generated for C-style enums breaks assumptions of C/C++ tooling"
The Rust compiler generates DWARF debug information for enums in several different ways. For [certain types of enums](https://github.com/rust-lang/rust/blob/9580a7115d2d75514f0b329a29fafaa3796bd950/compiler/rustc_codegen_ssa/src/debuginfo/mod.rs#L13) the compiler generates debug information that resembles that of a plain C/C++ `enum` by using [`DW_TAG_enumeration_type`](https://github.com/rust-lan

[2022-03-17 23:38] CAD97 commented on #94745
@Mark-Simulacrum @dtolnay

To clarify, what @Mark-Simulacrum shows is _not_ a statement; its' the entire body of the function, including tail return. You can use this to put an attribute on the body of any block:

[[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=181cde60aa3647021f28a2527f729081)

[code]

[[playground]](https://play.rust-lang.org/?version=stabl

[2022-03-17 23:44] dtolnay commented on #94745
All of what you showed are attributes on statements (`StmtKind::Expr` specifically). Attributes on expressions, where the expression is not a statement, are not supported on stable yet and would require #15701.

[2022-03-18 00:05] dtolnay commented on #94745
The reason `#[must_use]` on statements isn't suitable for the use case described in the docs of https://doc.rust-lang.org/nightly/core/hint/fn.must_use.html, which is an expression macro, is because you'd either need to write:

[code]

in which case a call site `let _ = make_error!(...);` becomes illegal (because attributes are not allowed on expressions); or you'd need to write:

[code]

in which

[2022-03-18 00:11] cherryleafroad commented on #94913
After looking at the source code in question, it has become clear what the problem is.
[code]
If `ident` is not a valid Ident, it'll panic.

[2022-03-18 00:35] #94998 closed

[2022-03-18 00:44] tromey commented on #94458
FYI, just `gdb --version` works, the styling is disabled when output is not going to a tty.

[2022-03-18 00:50] tromey commented on #85267
We're working up to the gdb 12 release now.  Given that this isn't a bug in rust, and because gdb 11 fixes the problem, I'm going to close this bug.

[2022-03-18 00:50] #85267 closed

[2022-03-18 00:56] tromey commented on #85641
gdb already has some limited support for `DW_AT_calling_convention`.  This could be extended, but Rust would have to emit it.

[2022-03-18 01:00] Dentosal opened #95060 "ICE: Compiling minimal Bevy snippet on nightly: assertion failed: !value.has_escaping_bound_vars()"
### Code

#### `Cargo.toml`

[code]
#### `src/main.rs`

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-03-18 01:08] Sytten commented on #95028
Perfect! It's all fixed now so I will close.
Thanks for the input :)

[2022-03-18 01:08] #95028 closed

[2022-03-18 01:49] workingjubilee commented on #92193
Still deeply deoptimized today.

[2022-03-18 02:12] Ericson2314 commented on #35121
The size of `!` is best thought of as negative infinity or `None`, with the size being `Option<usize>`

[2022-03-18 02:13] RagibHasin commented on #93624
Yes. Thanks, everyone, for keeping Rust running smoothly.

[2022-03-18 02:13] #93624 closed

[2022-03-18 03:01] tromey commented on #74884
In my build, line 10 is:
[code]
... which seems pretty innocuous to me.  And, the test shouldn't depend on endianness at all.  So I don't think it is OK to ignore this.  There's some bug here, though I can't say exactly where.

[2022-03-18 03:01] #90880 closed

[2022-03-18 03:01] #91020 closed

[2022-03-18 03:01] #94961 closed

[2022-03-18 03:07] tromey commented on #72719
src/tools/compiletest/src/main.rs says:

[2022-03-18 03:09] tromey commented on #72719
src/tools/compiletest/src/main.rs says:
[code]
This dates back to 2014 (and maybe before but I didn't dig any deeper):
[code]
Maybe such old versions of lldb aren't relevant any more.

[2022-03-18 03:11] tromey commented on #72719
Removing that line sure seems to help.  The question then is whether it can be removed.  @michaelwoerister - you added that, do you recall?

I don't know anything about skipping already-passed tests.

[2022-03-18 03:25] tromey commented on #58492
This is a dup of #79530, or vice versa.

[2022-03-18 03:28] compiler-errors commented on #95060
This will be fixed on the next nightly, cc #95020

[2022-03-18 03:29] compiler-errors commented on #94999
I'm putting up a PR soon to fix a whole bunch of impossible-bounds related things. So I'll claim this for the time being.

@rustbot claim

[2022-03-18 03:30] tromey commented on #54178
This file no longer exists, and GDB 8.2 is rather old, so I am going to close this bug as it is obsolete.

[2022-03-18 03:30] #54178 closed

[2022-03-18 03:31] compiler-errors commented on #94983
+1, was affected by the "empty search path" bug when trying to build stage1 from a clean centos8. Was overwhelmingly unclear that I needed to install `libstdc++-static` to fix.

[2022-03-18 03:39] jackh726 commented on #95060
Closing as duplicate of #94998

[2022-03-18 03:39] #95060 closed

[2022-03-18 03:51] tromey commented on #43334
Things have changed a bit, probably due to #92718:
[code]
And, `data_ptr` does point to the right thing:
[code]
There's still some weirdness in here though, like:
[code]

[2022-03-18 03:52] pthariensflame opened #95064 "Regression in target cfg for aarch64-apple-darwin: supposed support for actually missing architecture features"
I tried this shell invocation:

[code]

I expected to see this happen: `rustc` reports the target cfgs that one would expect from "generic" `aarch64-apple-darwin`, notably *not* including SVE or anything depending on it.

Instead, this happened:
[code]

### Meta

`rustc +nightly --version --verbose`:
[code]

This is a regression from previous versions of `rustc`, which (almost) accurately reflecte

[2022-03-18 04:17] wweiandrew commented on #51346
Fix in https://github.com/llvm/llvm-project/commit/0af3e6a22da2eda5021b5fad656d0b9db7702e0a

[2022-03-18 04:37] Jerrody opened #95066 "Close issue #94978 due to adding `#[deprecated_safe]` #94982."
Issue:
https://github.com/rust-lang/rust/issues/94978

PR:
https://github.com/rust-lang/rust/pull/94982

[2022-03-18 06:36] JmPotato commented on #74189
@ecstatic-morse Hi, I think we can close this issue now since it has been fixed.

[2022-03-18 07:26] scottmcm commented on #70142
Note that it's even simpler than that, thanks to  #70941 :

[code]

(Coincidentally exactly the same number of characters as `r.flatten()`.)

[2022-03-18 07:44] #74189 closed

[2022-03-18 08:34] nikic commented on #85133
Upstream fix is https://github.com/llvm/llvm-project/commit/4010a7a5d0ea21374f3dcab85aa26a9804e1c35d.

[2022-03-18 08:48] nikic commented on #41839
LLVM does generally perform this optimization (MergeICmps), the problem here is specifically the bool types involved. We're *not* comparing the bytes, but rather doing something like `(a != 0) == (b != 0)`.

[2022-03-18 08:55] tema3210 commented on #35121
Yeah, but in the result we'd still be considering it as zst, for sanity. In sum types, it should make an entire variant holding it to be zst, in case of product type - entire type to be zst. This is because of never making types unihabited and should change their layout.

Implicit conversion, while looking nice, introduce number of problems, as they in fact work as a `transmute` and thus we should

[2022-03-18 09:17] michaelwoerister commented on #72719
As far as I remember, back in 2014 LLDB tests failed reliably when run in parallel. That was the only reason why we made them run one at a time. If that's not a problem anymore, we should run them in parallel, yes.

For GDB and CDB tests are already running in parallel, right?

[2022-03-18 09:18] #95066 closed

[2022-03-18 09:30] michaelwoerister commented on #95059
Yes, I think that fact that we treat methods in inherent impls as if they were methods in an object oriented language is problematic in general. At a first glance it makes sense, but
- it is unexpected for downstream tooling that C-style enums, primitive types, and pointers can have methods (as you report here), and
- it does not trivially scale to methods in trait impls.

I personally think there

[2022-03-18 09:47] GuillaumeGomez commented on #95043
I think the idea behind the animation is to allow the reader to see that it's not hovering the code. As for the setting, not sure.

What do you think @jsha?

[2022-03-18 10:34] Bodobolero opened #95070 "ICE when compiling rocket = { version = "0.5.0-rc.1", features = ["tls"] } on Mac with nightly"
Minimal example:

History:
 1040  cargo new Repro_ICE
 1041  cd Repro_ICE
 1042  rustup override set nightly
 1043  code .   # edit cargo.toml and add
[code]
 1044  cargo run

### Code

No code modifications needed, hello world can be used to repro

### Meta
rustup run nightly rustc --version
rustc 1.61.0-nightly (58f11791a 2022-03-17)

note: rustc 1.61.0-nightly (58f11791a 2022-03-17) running on

[2022-03-18 11:45] yoshuawuyts commented on #70142
@scottmcm I believe `flatten` is useful even if we have `try {}` blocks because it can be chained. Much like why having a `Future::map` call is useful, even now that we have `async {}` blocks. That way someone can write:

__with `Result::flatten`__
[code]

__without `Result::flatten`__
[code]

Imo both approaches compliment each other, and which is the better choice will depend on the situation.

[2022-03-18 12:53] skippy10110 commented on #95066
#94982 just added the feature flag, the attribute was also added but does literally nothing and was only added to implement the feature flag test

[2022-03-18 13:00] RalfJung commented on #35121
No, that would be unsound since Rust allows partially initializing a struct.
[code]

[2022-03-18 13:10] RalfJung commented on #94781
Cc @jyn514

`x.py dist` can be odd, not sure to what extent this is expected behavior.

[2022-03-18 13:14] tromey commented on #72719
I believe so.

[2022-03-18 13:17] Ericson2314 commented on #35121
@RalfJung mmm I think that sort of partial initialization is a bad reason to not change the layout. What you are saying completely breaks `Result<A, !>` looking like `A` and many other usual optimizations.

The inhabittedness of Void is totally decidable (unlike UB can't-happen type things) so I would just make
[code]
an error.

Generic code is annoying, but we could say
[code]
is only valid if `A

[2022-03-18 13:23] bjorn3 commented on #35121
`Result<A, !>` has a single fully initializable variant and a single fully not initializable variant. `(!, i32)` has a single partially initializable variant. For a fully not initializable variant adjusting the layout to account for this is fine even if you allow partial initialization. Only for parially initializable variants adjusting the layout needs to preserve all initializable fields if you

[2022-03-18 13:40] LostModern opened #95073 "Error with node setup"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-18 13:47] #95073 closed

[2022-03-18 13:48] zeramorphic commented on #95070
I have a similar issue with `tracing-subscriber v0.3.9` that's probably related. I don't currently have the time to produce a MCVE right now unfortunately, but we get the same failed assertion, and a similar failed query to check sizedness of a trait object (in this case, [is_sized_raw] computing whether `dyn std::io::Write` is `Sized`).

<details><summary><strong>Backtrace</strong></summary>
[cod

[2022-03-18 14:07] jyn514 commented on #94781
I haven't worked much on x.py dist or install. Your best bet is to ask on zulip.

[2022-03-18 14:09] yoshuawuyts commented on #67644
Now that Rust 1.59 with the `IntoFuture` desugaring changes is live, I think we're getting close to being able to stabilize the trait too. In order to assess how it would affect a real-world codebase I've run an assessment by converting 31 APIs in the Azure SDK to rely on `IntoFuture` desugaring: https://github.com/Azure/azure-sdk-for-rust/pull/687.

**tldr:** All but one API could be converted to

[2022-03-18 14:13] pnkfelix commented on #38789
Visited for T-compiler backlog bonanza. It seems like there are some unresolved questions about scope and design, with respect to the concerns that were raised on this thread between @hanna-kruppe and @gnzlbg . (Basically, its not clear to me whether the work remaining here is "just" more implementation and fixing bugs, or if there's some design stuff that needs to be revisited.)

@rustbot label:

[2022-03-18 14:19] pnkfelix commented on #38913
Visiting during T-compiler backlog bonanza meeting. We decided that this is at best S-tracking-unimplemented, but it also just represents an experimental idea that was being floated around, not something that anyone committed to.

Thus, it doesn't deserve a tracking issue: It deserves a separate MCP at this point.

Closing.

[2022-03-18 14:19] #38913 closed

[2022-03-18 14:23] pnkfelix commented on #39216
Visiting for T-compiler backlog bonanza.

Blocking bug: #51125

@rustbot label: +S-tracking-impl-incomplete

[2022-03-18 14:28] pnkfelix commented on #39699
visiting for T-compiler backlog bonanza.

@rustbot label: +S-tracking-needs-summary

(We cannot tell what the current status of this thing is. Its clear from comments like the one immediately above that there are people interested in this and are using it.)

[2022-03-18 14:32] bjorn3 opened #95075 "ui/unsafe/union.rs test has UB"
https://github.com/rust-lang/rust/blob/691d1c1e12602c57237e9ccddac406ebd0c54082/src/test/ui/unsafe/union.rs

Running it in miri gives the following error:

[code]

I found this issue because cg_clif aborts matching on an invalid discriminant.

cc @Smittyvb as you introduced this test.

[2022-03-18 14:34] #39954 closed

[2022-03-18 14:39] #40460 closed

[2022-03-18 14:51] pnkfelix commented on #42202
Discussed at T-compiler backlog bonanza.

We're thrilled to see such interest and even a full stabilization report.

We are concerned about the issues raised about the current error behavior from using the "thiscall" ABI on non i686 targets.

We are specifically interested in the answer to the question raised by @x87: Why is "thiscall" a hard error while other cases (fastcall et al) are just warni

[2022-03-18 14:51] SamJBarney opened #95076 "E0726 is not documented on https://doc.rust-lang.org/error-index.html"
Ran into this error for the first time while fooling around with lifetimes. Went to the error index to check it out, but it isn't there.

[2022-03-18 14:54] TaKO8Ki commented on #95070
probably a duplicate of https://github.com/rust-lang/rust/issues/94998

[2022-03-18 14:56] TaKO8Ki commented on #95070
This will be fixed on the next nightly, cc https://github.com/rust-lang/rust/pull/95020

[2022-03-18 14:59] Urgau commented on #95076
`E0726` is available in the nightly output: https://doc.rust-lang.org/nightly/error-index.html#E0726
This most certainly means that the error code has only been added/documented in the current nightly and not yet in beta and stable. It will be automatically added when it reached the beta and stable channel.

[2022-03-18 15:04] pnkfelix commented on #42326
Visiting as part of T-compiler backlog bonanza.

This lint appears implemented, perhaps via a `span_warn`. I do not yet know if the warning it reports is included as part of a `cargo report future-incompat`; I can look into that later.

The current diagnostic output indicates that it is probably *not* using the usual lint infrastructure (that would enable using `allow`/`deny` etc).

Next steps are

[2022-03-18 15:10] Yorn-Yang opened #95077 "Rust Rocket Panic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-18 15:12] oli-obk commented on #94795
Yea, from the current impl I would totally expect this behaviour. I figure it's kind of needed as I'm not sure LLVM will inline across crates without such reinstantations.

To summarize the zulip discussion:

* in lto=fat mode we don't suffer perf if we stop instantiating to codegen at use sites and instead just have one instance at the definition site.
* SIMD actually wants the delayed behaviour

[2022-03-18 15:13] jblazquez commented on #95059
Hi Michael,

Thanks for the quick reply.

The problem that this is causing for us is that the tool can’t load symbols for our binaries at all, which prevents us from debugging it. Unfortunately the tool is proprietary and we won’t be able to get the vendor to address this, so we need to address it on our end. Right now we’re patching the compiler so it never generates DWARF enumeration type DIEs.

[2022-03-18 15:23] pnkfelix commented on #54818
(discussion with some other team members made me realize that there's no reason for this issue to remain open, even *if* I still want to keep the number around for ease of hyperlinking from e.g. zulip. People can still visit closed issues, edit them, etc)

[2022-03-18 15:23] #54818 closed

[2022-03-18 15:24] tromey commented on #95059
It seems to me that if the bug is in a proprietary tool designed for C, then there's no guarantee that any other construct will be acceptable, either.  One solution here is to have some sort of compatibility flag to emit a subset of DWARF.  Other compilers do this; for example gcc has `-gstrict-dwarf`, which causes it to try to stick to the text of the standard and not emit any extensions at all.

[2022-03-18 15:46] lcnr opened #95079 "unhelpful error when missing `move` in nested closure"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1cb8bf9552639abd2a8178105cd3f001

[code]

The current output is:

[code]
The actually needed fix here is the following, which should ideally be recommended
[code]

[2022-03-18 15:48] petrochenkov commented on #42202
Because it's unstable, and other cases are stable and could not be made hard errors due to backward compatibility.

[2022-03-18 15:50] lcnr commented on #95079
slightly more minimal:
[code]

[2022-03-18 15:55] petrochenkov commented on #42202
There are two ways to see `thiscall`:
- A concrete ABI that only makes sense on i686 and is used for C++-style method calls (similar to `extern "stdcall"`).
- A generic ABI for C++-style method calls that is equivalent to `extern "C"` everywhere except for i868 (similar to `extern "system"`). This is a pure backward-compatible extension to the first alternative.

Right now the first alternative is

[2022-03-18 16:14] catenacyber opened #95080 "Watch out for modules privacy when proposing traits to associate with an item"
Working on suricata https://github.com/OISF/suricata/pull/7150

The current output is:

error[E0599]: no associated item named `MAX` found for type parameter `T` in the current scope
   --> src/detect.rs:109:18
    |
109 |         x < <T>::MAX
    |                  ^^^ associated item not found in `T`
    |
    = help: items from traits can only be used if the type parameter is bounded by the tra

[2022-03-18 16:15] dvc94ch commented on #54725
This sounds good to me. Looks like the reason https://github.com/rust-lang/rust/pull/84331/files was rejected was introducing a new feature flag. I believe if instead those api's had just been made stable, it might have been fine.

[2022-03-18 16:21] jsha commented on #95043
I agree with @Ten0, we should remove the animation. It bothers me as well, I just haven't found the time to file an issue / PR about it. :-) I don't think we should add a setting.

[2022-03-18 16:32] danielhenrymantilla opened #95081 "`$crate` is not a valid new identifier for `::proc_macro::Ident::new()`"
I tried this code:

[code]

#### I expected to see this happen

That it generate a `Ident { sym: "$crate", span: Span::mixed_site() }` correctly, since that's something that a proc-macro can already do once they receive a `$crate` identifier from a `macro_rules!` caller (where they can edit the span to get their own `mixed_site()` span).

#### Instead, this happened

The constructor panics:

[code

[2022-03-18 16:45] jackh726 commented on #44687
I'm going to go ahead and assign this to @rust-lang/infra, but it might make more sense under T-rustdoc?

[2022-03-18 16:45] GuillaumeGomez commented on #95043
Ok, I'll remove the animation then. Will send a PR tomorrow. For the setting, it's that we current save the state of the sidebar. Should I remove it as well?

[2022-03-18 16:46] GuillaumeGomez commented on #44687
It's both so it's a good idea to include them as well.

[2022-03-18 16:51] Ten0 commented on #95043
My idea of new setting was rather "should there be an animation or should it be static" (so no need for a new setting if we remove the animation altogether)

It seems reasonable to me to always keep the current state of the sidebar, as we currently do :)

[2022-03-18 16:53] Ericson2314 commented on #35121
@bjorn3 I see what you are saying, but I am not sure it is worth it. Today we have:
[code]
and the idea that `x` just can't exist here, hence the dead code, just feels simpler to me. Trying to incorporate partial assignments (outside of something like `MaybeUninit`) into our notion of layouts and inhabittedness to me just feels like it is screwing up the logical properties of the language for no g

[2022-03-18 16:55] GuillaumeGomez commented on #95043
Oh ok. Well, that cleared things up. I'll just remove the animation then.

[2022-03-18 17:10] jackh726 commented on #44752
Okay, I've created the `F-lint-single_use_lifetiems` label and tagged the 6 relevant issues open for this.

The examples in the "current status" section at the top all warn and have a suggestion, except for the unused lifetime, which falls under the `unused_lifetime` lint.

Marking S-tracking-impl-complete, given that there are several linked issues that need to be fixed.

[2022-03-18 17:20] jackh726 commented on #48416
I'm going to go ahead and close this. wg-traits has it's own repo `rust-lang/wg-traits` where we can track things as needed.

[2022-03-18 17:20] #48416 closed

[2022-03-18 18:10] jackh726 commented on #95070
Closing as duplicate

[2022-03-18 18:10] #95070 closed

[2022-03-18 18:18] RalfJung commented on #35121
It doesn't as Bjorn said; in fact that is [already implemented](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cf445bc2a40cefd882a0e35e6eb0b945).

It certainly makes things more complicated, yeah.

But you are right that things changed since https://github.com/rust-lang/rust/issues/49298 (that's the soundness issue I could not find earlier). Even on old editions the examp

[2022-03-18 18:24] RalfJung commented on #93032
As @Ericson2314 pointed out, the example that made this unsound does not compile any more. NLL does not accept thus code so when NLL became mandatory on all editions, this stopped working. That decision was made [here](https://github.com/rust-lang/rust/issues/21232#issuecomment-427152371); there is an open issue at https://github.com/rust-lang/rust/issues/54987 to re-accept such code.

I will henc

[2022-03-18 18:30] RalfJung commented on #93032
Also see the discussion starting at https://github.com/rust-lang/rust/issues/54987#issuecomment-519131256 for other potential soundness concerns with making `(!, T)` have size 0. In particular, code like this still works:
[code]
and it needs to store the string somewhere (and drop it).

[2022-03-18 18:30] RalfJung commented on #35121
I suggest we continue the discussion of this particular layout optimization at https://github.com/rust-lang/rust/issues/93032; it does not really affect the stabilization decisions around `!` I think.

[2022-03-18 18:36] nvzqz commented on #80970
@oli-obk custom targets like that would specify `"abi": "eabihf"` to match the underlying LLVM target's ABI. Otherwise `#[cfg(target_abi = "eabihf")]` should not match the custom target.

With #86922 merged, I think this is ready to stabilize.

[2022-03-18 18:38] ouz-a commented on #95023
@rustbot claim

[2022-03-18 18:50] compiler-errors commented on #95034
@rustbot claim

[2022-03-18 18:54] taralx commented on #93032
What is the challenge in making -∞ the size of uninhabited types? It makes the math work:

`size_of::<!>()` = -∞
`size_of::<Option<!>>()` = [LSE](https://en.wikipedia.org/wiki/LogSumExp)(-∞, 0) = 0
`size_of::<(u32, !)>()` = 4 + -∞ = -∞
`size_of::<Option<(u32,!)>>()` = LSE(4 + -∞, 0) = 0

[2022-03-18 18:57] rdornin commented on #92173
I just want to report that issue is currently blocking me in development. If there are any work around for the macos darwin tool chain and clippy errors... would love to hear about it.

[2022-03-18 18:58] rdornin commented on #92185
I just want to report that issue is currently blocking me in development. If there are any work around for the macos darwin tool chain and clippy errors... would love to hear about it.

[2022-03-18 19:01] RalfJung commented on #93032
`-∞` is not a number :)

And anyway computing the layout of a type involves a lot more than computing its size, so it's not like somehow changing the size of `!` would magically make anything easier. The trouble isn't having layout computation make `(!, i32)` a ZST -- that in fact was already implemented at some point in the past, but got reverted due to soundness issues (and that was referenced a

[2022-03-18 19:02] nagisa commented on #42202
This is not true for `vectorcall`. I also believe Microsoft engineers made a mistake by implementing this behaviour in the first place, and I think it was mistake for us to adopt this same behaviour in https://github.com/rust-lang/rust/pull/54576. I would rather we don't make the same mistake for `thiscall`, given that our hand is not being yet forced by the stability promise here.

[2022-03-18 19:12] tmandry opened #95086 "std docs list all NEON intrinsics as unstable"
std docs are assumed to be the source of truth but claim that all neon intrinsics (including the recently stabilized ones on arm64) are still unstable, which is very confusing*.

From https://github.com/rust-lang/rust/issues/90972#issuecomment-1050801478 and https://github.com/rust-lang/rust/issues/90972#issuecomment-1050808733:

![Screen Shot 2022-03-18 at 12 09 09 PM](https://user-images.githubu

[2022-03-18 19:20] 7596ff commented on #92173
I've been tracking this issue. My fix was to downgrade to my project's MSRV, 1.57. But after the latest "Command Line Tools for Xcode" update (13.3), I found that I could run clippy again on both `stable-x86_64-apple-darwin` and `stable-aarch64-apple-darwin`. I haven't found anything in the [changelog](https://developer.apple.com/documentation/xcode-release-notes/xcode-13_3-release-notes) that is

[2022-03-18 19:25] nikomatsakis commented on #42326
@pnkfelix is this "needs to bake"? It feels like we are ready to take next steps here (running on crater).

[2022-03-18 19:30] ehuss commented on #95086
This is tracked on the stdarch side as https://github.com/rust-lang/stdarch/issues/1268, which has some more detail on the situation.

[2022-03-18 19:36] Ericson2314 commented on #93032
`-∞` is I still think morally on the right track, namely we should *not* conflate the layout of `!` and `()`. Calling them both "ZSTs" just adds more special cases later. What we have is something like
[code]
and thus a `Some({ size: 0, align: 0 })` vs `None` distinction.

[2022-03-18 19:36] foresterre opened #95087 "ICE: has_escaping_bound_vars in tracing-subscriber"
I didn't have time yet to find a minimal code sample. I originally encountered the ICE in a github actions [build](https://github.com/foresterre/cargo-msrv/runs/5605593300?check_suite_focus=true).

NB: `cargo check` passes, while `cargo build` does not. The beta and stable Rust releases also are able to build.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[cod

[2022-03-18 19:38] foresterre commented on #95087
Hmm, I didn't see https://github.com/rust-lang/rust/issues/95023 before. This may be the same thing.

[2022-03-18 19:39] nikomatsakis commented on #57017
So excited this is closed! Nice work @eholk

[2022-03-18 19:40] tmandry commented on #48556
The [unstable book](https://doc.rust-lang.org/beta/unstable-book/library-features/stdsimd.html) still links to this issue, which is now closed, but the `stdsimd` feature continues to exist as a catch-all for platform-specific intrinsics that are not stabilized.

Are there any issues tracking unstabilized features on supported platforms (e.g. `aes` on arm)?

[2022-03-18 19:40] jyn514 opened #95089 "Suggest that `Pin<Box<dyn Unpin + Future>>` is redundant"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=232bc66719a632fbcb8f5d400a58f74e

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

`Pin<Box<T>>` is always `Unpin` and therefore there's no need to require `T: Unpin`.
Also note the "[async output]" message in the first block; that looks like an outright bug.

[2022-03-18 19:44] nikomatsakis commented on #83518
One thing I considered: multiple lints for different size thresholds? Probably not so nice.

[2022-03-18 19:50] nikomatsakis commented on #68318
I think we should just rule out `!Drop` -- drop is a very special trait.

[2022-03-18 19:54] RalfJung commented on #93032
Yeah, and they have different `Layout` in Rust. That doesn't need to be reflected in size and alignment though.

[2022-03-18 20:04] RalfJung commented on #93032
I am suspicious of any calculus that ends up not being able to treat uninhabited types properly. `let x: T;` should work in generic code for any `T`, ergo it should work for `!` as well. If that is a problem for some formal calculus, IMO that shows a flaw in the calculus.

[2022-03-18 20:20] Ericson2314 commented on #93032
The key word there is "properly". The point of the literature of the sort I linked is not to just ban all the scary stuff, but introduce a little bureaucracy once to get back nice things, like eta rules, de Morgan's laws, etc. etc. I am not proposing that `!` locations just be abandoned, just that they must always be initialized. That makes allows us to avoid worrying about what they look like sin

[2022-03-18 20:29] Ericson2314 commented on #93032
If it sounds any better, I don't think there is problem with `let x: (!, usize);` *per se*. The problem is trying to project back out the location of the `usize`. `x.0` is fine because whatever, we don't actually "write" `!` anywhere that's a good fiction. Hell, `x as !` is fine with me too. `x.1` however is no good, because the `!` has annihilated the whole product.

[2022-03-18 20:30] tromey commented on #72719
I think this already happens, since I see this `i` output:
[code]

[2022-03-18 20:37] scottmcm commented on #83518
Multiple lints could be nice for having a couple of different thresholds, with correspondingly-different default lint levels.

As a strawman, thinking only about x64,

- `huge_assignments`, deny-by-default, for (64 KiB, ∞)
- `large_assignments`, warn-by-default, for (2 KiB, 64 KiB]
- `medium_assignments`, allow-by-default, for (64 B, 2 KiB]

But absolutely my biggest uncertainty is how to specify

[2022-03-18 20:39] tmiasko commented on #72719
I think I fixed this back in #68391 (the spurious hash mismatch mentioned in the pull request description).

[2022-03-18 20:46] RalfJung commented on #93032
I have not disagreed with that. But I think nothing is wrong with
[code]
and we should keep it working. This is not in contradiction with layout optimizations for `(!, String)`. You said it is in contradiction to your favorite calculus, and that's IMO a point against that calculus -- and your reply doesn't even respond to this argument.

IOW, partial initialization seems like such a niche feature

[2022-03-18 20:46] ralpha commented on #93106
Also got this issue, most likely related to incremental builds. Because I got this after making very small changes (removing a `&` after a compile error, E0308) (using `cargo build`). `cargo clean` fixed the issue for me.

Some more details for when someone want to fix this at some point.
Error message (removed some less useful messages):
[code]

Backtrace:
[code]

rustc 1.58.1 (db9d1b20b 2022-01-

[2022-03-18 20:54] Ericson2314 commented on #93032
It was funny to me, but
[code]
I don't have a problem with. If `MaybeUninit<AnyUninhabittedThing>` is a `()`-like `ZST` that is fine and by analogy the above is fine too.

With the recasting I wrote in the prior comment, it is just trying to project the "annihilated" locations (when they aren't also ZSTs) from the (uninitialized) location that is the issue.

`x = panic!();` is not projecting such

[2022-03-18 21:05] Ericson2314 commented on #93032
Yes, that is worrisome. One option is

1. Make a `?Inhabitted` default bounded (and new such trait), to be used if we
2. Make some syntax for declaring whether empty enums are formally uninhabited
3. Some future edition, change the default
4. Either `Infallible` is different than the new stable `!` (*sobs*), or one carefully flips its definition to work the new way, and some code might stop compil

[2022-03-18 21:14] dtolnay commented on #93857
This may or may not need a Fuchsia implementation. See https://github.com/rust-lang/rust/pull/93858#issuecomment-1036620106.

@rustbot ping fuchsia

[2022-03-18 21:18] tmiasko commented on #83518
My general experience from testing the lint with limit starting from around a few kilobytes, is that it is very likely to lint about copies of large structs. This is actionable, because one can wrap the struct in a box or an arc, but leads to a situation where the initialization of a box or an arc will still be linted about, which is unfortunately generally unactionable currently

[2022-03-18 22:09] Mark-Simulacrum commented on #94511
No type for local variable let -- these look like they could have been caused by the fix perhaps, or at least are a new issue (we can close this and reopen a new issue if so):

* https://crater-reports.s3.amazonaws.com/beta-1.60-2/beta-2022-03-15/gh/comnik.declarative-dataflow/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.60-2/beta-2022-03-15/gh/czipperz.cinterp/log.txt
* https://crater

[2022-03-18 22:16] compiler-errors commented on #94511
I believe these are fixed in #94636, which was an unrelated bug that may have regressed due to #93118 (or other PRs that were reworking the same method param logic in January).

@Mark-Simulacrum: Want me to do a bisection to find the blame, or to prove that #94636 was in fact the fix? Seems like all of those crates are very broken for other reasons, so not sure if we want to beta-backport the fix

[2022-03-18 22:25] Mark-Simulacrum commented on #94511
These are just the ones crater picked up, but if there's a simple enough fix that we could backport it seems like we should do so. https://github.com/rust-lang/rust/pull/94636 doesn't look too bad.

I'm not sure a bisection is the right step -- I'd probably suggest building beta + #94636 backported and see if that's still ICEing on these crates, and if not, we just backport #94636. (If it is, then

[2022-03-18 22:33] ChrisDenton commented on #42202
In practice, is there any time when developers would not want this fallback behaviour? IIRC, pretty much the reason for using these ABIs is for interop with C/C++ APIs.

[2022-03-18 22:39] compiler-errors commented on #94511
Cool, alright, I will just try cherry-picking #94636 then.

[2022-03-18 22:46] CAD97 opened #95091 "Tracking Issue for const Weak::new"
Feature gate: `#![feature(const_weak_new)]`

This is a tracking issue for `const`ification for creation of dangling weak reference counted pointers.

### Public API

[code]

### Steps / History

- [X] Implementation: #94991
- [ ] Final comment period (FCP)
- [ ] Stabilization PR: #95965

### Unresolved Questions

- None yet.

[2022-03-18 22:54] nagisa commented on #42202
I have used specific calling conventions (though not `thiscall` in particular) to call into hand written assembly code because they made dealing with calling conventions easier. The fact that these can become something else than what's specified in the code was and remains a major footgun in that codebase (which is somewhat mitigated by the symbol mangling some of these calling conventions imply,

[2022-03-18 22:57] cjgillot opened #95092 "Make `traits_in_crate` and `impls_in_crate` proper queries and use them"
We currently compute a list of all traits and all impls in a crate for metadata.
`traits_in_crate` is a query, and sorts all definitions by `DefPathHash`.
`impls_in_crate` is not a query, and sorts definitions by `DefPathHash`.

This PR suggests to:
- [ ] shift the sorting of `traits_in_crate` from the query to metadata encoding;
- [ ] use `traits_in_crate` for all analyses that iterate on traits;

[2022-03-18 22:58] lukesneeringer commented on #43244
For what it's worth, I was searching using the word `extract` before eventually finding this.

[2022-03-18 23:04] jackh726 commented on #94998
Pinning this at least for a day or so, since the nightly with the fix hasn't even been released.

[2022-03-18 23:04] jackh726 commented on #95087
This is #94998. Fix should be in tonight's nightly.

[2022-03-18 23:04] #95087 closed

[2022-03-18 23:10] tmandry commented on #58590
Another difference from https://github.com/rust-lang/rust/pull/93858#issuecomment-1036620106:

[2022-03-18 23:18] compiler-errors commented on #94511
Ah, so #94596 was backported incorrectly I think. An if-statement was left in causing ICEs.

I put up a PR with the change in #95093, though I think it may need to get backport-nominated? idk how backports work, lol.

[2022-03-18 23:36] nagisa commented on #44839
Both of these are true today, except for the first on WASM platforms, where `#[target_feature]` was made applicable to safe functions knowingly.

[2022-03-18 23:39] cjgillot opened #95094 "Experiment computing lint_levels by definition"
The `lint_levels` query traverses the whole crate to assign a set of lint and allowances to each `HirId`.

However, most incremental modifications to a crate don't involve many items. Computing `lint_levels` independently for each definition will help reduce the effect of recomputing it. The objective is to avoid lowering of some definitions once https://github.com/rust-lang/rust/pull/88186 is mer

[2022-03-18 23:42] ChrisDenton commented on #42202
Right but I mean specifically "thiscall" and "stdcall" on Windows platforms. On other platforms I'm not at all against using them being a hard error. To be honest, my worry at the moment is the potential for making the common case more complicated and error prone in order to make it simpler for a theoretical case that nobody actually needs.

Lastly I'd point out that "C" is even more magic because

[2022-03-18 23:47] lsoranco opened #95095 "Rocket library + option "-C instrument-coverage" crashes the compiler apparently"
I am developing a library that has the `Rocket` as dependency. Everything seems to work fine when I am just building the library, but when I try to get coverage data, using the LLVM tool, it apparently crashes the compiler

I have no deep knowledge of the compiler, and I am doing this because it popped up as a suggestion in the error, so sorry if something is not correct

### Code
I can't do that,

[2022-03-18 23:52] tmandry commented on #67644
The regression was in stack size (i.e. the generator objects got bigger). Reference: https://fuchsia-review.googlesource.com/c/fuchsia/+/615168

The good news is that we determined that the regression only occurred in debug builds; release builds were not affected. The debug build regression on that test was significant, however; the required stack size went from around 1.5MiB to 2.5MiB.

This was

[2022-03-19 00:17] jackh726 commented on #95095
Duplicate of #94998

[2022-03-19 00:17] #95095 closed

[2022-03-19 00:21] insilications commented on #64124
If you want std library to partake in linker-based LTO, do this. I've build the standard libraries with "-Clinker-plugin-lto=on -Ccodegen-units=1", so that all .rlib files contain the LLVM IR bitcode instead of the native object. I placed them all inside /usr/lib64/rustlib/x86_64-unknown-linux-gnu/lib/ and remove the previous ones. Following the guide (https://doc.rust-lang.org/nightly/rustc/linke

[2022-03-19 00:26] compiler-errors commented on #95034
Wow this ICE is super weird. I believe it has to do something with the Generalizer in rustc_infer, the fact that generator interiors are represented with higher-kinded types, the fact that the `E` parameter in the example above is bivariant, and the way that universes work.

Gonna keep working on it for a couple of hours, but I think it might be impossible to fix currently. Or at least it requires

[2022-03-19 00:29] nagisa commented on #42202
I used `fastcall` in [`psm`](https://github.com/rust-lang/stacker/blob/547807f03246783ada94b956a575b9ce257dc2ca/psm/src/lib.rs#L36-L44), which is neither `thiscall` nor `stdcall`, but is largely in the same camp. And, indeed, a primary motivation for its use was to not have to deal with the C calling convention differences across platforms.

The way I see it the very fact that specifying `fastcall

[2022-03-19 00:33] scottmcm opened #95097 "Provide a structured suggestion for `_`-as-parameter-type in trait `impl`s"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=91ba3d382d71310c4e6239fc5d4da92f

[code]

The current output is:

[code]

That's a particularly-bad `help` in a trait impl, since the associated function is not generic, and thus adding a generic parameter definitely won't work.

Ideally the output should look like:

[code]

So that, like happens wit

[2022-03-19 00:50] estebank opened #95099 "E0277 for `#[derive(_)]`-able trait on local type should have structured suggestion"
[When encountering code that requires a deriveable trait on a type that doesn't have it](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4086bdfa36252416e6f8fbfbf0c83bee), we currently emit an E0277 error and when possible point at the trait bound that introduced the obligation:

[code]

When the bound applies on a local type, we should suggest

[code]

like we do for E036

[2022-03-19 00:56] aliemjay commented on #95034
Is this a thing in current rust? :exploding_head:

Honestly, I was surprised that rustc accepts `CustomFut` and not complains about unused type params.

[code]
Does this pattern exist in practice? People would use PhantomData and this should avoid this problem (I hope).

[2022-03-19 01:13] compiler-errors commented on #95034
Yep, see https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_infer/infer/combine.rs.html#506-530. This wf trick just ends up not working for higher-kinded types due to strange caveats...

[2022-03-19 01:15] compiler-errors commented on #95034
Well, either a caveat or just a bug I cannot find.

[2022-03-19 02:04] workingjubilee commented on #89586
My apologies for taking so long to answer. Yes, I am more reachable on Zulip.

1. - Q: Should we detect incompatible features at the global feature level?
   - A: Yes, definitely.
0. - Q: Should we detect incompatible features at the function feature level?
   - A: Ideally also yes.
0. - Q. How is the x87 FPU denoted?
   - A. The x87 FPU feature uses the string `"+x87"` to enable and `"-x87"` to d

[2022-03-19 02:47] compiler-errors commented on #94287
Well I can't _fix_ this per se, but it does give a better error since #94440. Anywho, I won't hold onto this issue forever.

@rustbot release-assignment

[2022-03-19 03:01] compiler-errors commented on #95034
I honestly don't think I understand enough about variance and the Generalizer type relation to fix this issue. I think this would technically be solved by lazy projection normalization, since this is due to a inference variable created by normalizing a projection type.

I will at least add a known-bug test for this. Sorry!

@rustbot release-assignment

[2022-03-19 03:20] compiler-errors commented on #95014
@rustbot claim

[2022-03-19 05:03] HenrikBach1 opened #95105 "Compiler reports `field is never read` even though it is used in an `impl`ementation"
Hi

In my opinion, the below code forces the compiler to emit a false error on the field `seasonal_fruit` of `struct Breakfast`, which is apparently wrong, due to it is used in `impl Breakfast`:

[code]

The compiler emits the error:
[code]
The compiler that was used:
[code]

Thank you
Henrik

[2022-03-19 05:04] #93609 closed

[2022-03-19 06:37] czh12138git opened #95106 "error: could not compile `tracing-subscriber`"
### Code

[code]

### Meta

`rustc --version --verbose`:1.61.0-nightly (58f11791a 2022-03-17) running on x86_64-pc-windows-msvc
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-19 08:00] petrochenkov commented on #95092
I'm not even sure `traits_in_crate` is necessary.

It's quite likely that we don't need the list of "all traits", but rather the list of "all traits with impls", in that case it can be extracted from `impls_in_crate`. This just needs some investigation and confirmation.

[2022-03-19 08:43] Bodobolero commented on #95070
Thanks. I can confirm (and verified) that the problem is resolved with the new nightly:

[code]

[2022-03-19 09:08] aliemjay commented on #95034
@compiler-errors have you found the exact regressed commit? It would take ages on my potato pc to bisect through commits.

And thanks again for your efforts. Very much appreciated.

[2022-03-19 09:11] sunfishcode commented on #90964
https://github.com/rust-lang/rust/pull/93263 has now been merged.

[2022-03-19 09:11] #90964 closed

[2022-03-19 09:43] mati865 commented on #95054
The problem is how much memory 32-bit process can allocate since their pointers are 4 byte long (Rust's `u32` type).

You can workaround this limitation by cross-compilling to 32-bit from 64-bit system.

[2022-03-19 10:59] compiler-errors commented on #95034
I am pretty certain this is due to #85499

[2022-03-19 12:27] jackh726 commented on #95106
Duplicate of #94998. Fixed in latest nightly.

[2022-03-19 12:27] #95106 closed

[2022-03-19 13:01] zeramorphic commented on #95070
My problem was also solved by the same fix, by the way.

[2022-03-19 13:23] Alexendoo commented on #92537
No longer ICEs since #95020

[2022-03-19 13:41] seun-ja opened #95111 "Async Tokio Endpoint packet receiver returning compiler error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-19 13:54] nu11ptr commented on #93367
My crate is triggering this: https://github.com/nu11ptr/flexrc/blob/master/flexrc/src/algorithm/hybrid.rs#L21

I have a struct that takes a phantom type parameter with two possible concrete types. If `LocalMode` then it is not `Send`/`Sync`, but if type parameter is `SharedMode` then it is implemented due to meeting the correct invariants for sharing. Am I in the clear or does something here need

[2022-03-19 14:29] bjorn3 opened #95113 "default_alloc_error_handler requires the linker to omit __rg_oom from liballoc"
`__rg_oom` calls the `rust_oom` symbol (aka the "oom" weak lang item). This symbol is not defined when using `default_alloc_error_handler`.

https://github.com/rust-lang/rust/blob/352e621368c31d7b4a6362e081586cdb931ba020/library/alloc/src/alloc.rs#L403-L412

This causes https://github.com/rust-lang/rust/blob/31535841701e0bf7ef33998024376f2cedd8b3e3/src/test/ui/allocator/no_std-alloc-error-handler-

[2022-03-19 14:31] ThatsNoMoon commented on #95105
The compiler is correct that it is never *read.* Using a field when constructing the struct is not reading it. If you, for example, printed its value, you would not get this error. As it is, `seasonal_fruit` is only ever written to.

[2022-03-19 15:26] HenrikBach1 commented on #95105
Yes, that is a reasonable argument. I didn't think about this in that way; It is only used when the field is accessed in a read command. But for a newcomer like me, it is/was a little bit ackward in this thinking...

Thank you for your response.

[2022-03-19 15:26] #95105 closed

[2022-03-19 16:15] nbdd0121 commented on #93740
I want to point out that byte sized mutexes are not ideal performance-wise on all platforms. For example, MIPS and RISC-V only have 32/64 bit atomics instruction and 8-bit/16-bit atomics need to be mimicked with CAS. On these platforms the "downside" is less significant, comparing a pointer with a u32.

Also given that we currently use a boxed pthread mutex, changing it to a pointer is a gain from

[2022-03-19 16:23] DarianHarrison commented on #70887
Just for future thought, I think it would be nice to add the log10 ceil operation, as it is useful for bitwise capacity planning, which then enables other features like "lossless" shifting, and so on...

[2022-03-19 16:28] xue8 commented on #47888
Is there any progress on this issue?

[2022-03-19 16:49] DarianHarrison commented on #70887
Just for future thought, I think it would be nice to add the log2 ceil operation, as it is useful for bitwise capacity planning, which then enables other features like "lossless shifting", and so on...

[2022-03-19 16:59] Smittyvb commented on #95075
@rustbot claim

I forgot that the test actually got executed, I'll make a PR to move the UB parts to a `check-pass` test.

[2022-03-19 18:01] rcarson3 commented on #60551
I believe this is related to this issue as well on nightly, but I'm running into the following issue with a more complicated piece of code I'm running on. However, I've worked out a simpler example here:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f15f265d88a25cfa9fc8822cf3c5950e

The compiler can't figure out that the bound is already met even though all the values fo

[2022-03-19 19:32] sunfishcode commented on #87074
All the PRs mentioned above are now merged. There are more features that would be useful to add, but the core types and traits here are ready for stabilization.

# Request for Stabilization

I'd like to stabilize I/O safety by **1.61** (beta on April 7th, stable on May 19th). A stabilization PR can be found at #95118.

## Summary

The following features will be stabilized:

* On Unix and WASI: `Ow

[2022-03-19 19:51] tromey commented on #72719
I think this is fixed now.

[2022-03-19 19:51] #72719 closed

[2022-03-19 21:08] Ericson2314 commented on #93032
Ah! So one more point, I think it is a bit artificial to exclude sums types from partial initialization. Consider [`Option::some`](https://doc.rust-lang.org/std/option/enum.Option.html#method.insert)
[code]
If we had out pointers, we could likewise imagine
[code]
This would, given an uninitalized `Option<T>`, set the `Some` tag and return the output pointer to the `T`. This is something I've wante

[2022-03-19 21:15] RalfJung commented on #93032
I don't think it does? The tag relies on valid bit-patterns of `T`, so *any* value of `T` that is written to the returned out reference will implicitly "set the tag" correctly.

So as long as out references guarantee that some value is written before the lifetime ends, this is all fine even in the presence of layout optimizations and uninhabited types, I think?

[2022-03-19 21:27] Ericson2314 commented on #93032
Sorry I wrote that vary misleading. The `&out` thing alone doesn't require the tag for the reason you are saying  --- even ignoring lifetimes / questions *when* the data is initialized, if it is impossible to write to `&out !` the `&out !` need to point to a valid location, and we the tag need not exist.

Very confusingly in the parenthetical, only if people want to read back what they wrote:
[cod

[2022-03-19 21:33] Amanieu opened #95122 "AArch64 target feature cfgs are being incorrectly enabled"
This seems to have been introduced in nightly 2022-03-16 which includes #90621.

Previous correct behavior:
[code]

New incorrect behavior:
[code]

cc @adamgemmell

[2022-03-19 21:34] petrosagg commented on #89976
I just hit this extremely confusing issue. My minimal reproduction seems to imply that depending on the incantation the compiler sometimes infers the lifetime on the closure as generic and sometimes as some specific lifetime. I have no idea why `tokio::spawn()` affects this though.

[code]

Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e08e92aa9cdfa05a0b9

[2022-03-19 21:37] Ericson2314 commented on #93032
And just to spell it out, with `Inhabitted` we could write something like:
[code]

[2022-03-19 21:39] ChrisDenton commented on #87074
@kennykerr would stabilizing of these handle types be useful to the windows-rs crate?

[2022-03-19 21:59] scottmcm commented on #93032
With my lang hat on, I'll note that it's incredibly unlikely that such a proposal would be accepted.  We're not looking to have more `?Foo` bounds, because of the training and ecosystem impacts of them.  (It's not impossible that one could happen, but the bar is extraordinarily high.)

Can you show an example where the size of a struct with an uninhabited field is a "performance" problem in practi

[2022-03-19 22:02] TheDreadedAndy commented on #68839
According to the [documentation for --emit](https://doc.rust-lang.org/rustc/command-line-arguments.html#--emit-specifies-the-types-of-output-files-to-generate), the default filename for an rmeta file should be CRATE_NAME.rmeta. That would suggest that the actual problem is the file name itself, which I believe is set [here](https://doc.rust-lang.org/stable/nightly-rustc/src/rustc_session/output.rs

[2022-03-19 22:23] yoshuawuyts commented on #67644
That's great to hear, thanks for sharing!

@rust-lang/libs I would like to propose we stabilize this for 1.61.

[2022-03-19 22:34] RalfJung commented on #93032
I"m sorry I do not understand which issues you are referring to here.

[2022-03-19 22:54] jswrenn opened #95126 "io::cleanup() can panic in unusual circumstances"
In the presence of a global allocator that prints on `dealloc`, the [`io::cleanup`](https://github.com/rust-lang/rust/blob/9c7f6d60b103e940f939f568ee2e06de6e914d09/library/std/src/io/stdio.rs#L615-L627) routine panics. This panic is surprising, because it occurs _after_ `main`.

## Example and Backtrace
([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0b2959145

[2022-03-19 22:56] workingjubilee commented on #95122
Commenting out the match arm in `to_llvm_features` for a given mapping alters the emitted features:
[code]

Result is:
[code]

[2022-03-19 23:06] Ericson2314 commented on #93032
@RalfJung

[code]

I mean if this is to be allowed, where the field of the `Some` is never written or read, but the tag is written and read, then the tag needs to be stored. If the tag can be written by only read when the fields are initialized, then yes indeed the tag can be dropped the fields are impossible to write to.

[2022-03-19 23:27] Ericson2314 commented on #93032
@scottmcm

Yes I am aware the Lang Team is dead set against more opt out traits. I think that is extremely unfortunate because I keep on finding problems where they would help (here, Advanced FFI, with the likes of Swift and C++ (see near https://twitter.com/ericson2314_/status/1504477340625084423, `DynSized` for #43467). I used to morn the policy, but now I just point out the new cases as they ar

[2022-03-19 23:44] matthiaskrgr opened #95128 "ICE: explicit panic: compiler/rustc_errors/src/diagnostic_builder.rs"
### Code
code from a former version of `./src/libarena/lib.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-20 00:42] razaqq commented on #41620
what about matching on special cases like `f32::INFINITY`, `f32::NEG_INFINITY`, `f32::NAN`
these seem pretty reasonable to me

[2022-03-20 02:42] xue8 commented on #47888
Is there any progress on this issue?

[2022-03-20 04:10] ehuss commented on #68839
Oh, looks like the `--emit` docs are wrong.  The rmeta file needs to start with `lib` to work with crate discovery, and to match the `.rlib` naming convention.  I posted #95131 with a fix for the docs.

[2022-03-20 04:18] QuineDot opened #95132 "Higher-ranked `fn` pointers can be cast but no longer coerce"
### Code

[I tried this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8f3f65c31563b6a80aabbee8d3fb31ab):

[code]

I expected to see this happen: Successful compilation

Instead, this happened: Compiler error:
[code]

### Version it worked on

It most recently worked on: [Rust 1.35](https://rust.godbolt.org/z/YG3x7zjf4).

It works on every version before that which I

[2022-03-20 06:28] workingjubilee commented on #41620
NaN does not compare equal with NaN, and NaN bit-patterns are not guaranteed to be bit-equal either, as NaN can be:
- signaling xor quiet
- positive xor negative

...and there are multiple valid bitstrings for each combination.

[2022-03-20 07:12] #94458 closed

[2022-03-20 09:46] qarmin commented on #95054
How can I do that?
I already use 64 bit OS, so for me it looks that I already use cross compilation

[2022-03-20 09:52] DianaNites opened #95134 "ICE: 'index out of bounds: the len is 0 but the index is 0'"
### Code

Minimized code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-20 11:05] mati865 commented on #95054
It's pretty easy with `rustup`: https://rust-lang.github.io/rustup/cross-compilation.html
In that case you'd install `x86_64-pc-windows-gnu` host toolchain and add `i686-pc-windows-gnu` target.

I have no idea how it works with standalone installers that you have used.

x86_64 systems can run both i686 and x86_64 binaries and you have used `i686` target to build `i686` binaries which is normal com

[2022-03-20 11:05] #94965 closed

[2022-03-20 13:58] razaqq commented on #41620
Okay but there are functions for checking for NaN and inf, why should the following be disallowed?

[code]

[2022-03-20 14:06] jyn514 opened #95136 "Using `cargo run` with bootstrap uses the host rustfmt, not nightly rustfmt"
https://github.com/rust-lang/rust/blob/c7ce69faf2a7ea16c15d922985ca27ba70da30ee/src/bootstrap/config.rs#L1095-L1106

The proper fix is to check if we're going through the `cargo run` entrypoint instead of x.py, and if so, download rustfmt from the nightly toolchain listed in `src/stage0.json`: https://github.com/rust-lang/rust/blob/c7ce69faf2a7ea16c15d922985ca27ba70da30ee/src/stage0.json#L8-L11

I

[2022-03-20 14:06] jyn514 commented on #95136
@rustbot label: +A-rustbuild +C-enhancement

[2022-03-20 14:27] jyn514 commented on #94829
Ah, interesting. I'm a little confused why we *ever* had a python entry point then - @Mark-Simulacrum do you remember the original goal? Was it intended for individual users trying to build from source? I'm ok with regressing that a little bit as long as people can still install rustup from source and then build bootstrap ...

[2022-03-20 14:37] bjorn3 commented on #94829
bootstrap.py was introduced when rewriting the build system from make to rust in https://github.com/rust-lang/rust/commit/046e6874c47ec55e23b7a566bca51d2920562485. Back then rustup (it was still called multirust at that point I believe) wasn't really common I believe.

[2022-03-20 14:38] Mark-Simulacrum commented on #94829
The python wrapper supports us in a number of ways (or did): submodule initialization (needed before first Cargo invocation due to workspace resolution), downloading and checking hashes on a specific beta/stable (sort of replaceable with rustup, but historically our needs are a little more complex such as with rustfmt being a separate toolchain), figuring out what the platform target triple is...

[2022-03-20 14:38] bjorn3 commented on #95136
You can use `rustup run <toolchain> rustfmt`. Or set the `RUSTUP_TOOLCHAIN` env var.

[2022-03-20 14:41] bjorn3 commented on #94829
Cargo allows adding aliases in `.cargo/config.toml`, so you can have eg `cargo rustcbuild`, `cargo rustctest`, ...

[2022-03-20 14:49] jyn514 commented on #94829
We could have that unified interface with `src/tools/x`, which is also shorter than either `x.py` or `cargo run`. That seems nicer than having the interface tied to the language.

The other things are mostly done by rustup - I guess the concern is for tooling in CI, which doesn't have rustup installed?

[2022-03-20 14:59] jyn514 commented on #95136
Ah, interesting idea. Right now `rustup component add --toolchain nightly-2022-02-23 rustfmt` gives an error, but @kinnison suggests that rustup could support `--profile none` which would avoid installing an unused toolchain.

[2022-03-20 15:13] jyn514 commented on #95136
I do wonder to what extent we can depend on rustup vs. supporting a pre-installed host toolchain. @cuviper is probably not running `x.py fmt --check` a whole lot while building from source, but it does make me slightly uncomfortable to have commands we know will fail if you use `cargo run` without rustup.

cc @Mark-Simulacrum

[2022-03-20 15:42] jyn514 opened #95141 "`cargo run` doesn't rebuild bootstrap binaries"
Currently, `cargo run` has a big footgun: if you modify `src/bootstrap/bin/rustc.rs` (or rustdoc.rs), it won't be rebuilt until you manually run `cargo build --bins`. I tried avoiding this in https://github.com/rust-lang/rust/pull/94828 by running that automatically in bootstrap, but it discards various linker arguments and environment variables that prevent people from configuring the build.

A b

[2022-03-20 15:49] jyn514 commented on #94829
I have divided this up into some smaller tasks that can be done in parallel; see https://rust-lang.zulipchat.com/#narrow/stream/122652-new-members/topic/Help.20with.20RRIR.20bootstrap.20entrypoint for more info.

@rustbot label: +E-mentor +E-help-wanted

[2022-03-20 16:18] Yuri6037 opened #95143 "Unclear doc on iterator.by_ref()"
Today, I just got a huge problem internally in one of my crate. The bug is that the call to `iterator.by_ref` mutates/advances the iterator itself internally and that caused one of my software dependent on that carate to fail with an internal weird panic.

On the following documentation link: https://doc.rust-lang.org/stable/std/iter/trait.Iterator.html#method.by_ref the behavior of the function i

[2022-03-20 17:37] Thomasdezeeuw commented on #70436
To be fair that's why the documentation says

If you program with that in mind, essentially passing ownership of `bufs` to the function (this why I think a type might help), I don't think its a problem. But I think I'm just rehashing points I've made before.

What I meant what do you have an example where you actually modify the underlying buffers. If you have the headers prepared (especially if i

[2022-03-20 19:25] ThePuzzlemaker opened #95147 "Bad diagnostic output for `Fn` traits with E0277"
Given the following code:

[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=86d166ed2289016cbe03675e0dadca5b))

The current output is:

[code]

Ideally the output should look like:

[code]

Frankly it would be nice if we could improve the "further restricting this bound" to be something different (as restricting the bound is impossible in this case--som

[2022-03-20 19:32] ThePuzzlemaker commented on #95147
It appears this stems from the `#[rustc_on_unimplemented(...)]` message. I'll have to see if there's a way I can hack this into working with paren sugar.

[2022-03-20 19:32] ThePuzzlemaker commented on #95147
@rustbot claim

[2022-03-20 19:42] c410-f3r commented on #77474
Is anything preventing this addition? If not, then I can create a PR

[2022-03-20 20:13] joshtriplett opened #95150 "Diagnostic for const generic enum on stable suggests requirements for nightly-only feature (PartialEq, Eq)"
Given the following code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6804b0c085c6fcf4fba0c2fa9d49385e)):

[code]

Rust gives a diagnostic suggesting deriving `PartialEq, Eq`:

[code]

However, adding `#[derive(PartialEq, Eq)]` leads the compiler to still give an error about not supporting this.

A non-nightly compiler should not give the second error

[2022-03-20 20:19] c410-f3r commented on #93902
Fixed by https://github.com/rust-lang/rust/pull/94884

[2022-03-20 20:19] #93902 closed

[2022-03-20 20:21] workingjubilee commented on #41620
Yes, a pattern is subtly different. What you're talking about is a guard.

And I mean, I actually have come to think that if we allowed hexadecimal floating point literals that matching on them might be reasonable because they exactly specify floating point values. I just don't think it's appropriate for decimal floating point literals that may be rounded.

[2022-03-20 20:37] c410-f3r opened #95151 "`#[track_caller]` on a macro declaration causes ICE"
[code]

[code]

[2022-03-20 20:43] c410-f3r opened #95152 "`#[track_caller]` erroneously points to macro call"
[code]

`Error::line` points to line 38 (`let _ = foo!();`) but should in fact point to line 32 (`let rslt: u8 = (-1i8).try_into()?;`).

[2022-03-20 20:57] c410-f3r commented on #95152
Not sure if this behavior is intended.

ping @eddyb

[2022-03-20 21:05] Mark-Simulacrum commented on #95136
I would prefer to avoid a dependency on rustup specifically being available for any of our commands; I suspect that manually downloading the tarball for rustfmt would be better.

In general my operating assumption is that we can reasonably expect rustup for "get me a beta toolchain", but should not look for anything more than that. (And of course, all that really means is that the bootstrap toolch

[2022-03-20 21:09] kennykerr commented on #87074
At a glance, probably not directly. The `windows` and `windows-sys` crates support all of the different handle types whereas this proposal appears to only focus on two.

[2022-03-20 21:11] kije opened #95153 "thread 'rustc' panicked at 'assertion failed: !value.has_escaping_bound_vars()',"
Tried to compile the [bevy game template](https://github.com/NiklasEi/bevy_game_template/tree/7bb3bffd6f4b612b53ef9bd5c2374e73a9b45d82).

Compiling the template without changes worked fine. After I made the following changes, the error occurred:

`Cargo.toml`

[code]

`.cargo/config.toml`
[code]

### Meta

[code]

### Error output

[code]

[2022-03-20 21:12] kije commented on #95153
Looks like the same issue as this one https://github.com/rust-lang/rust/issues/94998

[2022-03-20 21:14] cuviper commented on #95136
You're right that I don't need `fmt` for distro builds -- and note that it currently isn't supported at all for stable/beta branches:

[code]

[2022-03-20 21:16] #95153 closed

[2022-03-20 21:46] ehuss opened #95154 "Windows 8 is returning ERROR_INVALID_HANDLE instead of NotFound when opening a missing file"
I tried this code:

[code]

I expected to see this happen: Runs without error.

Instead, this happened: On Windows 8, it fails with error:

[code]

This seems to have started with #94572, cc @sunfishcode.

This is causing `cargo new` to fail on Windows 8, cc https://github.com/rust-lang/cargo/issues/10464

This may also be responsible for rustc's incremental support to complain, though this doesn'

[2022-03-20 22:44] nvzqz opened #95157 "Tracking Issue for `NonZero` trait"
Feature gate: `#![feature(nonzero_trait)]`

This is a tracking issue for adding a `NonZero` trait to `core::num`, which includes an associated scalar type and a safety requirement.

### Public API

[code]

### Steps / History

- [ ] Implementation: #95155
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Should the associated type be named `Scalar` or something e

[2022-03-20 22:51] sunfishcode commented on #95154
I unfortunately don't have a Windows 8 box to test this on, but looking at the code, I have a theory which would explain the behavior you're seeing here, and I've now posted a fix for it here: https://github.com/rust-lang/rust/pull/95158.

[2022-03-21 00:04] #95128 closed

[2022-03-21 00:07] wbenny commented on #87800
Same,

I have roughly following code:
[code]

[2022-03-21 03:45] AndreKR commented on #95154
This also happens on Windows 7 by the way.

[2022-03-21 04:50] #95014 closed

[2022-03-21 05:16] JakobDegen opened #95162 "Early otherwise branch MIR opt is unsound"
I re-wrote this pass in #91840 ; however, I don't think the new version is sound either (#95161). I'm currently working on a MCVE miscompilation, but quoting from the PR:

For an example of a test that almost miscompiles, see [here](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=b3b2cc8d9dc9629b85c77223ea7c4cce). The opt doesn't fire on that particular version, but it w

[2022-03-21 05:52] petrochenkov commented on #83527
Issue: literal tokens emitted by meta-variable expression need to have correct hygiene (`SyntaxContext`).

For that the span assigned to them needs to be processed by `Marker` (see `fn transcribe` for examples).

[2022-03-21 06:13] fee1-dead commented on #95141
@rustbot claim

[2022-03-21 06:15] matthiaskrgr opened #95163 "ICE: the following error was constructed but not emitted"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-21 06:44] lcnr commented on #95132
this broke with the introduction of nll in the 2015 edition, see https://rust.godbolt.org/z/3sr77dP6z, and is caused by `UserTypeAnnotations` being broken in mir. Already working on fixing this, cc #93856

[2022-03-21 07:38] apiraino commented on #95132
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2395132.20Higher-ranked.20.60fn.60.20pointers.20can.20be.20cast.20but.20no.20longe.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-03-21 08:15] leonardo-m commented on #95157
(Generally I need the opposite: given an integral type tell me what's the corresponding NonZero type).

[2022-03-21 10:16] yoav-lavi opened #95165 "Compiler optimization suggestion - `Iter<String>.collect::<Vec<String>>().join("")`"
Hi,

I've opened this issue for `clippy`: https://github.com/rust-lang/rust-clippy/issues/8570 wherein a `collect::<Vec<String>>().join("")` operation on an `Iter<String>` can be expressed as `collect::<String>()` which is more performant.

I wanted to put this here as well as I think this may be something that can also be optimized by the compiler (by replacing the former with the latter) since t

[2022-03-21 12:00] Spoonbender commented on #39946
Both these examples reproduce in the 2021 edition, tested on `rustc 1.59.0 (9d1b2106e 2022-02-23)`

[2022-03-21 12:04] Spoonbender commented on #20841
Triage: still reproduces on 2021 edition, tested using `rustc 1.59.0 (9d1b2106e 2022-02-23)`

[2022-03-21 12:08] Spoonbender commented on #46154
Triage: still reproduces on 2021 edition, tested on `rustc 1.59.0 (9d1b2106e 2022-02-23)`

Code needs be adjusted a bit using the `dyn` keyword:
[code]

[2022-03-21 12:12] Spoonbender commented on #23014
Triage: issue still reproduces on 2021 edition, tested on `rustc 1.59.0 (9d1b2106e 2022-02-23)`

[2022-03-21 12:24] Spoonbender commented on #34260
Triage: @sgrif 's examples in the original post (markdown code + https://is.gd/XSHLG2 + https://is.gd/vrEvFN) do not reproduce on 2021 edition, tested on `rustc 1.59.0 (9d1b2106e 2022-02-23)`.

@sgrif do you know if there still an issue which can be reproduced?

[2022-03-21 12:34] Spoonbender commented on #46309
Triage: I tried updating the code to modern-day `diesel` (`1.4.8`), and it seems to me the issue won't reproduce anymore using `rustc 1.59.0 (9d1b2106e 2022-02-23)`

@weiznich can you verify?

[code]

[2022-03-21 13:00] leonardo-m opened #95168 "[ER] Array/Vec parsing?"
Both the Haskell and D language standard library allows the roundtrip of printing - parsing of lists/arrays:

Haskell:

[code]

In D language:

[code]

A similar functionality could be added to the Rust stdlib:

[code]

[2022-03-21 13:36] theemathas commented on #23014
Related or duplicate of #57749, apparently.

[2022-03-21 14:00] petrochenkov commented on #39946
Enum variants are still not included into the overlap check for inherent impl items.

[2022-03-21 14:29] Mingun commented on #95154
Confirming this on Windows 7, Windows 10 and 11 seems unaffected

[2022-03-21 14:47] petrochenkov commented on #82450
Enabling `--check-cfg=values()` currently incurs some compilation time hit (especially on small programs) because it will load target specifications for all targets (100-200 of them at the moment), while without `--check-cfg=values()` targets are only loaded on demand (so only 1-2 target specs are typically loaded).

In theory, majority of targets can be loaded at compiler's compile time instead (

[2022-03-21 15:13] lcnr opened #95174 "Tracking Issue for more complex const parameter types: `feature(adt_const_params)`"
This is a tracking issue for allowing more const parameter types.
The feature gate for this issue is `#![feature(adt_const_params)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discus

[2022-03-21 15:26] #44580 closed

[2022-03-21 15:31] lcnr commented on #79018
the ICE has been fixed in #94440 so I am going to close this issue. Don't think we need any additional tests for that PR.

[2022-03-21 15:31] #79018 closed

[2022-03-21 15:37] lcnr commented on #94287
The error message is pretty bad here but I don't think we can do more here. Using a crate with `generic_const_exprs` will probably always needs that feature as well and doc tests are separate features.

Would be good to add a test for this as it feels surprising and fairly easy to hit.

[2022-03-21 15:41] weiznich commented on #46309
I can verify that the bug is fixed with a recent rustc version.

[2022-03-21 16:27] sassy-crick opened #95177 "Building LLVM from source doesn't forward `-j x` to cmake"
I am building Rust on a large HPC cluster using EasyBuild but Rust is not behaving as it should:

[code]

I expected to see only 64 threads being used but Rust is ignoring my request to use only 64 cores and uses the max-number of available treads. This leads to a very poor performance as each thread spends more time waiting than actually doing. specially when there are 128 threads available. This

[2022-03-21 16:34] sunfishcode commented on #87074
It [is possible](https://github.com/rust-lang/rust/blob/master/library/std/src/sys/windows/c.rs#L954) to use the new types in FFI declarations. But my understanding is that `windows` and `windows-sys` are auto-generated from an API description, so we'd need three additional pieces of information to be added to that description: (a) which handles are in the `CloseHandle` family, (b) which handles a

[2022-03-21 16:41] fmease commented on #94340
@rustbot claim

[2022-03-21 17:18] ChrisDenton commented on #87074
Not to stray too offtopic but the [win32metadata](https://github.com/microsoft/win32metadata) is quite rich.

<details><summary>win32metadata</summary>

E.g. `CreateFileW` has the following metadata:

[code]

[code]
The `GetCurrentProcess` metadata has the `return: DoNotRelease` attribute:
[code]

The only thing it currently appears to lack is whether or not `-1` is `INVALID_HANDLE_VALUE` or a val

[2022-03-21 17:32] Awpteamoose opened #95178 "Windows Command regression - broken paths"
### Code

I tried this code:

[code]

where `folder/echo.bat` is
[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

### Version it worked on
`rustc --version --verbose`:
[code]
(aka `nightly-2022-03-19`)

### Version with regression
`rustc --version --verbose`:
[code]
(aka `nightly-2022-03-20`)

[2022-03-21 17:46] Spoonbender commented on #42473
Triage: no change

[2022-03-21 17:48] Spoonbender commented on #43049
Triage: no change

[2022-03-21 17:55] qarmin commented on #95054
Looks that I misunderstand what exactly cross compilation means.

Now app compile properly(I think), but there is problem with linking, but this is probably a problem caused by missing software

[2022-03-21 17:55] #95054 closed

[2022-03-21 17:57] #95075 closed

[2022-03-21 18:02] Spoonbender commented on #46306
Triage: no change

[2022-03-21 18:15] ChrisDenton commented on #95178
Ah, this was caused by the switch to using verbatim paths (aka `\\?\`) for `Command`. This allows for using longer paths but aren't supported by `cmd.exe`. The workaround is to call cmd directly:

[code]

The ultimate fix will be to [properly support running script files](https://github.com/rust-lang/rust/issues/94743). But it should be possible to fix this specific issue in the meantime.

[2022-03-21 18:27] Walther commented on #35428
Hello hi 👋 Kindest little boop & status check - what is the status of this? The docs seem to still say this is nightly-only, experimental https://doc.rust-lang.org/std/iter/trait.ExactSizeIterator.html#method.is_empty

[2022-03-21 18:41] scottmcm commented on #35428
@Walther I think the same "people want this on non-`ExactSizedIterator`s" contention still applies, and thus I expect it to stay unstable until someone has a solution for that.

For now, `.len() == 0` is [often just as fast](https://rust.godbolt.org/z/nx9deEb4z), so may suffice.

[2022-03-21 19:08] clarfonthey commented on #35428
An alternative for the not fast case would be to just use `peekable`, but that does use up space and most people would prefer it to be usable without taking up extra space.

Maybe a version like `FusedIterator` that makes `Peekable` fast might help?

[2022-03-21 21:04] jasta opened #95182 "Ambiguous output when higher rank trait bound is not met"
Given the following code demonstrating an invalid lifetime mismatch between the borrowed whom argument and the returned future:

[code]

Playground for more context: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=58bcba6782e856d0de5f3d1271bf2c9e

The output from rustc makes a strange claim about a mismatched type with the expected and found type labels being identical:

[c

[2022-03-21 21:29] nikomatsakis commented on #83527
@petrochenkov that sounds like a blocker for stabilization, right? (If so, I'll add to the OP)

[2022-03-21 21:33] jonhoo commented on #94983
Huh, yeah, that definitely does seem weird. I wonder where the right place to fix this is though. It does feel like `static-libstdcpp` is _slightly_ too low-level a setting at the moment in that it only considers `libstdc++` at the moment. My thinking here is that we should fix `static-libstdcpp` to be "libc++ aware", where _if_ `libc++` is being used, it should pass the "appropriate" options inst

[2022-03-21 21:47] mcy opened #95184 "Is `bool` FFI-safe?"
The following seem inconsistent:

[code]

The reference states that `bool` has the same layout as `u8` and can only take on the "usual" bitpatterns. OTOH, The improper ctypes lints seem to believe that `bool` is FFI-safe, by omission, which is further underscored in the UGC draft: https://rust-lang.github.io/unsafe-code-guidelines/layout/scalars.html#bool, which ties it to `_Bool`; C makes ~no gua

[2022-03-21 21:55] BGR360 commented on #77474
@c410-f3r Since my last comment in August, there has been further discussion about this in various places. IIRC, @yaahc resolved to add `#[track_caller]` to something, I think it was `Into`? That change might already be in. I'll go hunting in my notification history to see if I can find what I'm talking about.

[2022-03-21 22:01] BGR360 commented on #77474
It was to `from_residual` and it has been merged: https://github.com/rust-lang/rust/pull/91752

Unless it has been since removed again, I think that means this issue can be closed?

[2022-03-21 22:13] c410-f3r commented on #77474
Thanks @BGR360

Unfortunately, such change did not prevent an error I am currently facing that also points stuff to `... library/core/src/convert/mod.rs`.

![Capture d’écran de 2022-03-21 19-05-04](https://user-images.githubusercontent.com/17877264/159371865-88aa9252-2a1d-41ac-9d97-8c53e446e3bd.png)

But this can be reported in another issue with an appropriated reproducible snippet

[2022-03-21 22:14] BGR360 opened #95186 "`min_specialization` does not allow specializing on `~const` trait bounds"
Given the following code ([playground](https://github.com/rust-lang/rust/pull/91752)):

[code]

The following error is produced:

[code]

What I expect is that the compilation succeeds, as it does without the const trait impl and corresponding `~const` trait bound ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d967a74cc12ef329c888b40d07c8e2c3)):

[code]

@ru

[2022-03-21 22:17] BGR360 commented on #95186
@rustbot label +requires-nightly

[2022-03-21 22:23] yaahc commented on #77474
I was worried it would still be broken, I remember in the past it losing the location when it went through `Into` and I thought I remembered `?` desugaring to use `Into` but it looks like it uses `From`, so it seems to work fine for my small snippet using eyre.

:+1: @c410-f3r for opening a new issue for this specific issue. I'm gonna go ahead and close this one for now.

[2022-03-21 22:23] #77474 closed

[2022-03-21 22:24] joshtriplett commented on #83518
I think, for a first pass, we should just have a single lint, and set the threshold high enough that people won't typically encounter it (e.g. 1k). If we find that people want the threshold lower, *and* want to have different behavior at different thresholds, we could talk about having multiple lints with different thresholds. But in practice I'd expect people to lower or raise the threshold, but

[2022-03-21 22:33] BGR360 opened #95187 "`min_specialization` does not equate `T: ~const Trait` with `T: Trait`"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d22c2f2bcdbb21cc4934dad282e17dd3)):

[code]

The following error is produced:

[code]

This indicates that rustc is not equating the `T: ~const DefaultBound` in the default impl with the `T: DefaultBound` in the specialized impl. Rather, it thinks it's a newly-introduced trait bound, and

[2022-03-21 22:42] BGR360 commented on #67792
Looks like the `min_specialization` implementation needs to be updated to account for `~const` trait bounds. See https://github.com/rust-lang/rust/issues/95186 and https://github.com/rust-lang/rust/issues/95187.

[2022-03-21 22:50] yaahc commented on #67644
sounds good to me, though fwiw the correct team for reviewing this is @rust-lang/libs-api not libs. Also, we're in the process of updating our docs on the stabilization process and FCPS[^1] so if you wanted to follow the new process and start off the FCP with a stabilization report that would be greatly appreciated. It looks like your earlier comment is already essentially an experience report and

[2022-03-21 23:00] #95023 closed

[2022-03-21 23:00] #95043 closed

[2022-03-22 00:17] LoveGraham opened #95190 "Bug"
I tried this code:

[code]

I expected to see this happen: *explanation*

Instead, this happened: *explanation*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-03-22 00:17] LoveGraham opened #95191 "Tracking Issue for 2022"
This is a tracking issue for the RFC "XXX" (rust-lang/rfcs#NNN).
The feature gate for the issue is `#![feature(FFF)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions

[2022-03-22 00:17] LoveGraham opened #95192 "Summary"
### Code

I tried this code:

[code]

I expected to see this happen: *explanation*

Instead, this happened: *explanation*

### Version it worked on

It most recently worked on:

### Version with regression

`rustc --version --verbose`:
[code]

### Backtrace

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-03-22 00:17] eddyb commented on #95152
That it is - it's modeled after what you might get from `(file!(), line!())`, which, because they likely show up in a macro like `panic!`, need to point to the user code.

Nowadays, `panic!` calls a `#[track_caller]` function and yet again the `panic!` macro's definition must be skipped for the user's benefit.

I'm not sure how much we could improve this without somehow encoding all the levels of

[2022-03-22 00:17] LoveGraham opened #95193 "No error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-22 00:23] #95191 closed

[2022-03-22 00:23] #95192 closed

[2022-03-22 00:29] Dylan-DPC commented on #95190
@LoveGraham are you trying to file a bug here? else please do not spam empty issues on the repo. Thanks

[2022-03-22 00:29] #95193 closed

[2022-03-22 01:02] mark-i-m commented on #83527
@nikomatsakis Yes, it is a blocker.

[2022-03-22 01:06] clarfonthey commented on #74985
One potential use case that might be worth having a dedicated method:

[code]

If no one takes it up, at some point, I might implement this myself.

[2022-03-22 02:29] clarfonthey commented on #35428
So, I did the thing and offered up a [`PeekableIterator`] trait in #95195 as a potential path to an alternative. Feel free to put your thoughts there and whether you think this is a reasonable alternative or not.

[2022-03-22 03:43] QuaternionsRock commented on #94722
@jackh726 I'm starting to understand what you're saying now. So, if my understanding is now correct, if the coherence algorithm were smarter, [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=59b58c9f081436decd61b38de19bc1fd) would be considered acceptable? All the more reason to properly implement sealed traits, I suppose.

[2022-03-22 03:53] jackh726 commented on #94722
I think that still runs into the same problems. You've implemented `NDArrayTypeBase` for all `T` (even downstream types). So downstream crates can still impl `NDArrayType`

[2022-03-22 05:03] Jerrody commented on #95190
The very interesting issue...
![image](https://user-images.githubusercontent.com/68968657/159411571-1746d1a3-d09e-4785-a178-942ac48dd2cc.png)

[2022-03-22 05:48] #82528 closed

[2022-03-22 06:31] zirconium-n commented on #95143
While you might be right this text is not clear (which I do not agree), the example clearly shows that the internal iterator still advances.

[2022-03-22 07:19] Spoonbender commented on #45708
Triage: resolved.

The example compiles and works as intended on rust 1.59.0, [see here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0b055ed828fd1d9b9e068509dbb2fbff)

I think we can close this one.

[2022-03-22 07:28] Spoonbender commented on #48174
Triage: no change

[2022-03-22 07:28] Spoonbender commented on #47212
Triage: no change

[2022-03-22 07:31] Spoonbender commented on #50872
Triage: no change

[2022-03-22 07:34] zirconium-n commented on #95168
IIRC, Rust tends not to add things without a "standard way" to stdlib. Use `miniserde` if you need this functionality.

[2022-03-22 07:36] Spoonbender commented on #26283
Triage: no change from [latest check](https://github.com/rust-lang/rust/issues/26283#issuecomment-393989286)

[2022-03-22 07:40] Spoonbender commented on #51479
Triage: no change

Since [the reason is known and is a non-bug](https://github.com/rust-lang/rust/issues/51479#issuecomment-396092392), can we close this issue?

[2022-03-22 07:42] Spoonbender commented on #49788
Triage: no change

[2022-03-22 07:49] Spoonbender commented on #50107
Triage: no change

[2022-03-22 07:54] Spoonbender commented on #54378
Triage: resolved

The code compiles on nightly 1.16.0-nightly

I think we can close this one

[2022-03-22 07:55] Spoonbender commented on #54934
Triage: no change

[2022-03-22 08:06] Spoonbender commented on #24950
Triage: no change

Adjusted example code based on [Felix's](https://github.com/rust-lang/rust/issues/24950#issuecomment-97502506):
[code]

output:
[code]

[2022-03-22 08:15] Spoonbender commented on #30127
Triage: no change

Latest example code is:
[code]

[2022-03-22 08:18] Spoonbender commented on #19509
Triage: no change

[2022-03-22 08:20] Spoonbender commented on #54344
Triage: no change

[2022-03-22 08:22] Spoonbender commented on #27113
Triage: resolved

Both examples compile on stable `rustc 1.59.0 (9d1b2106e 2022-02-23)`

I think we can close this one

[2022-03-22 08:28] Spoonbender commented on #58171
Triage: no change

[2022-03-22 08:32] Spoonbender commented on #54482
Triage: no change

[2022-03-22 08:40] Spoonbender commented on #52921
Triage: no change

[2022-03-22 08:42] Spoonbender commented on #56750
Triage: no change

[2022-03-22 08:49] NateLing commented on #95190
What happened? you mean this is an github issues's issues?

[2022-03-22 08:50] Spoonbender commented on #36569
Triage: no change

[2022-03-22 08:51] Spoonbender commented on #64524
Triage: no change

[2022-03-22 08:54] jDomantas commented on #74985
That is a stricter requirement - valid code then must *prove* that N != 0 in addition to avoiding calling `array_chunks::<0>()`. With your suggestion otherwise valid programs could start failing to compile:

[code]

[2022-03-22 08:54] Spoonbender commented on #24909
Triage: no change

[2022-03-22 08:56] Spoonbender commented on #61942
Triage: no change

[2022-03-22 09:22] golddranks commented on #72599
Just a note, I've been extremely busy at work for some weeks now for deadlines at end of this week. I'll get back to this next week. I want to do a thorough review about the points discussed about the documented / to be documented guarantees before sending the PR. @RalfJung also had some concerns; I don't believe that this API is a bigger cause for concern than some other API's (I'm thinking of `f

[2022-03-22 10:41] Spoonbender commented on #23728
Triage: no change

[2022-03-22 10:41] zvi-code opened #95201 "the compiler unexpectedly panicked (when running this command: cargo test --color=always --no-run --package cache_proj --lib cache::bucket::tests)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]
<backtrace>
[code]

[2022-03-22 10:43] Spoonbender commented on #55227
Triage: no change

[2022-03-22 10:44] Spoonbender commented on #26830
Triage: no change

[2022-03-22 10:46] zvi-code commented on #95201
the issue appeared when i was running specific test with the CLion UI [probably unrelated but might trigger unusual build], same code run just fine from terminal, i'm not sure what is the difference

[2022-03-22 10:48] Spoonbender commented on #56952
Triage: no change

[2022-03-22 11:29] Awpteamoose commented on #95178
I'm not sure not being able to run scripts is exactly the case as I've run into this issue initially while trying to invoke `nuget.exe` and having nuget crash. Also if I call `echo.bat` without putting it in `folder` it also works fine.

[2022-03-22 11:46] xfix opened #95203 "io::Error is UnwindSafe, but only on 64-bit platforms"
### Code

I tried this code:

[code]

I expected to see this happen: either it to compile or not compile.

Instead, this happened: it compiled but only on 64-bit platforms.

### Version it worked on

It most recently worked on: Rust 1.59 (where it did not compile no matter what platform)

### Version with regression

`rustc --version --verbose`:
[code]

### Backtrace

<details><summary>Backtrace</

[2022-03-22 12:23] Alexendoo commented on #89189
Fixed by #95085

[2022-03-22 12:23] #89189 closed

[2022-03-22 12:24] #85350 closed

[2022-03-22 12:27] mxgrey commented on #60896
I think an `Entry` API would be a really elegant way to achieve what many commenters are asking for without relying on tuples that have funny looking signatures. Having the consistency with `HashMap` makes it especially compelling.

I have a use a case where I'd like to check for an existing equivalent entry in the `HashSet` before deciding whether I want to replace that entry or not. The current

[2022-03-22 12:53] e2-71828 commented on #76118
I recently found myself wanting `each_mut` and `each_ref` in a project targetting the stable compiler, so I wrote these functions as a workaround while waiting for them to stabilize:

[code]

[2022-03-22 13:12] wwylele commented on #95178
The problem might be on `/`. iirc `\\?\` path doesn't support the other slash.

[2022-03-22 13:25] LukasKalbertodt commented on #76118
Maybe it's time to stabilize `each_ref` and `each_mut`? They were added 1.5 years ago. And the only open question is regarding the name, as far as I know. See [the PR](https://github.com/rust-lang/rust/pull/75490) for more information about the name, but in short, the alternatives that were mentioned:

- `as_[ref/mut]_array` ([from arraytools](https://docs.rs/arraytools/0.1.5/arraytools/trait.Arra

[2022-03-22 13:33] ZHANGWENTAI commented on #93448
@rustbot claim

[2022-03-22 13:39] e2-71828 commented on #76118
From my perspective, stabilizing these with any name is better than leaving them on stable.  All of the proposed names have some flaws:
* `as_ref_array` implies a return type of `&[T;N]` instead of the actual `[&T;N]`
* `as_ref_elements` doesn't match anything else in `std`
* `as_refs` can be visually confused with `as_ref`
* `each_as_ref` implies that the method will take a closure as an argument

[2022-03-22 13:51] jyn514 opened #95204 "On MacOS, bootstrap requires both `python` and `python3`"
python: https://github.com/rust-lang/rust/blob/beb480d908f091e7c42c866e13641f26b2ee230b/src/bootstrap/sanity.rs#L100-L106
python3: https://github.com/rust-lang/rust/blob/beb480d908f091e7c42c866e13641f26b2ee230b/src/bootstrap/test.rs#L1382-L1386
It sounds like python3 is strictly required for LLDB, so we should move this check from test.rs to `builder.python()`, which will only require `python3` in

[2022-03-22 13:54] npmccallum commented on #67792
I know this question may be naive. However, I don't understand the reason for `~const` at all. As far as I understand it, evaluation of the constness of a particular function isn't relevant until it is invoked in a const context. At that time, it is fully concretized. So the compiler should be able to lazily decide whether or not the invoked function is const and, if not, why not. Therefore, `T: T

[2022-03-22 13:54] jplatte commented on #76118
FWIW, I prefer either of these new ones over the previous suggestions.

[2022-03-22 14:00] RalfJung commented on #67792
See [this IRLO discussion](https://internals.rust-lang.org/t/pre-rfc-revamped-const-trait-impl-aka-rfc-2632/15192/79) for more context.

Basically, we want to be able to write a const and non-const impl/fn at the same time, "abstracting over their constness" or "being generic over constness". The trait bounds depend on that extra "generic parameter", so we need some syntax to control that dependen

[2022-03-22 14:05] yaahc commented on #51085
Has any progress been made on never patterns in the last year or is this still waiting on someone to come along and implement them?

[2022-03-22 14:39] bstrie commented on #95141
Coming from https://github.com/rust-lang/rust/pull/94828, does the solution to this involve leveraging artifact dependencies somehow? I'd be very impressed if that worked.

[2022-03-22 14:45] Mark-Simulacrum commented on #95204
But not everyone will want to run lldb, right? We only mention /usr/bin/python3 there, we don't actually run it unless lldb tests are run, which is pretty rare.

This may still be an OK change, of course.

[2022-03-22 14:46] lukaslihotzki commented on #61956
Alternatively, the generic transmute workaround can be written as a single expression:
[code]

This version may be less error-prone because you can't forget to `mem::forget`. Also, it does not require `arr` to be mutable and it seems to produce less code without optimization (optimized, it's the same).

[2022-03-22 14:46] jyn514 commented on #95204
Sure - but in that case, we hardly need python at all, only for rustdoc tests, and it seems ok to use the system python.

[2022-03-22 14:47] jyn514 commented on #95141
No, artifact dependencies are still unstable, so bootstrap can't use them yet.

[2022-03-22 14:47] jyn514 commented on #95141
(of course, if anyone is interested in stabilizing artifact dependencies, this would still be a fun experiment to try out ...)

[2022-03-22 14:54] m-ou-se commented on #93203
@rfcbot merge

While the implementation is pretty new, the design of this API has been around for a while. There was just one open question of whether it was possible to remove the (unnecessary) scope argument to the thread closures. As it turns out, that was possible, and was done in https://github.com/rust-lang/rust/pull/94559

Other than that, there are no more open design questions and I feel

[2022-03-22 14:58] ijackson opened #95208 "diagnostic about typoed trait bound could be better"
Given the following code:

[code]

The current output is:

[code]

Better might be to add something like this:

[code]

This is the converse sitution to #84566.

I think that spotting the likely mistake location might involve trying to speculatively resolve path prefixes.  Eg, here `T` resolves but `T::fmt` doesn't.

In general, syntax error messages from rustc are often poor.  I wonder if it woul

[2022-03-22 14:59] joshtriplett commented on #93203
I agree that the scope argument removal should not affect the perceived maturity of this solution.

However, should we consider the issue at https://github.com/rust-lang/rust/pull/94644 to be a motivation for additional time to bake?

[2022-03-22 15:05] yaahc commented on #93203
I remember there being a bit of a debate / open question around how panics are handled and aggregated. Can I get a quick summary of how that discussion was resolved and what behavior we settled on?

[2022-03-22 15:06] m-ou-se commented on #93203
That was unrelated to the API, but was only a very subtle implementation issue (part of which even affected the long stable regular threads from `std::thread::spawn`), so not part of what we stabilize.

[2022-03-22 15:11] RalfJung commented on #67792
`?const` would work fine in terms of the language grammar; the issue is that it is semantically wrong -- this is very different from `?Sized`.

[2022-03-22 15:11] nikomatsakis commented on #93203
I've not read this API in detail but I'm in favor in principle of this being in the stdlib -- that said, I *am* interested to know how panics are being managed. It occurs to me that this API is probably setting important conventions that will have a precedent. (In particular, I'm very interested in seeing a "structured concurrency" API for async settings that will feel a lot like this, I suspect.)

[2022-03-22 15:16] LukasKalbertodt commented on #76118
FWIW, I do *not* prefer them (`as_array_of_[ref/mut]` and `by_[ref/mut]`) over the current name :D
The first one is long and doesn't really add clarity IMO. `as_array_of_refs` (with plural S) would be better regarding clarity, but brings problems for `mut`. And `by_ref` (from `iterator`) is short, but `Iterator::by_ref` has distinctly different semantics compared to these array methods.

What are

[2022-03-22 15:17] mrlazy1708 opened #95210 "ICE: rustc panicked with GAT and type_alias_impl_trait enabled"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong></strong></summary>
<p>

[code]

</p>
</details>

[2022-03-22 15:21] nikomatsakis commented on #83518
This is interesting. We may want to have certain "exemptions" from the lint.

[2022-03-22 15:26] clarfonthey commented on #67792
In case the variance definition is more helpful: ?Sized is contravariant, whereas ~const is covariant. Kotlin also uses the terms "in" and "out" to refer to contravariant and covariant respectively.

[2022-03-22 15:31] jplatte commented on #67792
@RalfJung It seems like we're not talking about the same thing. You seem to think that I am advocating for replacing `~const` with `?const`. That is not the case. I'm advocating for replacing bounds on `const fn` generics *without* `~const` with `?const`, and `~const` bounds with nothing.

To make it formal:

| | `const fn foo<B: const(false) Bar>` | `for<constness C> fn foo<B: const(C) Bar>` |
|-

[2022-03-22 15:33] yaahc commented on #93203
Ah, yeah, I remember that decision now and that sounds good.

Do we handle panics from the main closure any differently from those of spawned threads?

[2022-03-22 15:40] jplatte commented on #76118
Hm, I didn't think too much about it when posting the last reply. I guess you're right about `Iterator::as_ref` and the longer names are.. Longer. The current solution definitely isn't bad!

[2022-03-22 15:44] yaahc commented on #93203
One related thought, though I agree with the decision to leave it up to the user to handle panics explicitly when that is important to them, I think there's an opportunity here for us to provide helpers to make it easier to do so and assert that no join handles are left unjoined. Wondering if we should add a restricted lint that people can enable to get the compiler to help them catch implicit joi

[2022-03-22 15:59] npmccallum commented on #67792
@RalfJung I think this comment was in reply to my comment. But I don't think it actually answers my question. What is the difference between these two syntaxes?

[code]

The problem I see is that adding `~const` to the bound doesn't actually bind anything additional. There are no additional requirements. Whether `~const` is present or absent, the compiler behavior is exactly the same: if you call

[2022-03-22 16:52] compiler-errors commented on #95089
That's actually just because the pretty-printing code sees an infer variable in the return type of the generator. Might be able to solve this by adding a few `resolve_var_if_possible`, but that's just the placeholder that the `impl Future` printing code outputs for unresolved generators.

[2022-03-22 16:58] ChrisDenton commented on #95178
I cannot quickly reproduce this locally but I suspect that's another (though related) issue. Some applications may not be able to cope with `argv[0]` being a `\\?\` path. The fix here will be to set `argv[0]` to exactly what the user entered (this is similar to how shells usually work).

Yes, if you pass in just `echo.bat` it will work due to an undocumented feature of `CreateProcessW` (the underl

[2022-03-22 17:40] m-ou-se commented on #93203
Yes. Not doing that would be unsound.

[2022-03-22 17:54] yaahc commented on #93203
Regarding this comment, I would like to wait at least until the unstable scoped threads apis have made it into a stable release, right now if you open the `std::thread` docs on stable[^1] there's no mention of scope, so I imagine many users haven't even realized that we added the API yet, let alone taken the time to try it out.

[^1]: https://doc.rust-lang.org/stable/std/thread/index.html

[2022-03-22 18:09] compiler-errors commented on #95210
Hmmmm, probably due to failure to normalize a type I bet.

[2022-03-22 18:25] clarfonthey commented on #67792
Yeah, in hindsight, it might have been better to make `const` the default and have an `impure` keyword which allows explicitly opting out of const semantics, but since non-constness is the default, the constness of the trait bound must similarly be opt-in.

Basically, we've dug ourselves into this hole with the way the language was designed, and this seems like the best way to do it, but most of t

[2022-03-22 18:29] jyn514 commented on #95089
Sure - but to a user it still looks like a bug, it doesn't give them any further information.

[2022-03-22 18:32] jplatte commented on #67792
@clarfonthey I'm confused. Who are you replying to?

[2022-03-22 18:51] yaahc commented on #93203
The crossbeam API is different from the one we're exporting.

[2022-03-22 19:10] BGR360 commented on #95186
@rustbot claim

[2022-03-22 19:12] bstrie commented on #95141
Ah, I was hopeful that something like this could help to exercise artifact dependencies to get them to stable sooner. :) Is the problem that artifact dependencies are unstable, or is the problem just that bootstrap is using a version of Rust that doesn't contain support for them? I'm not generally aware of unstable features being forbidden in the compiler.

[2022-03-22 19:12] BGR360 commented on #95187
@rustbot claim

[2022-03-22 19:15] clarfonthey commented on #67792
I was adding further justification for the existence of `~const` beyond the internal requirements @oli-obk was suggesting; even if did look into the method bodies to determine whether constness was required, it wouldn't make sense with how the language is right now.

[2022-03-22 19:31] jplatte commented on #93706
This has been stabilized in #93827, I'd really prefer if we could take a step back, revert that stabilization and consider an edition-based flow for getting `?const` instead of `~const` afterall:

The few currently allowed bounds in `const fn` could be transitioned to `?const` via deprecation (plus more `?const` bounds allowed) in this edition, then the next edition can change the meaning of trait

[2022-03-22 19:31] jplatte commented on #90912
https://github.com/rust-lang/rust/pull/93827 removed this stabilization error, so maybe this could be closed? However, I'd really prefer if we could take a step back, revert that stabilization and consider an edition-based flow for getting `?const` instead of `~const` afterall... https://github.com/rust-lang/rust/issues/93706#issuecomment-1075547629

[2022-03-22 19:42] jplatte commented on #67792
For the "can't we still have `?const` if we wait for Rust 2024" discussion, I think #93706 is a good place, it tracks the feature gate for trait bounds on generics in `const fn` (and is easy to bypass currently, and recently had a stabilization PR for 1.61 merged 😱).

[2022-03-22 19:47] jhpratt commented on #93706
What's wrong with having the stabilization that's already landed _and_ switching to `?const` in a future edition?

[2022-03-22 19:47] RalfJung commented on #93706
It's not just the bounds, it's also function pointers and trait objects that already made me advocate for this change long before the bounds stabilization hole was discovered.

A `T: Trait` bound should be symmetric with `&dyn Trait`, so if the former implicitly gains `const`ness so should the latter. However, this is stable since forever:
[code]

[2022-03-22 19:48] c410-f3r commented on #95152
Thank you very much for the information, @eddyb

This issue is of my interest so please let me know if there is anything I can help

[2022-03-22 19:49] yaahc commented on #89780
@rfcbot concern try impl contradicts existing try impls

I'm really worried that introducing a Try impl on `Ready` and adding this API around `?` will significantly increase the risk of accidentally introducing logic errors. The existing try impls, undesirable as they are, propagate out a `Poll::Ready`. This new impl will instead exclusively propagate out a `Poll::Pending`. Now, using the specific

[2022-03-22 19:52] jplatte commented on #93706
Then you'd be stabilizing something just to deprecate it short after. But I guess it would be fine.

I think I've seen this argument before but forgot about it. To me personally, with how different and magic `dyn` already is, I'm not convinced by this argument but I can see where you're coming from.

[2022-03-22 19:53] pierwill commented on #95204
I would actually support requiring Python 3 in any case.

[2022-03-22 19:58] scottmcm opened #95217 "Tracking Issue for `Vec::pop_chunk` (feature `vec_pop_chunk`)"
Feature gate: `#![feature(vec_pop_chunk)]`

This is a tracking issue for the `Vec::pop_chunk::<N>` method, which returns the last `N` items of a vector.  This is a generalization of `Vec::pop`, which could be written as `try { let [x] = v.pop_chunk()?; x }`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #95218
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unres

[2022-03-22 20:05] alice-i-cecile commented on #15823
This is still an issue for me on rust 1.60.0-nightly.

[2022-03-22 20:11] rpjohnst commented on #67792
Just like the `const` in `const fn`, this is not about avoiding work for the compiler, but about specifying the intent of the API author so the compiler can double-check it. When you write `T: Trait` vs `T: ~const Trait`, that's a property that downstream users in other crates can depend on and that you promise not to break without bumping the version number appropriately.

[2022-03-22 20:13] jyn514 commented on #95204
@pierwill let's please keep discussion about 2 vs 3 in https://github.com/rust-lang/rust/issues/71818 thread and not relitigate it on each issue that mentions python.

[2022-03-22 20:15] jyn514 commented on #95141
Not in the compiler, but in bootstrap itself: https://github.com/rust-lang/rust/pull/92260#issuecomment-1038394945
(let's please move further discussion about stable vs unstable to zulip)

[2022-03-22 20:34] RalfJung commented on #93706
To add to the argument, consider the syntactic parallel between `impl` and `dyn`:
[code]
The last two are the same by definition; the first two IMO should be the same as everything else would be really confusing.

If you consider `dyn` too much magic, let me note that this also affects `const fn foo(x: fn())`, but the symmetry is more striking with `dyn`. These (traits bounds, `dyn`, `fn`) are all

[2022-03-22 20:42] cuviper commented on #45708
Yes, that should be `pattern_parentheses` (#51087) which stabilized in 1.31 (#54497).

[2022-03-22 20:42] #45708 closed

[2022-03-22 20:46] scottmcm commented on #90091
cc #95198, which proposes doing this more like the `split_first` family of things.

Those naturally would return `Option`, the same way that `first` & `split_first` return `Option` today.

[2022-03-22 20:55] fee1-dead commented on #93706
consider this:

    const fn foo(x: &dyn Trait);
    const fn foo(x: impl Trait);
    const fn foo<T: Trait>(x: T);
    const fn foo(x: fn());

If we go with the ~const approach, all of these will not impose additional requirements for the callers.

If we do ?const, some of them will be inconsistent, even if we made it consistent for the next edition it is going to be a pain to migrate, because al

[2022-03-22 20:55] RalfJung commented on #67792
Oh, I didn't realize this is being proposed. There are then two `?const` models on the table:
- `const fn uwu<T: Trait>(x: T)` means that to call `uwu` in const context, `T` must const-implement `Trait` (no matter the body of `uwu`).
- `const fn uwu<T: Trait>(x: T)` means that *we check the body of `uwu`* to determine whether `uwu` can be called with a non-const implementation of `Trait`.

The lat

[2022-03-22 21:03] RalfJung commented on #93706
Well, we could make *all* of them require `?const`, but that is super backwards incompatible.
(In `const fn`, `fn` and `dyn` are unstable -- or just have recently been stabilized together with the trait bounds. However, in `const`/`static` they are stable and having the same type mean something different in `const` vs `const fn` sounds like a Bad Idea.)

[2022-03-22 21:46] #95163 closed

[2022-03-22 21:54] BrandonDyer64 commented on #42478
`Rc` includes an `impl From<Box<T>>`

[code]

[2022-03-22 22:44] #90912 closed

[2022-03-22 22:54] RalfJung commented on #93032
Oh I see... honestly I don't think we should allow this. The tag is sufficiently different from "normal fields" that treating it differently is justified, and I don't think this comes up often enough to warrant all that complexity.

That said, this is quite similar to @eddyb's concern at https://github.com/rust-lang/rust/issues/49298#issuecomment-380615281, "partial initialization of enum variants

[2022-03-22 23:04] OSS542 commented on #92489
issue does not occur with rustc-1.59.0

[2022-03-22 23:04] #92489 closed

[2022-03-23 00:09] mrlazy1708 commented on #95210
Yes I removed every `F: FnMut(&D) -> f64` in GAT and it compiles.

[2022-03-23 00:16] workingjubilee commented on #95064
This is almost certainly the issue tracked in https://github.com/rust-lang/rust/issues/95122

[2022-03-23 00:32] workingjubilee commented on #81931
For note, here: having done some thought and research, it's not clear using a higher alignment is actually desired in practice. It may be the case that actually the desired alignment for vectors which do not precisely align to the machine's vector sizes is lower.

[2022-03-23 00:46] compiler-errors commented on #94287
Oh, totally forgot -- @lcnr, the #94440 PR I added _does_ include a test for this issue!

If you think that's sufficient, then can you close this issue? I don't have permissions to do so :smile:

[2022-03-23 01:01] Ericson2314 commented on #93032
@RalfJung Yes the options go way, but the other enums were were state machines, were I would incrementally set the next state before "yielding" in some fashion. Those would stay enums, and so it would be nice to set their tag bit first.

I do not need to read their tag bits before they were fully initialized, however, so dropping the tag write in the case of an empty variant is perhaps OK.

[2022-03-23 01:03] nagisa commented on #95184
The decision to make `bool` FFI-safe for the currently supported platforms has been made consciously (though I don't have a link to the discussion wherein the decision has ultimately been made.) Both this (for the current platforms) and the size/bit-pattern as documented in the reference are part of the stability guarantee and so neither will change. UCG is not a normative document, as far as I kn

[2022-03-23 01:05] Ericson2314 commented on #93032
Yeah the https://github.com/rust-lang/rust/issues/49298#issuecomment-380615281 is the one that I would make illegal to split into two separate loads with `?Inhabited`.

The original program might be fine if RHS eval first means there must be a temporary, but the optimization would not be able to project the non-temporary location to write the string to because the type of the containing outer loca

[2022-03-23 01:05] nagisa commented on #95184
Relevant PRs: https://github.com/rust-lang/rust/pull/46176, https://github.com/rust-lang/rust/pull/46156.

[2022-03-23 01:27] compiler-errors commented on #95203
Not sure what the best approach is here.

We could just `impl !UnwindSafe for io::Error` to restore consistency from #87869 which made `io::Error` auto-implement `UnwindSafe`.

cc #94791

[2022-03-23 01:38] nagisa commented on #95077
Please file a new issue with details filled in.

[2022-03-23 01:38] #95077 closed

[2022-03-23 01:43] nagisa commented on #95059
Somewhat relevant from a not too long ago: https://rust-lang.zulipchat.com/#narrow/stream/187780-t-compiler.2Fwg-llvm/topic/.E2.9C.94.20LLVM.20HEAD.20DWARF.20validation.20failures – there LLVM implemented some sort of check for `DW_TAG_enumeration_type` DIEs which IIRC turned out to be an incorrect thing to do to the letter of the spec.

[2022-03-23 02:36] clarfonthey opened #95226 "#[default] without #[derive(Default)] could suggest adding #[derive(Default)]"
Given the following code: https://gist.github.com/cbe5d4fb00ed34650d2873725eefbc67

[code]

The current output is:

[code]

Ideally the output should suggest adding a `#[derive(Default)]` attribute to the enum. Bonus points if it detects an existing `derive` attribute and merely adds to the list, rather than adding a new attribute.

Note that this depends on the `derive_default_enum` feature, whic

[2022-03-23 02:55] scottmcm commented on #89780
I don't have sufficient experience with the `?`s on `Poll` to really have an informed opinion about how important they are.  I just made sure they kept working in TryV2 🙃  That said, there's some obvious logic to me in just having `Poll<T>: Try<Continue = T, Break = Poll<!>>`, especially with ok-wrapping in `try` blocks.

Disallowing the current behaviour might be doable with an approach like the

[2022-03-23 03:31] #66690 closed

[2022-03-23 03:32] Gankra opened #95228 "Tracking Issue for strict_provenance"
Feature gate: `#![feature(strict_provenance)]`

This is a tracking issue for an unofficial experiment to see How Bad it would be if Rust had extremely strict pointer provenance rules.
This is roughly based on the article [Rust's Unsafe Pointer Types Need An Overhaul](https://gankra.github.io/blah/fix-rust-pointers/#distinguish-pointers-and-addresses), which is itself based on the APIs that CHERI e

[2022-03-23 03:35] scottmcm commented on #89748
As far as I know this should have nothing to do with the system llvm; the test is there to see the codegen for this specialization:

https://github.com/rust-lang/rust/blob/a4a5e79814fb4d1568fb0ea5ca50f810b071ae12/library/core/src/array/equality.rs#L147-L158

What confuses me most from that test failure is that it looks like you're getting a different *ABI* for the function.

The test is looking fo

[2022-03-23 03:39] Gankra commented on #95228
See Also:

* Initial Experiment PR: #95199
* My Live Journalling of trying this in std/rustc: https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/strict.20provenance.20std.20compat.20notes
* Ralf Discussing this Long Ago: https://internals.rust-lang.org/t/pre-rfc-usize-is-not-size-t/15369/52?u=ralfjung
* cheri_address_set: https://www.cl.cam.ac.uk/techrep

[2022-03-23 03:39] compiler-errors commented on #94755
@BarePotato are you still planning on making this change?

[2022-03-23 05:25] compiler-errors opened #95230 "Outlives error for where-clause with HRTB and no trait bounds"
The following code [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=baa60de5ea11173011785d8b8b31fbd8):

[code]

Should compile, but it does not. This is because we instantiate the predicate `for<'a> &'a mut Self: ReEmpty(U0)` here, which doesn't hold because of the HRTB.

[2022-03-23 05:47] Spoonbender commented on #43520
Triage: no change

[2022-03-23 05:56] Spoonbender commented on #49017
Triage: no change

[2022-03-23 06:01] #95002 closed

[2022-03-23 06:01] #95064 closed

[2022-03-23 06:01] #95122 closed

[2022-03-23 06:03] Spoonbender commented on #54684
Triage: no change

[2022-03-23 06:06] Spoonbender commented on #39502
Triage: no change

[2022-03-23 06:09] Spoonbender commented on #42045
Triage: no change

[2022-03-23 06:11] Spoonbender commented on #43644
Triage: no change

[2022-03-23 06:16] Spoonbender commented on #46448
Triage: resolved

This code compiles on stable `rustc 1.59.0 (9d1b2106e 2022-02-23)`

[2022-03-23 06:19] Spoonbender commented on #22194
Triage: no change

[2022-03-23 06:22] Spoonbender commented on #57284
Triage: no change

[2022-03-23 06:41] Spoonbender commented on #62725
Triage: no change

[2022-03-23 06:42] workingjubilee commented on #95168
Correct. We probably will not be adding this.

Please do not post feature requests to the issue tracker. It is hard to determine when it is appropriate to close them, and issues are in general opened in order to be closed someday.

[2022-03-23 06:42] #95168 closed

[2022-03-23 06:43] Spoonbender commented on #26735
triage: no change

[2022-03-23 06:46] Spoonbender commented on #26841
Triage: no change

[2022-03-23 06:48] Spoonbender commented on #37148
Triage: resolved

Compiles on stable `rustc 1.59.0 (9d1b2106e 2022-02-23)`
I think we can close this issue.

[2022-03-23 06:53] Spoonbender commented on #58517
Triage: original issue seems resolved, as the [example provided in the original post](https://github.com/rust-lang/rust/issues/58517#issue-411099907) now compiles. The [latest example](https://github.com/rust-lang/rust/issues/58517#issuecomment-597436500) still won't compile.

[2022-03-23 06:56] Spoonbender commented on #76112
Triage: no change

[2022-03-23 06:58] Spoonbender commented on #80409
Triage: no change

[2022-03-23 06:59] #94287 closed

[2022-03-23 07:03] workingjubilee commented on #83973
This would be easier to study further if the complete test code you used was available. However I do not think that the `rem_i64` you provided is appropriate for `std` because of the harder-to-use precondition that whiffs on farther-out values.

[2022-03-23 07:10] nielsle commented on #22194
This version seems to compile
[code]

[2022-03-23 07:12] compiler-errors commented on #90828
@TaKO8Ki are you still working on this? You seem to be working on other things. If not, can I take a look?

[2022-03-23 07:18] TaKO8Ki commented on #90828
@compiler-errors
Yes. Please!

[2022-03-23 07:20] zirconium-n commented on #93323
Seems a duplicate of https://github.com/rust-lang/rust/issues/64552,

[2022-03-23 07:52] SparrowLii commented on #95162
Regardless of this mir-opt pass, if we write the code like this:
[code]
No problem can arise because in branch2 only `discriminant(P)` is executed and not `discriminant(Q)`. This is somewhat unreasonable, since it hides potential UB risks. Perhaps `match(P, Q)` should be treated differently, like execute `discriminant(P)` and `discriminant(Q)` at once. In that case, the problem of the mir-opt pass

[2022-03-23 09:19] wweiandrew commented on #51346
@Amanieu could you help to check whether this issue can be closed?

[2022-03-23 09:49] lcnr opened #95236 "rustdoc: missing inherent impls on reexport"
https://doc.rust-lang.org/nightly/nightly-rustc/rustc_infer/traits/struct.ObligationCause.html

does not show any inherent methods for me. They are shown in https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/traits/struct.ObligationCause.html however

[2022-03-23 10:38] nsait-linaro commented on #52659
Does anyone know which version of Rust introduced windows on arm support?

[2022-03-23 12:19] chorman0773 opened #95237 "Hygiene of `use`d macro item is weird."
Thanks to Yandros (@danielhenrymantilla) and Kerster on the Rust community server for finding this.

I tried this code:

[code]

I expected to see this happen: Compliation succeeds, no runtime output, runtime terminates successfully. Alternative, Compilation fails.

Instead, this happened: Compilation succeeds, assertion failure.

### Meta
`rustc --version --verbose`:
Tested on playground (https:/

[2022-03-23 12:27] Nilstrieb commented on #95237
Running it with the exact same toolchain as the playground
[code]

[2022-03-23 12:34] chorman0773 commented on #95237
Oh right.

Confirmed with nightly, beta (1.60-beta.6), and stable (including the playground nightly and latest nightly):
Version from latest nightly
[code]

[2022-03-23 13:44] #37148 closed

[2022-03-23 14:31] crazystylus opened #95239 "`std::fs::canonicalize` fails to resolve `/dev/stdin` connected to pipe"
When program tries to canonicalizes `/dev/stdin` it should resolve to `tty`, `pipe` or `file` as per configured redirection
I tried this code and attached a pipe to stdin:
[code]
[code]
I expected to see this happen: `/dev/stdin` canonicalizes to `/proc/14063/fd/pipe:[127582]`

Instead, this happened:
[code]
### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[2022-03-23 15:10] ruuda opened #95240 "Compilation of curve25519-dalek is extremely slow with certain flags used by cargo-fuzz"
Compare these two, a normal `--release` compile of `curve25519-dalek` 3.2.0:

[code]

And now with some particular flags (these are some of the flags that [`cargo-fuzz`](https://github.com/rust-fuzz/cargo-fuzz) adds):

[code]
It takes more than 100× as long as a regular release build. This time is spent compiling `curve25519-dalek` itself, the dependencies compile within seconds. I initially disco

[2022-03-23 15:12] bstrie commented on #83139
@erikdesjardins You say that #84667 is still a problem, but that issue is closed. Should it be reopened?

[2022-03-23 15:15] joshtriplett commented on #89780
@yaahc Thank you for catching this. I was aware we had impls for Poll, but I had always naturally assumed that they would propagate Pending; the idea that they would instead propagate Ready would never have occurred to me.

I agree that we need some way to disable those instances. An edition seems like a fine approach.

[2022-03-23 15:27] ruuda commented on #95240
After some experimentation, this combination of flags alone results in about a 10× slowdown (60 seconds elapsed), but not the 100× for the full set of flags. I haven’t tried all permutations because it takes ~10 minutes every time.

[code]

[2022-03-23 15:32] sunfishcode commented on #95154
@AndreKR @Mingun @ehuss #95158 has now made it to the latest nightly Rust; would you mind testing whether it fixes this issue on Windows 7 and Windows 8?

[2022-03-23 15:57] cramertj commented on #89780
I guess I'll speak up as the person who added those impls. I still think that adding them was critical to making the transition from `-> Result<Poll<...>, E>`-returning `Future::poll` to a version which returned `Poll<T>`, as at that time it was very common to write `Future` and `Stream` impls by hand, and without these impls it would've been extraordinarily difficult and confusing to propagate er

[2022-03-23 16:04] synek317 commented on #82223
Recently, I've read the interface design rules in the "Rust for Rustaceans" book and it mentions "The Principle of Least Surprise".
I have encountered `Result<T, T>` today (binary_search) and I must admit it was very surprising that I can't just `.unwrap_whatever()` it.

Personally, I dislike using let pattern for that - it looks noisy and less clear.

Btw. @m-ou-se thanks for mentioning [partitio

[2022-03-23 16:19] pierwill opened #95242 "Unclear static lifetime message"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=18b70dc967a80be7c93640e7fc09bb16)):

[code]

The current output (on stable and nightly) is:

[code]

I can't work out where the 'static lifetime requirement is coming from here.

Is it possible the compiler is confused by the multiple de-references here?

[2022-03-23 16:39] Mingun commented on #95154
Yes, after updating to rustc 1.61.0-nightly (5f3700105 2022-03-22) (from rustc 1.61.0-nightly (58f11791a 2022-03-17)) issue seems fixed on Windows 7!

Previously:
[code]
Fixed nightly:
[code]

[2022-03-23 16:45] jyn514 opened #95244 "Suggest adding a reference for `&[str]`, not just `str`"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0682c1798c04ce89d5780a3124a755ea

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-03-23 16:46] AndreKR commented on #95154
I can confirm that as well.

[2022-03-23 16:55] ThouCheese opened #95245 "Confusing Error Message on Closure Argument Lifetimes"
Hi all, I am getting a confusing error message when omitting the types of the arguments of a closure. This may be somewhere in between of a bug and a diagnostics issue, but I am not brave enough to suggest that the compiler should make a different decision here.

Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=eedb8aa7428053e5108270963

[2022-03-23 17:20] yaahc commented on #89780
@cramertj that makes sense and I do want to highlight that I only briefly spent time writing much async and haven't used that portion of the language much recently, particularly not to the point of writing Poll impls, so I definitely want to lean on y'all's experience as much as possible here. I do not have a great intuition for how much people do or don't like these Try impls on `Poll` or how big

[2022-03-23 17:22] Urgau commented on #95239
I can reproduce the issue, however I'm not sure this is a bug. When I do `echo " " | ls -lh --color /proc/self/fd/` I can see that `0` (stdin) is a symlink to `pipe:[XXXXXXX]` but this thing doesn't exist leading to a broken symlink leading itself to the not found error.

And according to the documentation of [`realpath(3)`](https://man.cx/realpath(3)) (the libc call done by std) the function shou

[2022-03-23 17:23] SNCPlay42 commented on #95242
After elided lifetimes are written explicitly, the code is as follows, with an extra variable added to show type:

[code]

Note that `dyn Read` contains an elided lifetime, and the inferred value is different in different contexts ([reference](https://doc.rust-lang.org/reference/lifetime-elision.html#default-trait-object-lifetimes)):

* As a field of `Foo`, it becomes `dyn Read + 'static`,
* In th

[2022-03-23 17:24] joshtriplett commented on #89780
FWIW, I do favor option 3 here, and I think people's intuitions for what `.ready()?` means will tend to give the right answer, inspired by what `?` means on `Result`. `.ready()?` to me reads as "if this is ready, extract the contents of the ready variant; if it isn't, bail".

[2022-03-23 17:33] yaahc commented on #89780
I think I agree but I really want to make sure we have a strong consensus from async users as well. My feeling is that if we pick (2) we're prioritizing short term improvements over long term, and I generally thing the long term maximum has a much greater overall impact since we're talking about sacrificing usability for ~2.5 years for overall better(I think???) usability forever after.

[2022-03-23 17:42] scottmcm commented on #89780
Just brainstorming:

A potential 1b would be to add the impl immediately, but add some as-yet-unknown lints or errors to help mitigate the cons.  For example, we could have edition-specific lints or errors that look for specifically using `?` on one or the other case, or even for using *both* of them.

As a sortof 3b that's also mixing in 1, we could maybe add a `.error()?` to cover the pull-the-e

[2022-03-23 17:53] crepererum commented on #95242
@SNCPlay42 thank you very much for this explanation, it helps a lot.

I'm wondering however why

[code]

is interpreted as

[code]

instead of

[code]

. I mean is there any scenario where the object lifetime (`(dyn Read + 'b)`) is not at least as long as the reference to it (`&'a mut`)?

[2022-03-23 18:21] danielhenrymantilla commented on #93203
To clarify, this discusses the stabilization of `thread::scope()`, but not necessarily that of the `Scope<'scope, 'env>` in and of itself, right?

Because there may be naming considerations for the latter (`ScopedSpawner`, or `ScopeHandle`, rather than the abstract concept of a scope, alone[^naming]), and also the idea that maybe in the future we could get rid of that `'env` parameter on the scope

[2022-03-23 18:35] SNCPlay42 commented on #95242
I'm not sure.

In the case of an *immutable* `&` reference, using one lifetime is unproblematic - `&'a dyn (Trait + 'b)` where `'b : 'a` (and this bound is implied) *can* be coerced to `&'a dyn (Trait + 'a)`.

For `&mut` references, [RFC 599](https://github.com/rust-lang/rfcs/blob/master/text/0599-default-object-bound.md#detailed-design) does mention that `&'a mut (dyn Trait + 'a)` can be coerced

[2022-03-23 18:37] m-ou-se commented on #93203
No, the FCP is for everything listed in this tracking issue. I don't see much reason to keep the type unstable.

I don't think we should rename the `Scope` type to anything like `ScopedSpawner`, as I explained [here](https://github.com/rust-lang/rust/pull/94559#discussion_r821504958).

("I don't think we should rename Scope to Spawner, because I imagine Scope might be able to do more than just spa

[2022-03-23 19:00] JakobDegen commented on #95162
@SparrowLii so, this turns out to not be true right now, see [this example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8552f8441bfdcff4ca3beddfe9c3483c). That being said, I do think you make a good point here in general, we could probably make this opt easier to execute (and be sound) by adjusting MIR building

[2022-03-23 19:01] workingjubilee commented on #77866
From the perspective of a little more experience, this seems to be "not actually a bug", just an annoying "feature" in how LLVM works. We have to tightly control how we expose our interfaces to C code, rather than assuming that LLVM intrinsics expose anything FFI friendly. Closing.

[2022-03-23 19:01] #77866 closed

[2022-03-23 19:03] workingjubilee commented on #75373
This example compiles now. I am assuming all the intrinsics were implemented, and probably any need for further intrinsic requests can go to stdarch. I am closing this.

[2022-03-23 19:03] #75373 closed

[2022-03-23 19:13] crazystylus commented on #95239
Once the ls command stops executing, the pipe gets deleted and you won't be able to find it. If you ignore leave python aside, you can try the same in bash. This pipe will exists till readlink command finishes executing.
[code]

[2022-03-23 19:44] #83104 closed

[2022-03-23 19:51] ArthurKValladares opened #95248 "ICE: rustc' panicked at 'called `Option::unwrap()` on a `None` value', .../definitions.rs:452:14"
Sorry for not providing a lot of details, I currently can't dedicate the time to find a minimal repro. I'll try to at least update the post with a backtrace in the near future.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-03-23 20:03] the8472 commented on #95240
Setting CGUs to 1 reduces parallelization opportunities, a 10x slowdown in wall-time wouldn't be surprising, but the user-time shouldn't go up significantly. The 50x increase in user-time probably comes from the other parameters.

[2022-03-23 20:05] apiraino commented on #95178
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2395178.20Windows.20Command.20regression.20-.20broken.20paths) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-03-23 20:08] apiraino commented on #95154
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2395154.20Windows.208.20is.20returning.20ERROR_INVALID_HANDLE.20instead.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-03-23 20:16] apiraino commented on #95203
@xfix which non-64bit platform does reproduce the issue?

[2022-03-23 20:28] xfix commented on #95203
All platforms that have `std` and `target_pointer_width = "64"`, see https://github.com/rust-lang/rust/blob/547369d3d881a9eb1de0d3e368f9a59aa7c648b0/library/std/src/io/error.rs#L4.

[2022-03-23 20:29] ehuss commented on #95154
Confirmed this is resolved for Windows 8. Thanks!

[2022-03-23 20:29] #95154 closed

[2022-03-23 20:36] workingjubilee commented on #84020
This lacks a clear reproducer, is mainly a bug in LLVM (not Rust), and apparently no longer happens. I am willing to leave this open for a while longer but it's a clear heisenbug that has questionable value on the tracker. I am leaving this note here for a future triage: if it hasn't gained an MCVE or test, maybe we should just chalk this issue up to the persistent tendency towards entropy in the

[2022-03-23 21:23] LeSeulArtichaut commented on #91611
Currently trying to take a stab at this. @rustbot claim

[2022-03-23 21:28] BGR360 commented on #84020
Probably best to file an issue for this and get it fixed /s

[2022-03-23 21:56] camelid commented on #92656
I think of structs and enums as being very similar (they're both algebraic data types), and in fact, in languages related to Rust like Haskell and OCaml, the same language feature is used to represent both structs and enums. So I think of them as belonging to the same category, whereas traits are a different concept (behavior rather than data).

[2022-03-23 21:56] camelid commented on #92656
I'll close this issue since it seems many people prefer the current design.

[2022-03-23 21:56] #92656 closed

[2022-03-23 22:59] cramertj commented on #89780
For those that prefer (3) here, what would the following code samples look like under your preferred replacement? These were (are?) common patterns in manual `Future`/`Stream` implementations.

[code]

Note

[2022-03-23 23:00] nagisa commented on #42515
I wouldn't necessarily say there is no design that can make this work, but it is definitely is going to require a large amount of work to make it happen, and would most likely need to happen across an edition boundary.

The most appropriate way to get a similar, but not equivalent, behaviour would be to use the `is_*_feature_detected` macros. These, sadly, share a similar limitation in that they d

[2022-03-23 23:14] ia0 commented on #85665
Is there a workaround that doesn't need to monomorphize?

Also linking to the 2 relevant issues:
- #46062 the error message
- #76560 the problematic feature

[2022-03-23 23:51] ExpHP commented on #44491
I'd like to copy a [possible concern](https://users.rust-lang.org/t/making-a-data-structure-generic-is-causing-much-pain/72482/10) I raised on URLO.  The concern is not with implied bounds directly, but with the practice of putting bounds on the type (which this feature will undoubtedly encourage).

---

It is already commonly recognized that placing bounds on a `struct` rather than on `impl`s pre

[2022-03-23 23:59] thomcc commented on #95203
Ah, `repr_bitpacked::Repr` should have `PhantomData<ErrorData<Box<Custom>>>` or something along those lines. I'll get a fix for this up later this evening or tomorrow.

[2022-03-24 00:08] Urgau commented on #95239
No, a broken symlink named `pipe:[XXXXXXX]` exist but because it's invalid (in this case broken) it result when trying to acces it in a not found error.

The man page of `readlink` state that:
[code]
meaning that it has a similar behavior to the python implementation in that it doesn't validate that `pipe:[XXXXXXX]` is valid contrary to `libc::realpath` function.

[2022-03-24 00:17] Urgau commented on #95239
The difference between `libc::realpath` (and thus Rust std) and `python`/`realpath` is that for the later the last component of the returned path maybe not be "valid"/"exist" contrary to the former how only return a path that can be fully resolved (idk if it's the terminology, sorry if it's not).

[2022-03-24 00:21] Gankra commented on #54341
progress report: just landed conditionally-available typedefs for __int128 and friends in libc on many major aarch64 platforms: https://github.com/rust-lang/libc/pull/2719

So at least on the platform where we have the right def and it's part of like the hardware vendor's ABI we can do FFI. I am sadly forced to agree with @nagisa's assessment that the correct fix is *still* to fix upstream LLVM, g

[2022-03-24 00:32] fintelia commented on #44491
It does seem weird that bounds on a struct can produce a type even more restrictive than `!`:
[code]

[2022-03-24 00:33] kpreid commented on #44491
To address unnecessary bounds: what if there was a Clippy `suspicious` lint against bounds that aren't used in the body of the type (e.g. a field whose type is an associated type)?

[2022-03-24 00:58] 89z commented on #72241
https://github.com/mstorsjo/llvm-mingw/issues/263

[2022-03-24 01:15] compiler-errors commented on #95147
@rustbot claim

[2022-03-24 01:36] jyn514 commented on #95136
Only half-related to this issue, but I would *love* for `cargo fmt` to work out of the box. It looks like `cargo fmt -- --unstable-options --skip-children` already works - I guess we don't use that so we can use @the8472's optimizations to make rustfmt faster? Could we possibly move those to cargo instead of special-casing x.py?

[2022-03-24 01:43] #90324 closed

[2022-03-24 01:43] rust-highfive opened #95258 "`miri` no longer builds after rust-lang/rust#95250"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#95250, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-03-24 01:45] Mark-Simulacrum commented on #95136
My recollection is that we enable unstable rustfmt features in rustfmt.toml and such that mean we couldn't do cargo +beta fmt anyway (and RUSTC_BOOTSTRAP isn't supported by rustfmt).

[2022-03-24 01:46] jyn514 commented on #95136
Ah right, people would still have to use two separate toolchains for `cargo build` vs `cargo fmt` (unless we get rustup to support this in rust-toolchain.toml somehow). Probably not worth investing time into, then.

[2022-03-24 03:06] erikdesjardins commented on #83139
I should've been clearer: #84667 occurred due to a bug in LLVM codegen related to inline-asm stack probes. It is not a problem for current-day Rust users, because we disabled inline-asm stack probes. But the underlying LLVM bug still exists, which prevents us from enabling inline-asm stack probes.

(I do not know if this means it should be reopened, presumably not, but hopefully this gives you eno

[2022-03-24 03:06] peterwaller-arm commented on #79791
Driveby comment, I perceive from the error message libfdt is from `aarch64-linux-gnu` and the linker being invoked is `cc`. Is your configuration correct? It seems you need to specify your linker as `musl-gcc`, or similar, to have the musl libraries linked (and not the GNU ones). See also:
https://github.com/rust-lang/rust/pull/90846#issuecomment-1076995220 https://github.com/rust-lang/rust/issues

[2022-03-24 03:18] jackh726 commented on #95034
Uh this is complicated. Just trying to reduce the MCVE a bit. Here are some failed attempts:
- Removing the lifetime on `Object`: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c49387fb28f1fa1737df62e3b21a2d99
- Removing the impl for `(A,)` and just using `u8` instead of `(u8,)`: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=31d22318689eb052b4abc8

[2022-03-24 03:20] pthariensflame commented on #95122
@workingjubilee Should I open a separate issue for the `pmuv3` part?

[2022-03-24 04:14] pierwill opened #95261 "Consider making `RemoveFalseEdges` a MIR phase"
Currently this is a [MIR pass](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir_transform/remove_false_edges/struct.RemoveFalseEdges.html). This comment from @ecstatic-morse suggests making it a [`MirPhase`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/enum.MirPhase.html).

https://github.com/rust-lang/rust/blob/6970f88db3ac2a9cefa9c585228291ae1f18fb04/compiler/rustc_m