[2017-11-08 16:22] partim commented on #44868
@clarcharr, are you still planning on working on this or do you mind if I give it a shot?

[2017-11-08 16:25] marshallpierce opened #45874 "Using x86 SIMD produces "LLVM ERROR" inside doc tests, but not in other code"
I have some code (x86 SIMD) that requires `target-feature`, but that code is optional and only used when the relevant `feature`s are enabled. This works fine in library code, tests, and benchmarks, but not in doc tests, where I get an "LLVM ERROR" when SIMD code is used.

I've created a branch of the state of my project showing the issue: https://bitbucket.org/marshallpierce/stream-vbyte-rust/bran

[2017-11-08 16:28] wesleywiser commented on #45873
I'm working on this.

[2017-11-08 16:28] aalub commented on #23818
To flush or not to flush... (C)

Gentlemen, I'm fully aware the #23823 #25555 are closed, but I have a question on the same thing: How can I write simple and consistent code like C's
[code]
in Rust? Which would let me input some text on the same line with the prompt for it, without using `std::io::prelude::*`, calling `io::stdout().flush()` and doing alike fancy things...

I try to call `print!("e

[2017-11-08 16:34] GuillaumeGomez commented on #44229
Hum sure. Won't have time before monday though. If you have time, just write a little something and I'll publish it when I have 5 minutes.

[2017-11-08 16:44] michaelwoerister opened #45875 "incr.comp.: Don't encode Fingerprint values with leb128."
Since `Fingerprint` values have roughly random distribution, most of them will not profit from being stored in a variable-length encoding:
- encoding to leb128 takes additional time, and
- in the common case, the leb128 representation of the two 64 bit numbers in a `Fingerprint` will take up around 160 bits, so we are even wasting space.

We should not do that. `UseSpecializedEncodable` and `UseSp

[2017-11-08 17:23] NoelWidmer opened #45876 "ICE: Use a type that has already been pub used."
**Summary**:
The compilation of my source panics. I believe this happens because I `use` a `struct ` that has already been `pub use`d. You may be able to reproduce the issue using [this github commit](https://github.com/NoelWidmer/ink-compiler/tree/9303ccda3125f3eda31d5776addc2af9a5514fe2) from my repository.

**I tried this code:**
The following source is inside the file: `src\syntactic_analysis\

[2017-11-08 17:27] dtolnay commented on #45860
I think `and_if` is a brilliant name. Really great idea and strong contender. At this point I would still lean toward `filter`.

I find that the `and`/`or` methods on Option make perfect sense and the names reflect what the method does, but it still takes me multiple seconds when I see something like `or_else` or `map_or` to reverse engineer what that means in terms of argument types and return ty

[2017-11-08 17:28] #45731 closed

[2017-11-08 17:53] nikomatsakis commented on #45857
@kennytm those sound like solid arguments to me

[2017-11-08 18:20] nikomatsakis commented on #40800
@arielb1 and I were talking and I've been kind of failing to find the time to write up our conclusions. In the case of this question, we were wondering if would be possible to remove the "coerce into `!`" semantics **entirely** -- it's not clear why it's ever useful. There are some examples in `run-pass` of things that used to do it in the while, but they are very much corner cases. We'd be intere

[2017-11-08 18:20] nikomatsakis commented on #45683
@arielb1 indeed.

[2017-11-08 18:21] nikomatsakis commented on #45683
@eddyb do you have a specific example of something you would *want* to warn, and something you would *not want*?

[2017-11-08 18:35] cramertj commented on #45841
We've just updated our toolchain-- I'll let you know if we see the ICE again.

[2017-11-08 18:37] shepmaster commented on #45876
I was unable to reproduce the ICE from any of the 10 most recent commits of that repository (starting at 41e849b3fea70753e12a2e04444c80593fb49837). I attempted on macOS with Rust 1.21.0.

[code]

[2017-11-08 18:37] shepmaster commented on #45876
I was unable to reproduce the ICE from any of the 10 most recent commits of that repository (starting at 41e849b3fea70753e12a2e04444c80593fb49837). I attempted on macOS with Rust 1.21.0.

[code]

[2017-11-08 18:46] clarcharr commented on #44868
I completely forgot! Go ahead and I can still offer to review it after. :)

[2017-11-08 19:08] NoelWidmer commented on #45876
@shepmaster None of the 10 commits you used can be used to reproduce the issue. I linked the commit that I can use to reproduce the issue on 2 of my machines.

[2017-11-08 19:20] shepmaster commented on #45876
Yep, I can confirm I see the ICE now.

[2017-11-08 19:40] shepmaster commented on #45876
Here is a reduced testcase:

[code]

[code]

[2017-11-08 19:49] shepmaster commented on #45876
It appears to me that `item::visibility::Visibility` is reachable through multiple paths:

1. `pub use self::visibility::*;` -> `item::visibility::Visibility`
1. `use Visibility;` -> `pub use self::item::*;` -> `item::visibility::Visibility`

I'd guess the problem lies therein

[2017-11-08 19:55] est31 commented on #35896
So right now using the macros of a different crate works by doing:

[code]

However, with [RFC 2126](http://rust-lang.github.io/rfcs/2126-path-clarity.html), `extern crate` is being brought onto the path of deprecation, meaning that there will be lints for it and maybe even hard errors in a future epoch.

Now the [epochs RFC](http://rust-lang.github.io/rfcs/2052-epochs.html) has made one thing ver

[2017-11-08 20:00] #45134 closed

[2017-11-08 20:03] eddyb commented on #45683
@nikomatsakis Copying a `Range` around shouldn't warn (just like any other pair). Using a `Copy` variable implementing `IntoIterator`/`Iterator` (e.g. a `Range`) after iterating on it with a `for` loop should warn, as previously discussed.

[2017-11-08 20:03] durka commented on #45871
What specifically would make the suggestion better?

[2017-11-08 20:27] xhallix commented on #45871
An improvement could be, to propose the correct type, `<std::io::BufReader<std::fs::File>` instead of `<_>` , since this is known to the compiler.
Another thing might be, if we have 2 different suggestion, they could be marked as such.
I really like the compiler and the hint it provides, so this is a small enhancement, which will especially help newcomers

[2017-11-08 20:30] durka commented on #45840
The problem is that `Filter` et al can't return a "better" size hint because the trait contract is that the lower bound must actually be a lower bound. Maybe that should be relaxed?

Another possibility is `collect` could look at the upper bound and be smarter about what capacity to use? This wouldn't always be advantageous because you have no idea how many elements will be filtered out.

You can

[2017-11-08 20:53] nikomatsakis commented on #45438
@est31 thanks! That was indeed a soundness fix. Seems plausible that this is expected fallout.

[2017-11-08 21:16] jseyfried commented on #35896
@est31

This is already implemented. `#[macro_export]` macros from upstream crates appear in the upstream crate's root. For example,
[code]

[2017-11-08 21:30] steveklabnik commented on #23818
These kinds of questions are better served by https://users.rust-lang.org/ than the issue tracker.

[2017-11-08 22:27] #43703 closed

[2017-11-08 22:43] rkruppe commented on #41799
#45205 has been merged, so there's now an opt-in solution to this issue (`-Z saturating-float-casts`). Presumably we'll want to make this beavior the default at some point in the future &ndash; does anyone have opinions on when that should be and what prerequisites there are (if any)?

[2017-11-08 22:44] bluss commented on #35896
We talked about this somewhere before @jseyfried, so I'll remind again that macro reexporting is stable when doing it through glob `use`. Crate `frunk` already relies on it.

[2017-11-08 22:49] rkruppe commented on #10184
#45205 has been merged, so anyone can now **measure the performance impact of saturation** by passing  `-Z saturating-float-casts` via `RUSTFLAGS`. [1] Such measurements would be very valuable for deciding how to proceed with this issue.

[1] Strictly speaking, this won't affect the non-generic, non-`#[inline]` portions of the standard library, so to be 100% accurate you'd want to locally build st

[2017-11-08 23:00] Gankro commented on #10184
@rkruppe I suggest starting an internals/users page to collect data, in the vein as https://internals.rust-lang.org/t/help-us-benchmark-incremental-compilation/6153/27 (we can then also link people to that, rather than some random comments in our issue tracker)

[2017-11-08 23:01] est31 commented on #41799
@rkruppe I'd say we should do a public call, asking people to test the feature and report back. Then if there are no major issues after idk, 2-3 weeks (some people only read the weekly newsletter), we could flip the defaults and allow an opt out.

It could stay this way on the nightly channel and if there continue to be no issues, we can let it ride the trains and include it in the next beta to be

[2017-11-08 23:05] est31 commented on #10184
@rkruppe you should create a tracking issue. This discussion is split up into two issues already. That's not good!

[2017-11-08 23:25] japaric commented on #45802
I saw no open PR to fix this so I opened #45882. (I hope no one minds)

[2017-11-08 23:41] rkruppe commented on #41799
@est31 Huh, that's a bit more scrutiny than I would have expected. To be clear, in the context of this issue I am only talking about u128 -> f32 casts, the float -> int direction covered by #10184 can and should be rolled out independently. With that in mind, do you think the change to u128 -> f32 casts is more likely to cause regressions than the average bug fix?

[2017-11-09 00:01] rkruppe commented on #10184
@Gankro Yeah I agree, but it may be a few days before I find the time to write that post properly, so I figured I'd solicit feedback from the people subscribed to this issue in the mean time.

@est31 Hmm. Although the -Z flag covers both cast directions (which may have been a mistake, in retrospect), it seems unlikely that we'll flip the switch on both at the same time, and there's little overlap

[2017-11-09 00:14] avkonst opened #45883 "Questions related toolchain for cross-compiling on Windows for Linux"
I have searched and read number of posts, Q&As and forums, but can not find solid working answer to the following questions. Could you please let me know if it is possible and if there is any documentation available. Sorry, I am bit new to this.

**Question 1**: I have found that it is relatively easy to compile from Linux to Windows using mingw. Is there an analogy to cross-compile from Windows t

[2017-11-09 00:47] tinaun commented on #45883
if you have wsl installed, compiling for linux is as simple as installing rust and cargo on wsl and running ‘cargo build’ in wsl bash. I don’t know how vs works, but in vs code it’s pretty easy to set up tasks that call commands through wsl.

I don’t know if a windows install of cargo will ever detect toolchains installed in wsl, as the file system differences make looking at wsl through windows d

[2017-11-09 01:01] Michael-F-Bryan opened #45884 "Invalid casts for C-style enums should trigger the "overflowing_literals" lint"
Is there any reason why the "integer out of range" lint doesn't trigger when you cast a C-style enum to an integer type which isn't big enough?

For example say I have the following program:

[code]

When you compile it, you get a warning on the integer cast, but not the `Foo::C as u8` line.

[code]

I would have thought the compiler knows what integer size a C-style enum can fit into and then be

[2017-11-09 03:09] sinkuu opened #45885 "ICE: Rvalue::Discriminant on Lvalue of type"
Compiling this code with mir-opt-level=2 or higher produces an ICE.

[code]

### backtrace:
<details>

[code]

</details>

### rustc --version --verbose:
<details>

[code]

</details>

[2017-11-09 03:36] BartMassey commented on #23818
The problem here is that a bunch of new Rust users are going to be confused by behavior that isn't well-documented and in my opinion a bit surprising, without being given any warning in any official documentation, and without being given any obvious path to do what is a very common operation: printing a prompt and getting a response.

Python's solution is to have the `input()` function take an opt

[2017-11-09 04:44] VermillionAzure commented on #38356
@jan-hudec Yeah, I guess you're right. But the order of evaluation will definitely matter if side-effects are allowed at compile-time, unless you can guarantee a certain module does not produce side-effects. Is a module "type-able?"

[2017-11-09 04:44] sagiegurari commented on #45494
Looks like this one was fixed yesterday. Thanks.

[2017-11-09 04:44] #45494 closed

[2017-11-09 04:57] canndrew commented on #40800
I'm happy to do whatever needs to be done to get `!` stable. I'm about to camping for the next two weeks though, so I won't be able to start until after that...

[2017-11-09 07:12] SimonSapin commented on #38356
I think that a procedural macro “probably shouldn’t” have side effects because some details (see below) cannot be relied on, but we likely won’t have a type-system-like mechanism in the language to force them to be purely functional.

These details include ordering of execution and concurrency compared to other proc macros, and whether a proc-macro is re-executed in an incremental build. For the l

[2017-11-09 07:27] Manishearth commented on #38356
I think we should avoid guaranteeing anything about side effects (i.e. proc macro crates are not allowed to rely on side effects working, nor are they allowed to rely on being retriggered for anything other than a code change in the module in which they are applied (so, no global state).

We can later relax this requirement with a way to specify rerun-if-changed and other things.

(I've got a half

[2017-11-09 08:36] aalub commented on #23818
Sorry. But my *How can I* question arouses out from the decision not to flush `stdout` neither after `print!()` nor before `read_line()` calls discussed here. And I utterly comprehend the former (locking console for flushing any unfinished line would slow down performance), but am still very disappointed with the latter.

Constructing complex output by multiple sequential `print!()` calls is a com

[2017-11-09 09:09] Havvy opened #45886 "E0084 and E0517 should show both repr attribute and struct"
You can trigger both errors by using `#[repr(packed)]` on an enum with no variants.

[code]

The errors given out are:

[code]

E0517 shows the attribute, but does not show the enum. E0084 shows the enum, but does not show the attribute. Both errors should show both.

[2017-11-09 10:13] LukasKalbertodt commented on #39658
@alexcrichton Right now, the `AsciiExt` trait is implemented by just calling the inherent methods. It's done by a macro to avoid duplicate code. If we don't remove all `ascii_ctype` methods from `AsciiExt`, I need to move the real implementation back to the `AsciiExt` impl and cannot use the macro for `str` and `[u8]` anymore.

It's not a tragedy, but it would be a bit annoying and produces a lot

[2017-11-09 10:54] frontsideair commented on #22639
I also wanted to match `IntErrorKind::Empty` in the number game to abort on EOF, turned out to be impossible.

[2017-11-09 11:19] est31 commented on #38356
IMO proc macros / custom derive should be put into a sandboxed environment without any I/O or other connection to the outside and be evaluated by miri, maybe with a cretonne JIT.

[2017-11-09 12:12] arielb1 commented on #45885
Sounds like someone (I bet inlining) is not normalizing after substituting.

[2017-11-09 12:15] rurban commented on #4928
XID_Start / XID_Continue has one small bug, and is not enough to get proper unicode identifiers safe. See also http://websec.github.io/unicode-security-guide/
You need to add mixed script protections (TR39 Restriction levels), normalize them (to NFC or NFKC_Casefold), and maybe disallow confusables.
A short overview is here: http://perl11.org/blog/unicode-identifiers.html

bug: U+3164 HANGUL FILLE

[2017-11-09 12:42] steveklabnik commented on #28979
I'd like to cross-link this comment: https://github.com/rust-lang/rust/issues/4928#issuecomment-343137316

[2017-11-09 15:07] durka commented on #38356
@est31 that's a nice idea but stuff like diesel infer_schema! already
exists, bindgen needs to read files and run programs, even include! and
env! use I/O.

On Nov 9, 2017 06:19, "est31" <notifications@github.com> wrote:

[2017-11-09 15:14] mikhail-m1 commented on #45642
working on it

[2017-11-09 15:42] oconnor663 commented on #43592
Closing this since https://github.com/rust-lang/rust/pull/44965 landed a while ago.

[2017-11-09 15:42] #43592 closed

[2017-11-09 15:47] Vurich opened #45888 "Confusing error message when deriving `PartialOrd` for structs containing mutable slices"
Minimal reproduction:

[code]

This produces the following error message repeated precisely 8 times. I cannot tell you why this is, I have no idea. I assume it's a failure in the `PartialOrd` derivation code that's not being reported correctly.

[code]

[2017-11-09 16:07] nikomatsakis opened #45889 "[NLL] extend MIR type checker to check aggregate rvalues"
Once #45825 lands,  we will be using the MIR type checker to drive the NLL region checker. This means we'll have to fix a few omissions. One of them is that MIR type checker does not check MIR rvalues (expressions that construct a value) for internal validity.

Here is an example NLL program affected by this:

[code]

If you run this with `-Znll -Zborrowck-mir`, you'll see that it emits just one e

[2017-11-09 16:09] nikomatsakis commented on #45889
This should probably be done based off my branch from #45889, as the MIR type checker has changed somewhat.

[2017-11-09 16:37] JRegimbal commented on #45787
Maybe "As name" would be better to just match the other tabs?

[2017-11-09 17:28] nikomatsakis commented on #44837
Here is some pseudocode for the various permissions I think we might want to check:

https://gist.github.com/nikomatsakis/90102114e8ba5792d4e28a6960942ae6

In each case, there is a function that, given an lvalue, tells you whether it can be mutated or whether it can be moved from. The function returns `Err(lv)` if the action is illegal, in which case `lv` is the lvalue we can "blame" for that.

[2017-11-09 17:33] durka commented on #45888
At least on nightly it has been fixed to deduplicate the errors. However the real problem is code like this (adapted from the derive expansion):

[code]

For some reason the same issue does not occur with `PartialEq`, only `PartialOrd`. Here are the impls: [==](https://doc.rust-lang.org/1.21.0/src/core/slice/mod.rs.html#2479-2488), [<](https://doc.rust-lang.org/1.21.0/src/core/slice/mod.rs.html#25

[2017-11-09 17:34] Nashenas88 commented on #45889
I volunteer to take this one :-)

[2017-11-09 17:35] nikomatsakis commented on #42112
@estebank hmm I don't know. I've long wanted *some* kind of "wrapping" for long labels, but that output you showed doesn't look all that clear to me, and it seems like a shame to invest a lot of effort into it.

That said, some kind of minimal effort where we just truncate a long line (perhaps even to a hardcoded width of 80) if the highlight doesn't include that part might be ok.

[code]

That sa

[2017-11-09 17:44] Seeker14491 commented on #45787
The "As parameters" and "As return value" tabs only return results that match the whole search text exactly, while the first tab also returns items that partially match the search text. Because of this distinction, I prefer "in" over "as".

[2017-11-09 18:11] rep-nop commented on #44690
@nikomatsakis so is that something that we're going to have to keep track of or..? Also, any idea where the whitelist will be located inside of the compiler? Currently, I just have it inside of the function as an array and the function checks against just the tool name (so should I make an attribute list for each one of them also?) and error if its not one of the whitelisted tools. The RFC talks a

[2017-11-09 18:18] Gankro commented on #10184
I have drafted up an internals post: https://gist.github.com/Gankro/feab9fb0c42881984caf93c7ad494ebd

Feel free to copy that, or just give me notes so I can post it. (note I'm a bit confused about the `const fn` behaviour)

[2017-11-09 18:57] sunfishcode commented on #10184
One additional tidbit is that the cost of float->int conversions is specific to the current implementation, rather than being fundamental. On x86, `cvtss2si` returns 0x80000000 in the too-low, too-high, and nan cases, so one could implement `-Zsaturating-float-casts` with a `cvtss2si` followed by special code in the 0x80000000 case, so it could be just a single compare-and-predictable-branch in th

[2017-11-09 19:20] jgouly commented on #45738
Been very busy and unable to make progress the last few days. Hoping to get this near finished at the weekend.

[2017-11-09 19:26] bstrie opened #45891 "stdlib docs still link to the first edition of the book"
For example, the documentation for `Iterator::for_each` still links to the page on `for`-loops in the first edition of the book: https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.for_each . Fortunately, it should be easy to grep for all links to the book. Find all such links and replace them with links to the relevant pages in the second edition of the book (note that due to reorganiza

[2017-11-09 19:55] Xanewok commented on #45875
I’d like to take that on, since it seems self-contained and at least I know the Fingerprint type :laugh:
Would you mind posting more (specific) mentoring instructions on how would you like to see it implemented?

[2017-11-09 20:07] andoriyu commented on #45629
In case you need crate this is happening in — https://github.com/Inner-Heaven/libwhisper-rs

[2017-11-09 20:11] bstrie commented on #27800
Those following this thread will probably be interested in https://github.com/crossbeam-rs/rfcs/pull/22 .

[2017-11-09 20:20] BartMassey commented on #23818
There are other places where some kind of convenient flush would be useful. One example is printing some non-line-terminated string before an expensive computation.

[code]

I'm not too dogmatic about what's done about these cases, but I feel like at least one of the solutions proposed above should be implemented.

[2017-11-09 20:21] JRegimbal commented on #45787
Ah my bad I didn't understand the difference between the name search and the parameter/return value searches.

[2017-11-09 20:32] arielb1 opened #45894 "[MIR-opt] MIR inlining handles closures incorrectly"
[code]

Code:

[code]

Expected result: no LLVM assert, should work.

[2017-11-09 20:34] est31 commented on #45891
The second edition still has a big red notice "You are reading a **draft** of the next edition of TRPL.". If it is ready to be switched to that notice should maybe be removed.

[2017-11-09 20:38] bstrie commented on #28728
Note that https://reviews.llvm.org/rL317729 has landed in LLVM. This patch is planned to have a follow-up patch which makes infinite loops exhibit defined behavior by default, so AFAICT all we need to do is wait and eventually this will be resolved for us upstream.

[2017-11-09 20:57] cramertj commented on #45841
@michaelwoerister We just saw it again with the nightly from 2017-11-08:

[code]

[Full logs](https://logs.chromium.org/v/?s=fuchsia%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8963379219134877216%2F%2B%2Fsteps%2Fbuild_fuchsia%2F0%2Fsteps%2Fninja%2F0%2Fstdout)

Possibly worth noting: we're using package replacement to substitute some of our in-tree forks of public crates. Could that be borking th

[2017-11-09 21:10] nikomatsakis commented on #45438
Since this is the result of a bugfix, going to close this.

[2017-11-09 21:10] #45438 closed

[2017-11-09 21:11] nikomatsakis commented on #45034
@dotdash ❤️

[2017-11-09 21:12] nikomatsakis commented on #45087
Fix is in queue, nice work @arielb1.

[2017-11-09 21:14] nikomatsakis commented on #36799
triage: P-medium

It seems like we are going to wait until we can fix this properly.

[2017-11-09 21:18] nikomatsakis commented on #45768
triage: P-high

Do we believe this is fixed?

[2017-11-09 21:19] nikomatsakis commented on #45768
Assigning to @alexcrichton since probably related to ThinLTO.

[2017-11-09 21:22] nikomatsakis commented on #44224
Closing as resolved.

[2017-11-09 21:22] #44224 closed

[2017-11-09 21:25] nikomatsakis commented on #45466
Can we bisect this? Seems like it would be *somewhat* painful, but probably the best way to find the problem.

cc @dotdash -- any chance you want to swoop in a fix this? =)

cc @Mark-Simulacrum @est31 -- do you folks have any nifty way to bisect this? I guess since it doesn't error it would be difficult, unless we added some sort of snooping thing. We could do it by hand, presumably.

[2017-11-09 21:26] nikomatsakis commented on #45466
triage: P-high

[2017-11-09 21:26] nikomatsakis commented on #45466
We will revisit next week.

[2017-11-09 21:28] nikomatsakis commented on #45841
@cramertj -- is it possible to give us some steps to reproduce? I know it's sporadic, but it'd be interesting to see if we can observe it locally.

[2017-11-09 21:30] nikomatsakis commented on #45841
triage: P-high

We'll revisit next week, hopefully in the meantime we'll figure out some more steps.

[2017-11-09 21:32] arielb1 commented on #45841
This looks like corrupt metadata. Could you try to find some way of reproducing this problem on an architecture we can run on?

Also, are the build machines normal linux machines, or do they have some weird setup (e.g. running Fuchsia themselves, or using some weird network filesystem?).

[2017-11-09 21:39] kjetilkjeka commented on #40673
When testing it seems like `impl<T: Clone> for ManuallyDrop<T>` works on nightly/beta, but not on stable. I can't seem to find the PR/issue tracking this, does anyone have a link? Do anyone know if this will this land for 1.21?

[this](https://travis-ci.org/UAVCAN/uavcan.rs/builds/299864203?utm_source=github_status&utm_medium=notification) is the test I'm referring to.

[2017-11-09 21:43] #45839 closed

[2017-11-09 21:47] arielb1 commented on #45841
@cramertj

Could you try to reproduce the crash with the `RUST_LOG=info` environment variable? That should give some information about what exactly was being loaded.

[2017-11-09 21:49] dbort commented on #45841
@arielb1 The build machines are normal Debian Linux machines, building from local disk.

[2017-11-09 21:51] est31 commented on #45466
Rust 1.20 doesn't feature the bug. Rust 1.21 does.

My setup was like (deleting the target dir in each step):

[code]

Bisection output:

[code]

Can't get any closer because the regression is apparently beyond the deletion event horizon :/. 90 days is roughly 3 months, so it would make sense. Not entirely sure though because c5e2051f0 was available...

Either way, this is the commit range I could

[2017-11-09 21:54] arielb1 commented on #45466
Most suspicious commit:
#43595 - Add an overflow check in the Iter::next() impl for Range<_> to help with vectorization.

[2017-11-09 21:57] cramertj commented on #45841
@arielb1 I'm working on getting a repro with RUST_LOG=info.

[2017-11-09 22:11] cramertj commented on #45841
[Repro with RUST_LOG=info](https://logs.chromium.org/v/?s=fuchsia%2Fbuildbucket%2Fcr-buildbucket.appspot.com%2F8963366217665653680%2F%2B%2Fsteps%2Fbuild_fuchsia%2F0%2Fsteps%2Fninja%2F0%2Fstdout)

[2017-11-09 22:18] RalfJung commented on #45839
Fine for me.

I'd say this depends on their reasoning. If they somehow introduce a rule that this ought to be UB, we have a problem -- I don't see any good way to rule out such safe code. I would also be surprised if it was not possible to expand this miscompilation to trigger actual UB (notwithstanding the fact that miscompilations giving the wrong results in safe code aren't really less bad than

[2017-11-09 22:32] arielb1 commented on #45841
We believe that this is caused by the compiler writing metadata in parts, so that another instance of the compiler can read metadata while it is being partially written to. Should be fixable by doing an atomic rename.

[2017-11-09 22:34] estebank commented on #43882
@gaurikholkar, are there outstanding tasks for this issue?

[2017-11-09 22:35] rkruppe commented on #10184
@Gankro

Awesome, thanks a lot! I left a few notes on the gist. After reading this, I'd like to take a stab at separating u128->f32 casts from the -Z flag. Just for the sake of getting rid of the distracting caveat about the flag covering two orthogonal features.

[2017-11-09 22:37] arielb1 commented on #45841
@eddyb said he'll fix this.

[2017-11-09 22:48] arielb1 commented on #45466
Confirmed that #43595 is at fault - reverting it on top of master fixes the bug.

[2017-11-09 23:03] arielb1 commented on #45466
However, there is an LLVM problem behind all of this:

After #43595, before loop optimizations, we have this code:
[code]

indvarsimplify removes the add with overflow, but leaves behind a `br i1 false`:
[code]

Which the immediately succeeding loop idiom recognition can't remove. Replacing the `br i1 false` with a direct branch:
[code]

optimizes to a memset:
[code]

This means that LLVM's `LoopI

[2017-11-09 23:36] rkruppe commented on #41799
I've file a PR (#45900) to just make the u128->f32 behavior the default, refocusing the -Z flag to just cover float->int casts. As with any other change, we'll have up to six weeks in nightly and six weeks of beta to find and fix any regressions there may be.

[2017-11-09 23:38] rkruppe commented on #10184
(I've filed #45900 to refocus the -Z flag so that it only covers the float->int issue)

[2017-11-09 23:50] arielb1 commented on #45894
So the problem is that inlining does not handle argument mapping correctly:

These MIRs should be inlined together correctly

[code]

As you can see, the closure, which is called at the end of bb0, is passed its self-type and a tuple, but the closure signature itself takes 3 arguments - the self type and 2 parameters. When we inline, the inliner does not account for this difference, with this resu

[2017-11-09 23:57] dcci commented on #44041
Hi, I'm one of the developers who thinks Instcombine went a little too far :)
FWIW, here's my thought (I wrote on the llvm-dev mailing list, but let me copy here in case)
[code]

[2017-11-10 00:03] dcci commented on #44041
Also, FWIW, to clear other people's doubt.
SimplifyCFG + Instcombine when run in tandem don't reach a maximal fixpoint. When running the inliner with function simplification passes pipelines, this is fairly visible (see, e.g. Chandler's talk https://www.youtube.com/watch?v=s4wnuiCwTGU for a more detailed explanation of the problem).

It's of course possible to run instcombine + simplifycfg in a lo

[2017-11-10 00:43] vthriller commented on #45844
Aight, closing this as dup then.

[2017-11-10 00:43] #45844 closed

[2017-11-10 00:54] comex commented on #10184
It would be nice if we could get platform-specific implementations a la @sunfishcode before asking for mass benchmarking.  It shouldn't be very difficult.

[2017-11-10 01:24] scottmcm commented on #45840
Hmm, what about `.collect_into(Vec::with_capacity(5))`, or something? (Name TBD of course)

`collect` is the method-chain-syntax for `FromIterator`; this would be the equivalent for `Extend`.

[2017-11-10 01:46] sunfishcode commented on #10184
The problem is that LLVM doesn't currently provide a way to do this, as far as I know, except maybe with inline asm which I wouldn't necessarily recommend for a release.

[2017-11-10 02:28] Gankro commented on #10184
I have updated the draft to reflect discussion (basically ripping out the inline discussion of u128 -> f32 to an extra section at the end).

[2017-11-10 03:23] comex commented on #10184
@sunfishcode Are you sure?  Isn't the `llvm.x86.sse.cvttss2si` intrinsic what you're looking for?

Here is a playground link that uses it:

https://play.rust-lang.org/?gist=33cf9e0871df2eb2475b845af4f1b574&version=nightly

In release mode, `float_to_int_with_intrinsic` and `float_to_int_with_as` both compile down to a single instruction.  (In debug mode, `float_to_int_with_intrinsic` wastes a few

[2017-11-10 04:46] sunfishcode commented on #10184
Oh, cool. It looks like that would work!

[2017-11-10 05:52] sfackler commented on #22639
@frontsideair you can just check if the string's empty before parsing, right?

[2017-11-10 08:42] flip111 commented on #18009
In the original reddit thread multi indexed collections were mentioned. Was this included? Where can i find it? I'm refering to functionality which is also available in other languages:

http://www.boost.org/doc/libs/1_62_0/libs/multi_index/doc/index.html
https://pandas.pydata.org/pandas-docs/stable/advanced.html
https://hackage.haskell.org/package/ixset-typed

It's useful to model data structures

[2017-11-10 09:33] gnzlbg commented on #32838
The `grow_in_place` doesn't return any kind of excess capacity. It currently calls `usable_size` with a layout, extends the allocation to _at least_ fit this layout, but if the allocation is extended beyond that users have no way to know.

[2017-11-10 09:40] rkruppe commented on #10184
It's cool to know that we do, after all, have a way to build on `cvttss2si`. However, I do not agree that it's clearly better to change the implementation to use it before we call for benchmarks:

Most people will benchmark on x86, so if we special case x86, we'll get far less data on the general implementation, which will still be used on most other targets. Admittedly, it's already difficult to

[2017-11-10 09:40] alexcrichton commented on #45768
I've posted a fix for this as https://github.com/rust-lang/rust/pull/45908, we can reenable ThinLTO when https://github.com/rust-lang/rust/issues/45511 is fixed

[2017-11-10 09:42] gnzlbg commented on #32838
I am having a hard time understanding the advantage of the `alloc` and `realloc` methods over `alloc_excess` and `realloc_excess`.

An allocator needs to find a suitable memory block to perform an allocation: this requires knowing the size of the memory block. Whether the allocator then returns a pointer, or the tuple "pointer and size of the memory block" does not make a measurable performance di

[2017-11-10 09:51] alexcrichton commented on #39658
@LukasKalbertodt yeah keeping code around for awhile to minimize the diff seems fine by me! I think we'll be leaving `AsciiExt` for awhile anyway

[2017-11-10 09:57] petrochenkov commented on #44690
@rep-nop
I don't know how the proper implementation should look exactly.
Name resolution for attributes is kinda mess because it works with all kinds of attributes - built in, custom, derives, legacy derives, procedural macros, legacy procedural macros. I never looked at that code carefully.
Someone needs to figure out how it works exactly and how attributes for tools fit into it.
(I can figure it

[2017-11-10 10:24] michaelwoerister commented on #45875
@Xanewok Sure, let's see:

- Our `libserialize` defines the `UseSpecializedEncodable` and `UseSpecializedDecodable` traits. If you implement this trait for a type, you can provide encoder- and decoder-specific implementations for encoding and decoding. This way you can have implementations that have access to things that are not part of the general `Encoder` and `Decoder` interface. When implement

[2017-11-10 10:25] Vurich commented on #45888
It's really weird, manually writing an implementation that calls `partial_cmp` works fine https://play.rust-lang.org/?gist=786449ac2addf11a7b32b3a250337114&version=stable

[2017-11-10 10:40] michaelwoerister commented on #45875
It would also be great to get some numbers on how this affects the size of the `dep-graph.bin` file in the incr. comp. session directory.

[2017-11-10 11:37] #45802 closed

[2017-11-10 11:47] infinity0 commented on #34902
With 1.21.0+dfsg1-3 Debian, rustc the compiler is built deterministically (and build-path-independently) but libstd has [some things remaining](https://tests.reproducible-builds.org/debian/dbdtxt/unstable/amd64/rustc_1.21.0+dfsg1-3.diffoscope.txt):

[code]

What's strange is that some of the paths are already remapped to `/usr/src` as I intended with the `-Zremap-path-prefix` flags I'm passing. Ho

[2017-11-10 11:50] infinity0 commented on #34902
I should mention that I had to disable jemalloc in Debian for other reasons, so builds with that enabled might still hit the nondeterminism I [mentioned earlier](https://github.com/rust-lang/rust/issues/34902#issuecomment-319463586).

[2017-11-10 12:25] est31 commented on #44006
cc #45905

[2017-11-10 12:26] cristicbz commented on #45839
FWIW, we could fix this by replacing the `wrapping_offset` implementation with ```((self as isize).wrapping_add(offset) as *const T)```, but I see perf regressions on simple things like:

[code]

goes from 23ns/iter up to 187ns/iter . Investigating the asm ([playground](https://play.rust-lang.org/?gist=dd12c0f053244303db3339472568bd2f&version=stable)), it looks like it inhibits auto-vectorisation

[2017-11-10 12:40] udoprog opened #45910 "Document pointer cast safety in std::path"
Hey,

I'm curious about the [unsafe cast in Path](/rust-lang/rust/blob/master/src/libstd/path.rs#L1799).

From what I understand: this works because Path is a single member struct containing only the type it's being reinterpreted as.

My original question on #rust IRC was: Is this always guaranteed to be correct (in Rust) in terms of memory layout?

The discussion seemed to hint at that this is in

[2017-11-10 12:42] matthewjasper commented on #45199
Working on this (and this error message in general)

[2017-11-10 12:43] RalfJung commented on #45839
That's what I mentioned in my previous commit; however, your patch is slightly wrong: You need to multiply `offset` by `mem::size_of::<T>`.

[2017-11-10 12:50] eddyb commented on #45839
The only reason `wrapping_offset` was added was to avoid roundtripping through an integer.
cc @dotdash who added the intrinsic (`arith_offset`) back in #25434.

[2017-11-10 13:08] philipc commented on #45511
Does firefox use fat LTO? There's been a couple of bugs that have some similarities to this (#44412 and maybe #41775).

Also note that absence of dwarfdump errors doesn't mean the offsets are all okay. dwarfdump is only complaining if the offset is larger than the unit length, but even if it's less it may still incorrectly be a local ref. So there may be more instances that are unnoticed.

[2017-11-10 13:18] cristicbz commented on #45839
@RalfJung

Not sure which commit that, I must have missed it, sorry.

D'oh, sorry. Numbers and conclusions stay exactly the same.

@eddyb
Right, makes sense. Figured it would be good to know if in this particular case roundtripping would fix the issue or not. @RalfJung mentioned on reddit that due to [LLVM 34548](https://bugs.llvm.org/show_bug.cgi?id=34548) casting to integers before **comparing**

[2017-11-10 13:21] michaelwoerister commented on #45511
cc @luser ^

[2017-11-10 13:36] RalfJung commented on #45719
It seems this is now getting discussed at <https://github.com/rust-lang/rust/issues/45839#issuecomment-343460836>.

[2017-11-10 13:38] RalfJung commented on #45839
@eddyb thanks for the pointer to #25434. It seems that `wrapping_offset` deliberately does not round-trip through integers, enabling more optimizations. In this case, however, I think there should be a big fat warning in that method's documentation that also the operational effect of this is *very different* from doing the same thing on integers! The fact that LLVM optimizes more is not because LL

[2017-11-10 14:10] #45087 closed

[2017-11-10 14:10] #45729 closed

[2017-11-10 14:48] steveklabnik commented on #45891
Yes; this is not ready to actually do. We can re-open this once it is.

[2017-11-10 14:48] #45891 closed

[2017-11-10 15:33] sunfishcode commented on #41079
I like @scottmcm's suggestion to have an unsafe `ptr::offset_to` that uses `sdiv exact`. This is the situation `sdiv exact` was designed for, and it often reduces a 5-instruction sequence down to 2. And, if the unsafe version could be documented to have UB if the pointers don't point into the same array (or one-past-the-end), it would make me less worried about breaking pervasive assumptions that

[2017-11-10 16:08] nikomatsakis commented on #45641
Seems like this ought to fall out from permissions checking (https://github.com/rust-lang/rust/issues/44837), right?

[2017-11-10 16:14] nikomatsakis commented on #45696
I think we have to decide how we are going to handle `Box<T>` in MIR borrowck. I would prefer not to introduce hacks into borrowck the way we did in the AST -- if we're going to impose some limitations on `Box<T>`, I would prefer to do it in the MIR lowering phase (e.g., by lowering `let x = &mut box.foo` more faithfully into something that uses the `DerefMut` impl).

What do you think @arielb1 ?

[2017-11-10 16:14] nikomatsakis commented on #45696
An alternative of course is to restore the "full knowledge" to `Box<T>` -- it's already somewhat special -- with the assumption that we will someday allow user-written types to "opt-in" to such semantics.

[2017-11-10 16:25] nikomatsakis commented on #44493
Pseudocode of how the inference wants to work, I think:

[code]

[2017-11-10 16:26] nikomatsakis commented on #45695
@arielb1

To be clear, you are saying this is a pre-existing bug with drop elaboration?

[2017-11-10 16:36] bluss commented on #45857
Rustup already has a config flag for telemetry. https://github.com/rust-lang-nursery/rustup.rs/issues/341

[2017-11-10 16:40] nikomatsakis commented on #43234
For those who will hack on NLL: right now, the "tip" of NLL development has not yet landed in master. In order to keep things moving, we're adopting the following strategy.

There is a `nll-master` branch on [my fork of Rust](https://github.com/nikomatsakis/rust). This contains the NLL work that is considered "done". You can open PRs against **that branch on my repository**.

In terms of rebasing

[2017-11-10 16:40] kennytm commented on #45857
Oh in this case the entire thing can be implemented on top of rustup's `rustc`/`cargo` wrapper already?

[2017-11-10 16:42] nikomatsakis commented on #45670
Note the [new policy on landing things for NLL](https://github.com/rust-lang/rust/issues/43234#issuecomment-343523271) -- basically, use the `nll-master` branch on my fork for now, and I will take care of the rest.

[2017-11-10 16:44] nikomatsakis commented on #45670
@zackmdavis have you had a chance to poke at this?

[2017-11-10 16:54] nikomatsakis commented on #45704
@arielb1 hmm, what exact fix do you have in mind?

With respect to local variables, I think the problem there is that we don't have a proper storage-dead on the unwinding path, no? That is, would it error if you removed the `panic!`? My expectation was that it would report an error when we hit the `StorageDead` (either on unwind or not).

With respect to thread-locals, we don't have a `StorageDead

[2017-11-10 16:58] gaurikholkar commented on #43882
Nope. @estebank updated the title.

[2017-11-10 17:12] nikomatsakis commented on #45702
The ICE here is caused by the assert in this function, `opt_region_end_span`:

https://github.com/rust-lang/rust/blob/563dc5171fd5d96f9714b4e722ad1d80a25f1dba/src/librustc_mir/dataflow/impls/borrows.rs#L126-L134

This function finds the `Span` (location in the input source code) that a region ends. If you look at the error that the AST borrowck (i.e., older style borrowck) emits, we are basically

[2017-11-10 17:14] nikomatsakis commented on #45199
@matthewjasper nice! please stop in [on gitter](https://gitter.im/rust-impl-period/WG-compiler-nll) with any questions, if you've not done so already.

[2017-11-10 18:19] mratsim commented on #29931
@gnzlbg The optimal growth factor is probably the golden ratio `Φ` (1.618...) as discussed here https://github.com/facebook/folly/issues/543 and in depth in this [blog post](https://crntaylor.wordpress.com/2011/07/15/optimal-memory-reallocation-and-the-golden-ratio/).

[2017-11-10 18:26] sfackler commented on #32838
Excess is only interesting for use cases that involve arrays which can grow. It's not useful or relevant for `Box` or `BTreeMap`, for example. There may be some cost in computing what the excess is, and there's certainly a more complex API, so it doesn't seem to me like code that doesn't care about excess capacity should be forced to pay for it.

[2017-11-10 18:46] vramana commented on #45702
Hi, I want to work on this bug.

[2017-11-10 18:48] lnicola commented on #42301
`rustdoc` can't check (presumably) that the crate really exists on `docs.rs`. Would it be reasonable to simply link to a page that might `404`?

[2017-11-10 20:04] sunfishcode commented on #28728
@zackw I've now created #45920 to fix the problem of functions containing no code.

@bstrie Yes, the first step is landed, and I'm working on the second step of making LLVM give infinite loops defined behavior by default. It's a complex change, and I don't yet know how long it'll take to finish, but I'll post updates here.

[2017-11-10 20:34] zackmdavis commented on #45670
@nikomatsakis I took a look, but don't have anything to submit yet; I regret the delay. Understood re `nll-master` integration branch; stand by

[2017-11-10 20:35] oconnor663 opened #45921 "a type error in a nested macro leads to a confusing compiler error message"
Here's a toy program demonstrating the problem:

[code]

Compiling it (current stable rustc, 1.21) gives the following error:

[code]

All the compiler is telling me is that "something inside the macro generates this type error". In particular, it's not able to tell me that the problem is on line 6. I wouldn't be surprised if this was a known problem somewhere, but I wanted to make sure to report

[2017-11-10 21:24] cuviper commented on #45888
If you try to build from `--pretty=expanded`, the errors are not coming from `partial_cmp`, but from `lt` etc. as @durka said.  For example, on the [playground](https://play.rust-lang.org/?gist=43e1c6bbfbf9a0454247c2f8a1e42ae5&version=nightly):

[code]

[code]

I _think_ the actual implementation in question is [`PartialOrd<&'b mut B> for &'a mut A`](https://github.com/rust-lang/rust/blob/75d25acd

[2017-11-10 21:30] cuviper commented on #45888
It's happy if you change to an explicit call, like this [playground](https://play.rust-lang.org/?gist=ba1dbbf1da90f0efef4f2e3f94fe04ad&version=nightly):

[code]

[2017-11-10 21:34] cramertj commented on #45910
No, strictly speaking, this is not safe without `#[repr(transparent)]`.

[2017-11-10 21:37] gnzlbg commented on #29931
Optimal in what Sense?

Note that one property of a good growth factor is that you are able to
reuse some previously freed memory.

With 1.45 this happens after 3 reallocations, with 1.5 after 4, and in this
PR we have something slightly higher than 1.5. If you don't reallocate 4
times a growth factor of 1.5 doesn't allow you to reuse any memory.

The golden ratio is indeed optimal in a particular

[2017-11-10 22:00] nikomatsakis commented on #45698
It seems like the first step is to stem the bleeding -- let's start by just naming the fields of the closure based on the upvars (that is, the variables that the closure captures from its environment).

The code to format an `Lvalue` [starts here](https://github.com/rust-lang/rust/blob/a35a3abcda67a729edbb7d649dbc663c6feabd4c/src/librustc_mir/borrow_check.rs#L1215). It [makes the incorrect assumpt

[2017-11-10 23:13] vramana commented on #45698
Hi, I am working on this bug.

[2017-11-10 23:40] udoprog commented on #45910
@cramertj excellent, thank you!

The [tracking issue](https://github.com/rust-lang/rust/issues/43036) seems to indicate things going slowly. Adding a comment might still be a good idea for now.

Reading the RFC, it mentions at least ARM64 where there might be layout differences. But according to [platform support](https://forge.rust-lang.org/platform-support.html), std shows up as supported as a T

[2017-11-11 01:05] bstrie commented on #35118
@isislovecruft Is it extraordinarily imperative that this get into the next Debian? Normally unstable features will spend a full release cycle in FCP, which would mean that i128 would hit stable on Feb 15 at the absolute earliest. To hit the prior stable release on Jan 4 we'd need to promote this to beta during our next cutoff on Nov 23, giving us 13 days to make a decision (and note I speak on be

[2017-11-11 02:44] bstrie commented on #10184
Is it safe to assume that we're going to need a slew of `unsafe fn as_u32_unchecked(self) -> u32` and friends regardless of what the benchmarking shows? What other potential recourse would someone have if they *did* end up observing a slowdown?

[2017-11-11 02:52] ssokolow commented on #10184
@bstrie I think it'd make more sense, in a case like that, to do something like extending the syntax to `as <type> [unchecked]` and requiring the `unchecked` only be present in `unsafe` contexts.

As I see it, a forest of `_unchecked` functions as variants of `as` casting would be a wart, both as far as intuitiveness goes, and when it comes to generating clean, usable documentation.

[2017-11-11 04:13] mtak- opened #45924 "Rc<T> does not implement RefUnwindSafe"
`Arc<T>` implements both `UnwindSafe` and `RefUnwindSafe` (though maybe it only gets `RefUnwindSafe` because all of it's members happen to implement `RefUnwindSafe`).

Whereas `Rc<T>` only implements `UnwindSafe`. This seems like an oversight.

https://play.rust-lang.org/?gist=0d89773218a347569615e1bea7b352f6&version=nightly

[2017-11-11 04:33] #45654 closed

[2017-11-11 04:42] bstrie commented on #10184
@ssokolow Adding syntax should always be a last resort, especially if all of this can be taken care of with just ten rote functions. Even having a generic `foo.as_unchecked::<u32>()` would be preferable to syntactic changes (and the concomitant interminable bikeshed), especially since we ought to be reducing, not increasing, the number of things that `unsafe` unlocks.

[2017-11-11 04:53] ssokolow commented on #10184
Point. The turbofish slipped my mind when considering options and, in hindsight, I'm not exactly firing on all cylinders this evening either, so I should have been more cautious about commenting on design decisions.

That said, it feels wrong to bake the destination type into the function name... inelegant and a potential burden on future evolution of the language. The turbofish feels like a bette

[2017-11-11 06:28] SimonSapin commented on #10184
A generic method could be supported by a new set of `UncheckedFrom` / `UncheckedInto` traits with `unsafe fn` methods, joining the `From` / `Into` and `TryFrom` / `TryInto` collection.

[2017-11-11 06:36] mark-i-m opened #45925 "Unhelpful (incorrect?) match_default_bindings hint"
Here is the whole error output:

[code]

Specifically, notice the hint:
[code]
which suggests doing something I am already doing 😛 ...

The code snippet in question:

[code]

Changing `.filter(|&(ref k, _)| self.hash(k) == server)` to `.filter(|pair| self.hash(&pair.0) == server)` sidesteps the problem.

[code]

[2017-11-11 08:24] prasannavl opened #45926 "compiler: recursion limit on recursive function when borrowing"
Here's a simple merge sort with recursion:
https://play.rust-lang.org/?gist=ff2c804288593292cba30ff9e06facaa&version=stable

However, the compiler doesn't seem to compile this:
[code]

I can make it work by changing the signature of `merge_sort_with_buf` method to take a reference to `compare` instead, and changing recursive call to use `compare` instead of `&compare`. But I'm confused, shouldn't

[2017-11-11 08:48] philipc commented on #45511
I can reproduce using normal LTO. Library crate is:
[code]
Binary crate is:
[code]

Also here's a thin LTO version that gives smaller IR then the previous Vec test case:
[code]

[2017-11-11 09:39] SimonSapin commented on #45851
I measured `File::read_to_end` with a vector created with `Vec::with_capacity(file.metadata().len() as usize)`, compared to `Vec::new()`. On my linux desktop with an SSD (though everything is probably in filesystem cache here), pre-allocating + reading take 3% more time to 43% less time depending on file size.

[code]
[code]

[2017-11-11 09:51] SimonSapin commented on #45851
PR with a prototype: https://github.com/rust-lang/rust/pull/45928

[2017-11-11 09:56] #44954 closed

[2017-11-11 10:09] rkruppe commented on #10184
@bstrie One alternative solution for people whose code got slower could be to use an intrinsic (e.g., via stdsimd) to access the underlying hardware instruction. I argued earlier that this has downsides for the optimizer &ndash; auto-vectorization likely suffers, and LLVM can't exploit it returning `undef` on out-of-range inputs &ndash; but it does offer a way to do the cast without any extra work

[2017-11-11 10:45] jplatte commented on #44580
@eddyb I don't know whether your Gitter notifications are broken or what is going on, but since you haven't been reacting on Gitter at all, I thought I could try pinging you here.

[2017-11-11 11:25] nox commented on #34537
How the hell is `pub_use_of_private_extern_crate` a "private-in-public" situation? How does one reexport a crate now? Why are we deprecating that without an epoch? That's a breaking change that will break existing code.

[2017-11-11 11:29] nox commented on #34537
I am aware one can now use `pub extern crate`, but that can mean having to bump the minimum Rust version in these crates for absolutely no real reason.

[2017-11-11 11:45] petrochenkov commented on #34537
@nox

Private items cannot be publicly reexported, that's a general rule that wasn't properly enforced for `crate` items in early versions of `rustc`. The rule is pretty fundamental for the import resolution algorithm.

Using `pub extern crate`.

Plenty of bugfixes breaking small numbers of crates were gradually landed in the previous years without epochs, using deprecation periods. The official p

[2017-11-11 11:50] alexcrichton commented on #45511
Thanks @philipc!

It definitely sounds like at this point this is an existing bug we've just never hit before. My inclination would be to paper over this if we can. Unfortunately though I don't know how to fix this at the LLVM IR layer. My naive idea would be to just point everything at one codegen unit for each LLVM module (debug-info-wise) but I don't know how to change existing debuginfo of a m

[2017-11-11 11:56] SimonSapin commented on #34537
Not all Rust code in the world is in crates.io, and we don’t know how representative crates.io is. Even with several months of warning, making breaking changes that are not soundness fixes without an epoch discredits our stability promise. This one feels particularly frivolous.

[2017-11-11 11:57] Marwes opened #45929 "Unresolved external symbols when linking with incremental compilation"
While working on https://github.com/Marwes/gluon_language-server/tree/linking for a while, editing code and running `cargo test` I get linking errors about `unresolved external symbols`.

Disabling incremental compilation fixes it.

It might be relevant that I am using `[patch.crates-io]` and msvc as well.

I can try to produce a smaller reproduction though given the unpredictable nature I am hopi

[2017-11-11 13:46] ishitatsuyuki commented on #37572
Do we need a RFC for stabilization? Also, is TrustedLen meant to be the successor (replacement) of ExactSizeIterator?

[2017-11-11 14:02] bluss commented on #37572
It serves a different purpose, so I don't think it is a successor. Good start towards stabilization would be to incorporate the naming suggestions from this tracking issue I think.

[2017-11-11 15:15] steveklabnik commented on #19397
Triage: this no longer ICEs! 🎊

[2017-11-11 15:15] #19397 closed

[2017-11-11 15:42] alexcrichton opened #45934 "Macros 2.0: Span::def_site() vs Span::call_site()"
Up until recently I've considered these two function calls in `proc_macro`, `Span::default()` and `Span::call_site()` relatively different. I'm not realizing, however, that they're actually quite significantly different depending on what you're doing in a procedural macro!

In working with the [gnome-class macro](https://github.com/federicomenaquintero/gnome-class) we've ended up getting a good de

[2017-11-11 15:49] #45790 closed

[2017-11-11 15:49] #45363 closed

[2017-11-11 15:54] jplatte commented on #44580
There is now a PR for the groundwork (`Generics` refactoring): #45930

[2017-11-11 16:47] federicomenaquintero commented on #45934
Without knowing all the implications of hygiene, it sounds like we could use two macros:

[code]

The fist/unhygienic one is for "I want to paste this manufactured code into the user's namespace".  Gnome-class does a lot of that for the GObject boilerplate.  It creates a couple of modules too keep things contained and exports things from them.  It creates user-visible structs with manufactured ide

[2017-11-11 16:53] spastorino commented on #45842
Hey @nikomatsakis @arielb1, I can make this change but please confirm that we really want to do it before I ahead and provide a PR 😄.

[2017-11-11 17:37] steveklabnik commented on #22566
Triage: no longer ICEs!https://travis-ci.org/steveklabnik/glacier/builds/300626927?utm_source=email&utm_medium=notification

[2017-11-11 17:37] #22566 closed

[2017-11-11 18:31] jturner314 opened #45935 "Missing `raw_string_body` rule in grammar doc"
In [`src/doc/grammar.md`](https://github.com/rust-lang/rust/blob/master/src/doc/grammar.md), a `raw_string_body` rule is used in the definition of the `raw_string` rule, but the definition of `raw_string_body` is missing.

Is it even possible to define `raw_string_body` using the EBNF dialect in the grammar document? (It depends on the number of `#` chars surrounding the raw string.) If not, there

[2017-11-11 18:50] nikomatsakis commented on #42701
[Perf results look fairly even.](http://perf.rust-lang.org/compare.html?start=fc77b623d3072005f35e320e652f2b31695d493c&end=44a477ee0833eef8007499fec6ebd88c5289da8a&stat=instructions%3Au)

[2017-11-11 19:20] nikomatsakis commented on #44752
OK, let's start with this specific test:

[code]

When we are done, we want to issue a warning, probably like this:

[code]

In this case, the one use of `'x` is as the operand to a `&`-type, so I think we don't have to say much more than that. If the one use of `'x` were in a struct, we might want to have a hint indicating that it can be replaced with `'_`, but let's leave that stuff to future wo

[2017-11-11 20:39] nikomatsakis commented on #45843
Done in nikomatsakis/rust#11.

[2017-11-11 20:39] #45843 closed

[2017-11-11 20:47] nikomatsakis opened #45937 "normalizing parameter environments uses an empty free-region-map"
The following program gets a (spurious) region error (E0495):

[code]

The cause for this problem, I believe, is that during the normalize environment phase we use an empty `FreeRegionMap`, and thus do not let the region inferencer does not know that `'a: 'b` holds.

I have a fix on a local branch.

[2017-11-11 21:19] Nashenas88 commented on #45889
This is currently in review at https://github.com/nikomatsakis/rust/pull/13.

[2017-11-11 22:39] scottmcm commented on #45676
Sorry for the delay on this.  I got it somewhat working in trans (it correctly compiled i128 to compiler-builtins calls which worked in my test program) treating them as intrinsics, but subsequent discussions in #rustc convinced me I should start over with lang items in MIR.

[2017-11-11 23:59] sreekanthn commented on #45629
I too get the same problem when trying to work with Hyperlerdger-indy
https://github.com/hyperledger/indy-sdk - Below is a full trace on the error displayed

error: linking with `cc` failed: exit code: 1
  |
  = note: "cc" "-m64" "-L" "/Users/srnarayanan/.rustup/toolchains/stable-x86_64-apple-darwin/lib/rustlib/x86_64-apple-darwin/lib" "/Users/srnarayanan/MyCode/Sovrin/indy-sdk/libindy/target/debu

[2017-11-12 00:37] comex commented on #10184
Some notes on conversions in the x86 instruction set:

SSE2 is actually relatively limited in which conversion operations it gives you.  You have:

- CVTTSS2SI family with 32-bit register: converts single float to `i32`
- CVTTSS2SI family with 64-bit register: converts single float to `i64` (x86-64 only)
- CVTTPS2PI family: converts two floats to two `i32s`

Each of those has variants for `f32` an

[2017-11-12 05:51] est31 commented on #44931
I've encountered some issues with the official crates.io index. It appears to be non-conformant to the spec: https://github.com/rust-lang/crates.io/issues/1168

[2017-11-12 06:33] dtolnay opened #45939 "Documentation of macro-generated macro shows unexpanded matchers"
As part of https://github.com/dtolnay/syn/issues/225 I am generating one macro_rules! macro from another macro_rules! macro. Everything works great except that the documentation of the generated macro is misleading.

Simplified example:

[code]

Rustdoc shows the following:

[code]

Instead I would expect:

[code]

[2017-11-12 07:31] #30046 closed

[2017-11-12 08:29] Havvy commented on #29982
Since this is an enhancement that probably nobody is going to do anything about this in the near to medium term, I'm going to close it.

[2017-11-12 08:29] #29982 closed

[2017-11-12 08:30] Havvy commented on #25425
Since this is an enhancement that nobody is going to be working on in the near to medium term, I'm going to close it.

[2017-11-12 08:30] #25425 closed

[2017-11-12 09:53] philipc commented on #45511
I'm not able to access llvm.org currently, so not sure exactly what Adrian's suggestions were, but here's a [patch](https://gist.github.com/philipc/7e1e05de75cdeaab39b0f8d506299bbe) that fixes LLVM to use a global ref when needed. It's not as simple as comparing parent DIEs, because the variable is initially [created without a parent](https://github.com/rust-lang/llvm/blob/83b72cedfd7800ffc983d285

[2017-11-12 10:00] nikomatsakis opened #45940 "operand types are not normalized in MIR shims"
In normal MIR, the types of local variables and things are fully normalized. However, in the MIR shims we construct, this is not always the case. We encountered this when fixing https://github.com/rust-lang/rust/issues/45889, where it is necessary to normalize the types of operands in some cases to make the existing MIR typeck.

I'm not sure if this is a bug *per se*. Certainly once we move to laz

[2017-11-12 10:04] nikomatsakis commented on #45940
cc @Nashenas88

[2017-11-12 11:15] bluss commented on #45910
@udoprog That ARM64 issue seems to be related to calling convention, not memory layout, so it's not an issue here.

[2017-11-12 12:19] #41799 closed

[2017-11-12 13:50] sinkuu commented on #38349
Fixed by #45380?

Diff of unoptimized IRs (1.21 stable -> nightly):
[code]

Optimized IR on nightly (1.23.0-nightly (45caff88d 2017-11-11)):
[code]

[2017-11-12 14:37] bluss commented on #38349
Yep, that's fixed in the original code this bug was filed for. The issue persists if we tweak it just a little (32-bit instead of 64-bit payload):

[code]

[2017-11-12 15:13] frewsxcv opened #45943 "process::Command::{spawn, output, status} should briefly describe in what scenarios it returns an Err"
* https://doc.rust-lang.org/nightly/std/process/struct.Command.html#method.spawn
* https://doc.rust-lang.org/nightly/std/process/struct.Command.html#method.output
* https://doc.rust-lang.org/nightly/std/process/struct.Command.html#method.status

[2017-11-12 15:14] frewsxcv commented on #45943
I'd be willing to improve the docs here if anyone has any insight into what the scenarios are

[2017-11-12 17:25] sdroege opened #45945 "Fails to resolve associated types correctly in trait impls if the concrete type is in another crate"
See https://github.com/sdroege/rust-associated-types-from-other-crate-projection-bug

The following are the relevant parts of the code:

https://github.com/sdroege/rust-associated-types-from-other-crate-projection-bug/blob/5586433d247734d0efdb73cf51f9b8b9ecde1852/bar/src/lib.rs#L7-L16

https://github.com/sdroege/rust-associated-types-from-other-crate-projection-bug/blob/5586433d247734d0efdb73cf51f

[2017-11-12 17:38] alexcrichton commented on #45945
cc @rust-lang/compiler, seems like a scary compiler bug! Is there perhaps an issue already open for this?

[2017-11-12 17:58] alexcrichton commented on #45511
@philipc awesome thanks! I think LLVM's bugzilla is back now so [I left a comment](https://bugs.llvm.org/show_bug.cgi?id=35212#c13) indicating such.

[2017-11-12 18:46] JRegimbal commented on #45884
It looks like it's because `Foo::C` is `isize` while the `1234` in `let normal = 1234 as u8;` is `i32`. if you specify `1234isize` then the warning disappears. If you want, you can use `num::ToPrimitive` to ensure conversions from `isize` or `usize` can fit in another integer type.

[2017-11-12 18:58] alexcrichton commented on #45511
@philipc I've confirmed that applying your patch to LLVM fixes libtest.so having malformed debug information. Next up I'm confirming that it [fixes the previous test failures](https://github.com/rust-lang/rust/pull/45661#issuecomment-341620033)

[2017-11-12 19:19] shepmaster commented on #26186
And again [experienced on Stack Overflow](https://stackoverflow.com/q/47252563/155423)

[2017-11-12 19:43] shepmaster commented on #36786
@jonhoo That may be #26186 instead.

[2017-11-12 20:14] starblue commented on #34333
Is there any chance to use this for the HiFive1 board (i.e. RV32IMAC)?

[2017-11-12 20:48] nnethercote commented on #29931
I strongly advocate for a doubling strategy, as opposed to 1.5x, or the golden ratio, or any other number.

As I understand them, the arguments in favour of smaller values are based on a mistaken assumption. Let's assume we use doubling and start at 8 bytes, and then go 16, 32, 64, 128, 256, 512, 1024. For the 8..512 allocations we will have used 1016 bytes, and so we can't reuse those bytes for t

[2017-11-12 21:04] #45768 closed

[2017-11-12 22:02] estebank commented on #45925
[Minimal repro](https://play.rust-lang.org/?gist=9911df1e288e3520c6b23072e92a89be&version=nightly):

[code]

Code that needs to be updated:

https://github.com/rust-lang/rust/blob/fb5ba4ef90bda82b4aa7328927d4413c7f33683d/src/librustc_typeck/check/_match.rs#L123-L132

[2017-11-12 22:03] gnzlbg commented on #29931
Which is why the proposed strategy doubles up the memory up to the page size [*], and then switches to 1.5x.

A better growth-factor can 1) reduce the number of jemalloc calls, 2) reduce the time spent in these calls, and 3) reduce memory usage. These all can have a measurable performance impact.

But whether computing the growth factor takes 1 cycle or 20 is irrelevant compared to the cost of a s

[2017-11-12 22:24] CrockAgile commented on #44924
@michaelwoerister as a first step I'll take `panic_exprs.rs`

[2017-11-12 22:38] alexcrichton commented on #45511
Sure enough it fixes the issue! @philipc would you be interested in sending the patch upstream?

[2017-11-12 23:31] #42701 closed

[2017-11-13 00:02] fitzgen commented on #44924
I'm hacking on `unary_and_binary_exprs.rs`.

[2017-11-13 02:08] zackmdavis commented on #42746
It's worth stressing that while this makes sense for the `Some` _literal_ in the given example, in more complicated situations, it's entirely plausible for `.unwrap()` to be the right suggestion when a variable of type `Option<T>` is given where `T` is expected. (Discussion on #42929 seemed to blur the distinction.)

[2017-11-13 03:11] jrmuizel commented on #45596
@aturon improving this would help with iterations times working on webrender.

[2017-11-13 03:26] zackmdavis commented on #44672
(related: #45777, #42929)

[2017-11-13 03:50] zackmdavis commented on #45216
Stripping derive has also created [problems elsewhere](https://github.com/rust-lang/rust/pull/44215#issuecomment-326986760).

[2017-11-13 03:51] zackmdavis commented on #45216
cc @oli-obk @jseyfried ?

[2017-11-13 03:52] Gankro commented on #40470
Really late to this party. As I note [here](https://github.com/BurntSushi/byteorder/issues/103#issuecomment-343797738), the NaN masking is unnecessary from LLVM's perspective.

I'm not totally clear on the platform-specific-NaN-reprs issue, but at least on x86/x64, we can just make `from_bits` into transmute safely. (probably also aarch64? At least its SIMD units are IEEE 754-2008 compliant, which

[2017-11-13 04:01] sfackler commented on #40470
I'm certainly on board with just transmuting on architectures we know are okay.

[2017-11-13 04:16] Amanieu commented on #40470
Transmuting should be safe on ARM & AArch64.

The only issue is whether a sNaN can cause a trap when it is used. By default floating-point exception are masked on ARM/AArch64, but can be enabled by setting some bits in the `fpscr`/`fpcr` register.

These bits also allow enabling exceptions for situations like inexact floating-point rounding, float division by zero, etc. These operations are all su

[2017-11-13 04:18] glandium commented on #29931
Above the page size, the assumption is still bogus, at least in the case of jemalloc:
If you have a 4K allocation and realloc() it to 8K, and there are 8K available directly next to the original 4K, jemalloc is not going to allocate the 8K, copy the data and free the original 4K: it's just going to expand the original 4K to 8K, because there's 4K free right after it.
But this assumes you're using

[2017-11-13 04:21] sfackler commented on #40470
I don't think we really care if the operation traps, right? It's not unsafe to do so.

[2017-11-13 04:24] Amanieu commented on #40470
We do care if the trap is considered an "observable side-effect" of the operation, since this affects optimization. This would impact dead code elimination for example: you would still have to trigger the trap even if the result of the operation is not used.

[2017-11-13 04:25] Firstyear commented on #39699
Hi,

I don't see any activity here. We really need this for our quality assurance workflow to be stabilised. What is outstanding and required for this to be made available in stable rustc?

Thanks!

[2017-11-13 04:27] sfackler commented on #40470
Ah sure that makes sense.

[2017-11-13 05:35] mark-i-m commented on #44928
Prototype: #43234

[2017-11-13 05:44] est31 commented on #40470
@Gankro

very interesting! We need more people like you :).

I am personally okay with anything (the documentation was made vague purposefully!), but before we commit to anything that we can't reverse (e.g. making docs super clear that it is only a transmute), I'd love to get @Gankro 's LLVM patch merged upstream so that it has been reviewed by LLVM reviewers and deemed okay.

[2017-11-13 07:34] oli-obk commented on #44995
As mentioned in #44566, this is impossible to fix right now, because these attributes do not exist anymore at the lint stage. Solutions are noted in https://github.com/rust-lang/rust/pull/44215#issuecomment-326986760

[2017-11-13 08:50] RalfJung opened #45955 "System.alloc returns unaligned pointer if align > size"
The following code:
[code]
prints `8 0` on my machine and on the [playground](https://play.rust-lang.org/?gist=728ec5af5f531d2b4086912f7870e518&version=nightly). That's a bug; since I requested alignment 16 for both pointers, it should only ever print `0 0`.

This is probably caused by the `MIN_ALIGN` optimization in `alloc_system`. This optimization is currently [mostly useless](https://github.co

[2017-11-13 09:12] nikomatsakis commented on #45889
Fixed in nikomatsakis/rust#13.

[2017-11-13 09:12] #45889 closed

[2017-11-13 09:29] Vurich commented on #45888
It's _very_ strange that the operators require ownership but don't actually take ownership. Maybe that could be improved in the typechecker/codegen/wherever, but it could lead to confusing behaviour where `&T` has a different `PartialOrd` implementation than `T`.

[2017-11-13 09:55] gnzlbg commented on #29931
Yes, this is why the proposed strategy only uses 1.5x for medium sized vectors and switches the strategy again for "large" vectors (`>= 32 * 4096` bytes), currently back to doubling.

Yes, `Vec` currently uses `realloc` but with a growth factor of 2 which means that this never happens. There is a PR that uses `1.5x` for medium sized vectors and switches from `realloc` to `realloc_excess`, which in

[2017-11-13 10:03] glandium commented on #29931
Actually, C++ vectors *always* need an actual malloc/copy/free sequence, because
- C++ doesn't actually use malloc/free, it uses operator new/operator delete, and doesn't actually have a realloc. Practically speaking, in many cases operator new/operator delete are equivalent to malloc/free, and realloc would work on operator new allocated buffers, but there's no guarantee by the standard that this

[2017-11-13 10:17] philipc commented on #45511
I prefer if someone who knows more about LLVM could upstream the patch.

[2017-11-13 10:23] michaelwoerister commented on #45511
Would this be something you could do, @tromey? You can evaluate the changes to the generated DWARF best, I think.

[2017-11-13 10:30] nrc commented on #35986
I'm also seeing this issue. To be precise, it seems that the default associated type is not used to type check the body of an impl.

My example:

[code]

[2017-11-13 10:32] nrc commented on #35986
Adding `type B = C;` to the impl fixes the error, but IMO should make no difference.

[2017-11-13 10:32] michaelwoerister commented on #45629
@andoriyu & @sreekanthn, can you tell us why you are compiling with `-Clink-dead-code`? That would help us in determining the priority of investigating this issue.

[2017-11-13 10:54] gnzlbg commented on #29931
I don't follow the point you are trying to make. Yes, C++ vectors need to do this, but Rust's `Vec` does not, or what am I missing?

Maybe we are talking past each other and you meant something different, but:

Suppose you have a contiguous chunk of the address space that is free (before and after this chunk the memory is not free), and that fits the initial content of a vector plus 4x vector regr

[2017-11-13 11:16] luser commented on #45511
We do use [normal rustc LTO](https://dxr.mozilla.org/mozilla-central/rev/2535bad09d720e71a982f3f70dd6925f66ab8ec7/config/rules.mk#860) for Firefox builds, yes.

[2017-11-13 11:36] nikomatsakis commented on #45360
I don't have time for detailed mentoring notes, but I suspect what we want to do is something like this. We'll add some sort of map in the borrowck context -- when we check either a storagedead *or* a drop (some things won't have drop), we enter the lvalue being affected into the map and check if we've already reported an error. If so, we do nothing (or, better, use `span_delay_bug` to report an e

[2017-11-13 11:47] #45362 closed

[2017-11-13 11:51] RalfJung commented on #45955
I think some explanation for what's going on is that it actually seems to use jemalloc, even though I explicitly called the system allocator. That can't be right, can it?

If I add
[code]
the buggy behavior disappears, but shouldn't I be able to use the system allocator locally without affecting the global default?

[2017-11-13 11:54] RalfJung commented on #45831
Something really funny is going on somewhere, see #45955. Even if I explicitly call `System.alloc` to get around the problem that `__rust_alloc` is an opaque symbol, it *still* is going through some form of "pluggable" architecture -- the behavior of the program still depends on whether the global allocator is set to the the system allocator or jemalloc. Looks like there is two layers of indirecti

[2017-11-13 12:17] arielb1 commented on #45925
Actual minimal example:
[code]

I *think* we should just expand our span to contain surrounding reference patterns.

[2017-11-13 13:02] gnzlbg commented on #32838
Can you give an example? I don't know, and cannot imagine, an allocator that is able to allocate memory but that does not know how much memory it is actually allocating (which is what `Excess` is: real amount of memory allocated; we should rename it).

The only commonly used `Alloc`ator where this might be slightly controversial is POSIX `malloc`, which even though it always computes the `Excess`

[2017-11-13 13:18] SimonSapin commented on #45831
@RalfJung I can’t find that second indirection in the code. On Unix `System.alloc` calls `libc::malloc` here: https://github.com/rust-lang/rust/blob/e312c8a8c3/src/liballoc_system/lib.rs#L134

[2017-11-13 13:22] RalfJung commented on #45831
Doesn't jemalloc, when linked into the program, replace those symbols?

Doing `ltrace` on a program using `System.alloc` directly shows no call to `malloc`, but a bunch of calls to `mmap`.

The reason I think it is not using the system allocator is that the addresses look very different than they do in a C program calling malloc; and furthermore, two subsequent calls to allocate 8 bytes with align

[2017-11-13 13:38] RalfJung commented on #45831
I assume that would be #45955 -- probably, the misalignment is because while `MIN_ALIGN` is enforced by the system allocator, it is not enforced by jemalloc.

[2017-11-13 13:56] sreekanthn commented on #45629
Hi Micheal

For me, the error appears when I tried to build the SDK of the project :
https://github.com/hyperledger/indy-sdk

So I am unable to answer why this flag has been turned on by the build
script in this SDK

thanks
Sreekanth

On Mon, Nov 13, 2017 at 6:33 PM, Michael Woerister <notifications@github.com

[2017-11-13 14:11] gaurikholkar commented on #44752
I've been in touch with @nikomatsakis over this. The current status is: I've followed the instructions he has given above and written code for the same locally.

[2017-11-13 14:21] nikomatsakis opened #45959 "[NLL] check other sorts of rvalues beyond aggregates"
@Nashenas88 [implemented aggregate type-checking](https://github.com/nikomatsakis/rust/blob/nll-master/src/librustc_mir/transform/type_check.rs#L1080-L1128) in nikomatsakis/rust#13, but we [still need to handle other sorts of rvalues](https://github.com/nikomatsakis/rust/blob/nll-master/src/librustc_mir/transform/type_check.rs#L1129-L1139).

This is a meta-issue to cover the various cases. As PRs

[2017-11-13 14:25] pnkfelix opened #45960 "MIR-borrowck: diagnostic says "use" (as noun?) rather than "used" (verb, past tense)"
#45877 added a [ui](https://github.com/rust-lang/rust/blob/3acb4e9e4a30cd5c413b094a0821426951d0745c/src/test/ui/borrowck/borrowck-reinit.stderr) test that shows that the AST-borrowck and MIR-borrowck are *very* close in their diagnostic... so close that its easy to overlook the following change to the note output:

Namely, the file `src/test/ui/borrowck/borrowck-reinit.stderr` says,
for AST:
[code

[2017-11-13 14:26] fakoua commented on #42744
Rust supposed to be most beloved programming language! oh 2 days and not able to run single line of code on Windows 10, Visual Studio 2017 full installation, Rust version 1.21.0

Keep getting: error: linking with `link.exe` failed: exit code: 1181

I gave up!, I will keep using **COBOL**, looks more modern.

[2017-11-13 14:27] nikomatsakis commented on #45959
### Mentoring instructions

As noted above, the main thing we need is some kind of function to check that a given trait reference is satisfied at a particular location. Let's call it `prove`. I imagine it would have a signature like this:

[code]

Inernally, like `normalize`, it should use `fully_perform_op` and look a little something like this:

[code]

This basically invokes the trait checker (

[2017-11-13 14:30] kennytm commented on #42744
@fakoua For error 1181, see https://github.com/rust-lang/rust/issues/30229#issuecomment-339769458.

[2017-11-13 14:46] kennytm commented on #45960
The "verb" (`desired_action`) is passed in when calling `check_if_path_is_moved` in https://github.com/rust-lang/rust/blob/master/src/librustc_mir/borrow_check.rs, which currently includes:

* "update"
* "borrow"
* "use"
* "assignment" (?!)

The only code consuming the `desired_action` in an error message is:

* `format!("value {} here after move", desired_action)`

So I think this is really just

[2017-11-13 14:49] arielb1 commented on #45360
@nikomatsakis

There's a 1 `storagedead`, 1 `drop` on the happy path, and 1 `drop` on the unwind path. If there were "cache invalidations", there could be multiple drops on the unwind path.

[2017-11-13 14:54] arielb1 commented on #45704
@nikomatsakis

We know that all locals have their storage killed at the end of the function, so we don't need to represent that explicitly in MIR. With lexical lifetimes, I suppose you could observe the ordering of `endregion`/`storagedead`, but with NLL there wouldn't be a difference.

[2017-11-13 14:57] spastorino commented on #45959
I'm taking this one, I've already talk with @nikomatsakis about it :).

[2017-11-13 15:21] sunfishcode commented on #40470
Unfortunately, it is still necessary from LLVM's perspective; see https://github.com/llvm-mirror/llvm/blob/master/lib/Analysis/InstructionSimplify.cpp#L4142 for example. I support changing LLVM's behavior here, but this isn't just a case of fixing mistaken documentation; it's changing the policy, so we need to be careful.

[2017-11-13 15:43] nikomatsakis commented on #45360
So, @arielb1 and I chatted a bit on gitter. Seems like we were thinking in similar directions. Here are some more tips to help get started.

First off, the `StorageDead` MIR instruction is what removes stack space for a given local variable. It corresponds (roughly) to exiting from a scope. When we see a `StorageDead(X)` instruction in MIR, we invoke the `access_lvalue` subroutine:

https://github

[2017-11-13 15:45] nikomatsakis commented on #44844
@Phlosioneer

That's not surprising at all -- this always happens when things aren't enforced. Put another way, in the UI tests at present, the comments cannot be considered meaningful, which is why we need the tool you are writing. =)

[2017-11-13 15:47] nikomatsakis commented on #44844
@nrc

Can you say a bit more? I feel sort of exactly the opposite, though I do think we should rewrite the tool for generating them in Rust so that it's portable etc. Another thing that would be really useful is something you can use to pipe the compiler's output (when running by hand) and regenerate the reference:

[code]

[2017-11-13 15:48] nikomatsakis commented on #44844
@Phlosioneer in any case, how are things going? I'd love to see this improved ui test runner happen! Have you had any time to work on it? Anything blocking you? Feel free to check in [on gitter as well](https://gitter.im/rust-impl-period/WG-compiler-errors).

[2017-11-13 15:56] LuciusAterna opened #45962 "new issue function test. please delete this issue"
Question, how can I change the tags of an issue or delete an issues?

[2017-11-13 16:15] Phlosioneer commented on #44844
I've not been working on it - it's really demoralizing to see hundreds of errors, go to fix an error, and realize the test is broken and needs its comments re-written.

I think that I could just get the checker itself working, and then pass this on to someone else. The task is much bigger than I wanted to get involved with. I'll have time within the next week or so to fix my patch - I didn't reall

[2017-11-13 16:17] nikomatsakis commented on #44844
@Phlosioneer that sounds fine -- one option would be to mass rename the comments in the existing tests to use some other notation, e.g., `//TODO~`, and then get a few simple tests passing. We can then work through the backlog separately.

[2017-11-13 16:18] Phlosioneer commented on #44844
That sounds like a good plan.

[2017-11-13 16:20] nikomatsakis commented on #44844
@Phlosioneer

I'm not sure I follow this. The compile-fail tests were originally written by scraping the output, and then ported to do json output parsing (and in fact we bent over to accommodate the older style). It seems likely that if we can reproduce the same style of line number information, we'll be all set.

I think an open question though is to what extend it's important to be able to add

[2017-11-13 16:36] Gankro commented on #40470
Interesting. That transformation is justified by sNaN being bad, but in fact doesn't look for sNaN. Rather it looks for undef, and up to this point we've fairly conservatively considered doing ~anything with undef to be UB for Rust (because undef is poorly defined and we don't want to couple with LLVM semantics anyway).

As such, the existence of that transformation *shouldn't* actually be a barri

[2017-11-13 16:38] nikomatsakis commented on #45704
@arielb1 so, to be clear, is your expectation that we will not add `StorageDead` onto the unwind path at all, but instead we will rely on some kind of "mass dead" check at function exit?

I'm trying to put a finger on what I think that might permit that we might not want to. Given that the checks on StorageDead are a subset of those that occur on DROP, it seems like very little, unless we are talk

[2017-11-13 16:46] aturon commented on #45596
cc @rust-lang/compiler @Mark-Simulacrum, this may be an interesting target to focus on.

[2017-11-13 16:50] #45034 closed

[2017-11-13 16:58] thiolliere opened #45963 "False warning "value assigned to `a` is never read" when read"
in this example:
[code]

output: (on stable rustc 1.21.0 and nightly rustc 1.23.0-nightly)
[code]

[2017-11-13 17:23] dtolnay opened #45964 "Bounds check not optimized out after {r}position on a slice"
All the unrolling makes it hard for llvm to optimize it out. Sample: https://godbolt.org/g/R9nLvC

#45501 has a fix that involves `assume(index < len)` but we couldn't quite get it to pass tests. Will need to give it another try with some fresh eyes.

[2017-11-13 17:26] rkruppe commented on #10184
Call for benchmarks is up: https://internals.rust-lang.org/t/help-us-benchmark-saturating-float-casts/6231

[2017-11-13 18:02] durka commented on #45963
The warning is correct. Your loop doesn't exit until `foo` returns `Ok`, allowing `a` to be reassigned to `Some(b)`, and the original `None` is never read. You can replace `let mut a = None;` with simply `let a;`.

[2017-11-13 18:07] andoriyu commented on #45629
In my car it's just to get better test coverage information.

On Nov 13, 2017 2:33 AM, "Michael Woerister" <notifications@github.com>
wrote:

[2017-11-13 18:30] Mark-Simulacrum commented on #45596
I'll note it down for potential benchmarks to add.

[2017-11-13 18:31] SimonSapin commented on #45955
I did some digging. The `MIN_ALIGN` constant and its “guaranteed by the architecture” comment were first added in https://github.com/rust-lang/rust/pull/17095. Based on comments at https://github.com/rust-lang/rust/pull/17095#r17223810 and https://github.com/rust-lang/rust/issues/13094#issuecomment-38561890, I believe this is based this section of the x86_64 ABI specification:

https://software.in

[2017-11-13 18:33] jrmuizel commented on #40470
FWIW, that change originally came from here: https://github.com/llvm-mirror/llvm/commit/50b2ca4c73c614574a847c43ad9b87301367c59b

[2017-11-13 18:45] OmnipotentEntity opened #45965 "thread 'rustc' panicked at 'LocalTableInContext: key not found'"
[code]

My code is about 500 lines long.  I'm running up against an assignment deadline, so I don't have time right now to make a minimal demonstration.  But if needed I can do so after Thursday, if someone hasn't gotten to it already.

Sorry to dump and run.  I normally try to be better about bug reports. :/

I expect this to be related to my copy paste error with repeated if clause: `(if r != 0.

[2017-11-13 18:46] thiolliere commented on #45963
ah yes indeed, thanks. It was explicit but I though it means a in never read.

[2017-11-13 18:46] #45963 closed

[2017-11-13 18:47] SimonSapin commented on #45955
Firefox ran into crashes when mozjemalloc did not guarantee 8 / 16:  http://www.erahm.org/2016/03/24/minimum-alignment-of-allocation-across-platforms/

GNU libc’s allocator does guarantee 8 / 16 (https://www.gnu.org/software/libc/manual/html_node/Aligned-Memory-Blocks.html), but we apparently can’t rely on it being behind the `malloc` symbol even when the rest of libc is GNU.

[2017-11-13 19:22] SimonSapin opened #45966 "liballoc_system without #[global_allocator] uses jemalloc"
This was found by @RalfJung in #45955.

`alloc_system::System::alloc` calls `libc::malloc` which is defined as:

[code]

When `#[global_allocator]` is not used, the current default for executables is `alloc_jemalloc`, which links jemalloc as configured in `src/liballoc_jemalloc/build.rs`. On most platforms, this is *without* `--with-jemalloc-prefix`, which causes jemalloc to define an unprefixed `

[2017-11-13 19:28] kennytm commented on #45964
According to https://github.com/rust-lang/rust/issues/44899#issuecomment-342487870 there was a fix in upstream LLVM. We may reopen the PR if we backport the fix.

[2017-11-13 19:31] arielb1 commented on #45704
@nikomatsakis

I think it will allow you to have "NLL-style" cycles if your function doesn't have a destructor. aka:
[code]

This currently creates a storagedead -> endregion -> storagedead sequence, which causes a "borrow does not live long enough" error, while either with NLL, or if we have a "mass storagedead at function exit", it should compile. However, with the "None terminator", if we add a

[2017-11-13 19:33] arielb1 commented on #45964
@kennytm

I already backported the fix, it's just that someone needs to make an "up the LLVM" PR that includes it.

[2017-11-13 19:35] regehr commented on #45839
Can I ask if you (Rust compiler) folks have looked over the emitted IR for this one super carefully to make sure it doesn't contain anything that gives LLVM an easy excuse to invoke UB?

[2017-11-13 19:38] nikomatsakis commented on #44752
So, if we follow the steps above, we wind up with a map from the def-id of each `LifetimeDef` to either zero (no key), one, or many uses of it. I think maybe the easiest thing way to handle things is to do a second walk of the krate, just looking for lifetime defs, and issuing the warnings. Originally I had thought we could do them as we walk the first time, but now that seems like it would just c

[2017-11-13 19:43] nikomatsakis commented on #45704
I am more and more thinking we will not wind up wanting this -- the timing just doesn't seem to be working out that way.

[2017-11-13 19:46] SimonSapin commented on #45831
I’ve filed https://github.com/rust-lang/rust/issues/45966 about `System.alloc` using jemalloc.

This issue remains that this part of the comment is not accurate anymore and should be removed:

[2017-11-13 20:15] #36701 closed

[2017-11-13 20:15] #45801 closed

[2017-11-13 20:15] #45855 closed

[2017-11-13 20:26] nikomatsakis commented on #44752
Actually I take that back. Don't use a visitor. Just iterate over the map we built and look things up in the HIR map. For example, given the `DefId` of some lifetime def, we can look up its span in the HIR map by doing

[code]

[2017-11-13 20:29] nikomatsakis commented on #44752
Well, that won't allow you to catch lifetimes used zero times. To do that, we either need a separate visitor, or visit the map during `with` and store dummy nodes, or to visit the entries at the end of `with` and issue warnings.

[2017-11-13 20:36] arielb1 commented on #45839
@regehr

Obviously, the entire reason there is UB here is because LLVM's semantics are not clear enough.

However, the 2 "known" exploits of this bug rely either on out-of-bounds `getelementptr` or on dereferencing pointers cast from integers, so it might be that avoiding these two can banish the bug away

[2017-11-13 20:42] crumblingstatue opened #45968 "rustdoc nightly: search deduplication can cause missing items"
This example is outdated, but in it, `thread::spawn` is missing in nightly.

stable:
![](https://i.imgur.com/JhfAz96.png)

nightly:
![](https://i.imgur.com/1CYVDpZ.png)

Probably caused by https://github.com/rust-lang/rust/commit/ee7e372bbf2d6ce184e50aaf2679873eb961dc49.

[2017-11-13 20:47] regehr commented on #45839
@arielb1 I was trying to politely ask if y'all are completely sure the Rust compiler isn't doing something stupid.

[2017-11-13 21:30] sunfishcode commented on #45839
@regehr Yes; I've looked over the IR. Also, there is a C version of the same bug reported [here](https://bugs.llvm.org/show_bug.cgi?id=35229) which doesn't appear to invoke any undefined behavior either.

The underlying problem appears to replacing `p` by `q` within the body of an `if` like this:
[code]
In LLVM, `icmp` is a numeric test, not an LLVM pointer-semantics-equivalence test. Even when `p

[2017-11-13 21:36] regehr commented on #45839
Thanks @sunfishcode! This stuff is super difficult and I wanted some reassurance this is a hard bug and not an easy bug :)

[2017-11-13 21:38] nikomatsakis commented on #45704
### Mentoring instructions

Well, whatever we do, I think we all agree that it makes sense as a minimal starting point to have some code in borrow-check such that when you return (or unwind) from a function, we report an error if there are any outstanding loans. In other words, any of the "returning terminators" (listed below) are treated as if they kill the storage for all locals.

The "returning

[2017-11-13 21:42] arielb1 commented on #45704
@nikomatsakis

You also want to end the borrows for all the local (aka `ReScope`) regions when performing the check, otherwise you would get errors in code as obvious as
[code]

[2017-11-13 21:45] leodasvacas commented on #27336
I'm no expert but I'll try to summarize and contribute.

We want to use type defaults to inform inference. However we may get multiple defaults that could apply to an inference variable, resulting in a conflict. Also new defaults may be added in the future, causing conflicts where there was none.

@eddyb proposes the conservative approach of erroing on conflict and erroing when trying to apply a d

[2017-11-13 21:46] nikomatsakis commented on #45704
Hmm, I left out something important from those instructions. We also want to modify the bit of code that figures out which borrows are in effect. We need to consider the "return" to cancel all the borrows whose duration are local to the function (an `ReScope` region). This would be modifying the data flow.

But I am now wondering if maybe it's better to iterate over the live borrows and examine th

[2017-11-13 21:47] nikomatsakis commented on #45704
Well, be forewarned, this may be one of those things where we try a few different stabs at it before we are happy. =)

[2017-11-13 21:51] kennytm commented on #45861
Ideas after discussion with @nrc,

5. We will create a repository to store the current test status. The Travis+AppVeyor job will push a commit whenever the test result changes. The dev-tools team will create a dashboard to read from this repository.

6. The commit message will @-mention any party responsible for the tool.

[2017-11-13 21:53] leodasvacas commented on #28326
#45772 did all we could do here by removing the `send` lang item. We need `sync` for statics. @Mark-Simulacrum this may be closed.

[2017-11-13 21:58] OmnipotentEntity commented on #45965
Minimal example:

[code]

Gives output:

[code]

[2017-11-13 21:59] #28326 closed

[2017-11-13 22:10] RalfJung commented on #45831
Thanks.

Agreed, that's the least that should happen. Furthermore, it would be nice to be able to tell LLVM that `__rust_alloc` is a "`malloc`-like function", if that's a thing, to get some more optimizations.

[2017-11-13 22:10] mitsuhiko commented on #41607
I'm running into this with uchardet at the moment and the relevant flag (`static-nobundle`) requires nightly. Is there a chance to stabilize this feature or provide some other workaround?

[2017-11-13 22:14] RalfJung commented on #45839
Another interesting question is if we can use this LVLM bug to trigger UB in safe Rust code. So far it seems we have a gadget to "replace" one value of a given type by another; if we could apply that selectively so that the during bounds checks, the index is replaced when checking but not when accessing, we would get UB. Not sure if that is possible though, because the Rust compiler is emitting bo

[2017-11-13 22:29] arielb1 commented on #45360
@nikomatsakis

Won't that cause a soundness issue if a local can be borrowed on the normal termination path and can't be borrowed on the unwind path?

I think we need to:
1. Use [WriteKind::StorageDead] for both `TermiantorKind::Drop` and `StorageDead`. We should also:
1.a. probably add comments somewhere that `ReadKind` and `WriteKind` are only used for error message formatting.
1.b. rename `Writ

[2017-11-13 22:30] nrc opened #45971 "Rustdoc: search page loads docs page before search results"
E.g., if you navigate to https://doc.rust-lang.org/nightly/std/index.html?search=Vec, then you see the docs for the std page for a second or two (longer if you're internet is bad, I assume) before you get the search results for Vec.

cc @GuillaumeGomez

[2017-11-13 23:21] cramertj commented on #24317
I've been wanting this several times recently when implementing some traits with functions which take `&mut self`, but many impls of which actually only need `&self`. I'd love to be able to write `impl MyTrait for Arc/Rc<MyType>` (`&'a` doesn't work because I need to pass a `'static` type). My current workaround is to make a wrapper type `struct MyWrapper(Arc<MyType>)` and do `impl MyTrait for MyW

[2017-11-13 23:26] avkonst opened #45972 "Corrupted variable view in the debugger on Windows"
I am not sure if it belongs to this project. Please advise if it should be moved somewhere else.

I have got sample code from Hyper project (code sample is below), which I compiled using stable MSVC toolchain on Windows (stable-x86_64-pc-windows-msvc, rustc 1.21.0 (3b72af97e 2017-10-09)). Next I launched it under a debugger and played with breakpoints and variable inspections. I can see that the d

[2017-11-13 23:49] ExpHP commented on #45886
This looks simple enough.  I tentatively call dibs, if I may, assuming I don't mysteriously vanish or spontaneously combust or something

[2017-11-13 23:53] wesleywiser commented on #45873
I've collected some data from a few crates. It appears that duplicate reads happen much more frequently than originally thought. Of the crates I tested, the lowest was 19.2% duplicated reads. @michaelwoerister since this doesn't match what you were expecting, would you mind looking at my changes and verifying that I didn't do something wrong? My changes are available in my [incr_duplicate_read_sta

[2017-11-14 00:07] mike155 opened #45974 "Error in CSS file for https://doc.rust-lang.org/book/"
Web fonts don't work on this page: https://doc.rust-lang.org/book/ - at least not in Firefox.

Reason: @font-face definitions in CSS file "rust.css" are referring to the wrong level of the file system. The Woff files are stored in "/" -- and not in "/book".

Current (wrong) definition:
`src: local('Fira Sans'), url("FiraSans-Regular.woff") format('woff');`

It should be:
`src: local('Fira Sans'),

[2017-11-14 00:11] joshlf opened #45975 "ICE: Unexpected panic with mir-opt-level=3"
Compiling [`alloc-fmt`](https://crates.io/crates/alloc-fmt) v0.1.0 with `RUSTFLAGS='-Z mir-opt-level=3'` causes `rustc` to panic:

[code]

## Meta

[code]

[2017-11-14 00:11] QuietMisdreavus commented on #34396
Dredging up this issue again. I would have liked a lint for unused lifetime parameters to be around for a PR on one of my libraries that removed a lifetime parameter from a struct, but not all of the functions that created it. If the parameter is completely unused, i don't want it appearing in my public API, and thus i would like to have a lint for it so i can keep that from happening.

[2017-11-14 00:27] pbzweihander opened #45976 "thread 'rustc' panicked at 'Expected Def::Macro(..)' with rocket_contrib and serde_json"
## The Code

[code]

When I mistakenly typed `Value::json!( ... )` instead of just `json!( ... )`, I found these errors:

## What I Get

[code]

## Rust Version

[code]

[2017-11-14 01:05] tirr-c commented on #45976
I think this is the minimal testcase.

https://play.rust-lang.org/?gist=371836b3fab5dbe95759d6dda2ead1d0&version=nightly

[2017-11-14 01:17] MasonRemaley commented on #43155
It did cause an issue in my case, because my tests interact with the platform's windowing system which is shared between all processes.

I realized though that I have to have a note explaining this anyway though since other apps running on someone's machine could also mess with the windowing system, so I guess just documenting you need to use `cargo test -- --test-threads 1` alongside that isn't t

[2017-11-14 01:23] Aaron1011 commented on #45975
I've reduced the ICE to this snippet ([playground link](https://play.rust-lang.org/?gist=c781d79216d4e76891e5154643ba4b82&version=nightly)):

[code]

`rustc` compiles this fine normally, but ICE's when passed `-Z mir-opt-level=3`

[2017-11-14 01:34] sinkuu commented on #45975
Further reduced:

[code]

[2017-11-14 01:41] nrc commented on #45861
We discussed this at the dev-tools meeting today. We mostly discussed the implementation details. One interesting issue that came up: we want to avoid notification except on changing from testing to not testing. That requires some state in the 'bot' doing the monitoring. One way to avoid security concerns is to use a GitHub repo (I've done this for rustaceans.org and findwork). We might then be ab

[2017-11-14 02:14] ExpHP commented on #45886
also taking care of E0518 (`#[inline]` on types and impls) which is handled right next to E0517

[2017-11-14 02:24] nrc commented on #44690
Yes. There are essentially two lists - one of lints and one of attributes. The compiler only cares about the active tools (initially both lists will be empty). So if the active attributes whitelist is `rustfmt, clippy` and the active lints whitelist is `clippy`, then a `rustfmt::` lint would still be an error (as would an `rls::` attribute).

Yes, they are both on their way.

The requirements look

[2017-11-14 04:43] Phlosioneer commented on #44844
Perhaps I have a biased view, having focused on the things with errors; but it seemed to me that most tests used the json style and completely scrapped the older style.

[2017-11-14 05:30] #45885 closed

[2017-11-14 05:43] jmegaffin commented on #43122
Forgive me if this is inappropriate for the experimental RFC or already in the pipeline, but I don't want Rust to miss the opportunity for (I think) optimally generic coroutines.  The way I see it, the trait should look something like this:
[code]
When defining a coroutine, `yield o` (simply `yield` for unit) suspends the coroutine, yields `o: Item`, and evaluates to the provided `i: Input` when t

[2017-11-14 06:59] dtolnay commented on #45341
Display is for user-facing output, and there is not a universally appropriate user-facing representation of `()` that it could print.

Can you say more about your real use case? It is hard to give a good recommendation knowing nothing about `Foo` but here are some ideas. You could define your own sentinel type instead of using `()`:

[code]

Or `Foo` could be an enum with a variant representing th

[2017-11-14 06:59] #45341 closed

[2017-11-14 07:24] dtolnay commented on #41719
The same ICE affects derive macros as well (from #43921).

[code]

[2017-11-14 07:24] dtolnay commented on #43921
This looks like the same crash as #41719.

[2017-11-14 07:24] #43921 closed

[2017-11-14 07:25] dtolnay commented on #45976
Thanks! This looks like the same crash as #41719.

[2017-11-14 07:25] #45976 closed

[2017-11-14 07:31] dtolnay commented on #44865
I agree that primitives should be exposed at some absolute path. `std::primitive` sounds reasonable.

[2017-11-14 07:37] dtolnay commented on #45008
Seems reasonable. @murarth or @clarcharr would you be interested in figuring out an API for this?

[2017-11-14 07:56] parched commented on #44722
FWIW here's another place that relies on the name of the target to tell whether to generate Thumb code https://github.com/rust-lang-nursery/compiler-builtins/blob/bb2c81b700440f3b1d8a9544d3d33f5454a730f7/build.rs#L4279

[2017-11-14 08:10] dtolnay commented on #45235
The behavior of panicking on a size mismatch makes me uneasy about adding these impls. In any case, it seems like there is some design work to figure out still, and plenty of tradeoffs. I would prefer for this feature to go through the [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md) process if anyone feels motivated to put together a writeup of the tradeoffs, alternative desig

[2017-11-14 08:10] #45235 closed

[2017-11-14 08:21] dtolnay commented on #45445
As mentioned, there are many other intrinsics that should not require unsafe. This is going to need an RFC around how to expose intrinsics that are safe to call. One previous RFC on this topic was closed https://github.com/rust-lang/rfcs/pull/1248#issuecomment-260061132 but the lang team plans to follow up by merging the idea of "intrinsic" and "lang item", at which point `likely` and `unlikely` w

[2017-11-14 08:21] #45445 closed

[2017-11-14 08:27] dtolnay commented on #45547
Seems good to me.

[code]

[2017-11-14 08:36] dtolnay commented on #45910
This is my understanding as well.

I believe it is safe with either repr(transparent) or repr(C), the latter of which is stable. The [`ref-cast`](https://github.com/dtolnay/ref-cast) crate is a generalization of this safe cast.

[2017-11-14 08:55] dtolnay commented on #44724
As mentioned, these methods can be useful in macro-generated code.

[2017-11-14 08:55] #44724 closed

[2017-11-14 09:11] dtolnay commented on #44546
As of #45379 there is `collect::<()>()`.

[code]

It is slightly more handy than `exhaust()` because you get all the usual folding you get with `FromIterator`, such as running through a sequence of `Result`s until the first failure if any.

[code]

Does that address the request in this issue or do we feel that there is more room for improvement?

[2017-11-14 09:21] michaelwoerister commented on #45629
Thanks for the feedback. We'll discuss it in the next @rust-lang/compiler meeting.

[2017-11-14 09:46] michaelwoerister commented on #45873
Huh, this is very interesting. Thank you so much for collecting this data. Goes to show again that one should always measure before assuming anything.

The data collection in your branch looks correct, except for one thing: For anonymous nodes we can't really make deduplication delayed, so counting them too will skew the assessment of what effect the proposed optimization would have. Sorry for not

[2017-11-14 09:56] michaelwoerister commented on #45596
Good idea.

[2017-11-14 10:09] danielpclark opened #45978 "Allow pattern matching after guard clause"
I've opened a separate issue for a Rust style guide on [Guard Clause](https://github.com/rust-lang-nursery/fmt-rfcs/issues/100).  What this issue is about is that Rust currently doesn't recognize when a path has already been handled by a _Guard Clause_.

I want to do the following:

[code]

`let Ok(f) = file` is a nice usage of pattern matching.  But Rust complains as it doesn't know I've already

[2017-11-14 10:18] nikomatsakis opened #45979 "smarter blame assignment for lifetime inference errors"
Consider this example ([try it on play](https://play.rust-lang.org/?gist=3d44ee74eb03e67879d935b537f87bba&version=nightly)):

[code]

I get the error:

[code]

This is pretty good, but I think it would be better if we moved the highlight off of `cx`, which has the correct type, and over perhaps to `base`, which does not, or perhaps to the function call `ty`:

[code]

I think a better analysis of t

[2017-11-14 10:27] #41712 closed

[2017-11-14 10:29] kennytm commented on #45978
You could write this as:

[code]

or, since `file` is a `Result`, not instance of an arbitrary type:

[code]

----

If we supported rust-lang/rfcs#1303 (`let ... else`) this could be written as

[code]

----

I think the compiler should never support the original code by OP as this means we need to inspect the implementation of `is_err` to determine it will always return `false` on the `Ok` branch

[2017-11-14 11:51] giannicic opened #45982 "(RFC 1210) specialization: restrictions around lifetime dispatch"
Note: https://github.com/rust-lang/rust/issues/31844 is the tracking issue for specialization in general

this issue tracks the tasks to do to implement "restrictions around lifetime dispatch" as described [here](https://internals.rust-lang.org/t/shipping-specialization-a-story-of-soundness/5507):

Specialization based on lifetimes shouldn't be allowed partly because "trans" erases any lifetime in

[2017-11-14 12:11] danielpclark commented on #45978
I'm not sure how the internals for Rust checking paths are implemented, but I'm suggesting this more as a relative Guard Clause thing rather than a `Result` thing.

In the example above the is a conditional check on `file` with a immediate exit with `return` in the code block.  The very next item within the same scope is the same item `file` being pattern matched for assignment.  So this looks lik

[2017-11-14 12:39] kennytm commented on #45978
What I mean is that the compiler should not be allowed to peek into the definition of `is_err()` or `is_none()` to know that `let Ok(f) =` or `let Some(f) =` is acceptable, i.e.

[code]

but

[code]

[2017-11-14 12:39] arielb1 commented on #24421
Looks like it was caused by the same "unexpected capture" issue as #38714 - it works on nightly.

[2017-11-14 12:41] arielb1 commented on #24421
This still looks like a distinct "family of examples", so I'll at least like it to be added to the test for that issue.

[2017-11-14 12:45] arielb1 commented on #44632
Doesn't ICE on either stable, beta, or nightly. Closing.

[2017-11-14 12:45] #44632 closed

[2017-11-14 12:45] danielpclark commented on #45978
let Some(f) = file;

Yes.  I find that as very acceptable.  Thank you.

[2017-11-14 12:55] arielb1 opened #45983 "Higher-ranked closure error messages should avoid "anonymous lifetime #2 defined on the body""
When a higher-ranked closure is misused, as in:
[code]

The compiler gives an obscure error message:
[code]

The problem isn't that complicated: `give_any` was declared as taking `F: for<'r> FnOnce(&'r ())`, so it can pass a `y` can be of type `&'α ()` for *any* lifetime `'α`, which might not live long enough to be assigned to `x`.

However, the error message talks about an "anonymous lifetime #2

[2017-11-14 13:29] arielb1 commented on #45983
cc @nikomatsakis

[2017-11-14 15:29] leodasvacas commented on #45978
Shuldn't language feature requests live in the [rfcs](https://github.com/rust-lang/rfcs/issues) repo?

[2017-11-14 15:35] kennytm commented on #45978
@leodasvacas Yes, for major changes like this. Perhaps the discussion should continue in the Pre-RFC on the internals forum: https://internals.rust-lang.org/t/pre-rfc-allow-pattern-matching-after-guard-clause/6238

[2017-11-14 16:17] cengizIO commented on #45983
I'd like to work on this if noone is already interested.

@nikomatsakis

[2017-11-14 16:18] cengizIO commented on #45979
I'd like to work on this if possible

[2017-11-14 16:54] murarth commented on #45008
I believe impls of `From<CStr> for Rc<CStr>`, etc. should work just fine. I'll have a PR ready shortly.

[2017-11-14 16:54] TimNN commented on #45926
No, the problem is that during the first recursive call, the type of "F" is just "F". Then it is "&F". Then "&&F". And so on. For each of these the compiler will generate a different version of the `merge_sort_with_buf`. Since it doesn't know when to stop, it would have to generate an infinite number of versions of the function, which it of course cannot do.

[2017-11-14 16:54] #45926 closed

[2017-11-14 17:46] nikomatsakis commented on #45983
So this specific case:

- If we see one bound that is a free region scoped to a closure expression;
- and the other bound is outside the closure expression,

probably we should say something like

[code]

It should be pretty easy to use the routines that @gaurikholkar added to identify which parameter the bound region comes from, at least much of the time (i.e., `y`). We probably won't *always* be

[2017-11-14 17:54] dtolnay commented on #43722
Generally I prefer for code manipulating pointers to be explicit rather than implicit, so I think implementing `Default` would require some more motivation and discussion of the tradeoffs and alternatives. This would be a better fit for the [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md) process if anyone feels strongly enough to lead that.

[2017-11-14 17:54] #43722 closed

[2017-11-14 17:56] dtolnay commented on #43731
I agree that this would be desirable. Would love to see a PR with an implementation!

[2017-11-14 18:01] dtolnay commented on #43909
I agree that this does not seem intentional. I would love a PR with a fix!

[2017-11-14 18:13] dtolnay commented on #43940
I don't think `impl Borrow<&str> for String` would be a simple fix. That signature would need to take a `&String` and return a `&&str`. Those are both thin pointers that look like this:

[code]

The problem is there is no data pointer and length next to each other in the input for the output to borrow. We may be able to do a more invasive redesign of how String works to make this possible, but it

[2017-11-14 18:13] #43940 closed

[2017-11-14 18:20] nikomatsakis commented on #45360
Hmm, yes, I originally intended to only use the map when an error is reported, but that's not what I wrote, is it?

This seems ok to start. I do think we should at some point pay careful attention to the drop error messages: I think talking about "in the destructor" could help clarify to people why they are getting errors, and it's something we can't clearly say if we use `StorageDead`.

If we cus

[2017-11-14 18:26] paulmenzel commented on #43545
Rust 1.21.0 with lzma-sys v0.1.8 seems to build fine. No idea, how to tell Rust 1.19.0 to use the newer lzma-sys.

[2017-11-14 18:47] #45694 closed

[2017-11-14 18:53] estebank commented on #45983
I wonder if it is worth it to also point at the closure as well:

[code]

[2017-11-14 18:58] federicomenaquintero commented on #45934
Without knowing all the implications of hygiene, it sounds like we could use two macros:

[code]

The fist/unhygienic one is for "I want to paste this manufactured code into the user's namespace".  Gnome-class does a lot of that for the GObject boilerplate.  It creates a couple of modules too keep things contained and exports things from them.  It creates user-visible structs with manufactured ide

[2017-11-14 19:05] durka commented on #45978
This seems like [typestate](https://pcwalton.github.io/blog/2012/12/26/typestate-is-dead/) which existed in Ancient History Rust.

[2017-11-14 19:06] nikomatsakis opened #45988 "three-point error messages in borrowck"
The NLL RFC goes to some lengths to discuss [how to phrase NLL error messages](https://github.com/nikomatsakis/nll-rfc/blob/master/0000-nonlexical-lifetimes.md#how-we-teach-this). In particular, we want to adopt the so-called "three point" style:

[code]

This is going to require a bit of work. Right now, we easily have two of those points: the borrow checker has identified a borrow, and it knows

[2017-11-14 19:06] nikomatsakis commented on #45988
cc @spastorino @Nashenas88 -- one of you might be the right ones to take this on.

[2017-11-14 19:10] spastorino commented on #45988
I can take it, but I need to finish first my pending issue. @Nashenas88 if you're in desperate need of tasks go ahead with this one but remember let me know :)

[2017-11-14 19:11] aidanhs commented on #28794
Mention of `RTLD_NODELETE` on reddit - https://www.reddit.com/r/rust/comments/7cxknc/evolving_our_rust_with_milksnake/dptgnng/?context=3

[2017-11-14 19:48] davidtwco commented on #45360
I haven't had a chance to read the last two comments as apparently GitHub's loading of new comments w/out a refresh stopped working while I was implementing your previous comments. I have a WIP pull request with the previous instructions here: #45989.

[2017-11-14 20:02] ids1024 commented on #43909
Is the preferred solution to make `()` behave like everything else?

I was hoping precision specifiers would work in debug formatting (though, my use case was a bit of a hack); but getting that to work is complicated and somewhat problematic.

Either way, it is technically a breaking change, but presumably no one is really relying on it since it doesn't do anything useful.

[2017-11-14 20:03] nikomatsakis commented on #35203
I would like to propose that we continue to support `mut x` patterns forever. I think we should just lint on them as a "unnecessary `mut` error" (like any other `mut` that has no effect).

[2017-11-14 20:05] PvdBerg1998 commented on #30625
I just experienced this issue with an executable compiled with Rust Stable (1.21.0) on Win10. The executable was compiled with `cargo build --release`.

[2017-11-14 20:14] dtolnay commented on #43909
According to the [`std::fmt`](https://doc.rust-lang.org/std/fmt/index.html#precision) documentation, the intended behavior is:

Do you have a sense of how complicated and problematic it would be to adhere to what the doc says?

[2017-11-14 20:48] nikomatsakis commented on #44265
To setup name resolution, I *think* all we have to do is to get the proper "ribs" in place (the name resolution stuff organizes the sets of names that are in scope into ribs; each rib represents one binding level). e.g. for an impl:

[code]

we would have the following ribs:

[code]

In general, modeling things on how methods work is not a bad idea. We might also do a bit of "future proofing" here

[2017-11-14 20:54] mitsuhiko commented on #28794
I ran into this and looked at ways to work around this. It comes up with Python extension modules and so far we just decided to leak the module. The reason this cannot really be fixed to the best of my knowledge is that `_tlv_atexit` (which is somewhat of an undocumented api as far as I can tell) does not have a way to unregister the callback.

Since the only callback that rust can reasonably plac

[2017-11-14 20:59] nagisa commented on #45972
Was the code compiled with optimisations enabled? It is plausible that enough of the code gets optimised out that there is simply nothing to show anymore.

[2017-11-14 21:06] prasannavl commented on #45926
Ah. Got it. Thanks for the explanation. :)

[2017-11-14 21:11] avkonst commented on #45972
I have run debug build of it. I have not changed any of the build settings explicitly, everything was setup by `cargo init --bin hello_cargo` by default.

[2017-11-14 21:12] joshlf commented on #32838
Most allocators today use size classes, where each size class allocates only objects of a particular fixed size, and allocation requests that don't fit a particular size class are rounded up to the smallest size class that they fit inside. In this scheme, it's common to do things like having an array of size class objects and then doing `classes[size / SIZE_QUANTUM].alloc()`. In that world, figuri

[2017-11-14 21:17] sfackler commented on #32838
At least going off of your PR to alloc_jemalloc, `alloc_excess` is pretty clearly running more code than `alloc`: https://github.com/rust-lang/rust/pull/45514/files.

[2017-11-14 21:20] QuietMisdreavus commented on #44927
Now https://github.com/rust-lang/rust/pull/45815 is merged, where does that leave this issue?

[2017-11-14 22:04] nikomatsakis opened #45992 "lint against "silent elision" in structs/enums/etc"
Now that support for `'_` has landed, as part of https://github.com/rust-lang/rust/issues/44524, it would be good to start linting for cases where it ought to be used. In particular, we wish to warn if there is a struct with lifetime parameters that are elided:

[code]

This should be fairly straightforward to do during `resolve_lifetimes`.

[2017-11-14 22:15] bluss commented on #44927
Icon and text are improved, I think this is fine to close. Thanks @QuietMisdreavus

[2017-11-14 22:15] #44927 closed

[2017-11-14 22:19] tbu- commented on #44546
I'd still say that it's annoying to type, compare `collect::<()>()` to `exhaust()`.

[2017-11-14 22:31] nikomatsakis commented on #45983
@estebank do we have some way to just highlight the `|y|` part?

[2017-11-14 22:52] estebank commented on #45983
@nikomatsakis I believe there was a recent change that either added or merely used that, so it is possible.

[2017-11-15 00:11] upsuper commented on #45850
Another way to workaround it is probably something like
[code]

It has fewer boilerplate than the approach mentioned above, but could still be annoying...

[2017-11-15 00:58] nikomatsakis opened #45994 "[impl Trait] Should we allow `impl Trait` after `->` in `fn` types or parentheses sugar?"
[RFC 1951] disallowed uses of impl Trait within Fn trait sugar or higher-ranked bounds. For example, the following is disallowed:

[RFC 1951]: https://github.com/rust-lang/rfcs/blob/master/text/1951-expand-impl-trait.md#expansion-to-arguments

[code]

This tracking issue exists to discuss -- if we were to allow them -- what semantics they ought to have. Some known concerns around the syntax are:

[2017-11-15 01:24] nrc opened #45995 "`--error-format=short` should be an unstable option"
i.e., require `-Zunstable-features`. This should be backported to beta if necessary.

cc @GuillaumeGomez @alexcrichton @estebank

[2017-11-15 01:39] Mark-Simulacrum commented on #45995
Setting priority to medium -- ideally we'd get this done before beta branched, but it definitely needs to land before 1.23 stable releases.

[2017-11-15 01:42] Mark-Simulacrum commented on #45444
Increasing priority to high as I'd prefer that beta didn't have this, but if it slips that doesn't seem to bad as we'll be fine for one more cycle.

[2017-11-15 01:43] Mark-Simulacrum commented on #44208
@aturon Any updates? This is due to land in 1.22 (which releases next week). If not, perhaps we can reassign.

[2017-11-15 01:43] Mark-Simulacrum commented on #44226
@alexcrichton @nrc -- Any movement on this? If not, release is next week -- this needs to be prioritized.

[2017-11-15 01:56] dtolnay commented on #42849
Sounds good to me. I agree that this part of the API would be good to keep consistent between HashMap/HashSet and BTreeMap/BTreeSet. Please submit a PR.

[2017-11-15 01:59] dtolnay commented on #35762
I agree that setup and teardown for tests would be useful. This is going to need an RFC so let's track it under https://github.com/rust-lang/rfcs/issues/1664.

[2017-11-15 01:59] #35762 closed

[2017-11-15 02:03] Nashenas88 commented on #45988
I'd love to work on this. Whenever I get back to the visualizer work, this would be extremely useful to be familiar with.

[2017-11-15 02:14] dtolnay commented on #42655
Tagging C-feature-accepted based on the discussion in #42965. Someone will need to rebase the PR and address the review comments.

[2017-11-15 02:32] dtolnay commented on #42671
Tagging C-feature-accepted to follow up on the approach in https://github.com/rust-lang/rust/pull/43020#issuecomment-314650930. Please submit a PR with an implementation and tests. We will need to confirm that this causes less breakage than the original `Borrow`-based approach.

[2017-11-15 02:49] Nashenas88 commented on #45988
One question about the UI here: If the borrow is moved between many variables and data structures, would it be useful to explain that movement? One of my biggest frustrations with some existing errors are when two seemingly unrelated types cause lifetime issues amongst each other. In those cases the relationship isn't immediately clear, and the errors is very vague. We are much more verbose when i

[2017-11-15 02:49] CAD97 commented on #44208
@Mark-Simulacrum

Using the case in https://github.com/rust-lang/rust/issues/44208#issuecomment-326183331, it still causes an error on beta/nightly but not on stable:

[code]

[2017-11-15 03:11] Mark-Simulacrum commented on #44208
Right, because stable doesn't yet have the regression -- it will once 1.22 (current beta) is released next Thursday.

[2017-11-15 03:25] sunjay commented on #12335
Sorry to resurrect an old issue (I can open a new one if needed), but are there any plans to add support for this type of compile testing in std? It would be really cool to just be able to add `should_not_compile` to things like doctests (similarly to how we add `no_run` now).

When documenting how something doesn't compile, it's convenient to be able to test that it actually never compiles. :)

[2017-11-15 03:51] Mark-Simulacrum commented on #12335
I *think* there's some support for `compile_fail` in doctests and maybe some support for indicating the error code that's expected. @GuillaumeGomez might know more, see https://github.com/GuillaumeGomez/rust/blob/eb7664b445d4c2a44e31b6557931dda88e7dd071/src/librustc_borrowck/diagnostics.rs#L20 for what I'm talking about.

[2017-11-15 03:52] dtolnay commented on #44324
An unstable `or_default()` method was added in #44344. This issue is now the tracking issue for stabilization.

[2017-11-15 03:57] #45894 closed

[2017-11-15 03:58] dtolnay commented on #34502
Seems reasonable. I would like to see an implementation of this in a PR, along with a brief writeup of how this improves the debugging experience and how it impacts non-debug use cases, and I think the libs team will be able to arrive at a discussion in the PR.

[2017-11-15 04:12] dtolnay commented on #37071
I would lean toward using a no_std hasher from crates.io. I don't believe it is important for core to contain at least one non-deprecated implementation of Hasher.

[2017-11-15 04:18] dtolnay commented on #30429
This is going to need an RFC. Fortunately there already is one in https://github.com/rust-lang/rfcs/pull/2091, and it seems to have passed FCP! I don't think we need this issue anymore, we can follow up there.

[2017-11-15 04:18] #30429 closed

[2017-11-15 04:24] nrc commented on #44226
This is done.

[2017-11-15 04:24] #44226 closed

[2017-11-15 04:32] ollie27 commented on #45974
#45998 should fix it.

[2017-11-15 05:25] aturon commented on #44208
@Mark-Simulacrum thanks much for checking in. I don't have the cycles to look into this at the moment. @eddyb or @arielb1, would one of you mind?

[2017-11-15 05:36] eddyb commented on #44208
IIRC @arielb1 made some changes in the recent past to method resolution, not sure if they're related.

[2017-11-15 06:17] dtolnay commented on #24135
I would prefer for this to go through the [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md) process.

Most importantly for the RFC, one thing that hasn't been discussed so far is what are some of the uses cases where cloning an io::Error is the best solution. The RFC would need to provide some concrete situations from real code where not being able to clone an io::Error causes p

[2017-11-15 06:17] #24135 closed

[2017-11-15 06:23] jseyfried commented on #45934
@alexcrichton Thanks for taking the time to write this!

Making it `Default` was probably a mistake, opened #45999 to rename to `Span::def_site`.

`Span::def_site()` is the hygienic "opposite" of `Span::call_site()` -- the former is a "default" span that resolves at the macro invocation, and the latter is a "default" span that resolves at macro definition.

For backwards comparability with macros

[2017-11-15 06:37] dtolnay commented on #35943
Thankfully the [`failure`](https://github.com/withoutboats/failure) crate fixes this in its cause method.

[code]

[2017-11-15 06:37] dtolnay commented on #35943
I am closing this issue because I don't believe it is actionable as is (beyond sitting on the Rust 2.0 wishlist). Any solution we implement in the Error trait or elsewhere will need to go through the [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md) process.

@dathinab or anyone else who would be interested in spearheading the RFC for this -- it would be great to see an RFC with

[2017-11-15 06:37] #35943 closed

[2017-11-15 06:40] Dylan-DPC commented on #45992
Interested in taking this up :smile:

[2017-11-15 07:01] dtolnay commented on #22666
I would love to see a PR to show memory usage information in #[bench].

[2017-11-15 07:07] #45702 closed

[2017-11-15 07:14] SimonSapin commented on #37071
Is there a `#![no_std]` hasher in the rust-lang or rust-lang-nursery org that the docs could recommend?

[2017-11-15 07:44] WaDelma commented on #29661
I would also prefer getting a conservative version of this stabilised as currently there is no way to backwards compatibly add new associated types.

[2017-11-15 08:09] dtolnay commented on #44370
I agree that it would be good to have an easy way to check whether a slice is sorted. This exists in Go as [`sort.IsSorted`](https://golang.org/pkg/sort/#IsSorted), C++ as [`std::is_sorted`](http://en.cppreference.com/w/cpp/algorithm/is_sorted), D [`std.algorithm.sorting.is_sorted`](https://dlang.org/library/std/algorithm/sorting/is_sorted.html). Plenty of people are already defining their own ver

[2017-11-15 08:09] frontsideair commented on #22639
I guess, but it was a fun exercise in pattern matching.

[2017-11-15 08:25] SimonSapin commented on #45703
For archeology purpose: these were added to the standard library in 2014 419ac4a1b899ba88fb360b4c71c08f3610564cd4, then deprecated and moved to crates.io in 2015: https://github.com/rust-lang/rust/issues/27774.

Now that we’ve decided to bring them back and are going through the process motions, can we start FCP to stabilize? CC @rust-lang/libs

[2017-11-15 08:43] dtolnay commented on #45703
Is there anything else in the standard library that uses "ref_mut" to refer to `&mut T`? In [RFC 199](https://github.com/rust-lang/rfcs/blob/master/text/0199-ownership-variants.md#why-mut-rather-then-mut_ref) we went the opposite way.

Is it intended to be understood as (from\_ref)\_mut or from\_(ref\_mut)?

`slice::from_mut` wouldn't seem accurate to me but is there a different naming that works

[2017-11-15 08:50] dtolnay commented on #26244
I don't believe we need three different variations of to_lowercase in std.

There are four tiers that have been raised in this issue:

- Dead simple, such as you might use for converting an md5 hash from uppercase hex to lowercase hex. This is provided by the standard library in [`str::to_ascii_lowercase`](https://doc.rust-lang.org/nightly/std/primitive.str.html#method.to_ascii_lowercase).
- Best-

[2017-11-15 08:50] #26244 closed

[2017-11-15 09:25] whitequark commented on #45703
The latter. I think `slice::from_mut` is better here, too. I did not realize this in my initial PR.

[2017-11-15 09:27] GuillaumeGomez commented on #45995
I'll add it very soon.

[2017-11-15 09:28] GuillaumeGomez commented on #12335
Yes, `compile_fail` is now available to users for doctests (just like `no_run` and `ignore`).

[2017-11-15 09:53] arielb1 commented on #44208
@aturon

This is caused by #43705, normal expected inference breakage.

[2017-11-15 10:11] nikomatsakis commented on #45988
@Nashenas88 I've wondered the same thing. I did not propose tracing the full path, because I didn't want to overwhelm the user, but I imagine it might be useful, yes. Maybe a good idea would be to design the system so that we have the information, then we can separately tweak when we think it makes sense to display it.

[2017-11-15 10:29] nikomatsakis opened #46001 "[refactoring] MIR stores the `return_ty` field in two places!"
Right now, the MIR has a special field, `return_ty`:

https://github.com/rust-lang/rust/blob/f93a4928c2168bcc475b4fe77ba9f9e5494ffe1c/src/librustc/mir/mod.rs#L85-L86

However, the MIR *also* has an array of locals, and the 0th local is the "return slot". Its type is the return type:

https://github.com/rust-lang/rust/blob/f93a4928c2168bcc475b4fe77ba9f9e5494ffe1c/src/librustc/mir/mod.rs#L97-L102

I

[2017-11-15 10:30] nikomatsakis commented on #46001
I marked this as E-mentor, the mentoring instructions are inline above. Just remove the field in question and follow the thread of the compiler. Feel free to pop in [on gitter](https://gitter.im/rust-impl-period/WG-compiler-middle) with any questions that come up!

[2017-11-15 10:37] j-haj commented on #46001
I would like to give this a shot

[2017-11-15 10:37] nikomatsakis commented on #45983
@estebank if so, I'd be in favor. Otherwise, we're just setting ourselves up for the "overlapping spans" problem.

[2017-11-15 10:45] michaelwoerister opened #46002 "incr.comp.: x.py --incremental can cause too big cache directories"
In particular, sometimes there are two cache subdirectories for a given crate in `stage0-incremental`, e.g. two `rustc_trans-xxxxxxx` directories. They have different crate disambiguators (otherwise there'd only be one directory). The disambiguator is set by the build system, either `cargo` or `x.py`. It's not clear yet whether this is a problem in `rustc` (somehow handling disambiguators or direc

[2017-11-15 11:01] arielb1 commented on #45360
The distinction we *want* to make is between shallow and deep borrows. If there's a shallow borrow, we want to emit a "borrow does not live long enough" regardless of whether we first see a `drop` or `storagedead` (I'm quite sure the `drop` should always come first if it exists - after all, a `storagedead` without a `drop` is a leak - but that just strengthens the point), while if there's a deep b

[2017-11-15 11:12] arielb1 opened #46003 "borrowck compiler errors for upvars contain "spurious" dereferences"
## STR

[code]

## Result

[code]

`y` is an integer, so `**y` isn't actually a thing. We emit the dereferences because there are layers of indirection before we get to the upvar, but they aren't actually a part of the user-visible syntax.

[2017-11-15 11:35] bluss commented on #44370
I don't think it is a problem o consume the iterator, we make and consume iterators for many different tasks. For example any use of Iterator::position consumes an iterator just to answer the position question.

[2017-11-15 11:53] qtamaki commented on #30319
I try add component "C++/CLI Support" by VS2017 installer.

[2017-11-15 12:52] CAD97 commented on #44208
There's more to it than just an added fn. This case _should not be offered_ `std::option::Option::<&mut _>::cloned` as an option.

Using a reproduction case as simple as I was able to make it: <https://play.rust-lang.org/?gist=73317abb09e9e9b3469eb32d6a7d2545&version=beta>

[code]

Run as is, we get
[code]

Comment out the second impl block, lines 11-15, _it compiles fine_.

Comment out the first

[2017-11-15 13:12] CAD97 commented on #44208
I have made a repro case of what I believe to be the same root issue (occurring on stable) without the stdlib fn call: <https://play.rust-lang.org/?gist=0faa6d4304f76c72d6941934c02edd97&version=stable>

[code]

Compiling gives us:
[code]

OK, we have conflicting impls for `Container<&'static _>` and `Container<&mut _>`, do we? Let's delete the one for `Container<&'static _>` then!
[code]

I can op

[2017-11-15 13:15] gnzlbg commented on #44370
@dtolnay

Consuming an `Iterator` is orthogonal to consuming an underlying slice:

[code]

vs:

[code]

The point of implementing this on `Iterator` is that it allows the algorithm to work on everything that can be iterated upon, not only slices.

You mentioned:

C++ `std::is_sorted` and D's std.algorithm.sorting.is_sorted require only a `ForwardRange`, that is,  anything that can be Iterated exce

[2017-11-15 13:26] CAD97 commented on #44208
Given that the inference issue is preexisting for this strange case and the regression is merely from expanding the available fn on `Option`, my vote is to release 1.22 as is, but to investigate this as an issue on its own right. #43705 merely opened another door to the preexisting inference issue.

[2017-11-15 13:28] eddyb commented on #42047
Assuming we can write directly in the return destination, I came up with different benchmarks:

<details>
<summary>Click for code</summary>
[code]

</details>

[code]
The difference between `bench_huge_result` and `bench_huge_result_copy{,_return}` is that the latter two write into a local variable and then copy that variable into the `(dest as Ok).0` field, which we *should* be able to optimize a

[2017-11-15 13:50] SimonSapin commented on #45850
In https://github.com/servo/servo/pull/19227 I’ve replaced this:
[code]

With this:

[code]

[2017-11-15 15:25] nikomatsakis opened #46006 "padding in format args doesn't work with debug impls"
This:

[code]

prints what I expect:

[code]

But this:

[code]

prints `Hello "x"!` ([play](https://play.rust-lang.org/?gist=6f746b24ac615c640c68aac7c534838c&version=stable)), not:

[code]

Is this intentional? If so, the format docs are pretty misleading. Otherwise, a regression perhaps? I'm not sure what is...T-libs?

cc @alexcrichton

[2017-11-15 15:36] #45680 closed

[2017-11-15 15:46] retep998 commented on #30319
@qtamaki
"C++/CLI Support" is not the component you want. That merely installs Managed C++ which is very different from the native C++ toolchain that Rust relies on.

[2017-11-15 16:18] sunjay commented on #12335
Awesome! Thanks!

[2017-11-15 16:22] bluss commented on #44546
And collect to unit is hard to discover, too, isn't it? (It is kind of automatically available if one calls collect(); maybe that would be the only intuitive entry.)

[2017-11-15 16:34] tromey commented on #45511
Sure, I will do this.  I think the issue is more an LLVM thing than a DWARF thing, though; not certain I know enough there to say whether the patch is good, but I will at least do the shepherding.  Also I wanted to point out that @philipc knows quite a bit about DWARF; he's one of the principals on https://github.com/gimli-rs/gimli

[2017-11-15 16:39] tromey commented on #45511
Actually maybe there's nothing to do here except merge this into rust-llvm?  https://reviews.llvm.org/D39981

[2017-11-15 16:43] raphaelcohn opened #46007 "ICE: Adding explicit type to parameter in closure"
Changing this block of code, a private function within a private instance function:-

[code]

To this block of code (ie adding `&'resources Resource` in `Ref::map(resourceRef, |_resource: &'resources Resource| imageMetaData);`) causes an ICE. The previous block of code does not compile correctly (`error[E0312]: lifetime of reference outlives lifetime of borrowed content...`), but does not cause a

[2017-11-15 16:44] tromey commented on #45511
Yes, I think so.  I'll do that.

[2017-11-15 16:45] raphaelcohn commented on #46007
Specifically, it is adding the explicit lifetime `'resources` in the closure it seems.

[2017-11-15 16:47] michaelwoerister commented on #45511
Cool, thanks!

[2017-11-15 16:50] sunjay commented on #12335
@GuillaumeGomez Looks like this only really works on nightly for the moment. I'll have to wait until it hits stable. :)

[2017-11-15 16:51] Gankro commented on #42047
Yes, that matches what I'd been thinking the solution would be. (not sure on the precise MIR details)

To be more concrete:

[code]

would lower to (using an &uninit to represent a pointer that doesn't have a destructor)

[code]

So that the callee knows that it can freely clobber `*ok` and `*err`, and only one will be interpretted if the function returns the corresponding bool.

However the hard

[2017-11-15 17:03] federicomenaquintero commented on #45934
Thanks, @jseyfried, this is very enlightening.  I like the idea of `spanned_quote!()`.  With that in place, I assume the plain `quote!{}` would be removed?

Maybe the following is more of a gnome-class issue than something directly for this issue, but anyway:

In gnome-class we are given a name from the user, say `Foo`, and generate some other identifiers from it:

[code]
Then we use the generated

[2017-11-15 17:03] alexcrichton commented on #45511
@tromey oh no worries! I've tested it locally now and will submit a PR soon (with another change or two)

[2017-11-15 17:07] tromey commented on #45511
Ok, thanks @alexcrichton

[2017-11-15 17:08] alexcrichton commented on #45511
I've opened up https://github.com/rust-lang/rust/pull/46008 which I think should close this out (and also re-enables ThinLTO in a few locations)

[2017-11-15 17:31] lnicola commented on #42301
I tried to look into this, but I couldn't figure out how to get the crate versions. The best I managed to do was linking to `https://docs.rs/crate/*/crate`, which loads the latest version (I assume). Of course, it won't work if the crate is not published, or if the versions are different.

Any other ideas?

[2017-11-15 17:43] crumblingstatue commented on #45968
This seems fixed on `(ff0f5de3b 2017-11-14)`, but I don't know if a regression test should be added or something, so I'll leave this open for now.

[2017-11-15 17:52] SimonSapin commented on #44643
Ping @rust-lang/libs. FCP to stabilize?

[2017-11-15 17:59] dtolnay commented on #44643
I pushed for changing the signature so I will take responsibility for it. 😸

@rfcbot fcp merge

[2017-11-15 18:24] Gankro commented on #42047
Oh you will also need to answer the question of if the `ok` and `err` payloads may alias, which would allow:

[code]

to be optimized to

[code]

On balance I think the answer should be "no" (would probably pessimize the callee too much?)

[2017-11-15 18:29] dtolnay commented on #28940
On the spectrum of acceptable breakage, how  bad is changing `home_dir` on Windows to do the right thing? It seems like we are saying pretty much anything calling `home_dir` on Windows right now is buggy behavior. Is that fair?

[2017-11-15 18:34] dtolnay commented on #33549
I agree with @apasel422 that I don't think this will work with an iterator of entries. The Iterator trait permits the caller to hold on to multiple items at the same time, which in this case would mean multiple items that each have mutable access to the same HashMap.

I think the use case of iterating over key-value pairs and conditionally removing them efficiently is addressed by [`HashMap::retai

[2017-11-15 18:34] #33549 closed

[2017-11-15 18:39] #45642 closed

[2017-11-15 18:41] dtolnay commented on #34882
This is a neat idea! I would prefer for it to go through the [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md) process if anyone feels strongly enough to spearhead that. There are two important points for the RFC to make:

- There exist reasonably common use cases in real code where they would want to call `next_if`.
- The proposed `next_if` method is the best way for those use

[2017-11-15 18:41] #34882 closed

[2017-11-15 18:44] steveklabnik commented on #45703
I had left a brief comment in the original PR, but I didn't see anyone reply: my crate has two extra `Option` based versions as well, I don't know if we want to pull them in, or if my crate will still have some small use for those variants.

[2017-11-15 18:50] nikomatsakis commented on #45960
Some context about what we are trying to do in the NLL / Borrow Checker etc is available in [this paper document](https://paper.dropbox.com/doc/Non-Lexical-Lifetimes-rustc-Dev-Practices-cdPdAj0eXGt5H4FPWGRve). The other thing is that I wrote [this gist that talks about how to update a test to work for both AST and MIR borrowck](https://gist.github.com/nikomatsakis/a0d5dee0bd3c4d4f0442914a9abdf74c)

[2017-11-15 18:59] nikomatsakis commented on #46003
I believe that to fix this we should rework a bit the approach we took in https://github.com/rust-lang/rust/pull/45938. In particular, we can use the `upvar_decls` field on the `Mir` type:

https://github.com/rust-lang/rust/blob/01e979f7b1409a14df6535ca736e65331f3f37f6/src/librustc/mir/mod.rs#L112-L114

This field gives access to information about the variables that the closure captures from its e

[2017-11-15 18:59] nikomatsakis commented on #46003
cc @vramana, who may want to do this as follow-up to the other PR =)

[2017-11-15 19:04] SimonSapin commented on #45703
`opt_slice(x)` can be written as `x.as_ref().map(ref_slice)` which does not use `unsafe` (and is fairly standard `Option` manipulation code). So I think the need to include it is less pressing.

[2017-11-15 19:08] austinbes commented on #45960
I'd like to give this one a shot

[2017-11-15 19:12] kennytm commented on #44643
As I mentioned in https://github.com/rust-lang/rust/issues/32310#issuecomment-324406220, I'm :-1: to this if the method is called `splice()` as it does not return the deleted part, unlike `Vec::splice()`. Calling it `replace_slice()` seems more appropriate.

(

* C++ calls this [`replace`](http://en.cppreference.com/w/cpp/string/basic_string/replace),
* D calls this [`replaceInPlace`](https://dlan

[2017-11-15 19:16] R030t1 commented on #30010
Has the use of a custom package manager been publicly justified, and where might I find that justification?

I am reluctant to use crates because in my experience all new languages have had poor track records with customized package managers. They are not as secure or as feature-rich as existing solutions, though they immediately achieve better language integration.

In some cases there are glarin

[2017-11-15 19:16] gnzlbg commented on #32838
So let me see if I follow properly:

[code]

Is that it?

---

That PR was a bugfix (not a perf fix), there are many things wrong with the current state of our jemalloc layer perf-wise:

- `nallocx` is a `const` function in the GCC sense, that is, a true pure function. This means it has no side-effects and for C/C++ programs LLVM can use this information to elide the call if the result is not used

[2017-11-15 19:25] droundy commented on #28940
My vote, for what it's worth, would be to just treat the current behavior on windows as a bug, and fix it.  Is anyone aware of rust code that relies on the current Windows behavior?

[2017-11-15 19:38] sunfishcode commented on #40470
@Gankro That's a good point. Allowing Rust to produce sNaNs in more places doesn't break those kinds of optimizations. And I'm not aware of any optimizations that explicitly check for sNaNs, and I've checked all the usual suspects. So this change seems ok.

[2017-11-15 19:44] joshlf commented on #32838
Yes.

[2017-11-15 20:02] SimonSapin commented on #44643
`replace_range`?

[2017-11-15 20:21] arielb1 commented on #45184
I think this can be closed, given that the false edges have been implemented.

[2017-11-15 20:21] #45184 closed

[2017-11-15 20:56] jseyfried commented on #45934
@federicomenaquintero

Perhaps, I think it could still be nice to have `quote! {}` by itself though, so that e.g.
[code]

Good question, I forgot to mention this -- the span in `spanned_quote!` would only apply to quoted tokens; any interpolated tokens would retain their spans. This is how `quote!` behaves today (otherwise, the above equivalence wouldn't hold).

This means we (I) should prioritize

[2017-11-15 21:01] arielb1 commented on #45641
Nope, still broken in 88a28ff6028cf197ed6b4185d8cd4887f05e3e07

[2017-11-15 21:03] matthewjasper commented on #45199
Minified case (that still ICEs after #45936)
[code]

[2017-11-15 21:07] zacps opened #46013 "cfg! branches not applicable to the current build are still type-checked"
The issue is if there's a very long function that should be *almost* identical between two platforms/features the easiest way to make a small change is to use `cfg!`. However, if it created a type error because an identifier isn't available on the target platform/feature it will still create a compiler error even though it will never be executed.

For example say we had this situation:
[code]
And

[2017-11-15 21:10] sfackler commented on #46013
`cfg!(..)` just expands into `true` or `false`. I'm not sure disabling type checking based on unreachability is a good idea in general.

You can instead use a cfg'd block:

[code]

[2017-11-15 21:13] zacps commented on #46013
Ah, I wasn't aware you could use the `cfg` attribute on blocks or statements. Closing.

[2017-11-15 21:13] #46013 closed

[2017-11-15 21:34] arielb1 commented on #45466
LLVM patch that fixes this:
[code]

OTOH, adding random LLVM passes all around is bad for compilation time, so I'm not sure how much do we want this

[2017-11-15 21:49] QuietMisdreavus opened #46015 "rustdoc: searches by path are broken"
Current nightly:

![image](https://user-images.githubusercontent.com/5217170/32862063-6c183f4e-ca1c-11e7-8c52-a63ff64b965a.png)

Current stable:

![image](https://user-images.githubusercontent.com/5217170/32862089-800ba2e8-ca1c-11e7-9782-582dcf6372ee.png)

cc @GuillaumeGomez

[2017-11-15 22:11] estebank commented on #18026
[Current output](https://play.rust-lang.org/?gist=f43b4c3989dc308e8e3a959cc985afb9&version=nightly):

[code]

[2017-11-15 22:14] sfackler commented on #46006
Each implementation of a `fmt::*` trait needs to individually decide if and how it's going to handle formatting flags. `Debug` impls tend to not handle them in general.

[2017-11-15 22:17] infinity0 opened #46016 "Spurious SIGPIPES when used in typical UNIX shell pipelines"
[code]

This was originally filed [here](https://github.com/sfackler/cargo-tree/issues/25) but @sfackler determined the cause:

Note that to see the backtrace, the data being piped has to be large enough to overflow the kernel pipe buffer.

[2017-11-15 22:19] Seeker14491 opened #46017 "[rustdoc] Primitive types don't appear in search"
Most primitive types don't appear in the search results. Instead, only the module appears, such as `std::str`. The primitive type `bool` does appear though, as there is no `std::bool`. So it looks to me like these are mistakenly being treated as duplicates and not shown. This is a regression from stable.

**Stable:**
![stable](https://user-images.githubusercontent.com/6490497/32863010-a33b23b2-ca1

[2017-11-15 22:23] arielb1 opened #46018 "MIR borrowck error message talks about "cannot move out of borrowed_content" (instead of "borrowed content")"
https://github.com/rust-lang/rust/blob/88a28ff6028cf197ed6b4185d8cd4887f05e3e07/src/librustc_mir/borrow_check.rs#L79-L102

This appears e.g. in
[code]

and also in the test src/test/compile-fail/borrowck/borrowck-for-loop-correct-cmt-for-pattern.rs

[2017-11-15 22:31] marshallpierce opened #46019 "Making a function generic (but not using the parameter at all) causes ~12% slowdown"
I found a situation where making a function that contains the majority of the hot code a generic function produces about a 12% performance regression in benchmarks, even though the generic parameter is not actually used and the type parameter in question is only ever used with one type.

The code in question is at https://bitbucket.org/marshallpierce/stream-vbyte-rust. The benchmark that exhibits

[2017-11-15 22:35] sfackler commented on #46016
We could provide a function in std::io to unignore SIGPIPE so applications could more easily opt-in to acting like a "standard" command line program.

[2017-11-15 22:37] arielb1 opened #46020 "MIR-borrowck: add "consider changing this to `mut x`" note, as in AST borrowck"
Currently, when you try to access an immutable local, AST borrowck suggests that you should change it to `mut x`, for example:

[code]

[code]

MIR borrowck should be doing this too.

FIXME: I should write mentor notes

[2017-11-15 22:48] #45698 closed

[2017-11-15 22:49] Seeker14491 opened #46021 "[rustdoc] Search regressions"
The quality of search results is significantly worse on nightly compared to stable:

### Stable:
![str_stable](https://user-images.githubusercontent.com/6490497/32864265-19478a4c-ca24-11e7-8178-d83aa717774c.PNG)

### Nightly:
![str_nightly](https://user-images.githubusercontent.com/6490497/32864266-1aac3a5e-ca24-11e7-809a-8916630bf02e.PNG)

### Stable:
![thread_stable](https://user-images.githubus

[2017-11-15 22:51] Seeker14491 commented on #46021
Related issue: #46017

[2017-11-15 22:57] arielb1 commented on #44837
The permission checks still let you assign/mutate through an immutable reference:
[code]

e.g. the test compile-fail/borrowck/borrowck-borrow-mut-base-ptr-in-aliasable-loc.rs

[2017-11-15 23:13] arielb1 opened #46023 "MIR-borrowck: immutable unique closure upvars can be mutated"
MIR borrowck allows for immutable unique closure upvars to be mutated, e.g.
[code]

[2017-11-15 23:21] wesleywiser commented on #45873
Reran the same tests with the [updated code](https://github.com/rust-lang/rust/compare/master...wesleywiser:incr_duplicate_read_stats). The results aren't significantly different (the above "Full results here" link now points to the updated results).

[2017-11-15 23:39] estebank commented on #26319
Suggested output:

[code]

[2017-11-16 01:24] KiChjang commented on #45129
I'm taking a look at this.

[2017-11-16 01:25] anrdh commented on #46018
I can take care of this!

[2017-11-16 03:44] dtolnay commented on #38475
The `Duration` API has been explored from a few different perspectives in https://github.com/rust-lang/rfcs/issues/1545, https://github.com/rust-lang/rfcs/pull/1547, https://github.com/rust-lang/rust/pull/35868, https://github.com/rust-lang/rust/pull/41328, https://github.com/rust-lang/rfcs/issues/1917, and #38475. At this point I believe an [RFC](https://github.com/rust-lang/rfcs/blob/master/libs

[2017-11-16 03:44] #38475 closed

[2017-11-16 03:49] #39588 closed

[2017-11-16 03:49] #44910 closed

[2017-11-16 03:52] dtolnay commented on #33736
I agree that isatty information seems appropriate to provide for the standard library Stdin Stdout Stderr types. I would be interested in seeing a concrete design proposed in an [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md) if someone is interested in spearheading that.

[2017-11-16 03:52] #33736 closed

[2017-11-16 04:04] retep998 commented on #33736
Unless libstd wants to tackle the task of providing TTY specific functionality such as colors and stuff using ANSI escape codes and windows console api calls, then there is very little reason for libstd to provide `isatty`.

[2017-11-16 04:05] joshtriplett commented on #33736
If someone would be interested in proposing an RFC, I'd be happy to mentor them through the process.

[2017-11-16 04:05] joshtriplett commented on #33736
@retep998 There are other reasons to want to know if stdout or stderr is a tty, besides formatting.

[2017-11-16 05:18] whitequark commented on #45703
@steveklabnik I replied to you: https://github.com/rust-lang/rust/pull/45306#issuecomment-340523116

[2017-11-16 05:44] Zoxc opened #46026 "Add an error for inline assembly which are non-volatile without any outputs"
https://github.com/rust-lang/rust/pull/45920 turned up some usages of inline assembly which have no outputs. LLVM will just remove such inline assembly as they can never be used. We should make this an error.

[2017-11-16 06:14] bstrie opened #46027 "Type alias fails to produce a type error for unsized type"
Here's a program that we expect to fail to compile, and happily it does fail to compile:
[code]
Here's the happy error message:
[code]
Here's the actual bug: if we use a type alias here rather than a newtype, this does *not* fail to compile:
[code]
Fortunately it appears to be impossible to actually instantiate this, but surely this should fail to compile just as the first example does.

[2017-11-16 06:40] aturon commented on #24111
@durka can you open a *single* tracking issue for stabilizing the constness of all of those functions? I'll propose FCP once it's up.

[2017-11-16 06:48] dtolnay commented on #28975
I agree, the current behavior seems broken to me. Would you expect the environment to be captured when `new` is called or when `spawn` is called? I believe #33183 wanted the latter, with the sequence of `env` / `env_remove` / `env_clear` changes replayed against whatever the parent process environment contains at that time. @oconnor663

My only concern would be that if we provide getters on the Co

[2017-11-16 07:21] dtolnay commented on #27108
I agree that it would be desirable for `str` and `[u8]` to hash the same. Does anyone have an estimate of the worst case, how much this would affect performance of realistic usage of hash map with string keys?

[2017-11-16 08:00] deerdear commented on #45629
@sreekanthn I've got the same problem. Any luck solving it so far?

[2017-11-16 08:07] parched commented on #46026
Alternatively, do what GCC does and add volatile automatically if there are no outputs.

[2017-11-16 08:42] arthurprs commented on #27108
We can always make &[u8] hash to be similar to &str (appending 0xFF) and not the other way around if any performance regression is a concern. It's purely implementation detail.

[2017-11-16 08:43] chris-morgan commented on #27108
My preliminary benchmarking of hashing `[u8]` and `str` shows no measurable difference on nightly-x86_64-pc-windows-msvc, regardless of data size (up to a test file of 3.2 megabytes)—it’s always well within ε (though admittedly ε is always at least ⅓ of the total) with one winning sometimes and the other other times. I therefore think we can make this change without concern.

Here’s one of my test

[2017-11-16 08:45] chris-morgan commented on #27108
@arthurprs I presume the length thing is to help with types with few possibilities, e.g. zero-sized types, so that a two-element `[()]` is more likely to hash differently to a three-element `[()]`. It bears a certain resemblance to techniques to strengthen against length-extension attacks, also. Not sure whether it’s useful in practice.

[2017-11-16 08:50] arthurprs commented on #27108
There's definitely a difference, but you need to use very small sequences, from 0 to 17 bytes. It'll also among hashers. I have plenty of test code around, I'll compile a test for this in a bit.

@chris-morgan Precisely, they use different techniques to achieve the same (prefixing the usize len / appending a 0xFF).

[2017-11-16 09:01] GuillaumeGomez commented on #12335
It's not in beta? It's been a while that it has been merged now...

[2017-11-16 09:17] arthurprs commented on #27108
Fnv and others byte-at-a-time will take a sizeable hit.

Siphash has an internal block size of 8 and it's more expensive overall so its less susceptible to the change.

[code]

[2017-11-16 09:37] nikomatsakis commented on #45129
struct Foo { x: usize }

static mut SFOO : Foo = Foo{x: 23 };

impl Foo {
    fn x(&mut self) -> &mut usize { &mut self.x }
}

fn main() {
    unsafe {
        let x = SFOO.x();
        SFOO.x += 1; // ?
        *x += 1;
    }
}

[2017-11-16 09:40] nikomatsakis commented on #45129
I think we should at least warn about this scenario. We could do this by looking at the borrow path during the access checks to see if it was a borrow of a static.

[2017-11-16 09:55] nikomatsakis commented on #45129
After some discussion on gitter, decided that we should leave warning for later consideration, and just match AST borrowck in this case for now. This is not a **bug fix**, no need to deviate right now.

[2017-11-16 09:59] michaelwoerister commented on #45873
Thanks, @wesleywiser!

OK, let's see, `Cargo` is the most resource intensive case here with `10,260,175` reads total and `1,173,234` of those after filtering. Each read costs 4 bytes to store, so keeping around all reads would cost about 40MB while when deduplicating immediately we only need 4.5MB. That's a pretty big difference but in absolute numbers it doesn't seem like a showstopper. OTOH, sin

[2017-11-16 10:26] infinity0 commented on #46016
Perhaps only the error message should be suppressed, it looks like the "traditional" programs do fail as a result of a broken pipe:

[code]

141 seems to be the traditional exit code for a broken pipe.

[2017-11-16 10:27] Alzimzim commented on #45403
Error log with `ac_add_options --disable-optimize`
http://file-store.rosalinux.ru/api/v1/file_stores/b721e3bb3a910ebee63d160e4083cc52ad8069c3.log?show=true

[2017-11-16 10:28] KiChjang commented on #45641
Looking at this as well. I believe the error comes from the improper static check in `check_if_reassignment_to_immutable_state`.

[2017-11-16 10:42] gnzlbg commented on #36193
I think that if:

- `std::os::raw` would be gated on platforms, and
- `core` crates wouldn't need a solution to this problem,

the status quo would make sense.

But is `std::os::raw` gated on anything? If not, the moment LLVM adds support for a new platform the `std::os::raw::*` types becomes automatically stable for that platform in the next release, because from that point on changing any of it

[2017-11-16 10:45] Amanieu commented on #36193
I've been using the [cty](https://crates.io/crates/cty) crate to get C types in `no_std` environments, but this really should be part of libcore. The main issue with cty is that its `c_void` is not compatible with the one from libc.

[2017-11-16 11:34] bluss commented on #27108
Another real example of needing the length, tuples. They use no field separator themselves. We need to avoid hash dos with pairs of slices too.

[2017-11-16 12:34] kennytm commented on #45403
According to @Alzimzim's log, we've got **`bindgen` errors** when trying to compile `style 0.0.1`, because `#include <cstddef>` and `#include <new>` failed.

I doubt this is the same as OP's report which the build script failed with segfault (signal 11).

<details>

[code]

</details>

Relevant configutation checks:

* checking for host system type... i586-unknown-linux-gnu
* checking for target s

[2017-11-16 12:41] gnzlbg commented on #36193
Could expose cty in core as `core::ctypes`, and then use it in `std::os::raw` and `libc` to make all types be equal? That way we would be able to use them in core, and we wouldn't need to do the dance of converting `os::raw::c_void` to `libc`'s `c_void` and vice-versa. pinging @japaric

[2017-11-16 12:43] arielb1 commented on #45696
@nikomatsakis

I would prefer to have "full `DerefPure`" semantics for `Box`. We already have fairly builtin move semantics, and the AST borrowck semantics are terrible in a few places.

[2017-11-16 12:49] eddyb commented on #44208
@arielb1 Could we use it *only* in case of ambiguity?

[2017-11-16 13:02] arielb1 commented on #44041
@dcci

Looking at performance stats again, I don't think adding 2 more calls to `SimplifyCfg` (one between IndVarSimplify/LoopIdiomRecognize - which I think is fairly important, because people tend to get annoyed about LoopIdiomRecognize not working well - and one right after loop unrolling).

[2017-11-16 13:09] eddyb commented on #42047
Potential steps that we could take to achieve this:
[code]
[code]
The last example should generalize to all enums (random note: deaggregation doesn't work on tuples for some reason? maybe it doesn't work on arrays either).

[2017-11-16 13:10] arielb1 commented on #34902
@infinity0

Nice to hear we almost got rid of nondeterminism! The last bunch of path dependence looks like it comes from [compiler-rt] asm files that are a part of [compiler-builtins] - I think the build-script that compiles them all is [here].

[compiler-builtins]: http://github.com/rust-lang-nursery/compiler-builtins
[compiler-rt]: https://github.com/rust-lang/compiler-rt
[here]: https://github.

[2017-11-16 13:12] eddyb commented on #42047
@Gankro If they can't alias we can't actually use this with a regular `Result<T, E>` layout and we end up with `(bool, T, E)` on stack. I think writes should be exclusive, what are you thinking about?

[2017-11-16 13:14] crumblingstatue opened #46034 "Symbols blow up binary size to an unreasonable degree on x86_64-unknown-linux-gnu"
Standard hello world program generated with `cargo new --bin mytest`
[code]

Built with `cargo build --release`, the resulting binary size is 4270408 bytes.
This sounds unreasonably large for a hello world program.

After `strip --strip-all`, we get 449224.

The non-stripped version is almost 10 times larger than the stripped version. Why?

This is with `rustc 1.23.0-nightly (fa26421f5 2017-11-15)

[2017-11-16 13:17] arielb1 commented on #44208
@eddyb

That would be fragile - a predicate-saatisfying method could still *shadow* a valid method.

[2017-11-16 13:40] kennytm commented on #46034
@crumblingstatue Can you show the `rustc -vV` output?

----

On x86_64-apple-darwin:

| Version | Size |
|---:|---:|
| `1.23.0-nightly (fa26421f5 2017-11-15)` | 525348 |
| `1.23.0-nightly (ff0f5de3b 2017-11-14)` | 525348 |
| `1.22.0-beta.3 (cc6ed0640 2017-11-13)` | 520164 |
| `1.21.0 (3b72af97e 2017-10-09)` | 452684 |
| `1.15.1 (021bd294c 2017-02-08)` | 390608 |

The size is definitely growing but

[2017-11-16 13:42] crumblingstatue commented on #46034
@kennytm updated OP with `rustc -vV` info.

[2017-11-16 13:54] kennytm commented on #46034
Repro'd on Linux with stable. (Not sure about the BSDs)

| Version | Size |
|---:|---:|
| `1.21.0 (3b72af97e 2017-10-09)` | 4062904 |
| `1.15.1 (021bd294c 2017-02-08)` | 3465968 |
| `1.10.0 (cfcb716cf 2016-07-03)` | 647760 |
| `1.5.0 (3d7cd77e4 2015-12-04)` | 557208 |
| `1.0.0 (a59de37e9 2015-05-13)` | 579688 |

The 10× size blow up comes somewhere between 1.10.0 to 1.15.1.

[2017-11-16 13:57] pnkfelix commented on #45129
Note for those reading this bug in future: the example test written in [above comment](https://github.com/rust-lang/rust/issues/45129#issuecomment-344867514) is actually [UB](https://github.com/rust-lang/rust/pull/46032#discussion_r151397245), because it is creating two simultaneous `&mut` references that point to the same location.

[2017-11-16 14:17] sunfishcode commented on #46026
It's worth considering an error though; inline asm is uncommon and extraordinarily unsafe, conditions which generally favor explicitness over implicitness.

[2017-11-16 14:30] nikomatsakis commented on #45940
I don't think this belongs in the milestone. This isn't really a problem, it's just causing us to run some extra normalizations -- or normalizations at an unexpected time.

[2017-11-16 14:33] nikomatsakis commented on #45696
@arielb1 I agree. It seems like then there is not a lot of work to do here, right? Or are there places where MIR borrowck enforces rules that are too strict?

[2017-11-16 14:37] kennytm commented on #46034
#43392 seems to be the same problem. Since Windows and macOS places the debug symbols externally (*.pdb and *.dSYM respectively), we don't see the size blow up on those platforms.

[2017-11-16 14:38] nikomatsakis commented on #46023
There are two ways to fix this. We can update the `TyRef` variant in `TypeVariants` to include a 3-way mutability -- this is the Right Fix, no question. Or we can hack `is_mutable` to understand that a deref of a `&mut` which comes from an upvar of unique kind is not mutable. That is the "contained fix", but I worry about it.

[2017-11-16 14:40] nikomatsakis commented on #45826
I'm working on this.

[2017-11-16 14:42] est31 commented on #46034
This seems like a very important thing. Size affects linkage time, affects compilation speed.

[2017-11-16 14:43] nikomatsakis opened #46036 "[NLL] false edges on infinite loops"
The NLL RFC specifies false edges on infinite loops, so that we get errors in some cases. This is a  somewhat disputed clause (see https://github.com/nikomatsakis/nll-rfc/issues/35) that we may change, but it makes sense for now. I'm filing this so we don't forget about it.

[2017-11-16 14:45] nikomatsakis commented on #45695
Removing from demo milestone, though this seems like a good one to mentor as an intro to how things work.

[2017-11-16 14:46] nikomatsakis commented on #45665
@Nashenas88 wound up doing this, but it's done. There's follow-up work to be done, I'll file a separate issue for that.

[2017-11-16 14:46] #45665 closed

[2017-11-16 14:51] nikomatsakis commented on #45186
This is long since done.

[2017-11-16 14:51] #45186 closed

[2017-11-16 14:53] nikomatsakis commented on #45185
@zilbuz are you looking at this?

[2017-11-16 14:53] kennytm commented on #46034
From the 1.14.0 release note I believe the cause of the 1.13.0 → 1.14.0 jump is introduced by #37280, where `libstd` starts to be built with `-C debuginfo=1`. However the underlying cause is still #43392, that release builds copy the debuginfo from libstd.

[2017-11-16 14:59] nikomatsakis opened #46037 "MIR Borrowck: two-phased borrows"
For maximum impact of demo, we should support two-phased borrows. The general strategy here is to do this in borrow check. When we see a suitable `&mut` borrow (one tricky bit: deciding the set of `&mut` borrows for which to do this), we want to generate two loans, one of which is the "first phase" (reserved?) loan that acts as a shared borrow. This will be gen'd at the borrow site and killed at t

[2017-11-16 15:00] nikomatsakis commented on #46037
@pnkfelix may tackle this.

[2017-11-16 15:01] arielb1 commented on #45696
@nikomatsakis

I think MIR borrowck currently has an even stupider version of the Box borrow rules, which needs to be removed.

[2017-11-16 15:03] ollie27 commented on #45968
This isn't fixed. Now `std::thread::Builder::spawn` is missing. I believe this was originally caused by ee7e372bbf2d6ce184e50aaf2679873eb961dc49 (cc @GuillaumeGomez). It seems to be de-duplicating search results based on `path + name` ignoring `parent` and `ty` so it's treating `std::thread::spawn` and `std::thread::Builder::spawn` as the same.

[2017-11-16 15:06] steveklabnik commented on #45703
Gah! Thanks both! Seems great, I must have missed them in all the
notifications <3

On Thu, Nov 16, 2017 at 12:18 AM, whitequark <notifications@github.com>
wrote:

[2017-11-16 15:08] sunjay commented on #12335
Sorry, I should have been more clear. My code is specifically targeting stable, so I'll have to wait for it to reach there. The feature may already be on beta in addition to nightly. I haven't checked that channel specifically. :)

[2017-11-16 15:08] nikomatsakis commented on #45466
Discussed in @rust-lang/compiler meeting: seems like we should assemble a PR and do a perf run.

[2017-11-16 15:12] nvzqz commented on #45860
As I mentioned in #45863, I have a question regarding the signature of this method:

Wouldn't this method be more flexible if the `FnOnce` took `&mut T`?

My suggested change would differ from `Vec::retain`, which this method acts similarly to (except not in-place). Perhaps it would be worth considering changing the signature of `Vec::retain` too?

I understand that this method is essentially shor

[2017-11-16 15:14] arielb1 commented on #45107
Fixed in #45785.

[2017-11-16 15:14] #45107 closed

[2017-11-16 15:14] semarie commented on #43575
I finally found that [i686-unknown-linux-musl](https://github.com/rust-lang/rust/blob/88a28ff6028cf197ed6b4185d8cd4887f05e3e07/src/librustc_back/target/i686_unknown_linux_musl.rs#L22), which use also libunwind from LLVM, uses a workaround for the same issue: it uses `eliminate_frame_pointer = false` in `TargetOptions`.

This way, all programs compiled with rustc will be compiled with functional un

[2017-11-16 15:14] kennytm commented on #44349
The current error doesn't mention `std::marker::Freeze` anymore.

rustc version: `1.23.0-nightly (2017-11-15 fa26421f56e385b1055e65b29a55b36bb2eae23e)`.

[code]

[2017-11-16 15:17] nikomatsakis commented on #45995
triage: P-high (I'd prefer to keep my eye on this)

But looks like @GuillaumeGomez is all over it. Thanks @GuillaumeGomez.

[2017-11-16 15:17] pnkfelix commented on #45142
Since @arielb1 brought up MIR-borrowck, let's quickly CC #43234

[2017-11-16 15:21] kennytm commented on #43467
@plietar In #44295 you wrote

While it is possible for Sync, Send, UnwindSafe and RefUnwindSafe, doing `impl Freeze for Foo` is *not* possible as it is a private trait in libcore. This means it is impossible to convince the compiler that an `extern type` is cell-free.

Should `Freeze` be made public (even if `#[doc(hidden)]`)? cc @eddyb #41349.

[2017-11-16 15:22] wesleywiser commented on #45873
I'm game to implement delayed duplication and see how it performs. Do you mind if I go ahead and push up a PR for the stats collection?

Also, what's the best way to measure the performance before and after the change? Just use `time`?

[2017-11-16 15:28] nikomatsakis commented on #45629
Can one of you two try to go back in time and see if your project works with an older release? It'd be good to try and get an idea if this is a long-standing bug or a recent regression. Also, any attempt to minimize the test case that is broken would be most welcome. =)

[2017-11-16 15:28] nikomatsakis commented on #45629
triage: P-medium

[2017-11-16 15:33] SimonSapin opened #46038 "Tracking issue for calling standard library `const fn`s"
The functions below in the standard library are `const fn` with individual feature gates for calling them in constant expressions. This issue is tracking the stabilization of such calls.

CC https://github.com/rust-lang/rust/issues/24111, the super-set feature which also includes defining new `const fn` items.

* `std::sync::Once::new`
* `core::cell::Cell::new`
* `core::cell::RefCell::new`
* `core

[2017-11-16 15:33] SimonSapin commented on #24111
@aturon https://github.com/rust-lang/rust/issues/46038

[2017-11-16 15:35] nikomatsakis commented on #35986
So the *original issue* was a kind of feature request, related to trait objects and the requirements on them. I've added it to the tracking issue for associated type defaults (#29661) because I agree it's a useful data point.

@nrc, the thing you mentioned seems like a separate issue -- arguably a bug, although this interacts with specialization. Basically the reason that the `type B = C` is not r

[2017-11-16 15:37] nikomatsakis commented on #35986
(To be clear, though, I think that the @nrc example should probably work, even in the current "in between" state.)

[2017-11-16 15:43] SimonSapin commented on #46038
Feature gates are:

* `const_once_new`
* `const_cell_new`
* `const_refcell_new`
* `const_unsafe_cell_new`
* `const_size_of`
* `const_align_of`
* `const_ptr_null`
* `const_ptr_null_mut`
* `const_min_value`
* `const_max_value`
* `const_atomic_bool_new`
* `const_atomic_ptr_new`
* `const_atomic_i8_new`
* `const_atomic_u8_new`
* `const_atomic_i16_new`
* `const_atomic_u16_new`
* `const_atomic_i32_new`
*

[2017-11-16 15:50] zilbuz commented on #45185
@nikomatsakis Yes I am :)

[2017-11-16 15:52] pnkfelix commented on #44557
@joshlf The intention of `AllocErr::Unsupported`, as I recall, was to allow an allocator to indicate "this request is not satisfiable by me, and never will be, regardless of what memory you deallocate or what allocation patterns you use in the future."

See also the comment above `Unsupported` here:
https://github.com/nox/rust-rfcs/blob/master/text/1398-kinds-of-allocators.md#allocerr-api

I'm inc

[2017-11-16 15:54] michaelwoerister commented on #45873
Cool, I'm really curious how it will do.

No, please go ahead!

I usually use `cargo` with a custom `rustup` toolchain. Since `cargo` already prints compile times, I don't need anything else. But `time` is fine too.

That's for local testing. Once you have a version that you think is optimized enough, you can open a PR and @Mark-Simulacrum will trigger a perf.rust-lang.org measurement for us. That

[2017-11-16 16:12] MartinHusemann commented on #45686
Would you happen to have any idea who could give me a pointer where to look?
Is this a bug in the toml file in the crate or in cargo?

[2017-11-16 16:28] aturon commented on #46038
Kicking off stabilization discussion for the const-ness of these functions in `std`.

@rfcbot fcp merge

[2017-11-16 16:30] SimonSapin commented on #36193
Although it’s in an internal implementation detail rather than in a public API, libcore now has:

[code]

which does depend on the OS.

Anyway, I still don’t understand why this distinction is useful. Compiled libcore is distributed together with libstd, in "targets" that are both OS-specific and architecture specific. `#[cfg(target_os = "…")]` is available to libcore just as well as other `cfg`s.

[2017-11-16 16:53] michaelwoerister commented on #46034
Making the assumption that this is caused by `libstd` debuginfo, the size difference in percent should become smaller for larger programs, that is, running `strip` on a big crate should not reduce its size by 90%. Has anybody tried this?

[2017-11-16 16:58] nikomatsakis opened #46042 "in-band lifetimes: enable implicit binders"
The full specification of the RFC permits you to leave out `'a` binders. This is a placeholder issue dedicated to implementing that portion of the spec.

[2017-11-16 16:58] nikomatsakis commented on #46042
@cramertj is on it, I believe.

[2017-11-16 17:09] sfackler commented on #46016
141 is the exit code set by the kernel after it has terminated a process due to a SIGPIPE.

[2017-11-16 17:10] arielb1 opened #46043 "Tracking issue for `safe_packed_borrows` compatibility lint"
## What is this warning about

Fields of structs with the `#[repr(packed)]` attribute might be unaligned. Even if a field has a valid offset (e.g. 0) within the struct, the struct itself might be unaligned.

On the other hand, safe references (`&T` and `&mut T`) must always have valid alignment (even when they are just created) - not only will *dereferencing* these references cause segfaults on ar

[2017-11-16 17:10] GuillaumeGomez commented on #45995
It's being merged (the PR is complete). I'll give it a high priority.

[2017-11-16 17:18] eddyb commented on #43467
@kennytm What's the usecase? The semantics of `extern type` are actually that of a hack being used before the RFC, which is `struct Opaque(UnsafeCell<()>);`.
That prevents rustc from telling LLVM anything *different* from what C signatures in clang result in.

[2017-11-16 17:23] nikomatsakis commented on #45992
@Dylan-DPC great =)

Sorry, I didn't get a chance to write up any instructions yesterday. I just took a look here and I think this should be fairly straightforward.

The first thing is that we need to add a lint. There are no perfect directions for adding a new lint that I can find. The best that I know of are in [this forge document](https://forge.rust-lang.org/rustc-bug-fix-procedure.html), unde

[2017-11-16 17:26] nikomatsakis commented on #45992
We're also going to want to feature-gate this, though I don't think we have a good mechanism for that. We should figure that out. But let's do this first part first. =)

[2017-11-16 17:45] rep-nop commented on #44690
Thanks for the answers! :) @nrc right now I have it checking the names at name resolution when it detects a path inside the attribute, which wasn't too difficult to get a quick and crude implementation done (which I believe is linked above in a commit I did). I'll look into using an env var to specify tool names!

[2017-11-16 17:55] kennytm commented on #43467
@eddyb Use case: Trying to see if it's possible to make CStr a thin DST.

I don't see anything related to a cell in #44295? It is reported to LLVM as an [`i8`](https://github.com/rust-lang/rust/blob/c81f201d48c4f25d32f8b0f76103c9f794d37851/src/librustc_trans/type_of.rs#L161) similar to `str`. And the [places](https://github.com/rust-lang/rust/blob/c81f201d48c4f25d32f8b0f76103c9f794d37851/src/libru

[2017-11-16 18:10] eddyb commented on #43467
@kennytm So with `extern type CStr;`, writes through `&CStr` would be legal, and you don't want that?
The `Freeze` trait is private because it's used to detect `UnsafeCell` and not meant to be overriden.

[2017-11-16 18:28] kennytm commented on #43467
The original intent was to match the `extern type CStr` with the existing behavior of `struct CStr([c_char])` which is Freeze. Eddyb and I [discussed on IRC](https://botbot.me/mozilla/rust-internals/2017-11-16/?msg=93605822&page=3), which assures that (1) Freeze is mainly used to disable certain optimizations only and (2) as Freeze is a private trait, no one other than the compiler will rely on it

[2017-11-16 18:37] dcci commented on #44041
@arielb1 Fair enough.
I think it *might* be a good addition for C++/clang as well, but I haven't gotten the time to check.
Some people (TM) are trying very hard upstream to make a mess of SimplifyCFG, but there's hope they'll fail, so I think your plan is reasonable. Can you add performance/compile time numbers after your experiments? Thanks!

cc: @alexcrichton

[2017-11-16 18:40] dcci commented on #44041
Also, I haven't looked at the IR produced by Rust very closely but I'd like to point out two things:
1) The current pass manager pipeline (both module and function) has been heavily optimized for C/C++. If Rust wants to propose an alternative, well, maybe we (LLVM) should take a look
2) There have been many discussions about the pipeline getting older and older (and therefore, less tuned). During

[2017-11-16 19:06] rillian opened #46045 "Firefox build failure for win32 with Rust 1.22 (exit code: 3221225477)"
Rust 1.22.0-beta.3 (and I think earlier betas) Fail to link the gkrust-gtest crate as part of Firefox builds targeting i686-pc-windows-msvc.

[code]

[2017-11-16 19:06] versusvoid commented on #44699
@nikomatsakis
I'm looking into problem and have couple of questions:

1. `borrowck` at [master](https://github.com/rust-lang/rust/blob/968b6206cb140a51f2e3cc3d7841aed51b0d64d9/src/librustc/ty/maps/mod.rs#L198) takes `DefId` as key, which doesn't look constant in invocations I found. Should it be left as is?
2. Should new macro support only one hard-coded default value `LOCAL_CRATE`, or potentially

[2017-11-16 19:07] rillian commented on #46045
Sorry for the late report. I tried to debug a bit locally but haven't been successful in generating a better report. Maybe something with `-C lto`? Debug builds are fine, as are builds targeting x86_64.

[2017-11-16 19:09] bstrie commented on #46027
While mentioning this on IRC @thepowersgang noted that mrustc deliberately doesn't typecheck type alias declarations because it encountered unexpected compilation failures while testing against crates.io. I'm still hopeful that such an invalid declaration would be impossible to instantiate, but it's possible that the failures mrustc encountered were more insidious than the simple test case here. B

[2017-11-16 19:10] rillian commented on #46045
This corresponds to [Gecko bug 1417268](https://bugzilla.mozilla.org/show_bug.cgi?id=1417268).

[2017-11-16 19:15] kennytm commented on #46045
(3221225477 = 0xc0000005 = STATUS_ACCESS_VIOLATION)

[2017-11-16 19:31] rillian commented on #46045
Thanks @kennytm. Note this a regression from 1.21.0 stable.

[2017-11-16 19:56] bstrie commented on #44874
@arielb1 , you suggest that the point of this is to get around the coherence rules, but I can't see how this wouldn't fall afoul of the same incoherence that the orphan rules are designed to prevent. Can you explain further?

Secondly, the syntax is misleading. Given that `fn foo(&mut self)` allows one to write `blah.foo()` and have it desugar to `foo(&mut blah)`, one would intuitively expect `fn

[2017-11-16 20:11] dtolnay commented on #40032
Seems reasonable to me. I would be interested in seeing an implementation of this in a PR.

[2017-11-16 20:13] gnzlbg opened #46046 "liballoc_jemalloc nallocx should be ReadOnly"
`nallocx` is a `[[pure]]` function in the GCC sense, and should have the LLVM ReadOnly attribute. I've been looking for a way to apply LLVM attributes to functions in Rust without much luck (another interesting one is `ReadNone`, GCC's `const` attribute).

Is there a way to do this?

[2017-11-16 20:20] dtolnay commented on #39148
I think @jorendorff is on the right track with the API in https://github.com/rust-lang/rust/issues/39148#issuecomment-273612068. :+1:

The next step would be someone needs to put together an [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md) for a more complete `linked_list::IterMut` API. Let's track this as part of #27794.

[2017-11-16 20:20] #39148 closed

[2017-11-16 20:21] dtolnay commented on #27794
There are some ideas for a more complete `IterMut` API in https://github.com/rust-lang/rust/issues/39148#issuecomment-273612068.

[2017-11-16 20:22] dtolnay commented on #27794
`IterMut::peek_next` seems misnamed. Doesn't it do exactly what we call `peek()` elsewhere?

[2017-11-16 20:51] rillian commented on #46045
The problem doesn't occur with 1.23.0-nightly [from October 31](https://treeherder.mozilla.org/#/jobs?repo=try&revision=592512d9ea0a8eac2f130cb9f04ae4976d0dbd97)  from [from November 15](https://treeherder.mozilla.org/#/jobs?repo=try&revision=25289cfeb0f2c987bde908ac05011d26692c040b). It's only an issue with the current beta series.

[2017-11-16 20:52] dtolnay commented on #36301
I checked the search from https://github.com/rust-lang/rust/issues/36301#issuecomment-245028901 and it looks like all the public types that should implement PartialEq now do. Fixed!

[2017-11-16 20:52] #36301 closed

[2017-11-16 20:56] #45886 closed

[2017-11-16 20:56] #45995 closed

[2017-11-16 20:58] rkruppe commented on #46046
Clang doesn't appear to add the `readnone` attribute to `malloc`, so I am skeptical whether it would be sound for us to add it to a similar allocation function.

[2017-11-16 20:59] Amanieu commented on #27794
I'm going to echo @Gankro's thoughts:

An iterator conceptually represents a (double-ended) range of elements. The only operation that it supports is popping an element off the end of that range.

A cursor on the other hand represents a **position** in a collection, and can be moved backwards or forwards in the collection. The cursor can be used to insert or remove an element at any given position

[2017-11-16 21:02] Yanpas opened #46047 "Windows missing dll no error message"
I have a rust project which uses openssl crate, which depends on two openssl dlls: libssl-1_1-x64 and libcrypto-1_1-x64. If they are not available to executable - then executable silently exits with exit status -1073741515. C/Cpp apps ususally display that some symbol could not be found.

[2017-11-16 21:15] gnzlbg commented on #46046
That's because `malloc` is not pure. As I mentioned, however, `nallocx` is.

[2017-11-16 21:19] rkruppe commented on #46046
Oh, I misunderstood what nallocx does, disregard me.

[2017-11-16 22:00] dtolnay commented on #36976
I agree that debug-only checking seems useful but there is a lot of design work remaining here. I am not confident that we can reach consensus on a design without someone spearheading this with an [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md).

Some points to make in an RFC related to debug-only checking of unsafe slice indexing:

- Thorough assessment of how much breakage w

[2017-11-16 22:00] #36976 closed

[2017-11-16 22:28] chabapok commented on #46038
How to about mark std::time::Duration::{from_millis, new, from_secs, from_micros} as const_fn?

[2017-11-16 22:29] sfackler commented on #46038
new can panic so it can't be const.

[2017-11-16 22:40] ldr709 commented on #40673
@kjetilkjeka [Here](https://github.com/rust-lang/rust/pull/44310) is the PR. Rust 1.21 has already been released and it doesn't have it. According to [this](https://forge.rust-lang.org/release-process.html) if it is in beta now it should be in 1.22 (maybe a few weeks?), but I don't know much about it.

[2017-11-16 22:54] Marwes commented on #45929
Got an error (+ some warnings) which I think is related in a different, smaller project (same compiler as above).

https://github.com/Marwes/tensile

The warnings occur from time to time but the ICE only happened once and I didn't have backtrace when it happened (added it after in case it happens again).

[code]

[2017-11-16 23:52] thepowersgang commented on #46027
Note for the above - The failing code was along the lines of `type Foo<T> = RequiresSomeTrait<T>;` - which failed when trait bounds were checked.

[2017-11-17 00:32] shepmaster commented on #44874
I'm all for supporting extra types for `Self` — I've been looking forward to it [for three years](https://stackoverflow.com/q/25462935/155423).

[2017-11-17 01:07] dtolnay commented on #44068
I agree with @oyvindln and would prefer to see this idea explored in a library on crates.io. `RawVec` is useful for some data structures but is opinionated in many ways and not intended to solve every use case that involves allocating contiguous data.

If you run into barriers implementing something like this outside of the standard library, please file issues for those. Rust absolutely is serious

[2017-11-17 01:07] #44068 closed

[2017-11-17 01:23] dtolnay commented on #44793
I agree that the concept of "contiguous bytes representing a string encoded in the system's current locale" is not solved by what is available in the standard library. Thanks for raising this issue!

From what has been discussed in this thread, this sounds like a complicated domain with plenty of tradeoffs. I don't believe the libs team has the right expertise to arrive at the best solution here,

[2017-11-17 01:23] #44793 closed

[2017-11-17 01:32] dtolnay commented on #42048
I would love to see a PR implementing Linux-only support for abstract addresses. I believe we will be able to reach agreement in the PR without needing to draft an RFC.

[2017-11-17 02:19] dtolnay commented on #40300
I believe this is going to require an RFC. Let's track this in https://github.com/rust-lang/rfcs/issues/900. There is a promising start to an `OsStr` RFC in https://github.com/rust-lang/rfcs/pull/1309 if anyone is interested in taking that over.

[2017-11-17 02:19] #40300 closed

[2017-11-17 02:37] bstrie commented on #41196
I marginally prefer `spin_loop_hint` over `yield_processor`, if only because it has zero chance of confusion with, er, whatever the `yield` ends up doing.

[2017-11-17 03:42] dtolnay commented on #26707
I agree that the current approach that requires 13 trait bounds for `set_bits` is not ideal. Thanks for raising this issue!

I am not confident that we will be able to reach consensus on a solution here -- somebody will need to propose a concrete solution in an [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md).

[2017-11-17 03:42] #26707 closed

[2017-11-17 03:49] dtolnay commented on #25023
The [API guidelines](https://github.com/rust-lang-nursery/api-guidelines) now strongly discourage using `()` as an error type as part of a broader discussion on well-behaved error types.

[2017-11-17 03:49] #25023 closed

[2017-11-17 03:59] dtolnay commented on #24624
This seems okay but I would prefer to see an [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_changes.md) to justify this a little better. In particular:

- What use cases is this intended to solve?
- How do some other languages solve those use cases?
- Does Debug of a quiet NaN also need to tell us which of the many quiet NaNs it is?
- *(less important)* Brainstorm some alternative repres

[2017-11-17 03:59] #24624 closed

[2017-11-17 04:25] dtolnay commented on #22754
I agree with what has been written -- the `itertools` crate provides this along with lots of other iterator-related functionality that is less universally applicable than the iterator functionality provided in the standard library. If someone feels strongly that something from `itertools` should be provided in the standard library, that would need to be justified in an [RFC](https://github.com/rus

[2017-11-17 04:25] #22754 closed

[2017-11-17 04:38] dtolnay commented on #22766
In my opinion:

- The Debug representation should be consistent across platforms, especially in whether control characters are escaped.
- In general I am perfectly okay with Debug representations being lossy, but in the case of OS strings I believe we can come up with a more helpful representation than `to_string_lossy`. I agree with @retep998 that pretty much any time you are debugging something

[2017-11-17 04:51] dtolnay commented on #31866
I believe this impl has existed since the very beginning of std::time::Instant -- https://github.com/rust-lang/rust/pull/29894 contains `impl Debug for Instant`. This code is stable as of Rust 1.8.0:

[code]

The output is `Instant { tv_sec: 17586727, tv_nsec: 739140298 }` which seems to align with the discussion here.

[2017-11-17 04:51] #31866 closed

[2017-11-17 04:58] dtolnay commented on #29212
I would be fine with adding these impls. The impls should access the atomic using the most restrictive memory ordering. Then if you want any other ordering there is a totally reasonable workaround:

[code]

[2017-11-17 05:39] bstrie commented on #18072
It's been three years since this was filed and we still have no clue what this is referring to, no reproduction, and no way to know if this hasn't already been long since fixed on LLVM's side. Closing this, but feel free to reopen if anyone can find a relevant LLVM bug (though https://github.com/rust-lang/rust/issues/45839#issuecomment-343301085 has set the precedent of "It doesn't make sense to h

[2017-11-17 07:24] petrochenkov commented on #46027
From [RFC 1214](https://github.com/rust-lang/rfcs/blob/master/text/1214-projections-lifetimes-and-wf.md):

type aliases, since they are transparent to type-checking, and hence
their expansion can be checked instead. This is coherent, though
somewhat confusing in terms of the interaction with projections, since
we frequently cannot resolve projections without at least minimal
bounds (i.e., `type It

[2017-11-17 07:51] dtolnay commented on #29631
From the discussion it sounds like the motivation of this would be to make it easier to write tests for a command line shell. It isn't clear to me that we could arrive at a definition of PartialEq that would make sense across a variety of use cases, especially when it comes to uid/gid and stdin/stdout/stderr. I am going to close this and recommend refactoring the shell in a way that allows you to

[2017-11-17 07:51] #29631 closed

[2017-11-17 08:07] bstrie commented on #46027
Interesting. RFC 1214 is tracked at https://github.com/rust-lang/rust/issues/27579, would be good to know if there's any more clarity since 2015 on how we ought to be handling this.

[2017-11-17 08:14] mikeyhew commented on #44874
@shepmaster feel free to try them out! Now that bors has merged my PR, they're available on nightly behind the `arbitrary_self_types` feature gate: https://play.rust-lang.org/?gist=cb47987d3cb3275934eb974df5f8cba3&version=nightly

@bstrie I don't have as good a handle on the coherence rules as @arielb1, but I can't see how arbitrary self types _would_ fall afoul of them. Perhaps you could give an

[2017-11-17 08:19] dtolnay commented on #30090
I agree that this feels too specific to be useful in the standard library. Here is what this might look like with a loop that looks for line breaks:

[code]

[2017-11-17 08:19] #30090 closed

[2017-11-17 08:25] dtolnay commented on #26933
I agree that the current handling of permissions in `std::fs::copy` on non-WIndows seems incorrect. I would be prepared to consider a PR that fixes this.

[2017-11-17 08:39] dtolnay commented on #30967
I agree that the `Debug` representation of a float should clearly look like a float. `0u64` and `0f64` should not have the same `{:?}`. My preference would be for `0.0` but I could live with `0.`.

Marking feature-accepted as I would be prepared to consider a PR fixing this, but if the PR turns out to be controversial then we may ask for an [RFC](https://github.com/rust-lang/rfcs/blob/master/libs_

[2017-11-17 08:49] dtolnay commented on #30693
As noted in https://github.com/rust-lang/rust/pull/35307#issuecomment-237764591, this needs to be automated in a way that does not require a PR like #35307 before every release. I would welcome a PR to solve this permanently if anyone has ideas for how. I don't believe we need an RFC.

[2017-11-17 08:56] dtolnay commented on #30422
I would be okay with accepting multiple FILTER arguments, running a test if its name contains any of the filter strings.

[2017-11-17 08:57] kennytm commented on #30422
Shouldn't this issue be moved to rust-lang/cargo?

[2017-11-17 09:01] kennytm commented on #30693
Does something like `#![html_root_url = concat!("https://doc.rust-lang.org/", env!("RUST_CHANNEL"))]` work? IIRC it doesn't (otherwise we would have `#[doc = include_str!(...)]` already)

[2017-11-17 09:07] dtolnay commented on #30422
I am not familiar with the interface between cargo and rustc but it looks like `cargo test` filters are parsed [here](https://github.com/rust-lang/rust/blob/3bcb00dbc2edcdc498a9e60a68a14652162d1921/src/libtest/lib.rs#L447) and applied [here](https://github.com/rust-lang/rust/blob/3bcb00dbc2edcdc498a9e60a68a14652162d1921/src/libtest/lib.rs#L1320) which are both in this repo.

[2017-11-17 09:12] arthurprs commented on #27108
We could make [u8] append a 0xFF like str, this will essentially guarantee no perf regressions. In _theory_ this could be a breaking change though.

[2017-11-17 09:34] kenOfYugen opened #46053 "State of emscripten thread support"
Compiling code that utilizes threads using [asmjs | wasm32]-unknown-emscripten targets, doesn't run in the browser, as expected.

By taking a look at the `panic!()` point, the comments state that `pthread_attr_setstacksize symbol doesn't exist in the emscripten libc`.

https://github.com/rust-lang/rust/blob/3bcb00dbc2edcdc498a9e60a68a14652162d1921/src/libstd/sys/unix/thread.rs#L37-L49

Poking arou

[2017-11-17 09:55] nikomatsakis commented on #46045
Well that certainly narrows it down some! Is it possible to narrow down when within the beta series the problem started?

[2017-11-17 09:56] nikomatsakis commented on #46045
cc @rust-lang/compiler @alexcrichton -- late-breaking beta regression

[2017-11-17 09:58] eddyb commented on #46045
Is it  running out of memory? Does it occur after a LLVM update?

[2017-11-17 10:13] nikomatsakis commented on #46045
@eddyb I believe we *did* recently upgrade LLVM...

[2017-11-17 10:20] michaelwoerister commented on #46045
@rillian can you test with `-Ztime-passes` somehow? That would print out memory consumption at many points during compilation and give a hint how far compiler is getting.

[2017-11-17 10:30] chris-morgan commented on #27108
I return to what I suggested: specialisation of the implementation on `[T]` for all integer types? That resolves the perf issue in types like `[u8]`.

I suppose it would also allow others to perform the same specialisation on their own integer newtype arrays if they really cared about it.

I will also mention that `str` can reasonably be changed to use a length prefix rather than a 0xff suffix qui

[2017-11-17 10:41] michaelwoerister commented on #45929
Thank you for the bug report! I'll look into it.

[2017-11-17 10:43] arthurprs commented on #27108
I may be missing something here. Isn't that already done? https://github.com/rust-lang/rust/blob/b32267f2c1344d37c4aa30eccd5a9ab77642b3e6/src/libcore/hash/mod.rs#L559

[2017-11-17 10:45] michaelwoerister commented on #45929
These seem to be two different errors (although they might be related). Does building `tensile` also result in "unresolved external symbols" linker errors?

[2017-11-17 10:52] chris-morgan commented on #27108
@arthurprs I’m talking about [the implementation of `Hash` for `[T]`](https://github.com/rust-lang/rust/blob/b32267f2c1344d37c4aa30eccd5a9ab77642b3e6/src/libcore/hash/mod.rs#L644-L650), not the `hash_slice` method on the implementations of `Hash` for integer types `T`.

[2017-11-17 10:58] Zoxc commented on #46045
@rillian Do you have a JIT debugger installed so we can get a backtrace?

[2017-11-17 11:07] gnzlbg opened #46055 "target features are not accessible from build scripts"
Right now `cargo` does not pass the build scripts a `CARGO_CFG_TARGET_FEATURE` environment variable with all the target features, so I guess the value of `cfg(target_feature = "...")` is set within rustc.

This makes writing build scripts that need to access target features unnecessarily hard.