[2020-03-02 17:56] najamelan commented on #27964
One from the [user forum](https://users.rust-lang.org/t/wrapping-boxed-errors/38951), [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=66943a8d8e850922681779926208b1fd):
[code]
Error:
[code]
Analysis:
There is a blanket impl for `Error` on `Box<T>`, but not on `Box<T: ?Sized>`. credit to @Yandros

Go figure.

I suppose the ideal here would be something like: "B

[2020-03-02 18:01] jonas-schievink commented on #69640
It works with an additional `E::G: Curve<F = E::F>` bound on `test`. Therefore, closing as a duplicate of https://github.com/rust-lang/rust/issues/20671.

[2020-03-02 18:01] #69640 closed

[2020-03-02 18:35] davidtwco commented on #67615
@tmiasko thanks, closing this in favour of #69151.

[2020-03-02 18:35] #67615 closed

[2020-03-02 19:12] camsteffen commented on #50186
I second the [motion](https://github.com/rust-lang/rust/issues/50186#issuecomment-386014933) that we replace `update` with `get_update` and `take_update`. The need for having both has been [demonstrated](https://github.com/rust-lang/rust/issues/50186#issuecomment-593325492). The value *[must be copied or taken](https://github.com/rust-lang/rust/issues/50186#issuecomment-411169568)* to supply the l

[2020-03-02 19:19] programmerjake commented on #66741
one concern with just panicking is:
Isn't it undefined behavior for the allocator functions to unwind?
What happens if the panic handler unwinds here?

[2020-03-02 19:22] Lokathor commented on #66741
The allocator is never supposed to call handle_alloc_error. it is intended entirely for code that tried an allocation and it failed and the code does not want to deal with the failure so it immediately ends the thread.

[2020-03-02 19:24] ecstatic-morse commented on #66753
After #68528 and #68943, the optimized MIR for `unwrap` does not have any drop terminators in non-cleanup blocks. In order to make `unwrap` a `const fn`, we need to move const-checking (or at least the part of const-checking that looks for live drops) *after* drop elaboration.

[2020-03-02 19:31] ecstatic-morse commented on #69197
After #69227, the `task-clock` measurements for `encoding-check` are [back to normal](https://perf.rust-lang.org/?start=&end=&absolute=true&stat=task-clock#chart-top-outer-container-encoding-check). I think we should close this, although I wish I had a better idea of when/why the regression occurred.

[2020-03-02 19:31] estebank commented on #69466
Pointers:

The code that needs to be modified is

https://github.com/rust-lang/rust/blob/18c275b423f9f13c0e404ae3804967d2ab66337c/src/librustc_lint/unused.rs#L37-L111

I believe you will have to explore the `ExprKind::Binary(_, _, rhs)` recursively to see if the leaf `rhs` is of type `!`, and if that is the case, return early.

[2020-03-02 19:37] estebank commented on #69638
cc https://github.com/rust-lang/rust/issues/68982

[2020-03-02 19:43] estebank commented on #69638
FWIW, the correct code would be

[code]

`impl Trait` is only correct in fn arguments and the return type, and cannot be nested (`impl Iterator<impl Display>` is invalid). When you see `rustc` complaining about `<_ as Foo>::Bar = Qux` it means you should have written `Foo<Bar = Qux>`. Because here you have `:` (any type that impls the _trait_ that comes next) and not `=` (only the _type_ that come

[2020-03-02 19:49] Tyg13 commented on #69552
If you check the source of the compilation, you'll see that you're getting a compilation error when building `libgit2-sys`, since the environment variable `LIBGIT2_SYS_USE_PKG_CONFIG` is not set. This causes `libgit2-sys` to attempt to build `libgit2` from source.

This may sound incredibly familiar. You have two options -- either set `LIBGIT2_SYS_USE_PKG_CONFIG` if you have it available via `pkg-

[2020-03-02 19:52] programmerjake commented on #66741
@Lokathor ah, ok. That makes sense.

[2020-03-02 19:55] Tyg13 commented on #69552
To answer your second question, I don't see equivalent environment variables to specify library paths, but it's likely that only the headers are necessary to compile the bundled versions of `libssh2` and `libgit2` provided with the crate.

[2020-03-02 20:36] eddyb commented on #69466
I would just remove this line:
[code]
As to lint correctly you'd probably also have to look at whether there any side-effects in the RHS.

[2020-03-02 20:50] avl commented on #69593
Ok, I've reduced the performance difference (on my machine at least) to just being a question of alignment of the inner loop. I created two small assembler programs (so that we can get very direct control over the generated program), and could relatively easily create one fast and one slow program.

See repo https://github.com/avl/strange_performance_repro .

[2020-03-02 21:17] elichai commented on #51910
Why does regular casting requires unsafe? is it because we have no idea what to put in that usize and we cannot promise that it will keep working in the future? if so isn't that redundant by already being unstable?
[code]

Error:
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8b159ba225b57fd39512d1f6d9af9956

[2020-03-02 21:19] repnop commented on #69420
Ran into this issue attempting to compile https://github.com/ClementTsang/bottom on my Pi Zero W, segfaults even with `-C codegen-units=1` when building the final binary after a long time w/ `(signal: 11, SIGSEGV: invalid memory reference)`

[2020-03-02 21:25] jodysankey commented on #69532
Yes, it does sound to me like an apfloat issue rather than something unique in Miri. Reading that casting method I can't see anything that is special casing the fraction truncation for NaNs, only for an 80bit extended precision type that has different NaN semantics.

Sorry, I've not dealt with the bug workflow on Rust before - is it possible to move this bug to apfloat? Would you like me to create

[2020-03-02 21:27] RalfJung commented on #69532
apfloat does not have a separate issue, no need to move anything.

However, if I understood @eddyb correctly then apfloat is a direct Rust port of LLVM's apfloat -- so likely they have the same bug, and a fix would have to happen upstream as well.

[2020-03-02 21:29] avl commented on #69593
Well, actually, it turns out that it if the inner-loop is located entirely within one cache-line, it is fast. If it spans two cache-lines, it is slow.

If the compiler could somehow figure out that this is a very hot loop, it could, in this particular case, actually use this knowledge to improve performance.

On my machine, in this particular case. It would be interesting to know if this is common

[2020-03-02 21:43] avl commented on #69593
Okay, tried on an "Intel Xeon E3-1575M". The difference is much much smaller here, but the cacheline-spanning loop is still slightly slower, approximately in line with the original poster.

[2020-03-02 21:46] hanna-kruppe commented on #69532
Yes, rustc_apfloat is a port of LLVM's APFloat, but [LLVM folds this cast to `0x7FF0_0000`](https://godbolt.org/z/Zf7HMh) (also in older versions, back to before @eddyb started the Rust port). Note that the MSB of the significand is set, so this is indeed a NaN. It seems LLVM does not have the same bug. Something strange is up.

[2020-03-02 21:49] RalfJung commented on #69532
Hm, that's still not the same as the `0x7fc00000` that we see at run-time though?

[2020-03-02 21:55] RalfJung commented on #69532
I think the LLVM C++ code doing the same cast is [here](https://github.com/llvm/llvm-project/blob/eb812efa12fb82ca338794fa18b610ca9581aef5/llvm/lib/Support/APFloat.cpp#L2101).

[2020-03-02 21:57] hanna-kruppe commented on #69532
Sure, but that's intentional. Optimizations need to preserve whether something is a NaN but (by default) the payload bits, quiet/signaling distinction and sign bit are not generally preserved or guaranteed to match between compile time evaluation and run time evaluation.

[2020-03-02 22:01] RalfJung commented on #69532
So the semantics would be something like "if the result is a NaN, non-deterministically pick any legal NaN representation"?

[2020-03-02 22:05] tmandry commented on #60889
@RalfJung IIRC, you're basically relying on an implementation detail of how MIR gets built, which is that it doesn't leave partially-initialized aggregates in the generator prior to `yield`ing (it only creates aggregates once all their pieces are initialized).

But if this changed, it would probably mean the layouts we report for generators are wrong. So it's probably best if this gets relied on a

[2020-03-02 22:06] hanna-kruppe commented on #69532
That sounds about right. Kind of off-topic here, though -- if you want to discuss further, we have https://github.com/rust-lang/rust/issues/55131.

[2020-03-02 22:23] Aaron1011 commented on #69420
I was able to reproduce this on my amd64 Arch laptop using https://github.com/fkrull/docker-qemu-user-static, and running `rustup toolchain add stable-arm-unknown-linux-gnueabihf` inside the Docker container.

Unfortunately, the only information I could get from the core file was this:

[code]

I'm not 100% certain that that frame is correct - however, it makes sense, since the crash is occuring w

[2020-03-02 22:47] nikomatsakis commented on #69556
cc @tmiasko

[2020-03-02 22:50] elichai opened #69647 "Use case for const eval - require loops"
Hi,
@oli-obk You asked for use cases so this is on you ;)
I think that being able to hash in a const fn is a needed use case in production.
Domain separation between hashing different messages is good practice in cryptography [0],[1],[2]
so I'd want to do something along these lines:
`const TaggedHashAppA: Sha256 = Sha256::new().input(b"AppA")`
or even:
[code]
you'll then use it like that:
[code]

[2020-03-02 23:04] eddyb commented on #69532
The category should still be `NaN`, but it looks like we don't enforce the significand is non-`0`:
https://github.com/rust-lang/rust/blob/55aee8d49628ae8218e91745c388d5dc36771248/src/librustc_apfloat/ieee.rs#L131-L136
[But neither does LLVM's APFLoat?](https://github.com/llvm/llvm-project/blob/eb812efa12fb82ca338794fa18b610ca9581aef5/llvm/lib/Support/APFloat.cpp#L3196-L3198)

<hr/>

@hanna-kruppe

[2020-03-02 23:10] tmiasko commented on #69556
AFAICS #67759 includes a fix (glib 2.31 changed ABI: https://reviews.llvm.org/D70662).

[2020-03-02 23:20] steveklabnik commented on #47685
Triage: no change

[2020-03-02 23:32] RobbieClarken commented on #69596
Here is a reproduction in a single file:

[code]

The ICE can be triggered by:
1. Placing this code in `lib.rs` in a project (or clone https://github.com/RobbieClarken/ice-repro-69596).
2. Running `cargo check`.
3. Deleting the line with the `DELETE TO TRIGGER ICE` comment.
4. Running `cargo check` again.

The error occurred in the `time` crate because there were procedural macros named `date` and

[2020-03-02 23:40] jhpratt commented on #69596
Note that this is _not_ a result of the same name referring to different things between builds, as placing `use crate::mod_b::*;` before `mod name_of_proc_macro {}` yields the same result.

[2020-03-02 23:44] landaire commented on #51245
Just wanted to provide an update to @glandium's sample code that works as of March 2020. Some of the PRs changed the feature name this was gated behind and renamed the function to set the error hook.

[code]

[2020-03-02 23:52] mati865 commented on #69197
Looking at https://perf.rust-lang.org/compare.html?start=d538b80ad77949e46989cd355cdec193b574f052&end=5d04ce67fd14538d03fa47a2598f80d49fd564c6&stat=task-clock there is only one PR (and also included in perf link you posted in OP): https://github.com/rust-lang/rust/pull/68406

[2020-03-02 23:59] ecstatic-morse commented on #69197
@mati865 How would that PR cause regressions in check builds? And why would the regression appear in only one crate?

[2020-03-03 00:29] jiegec commented on #59907
I think this issue should be moved to cargo. This is how dSYM uplifting works for binaries:

https://github.com/rust-lang/cargo/blob/e618d47a1765ca18d1601d4cf891a55a34d23aed/src/cargo/core/compiler/build_context/target_info.rs#L260-L269

[2020-03-03 00:41] Mark-Simulacrum commented on #68794
I've nominated the regression test as well!

[2020-03-03 00:49] simonbuchan commented on #26925
I think I would be a lot happier with the current situation with "just" adding more information to the compiler diagnostic.

At the moment, you get something like:
[code]

or

[code]

Neither of these tell you that the *reason* `Ptr` doesn't implement `Copy` or `Clone`, despite `#[derive(Copy, Clone)]` being right there. I think some logic to add another sentence for this would get rid of the case

[2020-03-03 00:52] mati865 commented on #69197
No idea, that's what perf shows 🤷‍♂

[2020-03-03 01:40] is8ac opened #69654 "const generics: rustc panicked at 'already borrowed: BorrowMutError'"
## Source code
[code]

## Result
[code]

## Meta
[code]

[2020-03-03 02:05] Valloric opened #69655 "Consider integrating with OSS-Fuzz?"
(Similar to my issue for regex: https://github.com/rust-lang/regex/issues/650)

[OSS-Fuzz](https://google.github.io/oss-fuzz/) is a Google-provided service that can automatically and continuously fuzz OSS code and report bugs for discovered issues.

[The requirement for being accepted](https://google.github.io/oss-fuzz/getting-started/accepting-new-projects/) in OSS-Fuzz is "project must have a si

[2020-03-03 02:08] #69601 closed

[2020-03-03 02:25] Mark-Simulacrum commented on #69655
I can't find an issue for it, but I know we've discussed this on the t-compiler Zulip at least.

My personal opinion is that writing good fuzzing tests for rustc is likely to be quite hard, and quite limited in scope. I suspect that the "ideal" would be to target unsoundness bugs in the compiler (borrow check, trait system, etc.) by way of generating rust code and then checking that the compiler e

[2020-03-03 02:32] jyn514 opened #69657 "Very hard to read error when returning `?` from closure not returning Result or Option"
The original code:
[code]

[code]

The fix was to return `Ok()` at the end of the closure: `            Ok((move |expr| constructor(expr, id), location))`. It would be much more helpful if the error message suggested returning `Ok()` at the end instead of spouting a wall of text at me.

[2020-03-03 02:35] jyn514 commented on #69657
Minimized: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fe170e5b26850bb57a1e82f0fcae117c

[code]

[2020-03-03 02:51] tmandry opened #69658 "Improve diagnostics when a type does not impl a trait despite #[derive]'ing it"
_Originally posted by @simonbuchan in https://github.com/rust-lang/rust/issues/26925#issuecomment-593708712_

I think I would be a lot happier with the current situation with "just" adding more information to the compiler diagnostic.

At the moment, you get something like:
[code]

or

[code]

Neither of these tell you that the *reason* `Ptr` doesn't implement `Copy` or `Clone`, despite `#[derive(C

[2020-03-03 03:30] gitpbg opened #69660 "Compiler panic when compiling trivial code. Repro'ed on playground"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b1e482dca9ed5b89760fa28f75c6b921))

Errors:

[code]

[2020-03-03 03:45] JoshMcguigan commented on #69593
Really interesting analysis! Thanks for sharing your work @avl

[2020-03-03 04:07] jyn514 commented on #69657
Related issue: the closure types just look like noise. Maybe rustc could only print the location, not all the arguments? `closure@src/expr.rs:239:14`

[2020-03-03 04:28] JohnTitor commented on #69660
It seems already fixed in beta and nightly, closing as fixed.

[2020-03-03 04:28] #69660 closed

[2020-03-03 05:16] tmandry commented on #68759
This looks like a duplicate of #68950 (which may have the same cause as #64552)

[2020-03-03 05:20] tmandry commented on #68950
Thanks @Aaron1011. I'm going to close this as a duplicate of #64552, but note on the issue that we should add a test with the code from this issue.

[2020-03-03 05:20] #68950 closed

[2020-03-03 05:21] tmandry commented on #68759
Closing as a duplicate of #64552, but noting on that issue that we should add a test with the code from this issue.

[2020-03-03 05:21] #68759 closed

[2020-03-03 05:21] tmandry commented on #64552
I've marked #68950 and #68759 as duplicates of this issue, since they seem to have the same underlying cause. We should include their examples as regression tests in the fix for this bug (or reopen them if they are not fixed).

[2020-03-03 05:24] tmandry commented on #68523
Ping from triage. @estebank, could you follow up?

[2020-03-03 05:37] YoshikiTakashima opened #69662 "Looking to Capture Type Documentation"
Hello!

I'm Yoshiki, a PhD student at CMU.

I was wondering if there was a way to easily get type information from rust's documentation.

For example, I want to enumerate all functions of **std::string::String**, and get the type signatures for them.

I noticed search-by-type was implemented in PR#23289, but it looks like the search-index.js currently being used is different from the one implement

[2020-03-03 05:40] tmandry commented on #67204
Ping from triage. @Centril have you made progress on this? If not, do you intend to work on it or should I make it available for someone else to take on?

[2020-03-03 05:45] steveklabnik commented on #69662
Hi!

We try to keep the bug tracker for bugs only; these kinds of questions are better asked on users.rust-lang.org. Thank you!

[2020-03-03 05:45] #69662 closed

[2020-03-03 05:50] kwhrtsk commented on #59907
I tried to make a simple workaround to avoid this problem with VSCode (CodeLLDB).

https://github.com/kwhrtsk/rust-lldb-workaround

Any other workarounds?

[2020-03-03 05:52] YoshikiTakashima commented on #69662
Got it.

Thank you!

[2020-03-03 06:01] tmandry opened #69663 "More precise generator captures"
Today, valid programs using generators (and async/await) are rejected by the compiler because it thinks certain values may be held across yields when they are not.

Examples / to do: (please add more as they come up)

- [ ] https://github.com/rust-lang/rust/issues/57017
- [ ] https://github.com/rust-lang/rust/issues/57478

### Unresolved Questions

How should we implement this?

Are there any prog

[2020-03-03 06:03] tmandry commented on #69663
cc @nikomatsakis @Aaron1011

I've created a "meta-issue" to track these improvements.

[2020-03-03 06:43] oli-obk commented on #51910
You can cast pointers that you derived from integers. You just can't cast real pointers. This works as intended, and the reason the feature gate is not stable is because we can't detect statically whether your cast is going to be fine. We actually need to evaluate the constant with the cast as you saw.

In case of associated constants of generic traits, we can't actually do the cast unless you ins

[2020-03-03 07:21] RalfJung commented on #55131
In other words, the semantics of floating point operations would be something like "if the result is a NaN, non-deterministically pick any legal NaN representation". This non-determinism explains why debug and release builds differ in behavior.

I wonder if we should make Miri pick a random NaN payload and sign and signalling bit, just to drive home this point...

[2020-03-03 07:37] RalfJung commented on #69297
I found some more cases of exceptions being caught:
* https://github.com/rust-lang/rust/blob/97b3d816152774e45d01d44cd5b44565dc7aba58/src/librustc_mir/interpret/validity.rs#L758
* https://github.com/rust-lang/rust/blob/97b3d816152774e45d01d44cd5b44565dc7aba58/src/librustc/mir/interpret/allocation.rs#L384

The first one occurs quite a bit in Miri because we validate all the time (CTFE validates les

[2020-03-03 08:03] dylanmckay opened #69664 "Tracking Issue for the `avr-interrupt`/`avr-non-blocking-interrupt` calling convention/ABI"
This is a tracking issue for the RFC "XXX" (rust-lang/rfcs#NNN).
The feature gate for the issue is `#![feature(FFF)]`.

### Steps

- [ ] Implement the RFC
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-guide][stabilization-guide])

[stabilization-guide]: https://rust-lang.github.io/rustc-guide/stabilization_guide.html#st

[2020-03-03 08:04] dylanmckay commented on #69664
Raised to appease `tidy` in #69478.

[2020-03-03 08:56] hanna-kruppe commented on #69532
Note that converting floats to double bit patterns happens when printing textual IR: https://github.com/llvm/llvm-project/blob/40da6be2bd393b41907588afad4253f45966fc25/llvm/lib/IR/AsmWriter.cpp#L1331-L1343

I'm reasonably sure the constant folding produces a proper float (`semIEEEsingle`). But perhaps the non-zero bits in its significand are in bit positions > 32? Then the bitcast code would silen

[2020-03-03 10:28] hellow554 commented on #69596
reduced, without any dependencies. Much thanks to robbie an jhpratt!

[code]

    rm -rf inc; rustc -C incremental=inc --cfg rpass1 file.rs; rustc -C incremental=inc --cfg rpass2 file.rs

[2020-03-03 11:00] yuyoyuppe commented on #61909
I was wondering recently if the current reference-capturing behavior of `Fn` is the most desired one, i.e. whether it should capture references by reference or by value. I've found this issue to be the most relevant one. If this was discussed before, please give me some pointers.

 Consider this simple code:
[code]
It won't compile because we're essentially capturing the pointer to `v` reference w

[2020-03-03 13:27] #66491 closed

[2020-03-03 13:27] #69600 closed

[2020-03-03 13:34] LeSeulArtichaut commented on #69657
I think we can @rustbot modify labels: A-diagnostics D-papercut

[2020-03-03 13:54] RalfJung commented on #60889
It would definitely fail if Miri's layout-guided recursive descend would ever actually hit a field of `!` type. As in, if the code actually claimed to have created a `(String, !)` aggregate (and, say, pass it somewhere by value), that should cause an error.

So, in that test case, the generator does not preserve a `(String, !)` across the yield point, only a `String`? I think it has to, or else it

[2020-03-03 15:13] jpryne commented on #60602
Getting this issue when executing:
`cargo install cargo-generate`

More detail:
[code]

[2020-03-03 15:21] sfackler commented on #60602
Your Rust installation is out of date.

[2020-03-03 15:39] JackStade opened #69671 "Resolving recursive traits with type parameters requires exponential memory in certain cases"
This is an extremely niche case, but after asking about it on the rust community Discord I was told I should open an issue.

When trying to compile this code, the memory use (and compile time) increases exponentially with the nesting depth of `I`:

[code]
The actual amount of work the compiler is doing should not be growing exponentially. We can see this by doing the work in 2 parts:
[code]
Recurs

[2020-03-03 15:46] jonas-schievink opened #69672 "`x = yield;` makes generators larger than they need to be"
This generator has a size of 4 Bytes:

[code]

This one is 16 Bytes in size, even though it also does not need to keep `x` alive across the `yield`:

[code]

(where `makeit` is a fn returning a `usize`, and `useit` is a fn taking `&usize`)

This seems to be fallout from https://github.com/rust-lang/rust/pull/69302. Either the layout calculation soundness fix exposed it, or the visitor changes in t

[2020-03-03 16:32] hanna-kruppe commented on #69672
FWIW the evaluation order of `<place> = <expr>` (at MIR level) is currently: first evaluate `<expr>` (into a temporary), then drop `<place>`. For types without drop glue (like `usize`) that shouldn't matter, and even for types with drop glue there's reasons to change that if we can (to be able to avoid temporaries). But still, the evaluation order being this way currently means `x` would, in fact,

[2020-03-03 16:33] eddyb commented on #69532
Just remembered I wanted to look at assembly or machine code to see what the LLVM `APFloat` lowers to and show that it's buggy in LLVM even outside of constant-folded bitcasts.

[2020-03-03 16:38] eddyb commented on #69532
Also isn't a `double 0x7FF0000000000000` +Infinity, showing the `fptrunc` had already truncated the significand?

[2020-03-03 17:04] jonas-schievink commented on #69672
True, but shouldn't the unconditional `drop(x);` before the `yield` prevent that? The value wouldn't be live anymore when the `yield` happens.

(there's also a separate bug where a type being `Copy` can actually make a generator *larger*, but that also shouldn't happen here)

[2020-03-03 17:10] hanna-kruppe commented on #69672
Oh, I missed that. somehow That liveness is not taken into account for generator captures is a problem independent of resume arguments, see https://github.com/rust-lang/rust/issues/69663. Could async fns after https://github.com/rust-lang/rust/pull/69033 have such an explicit `drop` too or would they still be affected if https://github.com/rust-lang/rust/issues/69663?

[2020-03-03 18:12] jonas-schievink commented on #69672
#69663 is about typeck's view of captures from what I can tell. The transform itself (which determines the memory layout) runs on optimized MIR and should already be able to tell whether variables are *really* live across `yield` points.

[2020-03-03 18:13] tmandry commented on #69632
Duplicate of #67651

[2020-03-03 18:13] #69632 closed

[2020-03-03 18:23] guswynn opened #69673 "[rustdoc] Fuzzy search in rustdoc should be configurable"
I was in the std docs, and searched for "then" looking specifically for things that are "then" or "and_then". I ended up getting a LOT of results for "len"

I find that for things like grep, rg, search and replace, ctags, etc., when searching code, I want either exact matches, or exact machines (case insensitive).

Would it be possible to make this exact? or at least configurable?

Thanks!

[2020-03-03 18:25] tmandry commented on #69672
@rustbot claim

Assigning myself to think about this issue and leave notes on the underlying issues involved.

[2020-03-03 18:31] guswynn commented on #69673
I looked into the help pulled up by "?"
I think that "quotes" make it search by exact match, the problem being, that "then" does not match "and_then" like "rg then" or "grep -R then" would

[2020-03-03 18:31] cuviper commented on #43241
Right now we implement X86 probes with a call to compiler-builtin's `__rust_probestack`, but there is support for inline stack-probes coming in LLVM 11:
https://reviews.llvm.org/rGe67cbac81211d40332a79d98c9d5953624cc1202

That's also X86-only so far, but this should be the path forward for other targets.

[2020-03-03 18:40] tmandry commented on #66107
Ping from triage. @gilescope are you working on this?

[2020-03-03 18:58] pnkfelix commented on #69654
ran cargo-bisect-rustc on this.

It reports:

# Regression found in the compiler

searched nightlies: from nightly-2019-11-18 to nightly-2019-12-02
regressed nightly: nightly-2019-12-02
searched commits: from https://github.com/rust-lang/rust/commit/d8bdb3fdcbd88eb16e1a6669236122c41ed2aed3 to https://github.com/rust-lang/rust/commit/4007d4ef26eab44bdabc2b7574d032152264d3ad
regressed commit: https:

[2020-03-03 19:00] pnkfelix commented on #69654
i.e. this was injected by (rollup) PR #66908

its not immediately obvious to me which associated PR from that rollup is to blame. Maybe #66883 ?

[2020-03-03 19:41] Shnatsel commented on #69655
There is already a way to get slightly more sophisticated programs than just random input, see https://github.com/rust-fuzz/trophy-case/issues/36

But so far the fuzzing harness has only found ICEs, and I tend to agree with Mark that they're not terribly important at this point when triggered by contrived fuzzer-generated examples.

[2020-03-03 19:46] lukas-code opened #69675 "Inner attributes on block expressions on match arms are not allowed"
I tried this code:

[code]

I expected to see this happen: The code compiles.

Instead, this happened: The code fails to compile with the following error:
[code]

The following code compiles as expected:
[code]

### Meta
`rustc --version --verbose`:
[code]

[2020-03-03 20:25] jonhoo commented on #69629
I ran regression with `cargo-bisect-rust`, and got:
[code]
Which suggests that the regression happened between 6d69caba110c0c2fb90180df1cbc8be5033b91d4 and 0eb878d2aa6e3a1cb315f3f328681b26bb4bffdb.

[2020-03-03 20:47] LeSeulArtichaut commented on #69675
@rustbot modify labels: A-parser

[2020-03-03 20:48] jonhoo commented on #69629
`cargo-bisect-rust` claims that the regression was caused by 55aee8d49628ae8218e91745c388d5dc36771248 (https://github.com/rust-lang/rust/pull/69255) by @estebank:
[code]

[2020-03-03 20:48] jonhoo commented on #69629
You can replicate by cloning [`tower`](https://github.com/tower-rs/tower) and running
[code]

[2020-03-03 21:00] bdfshongjie commented on #69655
test

On Tue, Mar 3, 2020 at 11:42 <notifications@github.com> wrote:

There is already a way to get slightly more sophisticated programs than
just random input, see rust-fuzz/trophy-case#36
<https://github.com/rust-fuzz/trophy-case/issues/36>

But so far the fuzzing harness has only found ICEs, and I tend to agree
with Mark that they're not terribly important at this point when triggered
by contri

[2020-03-03 21:02] ehuss commented on #69675
I believe this is working as expected.  Attributes can be applied to blocks as *statements*, but not as *expressions*.  In some cases, attributes can be used in expressions, but those were accidentally stabilized in #36995, and nobody noticed for a long time. The current stable rules are detailed in https://doc.rust-lang.org/reference/expressions/block-expr.html#attributes-on-block-expressions.

[2020-03-03 21:48] Centril commented on #69675
@ehuss's summary is accurate. Closing as not-a-bug.

[2020-03-03 21:48] #69675 closed

[2020-03-03 21:55] ExpHP opened #69681 "Docs for std::fmt could mention locale"
From this discussion: https://users.rust-lang.org/t/is-f64-to-string-localized/39011

Yeah, it should probably be mentioned, to give users something to Ctrl+F for.

[2020-03-03 21:59] Centril commented on #69647
@oli-obk should we move this to the const eval repo?

[2020-03-03 22:16] Yuhanun opened #69682 "Illegal instruction generation for unreachable code"
Illegal instructions get generated when unreachable code is found, but it can be reached if a loop / whatever gets optimized out. Only happens in release.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=4939c0893b2493f2b7e87601fd4534c0))

Errors:

[code]

[2020-03-03 22:19] DustinByfuglien commented on #69067
Here is another example of confusin E0495 error message:

1. ``lifetime must be valid for the anonymous lifetime #1 defined on the method body``
   Error meassage don't show where exactly is lifetime #1 in method body placed
2. Confusing why this is noted that expected type is exactly sthe same as founded:
``expected  std::boxed::Box<dyn Bar>
 found  std::boxed::Box<dyn Bar>``

[code]

([Playgroun

[2020-03-03 22:25] jonas-schievink commented on #69682
Duplicate of https://github.com/rust-lang/rust/issues/28728. The undefined instruction is a stopgap inserted by LLVM's TrapUnreachable feature.

[2020-03-03 22:25] #69682 closed

[2020-03-03 22:47] is8ac opened #69683 "Confusing error: cannot infer type for type `u8`"
rustc gives confusing error, suggesting that I give b an explicit type when b already has an explicit  type.

Replacing `0u16.foo(b)` with `<u16 as Foo<[(); 3]>>::foo(0u16, b)` fixes it.

This may be a duplicate of #69123

## Source
[code]

## Log
[code]

## Meta
Same issue occurs in both latest and nightly and stable.

[code]
[code]

[2020-03-03 23:24] MagicalTux commented on #69552
Rust is ready to roll.

It looks like setting `DEP_Z_INCLUDE`, `DEP_OPENSSL_INCLUDE` and `DEP_SSH2_INCLUDE` allowed for a successful build of rust 1.41.1.

I'm now going to test with `LIBSSH2_SYS_USE_PKG_CONFIG` and `LIBGIT2_SYS_USE_PKG_CONFIG`, and will also run tests directly with `ssh2-rs` in order to attempt to fix https://github.com/alexcrichton/ssh2-rs/issues/169.

[2020-03-03 23:27] sdegutis commented on #27800
For what it's worth, I ended up at this issue because I was trying to find out what happened to the `select!` macro in `std::sync::mpsc` which would be useful to me right about now. And only through this issue did I find out about `crossbeam-channel` which I'm switching to for its `select!`. Would be nice to have something like that in the standard library.

[2020-03-03 23:30] LeSeulArtichaut commented on #69191
I can indeed reproduce the ICE at c5c4fa8e7633c28464e3b27a57f2f175cc6700fd, #67501 seems to be the culprit.
cc @oli-obk @pnkfelix

<details>
<summary>Backtrace</summary>

[code]

</details>

[2020-03-03 23:57] yoshuawuyts opened #69684 "[libs] add recursive variant of `fs::read_dir`"
## Motivation

As part of the [`fs` module](https://doc.rust-lang.org/std/fs/index.html) there exist various recursive and non-recursive operations. `create_dir` and `create_dir_all`. `remove_dir` and `remove_dir_all`. But to read the contents of a directory there currently only exists [`read_dir`](https://doc.rust-lang.org/std/fs/fn.read_dir.html), but no recursive counterpart:

|Action Kind| Bas

[2020-03-04 00:30] yoshuawuyts commented on #69684
Oh I guess an obvious omission is [`burntsushi/walkdir`](https://github.com/BurntSushi/walkdir), which provides very detailed control of how to walk directories, max depth, strategies and filtering. I'm thinking this might be what I remembered seeing in the past.

I would imagine functionality as provided by `walkdir` would likely also have a place in std; and the existence of one should preclude

[2020-03-04 01:17] the8472 commented on #69684
Imo there is no obvious, *right* solution for recursive directory walking. Do you follow symlinks or not? Do you respect device boundaries? Should inaccessible directories communicated as errors or be silently skipped? Should directories themselves be part of the resulting entries or not? How to avoid descending into potentially huge hidden dirs (e.g. cache dirs, containing git objects)? How do yo

[2020-03-04 01:54] #58132 closed

[2020-03-04 01:55] acfoltzer commented on #68408
It looks like the erroneous warning arises only for struct-like enum variants that are created only by referencing via `Self`. In this example program, the only warning is for `E::A`:

[code]

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0e56a8b54ea6e62041c3aedb2804afd9))

[2020-03-04 02:09] bdfshongjie commented on #58132
你好

On Tue, Mar 3, 2020 at 17:55 <notifications@github.com> wrote:

Closed #58132 <https://github.com/rust-lang/rust/issues/58132>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/rust-lang/rust/issues/58132?email_source=notifications&email_token=ANJSMYOLRGTSZA7QOQLHQYLRFWYKHA5CNFSM4GUBO6LKYY3PNVWWK3TUL52HS4DF

[2020-03-04 02:16] thekuom commented on #67311
Can I work on this one?

[2020-03-04 02:17] Centril commented on #67311
Sure, go right ahead.

@rustbot assign thekuom

[2020-03-04 02:18] Centril commented on #67311
@rustbot assign @thekuom

[2020-03-04 04:41] Boscop commented on #69684
I agree with @the8472, there are many ways to skin this cat, and I never expected std to provide this.
(I've been using walkdir but recently discovered jwalk which claims to be faster (parallel).)

[2020-03-04 04:49] Tyg13 commented on #69552
It would definitely be worthwhile, at least to make the issue known to them. Their build script is similar to `ssh2-rs` so I imagine it wouldn't be difficult to provide a similar patch.

[2020-03-04 06:36] xobs opened #69689 "riscv: unable to use atomics with linker-plugin-lto"
The following code compiles fine without `linker-plugin-lto`, but fails to compile when it is enabled:

[code]

This code should compile cleanly with:

[code]

However, with the lto plugin, it doesn't compile:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

This occurs on both `riscv64gc-unknown-none-elf` and `riscv32imac-

[2020-03-04 07:08] spadaval commented on #67418
@TheSamsa You still working on this?

[2020-03-04 09:04] kentfredric opened #69691 "std::env members need to document "process global" risks."
I've hit a few bugs in various crate test suites where 2 different tests both modify POSIX ENV, and then execute code and assertions based on those changes.

Often, this works simply due to the code being fast enough, but you can randomly get weird failures due to the data races in `ENV`, due to `ENV` being shared between threads.

But I don't see any documentation pointing out either:

a. That th

[2020-03-04 09:47] awelkie opened #69694 "libc symbols are included in cross-compiled static libraries"
Symbols such as `memcpy` are included in static libraries built for (at least) `thumbv7em-none-eabihf`.

I tried this code:

[code]

[code]

I expected to see this happen: I expected the `memcpy` symbol to be undefined in the generated static library.

Instead, this happened: The `memcpy` symbol is defined in the generated static library.

### Meta

`rustc +nightly --version --verbose`:
[code]

[2020-03-04 09:49] xobs commented on #69689
This may be a bug in `rust-lld` caused by it not passing (or supporting passing?) the "features" flags to the linker: https://github.com/rust-lang/compiler-builtins/issues/346#issuecomment-594423010

[2020-03-04 10:01] domibay-hugo commented on #67173
I was reviewing the Library Bindings of the Rust `hello-world` Executable and found some Bindings that are actually very surprising:
[code]
As a comparison I did check the `hello-world` Executable generated with the other Compiler which runs on Centos6 right out of the box:
[code]
The disassembly output of `hello-world_fpc.run` shows that this Compiler actually doesn't need any external Libraries

[2020-03-04 10:19] xobs commented on #69689
Note that passing `"-plugin-opt=--mattr=+a"` seems to fix the issue.  It seems like compiling with `-C linker-plugin-lto` should also pass the target's `features` to lldb, via `-plugin-opt=--mattr=`.

[2020-03-04 11:06] #69368 closed

[2020-03-04 11:14] gliderkite opened #69695 "async Drop tracking issue"
I couldn't find any tracking issue for `async Drop`. Please feel free to close this issue if duplicate.

Related references:
- @withoutboats [blog post](https://boats.gitlab.io/blog/post/poll-drop/)
- [Internal discussion](https://internals.rust-lang.org/t/asynchronous-destructors/11127)

[2020-03-04 11:35] jonas-schievink commented on #69695
There's nothing to track, this still needs to go through an RFC.

[2020-03-04 11:35] #69695 closed

[2020-03-04 11:55] nagisa commented on #67173
Use the musl target if you want fully static binaries.

On Wed, 4 Mar 2020, 12:01 Bodo (Hugo) Barwich, <notifications@github.com>
wrote:

[2020-03-04 12:00] matprec opened #69696 "Exhaustiveness checker errors on unconstructible enum variant"
[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0497db958ae59eb695a000dc5ce2b953)

I expect this to work, since the Phantom case is not constructible, since it contains a Void type.

The exhaustiveness checker instead errors because it thinks that the Phantom case should be covered as well:
[code]
### Meta

Happens on stable and nightly as of 2020-03-04

[2020-03-04 12:59] TheSamsa commented on #67418
Not quite, my other PR is not yet through and I thought I wait for it.

But if you want to do it, just take it.
If not I'll be on it soon.

[2020-03-04 13:58] AnovaCean opened #69699 "Do you have lost compiler based on intel c++ compiler"
I know rust compare the has many versions.Like some of them based on gnu And some of them are based on msvc.Do you have some lessons which are based on intel c++ Compiler.When rustup-init.exe asks me "Default host triple?",I tried input "x 86_64-pc-windows-icc".But it replied That couldn't be converted to practial triple.So can you tell me how to install rust compiler the wage based on intel c++ c

[2020-03-04 14:01] jonas-schievink commented on #69699
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-03-04 14:01] #69699 closed

[2020-03-04 14:07] #69462 closed

[2020-03-04 14:19] AnovaCean commented on #69699
Sorry, there are some mistakes happened when I am typing title.I mean that do you have rust compiler which is based on intel c++ compiler, except the versions based on gnu and msvc.I often called in for x86 platforms.So intel c++compiler is a better choosing than gnu.

[2020-03-04 14:21] hellow554 commented on #69696
But it's correct. Although it can't be constructed, you have to use `_ => {}` for an exhaustive match.
This construct can be used as a workaround for older compiler, that don't support the `#[non_exhaustive]` attribute.
So I think this complain is valid?!

[2020-03-04 14:27] GuillaumeGomez commented on #15823
It works fine for me? Version 1.43.

[2020-03-04 14:35] matprec commented on #69696
I don't think that this is a proper workaround for the `#[non_exhaustive]` attribute, since it doesn't forbid matching explicitly against the `Phantom` variant. The RFC cites `#[doc(hidden)]` in the [How we do this today](https://github.com/rust-lang/rfcs/blob/master/text/2008-non-exhaustive.md#how-we-do-this-today) section.

[2020-03-04 14:43] svartalf commented on #15823
@GuillaumeGomez thanks for getting back to this issue!

Unfortunately, I still can reproduce it with the example from my previous comment and `rust version 1.43.0-nightly (4ad624882 2020-03-03)`:
![image](https://user-images.githubusercontent.com/1279564/75890210-16ff4480-5e3f-11ea-9a10-08f95d4d712d.png).
You can check the [example repo](https://github.com/svartalf/rust-issue-15823#problem) for ad

[2020-03-04 14:46] matprec commented on #69696
I'd argue that this should be valid, since the error states its intention as "help: ensure that all **possible** cases are being handled" (emphasis mine), yet the `Phantom` variant is not "possible".

[2020-03-04 14:48] matthiaskrgr opened #69701 "false negative unused_mut: if let x .. = &mut"
[code]

In this example, the `mut` in `if let Some(char) = &mut word.chars().last() {` is redundant but the compiler issued no warning.

`rustc 1.43.0-nightly (4ad624882 2020-03-03)`

[2020-03-04 14:51] jonas-schievink commented on #69701
`unused_mut` only warns for local variables AFAIK

[2020-03-04 14:58] steveklabnik commented on #67173
Yes, this is expected behavior, as mentioned above. Closing.

[2020-03-04 14:58] #67173 closed

[2020-03-04 15:05] 95th commented on #68532
Following example fails to compile:

[code]
<details>

<summary>Error</summary>

[code]
</details>

Even if I add `T: Sized`, still issue:
[code]

<details>

<summary>Error</summary>

[code]

</details>

But this works:

[code]

[2020-03-04 15:10] spacekookie commented on #69466
@estebank thanks! I'll try to have a look at this and post if I have any questions :)

[2020-03-04 17:09] jonhoo commented on #69629
I wonder if this may somehow be a new manifestation of #60375?

[2020-03-04 17:46] pnkfelix commented on #69629
by the way, under the [new priority scheme](https://hackmd.io/5theN85oRS6QvyYPZt-vew) being considered for next generation triage, I would consider #69629 a `P-critical` bug. The regressing PR took code that used to compile successfully, and now produced an unexpected static error.

[2020-03-04 17:52] pnkfelix commented on #69602
triage: already has fix in pipeline. P-high. removing nomination label. Assigning to @estebank  as well.

[2020-03-04 17:58] pnkfelix commented on #69420
This is presumably a regression, right? It seems like a program this simple should have compiled successfully at some point?

Tagging with E-needs-bisect based on that assumption.

[2020-03-04 18:13] pnkfelix commented on #69420
triage as P-high, and also leave it nominated in hopes of discussing at T-compiler meeting.

[2020-03-04 18:21] pnkfelix commented on #69604
would be good to know when this was injected. tagging E-needs-bisect.

[2020-03-04 18:24] pnkfelix commented on #69604
triage: needs-bisect. Prioritizing as P-medium, based on assumption that the quality of diagnostics here can regress slightly and then get fixed in a future release if need be.

[2020-03-04 18:31] mayabyte commented on #39412
Weather or not anaphoric macros are allowed, the ability to create new identifiers from ones passed into the macro seems highly desirable. Consider the following case with `macro_rules!`:
[code]

This doesn't work because `side_effect` has to have a fixed name, so it'd be shadowed each iteration. (Achieving something like this is possible, but it's hacky and involves a lot of boilerplate).

Being

[2020-03-04 18:37] petrochenkov commented on #69604
I'm pretty sure https://github.com/rust-lang/rust/pull/69384 is the reason, like it was mentioned above.

I'm interested in the effect of https://github.com/rust-lang/rust/pull/66364 on this diagnostic, but in the end we should probably show both locations since none of them is unambiguously better.

[2020-03-04 18:42] pnkfelix commented on #68905
triage: After spending a while explaining this bug to @spastorino , I figured I should take the plunge and mark this as P-high.

(I'm not 100% sure if it is a release blocker per se, but my interpretation of the [comments above](https://github.com/rust-lang/rust/issues/68905#issuecomment-592063891) is that we would prefer to either land a fix for this before beta is cut or, failing that, prioritiz

[2020-03-04 19:11] ecstatic-morse opened #69710 "Small perf regression in #69635"
#69635 (a rollup) caused a [small performance regression](https://perf.rust-lang.org/compare.html?start=c839a7b4c26e58319b0c40448dd423facff34cd0&end=18c275b423f9f13c0e404ae3804967d2ab66337c&stat=instructions:u). Since the regression has persisted through the last half dozen perf runs, it is likely not spurious. There are no outstanding perf runs near the regression (2020-03-02), so I am fairly con

[2020-03-04 19:38] ecstatic-morse commented on #65031
There's been a lot of work done to split up `rustc` since this issue was filed. Could someone with access to a machine with many cores (16+) post the results of `-Ztimings` on a recent `master`?

[2020-03-04 19:40] eddyb commented on #68977
I was trying something out to show @ruabmbua their idea can't work yet and [accidentally came up with something](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fa05792ce102f9c98901bc4586ed5e42) that compiles even if it shouldn't. I'm pretty sure it's because of this bug.

[2020-03-04 20:46] estebank commented on #69629
Can confirm that the issue was introduced in the following code https://github.com/rust-lang/rust/pull/69255/files#diff-dd3531c645441fc4588d997838e391f5R1406-R1447

[2020-03-04 20:47] pnkfelix commented on #68729
Removing nomination label and closing.

As I wrote on [zulip](https://zulip-archive.rust-lang.org/131828tcompiler/40525premeetingtriage2020030554818.html#189733005):

[2020-03-04 20:49] #68729 closed

[2020-03-04 21:00] jonas-schievink commented on #60175
`next` takes `&mut self`, so the type `&mut AssertUnwindSafe<mpsc::UnboundedReceiver<&'static str>>` ends up in the generator. This is currently expected behavior, so closing.

[2020-03-04 21:00] #60175 closed

[2020-03-04 21:19] eddyb commented on #68304
I was under the impression that calling `Box<dyn FnOnce()>` didn't require dynamic `alloca`, is that related to missing MIR optimizations, meaning we have unnecessary moves which end up duplicating the data on the stack using a dynamic `alloca`?

[2020-03-04 21:47] ecstatic-morse opened #69715 "More precise drop elaboration"
#68943 and #68528 changed drop elaboration to reduce the number of `Drop` terminators emitted for enums. Originally, these PRs were intended only to solve #66753, but they also resulted in [significant perf improvements](https://perf.rust-lang.org/compare.html?start=a8437cf213ac1e950b6f5c691c4d2a29bf949bcd&end=d9051341a1c142542a3f7dab509266606c775382&stat=instructions%3Au) for codegen-ed builds (l

[2020-03-04 21:49] Aaron1011 commented on #52843
Updated version [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=7b8a0917b6be88a0d4d1b359398bf2c6):

[code]

[2020-03-04 21:59] ruabmbua commented on #68977
Extended example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=aa9afdff6a2f23a8f0cc588fdafe4c17

It would be nice, if is possible to build something like that. Even, if it`s not exactly the same.

[2020-03-04 22:01] estebank commented on #69629
I have a fix in https://github.com/rust-lang/rust/pull/69717. Tested with `tower` locally.

[2020-03-04 22:02] jonas-schievink commented on #69672
I've got a fix up in #69716 that should cover most cases here.

[2020-03-04 22:06] RalfJung commented on #68304
Correctness shouldn't rely on optimizations to fire...

[2020-03-04 22:35] estebank commented on #27964
@najamelan could you copy that comment as a new ticket? The original report will be closed by #69709 but yours won't be addressed by that PR, sadly.

[2020-03-04 22:46] Aaron1011 commented on #55997
I think the simplest approach would be to require explicitly adding the auto-trait as a bound to the imp trait definition.

That is, instead of writing `type Foo = impl Fn() -> usize`, you would write `type Foo = impl Fn() -> usize + Send`. Note this will already resolve the cycle error on the latest compiler.

It's important to note that the auto traits 'leaked' by an impl trait (both RPIT and ty

[2020-03-04 22:54] LeSeulArtichaut commented on #69604
`cargo-bisect-rustc` reports a regression in 0eb878d2aa6e3a1cb315f3f328681b26bb4bffdb

@rustbot modify labels: -E-needs-bisection

[2020-03-04 22:56] ecstatic-morse commented on #69710
The perf results for #69241, the original revert of #67174, are basically [the mirror](https://perf.rust-lang.org/compare.html?start=e0e5d82e1677c82d209b214bbfc2cc5705c2336a&end=a2fb0c28be794f28028884650db70c17fea8e35b&stat=instructions:u) of the ones in the OP. #67220, the first rollup to include #67174, also caused a [performance regression](https://github.com/rust-lang/rust/pull/67220#issuecomm

[2020-03-04 23:10] najamelan opened #69719 "Confusing diagnostics where the error mentions Sized but not that a trait bound is not implemented (where it would be for a Sized type)."
This comes from the [user forum](https://users.rust-lang.org/t/wrapping-boxed-errors/38951), [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=66943a8d8e850922681779926208b1fd), moved from #27964:
[code]
Error:
[code]
Go figure why "library_function doesn't have a size known at compile time".

Analysis:
There is a blanket impl for `Error` on `Box<T>`, so quickly

[2020-03-04 23:25] Centril commented on #69696
This compiles if you use `#![feature(exhaustive_patterns)]`, so I'm closing in favor of https://github.com/rust-lang/rust/issues/51085.

[2020-03-04 23:25] #69696 closed

[2020-03-04 23:41] mimoo opened #69721 "potential memory leak in backtrace"
Yellow!

I've been investigating a memory leak that we found via LeakSanitizer. The thing looked like this:

<details>
<summary>click here</summary>
<pre><code>==86445==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 2853 byte(s) in 80 object(s) allocated from:
    #0 0x559896d2b9ed in malloc /rustc/llvm/src/llvm-project/compiler-rt/lib/asan/asan_malloc_linux.cc:145:3
    #1 0x5598ae1c

[2020-03-05 01:13] MagicalTux commented on #69552
I believe it's OK to close this issue now, or after https://github.com/rust-lang/git2-rs/pull/525 is merged.

Thank you very much @Tyg13 for your helpful comments and suggestions in solving this!

[2020-03-05 01:21] retep998 commented on #69699
To answer your question. `gnu` vs `msvc` is for which *linker* toolchain is used. The Intel C++ compiler isn't a linker toolchain but rather just a compiler, and they key reason people use it is for its code generation. Rust always use LLVM for code generation currently regardless of what target is being used.

[2020-03-05 01:25] AnovaCean commented on #69699
Thanks!

[2020-03-05 02:17] Mart-Bogdan commented on #25820
This os really needed feature, as currently IDEs (Idea and rls/rust-analyzer) have to expand all macros and analyze source code of dependecies.

It would be nice if they would be able to extract info about types and signarures from rlib in sone json format.

AFAIK Currently there are no way to provide autocompletion for proc-macro generated code. Only for regular macros, as IDEs are expanding them

[2020-03-05 02:20] estebank commented on #60980
@rust-lang/lang: we could assert well-formedness of `hir::ItemKind::TyAlias` early in `check_item_well_formed` (we don't today, we just skip them 👀), which would turn this case into the following more understandable output:

[code]

Is this something we would consider doing, even if it is as a warning? I believe this would be effectively a breaking change (code that compiles today would stop compi

[2020-03-05 04:16] Aaron1011 commented on #69658
This seems to be better on the latest nightly:

[code]

produces:

[code]

[2020-03-05 04:56] shika-blyat commented on #41517
Just a simple question:
[code]
(playground [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=552ffdf2c6ab0f5b8f60095e61b5d00e]))
is this supposed to parse and compile without any error nor warning ? 🤔

[2020-03-05 04:58] sunny-g opened #69725 "'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/librustc_typeck/check/method/suggest.rs:550:46"
I tried code very similar to this:

[code]

and it produces some type of type checking error when uncommenting the line beginning with `let temp`.

[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:

[code]

[2020-03-05 05:09] sunny-g commented on #69725
The error is likely due to the fact that the trait bounds on `visit_map` don't include `Clone` for `MapAccess<'de>`, though the compiler/type checker crashing is still likely a bug.

[2020-03-05 05:18] memoryruins commented on #41517
Without the feature, these are already accepted today:
[code]
With the feature, I guess it's like writing:
[code]
Although not very useful, it appears consistent.

[2020-03-05 05:31] shika-blyat commented on #41517
Oh okay, thank you for the explanation :)

[2020-03-05 05:39] eddyb commented on #68304
@RalfJung Sure, I was just hoping we weren't relying on "unsized locals", only unsized parameters (i.e. `self`), for what we're exposing as stable. And I was hoping an optimization *wouldn't* need to be involved to get there.

I wonder if it would even be possible to restrict "unsized locals" to the subset where we can handle it entirely through ABI, and not actually have dynamic `alloca`s anywher

[2020-03-05 05:56] nnethercote commented on #69710
Here is some output from a Callgrind profile that I had lying around. This is for a `Check-CleanIncr` run of `ucd`, which saw a 4.6% regression:
[code]
It suggests two things:
- This function is not at all hot, so it's surprising that changing it would have a large perf effect.
- It (the old version) is getting inlined. (If it wasn't inlined, there would be non-zero instruction counts on the `fn`

[2020-03-05 06:04] Lokathor opened #69726 "core::str docs missing link to std::str"
The docs for `core::str` start with:

## Module core::str

But the `std::str` part should link be a hyperlink.

[2020-03-05 07:03] bjorn3 commented on #68304
That should be possible. I think everything that is necessary is performing the deref of the box as argument (`call FnOnce::call_once(move *_1, _2)`) instead of moving the box contents to a local first (`_3 = move _1; call FnOnce::call_once(move _3, _2)`) That would also make it possible to call `Box<FnOnce>` in cg_clif. Cranelift doesn't have alloca support, so the current Mir is untranslatable.

[2020-03-05 07:17] JohnTitor commented on #69725
That code was introduced in #69255, cc @estebank. Submitted #69727 as a quick fix.

[2020-03-05 07:21] eddyb commented on #68304
@bjorn3 Hmm, but that's not trivially sound because it could lead to MIR calls where argument and return places overlap, which is UB.

We'd potentially have to special-case it to `Box` derefs, but even then what's to stop someone from doing `foo = (*foo.boxed_closure)();`?

Maybe we could introduce a temporary for the return value instead, for these kinds of virtual calls? That should remove any p

[2020-03-05 08:35] bjorn3 commented on #68304
That would result in `foo.boxed_closure: Box<FnOnce>` being moved to a temp first before dropping `foo` and calling the boxed closure. If it wasn't moved first before the drop of `foo`, then borrowck would give an error.

[2020-03-05 09:40] lqd commented on #69629
(Reopening: the issue was closed automatically by the commit message rather than the PR description, but still needs a test)

[2020-03-05 11:20] hzqd opened #69731 "Add Kotlin Standard Library's functions: let & also"
To better support method chaining, Rust could include following trait, which can improve user experience:
[code]

Before it:
[code]

After:
[code]

Here is already an implementation:
[code]

[2020-03-05 11:23] jonas-schievink commented on #69731
Hi! Large additions to the language or standard library need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2020-03-05 11:23] #69731 closed

[2020-03-05 12:04] avl commented on #69593
AMD's "Software Optimization Guide for AMD Family 17h Models 30h and Greater Processors"
has this to say:

"Since the processor can read an aligned 64-byte fetch block every cycle, aligning the end of the loop to the last byte of a 64-byte cache line is the best thing to do, if possible."

So at least profile-guided optimization could in theory detect the case described by this report and fix it.

[2020-03-05 12:55] hanna-kruppe commented on #69532
[Indeed](https://godbolt.org/z/JzvkoV). And I just realized that while the high half of `0x7FF0000000000000` is a f32 NaN, the whole bit string as an f64 is in fact a NaN and setting just one bit more (e.g. `0x7FF8000000000000`) does make llc (and presumably bitcast folding) produce `0x7FC00000` (an f32 NaN). So I guess that I interpreted `float <64b hex>` incorrectly and the fptrunc folding is at

[2020-03-05 13:10] RalfJung commented on #69532
So... what does this mean? Is it an LLVM bug, and do we have enough information to report it upstream?

[2020-03-05 13:59] Nashenas88 opened #69733 "Import suggestion at incorrect line when first line is a struct attribute"
I tried this code:

(From https://github.com/rust-analyzer/rust-analyzer/issues/3237#issuecomment-591366102)
[code]

in foo.rs,

[code]

in lib.rs

and

[code]

in Cargo.toml

And ran `cargo check --message-format=json`

I expected to see this happen:

A suggestion to place the imports on line 1, e.g. `"line_start": 1, "line_end": 1, "suggested_replacement": "use proc_macro::Ident;"`

Instead, thi

[2020-03-05 14:27] luser commented on #69684
I think this is a reasonable statement. Even the `walkdir` README shows a very simple example with no options first:
[code]

That's virtually identical to your proposed simple API. For more complex operations in which you wanted to set options we could provide a builder type. This would mirror the simple APIs of `std::fs::File::{create,open}` and the configurability of `std::fs::OpenOptions`.

[2020-03-05 14:28] tmiasko commented on #69721
Thanks for the report. I think it will be addressed in the next upgrade of
libbacktrace. You can track the progress in rust-lang-nursery/libbacktrace#1,
or rust-lang/backtrace-rs#299.

Duplicate of #59125.

[2020-03-05 14:28] pnkfelix commented on #69420
@rustbot ping icebreakers-llvm

[2020-03-05 14:30] jonas-schievink commented on #69721
Closing as a duplicate then

[2020-03-05 14:30] #69721 closed

[2020-03-05 14:44] pnkfelix commented on #69296
triage: according to godbolt, this has ICE'd the compiler for as long as this the relevant methods were made const fn's.

which to me means this is not a critical bug

I'm leaving at P-high for now.

[2020-03-05 14:51] pnkfelix commented on #69197
closing as resolved by PR  #69227

[2020-03-05 14:51] #69197 closed

[2020-03-05 15:02] steveklabnik commented on #51130
Triage: there hasn't really been any direct changes here, but there *has* been movement towards entirely re-doing inline assembly; with the current implementation moving to `llvm_asm` and a brand new inline asm design/implementation.

[2020-03-05 15:04] steveklabnik commented on #49895
Triage: with no comments since the previous post, I'm going to close this issue. If anyone can reproduce this bug today, please let me know and we'll re-open. Thank you!

[2020-03-05 15:04] #49895 closed

[2020-03-05 15:54] nikomatsakis commented on #60889
I would not call this an implementation detail. If we were going to change this, we'd have to have some other modification to MIR to "signal" when the aggregate is fully constructed (it's relevant to borrow check, for example, and it affects visible drop order as well).

[2020-03-05 15:54] eddyb opened #69737 "We should use crate visibility in implementation details like std::sys."
@pnkfelix brought up during the compiler meeting that #67705 is "adding a `pub fn` to `std::sys::windows`", which turned out not to be a concern as `std::sys` itself is private.

However I think it would be helpful (and prevent accidental reexports), if everything under `std::sys` had `crate`-level visibility instead of `pub`.

cc @rust-lang/libs

[2020-03-05 15:58] nikomatsakis commented on #61909
@yuyoyuppe this can't be lightly changed in a backwards compatible fashion. We have to decide the mode of capture before we learn about the error that results from this code. Furthermore, there are cases where the choice to capture "in place" or "by move" results in user-visible distinctions in terms of what drops and what doesn't, so it's best for the rules there to be relatively predictable.

[2020-03-05 16:07] eddyb opened #69739 "rustc_span footgun: ensure_source_file_source_present has to be manually called."
Methods like `SourceFile::get_line` always succeed for files from the current crate, but if the file is imported cross-crate (which will include macros after #66364), they will silently fail unless `SourceMap::ensure_source_file_source_present` was called with that `SourceFile` ahead of time.

The reason this isn't more automated is because a `SourceFile` by itself can't load files on demand.
We c

[2020-03-05 16:28] roblabla commented on #51130
FWIW, the equivalent version in the new asm syntax (as implemented by https://github.com/rust-lang/rust/pull/69171) is:

[code]

[2020-03-05 17:14] eddyb commented on #69532
Yes, either `APFloat` truncation needs to result in a non-`0` `significand` (e.g. `significand` becoming `0` when losing lower bits could be "rounded up" by setting it to `1`), *or* extracting the IEEE representation from `APFloat` should handle the `significand == 0` situation by setting some bit.

cc @nikic @nagisa (I don't know who does upstream LLVM bug reports nowadays most often)

[2020-03-05 18:06] eddyb commented on #68304
We can try it, I guess, but right now a lot relies on many redundant copies/moves being created by MIR building and may not catch edge cases like this.

But also I don't think moving out of a `Box` moves the `Box` *itself* today.

[2020-03-05 18:24] Amanieu commented on #68905
OK, let's try to make some progress on this. I'd like to propose stabilizing the following features for feature detection only:
- mmx
- sse4a
- tbm
- avx512f
- avx512cd
- avx512er
- avx512pf
- avx512bw
- avx512dq
- avx512vl

The SSE4a and TBM features were already scheduled to be stabilized in #60109, but the PR got abandoned. Only a subset of the AVX512 features are listed here because there is s

[2020-03-05 18:27] Amanieu commented on #69737
This pattern (`pub` in a private module) is actually very common in Rust code. If this is something that we want to discourage then we may want a lint for this: e.g. public item is not exported outside the current crate, considering using `pub(crate)` instead.

[2020-03-05 18:35] sfackler commented on #69737
I think that style of lint could be interesting.

[2020-03-05 18:38] jhpratt commented on #69737
Isn't that the `unreachable_pub` lint?

[2020-03-05 18:39] eddyb commented on #69737
And sometimes it's needed, e.g. bounds on `pub` traits that are never exported.
Also, crate-level visibility is much newer than the pattern, so I'm not surprised.

I'm not as concerned about user code, I just think the standard library should be aggressive about hiding implementation details since it's not versioned in the same way as libraries on crates.io are.

The stability system probably prev

[2020-03-05 18:57] ecstatic-morse commented on #69710
I'll open a PR that reverts this. I'd like to spend some time investigating it as well, since I have no idea why this would affect performance and it seems like a good opportunity to learn. If you feel the urge to look into this, however, don't let me stop you! I'll be pretty slow.

[2020-03-05 19:16] najamelan commented on #64496
I just ran into this. I have an integration test that runs fine on tokio runtime, and when I switch it to async-std I get this error.

[2020-03-05 19:22] andjo403 commented on #65031
16 core machine
built with `CARGOFLAGS_BOOTSTRAP=-Ztimings ./x.py build --stage 1`

[windows](http://gistpreview.github.io/?c3e2cd68cf940501b69bc4e1e1090ea6/windows-cargo-timing.html)
[linux (wsl2)](http://gistpreview.github.io/?c3e2cd68cf940501b69bc4e1e1090ea6/wsl-cargo-timing.html)

[2020-03-05 20:34] Mark-Simulacrum commented on #67058
We briefly discussed this in the lang team meeting today, and felt that stabilizing this would help unblock progress on making `f{32,64} as uN` not unsound in the edge cases (i.e., where this function is UB).

@Amanieu, would you be up for proposing FCP merge here to stabilize the methods (but not the backing trait)?

[2020-03-05 20:49] Lucretiel commented on #50186
By definition, a mutable borrow is an exclusive borrow.

[2020-03-05 21:06] pnkfelix commented on #69191
Here is a more minimal MCVE:

[code]

/me needs to invest some time in tools like rust-reduce or creduce...

[2020-03-05 21:25] Tyg13 commented on #69552
Of course! Glad to be of help.

[2020-03-05 22:27] thekuom commented on #67523
I would like to work on this one 👍

[2020-03-05 23:10] Aaron1011 commented on #61728
A simplified example that gives a similar error:

[code]

Gives the following error:

[code]

It's not clear to me what it means for data from `val` to flow into itself.

[2020-03-05 23:43] jiegec commented on #59907
This should be fixed by rust-lang/cargo#7965

[2020-03-05 23:54] nnethercote commented on #65031
So `rustc` is still responsible for a sizeable chunk of CPU under-utilization. And `rustc_driver` is roughly as bad.

[2020-03-06 00:03] nnethercote commented on #65031
On my 14-core Linux box `rustc_driver` takes 93s, while the under-utilized final part of `rustc` compilation only takes about 50s.

Why is `rustc_driver` so slow to compile? It's only 1,800 lines of code. And why is all its compile time in the compiler front-end, with no time for codegen?

[2020-03-06 00:14] nnethercote commented on #65031
`perf top` indicates that most of the time during `rustc_driver` compilation is in `libbd-2.33-system.so`, i.e. it's linking. Ugh, `lld` would be much faster... #39915 raises its head again.

[2020-03-06 00:19] Centril commented on #67523
Go for it :)

@rustbot assign @thekuom

[2020-03-06 00:25] Zoxc commented on #65031
@nnethercote You can try setting `[rust] use-lld = true` in `config.toml`.

[2020-03-06 01:25] #69726 closed

[2020-03-06 01:28] Centril commented on #67204
If e.g., @estebank or anyone else wants to take over implementing this that would be fine. In that case I'll most likely review the PR. I'll probably not get to this in a while.

[2020-03-06 01:34] nnethercote commented on #39915
Another data point: using `RUSTFLAGS="-C link-arg=-fuse-ld=lld"` when building `rustc` itself, linking time drops from 93s to 41s on my fast 14-core Linux box.

[2020-03-06 01:56] Aaron1011 commented on #39915
@nnethercote: Is that different from setting `linker=lld` in (for example) the `[target.x86_64-unknown-linux-gnu]` section of the `config.toml`?

[2020-03-06 02:11] tmandry commented on #60889
Correct.

Okay, that makes me feel better then :)

[2020-03-06 02:13] Aaron1011 opened #69750 "Unhelpful error when returning reference in `move` closure"
The following code:

[code]

gives the following error:

[code]

We have two spans pointing the closure itself, but nothing that specifically mentions `captured_foo`, or the fact that the closure is `move`. If there's more indirection involved (e.g. returning something which ends up outliving `captured_foo`), it may be difficult to tell what the root cause is.

[2020-03-06 02:15] est31 opened #69751 "wrong deprecation version in Error::description"
#66919 has added `#[rustc_deprecated(since = "1.41.0")]` to `Error::description` but the PR made it only into Rust 1.42.0. Thus the version number should be adjusted. cc @dtolnay

[2020-03-06 02:18] almindor opened #69752 "Enabling LTO generates broken code"
Enabling LTO optimizations on [this project](https://github.com/almindor/pinetime-quickstart) as set in [Cargo.toml](https://github.com/almindor/pinetime-quickstart/blob/master/Cargo.toml#L30-L33) produces broken code in release mode for the `ferris_display` example binary.

Removing the profile setup lines fixes it although it seems to be specifically tied to `lto = true`.

If LTO is not enabled

[2020-03-06 02:36] Mark-Simulacrum commented on #69751
We would be happy to accept a PR for this. I suppose it's a trivial enough fix that I would even be willing to backport it (so we avoid 1.42 indicating incorrectly), but only if we get it in quickly enough.

cc @pietroalbini re:backport, since you're doing release

[2020-03-06 02:41] est31 commented on #69751
I won't do it but it should be easy enough.

[2020-03-06 02:53] tmandry commented on #69658
Much better! I think we can close this.

[2020-03-06 02:57] simonbuchan commented on #69658
Agreed. It might be nice to put in a reference to #26925, but this is much more likely to get a new user on the right track faster. At worst, they might assume that *any* impl of Clone must have all parameters be Clone too, but that's a lot easier to learn.

[2020-03-06 02:58] Dylnuge commented on #69751
I just made a PR for updating this; this is my first contribution to the project (please let me know if I did the process right)

[2020-03-06 03:37] nnethercote commented on #39915
@Aaron1011: My guess would be the two approaches have the same effect, but I haven't checked this myself.

[2020-03-06 03:41] Nugine opened #69755 "rustc uses too much time to compile Y combinator"
I tried this code:

[code]

It is an implementation of Y combinator.

I tried to compile the code but `rustc` used too much time when `opt-level=3`.

[code]

`rustc` generated a lot of unnecessary LLVM IR. [Playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=aabcde2e02ce96ce941524b34fade867)

### Meta

`rustc --version --verbose`:
[code]

`rustc +nightly --version

[2020-03-06 05:04] jdm opened #69757 "Different vtables for trait object pointers in debug builds"
This is a regression from the 2/27 to 2/28 nightly.

[code]

When this program is built with `rustc main.rs`, it runs without any trouble. When it's built with `rustc main.rs -C incremental=`, I receive the following output:
[code]

From the [regression window](https://github.com/rust-lang/rust/compare/abc3073c9...6d69caba1), I suspect https://github.com/rust-lang/rust/pull/67332.

[2020-03-06 05:59] BinaryShrub opened #69758 "Rustdoc many code examples wrapped in fn main {} when copied to clipboard"
https://doc.rust-lang.org/book/ch11-02-running-tests.html

TL&DR: quite a few examples are wrapped by `fn main() { ... }` which cause them to be incorrect.

Example:

I'm going through the book and noticed when copying from Listing 11-10, using the copy icon, that it results in the following code:

[code]

This `fn main()` wrapper causes `use super::*;` to fail and result in the following error:
[

[2020-03-06 07:04] Sherlock-Holo commented on #69629
I test and build success with `rustc 1.43.0-nightly (96bb8b31c 2020-03-05)`

[2020-03-06 07:08] lnicola commented on #39915
@Aaron1011 it should be clang, see https://github.com/rust-lang/rust/issues/39915#issuecomment-538049306.

[2020-03-06 07:22] RalfJung commented on #65031
Locally it also seems like building `librustc_driver` causes enormous amounts of disk I/O, not just CPU load.

[2020-03-06 07:25] RalfJung commented on #60889
I suppose this means we can close this issue? I also [extended the Miri test](https://github.com/rust-lang/miri/pull/1203/files) to try harder to catch invalid generator states by doing typed (and thus validated) copies of the entire generator after each yield (and then discarding them again, so this does not constitute "moving" the generator).

[2020-03-06 07:53] rex4539 commented on #69629
Verified with `rustc 1.43.0-nightly (96bb8b31c 2020-03-05)`.

Closing.

[2020-03-06 07:53] #69629 closed

[2020-03-06 09:03] rodrimati1992 commented on #69715
@ecstatic-morse Your "this recreation of Option::unwrap" link links to https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018

[2020-03-06 09:09] RalfJung opened #69763 "Layout and MIR field accesses are incoherent"
I propose that we should have the following invariant: Whenever, anywhere in MIR, there is a [field projection](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/mir/enum.ProjectionElem.html#variant.Field) with some index `i`, then `i` is actually a valid field index in the (statically known) layout of the type being projected into.

Right now, [this is not the case](https://play.rust-lang.org

[2020-03-06 09:15] RalfJung commented on #69757
Something is odd about your example, you are asserting them to be equal and then the error is that they are equal?  When I run your code [on playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=da83f18ac587adf54b88499c277537dd), it works fine on nightly.

But also, note that there is no guarantee that all vtables for the same type get the same address, or that they

[2020-03-06 09:18] Centril commented on #69757
@RalfJung From my reading of the OP, it seems like there's something particular about incremental compilation here, so maybe it's not reproducible on the playground?

[2020-03-06 09:18] RalfJung commented on #69757
I guess one question is whether wide ptr equality should even compare vtables, given that they are "unstable" in a sense. I am not sure if it does, but your tests indicate they do?

FWIW, the example on playground also works on stable, and in release mode. Looks like playground cannot reproduce the problem.

[2020-03-06 09:18] Right2Left opened #69764 "rust-gdb can't show string/&str variables"
(gdb) p host
Python Exception <type 'exceptions.TypeError'> Could not convert Python object: <gdb.Field object at 0x7f09e53ed1e0>.:
$1 =
(gdb) p host_v6
Python Exception <type 'exceptions.TypeError'> Could not convert Python object: <gdb.Field object at 0x7f09e53ed1b0>.:
$2 =
(gdb) p a
$3 = 95
(gdb)

set python print-stack full

then:
(gdb) p host
$1 = Traceback (most recent call last):
  File "/u

[2020-03-06 09:19] RalfJung commented on #69757
Ah, I missed that incremental compilation is involved. Incremental compilation having an effect on vtable identity seems odd... I am not sure if we want to consider that a bug or not.^^

[2020-03-06 09:20] Right2Left commented on #69764
if i just use gdb, not rust-gdb, it's normal:

(gdb) p host
$1 = {data_ptr = 0x5555556b5867 "[3e80:a178:b18f:c5dd:250:56ff:fe9d:a351]src/main.rsparse ipv6 error.3e80", length = 40}
(gdb) p host_v6
$2 = {vec = {buf = {ptr = {pointer = 0x55555594c6c0 "3e80:a178:b18f:c5dd:250:56ff:fe9d:a351", _marker = {<No data fields>}}, cap = 38, a = {<No data fields>}}, len = 38}}
(gdb) p a
$3 = 95
(gdb)

[2020-03-06 09:25] RalfJung commented on #69757
@jdm could you adjust your example to print not just the data address but also the vtable address? That might also explain why the output looks so strange.^^
(You seem to have already diagnosed that this is about different vtable pointers, but do not explain how you arrived at that conclusion?)

Here's a totally not supported way to do that:
[code]

[2020-03-06 09:39] phaazon commented on #41517
Yes, IIRC, trait bounds can be null. And it’s actually a pretty good feature I’m happy exists, especially when generating bounds in macro with `$(… +)*` :smile:

[2020-03-06 09:46] eddyb commented on #69763
I wrote https://github.com/rust-lang/rust/pull/69753#discussion_r388798445, before taking another look at the code, which revealed the problem:

So this is the relevant code, that (I thought) would kick in and compute the right number of fields:
https://github.com/rust-lang/rust/blob/4a1b69d53aeb59a83de192ea67dbe4707b9a7b73/src/librustc/ty/layout.rs#L2025-L2044

However, just before it we have:
ht

[2020-03-06 09:51] RalfJung commented on #69763
Glad to hear that we agree on this invariant. :)

Doesn't the fact that codegen, borrowck and so on *didn't* ICE here indicate that they all still contain some "is_uninhabited" check that ought to be unnecessary? If we can find and remove that check, it would mean we'd see such issues much earlier (we'd see them on any MIR statement that codegen runs on, not just any statement that const-prop runs

[2020-03-06 10:15] eddyb commented on #69763
I was wrong when I said that, in that it's still broken for variant index `0`.

I'm not sure I could see how that factors into this too much.
A lot of stuff skips dead code (for good reason), so it would be hard to get good coverage.

<hr/>

In case you didn't see it, I edited https://github.com/rust-lang/rust/issues/69763#issuecomment-595688090 with the right fix, AFAICT.

Long-term we'll want to

[2020-03-06 10:32] nnethercote commented on #65031
Large amounts of disk I/O makes sense for linking. In #39915 I mentioned that switching to lld reduced by `rustc_driver` compile time from ~93s to ~41s.

[2020-03-06 10:35] Zoxc commented on #69596
This happens because there is a missing dependency on items inside a function in `visit_item_likes_in_module`. The `_crash` function turns out to effectively be:
[code]
This is because the `use` item disappears in HIR when it refers to the module.

When try to mark `check_mod_impl_wf` (which uses `visit_item_likes_in_module`) green in `rpass2`, we end up trying to mark `Hir(test[317d]::needed_mod[

[2020-03-06 10:40] davidtwco commented on #46477
For those following alone at home, there's a PR up for my work so far - #69749.

[2020-03-06 10:41] jonas-schievink commented on #69752
Is there anything that indicates that that is caused by a bug in Rust and not, say, undefined behavior in one of the dependencies?

Have you tried using the nRF52 HAL from master? The crates.io release is quite old by now.

[2020-03-06 10:43] RalfJung opened #69769 "BTreeMap root node leaks on panic during `into_iter`"
When running the `test_into_iter_drop_leak` test in Miri, it complains about a memory leak:
[code]
The leaked allocation is the root node of the map.

Also see [this discussion where the issue came up](https://github.com/rust-lang/rust/pull/67290/files/e5987a062f487321bdfcbbdac4b0b30548258631#r388797499).

Cc @ssomers

[2020-03-06 10:45] jonas-schievink commented on #69757
Incremental may result in different codegen unit partitioning, and each codegen unit might get its own vtable, so that part seems entirely expected to me. However the assertion failure seems to show the same address here?

[code]

[2020-03-06 10:48] RalfJung commented on #69757
My guess is that the main problem @jdm has is that comparing wide pointers also compares their metadata. For trait objects, this basically means equal pointers might "randomly" not be equal any more due to vtable address differences.

So either @jdm could cast the raw ptr to a thin ptr in their codebase to avoid relying on vtable identities, or else comparing wide raw pointers could ignore metadat

[2020-03-06 10:50] jonas-schievink commented on #69757
Oh, right, the vtable pointer just isn't printed

[2020-03-06 10:53] RalfJung opened #69770 "Vec backing buffer leaks on panic during `into_iter`"
When running the `test_into_iter_leak` test in Miri, it complains about a memory leak:
[code]
Given that the leaked allocation contains "00 01 00", that seems a lot like the backing store of a `Vec` with initial content `D(false), D(true), D(false)`.

[2020-03-06 11:24] nox commented on #69757
@RalfJung Do you mean that as a temporary workaround? It is *definitely* a regression that this broke. How codegen units are generated shouldn't influence whether two identical trait objects are indeed identical.

[2020-03-06 11:26] oli-obk commented on #69630
I didn't find a good entry point. I guess you could pass `i` into https://github.com/rust-lang/rust/blob/beac68a88711a90346ec8b68e3baefbec62b3b0d/src/librustc_passes/stability.rs#L289 instead of the various `i` fields and then  check `i.kind` in https://github.com/rust-lang/rust/blob/beac68a88711a90346ec8b68e3baefbec62b3b0d/src/librustc_passes/stability.rs#L83 for https://doc.rust-lang.org/nightly

[2020-03-06 11:27] nox commented on #69757
Or should `PartialEq` be implemented for `*const T` and `*mut T` only if `T: Sized`?

[2020-03-06 11:32] pnkfelix commented on #69191
Okay so now we have two different PR's to fix this.

PR #69768 is almost certainly the right call for nightly itself.

My only Question is whether we should *also* land PR #69753 and also then backport that to beta. My argument for why is that it is "obviously" less risky, which is important because the beta is going to be imminently promoted to stable.

[2020-03-06 11:56] tmiasko commented on #69757
See also #46139, #48795 and #63021.

[2020-03-06 11:58] nox commented on #69757
I have no idea how this never broke Servo before then.

Is there a lint somewhere to complain loudly about equality checks for unsized pointer types?

[2020-03-06 12:02] RalfJung commented on #69757
Given there is ample precedence for "vtable identity is unstable and allowed to change with codegen units" (and there are three open issues about it so we don't need a 4th), should this issue be turned into one of the following discussions?
* Better linting to prevent people from running into this.
* Changing pointer equality test to not compare vtables any more when comparing wide pointers.
* Mak

[2020-03-06 12:04] RalfJung commented on #63021
To avoid having many issues open that are all about the same thing, should this be closed in favor of https://github.com/rust-lang/rust/issues/46139 or https://github.com/rust-lang/rust/issues/48795 or https://github.com/rust-lang/rust/issues/69757?

[2020-03-06 12:05] gh0st42 opened #69772 "std::net::IpAddr: is_loopback failing on ipv4-in-ipv6 addresses"
## Summary:
The issue arises when trying to determine if an `IpAddr` is coming from localhost in a mixed IPv4/IPV6 environment.
The `is_loopback` [function](https://doc.rust-lang.org/std/net/enum.IpAddr.html#method.is_loopback) should return `true` for loopback IPs such as *127.0.0.1* or *[::1]*. This fails if a socket is bound to *[::]* which responds to IPv4 as well as IPv6. Here, IPv4 is automa

[2020-03-06 12:10] nox commented on #69757
That seems to be the worst solution (among the three you suggested I mean). In Servo, there are two different tracing objects for a given `T`, depending on whether the `T` has been fully initialised or not. Granted, we can add safety guards on our side, but if we naively assumed that the vtable pointers were indeed inspected for equality, we could end up removing the tracing object for a fully ini

[2020-03-06 12:18] #69602 closed

[2020-03-06 12:19] hellow554 commented on #69725
I can't get it to work in the same crate, just with two crates, where the first one depends on the other:

**src/main.rs**
[code]

**other_crate/src/lib.rs**
[code]

[2020-03-06 12:49] vojtechkral commented on #63021
@RalfJung IMO #48795 describes the problem most succintly / without imvolving other not-so-imporant specifics.

[2020-03-06 12:57] RalfJung commented on #69757
@nox that also sounds like the lint would have a high risk of false positives, though.

[2020-03-06 12:59] nox commented on #69757
@RalfJung Why? Our problem in Servo does not involve any generic `T`, it's all about `*const dyn JSTraceable` comparisons.

[2020-03-06 13:01] RalfJung commented on #69757
It just sounded like you actually do want to compare vtables in that case?

I was imagining the lint would propose to cast the pointer the `*const u8` before comparing if vtables ought to be ignored, at least that part seems not to be what you want.

[2020-03-06 13:03] nox commented on #69757
My reply was assuming that when you said "changing pointer equality test to not compare vtables any more when comparing wide pointers" you meant to change the test in the very implementationn of `PartialEq` in the standard library, which would lead us to not even notice there was a problem.

If you meant in our code in Servo, yeah, we should probably do that.

[2020-03-06 13:12] yoshuawuyts opened #69774 "[libs] Add TcpStream::keepalive and TcpStream::set_keepalive"
Today [an issue was filed](https://github.com/async-rs/async-std/issues/718) in `async-std` asking how to set the `SO_KEEPALIVE` option on our `TcpStream`. Because we've only implemented methods that are available in `std` as well, we never added these methods. But I think there's a strong case to add these methods to `std::net::TcpStream`.

`TcpStream` already supports lots of control methods nat

[2020-03-06 13:15] RalfJung commented on #69757
Wait didn't you [just say](https://github.com/rust-lang/rust/issues/69757#issuecomment-595741045) that in Server you *don't* want to ignore the vtable? I am confused.

But anyway I just take you word for it that ignoring vtables would be a bad idea. There are other arguments for this as well (not least being implementation difficulty, as for slices we likely *do* want to compare the metadata).

[2020-03-06 13:19] nox commented on #69757
Let's walk back a bit:

* In Servo we currently rely on the vtable pointers being stable.
* I thought you were saying you want `PartialEq` to ignore the vtable pointers.
* That would lead to issues in current Servo because the vtable pointers are *currently* important, and ignoring the vtables in `PartialEq` itself would be a silent change for us.

So I'm saying that we should *lint* against trait

[2020-03-06 13:32] Centril opened #69775 "Testing the case `assert_fake_source_file` was used to test for"
Context https://github.com/rust-lang/rust/pull/66364#discussion_r388767932.

cc @eddyb

[2020-03-06 14:28] BasixKOR commented on #50870
I just found a [documentation](https://docs.microsoft.com/en-us/windows/win32/shell/fa-how-work) about how file extensions work in Windows, and it might help since CMD finds the application to open a file with `%PATHEXT%` using this information (imo).

[2020-03-06 14:31] BasixKOR commented on #37519
I just found a [documentation](https://docs.microsoft.com/en-us/windows/win32/shell/fa-how-work) about how file extensions work in Windows, and it might help since CMD finds the application to open a file with `%PATHEXT%` using this information (I found this on [Stack Overflow answer](https://stackoverflow.com/questions/9037346/making-python-scripts-run-on-windows-without-specifying-py-extension),

[2020-03-06 15:06] ehuss commented on #69758
This is an issue for https://github.com/rust-lang/book/.

The solution is to add `fn main() {}` to https://github.com/rust-lang/book/blob/master/listings/ch11-writing-automated-tests/listing-11-10/src/lib.rs along with appropriate anchor annotations (https://github.com/rust-lang/book/blob/master/listings/ch11-writing-automated-tests/listing-11-08/src/lib.rs is an example), and add the anchor to th

[2020-03-06 16:11] danielhenrymantilla commented on #65721
Could `matches!` be enhanced to also accept a leading `|`?
[code]

This would be consistent with the syntax of Rust accepting it where fallible patterns are accepted:

[code]

[2020-03-06 16:41] jonhoo commented on #57430
This ICE is back it seems. Clone [this commit](https://github.com/mit-pdos/noria/commit/bfc0ad7f80786be41245f427d9fe0cccb58bd9df) of [`noria`](https://github.com/mit-pdos/noria/) and run
[code]
(it takes a while)

You'll then end up with:
[code]

[2020-03-06 17:11] almindor commented on #69752
I've created [the LTO branch](https://github.com/almindor/pinetime-quickstart/tree/lto) for the project which uses latest master releases of the hal, embedded-graphics and the driver, same result.

Disabling LTO in the release profile makes it work fine, enabling it makes it miss rendering (it seems).

I suspect the actual drawing SPI transfer is not being called with LTO enabled for whatever reas

[2020-03-06 17:24] Datarecovery09 commented on #69140
Hi,
I've done some more testing on multiple systems, and I could only reproduce the error on two OpenVZ based environments (Ubuntu 18.04 & 16.04) and under heavy load. It "helped" when swapfile was disabled. I've written to my host and asked them about some configuration details (I know they're using OpenVZ/Virtuozzo for their virtualization and disable swapfiles) and am now awaiting their respons

[2020-03-06 17:28] cramertj opened #69780 "Tracking Issue for OneSidedRange"
The feature gate for the issue is `#![feature(one_sided_range)]`, introduced in https://github.com/rust-lang/rust/pull/62282.

[2020-03-06 17:49] almindor commented on #69752
This is a pin timing issue, my bad.

[2020-03-06 17:49] #69752 closed

[2020-03-06 18:26] NickeZ opened #69781 "It is hard to see the return types of async functions"
In the documentation it is hard to distinguish async functions from normal functions.

Take for example [warp::Server](https://docs.rs/warp/0.2.2/warp/struct.Server.html). Both `run` and `bind` returns futures. But when I was reading the docs I thought only `bind` was asynchronous. And I had a lot of problems getting my code to work due to wrong assumptions about the types...

My suggestion is tha

[2020-03-06 18:31] RalfJung commented on #69763
So looks like https://github.com/rust-lang/rust/pull/66250 removed the assertion that demonstrates the incoherence, instead of fixing the issue -- and no issue was opened to track the problem so it just got forgotten until someone re-discovered the ICE. :(

[2020-03-06 18:59] Dylnuge commented on #69681
I'm happy to take a pass at this; is a cautionary note in https://doc.rust-lang.org/std/fmt/ the right place or is there somewhere better for it to be?

[2020-03-06 19:00] dpchamps opened #69783 "Combined Lifetime Bounds Cause Compiler to Crash Unexpectedly"
**Problem**

A Certain combination of lifetime bounds cause compiler to exit with a non-zero status.

Appears to be reproducible only on Linux. Compiles as expected on MacOs with similar versions of rustup and cargo.

**Steps**

[code]

1. Attempt to compile above code via `cargo build`

**Notes**

Removing any one of the above bounds results in a successful compilation, e.g:

| type

[2020-03-06 19:18] alexcrichton commented on #69783
Thanks for the report! I've transferred this issue to rust-lang/rust since I don't think this is an issue with Cargo itself.

[2020-03-06 19:23] jonas-schievink commented on #69783
Fixed on beta/nightly

[2020-03-06 19:23] #69783 closed

[2020-03-06 19:33] dpchamps commented on #69783
Thanks all!

[2020-03-06 19:37] steveklabnik commented on #69751
I just noticed this and saw a PR already existed, amazing! 👍 to a backport.

[2020-03-06 20:05] estebank commented on #67204
I won't be able to tackle this anytime soon but can help any interested party.

[2020-03-06 20:07] ehuss commented on #69783
Fixed PR is #67880.

[2020-03-06 20:18] benesch commented on #67302
I whipped up that fix here: https://github.com/rust-lang/rust/pull/69784

Not sure if it's actually the ideal fix, but figured it would be a good point to launch the discussion from.

[2020-03-06 20:47] jonhoo opened #69785 "ICE in collect_and_partition_mono_items"
### Code

[code]

[code]

### Meta

[code]

### Error output

[code]

This is probably a smaller reproduction of #57430.

[2020-03-06 20:48] jonhoo commented on #57430
Minified in #69785.

[2020-03-06 20:49] estebank opened #69786 "When errors have been emitted, do not continue to codegen stage"
After https://github.com/rust-lang/rust/pull/60126 we now continue all the way to codegen even in the face of errors. We [should stop before codegen as it is a waste of time](https://github.com/rust-lang/rust/pull/69614#issuecomment-595893013).

[2020-03-06 21:32] nellshamrell commented on #68671
Sent a follow up email to GitHub today:

Hello there and greetings from Mozilla!

I'd like to follow up on the [transition to read only variables](https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/readonly-variables.md) (and away from overwriting read only variables) in Azure pipelines. We are now seeing a warning about this in [our Azure pipeline output](https://dev.azure.com/r

[2020-03-06 21:46] #69191 closed

[2020-03-06 21:49] nox commented on #69757
For the record you convinced me earlier that we need to change the code in Servo anyway because those vtable pointers were never stable, so I made the necessary changes etc in Servo. I guess this issue could be repurposed as needing a lint to report such comparisons.

[2020-03-06 22:04] tmandry commented on #60889
Yep! That looks great, closing now.

[2020-03-06 22:04] #60889 closed

[2020-03-06 22:08] pnkfelix commented on #69190
Upgrading  `piston2d-gfx_graphics` from 0.27 to 0.30 seems to do the trick.

The actual problem originates in a macro defined in a dependency (the `gfx` crate itself).

[2020-03-06 22:12] pnkfelix commented on #69190
Closing as expected fallout from the conversion to a hard error.

[2020-03-06 22:12] #69190 closed

[2020-03-06 22:14] JohnTitor commented on #69725
Thanks @hellow554! I included a test in the PR.

[2020-03-06 22:36] jonas-schievink commented on #61183
E0503 has since been updated. Are there any left, or can this be closed?

[2020-03-06 22:45] jonas-schievink commented on #61101
This should be filed over at https://github.com/rust-lang/book/

[2020-03-06 22:45] #61101 closed

[2020-03-06 22:48] matthiaskrgr opened #69789 "compiler suggests "&mut mut""
I was messing around with this function

[code]

After I changed the last block to
[code]

[code]

The compiler gave this interesting but wrong suggestion: `&mut mut map.values()`
[code]
which does not compiler obviously :smile:

The correct solution would be to use `&mut map.values_mut()`:
[code]

[2020-03-06 22:50] jonas-schievink commented on #57785
The section has been removed from the book.

[2020-03-06 22:50] #57785 closed

[2020-03-06 22:54] kornelski opened #69790 "Infinite compilation time in _intern_type_list"
I've been compiling [my project](https://gitlab.com/crates.rs/crates.rs/-/blob/master/server/Cargo.toml) with rustc 1.41.1 (f3e1a954d 2020-02-24, Linux), and it has got stuck. It usually takes a few minutes, but not this time:

[code]

Perf sample shows this:

[code]

I've kept the process running, so let me know what I can do to provide you more info.

[2020-03-06 23:01] jonas-schievink commented on #48646
Triage:

The [`Clone` docs](https://doc.rust-lang.org/std/clone/trait.Clone.html#additional-implementors) say:

The [array primitive docs](https://doc.rust-lang.org/std/primitive.array.html) say:

Closing as fixed.

[2020-03-06 23:01] #48646 closed

[2020-03-06 23:04] jonas-schievink commented on #47994
From the comments, this doesn't seem like a guarantee we want to give for `Arc`, so closing.

[2020-03-06 23:04] #47994 closed

[2020-03-06 23:09] jonas-schievink commented on #69790
Can you provide a more self-contained reproduction? I looks like this requires running `make` and downloading stuff.

[2020-03-06 23:14] tmandry commented on #69658
Reopening to track remaining concerns raised by @simonbuchan (either fix or decide not to fix).

[2020-03-06 23:34] petrochenkov commented on #39915
@mati865
Have you tried to build `rustc` on `x86_64-pc-windows-gnu` with LLD as a linker?

I tried it today and LLD either hangs in the middle of the build and stops doing any work, or complains about `unknown argument: --version-script=...`.
The hang also happens if LLD is used for linking LLVM only, with
[code]

Tool versions:
[code]

[2020-03-06 23:34] estebank commented on #61728
@Aaron1011 [with nll enabled](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d8bca70c41ab656e50ca298aa6441f54):

[code]

[2020-03-06 23:34] ecstatic-morse commented on #69710
@rust-timer queue

[2020-03-06 23:34] rust-timer commented on #69710
Awaiting bors try build completion

[2020-03-06 23:36] ecstatic-morse commented on #69710
@rust-timer build 4bfc61c90b9066ee396739e074d6d05abcfda04e

[2020-03-06 23:36] rust-timer commented on #69710
Queued 4bfc61c90b9066ee396739e074d6d05abcfda04e with parent c79f5f064725535f7520e693e69c65c3d0f2730f, future [comparison URL](https://perf.rust-lang.org/compare.html?start=c79f5f064725535f7520e693e69c65c3d0f2730f&end=4bfc61c90b9066ee396739e074d6d05abcfda04e).

[2020-03-06 23:41] kornelski commented on #69790
Yeah, that's the problem — I can't. Even another compilation of the same project doesn't hang. Sometimes it's just slow or very slow. I suspect it's hitting some O(n^2) case somewhere, but perhaps depending on order of things in hash tables or something non-deterministic.

[2020-03-06 23:42] kornelski commented on #69790
[perf.data.gz](https://github.com/rust-lang/rust/files/4301055/perf.data.gz)

[2020-03-06 23:46] kornelski commented on #69790
I've just noticed that this compilation actually was from stable, not from nightly.

[2020-03-06 23:51] kornelski commented on #69790
there are only 2 threads, one is asleep. The other:

[code]

[2020-03-06 23:57] jonas-schievink commented on #69790
Does it happen on `kitchen_sink`? If so I can reproduce I think.

[2020-03-06 23:59] mati865 commented on #39915
@petrochenkov yes I could build it with some hacks:
- LLD COFF backend doesn't support linker scripts but both LD and LLD are fine with MSVC style `.def` files; easy to solve
- LLD expects libraries to start with `lib` (it's a standard in UNIX world) but somehow Rust ended up not doing it for all `windows-*` targets: https://github.com/rust-lang/rust/blob/9ebf47851a357faa4cd97f4b1dc7835f6376e639/s

[2020-03-07 00:00] jonas-schievink commented on #69790
Ah, no, that seems to take a pathological time in item-types checking (which is unusual), but finished after ~1 minute in that phase.

[2020-03-07 00:03] jonas-schievink commented on #69790
Oh, neat, that one is almost completely gone on nightly :)

[2020-03-07 00:19] ecstatic-morse commented on #69710
For anyone who's curious, here are the results of `cg_diff master rerevert-67174 ` on a clean `ucd-check` run. Negative numbers means the count decreased after reverting #67174.

[code]

No idea how to attribute this, although `alloc::RawVec::reserve` calls `Layout::repeat` via the following chain:

[code]

[2020-03-07 00:44] mal20k commented on #19776
Still seeing this in 1.41.1, same test program as my previous comment.

What would be needed to resolve this issue? Is there a workaround that can be done or just avoid using stdout/stderr in Rust code called from C?

[code]

[2020-03-07 00:50] jonas-schievink commented on #69790
`reindex_crates` and `front_end` also compile excruciatingly slowly, is that normal? This does not seem to be an issue on nightly, maybe you can use that instead (and report back when the issue reappears there).

[2020-03-07 00:52] kornelski commented on #69790
Yeah, sorry. I thought it (also) happened on nightly this time, but seems that my deploy didn't pick the right toolchain. It is tolerable on nightly.

The compilation is painfully slow. I think it got worse after I added `async/await`. I've ended up creating futures that have 80KB of state :)

[2020-03-07 00:55] kornelski commented on #69790
I'll try to make a more specific report later.

[2020-03-07 00:55] #69790 closed

[2020-03-07 01:08] jonas-schievink commented on #69790
Oh, wow, then my generator compiletime improvements might have fixed this (https://github.com/rust-lang/rust/pull/68672 and https://github.com/rust-lang/rust/pull/68606). I didn't realize they'd have such a huge impact on real-world projects. Cool!

[2020-03-07 01:09] nnethercote commented on #69710
The Cachegrind diff basically says that the `checked_add` removal caused additional `memcpy` and `malloc` calls. I'm not sure what to make of that, I can't think of an explanation.

(BTW, I usually run Cachegrind with `--cache-sim=no` because 99% of the time I find instruction counts (`Ir`) to be the only useful metric.)

[2020-03-07 01:31] sfackler commented on #19776
How do those 7 allocations negatively impact your program?

[2020-03-07 02:05] gauravvnera commented on #61183
Thanks for it! Closing the issue.

[2020-03-07 02:05] #61183 closed

[2020-03-07 02:54] rust-timer commented on #69710
Finished benchmarking try commit 4bfc61c90b9066ee396739e074d6d05abcfda04e, [comparison URL](https://perf.rust-lang.org/compare.html?start=c79f5f064725535f7520e693e69c65c3d0f2730f&end=4bfc61c90b9066ee396739e074d6d05abcfda04e).

[2020-03-07 06:50] lahwran commented on #38788
would be very interested in this!

[2020-03-07 08:13] RalfJung commented on #63021
Okay let's close it... but I feel https://github.com/rust-lang/rust/issues/46139 actually is more to the point.

Closing as duplicate of https://github.com/rust-lang/rust/issues/46139.

[2020-03-07 08:13] #63021 closed

[2020-03-07 08:13] RalfJung commented on #48795
Closing as duplicate of https://github.com/rust-lang/rust/issues/46139.

[2020-03-07 08:13] #48795 closed

[2020-03-07 08:20] RalfJung commented on #46139
Some points raised in duplicates:
* Debug-printing the wide ptr ignores the vtable, so this leads to rather confusing assertion messages (the pointers compare unequal but print equal).
* One proposal was to compared the vtable content instead of the vtable address.

Also @Diggsey [raises this concern](https://github.com/rust-lang/rust/issues/63021#issuecomment-515962486)

I don't think that is tru

[2020-03-07 08:24] RalfJung commented on #69757
All right I edited the issue title and description accordingly.

[2020-03-07 08:48] andjo403 commented on #65088
@nnethercote do you want more support then `CARGOFLAGS_BOOTSTRAP=-Ztimings ./x.py build --stage 1` or can this be closed now?

[2020-03-07 10:14] davidlattimore opened #69798 "cdylib link error after TLS unused -> used transition"
From nightly-2020-02-28 (nightly-2020-02-27 was fine), I get link errors if I compile a cdylib with a thread local that isn't used, then compile again after referencing the thread local.

To reproduce, create a.rs:

[code]

Then run:

[code]

Uncomment the commented line and rerun the above command.

This produces the following link error:

[code]

It's possible however that the underlying bug is

[2020-03-07 11:11] crlf0710 commented on #39915
I'm writing down some future possibilities here. While some implementation efforts are needed, i think these will help solving some longstanding pain points in Rust development:
* Instead of using external provided lld, build and use it as static libraries within rustc. This allows tighter integration to rustc itself, improves the out-of-box experience, and unlocks future possibilities.
* Instead

[2020-03-07 11:19] CodesInChaos commented on #69781
IMO a function returning a future being implemented via `async` vs the same function being implemented manually is an implementation detail that shouldn't be visible in the documentation. So I'm for showing the Future return type and hiding the async keyword.

[2020-03-07 11:46] retep998 commented on #39915
It's not just a matter of IO bandwidth. On platforms like Windows, especially when Windows Defender is enabled, each file you want to work with adds a fairly significant time penalty, and Rust's codegen unit model means crates are split into hundreds of tiny object files that can quickly rack up a lot of compilation time.

[2020-03-07 12:02] #55631 closed

[2020-03-07 12:02] #35813 closed

[2020-03-07 12:02] #48062 closed

[2020-03-07 12:02] #69725 closed

[2020-03-07 12:02] #69751 closed

[2020-03-07 12:20] nnethercote commented on #65088
I used `CARGOFLAGS=-Ztimings ./x.py build` for the first time yesterday and it worked great!

[2020-03-07 12:20] #65088 closed

[2020-03-07 13:40] tmiasko commented on #69710
The different performance might be strictly about the fact that a different
code is actually being compiled and optimized, since the Layout is part of the
standard library.

It would be interesting to test compile time with different core but exactly
the same rustc.

[2020-03-07 14:07] Diggsey commented on #46139
Devirtualization is the optimisation I was thinking of. I imagine we would eventually like to be able to compile code operating on a `dyn Trait` object to monomorphised code when the compiler can figure out the concrete type. At the boundary between the monomorphised code and the "trait object" code, we would have to reconstruct the vtable pointer, and this would come the current codegen unit.

[2020-03-07 14:17] joshtriplett opened #69803 "std::fs::read makes an extra read call"
Steps to reproduce:

- Create a 1MB test file (`dd if=/dev/zero of=testfile bs=1M count=1`)
- Compile this program: `fn main() { std::fs::read("testfile").unwrap(); }`
- Run it under strace to see the system calls it makes.

Rust performs the following syscalls:

[code]

The first `read` call does cleverly read one extra byte beyond the file size returned by stat, so that it can check for EOF in t

[2020-03-07 15:28] shogun46 commented on #68714
Thank you @cuviper for the workaround, I'm able to compile Rust 1.41 now. Just another suggestion for improvement:

after adding `export LIBRARY_PATH=$(llvm-config --libdir):$LIBRARY_PATH` my build was still failing as the variable was initially empty and it ended up with a trailing `:`, which messed up the compilation. After removing the unneeded  `:` it worked as expected.

Maybe a "sanity-check

[2020-03-07 15:33] ayushmishra2005 commented on #61137
@GuillaumeGomez I am picking  E0628. I will link PR, once it is done.

[2020-03-07 17:38] CensoredUsername commented on #35813
Thanks!

[2020-03-07 18:37] cuviper commented on #68714
I don't think anything in Rust parses `LIBRARY_PATH` right now, just the linker itself.

[2020-03-07 18:48] steveklabnik commented on #48400
Triage: @yenwel are you still seeing this behavior?

[2020-03-07 19:30] rodrigorc commented on #62195
I find weird that there is a `Vec::leak`, but not a `String::leak`, `PathBuf::leak`, `OsString::leak` or `CString::leak`.

IMHO, if `Vec::leak` exists, then any standard type that owns data and has a `into_boxed_whatever` member function should be able to leak too.

[2020-03-07 21:05] NickeZ commented on #69781
Why would I care as a consumer of the API if the function is implemented using `async` or if it is implemented with returning a `Future`?

[2020-03-07 23:42] BinaryShrub commented on #69758
13-1 is also broken

[2020-03-08 00:30] the8472 commented on #69772
This isn't specific to `is_loopback`. Pretty much all of the helper methods make ipv6-specific checks.

CC #27709

[2020-03-08 01:11] jonas-schievink commented on #64620
No longer ICEs

[2020-03-08 01:18] jonas-schievink opened #69815 "Generators should use smaller discriminants"
Currently they use a hardcoded `u32` discriminant, which is quite a lot of room considering that generators don't typically have billions of states. They should be able to use the smallest unsigned integer type that fits all states instead (so `u8` in the vast majority of cases).

[2020-03-08 01:52] Boscop opened #69816 "Const-generics don't work with constants"
This compiles:
[code]
(Using the [`extend`](https://crates.io/crates/extend) and `arrayvec` crates.)

But using it with a constant doesn't compile:
![image](https://user-images.githubusercontent.com/535593/76155094-ad559380-60e7-11ea-8d98-5c81b46037c9.png)

Even though `pub const CUE_POINT_COUNT: usize = 8;` is in scope!
If I write `.collect_arr::<8usize>()` instead, it compiles.
Also, if I don't

[2020-03-08 01:58] rodrimati1992 commented on #69816
Here is an example that causes this error in the playground:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1f8c84fe2b383f5c85467800d89d6bb4

[code]
Removing the turbofish (`::<N>`) causes this not to error anymore.

[2020-03-08 02:59] rodrimati1992 commented on #69816
This is the most minimal code I could get to output a very similar error:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f45606455c01151f0b16cd1484b3222c

[code]

<details><summary>The error message for that code</summary>

[code]

</details>

[2020-03-08 04:59] davidlt commented on #62117
Could someone point me to the instructions how to bootstrap rust on Linux riscv64 (native)? Maybe we already have nightly builds available?

[2020-03-08 07:02] Centril commented on #67523
Now that https://github.com/rust-lang/rust/pull/69690 has landed, I think we can close this once https://github.com/rust-lang/rust/pull/69810 also lands.

[2020-03-08 07:44] mal20k commented on #19776
Mostly personal curiosity since I don't know a whole lot about what's causing this. But also my company has been considering allowing us to use Rust with our existing C codebase and management tends to focus pretty hard on any kind of memory leak occurring.

[2020-03-08 10:07] djc commented on #64260
How is the libs team feeling about this? Just ran into another case where I'd have liked to use this (on stable).

[2020-03-08 10:40] lcnr opened #69821 "Tracking Issue for const `mem::discriminant`"
The feature gate for the issue is `#![feature(const_discriminant)]`.

### History

- [x] Implementation: #69825
- [x] Stabilization PR: https://github.com/rust-lang/rust/pull/116240

### Unresolved issues

* [x] https://github.com/rust-lang/rust/issues/89765 ICE when used on zero variant enums

[2020-03-08 11:25] Cataractar commented on #32013
Currently both variants cannot be compiled, so I think this can be closed.

[2020-03-08 11:27] #32013 closed

[2020-03-08 11:27] RalfJung opened #69823 "Run 32bit test suite on PR CI?"
@rust-lang/infra do we have enough spare capacity on the PR CI runner to add something like `./x.py test src/test/ui --target i686-unknown-linux-gnu --pass check`? That would help find 32bit-only issues in tests before things get to bors. And running with `--pass check` would also ensure that the test suite actually passes in check-only mode, which is not a given (some tests fail and need `ignore-

[2020-03-08 11:30] RalfJung commented on #69821
The intrinsic is [already implemented in Miri](https://github.com/rust-lang/miri/blob/e6a0c60a0feba65b2ced98b3eae4a2406a7d635e/src/shims/intrinsics.rs#L251), you can copy that to rustc if you want.

If you do, please also submit a PR to Miri to remove the implementation there.

[2020-03-08 13:50] Boscop commented on #69816
@rodrimati1992 But your minimized example behaves differently when writing `10usize` instead of `N`! Instead of compiling fine (like with my original example), the compiler panics:
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2bbd3b7f2d16e643a8dedb82659aa0c4

[2020-03-08 13:53] Boscop commented on #69816
Btw, instead of writing `8usize` in `.collect_arr::<8usize>()`, the compiler should be able to infer that `8` is an `usize`. IOW, this should compile: `.collect_arr::<8usize>()`. Is there already a ticket for this?

[2020-03-08 14:08] jonas-schievink opened #69826 "Tracking Issue for Generator Memory Usage"
(old issue: https://github.com/rust-lang/rust/issues/52924)

This issue tracks ideas for reducing the memory footprint of generators.

* [ ] https://github.com/rust-lang/rust/issues/62321 – `size_of_val` in a generator can make the generator bigger
* [ ] https://github.com/rust-lang/rust/issues/62575 – Better greedy layout computation for generators
* [ ] https://github.com/rust-lang/rust/issues/6

[2020-03-08 14:09] jonas-schievink commented on #52924
Closing in favor of https://github.com/rust-lang/rust/issues/69826

[2020-03-08 14:09] #52924 closed

[2020-03-08 14:43] #69409 closed

[2020-03-08 14:43] #69416 closed

[2020-03-08 14:43] #69531 closed

[2020-03-08 14:43] #67523 closed

[2020-03-08 14:43] #69769 closed

[2020-03-08 16:07] Centril commented on #54883
- On 2020-02-28, 2020-03-08, and 2020-03-08, PRs https://github.com/rust-lang/rust/pull/69452, https://github.com/rust-lang/rust/pull/69599, and https://github.com/rust-lang/rust/pull/69687 landed. These were written by @Centril and were reviewed by @estebank, @davidtwco, and @estebank respectively. All PRs tweaked and improved diagnostics wrt. or-patterns.

- On 2020-02-08, https://github.com/rus

[2020-03-08 16:10] djc commented on #64650
Someone was just asking about this in hyper's gitter channel. The diagnostics here are surprisingly bad. Ping?

[2020-03-08 16:15] Centril commented on #65490
- On 2020-03-08, https://github.com/rust-lang/rust/pull/69690 landed. The PR was written by @thekuom and reviewed by @Centril and added run-pass tests for the combination of bindings-after-at, or-patterns, box-patterns, slice-patterns.

- On 2020-03-08, https://github.com/rust-lang/rust/pull/69810 landed. The PR was written by @thekuom and reviewed by @Centril and added dynamic-rop run-pass tests

[2020-03-08 18:19] RalfJung commented on #66738
Actually the error happens even on stable, entirely independent of the `never_type` feature.

[2020-03-08 20:24] jonas-schievink commented on #69815
The discriminant is also never marked with a valid range, meaning that it never provides any niches that could be used to store other values. Not sure if doing that has any drawbacks, but it seems like a somewhat easy size optimization on first glance.

[2020-03-08 20:32] CAD97 commented on #69789
Just a minor note: typically these iterators are iterated by-value (e.g. `for items in map.values()`), so this explains why the diagnostics issue was missed. This gives a less bad error message:

[code]

[2020-03-08 20:43] CAD97 opened #69834 "Unreachable code may violate borrow rules"
When code is considered provably unreachable, it is allowed to violate the borrow checker rules. This isn't a problem, per-say, because provably unreachable code will never be run. However, this is quite non-intuitive, and can lead to code not being properly checked while parts of it are stubbed out with `todo!()`.

[This code compiles fine with unreachable code that violates the borrow rules.](ht

[2020-03-08 20:56] CAD97 opened #69835 "Tracking Issue for layout information behind pointers"
The feature gate for the issue is `#![feature(layout_for_ptr)]`.

This tracks three functions:

- `core::mem::size_of_ptr<T: ?Sized>(val: *const T) -> usize`
- `core::mem::align_of_ptr<T: ?Sized>(val: *const T) -> usize`
- `core::alloc::Layout::for_ptr<T: ?Sized>(t: *const T) -> Layout`

These provide raw-pointer variants of the existing `mem::size_of_val`, `mem::align_of_val`, and `Layout::for_va

[2020-03-08 21:04] nagisa commented on #69834
This is kind-of by construction, as modern borrowchecker works on CFG (and actively needs that information), and CFG does not unreachable code. (though we do have a concept of false edges...)

[2020-03-08 21:31] infinity0 commented on #62117
I'm unaware if there are any specific instructions but you can add extra foreign architectures to the `target` key in `config.toml` when building rustc itself, like any other foreign architecture. See `config.toml.example` for an example.

[2020-03-08 21:34] CAD97 commented on #49708
I'd like to bring up the idea of only allowing extern types behind raw pointers, and not behind references or by value again (no matter whether that's implemented via a permanently unstable bound or whatever special behavior).

[I've proposed allowing getting the layout of a raw pointer's pointee type](https://github.com/rust-lang/rust/pull/69079), and while `size`/`align_of_val` are stable and ca

[2020-03-08 22:10] Centril commented on #69834
Closing as not-a-bug per @nagisa's comment.

[2020-03-08 22:10] #69834 closed

[2020-03-08 22:15] jonas-schievink commented on #69815
Fixing this was way easier than I expected, but I'd appreciate help with benchmarking the runtime impact of the fix in #69837.

So if anyone knows any async/await benchmarks that are not I/O heavy (so that they mostly test CPU overhead of async/await), I'd be happy to run them.

[2020-03-08 23:49] JohnTitor opened #69840 "ICE with `impl_trait_in_bindings`"
### Code

This snippet is found in #60473.

Reduced:
[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=842adc0fe2c0b7bd2647341f05a6a8d8)

[playground (original)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=be294fd00d76c662e3991b7fe4a29942)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-03-08 23:59] jonas-schievink commented on #69663
I've removed #69672 and moved it over to #69826

[2020-03-09 00:14] gretingz opened #69841 "Compiler incorrectly assumes int will never be one"
The following code tries to parse a decimal integer followed by a newline. For some reason the compiler assumes that the parsed number will never be one. opt-level has to be 2, 3, s or z

[code]

I expected to see this happen: When running the program it prints "What did you expect?"

Instead, this happened: The program doesn't print anything, just exits

### Meta
`rustc --version --verbose`:
[cod

[2020-03-09 03:48] ehuss commented on #69841
Just out of curiosity, I bisected to #62592.  Probably not helpful, but I see a note about changes to unreachability in jump tables in the [release notes](https://releases.llvm.org/9.0.0/docs/ReleaseNotes.html).

[2020-03-09 04:05] astoeckel opened #69844 "rustc should return error code for unsupported command line option (-Wall)"
**I tried this code:**

[code]

**I expected to see this happen:** `rustc` prints an error message saying that `-Wall` is not supported and exits with a non-zero exit status.

**Instead, this happened:** `rustc` prints an error message and immediately returns with a zero exit status, causing an old version of "./main" to be executed. I would expect all error messages that cancel compilation to cau

[2020-03-09 07:19] Centril commented on #69841
cc @nikic @cuviper @alexcrichton

[2020-03-09 08:08] hellow554 commented on #69840
There's no need to put the two `let _x` into different functions, you can put them both in `foo`.

[2020-03-09 08:11] nikic commented on #69841
Looks like the condition gets removed by instcombine: https://gist.github.com/nikic/5f13662ae7559c16fdcc2e3cd2b17e5d (Might be caused by a prior change though.)

[2020-03-09 08:45] oli-obk commented on #69821
Should we consider adding more symbol kinds to const eval (like the way pointers can't be read as bits) to ensure that this feature isn't used to read discriminants as integers? Or is doing so at compile time actually something that enables legit use cases?

[2020-03-09 09:09] RalfJung commented on #69821
What we do for pointers is born out of necessity. For discriminants (a) I cannot think of a practical way to do so, and (b) I view this the same as layout details: it is not UB to use raw pointers to observe and mess with `repr(Rust)` layout *if you get it right*, but layout might change any time so you have no way to be sure that whatever is right for current Rust will remain right in the future.

[2020-03-09 09:10] lcnr commented on #69821
Would this be to prevent something like this (which may break due to compiler updates)?

[code]

[2020-03-09 09:15] pietroalbini commented on #69823
Nominating for discussion at the infrastructure team meeting.

[2020-03-09 09:18] RalfJung commented on #69821
@lcnr we already have that with things like
[code]

[2020-03-09 10:13] DutchGhost opened #69849 "Const generic overflow while adding drop-check rules"
The following code doesnt compile  and fails with a weird error:
[code]

It errors with:
[code]

Is this intented to happen?

[2020-03-09 12:00] RalfJung opened #69852 "Use #[rustc_layout] instead of print-type-sizes"
@eddyb suggested that the `#[rustc_layout]` attribute ([usage example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a8b2eb254018cfdb7f2206946fdca82f)) should be improved to replace `-Z print-type-sizes` and then be used for [these tests](https://github.com/rust-lang/rust/tree/master/src/test/ui/print_type_sizes). Then the tests also would not have to be `ignore-pass` an

[2020-03-09 12:05] RalfJung commented on #69849
Yeah that looks expected -- you are asking the compiler for an infinite number of instances of this type, `Node<SIZE>` and `Node<SIZE * 2>` and `Node<(SIZE * 2) * 2>` and so on.

You can achieve similar errors without const generics:
[code]
Now the compiler needs `Node<T>` and `Node<(T, T)>` and so on.

[2020-03-09 12:12] DutchGhost commented on #69849
Okey, thanks for clarifying. Closing this issue as the error is correct :)

[2020-03-09 12:12] #69849 closed

[2020-03-09 12:43] eddyb commented on #69852
cc @oli-obk @pnkfelix @nikomatsakis

[2020-03-09 15:05] JohnTitor commented on #67739
Now, it shows different ICE(s) ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5dd3712df3e13337eaa9d8f1cade744c)):

[code]

[2020-03-09 15:16] #68618 closed

[2020-03-09 15:16] #54239 closed

[2020-03-09 15:16] #57200 closed

[2020-03-09 15:16] #69524 closed

[2020-03-09 15:16] #57201 closed

[2020-03-09 15:16] #60473 closed

[2020-03-09 15:16] #64620 closed

[2020-03-09 15:16] #67166 closed

[2020-03-09 15:16] mystor commented on #31436
The `?` operator can perform type conversions between different error types using the `From` trait. It expands roughly to the following rust code (ignoring the `Try` trait):
[code]

[2020-03-09 15:17] rust-highfive opened #69855 "`miri` no longer builds after rust-lang/rust#69851"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#69851, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-03-09 15:35] iulianR opened #69857 "libunwind contained in rust-src won't build for some targets"
**Describe the problem you are trying to solve**

When trying to build Rust `std`, I came across [this problem](https://github.com/japaric/xargo/issues/281#issuecomment-596443297) for target `aarch64-unknown-linux-musl`. The `llvm-project` directory does not exist in the `rust/src` directory and `libunwind` won't build due to that. @RalfJung might have pinned the problem down to [a PR](https://git

[2020-03-09 15:41] RalfJung commented on #69857
Correct: just `llvm-project/libunwind` should be needed.

[2020-03-09 15:45] tmiasko commented on #69757
There is also an opposite issue: addresses of virtual tables associated with
different impls might compare equal, since they are marked with unnamed_addr.

It is possible to produce such cases after repeating some optimization passes.
First all methods from vtables are merged together, and then vtables themselves are.

[2020-03-09 15:52] wesleywiser commented on #69852
We should add a "Compiler attributes" chapter to the [Rust Unstable book](https://doc.rust-lang.org/unstable-book/the-unstable-book.html) and include it there.

[2020-03-09 16:45] Tyg13 opened #69862 "libstd: `File::open` uses `O_CLOEXEC` on platforms where it is unsupported"
I was originally trying to install the latest Rust stable on `Linux 2.6.18-8.el5 i686` (CC [rustup#2254](https://github.com/rust-lang/rustup/issues/2254)), and failing when `RUSTUP_HOME` or `CARGO_HOME` were set to my NFS mount (which uses 64 bit inodes).

This led me to (erroneously) file a bug with `libc` (CC [libc#1679](https://github.com/rust-lang/libc/issues/1679)), thinking that it was an is

[2020-03-09 17:21] Tyg13 commented on #69862
If I hook `open64` with `LD_PRELOAD` and unset the offending `O_CLOEXEC` flag, then the `open64` calls succeed. So it definitely looks like `O_CLOEXEC` is the culprit here.

[2020-03-09 17:21] kornelski commented on #58554
Backtraces printed by panic still contain frames that are internal details, and are not relevant to the panic. This lowers signal to noise ratio of the backtrace and makes it hard to notice where the actual panic is.

[code]

Prints **23** frames, and only 1 of them is in user code.

[code]

I'd expect the backtrace to at least omit the first 12 frames (0 to 11) after `begin_panic`, because from u

[2020-03-09 17:42] Evpok opened #69865 "Support installing with linking to non-system libraries"
Currently, toolchains installed with rustup use system library path and the system dynamic linker.

In some environment it makes installing and using rust overly complicated. [My specific use case](https://users.rust-lang.org/t/why-would-rust-ran-in-linuxbrew-try-to-link-to-system-libc/37435) is a shared environment where the system libs are quite old so users manage their own installations with l

[2020-03-09 17:58] jonhoo commented on #69785
If anyone has a quick and dirty idea for how to force an `impl Trait` type to resolve, I think I could finish minifying the above pretty easily.

[2020-03-09 18:29] smmalis37 commented on #62200
I just ran into this on 1.41.1. I can try to produce a minimized version if it would be helpful.

[2020-03-09 18:53] Tyg13 commented on #69862
I want to submit a patch for this, but I'm unsure about how to go about solving this issue.

The first option I can think of is to explicitly check the kernel version by calling `libc::uname`, and only pass the `O_CLOEXEC` flag when the equivalent of `uname -r` reports kernel version `>=2.6.23`. We could subsume this into the existing `ensure_cloexec()` function, to ensure we only pass the flag wh

[2020-03-09 19:31] cuviper commented on #69841
I found that the same IR optimizes correctly with LLVM master. I'm currently bisecting...

[2020-03-09 19:43] nikic commented on #69841
Based on the structure of the IR, my first guess would be the InstSimplify part of https://github.com/llvm/llvm-project/commit/a7d992c0f2d235c67f04160405c5c5606408d4b1.

[2020-03-09 19:57] cuviper commented on #69841
You're right, it's bad up to `a7d992c0f2d2^` (`1164d43855fd`) and correct with `a7d992c0f2d2`.

[2020-03-09 19:58] programmerjake commented on #58554
One idea is to find the first occurrence of `std::panicking::begin_panic` in the backtrace and to remove up to that frame.

We'd have to be careful to show all frames if `begin_panic` is somehow not found.

Also, we'd have to make sure that we show `S::fmt` in:
[code]
([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a68e6a5623980be59e1ba04d371b6147))

[2020-03-09 20:01] cuviper commented on #69841
Also, it's fine with LLVM 8, consistent with @ehuss's bisection, so this is just a regression in LLVM 9.

[2020-03-09 20:08] da-x commented on #67266
I opened a PR #69858 for this.

[2020-03-09 21:25] Aaron1011 commented on #69798
@rustbot claim

[2020-03-09 21:28] estebank opened #69868 "Detect introduction of deadlock by using `if lock.read()`/`else lock.write()` in the same expression"
A coworker came across the following:

[code]

This code compiles, but it will deadlock because of the `lock.read().unwrap()` in the `if let` being kept alive until the end of the `foo` function. MIRI actually catches this, but it would be nice to have a lint against this kind of usage, given that it is a latent foot-gun.

[2020-03-09 21:40] Dante-Broggi opened #69869 "Compiler selects invalid `--lldb-python` path"
For my mac (macOS Mojave), the `--lldb-python` path is being set to `/usr/bin/python3`, which doesn't exist.
Furthermore, `/usr/bin` is immutable, so I cannot simply symlink to `/usr/local/bin/python3`, the result of `which python3`.

This is causing the `debuginfo` test suite to fail.

### Code

[code]

### Meta

rust version:
Top of `master`, specifically:
https://github.com/rust-lang/rust/commi

[2020-03-09 21:42] cramertj commented on #62195
Seems fine to me. Sadly, I don't think there's a trait that covers these, so they'll all have to be added independently.

[2020-03-09 21:59] Evpok commented on #69865
Fair enough. I was thinking about something like rustup setting rpath in the toolchain binaries to the custom location, but maybe that's not the right way to go about it.

[2020-03-09 22:01] tstellar commented on #69841
Could you post dumps from both before and after instcombine ?

[2020-03-09 22:01] nellshamrell commented on #68671
Hello all - turning my attention to this this week.

I wrote up what I believe the problem is - could someone confirm that this is correct?

RUST_CONFIG_ARGS is initially set in [src/ci/azure-pipelines/auto.yml](https://github.com/rust-lang/rust/blob/7760cd0fbbbf2c59a625e075a5bdfa88b8e30f8a/src/ci/azure-pipelines/auto.yml) for the various platforms we build on.

Let's first focus on windows x86_64

[2020-03-09 22:05] pietroalbini commented on #68671
That sounds correct!

[2020-03-09 22:24] petrochenkov commented on #64797
PR submitted - https://github.com/rust-lang/rust/pull/69870.

[2020-03-09 22:45] cuviper commented on #69862
That kernel would be as RHEL 5.0 originally shipped, without _any_ updates at all!

See [rhbz313681](https://bugzilla.redhat.com/show_bug.cgi?id=313681), "O_ATOMICLOOKUP vs O_CLOEXEC(mainstream kernels) incompatibility". Your strace log even shows the error return -530, corresponding to `EWOULDBLOCKIO` for that misinterpreted flag. This was fixed in the kernel for RHEL 5.2.

---

You should also k

[2020-03-09 22:49] Tyg13 commented on #69862
We are indeed in very unsupported territory. Currently my organization is using RHEL5 with an expired support contract. I will have to look into upgrading our kernel. I hope we will be able to do that without a support contract, though I am not personally familiar with the details.

That being said, it appears that this is not a Rust issue. As such, I think I can safely close all of the above tick

[2020-03-09 22:49] #69862 closed

[2020-03-09 23:28] cuviper commented on #69803
Your first `read` came up a byte short, but it's always allowed to return partial reads. We can't really know it's EOF until we read 0 bytes -- despite the initial `stat` size, the file could still be growing. We need the extra to have space to _try_ that final read, even though we expect it to fail.

https://github.com/rust-lang/rust/blob/3dbade652ed8ebac70f903e01f51cd92c4e4302c/src/libstd/fs.rs#

[2020-03-09 23:48] cuviper commented on #69701
Does `unused_mut` _ever_ trigger for `&mut`? I thought that was only for `mut` bindings.

[code]

No warning there...

[2020-03-09 23:50] the8472 commented on #69865
Wouldn't it be sufficient to prepend something to `PATH` and `LD_LIBRARY_PATH`?

[2020-03-09 23:55] matthiaskrgr opened #69873 "ICE when runnig clippy-driver on ./ui/raw-ref-op/unusual_locations.rs"
I'm reporting this in the rustc repo because this crash seems to happen in rustc code.
Feel free to move this to the clippy repo if its a clippy bug.
### Code
The code is a reduced form of `./ui/raw-ref-op/unusual_locations.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-10 00:02] matthiaskrgr opened #69874 "ice when running clippy-driver on ./ui/trivial-bounds/trivial-bounds-inconsistent.rs"
I'm reporting this in the rustc repo because this crash seems to happen in rustc code.
Feel free to move this to the clippy repo if its a clippy bug.

### Code
This code is reduced from `./ui/trivial-bounds/trivial-bounds-inconsistent.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</detai

[2020-03-10 00:13] cuviper commented on #69868
Just to clarify, is it really held until the end of the function, or just the enclosing statement?

[2020-03-10 01:02] niedzielski commented on #58580
Is a "`from_millis128()`" API a bad idea? As a new Rust user, I hit this issue too and was surprised that I couldn't go back and forth between milliseconds as a primitive and Duration.

I'm not sure what's best practice. If a change to the API doesn't make sense, a change to the documentation describing the recommended handling of a u128 would be a splendid improvement :+1: Thank you!

[2020-03-10 01:33] Aaron1011 commented on #69798
Here's what appears to be happening:

1. We generate a CGU containing some drop glue, along with some globals (e.g. the "Dropping Foo" constant). When LTO runs, LLVM consults the ThinLTO index, and [determines that we don't actually export anything from this CGU](https://github.com/rust-lang/llvm-project/blob/3b0e8db805d2120ccf764c51b6a1bb06dee60a79/llvm/include/llvm/Transforms/Utils/FunctionImpor

[2020-03-10 02:07] mcgoo commented on #66523
Same issue I think but with a different diagnostic: `the trait bound '(): std::future::Future' is not satisfied`

[code]
gives
[code]
I expected it would do the same with `async fn foo() -> i32 { panic!(); }`  but it works fine.

[2020-03-10 02:58] contrun commented on #69764
Can not reproduce. I am using the `rust-gdb` bundled with `rustup-1.21.1`. rust-gdb version is GNU gdb (GDB) 8.3.1. My rustc is
[code]

The code I ran is
[code]

[2020-03-10 03:05] matthiaskrgr opened #69875 "ICE "Or-pattern should have been expanded earlier on""
### Code

This code is reduced from issue-54538-unused-parens-lint.rs

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-03-10 04:00] sinkuu commented on #69874
This is indeed an clippy bug. Under `trivial_bounds` functions may have unsatisfiable predicates, which prohibits instantiating them.

[2020-03-10 05:51] freesig commented on #69490
I'm also getting this error.
## Meta
`rustc --version --verbose`:
[code]
__Backtrace:__
[code]

[2020-03-10 06:18] Centril commented on #69873
This doesn't seem to reproduce on nightly / the playground (nightly).

[2020-03-10 06:35] Centril commented on #69875
Another variation on this to include in a regression test:
[code]

[2020-03-10 06:38] Centril commented on #69875
cc @varkor @Nadrieril

[2020-03-10 07:38] RalfJung commented on #69803
The comment [here](https://github.com/rust-lang/rust/blob/3dbade652ed8ebac70f903e01f51cd92c4e4302c/src/libstd/io/mod.rs#L2290) also talks about a "final zero-byte read", but unfortunately does not say where in the code that is happening.
I assume it refers to the fact that we only break [the read loop here](https://github.com/rust-lang/rust/blob/3dbade652ed8ebac70f903e01f51cd92c4e4302c/src/libstd/

[2020-03-10 08:09] Centril commented on #67377
Triage:
- The first example still ICEs in MIR building
- The second and third examples don't ICE anymore and need tests (**without closing this issue!**).

[2020-03-10 08:22] Centril commented on #40247
Closing per ^---

[2020-03-10 08:22] #40247 closed

[2020-03-10 08:23] Centril commented on #41988
@spamwax How did your investigation go?

[2020-03-10 08:26] Centril commented on #45689
@matthiaskrgr Does this still reproduce on a current nightly?

[2020-03-10 08:28] Centril commented on #46511
Reproduces with the NLL borrow checker (crashes in `rustc_mir::borrow_check::universal_regions::UniversalRegionIndices::to_region_vid::{{closure}}`). cc @matthewjasper

[2020-03-10 08:29] Centril commented on #67377
cc @oli-obk @varkor

[2020-03-10 08:33] Centril commented on #47517
@thbar Can you check if this reproduces today?

[2020-03-10 08:33] Centril commented on #47527
@sfleischman105 Can you reproduce this today?

[2020-03-10 08:36] Centril commented on #47814
@dtolnay's exampe ICEs at `rustc_mir::borrow_check::universal_regions::UniversalRegionIndices::to_region_vid::{{closure}}`, cc @matthewjasper

[2020-03-10 08:37] Centril commented on #47825
@kennytm does this still reproduce?

[2020-03-10 08:38] Centril commented on #48582
@kdy1 Can you still reproduce this?

[2020-03-10 08:39] Centril commented on #48817
Nominating with a suggestion to close since nothing has happened since 2018.

[2020-03-10 08:41] Centril commented on #49230
This doesn't seem to ICE anymore?

[2020-03-10 08:41] #48817 closed

[2020-03-10 08:43] JohnTitor commented on #69873
It's a Clippy ICE, not rustc one.

[2020-03-10 08:44] Centril commented on #69873
Please transfer the issue to the Clippy repo. :)

[2020-03-10 08:53] pietroalbini commented on #68671
@nellshamrell a quick fix for this would be to set in the job definition something like `INITIAL_RUST_CONFIGURE_ARGS` and then set `RUST_CONFIGURE_ARGS` to it from a script.

[2020-03-10 08:54] Centril commented on #49703
@sgrif Any thoughts re. ^--- ?

[2020-03-10 08:55] Centril commented on #50169
@Ekleog Can you still reproduce this?

[2020-03-10 08:57] Centril commented on #50184
@jkcclemens If you could provide a minimal reproducer that would help towards fixing this.

[2020-03-10 08:59] Centril commented on #50687
@kennytm Do you think you could create a minimal test to close this issue with?

[2020-03-10 09:02] Centril commented on #51173
Smaller reproducer reproduces in 2020, cc @petrochenkov

[2020-03-10 09:12] JohnTitor commented on #69873
I don't have access to do so, maybe @Manishearth or @oli-obk could.

[2020-03-10 09:14] Evpok commented on #69865
@the8472 Maybe in wrappers around toolchain executables? That's one reason why I was thinking of doing it at rustup level since there are already wrappers defined there. Doing that in the parent shell environment is not a good idea as you still have to rely on *some* system executables and that might break them.

[2020-03-10 09:14] #67311 closed

[2020-03-10 09:14] #62046 closed

[2020-03-10 09:14] #69681 closed

[2020-03-10 09:17] Centril commented on #52334
Still reproduces:
[code]

cc @eddyb @hanna-kruppe @nagisa

[2020-03-10 09:19] Centril commented on #52421
@dpc Were you able to produce a minimal example?

[2020-03-10 09:21] neckbosov opened #69882 "todo! and unimplemented! does not work with impl Trait return types"
This code
[code]
does not compile because
`the trait `SomeTrait` is not implemented for ()`
But such code

[code]
compiles correctly. Can this problem be resolved to use both todo!() and impl Trait?

[2020-03-10 09:22] RalfJung commented on #69297
@wesleywiser do you still plan to submit [this approach](https://github.com/rust-lang/rust/commit/2c7e3b548d1b1e57dfc3eec8bf82d9589cf25fe8) as a PR or would you like someone else to take over?

[2020-03-10 09:23] Centril commented on #52815
@cramertj Do you think you could create an mcve for this?

[2020-03-10 09:24] Centril commented on #52862
@ZoeyR Do you think you could produce a minimal reproducer?

[2020-03-10 09:25] Centril commented on #52893
@akiselev Do you think you could create a reproducer that doesn't depend on external crates?

[2020-03-10 09:26] Centril commented on #53275
@ralfbiedert Do you think you could reduce this further?

[2020-03-10 09:27] Centril commented on #53334
@bjorn3 Do you have a reproducer for this?

[2020-03-10 09:28] Centril commented on #53881
@Neurrone If you could create a minimal reproducer that would be great.

[2020-03-10 09:32] bjorn3 commented on #53334
This can't be reproduced with `--emit mir`, as that only prints real functions. To reproduce you need to for example modify cg_clif to print mir for every `Instance` seen.

[2020-03-10 09:34] Centril commented on #54510
@sanxiyn @mati865 How about now?

[2020-03-10 09:35] Centril commented on #54515
@jjpe Could you provide a reproducer for this?

[2020-03-10 10:00] Centril commented on #65490
- On 2020-02-10, https://github.com/rust-lang/rust/pull/69817, written by @thekuom and reviewed by @Centril, landed. The PR added borrow checker tests in combination with or-patterns & other pattern features.

[2020-03-10 10:07] hanna-kruppe commented on #54510
FWIW [the commit](https://github.com/llvm/llvm-project/commit/aa7cfa75f97ed2b7f27b22f626353bc29d03819b) was released in LLVM 9 which rustc currently uses, so this ought to be fixed.

[2020-03-10 10:23] Centril commented on #54510
Seems like we need to add a test in that case.

[2020-03-10 10:45] RalfJung commented on #69855
Already fixed in Miri, but I have some PRs open that will break Miri again so I am waiting a bit before updating the submodule.

[2020-03-10 10:50] jonas-schievink commented on #69882
This is expected behavior since `todo!()` is not constrained to any type, so it is inferred to `()`. In the second case it is constrained to `T`, which is provided by the caller.

[2020-03-10 10:54] hanna-kruppe commented on #52334
Some smaller examples, each of which seem to produce the same ICE (any by-value DST in place of `str` works, I just picked `str` for brevity):

[code]

There seem to be two related problems here:

- function pointers and FFI imports are accepted even if their signature is something no actual function definition permits (all of the above without `unsized_locals`, and even with that feature you can'

[2020-03-10 10:56] hanna-kruppe commented on #54510
No need for a new test, reverting #57827 (not ignoring that test on AArch64 any longer) should suffice. Although I'm not sure if we have CI for that target.

[2020-03-10 11:10] JohnTitor commented on #69873
The fix has landed, I'm not sure we should still transfer, can we just close?

[2020-03-10 11:14] nikic commented on #54510
I'd suggest to wait for the LLVM 10 upgrade, which will address some additional issues. While LLVM 9 fixed the majority of this, there were still issues with ordered and non-fast reductions in some cases.

[2020-03-10 11:15] #69873 closed

[2020-03-10 11:15] matthiaskrgr commented on #69873
Let's just close it, I doubt that someone finds this and opens a ticket in the clippy repo until the next clippy sync... :)

[2020-03-10 11:20] Centril commented on #54785
@rodrimati1992 Could you produce a minimal example for this? Also, does it reproduce on the current nightly?

[2020-03-10 11:22] Centril commented on #54895
Triage: Still reproduces, cc @matthewjasper @Aaron1011

[2020-03-10 11:23] Centril commented on #54897
@twirrim Could you check whether this reproduces with a current nightly? Also, could reduce this to a minimal example? cc @petrochenkov

[2020-03-10 11:24] matthiaskrgr commented on #45689
The minimal example works.
I was able to build clippy with lto=true.
rls got linker errors with lto=true (do we want a ticket about that?)
rustfmt builds
miri gets linker errors as well

[2020-03-10 11:25] Centril commented on #45689
Ok, should we add a test perhaps?

[2020-03-10 11:27] matthiaskrgr commented on #45689
Yeah, definitely, I'll have a look. :)

[2020-03-10 11:27] Centril commented on #55524
@wesleywiser does this still reproduce?

[2020-03-10 11:31] spamwax commented on #41988
The ICE seems to be fixed based on my test for a FreeBSD 12.1 running on VirtualBox

[2020-03-10 11:32] Centril commented on #56001
@weiznich Could you check whether this reproduces on a current nightly; also, can you reduce this to a minimal example? cc @estebank

[2020-03-10 11:33] Centril commented on #56086
@DevinBayly Could you check if this reproduces on a current nightly? Also, if possible, a reducing the test input would help us fixing the bug. Thanks.

[2020-03-10 11:35] Centril commented on #56229
Triage: no longer ICEs.

[2020-03-10 11:38] Centril commented on #57665
@jvinolas Could you provide a minimal example which reproduces the ICE on older compilers?

[2020-03-10 11:39] Centril commented on #57889
@sfackler Could you provide an MCVE for this ICE?

[2020-03-10 11:42] Centril commented on #58355
Reproduces (https://github.com/rust-lang/rust/issues/58355#issuecomment-463402894) as of 2020-03-10.

[2020-03-10 11:43] Centril commented on #58490
Reproducer in https://github.com/rust-lang/rust/issues/58490#issuecomment-468860860 no longer ICEs.

[2020-03-10 11:48] Centril commented on #59311
Triage: Reproduces as of 2020-03-10.

[2020-03-10 11:53] Centril commented on #59996
cc @Nadrieril

[2020-03-10 11:55] Centril commented on #60390
Adding a test with `--emit mir` seems like a good idea.

[2020-03-10 12:04] Centril commented on #66003
cc @eddyb @petrochenkov

[2020-03-10 12:07] wesleywiser commented on #55524
Yup, here's the latest on dd155df0a69338757ca39a2a606a6accb7b8d342:

[code]

<details><summary>Backtrace</summary>

[code]

</details>

[2020-03-10 12:20] Centril commented on #66706
We shouldn't be reaching HAIR mirroring in the first place due to the `[type error]`, but for some reason, when it happens in an `AnonConst`, we don't bail on type errors. cc @oli-obk @varkor

[2020-03-10 12:22] Ekleog commented on #50169
I can no longer with the provided archive, though I do not know whether it is due to the bug being fixed or just to the cargo bump making cargo no longer use the corrupted incremental build directory.

Anyway, I guess this is fine to close :)

[2020-03-10 12:22] #50169 closed

[2020-03-10 12:31] wesleywiser commented on #69297
@RalfJung Thanks for the reminder! I just posted a slightly more cleaned up version as #69888.

[2020-03-10 12:33] rodrimati1992 commented on #54785
I'll leave it at can't reproduce with a minimal example,I tried to but couldn't.

I haven't touched the `type_level` repository since december 2018(nor used it),and the `type_level_values` crate hasn't been able to compile due to recursive impl errors since then.

[2020-03-10 12:41] #69874 closed

[2020-03-10 12:44] Neurrone commented on #53881
@Centril I'm afraid that I've lost all context on what happened, since I originally encountered this issue 1.5 years ago, so I'd suggest closing this.

[2020-03-10 12:56] csmoe commented on #69785
Same ICEs without async:
https://github.com/rust-lang/rust/issues/51388
https://github.com/rust-lang/rust/issues/50865

[2020-03-10 13:05] jonhoo commented on #69785
@jonas-schievink Updated reproducing code to remove need for `futures_executor`.

[2020-03-10 13:07] jonhoo commented on #69785
I'm _fairly_ certain this is related to the visibility of types that appear in an `impl Trait` type. Specifically, in the code above, if `pub(crate) fn new()` in `a` is changed to `pub`, it compiles fine.

[2020-03-10 13:26] eddyb commented on #66003
It's generally hard to handle this gracefully due to how deep it is in the whole system - usually a panic inside a proc macro would turn into an error but here it doesn't seem to.
Maybe we just need to include more adjacent code in some `catch_panic` scope?

<hr/>

@olegnn This kind of code can't work, every time a proc macro is ran, the `proc_macro` types (e.g. `TokenStream`) have incompatible va

[2020-03-10 13:36] eddyb commented on #53334
We should be able to add `-Z dump-mir` support for shims, if we don't have it already.

[2020-03-10 14:07] jjpe commented on #54515
The bug was from a long time ago, 2018. At this point I don't even remember which repo that was in, or which commit it would be.

[2020-03-10 14:20] Nadrieril commented on #69875
Ah yeah, I see the issue. There's an implicit invariant that there should be no or-patterns directly in the first column of the matrix, but this invariant is broken exactly when an or-pattern has a child that is itself an or-pattern. I should have documented that.
Specifically this fails to preserve the invariant: https://github.com/rust-lang/rust/blob/dd155df0a69338757ca39a2a606a6accb7b8d342/src/

[2020-03-10 15:27] Centril commented on #69875
@Nadrieril Yep, that did it. Thanks for the pointer. This issue is fixed by https://github.com/rust-lang/rust/pull/69891.

[2020-03-10 15:53] estebank commented on #69868
[code]

[2020-03-10 15:53] bbigras opened #69892 "src/librustc_infer/traits/codegen/mod.rs:108: Encountered errors `[FulfillmentError(Obligation [...]"
It's probably the same as #68645 or the other FulfillmentError errors but just in case.

### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-10 15:54] estebank commented on #69868
[The following](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=018ef43b9cd7f3fce89640f76a19c3fd) is more inline with what I would have expected to happen:

[code]
[code]

[2020-03-10 15:55] pnkfelix commented on #68864
@jonas-schievink what kind of machine are you using? In particular, what OS (and if Linux, what distribution and version?)

[2020-03-10 15:59] jonas-schievink commented on #68864
This was on a ThinkPad X1 Carbon running Arch Linux (not sure how up-to-date it was at the time, but not more than a few weeks out of date). I can take another look to narrow this down.

[2020-03-10 16:09] jonas-schievink commented on #68864
Updating to rustc 1.42.0-beta.5 (4e1c5f0e9 2020-02-28) seems to fix the regression. I can still reproduce with rustc 1.42.0-beta.2 (3d2613e2c 2020-02-04).

That diff contains 665a39c, so that might have fixed it.

[2020-03-10 16:09] #68864 closed

[2020-03-10 16:57] vtbassmatt commented on #68671
👋 PM from Azure Pipelines here. @nellshamrell and @pietroalbini you have it exactly correct. We  intended that matrix variables would become read-only, but I didn't do a good job communicating about that. So sorry that you got caught out by this (and further sorry that we didn't get right people looped in until the change took effect!).

[2020-03-10 17:27] pnkfelix commented on #69364
Determined via bisection over nightlies that the problem was "fixed" between  +nightly-2020-01-25 and  +nightly-2020-01-26

[2020-03-10 17:29] pnkfelix commented on #69364
Looks like this was deliberately fixed via an LLVM upgrade in PR #68525.

[2020-03-10 17:32] cramertj commented on #52815
Definitely not-- I'll close this, since it's two years old, doesn't seem to have been re-reported since, and is incredibly poorly specified.

[2020-03-10 17:32] #52815 closed

[2020-03-10 17:32] pnkfelix commented on #69364
And it looks like the above fix is part of the beta channel, which is imminently scheduled for release.

Closing as duplicate of  #66308 (which is fixed).

[2020-03-10 17:32] #69364 closed

[2020-03-10 17:42] petrochenkov commented on #51173
Duplicate of https://github.com/rust-lang/rust/issues/55414.

[2020-03-10 17:42] #51173 closed

[2020-03-10 17:59] Nadrieril commented on #59996
First I've reduced a bit more:
[code]

I think I see where the problem comes from, but I don't know how to fix it.
On this line: https://github.com/rust-lang/rust/blob/dd155df0a69338757ca39a2a606a6accb7b8d342/src/librustc_mir_build/hair/pattern/_match.rs#L341-L352
we essentially say "if we have a constant pattern and the constant is a reference to something, then we convert it to being a pattern o

[2020-03-10 18:12] dpc commented on #52421
@Centril I have failed. And that's almost 2 years old now. I don't remember which project or code that was. I think we can close.

[2020-03-10 18:12] #52421 closed

[2020-03-10 18:32] pietroalbini opened #69895 "Spurious WebRender failure: 'gperf' is missing on your system"
Occasionally the `x86_64-gnu-aux` builder fails due to a spurious build failure:

[code]

The WebRender people prepared [a fix](https://phabricator.services.mozilla.com/D66275), but it did not land in https://github.com/servo/webrender yet. Once it lands, we'll need to update `cargotest` to point to the new commit.

Putting it `P-high` so we check in on it weekly during the infrastructure team mee

[2020-03-10 18:36] estebank commented on #56001
Looking at the backtrace it is _very_ likely this is no longer happening.

[2020-03-10 18:50] BartMassey commented on #62046
Thank you!

[2020-03-10 19:23] oli-obk commented on #59996
Basically I never got around to implementing actual dereferencing of constants. It requires reading from a constant just like `fn const_field` accesses a field. Though I don't remember what the blockers for that were

[2020-03-10 19:40] pnkfelix commented on #69296
When  trying variants like:

[code]

I got the following error diagnostic:

[code]

So, that to me implies that we're just missing some similar check somewhere in the code paths for array length constant evaluation.

[2020-03-10 20:18] Kixiron opened #69897 "Meta-Macros fail at usage"
When creating meta-macros (macros that generate macros) using the following code:

[code]

The output is a valid Rust macro and compiles perfectly. However, when attempting to call the generated macro (`__expand_tuple!`), multiple errors are emitted, such as `error: unknown macro variable tuple` and `error: expected expression, found .`. Inspecting the generated macro with `trace_macros!` reveals

[2020-03-10 20:28] weiznich commented on #56001
I could not reproduce this on a current nightly.

[2020-03-10 20:28] #56001 closed

[2020-03-10 20:29] #49511 closed

[2020-03-10 20:34] talchas commented on #69897
The issue is a bug in the macro where it doesn't do hygiene correctly - it tries to use `$tuple.0` from previous macro expansions with a `$tuple` from the current one.
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=06243c21a8f0043161b4ba059058dc19 fixes that.

[2020-03-10 20:42] gihrig commented on #63255
But the error goes well beyond `existential`:

A missing `const` will trigger this error:

[code]
[code]

The problem of course, is that the correct code is:

[code]

$ rustc -V
rustc 1.43.0-nightly (58b834344 2020-02-05)

macOS 10.14.6

[2020-03-10 21:15] Mark-Simulacrum commented on #69823
I would be interested in seeing error rates, at least; I have not experienced a lot of pain with 32 bit tests failing (and 64 bit tests passing). OTOH, maybe the `--pass check` mode is worth it...

Do we have numbers on how long we expect this to take on CI? I would expect someone to run the UI tests that we already run on CI locally and then figure out an approximate "CI slowdown" based on how lo

[2020-03-10 21:21] glandium opened #69900 "Rust compiler should avoid mentioning private traits as solution to missing methods"
Building the following code targeting Windows:

[code]

says:
[code]

If you add the suggested `use`, you get:
[code]

I could get behind the suggesting if the module was local to the crate being built, but from an external crate, it's not helpful.

### Meta

`rustc --version --verbose`:
[code]

[2020-03-10 21:22] estebank commented on #69597
[Output with `#![feature(nll)]` enabled](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b76a09227e1c0ae610991889570f034d):

[code]

[2020-03-10 21:39] ralfbiedert commented on #53275
I just tried to reproduce this once more with `rustc 1.43.0-nightly (564758c4c 2020-03-08)` and instead of an ICE it now produces multiple compilation errors, such as:

[code]

This pretty much seems to "prevent" how I could previously ICE it, enabling or disabling macro invocations with an empty array that then got accessed:

[code]

Seems like this got fixed.

On a side note, I'm positively surp

[2020-03-10 21:43] Centril commented on #53275
Cool; ideally, if we could create a minimal example that we could add as a regression test that would be great, and if not, then I guess we'll close the issue as it no longer ICEs.

[2020-03-10 22:00] kennytm commented on #47825
no repro for `1.42.0-nightly (0de96d37f 2019-12-19)`.

[2020-03-10 22:15] ralfbiedert commented on #53275
Alright, here is the MVP that would do it:

[code]

When I run this with `cargo test` on ` 1.41.0-nightly (6d77e45f0 2019-12-04)` it would ICE as above; with the latest `rustc 1.43.0-nightly (564758c4c 2020-03-08)` it just gives an error.

[2020-03-10 22:57] steveklabnik commented on #59412
Triage: looks like there was a bunch of activity, and then nothing... not sure what the next steps here are.

[2020-03-10 23:05] ecstatic-morse opened #69902 "`MaybeRequiresStorage` for generators is not necessary"
Continuing from discussion in #69716.

`MaybeRequiresStorage` (introduced in #60187 as `RequiresStorage`) is one of four dataflow analyses used to determine what locals are live across yield points or live at the same time as other locals during the MIR generator pass. I don't see any reason we're not using a [liveness analysis](https://en.wikipedia.org/wiki/Live_variable_analysis) exclusively for

[2020-03-10 23:14] ehuss commented on #69869
I seem to recall having problems with these tests, even before #68863.

Here's an overview of how I understand the problem:

The lldb that ships with Xcode 11 uses python3. Since 10.14 doesn't include python3, AFAIK it is not possible to use xcode's Python lldb module on Mojave (using an external interpreter).  Using homebrew doesn't work either, because it is not compatible with the _lldb.so modu

[2020-03-10 23:30] ehuss commented on #69900
I think this is a duplicate of #26454.

[2020-03-10 23:56] Kixiron commented on #69897
@talchas's fix resolves this

[2020-03-10 23:56] #69897 closed

[2020-03-11 01:15] cramertj commented on #57349
Should this issue be blocking `const EMPTY_MAX:  &'static mut [()] = &mut [(); ::std::usize::MAX]`? Currently it does, but I think we should be able to allow this (as well as `= &mut [];` for a slice of any type).

[2020-03-11 01:27] str4d opened #69904 "Windows: Static libraries can't be linked as files by libtool/MinGW due to .lib extension"
Consider a C++ project using common build system tooling (autoconf, automake, gcc, libtool, pkg-conf etc.), that wants to statically link in a Rust library (which it will interact with via a C FFI). The project wants to target both Unix and Windows, so leverages MinGW for compiling C++ on Windows.

libtool follows the MinGW/GCC convention of static libraries ending in `.a`, not the MSVC convention

[2020-03-11 02:29] smmalis37 commented on #62200
If it helps, this slightly modified snippet produces a very odd error:

[code]

[code]

In that code `<S as T<'_>>::A` is `i32`, so it seems like something isn't being fully expanded somewhere?

[2020-03-11 02:34] retep998 commented on #69904
If possible, could we emit both `libfoo.a` and `foo.lib` for specifically `pc-windows-gnu`? That way code already hacked up to use `foo.lib` will continue to work while code that wasn't hacked up yet can just work correctly with `libfoo.a`.

[2020-03-11 02:52] davepacheco opened #69905 "`rustdoc --test` erroneously turns text into doc test and fails"
I apologize in advance if I'm misunderstanding the expected behavior here, but here goes.  I've got a file with these contents:

[code]

This is a little weird, but it's the minimum case I found to reproduce the issue.  The unusual leading space on line 5 is important.  (If you're wondering how I got here, it was from [rustfmt issue 4079](https://github.com/rust-lang/rustfmt/issues/4079).)

I expe

[2020-03-11 03:03] SeeSpring commented on #62201
Actually attempting to use this causes an ICE

[code]

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b8f83829e5998f3ee454c843ad1f8169)

[2020-03-11 03:12] SeeSpring commented on #62200
Seems related to #62201

[code]

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=630d1c7db98eea220255d85669681b6d)
note that `t` in `help` needs to be generic to compile, but the output type can be changed to `<S as T<'a>>::A`

[2020-03-11 03:47] contrun commented on #69803
I tried to modify [this line](https://github.com/rust-lang/rust/blob/3dbade652ed8ebac70f903e01f51cd92c4e4302c/src/libstd/io/mod.rs#L399) into
[code]

This does not work. I encountered several other compilation failures. I guess I can not assume when the buffer is not fully filled, it is the EOF.

Then I checked out the behavior of `cat`. `cat` also makes an entra syscall.
[code]

[2020-03-11 04:19] SeeSpring commented on #58517
Seems to be due to specialization
Minimized version below
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9c46f99d197eff57a539fb1a995df0e4)
[code]

[2020-03-11 05:12] eddyb commented on #57349
@cramertj That (`&'static mut [T; 0]`) is a silly artificial limitation AFAIK, with a FIXME in the code, we just never fixed it (it's limited to runtime `fn`s, IIRC) - feel free to submit a PR and maybe we can FCP that or w/e. This issue is about non-`'static` `&mut` in CTFE.

`&'static mut T` where `T` is a ZST is an orthogonal extension of that, which we even used to have to some extent, but we

[2020-03-11 07:16] comex opened #69908 ""cannot borrow a constant which may contain interior mutability" for local variable inside constant evaluation"
This code [(playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9eaf4438991432c41b272b35023cdc82):
[code]
produces on latest nightly:

However, following the advice to create a static simply results in a "constants cannot refer to statics" error.

The limitation seems unnecessary.  We're not really borrowing a constant; `x` only exists during constant evaluat

[2020-03-11 07:57] RalfJung commented on #57349
No please no function calls in implicit promotion.

[2020-03-11 08:04] eddyb commented on #57349
Ah fair, I was thinking more from the fact that the value doesn't really matter if it's a ZST, but if there are preconditions (e.g. assertions) they would need to run first anyway.

[2020-03-11 08:13] RalfJung commented on #34538
An alternative would be to make `RwLock` fall back to `EnterCriticalSection` similar to what `Mutex` already does. Yes that would mean it's not an actual reader-writer lock (there'd be no concurrent readers, though many readers from the same thread would still work), but that still seems better than panicking...

[2020-03-11 08:50] tmiasko opened #69911 "Incorrect LLVM generated with mir-opt-level=2: cannot invoke intrinsic"
[code]

[code]

[2020-03-11 09:16] KodrAus opened #69912 "Tracking Issue for the Wake trait"
This is a tracking issue for the `Wake` trait.
The feature gate for the issue is `#![feature(wake_trait)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug re

[2020-03-11 09:21] Patryk27 opened #69913 "ICE with const generics with disabled feature flag"
Hi,

Following code ICEs on stable (1.41.1), beta (1.42.0-beta.6) and nightly (2020-03-10):

[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2d3c87e6d13351952993f7817b9cd525))

The issue arises when:
- an expression in used in place of array size (`[usize; A + B]` in this case),
- _and_ code generics are not enabled explicitly (notice missing feature a

[2020-03-11 09:22] contrun commented on #68839
Can you please elaborate on why this does not affect cargo and how cargo set the output file name?

It seems the crate type is parsed from https://github.com/rust-lang/rust/blob/15812785344d913d779d9738fe3cca8de56f71d5/src/librustc_session/config.rs#L1844-L1865. It is a vector. I am not sure if I need to add the prefix `lib`.

[2020-03-11 09:37] RalfJung commented on #69902
Note that, until we have figured out MIR semantics more precisely, this could be problematic... depending on how the analysis results are used, anyway. Moving out of a variable and then putting something back in is legal in Miri right now, and is guaranteed to keep the local at the same address, so points to it may remain valid (modulo Stacked Borrows). `StorageDead` on the other hand is like `fre

[2020-03-11 09:52] KodrAus commented on #69772
This case seems like a bug to me, and I think both `Ipv6Addr` and `IpAddr` should correctly identify the ipv4 loopback in ipv6 as the loopback address.

[2020-03-11 10:00] KodrAus commented on #69772
As a datapoint, .NET does identify `::ffff:127.0.0.1` as loopback:

[code]

[2020-03-11 10:15] rodrigorc commented on #62195
I don't think the lack of trait is a problem at all. For example I would expect any standard type that has a `len()` function to have an `is_empty()` too, no trait involved. It's like an expected pattern.

[2020-03-11 10:41] jonas-schievink commented on #69911
I guess intrinsics need to be `call`ed and not `invoke`d? Maybe the MIR inliner is inlining the intrinsic's wrapper, but keeps the `unwind` target intact when it shouldn't. Or this should be handled in codegen, not sure.

[2020-03-11 10:49] contrun commented on #68612
I have just added vectored send for `send`. It seems that we don't have binding for `sendmsg` from libc.

[2020-03-11 12:32] chrissimpkins commented on #69913
Source:

[code]

Godbolt shows that the ICE occurs in 1.39.0 and not in 1.38.0.

cargo bisect-rustc indicates that the regression is in nightly-2019-08-21.  We're outside of the 167 day CI date range window to bisect at the commit level with the tool.

Here is the commit dump:

 commit[0] 2019-08-19UTC: Auto merge of #63579 - alexcrichton:new-lockfile, r=Mark-Simulacrum
  commit[1] 2019-08-19UTC:

[2020-03-11 12:49] #62456 closed

[2020-03-11 12:49] #69490 closed

[2020-03-11 12:49] #69875 closed

[2020-03-11 12:55] MageSlayer opened #69918 "Can't use anonymous functions with calling conventions other that Rust"
Hi all

Compiler refuses to treat functions with other calling convention besides "Rust" to be used.

I tried this code:

[code]
### Meta
`rustc --version --verbose`:
[code]

[2020-03-11 12:59] contrun commented on #66632
This is already done in https://github.com/rust-lang/rust/blob/303d8aff6092709edd4dbd35b1c88e9aa40bf6d8/src/librustc_driver/lib.rs#L540

[2020-03-11 13:05] elichai commented on #56604
I'd love to see this change.
The current status is too foot gunny IMHO.

I really like the current status of rust that pointers are basically numbers. and they only matter when you dereference, and even then we have no strict alias rules etc. just alignment+size.(and data must be defined which might have implications with padding).

[2020-03-11 13:11] Centril commented on #54883
- On 2020-03-11, https://github.com/rust-lang/rust/pull/69891, written by @Centril and reviewed by @varkor and @Nadrieril, landed. The PR fixed a bug (https://github.com/rust-lang/rust/issues/69875) in exhaustiveness checking where the patterns `0 | (1 | 2)` and `x @ 0 | x @ (1 | 2)` would result in an ICE.

[2020-03-11 13:13] RalfJung commented on #56604
That is not true at all I am afraid. Even if you are talking about raw pointers only. See [this brief introduction to pointer provenance](https://rust-lang.github.io/unsafe-code-guidelines/glossary.html#pointer-provenance). Also, the fact that pointers have provenance is entirely off-topic here.

"Pointers are just numbers" is plain impossible with LLVM as a backend.

So I am wondering now what yo

[2020-03-11 13:19] elichai commented on #56604
Will read. I heard that a lot so it was more of a quote for me, but interesting to understand. thanks

Yes, I mostly wanted to say this because I encountered this UB in the past, mostly in types similar to `NonNull`, that accepted `*const T` instead of accepting `*mut T` and casting. and then you'd do `accepts_const_ptr(&mut something);` without realizing it casts it to a shared reference.

[2020-03-11 13:19] michaelwoerister commented on #65890
No, #68277 didn't change anything there. It fixed the `-Zshare-generics` problems by going another route.

[2020-03-11 13:35] RalfJung commented on #62825
Re-landing PR is up at https://github.com/rust-lang/rust/pull/69922.

[2020-03-11 13:47] RalfJung commented on #56604
Yeah unfortunately there is a lott of common "wisdom" about pointers in C/C++/Rust out there that is plain wrong. [Pointers are complicated](https://www.ralfj.de/blog/2018/07/24/pointers-and-bytes.html).

Yeah, that is one if the issues here.
A possible fix is to change desugaring here so that `&mut x as *const _` effectively becomes `&mut x as *mut _ as *const _`, but this might actually break so

[2020-03-11 15:03] bjorn3 opened #69924 "Corrupt backtrace printing"
The panic is caused by a problem in my code, but I expected a backtrace without garbage like `U▒`.

[code]

Sorry for the long repro steps. I don't know how to reduce this.

[code]

(bjorn3/rustc_codegen_cranelift@3e111967d297173b410ed4ad174e5bb0379ed6a2 keep alive for this commit)

[2020-03-11 15:11] eddyb opened #69925 "Support polymorphic InstanceDef's by avoiding double substitution."
#69036 papers over a problem in the use of MIR shim bodies, (i.e. applying `Instance`'s `substs`), by preventing `Instance::resolve` from succeeding if any substitution could *later* occur.

A MIR shim's body already encapsulates the final types (i.e. monomorphic for codegen, modulo "polymorphization" work), so we shouldn't substitute it any further (in codegen, miri, or MIR inlining).

Once we ad

[2020-03-11 15:34] DutchGhost commented on #69615
Edit:

This code ICE's as well, notice how this _does_ have the `const_if_match` feature enabled.
[code]

[2020-03-11 15:34] contrun commented on #66067
Seems to be fixed. https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=430f812f47e41c65e145054bc7e3953d

[2020-03-11 15:39] ehuss commented on #68839
I'm not sure I understand the relevance of the note about parsing crate types.

[This](https://github.com/rust-lang/cargo/blob/94c7bc7bdbdb76f36686640117edbe20ce0e1707/src/cargo/core/compiler/fingerprint.rs#L1614-L1618) is where Cargo parses the dep-info file. It only looks at the first line, and ignores the value before the `:`.

You can look at #49289 to start to investigate why binaries emit a

[2020-03-11 16:03] pietroalbini commented on #69823
We discussed this in the infra team meeting, and we'd like to see numbers on the impact this would have in our CI times before making a decision.

[2020-03-11 16:17] #69770 closed

[2020-03-11 16:55] pietroalbini commented on #69869
That explaination sounds plausible based on my limited understanding of the situation (not having any Apple system made writing and debugging that PR so much harder).

cc @Mark-Simulacrum on what the best approach for bootstrap would be

[2020-03-11 17:03] spastorino commented on #69855
Tagging as `P-medium` check [Zulip discussion here](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/pre-meeting.20triage.202020-03-12.20.2354818/near/190302987)

[2020-03-11 17:09] spastorino commented on #69798
@rustbot ping icebreakers-llvm

[2020-03-11 17:15] ecstatic-morse commented on #69902
That's good to keep in mind. The current `MaybeRequiresStorage` [is suitably conservative here](https://github.com/rust-lang/rust/blob/c20d7eecbc0928b57da8fe30b2ef8528e2bdd5be/src/librustc_mir/dataflow/impls/storage_liveness.rs#L261), so it should behave the same as `MaybeStorageLive` for borrowed locals.

Yeah, I had #68622 in mind when I brought this up. Specifically the hypothetical `Invalidate

[2020-03-11 17:15] spastorino commented on #69798
We have the first non working nightly which is `2020-02-28`, although it would be nice to get the first regresed commit or PR using [cargo-bisect-rustc](https://github.com/rust-lang/cargo-bisect-rustc).

[2020-03-11 17:22] spastorino commented on #69798
Tagging as P-high until we know how bad this issue is.

[2020-03-11 17:29] spastorino commented on #69785
@rustbot ping icebreakers-cleanup-crew

[2020-03-11 17:29] ecstatic-morse commented on #69710
The regression ultimately disappeared after #69879 (likely #69799).

@TimDiekmann It appears that minor changes to innocent-looking code in `alloc.rs` can result in relatively large perf changes. I suspect this will continue as `alloc.rs` is refactored. I think it would be a good idea to `rollup=never` or at least do a perf run on PRs that touch the allocator traits so we can more precisely attrib

[2020-03-11 17:37] spastorino commented on #69785
triage: P-high until we assess severity (the bug written depends on a feature flag) we want to know if that's really needed for the issue to reproduce.

[2020-03-11 17:41] spastorino commented on #54785
@rustbot ping icebreakers-cleanup-crew

[2020-03-11 17:50] Aaron1011 opened #69930 "Force ADT to be matched exhaustively (opposite of `#[non_exhaustive]`)"
The `#[non_exhaustive]` attribute prevents exhaustively matching an enum outside of the defining crate. However, it's sometimes useful to have the opposite of this behavior - that is, prevent *non*-exhaustively matching an enum *within* the defining crate.

For example, non-exhaustively matching on `DefPathData` or `TyKind` is often the wrong choice. By writing an exhaustive match (explicitly ment

[2020-03-11 17:52] spastorino commented on #54785
Sorry, I was a bit fast to ping the cleanup-crew group.

In an ideal world what we would like to do is to go back to the rustc version where this started to manifest and try to get an MVCE and then try to see if this is still an issue in current rustc versions.

However, the bug as written is based on abandoned code and it's kind of non actionable for us.

[2020-03-11 17:55] spastorino commented on #54785
After going over this with @pnkfelix we decided to tag as `P-low` with the intention to close it because it's kind of non actionable for us.

[2020-03-11 18:07] spastorino commented on #54515
We were checking this with @pnkfelix and noticed that there's no way for us to reproduce it and also @jjpe doesn't have access to the repo anymore.

Closing as non actionable.

[2020-03-11 18:07] #54515 closed

[2020-03-11 18:12] spastorino commented on #53881
In an ideal world what we would like to do is to go back to the rustc version where this started to manifest and try to get an MVCE and then try to see if this is still an issue in current rustc versions.

[2020-03-11 18:15] spastorino commented on #53881
Tagging as `P-low` with the intention to close.

[2020-03-11 18:20] spastorino commented on #41988
Closing as fixed as per @spamwax comment.

[2020-03-11 18:20] #41988 closed

[2020-03-11 18:26] Aaron1011 commented on #69924
@bjorn3: Can you check if this is an instance of https://github.com/rust-lang/rust/issues/69151 (i.e. the debuginfo is too large)?

[2020-03-11 18:28] jonhoo commented on #69785
fwiw, my _guess_ is that the feature flag is not necessary, and that the relevant `type = impl Trait` can be replaced by an `async fn`.

[2020-03-11 18:30] spastorino commented on #69420
After revisiting this, leaving as `P-high` and removing nomination.

[2020-03-11 18:31] bjorn3 commented on #69924
The total size of the target dir is less than 2GB, so debuginfo shouldn't be too large.

[2020-03-11 18:32] spastorino commented on #68304
After revisiting on triage, removing nomination.

[2020-03-11 18:46] Kixiron opened #69932 "ICE on inconsistent resolution for a macro"
### Code

The code is rather long and complicated, and I unfortunately don't have the time or will to attempt reduction as of now, so I committed it as-is to [this file](https://github.com/Kixiron/tagged-box/blob/563c864320a7f613db2961d87666215193e59beb/src/tagged_box_macro.rs).
My conjecture takes some setup, so bear with me. My code involves meta-macros, or macros that create other macros. While

[2020-03-11 18:48] staktrace opened #69933 "internal compiler error: cannot lex `source_file` without source: /home/ubuntu/.cargo/registry/src/github.com-1ecc6299db9ec823/ppv-lite86-0.2.6/src/x86_64/mod.rs"
The setup under which this occurs is somewhat complicated, but I'll try to reduce it as much as I can and update this issue with details. But basically it's using the latest nightly rustc and running `cargo check` on the latest `glean` code (https://github.com/mozilla/glean, rev a30e58cebe6888a6c15fcb58d32dc00a9c38bc17).

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error o

[2020-03-11 18:49] staktrace commented on #69933
Also to note: so far this has happened 2/2 times today. It didn't happen yesterday (which presumably was running using a slightly-older rustc and checking slightly-older glean code).

[2020-03-11 18:52] staktrace commented on #69933
Re-running the command:

[code]

in the proper directory on the machine in question reproduces the error. The file it's complaining about (`/home/ubuntu/.cargo/registry/src/github.com-1ecc6299db9ec823/ppv-lite86-0.2.6/src/x86_64/mod.rs`) exists and doesn't appear corrupted.

[2020-03-11 18:53] staktrace commented on #69933
Running the command over and over changes which crate it errors out on. In the initial run it was erroring out on `c2-chacha` but on subsequent runs it changes to `synstructure`, `serde_derive`, etc.

[2020-03-11 18:55] TimDiekmann commented on #69710
The next upcoming refactoring of `AllocRef` also regressed the performance slightly: #69889

[2020-03-11 19:00] nikomatsakis commented on #69925
So @davidtwco, @eddyb and I spent a while discussing this on Zulip in an effort to better understand what's going on. Folks might find [this topic](https://zulip-archive.rust-lang.org/216091tcompilerwgpolymorphization/75688theproblemwithdropglueandsubsts.html) or [this topic](https://zulip-archive.rust-lang.org/216091tcompilerwgpolymorphization/18863polymorphizingshimsvstransitiveanalysiswcycles.h

[2020-03-11 19:02] petrochenkov commented on #69932
I have copypasted the provided code into the playground and the ICE doesn't reproduce.

Could you check whether it reproduces on nightly?
It could be fixed by the PR making `duplicate_macro_exports` an error.

[2020-03-11 19:02] staktrace commented on #69933
If I remove the `RUSTFLAGS="-Z save-analysis"` bit then it works fine. So seems related to the save-analysis code.

/cc @Xanewok

[2020-03-11 19:13] Kixiron commented on #69932
Nightly does not ICE

[2020-03-11 19:16] eddyb commented on #69925
If you mean calling `.subst` on `Instance` that's a different bug that we should fix and that I wasn't aware of.

What we were talking about was `tcx.instance_mir(instance.def).subst(tcx, instance.substs)` (or rather, substituting parts of that `mir::Body`, in order to monomorphize).

[2020-03-11 19:30] spastorino commented on #16238
After talking with @pnkfelix during triage about this. We're inclined to close this issue due to being uncertain if having this issue open is any better. Maybe this feature needs a design meeting.

Closing but please feel free to reopen if you disagree with us :).

[2020-03-11 19:30] #16238 closed

[2020-03-11 20:31] ultrasaurus opened #69938 "incorrect error message for duplicate Send impl"
For a specific case, the compiler reports an incorrect error message when there is a duplicate error

I tried this code:

[code]

it reports this error:

[code]

If I comment out the line that calls foo.bar() I get the expected error:

[code]

Here's a [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=722dc1babdd7e50693b5010882d905c2)

### Meta

Reproduced in 1.1

[2020-03-11 20:31] ultrasaurus commented on #69938
thx @sgrif for helping to create an isolated example!

[2020-03-11 20:32] sgrif commented on #69938
/cc @estebank

[2020-03-11 20:40] nikomatsakis commented on #69925
No, I think I was wrong and didn't quite understand correctly (good to write things out, I suppose). In particular, `Instance` does implement `TypeFoldable`, but it *does* fold the types in the `def`.

In any case, the core problem is still (in my mind) one of namespaces:

The "public signature" of an `Instance` is expressed in terms of a def-id which carries attached generics G, and the substs ar

[2020-03-11 20:54] Boscop opened #69939 "VecDeque should support splice / extend_front"
`VecDeque` should support `splice` for convenience.
([`SliceDeque`](https://docs.rs/slice-deque/0.3.0/slice_deque/struct.SliceDeque.html#method.splice) supports it, but it doesn't build on wasm and seems kind of abandoned (several unmerged PRs with no updates).)

`VecDeque` should also support `extend_front` (like repeated `push_front` from an iterator. Compared to calling `q.splice(..0, iter)`, t

[2020-03-11 21:27] oconnor663 commented on #68905
https://github.com/rust-lang/stdarch/pull/842 is now up to speed with @Amanieu's proposal above.

[2020-03-11 22:21] cuviper commented on #69930
This also seems similar to `#[must_use]`.

[2020-03-11 23:16] Aaron1011 commented on #43081
@petrochenkov: I'd like to work on this issue - is there anything I can do to help?

[2020-03-11 23:32] ts826848 commented on #47739
@najamelan At least based on a quick reading, that particular kind of overflow checking is done by embedding the maximum possible logical value for an integral type into the type and tracking that maximum value across operations. It would work fairly well if you use a relatively small portion of an integer type's possible range, but isn't really a general solution.

I think const generics and cons

[2020-03-11 23:44] brain0 commented on #69719
The issue can also be reproduced with the following code snippet:

[code]

Uncommenting the commented line makes the snippet compile. Without it, the error message is as follows:

[code]

[2020-03-11 23:47] akiselev commented on #52893
@Centril I gave it a shot but I think I'm getting other confounding bugs and I can't get the type checking to pass. It's been over a year since I've looked at this Cthulhu's nest of code so I can't even tell if I'm moving in the right direction.

Good news is, it still crashes in its original form on `rustc 1.41.1 (f3e1a954d 2020-02-24) stable-x86_64-apple-darwin`!

---

[code]

---

Cargo.toml
[c

[2020-03-12 01:02] sfackler opened #69941 "Tracking Issue for Read::is_read_vectored/Write::is_write_vectored."
### Unresolved Questions

- [ ] What's the right naming for these methods?

### Implementation history

* #67841

[2020-03-12 02:48] tmandry commented on #68936
Update: I don't see a way of this getting fixed without async I/O in libtest.

Unless we want to spawn an extra 2 threads per test (one each for reading stdout/stderr), which seems bad for performance.

[2020-03-12 03:20] xobs commented on #16351
This issue is mentioned in src/librustc_target/spec/mod.rs:1271 as being a FIXME.  There still doesn't appear to be any sort of sane default search path.

I like @kevinmehall 's approach, which tucks the `target.json` inside the sysroot, making it easy to distribute.  I'd also vote for adding `.` to the list.

Should this issue be reopened, since it was closed without any solution?

[2020-03-12 03:52] cksac opened #69943 "const generics return type with const expression mismatched types"
I tried this code:

[code]

I expected to see this happen:
compile success

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-03-12 06:05] petrochenkov commented on #43081
@Aaron1011
I still think https://github.com/rust-lang/rust/issues/43081#issuecomment-450641481 would be a good first step.
Attaching a `TokenStream` to `ast::Expr`, like it's already attached to `ast::Item`, and measuring the effect on performance.

If tokens are kept for all AST fragments in `token::Nonterminal`, it will eliminate at least one major source of pretty-printing.

[2020-03-12 06:10] Patryk27 commented on #69943
This is a by-design thingie: https://github.com/rust-lang/rfcs/blob/master/text/2000-const-generics.md#equality-of-two-abstract-const-expressions

[2020-03-12 08:47] cksac commented on #69943
thanks @Patryk27, seems it is an Unresolved questions according to the RFC. But the error message is a bit confusing.

[code]

[2020-03-12 08:49] cecton opened #69944 "Missing "`impl Trait` introduces an implicit type parameter" when the trait comes from another crate"
When a trait has a method that has type parameters (`fn foo<T>()`) and implicit type parameters (`fn foo(x: impl Clone)`), if you impl the trait, the compiler gives the error:

[code]

This is fine but if the trait comes from another crate, the compiler will just say:

[code]

Here is a repository with this sample code: https://github.com/cecton/rust-type-param-error

I expected to see this happen

[2020-03-12 09:10] RalfJung commented on #56604
Even with the changed desugaring, Stacked Borrows still fails on that example because of the way retagging works: `&raw const <expr>` becomes something like
[code]
Then retagging will consider the type of `_tmp` to see which permissions to acquire for the new pointer, and it'll be `*const T` so it asks for read-only permission. And hence the error.

If we want to make `*const` not significant in t

[2020-03-12 10:13] ashthespy commented on #61072
Just ran into the same issue with `rustc 1.41.0 (5e1a79984 2020-01-27)`

[2020-03-12 10:42] RalfJung commented on #54384
So what is the plan here? We now have a more traditional [step limit](https://github.com/rust-lang/rust/pull/67260) for CTFE. @ecstatic-morse said [they'd submit a PR to remove the loop detector](https://rust-lang.zulipchat.com/#narrow/stream/146212-t-compiler.2Fconst-eval/topic/Time.20limits.20during.20const-eval/near/183588492) once that lands, so I guess doing so is all that remains to be track

[2020-03-12 10:45] RalfJung commented on #67217
Status update: https://github.com/rust-lang/rust/pull/67260 landed, but from what I can see that is a global limit, not per-item as the issue here tracks. It's just the first step, then.

[2020-03-12 11:35] staktrace commented on #69933
I'm able to reproduce this in a local environment as well. Minimal steps so far:

[code]

I ran `cargo` with `--verbose` and the specific `rustc` invocation that's reliably reproducing the failure is:

[code]
(Obviously your paths may vary)

Also note that this does NOT happen with `rustup default nightly-2020-03-10` so it's a regression between rustc version `3dbade652` and rustc version `1581278

[2020-03-12 11:41] staktrace commented on #69933
Rust regression range: https://github.com/rust-lang/rust/compare/3dbade652...158127853

[2020-03-12 11:42] staktrace commented on #69933
If you're unable to repro or need more detail feel free to let me know. Otherwise for now I'm leaving this with you (i.e. rust developers) to dig into.

[2020-03-12 12:06] bjorn3 opened #69946 "Add in memory object files support to CompiledModule and ArchiveBuilder"
https://doc.rust-lang.org/nightly/nightly-rustc/rustc_codegen_ssa/struct.CompiledModule.html

https://doc.rust-lang.org/nightly/nightly-rustc/rustc_codegen_ssa/back/archive/trait.ArchiveBuilder.html

rustc_codegen_cranelift can emit object files to memory without writing them to the disk. With the current setup they need to be written to the disk before an rlib can be created. This doubles the amo

[2020-03-12 12:16] JohnTitor commented on #67739
Now ICE no longer occurs. I think it's fixed by #69859.

[2020-03-12 12:17] JohnTitor commented on #62504
Now ICE no longer occurs. I think it's fixed by #69859.

[2020-03-12 12:23] JohnTitor commented on #69092
Now ICE no longer occurs, I think it's fixed by #69893. Marked as E-needstest.

[2020-03-12 12:37] FireCubez opened #69948 "ICE on calling a macro with structs with type params."
### Code

I don't know which part causes the error, but here's the [zipfile](https://cdn.discordapp.com/attachments/255409416772386817/687640266491953199/ffi-std.zip). It's very small, just 3 source files.

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-12 12:46] Centril commented on #52893
@rustbot ping ICEBreaker-Cleanup-Crew

[2020-03-12 12:48] Centril commented on #52893
Let's see if we can get some help reducing the bug.

@rustbot ping icebreakers-cleanup-crew

[2020-03-12 13:29] bjorn3 commented on #68349
@rustbot modify labels:+A-cranelift

[2020-03-12 13:32] bjorn3 commented on #66690
@rustbot modify labels:+A-cranelift

[2020-03-12 13:35] pierreN commented on #52893
Hi! First time I have some time to do some ICE work.

I could remove the frunk/frunk_core dependency and some trait implementations and still have the compiler error : https://p.pnn.sh/heho.rust

I'll try to see if I can reduce it more.

[2020-03-12 13:38] Mark-Simulacrum commented on #69869
I'm pretty much down for any solution in bootstrap, detecting the macOS version sounds finicky but also reasonable. I am unlikely to invest time into fixing this myself, though I would be happy to review a PR.

[2020-03-12 13:44] Centril commented on #69948
Let's try to reduce / bisect the bug and see if it reproduces on a current nightly.

@rustbot ping icebreakers-cleanup-crew

[2020-03-12 13:45] ketsuban commented on #69948
I'm [unable to reproduce this on the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3b46e803c9199b64ae859e1656f9ea47).

[2020-03-12 13:46] FireCubez commented on #69948
It seems this may have been patched on the latest nightly. I'm currently unable to test.

[2020-03-12 13:51] bjorn3 commented on #67097
@rustbot modify labels:+A-cranelift

This is one step closer towards using cg_ssa in cg_clif.

[2020-03-12 13:53] bjorn3 commented on #56108
@rustbot modify labels:+A-codegen

[2020-03-12 13:54] Centril commented on #69948
Great, I think we can close the issue then. Thanks for the report.

[2020-03-12 13:54] #69948 closed

[2020-03-12 14:06] LeSeulArtichaut commented on #69282
@jakevossen5 Are you still working on this? Or can I take it up?

[2020-03-12 14:17] hellow554 commented on #52893
@pierreN removing all comments is also recommended ;) but good work so far!

[2020-03-12 14:40] wesleywiser commented on #50780
I believe this can be closed now. We have the [`-Zself-profile` option](https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/self-profile.html), [tools to process](https://github.com/rust-lang/measureme) that data and [documentation](https://blog.rust-lang.org/inside-rust/2020/02/25/intro-rustc-self-profile.html) on how to do so.

[2020-03-12 14:40] #50780 closed

[2020-03-12 14:42] jakevossen5 commented on #69282
@LeSeulArtichaut , Apologies, I have gotten a bit busy in the past week. I am still working on this and hopefully have a PR up sometime next week.

[2020-03-12 14:44] nikomatsakis commented on #69785
So, for cleanup crew ICE-breakers who might take a look at this:

(a) we should try to get a backtrace with line numbers
(b) we should see if this is a regression and track down the cause (maybe jump back a few months and see if the corresponding nightly from that time works?)
(c) it'd be interesting to see if we can remove the `type = impl Trait` from the impl and thus reproduce on something that

[2020-03-12 14:47] Centril commented on #69785
Downgrading priority for now until we can reproduce without the gate.

[2020-03-12 15:24] pnkfelix commented on #69841
@rustbot ping icebreakers-llvm

Namely, we have these LLVM-specific work items:
 * [x] The comment thread above indicates that this is fixed upstream
 * [ ] Is there an attached bug for the fix?
 * [ ] can we backport a narrow fix?
 * [ ] and/or push the upgrade through to the newer version of LLVM?

[2020-03-12 15:27] pnkfelix commented on #69785
related [discussion from T-compiler meeting](https://zulip-archive.rust-lang.org/131828tcompiler/53740weeklymeeting2020031254818.html#190396517)

[2020-03-12 15:28] pnkfelix commented on #69307
[Discussed](https://zulip-archive.rust-lang.org/131828tcompiler/53740weeklymeeting2020031254818.html#190397745) in T-compiler meeting. Keeping as P-high but removing nomination.

[2020-03-12 15:29] eddyb commented on #39412
Doesn't `side_effect_$` already successfully tokenize as `side_effect_ $`?

[2020-03-12 15:30] pnkfelix commented on #67191
[Discussed](https://zulip-archive.rust-lang.org/131828tcompiler/53740weeklymeeting2020031254818.html#190398740) in T-compiler meeting.

This is awaiting an implementor. @oli-obk might be able to provide mentoring notes (their availability was not 100% clear from meeting discussion, though).

Removing nomination, keeping P-high.

[2020-03-12 15:31] cuviper commented on #69841
If this proves difficult, another option is to revert the commit that introduced it.

[2020-03-12 15:32] pnkfelix commented on #62529
[Discussed](https://zulip-archive.rust-lang.org/131828tcompiler/53740weeklymeeting2020031254818.html#190399437) in T-compiler meeting.

There has been some movement on lazy-normalization this year. But its not something that we are actively prioritizing.

Removing nomination.

[2020-03-12 15:49] Centril commented on #69930
The caveat about `if let` & `while let` makes this not the dual of `#[non_exhaustive]`, which allows `if let` on a variant because of the implicit `_` pattern from the `else` branch (it's implemented this way in the compiler due to desugaring to `match`). Also, if we see `if let` as a combination of `if` and `let`, then the behavior for `let` diverges in expression and statement form (meaning we c

[2020-03-12 15:50] mexus commented on #67724
Component history fixed by@LeSeulArtichaut in https://github.com/rust-lang/rustup-components-history/pull/13

[2020-03-12 16:51] sisshiki1969 opened #69951 "Rust Language Server crushes on start-up."
RLS crushes on every VSCode start-up, after version-up of rustc to 1.43.0-nightly(2020-03-11).
The compiler says "cannot lex `source_file` without source: `.../.cargo/registry/src/github.com-1ecc6299db9ec823/ppv-lite86-0.2.6/src/x86_64/mod.rs`", but this file exists in the folder.
The whole message output is as follows:
[code]
Thanks!

[2020-03-12 17:02] jonas-schievink commented on #69951
Duplicate of https://github.com/rust-lang/rust/issues/69933

[2020-03-12 17:02] #69951 closed

[2020-03-12 17:32] sisshiki1969 commented on #69933
I have the very same crush with rustc 1.43.0-nightly (c20d7eecb 2020-03-11)  on both of Mac and WSL2/Ubuntu, every time Rust language Server starts up in VSCode.
[code]
[code]
 ### Error message:
[code]

[2020-03-12 17:35] nikic commented on #69841
For backporting, it should be fine to take the part of the patch up to (and including) https://github.com/llvm/llvm-project/commit/a7d992c0f2d235c67f04160405c5c5606408d4b1#diff-1f9547b463bf33c1dd86f485d0fa410eR1465, and drop the part after it. The part below it is a new feature that should not be backported.

[2020-03-12 17:59] pietroalbini commented on #67724
This shipped in 1.42.0! Thanks everybody who helped with this effort!

[2020-03-12 17:59] #67724 closed

[2020-03-12 17:59] stouset commented on #53738
@zackmdavis This seems to have regressed.

[code]

[2020-03-12 18:03] stouset opened #69952 "Regression of #53738: spurious single_use_lifetimes warning"
Issue #53738 seems to have regressed.

I tried this code:

[code]

I expected to see this happen: No warning should be produced.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]
</details>

[2020-03-12 18:15] jonas-schievink commented on #69952
From what I can tell, the `Eq` case might have never worked, since `Debug` still doesn't warn (so the linked issue specifically maybe *didn't* regress, only a closely related example incorrectly warns). This needs confirmation though.

[2020-03-12 18:20] maxbla commented on #39479
I fixed this with #66721, but this issue wasn't automatically closed

[2020-03-12 18:30] thomasjfox opened #69953 "Rust 1.42.0 can't compile Rust 1.42.0"
Hello together,

compiling Rust 1.42.0 with Rust 1.42.0 results in this error early on:
[code]

I'm now going to test this fix:
https://github.com/rust-lang/rust/commit/5f979e9afab42dd7536ca93994de66169880361e#diff-6710e3160b86e8cc371d2ff58ae1061c

The compiler was built with Rust 1.41.1.
I always do the "Rustception" test ;)

[2020-03-12 18:34] tmiasko commented on #69911
The implementation ends up calling pause intrinsic declared as follows:

[code]

The rustc codegen is completely unaware that it is dealing with an intrinsic,
it just changes the symbol name. Looks like the whole feature was introduced by
accident, and `link_llvm_intrinsics` feature gate was introduced after the fact
to make it unstable.

[2020-03-12 18:42] cuviper commented on #69953
That change can also be found in https://github.com/rust-lang/rust/commit/31dcdc9e13c324d33a18db3aed7f4b3208ff3744#diff-6710e3160b86e8cc371d2ff58ae1061c, part of the PR when the master branch updated bootstrap to 1.42-beta.

[2020-03-12 18:44] #39479 closed

[2020-03-12 18:46] oconnor663 commented on #68905
As of the 1.42 release today, `cargo +beta install b3sum` is failing. This fix will need to be backported.

[2020-03-12 19:03] cuviper commented on #69952
It also fails in 1.40 and 1.41.

It gets a different error in 1.39, with `Eq` complaining that `PartialEq` is not implemented, but if you add that then it does compile successfully.

[2020-03-12 19:36] #68896 closed

[2020-03-12 19:41] rust-highfive opened #69957 "`clippy-driver` no longer builds after rust-lang/rust#69950"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#69950, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritizatio

[2020-03-12 19:55] Mark-Simulacrum commented on #69953
Hm, I wonder if we should disable deny-warnings by default if we're not in a git repository or so -- in practice I *think* it's true there's nothing we could have done to prevent this? i.e., rust-lang/rust needs the parens gone to be able to bootstrap.

[2020-03-12 20:06] cuviper commented on #69953
I'd still like to see something like distcheck for this -- e.g. use the result of a build as the stage0 of a new build. Even just `./x.py check` that way would have caught this, I think. At least the removed parens are still compatible either way, so we don't have a dilemma between old and new.

[2020-03-12 20:21] Amanieu commented on #67058
I have some concerns regarding the naming of these methods.

First of all, the general convention in all existing methods is to put `unchecked` at the end of the name. The only exception to this rule is `get_unchecked_mut`.

Secondly, I feel that `approx` is a poor description of what is happening. This is particularly concerning since this is an unsafe function.

I propose that these methods be r