[2019-12-23 17:10] #56664 closed

[2019-12-23 17:19] Mark-Simulacrum commented on #54359
I see:

[code]

So I suspect that this has since been fixed; closing.

[2019-12-23 17:19] #54359 closed

[2019-12-23 17:24] Mark-Simulacrum commented on #53853
I'm going to close this issue since our hash maps are now a thin wrapper around hashbrown which hopefully doesn't suffer from these issues; if it does, this should be refiled upstream. A cursory examination didn't find any obvious problems for sentinel use of dangling or so.

[2019-12-23 17:24] #53853 closed

[2019-12-23 17:28] Mark-Simulacrum commented on #52976
We now have some extensive documentation about use of Box with FFI and generally the properties we guarantee: https://doc.rust-lang.org/nightly/std/boxed/index.html#memory-layout. Closing.

[2019-12-23 17:28] #52976 closed

[2019-12-23 17:45] Centril opened #67565 "NLL diagnostics for `ref mut z @ &mut Some(ref a)` uses `_` as binding name"
Context: https://github.com/rust-lang/rust/pull/66296#discussion_r360948984

The `_` below should be `z` instead.

[code]

cc @mark-i-m @pnkfelix @matthewjasper

cc https://github.com/rust-lang/rust/issues/65490

----------------------

Minimal reproducer:
[code]

[2019-12-23 17:49] Kixunil commented on #27812
Does this mean suppressing optimizations used for benchmarking will stop working?

[2019-12-23 17:53] Mark-Simulacrum commented on #27812
I think your comment has nothing to do with this issue? The unstable `test` crate is still shipped, it was never gated behind the rustc_private flag.

[2019-12-23 17:56] Kixunil commented on #67228
I'm highly surprised `assume` has poor interactions, I'd expect it to be noop at worst. Sounds like an LLVM bug?

Anyway, I guess I'd go with minimal PR that doesn't mess with it.

[2019-12-23 18:06] Mark-Simulacrum commented on #67228
`assume` can "overfit" by providing too much information in ways that LLVM is not quite prepared for essentially. The minimal PR is likely better in any case :)

[2019-12-23 18:33] pnkfelix commented on #66367
(also, the reported "compiler flags" in the diagnostic says `-C incremental` when the actual option was `-C incremental=incr`. A subtle difference but I bet it would mean the world to some people trying to debug something...)

[2019-12-23 20:46] cr1901 commented on #38487
@japaric @steveklabnik My understanding is that upstream wants to prevent proliferation of various calling conventions, hence no movement on this.

The "special" calling convention for msp430 is: You must save all registers that you modify (except `PC` and `SR`), including call-clobbered registers that are normally temporaries. This to me sounds like a generic "save everything" calling convention.

[2019-12-23 21:03] Manishearth commented on #64224
I don't really recall much about that.

[2019-12-23 21:08] guzt opened #67567 "ICE on invalid syntax in proc macro attr"
main.rs:
[code]

ice.rs:
[code]
(reduced sample courtesy of @ComputerDruid)

Output:
[code]

[2019-12-23 21:15] pnkfelix commented on #66367
The panic is due to this assert failure in `execute_copy_from_cache_work_item`:

https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc_codegen_ssa/back/write.rs#L868

My first instinct was to try to revise the logic so that we would force the code generation of the bytecode when `-C save-temps` is added to the command line.

But after thinking about it more,

[2019-12-23 21:43] RalfJung commented on #61345
@oli-obk do #67000 and the other planned changes around statics change anything here?

[2019-12-23 21:49] #61495 closed

[2019-12-23 21:49] #62397 closed

[2019-12-23 21:49] #67226 closed

[2019-12-23 21:49] #60822 closed

[2019-12-23 21:49] #67461 closed

[2019-12-23 21:51] oli-obk commented on #61345
I think we can do this, yes. Instead of having GlobalAlloc::Static we could just have this AllocId refer to the real allocation directly. Since we have a scheme to lazily fill in the allocation for an ID this should work out by temporarily also having the ID in the local alloc map. The only worry I have is that we'll be able to mutate a static's memory via its name in the initializer of said stati

[2019-12-23 22:23] Mark-Simulacrum commented on #64224
Hm, maybe @jdm can say more here (they filed https://github.com/rust-lang/rust/issues/34727 way back). We got catch_unwind down to a "pretty fast" function there, though.

https://github.com/rust-lang/rust/issues/64222 is basically the same as this issue we can't optimize out the unwind code path in the "does not unwind" case because we don't tell Rust that that's the case.

[2019-12-23 22:33] Centril commented on #54883
On 2019-12-22, https://github.com/rust-lang/rust/pull/67439, written by @Centril and reviewed by @matthewjasper, landed. Among other things, this PR simplified HAIR lowering of or-patterns a smidgen.

[2019-12-23 22:40] aidanhs opened #67568 "Chocolatey fails to download msys2"
https://github.com/rust-lang/rust/pull/67540#issuecomment-568315353

https://github.com/rust-lang/rust/pull/67268#issuecomment-568199051

[code]

In last infra meeting I said I was going to try mirroring an installed directory and see if that helps.

[2019-12-23 22:42] aidanhs commented on #67568
Also seen in https://github.com/chocolatey/chocolatey.org/issues/780

[2019-12-23 22:43] aidanhs commented on #67568
Need to revert https://github.com/rust-lang/rust/commit/3a6cd8e42ba605be53ca6d1cf1628085011f1ade when fixing

[2019-12-23 22:45] tensor-programming opened #67570 "Rust x86_64-pc-windows-msvc throttles CPU to 100%"
Looked around at other issues and didn't seem to find anything about this.

Ever since I updated the stable branch to `1.40`, I noticed that on compilation and on RLS compilation, the compiler eats my CPU usage and pushes it up to 100%.  This didn't bother me so much until it froze my operating system and forced me to restart during an RLS recompile.

I incorrectly assumed this had something to do

[2019-12-23 22:46] estebank opened #67571 "Suggest dereferencing on E0277 if appropriate"
[code]

Suggest `*foo` when `<&foo as &Foo>`, `Into<Bar>` is expected and `Bar: From<Foo>` is implemented.

[2019-12-23 22:55] jonas-schievink commented on #67570
Please provide an example code base on which this program occurs. How much RAM does your machine have? Is it full, or close to full?

[2019-12-23 23:40] tensor-programming commented on #67570
I have to correct myself from the initial issue.

Firstly, I wasn't running 1.40.0 when this crash happened.  I was running 1.39.0 without realizing it because the project that I built was using a rusttoolchain file.  Also, I incorrectly assumed that both the nightly and 1.39.0 were not ramping my CPU usage to 100% because I was building a much smaller project and not seeing this kind of load. In

[2019-12-23 23:40] aidanhs commented on #67568
Attempt to fix this by hitting the chocolatey CDNs directly in https://github.com/rust-lang/rust/pull/67572. I wanted to get the shortest path to working and least likely to have odd residual effects, which feels like doing the actual install process as before. I understand we'll be reviewing vendoring policy at all hands.

[2019-12-24 00:41] jdm commented on #64224
I have no data showing that catch_unwind is currently a performance problem, if that's the question being asked.

[2019-12-24 00:44] glandium commented on #60599
You could use mmap.c instead of alloc.c. That would still not make it use the #[global_allocator], but at least it wouldn't be using malloc/free. Alternatively, you could provide your own functions for those that are provided by alloc.c or mmap.c, and link that instead of alloc.c or mmap.c. None of these require control over the libbacktrace upstream source.

[2019-12-24 01:16] Centril commented on #67523
This is now unblocked as https://github.com/rust-lang/rust/pull/66296 has landed.

[2019-12-24 01:20] Centril commented on #67311
This is almost unblocked now that https://github.com/rust-lang/rust/pull/66296 has landed. However, we need more progress on or-patterns.

[2019-12-24 01:20] Centril commented on #65490
The initial implementation landed in https://github.com/rust-lang/rust/pull/66296. 🎉

I've filed some issues under [F-bindings_after_at](https://github.com/rust-lang/rust/labels/F-bindings_after_at) which need to be worked on (like those you see above this comment). The two immediate next steps would be to resolve https://github.com/rust-lang/rust/issues/67565 and https://github.com/rust-lang/rust

[2019-12-24 02:09] wesleywiser commented on #67539
It looks to me like the compiler is busy validating every `()` in the array. Bailing out if `dest_bytes.is_empty()` doesn't seem to make any difference at all. However, if I add a case for

[code]

to this match

https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc_mir/interpret/validity.rs#L587

then the compilation completes  in ~0.2 seconds. I'm not sure

[2019-12-24 02:12] Mark-Simulacrum commented on #52550
Given that this is a legacy specification, and no one has actually volunteered a need for this, I'm going to close this issue. If someone actually wants this, please let us know and we can reopen to consider whether we want to include it in std.

[2019-12-24 02:12] #52550 closed

[2019-12-24 02:32] Mark-Simulacrum commented on #50936
Closing -- I agree with the reasoning laid out here but this should be refiled on hashbrown if it's an issue there.

[2019-12-24 02:32] #50936 closed

[2019-12-24 02:39] Mark-Simulacrum commented on #49239
I don't personally think that we'd be interested in exposing constructors here as it both freezes our implementation and provides little to no downstream benefit (IntoInnerError has no complex logic or anything like that).

[2019-12-24 02:39] #49239 closed

[2019-12-24 04:19] Mingun opened #67577 "Non-sense diagnostic message from lifetime checker"
I try to write method, that will return some iterator to filtered internal vector of strings
[code]
But this code is not compiling with non-sense error, that recommends me to do thing, that already done:

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c7bd64a8b1c698ab819d8ddbc010486b))

Errors:

[code]
Reproduced on all channels

[2019-12-24 05:59] retep998 commented on #67570
Compilation using 100% of your CPU is the *intended* behavior. If you want to limit the amount of concurrency that Rust does you can customize that by specifying `[build] jobs = 1` in the [config](https://doc.rust-lang.org/cargo/reference/config.html).

[2019-12-24 06:48] #61747 closed

[2019-12-24 06:48] #66205 closed

[2019-12-24 06:49] #66270 closed

[2019-12-24 06:49] #67424 closed

[2019-12-24 08:28] gnzlbg commented on #64224
The problem being reported here is that Rust's `catch_unwind` generates 3x as much code as a C++ `try`/`catch` in one particular case at least - for the data, see the first post of this issue. Even for cases like [this one](https://gcc.godbolt.org/z/wB3y4o) suggested by @Mark-Simulacrum above, we still generate 2x as much code as C++.

[2019-12-24 08:31] tensor-programming commented on #67570
I see, well I guess I made a fuss about nothing.  I do still have concerns considering it crashed my computer.  I've been using rust for 2-3 years now and never encountered this kind of slow down and these problems.

[2019-12-24 08:31] #67570 closed

[2019-12-24 08:31] crlf0710 opened #67578 ""ref _" pattern should be accepted?"
[code]
I think this code should compile, but it seems it currently doesn't, giving the error
[code]
This written form doesn't conflict with the description within https://doc.rust-lang.org/nightly/reference/patterns.html#reference-patterns, and is indeed useful at times

[2019-12-24 08:38] crlf0710 commented on #57900
@rustbot modify labels to +A-traits +C-bug

[2019-12-24 08:39] crlf0710 commented on #53265
@rustbot modify labels to +C-enhancement

[2019-12-24 08:43] gnzlbg commented on #53853
Yes none of this applies to the new hashbrown impl. cc @Amanieu in case they want to re-read the comments and any of that rings a bell, but I haven't see anything like that in hashbrown.

[2019-12-24 08:44] Amanieu commented on #53853
I agree, I don't think any of this applies to hashbrown.

[2019-12-24 08:47] crlf0710 commented on #67577
Diagnostics problem. The fixed code should be:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9f4191c291ba46c866c77291e14505eb

[2019-12-24 08:54] Mingun commented on #67577
@crlf0710, thanks you very much!

[2019-12-24 09:05] redradist commented on #31436
I would suggest the following concept for try catch semantic ...

Consider the following code:

    union SomeFunctionMultipleError {
        err0: Error1,
        err1: Error2,
    }

    struct SomeFunctionFnError {
        index: u32,
        errors: SomeFunctionMultipleError,
    }

    fn some_function() -> Result<i32, SomeFunctionFnError> {
        if 0 == 0 {
            Ok(2)
        } els

[2019-12-24 09:24] retep998 commented on #67570
Freezing your computer is definitely not intentional, but can happen if all the parallel rust compilations happen to use enough memory to cause page file thrashing. Maxing out CPU usage alone won't freeze your PC but it definitely will cause things to slow down in the meantime.

[2019-12-24 09:29] jfrimmel commented on #67209
I did some more investigation: when using the system linker `ld` (_GNU ld (GNU Binutils) 2.33.1_) the section is included both if
- an object file with the section attribute is used and
- a static library containing the object file above.

Reproduction:
[code]
Both `archive-no.elf` and `archive-yes.elf` contain the section `.mysection`.
If I'm not mistaken, this should be the same setup as the Rus

[2019-12-24 09:44] drmason13 commented on #67571
I would have benefited from this, related forum post: https://users.rust-lang.org/t/methods-that-take-references-to-type-parameter/36088

When writing a method taking &T and comparing to a field T the compiler complains
[code]

The suggestion from rustc is:
[code]

But fellow rustaceans suggested:

If the compiler could suggest the latter instead it would be a great help :)

[2019-12-24 09:54] VirrageS commented on #67135
I think this is already fixed in 1.42.0-nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fd69e5c39cc9d3c6ed4f9feb5028dd32
with https://github.com/rust-lang/rust/pull/67354

[2019-12-24 10:27] RalfJung commented on #67539
Well, the ZST could be `!` or an empty enum, so we certainly can't skip all ZST.

[2019-12-24 11:27] aidanhs commented on #67568
@bors treeclosed-

[2019-12-24 12:34] CryZe opened #67582 "illegal instruction on x86_64-linux-android since 1.40.0"
It looks like when running the tests on x86_64-linux-android through qemu (via cross) they seem to fail due to an illegal instruction since the Rust 1.40 release. This happens consistently.

https://github.com/LiveSplit/livesplit-core/runs/362238400#step:8:141

[2019-12-24 13:13] wesleywiser commented on #67557
@bjorn3 You might be running into this unfortunate check

https://github.com/rust-lang/rust/blob/625375400cdd172877e81c3ce44ce68f2011af2d/src/librustc_mir/transform/inline.rs#L106

Try moving `ret_slice` below `main`.

[2019-12-24 13:16] wesleywiser commented on #67539
Ah, yeah that's a great point. I believe `ty::Tuple(t) if t.len() == 0` will only match the unit type. Perhaps it's worth including a special case for that?

[2019-12-24 13:20] jumbatm commented on #67557
Wow, that's hilarious. With just the changes @bjorn3 suggested, the inlining still doesn't work properly, but doesn't seem to break any existing stuff. But I've just tried this and yeah, putting ret_slice below main has made the MIR inliner work.

[2019-12-24 13:25] bjorn3 commented on #67557
[code]

This does inline, but somehow no assertion fires with current rustc. The printed MIR doesn't seem to show the the def_id from which the promoted originates, so I don't know what the problem is.

[code]

[2019-12-24 13:26] abdulniyaspm opened #67584 "value assigned to 'index' is never read"
I have the following `macro`(named `my_vec`) that I wrote as part of answering a stack overflow [question](https://stackoverflow.com/a/59469057/6699447).

[code]

But the compiler generating following warning
[code]

[2019-12-24 13:31] #67584 closed

[2019-12-24 13:36] oli-obk commented on #67539
Well... any zst that is not uninhabited can do this early bail out, so I think checking with https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/struct.TyCtxt.html#method.is_ty_uninhabited_from_any_module for uninhabitedness and then checking the element's zst-ness would work

[2019-12-24 13:37] jumbatm commented on #67557
Unless I'm misunderstanding something, isn't this the correct behaviour? Both of those assertions are true, and swapping `slice` and `promoted` around in the assertions correctly triggers an assertion failure.

[2019-12-24 14:15] bjorn3 commented on #67557
I forgot that this problem was only with `simd_shuffle`.

[2019-12-24 14:25] bjorn3 opened #67586 "[MIR-opt] conflicting debug info for argument"
[code]

@rustbot modify labels: +A-mir +C-bug +requires-nightly

[2019-12-24 14:44] allquixotic opened #67587 "Cross-compiling from Fedora to Windows using MinGW64"
On Fedora and Red Hat-derived systems (CentOS, etc.) there is a cross-compilation toolchain with the compiler triplet `x86_64-w64-mingw32`. Here are a few facts about it:

 - It has been supported at least since RHEL 7 / CentOS 7 and for about a dozen releases of Fedora
 - The packages are regularly updated
 - Fedora ships many free and open source software middleware packages as installable binar

[2019-12-24 15:06] aidanhs commented on #67568
Tentatively saying this is fixed after my PR above given we've had a number of things pass now

[2019-12-24 15:06] #67568 closed

[2019-12-24 15:12] RalfJung commented on #67539
I wouldn't use `!uninhabited` as a witness for things to be inhabited... this requires that there is no conservatism at all in the uninhabitedness check. (Also I have no idea what that function does.^^ The implementation talks about... forests?!?)

[2019-12-24 15:17] agbaroni opened #67589 "ICE with 1.40"
Hello,

this simple code returns an ICE with cargo run:

[code]

This is the backtrace:
[code]

[2019-12-24 15:22] Zoxc commented on #65031
The way we should structure the compiler for compilation speed would be to have `n` independent crates defining types basically working as header files. Then we'd have a `librustc_queries` crates which just declares queries which depends on the `n` header crates. After that we'd fan out to `m` independent crates containing query definitions and other code.

Currently `n` is 1 (libsyntax) and way t

[2019-12-24 15:27] agbaroni commented on #67589
The ICE is shown only if I add to Cargo.toml the dependency `nom = "^5"`

[2019-12-24 15:35] Zoxc commented on #65031
Another way to deal with `TyCtxt` would be to have a `QueryCtxt` trait in each crate and use `impl QueryCtxt` instead of `TyCtxt` for the utility methods in these crates. Maybe we could even remove the dependency on `librustc_queries` for some crates that way?

[2019-12-24 15:47] bjorn3 opened #67590 "[MIR-opt] Broken MIR for vec indexing with MIR inlining"
[code]

[code]

The mir inliner doesn't seem to inline `<Vec<()> as Index<usize>>::index` when not using the patched sysroot of [rustc_codegen_cranelift](https://github.com/bjorn3/rustc_codegen_cranelift/), so this problem doesn't trigger with the normal sysroot.

<details>

<summary>Optimized MIR</summary>

[code]

</details>

The `_12 = &(*_11)[_4];` is invalid because `_4` is of type `Range<usi

[2019-12-24 15:54] csmoe commented on #67578
this works as expected as single `_` is not a valid identifier

[2019-12-24 15:54] #67578 closed

[2019-12-24 15:59] Centril commented on #67586
cc @eddyb @michaelwoerister

[2019-12-24 16:15] bjorn3 commented on #67557
I got a working test:

[code]

[code]

[2019-12-24 16:19] bjorn3 opened #67591 "--emit mir doesn't show DefId of promoted"
While it is normally the same as the `DefId` of the local crate, when MIR inlining is performed, the promoted still point to the original function.

cc https://github.com/rust-lang/rust/issues/67557#issuecomment-568748063

[2019-12-24 16:36] gilescope commented on #66909
Thanks. Will tuck into this one now I'm on holiday.

[2019-12-24 17:18] rossmacarthur commented on #52688
This issue can be closed.

It was fixed in  #54199 and a regression test at [`src/test/rustdoc/issue-52873.rs`](https://github.com/rust-lang/rust/blob/master/src/test/rustdoc/issue-52873.rs) was added.

This can be confirmed by running:

[code]

vs now

[code]

[2019-12-24 17:23] tomaka opened #67593 "Feature `compiler_builtins_lib` is mentioned in docs but has been removed"
The `compiler_builtins_lib` feature is still mentioned at several places in the documentation: https://github.com/rust-lang/rust/search?q=compiler_builtins_lib&unscoped_q=compiler_builtins_lib

However trying to use it in code leads to an error:

[code]

[2019-12-24 17:52] kyleedwardsny commented on #47032
I believe I found a workaround until this is fixed. The trick is to put the `Cow` inside a dummy struct:

[code]

[2019-12-24 18:02] #66099 closed

[2019-12-24 18:07] kyleedwardsny commented on #47032
I just made an interesting discovery. The following does not compile:

[code]

So it seems that enforcing a `Sized` constraint somewhere in the loop makes this example compile (`Cow` allows the borrowed type to be `?Sized`.)

[2019-12-24 18:13] Amanieu commented on #64224
Could we get better codegen if we let `__rust_maybe_catch_panic` get inlined? LLVM should then be able to move most of the work into the `catch` path and improve the performance of the fast path. I'm not sure if this will help with code size though.

[2019-12-24 18:44] Mark-Simulacrum commented on #64224
`__rust_maybe_catch_panic` is what dispatches between panic=abort and panic=unwind currently; inlining it is possible but not entirely trivial. If we care about code size here, I have a number of ideas I can explore, but I would like to avoid spending the time unless we can find someone who has at least some level of "I care" about this :)

[2019-12-24 19:43] Zoxc commented on #65031
I ran `-Ztimings` too on Windows: [Results](http://gistpreview.github.io/?47bf85dca9b598ab907232b069c0e067).

It seems like `rustc_driver` is taking very long here, probably linker related. We can however see that `libsyntax` is much shorter after @Centril's changes.

[Here is also a check build.](http://gistpreview.github.io/?a8f6834a2d7fcf204796d3560258df5e)

[2019-12-24 20:56] eddyb commented on #67586
I wonder if this is caused by MIR inlining or by other passes like copy propagation.
The conflict with `"self"` would seem to suggest inlining (of a method call).

In any case, we can probably improve this for now by treating anything not in the outermost `SourceScope` as not an argument *user* variable (even when backed by an argument MIR local).

[2019-12-24 22:00] tguser402 commented on #66312
I managed to get similar symptoms without async but with `#![feature(arbitrary_self_types)]`. But this time the trait compiles.

[code]
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=83f8fd48766d3bcd61212a70b6db86df)

[code]

[2019-12-24 22:01] RalfJung commented on #67542
Fixed by https://github.com/rust-lang/rust/pull/67579

[2019-12-24 22:01] #67542 closed

[2019-12-24 22:48] #52688 closed

[2019-12-24 23:04] superobertking commented on #58563
I also met this issue when I was compiling code for Pintos. Using `lldb`, I found that the compiler crashed inside LLVM function [`(anonymous namespace)::MachineCSE::runOnMachineFunction`](https://llvm.org/doxygen/MachineCSE_8cpp_source.html#l00881). It dereferenced a null pointer. This might be a LLVM robustness bug.

[code]
rustc 1.42.0-nightly (0de96d37f 2019-12-19)
cargo 1.41.0-nightly (626f0f

[2019-12-24 23:06] superobertking commented on #58563
But I also found that there is a _conflict_ in my compile parameters. I had `relro-level` set to `full` and `relocation-model` set to `static` at the same time. Removing either of them would let the compiler work fine as usual.

Maybe you can provide your custom target json file and command lines (including environment variable exports) and see if there is any similar issue.

I also think there sh

[2019-12-25 00:37] jumbatm commented on #67557
Ah, that's a good test case. Yeah, that's definitely not the expected behaviour.

While messing about with your example, I also managed to come across an ICE with this slightly shorter version:

[code]
causes an ICE currently due to an internal index out of range.

The good news is that the changes you suggested fixes both of these test cases.  Good spot :) I'm putting up the PR now.

[2019-12-25 01:17] t-mw opened #67599 "Backtrace is <unknown> for dynamic library loaded through dlopen using absolute file path for rust >= 1.37.0 on OSX"
From Rust v1.37.0 onwards on Mac OS 10.14.6, a panic triggered in a dynamically loaded library does not produce a full stacktrace if the library was loaded by passing an absolute path to `dlopen`. ~~I haven't been able to test other platforms~~ Windows and Linux do not have the issue, see https://github.com/rust-lang/rust/issues/67599#issuecomment-568822600 and https://github.com/rust-lang/rust/is

[2019-12-25 01:37] crlf0710 commented on #67578
@csmoe I don't agree  `_` is wildcard pattern and i don't see any reason it can't be used here.

@Centril

[2019-12-25 01:40] crlf0710 commented on #67578
Mmmm ok, so it's a Identifier pattern. that's the reason why it's not accepted.

[2019-12-25 01:50] crlf0710 opened #67600 "[Feature request] Consider accepting "ref _" in wildcard pattern"
By using `let ref _x = <expr>`, one can lift the scope of temporary from one-line to the entire current scope. This is convenient and useful. Could we extend this to the wildcard pattern, so we don't have to name the `_x`?

cc. #67578

[2019-12-25 01:50] crlf0710 commented on #67578
Opened #67600  as a feature request.

[2019-12-25 02:03] crlf0710 commented on #67587
Usually the major problem is that their exception models are different. MinGW comes with different exception "flavors" and the one flavor that normal "rust-pc-windows-gnu" picks is different from what Linux distros ships. If they're consistent i think you can just use the built-in target to cross compile modulo a few linker path settings etc.

[2019-12-25 02:06] csmoe commented on #67600
`ref` will be phased out in the end as a more ergonomics already introduced, and wildcard already "cover" this since you can't use the ref. So I don't think itis necessary.

[2019-12-25 02:08] mqudsi commented on #67548
In the case of multiple unread writes to an immutable variable, there are no drawbacks to approach number one as they are necessarily exclusive.

[2019-12-25 02:15] jumbatm commented on #67599
I get the correct backtrace when I run the repro repo (ha) for both relative and absolute paths on Linux, using rustc 1.40.0:
[code]
Perhaps an OSX issue. Give me a moment - I'll see if Windows is affected.

[2019-12-25 02:41] jumbatm commented on #67599
Backtrace is fine on Windows 10, too.

[code]
I do also appear to get a segfault after the backtrace dump, though I'm not sure that's unexpected:
[code]

[2019-12-25 03:07] crlf0710 commented on #67600
the more ergonomics pattern-match syntax is only available in limited situations, as long as it doesn't cover all the use cases of the ole good `ref` (yet) they're two separate things.

[2019-12-25 03:13] jumbatm commented on #67589
I'm unable to reproduce this ICE in a new cargo project with  `nom = "^5",  with the code you specified pasted into main.rs.

Does your project have any other dependencies? Better yet -  are you able to push the project up which is causing this ICE?

[2019-12-25 03:14] Centril commented on #67600
`ref _` is, as far as I know, never necessary:
[code]
You can just use `_` instead.

[2019-12-25 03:14] #67600 closed

[2019-12-25 03:14] csmoe commented on #67600
I disagree with this, could you list out that?

[2019-12-25 03:21] dtolnay commented on #43781
We tried out this feature in Syn (https://github.com/dtolnay/syn/pull/734) and decided against using it yet.

<br>

## What I am happy with

I like how the message turns out at the top of the doc page of a single type or function.

<p align="center"><img src="https://user-images.githubusercontent.com/1940490/71430597-cd55e900-269a-11ea-94df-638b8289a0db.png" width="80%"></p>

We had previously dis

[2019-12-25 04:32] retep998 commented on #67587
Remember to do `rustup target add x86_64-pc-windows-gnu` and then specify `--target x86_64-pc-windows-gnu` in your `cargo` commands.

[2019-12-25 05:41] crlf0710 commented on #67600
@Centril
After some thought, now i agree that "ref _" is not really the correct thing to add. What i **really** want is something that's anonymous but can force move the value out and promote it to the `'static` lifetime at the same time, and the wildcard pattern cannot force the move. I should think more about this.

@csmoe
Sure, some program like
`fn foo(ref mut foo: i32) {}`
has no direct equiv

[2019-12-25 05:57] csmoe commented on #67600
`foo: &mut i32` works the same way as `ref mut foo: i32`.

[2019-12-25 07:54] netvl commented on #63033
I think I found another example of this:
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b5b670e22e655bb49793fcc82d66c30a))

This example more or less represents what I met in my code (when I tried to pass a structure with a type parameter to an async function with the default value for this type parameter being a trait object), but it can be simplifie

[2019-12-25 07:59] brson commented on #47317
Thanks @michaelwoerister

[2019-12-25 08:49] Zoxc commented on #65088
You can now do this with `CARGOFLAGS=-Ztimings`.

[2019-12-25 09:47] Dylan-DPC commented on #60258
The feature has been stabilised. Closing this. Thanks :)

[2019-12-25 09:47] #60258 closed

[2019-12-25 10:08] Dylan-DPC commented on #44294
@dtolnay the above example works now without the requirement of `extern crate`. Is there anything else blocking this other than #46991?

[2019-12-25 10:47] SimonSapin opened #67601 "Regression in Servo: "internal compiler error: mutable allocation in constant""
https://community-tc.services.mozilla.com/tasks/bdytAYuMTdWK1kbybZ6FWA/runs/0/logs/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FbdytAYuMTdWK1kbybZ6FWA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L1943

[code]

(Many other occurrences)

[code]

The crate uses `#![feature(const_fn)]`.

Example of one of the affected `const` items:

[code]

Definitions of types in

[2019-12-25 11:14] Centril commented on #67601
If possible, providing a self-contained example that fits into the playground would make minimization and finding the cause of the ICE easier.

[2019-12-25 11:53] oli-obk commented on #67601
Repro extracted from example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d437e043d28ec84f02dd5467c36fc645

minifying now

[2019-12-25 12:04] SimonSapin commented on #67601
Reduced to slightly different output but still with `mutable allocation in constant`:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7f1b44b6e5923a0c7c6697903fffdf3a))

Errors:

[code]

[2019-12-25 12:10] oli-obk commented on #67601
This code is 100% reasonable and should not be ICEing or erroring. I think the reason it is ICEing is the raw pointer causing the allocation to not get interned as immutable, even though it must be.

Basically the inner `&` does not get its own promoted:

[code]

gives the following MIR

[code]

cc @ecstatic-morse promoteds still contain the inner promoteds as just locals without `StorageDead` mar

[2019-12-25 12:11] Centril commented on #67601
( cc also @RalfJung & @eddyb )

[2019-12-25 12:12] oli-obk commented on #67601
I'll prep a fix.

[2019-12-25 12:15] RalfJung commented on #67601
Well I beg to disagree, this creates non-`Sync` shared allocations in constants, which is very much not reasonable (Cc https://github.com/rust-lang/rust/issues/49206). But that's a separate issue.

[2019-12-25 12:24] oli-obk commented on #67601
well... 100% reasonable from our current rule set, which does a const body based analysis instead of relying on our type system. I didn't say the rule set is 100% reasonable.

[2019-12-25 15:46] steveklabnik commented on #56530
Triage: are you, or is anyone else, still seeing this? Any chance we could get a full reproduction, including code?

[2019-12-25 15:46] steveklabnik commented on #54294
Triage: are you, or is anyone else, still seeing this problem? Any chance of getting a smaller reproduction?

[2019-12-25 15:48] steveklabnik commented on #57146
Triage: going to close this one as "can't reproduce." @xMAC94x if you're still seeing this, please provide a reproduction that works today!

[2019-12-25 15:48] #57146 closed

[2019-12-25 16:00] steveklabnik commented on #27843
Triage: here's the full code, today:

[code]

and the error:

[code]

[2019-12-25 16:01] steveklabnik commented on #27834
Triage: this still fails to compile, with

[code]

[2019-12-25 16:02] steveklabnik commented on #40107
Triage: this is still deny by default.

[2019-12-25 16:02] steveklabnik commented on #42524
Triage: not aware of any major move to stabilize this.

[2019-12-25 16:03] steveklabnik commented on #27692
Triage: I'm going to close this bug. Felix, if you still feel this deserves to be open, please do so with clarifications :)

[2019-12-25 16:03] #27692 closed

[2019-12-25 16:04] steveklabnik commented on #27603
Triage: still reproduces.

[2019-12-25 16:05] steveklabnik commented on #27214
Triage: still reproduces.

[2019-12-25 16:06] steveklabnik commented on #27089
Triage: this bug is still ignored, not sure if it's fixed on its own by now or not https://github.com/rust-lang/rust/blob/e938c2b9aae7e0c37c382e4e22bdc360e9a4f0b6/src/test/debuginfo/generic-enum-with-different-disr-sizes.rs#L1

[2019-12-25 16:07] steveklabnik commented on #26951
Triage: still blocked on a libs team decision.

[2019-12-25 16:08] steveklabnik commented on #26841
Triage: still reproduces today

[2019-12-25 16:09] steveklabnik commented on #26486
Triage: still not 100% sure of the status here, maybe @GuillaumeGomez can decide if this is fixed, or a thing that we may or may not fix in the future.

[2019-12-25 16:11] steveklabnik commented on #26361
Triage: not any changes here. Per niko's last comment, I am guessing this is a WONTFIX, especially given that nobody else other than the original reporter has commented here, really. I'm gonna give this one a close for now, please let me know if this is still useful to track.

[2019-12-25 16:11] #26361 closed

[2019-12-25 16:11] steveklabnik commented on #26218
Triage: given @nikomatsakis 's explanation that this is expected behavior, and there doesn't seem to be a ton of folks interested in changing it, I'm going to close this issue. Thank you!

[2019-12-25 16:11] #26218 closed

[2019-12-25 16:12] steveklabnik commented on #25345
Triage: still no change. I'm not sure that this is going to ever be fixed.

[2019-12-25 16:13] steveklabnik commented on #25229
Triage: above bug doesn't seem like it will be fixed, not aware of any other changes.

[2019-12-25 16:13] steveklabnik commented on #25050
Triage: still reproduces today

[2019-12-25 16:15] steveklabnik commented on #26080
Triage: still reproduces, not something that I think we're likely to change?

[2019-12-25 16:15] steveklabnik commented on #23762
Triage: still reproduces

[code]

[2019-12-25 16:16] steveklabnik commented on #23581
Triage: no change

[2019-12-25 16:17] steveklabnik commented on #22405
Triage: as far as I know, everything about box syntax is going back to first base, right? I'm not sure if this issue is useful or not.

[2019-12-25 16:17] steveklabnik commented on #22043
Triage: as far as I know, everything about box syntax is going back to first base, right? I'm not sure if this issue is useful or not.

[2019-12-25 16:17] steveklabnik commented on #16847
Triage: not aware of any changes, but then again, I wouldn't be

[2019-12-25 16:20] steveklabnik commented on #28057
Triage: no change

[2019-12-25 16:21] steveklabnik commented on #28360
Triage: no change, and 20041 hasn't landed yet.

[2019-12-25 16:22] steveklabnik commented on #28954
Triage: no change

[2019-12-25 16:22] steveklabnik commented on #30220
Triage: is anyone still seeing this issue? Any way of reproducing it more easily?

[2019-12-25 16:23] steveklabnik commented on #30642
Triage: with the last comment, only two still are.

[2019-12-25 16:24] steveklabnik commented on #32087
Triage: given Mark's last comment, and with no more details, I'm going to give this a close. Thanks!

[2019-12-25 16:24] #32087 closed

[2019-12-25 16:25] steveklabnik commented on #30483
Triage: given niko's last comment, I think I'm going to close this one too. It's been a few years, and this feels very much like a "needs an RFC" thing to me. Let me know if that's wrong. Thanks!

[2019-12-25 16:25] #30483 closed

[2019-12-25 16:31] steveklabnik commented on #32808
Triage: this does not seem to reproduce today, closing!

[2019-12-25 16:31] #32808 closed

[2019-12-25 16:34] steveklabnik commented on #32739
Triage: no changes. Given that nobody has requested this since 2016, I think I'm gonna give it a close. Thanks!

[2019-12-25 16:34] #32739 closed

[2019-12-25 16:34] steveklabnik commented on #32918
Triage: not sure if anything has changed here, but I don't think so.

[2019-12-25 16:34] steveklabnik commented on #32921
Triage: not sure if anything has changed here, but I don't think so.

[2019-12-25 16:34] steveklabnik commented on #32925
Triage: not sure if anything has changed here, but I don't think so.

[2019-12-25 16:34] steveklabnik commented on #33121
Triage: not sure if anything has changed here, but I don't think so.

[2019-12-25 16:35] yzhong52 opened #67606 "Typo in semaphore in the doc"
I noticed that this is fixed by this commit:

https://github.com/rust-lang/rust/commit/ac27ec2a4877fcbf778e103022c5e654f8c248b0

However, in the rust-lang doc, the typos was still there:

https://doc.rust-lang.org/1.7.0/std/sync/struct.Semaphore.html

The file is nowhere to be found on the master. So I assume it was deleted and the doc was just out of date?

[2019-12-25 16:35] steveklabnik commented on #33139
Traige: still reproduces. Updated code that's had `dyn` added and `rustfmt`'d:

[code]

[2019-12-25 16:36] steveklabnik commented on #33147
Triage; no changes I'm aware of.

[2019-12-25 16:36] steveklabnik commented on #33175
Triage: no changes I'm aware of

[2019-12-25 16:37] Mark-Simulacrum commented on #67606
We do not have semaphores in the standard library today; those docs are quite old (we are on version 1.40 now).

[2019-12-25 16:37] #67606 closed

[2019-12-25 16:40] steveklabnik commented on #36722
Triage: some of these are better, but not fixed yet.

[2019-12-25 16:42] steveklabnik commented on #37268
Triage: this is a metabug, so no direct progress.

[2019-12-25 16:43] steveklabnik commented on #37538
Triage: no changes

[2019-12-25 16:44] steveklabnik commented on #37852
Triage: it's been a few years, and a *lot* has changed. @g5pw let me know if you're still seeing this today.

[2019-12-25 16:44] #37852 closed

[2019-12-25 16:44] steveklabnik commented on #38042
Triage: I don't think this has happened cc @GuillaumeGomez

[2019-12-25 16:45] steveklabnik commented on #38287
Triage: no changes.

[2019-12-25 16:46] steveklabnik commented on #38802
Triage; this would be very cool! This isn't assigned to a team; I'm gonna ping @rust-lang/infra to see if they think this is feasible/worth spending resources on.

[2019-12-25 16:49] axos88 opened #67607 "Tracking code that can panic?"
This is just something that occured to me that *might* be useful for a lot of things, but it will probably be a lot of work and might turn out to be a hard (as in non-linear) problem and might not be worth the trouble. Anyways, throwing it in here.

So the compiler potentially *could* track code that is able and is not able to panic. This could lead to solutions to a few things on the wishlist, su

[2019-12-25 16:50] steveklabnik commented on #40094
Triage: this seems to be fixed. I tried to create a reproduction:

[code]

and I get this error:

[code]

[2019-12-25 16:50] #40094 closed

[2019-12-25 16:54] steveklabnik commented on #42776
Triage: now that most code will not use `extern crate`, and given that it's been over two years with no other people running into this, I'm going to give this a close. If someone wanted to work up a diagnostic, I don't think it would be denied, but I don't think this is ever realistically going to be fixed. Thank you!

[2019-12-25 16:54] #42776 closed

[2019-12-25 16:55] Mark-Simulacrum commented on #67607
General discussion like this is best suited for internals.rust-lang.org; I don't think this is the right place for it as it's not really a bug. As such, going to go ahead and close.

You may also find https://github.com/dtolnay/no-panic/ interesting.

[2019-12-25 16:55] #67607 closed

[2019-12-25 16:56] Mark-Simulacrum commented on #38802
I think at this point we've stabilized WASM to the extent that this wouldn't really be helpful -- it's also true that many crates would panic or otherwise not work just because some features on WASM aren't implemented today. I could see us perhaps trying to test WASI with this, but I don't personally think keeping this open just for that is worth while. I'm going to assign @alexcrichton as the per

[2019-12-25 16:57] steveklabnik commented on #39255
Triage: no change

[2019-12-25 16:57] steveklabnik commented on #43495
Triage: this error message got weirder:

[code]

[2019-12-25 16:58] steveklabnik commented on #43359
Triage: @oli-obk are you still seeing this? It's hard to reproduce with a custom libcore...

[2019-12-25 16:59] steveklabnik commented on #38802
Yeah, I mean, I think the original intention was to make sure that stuff worked properly, but I still think it would be cool to have some sort of "ecosystem report", like we could know how much of the ecosystem at least compiles on wasm, and let crate maintainers know if it doesn't, that kind of thing.

[2019-12-25 17:02] steveklabnik commented on #32277
I believe this has somehow been fixed, I cannot find `cloned` on that page anymore. Closing!

[2019-12-25 17:02] steveklabnik commented on #32277
oops, I was wrong. It's still there.

[2019-12-25 17:03] steveklabnik commented on #32040
Triage: no change

[2019-12-25 17:03] steveklabnik commented on #32003
Triage: no change

[2019-12-25 17:03] steveklabnik commented on #31980
Triage: not aware of any changes here

[2019-12-25 17:07] steveklabnik commented on #31881
Triage: no fundamental changes here. For an example that reproduces today:

[code]

errors with this on nightly:

[code]

This is because stable doesn't even suggest adding the gate, which I bet reduces this issue a lot. Anyway, if you try to fix it by adding it to the top of the file, that looks like this in the playpen:

[code]

and you get

[code]

if you remove the asm call:

[code]

you still

[2019-12-25 17:07] steveklabnik commented on #31816
Triage: i don't believe we've made any changes here

[2019-12-25 17:08] steveklabnik commented on #31712
Triage: not aware of any changes here

[2019-12-25 17:08] Mark-Simulacrum opened #67608 "macro export shadowing/duplicate"
* root: adhesion-0.5.0: [start](https://crater-reports.s3.amazonaws.com/beta-1.41-1/1.40.0/reg/adhesion-0.5.0/log.txt) v. [end](https://crater-reports.s3.amazonaws.com/beta-1.41-1/beta-2019-12-18/reg/adhesion-0.5.0/log.txt)
 * root: chylli/rust-busybox: [start](https://crater-reports.s3.amazonaws.com/beta-1.41-1/1.40.0/gh/chylli.rust-busybox/log.txt) v. [end](https://crater-reports.s3.amazonaws.co

[2019-12-25 17:08] steveklabnik commented on #30993
Triage: not aware of any changes here

[2019-12-25 17:09] steveklabnik commented on #31323
Triage: I can't reproduce this because there aren't good enough instructions; could you provide some example code that triggers this? Thanks!

[2019-12-25 17:09] steveklabnik commented on #30868
Triage: not aware of any changes here

[2019-12-25 17:09] Mark-Simulacrum opened #67609 "temporary value dropped while borrowed"
* root: gb2260-0.1.1: [start](https://crater-reports.s3.amazonaws.com/beta-1.41-1/1.40.0/reg/gb2260-0.1.1/log.txt) v. [end](https://crater-reports.s3.amazonaws.com/beta-1.41-1/beta-2019-12-18/reg/gb2260-0.1.1/log.txt)

root: imperative - 3 (1 gh, 2 crates.io) detected crates which regressed due to this
<details>

 * committed-0.1.11: [start](https://crater-reports.s3.amazonaws.com/beta-1.41-1/1.40

[2019-12-25 17:11] Mark-Simulacrum opened #67610 "type inference regression"
* root: varkor/metasub: [start](https://crater-reports.s3.amazonaws.com/beta-1.41-1/1.40.0/gh/varkor.metasub/log.txt) v. [end](https://crater-reports.s3.amazonaws.com/beta-1.41-1/beta-2019-12-18/gh/varkor.metasub/log.txt)

I usually deem these as not too interesting but this one felt a bit out of the norm -- it looks like `&Foo.to_string_lossy()` used to (deref?) coerce to `&str` but not sure. I t

[2019-12-25 17:12] steveklabnik commented on #30802
Triage; not aware of any changes

[2019-12-25 17:12] Mark-Simulacrum opened #67611 "not Send due to await retainment"
* root: updns-0.0.6: [start](https://crater-reports.s3.amazonaws.com/beta-1.41-1/1.40.0/reg/updns-0.0.6/log.txt) v. [end](https://crater-reports.s3.amazonaws.com/beta-1.41-1/beta-2019-12-18/reg/updns-0.0.6/log.txt)

[2019-12-25 17:12] steveklabnik commented on #30738
Triage: @pnkfelix have you seen this recently? Happen to have reproduction instructions with rustbuild rather than with the old makefiles?

[2019-12-25 17:13] steveklabnik commented on #30340
Triage: not aware of any changes

[2019-12-25 17:13] Mark-Simulacrum opened #67612 "failed to evaluate constant"
root: window - 2 (0 gh, 2 crates.io) detected crates which regressed due to this
<details>

 * barg-0.2.0: [start](https://crater-reports.s3.amazonaws.com/beta-1.41-1/1.40.0/reg/barg-0.2.0/log.txt) v. [end](https://crater-reports.s3.amazonaws.com/beta-1.41-1/beta-2019-12-18/reg/barg-0.2.0/log.txt)
 * window-0.3.0: [start](https://crater-reports.s3.amazonaws.com/beta-1.41-1/1.40.0/reg/window-0.3.0/

[2019-12-25 17:13] Centril commented on #67609
Probably a result of the soundness fixes in https://github.com/rust-lang/rust/pull/66650?

[2019-12-25 17:17] Mark-Simulacrum commented on #67492
Primary beta run:

 macro export shadowing/duplicate #67608
 temporary value dropped while borrowed #67609
 type inference regression #67610
 not Send due to await retainment #67611
 failed to evaluate constant #67612

As well as a nominated for beta backport PR (https://github.com/rust-lang/rust/pull/67219).

[2019-12-25 17:18] steveklabnik commented on #30209
Triage: this still reproduces, but with slightly different command line invocations, of course:

[code]

[2019-12-25 17:19] steveklabnik commented on #29286
Triage: not entirely sure this is a bug, though it is a footgun for sure.

[2019-12-25 17:20] matthewjasper commented on #67609
This is a change in promotion. cc @ecstatic-morse

[2019-12-25 17:23] steveklabnik commented on #33621
Triage: I'm not entirely sure what the original bug is about, to be honest, but rustdoc follows the commonmark spec here. I double checked its output against the [dingus](https://spec.commonmark.org/dingus/).

@crumblingstatue I'm going to give this a close as "working as intended", but please let me know if you have more context here!

[2019-12-25 17:23] #33621 closed

[2019-12-25 17:25] steveklabnik commented on #33808
Triage: I believe that this lint is actually correct, and a new error shows why:

[code]

as such, this no longer compiles. The bug is fixed!

[2019-12-25 17:25] #33808 closed

[2019-12-25 17:26] steveklabnik commented on #34257
Triage; still reproduces

[2019-12-25 17:26] steveklabnik commented on #34256
Triage: not aware of any change

[2019-12-25 17:26] steveklabnik commented on #34057
Triage: no changes

[2019-12-25 17:26] steveklabnik commented on #34056
Triage: no changes

[2019-12-25 17:27] steveklabnik commented on #34050
Triage: the new errors have fixed this!

[code]

note the part about ``static`.

[2019-12-25 17:27] #34050 closed

[2019-12-25 17:29] steveklabnik commented on #34011
Triage: honestly, I'm not good enough with macros to know what exactly the details are here; it seems that #63764 expanded the syntax even with this roadblock.

[2019-12-25 17:30] steveklabnik commented on #33207
Triage: unclear where this stands, to be honest. save-analysis has been on its way out for a long time.

[2019-12-25 17:31] steveklabnik commented on #33027
Triage: closing in favor of an RFC.

[2019-12-25 17:31] #33027 closed

[2019-12-25 17:31] steveklabnik commented on #32611
Triage: I feel like this has gotten better in certain cases, but not all. It would be nice to make a way to reproduce this more easily, but it's non-trivial.

[2019-12-25 17:32] steveklabnik commented on #32497
Triage: not aware of any changes.

[2019-12-25 17:33] steveklabnik commented on #32489
Triage: still reproduces today

[2019-12-25 17:34] steveklabnik commented on #32457
the rustc book says

[code]

https://doc.rust-lang.org/stable/rustc/json.html

So it looks like we do this now!

[2019-12-25 17:34] #32457 closed

[2019-12-25 17:34] steveklabnik commented on #32290
Triage: not aware of any changes

[2019-12-25 17:35] steveklabnik commented on #30385
Triage: this no longer overflows!

[2019-12-25 17:35] #30385 closed

[2019-12-25 17:38] steveklabnik commented on #34834
Triage: different error today

[code]

[2019-12-25 17:39] steveklabnik commented on #35038
Triage: it seems that this file no longer exists? Any idea where this test is now?

[2019-12-25 17:40] steveklabnik commented on #35177
Triage; this still does not compile.

[2019-12-25 17:45] Mark-Simulacrum commented on #35038
We removed this suggestion entirely in a2735c02493d816835a19249dd258e0c678530d0 it seems so closing out (found by doing `git log -- src/test/compile-fail/lifetime-inference-give-expl-lifetime-param.rs`).

[2019-12-25 17:45] #35038 closed

[2019-12-25 17:46] steveklabnik commented on #35295
Triage: no change

[2019-12-25 17:50] matthewjasper commented on #67609
Minimized:

[code]

[2019-12-25 17:51] matthewjasper commented on #67609
Maybe #66587?

[2019-12-25 17:52] Centril commented on #67608
Intentionally made an error in https://github.com/rust-lang/rust/pull/65785/commits/8e27c4f3122c2ccb529ee3911a9d7e956f2462cd.

[2019-12-25 17:52] #67608 closed

[2019-12-25 17:55] matthewjasper commented on #67609
or #66642

[2019-12-25 18:10] Luro02 opened #67613 "Option<T> does not implement AsRef/AsMut"
Is there a reason why `Option` has an `as_ref`/`as_mut` function, instead of the implementation?
https://github.com/rust-lang/rust/blob/04e69e4f4234beb4f12cc76dcc53e2cc4247a9be/src/libcore/option.rs#L272

If there isn't we could implement `AsRef`/`AsMut` for `Option`
[code]

[2019-12-25 18:11] matthewjasper commented on #67609
It's #66950, likely #66654.

[2019-12-25 18:14] Luro02 commented on #67613
Closing this because I misread the function signature of the AsRef trait
[code]

[2019-12-25 18:14] #67613 closed

[2019-12-25 18:14] rossmacarthur commented on #52304
@arielb1 any ideas on how to check whether the "fix is tight"? Otherwise perhaps this issue can be closed?

[2019-12-25 18:19] rossmacarthur commented on #52278
@Mark-Simulacrum could you actually close this?

[2019-12-25 18:25] #52278 closed

[2019-12-25 19:00] davidtwco opened #67615 "Missing backtraces in local compiler build"
I recently rebased an old branch (branched off at 4007d4ef26eab44bdabc2b7574d032152264d3ad) and afterwards found that the backtrace didn't contain any of the compiler (ignore the actual ICE, I'm sure I'll fix it once I stop trying to get backtraces back):

[code]

You can find my [`config.toml` here](https://github.com/davidtwco/veritas/blob/fbdde10284101a7e2b412495894828dd2fbe3067/shells/rust.nix

[2019-12-25 19:38] mitermayer commented on #12393
I truly believe that giving a better API/Option to write tests outside of the same file would be extremely beneficial for RUST language as whole. It would reduce the barrier for other adopters as well as ensure file size can be kept small without sacrificing on reducing documentation/testing.

I really would love if this issue could be reconsidered.

[2019-12-25 19:53] tesuji opened #67616 "[Windows] Way to make child processes inherits parent attributes?"
Rust is using it internally: https://github.com/rust-lang/rust/search?q=security_attributes&unscoped_q=security_attributes
But rust doesn't expose that to public APIs.
That makes people fall into unsafe Rust with CreateFileW and CreateFile2.

[2019-12-25 20:19] lzutao opened #67618 "[Rustdoc] A way to disambiguate between Trait methods and implemented ones in search?"
![image](https://user-images.githubusercontent.com/15225902/71450140-60bc1680-278e-11ea-96c6-17aaf20c8b7b.png)

Maybe a duplicated of #48069.

[2019-12-25 20:22] Amanieu commented on #64224
Here's what I got by inlining `__rust_maybe_catch_panic`: https://gcc.godbolt.org/z/AS2i4a

[code]

You'll note that the fast path is now almost as efficient as the C++ one (we're just allocating more stack space), and I'm sure we can reduce the slow path by forcing it out to a separate function.

I think we should make `catch_unwind` independent of the panic runtime and simply always catch unwind

[2019-12-25 20:35] Kixunil commented on #27812
Ah, OK, I was confused. Thanks for clarifying!

[2019-12-25 21:02] estebank opened #67619 "Bad suggestion to restrict lifetime of `type = impl Trait`"
https://github.com/rust-lang/rust/blob/ed33453a37d602f34cc40c205f9b9b8a8aff88b5/src/test/ui/impl-trait/multiple-lifetimes/error-handling.stderr#L8-L11

[2019-12-25 23:20] tanriol commented on #67046
@joshtriplett By common implementation do you mean something like "create a `versionsort` crate" or something different? I want to get back to that PR in a week or two and finally get it in.

[2019-12-26 00:00] oli-obk commented on #43359
I don't think so. miri is using optimizations with `-Zalways-emit-mir` nowadays and it works just fine

[2019-12-26 00:00] #43359 closed

[2019-12-26 00:21] OptimisticPeach commented on #44095
I think that it would be logical to have a `#[must_use]` attribute on the function, so as to not confuse people who are not used to how rust numerics work. That is to say, I could easily perceive someone writing the following (incorrect) code:
[code]
In general, rust takes a `(number).method()` approach to numerics, but even when keeping this in mind, it would be a logical assumption that this cou

[2019-12-26 04:58] crlf0710 opened #67623 "Wrong compiler error message."
[code]
The current error message is
"error[E0207]: the type parameter `A` is not constrained by the impl trait, self type, or predicates"

but the actually error in the code is that `'a` is not constrained. `A` is used in associated type, and is correct according to the documentation of `E0207`. The correct fix would be move to `'a` to a HRTB as in `for<'a> Bar2<Foo<'a>, X=A>`

[2019-12-26 06:06] semarie opened #67624 "unable to build rust on tiers-3 platform"
with the introduction of #65939, the `bootstrap.py` mandatories the use of downloaded `rustfmt`. but all platforms doesn't have binary distribution, mainly tiers-3 platforms like OpenBSD.

For rustc or cargo dependencies, it is possible to use `config.toml` (with `rustc` and `cargo` key in `[build]` section) to point to alternate binaries. this way, `bootstrap.py` doesn't download them and use loc

[2019-12-26 06:58] #60595 closed

[2019-12-26 06:58] #66380 closed

[2019-12-26 10:17] aep commented on #54294
We're no longer using rust. But it's unlikely to be fixed since rustup still ships the wrong musl crt.

[2019-12-26 10:44] oli-obk opened #67627 "Clean up "const_hack" PRs now that const if/match exists"
Before we had branches in const fn we added a few hacks to some functions by rewriting them in unreadable ways or removing assertions. We should undo all these hacks. The list of PRs with const hacks is https://github.com/rust-lang/rust/issues?q=label%3Aconst-hack+is%3Aclosed

Most of the time you'll want to revert the diff to the body of any const fn but not undo any other changes that these PRs

[2019-12-26 10:44] oli-obk commented on #67627
cc @ecstatic-morse @RalfJung

[2019-12-26 11:20] michalbe commented on #66308
Hello,
Is there an ETA for the fix? Or maybe someone more familiar with the issue could guide me on where/how this can be fixed, so I can try on my own if it's not part of the roadmap yet?

[2019-12-26 11:24] oli-obk commented on #67612
:( `static mut` is being used [there](https://github.com/libcala/window/blob/f57bc28663292ede0d22f29af8df1ef76c54b9bc/src/wayland/mod.rs#L89).

The regression is caused by #66587

[2019-12-26 11:57] oli-obk commented on #67612
Minimal repro:

[code]

the MIR is

[code]

The `StorageDead(_4)` deallocates the array that the `as_ptr` call gets a raw pointer to. That's where the dangling pointer error comes from.

I guess we used to promote this array but due to the deref (since statics are now `*CONST_PTR_TO_STATIC`) don't do this anymore

[2019-12-26 12:27] jumbatm commented on #67627
Hi, may I give this a go.

@rustbot claim

[2019-12-26 12:46] oli-obk commented on #67627
It's all yours! Let me know if you run into any troubles or need more info.

[2019-12-26 12:55] Mark-Simulacrum commented on #67624
Yes, that was on oversight on my part. I would be happy to review a patch adding it to config.toml.

You should also be able to comment out the line in stage0.txt as a (possibly) temporary fix, this is my plan for beta and stable branches FWIW.

[2019-12-26 13:10] oli-obk opened #67628 "Promote taking a reference to a static"
@eddyb authored a FIXME question in https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc_mir/transform/promote_consts.rs#L527 (essentially "why do we need to mark statics as unpromotable?").

The reason we check this is so no relocations to statics ever end up in promoteds. Because otherwise we'd promote references to references to statics: https://play.rust

[2019-12-26 13:34] oli-obk commented on #54366
Fixing this issue is easy now, but it will be super hard to do with a future incompat lint, because the real change is happening elsewhere. The fix is to change https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc/ty/util.rs#L666.L667 to

[code]

Because then borrowck will pick it up correctly and detect the thread local annotation and not give it the static

[2019-12-26 13:42] cjgillot commented on #65031
Please let me know if you need help in this endeavour.

[2019-12-26 13:48] steveklabnik commented on #54294
Okay! I'm going to close this then; we'll see if anyone else runs into it. Thanks!

[2019-12-26 13:48] #54294 closed

[2019-12-26 15:43] jsartisohn opened #67634 "ICE: `no name for expr |a|`"
The compiler panics when referencing a captured variable inside a nested closure.

This happens on the playground nightly build "rustc 1.42.0-nightly (ed33453a3 2019-12-25) running on x86_64-unknown-linux-gnu" as well as MSVC stable "stable-x86_64-pc-windows-msvc updated - rustc 1.40.0 (73528e339 2019-12-16)".

This issue feels awfully related to https://github.com/rust-lang/rust/issues/67252. But

[2019-12-26 16:05] Mark-Simulacrum commented on #64224
The inlining (and some further work) worked out to produce a PR that @Amanieu and I independently came up with, though we've decided to utilize my previous PR as a base (https://github.com/rust-lang/rust/pull/67502). That PR is marked as resolving this issue, as well as https://github.com/rust-lang/rust/issues/64222. Interested parties can take a look at the implementation there which we're still

[2019-12-26 16:11] Centril commented on #67634
Reduced:
[code]

[2019-12-26 16:15] matthewjasper commented on #67634
Assertion is from `name` when called here:

https://github.com/rust-lang/rust/blob/a06baa56b95674fc626b3c3fd680d6a65357fe60/src/librustc_mir/borrow_check/diagnostics/conflict_errors.rs#L887

[2019-12-26 16:44] #67316 closed

[2019-12-26 17:41] SimonSapin commented on #67601
The ICE persists if we eliminate sharing of non-`Sync` values:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=22939ffb622c4bb243b813e7db4852c4))

Errors:

[code]

[2019-12-26 17:44] RalfJung commented on #67601
Yeah, that's what I meant by "separate issue". The ICE has nothing to do with `Sync`. But seeing such code in the wild just makes me wonder if we'll ever be able to fix the `Sync` thing. Sorry for the noise.

[2019-12-26 17:46] RalfJung commented on #49206
Another example of non-`Send` consts (i.e., consts with a reference to something non-`Sync`) in the wild: https://github.com/rust-lang/rust/issues/67601

[2019-12-26 18:00] matthiaskrgr opened #67638 "division by zero on Box<dyn Iterator<Item = _>>"
`rustc src/test/ui/issues/issue-26805.rs  -Cpasses=lint`
[code]

code is
[code]

rustc @ bbf13723bc22f1a850438bf0b103d09e474a1ef5

[2019-12-26 18:01] SimonSapin commented on #49206
For what it’s worth I don’t think there is a thread-safety issue in #67601. Everything in those constants is immutable. `!Sync` raw pointers are only used because they are expected by FFI.

[2019-12-26 18:04] RalfJung commented on #49206
Yeah, raw pointers really shouldn't be a problem here. I mean, they don't have meaningful invariants anyway, so making them `Sync` would not on its own break anything.

Unfortunately, it's hard to tell that apart from types that are `!Sync` for better reasons.

[2019-12-26 18:10] matthiaskrgr opened #67639 "ICE: could not fully normalize fn with -Z mir-opt-level=3"
`rustc  src/test/ui/issues/issue-38033.rs  -Zmir-opt-level=3`

file:
[code]

[code]

rustc @ bbf13723bc22f1a850438bf0b103d09e474a1ef5

[2019-12-26 18:12] matthiaskrgr commented on #59996
Bug is still present as of  bbf13723bc22f1a850438bf0b103d09e474a1ef5

[2019-12-26 18:15] matthiaskrgr opened #67640 "ICE: const qualif failed to prevent mutable references with -Zmir-opt-level=3"
`rustc  src/test/ui/argument-passing.rs  -Zmir-opt-level=3`

file:
[code]

[code]

rustc @ bbf13723bc22f1a850438bf0b103d09e474a1ef5

[2019-12-26 18:17] jonas-schievink commented on #67638
This is a false positive since `offset_from` will panic if the type is a ZST. The `IntoIter` code uses a different code path for ZSTs as well:

https://github.com/rust-lang/rust/blob/3ac40b69c75929dac5115b6a49eb4f1ecc352416/src/liballoc/vec.rs#L2536-L2549

The lint doesn't seem to trigger on regular divisions by zero since that seems to go through a load/store pair.

[2019-12-26 18:20] matthiaskrgr opened #67641 "assertion failure with -Zmir-opt-level=2 on ./ui/array-slice-vec/arr_cycle.rs"
`rustc  ./ui/array-slice-vec/arr_cycle.rs  -Zmir-opt-level=2`

file:
[code]

[code]

rustc  @ bbf13723bc22f1a850438bf0b103d09e474a1ef5

[2019-12-26 18:58] RalfJung commented on #67628
If promoteds are consts under the new scheme, shouldn't they be disallowed from referring to statics, like other consts are? Otherwise they'll trigger the new dynamic check you added?

[2019-12-26 19:41] matklad commented on #62924
I vote for min/max rather than first/last terminology. Rationale: I’ve recently had a bad bug when I used Rust’s BinaryHeap and assumed that pop yields a minimal item. If the API had used max in the method name, I wouldn’t have made the bug.

This case is similar: first is ambiguous, min is precise (and shorter ^^).

[2019-12-26 20:48] seanmonstar opened #67644 "Tracking issue for `IntoFuture`"
Introduced in https://github.com/rust-lang/rust/pull/65244, this is a trait of a type that can be converted into a `Future`, used by `.await` (similar to how `IntoIterator` is used with `for`).

*a more complete description can be found in https://github.com/rust-lang/rust/issues/67644#issuecomment-986257951*

[2019-12-26 21:18] Mark-Simulacrum opened #67645 "Tracking issue for primitive module"
This tracks the `core::primitive` module.

There are no known blockers for stabilization, but there are some known bugs:

- docs are not linked https://github.com/rust-lang/rust/issues/67646

[2019-12-26 21:22] Mark-Simulacrum opened #67646 "rustdoc primitive re-export"
When re-exporting a primitive type, rustdoc ICEs. This was found when creating #67645.

Rustdoc also fails to link the re-export to the primitive docs.

Reproduction:

[code]

commands:

[code]

Backtrace:

[code]

[2019-12-26 21:24] ssomers commented on #62924
I'm slightly in favour of min/max at the moment, having faced reverse iteration in (other) code with first/last names. It's a close call; min/max is ambiguous about performance, because many min/max functions out there are in fact linear searches.

[2019-12-26 21:27] #67645 closed

[2019-12-26 21:27] Mark-Simulacrum commented on #67645
It turns out that re-exports can't be feature gated so we're closing this out for now, but may reopen if we decide to pursue an alternative strategy.

[2019-12-26 21:31] oli-obk commented on #67628
uses of promoteds and statics are `Operand::Constant`, that doesn't mean anything about promoteds or statics has changed. The whole "promoteds are consts" thing is just about how the mir accesses promoteds.

Although we'll still have to take care that const fn don't end up getting pointers to (interior or regularly) mutable statics

[2019-12-26 21:38] rafaelcaricio commented on #38802
We would need to filter out *-sys dependent crates and any crate that uses threads.

1. Creates that use native extensions will need to adapt their `build.rs` to support WASI.
2. Trying to run today crates that spawn threads will result in something like:
[code]

[2019-12-26 21:44] matklad commented on #62924
Correctness is more important than performance, and the performance ambiguity is an a safe direction (operation is faster than it might seem)

[2019-12-26 21:55] Mark-Simulacrum opened #67647 "rustdoc does not verify feature gates"
This generates documentation with a stable rustdoc today without any warnings.

[code]

Interestingly, rustdoc does seem to check that the feature gate is in the crate (i.e., `#![feature(raw)]` must exist), and will error if a feature gate has been removed (e.g., custom_attribute on nightly).

[2019-12-26 21:56] Mark-Simulacrum commented on #67647
cc @GuillaumeGomez @rust-lang/rustdoc

[2019-12-26 21:59] Mark-Simulacrum commented on #67492
Noted https://github.com/rust-lang/rust/issues/67647 but no rustdoc-specific regressions appear, as far as I can tell.

[2019-12-26 22:02] SimonSapin commented on #49206
`!Sync` is problematic when the same "instance" (same memory address) is reused, which only happens when a constant is promoted to static memory, right? Would it be possible to disable promotion of `!Sync` values? I would expect unpromoted `const` items to emit similar code to argumentless macros, is that accurate?

[2019-12-26 22:05] SimonSapin commented on #49206
Oh. I’ve read this issue’s description more closely and realized this is not about `const` items but about references, and that unpromoting would reduce their lifetime from `'static` to the stack frame which might break some programs. Never mind my previous comment.

[2019-12-26 22:07] oli-obk commented on #49206
I mean the reason they are `!Sync` is because it's easier/safer to default structs containing raw pointers to `!Sync` than have users accidentally build types that are `Sync` but should not be.

Couldn't you still use references as they are `#[repr(C)]` and have the same representation as the raw pointers? Or `Option<&T>` where null is possible.

Yes, but you have this everywhere in your code. `co

[2019-12-26 22:14] SimonSapin commented on #49206
Not easily, there are a number of structs involved that are generated by rust-bindgen. I think `unsafe impl Sync for JSJitInfo` would be valid, though.

[2019-12-26 22:23] oli-obk commented on #49206
:see_no_evil: oh... and it's impossible for bindgen to tell the difference between pointers that own their pointee and pointers that just reference them. :(

Oh yea, I was just hoping to get rid of the raw pointers entirely.

[2019-12-26 22:57] Mark-Simulacrum commented on #67638
Relevant LLVM IR:

[code]

@jonas-schievink conclusion seems correct here so I'm going to go ahead and close. If anything, this seems like an LLVM bug as the sdiv is in dead code.

OTOH, we could plausibly consider this a const prop / MIR opt bug (unclear whether that's entirely true, though, given the dependence on monomorphization here) -- I'm not sure we can do any better than LLVM.

@matthiask

[2019-12-26 23:39] #67638 closed

[2019-12-27 00:13] Manishearth opened #67649 "const fn can have little a phantom data"
[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=321cc2827c18564c52e42ad86653333d)

[code]

We should probably not restrict the phantom datas a const fn is allowed to construct

cc @oli-obk

[2019-12-27 00:14] Centril commented on #54883
On 2019-12-26, https://github.com/rust-lang/rust/pull/67592, written by @matthewjasper and reviewed by @Centril, landed. This PR did some preparatory cleanups in MIR lowering of `match` expressions before the MIR level support for or-patterns is added. Moreover, the PR gated or-patterns in const contexts under `const_if_match`.

[2019-12-27 00:29] oli-obk commented on #67649
cc @rust-lang/wg-const-eval

[2019-12-27 00:34] Centril commented on #67649
I don't see anything special about `PhantomData`'s type parameter as opposed to other ones for other types in terms of what the meaning of `fn()` is and whether it would conditionally mean e.g. `const fn()`. At any rate, I don't think we should be adding special allowances for this type before we holistically consider everything else.

[2019-12-27 00:34] oli-obk commented on #67649
All the type based limitations of `const fn` are things that we plan to resolve. Right now we have a very simple check
https://github.com/rust-lang/rust/blob/3e0a1c09108b52e41113520c7fa516480a8b67f9/src/librustc_mir/transform/qualify_min_const_fn.rs#L79-L122
adding a `PhantomData` exception will make this check more complex. A real world example that makes this feature useful would be good as moti

[2019-12-27 00:44] Manishearth commented on #67649
@Centril right, I'm talking about types which transitively use phantom data as well. I believe there are other similar exceptions in the compiler for PhantomData.

As for a real world use case, @hawkw hit this but I don't recall the specifics

[2019-12-27 00:57] Mark-Simulacrum commented on #58781
@matthewjasper Could you either a) close this issue or b) update it with the current status? I *think* we've fully dropped migration mode now and even cleaned up some of the leftover AST borrowck-related bits, but there is some stuff left that is not yet fully migrated I believe.

[2019-12-27 01:04] Mark-Simulacrum opened #67650 "panic=abort testing / subprocess testing"
This is the tracking issue for `-Zpanic-abort-tests` and related functionality.

Specifically, this flag switches the default test strategy of (loosely) a thread per test to a process per test, and implements the associated functionality of collecting process failures and treating that as passing/failing the test.

This was originally added in https://github.com/rust-lang/rust/pull/64158 and Cargo

[2019-12-27 01:07] Mark-Simulacrum commented on #67650
cc @tmandry

I would like to suggest that we change the flag to something like `-Zprocess-tests` or something along those lines, since AFAICT this functionality should be much more general (e.g., supporting https://github.com/rust-lang/rust/issues/32512, https://github.com/rust-lang/rust/issues/47506).

It's also currently a CLI flag but I would hope that we could also make this a per-test decisio

[2019-12-27 02:03] syntacticsugarglider opened #67651 "Confusing/incorrect error message with incoherent implementations and async blocks"
[code]

This fails with `type annotations required: cannot resolve Error: std::convert::From<Error>` (E0283) instead of the expected `conflicting implementations of trait std::convert::From<Error> for type Error` (E0119). Changing `fail` to
[code]
i.e. eliminating the async block leads to the expected error message being produced.

[playground demonstration](https://play.rust-lang.org/?version=sta

[2019-12-27 02:41] sam-ka commented on #47048
@mat865 You've mentioned here and [elsewhere](https://github.com/msys2/MINGW-packages/issues/4133#issuecomment-518607506) that this issue can be resolved by replacing rust-provided libraries with their distribution-provided counterparts.

Can swapping libraries like this cause problems for the other precompiled dlls (e.g. `std-*.dll`, `test-*.dll`, etc) shipped with rust if upstream mingw librarie

[2019-12-27 02:52] dtolnay commented on #50264
@rfcbot fcp cancel

The Option methods were stabilized in #64708, and the Result methods are still waiting for a PR that implements https://github.com/rust-lang/rust/issues/50264#issuecomment-533952881.

[2019-12-27 03:11] Mark-Simulacrum commented on #67646
I plan on investigating this issue tomorrow, as it is likely a blocker for https://github.com/rust-lang/rust/pull/67637.

[2019-12-27 06:18] kdy1 opened #67652 "stringify!(r#match) should return "match" instead of "r#match" if token is matched as ident"
Minimal repro case: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9a6b2039be61e67303d4e194acd5d4bb

[2019-12-27 07:04] rchaser53 opened #67653 "some items disappear the latest in rustc-ap-syntax"
Some items related rustc-ap-syntax::parse are disappeared in the latest in rustc-ap-syntax.
They exist in rustc-ap-syntax version 610.0.0. The current rustfmt uses version 610.0.0.
They are in rustc_parse now, but rustc_parse is [an internal compiler API](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_parse/index.html). we cannot use it.

Is it possible to publish rustc_parse or create the

[2019-12-27 07:05] rchaser53 commented on #67653
The following items are examples that disappeared with the latest rustc-ap-syntax.
(The link is the current position in the latest rust source)

- [syntax::parse::parser::Parser](https://github.com/rust-lang/rust/blob/master/src/librustc_parse/parser/mod.rs#L103)
- [syntax::parse::DirectoryOwnership](https://github.com/rust-lang/rust/blob/master/src/librustc_parse/lib.rs#L40)
- [syntax::parse::par

[2019-12-27 07:43] est31 commented on #67653
I think the relevant issue is https://github.com/alexcrichton/rustc-auto-publish/issues/14

[2019-12-27 07:59] jumbatm commented on #67627
Hello! I'm having a bit of trouble cleaning up the functions in num. Specifically,  I'm getting `num::<impl i8>::wrapping_abs` is not yet stable as a const fn`, which I'm not sure how to solve, on the changes in this commit here https://github.com/jumbatm/rust/commit/a58d81191bee210db9ec383eced1fa2c59a5ab3e.

I started by reverting the body of `wrapping_abs` to the pre-const-hack contents, and the

[2019-12-27 08:50] rossmacarthur commented on #51770
Reduced to

[code]

This fails with the identical error

[code]

Submitting a PR now with this as a test.

[2019-12-27 09:00] mati865 commented on #47048
@sam-ka if only import and static libraries are replaced it won't break precompiled dlls.
Shared libraries non available in the system that are required by Rust libs are still provided in `bin` directory. It can cause different issues like https://github.com/rust-lang/rust/issues/61561 even without using any workarounds and eventually they should be removed but fixing import and static libraries i

[2019-12-27 09:13] mati865 commented on #67587
Fedora 31 still uses SJLJ for i686 but they are switching to DWARF-2 in the next Fedora release. That means only x86_64 will work for now.
Mingw target is called `x86_64-pc-windows-gnu` (LLVM convention) and after doing what retep998 said and configuring the linker in cargo config you should have working cross compilation for Windows.

[2019-12-27 09:22] matthewjasper commented on #58781
Migrate mode still exists, although it's not really migrating anything. I've updated the description for the current status.

[2019-12-27 09:29] oli-obk commented on #67627
rustc_const_stable may never be changed to rustc_const_unstable, that would be a breaking change. If you want to use unstable features in a stable const fn, you need to add a *new* attribute: `allow_internal_unstable(feature_gate_name)` (this attribute also takes a comma separated list of feature gates if you need multiple ones

[2019-12-27 09:31] oli-obk commented on #67627
I adjusted the main post, sorry about that misinformation

[2019-12-27 09:36] jonas-schievink commented on #67652
Why? This looks correct to me. `match` is not a valid ident, after all.

[2019-12-27 10:01] jumbatm commented on #67627
Ahh, you're all good :) Thanks!

[2019-12-27 10:06] mati865 commented on #67408
FWIW it was fixed in nightly but not yet in beta.

[2019-12-27 10:22] gnzlbg commented on #64224
@Mark-Simulacrum that sounds great.

I'm not sure how this issue gets resolved, could you post the codegen of the OP example w/o the patch ? Does that PR produce code that's sufficiently close to what C++ produces ?

[2019-12-27 10:49] mati865 commented on #32969
@steveklabnik yes, it's resolved.

[2019-12-27 11:00] rust-highfive opened #67655 "`miri` no longer builds after rust-lang/rust#67192"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#67192, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @oli-obk, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @RalfJung,varkor, the PR reviewer, and nominating for compi

[2019-12-27 11:03] DarkAnakin opened #67656 "rustc panic index out of bounds"
Hi, I encountered a rustc panic but I can't filed a proper bug report because I can reproduce it anymore and I am have no idea what cause it. You will find the trace log bellow.

I will tried to describe how the issue occurred here.
I have run some of my tests case, without no issue. After modifying some of codes on tests code the compiler start to complains.
Delete the target/debug folder don't r

[2019-12-27 11:09] mati865 commented on #60781
This is quite expected unfortunately.
GCC and LD shipped with Rust are repacked from mingw-builds toolchain so it only looks for standard mingw-builds path (`C:/mingw32`) and paths explicitly given by `rustc` binary.
As you noticed GCC from MSYS2 does know where to look for the libraries and it should always be used when mixing Rust libs with different libs.

[2019-12-27 11:12] mati865 commented on #60335
Not MinGW specific.

@rustbot modify labels: -O-windows-gnu

[2019-12-27 11:24] jonas-schievink commented on #67656
Can you provide the source code that triggered the bug? Without that it's kind of hard to do anything here.

[2019-12-27 11:24] mati865 commented on #60504
Binaries linked by GCC are not stripped. Therefore this is duplicate of https://github.com/rust-lang/rust/issues/46034

The same as when cross compiling from Linux.

[2019-12-27 11:26] jonas-schievink commented on #60504
Thanks, closing as a duplicate then.

[2019-12-27 11:26] #60504 closed

[2019-12-27 11:46] DarkAnakin commented on #67656
`#[test]
pub fn rec_bytel_timeshift_live() {
    logger::singleton(LOG_LEVEL::DEBUG, None);
    let service_comm = ServiceComm::connect(false, None).unwrap();
    let pool = ThreadPool::new(4);

    pool.execute(|| {
        let now = Utc::now().timestamp_millis();
        let recording = Recording {
            id: 0,
            epg_id: 192,
            url: String::from(""),
            backup_

[2019-12-27 11:47] rossmacarthur commented on #51650
What needs to be done for this issue to be resolved?

[2019-12-27 11:49] Mark-Simulacrum commented on #64224
The PR description had a godbolt link and includes two sets of assembly with the same code as from the godbolt link.

[2019-12-27 11:51] jonas-schievink commented on #67656
I think without having the entire crate it won't be possible to debug or reproduce this

[2019-12-27 12:00] DarkAnakin commented on #67656
Ok, unfortunately I can share it.
You can close this. thanks

[2019-12-27 12:03] rossmacarthur commented on #51452
Considering that this issue is not reproducible, and is so old. I think this issue should be closed.

@steveklabnik ?

[2019-12-27 12:07] mati865 commented on #50176
Triage: seems to work fine.

Tested debug and release for each i686-pc-windows-gnu and x86_64-pc-windows-gnu using examples from https://github.com/rust-lang/rust/issues/50176#issue-316775004 and https://github.com/rust-lang/rust/issues/50176#issuecomment-411905316 but could not reproduce any issue.

[2019-12-27 12:17] rossmacarthur commented on #51018
I am unable to reproduce on macOS, and get the same error @levex does.

[2019-12-27 12:17] jonas-schievink commented on #67656
Okay, thanks for the report anyways! Please let us know if you manage to find a way to reproduce this.

[2019-12-27 12:17] #67656 closed

[2019-12-27 12:25] mati865 commented on #47029
Presumably fixed by https://github.com/rust-lang/rust/pull/47280.
@Rantanen could you confirm?

[2019-12-27 12:31] pietroalbini commented on #51650
I think the recommended fix for this issue is https://github.com/rust-lang/rust/issues/51650#issuecomment-398838294: it's not hard for downstream users to follow it, and it's too late for us to rebuild the tarballs of 1.27.0.

[2019-12-27 12:31] #51650 closed

[2019-12-27 12:36] rossmacarthur commented on #50243
It appears this can be closed?

https://doc.rust-lang.org/std/time/struct.Duration.html#method.as_millis
https://doc.rust-lang.org/std/time/struct.Duration.html#method.as_micros
https://doc.rust-lang.org/std/time/struct.Duration.html#method.as_nanos

[2019-12-27 13:00] dpelevin commented on #50176
I'll recheck if problem still took place with a last Rust release.

[2019-12-27 13:32] xfix commented on #67496
All those projects merged the change.

[2019-12-27 13:57] robinmoussu commented on #60705
I just opened a bug in [compiler-explorer](https://github.com/mattgodbolt/compiler-explorer/issues/1754#issuecomment-569268520) because I noticed collision in the demangled name of different monomorphisation of the same function. As far as I understand, the current mangling scheme of rust still use the v1 witch doesn't contains the required information, while this proposed v2 would solved it? Did

[2019-12-27 14:04] #65612 closed

[2019-12-27 14:06] ariasuni commented on #27747
I’m wondering about the fact that in Rust you can’t do:

[code]

But it works with [itertools’ `join()`](https://docs.rs/itertools/0.8.2/itertools/trait.Itertools.html#method.join).

[2019-12-27 14:09] pietroalbini commented on #57223
r? @pietroalbini

[2019-12-27 14:31] SimonSapin commented on #27747
itertools’s `join` is very different: it relies on the `Display` trait and always returns `String`. So it can’t support cases where `[T]::join` returns a `Vec`.

That said, it might be possible to add:

[code]

If you’re interested in pursuing this, feel free to submit a PR that adds this impl and request a Crater run to look for potential inference regressions.

[2019-12-27 14:44] allquixotic commented on #67587
I was able to cross-compile to Windows successfully using the MinGW64 toolchain in Fedora 31 (for 64-bit; I have no use for 32-bit binaries at all) using the steps retep998 suggested.

It's much appreciated that this "just works" with a little bit of setup. Is it worth keeping this issue open to discuss improving documentation? If not, it can be closed, as my immediate problem is solved. For the r

[2019-12-27 14:48] #50243 closed

[2019-12-27 15:11] davidtwco commented on #67615
I've found that I can also reproduce this in a Ubuntu 18.04 LXC container on the same host. I also noticed that the command that failed mentions which signal caused the failure:

[code]

[2019-12-27 15:33] davidtwco commented on #67615
Changing the kernel version from 4.19.88 to 5.4.2 doesn't appear to have an effect (not that I would particularly have expected it to).

[2019-12-27 15:59] pnkfelix commented on #34761
I don't think we intend to stabilize `#[may_dangle]` as is. It is a stop-gap measure until we can develop a more disciplined solution to the problem (e.g., some kind of where-clause on the type, perhaps coupled with an effect-system to allow us to actually *check* that one is adhering to the may-dangle rules).

[2019-12-27 17:26] Mark-Simulacrum commented on #67646
@rust-lang/rustdoc -- this is blocking #67637, and I was unable to come up with a simple patch to fix this. Is this a known-hard problem, or should I try to keep digging? https://github.com/rust-lang/rust/compare/master...Mark-Simulacrum:primitive-reexport contains my initial patch, but it fails tests (e.g., auto impls for primitives, among other problems).

[2019-12-27 17:46] davidtwco commented on #67615
With some more experimentation, I've found that this is a result of `debug = true` or `debuginfo-level > 1`.

[2019-12-27 19:18] steveklabnik commented on #42508
Triage: this still does not compile

[2019-12-27 19:19] steveklabnik commented on #32969
Thanks!

[2019-12-27 19:19] #32969 closed

[2019-12-27 19:19] steveklabnik commented on #51452
Yeah, sounds good. @GuillaumeGomez let me know if you're still seeing this, but so much has changed since you filed the bug I bet it's been fixed.

[2019-12-27 19:19] #51452 closed

[2019-12-27 19:54] Rantanen commented on #47029
Compiler plugins are now deprecated so this works even less now with the whole `rustc_plugin` being unavailable. I'm sure there's some way to get these working, but given the deprecation, I've got no motivation to figure that out. :)

[2019-12-27 19:54] #47029 closed

[2019-12-27 21:12] Thomasdezeeuw opened #67669 "Too strict trait bound for Pin::map_unchecked(_mut)"
Most methods on `Pin` use `T: ?Sized` to allow the underlying pointer to be dynamically sized. However both `Pin::map_unchecked_mut` and `Pin::map_unchecked` have another generic parameter `U` (the type to map to), which does not contain such (loosening of) trait bound. Is it intentional for `U` to be `Sized`, or is this an oversight? In other words would a change to allow `U: ?Sized` for the abov

[2019-12-27 22:15] Mark-Simulacrum commented on #67652
I am going to close as expected behavior; `r#match` is a valid identifier but `match` is not, as @jonas-schievink notes.

[2019-12-27 22:15] #67652 closed

[2019-12-27 22:21] dpelevin commented on #50176
Cargo.toml

Compilation:

Release dll:
![image](https://user-images.githubusercontent.com/1065021/71534477-2b3f3680-2910-11ea-82f2-bf89fa48ea67.png)

Debug dll:
![image](https://user-images.githubusercontent.com/1065021/71534491-3c884300-2910-11ea-8736-ba2efe44b9fb.png)

So, the issue is still in place.

[2019-12-27 23:08] dpelevin commented on #50176
I've tried to update msys2 packages, but nothing has changed.

[2019-12-27 23:44] mati865 commented on #50176
@dpelevin right it was my oversight. I can reproduce your issue with Linux and MinGW targets so it appears to be different issue. I think I saw it reported somewhere but cannot find it.

[2019-12-28 00:25] #31236 closed

[2019-12-28 00:25] Mark-Simulacrum commented on #31236
Closing in favor of an RFC.

[2019-12-28 00:37] Mark-Simulacrum commented on #35838
I believe we now specialize down to the best we can (given what we know) after #65551 so closing.

[2019-12-28 03:36] #67593 closed

[2019-12-28 03:36] #65721 closed

[2019-12-28 03:36] #67228 closed

[2019-12-28 03:36] #67609 closed

[2019-12-28 03:36] #45910 closed

[2019-12-28 03:36] #51770 closed

[2019-12-28 06:26] lzutao opened #67672 "Result::ok_unit() to make Result<T, E> to Resutl<(), E>?"
Sometimes people only care about the Error case and ignore the Ok value.

I see some code do something like:

[code]

Which I think is not really beautiful.

I proposed that we could add a method to Result to make that intent clearer:

[code]

We could also name it `Result::drop_ok` or so.

---

Of course that just my own opinion. So I open to discussion.

[2019-12-28 06:59] YaLTeR commented on #35838
Looking at the disassembly on 1.40.0, creating a CString from a string literal still has an allocation, a memchr and a `CString::from_vec_unchecked::something` along with a bunch of runtime checks. Is there really nothing that can be done for this case?

[2019-12-28 08:19] iximeow opened #67674 "SIGSEGV during compilation when taking address of extern x86-interrupt fn"
[code]

yields

[code]

Interestingly, it seems like `#[repr(C)]` is load-bearing? No crash without a `repr` on the argument type. Also no crash if the argument is zero-sized (even with `#[repr(C)]`).

[2019-12-28 08:21] iximeow commented on #67674
It seems like this might be related to https://github.com/rust-lang/rust/issues/63018, where this is also resulting in nonsense IR to LLVM?

[2019-12-28 08:31] jonas-schievink commented on #67672
`.map(drop)` also works and is arguably clearer than the toilet closure

[2019-12-28 08:39] lzutao commented on #67672
What a name :D ?

[2019-12-28 09:19] #67557 closed

[2019-12-28 10:23] jonhoo commented on #65721
How do we feel about giving this the "relnotes" tag?

[2019-12-28 10:24] lzutao commented on #65721
Already on the stabilized PR: #67659

[2019-12-28 10:25] est31 commented on #53487
@cyphar I think the stabilization behaviour is similar to proc macros. They too first only had a string based API and only later got a token based one. So std backtraces will likely get that functionality later.

[2019-12-28 10:28] SimonSapin commented on #65721
@jonhoo I thought `RELEASES.md` listed all new(ly-stabilized) APIs? I added `relnotes` to the stabilization PR on that basis. That’s what the label is for, right? This is not to say this should necessarily be mentioned in the release blog post.

[2019-12-28 11:17] upsuper commented on #67347
I mean, yes `==` probably cannot be used, but the error message should be more clear just like when using `+`.

[2019-12-28 12:08] JohnTitor commented on #61774
It might be fixed (via glacier), could someone confirm it?

[2019-12-28 12:11] JohnTitor commented on #61455
It might be fixed (via glacier), could someone confirm?

[2019-12-28 13:02] gnzlbg commented on #64224
So how does it do for this snippet?

[code]

?

[2019-12-28 13:12] Mark-Simulacrum commented on #35838
I think most of the checks could likely be eliminated with some inlining, although I would personally not be sure we should be inlining these functions -- there's not too much benefit.

The allocation though couldn't be avoided, though (CString must be owned).

[2019-12-28 13:12] Alexendoo commented on #61774
Yeah, looks like #67192 fixed it

[2019-12-28 13:12] #61774 closed

[2019-12-28 13:12] Alexendoo commented on #61455
Fixed by #67192

[2019-12-28 13:12] #61455 closed

[2019-12-28 13:15] Mark-Simulacrum commented on #64224
I don't really have the time to try out lots of snippets; I expect that to be on par, but slightly worse -- the lack of a mem::forget will mean that you have a destructor for the `Box<Any>` which we can't avoid without adding an alternative to catch_unwind (e.g., `catch_unwind_no_capture`, with a better name)

[2019-12-28 13:32] gnzlbg commented on #64224
I'm just trying to understand how that PR closes this issue, which is not straightforward from the contents of that PR (I understand how it closes the other issue though).

[2019-12-28 14:01] Mark-Simulacrum commented on #64224
That PR makes the code size as small as we can, to my knowledge; I've kicked off a try build so that it's easier to test that PR - if there's still suboptimal examples I'd be happy to look at fixing them.

I personally suspect that the remainder of the suboptimal examples cannot be fixed without a new, separate function which takes a separate closure or does not capture the exception at all - one

[2019-12-28 14:05] Amanieu commented on #64224
@gnzlbg Here's the asm output with that PR:

[code]
Notes:
- `LBB1_1` is invoked if `callq *foo@GOTPCREL(%rip)` unwinds.
- `LBB1_5` is invoked if `callq *(%rdx)` unwinds.

[2019-12-28 14:20] vertexclique commented on #56974
@Nemo157 @birktj On preemption based systems(ones using direct interrupt mapping) that won't be interrupt safe but on cooperative system that has task yielding by the developer (e.g. freertos with coop scheduling) that will work. That said same model can be used in any cooperative system too.

[2019-12-28 14:48] olegnn opened #67678 "Incorrect hints for value with the same name as macro in scope"
This code
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9a59569959f7a17dced3f05fc16bc34f))

Gives output:

[code]
- Second hint `help: use ! to invoke the macro` is incorrect because it proposes to write code `line!.unwrap()`.
- First hint says that `help: a local variable with a similar name exists` but doesn't print this name and only shows generat

[2019-12-28 15:24] edwardw commented on #31434
One original gold of [RFC 1445](https://github.com/rust-lang/rfcs/blob/master/text/1445-restrict-constants-in-patterns.md) is to address the weakened abstraction boundary. But with #62339:

[code]

The error message:

exposes the fact that `std::borrow::Cow` is used under the hood, which should be mere implementation details that don't concern the user. Diagnostically it is also confusing.

[2019-12-28 15:36] CohenArthur opened #67680 "Confusing hint on missing parentheses after collect<>"
The following code produces a quite unhelpful error from the compiler:

[code]
The error in question being `.collect::<Result<Vec<_>, io::Error>>?;` instead of `.collect::<Result<Vec<_>, io::Error>>()?;`.

Compiler output:

[code]
It's quite a simple mistake, but I got confused by the error message and tried different type-related fixes which didn't work (obviously).

This might be related to #545

[2019-12-28 15:47] Amanieu commented on #64224
We're still not reaching code-size parity with C++ for 2 reasons:
- The `drop_in_place` call for the `Box<dyn Any + Send>` has been inlined into the function. Ideally LLVM would realize that this is a cold path and avoid inlining to reduce code size. I don't think there is much we can do about this here.
- The drop code for `Box<dyn Any + Send>` calls the actual destructor through a function point

[2019-12-28 15:59] RalfJung commented on #67655
Fixed by https://github.com/rust-lang/rust/pull/67675

[2019-12-28 15:59] #67655 closed

[2019-12-28 17:59] varkor commented on #67610
I think this was noted in https://github.com/rust-lang/rust/pull/64856#issuecomment-544719717 and it was agreed in FCP to accept this regression: https://github.com/rust-lang/rust/pull/64856#issuecomment-548999127. Thanks for noting it, though!

[2019-12-28 18:02] #67610 closed

[2019-12-28 18:18] davidben opened #67683 "rustc suggests a syntax error (for x in &mut mut y)"
This may be a duplicate of issue #57431; I don't understand Rust well enough yet to be sure.

When using `chunks_exact` instead of `chunks_exact_mut` and then mutating through the returned slices, rustc complains and suggests iterating over `&mut mut chunks` in the loop, which appears to be a syntax error.

I tried this code:

[code]

I expected to see this happen:

The actual bug is `chunks_exact

[2019-12-28 19:13] DutchGhost commented on #67672
https://users.rust-lang.org/t/twir-quote-of-the-week/328/721?u=dutchghost It comes from there

[2019-12-28 20:01] dpp opened #67684 "internal compiler error: src/librustc_traits/normalize_erasing_regions.rs:42"
**EDITED**: MCVE is here: https://github.com/rust-lang/rust/issues/67684#issuecomment-747189906

I received this compiler bug:

[code]

Compiling with this cargo.toml file:

[code]

And this `main.rs`:

[code]

[2019-12-28 20:16] ian-h-chamberlain commented on #30164
I'm not sure if this is related, but I seem to encounter a similar problem when using custom `impl Display`. Here is an example:
[code]

Output:
[code]
In this case the aforementioned workaround to use `format!("{}", x)` works as well.

[2019-12-28 22:15] wesleywiser commented on #67639
I spent some time today looking into this and I have a cut down version of the above test:

[code]

[2019-12-28 22:16] Centril commented on #67641
cc @wesleywiser @oli-obk

[2019-12-28 22:20] Centril commented on #67684
If possible, a self-contained reproducer in the playground would be quite helpful towards fixing the bug.

[2019-12-28 23:10] mark-i-m commented on #67565
I feel like the internal use of `_` as a default name for things is a bit undisciplined, and it's leaking into diagnostics in annoying ways. There is also this: https://github.com/rust-lang/rust/pull/66679

I feel like internally, we should keep a strong separation between names that we get from the source code being compiled and names being generated by the compiler...

[2019-12-28 23:35] dpp commented on #67684
@Centril -- I tried, but the `combine` crate is not a default crate on the playground. How can I add a crate to a playground page? Sorry for the n00b question

[2019-12-28 23:53] dangerousplay opened #67690 "Rustc endless loop out-of-memory and consequent SIGKILL in generic new type"
Hi, i have made some changes for a crate `stubborn-io` to support a generic type that implements `ToSocketAddrs` from `Tokio`, but suddenly the code can't compile because it runs out of memory with 6, 8, 10 GB.

This is the code i'm trying to compile:
[code]

if changed the type `A` for `SocketAddr` or `String` it then compiles and runs fine.

Source: https://github.com/dangerousplay/stubborn-io/b

[2019-12-28 23:58] Centril commented on #67565
I think this issue is about the narrow issue of why this happens in the case of `ref mut x @ Some(ref y)` though whereas it doesn't happen in other cases.

[2019-12-29 00:00] oli-obk commented on #66137
This was fixed in https://github.com/rust-lang/rust/pull/66789 as far as I can tell

[2019-12-29 00:00] #66137 closed

[2019-12-29 00:00] Centril commented on #67684
@dpp You can't. What I would do is inline the pieces you need from `combine` into your local crate until you can reproduce the issue without `combine`. Once you've done that, it's a good idea to start minimizing (but once we have a playground link it gets easier to help).

[2019-12-29 00:13] sapir opened #67691 "Incorrect unused_variables diagnostic for or-ed patterns"
With rustc 1.42.0-nightly (0de96d37f 2019-12-19):

For the following code:

[code]

I get the following diagnostic:
[code]

Instead of:
[code]

[2019-12-29 00:15] oli-obk opened #67692 "Remove `HirId` from MIR"
The [`source_scopes`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/mir/struct.Body.html#structfield.source_scopes) field of `mir::Body` contains a `lint_root` `HirId` for figuring out the correct lint levels when reporting lints in MIR processing. Not only does this break our abstractions between HIR and MIR, this makes inlining functions from other crates super weird, because right now w

[2019-12-29 00:34] Centril commented on #67691
Regression introduced in 1.36.0.

[2019-12-29 00:35] oli-obk commented on #67641
Heh, the first victim of const prop acting as if it were creating constants.

Previous discussion on zulip: https://rust-lang.zulipchat.com/#narrow/stream/189540-t-compiler.2Fwg-mir-opt/topic/const.20prop.20breaking.20const.20rules/near/183548094

[2019-12-29 01:22] dpp commented on #67684
🙄

Okay... y'all have a bug that causes the compiler to panic. This is suboptimal in a language that is supposed to make guarantees about this kinda thing. But okay... there's a panic in the compiler.

Me... a Rust n00b, but a person who's been doing open source for 29 years and have my share
of non-trivial projects... I get that asking folks to help out and filing bugs in a uniform way.

But you'

[2019-12-29 02:41] mark-i-m commented on #67565
@Centril Sure, but I think it stems from a larger problem of undisciplined use of `_` in various places... If we don't fix that, then we will get weird bugs like this showing up again later even if we fix this particular example....

[2019-12-29 02:44] Centril commented on #67565
@mark-i-m I don't mind fixing this by fixing the root cause, but can we discuss the bigger issue in a issue made for that and cc this one?

[2019-12-29 03:09] mark-i-m opened #67693 "Remove uses of `_` in defaults"
Quoting myself from the referenced thread:

I feel like the internal use of `_` as a default name for things is a bit undisciplined, and it's leaking into diagnostics in annoying ways. There is also this: https://github.com/rust-lang/rust/pull/66679

I feel like internally, we should keep a strong separation between names that we get from the source code being compiled and names being generated by

[2019-12-29 06:16] CJKay commented on #59203
This is critical for certain inline assembly like semihosting instructions. There is no way to identify that `armv7-linux-androideabi` is going to build with Thumb code generation but `arm-unknown-linux-gnueabi` isn't.

[2019-12-29 08:07] petrochenkov commented on #55467
Copypasting the comment https://github.com/rust-lang/rust/pull/66670#issuecomment-569484077:

By the way, the RFC says the normalization is performed during parsing rather than lexing.
That means proc macros receive the original unnormalized tokens and can perform their own normalization (same as with escaping in literals).
But that's probably not the intent of the RFC.

On the other hand, if the

[2019-12-29 08:12] Manishearth commented on #55467
That is definitely not the explicit intent of the RFC, but you're right that there's a tradeoff here. I'd leave it up to the compiler folks to figure out what best to do here.

[2019-12-29 09:03] matthiaskrgr commented on #67558
This also reproduces on `rustc src/test/ui/issues/issue-25145.rs  --emit mir`.

[2019-12-29 09:05] matthiaskrgr opened #67696 "ICE "Cannot copy into already initialized unsized place""
`rustc ./src/test/ui/trivial-bounds/trivial-bounds-inconsistent-associated-functions.rs  --emit mir`
code:
[code]
backtrace:
[code]

[2019-12-29 10:12] kinnison commented on #67647
I'd guess this is related to https://github.com/rust-lang/rust/blob/master/src/librustdoc/core.rs#L318 somehow.  I'm not entirely sure what rustdoc relies on which would mandate the locking in of the permission to use unstable features, but perhaps @GuillaumeGomez would know?

[2019-12-29 12:13] LukasKalbertodt commented on #59878
@SimonSapin Do you think it would be a good idea to add a future-incompatibility lint for this, like we did for the `array.into_iter()` problem (https://github.com/rust-lang/rust/issues/66145)? In particular, because you said "Whatever we end up deciding should probably apply to both." This was suggested [here](https://github.com/rust-lang/rust/issues/66145#issuecomment-567982490).

[2019-12-29 14:23] Mark-Simulacrum opened #67706 "Major async/await compiler performance regression"
Something in #67670 caused a major performance [regression](https://perf.rust-lang.org/compare.html?start=74c4e6a981d3150db8444c8d250e50bbe6b93b6b&end=3a087ad3a924be12343bb035bf9b63ed81f650bf&stat=instructions:u). Query that regressed is normalize_ty_after_erasing_regions, but not sure if that means much. I suspect that https://github.com/rust-lang/rust/pull/65244 is the PR responsible, but have n

[2019-12-29 15:41] Jake-Shadle commented on #36156
For those who just want to print the ios targets using `--print target-list` or `--print cfg --target aarch64-apple-ios` etc, you can create an executable script called `xcrun` anywhere in your `PATH` that echos a valid path somewhere on your system, eg.

[code]

[2019-12-29 18:49] ssomers commented on #67438
Rust Playground example is fixed in nightly, I think I can close this

[2019-12-29 18:49] #67438 closed

[2019-12-29 19:30] #67541 closed

[2019-12-29 19:32] rust-highfive opened #67708 "`rls` no longer builds after rust-lang/rust#67661"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#67661, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and nominating for compiler team

[2019-12-29 21:43] CJKay commented on #29633
@comex Seems reasonable.

@Lokathor I don't know the impact for GBA development, but for bare-metal Cortex-M style development it could prove useful to retain the ability for the runtime to send arguments to and return values from the main function.

[2019-12-29 21:46] Centril commented on #67706
Seems like the most prudent course of action is to create a revert PR for https://github.com/rust-lang/rust/pull/65244 to see if perf is regained.

[2019-12-29 21:46] infinity0 commented on #67242
I'm hitting this on Debian too. Running `foo` by itself does result in infinite-loop printing `caught foreign exception in catch (...)` however the rust test suite is actually running `/bin/sh -c LD_LIBRARY_PATH="/home/infinity0/rustc/build/armv5te-unknown-linux-gnueabi/test/run-make-fulldeps/foreign-exceptions/foreign-exceptions:/home/infinity0/rustc/build/armv5te-unknown-linux-gnueabi/stage2/lib

[2019-12-29 21:47] bytwise opened #67710 "ICE with mir-opt-level=2: Got a wide pointer where a scalar was expected"
[code]

### Compiler output
[code]

[2019-12-29 21:57] infinity0 commented on #67242
Ah nvmd, I just had to wrap the thing in single-quotes to reproduce the loop, the output of "pstree" is misleading.

[2019-12-29 22:01] Lokathor commented on #29633
But you said "if there's no arguments to main then write `main(0, &[core::ptr::null()] as *const *const u8);`", which is Rust code. And no Rust code runs before or after `main` on GBA. So your suggestion is nonsense.

That is why I said that each platform should just be allowed to just use a platform appropriate signature of its own devising.

To be as absolutely clear as possible: **one signature

[2019-12-29 22:02] infinity0 commented on #67242
Since this test is new in 1.40 I'll just `# ignore-arm` for the time being in Debian.

[2019-12-29 22:05] Centril commented on #67710
cc @oli-obk @wesleywiser

[2019-12-29 22:08] infinity0 commented on #34902
@jgalenson I'm already including that compiler-builtins `-ffile-prefix-map` patch in Debian's rustc and it doesn't work, though we're using GCC not LLVM. What exactly is this issue with "it seems to embed source paths into files generated from assembly" you are talking about? I don't remember seeing that last time I was working on GCC reproducibility a few years ago.

[tests.r-b.org results for ru

[2019-12-29 22:08] Mark-Simulacrum commented on #67706
I wouldn't be opposed to such a course. Not sure if I'll have the time to do so for a day or two, though.

[2019-12-29 22:10] infinity0 commented on #34902
I should mention that the differences include more that just C++ compiler output, which is what you seem to be suggesting is the last remaining thing, from your previous comment. My own testing and tests.r-b.org's testing indicates otherwise. At least the syn crate is embedding build paths.

[2019-12-29 22:25] dangerousplay commented on #67690
It seems a problem with `regex` utilized in the `rustc`, unfortunately `heaptrack` memory report is strange, the execution time tracked is wrong besides the graph shows up the memory grow.

I'm thinking ways to better troubleshoot, but the side effects of the issue is hard.

[2019-12-29 22:37] Mark-Simulacrum commented on #67690
It'd be helpful to try and simplify the code, ideally to something that doesn't have dependencies (beyond std or so), or at least as few dependencies as possible.

As a start putting up a github repository with a Cargo.toml and as simple a crate as possible would be helpful for reproducing on our side (i.e., extracting the file you've linked from that crate -- or, if the crate is really necessary,

[2019-12-30 01:11] Centril commented on #62254
The stabilization PR and proposal is up in https://github.com/rust-lang/rust/pull/67712.

[2019-12-30 01:30] zonyitoo opened #67713 "[libstd] TcpStream and TcpListener supports TCP_FASTOPEN"
## Background

`TcpStream` and `TcpListener` in `libstd` doesn't support [TCP Fast Open (TFO)](https://en.wikipedia.org/wiki/TCP_Fast_Open). Because (in Linux)

1. `TcpListener` must call `setsockopt` with `TCP_FASTOPEN` after `listen(..)`
2. `TcpStream`
    - Must call `sendto` and `recvfrom` like datagram with flag `MSG_FASTOPEN`
    - Doesn't need to `connect` for clients

Since libraries out t

[2019-12-30 01:42] petertodd opened #67714 "Trying to create a >isize::MAX length slice crashes the compiler"
[code]

results in:

[code]

Of course, this is invalid. But a better error message would be nice!

[2019-12-30 01:57] est31 commented on #53487
The work to change the formatting has gone stale: https://github.com/rust-lang/backtrace-rs/pull/261

Can't the formatting be improved after backtraces have become stable? I'd love to see stabilization in 1.42.0. In any case It'll take some time until all libraries integrate backtraces into their errors (including std).

[2019-12-30 02:06] rust-highfive opened #67716 "`clippy-driver` no longer builds after rust-lang/rust#66942"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#66942, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Zoxc, the PR reviewer, and nominating for

[2019-12-30 02:09] dtolnay commented on #53487
@est31 I am going to stick to getting those formatting changes made before stabilization. Printing the backtrace is the core thing being stabilized in the first round of backtrace stabilizations; it should be a format that has been somewhat thought about before people start building on top of it.

In any case this should be a simple change, someone should just send a different PR.

[2019-12-30 02:12] dtolnay commented on #53487
I would settle for just the first and third bullet in https://github.com/rust-lang/rust/issues/65280#issue-505486712, using the standard Debug style and removing `stack backtrace:\n` from Display. The precision thing can happen later.

[2019-12-30 04:01] est31 commented on #53487
Sadly the backtrace library lives in the rust-lang org. The time where I sent gratis PRs to the rust-lang org (or any org that's part of the official Rust project) is over now so I won't be able to make a PR. It's up for grabs!

[2019-12-30 04:05] mark-i-m opened #67718 "Compiling with local llvm"
When I set `llvm-config = "/usr/lib/llvm-8/bin/llvm-config"` in `config.toml`, I get the following error:

[code]

Am I doing something stupid?

[2019-12-30 04:41] nvzqz opened #67720 "Allow deny/forbid level lints in macros to cross crate boundaries"
I'm attempting to add an `assert_ffi_safe!` macro to `static_assertions` by creating an `extern "C"` block with a function that references the input types and marking it with `#[forbid(improper_ctypes)]` (see https://github.com/nvzqz/static-assertions-rs/pull/31). However, while the macro works correctly if used within the same crate, it results in false positives when used externally. This is evi

[2019-12-30 04:51] jyn514 commented on #51405
@gilescope would using a library like [`object`](https://docs.rs/object/)  or [`faerie`](https://docs.rs/faerie/) help with cross-platform compatibility? I know `object` also supports Windows.

[2019-12-30 05:12] #66901 closed

[2019-12-30 05:54] petrochenkov commented on #67718
Not sure why `FileCheck` is missing in your specific case, but `config.toml.example` has a couple of options to specify custom `FileCheck` (`llvm-filecheck`) or proceed without it (`codegen-tests`).

[2019-12-30 07:15] philipc commented on #51405
@jyn514 `findshlibs` needs to deal with the image after it is already loaded in memory, so it's a bit different from the problem that `object` solves (and `faerie` is only for writing, not reading), and `findshlibs` is already cross-platform too.

However, I'm not sure how `findshlibs` is relevant to this issue. rust can already get stack traces without needing to use `findshlibs`. As I understand

[2019-12-30 07:27] netvl commented on #64960
This seems to be fixed in the latest nightly, curious what is the change that fixed it.

[2019-12-30 07:47] retep998 commented on #51405
On Windows this is reasonably simple. There are few special restrictions on what you can do inside an exception handler, so it would be trivial to get a backtrace and print it out. The exception record provides a `CONTEXT` we can pass to `StackWalkEx` to get the stack trace at the point of the overflow. We'd also have to call `SetThreadStackGuarantee` to make sure there is enough space on the stac

[2019-12-30 07:59] mitsuhiko commented on #53487
@dtolnay i would generally recommend not to change the `Debug` formatting *after* stabilization. Reason being that parsing that output is currently the only way to customize it and I expect a lot of code to start doing that. I know we're already doing this because `failure` also did not expose details of the backtrace.

[2019-12-30 08:04] udoprog commented on #53487
@mitsuhiko Would panicking in case unsupported modifiers are specified be an option until their behavior is settled?

[2019-12-30 08:08] mitsuhiko commented on #53487
@udoprog not sure I follow.

[2019-12-30 08:18] udoprog commented on #53487
@mitsuhiko If I read you correctly, you seem to be worried about adding behavior to debug formatting modifiers _after_ backtraces and their default formatting has been stabilized. If so, I suggested was to fence these modifiers behind a panic to future proof the implementation, so we can decide on their exact behavior at a later stage without breakage.

So if someone does:
[code]
Which is [one pro

[2019-12-30 08:23] #57389 closed

[2019-12-30 08:23] #58170 closed

[2019-12-30 08:23] #67627 closed

[2019-12-30 08:23] #67634 closed

[2019-12-30 08:53] mitsuhiko commented on #53487
Existing code parses the default output. So unless you want to hide backtraces entirely until it's stabilized people (including myself) will start parsing that.

[2019-12-30 08:55] mitsuhiko commented on #53487
For what it's worth I don't think the built-in stacktrace needs any fancy formatting. Once an API is available to access individual frames all of this can go into an external library.

[2019-12-30 09:02] cyphar commented on #53487
@mitsuhiko

FWIW, I completely agree -- it doesn't even need to be a full frame structure that you're providing. You could even just export the instruction pointer for each frame (as an `Iter<usize>` or similar) ad then `backtrace-ng` or `backtrace 1.0` could take that and figure out the symbol names and other information from debugging symbols.

[2019-12-30 09:04] pietroalbini opened #67724 "Tracking issue for RFC 2837: "Demote Apple 32bit targets to Tier 3""
This is a tracking issue for the RFC "Demote Apple 32bit targets to Tier 3" (rust-lang/rfcs#2837).

* Rust 1.41.0 (2020-01-30) will be the last release with the current support tier
* Rust 1.42.0 (2020-03-12) will have Tier 3 support for all Apple 32bit targets

**Steps:**

- [x] Create a post on the main blog explaining the change to our users
  - PR: https://github.com/rust-lang/blog.rust-lang.o

[2019-12-30 09:13] pietroalbini commented on #67724
I will write the implementation PRs shortly.

[2019-12-30 09:49] mati865 commented on #67718
Alternatively assuming it's Debian based distro like Ubuntu you can install `llvm-8-tools` which will provide `/usr/lib/llvm-8/bin/FileCheck`.

[2019-12-30 10:12] jonhoo commented on #64960
Yup, #64856 fixed this issue, so it should probably now be closed.

[2019-12-30 11:31] #67539 closed

[2019-12-30 11:32] csmoe commented on #67684
@dpp I think there’s some misunderstanding here:

as @Centril wrote, he was just trying to guide you to create a mcve. If time is tough for you, just leave this ICE here, mvce of an ICE is **not** a must from the original reporter, people from the community will pick this up to minimize as the `E-needs-mvce` label was already added.
And thanks for your reporting :)

[2019-12-30 11:34] Centril commented on #64960
Let's do that... :)

[2019-12-30 11:34] #64960 closed

[2019-12-30 12:20] squeaky-pl opened #67728 "Better diagnostic message when hitting 32 element limit on array trait impl"
So in #rustlang trait implementations on arrays are only implemented to maximum hardcoded 32 elements. I was bitten by this today, and I couldn't figure this out for a while. This would compile if you remove 5 since it would fit in 32 elems but the real solution is to call .iter() and not rely on IntoIter. This of course was reduced to simple case and my original problem appeared in a more complex

[2019-12-30 12:30] est31 commented on #53487
Note that currently the Display impl of Backtrace is the same as the `Debug` impl, but the two are generally different. `Debug` has always been [meant to output the hidden internals](https://doc.rust-lang.org/stable/std/fmt/index.html#fmtdisplay-vs-fmtdebug). Its purpose is debugging, not being a stable format. You shouldn't expect it to never change. `Display` on the other hand has explicitly bee

[2019-12-30 13:15] steveklabnik commented on #65262
@Lokathor the semver spec also says that projects define what “breakage” is.

That said, yes, ^ is a good default.

[2019-12-30 15:38] niklasbuechner commented on #61323
I am running into this issue as well. Since the corresponding pr has been merged 24 days ago and the latest version was tagged 14 days ago, I am not sure, if this error should have been fixed with `1.40.0`. (I did not find the commit on the master but I am also unsure if it was squashed with other commits.) Therefore, I thought I would at least post my error as well, just in case this is supposed

[2019-12-30 16:06] ariasuni commented on #27747
Well I’m getting that

[code]

So it maybe not possible? I guess I should I take this somewhere else if it is.

[2019-12-30 16:13] SimonSapin commented on #27747
Interesting, I would have thought those wouldn’t conflict since `char` does not implement `Borrow<str>`. It suppose this is because `Borrow` is defined in libcore and so is a "foreign" trait for liballoc which is therefore not allowed to assume that `impl Borrow<str> for char` won’t be added in the future.

So yeah, it looks like this impl is not possible without changing trait coherence rules.

[2019-12-30 18:33] steveklabnik commented on #55083
Triage: no change in this diagnostic

[2019-12-30 18:40] jgalenson commented on #34902
I investigated the gcc bug I mentioned.  If I take a trivial .c file and compile it with `-g` and  `-ffile-prefix-map`, I don't see source paths in the output.  But if I use the same command line for a trivial assembly file, I do see source paths in the output.  Those go away if I change `-ffile-prefix-map` to `-fdebug-prefix-map`.  I see this with gcc 8.3 but not with recent LLVM builds.  Can you

[2019-12-30 18:51] RalfJung commented on #67628
Well I think we should conceptually make promoteds constants or statics though, instead of having to maintain a *third* category of compile-time evaluated things. And constants seems to fit best, given they have the restriction that inlining their initializer into all uses and evaluating it at run-time should be equivalent to pre-computing it and just putting the result into the binary.

[2019-12-30 20:20] masonk commented on #40174
`--target x86_64-unknown-linux-musl` doesn't work for me and shouldn't be considered a sufficient workaround.

Many important crates like OpenSSL need to be vendored and cross-compiled to musl (e.g., https://github.com/sfackler/rust-openssl/issues/980#issuecomment-415548838), but when I tried to do that, complications like feature flags not working with workspaces (e.g, https://github.com/rust-lan

[2019-12-30 20:34] mark-i-m commented on #67718
Thanks! I will add this info to the rustc-guide.

[2019-12-30 20:34] #67718 closed

[2019-12-30 21:21] Arnavion commented on #38962
https://github.com/rust-lang/rust/issues/47032 is the same as this one but also has [a workaround](https://github.com/rust-lang/rust/issues/47032#issuecomment-568784919) - wrap the `Cow` in another `Sized` type to break the recursion. As long as the wrapper type is guaranteed to be `Sized`, the recursion will be broken.

[2019-12-30 21:33] Arnavion commented on #67197
This is more closely related to https://github.com/rust-lang/rust/issues/38962 and https://github.com/rust-lang/rust/issues/47032 than https://github.com/rust-lang/rust/issues/23714 , since https://github.com/rust-lang/rust/issues/23714 is doing shenanigans with a custom `ToOwned` impl that breaks for a different reason.

[2019-12-30 21:37] t-mw commented on #67599
Thanks for checking. As an aside, I noticed that the issue hasn't been labelled while most other new issues are, I'm not sure if that means it's slipped through some cracks.

[2019-12-30 22:27] syntacticsugarglider opened #67738 "Incorrect/unexpected behavior with associated type lifetime bounds in lifetime-parametrized traits"
[code]

This fails with ```the associated type `<T as Bound<'_>>::Assoc` may not live long enough
consider adding an explicit lifetime bound `<T as Bound<'_>>::Assoc: 'static```, despite that very bound clearly being present.

This problem is resolved by removing the `'a` parametrization on `Bound` i.e.
[code]
or by adding the bound explicitly to `Assoc` at definition-site
[code]
but not, for some

[2019-12-30 22:45] petertodd opened #67739 "ICE w/ const_generics when trying to use the size of an associated type size as an array length"
[code]

results in:

[code]

Removing the const_generics feature flag gets the expected error message:

[code]

(IIUC that itself is a bug related to #43408)

Using `mem::size_of::<Self::Associated>()` directly outside of a const-context works, which I guess is something const_generics enables that isn't otherwise allowed.

Finally, the error message is the same whether or not the code is in a pro

[2019-12-30 22:50] petertodd commented on #54169
Closing as `existential_type` no longer exists and the replacement `type_alias_impl_trait` doesn't seem to have a similar issue.

[2019-12-30 22:50] #54169 closed

[2019-12-30 23:05] petertodd commented on #67714
Related:

[code]

Produces the same error.

[2019-12-30 23:46] ecstatic-morse commented on #67628
Currently, there's a lot of duplication between the logic for [const-checking](https://github.com/rust-lang/rust/blob/a9dd56ff9a08d74c53d5cc22d18f126a12749608/src/librustc_mir/transform/check_consts/validation.rs#L401) and the logic for [promotability](https://github.com/rust-lang/rust/blob/a9dd56ff9a08d74c53d5cc22d18f126a12749608/src/librustc_mir/transform/promote_consts.rs#L560). My long-term go

[2019-12-31 00:21] estebank opened #67740 "Redundant `use` suggestion for incorrectly invoked macro"
The `use` suggestion shouldn't be emitted as `format` is already in scope.

[code]

_Edit:_ The suggestion is _correct_: `std::fmt::format` is _not_ the `format!()` macro. That being said, the import suggestion should have slightly different wording if other suggestions are provided. Changing it to "alternatively, another candidate is found..." would make it clearer, but this indeed _not_ a bug.

[2019-12-31 00:28] ollie27 commented on #67266
[`GetSystemTimePreciseAsFileTime`](https://docs.microsoft.com/en-gb/windows/win32/api/sysinfoapi/nf-sysinfoapi-getsystemtimepreciseasfiletime) was actually added in Windows 8 so even if we completely dropped support for XP and Vista the fallback would still be needed for Windows 7.

[2019-12-31 00:30] ollie27 commented on #67714
Duplicate of #34127.

[2019-12-31 00:30] #67714 closed

[2019-12-31 00:36] ollie27 commented on #67366
Duplicate of #24183

[2019-12-31 00:36] #67366 closed

[2019-12-31 00:39] ollie27 commented on #67179
See #63338.

[2019-12-31 01:03] jumbatm commented on #67599
Hmm, not 100% sure -- there's quite a few open issues without labels right now, but there's also been quite a number of issues in the past that were resolved without being labelled. I feel like not having labels is more just an indication that @jonas-schievink, who seems to be the one to label most new issues, didn't happen to see it when it first was submitted.

In any case, you can [use rustbot

[2019-12-31 01:03] dangerousplay commented on #67690
Thank you, sorry for late response (working) but i get it working on playground.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4512361986a733a75f43705ca512a736

I'm now trying to minimize the to focus on the issue.

[2019-12-31 01:04] jumbatm commented on #67599
Oof, alright. Fair enough.

@rustbot modify labels to +O-macos, +A-runtime

[2019-12-31 01:38] Byter09 commented on #67690
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=562a19ca1324c9c57b06149d0e0dd19a

Got it down to 18 lines. Still produces the same error. I have not tested if this goes out-of-memory. But receiving a `SIGKILL` would _signal_ that.

[2019-12-31 01:43] tmandry commented on #64960
I think you meant #57017. #59087 is also related.

[2019-12-31 01:50] estebank commented on #44539
Current output:

[code]
[code]

The second one should suggest `take_foo(<BAR as Foo>::BAR);` or enumerate all of the possible implementors of `Foo`. The first one should mention that no implementor of `Foo` has been found. Both cases should mention that associated types can only be used from specific `impl`s, not directly from a trait.

[2019-12-31 02:02] jyn514 commented on #67690
One liner: `pub type T<A: Send + Sync + Clone> = A;`.

Strangely, this no longer crashes if you remove any of `pub`, `Send`, `Sync`, or `Clone`.
There's nothing special about Send or Sync, this also crashes:

[code]

Even weirder, this does _not_ crash: `pub type T<P: A + B + std::hash::Hash> = P;`

(I didn't come up with the one-liner, that was @pythondude325)

[2019-12-31 02:15] azriel91 opened #67743 "Recent nightly doesn't support array length from indirectly referenced trait constant"
Hiya, on `rustc 1.42.0-nightly (a9dd56ff9 2019-12-30)`, compilation fails when defining an array whose length is from a constant from a trait from an associated type. The code compiles fine on `rustc 1.42.0-nightly (0de96d37f 2019-12-19)`.

[code]

The error message:

[code]

It seems similar to https://github.com/rust-lang/rust/issues/67739, but in this case, `size_of` isn't being used. It may al

[2019-12-31 02:28] jyn514 commented on #67690
I stopped rustc (SIGSTOP) and got a backtrace with gdb, it looks like it's trying to generate infinite errors:

[code]

[2019-12-31 02:34] Centril commented on #44732
Adding the language team since the actual implementation (https://github.com/rust-lang/rust/pull/44781) ended up making changes to the then `src/libsyntax/ext/expand.rs` which is part of the compiler (and therefore this has language spec implications of the `#[doc ...]` attribute, which rustdoc uses, but is not part of rustdoc).

[2019-12-31 03:04] jyn514 commented on #67690
It looks like this is a problem with the error reporter itself: it's affected by the length of the name (!!)

OOM:
[code]

No OOM:
[code]

[2019-12-31 03:12] pythondude325 commented on #67690
I figured out the issue has to do with how the error printer places the arrows to point to the error, adding a newline after the trait names and before the plus solves the issue.
[code]

[2019-12-31 03:27] pythondude325 commented on #67690
Probably caused by some code in here: https://github.com/rust-lang/rust/blob/master/src/librustc_errors/emitter.rs#L792-L849

[2019-12-31 03:35] pnkfelix commented on #65844
Aha!

My insight today: why bother reducing to some `.ll` file, when you can just reduce to a C source file and invoke *clang* to show the bug!

Step 1.: Verified that bug still reproduces with this version of the code (when I use a `[llvm] optimize=false` build):

[code]

Step 2.: The above is readily translatable to C:

[code]

Step 3. Get your hands on `clang` build with assertions enabled. (Th

[2019-12-31 03:51] pnkfelix commented on #65844
Filed https://bugs.llvm.org/show_bug.cgi?id=44413

At this point I'm going to downgrade this to P-medium. (It is not really reasonable for us to try to fix this on our end; it will need to wait for LLVM to fix its bug, and then us to either cherry-pick the fix, or wait for an LLVM upgrade.)

[2019-12-31 04:12] JohnTitor opened #67746 "`test/run-make-fulldeps/pgo-branch-weights` fails occasionally on CI"
You can see this test fails occasionally in some pull requests: https://github.com/rust-lang/rust/pulls?utf8=%E2%9C%93&q=is%3Apr+pgo-branch-weights

I don't think this is due to PR changes. Could we modify, or just remove this for now?

[2019-12-31 04:23] Centril commented on #67746
cc @Zoxc @michaelwoerister

[2019-12-31 04:42] skinny121 commented on #67743
Ouput from [cargo-bisect-rustc](https://github.com/rust-lang/cargo-bisect-rustc)

# Regression found in the compiler

searched nightlies: from nightly-2019-12-29 to nightly-2019-12-31
regressed nightly: nightly-2019-12-31
searched commits: from https://github.com/rust-lang/rust/commit/da3629b05f8f1b425a738bfe9fe9aedd47c5417a to https://github.com/rust-lang/rust/commit/a9dd56ff9a08d74c53d5cc22d18f1

[2019-12-31 09:53] jonas-schievink commented on #67743
cc @oli-obk

[2019-12-31 10:34] sapir commented on #67691
I found the breaking commit with cargo-bisect-rustc and git bisect. https://github.com/rust-lang/rust/pull/59993

Based on this, I found that if the or pattern uses `ref` then the diagnostic becomes more confused.

I can have a try at fixing this later, if that's ok.

[2019-12-31 11:38] jonas-schievink commented on #67179
Closing since this is not a supported configuration

[2019-12-31 11:38] #67179 closed

[2019-12-31 12:17] JohnTitor commented on #64848
The ICE seems to disappear on latest nightly, could someone confirm it?

[2019-12-31 12:38] bjorn3 commented on #67529
This is only miscompiled when const prop runs.

[2019-12-31 12:41] hniksic opened #67751 "Trait alias compilation failure when returning impl Alias"
While working on a [stackoverflow question](https://stackoverflow.com/q/59535042/1600898) I encountered the need for trait aliases. For example, this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=291acfce5a541b53d3bb5ee3eee6c267)) uses a very long trait several times:

[code]

It would improve readability and reduce duplication to introduce a trait alia

[2019-12-31 12:58] #27435 closed

[2019-12-31 13:04] Manishearth opened #67753 "Fn traits with array args no longer work with const_generics enabled"
[code]

([playpen](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dd61053708a51e96786e54286e048ced))

Gives the error:
[code]

This compiles fine with const_generics not enabled, and is a regression

cc @centril @oli-obk

[2019-12-31 13:04] Manishearth commented on #67753
(discovered by @jcoglan)

[2019-12-31 13:12] NonNullableName opened #67754 "Compiler crash in definition of trait method that takes and returns an associated type with generics."
The compiler crashed when trying to define an inline method in a trait with an associated type that contains a generic and a bound to that generic.

I tried this code:

[code]

I expected they to compile well without expand the macro that use the `gen` method.

Instead,the compiler crashed with the message `error: internal compiler error: src\librustc\ty\subst.rs:610: type parameter ``T/#1`` (T/1)

[2019-12-31 13:17] jonas-schievink commented on #23714
Minimized example:

[code]

Adding `T: ?Sized` to the `MyToOwned` impl breaks the cycle. It seems that the `Test` definition will check wellformedness of `MyCow<&'static Test>`, which ends up requiring `&'static Test: MyToOwned`, which requires `Test: Sized` due to the `MyToOwned` impl. This then apparently requires wellformedness of `Test` again, or something similar.

I do not think this should

[2019-12-31 13:19] jonas-schievink commented on #67754
Please try this on the newest nightly

[2019-12-31 13:23] RalfJung commented on #56166
Also see what @eddyb wrote at https://github.com/rust-lang/miri/issues/1038#issuecomment-551171293

[2019-12-31 13:31] Alexendoo commented on #64848
Fixed by #67631, but I believe it could do with a compile test

[2019-12-31 14:09] pnkfelix commented on #65844
LLVM posted proposed "fix" (*) in https://github.com/llvm/llvm-project/commit/e898ba2d151d621dcfc35828aad6fcded5a554e8 ; see also https://bugs.llvm.org/show_bug.cgi?id=44413#c2

(*) at least fix in terms of removing the assertions; the codegen is still wrong, but they say we should at least get a diagnostic now in addition to no assertions...

[2019-12-31 14:31] djugei commented on #66962
i built a [minimal test case](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=246ff15491b86ac5686459b214bdf8f3). it seems like doing _any_ calculation in array sizes causes that ICE.

[2019-12-31 14:32] sdroege opened #67757 "Nightly 2019-12-29 causes `reached the type-length limit` error in previously working code"
`cargo bisect-rustc` considers 3a087ad3a924be12343bb035bf9b63ed81f650bf the culprit.

Can be reproduced on https://github.com/sdroege/async-tungstenite by running `cargo test`:

[code]

[2019-12-31 14:37] jonas-schievink commented on #67757
Presumably due to https://github.com/rust-lang/rust/pull/65244. cc @seanmonstar

[2019-12-31 14:58] djugei commented on #66962
as a workaround you can do the calculations outside of the array and encapsulate the array in a different type, like in this [example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=df763e486c50ec636c87c3fcc5a858bb).

[2019-12-31 15:10] NonNullableName commented on #67754
I will do it and post when I have that version installed,curiosly `rustup update` skipped every component last time I executed they.

[2019-12-31 15:13] sidgilles commented on #67179
Ok, sounds clear. (https://github.com/rust-lang/rust/pull/63338#issuecomment-519122090)

This means articles and threads like https://users.rust-lang.org/t/how-to-write-plugins-in-rust/6325/18  , https://michael-f-bryan.github.io/rust-ffi-guide/dynamic_loading.html , https://s3.amazonaws.com/temp.michaelfbryan.com/dynamic-loading/index.html are not intend to be used within the rust ecosystem.
But,

[2019-12-31 15:27] NonNullableName commented on #67754
I did it,the compiler not crash and rather gave me an error.

[2019-12-31 15:27] #67754 closed

[2019-12-31 15:43] jonas-schievink commented on #23714
Interestingly this is accepted:

[code]

[2019-12-31 15:47] estebank commented on #62922
[Current output](https://github.com/rust-lang/rust/blob/master/src/test/ui/methods/method-ambig-two-traits-from-impls2.stderr)

[code]

[2019-12-31 15:48] #62922 closed

[2019-12-31 16:08] oli-obk commented on #67628
Yea, these arguments all make total sense

[2019-12-31 16:08] #67628 closed

[2019-12-31 17:46] Centril commented on #67753
cc @nikomatsakis @eddyb @varkor

Simplified:
[code]

[2019-12-31 19:08] jonas-schievink commented on #67753
Isn't this expected fallout?

[2019-12-31 19:10] varkor commented on #67753
This is an expected consequence of https://github.com/rust-lang/rust/pull/6688.

[2019-12-31 19:59] Koxiaet opened #67765 "Unhelpful error messages from borrow checker with async/await"
This code:

[code]

Returns this error:

[code]

Which is very unhelpful; it should at least in some way point to the line with the `?`. This happens on rustc 1.40.0 (73528e339 2019-12-16).

For reference, this is the equivalent non-async error message (much more helpful):

[code]

[2019-12-31 22:46] Centril commented on #67628
We should not make plans based on this however as, currently, I'm quite skeptical of constants being allowed to refer to statics.

[2020-01-01 01:29] crlf0710 commented on #55467
First bulllet point, "Normalize identifiers to NFC whilst parsing" is done in #66670 and #67702 . Thanks to @petrochenkov for instructions~

[2020-01-01 01:52] wesleywiser commented on #67706
Testing a revert in #67768

[2020-01-01 02:06] #67716 closed

[2020-01-01 03:09] Manishearth commented on #60471
Am I correct in assuming that the fix for this will fix https://github.com/rust-lang/rust/issues/67753 ?

[2020-01-01 03:10] Manishearth commented on #67753
Seems like https://github.com/rust-lang/rust/issues/60471 is what's supposed to eventually fix this?

[2020-01-01 03:41] crlf0710 commented on #55467
So i created a new repo https://github.com/crlf0710/unicode-security for uts #39 checks and data. Currently it contains only one piece of data (identifier status) which will be used for implementing the `uncommon_codepoints` lint.

Now I'm seeking for getting the code reviewed, transfered to `unicode-rs`, published to `crates.io` and start working on the `uncommon_codepoints` lint. I wonder what's

[2020-01-01 03:47] crlf0710 commented on #55467
Let me ping a few people to hear their opinions on the lib part. @alexcrichton @Manishearth @SimonSapin @kwantam

[2020-01-01 03:56] Manishearth commented on #55467
Should we move this into unicode-rs?

[2020-01-01 04:05] Manishearth commented on #55467
Oh, you already suggested that. Go ahead and add me as an owner and I can transfer it.

[2020-01-01 04:27] Manishearth commented on #55467
[Done](github.com/unicode-rs/unicode-security), and updated your access to admin

[2020-01-01 09:46] mental32 commented on #43244
Gonna poke at this tracking issue a little too, would love to see this feature hit stable :D Are there any blockers?

[2020-01-01 10:42] tspiteri opened #67771 "doc test that should not compile still fails compile_fail test"
The below code (in cf/lib.rs) has three doc tests:
1. The first succeeds as expected.
2. The second test fails as expected: the constant `M` would be `6 - 8` and there is an attempt to subtract with overflow.
3. The third test should succeed as it has the exact same code as the second test but is marked as `compile_fail`. However the test fails with the message “Test compiled successfully, but it'

[2020-01-01 10:49] croraf opened #67772 "std::net::TcpListener.incoming documentation says the method is equivalent to accept"
In https://github.com/rust-lang/rust/blob/master/src/libstd/net/tcp.rs#L739-L796 `incoming` and `accept` methods are implemented for TcpListener.

The docs for `incoming` say
[code]

This is not true as `accept()` returns a tuple and `incoming`'s iterator returns only `TcpStream` struct.

[2020-01-01 10:50] Amanieu commented on #55132
Would it make sense to also remove the `Send` requirement? As the name says, this is unchecked and unsafe anyways.

[2020-01-01 11:06] croraf commented on #67772
Perhaps change it with
[code]

[2020-01-01 11:57] mental32 commented on #43244
cc @Dylan-DPC

[2020-01-01 12:50] yshui opened #67776 ""pattern binding is named the same as one of the variants of the type `<type>`" warning is not generated when matching against a borrow"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6b951a2fc1cc70455730b35d42fcf483

This issue has been assigned to @LeSeulArtichaut via [this comment](https://github.com/rust-lang/rust/issues/67776#issuecomment-570070940).

[2020-01-01 13:23] GuillaumeGomez commented on #67647
Normally, for such things rustdoc relies on rustc internals to do the work. Maybe an option is badly set?

[2020-01-01 13:25] GuillaumeGomez commented on #26486
They definitely are available in the search, which creates duplicates sometimes (for examples, `core` types reexported in `std`). Closing then!

[2020-01-01 13:25] #26486 closed

[2020-01-01 13:31] GuillaumeGomez commented on #34827
Closing this one then.

[2020-01-01 13:31] #34827 closed

[2020-01-01 13:49] wesleywiser commented on #67706
Looks like #65244 is the cause.

[2020-01-01 14:21] csmoe commented on #67776
This lint was generated by `check_for_bindings_named_same_as_variants`:
https://github.com/rust-lang/rust/blob/9e6fb538f9254884ca9f958fdce413d6c3f2016c/src/librustc_mir/hair/pattern/check_match.rs#L287-L289
as we can see `ty::Ref` is just ignored, so the fix is pretty easy, just [peel off ](https://github.com/rust-lang/rust/blob/9e6fb538f9254884ca9f958fdce413d6c3f2016c/src/librustc/ty/util.rs#L990

[2020-01-01 14:22] RalfJung commented on #67628
Is that tracked anywhere? FWIW, I am supportive of it.

[2020-01-01 14:33] KrishnaSannasi commented on #55132
I don't think so because it is never fine to send `!Send` things to another thread, and if you are determined to do so, you can implement `Send` for a wrapper type `AssertSend`, and use that.

[2020-01-01 15:07] XAMPPRocky opened #67778 "async fn ICEs in macro on stable"
I was migrating my library (Mammut) to use reqwest `0.10` and be async, and the compiler ICEd. I don't know how to reduce it further than this.

I tried this code:

https://github.com/XAMPPRocky/Mammut/commit/f30bdec5649c2a05526ea5e6a51beec1c97a7915#diff-b4aea3e418ccdb71239b96952d9cddb6

I expected to see this happen: A successful build or another compile error

Instead, this happened: `thread 'ru

[2020-01-01 15:10] #67454 closed

[2020-01-01 16:29] Amanieu commented on #67242
Should be fixed by #67779

[2020-01-01 16:40] varkor commented on #60471
@Manishearth: yes, it ought to.

[2020-01-01 16:47] shepmaster commented on #55506
I'd like to bring this back up a bit.

I've been doing some introductory async work, and I've been bitten by the lack of hints to use a boxed future (`futures::future::BoxFuture<'a, T>` / `Pin<Box<dyn Future<Output = T> + 'a + Send>>`) multiple times. This is exacerbated because we cannot use `async fn` in traits, so boxing is a common workaround — the compiler error messages even suggest using [a

[2020-01-01 16:47] ehuss commented on #67771
This is a consequence of how `compile_fail` works.  `compile_fail` (and `no_run`) does the equivalent of `--emit=rmeta` (or the same as `cargo check`), which does not perform all steps of compilation (like codegen and linking).  One of the issues tracking this problem is #49292.

I'm not sure why rustdoc does not perform the full compilation steps for `compile_fail` and `no_run`.

[2020-01-01 16:55] csmoe commented on #67778
Reproduced with lastest nighlty:
[code]
ICE from macro resolving I believe. cc @petrochenkov

[2020-01-01 17:05] petertodd commented on #60715
Mem-mapping is a use-case I have for Freeze, specifically to prevent accidentally implementing some traits on types with interior mutability. Though given how much unsafe code is involved in that use-case anyway it'd be just a "belt-and-suspenders" measure.

It's also a use-case where exposing the *actual* compiler `Freeze` type would be annoying: in my usecase a small subset of types have both in

[2020-01-01 17:24] jyn514 commented on #43466
Would it be possible to land the current intra-doc feature without cross crate imports? That would hit most of my needs for intra-doc resolution and still leaves open the option to land cross-crate imports later.

[2020-01-01 17:42] RalfJung commented on #60715
@petertodd

I don't entirely follow. Note that `Freeze` only talks about the value itself, not other memory it points to. So, for example, `Box<RefCell<T>>` is `Freeze`.

[2020-01-01 17:46] csmoe commented on #67012
Closes as resolved.

[2020-01-01 17:46] #67012 closed

[2020-01-01 17:50] LeSeulArtichaut commented on #67776
@rustbot claim

[2020-01-01 18:22] petertodd commented on #60715
On January 1, 2020 12:42:22 PM EST, Ralf Jung <notifications@github.com> wrote:

I'm talking about values in memmapped files.

To summarize, I have a trait, ValidateBlob, that validates that a blob of bytes are structurally valid for the type implementing it ([repr(C)], unaligned types, etc). It's designed to work with read-only mappings¹, so interior mutability will simply segfault². Freeze in th

[2020-01-01 19:18] kubkon opened #67782 "Internal compiler error: building dynamic library is unsupported on Emscripten"
Apologies if this is a duplicate, but I couldn't find a similar issue. Anyhow, the issue appears to be caused when trying to build for `wasm32-unknown-emscripten` target and including a lib crate with `crate-type = ["rlib", "staticlib", "cdylib"]` causes the following compiler panic:

[code]

After further investigation, removing the `cdylib` from `crate-type` removes the error.

The weird thing i

[2020-01-01 19:40] jonas-schievink commented on #67782
Seems like this is just a panic that should instead be a fatal error

[2020-01-01 19:41] ssanderson commented on #61909
I ran into this issue today while working on a small project I'm using to learn Rust. I was quite stumped by the error I was seeing until some googling led me to this issue.

The code in my case looked like this:

<details>
<summary> Click to Expand </summary>

[code]

</details>

and the error I get from rustc 1.40 is:

<details>
<summary> Click to Expand </summary>

[code]

</details>

As a rela

[2020-01-01 19:44] kubkon commented on #67782
@jonas-schievink hmm, but does that mean if I'd like to use a lib which specifies itself as a dynamic lib using `crate-type=[cdylib]` amongst others in a binary cross-compiled to Emscripten, I will be greeted with a fatal error unless I remove the `cdylib` `crate-type` annotation?

[2020-01-01 19:50] jonas-schievink commented on #67782
No, only the cases causing the ICE will instead report a normal error. But it looks like the panic was never supposed to be reached in the first place, so there might be an additional bug.

[2020-01-01 19:54] kubkon commented on #67782
Ah, OK, makes sense. Thanks for the clarification!

[2020-01-01 20:00] nagisa commented on #67772
Functionally it is equivalent and you can recover the peer address through methods on the `TcpStream` type.

[2020-01-01 20:24] alex opened #67785 "await block results in "cannot return value referencing local variable" for Copy type"
Stripped down code [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9992414cc911aa7bd4e781aea65171e2):

[code]

This complains that `cannot return value referencing local variable idx`, however `idx` is a `usize`, which means it's `Copy`. As far as I understand it, that means the compiler can "solve" this problem for me by simply copying the value implicitly.

[2020-01-01 20:27] jonas-schievink commented on #67785
`async move` fixes this. This seems to be expected behavior, similar to how closures work.

[2020-01-01 20:27] #67785 closed

[2020-01-01 20:29] alex commented on #67785
Why yes, yes it does :-) Thanks for the super quick answer.

I'm not totally I understand why this is expected behavior though, and either way I suspect there may be a way to turn this into improved diagnostics.

[2020-01-01 22:03] mattfs opened #67787 "Macro expansion of rental! macro using --pretty=expanded generates uncompilable code"
I filed a `cbindgen` bug on this issue [here](https://github.com/eqrion/cbindgen/issues/444), but I believe this is an underlying rustc issue with macro expansion.

What appears to be happening is that the `rental!` macro is generating a number of type bounds via `quote_spanned!` that successfully compile, but cannot be expanded to compilable code.

Attached is a minimal repro for this bug and a p

[2020-01-01 22:46] Aaron1011 commented on #67710
Note that you need to add `fn main() { parse(()) }` to actually reproduce the ICE

[2020-01-01 23:16] Centril commented on #66688
Closing as done.

[2020-01-01 23:16] #66688 closed

[2020-01-02 00:09] simvux opened #67790 "Empty slice fails to infer type when it's able to"
Let's say we have a trait and implement that for a slice (or tuple containing slice)
[code]
If we then attempt to use the trait with an empty slice it's unable to infer a type for the slice, causing a misleading error saying
`the trait This is not implemented for [_; 0]`
[code]
However if we simply create an annotated const or let binding
[code]
It works just fine

Shouldn't rustc be able to infer

[2020-01-02 00:37] ecstatic-morse opened #67792 "Tracking issue for RFC 2362, `impl const Trait for Ty` syntax"
TODO

[2020-01-02 00:38] rust-highfive opened #67793 "`miri` no longer builds after rust-lang/rust#67676"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#67676, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @wesleywiser, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and nominating for compiler

[2020-01-02 00:38] ecstatic-morse opened #67794 "Tracking issue for RFC 2632 `?const` trait bound opt-out"
This is the tracking issue for the [`?const` opt-out for trait bounds](https://github.com/oli-obk/rfcs/blob/const_generic_const_fn_bounds/text/0000-const-generic-const-fn-bounds.md#const-syntax) described in rust-lang/rfcs#2632. The primary tracking issue for that RFC is #67792. The feature gate for it is `const_trait_bound_opt_out`.

This RFC has not yet been accepted. It is being implemented on

[2020-01-02 01:00] jumbatm commented on #67529
Bisected to 364ecf50cb536efb22394668a341286d48713c54.

I'm a relatively new contributor, but I'd like to try and see if I can fix this.

@rustbot claim

[2020-01-02 01:36] Manishearth commented on #43466
The problem is that anyone might re-export a type from your crate and then the documentation will be broken.

[2020-01-02 01:38] Manishearth commented on #43466
So the user of the feature can't know in advance when it will break.

I guess we could still stabilize it with this caveat and request people to work with upstream authors to remove these links when reexporting.

[2020-01-02 02:40] #67135 closed

[2020-01-02 02:43] estebank commented on #67051
Current output:
[code]

[2020-01-02 02:43] #67051 closed

[2020-01-02 05:39] Manishearth opened #67799 "Tracking issue for check_invalid_html_tags"
This is a tracking issue for the rustdoc lint `check_invalid_html_tags`.
There is no feature gate for this lint, but it is currently nightly-only.

### `check_invalid_html_tags`

This lint warns about unclosed HTML tags and comments. See https://doc.rust-lang.org/nightly/rustdoc/lints.html#invalid_html_tags for more information.

### About tracking issues

Tracking issues are used to record the ov

[2020-01-02 05:41] steveklabnik commented on #67799
Historically, the decision was to do nothing. That doesn't mean that maybe changing it isn't the right choice, but this feels like internals thread / RFC territorry rather than a bug, personally.

[2020-01-02 05:46] Manishearth commented on #67799
@steveklabnik my understanding is that the historical discussion has been _mostly_ about whether rustdoc should allow arbitrary HTML at all, whereas this is about a narrower set of behavior -- allowing _unclosed_ tags (which basically will never do what you want, and are often the result of mistyped generics).

There are really only a few unclosed tags that can cause problems (namely, script, vide

[2020-01-02 05:52] Aaron1011 commented on #67590
I think this will be fixed by https://github.com/rust-lang/rust/pull/67796

[2020-01-02 06:10] Aaron1011 opened #67801 "#![feature(trivial_bounds)] allows invalid code to compile"
The following code compiles:

[code]

despite the fact that we are moving out of a reference to a `!Copy` type.

I don't think this can actually lead to unsoundness, since it's impossible to actually call `weird`. However, I would still expect type-checking to not attempt to assume that trivially false bounds are actually true.

[2020-01-02 06:11] Aaron1011 commented on #67801
In https://github.com/rust-lang/rust/issues/67696, this leads to the const evaluator getting confused, since it's attempting to evaluate code that should never have actually compiled.

[2020-01-02 06:21] Aaron1011 opened #67802 "Incremental compilation linker error: 'relocation R_X86_64_PC32 against undefined hidden symbol'"
This looks very similar to https://github.com/rust-lang/rust/issues/59535 - maybe https://github.com/rust-lang/rust/pull/67020 didn't fix it completely.

This occured during incremetal compilation of `rustc`, so I don't really have a good reproducer. Here's the relevant part of the error:

[code]

[2020-01-02 06:22] Aaron1011 commented on #67802
Unfortunately, I wasn't editing anything related to the paths shown in the error (I modified `src/librustc/mir/interpret/mod.rs`), so I'm not really sure how to narrow this down.

[2020-01-02 07:48] ExpHP commented on #67790
Two problems:

* I think you either meant to impl the trait for `[i32]`, or you meant to call `This::that(&&[])`.
  (I'll assume you meant to impl the trait for `[i32]`)
* Even with that fix, this still won't work.

Unification is always performed *before* coercions are inserted, meaning that coercions never occur in a generic context.  (the compiler must be able to *see* the mismatch in types wit

[2020-01-02 08:08] ExpHP commented on #67790
A more common workaround is to add `[..]` after the array:

[code]

[2020-01-02 08:44] pietroalbini opened #67804 "Add a rustdoc flag to show the source code externally"
One of the features of docs.rs is [to show the source code in its UI](https://docs.rs/crate/lazy_static/1.4.0/source/src/lib.rs), but rustdoc [provides its own view of the source](https://docs.rs/lazy_static/1.4.0/src/lazy_static/lib.rs.html) as well. This duplication is both confusing for the user, but also duplicates the amount of storage docs.rs uses to store source code.

It'd be nice to have

[2020-01-02 09:05] petrochenkov commented on #67787
While in general pretty-printing cannot produce code that compiles and equivalent to the original code due to macro hygiene, in this case it's a legitimate bug because the pretty-printed code doesn't *parse* due to a missing colon (`:`) before an empty bound list.

[2020-01-02 09:07] hameerabbasi opened #67805 "Resolving the diamond problem"
Related to #31844.

As noted by Discord user `pie_flavor#7868`, we see an error about the diamond problem: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f7b45b0efa1007a421a93aa386c6afd4

The issue is that we can't pick if we want the implementation from `A` or `B` (or our own) if this happens by doing `default impl<T> C for T where T: A + B {}`.

[2020-01-02 09:10] pie-flavor commented on #67805
note: I had meant it without the `default`, as in that the `A+B` bounded impl would be the concrete one, but really it should be valid either way

[2020-01-02 09:12] michaelwoerister commented on #67746
If the test fails, it indicates that there's a bug to be fixed. I'll try to reproduce.

[2020-01-02 09:19] jonas-schievink commented on #67805
This is working as specified. As a fix, the "lattice rule" has been proposed, where any two overlapping impls must be disambiguated by adding a third impl that applies to exactly the types in the overlap.

In this case, such an impl would be `default impl<T> C for T where T: A + B {}`.

This design has not been RFC approved though, and I'm unsure if that's because there's something fundamental wro

[2020-01-02 09:19] #67805 closed

[2020-01-02 09:26] jonas-schievink commented on #67790
I think this is expected, since coercions won't be attempted to find an impl. In many cases, when there's only one impl, it will be selected automatically, but that does not happen when the `Self` type is mismatched.

[2020-01-02 09:26] #67790 closed

[2020-01-02 10:20] #67242 closed

[2020-01-02 10:31] Mark-Simulacrum commented on #67804
Have we discussed doing the reverse? That is, pointing docs.rs generated sources into rustdoc [src] sources?

[2020-01-02 10:58] pietroalbini commented on #67804
Well, as with everything it's a tradeoff. While reducing the amount of code in docs.rs is tempting, I think the advantages of serving it from docs.rs are worth more. @rust-lang/docs-rs, what do you think?

Pros for serving the source code from rustdoc:

* Less code for the docs.rs team to maintain.
* The UX is the same as local docs.

Pros for serving the source code from docs.rs:

* Less storage

[2020-01-02 11:01] danielhenrymantilla commented on #60715
## Aside-ish

I've come to realize that there could be a need for a trait similar to `Freeze`, but with different semantics. I may do an RFC out of it, but I think this is a good place to start discussing it, since it may relate to what some people think `Freeze` is for.

### Use case: `Cell::with`

[code]

This seems like a desirable API, if it was possible to offer it in a sound manner.

  - It

[2020-01-02 11:02] Mark-Simulacrum commented on #67804
If we're not storing rendered source code anyway then there's not really duplicate storage implications? (Just wasted storage from rustdoc, which we could plausibly redirect ourselves, without rustdoc changes?)

We could probably decompress crates.io tarballs on the fly and pull out the appropriate file we need.

[2020-01-02 11:19] oli-obk commented on #67793
Reopening until the submodule is updated

[2020-01-02 11:36] Amanieu commented on #60715
Isn't `Cell::with` generally unsound because it allows you to violate aliasing rules?

[code]
This is why the key rule in `Cell` is that it never exposes a reference to the inner value.

[2020-01-02 11:50] Nemo157 commented on #55506
@shepmaster new issue for that appears to be https://github.com/rust-lang/rust/issues/67387

[2020-01-02 12:16] varkor commented on #44580
With the start of the new year, I thought it would be good to give another update on where we are now with const generics. It's been a little over 2 years since the [const generics RFC](https://github.com/rust-lang/rfcs/pull/2000) was accepted. In the first year (roughly 2018), a series of large refactoring efforts were undertaken to facilitate const generics by improving the handling of generic p

[2020-01-02 12:29] jplatte commented on #66615
Would this require going back to the initial idea of trying to parse generic arguments as either types or values, disambiguating at a later stage where we know whether the parameter is a const or a type?

[2020-01-02 12:56] danielhenrymantilla commented on #60715
You're completely right, I don't know how I can have forgotten to think about the environment captured by a closure 😅.

Not all hope is lost, though, because it is still possible to add trait bounds restriction on the closure itself. We can discuss this once I suggest the pre-RFC to the internals (I don't want to carry this issue too off-topic with my suggestion, I just wanted to submit the idea t

[2020-01-02 13:08] rkruppe commented on #60715
Closure captures aren't the only way the closure might get access to another reference to the Cell, it might be reachable from a global. Modifying the last counter-example (omitting the verbose initialization):

[code]

[2020-01-02 13:16] danielhenrymantilla commented on #60715
Oh I somehow imagined that `Sync` would prevent such example, my bad. Damn I felt like this idea could have worked 😞
This means I got no use-case for `TransitivelyImmutableWhenAliased` (I should have given this more thought): I apologise for polluting the thread with this.

[2020-01-02 13:36] pnkfelix commented on #67793
triage: P-medium. looks like its on way to being fixed, anyway.

[2020-01-02 13:45] pnkfelix commented on #67782
triage: P-medium, at least to get rid of the ICE and have it signal a fatal error instead. (But the note about there being a potential additional bug does make me wonder what else may be happening here.)

[2020-01-02 13:47] Centril commented on #67778
cc @petrochenkov

[2020-01-02 13:47] pnkfelix commented on #67778
triage: P-high, removing nomination tag. (instead, going to proritize going through the P-high issues that have accumulated over last two weeks.)

[2020-01-02 13:56] pnkfelix commented on #67757
triage: P-high. We may well revert PR #65244; see ongoing discussion in issue #67706

[2020-01-02 13:59] pnkfelix commented on #67746
triage: P-high

[2020-01-02 14:02] pnkfelix commented on #67743
triage P-high, removing nomination.

[2020-01-02 14:03] pnkfelix commented on #67708
triage P-medium removing nomination.

[2020-01-02 14:04] pnkfelix commented on #67706
triage: P-high; leaving nominated for discussion at meeting (namely discussion of revert)

[2020-01-02 14:07] kubkon commented on #67782
@pnkfelix @jonas-schievink If it's not a nuisance to you guys, with some mentoring/guidance, I'd be more than happy than to dig in into the compiler and narrow down the cause and, hopefully, help out in providing a fix for this.

[2020-01-02 14:08] rkruppe commented on #51002
This is done now: https://github.com/rust-lang/rust/pull/64231 moved rustc::cfg into `rustc_ast_borrowck` which was then deleted wholesale in https://github.com/rust-lang/rust/pull/64790.

[2020-01-02 14:08] #51002 closed

[2020-01-02 14:09] Centril commented on #67684
ICE occurs in:

https://github.com/rust-lang/rust/blob/0a58f5864659ddfe1d95c122abaa75c88220aed0/src/librustc_traits/normalize_erasing_regions.rs#L34

[2020-01-02 14:09] pnkfelix commented on #67684
triage P-high, at least to learn more about the nature of this bug itself (e.g. getting the MCVE, and/or a stack trace...)

[2020-01-02 14:11] pnkfelix commented on #67647
triage: looks like this should be T-rustdoc's call as to what priority to assign here. Leaving unprioritized and nominated, at least for a week.

[2020-01-02 14:15] pnkfelix commented on #67582
triage: P-medium based on this being a tier-2 platform. Removing nomination.

[2020-01-02 14:20] pnkfelix commented on #67567
triage: diagnostics produced prior to ICE seem like they probably help user fix problem (maybe)? So calling this P-medium. Removing nomination label.

[2020-01-02 14:21] pnkfelix commented on #67552
triage: P-high, removing nomination.

[2020-01-02 14:23] pnkfelix commented on #67612
triage: P-high. (Has PR, yay.)

[2020-01-02 14:25] pnkfelix commented on #67611
triage: P-high. Nominating for discussion.

[2020-01-02 14:32] pnkfelix commented on #67753
triage: P-medium, removing nomination.

[2020-01-02 14:38] pnkfelix commented on #47048
for those watching, this issue was discussed at the T-compiler meeting [two weeks ago](https://zulip-archive.rust-lang.org/131828tcompiler/63803weeklymeeting2019121954818.html#183855566).

We [essentially decided](https://zulip-archive.rust-lang.org/131828tcompiler/63803weeklymeeting2019121954818.html#183856872) that @mati865 should move forward with their experimentation with fixes.

[2020-01-02 14:43] Centril commented on #67552
Reduced:
[code]

[2020-01-02 15:02] pnkfelix commented on #65844
I tried the patch locally; I do not see any diagnostics from `rustc` in this case.

(That may be due to the issue @nikic [noted above](https://github.com/rust-lang/rust/issues/65844#issuecomment-562848066). Will investigate.)

[2020-01-02 15:10] gnzlbg commented on #64224
Could we maybe wrap this in a `#[cold]` function here and call that instead?

This makes sense, I don't think there is a way to handle this any better either.

[2020-01-02 15:15] Mark-Simulacrum commented on #64224
The drop isn't controlled by us (occurs in the `unwrap_or`); we've already marked the unwind path as cold (and I even tried a "likely" intrinsic, but that didn't help either).

[2020-01-02 15:22] gilescope commented on #38376
[code]
leaves me wondering why it can't be invoked. It would be great if the error message could say why.

[2020-01-02 15:32] Amanieu commented on #64224
With a separate `drop_box` function:

[code]

[code]

`bar` now has 13 instructions, just like the C++ version.

[2020-01-02 15:42] condy0919 opened #67811 "UdpSocket is missing the dissolve method"
According to [connect](http://man7.org/linux/man-pages/man2/connect.2.html)

`FreeBSD` supports as well.

[2020-01-02 15:52] pnkfelix commented on #67706
[Discussed](https://zulip-archive.rust-lang.org/131828tcompiler/22121weeklymeeting2020010254818.html#184660427) in T-compiler meeting.

Members present generally approved a revert of PR #65244 to resolve this issue in short term.

[2020-01-02 15:56] pnkfelix commented on #67611
self-assigned for investigation in *short term* (as in, next two or three days). However I suspect someone from @rust-lang/wg-async-await will be a better choice to investigate this.

[2020-01-02 16:00] wesleywiser commented on #67706
I guess I should re-open my revert then?

[2020-01-02 16:01] Mark-Simulacrum commented on #67706
Yes, please do, and I (or someone else) can review it, I think, fairly quickly.

[2020-01-02 16:05] Goirad commented on #66810
This can be closed now, at least for nightly.

[2020-01-02 16:15] #66810 closed

[2020-01-02 16:17] pietroalbini commented on #67804
At the moment, for each source file, we're storing:

* rustdoc's html file with the pre-rendered highlighted source code
* the original source file (in `s3://rust-docs-rs/sources/...`), smaller as it doesn't have HTML in it

We should stop storing one of the twos.

That could slow down the server a lot, as we have a few crates that go over 10MB.

[2020-01-02 16:19] gnzlbg commented on #64224
Thanks @Amanieu, that's exactly what I had in mind. I don't see a simple way of doing this by default without making `catch_unwind` an intrinsic like @Mark-Simulacrum mentioned above :/

Maaaybe we could provide a specialized impl in `liballoc` of `Drop` for these particular boxes.. :

[code]

but I'm not sure whether that will have the desired impact, and also whether that would be worth doing ev

[2020-01-02 16:22] Mark-Simulacrum commented on #64224
An intrinsic for catch_unwind wouldn't help I think? Or at least I don't see exactly what you mean by that. I think what could help is `fn catch_unwind_ref(try: impl FnOnce() -> R, catch: impl FnOnce(&Exception) -> E) -> Result<R, E>` where `Exception` is Clone (or can get a `Box<dyn Any>` out or so). That's obviously a much more complex API though.

[2020-01-02 16:24] Mark-Simulacrum commented on #67804
It seems like linking to rustdoc's pre-rendered sources is the best (and plausibly easiest) bet, personally.

Yeah, that's true. More of a loose thought -- maybe e.g. it makes sense to do so for small crates.

[2020-01-02 16:48] dakom opened #67813 "internal compiler error w/ dominator and wasm"
I am using the [dominator](https://github.com/Pauan/rust-dominator) crate for wasm. There is very little documentation on the crate (it's early days) and so I accidentally used it the wrong way. Instead of getting the usual type of compiler errors, I got the following:

[code]

The way I mistakenly tried to use it was like this:

[code]

[2020-01-02 17:21] cyplo commented on #62445
Can still reproduce on stable `rustc 1.40.0 (73528e339 2019-12-16)`

[2020-01-02 17:31] cramertj commented on #67801
FWIW I wouldn't have considered this example a bug-- it's exactly what I thought the trivial_bounds feature was supposed to allow. I'd have expected this to compile just fine, but for `weird` to be uncallable.

[2020-01-02 17:39] nikomatsakis commented on #67611
We should try to bisect this

[2020-01-02 17:58] danielhenrymantilla commented on #60715
Actually, I wasn't that far off: not only does `::std::`'s `RwLock` require `Sync` on the wrappee in order to be `Sync` itself, but, more generally (_i.e._, taking into accounts things like `::lock_api::ReentrantMutex`), the primitive `Cell::read_with` could require that the `Cell` definition in and on itself not be `Send` (on top of it not being `Sync`) so that it cannot be held in a global varia

[2020-01-02 18:00] RalfJung commented on #60715
Making it `!Send` doesn't help, just replace the previous counter-example by a thread-local variable.

There is no way to avoid communication of a caller with the closure, I'm afraid.

[2020-01-02 18:08] danielhenrymantilla commented on #60715
I guess it is now too late to have an auto-trait for global-safety that some types could opt out of, is it not?

[2020-01-02 18:09] RalfJung commented on #60715
I wouldn't even know what that trait would *mean* (what is the proof obligation that goes along with it?). But also at this point it's probably better to stop the digression in this thread. ;)

[2020-01-02 18:15] jonas-schievink commented on #67813
The actual error message is missing. Also, can you provide a self-contained repository that reproduces the ICE?

[2020-01-02 18:19] tlively commented on #66308
This is on my backlog of things to look into, but I don't know when I will be able to get to it. I don't know of anyone else planning to look into it.

[2020-01-02 18:22] dakom commented on #67813
whups, edited just now to paste in the error message. will put together a repo now...

[2020-01-02 18:23] tlively commented on #66308
It looks like this affects `wasm32-unknown-emscripten` as well: https://github.com/Rust-SDL2/rust-sdl2/issues/884#issuecomment-570291357.

[2020-01-02 18:31] dakom commented on #67813
@jonas-schievink : https://github.com/dakom/rust-67813

[2020-01-02 18:32] Twey commented on #65818
In my tests, a 256 MiB file (`dd if=/dev/zero of=big-file.dat bs=1M count=256`) takes over 10 GiB of RAM and 25 s to compile.
Interestingly, a file created from `/dev/urandom` takes significantly less RAM and time (about 2 GiB and 10 s).

[2020-01-02 18:47] jonas-schievink commented on #67813
Thanks, that helps! This looks like a duplicate of https://github.com/rust-lang/rust/issues/66805. I'll keep it open in case someone finds a minimal code example that reproduces the problem.

[2020-01-02 19:20] bsurmanski commented on #66308
tested the minimum test case (above) on wasm32-unknown-emscripten using stable (1.40.0 2019-12-16) and nightly (1.42.0 - 2020-01-01) with the same result:
`
Called function must be a pointer!
  call addrspace(4711381) void <badref>(i8* %40), !dbg !52
in function _ZN4core4iter5range116_$LT$impl$u20$core..iter..traits..double_ended..DoubleEndedIterator$u20$for$u20$core..ops..range..Range$LT$A$GT$$GT

[2020-01-02 19:44] jyn514 commented on #67804
It's actually even worse than this, we store a separate copy of rustdoc's source code for each platform. See e.g. https://docs.rs/regex/1.3.1/i686-pc-windows-msvc/src/regex/lib.rs.html and https://docs.rs/regex/1.3.1/i686-unknown-linux-gnu/src/regex/lib.rs.html.

[2020-01-02 19:50] joshtriplett commented on #67191
So, I definitely don't expect a full optimization-based liveness analysis; it seems fine to me if (say) `if non_const_function() { const FOO: ! = panic!(); }` aborts compilation. But on the other hand, I'd like to have the following not abort compilation:

[code]

Rationale: this makes it easy to use patterns similar to those in the Linux kernel, where a module uses compile-time configuration to e

[2020-01-02 20:16] RalfJung commented on #67191
I think it would be mighty confusing if whether `if foo() { ... }` compiled depended on whether `foo` is a `const fn`.

[2020-01-02 20:18] joshtriplett commented on #63568
I agree with the renaming to include the `assume_init_` prefix; with that renaming, this seems fine to me.

[2020-01-02 20:41] mark-i-m commented on #67191
@joshtriplett I feel that Linux's configuration system is an outgrowth of the lack of a good macro system and build tool in C. In rust, I feel that `cfg` should be used instead...

[2020-01-02 20:45] matthewjasper commented on #67696
This doesn't require nightly:

[code]

[2020-01-02 21:27] LeSeulArtichaut commented on #67279
The lint originates from this function: https://github.com/rust-lang/rust/blob/0a58f5864659ddfe1d95c122abaa75c88220aed0/src/librustc_passes/dead.rs#L577
Which calls this other function: https://github.com/rust-lang/rust/blob/0a58f5864659ddfe1d95c122abaa75c88220aed0/src/librustc_passes/dead.rs#L494
Which calls yet another function: https://github.com/rust-lang/rust/blob/0a58f5864659ddfe1d95c122abaa

[2020-01-02 21:51] WaffleLapkin opened #67817 "rustc overflowed stack with serde"
I'm not sure is it a bug of `rustc` or `serde`, but this simple code:
[code]
[code]

Causes compiler (stable `1.40.0` and nightly `2019-12-29`) to overflow its own stack:
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ca6f5cffb62c097b6ad84d2185526f1f))

[2020-01-02 22:14] jyn514 commented on #67804
This is a very convincing argument (to me) for not using the generated sources.

[2020-01-02 22:16] infinity0 commented on #67167
The LLVM backport worked to fix the tests in Debian. There is nothing to do on the rust side, so closing this bug report.

[2020-01-02 22:16] #67167 closed

[2020-01-02 22:24] jyn514 commented on #67804
Btw, I don't think it would be too hard to implement this on the docs.rs side without adding a new flag to rustdoc. We could just redirect `/:crate/:version[/:platform]/src/:crate-name` to `/crate/:crate/:version/source/src/`

[2020-01-02 23:22] varkor commented on #66615
@jplatte: this isn't going to be very convenient to fix. The problem is that we aren't going to be able to disambiguate until type-checking itself. (This is the same problem as the snippet below, which currently also fails, because it can't tell what `X` is by name resolution alone.) We're going to need to pass more information into type-checking to disambiguate later, yes, but I suspect it won't

[2020-01-02 23:36] Aaron1011 commented on #67817
Partial stack trace:

[code]

[2020-01-02 23:38] Aaron1011 commented on #67550
I can no longer reproduce this on the latest nightly.

[2020-01-02 23:52] jplatte commented on #66615
Okay so in cases we can't tell whether we've got a type or a value during parsing, we need to try resolving both, correct? Is that already done or is value resolution only done if type resolution fails?

[2020-01-02 23:54] tmandry commented on #67650
I don't have any problem with doing this. Using `-Zpanic-abort-tests` is still something we haven't fully turned on by default in Fuchsia, but I'm actively working on that. I think that's a good way to uncover any issues with this approach (e.g. performance).

A related (but separate) test attribute is disallowing certain tests from being run in parallel with others. This request has come up in Fu

[2020-01-02 23:54] joshtriplett commented on #67191
@mark-i-m I'm not talking about kconfig. I'm talking about code modules.

Suppose you have an API with half a dozen functions and a thousand callers. You can use cfg to define the functions when configured in, or to define stub versions of the functions when not configured in, and either way, you don't need to change the thousand callers and litter myriad source files with additional cfg directive

[2020-01-03 00:06] cr1901 opened #67819 "Binary size regression on msp430 when using `Cell` with types from external crates."
# Regression found in the compiler

searched nightlies: from nightly-2019-03-27 to nightly-2019-09-04
regressed nightly: nightly-2019-07-27
searched commits: from https://github.com/rust-lang/rust/commit/890881f8f4c77e8670d4b32104c0325fcfefc90f to https://github.com/rust-lang/rust/commit/c43753f910aae000f8bcb0a502407ea332afc74b
regressed commit: https://github.com/rust-lang/rust/commit/c43753f910a

[2020-01-03 00:16] mark-i-m commented on #67191
Hmm... I see what your getting at, but isn't that already possible today? Do you need erroneous constants for that?

[2020-01-03 00:59] varkor commented on #66615
The problem is that `()` (and `X` in the above example) will resolve correctly in both the type *and* value namespace (as the two namespaces don't collide). We can't tell at resolution which is intended: we need type information for that. Currently for names (e.g. `X`), value resolution is only attempted if type resolution fails, so types take precedence.

[2020-01-03 01:00] pnkfelix commented on #67611
used [cargo-bisect-rustc](https://blog.rust-lang.org/inside-rust/2019/12/18/bisecting-rust-compiler.html).

Determined:

searched nightlies: from nightly-2019-11-26 to nightly-2020-01-03
regressed nightly: nightly-2019-12-01
searched commits: from https://github.com/rust-lang/rust/commit/25d8a9494ca6d77361e47c1505ecf640b168819e to https://github.com/rust-lang/rust/commit/d8bdb3fdcbd88eb16\
e1a6669

[2020-01-03 01:01] pnkfelix commented on #67611
9081929 is a rollup commit of the following PR's:

[code]

I'm guessing this is due to PR #66793

[2020-01-03 01:58] ecstatic-morse commented on #67191
I'm just coming back online, but I'm surprised that `static_assertions` has not been brought up at all. In my mind, this question is already settled: we need to guarantee that `const X` will evaluate the initializer of `X` *even if X is crate-private and never used*. The discussions about control-flow are immaterial. Every consumer of [`static_assertions`](https://github.com/nvzqz/static-assertion

[2020-01-03 02:17] burdges commented on #48331
Anything here requires the `std::error::Error` trait, which requires `std::backtrace::Backtrace`, but maybe all that only requires core+alloc.  Assuming so..

We should explore replacing `std::io::Error` with some more flexible error type, vaguely inspired by the `SmallError` type suggested in https://github.com/rust-lang/rfcs/pull/2820#issuecomment-567439210 that encodes the [`io::error::Repr` en

[2020-01-03 03:23] Aaron1011 commented on #65934
It looks like this is cauesd by the un-normalized projection `<() as Trait>::Assoc` appearing in the result of `tcx.predicate_of` for the opaque return type of `unit`. This causes `SelectionContext.match_projection_obligation_against_definition_bounds` to fail to find a candidate from the opaque type's predicates, resulting in the ICE.

I've not entirely certain where the normalization should be t

[2020-01-03 03:29] Aaron1011 commented on #67801
I thought `trivial_bounds` was just supposed to allow writing trivially true or trivially false where clauses. Whether or not something like `NotCopy: Copy` holds is a global property of the program, so it seems very surprising that you can 'pretend' that it doesn't within a particular function.

[2020-01-03 03:38] Aaron1011 commented on #67739
I believe this should be fixed by https://github.com/rust-lang/rust/pull/67800

[2020-01-03 04:52] fifc opened #67824 "rust compiler bug on borrow/ownership?"
[code]
[code]
however, compile ok if add a break statement in the None block

[2020-01-03 08:32] jplatte commented on #66615
Yeah, that's what I was thinking. So we'll need to keep around both a resolved type and a resolved value in cases like the one you showed above.

And in cases where something can't be resolved (at all or in the right namespace) but the number of arguments given is still correct, I guess we will need yet more information to produce a reasonable error message.

[2020-01-03 09:16] RalfJung commented on #67191
For generic/associated consts, that rule is impossible to implement as the data for the computation is not all available.

Also note that for unused consts, some initializer errors just trigger an err-by-default lint, but not a hard error. This is for backwards compatibility reasons. I do not know if there is any chance of ever cleaning that up.

[2020-01-03 09:27] upsuper commented on #39016
This looks like a pretty big footgun, and it can cause mysterious runtime error taking people lots of time to figure out. Until this gets fixed, there should probably be some document / compiler message warning about this, so that people know that they need to have their C/C++ program always link against the non-debug crt.

[2020-01-03 09:55] TOETOE55 opened #67830 ""internal compiler error" on Higher-Ranked Trait Bound for impl Trait in return position"
I needed a `Fn` like trait, and return an impl trait with Higher-Ranked Trait Bound. But rustc panicked.

I tried this code:

[code]

I expected it was checked, but I received this compiler bug:

[code]

## Meta

`rustc --version --verbose`:

[code]

[2020-01-03 10:54] GuillaumeGomez commented on #67804
Adding an option to rustdoc to link to a given location would be easy and seem to be what we want to do in here. That'd remove the duplicated files. When everyone agrees on a solution, I'll implement it.

Note for myself: if this option is used, no need to generate source code files.

[2020-01-03 11:59] TOETOE55 commented on #67830
hmm, maybe it is equivalent to

[2020-01-03 11:59] oli-obk commented on #67191
Well... they already happen post monomorphization. The idea I posted with this issue means that we don't lose them along the way during optimizations.

[2020-01-03 12:00] robinvd commented on #67144
@varkor I saw in https://github.com/rust-lang/rust/issues/44580#issuecomment-570191702 that you would be able to help/mentor const_generics issues

I would like to give this issue a go, but have no idea where to start. Maybe you could give me some pointers?

[2020-01-03 12:13] TOETOE55 commented on #67830
hmmm, maybe it is equivalent to

[code]

but what about:

[code]

it couldn't check:

[code]

but this is OK:

[code]

[2020-01-03 12:16] vi opened #67832 "ICE in nightly when using trying to preserve rand::rngs::ThreadRng across awaits"
`rustc 1.41.0-nightly (3eeb8d4f2 2019-12-12)`

[code]

Source code: https://github.com/vi/natram/commit/d9cadb29c2dfc13b9dde77b5659732694ffad2ae

Full log: [rustcbug.txt](https://github.com/rust-lang/rust/files/4019040/rustcbug.txt)

Stable Rust correctly shows error:

[code]

(although further message is rather big).

[2020-01-03 12:21] #67710 closed

[2020-01-03 12:21] #67577 closed

[2020-01-03 12:21] #67624 closed

[2020-01-03 12:21] #67776 closed

[2020-01-03 12:39] csmoe commented on #67832
Fixed by https://github.com/rust-lang/rust/pull/67289

[2020-01-03 12:39] #67832 closed

[2020-01-03 12:50] RalfJung commented on #67191
...? I was talking about *unused* constants, based on what I am quoting. Unused constants don't have anything happen post-monomorphization.

[2020-01-03 12:52] GuillaumeGomez commented on #67799
I'd personally do nothing. From my point of view, this is up to users to master what they're doing when using HTML since we're following markdown commonmark spec.

[2020-01-03 12:56] Manishearth commented on #67799
Again, the problem is _not_ users "using HTML", it's users _accidentally_ introducing HTML into their code. I am okay with users _intentionally_ using HTML in rustdoc. I know that has been a common complaint, but I am not making that complaint. I'm talking about something different.

Typing `Vec<Script>` without backticks is enough to break the docs. I've seen plenty of rustdocs that avoid religio

[2020-01-03 12:56] ljedrz commented on #53591
I would like to work on this, but I'd need some guidance; `ExprKind` has a `Path` variant, but that one contains `QPath` that's either `Resolved` or `TypeRelative`. Have the names changed, does this relationship with `Def::{Local, Upvar}` go deeper or am I missing something?

In other words, if anyone could drop me a "change A to B and fix the fallout" hint, I could give it a shot.

[2020-01-03 13:05] GuillaumeGomez commented on #67647
I made the priority medium: it's not a huge bug but the quicker it's fixed, the better it'll be for everyone.

[2020-01-03 13:07] GuillaumeGomez commented on #67646
I'll try to take a look shortly. And no, never heard of it before you opened this issue. Don't hesitate to ping me if I forget.

[2020-01-03 13:09] GuillaumeGomez commented on #67799
The problem is that a lot of HTML5 tags can be unclosed. Keeping this list up-to-date might be tricky. We can do it but in case a user is using an unclosed HTML5 tag, what should we do in this case? If it's a type we're supposed to not convert it to HTML but what if it's intended to be HTML? This is where I have an issue.

[2020-01-03 13:10] GuillaumeGomez commented on #66909
I guess this issue can be closed now. Thanks for the PR @gilescope !

[2020-01-03 13:10] #66909 closed

[2020-01-03 13:18] matthewjasper commented on #44250
Fixed by #58984

[2020-01-03 13:18] #44250 closed

[2020-01-03 13:18] GuillaumeGomez commented on #43466
If you're targetting docs built by `docs.rs` it should be "fine". But as long as we don't have everything fixed, I don't think this is a good idea to stabilize it yet.

[2020-01-03 13:21] Manishearth commented on #67799
I also covered that in a previous comment. We can do this for specific tags only, as a start perhaps _only_ the tags that will make the following content completely disappear (script, object, audio, video, etc).

We can also keep a list of all closeable HTML tags. If it's out of date, it's no big deal, this can just be a lint.

[2020-01-03 13:24] matthiaskrgr commented on #67550
Looks like this has been resolved indeed (testing with master toolchain).
So it's only missing a testcase now. :)

[2020-01-03 15:19] gendx opened #67836 "Rustc doesn't detect target_feature=aes with -C target-cpu=native (broadwell)"
I tried to compile my code with `-C target-cpu=native`, some of it being gated by `cfg(target_feature = "aes")`. I was **expecting the AES code to be compiled** as my CPU supports it, but **rustc didn't enable `target_feature = "aes"`**.

According to `/proc/cpuinfo`, my CPU supports AES-NI.
[code]

With the latest Rust nightly:
[code]

Rustc detects a broadwell CPU:
[code]

The features detected

[2020-01-03 15:34] Koxiaet commented on #67817
This crash also occurs with this simplified code:

[code]
It happens with `#[derive(Serialize)]`, `#[derive(Deserialize)]` but not standard library derives. It also happens when implementing Deserialize:
[code]

[2020-01-03 15:44] roblabla commented on #48331
Backtrace cannot really exist outside std. It is highly dependent on OS features. For instance, to get function names (symbolication step of printing a backtrace), it requires opening the executable as a file and parsing it to access the debug information table, e.g. it requires doing open(argv[0]). Or it might require dlresolve or other kind of libc stuff.

In an ideal world, binaries compiled in

[2020-01-03 15:45] roblabla commented on #53487
So, what's the plan for no_std regarding this? In the RFC comments, @withoutboats mentioned "In failure backtrace just always act like the backtrace variable is off when compiled in no_std. We could possibly do the same thing with core someday." but I don't see how this could ever happen since libcore and libstd can't really have different implementations (libstd simply reexports everything from l

[2020-01-03 15:54] ehuss commented on #67836
It looks like LLVM intentionally removed it from Broadwell (to Skylake) because it wasn't available on all SKUs of that series: https://github.com/llvm/llvm-project/commit/75822226917b552ee77f414c20a81373690b6c62

[2020-01-03 15:59] jonas-schievink commented on #67836
Closing as working as intended then.

[2020-01-03 15:59] #67836 closed

[2020-01-03 16:01] kornelski commented on #67799
Yes, it should. This is not the same as forbidding HTML or sanitizing what HTML features are allowed.

Unclosed tags can break the entire page, which is highly undesirable.

It might be used intentionally to open a tag in one doc comment and close it in another, but such uses would couple docs very tightly to a particular ordering of items and specific markup used by rustdoc itself. Allowing to re

[2020-01-03 16:18] GuillaumeGomez commented on #67799
If we keep this as a warning, that could be a big plus. Does it sound OK?

@Manishearth: Do you mind listing the tags which need to be checked please?

[2020-01-03 16:20] Manishearth commented on #67799
Yes, I already suggested a warning, I'm fine with that.

script, object, video, audio are the most problematic. We can get an implementation in and figure out the full list later, it should be something that can be found in the HTML spec somewhere.

[2020-01-03 16:28] lqd commented on #67684
Not minimal but maybe small enough ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=be108933cae7d3e5abfa0275ffda1617)):

[code]

<details>
<summary>Backtrace details</summary>

[code]

</details>

Seemingly while computing the optimized MIR: evaluating a constant in the const propagator.

[2020-01-03 16:30] gendx commented on #67836
Shouldn't `target-cpu=native` detect features directly with something like `cpuid` (at rustc's level, not LLVM) to enable all features actually available on the current SKU?

I find it very confusing that "native" would resolve to a whole family and then enable only the common denominator of that family - potentially a small subset of natively supported features on my specific CPU.

[2020-01-03 16:37] mati865 commented on #30658
Works fine on Windows-gnu, I cannot test msvc.

@rustbot modfiy labels: -O-windows +O-windows-msvc

[2020-01-03 16:39] ehuss commented on #67836
See #54688 for more detail on that.

[2020-01-03 16:48] gendx commented on #54688
To add another example, `target-cpu=native` doesn't detect the `aes` feature on broadwell (see https://github.com/rust-lang/rust/issues/67836).

[2020-01-03 17:14] burdges commented on #48331
Could we replace `&Backtrace` with some opaque `pub struct BacktraceRef(usize);` type that exists libcore?  We'd then provide inherent methods for that type only in std, assuming that flies with whatever magic.

[2020-01-03 17:22] yaahc opened #67838 "Move unused_doc_comment lint to a later pass to after proc macro expansion"
I'm currently writing a crate where I'd like to use doc comments as attributes for a proc macro that generates context directives for errors and log messages via `tracing`.

https://github.com/yaahc/spandoc/blob/master/src/lib.rs

I had originally assumed that if my proc macro stripped out the doc attribute after converting it to a span then the compiler would not lint on the doc comments that act

[2020-01-03 17:23] yaahc commented on #67838
@QuietMisdreavus has told me to cc @GuillaumeGomez

[2020-01-03 17:32] Luro02 opened #67839 "Attributes are reordered before they are passed to a proc-macro"
I am working on a proc-macro, where I would like to give the user the option, to decide, which attributes (and doc comments) should be forwarded.

For example
[code]

as you can see in the above case, the order of the attributes is very important.
Sadly the rust compiler (or the `proc_macro` crate) does reorder the attributes, before passing them to the function as a `TokenStream`.

[code]
(this i

[2020-01-03 17:33] Centril commented on #67684
Reduced so far:
[code]

[2020-01-03 17:51] euclio commented on #67650
This would also allow better output capturing (#42474).

[2020-01-03 18:06] cramertj commented on #67801
Inside the body of the function, all where clauses and other bounds on that function should be considered true. This is crucial to `trivial_bounds` being useful for one of its primary intended purposes: using the trivial bounds as guards on generated code.

[2020-01-03 18:11] petrochenkov commented on #67839
I agree that the relative order of inert attributes should be kept.
The reordering happens because built-in attributes (like doc comments) and non-builtin attributes are treated differently by macro expansion infrastructure.

I plan to fix this during the upcoming macro invocation collector rewrite (https://github.com/rust-lang/rust/issues/54727#issuecomment-523374617), unless someone gets to it e

[2020-01-03 19:58] roblabla commented on #48331
Std cannot (currently) add inherent impls for structs it does not itself define. It plays by the same rule as the rest of the ecosystem when it comes to coherence, there's no magic going on here (modulo some escape hatches for fundamental types that don't apply here). Libstd can implement libstd traits on libcore structs, or implement libcore traits for libstd structs. But it can't add its own inh

[2020-01-03 20:33] adetaylor commented on #64153
Just a quick note of appreciation. Thanks @nikhilm, @michaelwoerister and anyone else involved here. I hit this exact issue and was delighted to find it was already fixed in 1.40.0.

[2020-01-03 20:33] bjorn3 commented on #67590
Yes. The crate from which this was reduced compiles fine now.

[2020-01-03 20:33] #67590 closed

[2020-01-03 21:03] ecstatic-morse commented on #67191
The simple extension would be: "All monomorphized constants have their initializers run, regardless of whether they are used". However, this would require that instantiating `TypeWithDependentAssocConst<i32>` anywhere would run the initializer for the associated const, regardless of whether it is used. This is not ideal, but might be acceptable? Perhaps there is a way to relax this restriction, bu

[2020-01-03 21:31] Luro02 commented on #67839
I think this change can wait, until the new macro system is implemented, becuse this would be a breaking change either way. (for example the code given above would have different output, if a macro relies on the current order of attributes)

[2020-01-03 21:57] infinity0 commented on #59264
Same issue with 1.40.0 again, when using itself as stage0:

[code]

CC @cuviper AFAICT you do not have a patch that fixes this on Fedora either.

[2020-01-03 22:03] #67793 closed

[2020-01-03 22:04] infinity0 commented on #59264
For 1.40.0 the relevant commit to conditionally-apply or not is f6832adadb8.

For the upcoming 1.41.0 (or is it 1.42.0) stable release it seems we will have to do the same thing for 241d2e765dc.

[2020-01-03 22:05] tspiteri opened #67842 "`abs` function still not cleaned up from const_hack"
#67657 seems to have missed the `abs` function which is still hacky.

cc @oli-obk @jumbatm

This issue has been assigned to @jumbatm via [this comment](https://github.com/rust-lang/rust/issues/67842#issuecomment-570718763).

[2020-01-03 22:34] jumbatm commented on #67842
Oops, my bad. Opening up a PR now.

@rustbot claim

[2020-01-03 22:37] nagisa opened #67843 "Incorrect span for errors caused by inferred type information"
Given code that looks something like this:

[code]

([play rlo](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=12c7b5bb20d4c78209cef35efb006c32))

you will see an error along the lines of:

[code]

while the error is correct, the span here is wrong and should be pointing at the `collect` call for `signed_headers` instead.

To explain why, this is what effectively is happen

[2020-01-03 22:39] steffahn opened #67844 "error: internal compiler error: src/librustc/ty/subst.rs:611: type parameter `B/#2` (B/2) out of range when substituting (root type=Some((B,))) substs=[ReEarlyBound(0, 'a)]"
Uncommenting the features and running in Nightly makes the complaints about unstable features go away while the panick stays.

~I’m not sure yet how to make a smaller example out of this.~ smaller examples in comments below

_This code was a step of me trying out if I could turn [this working code (link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=50302b168a9d5db981c6

[2020-01-03 22:57] nkaretnikov commented on #46276
Similar issue:

[code]

[2020-01-03 23:01] fpotter commented on #67724
From https://github.com/rust-lang/rfcs/pull/2837#issuecomment-570716695 (not sure where discussion belongs)

----

I'm late, but... Apple does continue to support 32-bit for iOS devices and the simulator.

Using Catalina and Xcode 11.3 with a deployment target set to iOS 10.0 or earlier, I can build an app for i386 and armv7.

If I download the iOS 10 simulator and set the simulated device to "iPh

[2020-01-03 23:17] Centril commented on #67684
Reduced more:
[code]

[2020-01-03 23:23] matthewjasper commented on #67844
Minimized:

[code]

[2020-01-03 23:35] novacrazy opened #67847 "const simd_extract/insert are no longer usable in latest nightly (2020-01-02)"
A few months ago #64738 introduced `const` `simd_insert`/`simd_extract`, which I then integrated into my application via a fork of `packed_simd`.

However, upon upgrading to the latest nightly (`rustc 1.42.0-nightly (0a58f5864 2020-01-02)`), it was suddenly non-const.

Furthermore, It seems the ability to make it `const` via `rustc_const_unstable` is not possible in user applications, making the `

[2020-01-03 23:45] steffahn commented on #67844
Ah, neat, so it has nothing to do with closures or Fn traits.
[code]

[2020-01-03 23:48] cjkenn commented on #66968
I can take a stab at this, seems reasonable with previous comments.

@rustbot claim

[2020-01-04 00:05] Aaron1011 commented on #67843
This appears to be fixed on the latest nightly.

[2020-01-04 00:40] mati865 commented on #67847
cc @oli-obk ?

[2020-01-04 00:59] dtolnay opened #67851 "doc(hidden) stopped working in binary crates"
https://github.com/rust-lang/cargo/pull/7593 seems relevant. cc @LukasKalbertodt @Eh2406

If I have the following binary crate, `cargo doc` on stable 1.40.0 will correctly show `g` and not `f`, while beta will show both despite `f` being doc(hidden).

[code]

I understand that we want private things documented for bin crates, but I am labeling this a regression because this makes it impossible for

[2020-01-04 01:06] mcdoll opened #67852 "instristics::atomic_cxchg_acq on baremetal arm crashes"
The function instristics::atomic_cxchg_acq crashes on my custom armv7 (i.e. aarch32) baremetal target, while the other atomic operations (load, store) work fine.
Gist: https://gist.github.com/mcdoll/22365c871885f6b31ed2f24cbd85c3e0

[2020-01-04 01:13] afnanenayet commented on #66370
I'd like to handle this

@rustbot claim

[2020-01-04 01:13] nbigaouette commented on #63266
I have a similar (the same?) issue when trying to print a `PathBuf` when debugging.

This issue looks quite similar to #48462, probably a duplicate? Searching issues/pr for `lldb_rust_formatters.py typeerror` reveals a couple of hits.

I can see the `vec![]` content of the `PathBuf` if I `print directory.inner.inner`.

[2020-01-04 01:21] nbigaouette commented on #63266
Similarly to #22656 here's a MRE:

`debug.rs`:
[code]

[code]

Now from inside `rust-lldb`:
[code]

[2020-01-04 01:21] afnanenayet commented on #62490
I could take this!

@rustbot claim

[2020-01-04 01:23] nbigaouette commented on #48462
I've added details in #63266.

[2020-01-04 01:39] tmandry opened #67855 "[LLVM] Segfault / "llvm::thinLTOInternalizeModule ... Assertion `GS != DefinedGlobals.end()' failed", again"
I got a segfault / LLVM assertion failure while compiling a target with ThinLTO enabled. This is the same failure as in #53912, albeit with a different root cause.

In my case, I was dealing with a global named `switch.table._ZN77_$LT$omaha_client..protocol..request..Event$u20$as$u20$core..clone..Clone$GT$5clone17h829b64c9ab982ff5E.llvm.10390335839252477638.llvm.11308644296266801080`.

Note the pr