[2019-03-16 10:34] DevQps opened #59229 "Reading a CString safely without overhead from Read"
Hello everyone,

When I was inspecting libflate for unsafe code I found [this piece of code](https://github.com/sile/libflate/blob/a7cd7995458ace28ed388ba0d1374bfdc4b495e5/src/gzip.rs):

[code]

## The Problem
If I am correct and didn't miss anything **this function is completely safe**. However because there is (for as far as I know) no functionality that can safely read a ```CString``` without p

[2019-03-16 11:08] karanchahal opened #59230 "Automatic Differentiation Support in Rust"
Is there any plans to support automatic differentiation natively in Rust ala what Swift is doing ? I think it would really accelerate machine learning development in rust and welcome orgs to build their deep learning frameworks in Rust. As rust provides memory safety and basically aims to be a better C++, it would be a really awesome feature. I would love to know what the dev team are thinking abo

[2019-03-16 11:13] matklad commented on #57126
Stabilization PR is up: #59231

[2019-03-16 11:22] saleemjaffer commented on #53848
@oli-obk
https://github.com/rust-lang/rust/blob/aa97448caf49ee25271a5ad58482283404b9144f/src/librustc_mir/transform/promote_consts.rs#L289-L298

If i have to replace the `Place::Base(PlaceBase::Promoted(box (promoted_id, ty))) ` with the `PlaceBase::Static` variant, what do I do for the `def_id` for  `PlaceBase::Static`?

[2019-03-16 11:44] oli-obk commented on #53848
the `DefId` should be the one of the current function. So for now you'll need to give https://github.com/rust-lang/rust/blob/aa97448caf49ee25271a5ad58482283404b9144f/src/librustc_mir/transform/promote_consts.rs#L146 a `DefId` field that refers to the current function. Then you can access the field here

[2019-03-16 12:19] jonas-schievink commented on #59230
Questions like this are best asked on our user forum at https://users.rust-lang.org/. We try to keep this issue tracker for bugs only, so I'll close this.

(I don't think a feature like this has been proposed for Rust; doing so would probably need to go through the RFC process)

[2019-03-16 12:45] oli-obk opened #59233 "Contribution guide does not mention our "no merge commits" policy"
We expect everyone to rebase instead of merge and we also try to have fixup commits squashed into previous related commits. I think we should document this policy, since it keeps suprising newcomers.

[2019-03-16 13:06] stepnivlk commented on #59233
@oli-obk I can take care of this one as it's quite a fresh experience :).

[2019-03-16 13:23] nikic commented on #58735
The LLVM update has gone through in the meantime. Is this issue resolved now?

[2019-03-16 13:24] nikic commented on #58548
The LLVM update has landed in the meantime. @hoodie Could you please double check that the issue is indeed fixed?

[2019-03-16 14:00] karanchahal commented on #59230
Thank you, I'll put forth this question to the internals group. It is true that this can be implemented in a library and many have already done so. However, if rust was to support it natively. It will be a great incentive for people to design deep learning frameworks in Rust. That is the reason why Swift is doing so. However, that is just my opinion. To cater to the deep learning people, Rust woul

[2019-03-16 14:09] lzutao commented on #59233
I think we should only rebase when resolving merge conflict, or the review process has completed
and reviewer request a rebasing.
Otherwise I prefer adding new commits instead for easier reviewing.

[2019-03-16 14:13] Mark-Simulacrum commented on #59229
The second option seems very unlikely to be helpful; I can't think of any usecases for having a NonZeroU8 Vec beyond this API. Plus, converting to it would mean essentially implementing this same code - and then you could just use the from_vec_unchecked method.

I think the first proposal is quite reasonable though.

[2019-03-16 14:25] IsaacWoods commented on #59196
@Centril I hope it is - otherwise it would be impossible for a macro to declare items that could then be used?

Note: the macro is being invoked; I’m not expecting to access the item from inside the macro, but the item it generates.

[2019-03-16 14:43] steveklabnik commented on #25753
Triage: still no change

[2019-03-16 14:44] steveklabnik commented on #26258
Triage: not aware of changes that fixes this.

[2019-03-16 14:45] steveklabnik commented on #26501
Triage: almost nobody uses the installers, so I doubt this is going to get fixed.

[2019-03-16 14:48] steveklabnik commented on #27626
Triage: this error message has gotten a bit weirder:

[code]

It seems like the import both works and doesn't work, simultaneously?

[2019-03-16 14:49] steveklabnik commented on #27694
Triage: not aware of any changes here.

[2019-03-16 14:52] steveklabnik commented on #28019
Triage: I'm not an mys user, and the build system has been completely re-written since then. Does anyone know of reproduction instructions for this bug today?

[2019-03-16 14:53] steveklabnik commented on #28481
Triage: the above list is still accurate today.

[2019-03-16 14:53] shepmaster commented on #10184
I assume that last comment was meant for @AaronM04, in reference to [their previous comment](https://github.com/rust-lang/rust/issues/10184#issuecomment-468719768).

[2019-03-16 14:57] steveklabnik commented on #28606
So: this is still true today, but it seems like expected behavior. Adding deref coercions here feels RFC worthy to me, so I'm going to close this in favor of that. If someone from the lang team disagrees, feel free to re-open.

[2019-03-16 14:57] #28606 closed

[2019-03-16 14:58] steveklabnik commented on #29560
Triage: it seems packaging is working well, and brson doesn't work on Rust anymore. I'm going to close this.

[2019-03-16 14:58] #29560 closed

[2019-03-16 14:58] steveklabnik commented on #31522
Triage: this is still true today.

[2019-03-16 15:01] steveklabnik commented on #31789
Triage: are there reproduction instructions for getting this exact error? I have a feeling that this is still the same today, but it would be nice to verify.

[2019-03-16 15:01] jonas-schievink commented on #28481
Seems like a good issue for people who want to work on libstd

[2019-03-16 15:02] steveklabnik commented on #32450
Is anyone still seeing this behavior on the latest rusts/gdbs?

[2019-03-16 15:04] steveklabnik commented on #32597
There has long been a desire to "bring xargo into cargo", so much so that it's on the cargo team's roadmap for this year. Given that this effort would be tracked as part of that, I don't think this tracking issue really serves a purpose; RFCs will be created and accepted (or denied) based on that effort. So I'm going to give this a close. Thanks!

[2019-03-16 15:04] #32597 closed

[2019-03-16 15:08] steveklabnik commented on #30424
Interestingly enough, if we run this code in MIRI: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0d8479bc8e9eeb656f08f3b763e80989

[code]

So, there's *one* answer at least. I'm not going to close this issue just yet, in case someone finds this discussion useful, but I imagine this thread is obsoleted by the unsafe code guidelines, or at least this question should be rais

[2019-03-16 15:10] steveklabnik commented on #31204
Triage: no changes. Due to the stuff in my previous comments, I still think this is a bad idea, but I'll let @rust-lang/rustdoc decide that.

[2019-03-16 15:12] steveklabnik commented on #32098
The box is much more prominent these days:

![image](https://user-images.githubusercontent.com/27786/54477239-fbd19a00-47d3-11e9-9d91-630a9228f121.png)

Additionally, with no other comments since 2016, it seems most people aren't running into this. I'm going to give it a close, thank you!

[2019-03-16 15:12] #32098 closed

[2019-03-16 15:15] steveklabnik commented on #32473
Triage: with no other comments since 2016, I don't think that this issue is really serving a purpose. We *could* pursue other ways of doing this, but there doesn't seem to be a lot of demand. We've tweaked the colors of rustdoc numerous times for the color-blindness issue since then as well.

If you'd still like to pursue this, I'd suggest talking to @rust-lang/rustdoc via discord to come up with

[2019-03-16 15:15] #32473 closed

[2019-03-16 15:18] steveklabnik commented on #32819
Triage: no changes.

[2019-03-16 15:20] steveklabnik commented on #33071
Triage: non-lexical lifetimes makes this code work. But without it, this error still happens.

Are there other code samples that trigger this error? Because eventually, in practice, nobody will see it, even if it's bad.

[2019-03-16 15:57] jonas-schievink commented on #33071
[code]

gives (with NLL)

[code]

So the error is fixed when NLL is enabled.

[2019-03-16 16:08] Zoxc commented on #31789
Just build the compiler enough times and you'll run into it. Just got:
[code]

[2019-03-16 16:22] petrochenkov commented on #44750
`use_extern_macros` was stabilized in 1.30, so this issue is no longer relevant.

[2019-03-16 16:22] #44750 closed

[2019-03-16 16:42] retep998 commented on #31789
`\\?\` paths would never show up in rustc normally if https://github.com/rust-lang/rust/issues/59117 were ever implemented.

[2019-03-16 16:44] gnzlbg commented on #55002
`spin_loop` currently invokes undefined behavior on x86 and x86_64 targets without SSE2. One of those targets is tier-1: i686-apple-darwin.

[2019-03-16 16:48] gnzlbg opened #59237 "hint::spin_loop invokes undefined behavior on targets without SSE2"
Currently `hint::spin_loop` is implemented with the `pause` instruction on all x86 / x86_64 targets, but this instruction is only available on CPUs with SSE2. The behavior of `pause` on CPUs without SSE2 is undefined.

---

This hint should not be implemented with inline assembly, but should call the appropriate `core::arch` intrinsics instead. Those explicitly state which features are required fo

[2019-03-16 16:49] rkruppe commented on #55002
Are you sure? The [target spec for that](https://github.com/rust-lang/rust/blob/master/src/librustc_target/spec/i686_apple_darwin.rs) sets the cpu to Yonah, which has SSE2.

[2019-03-16 16:51] gnzlbg commented on #55002
@rkruppe if that was fixed we should close: https://github.com/rust-lang/rust/issues/53423

[2019-03-16 16:52] steveklabnik commented on #33725
Triage: https://perf.rust-lang.org/ still doesn't collect this data, as far as I know

[2019-03-16 16:52] Shnatsel commented on #59229
I think allowing to safely convert `Vec<NonZeroU8>` to `CString` is a good idea regardless. It's an obviously correct conversion and it would be a shame not to provide a safe interface for it.
I could see it being used for performance reasons in security-critical code where the authors would like to avoid rolling their own `unsafe`, since part of the appeal of `NonZeroU8` is that you can make the

[2019-03-16 16:54] Shnatsel commented on #59229
I wonder why [`read_until()`](https://doc.rust-lang.org/std/io/trait.BufRead.html#method.read_until) is only implemented on `BufRead`, but not `Read`? There is probably a good reason for that - and if so, we should also implement `CString::from_reader()` only on `BufRead`. This should still serve most use cases because `Cursor` implements `BufRead`, and external I/O without buffering is unbearably

[2019-03-16 16:54] gnzlbg commented on #53423
This appears to be fixed now: https://rust.godbolt.org/z/UqjUHQ the default CPU is "yonah".

[2019-03-16 16:54] #53423 closed

[2019-03-16 16:55] gnzlbg commented on #55002
@rkruppe indeed, that's fixed, I've closed that issue.

[2019-03-16 17:52] #58825 closed

[2019-03-16 17:52] #58895 closed

[2019-03-16 17:52] #58280 closed

[2019-03-16 17:52] #57924 closed

[2019-03-16 17:52] #59021 closed

[2019-03-16 17:52] #59029 closed

[2019-03-16 17:52] #59126 closed

[2019-03-16 17:52] #29094 closed

[2019-03-16 17:52] #32311 closed

[2019-03-16 17:52] #55809 closed

[2019-03-16 17:52] #59157 closed

[2019-03-16 17:52] #59034 closed

[2019-03-16 17:52] #57126 closed

[2019-03-16 18:09] ipetkov commented on #58907
Original issue was for updating release notes (whose PR has been merged), but I'm reopening since there are still some unanswered questions if the behavior is correct

[2019-03-16 18:16] Mark-Simulacrum commented on #58907
I'm going to re-nominate for the libs team since discussion has noted that in practice this change may have produced some rather painful breakage (i.e., no good workarounds). On the other hand, they seem similar to the problems we've long known about with per-test state (e.g. env_logger, etc.).

[2019-03-16 20:49] jethrogb commented on #58375
Significantly reduced reproduction in https://github.com/ckaran/rustc_issue_report_58375/pull/1 . I would like it to be smaller still, though.

[2019-03-16 21:03] jethrogb commented on #58375
Also was able to reproduce on Rust 1.24.0, so it's at least not a recent regression. https://github.com/jethrogb/rustc_issue_report_58375/tree/1.24.0 . Since this blows up on `DecodeUtf16` and I need `DecodeUtf16: Debug`, this test case requires at least 1.24.0.

[2019-03-16 21:38] DevQps commented on #59229
@Shnatsel I completely agree! I think in most cases (depending on how Read::read is implemented) an implementation for BufRead is probably much faster.

I do however wonder: Wouldn't it be better to do it like this?

[code]

This way we can avoid doing a ```buffer.pop``` and pushing a null character again in Cstring::from_vec_unchecked. I am not sure if the compiler would be smart enough to optimi

[2019-03-16 21:44] Riateche opened #59243 "the name `std` is defined multiple times"
The error happens on latest stable and nightly.
Steps to reproduce: `cargo new --lib lib1`;
`src/lib.rs`:
[code]
`tests/test1.rs`:
[code]
`cargo test` returns error:
[code]
The error only happens if the module is named `std` (for instance, `core` and `alloc` work without error). The error is not produced if `test1.rs` doesn't use `lib1` in any way. If `test1.rs` doesn't contain imports but uses th

[2019-03-16 21:55] petrochenkov commented on #59243
The second instance is `extern crate std;` injected implicitly.
The error could be better, yes.

[2019-03-16 22:26] Ekleog commented on #46099
This is likely due to https://github.com/rust-lang/rust/blob/master/src/librustc_borrowck/borrowck/mod.rs#L724-L732

[2019-03-16 23:18] emilio commented on #58735
I'm not sure yet. https://bugzilla.mozilla.org/show_bug.cgi?id=1531986 tracks updating to Nightly, but I can't land that until https://bugzilla.mozilla.org/show_bug.cgi?id=1521249 lands and such.

I'm happy to tentatively close this though, I'll reopen if it appears again.

[2019-03-16 23:18] #58735 closed

[2019-03-16 23:28] Riateche commented on #59243
Where exactly is `extern crate std;` injected - in the library or in the test? Why does the library work on its own? Why does `extern crate std` conflict with `lib1::std` in the test?

[2019-03-16 23:33] kenta7777 commented on #49937
I think refactoring codes marked as `FIXME(49937)` was done.

[2019-03-16 23:38] Ekleog opened #59245 "Inconsistency in Send/Sync requirements for async/await"
The following code, when switching between lines 14 and 15 (the two versions of the `for` line), oscillates between compiling and not compiling because it requires `Sync` for the `dyn Send` items:
[code]
[(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9110c0064a66d987a9eff38ab282c8c0)

(Note: this is a simplification of the failure that occurs on https://git

[2019-03-16 23:41] Ekleog commented on #50547
Another compiler issue for async/await: https://github.com/rust-lang/rust/issues/59245

Also note that https://github.com/rust-lang-nursery/futures-rs/issues/1199 in the top post can be checked off, as it's now fixed.

[2019-03-16 23:41] Ekleog commented on #53548
Great, thank you! I can confirm that on latest nightly the issue is no longer there :D

[2019-03-17 00:00] #55168 closed

[2019-03-17 01:23] yuanboli233 opened #59246 "Rust-gdb print different integer value after add optimization flag"
The issue is related to the #59149, but I think this issue post presents the problem much clearer.

The rust-gdb debugger give incorrect value for optimization level 1 for the following "main.rs".
[code]

Rust-gdb will give different value for variable "counter" at the line "tmp();". For opt-level=0, it shows the variable has value 2; for opt-level=1, it shows the variable has value 0. Noticing th

[2019-03-17 05:27] najamelan opened #59248 "Make dbg macro work in WASM -> map to browser console"
Currently, `dbg!` seems to do nothing on wasm, at least as far as the browser console is concerned. `web_sys::console::log_1( &obj.into() );` Allows to get an interactive (eg. not a string) entry in the browser console where we can inspect all the objects javascript properties.

It would be nice if this was supported by `dbg!` out of the box (without consuming the object if possible).

[2019-03-17 08:22] yushih opened #59249 "Index out of sync on doc.rust-lang.org"
On the page https://doc.rust-lang.org/std/vec/struct.Vec.html  there are functions missing from the left-side index panel, `sort`, `sort_by_key` among others.

[2019-03-17 08:26] oli-obk commented on #49937
Super! Thanks for all the work you put into cleaning up this issue!

[2019-03-17 08:26] #49937 closed

[2019-03-17 09:30] lzutao commented on #59249
The link you give is broken. Anyway, those methods `sort`, `sort_by_key` is from [slice](https://doc.rust-lang.org/std/primitive.slice.html#method.sort_by_key).

[2019-03-17 10:13] bovinebuddha commented on #59233
@oli-obk

I agree with @lzutao that this policy is sound for actually merging the PR, but it might cause confusion for reviews. I've had a PR lying around for awhile, and when there is merge conflicts the 'waiting-on-author' label gets added so noone reviews it, but when I do the rebasing to get back my 'waiting-on-review' it seems as if Github sometimes loses context of previous reviews, which ca

[2019-03-17 10:35] GuillaumeGomez commented on #31204
I also think this is a bad idea. It can't be applied generally on the std lib.

[2019-03-17 10:41] oli-obk commented on #59233
for the record: I personally want no rebasing and just merging, I'm just stating what the policy is.

[2019-03-17 10:59] Centril commented on #59248
(What `dbg!` does is simply print to STDERR)

[2019-03-17 11:24] yushih commented on #59249
(Linked fixed. Thanks for pointing out)
But they are supposed to be under the "Methods from Deref<Target=[T]>" header as are other methods from slice, right?

[2019-03-17 11:40] sanxiyn commented on #53759
This is rust-lang/rust-clippy#1230. I agree with @ExpHP that this belongs in clippy and not rustc.

[2019-03-17 11:40] #53759 closed

[2019-03-17 12:30] najamelan commented on #59248
Yeah, wondering if we can not make it do something more interesting on platform `wasm-....`. Haven't actually check whether something ends up on STDERR of the browser, but I doubt it.

[2019-03-17 13:04] yaymukund commented on #43155
If anyone else stumbled into this thread searching for a solution, there's [the `serial_rust` crate](https://crates.io/crates/serial_test) ([described here](https://tech.labs.oliverwyman.com/blog/2019/01/14/serialising-rust-tests/)).

[2019-03-17 13:06] jackpot51 opened #59254 "Update toolchain for Redox dist"
The old APT toolchain is no longer available

[2019-03-17 14:03] oli-obk opened #59255 "Reevaluate removing `ty::Error`"
I just found

https://github.com/rust-lang/rust/blob/7cf074a1e655ac07d04d045667278fa1a9970b93/src/librustc/ty/flags.rs#L70-L76

which seems to suggest that it's not the "infects everything" problem of using `Result` in more places, but actually some ages old situation where either the compiler ended up segfaulting during compilation or the compiled crate segfaulted during execution.

cc @nikomatsa

[2019-03-17 14:14] sanmai-NL commented on #42667
@alexcrichton: can this be closed?

[2019-03-17 14:24] #59209 closed

[2019-03-17 15:30] Fanael commented on #59237
This is incorrect: `pause` is defined in a way that makes it a harmless NOP on all earlier CPUs, and is even *explicitly defined* as such in Intel manuals:

[2019-03-17 15:48] gnzlbg commented on #59237
@Fanael indeed. Is there an advantage to emitting pause in earlier processors with respect to emitting nothing ?

[2019-03-17 15:52] LukasKalbertodt commented on #52662
I haven't found any discussion about this: what about super trait bounds? In particular: whether other code can "rely" on it. Example (current Rust, [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=66a6c16ebf9cd353619503a7791d82fb)):

[code]

This errors. While `foo` can assume that `T` also implements `Color` (the direct super trait bound) and thus `T::Channel`

[2019-03-17 15:58] Centril commented on #52662
https://github.com/rust-lang/rust/issues/44491 will likely change this :) (cc @scalexm)

Same as:

[code]

Depends on whether you have implied bounds or not :)

[2019-03-17 16:00] LukasKalbertodt commented on #52662
@Centril Thanks for the quick explanation! I didn't know implied bounds would change this too -- that's great!

[2019-03-17 16:04] Fanael commented on #59237
No, but there's also no harm, and it lets you avoid an ugly compile time conditional.

[2019-03-17 16:18] Fanael commented on #59237
Not that I know, there is no advantage on any of Intel's old microarchitectures, they just interpret it as a nop and have no special way of handling spin loops. It might be different on AMD's K7 or VIA Nehemiah, but I don't have that hardware to test, and I doubt it makes any difference anyway. It lets you avoid an ugly compile time conditional and that's it I think.

[2019-03-17 17:57] Osspial commented on #34426
I'd be willing to try and tackle this issue! Is there anyone that would be able to do any mentoring? The attempts I've made to figure out the proper way of fixing this have resulted in me getting lost in the compiler's code, and I'm running out of stamina going at it alone.

[2019-03-17 18:38] ehuss opened #59261 "rustdoc: `code` block within portability span is unreadable on dark theme"
The portability span uses code blocks for target features, but these have a default dark background color that is unreadable on the dark theme.

<img width="241" alt="image" src="https://user-images.githubusercontent.com/43198/54496124-fa25d600-48a8-11e9-8fdc-ac688287f457.png">

Sample page: https://doc.rust-lang.org/nightly/core/arch/x86_64/index.html

[2019-03-17 18:52] RReverser commented on #53639
@retep998 This is the case I've seen too.

@RalfJung Do you mean in the current state of things or in proposed one? Currently it doesn't (although does require `unsafe`).

For example, if we take following Rust code:

[code]

Then, as expected, we get a borrow checker error due to mutation of variable while it's still borrowed immutably:

[code]

But, if we use `static mut`, we can do:

[code]

wi

[2019-03-17 19:10] gnzlbg commented on #59237
This bug report is invalid, thanks @Fanael .

[2019-03-17 19:10] #59237 closed

[2019-03-17 19:30] ForceBru commented on #59110
The same happens when I try to build  for `armv7-apple-ios`:

I tried to run the following command:

    ../x.py build -i  --stage 1 -j 4 --target armv7-apple-ios --host armv7-apple-ios src/libstd

Got the following output:

[code]

Building only the libraries with `../x.py --target=armv7-apple-ios check` works fine.

[2019-03-17 20:07] infinity0 opened #59264 "compiletest should be built with the stage2 compiler not the stage0 compiler"
See #57709. Unfortunately the "fix" to that bug breaks the build when building using 1.31.0 and you have to unapply the patch to make it work against 1.31.0.

e.g. from https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=amd64&ver=1.32.0%2Bdfsg1-1&stamp=1548672224&raw=0 :

[code]

The problem here is that if stage0 is 1.31.0 then the patch MUST be unapplied, if stage0 is 1.32.0 then the patc

[2019-03-17 20:08] infinity0 commented on #59264
Doing things this way (using stage2) would also have ensured that #57709 was detected early, and never made it into a release.

[2019-03-17 20:24] Mark-Simulacrum commented on #59264
We would prefer to build tools such as compiletest with the bootstrap compiler because stage1, stage2 compilers take a long time to build.

I think largely we just can't at this point support building with multiple compilers -- i.e., the bootstrap compiler should be the same one we use in tree. We just don't have the CI budget and resources to test and support multiple versions of the compiler for

[2019-03-17 21:09] cuviper commented on #59264
As a matter of policy, we do need such rebuild-bootstrapping to continue to be supported to some extent, even if it's only a "tier-2" use case. That is, fixing these sort of issues reactively is still better than nothing.

[2019-03-17 21:13] infinity0 commented on #59264
Is conditional compilation based on the compiler version possible in Rust today? That could be an alternative solution, instead of always using stage2. The language [here](https://doc.rust-lang.org/reference/attributes.html#conditional-compilation) is a bit technical and I couldn't figure it out.

[2019-03-17 21:17] infinity0 commented on #59264
I guess for now, I could hack that sort of logic into the Debian build script manually in an ad-hoc way - applying the patch vs not, based on the stage0 compiler version.

[2019-03-17 21:56] TheZoq2 commented on #56546
The same issue is present in the embedded_hal world. Nearly all the functions from the embedded_hal crate are hidden in the [stm32f1xx_hal docs](https://docs.rs/stm32f1xx-hal).

It seems weird to always hide trait impls as there could be some very useful functions in there, as is the case in stm32f1xx_hal

[2019-03-17 22:34] GuillaumeGomez commented on #56546
@TheZoq2: You don't look at the problem as a whole: in this case they could all be expanded, it wouldn't change much. But in some cases where a type has a lot of trait implementations, it becomes **very** complicated to read. The current orientation would be to reformulate the sentence, not to re-expand everything automatically.

[2019-03-17 23:51] #58822 closed

[2019-03-18 00:21] brson commented on #48683
In my testing of this feature I've found that `[profile.test]` and `[profile.bench]` cannot be overridden. Cargo reports "warning: unused key `profile.bench` in config file".

I don't see any language in the RFC saying that these should not be overrideable. I am attempting to use config profiles to create a "menu" of profiles, for testing the effect of various configurations on compile and build t

[2019-03-18 00:28] brson commented on #48683
OK, after further testing I find something weirder.

A `[profile.dev]` override applies to `cargo test`, and a `[profile.release]` override applies to `cargo bench`.

This seems very counterintuitive, and would need to be explained clearly in the docs.

Tested with cargo 1.34.0-nightly (5c6aa46e6 2019-02-22)

[2019-03-18 01:15] ehuss commented on #48683
It wasn't explicitly stated in the RFC, but only dev/release are supported (this is briefly mentioned in the [unstable documentation](https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#profile-overrides)). This was a conservative approach because the future of the test/bench profiles is uncertain.  They behave in a strange way.  Essentially test/bench only apply to the **final artifac

[2019-03-18 01:31] alexbuzzbee opened #59265 "Under certain circumstances, Rust segfaults when using compiler_builtins memset due to stack misalignment"
Rust generates a call to `memset` when zeroing stack objects, as is reasonable. Normally, this would go to `libc`, but in `no_std` programs, it's usually done with `compiler_builtins`. However, because `compiler_builtins`'s `memset` is in the same binary and LLVM "knows" what it does, LLVM inlines it and, on x86_64, optimizes it to `movaps` instructions. `movaps` requires 16-byte alignment. Rust d

[2019-03-18 01:39] alexbuzzbee commented on #59265
I should note that prior testing has shown that the kernel provides a 16-byte aligned stack, but Rust doesn't preserve that alignment.

[2019-03-18 02:27] joshtriplett commented on #58046
This seems to have gotten stuck for a while, and it looks like the only blocker is the function name.

Many libraries and developers already describe this function as `copysign`. While we certainly *can* change the name if we find it sufficiently unclear or error-prone (such as the example for `memcpy`, which leads to common problems in C), it seems like people already know this function as `copys

[2019-03-18 03:40] comex commented on #59265
AFAIK, on entry to a function, `rsp` is not supposed to be a multiple of 16, but a multiple of 16 plus 8.  This is because the caller function is expected to have `rsp` aligned *before* executing the `call` instruction, which subtracts 8.  Thus `sub $0x88, %rsp` is meant to bring `rsp` back into alignment.  I guess the kernel does not follow this rule when jumping to the start routine, so you shou

[2019-03-18 03:47] #56635 closed

[2019-03-18 04:33] estebank commented on #56517
Current output has changed slightly:

[code]

Now it is even worse because the suggestion points at the wrong span, so when applied it creates incorrect code :-(

[2019-03-18 04:38] khimaros commented on #58922
FYI, this appears to have transitively broken the `sqlite` crate. Is there a workaround?

[2019-03-18 04:51] estebank commented on #55307
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a24d27e85566962239367046469e225b):

[code]

[2019-03-18 06:00] #52784 closed

[2019-03-18 06:25] Zoxc opened #59269 "rustc suggests using a trait with a private path instead of a public ones"
These are the errors I get:
[code]
rustc should instead suggest I use the public path `quote::ToTokens`.

[2019-03-18 06:32] joshtriplett commented on #56132
ping @cramertj @michaelwoerister @nikomatsakis

[2019-03-18 06:35] bash opened #59270 "#[non_exhaustive] enums allow glob imports for variants"
I think wildcard imports for enum variants of enums that have the `#[non_exhaustive]` attribute set should be disallowed, because adding a new variant on the enum could break downstream crates.

Given the following two crates:

**crate-a**:
[code]

**crate-b**:
[code]

Adding a new variant `Baz` to enum `A` breaks compilation for `crate-b` with the following error:
[code]

---

Output from `rustc

[2019-03-18 06:42] petrochenkov commented on #59270
That's not a problem specific to non-exhaustive enums, adding public items into any public module (`mod`) can cause "glob vs glob" ambiguities downstream.
That's generally considered an acceptable breakage, because otherwise all APIs would be frozen at the moment of their creation.

[2019-03-18 06:45] petrochenkov commented on #59270
I think, `clippy` could consider adding a lint for the non-exhaustive enum case specifically, if you file an issue in https://github.com/rust-lang/rust-clippy.

[2019-03-18 06:47] petrochenkov commented on #59270
It could be even better to lint multiple glob imports in a single module if at least one of them refers to an "open" entity - module or non-exhaustive enum.

[2019-03-18 07:51] hellow554 commented on #59224
Does not occur on windows. Neither on a attached network folder (assign it to a letter, e.g. `W:`) nor a "raw" shared folder.

[2019-03-18 08:01] Zoxc commented on #59224
I suspect this is due to older SMB versions (pre-3.0) not supporting locking files. Not sure why we need that though. cc @michaelwoerister

[2019-03-18 08:14] samuela commented on #59224
@Zoxc smbutil _claims_ it's on 3.0, but I don't really trust macOS's SMB driver that much:

[code]

[2019-03-18 08:34] nikic commented on #58046
I looks like the consensus is in favor of copysign(), and I think think the combination of this being both an established concept and a somewhat rarely used function make that a reasonable choice.

Please feel free to mark the concern as resolved (I don't think I can do that myself...)

[2019-03-18 08:38] SimonSapin commented on #58046
I think @alexcrichton needs to mark it resolved?

@rfcbot resolve naming

[2019-03-18 08:40] gilescope commented on #51751
I can see we have asyncness on the ast. Given that the await! macro disappears I think this is our only hint. Will explore that path.

[2019-03-18 09:18] stefson opened #59272 "prebuilt rust-std's libraries are not stripped"
hey there, I'm not sure where to direct this :)

it is just that the prebuilt rust-1.32.0-${RUST_CHOST}.tar.xz stages include rust-std suitable for ${RUST_CHOST}, and those are non-debug + stripped libraries.

whereas prebuilt rust-std-1.32.0-${FOREIGN_RUST_CHOST}.tar.xz has the rustlib libraries with debug info, hence not stripped.

since it's possible to strip them with cross-binutils, do you th

[2019-03-18 09:25] matklad commented on #48683
To elaborate, I am fine with test/bench, if they are fixed as @ehuss proposed, provided that we do have a genuine "profile inheritance" mechanism useful elsewhere.

[2019-03-18 10:18] bash commented on #59270
You're absolutely right, I totally  forgot about the breaking change nature of glob imports. 😄

There's already a `clippy` lint that warns about glob imports of enums: <https://rust-lang.github.io/rust-clippy/master/index.html#enum_glob_use>, I don't think that another lint is necessary?

[2019-03-18 10:50] RalfJung commented on #53639
I meant with my proposal.

[2019-03-18 11:07] RalfJung commented on #53491
Things have calmed down a bit here. So what about the following plan:
* I prepare a PR to deprecate `MaybeUninit::uninitialized` and rename it to `MaybeUninit::uninit`.
* Once that has landed (requires updating stdsimd, so there is some time here if people think this is not the way to go), I prepare a PR to stabilize `MaybeUninit::{new, uninit, zeroed, as_ptr, as_mut_ptr}`.

This leaves open the q

[2019-03-18 11:10] eddyb commented on #59219
cc @rust-lang/compiler

[2019-03-18 11:11] #56031 closed

[2019-03-18 11:23] nagisa commented on #59265
What @comex said. The `_start` for Linux ELF executables does not follow the conventional calling convention and therefore assembly is necessary to implement it. Namely it is expected that `_start` looks like this:

[code]

Closing as a not-a-bug.

[2019-03-18 11:23] #59265 closed

[2019-03-18 11:53] pnkfelix commented on #57979
As of PRs #58608 and #59235, we now report a future-incompatibility warning (#59014) on nightly and beta for the code reported here.

Closing as "fixed", in the sense that we are going to have a migration period before this becomes a hard error.

[2019-03-18 11:53] #57979 closed

[2019-03-18 12:05] emilio commented on #55737
This should be fixed by https://github.com/rust-lang/rust/pull/59173.

[2019-03-18 12:06] pnkfelix commented on #25165
(switched this from C-bug to C-enhancement, because I do not think this represent anything incorrect in our existing type inference; it just is one of many annoying short-comings that we might attempt to address in the future.)

[2019-03-18 12:21] aristarh2704 opened #59274 "Cannot find public existing method"
When I use OwningRef in my code and try call "erase_owner", rustc says:
error[E0599]: no method named `erase_owner` found for type `rustc_data_structures::owning_ref::OwningRef<std::boxed::Box<[u8]>, [u8]>` in the current scope

[2019-03-18 12:29] pnkfelix commented on #56327
(I nominated this for discussion at a future T-compiler meeting because I want us to figure out what our intent was for this bug, and I also want to try to develop a firmer policy for how such cases should be addressed going forward.

[2019-03-18 12:40] ckaran commented on #58375
@jethrogb I left a comment on your PR to my repository, but I'm going to leave the same comment here, so that others can read the thread and know what we talked about (mea culpa for not commenting here originally!)

Based on what you've said above, it appears that what you pushed fully reproduces the problem for you, correct?  If so, I'll merge the PR.  Do you want me to leave the repository up un

[2019-03-18 12:42] DevQps commented on #59163
@steveklabnik I don't want to bother you if you didn't forget it but just have been busy with other stuff, but just in case you forgot here another reminder! I am curious to what your view is on this.

[2019-03-18 12:50] agrif commented on #56546
Perhaps a trait could indicate at the definition point that its documentation should be expanded automatically? Like @nstoddard's suggestion. The issue seems to be that there are two types of traits:

 1. Traits like `Clone`, where you are likely to see it very often and already have an idea of what it provides. Hiding these traits reduces visual noise and makes it easier to get at more important

[2019-03-18 13:11] regexident commented on #54140
It's been quite a while since the last activity here. @SergioBenitez could you give a brief status update on what's holding back progress on this and if, which help is needed?

[2019-03-18 13:11] mati865 commented on #57439
`rustup toolchain install nightly-x86_64-unknown-linux-musl` works now but it's not useful on most of glibc based distros unless you have unwinder built with musl.
There is WIP PR for musl built `rustup` which will run on musl based distros.

[2019-03-18 13:17] shepmaster commented on #53491
Does that mean that there will be a period where there is *no* avenue to create an uninitialized value without either (a) a deprecation warning or (b) using unstable features? That is not a sustainable practice.

When deprecating something that we don't plan on effectively removing, a stable replacement needs to be available whenever the deprecation warning is added. Otherwise, people will just ad

[2019-03-18 13:29] alexbuzzbee commented on #59265
@comex Ah. I suppose I misread the calling convention. In my larger tests, I had an assembly _start, but it had the stack aligned *after* the call. I’ll switch that around and hopefully that’ll work.

[2019-03-18 13:49] steveklabnik commented on #59163
I had it on my to-do list for this morning, you beat me to it :)

Yes, there's no expensiveness requirement here, so we shouldn't talk about it.

It's due to coherence; this would mean that the implementations would be recursive. Anything that implements from would implement into which implements from which implements into which....

Yeah, I think pointing people to Into makes a lot of sense.

[2019-03-18 14:09] DevQps commented on #59163
@steveklabnik Thanks for your response! I will put it on my list and hope to create a PR for it somewhere this week! I'll tag you again once it's done!

[2019-03-18 14:29] oli-obk commented on #58951
I'm confused. Either this was fixed since yesterday's nightly (it still ICEs on nightly but works locally on master), or something really odd is going on

[2019-03-18 14:44] hellow554 commented on #59274
There is a little chance we can help you right now. We don't have code to look at nor additional information e.g. why it should work.

Can you please share some code, e.g. preferable a so called [MCVE](http://stackoverflow.com/help/mcve). You can use [the playground](https://play.rust-lang.org/) to create such MCVE.

[2019-03-18 14:48] hellow554 commented on #59272
You could use `llvm-strip` for cross platform strip without the need to install a toolchain for different targets.

[2019-03-18 14:49] alexcrichton commented on #58046
@rfcbot resolve naming

[2019-03-18 15:31] oli-obk commented on #53345
@rust-lang/lang 	How should this ICE be fixed? Do we want to support implementing traits for existential types? Right now existential types just hide the concrete type. Not sure if the use case for extending it exists.

It also seems odd that a single type may have two completely different implementations of a trait, but one of the implementations is indirect via an existential type.

Just an impl

[2019-03-18 15:45] matklad opened #59277 "Tracking issue for todo! macro"
This is a tracking issue for `todo!` macro.

Added in #56348. Feature gate: `#![feature(todo_macro)]`.

When stabilizing, we should adjust documentation for `unimplemented!` to point towards `todo!`

[2019-03-18 15:46] sanmai-NL commented on #57439
@mati865: Great! We can avoid rustup using an installer archive from e.g. https://static.rust-lang.org/dist/2019-03-17/rust-nightly-x86_64-unknown-linux-musl.tar.gz. Part of a container build script:

[code]

Compiling packages that transitively depend on procedural macros does not work, however. :(
See https://github.com/rust-lang/cargo/issues/5266.

[2019-03-18 15:56] oli-obk commented on #57612
Reduced example

[code]

[2019-03-18 15:58] alexcrichton commented on #59264
I think if we wanted to solve this issue the best way to do it would be to:

* Require `compiletest` compiles on stable, except for the dependency on the `test` crate
* Have `compiletest` depend on std/test in-tree binaries, so we always build them (with the stage0 compiler)

That way `compiletest` works with rebuild-bootstraping and normal use cases because it's not using anything unstable except

[2019-03-18 16:04] oli-obk commented on #59274
Closing as unactionable. Please consider the suggestions by @hellow554 or asking on one of the chat platforms: https://www.rust-lang.org/community

[2019-03-18 16:04] #59274 closed

[2019-03-18 16:07] oli-obk commented on #42667
fixed in https://github.com/rust-lang/rust/pull/58269

[2019-03-18 16:07] #42667 closed

[2019-03-18 16:18] Mark-Simulacrum commented on #59264
I think in general a policy of unstable tools/dependencies having the requirement of being in-tree deps instead of beta is reasonable, yeah.

I can try to make a patch that makes compiletest (and if there are any other such tools) do this sometime this week.

[2019-03-18 16:31] QuietMisdreavus commented on #31204
I generally agree with @steveklabnik and @GuillaumeGomez. It's not worth trying to add mapping information if an unstable item is moved, renamed, or deleted, since the stable docs are generated once, upon release, and never touched afterward. Attempting to add this mapping information would result in noisy backports that only serve to provide information for something that's not useful to stable u

[2019-03-18 16:36] jonhoo commented on #42849
`BinaryHeap` now has [`drain`](https://doc.rust-lang.org/std/collections/struct.BinaryHeap.html#method.drain), although for some reason it removes elements in _arbitrary_ order :/

[2019-03-18 16:43] jonhoo opened #59278 "Tracking issue for `BinaryHeap` sorted iterator methods"
This tracks the stabilization of `BinaryHeap::into_iter_sorted` (`binary_heap_into_iter_sorted`) and `BinaryHeap::drain_sorted` (`binary_heap_drain_sorted`) implemented in https://github.com/rust-lang/rust/pull/65091.

EDIT much later:
- [ ] https://github.com/rust-lang/rust/pull/76234 looked at stabilizing part of this, but didn't come to a conclusion that it was ready-to-go as-is.  The questions

[2019-03-18 17:26] Centril commented on #58951
@oli-obk  Is that the upstream master? Otherwise maybe someone merged a PR or something..

[2019-03-18 17:29] Centril commented on #53345
The RFC notes that:

So `impl Eq for Bar {}` should result in an error.

Probably a matter of convenience most of the time...

[2019-03-18 17:39] Centril commented on #53491
@RalfJung Just do it (and r? me if you like) as you did before with the other renaming PRs and if anyone objects we can deal with that in FCP. :)

[2019-03-18 17:43] cramertj commented on #59245
I think this is working as intended-- I'd expect that in order for the future to be `Send`, all references held across `await!` points must be `Send`, which means the data they reference must be `Sync`. In the `for` loop here, a reference to `v` is being held across the `await!`. cc @nikomatsakis for another unfortunate side-effect of temporary references becoming extraordinarily visible under asy

[2019-03-18 17:44] cramertj commented on #59245
I guess it's also worth pointing out that what isn't "working as intended" here is that the reference in question shouldn't *need* to be held across the `await!`, since it's only being used to produce a new temporary (the range).

[2019-03-18 18:01] jethrogb commented on #58375
This is a regression from 1.23.0 to 1.24.0

Fully reduced:
[code]
Compile with `--crate-type lib -C link-dead-code`

Now that we have a reduced test case can someone from the compiler team look at this? @nikomatsakis

[2019-03-18 18:04] jethrogb commented on #57131
See reduced test case in https://github.com/rust-lang/rust/issues/58375#issuecomment-474034186

[2019-03-18 18:04] jethrogb commented on #52478
See reduced test case in https://github.com/rust-lang/rust/issues/58375#issuecomment-474034186

[2019-03-18 18:07] RalfJung commented on #53491
Well, I am going to wait a bit because these don't have to be part of the initial stabilization.

[2019-03-18 18:07] cramertj commented on #51751
@gilescope IMO fixing this prior to moving to native syntax doesn't really make sense, because at that point I'm assuming we'll have an actual `await` node in the AST that doesn't become a yield until HIR lowering.

[2019-03-18 18:11] Ekleog commented on #59245
Actually, if the reference points to inside the future itself, I think that the pointed-to stuff should only need to be `Send`, as there would at any point in time be only a single thread referring to them. But that is another issue (or another feature request, actually), and here what I wanted to point out was that the temporary borrow is propagated further than would be expected.

[2019-03-18 18:35] hellow554 commented on #42849
Is that really a problem? I can't think of a situation where you want to remove elements in order.

[2019-03-18 18:43] jonhoo commented on #42849
I mean, it's a heap... If I want to re-use the heap, it seems pretty reasonable to use `.drain` to walk the heap rather than a `while let Some(_) = heap.pop` loop. I think this is _especially_ surprising for `IntoIterator` -- it'd be like a `BTreeMap` yielding elements in a random order when you do `for (k, v) in btreemap`.

[2019-03-18 18:52] rinon commented on #55737
#59173 fixed this on Linux, thanks! The issue still persists on OS X because the filename is always `libLLVM.dylib` as mentioned above.

[2019-03-18 18:52] DevQps commented on #59163
@steveklabnik Sorry for bothering you again, but I have a few more questions!:

### Module Documentation
In the module description of ```std::convert``` we can read the following:

**Question:** In what scenarios should we use implement a reference-to-reference conversion using ```From``` instead of ```AsRef```? Or is what they mean here: reference-to-value conversion? (i.e. &str to String).

We c

[2019-03-18 19:00] estebank commented on #57144
We could tag the span as a const eval desugaring in order to be able to filter in `rustc_on_unimplemented` on it.

CC #57800.

[2019-03-18 19:30] shepmaster commented on #53491
Ah, gotcha. Carry on then.

[2019-03-18 19:30] wooleyra opened #59281 "Iter with step_by(2) performs slowly"
Comparing the performance between these similar functions, the one that uses the iterator with the step_by(2) function performs significantly slower than the one using a traditional "while loop".

[code]
Running the experimental `cargo bench --all-targets` produced the following results for me using the nightly-x86_64-unknown-gnu toolchain (1.35.0-nightly):
[code]

[2019-03-18 20:00] petrochenkov commented on #59243
Ok, it turns out this is a legitimate bug, I misinterpreted it as a more commonly reported diagnostic issue.

`extern crate std;` is injected into both the library and the test, but only the first one causes the error.

If you set `edition = "2015"` in `Cargo.toml`, then you'll see the error immediately while compiling `lib.rs` - `mod std` conflicts with `extern crate std`.

On 2018 edition, howev

[2019-03-18 20:02] jonas-schievink commented on #32976
This is listed as the tracking issue for `cfg_target_has_atomic`, which is still unstable. Should this be reopened?

[2019-03-18 20:14] petrochenkov commented on #59243
The solution is to either encode gensyms/hygiene into metadata properly (this is a large task and a long standing issue), or come up with some hack preventing the injected `extern crate std` specifically from being encoded (it doesn't really need to be encoded).

[2019-03-18 20:30] stefson commented on #59272
Where's the point in your argument? This is about the prebuilt rust-std files from static.rust-lang.org, and unless I've got access to the infra behind it I can't do anything. Cross compiling a rust-std on my own is a different story though.

[2019-03-18 21:15] weiby3 commented on #47048
@retep998 I have try your method, such as `cargo install --force --path . --target x86_64-pc-windows-gnu`.
But it seems that rust use `/usr/bin/link` instead of `/mingw64/bin/gcc`, and it use msvc linker's flag:
[code]
This makes the build failed.
Are there any solutions?

[2019-03-18 21:21] retep998 commented on #47048
@weiby3 Well, the downside of my method is that you're cross compiling from `-msvc` and so you need to actually have VC++ installed to link build scripts...

[2019-03-18 21:21] estebank commented on #51751
We can create an intrinsic macro (like `format`) that only calls `yield` and poisons its span with `CompilerDesugaringKind::Await`. That way the generic `yield` error is still emitted _except_ when calling `await!()`.

[2019-03-18 21:32] weiby3 commented on #47048
@retep998 Well, it seems that it still get undefined reference...
[code]
I have install VC++ build tools, but why shouldn't I directly use msvc toolchain to compile it instead of cross compile?:joy:

[2019-03-18 21:45] weiby3 commented on #47048
Founded a hacky way to solve this problem.
Original solution from [https://zhuanlan.zhihu.com/p/52524621](https://zhuanlan.zhihu.com/p/52524621)
- edit `~\.rustup\toolchains\stable-x86_64-pc-windows-gnu\lib\rustlib\multirust-channel-manifest.toml`
[code]
replace `components` to `extensions`, and then execute `rustup component remove rust-mingw`.
- add the following to `~\.cargo\config`
[code]
- co

[2019-03-18 21:48] RalfJung commented on #53491
All right, doing the renames inhttps://github.com/rust-lang/rust/pull/59284:

uninitialized -> uninit
into_initialized -> assume_init
read_initialized -> read
set -> write

[2019-03-18 22:00] mati865 commented on #47048
Easiest workaround is to just copy `crt2.o` and `dllcrt2.o` from `C:\msys64\mingw64\x86_64-w64-mingw32\lib` to `~\.rustup\toolchains\stable-x86_64-pc-windows-gnu\lib\rustlib\x86_64-pc-windows-gnu\lib` every time you update.

[2019-03-18 22:48] FenrirWolf commented on #53039
Looks like this was addressed by https://github.com/rust-lang/rust/pull/58183

[2019-03-18 22:48] #53039 closed

[2019-03-18 23:46] earthengine commented on #59245
FYI, I was posted in [internals](https://internals.rust-lang.org/t/async-await-and-references-in-pattern-match/9409) for this issue.

[2019-03-18 23:52] retep998 commented on #59224
Instead of using the lock file api, could we alternatively just open the file without `FILE_SHARE_READ` and `FILE_SHARE_WRITE`?

[2019-03-19 00:39] internally-combusted commented on #47814
I'm having the same problem still.

[code]

compiles fine, but

[code]

makes the compiler cry.

Here's my `rustc --version --verbose`:

[code]

[2019-03-19 00:44] varkor commented on #59210
It'd also be better to wait until https://github.com/rust-lang/rust/pull/59008 is merged, because there's otherwise going to be a lot of conflicts.

[2019-03-19 02:08] scottmcm opened #59287 "rustdoc search should ensure it shows exact matches"
I was trying to find https://doc.rust-lang.org/nightly/nightly-rustc/syntax/ptr/struct.P.html in rustdoc, but that doesn't show up anywhere if I just search for `P`: https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir/transform/?search=P

It _does_ show up if I search for `"P"` (https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir/transform/?search=%22P%22) so there's a workaround, but

[2019-03-19 03:55] #59218 closed

[2019-03-19 07:51] hellow554 commented on #59281
Interesting enough, if you are using `all` instead of manual if/break it gets even slightly faster

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=619001d6a7a28a2711a41a8e84043003))

[2019-03-19 07:55] stepnivlk commented on #59210
@varkor I see, thx for the info.

[2019-03-19 09:56] sanxiyn commented on #37562
Looking at https://repology.org/project/glibc/versions, Raspbian Stable is at glibc 2.24, and even Raspbian Oldstable is at glibc 2.19 now. We build on glibc 2.16. Closing.

[2019-03-19 09:56] #37562 closed

[2019-03-19 10:59] mikhail-krainik commented on #23416
@nikomatsakis could we improve error message in this case
[code]
I got
[code]
According this RFC type ascription should contain `:` and `space` between type. But it's spreading on typo mistake with ::

[2019-03-19 10:59] sanxiyn commented on #50732
Reading the log, this does seem to be a problem with Arch Linux ARM, not Rust. Closing.

[2019-03-19 10:59] #50732 closed

[2019-03-19 11:03] #50583 closed

[2019-03-19 11:15] sanxiyn commented on #52424
Can you try again? As far as I can tell, there is no way for anyone other than the reporter to reproduce the issue, so it is hard to make any progress.

[2019-03-19 11:20] Centril commented on #23416
cc @estebank ^-- We discussed this at the all hands on a night out... the idea, if you remember, was that you check for this pattern when the LHS of `:` is valid under `<LHS>` and RHS is not an existing type.

[2019-03-19 11:22] sanxiyn commented on #52659
thumbv7a-pc-windows-msvc target is in tree. Open more specific issues for problems. Thanks!

[2019-03-19 11:22] #52659 closed

[2019-03-19 11:25] sanxiyn commented on #54510
Update: LLVM PR36796 is fixed.

[2019-03-19 11:54] sanxiyn commented on #58414
CP15 barrier emulation should be enabled in the kernel if you are using CP15 barrier target. Closing.

[2019-03-19 11:54] #58414 closed

[2019-03-19 12:41] glebpom commented on #52424
I think it's no longer reproducible.

[2019-03-19 13:35] hydroper opened #59292 "rustc can't write in internal Android filesystem"
On Termux's file system, `rustc` hello-world compiles, but I need to edit files from QuickEdit/Quoda editors, but they can't access hidden app data (`/data`), so how would I edit my Rust in Termux fs? On the other hand, there's the UserLAnd app (that emulates Ubuntu/Debian/Arch Linux), but I'm not sure if it works too and is not elegant.

Doing a hello-world in my internal file system fails:

[cod

[2019-03-19 13:45] mati865 commented on #59292
What filesystem do you have on SD Card? Is it FAT32?

[2019-03-19 13:57] Lonami commented on #59292
This really doesn't sound like an issue with Rust itself. Consider editing the files from within Termux with any console editor (vim, nano, you name it), or triple check the file permissions/owner.

[2019-03-19 13:59] mati865 commented on #54510
It's not merged to Rust's LLVM fork.

[2019-03-19 14:11] hydroper commented on #59292
@Lonami I need to type in a proper code editor as I'm using a touch-only device.

Did you mean `chmod`?

[2019-03-19 14:35] estebank commented on #23416
@centril I remember. I made https://github.com/rust-lang/rust/pull/59150 with a different approach, more hacky but one that would have given the right error above.

[2019-03-19 14:37] Centril commented on #23416
@estebank Oh haha; I even reviewed that one... 😅

[2019-03-19 14:47] EdorianDark commented on #44095
Clamp is now in master again!

[2019-03-19 15:07] gnzlbg opened #59294 "Incorrectly documented core::arch modules in the offical and nursery docs"
Compare the documentation of, e.g., `core::arch::arm`, from the

* official docs: https://doc.rust-lang.org/nightly/core/arch/arm/index.html
* nursery: https://rust-lang-nursery.github.io/stdsimd/arm/core_arch/arm/index.html

The official documentation should contain the items available under all arm features, yet there are some items that the nursery documentation contains, that are not available

[2019-03-19 15:34] NewbiZ commented on #44052
Any update on the status of Rust on AVR?

[2019-03-19 15:38] CryZe commented on #59248
wasm32-unknown-unknown isn't actually targeting the "web". It targets an unknown platform that happens to use WebAssembly. Therefore it is impossible for the standard library to access any web apis such as the browser's console. Eventually there might be a "wasm32-unknown-bindgen" target though that could implement the standard library in a more meaningful way.

[2019-03-19 15:51] hydroper commented on #59292
It's a Android protection issue...

[2019-03-19 15:52] #59292 closed

[2019-03-19 17:11] #49677 closed

[2019-03-19 17:12] #48222 closed

[2019-03-19 17:30] #52424 closed

[2019-03-19 17:33] estebank commented on #54954
[code]

[2019-03-19 17:58] #57845 closed

[2019-03-19 17:58] #58796 closed

[2019-03-19 17:59] #51476 closed

[2019-03-19 18:20] sanxiyn commented on #28307
Debian Rust packaging is in good shape. Closing.

[2019-03-19 18:20] #28307 closed

[2019-03-19 18:23] richardwhiuk commented on #59272
Alternatively, should `rust-1.32.0-${RUST_CHOST}.tar.xz` contain debug info? That sounds like a nice thing to have...

[2019-03-19 18:27] cramertj commented on #59087
https://github.com/rust-lang/rust/issues/57478 contains a similar issue.

[2019-03-19 19:29] estebank commented on #48290
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7a5b6ab92f52a99464e6501852432b38):

[code]

[2019-03-19 19:57] petrochenkov commented on #59243
Fixed in https://github.com/rust-lang/rust/pull/59296

[2019-03-19 20:36] cuviper commented on #59272
AFAIK, all `rust-std` packages are supposed to have debug info. What is your `${RUST_CHOST}` where this is missing?

[2019-03-19 21:35] hoodie commented on #58548
it's a bit tricky to tell, because with the current nightly it no longer compiles.
[code]

was there a way to override the version of dependencies of dependencies with cargo?

[2019-03-19 21:41] steveklabnik commented on #59163
I think this is also bad wording; I would just remove this whole sentence.

Since these can fail, you can use them in more situations. That is, you can imagine that every body of From calls TryFrom, and panics on error. Does that make sense?

That said, you shouldn't actually *do* that, as they're for infallible conversions, but since `TryFrom` can work for fallible and infallible, it's more flexi

[2019-03-19 22:08] cuviper commented on #59187
This looks supported by the ABI: Section 3.2.3, Classification 5. (c) If the size of the aggregate exceeds two eightbytes and the first eightbyte isn’t SSE or any other eightbyte isn’t SSEUP, the whole argument is passed in memory.

Rust implements this condition here:
https://github.com/rust-lang/rust/blob/7a4df3b53da369110984a2b57419c05a53e33b38/src/librustc_target/abi/call/x86_64.rs#L94-L97

Yo

[2019-03-19 22:11] Xaeroxe commented on #44095
I'm pleased, though I'm still trying to figure out what changed that made this acceptable now, whereas it wasn't in #44097

[2019-03-19 22:30] cuviper commented on #59187
AFAICS none of the other targets check `Variants` at all, so I'm labeling this for x86_64 only.

[2019-03-19 22:32] estebank opened #59299 "Better diagnostics for multiple borrowed fields with non-unified lifetimes"
[The following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=881a7cde8e12b2b441de99c478aa9a99)

[code]

Produces the following output:

[code]

It seems like the borrow checker could handle this case better. Particularly, the fact that `Foo` has a lifetime makes the errors more puzzling than they need to be.

[2019-03-19 22:35] brson commented on #30164
I just got annoyed for 20 minutes or so that `Duration` ignores fill/align, 0-pad, and width.

[2019-03-19 22:56] matiu2 opened #59301 "add lower_bound and upper_bound to slice to complement binary search"
In the case where we do a binary search on an iterator and have a lot of keys the same, I'd like to find the first key and the last key, rather than a random key (what `binary_search` currently returns).

In c++ they have [upper_bound](http://www.cplusplus.com/reference/algorithm/upper_bound/) and [lower_bound](http://www.cplusplus.com/reference/algorithm/lower_bound/), that will return the first

[2019-03-19 23:02] tmm1 commented on #35968
Thanks for pointing this out @oleksandr-yefremov! I dug in a bit further and was able to replicate the kotlin/native approach [in golang](https://github.com/golang/go/issues/22395#issuecomment-472638175). I believe you folks should be able to do the same, which would allow for using rust in bitcode-enabled iOS/tvOS/watchOS apps without necessarily emitting bitcode.

[2019-03-19 23:10] mati865 opened #59302 "Tracking issue for musl host toolchain"
TODO:
- [x] Installable host toolchain
  - [ ] Rustup support
- [ ] Tests passing as the host
- [ ] Convenient way to link dynamically (e.g. `$arch-unknown-linux-dynmusl` triple)

For people looking how to use as it dynamic target:
[code]

[2019-03-19 23:14] mati865 commented on #57439
There is basic musl host toolchain available so this issue is fixed.

I'll track remaining things in https://github.com/rust-lang/rust/issues/59302.

[2019-03-19 23:40] daniel5151 commented on #46043
Should this warning fire when attempting to #[derive] on a parameterized struct where only use of the parameters are with PhantomData members?

[code]

[2019-03-20 00:27] mikhailOK opened #59305 "Weird cyclic dependency case"
Cyclic dependencies through dev-dependencies can lead to a confusing error message

Here is a minimal repro: https://github.com/mikhailOK/bad-cargo-cyclic-dependency

Two crates, crate1 and crate2
crate2 depends on crate1, but crate1 has crate2 in [dev-dependencies]

crate1/src/lib.rs:
[code]

crate2/src/lib.rs:
[code]

cargo test -p crate1 fails with a compilation error:
[code]

Comipler version:

[2019-03-20 00:42] #59305 closed

[2019-03-20 00:50] clarfon commented on #55002
Note that this isn't a tracking issue for the function itself; it's already stable and any bugs/qualms are reported separately. This is just for the renaming of it.

[2019-03-20 01:11] jsgf commented on #58840
This is currently blocking us from updating to 1.33.

[2019-03-20 01:13] gnzlbg commented on #28796
This issue is the only hard blocker preventing the libtest crate from working on stable Rust.

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=55367208c20653fbeb26f755c9d83c7a):

[code]

errors with:

[code]

[2019-03-20 01:16] jethrogb commented on #58375
@jonas-schievink can you update the issue labels as appropriate?

[2019-03-20 01:20] sfackler commented on #28796
That is not a hard blocker. You can easily build a one-off trait to cover the boxed once closure use case.

[2019-03-20 01:29] gnzlbg commented on #28796
Do you have an example or is that documented somewhere?

This is the closest thing I know ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bf6b0b2402ce38c42cb6b90f3dacfb69)):

[code]

But it doesn't work.

[2019-03-20 01:40] fanzeyi commented on #58840
Judging from our code and the code above, it might be related to `Arc`.

[2019-03-20 01:40] sfackler commented on #28796
Does this API specifically require taking exactly the type `Box<dyn FnOnce()>`?

[2019-03-20 02:00] earthengine commented on #28796
Guys, `Box<dyn FnOnce()`  has been resolved by `unsized_locals` so it is not blocking any more. It is just that we have to stablize `unsized_locals`.

[2019-03-20 02:51] kennytm commented on #44095
We've now got a warning period due to #48552, instead of instantly breaking inference even before stabilizing.

[2019-03-20 02:53] fanzeyi opened #59306 "`allow(missing_docs)` does not work for macro definitions"
It appears `deny(missing_docs)` will take macros into account since 1.33.0. So I tried to add `#[allow(missing_docs)]` for some of the macros I don't want to write docs, and it doesn't seem to be working. Minimal reproducible example:

[code]

It will fail with:

[code]

Rust playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cf5ab453ab982bea1b435676cf46f119

Test

[2019-03-20 03:45] Xaeroxe commented on #44095
That's great news, thank you!

[2019-03-20 04:12] #57439 closed

[2019-03-20 05:52] edvorg commented on #44052
Also interested to know! For now I swtiched to hacking on STM32 blue pill, but I'd definitely want to get back to arduino once support for avr in rust is ready.

[2019-03-20 06:18] abbychau opened #59307 "there should be warning or error when mutating const"
https://gist.github.com/08f01df0252e9fa272ad5dd0e4bb70e7

please refer to `S.x += 1;` to the above code.

[2019-03-20 07:08] petrochenkov commented on #59307
Similar issues - https://github.com/rust-lang/rust-clippy/issues/829, https://github.com/rust-lang/rust/issues/55721, https://github.com/rust-lang/rust/issues/40543

[2019-03-20 07:26] najamelan commented on #59248
@CryZe Thanks, I didn't realize that. How does such an unknown platform guarantee to have an stderr? Docs for eprintln (used by dbg) say:

`Panics if writing to io::stderr fails.`

dbg does not panic on wasm, so something must implement std::io::stderr.

Don't know if I should close this? Maybe document on which platforms this works?

[2019-03-20 07:59] CryZe commented on #59248
The wasm32-unknown-unknown target shouldn't really actually provide std, as many things simply are stubbed out that a normal platform with std would have. In this case stdout and stderr simply act as if they printed out something, but never actually do anything. It was chosen that the wasm32-unknown-unknown target implements std regardless of it not really properly supporting std, as many crates d

[2019-03-20 08:11] pshao82 commented on #35083
Actually I think it means literally what "expect" means: regard sth. as likely to happen. Notice that it does not necessarily mean the subject "hopes", or "wishes" sth to happen subjectively.

As in this code piece, it means the author of the code is expecting something to go wrong and to cause a panic, therefore s/he intentionally leaves a message explaining what the expected error is.

[2019-03-20 08:22] RalfJung commented on #46043
The warning is about the struct being packed, not about it having parameters.

Why is your struct packed? For a homogeneous struct of `u32`, `repr(C)` already has no padding.

[2019-03-20 08:26] #57345 closed

[2019-03-20 08:26] #59254 closed

[2019-03-20 08:51] gnzlbg commented on #28796
@sfackler I haven't spent too much time trying to use `Box<dyn FnMut()>` but that was the first thing I attempted and it does requires significant refactorings - it requires changing many APIs that rely on being able to move the environment into the closure to take references to the environment, which must be kept alive somehow else. I didn't see them through because I thought these refactorings w

[2019-03-20 09:03] gnzlbg commented on #28796
@sfackler so I performed a lot of refactorings since I tried that, and I just tried it again, and it all worked with minimal changes - sorry for the noise =/

[2019-03-20 09:25] rukai opened #59308 "Linking with `cc` failed"
Stable rust 1.33

[code]

Sometimes my project gets into a state where running `cargo run --release` will always fail with this error.
It can be fixed by changing a line of code before recompiling or deleting the target folder.
Its been happening roughly once a day for roughly the last 4 days.
I cant really minimize the problem further because the problem is intermittent.

The project I am compili

[2019-03-20 10:03] sanxiyn commented on #52666
Targets landed.

[2019-03-20 10:03] #52666 closed

[2019-03-20 10:09] jonas-schievink commented on #52478
Closing in favor of https://github.com/rust-lang/rust/issues/58375, which has a small reproduction and is nominated for discussion

[2019-03-20 10:09] #52478 closed

[2019-03-20 10:10] sanxiyn commented on #43503
Fix for this was attempted in 2018-09. Please re-test with the latest Rust to check whether the issue is still present.

[2019-03-20 10:11] jonas-schievink commented on #57131
Closing as a duplicate of https://github.com/rust-lang/rust/issues/58375, since that one is already nominated for discussion

[2019-03-20 10:11] #57131 closed

[2019-03-20 10:13] jonas-schievink commented on #59307
Seems like a duplicate of https://github.com/rust-lang/rust/issues/55721

[2019-03-20 10:16] varkor opened #59310 "Prefixing an associated type with `Self` is not suggested in a trait"
[code]
[produces](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=594a50c4e08bb1066381d922889304e7):
[code]
It should have a ``` help: try: `Self::Assoc` ``` note, like exists for when `Self::` is omitted in function definitions in impls.

[2019-03-20 10:54] cbourjau opened #59311 "ICE with HRTB: Broken MIR in DefId [...] could not prove Binder"
`rustc` ICEes when trying to compile the following code. As far as I can tell, the issue is due to the HRTB. All other issues I found mentioning `broken MIR in DefId` where either using unstable features and/or related to `impl Trait` which seems to be unrelated to this issue.

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c99d0e3786fb20c41db4c46ac2805b9

[2019-03-20 11:53] pnkfelix commented on #11084
I think I see a way to rewrite them using `scan`. I'll just post a PR with it if I'm right; if I'm wrong, I'll post a PR removing the FIXME comments.

 * A reason that it can be tricky to use `scan` is that one might think that the accumulated value being built should be owned by the `state` parameter that is threaded through the scan; but that would be a mistake, because there is no way to recove

[2019-03-20 11:53] mati865 commented on #55105
`-C target-feature=-d16` solves the issue.

[2019-03-20 12:47] stjepang opened #59313 "`async move` breaks doc tests"
Steps to reproduce:

1. Create a library project with the following contents in `lib.rs`:

[code]

2. Run tests:

[code]

3. Now delete the `move` inside `async move {}`:

[code]

4. Run tests again:

[code]

[2019-03-20 12:47] earthengine commented on #28796
@gnzlbg I think @sfackler means you can change the API to use `Box<dyn MyFnBox>` before `Box<dyn FnOnce>` can be used in stable.

[2019-03-20 12:51] crlf0710 commented on #28796
Really wish #55431 can be revived and pushed forward.

[2019-03-20 12:52] #59307 closed

[2019-03-20 13:20] pnkfelix commented on #11084
(or perhaps `try_fold` would be more idiomatic here than `scan`)

[2019-03-20 14:06] ExpHP commented on #59301
And here is where it's unfortunate that `binary_search` returns `Result<usize, usize>` rather than some kind of expression object `BinarySearch<'a, T>` that could provide `lower_bound()` and `upper_bound()` methods.

[2019-03-20 14:06] ExpHP commented on #59301
A note: I think `upper_bound` should return the index *after* the last match.

[2019-03-20 14:39] DevQps commented on #59229
The implement PR is here: https://github.com/rust-lang/rust/pull/59314

I could create one for BufRead as well however. Should I call it from_bufread?

[2019-03-20 14:56] pnkfelix commented on #59193
NLL triage: prioritizing as P-medium.

[2019-03-20 14:57] pnkfelix commented on #59192
NLL triage: prioritizing as P-medium.

[2019-03-20 15:05] vext01 commented on #27804
Yes please! Lots of worklist algorithms use a set, and repeatedly pop an arbitrary element.

[2019-03-20 15:09] pnkfelix commented on #54779
I forgot to actual test how migration-mode (enabled for the 2018 edition) compares to `#![feature(nll)]`.

<details>

Current (nightly) 2018 edition output ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=69a1ebb510ab314d4c16d4e095429f79)):

[code]

Current (nightly) output with `#![feature(nll)]` ([play](https://play.rust-lang.org/?version=nightly&mode=debug&editio

[2019-03-20 15:10] pnkfelix commented on #54779
As for this week's triage, tagging this as P-medium priority.

[2019-03-20 15:15] pnkfelix commented on #54985
NLL triage. Tagging as P-medium priority.

[2019-03-20 15:17] Xaeroxe commented on #44095
@kennytm I just want to thank you for the legwork you did on making #48552 happen, and @EdorianDark thanks for your interest in this and getting it implemented. It's wonderful to see this finally merged.

[2019-03-20 15:19] pnkfelix commented on #56508
triage: Nominating for discussion at tonight's NLL meeting. (I want help figuring out what is the scope of programs that can run into this, with a special focus on ones using async/await, before attempting to assign a formal priority.)

[2019-03-20 15:25] pnkfelix commented on #57431
NLL triage. Assigning P-high priority, because actively misleading the user can impede the learning process about the language as a whole

[2019-03-20 15:26] pnkfelix commented on #57431
@spastorino would you be willing to provide mentorship for @saleemjaffer, outlining the approach you were thinking of for resolving it?

[2019-03-20 15:36] pnkfelix commented on #57528
triage: I suspect this is a duplicate of #57526 . Double-checking with @spastorino

[2019-03-20 15:43] pnkfelix commented on #58178
un-nominating based on assumption that @csmoe is going to continue investigating.

[2019-03-20 16:17] lwshang opened #59317 "target-cpu is an invalid print request"
In [rustc book](https://doc.rust-lang.org/rustc/codegen-options/index.html#target-cpu), it suggest that `rustc --print target-cpu` will provide the valid options of `target-cpu`.

When I tried it in both stable and nightly rustc, the output are the same:

[code]

We may have wrong document in rustc book. Or the command used to work but now it is not supported because of some recent change in `rust

[2019-03-20 16:26] jonas-schievink commented on #59317
It's `rustc --print target-cpus`, note the trailing `s`

[2019-03-20 16:40] mati865 commented on #59110
@Zoxc I came up with simple workaround:
[code]
I've tried to make it use stage1 but I couldn't make bootstrap successful. In case you want to see where stage0 is coming from here is part of the log with some debug info:
[code]
Full log: https://gist.github.com/mati865/579d833afab7e0c77adbdb584f5ce869
Line numbers match with: https://github.com/rust-lang/rust/blob/0c8700b9d50a1e3d31f7b6c0956df55527

[2019-03-20 16:42] Imxset21 commented on #23856
I think this issue has been resolved as of PR #55687, correct? The linked playgrounds no longer fail to compile, at least on a cursory inspection. Could we close this issue out?

[2019-03-20 17:01] daniel5151 commented on #46043
Well, I ask the question because the following code compiles just fine:
[code]
The only difference between the two structs being the presence of PhantomData.

The specific warning emitted for the PhantomData struct on 1.33.0 is
`warning: #[derive] can't be used on a #[repr(packed)] struct with type parameters (error E0133)`, and links back to this issue.

And yes, I'm aware that marking this parti

[2019-03-20 17:20] #59317 closed

[2019-03-20 17:27] mati865 commented on #59110
During tests I'm getting:
[code]
Maybe this workaround isn't enough.

[2019-03-20 17:51] Zoxc commented on #59110
@mati865 I'd like to know what causes `Assemble` to be used. Can you run it with verbose output? (`x.py -vv`)

[2019-03-20 17:52] antoyo opened #59319 "Double-drop of moved object in closure"
Hi.
The following code causes a double-drop:
[code]
[Playground here.](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=99c9d6ba2622598365dc6fa9f0da3a23)

I'm not sure what is going on.
Is this normal behavior because I converted a `FnOnce` to a `Fn`?
Thanks.

[2019-03-20 17:54] #47989 closed

[2019-03-20 18:03] mati865 commented on #59110
@Zoxc every time `compiler` method is called it uses Assembly:
https://github.com/rust-lang/rust/blob/0f88167f89fffe321590c5148f21b7d51d44388d/src/bootstrap/builder.rs#L570-L574
I'm in the middle of work on compiletest so I cannot run it right now. Will add new comment later.

[2019-03-20 18:12] Zoxc commented on #59110
@mati865 The question is, what is trying to obtain a stage 1 musl compiler?

[2019-03-20 18:22] mati865 commented on #59110
https://gist.github.com/mati865/39b6162632dbcde4564024726bd155b7
Interesting part:
[code]

[2019-03-20 18:22] sfackler commented on #59319
This is undefined behavior.

[2019-03-20 19:08] mati865 commented on #59110
@Zoxc it goes like that:
https://github.com/rust-lang/rust/blob/0c8700b9d50a1e3d31f7b6c0956df555279ac441/src/bootstrap/compile.rs#L237
:arrow_down:
https://github.com/rust-lang/rust/blob/0c8700b9d50a1e3d31f7b6c0956df555279ac441/src/bootstrap/builder.rs#L730
:arrow_down:
https://github.com/rust-lang/rust/blob/0c8700b9d50a1e3d31f7b6c0956df555279ac441/src/bootstrap/compile.rs#L931

[2019-03-20 19:09] jonas-schievink commented on #58955
This seems to be resolved, so I'll close this. Feel free to reopen if that's wrong.

[2019-03-20 19:09] #58955 closed

[2019-03-20 19:28] wangbj commented on #59302
It seems `x86_64-unknown-linux-musl` target doesn't honor `--enable-default-pie`, a different behavior compare to `x86_64-unknown-linux-gnu`. Is this a known issue?

[2019-03-20 19:30] pnkfelix commented on #57528
closing as duplicate of #57526

[2019-03-20 19:30] #57528 closed

[2019-03-20 19:43] mati865 commented on #59302
@wangbj I don't think Rust supports `--enable-default-pie` for any target. Could you provide more details?

[2019-03-20 19:52] Zoxc commented on #59110
The `builder.cargo(target_compiler` part doesn't make sense, as we can't actually run the `target_compiler`, so trying to run cargo with it won't work.

@alexcrichton Do you know what is going on here?

[2019-03-20 19:55] wangbj commented on #59302
hmm, the problem seems caused by `musl-gcc` wrapper instead of `rustc`:

$ musl-gcc -v 2>&1 | grep --color=auto pie
Reading specs from /usr/share/dpkg/no-**pie**-compile.specs
Reading specs from /usr/share/dpkg/no-**pie**-link.specs
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 7.3.0-27ubuntu1~18.04' --with-bugurl=file:///usr/share/doc/gcc-7/README.Bugs --enable-languages=c,ada,c+

[2019-03-20 20:07] fanzeyi opened #59324 "ICE: "could not fully normalize <trait>" in normalize_erasing_regions.rs"
Code in question:

[code]

Backtrace:

[code]

Rust Playground (stable): https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3e221e437eac9599c6914a1b203c7ce4
Godbolt (1.32.0): https://godbolt.org/z/ycFBK7  <- regression here
Godbolt (1.31.0): [https://godbolt.org/z/pMryL_](https://godbolt.org/z/pMryL_)

This might be related to #56870.

[2019-03-20 20:14] kornelski commented on #44095
https://rust.godbolt.org/z/JmLWJi

[code]
Compiles to:
[code]

which isn't too bad (`vmaxss` and `vminss` are used), but:

[code]

uses one instruction less:

[code]

Is that inherent to the clamp implementation, or just a quirk of LLVM optimization?

[2019-03-20 20:26] pmccarter commented on #58982
Hey @estebank so my understanding is that the previous return site should be highlighted only for impl Trait valued functions. Somehow this needs to be detected in some generic coercion functionality for the span to be emitted with that error. Any thoughts on that? Is this only applicable to stable branch for some reason?

[2019-03-20 20:38] NieDzejkob opened #59325 "Suggest & when a lifetime precedes a type."
If one types
[code]
the compiler could suggest adding a `&` before the lifetime. This can be more useful in a generic parameter, where a high concentration of special characters makes it easy to not notice the mistake:
[code]

Currently, the error message is just `expected one of \`,\` or \`>\`, found \`SomeStruct\``.

[2019-03-20 20:41] scottmcm commented on #44095
@kornelski `clamp`ing a `NAN` is supposed to preserve that `NAN`, which that `maxmined` doesn't, because `max`/`min` preserve the _non_-`NAN`.

It'd be great to find an implementation that both meets the NAN expectations and is shorter.  And it would be good for the doctests to showcase NAN handling.  Looks like the original PR had some:

https://github.com/Xaeroxe/rust/blob/b762283e57ff71f6763eff

[2019-03-20 20:57] fanzeyi opened #59326 "Type mismatching cased by duplicate associated type resolution"
Apologize that I could not give any code example right now. I'm working on creating one but it seems tricky.

The compiler is complaining about `[E0308]: mismatched types` where it said it's expecting for a trait `SomeTrait<Apple=SomeApple, Apple=SomeApple, Banana=SomeBanana, Banana=SomeBanana>` but got `SomeTrait<Apple=SomeAPple, Banana=SomeBanana>`. Only some of the associated types in that trai

[2019-03-20 21:08] Xaeroxe commented on #44095
@scottmcm https://github.com/rust-lang/rust/pull/59327 done

[2019-03-20 21:36] khuey commented on #48762
What blocks landing this?

[2019-03-20 22:28] pnkfelix commented on #11084
Okay  I think I see what happened here, at least procedurally. (I do not yet have an explanation for the performance difference I am observing, but I'll talk about that in a bit.)

First, here's what I did:
 * I took the dotdash-benchmark, and I made two versions of the bench_from_iter_with_scan: the one that @dotdash had is bench_from_iter_with_scan_passing_state, and I made a variant that uses a

[2019-03-20 22:51] pnkfelix commented on #11084
making this a P-high issue to at least diagnose what has happened to our performance in the cases noted in previous comment.

[2019-03-20 22:51] RalfJung commented on #46043
Oh, sorry for this. I was not aware of this limitation of the `derive` macro.

[2019-03-20 22:58] dtolnay commented on #46991
Still seeing the same unhelpful path in 2018 edition as of <kbd>rustc 1.35.0-nightly (3eb4890df 2019-03-19)</kbd>.

[code]

[code]

[2019-03-20 23:05] estebank commented on #59326
Can you please post the full output from your compiler related to this error? Also, if you could use the flag `-Ztreat-err-as-bug` and the `RUST_BACKTRACE=full` env variable to get a backtrace for this error it would also be very helpful. As it stands now we can only guess at what's happening.

[2019-03-20 23:07] OddCoincidence commented on #50264
Given we have `cloned` for `Clone` and soon `copied` for `Copy`, what about `derefed`?

[2019-03-20 23:55] fanzeyi commented on #59326
@esclear

Here you go:

[code]

[2019-03-21 00:06] varkor commented on #44580
@eddyb: this ICE is coming from `resolve_ident_in_lexical_scope`, so I imagine it's probably related to https://github.com/rust-lang/rust/issues/58307.

[2019-03-21 00:06] varkor commented on #58307
https://github.com/rust-lang/rust/issues/44580#issuecomment-472825354 looks like it could be related to this issue.

[2019-03-21 00:57] scottjmaddox commented on #53491
I like the newly proposed names. I'm a little worried about `read` being misused, but that seems much less likely than `into_initialized` being misused, primarily because of the association with `ptr::read`. Overall, I think the new naming is totally acceptable for stabilization.

[2019-03-21 01:36] alexreg opened #59332 "Get `x.py test` output in human-readable format"
When `x.py test` fails, the stdout and stderr are in JSON format, most annoyingly. How can we get it in the usual human-readable format? (This should really be default, by the way.)

[2019-03-21 02:56] sanxiyn commented on #58154
Fixed by #58626.

[2019-03-21 03:03] #57548 closed

[2019-03-21 03:22] sanxiyn commented on #56975
Presumably, the new website is https://edp.fortanix.com/

[2019-03-21 03:23] jethrogb commented on #56975
Indeed

[2019-03-21 03:33] sanxiyn commented on #56246
If you search for "netbsd" in `src/librustc_llvm/build.rs`, there is a code to deal with unknown GCC warning options. It should be easy to add cases for FreeBSD.

[2019-03-21 03:39] therustmonk opened #59333 "Wrong unused warning for type alias"
This code:
[code]

takes the warning:
[code]

But removing this alias introduces a compilation error :thinking:

The link to the nightly playground example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=22a044608f4d67680bcf1cc7fd23a381

[2019-03-21 04:31] pkubaj commented on #56246
Sorry, I forgot about this bug. This issue is already fixed in Rust.

[2019-03-21 04:31] #56246 closed

[2019-03-21 05:19] scottmcm commented on #59301
This looks like a match for https://github.com/rust-lang/rfcs/issues/2184, so I'm going to close in favour of that.

[2019-03-21 05:19] #59301 closed

[2019-03-21 05:23] scottmcm commented on #59281
For tiny loop bodies like this it's not unusual for internal iteration to be faster -- `chain` is the same.

[2019-03-21 05:31] hcpl commented on #57854
I tried to minimize from my codebase while applying @zhaofengli's ideas, and came to this:

[code]

[code]

Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a1e1abd1001d712519ac5f18f999bb3a.

Reproducible on latest stable, beta and nightly with either of the three lines in the body of `foo`.

All elements in this code are required to trigger the requirement eval

[2019-03-21 05:41] #58892 closed

[2019-03-21 05:51] hcpl commented on #57854
Minimized even more to a standalone version, reproducible with just `rustc`:

[code]

which now looks very similar to https://github.com/rust-lang/rust/issues/39959#issuecomment-301342230.

Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f0458c4cc719dcc848c4f3cc6242afba.

[2019-03-21 05:58] JohnTitor commented on #52790
@estebank Okay! But I don't know how change `asyncness`. Can I change `parse_impl_method`, or need not do?

[2019-03-21 07:40] petrochenkov commented on #44580
Minimized:
[code]
Resolve ICEs *before* producing the "expected type, found value" error.

[2019-03-21 08:16] Lonami commented on #59333
There is no compilation error if you remove the alias (and of course rename `impl ... for &mut Runner`), at least for me.

[2019-03-21 08:18] mati865 commented on #59110
First introduced by https://github.com/rust-lang/rust/commit/cec68167fd3787500194f261e2fcbb14381cd317 as part of https://github.com/rust-lang/rust/pull/43630

[2019-03-21 08:20] Patryk27 commented on #59333
@Lonami: If you have to remove the alias _and_ rename the impl, it's wrong to say that the alias was not used in the first place - isn't it? It seems that Rust ignores fact that aliases can have impls and shows the `type alias is never used` warning anyway.

[2019-03-21 08:23] Lonami commented on #59333
@Patryk27 I'm not talking about the warning, which is what the issue is for (and it is a valid issue), I'm talking about:

[2019-03-21 08:29] Patryk27 commented on #59333
If you remove the alias, there _is_ a compilation error: `cannot find type `RuntimeImpl` in this scope`. What @DenisKolodin meant, as I think, is that this error message contradicts the `type alias is never used` warning.

[2019-03-21 09:00] mati865 commented on #57260
Fixed by https://github.com/rust-lang/rust/pull/57953, Clippy is available now: https://rust-lang.github.io/rustup-components-history/aarch64-unknown-linux-gnu.html

[2019-03-21 09:03] MackieLoeffel commented on #58277
I am running into the same problem and my current workaround is to remove `clzsi2.o` from the static library before linking it into a shared library:
[code]
@nagisa I don't understand what you mean with two different compilers. What other compiler than rustc do you mean? The problem seems to me that rustc puts two versions of `__clzsi2` into libfoo.a.

[2019-03-21 09:10] mati865 commented on #57771
RLS is available, this issue can be closed.

[2019-03-21 09:20] Centril commented on #59332
Maybe it would be sufficient to pretty print the JSON for now?

[2019-03-21 09:21] Nemo157 opened #59337 "async closures have concrete argument lifetimes"
[code]

([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8ed7f0ec4b60119dceb5d7c860296e08)) currently errors with

[code]

You can see that the `async fn` correctly satisfies the HRLB required by `foo`, but the async closure has a concrete lifetime for the argument instead of being for any lifetime.

[2019-03-21 09:22] Nemo157 commented on #59337
@rustbot modify labels: A-async-await and T-compiler.

[2019-03-21 09:33] dotdash commented on #11084
Compiled with `rustc -O --test`:

[code]

Compiled with `rustc -O --test -Ccodegen-units=1`:

[code]

[2019-03-21 09:33] Nemo157 commented on #59337
Interestingly, using trait aliases instead of the extra trait above gives a different error message, not sure exactly what it believes is wrong here (could easily be a trait alias issue rather than an async closure issue) ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8ab6985b03a7ba5f5435ac29aa8b8a39))

[code]

[code]

[2019-03-21 09:42] Nemo157 commented on #52662
How does this interact with HRLB? I just discovered that trait aliases allow you to write the constraints required for working with async functions/closures, but could this be another way to do so?

You can currently write:

[code]

and presumably once this is implemented it could be:

[code]

but can you go all the way to:

[code]

[2019-03-21 09:52] Centril commented on #52662
@Nemo157 When you write:
[code]
it should desugar into:
[code]

However, rustc is generally unhappy with `for<'a> <Foo as Bar<'a>>::Assoc: Bound` today as I found out when writing tests for https://github.com/rust-lang/rust/pull/57428. Chalk will hopefully makes things better in the future and throw out some of the bugs.

[2019-03-21 10:03] DenisKolodin commented on #59333
Yeah, I meant the alias is actually used and cannot be removed.

[2019-03-21 10:09] pnkfelix commented on #11084
@dotdash here is the file I'm compiling for my benchmark: https://gist.github.com/pnkfelix/7cb66d32c3cd9e1f2ea1a61ef15a0a3a

[2019-03-21 10:16] pnkfelix commented on #11084
Okay I had forgotten about the change to the defaults for `codegen-units`. (Maybe `-C opt-level=3` should change the default for `codegen-units` back to 1? Just a thought...)

[2019-03-21 10:19] pnkfelix commented on #11084
Results for my linux machine, with `--test -C opt-level=3 -C codegen-units=`1:

[code]

[code]

[2019-03-21 10:34] JohnTitor commented on #59225
I think this error is occured here:
https://github.com/rust-lang/rust/blob/15a5dfa0b4438d199e8703fd578f59a5049527be/src/librustc_typeck/astconv.rs#L1393-L1396

We can replace this `"Trait"`, but I don't know what to use.(If someone tells me that, I'll improve wording and open a PR.)

[2019-03-21 10:44] hcpl commented on #39959
Minimized test case from https://github.com/rust-lang/rust/issues/39959#issuecomment-301342230 (also changed to `Vec<T>` because it's `Sized` but the error overflows evaluating `_: Sized` requirement here too):

[code]

Reproducible on every stable Rust back to 1.0, beta and nightly.

Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7ffb08380a25020785bf958a3e6006

[2019-03-21 10:59] phansch commented on #59332
I think https://github.com/rust-lang/rust/pull/59128 may be fixing this, in addition to colored output? Specifically https://github.com/rust-lang/rust/pull/59128/commits/7c8482cfb375ec6985dca4fa7736a258cc076725.

cc @oli-obk

[2019-03-21 11:50] pnkfelix commented on #11084
One additional caveat I will add: while I remain concerned about some of the performance differences observed here, I also worry about controlling for factors introduced by the benchmark harness itself.

In particular, I made two variants of `bench_from_iter` (one with the adapter-implementation written inline (`bench_from_iter_using_adapter`), and another that continues to call out to the stdlib

[2019-03-21 11:52] pnkfelix commented on #11084
(one way to control for some of the aforementioned effects would be to rewrite this benchmark such that it does not use `Vec`...)

[2019-03-21 12:13] #58898 closed

[2019-03-21 12:19] eddyb commented on #28796
@gnzlbg Where is this requirement for `libtest` tracked, or where in the source is it needed? I'm not sure but I would suspect you might want your own trait anyway, that is implemented for closures but also allows manual implementations.

Alternatively, you could potentially have a wrapper that exposes only a constructor with an `F: FnOnce(...) -> ...` bound, and internally uses a private trait th

[2019-03-21 12:31] pnkfelix commented on #11084
Okay, so here is a revised version of the code that has added a new target type `Last<T>` for `FromIterator`. It just remembers the final element in the iteration (via `.last()`), so there's no noise from any heap management as the benchmark runs. (Also, since there is no mem-mgmt overhead, I pumped up the input size a little so that the ns/iter would still be pretty large.)

https://gist.github.c

[2019-03-21 12:57] pnkfelix commented on #58375
injected between nightly-2018-01-04 and nightly-2018-01-05

[2019-03-21 12:58] pnkfelix commented on #58375
Here are the PR's from that time frame:

[code]

I think #46916 looks quite relevant.

[2019-03-21 13:01] pnkfelix commented on #58375
(Although I don't think #46916 necessarily injected the bug; it may have just exposed a pre-existing bug.)

[2019-03-21 13:07] spastorino commented on #57431
@pnkfelix @saleemjaffer sure, ping me on Zulip. Until March 30 I'm very busy with Rust Latam though, still ping me and we can see how I can help.

[2019-03-21 13:15] tom7980 commented on #55388
So I've been looking at this in my spare time and tried implementing it with `needs_subst()` on the drop type, but I'm also getting the same issue with being in a generic context and the compiler not being able to resolve an instance of the drop method on the type. I'm looking at how I would make `codegen_fulfill_obligation` return an `Option` currently but need to work on that further.

My real q

[2019-03-21 13:33] saleemjaffer commented on #57431
Sure, I'll be picking this up in a day.

[2019-03-21 13:46] pnkfelix commented on #58375
triage: marking P-high.

[2019-03-21 13:47] Twey commented on #23856
Looks fixed to me.

[2019-03-21 13:48] QuietMisdreavus commented on #58154
Since the feature is unstable, i'm going to reopen this issue to repurpose it as a tracking issue. I want to try adding a JSON output option to it, for ease of automatic checking, and then i'd like to integrate it into bootstrap or our CI if possible.

[2019-03-21 13:51] varkor opened #59340 "Const generic parameters in struct definitions ICE"
Minimised test case (from https://github.com/rust-lang/rust/issues/44580#issuecomment-475135851):
[code]
caused by:
https://github.com/rust-lang/rust/blob/48e354d224ff38ccde3936479a7f514b6492e910/src/librustc_resolve/lib.rs#L3919

[2019-03-21 13:55] pnkfelix commented on #56508
triage: P-medium on assumption that async/await itself won't encounter this particular issue.

[2019-03-21 13:59] pnkfelix commented on #34596
triage: nominating for discussion at next compiler team meeting, to confirm that this does deserve a P-high label, and if so, see if we can find a volunteer.

[2019-03-21 14:14] shepmaster commented on #11084
Here's a quick graph of @pnkfelix's [original data](https://github.com/rust-lang/rust/issues/11084#issuecomment-475053714), only showing the first run.

![image](https://user-images.githubusercontent.com/174509/54758134-fdc79e80-4bc1-11e9-817b-e35189e74fe1.png)

Then *someone* went and changed the testing methods, so this may not be useful anymore...

[2019-03-21 14:18] alexcrichton commented on #59110
Can you elaborate a bit more on what's going on here? There's good deal of context here and I'm not sure how much is relevant

[2019-03-21 14:27] pnkfelix commented on #59048
assigning to @nikomatsakis to bisect.

[2019-03-21 14:30] pnkfelix commented on #58881
assigning to self for initial investigation.

[2019-03-21 14:30] nikomatsakis commented on #59048
Hmm, I am not able to reproduce this with the latest nightly.

[2019-03-21 14:30] pnkfelix commented on #58375
assigning to @aturon for initial investigation.

[2019-03-21 14:30] nikomatsakis commented on #59048
Attempting with beta.

[2019-03-21 14:31] o01eg commented on #58587
Fixed by #58897.

[2019-03-21 14:31] #58587 closed

[2019-03-21 14:33] nikomatsakis commented on #59048
[code]

yeah I was not able to reproduce, on linux, building the commit d2ec7ae :(

[2019-03-21 14:34] nikomatsakis commented on #59048
I'm unassigning myself for the time being, since my main goal was to bisect here. I will perhaps try to reproduce on another platform (e.g., windows).

But if you *can* reproduce, can somebody try using https://github.com/rust-lang-nursery/cargo-bisect-rustc to narrow this down to a specific PR?

[2019-03-21 14:41] treeman1111 commented on #41003
@estebank Sorry for the late reply...we're using 1.32.0 or thereabouts. The new error message looks much nicer!

[2019-03-21 15:05] mati865 commented on #59110
I'll try to summarize it:
I'm patching up musl host tests and encountered this error after recent bootstrap changes in https://github.com/rust-lang/rust/pull/58013. With this commit: https://github.com/mati865/rust/commit/4a53632ccc07e8fd16b65e0c5cf964bccb983b29 running `./src/ci/docker/run.sh dist-x86_64-musl` will fail with `error: unknown debugging option: dual-proc-macros` because bootstrap bu

[2019-03-21 15:09] pnkfelix commented on #58502
Discussed at T-compiler meeting. Closing as wont-fix, but noting for the future that changing the spans of lints can have unexpected consequences over time.

[2019-03-21 15:09] #58502 closed

[2019-03-21 15:11] pnkfelix commented on #56327
discussed at T-compiler meeting.  calling this P-medium. ( @nikomatsakis and I are not currently sure what our intentions are for `dyn` here.)

@pnkfelix is going to assign this to themself to see if there's any simple resolution focused on special casing behavior for `dyn` in macro bodies.

[2019-03-21 15:14] pnkfelix commented on #58375
removing nomination now that this is assigned.

[2019-03-21 15:16] pnkfelix commented on #58881
(leaving nominated for now to keep myself honest in case I somehow get to next week's meeting without looking at this. if I do investigate and it bears fruit I'll remove nomination at that time.)

[2019-03-21 15:43] tspiteri commented on #44095
Why does clamping floats panic if min or max is NaN? I would change the assertion from `assert!(min <= max)` to `assert!(!(min > max))`, so that a NaN minimum or maximum would have no effect, just like in the max and min methods.

[2019-03-21 15:50] Xaeroxe commented on #44095
NAN for `min` or `max` in clamp is likely indicative of a programming error, and we figured it was better to panic sooner rather than possibly feeding unclamped data out to IO. If you don't want an upper or lower bound this function isn't for you.

[2019-03-21 16:16] saleemjaffer commented on #57431
Just to be clear:
[code]

Instead of this error:
[code]

what exactly do we want to show?

[2019-03-21 16:20] a-rodin opened #59342 "Existential types for traits without generic type parameters make rustc panic"
I tried this code:

[code]

I expected to be able to compile this code and to use it like this:

[code]

Instead, `rustc` crashes (see backtrace in the end of the issue).

However, the code compiles fine when I add generic type parameter to `Meow` trait definition:

[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2019-03-21 16:34] cramertj commented on #50547
Yeah, async closures have a bunch of issues and shouldn't be included in the initial round of stabilization. The current behavior can be emulated with a closure + async block, and in the future I'd love to see a version that allowed referencing the closure's upvars from the returned future.

[2019-03-21 16:38] andreytkachenko opened #59344 "ICE on Hyper/Juniper Example"
I am trying to compile hyper/juniper example:
[code]

and got next ICE:
[code]
Cargo.toml
[code]

[2019-03-21 16:41] burrbull opened #59345 "edition 2018 support for mod #[path=] attribute"
If module files have edition 2018 style file structure and try to import one of them by path attribute:
[code]
compiler tries to find submodules in submodname.rs or submodname/mod.rs, but not in
**modname**/submodname.rs where it is really located.

[2019-03-21 17:13] cuviper commented on #57345
I've confirmed that the official builds are fixed as of `rustc 1.35.0-nightly (82e2f3ec2 2019-03-20)`.

[2019-03-21 17:19] daniel5151 commented on #46043
No problem.
To rephrase my initial question though: if #[derive] works with regular packed structs, and PhantomData markers don't change the size / memory layout of structs, shouldn't #[derive] work with PhantomData marked structs?

[2019-03-21 17:20] operutka commented on #51535
I forgot about this for a while and got back to it today again. These are my updates:

I've tested it with a custom target specification for mips64-unknown-linux-gnuabin32 and the compilation itself works, however, I'm unable to link libstd because xargo seems to be stubborn and uses system linker instead of my cross-linker. I guess I'll have to wait until the xargo features are ready in cargo.

[2019-03-21 17:28] alexreg commented on #59105
@estebank Do you know who works on incremental compilation in the compiler team? This seems like a pretty high-priority bug, so maybe we should tag them. :-)

[2019-03-21 17:31] alexreg commented on #59332
@phansch Cool. You may well be right, judging by that. Incidentally, I should have said the `--error-format` option is misleading (and not properly documented in the case of `x.py`)... it seems to simply get ignored.

[2019-03-21 17:42] leo-lb commented on #57345
I can confirm too, however, the stable builds are not, could you run a rebuild? Thanks.

[2019-03-21 17:48] cuviper commented on #57345
The official builds are only updated as part of the release process. I'll nominate my PR for beta and stable, but I'm not aware of any plans for a 1.33.z point release.

[2019-03-21 17:54] leo-lb commented on #57345
Well the builds don't work at all, it's not a new release, rather a build system update? Don't change the version? I don't know if that's OK with rustup.

[2019-03-21 18:15] RalfJung commented on #46043
I think (but I might be wrong) the problem is that `derive` runs very early in the compilation pipeline, before any kind of type checking or so. It would have a hard time even figuring out that a generic parameter is only used in a `PhantomData`.

I hope someone more knowledgeable can refine this guess.^^

[2019-03-21 18:52] #23856 closed

[2019-03-21 18:53] ForceBru commented on #53808
So, is there a way to pass these arguments yet? I tried setting `IPHONEOS_DEPLOYMENT_TARGET="12.0"`, but still got the following while building `rustc`:

[code]

When I set `CFLAGS="-miphoneos-version-min=12.0"`, this variable changes:

[code]

But there's still the option `-miphoneos-version-min=7.0`, which comes _after_ the one that's set to `12.0`, so the latter is overridden...

[2019-03-21 19:06] Manishearth opened #59346 "Move to using annotate-snippets-rs for producing snippets"
@zbraniecki created https://github.com/zbraniecki/annotate-snippets-rs which basically does Rust-style formatting of code snippets for errors, to be used within [Fluent](http://github.com/projectfluent/fluent-rs).

I think we should try and move our snippet code out of tree, preferably merging it with annotate-snippets-rs (which is already close to what rustc does), so that it's reusable.

@zbrani

[2019-03-21 19:08] pietroalbini commented on #57345
Our build system fetches its configuration from the source code it's building, so to get @cuviper's patch in we'd have to make an actual point release.

[2019-03-21 19:28] leo-lb commented on #57345
@pietroalbini Okay then, when (approximate) should I expect the next stable release?

[2019-03-21 19:29] cuviper commented on #57345
You can see projected release dates on this page: https://forge.rust-lang.org/

[2019-03-21 19:34] leo-lb commented on #57345
Thank you @cuviper
PowerPC will not have working stable releases from rustup until the 11th of April 2019, unless you make a point release. I'd appreciate if you did make one, if the same thing happened on x86, you'd make one.

Thanks for all the great work.

[2019-03-21 19:35] JohnTitor commented on #59215
@oli-obk I want to solve this, could I open a PR(and ask you to review)?

[2019-03-21 19:54] cuviper commented on #57345
Certainly, but x86 bootstraps everything else -- it **cannot** be left broken. There is also a notion of [tiered support](https://forge.rust-lang.org/platform-support.html), where i686 and x86_64 are tier 1, and other arches are tier 2, "not guaranteed to produce a working build."

Since you're on Fedora, is there a reason you can't just use its rust packages?
(I'm also the package maintainer ther

[2019-03-21 20:01] estebank commented on #59105
I believe @alexcrichton, @nikomatsakis, @Zoxc, @michaelwoerister and @MarkSimulacrum have been involved with incremental compilation at one point or another.

[2019-03-21 20:07] Mark-Simulacrum commented on #59105
Based on the error message, this likely has nothing to do with the compiler -- it's most likely purely a problem inside rustbuild (i.e., rustbuild is broken).

[2019-03-21 20:10] joshtriplett commented on #50264
On March 20, 2019 4:07:49 PM PDT, Joey <notifications@github.com> wrote:

Those are for iterators. I'd be all for an iterator operation to deref elements and calling that derefed. However, for Option, I think we should use "deref" or "as_deref".

[2019-03-21 20:12] petrochenkov commented on #55478
There was not enough interest in addressing this issue in https://github.com/rust-lang/rust/pull/57745, closing.

[2019-03-21 20:12] #55478 closed

[2019-03-21 20:16] QuietMisdreavus commented on #50264
@joshtriplett Option has a `cloned` method as well: https://doc.rust-lang.org/nightly/std/option/enum.Option.html#method.cloned

[2019-03-21 20:27] alexcrichton commented on #59110
Hm ok, thanks for the explanation! I'm not really up to speed on all this nowadays though so I'm not sure I'm gonna be all that much help here :(

[2019-03-21 20:36] ehuss commented on #59105
Yea, this is only related to rustbuild. The issue is that cargo does not track libstd as a dependency, so rustbuild needs to be careful to force rebuilding of crates when libstd changes. It does that currently (via `clear_if_dirty`), but it is missing the directory for proc-macros and build scripts.

[2019-03-21 20:37] alexreg commented on #59105
Ah okay. So it should be quite a straightforward fix for someone who knows how rustbuild works, eh?

[2019-03-21 20:50] leo-lb commented on #57345
@cuviper Fedora packages are not nightly and installing both rustup and Fedora packages is not supported. I often have to switch between stable and nightly for diverse projects with different requirements.

[2019-03-21 20:51] OddCoincidence commented on #50264
Also `Option` will have `copied` (not on iterator) - see https://github.com/rust-lang/rust/pull/59231. Given the existence of those two, it seems most intuitive and discoverable to follow that pattern.

[2019-03-21 20:53] mati865 commented on #57345
@leo-lb it's not officially supported but you can point `rustup` to your system toolchain as explained here: https://github.com/rust-lang/rustup.rs#working-with-distribution-rust-packages

This way you can make `system` toolchain the default on and use `cargo +nightly build`.

[2019-03-21 20:55] nox commented on #50264
I would expect `derefed` to take a `Option<&T>`, while the current version of `deref` takes a `&Option<T>`, which makes it closer to `as_ref`.

[2019-03-21 20:55] leo-lb commented on #57345
@mati865 Oh cool! Thank you, that will come in handy. I had previously been looking for such a thing and did not find it.

[2019-03-21 21:03] OddCoincidence commented on #50264
Oh, I didn't realize that - I assumed it was `Option<&T>` because that makes more sense to me. If it was, the latter case could still be done with `option.as_ref().derefed()`.

[2019-03-21 21:03] JohnTitor commented on #52790
@estebank Uh, could I open a draft PR and ask you to review?

[2019-03-21 21:07] nox commented on #50264
It has already been discussed [earlier](https://github.com/rust-lang/rust/issues/50264#issuecomment-453886859).

[2019-03-21 21:39] HeroicKatora commented on #50264
@nox @OddCoincidence Yes, I had thrown that into the room for discussion. Ultimately, the gut feeling of myself, and apparently others, is that this makes it much less useful.

There's of course the interesting insight that the intermediate `as_ref` collides with an `AsRef` trait during auto-deref, see [in this example](https://github.com/rust-lang/rust/issues/50264#issuecomment-471174038), and a

[2019-03-21 21:53] Mark-Simulacrum commented on #59105
Actually quite difficult, but yes, in theory it's a fairly easy fix.

[2019-03-21 21:56] wangbj opened #59350 "#[start] doesn't work with cdylib"
It is useful to pass `-Wl,-e_<entry>` to the linker, even for shared libraries, it doesn't seem like `#[start]` can change `cdylib` entry address, if this is intended, is there anyway to change entry address for `cdylib`?

[2019-03-21 22:29] leo-lb commented on #57345
Now there's another problem, it's that IntelliJ IDEA with Rust support wont install additional components automatically because the "system" toolchain does not support that.

But it's OK, I can code with nightly and compile with stable or nightly as needed.

[2019-03-21 23:00] adrian17 opened #59352 "Optimization regression in 1.32+"
The following function:
[code]
With 1.31 produced the following:
[code]
Which looks reasonable, as `unwrap()` should never fail.
But in 1.32 and above it produces an unnecessary panic branch:
[code]

Interestingly, when I manually inline `is_digit`: https://github.com/rust-lang/rust/blob/89573b3c8b629507130b1ec8beeaf550fdc0e046/src/libcore/char/methods.rs#L58-L61
[code]
Or just use `unwrap_or`:
[c

[2019-03-21 23:27] KrishnaSannasi opened #59353 "ICE with Self in default generic type argument"
I found this ICE when trying to generalize some of my code.

This works on the latest stable, and on playground

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=312318cf9fff1be2c7cb8cc6d7d16898

[code]

And generates the following ICE

[code]

[2019-03-21 23:42] #58942 closed

[2019-03-22 00:56] leeopop opened #59354 "Derive macro cannot derive manually defined trait implementations."
# Derive macro cannot derive manually defined trait implementations.

## Short Summary

A structure with all of its subfields deriving `Clone`, cannot automatically derive `Clone` when one of its template does not implement `Clone`.
I found that this happens for other traits such as `Copy`, `Hash`, and `Eq`.

## I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018

[2019-03-22 02:52] #25228 closed

[2019-03-22 03:18] smaeul opened #59356 "Failure in run-pass/simd/simd-intrinsic-generic-select on Big-Endian Targets"
This was found while building rustc 1.33.0 on `powerpc64-unknown-linux-musl`. Test `run-pass/simd/simd-intrinsic-generic-select` fails at the third `simd_select_bitmask` test:

[code]

The LLVM IR generated for this test case on `x86_64-unknown-linux-musl` and `powerpc64-unknown-linux-musl` (respectively) is identical:

[code]
[code]

The test appears to expect that the bitmask is interpreted as b

[2019-03-22 03:24] smaeul commented on #59356
From https://github.com/rust-lang-nursery/stdsimd/issues/310#issuecomment-434110569 it looks like that the bitcast is the intended semantics, so that would mean the test is invalid on big-endian targets.

Thoughts, @gnzlbg @alexcrichton ?

[2019-03-22 03:38] ehuss opened #59357 "`unused_variables` lint fires for E0005 error"
E0005 has started issuing warnings for unused variables. It seems to just add noise, since the code is incorrect, the warning is a little misguided.

[code]

displays:

[code]

This started in #59050.  I can't really tell which PR in that rollup is responsible.

This is a pretty minor issue, and perhaps issuing warnings makes more sense in other cases.  Feel free to close this if it doesn't seem l

[2019-03-22 05:44] petrochenkov commented on #59354
Duplicate of https://github.com/rust-lang/rust/issues/26925

[2019-03-22 05:44] #59354 closed

[2019-03-22 06:44] taiki-e commented on #59333
Related (or possibly the same) problem: #47131

[2019-03-22 07:08] oli-obk commented on #59215
Jup! It's all yours!

[2019-03-22 07:44] oli-obk commented on #59016
Basically all the `unwrap_usize` calls like https://github.com/rust-lang/rust/blob/ad8a3eb039ca3dc1ff5a3d5757afc5e5330c1bce/src/librustc_typeck/check/_match.rs#L399 may encounter this ICE.

I believe that the problem is that `structurally_resolved_type` doesn't normalize its types. So while it resolves `Self` to `[(); 0]` in the above example, the `0` is still an unevaluated constant.

We basicall

[2019-03-22 08:07] #56473 closed

[2019-03-22 08:07] #56579 closed

[2019-03-22 08:50] jtakalai commented on #24111
Hi, I got here because I got `error[E0658]: const fn is unstable (see issue #24111)` when compiling ncurses-rs. What should I do? Upgrade rust? I've got
[code]

[2019-03-22 08:56] oli-obk commented on #24111
Yes, in order to be able to use `const fn` on stable, you'll need to update your compiler.

[2019-03-22 10:22] pnkfelix commented on #11084
(well, all I did was add *new* variants; the original benchmarks are still there...)

[2019-03-22 10:24] LukasKalbertodt opened #59359 "Tracking issue for Seek::{stream_len, stream_position} (feature `seek_convenience`)"
This is a tracking issue for `Seek::{stream_len, stream_position}`. Proposed and implemented in https://github.com/rust-lang/rust/pull/58422.

Unresolved questions:

- [ ] Override `stream_len` for `File`? (is metadata syncing a problem? [comment a](https://github.com/rust-lang/rust/pull/58422#issuecomment-472732378), [comment b](https://github.com/rust-lang/rust/pull/58422#issuecomment-472965275)

[2019-03-22 10:41] pnkfelix commented on #11084
Ah here is one last run: a note from @eddyb elsewhere pointed out that using codegen-units=1 disables link-time optimizations.

Lets explicitly control link-time optimizations via `-C lto=...` and see what happens:

## lto=off (same as default with codegen-units=1)

[code]

## lto=fat

[code]

## lto=thin

[code]

 I think has convinced me that there is not much we should do about this case in par

[2019-03-22 10:59] pnkfelix commented on #11084
Well, okay, to be fair, I realized I should do a similar experiment, but this time show the results when you vary `lto` but you have `codegen-units` ≠ 1:

## lto=off codegen-units=16

[code]

## lto=fat codegen-units=16

[code]

## lto=thin codegen-units=16

[code]

The regressions for the `scan`-based iterator when you have codegen-units=16 and lto=thin *is* pretty scary (and for this desktop mac

[2019-03-22 11:35] peterjoel opened #59361 "Edition should be part of the "short" subset of rustc opts"
The default edition is 2015, but the option to change this in the "extended" list, so it is only discoverable with `rustc --help -v`, rather than just `rustc --help`.

Users should be encouraged to use 2018 where possible, but the omission of the edition from the default help list makes it less likely that it will be found for users not using Cargo.

[2019-03-22 12:27] pnkfelix commented on #58633
I think I am also running into this. I'm going to tag this T-compiler to try to increase visibility

[2019-03-22 12:45] lzutao commented on #57356
Is this issue closed by #57268?

[2019-03-22 14:05] oli-obk commented on #59346
cc @rust-lang/wg-diagnostics

[2019-03-22 14:11] cr1901 commented on #59077
Friendly ping... has there been any update on this?

I'd host my own copy of LLVM with the fix for the time being, but I doubt CI would like that...

[2019-03-22 14:19] #55851 closed

[2019-03-22 15:09] Hythaam commented on #59016
I'm not sure if this is the same error, but I'm getting the same message on this code:
[code]
Everything compiles fine when I remove the `Self` from `let mut arr: Self = [(); 0];` line.

Let me know if you'd like more details or the stack trace; If it's unrelated, I can also submit it as a new bug, but it sounds like this has the same root cause.

[2019-03-22 15:17] oli-obk commented on #59016
Your example is unrelated to slice patterns, but a symptom of the same `unwrap_usize` problem.

[2019-03-22 15:34] mwchase opened #59365 "Function with impl trait in argument position does not see all impls of trait on value returned from function with impl trait in return position"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7bcaa61db633a11912b9a6ebd2688ed8))

Output:

[code]

Errors:

[code]

With the second commented line uncommented:

[code]
I tested this across Stable, Beta, and Nightly in the playground, same behavior in all of them.

My intent with this code was to have a set of "markers" that could be associated with a

[2019-03-22 16:25] luojia65 commented on #51243
Same problem. I've installed `Version 1.33.0 (2aa4c46cf 2019-02-28)`.

[2019-03-22 17:25] najamelan opened #59367 "cargo doc --no-deps shows rustdoc warnings in dependencies"
cargo 1.35.0-nightly (0e35bd8af 2019-03-13)

When running `cargo doc --no-deps`, dependencies docs are still being checked even if not linked into the resulting documentation. This makes it impossible to generate documentation for my crate if I have `deny( warnings )` on. I suppose it would also make it impossible for people depending on my crate to generate documentation if I had `deny( warnings

[2019-03-22 17:26] ghost opened #59368 "rustdoc: doc(hidden) also hides re-exports"
Code:

[code]

Generated docs:

![screenshot](https://screenshotscdn.firefoxusercontent.com/images/a5d96304-392c-4fa9-9d72-e40da31f380a.png)

So what I want to do is create a macro inside `my_module`. I don't want it to show up in crate root - I want it only in this module.

Both of the re-exports above work just fine. However, in the generated docs, one of them has no docs and the other doesn't s

[2019-03-22 17:36] estebank commented on #52790
@JohnTitor

I'll have to look at the code in detail, but you'll probably will have to make the returned `ImplItemKind` mutable and modify the `asyncness` field of `FnHeader` of its `MethodSig`. A bit convoluted :$

Of course! Go ahead :)

[2019-03-22 17:55] mati865 commented on #59110
I think `libstd-d301c78d889cf39d.so` error is caused by different names of that library between `gnu` and `musl`. The same error shows when using either hack from https://github.com/rust-lang/rust/issues/59110#issuecomment-474921562 or https://github.com/rust-lang/rust/commit/efd45e9443dea5671b041b2253e339c63a508864.

`ld` will load dependencies of`rustc_macros` in following order:
[code]

@Zoxc d

[2019-03-22 18:01] Centril commented on #59365
Simplified: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9bb30a29adb5af30e9675b81614f1b87

[2019-03-22 18:04] Zoxc commented on #59110
@mati865 The `Testing rustc_macros stage1 (x86_64-unknown-linux-gnu -> x86_64-unknown-linux-musl)` line seems pretty sketchy. We can't test while cross compiling.

[2019-03-22 18:19] maklemenz commented on #57257
Facing the same issue. I'm trying to compile rustc with pgo.

[2019-03-22 18:26] lqd commented on #59048
(This crate doesn't build on windows AFAICT so don't try to bisect there)

I can reproduce the ICE, and `cargo-bisect-rustc` seems to narrow this down to:
- nightly-2019-02-16
- commit f058741a679062202697144daebd05e1b0d6d747, for PR #58403

However, as Niko mentioned, I can't repro either on the latest nightly. I think it has since been fixed some time between nightly-2019-03-10 and nightly-2019-

[2019-03-22 18:30] peterhj commented on #57356
This issue is for an LLVM bug that affects rust, whereas #57268 is a workaround but doesn't actually fix the underlying bug. Properly fixing this would require patching LLVM (specifically, the NVPTX backend).

[2019-03-22 18:48] mati865 commented on #59110
@Zoxc from the technical point of view there is nothing preventing from cross compiling musl on glibc distro and testing it. I abused bootstrap to do it before `rustc_macros` were introduced: https://api.travis-ci.com/v3/job/183417890/log.txt

Guess I'll try to use new musl host once it makes it to the beta.

[2019-03-22 20:47] nikomatsakis commented on #58291
Is this a regression? Can we bisect it down to a specific PR using cargo-bisect-rustc, or at least a specific nightly?

[2019-03-22 21:11] alexcrichton commented on #57968
@michaelwoerister I was wondering, are there more blockers to this that you know of?

[2019-03-22 21:41] passcod commented on #57563
Is there a specific tracking issue for const TypeId?

[2019-03-22 21:59] jrmuizel opened #59373 "error: libgkrust.a(gkrust-a279530142e91ae7.gkrust.eonniity-cgu.0.rcgu.o) 0x8b0015d2867: adding range [0x4b4e7f-0x4b4ea7) which has a base that is less than the function's low PC 0x59fde0."
I get this from lldb when building https://github.com/zakorgy/gecko-dev/tree/ff_66_0b6_rel_gfx-mtl with rust 1.33. The error also shows up with rust-lldb.

[2019-03-22 22:33] joshlf commented on #58523
On version `rustc 1.35.0-nightly (94fd04589 2019-03-21)`, this unfortunately still eventually runs LLVM out of memory.

[2019-03-22 23:19] faern commented on #58402
I just had good use for `Instant::checked_duration_since`. It's a good method to have when working with deadlines, as compared to timeouts. I get a `deadline: Instant` handed to me, and I need to figure out how far into the future it is without risking a panic.

[2019-03-23 00:11] anonymousReaper commented on #53330
@SerhiiBilyk were you able to solve the initial issue? How did you get to run the main.rs program could you share the steps here. I've been trying for 3 days now to get this running on a Windows 10 x64. Thanks!

[2019-03-23 00:28] tdaede opened #59375 "Insufficient inlining of PartialEq::eq"
In rav1e, an enum that implements PartialEq fails to get its eq() method inlined at any opt-level lower than 3, despite being a one-instruction test. This destroys performance on anything other than opt-level 3.

I made a godbolt test case, however it only exhibits the behavior between 1 and 2, not 2 and 3. Not sure what makes rav1e different, but regardless even for opt-level 1 it probably should

[2019-03-23 00:33] #59104 closed

[2019-03-23 00:33] #57361 closed

[2019-03-23 00:46] cavedweller commented on #58633
I am also running into this

[2019-03-23 01:10] anonymousReaper commented on #44787
@tomexsans thanks for sharing the screen capture!!

[2019-03-23 03:28] estebank opened #59378 "Follow up on `const_eval.rs` `check_match` call"
https://github.com/rust-lang/rust/pull/59199#discussion_r267637931

[2019-03-23 05:51] #58734 closed

[2019-03-23 07:41] JoeVirtual opened #59379 "Truncating conversion between numeric primitive types"
Hi,

i am looking for a way in the rust stdlib to convert truncating a numeric primitive type into another numeric primitive type.

Like the Traits `From`, `Into` or `TryFrom`, `TryInto` provides.

The conversion i am looking for tuncates the value to the numeric bounds of the result type, for example:

- `255u8`  to `i8` results into `127i8` ,
-  `-128i8` to `u8` results into `0u8`,
-  `-129i16`

[2019-03-23 08:31] matklad commented on #58291
Did a little investigation, looks like two events are the most likely causes of this issue:

salsa's upgrade to the proc-macro version: https://github.com/rust-analyzer/rust-analyzer/commit/a2ca03d10b093ea20d7db8bfd78aa1e787482cc0
rustc upgrade to 1.32 from 1.32 https://github.com/rust-analyzer/rust-analyzer/commit/b028472481df108537b60104314081b65bf51147

It's not super easy to bisect between the

[2019-03-23 08:58] petrochenkov commented on #44663
The current command line syntax for passing private and public extern crates to `rustc` is
[code]
(this differs from what was written in the RFC).

I think the syntax would benefit from being slightly more general
[code]
with private and public extern crates being written like this
[code]

(We may also want other modifiers, or multiple modifiers (`--extern:m1:m2`) in the future.)

[2019-03-23 09:01] #52307 closed

[2019-03-23 09:01] #53776 closed

[2019-03-23 10:18] MSleepyPanda commented on #59123
Is this related to #52924?

[2019-03-23 10:38] Nemo157 commented on #59123
@MSleepyPanda in as much as it’s about generators being too big. The specific optimisation proposed there won’t help here as `first` and `second` are both live over the same yield point. What should really happen is that `first` is not kept live across the yield at all and it should be allocated in the `resume` function stack instead of the generator state. (And then some sort of copy-elision opti

[2019-03-23 11:30] aristarh2704 commented on #59274
`rustc_data_structures::owning_ref::OwningRef::erase_owner` not implemented for `Box<T:?Sized>`
[https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3902a7036b84f6ea5ad27fe0c90cceab](url)
But there [https://github.com/rust-lang/rust/blob/d51a437e28ab2cebbee9d54c3dbfe06e59f242d1/src/librustc_data_structures/sync.rs#L60-L65](url) this method work properly.

[2019-03-23 11:57] TheGoddessInari opened #59383 "LLD on Windows has supported natvis since early 2018, natvis can be embedded now"
According to https://github.com/llvm-mirror/lld/commit/27b9c4285364d8d76bb43839daa100 from exactly one year ago today. I'm not sure what versions would contain that commit, but I see no evidence that it's been reverted.

Given that LLVM 6, 7, and now 8 are out, it should be safe to remove the special case. Servo still recommends lld-link.

[2019-03-23 12:14] jonas-schievink commented on #59379
This doesn't currently exist and would likely have to go through an RFC. It can also be prototyped in an external crate (eg. something like [`cast`](https://docs.rs/cast/0.2.2/cast/)). Closing in favor of that.

[2019-03-23 12:14] #59379 closed

[2019-03-23 12:16] bjorn3 opened #59384 "Incorrect "help: consider borrowing here" suggestion"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=82d706b97453a95bcf198559e0d9c9f7))

Errors:

[code]

[2019-03-23 12:23] jonas-schievink commented on #59375
`#[inline(always)]` is respected even in unoptimized debug builds, you *really* don't want that on every derived `PartialEq` impl since it would slow down compile times for all programs that `#[derive(PartialEq)]`.

Unconditionally putting `#[inline]` on all derived `PartialEq` impls also seems very suboptimal, since it's only rarely needed, so having a way of configuring it would be helpful (AFAI

[2019-03-23 12:26] jonas-schievink commented on #59375
Okay nevermind me, apparently it *already* puts `#[inline]` on the methods: https://github.com/rust-lang/rust/blob/d51a437e28ab2cebbee9d54c3dbfe06e59f242d1/src/libsyntax_ext/deriving/cmp/partial_eq.rs#L65

[2019-03-23 12:59] mcginty opened #59385 ""expected open delimiter" error after upgrading nightly"
Just updated to the latest nightly, and tried to compile my project that depends on the `wayland-client` crate (via `glutin`), and am now getting the following error:

[code]

Rust:
[code]

[2019-03-23 13:06] jonas-schievink commented on #59385
This is https://github.com/Smithay/wayland-rs/issues/257, which is caused by https://github.com/rust-lang/rustfmt/issues/3463. Just needs a rustfmt update.

[2019-03-23 13:09] mcginty commented on #59385
Thanks @jonas-schievink! Closing.

[2019-03-23 13:09] #59385 closed

[2019-03-23 13:10] aristarh2704 opened #59386 "The code is not compiled on arm"
This code (https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=ff147eaa994ee5c8ab8516b2ac65fd8e) successfully compiled in playground, but is not compiled on arm-unknown-linux-gnueabihf.
Compiler output:
[code]

[2019-03-23 13:11] jonas-schievink commented on #59386
Please provide more information. Where is the code, which Rust version are you using, what commands are you running to reproduce this?

[2019-03-23 13:14] aristarh2704 commented on #59386
I'm using rustc 1.35.0-nightly (2019-03-20) on my phone, and rustc 1.35.0-nightly (2019-03-22) on playground

[2019-03-23 13:14] jonas-schievink commented on #59319
Not a Rust bug, so closing

[2019-03-23 13:14] #59319 closed

[2019-03-23 13:20] jonas-schievink commented on #56150
Assuming this is one of the issues in https://github.com/rust-lang/rust/issues/39364, so closing in favor of that issue. This would also be fixed with the new channels proposed in https://internals.rust-lang.org/t/proposal-new-channels-for-rusts-standard-library/9548

[2019-03-23 13:20] #56150 closed

[2019-03-23 13:21] jonas-schievink commented on #56587
Closing in favor of the tracking issue https://github.com/rust-lang/rust/issues/22639. In order to stabilize this, a libs team member has to start the FCP period.

[2019-03-23 13:21] #56587 closed

[2019-03-23 13:25] jonas-schievink commented on #55072
Closing in favor of the Cargo bug above (https://github.com/rust-lang/cargo/issues/6177), which seems to have been fixed too!

[2019-03-23 13:25] #55072 closed

[2019-03-23 13:46] jonas-schievink commented on #30829
Closing this as resolved. If @rust-lang/compiler or anyone else has any objections, please reopen or leave a comment.

[2019-03-23 13:46] #30829 closed

[2019-03-23 13:51] jonas-schievink commented on #53597
This works according to [RFC 136](https://github.com/rust-lang/rfcs/blob/master/text/0136-no-privates-in-public.md). Closing.

[2019-03-23 13:51] #53597 closed

[2019-03-23 13:55] jonas-schievink commented on #52725
Closing since this is a problem with Cargo

[2019-03-23 13:55] #52725 closed

[2019-03-23 13:58] jonas-schievink commented on #52683
Closing this since this is an issue with rustup (which might be resolved to some extent?)

[2019-03-23 13:58] #52683 closed

[2019-03-23 14:07] jonas-schievink commented on #51494
Closing in favor of an external crate / an RFC once there has been more out-of-tree experimentation with this. Let me know if you think this should be reopened.

[2019-03-23 14:07] #51494 closed

[2019-03-23 14:40] jonas-schievink commented on #59386
It doesn't build with `rustc` because the default edition is 2015. You need the 2018 edition (`--edition 2018`) for non-lexical lifetimes.

[2019-03-23 14:40] #59386 closed

[2019-03-23 14:46] smaeul commented on #42520
Both of these have been merged (as well as `powerpc64` and `powerpc64le`). Can this be closed?

[2019-03-23 14:46] hntd187 commented on #29497
I can confirm this still happens @steveklabnik
[code]

Just a folder with some plain text json files in it. Also, not a large directory or have any nested structure.

[2019-03-23 14:52] jonas-schievink commented on #42520
@smaeul PowerPC seems to only have GNU targets, this is about adding musl targets. https://github.com/rust-lang/rust/pull/45422 was closed, unfortunately, but feel free to revive that!

[2019-03-23 15:14] smaeul commented on #42520
@jonas-schievink I see https://github.com/rust-lang/rust/blob/master/src/librustc_target/spec/powerpc_unknown_linux_musl.rs ?

[2019-03-23 15:25] jonas-schievink commented on #42520
@smaeul Oh, interesting. According to https://forge.rust-lang.org/platform-support.html they're not supported, but the forge is often outdated. Closing as fixed.

[2019-03-23 15:25] #42520 closed

[2019-03-23 17:13] newpavlov commented on #50077
It was discussed [here](https://github.com/rust-lang-nursery/stdsimd/issues/325#issuecomment-366968146). In short `rdrnd` is name used by LLVM for compatibility with GCC, while `rdrand` is a vendor name. It was decided to use vendor names for `target_feature`, but looks like it didn't get translated to `rustc` options, which I think it should.

[2019-03-23 18:49] tdaede commented on #59375
Yup, likewise the libcore implementations are also #[inline]. The implementation of partialeq is always just byte compare (usually 1 instruction), so I can't think of any case you would not want it inlined.

I found this bug by converting an integer field to an enum in the project, and suddenly seeing CI take over 2x the time (as it runs in debug mode). It actually makes it impractical to use an e

[2019-03-23 20:19] Aaron1011 commented on #44663
@petrochenkov Do you want me to modify my PR to use that syntax instead?

[2019-03-23 22:15] jdahlstrom commented on #44095
You could always use INF and -INF if you don't want an upper or lower bound, right? Which also makes mathematical sense, unlike NaN. But most of the time it's better to use `max` and `min` for that.

[2019-03-23 22:47] jonas-schievink commented on #54435
Closing because of the issues encountered with the PR https://github.com/rust-lang/rust/pull/54442. This can be prototyped in an external library (like [`cast`](https://docs.rs/cast/0.2.2/cast/)), and might be addressed by https://github.com/rust-lang/rfcs/pull/2484 as well.

[2019-03-23 22:47] #54435 closed

[2019-03-23 23:38] mark-i-m commented on #57742
Note: The future compatibility lint has hit stable by now...

[2019-03-23 23:40] Centril commented on #57742
@mark-i-m I think we have given it enough time; would you like to prepare a PR that turns it into a hard error directly and let's crater + merge that one?

[2019-03-24 01:14] jblindsay opened #59388 "problem with floor function"
There appears to be an unexpected behaviour with the floor function for f64 (likely f32 as well). When applied to values greater than -1.0 and less than 0.0, it returns 0.0 instead of -1.0. That is, it is rounding up (ceil) rather than down in this one range of values.

`assert_eq!(-0.8f64.floor(), -1f64);`

[2019-03-24 01:36] dmitsuki opened #59391 "std::time issues"
std::time doesn't really work like one would expect it to. For example, if you take a duration and get it as milliseconds, but there isn't any whole milliseconds, it just returns nothing.

That is really unexpected behavior. If you get a number as milliseconds, but you don't have a whole millisecond, you should be given a fraction. The division between seconds and nanoseconds is also odd to me.

A

[2019-03-24 02:23] Mark-Simulacrum commented on #59391
An f64 would likely lose precision.

In any case I believe this is documented on the relevant APIs; and these are already stabilized so can't be changed at this point, further questions should go to the forums (internals or users).

[2019-03-24 02:23] #59391 closed

[2019-03-24 02:37] GuoXu-GX opened #59392 "using 'cargo install xsv' on windows 10 triggers rustc internal error"
rustc panics when using 'cargo install xsv' on windows 10:

[code]

[2019-03-24 02:48] varkor commented on #59388
[code]
I think this is a bug in const evaluation.

[2019-03-24 02:56] mark-i-m commented on #57742
@Centril Sure, but should we not make it deny-by-default first? I don't there is a particular hurry on this, right?

[2019-03-24 03:02] estebank commented on #59392
函数不正确。seems to translate to "The function is incorrect."

[2019-03-24 03:23] ollie27 commented on #59388
`-0.8f64.floor()` is equivalent to `-(0.8f64.floor())` not `(-0.8f64).floor()`.

[2019-03-24 04:20] RandomInsano commented on #50459
FWIW, I have another:

```error[E0658]: unions with non-`Copy` fields are unstable (see issue #32836)```

[2019-03-24 07:24] retep998 commented on #59392
What sort of disk is `R:\`? Is it a network drive, a ram disk, or a normal HDD/SSD?

[2019-03-24 08:03] GuoXu-GX commented on #59392
a ram disk, sized about 4GB

[2019-03-24 09:02] retep998 commented on #59392
I suspect this is the ram disk not supporting the canonicalize operation that rustc insists on performing. https://github.com/rust-lang/rust/issues/59117

As a workaround, you can change your temporary directory to be on a normal HDD/SSD.

[2019-03-24 09:12] oli-obk commented on #59388
Maybe clippy could lint `-foo.operation()` expressions?

[2019-03-24 10:07] GuoXu-GX commented on #59392
it seems this could work around the issue, thanks

[2019-03-24 10:34] varkor commented on #59388
Whoops. I do think the precedence here is confusing. It's easy to think of the minus sign as being part of the literal. A clippy lint would be helpful.

[2019-03-24 11:33] oli-obk commented on #59388
Opened https://github.com/rust-lang/rust-clippy/issues/3903

[2019-03-24 11:33] #59388 closed

[2019-03-24 15:30] jocutajar opened #59399 "UTF-8 parsing with state machine"
Hi, I'd like to propose a cleaner approach (IMHO) to parse UTF-8 in `core::str:from_utf8` and friends. Not confident to optimize the ASCII fast forward in unsafe, but I think a [state machine would describe the problem better](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=974471087ef52f72660ebb1097877810) and is more readable.

As a bonus, the state machine could be made

[2019-03-24 16:10] petrochenkov commented on #44663
@Aaron1011
A separate PR would probably be better, this is a novel syntax in general, it may require an FCP etc.

[2019-03-24 16:57] steveklabnik commented on #26600
Triage: i just tried @jonas-schievink 's example on godbolt's llvm-trunk, and got

[code]

[2019-03-24 17:40] Mingun commented on #27721
I think, that `Searcher` need `skip` method(s) that can be used to advance search positions without performing search. For example, [proof-of-concept of inplace unescape](
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2485c70b900bde91169e991b3ec9c1fa) requires this method to work correctly.

[2019-03-24 18:34] petrochenkov commented on #59196
This works as expected, `macro` macros are fully hygienic (unlike `macro_rules` macros that are hygienic only for local variables).
As a result, `Bar` created by the macro and `Bar` used in `main` are totally different `Bar`s.

Opt-out from that hygiene is supposed to be explicit (https://github.com/rust-lang/rfcs/pull/2498 or something like that), but it's not yet implemented.
[code]

In the mean

[2019-03-24 18:34] #59196 closed

[2019-03-24 18:38] xrl commented on #58817
I just pulled down the latest nightly and rebuilt, no ICE on compile. I think this is good to close!

[2019-03-24 19:32] IsaacWoods commented on #59196
Okay, thanks for clarifying @petrochenkov (and apologies @Centril) - I didn't realise macros 2.0 would be that hygienic.

[2019-03-24 20:41] spastorino commented on #57431
@saleemjaffer exactly, we want to avoid the help suggestion.

[2019-03-24 21:16] jonas-schievink commented on #44581
Is there anything left to do for "Adjust documentation"? The [book mentions them](https://doc.rust-lang.org/stable/book/appendix-05-editions.html?highlight=edition#appendix-e---editions) and links to the [edition guide](https://doc.rust-lang.org/nightly/edition-guide/index.html) as well.

Other than that, this feature has long been stabilized (although as "editions", not "epochs"), so this should

[2019-03-24 21:18] retep998 commented on #59117
One big question for the libs team to decide on is how to handle `..` and `.` on linux. On Windows `C:\foo\..\bar` is equivalent to `C:\bar` and both paths will always point to the same thing. On linux however it is possible for `/foo/../bar` to not point to the same thing as `/bar`. Given a current directory of `/foo` and a relative path of `../bar`, should `normalize` on linux return `/foo/../ba

[2019-03-24 21:27] #59243 closed

[2019-03-24 21:27] #59340 closed

[2019-03-24 21:28] nagisa commented on #59399
`run_utf8_validation` has hard constraints on its performance, given how likely it is to end up being a hot code path. Sadly, a naive state machine is unlikely to live up to those requirements.

[2019-03-24 21:40] polybuildr commented on #58050
It looks like this was fixed in PR #58075 and merged by bors. Should this issue be closed now?

[2019-03-24 21:42] polybuildr commented on #57724
It looks like this was fixed in PR #58908 and merged by bors. Should this issue be closed now?

[2019-03-24 21:51] polybuildr commented on #57489
@fkohlgrueber, I wasn't able to find the docs for rustc_plugin locally by default (using `locate`) so it seems likely that you're correct. It also seems quite likely that the path change you've proposed will work just as well for local installations, so I'd suggest going ahead and making a PR and then the reviewer(s) can comment on whether the solution is acceptable.

[2019-03-24 21:57] polybuildr commented on #55078
Looks like this was fixed in PR #59201 and merged by bors. Should this issue be closed now?

[2019-03-24 21:58] #55078 closed

[2019-03-24 23:07] jonas-schievink commented on #43570
Seems like this just needs a stabilization PR now?

[2019-03-24 23:41] #58050 closed

[2019-03-25 00:02] sfackler commented on #57724
There are still 3 versions of rand in use: https://github.com/rust-lang/rust/blob/master/Cargo.lock#L4173-L4175

[2019-03-25 01:13] mati865 commented on #57724
https://github.com/rust-lang/rust/pull/58805 will remove rand 0.5, I can get rid of 0.4 anytime but there are many PRs modifying Cargo.lock right now.

[2019-03-25 01:44] Jedzia commented on #37507
I have suffered similar losses in the battle for _Illegal Instructions_ on mips. My research so far and i hope this helps:

Minimal build for VU+ DUO2 mipsel-unknown-linux-gnu with Rust on Windows
==============================================================================

To save you some hours i describe the process how i build a hello world without
ending up with `Illegal instruction` errors

[2019-03-25 01:54] Jedzia commented on #41606
For people that don't use MIPS32R2 (like me with R1) and want to compile pre #48874 maybe this helps:

**Minimal build for VU+ DUO2 mipsel-unknown-linux-gnu with Rust on Windows** https://github.com/rust-lang/rust/issues/37507#issuecomment-476026815

[2019-03-25 02:22] Manishearth commented on #44581
Yep, this seems done.

[2019-03-25 02:22] #44581 closed

[2019-03-25 03:52] #25534 closed

[2019-03-25 04:16] sfackler commented on #32976
Yep - reopened.

[2019-03-25 04:31] OddCoincidence opened #59406 "ICE: <type> was a subtype of <type> but now is not?"
I got this pretty weird ICE while in the middle of a refactor.

[code]

I don't know how to turn this into a minimal example, so here's the offending code that reproduces this error: https://github.com/OddCoincidence/RustPython/commit/836f2673802bdd918f544d1a4c9621dfc645c2e0

[2019-03-25 04:32] Ralith opened #59407 "Cannot implement trait on type alias involving another trait's associated type"
When trying to implement `From` for nalgebra types, I discovered the following surprising behavior:

crate2/src/lib.rs
[code]

crate1/src/lib.rs
[code]

Error:
[code]

The error occurs no matter which crate the type alias is in. In addition to failing at all here being almost certainly incorrect, the error message is strange; `Foo::Bar` is not a type parameter at all!

[2019-03-25 07:07] #59272 closed

[2019-03-25 07:12] estebank commented on #59406
What version of the compiler are you using?

[2019-03-25 08:01] gnzlbg commented on #59356
This, we should only enable the test for little endian platforms, maybe adding a new test for big endian platforms.

[2019-03-25 08:23] #57260 closed

[2019-03-25 08:54] JoeVirtual commented on #59379
Thanks @jonas-schievink for the response and the reference to the crate.
I will try to create a crate and prototype this, but my experince with rust is very limited, so this will take awhile.

[2019-03-25 10:10] jonas-schievink commented on #59379
Sure! If you have any questions, feel free to ask in the user forum at https://users.rust-lang.org/ or on IRC.

[2019-03-25 10:14] Stargateur commented on #59202
you should try to use automatic tool like https://github.com/rust-lang/rust-bindgen instead of doing the binding yourself.

Also, try to run your program with tools such as `valgrind`

[2019-03-25 10:38] oli-obk commented on #59378
Super-High-Level Instructions:

Replace https://github.com/rust-lang/rust/blob/master/src/librustc_mir/const_eval.rs#L617-L632 with

[code]

And then follow up by making sure that the compiler doesn't ICE anywhere (e.g. during MIR building). It should probably "just work" nowadays. A crater run isn't necessary, as this will only ICE if an error wasn't handled properly. Successfully compiling code

[2019-03-25 10:49] michaelwoerister commented on #57968
Just the ones listed in the original post. Although, maybe also Windows performance. I worked on Windows 10 for a few days and got the impression that incr. comp. is very slow there. That should be verified though.

[2019-03-25 11:24] michaelwoerister commented on #59224
The lock files are how `rustc` coordinates multiple processes accessing the same incremental cache directory (although I don't remember that exact protocol off the top of my head). It's a known issue that this doesn't work well with some network file systems (NFS can run into this too, I think).

[2019-03-25 11:34] Stargateur commented on #59154
note that `u8 extended_state_area[0];` is not valid C code according to standard and should not be used in 2019, `u8 extended_state_area[];` instead.

[2019-03-25 12:07] medwards commented on #34681
For myself this issue is caused by the fact that I go directly to the API search page (`file:///home/user/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/share/doc/rust/html/std/index.html?search=`).

In this case the fonts are actually one folder *above* my current folder which violates the rule outlined by jfkthame in the mozilla bug:

To verify this I copied the fonts into the std folder and

[2019-03-25 12:22] #23458 closed

[2019-03-25 12:22] #55216 closed

[2019-03-25 12:44] BurntSushi opened #59411 "ripgrep fails to build with MUSL on Linux since the nightly release on 2019-03-15"
The last successful build was with the Rust nightly released on 2019-03-14 (bc44841ad): https://travis-ci.org/BurntSushi/ripgrep/jobs/506631861

The first failing build was with the Rust nightly released on 2019-03-15 (52e885628): https://travis-ci.org/BurntSushi/ripgrep/jobs/507121811

There weren't any changes on my end. (Last commit to ripgrep master was 2019-03-03.)

Here's the pertinent error

[2019-03-25 12:50] michaelwoerister commented on #59246
Thanks for the bug report, @yuanboli233. This does indeed look like a bug, probably due to LLVM not preserving debuginfo across optimizations or optimizations shuffling around statements, making the breakpoint being set in an unexpected location.

[2019-03-25 13:09] chrisvittal commented on #59193
I'm willing to start poking at this. Removing the flag is easy enough. But what should I be doing with the tests that have the flag?

[2019-03-25 13:35] ordian commented on #51386
Any updates on the issue? Is it not accepted as a bug?

[2019-03-25 13:50] oli-obk commented on #59048
Thanks for the ICE and fix bisection.

[2019-03-25 13:50] #59048 closed

[2019-03-25 14:05] japaric opened #59412 "[eRFC] Include (some) Rust type information in LLVM IR"
## Summary

Add an experimental compiler feature / flag to add Rust type information, in the
form of LLVM metadata, to the LLVM IR (`.ll`) files produced by the compiler.

## Motivation

(This section ended up being a bit long winded. The TL;DR is improving existing
stack analysis usage tools.)

Stack usage analysis is a hard requirement for [certifying] safety critical
(embedded) applications. Th

[2019-03-25 14:08] steveklabnik commented on #46865
Triage: these semantics are currently on purpose, and adjustments to them involve a bunch of various RFCs. I don't think keeping this open in addition to those is particularly useful, so closing.

[2019-03-25 14:08] #46865 closed

[2019-03-25 14:14] steveklabnik commented on #44302
Triage: we have now implemented an allocator API, and this was considered and rejected in #49668. As such, I'm gonna give it a close. Thanks!

[2019-03-25 14:14] #44302 closed

[2019-03-25 14:15] steveklabnik commented on #40717
@cuviper are you still running into this today?

[2019-03-25 14:15] steveklabnik commented on #29553
Triage: no major movement recently

[2019-03-25 14:24] gnzlbg opened #59414 "Tracking issue for x86 bittest intrinsics"
This is a tracking issue for the `simd_x86_bittest` feature gate, tracking the stabilization of the bittest Intel intrinsics - see https://github.com/rust-lang-nursery/stdsimd/pull/703 .

[2019-03-25 14:26] kenta7777 commented on #54395
I'd like to tackle this issue. How shall we begin?

[2019-03-25 14:31] steveklabnik commented on #40772
Triage: not aware of any movement here

[2019-03-25 16:10] OddCoincidence commented on #59406
[code]

[2019-03-25 16:17] EdorianDark commented on #44095
@Xaeroxe  Thank you for the implementation.

[2019-03-25 16:24] jocutajar commented on #59399
Is there a standard benchmark for this, @nagisa?

[2019-03-25 16:28] oli-obk commented on #54395
As a first step you can look for all uses of `EvalContext` and rename them to `InterpretCx`

[2019-03-25 16:30] kenta7777 commented on #35851
I'd like to tackle this issue. How shall we begin?

[2019-03-25 17:07] steveklabnik commented on #31459
I attempted to try to reproduce this today, but `curl` can't seem to properly download rust inside of the version of msys i tried.

[2019-03-25 18:46] cuviper commented on #40717
I hadn't noticed because I've always done those builds with `LIBRARY_PATH` since, but it now seems OK without. I suspect this was fixed when codegen (née trans) started loading dynamically in #47671.

[2019-03-25 18:46] #40717 closed

[2019-03-25 20:05] #59027 closed

[2019-03-25 20:16] samuela commented on #59224
@michaelwoerister what about providing an option to move the cache and/or the lockfiles outside of the source directory? That would have the added benefit of improved performance on networked file systems.

[2019-03-25 20:22] matthewjasper commented on #59193
Removing the flag, and updating the message, this should be done after #59114, so that the migrate mode output is being tested.

[2019-03-25 20:51] nikic commented on #59281
Godbolt: https://rust.godbolt.org/z/LRTDre

[2019-03-25 22:04] nikic commented on #58388
Minimal IR test case:

[code]

Here `%r` should fold to `i1 false`.

While it would be easy to add an instcombine pattern for this specific case, I don't see an obvious way to express this as a more generic optimization...

[2019-03-25 22:04] fanzeyi commented on #59326
Okay, I'm able to create a small example demonstrating this problem:

[code]

This code compiles in 1.32.0 but not in 1.33.0. Tested locally:

[code]

[2019-03-25 22:06] kpp opened #59418 "Syntax: ignoring tuple index with a suffix (a.1lolololol)"
[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4280ded6698f9f9f3877ad0498769cb7

Expected:
[code]

Got:
[code]

All thanks to: https://linuxrocks.online/@carl/101569506337640753

UPD:

The same error arises with tuple struct:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ad7f39e8edad0d98f2919bd4fdfded30

Expected:
[code]

Got:
[co

[2019-03-25 22:34] estebank commented on #59418
Introduced in 1.27. [Output in 1.26](https://godbolt.org/z/pDZZ1S):

[code]

[2019-03-25 22:49] frewsxcv commented on #57402
That URL resolves for me, maybe it's fixed now?

[2019-03-25 22:50] varkor commented on #59418
I have a fix for this.

[2019-03-25 22:54] retep998 commented on #59154
Having structs with `repr(align(N))` (transitively) inside a struct that is `repr(packed(N))` is currently not allowed because gcc and VC++ differ in their behavior. Given:
[code]
What is `align_of::<Bar>()`? If we follow gcc's behavior it is 1, but if we follow VC++'s behavior it is 4. Things get even hairier when you consider MinGW which is gcc and therefore has gcc behavior despite targeting Wi

[2019-03-25 23:07] estebank commented on #59418
@varkor I have the fix, just waiting for `--bless` to finish:

[code]

[2019-03-25 23:12] Stargateur commented on #59154
@retep998

Actually no, gcc can do whatever it want even targeting windows, the "only" requirement is that the final program work. Also, a structure defined in user side can only be use by user side, so gcc don't have to follow msvc rule to work on window in the user side. OFC, when gcc need to call Windows API they need to follow their rules, also note I don't talk about msvc rules but those of W

[2019-03-25 23:20] GuillaumeGomez commented on #59367
Fix the dependencies? Joke aside, it needs to be fixed. I'll take a look.

[2019-03-25 23:21] rocallahan opened #59422 "Stop emitting `DW_AT_linkage_name` for non-mangled symbols"
Debuggers will try to demangle `DW_AT_linkage_name` names. However, rustc (1.33) is emitting non-mangled names in `DW_AT_linkage_name` attributes for `#[no_mangle]` symbols. I think you can just omit `DW_AT_linkage_name` completely for these symbols, which will also save a tiny bit of space.

[2019-03-25 23:24] GuillaumeGomez commented on #59287
It's supposed to so this some adjustments to be done on the "search engine". I'll take a look.

[2019-03-25 23:24] GuillaumeGomez commented on #59261
Indeed, will send a fix.

[2019-03-25 23:49] varkor commented on #59353
Even simpler:
[code]

[2019-03-25 23:53] oli-obk opened #59425 "Parser accepts and ignores arbitrary identifiers after tuple field name"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dd23abb1ced10a8e65c7b8bdc45f4e58))

Output:

[code]

Errors:

[code]

[2019-03-26 00:03] varkor commented on #59425
Duplicate of https://github.com/rust-lang/rust/issues/59418.

[2019-03-26 00:03] #59425 closed

[2019-03-26 00:03] estebank commented on #48554
This has been fixed in the current stable.

[2019-03-26 00:03] #48554 closed

[2019-03-26 00:07] estebank commented on #54771
[Current output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f14752fef7896dc270332a1753307d16):

[code]

It still needs checking that the last statement's expr can actually conform to the trait, but the naïve behavior is there.

[2019-03-26 00:10] tmandry commented on #57780
Point 2 is being tracked in #48244. Since the title of this issue is broad, you may want to rename it to focus on your first point.

[2019-03-26 00:16] tmandry opened #59426 "Add guidance when unused_imports fires on an item only used in cfg(test)"
This is a very common source of confusion for new Rust users: They import a module for use in tests, then get an "unused import" warning when building a non-test target. Meanwhile, removing the import breaks their tests. See [here](https://users.rust-lang.org/t/seemingly-invalid-unused-import-warning/21465) for an example.

I think it would be tremendously helpful to people learning the language t

[2019-03-26 00:22] retep998 commented on #59154
If MinGW compiled binaries want to do anything they have to be able to call into dlls compiled by VC++, which means they have to match the ABI that VC++ uses. Whether the C ABI is standardized or whether the language features in question are even standard is irrelevant. If there is a dll out there that uses `#pragma pack` in combination with `__declspec(align(N))` then you need to be able to call

[2019-03-26 00:36] havelund commented on #32260
The problem is that Rust is so paranoid about data races, that one has to uses mutexes all over the place (if using shared memory) to fight the borrow checker off. This results then in increased risk of deadlocks due to the fact that locks are not reentrant.

[2019-03-26 00:45] Stargateur commented on #59154
Yes, but all of this is implemented side, C doesn't care of all of that, dll is not a thing in C standard, if MinGW want to handle dll produce by VC++ is their problem not C problem. I disagree about Rust trying to bet about what all C compiler should produce to have a FFI interface. C is design to be very flexible on what a compiler can do. So you are hurting a wall. Unless you want something lik

[2019-03-26 00:49] U007D commented on #50264
Indeed, naming is hard(TM). ;)
I'll submit the next pr with `as_deref()/as_deref_mut()` and we'll see what folks think.

[2019-03-26 01:08] briansmith commented on #39915
https://github.com/rust-lang/rust/pull/56351 added `-C linker-flavor`.

It's not clear what this issue is intended to track. It seems like it would be better to close this in favor of having specific issues, e.g. "Link with LLD for -msvc targets when Microsoft's toolchain isn't available".

[2019-03-26 01:35] nnethercote commented on #39915
To me, this issue is about enabling LLD as the default linker for all targets. I would like that because LLD is extremely fast, and linking time is often a significant component of compile time, and compile speed is a perennial problem.

[2019-03-26 01:42] estebank commented on #53498
CC #59406, #39124.

[2019-03-26 03:21] retep998 commented on #59154
What is or isn't a "true" C compiler is not important nor is it relevant.

Rust needs to be able to interface with system libraries, which means that Rust needs to match the ABI used by system libraries. Therefore on Windows Rust has to match the VC++ ABI because that is the ABI used by system libraries. If MinGW differs from this then Rust is in a tight spot because `pc-windows-gnu` still needs t

[2019-03-26 06:47] petrochenkov commented on #56485
One interesting effect is that the traits become in scope in the module that defines (rather than imports) the alias.

[code]

[2019-03-26 07:19] #55339 closed

[2019-03-26 07:38] Centril commented on #40062
@rust-lang/libs Can someone clarify what the status of this is wrt. the conversation above?

[2019-03-26 08:11] michaelwoerister commented on #59224
Good thinking! As far as `rustc` is concerned the cache directory can be freely chosen already -- so this is something would have to be implemented in Cargo.

[2019-03-26 08:49] jwatt commented on #39915
FWIW I filed a [bug for supporting LLD on macOS](https://bugzilla.mozilla.org/show_bug.cgi?id=1538724) over in BMO. Apparently that's WONTFIX. From the comments there it seems that it's not as simple as "LLD is extremely fast", since the LLDs on different platforms are different programs, and the one on macOS is broken with stalled development.

[2019-03-26 09:24] N-Maas opened #59435 "Incorrect compilation/ICE using default associated type with specialization"
With specialization, it is possible to define a default associated type that does not fulfill its trait bounds. Here is a minimal example, that surely should not compile, but does with rustc 1.35.0-nightly:

[code]

Unsurprisingly, adding the main function

[code]

causes an ICE. Error message and backtrace (compiled at the playground):

[code]

[2019-03-26 09:42] DevQps commented on #57402
Same here, it seems to be fixed indeed!
@Mark-Simulacrum It seems to be that the Code of Conduct on [Rust's website](https://www.rust-lang.org/policies/code-of-conduct) is shorter and less detailed then the one on [http://citizencodeofconduct.org/](http://citizencodeofconduct.org/). I am not sure if that has to be an issue, but otherwise we could replace those links maybe?

[2019-03-26 09:43] Centril commented on #59412
Do you expect this to become stable one day? Under what circumstances...?

Shouldn't this be `fn() -> ()`?

So it is safe to say that you don't expect stability wrt. the type name outputs?

[2019-03-26 09:51] DevQps commented on #57738
@AljoschaMeyer Would you still like to fix this? Otherwise I could take an attempt at improving the documentation (Y).

[2019-03-26 10:42] japaric commented on #59412
Not in the form proposed here, which is tied to LLVM. Perhaps it would make
sense to encode the info in the object file, or perhaps encoding this info in
MIR would be a good compromise. Experience with the feature proposed here
(perhaps there are other use cases for this kind of feature?) would inform such
decision.

Speaking as the author of `cargo-call-stack` to me it doesn't make sense to
stabi

[2019-03-26 10:58] pnkfelix opened #59437 "compiletest: emit time spent for each test suite"
Right now we have test suites with thousands of files each. It would be useful for compiletest to indicate how long it takes when it runs each such suite, so that someone reviewing where time is going during testing can know where the bulk of time overall is being spent without having to stare at the output holding a stopwatch.

[2019-03-26 11:02] pnkfelix commented on #59437
or wait, is that what the "finished in NNN.NNN" (where N is a digit) means?

If those lines represent times, they should have units. And they should indicate on the line itself what is being finished, because I see output like this:

[code]

and I shouldn't have to attempt to parse the backscroll to figure out what those two "finished in ..." lines mean.

[2019-03-26 11:05] nagisa commented on #59399
https://github.com/rust-lang/rust/pull/30740 used large documents as a test and contains a link to the benchmarks used there. In general what matters is delta between old and new implementations, so any sufficiently diverse (in terms of the text used) benchmark will do.

cc @bluss

[2019-03-26 11:17] pnkfelix commented on #59437
(also, I am assuming that while `compiletest` can be configured to run multiple tests in parallel, it never runs multiple test *suites* in parallel. If this is false, please do let me know.)

[2019-03-26 11:49] CasualX opened #59438 "Reserve additional elements in Vec does not reserve additional elements"
I have a loop which appends to a Vec of u8, I append to the vector by reserving enough additional capacity, writing in the buffer reserved by the capacity and calling set_len when done. However using `reserve` in certain cases does not grow the vector! violating the documented behavior that the resulting capacity should have at least the specified additional elements.

I tried this code: [playgrou

[2019-03-26 11:54] jonas-schievink commented on #59438
I think `reserve` will reserve `additional` more elements compared to the `Vec`s current *length*, not *capacity*, so this looks like an expected outcome. You probably want to do `vec.reserve(size);` directly.

[2019-03-26 12:21] CasualX commented on #59438
D'oh it seems you are correct and I misread the docs... I've no idea how I managed to overlook the clearly stated expected capacity of at least `self.len() + additional`...

[2019-03-26 12:21] #59438 closed

[2019-03-26 12:38] claudijd commented on #57402
It does appear fixed now, thanks all for the follow up.

[2019-03-26 12:48] Jedzia commented on #37507
I cant withstand not to add an example: https://github.com/Jedzia/RokerDepp

[2019-03-26 13:40] TheDan64 commented on #59154
What if `repr(packed, align(N))` was allowed to compile on every target except windows? And it just remained an error there until a decision on windows was made? This would at least open it up to the most common use cases while not committing to a windows representation.

[2019-03-26 13:51] japaric commented on #53491
Any chance this could make it into 1.35-beta (due in ~2 weeks)?

[2019-03-26 14:08] RalfJung commented on #53491
I am a bit conflicted about pushing this given how entirely up in the air https://github.com/rust-lang/rfcs/pull/2582 still is. :/  Without that RFC, gradual initialization of a struct is still not possible, but people will do it anyway.

OTOH, `MaybeUninit` has waited long enough.  And it's not like the code for gradual initialization that people write currently is better than what they'd write w

[2019-03-26 14:37] pnkfelix commented on #58881
This version is a little bit smaller than @emilio's great reduction [above](https://github.com/rust-lang/rust/issues/58881#issuecomment-469716921):

[code]

(The main feature here is that it demonstrates the problem without using a callback to a static variable, which I had mistakenly thought was an important part of replicating the problem.)

[2019-03-26 14:48] varkor commented on #58881
Might this be related to the recent variadic function changes? cc @dlrobertson

[2019-03-26 14:50] AljoschaMeyer commented on #57738
@DevQps Please go ahead =)

[2019-03-26 14:54] pnkfelix commented on #58881
(FYI, bisection indicates this was injected between nightly-2019-02-28 and nightly-2019-03-01.)

[2019-03-26 14:55] pnkfelix commented on #58881
@varkor that theory sounds very plausible, given the following bors merges from the point I bisected:

[code]
350674b7180a41c8e508d93c6ab8e203b69d3df7 Auto merge of #58250 - Zoxc:rustc-interface-1, r=oli-obk
1999a2288123173b2e487865c9a04386173025f7 Auto merge of #57760 - dlrobertson:varargs1, r=alexreg
190feb65290d39d7ab6d44e994bd99188d339f16 Auto merge of #58208 - taiki-e:libstd-2018, r=Centril

[2019-03-26 14:55] dlrobertson commented on #58881
It is very likely I caused this. I'll look into it

[2019-03-26 14:58] pnkfelix commented on #58881
reassigning to @dlrobertson and removing nominated tag.

tagging as regression from stable-to-nightly.

[2019-03-26 15:13] pnkfelix commented on #58840
This project has been deleted. Can someone either repost it, or share a copy with me?

[2019-03-26 15:35] svenstaro commented on #59411
Exactly the same problem with exactly the same setup here: https://travis-ci.org/svenstaro/miniserve/jobs/510971585

[2019-03-26 15:55] dlrobertson commented on #58881
Appears to be an issue if a structure is passed to a C-variadic. E.g.

[code]

[2019-03-26 16:00] svenstaro commented on #59411
Works fine with `dist: xenial`: https://travis-ci.org/svenstaro/miniserve/builds/511554891

[2019-03-26 16:08] gnzlbg opened #59442 "Tracking issue for `cfg_if`"
This issue tracks the stabilization of `libcore`'s `cfg_if!` macro. See: https://github.com/rust-lang/rust/pull/59443

[2019-03-26 16:12] retep998 commented on #59154
On the contrary I think Windows is the common use case and `repr(packed, align(N))` should only be allowed there with VC++ semantics until a decision on other targets is made.

[2019-03-26 16:15] jonas-schievink commented on #59442
Added in https://github.com/rust-lang/rust/pull/59336, I think?

[2019-03-26 16:34] elidupree commented on #24159
I've just run into this issue in one of my own projects, and reduced it to a test case that's even simpler than the last one:

[code]
Although it compiles successfully if you add the bizarrely-tautological-looking `where T::B: Bar<T::A>`.

For now, I'm stuck with adding the where clause, but that's putting a LOT of boilerplate in my code (the actual where clause is 71 characters long and appears i

[2019-03-26 16:57] dingxiangfei2009 commented on #59407
Let me simplify further with the following example. The following snippet gives the same error on `play.rust-lang.org`.
[code]
This [explanation](https://users.rust-lang.org/t/only-traits-defined-in-the-current-crate/8227/4) might be helpful.

[2019-03-26 17:40] ExSidius commented on #59202
Will close this until I have more information.

[2019-03-26 17:40] #59202 closed

[2019-03-26 18:43] jannic commented on #59411
I get the same error message for `cargo +nightly run --target=x86_64-unknown-linux-musl` on a new hello-world project (as generated by cargo new).
This is on debian jessie. (Don't ask. Need to build for old servers...)
Reproducible locally, so if I can help debugging this, please tell me where to look.

[2019-03-26 19:04] rinon commented on #59154
I'm not sure why you think Windows is necessarily the common case? The initial example above is from the Linux kernel headers and is blocking development of Rust kernel modules that use that and other similar structs. We need some way of being ABI compatible with the Linux kernel for the same reason that we need to be ABI compatible with VC++ libraries.

[2019-03-26 19:28] ashtneoi commented on #53365
Sorry for leaving this issue open for so long. Obviously I didn't get around to it, and it's probably out of date by now.

[2019-03-26 19:28] #53365 closed

[2019-03-26 19:30] retep998 commented on #59154
For the same reason that some people think non-Windows is the common case.

More seriously, I am opposed to implementing either behavior until the lang team decides on a solution that allows both behaviors to be used. I want this to be resolved just as much as you do, but I'm not willing to throw some platforms under the bus for the sake of other platforms.

[2019-03-26 19:34] jannic commented on #59411
It looks like it depends on the version of binutils: With 2.28-5 from debian/stretch I can build the binary successfully, with 2.25-5+deb8u1 from debian/jessie I get the mentioned error.

[2019-03-26 20:25] jrmuizel commented on #58082
@nikic do you think you might be able to look at what's going wrong here?

[2019-03-26 20:49] rinon commented on #59154
I think the point was that there is only an ABI ambiguity on Windows and the ABI behaviour doesn't necessarily need to be consistent across platforms. Defining the same semantics for packed+aligned on both `pc-windows-gnu` or `pc-windows-msvc` would be a problem, but leaving those targets undefined as they currently are and defining default semantics for other targets would at least allow this com

[2019-03-26 20:55] #51222 closed

[2019-03-26 20:55] #53848 closed

[2019-03-26 20:55] #57316 closed

[2019-03-26 21:59] Marwes commented on #57958
Seeing this frequently when building inside docker on travis https://travis-ci.org/gluon-lang/gluon-lang.org

[2019-03-26 22:18] DianaNites commented on #30164
Also semi-frequently hitting this. Shame it doesnt look like theres gonna be a fix any time soon.

[2019-03-26 22:52] dtolnay opened #59450 "Targeted suggestions for specific "no method" errors on standard library types"
Rustc currently shows a perfectly reasonable error message when calling a nonexistent method:

[code]

[code]

<br>

But for specific frequently encountered cases, it would be great to show a more targeted error that gives the name of the method you almost definitely meant to call, despite not being similar enough to trigger the "did you mean" suggestion.

Candidates would be cases that arise ofte

[2019-03-26 23:20] joshtriplett commented on #59154
We discussed this on Discord, and here's a rough sketch of some ideas and next steps:

- It looks like clang matches the Windows ABI for `x86_64-pc-windows-msvc` and matches the GCC ABI for `x86_64-pc-windows-gnu`.
- Ideally, the MinGW ABI should match the Windows ABI to allow calling system libraries.
  - Someone should reach out to the MinGW folks, and find out if they'd be willing to match the

[2019-03-26 23:22] polybuildr commented on #57443
Hello! I thought this would be an interesting problem to try to solve in an automated manner and gave it a shot.

First off, I know I did not ask on this issue before working on this, so I completely understand if @agnxy wants to do this instead. :) Would still like to know if I got the approach right, @oli-obk.

This was more involved than I had initially expected and I made a lot of guesses alon

[2019-03-27 00:08] jonas-schievink commented on #58368
Has anyone had time to look into this more deeply?

[2019-03-27 00:08] estebank commented on #59450
Do you think this would be a common enough pattern that it'd be worth creating something like `rustc_on_unimplemented` but for confusables?

Something like

[code]

[code]

[2019-03-27 00:45] dtolnay commented on #59450
Something similar to rustc_on_unimplemented sounds like it would work! I don't know enough about the diagnostics implementation to know what the other options are.

Bonus points if it is straightforward for a new rustc contributor to add a confusable and corresponding test case.

[2019-03-27 01:05] tdaede commented on #59375
I tried changing the implementation to the following:

[code]

Unfortunately the resulting compiler really struggles to compile the syn crate - I'm not sure if it's just really slow or it's actually hung, I'll let it run overnight.

[2019-03-27 01:49] Lymia commented on #53457
Has there been progress in fixing this? I'd be willing to see if I can start work on a PR myself since I've been having issues with this.

[2019-03-27 02:54] luqmana commented on #58602
So this is what the LLVM IR looks like optimized:

[code]

Looking at it we can tell that `%2 = icmp ult i64 %1, 3` should be implied by the previous `  %0 = icmp ult i64 %offset, 8` and in fact LLVM does try to do this opt (from a quick looking in multiple passes instcombine, simplifycfg, instsimplify). Unfortunately, it doesn't seem to be able to relate `%1` and `%offset`.

Just manually rewriti

[2019-03-27 03:44] zackmdavis commented on #52820
#52965 (proposed solution in PR #59455) is similar.

[2019-03-27 04:39] ajdlinux commented on #58996
Thanks!

[2019-03-27 06:55] saleemjaffer commented on #57431
https://github.com/rust-lang/rust/blob/dd363d14ae842ab5aae3ee81b337f26aabcb8875/src/librustc_mir/borrow_check/mutability_errors.rs#L374-L424

In particular this is where the issue occurs:
https://github.com/rust-lang/rust/blob/dd363d14ae842ab5aae3ee81b337f26aabcb8875/src/librustc_mir/borrow_check/mutability_errors.rs#L385-L395

[2019-03-27 08:36] oli-obk commented on #53457
I think it should be enough to add a `ReLateBound(_)` arm to https://github.com/rust-lang/rust/blob/0576ac109b1ee40cc3201ac3c9ed58339487140e/src/librustc_typeck/check/writeback.rs#L508

[2019-03-27 08:40] tdaede commented on #59375
I think this actually might be caused by neq, not eq. I seem to get faster runtimes if I also derive Eq - the problem is that without Eq, an implementation of neq is made that calls eq, which requires double inlining and the compiler fails to do this.

[2019-03-27 08:43] oli-obk commented on #57443
Heh, sweet setup! Would you be ok with moving this tool into the rust-lang org? If so, @rust-lang/compiler we could run this tool unconditionally in tidy.

What happened here?

Can you also add a mode where we just attempt to move all dependencies to the highest version number irrelevant of breaking changes? It's undesirable to have e.g. `lazy_static 0.1` and `lazy_static 0.2` within rustc, even i

[2019-03-27 08:51] nikic commented on #58602
This could be decomposed into three optimizations: First, it should be possible to determine that the `sub` is `nuw`. I think this is something that CVP should be capable of determining, at least in principle. Second, `%y = sub nuw C, %x; icmp P %y, C2` should be instcombined to `icmp swap(P) %y, C-C2`. Finally CSE will see that the conditions are now the same (this part already works).

[2019-03-27 08:58] polybuildr commented on #57443
Sure! Sounds good to me. Would that be in a new repository or somewhere inside this repo? I saw a lot of scripts/tools in this repo too, which is why I'm curious.

Ah, yes. Probably an edge case where the version in Cargo.toml already matches the highest compatible version. I didn't check to see if it's the same version before doing a "replace".

Yeah, that seems simple enough. I'm guessing using

[2019-03-27 08:58] #58230 closed

[2019-03-27 08:58] #59005 closed

[2019-03-27 08:58] #59163 closed

[2019-03-27 08:58] #59261 closed

[2019-03-27 09:04] oli-obk commented on #57443
Yea, but if we fix it once, any future changes will already have been caused by the user, so it should be fine.

I think this tool is useful for all workspace repositories, and I don't think we have anything in-tree that we are publishing via crates.io.

[2019-03-27 09:06] mati865 commented on #59411
I was afraid something like that can happen when tinkering around https://github.com/rust-lang/rust/pull/58575 but I was able to compile `ripgrep` on Alpine (native musl host) and Ubuntu (with musl target).

I'll see if I can reproduce it.

[2019-03-27 09:18] mati865 commented on #57958
Which systems are you using?
Maybe https://doc.rust-lang.org/stable/std/fs/fn.canonicalize.html is broken on some systems?

[2019-03-27 09:22] polybuildr commented on #57443
I see, so you were planning for this to be published and distributed via crates.io. This makes things a teensy bit complicated - my employer's rules allow for submitting patches to public repositories using an approved open source license quite easily. Creating a new repository (aka "releasing" a new project) is a bit more complicated: first deploy it internally, get approvals, then release to the

[2019-03-27 09:36] tumdum opened #59458 "Better diagnostics for binary operators"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e7da30e9f717954343ca8858bba74d0f))

When compiled produces error which only highlights whole expression - offending operator is not marked in any way.
Newest gcc is capable of much nicer diagnostics in similar situation: https://developers.redhat.com/blog/2019/03/08/usability-improvements-in-gcc-9/ - simi

[2019-03-27 09:55] oli-obk commented on #57443
Ah, well... What if we create a repo with the appropriate license and you contribute your code? Basically ownership would lie with the rust-lang org.

I mean, originally I thought we'd put it into the rust-lang/rust repo, too. But we are currently moving a lot of things *out* into separate repos. So that might have ended up happening to your code, too, even if it started out in the rust-lang/rust

[2019-03-27 10:06] Marwes commented on #57958
[This build](https://travis-ci.org/gluon-lang/gluon-lang.org/builds/511695882#L1221) were using https://github.com/rust-lang/docker-rust/blob/master/1.33.0/stretch/slim/Dockerfile (though it was the 1.32 version of rust)

[2019-03-27 10:13] oli-obk commented on #59458
I think the following steps should be able to address this

1. Change https://github.com/rust-lang/rust/blob/ea43c3c688980edd6f09a4cb632c9eb996c4f2af/src/librustc_typeck/check/op.rs#L330 to use `op.span` instead of `expr.span`
2. add a call to `err.span_label(lhs_expr.span, lhs_ty.to_string())`
3. do 2. for `rhs_*`, too
4. run `./x.py test --stage 1 src/test/ui --bless`

[2019-03-27 10:25] eddyb commented on #59412
I'm not seeing any mentions of debuginfo or DWARF, could they be used for this?

But also, I'm not sure what you need can be easily obtained at this moment.

It (almost) requires @rust-lang/wg-unsafe-code-guidelines to come up with some predicate for "*definitely* UB" `fn` ABI mismatches. Otherwise, you'd need to work with these, not the Rust signature:
<details>
<summary>(click to expand)</summar

[2019-03-27 10:44] theduke commented on #38962
I also just ran into this issue, with the same use case (nested Cow).

What is the actual background here?
Is this a compiler bug, a limitation of the type checker, or behaving as intended?

[2019-03-27 11:55] raphaelcohn commented on #53491
Is there any chance that the constructing functions on `MaybeInit` could be `const`?

[2019-03-27 12:35] vi commented on #48049
Until the question is answered, this tracking issue no longer tracks the issue.

[2019-03-27 12:41] RalfJung commented on #53491
`init` and `new` are `const`. `zeroed` is not, we need some extensions to what const functions can do before it can be `const`.

[2019-03-27 13:14] jason-ni commented on #57390
Another rust linux kernel module project is also blocking on this issue. https://github.com/alex/linux-kernel-module-rust/pull/67 .

[2019-03-27 13:28] japaric commented on #59412
The debuginfo certainly contains type information but I doubt it includes trait information as in "this function is method `foo` of `impl Trait for Type`" (besides symbol names which are not reliable because of `#[link_name]`).

And if the info you can access from GDB is any indication of the information available in the final executable then most value-level debuginfo seems to be discarded by the

[2019-03-27 13:59] eddyb commented on #59412
@japaric Ah, in that case, may I suggest making this less about type information and more about "dynamic call target sets"? The compiler could even output several sets at once (e.g. one with very strict type-matching, and one with "the right size and number of register arguments/returns"), and it would be one general system instead of having both `!fn` and `!dyn`.

Also, have you looked at doing t

[2019-03-27 14:14] oli-obk commented on #59412
The reason this system is not built on top of the MIR is

post-LLVM-optimization output as that greatly reduces the chance of inserting
invalid edges. For example, what appears to be a function call at the (Rust)
source level (e.g. let x = foo();) may not actually exist in the final binary
due to inlining or dead code elimination. For this reason, Rust stack usage
analysis tools are limited to two

[2019-03-27 14:30] japaric commented on #59412
That would be even better but since this is an eRFC with no commitment towards stabilization I think the implementation and maintenance effort should be kept as small. I don't know how much effort would "dynamic call target sets" take but I have implemented a PoC of the !fn metadata before in [a diff of less of 50 LoC](https://github.com/japaric/rust/commits/metadata-poc-do-not-delete).

The other

[2019-03-27 14:35] oli-obk commented on #59412
We could add an unstable flag to rustc that dumps exactly the info you need (instead of you having to process MIR).

[2019-03-27 14:35] Centril commented on #59412
Alright; as long as we don't do anything here to make it more difficult to change the type names and such I'm happy from a T-Lang perspective.

General note (that is probably not highly relevant to the rest of that paragraph...): Remember that just because `core` gets to do this it doesn't mean user-space does. `core` is effectively part of the language in some parts and can assume things about th

[2019-03-27 14:46] dingxiangfei2009 commented on #59407
This reproduction works in `rust`@`1.33.0` without any external crates.
[code]
The message is the following.
[code]

Could it be a problem in parsing? The expected value of the `TyKind` here is `Projection` or `UnnormalizedProjection`, but the actual value is `Param`.

[2019-03-27 14:56] hgallagher1993 commented on #59458
Ya I'll take this on :+1:

[2019-03-27 15:27] eddyb commented on #59412
Oh, right, you can't do this on MIR because you need the LLVM frame sizes, so you need to emit some information into LLVM IR, or something like that.

As for the monomorphization collector being able to, you'd want to record the `is_direct_call == false` cases in this function, in order to be able to annotate the IR later:
https://github.com/rust-lang/rust/blob/c5fb4d0d2f464bc9ab61f7693ed4dde4d932

[2019-03-27 15:31] japaric commented on #59412
EDIT: nevermind, eddyb's comment above (which was posted as I was going to hit the comment button) answers my questions below.

Would it be possible to emit the LLVM metadata on the function definition (IR: `define`) iff that function gets reified (i.e. the compiler knows it will be called via a function pointer)? If so, I think that would be simpler than emitting the information separately.

If w

[2019-03-27 16:44] matthiaskrgr opened #59465 "x.py clean extracts bootstrap compiler just to delete it again, if called 2 times"
Running `./x.py clean` will extract the bootstrap compiler (beta) just to remove it again afterwards, if called consecutively.

[code]

repo @ c5fb4d0d2f464bc9ab61f7693ed4dde4d9326820

[2019-03-27 17:39] mati865 commented on #59411
I was able to reproduce it in Ubuntu 14.04 container and verified that https://github.com/rust-lang/rust/pull/59468 fixes it.

[2019-03-27 17:41] BurntSushi commented on #59411
@mati865 Thank you!!

[2019-03-27 17:49] mati865 commented on #59411
Sorry for breaking it, when I was testing dozen of different distros I didn't even think of running it on distro with so old binutils.

[2019-03-27 17:51] BurntSushi commented on #59411
Yeah unfortunately Ubuntu 14.04 is the default Linux VM on Travis. :-(

[2019-03-27 17:57] Mark-Simulacrum commented on #59465
This isn't really fixable - clean is implemented in Rust which means we need to compile rustbuild so we need to unpack the bootstrap compiler.

[2019-03-27 17:57] #59465 closed

[2019-03-27 18:33] DevQps commented on #57738
@steveklabnik I'd like to fix this, and since there were no other assignee's I didn't know who else to ping :)

I searched `libstd` and `libcore` for an implementation of `Rem<f32>` but nothing came up. I guess the reason for that is that it's builtin in the compiler? I was wondering is there any place where I can add documentation to this trait implementation? Or are we stuck here?

[2019-03-27 18:41] cuviper commented on #57738
@DevQps -- the actual operation is in the compiler, but the trait is still here:
https://github.com/rust-lang/rust/blob/33ef0bad21d6bb646c7c3ab0dbf381ca96c324bf/src/libcore/ops/arith.rs#L538-L552

[2019-03-27 18:54] dignifiedquire opened #59469 "Wrapping simd call results in compiler panic (nightly)"
Expected the following code to compile

[code]

But getting

[code]

Repro:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=36e55f5180a9cf903585dead5b4c2a8d

[2019-03-27 19:02] jonas-schievink commented on #59469
Also happens on beta, not on stable

[2019-03-27 19:03] jonas-schievink commented on #59469
Stable says:

[code]

[2019-03-27 19:13] steveklabnik commented on #57738
Beat me to it, @cuviper. Let me know if you need any help with that @devqps; with the macro it is a bit weird

[2019-03-27 19:14] dignifiedquire commented on #59469
For reference, the function signature as defined [here](https://doc.rust-lang.org/core/arch/x86/fn._mm_clmulepi64_si128.html) is exactly the same.

[2019-03-27 20:49] Manishearth commented on #42774
Is there an RFC or design document talking about what the current plans for allocators in stdlib collections are? The [allocators RFC](http://rust-lang.github.io/rfcs/1398-kinds-of-allocators.html#what-about-standard-library-containers) leaves this stuff undecided, and this issue seems to be an implementation tracking issue.

[2019-03-27 20:54] npmccallum commented on #27336
Is this the same issue I'm running into here?

[code]

[2019-03-27 21:28] DevQps commented on #57738
@cuviper @steveklabnik Thanks for the info! I took a look at it (and looked some information up about macro's as well). I see these solutions:

1. Write generic documentation inside `rem_impl_float` that covers both `impl Rem<f32>` and `impl Rem<f64>`. With this I mean that we use the term "float" instead of the more concrete "f32" and "f64". For as far as I know, the % operations do not differ be

[2019-03-27 21:41] SimonSapin commented on #42774
At this point I think we need a champion who would summarize what’s still unresolved in the (numerous) discussions so far and see, try to build consensus, and make set of proposals (possibly as a new RFC).

Note that I am not volunteering at this time :]

[2019-03-27 21:43] bryturner commented on #58840
Not sure if it triggers the same bug, but I found this issue while searching for a solution.
This code panics on 1.33 - 1.35, but does not panic on 1.32:

`
fn t8n<A,B,C>( f:impl Fn(A) -> B, g:impl Fn(A) -> C ) -> impl Fn(A) -> (B,C)
  where
    A: Copy
{
  move |a:A| -> (B,C) {
    let b = a;
    let fa = f(a);
    let ga = g(b);
    (fa, ga)
  }
}

fn main() {

  let f = |(_,_)| {  };
  let g =

[2019-03-27 21:43] DevQps commented on #58383
If there are no people that are willing to pick this up, I don't mind picking this up!
If I understand the conversation correctly the work that needs to be done is basically:

- Improve the documentation such that it's clear that the `dbg!` macro will also work in release builds (for testing reasons). But should it should be discouraged to actually use it for logging in (published) release builds.

[2019-03-27 21:57] Centril commented on #58383
This is already the case.

This remains to be done.

[2019-03-27 22:13] greg5678 commented on #58149
If you want to try Rust on an x390x system you can request access [here](https://linuxone.cloud.marist.edu/cloud/#/register?flag=vm).

[2019-03-27 22:19] matthewjasper commented on #58178
I did some investigation on this, it appears that we are still spending too much time on the closure bounds. Lazily determining the best constraint seems like the best way forwards here.

[2019-03-27 22:28] matthewjasper commented on #57642
Update: this is only an issue now with `-Zno-leak-check`

[2019-03-27 22:44] gnzlbg commented on #42774
Such a champion might probably want to start a working group, similar to the unsafe-code-guidelines, with its own github repo, where multiple parts of the "Allocators issue" can be explored in parallel, with active meetings to make progress, and where the parts of the issue that achieve consensus get merged slowly into a document with rationale, which is then sliced into suitable RFCs.

Summarizin

[2019-03-27 22:45] gnzlbg commented on #58149
The problem is more all the work required to set up that in CI, than getting access itself.

[2019-03-27 22:55] SimonSapin commented on #42774
Regarding the 2019 roadmap, allocators are already the one item specifically mention for the library team in https://github.com/rust-lang/rfcs/pull/2657. Though to some extent this might be wishful thinking as long as no-one steps up to lead this work.

I feel that this is a much smaller topic than unsafe code guidelines, but on further thought you’re probably right that this is a better model to

[2019-03-27 23:00] polybuildr commented on #57443
Aha, I have good news! I spoke to the relevant team at work and they confirmed that your approach seems fine to them: create a new repository with the appropriate license and then I'll contribute to it. They said I'm still contributing to the overall Rust project, it doesn't matter what the actual organisation of repositories you use.

So that's great. I'll spend some time cleaning up the code I w

[2019-03-27 23:35] polybuildr commented on #57443
Oops, I'm using "sync-cargo-lock" but that is just as bad as the previous order. :P

[2019-03-28 02:15] Gankro commented on #27336
Yes.

[2019-03-28 04:45] wchargin opened #59475 "Bors cheat sheet link dead in CONTRIBUTING.md"
The link in “For @bors, this [cheat sheet] is helpful” in the [“Helpful
Links and Information” section][sec] of the `CONTRIBUTING.md` guide
currently gives a 500:

This was previously fixed in #44004, but both the old link and the new
link now seem to be down.

[sec]: https://github.com/rust-lang/rust/blob/33ef0bad21d6bb646c7c3ab0dbf381ca96c324bf/CONTRIBUTING.md#helpful-links-and-information
[chea

[2019-03-28 05:44] #58055 closed

[2019-03-28 05:44] #53879 closed

[2019-03-28 05:44] #53802 closed

[2019-03-28 05:44] #59214 closed

[2019-03-28 05:44] #59418 closed

[2019-03-28 05:44] #52977 closed

[2019-03-28 05:47] rust-highfive opened #59477 "`miri` no longer builds after rust-lang/rust#59471"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#59471, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @cuviper, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @cuviper, the PR reviewer, and @rust-lang/compiler -- nomin

[2019-03-28 05:54] luqmana commented on #58602
https://reviews.llvm.org/D59916

[2019-03-28 06:22] vielmetti commented on #52362
I've run into this problem in that I can't generate wasm on arm64.

I'm testing this change to the build flags to see just how long Travis will take: https://github.com/vielmetti/rust/pull/1/commits/684f997e40038729d865e6e0cab59b8f50b99f79

[2019-03-28 08:17] richardwhiuk opened #59479 "Rust generate erroneous debug line information for non-local panic handlers"
Related to https://github.com/rust-lang/rust/issues/55352, Rustc 1.33 generates incorrect debugging information for panic handlers not in the current crate:

Compiling:

[code]

as `src/lib.rs`, Rust generates a `.debug_lines` section, which contains the following (from `readelf --debug-dump=decodedline`):

[code]

This means that the `/rustc/2aa4c46cfdd726e97360c2734835aa3515e8c858/src/libtest/li

[2019-03-28 09:27] RalfJung commented on #59477
Fix in progress at https://github.com/rust-lang/miri/pull/668

[2019-03-28 09:44] hawkingrei opened #59481 "cargo test fail when with '--release'"
I am writing a lib which is the ffi binding with libwebp ,libpng and so on. so I write some test for them. when I use 'cargo test' to test them, it passes, but it will fail using 'cargo test --release'.
but when I change opt-level to 0 in  `profile.release`,  it passes with '--release'

# how to reproducing the error?

you need install latest libwebp ,libpng and libjpeg-turbo.in mac, you can ```br

[2019-03-28 10:23] hellow554 commented on #59469
The actual ICE occurs first in nightly-2019-03-03 (c1d2d83ca...0ea22717a).

But interesting enough, stable (as jonas pointed out) procuces an error, saying, that the third argument must be a constant. Since nightly-2019-02-16 (f47ec2ad5...a9410cd1a) this does not emit an error anymore, but also does not ICE.

[2019-03-28 10:26] hellow554 commented on #59469
I guess for the "does not emit an error anymore" @eddyb can say something about it. https://github.com/rust-lang/rust/pull/58403 should be responsible for it.

[2019-03-28 10:37] pnkfelix commented on #59159
From https://github.com/rust-lang/rust/pull/58739#issuecomment-476387184, some follow-up tasks are associated with this 2-phase borrow (2PB) issue:

 * We need to develop and evaluate alternative semantic models,
 * We need to pin down more precisely the optimization impact, even if it is only a *potential* impact as of now,
 * We need to specify the impact of this choice on the rules for unsafe c

[2019-03-28 10:58] Centril commented on #57536
This was done in https://github.com/rust-lang/rust/pull/58044.

[2019-03-28 10:58] #57536 closed

[2019-03-28 12:01] hawkingrei commented on #59481
I use lldb to breakpoint at the error site.then i find that non-release the more a line of asm than release.

![图片](https://user-images.githubusercontent.com/3427324/55156221-4e2b9700-5194-11e9-8b35-50282185dea7.png)

[2019-03-28 12:12] #26933 closed

[2019-03-28 12:12] #37885 closed

[2019-03-28 12:12] #58827 closed

[2019-03-28 12:12] #59145 closed

[2019-03-28 12:12] #58663 closed

[2019-03-28 12:12] #59383 closed

[2019-03-28 12:12] #55416 closed

[2019-03-28 12:12] #55546 closed

[2019-03-28 12:20] pnkfelix commented on #58840
@bryturner based on the stack trace, I do not think that is the exact same bug.  Thanks for investigating; Lets make sure to file a separate issue for it!

[2019-03-28 12:22] pnkfelix commented on #58840
@bryturner also, your code seems to be missing the definition for `t7p`? (I recommend posting reproduction in the playpen play.rust-lang.org and seeing if they reproduce there, for ease of sharing and also catching little cut-and-paste omissions along the way.)

[2019-03-28 12:24] pnkfelix commented on #58840
I probably should have pinged @jatsrt when I wrote that question. Let's seeing if pinging here helps.

[2019-03-28 12:47] tumdum opened #59488 "Improvement for comparision against fn"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=94b61ff05ac39b98230b8b99fe7fcfbf))

Errors:

[code]
A much more useful note would be to suggest to the user that a instead of comparing function she should compare result of function evaluation - rustc should suggest that user should add pair of parentheses to call a function ("did you forget the ‘()’ ?"

[2019-03-28 13:01] xrl commented on #58817
I made a mistake! I thought just running "rustup update" was enough but I guess rustup was pinned to the "stable" nightly `nightly-2019-02-19`. I just ran `rustup default nightly; rustup update` and now the app is breaking with the same errors. Sorry for the confusion, I'm back to where I was before closing!

[2019-03-28 13:02] xrl commented on #58817
The error with updated nightly:
[code]

[2019-03-28 13:03] pnkfelix commented on #59477
T-compiler triage: marking P-high

[2019-03-28 13:10] pnkfelix commented on #59411
triage: P-high. driveby: approving PR #59468.

[2019-03-28 13:12] jonas-schievink commented on #59481
There is a lot of unsound code in that library. For example, doing `webp_config: &mut Default::default()` when `webp_config` is a `*mut _` will create a dangling pointer, which might then later be used in `WebPPicture::encode`.

Closing, since this is likely caused by incorrect unsafe code. If you can show that this issue happens even in the absence of any unsoundness, I can reopen.

If you have q

[2019-03-28 13:12] #59481 closed

[2019-03-28 13:17] pnkfelix commented on #59469
triage: P-high

[2019-03-28 13:42] Centril opened #59489 "Bors policy question: Auto-reassignment on r+"
Currently, the behavior of @bors is that whenever you `@bors r+` or `@bors r=UserFooBar`, the reviewer doesn't change. However, this makes it less clear who the current reviewer is. For example, the assignee might not have even looked at the PR before someone else has r+ed it. I believe having an up to date assignee more frequently would simplify triage. Also, as @pnkfelix noted:

While one could

[2019-03-28 13:54] pnkfelix opened #59490 "eventual goal: re-remove leak-check from compiler"
PR #58592 re-added the so-called leak check.

Re-adding the leak-check masked a number of bugs, where you need to use `-Z no-leak-check` to observe them again.

We plan to eventually re-remove the leak check. But before doing so, we need to double-check that all of the aforementioned masked bugs are either fixed, or at the very least revisited in terms of determining their priority in a leak-check

[2019-03-28 13:55] pnkfelix commented on #57374
triage: downgrading to P-medium.

Blocks: #59490

[2019-03-28 14:05] pnkfelix commented on #59411
triage: assigning self since I cannot assign @mati865

[2019-03-28 14:41] pnkfelix commented on #34596
(removing nomination label since @Centril self-assigned. I'm just going to assert "yes, this is important" until someone convinces me otherwise.)

[2019-03-28 14:56] pnkfelix commented on #57985
(oh I should have removed nominated tag from this)

[2019-03-28 14:59] pnkfelix commented on #58858
(and removing nomination now)

[2019-03-28 15:00] pnkfelix commented on #59137
and removing nomination tag

[2019-03-28 15:44] Centril commented on #46525
Nominating for some discussion on today's lang meeting.

----------------------------------

Also, here's an example of observable drop order:

[code]
prints:
[code]
showing that 5 happens before 3.
The `_` patterns makes no difference.

[2019-03-28 15:46] zhuxiujia opened #59492 "call String struct .clone() very very slow!"
call String struct .clone() very very slow!
<pre>
#[bench]
fn Bench_isOpt(b: &mut Bencher) {
    let s=String::from("asdfasdfasdf");
    b.iter(|| {
        s.clone();
    });
}
//test lib::RustExpressionEngine::runtime_test::Bench_isOpt       ... bench:          43 ns/iter (+/- 30)
</pre>

but in golang,clone string just  use
<pre>BenchmarkParser-12    	2000000000	         0.47 ns/op</pre>

Somet

[2019-03-28 16:10] Llaurence opened #59493 "format! ignores width argument while formatting something else than a primitive as Display"
The width field is ignored when displaying something other than a primitive type.

For example:
[code]
prints
[code]
instead of
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c2dea3d5eec5ea3b5118f1c45d5714dc