[2019-01-13 23:37] Mark-Simulacrum commented on #51929
I've nominated this for libs team to take a look at and decide whether or not to propose FCP for stabilization.

[2019-01-13 23:43] mjbshaw commented on #47442
This is no longer an issue.

[2019-01-13 23:43] #47442 closed

[2019-01-13 23:56] HeroicKatora commented on #50264
What about the name `deref_inner` for the case of `Option` and both arguments of `Result`; although the more though I put into it the more `as_deref` seems correct? Compared to other ref-utils this is missing the `mut` variants such as `deref_ok_mut`. I have mixed feelings about the api as a whole though, is there enough expressiveness advantage over a plain `result.as_ref().map(|t| &**t)`?

[2019-01-14 00:33] #56146 closed

[2019-01-14 00:39] scottmcm commented on #57555
I believe this is expected.  Even things like `if true` and `while false` aren't detected.

It's _definitely_ expected for things like `for _ in 1..0`, since that goes through a _ton_ of library code, and thus its dead-ness is not at all obvious to a compiler.

[2019-01-14 00:52] mark-i-m commented on #57224
I’m curious if you think that should be done as part of broader RFC reform or as its own measure?

[2019-01-14 00:55] mark-i-m commented on #57224
Specifically, I think that any successful process reforms will need to include heavy automation to scale well.

[2019-01-14 00:56] scottmcm commented on #57543
This sounds reasonable to me, especially with `signum(-0.0) => -0.0`.  (I couldn't see any guidance for this in 754 -- `copySign` and `isSignMinus` are clearly different things unhelpful for deciding this.)

Is this change allowed, though?  Does it need to be `signum_better`?

[2019-01-14 00:59] #57279 closed

[2019-01-14 01:00] #57472 closed

[2019-01-14 01:05] scottjmaddox commented on #53491
@mjbshaw Touché. Yes, I suppose you're right about the possibility of the struct being packed, and therefor needing `ptr::write_unaligned `. I had not considered that before, primarily because I've yet to use packed structures in rust. This should probably be a clippy lint, if it's not already.

[2019-01-14 01:19] xftroxgpx commented on #29239
I think this can be closed, as per this reasoning: https://github.com/rust-lang/rust/issues/29271#issuecomment-279102486

<details>

However, if someone wants me to test if this is issue is still true, please suggest how to set RUSTFLAGS? or rather, `-Z verbose` when building `rustc`.
According to [docs](https://doc.rust-lang.org/cargo/reference/environment-variables.html):

Now I wonder if `-Z ve

[2019-01-14 01:35] durka commented on #50264
It's less about expressiveness than discoverability I feel. I know the
as_ref + &** trick but it's hard to land on as a learner.

On Sun, Jan 13, 2019, 18:57 HeroicKatora <notifications@github.com wrote:

[2019-01-14 01:58] U007D commented on #50264
@RalfJung correctly points out that there's as much ref going on as deref;  As I think about this, it's about moving the outer ref onto the inner type, so how does `as_inner_ref()` sound to all of you?  Avoids the name collisions, too.

Also agree with @HeroicKatora that the `mut` variants are currently missing.  If this sounds good to the group, I'll get started on another pass over the next litt

[2019-01-14 02:01] HeroicKatora commented on #50264
Hm, I see how this could be troubling at first, even more so with `result.as_mut().map(|t| &mut **t)`. But in this case maybe the name should not be `deref` related afterall. While this maybe correct, one of the simplest issues where this API comes up might be finding a function of this type:

`fn problem<'a, 'b>(&'a Option<&'b SomeType>) -> Option<&'a SomeType>`

Another possibility would be to i

[2019-01-14 03:36] scottjmaddox commented on #57583
I am, indeed, able to reproduce on nightly:

[code]

[2019-01-14 03:44] nrc commented on #49803
Has anybody tried using metabuild? Does anybody have any feedback for us?

[2019-01-14 03:55] scottjmaddox commented on #57583
Out of 20 attempts, I saw 2 failures, so about 10% failure rate.

[2019-01-14 04:42] massih commented on #56673
@steveklabnik I am using `rustc 1.31.1` but I created the project using intellij instead of `cargo`, and there was no `edition = "2018"` in the `Cargo.toml`. After adding the edition in the cargo file it works, probably I messed it up during the project creation in intellij. Thanks for quick response.

[2019-01-14 06:30] jethrogb opened #57588 "Compiler suggests use of non-existent macro"
I'm quite puzzled by the compiler guidance here:

[code]

[code]

Why does it think `env::vav_os` is a macro?

[2019-01-14 06:36] #57348 closed

[2019-01-14 06:50] Centril commented on #57588
r? @estebank

[2019-01-14 07:41] hellow554 commented on #57558
@JakubOnderka please post a proper link to the playground by clicking on "share" in the upper right corner and copying that link it gives you.

[2019-01-14 07:42] dtolnay commented on #46091
I implemented a workaround in cargo-expand 0.4 for now by filtering the compiler's output through Syn. For example you can run:

#### expand contents of one module:

[code]

#### expand a single item (struct, function, trait, etc):

[code]

[2019-01-14 08:11] oli-obk commented on #29597
Is there a tracking issue for moving to a `Pin` based GC in servo?

[2019-01-14 08:21] SimonSapin commented on #29597
The current effort around GC safety is at https://github.com/asajeffrey/josephine/, but as far as I know it does not involve `std::pin::Pin`. @asajeffrey can say more.

[2019-01-14 08:43] Centril commented on #46205
@arielb1 Could you update the issue description to fix "TBD: write understandable version."? Thanks.

[2019-01-14 09:00] Xanewok opened #57591 "librustc_codegen_ssa: exported entry function symbol is hardcoded as "main""
Seems suspicious as observed by @Zoxc [here](https://github.com/rust-lang/rust/pull/57573/files/57886cf92a063f2ba1f51a44d4ecc85e2ba0256f#r247388333).

Could we have in theory something like (or anything else):
[code]

which would make this logic wrong?

[2019-01-14 09:07] JakubOnderka commented on #57558
Sorry, fixed

[2019-01-14 09:13] michaelwoerister commented on #57591
Yes, seems like an oversight.

[2019-01-14 09:22] #48103 closed

[2019-01-14 09:22] #52414 closed

[2019-01-14 09:37] petrochenkov commented on #26264
This was implemented in https://github.com/rust-lang/rust/pull/56225 and the tracking issue is https://github.com/rust-lang/rust/issues/49683

[2019-01-14 09:37] #26264 closed

[2019-01-14 09:40] petrochenkov commented on #57588
Duplicate of https://github.com/rust-lang/rust/issues/47361, diagnostics check whether the *first* segment of the path is a macro, and it its (`env!(...)`).

[2019-01-14 09:41] petrochenkov commented on #57588
Suggestions for macros were written before all the macro modularization reforms.

[2019-01-14 09:44] jethrogb commented on #57588
This can be closed as a duplicate if the description of #47361 is updated to be more generic.

[2019-01-14 10:59] alercah commented on #29625
I agree. `UnsafeFn` is meaningless and breaks the mechanics of unsafe proof obligations.

[2019-01-14 11:04] jscinoz commented on #52062
I think this is subtly different - #48820 was for `JoinHandle` to be marked with `#[must_use]` in general, whereas this issue is for the more narrow scenario where the spawned thread returns value (implying that there's something still to be done with this value?.

[2019-01-14 11:36] alercah opened #57593 "Multiple bindings of the same metavariable in a macro rule aren't detected until matching."
The following macro definition compiles:

[code]

Any attempt to match against this macro will result in an error, because the metavariable cannot be bound twice. There is no reason for the compiler to accept this definition as a result, since it always represents a bug, except for backwards compatibility. It should be fixed, either by assuring it won't break the ecosystem or by deprecating the be

[2019-01-14 11:38] shangchihh opened #57594 "Build failed due to Python27\lib\subprocess.py"
I am trying to build Rust from source on Windows, but meet an error:

![image](https://user-images.githubusercontent.com/43683886/51110498-db1cb080-1833-11e9-935d-b28687f56dd0.png)

Who could help me to solve this? Thanks.

[2019-01-14 12:32] shangchihh commented on #57594
@xftroxgpx Same error messages output.

[2019-01-14 12:36] xftroxgpx commented on #57594
try `./x.py build -vv` ?

[2019-01-14 12:39] shangchihh commented on #57594
@xftroxgpx
![image](https://user-images.githubusercontent.com/43683886/51113273-6ef27a80-183c-11e9-81af-007c61e08cff.png)

[2019-01-14 12:45] jonas-schievink commented on #57582
FWIW I also think it shouldn't collapse the item declaration by default (especially for traits and enums) since it's a decent and easy to parse overview

[2019-01-14 12:52] jonas-schievink opened #57595 ""trait objects are not yet implemented" ICE in rustdoc"
Running `cargo doc` on 1aim/asn1@aae670cca45d8632abbd390ab18df97d89becf0e (current master) causes an ICE while running rustdoc on the `serde_asn1` crate:

[code]

[2019-01-14 13:03] #53500 closed

[2019-01-14 13:06] xftroxgpx commented on #57594
WindowsError 5 is access denied, just not sure exactly what it refers to... especially since you seem to be running with full admin privileges(I guess?).

Try editing file `F:\dev\rust\src\bootstrap\bootstrap.py` at line 136, change it from:
`ret = subprocess.Popen(args, **kwargs)`
to:
`ret = subprocess.Popen(args, **kwargs, shell=True)`
Then rerun the `./x.py build -vv` command.

Credit for this

[2019-01-14 13:36] xftroxgpx opened #57596 "lots of undefined references at linking stage while trying to build current rust HEAD"
Current rust [HEAD](1d029c67e22b272ecc7a32044710600bfa3578e5) won't build:
I'm not sure if it's because I changed `verbose = 0` to `verbose = 2` or `./x.py build` to `./x.py build -vv` or it's just because I updated to HEAD. (hoping for the latter)

[code]

<details><summary>full output from a second run</summary>

[code]

</details>

<details><summary> config.toml used </summary>

[code]

</detai

[2019-01-14 14:33] SimonSapin commented on #57012
That is plainly not true.

Let’s take a recent run for example: https://crater-reports.s3.amazonaws.com/beta-1.32-2/index.html. Out of 50551 crates tested, 6446 (12%) are in "error" state: both "before" and "after" builds failed, and so Crater cannot deduce anything about them.

There could be a number of reasons for this. For example, https://github.com/tomaka/winit/pull/428 that we discussed abo

[2019-01-14 14:54] Centril commented on #57012
@cramertj So for the purposes of reaching consensus, even if you think a new crater run wouldn't be beneficial, let's please do a new one anyways along the lines @SimonSapin suggested in https://github.com/rust-lang/rust/issues/57012#issuecomment-452441160.

[2019-01-14 15:01] alercah opened #57597 "Nested `?` matchers can cause the compiler to infinite loop/crash"
The following code will cause the compiler to fail:

[code]

Playground link: https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=acce7614d74028b67c92a79b50b93522

It should error that the inner matcher can match an empty string and reject it, just as it does if `*` is used in place of `?`.

[2019-01-14 15:01] QuietMisdreavus commented on #57562
It's possible to add a "const stability" banner like the regular stability banner and make rustdoc look it up based on that attribute. @rust-lang/rustdoc

[2019-01-14 15:09] jonas-schievink commented on #57597
The fix should be very easy, since this was already fixed for `*` repetitions in https://github.com/rust-lang/rust/pull/36721 (original bug: https://github.com/rust-lang/rust/issues/5067):

https://github.com/rust-lang/rust/blob/1a3a3dfcdd7faf0b8ab266a79a4a35ab30e5136a/src/libsyntax/ext/tt/macro_rules.rs#L435-L440

Looks like `sub_seq.op` just needs to be checked against `?`, too.

[2019-01-14 15:17] Centril commented on #57597
cc @mark-i-m

[2019-01-14 15:19] alercah commented on #57597
Note that with `?` on the outside, this errors properly, although with inconsistent error messages: if the inner repetition uses `*` only, the error is "repetition matches empty token tree", but it seems that if any of the repetitions are `?`, then the error is "multiple successful parses".

[2019-01-14 15:22] oli-obk commented on #55913
Tracking now in https://github.com/rust-lang/rust/issues/57240

[2019-01-14 15:22] #55913 closed

[2019-01-14 15:22] oli-obk commented on #55513
now tracked in https://github.com/rust-lang/rust/issues/57240

[2019-01-14 15:23] oli-obk commented on #56197
Now tracked in https://github.com/rust-lang/rust/issues/57240

[2019-01-14 15:23] #56197 closed

[2019-01-14 15:46] #57406 closed

[2019-01-14 15:46] #29718 closed

[2019-01-14 15:46] #53445 closed

[2019-01-14 15:46] #44698 closed

[2019-01-14 15:46] #50065 closed

[2019-01-14 16:37] alercah commented on #41022
I'm popping in here while trying to more fully document the follow-set rules in the reference, and the `crate` discussion above doesn't quite make sense to me. Was the intent to exclude `crate` from the follow-set of `vis`? Because it is currently in it---both because `crate` has `can_begin_type()` and because `crate` is an identifier other than non-raw `priv`.

[2019-01-14 16:45] joekyo opened #57601 "[rustdoc/nightly] can not toggle source sidebar"
In nightly channel, the source code html pages generated by rustdoc has an icon at the left upper corner `>` , which can be used for toggling a list of the source files and it is quite handy.
The problem is that in the recent nightly version of rustdoc, maybe starting from January this year, the toggle icon is still there, but it doesn't work anymore. When it is clicked, the file list doesn't show

[2019-01-14 16:45] petrochenkov commented on #57593
Probably an accidental omission.
(Disclaimer: I never touched the code doing MBE matching and transcription.)

[2019-01-14 16:47] Centril commented on #57593
@petrochenkov do you know who to cc by any chance?

[2019-01-14 16:53] petrochenkov commented on #57593
Spirits of ancestors at this point.

@mark-i-m could be familiar with that code though after implementing `?`.

[2019-01-14 17:11] joekyo commented on #57601
Looks like the lack of `<div id="source_sidebar">...</div>` causes this problem.

[2019-01-14 17:15] FrankSD commented on #57128
Thank  you  so much@RalfJung

[2019-01-14 17:34] alercah opened #57603 "Consider whether repeated macro matchers need separator disambiguation for futureproofing"
The following macro is valid, and can be used:

[code]

However, if it's invoked in an ambiguous way, such as with `ex!(a, b)`, then it gives an error (no lookahead is performed to `)` to determine an unambiguous parse; examples can be constructed that avoid this unambiguity anyway).

Thus, while the original example compiles now, were `dyn Copy` to become a legal expression at some point in the f

[2019-01-14 17:49] cramertj commented on #57593
Worth noting that if we fix this it needs a crater run, since this would cause previously-compile-able-but-unusable macro_rules variants to stop compiling, e.g.:

[code]
This would all work fine, so long as no one was testing the `two_arg` case.

[2019-01-14 17:58] alexcrichton commented on #57583
Hm this definitely looks bad!

The fact that this is somewhat nondeterministic is both scary and possibly illuminating though. I wonder if this is perhaps a concurrency issue? What's happening is that LLD is writing a file to the filesystem which rustc then goes back over and rewrites, but if there's possibly multiple instances of rustc/LLD working over the same file then rustc will get a corrupte

[2019-01-14 17:58] bbigras commented on #57518
Here's a way to reproduce it with Nix but I have no idea how to have the Mozilla overlay use Rust from a local git checkout. I was able to reproduce it with Nix on Ubuntu.

- Install nix (see https://nixos.org/nix/ or run `curl https://nixos.org/nix/install | sh`)
- relog or run the command to have the environment variables set
- create the shell.nix file
- run `nix-shell`
- run `rustc -vV`

shell

[2019-01-14 17:59] alexcrichton commented on #51984
@drrlvn indeed that should be all that's necessary! If you'd like to make the PR you're also more than welcome to do so!

[2019-01-14 18:04] alexreg commented on #57603
I don't see `FIRST` defined in RFC 550, but I think I understand what you're saying anyway. (Nit: I think you meant to write `FIRST\*($t:ty)` and not `FIRST*($t:ty)`.)

Both rules seem sensible to me, and should minimally eliminate ambiguity, unless I'm missing something. It sounds like a Crater run would be sensible at some point soon. @estebank knows more than me about this topic though.

[2019-01-14 18:05] alercah commented on #57603
It's defined https://github.com/rust-lang/rfcs/blob/master/text/0550-macro-future-proofing.md in the section "FIRST, LAST"

[2019-01-14 18:09] cramertj commented on #57012
@SimonSapin The crater run on them happened in https://github.com/rust-lang/rust/pull/42894, when the warning was moved to deny-by-default. This would have tested direct compilation of all crates on crates.io, so `cap-lints` is irrelevant here.

[2019-01-14 18:17] BurntSushi commented on #57582
Yeah, if we're talking about defaults here, then I agree, we wouldn't want everything collapsed. The guiding principle there---at least IMO---is something like, "is it possible to get a high level overview of the API at a glance without having to scroll through reams of documentation?" Of course, my solution here (collapsing method docs) isn't the only answer to that, although it might be the simp

[2019-01-14 18:31] alexcrichton commented on #57534
Thanks for debugging this @mtak-! I wonder if we can fix this on our end? We might be able to prevent new TLS slots from being initialized after a thread has exited perhaps?

[2019-01-14 18:37] BurntSushi commented on #27747
Does there exist a path to stabilizing `SliceConcatExt`? Are there any specific outstanding issues associated with it? The specific use case I have for it is that I'd like for it to be able to work on other string types. e.g.,

[code]

The work-around is to define a separate trait that is probably identical to `SliceConcatExt`, but in my crate. But that means users won't benefit from having it in

[2019-01-14 18:37] nikomatsakis commented on #56375
@petrochenkov OK, thank you for the clarifications.

A key thing I think I was overlooking was the distinction of the macro vs type/module namespace.

[2019-01-14 18:57] nikomatsakis commented on #57593
My impression is that this is an oversight. We could fix it, or we could just add a lint. The latter seems like a good starting point and is what I personally would do.

[2019-01-14 18:59] alexreg commented on #57603
@alercah Ah, it wasn't in the original PR text, must have been added after. Thanks.

[2019-01-14 19:08] xftroxgpx commented on #57603
@alex apparently added in this commit https://github.com/rust-lang/rfcs/commit/3c4f0f6fb9b9c9ca2d8cb956129e934cdcf84239

[2019-01-14 20:06] TheDan64 commented on #44930
@dlrobertson Do you have any update on this? If someone had the time, would it be possible to provide assistance in any way?

[2019-01-14 20:50] retep998 commented on #57594
Do you get the same error if you try to build Rust in powershell instead of git bash/msys2?

[2019-01-14 21:03] dlrobertson commented on #44930
@TheDan64 thanks for checking up on this, and there is definitely enough work to share! I'll use your prompt as a chance to give a general post on the status of my current work and the general state of things :smile:

## Defining "true" C variadic functions in Rust

 - [x] Update parsing to allow for implementing C variadic functions
 - [x] Spoof the `VaList` argument for Rust defined C variadic f

[2019-01-14 21:05] scottjmaddox commented on #57583
Okay, I left out an important detail: this is being run in a linux docker container on macOS host, with the CARGO_TARGET_DIR directory mounted from the host. Rerunning it without mounting the CARGO_TARGET_DIR (i.e. writing to the container's filesystem directly), out of 33 attempts I saw 0 failures. And just for confirmation I reran it *with* the CARGO_TARGET_DIR mounted, and out of 20 attempts I

[2019-01-14 21:18] ExpHP commented on #57543
Surely nobody is considering changing the semantics of the existing function, I hope!
I'm quite certain that even I have code that would break if this was changed.  Simple things like dividing by `signum`.  (or more dividing `a` by `b`, where `b` happens to have a factor of `signum(a)`).

The current definition is not without its use cases.  Namely, it treats `+/-0.` as *limits* of x approaching 0

[2019-01-14 21:22] alexcrichton commented on #57583
Ok that does indeed seem suspect! I think we can definitely focus on the directory mounts here rather than concurrency. I'm less curious about the contents of the files and moreso if they're different. If you, after the compiler finishes, see two different files (like different hashes) that's worrisome. I'd also be curious if you could try running the one the panics through `wasm2wat` or some othe

[2019-01-14 21:38] mark-i-m commented on #57593
I would prefer to fix it over an edition boundary and warn for now.

[2019-01-14 21:42] LukasKalbertodt commented on #57216
I'm hitting this bug, too. For me, `cargo clean` doesn't help -- `rustc` always crashes.

[2019-01-14 21:43] joshtriplett commented on #17346
I did manage to get a Rust program to link with `-nostartfiles -nostdlib`, which removed these errors, but got the following spurious warning:

[code]

[2019-01-14 21:52] ExpHP commented on #57541
The computation of `y` could have had side effects.  The computation of `Y` cannot.

[2019-01-14 21:54] leonardo-m commented on #57541
OK, so let's close this issue down?

[2019-01-14 22:06] scottjmaddox commented on #57583
Diff between two failures:

[code]

[2019-01-14 22:06] mark-i-m commented on #57597
I've opened  #57610

[2019-01-14 22:07] scottjmaddox commented on #57583
And, in case it helps, between a success and a failure:

[code]

[2019-01-14 22:23] MSleepyPanda opened #57611 "ICE when inferring the type of existential type with trait alias bounds"
Minimised, reproducible example:
[code]
See [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d912f52f2104d47a66bd32d2fe1263e3)

Backtrace
[code]

[2019-01-14 22:34] matprec opened #57612 "Trait aliases considers same type as not equal to itself if used in `impl Trait` return type"
Example:
[code]
Workaround: Replace `existential type Bar: Baz<Self, Self>;` with `existential type Bar: Fn(&X) -> &X;`
Possibly related to #57611
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7b3002c3a65f4257d93f006b0047e1b2)

[2019-01-14 22:39] matthiaskrgr opened #57613 "diagnostics: dead_code does not track trait impls (false negative: unused struct with Clone derived)"
there's no `dead_code` warning for

[code]
while
[code]
correctly warns:
[code]

reproduces with stable 1.31.1, beta 1.32.0-beta.14 and nightly 1.33.0 2019.01.13

[2019-01-14 23:06] nnethercote commented on #56334
This broke compilation of existing code in the rustc-perf benchmark suite, see https://github.com/rust-lang-nursery/rustc-perf/pull/325

I see the comment "We don't guarantee backwards-compatibility for `#![deny(warnings)]`" above, but I thought it might be useful to note some practical consequences.

[2019-01-14 23:19] arielb1 commented on #10876
This looks like it (see also #10520). I couldn't find a concrete test for this at a quick look, however.

[2019-01-14 23:46] scottjmaddox commented on #57583
I just ran `wasm2wat` on the generated `wasm` file, and it didn't complain about any problems. Are there any more in-depth checks I can do, or is it already doing a full validity check? The command help seems to suggest you can only disable checks with a command line options, not enable any, but just want to be sure.

I'll take a look at trying your `cargo rustc -- -C save-temps -Z print-link-args

[2019-01-14 23:50] earthengine commented on #50547
I would write an alternative to solve the `await` syntax.

First of all I like the idea that put the `await` as a postfix operator. But `expression.await` is too much like a field, as already pointed out.

So my proposal is `expression awaited`. The disadvantage here is `awaited` is not yet preserved, but it is more natual in English and yet there is no such expressions is valid in Rust right now,

[2019-01-14 23:51] alexcrichton commented on #57583
Hm ok... I do believe `wasm2wat` performs full checks without any flags, or at least I've had it complain at me in the past without passing flags.

It does look like the wasm file is differing between success and failure. (presumably the `client_wasm.wasm`) file. That's... expected though now that I think about it because rustc is actually rewriting the wasm.

@scottjmaddox is there perhaps a way

[2019-01-15 00:20] stjepang commented on #50547
@earthengine

While I'm not sold on the `awaited` keyword, I think you're onto something.

The key insight here is: `yield` and `await` are like `return` and `?`.

`return x` returns value `x`, while `x?` unwraps result `x`, returning early if it's `Err`.
`yield x` yields value `x`, while `x awaited` awaits future `x`, returning early if it's `Pending`.

There's a nice symmetry to it. Perhaps `awa

[2019-01-15 00:31] cramertj commented on #50547
`let x = x.do_something() await.do_another_thing() await;`
`let x = x.foo(|| ...).bar(|| ... ).baz() await;`

[2019-01-15 00:31] alexreg opened #57616 "No ordinary backtrace when query stack is printed"
When debugging rustc, I often want backtraces, naturally. Normally they appear fine, but sometimes, during queries, I only get the query stack printed, without the ordinary backtrace. That is, I get something like

[code]

but not something like

[code]

Really, I want both in such circumstances.

Note, I'm building rustc master on macOS 10.14.2.

(P.S. Is there a reason line numbers aren't printe

[2019-01-15 00:41] novacrazy commented on #50547
I'm not a fan of a postfix await syntax for the exact reason @cramertj just showed. It reduces overall readability, especially for long expressions or chained expressions. It doesn't give any sense of nesting like `await!`/`await` would. It doesn't have the simplicity of `?`, and we're running out of symbols to use for a postfix operator...

Personally, I'm still in favor of `await!` for the reaso

[2019-01-15 00:54] earthengine commented on #50547
In Rustfmt standards, the example shall be written

[code]
I can hardly see how this affects readablity.

[2019-01-15 01:00] joshtriplett commented on #50547
I like postfix await as well. I think that using a space would be unusual and would tend to break mental grouping. However, I *do* think that `.await!()` would pair nicely, with `?` fitting either before or after, and the `!` would allow for control-flow interactions.

(That doesn't require a fully general postfix macro mechanism; the compiler could special-case `.await!()`.)

[2019-01-15 01:03] cramertj commented on #50547
I started out really strongly disliking the postfix `await` (with no `.` or `()`) since it looks pretty strange-- folks coming from other languages will get a good chuckle at our expense for sure. That's a cost we should take seriously. However, `x await` is clearly not a function call or a field access (`x.await`/`x.await()`/`await(x)` all have this problem) and there're fewer funky precedence is

[2019-01-15 01:04] rosscanning commented on #57216
I have hit what is probably the same bug, so here's my repro:
`struct SomeStruct {}

fn group_by_shifts<'a, I, J, F>(trips: I, mut on_trip: F)
where
    I: Iterator<Item = (&'a SomeStruct)>,
    J: Iterator<Item = (&'a SomeStruct)>,
    F: FnMut(u32, J),
{
    for g in trips {
        on_trip(123, &g as &Iterator<Item = (&'a SomeStruct)>);
    }
}
`

[2019-01-15 01:12] novacrazy commented on #50547
Why not both?

[code]

I do see the appeal of postfix more now, and bordering on liking it more in some scenarios. Especially with the above cheat, which is so simple it doesn't even need to be provided by Rust itself.

So, +1 for postfix.

[2019-01-15 01:16] xftroxgpx commented on #57596
I did a `git clean -dfx` to ensure proper cleaning, then updated to latest HEAD which is 03acbd71c977cd63ce5f39ba9b6fe9ffd578785a

with `RUSTFLAGS="-Zverbose"` compile still fails at linking stage in `Building stage1 compiler artifacts (x86_64-unknown-linux-gnu -> x86_64-unknown-linux-gnu)`

[Raw](https://gist.githubusercontent.com/xftroxgpx/14976c5e388a3d3fee6addf0fc1a8560/raw/c9cdafc2591e3b28d6b

[2019-01-15 01:17] mark-i-m commented on #57593
I opened #57617, for the technical parts, but we need to sort out policy before I can finish it.

[2019-01-15 01:35] zhangaz1 opened #57618 "Can you tell me why the test3 has error? thank you"
[code]
is ok!

[code]
is ok too.

[code]
will be error:
[code]

[2019-01-15 01:41] #55600 closed

[2019-01-15 01:50] scottjmaddox commented on #57583
Okay, I'm pretty sure this is not a Rust bug afterall, so I'm closing this issue. In order to keep troubleshooting without hindering development, I copied the whole project directory. But now, in the copy, I cannot reproduce the ICE. Out of 100 runs, I saw 0 failures. As a sanity check, I ran the same build script in the old directory (in parallel) and saw 17 failures out of 100... :sigh:

So, lik

[2019-01-15 01:50] #57583 closed

[2019-01-15 01:51] earthengine commented on #50547
Right now, we kind of run out of operators in simple ASCII characters for the postfix operator. However how about

[code]

[2019-01-15 01:58] lzutao commented on #57618
The error is right. You either have multiple shared (immutable) borrow or one mutable
borrow.
In this case, you use `x` and `y` in the same scope, which is 2 mutable borrows.

[2019-01-15 02:04] shangchihh commented on #57594
@xftroxgpx `ret = subprocess.Popen(args, **kwargs, shell=True)` has a syntax error.

[2019-01-15 02:08] shangchihh commented on #57594
@retep998 Yes, the same error in PowerShell.

[2019-01-15 02:19] zhangaz1 commented on #57618
thank you

[2019-01-15 02:19] #57618 closed

[2019-01-15 03:33] Manishearth opened #57619 "Importing from the wrong module leads to privacy error, which is unhelpful"
[code]

this kind of thing happens pretty often for me, where I try importing from the wrong module.

This gives me the following error:

[code]

this is misleading because most Rust mental models don't consider `use` statements to be private instances, they just work that way.

Ideally, this error would notice that it's a private _use_ statement, and instead backtrack it to find the _actual_ path

[2019-01-15 03:41] goriunov commented on #50547
About having many different ways of writing the same code, i don't i personally don't like it. The main reason it much harder for people who are new to have proper understanding what it the right way or point of having it. The second reason is that we will have many different project which use different syntax and it would be harder to jump between and read it (specially for new comers to the rust

[2019-01-15 03:41] jethrogb opened #57620 "move test::black_box to core::hint"
Seems like a good place to put it?

[2019-01-15 03:51] jethrogb commented on #57613
Dupe of #47851

[2019-01-15 03:57] earthengine commented on #50547
@goffrie Yes I agree that we should not have many different ways to do the same thing. However I was just proposing different alternatives, the community only need to pick one. Therefore this is not really a concern.

Furthermore, in terms of `await!` macro there is no way to stop the user inventing their own macros to do it differently, and Rust is intended to enable this. Therefore "having many

[2019-01-15 04:00] alexreg commented on #57616
The issue seems to be that `backtrace::print` is returning `Err(Custom { kind: Other, error: UnwindError(_URC_NORMAL_STOP) })` in such scenarios. Odd.

[2019-01-15 05:25] cbeck88 commented on #54010
I have the same issue, error message seems to be spurious

[2019-01-15 05:39] matthiaskrgr commented on #57613
Interesting..

why is this only a problem for `#[derive(Clone)]` but not for `#[derive(Debug)]` though?

[2019-01-15 05:48] jethrogb commented on #57613
I'm guessing because `clone` returns `Self`

[2019-01-15 06:30] thedrow opened #57622 "Detect loops that cannot be automatically vectorized"
Clang has a warning option that warns about loops that cannot be automatically vectorized.
This is often important for developers who'd like to optimize their code by manually using intrinsics or ordering the code in an auto-vectorizable way.
rustc would benefit from such option.

[2019-01-15 07:21] earthengine commented on #48055
(moved from [internals](https://internals.rust-lang.org/t/please-not-to-ship-unsized-local-until-deprecating-bare-trait-objects/9203))

I recently make a lot of mistakes by missing impl in function signatures. Almost everytime I was protected by the fact that unsized values cannot appear in function signatures, either argument or return position.

For myself, I would turn on #![deny(bare_trait_obj

[2019-01-15 07:22] Centril commented on #57593
Let's do a crater run before setting out any policy. I think this is clearly a bug tho and thus an edition boundary seems excessive.

[2019-01-15 07:55] alercah commented on #57593
Waiting for an edition boundary has no value if the goal is to eventually make it deny-by-default across all editions.

[2019-01-15 08:11] rkruppe commented on #57620
Currently proposed in https://github.com/rust-lang/rfcs/pull/2360 and evidently there's enough to bikeshed there that an RFC is appropriate.

[2019-01-15 08:54] Centril commented on #50547
@novacrazy

The expression `yield 42` is at the type `!`, whereas `foo.await` is at type `T` where `foo: impl Future<Output = T>`. @stjepang makes the right analogy with `?` and `return` here. `await` is not like `yield`.

You'll need to name the macro something else because `await` should remain a true keyword.

---------------------

For a variety of reasons, I'm opposed to prefix `await` and ev

[2019-01-15 09:06] pravic opened #57628 "Nightly documentation is broken"
Windows, different browsers.

Nightly https://doc.rust-lang.org/nightly/std/path/struct.Path.html#method.is_absolute
Stable https://doc.rust-lang.org/stable/std/path/struct.Path.html#method.is_absolute

Link text is invisible:

![image](https://user-images.githubusercontent.com/724639/51169768-c553cd80-18bd-11e9-8feb-180c376273e2.png)

[2019-01-15 09:07] pravic commented on #57628
cc @GuillaumeGomez

[2019-01-15 09:18] AB1908 commented on #53787
@estebank: If I RTFMed correctly, I think the test should be a `compile-fail` type which I should add according to the [test adding guide](https://rust-lang.github.io/rustc-guide/tests/adding.html#explanatory_comment). Is this correct?

[2019-01-15 09:30] parasyte commented on #50547
Tilde `~` was used in the old days for the heap allocated type: https://github.com/rust-lang/rfcs/blob/master/text/0059-remove-tilde.md

[2019-01-15 09:35] jethrogb commented on #50547
Can `?` be reused? Or is that too much magic?

[2019-01-15 09:36] earthengine commented on #50547
@parasyte Yes I remember. But still it was long gone.

[2019-01-15 09:43] estebank commented on #53787
@AB1908 almost, we're phasing `compile-fail` away, being subsumed by `ui` tests. You can create `.stderr` files for your new tests using `./x.py test src/test/ui --stage1 --bless`.

[2019-01-15 10:04] AB1908 commented on #53787
So do I go ahead and create a regular test and then use `x.py`? Also, how was I supposed to find out about the phasing out of `compile-fail`? I wasn't exactly thorough when looking through the docs.

Thanks for the help.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Esteban Kuber <notifications@github.com>
Sent: Tuesday, January 15, 2019 3:14:06 PM
To: rus

[2019-01-15 10:35] ordovicia commented on #57618
@zhangaz1 BTW, please ask a question at [Stack Overflow](https://stackoverflow.com/questions/tagged/rust) or [Users forum](https://users.rust-lang.org/).
See ["Getting Help" section in the README.md](https://github.com/rust-lang/rust#getting-help).

[2019-01-15 10:52] raphaelcohn commented on #51556
@sanxiyn Good practice would be to put a reference to the duplicate bug in your close message...

[2019-01-15 12:16] zroug commented on #53546
I still get the warning for this example:

[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=944fd033d23b9698f766485ec9e452c8

[2019-01-15 12:21] petrochenkov commented on #53546
Reopening to investigate https://github.com/rust-lang/rust/issues/53546#issuecomment-454372879

[2019-01-15 12:44] rolandsteiner commented on #50547
I had the same thought regarding re-use of `?` as @jethrogb.

@Nemo157

Perhaps I'm missing some details on `?` and the `Try` trait, but where/why is that explicit? Isn't a `return` in an async closure essentially the same as `yield`, just a different state transition?

I don't see why that should be confusing. If you think of `?` as "continue or diverge", then it seems natural, IMHO. Granted, cha

[2019-01-15 12:45] #37685 closed

[2019-01-15 12:51] Ekleog commented on #50547
@jethrogb @rolandsteiner A struct could implement both `Try` and `Future`. In this case, which one should `?` unwrap?

[2019-01-15 12:57] GuillaumeGomez commented on #57628
Nice catch. Will send the patch as soon as I can.

[2019-01-15 12:58] jethrogb commented on #50547
No it couldn't because of the blanket impl Try for T: Future.

[2019-01-15 13:36] Centril commented on #50547
No, it's not *"just"* bike-shedding as if that were something banal and insignificant. Whether `await` is written prefix or postfix fundamentally impacts how async code is written wrt. method chaining and how composable it feels. Stabilizing on `await!(future)` also entails that `await` as a keyword is relinquished which makes future usage of `await` as a keyword impossible. "At least for now" sug

[2019-01-15 13:41] nanpuyue opened #57631 "`if` goto wrong branch in some cases on mips-unknown-linux-musl"
## code
[code]
## output
[code]
![20190115212448](https://user-images.githubusercontent.com/1524609/51183490-55206880-190c-11e9-8aa1-992064e75855.png)

## environment

target: `mips-unknown-linux-musl`
system: openwrt 18.06.1
rustc: `1.31.1 (b6c32da9b 2018-12-18)`/`1.33.0-nightly (f381a9625 2019-01-04)`/`1.33.0-nightly (03acbd71c 2019-01-14)`
build: debug

[2019-01-15 13:44] joekyo commented on #57601
cc @GuillaumeGomez

[2019-01-15 13:57] chpio commented on #50547
we could make it a keyword in the next epoch, requiring the raw ident syntax for the macro, just we did with `try`.

[2019-01-15 14:10] Pauan commented on #50547
@chpio [`await` is already a keyword in Rust 2018.](https://rust-lang-nursery.github.io/edition-guide/rust-2018/control-flow/async-await-for-easier-concurrency.html)

[2019-01-15 14:25] bzbarsky opened #57632 "rustc reliably dies partway through a Firefox build on Mac"
For at least the last several weeks, whenever I do a clean Firefox build (ccache, bit no sccache) on Mac OSX 10.12, rustc dies partway through the build. If I just restart the build it usually completes, though sometimes I'll need multiple restarts.

The key part of the build log seems to be:

[code]

I expect "os error 35" is EAGAIN.  It's possible that rustc is running out of file descriptors or

[2019-01-15 14:33] Nemo157 commented on #50547
@rolandsteiner

`yield` doesn’t exist in an async closure, it’s an operation introduced during the lowering from `async`/`await` syntax to generators/`yield`. In the current generator syntax `yield` is quite different to `return`, if the `?` expansion is done before the generator transform then I don’t know how it would know when to insert a `return` or a `yield`.

It might be logical, but it seem

[2019-01-15 14:42] pravic commented on #57628
Thanks!

[2019-01-15 14:42] withoutboats commented on #50547
I wrote [a blog post](https://boats.gitlab.io/blog/post/await-syntax/) about `await` syntax outlining my preference as of two months ago. However, it basically assumed a prefix syntax, and just considered the precedence issue from that perspective. Here are some additional thoughts now:

* My general opinion is that Rust has really stretched its unfamiliarity budget already. It would be ideal for

[2019-01-15 14:59] wesleywiser commented on #57616
Do you have `debug-info-lines=true` in your `config.toml`?

From the [rustc guide](https://rust-lang.github.io/rustc-guide/compiler-debugging.html):

[2019-01-15 15:09] Pauan commented on #50547
Sidenote: it's always possible to use parens to make the precedence clearer:

[code]

This isn't exactly ideal, but considering that it's trying to cram a lot onto a single line, I think it's reasonable.

And as mentioned before, the multi-line version is very reasonable (no extra parens):

[code]

[2019-01-15 15:17] feymartynov opened #57633 "Stack overflow on cloning static boxed value with a generic impl"
Here's a sample program that uses a static HashMap of structs containing boxed values:

[code]

It works as expected but when I replace redundant impl blocks with a generic one like this:

[code]

it fails with stack overflow in runtime:

[code]

I'm new to Rust and not sure whether it's a bug. Maybe I just do something wrong. However I found the error strange because I don't explicitly do recursi

[2019-01-15 15:22] Centril commented on #50547
In the case of `try { .. }`, we took familiarity with other languages into account. However, it was also the right design from a POV of internal consistency with Rust. So with all due respect to those other languages, internal consistency in Rust seems more important and I don't think prefix syntax fits Rust either in terms of precedence or in how APIs are structured.

I agree with this sentiment,

[2019-01-15 15:33] jonas-schievink commented on #57632
Have you tried rising your fd limit? Although printing to stdout shouldn't really need to allocate an fd, and EAGAIN seems like an odd error to get when running out of fds.

[2019-01-15 16:05] matthiaskrgr commented on #57622
I think you want something like
`RUSTFLAGS="-C remark=loop-vectorize -C debuginfo=2" cargo build --release`

[2019-01-15 16:10] konstin commented on #57497
It's totally possible that rust can't do anything about that, but I'm a bit confused by the following: When I remove `__cxa_thread_atexit_impl` from std, I get binaries that work on cent os 7, even when I compile on ubuntu 18.04. As far as I've understood it, `__cxa_thread_atexit_impl` is an optional optimization, so wouldn't it be possible to only use that symbol when it's actually present on the

[2019-01-15 16:35] #56934 closed

[2019-01-15 16:35] #56768 closed

[2019-01-15 16:44] GuillaumeGomez commented on #57601
Good catch! Will fix as soon as possible.

[2019-01-15 16:53] sfackler commented on #57497
That's not how extern_weak linkage works, though. The nullability decision is made at link time, not run time:

https://llvm.org/docs/LangRef.html#linkage-types

[2019-01-15 16:57] bzbarsky commented on #57632
I tried raising it from 10240 to 40000, but I still get the same failure.

It's possible that fds are not the issue...

[2019-01-15 17:00] mark-i-m commented on #57593
No I meant that we error only in the new edition. I agree that we should do a crater run first, but I expect this to be cause a bunch of breakage.

[2019-01-15 17:01] mark-i-m commented on #57593
I will try to fix up my PR later do we can do a crater run

[2019-01-15 17:10] cramertj commented on #57593
What's the purpose of introducing it as an error rather than a deny-by-default lint?

[2019-01-15 17:15] andreeaflorescu opened #57638 "PanicInfo get message in rust stable?"
Hey, I was wondering if there is any plan in having the method `message` from `PanicInfo` available in rust stable. The [documentation](https://doc.rust-lang.org/1.29.0/std/panic/struct.PanicInfo.html) points to an issue that is closed (https://github.com/rust-lang/rust/issues/44489).

Related to the following issues in Firecracker:
- [pretty-printing panics](https://github.com/firecracker-microvm

[2019-01-15 17:18] rozbb opened #57639 "Regression in trait bounds that are redundant with associated type's HRTB"
The title is a mouthful, so let me explain and give some motivation. Say I have a trait `MyTrait` with an associated type `MessageType`. This message type must be deserializable (in the serde sense), i.e., `MessageType: for<'a> Deserialize<'a>`. Now suppose I have a generic struct `GenericStruct<T>` where `T: MyTrait`. I want the struct to contain a message, so I put a thing of type `T::MessageTyp

[2019-01-15 17:30] Centril commented on #57593
Let's not speculate about what to do without facts... :)

[2019-01-15 17:44] glaebhoerl commented on #50547
Granting that every option has a downside, and that one of them should nonetheless end up being chosen... one thing that bothers me about `foo.await` is that, even if we assume that it *won't* literally be mistaken for a struct field, it still *looks like* accessing a struct field. The connotation of field access is that nothing particularly impactful is happening -- it's one of the least-effectfu

[2019-01-15 17:45] stephaneyfx commented on #57639
I think this is a minimal reproduction example. It compiles on stable (1.31.1) but not on nightly. [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5d18695429eef7daa5ef3186f15ced94)

[code]

[2019-01-15 17:54] Centril commented on #50547
@glaebhoerl Does syntax highlighting have no/insufficient impact on what it looks like and the way your brain processes things? At least for me color and boldness matters a great deal when reading code so I wouldn't skip over `.await` that has a different color than the rest of the things.

[2019-01-15 17:58] lnicola commented on #50547
I strongly agree with this. `await` is a control flow operation like `break` or `return`, and should be explicit. The proposed postfix notation feels unnatural, like Python's `if`:  compare `if c { e1 } else { e2 } ` to `e1 if c else e2`. Seeing the operator at the end makes you do a double-take.

I also don't see how `e.await` is more consistent with the Rust syntax than `await!(e)` or `await e`.

[2019-01-15 18:00] alexcrichton commented on #57518
Hm ok is there a way to reproduce this without nix? Or perhaps can you try to narrow it down to see what's causing it?

[2019-01-15 18:09] glaebhoerl commented on #50547
(Good question, I'm sure it would have *some* impact, but it's hard to guess how much without actually trying it (and substituting a different keyword only gets so far). While we're on the subject... a long time ago I mentioned that I think syntax highlighting should highlight *all* operators with control flow effects (`return`, `break`, `continue`, `?`... and now `await`) in some special extra-di

[2019-01-15 18:11] Centril commented on #50547
We agree. The notations `foo.await`, `foo await`, `foo#`, ... *are explicit*. There's no implicit await being done.

The syntax `e.await` per se isn't consistent with Rust syntax but postfix generally fits better with `?` and how Rust APIs are structured (methods are preferred over free functions).

The `await e?` syntax, if associated as `(await e)?` is completely inconsistent with how `break` an

[2019-01-15 18:30] lnicola commented on #50547
The idea came up a couple of times on this thread (the "implicit await" proposal).

There is `try!` (which served its purpose pretty well) and arguably the deprecated `select!`. Note that `await` is "stronger" than `return`, so it's not unreasonable to expect it to be more visible in the code than `?`'s `return`.

It also has a (more noticeable) preference for prefix control flow operators.

I pre

[2019-01-15 18:34] novacrazy commented on #50547
My opinion on this seems to change every time I look at the issue, as if playing Devil’s advocate to myself. Part of that is because I’m so used to writing my own futures and state machines. A custom future with `poll` is totally normal.

Perhaps this should be thought of another way.

To me, zero-cost abstractions in Rust refers to two things: zero-cost at runtime, and more importantly zero-cost

[2019-01-15 18:34] rpjohnst commented on #50547
I don't see how...? `await(foo)?`/`await { foo }?` seems totally fine in terms of operator precedence and how APIs are structured in Rust- its downside is the wordiness of parens and (depending on your perspective) chaining, not breaking precedent or being confusing.

[2019-01-15 18:45] Centril commented on #50547
I think the operative word here is *deprecated*. Using `try!(...)` is a *hard error* on Rust 2018. It is a hard error now because we introduced a better, first-class, and postfix syntax.

The `?` operator can likewise be side-effecting (through other implementations than for `Result`) and performs control flow so it's quite "strong" as well. When it was discussed, `?` was accused of ["hiding a ret

[2019-01-15 18:48] seanmonstar commented on #50547
I may be in the minority with this opinion, and if so, ignore me:

Would it be fair to move the prefix-vs-postfix discussion to an Internals thread, and then simply come back here with the outcome? That way we can keep the tracking issue to *tracking the status* of the feature?

[2019-01-15 18:51] cramertj opened #57640 "Resolve `await` syntax"
Before commenting in this thread, please check https://github.com/rust-lang/rust/issues/50547 and try to check that you're not duplicating arguments that have already been made there.

---

Notes from shepherds:

If you're new to this thread, consider starting from https://github.com/rust-lang/rust/issues/57640#issuecomment-456617889, which was followed by three great summary comments, the latest

[2019-01-15 18:52] cramertj commented on #50547
@seanmonstar Yeah, I strongly sympathize with the desire to limit discussion on tracking issues and have issues that are really just status updates. This is one of the issues I hope we can tackle with some revisions to how we manage the RFC process and issues in general. For now, I've opened a new issue [here](https://github.com/rust-lang/rust/issues/57640) for us to use for discussion.

IMPORTANT

[2019-01-15 18:55] mati865 commented on #56483
I can reproduce it with some old nightlies but `rustc 1.33.0-nightly (03acbd71c 2019-01-14)` works just fine.

[2019-01-15 19:03] nikic commented on #57631
Deja vu. This looks very similar to the recent https://bugs.llvm.org/show_bug.cgi?id=40172 in wasm and after taking a quick look at Mips FastISel, it seems to have a similar issue. The branch condition is not zexted.

[2019-01-15 19:16] nikic commented on #57152
Fix landed upstream (https://reviews.llvm.org/rL351127).

@cuviper Do you plan to rebase the monorepo fork another time? If not we can just cherry-pick this later.

[2019-01-15 19:20] cuviper commented on #57152
@nikic Yes, I plan to rebase once more when 8.x is branched tomorrow, then I'll open a rust PR.

[2019-01-15 19:31] dtolnay commented on #57639
Changed the title because this is not specific to custom derives. The characteristic behavior seems to be a trait bound `T::Item: Foo<'a>` that is redundant with a HRTB on the same associated type, `Item: for<'a> Foo<'a>`.

[2019-01-15 19:31] nikomatsakis commented on #56877
OK, so let me try to open up this branch as a PR and we'll take it from there. I have to figure out the testing, most of all.

[2019-01-15 19:31] dtolnay commented on #57639
Mentioning @nikomatsakis and @scalexm because this seems likely to do with universes.

[2019-01-15 20:05] JohnTitor commented on #57382
@estebank I found the cause, so I can add spans. But I cannot find other place to add spans, could you tell me?

[2019-01-15 20:33] nikomatsakis commented on #57362
OK so I spent some time investigating this, but I failed to leave some notes. Here goes.

First off, I believe the relevant part of this error is generated by the `note_type_err` function:

https://github.com/rust-lang/rust/blob/14ea6e50c1534a23cb51375552c14568db9ee130/src/librustc/infer/error_reporting/mod.rs#L920-L927

In this case, [the `values` parameter](https://github.com/rust-lang/rust/blob

[2019-01-15 20:42] mehcode commented on #57640
I thought it might be useful to write up how other languages handle an await construct.

---

#### Kotlin

[code]

#### C#

[code]

#### F#

[code]

#### Scala

[code]

#### Python

[code]

#### JavaScript

[code]

#### C++ (Concurrency TR)

[code]

#### Hack

[code]

#### Dart

[code]

---

With all that, let's remember that Rust expressions can result in several chained methods. Most languages t

[2019-01-15 20:46] matthewjasper opened #57642 "NLL accepts higher-ranked subtype that non-NLL rejects"
The following code example ([playground](https://play.rust-lang.org?version=nightly&mode=debug&edition=2018&gist=e598eb97e155c66c710959b52ae8e765))

[code]

 produces the output

<details>

[code]
</details>

The second example also unexpectedly compiles in full NLL mode.

[2019-01-15 20:47] lnicola commented on #57640
I'd say that languages that support extension methods tend to have them. These would include C# and Rust, at least.

[2019-01-15 20:56] mehcode commented on #57640
Purely anecdotal on my part but I regularly run in to dozen+ method chained expressions in Rust code in the wild and it reads and runs fine. I haven't experienced this elsewhere.

[2019-01-15 21:05] thedrow commented on #57622
Maybe I do but that's not very user friendly.

[2019-01-15 21:46] nikic commented on #57631
I've reported https://bugs.llvm.org/show_bug.cgi?id=40325 upstream.

[2019-01-15 22:09] mtak- commented on #57534
I don't know how to reliably detect that a thread is exiting using the APIs that OSX provides (there could be a way). The logic in Apple's [threadLocalVariables.c](https://opensource.apple.com/source/dyld/dyld-635.2/src/threadLocalVariables.c.auto.html) looks similar to what already exists in [register_dtor_fallback](https://github.com/rust-lang/rust/blob/master/src/libstd/sys_common/thread_local.

[2019-01-15 22:21] JohnTitor commented on #57384
@estebank I want to open a PR for fixing this issue, can I ask you to review?

[2019-01-15 22:23] alexcrichton commented on #57534
Makes sense yeah, perhaps as a fallback solution we could just fix this issue for Rust-spawned threads? For those we know exactly when they're exiting (or at least when user-written Rust code has ceased executing) and that may be enough too! Skipping `_tlv_atexit` may also be reasonable and we already do that on a number of other platforms too

[2019-01-15 22:30] earthengine commented on #57640
I would like to see that this issue was refered in the top post of #50547 (beside the check box "Final syntax for await.").

[2019-01-15 23:31] petrochenkov commented on #53546
https://github.com/rust-lang/rust/issues/53546#issuecomment-454372879 is fixed in https://github.com/rust-lang/rust/pull/57649

[2019-01-16 00:12] estebank commented on #57384
@JohnTitor of course! Just add `r? @estebank` to the description of the PR.

[2019-01-16 01:20] estebank commented on #57382
@JohnTitor I'm not sure I understand the problem, could you expand?

[2019-01-16 01:37] JohnTitor commented on #57382
@estebank Sure.
`struct_span_err` outputs an error using `DiagnosticBuilder`, but `span_err` does using `emit`.
`emit` checks if continuing after error. This `abort_if_errors` returns `FatalError.raise()`.

https://github.com/rust-lang/rust/blob/e2f221c75932de7a29845c8d6f1f73536ad00c41/src/librustc_errors/lib.rs#L646-L651

When I added `FatalError.raise()` after `emit()` in `src/libsyntax/parse/pa

[2019-01-16 01:58] alexreg commented on #48055
@earthengine I agree. I wish we had implemented this and made `#![deny(bare_trait_objects)]` default for the 2018 edition, in fact! It's too late now, sadly (until the next edition, at least).

[2019-01-16 02:31] kvinwang commented on #57640
Kotlin's syntax is:
[code]
The `await` is just a `suspending` function, not a first-class thing.

[2019-01-16 03:46] scottmcm commented on #57640
@cramertj Since there are 276 comments in https://github.com/rust-lang/rust/issues/50547, could you summarize the arguments there to make it easier to not repeat them here?

[2019-01-16 04:19] alexreg commented on #57616
I do, yes. `debuginfo-lines`, without the first hyphen, I presume you mean?

Just noticed that adding `-Z verbose` produces the desired backtrace though! Not sure if this is intended behaviour, but does the job for now...

[2019-01-16 05:37] AB1908 commented on #53787
I think that should do it.

[2019-01-16 06:32] EPashkin opened #57660 "Trait function can have unused constraint and that not detected until using attempt"
I tried this code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=51260d64c3b19f4a86c6358a6d30a2ed
[code]
I expected to see this happen: rust failing with error on func1 definition.

Instead, this happened: I get error[E0283] on func1 usage, if usage commented builds succeeded.

## Meta
[code]
and all versions on playground

[2019-01-16 06:34] xftroxgpx commented on #57633
So it looks like this line `Box::new((*self).clone())` ends up calling `box_clone`
[code]
probably because `clone` calls `box_clone` here:
[code]

<details>

[code]
</details>

I haven't gotten this far in the rustbook, so I'm not sure what's all this Box-ing stuff :D

[2019-01-16 07:19] earthengine opened #57661 "Confusing error message: the trait bound `String: From<impl Into<String>>` is not satisfied"
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cdcd8450f4c81cab2c3c297bcf51e7ef)
[code]
The true error is that the trait signature is different than the `impl` block. The message however, is really confusing:

[code]

[2019-01-16 07:37] raphaelcohn commented on #51556
Ta

[2019-01-16 07:38] hellow554 commented on #57661
The second note makes the statement

I guess one could make that more present, e.g. as the actual error? I don't know if the impl method *can* actually differ from the trait method at all. Never tried that tbh ^^

[2019-01-16 07:40] hellow554 commented on #57660
You mean that the compiler does not complain about the unconstrainted `P` without actually using the function?

[2019-01-16 07:41] EPashkin commented on #57660
Yes, it problem if trait in separated crate

[2019-01-16 07:43] hellow554 commented on #57638
IIRC `PanicInfo` implement `Display` which means you can either do `println!("{}", panicinfo)` or `let info = panicinfo.to_string()`. I guess `message` will be removed therefore.

[2019-01-16 08:11] hellow554 opened #57663 "Poor error message with associated constrained trait type"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=db2c85a988d08f92151ea16899068dc4))

Errors:

[code]

I don't like the error message, I would like to see something similar to this

[code]

[2019-01-16 08:22] mathijshenquet commented on #57525
Although this would not be per-argument documentation, it would fix the de-syncing docs issue while being a relatively lightweight addition to rustdoc.

[2019-01-16 08:37] Centril commented on #57620
Closing in favor of the RFC.

[2019-01-16 08:37] #57620 closed

[2019-01-16 09:01] #57660 closed

[2019-01-16 09:46] xftroxgpx commented on #57555
I don't know, I thought that since it's doing it for
[code]
then maybe it wants to do it for other cases too, but devs didn't get around to doing it, yet.

But, now considering how many cases it doesn't detect, compared to like only 1 that it does, maybe this one is just simply a side effect of something and thus, it wasn't intended to detect things like this. However the main reason for detecting

[2019-01-16 09:46] #57555 closed

[2019-01-16 10:20] EPashkin commented on #57660
So caller always need call this with turbofish Ex. `t.func1::<i32>()` as rustc can't detect what P really?

[2019-01-16 10:35] Centril commented on #57660
@EPashkin Yes; this is the same as with [`iter.collect::<Vec<u8>>()`](https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html#method.collect); the compiler cannot infer what the container you want is unless you tell it via turbofish or by `let v: Vec<u8> = iter.collect();`.

[2019-01-16 10:39] chpio commented on #57640
Isn't that the thread blocking syntax? So it's the same as [`block_on`](https://rust-lang-nursery.github.io/futures-api-docs/0.3.0-alpha.12/futures/executor/fn.block_on.html), we are talking here about blocking the task.

[2019-01-16 10:39] EPashkin commented on #57660
IMHO main difference that `collect` have `let` case, while my function is not as P not used in function description, so at minimum I prefer have warning on trait.

[2019-01-16 10:55] Centril commented on #57660
@EPashkin It is still useful in certain situations to have traits where you have a `P` that is not in the return type. A lint for these kinds of traits won't be added to rustc, but you may want to ask around in https://github.com/rust-lang-nursery/rust-clippy/.

[2019-01-16 11:18] chpio commented on #57640
maybe you should add both use cases with a bit of context/description.

[2019-01-16 11:19] hellow554 commented on #57660
E.g.  `fn foo<P: Default>()` is neither used as parameter, nor as return type, but can be used inside the function itself.

[2019-01-16 11:23] EPashkin commented on #57660
@Centril, @hellow554 Thank for explanation.

[2019-01-16 12:36] ohadravid opened #57664 "Diagnostics: mismatched types show wrong `because of this statement`"
The following code

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ad5eda5a7a3262e8abfda0edc93fb5aa))

Will generate the following error under nightly (`rustc 1.33.0-nightly`):

[code]

Which is incorrect (and confusing!).

`stable` produce the correct message:
[code]

and removing **either** the `?` or the `unsafe { }` will make `nightly` generate a

[2019-01-16 13:10] jvinolas opened #57665 "Could not compile `textwrap`"
[code]

[2019-01-16 14:01] GuillaumeGomez commented on #57595
I'll take a look. If you could make a code sample to get this error shorter, that'd be very appreciated.

[2019-01-16 14:04] GuillaumeGomez commented on #57569
That's interesting. A bad check very certainly on wether something is publically viewable or not.

[2019-01-16 14:06] jonas-schievink commented on #57595
The error message is misleading, it's caused by [this code](https://github.com/rust-lang/rust/blob/e2f221c75932de7a29845c8d6f1f73536ad00c41/src/librustdoc/visit_ast.rs#L549-L551) which just means that rustdoc doesn't support trait aliases at all.

Therefore, to reproduce this should be enough:

[code]

[2019-01-16 14:06] GuillaumeGomez commented on #57533
I'm the one who wrote this lint and it seems to be working correctly to me as well...

[2019-01-16 14:06] xftroxgpx commented on #48910
I'm no longer encountering this issue with `debuginfo-lines = true` and I've `debuginfo=true` also, ergo closing. (let me know if you think I'm wrong though - like, if it's a [warning](https://github.com/rust-lang/rust/issues/48910#issuecomment-375579409) instead of an error now, then I didn't check)

rustc tested/compiled&then installed(replaced rustup's nightly with it):
[code]

config.toml
<det

[2019-01-16 14:06] #48910 closed

[2019-01-16 14:07] GuillaumeGomez commented on #57525
It could interesting. However a big problem remains: what should it look like, both in input and ouput? (markdown side and html side.)

[2019-01-16 14:12] d33tah opened #57668 "Misleading code change suggestion in E0106"
I'm writing this in relation to the following StackOverflow question:

https://stackoverflow.com/q/54217705/1091116

Consider the following code:

    extern crate clap;
    use clap::{App};

    use std::io;

    fn parse_argv() -> &'static clap::ArgMatches {
        return App::new("example")
        .get_matches()
    }

    fn main() -> io::Result<()> {

        let matches = parse_argv();

[2019-01-16 14:38] andreeaflorescu commented on #57638
I can hack my way around this. Thanks for the response.

[2019-01-16 14:38] #57638 closed

[2019-01-16 15:16] dhardy commented on #54726
The caveat is that adding `use yyy::attr;` into the inner module may cause breakage. Overall though it seems a reasonable compromise.

[2019-01-16 15:56] zilbuz opened #57669 "x.py: codegen-units-std = 0 not supported"
Trying to compile rustc with `codegen-units-std = 0` in `config.toml` fails with the following error:
[code]

The `codegen-units-std` option isn't treated the same as the `codegen-units` option in [the bootstrap's `config.rs`](https://github.com/rust-lang/rust/blob/cccaf9a8c69219c8267e406f92fef895fbba80f2/src/bootstrap/config.rs#L567-L573).

Is this intentional? Should I submit a PR to support `co

[2019-01-16 16:02] abonander commented on #57533
Except that they're reexported from a module marked `#[allow(missing_docs)]` which I would expect *not* to require documentation on items reachable inside it.

Moreover, `#[allow(missing_docs)]` on the reexport does nothing but is not at least marked as an unused attribute.

[2019-01-16 17:23] jonhoo opened #57671 "Fails to infer associated type bounds with for"
The following code does not compile ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8586a743d1fa146d66ffe832bb113e31)):
[code]
with
[code]
The issue seems to be that the `for<'a>` does not "carry along" the `Send` bound for `Assoc` in the `impl Bar for ()`. This code compiles on the other hand compiles just fine:
[code]
Notice that the only change is that `'a`

[2019-01-16 17:32] pietroalbini commented on #57183
Why is this closed? It's still present (encountered it during beta promotion).

[2019-01-16 18:14] ehuss opened #57672 "unused_extern_crates: wrong suggestion for aliased crate"
The following suggests converting to a `use`, but that causes it to fail to compile because `use` does not insert into the prelude.

[code]

Perhaps the suggestion should be removed if there is a rename?

rustc 1.33.0-nightly (2fadb0a16 2019-01-13)
(This is after uniform-paths and the #57557 fix.)

[2019-01-16 18:15] ehuss commented on #57421
Ok, filed #57672.  Thanks for taking a look and all the fixes!

[2019-01-16 18:34] foxbenjaminfox opened #57673 "ICE on nightly when dereferencing boxed Iterator trait object"
When dereferencing a boxed `Iterator` trait object I get an internal compiler error (only on nightly).

Here is a minimal example: ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f85a62d541b8d14f968a3e85bc69d5a8))

[code]
This should result in a type error, as indeed it does if I [swap out](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2

[2019-01-16 19:41] atorstling opened #57676 "ICE with trait_alias in Nightly: unwrap None in assemble_extension_candidates_for_trait"
This is the stacktrace I get:

[code]

I can only repro this when using an external crate. The condition seems to be that you have to

1. Have a compile error which triggers `FnCtxt::suggest_ref_or_into`, combined with
2. Having a trait alias defined in an external crate.

I'm attaching a small cargo project which reproduces the problem.
The structure is really simple, these are the main files:

s

[2019-01-16 19:43] jeffvandyke commented on #44580
Might be off-topic, but will this allow a variant or fork of [Chunks](https://doc.rust-lang.org/std/slice/struct.Chunks.html) and related methods to have `Item` be a compile-time-fixed-size array instead of a slice? This would allow a `for` loop to destructure/bind to an irrefutable pattern that mapped the elements in the chunk to variables, such as `for (first, second) in arr.chunks(2)` which cur

[2019-01-16 19:44] sfackler commented on #57671
This looks like a duplicate of #56556.

[2019-01-16 19:47] jonhoo commented on #57671
@sfackler hmm, yes, I believe that's right! Closing in favor of #56556, and then posting this example code there to add a test case.

[2019-01-16 19:47] #57671 closed

[2019-01-16 20:00] parched commented on #56877
@nikomatsakis

The filter at the high level is "all fields that are removed from the rust struct declaration when you convert it to a C struct declaration", e.g. `PhantomData`, but more generally it's all `repr(Rust)` rust fields because they can't be declared in C. As a consequence of the Rust struct and C struct needing to be compatible they must also be zero-sized, non-alignment inducing and no

[2019-01-16 20:06] vadixidav commented on #44580
@jeffvandyke You might be thinking of [ChunksExact](https://doc.rust-lang.org/std/slice/struct.ChunksExact.html) specifically. Such a change would be API-breaking, so it can't be done. We could add new APIs that give array references in the future, but we can't break existing ones.

[2019-01-16 20:22] sdroege commented on #44580
I'm only waiting for this to be implemented and stabilized before proposing a PR that adds such API in addition to `ChunksExact` and its variants :)

The runtime and compile-time variants both have their use-cases, you don't always know your chunk size ahead of time. Optimization-wise, if you use `ChunksExact` with a constant it should be more or less the same according to my testing. The compiler

[2019-01-16 20:34] shepmaster commented on #44580
I'd suggest not waiting for stabilization as such an API would be one more good use to help exercise this feature *for* stabilization.

[2019-01-16 20:38] HeroicKatora commented on #57640
One reason to be in favour of a post-fix syntax is that from the callers perspective, an await behaves a lot like a function call: You relinquish flow control and when you get it back a result is waiting on your stack. In any case, I'd prefer a syntax that embraces the function-like behaviour by containing function-paranthesis. And there are good reasons to want to split construction of coroutines

[2019-01-16 20:46] nikomatsakis commented on #48225
We discussed this in the NLL meeting today and decided everything was working as expected. Closing.

[2019-01-16 20:46] #48225 closed

[2019-01-16 20:51] nikomatsakis commented on #53114
We discussed this in the meeting today and decided that we need to ensure there are tests covering `let _ = xx` where `xx` is moved or borrowed. Marking as E-needstest and dropping priority.

[2019-01-16 20:53] hellow554 commented on #50145
9 months gone. Any reason why it hasn't implemented yet for those three functions?

[2019-01-16 20:53] pnkfelix commented on #53114
(really we need to ensure the tests cover all the rows in the tables in the description.)

[2019-01-16 21:01] estebank commented on #10876
@arielb1 should we add a `pass` test, come up with a different case or just close?

[2019-01-16 21:04] QuietMisdreavus commented on #57525
I'm a fan of trying to get per-argument doc comments. Having a finer-grain set of documentation than "the entire function" provides a hook for people to write more docs.

The thing we'll have to solve first is to get doc comments to actually work on function arguments:

[code]

Using an unsugared `#[doc = "function arg docs"]` attribute also doesn't work. However, the type parameter attribute does

[2019-01-16 21:06] QuietMisdreavus commented on #57525
One thing i would be interested in seeing (and this may become a lang-team question) is whether/how we can add an attribute to the *return type* of a function, to possibly document that separately.

[2019-01-16 21:06] estebank commented on #57673
[code]

[2019-01-16 21:10] zroug opened #57678 "Existential types: Unused closure environment is part of concrete type"
Compare

[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=194cca6bdb23ec0b634bc01dea43abd4

which results in ```error: type parameter `impl Copy` is part of concrete type but not used in parameter list for existential type``` to

[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=23789461920ea49d85042a9604f86f97

which compiles fine.

The

[2019-01-16 21:19] estebank commented on #57664
Introduced in #57020.

[2019-01-16 21:33] pedrocr commented on #53340
1.32 maintains the same performance:

[code]

The `chunks_exact` version is still very fast.

[2019-01-16 22:28] fsamuel opened #57681 "String formatting crashing compiler"
[code]

This block of code crashes the compiler.

[code]

[2019-01-16 22:56] QuietMisdreavus commented on #57595
You have it exactly; rustdoc just doesn't support trait aliases yet. We need to figure out how we want to display it, what keywords/css classes to use, etc. This could be a @rust-lang/docs question, of how we want those pages to look. Since the keyword they (currently) use is `trait`, they may be `trait` pages that instead look and act like type aliases on their actual page (i.e. their "definition

[2019-01-16 23:11] m-cat commented on #54521
Just ran into this. Weird/confusing/unhelpful error message -- the real problem is an extra delimiter as you said.

[2019-01-16 23:11] QuietMisdreavus commented on #56720
Since https://github.com/rust-lang/rust/pull/56819 merged, and the linked page is no longer showing the issue, i'm closing this.

[2019-01-16 23:11] #56720 closed

[2019-01-16 23:18] QuietMisdreavus commented on #56331
This is a problem with how the struct is represented when re-exporting from a different crate. For example, [this is how it looks in `libcore`](https://doc.rust-lang.org/nightly/core/slice/struct.Iter.html):

[code]

The `T: 'a` gets converted into a where clause in the re-export, but i'm not sure what introduces the duplicate lifetime bound.

[2019-01-16 23:30] bobtwinkles commented on #57673
I think I just ran into this bug as well. It's repros in the 2018-12-31 nightly.

[2019-01-16 23:43] Dushistov commented on #53554
The same problem, "lto = true" cause assert failure, rustc 1.31.1

[code]

[code]

[2019-01-17 00:10] vektordev opened #57684 "Misleading compiler hint for wrong keyword constructor syntax"
The following code
[code]
produces the following error message:
[code]
This code errors because "field=5" should be "field:5". The error message leads any good python programmer astray. I think the error message should at least mention the possibility of `:`.

[2019-01-17 00:35] Pauan commented on #57640
There's nothing special about `Result`: Futures can return *any* Rust type. It just so happens that *some* Futures return `Result`

So how would that work for Futures which don't return `Result`?

[2019-01-17 00:39] HeroicKatora commented on #57640
It seems it was not clear what I meant. `future(?)` is what was previously discussed as `future.await!()` or similar. Branching on a future that returns a result as well would be `future(?)?` (two different ways how we can relinquish control flow early).

[2019-01-17 00:52] Pauan commented on #57640
Thanks for clarifying. In that case I'm definitely not a fan of it.

That means that calling a function which returns a `Future<Output = Result<_, _>>` would be written like `foo()(?)?`

It's **very** syntax-heavy, and it uses `?` for two completely different purposes.

[2019-01-17 01:00] xftroxgpx commented on #43731
I found the code that codegens the panic into the executable:
https://github.com/rust-lang/rust/blob/ceb2512144d1fc26330e85fb9d41c22ba1866259/src/librustc_codegen_ssa/mir/block.rs#L354-L396

and this very line(from the above):
https://github.com/rust-lang/rust/blob/ceb2512144d1fc26330e85fb9d41c22ba1866259/src/librustc_codegen_ssa/mir/block.rs#L396
is the one that gets the value of the error messag

[2019-01-17 01:30] Amanieu commented on #42951
My personal take on this is that we should only guarantee that `Hasher` produces the same value for the *exact* same sequence of `write*` calls. This even applies to plain `write` calls on byte slices: a `Hasher` is only guaranteed to produce the same result if the same sequence of `write` calls are used with the *same slice lengths*.

For an example of where this could make a difference, consider

[2019-01-17 01:45] estebank commented on #57665
Could you provide a backtrace?

[2019-01-17 02:02] HeroicKatora commented on #57640
If it's specifically the hint to operator `?` which is heavy, one could of course replace it with the newly reserved keyword. I had only initially considered that this feel too much like an actual argument of puzzling type but the tradeoff could work in terms of helping mentally parse the statement. So the same statement for `impl Future<Output = Result<_,_>>` would become:

* `foo()(await)?`

The

[2019-01-17 02:27] vitiral opened #57686 "[docs] trim_start_matches and trim_end_matches have copy+pasted docs"
[`trim_start_matches`](https://doc.rust-lang.org/std/string/struct.String.html#method.trim_start_matches) states:

But "left" is never mentioned XD

Same is true for `trim_end_matches`.

(Note: copy/pasted from `trim_left_matches` and `trim_right_matches`)

[2019-01-17 02:43] Osspial commented on #57628
This also causes the hyperlinks in the function declaration line to not work.

[2019-01-17 06:37] hellow554 commented on #57686
Would you mind to open a PR and fix it? ;)

[2019-01-17 06:39] hellow554 commented on #57681
The code does not compile. Can you provide a [MCVE](https://stackoverflow.com/help/mcve) on [the playground](https://play.rust-lang.org/) please?

[2019-01-17 08:02] hellow554 opened #57692 "ICE with incremental compiling when renaming variable"
Consider this code

[code]

Because the compiler complained, that `map` should be ALL_UPPERCASE, I renamed the variable to `MAP` and it ICEs.

Steps to reproduce:
  1. create a new cargo project (doesn't matter if lib or main)
  2. Use the snippet above
  3. `cargo build`
  4. change the case of any/all letters of map (e.g. change it to `MAP`)
  5.  `cargo build`
  6.  💥

[code]

Was introduced at

[2019-01-17 08:05] hellow554 commented on #57692
Maybe https://github.com/rust-lang/rust/commit/69d18a398656f41ff713b26cc8a0149635a8eea2 ? @Zoxc

[2019-01-17 08:19] Zoxc commented on #57692
cc @michaelwoerister

[2019-01-17 08:53] MSleepyPanda commented on #53457
I've hit this as well, have reduced it further:
[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=20766e09527a463207cc5d1e7805336b)

Changing from `Fn(&R) -> ()` to `Fn(R) -> ()` works

[2019-01-17 10:12] Dushistov commented on #53554
Steps to reproduce is rather simple:

1. `git clone https://github.com/Dushistov/rust_swig`
2. `git checkout 35c1265b5b531789baee6ef7d76946d6415df91f`
3. patch via:
[code]
4. `cp workspace.Cargo.toml Cargo.toml && cd macrolib && cargo build --release`

The interesting thing that `rustup run beta cargo build --release` works (**rustc 1.32.0-beta.14 (31d631f84 2019-01-11)**), but takes 1 minute for

[2019-01-17 10:12] alexheretic commented on #56980
With 1.32 coming out I thought I'd retest rls memory usage to provide some more recent numbers.

| Project | Linux stable 1.31 / nightly-2018-11-03 | Linux stable 1.32 |
|---|---|---|
| rust-lang/regex |  80 MiB  |  1.4 GiB |

So this regression has not been addressed and will affect the next stable release.

[2019-01-17 10:34] Centril commented on #57678
cc @cramertj @alexreg @nikomatsakis

[2019-01-17 10:42] michaelwoerister commented on #57692
Thanks for the bug report, @hellow554! That commit certainly could have caused this. I'll try to reproduce.

[2019-01-17 10:56] xfix opened #57695 "Implementors in documentation aren't clickable"
Compare:

https://doc.rust-lang.org/stable/std/panic/trait.RefUnwindSafe.html
https://doc.rust-lang.org/nightly/std/panic/trait.RefUnwindSafe.html

It's not possible to click on `AtomicBool` in `impl RefUnwindSafe for AtomicBool` anymore, while it is possible on stable and beta.

[2019-01-17 11:18] MSleepyPanda commented on #53984
I've hit this as well
This is rejected:
[code]
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6f9c0095f2a33f81160fe76c5e25c1f6)

While this works as expected (missing the `Foo<Arg=usize>`)
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c1afc767512850a4fb4211c4379a8ae3)

[2019-01-17 12:13] hellow554 commented on #57695
@GuillaumeGomez

[2019-01-17 12:32] pietroalbini commented on #57183
Not on the beta itself, apparently.

[2019-01-17 12:39] oli-obk commented on #57183
That issue is really tracked in https://github.com/rust-lang/rust/issues/57178

[2019-01-17 12:39] #57183 closed

[2019-01-17 12:41] chpio commented on #57640
i thought that's the whole point of using explicit awaits?

yeah, so the `foo()(await)`-syntax would be a lot nicer.

this syntax is like calling a function that returns a closure then calling that closure in JS.

[2019-01-17 12:57] pnkfelix commented on #55748
Sorry for the confusion here. For some reason the examples I kept posting didn't have a use of a repeated ty instantiated with a type wildcard.

I think this example ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4b316654cd5660bb6955830f6b57463d)) should serve to show how things still go wrong, even in the current nightly, when you are using just a wildcard instea

[2019-01-17 13:04] SimonSapin commented on #50145
@vks Only having Rust implementations of those functions is certainly a possibility. But since LLVM intrinsics exist, should we try to use them? Maybe some architecture have dedicated instructions that can be faster?

On the other hand, can we rely on those intrinsics to be available for all targets, even when `libm` is not linked?

@hellow554 The reasons is that (as far as I know) we don’t yet ha

[2019-01-17 13:13] Nemo157 commented on #57640
My reading of "syntax-heavy" was closer to "sigil-heavy", seeing a sequence of `()(?)?` is quite jarring. This was brought up in the original post:

I think the rebuttal here is: how many times have you seen `-> impl Fn` in the wild (let alone `-> Result<impl Fn() -> Result<impl Fn() -> Result<_, _>, _>, _>`)? How many times do you expect to see `-> impl Future<Output = Result<_, _>>` in an async

[2019-01-17 13:14] pnkfelix commented on #55748
Sigh. My branch does not appear to fix the `coupled_wilds` case. Reviewing now.

[2019-01-17 13:24] rkruppe commented on #50145
The LLVM intrinsics exist on every target, but many (all?) targets lower them to libm function calls. They are intrinsics mostly to facilitate optimizations, I believe.

Which leads to another potential problem: if we implement these in Rust, might LLVM optimizations canonicalize them to calls to the intrinsics? This is certainly a problem for other functions/intrinsics like `memcpy`, `memset`, et

[2019-01-17 13:35] hellow554 commented on #57695
Funny enough, the link is still there, but you can't click it

![grafik](https://user-images.githubusercontent.com/921462/51322120-dee34980-1a64-11e9-8748-8617e0eb3cda.png)

Not entirely sure, but it may be https://github.com/rust-lang/rust/pull/56874 @JohnHeitmann

[2019-01-17 13:42] lzutao commented on #19776
@devMYC Same program as your (named `tmp.rs`)

[code]

My result is different:

[code]

But the follow code has leak:

[code]

[code]

[2019-01-17 13:50] hellow554 commented on #57695
It is the `display: flex` from the h3. If i remove that attribute with the developer console I can click the link. I'm not very familar with flex (although I heard it is super cool!), so I cannot say what exactly happens here. Maybe a browser bug?

[2019-01-17 13:51] alercah commented on #48055
Could it be made deny-by-default only in those places where it was previously disallowed, so that no currently-invalid code becomes accepted?

[2019-01-17 13:58] pnkfelix commented on #55748
(ah, my demo was once again flawed: I had the type ascriptions on the RHS's, while the bug I'm trying to fix with my branch is when they are on the LHS.)

[2019-01-17 14:10] rchaser53 commented on #57469
I would like to work on this.

[2019-01-17 14:12] LukasKalbertodt commented on #57673
This could possibly be the same bug as #57216. At least the stack trace and panic message is very similar.

[2019-01-17 14:19] michaelwoerister commented on #57692
Looks like this is an existing bug that was just uncovered by @Zoxc's PR. This should be `dep_dep_node` instead of `dep_node` here:
https://github.com/rust-lang/rust/blob/daa53a52a2667533d5fe59bfcc5b8614b79c3d31/src/librustc/dep_graph/graph.rs#L603

I'll have a PR ready soon.

[2019-01-17 14:22] pnkfelix commented on #55748
And now that I have fixed my test, it appears the current `rustc` captures the effect I desired: A single type ascription on a pattern provides *both* a constraint on the input (or projection thereof) **and** a constraint on the bindings (if any) within the pattern.

[2019-01-17 14:36] pnkfelix commented on #57534
visiting for T-compiler triage. Retagged as T-libs.

[2019-01-17 14:45] pnkfelix commented on #56254
triage:  put myself back on assignee list to try to ensure I get back on board here

[2019-01-17 14:47] pnkfelix commented on #46901
triage: should we realistically continue keeping this at P-high? (I've been absent but the fact that no one prioritized work-stealing it while I was gone for three weeks makes me wonder if it is in fact a P-medium issue...)

[2019-01-17 14:49] ehuss commented on #56980
@alexheretic I think it is fixed in 1.33. Maybe the fix should have been backported?
For reference, the fix is in #56986 and #57287.

[2019-01-17 14:50] pnkfelix commented on #46702
triage: no movement that I know of. But its assigned to @matthewjasper and I think that seems like a reasonable status for now. Only question is whether to keep this at P-high or downgrade to P-medium. Presumably the demo posted in the [previous comment](https://github.com/rust-lang/rust/issues/46702#issuecomment-451739979) is probably justification for leaving at P-high.

[2019-01-17 14:50] nikomatsakis commented on #42940
I've often found it pretty useful to model `impl Trait` in terms of associated types. If we include the effects of the `default` keyword, in fact, we get a very close modeling (without the inference), except for "auto trait propagation". I think this modeling is relevant here.

## the model

Basically an `impl Trait` instance like

[code]

can be modeled as if there were a "one-off" trait with a s

[2019-01-17 14:54] pnkfelix commented on #57692
triage: P-high. Assigning to @michaelwoerister

[2019-01-17 14:56] pnkfelix commented on #57673
triage: P-high; assigning to self.

[2019-01-17 14:58] pnkfelix commented on #57664
triage: P-high, assigning to @estebank . (But let me know if you have too much else on your plate and I'll reassign.)

[2019-01-17 15:01] pnkfelix commented on #57639
triage: P-high,assigning to  @nikomatsakis

[2019-01-17 15:03] pnkfelix commented on #57518
triage: Tempted to assign to @nagisa . Also tempted to tag as P-medium, unless we get indication that this could be expected to affect platforms other than Nix

[2019-01-17 15:04] mati865 commented on #56980
I think it's not fixed in Nightly.
In my considerably sized private project stable `rls` takes 100-120 MiB idling and goes up to 250 MiB after code change but drops to 100-ish MiB when it's done.
Nightly `rls` takes over 900 MiB idling, code edits increase it's memory usage by some amount (0.1 for small edits and more for bigger ones) and it does **not** decrease when it's done. Yesterday I notice

[2019-01-17 15:04] alexheretic commented on #56980
I haven't noticed the memory usage of RLS ever coming down on the nightly channel since I reported this. Testing current nightly I still get **756 MiB** for regex. Which is a bit better as it's now only ~10x worse.

This regression is quite unfortunate, it means users have to manually limit their RLS instances to avoid RAM filling whereas before 5-10 idle RLS processes could be reasonably ignored.

[2019-01-17 15:05] hellow554 commented on #57660
@EPashkin https://doc.rust-lang.org/std/mem/fn.size_of.html is also a good candidate why it is useful (Just a thought over night ^^ )

[2019-01-17 15:07] euclio commented on #57681
This was fixed in #57522.

[2019-01-17 15:14] nikomatsakis commented on #57642
I renamed the title to focus on the part I would most like to investigate, which is why this function works but only with feature-nll:

[code]

That seems like a blocker to disabling migration mode.

[2019-01-17 15:15] EPashkin commented on #57660
@hellow554 Yes, thanks.

[2019-01-17 15:26] nagisa commented on #57631
P-medium. Thanks for reporting it upstream, @nikic.

[2019-01-17 15:46] MSleepyPanda opened #57700 "ICE when returning generic abitrary self type in defining function for existential associated type"
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=19613126a1f4e39a9206613b317ffeb0)
[code]

[2019-01-17 15:48] nagisa commented on #37704
ICE is not reproducible with 1.33 nightly. Closing.

[2019-01-17 15:48] #37704 closed

[2019-01-17 15:50] dotdash commented on #50153
The last two examples seem to work fine on the playground, is this fixed?

[2019-01-17 15:58] nagisa commented on #57681
Thanks! Closing.

[2019-01-17 15:58] #57681 closed

[2019-01-17 16:06] mati865 commented on #56980
I starting to think all executables (tools) have to do something like rustc in https://github.com/rust-lang/rust/pull/57287

Nightly rls will use `malloc@@GLIBC_2.2.5` from ancient glibc version because rust provide unversioned symbol:
[code]

Stable rls 1.31 uses on first `malloc` instance it can find making it use jemalloc from rust:
[code]

[2019-01-17 16:09] elichai commented on #34902
What's the status of this? Is it already possible to make a reproducible/deterministic build or not?
(I'm interested in both binaries and staticlibs)

[2019-01-17 16:09] tromey commented on #54615
I think the problem is just that `dist.rs` does not install this script on Windows?  See https://github.com/rust-lang/rust/blob/master/src/bootstrap/dist.rs#L591-L614

[2019-01-17 16:10] tromey commented on #29658
Distributing these scripts seems to be pretty easy to do, with a tweak in https://github.com/rust-lang/rust/blob/master/src/bootstrap/dist.rs#L591-L614

[2019-01-17 16:16] HeroicKatora commented on #57640
I don't see how this choice of syntax has an influence on the number of times you have to explicitely name your result type. I don't think it does not influence type inference any different than `await? future`.

However, you all made very good points here and the more examples I contrive with it (I edited the original post to always contain *both* syntax version), the more I lean towards `future(

[2019-01-17 16:23] withoutboats commented on #57640
I expect to see the type equivalent of this (an async fn that returns a Result) *all the time*, likely even the majority of all async fns, since if what you're awaiting is an IO even, you'll almost certainly be throwing IO errors upwards.

---

[Linking to my previous post on the tracking issue](https://github.com/rust-lang/rust/issues/50547#issuecomment-454415341) and adding a few more thoughts.

[2019-01-17 16:41] xftroxgpx commented on #53947
I just hit this during `./x.py install` (and not during `build`) on latest [HEAD](daa53a52a2667533d5fe59bfcc5b8614b79c3d31) using [this](https://gist.github.com/xftroxgpx/8c78c7d8d8a17e3d61b763a6eb559697) `config.toml`, without pre-cleaning via `./x.py clean`(if I clean it'll take at least 113mins to re-`build`)

`thread 'main' panicked at 'failed to open bitcode file `/home/xftroxgpx/build/2nonpk

[2019-01-17 16:44] ehuss commented on #56980
I'm sorry, I only checked on MacOS which seems to be fixed.  Indeed, Linux is still broken.  Curious since I was expecting them to be the same.  Looks like Windows was never affected.

[2019-01-17 16:45] HeroicKatora commented on #57640
One of the shortcomings of 'blessing' `await future?` in Useful precedence but also others that don't work as post-fix would be that usual patterns of manually converting expressions with `?` may no longer apply, or require that `Future` explicitely replicates the `Result`-methods in a compatible way. I find this surprising. If they are replicated, it suddenly becomes as confusing which of the com

[2019-01-17 16:49] norru commented on #54615
Not sure. This bug relates to the `windows-gnu` toolchain rather than `windows-msvc`.

[2019-01-17 17:24] Nemo157 commented on #57640
[code]

[code]

These are different expressions, the dot operator is higher precedence than the "obvious precedence" `await` operator, so the equivalent is:

[code]

This has the exact same ambiguity of whether `or_recover` is async or not. (Which I argue does not matter, you know the expression as a whole is async, and you can look at the definition of `or_recover` if for some reason you need to

[2019-01-17 17:24] nitnelave commented on #53871
I might be interested in working on that. Could you help me with a starting point for that?

[2019-01-17 17:26] Centril commented on #29661
Dumping for future reference:
[code]
==>
[code]

[2019-01-17 17:32] alexreg commented on #57678
I'm confident this is a duplicate of #42940, but let's wait for others to confirm.

[2019-01-17 17:34] alexreg commented on #48055
@alercah That sounds complicated due to the way the linting system currently works... maybe possible though. @arielb1, any thoughts?

[2019-01-17 17:40] m-ou-se opened #57702 "MutexGuard's Debug implementation is unuseful"
`MutexGuard`'s `Debug` implementation just forwards to the `Mutex`'s `Debug` implementation, which will simply print `<locked>`, because the `Mutex` was locked (of which that very `MutexGuard` is proof).

Effectively, this means that the current `Debug` implementation of `MutexGuard` is equivalent to:

    f.write_str("MutexGuard { lock: Mutex { data: <locked> } }")

Instead, it should not try to

[2019-01-17 17:52] cramertj commented on #57678
This isn't a duplicate of that issue-- the error message here is "correct" in a sense. The issue here is that the closure being generated is still generic over type parameters, even when they're unused. We don't have any logic today (AFAIK) for detecting when a type parameter goes unused in a closure, so by default they capture all generic parameters in scope. Desugaring the argument-position `imp

[2019-01-17 18:01] jonhoo commented on #56556
@sfackler do you know of a workaround for this bug? It's currently blocking me and I'm not entirely sure how else to structure my code.

[2019-01-17 18:03] sfackler commented on #56556
The only workaround I know of is to remove the lifetime parameter

On Thu, Jan 17, 2019 at 10:02 AM Jon Gjengset <notifications@github.com>
wrote:

--
Steven Fackler

[2019-01-17 18:17] HeroicKatora commented on #57640
No it does not. `unwrap_or_else` must produce a coroutine because it is awaited, so the ambiguitiy is whether `get_result` is a coroutine or a `Result<impl Future, _>`. And what about the even more interesting case where you await at two different points in a combinator sequence? With any prefix syntax this, I think, requires parantheses. The rest of Rust-language tries to avoid this at lengths to

[2019-01-17 18:45] parched commented on #56877
Actually, it looks like ABI for flexible array members for x86 changed in GCC 4.4 but clang uses the old behavior, am I interpreting that right? Does rust claim that flexible array members are representable in rust as zero sized arrays, if so there might be an issue, if not it's a potential foot-gun if someone assumes so.
https://godbolt.org/z/BVRw6_

[2019-01-17 18:46] tarcieri commented on #34902
My understanding is builds are now (sometimes?) reproducible and that people are using [reprotest](https://pypi.org/project/reprotest/) successfully in CI.

To me it seems like we're not too far away from robust reproducible builds, but the main problem right now is there is no easy-to-use tooling for producing and verifying such builds.

I opened an issue about that on the Secure Code WG issue tr

[2019-01-17 18:53] alercah commented on #48055
Maybe make it two separate lints?

[2019-01-17 19:14] alexreg commented on #48055
Yes, that's the obvious solution... seems kind of ugly though?

[2019-01-17 19:16] alercah commented on #48055
Could they be pseudonamespaced like clippy lints? `#[deny(bare_trait_objects::all)]` or `#[allow(bare_trait_objects::unsize)]`

[2019-01-17 19:25] semarie opened #57709 "unable to compile compiletest on 1.32.0 stable"
on OpenBSD, while preparing the port of rust-1.32.0 (stable 9fda7c2237db910e41d6a712e9a2139b352e558b), I have an compilation error on `compiletest` while running the `test` target:

[code]

Full log: https://p.iotek.org/hfe

My source tree is slightly patched to accomodate OpenBSD specificities, but none in compiletest (except currently one to workaround this specific problem). If it matters, the

[2019-01-17 20:14] GuillaumeGomez commented on #57695
I'll take a look (and thanks @m-ou-se for the lead!).

[2019-01-17 20:15] aturon commented on #57288
cc @rust-lang/cargo

[2019-01-17 20:21] scottmcm commented on #29642
If this is no longer for `rustc_attrs`, I think there should be a PR to the gate list and unstable book to stop pointing here, and say why.

[2019-01-17 20:24] nikomatsakis commented on #29642
Discussed in the @rust-lang/lang meeting:

We believe we should **remove** the `custom_attribute` feature gate from the compiler. If I'm not mistaken, it allows the older behavior where you could use any attribute `#[foo]` anywhere.  We don't — afaik — intend to go back to that world. Moreover, removing this feature would probably let us give more definitive and clear error messages that guide peo

[2019-01-17 20:25] zmanian commented on #34902
Isn't this a significant milestone on reproducibility.

https://www.reddit.com/r/rust/comments/afscgo/ripgrep_0100_is_reproducible_in_debian/

[2019-01-17 20:26] nikomatsakis commented on #29642
There are some *applicable* mentoring instructions here:

https://forge.rust-lang.org/stabilization-guide.html

However, these instructions are oriented towards **stabilizing** a feature. We want to **remove** the feature.

The main question mark for me is what sort of error we want to give. @cramertj had some ideas here.

Also: cc @dtolnay in case you can think of any problems with removing this.

[2019-01-17 20:27] nikomatsakis commented on #44848
The current handling seems to be adequate and -- in any case -- is stabilized. We permit coercions unless there is a `ref` binding. This is ok because coercions don't alter things underneath references, generally speaking. Closing.

[2019-01-17 20:27] #44848 closed

[2019-01-17 20:27] nikomatsakis commented on #42640
This is implemented and stabilizing, but we never closed it! The only real remaining question is https://github.com/rust-lang/rust/issues/44849 and we have a separate issue for that.

[2019-01-17 20:27] #42640 closed

[2019-01-17 20:32] SimonSapin commented on #29642
This does **not** include `rustc_plugin::registry::Registry::register_attribute`, right? (Servo still uses that, for [a custom lint](https://github.com/servo/servo/blob/866fd55ded6ded98b49862a29951d746a7846f64/components/script_plugins/lib.rs).)

[2019-01-17 20:33] mcandre opened #57711 "Deprecate must_use"
Could the compiler warn when any trait is unused, without having to explicitly mark each trait source `must_use`?

[2019-01-17 20:41] jonas-schievink commented on #57711
`must_use` is not for the trait itself, but for values of type `impl Trait` or `dyn Trait`, and causes a warning when a value of that type is dropped without being used.

Warning when traits are unused would be part of the `dead_code` lint which also fires when you have an unused `struct` or other item.

[2019-01-17 20:43] jonas-schievink commented on #56008
This is a duplicate of #26925, I suggest closing in favor of that

[2019-01-17 20:45] petrochenkov commented on #29642
The way `custom_attribute` is implemented now (fallback from unresolved attributes) is certainly not appropriate for stabilization and even for keeping in unstable form.

If you search the rust codebase for `custom_attribute` though you'll see a lot of uses, most of them in the test suite.
Since it's useful for internal testing and similar things, I had an alternative idea in mind:
- Support expli

[2019-01-17 20:47] konstin commented on #57497
I already understood it thus far. What I hope is that there is something like `std::is_x86_feature_detected` that allows to check the availability of the symbol at runtime.

[2019-01-17 20:49] fitzgen opened #57712 "Highlighted items are hidden in rustdoc"
(Originally filed as https://github.com/rustwasm/wasm-bindgen/issues/1192; +cc @liamcurry)

[2019-01-17 20:54] sfackler commented on #57497
Rust programs can link to hundreds of glibc symbols, any of which could have versions that require newer glibcs. There's nothing particularly special about __cxa_thread_atexit_impl except that it happens to be the only one for that specific program.

[2019-01-17 21:16] konstin commented on #57497
Oh that's too bad; I had been under the impression that std links a fixed set of symbols and that we'd only need to work around `__cxa_thread_atexit_impl` and `memcpy`. But checking other programs confirmed that there are many more symbols that we'd need to care about. But since I don't even know how to find all relevant symbols there's not much sense in te pursuing this further

[2019-01-17 21:17] #57497 closed

[2019-01-17 21:22] Centril commented on #29642
@petrochenkov

Interesting; could you elaborate a bit on the semantics of this?

[2019-01-17 21:34] petrochenkov commented on #29642
@Centril
Same semantics as `Registry::register_attribute` - you get a name in prelude that refers to an inert attribute.

[2019-01-17 21:39] AmlingPalantir opened #57713 "Weird rustc errors about expected types."
I tried this code:

https://github.com/AmlingPalantir/20190117-rustc-bug

I expected to see this happen:

Compiler error complains about return type, something like "expected
Bottom::Structo, found Bottom2::Structo".

Instead, this happened:

Compiler error seems to be trying to replace actual types (like
Bottom2::Structo) with visible aliases for them.  In this case Bottom2::Structo
isn't actuall

[2019-01-17 21:40] mark-i-m commented on #57593
Crater run is done https://github.com/rust-lang/rust/pull/57617#issuecomment-455341547

[2019-01-17 21:40] AmlingPalantir commented on #57713
This actually happened to me in real code, I've just stripped it way down.  In the real case top was me, left was syn[::export], right was quote, bottom was proc_macro, bottom2 was proc_macro2, and Structo was TokenStream.

[2019-01-17 21:40] mark-i-m commented on #57593
1 regression from crates.io and two more from rust's test suite.

[2019-01-17 21:47] Centril commented on #57593
OK we definitely don't need to use an edition boundary for 1 regression... 1-2 release cycle should be enough imo.

[2019-01-17 21:50] dtolnay commented on #29642
Thanks for the ping @nikomatsakis. I don't know of any code using custom_attribute and I don't have any reason to keep it.

[2019-01-17 22:13] Centril opened #57715 "Tracking issue for RFC 2235, "Implement Debug, Eq, PartialEq, and Hash for libc structs""
This is a tracking issue for the RFC "Implement Debug, Eq, PartialEq, and Hash for libc structs" (rust-lang/rfcs#2235).

**Steps:**

- [ ] Implement the RFC (cc @rust-lang/libs @Susurrus)
- [ ] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge.rust-lang.org/stabilization-guide.html
[doc-guide]: https://forge.rust-lang.org/stabilization-guide.

[2019-01-17 22:38] Centril commented on #57711
@jonas-schievink covers the issue well; for further inquiries I'd recommend elaborating on your designs at http://internals.rust-lang.org/.

[2019-01-17 22:38] #57711 closed

[2019-01-17 22:39] Centril commented on #57712
@fitzgen Seems like a dupe of https://github.com/rust-lang/rust/issues/57628?

[2019-01-17 22:42] QuietMisdreavus commented on #57712
Yes, this is a duplicate. There's also an open PR to fix it: https://github.com/rust-lang/rust/pull/57646 I'm closing this as a duplicate.

[2019-01-17 22:42] #57712 closed

[2019-01-17 22:49] holygits opened #57716 "Distinguish between error vs. warning for external macros"
I often see compiler notes for *warnings* accompanied with this message:
[code]

would it be more sensible and correct to say `this _warning_ originates...`?

Very superficial but I find seeing "error" in compilation logs catches my eye far too often and
its only a warning. Happy to submit PR if it is a valid change.

[2019-01-17 22:49] mehcode commented on #57640
I'm strongly in favor of a postfix await for various reasons but I dislike the variant shown by @withoutboats , primarily it seems for the same reasons. Eg. `foo await.method()` is confusing.

First lets look at a similar table but adding a couple more postfix variants:

| Name                 | Future             | Future of Result    | Result of Future    |
|----------------------|--------------

[2019-01-17 22:52] cramertj opened #57717 "--emit=dep-info or some flag should include rlibs & externally linked files that will be used"
Currently, `--emit=dep-info` only shows source files that are included in the current crate. There should be another mode (or the behavior should be extended) to include all files that will be used by the equivalent non-`dep-info` invocation of `rustc`. This includes `rlibs` of all crates used by the build, both explicitly in `--extern` and brought in through lib search paths, as well as external

[2019-01-17 22:55] fitzgen commented on #57712
Thanks! :)

[2019-01-17 23:53] dwijnand commented on #34902
@tarcieri can you share some links of CI setups for that?

[2019-01-17 23:58] tarcieri commented on #34902
Well, if you're ok with cargo culting a config from a project called `sniffglue`, here is an example:

https://github.com/kpcyrd/sniffglue/blob/master/ci/reprotest.sh

[2019-01-18 00:31] nnethercote opened #57718 "`unicode_normalization` benchmark from `rustc-perf` is slow"
The `unicode_normalization` benchmark was just added to `rustc-perf`: https://github.com/rust-lang-nursery/rustc-perf/pull/328

Here is the high-level data from Cachegrind for a `Clean-Check` run.
[code]
The first three entries show that `expand_node` is super-hot:

https://github.com/rust-lang/rust/blob/d45bef9db62a0797c6dd3b06e21db1a0acd8cfe7/src/librustc/infer/lexical_region_resolve/mod.rs#L217

[2019-01-18 00:44] nnethercote commented on #57718
#57719 improves things by up to 4% by inlining `expand_node`. But that's just tweaking around the edges. An algorithmic improvement will be necessary to really improve things.

[2019-01-18 00:58] alexcrichton commented on #57717
It's right yeah that sccache implicitly relies on this, where if A depends on B which depends on C, sccache's hash for A only includes B, but B's own hash transitively includes C so it ends up working out in practice.

I don't think this is overly hard to do in rustc in principle, but I suspect some refactoring would be necessary to achieve this without engaging the whole compiler on `--emit dep-i

[2019-01-18 01:04] estebank commented on #57716
This can be easily added at

https://github.com/rust-lang/rust/blob/daa53a52a2667533d5fe59bfcc5b8614b79c3d31/src/librustc_errors/emitter.rs#L850-L871

by looking at the [`Diagnostic::code` or, if not available, the`Diagnostic::level`](https://github.com/rust-lang/rust/blob/daa53a52a2667533d5fe59bfcc5b8614b79c3d31/src/librustc_errors/diagnostic.rs#L12-L19) and changing the text accordingly.

[2019-01-18 01:10] estebank commented on #57713
Pretty sure this is a duplicate of #56943, but the repro case is very helpful.

[2019-01-18 01:14] AmlingPalantir commented on #57713
Yeah, you can get errors similar to that ("expected X, found a different X") if you remove the top -> bottom link in my example.

[2019-01-18 01:30] orium commented on #43234
Anyone knows what are the conditions for removing the old AST-based borrow checker?  I'm curious about the performance gain it will cause :slightly_smiling_face:

[2019-01-18 03:46] mark-i-m commented on #57593
Cross-posting from the PR: I have implemented a future incompatibility lint for this with the goal of later turning it into a hard-error. What's next?

[2019-01-18 05:04] scottmcm opened #57724 "rustc is using three versions of rand"
I noticed this scrolling by while "Building stage0 compiler artifacts" today:
[code]

Optimistically flagging E-easy

[2019-01-18 05:41] JohnTitor commented on #57724
@scottmcm I'd like to work on this, how can I fix? make rustc use one version(maybe v0.6.1)?

[2019-01-18 06:13] JohnHeitmann commented on #57695
My change broke that. Sorry folks! @GuillaumeGomez's fix looks good to me.

[2019-01-18 08:02] JohnTitor commented on #57724
@ishitatsuyuki Thanks! When I checked, it seems each rand version is used.

[2019-01-18 08:11] ishitatsuyuki commented on #57724
Yeah, it's natural that they are all used, and you could try to eliminate those crates using old `rand` by upgrading or refactoring. That said, there isn't much drawback with an older `rand`, so in that case this issue can be just closed.

[2019-01-18 08:59] JohnTitor commented on #57724
Oh, I'm sorry, I misunderstood. Hmmm, I think we don't have to fix this quickly and this may be a catalyst for a newbie like me to contribute, so I leave this, okay?

[2019-01-18 09:20] chpio commented on #57640
[code]

Would this even work? `get_result` & `or_recover` would need to return exactly the same type?!

[2019-01-18 09:41] hellow554 commented on #57724
@ishitatsuyuki but one could argue that it will lower the time to compile so it's worth to fix IMHO ;)

[2019-01-18 09:46] JohnTitor commented on #57724
Uh, would it be better to fix?

[2019-01-18 09:49] hellow554 commented on #57665
Cannot reproduce it with 1.31.1 :/

[2019-01-18 09:55] hellow554 commented on #57724
Disclaimer: I'm not a core member, but IMHO this is worth fixing. Also scottmcm who is a core member opened this issue, so I guess you're good to go and fix that issue @JohnTitor :)

[2019-01-18 10:05] Nemo157 commented on #57640
@novacrazy the problem with this argument is that any `await!` macro _would_ be magic, it's performing an operation that is not possible in user-written code (currently the underlying generator based implementation is somewhat exposed, but my understanding is that before stabilization this will be completely hidden (and actually interacting with it at the moment requires using some `rustc`-interna

[2019-01-18 10:06] JohnTitor commented on #57724
Okay, I want to try to fix. For instance, `crossbeam-channel` depends on `rand v0.5.5`, how can I update or refactor this?

[2019-01-18 10:09] Moongoodgirl opened #57728 "Rust programs started with closed stdio streams may corrupt files|sockets|etc"
For example, if a program is started with `./foo >&-` (stdout closed, stdin and stderr open), `println!()`s fail silently (despite `strace` showing that `write(2)` clearly returns `-1` and `EBADF`). If a file is opened and _then_ a `println!()` is attempted, it silently writes into the file (which is probably not what was intended).

Example 1:
[code]
Invocation: `target/debug/hello-world >&-`
Exp

[2019-01-18 10:16] redengin commented on #57728
it appears that this is the conventional expectation of OS kernels.

https://stackoverflow.com/questions/22367920/is-it-possible-that-linux-file-descriptor-0-1-2-not-for-stdin-stdout-and-stderr

While I don't believe this should be allowed by the OS kernels, making Rust ensure that it doesn't use "reserved" file descriptors would break programs that rely on this corner-case.

As this really is an

[2019-01-18 10:19] Moongoodboy-K commented on #57728
Kernel compliance or no, it doesn't seem okay to me that a program can open a `fs::File`, try to write to `io::Stdout`, and, through no fault of its own, inadvertently corrupt the file.

[2019-01-18 10:36] bluss commented on #57728
This seems to be a known problem of the C/POSIX platforms at least as described in [Secure Programming Cookbook for C and C++ chapter 1.5](https://www.oreilly.com/library/view/secure-programming-cookbook/0596003943/ch01s05.html)

[2019-01-18 10:38] novacrazy commented on #57640
@Nemo157 Hmm. I wasn't aware it was intended to be so opaque.

Is it too late to reconsider using a procedural macro like `#[async]` to do the transformation from "async" function to generator function, rather than a magical keyword? It's three extra characters to type, and could be marked in the docs the same way `#[must_use]` or `#[repr(C)]` are.

I'm really disliking the idea of hiding so many

[2019-01-18 10:52] jethrogb commented on #53615
Probably yes

[2019-01-18 11:07] pnkfelix commented on #54184
My current thinking is that we need to *either* get rid of the `error: type parameter I is part of concrete type but not used in parameter list for existential type` when you try to run [this variant](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=092b52ced3f760cb47ab8293644e8b6b), *or* downgrade/remove the error being emitted for the code [as originally written](https://

[2019-01-18 11:09] pnkfelix commented on #54184
(Also I probably need to find out the answer to this question:)

[2019-01-18 11:18] HeroicKatora commented on #57640
@novacrazy I generally agree with the sentiment but not with the conclusion.

What is the reason for having `for`-loops in the language when they could also be a macro that turns into a `loop` with breaks. What is the reason for `|| closure` when it could be a dedicated trait and object constructors. Why did we introduce `?` when we already had `try!()`. The reason why I disagree with those questi

[2019-01-18 11:33] cyplo commented on #55436
Would it need an RFC or is it good for someone to just go and implement ?

[2019-01-18 11:38] pnkfelix opened #57731 "NLL may be mishandling `_` within type-ascription expression form"
Adapted from examples given on #55748. Note that observing this bug requires use of `feature(type_ascription)` and therefore is not high priority.

consider the following code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=21fd53875eb61354f46c76088f983d62)):

[code]

Right now, as written, this compiles without error.  (Note that `fn coupled_types_rhs` is not incl

[2019-01-18 11:40] pnkfelix commented on #55748
Okay I'm considering myself done with the investigation now. PR #57729 adds the test I want, and issue #57731 tracks the bug with handling of `EXPR: TYPE` when the type contains `_`.

[2019-01-18 11:40] #55748 closed

[2019-01-18 11:41] #56008 closed

[2019-01-18 12:09] spacejam commented on #36963
I am quite saddened by this. PL-scale memory throughout regressions like this will use a lot more energy, cost most users (who are unlikely to learn about GlobalAlloc) more on their server bills, and blunt the surprising bliss experienced by so many newcomers whose undertrain first steps blow their previous implementations out of the water.

Binary size is a vanity metric for computing at scale, a

[2019-01-18 12:19] novacrazy commented on #57640
@HeroicKatora

To be fair, I was against this as well, although it has grown on me. It would be more acceptable if `Try` was ever stabilized, but that's another topic.

The issue with the examples of "sugar" you give is that they are very, very thin sugar. Even `impl MyStruct` is more or less sugar for `impl <anonymous trait> for MyStruct`. These are quality of life sugars that add zero overhead w

[2019-01-18 13:31] mpe commented on #57345
The SIGIILL is happening because the program has branched somewhere that's not code. In fact it branches to 0 (relocated) which is the start of the ELF.

It seems to be coming from here:
[code]

Which is also what we see in the obdump:
[code]

So for some reason we have a branch to address 0, but there's nothing at address 0 and in fact there isn't even code there. Which looks like some sort of to

[2019-01-18 14:15] jonhoo commented on #36963
@spacejam I don't think it's quite fair to characterize this as that grand of a problem. It's not as though jemalloc exclusively makes things faster, and thus not as though this is universally a regression. Quite to the contrary. There are some workloads that are made much better by this. This change also means that, as system allocators improve, so will that of Rust programs. This would not be th

[2019-01-18 14:17] evanjs commented on #38785
Is this still an issue? I got some helpful error messages telling me to add target-c-int-width and linker-flavor, and after adding "target-c-int-width": "32" and "linker-flavor": "ld" it seems to compile fine.

[2019-01-18 14:39] pnkfelix commented on #57673
This was injected by #54252

cc @arielb1

[2019-01-18 15:32] pnkfelix commented on #57673
(the ICE *seems* like it may have been injected by commit be2bb4fa1d specifically.)

[2019-01-18 15:52] bgourlie opened #57735 "Project fails (or takes long time) to compile on latest stable and nightly (hang/stackoverflow)"
While attempting to compile my application (or simply run `cargo check`), rustc will crash, with slightly different results depending on whether it's the stable or nightly branch.

**OS**: Windows 10 x64 version 1809 build 17763.253

### stable toolchain
- stable-x86_64-pc-windows-msvc
- rustc 1.32.0 (9fda7c223 2019-01-16)

**`cargo check` result:** `thread 'main' has overflowed its stack`

**Repr

[2019-01-18 15:55] nagisa commented on #57735
Is there perhaps at least a vague idea of what nightly it was that used to work well?

[2019-01-18 16:10] bgourlie commented on #57735
I can confirm that `cargo check` succeeds on the following toolchains (apologies, I should have checked on my un-updated laptops prior to submitting this ticket!):

**master branch**:
- nightly-x86_64-pc-windows-msvc (1.33.0-nightly a2b0f247b 2018-12-30)
- nightly-x86_64-apple-darwin (rustc 1.33.0 nightly c2d381d39 2019-01-10)

**remove-unstable-features branch**
- stable-x86_64-pc-windows-msvc (r

[2019-01-18 16:32] nagisa commented on #57735
Does not reproduce on Linux.

[2019-01-18 16:49] SimonSapin commented on #51476
We previously had `Ref::filter_map` and removed it in https://github.com/rust-lang/rust/issues/27746. If `map_split` is deemed useful enough for inclusion in the standard library, should `filter_map` be brought back? @rust-lang/libs what do you think?

[2019-01-18 17:11] AljoschaMeyer opened #57738 "What does the % operator on floats do?"
I can't find any documentation on the behavior of the [`Rem` implementation](https://doc.rust-lang.org/std/primitive.f64.html#impl-Rem%3Cf64%3E-1) for `f64` (or `f32`). Where can I find out how it precisely works, regarding rounding modes etc? Is it the IEEE 754-2008 "remainder" operation?

[2019-01-18 17:14] liquidblock opened #57739 "ICE when using associated constant as an array size when implementing trait for all types"
The following code results in an internal compiler error:
[code]
([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c7b965d6a4439b9471441771aa72242d))

I expected to see something like error E0599, since removing `impl<T : ?Sized> ArraySizeTrait for T` makes this code quite similar to issue #26402 and causes error E0599.
I tested it with rustc versions 1.32.0 an

[2019-01-18 17:21] bgourlie commented on #57735
Updated my toolchains on OS X, was able to reproduce on stable, on nightly it succeeded but takes an incredibly long time (> 5 minutes)

[2019-01-18 17:24] ExpHP commented on #57735
Unable to reproduce.  I am also on linux. (triple: `x86_64-unknown-linux-gnu`)

[code]

[2019-01-18 17:27] kvark commented on #43364
Note that the situation needs some kind of solution at the moment. `--pretty=expanded` is used by [cbindgen](https://github.com/eqrion/cbindgen), which helps gluing together WebRender with Gecko as well as powering other crates, like [wgpu-bindings](https://github.com/gfx-rs/wgpu/tree/master/wgpu-bindings).
If stabilizing the pretty output is not an option, what would be the right way to proceed w

[2019-01-18 17:38] ExpHP commented on #57738
Definitely not.

`%` on floats is weird because it's a modulus operation that has no corresponding integer division operation in the standard library.  Its integral division function (which for the sake of discourse I will call `a /% b`) is the following:

[code]

and when I refer to this as its corresponding division function, I mean that `/&` and `%` approximately obey the follow law (which is c

[2019-01-18 17:40] ExpHP commented on #57738
sorry, `floor` is wrong, I edited my post

[2019-01-18 17:44] nagisa commented on #57518
This does not reproduce on a rustc built locally, although as always, my configuration may not match what dist builders have exactly...

[2019-01-18 17:45] vorner commented on #57611
Hello

I'm getting the same ICE, but without any unstable features. I don't have a minimized example, though, but it may be another data point when searching for the problem.

It's this commit: https://github.com/vorner/spirit/tree/rust-crash. The commit happens with

[code]

The code is not correct, it wouldn't compile even if the compiler didn't panic.

[code]

It doesn't happen on stable, but I

[2019-01-18 17:55] eqrion commented on #43364
Assuming stabilizing the output is not the right path forward, I believe something like my [`rust-ffi`](https://github.com/eqrion/rust-ffi) prototype is a good path forward.

I've been too busy to work on getting it to a MVP though.

[2019-01-18 18:15] bgourlie commented on #57735
Also unable to reproduce on Linux (WSL).

[2019-01-18 18:52] estebank opened #57741 "Suggest dereferencing boxed enum when matching"
Given the following code:

[code]

[the compiler outputs](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=408bb5fbf39a14ad034778701352d7ed):

[code]

Adding changing line 8 to `let y = match *x {` makes the code compile correctly (partly thanks to match ergonomics, I believe).

The error message would ideally be closer to

[code]

Adding the suggestion should be relatively

[2019-01-18 18:58] cramertj commented on #57640
Please remember that this issue is specifically for discussion of the syntax of `await`. Other conversations about how `async` functions and blocks are implemented is out-of-scope, except for the purposes of reminding folks that `await!` is not something you can or will ever be able to write in Rust's surface language.

[2019-01-18 19:08] #37048 closed

[2019-01-18 19:09] mark-i-m opened #57742 "Tracking issue for `duplicate_matcher_binding_names` compatibility lint"
**What is this lint about**

In https://github.com/rust-lang/rust/issues/57593, it was observed that duplicate macro matcher bindings are allowed in declarations, but unusable in invocations:

[code]
This is macro compiles fine on its own, but any attempt to use it will result in an error because `$a` is bound twice. This is likely an oversight in the original implementation, but it really feels l

[2019-01-18 19:10] mark-i-m commented on #57742
cc @Centril

[2019-01-18 19:19] ExpHP commented on #57735
Okay.  I **can** confirm that it takes a suspiciously long time to `cargo check` on nightly.  (either master or `remove-unstable-features`)

I attached `gdb` to a running process and sampled some backtraces:

<details>
<summary>cargo check gdb backtraces (nightly rustc daa53a52a, rs-nes 4d98499f (remove-unstable-features))</summary>

[code]

</details>

[2019-01-18 19:19] estebank opened #57743 "Explain type mismatch cause pointing to return type when it is `impl Trait`"
[Point to the return type](https://github.com/rust-lang/rust/pull/57723#discussion_r249137415) with an appropriate label on

[code]

An appropriate wording should be figured out, but it can be along the lines of

[code]

CC @nikomatsakis @zackmdavis @oli-obk @varkor who might have thoughts on wording.

[2019-01-18 19:32] joshlf commented on #51476
FWIW, my own use case for `map_split` has gone away; I no longer use it anymore. So I wouldn't oversell the utility of `map_split` :)

[2019-01-18 19:37] HeroicKatora commented on #57640
I'd like to specifically weight the pros and cons of all post-fix syntax proposals. If one of the syntaxes stands out with a minor amount of cons, maybe we should go for it. If none however, it would be best to support syntax prefix delimited syntax that is forward compatbile to a yet-to-be determined post-fix if the need arises. As Postfix appears to resonate as being most concise for a few membe

[2019-01-18 20:01] HeroicKatora commented on #57640
An additional thought on post-fix vs. prefix from the view of possibly incorporating generators: considering values, `yield` and `await` occupy two opposing kinds of statements. The former gives a value from your function to the outside, the latter accepts a value.

Then, I argue that it is unatural that these statements should be made to look alike. Here, similar to assignment expressions, maybe

[2019-01-18 20:18] mark-i-m commented on #48478
Updated after #57652

[2019-01-18 20:44] wesleywiser opened #57744 "Confusing error message when passing trait object to generic function"
This could be the same issue as #23286 but I'm not sure.

The following code gives this error ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a4b5b27510085fc74ef261ac7b66b1ca)):

[code]

[code]

There's a couple reasons this is very confusing:

-------------------------
[code]

points to the function name not the parameter `w`.

-----------------------------

[2019-01-18 20:54] nagisa commented on #56877
By the way, I’ve found just today that

[code]

and

[code]

are not equivalent. Namely the following code is UB with the first structure but not UB with the second, suggesting that only the second structure is variable-length...

[code]

[2019-01-18 21:00] nikomatsakis commented on #57639
OK, I did some digging into this. I'm not sure yet what I think is the correct fix.

The problem begins when we are asked to prove

[code]

I *think* we are asked to prove this because we are trying to prove that `T::Item: Foo<'a>` is well-formed, and the criteria for that include the where-clauses from the trait. I don't really think we should be proving that per se, but it's *kind of* an orthogo

[2019-01-18 21:02] petrochenkov commented on #55478
https://github.com/rust-lang/rust/pull/57745 is implementation of that plan.

[2019-01-18 21:08] matthewjasper commented on #57731
I had a brief look, the annotation is dropped before we get to NLL. Probably here: https://github.com/rust-lang/rust/blob/f613dc138b4012cf3d2eb40718fbcc7cf0a34039/src/librustc_typeck/check/mod.rs#L2442-L2446

[2019-01-18 21:12] dtolnay commented on #57639
I don't know of this being a common pattern.

It is startling to me that in @rozbb's code if you replace `for<'de> Deserialize<'de>` with `DeserializeOwned` then it compiles. We have `T: for<'de> Deserialize<'de>` if and only if `T: DeserializeOwned`, so ideally both of those would compile or neither would compile, or there is some way for us to articulate how `for<'de> Deserialize<'de>` and `Dese

[2019-01-18 21:16] nikomatsakis commented on #57639
I mean it's definitely a shortcoming of the trait solver, so it's hard to "explain" the behavior. I'm mostly trying to judge how quickly to try and hack up a fix, not *whether* to do so.

[2019-01-18 21:17] nikomatsakis commented on #57639
I've been thinking about to handle region solving in any case, and I think some of the changes I have in mind would help here.

[2019-01-18 21:19] joshtriplett commented on #50547
On Tue, Jan 15, 2019 at 07:10:32AM -0800, Pauan wrote:

That defeats the primary benefit of postfix await: "just keep
writing/reading".  Postfix await, like postfix `?`, allows control flow
to keep moving left to right:

[code]

If `await!` were prefix, or back when `try!` was prefix, or if you have
to parenthesize, then you have to jump back to the left hand side of
the expression when writing or

[2019-01-18 21:35] nikomatsakis commented on #56877
Some notes:

- First off, when @arielb1 wrote "VLA" I was presuming they meant what @parched calls "flexible array members". =) But perhaps we should adopt the "flexible" terminology.
- Second, we probably need to address (at the lang level) the fact that we can't draw all the distinctions that C can (e.g., flexible vs zero-length etc). But that will take some time.

I am wondering if we can agree

[2019-01-18 21:36] nikomatsakis commented on #56877
(I should probably try to draw up some concrete examples to make my points here)

[2019-01-18 21:50] #57306 closed

[2019-01-18 21:50] #53844 closed

[2019-01-18 21:50] #57539 closed

[2019-01-18 21:50] #57601 closed

[2019-01-18 21:50] xd009642 commented on #52478
Someone on my tarpaulin tracking issue for this https://github.com/xd009642/tarpaulin/issues/161 mentioned it goes away if they remove `-C link-dead-code` from the options tarpaulin uses to build the tests. They also got results by removing that option (although that impacts the accuracy of coverage results).

[2019-01-18 21:50] #57628 closed

[2019-01-18 21:51] #57695 closed

[2019-01-18 22:07] tspiteri opened #57748 "Rustdoc: quoted code in fake italics"
For example in the `i32` primitive documentation, there is some text in italics: “See also the `std::i32` module.” I think the “`std::i32`” part should not be in italics. BTW, the italics are fake italics, as the stylesheet does not provide the italics for the monospace font.

![screenshot_2019-01-18 i32 - rust](https://user-images.githubusercontent.com/18604588/51415071-d1b58000-1b74-11e9-9aae-5d

[2019-01-18 22:10] sanxiyn commented on #34902
Just to prevent some confusion: these two issues are separate: 1) reproducible builds of softwares written in Rust, and 2) reproducible builds of Rust compiler. Since Rust compiler is written in Rust, 2 requires 1.

Since this is an issue on Rust compiler repository, this issue is mostly about 2. 2 is very close but not done. So this issue is open.

1 is largely possible now, although tooling is l

[2019-01-18 22:11] dlrobertson commented on #57306
Good catch and thanks for the fix! For some reason I didn't see your PR when I opened mine. My bad.

[2019-01-18 22:21] nrc commented on #43364
There's also `cargo-expand`. We'll be looking at adding some support to the RLS which might be a better path to stabilisation that `--pretty=expanded`

[2019-01-18 22:23] memoryruins commented on #57041
cc  #34902

[2019-01-18 22:44] nikic commented on #57041
Is there anything actionable to do here on the side of rustc? Per your investigation this issue has already been fixed in LLVM 7.0.

[2019-01-18 23:15] sanxiyn commented on #57041
I think this can be closed, once someone checks the original reproduction with a nightly build.

[2019-01-18 23:52] yazaddaruvala commented on #57640
Since implicit seems off the table.

From using async/await in other languages and looking at the options here, I've never found it syntactically pleasant to chain futures.

Is a non-chain-able variant on the table?
[code]

[2019-01-19 01:01] matthiaskrgr commented on #57735
When `cargo check`ing with `RUSTFLAGS="-Ztime-passes"`, I can see that the `expand crate` step takes an unusually big amount of time:
[code]

[2019-01-19 01:10] mehcode commented on #57640
I sort of like this as you could make the argument that it's part of the pattern.

The issue with making await a binding is the error story is less than nice.

[code]

We need to keep in mind that nearly all futures available in the community to await are falliable and must be combined with `?`.

[2019-01-19 01:50] lfairy opened #57749 "Deref coercions don't work on blocks when the target is sized"
As seen on [StackOverflow](https://stackoverflow.com/q/53908386/617159).

Consider the following code:

[code]

The following expressions do compile:

* `reset(&Homura)`
* `reset(&&{ Homura })`
* `reset({ &Homura })`

But this doesn't:

* `reset(&{ Homura })`

[code]

Is there are particular reason for this discrepancy?

I found two similar issues #26978 and #32122 but they don't seem to cover thi

[2019-01-19 02:00] lfairy commented on #57749
Background: I found this issue while playing with `wasm-bindgen` and `web-sys`. The code I was trying to write looked like this:

[code]

[`append_child`](https://docs.rs/web-sys/0.3.10/web_sys/struct.Node.html#method.append_child) takes a `Node`, and `HtmlButtonElement` implements a chain of `Deref`s that ends in `Node`.

[2019-01-19 02:11] lfairy commented on #57749
From reading https://github.com/rust-lang/rust/pull/31651/files I get the impression that `str` and `[T]` and `dyn Trait` are special-cased somehow, but I don't have the background knowledge to pursue that further.

[2019-01-19 02:56] estebank commented on #56036
CC https://github.com/rust-lang/rust/issues/50333 https://github.com/rust-lang/rust/issues/56607

I believe that `s` should be marked as TyErr, which will cause the knock down errors to be elided.

[2019-01-19 03:20] yazaddaruvala commented on #57640
I’ll fix the formatting when I’m not on mobile.

If we really need the syntax sugar:

    await? response = client.get(“https://my_api”).send();
    await? response = response.json();

Both await and await? would need to be added as keywords or we extend this to let as well (I.e. let? result = div_by_zero();)

[2019-01-19 03:32] hikitrbogithub opened #57750 "Multiple Higher Kinded Trait Bounds bug"
[code]
Gives the following error
error[E0277]: `<&'a _ as std::iter::IntoIterator>::Item` doesn't implement `std::fmt::Debug`

[2019-01-19 03:50] lholden commented on #57640
Considering how often chaining is used in Rust code, I do entirely agree that it's important for chained awaits to be as clear as possible to the reader. In the case of the postfix variant of await:

[code]

This generally behaves similar to how I expect Rust code to behave. I do have a problem with the fact that `await()` in this context feels just like a function call, but has magical (non funct

[2019-01-19 04:40] AaronFriel commented on #57640
My two cents (not a regular contributor, fwiw) I'm most partial to copying the model of `try!`. It's been done once before, it worked well and after it became very popular there were enough people to consider a postfix operator.

So my vote would be: stabilize with `await!(...)` and punt on a postfix operator for nice chaining based on a poll of Rust developers. Await is a keyword, but the `!` ind

[2019-01-19 05:36] casey commented on #57640
I like postfix `@` too! I think it's actually not a bad option, even though there seems to be some sentiment that it isn't viable.

- _@ for await_ is a nice and easy to remember mnemonic
- `?` and `@` would be very similar, so learning `@` after learning `?` shouldn't be such a leap
- It aids scanning a chain of expressions left to right, without having to scan forward to find a closing delimiter

[2019-01-19 05:44] sfackler commented on #57750
Duplicate of #56556

[2019-01-19 05:44] #57750 closed

[2019-01-19 05:52] darkwater commented on #57640
I'm very much in favor of the `await? foo` syntax, and I think it is similar to some syntax seen in math, where eg. sin² x can be used to mean (sin x)². It looks a bit awkward at first, but I think it is very easy to get used to.

[2019-01-19 06:16] ivandardi commented on #57640
As said above, I'm favorable with adding `await!()` as a macro, just like `try!()`, for now and eventually deciding how to postfix it. If we can keep in mind support for a rustfix that automatically converts `await!()` calls to the postfix await that's yet to be decided, even better.

[2019-01-19 06:58] Kampfkarren opened #57751 "Add compile_warning! builtin macro"
[compile_error!](https://doc.rust-lang.org/std/macro.compile_error.html) was added in 1.20, about a year and a half ago. This has proven to be a useful feature to me, however I was confused about the absence of a warning equivalent. I can think of times where it may be useful to warn instead of error, eg expecting certain cfgs to be enabled when compiling, or for macros to use for weird behavior.

[2019-01-19 07:32] unraised commented on #57640
The postfix keyword option is a clear the winner to me.

* There is no precedence/ordering issue, and order could be made explicit with parenthes. But mostly no need for excessive nesting (similar argument for postfix '?' replacement of 'try()!').

* It looks good with multi-line chaining (see earlier comment by @earthengine).
[code]
* It lends itself to a simple await!() macro (see earlier commen

[2019-01-19 07:42] #56701 closed

[2019-01-19 08:03] jonimake commented on #57640
I'm not a fan of using @ for await. It's awkward to type on a fin/swe layout keyboard since I have to hit alt-gr with my right thumb and then hit key 2 on the number row. Also, @ has a well established meaning (it's the same as at) so I don't see why we should conflate the meaning of it.

[2019-01-19 08:42] jix commented on #52478
For everyone ending up here trying to use proptest and tarpaulin together: the workaround I described in xd009642/tarpaulin#161 only disables dead code generation for the proptest dependency, which fails to compile with `-Z link-dead-code`. In my tests so far that doesn't impact the coverage accuracy of the main crate being tested. This is different from disabling dead code generation globally, wh

[2019-01-19 09:19] EyeOfPython commented on #57640
Here's my own, very subjective, assessment. I've also added `future@await`, which seems interesting to me.

| syntax | notes |
|---|---|
| `await { f }` | **strong:** <ul><li>very straightforward</li><li>parallels `for`, `loop`, `async` etc.</li></ul> **weak:** <ul><li>very verbose (5 letters, 2 braces, 3 optional, but probably linted spaces)</li><li>chaining results in many nested braces (`await

[2019-01-19 09:51] jsdw commented on #57640
It does feel to me like we should mirror `try!()` syntax in the first cut and get some real usage out of using `await!(expr)` before introducing some other syntax.

However, if/when we do construct an alternate syntax..

I think that `@` looks ugly, "at" for "async" doesn't feel that intuitive to me, and the symbol is already used for pattern matching.

`async` prefix without parens leads to non o

[2019-01-19 10:12] josalhor commented on #57640
I prefer the prefix operator for simple cases:
`let result = await task;`
It feels way more natural taking into account that we don't write out the type of result, so await helps mentally when reading left-to-right to understand that result is task with the await.
Imagine it like this:
`let result = somehowkindoflongtask await;`
until you don't reach the end of the task you don't realize that the

[2019-01-19 10:19] sheredom opened #57753 "Impl Drop for a global_allocator silently fails"
I've been experimenting with the GlobalAlloc API and came across a perhaps interesting failure:

[code]

I am new enough to rust that I thought I could add a drop method to a static - which I think is not expected to be supported. But the compiler didn't error to tell me that implementing Drop wasn't supported, and I spent quite a bit of time trying to work out why lldb wasn't hitting the breakpoi

[2019-01-19 10:57] AljoschaMeyer commented on #57738
Thank you @ExpHP.
For a bit more context: Where could I have found that information myself? And how did it come about that rust diverges from IEEE 754 here - is this llvm semantics cropping up?

[2019-01-19 11:03] m-ou-se commented on #54361
What needs to happen before this can be stabilized?

[2019-01-19 11:11] bartsmykla commented on #57469
@rchaser53 are you working on this? :-)

[2019-01-19 11:14] rchaser53 commented on #57469
Yes. I'm working now.

[2019-01-19 11:51] I60R commented on #57640
Why not take `await` as first `async` function parameter?

[code]

[code]

[code]

[2019-01-19 11:57] ejmahler commented on #57640
This is in the Coroutines TS, not concurrency.

[2019-01-19 12:09] nagisa commented on #57753
`Drop` types in statics weren’t allowed before and the decision to allow and ignore the drop was made through consensus via the RFC process: [#1440](https://github.com/rust-lang/rfcs/blob/master/text/1440-drop-types-in-const.md).

[2019-01-19 12:37] I60R commented on #57640
Another option could be using `become` keyword instead of await:

[code]

[2019-01-19 12:43] Laaas commented on #57640
`become` could be a keyword for guaranteed TCO though

[2019-01-19 13:09] spacekookie commented on #57640
Thanks @EyeOfPython for that [overview]. That's especially useful for people just now joining the bike-shed.

[overview]: https://github.com/rust-lang/rust/issues/57640#issuecomment-455763530

Personally I'd hope we stay away from `f await`, just because it's very un-rustic syntax wise and makes it seem kinda special and magic. It would become one of these things that users new to Rust are going t

[2019-01-19 13:11] GuillaumeGomez opened #57754 "Minification makes JS parsing slower"
This bug has been spotted by @est31:

One idea I had is to use an array instead of creating a lot of variables. It'll certainly take a bit more space but I think it'll allow to remove the parsing performance issue.

[2019-01-19 13:11] #57597 closed

[2019-01-19 13:12] #57692 closed

[2019-01-19 13:15] jplatte commented on #57640
@Nemo157 I agree that an `await!` macro would be magic, but I would argue that this is not a problem. There are multiple such macros in `std` already, e.g. [`compile_error!`](https://doc.rust-lang.org/std/macro.compile_error.html) and I haven't seen anyone complain about them. I think it's normal to use a macro only understanding what it does, not how it does it.

I agree with previous commenters

[2019-01-19 13:35] frewsxcv commented on #57738
Not sure if this is currently documented anywhere, but at the very least, it should be mentioned [here](https://doc.rust-lang.org/nightly/std/primitive.f32.html#impl-Rem%3Cf32%3E)

[2019-01-19 13:39] HeroicKatora commented on #57640
@EyeOfPython Have you seen `future(await)`? All the positives of your assessment of `future.await()` seem to transfer without the weakness

[2019-01-19 13:52] Centril commented on #57640
Since some have argued that despite syntax highlighting, `foo.await` looks too much like a field access, we could change the token `.` to `#` and instead write `foo#await`. For example:
[code]

To illustrate how GitHub would render this with syntax highlighting, let's replace `await` with `match` since they are of equal length:

[code]

This seems both clear and ergonomic.

The rationale for `#` r

[2019-01-19 13:58] I60R commented on #57640
So, another concept: **if future was reference**:

[code]

This would be really ugly and inconsistent. Let at least disambiguate that syntax:

[code]

Better, but still ugly (and yet worse it makes github's syntax highlighting). However, to deal with that let introduce ability to **delay prefix operator**:

[code]

This exactly what I want! Not only for await (`$`) but as well for deref (`*`) and

[2019-01-19 13:58] MSleepyPanda commented on #57640
@Centril
IMO # is too close to the raw literal syntax `r#"A String with "quotes""#`

[2019-01-19 14:00] Centril commented on #57640
It seems quite clear from the context what the difference is in this case.

[2019-01-19 14:04] Laaas commented on #57640
@Centril
It does, but the syntax is also really foreign to the style Rust uses IMHO. It does not resemble any existing syntax with a similar function.

[2019-01-19 14:07] Centril commented on #57640
@Laaas Neither did `?` when it was introduced. I would be happy to go with `.await`; but others seem unhappy with that so I am trying to find something else that works.

[2019-01-19 14:08] Laaas commented on #57640
`?` has a bunch of other good points though, while #await seems rather arbitrary. In any case, if you want something like `.await`, why not `.await!`?

[2019-01-19 14:11] HeroicKatora commented on #57640
@Centril That was the main rationale behind `future(await)`, to avoid the field access while not having to add any extra operators or foreign syntax.

[2019-01-19 14:12] Centril commented on #57640
`#` is arbitrary, yes -- is that make or break? When new syntax is invented at some point it has to be arbitrary because someone thought it looked good or made sense.

That's equally arbitrary but I have no opposition to it.

Instead it looks like function application where you are passing `await` to `future`; that strikes me as more confusing than "field access".

[2019-01-19 14:20] HeroicKatora commented on #57640
To me that was part of the conciseness. Await is in many aspects like a function call (callee executes between you and your result), and passing a keyword to that function made it clear that this is a different sort of call. But I see how it could be confusing that the keyword is similar to any other argument.

[2019-01-19 14:32] Laaas commented on #57640
@Centril

Being arbitrary isn't a *negative* thing, but having resemblance to an existing syntax *is* a positive thing. `.await!` isn't as arbitrary, since it's not entirely new syntax; after all, it's just a post-fix macro named `await`.

[2019-01-19 14:33] jplatte commented on #57640
To clarify / add to the point about new syntax specifically for `await`, what I mean by that specifically is introducing new syntax that's unlike the existing syntax. There is a lot of prefix keywords, some of which have been added after Rust 1.0 (e.g. `union`), but AFAIK not a single postfix keyword (no matter if separated by a space, a dot, or something else). I also can't think of any other lan

[2019-01-19 14:34] swfsql commented on #57640
I also liked the standard `await!()` macro.
I prefer a field-like access to co-exist as `awaited`.
Await feels you're waiting to what comes next (right); Awaited, to what came before (left).
And I also liked the `@` as `?`-like sugar.

[2019-01-19 14:40] Laaas commented on #57640
I personally think a simple `await!` macro should be used. If post-fix macros get into the language, then the macro could simply be expanded, no?

[2019-01-19 14:42] Centril commented on #57640
@Laaas As much as I would like for there to be, there are no postfix macros in Rust yet, so they are new syntax. Also note that `foo.await!.bar` and `foo.await!().bar` aren't the same surface syntax. In the latter case there would be an actual postfix and builtin macro (which entails giving up on `await` as a keyword).

@jplatte

`union` is not a unary expression operator so it is irrelevant in th

[2019-01-19 14:42] I60R commented on #57640
Hmm... With `@` my [previous proposal](https://github.com/rust-lang/rust/issues/57640#issuecomment-455782394) looks slightly better:

[code]

[2019-01-19 14:49] nikomatsakis commented on #57743
This would be awesome. I don't love the use of the word "coerced" in the label, perhaps something like "...is found to be `i32` here" -- just because *coercion* I would prefer to reserve for a specific set of operations in Rust involving changing the value in some way (e.g., coercing from `&Vec<T>` to `&[T]`)

[2019-01-19 14:50] Laaas commented on #57640
@Centril That is my point, since we do not have post-fix macros yet, it should simply be `await!()`. Also I meant `.await!()` FYI. I do not think `await` needs to be a keyword, though you could reserve it if you find it problematic.

[2019-01-19 14:51] jplatte commented on #57640
This still means that the prefix-keyword variant fits into the group of unary expression operators, even if typed differently. The postfix-keyword variant is a much larger divergence from existing syntax, one that is too large in relation to `await`'s importance in the language in my opinion.

[2019-01-19 14:51] HeroicKatora commented on #57640
Regarding prefix macro and possibility of transitioning to post-fix: `await` needs to remain a keyword for this to work. The macro would then be some special lang item where it's allowed to use a keyword as the name without an extra `r#`, and `r#await!()` could but probably should not invoke the same macro. Other than that it seems like the most pragmatic solution.

[2019-01-19 14:55] Laaas commented on #57640
@HeroicKatora why does it need to remain a keyword for it to work?

[2019-01-19 14:57] HeroicKatora commented on #57640
@Laaas Because if we want to keep the possibility of transitioning open, we need to remain open for future post-fix syntax that uses it as a keyword. Therefore, we need to keep the keyword reservation so that we don't need an edition break for the transition.

[2019-01-19 15:01] HeroicKatora commented on #57640
@Centril

Could this not be solved by making the keyword `await` combined with `!` resolve to an internal macro (which can not be defined through normal means)? Then it remains a keyword but resolves to a macro in otherwise macro syntax.

[2019-01-19 15:01] Laaas commented on #57640
@HeroicKatora Why would `await` in `x.await!()` be a reserved keyword?

[2019-01-19 15:02] HeroicKatora commented on #57640
It would not be, but if we keep post-fix unresolved, it need not be the solution we arrive at in later discussions. If that were the unique agreed upon best possibility, then we should adopt this exact post-fix syntax in the first place.

[2019-01-19 15:13] DDOtten commented on #57640
This is another time that we come across something that works a lot better as a postfix operator. The big example of this is `try!` which we eventually gave its own symbol `?`. However I think this is not the last time where a postfix operator is more optimal and we can not give everything its own special charachter. So I think we should at least not start with `@`. It would be a lot better if we

[2019-01-19 16:01] Keruspe commented on #57640
A recurring issue I see discussed here is about chaining and how to use
await in chaining expressions. Maybe there could be another solution ?

If we want not to use await for chaining and only use await for
assignments, we could have something like just replacing let with await :
`await foo = future`

Then for chaining we could imagine some kind of operation like `await res =
fut1 -> fut2` or `aw

[2019-01-19 16:13] icefoxen commented on #33417
I'm sick of waiting for this and I have free time.  If there's any code or documentation type stuff that I could do to push this forward, I volunteer to help.

[2019-01-19 16:46] EyeOfPython commented on #57640
@HeroicKatora I've added `fut(await)` to the list and ranked it according to my opinion.

If anyone feels like my scoring is off, please tell me!

[2019-01-19 16:54] arielb1 commented on #57640
Syntax-wise, I think `.await!()` is clean and allows for chaining while not adding any oddities to the syntax.

However, if we ever get "real" postfix macros, it will be a little weird, because presumably `.r#await!()` could be shadowed, while `.await!()` couldn't.

[2019-01-19 17:02] mitchtbaum opened #57759 "Improve error message for no space left to upgrade"
I got this: `error: failed to extract package`.  Verbose gave no additional info.

[2019-01-19 18:12] nicoburns commented on #57640
I'm pretty strongly against the "postfix keyword" option (separated with a space like: `foo() await?.bar() await?`), because I find the fact that the `await` is joined to the following part of the expression, and not the part that it operates on. I would prefer pretty much any symbol other than whitespace here, and would even prefer prefix syntax over this despite it's disadvantages with long chai

[2019-01-19 18:16] estebank commented on #57759
Was this when running `cargo` or `rustup`?

[2019-01-19 18:20] DDOtten commented on #57640
If we get postfix macros and we use `.await!()` then we can unreserve `await` as a keyword and just make a postfix macro. The implementation of this macro would still require a bit of magic of cource but it would be a real macro just like `compiler_error!` is today.

[2019-01-19 18:37] #56488 closed

[2019-01-19 18:37] #53546 closed

[2019-01-19 18:37] #50723 closed

[2019-01-19 18:40] estebank commented on #55584
Similar case from #55749.

[code]

[2019-01-19 18:40] estebank commented on #55749
Closing as duplicate of #55584.

[2019-01-19 18:40] #55749 closed

[2019-01-19 18:41] estebank commented on #55887
Closing as per #55840.

[2019-01-19 18:41] #55887 closed

[2019-01-19 18:42] HeroicKatora commented on #57640
@EyeOfPython Could you maybe explain in detail which changes you consider in `forward-compatibility`? I'm unsure in which way `fut@await` would rate higher than `fut.await!()` and `await { future }` lower than `await!(future)`. The `verbosity` column also seems a bit strange, some expressions are short but have lower rating, does it consider chained statements, etc.

[2019-01-19 18:45] ivandardi commented on #57640
After reading this discussion, it seems that lots of people want to add a normal `await!()` macro and figure out the postfix version later. That is assuming we actually want a postfix version, which I'll take as true for the rest of this comment.

So I'd just like to poll the opinion of everyone here: Should we all agree on the `await!(future)` syntax FOR NOW? The pros are that there's no parsing

[2019-01-19 19:00] EyeOfPython commented on #57640
@HeroicKatora I rated it higher as it could free `await` to be used as ordinary identifier naturally and it would allow other postfix operators to be added, whereas I think `fut.await!()` would better be if `await` was reserved. However, I'm unsure if this is reasonable, it also seems definitely valid that `fut.await!()` could be higher.

For `await { future }` vs `await!(future)`, the latter one

[2019-01-19 19:05] Centril commented on #57640
Stabilizing `await!(future)` is about the worst possible option I can imagine:
1. It means we have to unreserve `await` which further means that future language design gets harder.
2. It is taking knowingly taking the same route as with `try!(result)` which we deprecated (and which requires writing `r#try!(result)` in Rust 2018).
   + If we know that `await!(future)` is bad syntax we eventually me

[2019-01-19 19:11] RazrFalcon opened #57762 "rustc 1.32 using system LLVM crashes while building the resvg crate"
Initial issue: https://github.com/RazrFalcon/resvg/issues/110

[code]

Steps to reproduce:
[code]

The master branch can be built without rustc crashing on Gentoo and on Travis (Ubuntu 14.04.5 LTS).

**UPD:** I've tried to build it too and I have the same error. Looks like something wrong with the Arch's rustc. Because if we use the one installed via `rustup` - everything is ok.

**UPD:** it can b

[2019-01-19 19:13] ExpHP commented on #57738
@AljoschaMeyer to be honest, this is more or less how I naturally suspected it would work, based on experience with a similar `%` operator in Python (although that language *actually has* a corresponding integer division operation on floats, spelled `//`).  Beyond that, I simply verified my suspicions by running examples on the playground.

Your post is the very first time I've ever heard that IEE

[2019-01-19 19:13] estebank commented on #54128
The compiler should suggest @ExpHP's solution when encountering this kind of case.

[2019-01-19 19:35] Kampfkarren commented on #57751
After reading the oversights brought up by https://github.com/rust-lang/rfcs/pull/1695#issuecomment-282586506, I'm going to close this in favor of an RFC.

[2019-01-19 19:35] #57751 closed

[2019-01-19 19:40] estebank commented on #52790
This can be fixed by handling `async pub fn foo() -> impl Future<..> {}` in parser as a valid item emitting a custom error for that case. While we're at it we could also consider handling `fn pub foo()` as well.

[2019-01-19 19:50] andreytkachenko commented on #57640
I am agree with @ejmahler. We should not forget of other side of development - code review. File with source code is much more often being read then wrote, hence I thing it should be easier to read-and-understand then to write. Finding the yielding points is really important on code review. And I personally would vote for `Useful precedence`.
I believe that this:
[code]
is easier for understanding

[2019-01-19 19:52] jonas-schievink commented on #57762
Arch uses this build config for packaging fwiw:

[code]

[2019-01-19 19:53] estebank commented on #55731
Fixed in beta.

[2019-01-19 19:57] sheredom commented on #57753
Hey @nagisa - thanks for the info! Since y'all have already decided this I'll put my problems down to newness with the language. Feel free to close this issue!

[2019-01-19 19:58] Centril commented on #57640
@HeroicKatora

Technically? Possibly. However, there should be strong justification for special cases and in this case having magic upon magic doesn't seem justified.

I don't know if we ever said we intended for new module system, `async`/`await`, and `try { .. }` to be incentives; but irrespective of our intent they are, and I think that's a good thing. We want people to eventually start using n

[2019-01-19 19:58] estebank commented on #54582
No longer reproduces in current stable.

[2019-01-19 20:00] estebank commented on #52008
This change has seen been [released](https://github.com/rust-lang/rustup.rs/releases).

[2019-01-19 20:00] #52008 closed

[2019-01-19 20:02] #57753 closed

[2019-01-19 20:03] sfackler commented on #57762
Arch's build uses the system LLVM, while rustup's uses a bundled one, so the problem is probably due to an LLVM bug that's only present in Arch's version.

[2019-01-19 20:11] HeroicKatora commented on #57640
@ejmahler @andreytkachenko I agree with @Centril here, the biggest improvement you gain from prefix syntax is that users are incentivized to split their statements over multiple lines because everything else is unreadable. That is not Rust-y and usual formatting rules make up for this in post-fix syntax. I also consider the yield-point to be more obscure in prefix syntax because `await` is not act

[2019-01-19 20:12] ivandardi commented on #57640
Hm... is it desirable to have both a prefix and suffix form of await? Or just the suffix form?

[2019-01-19 20:15] ejmahler commented on #57640
Chaining method calls together is idiomatic specifically when talking about
iterators and to a much lesser extent options, but aside from that, rust is
an imperative language first and a functional language second.

I’m not arguing that a postfix is literally incomprehensible, I’m makin a
cognitive load argument that hiding a top-tier control flow operation,
carrying the same importance as ‘return

[2019-01-19 20:51] Centril commented on #57640
@ejmahler We disagree re. "hiding"; the [same arguments](https://github.com/rust-lang/rfcs/blob/fd5fe18b09b35209488e82f3ac52de1d701e62c9/text/0000-longer_question_mark.md#motivation) were [made wrt. the `?` operator](https://github.com/rust-lang/rfcs/pull/1737):

Nevertheless, we ultimately stabilized `?` and since then I think the prophecy has failed to materialize.
To me, postfix `await` follows

[2019-01-19 21:01] Centril commented on #57762
Tentatively labeling as I-unsound due to "invalid memory reference".

[2019-01-19 21:04] sfackler commented on #57762
That's how LLVM asserts look when built without debug check enabled.

[2019-01-19 21:13] mitchtbaum commented on #57759
rustup

[2019-01-19 21:34] ivandardi commented on #57640
Not to mention syntax highlighting: anything await-related can be highlighted with a bright color, so they can be found at a glance. So even if we had a symbol instead of the actual `await` word, it would still be very readable and findable in syntax highlighted code. With that said, I still prefer the use of the `await` word just for grepping reasons - it's easier to grep the code for anything th

[2019-01-19 21:50] ben0x539 commented on #57640
y'all this isn't rocket science
[code]

postfix `...` is extremely readable, hard to miss at a glance and super intuitive since you naturally read it as the code kind of trailing off while it waits for the result of the future to become available. no precedence/macro shenanigans necessary and no extra line noise from unfamiliar sigils, since everybody has seen ellipses before.

[2019-01-19 21:59] nikic commented on #57762
Could you please provide a backtrace for the segfault?

[2019-01-19 22:17] HeroicKatora commented on #57640
@ben0x539 Does that mean I can access a member of my result like `future()....start`? Or await a range result like so `range()... ..`? And how exactly to you mean `no precedence/macro shenanigans necessary and` since currently ellipsis `..` is necessarily a binary operator and this is awfully close at a glance.

[2019-01-19 22:18] ejmahler commented on #57640
Yes, the ? Operator exists. I already acknowledged that there were
exceptions. But it’s an exception. The vast majority of control flow in any
Rust program happens via prefix keywords.

On Sat, Jan 19, 2019 at 1:51 PM Benjamin Herr <notifications@github.com>
wrote:

[2019-01-19 22:30] estebank commented on #57759
Moved to the appropriate repo: https://github.com/rust-lang/rustup.rs/issues/1617

[2019-01-19 22:30] #57759 closed

[2019-01-19 22:37] ben0x539 commented on #57640
@HeroicKatora That looks a bit artificial but yeah sure. I meant that since it's a postfix operation, like the other postfix solutions suggested, it avoids the need for counterintuitive precedence for `await x?`, and it's not a macro.

[2019-01-19 23:03] Centril commented on #57640
@ejmahler

There are two expression forms that are `keyword expr`, namely `return expr` and `break expr`. The former is more common than the latter. The `continue 'label` form doesn't really count since, while it is an expression, it isn't of form `keyword expr`. So now you have 2 whole prefix keyword unary expression forms and 1 postfix unary expression form. Before we even take into account that

[2019-01-19 23:12] EyeOfPython commented on #57640
@ben0x539 I think we should reserve `...` for variadic generics, once we're ready to have them

[2019-01-19 23:21] mitsuhiko commented on #57640
I really like the idea of innovating with postfix syntax here. It makes a lot more sense with the flow and I remember how much better code turned when we went from prefix `try!` to postfix `?`.  I think there is a lot of people that made the experience in the Rust community of how much improvements to code that made.

If we don't like the idea of `.await` I'm sure some creativity can be made to fi

[2019-01-19 23:36] yazaddaruvala commented on #57640
:( I just don’t want to await anymore.

Everyone is comfortable with macro syntax, most people in this thread that start with other opinions seem to end up favoring macro syntax.

Sure it’ll be a “magic macro” but users rarely care about what the macro expansion looks like and for those who do, it is easy enough to explain the nuance in the docs.

Regular macro syntax is kinda like apple pie, it i

[2019-01-19 23:40] ejmahler commented on #57640
match, if, if let, while, while let, and for are all pervasive control flow
that use prefixes. Pretending break and continue are the only control flow
keywords is frustratingly misleading.

On Sat, Jan 19, 2019 at 3:37 PM Yazad Daruvala <notifications@github.com>
wrote:

[2019-01-19 23:53] EyeOfPython commented on #57640
@mitsuhiko I agree! Postfix feels more rustic due to the chaining. I think the `fut@await` syntax I proposed is another interesting option that doesn't seem to have as many downsides as other proposals. I'm not sure though if it's too far out there and a more down-to-earth version would be preferable.

[2019-01-19 23:58] #57664 closed

[2019-01-20 00:09] Centril commented on #57640
@ejmahler

It's not misleading at all. The relevant grammar for these constructs is roughly:
[code]

Here, the forms are `if/while expr block`, `for pat in expr block`, and `match expr { pat0 => expr0, .., patn => exprn }`. There is a keyword that precedes what follows in all of these forms. I guess this is what you mean by "uses prefixes". However, these are all *block forms* and *not* unary pref

[2019-01-20 00:36] dpc commented on #57640
Rust is dualistic. It supports both imperative and functional approaches. And I think it's fine, because in different cases, each of them can be more suitable.

I don't know. Feels like it would be great to have both:

[code]

Having used scala for a while, I was quite fond of other keywords working like that too. Especially `match` and `if` would be a nice to have in postfix positions in Rust.

[

[2019-01-20 03:02] carols10cents opened #57767 "`rustdoc --test` that passes with Rust 1.31.0 and fails with Rust 1.32.0, involving `use` paths"
I'm not sure what changed in here, but a [contributor to the book just discovered we have a doctest that passed with stable 1.31.0 and fails to compile with stable 1.32.0](https://github.com/rust-lang/book/issues/1776).

If I extract the code into a library and remove the rustdoc specific bits (the code hiding `#`s), it compiles successfully with both Rust 1.31.0 and Rust 1.32.0, so I suspect some

[2019-01-20 03:33] estebank commented on #57386
@igorsdv your understanding is correct. Being inline is fine and I'm partial towards the short version, at least in this case.

[2019-01-20 04:21] CAD97 commented on #57640
As a rough summary of the options in the thread so far:

Option matrices:

- [withoutboats](https://github.com/rust-lang/rust/issues/57640#issuecomment-455234738)
- [HeroicKatora](https://github.com/rust-lang/rust/issues/57640#issuecomment-455274286)
- [mehcode](https://github.com/rust-lang/rust/issues/57640#issuecomment-455361619)
- [HeroicKatora](https://github.com/rust-lang/rust/issues/57640#is

[2019-01-20 04:36] CAD97 commented on #57640
Personally, I've historically been in favor of prefix keyword with the obvious precedence. I still think stabilizing with a keyword macro `await!(fut)` would be useful to gather real-world information about where the awaiting happens in real world use cases, and would still allow us to add a non-macro prefix or postfix option later.

However, in the process of writing the above summary, I started

[2019-01-20 04:36] KizzyCode commented on #32512
I think we definitively should address the "death test" problem – there are a lot of situations where programs call `abort()` directs (e.g. an external C library like libsodium or a custom memory allocator).

About the performance: wouldn't it be possible to limit the re-execution to "death tests" or `[should_panic]` tests in `panic = abort` scenarios?
And if those tests are slow – then so be it..

[2019-01-20 04:39] ehuss commented on #57767
This was regressed by #54861 and has been fixed by #56793.

[2019-01-20 04:45] andrewtj commented on #55794
Closing due to inactivity.

[2019-01-20 05:00] bluejekyll commented on #55794
Isn’t this worth keeping open? It seems like a pretty wide open exploit potential on Windows.

[2019-01-20 05:15] karasjoh000 opened #57771 "rustup: rls cannot be downloaded for nightly"
hello everyone I wanted to update nightly rust and got this:

[code]

update failed on nightly.

Is nightly currently broken?

[2019-01-20 05:19] TheRealOrangus opened #57772 "Assertion fails in doc example for std::thread::sleep() in 1.32.0 stable"
The description of [std::thread::sleep()](https://doc.rust-lang.org/stable/std/thread/fn.sleep.html) says:

The thread may sleep longer than the duration specified due to scheduling specifics or platform-dependent functionality. It will never sleep less.

and it gives the example code:

[code]

But this assertion often fails when I run this code.

If the description is correct and it shouldn't fai

[2019-01-20 05:39] Ralith commented on #55794
It seems like a decision still needs to be made for which behavior to favor, if any. I made an argument for the Windows default to be adopted above.

[2019-01-20 05:41] karasjoh000 commented on #57772
I think I noticed this issue also.

[2019-01-20 05:47] dpc commented on #57640
My understanding was it can't be a method, because it's involved in the control flow of the directly enclosing function (unless some "cheating" would be used).

I am definitely not proposing changing anything about `if` and `match` as part of this debate, but if any  postfix syntax is selected (no matter if together or instead of the prefix one), it would definitely be an argument for a future dis

[2019-01-20 05:56] retep998 commented on #55794
3 months seems hardly like enough time to close for inactivity, and there's definitely some unresolved concerns here.

I'm definitely in favor of returning an error when the input buffer was too small for the incoming packet. Silently truncating is not the right approach to making a robust standard library.

[2019-01-20 06:05] bluejekyll commented on #55794
I didn't mean to imply what the solution should be, only that currently, it looks like many of us have some issues to resolve, that the stdlib should most likely help compensate for.

[2019-01-20 06:08] zackmdavis opened #57773 "-ized/-ised spelling inconsistency in AST"
(A tiny spelling nit I noticed while reviewing #57768; may be suitable for a new contributor to practice getting started with building `rustc`. I _think_ we prefer the American spelling _-ized_, but maybe someone could confirm this?)

https://github.com/rust-lang/rust/blob/0c0c585281740aba4c91cbfd385f5e1fbe313d11/src/libsyntax/ast.rs#L139

[2019-01-20 06:20] moxian opened #57774 "Nightly breaks when std::mem::size_of::<T> is invoked"
[code]

fails to compile on nightly (in playground), timing out : https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ddbfcdb9f8be5d6984f1886cc201489e

Compiles fine on stable and nightly

[2019-01-20 06:31] Ralith commented on #55794
Right, I'm just agreeing that there's an unsolved problem here.

[2019-01-20 06:38] moxian opened #57775 "Can't assign results of generic functions to `const` variables"
[code]
gives the following error (twice for some reason):

[code]

Changing let to const makes it compile just fine.

Another, slightly different example:

[code]
Here, the type of the variable is non-generic now, and it's only a function that is. Results in the same error, but only once now:
[code]

[2019-01-20 07:17] scottmcm commented on #57640
:+1:

---

A random thought I had after seeing a bunch of the examples here ([such as @mehcode's](https://github.com/rust-lang/rust/issues/57640#issuecomment-455361619)): One of the complaints I remember about `.await` is that it's too hard to see†, but given that awaitable things are typically fallible, the fact that it's often `.await?` helps draw extra attention to it anyway.

† If you're using

[2019-01-20 07:36] infinity0 opened #57776 "man page generation should use SOURCE_DATE_EPOCH"
Related to #34902

See https://tests.reproducible-builds.org/debian/rb-pkg/buster/amd64/diffoscope-results/rustc.html - this means that (outside of build-path differences) the only thing difference is the man page.

Relevant code is `src/bootstrap/dist.rs`

`SOURCE_DATE_EPOCH` spec is https://reproducible-builds.org/specs/source-date-epoch/

[2019-01-20 07:45] scottmcm commented on #57724
@hellow554 I'm not on compiler (or core), so don't take my word on this one :slightly_smiling_face:

@JohnTitor It looks like upstream rayon needs 0.5, so you could consider making a PR to upgrade it to 0.6.  (Maybe [ask someone on rayon first](https://gitter.im/rayon-rs/Lobby).)  Also, it seems that [rustc-rayon hasn't been updated in 6+ months](https://github.com/rust-lang-nursery/rustc-rayon/co

[2019-01-20 08:04] traviscross commented on #57640
We probably need to make peace with the fact that `async/await` is going to be a major language feature.  It will appear in all kinds of code.  It will pervade the ecosystem -- in some places it will be as common as `?`.  People will have to learn it.

Consequently, we might want to consciously focus on how the syntax choice will feel after using it for a long time rather than how it will feel at

[2019-01-20 08:12] mehcode commented on #57640
As someone mentioned _real_ examples ... I maintain a (according to tokei) 23,858 line rust codebase that is very heavily async and uses futures 0.1 `await` (highly experimental I know). Let's go (redacted) spelunking (note everything has been run through rustfmt):

[code]

---

Now lets transform this into the most popular prefix variant, obvious precedence with sugar. For obvious reasons this ha

[2019-01-20 08:15] richardanaya commented on #57640
I appreciate the ellipses postfix notation "..." above , both for its conciseness and symbolically in English language representing a pause in anticipation of something else. (Like how async behavior works!), it also chains together well.

[code]
I doubt any other options will be as concise and visually meaningful.

[2019-01-20 09:02] SimonSapin commented on #57012
In the diff for #42894, `RESOLVE_TRAIT_ON_DEFAULTED_UNIT` looks most relevant. When running `RUSTFLAGS="-Dresolve_trait_on_defaulted_unit" cargo build` in a project with multiple dependencies, I get some output for each local (path dependency) crate but not crates.io dependencies.

This suggests that `--cap-lints=allows` as passed by Cargo to crates.io dependencies "wins" over `-D` passed through

[2019-01-20 09:07] mokeyish commented on #57640
A
[code]
B
[code]

[2019-01-20 09:30] anhbakhia opened #57777 "Cargo stripping out metadata and pre-release from local dependencies' versions"
Hello Rust developers,

I'm using Rust 1.32.0.

For example I have a local dependency with version `0.1.0+meta-pre`. And my _Cargo.toml_ is:

[code]

However in _Cargo.lock_, metadata and pre-release are stripped out.

Would you confirm that this is intended, or this is a bug? In any case, I think those (metadata and pre-release) should be kept as-is.

Thank you,

[2019-01-20 09:41] xiaoniu-578fa6bff964d005 commented on #38016
`$crate` show up again!

`rustc +nightly-2018-06-13-x86_64-unknown-linux-gnu --pretty=expanded -Zunstable-options main.rs`
[code]
`rustc +nightly --pretty=expanded -Zunstable-options main.rs`
[code]
`rustc +nightly --version`
[code]

[2019-01-20 09:44] petrochenkov commented on #38016
Caused by https://github.com/rust-lang/rust/pull/57155.
Reopening and assigning to myself.

[2019-01-20 09:52] jas777 opened #57778 "Problem while compiling"
Hello, I've installed Rust yesterday, and when I'm trying to compile my code with `cargo build` it throws me this error: http://hatebin.com/mtekkwkthm

Can anyone help me solve it ?

[2019-01-20 09:52] novacrazy commented on #57640
Should it even be considered good form to have long chains of awaits?

Why not simply use regular `Future` combinators?

In fact, some expressions simply don't translate well into await chains if you want to have backup behaviors on failure.

Personally I think this:

[code]

reads far more naturally than this:

[code]

We still have the full power of zero-cost futures at our hands, after all.

Co

[2019-01-20 10:03] jas777 commented on #57778
Using `cargo build` outside Bash CMD helped

[2019-01-20 10:03] #57778 closed

[2019-01-20 10:20] earthengine commented on #57640
@EyeOfPython I would like to hightlight that we have another choice than `@` in `@await`. We can write `future~await`, where the `~` is worked like a semi hyphen, and work for any possible postfix operators.

The hyphen `-` was already used as the minus operator and negative operator. No longer good. But `~` was used to indicate heap objects in Rust, and otherwise it was hardly used in any program

[2019-01-20 10:44] RazrFalcon commented on #57762
@nikic How can I do this?

[2019-01-20 11:09] #57384 closed

[2019-01-20 11:45] JohnTitor commented on #57382
@estebank Is my solution good, or is there better solution?
If it’s not too much trouble, I'd like to make a PR and ask you to review.

[2019-01-20 11:52] MSleepyPanda commented on #57003
Can't reproduce either, nightly, beta, stable

[2019-01-20 12:48] dyxushuai commented on #57640
@earthengine Good idea, but maybe just use `future~` which means await a future, where the `~` is worked like the `await` keyword.(like `?` symbol

Future | Future of Result | Result of Future
-- | -- | --
future~|future~?|future?~

Also chained futures like:
[code]

[2019-01-20 13:02] lukaslueg commented on #57772
Does the underlying implementation on Windows actually uphold the guarantee in the docs? The windows-docs on `sleep()` say:

.

[2019-01-20 13:07] I60R commented on #57640
I've take a look at how Go implements async programming and found something interesting there. The closest alternative to futures in Go are channels. And instead of `await` or other screaming syntax to wait for values Go channels just provides `<-` operator for that purpose. For me it looks pretty clean and straightforward. Previously I've often seen how people praises Go for its simple syntax and

[2019-01-20 13:16] jonas-schievink commented on #49751
If you're using system LLVM, this might be a similar issue to https://github.com/rust-lang/rust/issues/57762, where the distro LLVM is missing critical patches.

[2019-01-20 13:19] robsmith11 commented on #21690
Is there a current recommended approach to using fast-math optimizations in rust nightly?

[2019-01-20 13:20] jonas-schievink commented on #57773
Yes, AFAIK we use American spelling everywhere (as do most projects).

[2019-01-20 13:41] ishitatsuyuki commented on #57772
I think this was recently patched in nightly. Can you try it out?

[2019-01-20 13:46] #57534 closed

[2019-01-20 13:55] HeroicKatora commented on #57640
@novacrazy

Those are not exclusive, you can still use combinators as well

[code]

But for this to work, the `and_then` clause needs to be typed at `FnOnce(T) -> impl Future<_>`, not only at `FnOnce(T) -> U`. Doing chained combinators on the future *and* the result only works cleanly without paranthesis in postfix:

[code]

[2019-01-20 14:08] Centril commented on #57775
Yep; @jonas-schievink is correct. Rust does not support what is referred to in Haskell as [ScopedTypeVariables](https://www.microsoft.com/en-us/research/publication/lexically-scoped-type-variables/). Moreover, even if you could use the type parameter `T`, calling `T::default()` would fail since it's not a const expression.

cc @estebank re. possible improvements to diagnostics.

cc https://github.

[2019-01-20 14:35] HeroicKatora commented on #57640
Let's focus on the question of [operator precedence](https://doc.rust-lang.org/reference/expressions.html#expression-precedence) in the post-fix case. As far as I can tell, we have three viable alternatives that at least work to some extent, each exemplified by one post-fix expression that has these precedences in current syntax. I feel strongly that none of the proposals should change current ope

[2019-01-20 14:50] Centril commented on #57640
@HeroicKatora We could special case `.await` in libsyntax to allow for `foo.await(42)` but this would be inconsistent / ad-hoc. However, `(foo.await)(42)` seems serviceable since while futures outputting closures exist, they are probably not all that common. Thus if we optimize for the common case, not having to add `()` to `.await` likely wins out on balance.

[2019-01-20 14:54] ehuss commented on #57777
The version requirement in the dependency declaration is never kept in the lock file. Only the actual version displayed in `version = "…"` in the dependency's manifest is included.  Does `some-lib` actually have that version information?  This is what I get:

[code]

[2019-01-20 15:00] anhbakhia commented on #57777
I'm very sorry. It was my fault. I made a tag with `0.1.0+meta-pre`, but used `0.1.0` in `some-lib`'s _Cargo.toml_.

I'm sorry  :-(

And thank you for your help.

[2019-01-20 15:00] #57777 closed

[2019-01-20 15:02] HeroicKatora commented on #57640
@Centril I agree, consistency is important. When I see a couple of behaviours that are similar, I'd like to infer others through synthesis. But here `.await` seems awkward, especially with the above example clearly showing that it parallels destructuring (unless you can find a different syntax where these effects occur?). When I see destructuring, I instantly wonder whether I can use this with let

[2019-01-20 15:45] leo-lb commented on #57345
I have GLIBC 2.28 over here, so that's probably it, thanks for the detailed investigation

[2019-01-20 15:56] Pauan commented on #57640
I'm not sure how much experience you have with Futures 0.3, but the general expectation is that combinators won't be used much, and the primary/idiomatic usage will be async/await.

Async/await has several advantages over combinators, e.g. it supports borrowing across yield points.

Combinators existed long before async/await, but async/await was invented anyways, and for good reason!

Async/await

[2019-01-20 16:15] In-line opened #57780 "Compiler suggests to import private trait"
[code]
Version
[code]

I'm not sure if code really matters (because error message is self-explanatory), but you can get it [here](https://github.com/In-line/grip/commit/8b02df9aabed34e82a2df6e6ff42353bf4fad0d4)

1. Compiler suggests to import private trait
2. Compiler complains that trait is unused, but well.. It is trait which can't be imported in the first place.

[2019-01-20 16:18] In-line commented on #57780
It is fine to get such errors in C++, but not in this language of the gods, so I'm expecting 2 things.

1. Proper compiler suggestion to import trait, which is reexported somewhere else.
2. Compiler should not warn about unused import, which can't be imported

[2019-01-20 16:39] Pauan commented on #57640
(This is a reply to [@joshtriplett's comment](https://github.com/rust-lang/rust/issues/50547#issuecomment-455690744)).

To be clear, you do not *have* to parenthesize, I mentioned it because some people said that it's too hard to read without the parentheses. So the parentheses are an *optional* stylistic choice (useful only for complex one-liners).

All of the syntaxes benefit from parentheses in

[2019-01-20 16:42] shepmaster commented on #57774
@ehuss I note that the Cargo timestamp functionality stuff landed — does that seem like it might be involved in this?

[2019-01-20 16:52] estebank commented on #57775
We need to stop suggesting adding a type argument when the requirement comes from a `const`, as they can't be generic, and replace it with a note stating that.

[2019-01-20 17:00] cuviper commented on #57724
Current rayon only uses rand as a dev-dependency, since rayon-rs/rayon#571. That wouldn't show up in Cargo.lock here at all, if rustc-rayon follows suit.

[2019-01-20 17:03] estebank commented on #57382
@JohnTitor I would like to avoid having a `FatalError.raise()` after this. I noticed that the current method `expected_item_err` doesn't return anything, it should return a `PResult` with the `DiangosticBuilder` created, and be called with a `?` now. That way when we encounter this error we no longer attempt to parse the item expected after, ending up again with only one error. Other than that, I

[2019-01-20 17:52] zsinskri opened #57781 "ICE Type parameter out of range when substituting"
Both nightly and stable ICE on this code:

[code]

I expected to see this happen:
This should either compile or throw an Error explaining why it is invalid.

Instead, this happened:
Both `cargo build` and `cargo +nightly build` throw an ICE.

## Meta

installed dependencies:
[code]

`rustc --version --verbose`:
rustc 1.32.0 (9fda7c223 2019-01-16)
binary: rustc
commit-hash: 9fda7c2237db910e41d6a712

[2019-01-20 17:53] In-line opened #57782 "Compiler should be able to compile EnumVariant(foo) == function_returning_enum() without PartialEq"
Given this pseudocode
[code]
It should be transformed to this pseudocode
[code]
Currently I get this error.
[code]

It would be nice syntactic sugar to have not only for `Result`, but for any generic enum.

[2019-01-20 18:03] petrochenkov commented on #57782
cc https://github.com/rust-lang/rfcs/issues/929#issuecomment-285602496

[2019-01-20 18:34] ehuss commented on #57774
@shepmaster can you show me how to reproduce that 10s time? Is there a Cargo.toml I can use?
Can you explain more how the dependencies are pre-compiled?

[2019-01-20 18:34] sfackler commented on #57728
I don't think there's anything we can do here. On Unix platforms, stdout is by definition file descriptor 2.

[2019-01-20 18:40] carols10cents commented on #57767
Aha. I don't know why I didn't think to check beta last night, but is indeed not an issue in 1.33.0-beta.1.

I don't think the fix is significant enough for a point release in and of itself, but if one ends up happening (i don't see anything nominated right now) I think it'd be worth considering including the fix.

Going to close this but tag the fixed PR. Thanks!

[2019-01-20 18:40] #57767 closed

[2019-01-20 18:44] zarniwhoop73 commented on #49751
Thanks, yes the new problems in 1.32.0 do seem to be the same as that. I rebuilt with the shipped rust (and also for ARM as well as X86, trying to get a clean test result - down to one failure). Unfortunately that system was unusable (errors E0484 and E0514, it found previous versions of libs but nothing from 1.32.0).

I've blown that away before  reviewing what I had in config.toml.

Please note

[2019-01-20 19:02] EyeOfPython commented on #57640
I'm getting starting to get comfortable with `fut.await`, I think people's initial reaction will be "Wait, that's how you do await? Weird." but later they'd love it for the convenience. Of course, the same is true for `@await`, which stands out much more than `.await`.

With that syntax, we can leave out some of the lets in the example:

<table>
<thead>
<tr><th>

`.await`

</th><th>

`@await`

</t

[2019-01-20 19:05] Amanieu commented on #57728
We could check at startup whether FD 0/1/2 are open using `fcntl(F_GETFD)` (which returns `EBADF` if the FD is closed).

I am not sure what we can do with this information, but I am not very familiar with the I/O parts of the standard library.

[2019-01-20 19:42] shepmaster commented on #57774
It's "easy" once you have Docker running:

[code]

[Cargo.toml](https://github.com/integer32llc/rust-playground/blob/079b414a4620f9ef2028da57b7ac4f420afdcaff/compiler/base/Cargo.toml)

[Dockerfile](https://github.com/integer32llc/rust-playground/blob/079b414a4620f9ef2028da57b7ac4f420afdcaff/compiler/base/Dockerfile#L39-L47):

TL;DR:

[code]

This wouldn't be the first time that Cargo and Docker ha

[2019-01-20 19:49] shepmaster commented on #57774
<summary>
It appears that many files are being touched when the build occurs:

<details>

[code]
</details>
</summary>

[2019-01-20 19:54] JohnTitor commented on #57382
@estebank Okay, I want to solve this issue for now.

[2019-01-20 20:08] shepmaster commented on #57774
Here's a 3.7 MB log of `RUST_LOG=trace cargo build`. Anecdotally, I feel like it spent "a lot" of time showing data about fingerprints.

[log.txt.zip](https://github.com/rust-lang/rust/files/2776979/log.txt.zip)

[2019-01-20 20:11] mtak- commented on #57534
Filed an apple bug report. [openradar link](https://openradar.appspot.com/47416656)

[2019-01-20 20:44] novacrazy commented on #57640
@Pauan

I’m not trying to shift focus away from the topic here, I’m trying to point out it doesn’t exist in a bubble. We have to consider how things work *together*.

Even if the ideal syntax was chosen, I’d still want to use custom futures and combinators in some situations. The idea that those could be soft deprecated makes me question the entire direction of Rust.

The examples you give still l

[2019-01-20 20:51] hseeberger opened #57785 "Book chapter about Advanced Lifetimes contains no longer relevant example"
Since 1.31.0 chapter 19.2 about Advanced Lifetimes, subchapter [Ensuring One Lifetime Outlives Another with Lifetime Subtyping](https://doc.rust-lang.org/book/ch19-02-advanced-lifetimes.html#ensuring-one-lifetime-outlives-another-with-lifetime-subtyping), contains an example which is no longer relevant: thanks to new lifetime elision rules it is not necessary to explicitly specify the lifetime sub

[2019-01-20 21:01] CAD97 commented on #57640
@novacrazy

General consensus I've seen is that the _earliest_ we'd want a third edition is 2022. We definitely don't want to plan around another edition; the 2018 edition was great but not without its costs. (And one of the points of the 2018 edition is making async/await possible, imagine taking that back and saying "nope, you need to upgrade to the 2020 edition now!")

In any case, I don't thin

[2019-01-20 21:14] BenoitZugmeyer commented on #57640
Just my two cents (I am a nobody, but I follow the discussion for quite a long time). My favorite solution would be the `@await` postfix version. Maybe you could consider a postfix `!await`, like some new postfix macro syntax?

Example:
[code]

After a few language iterations, being able to implement our own postfix macros would be awesome.

[2019-01-20 21:33] ehuss commented on #57774
Yea, it definitely seems like it is related to the mtime updates. I suspect Docker is doing a copy-on-write, and it is just slow in some cases (my machine with a fast ssd can do it in about 2s, but my slower one takes over 11s).

@Eh2406 @alexcrichton do you have any ideas on how to address this?

I'm thinking maybe the mtime updates should be put behind a nightly-experimental flag until a solutio

[2019-01-20 21:35] TheRealOrangus commented on #57772
Just installed **`nightly-i686-pc-windows-gnu`**`- rustc 1.33.0-nightly (0c0c58528 2019-01-19)`.
Made a new crate, ran `rustup override set nightly` in it. But the assertion still failed.

[2019-01-20 21:39] shepmaster commented on #57774
This would be pretty typical for Docker, so that seems believable.

I'm seeing similar times on my SSD. Presumably AWS EC2 has a spinning rust drive.

[2019-01-20 21:47] davidtwco commented on #56835
Closing this as #56850 has fixed it.

[2019-01-20 21:47] #56835 closed

[2019-01-20 21:49] #53919 closed

[2019-01-20 21:52] davidtwco commented on #56202
Closing as #56205 has fixed this.

[2019-01-20 21:52] #56202 closed

[2019-01-20 21:55] davidtwco commented on #57676
Looks like this was already fixed by #57502.

[2019-01-20 21:55] #57676 closed

[2019-01-20 22:50] Eh2406 commented on #57774
Would it help to only touch one small file instead all the big output files? It would remove the [`crude script`](https://github.com/rust-lang/cargo/pull/6477) use case but not the `fingerprint` use case.

That would work, or we can just back them out until we have a better plan. I see you already have a [PR](https://github.com/rust-lang/cargo/pull/6573/files), thanks!

That is a possibility, but

[2019-01-20 22:55] dlrobertson commented on #57700
This doesn't panic on f001287c90e98d72296eb2a20e3cbe34b977f587 or nightly for me. Has it been fixed?

[2019-01-20 22:58] cenwangumass commented on #57640
As a Python/JavaScript/Rust user and a computer science student, I personally prefer prefix `await` + `f.await()` to be both in the language.

1. Both Python and JavaScript have prefix `await`. I would expect to see `await` appear in the beginning. If I have to read deep into line to realize this is asynchronous code, I feel very uneasy. With Rust's WASM capability, it might attract many JS develo

[2019-01-20 23:00] MSleepyPanda commented on #57700
Can't confirm currently, because my toolchain is stuck on nightly 2019-01-18, because of the toolstate changes in that PR. On that toolchain, it ICEs. Will try to reproduce on new nightly once available.

[2019-01-20 23:01] dlrobertson commented on #57700
:+1:

[2019-01-20 23:09] anvil777 opened #57787 "rustc internal compiler error when resolving imports made with macros from other crates"
So I was working on a macro and ran into an rather weird bug regarding imports. It's not really high priority, and I myself found a work around for my specific use case, but here's some info in case it's helpful.

Basically, if you have a macro from another crate that imports something using a macro variable and that thing is already in scope, then rustc will panic.

ie, if you create a crate call

[2019-01-20 23:20] MSleepyPanda opened #57788 "impl Fn with explicit lifetimes does not implement FnOnce"
[code]
[code]
[Playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=7b721d819612b7673104e9153f4b8fa7)

Replacing wrap_impl_trait with the following works (Removing explicit `'i`)
[code]

Sometimes, explicitly annotating with `'i` is required, for example when chaining two closures.

[2019-01-20 23:35] retep998 commented on #57772
Not a regression as this is how this function always behaved on Windows.

[2019-01-20 23:45] MSleepyPanda commented on #57788
Example for chaining closures:
[code]

[2019-01-20 23:50] petrochenkov commented on #57787
Looks like duplicate of https://github.com/rust-lang/rust/issues/57071, should be fixed in https://github.com/rust-lang/rust/pull/56937 if the PR author finishes the work.

[2019-01-21 00:14] anhbakhia opened #57790 "Cargo: support for local relative paths of Git repositories"
Hello Rust developers,

Currently this sample of _Cargo.toml_ doesn't work:

[code]

If I change to full path, it will work. However using local full paths is not useful while sharing code with team.

Would you consider adding support for local Git relative paths?

Thank you,

[2019-01-21 00:31] hallcristobal commented on #54582
Can confirm, no longer having issues with same implementation.

[2019-01-21 01:16] Eh2406 commented on #44366
Sorry for the long break. I am back to running the script and updating the gist on the semi regular.

[2019-01-21 01:45] Swoorup commented on #57640
But await is nothing like calling function. Hence i think the syntax should be different.

[2019-01-21 03:03] dlrobertson opened #57794 "VaList: Allow VaList::arg to fetch bool values"
## Summary

`VaList::arg::<bool>()` should work.

## Description

According to [<stdbool.h>] `false` is `0` and `true` is `1`. As long as our encoding of `bool` is the same, we should allow `VaList::arg::<bool>()`. Since we take care of types smaller than an `int` in the codegen, this *should* work.

CC @alexcrichton @joshtriplett

[<stdbool.h>]: http://pubs.opengroup.org/onlinepubs/009604499/base

[2019-01-21 03:22] alexreg commented on #57794
Hmm, does `bool` have a platform-dependent size? If so, I suggest we define a (platform-dependent) type alias `std::os::raw::c_bool`, aliasing to the appropriate integer type.

[2019-01-21 03:42] CAD97 commented on #57640
I've convinced myself that `.await()` is probably significantly more desirable over `.await`, though the rest of this post hedges that position a bit.

The reason for this is that `await!(fut)` has to _consume `fut` by value_. Making it look like a field access is _bad_, because that doesn't have the connotation of moving the way that a prefix keyword does, or the potential of moving like a macro

[2019-01-21 03:44] Matthias247 commented on #57640
I'm a bit surprised that this thread is full of suggestions that partially seem to be made because they are possible - and not because they seem to yield any significant benefits over the initial suggestions.
Can we stop talking about `$`, `#`, `@`, `!`, `~` etc, without bringing up a **significant** argument what is wrong with `await`, which is well understand and has proven itself in various oth

[2019-01-21 03:59] I60R commented on #57640
@dpc, if you read `<--` proposal completely, you would see that this syntax is only inspired by Go, however is pretty different and usable either in imperative and in function chaining context. I also fail to see how `await` syntax isn't ad-hoc solution, for me it's way more specific and way more clumsy than `<--`. It's similar to have `deref reference`/`reference.deref`/etc instead of `*reference

[2019-01-21 04:03] joshtriplett commented on #57794
On Sun, Jan 20, 2019 at 07:22:45PM -0800, Alexander Regueiro wrote:

That conversation already happened in another bug; last I heard, `bool`
is guaranteed to match the C type.

[2019-01-21 04:09] CAD97 commented on #57640
Let's mention actual specifics around precedence:

The precedence chart as it stands today:

Operator/Expression | Associativity
-- | --
Paths |  
Method calls |  
Field expressions | left to right
Function calls, array indexing |  
`?` |  
Unary `-` `*` `!` `&` `&mut` |  
`as` | left to right
`*` `/` `%` | left to right
`+` `-` | left to right
`<<` `>>` | left to right
`&` | left to right
`^` | l

[2019-01-21 04:20] mehcode commented on #57640
@CAD97 To be clear, remember that `.json()` there is also a future.

[code]

[code]

[2019-01-21 04:35] alexreg commented on #57794
Great. So we can probably just make `VaList::arg::<bool>()` "work"...

[2019-01-21 04:52] scottmcm commented on #57782
I think this is an RFC issue -- for example it could be made to work with enum variants being types, and `PartialEq` being defined on those against their enum parent type, or with something like the `is` expressions that petrochenkov linked, or the `matches!` macro.

[2019-01-21 04:53] newpavlov commented on #57640
I think first we should answer the question "do we want to encourage `await` usage in chaining contexts?". I believe the prevalent answer is "yes", so it becomes a strong argument for postfix variants. While `await!(..)` will be the easiest to add, I believe we should not repeat the `try!(..)` story. Also I personally disagree with the argument that "chaining hides potentially costly operation", w

[2019-01-21 05:24] paulocsanz opened #57796 "ICE when using Self as uninitialized return type in trait method"
[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=53e2da580843961ccab6e0686c897bdb)

To make it compile you can simply replace `Self` for `[u8; 30]` in the `uninitialized` call ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=56c6b124419971f6fe2548d45e85f1bc))

[code]

[2019-01-21 06:19] I60R commented on #57640
When talking about familiarity, I don't think that we should care too much about familiarity with JS/Python/C#, since Rust is in different niche and already looks differently in many things. Providing syntax similar to these languages is short term and low reward goal. Nobody will select Rust only for using familiar keyword when under the hood it does completely different things.

But familiarity

[2019-01-21 06:40] mauricev opened #57797 "can't compile under 32-bit Linux"
I'm emerging rust under 32-bit funtoo. Portage internally downloads the source, prepares and runs whatever compiling is needed. It fails as follows:

Compiling bootstrap v0.0.0 (/var/tmp/portage/dev-lang/rust-1.32.0/work/rustc-1.32.0-src/src/bootstrap)
    Finished dev [unoptimized] target(s) in 1m 52s
failed to parse TOML configuration '/var/tmp/portage/dev-lang/rust-1.32.0/work/rustc-1.32.0-src/

[2019-01-21 06:52] hellow554 commented on #57797
Can you show us the content of `/var/tmp/portage/dev-lang/rust-1.32.0/work/rustc-1.32.0-src/config.toml`?

[2019-01-21 06:53] mauricev commented on #57797
[llvm]
optimize = true
release-debuginfo = false
assertions = false
targets = "X86"
[build]
build = "i686-unknown-linux-gnu"
host = ["i686-unknown-linux-gnu"]
target = ["i686-unknown-linux-gnu"]
cargo = "/var/tmp/portage/dev-lang/rust-1.32.0/work/rust-stage0/bin/cargo"
rustc = "/var/tmp/portage/dev-lang/rust-1.32.0/work/rust-stage0/bin/rustc"
docs = false
submodules = false
python = "python3.6"
lo