[2018-09-10 13:58] SimonSapin commented on #39412
You cannot do that today:

[code]

However in an hypothetical future Rust where that restriction is lifted somehow, or if a non-proc-macro crate re-exports a proc macro and also a function of the same name, then yes `use` will import both.

[2018-09-10 14:05] osa1 commented on #54099
I think this was deliberately done, we even have a test about this (`ui/lint/issue-54099-camel-case-underscore-types.rs`):

[code]

Should I update the test?

[2018-09-10 14:14] eddyb commented on #54099
@osa1 Oh this should have a decision then?

[2018-09-10 14:16] osa1 commented on #54099
Alright. I updated my patch, it should now pass the tests. We can merge or close based on the decision.

[2018-09-10 14:29] bombless opened #54103 "You can never call your own `fn borrow(&mut self, ...)` method if you `use std::borrow::Borrow;`"
https://play.rust-lang.org/?gist=c36d8c617e66862b7bcaee05752ad313&version=stable&mode=debug&edition=2015
[code]
Obviously `Borrow::borrow` is chosen incorrectly here. E.g. `std::clone::Clone` doesn't have this problem, `struct S; impl S { fn clone(&mut self, _: () } S.clone()` compiles fine.

[2018-09-10 14:42] bombless commented on #54103
it looks fishy since if you change the code to `impl S { fn borrow(&self, _: ()) {} }` it compiles, which doesn't look logical to me.

[2018-09-10 14:46] csmoe commented on #54103
cc https://doc.rust-lang.org/reference/expressions/method-call-expr.html#method-call-expressions
`&self` methods are looked up first, the trait method is found before the struct's `&mut self` method is found.

[2018-09-10 14:50] ishitatsuyuki commented on #54103
This is how name resolution works, and yeah you need to use UFCS if you shadow such names.

Labeling this as a diagnostics feature request.

[2018-09-10 15:02] nikomatsakis opened #54105 "fix "bivariant wf" bug in the NLL subtyping code"
https://github.com/rust-lang/rust/pull/53873 generalized the NLL subtyping code to handle subtyping and the like, but I think it is vulnerable to a similar flaw as the one from <https://github.com/rust-lang/rust/issues/41677>. I didn't want to block that PR so I am filing this issue to follow-up.

[2018-09-10 15:42] #53174 closed

[2018-09-10 15:57] retep007 commented on #53468
I managed to limit the scope of this ICE a bit. Error seems to be related to const fn at [line](https://github.com/retep007/servo-1/blob/master/components/script/dom/bindings/interface.rs#L91) after replacing const with static variable compilation ICEs at next const function

[2018-09-10 16:04] michaelwu commented on #54094
Adding an intermediate cast to `fn(_)` does make it work. [Playground](https://play.rust-lang.org/?gist=aaa46b7d3a84be944db0a95137c5fdc5&version=nightly&mode=debug&edition=2015)

[2018-09-10 17:12] eddyb commented on #54094
So having a projection in the type, blocks the cast from happening? That's a bit weird.
cc @nikomatsakis @arielb1

[2018-09-10 17:36] clarcharr commented on #54054
I would probably call this `nth_back`, personally. But I agree that it's a good method to have.

[2018-09-10 17:58] tbu- commented on #21102
It seems the method to set a breakpoint on is now called `rust_begin_unwind`.

[2018-09-10 18:04] eddyb commented on #49441
Another note on the `Sized` thing: ironically, it's easier to provide automatic migration for it, because you have to *insert* `?Sized` (assuming the `Sized` bound that needs to be "removed" is implicit).
So we could have a mix of automatically migrating some things, and manually others, but we need to come to some decision, and gather enough data soon.

[2018-09-10 18:11] trufae commented on #21102
Not much obvious. Why not just int3 when under debugging?

[2018-09-10 19:28] nikomatsakis commented on #53121
Not an RC blocker: the migration strategy means this will be a warning anyway.

[2018-09-10 19:53] alexcrichton commented on #54006
This sounds the same as https://github.com/rust-lang/rust/issues/52489, curious! cc @eddyb

[2018-09-10 20:01] nikomatsakis commented on #47184
So once #53873 lands, there are still a few details to button up. In terms of **patterns**, the biggest problem is that we need to extend the "user type" annotations to propagate downward through more complex patterns. I left some FIXMEs there, but this is a bit tricky since we are working with "user types" -- i.e., canonical types -- that have fresh type variables in them. It's also just a lot of

[2018-09-10 20:06] askeksa opened #54108 "ICE on associated type violating its bounds in a blanket impl"
When I give this code to `rustc`:
[code]
I get this output:
[code]
(The same crash occurs with `rustc 1.30.0-nightly (2d4e34ca8 2018-09-09)`.)

It seems the line
[code]
should have resulted in an error stating that the trait bounds for `Size` are not fulfilled, but no such error was generated, and the subsequent use of `+` on an expression of type `Size` with `Size` as a type not implementing `Add

[2018-09-10 20:10] nikomatsakis commented on #47184
Re: triage, once https://github.com/rust-lang/rust/issues/47184 lands, I think this can be moved to RC 2.

[2018-09-10 20:26] c0gent commented on #53920
Here's another backtrace if at all helpful:

[code]

[2018-09-10 20:28] nikomatsakis commented on #54003
I agree it is not as bad, but it still seems like a bug to me. Do we want to fix?

cc @rust-lang/lang -- nominating for discussion, but feel free to leave comments, maybe we can settle async before the meeting. =) Should `let _ = a.b` give an error if `b` is the field of a union and there is no unsafe block? Currently, it does not, because this compiles to a no-op -- that is, there is no MIR for i

[2018-09-10 20:28] nikomatsakis commented on #54003
The only reason I can see not to fix this is backwards compatibility: this is a somewhat old regression by now. Not sure how old.

[2018-09-10 20:30] vi opened #54109 "Diagnostics: There may be special error message for trying to use "and" or "or" inside if"
[code]

Error message is not very helpful. It should suggest `&&` instead.

[2018-09-10 20:31] aturon commented on #54003
@nikomatsakis I think we should require an `unsafe` block for consistency. Breakage seems unlikely (though we should check) and very easy to deal with.

[2018-09-10 20:57] ExpHP commented on #54103
But... *why?*

Is this something that could perhaps one day change with a crater run?  To me it looks like a terrible corner case with no useful outcome, and acts as little more than an exception to the "rule" that inherent methods come before trait methods. (a rule that is actually *useful!*)

[2018-09-10 21:00] nikomatsakis commented on #53686
OK, I think I found the problem. I'm going to open a minimal PR first and file a bug for a more proper fix. (I think the bug is more in the visitor infrastructure than anything else.)

[2018-09-10 21:08] nikomatsakis commented on #53686
OK, spoke too soon, but I do actually have it fixed now. 😛 Now trying to figure out if the first fix that I did is truly needed or not...

[2018-09-10 21:12] nikomatsakis opened #54110 "libsyntax visitor does not visit the paths in macros"
It's a minor point, but the macro struct includes a path:

https://github.com/rust-lang/rust/blob/551244f05b92f90fe327f8f0a6d9a6e674eaab1b/src/libsyntax/ast.rs#L1223-L1228

However, the `walk_mac` helper just ignores this completely:

https://github.com/rust-lang/rust/blob/551244f05b92f90fe327f8f0a6d9a6e674eaab1b/src/libsyntax/visit.rs#L650-L652

As a result — well, a partial result — the early li

[2018-09-10 21:15] nikomatsakis commented on #54110
cc @Manishearth @oli-obk — Do you agree that the lint visitor ought to change here?

cc @petrochenkov — do the paths in macros have a `NodeId` like other paths? That was one thing I wans't sure of when I tried to push this through.

[2018-09-10 21:31] joshtriplett commented on #54003
I'd like to see this fixed as well.

[2018-09-10 21:42] petrochenkov commented on #54110
No, node ids are assigned during expansion to "final" nodes that will stay in AST after expansion.

[2018-09-10 22:36] Centril commented on #54003
I agree with @aturon wrt. the goal and the reasoning...

...but I am concerned about complicating MIR (this would be akin to extending Haskell Core with a constructor which they are *very* reluctant to do for good reasons). Are there other places which would benefit from `UnsafeCheck`?

[2018-09-10 22:39] sgrif commented on #39935
I still think we should at least make this a compiler error until we can make it work. I disagree with the "everyone assumes it doesn't work" take, I think folks *do* assume it works, and never verify if their users are receiving a warning or not.

[2018-09-10 22:51] Centril commented on #48215
Update: https://github.com/rust-lang/rfcs/pull/2530 was accepted to extend this RFC to `for` loops and optional leading vert.

[2018-09-10 23:18] alexcrichton commented on #53794
Ok I've done some digging with @cramertj and here's some things we've discovered. I was never able to reproduce the link error seen here exactly but I was able to get pretty close:

https://gist.github.com/alexcrichton/c79ba388aeb2d94e1ac22592e1bd9562

The bug appears to be because [this comment is violated](https://github.com/rust-lang/rust/blob/551244f05b92f90fe327f8f0a6d9a6e674eaab1b/src/librus

[2018-09-10 23:19] alexcrichton commented on #54042
I've confirmed this is a duplicate of https://github.com/rust-lang/rust/issues/53794#issuecomment-420092479, so closing in favor of that.

[2018-09-10 23:19] #54042 closed

[2018-09-10 23:30] samsieber opened #54112 "Declarative Macros 2.0 places macros at root, not at module level (nightly)"
I'm assuming that with #35896 (modularization), this is something we'll want to change.

For example, I try

[code]

And the macro ends up at the root of the documentation, even though with the 2018 edition I access it through "use whatever_crate_its_in::module::test_macro".

[2018-09-10 23:35] eddyb commented on #54060
Yeah, but I think `move` is a wart - I'd prefer to make the copy before capturing it, that seems more clear in terms of what's going on, IMO.

[2018-09-10 23:39] eddyb commented on #54006
@alexcrichton Uhhhh this is because we can't stability-check intermediary path components.
`alloc::vec` *is stable*, it's just `alloc` that's not - this is the same as `std::intrinsics::transmute`.

cc @petrochenkov This seems much worse than usual.

OTOH, I do have a branch where you *have to* use `extern crate alloc;` or pass `--extern alloc` to the compiler, that I'm working on right now. Would

[2018-09-10 23:41] eddyb commented on #54060
Oh, also, we can lint to remove `move` if all of your captures *are inferred* by-value *anyway*.
That way, we can get people to clean up their code, eventually.

[2018-09-10 23:43] alexcrichton commented on #54006
Ah yes, indeed!

The "intermediary path components stability doesn't work" has never been high priority *because* the root crate always had to be listed as `extern crate foo`. I would agree that if you don't have to write `extern crate foo` this is definitely much higher priority now

[2018-09-10 23:52] WesleyAC opened #54114 "[ICE] librustc_traits/normalize_erasing_regions.rs:53: could not fully normalize"
I have the following ICE:

[code]

The full output of `cargo build` with `RUST_BACKTRACE=1` is [attached](https://github.com/rust-lang/rust/files/2368803/rustc_output.txt). This looks like it could be a regression of #49685

This is for the repo at https://fuchsia-review.googlesource.com/c/garnet/+/194882 - you should be able to cd into `bin/recovery_netstack/core/` and run `cargo build` to get th

[2018-09-11 00:02] djrenren commented on #50297
@SergioBenitez - My rebuttal:

I think your view of test runners is different from what I envisioned and that's causing some confusion but firstly, I'd like to point out that the multiple test runner case works under the current implementation and looks roughly like so:

[code]

This misrepresents the relationship between a test and its runner though. In general, **tests should know how to run the

[2018-09-11 00:13] eddyb commented on #49441
Crater finished for the "reverse WF check" (i.e. "disallow unenforceable bounds"): https://github.com/rust-lang/rust/pull/54090#issuecomment-420096131
My analysis, copied from https://github.com/rust-lang/rust/pull/54090#issuecomment-420102434:

[2018-09-11 01:07] bheisler opened #54115 "Invalid PTX error when using NVPTX `syncthreads` intrinsic"
If a library references the `syncthreads` intrinsic using the NVPTX LLVM backend, `rustc` generates an invalid PTX file. Basic example:

`test.rs`:
[code]

`nvptx64-nvidia-cuda.json`:
[code]

Command:
`rustc --target nvptx64-nvidia-cuda test.rs -O --emit=asm`

This produces the following (invalid) PTX assembly file:

[code]

Notice how the file is treating llvm.cuda.syncthreads as an external func

[2018-09-11 01:29] eddyb commented on #54003
FWIW I don't think we need to fix anything, and that these are all equivalent:
[code]

[2018-09-11 02:11] federicomenaquintero commented on #50054
A kind soul recently updated gnome-class to use syn 0.15.3, and I am incredibly, nicely impressed.  The new parser code is much more legible!  I tried adding a few deliberate syntax errors inside macro invocation, and the results are pretty spectacular.  Translating a chain of `lookahead.peek()` into

[code]

I'm so happy to see this work!  Excellent, excellent job!

:+1: :+1: :+1: :+1: :+1: :+1:

[2018-09-11 03:01] galich commented on #54082
looks like the same as https://github.com/rust-lang/rust/issues/54022

[2018-09-11 03:33] pkgw opened #54118 "Windows: opening file in append mode breaks locking (?)"
I think that `std::fs` has a bug in the interaction between the `OpenOptions` and file locking on Windows.

Consider the following test program, using the `fs2` crate:

[code]

On Windows 10 this fails for me:

[code]

If I use `.write(true)` instead of `.append(true)`, it works fine.

I believe that what's happening here is that the append mode is setting too many flags. [Here's](https://github.c

[2018-09-11 07:27] SergioBenitez commented on #50297
I'm not sure what you could mean by "tests should know how to run themselves". A `#[test]` clearly doesn't know how to run itself: it requires the testing library to parse things like `should_panic`, to execute the function, and to catch panics. A `#[quickcheck]` test also clearly doesn't know how to run itself: it requires `quickcheck` to run the function against a myriad of inputs and then prune

[2018-09-11 08:02] michaelwoerister commented on #53794
Oh yes, that makes sense! Always adding the instantiating crate ID to the CGU would indeed be a valid fix for the problem.

[2018-09-11 08:11] alercah commented on #46213
Optimizing for discriminant extraction seems, to me, far less valuable on average than optimizing for space. Optimizing for the ease of writing an intrisinc for it seems even less valuable. In the provided example, `if let Foo::Bar(_) = foo { .. }` is `if *std::mem::transmute::<&u8>(&foo) <= 3 { ... }`, which doesn't even have a subtraction.

[2018-09-11 08:14] TheSovietStorm opened #54120 "Compiler told me to file a bugreport"
I tried to compile cgmath, at least this is where the problem happened.
I wanted to run my [sideproject](https://github.com/TheSovietStorm/Raytracer) on my Arch linux
machine because it has more power.
Running cargo run --release failed

I tried this [code](https://github.com/TheSovietStorm/Raytracer):

I expected to see this happen: My code running

Instead, this happened:

[code]

## Meta

`rust

[2018-09-11 08:24] mikebenfield opened #54121 "simple type inference fails depending on order of trait bounds"
I can't be sure that this behavior is unintended, but it definitely seems very strange and undesirable to me.

This code works fine:
[code]

But change the order of the trait bounds in the associated type `T`, and it fails:

[code]

[2018-09-11 08:40] alercah commented on #46213
I just now realized that `std::mem::discriminant` is, in general, not required to correspond to the specified discriminant. The `Discriminant` type does not directly expose the actual value of the discriminant, and like all intrinsics, the underlying intrinsic is unstable. Only the `Debug` and `Hash` instances expose it indirectly, and I don't think those should be considered guaranteed to be stab

[2018-09-11 08:55] oli-obk commented on #46213
You need to distinguish between the tag and the discriminant. The tag is an arbitrary bit pattern that stores a value that can be used to extract the discriminant. The discriminant exists even for types like `Option<&u32>`, which have no tag.

tag extraction really is just a field access. Getting the correct discriminant from that can technically be arbitrarily complex. In practice it is desirable

[2018-09-11 09:07] retep998 commented on #54118
Might it be that `LockFileEx` requires `FILE_WRITE_DATA`?

[2018-09-11 10:39] #49938 closed

[2018-09-11 11:26] #40289 closed

[2018-09-11 11:26] oli-obk opened #54122 "Make rustc::middle::region::Scope's fields public..."
... and remove [the entire impl block](https://github.com/rust-lang/rust/pull/54032/files/8053f6319a6c18a23a406e12dede7ff158d3d561#diff-eaec58cd2e0c9e0564f2f3f7e417340cR157) for constructing values of type `Scope`

This will cause a lot of fallout throughout the compiler requiring changing `Scope::Foo(x)` to `Scope { id: x, data: ScopeData::Foo }`

cc https://github.com/rust-lang/rust/pull/54032#d

[2018-09-11 11:50] ExpHP commented on #54120
You appear to be running a very old nightly, can you please try updating it and see if this resolves the issue?

[2018-09-11 11:55] earthengine opened #54124 "Lifetime inference failed on HRTB input"
[The following code](https://play.rust-lang.org/?gist=73fa21e0d08fb40b58be11266d4d359d&version=stable&mode=debug&edition=2015)

[code]
gives
[code]
(this is a slightly different version of [this stackoverflow question](https://stackoverflow.com/questions/52267575/why-can-this-lifetime-not-outlive-the-closure))

# Analysis

The error message suggest that the type inference engine consider the *uppe

[2018-09-11 12:04] ExpHP commented on #54120
I also looked at the source code to try and find the assertion that is failing.  It looks like it is this line, which does not exist on the current master branch (perhaps because it was deemed problematic):

https://github.com/rust-lang/rust/blob/619ad716d1fad162d4cbc41f2b0ecf1b48181da6/src/librustc/traits/project.rs#L146

[2018-09-11 12:25] tromey opened #54126 "lldb fails to run properly on macOS"
I installed the rust-enabled lldb from rustup and tried to run it.  It crashes with the mysterious:
[code]
This seems to be a known LLVM bug: https://bugs.llvm.org/show_bug.cgi?id=22952.  See also https://bugs.llvm.org/show_bug.cgi?id=30587.  This is fallout from the switch to a dynamic LLVM, #53245.

I can't reproduce in my Linux build; not sure what is different there.

I'm looking into workarou

[2018-09-11 12:50] ishitatsuyuki commented on #54120
Yes I fixed this. Duplicate of #48551. Update your nightly.

[2018-09-11 12:50] #54120 closed

[2018-09-11 12:56] pkgw commented on #54118
OK, [the docs](https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-lockfileex) say that the handle must be opened with `GENERIC_READ` or `GENERIC_WRITE`. I guess it doesn't work since `.appendt(true)` alone doesn't provide all of the needed flags.

But if I add `.read(true)`, I *can* lock the file. That's a bit funky, but I guess I'm more inclined to say that that's something t

[2018-09-11 12:56] pkgw commented on #54118
OK, [the docs](https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-lockfileex) say that the handle must be opened with `GENERIC_READ` or `GENERIC_WRITE`. I guess it doesn't work since `.appendt(true)` alone doesn't provide all of the needed flags.

But if I add `.read(true)`, I *can* lock the file. That's a bit funky, but I guess I'm more inclined to say that that's something t

[2018-09-11 13:31] pnkfelix commented on #53764
I should soon have a PR up that migrates *almost* the entire remaining `run-pass` tests.

The few exceptions are cases where e.g. there are linker warnings being generated and I am not convinced it would be useful to try to maintain such output in `src/test/ui/`...

[2018-09-11 13:39] nikomatsakis commented on #53643
So it's not 110% CPU and 135% RAM. Seems fine. Closing.

[2018-09-11 13:39] #53643 closed

[2018-09-11 13:45] nikomatsakis commented on #53695
@pnkfelix and I [discussed on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/122657-wg-nll/subject/making.20plans/near/133732720). Our feeling is that there may be more complications here as well and therefore that we ought to try to make this change as an experiment — if the disruption is minimal, it seems good to try and future proof here, but we might also decide to back off.

[2018-09-11 14:01] nikomatsakis commented on #53159
Removing from all milestones as this just doesn't release like a Rust 2018 blocker (perf is "good enough"). Marked as NLL-deferred.

[2018-09-11 14:05] nikomatsakis commented on #53328
Good point @arielb1 =) I have to think about that. Still, it may not be worth doing much here unless we want it in the short term. In particular, when we move to polonius, the architecture here will change and I don't know if we'll be doing this same analysis at all.

[2018-09-11 14:06] pnkfelix commented on #53351
assigning to self so that remember to factor this into smaller issues that can be individually triaged.

[2018-09-11 14:06] nikomatsakis commented on #53328
Removing from the milestone list. Doesn't feel like a blocker.

[2018-09-11 14:10] MattRutherford opened #54128 "(Identical) function call with Generic arguments breaks compilation when called from within another function that has unrelated Generic arguments"
I searched and couldn't find a similar issue for now.

The following code shows an example of a function ```interpolate_linear``` that when called with identical (literal) arguments, causes a complier error in the function ```percentile``` (line 20), but no error in the function ```call_interpolate_linear``` (line 27). I haven't yet had time to try and narrow the issue yet, but nevertheless I thin

[2018-09-11 14:21] nikomatsakis commented on #53114
I'm assigning to @matthewjasper since I think that handling this correctly will fall out from the work they've been doing to improve how we formulate the "borrow match values". The TL;DR of that work is that find the set of "place paths" that the match examines:

- This includes constants but also discriminants that get switched

For each place path, we will ensure that the place path does not cha

[2018-09-11 14:34] nikomatsakis commented on #53040
So this example (adapted from https://github.com/rust-lang/rust/issues/51354):

[code]

Currently gives this error:

[code]

This is "ok" but not great. The note is in the right direction: the key problem here is that this is a `FnMut` closure, so a reference to a captured variable (`v`) cannot escape. But I think this should be promoted beyond `note`, and maybe we can also offer some tips to help

[2018-09-11 14:38] nikomatsakis commented on #53040
I think I would like an error like:

[code]

Maybe moving those last two notes to an "extended error" description?

I'm not sure if/when to offer `move` tips, as changing to a move closure doesn't *always* help (it won't help here, for example).

[2018-09-11 14:40] pnkfelix commented on #53040
Indeed the captured `&mut Vec<()>` example is an important counter-example to the thoughts I was having about `move`.

That leads me to wonder whether we should be suggesting some kind of explicit type ascription in order to force it to be an `FnOnce`, like in this example ([play](https://play.rust-lang.org/?gist=e626cb81c192e64c5c525052c7351068&version=nightly&mode=debug&edition=2018)):

[code]

[2018-09-11 14:43] nikomatsakis commented on #52669
[Still occurs](https://play.rust-lang.org/?gist=f0e4e60402093181825d9e06991995e0&version=nightly&mode=debug&edition=2015)

[2018-09-11 14:43] nikomatsakis commented on #52669
Seems worth fixing to me for RC2 — this could be a "new user stumbling point".

[2018-09-11 14:44] nikomatsakis commented on #52669
Might be a good fit for @spastorino, who recently did https://github.com/rust-lang/rust/issues/46590, which is touching the same code that produces this error. Thoughts @spastorino ?

[2018-09-11 14:45] pitdicker commented on #54118
`.append(true)` doesn't set all the bits of `GENERIC_WRITE`, it misses the `FILE_WRITE_DATA` bit as @retep998 mentioned. But I can't guess why `LockFileEx` requires them all. Maybe it's checks are just not fine-grained enough.
Seems like there is not much that can be done except documenting.

[2018-09-11 14:48] pnkfelix commented on #52663
assigning to self to finish off the work here and/or factor remaining work into new tickets.

[2018-09-11 14:51] alois31 opened #54130 "Incorrect handling of come invalid inline assembly constraints"
Short summary: When an inline assembly constraint lacks its closing curly brace, the compiler segfaults when optimizing, and accepts the code when not optimizing.

### Steps to reproduce:
* Write the following (invalid) code to some file (e.g. `main.rs`):
[code]
(note the missing closing brace in the constraint)
* Compile it with optimization (i.e. `rustc -O main.rs`, on nightly because we use a f

[2018-09-11 15:00] pnkfelix commented on #52059
assigning to self, hoping to investigate this week

[2018-09-11 15:04] nikomatsakis commented on #52028
Memory use is currently at a 2.28x ratio, weighing in at 501MB.

Still a lot, but not so much as to be an RC2 blocker.

Would be good to know what's going on though.

[2018-09-11 15:17] pnkfelix commented on #47349
discussed with @nikomatsakis . Decided that while it might be interesting to have some kind of code motion analysis that would suggest to the user ways they could rearrange their expression to get things compiling, its not something that we have to have built-in. (For example, I think it might be interesting to try to incorporate such things into clippy...)

So, since [the error is legit, and brot

[2018-09-11 15:17] #47349 closed

[2018-09-11 15:26] nikomatsakis commented on #53789
Adding to the RC 2 milestone. Hopefully a dup of #53121. Assigning to myself as I am investigating both of them now.

[2018-09-11 15:26] nikomatsakis commented on #53773
I believe that the change I suggested in https://github.com/rust-lang/rust/issues/54015 would also fix this.

[2018-09-11 15:27] nikomatsakis commented on #53773
I'm sort of tempted to close one or the other as a duplicate, in fact.

[2018-09-11 15:27] nikomatsakis commented on #53773
Adding to RC 2 milestone as a "nice to have", though I think we should merge with #54015

[2018-09-11 15:29] michaelwoerister commented on #53794
@alexcrichton, it sounds like you already have a PR ready? Otherwise, let me know and I'll create one.

[2018-09-11 15:31] pkgw commented on #54118
Again, I'm not a Windows expert, but I'm inclined to say the same. Feel free to close if you think there's nothing to do on the rust-lang side.

[2018-09-11 15:35] michaelwoerister commented on #54083
perf.rust-lang.org looks like it's back to normal again. Thanks for fixing, @estebank!

[2018-09-11 15:35] #54083 closed

[2018-09-11 15:44] alexcrichton commented on #53794
Oh I don't have a patch yet myself, was gonna confirm first. if you'd like to make the patch though feel free!

[2018-09-11 15:50] nikomatsakis opened #54131 "create a specific error for temporary values that are borrowed too long"
Carrying over a comment from https://github.com/rust-lang/rust/pull/54088:

As a specific example, consider this test:

https://github.com/rust-lang/rust/blob/7ee72070bdb789f58f272fab50d49bd48dd9c11f/src/test/ui/nll/borrowed-temporary-error.rs#L18-L22

we give this error:

https://github.com/rust-lang/rust/blob/7ee72070bdb789f58f272fab50d49bd48dd9c11f/src/test/ui/nll/borrowed-temporary-error.stder

[2018-09-11 16:05] jonhoo commented on #50297
I'd also like to push back a little bit here @djrenren: it's not clear to me that a "clean" division of "test runners are just main functions that deal with CLI + output" and "tests that know how to run themselves" is sufficient. It *could* be, but it'd be nice to see some evidence for it (similarly, @SergioBenitez, can you think of any examples where that separation is *not* sufficient?). There a

[2018-09-11 16:08] memoryruins commented on #22565
The ICE returned, ``rustc 1.30.0-nightly (``551244f05`` 2018-09-10 )``

[2018-09-11 16:09] estebank commented on #54083
@michaelwoerister sorry to cause the epic slowdown to begin with :)

[2018-09-11 16:26] varkor commented on #53761
(Probably) related: https://github.com/rust-lang/rust/issues/52528.

[2018-09-11 16:31] mqudsi opened #54132 "Include type signature for errors involving mutable borrow of immutable (borrowed) content"
For the code fragment

[code]

Sample error:

[code]

This error would be more helpful if the type signature of the item that cannot be mutably borrowed were included in the error message, so that the developer could see where in the type definition the missing `mut` is.

-----

Updated minimal standalone repro:

[code]

[2018-09-11 16:39] estebank opened #54133 "Use structured suggestion when missing `mut` on local binding"
[The following code](https://play.rust-lang.org/?gist=4c268d5fa36a4c90d596a2c571d6ce91&version=nightly&mode=debug&edition=2015):

[code]

Produces

[code]

The suggestion for line 4 is a label, not a suggestion.

[2018-09-11 16:53] nikomatsakis commented on #49441
Hmm. So let's talk through the alternatives. I see two dimensions:

- Settling on the behavior that we ideally want
- Figuring out when we will **require** this behavior and how to migrate code

Let me dig into those two a bit to try and summarize the status:

**What behavior do we want?** There seem to be a few questions here:

- Can people specify "extra" bounds, like `type IsDebug<T: Debug> = T

[2018-09-11 16:55] nikomatsakis commented on #49441
Some complications with treating this as an edition fix:

- As @Manishearth says, we are trying very hard to have automatic migration for anything other than "quite rare" cases
    - and if it is quite rare, maybe we should just fix...
- It imposes a timing deadline that doesn't exist otherwise

[2018-09-11 17:04] Manishearth commented on #49441
Also worth mentioning: the future incompatibility route is not that bad wrt
timing! The main impetus for making it a part of the edition is that we
won't get another chance for a while and having it now lets more cases
accumulate in the wild.

However, as long as we implement the future incompat lint _soon_ (but not
necessarily edition-soon) new cases won't really show up, it's just going
to be ol

[2018-09-11 17:09] nikomatsakis commented on #49441
One clarification on what I wrote:

I was getting ahead of myself when I wrote that we should support "extra" bounds.

I do think we should do that, but the current check that @eddyb implemented can't handle that -- the extra bounds would be ignored -- so for now we should *not* allow those.

[2018-09-11 17:32] nikomatsakis commented on #53121
Minimized test showing the core problem:

[code]

[2018-09-11 17:38] stjepang commented on #27716
I regret stabilizing `LocalKey::try_with` with the current signature. :(

So the signature of `LocalKey::try_with` is:

[code]

We should've gone with the following instead:

[code]

Why? I have a situation with this helper function:

[code]

Unfortunately, the helper function doesn't compile:

[code]

So `F` has to be `FnMut` or additionally `Copy`, which is annoying.

Had we gone with the other

[2018-09-11 17:55] michaelwoerister commented on #53794
Sure, I'll do a PR tomorrow. It's me who introduced the regression after all `:)`

[2018-09-11 18:09] alexcrichton opened #54134 "Rename *San libraries when distributing"
Discovered in https://trac.torproject.org/projects/tor/ticket/27274#comment:7 it turns out that our vendored copies of these libraires cause problems when they override the system versions by accident. We should rename our copies with a Rust-specific name to avoid this name clash.

[2018-09-11 18:19] #53686 closed

[2018-09-11 18:49] alexcrichton opened #54135 "#[used] and symbol visibility is unclear"
I was excited to see `#[used]` stabilized (yay!) as [one of the issues](https://github.com/rustwasm/wasm-bindgen/issues/201) we suffer from in `wasm-bindgen` is related to symbols being removed. Unfortunately though `#[used]` doesn't solve our use case!

First I'll try to explain our issue a bit. The `#[wasm_bindgen]` attribute allows you to import JS functionality into a Rust program. This doesn'

[2018-09-11 18:50] alexcrichton commented on #54135
I should also note, I'm not even sure that such a tweak here would actually fix our use case in `wasm-bindgen`. I would want to actually test a compiler first to make sure it works before actually submitting a change like this.

[2018-09-11 18:55] tromey commented on #54126
Can't reproduce with a local macOS build either.  I'm still investigating.

I wonder if it's possible to build clang and lldb out-of-tree as is done for lld.

[2018-09-11 19:07] shepmaster commented on #50297
Could you share some other places where this is common?

For example, my experience has not included any language where a project has multiple test runners in a single "place". The closest I can think of is multi-language projects. For example, the Rust Playground has Rust unit tests, JS unit tests, and Ruby integration tests, each with their own test runners. Thus I postulate it is *not* common 😇

[2018-09-11 19:09] Lythenas commented on #54100
I removed the links in the latest commits so I can document on nightly. The latest commit that still contains the links is: Lythenas/rust-orgmode@b1c65e8641b4e0fffb4a265813fc5f2e0bbbfdc3

[2018-09-11 19:14] SergioBenitez commented on #50297
@jonhoo I tried to give a couple of example indicative of this in my previous comment, but perhaps we have different notions of what "separation" means in this case. Could you perhaps expand on the question?

@shepmaster In Rocket, I'd love to have the following in a single crate:

  * CLI Tests
  * HTTP Client/Server Integration Tests
  * Quickcheck Type Tests
  * Fuzzers, with a time limit
  * R

[2018-09-11 19:26] bearmate opened #54137 "Missing symbol in no_std application on panic (windows-msvc)"
A no_std application with the panic strategy set to abort and a panic_handler defined still needs the symbol "__CxxFrameHandler3" if a panic is invoked. The toolchain is nightly-x86_64-pc-windows-msvc.

A sample failing to compile due to this can be found at [this repository](https://github.com/bearmate/no-std-minimal). It contains a minimal implementation of a no_std binary for windows with stubs

[2018-09-11 19:27] dpc opened #54138 "Duplicated error messages on `cargo test`."
Why am I getting same error twice?

[code]

In case it might be project-specific, you can download https://github.com/dpc/crev

[2018-09-11 19:46] nikomatsakis commented on #53695
I think we basically just want to insert a statement around here:

https://github.com/rust-lang/rust/blob/f17c2306e2eba49f6447cfda831e4161bf0b618a/src/librustc_mir/build/matches/mod.rs#L258

Specifically, a `ReadForMatch` reading the newly created binding.

[2018-09-11 19:56] nikomatsakis commented on #54131
Here are some notes on what we might say in the extended error:

When you write `&expr` and `expr` is a "path" rooted in some variable (e.g., `&foo.bar`) but rather something that creates a new value (e.g., `&foo()`), a temporary will be created:

[code]

If this temporary expression is assigned directly into a let, or into a tuple or struct that is assigned into a let, it lives until the end of t

[2018-09-11 20:05] cramertj commented on #53792
[Full logs are here](https://gist.github.com/cramertj/7dedfd4fb1bed5325511039832f19463)

[2018-09-11 20:13] nikomatsakis commented on #54015
I think @blitzerr is going to work on this

[2018-09-11 20:34] estebank commented on #54138
This is https://github.com/rust-lang/cargo/issues/5128 running `rustc` twice. It needs to be fixed.

[2018-09-11 20:34] #54138 closed

[2018-09-11 21:01] SergioBenitez opened #54140 "Tracking Issue: Procedural Macro Diagnostics (RFC 1566)"
This is a tracking issue for diagnostics for procedural macros spawned off from https://github.com/rust-lang/rust/issues/38356.

## Overview

### Current Status

  * Implemented under `proc_macro_diagnostics` (https://github.com/rust-lang/rust/pull/44125).
  * In use by Rocket, Diesel, and `syn`.

### Next Steps

  - [x] Implement introspection methods (https://github.com/rust-lang/rust/pull/52896

[2018-09-11 21:01] SergioBenitez commented on #38356
@sgrif I've opened up such an issue: https://github.com/rust-lang/rust/issues/54140.

[2018-09-11 21:04] cuviper commented on #13368
With llvm-assertions, the error is still in the same place:

[code]

The code in question doesn't look able to support direct arrays:
https://github.com/rust-lang/llvm/blob/5a081f0363340dd895d0958955d0c84661f60f05/lib/CodeGen/ValueTypes.cpp#L285

Backtrace from GDB:

[code]

The LLVM-IR for the call looks like:

[code]

I tried to create a similar input for clang:

[code]

The IR here instead give

[2018-09-11 21:07] sgrif commented on #54140
I'd argue that support for associating warnings with lints should be a separate RFC, and shouldn't block moving forward with unsilenceable warnings (with the expectation that anything to associate warnings with lints would need to be an additional API)

[2018-09-11 21:10] arielb1 commented on #53328
I suspect that a similar SSA-style transformation would speed up polonius too, because it will allow the same skipping of "uninteresting CFG points".

[2018-09-11 21:11] sgrif commented on #54140
Similarly, I'm not sure we actually need to address multi-span support before this API can be stabilized. The proposed change there involves changing some methods to be generic, which is considered a minor change under [RFC #1105](https://github.com/rust-lang/rfcs/blob/master/text/1105-api-evolution.md). It could also be done by changing `Span` itself to be an enum, rather than having a separate `

[2018-09-11 21:11] ordian commented on #29036
Any chance this being fixed in rust 2018?

[2018-09-11 21:14] SergioBenitez commented on #54140
@sgrif I suppose the question is: should unsilenceable warnings be allowed at all? I can't think of a reason to remove this control from the end-user. And, if we agree that they shouldn't be allowed, then we should fix the API before stabilizing anything to account for this. I'd really rather not have _four_ warning methods: `warning`, `span_warning`, `lint_warning`, `lint_span_warning`.

Sure, bu

[2018-09-11 21:15] nikomatsakis commented on #54015
Context:

[The `liveness-move-in-while` test from the repository](https://github.com/rust-lang/rust/blob/master/src/test/ui/liveness/liveness-move-in-while.rs), [currently gets this error](https://play.rust-lang.org/?gist=1d1523cfeed2f9648f3de855eebb1c00&version=nightly&mode=debug&edition=2015):

[code]

we would rather add "in previous iteration of loop" to the "value moved here" message:

[code]

[2018-09-11 21:19] sgrif commented on #54140
I think "having a thing we can ship" is a decent reason, but I also think an API that only supports `error`/`help`/`note`, but not errors is sufficiently useful to ship even without warnings. I'd support doing that if it meant we didn't block this on yet another API -- Mostly I just want to avoid having perfect be the enemy of good here.

Because we have a perfectly workable API that's being used

[2018-09-11 21:20] estebank commented on #47315
[Current output](https://play.rust-lang.org/?gist=682a48a125fa59ecbdbd7a149cd8b18e&version=nightly&mode=debug&edition=2015):

[code]

[2018-09-11 21:20] #47315 closed

[2018-09-11 21:21] TheDarkula opened #54141 "Self Profiling Causes ICE With Parallel rustc"
I parallelised `check_crate()` in `src/librustc_passes/rvalue_promotion.rs`. Then ran a test compile on the regex crate with `cargo rustc -- -Z time-passes -Z query-threads=4`.

This caused an ICE saying:
[code]

cc @wesleywiser @Zoxc

[2018-09-11 21:34] wesleywiser commented on #54141
The self profiler isn't compatible with parallel queries yet. Right now, there's just a singleton instance of the profiler but with parallel queries we probably need one per worker thread stored in TLS or something. At the end, we'll aggregate all the info together and display it.

For now, it's probably a good idea to disable the self profiler if you are using parallel queries.

[2018-09-11 21:45] TheDarkula commented on #54141
Ah, that explains rustc yelling at me.
Thanks for the info

[2018-09-11 22:07] mikhail-m1 commented on #54131
I can take it if no one already started

[2018-09-11 22:07] maxdeviant commented on #54122
@oli-obk I can take a look at this, if you'd like 👍

[2018-09-11 22:14] matthiaskrgr opened #54143 "diagnostics: better warning in case of let declaration and assignment operator: let y += 4"
[code]
this code compiles fine, but if I try to use something like let y += 4; rustc has no idea what is going on:
[code]
[code]

I wonder if we could figure out that the user wants `let y = y + 4` in this case and suggest it?

[2018-09-11 22:53] alexcrichton commented on #53166
Sorry I haven't been following this thread and the last comment seems not entirely related to the OP, but for `proc_macro` specifically I feel like the ship has sailed for the 2018 edition, we're way too close to the cutoff for new features (in theory 2 days) to consider something like dropping `proc_macro` as a name.

[2018-09-11 23:13] petrochenkov commented on #53166
I think we can keep `proc_macro` outside of extern prelude until `--extern` without path and its support in Cargo are stabilized. It may take 1-2-3 releases I guess? At least in `rustc` the feature is almost trivial.

Proc macros is an advanced feature so beginners learning Rust from 2018 edition will unlikely hit the "you don't need `extern crate` except for this one case" problem, and proc macro

[2018-09-11 23:28] eddyb commented on #53166
@alexcrichton I don't want to get rid of `proc_macro` as a name, but rather "hide it somewhere".
(as opposed to *everyone* being able to `use proc_macro::...;` in *any* crate)

If we keep `extern crate` around, it doesn't feel *that bad*, although there was some speculation that we might be able to remove/unstabilize the `extern crate` syntax in Rust 2018.

[2018-09-12 00:58] memoryruins commented on #54143
Instead of shadowing, I would first think they meant to type ``y += 4;`` without the ``let``.

[2018-09-12 01:00] memoryruins commented on #54143
But it that’s assuming too much, then I think your suggestion is better than nothing.

[2018-09-12 01:43] ExpHP commented on #54128
It's due to the `f64: From<T>` bound, which the compiler uses aggressively during type inference.  The compiler uses it to try and figure out the type argument to `interpolate_linear`, and concludes that it is `T`.

See  #24066 and many other related issues in the linkbacks.  Unfortunately, the general impression I've gotten is that this is "working as expected" (or at least, as best it can)...

-

[2018-09-12 01:45] mcr431 commented on #53956
So I've been debugging this quite a bit and have boiled it down to the (semi) root cause but don't really know how continue with it and I'd love some guidance or at least to follow closely with whoever takes the reigns.

This actually has has to do generally with checking contents of any source file being used and how files are cached. It is also reproducible as follows:

file `src/main.rs`
[code]

[2018-09-12 01:56] #53531 closed

[2018-09-12 02:00] ExpHP commented on #53861
The issue here is that `fn foo` actually has its own (unnameable) type which is independent of the type `fn()`, and which does not happen to implement `PartialEq`.

To see this, consider the following example:

[code]

[code]

When you annotated the type as `fn()`, you are *coercing* it into that type.

---

Why doesn't the type for `fn foo` implement PartialEq? Don't know :p

[2018-09-12 03:17] jrmuizel opened #54144 "Allow setting breakpoint when Err() is constructed in debug builds"
This would be really helpful for tracking down the source of errors. It seems the simplest way to allow this would be to emit a no-inline function that's used for setting a particular enum variant.

[2018-09-12 04:52] blitzerr commented on #54015
That is one hell of an explanation. Thank you so much for taking time to put your thoughts in such an elaborate manner. Thanks

[2018-09-12 06:07] ubsan opened #54148 "No documentation on why packed types + Drop aren't UB"
https://play.rust-lang.org/?gist=73b84464abe00fb3564dbe30f10a4da7&version=stable&mode=debug&edition=2015

`<Dropper as Drop>::drop` is passed an unaligned reference to `Dropper`, which is UB.

cc @rust-lang/lang

[2018-09-12 06:30] nnethercote commented on #52028
Here's a Massif graph showing a big spike near the end of a `check` build:
![massif](https://user-images.githubusercontent.com/1940286/45406096-b0192900-b6a8-11e8-94a6-88b22a6f6ed9.png)

228MB of that is from `SparseBitMatrix` instances within `ConstraintGeneration::add_regular_live_constraint`. Here's a DHAT record for half of it (and there's a second record for the other half that is extremely s

[2018-09-12 06:38] ubsan commented on #54148
Ah, nevermind; apparently, we generate a shim that copies the value before calling drop on it. We should document this.

[2018-09-12 06:48] eddyb commented on #54148
cc @arielb1

[2018-09-12 06:55] SergioBenitez commented on #54140
@zackmdavis The API being exposed by the diagnostics API in `proc_macro` today is a refinement of the internal API; they're already quite unified, with minor differences to account for the context in which they are used. In general, `rustc`s evolving needs and the `proc_macro` diagnostics API aim for stability prohibit the two from being identical. This is a _good_ thing, however: `rustc` can expe

[2018-09-12 06:59] Arnavion commented on #51996
The ICE in the OP code is fixed by #54000, though the code still doesn't compile for lifetime reasons.

[2018-09-12 07:11] nnethercote commented on #52028
I added some `println!` statements. Looks like we have a big `SparseBitMatrix` that ends up with about 30,000 rows, and 92,652 columns in each row, but only a single bit is set in each row. `SparseBitMatrix` is moderately sparse, in that rows are instantiated fully on demand.

Perhaps a sparser representation could help. In fact, `SparseBitMatrix` used to be sparser, but in #52250 I made it denser

[2018-09-12 07:58] sicking opened #54149 "Trait bounds on associated types of subtraits don't work correctly"
The following code does not compile:

[code]

In fact, I haven't been able to come up with **any** syntax for `myfunc` which uses a trait bound using `MyTrait2` that will compile once the trait bound `X` exists.

Changing the declaration of `MyTrait2` to `trait MyTrait2: MyTrait1<X=u32> {}` does work, so it's clearly possible for super traits to put constraints on the associated types of subtraits

[2018-09-12 08:38] pnkfelix commented on #54047
* (1a) One option: make a separate `ui-run-pass` suite and move this stuff there. That is perhaps the simplest to implement, but I don't know if it has the ideal developer UX.
    * (1b) A variant of this: reorganize `ui/` to have subdirectories `ui/compile-fail/`, `ui/compile-pass/`, `ui/run-pass/`, ... and then move everything there. Then a developer should be able to opt into the subarea they a

[2018-09-12 08:38] pnkfelix commented on #54047
Nominating for discussion at T-compiler meeting.

[2018-09-12 09:13] pnkfelix commented on #29596
@vext01 I'm guessing that just isn't high enough priority to get addressed (yet)...

[2018-09-12 09:18] pnkfelix commented on #54047
(actually, after further reflection, I'm starting to warm up to option (1a). After all, we *started* with a model where we had separate compile-fail and run-pass suites. So it would make sense to retain that division, and just think of this as "upgrading" each of the suites to test the compiler UX as well...)

[2018-09-12 09:56] tbu- commented on #37984
There are no data races in the implementation on Windows, and neither on the other platforms. Rust supports global mutable variables via atomics. I think this issue can be closed.

[2018-09-12 09:58] tbu- commented on #32976
I think the `ATOMIC_*_INIT` constants of the not-yet stabilized atomics should be removed before stabilization, they're a crutch from a time without stable const functions.

[2018-09-12 10:02] petrochenkov commented on #54047
I remember that @nikomatsakis wanted to avoid variants like `1a/b` to introduce a per-feature directory structure instead:
[code]

[2018-09-12 10:08] pnkfelix commented on #54047
I do notice that `compiletest` has a `--mode` argument which is implemented as only accepting one of  "(compile-fail|parse-fail|run-fail|run-pass|run-pass-valgrind|pretty|debug-info|incremental|mir-opt)",

I suspect that is implemented by inspecting directory names, but since it does not list `ui`, we could expand its meaning to also mean "inspect the header of the `ui/` tests to determine its cat

[2018-09-12 11:16] pnkfelix opened #54153 "Issue 18804 (linkage weak_extern through generics) regressing on OS X?"
I am locally seeing test failures on OS X

[code]

I am not certain what is happening yet. After reviewing #18804, I have looked briefly at the generated LLVM IR output for main.rs, and it seems like `FOO` is being properly tagged:

[code]

[2018-09-12 11:18] pnkfelix commented on #54153
(Also, it would probably be a good idea to validate the bugs mentioned here https://github.com/rust-lang/rust/issues/29603#issuecomment-170412521 and here https://github.com/rust-lang/rust/issues/29603#issuecomment-357446821 and if they are indeed bugs, then we probably should file individual issues for them.)

[2018-09-12 11:27] #48022 closed

[2018-09-12 11:28] #49807 closed

[2018-09-12 11:33] qwerty19106 commented on #53491
I want to know which section contains *static* variables without initialization?
In "C" I can write ```uint8_t a[100];``` in high level of file, and I know that *a* symbol will be put to *.bss* section. If I write ```uint8_t a[100] = {};``` the *a* symbol will be put to *.data* section (which will be copied from FLASH to RAM before *main*).

It is small example in Rust which used MaybeUninit:
[cod

[2018-09-12 12:07] japaric commented on #53491
@qwerty19106 In your example both `a` and `b` will be place in `.bss`. LLVM treats `undef` values, like `MaybeUninit::uninitialized()`, as zeros when selecting which section a variable will go in.

If `A::new()` initialized `len` to 1 then `b` would have ended in `.data`. If a `static` contains *any* non-zero value then the variable will go in `.data`. Padding is treated as zero values.

This is w

[2018-09-12 12:18] nikomatsakis commented on #54015
[Zulip stream](https://rust-lang.zulipchat.com/#narrow/stream/122657-wg-nll/topic/.2354015.20Improve.20move.20error.20loop.20detection)

[2018-09-12 12:40] pnkfelix commented on #54153
see also #31508

[2018-09-12 12:53] Munksgaard opened #54154 "codegen/lto-removes-invokes.rs test fails"
On a fresh clone of the Github repository, the codegen/lto-removes-invokes.rs test fails with the following output:

[code]

Here is my config.toml file: http://termbin.com/ek7z

The config file is taken from https://rust-lang-nursery.github.io/rustc-guide/how-to-build-and-run.html#create-a-configtoml

[2018-09-12 12:56] Munksgaard commented on #54154
The test also fails with `--stage 2` but not with `--stage 0`.

[2018-09-12 12:57] eddyb commented on #54154
cc @alexcrichton @michaelwoerister @nagisa

[2018-09-12 12:59] Munksgaard commented on #54154
For your information:

[code]

[2018-09-12 13:30] ryanisaacg commented on #52356
I hit this error trying to run `cargo doc` on nightly on the [development branch of quicksilver](https://github.com/ryanisaacg/quicksilver/tree/development), also failing when documenting `typenum`. This was on Windows 10, if that's relevant.

[2018-09-12 14:04] t-milan commented on #54096
Ok, I understand now. The extra comparison is necessary to provide information of whether the searched element exists (in the form of Ok/Err).

[2018-09-12 14:04] #54096 closed

[2018-09-12 14:58] johnedmonds opened #54155 "Stack overflow reported for &'static str `into()`"
[code]

Doing `rustc main.rs && ./main` results in

[code]

The cause does not appear to actually be a stack overflow though. Running with rust-lldb reports `EXC_BAD_ACCESS` in the `from` method for `&'static str`.

[2018-09-12 15:41] Lythenas commented on #54100
I experimented a little more and found the following:

When I have a doc comment with one link everything works:

[code]

Also when specifying the link target it works:

[code]

When there is more than one link in one doc comment the compiler panics:

[code]

Even when one of them has a link target:

[code]

But it works when both links have a target:

[code]

Also this does not happen in the main

[2018-09-12 15:45] pnkfelix commented on #53528
I've started looking at this

While comparing the log output when compiling the two variants, I noticed this difference:

Working variant with `std::slice::Iter`:

[code]

non-working variant with `impl Iterator`

[code]

This led me to wonder: could we be forced to keep the region alive because the `impl Iterator` might reference it when it is dropped?

It was easy enough to make a variant exampl

[2018-09-12 16:12] alexreg commented on #49683
@tlively Glad to hear! Let us know how you get on.

[2018-09-12 16:36] est31 commented on #54144
The failure crate has a backtrace option. Alternatively, you can shadow the `try!` macro in your project.

[2018-09-12 16:41] joelgallant commented on #52873
I think this is the same as #54002 as well

[2018-09-12 16:43] RalfJung commented on #49150
I just realized we forgot about one situation where rustc will copy stuff around--- it's probably not a big deal though, for now. I am talking about packed structs. If a packed struct has a field that needs dropping, rustc will emit code to copy that field's data to somewhere aligned, and then call `drop` on that. That is to make sure that the `&mut` passed to `drop` is actually aligned.

For us,

[2018-09-12 16:49] jrmuizel commented on #54144
Neither of those work universally though. I'm looking for a solution that works across crates not under my control.

[2018-09-12 17:07] dsciarra commented on #22692
@estebank
1. what is `$Type::`? a substring of `String.new()`, or is `$Type` a type?
2. how to check that the argument `source` is a method? is `$method_name` then the other part of the string `String.new()`?

[2018-09-12 17:07] sfackler commented on #54155
What behavior do you expect for the `impl From<&'static str> for Test` impl? It's recursing into itself through the `.into()` method.

EXC_BAD_ACCESS is how stack overflows are reported.

[2018-09-12 17:18] alercah commented on #54148
Is it possible to break it if `Dropper` is immovable?

[2018-09-12 17:27] mehcode opened #54156 "Confusing error message when wildcard importing two same-named traits"
Discovered this when using `tokio-async-await` and `futures`. Both define `FutureExt` and `StreamExt` traits in their `preludes`. Both traits are meant to be used at the same time (from what I understand).

[code]

After doing both this imports rust proceeds to act like _neither_ of the traits got imported and give error help on any method usage something like "trait not in scope; use `tokio::asyn

[2018-09-12 17:44] alexcrichton commented on #50054
I think with `syn`'s recent update I'm gonna close this in favor of https://github.com/rust-lang/rust/issues/54140 which tracks a real diagnostic API being added to `proc_macro`

[2018-09-12 17:44] #50054 closed

[2018-09-12 18:12] mbrubeck commented on #51908
Fixed by #51912.

[2018-09-12 18:12] #51908 closed

[2018-09-12 19:16] Munksgaard commented on #54154
Apparently this is caused by the `use-jemalloc = false` setting. Setting `use-jemalloc = true` fixes the error for me.

[2018-09-12 19:53] cramertj commented on #54148
@alercah @RalfJung just left a comment about that on the [Pin tracking issue](https://github.com/rust-lang/rust/issues/49150#issuecomment-420717470).

[2018-09-12 20:01] matthiaskrgr opened #54158 "bootstrap crashes in debug mode"
repo is at a2b991b5305b770c7d5288ab3aa231428511c530

this is my config.toml:
[code]
while buidling, rustc crashed

[code]

[2018-09-12 20:01] matthiaskrgr commented on #54158
Is this a duplicate to #54150  or #43982 ?

[2018-09-12 20:09] estebank commented on #54155
Same underlying problem as https://github.com/rust-lang/rust/issues/45838.

[2018-09-12 20:15] estebank commented on #47659
You can take inspiration from https://github.com/estebank/rust/blob/master/src/test/ui/lint-unconditional-recursion.stderr and https://github.com/estebank/rust/blob/master/src/test/ui/span/recursive-type-field.stderr

[2018-09-12 20:56] vi opened #54159 "LTO + opt-level=2 breaks mipsel-unknown-linux-musl"
[code]

the program (or at least that part of the program) works if built with opt-level="s" or without lto or on another platform. On some build variations there is a strange `Result::unwrap() on an Err value: Os { code: 21, kind: Other, message: "Is a directory" }` error instead of the allocation failure.

Was building [websocat](https://github.com/vi/websocat), commit "239570d94c1ad127ffc17e097

[2018-09-12 21:10] nikomatsakis commented on #53590
So, the existing scheme can handle (i.e., won't do the wrong thing, though it may be less efficient) two items with the same tokens. You could imagine using the names if the user gave them us, and for anonymous things like impls, using this hash as the name. This would mean that if you have two impls that are token-by-token identical, they get distinct def-ids just as they do today, but otherwise

[2018-09-12 21:10] nikomatsakis commented on #53590
In any case, I love the idea of experimenting here.

[2018-09-12 21:11] nikomatsakis commented on #53590
Well, let me rephrase. I like the idea of experimenting, but I am dubious that this addresses any of our most urgent problems. I feel like most "incremental-style" changes are mutating the bodies of methods and things, not adding new items etc?

It'd be nice to see if we can get some kind of corpus on this.

This will *definitely* be true in an IDE scenario.

[2018-09-12 21:24] estebank opened #54160 "Don't suggest `42u8.into()`, suggest "change the literal to `42u16`"
[Given the following code](https://play.rust-lang.org/?gist=e60e99a855bb39eeda0fd3c2eb1383e4&version=nightly&mode=debug&edition=2015)

[code]

we currently suggest using `.into()` to turn the `u8` literal into a `u16`

[code]

We should suggest changing the literal directly when appropriate in the following way:

[code]

This has the added benefit that we can look at the literal and see if it woul

[2018-09-12 21:35] eternaleye commented on #53491
@qwerty19106 Because [life before main() is considered a misfeature](https://doc.rust-lang.org/1.4.0/complement-design-faq.html#there-is-no-life-before-or-after-main-(no-static-ctors/dtors)) and was explicitly disinvited from Rust's semantics.

[2018-09-12 21:53] qwerty19106 commented on #53491
Ok, it is good lang design.

But in **#[no_std]** we have not good alternative now (maybe I was searching bad).

We can use [spin::Once](https://github.com/mvdnes/spin-rs/blob/master/src/once.rs), but it is very expensive (**Ordering::SeqCst** on every getting reference).

I would like to have a compile-time check on **embedded**.

[2018-09-12 21:59] eddyb commented on #53491
That doesn't sound right to me. Aren't all "once" abstractions supposed to be relaxed on access, and synchronize on initialization? Or am I thinking of something else?
cc @Amanieu @alexcrichton

[2018-09-12 22:11] dwijnand commented on #30422
Another version I've been using:

[code]

Whom can I reach out to for help/guidelines on how to fix this?

[2018-09-12 22:15] eternaleye commented on #53491
@qwerty19106:

When you say "embedded", are you referring to bare-metal? It's worth noting that `.init_array` is not, in fact, part of the [ELF format itself](http://refspecs.linuxbase.org/elf/elf.pdf) ¹ - It's not even part of the [System V ABI](http://www.sco.com/developers/devspecs/gabi41.pdf) ² that extends it; only `.init` is. You don't find `.init_array` until you get to [the System V ABI dr

[2018-09-12 22:58] Amanieu commented on #53491
@eddyb You need an `Acquire` load at the very least when reading the `Once`. This is a normal load on x86 and a load + fence on ARM.

The current implementation uses `load(SeqCst)`, but in practice this generates the same asm as `load(Acquire)` on all architectures.

[2018-09-12 23:34] scottmcm opened #54165 "Misleading unreachable code warning from return in try blocks"
[code]
https://play.rust-lang.org/?gist=363157c898e0d067260e711db131b256&version=nightly&edition=2018
[code]
The desugar should probably just suppress this warning for the code it generates.

[2018-09-12 23:43] iddan commented on #48614
This happens for me when executing `cargo build` inside the docker image `janitortechnology/servo` on a Google Cloud Compute Engine instance.

[2018-09-12 23:51] mqudsi opened #54166 "rustdoc fails to resolve one reference to a function out of many"
There appears to be a bug in rustdoc wherein it's not resolving one of two references that are pretty much identical.

Here's an example: https://docs.rs/rsevents/0.1.0/rsevents/trait.Event.html#tymethod.set

Under `Event::set()`, there are two references to two different structs implementing the same trait, both defined in the same way (and in the same file), one to `AutoResetEvent::set()` and th

[2018-09-13 00:14] earthengine commented on #53943
[Minimum reproducable](https://play.rust-lang.org/?gist=18f6354afb9d2cddbc390ccf5fc0e942&version=stable&mode=debug&edition=2015):

[code]
Note: This bug depends on the need to specify an associate type in the super trait, with a lifetime. Then, in the trait bound `where` clause, specify the associate type explicitly.

[2018-09-13 00:14] I60R commented on #53130
Can we disambiguate the `uniform_paths` by using a three colons instead of two when referring to a crate?
Can we also fix the ugly leading `::` by using `crate:::` instead?

The result could be the best synthesis of `uniform` and `anchored` variants possible that takes the best parts from them and eliminates the worst.

Example:

[code]

Advantages over RFC `uniform_paths`:
- Cleaner and more expl

[2018-09-13 00:16] estebank commented on #45979
[Fixed](https://play.rust-lang.org/?gist=06b1a99c3c3a2def0c5a6a0e49233b49&version=nightly&mode=debug&edition=2015):

[code]

[2018-09-13 00:16] #45979 closed

[2018-09-13 00:18] Redrield commented on #53130
@I60R If anchored is going to be used, I think it should be used as-is. Personally I find that code even harder to read, and it would be very strange to have to get used to disambiguating crates with `:::`

[2018-09-13 00:47] cramertj opened #54167 "ICE unwrapping result compiling futures-preview"
Backtrace:

[code]

[2018-09-13 00:55] cramertj commented on #54167
This originally occurred during incremental compilation after changing rustc versions. The ICE stopped after rm'ing the out (target) dir.

[2018-09-13 00:57] cramertj commented on #53794
I've confirmed that https://github.com/rust-lang/rust/pull/54152 fixed this. Thanks so much @alexcrichton and @michaelwoerister!

[2018-09-13 00:57] #53794 closed

[2018-09-13 01:01] joshtriplett commented on #53130
That's a really subtle distinction, and I don't think it buys us much for the cost and subtlety.

I don't know why people fixate on a syntax that, in the ideal case, *you'll almost never have to write*. The *only* time you will ever need to write an explicit leading `::` is if you have a local item with the same name as a crate.

[2018-09-13 01:09] cramertj commented on #53130
Some data: I just got done updating Fuchsia to the latest nightly, and I hit a bunch of errors as a result of the change to be future-compatible with `uniform_paths`. Most of the errors came from one specific import, `use log::log;` (or some variant thereof).

The errors looked something like this:
[code]

The code that caused the error [is available here](https://fuchsia.googlesource.com/garnet/+

[2018-09-13 01:40] joshtriplett commented on #53130
@cramertj I *think* that you can just use log 0.4.4 or newer, and then stop importing `log::log` at all, at least when you don't call it directly. From a quick look at the code you linked to, I don't see any calls to `log!`.

[2018-09-13 03:06] earthengine commented on #52701
I can see how this happen - the compiler working hard to find a type to wrap with `impl Fn()` etc, but it is never given. As there is already a warning issues for the recusing nature, I guess we can default the type to `!` in such a detectable case?

[2018-09-13 03:10] earthengine commented on #52812
Duplicate of #53420 (at least the ICE case)?

[2018-09-13 03:40] petertodd opened #54169 "ICE in existential type with lifetime in trait implementation"
Example:

[code]

Backtrace:

[code]

[2018-09-13 03:51] tlively commented on #49683
@alexreg So far it's slow-going, but I'm still chipping away at it!

[2018-09-13 04:48] zackmdavis commented on #53934
@oli-obk

I don't understand how multiple multi-part suggestions rules out adding new annotations as a solution? Suppose that in addition to "suggested_replacement" and "suggestion_applicability", `DiagnosticSpan` also had a "suggestion_number" key, whose value started at 0 for spans belonging to the first suggestion, and incremented for subsequent suggestions. Am I missing some obvious reason why

[2018-09-13 05:09] kzys commented on #20962
[Rustdoc's PageSpeed results](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdoc.rust-lang.org%2Fstd%2F&tab=desktop)

While Rustdoc itself can address "Eliminate render-blocking JavaScript and CSS in above-the-fold content" and "Minify CSS", "Leverage browser caching" and "Enable compression" depend on the http server's configuration (CloudFront and S3?).

[2018-09-13 05:34] #54166 closed

[2018-09-13 05:34] mqudsi commented on #54166
Invalid.

[2018-09-13 05:47] kzys commented on #14572
It is possible to have a small form on https://doc.rust-lang.org/ which goes to https://doc.rust-lang.org/std/?search=vec. However the landing page is not generated by rustdoc afaik.

[2018-09-13 05:51] mqudsi opened #54172 "rustdoc cannot resolve specific trait impl functions"
[code]

There's no way to have the link `SpecialFoo:foo()` resolve in the rustdoc, as `SpecialFoo` does not contain this function. Unless there's a special syntax for referring to `SpecialFoo`'s `Foo` impl that would allow this.

[2018-09-13 06:02] #53481 closed

[2018-09-13 06:59] eddyb commented on #53130
@cramertj It's not suggesting `::log` because you have an ambiguity in the macro namespace, *not* the type/module namespace.

You hit the "nested scopes" problem, where `self::foo` currently only looks in the same module, but `use foo::...;`, under `uniform_paths`, in the future, might end up finding `foo` in a scope between the current module and the import.

*However*, you *happen to be* importi

[2018-09-13 07:06] RalfJung commented on #54148
@ubsan what would be a good place to document this? Do we have attribute docs so we can put it with repr(packed)?

Might be worth reopening (and renaming) this issue to track that missing doc.

[2018-09-13 07:12] RalfJung commented on #53491
(Would you mind moving these discussions elsewhere? They do not have anything to do with MaybeUninit vs mem::uninitialized any more. Both behave the same wrt what LLVM does - generate undef. What happens with that undef later is not on topic here.)

Am 13. September 2018 00:59:20 MESZ schrieb Amanieu <notifications@github.com>:

[2018-09-13 07:30] parched commented on #53366
I've created a PR to fix this [here](https://github.com/rust-lang/rust/pull/54174) and I would appreciate a code review if anyone has the chance, thanks.

[2018-09-13 08:00] eddyb opened #54175 "Exponential type/trait-checking behavior from linearly nested iterator adapters."
The following test takes an exponential amount of time to type-check the body of `huge` (at the time of this writing, reported by `-Z time-passes` under "item-types checking"):
[code]
This has been reduced from an ambiguity-aware parse tree visitor, and you can see a partial reduction here: https://gist.github.com/eddyb/5f20b8f48b68c92f7d4f022a18c374f4#file-repro-rs.

cc @nikomatsakis

[2018-09-13 08:04] matthiaskrgr opened #54176 "have a travis job that makes sure benchmarks don't break"
I have seen `./x.py bench` break several times now, would it be possible to have a ci job run (or cargo check?) the benchmarks once to make sure everything compiles?

[2018-09-13 09:30] michaelwoerister commented on #53794
Great to hear! Credit goes to @alexcrichton for identifying the underlying problem. The fix was pretty simple after that `:)`

[2018-09-13 09:56] GuillaumeGomez commented on #18419
Indeed.

[2018-09-13 09:56] #18419 closed

[2018-09-13 10:30] daym opened #54178 "Test failure - src/test/debuginfo/nil-enum.rs"
We get a test failure using gdb 8.2:

[code]

[2018-09-13 10:30] daym commented on #54178
Fails in Rust 1.25.0.

[2018-09-13 10:38] pnkfelix commented on #53528
Ah, I think I know what's going on: Since `DropIter` has a destructor, the borrow-checker's internal model of the code says that it needs to be prepared to run that destructor when it drops an `Option<DropIter>`.

That reasoning is applied for both the `Some` and `None` variants of the `Option`.

Therefore, on the `else` branch, the compiler keeps the lifetime of the borrow alive long enough so th

[2018-09-13 10:58] pnkfelix commented on #50823
BTW NLL is turned on as part of the 2018 edition, so if you upgrade to that, this example will start working: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018

[2018-09-13 11:06] pnkfelix commented on #53528
and likewise here is that same workaround being applied to the original example ([play](https://play.rust-lang.org/?gist=f142326da52422cb2e5cd1d5f8bbff8c&version=nightly&mode=debug&edition=2015)):

[code]

[2018-09-13 11:57] pnkfelix commented on #53450
The root cause of the issue here is that during the compilation of `fn main`, the borrow-checker assumes that `y` (an `impl Iterator`) has a destructor, and so the time at which `y` is dropped is significant.

We can observe the compiler's respecting that significance by applying a similar workaround to the one I applied to #53528: drop `y` before trying to mutate `v` ([play](https://play.rust-lan

[2018-09-13 12:41] csmoe commented on #54176
If I get your point,
1. create a `/bench` task inside `src/ci/docker` as the existing images like `x86_64-gnu` did(but with some custom modification like `ENV SCRIPT python2.7 ../x.py bench`),
2. exec `./src/ci/docker/run.sh bench`

[2018-09-13 12:42] ehuss opened #54180 "compiler suggests invalid code with ref pattern"
The following example:

[code]

Gives the following suggestion:

[code]

When the suggestion is applied, the code does not compile:

[code]

I'm not sure what the best suggestion would be.  Removing the `ref` might be an option (I'm not sure if using a wildcard is equivalent in this case?).  Suggesting `..` is another option.

This suggestion was changed in 1.28 (previous versions gave a different

[2018-09-13 12:50] pnkfelix commented on #53450
See also discussion on rust-lang/rfcs#1951 about which lifetimes are in scope for `impl Trait`; note especially that type parameters make their lifetimes *implicity* in scope for an `impl Trait` in return position.

 * (As far as I can tell, there's no way to specify that a given type parameter is *not* in scope for an `impl Trait` in return position, which I think could be an interesting way to d

[2018-09-13 12:59] csmoe commented on #54180
[code]
the ambiguity in the lint caused by the wrong span.
(btw, this won't be an issue in edtion-2018 since `ref` isn't "recommended" there https://rust-lang-nursery.github.io/edition-guide/rust-2018/ownership-and-lifetimes/default-match-bindings.html)

[2018-09-13 13:00] ExpHP commented on #54180
I think the suggestion should simply include the `ref` in the span.

[code]

[2018-09-13 13:02] pnkfelix commented on #53528
It might also help if the compiler actually *said* in its diagnostic that the compiler's reasoning includes the fact that it thinks that the drop is relevant.

We actually *do* print out such information *if* we have a named local to refer to, like in the following ([play](https://play.rust-lang.org/?gist=5a1daebaf8092eac7b43b69423230c2b&version=nightly&mode=debug&edition=2015)):

[code]

where th

[2018-09-13 13:06] pnkfelix commented on #53528
Taking off of the RC2 milestone since I believe NLL is behaving in the manner we expect here (see https://github.com/rust-lang/rust/issues/53528#issuecomment-420962801), but also tagging as NLL-deferred in light of the suggestion I posed about future enhancements to our handling of enum variants that don't reference type parameters (see https://github.com/rust-lang/rust/issues/53528#issuecomment-4

[2018-09-13 13:10] pnkfelix commented on #53450
My current plan is to close this issue as "not a bug" based on the reasoning given in https://github.com/rust-lang/rust/issues/53450#issuecomment-420980871 ; basically, I think the problems here are issues with the expressiveness of `impl Trait`, and not problems with NLL nor borrow-checking.

(This bug does not currently have a milestone, priority, nor `NLL-label` attached to it. If I see push ba

[2018-09-13 13:18] Boscop opened #54182 "Omitting return type of trait method to use () doesn't work with associated_type_defaults when default is ()"
Omitting the return type of a trait method to use `()` doesn't work with `associated_type_defaults` when the default is `()` (`type R = ();`):

https://play.rust-lang.org/?gist=2b56fc463679d93f1c24a8af3495c776&version=nightly&mode=debug&edition=2015

[code]

Even when I uncomment both occurrences of `/*-> Self::R*/`, it doesn't work:
[code]

I also have to uncomment both occurrences of `// type R

[2018-09-13 13:38] alercah commented on #54148
[The reference](https://doc.rust-lang.org/nightly/reference/type-layout.html) seems like the right place for it.

[2018-09-13 13:49] Neurrone commented on #53881
bump

[2018-09-13 13:52] pnkfelix opened #54184 "generic existential types should (at most) warn, not error, if a type parameter is unused"
Consider the following code ([play](https://play.rust-lang.org/?gist=d57057ce3bab5ec0d9e28fc1e86cd6d6&version=nightly&mode=debug&edition=2015)):

[code]

The compiler errors, with the diagnostic

[code]

But it should not be illegal to leave a type parameter unused. It is useful, from the view-point of the implementor, to have the option of returning concrete types that do not use the given type.

[2018-09-13 13:54] eddyb commented on #54184
Relevant code: https://github.com/rust-lang/rust/blob/994cdd918589535d705177545bf503cd0c3c5148/src/librustc_typeck/check/mod.rs#L5275

[2018-09-13 14:03] nikomatsakis commented on #54006
Can't we check the stability when we do the lazy path resolution?

[2018-09-13 14:04] nikomatsakis commented on #54006
Sorry, that's not very clear. What I meant is:

Can we do the stability checking when we first load the crate?

[2018-09-13 14:04] pnkfelix commented on #54006
Visited for triage. Assigning to @eddyb, who sounds like they are on the case.

[2018-09-13 14:04] nikomatsakis commented on #54006
Another question:

Can you specify `--extern` to access `alloc` without a feature gate?

[2018-09-13 14:05] nikomatsakis commented on #54006
(If you invoke rustc manually, or maybe by cajoling cargo sufficiently)

[2018-09-13 14:10] nikomatsakis commented on #53675
@petrochenkov this seems kind of important to figure out, no? Have you had any further thoughts? If not, I'd be up to try and investigate a bit and see if I can figure something out.

[2018-09-13 14:10] pnkfelix commented on #53675
visited for triage. Curious about an update from @petrochenkov about how to approach this and whether they have time to attack it. Assigning to self for further investigation/management.

[2018-09-13 14:11] pnkfelix commented on #44493
visiting for triage. #53793 landed. closing as fixed.

[2018-09-13 14:11] #44493 closed

[2018-09-13 14:15] nikomatsakis opened #54185 "tracking issue for `infer_static_outlives_requirements` (RFC 2093 spinoff)"
As part of the work on RFC 2093 (rust-lang/rust#44493), we encountered a specific sub-question that we decided to spin out into its own feature gate called `infer_static_outlives_requirements` (#52761). The question is whether to infer `T: 'static` requirements from structs.

For example, does this struct require `T: 'static`?

[code]

There is no real implementation work to be done here, this is

[2018-09-13 14:15] nikomatsakis commented on #44493
Created https://github.com/rust-lang/rust/issues/54185 to track the `'static` question

[2018-09-13 14:16] nikomatsakis commented on #44493
https://github.com/rust-lang/rust/issues/52042 already exists to track an idiom lint

[2018-09-13 14:17] pnkfelix commented on #54059
visited for triage. Going to try to followup with @arielb1 . Assigning to self to keep myself honest about that claim.

[2018-09-13 14:17] pnkfelix commented on #54059
also, P-high

[2018-09-13 14:20] pnkfelix commented on #53583
visited for triage. Seems under control from looking at PR #54069. P-high.

[2018-09-13 14:23] hellow554 opened #54186 "Two consecutive if lets cannot be used as function result"
[MCVE](https://play.rust-lang.org/?gist=7a007ac374bd52313cfeaa58ef6c09e2&version=stable&mode=debug&edition=2015)

    fn nowork(a: Option<u32>, b: Option<u32>) -> bool {
        if let Some(x) = a { true } else { false }
        &&
        if let Some(y) = a { true } else { false }
    }

    fn work(a: Option<u32>, b: Option<u32>) -> bool {
        let z = if let Some(x) = a { true } else { false

[2018-09-13 14:30] eddyb commented on #54006
@nikomatsakis The only way you can access the sysroot crate *without* knowing its path is the new `--extern alloc` (without a path), that's being added in #54116, which is unstable.

We can't check stability when we load the crate, because that happens before the query engine is set up, and it's a pretty messy right now to get any useful information across.

What we could do is try to get a stabil

[2018-09-13 14:32] Centril commented on #54184
This is a bug. The current behavior with the error deviates from the specification in [RFC 2071](https://github.com/rust-lang/rfcs/blob/master/text/2071-impl-trait-existential-types.md#guide-existential-types).
In particular, see:

I don't think this should even be a warning.

cc @cramertj

[2018-09-13 14:37] nikomatsakis commented on #54047
My feeling here:

- I dislike dividing up our test suite into directories like run-pass, compile-fail, etc
- I would rather have the "primary organization" of the tests be the area of code that they are testing (e.g., borrowck, regionck, some RFC, etc)

This leads me to suggest that we ought to add a "test filter" that lets you pare down the tests to exclude run-pass or other modes.  In fact, if w

[2018-09-13 14:37] Centril commented on #54185
Are there particular *strong* reasons to treat `'static` any different than other lifetimes here?
Otherwise, for reasons of uniformity/consistency, I'm strongly inclined that `T: 'static` should be inferred.

[2018-09-13 14:42] johnedmonds commented on #54155
Ah, you're right. I'm sorry, when it crashed I didn't get a stack trace, I only got the one frame so I assumed it was something else going on.

[2018-09-13 14:42] #54155 closed

[2018-09-13 14:42] petrochenkov commented on #53675
Status update: still plan to investigate this (probably this week).
The delay is mostly due to prioritization - there were other regressions and urgent future-proofing work to complete before beta.

[2018-09-13 14:44] pnkfelix commented on #54047
discussed at meeting. P-high. I will work on addressing @petrochenkov 's developer UX concern in short term.

[2018-09-13 14:47] eddyb commented on #53956
cc @michaelwoerister @nikomatsakis

[2018-09-13 14:50] pnkfelix commented on #54045
visited at compiler team meeting. P-high. Assigning to both @eddyb and @oli-obk

@oli-obk : if you're not available , just remove your assignment (but realize you are ceding authority! ha ha ha)

[2018-09-13 14:52] humenda opened #54187 "Move `backtrace` option to the target-specific configuration"
When building a compiler for a target triple which differs from the host triple, it is impossible to express that the host supports libbacktrace, but the target doesn't.
Moving the option from `[rust]` to `[target.xyz]` would make this more flexible, allowing the host compiler to be built with backtrace support, while the target isn't.

cc @alexcrichton

[2018-09-13 14:53] pnkfelix commented on #53792
discussed briefly at compiler team meeting. P-high. Assigning to @michaelwoerister for further investigation.

[2018-09-13 14:58] eddyb commented on #52706
You don't need *that specific statement*, even just adding a semicolon fixes it.

[2018-09-13 15:01] eddyb commented on #52701
Where's the ICE? All I'm seeing is an error - you have a cyclic dependency in types.

[2018-09-13 15:02] pnkfelix commented on #52701
discussed at meeting. P-high. Assigning to @nikomatsakis

[2018-09-13 15:08] pnkfelix commented on #52706
Discussed at meeting. This is similar to a number of other cases I was looking at today, in that `impl Trait`'s are assumed to potentially have a destructor, which in turn have implications for how they are treated during borrow-checking.

In our current implementation of the rvalue-lifetime and drop-check rules in particular  #21114 and #46413, you can end up in scenarios where the last expressio

[2018-09-13 15:08] #52706 closed

[2018-09-13 15:08] alexreg commented on #49683
@tlively Okay. If you need any help, pop into Discord. Even I may be able to assist you a bit with it.

[2018-09-13 15:15] pnkfelix commented on #22323
I just want to make two quick notes:
 * As part of MIR-borrowck we did make a language "change" to track destruction order of locals declared in the same `let`-binding, which was something we previously treated as having an unspecified destruction order in the borrow-checker...
 * I would have thought that MIR-borrowck would have "fixed" this issue (#22323) simply by its architecture. Which is why

[2018-09-13 15:16] pnkfelix commented on #22323
Putting onto the Release milestone in the hopes that this forces me to take action here.

[2018-09-13 15:17] pnkfelix commented on #21114
This issue was discussed (or at least alluded to) in today's compiler team meeting. I'm going to treat addressing it as part of overall potential NLL work, so I'm 1. tagging with A-NLL, and 2. putting on the Release milestone.

[2018-09-13 15:18] pnkfelix commented on #46413
This issue was discussed (or at least alluded to) in today's compiler team meeting. I'm going to treat addressing it as part of overall potential NLL work, so I'm 1. tagging with A-NLL, and 2. putting on the Release milestone.

[2018-09-13 15:28] DutchGhost opened #54189 "HRTB closure ICE"
Returning a Higher Ranked Trait Bound closure ICE's on stable (1.28), beta and nightly:

[code]

<details>
<summary>Backtrace:</summary>

[code]

</details>

[2018-09-13 15:33] eddyb commented on #51353
The example can be reduced to:
[code]
The `T::Output` projection is central, it seems, and the type of  `|| {}` inside `ice` depends on `'a`.

[2018-09-13 15:34] eddyb commented on #48969
Shorter testcase at https://github.com/rust-lang/rust/issues/51353#issuecomment-421050273.

[2018-09-13 15:36] michaelwoerister opened #54190 "Building standard library for "aarch64-pc-windows-msvc" fails with "undefined symbol" errors"
Currently it's not possible to cross-compile the standard library for `aarch64-pc-windows-msvc`. To reproduce, the install the MSVC's ARM64 toolchain (I used MSVC 15.8.3) and configure Rust as follows:
[code]
Running `./x.py build` will abort with linker errors (error log provided by @froydnj):
[code]
<details>
<summary>complete error log</summary>

[code]

</details>

[2018-09-13 15:38] nikomatsakis commented on #54185
I'm not sure what you mean by "strong" — the inference itself has no problem with `'static`. I think the motivation is that it is *somehow* surprising, but it's tricky to put my finger on why.

[2018-09-13 15:48] whatisaphone opened #54191 "rustdoc does not warn about broken links if they contain `.` or `[]`"
I got a PR yesterday that included something like this:

[code]

In the current nightly rustdoc, `foo.bar()` neither resolves nor warns:

![](https://i.imgur.com/SZnon0r.png)

Our CI with `--deny warnings` did not catch this mistake (although I did 😄). I think rustdoc should trigger `intra-doc-link-resolution-failure` for this case.

[2018-09-13 15:50] ubsan commented on #54148
Or the Rustonomicon?

[2018-09-13 15:52] michaelwoerister commented on #53792
The compiler will deem a cache directory incompatible if it was produced by a compiler with a different `CFG_VERSION`: https://github.com/rust-lang/rust/blob/994cdd918589535d705177545bf503cd0c3c5148/src/librustc_incremental/persist/file_format.rs#L97-L110

So if you are producing your compiler in some non-standard way, this mechanism might not work for you. I'm happy to take suggestions for a diff

[2018-09-13 15:58] DutchGhost commented on #54189
I suppose this is a duplicate of https://github.com/rust-lang/rust/issues/52812 , https://github.com/rust-lang/rust/issues/53943 , and perhaps some other HRTB ICE's.

[2018-09-13 16:01] cramertj commented on #53792
@michaelwoerister We produce our compiler using a custom script that runs `./x.py install`. Is there something preventing incremental from using a hash of the current compiler itself? That seems like it would be more robust.

[2018-09-13 16:04] cramertj commented on #54184
Agreed, this shouldn't warn.

[2018-09-13 16:10] shepmaster commented on #32836
If I try to use a non-`Copy` type in a union, I'm directed here, but there's no search results for `Copy` besides the very first comment. Where can I find more information about the progress for supporting these types?

[2018-09-13 16:11] cramertj commented on #54184
Agreed, this shouldn't warn.

[2018-09-13 16:12] japaric opened #54192 "Tracking issue for -Z emit-stack-sections"
This is an *experimental* feature (i.e. there's no RFC for it) [approved] by the compiler team and added in #51946.

[approved]: https://github.com/rust-lang/rust/pull/51946

Documentation can be found in the unstable book. (TODO add link here when the docs are up)

(And yes this has not landed yet but I need an issue number to write down in the documentation :-)

[2018-09-13 16:31] Centril commented on #54185
@nikomatsakis by strong I mean "*very* compelling" rather than "a bit compelling" :)

[2018-09-13 16:34] Centril commented on #54184
cc https://github.com/rust-lang/rfcs/pull/2071 https://github.com/rust-lang/rust/issues/34511

[2018-09-13 16:43] cramertj commented on #54192
The flag implemented in #51946 is called `emit-stack-sizes`. This issue is "Tracking issue for -Z emit-stack-sections." Typo?

[2018-09-13 17:05] Manishearth commented on #50723
Btw, I'm willing to mentor folks in doing this!

[2018-09-13 17:08] Centril commented on #54184
"Assigning" this to @alexreg to fix per the spec in RFC 2071.

[2018-09-13 17:17] Shnatsel commented on #53945
I am facing the same issue with **address** sanitizer on `rustc 1.30.0-nightly (f2302daef 2018-09-12)`

[2018-09-13 17:33] tromey commented on #54126
If I run the rustup-installed lldb without going through `rust-lldb`, it works.

[2018-09-13 17:34] tromey commented on #54126
Aha, invoking the `command script import ...` command that `rust-lldb` provides is what causes the crash.  Which I guess could be apparent from the original failure.

[2018-09-13 17:42] tromey commented on #54126
Just a simple Python file with `import lldb` makes it crash, so my theory is that something is wrong with our lldb build, causing this to try to load some other liblldb.dylib.

[2018-09-13 18:26] alexreg commented on #54184
I'm not quite sure I get this. Why can't we just remove the type parameter? It's not needed in this case, even if we wrap the iterator in a `Wrapped` value.

[2018-09-13 18:26] eddyb opened #54193 "MIR inlining should work with any `ty::FnDef` callee operand, not just constants."
This code:
https://github.com/rust-lang/rust/blob/994cdd918589535d705177545bf503cd0c3c5148/src/librustc_mir/transform/inline.rs#L96-L97

should not pattern-match on `func`, but rather call its `ty` method to get its type.

What this means is that `let f = foo; f();` should inline as well as `foo()` (but today it doesn't).

cc @nikomatsakis

[2018-09-13 18:30] Havvy commented on #54186
The key thing to note here is `^ expected bool, found &&bool`. It's not anding your if-lets together, but instead ending the statement at the close of the `else`. You can fix this by using parenthesis:

https://play.rust-lang.org/?gist=419f4506d17902132dfbe048d88712f4&version=stable&mode=debug&edition=2015

https://doc.rust-lang.org/reference/statements.html#expression-statements for the reason.

[2018-09-13 18:50] nagisa commented on #54193
Actually it should handle both cases, I think. Handling the `func` constant is useful when the type has been erased but constant propagation managed to propagate the actual function anyway.

[2018-09-13 18:54] alexcrichton commented on #54187
Seems reasonable to me!

[2018-09-13 18:59] jimblandy commented on #50132
Interesting. I'm using a code generator that produces a tree of modules spread across several files and directories under `$OUT_DIR`, and using `include!` to bring in the root of that tree. In that situation, it's essential that `mod` items in the included file search relative to the included file, not the file containing the `include!`. For that case, it seems like the current behavior is desirab

[2018-09-13 19:17] mmerickel opened #54195 "os_str_str_ref_eq feature marked stable since 1.28.0 instead of 1.29.0"
I noticed that https://blog.rust-lang.org/2018/09/13/Rust-1.29.html mentioned https://github.com/rust-lang/rust/pull/51178/ and it is marked `#[stable(feature = "os_str_str_ref_eq", since = "1.28.0")]`. Shouldn't that be `1.29.0`?

https://github.com/rust-lang/rust/blob/1.29.0/src/libstd/ffi/os_str.rs#L420-L432

[2018-09-13 19:26] alercah commented on #54148
I think the long-term vision should be the reference holding normative text, and the 'Nomicon being more of a practical guide. So probably the correct answer is both.

[2018-09-13 19:26] withoutboats commented on #54185
I don't know what we should do necessarily, but two reasons not to infer `'static` right now:

* For lifetimes other than `'static`, there is some indication in the public signature that the type parameters are bound by those lifetimes, because they are also parameters. That is, given `Iter<'a, T>`, its almost always the case that there's a `&'a T` somewhere in the struct, and users expect that. B

[2018-09-13 19:33] joshtriplett commented on #54003
We discussed this in the @rust-lang/lang meeting, and we were generally in favor of emitting warnings about needing `unsafe` even on the right-hand side of `let _ =`.

However, we *also* agreed that we'd like to have a warn-by-default lint for `let _ = expression_with_zero_side_effects;`

[2018-09-13 19:34] MaikKlein opened #54196 "cargo fix renames unused local variables from foo to _foo"
For example:

[code]

I don't like that refactor because I might end up with local variables that do nothing. I think `cargo fix` should just ignore unused local variables all together.  If `cargo fix` just renames local variables to hide the warnings from the compiler, then the compiler lint is a bit pointless.

Renaming unused function parameters seems fine.

[2018-09-13 19:35] nikomatsakis commented on #53695
Discussed in the lang team meeting. We decided that it makes sense to give an error here; the "official MIR lowering" ought to be that the RHS is evaluated and then moved into the pattern, and hence there *is* a use that comes after the RHS has been evaluated, and an error is warranted (we happen to optimize this in MIR generation, but that shouldn't necessarily be observable).

[2018-09-13 19:41] alercah commented on #49150
That seems like a giant footgun that should be plastered over all of the pinning docs.

[2018-09-13 19:53] brson opened #54197 "Cover reference equality in primitive.reference API docs"
This page: https://doc.rust-lang.org/std/primitive.reference.html

It's not obvious that reference equality is accomplished via implicit reference-pointer coercion plus `ptr::eq`. The `ptr::eq` docs mention this, but I would not look there to find reference equality.

The reference primitive page is someplace I would look for info about reference equality. Update this page to discuss reference equ

[2018-09-13 19:53] majewsky opened #54198 "primitive type never aka ! not indicated as unstable in the docs"
As of now, the [tracking issue for `!`](https://github.com/rust-lang/rust/issues/35121) indicates that this type is still unstable, but the documentation at https://doc.rust-lang.org/std/primitive.never.html does not reflect that. It's missing the customary marker for experimental APIs.

[2018-09-13 19:55] cramertj commented on #49150
@alercah I don't think it's much more of a footgun than the existing ability to impl `Unpin` or `Drop`--  certainly both are far more commonly seen alongside pinned values than `#[repr(packed)]`.

[2018-09-13 19:56] wagenet commented on #43466
Should "point to actual link in doc comment" be checked off since #51391 is merged?

[2018-09-13 19:57] wagenet commented on #43466
Also "Add lint for link resolution failure" (#51382)

[2018-09-13 19:58] wagenet commented on #43466
And looks like "Support Self" was added in #52368.

[2018-09-13 20:09] nikomatsakis commented on #49441
We discussed in the @rust-lang/lang team meeting and decided we would:

- Make it a FCP warning in 2015
- Make it a **hard error** in 2018

where "it" refers to having "incorrect bounds" -- i.e., too many, or too few. We may in fact land the 2018 Hard Error first, since that is logistically easier, and 2018 code is unstable.

Ideally, we would do a migration for adding the `?Sized` bound.

This FC

[2018-09-13 20:09] tromey commented on #54126
The bug is that rustup does not preserve symlinks when installing lldb.

[2018-09-13 20:10] Centril commented on #54184
@alexreg perhaps not in this case; but there's still a bug as compared to the specification of RFC 2071 so it should be fixed.

[2018-09-13 20:11] nikomatsakis commented on #53166
We discussed this in the @rust-lang/lang meeting. I forget who was supposed to write up the notes. =) I believe the general feeling was that:

- meta is a better name
- but we're not sure of the details of how said meta crate should be laid out
- it's late to change `proc_macro` etc

Therefore, what we could do is to (a) reserve the name `meta` but not map it to anything in particular, so we can a

[2018-09-13 20:13] pnkfelix commented on #53764
Update: after [discussion](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/subject/weekly.20meeting.202018-09-13/near/133888413) that was prompted by issue #54047, I am going to take a new tack of turning the `src/test/run-pass/` directory into a *second* `ui/` suite (and in tandem with that, I'll move all the tests that cannot be readily `ui`-ified elsewhere (such as `run-pass-fu

[2018-09-13 20:14] klingtnet opened #54200 "Calling clone on argument in write! causes stackoverflow"
I just stumbled across this issue in a small tool I'm developing.
At the moment I can't pinpoint what the cause of the stack overflow is but running the example below will result in this terminal output:

[code]
This  can be reproduced for stable (1.29), beta and nightly channels.

Here is a minimal example ([playground](https://play.rust-lang.org/?gist=daeaec0f0422706c34ed54cbee61bd04&version=sta

[2018-09-13 20:15] klingtnet commented on #54200
Side note, this compiles without any warnings.

[2018-09-13 20:27] Centril commented on #53166
eddyb 😛

I think it's a 👍 idea.

Not super excited about `use proc_macro::foobar;` on 2018.

[2018-09-13 20:30] sfackler commented on #54200
This is basically a duplicate of #45838 I think.

[2018-09-13 20:31] klingtnet commented on #54200
Looks like it, a call to `to_string()` causes a stackoverflow as well.

[2018-09-13 20:33] sfackler commented on #54200
Closing as a duplicate of that then.

[2018-09-13 20:33] #54200 closed

[2018-09-13 20:41] pnkfelix commented on #54184
@alexreg

I went too far when I was trying to simplify the example to cut down the number of lines.

here is a variant example that *does* need the type parameter for `Wrapped` ([play](https://play.rust-lang.org/?gist=0996e465f084d8dabde4a2831e084831&version=nightly&mode=debug&edition=2015)):

[code]

(In particular, here we *need* the type parameter in `Wrapped<I>`, because the `I` is going to ca

[2018-09-13 20:46] alercah commented on #49150
That's fair. My concern is that someone might think that a projection is safe for a type that they didn't write, and not realize that `packed` makes it unsafe to do so, because it's decidedly non-obvious. It's true that whoever is doing the projection is responsible for being aware of this, but I think it needs to be additionally documented anywhere where such a projection might occur.

Hm, would

[2018-09-13 20:53] pnkfelix commented on #54184
I love playing devil's advocate, so: Here's an argument for "why a warning might be desirable": we warn today about unused parameters in methods/functions/closures, even when the parameter's presence is forced upon us in order to satisfy external APIs.

 * I.e. we try to force programmers to either 1. revise their interfaces to be more minimal,  or 2. mark that they are opting into ignoring the pa

[2018-09-13 20:55] tromey commented on #54126
This is strange, though, because rustup and tar seem to have symlink logic.

[2018-09-13 21:02] withoutboats commented on #49150
@alercah I'm not super familiar with how packed types are implemented, but I believe its safe to pin *to* a packed type, just not to pin *through* a packed type. So the only case where you don't control the packed type is if you project to a *public field* of someone else's type, which could be just as unsafe because of `Drop` or anything else. In general, it seems illadvised to pin project to som

[2018-09-13 21:07] withoutboats commented on #49150
A use case I could imagine is an intrusive linked list, where you only care about the address of the whole struct, but its got a bunch of badly aligned data you want to squash together without caring about the address of that data.

[2018-09-13 21:12] tromey commented on #54126
The package manifest contains `file:.../_lldb.so`, so maybe this needs to be extended to allow a symlink somehow.

[2018-09-13 21:16] tromey commented on #54126
I think the answer ends up being that rustup-utils/src/utils.rs should understand how to copy a symlink.

[2018-09-13 21:18] jeekobu opened #54202 "Improve 'Higher-ranked trait bounds' section of reference"
https://doc.rust-lang.org/reference/trait-bounds.html

The last paragraph in particular has English errors and is incomprehensible:

[2018-09-13 21:31] jeffreydecker opened #54204 "Silent failure for empty range"
I've just run into an issue where with trying to for loop over a range where the upper bound is one above the _MAX_ of the primitive represented by _i_ as shown below:

`// i is u8`
`for i in 0..256 {...}`

I understand that in this particular case 0 and 256 are the same, meaning that the range `0..0` and `0..256` with regard to _u8_ are the same. Part of the issue in my opinion is that I'd argue

[2018-09-13 21:37] tromey commented on #54126
I have a rustup patch I will test out tomorrow.

[2018-09-13 21:57] nnethercote commented on #52028
I have a plan to fix this, by making `SparseBitMatrix` sparser in the case where many rows have only 1 column (or a small number of columns) set. It will involve using `HybridIdxSet` for the rows. But that will first require cleaning up and combining the various bitset structures we currently have, including `BitSlice`, `BitArray`, and `IdxSet`. #54177  is the first step.

(The old `SparseBitMatri

[2018-09-13 22:04] ExpHP commented on #54204
But it *does* bark at you:

[code]

[2018-09-13 22:07] varkor commented on #53672
This was very confusing to run into (for some reason this error occurs on Travis, but not locally for me). It'd make much more sense to me to allow `do catch` before the 2018 edition.

[2018-09-13 22:29] Centril commented on #54184
@pnkfelix My view here is mostly that it is way too early to tell if we should warn or not with no substantial usage experience to talk of. I'd like to first stabilize at some point and then we can always add lints if it turned out to be necessary. Being a tad more empirical doesn't hurt =P

However -- in the interim, the RFC does not specify that there should be any warnings, so we should first i

[2018-09-13 22:33] alexreg commented on #54184
@pnkfelix Yeah, that makes more sense now. `error: type parameter `I` is part of concrete type but not used in parameter list for existential type` is the key error if you remove it.

Regarding your "devil's advocate" argument, I'm actually of the opinion the error should remain when the concrete type is not using it, and disappear when it is using it.

[2018-09-13 22:40] willem66745 opened #54206 "rls-preview missing Rust 1.29 for x86_64-pc-windows-gnu"
See also rust-lang-nursery/rls#993

RLS was still available with Rust 1.28 for x86_64-pc-windows-gnu

For Rust 1.29:
[code]

For rust 1.28 it was available:
[code]

[2018-09-13 22:46] jeffreydecker commented on #54204
Hmmm, you're right! I guess I ran into this within a macro I'm working on so I just don't get some of the compiler stuffs in that case. Must have missed the waring the first time I ran the example outside of a macro. Thanks!

I realized after writing this issue that I also meant to include the example below which does not complain:

`// i is u8`
`for i in 0..0 {...}`

Obviously it's a ridiculous s

[2018-09-13 22:56] scottmcm commented on #54185
Hmm, there's some precedent that `Box<T>` differs from `Box<T + 'a>` here, right?

But I agree that waiting for additional feedback here is the right plan.

[2018-09-13 23:12] estebank commented on #54204
Agree that we should probably add an "empty range" lint for cases like `0..0`.

[2018-09-13 23:35] nnethercote opened #54208 "High memory usage compiling `keccak` benchmark"
According to perf.rust-lang.org, a "Clean" build of `keccak-check` has a `max-rss` of 637 MB. Here's a Massif profile of the heap memory usage.
![keccak-clean](https://user-images.githubusercontent.com/1940286/45520646-a6550a00-b7fd-11e8-8a09-bdd4ae9aa21d.png)

The spike is due to a single allocation of 500,363,244 bytes here:
https://github.com/rust-lang/rust/blob/28bcffead74d5e17c6cb1f7de432e37f

[2018-09-13 23:36] cramertj commented on #53834
When I went to implement this I realized that we can't just specifically parse `await` as a non-keyword when in `macro_rules` or in a macro invocation (`await!`) because we also want to support `use std::await;`, which is neither a macro invocation nor definition. We could do name resolution for the macro and then succeed or fail based on whether or not the item pointed to is a macro, but this see

[2018-09-13 23:53] petrochenkov commented on #53675
Not sure how exactly, but this is already fixed.
https://github.com/rust-lang/rust/pull/54209 adds tests.

[2018-09-13 23:59] nnethercote commented on #54208
Now for NLL. According to perf.rust-lang.org, an "Nll" build of `keccak-clean` has a `max-rss` of 1239MB. Here's a Massif profile of the heap usage:
![keccak-nll](https://user-images.githubusercontent.com/1940286/45521531-bd95f680-b801-11e8-91be-5f06bd61712c.png)
The 500MB `Liveness` spike is still visible, but it is outweighed by a later plateau that is dominated by three allocation sites that al

[2018-09-14 00:07] Centril commented on #53834
As long as we retain the ability to eventually make it a true keyword in edition 2018, that sounds good to me.

[2018-09-14 01:07] #50333 closed

[2018-09-14 01:07] #53818 closed

[2018-09-14 01:57] crlf0710 commented on #54206
Can this be nominated? I think this worth a point one release.

[2018-09-14 02:12] frewsxcv commented on #54196
@MaikKlein To get a better understanding of your thought process, why do you feel `cargo fix` should treat local variables and function parameters differently here?

[2018-09-14 03:04] nnethercote commented on #54208
I have implemented this in #54211.

[2018-09-14 03:07] bhuztez opened #54212 "polonius liveness facts not implemented yet"
when compiling unicode-xid v0.1.0 with `rustc 1.30.0-nightly (7061b2775 2018-08-28)` and compiler flags: `-Z external-macro-backtrace -Z borrowck=mir -Z polonius`, the compiler panicked.

[code]

[2018-09-14 04:43] Havvy commented on #54202
Refiled as https://github.com/rust-lang-nursery/reference/issues/416

[2018-09-14 04:43] #54202 closed

[2018-09-14 05:02] nnethercote commented on #54208
I have implemented this in #54213.

[2018-09-14 05:10] Ekleog opened #54214 "Bounds check that should not be eliminated is"
Originally tested with `rustc 1.29.0-nightly (e94df4acb 2018-07-31)`. Also reproduced (for amd64, wasm didn't compile) with `rustc 1.30.0-nightly (90d36fb59 2018-09-13)` and `rustc 1.28.0-nightly (b907d9665 2018-06-13)`. The details below will concern the `rustc 1.29.0-nightly (e94df4acb 2018-07-31)`.

This issue appears to reproduce only with two crates and optimizations turned on. It may be an u

[2018-09-14 05:57] hellow554 commented on #54204
Related: https://github.com/rust-lang/rust/issues/47213

[2018-09-14 05:59] hellow554 commented on #54186
Interesting. Thanks for the two links. So it is intended and also wanted, but not gonna be "fixed"?

[2018-09-14 06:04] MaikKlein commented on #54196
For example
[code]

Now at one point you remove `foo.do_something();`, and then cargo fix will rename `let foo = Foo::new();` to `let _foo = Foo::new();`

Now you have you might never find this in your code base. You really wanted to remove it, or maybe it was a bug in the first place that you are not using it anymore.

Just renaming it for the sake of removing the warning seems wrong.

[2018-09-14 06:09] Havvy commented on #54186
We can add a diagnostic for when its followed by a bin-op like that, but we're not changing the language to accept the code.

[2018-09-14 06:54] xfix commented on #43301
@Lucretiel `Termination` trait is nightly, but the feature itself is stable already.

[2018-09-14 07:10] mark-summerfield opened #54216 "1.29 fails to build on a Windows networked drive"
I have a program that builds under 1.28 on Linux and Windows with no errors or warnings.
The same program builds under 1.29 on Linux, but won't build on Windows if the source is on a virtuabox (i.e., networked) drive.

See my initial report here: https://users.rust-lang.org/t/rust-1-29-0-is-out/20400/10?u=mark
And the Cargo.toml and src/main.rs here: https://users.rust-lang.org/t/rust-1-29-0-is-ou

[2018-09-14 07:16] sanmai-NL commented on #53166
@nikomatsakis: as an outsider who prefers robustness/stability, I still think `meta` or better `metaprogramming` is much better and that breakage from the name change should be okay. One advantage is friendliness to educational use of rust. You want the learner to be reminded of the fundamental meaning of things, not of implementation details.

What is the interaction between this change and the u

[2018-09-14 07:18] cphoenix-google opened #54217 "Compiler: thread 'main' panicked at 'called `Result::unwrap()`"
[code]

[2018-09-14 07:39] Fraser999 opened #54218 "Duplicate instance of a static variable when accessed from sub-crate"
If I have a `static` variable in a lib and access it from a "sub-crate", the sub-crate appears to create a separate instance of the variable, which is unexpected to me.

I created a minimal project showcasing the issue at https://gitlab.com/Fraser999/subcrate_static_issue:
[code]
The output I'd expect would be:
[code]
but instead I see:
[code]
(I'm happy posting the contents of those files directl

[2018-09-14 08:17] lfairy commented on #54140
[Maud](https://github.com/lfairy/maud) also uses the diagnostic API. It would benefit from both features described in the summary:

1. **Multi-span support** &ndash; Currently, the [duplicate attribute check](https://docs.google.com/presentation/d/1mosh3qanPqw3qkqUXab6BkE45H7JhRcV1u4IlTCLp9c/edit#slide=id.g3e57a06607_0_0) emits two separate diagnostics for each error. It would be cleaner to emit a

[2018-09-14 08:28] eddyb commented on #53166
@sanmai-NL We're unsure yet what we'll do to `proc_macro` *exactly*, but everything that works today will continue to work on Rust 2015, and if Rust 2018 requires you to go through `meta`, it *will* automatic migrations for imports.

The decision we took is mainly to reserve `meta` as "available without Cargo opt-in or `extern crate`", which is something we're only doing in Rust 2018 to `core`, `s

[2018-09-14 08:59] michaelwoerister commented on #53792
You mean a hash of the `src` directory? Or all the executables and dylibs? It's doable but it would some effort to integrate that into the build system.

[2018-09-14 09:06] humenda commented on #52459
I cannot reproduce *this* particular error anymore.
Thanks

[2018-09-14 09:06] #52459 closed

[2018-09-14 09:19] michaelwoerister commented on #54190
So it turns out that linking with LLD does not work on Windows in general. At least I get the same linker errors for `i686-pc-windows-msvc` too. The culprit is the [following piece of logic](https://github.com/rust-lang/lld/blob/2a9b88b8b419d094fb2185c0ca31c28d31bdca00/COFF/Driver.cpp#L669-L678) in LLD's handling of `.def` files:
[code]
LLD interprets every symbol with a dot in it as a [re-export

[2018-09-14 09:31] vityafx opened #54220 "Add ability to check rustc version via cfg_attr"
I am using diesel and I have to use this thing:

[code]

However, it is allowed to use it only in rustc >= 1.29 so it breaks compatibility if I write it so. I'd like to write it as the following:

[code]

This requires adding such a attribute (`rustc_version_higher_than`) with corresponding checks. If anyone agreed, I'd do it myself, just point me where I can see for such a code as an example and

[2018-09-14 09:37] humenda opened #54221 "Compiler panic while parsing source code"
I'm getting a Rust compiler panic while compiling for x86_64-unknown-l4re-uclibc
(from GNU/Linux), but the backtrace  looks as if there were a problem while parsing the Rust source itself. A crate without macros works fine. The crate that I'm getting the panic with makes heavy use of macros. It could even be that one of the macros is syntactically not correct.
Please let me know if you need more i

[2018-09-14 09:47] #53719 closed

[2018-09-14 09:47] #53958 closed

[2018-09-14 09:47] #54195 closed

[2018-09-14 09:47] #54198 closed

[2018-09-14 10:42] pnkfelix opened #54222 "run-pass/lib-defaults.rs warns of redundant linker flag"
This test:

https://github.com/rust-lang/rust/blob/fccde0018a618eb6f45d2a3c97f629809994dff6/src/test/run-pass/lib-defaults.rs#L13-L18

is causing the following compile-time output to stderr (on Linux; not sure about other hosts):

[code]

This is the command line that compiletest is constructing:

[code]

I haven't delved deeply into what our requirements are for linkage directives. I'm guessing t

[2018-09-14 11:07] pnkfelix commented on #53761
(This did not reproduce for me in a recent checkout of `master`; so either it depended on some other (mostly test shuffling) i had done in this branch, or something else changed that fixed  it...)

[2018-09-14 11:44] pepyakin opened #54224 "Borrowing static array that contains another static array represented by literal doesn't work when expressed inline"
Why does this work:

[code]

but this doesn't?

[code]

[2018-09-14 11:44] tromey commented on #54126
https://github.com/rust-lang-nursery/rustup.rs/pull/1504

[2018-09-14 12:10] tromey commented on #48168
Latest problem is #54126.

[2018-09-14 12:13] pnkfelix commented on #54222
(the same output is issued for "OS X", which leads me to wonder if it is also issued on Windows? If that is the case, then I'd be inclined to add a `.stderr` file for this test rather than use `// dont-check-compiler-stderr`)

[2018-09-14 12:19] tromey commented on #48911
One related thing that gcc and clang do is notice conflict markers from `patch` and emit a nicer error in that situation, like:
[code]

[2018-09-14 12:31] SimonSapin commented on #27800
With https://github.com/servo/servo/pull/21325 merged (thanks @stjepang and @gterzian!), Servo does not use this feature anymore.

Do we know of other projects that do? Would it be useful to do a crater run (with something like renaming the feature flag) to find out?

@rust-lang/libs How do you feel we should proceed with this feature?

[2018-09-14 12:33] varkor commented on #53761
With https://github.com/rust-lang/rust/issues/52528, sometimes after checking out a new version, the problem goes away, only to return some time later.

[2018-09-14 12:41] michaelwoerister commented on #54190
A few thoughts on fixing this:
- Fixing this on the Rust side by not including `.` in symbol names anymore will break demangling in various external tools like Valgrind (cc @nnethercote). If we have to break tools, we should also clean up symbol name generation at the same time to avoid churn.
- Fixing this in LLD might be possible but somewhat brittle. I experimented with a fix of the logic linke

[2018-09-14 12:45] pnkfelix commented on #54184
@alexreg wrote:

Wait, that makes it sound like you are saying that the original description is not a bug?

[2018-09-14 12:46] froydnj commented on #54190
I cargo-culted the configuration to use `lld` from @alexcrichton ...is there some reason that Microsoft's linker won't work correctly here?

[2018-09-14 13:00] pnkfelix commented on #54184
(I interpret @alexreg's response as an implicit vote for why one might want the warning when concrete type is not using it...)

[2018-09-14 13:03] michaelwoerister commented on #54190
The original [PR](https://github.com/rust-lang/rust/pull/53173) mentions LLD being less buggy than the MSVC linker.

[2018-09-14 13:34] glaubitz commented on #50960
Hmm, so while the LLVM bug was now fixed, ```rustc``` is now running into this problem on ```powerpc```:

[code]

Even rustc 1.24 doesn't work anymore. I have the impression that something external is causing this.

[2018-09-14 13:50] humenda commented on #54221
This bug was caused by a compiler library popping up in a normal Cargo `target`
dir for reasons unknown to me. Hence closing this issue.

[2018-09-14 13:50] #54221 closed

[2018-09-14 13:56] LionNatsu commented on #50960
@glaubitz Have you check [this message](https://github.com/rust-lang/rust/issues/50960#issuecomment-414787375)? I have already fixed this recently https://github.com/rust-random/rand/pull/589, released at rand 0.4.3.
All versions of rand before 0.4.3 were using wrong system call number on PPC(32/64).

[2018-09-14 13:59] glaubitz commented on #50960
Aha! I haven't seen that. Thanks a lot for pointing me at that. You probably saved me lots of digging now ;).

[2018-09-14 14:01] LionNatsu commented on #50960
You're welcome :)

[2018-09-14 14:01] rkruppe commented on #54214
I've had a similar problem (with overflow checks instead of bounds checks) in #38136, and I suspect that this issue has the same cause: LLVM noticing (thanks to LTO) that an out of bounds index would lead to an infinite side-effect-free loop, which it considers UB (#28728) and consequently takes as justification to remove the bounds check entirely.

[2018-09-14 14:48] nikomatsakis opened #54230 "suggest `crate::...` for "local" paths in 2018"
The following code, [when compiled in Rust 2018](https://play.rust-lang.org/?gist=100abed41bd0a5cd89ecc7ee7d3a8e82&version=nightly&mode=debug&edition=2018), errors out (as expected). However, the error could be more helpful.

[code]

Error:

[code]

but I think we should suggest something like

[code]

[2018-09-14 14:49] pnkfelix commented on #54153
If I compile the main test with optimization turned on (i.e. `rustc -O`) the problem goes away

[2018-09-14 14:52] eddyb commented on #51353
In our case (for https://github.com/lykenware/gll/pull/47), we were down to one source of this ICE, and the fix was:
[code]
That is, the problematic closure was changed from taking a `&usize` to take an `usize`, and the value was read from behind the reference by `.cloned()` (which is immune to the ICE).

[2018-09-14 14:52] Ekleog commented on #28728
As seen is https://github.com/rust-lang/rust/issues/38136 and https://github.com/rust-lang/rust/issues/54214 , this is especially bad with the upcoming `panic_implementation`, as a logical implementation of it will be `loop {}`, and this would make all occurrences of `panic!` UB without any `unsafe` code. Which… is probably the worse that could happen.

[2018-09-14 14:53] Ekleog commented on #54214
Hmm… At the same time, somehow I couldn't reproduce with a single crate (where it does keep the overflow check). So maybe there's something a bit more deep than that? Anyway, notifying https://github.com/rust-lang/rust/issues/28728 of the issue, given no one seemed to have mentioned `panic_implementation` there before :)

[2018-09-14 14:53] zackmdavis commented on #48911
(This is #32059.)

[2018-09-14 14:55] nikomatsakis commented on #54230
Some thoughts:

Ideally, we would compare against two things:
    - the names of crates in the prelude etc
    - the names of items defined in the root module

and offer appropriate suggestions.

cc @petrochenkov @eddyb

[2018-09-14 14:57] Neurrone opened #54231 "Cargo doc --open no longer opens my default web browser"
I have firefox set as my default web browser, and using `cargo doc --open` hasn't worked to open documentation in it for quite some time now.

[2018-09-14 15:01] pnkfelix commented on #54153
Ah, and the default for `optimize-tests` is *true* in the usual config.toml.

So that explains why no one else (namely our continuous integration server) has been running into this on OS X.

[2018-09-14 15:04] csmoe commented on #54231
it's a cargo issue, consider reporting there? https://github.com/rust-lang/cargo

[2018-09-14 15:08] pnkfelix commented on #52059
(to be clear, even an *explicit* reborrow would produce the error message that is being deemed inferior here...)

[2018-09-14 15:15] kornelski commented on #53802
That would be great. I've used these methods in many places.

While I like the new names better, I don't feel the need to change the my code, so the deprecation churn is slightly annoying.

[2018-09-14 15:34] pnkfelix commented on #52528
One thing I just realized: some of our bugs seem very sensitive to whether you are running under optimize or not (i.e. are you compiling the tests with `-O`).

See for example #54153

I often have `optimize-tests` set to false in my config.toml without even thinking about it, but the default is true.

(I also don't know what setting I am using that is exposing the problems that I see that are simi

[2018-09-14 15:54] euclio commented on #52417
I took a look at this, and it looks like calls to the `layout_of` query need to be associated with a span. However, I'm not familiar enough with the query system to figure out how to do that. Looks like the normalization query needs a span as well.

[2018-09-14 16:02] varkor commented on #52528
I think I've only ever tried testing these with the default optimisation mode.

[2018-09-14 16:04] pnkfelix commented on #53429
(Could this perhaps be caused by async LLVM, which may explain why it is spurious/transient? See also #49928)

[2018-09-14 16:19] alexcrichton commented on #54190
Oh dear, thanks for tracking that down @michaelwoerister! I recall that LLD worked for building MSVC binaries, but I think that must have been simple binaries, I've never bootstrapped with it. It may also be the case now that LLVM and/or link.exe has progressed to being "less buggy" so it may work for aarch64 (haven't check it recently myself)

We could perhaps as a temporary interim measure have

[2018-09-14 16:35] alexreg commented on #54184
The abstraction is already "leaky" though, in that it requires a type parameter when the concrete type does. So I either maintain the vote for my proposal, or alternative we make `error: type parameter I is part of concrete type but not used in parameter list for existential type` go away.

[2018-09-14 16:42] alexcrichton commented on #27800
FWIW https://github.com/rust-lang/rust/pull/54228 seems like a good way to proceed. I think if that's small enough we can probably just outright delete the feature, and if it's large we can do a round of messaging with a schedule to delete.

[2018-09-14 17:39] SimonSapin commented on #27800
I’m in favor of deleting eventually, but since that part of the code isn’t being actively worked on there isn’t much to gain by deleting sooner rather than later. We can keep it with a deprecation warning for a few release cycles, just in case there are users not covered by Crater to leave them some more time to migrate. (This migration took a while to land in Servo.)

I my opinion #54228 can help

[2018-09-14 17:55] oli-obk commented on #52528
I don't think I have set tests to run without optimizations

[2018-09-14 18:07] cuviper commented on #50960
FWIW, their `#[cfg(target_arch = "powerpc")]` only applies to PPC32.  PPC64 uses `target_arch = "powerpc64"`, for both big and little endian, so they've never even tried to use `getrandom`.  I just opened rust-random/rand#608 for this.

[2018-09-14 18:09] glaubitz commented on #50960
Is it actually necessary to add other architectures like sparc64 there as well? I have just skimmed over the code, so I don't know whether the syscall definitions are necessary.

[2018-09-14 18:16] #49821 closed

[2018-09-14 18:17] cuviper commented on #50960
It's not *necessary* -- `getrandom` didn't even exist until kernel 3.17, and Rust supports older targets than that.  It will fall back on `/dev/urandom` instead, keeping a static `File` open.

[2018-09-14 18:19] glaubitz commented on #50960
Right, I completely forgot about the fact that ```getrandom``` is rather new. I'll send a few PRs to amend the other architectures then.

[2018-09-14 18:33] nitingupta910 opened #54234 "Incorrect warning: type alias is never used"
With the following code, I'm getting an incorrect warning:

## cargo run
[code]

## Code
[code]

## Version
[code]

[2018-09-14 18:41] aturon commented on #53843
I've assigned @nikomatsakis and @eddyb with the hopes that we can make some progress here :-)

[2018-09-14 18:55] nikomatsakis commented on #53843
Note that this version [does compile](https://play.rust-lang.org/?gist=d424144cdec31ec0b7ec4b03776c4965&version=stable&mode=debug&edition=2015):

[code]

The only difference is that I am using `P::Target` and not `T`

[2018-09-14 18:59] aturon commented on #53843
Sounds from @cramertj that this should be enough to unblock the pin API work -- thanks @nikomatsakis!

[2018-09-14 19:03] cramertj commented on #53792
Opened https://fuchsia-review.googlesource.com/c/infra/recipes/+/196927 to take care of this on our end.

[2018-09-14 19:06] eminence commented on #26760
At a minimum, the `ambiguous associated type, specify the type using the syntax <f32 as Trait>::consts` error message is totally bogus and should be improved

[2018-09-14 19:06] eddyb commented on #54230
I'm mostly aware of the one speculative lookup I've introduced:
https://github.com/rust-lang/rust/blob/052d24e6c827577dadac28fb2b782dbe5445eab7/src/librustc_resolve/resolve_imports.rs#L169-L196

You need to set `module` to `self.resolve_crate_root(ident)` and `record_used` to `false`.

Not sure what you mean by "the names of crates in the prelude" - that's easy enough, `self.extern_prelude.contain

[2018-09-14 19:23] oconnor663 opened #54236 "Tracking issue for copy_within"
Rust PR: https://github.com/rust-lang/rust/pull/53652
Standalone implementation: https://github.com/oconnor663/copy_in_place

Summary: This is a safe wrapper around `ptr::copy`, for regions within a single slice. Previously, safe in-place copying was only available as a side effect of `Vec::drain`.

Open questions: @SimonSapin had a proposal for an alternative API using ranges. Here's an example P

[2018-09-14 19:33] steveklabnik commented on #54231
Yes, please re-file against Cargo. Thanks!

[2018-09-14 19:33] #54231 closed

[2018-09-14 19:42] michaelwoerister commented on #54190
Yeah, Windows might be a good testing ground for a new mangling scheme as there are probably fewer tools that depend on the current scheme.

[2018-09-14 19:43] michaelwoerister commented on #54190
I'll give the MSVC linker a try after the weekend.

[2018-09-14 19:44] cuviper commented on #54220
The current state of the art is to check the version in your `build.rs`, perhaps using crates like [`version_check`](https://crates.io/crates/version_check) or [`rustc_version`](https://crates.io/crates/rustc_version), then print your own `"cargo:rustc-cfg=whatever"` to use in your main sources.

The compiler could add something like you suggest, with enough ~~bikeshedding~~ design work, but then

[2018-09-14 20:27] Centril commented on #54220
This is proposed in https://github.com/rust-lang/rfcs/pull/2523.

[2018-09-14 20:29] Centril commented on #54217
Hi there; can you provide the commit hash at which this error occurred so that we can reproduce?

[2018-09-14 21:13] pietroalbini commented on #53166
FYI, seems like the [meta](https://crates.io/crates/meta) crate on crates.io is squatted.

[2018-09-14 21:17] Centril commented on #53166
@pietroalibini yup, we took that as a sign from above that we should have the `meta` crate.

[2018-09-14 21:19] alexcrichton opened #54237 "Option to disable -nodefaultlibs to the linker"
Currently the compiler unconditionally passes `-nodefaultlibs` (or the platform equivalent) to the linker. Unfortunately though this actually causes linking to fail in some circumstances. Some [investigation](https://trac.torproject.org/projects/tor/ticket/27273#comment:5) has shown that when compiled with `-fsanitize=address` this has been seen to cause problems and cause link errors.

While ther

[2018-09-14 21:55] estebank commented on #53911
I believe we can close this as is. The linked PR was all needed to satisfy the RFC as it stands.

[2018-09-14 21:55] #53911 closed

[2018-09-14 22:27] DS2DY3 opened #54238 "how can implement copy assign operator?"
I define struct(Rc<RefCell<T>>)， I want to make it as reference point which can assign copy. Because I can't make struct(Rc<RelCell<T>>) as Copy Trait, how can make it?

[2018-09-14 23:06] sfackler commented on #54238
You cannot override copy assignment.

[2018-09-14 23:12] cuviper commented on #50960
The LLVM fix is now committed.  The next step for Rust is to backport it onto [rust-lang/llvm](https://github.com/rust-lang/llvm) branch `rust-llvm-release-8-0-0-v1` in a pull request.  When that's merged, you can bump the submodule here, like I did in #54136, and mark it to fix this issue.

[2018-09-15 00:39] #53583 closed

[2018-09-15 00:46] cphoenix-google commented on #54217
Yeah, good luck reproducing it. When I deleted my out/ directory, the
problem disappeared.

On Fri, Sep 14, 2018 at 1:30 PM Mazdak Farrokhzad <notifications@github.com>
wrote:

[2018-09-15 01:06] seanmonstar opened #54239 "Using await on an internal future makes private type trigger missing_debug_implementations lint"
[code]

Playground: https://play.rust-lang.org/?gist=0baad2fb680123d124806d6269c15c43&version=nightly&mode=debug&edition=2018

The `DontLookAtMe` struct isn't public, so it normally shouldn't trigger the `missing_debug_implementations` lint. But once `await!` is used on a future that happens to be holding the field somewhere inside, it trips the lint:

[code]

[2018-09-15 02:31] #54238 closed

[2018-09-15 04:05] vkorenev opened #54242 "Compiler panics during incremental recompilation, while using an associated constant as array size"
## Code
[code]

## rustc --version --verbose

rustc 1.30.0-nightly (f2302daef 2018-09-12)
binary: rustc
commit-hash: f2302daef3608c09e2b50193a64611b18ced86f3
commit-date: 2018-09-12
host: x86_64-unknown-linux-gnu
release: 1.30.0-nightly
LLVM version: 8.0

## Stack trace

[code]

[2018-09-15 04:28] zackmdavis commented on #54204
This is covered by Clippy's [`reverse_range_loop` lint](https://rust-lang-nursery.github.io/rust-clippy/master/index.html#reverse_range_loop), which is on #53224's shortlist of Clippy lints to potentially uplift to rustc.

[2018-09-15 04:43] luqmana opened #54243 "x86_64-unknown-linux-musl target and main-returning-Result produces a dynamically-linked executable instead of a statically linked one."
I've run into this weird interaction between the musl target, diesel, returning Result from main and debug vs release mode.

The setup:

Cargo.toml:
[code]
main.rs:
[code]

Now if we take this simple innocuous looking program and try to run it:
[code]

Well, the file is definitely there but running `file` gives this:
[code]

That's odd, I would've expected a statically linked binary but file disag

[2018-09-15 04:46] zackmdavis commented on #54196
I think I'm persuaded? Here's where the lint is issued:

https://github.com/rust-lang/rust/blob/f789b6bd6dc01a4412819c0733a6c99e092446fe/src/librustc/middle/liveness.rs#L1546-L1565

We just need to change `Applicability::MachineApplicable` to `Applicability::MaybeIncorrect` to tell `cargo fix` not to auto-apply the suggestion. We have access to the HIR here, so setting the applicability conditiona

[2018-09-15 06:27] memoryruins commented on #54242
Do you experience an ICE on the latest nightly?

``rustc 1.30.0-nightly (2ab3eba30 2018-09-14)``
[code]

[2018-09-15 07:31] Garophel opened #54245 "Vec::set_len on Vec<Option<Sender<T>>> leads to SIGSEGV on drop"
### Code to reproduce this:
[code]
### gdb backtrace:
[code]
### Rustc version:
[code]
### Note:
* `Vec<Option<Box<Sender<()>>>>` does not segfault.
* `Vec<Rc<()>>` causes a segfault but it can be expected. `Vec<Option<Rc<()>>>` does not.

[2018-09-15 09:26] Centril commented on #34303
I think we can close this as it was stabilized; bugs and other things can be tracked as we usually do.

[2018-09-15 09:26] #34303 closed

[2018-09-15 09:30] Centril commented on #32837
cc @japaric is this fully done now that `#[panic_handler]` is stabilized? should we close?

[2018-09-15 09:54] nagisa opened #54246 "The help for deprecated panic_implementation attribute is bad"
[code]

Namely,

[code]

will not help at all in resolving the issue. The `help` should either not exist at all or suggest replacement to `#[panic_handler]` (moving the suggestion from the warning itself).

[2018-09-15 09:58] nagisa commented on #54214
Minified reproducer:

[code]

Compile with `rustc test.rs --crate-type=staticlib -Cpanic=abort -Clto -O`.

[2018-09-15 10:00] nagisa commented on #54214
NB: `-Clto` here is only necessary for panic machinery from `libcore` to be inlined so that LLVM can see relation between indexing and the infinite loop.

[2018-09-15 10:02] nagisa commented on #48334
Simple reproducer (compile with `rustc test.rs --crate-type=cdylib -Cpanic=abort`):

[code]

[2018-09-15 10:03] GuillaumeGomez commented on #43466
Checked the 3 of them.

[2018-09-15 10:05] Garophel commented on #54245
Okay, didn't realize it was reading uninitialized data. Thanks for pointing that out, now I have some code to fix.

[2018-09-15 10:50] varkor commented on #54246
If anyone'd like to take this on, it should be straightforward.

https://github.com/rust-lang/rust/blob/6bd2d5703d5944def902ec9dca6ea8aae07c8963/src/libsyntax/feature_gate.rs#L720-L724

I think the clearest way to address this is to modify the `Deprecated` type to have a second `Option<&'static str>` field, which is `None` if there is no suggested replacement and `Some(replacement_feature)` if the

[2018-09-15 11:33] EdorianDark commented on #44095
@kennytm So if I would open a pull request with option 3 do you think it would get merged?
Or what do you think about how to proceed next?

[2018-09-15 11:49] vityafx commented on #54220
@cuviper I know that there is a more or less hacky-way of doing this but this should be done via the compiler preprocessor things as I have written above because there must be an easy way of doing this, obviously.

[2018-09-15 11:50] petrochenkov opened #54248 "proc macro API: Making `enum Delimiter` non-exhaustive"
... with an eye on extending it with angle brackets `< TOKEN_TREES >` in the future.

Yes, `<`/`>` may be unbalanced, but I suspect that we can always consider balanced angle brackets as a group with minimal breakage (based on estimates from https://github.com/rust-lang/rust/pull/53578).

Lang team is [seriously intending](https://github.com/rust-lang/rfcs/pull/2544) to remove turbofish from value

[2018-09-15 12:00] Centril commented on #35625
This has baked for some time now and I believe it should be ready for stabilization.
So let's start the review.

@rfcbot merge

The feature gate test is here:
+ https://github.com/rust-lang/rust/blob/master/src/test/ui/feature-gates/feature-gate-macro-literal-matcher.rs

Unstable book:
+ https://github.com/rust-lang/rust/blob/master/src/doc/unstable-book/src/language-features/macro-literal-matcher

[2018-09-15 12:02] crlf0710 commented on #51910
Just encountered this, when i try to define a constant that uses `::winapi::um::winuser::IDC_ARROW` as an integer, which is defined as:

`pub const IDC_ARROW: LPCWSTR = 32512 as LPCWSTR;`

[2018-09-15 12:13] Centril commented on #41022
This has been stabilized and the reference has been amended, so this seems done.

[2018-09-15 12:13] #41022 closed

[2018-09-15 12:30] Centril commented on #42183
Closing in favor of #34511.

[2018-09-15 12:30] #42183 closed

[2018-09-15 12:35] kennytm commented on #44095
@EdorianDark For this we'll need to ask @rust-lang/libs 😃

[2018-09-15 12:46] Centril commented on #42449
Closing in favor of https://github.com/rust-lang-deprecated/rustc-serialize/issues/193.

[2018-09-15 12:46] #42449 closed

[2018-09-15 12:49] Centril commented on #41686
Triage: We still need to update the documentation.
ping @mark-i-m

[2018-09-15 12:51] Centril commented on #29628
I would like to see an RFC for getting custom errors a la https://ghc.haskell.org/trac/ghc/wiki/Proposal/CustomTypeErrors in Rust.

[2018-09-15 12:54] Centril commented on #31434
Triage: @nikomatsakis any movement here?

[2018-09-15 13:41] killercup commented on #54196
I think you are right, this is misleading in your use case. Just wondering: At which points in your workflow are you running cargo fix?

I also think this is one of the cases where we need to differentiate between "cargo fix should fix it" and "get a lightbulb with auto-fix suggestions in your editor". Just because it might be auto-fixable doesn't mean we should automatically fix it. This is a dis

[2018-09-15 13:49] mvirkkunen opened #54250 "libcore docs should mention that some atomic operations may not be available"
A number of atomic operations such as [AtomicUsize::compare_exchange](https://doc.rust-lang.org/core/sync/atomic/struct.AtomicUsize.html#method.compare_exchange) are simply missing on some platforms such as thumbv6m-none-eabi. The methods are behind this condition:

    #[cfg(target_has_atomic = "cas")]

It's understandable that these methods aren't available on platforms that don't support compar

[2018-09-15 14:08] arielb1 commented on #54059
Am looking at this.

[2018-09-15 14:40] jD91mZM2 commented on #53390
Now pushed to stable 1.29. Great.

[2018-09-15 14:42] Mark-Simulacrum commented on #53390
Cc @alexcrichton

[2018-09-15 14:43] eddyb opened #54253 "Interaction with uniform_paths canaries can hide import errors and lead to strange ICEs."
Reduced from RLS' source (on the Rust 2018 edition):
[code]

The `use std;` import is the one introducing the canaries - if it's changed to `use ::std;`, the error for `version` is emitted. With no import errors, various parts of the compiler can ICE.
(currently `attempted .def_id() on invalid def: Err`, triggered by lints trying to run on `foo::bar`)

I'll try to fix it during #54116, as it was d

[2018-09-15 15:09] Centril commented on #43034
I believe there's nothing left to do here, so closing.

[2018-09-15 15:09] #43034 closed

[2018-09-15 15:35] stjepang opened #54256 "Poor borrow checker error message"
Code:

[code]

Error:

[code]

The crux of the problem is that at line `visit(child, desc)`, `table` starts borrowing `tu` because it has type `HashMap<String, SymbolDesc<'tu>>`. This prevents `tus.push(index.parser(source).parse()?)` because it needs a mutable borrow.

I wish the error message mentioned that `table` borrows `tu` because that's far from obvious. But once you see it, it's understan

[2018-09-15 15:42] Centril commented on #44495
My preference is for making this warn-by-default since this is more a matter of style than about correctness and also because of the WIP reasoning due to @scottmcm.

This being solely about macros is no longer the case with https://github.com/rust-lang/rfcs/pull/2497:
[code]
Here `P1` could be irrefutable, but not `P0` and `P1`.
I think it makes sense stylistically for `P1` to do some irrefutable

[2018-09-15 16:04] alexcrichton commented on #53390
Ah it looks like this is a symbol conflict error:

[code]

You'll want to rename your `log` import as it conflicts with the symbol `log` in compiler-rt

[2018-09-15 16:06] Centril commented on #44495
@rfcbot merge

This was implemented in https://github.com/rust-lang/rust/pull/49469 which was merged on 2018-06-26 which was 11 weeks ago (more than enough...). I thus propose that we stabilize it with an amendment to make the default lint level `Warn` instead of `Deny` (reasons outlined in https://github.com/rust-lang/rust/issues/44495#issuecomment-421588956).

Unstable book:
+ https://github.com

[2018-09-15 16:09] jD91mZM2 commented on #53390
Oh, I see, thanks!

[2018-09-15 16:09] #53390 closed

[2018-09-15 16:12] memoryruins commented on #54256
Note for team: tried it locally; the error message is the same with and without ``#![feature(nll)]``.

[2018-09-15 16:14] Centril commented on #44662
I've marked this as due for RC2; I think we need to make `dyn<` an error per the recent discussion to keep our options open going forward.

Optionally, if it turns out to not be used anywhere (pending crater run), we can also make `dyn` a proper keyword in 2015. If not, it may be prudent to make it a keyword on 2018.

[2018-09-15 16:17] Centril commented on #53120
It appears there's a duplicate tracking issue: https://github.com/rust-lang/rust/issues/45388.
Closing that one in favor of this one.

[2018-09-15 16:17] Centril commented on #45388
This is a duplicate issue of https://github.com/rust-lang/rust/issues/53120; so I'm closing this one.

[2018-09-15 16:17] #45388 closed

[2018-09-15 16:23] RalfJung opened #54259 "`./x.py build src/rustc` does some work even when nothing changed"
To reproduce, I run `./x.py build src/rustc` twice. The second time shows this build log:
[code]
As you can see, there are some C compiler warnings shown. That seems wrong to me, because it means C code is compiled -- but nothing changed, so it shouldn't be compiled.

(The code should also ideally be warning-free, but that is a separate issue.)

[2018-09-15 16:29] memoryruins commented on #54098
cc #52613 #51251

[2018-09-15 16:34] Centril commented on #44662
Me and @eddyb discussed this briefly on Discord.
We came to the conclusion that the cleanest and most uniform way to solve this would be to make `dyn` a proper keyword on Rust 2018.

While there is a single root crate that uses this, https://crates.io/crates/goblin -- we have done 2018-only keywords for 3 other words (async, try, await), so it makes sense to do this for `dyn` as well.

So...

@rfc

[2018-09-15 16:37] Centril commented on #32837
@japaric can you raise this on internals perhaps (and close this issue after...)? I'd like to avoid reusing tracking issues and rather keep their scope tightly delimited.

[2018-09-15 16:48] estebank commented on #54204
Then we can safely close this ticket, as it will be handled by the clippy one.

[2018-09-15 16:48] #54204 closed

[2018-09-15 16:50] Manishearth commented on #44662
AIUI the language team made a decision on this specific point months ago: https://paper.dropbox.com/doc/Keyword-policy--AM1CL55t0gF_Zoh7VeYN~HXSAg-SmIMziXBzoQOEQmRgjJPm

Maybe the circumstances have changed? Back then we didn't have the implementation clarity on keyword edition hygiene we do now. Worth explicitly mentioning what has changed since then.

[2018-09-15 16:59] shepmaster commented on #51994
Code that implements this [has been merged](https://github.com/rust-lang/rust/pull/53751).

[code]

[playground](https://play.integer32.com/?gist=d64bb0c4ec68876f1ae0fc89f0950210&version=nightly&mode=debug&edition=2015)

[2018-09-15 17:01] Centril commented on #44662
@Manishearth see discussion about `dyn<'a>` above.

While we wouldn't, strictly speaking, need to make `dyn` a real keyword to enable `where dyn<'a> Fn(&'a T) -> &'a U`, it is much simpler to make it a real keyword in 2018 to handle that. (also because we are short on time...).

On sourcegraph I found one actual use of `dyn` as an identifier, so the breakage is extremely small (much smaller than `

[2018-09-15 17:05] JeanMertz commented on #42008
Seems to still be happening.

[2018-09-15 17:06] Manishearth commented on #44662
IIRC the way contextual keywords are implemented makes this not necessarily
easy to do, at least this was the case in March. So I'm not sure if "short
on time" is valid here. In March one of the concerns was implementation
complexity and it's not clear to me that has changed.

The breakage is very likely small, yeah, but is it something we can easily
implement?

On Sat, Sep 15, 2018, 10:32 PM Mazd

[2018-09-15 17:11] shepmaster commented on #20524
The original post concerned the book (now generated by mdbook), not the output of rustdoc.

A demo of rustdoc output from Rust 1.29.0:

![image](https://user-images.githubusercontent.com/174509/45588765-2061bd80-b8e8-11e8-978e-be654858b1dd.png)

Since mdbook is in a different repo, I think it's OK to close this. Ping me if you disagree!

[2018-09-15 17:11] #20524 closed

[2018-09-15 17:13] petrochenkov commented on #44662
What exactly, making `dyn` a keyword on 2018 and a context sensitive identifier on 2015?
This should be simple now after the general strategy of treating edition-specific keywords (per-span editions) is established.

[2018-09-15 17:14] arielb1 commented on #54059
Minified:

mac.rs:
[code]

use.rs:
[code]

The problem is caused by `native_libraries` containing "host" defids and being used in [trans]. I don't think that this field has any business containing *host* libraries when compiling a proc macro, but I'll ask @alexcrichton for confirmation.

[trans]: https://github.com/rust-lang/rust/blob/cba0fdf43c22795822e1d7c751a69e6c85007221/src/librustc_codegen_l

[2018-09-15 17:14] Centril commented on #44662
@varkor is looking into this :)

[2018-09-15 17:33] #53692 closed

[2018-09-15 17:43] Centril commented on #48075
I have to say I'm not super happy with the decision to do edition breakage here...
We found zero regressions for it. For the case of `if let true = p && q {..}` which also had zero regressions, we did do a in-2015 breakage, so I think the consistent thing to do would be to do this in Rust 2015 as well and thus reduce the technical debt.

[2018-09-15 17:55] arielb1 commented on #52370
Isn't this a duplicate of #49482 (and therefore, fixed on nightly)?

[2018-09-15 18:45] Kroc commented on #54206
This broke Rust-in-VSCode for me :( Surely this should have been noticed before release

[2018-09-15 18:53] scottmcm commented on #35625
Reading through the tests, I see that `-2` is a literal.

While that makes sense to me, I remember hearing that it wasn't, but was instead a negation operator and a literal.  Am I misremembering?

[2018-09-15 19:00] Bobo1239 commented on #52370
@arielb1 Yup, it's fixed.

[2018-09-15 19:00] #52370 closed

[2018-09-15 19:01] vkorenev commented on #54242
No longer occurs on `rustc 1.30.0-nightly (2ab3eba30 2018-09-14)`.

[2018-09-15 19:05] mark-i-m commented on #48075
I feel like the boat has already sailed on that. I don't really want to change the implementation again :p

[2018-09-15 19:08] mark-i-m commented on #48075
One idea might be to create a new RFC that specifies/discusses what kind of breakage is acceptable in-edition. Personally, I think the standard should be rather higher than a successful crater run + some time on nightly.

[2018-09-15 19:18] Havvy commented on #54224
[code]

[2018-09-15 19:27] leonardo-m opened #54263 "match type inference problem"
[code]

The last Nightly gives:

[code]

[2018-09-15 19:39] memoryruins commented on #54242
@RalfJung do you think #54076 helped prevent the ICE? I could be overlooking another PR that might have helped. Either way, should this example be added to the test suite?

[2018-09-15 19:49] daym commented on #54178
Fails in Rust 1.26.0, 1.27.0 and 1.27.2, too.

[2018-09-15 19:51] daym opened #54264 "rust 1.28.0 build fails - test failure"
The Rust 1.28.0 build fails in the Guix distribution. We are using quite similar build processes (using ./x.py) for each of the Rust versions, and the versions 1.23.0, 1.24.1, 1.25.0, 1.26.2, 1.27.0, 1.27.2 work fine with it, but Rust 1.28.0 fails while testing (right after rustdoc).

The build process is:

[code]

(See also https://git.savannah.gnu.org/cgit/guix.git/tree/gnu/packages/rust.scm )

[2018-09-15 19:53] daym commented on #54264
I've got extensive log files (15 MiB), if you want, I can put them somewhere.

The last few lines of the failed build are:
[code]

[2018-09-15 19:55] Centril commented on #48594
# Stabilization proposal

The feature was implemented in https://github.com/rust-lang/rust/pull/50045 by @est31 and has been in nightly since 2018-05-16 (+17 weeks) and so it has baked enough for stabilization. Furthermore, there have been no issues reported since the PR that implemented this was merged. All unresolved questions have also been resolved since, and there is strong consensus that `br

[2018-09-15 19:56] daym commented on #54264
In order to isolate the problem, I tried to run "/gnu/store/vkh0akdppdj1ddqwprx0czm6i8p158xx-rust-1.27.0-cargo/bin/cargo" "test" "--" "--test-threads=1" myself - but apparently I'm missing lots of environment variables whose values I do not know.

[2018-09-15 20:00] memoryruins commented on #54224
If we add ``#![feature(nll)]``, it compiles. [(playground)](https://play.rust-lang.org/?gist=735c1128be154aeacbe84175ea9e6e35&version=nightly&mode=debug&edition=2015)

It appears related to the issue described in #43058, which was fixed by nll.
cc @rust-lang/wg-compiler-nll is it correct to label this as NLL-fixed-by-NLL and close?

[2018-09-15 20:01] Centril commented on #48075
@mark-i-m

I can sympathize :)

The FCP was completed yes; (I wasn't on the lang team then...); so I might just have to live with this :(

An interesting thought; but sadly that would take too much time for this particular instance.

I on the other hand think that a crater run that found zero regressions makes it acceptable.

[2018-09-15 20:10] eddyb commented on #35625
cc @alexcrichton @dtolnay @petrochenkov

[2018-09-15 20:12] Centril commented on #50907
N.B: Before we stabilize this, I would like to see an RFC accepted that details and motivates (shouldn't be too hard) the changes.

[2018-09-15 20:28] Centril commented on #53125
Triage: The only thing remaining now is to update the reference / documentation.

[2018-09-15 20:33] varkor commented on #50907
in https://github.com/rust-lang/rust/pull/50912#issuecomment-393991509 it was proposed that this extension was filling in a gap in the existing exhaustiveness checks and underwent a T-lang FCP, so an RFC probably isn't necessary here.

[2018-09-15 20:34] Centril commented on #53668
Triage:
+ There isn't anything to stabilize here since we chose to implement this directly in Rust 2015+.
+ The documentation still needs to be updated before closing this issue.

[2018-09-15 20:41] Shnatsel commented on #40044
Is this still an issue on recent Rust versions?

I'm curious if there are is any performance to be gained from casing a vector into a boxed slice and working with that. It would be a fixed-size heap-allocated buffer. This would be relevant for a language RFC I'm considering proposing based on my experience with auditing unsafe Rust code.

[2018-09-15 20:45] LionNatsu commented on #50960
I sent the PR just now. It may also fix #31302 and #41253, but I don't have that permission to close them.

[2018-09-15 20:49] arielb1 commented on #53181
The LLVM fix had been merged into rustc.

@glaubitz can you confirm that nightly works for you and close this issue?

[2018-09-15 20:50] glaubitz commented on #53181
@arielb1 Yes, I'll test it now.

[2018-09-15 21:09] Centril commented on #35625
@scottmcm

I agree that it makes sense.

I would say that even if `-2` is interpreted as negation + a literal, I would probably still want the `literal` macro matcher to accept `-2` since that behavior seems more intuitive. In other words, I would see `-2` being `-(2)` more as an implementation detail than what a literal is in the mental model.

[2018-09-15 21:47] leonardo-m commented on #54263
The problem is solved putting the whole match in parentheses.

[2018-09-15 21:47] #54263 closed

[2018-09-15 22:06] glaubitz commented on #50960
Nightly is still suffering from the rand issue:

```thread 'main' panicked at 'unexpected getrandom error: Invalid argument (os error 22)', /home/glaubitz/.cargo/registry/src/github.com-1ecc6299db9ec823/rand-0.4.2/src/os.rs:130:21```

I have to fix that manually first and then re-try.

[2018-09-15 22:14] #54006 closed

[2018-09-15 22:14] #54253 closed

[2018-09-15 22:28] GuillaumeGomez commented on #54191
The resolution failure is expected (should have been `foo::bar`) however, no warning is strange. I think it considers it as a path (as in a url) because of the `.`.

[2018-09-15 22:38] eddyb commented on #50363
Reopening because I had to revert #53527 to land edition-critical #54116.

[2018-09-15 23:38] kpcyrd opened #54267 "mpsc::Receiver::recv_timeout may panic in weird edgecase"
## Description

I'm currently stuck in a very obscure edgecase: the first recv_timeout panics the program with an assertion fail if no message is received until the timeout. If a message is sent before this timeout the program won't crash, even if the 2nd call to recv_timeout does hit the timeout:

## This does work
1. recv_timeout(100ms) // message is sent within that time
2. message is processed

[2018-09-15 23:49] nagisa opened #54268 "Make codegen tests more general"
Currently our codegen tests are limited to testing the LLVM-IR and are limited to one filecheck invocation. This, among other things, means that the tests must be written in a way that does not have platform-specific features or are forced to ignore many/all of the platforms.

LLVM test runner understands commands specified as such:

[code]

which allows not only testing multiple variants with a s

[2018-09-16 00:47] Centril commented on #50907
@varkor So, I had not read [#50912 (comment)](https://github.com/rust-lang/rust/pull/50912#issuecomment-393991509). However, I do not view exhaustive integer matching as a bugfix or a trivial change. The feature was seen an addition to the language (as opposed to bug-fixes) in previous RFCs and were postponed then since they were not a priority leading up to 1.0. @nikomatsakis said as much in thei

[2018-09-16 02:06] clarcharr commented on #35625
I think that the nuance with `-2` causes a bit of a problem, because I don't think it should be treated as a literal, but I also don't think that the current implementation of `literal` would allow detecting it either. You could naïvely allow `$(-)?$lit:literal`but that would allow `-"hello"` which is clearly wrong.

[2018-09-16 02:56] kpcyrd commented on #54267
This got more interesting, I've moved all the code that was running inside the worker thread into a child process and implemented ipc over stdio using serde_json, yet the parent is still dying with the same assertion fail. As far as I can tell there is no unsafe code running after calling `mpsc::channel` which would rule out the theory of an out-of-bound write in a dependency that could interfere

[2018-09-16 05:14] eddyb commented on #54175
I should've tried to avoid `impl Trait` - AFAICT, it's irrelevant here, the compiler is just having a hard time dealing with the body of the function.

For the record, our workaround is using one big generator with many nested `for` loops, instead of nested iterator adaptors (see https://github.com/lykenware/gll/pull/47).

[2018-09-16 06:54] da-x commented on #35625
@clarcharr there are tests currently implemented that verify that `-2` is detected as a literal.

[2018-09-16 07:53] milesand commented on #48320
I'm sorry, it's been a while.

While this feature hasn't received much feedback by itself, but with already-stable similar functionalities present, I think this feature can be stabilized as-is.

I'm not familiar with the stabilization process though. What should I do here?

[2018-09-16 09:27] pietroalbini commented on #54206
cc @rust-lang/infra @rust-lang/release @rust-lang/dev-tools

[2018-09-16 11:06] drager opened #54272 "Compiler panic on on_disk_cache"
Hey,

I stumbled upon some an error while trying to run my code using `cargo run` (running `cargo check` works just fine). My code that errors can be found here: https://github.com/drager/handle/tree/with-handle3. The `master-bug` branch works fine however and can be run without errors: https://github.com/drager/handle/tree/master-bug

**Other information**
Installed Rust via rustup
OS: Arch Linux

[2018-09-16 12:06] drager commented on #54272
If I clone the [with_handle3 branch](https://github.com/drager/handle/tree/with-handle3) into a new folder and run `cargo run` I don't get the error.

[2018-09-16 12:13] #54133 closed

[2018-09-16 12:54] SimonSapin commented on #27800
Crater has found three regressions. One spurious, one that I submitted a PR to fix, and one in a benchmark measuring specifically the performance of the `select!` macro: https://github.com/rust-lang/rust/pull/54228#issuecomment-421759312

So let’s formally propose:

* Emit a deprecation warning for usage of this feature
* Wait for a few release cycles for remaining users to have an opportunity to

[2018-09-16 13:35] SimonSapin commented on #44095
I personally like option 2, with `RangeInclusive` only. As mentioned "partial clamping" already exist with `min` and `max`.

[2018-09-16 13:39] mark-i-m commented on #48075
I meant an RFC for setting a general bar for this sort of in-edition breakage.

[2018-09-16 13:47] Mark-Simulacrum commented on #54206
Unfortunately I think we didn't notice this and I'm not sure if the fix is easy. @nrc is I think the primary point of contact for RLS, though.

[2018-09-16 13:59] Kixunil commented on #49137
That makes a lot more sense to me now, thanks for explaining!

[2018-09-16 14:00] eddyb opened #54274 "Each call of tcx.{declared_,explicit_,}predicates_of clones the GenericPredicate struct, which includes a Vec."
Did we forget to intern/`Rc` it? cc @nikomatsakis @arielb1 @nnethercote

[2018-09-16 14:09] bjorn3 opened #54275 "Rustc internal documentation 404"
https://doc.rust-lang.org/nightly/nightly-rustc/rustc

![screenshot_2018-09-16 not found](https://user-images.githubusercontent.com/17426603/45597326-cc7bd500-b9ca-11e8-9f24-d7d1a4e7a130.png)

[2018-09-16 14:16] Mark-Simulacrum commented on #54275
Working on fixing this.

[2018-09-16 14:26] bjorn3 commented on #54275
I believe you are in the middle of uploading it :)

![screenshot_2018-09-16 rustc - rust](https://user-images.githubusercontent.com/17426603/45597469-39906a00-b9cd-11e8-8703-279d8c889429.png)

[2018-09-16 14:26] pietroalbini commented on #54206
We should probably have some checks on RCS to prevent publishing a beta/stable without tools though, at least for tier 1 platforms.

[2018-09-16 14:33] Mark-Simulacrum commented on #54275
I believe rustc docs should be completely ready now.

[2018-09-16 14:33] #54275 closed

[2018-09-16 14:38] Mark-Simulacrum commented on #54206
Yes; toolstate is intended to be that check but it doesn't track windows-gnu today. I'm not actually sure why, cc @kennytm

[2018-09-16 14:45] bjorn3 commented on #54275
Confirmed. Thanks for the quick fix!

[2018-09-16 14:48] pietroalbini commented on #54206
I don't think we use toolstate for macOS either.

[2018-09-16 15:00] steveklabnik commented on #53125
* Book: https://github.com/rust-lang/book/issues/1280
* Reference: https://github.com/rust-lang-nursery/reference/issues/291
* RBE: https://github.com/rust-lang/rust-by-example/issues/1050

Done!

[2018-09-16 15:00] steveklabnik commented on #53125
Oops, mis-read. This is ready to stabilize.

[2018-09-16 15:02] kennytm commented on #54206
@Mark-Simulacrum toolstate never checked the content of the dist builds, it only records the test result of the `./x.py test` jobs on Linux-GNU and Windows-MSVC.

[2018-09-16 15:04] steveklabnik commented on #40044
This is what I get:

[code]

Looks generally indistinguishable, though the repo apparently has other architectures and such.

@supercurio what do you think?

[2018-09-16 15:06] Mark-Simulacrum commented on #54206
@kennytm Is there a reason we're limited to just those platforms, though? Can we expand that to include all tier-1 platforms?

[2018-09-16 15:08] pietroalbini commented on #54206
I'd also add a check on RCS anyway, to make sure we're shipping all the components.

[2018-09-16 15:32] kpcyrd commented on #39364
It seems https://github.com/rust-lang/rust/issues/54267 is the same issue @DenisKolodin describes. I'm hitting this bug using the channel from `mpsc::channel()` and then running `recv_timeout` on it without doing anything unusual.

What's interesting: it seems I'm able to work around this bug by making sure the first call to `recv_timeout` doesn't time out by sending a dummy message directly after

[2018-09-16 16:22] mvirkkunen opened #54276 "compare_exchange_weak on AtomicUsize etc has inconsistent cfg-gating"
Compare-and-swap methods on the atomic types in `core::sync::atomic` seem to be gated by [`#[cfg(target_has_atomic = "cas")]`](https://github.com/rust-lang/rust/blob/0338d340c4ad64dde20dfa5ab8b983861e58c631/src/libcore/sync/atomic.rs#L1383) to only define them on targets that support CAS in hardware. However [`compare_exchange_weak`](https://github.com/rust-lang/rust/blob/0338d340c4ad64dde20dfa5ab

[2018-09-16 16:39] kennytm commented on #54206
@Mark-Simulacrum it was not a requested feature 😅. I don't think our CI budget allows testing the tools on all tier-1 platforms, but we could certainly modify rustbuild to fail if RLS/Clippy etc cannot be built on beta and stable.

[2018-09-16 16:41] RalfJung commented on #54242
Uh, no idea. I would be rather surprised. But yeah it seems prudent to add this as a test-case.

Though, should this really be a cycle? `C` does not actually depend on `Arr`. Cc @eddyb @oli-obk

[2018-09-16 16:56] Mark-Simulacrum commented on #54206
Hm, well, presumably we do (attempt) to build them so we could at least have that state recorded in toolstate, right?

[2018-09-16 17:08] memoryruins commented on #54242
The same cycle detected error occurs on current stable as well.
``rust version 1.29.0 (aa3ca1994 2018-09-11)``

[2018-09-16 17:47] clarcharr commented on #35625
I worded that wrong; I meant that only having a `literal` matcher and not being able to distinguish strings and numbers means that you can't easily make `-2` *not* a literal.

[2018-09-16 17:58] eddyb commented on #54242
I guess this *should* work, given that `Self::C` is `<str as Tr>::C` and so shouldn't fall under #43408.

cc @nikomatsakis

[2018-09-16 18:03] #53812 closed

[2018-09-16 18:03] #54109 closed

[2018-09-16 18:06] memoryruins commented on #54242
In hindsight, I should have done this originally. Tried ``1.30.0-nightly (f2302daef 2018-09-12)`` from the original post on Linux and Windows, but I was unable to recreate the ICE. @vkorenev did you experience it in a new/clean project or pre-existing project?

[2018-09-16 19:06] davidtwco commented on #54230
Between starting to look at this and now, I've noticed that the error has changed to:

[code]

[2018-09-16 19:54] Kerollmops opened #54279 "Tracking issue for `slice::partition_dedup/by/by_key`"
Add three methods to the `slice` type, the `partition_dedup`, `partition_dedup_by` and `partition_dedup_by_key`. The two other methods are based on `slice::partition_dedup_by`.

- [x] Implement the feature as a PR (#54058)
- [ ]  Stabilization PR ([see instructions on forge](https://forge.rust-lang.org/stabilization-guide.html))

[2018-09-16 20:36] oli-obk commented on #51999
Yes

[2018-09-16 22:14] varkor commented on #54246
@snaedis: great! Feel free to ask here if you need any help with the fix!

[2018-09-16 22:46] varkor commented on #34447
Also `partition_dedup_by_cached_key` (https://github.com/rust-lang/rust/issues/54279), though this might be a bit niche.

[2018-09-16 22:48] rodrimati1992 commented on #51443
I have an extension trait that i want to be usable with ?Sized types (including str) where this is causing a problem.

This is the reduced version of the trait:
[code]

[2018-09-16 23:33] oberien commented on #39364
As you seem to have investigated the issue quite a lot, you might be interested in my technical summary here (<https://github.com/rust-lang/rust/issues/39364#issuecomment-381446873>) if you haven't seen that already.

My guess why you can work around the issue by sending a message is that `Oneshot` is upgraded to `Stream` once the second message is sent. By sending (and receiving) a message at the

[2018-09-16 23:43] stjepang commented on #34447
@varkor Can't we just cache the key for the last visited element in `is_sorted_by_key` and the last unique element in `partition_dedup_by_key`?

[2018-09-17 00:00] varkor commented on #34447
Yes, there's so little key recalculation in the two methods that there's probably no need for specific cached methods. I'll admit I hadn't thought too much about them when I referenced them here: I was just making a quick note to remind myself later! You're right, though!

[2018-09-17 00:37] Mark-Simulacrum opened #54282 "Only first cap-lints argument is used"
`rustc --cap-lints=warn --cap-lints=foo` should give an error on the invalid "foo" passed, but currently this does nothing.

It is not completely clear what exact behavior we want on `--cap-lints=allow --cap-lints=forbid` for example, though.

Currently this means that there's no way to override Cargo's default behavior on dependencies via RUSTFLAGS, for example.

[2018-09-17 02:15] kennytm commented on #54206
@Mark-Simulacrum we could; nowadays the effort would be duplicating https://mexus.github.io/rustup-components-history/ though.

[2018-09-17 03:00] jminer commented on #44095
I agree with @SimonSapin, although I would also be OK with option 1. With option 3, I likely wouldn't use the function because it seems backwards to me. In the other languages/libraries with clamp that @kennytm [surveyed earlier](https://github.com/rust-lang/rfcs/pull/1961#issuecomment-289893089), 5 out of 7 (all but Swift and Qt) have the value first, then the range.

[2018-09-17 03:52] kzys commented on #53812
It has been fixed on nightly. The fix will come to stable eventually.
https://doc.rust-lang.org/nightly/std/iter/trait.IntoIterator.html#implementors

[2018-09-17 05:49] levex commented on #54130
I am unable to reproduce this issue:

[code]

Later versions, including the `master` branch, seem to exhibit the same behavior that `nightly-2018-09-09` did.

Is there something that I'm missing?

[2018-09-17 05:56] scottmcm commented on #48453
This stabilization happened; closing.

[2018-09-17 05:56] #48453 closed

[2018-09-17 06:03] scottmcm opened #54283 "Stability checker prevents return-position impl trait in the standard library"
Previously hit here: https://github.com/rust-lang/rust/pull/52896#issuecomment-409149134 (thanks, eddyb)

The way I hit this in a change I was trying:
[code]

Instructions from oli-obk in https://github.com/rust-lang/rust/pull/52896#issuecomment-409560629 :

https://github.com/rust-lang/rust/blob/a2af8667b1a5166137510aeb2aaad9945f81db6d/src/librustc/middle/stability.rs#L356

[2018-09-17 06:15] hellow554 opened #54284 "Suggest move on closures"
[code]

([Playground](https://play.rust-lang.org/?gist=32c45b5f6c2d71cc7beca9a1e355d06c&version=nightly&mode=debug&edition=2015))

Errors:

[code]

The solution for this is

        let a = (0..255).flat_map(|x| (0..255).map(move |y| (x, y))).collect::<Vec<_>>();

(`move` before the second closure).

I would like to see a hint for this, because in this case `x` is trivial copyable. I think, there

[2018-09-17 06:18] hellow554 commented on #54283
Your bash seems to use some fancy-dancy colors. Sadly github does not support control-sequences. Can you please edit your post and remove them? :)

[2018-09-17 07:39] scottmcm commented on #54283
@hellow554 Sadly that's what I literally get on windows these days, from x.py:

![image](https://user-images.githubusercontent.com/18526288/45610773-fdcbc380-ba11-11e8-97c3-20406fadf62d.png)

[2018-09-17 08:32] Kerollmops opened #54285 "Allow the `Iterator::partition` method to collect in two different collections"
The current `Iterator::partition` signature look like this:

[code]

Which force the user to collect in two collections of the same type for the two different "sides".

A partition method with a signature like the following, allow more flexibility, allowing to specify the two collections independently.

[code]

This is something that could not be changed in a snap of a finger, this is not backward

[2018-09-17 08:46] pnkfelix commented on #54222
I've confirmed that I've seen the warning issued on both Linux and OS X.

[2018-09-17 08:48] mati865 commented on #54206
@alexcrichton recently changed build system for `curl-sys`
 and pthread seems not be linked anymore:
[code]
Full error is [here](https://gist.github.com/mati865/c62764d71ec5f12ebc79e5fb83065260)

[2018-09-17 08:52] pnkfelix commented on #49013
Odd, we have it marked as `no_mangle` here:

https://github.com/rust-lang/rust/blob/0b0d2edf79ceb3ab6dce1dcba9297af038fd6f0c/src/libstd/panicking.rs#L519-L522

[2018-09-17 08:59] #54122 closed

[2018-09-17 09:11] michaelwoerister commented on #53792
Yes, you are certainly right there. If we can find a way of integrating this into the build system in a way that doesn't keep breaking, I'd be happy to switch to this behavior.

[2018-09-17 09:34] nnethercote commented on #52028
#54286 is the next step. Once that lands, I will file a PR for using `HybridBitSet` within `SparseBitMatrix`. I have it working locally and the memory improvements are sizeable:
[code]

[2018-09-17 09:37] pnkfelix opened #54287 "Deriving tests in run-pass-fulldeps/ may need porting to rustc_serialize."
There are a collection of tests in src/test/run-pass-fulldeps that are exercising `#[derive(Decodable)]` and `#[derive(Encodable)]`.

However, the compiler is warning that these derives are deprecated, and that one should use `derive(RustcDecodable)` and `derive(RustcEncodable)`. (And as far as I can tell, one cannot silence the warning away via `#[allow(..)]`.

But that switch is not as trivial a

[2018-09-17 09:38] pnkfelix commented on #54287
Oh, I think they're already doing `extern crate serialize;`, so maybe this will be just a matter of changing those to `extern crate rustc_serialize as serialize;`

[2018-09-17 09:45] gnzlbg commented on #44581
The current documentation in the cargo book (https://doc.rust-lang.org/beta/cargo/reference/unstable.html#edition) says that

But we are having problems in `packed_simd` about this because the latest nightly says (https://github.com/rust-lang-nursery/packed_simd/issues/174#issuecomment-421945729):

[2018-09-17 10:12] pnkfelix opened #54288 "unused_must_use lint after `write!` fails to note its origin"
Consider the following code ([play](https://play.rust-lang.org/?gist=411e153d8d1bc1a04a7538575aa02d31&version=nightly&mode=debug&edition=2015)):

[code]

It generates the following warning:

[code]

which is *almost*, but not quite, what I expect to see.

Namely, I expect to see this:

[code]

which includes the useful `note: #[warn(unused_must_use)] on by default`

As far as I can tell, the choic

[2018-09-17 10:43] Pauan opened #54289 "ICE with async_await + extern crate + invalid import"
`Cargo.toml`:

[code]

`main.rs`:

[code]

When running `cargo build --verbose` I get this ICE:

[code]

## Meta

`rustc --version --verbose`:

[code]

[2018-09-17 10:53] michaelwoerister commented on #53792
Maybe someone from @rust-lang/infra has a good idea how to implement this in bootstrap: What we need is some kind of hash of the compiler's behavior. That could be a hash of its binaries, or it could be a hash of all the files and settings that went into compiling it. We would want to hard-code this hash somewhere, probably into the `rustc` executable. That way all the dylibs could be built (so we

[2018-09-17 10:55] FelixMcFelix commented on #53920
Does the issue persist on nightly?

[2018-09-17 10:59] michaelwoerister commented on #54190
So it seems that MSVC has received some Aarch64 fixes meanwhile: When using `link.exe` instead of LLD, the dots in the symbols don't seem to pose a problem. Instead the build fails with the following error:
[code]

This is the same error I get when compiling with LLD and a `rustc` with a fix for the symbol name issue.

[2018-09-17 11:29] csmoe commented on #37892
cc https://github.com/rust-lang/rust/pull/47574
current error message:
error[E0401]: can't use type parameters from outer function
 --> src/main.rs:6:19
  |
4 | impl Foo {
  | ---- `Self` type implicitly declared here, by this `impl`
5 |     fn method<T>(&self) {
6 |         type X = (Self, T);
  |                   ^^^^
  |                   |
  |                   use of type variable from outer

[2018-09-17 11:30] retep007 commented on #53468
I've managed to minimize code even further.
The problem is const fn as mentioned earlier. You can use this [repo](https://github.com/retep007/rust-ICE-monomorphization-const-fn) to reproduce. Just compile *b*. This bug still occurs in `rustc 1.30.0-nightly (cb6d2dfa8 2018-09-16)`

[2018-09-17 11:54] pnkfelix commented on #53528
Actually, lets nominate this and talk about it as a team; namely, this is the only follow-up question:

and if we *are* interested in investigating such an extension to NLL, we should open a dedicated issue to it rather than piggy-backing.

[2018-09-17 12:07] chris-morgan commented on #51443
On the AnyMap case: it’s substantially the same as what @alecmocatta is reporting. This lint causes trouble with auto traits.

`core::any::Any` has the ability to be `Any + Send`, and `Any + Send + Sync`, and that’s OK because it doesn’t need any support inside the trait object for code specific to Send and/or Sync functionality—just an `impl Any + Send` block.

AnyMap has an extension of that, a

[2018-09-17 12:39] alecmocatta commented on #51443
This is effectively what's done by the stdlib here:

https://github.com/rust-lang/rust/blob/f1aefb48d2ec7ac38a66c964396a5aec729b7a28/src/liballoc/boxed.rs#L455-L517

[2018-09-17 12:44] leodasvacas commented on #51443
This is true, this lint can be tweaked to not fire if the bounds are all auto traits.

[2018-09-17 12:57] orium commented on #53097
I have a fix for this.  Just needs some small changes and then I will open a PR.

[2018-09-17 13:00] michaelwoerister opened #54291 "Aarch64-Windows: Cannot build libcore with exception handling enabled"
Trying to cross-compile libcore for `aarch64-pc-windows-msvc` fails with (see also https://github.com/rust-lang/rust/issues/54190#issuecomment-421968456):

[code]

(Note, one has to use `link.exe` instead of LLD as the linker (see #54290) in order to get that far.)

The underlying problem is (probably) that `aarch64-pc-windows-msvc` defaults to `panic_abort`, while `libstd` is unconditionally comp

[2018-09-17 13:16] eddyb commented on #54289
Try updating, this looks like #54253, which was fixed in yesterday's nightly.

[2018-09-17 13:37] Pauan commented on #54289
@eddyb Yup! Nice work, with `rustc 1.30.0-nightly (cb6d2dfa8 2018-09-16)` I get this (correct) error:

[code]

[2018-09-17 13:37] #54289 closed

[2018-09-17 14:25] aep opened #54294 "SEGV in unix::stack_overflow::signal_handler"
with --target arm-unknown-linux-musleabi i get a SEGV in env_logger::Format::into_boxed_fn::_$u7b$$u7b$closure$u7d$$u7d$::ha67fa042fe85d5e5 which contains no unsafe code

https://github.com/sebasmagri/env_logger/issues/106

but i suspect its actually crashing in unix::stack_overflow::signal_handler according to this qemu cpu trace

https://gist.github.com/4b83c01143f582e95c77a526710f18e3

this onl

[2018-09-17 14:36] eddyb commented on #54175
I just tested this and it seems to work really well, until it hits the recursion limit:
[code]
So a `for_each` ("internal iteration") solution (with many nested closures) should work much better than one based on `Iterator` ("external iteration") adapters  (with many of them nested in types).

[2018-09-17 14:49] Kerollmops commented on #34447
`partition_dedup_by_cached_key` could make the difference when you have extensive key computation. For example you will have to compute, for 100 elements that are the same, 200 times the same keys and only 101 times for the cached version, according to the current algorithm that compute the key which computes the first key two times.

There is something we must be careful with, the current functio

[2018-09-17 14:54] pietroalbini commented on #45829
This also happens with `use`s: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015))

[code]

[2018-09-17 14:56] ehuss commented on #44581
@gnzlbg The edition field has been stabilized on nightly. Check the nightly documentation for the most up-to-date information: https://doc.rust-lang.org/nightly/cargo/reference/manifest.html#the-edition-field-optional

[2018-09-17 14:57] Lymia opened #54296 "Trait resolution in associated types depends on ordering of traits in bounds."
[The following code](https://play.rust-lang.org/?gist=accaf19c611e4c88c0fb590161e66cb5&version=stable&mode=debug&edition=2015) fails to compile:

[code]

It gives this error:

[code]

This error is cleared if the declaration order of the two `Shl` bounds is reversed, as in [the following code](https://play.rust-lang.org/?gist=bf2dc4b7a4870ecb618bf8c6360ac651&version=stable&mode=debug&edition=2015)

[2018-09-17 15:12] zackmdavis commented on #54288
(The deduplication is done by checking a [`one_time_diagnostics`](https://github.com/rust-lang/rust/blob/f1aefb48d2ec7ac38a66c964396a5aec729b7a28/src/librustc/session/mod.rs#L87-L90) field on the `Session` that gets populated by [appropriate methods](https://github.com/rust-lang/rust/blob/f1aefb48d2ec7ac38a66c964396a5aec729b7a28/src/librustc/lint/mod.rs#L551-L555).)

[2018-09-17 15:13] nikomatsakis commented on #54230
@davidtwco hmm, yeah, there is technically ambiguity here I guess, in that one could write with `use self` or `use crate`. I don't know which would be considered "more idiomatic" -- I lean towards absolute paths myself, but I'm sure opinions will vary. =)

e.g., if one is doing something like this, then surely you want `use self::`..

[code]

[2018-09-17 15:18] retep998 opened #54297 "Cannot create rlibs when run in sandboxie"
`rustc main.rs` where the crate type is bin works just fine.
`rustc lib.rs` where the crate type is rlib fails with this error:
[code]

Given the importance of sandboxing when building and testing random code off the internet, we should really try our best to support sandboxie.

[2018-09-17 15:22] Centril commented on #54217
seems plausible given that the ICE vanished when `out/` was removed.

[2018-09-17 16:12] alexcrichton commented on #54190
Hm that error is... curious! That shouldn't happen because we're compiling everything with `-C panic=abort` because that's the default panic strategy (as specified in the custom target spec).

For example wasm defaults to panic=abort and doesn't hit an error like that when bootstrapping. Thinking about this though... that may be related to dynamic libraries. None of our other panic=abort-by-defaul

[2018-09-17 16:15] alexcrichton commented on #53792
Cargo unfortunately doesn't support that sort of execution model, but one thing we could do is have the build system hash `config.toml` perhaps? (or hash its own internal `Config` structure) and then pass that down as an env var? It may be enough to salt a hash at least perhaps.

[2018-09-17 16:20] cuviper commented on #50960
@glaubitz, rand was fixed in 0.4.3, and the compiler has been updated to that since #53567.  But you appear to have something of your own built with 0.4.2, since the path is under your `~/.cargo/`.  In that case, that program will have the wrong `NR_getrandom` regardless of the compiler.

[2018-09-17 16:32] snaedis commented on #54246
@varkor first stab is ready; feedback would be much appreciated!

[2018-09-17 16:41] V1shvesh commented on #54197
Can I help with this issue?

[2018-09-17 16:42] arielb1 commented on #54094
The fn_sig function on fn item types is returning unnormalized types directly from the tcx.

Defined in https://github.com/rust-lang/rust/blob/f1aefb48d2ec7ac38a66c964396a5aec729b7a28/src/librustc/ty/sty.rs#L1739-L1747

The relevant call-site is at
https://github.com/rust-lang/rust/blob/f1aefb48d2ec7ac38a66c964396a5aec729b7a28/src/librustc_typeck/check/cast.rs#L432-L443

[2018-09-17 16:44] SimonSapin commented on #53668
As discussed in https://github.com/rust-lang/rfcs/pull/2544, I feel very uncomfortable with making breaking parser changes for existing code. I’d much prefer this only applied in Rust 2018.

[2018-09-17 16:50] sfackler commented on #54294
The signal handler doesn't log, so I the env_logger symbol may be a red herring.

[2018-09-17 16:50] alexcrichton commented on #54206
Ok so as to what the underlying technical problem is here, thanks @mati865 for the ping and the error message. The RLS is failing to build on rustc 1.29.0+ because of the `curl-sys`. It looks like it's failing to link the RLS due to the missing `pthread_*` symbols. Cargo, which also depends on `curl-sys`, is somehow miraculously linking correctly. I'm not gonna dig into this though as `curl-sys` s

[2018-09-17 16:54] alexcrichton commented on #54206
I've opened https://github.com/rust-lang/rust/pull/54301 to update the `curl-sys` crate on our nightly builds and see how that goes, which should hopefully fix this on nightly.

[2018-09-17 16:58] aep commented on #54294
This is happening when log is called from somewhere else. Maybe env_logger::Format::into_boxed_fn is actually crashing, which triggers the signal handler? I don't quite understand what the handler actually does.

btw also only happens in --release mode. debug is fine.

- release
- arm
- musleabi

any more debug info i can obtain to help figure this out?

[2018-09-17 17:08] dtolnay opened #54302 "Trait with HRTB blanket impl is implemented when it shouldn't be"
[code]

This is a regression between rustc 1.20.0 and 1.21.0.

1.20 correctly rejects this code with the following error.

[code]

[2018-09-17 17:16] dtolnay commented on #54302
Tagging P-high because this very much affects Serde. @rust-lang/compiler

[code]

[2018-09-17 17:20] glaubitz commented on #50960
@cuviper Yes, for some reason it took ```rand``` from my home directory instead of the vendored one, despite the fact I downloaded a full nightly tarball and cross-built that on x86_64. Will try that again later today.

[2018-09-17 17:27] estebank commented on #54302
Even better, [enabling NLL causes an ICE](https://play.rust-lang.org/?gist=70868bff5b1058503bd54b761fe03db8&version=nightly&mode=debug&edition=2015):

[code]

[2018-09-17 17:39] mystor opened #54303 "Expose `proc_macro::__internal::in_sess` in some manner"
Currently to detect whether or not the native `proc_macro` APIs can be used, `proc_macro2` tries to parse, and catches a panic. This isn't the best way to handle it, and involves racy work such as replacing the panic hook to silence the panic logging within the compiler.

It'd be nice to expose the `in_sess` method (https://github.com/rust-lang/rust/blob/b7c6e8f1805cd8a4b0a1c1f22f17a89e9e2cea23/sr

[2018-09-17 17:54] RalfJung commented on #52898
Related to the discussion above is [my blog post on safety and validity invariants in Rust](https://internals.rust-lang.org/t/two-kinds-of-invariants/8264/).

[2018-09-17 17:57] haxxpop commented on #34409
Any guide how to recompile libcore with ` -C panic=abort` ?

[2018-09-17 18:02] cuviper commented on #50960
There is `configure --enable-vendor` for that, or `[build] vendor = true` directly in `config.toml`.  But even if you don't use the vendored sources, `src/Cargo.lock` should still direct you to rand 0.4.3.

Maybe it's actually the rustup shim getting in your way?  If you also compiled that yourself, it looks like they're still locked on 0.4.2:
https://github.com/rust-lang-nursery/rustup.rs/blob/c3

[2018-09-17 18:04] glaubitz commented on #50960
No, I've never used ```rustup```. But I'll make sure ```--enable-vendor``` is set.

[2018-09-17 18:51] matthiaskrgr opened #54304 "ICE with -Z nll-facts on rustc-ap-serialize"
`rustc 1.30.0-nightly (cb6d2dfa8 2018-09-16)`
[code]
[code]

[2018-09-17 19:10] cramertj opened #54305 "Illegal Instruction Promoting const panic!"
[Playground link](https://play.rust-lang.org/?gist=fbb623a0c1b4a200a1567b40b8673756&version=nightly&mode=debug&edition=2015)
[code]

causes an illegal hardware instruction. cc @oli-obk

[2018-09-17 19:15] OvermindDL1 commented on #54305
In debug mode, release mode, or both?  I've seen this happen in release mode because it's undefined behaviour so an optimization pass kills it.

[2018-09-17 19:28] matthiaskrgr commented on #54305
According to the playground it happens for both, release and debug.

[2018-09-17 19:36] pnkfelix commented on #52059
Okay I think I have a patch to fix this. And it seems like it improves some of our other diagnostics elsewhere. Will post PR soonish.

[2018-09-17 19:44] Centril commented on #54285
If we could write something like:

[code]

then we could do this fully backwards compatibly.

Unfortunately we don't have that ability yet.

[2018-09-17 19:46] xd009642 commented on #38356
So I'm interesting in helping to stabilise the methods in Span and the LineColumn struct. I'll look at the open issues in the first comment, but if anyone wants to point a newbie to the compiler in a particular direction I'd appreciate it :+1:

[2018-09-17 19:47] matthewjasper commented on #54304
Duplicate of #54212

[2018-09-17 19:47] #54304 closed

[2018-09-17 19:48] Centril opened #54306 "Tracking issue for RFC 2361, "Simpler alternative dbg!() macro""
This is a tracking issue for the RFC "Simpler alternative `dbg!()` macro" (rust-lang/rfcs#2361).

**Steps:**

- [x] Implement the RFC: https://github.com/rust-lang/rust/pull/54317
- [x] Adjust documentation ([see instructions on forge][doc-guide])
- [x] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge.rust-lang.org/stabilization-guide.html
[

[2018-09-17 19:48] Centril commented on #54306
I am working on this :)

[2018-09-17 20:08] matthiaskrgr commented on #54304
Ah, interesting. I only searched for tickets with `-Z nll-facts` and couldn't find anything related.

[2018-09-17 20:10] alexcrichton commented on #54248
Changing the stable API now that it's shipped is a non-starter, and unfortunately I don't know how we could retroactively add this.

[2018-09-17 20:17] estebank commented on #52663
I believe that test can be removed outright. It'd be impossible for a new change to go through that breaks this kind of output without it being picked up by multiple other `stderr` tests. This is an artifact of the transition period to the "new" output style.

[2018-09-17 20:18] cwndrws opened #54307 "1.29 no longer builds projects on arm64"
Building the "Hello world" project on arm64 fails on 1.29 with the following error:
[code]
This is on emulated arm64 using qemu-user inside of a docker container.

I build an internal package for every new version of Rust and part of the package build is to run a quick check to compile the project that results from running `cargo new --bin proj`. This worked fine for arm64 on 1.28, but fails on 1.

[2018-09-17 20:26] QuietMisdreavus commented on #52623
@Munksgaard Still want to work on this? Since it's an edition feature i'd like to get it in soon-ish so we can get some eyes on it.

[2018-09-17 20:32] Mark-Simulacrum commented on #54282
I believe the behavior we determined is that the first one is -- using the last one feels like 'the right thing' but I'm not sure it's feasible to make that change very well.

[2018-09-17 20:35] japaric commented on #54135
In my experience, which pretty much only involves ELF objects, whenever I use
`#[no_mangle]` or `#[export_name]` I **always** want global / external
visibility.

---

Some info about my use case:

I always pair `EXTERN` with `#[export_name]` / `#[no_mangle]`. I use `EXTERN` to
force the linker to exhaustively search for a symbol in the input object files.
`EXTERN` also forces the linker to keep th

[2018-09-17 20:35] cuviper commented on #54307
FWIW, it does work for me on native aarch64.

Do you have the "missing" library in `lib/librustc_driver-329ba9d6c8478143.so`?

[2018-09-17 20:43] petrochenkov commented on #54248
I guess, as a last resort we can
- Keep the true delimiter internally in `Group`
- Report `Delimiter::None` in `fn delimiter` if the true delimiter is angle brackets.
- Add `Group::delim_is_angle_bracket`, or `enum Delimiter2` + `Group::delimiter2`.
- Paper all this over in proc-macro2 and friends.

[2018-09-17 20:44] cwndrws commented on #54307
@cuviper I updated the title of the issue to reflect that it only affects emulated arm64. Still trying to get a hold of a native arm box to test on.

Yes, that library is there:

[code]

[2018-09-17 20:47] dtolnay commented on #54248
If the intention is to make parsing easier, that doesn't require `<`...`>` to be a delimiter. For example representing it as a None-delimited group inside of which the first and last token are `<` and `>` would work just as well.

[2018-09-17 20:58] cuviper commented on #54307
`rustc` even has an rpath, so it really ought to be able to find the libraries.

AFAICT this is no different than 1.28 either.

[code]

[code]

[2018-09-17 21:05] petrochenkov commented on #54248
I thought about this, but assumed that there's a difference between a "proper group" and "`None`-delimited group that just happens to start/end with angle brackets".
But perhaps that's not actually so important? Hmm.

[2018-09-17 21:48] dtolnay commented on #54248
I believe those would be equivalently easy for a parser to handle (at least Syn's parser).

[2018-09-17 21:52] parched commented on #54135
`#[export_name]` and _internal_ visibility?

One reason would be when using `global_asm!`. However, I think the better way to solve that use case is a way to pass rust mangled names to `global_asm!`.

[2018-09-17 21:59] japaric commented on #54135
Due to parallel codegen I don't think it's guaranteed that the `#[no_mangle]`-ed symbol and the `global_asm!` symbol will end in the same object file even if they are defined in the same module / crate. If that's not the case the linker could pick up the `global_asm!` symbol from object file but miss the `#[no_mangled]` symbol leading to an "undefined reference" error.

I have had plenty of troubl

[2018-09-17 22:00] alexcrichton commented on #54135
Thank for writing that up @japaric! I think I agree with you that `#[used]` shouldn't be used to affect symbol visibility, drawing parallels with C is a compelling use case.

I hadn't really considered it before but forcing all `#[no_mangle]` items to an extern linkage visibility doesn't seem like it's such a bad idea! The only other use case I can think of to add to @parched's use case is the old

[2018-09-17 22:05] japaric commented on #54135
:+1:. Just want to add: let's apply the same logic to `#[export_name]`; `#[no_mangle]` is just sugar for `#[export_name = "<item-name>"]`, after all.

[2018-09-17 22:06] alexcrichton commented on #54135
Ah sorry yeah, `#[export_name]` I consider to be the same as `#[no_mangle]` as well.

[2018-09-17 22:07] stjepang commented on #35896
I have a question. Why do we need to import macros to use them? For example:

[code]

It is surprising to me that this code doesn't compile unless we import the macro. Is this intentional behavior or a bug?

[2018-09-17 22:10] dtolnay commented on #35896
@stjepang maybe `channel::select!` expands to an invocation of plain `select!`? That `select!` invocation would be the one that is not finding a resolution in scope.

The expansion should use `$crate::channel::select!` instead (or `macro_export(local_inner_macros)` if you need to support compilers older than 1.30.0).

[2018-09-17 22:41] SergioBenitez commented on #29644
Update: All of Rocket's derives are now implemented as proc-macros and will ship as such in the next official release, which should be within a couple of week's time.

[2018-09-17 22:51] aturon commented on #44524
@rfcbot fcp cancel

[2018-09-17 22:54] aturon commented on #44524
@stjepang I wonder to what degree the problem here is just "bad" syntax -- the `<'_>` is pretty unwieldy.

As to whether it's obvious whether the types you mention contain references -- I think there are a lot of times where that's not the case, for example when you're working with an unfamiliar code base, or just don't happen to be *thinking* about that question and hence don't catch the borrowin

[2018-09-17 23:00] stjepang commented on #35896
@dtolnay Oh right, that was indeed the issue. Thank you! :)

[2018-09-17 23:07] jasonwilliams commented on #29154
@tromey  this is what i get
[code]

[2018-09-17 23:08] stjepang commented on #52726
I have a similar problem. In `crossbeam-channel` I put `#[macro_export(local_inner_macros)]` above the `select` macro:

[code]

Then, in another crate I invoke the macro like this:

[code]

This works on stable Rust, but doesn't compile on nightly anymore:

[code]

It's complaining about this invocation of `unreachable!()`:

[code]

If I change this to `std::unreachable!`, it will compile on night

[2018-09-17 23:14] fintelia opened #54309 "Parse issue with strange comment"
The following code ([playground link](https://play.rust-lang.org/?gist=c0f743b88266a6164aa647a81c1cd007)):
[code]
Generates this error:
[code]
Deleting the exclamation mark or replacing it with another symbol seems to make the error go away.

[2018-09-17 23:15] mark-i-m commented on #41686
Sorry for the delay. I have been a bit swamped lately and mostly keeping up from my phone, so not much opportunity to write PRs :stuck_out_tongue:.

Reference: https://github.com/rust-lang-nursery/reference/pull/420
Edition Guide: https://github.com/rust-lang-nursery/edition-guide/pull/105

I did a brief search through the nomicon, book, RBE sections on traits and didn't see any other anon params,

[2018-09-17 23:19] mark-i-m commented on #48075
Note to self: this should be documented in the edition guide somewhere... (If someone else is up for a PR on this, it might get done sooner)...

[2018-09-17 23:30] mvirkkunen commented on #54309
The exclamation point causes the comment to be parsed as a documentation comment (same as `//!`) which have special meaning, so I'd say this is an error in the code. The compiler error message could perhaps be made better, for example by mentioning that this location is illegal for a documentation comment.

[2018-09-17 23:30] Centril commented on #48075
Yeah I understood that =P

Probably worth making an issue on the guide :)

[2018-09-18 00:17] stjepang commented on #44524
@aturon

That's the only problem really: `<'_>` is far more unwieldy than `&`.

We tried using `<'_>` everywhere in `librustc` (see #53816), but I'm not sure the end result is great. Signatures like these are not pretty:

[code]

I appreciate the usefulness of explicit lifetimes here, but considering the verbosity they don't seem like a net win to me. YMMV, though.

My main worry is that the proli

[2018-09-18 00:29] stjepang commented on #52726
Works perfectly, thank you!

[2018-09-18 00:44] cramertj commented on #44524
I'm of two minds about this: I personally think it's really helpful as a reader to be able to see which types have lifetimes in them, and I like seeing `SomeType<'_>`. However, I am scared that we're making lifetimes "noisier" which will have the potential to frustrate authors and make them use owned types instead in order to avoid sticking `<'_>` everywhere.

[2018-09-18 00:53] kvark opened #54312 "Emscripten target spurious internal compiler errors (corrupted double-linked list)"
(I'm not completely sure if it's a Rust bug in the first place, but previously we've had issues with emscripten target linking/compiling, and they were resolved on Rust side, so here we come again).

You can see the error happening in [this travis job](https://travis-ci.org/gfx-rs/gfx/jobs/429764864#L1342):

According to https://github.com/gfx-rs/gfx/pull/2408, it happens on both wasm32 and asmjs

[2018-09-18 01:10] EFanZh commented on #53322
I still got the following error when I was compiling alacritty:

[code]

Here are some of my configurations that may be useful:

[code]

[code]

[code]

[code]

[2018-09-18 02:39] retep998 commented on #54135
Coming from the perspective of the Windows linker model, I am absolutely in agreement that `#[no_mangle]` and `#[export_name]` should always imply external linkage.

[2018-09-18 02:42] nrc commented on #48594
@rfcbot concern cost-benefit

From the [RFC FCP proposal](https://github.com/rust-lang/rfcs/pull/2046#issuecomment-358794318):

I still don't think we should have this feature at all. Since it's been implemented has it been used a lot? In the cases that it has been used is it significantly worse to use functions? If there is a benefit here, does it outweigh the cost of making the language larger a

[2018-09-18 02:47] nnethercote commented on #52028
@lqd just pointed me at a crate (`unic-ucd-name-0.7.0`) with high memory usage under NLL. My `HybridBitSet` change reduces its `max-rss` by 96%, from 29.1GB to 1.2GB!

[2018-09-18 02:49] abonander commented on #54285
Itertools has [`partition_map()`](https://docs.rs/itertools/0.7.8/itertools/trait.Itertools.html#method.partition_map) as either a substitute or precedent.

[2018-09-18 03:01] nrc commented on #54206
I don't have an idea of how many RLS users are on Windows-GNU, so I'm not sure how urgent this is. I suspect this is not worth backporting, especially with all the other edition stuff going on.

[2018-09-18 03:37] joshtriplett commented on #48594
@nrc I share the same concern. I do understand the argument for having it available so that macros can use it, but at the same time, I'd much rather not have this at all.

I don't want to retread arguments from the original RFC thread, but I *do* think that this is a reasonable point to ask about experiences with this feature. What uses has it seen?

[2018-09-18 04:06] liamnaddell opened #54315 "Unhelpful error message on risc-v using the asm! macro with register extractions"
(this is my first issue, sorry)

This is sort of a bug and sort of a feature request/cry for help. All of the following stuff is new to me, so this is probably user error.

The code I tried is attached below
[diosix.tar.gz](https://github.com/rust-lang/rust/files/2391133/diosix.tar.gz)

If you take the src/kernel/main.rs function, and replace the a2 with r, the rust compiler no longer segfaults!

[2018-09-18 04:11] SoniEx2 commented on #48594
hand-written parsers, mostly...

would be more useful/easier to use with labeled-propagate (`try_foo() 'bar?`).

[2018-09-18 04:31] kpp opened #54316 "#![deny(warnings)] affects doc warnings"
On `rustc 1.30.0-nightly (e4ba1d41e 2018-09-15)` `#![deny(warnings)]` affects doc warnings, which makes it impossible to build docs. It may take huge time for a crate to fix these warnings. See https://github.com/tokio-rs/tokio/issues/437

Possible solution: distinguish warnings in code and warnings in docs by providing `#![deny(doc_warnings)]`

[2018-09-18 05:19] eddyb commented on #49441
We have the crater report for "not enough bounds": https://github.com/rust-lang/rust/pull/54033#issuecomment-422251858.
Aaaand it's 379 regressions. A random sample looks entirely legitimate to me.
Who'd've thought people use type aliases so much!

The lint from #48326 and #48909 didn't help (in that it was telling people to remove *all bounds* that aren't needed to resolve `T::Assoc`), but it *co

[2018-09-18 06:04] hellow554 commented on #54309
But a comment is a comment, right? I would like to place comments wherever I want, even if they are doc comments. I would appreciate a warning maybe, but not an error at all!

[2018-09-18 06:57] Munksgaard commented on #52623
Yes, sorry I've been silent. I've got the basic functionality working, but I've still to write some tests and get the banner up and running. I plan on getting the tests finished today, and then I hope to tackle the banner tomorrow.

Should I create a PR, even though I'm not done?

You can see my first commit here: https://github.com/Munksgaard/rust/commit/b94d38bc6b64ab1329fc2eb1902fcda8a522db93

[2018-09-18 06:57] michaelwoerister commented on #53792
Would that catch local changes to source code?

[2018-09-18 07:01] michaelwoerister commented on #54190
I thought this might be the problem:
https://github.com/rust-lang/rust/blob/2224a42c353636db6ee53cc3f9b1a968e9d9c1f6/src/bootstrap/lib.rs#L523

[2018-09-18 07:13] joshtriplett commented on #48594
@rfcbot concern use-cases

Summarizing some discussion on Discord: We'd like to see concrete use cases for this, from actual code, that don't come across more clearly when rewritten to not use this feature.