[2022-05-15 16:28] bjorn3 commented on #40772
We now use Github Actions instead of Travis and AppVeyor. For git submodules we do some magic whereby we download an archive containing just the right version we need and the trick git into thinking it is a regular submodule I believe. Can this issue be closed?

[2022-05-15 16:30] bjorn3 commented on #40787
`split-debuginfo = "packed"` is already the default on macOS.

[2022-05-15 16:37] bjorn3 commented on #41038
This issue has last been hit 5 years ago with no known reproducer. Should this be closed?

[2022-05-15 16:38] bjorn3 commented on #41159
I believe this intended behavior. Should this be closed?

[2022-05-15 16:39] bjorn3 commented on #41180
For me `echo | rustc - | less` shows colors.

[2022-05-15 16:42] bjorn3 commented on #41465
I can reproduce this with rustc 1.60.0 (7737e0b5c 2022-04-04) and glibc 2.31-0ubuntu9.9:

<details>

[code]

</details>

[2022-05-15 16:44] bjorn3 commented on #41855
It now errors with

[code]

before giving the same help text as `./x.py dist --help`.

[2022-05-15 16:44] #41855 closed

[2022-05-15 16:46] moonheart08 commented on #41038
There's almost no chance this issue can still be reproduced, so I'd say yes but will leave it to the team.

[2022-05-15 16:50] bjorn3 commented on #42374
Updated test case:

[code]

This now panics with

[code]

as it detected an invalid string serialization.

JSON deserialization support of rustc_serialize has been removed somewhat recently. Furthermore I don't think it is necessary for us to be robust against all corrupt metadata as we have to abort some way or another anyway. I think this issue should be closed.

[2022-05-15 16:51] #42528 closed

[2022-05-15 16:59] bjorn3 commented on #43330
I think you should put

[code]

in `config.toml`, then do `./x.py` and finally `sudo ./x.py install`. This causes rustbuild to handle the vendoring itself.

[2022-05-15 17:01] bjorn3 commented on #43392
You can now use

[code]

in your `Cargo.toml` to strip debuginfo while linking. You can also use `strip = "symbols"` to also strip symbol names.

[2022-05-15 17:04] joshtriplett commented on #43392
Yeah, strip solves the issue of the symbols from the standard library, and that's the best solution we have available at the moment.

[2022-05-15 17:04] #43392 closed

[2022-05-15 17:09] bjorn3 commented on #44087
This now compiles:

[code]

[2022-05-15 17:09] #44087 closed

[2022-05-15 17:12] bjorn3 commented on #44635
You need to use `rustup target add arm-unknown-linux-gnueabi` instead of `rustup toolchain install stable-arm-unknown-linux-gnueabi`. The former adds a cross-compilation target, while the later installs a compiler which only runs on `arm-unknown-linux-gnueabi` itself.

[2022-05-15 17:12] #44635 closed

[2022-05-15 17:17] bjorn3 commented on #45504
I don't think we can change this without a breaking change.

[2022-05-15 17:20] soc commented on #71684
Judging from the code out there, they are overwhelmingly wrong.

Most struggle to get it right on one platform, let alone the three major ones (Linux, Windows, macOS).

If people could be bothered to do things correctly, some third-party crates would not need to exist.

[2022-05-15 17:23] edmorley commented on #84908
Hi! What are next steps for stabilizing this? The checklist in the OP does not appears to contain any blockers, so is this good to move to FCP?

[2022-05-15 17:26] bjorn3 commented on #46090
We need `/proc/self/exe` to implement `std::env::current_exe()` which rustc uses to locate the sysroot.

[2022-05-15 17:33] wareya commented on #71684
OK, do you have a formal review with statistics?

[2022-05-15 17:46] C0D3-M4513R opened #97064 "Internal Compiler error building Sierra example"
### Code

[code]

### Crate toml (see https://github.com/zakarumych/sierra/blob/master/demo/Cargo.toml)
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-15 17:56] C0D3-M4513R commented on #97064
After this I did a `cargo clean` and then tried to `cargo build` again.
This time `cargo build`gets instantly stuck. It does not output anything to the console.
It does not use any cpu. The threads of the `cargo build` also do not use any cpu cycles.

[2022-05-15 18:00] cjgillot commented on #36594
I have no idea what this bug is about.

[2022-05-15 18:05] #40772 closed

[2022-05-15 18:56] Hawk777 commented on #51089
OK thanks, I’ll subscribe to that.

[2022-05-15 19:08] Coding-Badly commented on #71684
@Timmmm, your proposal would preclude even `HOME` for the android platform.  Is that the right choice?  Is there really no such thing was a home directory on the android platform?

[2022-05-15 19:44] deltragon commented on #71684
@Coding-Badly Android apps have access to either app-specific storage (which would map to either `config_dir(<APP_INFO>)` or `data_dir(<APP_INFO>)`) or shared storage, which is split into `Media` and `Documents`. None of these map cleanly to the concept of a home directory afaik.
According to this, a `home_dir` function does not really make sense on android.

See https://developer.android.com/trai

[2022-05-15 20:07] peter-kehl commented on #76200
I admit not understanding this (and reasoning behind it) fully. But I have use case for an associative type with a bound that depends on its owner (trait)'s const generic parameter. Any alternatives/workarounds, please?

Short example (thanks to ilyvion#9946): https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c133c09b2fa155bb3f4b9ee45e6c011e.

My use case: https://github.com

[2022-05-15 20:16] soc commented on #71684
Do a global GitHub issue search for "XDG support".

This should give you a good impression of the state of support for one standard (out of three).

[2022-05-15 22:27] rben01 commented on #91079
*Everything that follows will be stated in terms of the `min` and `minimum` functions but applies equally to `max` and `maximum`.*

Does the function have to be called `minimum`? I know that's the IEEE name but I think I'd find having both `min` and `minimum` confusing, as their names don't really say which is which. "The function that requires both inputs be `NaN` for its output to be `NaN` is th

[2022-05-15 23:43] JohnTitor commented on #95647
The both snippets are no longer ICEs, marking as `E-needs-test`.

[2022-05-16 01:12] khuey commented on #94970
Being able to use rustc_layout_scalar_valid_range_start/end would let me save a lot of memory space in Pernosco.

[2022-05-16 01:45] mbartlett21 commented on #83400
There is still an unresolved question:

### What should the error type be called?

- In the original PR, I called it `FromSecsError`.
- In #90247, @newpavlov updated the error type to `FromFloatSecsError`.

- It is still unclear whether a different name would be better.

Once that is resolved, we'll need a stabilisation PR and then, once that gets approved, it will be a month or two until it appea

[2022-05-16 03:08] #47071 closed

[2022-05-16 03:11] frewsxcv commented on #71901
Triage: no change here

[2022-05-16 03:34] tobymurray opened #97067 "error: attempted to communicate with a crashed background worker"
### Code
invoking:
[code]

This is using the [query_as!](https://docs.rs/sqlx/latest/sqlx/macro.query_as.html) macro from SQLx, if this ends up being a real bug I can share the code but it's effectively a giant hard coded SQL query that is specific to my schema.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[co

[2022-05-16 04:24] ehuss commented on #97067
This error originates from `sqlx`.  Perhaps this should be filed on their issue tracker? https://github.com/launchbadge/sqlx

[2022-05-16 04:46] d3rpp opened #97068 "Randomly encountered an ICE, I'm sorry i cant make any sense of the stack-trace"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

please help i have no idea what is going wrong here

[2022-05-16 04:47] d3rpp commented on #97068
I'd be happy to provide code samples however the code itself is proprietarily licensed to my company so I cannot share the whole codebase unfortunately

[2022-05-16 04:59] d3rpp commented on #97068
**Update**: there were problems with my code, however the rust famous very helpful error messages cleared them up, I'm just bad at my job lol.

Also, i tried recompiling with a later version of rust (nightly 2022-05-15) and it worked without so it seems the issue has already been fixed

[2022-05-16 04:59] #97068 closed

[2022-05-16 05:24] NobodyXu commented on #96306
@pnkfelix IMO we absolutely need more unit tests for it, as I just witnessed the regression of `f32::NEG_INFINITY` again on `1.63.0-nightly`.

This strange regression that coming back makes it impossible to use [`compact_str`](https://github.com/ParkMyCar/compact_str) or other crates that depends on the float formatting on `powerpc64le` reliably.

[2022-05-16 05:47] YitaoYuan opened #97069 "Could not execute process `C:\Users\XXX\.cargo\bin -vV` (never executed) Caused by: Access is denied. (os error 5)"
After I installed rust on my Windows 10 PC with the guild of https://www.rust-lang.org/zh-CN/tools/install, an error was reported when I use "cargo build".
It says:

Could not execute process `C:\Users\XXX\.cargo\bin -vV` (never executed)  Caused by:   Access is denied. (os error 5)

(I have installed C++ build tools, win10 SDK and English language packet by Visual Studio Build Tools 2019.)
I've l

[2022-05-16 05:47] YitaoYuan opened #97070 "Access is denied. (os error 5)"

[2022-05-16 05:48] YitaoYuan opened #97071 "Could not execute process `rustc -vV` (never executed) Caused by: Access is denied. (os error 5)"
After I installed rust on my Windows 10 PC with the guild of https://www.rust-lang.org/zh-CN/tools/install, an error was reported when I use "cargo build".
It says:

Could not execute process `rustc -vV` (never executed)  Caused by:   Access is denied. (os error 5)

(I have installed C++ build tools, win10 SDK and English language packet by Visual Studio Build Tools 2019.)
I've looked for many sol

[2022-05-16 05:48] YitaoYuan opened #97072 "Could not execute process `C:\Users\XXX\.cargo\bin -vV` (never executed) Caused by: Access is denied. (os error 5)"
After I installed rust on my Windows 10 PC with the guild of https://www.rust-lang.org/zh-CN/tools/install, an error was reported when I use "cargo build".
It says:

Could not execute process `rustc -vV` (never executed)  Caused by:   Access is denied. (os error 5)

(I have installed C++ build tools, win10 SDK and English language packet by Visual Studio Build Tools 2019.)
I've looked for many sol

[2022-05-16 05:50] #97069 closed

[2022-05-16 05:50] #97072 closed

[2022-05-16 05:52] #97070 closed

[2022-05-16 06:21] oli-obk commented on #34393
Yea, I don't think this is actionable. Rereading the discussion gives me the impression there are things to be tried here, but without a concrete goal (code that should work?) I'm not sure where to even begin addressing the issue.

[2022-05-16 06:21] #34393 closed

[2022-05-16 06:23] oli-obk commented on #45504
We could improve the diagnostic by re-parsing and checking for `*/` more aggressively. Not sure if that's worth doing

cc @rust-lang/wg-diagnostics

[2022-05-16 06:26] oli-obk commented on #36594
the monomorphization collector works completely on MIR nowadays. I think we fixed all these issues since they were occurring with return-position-impl-trait already.

[2022-05-16 06:26] #36594 closed

[2022-05-16 06:42] lcnr commented on #76200
@peter-kehl this is #94293 again, this lint is only relevant when **not** using `feature(generic_const_exprs)`

[2022-05-16 07:00] #30809 closed

[2022-05-16 07:06] oli-obk commented on #89864
oh 🤦 yea, I can't find a way to call it either. Thanks!

[2022-05-16 07:07] oli-obk commented on #89864
This is fixes and we have appropriate tests imo

[2022-05-16 07:07] #89864 closed

[2022-05-16 07:12] peter-kehl commented on #94293
Hi. I've been referred to here from #76200. I didn't fully understand #76200, and the above is even more advanced.

I have use case for an associative type with a bound that depends on its owner (trait)'s const generic parameter. Any alternatives/workarounds, please?

Short example failing on Nightly (thanks to ilyvion#9946 for narrowing it down): https://play.rust-lang.org/?version=nightly&mode=d

[2022-05-16 08:39] #80967 closed

[2022-05-16 09:24] JohnTitor commented on #97071
It looks like your environment issue, and I'm going to close as the issue has been resolved.
I'd suggest asking on the user forum (https://users.rust-lang.org) in the future. Anyway thanks for reporting!

[2022-05-16 09:24] #97071 closed

[2022-05-16 10:02] JohnTitor opened #97073 "Feature-gating on closures is broken"
If we try to apply `#[track_caller]` on closures, like:

[code]

This needs an `#![feature(closure_track_caller)]`, which is normal, but it also needs the feature attributes on the crates that have a caller of that method.

See https://github.com/rust-lang/rust/pull/96894#issuecomment-1122342316 and https://github.com/rust-lang/rust/pull/96894#issuecomment-1123191365 for more details.

TL;DR: In t

[2022-05-16 10:12] djc opened #97074 "Inhibit unused_mut variables if unused_variables is also triggered"
Given the following code:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0f9622ef596ee0a54b44e64f7e1579b0).)

The current output is:

[code]

[code]

It's obvious that an unused variable does not need to be declared mutable, and the extra warning puts more cognitive burden on the reader to figure out what's relevant.

Found this on 1.60.0, but also s

[2022-05-16 10:21] JohnTitor commented on #95647
#97039 fixed this and [it has a sufficient test](https://github.com/rust-lang/rust/pull/97039/files#diff-8558c2e0a7aa0309371b92f831db624ef367145957d79e40e8faf5f4db51e859), closing.

[2022-05-16 10:21] #95647 closed

[2022-05-16 11:30] ascjones opened #97076 "Invisible delimiters quoted for `Group`"
When using a a proc macro from within a declarative macro, a `ty` is expanded to a `Group`.

With the latest nightly `1.63.0-nightly (42e1761c7 2022-05-15)` the invisible delimiters now appear in the quoted tokens e.g.

  - before `bool`,
  - after `/*«*/ bool /*»*/`

## Two-crate test case

Crate `derive`, `Cargo.toml`

[code]

Crate `derive`, `src/lib.rs`

[code]

Crate `impl`, `Cargo.toml`

[co

[2022-05-16 11:37] bjorn3 commented on #46536
Based on @sfackler's comment this seems to be an issue with your tests not panicking if a helper thread panics rather than an issue with libtest.

[2022-05-16 11:37] #46536 closed

[2022-05-16 11:38] bjorn3 commented on #46552
I think this can be closed as expected.

[2022-05-16 11:41] bjorn3 commented on #46542
This now result in the following llvm ir with `-Copt-level=2`:

[code]

[2022-05-16 11:41] #46542 closed

[2022-05-16 11:49] bjorn3 commented on #47384
Has this been fixed by https://github.com/rust-lang/rust/pull/95604?

[2022-05-16 11:49] #47384 closed

[2022-05-16 12:21] danielhenrymantilla commented on #66359
@mehcode you can write the following helper to let you query the type name of an unusable binding:

[code]

With it, the following snippet compiles and runs fine:

[code]

  - [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d9b0cc8815d52f5cf78592e36a578cd1)

[2022-05-16 12:28] bjorn3 commented on #48334
The reproducer is now fixed. Rustc emits the following valid linker script:

[code]

[2022-05-16 12:28] #48334 closed

[2022-05-16 12:32] bjorn3 commented on #48844
Is this still relevant?

[2022-05-16 12:35] bjorn3 commented on #49271
I believe this has been fixed for a while.

[2022-05-16 12:37] Mark-Simulacrum commented on #48844
I don't think we need an issue for continuing to balance things, but we do still have some split builders (typically ending in -1, -2).

[2022-05-16 12:37] #48844 closed

[2022-05-16 12:44] gheoan commented on #97001
@rustbot label -C-feature-request C-enhancement

[2022-05-16 12:49] bjorn3 commented on #49761
For me rustc + rustup wrapper takes 100ms:

[code]

Rustc without rustup wrapper takes 13ms:

[code]

A no-op `cargo check` on the rust repo gives:

[code]

Without rustup wrapper it gives:

[code]

I think the rustc side of this issue is fixed. Only the rustup (https://github.com/rust-lang/rustup/issues/2626) and cargo (https://github.com/rust-lang/cargo/issues/5315) parts are still pending.

[2022-05-16 12:49] #49761 closed

[2022-05-16 12:55] oli-obk commented on #49271
looks like it. There's mostly special casing in the metadata encoder to just skip serializing entire kinds of items

[2022-05-16 12:55] #49271 closed

[2022-05-16 12:56] #50035 closed

[2022-05-16 12:56] jjl opened #97078 "`clippy::if_same_then_else` should ignore bodies containing `todo!()`"
rustc 1.62.0-nightly (88860d547 2022-05-09)

Given the following code:

[code]

The current output is:

[code]

Ideally it should be silent.

[2022-05-16 13:14] bjorn3 commented on #52625
Fixed by https://github.com/rust-lang/cargo/pull/6256

[2022-05-16 13:14] #52625 closed

[2022-05-16 14:01] fanninpm commented on #97078
This belongs in [rust-lang/clippy](https://github.com/rust-lang/rust-clippy)

[2022-05-16 14:29] wesleywiser commented on #33172
Visited during the wg-debugging triage meeting and this seems to have been resolved. @rylev is going to add a regression test.

[2022-05-16 14:39] wesleywiser commented on #32575
Visited during wg-debugging triage. This still repros in 2022 and while we should try to improve this eventually to help us reach the ideal future of "debugging is delightful", this doesn't prevent users from debugging their code today. Therefore, triaging as P-low.

[2022-05-16 14:39] matthiaskrgr opened #97082 "rust complains about "const fn" which was never declared as such"
Given the following code:

[code]

The current output is:

[code]

IMO it's a bit weird that rust tells me about a "const fn" since there is none in the code snippet...? :sweat_smile:

[2022-05-16 15:05] b-naber commented on #97047
This is caused by https://github.com/rust-lang/rust/pull/90529. Seems as if this issue takes care of [this](https://github.com/b-naber/rust/blob/1b14fd3b1063771923e2fcf2110961bfa5ba4ad0/compiler/rustc_trait_selection/src/traits/const_evaluatable.rs#L411) FIXME ^^.

Not sure what the right solution is, we originally tried to skip reborrows because implicit autorefs/autoderefs lead to confusing erro

[2022-05-16 15:37] b-naber commented on #96634
Why should our initial bound be considered true? Afaict what's going on here is that you have a cycle, once you hit your initial bound you try to again prove `MyVisitor: Visit<Box<Ast>>`, and then infinitely recurse.

[2022-05-16 15:58] wdanilo commented on #96634
Such loops should be supported IMO, just as they are supported in Haskell, for example. If you have a bound `A` and during resolution, you've got a bound `B`, which requires `A` to exist, you can tell that it's fine, because the bound is being currently resolved. Of course, if you will bring to the resolution scope bounds that are mutually exclusive, an error should be reported. However, until the

[2022-05-16 16:08] petrochenkov commented on #97076
Invisible delimiters are pretty-printed starting from https://github.com/rust-lang/rust/pull/96682, this was an intentional change.
Do they cause any issues?
cc @nnethercote

[2022-05-16 16:10] tobymurray commented on #97067
Moved to SQLc

[2022-05-16 16:10] #97067 closed

[2022-05-16 16:16] ascjones commented on #97076
It does, but if it was intentional then I can account for it.

[2022-05-16 16:16] #97076 closed

[2022-05-16 17:13] 5225225 commented on #82499
Created #97086 for `link_section`

[2022-05-16 19:00] Kolsky commented on #67792
On a side note: if you were to add #[cfg(library_feature)] to impl const block or ~const Trait bound, the library stops compiling at all, this probably shouldn't happen as other nightly features I've tested are fine with that

[2022-05-16 20:51] estebank commented on #96999
If we want to provide a structured suggestion, we do need to parse the argument. The heuristic is a good stop gap that might be "enough". Being able to parse fn calls, method and field chains and binops *could* be done "cheaply" and cover the vast majority of likely user mistakes.

[2022-05-16 21:01] yaahc commented on #64266
I think I might need to use this for https://github.com/rust-lang/rust/pull/95956/ as well

[2022-05-16 21:15] clarfonthey commented on #67792
A quick search didn't find this being tracked anywhere, but for now, closures can't impl `~const Fn*` traits right now, not even trivial ones. Not sure what the plan is for that, but it definitely seems like something that should be available.

Minimal code:

[code]

Through this I also discovered that this even comes up in regular const eval without going through an existing function:

[code]

[2022-05-16 22:03] pnkfelix opened #97090 "unpretty=hir,typed output confusing for `futures::select!` macro"
I tried this code:

[code]

with this `Cargo.toml`:

[code]

and I built it like this:

[code]

I expected to see this happen: I had hoped the output `expanded.rs` would resemble legible Rust code

Instead, this happened: The output in `expanded.rs` included portions like this:

[code]

In other words, its got this weird `#[attribute] as Type` construction that is not valid Rust.

The -Zunpretty=h

[2022-05-16 22:11] nikomatsakis opened #97091 "Fake Reads incorrectly treated as dead code (?)"
I tried this code:

[code]

I expected to see this happen: *explanation*

Instead, this happened: *explanation*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-05-16 22:11] nikomatsakis commented on #97091
ack

[2022-05-16 22:11] #97091 closed

[2022-05-16 22:17] nikomatsakis opened #97092 "FakeRead should not be treated as dead code"
Given this sample program:

[code]

the desugaring of the match intentionally adds some borrows when executing the guard:

[code]

The purposeof the `FakeRead` of `_4`and `_6` is to ensure that the discriminant does not change while the guard executes -- i.e., that the guard doesn't (via unsafe code, say) mutate `x` to be `None`. But after optimizations those FakeReads are removed:

[code]

this m

[2022-05-16 22:18] nikomatsakis commented on #97092
cc @RalfJung @rust-lang/wg-unsafe-code-guidelines and @eholk (with whom I found this)

[2022-05-16 22:37] Xiphoseer opened #97094 "`unknown_lints` doesn't trigger in all `cfg_attr`"
I tried this code:

[code]
[Playground Link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=dee802073df7fd6a2b4183329210bc1d)

I expected attributs in all 4 positions to cause compiler errors, but just the first one (inner attribute on the root module) does. When using `allow` without `cfg_attr` I get all 4 errors. Came across this while debugging why adding `#![cfg_attr(

[2022-05-16 23:23] estebank opened #97095 "In 2015 edition, mention the need for `extern crate foo` when failing to resolve `use foo`"
https://users.rust-lang.org/t/error-e0432-unresolved-import-serde/75707

[2022-05-17 01:22] digama0 commented on #97092
It should be fine for optimizations to remove UB, as long as Miri runs without said optimization. The UB will still occur in the AM version of the code, and Miri's ability to catch this UB depends on whether it runs before or after the optimization.

[2022-05-17 02:10] Dirbaio opened #97098 "ICE with GAT + higher-ranked TAIT"
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=79716e12fc3dad407ef9acb6d40392c1)

[code]

[code]

rustc 1.63.0-nightly (42e1761c7 2022-05-15)

[2022-05-17 02:13] Dirbaio opened #97099 "ICE with higher-ranked nested RPIT"
I arrived at this by trying to make #97098 work on stable. I don't know if the root cause is the same, since the ICE message is different I'm  posting it anyway.

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=dc1d284651b1e4456e691a39adb780e1)

[code]

It fails to build in stable (I think it should build though..?)

[code]

but It ICEs in latest nightly

[cod

[2022-05-17 03:33] mbartlett21 commented on #97082
@rustbot claim

Here's the relevant code:

https://github.com/rust-lang/rust/blob/f001f9301c889101d8a71358b64b96e9707c832b/compiler/rustc_const_eval/src/transform/check_consts/ops.rs#L85-L94

But then saying that function pointers aren't allowed in statics is just false, since there is a function pointer assigned to `A`.

[2022-05-17 03:53] coolreader18 opened #97100 "Tracking Issue for ExitCode::exit_process()"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/97100)*

Feature gate: `#![feature(exitcode_exit_method)]`

This is a tracking issue for the `ExitCode::exit_process()` method.

`exit_code.exit_process()` exits the process with the `ExitCode` passed as the self argument.
### Public API

[code]

### Steps / History

- [x] Implementation: #95356
- [ ] Fina

[2022-05-17 05:56] aliemjay opened #97104 "late-bound lifetimes on type-alias-impl-trait can be unsound"
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2ef0fa3e9e041b4330f87277f536411c).

Prior to #96903, these types were rejected with this error:
[code]

Currently, they're accepted.

Based on the assumption that generic parameters on opaque type are not constrained (see Niko's comment https://github.com/rust-lang/rust/pull/95474#issuecomment-1122953370),

[2022-05-17 06:20] xNxExOx opened #97106 "Misleading error messages on closure lifetimes, instead of type"
Given the following code: [play.rust-lang.org](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=23c84402992527afdcaf1491430fd8af)

[code]
I wanted to use `not_zero` multiple times, so I did not even tried to put it directly to the `filter`

The current output is:

[code]

Ideally the output should look like:

[code]
sorry not really good at formulating the exact message 😞 to

[2022-05-17 06:50] aliemjay commented on #97099
This the the error-to-ICE regresion version of https://github.com/rust-lang/rust/issues/96194#issuecomment-1124745154

#97039 isn't intended to reject this case and there's no tracking issue of this ICE, so
@rustbot label P-regression-from-stable-to-beta A-impl-trait A-lifetimes T-compiler

[2022-05-17 06:56] aliemjay commented on #97099
Note that the error is correct here. If the inner opaque type is intended to capture `'a`, it should be:
[code]
But then it's rejected as unsupported as per #97039.

[2022-05-17 07:03] aliemjay commented on #97098
Related to #96146

@rustbot label F-type_alias_impl_trait C-bug T-compiler

[2022-05-17 07:08] frank-king opened #97108 "Diagnostic improvement of macros"
Given the following code:

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2a4b2c1192d04f81a973bc5a72ed9994).

The current output is:

[code]

Ideally the output should look like:

[code]

The expect error message is written by hand.

The original problem comes from [here](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a52ef2e

[2022-05-17 07:12] aliemjay commented on #97104
Out of curiosity, here's an exploit derived from #84366.

It type-checks but fails at monomorphization.

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=007394184a918ba567f81d7f8068713c)

[code]

[2022-05-17 07:44] RalfJung commented on #97092
Miri would (I think) currently ICE on `FakeRead`, so we probably are deleting them too early.

[2022-05-17 07:47] joshtriplett commented on #70436
@Thomasdezeeuw wrote:

That doesn't address this concern:

What if we used a `Cow`'d slice? If you never want your slice copied even in the partial write case, pass in a Cow::Owned; if you don't want to give up ownership of your slice and allow mutating it, pass in a Cow::Borrowed.

Also, we could avoid an extra syscall even in the borrowed case, if we're willing to allocate in that case, and Cow

[2022-05-17 07:51] kleisauke commented on #72241
@mati865 Thanks for adding these `*-pc-windows-gnullvm` targets! I was wondering if there is also interest in the `i686-pc-windows-gnullvm` and `armv7-pc-windows-gnullvm` targets? If so, I could try to upstream these patches:
https://github.com/libvips/build-win64-mxe/blob/4ddf96c4c152f129d320d27fcf11ade9f9f73e65/build/plugins/llvm-mingw/patches/rust-1-fixes.patch
https://github.com/libvips/build-

[2022-05-17 08:04] Thomasdezeeuw commented on #70436
@joshtriplett I'm sorry, but I don't really have the energy for this issue any more... You're comment completely misses the point of vectored I/O. If people are looking at using vectored I/O it's likely they're looking at it for performance reasons, suggesting to just allocate a new buffer so it can be used once in a system call is really quite far off this target.

It's been more than two years,

[2022-05-17 08:18] nikomatsakis commented on #97092
After opening this issue, I was thinking that -- indeed -- I overstated the case, but indeed the point stands that a `FakeRead` is semantically meaningful. All of this (in my mind) points to the continued need for an "analysis MIR" that is used by miri, borrow check, and friends and where optimizations have not been done.

(I would also like to have some kind of sanitizer mode where we do UB detec

[2022-05-17 08:20] nikomatsakis commented on #97092
Updated title / OP.

[2022-05-17 09:54] m-ou-se commented on #93740
@joboet I forgot to respond, but this happened in https://github.com/rust-lang/rust/pull/96042

That's certainly a possibility, but that requires a (small) RFC that includes the motivation and full API. One interesting question would be what to do with poisoning for such a ReentrantMutex: std's other locks have poisoning, but I'm not sure if any new locks should have that, although consistency is

[2022-05-17 11:22] lukas-code commented on #95228
How would strict provenance interact with paging/virtual addressing, where multiple virtual addresses can potentially point to the same object?
Consider the following example:
[code]

[2022-05-17 11:39] RalfJung commented on #95228
I think we first need to have a story for how such memory shenanigans interact with the Abstract Machine at all, before any specifics can be answered.^^

If this only happens for "external" memory (think: `mmap` and friends), I am not very concerned. But doing this for stack-allocated variables (which the Abstract Machine makes strong assumptions about) seems much more potentially problematic.

[2022-05-17 13:25] januwA commented on #53667
Does this expression work in rust 1.62

[code]

I now get an error in 1.60

[code]

[2022-05-17 14:25] #56556 closed

[2022-05-17 14:25] #90875 closed

[2022-05-17 14:25] #81804 closed

[2022-05-17 14:25] #97082 closed

[2022-05-17 15:16] m-ou-se commented on #93203
Quoting an issue that was recently opened on the `crossbeam` repository: https://github.com/crossbeam-rs/crossbeam/issues/816#issue-1209173739

The [new `std::thread::scope`](https://github.com/rust-lang/rust/pull/92555) doesn't have this issue: it does not maintain a Vec of join handles or similar, and doesn't grow its memory usage over time. (Other than what the running threads themselves are us

[2022-05-17 15:21] pnkfelix opened #97115 "quadratic blowup on -Zunpretty=hir-tree injected 2021-10-19"
Spawned from https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/regression.3A.20hir-tree.20became.20an.20order.20of.20magnitude.20larger/near/282616475

[code]

[2022-05-17 15:21] pnkfelix commented on #97115
@cjgillot reports on the zulip thread that this is due to PR #89124

[2022-05-17 15:49] m-ou-se commented on #43234
I've nominated this because this is a blocker\* for [scoped threads](https://github.com/rust-lang/rust/issues/93203), and would like to know if we can stabilize `nll` in Rust 1.63.

(\* We could stabilize scoped threads without waiting for `nll`, but some use cases will then result in confusing errors.)

[2022-05-17 15:59] m-ou-se commented on #93203
I've nominated [the `nll` tracking issue](https://github.com/rust-lang/rust/issues/43234) for lang team discussion. I got the impression it's close to stabilizing. If it's stabilizing in 1.63, we don't need to have a discussion about whether we're okay with stabilizing scoped threads without waiting for `nll`.

@yaahc has an open concern (with rfcbot) about stabilizing this too quickly without the

[2022-05-17 16:03] lucacasonato commented on #86442
I also want to vouch for stabilization as soon as possible. The existence of these unstable enum variants would be fine, if the creation of them was also "unstable only". Right now the unstable variants can be created in the internals of `std` **in stable**, without being able to create these same variants externally in stable. It makes mocking APIs, testing error handling and various other things

[2022-05-17 16:11] bnpfeife opened #97117 "Cannot link Rust (1.60+, ARM64) generated static-object with Go"
Hello!

I am working on a project that uses Rust's CFFI to expose functions/symbols to Go. It uses musl to compile for AMD64 and [musl-cross-make](https://github.com/richfelker/musl-cross-make) for ARM64. I've enabled static-linkage for both Rust and Go; and I've enabled PIE for Go. Everything works when I build with the Rust 1.58 toolchain. However, when I build with 1.60/nightly, the linker gene

[2022-05-17 16:57] steffahn opened #97119 "`Vec::extend_from_slice`’s documentation forgot about the difference of `T: Clone` vs. `T: Copy` bounds."
Quoting from https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.extend_from_slice

But `Vec::extend_from_slice` supports `&[T]` for `T: Clone`, whereas `Vec::extend` only supports `impl Iterator<Item = &T>` if `T: Copy`, so it’s **not the same**.

[2022-05-17 17:22] Zenthae commented on #80858
more like the table of content of this readme

https://github.com/jonschlinkert/markdown-toc

[2022-05-17 17:45] estebank commented on #94483
https://github.com/rust-lang/rust/pull/89862/files#diff-61d51b814405f1781530e7e1aa7ec33300b9a60d2338870adcae2404abea109e This test has a small regression. In method chains with inference errors, we should specify the full type of the generic that wasn't detected.

[2022-05-17 17:48] m-ou-se commented on #96331
Reduced test case:

[code]

Rustc output:
[code]

Rustc output with `-Z borrowck=mir`:

[code]

It doesn't give an error about the `*z = *y;` line.

However, if you remove the `*x = *y;` line, it doesn't succeed. It then produces the right error:

[code]

So, this doesn't seem like a case where invalid code is accepted. Just a case where diagnostics are incomplete.

[2022-05-17 17:57] m-ou-se commented on #96331
When using two unrelated variables/lifetimes, it does produce both errors:

[code]

[2022-05-17 18:05] m-ou-se commented on #43234
Looks like tracking of this issue is happening here now: https://github.com/rust-lang/rust/pull/95565 (:

[2022-05-17 18:05] petrochenkov commented on #97117
This looks very similar to https://github.com/rust-lang/rust/issues/95926 which happened due to switching the linking default from `-static` to `-static-pie` in 1.59 or 1.60.

[2022-05-17 18:06] petrochenkov commented on #97117
This looks very similar to https://github.com/rust-lang/rust/issues/95926 which happened due to switching the linking default from `-static` to `-static-pie` in 1.59 or 1.60.

[2022-05-17 18:11] jackh726 commented on #96331
Thanks @m-ou-se for looking at this!

I think based on this, it should be okay to move forward without "fixing" this. Seems like only a diagnostics thing instead of accidently allowing more code.

[2022-05-17 18:13] cuviper commented on #97119
FWIW, rust-lang/rfcs#839 debated whether `Extend<&T>` should require `T: Clone` or `T: Copy`, and the consensus was to *start* with `Copy` and consider `Clone` later. But I think that would be a breaking change to expand that blanket impl, because downstream `impl Extend<&Foo> for Vec<Foo>` is allowed if `Foo` is not `Copy` -- but it may be `Clone`.

[2022-05-17 18:13] joshtriplett opened #97122 "Lang: Stabilize usage of rustc_nonnull_optimization_guaranteed on -1"
I/O Safety (https://github.com/rust-lang/rust/issues/87074) uses types which are `repr(transparent)` wrappers around file descriptors or sockets, and which have a niche at -1 which is an invalid fd/socket. Those types use `rustc_nonnull_optimization_guaranteed`, which together with the niche, allows using things like `Option<OwnedFd>` in FFI.

(The attribute remains unstable, and is misnamed at th

[2022-05-17 18:13] joshtriplett commented on #97122
@rfcbot merge

[2022-05-17 18:13] bnpfeife commented on #97117
My apologies, I forgot to mention, that AMD64 builds on both 1.58 and 1.60. It's just ARM64 that is impacted.

[2022-05-17 18:14] jackh726 commented on #43234
Also in https://github.com/rust-lang/rust/issues/58781

[2022-05-17 18:20] cdmistman commented on #54725
Since the information is there, I'm wondering if it's possible to expose the byte offsets of a span within a file.

For example, given this (very simple and dumb) proc macro (using `syn` and `quote` for convenience)
[code]

on the following input:
[code]

the output of the resulting binary is:
[code]

However, those byte offsets aren't accessible in the API. Is it possible to expose those byte off

[2022-05-17 18:35] jackh726 commented on #57895
Closing in favor of #58781 and #43234

[2022-05-17 18:35] #57895 closed

[2022-05-17 18:36] jackh726 commented on #43234
Closed that one in favor of this and #58781

[2022-05-17 18:45] m-ou-se commented on #58781
Do we know why turning off migration mode fixes https://github.com/rust-lang/rust/issues/95527?

Is that something that can be fixed without having to wait for turning off migration mode (to not block scoped threads on https://github.com/rust-lang/rust/issues/73154)?

[2022-05-17 19:21] m-ou-se commented on #86442
It seems like most of the recent comments are only about `IsADirectory`. Since that makes clear it's a useful and wanted error kind, it might make sense to send a PR for stabilizing that one specifically. Then that doesn't have to be blocked on the other variants being stabilized.

Any uncategorized error is unstable in the same way, regardless of whether its ErrorKind is ErrorKind::Uncategorized

[2022-05-17 19:32] saethlin commented on #97092
The issue title makes it sound like you're trying to say that optimizations which remove FakeRead are buggy, but I don't think that's the case based on the other comments here? Then your latest comment makes it sound like this issue is actually a call for separating MIR for analysis from MIR for code generation. I guess I'm just confused because in an issue with only 5 comments it seems like the c

[2022-05-17 19:40] digama0 commented on #97092
I think we should remove optimizations that hide UB at opt level 0. I assume that the only optimizations that run at opt level 0 are those that must run for the latter stages to not ICE, but ideally anything that hides UB should not be on that list.

[2022-05-17 19:48] tim-weis commented on #88721
Sorry, @riverar, I didn't find the energy to respond, until now (my mental health isn't entirely stellar...). If you still have the link/transcript of the conversation around, I'll have a look at it. Not promising that I can do much, or anything, but it's still something I care about. Like, a lot.

[2022-05-17 19:52] riverar commented on #88721
@tim-weis No worries. I wouldn't worry about it, it's long gone! I've accepted LLVM is effectively the owner of the spec.

[2022-05-17 20:04] steffahn commented on #97119
Interesting discussion to read, thanks for the link. I agree with your observation that the supposedly backwards compatible change that it ended on would actually be breaking, at least since [1.41](https://blog.rust-lang.org/2020/01/30/Rust-1.41.0.html#relaxed-restrictions-when-implementing-traits).

[2022-05-17 20:06] lucacasonato commented on #86442
That'd be great. We care mostly about `IsADirectory`, `NotADirectory`, and `FilesystemLoop` for our use cases right now.

[2022-05-17 20:26] jonasbb commented on #96981
I could produce this error also on stable 1.60. I updated the original post to include the description and backtrace for stable.

[2022-05-17 20:54] pietroalbini opened #97124 "Synchronous Windows stdin pipes broke tokio"
It was reported in https://github.com/tokio-rs/tokio/issues/4670 that `tokio::process::Command` broke between `nightly-2022-04-29` and `nightly-2022-04-30` on Windows. According to the tokio authors that struct is a wrapper over the standard library's `std::process::Command`. Looking at the PRs between those two nightlies the likely cause seems https://github.com/rust-lang/rust/pull/96441, as it t

[2022-05-17 20:55] pietroalbini commented on #97124
We also hit this in https://github.com/rust-lang/rust/pull/97088#issuecomment-1129239243 when bumping RLS (which depends on tokio). @Mark-Simulacrum is going to revert this in the upcoming beta, and post a revert PR for master soon.

[2022-05-17 20:57] nikomatsakis commented on #91693
Hi all. @jackh726  and I have read though this thread and discussed the concerns being raised. I wanted to write a comment that just tries to summarize the concerns to make sure that I'm not missing anything; I also would like to write a (separate) comment summarizing some of the other points that have been raised on the thread in the other direction.

### Core concerns

I believe there are a few

[2022-05-17 21:13] superatomic commented on #86442
I support stabilizing `IsADirectory`, but I highly suggest that we stabilize `NotADirectory` at the same time as they are opposites of each other. (like @lucacasonato said)

It _might_ also be worth stabilizing `DirectoryNotEmpty` as well, but it doesn't appear as important and is only partially related (it's the only other directory-related error, but it doesn't deal with the _existence_ of direc

[2022-05-17 21:15] superatomic commented on #86442
Is there some way to prevent or warn about the use of `ErrorKind::Other` and `ErrorKind::Uncategorized`? Perhaps a Clippy lint like @ijackson was talking about might make sense.

Returning unstable variants is still not ideal even if we should treat them like `ErrorKind::Other` in stable code and just use wildcards. I think the biggest potential problem is that returning unstable varients implies

[2022-05-17 21:32] mbartlett21 commented on #97082
Note: The error message is now "function pointer calls are not allowed in statics"

[2022-05-17 22:35] lilyball opened #97125 "rustdoc percent-encodes `~` in URLs, breaks links"
# `~`

When generating documentation with rustdoc, it appears to percent-encode `~` in link destinations. For an example, see [`moka 0.8.3`](https://docs.rs/moka/0.8.3/moka/index.html). At the bottom of the crate documentation is a link with the title "hierarchical timer wheel". The href in the HTML is `http://www.cs.columbia.edu/%7Enahum/w6998/papers/ton97-timing-wheels.pdf`, note the `%7E`, wher

[2022-05-17 22:49] Mark-Simulacrum commented on #97124
Posted master revert (#97127) and added it to https://github.com/rust-lang/rust/pull/97088 (targeting 1.62) as well.

[2022-05-17 23:26] yaahc commented on #93203
Are we certain this issue will be rare? The original repro in https://github.com/rust-lang/rust/issues/93203#issuecomment-1084630290 is just from using a non `'static` reference in a scoped thread, right? That seems like a primary use case to me. The only source I can find saying this is a rare issue is in https://github.com/rust-lang/rust/issues/93203#issuecomment-1095946502 but there doesn't see

[2022-05-17 23:29] est31 commented on #97108
Right now, `macro_rules` is a macro itself, and also reuses the same logic for parsing macro declarations that normal `macro_rules` matchers use. That's probably why the errors are so bad. One could think about turning `macro_rules` into something "properly" parsed, then it can give better errors.

[2022-05-18 03:11] aliemjay commented on #72614
Fixed in 1.49.0

@rustbot label E-needs-test

[2022-05-18 05:57] yescallop commented on #86319
One of my concerns is that a `file_prefix` or `file_suffix` method that simply slices the path wouldn't be very much useful, because it is common that users insert dots in the meaningful part of file names, such as `foo.bar.tar.gz`. The current `file_stem` and `extension` methods exist mainly because of File Associations on Windows and common practice on Linux, while it is relatively rare that one

[2022-05-18 06:04] alexschrod commented on #81444
I'm a bit confused. This code overflows the stack on stable, but not beta or nightly on [the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a93cd207fed5446ed85684c911641a15):
[code]
Not overflowing on beta means that whatever fixes this will be in the next stable release, right? But I'm not seeing any activity on this issue since May of last year, so I'm confus

[2022-05-18 06:05] lmapii commented on #86319
While it might be impossible to have a 100% correct implementation in my opinion it would already be helpful to simply have all rust crates behave in a known manner. E.g., there are now hundreds of rust crates out there dealing with files, e.g., matching filenames, all behaving a little different. It is impossible to know how a rust crate that you're including will behave.

Even having a method th

[2022-05-18 06:14] matheus-consoli opened #97133 "Improve the error message of typos on variables that has the same name as struct fields"
If a method's arguments have a name close to a struct field and we use the field name by mistake when trying to refer to the variable, the message is not very helpful. This should be more common inside `new` methods.

Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fb2f6006c85d85a96e3440f9713c91cf)

[code]

The current output is:

[cod

[2022-05-18 06:23] #96611 closed

[2022-05-18 06:23] #96934 closed

[2022-05-18 06:39] RalfJung commented on #97092
I think a user overriding the opt level in Miri is fine, as long as the user is aware that this might miss UB.

But indeed by default Miri should be run on MIR without any UB-removing optimizations?

[2022-05-18 06:45] mightyiam commented on #80858
Well, that's just a different implementation. The point is this: this is a table of contents generated from the headings of a page.
It's not about the public items such as modules, functions and traits.

And I'd like this as well.

@jyn514 ?

[2022-05-18 07:02] EvanCarroll commented on #86319
It's not actually relatively rare. We went over this in voice chat. I gave you multiple reasons why someone would want to do this. In practice,

* `.tar.gz`
* `.spec.ts`
* `.openapi.yaml`
* `.conf.d` (for an example in a directory)

It's very popular with javascript (where there is no magic byte and everything is js) `.d.ts`, `.conf.json`, `.conf.js`, `.rc.json`, `rc.js`, `.esm.js`, `.cjs.js`. But

[2022-05-18 07:08] m-ou-se commented on #93203
It works fine with non-'static lifetimes: borrowing from the local scope works without problems, as shown by the example at the top of this thread and in the docs. The issue seems to pop up when the lifetime comes from outside the current function. I wouldn't say it's a super rare case, but it's less common than just borrowing things from the local scope.

I'm hoping we can stabilize both `nll` an

[2022-05-18 07:33] m-ou-se commented on #97124
As I posted on https://github.com/tokio-rs/tokio/issues/4670#issuecomment-1129666326:

[2022-05-18 07:59] m-ou-se commented on #86442
Using `Uncategorized` already gives an error:
[code]

Or do you mean something else?

I'm not sure I understand. `ErrorKind` is `#[non_exhaustive]`, so you'll always have to take into account that it might have more variants than you can't match on. Whether some of those have an unstable/experimental name or not shouldn't make any difference.

What would happen if an (indirect) dependency enables

[2022-05-18 08:14] Xuanwo commented on #86442
I prefer to stabilize the following error kind:

- `NotADirectory`
- `IsADirectory`
- `DirectoryNotEmpty`

The reasons are listed as follows:

**They are normal**

Any call to `remove_dir` or `create_dir` could trigger them unless we check `metadata` every time we try to call `std::fs` functions.

**They are actionable**

Developers have a strong need to check and match them.

Think about we are d

[2022-05-18 08:46] yescallop commented on #86319
There might've been some misunderstandings here. Let's take this file name `File Version 3.5.4 (Copy).tar.gz` (from Jacob Lifshay) as an example.
In this case, `.file_prefix()` returns `File Version 3` while `.file_suffix()` returns `.5.4 (Copy).tar.gz`. If you need to determine if this file name ends with `.tar.gz` or not, you still need to do stuffs like
[code]
IMO this is not optimal. Maybe we

[2022-05-18 09:23] InfRandomness opened #97138 "Error on bootstrapping : Empty search path given via '-L'"
I've had this happen to me on my Linux machine and I do not understand why that happens,
This does not seem to be happening on my other machines, so I'm thinking that something on my system is borked, or some tool is not properly configured

[code]

[2022-05-18 09:33] apiraino commented on #96926
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396926.20Crates.20using.20different.20panic.20modes.20may.20introduce.20UB.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-05-18 09:50] apiraino commented on #94509
I _think_ I cannot reproduce this anymore on {nightly,beta,stable}.

[2022-05-18 09:52] #94098 closed

[2022-05-18 09:53] #46276 closed

[2022-05-18 09:53] #93980 closed

[2022-05-18 09:53] #95972 closed

[2022-05-18 09:53] #96223 closed

[2022-05-18 09:55] Urgau commented on #97125
`rustdoc` use [`pulldown-cmark`](https://github.com/raphlinus/pulldown-cmark) for it's markdown parsing and writing.

As I understand the library use a very simple and a bit naive algorithm to determine which character to encode based on this table https://github.com/raphlinus/pulldown-cmark/blob/9bfba94ca849c7d9d75b53ba1f505761954e6290/src/escape.rs#L29-L38 where `1` represent `true` and the tabl

[2022-05-18 10:03] RalfJung commented on #54470
See https://github.com/rust-lang/rust/pull/94421#issuecomment-1124285795 for some of the fall-out of doing this: by using `Box`, this becomes subject to the `Box` aliasing guarantees, which is in conflict with some modes of use of `Vec` that rely on being able to `push` without invalidating existing pointers (which seems to be encouraged by the documentation, and there are tests ensuring it works

[2022-05-18 10:06] danielhenrymantilla commented on #93203
My bad, I missed a _imho_ qualifier in it, since that wasn't an objective statement. To detail: I suspect the cases where this issue will be _fully blocking_ one's usage to be rare.

Indeed, while the cases where we may run into this issue ("lifetime comes from outside the current function") can happen, they can be worked around by:

  - either feeding that lifetime name to `scope()`:

[code]

  -

[2022-05-18 10:33] EdenSegal commented on #92547
I also think that truncate_front is needed.

[2022-05-18 10:57] ssomers commented on #81444
I don't actually see that behaviour on your playground example; instead, all release builds succeed and all debug builds overflow. Maybe playground assigns different platforms depending on karma.

I do see it with my value example on my own Windows machine: maximum value size has increased from about 37600 to about 63500. Zooming in on nightly builds, this improvement happened in nightly-2022-03-2

[2022-05-18 11:54] alexschrod commented on #81444
I don't know what to tell you except I'm finding this to be [very reproducible](https://youtu.be/1nfQS3l5As0).

[2022-05-18 13:29] kpp opened #97143 "failed to extract DefId: local_def_id_to_hir_id"
I was warking with my code, `cargo b`, `cargo c`, but suddenly it broke on `cargo check`.

### Code

Sorry, no code.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-18 13:41] m-ou-se commented on #86442
The only thing I want to know before stabilizing any of them, is if they make sense on all/most platforms. E.g. ideally, trying to remove a non-empty directory would result in the same DirectoryNotEmpty error kind on all platforms.

This doesn't necessarily have to be a strict requirement. There might be cases where one OS simply does not have errors that are specific enough. But in those cases we

[2022-05-18 14:19] JohnScience commented on #67792
It is **not** a bug. The thing is, the code below is not valid Rust syntax. A reminder what attributes and attributes macros are. They accept valid Rust syntax and return modified Rust syntax. That's why [`unconst_trait_impl`](https://crates.io/crates/unconst_trait_impl) is implemented is implemented the way it is. Only function-like macros can accept pieces of not Rust code.

[2022-05-18 14:31] Jzow opened #97145 "How to run executable binaries built from different operating systems on the server"
First of all, I don't know what label to add to this problem. I hope to get some help. Before raising this question, I sent similar questions in the [official forum](https://users.rust-lang.org/t/how-do-i-run-my-program-on-the-server/75792). friends also mentioned cross compilation, but I'm not sure whether to do so.

My locally developed operating system: **Mac Intel**
Target server operating sys

[2022-05-18 14:39] RalfJung commented on #54470
Thanks. :)

I tend to agree -- I think we have to keep this code working:
[code]
The question then is whether we weaken `Box` to also allow such code, and whether that is compatible with its `noalias` status -- or whether we need a "Box light" for `Vec` that just provides automatic deallocation but no aliasing guarantees.

[2022-05-18 15:22] jamesmunns opened #97146 "Double-panics recurse in `panic = "abort"` mode"
Today @diondokter noticed that in a `no_std` embedded binary, which is configured to use `panic = "abort"` as a default, a panic during the panic handler will recurse, rather than abort.

Here is an embedded reproduction case (you'd need an nRF52840-DK, but I've included the output in the README):

https://github.com/jamesmunns/multi-panic

The docs [mention 'abort on double panic'](https://doc.ru

[2022-05-18 15:30] jamesmunns commented on #97146
For the record, if the unstable `build-std-features=panic_immediate_abort` flag is set, the compiler will generate a `UDF` instruction (basically a hard abort instruction) for these platforms, so it could be possible to re-use that behavior on embedded.

[2022-05-18 15:42] Jzow commented on #97145
@ehuss thanks

[2022-05-18 16:28] SamPruden commented on #29864
One use for this which I'm particularly excited about but haven't seen explicitly mentioned is that it allows things like this:

[code]

A use case for this would be [Bevy's](https://github.com/bevyengine/bevy) queries, which look like this.

[code]

I'd love to see this stabilized!

[2022-05-18 18:29] WaffleLapkin commented on #67792
This actually allows to workaround the issue using [a macro that is defined differently depending on a cfg](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e378426cf4de5264c5cb30aa462da8a3).

[2022-05-18 18:59] kpp commented on #97143
Well I may try to give you the code, but it's a huge amount of code. I can't/don't want to reduce it to MRE.

[2022-05-18 19:05] cjgillot commented on #97143
This looks like a bug with incremental compilation.  We will need both the code and the last version that passed `cargo check`.  `cargo clean` should allow you to continue working.

[2022-05-18 19:20] mrMiiao opened #97148 "pub use std::sys;"
Hi! Probably my opinion is wrong. I’ll share it with you though. I think making an unstable feature for using std::sys as public module is a good idea. Really! Such a good wrapper around OS, safe or unsafe, could be very useful for optimizations.

[2022-05-18 21:02] NotWearingPants commented on #59567
Another use-case: https://users.rust-lang.org/t/close-file-before-drop/70071

[2022-05-18 21:02] joshtriplett commented on #70436
So, I *do* care very much about vectored I/O as well, and I care about the use case of being able to reuse the iovecs repeatedly, which is also something people do in C for reasons of both performance and simplicity. I'd like to be able to do that *somehow* in Rust, and not have to throw away and recreate the array of iovecs every time. I'm trying to brainstorm some data structure that will allow

[2022-05-18 22:18] lcnr opened #97156 "using values of `TypeId` in the type system is unsound"
[code]
`TypeId` being different for equal types allows us to take change the value of a projection by switching between the equal types in its substs and observing that change by looking at their `TypeId`. This is possible as switching between equal types is allowed even in invariant positions.

This means that stabilizing `const TypeId::of` and allowing constants to flow into the type system, e.g

[2022-05-18 22:19] lcnr commented on #77125
blocking the stabilization of this on #97156

[2022-05-19 00:06] mbhall88 commented on #86319
I think this is probably the "correct" way to approach this. With such an iterator method we can easily implement any/all flavours of splitting up file names.

[2022-05-19 01:28] Zoybean opened #97160 "u32 as char: suggested code is unchanged"
Given the following code: [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=56feb6a3c94276828fea25c348a7bc8f)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-05-19 01:38] eddyb commented on #97156
There is a lot of confusion here btw.

Both legacy and v0 mangling, and both the `TypeId` hash and a v0-mangling-based implementation (like #95845), use the same encoding for higher-ranked lifetimes (it's why the v0 mangling mentions lifetimes at all!), though legacy symbols/type hashes only as the input to the hash.

You couldn't not mangle them because otherwise `TypeId::of::<One>` and `TypeId::

[2022-05-19 03:25] holi-java commented on #53827
I found the unstable feature `box_syntax` can allocate literal array on heap directly.
[code]

[2022-05-19 03:29] AlexApps99 commented on #53827
As previously discussed in this issue, this feature is unlikely to be stabilized.

[2022-05-19 03:52] yescallop commented on #86319
FYI, here's [my attempt](https://github.com/yescallop/rust/commit/1a36e5147c2f32cafa8a7d5e5596a823789e97a4) to implement `Path::extensions` which is akin to `suffixes` in python. Your comments are very welcome.
[code]

[2022-05-19 04:52] gimbles commented on #97160
@rustbot claim

[2022-05-19 05:06] Warrenren opened #97162 "Unix Rwlock write_contended code issue"
I have review the following code for a lot times:
the code position: /library/std/src/sys/unix/locks/futex_rwlock.rs : line 212
[code]
the code should test the current "self.state" again to avoid  unlock write. but  "state" is old and is tested. I can not get what it does.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-05-19 05:20] pnkfelix opened #97163 "mislead type ascribed to collection in a `for` loop diagnostic error"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=98a77883b520b4231e8fb0fdf48abb5a)):

[code]

I expected to see this happen: I expect an error, but I expect the diagnostic to report types that corespond to all the expressions involved.

Instead, this happened: Part of the error diagostic claims that `&mut map` has type `Option<(&(char, char),

[2022-05-19 05:56] gimbles commented on #97138
Just happened to me as well, a better error message would be lovely. =D

[2022-05-19 06:00] gimbles commented on #97138
Update -> Can confirm, installing `libstdc++-static` fixes it. Tested on Fedora 36 (Silverblue), but should work on any distro.

[2022-05-19 06:07] gimbles opened #97164 "`pub **macro** m()` in rustc_privacy"
https://github.com/rust-lang/rust/blob/master/compiler/rustc_privacy/src/lib.rs#L394-L396
AFAIK, I don't think this is correct?

From what I can tell, this is supposed to be
[code]

Or something else?

[2022-05-19 06:15] bombless opened #97165 "Unnecessary Clone constraint requirement for associate type"
Example:
[code]

It says
[code]
but it is not really necessary , since it actually require `Buz::Assoc : Clone`.

Is this intended behavior?

I believe this can be improved on derive-clone attribute implementation.

playground https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=82c1c2d13bd1dcf1ab517f3ff1ca940e

[2022-05-19 06:19] gimbles commented on #97164
Whoops, forgot about Macros 2.0, my bad.

[2022-05-19 06:19] #97164 closed

[2022-05-19 06:27] RalfJung commented on #97156
In which sense are these types "equal"? Two allows references with different lifetimes, One does not, so those look like different types to me.

Going off the issue title, are you saying they each is a subtype of the other? That is different from saying they are "equal" though.

[2022-05-19 07:07] clarfonthey opened #97167 "CTFE cycle error doesn't point out actual location of cycle"
Here's some inconspicuous-looking Rust code. Can you spot the error? [(playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=456b560fd1292493f37fe5178099c819)

[code]

Although the contents of the error *technically* reveal what's wrong, they do so in a very roundabout way that doesn't make it as obvious to the passive reader. At least, when I first saw this, I

[2022-05-19 07:07] RalfJung commented on #87184
This affects `swap_nonoverlapping`, which no longer supports copying a pointer by using type `u8` and a large enough `size` to cover the entire pointer. That used to work basically by chance since the old implementation did some optimizations to swap data in larger chunks; https://github.com/rust-lang/rust/pull/94212 removed that optimization and thus broke this case in Miri.

[2022-05-19 07:11] 0-wiz-0 commented on #96914
Patches fixing this now exist:
https://mail-index.netbsd.org/pkgsrc-changes/2022/05/18/msg254732.html
thanks to Håvard Eidnes. What's the best way to get them integrated?

[2022-05-19 07:20] conradludgate commented on #54470
I know little about how the aliasing rules work. However, I would be fine with `Box<T>` being noalias, but then `Box<[T]>` it would make sense in my mind for each individual `&T` to be noalias instead of the whole box.

How do the noalias rules interact with things like

[code]

Maybe I'm wrong, but I vaguely remember that destructuring to be magic in splitting the mut references. I would consider

[2022-05-19 07:26] gimbles commented on #97160
Et Voila!

![image](https://user-images.githubusercontent.com/93856041/169236242-ee087459-c544-48f0-b3fa-59abbdc65dca.png)

@Zoybean Here's the final result, pushing a PR soon 👋🏻

[2022-05-19 07:45] RalfJung commented on #54470
If you use `foo` again, *both* `x` and `y` are being invalidated. So, the problem also exists there.

It's not really magic, you can do the same with
[code]

[2022-05-19 07:59] conradludgate commented on #54470
Ideally then, our slice solution would work such that

[code]

Is also valid. This is obviously harder though since the IndexMut trait takes the entire `&mut self`. That's the reason that `slice_at_mut` method exists to get around this current limitation

[2022-05-19 09:23] ssomers commented on #81444
You're right, I must have bungled up the first time.

I was also focusing on release builds but my command-line tests are debug too. Let's make sure of one thing: in release builds, in my example, the same nightly-2022-03-21 increased the value type size limit from about 150k to 350k.

I put the same example as a test in frank's branch, e,g.
[code]
That confirms that it's really #92962 that someho

[2022-05-19 09:45] oli-obk commented on #97156
Well... from a user perspective any function that will be allowed as a function pointer of type `One` will also be allowed as a function pointer of type `Two`. Also any caller to `One` can just also call `Two` without any visible behaviour (if the function pointers actually point to the same function).

So they are structurally different, but behaviour wise they are the same. If we had sufficientl

[2022-05-19 09:58] ssomers commented on #81444
#92962 obviously made all the above examples special: they insert into a fresh, treeless map. If we let them insert a second time, into a then "genuine" map, we have the original regression problem: something works fine in stable ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c5e74f59ef0e1375d2e4b58724bebc8c)) but fails on beta and nightly.

[2022-05-19 10:18] rafrafek commented on #87131
Download is super slow, compare `rustc` 40.7 MiB/s with `rust-docs` 59.2 **KiB**/s:

![obraz](https://user-images.githubusercontent.com/23004737/169270850-2a018cc1-b81f-4db6-9391-c48f91f489a9.png)

[2022-05-19 10:40] InfRandomness commented on #97138
Being a fedora 37 user, I installed libstdc++-static and this effectively solved my issue

[2022-05-19 10:44] #97138 closed

[2022-05-19 11:34] A1-Triard commented on #73576
It accepts single comma as an input. There is better way: `$($($e:expr),+ $(,)?)?`.

[2022-05-19 12:07] b-naber commented on #95701
@jackh726 Is this a blocker for removing migrate mode?

[2022-05-19 12:17] jackh726 commented on #95701
In my opinion, no. It's just a suggestion.

[2022-05-19 12:37] Titaniumtown commented on #97117
You could say that 3 times!

[2022-05-19 12:42] nikomatsakis commented on #73154
So I was just talking to @jackh726 about this bug. The work that @lcnr, @oli-obk and I are doing to implement the newer subtyping algorithm suggested by a-mir-formality will address this problem, I believe, or at least it is a step in the right direction. The key idea of that work that is relevant here is that the job for doing the "leak check" will move into the trait resolver -- this I think is

[2022-05-19 12:44] nikomatsakis commented on #73154
In the meantime, what we could do in the coercion code is to extend our check.

Instead of saying, can A be cast to B and -- if so -- making B be the target, we could ask:

* Let `A->B` be true if A can be cast to B
* Let `B->A` be true if B can be cast to A

then

* If `A->B && !B->A` then we want to make `B` the target
* If `B->A && !A->B` then we want to make `A` the target
* Else the two types

[2022-05-19 13:09] akrsri opened #97173 "Internal Compiler Error encountered: delayed_good_path_bugs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-19 13:58] kjetilkjeka opened #97174 "NVPTX: "LLVM ERROR: Cannot select" when returning struct with 3byte size from "device function""
I tried this code (compiling with `rustc +nightly main_rs.rs --target nvptx64-nvidia-cuda --crate-type=cdylib --emit=asm`):

[code]

I expected to see this happen: A well formed .ptx file

Instead, this happened: The following error (from ptx linker)
[code]

### Meta
`rustc --version --verbose`:
[code]

### Comment
It seems like there are problems with the `NVPTXISD::StoreRetval` being used with a

[2022-05-19 14:00] kjetilkjeka commented on #97174
@rustbot label +O-NVPTX

[2022-05-19 15:21] oli-obk commented on #90409
Oh interesting, this happens only with `--crate-type=lib`

[2022-05-19 15:29] sunfishcode commented on #87074
Current status:
 - [Request for Stabilization](https://github.com/rust-lang/rust/issues/87074#issuecomment-1073069181)
 - [A helpful summary of the API](https://github.com/rust-lang/rust/issues/87074#issuecomment-1123099079)
 - There is a [Proposed FCP](https://github.com/rust-lang/rust/issues/87074#issuecomment-1075152025), with two open concerns:
   - OwnedHandle's TryFrom impls [is fixed](#9619

[2022-05-19 15:46] Elias-Graf opened #97181 ""thread panicked while panicking. aborting." when panicking in display trait, which is utilized in panic"
**The following occurs when running the tests**

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=35f64605807f3e34fd6a5cb1e650677c

[code]

When the tests are ran, the current output is:

[code]

After figuring out what the actual issue is, the error message makes sense. But my debugging journey would have been more pleasant, if the source location

[2022-05-19 18:22] mbuesch commented on #82104
Thanks for fixing this bug! :)

[2022-05-19 18:41] agausmann opened #97186 "Linker error from symbols containing unevaluated const generics when generic_const_exprs is enabled"
Minimal example:

[code]

(I know this snippet technically doesn't need `generic_const_exprs`, but it is needed in the code that this example was derived from. If I remove `generic_const_exprs`, this compiles and links without error.)

When trying to compile this on nightly (cd282d7f7 2022-05-18), I get a linker error:
[code]

### Meta

This may be related to #96699

I had originally tested this w

[2022-05-19 18:53] carols10cents commented on #95732
For anyone else who's curious (I'm not trying to relitigate this issue or anything), the ripgrep churn I was referring to was https://github.com/BurntSushi/ripgrep/pull/1722/files#diff-4dda3b4b1094bbd540a7548319bd9b4367e93ce4662873d863c219b1b0799adbL43 that I found through [this comment](https://github.com/rust-lang/rust/pull/95345#issuecomment-1079840365).

[2022-05-19 19:30] agausmann commented on #97186
I'd like to help tackle this but I'm not very familiar with compiler internals.
Maybe some kind of differential analysis/tracing would be helpful, since a one-line feature toggle causes this to break?

Here's some logs that that might be interesting to diff. Produced with `cargo clean; RUSTC_LOG=trace cargo b`:
[error_with_gce.log](https://github.com/rust-lang/rust/files/8733685/error_with_gce.log

[2022-05-19 19:36] darconeous commented on #27709
So what is holding up the stabilization of methods like `Ipv6Addr::is_unicast_link_local()`? Certainly that could be considered stable by now, right?

[2022-05-19 19:46] nikomatsakis commented on #84673
@rfcbot reviewed

[2022-05-19 19:55] SNCPlay42 commented on #97173
Duplicate of #96583, which is already fixed. Output on latest nightly:

[code]

[2022-05-19 20:08] SNCPlay42 commented on #97181
When run through `fn main()` instead of a test:

[code]

The full panic message and backtrace for the second panic is printed:

<details>

<summary>Output</summary>

[code]

</details>

I think when run as a test, the panic output is captured (as normal for a test), but is then not printed because of the abort.

@rustbot label -A-diagnostics -T-compiler +A-libtest

(I'm not sure what the correct t

[2022-05-19 20:37] D3PSI commented on #21903
this would be such a juicy feature, is there any chance this will ever be implemented?

[2022-05-19 20:44] SNCPlay42 commented on #97181
The output capturing mechanism has code to try to prevent capturing output from a double-panic:

https://github.com/rust-lang/rust/blob/c0672870491e84362f76ddecd50fa229f9b06dff/library/std/src/io/stdio.rs#L996-L1013

But the panic message is actually written into a string first:

https://github.com/rust-lang/rust/blob/c0672870491e84362f76ddecd50fa229f9b06dff/library/std/src/panicking.rs#L543-L554

[2022-05-19 20:54] jonhoo commented on #75362
And some additional bits of info, note that Clang 14 has a but where prefix remappings do not get applied to files passed in using absolute paths, which happens in `compiler_builtins` for the assembly files like `floatundisf.S`. The fix is [here](https://github.com/llvm/llvm-project/commit/a2db7d5e9c52804544363ea819de174bfaa7ecdd), but hasn't landed in an actual Clang release yet. Earlier Clang ve

[2022-05-19 21:06] thalesfragoso commented on #95496
@RalfJung I take that this also applies to DMA configuration through MMIO (bare-metal rust), right ?

Currently, we generate the MMIO interface through (mostly) vendor provided SVD files, where we usually get just the width of the registers, so we always use unsigned integers. It seems that we would need to manually patch the DMA address registers to have a pointer type. Should we use `*mut ()` ?

[2022-05-19 22:13] ojeda commented on #96472
It might be nice to (in addition) suggest to move the unknown feature to the custom target specification file if such a file was used to begin with instead of a built-in target.

[2022-05-19 22:15] zseri commented on #84277
I also tried applying the "present in nightly" `try_trait_v2` traits to one of my projects: https://github.com/zseri/gardswag/commit/0923d8d5d7af7ac9ef8079990ceb605091249d1c
For me, the need to duplicate part of the implementation ( `From<Option<Result<_,_>>>` vs the `FromResidual + Try` implementations) was a bit annoying, it wasn't clear to me how that should be avoided (it was necessary bc of u

[2022-05-19 22:15] tgross35 commented on #34261
Found this discussion regarding KaTeX https://internals.rust-lang.org/c/announcements/18 but it seems to have stalled, and KaTeX wasn't even the main purpose. I guess the floor there is open for a new discussion?

[2022-05-19 22:25] MingweiSamuel commented on #34261
@tgross35

That seems to be the wrong link?

[2022-05-19 22:40] tgross35 commented on #34261
@MingweiSamuel whoops thanks for the catch, edited it

[2022-05-19 22:47] matthiaskrgr opened #97193 "ICE: 'explicit panic', compiler/rustc_ast_lowering/src/lib.rs:1173:"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-19 23:00] matthiaskrgr commented on #97193
Regression in `nightly-2022-04-29`

Regression in c95346b8ac8f10927b4aec31e61d45c75b10ba74 / #91557
cc @cjgillot

[2022-05-19 23:12] matthiaskrgr opened #97194 "ICE: missing resolution lifetime"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-19 23:19] matthiaskrgr commented on #97194
Regression in nightly-2022-04-29

Regression in https://github.com/rust-lang/rust/commit/c95346b8ac8f10927b4aec31e61d45c75b10ba74 / https://github.com/rust-lang/rust/pull/91557
cc @cjgillot

[2022-05-19 23:23] bonzini commented on #76314
Is it possible to write a signature that *consumes* the &mut? The point of from_mut is that an AtomicUxxx *can* be accessed safely from multiple threads, without causing UB. It supports interior mutability, so it should be possible to get a shared reference to an atomic without using unsafe. But that's only possible if one cannot write

[code]

If that's not possible then yeah it has to be unsafe.

[2022-05-19 23:58] jonhoo opened #97196 "Handling of linker flags appears to have changed from 1.60 to 1.61"
rustc appears to have changed the flags it passes to the linker, which has made the order of `-l` flags significant in a way that they were not before.

### Code

First, steps to set up a Cargo project to replicate the problem:

[code]

With Rust 1.60.0 installed, this builds and runs fine (`cargo b; cargo r`).

With Rust 1.61.0 installed, the build errors with:
[code]

Flipping the order of the `

[2022-05-20 00:01] GabrielDertoni opened #97197 "Index out of bounds while checking function arguments"
### Code

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2bcda868a0f4634e13b9d8b77a7f5832)

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-20 00:07] nbdd0121 commented on #97196
I believe this is expected. The order of the two lines is indeed wrong; the problem is just masked before 1.61.

[2022-05-20 00:08] jonhoo commented on #97196
That seems reasonable, though it is a regression. May be worth updating the release notes to mention this change in behavior if it's expected and desired?

[2022-05-20 00:09] BGR360 opened #97198 "Cargo not passing `-lstdc++` when linking `rustc-main` on 1.61.0"
We build rustc from source at work. I'm trying to upgrade to 1.61.0 today.

We use configure/make as such:

[code]

The build fails when trying to link `rustc-main` for `stage0-rustc`, citing a couple unresolved symbols from `libstdc++`:

[code]

<details>
<summary>Full build spew</summary>

[code]
</details>

If I run that `cc` command and manually add `-lstdc++`, it appears to work.

Does anybod

[2022-05-20 00:10] tmfink commented on #97196
This is potentially related other issues related to order of link arguments in #96328 and https://github.com/rust-lang/cargo/pull/10600.

[2022-05-20 00:14] tmfink opened #97199 "Missing entry for 1.61.0 in RELEASES.md"
[RELEASES.md](https://github.com/rust-lang/rust/blob/c0672870491e84362f76ddecd50fa229f9b06dff/RELEASES.md) does not have an entry for `1.61.0`.

The [Announcing Rust 1.61.0](https://blog.rust-lang.org/2022/05/19/Rust-1.61.0.html) [link](https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1610-2022-05-19) refers to a heading that does not exist.

[2022-05-20 00:22] BGR360 commented on #97196
Any chance this is causing the issue I just encountered in https://github.com/rust-lang/rust/issues/97198?

[2022-05-20 00:22] Mark-Simulacrum commented on #97199
Looks like we didn't catch one of the links - https://github.com/rust-lang/rust/blob/stable/RELEASES.md#version-1610-2022-05-19 is a working link. Happy to accept a PR to the blog to update the broken link, and the notes should merge to master soon as well.

[2022-05-20 00:35] BGR360 commented on #95529
Piping in to say that I desire the exact same thing for the exact same use case (return-tracing powered by `Try` and `#[track_caller]`).

I also brought this up in an old zulip thread: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/function.20names.20in.20.60.23.5Btrack_caller.5D.60

I am willing to work on the implementation of this if I get buy-in and a little bit of ment

[2022-05-20 01:05] #97160 closed

[2022-05-20 01:06] porglezomp opened #97200 "[E0532] Error when using functions in patterns should give an explanation of patterns"
Given the following code: [(Playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d0c78b010de0962788843dd4bbd4ca07)

[code]

The current output is:

[code]

The error message should give/link to an explanation of what kinds of things are expected in patterns in general, maybe in a note.

([Filed at request of](https://twitter.com/ekuber/status/1527436099924111360) @e

[2022-05-20 02:07] joshtriplett commented on #91789
https://github.com/rust-lang/rust/pull/97202

[2022-05-20 02:17] tmfink commented on #97199
Well, it's fixed now in `master`:

https://github.com/rust-lang/rust/blob/a09d36deae2e25f2eb4a0ee5d95519042ebd66a2/RELEASES.md

[2022-05-20 02:17] #97199 closed

[2022-05-20 02:40] agausmann commented on #97186
Output of `rustc --emit llvm-ir repro.rs`: [repro.ll](https://github.com/rust-lang/rust/files/8735342/repro.ll.txt)

Notably, there is a `<repro::SomeFoo<_> as repro::Foo<_>>::foo` defined, but with a different suffix than the one called, and the one called is declared as a hidden symbol as the original error message suggested:

[code]

[2022-05-20 03:27] rust-highfive opened #97204 "`miri` no longer builds after rust-lang/rust#97027"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#97027, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @cuviper, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-05-20 03:42] yvt commented on #96330
Fixed by #96800

[2022-05-20 03:42] #96330 closed

[2022-05-20 04:30] WaffleLapkin commented on #76314
@bonzini borrow checker will stop you from doing any undefined behavior here :)

`AtomicUsize::from_mut` returns a reference, so the lifetime is preserved, `xref` will be frozen while `xaref` is alive.
You can use [playground] to see that this code is rejected:
[code]
[code]

[playground]: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=395f854510269939f1327f3ecbf41f69

[2022-05-20 05:00] camelid commented on #80218
I will open a stabilization PR next week or so.

[2022-05-20 05:03] camelid commented on #95657
We're generally trying to avoid adding more configuration since it increases UI complexity and makes debugging harder. So I think it'd be better to always show the lock than make it configurable.

[2022-05-20 05:12] kpreid opened #97205 "False positive unused_attributes lint on doc(hidden) attribute on non-trait associated item"
Given [the following code:](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cdf6e2e3fe10d237f31c791ee3ece535)

[code]

The current output (on nightly) is:

[code]

This warning is incorrect because this is not a trait impl, but an inherent impl.

Tested with local nightly `rustc 1.63.0-nightly (cd282d7f7 2022-05-18)` and Playground `2022-05-19 c0672870491e84362f76`.

CC #9

[2022-05-20 05:29] tgross35 commented on #34261
Talk about timing - just announced today that GH markdown will support TeX (via MathJax) https://github.blog/2022-05-19-math-support-in-markdown/

[2022-05-20 05:30] agausmann commented on #97186
@rustbot label +F-generic-const-exprs +T-compiler

[2022-05-20 05:59] RalfJung commented on #76314
Your example uses an &, not an &mut, so I am a bit confused by the question in general.

[2022-05-20 06:01] joshtriplett commented on #53120
@jhpratt Yes. And in the meantime it's probably a good idea to start preparing PRs to remove the *usage* of it.

[2022-05-20 06:03] bonzini commented on #76314
Don't write Rust on a phone is the logical conclusion of that (I edited now). Anyway, then I think from_mut should return a shared reference.

[2022-05-20 06:06] RalfJung commented on #76314
But why? There is no benefit from that, only less (well-defined) code that can compile.

[2022-05-20 06:10] jhpratt commented on #53120
Ok. I can, at the least, remove all usage of it in the main repositories. That should be quite easy. If I have time, I will also remove the internals of it. If someone else feels the urge to do that, though, feel free; just let me know so I won't.

[2022-05-20 07:09] petrochenkov commented on #97196
@jonhoo

This is already in release notes, the first compatibility note in https://github.com/rust-lang/rust/blob/stable/RELEASES.md#compatibility-notes.

[2022-05-20 07:13] petrochenkov commented on #97196
@BGR360
This is likely the last compatibility note in https://github.com/rust-lang/rust/blob/stable/RELEASES.md#compatibility-notes

[2022-05-20 08:06] RalfJung commented on #95496
Uh, DMS/MMIO touch on many aspects that are quite hard to catch formally.^^

But, generally speaking: if the compiler just sees `ptr.addr()`, it can still do the full suite of optimizations on `ptr`, treating it as "not exposed to other code". So that is probably not what you want with MMIO. You can use `ptr.expose_addr()` to give the integer address in the `ptr` away in such a way that the other

[2022-05-20 08:08] RalfJung commented on #95496
Yes. When you convert a reference to a raw ptr, the mutability of the ptr matters: `x as *const _` produces a read-only pointer, `x as *mut _` can be used for mutation (if `x` is a reference). But once you have a raw ptr, casting back and forth between `const` and `mut` is inconsequential.

[2022-05-20 08:12] rafrafek commented on #87131
Still super slow for 1.61.0

![obraz](https://user-images.githubusercontent.com/23004737/169484429-99edfa46-c11b-4667-a745-f129cdf29dc0.png)

[2022-05-20 08:26] fmease commented on #97205
Sorry, stupid oversight that could've been prevented with a more extensive test. PR is up.

[2022-05-20 08:33] fmease commented on #96890
Should I remove the lint entirely or should I adjust `#[doc(hidden)]`?

[2022-05-20 08:42] Urgau commented on #97198
Adding `--disable-llvm-static-stdcpp` should probably do it.

If it doesn't work @jyn514 might have a idea.

[2022-05-20 08:52] kinnison commented on #87131
@rafrafek you are comparing download speed vs. install speed.  rust-docs is a very IO operation heavy component because it contains tens of thousands of small files. If you happen to have a virus scanner which is getting in the way of the unpacker then this can cause the slowdown you are experiencing.

[2022-05-20 08:55] rafrafek commented on #87131
@kinnison not sure, it says installing, looks like downloading

[2022-05-20 08:57] kinnison commented on #87131
@rafrafek we use the same progress-bar code for both codepaths.  Believe me, that's *installing*.

[2022-05-20 09:03] rafrafek commented on #87131
@kinnison ok, understandable, thanks!

[2022-05-20 09:14] kinnison commented on #87131
@rafrafek Your best bet is to see if you have a virus scanner, and if so to tell it to either ignore the rust toolchain directory, or at least to set it to scan-on-first-use rather than scan-on-create.

[2022-05-20 09:41] bonzini commented on #76314
The benefit is being able to go safely from single-thread mutable `&mut u32` to multi-thread mutable `&AtomicU32`. For example you can get a `&mut u32`, let multiple threads do their things on it and then give it back to the caller. (Of course the benefit is more visible with large slices than with a single value).

[Here](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=78

[2022-05-20 10:28] RalfJung commented on #76314
You can do that with the current signature. `&mut AtomicU32` coerces to `&AtomicU32`.

So, what you want can already be done. No need to make `from_mut` return a shared reference.

[2022-05-20 10:32] bonzini commented on #76314
Ah, of course (`let result_atomic: &AtomicU32 = AtomicU32::from_mut(result);`). Sorry for missing the obvious.

[2022-05-20 10:47] kvnallsn commented on #96486
@theCapypara I've had the same issue targeting a mips64 platform.  As a workaround, turning off `opt-level = 'z'` fixed the issue

[2022-05-20 11:55] theCapypara commented on #96486
Thanks! However we only have 32kb to work with, so it's not really an option.

I have a fork here of compiler_builtins that people might find helpful in this situation:
https://github.com/theCapypara/compiler-builtins/tree/nds-eos

Obvs. it's just a complete hack, but for now it works for us.

[2022-05-20 11:58] ZetaNumbers opened #97209 "Error while path patching libc as one of rustc's dependencies"
https://github.com/rust-lang/libc/issues/2794

[2022-05-20 12:37] bmwiedemann opened #97212 "rustup binaries vary from readdir order"
Originally filed https://github.com/rust-lang/rustup/issues/2972
and the maintainer suggested to file it here instead.

[2022-05-20 12:52] ss2165 opened #97213 "Use of moved closure suggests using a move reference instead of borrowing the closure"
I tried this code:

[code]

I expected to see this happen:
Some kind of borrow checker error due to moving the closure argument `f` twice when running ``cargo check``.

Instead, this happened:
The help hint suggests making a move reference `&move ..` while claiming to "consider borrowing `f`". See backtrace below. Attempting to follow the suggestion makes the same thing happen, but with more refer

[2022-05-20 12:56] Lokathor commented on #95496
Note that for DMA specifically, the llvm docs for volatile basically disallow you to use DMA with a volatile access if any non-volatile memory is involved in the DMA (in other words: if any rust memory is read/written).

[2022-05-20 13:27] ZetaNumbers commented on #97209
This can be fixed with `deny-warnings = false` in the `config.toml`, but i am not sure i it not a problem.

[2022-05-20 13:33] GuillaumeGomez commented on #97048
In such case, I think generating something like:

[code]

would work out nicely enough.

[2022-05-20 13:34] GuillaumeGomez commented on #97030
cc @m-ysk

[2022-05-20 13:37] GuillaumeGomez commented on #97048
I'm not sure that printing `Foo(bar):` or `Struct { bar, .. }:` would be better though. What useful information would it provide for the doc reader?

[2022-05-20 13:42] Urgau commented on #97048
Agree, printing `Foo(bar):` or `Struct { bar, .. }:` wouldn't be useful either.
Maybe simply printing `arg0` instead of `__arg0` might already be better.

[2022-05-20 13:46] GuillaumeGomez commented on #97048
It's not great either... Any opinion on this @rust-lang/rustdoc?

[2022-05-20 13:59] jsha commented on #97048
Can we pass through exactly what was written in the source code by the author?

[2022-05-20 14:01] GuillaumeGomez commented on #97048
I suppose so, but once again: would this destructuring information be useful for the doc reader?

[2022-05-20 14:05] ZetaNumbers commented on #97209
This is not an actual issue.

[2022-05-20 14:05] #97209 closed

[2022-05-20 14:05] jsha commented on #97048
Yes. For instance, if a destructuring only cares about a single field of a big struct, it's useful for the caller to know that only that one field matters.

Also, passing through the original improves predictability. People's general mental model of what shows up in rustdoc is "the function signature as written, plus some hyperlinks and formatting." It's confusing to deviate from that.

[2022-05-20 14:08] GuillaumeGomez commented on #97048
This is a good point. My main worry was the complexification of the doc but I guess it's secondary.

[2022-05-20 14:11] ehuss commented on #97209
Yea, this is normal behavior with a path dependency. Using a path enables warnings. `unused_macro_rules` is a new lint that is unknown to the current beta bootstrap compiler.  As soon as the bootstrap compiler is updated, the warning should go away.  You can do that locally with `./x.py run src/tools/bump-stage0`.  Alternatively, you can just allow the warnings, or modify your local copy of libc t

[2022-05-20 14:12] Urgau commented on #97048
But that's a implementation detail not a promise. The field might be private and this would be even more confusing for the reader.

[2022-05-20 14:18] jsha commented on #97048
This is true - but I think it's more confusing (for both the author and the reader) for the documented function signature to be different from what's written in the code.

If the author wants to make sure users can't see the destructuring, they can put it inside the function. If the author _does_ want users to see the destructuring, they can put it in the function signature. This approach gives bo

[2022-05-20 14:20] GuillaumeGomez commented on #97048
But the problem about private fields remain though. And it's quite a big one.

[2022-05-20 14:26] jsha commented on #97048
If the function signature includes a destructuring that names a private field, we should go ahead and list that name, with a doc lint saying "this function signature exposes the name of a private field."

[2022-05-20 14:28] GuillaumeGomez commented on #97048
That seems like way too much useless information. Why would this be useful for the reader? For me it looks like explanations about what they're reading. It seems more confusing than useful.

I didn't expect this issue to be so complicated. :smile:

[2022-05-20 14:36] Urgau commented on #97048
It isn't invalid. People should not rely on this. Doing this would change the semantics of this de-structuring from just being a sugar for the dev to something that is important and that API dev must take into account. That would be a major change.

And that doesn't even take into account the useless information for the reader:

[2022-05-20 14:37] jsha commented on #97048
That's a decision for the doc author to make, not rustdoc. Rustdoc's role is to provide a powerful, predictable tool. The doc author's role is to structure their code so that it provides useful information when rendered by rustdoc.

Here's an analogy: the names of function parameters are not used by the caller. But we include them in rustdoc output because they are useful in giving a hint about wh

[2022-05-20 14:46] GuillaumeGomez commented on #97048
I understand your point, but don't agree with all of it (and also don't completely agree with your analogy as you're mixing two different things). As soon as a destructured parameter is using a private field, then it doesn't provide useful information to the reader. So unless `document-private` is used, I think it shouldn't be displayed.

For me rustdoc has two different kind of usage:
 * generati

[2022-05-20 14:48] jonhoo commented on #97196
Clearly I'm bad at a reading! Sorry for the noise 😅

[2022-05-20 14:58] jgouly opened #97217 "Codegen/allocator regression from 1.60"
In 1.60 the following code causes no allocations:

[code]

However in nightly there is an allocation, see: https://godbolt.org/z/cq9b1Pnva

EDIT:

Appears there is also a problem with 1.60 and opt-level 2 vs 3: https://godbolt.org/z/8MWjEvPbh

[2022-05-20 15:01] Urgau commented on #97048
This could be even a security/logic issue. Example, a dev write this:
[code]
But than change it to:
[code]
Someone looking at the first version realize that `security_bit` doesn't matter but than the dev change it to the second code where it now matter. Nothing as changed from the API definition, but if `rustdoc` decided to show it would be relevant despite being a implementation detail.

[2022-05-20 15:22] yescallop commented on #86319
Correct me if I'm wrong, but I believe that having a method that extracts the part of file name before or after the **first** dot is not a good idea. By splitting a file name at the **first** dot, one asserts that they won't have dots in the meaningful part of file name. However, there are actually a bunch of densely-dotted file names in the wild that go against this design, for example:

`pyroute

[2022-05-20 15:28] agausmann commented on #97186
Added some debugging to rustc_symbol_mangling to look at how the hash is produced, and I noticed that SomeFoo::foo is getting hashed twice:

[code]

The first time, it is hashing an `Unevaluated` const parameter, and the second time it hashes the evaluated const parameter. I believe this is the error - `Unevaluated` shouldn't propagate to the hasher!

Relating this to the IR output from the same i

[2022-05-20 15:34] Mark-Simulacrum commented on #96030
Fixed as part of release process.

[2022-05-20 15:34] #96030 closed

[2022-05-20 15:34] Mark-Simulacrum commented on #94284
This is fixed now.

[2022-05-20 15:34] #94284 closed

[2022-05-20 15:59] nox commented on #97217
This feels like an optim pass in LLVM was promoted from level 3 to level 2. I checked on other archs and the problem also appears.

[2022-05-20 16:10] EvanCarroll commented on #86319
Agreed, that's why I named the original suggestion `file_parts` and not `extension`.

[2022-05-20 16:47] JohnTitor opened #97221 "tidy: find unnecessary `.stderr` files for `error-pattern` UI tests"
It could happen that someone is initially supposed to add a UI test using the `//~ ERROR` but noticed it's hard/impossible with that test, then used the `error-pattern` annotation instead.
In this situation, a `.stderr` file is created after running `x.py test`, but tidy won't complain about removing it after switching to `error-pattern`. Note that `error-pattern` doesn't need that file.
Yes, I ma

[2022-05-20 17:09] compiler-errors commented on #97213
This is not a move reference, this is just suggesting taking a reference of the expression, e.g. `&move || ..` is `&(move || ..)`

[2022-05-20 17:12] compiler-errors commented on #97213
Certainly this diagnostic could be improved though -- not sure if we can detect if the closure is `move`, but if we can, we should probably just not suggest borrowing the closure.

The correct fix would (depending on context) be either removing the `move` keyword or introducing a temporary like `let f = &f;` -- not sure if we have enough information in borrowck to determine which one is feasible.

[2022-05-20 17:13] JohnTitor commented on #97221
Turns out this isn't true and something on my local is wrong, closing.

[2022-05-20 17:18] nox commented on #97217
@lqd suspects it's related to https://github.com/rust-lang/rust/pull/94402. I checked 2022-03-01 and there is no alloc, while on 2022-03-02 the alloc comes back.

[2022-05-20 17:18] RalfJung commented on #97049
It is my understanding that a panic "leaving" the top of the Rust-controlled stack is UB, and that is the check that Miri is implementing here.

Maybe we should add this as a testcase. :D

[2022-05-20 17:20] nox commented on #97217
The allocation also goes away with opt-level 3 if you pass `-C panic=abort`

[2022-05-20 17:38] clubby789 opened #97222 "Infinite recursion/stack overflow in `rustc_ast::mut_visit::noop_visit_expr`"
I made a PR ([here](https://github.com/clubby789/iced/tree/const-fns)) marking many functions as `const`, and after running `cargo build --lib --release` in `src/rust/iced-x86-js`, `rustc` crashed with a segmentation fault.

### Meta
The issue occurred when using `nightly` and `1.61`, but not with `1.54 and 1.60`
[code]

<details><summary>Segfault Backtrace</summary>
<p>

[code]
</p>
</details>

[2022-05-20 17:46] agausmann commented on #97165
See #26925

[2022-05-20 17:49] shufps commented on #88536
Happens also on 1.6.1

[2022-05-20 18:01] rich-g commented on #56593
Bumping this, as it still seems to be an issue. Minimal example:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=02595dc261355bf662c11cc605d20e55

[2022-05-20 18:03] wtfsck commented on #97222
I've been able to repro with this, it seems to be unrelated to `const` seems to be caused by an enum with too many variants:

Cargo.toml:

[code]

lib.rs:

[code]

Then execute

`cargo build --release` or `cargo build` to cause it to crash with a segfault.

[2022-05-20 18:07] matthiaskrgr commented on #97173
Can't reproduce with `rustc 1.63.0-nightly (c06728704 2022-05-19)`, closing.

[2022-05-20 18:07] #97173 closed

[2022-05-20 18:15] wtfsck commented on #97222
cargo-bisect-rustc result:

searched nightlies: from nightly-2022-03-01 to nightly-2022-05-20
regressed nightly: nightly-2022-03-13
searched commit range: https://github.com/rust-lang/rust/compare/335ffbfa547df94ac236f5c56130cecf99c8d82b...f103b2969b0088953873dc1ac92eb3387c753596
regressed commit: https://github.com/rust-lang/rust/commit/2c6a29af35a81e20f8af4c32bf1b55c59b89eccd

<details>
<summary

[2022-05-20 18:21] #54079 closed

[2022-05-20 18:21] #55057 closed

[2022-05-20 18:21] #55058 closed

[2022-05-20 18:21] #60554 closed

[2022-05-20 18:25] c410-f3r commented on #44838
Implementation is waiting for review -> https://github.com/rust-lang/rust/pull/96496

[2022-05-20 18:53] Fryuni commented on #90435
I'm in favor of this change. `repr(transparent)` guarantees that the struct has the same layout of its field, it makes no guarantees about the type of said field.

For example, so seeing something like this in the docs:
[code]

Does not guarantee that `transmute<Foo<bool>, bool>(foo)` is valid because the struct definition could be this:
[code]

`repr(transparent)` states that a struct has the sam

[2022-05-20 19:06] asquared31415 opened #97226 "ICE using `impl ?Sized` in return position"
### Code

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d9a874743d0720987aee527d07811e56)

### Meta

Error occurs on
Stable 1.61.0
Beta 1.62.0-beta.2
Nightly 2022-05-19

### Error output

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-20 19:21] wangbj opened #97227 "Tracking Issue for seekable io::Take"
Feature gate: `#![feature(seek_take)]`

(feature gate open to change)

This is a tracking issue for adding seek instance for `io::Take`, see issue [#37214](https://github.com/rust-lang/rust/issues/37214).

### Why
Imagine there's a smaller components within a larger file, the component have predefined ranges, reading beyond the range should be a hard error. But some fields are variable size encode

[2022-05-20 20:00] materoy opened #97231 "Close file on drop"
On trying to execute a bin file created using std::fs::OpenOptions, I get error  `Text file busy (os error 26)`  , even after calling drop on file reference.
The error goes away only when I run an unsafe close call to the file descriptor
`unsafe {
            let exit_status = close(file.as_raw_fd());
  }`
An implementation of unix file close in Drop trait for file would be great I think.

OS: Lin

[2022-05-20 20:05] GuillaumeGomez commented on #97125
We just wait for `pulldown-cmark` to publish a new version and it should be fixed.

[2022-05-20 20:27] wwylele commented on #97231
The current File drop implementation already closes files. There is likely something else wrong. Could you provide the code?

[2022-05-20 20:47] BGR360 commented on #97198
That did the trick! Thank you very much

[2022-05-20 20:47] #97198 closed

[2022-05-20 20:49] #93198 closed

[2022-05-20 20:49] #97205 closed

[2022-05-20 20:49] #81827 closed

[2022-05-20 20:52] est31 commented on #97094
This seems to have been a regression of the 1.29.0 compiler: the warnings on 1.28.0 are just fine.

The issue is that `LintLevelsBuilder::push`, which takes care of the `unknown_lints` lint, gets the attributes in a pre-cfg-expanded form, as it is called very early in compilation. But `Level::from_attr`, which it calls, only looks for normal attributes, as in, does not recognize `cfg_attr` (and it

[2022-05-20 20:56] TheButlah opened #97234 "error: failed to build archive: Too many open files"

[2022-05-20 21:19] estebank commented on #49361
[The current output is](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ff16f5a0d165cf16269003636d863a06):

[code]

I still wish the parser to detect that the code immediately following `else` is a binary operation followed by a block, so that we can instead emit

[code]

[2022-05-20 21:20] estebank commented on #49361
CC @compiler-errors, in case you might be interested in looking at the parser :)

[2022-05-20 21:23] materoy commented on #97231
Sure!
` let file = OpenOptions::new()
        .write(true)
        .read(true)
        .create(true)
        .mode(0o111)
        .open(file_name)
        .await.expect("Cannot create file");
   drop(file);
 `

` Command::new(file_name).args(args).spawn() `

[2022-05-20 21:26] ehuss commented on #97234
Transferred to rust-lang/rust as this appears to be an error originating in rustc during linking.

[2022-05-20 21:32] compiler-errors commented on #49361
this seems like a neat fix, i'll take a stab at it

[2022-05-20 21:35] Urgau commented on #82450
Small update.

Work was done to reduce the cost associated with well known values checking in PR https://github.com/rust-lang/rust/pull/95202. It resulted in noticeable win, coming from +1.5% to +1%. More work could be done in the future with improvements in const functions.

The cargo integration has also evolved quite a bit with the introduction of a single flag: `-Zcheck-cfg` that take one or m

[2022-05-20 22:07] petrochenkov commented on #95793
Closing as fixed.

[2022-05-20 22:07] #95793 closed

[2022-05-20 22:19] jyn514 commented on #87309
Here is a reduced example:
[code]

[2022-05-20 22:24] eholk commented on #87309
Does your example work with `-Zdrop-tracking`? This is exactly what drop tracking is meant to handle.

[2022-05-20 22:25] jyn514 commented on #87309
@eholk yes, drop-tracking fixes it :) is there a tracking issue for that I can watch?

[2022-05-20 22:25] petrochenkov commented on #96937
Closing as fixed on nightly.

[2022-05-20 22:25] #96937 closed

[2022-05-20 22:27] jyn514 commented on #87309
hmm, https://github.com/rust-lang/rust/issues/69663 doesn't mention -Zdrop-tracking though - I would love to help get that onto stable :) let me know if there's anything I can do.

[2022-05-20 22:29] eholk commented on #87309
#69663 is the umbrella bug for all overly aggressive generator captures, but there are several distinct causes for them. The case you listed looks most like #57478, which is what I've been linked most of the drop tracking work to.

There are a couple of pending PRs fixing bugs in it, such as #96923 and #97029. Once #96923 merges, I think that fixes all the major bugs I know about so the next step

[2022-05-20 22:31] eholk commented on #87309
Actually, @jyn514, one issue I haven't been able to look at yet is `src/test/ui/async-await/issue-70935-complex-spans.rs`. With `-Zdrop-tracking` the error message is significantly worse. It still works, but I'd hate to regress the user experience like this. Is that something you'd be interested in looking at?

[2022-05-20 22:32] jyn514 commented on #87309
Sure! let me take a look :)

[2022-05-20 22:43] jyn514 commented on #87309
@eholk I'm not sure this is still an issue - when I add `// -Zdrop-tracking` at the top, the only things that change are the line numbers.

<details>

[code]

</details>

[2022-05-20 22:48] jyn514 commented on #87309
oh uhh I'm dumb it's `// compile-flags:-Zdrop-tracking`

[2022-05-20 22:51] ModProg commented on #84211
While in the OP's case I would expect the comma to be required as it is explicitly written, there is a case where an "auto-optional-trailing-seperator" would make sense IMO and that is with repetitions `$(...),*` the current way to support it would be `$($(...),+ $(,)?)?` or, if you do not care about allowing just a comma without an actual repetition, `$(...),* $(,)?)`.

Maybe it would make sense

[2022-05-20 23:38] wwylele commented on #97231
I noticed that `.await` in the code. This hints that this is not rust std's File (= already out of the scope of this repo), since std's File are all blocking, not async.

My guess is that this is the async IO from tokio. To quote their [documentation](https://docs.rs/tokio/latest/tokio/fs/struct.File.html):

This is very different from [std's File](https://doc.rust-lang.org/stable/std/fs/struct.Fi

[2022-05-20 23:44] saethlin commented on #92327
It might be educational to have a branch or a flag that removes the index and length from the panic message, then get LLVM to do this. I feel that doing that optimization would be desirable for LLVM anyway, and we could use having the optimization to do benchmarks on real code and motivate further work.

[2022-05-20 23:47] VilNeo commented on #76560
Hi,
one question: Will it be possible to support 'generic const expression' based types recursively?
So the structure I have in mind is something like a 'cons list' where each subsequent type has a const generic increased by one.

So what I want is something that will look like the following:

[code]

[2022-05-21 00:39] JakobDegen commented on #92327
Removing the index/length would not be enough, we'd also need to force `-Cpanic=abort` everywhere to keep the (missing) memory side-effects invisible.

[2022-05-21 01:11] jhpratt commented on #53120
Large (understatement) PR up removing all use of the `crate` visibility modifier: #97239. FCP should complete tomorrow, and it would be great to have that merged sooner rather than later. Merge conflicts will pop up constantly if it's not.

[2022-05-21 01:24] saethlin commented on #92327
I just did some experiments with `-Zbuild-std-features=panic_immediate_abort` and it appears this has a significant effect on tinyvec's smallvec benchmarks, though I'm pretty sure that's due to simplification of its `assert!`s that it does for safety, nothing to do with bounds checking. _sigh_

[2022-05-21 02:04] yescallop commented on #86319
@EvanCarroll That might be a solution, but I think there are some disadvantages to it:

The `file_parts` method returns a *forward* iterator over the parts of file name. I think this is against the fact that it is often the case that a program considers the non-extension part of file name **opaque** to path processing. As long as the extensions match, the program may extract the remaining part of

[2022-05-21 03:04] est31 commented on #97094
Expectably, as the same code also handles the `renamed_and_removed_lints` lint, the same issue exists if you put `bare_trait_object` as the lint's name in the above example.

[2022-05-21 03:39] bombless commented on #97165
Thank you for your important information and nice explanation!

Then I guess this issue is a dup and I'm closing it.

[2022-05-21 03:39] #97165 closed

[2022-05-21 03:43] jackh726 commented on #53120
If you make a separate PR just removing uses, I'll r+ that immediately. Otherwise just wait a day for FCP.

[2022-05-21 04:39] ChrisDenton commented on #97231
Given that, I'm closing this as out of scope for rustc. However, tokio do have a [discussion forum](https://github.com/tokio-rs/tokio/discussions) if you'd like to continue the conversation. There are also other [places to discuss Rust](https://www.rust-lang.org/community).

[2022-05-21 04:39] #97231 closed

[2022-05-21 04:53] agausmann commented on #83972
I'm seeing a similar error: #97186, with a very similar example!

It seems that `Unevaluated` generic const parameters are making their way through monomorphization and into symbol mangling, which should definitely be fixed.

Passing `-Zsymbol-mangling-version=v0` also fixes the linker error in my issue.

[2022-05-21 04:53] agausmann commented on #97186
Related to (probably a dupe of) #83972

[2022-05-21 05:10] estebank opened #97241 "Uplift `clippy::let_underscore_lock` to `rustc`"
The lint [`clippy::let_underscore_lock`](https://rust-lang.github.io/rust-clippy/master/#let_underscore_lock) should be uplifted into rustc [from clippy](https://github.com/rust-lang/rust-clippy/blob/a98e7ab8b94485be6bd03e0c6b8682ecab5b52e6/clippy_lints/src/let_underscore.rs#L106), as this is such a big potential issue that it shouldn't require people to opt-into clippy to be detected.

[2022-05-21 05:15] CAD97 opened #97242 "libtest `-Zunstable-options` works on stable"
I tried this code:

[code]

I expected to see this happen:

Both executions to have the same output

[code]

Instead, this happened:

[code]

### Meta

[code]

[2022-05-21 05:31] a2aaron commented on #97241
@rustbot claim

Hi! I'm the person that Cassie from twitter was talking about. I'd like to help work on this issue if possible.

There's some additional discussion about the `clippy::let_underscore_lock` lint here: https://github.com/rust-lang/rust-clippy/issues/8859. The main suggestion was to also use the `#[clippy::has_significant_drop]` attribute or to possibly use `#[must_use]` + nontrivial `

[2022-05-21 05:46] sffc commented on #62111
Just sharing some experience from the wild: I have code of the form

[code]

where I check `if a > b` before I call `abs_diff`, because I need a different code path for that case versus the `a <= b` case. However, that check is repeated within the `abs_diff` impl, so I was wondering whether I should write out the `wrapping_sub` manually. But, it [appears that](https://play.rust-lang.org/?version=s

[2022-05-21 06:11] oli-obk commented on #76560
Unless we can start adding where bounds to variants, this will be an infinitely recursive type. So I think this is blocked on another feature that isn't even RFCed yet

[2022-05-21 06:14] clarfonthey commented on #76560
Yeah, boxing can prevent infinite size types, but it can't stop infinitely complex types, even if said types are finitely sized.

[2022-05-21 07:12] gibfahn commented on #74895
Just hit this issue. Needed to check if a file was writeable (equivalent of `[ -w $file ]` in shell) and assumed readonly would do what I wanted.

Fortunately Google put this issue as the second result.

Would also be nice for the readonly docs to include an example of how to actually check "can I write to this file?"

[2022-05-21 07:34] conradludgate opened #97244 "pattern binding exhibits inconsistent capture ordering"
Given a non copy type like
[code]

You can pattern match on the variants without moving the original value:

[code]

Here, `bar` only needed to copy the u8 and not the whole `x`.

Interestingly, this doesn't work in the case of pattern bindings:

[code]

[code]

This hints that it seems to be re-writing this code as something like

[code]

This could be re-ordered like

[code]

To make it compile

[2022-05-21 07:38] VilNeo commented on #76560
Yes, I had also seen this problem with infinite recursive type. And yes, one can probably omit the boxing here.

Is it a possibility here to apply conditional compilation as follows?

[code]

and with structs:
[code]

I could imagine that conditional variants/fields would greatly increase the complexity when used later.

[2022-05-21 08:03] conradludgate commented on #97048
Regarding the private fields, I [raised an issue](https://github.com/rust-lang/rust/issues/85883) a year ago showing that public functions can return 'private' types. rustdoc includes the type name in that return value, just it doesn't include any link to documentation for that type. Whether a function argument destructuring contains private fields or not I think is irrelevant.

I also don't know

[2022-05-21 08:30] the8472 commented on #97234
Some environments set a fairly low (1024) soft ulimit for open files while having a higher hard limit, you can try bumping it

[code]

[2022-05-21 08:35] Urgau commented on #97048
I disagree showing private would not be helpful and would just add more distraction.
Concerning your example with `Self` as the return type, I agree that only showing `Self` without any other *direct* indication is not very helpful; rustdoc should maybe add a link to the `impl<L> Router<L>` part, but that's another issue.

Imaging that `func` does a manipulation between `bar` and `security_bit`, i

[2022-05-21 08:52] RalfJung commented on #96267
Cc @rust-lang/wg-const-eval

[2022-05-21 08:54] the8472 commented on #97148
Closing on the same grounds as #97151

If you need *specific functionality*, such as an abstraction around an OS feature please discuss on URLO](https://users.rust-lang.org/) (there may be existing crates covering your needs) or propose a more specific feature rather than exposing all std-internals.

"Could be very useful" is not sufficient explanation for us to understand what you need and it als

[2022-05-21 08:54] #97148 closed

[2022-05-21 08:59] RalfJung commented on #97162
Cc @m-ou-se

[2022-05-21 09:13] m-ou-se commented on #97162
Thanks! That looks like a mistake. I'll fix it.

However, luckily, I believe this doesn't affect the correctness of the lock. If the if-statement was just

[code]

it still behaves correctly.

[2022-05-21 09:42] sassman commented on #91345
what are the next steps to stabilize this proposal?

[2022-05-21 12:05] Elias-Graf commented on #91345
Could this somehow enable the following?

[code]

I suppose the current alternative is:

[code]

But that is not really pretty, especially when assigning to fields or directly in a function call:

[code]

[2022-05-21 12:50] nmeum commented on #96876
I did a few more tests and managed to isolate some minimal examples.

## Example 1

Code:

[code]

Compilation:

[code]

## Example 2

Code:

[code]

Compilation:

[code]

Any ideas how to debug this further or any hints on what might be causing these sorts of issues?

[2022-05-21 13:00] calebcartwright commented on #97242
https://github.com/rust-lang/rust/issues/75526

[2022-05-21 13:06] DesmondWillowbrook commented on #94878
@rustbot claim

[2022-05-21 13:41] CAD97 commented on #97242
Closing as a duplicate then

[2022-05-21 13:41] #97242 closed

[2022-05-21 14:09] #97115 closed

[2022-05-21 14:13] est31 commented on #97094
I think the best solution for this is to move the lints into a late lint pass. Maybe the push stuff could be called after cfg expansion but this could have side effects for other lints, idk.

@rustbot claim

[2022-05-21 14:33] saethlin opened #97250 "Repair/improve const eval validation errors"
In https://github.com/rust-lang/rust/pull/95377 I'm proposing that we improve UB detection in const eval by selectively enforcing validity by attempting to detect if unsafe code has been loaded. As a result of this change, programs which would have produced an invalid `const` item are now detected earlier, and produce a different diagnostic. This new diagnostic doesn't include the memory dump. We

[2022-05-21 16:20] oli-obk commented on #76560
These kind of cfg are what I'd expect to happen as where bounds, but that's entirely orthogonal to const generics. Probably best to start a discussion on zulip or the internals forum, ideally with examples using types and traits instead of const generics (to reduce the number of feature gates needed to come up with examples)

[2022-05-21 16:28] #97204 closed

[2022-05-21 16:42] jackh726 commented on #95686
Span here is better thanks to #96236. Now just a nearly duplicate error, which we can track in #96211.

[2022-05-21 16:42] #95686 closed

[2022-05-21 16:45] jackh726 commented on #96211
I've changed this issue to track duplicate errors in NLL in general, wrapping in #95686 and expanding to also include `hr-subtype.rs` (updated op).

[2022-05-21 16:49] jackh726 commented on #57374
Found a very similar `higher-ranked lifetime error` in https://github.com/rust-lang/rust/blob/master/src/test/ui/higher-rank-trait-bounds/issue-59311.nll.stderr

[2022-05-21 17:15] jackh726 opened #97252 "[NLL] "so that ... will meet its required lifetime bounds" should point to RPIT, not statement"
In [src/test/ui/impl-trait/type_parameters_captured.rs](src/test/ui/impl-trait/type_parameters_captured.rs) (and similarly in [src/test/ui/impl-trait/must_outlive_least_region_or_bound.rs](src/test/ui/impl-trait/must_outlive_least_region_or_bound.rs)) the suggestion goes from

[code]
to

[code]

[2022-05-21 17:17] mrMiiao commented on #97148
Ok, ok. I understood. Thanks for explanation ;)

[2022-05-21 17:33] jackh726 opened #97253 "[NLL] "that is required by this bound" note missing"
In [src/test/ui/nll/ty-outlives/projection-where-clause-env-wrong-lifetime.rs](src/test/ui/nll/ty-outlives/projection-where-clause-env-wrong-lifetime.rs) and [src/test/ui/nll/ty-outlives/projection-where-clause-env-wrong-bound.rs](src/test/ui/nll/ty-outlives/projection-where-clause-env-wrong-bound.rs) we lose a note:

before
[code]
after
[code]

[2022-05-21 17:55] jhpratt commented on #53120
PR up for removing the feature itself: #97254

[2022-05-21 17:55] hgy59 opened #97255 "SIGFPE with rustc 1.61.0"
### Code

I tried to build exa  v0.10.1 (https://github.com/ogham/exa)
[code]

I expected to see this happen: *successful  build*

Instead, this happened: *(signal: 8, SIGFPE: erroneous arithmetic operation), see log output above*

### Version it worked on

It most recently worked on: Rust 1.60.0

### Version with regression

Rust 1.61.0

`rustc --version --verbose`:
[code]

### Affected targets

[2022-05-21 18:01] hgy59 commented on #97255
This is probably related to #94762 (former was for 1.61.0 nightly, but this is for 1.61.0 stable).

[2022-05-21 18:12] jackh726 opened #97256 "[NLL] "`'static` requirement introduced here" note missing"
In the various revisions of [src/test/ui/associated-types/cache/project-fn-ret-invariant.rs](src/test/ui/associated-types/cache/project-fn-ret-invariant.rs), we go from

[code]
to
[code]

We lose the note, particularly the bit pointing to the return type.

[2022-05-21 18:18] materoy commented on #97231
Makes sense, thank you @wwylele

[2022-05-21 18:33] est31 commented on #97094
So it turns out that allowing the `unknown_lints` lint doesn't work either (inside `cfg_attr`), even though it does work for `while_true`, which is an early lint:

[code]

This opens the possibility of just moving the `unknown_lints` and `renamed_and_removed_lints` lints into their own early lint pass.

[2022-05-21 19:10] winterqt opened #97257 "Provide better diagnostics upon encountering an infinite cyclic type"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look something like a mismatched type error.

Also see #35978.

[2022-05-21 20:03] Lokathor commented on #80377
The item that Oli linked was approved and merged. Does this mean we're ready to move forward, or have other blockers come up in the past few months?

[2022-05-21 22:29] gco opened #97260 "Error on bootstrapping : Empty search path given via '-L' (solaris)"
As in issue #97138, Solaris builds fail with `Empty search path given via '-L'` starting with 1.61.0.

This patch addressed the issue for me.

[code]

[2022-05-21 22:35] SNCPlay42 commented on #97197
Also ICEs on beta. Output on stable:

[code]

@rustbot label regression-from-stable-to-beta

[2022-05-21 23:24] est31 commented on #97094
Oh so apparently the `push` function does get called later on, but the warnings are suppressed because `warn_about_weird_lints` is set to false. I have missed that. So one only might have to set `warn_about_weird_lints` to true more early on...

[2022-05-21 23:51] NotWearingPants commented on #94406
#55614

[2022-05-22 00:09] recatek commented on #95734
I'm also getting similar issues when building anything large with >100 dependencies (such as bevy, or cargo-audit). Happens for me both on Windows 10 and on WSL Ubuntu 18.04.

WSL/Ubuntu:
[code]
Windows:
[code]

The issue will happen on a seemingly different, and random, crate each time. Here's an example from building a fresh cargo new crate with the bevy 0.7 added as a dependency in Cargo.toml.

[2022-05-22 00:32] scottmcm commented on #67919
Closing this as @rust-lang/lang FCPed in https://github.com/rust-lang/rust/pull/96766#issuecomment-1133155004 that `#[marker]` is not about *orphan*.  (It's only about *overlap*.)

[2022-05-22 00:32] #67919 closed

[2022-05-22 00:36] scottmcm commented on #29864
@SamPruden I'd also like to see this stabilize.

It looks like there's at least one open issue that probably blocks it, though: https://github.com/rust-lang/rust/labels/F-marker_trait_attr

[2022-05-22 02:28] alex-pinkus opened #97263 "Bootstrapping logic has trouble with target triples with dots in the name (e.g. `thumbv8m.main-none-eabihf`)"
When running [`configure`](https://github.com/rust-lang/rust/blob/master/configure) to cross-compile for a Cortex M target, a few issues arise with the fact that the target has a `.` in the name. There are two issues that I noticed:
1. `configure.py` generates an invalid `config.toml` — this is easy to fix with a change to the example file.
2. `cc_detect.rs` looks for compiler flags in difficult-t

[2022-05-22 02:52] jyn514 commented on #95858
@Mark-Simulacrum: https://github.com/rust-lang/rust/pull/95980#issuecomment-1100765576

Hmm, that's fair - I would like to eventually have the entrypoint be `x` and deprecate other entrypoints, which allows us to do things like `cargo +beta-20YY-MM-DD` without requiring rust-toolchain in the top-level directory. But that said, I think it's unusual to have a custom entrypoint like that? Maybe we sh

[2022-05-22 02:56] est31 commented on #97094
I've made a PR: #97266

[2022-05-22 03:07] thomcc commented on #95858
I actually think the current situation is largely fine, FWIW. But I may be too used to the status quo -- I did have to explain how to do the build to someone in a PR recently, I assume they were trying `cargo build` to no avail.

[2022-05-22 03:27] jyn514 commented on #97263
Thanks for the bug report! I think it's unlikely we will do anything about 2 in rust-lang/rust itself (having a target with a dot *and* having to set CFLAGS seems rare), but 1 is definitely a bug we should fix.

Mentoring instructions: in https://github.com/rust-lang/rust/blob/e52e7115c7477bbc257c44447bb7eccbcfe9cfb2/src/bootstrap/configure.py#L410
add quotes around the `target` we're replacing th

[2022-05-22 03:51] jyn514 commented on #95858
Some good points brought up by various people:
- @5225225 would expect the entrypoint to work from anywhere in tree, not just at top-level like x.py does currently
- @digama0 thinks `x` anywhere is confusing and we should have more explicit names
- there is surprisingly (at least to me) strong support for "x.py is fine as is"

[2022-05-22 03:54] jyn514 commented on #94829
If you're following along on this issue, I would very much appreciate your feedback on what the entrypoint should be (`cargo run` has a few issues mentioned in https://github.com/rust-lang/rust/issues/95858#issuecomment-1133812693): https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/bootstrap.20user.20survey
Please respond on Zulip and not here so we can keep using this as the tra

[2022-05-22 04:26] jackh726 opened #97267 "[NLL] No "expected ..., found ..." in diagnostics"
This happens in a lot of tests, but from [src/test/ui/traits/trait-upcasting/type-checking-test-4.rs](src/test/ui/traits/trait-upcasting/type-checking-test-4.rs):

before
[code]
after
[code]

Being able to compare the expected and found types in full make it clear what's wrong.

[2022-05-22 05:49] BartMassey commented on #94406
I have talked with @joshtriplett about the stuff that blocked my last attempt at a PR, and am going to try again in the next couple of weeks. Sorry for leaving this sitting for so long.

[2022-05-22 05:54] BartMassey commented on #55614
There are situations where you would rather have clients get an error than be stuck in a long queue because service is slow, so being able to specify a small maximum backlog per application is important. The current default max backlog of 128 seems fine for most situations: if that number is too small it's pretty likely a larger number would be also. (That said, I opened #94406 because I needed to

[2022-05-22 06:09] oli-obk commented on #80377
Nope, a PR assigned to T-libs-api should be uncontroversial now

[2022-05-22 06:16] matthiaskrgr opened #97270 "box syntax creates Box<T> where T is not yet initialized"
I tried this code:

[code]

miri reports UB on this code:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-05-22 06:47] #97162 closed

[2022-05-22 06:47] #97193 closed

[2022-05-22 06:47] #97194 closed

[2022-05-22 07:02] Nilstrieb commented on #84186
I agree, stabilizing the checked methods would be useful right now, we can always stabilize unchecked later.

[2022-05-22 07:23] TennyZhuang commented on #84186
How about splitting them to `nonzero_checked_ops` and `nonzero_unchecked_ops`?

[2022-05-22 08:06] hvdijk commented on #94983
This has become more visible now that 1.61.0 has been released. 1.61.0 no longer builds on pure LLVM systems with libc++, even if `use-libcxx = true` is set, unless `static-libstdcpp = false` is also set.

My initial thought is the opposite. The name `static-libstdcpp` and its description are both highly specific to libstdc++, and the option already has no effect on targets that normally do not us

[2022-05-22 08:33] oceaann commented on #82223
why it still unstable bruh, it was open more than year ago

[2022-05-22 09:29] Herschel commented on #74722
I ran into this when adopting [Embark's workaround](https://github.com/EmbarkStudios/rust-ecosystem/issues/22#issuecomment-947011395) for using `.cargo/config.toml` to allow/disable lints for an entire workspace via `rustflags`. I'd like to `-Aunknown_lints` here to squelch certain nightly clippy lints, but subsequent `-Afoobar` still give me errors.

This makes it sound like the above should work

[2022-05-22 10:27] stappersg commented on #76930
FWIW In https://github.com/avr-rust/delay/issues/21 can `core` be compiled for `AVR`, but there is a SIGSEGV on `rustc-std-workspace-core`.

Request at @jsen- retry and consider to close this.

[2022-05-22 10:32] cqlangyi opened #97273 "2 lines of identical codes, one compiled, one failed."
I tried this code:

[code]

I expected to see this happen:
'AAA' and 'BBB' line should both work or not.

Instead, this happened:
'AAA' line failed to compile,
but 'BBB' line passed with no error.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-05-22 10:40] jsen- commented on #76930
yes, seem so to be resolved, thank you @stappersg
[code]

[2022-05-22 10:40] #76930 closed

[2022-05-22 10:42] Milo123459 commented on #87791
@rustbot claim

Before I start working on this, I have some quick questions: what is the input for the fuzzy matching? It needs to have a list of all types, structs that are available in the file (or not!) and also std ones. I'm just not entirely sure how to go about doing this.

PS: I'm pretty sure this is going to require adding some sort of crate to rustc, is that okay?

[2022-05-22 10:57] dtolnay commented on #87341
I am labeling this issue <kbd>I-unsound</kbd> because inserting niches into types that we've agreed are not supposed to have niches is definitely unsound territory. This bug is causing surprising soundness issues in the ecosystem:

- https://github.com/crossbeam-rs/crossbeam/issues/833
- https://github.com/Amanieu/atomic-rs/issues/29

Additionally, there is no good way for libraries to work around

[2022-05-22 11:14] stappersg commented on #76930
Euh, I want to swap that _thank you_ for the full source of "test" to reproduce `Compiling test v0.1.0 (/tmp/rust-build-core-issue-repro)`. With full source is `Cargo.toml` and `src/main.rs` is meant.  Karma bonuspoints for adding `target.json` and _command line_.

[2022-05-22 11:15] stappersg commented on #76930
Oops, now testing https://github.com/jsen-/rust-build-core-issue-repro   ...

[2022-05-22 11:25] stappersg commented on #76930
:smiley:
[code]

Thanks

[2022-05-22 12:02] JohnTitor commented on #92939
Triage: I'm going to close this as the stabilization PR was merged already 🎉

[2022-05-22 12:02] #92939 closed

[2022-05-22 12:06] JohnTitor commented on #72599
Triage: I'm going to close this as the stabilization and doc improvement PRs were merged already 🎉

[2022-05-22 12:06] #72599 closed

[2022-05-22 12:12] JohnTitor commented on #46488
Triage: the flag has been removed by #93416, closing.

[2022-05-22 12:12] #46488 closed

[2022-05-22 14:01] cqlangyi commented on #97273
compile error output:

`
   |
43 |         let sleep = Pin::new(&mut self.sleep);
   |                                   ---- mutable borrow occurs here
44 |         /// this line would not compile, says self already borrowed as mutable,
45 |         println!("before sleep.poll(), {}", self.now());  // compile error
   |                                             ^^^^^^^^^^ immutable borrow occur

[2022-05-22 14:01] wwylele commented on #97273
Rust is full of case where simply changing the location of a statement would result in error. This is the expected interaction with exclusive borrows. The same error can be reproduced in the following simple case

[code]
The second println results in error because it is in the middle when `r` is holding the exclusive borrow on the same object.

However, rust can understand disjoint borrows
[code]

[2022-05-22 14:07] psionic12 opened #97278 "[feature(adt_const_params)] `Bar` doesn't derive both `PartialEq` and `Eq`"
I'v read [the issue](https://github.com/rust-lang/rust/issues/94661) and [the issue](https://github.com/rust-lang/rust/issues/76183), and it seems that neither is my case.

rust version: rustc 1.62.0-nightly (a707f4010 2022-04-29)

I tried this code:

[code]

I expected to see this the code to be compiled, but it's not:
[code]
My guess is that the type `Arc` doesn't implement `StructuralPartialEq`

[2022-05-22 14:09] wellsilver opened #97279 "Compiled .exe does not fill in details"
I tried this code:

[code]

![image](https://user-images.githubusercontent.com/67511181/169699206-9c28ac1e-0fb3-4e94-bb70-7e99bba7fa5f.png)

I expected to see this happen: I expected the "details" (picture) to be filled in according to Cargo.toml

Instead, this happened: The "details" wasn't filled in

### Meta

`rustc --version --verbose`:
[code]
</details>

[2022-05-22 14:15] yue4u commented on #97263
@rustbot claim

[2022-05-22 14:23] cqlangyi commented on #97273
@wwylele Big thank for the detailed lines!

but i still have 2 questions, any suggestions would be appreciated.

1. line 'BBB' same have the same context with line 'AAA', at least below
lines seem not showing any 'borrow finished' move.
[code]
2. is there any way i could access the 'now' field in above code snippet?

thanks a lot!

[2022-05-22 14:43] wwylele commented on #97273
line 'BBB' does *not* have the same context as line 'AAA'. The line AAA has the context where `self` is exclusively borrowed by `sleep` in the range established by `let sleep =...  ... sleep.poll`.

I suggest not using github issue as a place to discuss developing using rust in general.

[2022-05-22 14:52] cqlangyi commented on #97273
appreciated for the quick reply.
get it a little bit.
now would close this issue.

[2022-05-22 14:52] #97273 closed

[2022-05-22 15:00] broomlytinum opened #97282 "Clarify that patterns may be used in trait implementations when explaining E0642"
I encountered E0642 which disallows patterns in functions without a body, particularly trait methods. It was not immediately clear to me that this meant one could still *implement* a trait method using patterns. Due to the fact that most trait implementations don't stray far from the provided argument names, it took me a moment to remember that the argument names in trait definitions are essential

[2022-05-22 15:13] steffahn commented on #93203
The fact that the support for nested usage of `s` in non-`move` closures relies on edition-2021 capturing behavior means that someone who would try to do something like
[code]
on edition 2018 or 2015 would
* (given the current documentation) have a hard time knowing in the first place that this is something that *just works* on edition 2021
* have to come up  on their own with the solution of putt

[2022-05-22 15:40] Milo123459 commented on #97200
What should be linked? Something in Rust by Example or the Rust docs (or something else?)

[2022-05-22 15:40] Milo123459 commented on #97200
@rustbot claim

[2022-05-22 15:43] Milo123459 commented on #96999
Could a suggestion be implemented where it is replaced with a format argument and replaced with the argument number? I think that could be a good idea.

[2022-05-22 15:43] BlaCoiso commented on #97279
`rustc` does not generate Windows Resource files; you can get the behavior you described using the [`winres`](https://crates.io/crates/winres) crate

[2022-05-22 16:06] porglezomp commented on #97200
@estebank would know better, but I'd expect it to link to the reference page for patterns, https://doc.rust-lang.org/reference/patterns.html

I'm slightly unsure about this because of the intimidating grammar block at the top if it's gonna end up pointing beginners to that, but it's probably the best reference for understanding all the details of patterns…

If not that, then I'd expect the Book ch

[2022-05-22 16:09] neuronetio commented on #63939
also `clang` must be installed :)
`sudo apt install clang`

[2022-05-22 16:40] est31 commented on #49733
FTR, deref patterns (#87121) don't help with removal of `box_syntax`, only with removal of `box_patterns` (#29641).

`box_syntax` is still needed inside std facade crates, to implement `Box::new`, but also to implement `vec![]`. There are `box` syntax free alternatives for both, but in #87781 no alternative could be found to remove box syntax from those two places. See https://github.com/rust-lang

[2022-05-22 16:46] jsha commented on #97048
There is a theme that comes up frequently for rustdoc: we want to produce the most useful docs for the reader. Are we doing that in spite of the doc author, or in collaboration with the doc author? In other words, should we expect that the doc author is writing their public API with an eye towards documentation? I think rustdoc has to be in collaboration with the doc author. There are some ways a

[2022-05-22 16:56] conradludgate commented on #97048
I think I agree with this conclusion. It's just a shame this feature would be unrecommended in lib code beyond the use of something like `mut foo: Foo`

[2022-05-22 17:23] semicoleon commented on #78713
I can still reproduce this on 1.61.0 but with a weird caveat I haven't seen mentioned anywhere: it works correctly through cargo but not rustc directly?

<details><summary>cargo</summary>
<p>

[code]

</p>

</details>

<details><summary>rustc</summary>
<p>

[code]

</p>
</details>

Also RUST_BACKTRACE=full does not seem to resolve the problem

[2022-05-22 17:27] cmpute commented on #64167
I have a case related to this issue:

[code]
([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d18918cd40413f1048ca24b3fb683c46))

In this case, `test2` and `test4` are correct implementation while the others are incorrect because they lack trait bounds. But the error messages on `test1` and `test3` are not very helpful.

The error message for `test0` is the mo

[2022-05-22 17:43] thalesfragoso commented on #95496
@RalfJung We define the MMIO "registers" as structs, and then we just cast a fixed usize to a ptr to the struct. Yes, this violates strict provenance, but it's already listed on things to consider and I don't think it will cause many problems, since the address is outside of the space managed by the compiler and we always use volatile operations.

So we just need to mark the type in the struct as

[2022-05-22 17:56] bjorn3 commented on #95496
The write to the device register would have to be volatile. Otherwise I believe the compiler is allowed to move the write, load it again after the write or write twice. Volatile exists precisely for device register accesses (and signal handlers)

[2022-05-22 18:25] eggyal commented on #78713
If you don't specify [`-C debuginfo`](https://doc.rust-lang.org/rustc/codegen-options/index.html#debuginfo), it defaults to `0` (no debug info).  cargo's default [dev profile](https://doc.rust-lang.org/cargo/reference/profiles.html#dev) uses `debuginfo=2` (full debug info).  That's the likely difference.

[2022-05-22 18:35] semicoleon commented on #78713
Yup, that did the trick

[code]

[2022-05-22 19:04] RalfJung commented on #95496
So the pointer has type `*mut *mut ()`? Yeah that makes sense.

[2022-05-22 19:08] eggyal commented on #78713
I think #62897 is relevant to this issue, or at least provides some useful background.

[2022-05-22 19:16] #97263 closed

[2022-05-22 19:16] Lokathor commented on #95496
Well i'm just gonna quote part of [the docs](https://llvm.org/docs/LangRef.html#volatile-memory-accesses):

I read "A volatile operation may not modify any other memory accessible by the module being compiled." as being that volatile can't modify any normal memory your program can see, including between copying between buffers in your normal program. Maybe I'm being too paranoid.

[2022-05-22 19:30] 4ldas opened #97285 "std::ptr::read linux issue"
seems to core dump regardless of conditions ive tried playing around with it a bit, keep in mind ive only tried with reading external address so far but ye, works on windows  by what ive tried also

on fedora 36 with cargo 1.63.0-nightly (a4c1cd0eb 2022-05-18) rustc 1.63.0-nightly (c06728704 2022-05-19) rustup 1.24.3 (ce5817a94 2021-05-31)
info: This is the version for the rustup toolchain manager

[2022-05-22 19:45] pierwill commented on #92052
I'm afraid I'm too far removed from this code now to see this across the finish line...

[2022-05-22 19:45] Milo123459 commented on #97200
I'll wait for him to respond before starting.

[2022-05-22 19:50] bjorn3 commented on #95496
The DMA buffers wouldn't need volatile, just a synchronization fence or something similar. The device register write initiating the DMA transfer (and any other device register access) would need volatile.

[2022-05-22 19:58] RalfJung commented on #95496
The volatile operation will not modify any *other* memory. It can of course modify the memory behind `ptr`.

All this sentence does is let the compiler reorder volatile and non-volatile operations.

[2022-05-22 20:03] thalesfragoso commented on #95496
Yes, the write to the register must be volatile, what I meant is that we will use non-volatile operations on the destination buffer for the DMA (after DMA is done).

I think that this is just limiting the side-effects of volatile operations, as in, a volatile write to memory address `x` can't cause a modification on memory address `y`, which is indeed the case for DMA. However, what "protects" us

[2022-05-22 20:06] wellsilver commented on #97279
noice thanks

It would be nice if they did though

[2022-05-22 20:06] #97279 closed

[2022-05-22 21:59] est31 commented on #49733
I've opened #97293 to figure out a replacement syntax. Basically let `box x` become `#[rustc_box] Box:new(x)` very early on during compilation, and get it lowered to `box x` inside the compiler. Then later, `box x` can be removed from the AST, as well as surface syntax parsing for it. And then it's properly become an implementation detail.

[2022-05-22 22:49] robinmoussu opened #97296 "Diagnostic regression when rustc cannot specialize (using `min_specialization`)"
Note: I’m not sure if anything need to be done since specialization should allow the following code when it will fully be implemented, but currently the quality of the diagnostic is decreased when `min_specialization` is used:

---

Given the following code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=476f816d693378654111678d1a30a757)

[code]

The current

[2022-05-22 23:26] filnet opened #97299 "mingw: panic when compiling rustc_llvm"
### Code

There is no code.
The internal compiler error happens when building rustc itself (on MSYS2/Mingw)

### Meta

We are trying to build Rust 1.61.0.
The error happens when building `rustc_llvm` while processing the libs passed on the `rustc` command line.
The issue concerns native library modifiers and was most probably introduced by https://github.com/rust-lang/rust/commit/1004783ef9bdcf006

[2022-05-22 23:27] mbhall88 commented on #86319
You are right, none of those listed file names benefit from a split at the first dot. But there are **many more** file names "in the wild" that do. Solution: anyone working with those file names uses some other method to extract the parts they want...
Saying a method is not needed because some corner cases make it useless doesn't negate it being very useful in a whole bunch of other circumstances.

[2022-05-22 23:40] filnet commented on #97299
Note that we have `-l dylib=pthread -l 'static:-bundle=pthread'` on the rustc command line.
So we have the same lib twice and one has modifiers which triggers the error.
It should actually trigger an `overriding linking modifiers from command line is not supported` error but panics before...

[2022-05-23 00:26] ChrisDenton commented on #97285
Thanks for the report! Could you provide a small example program that shows the problem you're encountering?

[2022-05-23 00:52] Firstyear commented on #74895
@gibfahn The issue on unix systems is posix acls, so you can't actually check very easily :(

[2022-05-23 02:25] LingMan commented on #97197
searched nightlies: from nightly-2022-04-16 to nightly-2022-04-17
regressed nightly: nightly-2022-04-17
searched commit range: https://github.com/rust-lang/rust/compare/3f391b84552f210adec7893b50c5da74f9362ae4...878c7833f6c1ff10e2fd89074e5bd4ef5ff15936
regressed commit: https://github.com/rust-lang/rust/commit/07bb916d44a66d2caba427c7ee132bbeb245977b

<details>
<summary>bisected with <a href='http

[2022-05-23 02:27] semicoleon commented on #94972
@rustbot claim

[2022-05-23 02:50] #96718 closed

[2022-05-23 04:32] TonalidadeHidrica commented on #59159
As this issue was closed by merging #96268 , can we now safely ignore this warning?  I'm using 1.61.0 stable.  Will this warning disappear if I updated to 1.62.0 in the future?

[2022-05-23 05:01] compiler-errors commented on #97197
@rustbot claim

[2022-05-23 07:06] ihciah opened #97305 "`let _ = var` will not move variable"
[code]

Here I define a `DropFlag` to check if variable is dropped.

When I use `let _unused = drop_flag_copy;` instead of `let _ = drop_flag_copy;`, the checking code works fine.

I don't know if this is a bug or designed so. I know maybe the code block has been optimized, but I think the side effect of move should be kept.

[2022-05-23 07:32] tbu- commented on #97305
I believe this is intentional. `_` is the empty pattern, it doesn't actually move anything. That's sometimes useful if you want to ignore parts of a struct. Perhaps a lint could be added for the case presented here.

[2022-05-23 07:51] VincentWo opened #97306 "Make the Rustdoc Sidebar hideable, even on larger viewports"
I often open the RustDoc Documentation of a crate on the left and my own code on the right. Since I don't have the biggest screen this means that a lot of the code is hard to read and requires scrolling:
<img width="729" alt="A screenshot of a RustDoc Page, showing that the size of the sidebar on the left forces the code on the right to have horizontal scroll" src="https://user-images.githubuserco

[2022-05-23 07:56] SparrowLii commented on #75760
Just dived into it and tried to make some fixes: #97307 .

[2022-05-23 07:57] petrochenkov commented on #97299
Yes, the ICE is caused by `unwrap()` used to determine the span for the error.
There's a PR in progress that fixes that - https://github.com/rust-lang/rust/pull/94962.

Even without ICE you'll need a workaround for the error that it's masking - linking the library with modifiers either only from command line, or only from `#[link]` attributes.
https://github.com/rust-lang/rust/pull/94962 will rela

[2022-05-23 07:59] petrochenkov commented on #97299
The ICE is a regression from https://github.com/rust-lang/rust/pull/93901.

[2022-05-23 08:41] psumbera commented on #94983
I'm not able to build 1.61.0 on Solaris now. There is no libstdc++.a bundled with Solaris GCC. And there is also no libc++. Any suggestion?

[2022-05-23 09:06] iago-lito commented on #84186
That's a good idea @TennyZhuang :) I'm just back from vacations, I'll do this as soon as I emerge from the global catchup.

[2022-05-23 09:11] JohnTitor commented on #72614
So the problem here was diagnostics, right? Since it now compiles fine, I think it's more of "hidden" than "fixed". Given that, I'm not sure if it's really worth adding a regression test, any thoughts?

[2022-05-23 09:31] aticu commented on #81701
@rustbot claim

[2022-05-23 09:47] Nemo157 commented on #72614
Wait, how does this compile now? `fn foo` should be invalid, it's returning a type that doesn't implement the trait it claims to implement.

A slight modification shows that it's now somehow leaking additional trait impls that weren't declared on the `impl Trait` type ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2711e2b7c1522e7510b7f7549bce23bf)):

[code]

[2022-05-23 10:12] Nemo157 commented on #97305
There is a (`allow`-by-default) clippy lint for this:

[code]

[2022-05-23 10:17] ppentchev opened #97310 "rustdoc: link from a private item to a private item in a different module"
Hi,

First of all, thanks a lot for working on Rust and the related projects!

If I'm reading https://rust-lang.github.io/rfcs/1946-intra-rustdoc-links.html#links-to-private-items correctly, then the documentation of a private item should be able to link to the documentation of another private item. This works if both items are in the same module, but for the (somewhat convoluted) code that I've p

[2022-05-23 10:18] apiraino commented on #97197
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397197.20Index.20out.20of.20bounds.20while.20checking.20function.20arguments) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-05-23 10:27] #91949 closed

[2022-05-23 10:27] #97197 closed

[2022-05-23 10:29] Nemo157 commented on #97030
One reason to keep the change is that doctests on private functions also run, even though they similarly can't access the function they are documenting. For consistency it makes sense that all doctests just run, and it's up to the dev to either ` ```ignore ` or to use `//` comment syntax to make it not a doctest.

[2022-05-23 11:01] apiraino commented on #97255
Note: to reproduce the issue, need to compile the crate in release mode, ex. `cargo build --release`

[2022-05-23 11:13] TaKO8Ki opened #97311 "Wrong suggestions for typos on variables that have the same name as struct fields"
Given the following code:

1.63.0-nightly (2022-05-22)

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bb6ee98b3c92917f9eab8607bf3f5deb

[code]

The current output is:

This suggestion can cause compiler errors.

[code]

Ideally the output should look like:

`help` shouldn't be emitted.

or should look like `println!("{}", self.config)`.

[code]

[2022-05-23 12:06] ricked-twice commented on #95750
Here is the backtrace using stage1 from [9e2f655](https://github.com/rust-lang/rust/commit/9e2f65586366b731f13a10021c5191a664f4adc2)

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[2022-05-23 12:08] ricked-twice commented on #95750
This is really strange, because I do not understand how the `assert!` is even executed here.

[code]

[2022-05-23 12:09] GuillaumeGomez commented on #97306
I don't think allowing to hide the sidebar is a good idea for the general documentation as it contains important information.

What we could do is change the minimum width required to switch to "mobile mode" where the sidebar is hidden by default (because mobile devices have very few space to spare).

cc @jsha

[2022-05-23 12:10] Amanieu commented on #91006
@rfcbot merge

[2022-05-23 12:12] oli-obk commented on #72614
Yea, this is pretty much that one backcompat hack that I want to eliminate: https://github.com/rust-lang/rust/blob/4f372b14dea58cbff1dd76bb651f9c035d3f6e7b/compiler/rustc_trait_selection/src/traits/project.rs#L260 should get removed and cratered.

[2022-05-23 12:13] WaffleLapkin commented on #91006
Note that `from_utf8_mut` is **not** being stabilized as `&mut` is still unstable in `const` context.

cc @oli-obk

[2022-05-23 12:14] WaffleLapkin commented on #90206
Note that `from_mut` is **not** being stabilized as `&mut` is unstable in `const` context.

cc @oli-obk

[2022-05-23 12:14] VincentWo commented on #97306
If this is the less controversial approach than I am all for it :)

[2022-05-23 12:14] Amanieu commented on #91006
Tracking issue for `&mut` in `const`: #57349

[2022-05-23 12:14] Amanieu commented on #90206
Tracking issue for `&mut` in `const`: #57349

[2022-05-23 12:15] GuillaumeGomez commented on #97306
By curiosity: what's your viewport width?

[2022-05-23 12:31] VincentWo commented on #97306
Oh yes, sorry for not including it.
Using a 14' Macbook Air M1 with Firefox, so probably not the most unusual setup:
Full-Screen: 1440px
Using it on only the half: 714px

[2022-05-23 12:44] ihciah commented on #97305
The [clippy](https://rust-lang.github.io/rust-clippy/master/index.html#let_underscore_drop) says:

But when I test it with:
[code]
It fails. I read the LLVM IR and found infact the `drop_flag` and `drop_flag_copy` are all dropped at the same time: the last line. The playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1c6db8d2041ac01baeb21e9048e42141

As shown

[2022-05-23 12:55] JohnTitor commented on #96572
Triage: https://github.com/rust-lang/rust/issues/96572#issuecomment-1115951681 and https://github.com/rust-lang/rust/issues/96572#issuecomment-1125116943 are fixed by #96515. The last one (https://github.com/rust-lang/rust/issues/96572#issuecomment-1125117692) is still ICE.

[2022-05-23 12:56] alexschrod commented on #97305
Note that it says "the **initializer** expression," i.e. something that initializes a value. In `let _ = drop_flag_copy` `drop_flag_copy` is not an initializer expression.

[2022-05-23 12:59] est31 opened #97314 "`x.py test tests/` doesn't work"
If you try to do `./x.py test src/test`, it doesn't work:

[code]

Same goes for `x.py test compiler` and `x.py test library`.

@rustbot label A-rustbuild

[2022-05-23 13:00] JohnTitor commented on #72614
@oli-obk thanks for the pointer! Are we ready to run crater or do you want to add some more patches before it?

[2022-05-23 13:13] ihciah commented on #97305
Thanks! It solved my concern in previous reply.

But my main issue has not been solved yet :) I think the `let _ = ` may not be optimized directly for non-initializer expr. It may also trigger variable scope changing.

[2022-05-23 13:13] #87517 closed

[2022-05-23 13:15] JohnTitor commented on #89492
Triage: the stabilization PR (https://github.com/rust-lang/rust/pull/93735) has landed 🎉, closing as done.

[2022-05-23 13:15] #89492 closed

[2022-05-23 14:14] GuillaumeGomez commented on #43781
https://github.com/rust-lang/rust/pull/89596 was merged a while ago. Is there anything else remaining to be done in here? Otherwise I can open a stabilization PR like https://github.com/rust-lang/rust/pull/79263.

[2022-05-23 14:19] GuillaumeGomez commented on #93784
Since https://github.com/rust-lang/rust/pull/97139, I think there are no more spurious failures? I think the bug came from puppeteer `waitFor` function. I removed my usage of it in https://github.com/GuillaumeGomez/browser-UI-test/pull/310 when I was working on something else. I'll close the issue and if a spurious failure appears again, please re-open it.

[2022-05-23 14:24] oli-obk commented on #72614
Unless something comes up during the removal PR itself, this should be ready to go

[2022-05-23 14:30] jhpratt commented on #43781
I'm not aware of any blockers. I have been using this for many months without issue, as have many other large crates.

[2022-05-23 14:35] GuillaumeGomez commented on #43781
Same on my side but I was thinking that maybe I was missing something.

Do you think we can stabilize it @rust-lang/rustdoc ?

[2022-05-23 15:08] tmiasko commented on #96512
@conradludgate are you still planning to work on this issue?

[2022-05-23 15:12] complexspaces opened #97318 "Duplicate DllMain symbols cause linkage failure using Rust 1.61"
As of Rust 1.60+, my work codebase no longer compiles correctly when trying to build a workspace package. ~~I believe this may be related to https://github.com/rust-lang/rust/pull/95604.~~

### Code
I do not yet have a reproduction example as the crate that fails to build is heavy on internal dependencies.

I expected to see this happen: The crate would build correctly.

Instead, this happened: Th

[2022-05-23 15:23] Bryysen opened #97319 "Confusing error message on negative enum-discriminants"
Given the following code:

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b64c45947926cc2aaabcd31c36514d60)
[code]
The current output is:

[code]

Ideally the output should look like:

[code]
I don't have any understanding of the internal machinery of the diagnostics, but it seems that the value is being cast to the unsigned variant of the integer before displ

[2022-05-23 15:25] conradludgate commented on #96512
Not currently, I spent a few full days looking but I don't want to risk burning out debugging something that I don't completely understand 😓. I hope I at least narrowed it down a bit

[2022-05-23 15:44] est31 commented on #43781
I'm wondering about this *and* here.
![Screenshot_20220523_173414](https://user-images.githubusercontent.com/8872119/169855464-396cd517-f7e6-4e0c-b7c5-e52c4fa9e225.png)

It's a bit ambiguous what *and* entails. It can be interpreted by users that enabling either of the two features is enough for getting that function.

Maybe "Requires crate features http and cache" would make it clearer?

[2022-05-23 15:48] GuillaumeGomez commented on #43781
`Requires windows` seems a bit weird but I'm fine with it.

[2022-05-23 15:59] najamelan commented on #43781
Stabilization of this would be a massive quality of life improvement.

[2022-05-23 16:17] ChrisDenton commented on #97318
So, to be clear, it fails on 1.60? Or did you not test that version?

[2022-05-23 16:24] complexspaces commented on #97318
That's my bad, sorry. It also fails with 1.60 with the same error. We did not try using 1.60 (upgrading from 1.59 to 1.61) but I can reproduce the problem with it too. I'll update the issue,
[code]

[2022-05-23 16:50] Ayush1325 opened #97322 "The no_std targets seem hardcoded in bootstraping"
I was trying to build `library/core` for `x86_64-unknown-uefi`. However, it was trying to build `library/test` and by extension `library/std` for some reason. This is odd since the UEFI targets are no_std targets according to rust platform support. The error I was getting is as follows:
[code]

Building for some other no_std targets such as `x86_64-unknown-none` works fine and only builds core, ru

[2022-05-23 16:50] Manishearth commented on #97048
Strong agree with this btw

[2022-05-23 17:07] Bryysen commented on #97319
Gave it some more thought, and I'm guessing `#[repr(i8)]` just evaluates to `#[repr(u8)]` (and vice-versa for the other integer types) under the hood, but due to consistent wrapping behavior and two's complement, there is no difference to the user since they have to explicitly cast the enum to the respective integer to read it anyway. Well except for this error message I guess.

[2022-05-23 17:13] pietroalbini opened #97324 "Crater runs for 1.62"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2022-05-23 17:14] jhpratt commented on #43781
For clarity, the stabilization is regarding the attribute itself. How it's displayed, like everything else in docs, can change to be improved. So wording isn't a blocker.

[2022-05-23 17:14] pietroalbini commented on #97324
@craterbot run name=beta-1.62-1 start=1.61.0 end=beta-2022-05-20 mode=build-and-test cap-lints=warn p=1

[2022-05-23 17:25] Manishearth commented on #97048
I slightly prefer truncation because the pattern destructuring IME is more for the internal code's benefit than for the external API benefit

[2022-05-23 17:35] complexspaces commented on #97318
I've been trying to narrow this one down more. I haven't had any success with `cargo bisect-rustc` yet but this issue does _not_ occur in the latest nightly build:
[code]

[2022-05-23 18:19] petrochenkov commented on #97299
Fixed in https://github.com/rust-lang/rust/pull/97328.

[2022-05-23 18:31] ComputerDruid commented on #74722
I think https://github.com/rust-lang/rust/pull/94274 only helps with _unstable_ lints, not unknown ones, unfortunately.

[2022-05-23 18:51] Nemo157 commented on #43781
Is the plan to only stabilize `doc(cfg)`, or all three features? If the latter, `feature(doc_auto_cfg)` probably needs to have an explicit opt-in like `#![doc(auto_cfg)]` added so that we don't start just showing cfgs on crates that aren't prepared for it (and maybe a plan to make that default active in a future edition); and some usage reports for `cfg_hide` would be nice.

[2022-05-23 19:06] complexspaces commented on #97318
`cargo rustc-bisect` reports that this issue was fixed by https://github.com/rust-lang/rust/pull/95604. I still have not had any success finding where it regressed though, sorry.
[code]

[2022-05-23 19:27] eholk opened #97331 "Tracking issue for enabling `-Zdrop-tracking` by default"
We tried to do this a while ago (#91032) but discovered a number of regressions soon afterwards so it was disabled (#93165). This issue tracks known regressions and their fixes. Note that many regressions have been fixed but are not listed here since they were done before I filed this bug.

- [x] https://github.com/rust-lang/rust/issues/97332
- [x] https://github.com/rust-lang/rust/issues/97333
-

[2022-05-23 19:28] eholk commented on #97331
@rustbot label +A-async-await +AsyncAwait-Triaged

[2022-05-23 19:31] eholk opened #97332 "Drop tracking error message regression in `issue-70935-complex-spans.rs`"
With `-Zdrop-tracking` enabled, `issue-70935-complex-spans.rs` gives the following stderr output:

[code]

Without `-Zdrop-tracking`, we get the following error message:
[code]

The old message seems much better, so it'd be good to match the behavior with drop tracking.

[2022-05-23 19:33] eholk commented on #97332
[Zulip thread with lots of discussion about this issue](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/josh.20rambles.20about.20drop.20tracking)

/cc @jyn514

[2022-05-23 19:34] ridwanabdillahi commented on #96786
I ran a variety of experiments to improve the perf regression, but it seems this was caused by the overall overhead of adding a new feature which not only added new symbols but also added fields to the `CrateMetadata` object. This causes more data to be serialized and deserialized for every crate even if the items are blank. The [performance analysis](https://github.com/rust-lang/rust/pull/91779#i

[2022-05-23 19:34] #96786 closed

[2022-05-23 19:40] eholk opened #97333 "`must_not_suspend` lint regression with `-Zdrop-tracking`"
The test case `src/test/ui/lint/must_not_suspend/ref.rs` fails when `-Zdrop-tracking` is enabled.

We are not recognizing the `Umm` type as held across a borrow. Here's the revelant code from the test:
https://github.com/rust-lang/rust/blob/7f997f589f4e0b1c59a3680e7a8dd941d3ada518/src/test/ui/lint/must_not_suspend/ref.rs#L17-L25

In a way, that's correct. We aren't holding `Umm` across the borrow,

[2022-05-23 19:41] eholk commented on #97333
@guswynn - What do you think is the right behavior here?

[2022-05-23 19:42] eholk commented on #97331
@rustbot claim

[2022-05-23 19:53] jyn514 commented on #97332
@rustbot claim

[2022-05-23 19:55] GuillaumeGomez commented on #43781
Only `doc(cfg)` iiuc.

[2022-05-23 19:56] GuillaumeGomez commented on #43781
However I think most people in here are very likely talking about `doc_auto_cfg`. Might be better to clarify beforehand.

[2022-05-23 20:04] eholk commented on #87309
There is now: #77331

[2022-05-23 20:50] #90588 closed

[2022-05-23 21:31] guswynn commented on #97333
@eholk this was always an issue with `must_not_suspend`: how deep do we recurse into types to check. I think the conclusion was that the cases covered by the existing tests were adequate? I think its just `T`, `Box<T>, and references?

[2022-05-23 21:52] gibfahn commented on #74895
Yeah I have now run into that. I ended up with this, no idea if it's correct:

[code]

[2022-05-23 22:04] nbdd0121 commented on #74895
If you are only targeting POSIX, then you should be using the `access` function from libc.

[2022-05-23 22:10] c410-f3r commented on #95152
Closing due to the lack of response. If you guys want me to deal with this situation with at least a brief mentorship, then feel free to ping me.

[2022-05-23 22:18] Bryysen commented on #97319
So I got curious and decided to check out what causes this. Looking around a bit trying to find which part of type-checking had to do with enums led me to this [function](https://github.com/rust-lang/rust/blob/222c5724ecc922fe67815f428c19f82c129d9386/compiler/rustc_typeck/src/check/check.rs#L1312). At the end we there is a part where we go through all the discriminants and ensure none of them are

[2022-05-23 23:23] SergioBenitez commented on #96890
Just wanted to add that this is also affecting `rocket`, but in a different way:

[code]

<img width="500" src="https://user-images.githubusercontent.com/1480321/169919843-ea08a980-9178-42a2-9cb0-c306a758edb9.png">

The `const` isn't there at all without the `doc(hidden)`:

<img width="500" src="https://user-images.githubusercontent.com/1480321/169919868-67957937-2246-4da2-9936-701ac2ef9896.png">

[2022-05-24 01:22] jyn514 opened #97339 "Create a tool which suggests tests to run based on modified files"
@digama0 came up with an excellent idea: it should be possible to, given the files modified since your git checkout last branched from master, generate suggestions for the tests you should run (i.e. those most likely to fail because of your changes). Some examples:
- library/std/src/lib.rs => `x test --stage 0 tidy library/std`
- compiler/rustc_data_structures => `x check && x test --stage 0 tidy

[2022-05-24 03:59] nekodjin opened #97343 "#[derive(Debug)] fails when a generic parameter shares the name of the generic type"
I tried this code:

[code]

I expected to see this happen:
Code should compile normally as expected, with a correct `fmt::Debug` implementation. Omitting the derive shows that rustc accepts this as valid and intelligible code. We know that rustc is interpreting the type of `irrelevant` as the type parameter and not the parent struct, as the latter would produce an error since it would produce a re

[2022-05-24 04:04] nekodjin commented on #97343
Running with macro backtrace does not provide any enlightening information as the macro is a compiler builtin.

[2022-05-24 04:16] lionellloh commented on #97339
@rustbot claim

[2022-05-24 04:17] lionellloh commented on #95872
Hi @hadrizi are you still working on this?

[2022-05-24 05:25] hkratz commented on #97305
This works as intended. The wildcard pattern `_` ["does not copy, move or borrow the value it matches"](https://doc.rust-lang.org/reference/patterns.html#wildcard-pattern).

In contrast underscore-prefixed identifiers like `_unused` as in `let _unused = ...`are normal [identifiers](https://doc.rust-lang.org/reference/identifiers.html) in an [identifier pattern](https://doc.rust-lang.org/reference/

[2022-05-24 05:50] Nilstrieb commented on #97343
[code]
Expanding and cleaning up the expansion yields this, which causes the same errors.

[2022-05-24 06:15] vbmade2000 opened #97344 "internal compiler error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-24 06:16] Nilstrieb commented on #97343
So I don't think this is a bug, since the issue is caused by exactly the name resolution specifics that allow the struct in the first place.

So this is a bad diagnostic at worst.

[2022-05-24 06:20] vbmade2000 commented on #97344
Rebuilt after `cargo clean` and error is gone.

[2022-05-24 06:42] oli-obk commented on #90206
cc @rust-lang/wg-const-eval

[2022-05-24 07:13] #97133 closed

[2022-05-24 09:54] rust-highfive opened #97348 "`miri` no longer builds after rust-lang/rust#96098"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#96098, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JakobDegen, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-05-24 10:11] Kixunil commented on #63291
Ah, I guess it could still be annoying to be unable to debug, right? There are many containers in Rust similar to `RefCell` so I guess rather than having a method for each it'd make more sense to have the optimization guaranteed in debug mode but maybe that's too hard.

[2022-05-24 11:16] b-naber commented on #97278
Yeah the reason why this doesn't compile is that `Arc` doesn't implement `StructuralPartialEq`. Tried to make the error message somewhat less confusing.

[2022-05-24 12:10] petrochenkov opened #97352 "Find a way to get rid of `src\tools\lld-wrapper`"
https://github.com/rust-lang/rust/pull/89288 added a new wrapper tool the only purpose of which is to call LLD with the right flavor when `rust-lld` shipped with Rust distribution is used.

I strongly suspect that it is not necessary and the whole setup can be simplified.

The LLD executable itself is already a wrapper that does dispatch on its name and passed `-flavor`, we should be able to make

[2022-05-24 12:11] ghubertpalo commented on #74121
I have got the same error using this test case:

[code]
[link to playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=40a2d8a6cae742a1c2995f3ecc703a73)

This grants the following error message:

[code]

In a more general way, this error message raises as soon as the `cloned()` method is called on a borrow of an Option:

[code]

[2022-05-24 12:21] petrochenkov commented on #97352
Also, and advice from `lld.cpp` that is relevant to the way we are shipping and calling LLD:
[code]

[2022-05-24 12:39] mmajass opened #97353 "rust sorting algorithm"
I cannot figure out if I am mistaken or if rust built-in sort() with randomly unsorted Vec with the length of higher than 20 (inspired by timsort) is in some cases around 2x slower than a naive implementation of quicksort using the first element as the pivot?

for example this input:

[code]

with the supplied sort:

[code]

will take an average of 20.154 us to run:

Found 12 outliers among 100 me

[2022-05-24 13:12] joboet commented on #97353
Timsort's performance on random data is always quite bad, as in fact is the case for all merge sorts. An efficient quicksort will always be faster, because the partitioning stage can be implemented [branch-free and can be pipelined better in the CPU](https://blog.reverberate.org/2020/05/29/hoares-rebuttal-bubble-sorts-comeback.html) (multiple elements can be partitioned at the same time). In this

[2022-05-24 13:41] petrochenkov commented on #97352
I don't see why the copy named `ld64` is necessary.
Pre-https://github.com/rust-lang/rust/pull/88250 logic worked mostly fine, clang correctly found the `ld` file shipped by us, we just could add `-Wl,-flavor=ld64` for it to work correctly?

[2022-05-24 13:45] petrochenkov commented on #97352
I'm not sure whether it's necessary to keep both `rust-lld` and `gcc-ld/ld` copies of LLD, may be it is at least for backward compatibility, and at least for some time.
In that case the wrapper can be used just as a "symlink emulation", but in that case it doesn't need to do any dispatching.

[2022-05-24 13:46] petrochenkov commented on #97352
cc @hkratz

[2022-05-24 13:55] nekodjin commented on #97343
I agree. It's hard to see this as anything other than a bug, as I see it.

[2022-05-24 13:59] bjorn3 commented on #97352
Each variant only works for some platforms. If we only keep ld, we can't link for example for wasm or macOS. While if we keep ld64, we can link for any non-apple OS.

[2022-05-24 14:06] hkratz commented on #97352
`-flavor <flavor>` only works if passed as the first two arguments to lld. We don't call lld directly from rustc and as far as I know there is no way to make gcc/clang insert custom arguments to the lld call at the beginning.

[2022-05-24 14:39] Nilstrieb commented on #97343
Hm true, they could indeed use `self::`.

[2022-05-24 14:42] #82242 closed

[2022-05-24 15:14] petrochenkov commented on #97352
This

is still an option though.
We can make `-flavor` position-independent (under the same or other name).

We can also try upstream the change, reliably passing the flavor through a C compiler is a good motivation, IMO.

[2022-05-24 15:22] oli-obk commented on #72614
The reason this works is that in the original example we replace all opaque types in the function signature with inference variables (for typeck, nowhere else!). So in

[code]

* `impl std::ops::Sub<usize>` becomes `_1` with an obligation that `_1: Sub<usize>`.
* meaning `impl Foo<Bar = impl Sub<usize>>` becomes `impl Foo<Bar = _1>`
* and then that becomes `_2` with an obligation that `_2: Foo` an

[2022-05-24 15:46] mati865 commented on #72241
@kleisauke sorry, thought I had already anwsered here.
32-bit LLVM targets are blocked right now on having working unwinding. It doesn't manifest right away when cross-compilling but prevents bootstrapping Rust natively.

[2022-05-24 16:05] pro465 commented on #81513
i need this, so i will have to halt my project & wait until this is stabilised...

can i get estimates for when this will get stabilised?

[2022-05-24 16:09] hkratz commented on #97352
There was patch that was abandoned in 2020 which is why I did not pursue that: https://reviews.llvm.org/D80184

[2022-05-24 16:14] bjorn3 commented on #81513
I don't think we can give an estimate. There are still a lot of unresolved questions as noted in the issue description. After that people need to test it and only then can it be stabilized.

[2022-05-24 16:24] b-naber commented on #97278
My understanding is that `StructuralPartialEq` was introduced to ensure that pattern matching on constants works correctly.  A constant is structurally equal to another constant if their fields are structurally equal, where primitive types are structurally equal if they represent the same value. Note that if you derive `PartialEq` you get exactly that, structural equality, whereas if you manually

[2022-05-24 16:51] pnkfelix opened #97362 "Tracking Issue for RFC 3216: "Allow using `for<'a>` syntax when declaring closures""
This is a tracking issue for the RFC "Allow using `for<'a>` syntax when declaring closures" (rust-lang/rfcs#3216).
The feature gate for the issue is `#![feature(closure_lifetime_binder`)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A trac

[2022-05-24 17:00] pro465 commented on #81513
oh that's bad (for me at least), then i will have to probably just use `mem::transmute` and hope for the best...

[2022-05-24 17:26] ChrisDenton commented on #95890
To clarify, are you suggesting adding a new `fs::move` function or changing the behaviour of `fs::rename`?

[2022-05-24 17:27] joshtriplett commented on #77071
What's the current state of this? What needs to happen to get working stack probes on aarch64?

[2022-05-24 17:37] hydra commented on #88704
This is still an issue, I changed my linker to the gnu-ld linker for other reasons (map file generation, printing memory usage stats, etc) and forgot about this issue.  Today when working on a new project I encountered the error again.  I'm using a much newer version of rust since I opened this issue.

`rustup show` reports the following:

[code]

Has there been any update to the tools? what's the

[2022-05-24 18:01] estebank commented on #87791
I don't think adding something will be needed. `rustc_resolve` already has some facilities in place to search for "all items" and then we have a levenshtein distance function that can let us linearly scan all type names for ones that have a short distance.

[2022-05-24 18:04] estebank commented on #57374
I think that

[code]

could be improved by making the output closer to code people can write

[code]

[2022-05-24 18:30] adamgreig commented on #97146
It also seems some users currently rely on this behaviour; they use a static atomic to detect the double panic and respond differently (for example, initially in the first panic they attempt to communicate the panic using interfaces that might also panic, then in a second panic they perform only non-panicking handling/abort).

[2022-05-24 19:05] #49361 closed

[2022-05-24 19:05] #81061 closed

[2022-05-24 19:13] fmease commented on #97343
@rustbot claim

[2022-05-24 19:14] jyn514 commented on #95890
Either / or; I think just having `fs::move` would make it more clear that `rename` is not the same and from there you can figure out which you need. I'd assumed that `rename` already handles cross filesystem renames.

[2022-05-24 19:29] jackh726 commented on #57374
@estebank I think you're correct, but I think that might be better for a separate issue?

[2022-05-24 19:47] fmease commented on #97343
Ah, what a shame, `self::` of course doesn't work if the type and the impl are inside of a function :man_facepalming: :disappointed:

[2022-05-24 20:16] fmease commented on #97343
@estebank Do you think this hygiene issue was caused by #90519 or was it already present before that?

[2022-05-24 20:53] tschuett commented on #97352
https://reviews.llvm.org/D17952

[Clang] Accept absolute paths in the -fuse-ld option

[2022-05-24 21:17] fmease commented on #96890
In your case, it's inherent associated items being accidentally flagged which is #97205 which was closed by #97208 meaning the most recent nightly should not have your issue anymore.

[2022-05-24 21:31] #97348 closed

[2022-05-24 22:31] ChayimFriedman2 opened #97374 "Suggest to add a semicolon for generic functions"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2c08f9bdc96b83e64fe82f6ec8cd0813

[code]

The current output is:

[code]

Ideally rustc should suggest inserting a semicolon, like [it does if `bar()` isn't generic](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=87f1dfd04fc50a75ff656619eb95d61a).

I understand this is hard

[2022-05-24 22:42] petrochenkov commented on #97352
https://github.com/rust-lang/rust/pull/97375 tries to implement something that *almost* matches https://github.com/rust-lang/rust/issues/97352#issuecomment-1135939465, except that we are using the `lld-wrapper` for moving the flavor argument from an arbitrary position to the first&second one.

[2022-05-24 23:32] clarfonthey commented on #67792
More `Fn*` trait issues, it appears that the current implementation is not able to imply that methods of `~const Trait` implement `~const Fn*` traits beyond a single layer of nesting: [(playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=71293d203a2b963742ff2396485befc6)

[code]

[2022-05-24 23:42] clarfonthey commented on #97319
Honestly, I think this error could probably be reworded as well; since `Last` doesn't have an explicitly defined discriminant, we should also clarify that it's used by counting up from the previously defined discriminant, which here is `Second = -2`.

Of course, that doesn't have to be part of the first PR, but I figure it's worth mentioning here.

[2022-05-24 23:46] clarfonthey commented on #97278
`StructuralPartialEq` is basically required for any reasonable implementation of const generics, since it essentially lets the compiler treat the constants as opaque bit strings, which makes for easy table lookups, etc.

There's also the additional security implications where, if this weren't the case, the compiler would have to run any crate's code for arbitrary constants, whereas right now, crat

[2022-05-24 23:59] ChayimFriedman2 commented on #97311
Really ideally we should suggest something like `println!("{}", self.config)`, but I'm pretty sure this is infeasible. On the other hand, maybe one day we'll have field accesses in the formatting macros.

[2022-05-25 00:00] mmajass commented on #97353
Thank you for the thorough answer and links to interesting articles. I wish your answer could be added to the documentation for everyone to enjoy.

[2022-05-25 00:00] #97353 closed

[2022-05-25 00:12] clarfonthey commented on #97241
So, I was thinking about the use cases for this and was wondering if this is necessarily the right approach to take. In general, locks should contain the values that need mutual exclusion, so that the scope of the lock can be determined simply by how long the values inside are needed. That way, you can simply annotate locking methods with `#[must_use]` to get the right behaviour.

However, there a

[2022-05-25 00:45] lionellloh commented on #96928
@kingdido999 are you still working on it?

[2022-05-25 00:46] lionellloh commented on #96873
@Elliot-Roberts are you still working on this?

[2022-05-25 00:46] lionellloh commented on #96712
@raiyansayeed are you still working on this?

[2022-05-25 00:52] #93961 closed

[2022-05-25 00:52] #97094 closed

[2022-05-25 00:58] ComputerDruid opened #97378 "2021 edition ICE when destructuring enum in async block"
### Code

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f15aa10e86cb1b621fc80dca0b8c856f

### Meta

Only happens on 2021 edition

playground rust version:

[code]

Also exists in nightly:

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-25 01:28] raiyansayeed commented on #96712
Hey yes I'm still working on it, have most of it implemented I think. I just haven't gotten the time to review my code / push, although I think I should be able to do it by the end of this week.

[2022-05-25 04:01] DemiMarie commented on #46090
@bjorn3 that is going to be a problem, because some sandboxes (such as Sandstorm) deliberately avoid mounting `/proc` to reduce attack surface.  I think `rustc` should have a compiled-in fallback if `/proc` is not mounted.

[2022-05-25 04:31] Bryysen commented on #97319
Yeah that would improve the error quality in this case. I haven't checked if we can infer from context whether the discriminant has been explicitly assigned or not, but I assume we can, and in that case whenever we detect a duplicate we could add a small note saying that that the implicit discriminant is just a += 1 from the previous discriminant as you say. Doesn't hurt to do that for both positi

[2022-05-25 04:46] elonzyy opened #97381 "Compiler error on get_vtable_index_of_object_method"
I tried this code:

[code]
I expected to see this happen: 'el' will be derefed as u32

Instead, this happened: compiler complains

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

Rust playground link for the same code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a6b3700bf032c4433b98e4ea0e29c77a

[2022-05-25 05:55] clarfonthey commented on #97319
You should be able to assume that it's been previously assigned, since if every discriminant were inferred, there wouldn't be conflicts, unless the number of variants overflows the `repr` type (which I think has a separate error? I'm not actually sure)

And I think a good example to test here would be:

[code]

Since the discriminant for `One` would be actually 3, and fail.

[2022-05-25 05:56] ssbr commented on #85204
The same example also won't work for non-inherent associated types: https://github.com/rust-lang/rust/issues/38078#issuecomment-887044580

[2022-05-25 06:53] 4ldas commented on #97285
What i for example did was made another rust program and made a loop run printing out its address & value (it was mut var and still in scope btw so dw) and then made another external program which just simply reads the address of it using std::ptr::read, it compiles but seems to core dump on the runtime

[2022-05-25 08:13] oli-obk commented on #67792
We're working in https://github.com/rust-lang/rust/pull/96077 to reimplement the entire logic around all of this, as the current one is inherently broken as you noticed :)

[2022-05-25 08:23] pzhxbz opened #97387 "the same code got stackoverflow in windows but works for linux"
I tried this code:

[code]

I expected to see this happen: it will execute smoothly
Instead, this happened: got Stackoverflow error.
I also test the same code in Ubuntu20.04, and it got no error.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-05-25 08:33] fulara commented on #70941
I am sure this has been already discussed over many times,
but we just identified bug in the codebase due to Ok wrapping:

[code]

the result is `Result<Result<_,_>,_>` which is probably almost always unexpected.
Probably needs a clippy lint.

[2022-05-25 08:41] #97387 closed

[2022-05-25 08:44] pzhxbz commented on #97387
Sorry, it because Windows default stack size smaller than Linux

[2022-05-25 09:29] JanBeh commented on #27732
I have a [problem where I want to be generic over reference-like types](https://users.rust-lang.org/t/generalized-references-and-unsized-coercion/76056), and I feel like the current mechanism doesn't allow me something what I would like to do.

[2022-05-25 11:04] hyperswine opened #97390 "cargo test linker error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-25 11:33] djc opened #97392 "Surprising diagnostics for E0623 lifetime mismatch"
Given the following code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f47c0f93783ccca97fa1a040ce78f668

The current output is:

[code]

I'm not sure what the ideal output for this, but here are some improvement points:

* Showing what appears to be the same error twice
* The explanation of "data [..] flows into [..]" seems really weird considering this is just

[2022-05-25 11:45] bjorn3 commented on #97352
@tschuett https://reviews.llvm.org/D17952 only affects clang and not gcc. In addition it doesn't help with getting rid of lld-wrapper, just with getting rid of the `-B` argument in favor of -fuse-ld for specifying the linker location.

[2022-05-25 12:13] tschuett commented on #97352
I know that the project is moving from Python to rust.

Instead of symlinks, you could have super dooper tiny Python scripts forwarding to rust-lld.

[2022-05-25 12:28] petrochenkov commented on #64797
https://github.com/rust-lang/rust/pull/97391 improves the implementation to more usable state.

[2022-05-25 12:38] mineichen opened #97396 "Move `self` out of `&mut self` in Iterator::next() implementation"
The compiler accepts calling other Iterator-Methods which require a owned self within Iterator methods which only have a &mut self.

[code]

I expected to see a compiler error in this case.

Instead, it runs with undefined behavior...

This bug seems to affect just the Iterator-Trait. Custom traits are handled correctly.
[code]

Happens on nightly and Stable:
[code]
[code]

</details>

[2022-05-25 12:48] bjorn3 commented on #97352
Python has way too long of a startup time for that. For small programs starting python would likely take longer than linking using lld saves.

[2022-05-25 13:07] SNCPlay42 commented on #97396
This is because an [`impl <I: Iterator> Iterator for &mut I`](https://doc.rust-lang.org/stable/std/iter/trait.Iterator.html#impl-Iterator-14) exists. The `self.count()` and `self.enumerate()` calls are not consuming a `MyIter`, they are consuming a `&mut MyIter`.

[2022-05-25 13:22] #97396 closed

[2022-05-25 13:58] #74836 closed

[2022-05-25 15:49] petrochenkov opened #97402 "How to find LLD with old versions of gcc?"
This issue is related to stabilizing use of LLD from rustc and/or making it default - https://github.com/rust-lang/compiler-team/issues/510, https://github.com/rust-lang/rust/issues/39915.

GCC and Clang have several ways to specify linker.
- `-B directory`, you specify a search directory, then the compiler finds a file named `ld` in it an uses it as a linker.
  This is the old way working on all

[2022-05-25 15:57] bjorn3 commented on #97402
A system where GCC is old enough that it doesn't support `-fuse-ld=lld` probably doesn't have lld at all, right? So for the non-self-contained mode that would just be an error. I think `-fuse-ld=lld` for a system lld and `-B` for the self-contained mode would be the easiest.

[2022-05-25 17:06] matthiaskrgr commented on #97381
:thinking:  crashes since `nightly-2020-09-17`

nightly-2020-09-16:
[code]

`nightly-2020-09-17`:
[code]

[code]

[2022-05-25 17:08] tschuett commented on #97402
There is no `autoconf` step in cargo resp. rustc?

[2022-05-25 17:15] petrochenkov commented on #97402
No idea, even if cargo caches some info about the environment, it does it implicitly, and the cache doesn't survive `cargo clean`.

[2022-05-25 17:21] bjorn3 commented on #97402
Everything cargo caches afaik is the output of `rustc -vV` and `rustc - --crate-name ___ --print=file-names --crate-type bin --crate-type rlib --crate-type dylib --crate-type cdylib --crate-type staticlib --crate-type proc-macro --print=sysroot --print=cfg`. The former is to get the rustc version and the later is to get what different file kinds are called on the selected target (hard coded per ta

[2022-05-25 17:57] tavianator commented on #40384
The latest release of the [argmax](https://crates.io/crates/argmax) crate is complete enough to implement length-limited command lines in [fd](https://github.com/sharkdp/fd).  I'd encourage anyone who's encountering this issue to give it a try and report any issues/missing features.

If people like the API I can try to make an implementation for the standard library.

[2022-05-25 18:00] mati865 commented on #97402
LLD was usable earlier but I agree we shouldn't bother with them because they likely won't be able to correctly link Rust libraries.

[2022-05-25 18:10] scottmcm commented on #84186
Note that splitting the feature causes some churn for any users on nightly.

You might consider a PR to stabilize the checked ops as `nonzero_checked_op` -- since there's no churn to add that to `feature`s since they're stable -- while leaving the `unchecked` ones under the previous feature name.  Then either that could be the thing that gets FCP'd, or used to answer the question about specificall

[2022-05-25 18:13] vierzehnbyte opened #97404 "could not compile `core`"
**cargo build --target custom-target.json -Z build-std**

error: could not compile `core`

Caused by:
  process didn't exit successfully: `rustc --crate-name core --edition=2021 /home/ubuntu/.rustup/toolchains/nightly-2022-05-25-aarch64-unknown-linux-gnu/lib/rustlib/src/rust/library/core/src/lib.rs --error-format=json --json=diagnostic-rendered-ansi,artifacts,future-incompat --crate-type lib --emi

[2022-05-25 18:17] aliemjay opened #97405 "Outlives bounds for projections are broken when used with generators/closures"
I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=776e25cac316cad8c1ee83508ceb7f69

[code]

Both asserts don't pass. Adding `<T: 'static>` bound on `generic_fn` makes it compile.

We are requiring *all* the `Substs` for closures and generators to outlive `'static` here:
https://github.com/rust-lang/rust/blob/9fed13030c2a2ebd79bfb1fd8be4f768cbe8c9d9/compile

[2022-05-25 19:05] #97299 closed

[2022-05-25 19:05] #82830 closed

[2022-05-25 19:05] #97278 closed

[2022-05-25 19:05] joshtriplett commented on #87074
@rfcbot resolved block-on-97122
(Now in FCP.)

[2022-05-25 19:10] 5225225 commented on #97404
I can't reproduce this on my x86_64-unknown-linux-gnu target, I'm trying `cargo run -Zbuild-std --target x86_64-unknown-linux-gnu` on the `cargo init` hello world. I just did a rustup update and got a `rustc --version` of `rustc 1.63.0-nightly (76761db59 2022-05-24)`. So at least building the stdlib isn't failing.

Maybe it's to do with the custom target .json? Can you share that? (same for the co

[2022-05-25 19:27] jyn514 commented on #97404
SIGKILL usually happens because you ran out of memory. Are you sure this a deterministic? If you run this 3 times on the old and new toolchain, does it have the same behavior each time?

[2022-05-25 19:28] Milo123459 commented on #90323
@rustbot release

[2022-05-25 21:14] gyakovlev commented on #97255
in gentoo we've added those 2 patches on top of 1.61.0 and it fixes the problem
downstream bug: https://bugs.gentoo.org/847421

https://github.com/rust-lang/llvm-project/commit/fe8a27acd716a42667f5a572f52f2b04636010ff
and
https://github.com/rust-lang/llvm-project/commit/67a290460c374d5e0d18a06c798896cac0b19e59

I think it's the first one, but I added second one too.

to bad we can't patch released

[2022-05-25 21:17] raindev commented on #93904
One potential argument against hiding the macro from the docs is that it shows up in the compiler errors originating from the use of formatting macros (i.e. ``note: this error originates in the macro `$crate::format_args_nl```).

[2022-05-25 22:02] jamesmunns commented on #73714
I think it may be possible to make RwLock const now, at least from a quick look at Unix and Windows, there doesn't seem to need to be any allocations, and I don't see any data that isn't const-able.

[2022-05-25 22:34] clarfonthey commented on #67792
I have noticed! Thank you for the hard work on all of that.

I didn't know if that would affect this or not, so, I figured it'd be best to at least report the shortcomings of the current implementation. Hopefully that fixes a lot of these issues.

[2022-05-25 22:42] Elliot-Roberts commented on #96873
Hello yes sorry for the super slow pace. I am still working on it (mostly reading the rustc dev guide so far). Is that alright or is it important to get this done quickly?

[2022-05-25 23:21] jyn514 commented on #95858
The conclusion from that survey is we're going to use `x.sh` and `x.ps1` scripts rather than cargo aliases. https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/bootstrap.20user.20survey/near/283897117

[2022-05-25 23:25] jyn514 commented on #95141
I am planning to add a shim binary that should make this unnecessary (see https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/bootstrap.20user.20survey/near/283897117). The shim will use a pre-downloaded bootstrap from CI, which makes the approach here unnecessary. Until I implement downloadable bootstrap, I'll just live with the broken caching locally.

[2022-05-25 23:25] #95141 closed

[2022-05-25 23:31] jyn514 commented on #95854
Given the new entrypoints we're planning in https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/bootstrap.20user.20survey/near/283897117, I am not sure this still makes sense. `cargo test` will be the only command that goes through cargo, and it will make it seem like build is happening through cargo when it's still really using bootstrap under the hood.

@estebank I saw you left a

[2022-05-26 00:43] dfreese commented on #55724
Curious, are there any major blockers for stabilizing `dangling`?  I've kept an internal implementation of dangling for some aligned buffer code, but it would be great if that could be removed if there are no major concerns that have come up.

[2022-05-26 00:45] eddyb commented on #97156
@RalfJung FWIW I changed the issue title, it was something else before.

Specifically unification in the `Equate` mode - we seem to have special-cased "each of the two types is a subtype of the other" to imply "equality" without justifying/enforcing it in a way the rest of the compiler - which mostly relies on `Ty<'tcx>: Eq` (and I assume that sort of "syntactic match" is equivalent to judgemental

[2022-05-26 00:50] madsmtm commented on #93959
Thanks for doing this @SimonSapin!

[2022-05-26 01:14] crispinb commented on #97306
I've also found the sidebar horizontal dominance a bit of a problem, for the same reason as the OP. I don't think hiding the sidebar will  cause a problem as long as it's visible on first load & is easy/discoverable to retrieve (and it doesn't cause problems for similar doc browsers eg. Elixir's). A fixed width cutoff would mean that those of us using some form of window tiling would have to adjus

[2022-05-26 01:24] clarfonthey commented on #74446
So, not really sure where is best to mention this, but figured I'd mention this here. I have two mostly disjoint things, so, I'll separate them out.

----

First, it would be useful to support more forms of structural equality than the existing kind, specifically the kind that ignores certain fields. Equivalence classes like this are completely valid conceptually, and one is even used [on the docu

[2022-05-26 02:05] lionellloh commented on #96873
@Elliot-Roberts no worries, I am a beginner looking for `E-easy` tasks, hence the qn.

[2022-05-26 02:15] thomcc commented on #55724
Really, all of these are pretty good and useful, not just dangling. I'd be in favor of stabilizing them.

[2022-05-26 02:31] rdrpenguin04 commented on #87121
Just bonked my head into this again; how can I help?

[2022-05-26 03:21] LeeHainie opened #97412 "Expect to add a smart pointer with only strong references count"
In some cases, weak reference counting is not needed, Weak count field waste extra memory, This does not satisfy the zero-cost abstraction. Expect additional addition strong reference count smart pointer for stdlib: Sc(Strong count),Asc(Atomic strong count)

[2022-05-26 05:46] dtolnay commented on #87074
@rfcbot resolve OwnedHandle's TryFrom impls

- #96195

[2022-05-26 05:53] RalfJung commented on #55724
There is no "dangling" in the summary issue at the top; is that one incomplete?

[2022-05-26 05:55] gimbles commented on #96956
![image](https://user-images.githubusercontent.com/93856041/170425565-9b828cc8-e32d-427f-8470-461c89827097.png)

That shouldn't be the ideal output since this is a Clippy lint, not a Rustc lint.

Please shift further discussion to the Clippy repo's issue rust-lang/rust-clippy#8860 =)

[2022-05-26 06:11] psumbera commented on #97260
Thank you! I can confirm that this really helps. Maybe you should turn it into pull request straightaway.

[2022-05-26 06:13] psumbera commented on #94983
My issue was already reported here: https://github.com/rust-lang/rust/issues/97260 (including working patch file).

[2022-05-26 06:27] Bryysen commented on #97319
Oh, I meant inferring if whether the duplicate discriminant was explicitly set or not. In the above example, that would be detecting if `Last` was assigned explicitly or not. But yeah it was possible, HIR has all the information we need.

So here's what I currently have. An enum like this:
[code]
Errors as such:
[code]
Not sure about the note. We could split it out with its own span and point to w

[2022-05-26 07:04] vierzehnbyte commented on #97404
I repeated this with `aarch64-unknown-linux-gnu` target but still got this error.
i use multipass to run linux.

[2022-05-26 07:08] vierzehnbyte commented on #97404
I used `nightly-2021-05-25` channel and it compiled successfully!

[2022-05-26 07:11] #97404 closed

[2022-05-26 08:36] cjgillot opened #97417 "Audit accesses to the source_map"
The exact source code text in the `SourceMap` is not tracked for incremental compilation.  Accessing it and changing behaviour depending on this text is bound to cause issues with incremental compilation.  Accesses to the `source_map` should therefore be audited, to remove access to such untracked information.

As the main use for these functions is diagnostics, we don't expect ICEs or miscompilat

[2022-05-26 08:49] apiraino commented on #87341
Assigning priority as discussed in the [Zulip thread](#https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387341.20Niches.20of.20.60Cell.60.20and.20others.20still.20not.20hidden) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high