[2016-05-24 16:57] alexcrichton commented on #33707
Ah it was also brought up that we probably want to alter the documentation as well to indicate what version of Rust includes the new behavior.

[2016-05-24 16:57] alexcrichton commented on #33770
Discussed during libs triage yesterday, definitely something we should fix!

[2016-05-24 16:58] nagisa opened #33846 "Weird integer inference failure"
[code]

fails to compile, despite compiler figuring out that `ps: Vec<u64>`, but explicit annotation of the vector type is necessary for integers to be inferred correctly:

[code]

I would expect all the code snippets to be equivalent and compile.

[2016-05-24 17:40] arielb1 commented on #33846
The compiler does not figure out that `ps: Vec<u64>` - casts only run after defaults.

[2016-05-24 18:07] nagisa commented on #33846
It eventually does because the error messages explicitly mention the type of element (u64). Perhaps it would be a good idea to move integer defaulting to later stage? I’m not familiar with that part of code either way.

[2016-05-24 18:38] alexcrichton commented on #33842
Could you also provide details about how you're linking the DLL into an executable and running it?

[2016-05-24 19:11] TheDoctorsLife commented on #33823
Cool!

[2016-05-24 19:22] emoon commented on #24346
I have the same issue on Mac. My work-around is like that this:

1. start your Rust executable with lldb ```lidb <executable>```
2. Set a breakpoint in rust_begin_unwind ```breakpoint set -b rust_begin_unwind```
3. ```run```
4.When panic happens typ ``bt``` to see a backtrace with filenames

Not as nice as to see the filenames directly but better than nothing.

[2016-05-24 19:33] dancing-in-the-air commented on #33842
I've created simple C++ program to test this case:
[code]

Also I've tried to load it into Lua script:
[code]
However the error is laconic: "loop or previous error loading module 'test'".

[2016-05-24 19:55] Kerosene2000 commented on #21246
@alexcrichton You can test, on OS X 10.11.4 with [this commit (roulette-wheel)](https://github.com/Kerosene2000/roulette-wheel-rs/commit/dffe7634723c28c2f8a8246685765830a9861cfa), executing `cargo test` will always go on an infinite loop !

[2016-05-24 19:56] nikomatsakis opened #33850 "struct field dependencies are overly conservative"
The test cases I am adding in an upcoming PR show that for some reason we consider functions as dirty when any struct changes, even if the fn doesn't use that struct.

[2016-05-24 19:57] nikomatsakis commented on #33850
(Look for the FIXMEs.)

[2016-05-24 20:16] steveklabnik commented on #13910
Triage: box patterns are still gated, but doing a `grep` of the source code:

[code]

I'm guessing this is used somewhere, but maybe under a different name or something?

[2016-05-24 20:17] steveklabnik commented on #22323
Triage: not aware of any changes here, but it's also not an area I'm super familiar with.

[2016-05-24 20:19] steveklabnik commented on #5856
Triage: @huonw 's `valgrind rustc` example still reproduces.

[2016-05-24 20:25] steveklabnik commented on #21114
A full reproduction of @pnkfelix 's early example compiles today:

[code]

That said, obviously this issue is about a bit more than that, and as he said:

@pnkfelix where does this stand today?

[2016-05-24 20:25] steveklabnik commented on #22221
Triage: box stuff is still up for debate.

[2016-05-24 20:26] steveklabnik commented on #22488
Triage: this now has a different, yet still confusing, error:

[code]

[2016-05-24 20:27] nikomatsakis commented on #33454
@mrmiywj I am sorry it took me so long to get back to you! I just did a detailed read through your crate and ran some experiments. It does indeed seem quite close.

A few things:

1. The current version seems to simply test that compilation succeeds. That's a good metric, but we could do better -- for example, I think that the output (in terms of errors, warnings etc) ought to be the same when you

[2016-05-24 20:27] nikomatsakis commented on #33454
Thinking more on it let's start with the "just check that compilation succeeds" -- we can scour for ICEs and the like. Then we can add on checking the output, running tests, etc. The main thing then is to add some kind of mode so that we can let this thing run over night and come back to a big list of results, I guess.

[2016-05-24 20:28] nikomatsakis commented on #33454
(Ideally, it would log its progress or leave notes so that it can be aborted and restart without losing its place. I am imaging just a list of tested items, or perhaps generating a file for each crate and rev with some distinctive name, so you can later check for it to know if the work has already been done.)

[2016-05-24 20:31] steveklabnik commented on #22165
Triage: after a small update, the original still reproduces:

[code]

[2016-05-24 20:33] steveklabnik commented on #22694
Triage: no change, today.

[2016-05-24 20:34] steveklabnik commented on #22252
Triage: no change, at least for the example provided by @theemathas

[2016-05-24 20:36] steveklabnik commented on #22675
Triage: it seems that the original filing here was more of a feature request than a bug, or rather, it's not clear that it's a bug. `PhantomFn` does not even exist anymore. Given these factors, and the lack of an update in over a year, I'm going to give this a close. I would suggest opening a thread on internals, as @edwardw mentioned, to continue any discussion.

[2016-05-24 20:36] #22675 closed

[2016-05-24 20:37] steveklabnik commented on #22639
Triage: no change here.

@rust-lang/libs is the intention still to change this to an enum of some kind in the future?

[2016-05-24 20:42] steveklabnik commented on #22754
Triage: no change here. The `itertools` crate has this.

[2016-05-24 20:42] steveklabnik commented on #19624
Triage: @jonathandturner tells me this is back on now!

[2016-05-24 20:42] #19624 closed

[2016-05-24 20:44] troplin commented on #27802
@SimonSapin I don't agree with that.
By that argumentation, all current methods of `BufRead` could live in `Read`. None of them need `BufRead` for correctness.
At least the way they are implemented now. I'd prefer better guarantees, but that's probably out of scope.

Huh? `impl<'a> BufRead for &'a [u8]` exists.

[2016-05-24 20:45] steveklabnik commented on #22815
Triage: @alexcrichton 's example now compiles. Can this be closed?

[2016-05-24 20:47] steveklabnik commented on #22802
This is documented behavior of a stable method, so I'm going to give it a close. It is a bit of a gotcha, but it also makes sense.

[2016-05-24 20:47] #22802 closed

[2016-05-24 20:49] steveklabnik commented on #14844
Triage: @pnkfelix 's example now produces the same error as @oli-obk 's.

[2016-05-24 20:51] steveklabnik commented on #19083
Grepping around, I think this is fixed. I vaguely remember @nrc sending a PR to unify this stuff as well. Can anyone else confirm?

[2016-05-24 20:53] steveklabnik commented on #19162
Today, this error is much better:

[code]

Given that this issue is very old and has no other comments, I'm going to consider it closed. Thanks!

[2016-05-24 20:53] #19162 closed

[2016-05-24 20:54] steveklabnik commented on #15728
Triage: i am unaware of significant changes to any of this in a long time.

[2016-05-24 20:57] steveklabnik commented on #15953
Triage: this still reproduces.

[2016-05-24 20:58] steveklabnik commented on #22915
Triage: no changes I'm aware of

[2016-05-24 21:02] steveklabnik commented on #17872
These examples do not compile for other reasons, but in the 18 months since it was filed, we did some updates on shadowing of lifetimes. You now get:

[code]

Much better. As such I'm going to give it a close!

[2016-05-24 21:02] #17872 closed

[2016-05-24 21:03] steveklabnik commented on #13294
Closing in favor of https://github.com/rust-lang/rust/issues/29599

[2016-05-24 21:03] #13294 closed

[2016-05-24 21:03] steveklabnik commented on #12249
Closing in favor of https://github.com/rust-lang/rust/issues/29599

[2016-05-24 21:03] #12249 closed

[2016-05-24 21:04] steveklabnik commented on #14540
Triage: no changes I'm aware of.

[2016-05-24 21:04] steveklabnik commented on #23113
Triage: no changes.

[2016-05-24 21:06] steveklabnik commented on #22885
Triage: no change.

[2016-05-24 21:06] steveklabnik commented on #16096
Triage: no change.

[2016-05-24 21:07] steveklabnik commented on #22585
Triage: no change I'm aware of.

[2016-05-24 21:08] steveklabnik commented on #24117
Triage: no change.

Personal note: as @nagisa says, it's very small, and offline docs are quite useful. Lots of people ask about "how do i install the docs locally" on IRC, I would prefer to just keep them.

[2016-05-24 21:09] steveklabnik commented on #24231
Triage: https://github.com/rust-lang/rust/pull/24344 was merged, so closing

[2016-05-24 21:09] #24231 closed

[2016-05-24 21:13] alexcrichton commented on #33842
In C++ it looks like that may be an error as "test.dll" can't be cast to a wide string (LPC**W**STR), right? That'd cause it to be decoded as utf-16 which may explain the unusual characters?

In Lua I'm not really sure what the error would be though

[2016-05-24 21:16] steveklabnik commented on #24194
So, where do we go with this ticket? Was/is this a regression? is it worth tracking?

[2016-05-24 21:17] alexcrichton commented on #21246
@Kerosene2000 it appears to be because the doc tests have an infinite loop of some form

[2016-05-24 21:17] steveklabnik commented on #23458
This still reproduces for me today on LInux.

[2016-05-24 21:17] nikomatsakis commented on #33784
@petrochenkov

No, it was definitely a conscious decision, but it long predates RFCs etc. There are probably some e-mails about it on the old rust-dev mailing list if you search hard enough. :)

[2016-05-24 21:18] dpc commented on #33707
I don't really have a Rust development setup and no experience, so I'll not be able to provide a PR. But isn't https://github.com/rust-lang/rust/pull/30152 still applicable?

[2016-05-24 21:18] JeremySorensen commented on #33842
Yeah, it should be `HMODULE hLibrary = LoadLibrary(L"test.dll");`in C(++)

[2016-05-24 21:19] steveklabnik commented on #28540
Giving this a close, as the author has gone, and we don't have enough info.

[2016-05-24 21:19] #28540 closed

[2016-05-24 21:20] steveklabnik commented on #28434
Is there any way we can get a full reproduction here? Does this work with any plugin code at all?

[2016-05-24 21:23] steveklabnik commented on #28217
This no longer works on current nightlies because the syntax extensions have changed since the bug was filed. As such, I'm going to give it a close.

[2016-05-24 21:23] #28217 closed

[2016-05-24 21:24] taralx commented on #27802
@SimonSapin You need lookahead. How will you handle the following byte sequence without it? E2 82 E2 82 82

[2016-05-24 21:25] steveklabnik commented on #28150
This branch no longer ICEs for me, just fails to compile for other reasons. Closing!

[2016-05-24 21:25] #28150 closed

[2016-05-24 21:25] SimonSapin commented on #27802
Uh, never mind that part, I misread rustdoc.

[2016-05-24 21:27] steveklabnik commented on #27631
Without the versions of all these extra dependencies, it's not clear we can reproduce this :(

As such, I'm going to give it a close. @tyoc213 if you have a way, please let me know!

[2016-05-24 21:27] #27631 closed

[2016-05-24 21:28] steveklabnik commented on #27128
Given that this is in `serde_codegen`, but with no version information, I cannot reproduce. @andrewrynhard please let me know if you are still seeing this today!

[2016-05-24 21:28] #27128 closed

[2016-05-24 21:29] steveklabnik commented on #27125
Without specific version information about `zinc`, there's no way to reproduce this, and so, I'm giving it a close. @farcaller if you're still seeing this and can reproduce, please let me know!

[2016-05-24 21:29] #27125 closed

[2016-05-24 21:31] steveklabnik commented on #29249
This list is basically done, I think; the remaining ones are not automatable. Thanks everyone!

[2016-05-24 21:31] #29249 closed

[2016-05-24 21:32] arielb1 commented on #33454
I am doing this as a university project.

[2016-05-24 21:32] nagisa commented on #22585
We bootstrap from nightlies now, so distributing compiletest with that is likely to be not feasible, but we do distribute rustdoc now.

[2016-05-24 21:33] alexcrichton commented on #22585
We actually no longer have snapshots, only releases, so this issue is actually no longer relevant

(and to boot this should work much more as expected with rustbuild!)

[2016-05-24 21:33] #22585 closed

[2016-05-24 21:33] alexcrichton commented on #13254
Done!

Well, snapshots are removed, so it's vacuously done

[2016-05-24 21:33] #13254 closed

[2016-05-24 21:33] steveklabnik commented on #21102
Triage: no change.

[2016-05-24 21:34] arielb1 commented on #22252
This looks like a duplicate of #33490

[2016-05-24 21:34] alexcrichton commented on #14441
We have an i586-unknown-linux-gnu target now for compiling code without SSE enabled, we're just not producing rustc nightlies for it. This is essentially status quo for other tier 3 targets, so I'm going to close this for now.

[2016-05-24 21:34] #14441 closed

[2016-05-24 21:35] alexcrichton commented on #16091
Done!

rustbuild is tracked here -- https://github.com/rust-lang/rust/issues/31590

[2016-05-24 21:35] #16091 closed

[2016-05-24 21:35] arielb1 commented on #31439
This looks like a duplicate of #33490 - on MIR it would be a segfault.

[2016-05-24 21:35] steveklabnik commented on #33784
Yup. Given that this was a conscious decision, and not a bug, closing.

[2016-05-24 21:35] #33784 closed

[2016-05-24 21:35] nagisa commented on #24117
I think this is essentially resolved. We distribute `rustc`, `rust-std` and `rust-docs` packages, which in most cases should be preferable to the one-big-bundle packages anyway.

[2016-05-24 21:36] #31439 closed

[2016-05-24 21:36] #22252 closed

[2016-05-24 21:36] alexcrichton commented on #16298
The landscape today is that we just need nightlies for new platforms to gate on new platforms. Currently this is done via cross compilation as we've basically concluded that for now we're not maintaining BSD bots.

PRs are of course always welcome over at rust-lang/rust-buildbot especially to the linux-cross image! If there's a docker image to cross compile to dragonfly, we'll happily set up night

[2016-05-24 21:36] #16298 closed

[2016-05-24 21:38] alexcrichton commented on #21526
Seeing how this hasn't cropped up in awhile, I'm gonna close as "presumably fixed" at some point

[2016-05-24 21:38] #21526 closed

[2016-05-24 21:39] alexcrichton commented on #26702
Done! The `x86_64-rumprun-netbsd` target is suitable for this

[2016-05-24 21:39] #26702 closed

[2016-05-24 21:40] alexcrichton commented on #29293
I think this has since been fixed with an update to libbacktrace, so I'm gonna close, feel free to reopen though if it still happens!

[2016-05-24 21:40] #29293 closed

[2016-05-24 21:41] Kerosene2000 commented on #21246
Ho ! I am so sorry 😞 That was me, you are right !

[2016-05-24 21:42] alexcrichton commented on #29756
This is more possible with today's rustbuild build system, but I think it's pretty unlikely to happen for awhile. We're bootstrapping from nightlies so we do actually have a libstd to use, but a prerequisite for this is probably to get the compiler off unstable APIs from the standard library, which would likely be a pretty major effort in itself.

For now though I'm gonna close as hopefully rustbu

[2016-05-24 21:42] #29756 closed

[2016-05-24 21:43] alexcrichton commented on #32221
Snapshots have now been removed, so I'm gonna close as I think this is fixed

[2016-05-24 21:43] #32221 closed

[2016-05-24 21:52] eqv opened #33855 "bug in parser"
The following simple lib.rs file crashes the compiler:
[code]

with the error:

[code]

[2016-05-24 22:00] alexcrichton commented on #33707
Yeah it should still work, we'd probably just want to add some more tests as well

[2016-05-24 22:01] sfackler commented on #22252
@arielb1 This is a bug about a compilation error, not a runtime failure, so I don't think this is a duplicate of that issue (which was also filed a year and a half after this one).

[2016-05-24 22:31] GuillaumeGomez commented on #33827
@Stebalien: I think I went too fast, indeed. Now @burtonageo also added a description, which helps. :)

[2016-05-24 22:31] GuillaumeGomez commented on #33827
I'm adding it btw.

[2016-05-24 22:38] mneumann commented on #16298
@alexcrichton can you point me at some information what needs to be done to setup cross-compilation for DragonFly? If it works for FreeBSD, it shouldn't be too hard for DragonFly and I could give it a try. This would probably also mean that we gain support in rustup, right?

[2016-05-24 23:20] alexcrichton commented on #16298
@mneumann sure!

From a high level, compilation of these platforms works not through bootstrapping but rather cross-compiling. The [linux-cross container](https://github.com/rust-lang/rust-buildbot/tree/master/slaves/linux-cross) contains all the bits and pieces for this, and we use the new rustbuild build system to cross-compile via `./configure --host=new-platform`. Those then make their ways to

[2016-05-24 23:23] dotdash commented on #24194
@steveklabnik Probably a regression from when we moved from actual zeroing-drop to using the non-zero drop pattern. The check for that pattern basically says "leak this if the adress matches the drop pattern", so LLVM cannot remove the allocation because that would change semantics. Dynamic drop will fix this, and I think we should keep this open to track that, just to make sure.

[2016-05-25 00:04] alexcrichton commented on #33434
One possible explanation may be OOM, although I have nothing to support that beyond a vague mention in a thread that is itself only vaguely related to this. Looking at a build which failed for this there were 3 builds on one Windows machine (the max concurrent) where one finished, another died, and the last was killed all at about the same time. The one which was killed was compiling LLVM (one fil

[2016-05-25 00:06] alexcrichton commented on #33316
Never saw this again, so assuming fixed

[2016-05-25 00:06] #33316 closed

[2016-05-25 00:08] seanmonstar commented on #27249
Current ICE is:

[code]

This isn't specific to associated items. All sized constants trip this assert.

[2016-05-25 03:22] #33650 closed

[2016-05-25 03:22] #33806 closed

[2016-05-25 03:45] rmathew commented on #14441
@alexcrichton: Will there be regular releases or at least a
one-off build for bootstrapping for this target from the official
web-site?

[2016-05-25 04:01] alexcrichton commented on #33770
Digging into this, we may get lucky and not have to worry about this for rwlocks. There's an interesting [article on merging glibc lock elision in 2013](https://lwn.net/Articles/557222/) which states:

And indeed older standards do indeed indicate that [wrlock](http://pubs.opengroup.org/onlinepubs/007908775/xsh/pthread_rwlock_wrlock.html) and [rdlock](http://pubs.opengroup.org/onlinepubs/007908799

[2016-05-25 04:03] alexcrichton commented on #14441
@rmathew we're regularly releasing a standard library for i586-unknown-linux-gnu but we aren't currently releasing a snapshot for that target. That means that you can compile code to run on an i586 machine but you can't run the compiler itself unless you compile it yourself from another machine.

[2016-05-25 04:47] retep998 commented on #33842
Dependency Walker will always complain about those API dlls, but they're perfectly fine. Don't mind them, it's just how newer versions of Windows handle system APIs and Dependency Walker doesn't understand them.

Anyway, I just tested creating a Rust DLL and was able to both link against it at link time, as well as dynamically load it using LoadLibrary using a simple C++ program. Anyway apparently

[2016-05-25 06:16] pnkfelix commented on #22323
I *assume* MIR and non lexical lifetimes will likely resolve this directly

[2016-05-25 06:35] pnkfelix commented on #21114
@steveklabnik it seems like the cases of interest here got fixed via independent changes elsewhere in `rustc`

It might be interesting to track down which PR did this, but  given that we have made a number of refinements to the region system since this was filed,  I'm not astounded that it was fixed .... merely mildly surprised

[2016-05-25 06:45] pnkfelix commented on #13910
@steveklabnik I think the rename happened,  but not the extension to arbitrary box patterns

[2016-05-25 06:52] pnkfelix commented on #14844
Yes the number of errors reported is now reasonable,  but it still leads to head scratching because it doesn't make it clear that one needs a binding on the `impl` block

[2016-05-25 07:40] SimonSapin commented on #27802
@taralx Yes, I realized while implementing #33801 that the `Utf8Chars` iterator needs to hold a `Option<u8>` buffer: https://github.com/rust-lang/rust/pull/33801/commits/7ab345098625cf4e3b7f930e0ae003fda00da166#diff-668f8f358d4a93474b396dcb3727399eR1558

It might be better to require `BufRead` after all. I’ll try that in an additional commit in #33801 to see what it looks like.

Note that the algo

[2016-05-25 08:02] vityafx opened #33862 "[Feature] RustC compiler output translations"
It would be nice to have `rustc` compiler's output translation as it does gcc, clang.

I'd call this feature but I don't understand how to make an RFC for a translation.

[2016-05-25 08:03] m4b opened #33863 "compiler emits unsupported DT_FLAGS_1 value 0x8000000 in ELF"
## Repro
1. compile a rust binary for a GNU/Linux target (probably anything that uses ELF, but I've only tested on GNU/Linux with glibc target), `rustc derp.rs -o derp`
2. run `LD_DEBUG=all derp`
3. Note the top of the output says:

[code]
## Discussion

If you examine `/usr/include/elf.h`, you'll notice that there _does not_ exist a `DF_1_<X>` flag with this value.

Strangely, while `readelf -d d

[2016-05-25 08:18] Manishearth commented on #31645
Batch should happen in a day or two: https://github.com/rust-lang/rust/pull/33864

cc @erickt @dtolnay @sgrif

[2016-05-25 08:30] SimonSapin commented on #27802
I’ve added a commit to #33801.

[2016-05-25 09:20] #33613 closed

[2016-05-25 09:44] TimNN commented on #33837
Looks like #33728.

[2016-05-25 09:45] TimNN commented on #33855
Looks like #33728.

[2016-05-25 10:03] nikomatsakis commented on #33850
Heh, ok, I figured out why this is. The problem is that we use one dep-node for "trait selection on a given `Trait`". This is awfully coarse-grained, but I thought we could get away with it. Turns out, not such a good idea with the `Sized` trait.

[2016-05-25 10:05] nikomatsakis commented on #22815
It seems like we only use `type_contents` in trans for optimization purposes now....so maybe still relevant, but much less so.

[2016-05-25 11:25] tbu- commented on #22754
Now that a crate implements this, it could be considered fixed. Adding it to the standard library would likely require an RFC.

[2016-05-25 13:06] pnkfelix commented on #33364
This may have been obvious to others, but just to confirm: reproducing the issue described does not require using a 3-tuple. A 1-tuple `(A,)` does suffice. However, the behavior changes in a subtle manner if you try to go all the way to removing the tuple entirely (e.g. `impl<'a, A: 'a> Foo<'a> for PhantomData<A>` and `type Item = &'a A;`), then on stable, the commented and uncommented code both c

[2016-05-25 14:38] mrmiywj commented on #33454
@nikomatsakis
Thanks for your reply! I'm sorry that I'll be busy with my finals this week (it's crazy). But I'll continue on this work next week.
Some ideas:
1. I read through the stdout logs, it's comparable. But, line-by-line comparing looks not good. Since the order of compiling packages, the version info are different. Just compare the packages compiled? Or some other ways?
2. Dumping the MIR

[2016-05-25 14:48] Yamakaky commented on #28434
I have a [similar problem](https://travis-ci.org/crabtw/rust-bindgen/jobs/132862267) with [bindgen_plugin](https://github.com/crabtw/rust-bindgen/tree/fix-plugin).

[2016-05-25 14:53] pnkfelix commented on #33364
Nominating; I currently agree with @Aatch's analysis that the original code should (probably) have been rejected by the compiler, but I am not clear on what the appropriate course of action is to take this time.

Namely, we are currently in a situation where we are both emitting a warning from mir typecheck, and then subsequently erroring during `trans::collector` due to

So my question is: Should

[2016-05-25 15:34] apasel422 commented on #33862
CC rust-lang/rfcs#1292 and, in particular, https://github.com/rust-lang/rfcs/pull/1292#issuecomment-170087772.

[2016-05-25 16:13] #33862 closed

[2016-05-25 16:18] dancing-in-the-air commented on #33842
Yeah, shame on me: wide string must be used in C++. With it DLL loads flawlessly. Thank you!
In Lua error still occurs but it seems not Rust problem.

Unfortunately nightly x86 Rust doesn't compile DLL with crate `cdylib`:
[code]
Could you give me the cue is there any information about new crate types?

[2016-05-25 16:31] pnkfelix commented on #33364
Here is a gist of a somewhat reduced version of the issue:
 https://gist.github.com/pnkfelix/74440e047d26c0a410ce5fc74204962c

notably, it is set up so that you can pass `--cfg removal_1` and/or `--cfg removal_2` to observe the ICE going away.

I said earlier that the original code probably should have been rejected, but the more I look at this, the more uncertain I become about that claim. (To me

[2016-05-25 16:46] alexcrichton commented on #33842
Ah no worries! The cargo support for cdylib is coming in https://github.com/rust-lang/cargo/pull/2741, but otherwise it sounds like we're all good here, so I'm gonna close.

[2016-05-25 16:46] #33842 closed

[2016-05-25 17:47] cramertj commented on #30197
Did crate and inline path support ever get added for this? If not, I'd be interested in giving it a shot.

[2016-05-25 18:03] Manishearth commented on #30197
I don't think so. Go ahead!

[2016-05-25 18:07] rphmeier commented on #33364
Thanks for looking into this @pnkfelix -- I'm not particularly knowledgeable about the intricacies of HRTBs, but my intuition when I was writing this code went as like this:
Verify that for all 'a, T implements Foo<'a>
Pass a function which can accept, for all 'a, Foo<'a>::Item.
Call the function using Foo<'a> for some anonymous yet valid 'a.
So far, this seems mostly ok. My understanding of the s

[2016-05-25 18:38] Florob opened #33868 "Missoptimization of functions with C calling convention"
When trying to look at how aggregates are passed to functions I came across the following:
The code presented below erroneously outputs `488447261` instead of `20`.
This is using the 1.9.0 preview release (or anything newer) and seems to be a regression from 1.8.0.
The behaviour only occurs when using the C calling conventions and optimizations, eliminating either factor gives the correct result.

[2016-05-25 18:48] alexcrichton opened #33869 "Unhelpful "std::marker::Sized` is not satisfied" error"
Compiling this program:

[code]

yields

[code]

The first error, the unresolved name, is legitimate, but the next is just extra information that's not too helpful and is likely fixed once the previous error is fixed.

[2016-05-25 18:48] alexcrichton commented on #33869
cc @nrc

[2016-05-25 19:04] retep998 commented on #33868
Which target is this for? There are multiple calling conventions across operating systems and architectures after all.

[2016-05-25 19:08] Florob commented on #33868
This is on x86_64-unknown-linux-gnu.

[2016-05-25 19:25] michaelwoerister commented on #33868
I can confirm this for `rustc 1.10.0-nightly (dd6e8d45e 2016-05-23)`

[2016-05-25 19:25] nagisa commented on #33868
Works on stable.

[2016-05-25 19:26] nagisa commented on #33868
cc @eddyb could it be your calling trans refactor?

[2016-05-25 19:34] #29231 closed

[2016-05-25 19:35] nagisa commented on #33868
Seems like we invoke some UB:

[code]

is what the function ends up being optimised to.

[2016-05-25 20:06] nagisa commented on #33868
[This](https://gist.github.com/nagisa/8e1b1d8053e495754ef85118b5fc7829) is what I managed to reduce the issue to.

[2016-05-25 20:13] naicode commented on #20524
@huonw: I agree it should be made accessible for everyone. I have no experience with aria and screen reader (sounds really helpful) but I think a possible approach would be

- add color markings
- change the visual so that colorblind people can see it*
- add more ARIA accessibility features, e.g. for screen readers
- maybe make some pull featured on the Forum+Weekly Rust Newsletter to decide betwe

[2016-05-25 20:17] arielb1 commented on #33868
This suffices:
[code]

Bad IR:
[code]

[2016-05-25 20:20] cramertj commented on #20900
I just got this error when running "make" in MINGW64.

[2016-05-25 20:21] arielb1 commented on #33868
The old, working functionality uses a shim:
[code]

[2016-05-25 20:24] arielb1 commented on #33868
We are storing 16 bytes of data in a 12-byte bag and that is killing us.

[2016-05-25 20:34] nagisa commented on #33868
Basically this should be

[code]

instead. Shouldn’t be very hard to fix?

[2016-05-25 20:55] nagisa commented on #33868
For the reference, `define i32 @test(i64 %s.coerce0, i32 %s.coerce1) #0 {` is the signature generated by `clang` for an identical function. Alternatively we could use `{i64, i32}` instead of `{i64, i64}`.

[2016-05-25 21:16] nikomatsakis commented on #33868
@arielb1 what was the signature of the shim function?

[2016-05-25 21:19] mbrubeck opened #33871 ""Unexpected end of macro invokation" error in nested macro has misleading span, doesn't specify which macro"
The following code (based on a test case by @apoelstra):

[code]

generates this error message:

[code]

The problem is that `assert_eq!` is expecting a comma.  This is very hard to decipher though, because the span points to the outer macro invocation.  (This may be related to #26615.)  If a better span can't be found, it would be useful to at least include the name of the macro in the error mess

[2016-05-25 21:22] apoelstra commented on #33871
cc me

[2016-05-25 23:01] eddyb commented on #33868
Ah, this is the problem @dotdash was aware of, isn't it?
Where none of our current system works perfectly right with respect to cast arguments/returns of different sizes but some of the old code was long-winded enough to avoid the problem.

[2016-05-25 23:25] alexcrichton commented on #33868
The core team discussed this issue today and our conclusions were as follows:

* Definitely seems like something we should fix immediately, hence the P-high.
* We're very likely to backport the fix to beta (unless it turns out to require a compiler refactor, which seems unlikely)
* We're moving forward with the 1.9 release tomorrow as this has been on nightly for at least 6 weeks and hasn't been d

[2016-05-26 00:17] eddyb opened #33873 "MIR trans cannot handle casting for call return values."
In the following example, `bar` optimizes to `ret i8 undef` because the return value is cast into an `i32` in `foo` and has to be converted back at the call site. The old trans code does this with a gnarly `memcpy` which should handle all of the possible situations, if the comment on it is of any indication.
I believe my use of `ArgType::store` for storing the return value in its destination was u

[2016-05-26 01:27] durka commented on #33807
There is supposed to be a note: https://github.com/rust-lang/rust/blob/34fd68668152530dcd1d00865fa8514461b895d7/src/libcore/marker.rs#L456-L457

But it's not triggering. It used to work on stable. cc @GuillaumeGomez

[2016-05-26 05:16] Amanieu commented on #33770
Apparently it's more complicated, this test is failing (not deadlocking):
[code]
It seems that we need to hold a counter of all reader threads... this is going to be a pain to implement...

[2016-05-26 05:53] nrc commented on #19083
This is still an issue, we're basically waiting on the procedural macros changes to fix this (currently in RFC).

[2016-05-26 06:49] #27717 closed

[2016-05-26 06:49] #27720 closed

[2016-05-26 06:49] #30014 closed

[2016-05-26 06:49] #30425 closed

[2016-05-26 06:49] #30449 closed

[2016-05-26 06:49] #31190 closed

[2016-05-26 06:49] #31399 closed

[2016-05-26 06:49] #31767 closed

[2016-05-26 06:49] #32111 closed

[2016-05-26 06:49] #32281 closed

[2016-05-26 06:49] #32312 closed

[2016-05-26 06:49] #32551 closed

[2016-05-26 06:49] #33018 closed

[2016-05-26 07:45] GuillaumeGomez commented on #33807
@durka: @arielb1 removed my implementation. I'll try to fix this case.

[2016-05-26 08:40] arielb1 commented on #33770
We basically need to embed a `RefCell` within the lock.

[2016-05-26 09:05] Amanieu commented on #33770
@arielb1 Except the read counter needs to be atomic: https://github.com/rust-lang/rust/pull/33861/commits/8999243b4c57807d599630fc78ad8268701c02eb

[2016-05-26 09:19] retep998 commented on #33158
https://github.com/rust-lang/rust/issues/27060 is closely related to this.

[2016-05-26 09:50] mkpankov commented on #31847
Note that passing `-Z no-trans` disables some errors. In particular, type size comparison done when checking if `std::mem::transmute` should be allowed is not performed.

See this example: https://is.gd/cnjaFI . When run locally with `-Z no-trans`, no errors are reported.

Also, I'd like to point out that many linters are using `-Z no-trans`. This itself doesn't justify its stabilization, especial

[2016-05-26 10:57] zetok commented on #33723
…

Now this crap now also breaks beta builds and is getting stabilized? WTF?
https://travis-ci.org/zetok/tox/jobs/133076074#L843

[2016-05-26 11:20] retep998 commented on #33844
This error can occur when the gcc command is over 32,767 characters. It would be nice if there was some way to check the length of the `lpCommandLine` that is passed to `CreateProcessW` when spawning a `Command` so a better diagnostic can be emitted. At the very least print out the linker arguments when that error code occurs.

[2016-05-26 11:48] WillemMali commented on #24355
I have this issue too, fresh Chrome on Win8.1.

I personally use a browser plugin to change the fonts on the documentation pages, but that's not an ideal solution.

[2016-05-26 12:08] chris-morgan opened #33875 "Giving a trait method a default implementation can trigger unused_variables warnings"
[code]

[Fine, no warnings.](https://is.gd/I5Z933)

But give it a default implementation that doesn’t use all those arguments (a perfectly plausible and reasonable situation):

[code]

[A warning:](https://is.gd/QV748t)
[code]

Arguments to a trait fn default implementation should be considered immune from unused variables warnings, because their names are a part of the API as it gets documented.

[2016-05-26 12:20] nikomatsakis commented on #33364
So I looked into this. My feeling is that the underlying problem here is that we do not attempt to normalize under a higher-ranked binder -- this is why (e.g.) stable fails to understand the argument type. This is definitely a pre-existing issue (and there are a number of open issues related to it), but I'm not sure why we started to ICE when we did not before.

[2016-05-26 12:26] GuillaumeGomez opened #33876 "Invalid help message"
[code]

The output is:

[code]

In here, `Bar` is a trait, not a module.

[2016-05-26 12:26] GuillaumeGomez commented on #33876
I'm fixing it.

[2016-05-26 12:34] gnzlbg opened #33877 "Confusing error message when applying binary operation on the wrong type"
The following snippet:

[code]

produces the following error:

[code]

How is anybody supposed to extract from `binary operation % cannot be applied to type &&_` that one forgot the `&x` in the closure? The explanation E0369 doesn't help here.

Maybe a better thing for rustc would be to "try" and see if a combination of `&` and `&mut` would have solved the issue and offer a suggestion of the form

[2016-05-26 14:24] simias opened #33879 "Weird and inconsistent function pointer comparison behaviour"
Long story short:

[code]

I don't understand why the compiler is so picky about comparing function pointers, in particular I don't understand why it accepts the cast `as fn(_)` but not `as fn(u32)`. And even when it works it's not commutative, which for the `==` operator is rather unexpected.

[2016-05-26 14:25] #33868 closed

[2016-05-26 14:33] petrochenkov commented on #33879
`as fn(_)` and `as fn(u32)` behave identically on playpen's stable/beta/nightly. What version of rustc do you use?

Other examples involve function item types `fn(u32) {foo}`, they are not function pointers (`fn(u32)`) and, unfortunately, library traits like `PartialEq` cannot be implemented for them.

[2016-05-26 14:34] simias commented on #33879
A few more weirdnesses:

[code]

But then

[code]

So it seems that the number of parameters and whether or not they're references changes whether the compiler accepts the comparison or not

[2016-05-26 14:39] simias commented on #33879
Ah good point @petrochenkov, it seems the behaviour changed, I was testing with `rustc 1.8.0 (db2939409 2016-04-11)`. I'm going to update.

It still leaves the problem of non-commutative comparisons and the error in my 2nd post still happens on the playpen.

[2016-05-26 14:41] simias commented on #33879
I've edited the original comment to use `&u32` as parameter type to have the same behaviour with the current -stable.

[2016-05-26 14:44] petrochenkov commented on #33879
It's a known bug, it affects function pointers with references in arguments.
https://github.com/rust-lang/rust/issues/24000 is related and probably something else

It's a problem, but it's not a problem specific to function pointers, traits for binary operators like `==` need to be implemented for the first operand, and in this case it can't be implemented for the first operand, because it's an an

[2016-05-26 14:46] simias commented on #33879
Fair enough. Should I close this issue as a duplicate of #24000 then?

[2016-05-26 15:24] eddyb opened #33880 "cell::Ref::clone not hardened against "optimized mem::forget in a loop" attacks."
Check out in `Release` mode [on playpen](https://play.rust-lang.org/?gist=5e6df6d96bbb87ea262c6dff8e50154d&version=nightly&backtrace=0):
[code]

This succeeds (when compiled with optimizations) despite having both a `Ref` and a `RefMut`.
`RefCell::borrow` is safe from this because at `usize::MAX` it believes it's mutably borrowed and panics.

There's a `debug_assert!(borrow != WRITING && borrow !=

[2016-05-26 15:34] sandeep-datta opened #33881 "Implement a Peekable trait for Chars, CharIndices, slice::Iter etc."
If you want to peek an iterator right now then you have do something on the following lines...

[code]

This is unnecessarily complicated and unergonomic in the case of iterators like Chars, CharIndices, slice::Iter etc. IMO it would be better to define a Peekable trait as follows...

[code]

and using this iterator as a bound on the aforementioned concrete iterators (perhaps replacing the Iterato

[2016-05-26 15:34] rmathew commented on #14441
On an x86-64 machine, I compiled the released 1.8.0 version like so:
[code]
and the binary thus built still crashes with a SIGILL on a P3 box. :-(

[2016-05-26 16:05] alexcrichton commented on #27746
Reopening as apparently `Ref::clone` is still under this umbrella.

[2016-05-26 16:05] alexcrichton commented on #27746
Also cc https://github.com/rust-lang/rust/issues/33880, possible unsoundness with that method.

[2016-05-26 16:06] alexcrichton commented on #14441
@rmathew could you try and get a stack trace to see where the bad instruction is happening? We may not be handling C++ code correctly. I forget if we had build system support in 1.8.0 as well, it may have come later.

[2016-05-26 16:27] alexcrichton commented on #33844
Failure appears to always be the `auto-win-gnu-32-opt-rustbuild` builder so far, probably related to how cargo passes a few extra arguments.

[2016-05-26 16:37] nikomatsakis commented on #33567
Here are some test cases (just for reference) that exhibit the N^2 blowup we observed (at least initially). Note that the one that uses integral constants does not: I think the simplest fix to the blowup is just to have the enum case use a similar pattern to what constants do, where it figures out which variants are "of interest" and creates an otherwise-like block to use as the target for the rem

[2016-05-26 16:38] frewsxcv opened #33882 "Empty strings in result of "abc".split("")"
[code]

[code]

Is this expected behavior? If so, it should probably be documented.

[2016-05-26 16:41] frewsxcv commented on #33882
I guess it's sort of in the same category as:

and

Which is in the documentation [here](https://doc.rust-lang.org/std/primitive.str.html#method.split).

[2016-05-26 16:41] steveklabnik commented on #33882
I am on my phone at the moment, but it is expected and documented IIRC.

On May 26, 2016, 12:39 -0400, Corey Farwell<notifications@github.com>, wrote:

[2016-05-26 16:57] rmathew commented on #14441
[code]

[2016-05-26 17:13] Stebalien commented on #33881
Nit: It would probably be called `Peek`, not `Peekable`.

Note: `Peekable` could specialize on `Peek` (lower overhead).

[2016-05-26 17:19] apasel422 commented on #33875
This is a duplicate of #26487.

[2016-05-26 17:23] apasel422 commented on #33711
Closing as duplicate.

[2016-05-26 17:23] #33711 closed

[2016-05-26 17:30] petevine commented on #14441
@rmathew IIRC, this result is expected due to the `build` you passed - follow the instructions in the reddit i586 bootstrap thread.

[2016-05-26 17:45] jonathandturner opened #33884 "Regression in macro error spans"
I'm seeing a regression in error spans for this use case:

[code]

On 5-19-2016, the error span looks okay:

[code]

On 5-20-2016, the error span became less helpful:

[code]

It's possible it's related to #33683 (cc @nikomatsakis and @sanxiyn) but I haven't done the full bisect.

[2016-05-26 17:46] polachok opened #33885 "Ipv4Addr cmp() is slow"
I'm using `Ipv4Addr`s as keys in a BtreeMap. I have to look up the map ~15 million times per second (10G ethernet line rate).

Ipv4Addr cmp() compiles to this on my system (linux x86-64, rustc 1.10.0-nightly (476fe6eef 2016-05-21))

[code]

Which seems kinda inefficient for a thing which is basically u32.
I guess part of the reason is the [implementation](http://doc.rust-lang.org/src/std/up/src/li

[2016-05-26 17:48] sandeep-datta commented on #33881
@Stebalien thanks for your comment. I am okay with Peek as the trait name. I am afraid I don't know enough rust yet to understand what you mean by specialize here? Does rust have template (partial) specialization like C++?

[2016-05-26 17:57] alexcrichton commented on #14441
@rmathew out of curiosity, can you use the i586-unknown-linux-gnu nightlies that we're producing to run a hello world? Also, are you sure that you're running the i586 compiler instead of the i686 one by accident?

[2016-05-26 17:57] est31 commented on #33882
The examples given in the documentation are

[code]
and

[code]

The text doesn't go further than "will contain empty strings", but the examples suggest that each time the separator is directly followed by another occurence of it in the string, an empty string will be the output.

From reading that specific section of the documentation, I can't really find out the output of the split method for th

[2016-05-26 17:58] alexcrichton commented on #33885
Nice find! Want to send a PR for this? Looks like something that'd be more than welcome :)

[2016-05-26 17:59] frewsxcv commented on #33882
I agree with this. Especially since doing `split("")` in other languages results in different behavior.

[2016-05-26 18:02] Stebalien commented on #33881
@sandeep-datta  Currently, `Peekable` introduces some runtime overhead (it has to check if something has been peeked and has to store peeked elements). Adding a `Peek` trait would allow the `Peekable` struct forward the `peek` call to the inner iterator if it implements peek instead of implementing the peek logic itself.

[2016-05-26 18:03] frewsxcv commented on #33882
JavaScript:

[code]

Python:

[code]

Ruby:

[code]

[2016-05-26 18:11] maksimsco opened #33886 "Bug in std::fs:File read_to_string"
**I tried this code:**

[code]
https://is.gd/g8Qo3H

**I expected to see this happen:**

Mismatched type error, stating that expected type is `&mut std::string::String`, found type `&mut std::vec::Vec<_>`

**Instead, this happened:**

[code]

## Meta

[code]

Backtrace:

[code]

[2016-05-26 18:23] est31 commented on #33882
C/C++:
[code]
outputs
[code]

[2016-05-26 18:28] #33709 closed

[2016-05-26 18:34] MichaelNecio opened #33887 "Book 4.1 should mention that shadowing does not destroy the original value."
In reading about shadowing I was curious if shadowing a binding within the same scope would cause a destructor to be called, which I did eventually find is not the case [https://www.reddit.com/r/rust/comments/2eelew/unexpected_for_me_behavior/?ref=share&ref_source=link](url), but perhaps this should be mentioned in the book to prevent incorrect assumptions from being formed (it's happened at least

[2016-05-26 18:37] nagisa commented on #33882
The behaviour is expected (algorithm and behaviour we expect is greedy).

Consider `"".split("")`: in the string being split, there’s one empty string you can split on (greedily, that is), adjoined by two other empty strings, which is the result.

It should be documented if it isn’t already.

[2016-05-26 18:44] SoniEx2 commented on #33875
Why not split unused_variables and unused_parameters?

[2016-05-26 18:46] SoniEx2 commented on #33875
Or why not just use

[code]

[2016-05-26 18:51] steveklabnik commented on #33887
I am not working on the book at the moment, given that I'm working on the second edition. If someone wants to send me a PR for this, I'd take it, though!

[2016-05-26 18:57] apasel422 commented on #33886
Duplicate of #31964.

[2016-05-26 18:57] #33886 closed

[2016-05-26 19:27] michaelwoerister commented on #33850
`:D`

[2016-05-26 19:40] michaelwoerister opened #33888 "Incremental compilation: Be smart about hashing spans"
The way the code-map is currently set up, all source files of a crate and its dependencies are layout into one big "address space", e.g:
[code]
That means that adding a byte to `a.rs` will change all addresses in `b.rs` and `c.rs`. Consequently, were we to incorporate the verbatim `BytePos` values in the `Spans` contained in the AST, small changes would cause recompilations of seemingly unrelated

[2016-05-26 19:40] nagisa opened #33889 "item-bodies/item-types timings regressed for issue-32062-equality-relations"
See [this][t1] and [this][t2].

[t1]: http://perf.rust-lang.org/index.html?start=Mon%20Apr%2018%202016%2002:11:20%20GMT+0000%20(UTC)&end=Wed%20May%2018%202016%2012:04:26%20GMT+0000%20(UTC)&kind=benchmarks&crates=issue-32062-equality-relations-complexity&phases=item-bodies%20checking,item-types%20checking&group_by=crate

[t2]: http://perf.rust-lang.org/index.html?start=Mon%20Apr%2018%202016%2002:11

[2016-05-26 19:43] nagisa commented on #33889
cc @eddyb @nikomatsakis

[2016-05-26 19:49] nikomatsakis commented on #33364
Did more digging. The story is a bit more complex, but I think more readily fixed. It turns out that, in the main typeck pass, we do indeed fail to normalize the type of the parameter in the closure. **But**, because references to local variables go through the same procedure that computes the types for references to items, we put those same types through the same instantiation procedure, which ap

[2016-05-26 19:51] jonas-schievink commented on #33889
cc @Marwes

[2016-05-26 19:56] nikomatsakis commented on #33364
Another reason to normalize the entire fn signature is that I think it will fix [this example](https://is.gd/SkPyCa), which illustrates that the return type is not normalized, though the argument types are:

[code]

[2016-05-26 19:58] nrc commented on #33869
Interesting, we're probably checking that `ty::Error: Sized`, which is nonsense and shouldn't cause an error.

[2016-05-26 20:19] nikomatsakis commented on #31299
This is now fixed (just verified) by #33138. Closing.

[2016-05-26 20:19] #31299 closed

[2016-05-26 20:24] nagisa commented on #33882
This seems like an easy enough to do change, thus marking as E-easy.

[This](https://github.com/rust-lang/rust/blob/dc91467db05ba6ee2a2a72c440e8c48008abb7a3/src/libcollections/str.rs#L1039-1119) is the documentation that needs to be edited, other examples for the description should be used as a reference. The algorithm behaviour is described in the comment above. In case anything is not clear, ask

[2016-05-26 20:28] xitep commented on #30783
hello, i just got aware of [RUSTFLAGS](https://github.com/rust-lang/cargo/pull/2241) which seems like a solution to my [originally reported problem](https://github.com/rust-lang/rust/pull/29974#issuecomment-168166164). given the desire to use ld.gold by default, i think it might worth considering to enable that patch now and have ppl on such old platforms use `export RUSTFLAGS="-C disable-gold"`.

[2016-05-26 20:29] chris-morgan commented on #33875
Not certain how I missed the existing issues when searching for it. I suspect I accidentally had it filtered to only open issues. Ah well. I still think it should be done, but this issue is not necessary.

[2016-05-26 20:29] #33875 closed

[2016-05-26 20:35] SoniEx2 commented on #33875
I feel like the "a la `(void)x;`" solution is the cleanest. Increasing compiler complexity for the unused_variables lint isn't needed.

[2016-05-26 20:45] SoniEx2 commented on #26487
I'd recommend `let _=x;` personally, it's essentially the Rust equivalent of the C `(void)x;`.

That way you neither use `#[allow]`, which can cause issues, nor `_x`, which produces ugly docs.

[2016-05-26 20:54] bluss commented on #33882
Previous related discussion in #25986

[2016-05-26 21:01] apasel422 commented on #32733
This appears to have been fixed in #32815.

[2016-05-26 21:05] apasel422 commented on #31587
This would likely have prevented #33662.

[2016-05-26 21:15] #32733 closed

[2016-05-26 21:34] apasel422 commented on #18323
Fixed by #32248.

[2016-05-26 21:34] #18323 closed

[2016-05-26 21:37] apasel422 commented on #19064
Triage: Still an issue.

[2016-05-26 21:41] apasel422 commented on #20433
This appears to have been fixed.

[2016-05-26 21:51] apasel422 commented on #23524
Triage: Still an issue.

[2016-05-26 21:54] apasel422 commented on #23950
Triage: Test cases need to be rewritten to account for the removal of `thread::scoped`.

[2016-05-26 21:55] apasel422 commented on #23975
`saturating_mul` [now exists](https://doc.rust-lang.org/nightly/std/?search=saturating_mul) for all integer types.

[2016-05-26 22:02] apasel422 commented on #24819
Is this the same issue as #31964?

[2016-05-26 22:05] apasel422 commented on #25579
Neither test case appears to cause an ICE anymore.

[2016-05-26 22:08] apasel422 commented on #26263
Triage: Still an issue.

[2016-05-26 22:09] apasel422 commented on #26406
Triage: Still an issue.

[2016-05-26 22:42] trufae commented on #21102
I think that `rust-lldb` should run this script by default:

[code]

like this:

[code]

[2016-05-26 23:10] alexcrichton commented on #23975
Yay!

[2016-05-26 23:10] #23975 closed

[2016-05-27 06:32] chris-morgan commented on #27717
Migration path from `StaticMutex` to using a `Mutex` plus the `lazy_static` crate:

[code]

Replace it with:

[code]

If you’re protecting data with the mutex, then you can use something better than `()`. (I wasn’t, I was just preventing a handful of tests from running in parallel because of a global static used solely for testing purposes.)

[2016-05-27 07:07] pnkfelix commented on #14441
@alexcrichton there's some amount of crosstalk in this thread,  but just to be clear: can you confirm that  we are supposed to be using the "Canadian cross compiler" interpretation of the build/host/target flags to `configure`, and thus *in principle* it should be unnecessary (and in some scenarios,  even erroneous) specify `i586-unknown-linux-gnu` for the build flag, even if today doing so happen

[2016-05-27 07:31] pnkfelix commented on #14441
(Ah, I did look around and rediscovered a statement from @graydon ( https://github.com/rust-lang/rust/issues/2302#issuecomment-5367237 ) that the project originally deliberately opted not to support Canadian cross. Not sure what that entails with respect to  how the `build` flag to `configure` is to be interpreted though,  so my question to @alexcrichton is still open )

[2016-05-27 07:47] Matrix-Zhang opened #33899 "upgrade to 1.9, build fail...."
here is the RUST_BACKTRACE=1 cargo build log....

   Compiling bufstream v0.1.2 (registry git://crates.mirrors.ustc.edu.cn/index)
   Compiling byteorder v0.5.2 (registry git://crates.mirrors.ustc.edu.cn/index)
   Compiling winapi-build v0.1.1 (registry git://crates.mirrors.ustc.edu.cn/index)
   Compiling winapi v0.2.7 (registry git://crates.mirrors.ustc.edu.cn/index)
   Compiling num-traits v0.1.3

[2016-05-27 07:48] Matrix-Zhang commented on #33899
i use rustup manage the toolchain, i change to nightly 1.10, the build is ok

[2016-05-27 07:53] pnkfelix commented on #33899
I'm not sure if there is enough information provided to replicate the issue here. ..

What is your host environment (processor and operating system? )

What is the cargo project you are building?

What cargo invocation are you using that issues the first set of errors?

[2016-05-27 07:58] Matrix-Zhang commented on #33899
my host environment : WIN10 Enterprise Edition 64bit, I7-4700MQ
the project i'm buiding is quite simple demo project with mongodb,
here is the code:
[code]
the firset set of error are :

error: internal compiler error: unexpected panic
note: the compiler unexpectedly panicked. this is a bug.
note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-r

[2016-05-27 08:21] nikomatsakis commented on #33364
OK so it appears I was half right. After fixing the problem I mentioned, the warnings about MIR typeck failures go away, but the ICE remains. Also, the variation I posted still doesn't type check. =)

I am now looking in more detail at the ICE from trans.

[2016-05-27 08:30] gnzlbg commented on #29754
I disagree with @ticki, the _default_ hash function does not need to be as fast as possible (IIUC), and I also disagree with the argument:

since it makes the assumption that most Rust software will be attacked (most software I write isn't, and attacking most software doesn't achieve anything useful for an attacker).

IMO the _default_ hash function should allow Rust programmers to not have to thi

[2016-05-27 08:55] llogiq commented on #29754
I disagree with @gnzlbg, the default function should be as fast as possible while still being reasonably secure.

Data point: The  benchmarks game rules were recently changed to require using the default hash table. It is conceivable they'll ask us to use the default hasher in the future, too.

[2016-05-27 09:03] dns2utf8 opened #33901 "Missleading error message when defining function with template type by accident"
I noticed a very missleading error:
[code]

 with this code:
[code]

I expected something like this:
[code]

I assume the message originates from the type checking of the functions where the compiler assumes the function declarations are more correct than the code useing them.
Then the error would be correct.

But using a library the error seems missleading.

[2016-05-27 09:09] pmarcelll commented on #33899
I think I saw a similar issue somewhere recently, where metadata from the earlier build confused the updated compiler.
Does ```cargo clean``` and then ```cargo build``` help?

[2016-05-27 09:20] Matrix-Zhang commented on #33899
cargo clean then build is ok...

[2016-05-27 09:20] #33899 closed

[2016-05-27 09:21] funny-falcon commented on #29754
Default function should be resistant to Hash Flood Attack. But it doesn't mean it should be cryptographically safe.

I believe such function could be maid. But it is harder to prove its resistance for "seed independent multicollisions" than for cryptographically safe function.

For example, Microsoft uses Marvin32 - 32bit hash with 64bit state and seed - which is derived from crypto-primitive, but

[2016-05-27 09:21] pmarcelll commented on #33901
I think the compiler is right in this case, because your code contains two errors.
The correct signature of ```fun``` is ```fn fun<T>(v : Template<T>)```.
After fixing it, you get:
[code]

[2016-05-27 09:33] dns2utf8 commented on #33901
I agree from the point of the function declaration.

Fixing this problem took me 2 hours in my case. Maybe somebody has a good idea to address this problem.

[2016-05-27 09:36] dns2utf8 commented on #33901
Maybe this would be a case for an IDE?

[2016-05-27 09:39] arthurprs commented on #29754
I suggest proceeding with the Siphash13 ideia

The benchmarks (https://i.imgur.com/5dKecOW.jpg) show real improvements (specially for smaller sizes, in which we are really slow right now) and it seems secure enough. Remember, it can always be upgraded without breakage).

[2016-05-27 09:48] GuillaumeGomez commented on #32777
@mrhota: That's what it seems. I'll take a deeper look. Thanks for notifying!

[2016-05-27 09:59] pmarcelll commented on #33901
The best solution for this problem, in my opinion is making a special case for missing angle brackets (the user of the type forgot, that it's templated, or doesn't know exactly, what a type argument is, and where it's expected).

[2016-05-27 10:05] gnzlbg commented on #29754
@llogiq

I think we agree then. In case it wasn't clear from my previous comment I said that the_default_ should be "reasonably fast and reasonably secure" as opposed to just "as fast as possible (without being reasonably secure)". With "reasonably fast" I was talking in absolute terms, e.g., as compared to an insecure hash function. I guess you expressed it better, we just need a very fast implem

[2016-05-27 10:12] gnzlbg commented on #29754
@funny-falcon argues that it should be resistant to Hash Flood Attacks. If we guarantee this as part of the function API we cannot upgrade it at will later, and if we don't, users cannot rely on this either. Arguably users that want to rely on this should be choosing a particular hasher manually, so I think I would be against explicitly stating any guarantees in the API of the default hasher to be

[2016-05-27 10:15] briansmith commented on #29754
Why not simply use a faster implementation of SipHash-2-4? Rust is currently using a known-to-be-slow implementation, so simply optimizing the implementation of the stronger, recommend, algorithm seems like the natural first step.

[2016-05-27 10:18] eddyb opened #33903 "Builtin indexing not used with non-trivial indices."
It appears that when it's not obvious the index type is `usize`, we fall back to overloaded indexing:

[code]

Fails in constant checking, [on stable](https://play.rust-lang.org/?gist=d3adc745a7d0c6d3c0fe1ac3d8f2e6c9&version=stable&backtrace=0):

[code]

And also with the new MIR-based constant checker, [on nightly](https://play.rust-lang.org/?gist=f293a4ee614960dd73d8bae54b0057db&version=nightly&

[2016-05-27 10:48] ranma42 commented on #20235
Is this superseded by #31590 (rustbuild) ?

[2016-05-27 10:57] Manishearth commented on #31645
Batch landed!

[2016-05-27 10:58] arthurprs commented on #29754
@briansmith sounds like a good idea to me.

[2016-05-27 11:04] Manishearth commented on #20235
No, mach is more of a wrapper around cargo to provide utility shortcuts

[2016-05-27 11:12] ticki commented on #29754
I've been working on [trhasher](https://github.com/ticki/trhasher), which can be used to benchmark such an implementation.

[2016-05-27 11:22] funny-falcon commented on #29754
@briansmith cause SipHash-1-3 is already secure enough for any using in hash table.
More over, it is still not broken for any other usage, so at this moment of time, it is still cryptographically secure.
It is better to use "faster implementation of SipHash-1-3", than "faster implementation of SipHash-2-4".

[2016-05-27 11:26] CryZe opened #33904 "Type Checker getting confused with constraints + ICE"
I've written the same code in 2 different crates. One compiles perfectly fine, the other doesn't. Apparently the constraints on the function merge(!!) with the constraints of the other function and the type checker is getting really confused and errors out. If you look at the code, the constrained type Q does not come in contact with convex_hull::create in any way, yet it influences it. Removing Q

[2016-05-27 11:45] kamalmarhubi commented on #31645
@Manishearth

What's involved? I'm interested in keeping `syntex_syntax` close to `libsyntax` so that rustfmt keeps up.

[2016-05-27 11:45] Manishearth commented on #31645
Um, ask @erickt

[2016-05-27 11:46] Manishearth commented on #31645
@kamalmarhubi https://github.com/serde-rs/syntex/blob/master/CONTRIBUTING.md#how-to-do-a-syntex_syntax-release

and then you fix up aster and quasi to do the same

[2016-05-27 11:47] kamalmarhubi commented on #31645
@Manishearth I was about to come here and link that to answer myself, but you're quick! :-)

[2016-05-27 12:01] SimonSapin commented on #27717
[code]

Doesn’t this have more runtime cost? It has two synchronization points (`lazy_static!` uses `Once` internally, and `Mutex` synchronizes again).

[2016-05-27 12:05] Amanieu commented on #27717
The `Once` is basically free once the object has been constructed. It's just a load, a compare and a branch.

[2016-05-27 12:24] octplane commented on #33760
Yep. closed. THXBYE :)

[2016-05-27 12:24] #33760 closed

[2016-05-27 13:49] azerupi commented on #33778
I got the same error running `cargo test` (stable Rust 1.9) after running the tests with nightly using `rustup run nightly cargo test`.

It's probably unrelated but just before it panicked I set up the new error format with `RUST_NEW_ERROR_FORMAT="true"` in my `.zshrc` file.  That's why I was building with nightly.

I have a file in `tests/` looking like this

[code]

And the panic did not occur w

[2016-05-27 14:48] mneumann commented on #16298
@alexcrichton thanks a lot. https://github.com/rust-lang/rust-buildbot/pull/105 contains part 1. I haven't been able to log into the container yet, because somehow the network is not correctly set up.

[2016-05-27 14:58] nagisa commented on #33901
The compiler also underlines where exactly in the line the error is:

[code]

making it pretty obvious what exactly the compiler is complaining about.

We perhaps could add a note like this:

[code]

but I do not see much value in it, because it is trivial to lookup the definition of such struct anyway.

[2016-05-27 15:08] #33737 closed

[2016-05-27 15:08] #33569 closed

[2016-05-27 15:08] #33728 closed

[2016-05-27 15:08] #33885 closed

[2016-05-27 15:12] eddyb commented on #33904
Looks like this is #30472.

[2016-05-27 15:27] CryZe commented on #33904
It's not, it also gets confused if I remove the HRTB and add the lifetime
to the function's generics.

Am Freitag, 27. Mai 2016 schrieb Eduard-Mihai Burtescu :

[2016-05-27 15:40] benaryorg commented on #27739
To quote @SimonSapin:

Couldn't we just stabilize `sum` and `product` to take an argument besides `self` for the base value?
It would be much like `fold` but more readable and `One` and `Zero` could therefore be removed as they are only used by `sum` and `product`.

This would also make it possible to set the precision of the base value as criticized by some of you.

[2016-05-27 15:42] Columbus240 commented on #27708
I'm using this function to check if two `RefCell`s point to the same memory location because there's no other way to do this in Rust. Could be stabilized in my opinion.

[2016-05-27 15:44] eddyb commented on #33904
@CryZe With associated types under HRTB, the compiler cannot tell that two identical-looking bounds are the same, or that they imply each-other. This has been a problem for as long as HRTB has existed.

[2016-05-27 15:54] sandeep-datta commented on #33881
@Stebalien going through the list of iterators it appears that any trait which derives from the Iterator trait ends with an Iterator in its name. Examples: DoubleEndedIterator, ExactSizeIterator. I propose renaming Peek to PeekableIterator. What do you say?

[2016-05-27 15:57] CryZe commented on #33904
![http://puu.sh/p72qF.png](http://puu.sh/p72qF.png)

As you can see here, I just removed all HRTB and it still doesn't compile.

[2016-05-27 16:06] Stebalien commented on #33881
Sigh... You're right. This is an iterator thing from the days before the convention. For everything else, traits are named after their primary function (`Write`, `Read`, `From`, `Into`, `AsRef`, `Borrow`, ...).

[2016-05-27 16:08] CryZe commented on #33904
This is just getting weirder and weirder:

![http://puu.sh/p7342.png](http://puu.sh/p7342.png)

[2016-05-27 16:09] eddyb commented on #33904
The Rust compiler **never** uses type parameter names from callees in error messages in callers.
It's type-checking `concave_hull::create`, which has a `Q` parameter, so that's what it will say.

[2016-05-27 16:11] eddyb commented on #33904
@CryZe Could you reduce to one file that we can reasonably work with? (The ICE is likely #33852 AFAICT)
I don't see any reason having two crates is actually relevant here, other than potential confusion.

[2016-05-27 16:12] petevine commented on #14441
@rmathew One more thing  - the LLVM issue linked in that thread pertaining to your P3 has been fixed [here](http://reviews.llvm.org/D18537) so be sure to apply the patch. Or you can try my not so old [i686 build](https://www.dropbox.com/s/u93bqkrqe7tbd6k/rust-1.10.0-i686-linux.tar.xz?dl=0) out.

[2016-05-27 16:12] CryZe commented on #33904
The ICE seems to be cause by the Vec not being able to type infer its type from the constraint. Explicitly giving it a type makes it work.

[2016-05-27 16:17] strake opened #33906 "Tracking issue: UTF-8 decoder in libcore"
Update (@SimonSapin): this is now the tracking issue for these items in both `core::char` and `std::char`:

* `decode_utf8()` which takes an iterable of `u8` and return `DecodeUtf8`
* `DecodeUtf8` which implements `Iterator<Item=Result<char, InvalidSequence>>`
* `InvalidSequence` which is opaque

Original issue:
----

In libcore we have a facility to encode a character to UTF-8, i.e. `char::Encode

[2016-05-27 16:23] dns2utf8 commented on #33246
There is a PR addressing this: https://github.com/rust-lang/rust/pull/33798

[2016-05-27 16:24] CryZe commented on #33904
Here's the reduced code: https://is.gd/OOg72m

ICE happens on Beta and Nightly. Type Checker problem happens on all.

[code]

[2016-05-27 16:35] cuviper commented on #27739
Another possibility is to return `Option` like `min`/`max`, and the caller can use `sum().unwrap_or(0)`.  But if most callers will want that, it's not nice to be wordier with unwraps.

[2016-05-27 16:37] eddyb commented on #33904
Ahh, I see what happens: `problem_creator` expects `&$0: IntoIterator` and the bound is actually satisfied by `&Q: IntoIterator`, which results in `$0 == Q` *even though* `points` has type `Vec<f64>`.
However, obligations like `&$0: IntoIterator` get resolved before arguments are checked, so that's how this arises.
I suspect #33852 fixes the ICE, but I'm not sure. cc @nikomatsakis @arielb1

[2016-05-27 16:39] eddyb commented on #33904
@CryZe As a workaround, `problem_creator::<Vec<_>>(&points)` seems to work for me, could you try that (explicitly specifying type parameters) in your own project?

[2016-05-27 16:39] benaryorg commented on #27739
Still wouldn't solve the problem of the mentioned "enhanced" constructors of some types that might need to provide more information for their internals to actually perform an addition.

[2016-05-27 16:43] dns2utf8 commented on #33246
And I made a PR to upstream: https://github.com/richgel999/miniz/pull/52
Maybe upgrade miniz after it is merged.

Regards

[2016-05-27 16:46] CryZe commented on #33904
Yeah, seems to work. Thanks for your help :)

[2016-05-27 16:48] alexcrichton commented on #16298
Awesome! Odd that you're having problems logging into a container, I'm not sure I've ever had that kind of problem with docker ...

[2016-05-27 16:56] alexcrichton commented on #14441
@pnkfelix yeah you shouldn't need a form of canadian cross for rustc itself because all compilers can emit code for all targets. In that sense all you need to do is ensure that the compiler can run on your target host, in this case `i586-unknown-linux-gnu`.

That is, the following *should* suffice:

[code]

(that was all typed from memory so ther emay be typos)

[2016-05-27 17:05] Marwes commented on #33889
While testing #33816 on my projects I figured I'd run through this example on that version of rustc as well and it seems it doesn't seem to give this slowdown and given that #33816 seems to be rebased on top of master after this slowdown occurred it might have been fixed by that PR (if only by chance?). I may take a look at this sometime this weekend if I get the time though as it still seems unfo

[2016-05-27 17:53] braverock commented on #14311
I had `texlive-latex-recommended` installed already, but needed to install

`sudo apt-get install texlive-latex-extra texlive-fonts-recommended texlive-fonts-extra`

to get this error to go away.  All good now.

[2016-05-27 17:54] MagaTailor opened #33908 "Bootstrap configuration `--host=` option not enough on its own"
It was already brought to @alexcrichton's [attention](https://www.reddit.com/r/rust/comments/4azl1p/crossbootstrapping_a_rust_compiler_for_i586/d14usne) two months ago, and [again](https://github.com/rust-lang/rust/issues/14441#issuecomment-221939186) yesterday, the `--build` flag was needed to set the LLVM runtime during cross-bootstrap, i.e. determine the actually desired host compiler.

For som

[2016-05-27 18:19] SimonSapin commented on #27708
@Columbus240 Why is this needed to compare memory locations? Or rather, why is comparing the location of `RefCell`s different from comparing that of any other type?

[code]

[2016-05-27 18:36] huonw commented on #30459
I believe #31202 closed this accidentally, at least, I can't see any documented decision from the libs team.

[2016-05-27 18:36] alexcrichton commented on #33908
This is working as intended as our build system always has, the `--host` and `--target` options are *additive*, not replacing. That is, `CFG_HOST` is always a superset of `CFG_BUILD`, and `CFG_TARGET` is always a superset of `CFG_HOST`. It's not currently supported to have a `CFG_HOST` which does *not* include `CFG_BUILD`, do you intend for this bug report to suffice for that?

[2016-05-27 18:37] johnjelinek opened #33910 "Cargo build fails on Utf8Error"
[code]

I tried this code:

[code]

I expected to see this happen: `Hello world`

Instead, this happened:

[code]

## Meta

`rustc --version --verbose`:
[code]

[2016-05-27 19:06] petevine commented on #33908
The problem is, during **cross-bootstrap** (this feature works great just for getting additional targets), contrary to the usual `--host` logic and common sense, after `make install` you get the build host's runtime, which is not what was bargained for. Or so everyone, who stumbled on it, says.

As I'd opined in the reddit thread I didn't have a problem with it, but maybe it should behave more int

[2016-05-27 19:07] GuillaumeGomez opened #33911 "#![deny(warnings)] doesn't work"
The following code:

[code]

gives the following warning:

[code]

However it compiles anyway.

[2016-05-27 19:09] dhardy commented on #27741
yigal100's approach seems sensible, in which case `step_by` should take a `usize` regardless of the iterator type and just call `next` a configurable number of times (>= 0).

Another option would be to drop `step_by` and instead allow a `Range` to be multiplied by something; e.g. `(1..3) * -2` would return -2, -4. In this case it would be nice to be able to write `(0..10) * 0.1`, however, where wo

[2016-05-27 19:10] petevine commented on #33908
I've just remembered an ARM issue about two sets of crates in the same tarball - don't tell me it was the same problem all this time!

[2016-05-27 19:25] nagisa commented on #33910
Duplicate of https://github.com/rust-lang/rust/issues/33778

[2016-05-27 19:25] #33910 closed

[2016-05-27 19:27] nagisa commented on #33910
@johnjelinek a question: is this a completely new cargo project? This is a first case I see this reported for something without any dependencies.

[2016-05-27 19:44] TimNN commented on #33911
Could it be that `#[deny(warnings)]` only works for lints?

[2016-05-27 20:04] alexcrichton commented on #33908
I would personally actually be surprised if `make install` worked with a `--host` configuration, there's probably some bugs around that with installing the wrong thing most likely.

[2016-05-27 20:12] pmarcelll commented on #33901
I think the source of confusion is that the term "type argument" is confusing/unfamiliar for a lot of people, because other languages use it differently, they use "type parameter" in this case (see [Java](https://docs.oracle.com/javase/tutorial/java/generics/types.html#instantiation), [Swift](https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/GenericP

[2016-05-27 20:28] jameysharp opened #33916 "Inline read/write functions for Cursors"
It would be nice if the `Read` and `Write` implementations for `std::io::Cursor` were inlined. Consider this program:

[code]

If the `write` calls are inlined, then all the position computations are constant-folded and the writes compile to exactly what I'd hope for:

[code]

I tested using `rustc -C opt-level=2 -C lto`, using rustc 1.10.0-nightly (e0fd34bba 2016-05-09). I think that LTO is a pre

[2016-05-27 20:51] petevine commented on #33908
Presently to cross-bootstrap a single architecture compiler without fail, it's either necessary to set all three `CFG`'s to the desired triple or use the shorthand `--build=triple`.

Should the case where just `--host` is provided, and it's different from the build host, be treated specially? (as everyone seems to expect)

[2016-05-27 21:27] johnjelinek commented on #33910
it's not a completely new cargo project. I added a dependency for `sdl2` and `core-native` and then removed the dependencies and changed `main.rs` to what it is in the bug report.

[2016-05-27 21:36] alexcrichton commented on #33916
The generic ones should in theory already be inlined due to the generics themselves, but feel free to send a PR to inline some of the others!

[2016-05-27 22:43] alexcrichton commented on #33908
I don't think it would really change anything because to build a stageN compiler for any target you need a stageN *build* compiler to build it.

[2016-05-27 23:21] GuillaumeGomez commented on #33911
That's a possibility. But if it's the case, I find the "deny(warnings)" very badly named. :-/

[2016-05-27 23:51] briansmith commented on #28925
I think what the C compiler does by default is sometimes determined by the ABI. For example, I believe sometimes GCC's default for that flag differs depending on how GCC was configured when it was built.

IMO, instead of matching the default of "the" C compiler (in fact, there is often more than one C compiler, each of which may have a different default), Rust should default to matching the ABI.

[2016-05-27 23:57] briansmith commented on #29413
Yes, this still reproduces for me.

In particular, if I do `cargo build --release`, then the build succeeds, but if I do `cargo test --release` then the build fails with several errors like this:

* git clone https://github.com/briansmith/ring
* edit Cargo.toml to `s/debug = false/debug = true/` in the `[profile.release]` section.
* cargo test --release

[code]

`checkdigest` is one of the example

[2016-05-28 00:22] GuillaumeGomez opened #33919 "[rustdoc] invalid trait doc generation"
When rustdoc generates doc from trait implementation, it could replace generic ones with the one we have. Example with http://doc.rust-lang.org/nightly/std/cell/struct.RefCell.html :

[code]

`eq()`'s other argument is &RefCell<T>, but that's not the case for `ne()`. It should be fixed.

cc @nox

[2016-05-28 00:22] GuillaumeGomez commented on #33919
I'm working on it.

[2016-05-28 02:28] sandeep-datta commented on #33881
Okay so I tried to implement PeekableIterator for Chars but it seems the best I could do was ...

[code]

since I do not want to store the peeked valued in an extra field inside Chars. Doing so would replicate what the Peekable struct already does and also violate the pay as you go principle for people who are not interested in peeking an iterator.

I think Peekable may the best we can do for now,

[2016-05-28 02:47] jameysharp commented on #33916
I didn't understand what you meant by "The generic ones should in theory already be inlined", but I guessed you meant the `Read` implementation since it's for `Cursor<T>`? So I tested that and discovered that sometimes optimizers are kind of hilariously good:

[code]

The body of `main` compiled (with `rustc -C opt-level=2`) down to:

[code]

(where 5243 is the address of the unwind call). I'm a l

[2016-05-28 04:06] upsuper commented on #33764
This is a reduced testcase to reproduce this issue:
[code]

[2016-05-28 04:08] retep998 commented on #29413
I compiled three binaries, the first is a Rust hello world with debug info, the second is without debug info, and the third is a C hello world. All using 64bit msvc.

![](http://i.imgur.com/Yw5wCjU.png)

So dwarf symbols are definitely not being produced anymore for `x86_64-pc-windows-msvc` and we can rule that out.

[2016-05-28 05:03] kirillkh opened #33923 "Unable to achieve aligned writes"
I am trying to implement an efficient memory move operation for a specific usage pattern: https://play.rust-lang.org/?gist=e4ef230e60d506a0891c980993d27d2a&version=nightly&backtrace=1

In release mode, the loop in move_items() in the above example is compiled into a series of unaligned reads followed by unaligned writes, despite some effort to have the writes aligned.

[2016-05-28 07:32] eefriedman commented on #33923
Known limitation of LLVM IR representation of the llvm.memmove intrinsic; there's only one alignment parameter.  There was an attempt to fix this in LLVM r253511, but it was reverted.  Not sure what the current status is.

[2016-05-28 07:50] jwatt opened #33924 "The rust book page on mutability is confusingly worded"
In the [rust book section on mutability](https://doc.rust-lang.org/book/mutability.html) the text is written in a very confusing way. I'm particularly thinking of the bits of text like:

Perhaps this can be reworded as:

Or if the phrase "exterior immutability" isn't acceptable, then a more general rewording like:

Or:

As it's currently worded it sounds roughly like saying "when something is immu

[2016-05-28 08:30] AndyShiue opened #33925 "Deriving `Clone` for simple (illigal) recursive types hangs the compiler."
[code]

[2016-05-28 10:53] dhardy commented on #27741
Note that `map` allows some of the above already:

[code]

Other `Iterator` methods like `rev()` can also be used. The inclusion of `step` from itertools should be enough to complete the picture here (i.e. drop the existing `step_by` method from `Range`).

Is it possible to optimise these down to the same thing?
[code]

--------

The use of the `One` trait by `Range` is another issue entirely: it'

[2016-05-28 11:38] nagisa commented on #33925
I feel like we have a bug like this already reported but I can’t find it.

[2016-05-28 11:40] nagisa commented on #33911
Duplicate of https://github.com/rust-lang/rust/issues/21204

[2016-05-28 11:40] #33911 closed

[2016-05-28 11:51] Boddlnagg commented on #29646
Is there any ETA on the stabilization of this feature? It would be really useful for something which I'm currently experimenting with, namely the implementation of Windows COM interop: One could add a trait that exposes each interface's GUID and/or class ID as constants, then e.g. [this API](https://msdn.microsoft.com/en-us/library/windows/desktop/br224648%28v=vs.85%29.aspx) could be mapped to Rus

[2016-05-28 14:11] GuillaumeGomez commented on #21204
The problem still exists.

[2016-05-28 14:18] Columbus240 commented on #27708
@SimonSapin Thank you, I didn't know that worked. I couldn't infer from the books page about unsafe pointers how I had to use them. I thought the `T` in the expression `*const T` denoted the size of the pointer which makes no sense at all, now that I look at it. More explicit documentation would have made it easier.

[2016-05-28 14:25] sunnystormy opened #33928 "Segfault while compiling master for arm-unknown-linux-gnueabihf"
I get the following from my log every time I try to compile from master:

`rustc: arm-unknown-linux-gnueabihf/stage0/lib/rustlib/arm-unknown-linux-gnueabihf/lib/libcore
/home/***/GitRepos/rust/mk/target.mk:201: recipe for target 'arm-unknown-linux-gnueabihf/stage0/lib/rustlib/arm-unknown-linux-gnueabihf/lib/stamp.core' failed
make: *** [arm-unknown-linux-gnueabihf/stage0/lib/rustlib/arm-unknown-li

[2016-05-28 14:44] nagisa commented on #21204
There’s a good reason to not allow deny(warnings) at all from the stability standpoint. We want to add warnings at will without breaking users’ code and deny(warnings) makes that essentially an error.

[2016-05-28 14:52] eddyb commented on #21204
@nagisa Didn't we solve that with `--cap-lints` and `cargo` setting it to "allow" for all dependencies?
We can add error-by-default lints without breaking users of libraries that trigger the lints.

[2016-05-28 15:30] dvc94ch opened #33930 "Can't find crate for `core` when building from master"
I'm running into an issue when trying to build from master on nixos. I'm using this compiler to build http://static.rust-lang.org/dist/2016-04-13/rust-beta-x86_64-linux.tar.gz

[code]

[2016-05-28 15:37] pmarcelll commented on #33827
I looked around in the standard library's documentation, the only other case where error::Error is not implemented for an error is [FromBytesWithNulError](https://doc.rust-lang.org/nightly/std/ffi/struct.FromBytesWithNulError.html).

[2016-05-28 15:58] GuillaumeGomez commented on #33827
@pmarcelll: Want to add it maybe? Take a look at my PR if you don't know how to do it.

[2016-05-28 16:06] dvc94ch commented on #33930
If someone has superhuman programming powers and can guess whats going on on my machine, please let me know :)

[2016-05-28 16:06] #33930 closed

[2016-05-28 17:24] #33763 closed

[2016-05-28 17:24] #33819 closed

[2016-05-28 17:24] #24819 closed

[2016-05-28 17:24] #25801 closed

[2016-05-28 17:24] #31258 closed

[2016-05-28 17:24] #31964 closed

[2016-05-28 17:24] #32320 closed

[2016-05-28 17:24] #33515 closed

[2016-05-28 17:24] #33755 closed

[2016-05-28 17:24] #33827 closed

[2016-05-28 18:25] briansmith commented on #29413
Thanks Peter. It turns out that I had a pre-rustup version of rustc in my path, so that even when rustup told me it had switched to rustc 1.10, I was really building with rustc 1.6. After I fixed that, I verified that at least as of Rust 1.9, the problem is fixed. So this can be closed!

[2016-05-28 18:25] #29413 closed

[2016-05-28 19:20] durka commented on #33925
already fixed in nightly

[2016-05-28 19:20] petevine commented on #33928
ARM7 was probably a typo so you could try using my [stage0](https://www.dropbox.com/s/01ywl9mwwo6xojw/rust-stage0-2016-04-18-b324fa7-linux-armv7.tar.xz?dl=0) snapshot for ARMv7.

If it works for you, this could be a repeat of issue #33483 which wasn't properly resolved as the OP was never heard from again.

[2016-05-28 19:23] DanTup opened #33933 "Installing from tarball? can't find crate for `std` [E0463]"
I'm trying to use Rust on my Chromebook (I don't know if this will work on ChromeOS, but I want to give it a Go... [it worked for Dart](http://blog.dantup.com/2014/09/dart-vm-on-a-chromebook-without-linux/)). I've never used it before so it's likely I'm doing something silly, but I'm not sure how to diagnose (I can't find any instructions for installing from the tar.gz, and `rustup` fails ue to no

[2016-05-28 19:38] DanTup commented on #33933
I found that I had another folder full of stuff that looks like the standard library in the (strangely long) path `~/Downloads/Rust/rust-1.9.0/rust-std-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/lib/`. However I added that to `LD_LIBRARY_PATH` but it didn't change the error.

[2016-05-28 19:39] petevine commented on #33933
Yeah, bring back the old tarball format for manual downloads! That's still working as expected after `make install` and is great for trying out rust in your home directory.

https://users.rust-lang.org/t/does-rust-on-linux-need-to-be-installed-on-the-system-to-be-used/5722/10

[2016-05-28 19:57] DanTup commented on #33933
@petevine I tried the instructions there but it didn't seem to help. I even tried copying the files from the std folder into `rustc/lib` and `rustc/lib/rustlib` but still no joy.

I presume `make install` is for compiling from source? If something as simple as `file` is missing on ChromeOS I don't fancy my chances trying to compile! =)

[2016-05-28 20:02] petevine commented on #33933
Last time I briefly used x86_64 rust a few weeks ago on a Live Distro, and that's exactly what I did to get it work the way I like (by moving the std). Once you recreate the default directory structure, `LD_LIBRARY_PATH` is not necessary.

[2016-05-28 20:08] DanTup commented on #33933
@petevine Where did you move it to, `rustc/lib` or `rustc/lib/rustlib`? Did you have to download an additional archive, or just the std folder that was already inside the original archive (in the strangely-duplicated path)?

[2016-05-28 20:15] petevine commented on #33933
You have to put the target triple form std under `lib/rustlib` and `rustc` in `bin`.

[code]

[2016-05-28 20:24] #33670 closed

[2016-05-28 20:29] petevine commented on #33933
`$ exa -T ~/rust/
[code]

[2016-05-28 20:31] DanTup commented on #33933
I discovered there was an `install.sh` file in there so I gave that a go. It errored at the end:

I figured maybe that wasn't important, so tried compiling again:

I guess Rust requires `cc` (or similar). Seems like this might be a can of worms and maybe I should just through the towel in and use Ubuntu via Crouton! :(

[2016-05-28 20:33] petevine commented on #33933
That means the original issue was solved and you got to the linking stage. Just install the missing package and that's it.

[2016-05-28 20:38] DanTup commented on #33933
Easier said than done on a Chromebook in dev mode :D But I'll give it a go. Thanks!

[2016-05-28 20:47] petevine commented on #33933
Thanks for reminding everyone unpacking in your home directory doesn't just work the way it used to.

[2016-05-28 21:03] DanTup commented on #33933
I downloaded `gcc` since I thought this was what I needed, then ran `./configure` and it said:

I don't think I'm cut out for this Linux crap! :)

[2016-05-28 21:07] petevine commented on #33933
Did you install `gcc` or just downloaded its source? Maybe it's not in your path or the usual symlink is missing `cc -> gcc`?

[2016-05-28 21:44] sfackler commented on #33925
Yep, looks like it's fixed in nightly: https://is.gd/bdpH8q

[2016-05-28 21:44] #33925 closed

[2016-05-28 22:11] jseyfried commented on #33884
This was caused by #33712.

[2016-05-28 22:33] jseyfried commented on #33280
This was fixed in #33730.

[2016-05-28 23:43] ExpHP commented on #27741
I'm kind of glad to see someone has brought up the `One` trait bit.  I always did find it a bit unusual as the stated purpose of `One` (from its own documentation) is to be a multiplicative identity.

Recently I played around with Haskell, which on first impression appeared to have a really nice and clean solution by using a generic "successor" (add 1) method to provide ranges... however, upon fur

[2016-05-29 00:53] jseyfried opened #33936 "`#[macro_use]` does not work on macro-expanded `extern crate`s"
For example, this compiles:
[code]

but this doesn't:
[code]

[2016-05-29 01:01] jseyfried commented on #22250
This was fixed in #33706.

[2016-05-29 01:19] jseyfried commented on #24058
This is fixed -- we've had backtraces now for a while.

[2016-05-29 02:05] eefriedman commented on #23950
[code]

Gives:

[code]

Seems fine to me.

[2016-05-29 02:45] tikue commented on #27336
I've found this feature immensely helpful and would love to see it stabilized.

[2016-05-29 04:38] durka commented on #22250
Awesome, I didn't expect this to actually get fixed!
On May 28, 2016 21:02, "Jeffrey Seyfried" <notifications@github.com> wrote:

[2016-05-29 07:16] DanTup commented on #33933
@petevine tbh I don't know what I'm doing.. Rust said it needs a C compiler, so I googled and came to the conclusion that `gcc` is what I need. I can't find binaries for gcc so I downloaded what I can find and it turns out it needs a C compiler (?!).

Like I said, this is probably a can of worms. ChromeOS is so stripped back it's hard to get anything working in dev mode without installing a "real"

[2016-05-29 07:16] DanTup commented on #33933
The original issue is resolved and we sorta got off-topic, so gonna close this issue. I don't think installation on a dev-mode Chromebook is likely to be an officially supported scenario!

[2016-05-29 07:16] #33933 closed

[2016-05-29 08:24] niconii opened #33941 "Error for `for _ in HashMap::new().iter().cloned() { }` doesn't provide enough context"
[Playpen](https://play.rust-lang.org/?gist=ad9cef83fedfb5006dfc5271827796f6&version=nightly&backtrace=0)

[code]

`.cloned()` failing is normal since the iterator's items are `(&K, &V)` and `.cloned()` expects `&T`, but the number of errors is strange.

[code]

[2016-05-29 08:41] DoumanAsh commented on #33941
I also think the error should be improved.
Especially because you bluntly show user API that cannot be compiled.
I'm ofc talking about HashMap's iter docs

[2016-05-29 08:53] pmarcelll commented on #33827
Sure, I'll send a PR, but I'm busy currently, so only tomorrow.

[2016-05-29 09:26] TimNN commented on #33936
Probably the same issue as #28071.

[2016-05-29 09:32] jseyfried commented on #33936
@TimNN I believe #28071 is a special case of this issue -- thanks for linking it!

[2016-05-29 09:37] jseyfried commented on #28071
This is unrelated to #27626.

[2016-05-29 10:08] GuillaumeGomez commented on #33827
No problem. ;)

[2016-05-29 10:47] petevine commented on #33933
You're probably not going to extract the required binaries from some distro's packages but it should be possible to integrate their repos.

The best candidate would be slackware, as you wouldn't have to worry about overwriting your own stuff via dependency resolution.

[2016-05-29 11:15] LeoTestard opened #33946 "#[main] attribute on #[test] function does not error properly"
On stable, it gives the expected error:

[code]

[code]

But on nightly it just says:

[code]

This is because since #32846, complete feature-gate-checking is done after `#[test]` items are stripped. It sounds to me easy to fix, but I'm wondering if feature-gate-checking is really the right place to catch this error. After all, we do not check `#[test]` items for correctness, so we shouldn't featu

[2016-05-29 13:01] sandeep-datta commented on #33881
Okay revisiting this topic I feel PeakableIterator on Chars still makes sense because Peekable takes ownership of the inferior iterator and hides it. There is no way of accessing its as_str() method.

[2016-05-29 14:54] dhardy opened #33949 "Error without line number (macros, deriving type)"
[Try compiling this](https://is.gd/8qR5jr):

[code]

The  error message never mentions a line number outside of the macro.

[code]

[2016-05-29 15:51] arielb1 commented on #33904
@eddyb

That's the standard "inference guessing" issue (#30767).

[2016-05-29 15:51] #33904 closed

[2016-05-29 16:07] eddyb commented on #33904
@arielb1 Is the ICE fixed?

[2016-05-29 16:26] DanTup commented on #33933
I spent several hours and have so far failed to get any binary of any C compiler to work on my Chromebook.

Giving up on trying on the Chromebook; will give Rust a go on my desktop sometime instead!

[2016-05-29 16:57] eddyb commented on #27840
Speaking of constants, this is a bit of a worst-case:
[code]
Old trans does rvalue promotion *everywhere* which results in a beautiful single `memcpy` from constant global, whereas MIR trans generates one GEPi and one store for each element of the array.
One way to solve this is to run the const qualification pass from trans and translate statements based on whether they're considered const or not

[2016-05-29 17:55] arielb1 commented on #33901
@pmarcelll

But you *are* supposed to provide a type argument here - the type argument can be a parameter (`T`) itself, or it can be a concrete type (e.g. `u8`), but I don't see how this differs from Java.

[2016-05-29 17:57] arielb1 commented on #33901
In any case, I don't think we can improve this.

[2016-05-29 17:57] #33901 closed

[2016-05-29 19:00] arielb1 commented on #33904
@eddyb

it looks like the `Vec` one, but that didn't reach nightly yet.

[2016-05-29 19:05] nagisa commented on #24058
I think this can be closed since it is fixed and duplicate?

[2016-05-29 19:05] #24058 closed

[2016-05-29 19:05] nagisa commented on #33949
I feel like we had an issue about it already, but cannot find it.

cc @jonathandturner @nikomatsakis

[2016-05-29 20:45] aidanhs commented on #29599
Since this is the tracking issue, other who stumble across it might be interested in https://github.com/SkylerLipthay/interpolate_idents which works on nightly rust.

[2016-05-29 21:28] retep998 commented on #29599
Unfortunately that solution will always depend on nightly Rust (until the day that syntax extensions become stable and pigs fly).

[2016-05-29 23:23] retep998 opened #33952 "32-bit msvc variadic FFI probably broken"
https://ci.appveyor.com/project/GuillaumeGomez/va-list-rs/build/1.0.22

Only the 32-bit msvc tests are failing. After adding some debug printfs to the C code it appears that the arguments are busted as soon as `create_va_list` is called. I even tacked on some `__cdecl` to make sure it wasn't accidentally compiling the function with the wrong calling convention.

Due to https://github.com/rust-lang

[2016-05-29 23:24] GuillaumeGomez commented on #33952
cc me

[2016-05-29 23:32] sunnystormy commented on #33928
@petevine Thanks for pointing that out, realized that I was referencing ARM chips from 20 years ago! I corrected my OP to more accurately reflect its internals. I will investigate when I get my machine up and running again, as it turns out that I was also missing a swap partition on my [ArchLinuxARM](https://archlinuxarm.org/) installation.

[2016-05-29 23:36] mahkoh opened #33953 "Trailing semicolon silently ignored in expr macro"
[code]

Error: Expected `()`, found `bool`

But:

[code]

does not warn that the `;` is ignored.

So either

* there should be a warning that the `;` has no effect in the macro, or
* the `;` should turn the expression into `()`.

[2016-05-29 23:48] petevine commented on #33928
The crash happens the moment rustc starts being used (single make job as everything depends on libcore) and even later at `j4` you won't see much more than 1GB memory usage on ARM.

[2016-05-29 23:57] cristianoliveira opened #33954 "Test suite ignores tests after an exit(0)."
I was dealing with this issue (the tests that do not run) for while then I figured out that it was because of an exit(0) that was added in the middle of a method.

The problem occurs when there is some method that calls exit(0). The test suite starts to ignore fails for the next tests even for tests in others modules depending on the order of execution.

Example of erroneous code:

[code]

I hoped

[2016-05-30 00:25] retep998 commented on #33952
Nevermind, it seems `va_start` was just being called with an incorrect second parameter.

[2016-05-30 00:25] #33952 closed

[2016-05-30 01:00] zackmdavis commented on #32777
(I've created pull-request #33955 for E0429.)

[2016-05-30 04:44] Aatch commented on #33954
I'm not sure this is fixable, at least not without imposing a significant performance cost on everybody that *doesn't* need to handle this. All the tests are run in a single process. Spread across mulitple threads, yes, but a single process still. Handling this would require spawning each test in its own process.

This is probably better handled using a different test method that isn't the integra

[2016-05-30 05:05] yongqli opened #33956 "internal compiler error: unexpected vtable type"
`error: internal compiler error: ../src/librustc_const_eval/eval.rs:1052: resolve_trait_associated_const: unexpected vtable type`

Playground link: https://is.gd/89hb8e

[2016-05-30 05:35] doomrobo commented on #33953
I'm not sure there should be a warning for use of a semicolon in an expression expansion. The problem is fixed when you write `($e: expr) => {{ $e; }}` which indicates a block expansion.

So the semicolon is silently ignored, but putting something after it throws a helpful error: `($e:expr) => { $e; blahblah }` gives the error "macro expansion ignores token `blahblah` and any following".

[2016-05-30 08:00] tbu- commented on #33246
Fixed by #33798.

[2016-05-30 08:07] tbu- commented on #32978
This doesn't seem to be a bug, and could be closed. (?)

[2016-05-30 08:07] skade commented on #29599
Given that the consensus seems to be "useless" and theres nicer solutions (e.g. [1], maybe we can remove this feature?

[1] https://github.com/mikkyang/rust-blas/pull/12/files

[2016-05-30 08:09] eddyb commented on #29599
See rust-lang/rfcs#1628.

[2016-05-30 08:09] tbu- commented on #32933
Fixed by #32941.

[2016-05-30 08:27] Keruspe commented on #33246
There's still another compilation failure with gcc 6 here

[code]

[2016-05-30 09:07] flier opened #33957 "debuginfo: Could not find scope info for node NodeExpr(expr(25180: !0 as u32))"
<short summary of the bug>
I tried this code:

[code]

I expected to see this happen: <explanation>

Instead, this happened: <explanation>

If we use `!0 as u32` instead of `u32::MAX`, compiler could handle it

[code]
## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2016-05-30 09:59] #32933 closed

[2016-05-30 11:23] aidanhs commented on #29599
@retep998 yes, just noting it as a stopgap.

@skade it's the implementation rather than the idea that's useless. If `concat_idents` is removed rather than fixed, something else needs to fill its place (your solution doesn't work for all use-cases). I like the look of the rfc @eddyb linked, will follow that.

[2016-05-30 11:33] skade commented on #29599
@aidanhs that still means that we should drop the feature to make sure no one uses it.

I agree that my solution doesn't cover all edge-cases, but all uses that I've currently seen in the wild. Also, but this is outside of my competence to decide, I think this is a perfect case for the use of a code generator.

[2016-05-30 12:12] jonathandturner opened #33961 "Spans for unused declarations don't need to be whole declaration"
Currently, the spans for unused declarations, like enums and fns, span the whole declaration.  Instead of spanning the whole declaration, we now put a single ^ at the beginning to say "it starts here".

But, if you compare unused enums/fns with unused variables an imports, it feels like one is pointing at the beginning and one is pointing at the name:

[code]

Shouldn't we instead just underline t

[2016-05-30 12:41] alexander255 opened #33962 "Cannot create function reference with parameters that don't have to outlive the functions lifetime"
List of things tried (that I remember):

 * Using the same lifetime for both the closure reference and it's parameters renders the reference uncallable: https://is.gd/CpXw0w
 * Using different lifetimes for the closure reference and it's parameters fails to compile, since the parameters must *outlive* the closure itself: https://is.gd/q5mJly
 * Using [Higher-Rank Trait Bounds](https://doc.rust-lan

[2016-05-30 12:43] #33780 closed

[2016-05-30 12:43] #33882 closed

[2016-05-30 15:09] shepmaster commented on #26937
A similar example:

[code]

I think the problem is that in the non-working case, `a` isn't inferred to be a reference **at all**. The error message states (reworded a bit):

[code]

The error reporting stops at the "expected concrete lifetime, found bound lifetime parameter" aspect, but really the problem is that the closure argument isn't a reference.

If you force the closure to understand that

[2016-05-30 15:10] shepmaster commented on #24680
@nikomatsakis do you think that #26937 is a duplicate?

[2016-05-30 15:14] mkpankov commented on #13727
Seems this is not due to overflow. I've triggered the bug with this code:

https://is.gd/8DWf5V

[2016-05-30 15:21] frewsxcv commented on #13727
Reduced:

[code]

[code]

https://is.gd/poTgnO

[2016-05-30 15:21] zackmdavis commented on #33394
I think I've made some progress on this ...

[2016-05-30 15:46] gchp commented on #32059
@tiehuis did you make any progress on this? If not, I'd be interesting if giving it a shot myself...

[2016-05-30 15:52] gchp commented on #15980
On `1.10.0-nightly` this gives:

[code]

This seems accurate enough to me, the compiler is pointing out where it is expecting to find the `=>`, and mentioning it in the error message. Do we need something more specific than this?

[2016-05-30 16:30] bestouff commented on #27060
Maybe I didn't understand everything, but it seems to me there are 2 different problems here: letting rustc squeeze every bit of space possible (e.g. `bool` on 1 bit, optimized `enum`s) to have compact data structures, and choosing each struct member's footprint to match an FFI object layout (e.g. including a C bitfield with arbitrary length) - which can't always be done automatically.
So `repr(pa

[2016-05-30 18:02] #33571 closed

[2016-05-30 18:28] bltavares commented on #10732
Triage: is this still an issue?

I was not able to find the relevant comment on the liked source file, nor I quiet understand how to reproduce the issue.

[2016-05-30 18:29] sanmai-NL commented on #33956
Could you provide more information? See https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md

[2016-05-30 18:38] Yamakaky opened #33969 "[clang assert] Duplicate option categories"
I'm working on [bindgen_plugin](https://github.com/crabtw/rust-bindgen), on nightly 1.11.0. I have the following error when I try to compile: https://travis-ci.org/crabtw/rust-bindgen/jobs/133976854#L507
Bindgen use libclang, so maybe it messes up with the instance rustc uses?

[2016-05-30 18:46] nagisa commented on #33954
I would provide you a counter-example on why this is not fixable:

[code]

This is exactly what mocking in tests has been invented for. In this particular case, you could mock the call this way:

[code]

I will close this as in-actionable.

[2016-05-30 18:46] #33954 closed

[2016-05-30 18:51] bltavares commented on #6994
Triage: There is still the same error happening on `rustc 1.11.0-nightly (6e00b5556 2016-05-29)`

[code]

Error:
[code]

[2016-05-30 19:02] cristianoliveira commented on #33954
The problem is not about mocking the exit method (cause I didn't know that exit(0) was added there). My concern was because the no response from the test suite. I would like to see some error or even a result like "Program exited on test 'it_dies' ". Should I mock 'exit' method for all tests?

[2016-05-30 19:09] yongqli commented on #33956
The error can be reproduced by going to the playground link and clicking Run.

[2016-05-30 20:10] pmarcelll commented on #33901
@arielb1 You are right, I forgot that concrete types are also accepted here.
@dns2utf8 If the error message would say "wrong number of *generic* type arguments", would it be easier to understand? What do you think?

[2016-05-30 20:13] nagisa commented on #33954
I’m pretty sure most (sane) unit testing frameworks will behave similarly. `exit(0)` is a side effect and naively testing side effectful code is incorrect. One shouldn’t ever construct a test which looks like `#[test] fn some_test() { something_that_has_side_effect() }` in the first place.

At the risk of repeating myself: if you expect test framework to notify you about `exit(0)` getting called,

[2016-05-30 20:17] nagisa commented on #33956
Duplicate of https://github.com/rust-lang/rust/issues/29924. Thanks for the report.

[2016-05-30 20:17] #33956 closed

[2016-05-30 20:18] Kimundi commented on #22250
Nice!

[2016-05-30 20:22] nagisa commented on #33961
To me it feels like we should span either the whole definition or the name but not the “starts” here.

I personally prefer showing the full definition still, because most of the time the cause of the error is in-progress work where I have most of the structure prepared in advance but I haven’t implemented the code which would use it. Seeing the variants/fields etc helps me with remembering why the

[2016-05-30 20:55] cristianoliveira commented on #33954
Hey @nagisa, Thanks for the answer. I got it. Sorry if my questions sounded pretentious or even presumptuous was not my intention. :)

[2016-05-30 21:12] dhardy commented on #15980
[The error I see is still pretty misleading](https://is.gd/40I4QJ)

[2016-05-30 21:35] steveklabnik commented on #10732
@bltavares same. The XXX comment is gone, so either it has been fixed or it's not being tracked anymore; it was here when I left the triage comment last time.

[2016-05-30 21:46] bltavares commented on #21821
Triage: I'm not able to read the gists anymore.

There is a [glacier error](https://github.com/steveklabnik/glacier/blob/master/16229.sh) tracking execution errors on chroot environments, but none for the compilation.

I was not able to acquire an chrooted Arch environment to test the compilation.

[2016-05-30 21:47] bltavares commented on #32166
Triage: could this be closed already?

[2016-05-30 21:54] bltavares commented on #15760
Triage: the OP's code compiles fine on nightly with many warnings:

[code]

On stable, without the feature pragma, the warning on default for functions will be a hard error in future release, as mentioned on the nightly warnings.

[2016-05-30 21:59] bltavares commented on #32947
Triage: this fails on nightly.

[code]

Running `cargo test` emit some warnings, and fail with segmentation fault:

[code]

`cargo test --release` compiles fine:

[code]

[2016-05-30 22:12] jedahan opened #33972 "Index trait compiler error could be more helpful"
I was trying to implement the Index trait (in my first real rust project), and was running in circles, with an implementation that started like:

[code]

There were two things I needed to learn from @Kimundi on #rust-beginners. The first was that Index requires returning an lvalue, not a primitive. So I tried

[code]

And then I started running in circles annotating lifetimes going nowhere fast.

[2016-05-30 23:18] tiehuis commented on #32059
I have made some progress, but a few things were still left to do. Been a bit inactive, so feel free to take a go. The rough approach I have which may be of some use) is:

- Modify the lexer at the `<` token scan to perform a scan through the source for a consecutive series of `<` tokens. If we find a match, then assume this is a version control marker and scan for a closing sequence of `>>>>>>>`.

[2016-05-30 23:21] jonathandturner commented on #33961
We've tried doing the whole declaration before (in fact, I think that was the default in the old error style before the new error work).  Trouble is, you end up with a lot of underlined area, which makes errors hard to read, especially if you have a few errors in a row like that.

I agree the "starts" here pointer isn't all that helpful here, since it doesn't give your eyes much to go find.

[2016-05-30 23:29] nagisa commented on #33961
Do not underline, then? We did not underline multiline spans before and it was fine.

---

Also, oh the opportunity missed with using `|>` for all lines rather than just those which contain the span:

[code]

Now you could play the sliding game.

[2016-05-30 23:36] nagisa commented on #33972
`fn index<'a>(&'a self, index: u16) -> &u8 {` and `fn index<'a>(&'a self, index: u16) -> &Self::Output {` are exactly the same thing, will both equally not work as they are wrong (you need `-> &'a` not `-> &`).

[2016-05-31 03:20] alexcrichton commented on #32166
Yeah looks like this is just an upstream LLVM issue

[2016-05-31 03:20] #32166 closed

[2016-05-31 05:41] Aatch commented on #33962
Higher-ranked lifetimes on types (so using `for<'b> Func<'a, &'b usize>`) seems like the most "obvious" solution, but since `Func` is not a trait, it doesn't work. I'm not sure what the best solution to this is, but it's probably something we should support at some point.

[2016-05-31 07:58] TimNN commented on #33837
This has been fixed on the latest nightly, probably by #33870.

[2016-05-31 07:59] TimNN commented on #33855
This has been fixed in the latest nightly, probably by #33870.

[2016-05-31 08:37] pravic commented on #20866
@okulev, but you can find it in [PRs](https://github.com/killercup/trpl-ebook/pull/36) as I did.

[2016-05-31 08:55] #33880 closed

[2016-05-31 09:38] rory opened #33978 "rustc internet compiler error after going stable (1.9) -> beta -> stable"
I was using rust stable (1.9), then did a `multirust override beta` to try out the fs_time feature, but a library dependency didn't work (`simple_parallel` which depends on `crossbeam`), so I switched back to stable, with `multirust override stable` and got this error when doing a `cargo build`.

[code]

    $ rustc --version
    rustc 1.9.0 (e4e8b6668 2016-05-18)

[2016-05-31 09:54] rory commented on #33978
For the record, I did a `cargo clean` and now this problem has been fixed for me.

[2016-05-31 10:27] retep998 commented on #33978
Probably dupe of https://github.com/rust-lang/rust/issues/33778

[2016-05-31 10:34] rbtcollins commented on #24157
Just to note, that this is super confusing for new rust developers - I sought help in #rust after beating my head on the wall for a bit :)

[2016-05-31 10:37] alexander255 commented on #33962
So your answer is that higher-ranked lifetimes could, potentially at some point, be implemented for non-traits to solve this kind of problem?

[2016-05-31 11:37] zofrex commented on #33954
I think there's a subtle difference between "does not report failure" and "reports success". Let's take the power_off_the_machine() example - that would not result in a success being reported, so it's different to the exit(0) example.

I totally agree the test harness should not be trying to catch the whole world of side-effects and account for them, but I also think it should not report success i

[2016-05-31 11:51] nagisa commented on #33954
It doesn’t report either, other than having the exit code of 0, which is the side effect in question.

This is the sample test output for code given above:

[code]

It doesn’t hide the fact that some of the tests failed nor it does lie about tests getting run or succeeding.

[2016-05-31 12:50] nagisa commented on #33978
It is.

[2016-05-31 12:50] #33978 closed

[2016-05-31 13:41] MagaTailor opened #33980 "Stage0 local rust compatibility checking"
With the addition of more bootstrap options it would be useful to check local `rustc` suitability already at configure time.

In the past, an outdated `stage0` snapshot (via `--enable-local-rust`) would barf right away during `libcore` compilation but nowadays it seems to be more complicated. I've just received reams of errors from as far as `libsyntax` that, I suspect, must come from incompatible

[2016-05-31 14:18] waywardmonkeys opened #33981 "Confusing error message due to elided lifetimes on traits (?)"
When I compile this code:

[code]

The errors that I get aren't obviously related to the actual / underlying problem (to me at least):

[code]

The fix as described by @kimundi on IRC:

[2016-05-31 15:12] zrneely opened #33983 "ICE on Beta and Nightly; Underscores in macro definitions"
Underscores as "variable" names in macro definitions cause an ICE on Beta and Nightly, but the error message works as expected on Stable. A quick example can be seen here: https://is.gd/3sWZP5

[2016-05-31 15:14] jedahan commented on #33972
They resolve to the same thing in my example, but when reading them, I think its clearer that Output and the return type are related by explicitly referencing Self.Output. It was that relationship that I was confused about.

Thanks for the tip that I can remove the lifetime specifier.

[2016-05-31 15:16] pnkfelix commented on #33364
Note that at this point the current stable (1.9) exhibits the warning and the ICE on the original code posted in the description.

(The gist I posted earlier sidesteps the ICE on the current stable, but still ICE's on the current beta.)

[2016-05-31 15:20] TimNN commented on #33983
This has been fixed in the latest nightly, probably by #33870 (which is not yet available on the playpen).

[2016-05-31 15:26] drewhk opened #33984 "Compiler panics in 1.9.0-MSVC in cargo --release"
I cannot pinpoint any particular code snippet that caused the issue. It worked with 1.8.0, but compiler panics with 1.9.0, when "--release" flag is used. It works with nightly, so the problem might have been fixed already. Backtrace is:

[code]

I can provide more information if you tell me what you need and how can I acquire it.
## Meta

rustc 1.9.0 (e4e8b6668 2016-05-18)
binary: rustc
commit-has

[2016-05-31 15:44] royalstream commented on #30706
I'm using a **.gdbinit** file to load the pretty printers with GDB on OSX
Scroll to the bottom of [this](https://medium.com/@royalstream/rust-development-using-vs-code-on-os-x-debugging-included-bc10c9863777) for details.

[2016-05-31 15:44] arielb1 commented on #33972
@nagisa

He used `Self::Output = &u8` originally, so that didn't work.

[2016-05-31 15:53] skiwi2 opened #33985 "Rust stack backtrace filled with unknown on Windows 8.1"
When running a piece of code I get the following stack backtrace:

I'm running `cargo build` with `RUST_BACKTRACE=1` and have the following `%PATH%`:

I have no clue why it is not showing more information about the stack frames and haven't had any success in Googling it.

[2016-05-31 16:01] petrochenkov commented on #33985
It's a very recent regression (couple of weeks maybe), I observe it too.

[2016-05-31 16:09] alexcrichton commented on #33985
@skiwi2 do you have some sample code that could be used to reproduce this?

[2016-05-31 16:09] alexcrichton commented on #33984
@drewhk would it be possible to gist the code to reproduce this?

[2016-05-31 16:17] alexcrichton commented on #33778
cc @rust-lang/compiler

This seems to be getting lots of hits, is something that's fixed on nightly? Perhaps something that can be backported to beta?

[2016-05-31 16:25] #33855 closed

[2016-05-31 16:25] alexcrichton commented on #33855
Yay!

[2016-05-31 16:27] alexcrichton commented on #33837
Yay!

[2016-05-31 16:27] #33837 closed

[2016-05-31 16:29] alexcrichton opened #33986 "rustbuild: `make clean` doesn't clean enough"
Errors like http://buildbot.rust-lang.org/builders/auto-linux-64-cross-netbsd/builds/462 are happening on the bots, e.g.:

[code]

This is https://github.com/rust-lang/rust/issues/33778 under the covers, but rustbuild's `make clean` command should blow away the build system directory ahead of time to be more resilient to bugs like this.

[2016-05-31 16:45] alexcrichton commented on #33983
Yay!

[2016-05-31 16:45] #33983 closed

[2016-05-31 16:51] skiwi2 commented on #33985
I'm running the following code: https://gist.github.com/skiwi2/ce188c7d3b13fe3e3dbdb5c5f0752cd1 (Please don't mind the quality)

[2016-05-31 17:35] jonathandturner commented on #33961
cc @nikomatsakis

[2016-05-31 17:47] nikomatsakis commented on #33454
@arielb1 let's talk, I think we should avoid duplicating effort, but there are lots of kinds of fuzzing to pursue. For example, fuzzing based on git commits or maybe some kind of random changes.

[2016-05-31 17:48] nikomatsakis commented on #33454
@mrmiywj

Yes.

[2016-05-31 17:53] nikomatsakis commented on #33850
(got a fix locally, will prep PR soon)

[2016-05-31 17:54] nikomatsakis commented on #33888
Indeed. I think that spans can be significant in other ways, such as macros that expand to the current filename/linenumber--ah but I guess those are desugaring in the HIR anyhow.

[2016-05-31 18:00] nikomatsakis commented on #33778
@alexcrichton I'm not sure what's causing this -- you think it's a rustc bug?

[2016-05-31 18:09] alexcrichton commented on #33778
@nikomatsakis yes:

[code]

This may be fixed on both nightly and beta, as the only transition I can get to break is nightly to stable. I basically just want to confirm that we know what happened here and that it is indeed fixed and future-proofed.

[2016-05-31 18:34] alexcrichton commented on #33985
I was unfortunately unable to reproduce, @skiwi2 can you also gist the output of `rustc -vV` as well as `cargo -V`?

[2016-05-31 18:34] alexcrichton commented on #33985
Ah and also, the panic message (e.g. the full output of one compile) would also be useful

[2016-05-31 18:50] skiwi2 commented on #33985
@alexcrichton What exactly do you mean by your last request? Do you want the program output (including logging statements), or some compilation output?

[2016-05-31 18:50] skiwi2 commented on #33985
The rustc and Cargo info files are up at https://gist.github.com/skiwi2/be1a8bf2171f3c1114a5fa65933e6732

[2016-05-31 19:13] bltavares commented on #24099
Triaging: given that we have the rust-lang/rfcs#1328 merged, and [stabilised already](https://github.com/rust-lang/rust/issues/30449), should we update the code example to the following?

[code]

[2016-05-31 19:35] nikomatsakis commented on #33778
@alexcrichton hmm maybe I'm just being dense but I at least don't know what caused this and/or if it is fixed. =)

[2016-05-31 19:38] nikomatsakis commented on #24680
@shepmaster well my feeling is that there are various intersecting problems here. First off, our output is pretty hard to read in general (because we don't do a good job "desugaring" the fn traits and so forth). Second, we don't handle higher-ranked messages very well. Finally, and least likely to be fixed, the inference has some limitations. So probably the answer is "yes", but maybe the right th

[2016-05-31 19:52] flo-l opened #33990 "libstd gets rebuilt unconditionally"
For reference, the [reddit thread](https://www.reddit.com/r/rust/comments/4l7l6x/how_do_you_compile_rustc/), where the discussion started.

### My goal
I want to hack on rustc. So I want to make a change, recompile as fast as possible and test the new binary with some input.rs.

### The Problem
```make``` rebuilds libstd even if it's unchanged. This takes ages and can't be skipped.

### How to rep

[2016-05-31 19:58] flo-l commented on #33990
cc @alexcrichton

[2016-05-31 20:07] alexcrichton commented on #33985
@skiwi2 oh just along the lines of gisting the entire error (from the invocation of rustc/cargo all the way through to the next prompt). It looks like the snippet above may just be a subset? The panic message may be enough, but can't hurt to have more output!

[2016-05-31 20:13] alexcrichton commented on #33990
Ah sorry, I believe I have misunderstood! The rebuilding as part of the second make command is actually the stage 1 set of libraries. These are the ones which are produced by the stage0 artifacts. That is, the chain of dependencies is:

1. You modified src/librustc_mir/lib.rs
2. This file is a dependency of `x86_64-unknown-linux-gnu/stage0/lib/rustlib/x86_64-unknown-linux-gnu/lib/librustc_mir`
3.

[2016-05-31 20:13] #33990 closed

[2016-05-31 20:19] flo-l commented on #33990
Ah ok I understand, thanks for clarifying!

As mentioned above I'd like to build just rustc with some changed I made. Which make target corresponds to that and where will the binary be?

[2016-05-31 20:26] retep998 commented on #33985
https://github.com/rust-lang/rust/pull/33554 was merged on May 14, your rustc is from May 18, could that have caused the regression perhaps?

[2016-05-31 20:27] alexcrichton commented on #33990
If all you want is the compiler itself, then this should suffice:

[code]

There may be a more ergonomic way to type that, although I don't recall off the top of my head...

Note though that this compiler won't be too too useful as it won't have a standard library to link against.

[2016-05-31 20:41] alexcrichton commented on #33985
Oh! I apologize, I thought this was about an ICE not for a normal panic (which this appears to be about). In that case, yes, it's likely closely related to #33554, which was implemented for security purposes.

[2016-05-31 20:42] flo-l commented on #33990
That does what it should! Thank you so much! :grin:

And about that libstd thing: Could the `--disable-inject-std-version` option of the configure script help?

[2016-05-31 20:46] alexcrichton commented on #33990
Wow I had no idea that option even still existed... I think that's from an era long since passed and no longer actually does anything!

[2016-05-31 21:02] mattico opened #33992 "Panic in LLVM when using #[linkage] even with supported targets"
[code]

Nothing too unexpected, since most targets don't support weak linkage. The error message could be a bit better though, rather than panicing in LLVM.

I was a bit surprised that this problem persists when cross compiling to supported targets, but I suppose that its an LLVM limitation, and a very niche one at that.

cc #29603

[2016-05-31 21:13] flo-l commented on #33990
I just checked, `make x86_64-unknown-linux-gnu/stage1/bin/rustc` seems to work, the produced binary reuses the previously built libstd. :tada:

Thank you very much, I was fighting with this for days!

[2016-05-31 21:17] mattico commented on #33992
Just ran this on Ubuntu, expecting it to work, and it didn't. I guess this isn't Windows issue after all.

Am I using this attribute incorrectly? Does it work?

[2016-05-31 21:26] retep998 commented on #33985
In the meantime if you do want backtraces and don't mind installing VC++ you can always use the `x86_64-pc-windows-msvc` version of Rust.

[2016-05-31 21:27] eefriedman commented on #31681
I've been working through the LLVM optimization passes to find noalias-related bugs.  Known issues:

- [ ] https://llvm.org/bugs/show_bug.cgi?id=25422
- [x] https://llvm.org/bugs/show_bug.cgi?id=27849
- [ ] https://llvm.org/bugs/show_bug.cgi?id=27857
- [x] https://llvm.org/bugs/show_bug.cgi?id=27858
- [ ] https://llvm.org/bugs/show_bug.cgi?id=27859
- [ ] https://llvm.org/bugs/show_bug.cgi?id=27860

[2016-05-31 21:27] mattico commented on #33992
Well it works with `#[linkage = "weak"]` so I'm starting to think that LLVM changed/removed "extern_weak".

[2016-05-31 21:40] mattico commented on #33992
If I'm reading https://github.com/rust-lang/llvm/blob/master/include/llvm/IR/GlobalValue.h#L32 correctly, ExternalWeakLinkage should equal 14 and CommonLinkage should equal 15. https://github.com/rust-lang/rust/blob/master/src/librustc_llvm/lib.rs#L102

[2016-05-31 22:14] mattico commented on #33992
I'm putting together a PR with the fix and some compile-pass tests. Might take a few hours to compile, though :cry:

[2016-05-31 22:35] nikomatsakis commented on #27840
@eddyb it seems like this is something that the "constant promotion" code in MIR *could* handle, no? I'm a bit confused what distinguishes this particular case from other aggregates? (if anything)

[2016-05-31 22:51] petrochenkov opened #33995 "Argument names in foreign functions, function types and trait methods are not resolved"
Arguments in foreign functions, function types and traits are pattern bindings like all other function arguments and supposedly they should be resolved in the same way, however they are not resolved at all.
It doesn't make *much* difference because these bindings can't be used in function bodies, however it makes *some* difference, for example foreign functions can reuse constant names for their a

[2016-05-31 23:11] retep998 commented on #33995
I'd appreciate if the lints _did_ fire for foreign functions (winapi sets those lints to allow anyway so it doesn't affect it). However being unable to use identifiers for function parameters when there is a constant with the same name is rather dumb in my opinion, and I'm opposed to extending that to cover foreign functions.

[2016-05-31 23:18] jseyfried commented on #33946
Agreed. I think `#[test]` should behave the same as `#[cfg(test)]` when we aren't testing.

[2016-05-31 23:24] alexcrichton commented on #33990
Glad I could help!

[2016-05-31 23:25] eefriedman commented on #13727
I can't reproduce this on nightly; the 256/512 testcase gives an "unreachable pattern" error, and the enum testcase gives "discriminant value `0u32` already exists".

[2016-06-01 00:54] Aatch commented on #33962
@alexander255 it seems like the best solution at least. I don't really have a good idea about what to do right now though.

[2016-06-01 03:06] aidanhs commented on #29599
@skade afaict nobody *can* use it, so that's not a big concern...but equally there's no reason to keep it around. My main motivation for leaving it was as a reminder that people do want the functionality, but I'm content to follow the RFC and have changed my position to "I don't mind either way".

Regarding use cases, here's [the motivating example](https://github.com/aidanhs/ayzim/blob/713497c264

[2016-06-01 03:34] eddyb commented on #27840
@nikomatsakis The promotion code is fine-tuned for enforcing semantics right now.
It only promotes references to a tree of temporary rvalues, so that the borrow-checker knows they're `'static`.
I thought about running it after monomorphization but it occurs to me that constness is irrespective of type parameters, and if we promote immediates we can always translate them in a simple way in `trans::

[2016-06-01 03:48] frewsxcv commented on #13727
I'll create regression tests for this.

[2016-06-01 05:04] cyplo commented on #29658
Hi ! Is this still an issue ?

[2016-06-01 05:05] cyplo commented on #21487
Hi ! Is this still an issue ?

[2016-06-01 05:07] cyplo commented on #27435
Hi ! @arielb1: does it mean this issue can be closed ?

[2016-06-01 05:22] xen0n commented on #33844
Hi everyone, what about moving to the so-called *response files*? ([stackoverflow][so], [msdn][msdn], [gcc][gcc]) I programmed in Windows not so long ago and it's how Visual Studio has always been doing to workaround the argv limit. Apart from having to deal with exactly one temp file it'll solve the problem once and for all. Maybe I could even take this and produce a patch.

Opinions?

[so]: http

[2016-06-01 05:28] retep998 commented on #33844
The correct link for `link.exe` is https://msdn.microsoft.com/en-us/library/9xch38h8.aspx
This is definitely a valid approach to take, although we really should investigate why the command line is so long in the first place to see if there is something accidentally inflating it.

[2016-06-01 05:34] rbtcollins commented on #27730
I don't know if this is the right place to comment, but I'm binding some C code and Unique appears perfect - except that it exposes the unsafe rather than that being internal - meaning that I need a further wrapper around it - since I know the C ptr in question isn't going to be freed randomly, and I know that its not null, I want to hide the unsafe entirely from further out users.

[2016-06-01 07:18] xen0n commented on #33844
@retep998 That link was simply copy'n'pasted from the SO link, thanks for the correction. I agree that the problematic invocations should be investigated first because it's only occasionally showing up.

[2016-06-01 08:44] drewhk commented on #33984
Well, it is a "test junkyard" where I play with both Rust and WinAPI (new to both), so probably a bit hairy, but I didn't mean it for the public anyway :) Nevertheless, here it is: https://gist.github.com/drewhk/657eb7ea2071ccb355410e816b462978

[2016-06-01 08:46] Moredread commented on #33504
This seems to have been fixed, I don't get the error on nightly anymore. I haven't bisected what fixed it though.

[2016-06-01 08:52] jseyfried commented on #31369
This was fixed in #33706.

[2016-06-01 09:40] #31369 closed

[2016-06-01 10:47] vmilea opened #34008 "Compiler crashes on trivial match"
Compiler crashes on trivial match

I tried this code:

[code]

I expected to see this happen:
program compiles

Instead, this happened:

[code]
## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2016-06-01 11:32] sanxiyn opened #34009 "LLVM APT repository used by Travis is down"
We use LLVM APT repository hosted by llvm.org in Travis build, see .travis.yml.

http://llvm.org/apt/ currently says, "APT mirror was temporary switched off due to excess load. We are working on bringing it back. Stay tuned!".

I found email titled [IMPORTANT: APT repo temporary switched off](http://lists.llvm.org/pipermail/llvm-dev/2016-May/100303.html) sent to llvm-dev on 2016-05-31, which inclu

[2016-06-01 11:35] eddyb commented on #34009
Maybe if we weren't downloading from it on every build it wouldn't have that ridiculous amount of I/O :(.

[2016-06-01 11:42] nagisa commented on #33984
Potentially a duplicate of https://github.com/rust-lang/rust/issues/33778

[2016-06-01 11:44] LeoTestard opened #34011 "The `meta` fragment specifier is considered as a single TT."
At various locations of the FOLLOW sets analysis for `macro_rules!`, `meta` is considered as always matching a single TT. This is not the case: `ident = ...` and `ident(...)` are both valid `meta`s.

That being said the only consequence of this is that `meta` can be followed by anything, and I think it's not unreasonable to assume that the syntax of `meta` will not be expanded in the future... But

[2016-06-01 13:22] #33394 closed

[2016-06-01 14:20] zonyitoo commented on #33368
Hey guys? It has already been half a month now, what could we do to solve this problem? Do we have any solutions for this?
@nagisa @sfackler @arielb1

[2016-06-01 14:28] dotdash commented on #34008
Also fails without the match, requires just a constant without a destination.

[code]

Possibly caused (or exposed) by #31326. cc @sdleffler

[2016-06-01 14:45] eddyb commented on #26764
To expand on that: LLVM internally removes `SHF_ALLOC` if `SectionKind::getMetadata()` is used but nothing "user"-facing touches it, only debuginfo and miscellaneous hardcoded sections :disappointed:.

[2016-06-01 15:07] eddyb commented on #26764
My testcase so far:
[code]
Running `ldd` on the result gives me `ldd: exited with unknown exit code (139)`.

[2016-06-01 15:07] durka commented on #34011
It [could happen](https://github.com/rust-lang/rfcs/pull/1559).

[2016-06-01 15:23] dsprenkels commented on #33293
This issue has been fixed by #33967, but no test was submitted.

[2016-06-01 15:45] nagisa commented on #33368
As been pointed out already, the use of TLS is very widespread in the standard library. If you have an idea how to get rid of all TLS in the standard library without compromising on what TLS provides us, the fastest way is to submit relevant pull requests against this repository containing said changes.

Alternative options: use libcore instead and develop your own coroutine-compatible libstd on t

[2016-06-01 15:47] korczis commented on #24346
So what is the plan with this? Is there any ETA for this?

[2016-06-01 15:52] lhecker commented on #33368
@nagisa I'm pretty sure that @zonyitoo and me would gladly write any necessary code for that. But it'd be cool if any of the possible solutions gets green lit before we start making changes. Since this _is_ a major issue, requiring non-trivial changes. Unfortunately no actual solution was chosen yet, nor where any solutions or recommendation been given by "official" Rust developers.

[2016-06-01 15:52] michaelwoerister opened #34018 "Move enum_variant_size_lint out of trans_crate()."
The `enum_variant_size_lint` is located in trans because we formerly relied on LLVM for providing type layouts. This is not true any more and after collector-driven trans lands, `enum_variant_size_lint` is the only reason we walk the HIR in `trans_crate()` at all. This should be cleaned up.

[2016-06-01 16:01] lhecker commented on #33368
BTW: Using libcore is absolutely unacceptable since pretty much every crate uses libstd. And removing TLS is no small feat, since it does require modifying the landing pads of destructors, which has not been endorsed yet (and probably would get rejected at this point), while still very likely requiring a huge amount of time to get into rustc's code base to make that change (which - as I said - I'd

[2016-06-01 16:17] nagisa commented on #33368
Choosing a solution for non-trivial problems is exactly what the [RFC process](https://github.com/rust-lang/rfcs/blob/master/text/0002-rfc-process.md) is for.

I’m pretty sure a proposal to reimplement standard library parts which currently use TLS to use something else would be accepted provided thread-safety and speed are not compromised on.

The question is what you’d replace TLS with? I, perso

[2016-06-01 16:48] lhecker commented on #33368
I do believe that this is a hard change, but depending on the solution for this it's not a "substantial" one. The only thing right now that might require a RFC would be "abort on panic inside destructors", since it does change semantics (where you can safely panic). (I don't think that this will affect many people though). I do think that I should have opened this issue in the RFC repo though.

If

[2016-06-01 16:52] nagisa commented on #33368
cc @rust-lang/libs

[2016-06-01 17:22] #33059 closed

[2016-06-01 18:17] burtonageo opened #34022 "[rustdoc] Rustdoc should render crate examples and link to them on main documentation page"
Cargo allows crate developers to create examples to show off their crate's API (as shown in http://doc.crates.io/guide.html#project-layout). These examples are very useful to see how the individual items in a crate can be used together, in a way that the standard documentation doesn't capture very well.

When viewing a crate's documentation, it would be useful if examples were rendered as standard

[2016-06-01 18:52] BenTheElder opened #34023 "[rustdoc] Rustdoc should prevent long file names."
I'm not actually certain if handling absurdly long method names should be a goal for rustdoc, but currently they produce filenames that are too long for the filesystem. I discovered this while working with [opencv-rust](https://github.com/kali/opencv-rust) which auto generates c-wrapper methods for opencv, some of which have very long names. A possible proposed solution was that rustdoc abbreviate

[2016-06-01 19:04] GuillaumeGomez commented on #33772
I've been looking for a few days and here are my current issues:

* I don't know how I can get information on trait impls in sub crates.
* I don't know how I can resolve the genericity "issue" (being able to know if a trait impl is also done on the type I'm looking for).

[2016-06-01 19:08] steveklabnik commented on #34022
Related to, but not the same as, https://github.com/rust-lang/rust/issues/16103 https://github.com/rust-lang/cargo/issues/739

[2016-06-01 19:08] steveklabnik commented on #34022
Ah, this was filed in the rust repo, not the cargo repo. @burtonageo mind re-filing https://github.com/rust-lang/cargo/issues/new thanks!

[2016-06-01 19:08] #34022 closed

[2016-06-01 19:09] steveklabnik commented on #34022
(Specifically, because "examples" are a Cargo feature, not a Rust feature)

[2016-06-01 19:09] BenTheElder commented on #34023
Small update: This also appears to be some regression of sorts, after switching back to the `1.8.0` toolchain with rustup I can document the crate as these methods are skipped.

[2016-06-01 19:10] burtonageo commented on #34022
@steveklabnik Done, thanks

[2016-06-01 19:19] eefriedman opened #34024 "Type checker depends on generic type bounds too aggressively"
[code]

This seems counterintuitive: adding the `Into<u32>` suppresses the other implementations of `Into<...>`.

[2016-06-01 19:35] GuillaumeGomez commented on #34023
It isn't supposed to.

[2016-06-01 19:45] BenTheElder commented on #34023
As far as I can tell, this method is in
/target/debug/build/opencv-<hash>/out/calib3d.extern.rs and marked
#[doc(hidden)].
It is then `include!`-ed in /target/debug/build/opencv-<hash>/out/hub.rs in
a public sys module.

As far as I can tell now, it should be marked hidden and excluded from the
docs, but 1.9.0 and nightly appear to attempt to build docs for these
methods anyhow.
On Jun 1, 2016 15:

[2016-06-01 20:17] BenTheElder opened #34025 "Rustdoc should not generate docs for hidden methods."
See previous discussion here: https://github.com/rust-lang/rust/issues/34023#issuecomment-223094149

rustdoc seems to be building files for methods marked `#[doc(hidden)]` in rust 1.9.0 and nightly but not in 1.8.0, observed with code generated when building [opencv-rust](https://github.com/kali/opencv-rust).
It seems that these methods should be ignored.

[2016-06-01 20:19] BenTheElder commented on #34023
I've opened a new issue (https://github.com/rust-lang/rust/issues/34025) to reflect what seems to be the actual problem, but I think that avoiding large file names might also be worth discussing so I will leave this open as well for now.

[2016-06-01 20:25] retep998 commented on #33368
I'm just gonna take a moment to point out that 64-bit Windows has UMS threads, which give you proper OS threads that support TLS and such, but using a user mode scheduler so you effectively have coroutines, and also have other advantages like returning control to your scheduler whenever you block in a syscall. Doesn't solve the problem on other platforms though.

[2016-06-01 20:43] retep998 commented on #34023
Couldn't we just shorten the name? Come up with some pattern, maybe take inspiration from DOS style short filenames, like shorten it to 100 characters and anything beyond that is replaced with ~1 or a higher number if another file has the same name, or maybe tack on a short hash of the name.

[2016-06-01 20:44] rkruppe commented on #34024
Seems related or perhaps even identical to #24066

[2016-06-01 21:24] alexchandel commented on #22915
Presently, the compiler dies with the error
[code]
when given a json for `i686-unknown-plan9` with `"data-layout": "e-p:32:32:32-i1:8:8-i8:8:8-i16:16:16-i32:32:32-f32:32:32-a:0:8-n8:16:32-S0"`. This error happens even when the "data-layout" is reduced to just "e-p:32:32:32" though.

Leaving the field out altogether triggers this error:
[code]

So it's unknown whether ELF sections are still produce

[2016-06-01 21:25] sfackler commented on #24346
@korczis Someone who feels sufficiently motivated will have to track down the appropriate libraries/APIs on Windows, OSX, BSD, etc and integrate them.

[2016-06-01 21:27] GuillaumeGomez commented on #34025
Could you provide a short example on which I could easily please? As far as I can tell, `#[doc(hidden)]` items aren't generated.

[2016-06-01 21:32] GuillaumeGomez commented on #34025
Also, I made a [patch](https://github.com/GuillaumeGomez/rust/tree/doc_hidden) which is *supposed* to fix this. Can you test it please?

[code]

[2016-06-01 21:34] BenTheElder commented on #34025
I will take a look at doing both of these in a moment when I get back to a
computer, I think the test case needs to include! the code.
On Jun 1, 2016 17:33, "Guillaume Gomez" <notifications@github.com> wrote:

[2016-06-01 21:35] GuillaumeGomez commented on #34025
If you prefer that I test it, I'll need a short example like I said. So either way, I'm waiting. :wink:

[2016-06-01 21:46] ssokolow commented on #34023
I'd go with the hash since, as long as it's well-defined (eg. take a prefix of `n - hash_length`characters, then hash the remaining characters using `name of hash`, then append the hash to the prefix), it's possible to re-generate it from the source materials and get the same result if necessary.

[2016-06-01 21:51] BenTheElder commented on #34025
So far I haven't managed to trigger it outside of that project, If i get a usable test case I'll post it.
In the mean time I'm also going to start building your patch to test with. Thank you for the quick responses by the way!

[2016-06-01 22:00] BenTheElder commented on #34025
I think I've got a nice small test case now, I'll post it to github in a moment but the gist is:
[code]

`lib.rs`:
[code]

`no_doc.rs`:
[code]

[2016-06-01 22:03] BenTheElder commented on #34025
Test case is here: https://github.com/BenTheElder/docs_test_case

[2016-06-01 22:05] GuillaumeGomez commented on #34025
Thanks! Testing my patch.

[2016-06-01 22:09] GuillaumeGomez commented on #34025
It doesn't work. But now I know what to look! :)

[2016-06-01 22:13] BenTheElder commented on #34025
Of course! Thanks for looking.
The patch was still building for me but I'd be happy to try any future
patches as well.
On Jun 1, 2016 18:10, "Guillaume Gomez" <notifications@github.com> wrote:

[2016-06-01 22:51] drbo commented on #33502
Is it possible for the recursion limit to take more than exponential time to reach?

[2016-06-01 23:07] GuillaumeGomez commented on #34025
@BenTheElder: Take a look to the PR linked.

[2016-06-01 23:09] BenTheElder commented on #34025
Thanks, pulling your fix now to test.
On Jun 1, 2016 19:08, "Guillaume Gomez" <notifications@github.com> wrote:

[2016-06-01 23:39] BenTheElder commented on #34025
I *think* the PR works, i did:
[code]
Which seems to produce the expected page in `./doc/lib/index.hml` with no methods.

[2016-06-01 23:55] nikomatsakis commented on #32966
I'm thinking about suggesting that @scottcarr takes this on. We have to be a bit careful because it interacts with the "memory model" discussion, but I imagine we can start by being conservative, and in particular trying to cleanly separate the part that decides whether or not an intervening write/read is a problem.

[2016-06-02 00:43] aidanhs commented on #30104
More keywords: match, if let.
(no, they don't work either)

Two workarounds are to either a) use `*&mut *x` or b) bring `std::ops::DerefMut` in and use `*x.deref_mut()`:
[code]

[2016-06-02 01:05] zonyitoo commented on #33368
Well, obviously this is not a good solution.

I am happy to make any PRs for this, but what I am asking for is Rust's team to tell me which solution would be acceptable.

[2016-06-02 03:11] mitchmindtree commented on #32696
It seems the `Broken MIR` warning is unrelated. I managed to fix it by changing a type alias to use a solid type rather than the associated type of a trait, however this fix hasn't effected the ICE.

As of 1.9, this ICE now occurs in stable rust.

[2016-06-02 03:17] mitchmindtree opened #34027 "ICE in stable 1.9 - ERROR:rbml::reader: failed to find block with tag 32 | [Avoided by removing type decl from closure scope?]"
Version: `rustc 1.9.0 (e4e8b6668 2016-05-18)`. *Edit: According to travis this also occurs on the current nightly.*

Specifically, the ICE occurs while compiling [this conrod example in this commit](https://github.com/mitchmindtree/conrod/blob/582a3845d872fc054d1a03f55fa3c38b098d4d20/examples/all_widgets.rs).

Curiously, the ICE goes away when I remove the call to `.set` on the `TextBox` widget [h

[2016-06-02 03:28] sdleffler commented on #34008
@dotdash I've been staring at this for a little while now and I'm pretty sure my fix is in the wrong place. I don't understand librustc_trans enough to really get rid of the problem. The patch I submitted was honestly kind of a stopgap measure, I figured something like this would happen eventually... I'll keep digging but I just don't think I have enough knowledge about the internals to fix this a

[2016-06-02 05:01] jseyfried commented on #10681
This was fixed in #32923.

[2016-06-02 05:05] CitizenNate commented on #33502
It seems unlikely. When monomorphizing a function, the compiler will monomorphize a bounded number of other functions. Assuming recursion depth actually increases with each call, the number of distinct monomorphized functions should be at most exponential in the recursion limit. However, you should be able to use #[inline(always)] to generate functions with exponential size in the recursion depth.

[2016-06-02 05:39] sfackler opened #34028 "Macro hygiene regression"
[rust-security-framework](https://github.com/sfackler/rust-security-framework) no longer compiles on nightly due to what I think is a regression in macro hygiene:

[code]

Here we have methods on a trait that are defined by hand, but implemented by macro. The function names are not generated by the macro - they're passed in, so I would not expect any hygiene shenanigans to apply.

Possibly #32923?

[2016-06-02 05:50] canndrew commented on #27800
Here's a wacky idea: add support for [generically sized tuples](https://github.com/rust-lang/rfcs/pull/1582) and [anonymous enums](https://github.com/rust-lang/rfcs/pull/1154). Then it will be possible to select across an arbitrary number of channels of different types without macros:

    let ch0: Receiver<i32> = ...;
    let ch1: Receiver<String> = ...;
    match select((ch0, ch1)) {
        (x|

[2016-06-02 06:06] alexcrichton commented on #10681
Yay!

[2016-06-02 06:06] #10681 closed

[2016-06-02 06:09] alexcrichton opened #34029 "Tracking issue for Receiver::recv_timeout"
Added in https://github.com/rust-lang/rust/pull/33748, this is a tracking issue for having a timeout on receiving on a channel.

[2016-06-02 07:54] chris-morgan opened #34030 "Spurious local ambiguity error after empty $($ident),*"
[code]

[code]

In this case, it should be looking for an ident or a `/`, in which there is no ambiguity.

All channels are affected.

This is affecting my ability to write macros accepting generics using angle brackets, e.g. `$ty:ident<$($x:ident),*>`, with a supporting pattern to turn `Foo` into `Foo<>`.

May be related to #24827.

[2016-06-02 08:13] jseyfried commented on #34028
@sfackler Thanks for the report!
I fixed this in #34031 -- it was caused by #33706.

[2016-06-02 08:37] #19986 closed

[2016-06-02 10:46] pnkfelix commented on #25069
Nominating for prioritization. I suspect at this point its merely P-medium, but best to discuss.  (Plus for all I know its actually been resolved, since #25916 was resolved by PR #31680, but then again that same PR notes that the quadratic behavior is still present; it just has less impact...)

[2016-06-02 11:54] skiwi2 opened #34035 "Immutable borrow as argument for mutable borrow"
I have the following piece of code which I expect to work but the borrow checker does not agree:

    fn main() {
        let mut data = vec![1; 100];
        {
            let (left, right) = data.split_at_mut(data.len() / 2);
        }
        println!("{:?}", data);
    }

Please note that the extra scope is in principle not related to the issue I'm describing, I'm just doing it such that I can

[2016-06-02 12:43] nikomatsakis opened #34036 "during incr. comp. place `.o` files in incr. comp. directory and give predictable name"
As part of the incr. comp. work, we need to place the intermediate `.o` files for each partition into the incr. comp. directory (and not erase them after we're done). They should be given names that reflect the name of the partition they represent. This will let us reuse them in later compilations when possible.

cc @michaelwoerister

[2016-06-02 12:50] danpantry commented on #34035
I'm going to naively assume this is because `data.split_at_mut(data.len())` is a singular expression and you could *theoretically* access the immutable reference of `data` (from `data.len()`) at the same time as the returned mutable reference, which would violate the borrowing rules. If that's the case it *sort-of* makes sense why this is the case.

[2016-06-02 12:52] nikomatsakis opened #34037 "Hash partition contents and compare again hashes from previous efforts"
For each partition, we need to hash its contents (the symbol names of the items it contains, basically) and save them. Then, in the next compilation, we will recompute the partitions, rehash the contents, and compare against the previous hashes (alternatively, we could just save the list of symbol names). This will allow us to determine if the contents of a partition have changed from the previous

[2016-06-02 12:59] nikomatsakis opened #34038 "Create dep-node representing the overall trans of each partition"
Right now we have dep-nodes representing the trans for individual items. We should create a dep-node also for each partition. These dep-nodes will not have a `DefId` but rather the string representing the partition name. They will have incoming edges from the trans of each individual item -- some trans items, such as drop glue, may not have their own individual item and can just be lumped under th

[2016-06-02 13:55] apasel422 commented on #34035
I think this is being tracked at https://github.com/rust-lang/rfcs/issues/811.

[2016-06-02 14:09] nagisa commented on #34036
Seems to me like using the hash generated as part of https://github.com/rust-lang/rust/issues/34037 should suffice? Not only, then, it would be trivial to check for need to regenerate only the necessary files (doesn’t exist? rebuild), but also easy to keep clean (didn’t use that hash? remove.)

[2016-06-02 14:12] nagisa commented on #34027
I’m pretty sure this is the same thing as https://github.com/rust-lang/rust/issues/33778

[2016-06-02 14:14] nagisa commented on #32696
NB: took liberty to reformat the report.

[2016-06-02 14:34] nikomatsakis commented on #34036
@nagisa yeah, we could use the hashes, though the partitions already have stable names at present, so that works too.

[2016-06-02 14:40] durka commented on #34035
Yeah, non-lexical borrows should fix this case. Until then you can use [unborrow](https://crates.io/crates/unborrow).

[2016-06-02 14:43] durka commented on #34030
In theory there is no ambiguity because an ident can't start with `<`. As far as I can tell the macro evaluator doesn't reason about this at all. It sure is annoying and I hope it can be fixed. I suppose it introduces a forwards compatibility consideration, just like follow sets: if we let macros distinguish between `<` and `:ident`, then `<` can never be added to the ident grammar.

[2016-06-02 14:51] Ms2ger commented on #32111
`.peek().is_none()` is a positively *horrible* way of expressing the "is empty" predicate. Can we revert this, please?

[2016-06-02 15:06] brson opened #34040 "Convert makefiles to build LLVM with cmake"
We must build LLVM with cmake in order to continue upgrading LLVM. rustbuild already uses LLVM for this, but our makefiles are not scheduled to be removed any time soon.

I've started a patch.

[2016-06-02 15:19] michaelwoerister commented on #34038
I think that should be covered by the code that deletes partitions when the hash does not match any more. Since the name of old partition would not show up in the new partitioning, the corresponding object file would get deleted at that point.

[2016-06-02 15:21] michaelwoerister commented on #34036
I'd opt for including a human-readable name into the obj file name for debugging reasons.

[2016-06-02 15:44] sandeep-datta opened #34041 "No warning issued for name clash."
[Playpen][1]

[code]

Error:

    error: use of moved value: `chars` [--explain E0382]
      --> <anon>:20:22
    19 |>     chars.skip(2);
       |>     ----- value moved here
    20 |>     println!("{:?}", chars.collect::<String>());
       |>                      ^^^^^ value used here after move
    <anon>:20:22: 20:27: note: in this expansion of format_args!
    <anon>:20:22: 20:27: note: in th

[2016-06-02 15:49] shepmaster commented on #34041
I would have expected the "multiple applicable methods in scope" message on the `chars.skip(2)` line.

A smaller reproduction:

[code]

If you change `One::foo` to accept `&self`, then the error occurs. Perhaps we are grouping methods by receiver type and picking the first?

[2016-06-02 15:55] arielb1 commented on #34041
duplicate of #33697. This is intended behaviour and would require an RFC to change. Maybe clippy could lint against it?

[2016-06-02 15:55] #34041 closed

[2016-06-02 15:56] metajack commented on #32049
What's the status here? We just hit this again: http://build.servo.org/builders/arm32/builds/1329/steps/compile/logs/stdio

[2016-06-02 16:09] brson opened #34042 "many major compile-time perf regressions in jld-day15-parser"
[Look at the graph](http://perf.rust-lang.org/index.html?start=Wed%20Dec%2023%202015%2015%3A19%3A54%20GMT%2B0000%20%28UTC%29&end=Wed%20May%2018%202016%2012%3A04%3A26%20GMT%2B0000%20%28UTC%29&kind=benchmarks&crates=jld-day15-parser&phases=total&group_by=crate).

[2016-06-02 16:11] Philpax opened #34043 "Naked functions with parameters generate load/store instructions in debug mode"
[code]

results in

[code]

Most of these instructions should not be present, and result in undesired codegen prior to any user code (i.e. assembly).

[2016-06-02 16:11] Philpax commented on #34043
CC @ticki

[2016-06-02 16:12] ticki commented on #34043
Seems to be a result of unwinding.

[2016-06-02 16:16] shepmaster commented on #34041
@arielb1 I'm not suggesting that the actual method lookup path change, just that the warning be generated based on the entire path, not just the first level. Do you think enhancing the warning requires an RFC?

[2016-06-02 16:32] brson commented on #34042
I'm having a hard time getting the rustc-perf comparison page to tell me which passes regressed.

[2016-06-02 17:46] Stebalien commented on #34035
I'm not entirely sure that non-lexical borrows can fix this without being a breaking change. The above code desugars to:

[code]

[2016-06-02 18:01] durka commented on #34035
@Stebalien I _think_ non-lexical borrowck should allow that code. `len` does not return a borrow, so the immutable borrow is over after the parameters are evaluated and before the `split_at_mut` call.

[2016-06-02 18:13] Stebalien commented on #34035
If we deref in order, we could write code that could print out the following:

[code]

Alternatively, we could unborrow and reborrow:

[code]

Or borrow late:

[code]

However, that's also a breaking change.

Of course, one could argue that the behavior here is unspecified...

[2016-06-02 18:29] durka commented on #34035
Oh, indeed I missed the first deref_mut. Perhaps unborrow will remain
relevant!
On Jun 2, 2016 2:14 PM, "Steven Allen" <notifications@github.com> wrote:

[2016-06-02 19:40] rkruppe commented on #34043
Yes, the `unreachable!()` generates a whole lot of code related to unwinding. However, if I [replace it with `intrinsics::unreachable()`][play], the debug-mode IR still contains redundant loads and stores:

[code]

[play]: https://play.rust-lang.org/?gist=54c94408ed0e2ba812890db5b6928bdc&version=nightly&backtrace=0

[2016-06-02 19:44] ticki commented on #34043
That's even more interesting.

[2016-06-02 20:06] petrochenkov opened #34047 "`mut` is accepted before constants in patterns"
This compiles on stable/beta/nightly and `C` is resolved as a constant and not a new binding.
[code]

[2016-06-02 20:09] nikomatsakis commented on #33778
I suspect the problem is due to the fact that I changed the crate hash from being a string to being a u64. It seems to me to be sort of a cargo bug -- like, why are we seeing stale metadata from a different version of the compiler? But I don't quite know how this system interacts. @alexcrichton let's chat. :)

[2016-06-02 20:09] nikomatsakis commented on #33778
triage: P-high

[2016-06-02 20:16] nikomatsakis commented on #25069
In compiler team meeting: we believe this to have been fixed. Would be good to verify whether the perf gap has been corrected in the meantime!

[2016-06-02 20:16] nikomatsakis commented on #25069
triage: P-medium

[2016-06-02 20:19] stepancheg opened #34049 "make check-stage0-coretest does not work"
`make check-stage0-coretest` fails with error:

[code]

Is there any workaround?

[2016-06-02 20:20] AndiDog opened #34050 "Better errors for "closure may outlive current function" (lifetime issues)"
Source forum thread can be found [here](https://users.rust-lang.org/t/closure-may-outlive-current-function-but-shouldnt/5985). Here's a simplified problem statement:

[code]

The above code gives these errors (`rustc 1.10.0-beta.1 (b27d59534 2016-05-23)`):

[code]

Using the correct type definition with dynamic lifetime (instead of the implicit `'static`) makes it work, see line 2 (`type MyFn<'a>

[2016-06-02 20:24] nikomatsakis commented on #33889
Probably the same problem is causing a regr in jld-day15-parser

[2016-06-02 20:24] nikomatsakis commented on #33889
triage: P-high

[2016-06-02 20:25] nikomatsakis commented on #33889
It'd be great to do some sort of bisection to try to narrow down what is causing this.

[2016-06-02 20:28] eddyb commented on #34042
Also see #33889.

[2016-06-02 20:38] durka commented on #34047
It doesn't match though: https://is.gd/ylHuUv

[2016-06-02 20:52] #33540 closed

[2016-06-02 21:05] petrochenkov commented on #33995
This also means arguments with same names are allowed:
[code]

[2016-06-02 21:17] jonas-schievink commented on #33727
I've taken an initial survey of all command line arguments for rustc. Feel free to correct any mistakes, as I'm sure there will be a few.

Options marked with :heavy_check_mark: affect incr. comp.: When those options are added/removed between runs, everything should be recompiled.
Options marked with :heavy_multiplication_x: have no effect on the existing incr. comp. infrastructure (eg. they only

[2016-06-02 21:39] rkruppe commented on #34047
@durka The example matches on 0, while C is 1, so of course it doesn't match. Conversely, `match 1u8` works just fine, and the generated code looks good too. It seems the `mut` is simply ignored.

[2016-06-02 21:53] alexcrichton commented on #33778
The stale metadata may be sticking around because Cargo doesn't clean out old libraries, and when the compiler is specifically looking for the `libc` library transitively it'll find the old crate compiled with a newer version of Rust.

If it's the case that this is the crate hash, there's probably nothing we can do about this other than issuing a point release, and it doesn't seem worth it to do t

[2016-06-02 22:44] retep998 commented on #33995
I'm also okay with that being fixed.

[2016-06-02 22:46] eddyb commented on #34043
The current implementation doesn't really support arguments though, a correct implementation would enforce that they don't need allocas (which... depends on ABI and MIR optimization passes).

[2016-06-02 23:05] Diggsey commented on #33778
Could rustc make sure to only use panic-free code up until the point where it's read the metadata version, and give a helpful error message instead of ICEing?

[2016-06-02 23:07] nagisa commented on #34049
We need to make sure `$RUSTC_BOOTSTRAP_KEY` is set for tests. You can set it yourself by copying the configure’s CFG_BOOTSTRAP_KEY.

[2016-06-03 01:10] #32305 closed

[2016-06-03 01:38] kornholi opened #34053 "ICE with `Drop` types in statics"
[code]

gives:

[code]

[2016-06-03 01:40] kornholi commented on #33156
Ran into an ICE: #34053

[2016-06-03 01:51] chris-morgan commented on #34030
@durka: the error is spurious; this is *definitely* a bug. The issue is purely when the repeating group is empty. Hence `foo!(a/);` working.

[2016-06-03 02:43] strake opened #34056 "Have rustdoc emit hyperlinks on items in source code pages"
Related to but not same as [this issue](https://github.com/rust-lang/rust/issues/28954)

It would be quite convenient to have links to definitions of items from use sites in rustdoc output.

[2016-06-03 03:32] eefriedman commented on #34053
Off the top of my head, looks like some sort of confusion involving drop flags.

[2016-06-03 03:35] jonhoo opened #34057 "Provide mechanism for documenting known bugs or shortcomings"
Go has a [fairly poorly documented](https://github.com/golang/go/issues/5060) feature that lines marked with `BUG` are shown under "Bugs" in documentation for a package. The keywords can be configured using the (again poorly documented) `-notes` argument to [`godoc`](https://godoc.org/golang.org/x/tools/cmd/godoc). This can be used to document known bugs and shortcomings of a package alongside the

[2016-06-03 06:08] alexcrichton commented on #33844
The [captured instance](https://github.com/rust-lang/rust/pull/33991#issuecomment-223436857) of this shows the command line as not very long, so my guess is that it's actually related to the environment variable block. This can also be only up to 32K.

The compiler will attempt to update the `PATH` environment variable when loading dylibs in a fashion that with concurrent tests in rustdoc it's pos

[2016-06-03 06:08] #33844 closed

[2016-06-03 06:09] alexcrichton commented on #17360
I believe we've been seeing this a lot recently as #33844, which is spurious test failures from *something* being too big, and it's probably environment variables (#17327 coming back to haunt us)

[2016-06-03 06:56] vadimcn commented on #33844
I am kinda skeptical of this. It'd take a *lot* of threads entering this block at the same time to add the PATH up to 32k.
As far as I understand, the main danger of raciness in this code is that another thread may restore the original value of PATH between the current thread adding to it and calling `LoadLibrary`.  But in that case the error would be something along the lines of "DLL not found".

[2016-06-03 06:58] retep998 commented on #33844
@vadimcn The error is happening as a result of `Command::output` which means potentially any system function called inside there.

[2016-06-03 07:05] retep998 commented on #33844
Also, on the matter of the environment block being too big...

Since we're calling `CreateProcessW` and not `CreateProcessA`, that shouldn't be the issue, probably.

[2016-06-03 07:13] #33876 closed

[2016-06-03 07:25] ticki commented on #34043
@eddyb Yeah. It should preferably error when given arguments.

[2016-06-03 07:27] Philpax commented on #34043
Hmm; naked functions without arguments seem rather limited in scope. Would that just be a temporary limitation?

[2016-06-03 07:49] ticki commented on #34043
@Philpax You can still pass arguments through inline assembly. In the long term, it should support arguments, though.

[2016-06-03 08:35] gtors opened #34058 "BufReader: incomplete reading into buffer."
Incomplete reading into buffer.

**I tried this code**:
[code]
**I expected to see this happen**:

No error, because if I will directly read from src, then no error occurs:
[code]
So, I expect for the same behavior from BufReader.

**Instead, this happened**:

The `buf` is not completely filled.

## Meta

[code]

Backtrace:

[code]

[2016-06-03 08:42] xen0n commented on #33844
@retep998 I just confirmed a limit of ~32K on environment block indeed exists:

[code]

This gives a value close to 32K on my Windows 7 VM. So MSDN actually is lying :smiley_cat: In fact they're simply not being accurate there, as all the ANSI variants of Windows API are just shims for the wide ones.

[2016-06-03 11:09] #34009 closed

[2016-06-03 11:41] petevine opened #34061 "Bootstrap fun with '-Cpanic=abort'"
#33999 A rustc that doesn't care about crashing should be buildable with `panic=abort`. Could it work, even now, if building the `libpanic_unwind` crate, the flag simply got ignored?

[code]

[2016-06-03 12:39] apasel422 commented on #34058
[`Read::read`](https://doc.rust-lang.org/std/io/trait.Read.html#tymethod.read) is not guaranteed to completely fill the slice it is given.

[2016-06-03 12:39] jonas-schievink commented on #34061
Rustc uses unwinding to signal compilation errors, so the rustc you're going to build will abort on compile errors instead of exiting gracefully. Not sure what this would mean in practice (I've never used `-Cpanic=abort`), but it's something to look out for.

[2016-06-03 12:45] #34058 closed

[2016-06-03 12:58] petevine commented on #34061
Ah, thanks for that clarification. I thought, similar to regular binaries, rustc could just make do without panicking.

[2016-06-03 13:13] gtors commented on #34058
Thanks. But I found what [buf_redux](https://github.com/cybergeek94/buf_redux) implemetation of `BufReader` is more suitable for me.

[2016-06-03 13:13] mahkoh commented on #30815
This issue does not make much sense since the much more common start attribute can be used to cause segfaults via safe code much more easily.

[2016-06-03 13:13] #30815 closed

[2016-06-03 13:16] Luthaf opened #34064 "Rustc blows up memory usage in uncompleted macro code"
I just got an issue with rustc (stable), where uncompleted code caused the memory usage to blow up, rustc process taking more than 90G of RAM. Here is a code example:

[code]

Rustc output the errors pretty quickly, but then hang and start eating memory.

[code]

**Meta**

[code]

[2016-06-03 13:19] petevine commented on #34061
Still, I was expecting to retain the abillity to create binaries with either strategy. Somewhat related is this patch by @japaric, I think.

[2016-06-03 13:31] japaric commented on #34061
@petevine That patch only removes the `RUST_BACKTRACE` functionality; it doesn't affect the panicking/unwinding mechanism. One can use that patch with either `panic` strategy.

[2016-06-03 13:39] nagisa commented on #34061
That’s a weird codegen failure. Does it also happen with `-Zorbit`?

[2016-06-03 13:48] petevine commented on #34061
@nagisa Yes it does, adding a small tidbit of info:
[code]

[2016-06-03 14:08] #33770 closed

[2016-06-03 14:58] nikomatsakis commented on #33778
@alexcrichton I could go back to putting a string in metadata instead of just writing a u64, I guess

[2016-06-03 14:58] nikomatsakis commented on #33778
I'll haev to go poke at the code

[2016-06-03 16:21] pnkfelix commented on #32175
cc me

[2016-06-03 16:42] xpe opened #34065 "Doc suggestion: show output for `next_back()` example"
For me, at least, the example using `next()` and `next_back()` tells the story better if it shows the output.

I'm reading about the [DoubleEndedIterator](https://doc.rust-lang.org/std/iter/trait.DoubleEndedIterator.html)

Thanks to mbrubeck on [#rust-beginners](https://www.rust-lang.org/community.html) for these examples:

[code]

[code]

I plan to come back to this issue and [submit a proper doc

[2016-06-03 17:04] nikomatsakis commented on #32966
We discussed this in the @rust-lang/compiler meeting yesterday. There was general consensus that there are in fact 3 related transformations we might perform:

- De-aggregation:
  - convert from `x = Foo { ... }` into direct stores into `x.a` etc
- Destination propagation (NRVO):
  - when you have `temp = <rvalue>; ... (does not access lvalue) ; lvalue = temp;`
  - convert to `lvalue = <rvalue>; .

[2016-06-03 17:05] nikomatsakis commented on #32966
One complication: in the formulations above, you can see that I made reference to things like "... (does not access lvalue)". We need to decide what kind of code may legally "access" an lvalue, particularly around usafe/unsafe code. Given that we are actively debating this, the best thing is to try and isolate the code that makes these decisions so we can easily keep it up to date.

[2016-06-03 17:34] ticki opened #34066 "Allow defining custom optimization passes on MIR"
Allow one to register a custom optimization on the MIR pass as a compiler plugin.

[2016-06-03 17:49] rkruppe commented on #34066
cc https://internals.rust-lang.org/t/mir-compiler-plugins-for-custom-mir-passes/3166

[2016-06-03 18:17] Jexell commented on #33031
I get the same error if I run:
[code]
Although, if I omit the semicolon in `return x;` I get:
[code]

[2016-06-03 19:02] nikomatsakis commented on #33778
@alexcrichton hmm for some reason I'm not seeing that failure you suggested locally...

[2016-06-03 20:01] nikomatsakis commented on #32966
If you put [the "return an array" example into play](https://is.gd/BvVmHh) you get the following MIR:

[code]

If we do the simple case and eliminate the temporary only (which avoids interaction with debuginfo, at least to start) then we'd expect to get:

[code]

[2016-06-03 21:07] GuillaumeGomez commented on #34065
Nice idea!

[2016-06-03 22:21] petevine commented on #34064
Full trace: https://gist.github.com/petevine/928845c5400f7622ea849bf0d9170672

[2016-06-03 22:58] GuillaumeGomez commented on #33807
@tinco: Do you have a shorter code sample by any chance?

[2016-06-03 23:15] nagisa commented on #34066
[You can already do this](https://github.com/rust-lang/rust/blob/7de2e6dc828473b60aefe4d2140a602cbeb6d6f9/src/test/run-pass-fulldeps/mir-pass.rs), but really, really shouldn’t for anything serious. We can and most importantly *will* break your use case every half a day.

[2016-06-03 23:48] Undeterminant commented on #28606
Just want to add onto this that this still applies in the lastest version of Rust. If there are no plans to implement a fix, because the errors are confusing, it makes sense to add it to the relevant page in the Rust book.

[2016-06-04 01:07] dashed opened #34069 "Clarify that `expr`/`stmt` in macros can may only be followed by one of: => , ;"
For the code:

[code]

https://is.gd/TFIoq1

The compiler would give the following errors for this

[code]

---

I think it would be better if the error clarified that `expr`/`stmt` in macros can may only be followed by one of: => , ;

[2016-06-04 01:40] michaelwoerister commented on #33062
To give an update on this: The issue with LLDB not printing anything is mitigated in the open-source version of LLDB for a few weeks now -- i.e. the "old" behavior of falling back to Clang-mode for Rust has been restored and will stay in place until a proper Rust plugin gets written for LLDB.

The versions of LLDB distributed with XCode over the last few months, on the other hand, do not include t

[2016-06-04 01:50] brson commented on #34042
The rustc-perf site changed and the link no longer goes somewhere useful.

[2016-06-04 03:32] durka commented on #34069
I'm working on cleaning up the follow set checker to make this easier.

[2016-06-04 05:40] #33789 closed

[2016-06-04 06:15] cyplo commented on #19505
How is it done currently ?

[2016-06-04 07:32] durka commented on #34042
[Fixed link](http://perf.rust-lang.org/graphs.html?start=Wed%20Dec%2023%202015%2015%3A19%3A54%20GMT%2B0000%20%28UTC%29&end=Wed%20May%2018%202016%2012%3A04%3A26%20GMT%2B0000%20%28UTC%29&kind=benchmarks&crates=jld-day15-parser&phases=total&group_by=crate)

[2016-06-04 08:12] eddyb commented on #34042
@brson What I do is use Tab + Spacebar to bisect the pass set.

Regressions by passes:
* [macro loading](http://perf.rust-lang.org/graphs.html?start=Tue%20May%2003%202016%2011%3A23%3A13%20GMT%2B0000%20(UTC)&end=Fri%20Jun%2003%202016%2011%3A09%3A31%20GMT%2B0000%20(UTC)&kind=benchmarks&crates=jld-day15-parser&phases=macro%20loading&group_by=crate): `3ms -> 18ms`
* [translation](http://perf.rust-lang

[2016-06-04 08:14] eddyb commented on #33889
@nikomatsakis Doesn't look like it, [the regression is in translation](https://github.com/rust-lang/rust/issues/34042#issuecomment-223743432) for jld-day15-parser.

[2016-06-04 08:38] eddyb commented on #34042
A rough approximation for the strange dip is [this range of commits](https://github.com/rust-lang/rust/compare/8492b6aa4545e3e86f3b144c9a3834c31c612e38...0667ae93fb72eb25594258e55de9b4ae8f9f02a8).

[2016-06-04 08:52] petrochenkov opened #34074 "Trait methods with body and >1 unnamed parameters are wrongly rejected by resolve"
Reproduces on stable/beta/nightly.
[code]

[2016-06-04 09:17] eddyb commented on #34042
Looks like the first jump in translation, `40s -> 47s` is indeed caused by #33425. Or at least, the date matches.

[2016-06-04 09:27] eddyb commented on #34042
For the last jump in translation, `74s -> 81s`, I have another [approximate range of commits](https://github.com/rust-lang/rust/compare/dd6e8d45e183861d44ed91a99f0a50403b2776a3...97e3a2401e4b2f659d69ed0c0822cae04e3495b7) with #33602 as a potential culprit (also my fault? :disappointed:).

@nrc Could we run the same process that generates the graphs on individual PRs, to confirm such regressions?

[2016-06-04 09:37] nikomatsakis commented on #34066
I am pretty reluctant to provide custom MIR passes. As @nagisa says, I don't think we'll want to provide a stable interface here -- or, at least, not for a long time.

One thing I would **eventually** consider is to make it possible to input MIR directly into the compiler (this would basically stabilize some version of MIR and have it play a very similar role to Java Bytecode). One can then imagin

[2016-06-04 09:37] eddyb commented on #34074
I expect it parses as `<invalid>: u8, <invalid>: u8` and it *might* lower to HIR as `_: u8, _: u8` although nothing should care at that point about the argument list.
However, resolve running on AST, it has to treat `<invalid>` (the empty identifier) as `_`.

[2016-06-04 09:40] nikomatsakis commented on #34036
OK, so, I made a branch that places `.o` files (and other temporary artifacts) into the incremental compilation directory. It also opts not to delete `.o` files when the work is done (at least those corresponding to modules). I was debating though whether it'd be better to instead *copy* the files into the incremental directory when the work is done (and then copy them back out again if we want to

[2016-06-04 09:42] nikomatsakis commented on #34036
I will open the PR once https://github.com/rust-lang/rust/pull/33890 lands.

[2016-06-04 09:43] nikomatsakis commented on #34036
cc @rust-lang/tools curious to get your take on [this comment](https://github.com/rust-lang/rust/issues/34036#issuecomment-223746726)

[2016-06-04 09:47] eddyb commented on #34061
The issue is that building `libpanic_unwind` with `-Cpanic=abort` is unsupported, as it uses `intrinsics::try` (at least that's the simplest explanation - the personality function might be related).
If it compiled, the result would, at best, be unusable without `-Cpanic=abort`.

That's probably the sane solution, although that's not the only crate you would have to treat like this.

@alexcrichton

[2016-06-04 09:51] eddyb commented on #34036
I believe that in the long term, in a situation without dynamic libraries, we would want to avoid generating intermediary `rlib`s (at least Cargo doesn't need them) and always link together `.o` files directly into the final build product, and this is a good first step towards that.

[2016-06-04 11:19] #33986 closed

[2016-06-04 12:46] eddyb commented on #34061
@petevine There are some problems preventing running `rustc` with unwinding disabled that @jonas-schievink alluded to (mostly related to compiletest), see #27417 and #28206.

I think we could fix this codegen bug and maybe then what you were trying to do would work, as long as you wouldn't bother running tests.
However, if there is an improvement in compile times by having unwinding disabled (hope

[2016-06-04 13:01] eddyb commented on #33957
This is a problem with old trans inlining the expression which has no associated scope map entries. Shouldn't be a problem in MIR trans.

[2016-06-04 13:07] eddyb commented on #33888
OTOH, the `Span` may not change, but information extracted from it might.

@nikomatsakis I think we can track all users of information from a `Span` that can affect code generation.

@michaelwoerister For LLVM debuginfo, we could actually transform the debug info metadata nodes to correspond to new locations, although the C API might not have the facilities to do so.
I think comment changes would

[2016-06-04 13:09] eddyb commented on #33869
@nrc On the contrary, `ty::Error` is the solution, and it's not getting used; this is a duplicate of #33575.

[2016-06-04 13:31] arielb1 commented on #33889
The problematic PR here is 75e23e1b032d87300392a4f3835bde8d5d873823 (#33137). Seems logical - that probably broke the caching

[2016-06-04 13:34] eddyb commented on #33889
@arielb1 So the solution is to move forward with #33816?

[2016-06-04 13:34] arielb1 commented on #33889
That sounds like it.

[2016-06-04 16:01] hannni opened #34075 "Confusing error messages when trying to implement Display for [Owntype]"
For instance `impl fmt::Display for [PathSegType] {` leads to:

Here the error message could be more helpful. The impl actually does reference a type local to the crate, but only as part of non-local type.

The error message gets way more confusing if you use Types with parameters, for instance `impl<T: Display + Copy> fmt::Display for [PathSeg<T>] {` leads to:

[2016-06-04 16:08] #33850 closed

[2016-06-04 19:13] Undeterminant opened #34076 "fn prefix mentioned on std::path::Path documentation"
Link: https://doc.rust-lang.org/std/path/struct.Path.html

One example:
"On Windows, a path is absolute if it has a prefix and starts with the root: `c:\windows` is absolute, while `c:temp` and `\temp` are not. In other words, `path.is_absolute() == path.prefix().is_some() && path.has_root()`."

This should be reworded to avoid using `prefix()`, which has since been removed.

[2016-06-04 19:21] cristianoliveira commented on #32777
Next one for me will be E0238.

[2016-06-04 19:28] DemiMarie opened #34078 "mem::size_of() is not a const function"
`mem::size_of()` is not a const function, even though it is _always_ a compile-time constant.  This is seemingly arbitrary and is annoying in practice.

[2016-06-04 19:34] durka opened #34079 "able to invoke unstable macro 2.0"
Stability checking for `macro_rules!` was fixed in https://github.com/rust-lang/rust/pull/48524, but uses of declarative macros 2.0 (`macro` items) are still not checked for stability.

#### ORIGINAL ISSUE:

Why does this compile?

[code]

`__thread_local_inner` is marked `#[unstable(...)] #[allow_internal_unstable]`.

[2016-06-04 20:15] steveklabnik commented on #32837
cargo PR has landed. should this be closed?

[2016-06-04 20:35] petrochenkov commented on #34079
Because macros are not checked for stability!
At least this was the case when I made stability annotations on public macros mandatory in hopes of a better future.

[2016-06-04 20:47] michaelwoerister commented on #34036
What does it do when no incremental compilation directory is given? Just use the output directory?

[2016-06-04 21:45] eefriedman commented on #34078
I'm pretty sure fixing this would be a one-line patch: `std::intrinsics::size_of` is already treated as a compile-time constant.

[2016-06-04 21:47] eefriedman commented on #34078
Err, wait, nevermind, wasn't testing correctly.  Anyway, seems reasonable (although it would probably be tricky to support in certain contexts, like array bounds).

[2016-06-04 22:33] corvinux commented on #33483
Today I tried again installing with the latest nightly build.
Trying running cargo gave me an error
root@Jolla bin]# cargo -V
error: Process didn't exit successfully: `rustc -vV` (signal: 11, SIGSEGV: invalid memory reference)

[2016-06-04 23:00] petevine commented on #33483
You could try some unofficial builds. This one doesn't link in libstdc++ statically:

https://www.dropbox.com/s/esfhr8erg8kyhoe/rust-nightly-armv7.tar.xz?dl=0

or one from Rustbuild, built with clang:
https://www.dropbox.com/sh/gcat9erkhd4acq1/AABSM3TWIqcrSFx0LRijUNAYa?dl=0

[2016-06-04 23:07] corvinux commented on #33483
Installing with `curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain nightly` script show no  **Segmentation fault** "per se", but the result is the same.

[root@Jolla tmp]# `curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain nightly`
info: downloading installer

Welcome to Rust!

This will download and install the official compiler for the Rust programming
language, and its p

[2016-06-04 23:16] petevine commented on #33770
I'm unable to build on an ARM Linux, glibc 2.19 system any more:

[code]

[2016-06-04 23:23] petevine commented on #33770
`pthread.h` contains the following:

[code]

[2016-06-05 00:13] petevine commented on #33483
So, your hardware is a Qualcomm Snapdragon MSM8930 SoC - do you know of any quirks/bugs related to vfpv3 or neon it might be affected with?

A rebuild of your linux kernel could be necessary.

[2016-06-05 01:04] Amanieu commented on #33770
I think a new version of the libc crate needs to be published on cargo.

cc @alexcrichton

[2016-06-05 05:12] alexcrichton commented on #33770
@petevine how are you hitting that error? This passed our CI which means that the constant should be defined for ARM Linux (that's something we gate on). If this is using the libc crate on crates.io how is that coming into play? The libstd in this repo should be using a pinned rev of libc, if you're using something else then that's not guaranteed to work.

[2016-06-05 05:22] alexcrichton commented on #33844
@vadimcn it looks like so far it's almost always been doc tests in libcore that are failing (that's just from memory, not verified). The [most recent failure](http://buildbot.rust-lang.org/builders/auto-win-gnu-32-opt-rustbuild/builds/1359/steps/test/logs/stdio) indicates that libcore has 954 tests which means that so long as each test adds ~30 bytes to PATH it'll overflow eventually.

In our case

[2016-06-05 05:24] alexcrichton commented on #33844
Ah and this also only happens on WIndows, which is the only spot with that logic active.

[2016-06-05 05:58] alexcrichton commented on #33919
I believe this is a dupe of https://github.com/rust-lang/rust/issues/14072, so I'm going to close this in favor of that.

[2016-06-05 05:58] #33919 closed

[2016-06-05 06:32] alexcrichton commented on #32837
Nah this is sticking around as the tracking issue for panic runtimes in general. Only the `-C panic=abort` portion is stable, however.

[2016-06-05 06:36] alexcrichton commented on #34061
@eddyb yeah we will likely ship a `panic=abort` libstd one day for that exact reason (more optimized), and you're also correct that `libpanic_unwind` cannot currently be compiled with `-C panic=abort`. I don't quite remember why, but I suspect it's a relatively easy fix.

[2016-06-05 06:40] xen0n commented on #33844
Did further investigation and confirmed:

* Other environment variables are not affected, only `PATH`.
* The size limit is on the length of value, not on individual path entries. Even an overlong series of `C:\;C:\;C:\; ... C:\` is triggering the error.

I'm not bothering to check implementation of `CreateProcessW` (in ReactOS though) for certainty, as it seems this is the only problem.

[2016-06-05 06:49] #34028 closed

[2016-06-05 07:15] corvinux commented on #33483
Yes, It's Jolla Phone (https://en.wikipedia.org/wiki/Jolla_(smartphone), with Qualcomm Snapdragon 400 1.4 GHz dual-core processor.
uname -a
Linux Jolla 3.4.108.20150901.1 #1 SMP PREEMPT Sun Apr 24 12:19:33 UTC 2016 armv7l armv7l armv7l GNU/Linux

[2016-06-05 09:19] petevine commented on #33770
I did a `git pull` yesterday and started a Makefiles based build from scratch.

[2016-06-05 09:39] gaditb opened #34089 "Bug: internal compiler error: unexpected panic | rust 1.8.0"
Compiler panicked, I THINK when compiling a recursive call using part of an unpacked Enum.

I tried this code:
[code]
I expected to see this happen:

I'll be honest, I didn't expect this to work -- I expected this to spit out a heckuvalot of errors and stuff.

I didn't expect to make it panic, though. I agree with the compiler -- it was unexpected.

Instead, this happened:

Well, the compiler pani

[2016-06-05 10:12] #5016 closed

[2016-06-05 10:12] #30380 closed

[2016-06-05 11:18] petevine commented on #33483
That kernel is old and probably heavily patched so let's make sure you can't run any rust binaries, ok? Please try a different build from the above links.

If nothing works, you'd already confirmed my last stage0 snapshot worked  (good for bootstrapping rust 1.10 but not nightly any more) so if you already had llvm installed it would take about 5-6h to build your own rustc. Let me know if you want

[2016-06-05 11:37] nagisa commented on #34089
Also reproducible in nightly.

[2016-06-05 11:39] arielb1 commented on #32330
not actually fix

[2016-06-05 11:42] ticki commented on #5016
:tada:

[2016-06-05 11:47] petevine commented on #33483
Found this:
www.spinics.net/lists/linux-omap/msg50398.html

[2016-06-05 12:24] petevine commented on #34061
@eddyb It was just some honest experimentation but I got emboldened by the positive results I got from building parity successfully. Then I wanted to see some numbers but the benchmarks suite failed to compile which could be a build script problem. (I ran `cargo clean` first though)

I guess @alexcrichton explains it [here](https://github.com/rust-lang/cargo/issues/2738#issuecomment-223796208) but

[2016-06-05 12:45] corvinux commented on #33483
Yes, I would would like to build it, I already tried a few time, but unsuccessfully.

[2016-06-05 13:14] petevine commented on #33483
Do you remember why it failed?

Provided you were trying to use the snapshot I'd uploaded, did you do something like this?
The `rustc` snapshot should be found in `/tmp/bin` and your LLVM installation in `/usr`.

[code]

If you don't have LLVM installed, remove `--llvm-root=/usr` but be prepared to wait another 8h :(

[2016-06-05 13:32] Amanieu commented on #33770
Did you run `git submodule update`?

[2016-06-05 13:45] petevine commented on #33770
No, cause that's done automatically by the script, right?

[2016-06-05 14:08] petevine commented on #33770
@alexcrichton I've just done another `git pull` which immediately pulled from the updated `llvm` and then proceeded to build `libstd` just fine. I think these events must be related, and the submodules weren't updated for some reason before.

[2016-06-05 15:58] arielb1 commented on #34089
does not panic on `f97c411548f2b64f74f2bcb84dcc37075c05e2a0` - that must be an old nightly.

[2016-06-05 15:58] #34089 closed

[2016-06-05 16:07] #33873 closed

[2016-06-05 17:27] arielb1 commented on #33889
This is fixed as #33816 landed.

[2016-06-05 17:27] #33889 closed

[2016-06-05 17:32] arielb1 commented on #34042
This seems to be fixed on the latest revision - translation takes 5s on my laptop. Probably #33816 too.

[2016-06-05 18:21] nagisa commented on #33828
More recent results:

[code]

Thus, a small imporovement, but still a big regression. Waiting for the nightly with static drops to see if and how much that helps.

[2016-06-05 18:22] eddyb commented on #33828
@nagisa Suppose I can try with my build of master.

[2016-06-05 18:40] eddyb commented on #33828
I get the following results with `-Z orbit`:
[code]

[2016-06-05 18:46] alexbool commented on #33828
@eddyb It would be also nice to see the results of old trans on your hardware

[2016-06-05 18:49] eddyb commented on #33828
@alexbool Yes, I just added those, they hadn't finished yet.

[2016-06-05 18:54] alexbool commented on #33828
@eddyb thanks, looks extremely promising

[2016-06-05 19:06] nagisa commented on #33828
These are mine results for -Z orbit (the non-orbit are above):

[code]

thus a considerable speed-up in both run and compile times. Considered resolved, thus closing.

[2016-06-05 19:06] #33828 closed

[2016-06-05 19:16] davideGiovannini opened #34100 "Rust compiler panic"
I was getting started with the standard documention on BufReader, but when I tried the example on BufRead.[readline](https://doc.rust-lang.org/std/io/trait.BufRead.html#method.read_line) I got an unexpected panic when compiling.

The rust compiler panics every time when trying to compile the following snippet of code:

[code]
## Meta
I'm on Arch Linux using cargo and rust from the official reposit

[2016-06-05 19:24] frewsxcv commented on #34100
Reduced a little bit:

[code]

[Playpen link](https://is.gd/h4rViV)

Causes an ICE on stable, beta, and nightly

[2016-06-05 19:26] eddyb opened #34101 "Bogus "warning: dataflow bug??? moving out of type with dtor" for field assignments."
When assigning a non-`Copy` field of a structure which has a destructor, the drop of the field before writing the new value causes a warning in the MIR dataflow code:
[code]
[code]

Seeing how this is supported in stable Rust, the warning seems superfluous and the resulting code runs without a hitch, although I'm not sure if there any subtle problems around unwinding.

cc @arielb1 @pnkfelix

[2016-06-05 20:07] corvinux commented on #33483
It always failed as I mentioned in earlier posts like this
[code]

[2016-06-05 20:27] corvinux commented on #33483
@petevine rust-nightly-armv7.tar.xz is working, on my Jolla Phone :+1:
[root@Jolla tmp]#` rustc -V`
rustc 1.11.0-dev (623af22b9 2016-05-28
[root@Jolla tmp]# `cargo -V`
cargo: error while loading shared libraries: libcurl-gnutls.so.4: cannot open shared object file: No such file or directory
I have to find  libcurl-gnutls.so.4, though.

[2016-06-05 20:59] nagisa commented on #34100
Does not panic with rustc 1.11.0-nightly (12238b984 2016-06-04) anymore.

Thanks for the report, closing as fixed.

[2016-06-05 20:59] #34100 closed

[2016-06-05 20:59] corvinux commented on #33483
@petevine
I had to install additional libraries for cargo to run.
- libcurl-gnutls.so.4
- librtmp.so.1

**Now, everything is working!**

[root@Jolla lib]# `cargo -V`
cargo 0.11.0
[root@Jolla lib]#

[2016-06-05 21:57] petevine opened #34103 "LLVM 3.6 not compatible any more?"
I stopped using local llvm 3.6 on ARM many months ago but needed to use it again today. It doesn't work:

[code]

I remember some PR about feature detection that modified a few C++ files - looks like it might be related?

[2016-06-05 22:16] petevine commented on #33483
@corvinux Glad you can try rust out, however there's a misunderstanding here:

Those were the official rust binaries which for some reason crash on your system. The ones that work, including the [stage0](https://www.dropbox.com/s/01ywl9mwwo6xojw/rust-stage0-2016-04-18-b324fa7-linux-armv7.tar.xz?dl=0) snapshot that you didn't use in the end, were built natively on my ARM Linux system (without NEON)

[2016-06-05 22:21] nagisa commented on #34103
Yes, getMCSubtargetInfo is 3.7+. You should be using the same version as the LLVM we bundle in order to reduce the incompatibilities.

[2016-06-05 22:44] petevine commented on #34103
`3.6` hasn't been deprecated, that's my point.

[2016-06-05 23:23] nagisa commented on #34103
I do not believe we ever provided any stability guarantees about list of external LLVM versions that may work with rustc.

[2016-06-06 00:23] malbarbo opened #34106 "Document which trait bounds are implicit available for functions"
I opened the issue #28055 last year thinking that I had found a inconsistency in the type checker. Recently, some one asked a [question](http://stackoverflow.com/q/37600687/5189607) in stackoverflow that involves the same issue. The question is about the need to repeat the bound of a trait in a function that uses the trait. For example:

[code]

@arielb1 closed the issue #28055 and  [wrote](https:

[2016-06-06 01:34] Peach1 opened #34107 "ICE when const is used as `X;` in nested function"
The following crashes the Rust compiler on nightly:

[code]

"thread 'rustc' panicked at 'assertion failed: type_is_zero_size(bcx.ccx(), bcx.tcx().node_id_to_type(expr.id))', ../src/librustc_trans/expr.rs:158"

[2016-06-06 02:03] dtolnay commented on #33736
In the meantime, I factored [Cargo's implementation](https://github.com/rust-lang/cargo/blob/099ad28104fe319f493dc42e0c694d468c65767d/src/cargo/lib.rs#L154-L178) into the [`isatty` crate](https://github.com/dtolnay/isatty) because I needed it for [cargo-expand](https://github.com/dtolnay/cargo-expand).

[2016-06-06 02:28] joshtriplett commented on #33736
Thanks!

[2016-06-06 05:12] mitchmindtree commented on #34027
After further testing, it appears the ICE occurs whenever the [`Widget` trait](https://github.com/mitchmindtree/conrod/blob/260c3ac38ef5a096c690f648ae3c0995431242d2/src/widget/mod.rs#L442)'s [`set` method](https://github.com/mitchmindtree/conrod/blob/260c3ac38ef5a096c690f648ae3c0995431242d2/src/widget/mod.rs#L782) is called on either the [`TextEdit`](https://github.com/mitchmindtree/conrod/blob/26

[2016-06-06 06:10] comex commented on #29596
It seems strange to allow `-C link-args` on the command line without `-Z unstable-options`, yet keep the source code equivalent unstable.

[2016-06-06 06:43] mitchmindtree commented on #34027
I've added [a commit](https://github.com/PistonDevelopers/conrod/pull/703/commits/9446a1e0ce48950f3f8d9acac906111ba4effa5a) with a much smaller example that demonstrates the same ICE.

Removing [this line](https://github.com/PistonDevelopers/conrod/pull/703/commits/9446a1e0ce48950f3f8d9acac906111ba4effa5a#diff-7085f837fc872d9e3fe728833348daa9R67) and adding a semi colon to the end of the one above

[2016-06-06 07:12] retep998 commented on #29596
I'd rather we fix the issue with being unable to have spaces in the linker arguments before stabilizing either of them. Unfortunately `-Clink-args` being stable makes that difficult.

[2016-06-06 08:02] #32829 closed

[2016-06-06 08:10] mitchmindtree commented on #34027
Interestingly, removing [the body of the `Widget::set` method](https://github.com/mitchmindtree/conrod/blob/260c3ac38ef5a096c690f648ae3c0995431242d2/src/widget/mod.rs#L786) also stops the ICE from occurring.

[2016-06-06 08:34] nikomatsakis commented on #34101
cc me

[2016-06-06 08:40] nikomatsakis commented on #33888
@eddyb besides debuginfo, what users can you think of?

[2016-06-06 08:55] mitchmindtree commented on #34027
This might be related to #33364 as in both issues the ICE seems to have appeared in 1.9 and still remains in the current nightly.

The example in #33364 also demonstrates that the ICE occurs when doing a blanket impl of some trait for a generic tuple whose elements' types are used as associated types. Conrod uses this same pattern [for its `Backend` trait](https://github.com/mitchmindtree/conrod/b

[2016-06-06 09:50] mitchmindtree commented on #33364
I have [a PR](https://github.com/PistonDevelopers/conrod/pull/703) blocked by an ICE that appeared after updating to stable 1.9, and after spending the day attempting to find a workaround it's beginning to look suspiciously similar to this one. Some similarities:

- Appeared in 1.9 and still exists in 1.11.
- Occurs in trans.
- Used to emit `Broken MIR` warnings until I changed a tuple type alias

[2016-06-06 10:42] eddyb commented on #33888
@nikomatsakis I was referring to the syntax extension ones you mentioned, although at this moment that doesn't make much sense, so nevermind.

[2016-06-06 11:12] pnkfelix commented on #34069
cc @LeoTestard

[2016-06-06 11:50] pnkfelix commented on #29769
This is closed by #33905, right?

[2016-06-06 11:52] eddyb commented on #29769
Indeed. Must've missed it when I made the PR.

[2016-06-06 11:52] #29769 closed

[2016-06-06 11:56] rrichardson commented on #33240
Someone posted this into #rust and we solved the problem, but still pondered over the error:

Nightly on playpen, but same result (different formatting) on 1.8 or beta.

[code]

[code]

This is solved by adding a semicolon to the end of the match block on line 26.

I'm not entirely sure what's going on here, I am guessing that the semicolon ensures that the result of the match doesn't try to be re

[2016-06-06 13:06] pnkfelix commented on #34101
My current intuition is that `DropAndReplace` on a Projection (e.g. `var0.0` here) on its own is creating a separate `MovePath` for the replaced thing, but maybe we should not do this, since it is causing us to allocate a separate drop flag for `var0.0` even though such a flag can never have a state distinct from the state for the drop flag for `var0` itself.

[2016-06-06 13:15] pnkfelix commented on #34101
Or maybe the right approach, which has the advantage of being isolated to `elaborate_drops`, would be to change `lvalue_contents_are_tracked` to return `false` when the parent lvalue's type has a `Drop` impl.

[2016-06-06 13:41] nikomatsakis commented on #33240
@rrichardson that problem sounds lik it is due to the temporary lifetimes; in this case the `match` is the trailing unit in the block. See e.g. (closed) https://github.com/rust-lang/rust/issues/22252 -- I feel like there remains an issue open on trying to address this in some nicer way but I've not found it just now. In any case, clearly the error message it can be better: it'd be nice to see if w

[2016-06-06 14:14] fgsch commented on #33165
fwiw, just updated to rustc 1.9.0 and it's working as expected.

[2016-06-06 14:18] pnkfelix commented on #34101
(I have a patch for this, I'll put up a PR shortly.)

[2016-06-06 14:25] #33791 closed

[2016-06-06 15:09] oli-obk opened #34111 "move `temporary_cstring_as_ptr` from clippy to rustc"
Quoting the docs of the lint:

~~@akaDemik~~ someone [found in a recent discussion](https://users.rust-lang.org/t/you-should-stop-telling-people-that-safe-rust-is-always-safe/6094/8?u=oli_obk) that there are [hundreds of `.unwrap().as_ptr()` calls](https://github.com/search?l=rust&q=%22unwrap%28%29.as_ptr%28%29%22&ref=searchresults&type=Code&utf8=%E2%9C%93) to be found on github (not all of them U

[2016-06-06 15:13] aka-demik commented on #34111
We are different aka-demik's ;)

[2016-06-06 15:20] #32805 closed

[2016-06-06 15:24] steveklabnik commented on #34111
New lints pretty much require RFCs these days.

[2016-06-06 15:25] durka commented on #34111
Or we could just deprecate the method (with a message warning of the potential for misuse) and provide `fn with_ptr<F: FnOnce(*const c_char)>(&self, f: F) { f(self.as_ptr()); }` instead. [Example.](https://is.gd/Iq8n7h)

[2016-06-06 16:00] tcr3dr commented on #27812
For future travelers: if you mistakenly `#[macro_use] extern crate log;` but don't require log in your Cargo.toml, you may trigger this bug:

[code]

The fix is to add `log = "0.3"` to your Cargo.toml.

[2016-06-06 16:17] imjacobclark commented on #30924
@nrc I'd like to pick this up - I haven't worked on any compiler internals before, could we grab some time in IRC to go over this? My handle is imjacobclark in IRC too.

[2016-06-06 16:34] TyOverby opened #34115 "Compiler error inside of macro doesn't show where macro is invoked"
I'm working on a project and recently got this series of error messages:

[code]

As you can see, there is no indication as to where this error is coming from in *my* code.  I get that I'm fudging a `try!` invocation somewhere, but that only narrows down the possibilities to several hundred lines in my codebase...

[code]

[2016-06-06 16:43] olegabyst opened #34116 "Confusing type of error when reference which is passed to function does not suited in mutability"
Consider next snippet of code

[code]

as result we have next error(rustc 1.9.0):

[code]

But for me it's seems confusing, because I expected 2 variants:
1) compiler throw an error since `Foo::new` expect an immutable reference instead of mutable.
2) compiler understand that in both calls to `Foo::new` the resulted instances of `Foo` borrow `x` by immutable reference.
So, I think compiler should

[2016-06-06 16:46] TyOverby commented on #34115
This is fixed in

[code]

Closing

[2016-06-06 16:46] #34115 closed