[2021-01-23 17:39] #80795 closed

[2021-01-23 17:41] RalfJung commented on #80795
There's still a bug though, see https://github.com/rust-lang/rust/issues/79047.

[2021-01-23 17:46] lcnr commented on #80795
yeah, but that bug isn't tracked by this issue, is it?

[2021-01-23 17:51] RalfJung commented on #80795
Not sure... the bug that the original code here leads to invalid MIR remains.

[2021-01-23 17:54] lcnr commented on #80795
while this is true, that bug is tracked as part of #57893

[2021-01-23 17:56] steffahn commented on #80795
For the record, I’m of the opinion that it’s correct that this issue is closed.

[2021-01-23 18:03] steffahn commented on #80795
Wait.. actually, I’m confused: Why exactly does it hit “SizeOf nullary MIR operator called for unsized type” now and didn’t before? Which one was the relevant change? That line that triggers the “SizeOf nullary MIR operator called for unsized type” message seems to be pretty old already..

[2021-01-23 18:03] RalfJung commented on #80795
This has nothing to do with #57893. rustc *is* showing an error after all. I would not have accepted a Miri patch that just works around that coherence issue.

The problem is that rustc produces MIR *despite* their being a type error, and then runs CTFE on that broken MIR. This is tracked in https://github.com/rust-lang/rust/issues/79047 for `transmute`; I guess we can also use that issue for `Siz

[2021-01-23 18:04] varkor commented on #81268
I'm not sure this is necessarily incorrect (it's part of the `destructuring_assignment` feature gate, and it is only allowed on the left-hand side of an assignment). I'm not sure what better diagnostic we could be emitting here: any suggestions?

[2021-01-23 18:04] RalfJung commented on #80795
Btw, the PRs that fixed the ICE are https://github.com/rust-lang/rust/pull/81185 and https://github.com/rust-lang/rust/pull/81243.

[2021-01-23 18:11] lcnr commented on #80795
ah yeah, rustc trying to eval broken mir seems like a separate bug to me.

[2021-01-23 18:30] jsomedon commented on #78586
No, probably too overwhelming to my rust level. I would rather see someone else fixing this and read their code instead.

[2021-01-23 18:41] djugei opened #81303 "infinite? loop when compiling serde_derive utilizing polonius"
compiling with -Z polonius=yes a depedendency of my crate, serde_derive seems to never finish compiling, or maybe it is just a lot slower than usual.

rustc 1.51.0-nightly but the issues has existed for multiple months.

[2021-01-23 19:14] LeSeulArtichaut commented on #81289
I'd like to investigate this :)

[2021-01-23 19:18] jfrimmel commented on #81303
I can reproduce using:
[code]

With the following nightly:
[code]

[2021-01-23 19:29] LeSeulArtichaut commented on #81289
searched nightlies: from nightly-2020-12-29 to nightly-2021-01-22
regressed nightly: nightly-2021-01-09
searched commits: from https://github.com/rust-lang/rust/commit/c8915eebeaaef9f7cc1cff6ffd97f578b03c2ac9 to https://github.com/rust-lang/rust/commit/26438b473883ea607b30288e461187f0fb2fe589
regressed commit: https://github.com/rust-lang/rust/commit/9155a9dae522bbedd42b4a11366d8157da0614ec

This

[2021-01-23 19:38] LeSeulArtichaut commented on #81289
This also affects
[code]

Where `rustdoc` will generate:

[code]

[2021-01-23 20:32] joshtriplett opened #81305 "Check docs in src/doc/rustdoc/src/lints.md (and similar) as doctests"
Per discussion with @jyn514 on Zulip: this and other rustdoc documentation files should have the code samples and output they contain tested as doctests. https://github.com/rust-lang/rust/pull/80527 turned up a case where their output didn't match the compiler behavior.

[2021-01-23 20:47] cjgillot commented on #37713
Solved by #79318.

[2021-01-23 20:47] #37713 closed

[2021-01-23 21:08] camelid opened #81308 "Test `#[stable]` and `#[unstable]` `version`s in CI"
Maybe this is an argument for testing `version = ` in CI, I've seen people get it wrong by accident a lot.

_Originally posted by @jyn514 in https://github.com/rust-lang/rustc-dev-guide/pull/1036#discussion_r563197196_

-----

`tidy` is probably the right place to do it.

[2021-01-23 21:17] ehuss commented on #81305
Can you clarify what you mean by "doctests"?  All book examples are tested, I'm guessing you mean something like "compiletest" or [lint-docs](https://github.com/rust-lang/rust/tree/master/src/tools/lint-docs)?

I think the lint-docs tool could be extended to also generate the rustdoc chapter (it currently explicitly ignores rustdoc lints), though the format would need to change somewhat and the do

[2021-01-23 21:20] thomcc commented on #81261
It will also depend on the hardware. I've kind of known about this issue for a while (since digging into apfloat a while ago). The default behavior for APFloat's NaNs isn't the same as x86's behavior, which is problematic. In practice I believe the only long term solution is to make apfloat architecture-aware, but this is painful and diverges with what LLVM does.

That said, the printing might vio

[2021-01-23 21:38] joshtriplett commented on #81305
@ehuss The issue is that the output sections aren't being checked, which is why they were able to mismatch rustc's output without producing a test failure.

[2021-01-23 21:53] camelid opened #81311 "rustdoc: Add [src] links for type aliases"
Type aliases don't seem to have [src] links currently; see for example [`rustc_data_structures::fx::FxHashMap`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_data_structures/fx/type.FxHashMap.html):

![image](https://user-images.githubusercontent.com/37223377/105615048-58178480-5d82-11eb-9950-ae291caedee0.png)

[2021-01-23 22:04] #78192 closed

[2021-01-23 22:12] erikdesjardins commented on #81146
@nikic I tried changing that a little while ago. For aggregate types it seems LLVM tries to pass each field in a separate register, so arguments end up getting passed indirectly more often, e.g.

[code]

...with integer types (current nightly):

[code]

<details>
<summary>Optimized LLVM IR</summary>

[code]
</details>

...with aggregate types:

[code]

<details>
<summary>Optimized LLVM IR</summary

[2021-01-23 22:22] camelid commented on #78192
Why was this reopened and then closed?

[2021-01-23 22:26] LeSeulArtichaut commented on #78192
I reopened it after #78434 since the bug wasn't fixed, only disabled so it doesn't hit stable. Is it fixed now @tmiasko?

[2021-01-23 22:26] tmiasko commented on #78192
I closed it because the code responsible is no longer there.

[2021-01-23 22:39] LeSeulArtichaut commented on #81289
So a few observations:
- [`rustc_hir_pretty::param_to_string`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir_pretty/fn.param_to_string.html) uses [`print_pat`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir_pretty/struct.State.html#method.print_pat) which displays mutability in patterns, causing `mut` to be displayed
- the mechanism for detecting and eliding `: Self` works b

[2021-01-23 22:44] LeSeulArtichaut commented on #81289
I see two path to solving this bug:

1. Add an option for `rustc_hir_pretty::param_to_string` to not display the mutability in patterns
2. Just revert #80799

cc @jyn514 what do you think?

[2021-01-23 23:03] RalfJung commented on #81261
So, just to make sure I understand -- `f64::NEG_INFINITY.mul(0.0)` creates a NaN, and `copysign` is used to test the NaNs sign?

This seems like it could be considered a part or a duplicate of https://github.com/rust-lang/rust/issues/73328.

[2021-01-23 23:22] camelid opened #81314 "Span is too large for unused `rest @ ..` pattern warning"
The compiler suggests replacing `rest @ ..` with `_rest`, when in fact it should suggest `_rest @ ..`:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f93b0149de57c3fd50ccc0cc26ce89be))

Errors:

[code]

The span should point to just `rest`.

[2021-01-23 23:47] cjgillot commented on #70763
Latest stable does not crash any more, errors gracefully.

[2021-01-23 23:47] #70763 closed

[2021-01-23 23:55] krinkinmu opened #81315 "thread 'rustc' panicked at 'assertion failed: promoted.is_none()', compiler/rustc_mir/src/transform/check_consts/qualifs.rs:250:9"
Hi,

I detected this problem by coincidence and reporting it just because the error message asked to do so.

### Code

[code]

The problem goes away if I add `#[derive(Clone, Copy)]` to `struct A`, as required for the array initialization inside `setup`.

### Meta

`rustc --version --verbose`:
[code]

I also verified that the problem exist after updating the toolchain in the version:

[code]

###

[2021-01-24 00:00] ankushduacodes commented on #81314
Hi @camelid, Where do look for to fix this `invalid suggestion`?

[2021-01-24 00:08] unseddd opened #81316 "Stack overflow due to conditional infinite recursion"
Stack overflow in a program with conditional recursion:

[code]

When the trait implementation recurses unconditionally, the compiler issues a warning:

[code]

When a conditional statement is used, no compiler warning is issued, and running the program results in a stack overflow:

[code]

Occurs on latest stable (1.49.0) and nightly (1.51.0)

[2021-01-24 00:10] #80303 closed

[2021-01-24 00:10] #79537 closed

[2021-01-24 00:10] #81251 closed

[2021-01-24 00:25] jonas-schievink commented on #81316
This is working as intended, the lint only reports unconditional recursion if every control-flow path results in recursion

[2021-01-24 00:25] #81316 closed

[2021-01-24 00:42] camelid commented on #81314
This is where the suggestion is emitted:

https://github.com/rust-lang/rust/blob/4d0dd02ee07bddad9136f95c9f7846ebf3eb3fc5/compiler/rustc_passes/src/liveness.rs#L1536-L1583

However, I think the issue is in the `hir_ids_and_spans` argument. That argument is passed in here:

https://github.com/rust-lang/rust/blob/4d0dd02ee07bddad9136f95c9f7846ebf3eb3fc5/compiler/rustc_passes/src/liveness.rs#L1503-L1

[2021-01-24 00:42] camelid commented on #81314
Feel free to ask in `#t-compiler/help` on Zulip if you have any questions! You may also want to look through the [rustc-dev-guide](https://rustc-dev-guide.rust-lang.org/).

[2021-01-24 00:46] jyn514 commented on #81289
I would prefer to go for 1, there's no reason to have two completely different functions for pretty-printing.

[2021-01-24 00:47] thomcc commented on #81261
Yes, this is probably a duplicate of #73328, aside from the note that it may be non-conformant not to print the sign for -nan.

However, I don't know off the top if that's actually the case.

[2021-01-24 00:53] jyn514 commented on #81308
Note that this should only test `#[stable]` attributes that are newly added, it makes total sense for old attributes to say an old version.

[2021-01-24 00:53] jyn514 commented on #81308
And `unstable` doesn't have an attached version, so it doesn't need to be tested.

[2021-01-24 01:08] camelid commented on #81308
I think I confused `#[unstable]` with language-level feature flags, which *do* have a version :)

[2021-01-24 01:26] henryboisdequin commented on #73734
@Aaron1011 Is this still an issue that I can work on?

[2021-01-24 01:26] Skgland opened #81317 "Type can no longer be inferred in 1.49"
### Code

I tried this code: [Johni0702/rtp on the dtls-srtp Branch](https://github.com/Johni0702/rtp/tree/6c0223d8a43ea5251574c541e72461b5d18a3906)

I expected to see this happen: Compiles successfully as in 1.48

Instead, this happened: Error E0282 in `src/rfc3711.rs`

[code]

### Version it worked on

It most recently worked on: 1.48

### Version with regression

`rustc --version --verbose`:
[c

[2021-01-24 01:28] Skgland commented on #81317
Based on that it worked on stable 1.48 and now doesn't on 1.49 I assume this is a stable to stable regression.

@rustbot modify labels: +regression-from-stable-to-stable-regression-untriaged

[2021-01-24 01:32] camelid commented on #81317
Minimized further:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4babe100f138922aed611357bccedc37))

Errors:

[code]

[2021-01-24 01:32] Aaron1011 commented on #73734
@henryboisdequin Yes, assuming that @DavidHusicka is no longer working on this.

[2021-01-24 01:33] henryboisdequin commented on #73734
Should I claim it?

[2021-01-24 01:36] Aaron1011 commented on #73734
@henryboisdequin: It looks like DavidHusicka hasn't had any activity this month, so I think it would be fine for you to take the issue. Feel free to reach out to me if you have any questions about how to get started implementing this.

[2021-01-24 01:37] henryboisdequin commented on #73734
@rustbot claim

[2021-01-24 01:45] CraftSpider opened #81319 "[jsondocck] Add 'pretty' errors for shlex::split"
The following comment causes a panic in jsondocck currently:

[code]

Expected: Pretty error like 'Invalid split pattern on line X'

Current: Giant stack trace, only obvious if you know what that line is doing.

Opening this for tracking and so I don't forget to fix it

[2021-01-24 01:47] Skgland commented on #81317
Reduced the code to not use external BigUint type:

[code]

[2021-01-24 03:32] camelid commented on #81319
@rustbot assign @CraftSpider (since you said "so I don't forget to fix it")

[2021-01-24 03:35] camelid commented on #81296
This happened to me in https://github.com/rust-lang/rust/pull/80965#issuecomment-759222123 too.

[2021-01-24 03:56] VillSnow commented on #73831
The first reason why this is `partition_point` is that it borrows C++'s name.

Otherwise, this example shows what it gets is the *partition point*.

[code]

If the method named `binary_search_by_pred`, I expect that it returns any index where the predicate returns `true`, while this methods returns first index where returns `false`.

partition_point: The idea of *partition* is uncommon.
binary_sea

[2021-01-24 04:56] JoelCourtney opened #81321 "Nightly rustc panics when passing r#Self enum variant through proc macro"
This happens when trying to use `r#Self` as an enum variant on nightly, when the enum is passed through quote! in a proc macro.

### Code

src/lib.rs:

[code]

my_macros/src/lib.rs:

[code]

### Meta

This only happens on nightly. On stable, it correctly outputs the errors and exits gracefully.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</str

[2021-01-24 04:59] JoelCourtney commented on #81321
In the macro, passing `input` directly through without parsing and re-tokenizing it does not produce this error:

[code]

[2021-01-24 05:31] gymore-io opened #81322 "Tracking Issue for `result_swap`"
Feature gate: `#![feature(result_swap)]`

This is a tracking issue for `result_swap`

I propose the addition of a `swap` method for the `Result` type that would basically turn an `Ok` into an `Err` and the other way around.

### Motivation

This would obviously allow more straightforward code when one need to propagate the success type of a function as an error.

[code]

Used with the `Result` con

[2021-01-24 05:34] gymore-io commented on #81322
@rustbot label +C-tracking-issue +A-result-option

[2021-01-24 05:55] osa1 commented on #81321
I believe this is one of the "delayed error" bugs, where we detect an error and report it, but continue compilation, which causes another code to panic as the error detected earlier breaks an assumption in another code later on.

If I'm right then I suspect fixing this is just a matter of turning the `panic!` into some kind of "panic if an error is not already reported" call.

[2021-01-24 06:02] osa1 commented on #81321
I submitted a PR that does what I describe above. I don't know if it's the right thing to do though. Any feedback would be welcome!

[2021-01-24 06:57] egilburg commented on #81322
Bikeshed: Would something like `and_err` be more clear or similar to existing chaining like `ok_or`?

[2021-01-24 10:51] silene commented on #81261
We did that for CompCert and it was definitely painful, yet CompCert does not even support that many architecture, compared to Rust and LLVM. And the pain was not due to formal verification, because this part cannot be verified anyway. It was a matter of deciphering the (incorrect) documentation of hardware constructors, writing a bazillion of tests to understand what the hardware actually does un

[2021-01-24 11:06] petrochenkov commented on #81321
Closing as a duplicate of https://github.com/rust-lang/rust/issues/59998.

[2021-01-24 11:06] #81321 closed

[2021-01-24 11:08] petrochenkov commented on #78737
Closing as a duplicate of #59998.

[2021-01-24 11:08] #78737 closed

[2021-01-24 11:10] osa1 commented on #81321
That issue says "on non-Linux", but I can reproduce the current issue on Linux, so I'm not sure this a duplicate of #59998.

If it is then perhaps the description of #59998 should be updated.

[2021-01-24 11:11] RalfJung commented on #75461
With https://github.com/rust-lang/rust/pull/80579 having landed, promoteds in functions cannot fail to evaluate, so a lot of this can be simplified by quite a bit. :)

[2021-01-24 11:12] angelsl opened #81326 "Function works but non-capturing closure with identical signature fails with strange error"
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fa03b490468a535015d89f35303f5b81)

I'm trying to use the [solution suggested for a separate problem here](https://www.reddit.com/r/rust/comments/jilk5x/hrtb_take_async_callback_accepting_reference_as/).

The solution works with a coerced function item, but not a closure that is virtually identical.

---

[code]

[2021-01-24 11:12] angelsl commented on #81326
This may or may not be the same issue as #70263.

[2021-01-24 11:18] petrochenkov commented on #81321
Yeah, if panics produced by proc macro server turn into ICEs, then it's #59998, regardless of targets.
Could you leave a comment there documenting your case?

[2021-01-24 11:33] osa1 commented on #75439
I was able to repro this today (85e355ea9bd).

[2021-01-24 11:41] leonardo-m opened #81329 "[ER] Smarter error handling in struct destructuring assignment"
This is a diagnostic enhancement request. In this code there's a simple bug, the destructuring assignment is done by mistake on Bar (that is not defined) instead of Foo:

[code]

f is of type Foo so the compiler can infer that probably Bar should be replaced by a Foo (also because the fields on the left of the destructuring assignment match correctly with the fields of Foo), so I'd like rust to su

[2021-01-24 11:59] tesuji opened #81330 "[rustdoc] Remove query component from URL by pressing ESC"
mdbook v4.6+ has a feature that pressing ESC removes query components from URLs (for example `?highlight=...`).
The feature was implemented in rust-lang/mdBook#1427.

 It would be nice if rustdoc offers the same kind of that feature.

This is, for example, an URL that contains query components in rustdoc: https://doc.rust-lang.org/nightly/std/time/struct.Duration.html?search=asdfasdf.

### What's

[2021-01-24 12:03] lzutao commented on #81330
@GuillaumeGomez, could you share some thoughts about this feature request?
If possible, could you mentor contributors how to implement this ?

[2021-01-24 12:17] RalfJung commented on #76618
@oli-obk @ecstatic-morse what is left to be done here? The checklist in the original issue only has one unchecked item, which says "list needs completing"... ;)

[2021-01-24 12:28] glaubitz opened #81334 "Many tests failing with "Couldn't compile the test" on 32-bit PowerPC with 1.49 beta"
Since 1.49 beta, many tests fail on 32-bit PowerPC with the error that the test could not be compiled:

[code]

I have not bisected the issue yet.

Full log in: https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=powerpc&ver=1.49.0%7Ebeta.4%2Bdfsg1-1%7Eexp1&stamp=1611482142&raw=0

CC @jrtc27 @infinity0 @smaeul @mator

[2021-01-24 12:34] #81196 closed

[2021-01-24 12:38] GuillaumeGomez commented on #81330
I think it's a good idea. Gonna take a look at how to do it.

[2021-01-24 13:36] bjorn3 commented on #81334
I am seeing a lot of signal 4 (SIGILL) errors in the build log.

[2021-01-24 13:39] glaubitz commented on #81334
Ah, that reminds me of one bug in LLVM: https://bugs.llvm.org/show_bug.cgi?id=46683

I'll check whether this one fixes it: https://github.com/llvm/llvm-project/commit/a5d161c119d5a03c1ce834c6f4ce2576d6a064e4

[2021-01-24 13:43] jyn514 commented on #81311
I looked around in the source a bit - this should have been generated around https://github.com/rust-lang/rust/blob/72c7b7026742766998655eba95fca984046c0288/src/librustdoc/html/render/mod.rs#L1741, so I expect the issue is that https://github.com/rust-lang/rust/blob/72c7b7026742766998655eba95fca984046c0288/src/librustdoc/html/render/mod.rs#L1650 is returning `None` for some reason.

[2021-01-24 13:45] LHolten opened #81336 "Argument lifetimes appear to not be automatically shortened to those of a local variable"
I tried this code:
[code]
And this code:
[code]

I expected both snippets to be equivalent and compile.
Instead, only the second snippet compiles and the first one complains that `val` does not live long enough:
[code]

It seems as if the lifetimes of arguments are not shortened to those of a local variable.

To me this seems to be a compiler bug, because intuitively arguments are a subset of the

[2021-01-24 13:50] ojeda commented on #81317
pub trait P {
        type I: Into<u64> + Into<S>;
    }

    pub struct S;

    pub trait A<B> {
        fn m(self, _: B) -> S;
    }

    impl A<S> for S {
        fn m(self, _: S) -> S {
            todo!()
        }
    }

    impl A<&'static S> for S {
        fn m(self, _: &'static S) -> S {
            todo!()
        }
    }

    pub fn f<T: P>(i: T::I) {
        let _ = S.m(i.into());

[2021-01-24 14:26] osa1 commented on #79047
Is it really the same issue? My understanding is the `SizeOf` issue is a type error (as the argument's `Sized` bound is not satisfied), but the transmute error is caught not by the type checker, but rather it has its own check in

https://github.com/rust-lang/rust/blob/85e355ea9bd86ac6580a5d422a65dbf689845808/compiler/rustc_passes/src/intrinsicck.rs#L71-L124

So I think it's possible that we have

[2021-01-24 14:27] Skgland commented on #81317
Could this be related to #80816?

[2021-01-24 14:34] sfackler commented on #74442
I'd like to be able to use this in the log crate to correctly implement a codegen optimization that doesn't really work otherwise: https://github.com/rust-lang/log/pull/446

@rfcbot fcp merge

[2021-01-24 15:01] gymore-io commented on #81322
@egilburg I'm not sure to understand very well what you think meant about `and_err`. Regarding `Option::swap`, I think it maps pretty well to `Result::swap` (assuming you wanted to say that it would map `None` to `Some` and `Some` to `None`). In my opinion however, I find it a bit more confusing because it is giving a slightly different semantic to `swap`. That may or may not be something we want

[2021-01-24 15:08] HeroicKatora opened #81340 "Rustdoc json: Associated constants in impl have wrong representation"
This affects rustdoc json output

[code]

I expected to see this happen: The constant in the first impl is printed with `ItemEnum::Constant`, the type and constant declaration in `EasyToImpl` with `ItemEnum::{AssocTypeItem, AssocConstItem}`, and the corresponding type definition in the second impl with `ItemEnum::{Typedef, Constant}`.

Instead, this happened: The constant definitions in both impls

[2021-01-24 15:18] jyn514 commented on #81336
This looks correct to me actually - if you pass in a `&u64` it by definition must live longer than the lifetime of the function. So when you try to push the local variable, it has a shorter lifetime than the arguments already in the vec and the compiler gives an error. When you set the vec to a local variable, the compiler can assume the lifetimes of the &u64 it contains don't have to live longer

[2021-01-24 15:26] rust-highfive opened #81341 "`miri` no longer builds after rust-lang/rust#81250"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#81250, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @sivadeilra, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-01-24 15:32] RalfJung commented on #81341
Yeah I expected that PR to break Miri.^^ I'll look into it.

[2021-01-24 15:34] RalfJung commented on #79047
Well, maybe not exactly the same issue, but something very similar at least.

[2021-01-24 15:39] Veykril commented on #81322
Is this addition pulling its weight though? This Result-swapping can already be done via `result.map_or_else(Ok, Err)`. Result already has quite a lot of methods as is.

For the Option version this doesn't work as nicely as `Option::None` isn't considered a callable, `result.map_or_else(|| None, Some)`.

[2021-01-24 15:41] glaubitz commented on #81334
Debian's LLVM 11 package (```llvm-toolchain-11```) already contains the fix, so it can't be this.

I'm trying to bisect this now in the Rust compiler itself but I just stumbled into the problem that a cross build no longer builds a full stage2 compiler with the std compiler which can be used on the target system, so I will first have to figure out what changed in Rust here.

[2021-01-24 15:51] Skgland commented on #81317
searched nightlies: from nightly-2020-10-01 to nightly-2020-11-14
regressed nightly: nightly-2020-10-07
searched commits: from https://github.com/rust-lang/rust/commit/a1dfd2490a6cb456b92e469fa550dc217e20ad6d to https://github.com/rust-lang/rust/commit/98edd1fbf8a68977a2a7c1312eb1ebff80515a92
regressed commit: https://github.com/rust-lang/rust/commit/08e2d4616613716362b4b49980ff303f2b9ae654 (#7390

[2021-01-24 15:51] jonas-schievink commented on #81336
This is expected behavior and happens due to the destructor order. Local variables are dropped before arguments, and arguments are dropped from right to left, so in the first function, `val` is dropped before `vec`, which would create a dangling pointer, so it doesn't compile. In the second snippet, the local variable `vec` is dropped first, so it compiles.

[2021-01-24 15:51] #81336 closed

[2021-01-24 15:53] bjorn3 commented on #81334
You can pass `--stage 2` to `./x.py`. The default changed to `--stage 1`.

[2021-01-24 15:54] LeSeulArtichaut commented on #81311
Rustdoc successfully generates an `[src]` link for `Bar`:
[code]

[2021-01-24 15:54] glaubitz commented on #81334
Thanks, that's what I guessed already, I just couldn't find the change in the vast amount of other changes ;).

[2021-01-24 15:56] bluss commented on #81261
With float arithmetic not being stable in `const fn`, Rust could conservatively disable const eval for any float expression containing non-finite values - or is there a reason this can't work (? stable `const` expressions might be a problem).

[2021-01-24 15:57] bjorn3 commented on #81334
https://blog.rust-lang.org/inside-rust/2020/08/30/changes-to-x-py-defaults.html: https://github.com/rust-lang/rust/pull/73964

[2021-01-24 16:01] tmiasko commented on #49147
Not checking for drop has an additional effect that enabling this feature gate changes the semantics of programs that already compile successfully:

[code]

[2021-01-24 16:02] gymore-io commented on #81322
Righteously pointed by [this comment](https://github.com/rust-lang/rust/pull/81323#issuecomment-766361396), this whole `Result::swap` thing is basically a less clear version of what [`try_trait_v2`](https://github.com/rust-lang/rfcs/pull/3058) aims to achieve with some of its traits/structures. I'm closing this issue.

[2021-01-24 16:02] #81322 closed

[2021-01-24 16:07] LeSeulArtichaut commented on #81311
`rustc_data_structures::fx::FxHashMap` probably doesn't work because it's a reexport from `rustc_hash` which is not documented in the published nightly-rustc docs.

By contrast, [`FxIndexMap`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_data_structures/fx/type.FxIndexMap.html), which is defined directly in `rustc_data_structures`, has a `[src]` link.

[2021-01-24 16:11] RalfJung commented on #81261
Well, float arithmetic is promoted to `'static` lifetime on stable though and the result, computed by CTFE, is observable... and when I tried to forbid that crater found various users.

And the ConstProp pass might also be doing float arithmetic. That said, since the LLVM optimizer has the same behavior, it will change little to just disable this part of the rustc optimizer.

[2021-01-24 16:13] LeSeulArtichaut commented on #81311
The following does reproduce the bug:

#### a/lib.rs
[code]

#### b/lib.rs
[code]

Here, both `Foo` and`Bar` will appear without an `[src]` link, so this is not an issue with type aliases but with the way external sources are handled.

What could be done instead is having an `[src]` pointing at the re-export instead of having no link, unsure if that sounds good, @camelid what do you think?

[2021-01-24 16:13] jyn514 commented on #81311
Hmm, maybe rustdoc should fall back to showing the re-export if the original definition isn't available.

[2021-01-24 16:14] RalfJung commented on #49147
@tmiasko ouch...

I am more and more convinced we should do what @oli-obk suggested: remove `const_in_array_repeat_expressions` and the corresponding code in promotion, and rely on `const` blocks instead.

[2021-01-24 16:27] cevans-uk opened #81342 "Addition of Option<NonZero*> can compile suboptimally"
I'm fairly certain `foo` and `bar` are equivalent (though let me know if I'm overlooking something!):

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=062f1d6b46290a8dbf5b453ad7c10025))

but the compilation of `bar` seems suboptimal (current stable, 1.49.0):

[code]

Same result with 1.51.0-nightly (2021-01-23 4d0dd02ee07bddad9136).

In particular, t

[2021-01-24 17:24] osa1 commented on #81247
I'm not sure if this is a good idea, but I submitted #81345 implementing this.

[2021-01-24 18:07] jonas-schievink opened #81347 "CMSE features should check ABI conformance in rustc, not LLVM"
Using `#[cmse_nonsecure_entry]` on a function limits its capabilities. Namely, only up to 4 32-bit arguments can be accepted, and none of them may be passed on the stack. The same is true for the `"C-cmse-nonsecure-call"` ABI.

Currently, this is checked in LLVM, so the user experience is sub-par, and the check happens very late (during codegen instead of type checking). It should be checked in ru

[2021-01-24 18:32] jyn514 opened #81348 "Track memory usage with -Z self-profile"
RSS is only tracked with time-passes, not self-profile, so making an event less verbose can actually lose information. It would be nice to have an opt-in way to record memory usage with `-Z self-profile-events`.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/issues/81284#issuecomment-766363831_

[2021-01-24 18:49] BurntSushi commented on #74442
This SGTM. One question though. Are we sure that the `'static` bound will always be correct here?

[2021-01-24 18:52] m-ou-se commented on #74442
`fmt::Arguments` is the result from parsing a formatting string at compile time. In the future, this might not always be a literal but might be a `const` too. But a non-static/constant format string will be a very different beast.

[2021-01-24 18:54] aDotInTheVoid commented on #80664
@rustbot modify labels +A-rustdoc-json

[2021-01-24 18:54] BurntSushi commented on #74442
That's what I figured, but wanted to make sure it was explicitly addressed.

[2021-01-24 19:22] sivadeilra commented on #81341
I'll take a look.

[2021-01-24 19:30] sivadeilra commented on #81341
Is there a failed CI job that I can look at?

[2021-01-24 19:33] bstrie commented on #66145
With the edition coming up, has there been discussion about turning lint this into deny-by-default for users of the 2021 edition? Obviously adding a hypothetical `impl IntoIterator for [T; N]` would affect all editions, but having this pattern be denied in a new edition would be a gradual step toward making that transition gracefully. This is especially relevant now that min_const_generics will be

[2021-01-24 19:36] Aaron1011 commented on #81321
This is not really the same as https://github.com/rust-lang/rust/issues/59998. That issue occurs when a proc-macro explicitly tries to create an invalid `Ident`. However, this issue occurs when a proc-macro just tries to recollect the input tokens. The `TokenStream` that we pass to the proc-macro is not really valid, but the actual panic gets delayed until we actually try to convert the invalid ru

[2021-01-24 19:38] RalfJung commented on #81341
Thanks for the offer! However, this will be much easier to do with some Miri experience, so in the interest of getting Miri to work again ASAP, it's probably better if I do it.

[2021-01-24 19:41] Aaron1011 commented on #81321
This has some conceptual similarities to https://github.com/rust-lang/rust/issues/76360#issuecomment-687639790. In both cases, we need to decide how to pass a `TokenStream` to a proc-macro after some form of recovery has taken place (parsing a syntactically invalid attribute target, or creating an invalid raw identifier).

[2021-01-24 19:42] camelid commented on #81311
Yeah, that seems good.

[2021-01-24 19:46] Aaron1011 commented on #76360
The pretty-print/reparse check has been removed on the latest Nighty, leading to a better error message:

[code]

However, we should still come to a decision about whether or not proc-macros should be invoked when we've managed to recover a syntactically invalid attribute target.

[2021-01-24 20:04] oxalica commented on #28728
The upstream issue is marked as fixed now. https://bugs.llvm.org/show_bug.cgi?id=965

[2021-01-24 20:15] bstrie commented on #28728
Is there an LLVM bug to track this issue? (I presume it's not something rustc can address on its own?)

Also, if this issue were fully addressed, would we want to revert #77972? If so, that would be worth tracking somewhere. Even though it appears to cause no noticeable regressions, not doing unnecessary work seems valuable.

[2021-01-24 20:20] SimonSapin commented on #66145
This won’t help with dependencies in the way https://github.com/rust-lang/rust/issues/71249 would since current versions of these dependencies will still have a previous edition, but this still sounds like a good step.

[2021-01-24 21:41] jstarks opened #81357 "File implementation on Windows has unsound methods"
`File`'s `read`, `write`, `seek_read`, and `seek_write` all have soundness issues in Windows under some conditions. In the below, I describe the problem and possible fixes for `seek_read` and `read`; the same problems and solutions apply to `seek_write` and `write`.

## seek_read

Using `std::os::windows::fs::OpenOptionsExt::custom_flags`, we can open a `File` with `FILE_FLAG_OVERLAPPED`, which is

[2021-01-24 22:20] nikic commented on #28728
This issue is fixed by https://reviews.llvm.org/D95288. There might be more places with problematic assumptions, but at least I'm not aware of any.

We shouldn't revert that yet as Rust also supports older LLVM versions, but we can limit sideeffect insertion to older versions at least.

[2021-01-24 22:40] CraftSpider opened #81359 "[rustdoc-json] Output is currently under-tested"
Currently, the output of rustdoc's JSON backend has very few tests, which only assure some of the most simple functionality. It would be nice to at least have tests for basic forms of each item, as well as any known issues. A quick list of things not really tested (non-exhaustive):

- [ ] Impls
- [ ] Associated Items
- [ ] Consts/Statics
- [ ] Extern items (all forms)
- [ ] Macros
- [ ] Types

It

[2021-01-24 22:45] andersk commented on #24479
An especially bad side effect is that, when this happens in a test, the test doesn’t always fail.

[code]

[code]

The exit status of `cargo test` is either 0 or 101 nondeterministically, and seems to be more likely to be 0 in a large project, which means that the bug that caused this panic can easily remain uncaught.

[2021-01-24 23:10] Aaron1011 commented on #58781
What's the current status of this issue?

[2021-01-24 23:13] camelid commented on #81315
This ICE first appeared in 1.42, but this code first started ICEing (with a slightly different message) in 1.41.

@rustbot label: regression-from-stable-to-stable

[2021-01-24 23:17] camelid commented on #81315
Minimized:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=72b7f0abadf4da0d3052ed9fd4db956b))

Errors:

[code]

Doesn't require `const fn`:
@rustbot label: -A-const-fn

[2021-01-24 23:18] maboesanman commented on #70530
As it is now the documentation makes no claims about the order of the events returned from the iterator. Is this intended? having this iterator return in sorted order, or even returning a double ended iterator similar to range could be pretty useful.

[2021-01-24 23:21] ssomers commented on #70530
It's not intended not to be made, this claim…  I mean, I forgot to mention that, because it's guaranteed to come in ascending order.

[2021-01-24 23:23] maboesanman commented on #70530
it's certainly worth documenting that, but I also think it's worth making this into a double ended iterator.

[2021-01-24 23:25] ssomers commented on #70530
Making it double ended is something I never thought about, but it's guaranteed to work. Not sure about the same for `drain_filter`, but that doesn't matter here.

[2021-01-24 23:26] ssomers commented on #70530
Oh wait, sorry, I though this was the `drain` tracking issue…

[2021-01-24 23:31] sivadeilra commented on #81341
Oh, certainly. I spent some time trying to learn how to get Miri building and running, which I have always wanted to do, anyway.

Here's my first attempt at fixing it:

https://github.com/sivadeilra/miri/commit/d2ebf4b6e355c16c793b37603c64faaa743a078e

Pretty obvious stuff, I guess.

[2021-01-24 23:34] ssomers commented on #70530
It's definitely not easy to make `drain_filter` double-ended, and almost definitely possible. I wonder why though.  Unlike iterators and `range`, `drain_filter` does not allow shortcutting, stopping when you've reached the elements you were interested in. You have to see the whole collection through, front to back. So by querying the length up front, it seems to me you can easily do the same thing

[2021-01-24 23:39] matthewjasper commented on #58781
It's still blocked on #57374 and #73154. I've started working on #57374.

[2021-01-25 00:37] Shizcow commented on #64650
I have found a fairly minimal way to reproduce without external dependencies, and several useful observations.

This is the reproduction code:
[code]

The above yields the following error:
[code]

Replacing the generic `Ret` with `&str` __does__ let the code compile, but I have some more observations that more naturally lead to this conclusion. Besides, non-generic fn return parameters aren't fun!

[2021-01-25 01:11] wesleywiser commented on #81208
Re-opening because this still affects beta.

[2021-01-25 01:38] ryankurte commented on #41775
huh, seems broken with the `atsamd` hal too, did you find anything else about this @korken89 ?

[2021-01-25 01:49] detly commented on #68184
I am currently wading through the documentation on [Box](https://doc.rust-lang.org/std/boxed/struct.Box.html) and almost **every** method is nightly-experimental. It is extremely hard to simply see the stable part of the API. I would love a way to switch this off and just focus on what I need.

(In other words, a checkbox to hide the blocks of nox would help the docs on Box not flummox.)

[2021-01-25 01:59] #71212 closed

[2021-01-25 01:59] #79436 closed

[2021-01-25 01:59] #71291 closed

[2021-01-25 01:59] #76788 closed

[2021-01-25 01:59] #80777 closed

[2021-01-25 01:59] #81319 closed

[2021-01-25 02:15] Aaron1011 opened #81365 "Accessing fields through a `Deref` impl leads to confusing error messages"
The following code:

[code]

causes the following error message:

[code]

This error is caused by the fact that `&self.target_field` does through the `Deref` impl on `Container`. As a result, `&self` is borrowed, not just the desired field. Changing this line to `let first = &self.target.target_field` makes the code compile.

However, the error message doesn't explain any of this. It claims that t

[2021-01-25 02:24] Mark-Simulacrum commented on #80988
I *think* nominated label was just leftover, this seems on track for closing with fcp to close. In any case there will be some opportunity for discussion via https://github.com/rust-lang/rust/issues/81218 if necessary

[2021-01-25 02:34] Mark-Simulacrum commented on #81218
This is a regression because previously the "lowering forbid" lint did not actually detect lint groups as being forbidden, i.e., the allows within the derive or elsewhere would be silently accepted and used. Derive was not previously (or currently) treated in any special way for the forbid handling specifically.

This issue intends for the lang team to decide what to do with this. We have a number

[2021-01-25 02:39] Mark-Simulacrum commented on #80501
@Nadrieril I did some experimentation, but wanted to confirm with you that we believe this one (unlike a previous similar sounding issue) is not a soundness bug, as we cannot actually remove the claimed-unreachable pattern in any case, right?

[2021-01-25 02:43] Mark-Simulacrum commented on #81211
@craterbot run start=master#7d3818152d8ab5649d2e5cc6d7851ed7c03055fe end=master#edeb631ad0cd6fdf31e2e31ec90e105d1768be28 mode=check-only

This should hopefully give us some sense of the breakage caused by the rollup here, hopefully the majority of which is down to #80765.

[2021-01-25 02:48] Mark-Simulacrum commented on #81211
@pnkfelix -- one thing that this makes me think would be an excellent outcome is to eventually write up, perhaps on that reference page, an explicit hierarchy of what is checked/reached first, at least for 2-3 autoref/deref steps or so.

[2021-01-25 03:03] camelid commented on #81329
I think this would be tricky to implement because name resolution happens before type-checking, so the compiler doesn't know what `f`'s type is.

[2021-01-25 03:04] camelid commented on #81253
Just to clarify, the issue is that an optimization is only applied in some cases? This doesn't have the potential to causes bugs, right?

[2021-01-25 03:04] camelid commented on #81253
Actually I think `while` loops are potentially simpler to analyze since `for` loops are just sugar for iterators.

[2021-01-25 04:34] dylni opened #81368 "[1.38] Regression: missing unused import warning"
### Code

I tried this code:

[code]

I expected to see this happen: *The code compiles with a warning about the import being unused.*

Instead, this happened: *The code compiles with no warnings.*

### Version it worked on

It most recently worked on: Rust 1.37

### Version with regression

`rustc --version --verbose`:
[code]

[2021-01-25 04:35] dylni commented on #81368
@rustbot modify labels: +regression-untriaged

[2021-01-25 04:37] dylni commented on #81368
This is old, so I-prioritize is likely not relevant. Will this work?

@rustbot modify labels: -I-prioritize

[2021-01-25 05:26] ankushduacodes commented on #81314
@camelid I was following the rustc-dev-guide but I am having some issues, the issue is with the following step:
[Creating a rustup toolchain](https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html#creating-a-rustup-toolchain) I didn't create build/<platform>/stage2/ directory for me.

[2021-01-25 05:40] martindemello opened #81370 "Improve error reporting for #![feature(...)] in the wrong place"
I spent a while wondering why I was getting this error
[code]

even when I added `!#[feature(array_map)]` to the top of my file, and even when the same thing was working fine in `main.rs`. I finally found [this stackoverflow post](https://stackoverflow.com/questions/27454761/what-is-a-crate-attribute-and-where-do-i-add-it) and [this reddit thread](https://www.reddit.com/r/rust/comments/2p4yuj/how_

[2021-01-25 06:13] estebank commented on #81329
@camelid we already have some cases where we keep error metadata stashed in the `Session` for use in a later stage. Doing this in `rustc` is feasible, if a lot of work, for maybe too little gain _in this case_, but if we find other uses for this then it would likely be worth it. I don't know if doing it _only_ for this case is (but I won't stop someone from coming up with a PR that does it).

[2021-01-25 06:15] estebank commented on #81314
For working on this you won't need stage 2, stage 1 will suffice.

[2021-01-25 06:23] #81273 closed

[2021-01-25 06:24] estebank commented on #76168
Another repro from #81273:

[code]

[2021-01-25 06:32] ehuss commented on #81368
I believe this is working as intended.  `use std::clone::Clone;` imports both the trait and the derive macro (which lives in different namespaces).  Thus the `#[derive(Clone)]` is using the derive that you imported, not the one in the standard library prelude (it is shadowed by the import).  They are one in the same, but you could also write `use my_derive_macro::Clone;` and it would use a differe

[2021-01-25 07:00] ehuss commented on #81370
I think there are two issues here.  One is that the error message could provide more information.  It does say `the crate attributes` which can only appear in the root of the crate. However, it would probably be clearer if it could tell you *where* that is.

The other issue is that the `feature` attribute position is not validated (it seems to be silently ignored anywhere but the root).  That shou

[2021-01-25 07:08] ehuss commented on #69365
Closing since `#![inline]` now results in an error (or warning in some cases) when used in the wrong position (via #73461 and #76329), and #80641/#80920 are plugging up the last few holes.

[2021-01-25 07:08] #69365 closed

[2021-01-25 07:31] ChaiTRex opened #81371 "Feature request: show rustc_const_unstable in generated documentation"
**Describe the problem you are trying to solve**

I looked at [the documentation for `core::mem::variant_count`](https://doc.rust-lang.org/core/mem/fn.variant_count.html). It does mention that the function is nightly-only:

(`variant_count` [#73662](https://github.com/rust-lang/rust/issues/73662))

It misleadingly doesn't mention that `const fn` can also be enabled on nightly, which requires openi

[2021-01-25 07:46] ehuss commented on #81371
Transferred to rust-lang/rust, as that is where rustdoc lives (which generates the documentation).

[2021-01-25 07:53] korken89 commented on #41775
@ryankurte unfortunately not, the issue persists.

[2021-01-25 07:53] leonardo-m commented on #81253
Right, that's why I didn't tag this issue as Bug. It's an enhancement request, in practice. But it may show some troubles in how Rustc handles loops.

I see, you're right, thank you.

[2021-01-25 07:53] xiamuguizhi commented on #53330
解决办法：

下载安装 visualcppbuildtools_full.exe

下载链接在这：https://download.microsoft.com/download/5/f/7/5f7acaeb-8363-451f-9425-68a90f98b238/visualcppbuildtoo

[2021-01-25 08:56] #76618 closed

[2021-01-25 09:49] tmiasko opened #81373 "Derived PartialOrd is incorrect when inner values are unordered"
In the derived `partial_cmp` the comparisons stops when inner `partial_cmp` returns
`None`. The implementation for `lt`, `le`, `gt`, `ge` are also provided, but they
continue the comparisons instead as if compared values were considered equal.

This behaviour is also inconsistent with the implementation for tuples / slices:

[code]

[2021-01-25 10:09] weiznich opened #81374 "Mixed type parameter names shown if a type-def from a third party crate is used"
I tried this code:

[code]

I expected to see an error message pointing out that I need to specify the type of `t` because of the definition of `load()` is generic. This could either point at `t` saying that it needs to know the type of this variable or the generic parameter for `load` saying that the user could specify that there as `.load::<SomeTypeHere>()`.

Instead, I got a "confusing" error m

[2021-01-25 10:15] tmiasko commented on #81278
This test case generates almost 8GB of incremental cache data, while the current implementation appears to support only 4GB due to the use of u32 for file offsets.

The deeply nested closures in PartialOrd would be my first suspect after looking at the logs and either way it seems like a low hanging fruit in terms of possible improvement. @dotdash is this something you are planning to change maybe

[2021-01-25 10:18] osa1 commented on #81278
Shouldn't this cause "add with overflow" etc. errors in the compiler? Or do we also explicitly allow overflows/underflows when computing file offsets?

[2021-01-25 11:13] vandenheuvel opened #81376 "Conflicing implementation through specialized default implementation"
In the following scenario, a local trait is default-implemented for a collection of types and once for a specific type.
[code]
This gives the error
[code]
Without the `default` keyword, the error makes sense: there would be a conflicting implementation if `num::One` were implemented for `NonZeroU64` in the `num` crate. We however know that our `impl Trait1 for NonZeroU64` implementation will alway

[2021-01-25 11:15] pickfire opened #81377 "rustdoc wrap code block"
![Screenshot_2021-01-25-19-12-55-089_org mozilla firefox](https://user-images.githubusercontent.com/4687791/105698908-8d1e0580-5f41-11eb-9eb1-acc0e0cb1084.jpg)

Firefox mobile

[2021-01-25 11:38] mbartlett21 commented on #81270
Duplicate of #78459?

[2021-01-25 11:38] 1000teslas commented on #81365
@rustbot claim

[2021-01-25 11:59] mbartlett21 commented on #81317
An alternate reduction:
[code]

[2021-01-25 12:15] pietroalbini opened #81378 "Compiling cargo fails during PGO profiling"
We're currently not using lockfiles during PGO profilings, and Cargo just broke with the latest serde version. Error message:

[code]

[2021-01-25 12:29] pietroalbini commented on #81378
Found the cause: building cargo for PGO profiling doesn't use the monorepo's lockfile, and since Cargo itself doesn't have any lockfile there are no locked dependencies during the PGO profiling build.

[2021-01-25 12:32] pietroalbini commented on #81378
cc @rust-lang/cargo

I'm going to fix this on Rust CI's side by using the monorepo's lockfile when building Cargo for PGO profiling, but you probably want to report the serde regression upstream.

[2021-01-25 12:57] MarnixKuijs opened #81381 "Unresolved LLVM symbols when linking rustc_driver."
The linking of `rustc_driver` will fail when using a custom llvm through the `llvm-config` setting in the `config.toml`.

### Meta

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-01-25 13:20] Skgland commented on #81317
@mbartlett21 that does not appear to be a valid reduction as it does not work on 1.48 for me

[2021-01-25 13:20] LukasKalbertodt commented on #53485
Whether or not to add/stabilize `is_sorted_by_key` is only about the `Iterator` method, not the slice method. Since you mentioned `Vec`, I assume you referred to `[T]::is_sorted_by_key` and your point does not apply anymore to the `Iterator::is_sorted_by_key` discussion. Is that correct? If I'm wrong, could you explain why you would prefer `iterator.is_sorted_by_key(...)` over `iterator.map(...).i

[2021-01-25 13:37] Nadrieril commented on #80501
@Mark-Simulacrum Agreed, this is not a soundness bug. The soundness-relevant code is independent of those `Span` shenanigans.

[2021-01-25 13:49] ojeda opened #81383 "Tracking Issue for `option_result_unwrap_unchecked`"
Feature gate: `#![feature(option_result_unwrap_unchecked)]`

This is a tracking issue for the unchecked variants of `unwrap()` and `unwrap_err()` of `Option` and `Result`.

These are unsafe functions intended to be used in hot paths of performance sensitive applications where the variant an `Option`/`Result` holds is known, allowing to skip the branch that the safe version introduces. They complem

[2021-01-25 14:03] Skgland commented on #81317
[code]
this reduction works for me and without changing the error message as with ojedas reduction

[2021-01-25 14:56] jrmuizel commented on #54878
A fix for the LLVM bug has now landed.

[2021-01-25 15:01] hameerabbasi commented on #81274
Removed `I-prioritize` since this was fixed.

[2021-01-25 15:04] hameerabbasi commented on #81373
Assigning `P-high` as discussed [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381373.20Derived.20PartialOrd.20is.20incorrect.20when.20inner.20values.20ar.E2.80.A6).

[2021-01-25 15:11] tmiasko commented on #81278
With changes from #81384 that remove problematic closures from PartialOrd, the size of incremental directory is reduced from ~8GB to ~2MB.

There is a debug assertion plus an unchecked `as` cast, but based on this report I would say this deserves to be checked in release mode as well (maybe once at the end?).

[2021-01-25 15:22] jyn514 commented on #81381
@MarnixKuijs that looks like a version mismatch in the c++ standard library. Try updating your version of MSVC build tools.

[2021-01-25 15:31] #81378 closed

[2021-01-25 15:51] c410-f3r commented on #53667
Just to make it official

@rustbot claim

[2021-01-25 16:00] xfix commented on #81357
This issue feels very similar to `std::os::unix::process::CommandExt::before_exec` in that we have an interface marked as safe interfacing with an operating system that is actually unsound.

I think exposing options directly was a mistake. I would suggest deprecating `custom_flags` and exposing the file opening functionality in a more controlled way that allows individually setting each flag with

[2021-01-25 16:00] MarnixKuijs commented on #81381
My MSVC build tools are the latest:

[code]

One problem that I faced was [this](https://developercommunity.visualstudio.com/content/problem/1162322/inconsistent-behavior-between-llvm-and-std-impleme.html). Which I circumvented by commenting out `#define HAVE_STD_IS_TRIVIALLY_COPYABLE` in `llvm-10.0.0\include\llvm\Config\config.h`, but I find it highly unlikely that that would cause the problem. T

[2021-01-25 16:28] pnkfelix commented on #81296
This could be happening because `WEAK_ITEMS_REFS`, declared here:

https://github.com/rust-lang/rust/blob/84864bfea9c00fb90a1fa6e3af1d8ad52ce8f9ec/compiler/rustc_hir/src/weak_lang_items.rs#L15

is being traversed here:

https://github.com/rust-lang/rust/blob/84864bfea9c00fb90a1fa6e3af1d8ad52ce8f9ec/compiler/rustc_passes/src/weak_lang_items.rs#L62-L72

and thus we get non-determinism in the output.

[2021-01-25 16:31] pnkfelix commented on #81296
cc #63713

[2021-01-25 16:31] alexcrichton opened #81386 "Breaking change in wasm32-unknown-unknown's ABI on nightly"
Some tests in the wasm-bindgen project have started failing in nightly, and bisection points to https://github.com/rust-lang/rust/pull/80594 as the culprit. The minimization of this looks like:

[code]

where before this compiles as:

[code]

[2021-01-25 17:02] jstarks commented on #81357
I'm not so sure. I think there are reasonable Rust programs, perhaps yet to be written, that will necessarily want to accept file handles from untrusted sources, possibly controlled by an attacker, via some IPC mechanism. A reasonable thing for such a program to do would be to take the handle and create a `File` from it using `from_raw_handle`. If an attacker can cause memory corruption in the tar

[2021-01-25 17:42] bjorn3 commented on #81386
That must have been a93dace55c588badca5475de570e45063deaf0be. This all types with `Abi::Aggregate` to become `PassMode::Indirect`. Later abi adjustments could then turn it into `PassMode::Cast` as necessary. I thought abi adjustments would never leave the dummy `PassMode::Direct` in place for `Abi::Aggregate`, but it seems not for wasm. I don't think this should ever happen as it will cause LLVM t

[2021-01-25 17:51] bjorn3 commented on #81386
#81388 will hopefully fix this.

[2021-01-25 17:58] nikic commented on #80309
This was later fixed by https://reviews.llvm.org/D93820.

[2021-01-25 17:58] RalfJung commented on #35836
FWIW, there was [another comment](https://github.com/MicrosoftDocs/win32/pull/218#issuecomment-766982764) on the docs issue, that confirms that Rust is using SRWLocks correctly.

[2021-01-25 18:15] jfrimmel commented on #81270
No, not really a duplicate (but possibly related). This issue and the linked one have completely different backtraces.

[2021-01-25 18:15] RalfJung commented on #80309
So can we cherry-pick that into the rustc LLVM fork, or what is the usual process?

[2021-01-25 18:28] #81341 closed

[2021-01-25 18:35] hameerabbasi commented on #81386
Assigning `P-high` as discussed [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381386.20Breaking.20change.20in.20wasm32-unknown-unknown's.20ABI.20on.20n.E2.80.A6).

[2021-01-25 18:57] luser commented on #79562
Opening an issue would be a good start, but the project is a bit under-maintained right now so it's likely that doing the work yourself would be the quickest path to success. I'd be happy to give you pointers on how to implement it. I'm on the Rust Discord as `tedmielczarek`, feel free to drop me a line.

[2021-01-25 19:20] hug-dev opened #81391 "Tracking Issue for the cmse-nonsecure-call ABI"
This is a tracking issue for the PR #81346.
The feature gate for the issue is `#![feature(abi_cmse_nonsecure_call)]`.

## Description

The [TrustZone-M feature](https://developer.arm.com/documentation/100690/latest/) is available for targets with the Armv8-M architecture profile (`thumbv8m` in their target name).
LLVM, the Rust compiler and the linker are providing [support](https://developer.arm.

[2021-01-25 20:27] arzg commented on #54878
Do we know yet what kind of performance improvement is likely to result from this?

[2021-01-25 20:49] SimonSapin opened #81395 "rustdoc ICE 'Deref section without derived id'"
### Code

Original:

[code]

Minimized:

[code]

### Meta

`rustc +nightly --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-25 20:53] SimonSapin commented on #81395
When running with `RUSTDOC_LOG=trace`, the last few lines before the panic are:

[code]

`VideoFrameRef` seems relevant since it has a `Deref` impl:

[code]
[code]

[2021-01-25 21:04] pnkfelix commented on #81211
Hey @Mark-Simulacrum,  do you mean like the test that I wrote in PR #81924? Is that an example of the kind of thing you think should be added, in some fashion, to the documentation?

[2021-01-25 21:04] SimonSapin commented on #81395
Minimized:

[code]

[2021-01-25 21:08] jonas-schievink opened #81396 "Platform-specific function ABIs are not validated"
This code builds (and runs) fine on stable Rust when targeting x86_64-unknown-linux-gnu:

[code]

Other nonsensical ABIs are also accepted, including `win64`, `avr-interrupt` (with feature gate). I expected all of these to result in a compilation error, since they are unsupported on x86_64-unknown-linux-gnu.

[2021-01-25 21:10] Mark-Simulacrum commented on #81211
Yeah, perhaps as something like https://en.wikipedia.org/wiki/Partially_ordered_set#/media/File:Hasse_diagram_of_powerset_of_3.svg but I think not a Hasse diagram - basically, showing which is considered first and so forth. I guess we'd want multiple such graphs for different types of calls (e.g., if you call via method whether original type is &T, &mut T, T, or `impl Deref<target= T>`, `&impl Der

[2021-01-25 21:41] bstrie commented on #35121
The results of the crater run for Niko's prior comment are discussed a bit at https://github.com/rust-lang/rust/pull/79470#issuecomment-744388495 . I'd be curious if people who are in-the-know about the various proposed type system tweaks could comment on whether it appears that #79366 appears sufficient (it does look like less regressions than previous attempts have had) or if it can be further e

[2021-01-25 21:44] bjorn3 commented on #35121
Type inference can cross different editions using macros.

[2021-01-25 22:20] bstrie commented on #54878
@arzg When noalias annotations were first disabled in 2015 it resulted in up to 5% increased runtime in various benchmarks. A lot can change in five years, but that seems like a decent ballpark estimate of what sort of performance might result from turning this back on.

[2021-01-25 22:47] mbrubeck commented on #74007
Another case of this issue: https://users.rust-lang.org/t/why-explicit-lifetime-is-needed-in-the-following-code/54659

[2021-01-26 00:46] SNCPlay42 commented on #81395
searched nightlies: from nightly-2020-11-12 to nightly-2021-01-17
regressed nightly: nightly-2021-01-09
searched commits: from https://github.com/rust-lang/rust/commit/c8915eebeaaef9f7cc1cff6ffd97f578b03c2ac9 to https://github.com/rust-lang/rust/commit/26438b473883ea607b30288e461187f0fb2fe589
regressed commit: https://github.com/rust-lang/rust/commit/937f629535f38c655267f1ed21ce6830f592f5df

<deta

[2021-01-26 00:53] lzutao commented on #81274
[In nightly](https://doc.rust-lang.org/nightly/std/iter/trait.ExactSizeIterator.html), trait methods still rendered as `pub fn`:
![image](https://user-images.githubusercontent.com/15225902/105784480-7d3b0b80-5fab-11eb-8bd1-c35751ca63cf.png)

Is there something wrong to Rust release or the bug still exists ?

[2021-01-26 00:57] jyn514 commented on #81395
cc @jryans - do you have time to figure out what's going wrong here?

[2021-01-26 01:01] jyn514 commented on #81274
Hmm, maybe it was only fixed for items in the local crate. @lzutao do you have time to come up with an MCVE? I expect it's related to cross-crate re-exports.

[2021-01-26 01:04] lzutao commented on #81274
Your guess sounds about right. With core link (<https://doc.rust-lang.org/nightly/core/iter/trait.ExactSizeIterator.html#provided-methods>), things are normal.

[2021-01-26 01:30] matthiaskrgr opened #81403 "ICE: Encountered error .. selecting .."
### Code
code reduced slightly from ./src/test/ui/issues/issue-44005.rs, crashes with `--emit=mir -Zmir-opt-level=2`
[code]

### Meta

The ICE triggers since f4eb5d9f719cd3c849befc8914ad8ce0ddcf34ed cc @oli-obk

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-26 02:55] darconeous commented on #31844
Pardon my ignorance, but it seems rather difficult to access the current status of this feature at a glance (I'd rather not read through 300+ comments). Does this have any chance of landing sooner rather than later? The OP makes it look like it might not land for a while.

[2021-01-26 03:00] mark-i-m commented on #31844
As I understand it, this feature is unlikely to be stabilized in its current form. There is some significant design work needed to resolve soundness bugs in the interaction between lifetimes and specialization. There are some blog posts by nikomatsakis and aturon from a couple years ago about a possible design, but I'm not aware of significant progress since then.

[2021-01-26 03:41] dylni commented on #81368
@ehuss Thanks for the explanation. I didn't consider that the prelude `Clone` is a re-export, so they're not the same. The prelude could be considered as special for detecting unused imports, but I don't think that's necessary.

[2021-01-26 03:41] #81368 closed

[2021-01-26 05:47] arnabanimesh commented on #68125
I prefer `fold_first` because of the `docs` thing and also it shows that it is related to the `fold` function in some way. `fold_with_first` is unnecessarily verbose; `reduce` isn't descriptive, doesn't associate itself with `fold` and also it becomes confusing to memorize in the long run.

[2021-01-26 06:57] m-ou-se commented on #68125
@arnabanimesh See [the stabilization PR](https://github.com/rust-lang/rust/pull/79805) for that discussion.

[2021-01-26 07:47] mbartlett21 commented on #81270
Just by the way, using inline storage in an allocator is actually unsafe *unless* the impl of the `Allocator` trait is using a reference.

See the Allocator safety notes:

(Emphasis mine)

([link](https://doc.rust-lang.org/nightly/std/alloc/trait.Allocator.html#safety))

[2021-01-26 08:12] jhpratt commented on #74442
Does this make any guarantees about when `Some` is returned? I've been interested in redoing the `format_args!` macro to be much more intelligent (and thus performant), but obviously don't know when it's possible to return something statically knowable.

[2021-01-26 08:56] zserik commented on #35121
Could it be possible to temporary forbid it in macros, or alternatively just error out at invocation?

[2021-01-26 09:37] lambda-fairy commented on #77733
I don't think a blanket impl would make sense anyway, because the two traits are at different levels of abstraction (bytes vs text). The standard library tends to make encoding explicit elsewhere (e.g. `str::from_utf8`) and we should be consistent with that.

[2021-01-26 09:41] m-ou-se commented on #74442
Currently it returns Some for `format_args!("string literal")` only. But my plan is to extend that also to `format_args!("{}", "literal")`, `format_args!("{}", constant)`, and possibly also things like `format_args!("a {} b {} c", const, format_args!("..."))`, etc. See https://github.com/rust-lang/rust/issues/78356

[2021-01-26 10:04] oli-obk commented on #81403
I don't think my PR introduced this bug, afaict it just exposed the bug, because now inlining actually happens somewhere it didn't happen before. So this is likely an inliner bug.

[2021-01-26 10:11] jryans commented on #81395
Yes, I believe so, I'll see what I can do here.

@rustbot claim

[2021-01-26 11:10] roblabla opened #81408 "ACCESS_VIOLATION when dereferencing once_cell::Lazy in closure with LTO"
The code in the following repository crashes with an ACCESS_VIOLATION on Windows: https://github.com/roblabla/reproduce-boom/

To reproduce, four things are needed:

- Using LLD linker
- Building with Thin LTO
- Splitting the main binary and a library.

**EDIT:** Better reproducer can be found [here](https://github.com/rust-lang/rust/issues/81408#issuecomment-847122562).

The main.rs file:

[code]

[2021-01-26 12:23] GuillaumeGomez commented on #81395
@jryans Please ping me once you open the PR (@jyn514 is taking a break :) )

[2021-01-26 12:42] CryZe commented on #81408
The reproducer::CHANNEL symbol gets mislinked. Here's where the symbol's address gets loaded into the register:

![https://i.imgur.com/2mDT6oz.png](https://i.imgur.com/2mDT6oz.png)

If you check what's at that address, you find it's the beginning of the binary that is loaded as read only into the RAM:

![https://i.imgur.com/f175N4Y.png](https://i.imgur.com/f175N4Y.png)

which later segfaults as th

[2021-01-26 13:15] nagisa commented on #81391
What's the name of the actual underlying calling convention? Is it AAPCS? I think the extern name should contain it too somehow.

[2021-01-26 13:31] pnkfelix commented on #79560
main remaining work item we've identified is to consider adding a build of diesel to CI. I'll follow up on that.

[2021-01-26 13:37] weiznich commented on #79560
@pnkfelix I've already opened https://github.com/rust-lang/rust/pull/79599 for that a while ago. Maybe it's as simple as just reopen and merge that one.

[2021-01-26 13:54] Salah-Eddine-Harnoufi opened #81410 "[small issue] gen_range can compile in empty range but doesn't run"
Hi, I'm in new at using rust, so my submit maybe irrelevant, so I was curious to try gen_range method in empty range 1..1 for example and the program compiled correctly.

But when I wanted to run it, it wasn't working with the message error "thread 'main' panicked at 'cannot sample empty range', C:\Users\me\.cargo\registry\src\github.com-1ecc6299db9ec823\rand-0.8.3\src\rng.rs:132:9
note: run with

[2021-01-26 13:58] jonas-schievink commented on #81410
This is an issue in the `rand` crate, not in Rust itself, so please file it at https://github.com/rust-random/rand

[2021-01-26 13:58] #81410 closed

[2021-01-26 14:12] bstrie commented on #35121
Surely this same problem had to apply to the NLL migration; an e2015 crate could export a macro that would fail to compile in an e2018 crate (by exploiting an unsound access pattern), and likewise an e2018 crate could export a macro that would fail to compile in an e2015 crate (by leveraging NLL). It's not perfectly ideal, but it is a precedent.

[2021-01-26 14:18] hug-dev commented on #81391
It will use the C convention ultimately, the current implementation maps it to `llvm::CCallConv` (I guess similar than AAPCS as this feature is only available on Arm processors?).
Do you mean that because it might be possible to have the `cmse_nonsecure_call` feature available for other ABIs as well?

I think restricting it to only ever use the C ABI is not a bad thing: this is used to switch to f

[2021-01-26 14:23] nagisa commented on #81391
Well, what I really want is for the underlying ABI to be explicit in the ABI string, whatever it is, so that it is more obvious that a transmute as given in the example above is… valid. It would also, as you mention, enable us to add non-secure options for other calling conventions if necessary.

So a couple of proposals: `C_cmse_nonsecure` or `cmse_nonsecure_C`.

[2021-01-26 15:45] hug-dev commented on #81391
Ok makes sense! Will modify the implementation PR and this with the `C` in front: `extern "C-cmse-nonsecure-call"`.

[2021-01-26 15:59] ehuss commented on #76644
I believe this is now fixed via #81118.

[2021-01-26 15:59] #76644 closed

[2021-01-26 15:59] ehuss commented on #67294
I believe this is now fixed via #81118.

[2021-01-26 15:59] #67294 closed

[2021-01-26 16:22] WaffleLapkin opened #81413 "Rustc shows unnecessary big error when glob reexport failed"
I tried this code:

[code]
([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d7d38220140a6793756d30e20fdbdc22))

I expected to see an error that only says that "`doesnt_exist` is unresolved".

But the error says that all uses of items from the module with glob import (`crate` in this case) are unresolved too:

[code]

This may lead to extremely long and unreadable er

[2021-01-26 16:43] vandenheuvel commented on #81376
For searching issues in the future: this bug happens also with only min_specialization.

[2021-01-26 17:10] kpreid commented on #60304
Possibly related: is it expected that line numbers are incorrect for _panics_ occurring in doc tests? I'm seeing (in 1.49.0) that doc test compile errors have correct line numbers, but doc test panics are counting lines in the test code only (while using the correct file _name_). This seems especially surprising given that the compile time line numbers are (in my case) correct. Should I file that

[2021-01-26 17:39] joshtriplett commented on #81218
A fourth possibility would be if derive could somehow be fixable to not *need* to allow that lint.

[2021-01-26 18:05] jhpratt commented on #74442
Yeah, I see that from looking at the source code. I was more inquiring about whether it would be considered breaking to go from returning `Some` to returning `None`. I don't suspect anything would be out-of-reach when reimplementing the macro, but you never know.

[2021-01-26 18:21] nikomatsakis commented on #80988
@rfcbot reviewed

[2021-01-26 18:50] joshtriplett opened #81415 "Allow leading | anywhere we allow or-patterns"
See https://github.com/rust-lang/rust/issues/54883#issuecomment-742802350 for details.

Filing this issue to check lang-team consensus on this: do we want to allow leading `|` everywhere we allow or-patterns?

[2021-01-26 18:50] joshtriplett commented on #81415
@rfcbot merge

[2021-01-26 18:51] joshtriplett commented on #54883
@petrochenkov Filed https://github.com/rust-lang/rust/issues/81415 to check for lang-team consensus.

[2021-01-26 19:02] scottmcm commented on #81415
Somehow to me they feel a little weirder in something like `matches!(foo, | Bar(_) | Baz(_))`, but regardless I think allowing them is the right thing to do for consistency and the overall grammar.

[2021-01-26 19:03] scottmcm commented on #80988
@rfcbot cancel

We discussed this in the meeting today, and decided that forcing this to break immediately is too strong.  @pnkfelix is going to be filing a backportable PR to make at least `forbid(warnings)` a future-incompatibility thing, so it'll complain on 1.50 but not immediately require code changes on the update.  (But likely will require code changes at some point in the future.)

[2021-01-26 19:05] joshtriplett commented on #81415
@scottmcm In that use case, they'd likely look like this:

[code]

[2021-01-26 19:30] nikomatsakis commented on #81415
@rfcbot reviewed

[2021-01-26 19:51] GoldsteinE commented on #77966
It's possible to trigger this behaviour for custom traits:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=09e5fc208def46725fcdf068145bae40

I'm not quite sure this is a bug: rustc seems to explicitly add current trait to the scope for method resolution:
https://github.com/rust-lang/rust/blob/4253153db205251f72ea4493687a31e04a2a8ca0/compiler/rustc_resolve/src/lib.rs#L1489-L

[2021-01-26 19:54] GoldsteinE commented on #77966
If anything, "multiple applicable items in scope" error when there's no explicit impl for Box seems to be a bug: there's clearly no applicable items in scope (possibly save for the current trait).

[2021-01-26 20:10] matu3ba commented on #54878
@jrmuizel Could you link the announcement? I dont see anything on the review board of [the LLVM patch](https://reviews.llvm.org/D68484).

[2021-01-26 20:31] jrmuizel commented on #54878
@matu3ba the patch that fixed it is here https://reviews.llvm.org/D92887

[2021-01-26 22:43] #48278 closed

[2021-01-26 22:43] #81098 closed

[2021-01-26 22:43] #81175 closed

[2021-01-26 22:43] #81293 closed

[2021-01-26 22:47] estebank commented on #75610
Fixed in #81236.

[2021-01-26 22:47] #75610 closed

[2021-01-26 23:19] estebank opened #81421 "Consider suggesting `&mut TypeParam` when given `&TypeParam` and that would fix the user's issue"
[When given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=237892c5941ebdc7356c13c2efee8b35):

[code]

We currently emit:

[code]

What is likely desired instead is to use `&mut Stream`.

_Seen in the wild at https://www.reddit.com/r/rust/comments/l5osgu/why_does_a_reference_to_a_generic_parameter_not/_

[2021-01-27 00:42] bstrie commented on #35121
Out of curiosity I grepped the crater run looking only for errors ocurring within macro expansion; looks like the only two concerning macros are [`nickel::middleware!`](https://docs.rs/nickel/0.11.0/nickel/macro.middleware.html) (which has a history of poor interaction with the never type: [one](https://github.com/nickel-org/nickel.rs/issues/399), [two](https://github.com/nickel-org/nickel.rs/issu

[2021-01-27 02:36] ammaraskar opened #81425 "Loose Send/Sync bounds for WorkerLocal used in rayon fork for parallel-compiler"
The `WorkerLocal` type used in the `parallel-compiler` cfg:

https://github.com/rust-lang/rust/blob/388ef349043f20a1a8a3011eaf49dee220485e0a/compiler/rustc_data_structures/src/sync.rs#L387

which comes from the Rust fork of rayon, [rustc-rayon](https://github.com/rust-lang/rustc-rayon), implements `Send` and `Sync` unconditionally for all types `T`:

https://github.com/rust-lang/rustc-rayon/blob/a

[2021-01-27 02:39] dtolnay commented on #74815
Closing as a duplicate of #64552.

[2021-01-27 02:39] #74815 closed

[2021-01-27 02:42] ammaraskar commented on #81425
Opened https://github.com/rust-lang/rustc-rayon/pull/8 to fix this.

[2021-01-27 02:51] dtolnay commented on #64552
Here is a minimization from https://github.com/xacrimon/dashmap/issues/131 that reveals something interesting (possibly generalizable as a workaround): there appears to be a difference from hiding the affected type behind a newtype wrapper. The buggy lifetime error in the code below is resolved by replacing one `Box<dyn Send + Sync + 'static>` by a newtype wrapper around `Box<dyn Send + Sync + 'st

[2021-01-27 03:21] estebank commented on #68982
@alarsyo there are different parts that could potentially be tackled of different level of difficulty. The underlying problem is that by the time the compile error happens, we no longer have access to the original bound information. We know that the method requires `T` to be `IntoIterator`, and that `<T as IntoIterator>>::Item = *something*`, but we no longer have the metadata that ties those two

[2021-01-27 03:28] #81296 closed

[2021-01-27 09:39] Krantz-XRF commented on #70903
What if "whether or not (the yet unstable type) `U` implements trait `T`" is not yet decided? Do we have a mechanism to declare a trait impl itself unstable?

[2021-01-27 09:44] zserik opened #81429 "rustc_arena::coldpath shouldn't be `pub`"
https://github.com/rust-lang/rust/blob/1d517afcd0929450ded8f644fa8e8da3776db68b/compiler/rustc_arena/src/lib.rs#L33-L37
The function isn't used anywhere outside of that crate (there is a copy of that function in `rustc_datastructures`, which is used elsewhere). It shouldn't be pub at all because it is only used in the same file in which it is defined.

[2021-01-27 09:50] vext01 commented on #57951
I was about to raise an issue for this too.

Yesterday a colleague and I spent 20 minutes trying to figure out what had gone wrong with our code. In the end it was a simple as adding `pub` to a field, but the error message really confused us!

[2021-01-27 10:08] lcnr commented on #70903
no, all trait impls are instantly stable.

Considering that `min_const_generics` has now been stabilized i think that this question isn't really relevant anymore.
Is there something we still want to do here or can we just close?

[2021-01-27 10:10] SimonSapin commented on #70903
Agreed.

[2021-01-27 10:10] #70903 closed

[2021-01-27 10:42] Muximize commented on #54878
Now that LLVM 12 has branched, can this be tested and benchmarked? Or do we have to wait for its release?

[2021-01-27 10:51] vext01 commented on #57951
Note also that the error message has changed slightly since this issue was raised:
[code]

[2021-01-27 11:43] apiraino commented on #81265
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381265.20.22arithmetic_overflow.22.20and.20.22unconditional_panic.22.20lint.E2.80.A6) and removing `I-prioritize`.

[2021-01-27 11:47] vext01 opened #81431 "`cargo fmt` and other tools don't work for a linked toolchain."
This is derived from [this issue](https://github.com/rust-lang/rustup/issues/2548), in which we concluded that the bug should be filed against rustc, as it's an `x.py` problem.

In rustc:
[code]

Then in a project using this toolchain via a rustup link:
[code]

But note that `cp build/x86_64-unknown-linux-gnu/stage1-tools-bin/rustfmt build/x86_64-unknown-linux-gnu/stage1/bin/rustfmt` does not make

[2021-01-27 12:00] apiraino commented on #80951
Removing `I-prioritize` label as it looks this is on the radar along with the other crater run issues

[2021-01-27 12:02] osa1 commented on #80636
I think this requires adding a special case for `_ as (_) <binary op> _` where `<binary op>` is `<<` or `<`. In this case we don't want to generate the warning as removing the parens around the type breaks the code.

In all cases I think the warning can work as before.

I'm not sure how to implement this special case though..

[2021-01-27 12:04] ssomers commented on #74615
#74693 no longer helps performance, so I wonder if this issue was resolved in general.

[2021-01-27 12:09] apiraino commented on #81317
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381317.20Type.20can.20no.20longer.20be.20inferred.20in.201.2E49) and removing `I-prioritize`.

[2021-01-27 12:10] lzutao opened #81432 "LLVM cannot prove that index is in bounds"
When trying to get rid of `unsafe` code in commit 57d25179e6751854c298313070adc4ac4454e230 in #81427.
I found a case that GCC can prove that the slice index in bound but LLVM cannot.

I tried this code (see generated assembly at godbolt <https://godbolt.org/z/dTraGe>):

[code]

I expected to see this happen: Compiler optimizes `eat_digits` to only `true`.

Instead, this happened: LLVM cannot prove

[2021-01-27 12:24] osa1 commented on #80447
I just quickly tried the suggestion above (removing the assertion) and this is the error I got without it:

[code]

Note that I tried a slightly simpler version of the small repro above:

[code]

This still fails with ICE with the assertion.

[2021-01-27 12:29] osa1 commented on #80251
The error message is helpful but it still panics in nightly. Do we want to fix the ICE at least or keep it?

[2021-01-27 13:06] osa1 commented on #80207
The `delay_span_bug` in this ICE is this one: https://github.com/rust-lang/rust/blob/742c972c4f92a8f213d05b82ba04797f251f125a/compiler/rustc_typeck/src/check/check.rs#L182-L195

It was added in e53625706106e0227656ddd2fa4d7df54ae2b90e.

I think the problem with this program is that we have `Self: Sized` but the self is actually `dyn <trait>` which is not `Sized`, right? So we don't expect to compi

[2021-01-27 13:13] MarinPostma opened #81436 "Rust cannot resolve trait bound for associated type"
I am trying to implement the Family design pattern as per [this post by Luka](http://lukaskalbertodt.github.io/2018/08/03/solving-the-generalized-streaming-iterator-problem-without-gats.html) and [this one by Niko](http://smallcultfollowing.com/babysteps/blog/2016/11/03/associated-type-constructors-part-2-family-traits/#introducing-type-families).

My goal is to abstract db transactions thanks to

[2021-01-27 13:19] osa1 commented on #79766
Not sure when this was added but rustc_parser already depends on rustc_data_structures today.

I think a problem is recursion in the parser happens indirectly after many calls. In the repro for this issue it happens after 15 calls:

[code]

So it's a bit unclear where to add `ensure_sufficient_stack`s and how much stack space to demand.

[2021-01-27 13:52] RalfJung commented on #79690
Reopening this to track that `read_scalar` is still called unguarded a few times in `try_visit_primitive`, so e.g. the issue can still arise with `bool`.

[2021-01-27 14:27] bstrie commented on #54878
@Muximize I tried compiling rustc with the LLVM master branch yesterday and ran into compilation errors. rustc will need to add support for the newer version of LLVM before we can benchmark anything. The fact that LLVM 12 has branched doesn't really mean all that much; rustc routinely pins its dependency to arbitrary points on the LLVM master branch whenever it desires some new LLVM feature: see h

[2021-01-27 14:29] nikic commented on #54878
The upgrade to LLVM 12 is currently in progress, but it will take a while until all regressions are sorted out. Currently it's not possible to build stage2 due to https://bugs.llvm.org/show_bug.cgi?id=48888.

[2021-01-27 14:49] Mark-Simulacrum commented on #80951
I can confirm this is a regression from 1.49. However, I'm having trouble bisecting this - nightlies seem to fail with the linker error for a while back; I ran bisect up to 2020-07-20.

Not sure what to do - maybe worth pinging cleanup group to try to minify at least.

[2021-01-27 15:08] derekdreery opened #81439 "ICE running druid examples (unwrap `JoinHandle::join`)"
I suspect that something major has gone wrong with my OS (e.g. spawning threads isn't working), but since I got an ICE I thought I'd report it here. It might be worth handling thread spawn failure gracefully.

### Code

Download [`druid`](https://github.com/linebender/druid) and run `cargo run --example svg2`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summa

[2021-01-27 15:56] Kestrer opened #81443 "Rustc incorrectly suggests adding an bound that exists in the where clause to call a method on an external trait with an arbitrary self type"
Given this code:

[code]

Rust emits this error:

[code]

This error doesn't make sense because the `Future` bound is already present.

Note that if the trait with the arbitrary `self` type is local, the error message is correct:

[code]

### Meta

`rustc --version --verbose`:
[code]

This also occurs on stable 1.49.0.

[2021-01-27 16:07] benediktwerner commented on #77966
Yes, you are right, there are some very confusing mechanisms at play here and I clearly didn't understand trait scopes as well as I thought (although to be fair there is also very little information on this topic and as far as I can tell none of these things are explained in the reference).

I just went through all my examples again and although it took me a while I now figured out why all of them

[2021-01-27 16:07] #77966 closed

[2021-01-27 16:13] GoldsteinE commented on #77966
So bringing supertraits of trait objects into scope is a desired behaviour? If so, error message about "multiple applicable items in scope" should be fixed. I'm willing to do that, but will probably need some guidance since it's my first contribution to the rustc.

[2021-01-27 16:21] homersimpsons commented on #81429
Should not we `use rustc_datastructures::cold_path` instead of duplicating the function ?

[2021-01-27 16:34] apiraino commented on #80951
@rustbot ping cleanup

[2021-01-27 16:44] benediktwerner commented on #77966
It's honestly hard to say if that is desired behavior since as I said this stuff is not yet mentioned anywhere in the reference as far as I can tell but I think it's probably intended. I think you most likely won't get a good response or much guidance here though. It's probably better to ask somewhere more visible (maybe on zulip, internals.rust-lang.org, the official Discord, or something like th

[2021-01-27 16:47] ssomers opened #81444 "Large BTreeMap key or value types cause avoidable stack overflow"
I tried this code:

[code]

built with plain `rustc` on 64 bit Windows (it happens in release code too but not with this example).
I expected to see the program finishing silently.

Instead, this happened:
[code]

This becomes sporadic if you decrease the number and disappears below 19540 bytes (on my system).

On my Linux box, and [on playground](https://play.rust-lang.org/?version=stable&mode=de

[2021-01-27 16:54] steffahn commented on #80951
https://github.com/devrandom/utxo-oracle does compile for me with `stable` i.e. `1.49`. If fails with `nightly` with `beta` but also with `1.48` or `1.47`.

[2021-01-27 17:14] ssomers commented on #81444
That was for the key type, the value type has a little more leeway. With slightly modified code to avoid the missing `Ord` requirement on the key:
[code]
the limit for the value type in Rust 1.30, 1.32 and 1.33 is somewhere between 37,600 and 37,700. Since Rust 1.34, it has dropped to somewhere between 20,700 and 20,800.

[2021-01-27 17:14] klensy commented on #74615
Replacing `hint` with `std::intrinsics::unreachable` gives small size back.

[2021-01-27 17:41] SNCPlay42 commented on #81413
<details>
<summary>Output on 1.38:</summary>

[code]
</details>

@rustbot label A-diagnostics A-resolve regression-from-stable-to-stable

[2021-01-27 17:42] estebank commented on #80207
It would be nice if we could come up with _more_ repro cases that don't involve `Self`. It'd be easy to fix _only_ this one case but I'm struggling to see what other cases could trigger this.

[2021-01-27 17:59] awoimbee commented on #51253
Fixed, please close.

The (full) backtrace now looks like:
[code]

Also, the exemple code now needs `#[allow(arithmetic_overflow)]`.
And `rt.rs` only appears in backtraces with `RUST_BACKTRACE=full`.

[2021-01-27 18:16] zserik commented on #81429
`rustc_arena` doesn't depend on `rustc_datastructures`, and it would be a really heavyweight dependency. I don't think that's worth it as the function is extremely trivial.

[2021-01-27 18:21] cole-miller opened #81446 "Unhelpful diagnostic: 'expected `X<'_>`, found `X<'_>`'"
Compiling this code on stable/beta/nightly ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f948f226c1434f2323433f44e0978197)):

[code]

correctly results in an error, but part of the diagnostic is less than helpful:

[code]

<details>
<summary>click for full error text</summary>

[code]
</details>

It seems like either this `note` should have some detail indi

[2021-01-27 18:31] jam1garner opened #81447 "Incorrect private field diagnostic when `self` is passed"
I tried this code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=74b6cc513cc3e8e131b1b31805d0240e)):

[code]

I expected to receive the "cannot initialize a tuple struct which contains private fields" lint.

Instead, this happened:

[code]

it appears the "method on self" lint takes priority over the "private field initialization" lint when it likely sho

[2021-01-27 18:31] Cerberuser opened #81448 "Bound on generic trait make compiler "forget" about another implementations of this trait"
This bug was initially reported on [URLO](https://users.rust-lang.org/t/surprising-compiler-error-with-trait-bounds/54742) and minimized to the following code:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2015&gist=4d99bd59065852d977773c59717a38e5))

This code generates the following compile error, on any version of Rust I've checked down to 1.0.0 (with di

[2021-01-27 18:34] awoimbee commented on #65984
Please close.
This is not an issue but multiple issues, there is no way to correctly address all of these points in one place.

Nevertheless, I tried to address all of the points:
- 1: useful for big text blocks
- 2: please open an issue about "type definitions" not matching the correct chapter in the rust book ("Creating Type Synonyms with Type Aliases").
- 3: There is no chapter in the documenta

[2021-01-27 18:34] jonas-schievink commented on #81448
I believe this is working as intended. Predicates from where-clauses are preferred over impls from the environment.

[2021-01-27 18:47] awoimbee commented on #41465
Can't reproduce (`rustc 1.49.0 (e1884a8e3 2020-12-29)`)
Can anyone reproduce ?
Otherwise, please close.

[2021-01-27 18:57] apiraino commented on #80810
@Jakob-Naucke checkin in on this issue. Do you need a feedback? Do we have enough info to assess a context? I'm trying to figure out the status of this issue and the next steps.

thanks!

[2021-01-27 19:07] awoimbee commented on #34396
bumb
This extends to const_generics.

In the following code, the fact that only `reality_check` causes a warning (`unused_variables`) is *BAD*:
[code]

[2021-01-27 19:19] Aaron1011 commented on #34396
We should only emit a warning if the generic parater has no bounds, as code like `fn use_default<T: Default>() { ... }` can be useful.

[2021-01-27 19:42] awoimbee commented on #34396
We need a more in-depth discussion on this, something like `fn is_send<T: Send>() { ... }` could use something like `#[allow(unused_generic)]`, just like I need `#[allow(unused_variables)]` to define drop myself:
[code]

[2021-01-27 20:26] steveklabnik commented on #58179
Triage: I'm not sure that a ticket is the way to track this, or if this is something the team ever plans on doing, exactly.

[2021-01-27 20:27] steveklabnik commented on #60856
Triage: no change

[2021-01-27 20:30] WaffleLapkin commented on #81413
@SNCPlay42 why do you think it's a "regression-from-stable-to-stable"? IMO the output from `1.38` is even worse

[2021-01-27 20:39] jonas-schievink commented on #58179
We already have:

* A detailed changelog listing all stabilized features
* A blog post explaining the most impactful new features
* Tracking issues that are closed when a feature is stabilized in the nightly channel
  * GitHub now natively supports subscribing only to the "closed" event
* Milestones that each PR is assigned to, which lets you see the first version containing it

I think that's eno

[2021-01-27 20:39] #58179 closed

[2021-01-27 20:43] fanninpm commented on #52334
@JohnTitor This does not cause an ICE on an M1 Mac:

[code]

[2021-01-27 20:45] fanninpm commented on #80125
This does not cause an ICE on an M1 Mac:

[code]

[2021-01-27 21:23] ssomers commented on #81444
Not to the Rust 1.33 level. It merely increases the size limit from about 20,700 to about 26,600.

[2021-01-27 21:42] nbdd0121 commented on #74615
I just checked the assembly produced on playground with nightly and it still generates redundant checks.

[2021-01-27 21:54] steffahn commented on #80951
So this is not a regression, AFAICT.

With stable `1.49` (e1884a8e3c3e813aada8254edfa120e85bf5ffca) as well as current master (613ef740f3f37702728c6324f948d0abd1e9c82b), the linking error when compiling `utxo-oracle` only appears with a compiler that was built with the `channel = "dev"` or `channel = "beta"` option set (in `config.toml`). Using `channel = "stable"` does _not_ result in a linker er

[2021-01-27 21:57] Mark-Simulacrum commented on #80951
Interesting. Can we try to figure out what is causing that dependence on the channel?

[2021-01-27 22:01] KodrAus commented on #81357
Thanks for the detailed report @jstarks! We discussed this in our recent Libs meeting and after a quick survey found that passing `FILE_FLAG_OVERLAPPED` to `OpenOptions::custom_flags` is a common enough pattern in the wild that we couldn't try catch it there without breaking legitimate use-cases.

We felt the best path forward would be effectively option 2, which is also what you're recommending:

[2021-01-27 22:06] camsteffen commented on #48926
I propose the following guideline:

I disagree with the following:

"must" does *not* indicate the severity of the bug; It indicates the *level of certainty* that not using the value is wrong or sub-optimal.

I believe with this guideline, `Iterator::count` and `Iterator::last` can clearly be included.

[2021-01-27 23:03] JohnTitor commented on #52334
@fanninpm Still reproducible on my end (and on glacier as well), it's likely your env issue.

[2021-01-27 23:04] fanninpm commented on #52334
@JohnTitor it may have to do with architecture, because I can confirm this on an x64 architecture CPU running Manjaro.

[2021-01-27 23:55] KodrAus commented on #66481
We discussed this at the recent Libs meeting and felt that deferring to @rust-lang/wg-async-foundations would make sense here.

[2021-01-28 00:16] cgwalters commented on #47714
One of the things libtool does addresses this problem - there's no way I'd recommend we involve libtool :smile: but I don't see why rustc couldn't add extra metadata into the archives it produces and consume it, because in this case it can assume it's also the linker.

[2021-01-28 00:17] guswynn opened #81457 "Diagnostic involving the type of an async block refers to `generator`'s"
version 1.49:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6cf5c01427a274fed3395916ea86ab87

`FuturesUnordered` requires futures with the same type:
[code]

results in:
[code]

As far as I know, generators have 2 types in their internal representation, so their display impl (its not actually display as far as I remember, but whatever creates the string to describe a typ

[2021-01-28 00:18] jryans commented on #81395
The core issue is the `Deref` recursion cycle handling... It focuses only on `DefId`s and wasn't anticipating targets that differ only in generic type args. I believe I see the tweak we'll need here, so I should have a PR in the next day or so.

[2021-01-28 00:49] nagisa commented on #81432
Doesn't optimize to `ret true` when compiling the C reproducer with clang either.

[2021-01-28 00:57] camelid commented on #81274
I don't think I'll have time to fix this second part soon, so unassigning myself.

[2021-01-28 01:29] guswynn commented on #24183
This actually ended up biting me today, is there a plan to handle this? I could help implement if I get pointers

[2021-01-28 01:59] mzji commented on #54878
Seems like the issue has already been fixed.

[2021-01-28 03:20] camelid commented on #80125
The ICE shows this as the ICEing file: `thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_target/src/abi/call/x86_64.rs:158:47`

Note that it's in the ABI file for *x86-64*, so it's not triggered on ARM.

[2021-01-28 03:23] camelid commented on #79756
Fixed in #81325.

[2021-01-28 03:23] #79756 closed

[2021-01-28 03:59] mzabaluev commented on #80949
Here is a minified example of a regression I have run into, not sure if it's the same issue:

[code]

Changing the closure parameter pattern to match `&e` fixes the borrow checker error in nightly.

[2021-01-28 04:05] camelid commented on #80949
Hmm, that example compiles on beta though.

[2021-01-28 04:07] camelid opened #81460 "regression 1.51: lifetime may not live long enough with `&impl Error`"
This compiles on stable and beta, but not nightly (1.51):

[code]

Error with nightly-2021-01-27:

[code]

Changing the closure parameter pattern to match `&e` fixes the borrow checker error in nightly.

_Originally posted by @mzabaluev in https://github.com/rust-lang/rust/issues/80949#issuecomment-768783279_

[2021-01-28 04:12] camelid commented on #81460
Regressed yesterday (!).

[2021-01-28 04:18] camelid commented on #80949
I believe that's an unrelated issue. Opened #81460 to track it. Thanks for reporting it!

[2021-01-28 04:20] camelid commented on #81460
From that PR:

Given that someone ran into this so quickly (the day after it was merged), should that decision be reconsidered?

[2021-01-28 05:10] SNCPlay42 commented on #81413
The *error* is much shorter, and only points at the actual problem. The unused import warnings, of course, wouldn't be there if those imports were actually used.

[2021-01-28 06:25] Cerberuser commented on #81448
Not sure if I follow. Why should the predicate make the implementation _known to the compiler_ (since they are obviously available without the `where` clause) unavailable?

[2021-01-28 07:10] osa1 commented on #80173
Is it possible to do this in a declarative macro?

I wonder if we could have a "peephole warning/suggestion generator" for this kind of thing where we pattern match in terms in different contexts (e.g. types, expressions, items, perhaps with the errors in the spans) and suggest alternatives.

[2021-01-28 07:39] osa1 commented on #24151
This still happens today (with e32f372c420), but the error message is slightly different:

[code]

#80258 is another `*mut`-related issue.

[2021-01-28 07:41] osa1 commented on #22877
Perhaps in a new edition?

[2021-01-28 07:50] osa1 commented on #21599
Last repro above is still valid. Current error message:

[code]

[2021-01-28 09:07] Jakob-Naucke commented on #80810
@apiraino By context, do you mean a category label? I'd say that this is a bug. There is a PR that fixes this, but it's blocked at the moment since it possibly breaks `salsa`, and @cuviper rightfully noted that it might not fix the root issue. As for feedback -- I'm not sure because I'm not suggesting a change here? I'm sorry, I'm not proficient in rust-lang development :) It would be good if curr

[2021-01-28 09:14] mpizenberg commented on #81448
Hi, original urlo poster here. To me it makes little sense that the compiler would completely forget other implementations. And the only way that it could "compete" with the `f32` implementation is if `V` becomes `f32`, but then we are fine too and `1f32 * 1f32` should be valid. In my use case, I need to express that `V` is some kind of vector type than can be multiplied by a scalar (here `f32`) s

[2021-01-28 09:38] est31 commented on #81262
It might be helpful to have a minimal example to reproduce the issue.

[2021-01-28 11:01] MarnixKuijs commented on #81381
I have gone and tested MSVC v142,14.20..14.28 I even tried MSVC v141,14.16. All of them result in the same linker errors.

[2021-01-28 11:09] 0yoyoyo commented on #72685
Is the task of this issue addition of a regression test? If so, I'll try it. I found a simpler reproducer.
Does the regression test just check outputting the current error message?

[code]

<details>
<summary>1.46.0 Output</summary>

[code]
</details>

<details>
<summary>Current stable (1.49.0) Output</summary>

[code]
</details>

[2021-01-28 11:39] apiraino commented on #81357
Assigning `P-critical` as it requires attention. Discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381357.20File.20implementation.20on.20Windows.20has.20unsound.20methods) and removing `I-prioritize`.

[2021-01-28 11:44] apiraino commented on #81315
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381315.20thread.20'rustc'.20panicked.20at.20'assertion.20failed.3A.20promot.E2.80.A6) and removing `I-prioritize`.

[2021-01-28 11:47] apiraino commented on #81460
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381460.20regression.201.2E51.3A.20lifetime.20may.20not.20live.20long.20enough) and removing `I-prioritize`.

[2021-01-28 11:56] sasurau4 commented on #50507
@nikomatsakis

I looked into this issue.
In [#49834](https://github.com/rust-lang/rust/pull/49834#issuecomment-385696939), the build seems failed at build stage0 core and left `FIXME` comment.
When I changed the code same to #73792 and turn on `parallel-compiler = true` in `config.toml`, I met following tests failed but couldn't reproduce the build error same as #49834.

[code]

The cause of test

[2021-01-28 12:09] #80861 closed

[2021-01-28 12:10] rust-highfive opened #81467 "`miri` no longer builds after rust-lang/rust#81461"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#81461, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-01-28 12:15] mzabaluev commented on #81460
I find it startling that breaking existing code _that isn't wrong_ could be considered acceptable.

[2021-01-28 12:30] est31 commented on #64796
I think that's a compelling argument. I have reconsidered my position and now think it's ok to to flip the default and just having that flag that @joshtriplett [suggests](https://github.com/rust-lang/rust/issues/64796#issuecomment-640851454).

Also, I've said this in the thread already I think, but how cfg(version) behaves on nightly Rust is not a stable feature, and can thus easily be changed in

[2021-01-28 12:34] weiznich commented on #81262
@est31 That would be something like https://github.com/weiznich/minimal_example_for_rust_81262

[2021-01-28 12:35] est31 commented on #81262
@weiznich thanks, that looks great already!

[2021-01-28 12:54] jonas-schievink commented on #21599
I don't think there's much point in leaving this open as a duplicate of #9307, so closing in favor of that

[2021-01-28 12:54] #21599 closed

[2021-01-28 12:57] pietroalbini commented on #81211
Sorry about that. A new crater deployment broke a thing. Should be fixed now.

@craterbot retry p=2

[2021-01-28 12:59] pietroalbini commented on #81211
@craterbot retry
@craterbot p=3

[2021-01-28 12:59] pietroalbini commented on #81211
@craterbot p=2

[2021-01-28 13:48] ojeda commented on #48278
Available in nightly now. For `Result` too.

[2021-01-28 15:08] obsgolem opened #81474 "E0621 when converting dyn reference to dyn pointer"
I tried this code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fa659e7e2652bb05a7e407a9925b1344

I expected to see this happen: The reference should convert to a pointer, losing all lifetime information.

Instead, this happened: Rust askes that the reference be given a static lifetime. This doesn't occur with non-dyn references. In addition, if you make a small modifica

[2021-01-28 15:19] #76267 closed

[2021-01-28 15:24] fanninpm commented on #80125
@camelid I think it's very similar to #52334 (in fact, I believe it appears in the same file, on the same line).

[2021-01-28 15:29] matsujika commented on #81220
I'll work on this.
@rustbot claim

[2021-01-28 15:31] nikomatsakis commented on #81357
I just wanted to make folks in the windows notification group aware of this, it seems like everything is in hand:

@rustbot ping windows

[2021-01-28 15:52] b-naber commented on #81220
@matsujika I was just about to open a PR when I saw that you claimed the issue. It's my fault for not claiming this issue myself obviously, so if you've already been investing time into this the issue is still yours, but if you haven't can I open a PR for this?

[2021-01-28 15:59] oli-obk opened #81476 "Unnecessary encoding of `def_span` query in metadata"
There were some perf regressions due #80191 can be seen [here](https://perf.rust-lang.org/compare.html?start=446cbc9db080c63c8742c418bcaa44c808f7e033&end=85e355ea9bd86ac6580a5d422a65dbf689845808&stat=instructions:u)

_Originally posted by @rylev in https://github.com/rust-lang/rust/issues/80919#issuecomment-767854932_

We need to find out which kind (as what variant of `def_kind`) of things now ge

[2021-01-28 16:10] SkiFire13 commented on #81474
I think the problem here is that trait object lifetimes elision rules are different for references and pointers.

- `&'a mut T` requires `T: 'a` so `&'a mut dyn Empty` is the same as `&'a mut (dyn Empty + 'a)`
- `*mut T` doesn't have a bound on `T`, so `*mut dyn Empty` is the same as `*mut (dyn Empty + 'static)`.

The pointed types don't match, and so the compiler gives an error. However the hint

[2021-01-28 16:14] vext01 commented on #81431
A load of comments from me. Hopefully all small.

In the interest of moving on, your next PR could add more tests?

[2021-01-28 16:15] SNCPlay42 commented on #81474
It's kind of surprising (to me, at least) that even a pointer cast can't launder the lifetime, given that you'd have to do an unsafe dereference to actually *obtain* a value with the laundered lifetime, but this appears to be the case [in general](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ea0e3555a2ccb26cf1862f9d5a31f63d), not just for `dyn Trait`.

Alternatively, you

[2021-01-28 16:15] SkiFire13 commented on #81474
I forgot the the modified version, I guess it works because `T` is inferred to be `*mut (dyn Empty + 'a)` where `'a` is the lifetime of the mutable reference. For example, this also works https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f308580239dfc177694f0e0c68e34ca6

It's a bit confusing how you can omit the lifetime from the cast though.

[2021-01-28 16:55] matsujika commented on #81220
@b-naber I've done nothing yet as I planned to work on this tomorrow morning, so it's yours :)

[2021-01-28 16:55] matsujika commented on #81220
@rustbot release-assignment

[2021-01-28 17:00] Brooooooklyn commented on #67497
Fixed by set `codegen-units` to `32 (or bigger)`, and disable `lto`: https://github.com/napi-rs/package-template/blob/main/.github/workflows/CI.yaml#L90

[2021-01-28 17:12] estebank commented on #81220
@matsujika if you're still interested in contributing, it seems to me that https://github.com/rust-lang/rust/issues/81222 might be similar in scope and section of the codebase you could work in.

[2021-01-28 17:24] flip111 commented on #65984
Thanks for the review.

[2021-01-28 17:24] #65984 closed

[2021-01-28 17:24] matsujika commented on #81222
@rustbot claim

[2021-01-28 17:26] asquared31415 commented on #74262
@rustbot claim

[2021-01-28 17:27] asquared31415 commented on #81088
@rustbot claim

[2021-01-28 17:28] b-naber commented on #81220
@matsujika Thank you.

[2021-01-28 17:35] Amanieu commented on #81088
@asquared31415 Thanks for taking up this issue!

I would suggest doing the rewriting in the backend in `compiler/rustc_codegen_llvm/src/asm.rs`.

[2021-01-28 17:36] mscofield0 commented on #75833
Still an issue, I can't install a nightly toolchain

[2021-01-28 17:37] asquared31415 commented on #81088
I already have an implementation working in the simple cases, and was about to submit a pr when I realized it is going to be a lot more work to fix the edge cases and that I should claim these issues so someone else doesn't try to work on them too

[2021-01-28 17:45] klensy commented on #81432
More: even if using iterators that can produce non increasing number of elements, rust (or llvm, don't know which part) can't prove bounds.

https://rust.godbolt.org/z/4qn4Pf

[2021-01-28 17:47] estebank commented on #80173
Today it is possible to do this in a proc-macro (by explicitly looking for cases), and in the compiler (`rustc` today when encountering a macro call that doesn't match any arm will look for places to add a comma token and see if that would match any macro arm. If so, it suggests the comma in the right place). In declarative macros we don't have a good way of doing this, other than maybe using [`st

[2021-01-28 17:59] ehuss opened #81482 "rustdoc: attribute string literals render with backslashes"
I tried this code:

[code]

I expected to see this happen:  Rustdoc will render the string as `#[must_use = "this is a message"]`

Instead, this happened: It is rendered with a backslash:

<img width="540" alt="image" src="https://user-images.githubusercontent.com/43198/106178968-3f76e800-614f-11eb-8ac6-5cabddad646c.png">

### Meta

`rustdoc 1.51.0-nightly (f4eb5d9f7 2021-01-25)`

I believe this s

[2021-01-28 18:04] jackh726 commented on #71685
Minimal repro
[code]
with
[code]

I agree with @yshui here: this is really just a diagnostics issue. `s` here is falling back to `()` since it's isn't used after being reassigned.

[2021-01-28 18:20] rodrimati1992 opened #81483 "`impl<S> Trait<Struct> for S {}` blanket impl shows up multiple times in docs for `Struct`"
I tried documenting this code with `cargo doc`:

[code]

I expected to see this happen: The `impl<S> Trait<Struct> for S {}` blanket impl appears only once in the docs for `Struct`

Instead, this happened: The blanket impl appears 23 times.
<details><summary>Picture of the blanket impls in the docs for `Struct`</summary>
<img src="https://user-images.githubusercontent.com/18036327/106181330-3d774e

[2021-01-28 18:30] camsteffen commented on #48926
After thinking some more, I think I can do better. I see three distinct reasons for adding `#[must_use]` (and all valid reasons IMHO). So here is another attempt at a comprehensive guideline:

To say more about those 3 conditions:

1) Can be determined just by looking at the function itself. Unfortunately this is very common. But at the same time it should not cause any false positives. Examples:

[2021-01-28 18:35] Aaron1011 commented on #81476
I believe the main use is for diagnostics. For `macro_rules!` macros, we need to preserve spans of tokens for correctness (this is especially important when a `macro_rules!` macro is generated by another macro).

[2021-01-28 18:41] oli-obk commented on #81476
ok... so `DefKind::Macro(_)` may be the only real user of this, though errors pointing into locally built crates may be improved by it.

I guess let's try to get the previous status quo reestablished first, not emitting Spans for things that don't need them.

[2021-01-28 18:59] 0x182d4454fb211940 opened #81487 "Error when inferring a lifetime in return type using GATs"
I tried this code:

[code]

I expected to see this happen: the code compiles

Instead, this happened: the code does not compile unless you replace:
[code]
with
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-01-28 19:11] rodrigocfd opened #81488 "Do not append .lib extension to .res file on `cargo:rustc-link-lib=dylib=stuff.res`"
In Windows, when trying to pass a [compiled resource script](https://docs.microsoft.com/en-us/windows/win32/menurc/about-resource-files) to the linker (I have MSVC build tools properly installed), I'm using the following line in my `build.rs`:

[code]

The problem is that `stuff.res` is being renamed to `stuff.res.lib`, and since this file does not exist, the build fails. If I manually rename my f

[2021-01-28 19:38] tmandry commented on #74072
Triage: looks fixed (probably by #78164). Output on nightly today:

[code]

[2021-01-28 19:38] #74072 closed

[2021-01-28 19:40] tmandry commented on #77217
Triage: Confirmed that this is fixed in nightly.

[2021-01-28 19:40] #77217 closed

[2021-01-28 19:49] estebank commented on #81457
The spans are correct (or at least consistent with what I'd expect and what we do in similar cases not involving generators/futures).

I would be in favor of carrying metadata in the generator types (do we do that already?) to differentiate between non-futures and futures and use a different user visible textual representation.

[2021-01-28 19:51] tmandry commented on #64552
@rustbot remove-assignment

@csmoe feel free to claim again if you're still working on this.

[2021-01-28 19:52] ehuss commented on #81488
Transferred to rust-lang/rust repository.  The naming convention is done by `rustc`.  (Unfortunately I'm not familiar with compiled resource scripts, so I am uncertain on how they should be integrated.)

[2021-01-28 19:55] estebank commented on #81457
The spans seem correct to me. I would be down to have metadata to track whether a generator is a future or not (do we do that already?) and have a different user-visible textual representation based on that.

[2021-01-28 19:57] tmandry commented on #77880
Triage: nightly now gives

[code]

thanks to #80517 (thanks @wabain)! I think this means the issue is fixed.

[2021-01-28 19:57] #77880 closed

[2021-01-28 19:59] tmandry commented on #80658
@nellshamrell Are you still planning to work on this? If not no worries, feel free to release your assignment.

[2021-01-28 20:00] cuviper commented on #80810
Even if it lands soon, #80732 isn't nominated for a beta backport, and it looks like it may be too invasive for that.

I wonder if you can run a `dist-s390x-linux` build from a native Z host? I've never tried this, but on the surface it seems like it could work -- I don't see why that docker build would technically require the host to be x86_64. There's a `docker_dir` in `src/ci/docker/run.sh` tha

[2021-01-28 20:06] petrochenkov commented on #81488
I think https://github.com/rust-lang/rfcs/pull/2951 (which is an accepted, but not yet implemented RFC) should help with this, through `verbatim` modifier specifically.

[2021-01-28 20:10] petrochenkov opened #81490 "Tracking Issue for linking modifiers for native libraries"
This is a tracking issue for the RFC "Linking modifiers for native libraries" (https://github.com/rust-lang/rfcs/pull/2951) accepted through MCP https://github.com/rust-lang/compiler-team/issues/356.
The feature gate for the issue is `#![feature(native_link_modifiers)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hub

[2021-01-28 21:01] cjgillot commented on #81476
I am wondering the same thing for `ident_span`.
Those are used for one diagnostic, and to create the `Ident` for imported items.
It's not clear to me whether the latter uses are semantic or diagnostic.

[2021-01-28 21:04] camelid commented on #81460
Nominating for T-libs discussion and removing T-compiler label (I don't think this issue has a compiler component).

@rustbot label: +I-nominated -T-compiler

[2021-01-28 21:33] sfackler commented on #81460
If we never considered a change that could break not-wrong existing code acceptable, we would, for example, never be able to add a new method to a trait, or add an implementation of a trait to an existing type.

[2021-01-28 22:34] Johannesd3 commented on #81487
[Previous discussion on reddit](https://www.reddit.com/r/rust/comments/l6z14y/is_this_a_bug_with_gats_or_do_i_misunderstand/)

[2021-01-28 23:49] cuviper commented on #81444
This seems like a specific instance of the general "placement new" problem, #27779. Semantically, the values are created locally on the stack and then moved into the map node. Sometimes optimization could be smart enough to skip the local, but there's no guarantee of this, and debug builds are out of luck.

It might also be the creation of the node though, which is a multiple of the key-value size

[2021-01-29 00:14] landaire commented on #80326
My gripe here was mostly that `//!` seems like it would be a very valid comment to have in your code. Had I written `#![...]` this error would have been immediately understood. Having the INNER_LINE_DOC shorthand for `#![doc="..."]` apply here didn't register at first and was not obvious from the error output and I was confused how my commented code was being interpreted as an attribute. In fact,

[2021-01-29 00:20] camelid commented on #63284
Should this be closed?

[2021-01-29 00:30] estebank commented on #81403
Seems related to https://github.com/rust-lang/rust/issues/80291

[2021-01-29 00:58] #81386 closed

[2021-01-29 00:59] lzutao commented on #81330
Can we reopen this issue ?
I think #81379 only removes the query component when we remove keywords in search bar.
This issue is about adding a keyboard shortcut.

[2021-01-29 01:57] FredericaBernkastel commented on #81051
Downgraded to nightly-2021-01-12, compilation is successful again.

[2021-01-29 03:02] MSxDOS commented on #81051
@apiraino There are no issues with permissions on both machines... The error is always reproducible.

[2021-01-29 04:06] #79361 closed

[2021-01-29 04:06] #80202 closed

[2021-01-29 04:06] #81248 closed

[2021-01-29 04:23] camelid commented on #81383
Also: start dogfooding this in `std`.

[2021-01-29 04:40] scottmcm commented on #48926
@m-ou-se No, I don't know of any.  It really needs someone to pick it up and find a "hits the majority" subset so that `must_use` doesn't just become a "put it on everything" annotation.

Yeah, exactly.  But because it's so common -- and the downside to not using something is often so minor -- I think this is a place for a lint to heuristically do it.

We know that [`unused_results`](https://doc.r

[2021-01-29 04:45] pickfire commented on #81209
But why shouldn't it be normalized without spaces around `::`?

[2021-01-29 06:11] JohnTitor commented on #80313
Fixed by #81158

[2021-01-29 06:11] #80313 closed

[2021-01-29 06:55] quat1024 commented on #76643
Newcomer here - I just ran into the same problem with code that looks like this (this is as much as I can reduce it)
[code]
leading to
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4fabf93099cd729aa9fcbf0b049df7c6)

Here is a particularly confusing error, where rustc is suggesting I remove a `mut` and add an ampersand to the same `mut`:
[code]
[code]
[

[2021-01-29 08:17] henryboisdequin commented on #81429
@rustbot claim

[2021-01-29 10:15] GuillaumeGomez commented on #81330
Oh I see, my bad. Reopening!

[2021-01-29 10:16] rylev opened #81508 "Confusing diagnostic when improperly using constant as type."
The following code...
[code]

...yields the following error and warning:

[code]

The warning says that `Foo` is not used but it clearly is, just not properly. This error is normally easier to spot when using the proper casing for constants, but that might not always be the case. Perhaps in this instance, we should look for other items with the exact same name and point out that the user is trying

[2021-01-29 10:34] henryboisdequin commented on #81447
@rustbot claim

[2021-01-29 10:41] henryboisdequin commented on #81447
Do you know where in the code this is coming from?

[2021-01-29 11:13] 0yoyoyo commented on #72685
@rustbot claim

[2021-01-29 11:28] StyMaar opened #81511 "Confusing diagnostic when using closures"
When trying to compile this code (Rust stable 1.49.0)

[code]
I expected it to compile fine,

Instead, we get this funny nonsensical error :

[code]

The code compiles fine if we add a type annotation to the closure (notice the `|data: &str|`)

[code]

This may be a type inference bug (because closure are supposed to work even without type annotations) but it's also (and most importantly IMHO) a d

[2021-01-29 11:52] SNCPlay42 commented on #81413
[code]

From those rollups, #64054 looks relevant.

[2021-01-29 12:32] KodrAus commented on #73831
If I remember correctly, we had a long bikeshed over the name and ended up following C++ as a tie-breaker.

[2021-01-29 12:42] KodrAus opened #81513 "Tracking Issue for pointer metadata APIs"
This is a tracking issue for the RFC 2580 "Pointer metadata & VTable" (rust-lang/rfcs#2580).
The feature gate for the issue is `#![feature(ptr_metadata)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant

[2021-01-29 12:48] KodrAus commented on #78500
Now that this is stable I'll go ahead and close this tracking issue. Please feel free to re-open if we'd like to keep it around until `1.51.0` actually ships!

[2021-01-29 12:48] #78500 closed

[2021-01-29 13:23] nikic opened #81514 "Demote x86_64-rumprun-netbsd target"
The `x86_64-rumprun-netbsd` is currently a Tier 2 std target built on dist-various-1. In the course of updating that image, I found that the rumprun project appears to be unmaintained. There has been little activity recently (https://github.com/rumpkernel/rumprun) and there are outstanding PRs to fix build issues. The http://www.rumpkernel.org/ domain is down.

It *is* still possible to build rump

[2021-01-29 13:37] sasurau4 commented on #49737
It seems that this issue solved with https://github.com/rust-lang/rust/pull/67614.

[2021-01-29 14:38] WaffleLapkin commented on #81413
@SNCPlay42 ah, you are right, I've misread the output thinking that the warnings were errors too.

[2021-01-29 15:50] KernelFreeze opened #81516 "Core build is broken when using build-std"
Hello. I'm using the nightly feature `build-std` to cross-compile core to a custom target. It always works as expected, however, today it suddenly stopped working and throws an error:

[code]

I tried the same on Windows, and another error occurs:
[code]

### Meta
`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

`config.toml:`
[code]

Thank y

[2021-01-29 16:09] scottmcm commented on #73831
FWIW, we've had [`Iterator::partition`](https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html#method.partition) since 1.0.

Barring something obviously better (which doesn't seem to have come up), using the C++ name seems reasonable.  A documentation update to crosslink this from `binary_search` definitely sounds good, though.

(Hopefully this method can be resolved without a broader bina

[2021-01-29 16:17] matklad commented on #73831
FWIW, my secret plan is to just submit a pr implementing `equal_range` after this is stabilized. Unlike lower/upper bound, it doesn't depend on exclusive/inclusive open question, and hopefully can be shipped without to much deliberation :)

[2021-01-29 16:22] jgouly commented on #35119
It would be nice if `global_asm!()` could support specifiers like sym/const that the inline `asm!()` does. This would allow using symbol names in `global_asm!()` without using `#[no_mangle]` and using `size_of::<Struct>()` without hardcoding the values.

[2021-01-29 16:24] crone123 opened #81518 "unimplemented!() doesn't work with return impl"
Hello,
I tried this code:

[code]
Or this code:
[code]

I expected to see this happen: Compilation works, but panic with unimplemented at runtime.

Instead, this happened: Unable to compile, I got these errors:
[code]

[code]
In theory, unimplemented!() dosen't return, and just panic, so the type problem is not to be solved. And this is the purpose of unimplemented, to let functions.... unimplemen

[2021-01-29 16:25] Fishrock123 commented on #67295
I also ran into the need for this and reported it to zulip: https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/.23.5Bcfg(test).5D.20within.20doc-tests

My usage is more-or-less to have the `async_std::test` attribute also turn on when in doctests.

My specific usage is I would like `cargo check` to run for this example:
https://docs.rs/preroll/0.2.0/preroll/test_utils/fn.assert_js

[2021-01-29 16:38] ehuss commented on #81516
Can you post a copy of your target spec?  Are there any other details about the custom target that are needed to reproduce?

[2021-01-29 16:56] ColinFinck commented on #71009
It should also be noted that many target JSON options have accidentally been renamed in Rust 1.49.0, the current stable release.
This happened in https://github.com/rust-lang/rust/commit/dc004d4809f7e5fb5ea73ac630a0b1bdb58eabe4 (thanks @bjorn3 for pinpointing to this commit!)

This was fixed 4 days later in https://github.com/rust-lang/rust/commit/dd682cb48c8b667859dded98a4bbfbd891a1eca4. Unfortun

[2021-01-29 16:58] memoryruins commented on #81518
Thanks for reporting! This is a duplicate of https://github.com/rust-lang/rust/issues/36375

[2021-01-29 17:10] MagicRB commented on #36887
1 up for default function parameters, especially useful for Enums where only some variants include the generic types...

[2021-01-29 17:30] #81518 closed

[2021-01-29 17:45] digama0 opened #81522 "`#[allow(unstable_name_collisions)]` doesn't work at block scope"
This code gives a warning on the latest nightly:

[code]

[code]

The warning is correct: #81383 added `Option::unwrap_unchecked` so this code is a future incompatibility hazard. The bug is that `#[allow(unstable_name_collisions)]` does not suppress the lint, although it works at function scope.

`rustc --version --verbose`:
[code]

[2021-01-29 17:49] saethlin opened #81524 "Suggestion is placed at the wrong scope with nested IntoIter requirement"
rustc 1.49.0 and rustc 1.51.0-nightly (a2f8f6281 2021-01-27)
[code]
[code]

[2021-01-29 17:49] jyn514 commented on #76653
Do you have suggestions for how to do this? I tried https://stackoverflow.com/a/1661283/7669110 locally, which worked in the sense that the history is now one commit, but didn't decrease the size of .git at all even after running `git gc --aggressive`.

[2021-01-29 17:50] saethlin commented on #81524
Oops this probably shouldn't be C-bug

[2021-01-29 17:53] bjorn3 commented on #76653
You probably still have the remote branch. Try removing `.git/refs/remotes/origin/gh-pages` and then running `git gc --aggressive`.

[2021-01-29 18:12] Jakob-Naucke commented on #80810
Using `host-x86_64` for `docker_dir` instead of `host-$(uname -m)` like you said, the pass-2 compiler install fails:
<details><summary>Output</summary><p>

[code]
</p></details>

It turns out that the file `/tmp/build/.build/s390x-ibm-linux-gnu/build/build-cc-gcc-core-pass-2/gcc/cc1` is not generated, which leads to this in libgcc's `config.log`:
[code]
This file is indeed generated when building

[2021-01-29 18:24] ojeda commented on #81383
@camelid Indeed! The first two PRs for this are submitted.

[2021-01-29 18:37] estebank commented on #72685
Yes.

[2021-01-29 19:10] ehuss commented on #76653
I think the issue you created looks correct.  It needs someone with write permissions to that repo to do it directly.  As with anything git-related, there are many ways to accomplish the same task.   If it is wrong, worst case we can rebuild the branch. I don't think there is any history there that is important, and at least I have a local backup copy.

I did this before with some repo (I can't re

[2021-01-29 19:30] KernelFreeze commented on #81516
My target spec is:
[code]

If I enable SSE and MMX, the build fails again

[2021-01-29 19:47] tmandry opened #81531 "internal compiler error: failed to process buffered lint here"
### Code

I don't have a minimal example yet, but here's [the code](https://cs.opensource.google/fuchsia/fuchsia/+/master:src/sys/pkg/lib/omaha-client/src/state_machine.rs;l=539;drc=135c122764c96cb5132d4d1bbb51bb75b2f12a92). Sample:

[code]

The ICE happens on the `warn!` and `error!` macros, which are both from the `log` crate.

### Meta

This began with commit 74500b99783d126e330184f0392a78f8b93

[2021-01-29 19:49] camelid commented on #81531
FYI, I think that link is only accessible to Googlers:

![image](https://user-images.githubusercontent.com/37223377/106320676-0d858480-6228-11eb-8ff2-54542a44779e.png)

[2021-01-29 19:50] estebank commented on #80207
As mentioned in the pr fixing this, the `delay_span_bug` was incorrect. It should have never been added.

[2021-01-29 19:54] estebank commented on #81508
Every single one of these errors should point at similarly named things of the wrong namespace.

[2021-01-29 19:55] tmandry commented on #81531
Sorry, [fixed](https://cs.opensource.google/fuchsia/fuchsia/+/master:src/sys/pkg/lib/omaha-client/src/state_machine.rs;l=539;drc=135c122764c96cb5132d4d1bbb51bb75b2f12a92).

[2021-01-29 20:26] leo60228 commented on #81326
I've triggered almost this exact problem.

[2021-01-29 20:29] Aaron1011 commented on #81531
Minimized:

[code]

Caused by https://github.com/rust-lang/rust/pull/79819

[2021-01-29 20:37] ehuss commented on #81516
Sorry, I'm a bit confused.  Are you saying you see an error with `"-mmx,-sse,+soft-float"` or with `"+mmx,+sse,+soft-float"` or both?

I'm only able to reproduce with `+sse,+soft-float`, but I don't think that combination is really supported.  See #36659, where one possibility is to have `+soft-float` imply `-sse` and friends.

[2021-01-29 21:08] KernelFreeze commented on #81516
I get this error with just `+mmx,+sse`

[2021-01-29 21:26] jyn514 commented on #81476
Rustdoc also uses `def_span`: https://github.com/rust-lang/rust/blob/b122908617436af187252572ed5db96850551380/src/librustdoc/clean/types.rs#L147-L148

[2021-01-29 21:27] jyn514 commented on #81446
Duplicate of https://github.com/rust-lang/rust/issues/75791

[2021-01-29 21:27] #81446 closed

[2021-01-29 22:42] davepacheco commented on #48919
Based on this, I expected that if I create a trait with a method whose name conflicts with a feature-flagged method in `std`, and I enable that feature, then I would also get a hard error.  That doesn't seem to be the case:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018

@steveklabnik says this might be because the example in this issue text above involves methods with the sam

[2021-01-29 23:26] Aaron1011 commented on #81531
When we run `DefCollector` on the AST, we create a definition for the desugared closure body inside an `async fn`:

https://github.com/rust-lang/rust/blob/b122908617436af187252572ed5db96850551380/compiler/rustc_resolve/src/def_collector.rs#L124-L130

As a result, the `invocation_parents` entry for our macro call will have the `DefId` of the desugared closure. However, this desugared closure does n

[2021-01-29 23:44] jflatow opened #81540 "Thread 'rustc' panicked at 'Missing span for DefIndex(1193)'"
I can't provide any details about the project I'm working on, but the compiler asked me to report, so here I am.

### Code

Something to do with `serde` / `serde_json`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-30 00:03] tmiasko commented on #81540
Is the error reproducible? Does it reproduce on the most recent nightly?

[2021-01-30 00:08] tmiasko commented on #81476
In contrast, there is a report of a missing `def_span` in #81540 (using rustc before changes in question landed).

[2021-01-30 00:11] ObsidianMinor commented on #75861
Is there a specific reason why the definitions of `Arc::new_cyclic` and `Rc::new_cyclic` use `impl FnOnce` instead of an explicit generic type?

[2021-01-30 00:17] fanninpm commented on #80745
[Playground link of example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bf802d78cc833f735e28facbdea87917)

I can't get this to ICE on the 2021-01-28 nightly. Can you confirm?

[2021-01-30 00:19] Fishrock123 commented on #74779
As someone who writes a lot of async rust (using async-std), this would be super handy.

Some of my team members are also less experienced Rust programmers and it;s hard to expect them to know how to filter through this.

I know it's out of scope of this, but related, a similar functionality in debuggers would often be super handy.

[2021-01-30 00:27] tmandry commented on #73524
Another missing piece: Debuggers need the ability to identify the local variable currently being awaited. This could be as simple as a special symbol name (something that can't be spelled in normal Rust, like `$awaitee`). And/or maybe there's a special designation we can make on the local in DWARF.

[2021-01-30 00:35] RReverser commented on #68574
Looks like people are already misusing the currently exposed API for symlinks - since there is no way to use it right :( https://github.com/vitiral/path_abs/pull/50#issuecomment-770120481

[2021-01-30 00:54] #81467 closed

[2021-01-30 01:33] mental32 commented on #80745
@fabiand yes it looks like something in https://github.com/rust-lang/rust/pull/81461 fixed this

[2021-01-30 01:33] #80745 closed

[2021-01-30 01:53] henryboisdequin commented on #81508
Do you know where in the code this is coming from?

[2021-01-30 02:16] RReverser commented on #68574
Given above, finally got back to this and made a PR to fix it: https://github.com/rust-lang/rust/pull/81542

[2021-01-30 02:37] subtle-byte opened #81543 "Too general error for trivial macro when generated function has invalid name"
Macro:

[code]

Usage of the macro:

[code]

Error:

[code]

I expect a more specific error. For example the usage
[code]
triggers the error:
[code]
\- only `32` is pointed!

### Meta

I've tried the above using the latest stable (`rustc 1.49.0 (e1884a8e3 2020-12-29)`) and nightly (`rustc 1.51.0-nightly (b12290861 2021-01-29)`) versions of the compiler.

[2021-01-30 05:55] osa1 commented on #81413
I spent some time trying to debug this last week and I'm fairly sure #64054 is the PR that introduced this. I wasn't aware of that PR at the time but I spent a lot of time trying to understand what is "determinate" vs. "indeterminate" (which is unfortunately not documented) and I remember finding out that with glob import the import `crate::item` is becoming "indeterminate" while it's normally (wi

[2021-01-30 10:41] jbreitbart opened #81548 "std::collections provides a complexity for BTreeMap::predecessor but the function is not available"
I was just through https://doc.rust-lang.org/std/collections/#maps and noticed that it gives a complexity for the `predecessor` operation for BTreeMap, but that operation seems not to be available. I checked the map itself and its iterator. Is this a documentation bug or am I missing something?

[2021-01-30 10:51] sdroege commented on #75935
I've updated the issue description with a minimal testcase in Rust, C/C++ and as discussed in https://github.com/rust-lang/rust/pull/77822 will report this to LLVM.

[2021-01-30 11:21] KodrAus commented on #73131
@ijackson Are you happy if we collapse those child issues into this one and consider everything we want to do to improve our `std::process` error handling together?

[2021-01-30 11:24] KodrAus commented on #73131
I was thinking our path could look something like:

1. Design our API for converting `ExitStatus` into a `Result`.
2. Update our docs (in particular our docs around `ExitStatus` are pretty sparse).
3. Get the `ExitStatus` into `Result` API stabilized and update our examples to use it instead of ignoring them.
4. Consider `#[must_use]` on `ExitStatus`.

What do you think?

[2021-01-30 11:27] KodrAus commented on #73131
In #81452, am I reading that right and you're saying it's possible to spawn a child that outlives its parent process entirely?

[2021-01-30 11:34] KodrAus commented on #73131
As for what to make the API for `ExitStatus` into `Result` look like, I arrived at `success_or_else` after thinking:

- We should try give our methods that convert a non `Option`/`Result`/`Poll`-like type into one a more semantic name, so that you can identify it in a chain of combinators.
- We don't necessarily need to introduce a new `ExitStatusError` type that will look roughly the same as `Exi

[2021-01-30 12:58] sdroege commented on #75935
Reported to https://bugs.llvm.org/show_bug.cgi?id=48965

[2021-01-30 13:16] xfix commented on #81548
This looks a lot like a cursor method, but cursor API for `BTreeMap` is long gone. I think we could write `range` instead of `predecessor` here.

[2021-01-30 13:58] #80556 closed

[2021-01-30 13:58] #73394 closed

[2021-01-30 13:58] #74913 closed

[2021-01-30 13:58] #81429 closed

[2021-01-30 13:59] rust-highfive opened #81551 "`miri` no longer builds after rust-lang/rust#81545"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#81545, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-01-30 14:00] kangshan1157 opened #81552 "Can rustc support to call llvm intrinisc API which contains type like llvm_v4i1_ty?"
During the intrinsic APIs implementation in stdarg, I find some llvm intrinsic APIs may contain types like llvm_v4i1_ty (4 bits), llvm_v2i1_ty (2 bits) for which I fail to find the corresponding types in Rust. What I learned Rust's type has 8 bits at least.
I'm a beginner of Rust and I have no idea about whether rustc can support to call a llvm intrinisc API which contains type like llvm_v4i1_ty,

[2021-01-30 14:11] nagisa commented on #81552
You would have to add a rust intrinsic that wraps and converts the arguments appropriately to make it work. There is no way at the rust source level to obtain these LLVM types.

[2021-01-30 14:14] kangshan1157 commented on #81552
So I have to change the rustc code to achieve the purpose, right?

[2021-01-30 14:17] nagisa commented on #81514
Nominating for T-compiler discussion. I suspect that the team will be comfortable with the demotion unless somebody expresses a justified reason why the demotion should not be demoted.

[2021-01-30 14:19] nagisa commented on #81552
Sure, but do discuss this with… stdarch (I think that's what you meant?)… folks first. Maybe they have alternative ideas in mind.

[2021-01-30 14:23] kangshan1157 commented on #81552
Yes, I already submitted an issue in stdarch github. (https://github.com/rust-lang/stdarch/issues/989)  And they told me this should be supported by the compiler.

[2021-01-30 14:37] RalfJung opened #81554 "Latest master toolchains are broken when linking LLVM: "__morestack: invalid needed version 2""
When I install the latest master toolchains via `rustup-toolchain-install-master` and try to build [Miri](https://github.com/rust-lang/miri/) with them, linking fails:
[code]
I did some bisection, and it looks like the problem started happening with https://github.com/rust-lang/rust/pull/81489.

Cc @rust-lang/infra

[2021-01-30 14:40] RalfJung commented on #81554
The error is actually already mentioned in https://github.com/rust-lang/rust/pull/81489. However, I am building Miri with cargo, so I don't know how I'd "use LLD instead".

[2021-01-30 14:46] RalfJung commented on #81551
This is blocked by https://github.com/rust-lang/rust/issues/81554: I currently cannot build Miri.

[2021-01-30 14:55] hyd-dev opened #81555 "ICE (Missing tokens for nt) on nightly with `stmt_expr_attributes` and `proc_macro_hygiene`"
I tried this code:
[code]
[code]

I expected the code to compile sucessfully, but got an ICE instead:
[code]

(This is procedural-macro-related. I can't reproduce without a procedural macro.)

This used to work and regressed in #79472.

<details><summary>Backtrace</summary>
<p>

[code]
</p>
</details>

cc #15701 #54727

[2021-01-30 15:02] Mark-Simulacrum commented on #81554
Hm, we probably need to revert that PR. I did not realize we'd need lld downstream too, I thought that was only on our builder.

cc @nikic @cuviper

[2021-01-30 17:10] m-ou-se commented on #73831
Sounds like this is the best name we can come up with.

So, let's make sure the documentation of the `binary_search` functions point to `partition_point` as an alternative, and maybe add a `doc(alias)` for it as well.

If anybody feels like updating the documentation here: PRs welcome. ^^

Let's kick off the FCP for stabilizing this:

@rfcbot resolve name

[2021-01-30 17:12] oersted opened #81561 "Support for borrow across yield (self-referential generator)"
Here's a toy example of a self-referential generator.

[code]

It keeps a borrow across a `yield`. When the generator is desugared into a state-machine, it needs to store the state that each `yield` depends on as a struct. In this case, one of the state structs will need to contain a reference to one of its members, thus, self-referential. Such a struct is not safe to move to another location in m

[2021-01-30 17:17] jonas-schievink commented on #81561
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

You need to unsafely pin the generator via `Pin::new_unchecked`, or one of the many support crates for pinning.

[2021-01-30 17:17] #81561 closed

[2021-01-30 17:21] oersted commented on #81561
@jonas-schievink Understood, many thanks for your swift response. I'll try what you proposed and will repost in the forums in case someone wants to give a broader explanation.

[2021-01-30 17:26] cuviper commented on #81554
Yes, a revert seems appropriate. We're going to have to figure out where that's actually coming from. The only change I saw between 10 and 11 by grepping `morestack` was the removal of llgo, but maybe there's some bad remnant.

[2021-01-30 17:32] oersted commented on #81561
As a reference for anyone coming here, here's some discussion about the `Pin::new_unchecked` approach @jonas-schievink mentioned.

https://github.com/rust-lang/unsafe-code-guidelines/issues/148

[2021-01-30 17:37] nikic commented on #81554
Yeah, I thought this issue would be limited to the rustc build, but it makes sense that it can also affect project linking against rustc shared objects.

I've looked a bit into what the root cause is, and what I have so far as that the symbol comes from https://github.com/llvm/llvm-project/blob/b10d445307a0f3c7e5522836b4331090aacaf349/llvm/lib/ExecutionEngine/RuntimeDyld/RTDyldMemoryManager.cpp#L2

[2021-01-30 17:39] YaxinCheng opened #81564 "Unmatched brackets cause rustc stack overflown"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[variable.txt](https://github.com/rust-lang/rust/files/5898401/variable.txt)

[2021-01-30 17:54] Thomasdezeeuw commented on #79995
These functions are great additions to the `MaybeUninit` API.

But if may open the bikeshed, should be renamed to `copy_slice` and `clone_slice` to more closely match what the functions are actually doing? The current names are a little confusing/misleading. For example let's look at a similarly named function: `MaybeUninit::write`, it takes ownership of the value it writes and moves the value int

[2021-01-30 17:59] lukaslueg commented on #81564
Same as #79766 ?!

[2021-01-30 17:59] oersted commented on #81561
The follow-up forum post https://users.rust-lang.org/t/support-for-borrow-across-yield-self-referential-generator/54891

[2021-01-30 18:10] YaxinCheng commented on #81564
Looks like the same. Sorry that I didn't see that issue. Please feel free to close this as duplicated

[2021-01-30 18:11] RalfJung commented on #81554
@nikic can you prepare a revert PR?

[2021-01-30 18:41] nikic commented on #81554
@RalfJung Done in #81565.

If nobody has an idea on how to avoid the linker error, two more options would be to comment out the symbol in your llvm-project fork, or to avoid upgrading clang altogether and just build both Python 2 and Python 3 for that image.

[2021-01-30 18:46] jyn514 commented on #76653
Hmm, https://github.com/rust-lang/rust/pull/81520 doesn't help with this as much as I thought because you have to make a config.toml before ever running a command with x.py. I wonder if we could clone LLVM lazily instead (only when it needs to be built).

[2021-01-30 19:05] jyn514 commented on #76653
@Mark-Simulacrum what do you think about doing this in `impl Step for native::Llvm` instead? That has a couple benefits:
- Things that don't need LLVM at all don't need complicated logic to detect that (e.g. `x.py check` or `x.py setup`)
- `download-ci-llvm` no longer gets special cased, `native::Llvm` isn't run in the first place when it's set
- Running `x.py check` out of the gate no longer down

[2021-01-30 19:07] oli-obk commented on #81476
Hmm... so this perf regression may in fact be due to a bugfix

[2021-01-30 19:12] est31 commented on #64796
The "Dependency updates cause language changes" checkbox can be marked now as #81259 has been merged.

#81468 has been merged too, so the default is now switched to make `cfg(version(c))` always eval to true, even if c is equal to the nightly compiler's version.

I'd like to get it stable so that I can use new language features without hurting my MSRV. I don't see any remaining issues.

Does this

[2021-01-30 19:15] osa1 commented on #79590
I'm trying to debug this and have a question on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/Multiple.20associated.20types.20in.20TyS.20when.20the.20user-written.20type) (also copied to [internals]( https://internals.rust-lang.org/t/multiple-associated-types-in-tys-when-the-user-written-type-has-one/13939/2)). If anyone have any pointers that would be helpf

[2021-01-30 19:38] oli-obk opened #81567 "Tracking Issue for mir-inlining"
This is a tracking issue for the MIR inliner. You can currently enable it by passing `-Zmir-opt-level=2` to the compiler (although that also enables a bunch of other opts)

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is howe

[2021-01-30 20:05] nagisa commented on #81554
The issue is probably going to be in how exactly the objects that comprise libLLVM.so are compiled, not linked. I suspect `lld` just ends up ignoring the malformed object or otherwise not reporting the issue, but the object and the relevant symbols ultimately end up in the `so` anyway.

Alas, reasons these obscure failures can occur are many – I've seen them occur from things as trivial as forgett

[2021-01-30 20:07] osa1 commented on #70814
I think e42337b6089d a fixed this issue. It didn't add a test though so perhaps mark as needs-test?

[2021-01-30 20:44] camelid commented on #81555
If this code only works on nightly, then I don't think it's a `regression-from-stable-to-nightly`. However, we don't have a `regression-from-nightly-to-nightly` label, so ...

[2021-01-30 20:53] ijackson commented on #73131
Hi.  Thanks for the attention.

The current situation seems quite bad to me but it has been like this
for quie a while.  So I want to fix it in whatever way will get
general approval :-).  I am fine with doing things in this order.

Yes.  That is the default behaviour of fork() if you exit without
waiting for the child.  This is rarely desirable.

If it were called `or_else` it ought to take a clo

[2021-01-30 20:59] ijackson commented on #73131
I guess in summary, I think next step in this area should probably be to work up an MR for `ExitStatusError`.  I think once you see it you'll like it :-).

[2021-01-30 21:06] Mark-Simulacrum commented on #76653
That seems largely fine to me, presuming it doesn't duplicate too much code or so (I wouldn't expect it to).

[2021-01-30 21:18] nikic commented on #81554
We normally don't link ExecutionEngine, but dist-x86_64-linux in particular builds LLVM with ThinLTO, in which case we link libLLVM.so as shared, instead of statically linking individual components into rustc_llvm.

[2021-01-30 21:26] nikic commented on #81554
It seems to be possible to configure the components in libLLVM.so using `LLVM_DYLIB_COMPONENTS`, but I'm not sure to what degree we can restrict those (not sure if this job also ships LLVM tools).

[2021-01-30 21:50] VillSnow commented on #73831
I don't know much about `doc(alias)`, but does it show this?

![2021-01-31 (1)](https://user-images.githubusercontent.com/12480493/106368825-1002ee00-6390-11eb-8462-c66923e43112.png)

It looks like to make a flow from other names. For example, some languages has `reduce`, so type 'reduce' at the search box, then hit `Iterator::fold`.
However, Rust already has `binary_search` for who want to find a

[2021-01-30 22:03] estebank commented on #81508
@henryboisdequin running the following will tell you where the error is being emitted:

[code]

From there the place you might want to start looking at is `smart_resolve_path_fragment`, which is a bit hard to follow at the moment (I'm doing a slight clean up of that method at the moment), but should be reasonably straight forward to add another check for this case to that pile :)

[2021-01-30 22:50] jryans commented on #66118
I have attempted to reproduce this issue following the steps in the [dwarf-test](https://github.com/hannobraun/dwarf-test) sample repo, but everything seems to work correctly for me. I tested on Ubuntu 18.04 for x86_64 with both Rust stable (1.49.0) and nightly versions.

Do the original steps still reproduce for you, @hannobraun? Are there additional steps or details I might be missing?

[2021-01-30 23:41] jryans commented on #66118
Since the issue seems to focus on `lld` as a possible cause, and Ubuntu 18.04 uses GCC's `cc` as the system linker, I also tried installing LLVM 10 and forcing Rust to use `lld`, but this appears to also work fine as well.

[2021-01-30 23:55] #81554 closed

[2021-01-31 00:15] scottmcm opened #81576 "Elide generic arguments in "no method found" errors if they're irrelevant"
Inspired by this question on discord:

Repro: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e270ca9a0ae009a8f34af6bc31c0ce90
[code]
Error:
[code]

It would be nice if rustc could notice that `Map<T>` *never* has `extend` for any `T`, and use that information to simplify the error message to just
[code]
in order to focus the user better on the relevant part.

Can the name

[2021-01-31 00:47] henryboisdequin commented on #81508
@rustbot claim

[2021-01-31 00:52] camelid commented on #81564
I don't think this is a duplicate.

Can you please provide the contents of `variable.txt`? Also, these parentheses are *not* mismatched:

[code]

[2021-01-31 00:54] YaxinCheng commented on #81564
@camelid the `variable.txt` is attached with this ticket. And the parentheses is unmatched in the `variable.txt`. Because it is too long, I put it into a file instead of putting it directly into the code. But I personally feel it is the same thing as the previous mentioned ticket

[2021-01-31 01:15] henryboisdequin commented on #81576
@rustbot label +A-diagnostics +D-papercut +T-compiler

[2021-01-31 01:34] JulianKnodt opened #81579 "Doc comments for TyCtxt has extra query description in brackets"
The doc comments for some queries have extra bracketed info which should not be present:
![image](https://user-images.githubusercontent.com/7675847/106372112-72310400-633a-11eb-9ff2-0e3537b44450.png)

[2021-01-31 04:22] HTG-YT opened #81581 "Could not compile Rocket with the latest nightly"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-31 04:40] KodrAus commented on #73131
ExitStatusError type that will look roughly the same as
     ExitStatus, except implement the Error trait, because ExitStatus
     is Copy, if you want to add it as context you can freely refer
     to it anywhere.

`.exit_ok()` (or whatever we call it) ought not to contain the exit
status ?  Or that it ought to be something much more complicated ?

Ah, what I meant here was that I don't think we

[2021-01-31 04:52] KodrAus commented on #73131
waiting for the child.  This is rarely desirable.

Yeh I can't think of a case where that's ever what I've wanted! We've previously rejected attempts to add `#[must_use]` to `thread::spawn`, because explicitly not joining a thread is a legitimate pattern and when your process goes away so do all those threads anyways.

Sorry for the mix-around, would you be happy to resubmit a PR that adds `#[must

[2021-01-31 05:58] #71983 closed

[2021-01-31 05:58] #78029 closed

[2021-01-31 05:58] #81377 closed

[2021-01-31 05:58] #81548 closed

[2021-01-31 05:58] #65770 closed

[2021-01-31 05:58] #81395 closed

[2021-01-31 06:00] rust-highfive opened #81582 "`rls` no longer builds after rust-lang/rust#81578"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#81578, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @jonas-schievink, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-01-31 06:00] rust-highfive opened #81583 "`rustfmt` no longer builds after rust-lang/rust#81578"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#81578, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @jonas-schievink, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-01-31 06:46] estebank opened #81584 "Detect iterators going out of scope and suggest collecting"
Given a situation where an iterator is [constructed inside of a scope where the data is being returned, we currently emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3ca34625b7eaf1c44d9ddb7b3840a69e):

[code]

We should suggest using `.collect()` in these cases.

[2021-01-31 07:48] nielx opened #81585 "ICE compiling url2 in latest 1.51.0-dev nightly cross-compiling for Haiku"
I am maintaining the Rust builds for Haiku. For a few weeks, just after the nightly's version became 1.51.0, I have been getting an error when compiling cargo as part of the Rust build. This happens consistently when it has been building the `url2` crate.

I am cross-compiling on x86_64-unknown-linux-gnu for i686-unknown-haiku

### Meta

`rustc --version --verbose`:
[code]

The most recent SHA whe

[2021-01-31 08:09] SimonSapin commented on #65798
Stabilized in 1.51.0 by https://github.com/rust-lang/rust/pull/80470.

The `IntoInterator` impl is tracked separately at https://github.com/rust-lang/rust/pull/65819.

[2021-01-31 08:09] #65798 closed

[2021-01-31 08:13] klensy commented on #16480
Still the same:
`main.rs` with crlf or lf endings:
[code]
[code]
same, main.rs, but with cr endings:
[code]

[2021-01-31 08:16] leonardo-m commented on #81584
Or flatten/flat_map?

[2021-01-31 08:57] mati865 commented on #81381
@rustbot modify labels: +O-windows-msvc

[2021-01-31 09:11] omayerg opened #81586 "chrono panics on a valid input string"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3d236bd09780fbba2861462b980c7f89))

Expected null result, but actually it panics.
It seems chrono parser misses the case where a string starts with a valid datetime part, e.g. SUN, MON, TUE... but then have non-ascii characters. For example, running the above string without letting it start with any three

[2021-01-31 09:29] klensy commented on #81381
There was some issues, nightly-2021-01-11-x86_64-pc-windows-msvc works for bootstrap, at least better works.

[2021-01-31 09:37] #81586 closed

[2021-01-31 09:37] omayerg opened #81587 "chrono panics on a valid input string"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c6a8ef89067d6e6c1b87937c60b0a04c))

Expected null result, but actually it panics.
It seems chrono parser misses the case where a string starts with a valid datetime part, e.g. SUN, MON, TUE... but then have non-ascii characters. For example, running the above string without letting it start with any three

[2021-01-31 10:26] ijackson commented on #73131
Most of the examples in the stdlib leak the `Child` (!) and would need fixing.  Doing that one `#[must_use]` now, and the rest later, would mean half-fixing the examples now and then fixing them properly later.

[2021-01-31 10:36] ijackson commented on #73131
FYI the behaviour if you leak the child:
[code]

[2021-01-31 11:01] ijackson commented on #73131
Thanks for your comments.  I still think, especially after the discussion on internals, that the dedicated `ExitStatusError` type is the right approach.  I think I ought to be able to convince you but I don't want to annoy you and a bullet-point to-and-fro seems a poor approach.  Also this tracking bug is not the ideal place to have this rather more specific conversation about this one question.

[2021-01-31 11:18] ivan770 commented on #81587
Is this issue related to Rust compiler itself? You might want to re-open it in https://github.com/chronotope/chrono.

[2021-01-31 11:59] lukaslueg commented on #81581
Same as #81531 ?!

[2021-01-31 12:11] #79221 closed

[2021-01-31 12:12] HTG-YT commented on #81581
Seems like it 🤔

[2021-01-31 12:59] #81581 closed

[2021-01-31 13:18] the8472 commented on #75017
Maybe we should follow that example and generalize `spare_capacity_mut()` to return  `(&mut [T], &mut [MaybeUninit<T>])`?

[2021-01-31 14:00] #81587 closed

[2021-01-31 15:51] 1000teslas commented on #81365
@Aaron1011 How can I check if a `Deref` in the list of projections of a place is implicitly inserted?

[2021-01-31 16:05] pickfire opened #81597 "Rustdoc title off in mobile"
![image](https://user-images.githubusercontent.com/4687791/106385022-05d10600-6409-11eb-9b21-ca18015c2020.png)

The nightly title text looks off in small phones.

https://github.com/rust-lang/rust/pull/81592#issuecomment-770380620

cc @GuillaumeGomez

[2021-01-31 16:08] nikic commented on #81554
So, I think we *could* have used `LLVM_DYLIB_COMPONENTS` to exclude unnecessary parts from libLLVM.so, as LLVM tools can still statically link the parts not in the dylib. But in the end, we can't use the option anyway due to https://bugs.llvm.org/show_bug.cgi?id=48974.

[2021-01-31 17:06] p0lunin opened #81600 "ICE when compile redis on the last nightly"
### Code

https://github.com/teloxide/teloxide/pull/335/checks?check_run_id=1801759422#step:4:650

### Meta
[code]

### Error output

[code]

[2021-01-31 17:13] Aaron1011 commented on #81600
This will be fixed by https://github.com/rust-lang/rust/pull/81541

[2021-01-31 17:16] Aaron1011 commented on #81365
@1000teslas: You should be able to adapt this code: https://github.com/rust-lang/rust/blob/0677d9729318441a1cdb0c74812ec4140fa4d35f/compiler/rustc_mir/src/borrow_check/diagnostics/mod.rs#L798-L893

and re-use the `FnSelfUse` code. The actual check for a non-user-supplied `Deref` call is done by: https://github.com/rust-lang/rust/blob/0677d9729318441a1cdb0c74812ec4140fa4d35f/compiler/rustc_mir/src/

[2021-01-31 17:51] KronicDeth opened #81602 "Panic in libtest while running doc tests"
Encountered while updating https://github.com/lumen/lumen from `nightly-2020-05-13` to latest `nightly` (`nightly-2020-01-29`)

I haven't minimized yet this.  Posting now to minimize later.

### Code

1. `git checkout git@github.com:lumen/lumen.git`
2. `git checkout 614cd157dfa302e8235c0957b6fe0b5b8f59332e`
3. `cargo make test -- --package liblumen_alloc`

### Meta

`rustc --version --verbose`:
[c

[2021-01-31 18:11] ojeda commented on #81383
There are a couple more that can be replaced in `library/core/src/iter/adapters/fuse.rs` (not counting the macro ones, which are quite a few, but those would require several equivalent functions), but it may make codegen worse due to missed optimizations in LLVM. I filed https://bugs.llvm.org/show_bug.cgi?id=48975 to see what can be done on their side. This may also help other `*_unchecked()` func

[2021-01-31 18:20] BilalChaudry9 commented on #73284
Hello,
I am quite new on Embedded Rust.. Previously I had complied a few programs that worked file.. But Today when creating a new one it started throwing error `**error: linking with `rust-lld` failed: exit code: 1**`
Even the Discovery src projects are causing the issues.
When I open previously compiled projects they were running fine until I Updated the Crates using "cargo update" and programs

[2021-01-31 18:36] WaffleLapkin opened #81604 "Confusing and big error when misusing function instead of function call in iterator chain"
I've accidentally used a function (`String::from`) instead of a function call (`String::from("...")`) and the error was hard to read. Maybe it can be improved. ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a10d7c3db979164ae8323aea36721754))

<details><summary>Code</summary>
<p>

[code]

</p>
</details>

<details><summary>Error</summary>
<p>

(this error is

[2021-01-31 18:37] ehuss commented on #76371
I posted #81603 to avoid the second build with `--stage=1`.  I think there is still value to re-architect how error-index-generator works, but I wanted to do a smaller change for now rather than invest time in redesigning the tool.

[2021-01-31 18:52] simonvandel opened #81605 "MIR-opt not const-folding"
I expected the following:
[code]

to const-fold into `_0 = 2`.

Godbolt: https://godbolt.org/z/e89dYj

Using `-Zdump_mir=all` shows that this may be a pass ordering issue.

<details><summary>Before SimplifyCfg-final</summary>
<p>

[code]

</p>
</details>

<details><summary>After SimplifyCfg-final</summary>
<p>

[code]

</p>
</details>

So after `SimplifyCfg-final` it is clear that ` _0 = Add(const

[2021-01-31 19:52] WaffleLapkin opened #81606 "ICE while compiling `redis-0.16.0`"
### Code

CI in `teloxide` project failed with ICE:
- PR: https://github.com/teloxide/teloxide/pull/335
- failed CI: https://github.com/teloxide/teloxide/pull/335/checks?check_run_id=1802208287

I don't have much time to research this, so I'm providing the error as is.

### Meta

[code]

### Error output

[code]

[2021-01-31 19:54] jonas-schievink commented on #81606
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-01-31 19:54] #81606 closed

[2021-01-31 20:02] WaffleLapkin commented on #81600
duplicate of #81531

[2021-01-31 21:08] estebank commented on #81584
I want for us to detect cases of trying to operate on iterators of iterators because the only option then is to allocate or completely rework the logic. The former will help newcomers, experts will know enough to try the later.

[2021-01-31 21:25] KronicDeth commented on #81602
Removing all doctests fixes the build as one would expect.

<details>

[code]

</details>

Adding each test back in, it turned out that it is just the test that shows setting the `#[global_allocator]`.  I'm not sure if this means the test is failing because `SysAlloc` is broken by the upgrade of Rust and the adjustments made by going from `AllocRef` to `Allocator` meaning the global allocator is b

[2021-01-31 22:05] calebcartwright commented on #81582
We'll need to do the rounds of rustc ap crate updates to get the issue resolved in rustfmt, and accordingly for RLS

[2021-01-31 22:37] klensy commented on #81605
Godbolt currently shows this on nightly, 1.49 with `-O --emit=mir`
[code]

[2021-01-31 22:50] Aaron1011 commented on #81555
This will be fixed by https://github.com/rust-lang/rust/pull/81286, which handles attributes on expressions in a more systematic way.

As a side now, `#[breaks_rust] _break = rust;` is currently parsed as  `<#[breaks_rust _break> = rust;`

[2021-01-31 23:07] bstrie commented on #80908
The documentation for this item suggests that it should be used with another unstable API, `MaybeUninit::uninit_array`. However that API is not contained under this feature flag, and furthermore I can't find a tracking issue for it. Should we use this issue to track that one as well?

[2021-01-31 23:35] nagisa commented on #81605
This is a constant/value propagation which I'm sure has an issue for it already.

[2021-02-01 00:31] camelid commented on #81555
Do you want to add `Fixes #81555` to that PR then?

[2021-02-01 00:38] KodrAus commented on #73131
@ijackson No problem! I'll also go and read through the pre-RFC discussion so I'm properly informed too.

[2021-02-01 00:44] bstrie commented on #71514
I don't know that a hypothetical `TryFromIterator` has ever been discussed anywhere; it would probably be a big enough change that I would expect it to have its own RFC. It might even be overkill to have a `TryFromIterator` trait when instead we could impl `FromIterator<T> for Option<[T; N]>`; there's already precedence in the stdlib for returning `None` when something returning a fixed-size array

[2021-02-01 01:53] jyn514 commented on #81579
@Julian-Wollersberger this is intentional - those docs are autogenerated from the query description, not written by a human.

[2021-02-01 01:54] Aaron1011 commented on #81555
We'll still need to add a regression test.

[2021-02-01 02:13] JulianKnodt commented on #81579
ah ok, I just assumed that since they had a description and the brackets it was unintentional, I'll close this then

[2021-02-01 02:13] #81579 closed

[2021-02-01 02:42] #71202 closed

[2021-02-01 02:42] #80371 closed

[2021-02-01 02:42] #80767 closed

[2021-02-01 02:42] #81315 closed

[2021-02-01 02:42] #75682 closed

[2021-02-01 02:42] #81220 closed

[2021-02-01 03:00] camelid opened #81612 "rustdoc: `rustc_serialize::Decodable` is missing some implementors"
The docs for [`rustc_serialize::Decodable`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_serialize/trait.Decodable.html) are not showing implementors from downstream crates (e.g. the impls in `rustc_metadata` for `CrateNum` and `DefIndex`). My understanding was that implementors in downstream crates that are compiled into the same docs should be displayed on the upstream trait.

Not sure

[2021-02-01 03:05] camelid commented on #81311
Hmm, I'm not sure if this is right. [`rustc_hir::def_id::CrateNum`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/def_id/enum.CrateNum.html) has a `[src]` link, but that's a re-export of [`rustc_span::def_id::CrateNum`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_span/def_id/enum.CrateNum.html). The `[src]` link of the re-export points to the source of the dependency.

I'm no

[2021-02-01 03:27] BurntSushi commented on #80676
I'm not sure what motivation for something like this is, even if backcompat weren't a concern. Returning an `impl Trait` is awfully inflexible in today's Rust. I don't think it should be in a public API anywhere unless it has to be.

[2021-02-01 03:46] xobs opened #81613 "Unable to build with cmake on Windows: missing: Python3_EXECUTABLE Interpreter"
When attempting to build using cmake on Windows under MSVC, the `cmake` command attempts to find `python3`. This fails for some reason, and does not give any more information.

This occurs regardless of whether I run `python x.py build` or `python3 x.py build`, as long as I set `ninja=false` in `config.toml`. No other changes are made.

[code]

[2021-02-01 03:46] camelid commented on #80676
But there's pretty much nothing you can do with `std::path::Display` anyway. Can you explain what you mean about it being inflexible?

[2021-02-01 03:50] xobs commented on #81613
I've attempted to switch to `ninja`, and it produces the same error.

[2021-02-01 03:50] camelid commented on #81613
It seems it can't find `python2` either.

[2021-02-01 03:53] xobs commented on #81613
Correct, I don't have `python2` installed, only the official `python3` from the Microsoft store, which I'm using to run `x.py`.

[2021-02-01 03:53] camelid commented on #81431
(I think you posted that comment in the wrong place.)

[2021-02-01 03:56] camelid commented on #81600
Closing as duplicate of #81531.

[2021-02-01 03:56] #81600 closed

[2021-02-01 04:04] camelid commented on #81576
Not sure, but I bet it's hard. How can you know what traits are implemented before you've run trait-resolution/typeck/etc.?

@rustbot label: E-hard

[2021-02-01 04:13] xobs commented on #81613
I think can work around this for my purposes by adding to my `config.toml`:

[code]

Which naturally skips building llvm. I don't need to build llvm, so this works around this problem for me for now. However, it does appear as though the build process is incorrectly deciding that python doesn't exist, and it isn't providing context as to why it's deciding that.

[2021-02-01 04:17] camelid commented on #81097
@rustbot assign @osa1

[2021-02-01 04:19] camelid commented on #81613
If you only need to run things like `x.py check` and `x.py fmt`, I don't *think* it's necessary to add that to your config (though I may be wrong). Those commands shouldn't build LLVM anyway.

[2021-02-01 05:19] namibj opened #81614 "reproducing ICE while compiling experimental RSLint on 1.51.0-nightly"
### Code
Trying to compile Kixiron/RSLint@9388cddeb227f584e949f2b9107c7b83d5e7141c, having changed the `Cargo.toml` a the repository root slightly to the following, in preparation for trying some experimental changes to new code that runs a few seconds even with fat LTO:
[code]

The command line was `nice nice cargo run --locked --release ../../engine262/engine262/src`.

### Meta

It reproduced af

[2021-02-01 05:27] #81551 closed

[2021-02-01 06:04] bstrie opened #81615 "Provide a means of turning iterators into fixed-size arrays"
Now that min_const_generics is approaching there is a great deal of new support for working with fixed-sized arrays, such as `std::array::IntoIter`. But while converting from an array to an iterator is now well-supported, the reverse is lacking:
[code]
It is roundaboutly possible to do the conversion by going through Vec:
[code]
But that isn't no_std compatible, and even with std there should be n

[2021-02-01 06:19] LeSeulArtichaut commented on #81311
The difference is that here, `rustc_span` is documented. In my example, you need to document `b` with `--no-deps` to reproduce the issue.

[2021-02-01 07:55] nbdd0121 commented on #66741
Forgive me if I am missing something obvious, but couldn't we just abort if alloc error handler unwinds?
[code]

[2021-02-01 07:59] worldmaker18349276 opened #81616 "Non-unit variant of an enum type casts to a random number"
I tried this code:

[code]

I get random numbers every time I run.

### Meta
`rustc --version --verbose`:
[code]
It also works in the latest nightly version:
[code]

[2021-02-01 08:50] jfrimmel commented on #81616
This is due to the fact, that `Enum::X` is a kind of function pointer, which you take the address of (which isindeed kind of random).

If you try `Enum::X(false) as u32` it fails to compile as expected.

[2021-02-01 09:02] TehseenHasan commented on #73284
I also have the same issue. When I build the **src/05-led-roulette/src/main.rs** code file. It builds fine with no errors. But when I try to build another code in **The Led and Delay abstractions section** of the **Discovery book**. ([Code Link](https://docs.rust-embedded.org/discovery/05-led-roulette/the-led-and-delay-abstractions.html)) that code gives this
 **error: linking with `rust-lld` fail

[2021-02-01 09:08] #81616 closed

[2021-02-01 09:31] Nemo157 commented on #81597
1.49 is actually stable :wink:

[2021-02-01 10:24] hannobraun commented on #66118
Thanks for looking into this, @jryans. I can confirm that the issue is no longer reproducible using the dwarf-test repo. I don't think there were any additional steps beyond what's documented in the README.

I'm no longer involved in the project where the original issue (freezing GDB, see issue description) occurred, so I'm not set up to verify things there (it was a client project I was working o

[2021-02-01 10:29] worldmaker18349276 commented on #81616
So this is intentional behavior?
The compiler tries to prevent conversion between non-primitive types, but this is okay?

[2021-02-01 10:31] jonas-schievink commented on #81616
Yes, function pointers can be cast to integers

[2021-02-01 10:31] TehseenHasan commented on #73284
Thanks, Sir @imran82ali
Your solution worked for me.
👇👇👇
Download repo from here: https://github.com/rust-embedded/discovery
then make these changes
open code in VS Code
in **Auxillary** folder there is **cargo.toml** file. there will be **cortex-m** crate, replace that with this:
`cortex-m = "=0.6.4"`

**Note.** add = sign.

[2021-02-01 10:58] the8472 commented on #81615
Existing PRs #69985, #75644 and #79659. But It's great to have a place to consolidate discussion since there are so many ways to skin this cat.

Additional options.

1. Limit to `T: Default` and fill the array when the iterator falls short. Or let the user provide a lambda to fill them.
2. a new method on iterators (basically #79659 or variations thereof)
3. wait for `ArrayVec`

[2021-02-01 11:37] BurntSushi commented on #80676
There are a lot fewer things you can do with an `impl Trait` as opposed to a normal concrete type. See: https://github.com/rust-lang/api-guidelines/discussions/60

And you absolutely might want to do something with the type. Like maybe wrap it up on amother type.

[2021-02-01 12:36] rylev commented on #81555
Assigning P-high as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381555.20ICE.20(Missing.20tokens.20for.20nt).20on.20nightly.20with.20.60stmt_ex.E2.80.A6) and removing I-prioritize.

[2021-02-01 13:27] osa1 commented on #53114
Can this be closed? The original reproducer works now, and it seems like the commits referenced above add tests.

[2021-02-01 13:28] Nonius opened #81624 "thread 'rustc' panicked at 'no errors encountered even though `delay_span_bug` issued'"
### Code

https://github.com/bolcom/Rust_bug_report

### Error output

➜  bug_report git:(master) RUST_BACKTRACE=1 cargo build
   Compiling bug_report v0.1.0 (/Users/.../bug_report)
warning: Error finalizing incremental compilation session directory `/Users/.../bug_report/target/debug/incremental/bug_report-q9q8kckyvbau/s-fvgzxe1lfy-v4s6o6-working`: No such file or directory (os error 2)

warning:

[2021-02-01 13:41] osa1 commented on #55693
I think this is fixed now. To check, I created this file in `src/test/ui/issue-55693.rs`:

[code]

I first run this with `--bless` which created an .stderr file, with expected contents.

Then added `//~WARN` in the first `let`. It failed with

[code]

So it seems like we now expect the `//~WARN` lines to match the compiler generated warnings.

[2021-02-01 13:41] emilio opened #81626 "False positive "field is never read" warnings"
Here's a reduced test-case from Firefox source code:

[code]

Compiling that program warns with:

[code]

Which is obviously not true.

### Meta

`rustc --version --verbose`:
[code]

[2021-02-01 13:42] jonas-schievink commented on #81624
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-01 13:42] #81624 closed

[2021-02-01 13:46] emilio commented on #81626
Seems like this is a regression from d3c69a4c0dd98af2611b7553d1a65afef6a6ccb0.

[2021-02-01 13:46] emilio commented on #81626
cc @sanxiyn

[2021-02-01 13:55] leo60228 commented on #59976
Has there been any progress on this?

[2021-02-01 13:56] bjorn3 commented on #59976
Not that I know of.

[2021-02-01 14:17] matthiaskrgr opened #81627 "ICE: "type parameter out of range when substituting" if struct contains a field with a Box and unknown field is requested"
### Code
code from `./src/test/ui/parser/issue-35813-postfix-after-cast.rs`
[code]

### Meta

The ICE was introduced in 941343e0871dd04ea774e8cee7755461b144ef29

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-01 14:27] cecton commented on #81066
I'm also having this problem. I linked the issue to this ticket.

[2021-02-01 14:46] matthiaskrgr commented on #81627
Another more simple example which causes a slightly different ICE:
[code]

[code]

[2021-02-01 14:48] matthiaskrgr commented on #81627
https://github.com/rust-lang/rust/pull/81480 (part of the rollup) looks suspicious

[2021-02-01 15:04] DutchGhost opened #81628 "LLVM ERROR: SHT_NOBITS section '.bss' cannot have non-zero initializers"
I tried this code:

[code]

I expected to see this happen: This program should either compile, or only rustc should emit an error

Instead, this happened: On top of a rustc error, I also got an `LLVM ERROR`

### Meta

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-02-01 15:14] pickfire commented on #81597
@Nemo157 Ah, haha. It doesn't matter either way, I am talking about the title.

[2021-02-01 15:33] yoshuawuyts commented on #73524
My understanding from [this thread](https://twitter.com/pmjordan/status/1355191226790776833) is that if using Apple's libdispatch as an executor, it's possible to encode the dispatch stack trace as part of the executor. This could be useful for macOS/iOS, albeit a bit specific. Though probably not quite as good or general-purpose a DWARF approach would be.

On Windows I've found that MSVC provides

[2021-02-01 16:52] deg4uss3r opened #81632 "Create a `aarch64-apple-ios-sim` target for `rustc`"
Currently in our application we cannot run the iOS simulator on M1 machines because it is expecting `x86_64` architecture. Forcing `arm64` using the `rustc` target `aarch64-apple-ios` can build the project and ship the application but this targets the iOS Device SDK, and will not build in the simulator for testing with this error:

[code]

`rustc` should provide an `aarch-apple-ios-sim` target tha

[2021-02-01 17:06] digama0 opened #81633 "private macros break intra-doc links"
[code]

In the documentation of `Foo::to_str()` inherited from the deref impl, the documentation contains a link to ``[`&str`](str)`` that fails due to the presence of a `str!` macro in another module, even though that macro isn't accessible. (Even if it was, it shouldn't be affecting the resolution of an intra-doc link in the standard library.)

### Meta
`rustc --version --verbose`:
[code]

[2021-02-01 17:14] bstrie commented on #81615
This is an interesting alternative, and has precedence with `Option::unwrap_or_default` (which takes a value, not a lambda). However, it would preclude using any of the existing conversion traits.

This alternative is mentioned above. The difficulty of handling the error case means that I wouldn't want this to be the *only* way to convert an iterator into an array, but I wouldn't be opposed to it

[2021-02-01 17:43] shepmaster commented on #81632
Is #77484 relevant at all? Can the same path be followed?

[2021-02-01 17:57] pickfire commented on #59225
I got something similar while playing with diesel. At the same time the error also seemed somewhat incorrect to me? Is this similar here or considered a different issue?
[code]

I was a bit confused what can I do here, it would be good to have some suggestions on what kind of traits could be use for `as Trait`, or maybe the error message is incorrect. `posts::columns::id` is a unit struct. I don't

[2021-02-01 18:10] Aaron1011 commented on #81576
Method resolution occuring during typecheck (and involves trait resolution), so this might not be that difficult.

[2021-02-01 18:18] deg4uss3r commented on #81632
Awesome find @shepmaster I'll try doing this! If successful I'll open a similar PR :)

[2021-02-01 18:22] jethrogb commented on #81531
Nightly has been broken for 3 days, if there's disagreement on how to fix the issue, can we revert #79819 while the fix is being worked on?

[2021-02-01 18:47] steveklabnik commented on #58599
Triage: I don't believe there's been any changes here.

[2021-02-01 19:06] oberien commented on #28728
I just found the following miscompilation resulting from this bug, which simply compiles to `ud2`:

[code]

It's a minified version of the following snippet where I mistyped `take_while` as `filter`:

[code]

[2021-02-01 19:12] krojew opened #81637 "ICE during building rocket.rs as a dependency"
### Code

Available at https://github.com/SergioBenitez/Rocket/blob/master/core/lib/src/logger.rs:94:68 - revision c24f15c18f02319be83af4f3c1951dc220b52c5e

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-01 19:14] the8472 commented on #81615
Something like

[code]

This has been proposed in other conversations as it would help in several places in the standard library where an `[T; N]` is gradually initialized. And it would also help in this case since we could just return that instead of `[T; N]` directly. The user could then extract the array when `len == N` or handle the shorter than expected array in some other way.

It's similar

[2021-02-01 19:15] ijackson commented on #73125
@KodrAus apropos of recent discussion in #81452 and #73131:

### Motivation ###

It is far too easy to accidentally drop an `ExitStatus` on the floor, rather than checking it properly.  Indeed almost none of the examples in `std::process` get this right !

Doing it right with the current API is highly un-ergonomic.  We should be using `Result`.

Furthermore, there is no code in the Rust stdlib whi

[2021-02-01 19:22] #49921 closed

[2021-02-01 19:22] #81222 closed

[2021-02-01 19:24] the8472 commented on #81615
https://github.com/rust-lang/rust/pull/81382#issuecomment-766886730 suggests `Iterator::array_windows()` if that can be implemented (the storage requirements for the array were in question) then a similar `Iterator::array_chunks()` should be possible. With that one could call `iter.array_chunks().next()`

That is actually more general than using `FromIterator` or `TryFrom` because it does not cons

[2021-02-01 19:26] jonas-schievink commented on #81637
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-01 19:26] #81637 closed

[2021-02-01 19:27] the8472 commented on #49921
With #78641 merged you can now (on next nightly) use `BufWriter` to control the chunk size of `io::copy`.

[2021-02-01 19:48] fluffysquirrels opened #81638 "Internal Compiler Error logging in an async fn"
### Code

[code]

`Cargo.toml`:
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-01 19:53] jonas-schievink commented on #81638
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-01 19:53] #81638 closed

[2021-02-01 20:22] shepmaster commented on #76976
In a similar vein, I was curious if the opposite existed, converting from `&(mut) [u8; 4]` to `&(mut) u32`:

[code]

I do not have a specific usecase in mind. My thoughts were likewise around avoiding the copy (small as it may be).

[2021-02-01 20:30] alosarjos opened #81640 "Error compiling mongodb crate with Nightly"
Just compile an empty lib with the mongodb library pointing to 1.1.1 version (Latest stable). This was working with Nigtly before updating today, but I don't know from when the working version was (Haven't updated in a while)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-01 20:33] alosarjos commented on #81640
Compiling with stable works fine:

`rustc --version --verbose`:
[code]

[2021-02-01 20:34] jonas-schievink commented on #81640
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-01 20:34] #81640 closed

[2021-02-01 21:16] camelid commented on #81311
Ah, I see what you mean 👍

[2021-02-01 21:24] telmotrooper opened #81643 "consider changing this to be a mutable reference: &mut mut"
When trying to implement a Binary Search Tree I stumbled upon a situation on which the compiler recommends for me to:
[code]
I tried this code:

[code]

I expected to see this happen: A suggestion for a valid code change.

Instead, this happened: A suggestion for something that is not considered valid code.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[2021-02-01 21:24] camelid commented on #80676
I guess I would think you could just wrap it like `struct MyWrapper<T: fmt::Display>(T);`. But I guess then you can't ensure it was created from `Path::display()`?

[2021-02-01 21:32] bstrie commented on #81615
Hm, I'm very intrigued by the suggestion of `Iterator::array_chunks` as a solution to this. It's usable in the simple case, generalizes to advanced cases, has symmetry with existing APIs, and could sidestep the return type discussion by making it natural to return a None when the iterator no longer has sufficient elements. However, would it actually be possible for this to support a `remainder` me

[2021-02-01 21:34] rex4539 opened #81644 "rustc panicked"
### Steps
Compile https://github.com/nymtech/nym

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-02-01 21:37] jonas-schievink commented on #81644
Duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-01 21:37] #81644 closed

[2021-02-01 21:41] amosonn commented on #81615
What about `Iterator::next_n<N>`? This allows to pull an array, and then keep pulling normally from the iterator. `Iterator::array_chunks` can be trivially implemented in terms of this.

As for the return type, it is worth noting: Whereas in an array, if some elements are "gone" (e.g. when a None is returned from `array_windows`), in an iterator this is more of a problem. Maybe something like `Res

[2021-02-01 21:52] the8472 commented on #81615
@bstrie

Probably `std::iter::ArrayChunks` if it is an iterator adapter.

Well, that's just the return type question again, but this time for the associated type, i.e. `type Item = ???`.

If `Item = [T; N]` then `next()` then there are two ways to implement this. Either `next()` just iterates until it can fill the array and
returns that and otherwise throws the partial result away... or it keeps i

[2021-02-01 21:55] jesusprubio commented on #79009
Same errors here:

- Fedora 33
- rustc 1.51.0-dev
- GNU gdb 10.1-2.fc33

[code]

I have also confirmed these errors are not happening using gdb v9. To reproduce:

[code]

[2021-02-01 21:58] jesusprubio commented on #47163
Just in case it could help. I can confirm they also fail in last Fedora (v33, GDB v10), but working for v9: https://github.com/rust-lang/rust/issues/79009#issuecomment-771185624

[2021-02-01 22:00] bstrie commented on #81615
I was mistaken about something in the original post; while it *is* impossible to impl `FromIterator<T> for Result<[T; N], Foo>` due to the conflicting impl, it's *not* impossible to impl `FromIterator<T> for Result<[T; N], Foo<T>>`. I can't say I understand why the latter doesn't conflict, but that does much lessen any argument for `TryFromIterator`.

[2021-02-01 22:09] HeroicKatora opened #81646 "Rustdoc search does not consider prefix for Return Type search"
Methods are only shown in 'In Return Type' results when their return types match the named type exactly. This is confusing as the normal search also works with any prefix and there is no indication that the other, similar looking tabs, would be stricter in their matching criteria. The title of course adds to the confusion as it directly suggests that fragments are considered.

For example:

https:

[2021-02-01 22:26] HeroicKatora commented on #81646
This is probably connected to another false negative with rather large detriments to discoverability of an API. Consider a type that only occur as part of a `-> impl` return type, as part of its bindings, such as `-> impl Iterator<Item=Foo>`. Then the method returning such an anonymous type can never be discovered through the search. One example is `wgpu::Queue`. It has a single way of constructio

[2021-02-01 22:39] BurntSushi commented on #80676
That, and now you've introduced a type parameter where one really isn't needed. This dance is kind of supporting my stance. If you return an `impl Trait`, then there are fewer things you can do with it. Therefore, in public APIs, you shouldn't use it unless you have to or if there are some other set of *material* advantages that I'm not anticipating here.

[2021-02-01 22:42] m-ou-se commented on #80676
In the case of these display adapters, this wrapper could just contain the `Path` directly though. You could always create the `path::Display` right where you need it, and use the `Path` itself if you need to keep it around. (`path::Display` isn't even `Copy`, so not a great type to wrap anyway.)

[2021-02-01 22:43] sfackler commented on #80676
Why would we make a breaking change to the standard library when "there's not necessarily a reason to do this"? What is the expected outcome of this issue, other than answering the question in the title with "no"?

[2021-02-01 22:46] m-ou-se commented on #80676
Oh we definitely shouldn't change Path::display. That's just a breaking change with no benefit. But the question is relevant to new similar adapters that might be added in the future. E.g. for OsStr, where this question popped up.

[2021-02-01 22:46] rjframe opened #81648 "Rustdoc: Comments (prose) are being parsed as tests"
Given multi-line doc-comments (`/** */`), indented one or more levels, the second paragraph is parsed as code.

With the following code:

[code]
I get the following output from `cargo test` (standard output only):

[code]

This only occurs with indented, multi-line doc-comments that have at least two paragraphs separated by a blank line.

This occurs on both stable and nightly.

[2021-02-01 22:52] jfrimmel commented on #81648
This is the intended behavior. In markdown (the syntax used in doc comments) an indentation of 4 spaces marks a code block, similar to the three-backtick-block. If you don't provide a source language (you cannot for indented blocks), rustdoc interprets it as Rust source code and hence compiles and tests it.

[2021-02-01 23:32] ehuss commented on #81648
Closing as a duplicate of #64162 and #59867.

[2021-02-01 23:32] #81648 closed

[2021-02-01 23:56] shepmaster commented on #48926
Looking at this from the other direction, manually annotating a bunch of functions that fit into these categories (whatever they may be) could be a way to gauge the efficacy of any proposed heuristic. Effectively, this would be like how lifetime elision was established based on feedback from real world usages.

[2021-02-02 00:06] workingjubilee commented on #78174
I turned up this variant on this ICE last night! [Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=dddd67eaedfc9bf8ea0aa4da4cf816bd)
[code]

Not really different, just thought it was mildly interesting due to the `&[u8]` type signature.

<details>
[code]
</details>

[2021-02-02 00:32] frakman1 commented on #50776
I just wanted to add my experience to this.
I tried to do a `brew upgrade` on my Mac OSX running High Sierra (10.13) and got this rust related error:;

[code]

I then installed rust manually via `curl https://sh.rustup.rs -sSf | sh` with default installation option and updated the environment with `source $HOME/.cargo/env` but `brew upgrade` still wanted to install/compile rust again.

[2021-02-02 00:36] Aaron1011 commented on #81531
This will be fixed by Pr https://github.com/rust-lang/rust/pull/81541

[2021-02-02 00:46] amosonn commented on #81615
@the8472

That's a good point! Getting the rest from the adapter definitely avoids the problem of the complicated signature. The downside is that you can forget to look at it, as opposed to a Result, and also that this pattern does not play well with a for loop.

[2021-02-02 01:51] estebank opened #81650 "Small error in "introduce explicit lifetime bound" suggestion"
[We currently give the following output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=81c95ddcd1e232876d21dac767919959):

[code]

The suggestion has a spurious extra `+ 'a` in line 25 that shouldn't be there.

[2021-02-02 01:52] sanxiyn commented on #81626
Oops, sorry! Technically, `Foo.data` field is, in fact, never read. What went wrong is `Foo.data` is written and read through other ways.

I think restricting the lint to non-reference fields should work, and will submit a PR to do so quickly. Please double check whether my thinking is correct.

[2021-02-02 03:04] #74780 closed

[2021-02-02 03:07] hi-rustin commented on #81200
Can I working on this?

[2021-02-02 03:13] hermanventer commented on #81200
That would be great. This is a blocker for me.

[2021-02-02 03:17] Danue1 commented on #80564
solved!

[2021-02-02 03:17] #80564 closed

[2021-02-02 03:43] vultix opened #81653 "Inconsistent move behavior in closure with async block"
This closure fails to compile:

[code]

I'd expect that this would compile - `val` should be moved into the async closure.

This is inconsistent with the following cases where it compiles ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=975074b278d22f17c216f2ad5e88f0b5)):
- If you change the type of `val` to a `!Copy` type (such as `String`)
- If you get r

[2021-02-02 04:57] HTG-YT opened #81654 "Could not compile lexical-core on latest nightly, possibly a type checker issue?"
I am using the latest nightly compiler build. When it got to compiling the `lexical-core 0.7.4` crate:

I expected to see this happen: the compilation should be completed with no errors, as with the previous nightly builds

Instead, this happened: 27 errors from the crate spat on the screen.

### Meta

`rustc --version --verbose`:
[code]

I am not sure if it had been a bug in the type-checker, as

[2021-02-02 04:59] HTG-YT commented on #81654
Some errors:
[code]

[2021-02-02 05:17] emilio commented on #81626
Ah, yeah, I somehow thought that the macro was needed to trigger the bug but it is not. That sounds good. Writes to mutable references have side effects so doing that seems ok.

[2021-02-02 06:03] gowrizrh commented on #66724
I am stuck right exactly here, for exactly what @coriolinus mentioned. I'm implementing a number of algorithms from the A* family and there's specifically no `.contains` in a BinaryHeap which is a priority queue as said by the docs.

[code]

[2021-02-02 07:47] KodrAus opened #81656 "Tracking Issue for vec_extend_from_within"
Feature gate: `#![feature(vec_extend_from_within)]`

This is a tracking issue for `Vec::vec_extend_from_within`, which allows copying elements from a range to the end:

[code]

### Public API

[code]

### Steps / History

- [x] Implementation: #79015
- [x] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-02-02 08:05] osa1 commented on #79590
I found the code where we add the duplicate `Inner = _` predicate mentioned in the Zulip and internals links above, and confirmed that if I don't add the duplicate the program compiles fine. I'm not 100% sure this is the root cause but I think having two predicates for the same associated type doesn't make sense so I'm hopeful.

If I remove the code block that adds the duplicate predicate I get 8

[2021-02-02 08:24] dtolnay opened #81657 "Opt in lint on reachable pattern"
Filing to track https://github.com/rust-lang/rust/issues/44109#issuecomment-521781237. Despite https://github.com/dtolnay/syn being an obvious use case for #\[non_exhaustive\] because we need to be able to add variants over time as new syntax is added to Rust, the thing that makes #\[non_exhaustive\] unusable is that there is no opt-in way for downstream to request test breakage when one of their

[2021-02-02 09:31] Nadrieril commented on #81657
That would be very easy to do. But conceptually it seems weird to lint for that ^^. Is there precedent for a lint like that?

[2021-02-02 09:32] weiznich opened #81658 "Invalid `field is never read: ` lint warning"
### Code

[Diesel CI begins to show warnings](https://github.com/diesel-rs/diesel/pull/2180/checks?check_run_id=1813300642#step:21:19) that some field is never read, while the field is actually read at some point.
For reference the field is read [here](https://github.com/diesel-rs/diesel/blob/f307a4b980e3fbe22e4438cd2d73a8a47f88b563/diesel/src/mysql/connection/stmt/mod.rs#L50) via a ffi function.

[2021-02-02 09:42] andresovela opened #81659 "Confusing diagnostics when pulling the same crate from different sources"
[Source thread in URLO](https://users.rust-lang.org/t/no-method-x-found-for-struct-and-compiler-bug/55026)

I was working with a library crate that I forked to modify locally in my project. In the `Cargo.toml` of the binary I referenced my local copy of the modified library, but the `Cargo.toml` of the modified library still referenced the `crates.io` version.

`cargo tree` output looks like this

[2021-02-02 09:55] oli-obk commented on #81200
It's all yours! You can use `@rustbot claim` to have the bot assign it to you

[2021-02-02 09:57] hi-rustin commented on #81200
@rustbot claim

[2021-02-02 10:00] oli-obk commented on #81200
If you need any help, don't hesitate to ask here or ping me on zulip. I'll respond whenever I have time (which is a bit flaky this week, but you should definitely get a response once a day)

[2021-02-02 10:10] usbalbin commented on #81615
There were some ideas in #80094, not sure how/if that would fit in with the current Iterators though...

@leonardo-m 's  [comment](https://github.com/rust-lang/rust/issues/80094#issuecomment-749260428):

[2021-02-02 10:18] Stupremee commented on #81413
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381413.20Rustc.20shows.20unnecessary.20big.20error.20when.20glob.20reexport.E2.80.A6/near/224230451) and removing `I-prioritize`.

[2021-02-02 10:24] maekawatoshiki commented on #81654
I have the same issue.

[2021-02-02 10:44] jonas-schievink commented on #81653
Just `async move { ... }` is enough too

[2021-02-02 10:51] matthiaskrgr commented on #81658
Probably related to https://github.com/rust-lang/rust/pull/81310 ?

[2021-02-02 11:15] sbnl commented on #81654
Same issue.
rustc --version; cargo --version; rustup --version

rustc 1.51.0-nightly (d4e3570db 2021-02-01)
cargo 1.51.0-nightly (c3abcfe8a 2021-01-25)
rustup 1.23.1 (3df2264a9 2020-11-30)