[2021-11-03 20:13] rster2002 opened #90543 "Internal Compiler Error running in docker container"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-03 20:24] ehuss commented on #90525
Here is a reduced reproduction:

[code]

When the crate loader needs to load `foo_a_b`, it scans for any potential candidates, and it picks up the cdylib (because it might possibly be a rust dylib). However, cdylibs don't have metadata.

There is more discussion of this at https://github.com/rust-lang/rust/issues/89795#issuecomment-940798190. I did a workaround for that particular issue, but I thi

[2021-11-03 21:39] leonardo-m commented on #72762
A similar `narrowing_and` could be added.

[2021-11-03 21:52] euclio commented on #90520
@rustbot claim

[2021-11-03 22:07] joshhansen commented on #90523
Appears to be working on nightly, thanks!

[2021-11-03 22:40] rcvalle opened #90546 "Error compiling `core` with LLVM CFI enabled"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

`~/hello-rust$ RUSTFLAGS="-Cembed-bitcode -Clto -Zsanitizer=cfi" RUSTDOCFLAGS="-Cembed-bitcode -Clto -Zsanitizer=cfi" cargo run -Zbuild-std --target x86_64-unknown-linux-gnu`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

`RUSTFLAGS="-Cembed-bitcode -Clto -Zsanitizer=cfi" RUSTDOCFLAGS="-Cembed-b

[2021-11-03 22:40] rcvalle commented on #90546
@rustbot claim

[2021-11-03 22:55] Takashiidobe opened #90548 "`vptx64-nvidia-cuda` target triplet panics during compilation"
### Context

A `#![no_std]` hello world binary panics when compiling for `vptx64-nvidia-cuda` target triplet. Rustc says it is due to this target not supporting dylibs.

### Code

The code to compile is a `no_std` hello world cross compiled using `cross build`.

This code compiles just fine in most targets (Tier 1 + 2, I've tested 40+ other targets so far in github actions).

src/main.rs

[code]

[2021-11-03 23:04] Takashiidobe commented on #90548
Reading through `https://github.com/japaric-archived/nvptx#targets` It says this target is for emitting asm.

Closing.

[2021-11-03 23:04] #90548 closed

[2021-11-03 23:40] Lokathor opened #90549 "Request: `add`, `sub`, and `offset` for NonNull"
Currently, offsetting a non-null pointer is quite cumbersome. It would be better if these pointer methods were provided directly on the NonNull type instead of having to get the inner pointer, do the change, and then call NonNull::new_unchecked on that output.

[2021-11-04 00:15] jsha opened #90552 "Confusing display of 1.0.0 stability"
At https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html (same issue on stable), the "1.0.0" stability on the right-hand side is displayed inconsistently. It seems to show up only when there is also `const` stability to display. Example:

![image](https://user-images.githubusercontent.com/220205/140236086-f1b10fb7-33dd-45c1-9f24-09edf9c638ad.png)

`new` shows stability of `1.0.0 (const: 1.39.0

[2021-11-04 00:20] scottmcm commented on #90541
I agree this is a bug.  It looks like it's implementing the signed version using the unsigned one, returning the same carry flag (<https://doc.rust-lang.org/1.56.0/src/core/num/int_macros.rs.html#1366-1369>), but that's incorrect.

Here's another demonstration that it needs an update:
[code]
<https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d376f50304766248792ac98943a2794b>

[2021-11-04 00:30] estebank opened #90553 "Special case suggestion for missing tail expression when dealing with `Ok(())` and `Some(())`"
The suggestion in the following code isn't great:

[code]

It makes sense why it happens: the `while let` expression resolves to type `()`, it's the tail expression of an `async fn` that returns `Option<()>`, so wrapping the expression in `Some(())` would make the type checker happy, but suggesting that seems almost always wrong? I think I would prefer it if we special cased this and didn't gave a

[2021-11-04 03:25] whfuyn commented on #90522
I manage to reproduce that in a tiny example. It seems related to the LTO, and works well when `lto = false`.

[code]
[code]

[code]

[2021-11-04 03:50] whfuyn commented on #90522
https://github.com/llvm/llvm-project/blob/e356027016c6365b3d8924f54c33e2c63d931492/llvm/lib/IR/Mangler.cpp#L74-L79

The error message points to here.

[2021-11-04 06:13] anisse commented on #90541
I have no bandwidth for making a fix right now. Since this was supposed to be helpers for bigint operations, my first idea was to just remove the signed variants. I have no idea if this would be appropriate.

Anyone is welcome to do a proper fix, it shouldn't be too complicated.

[2021-11-04 06:37] paulmenzel opened #90555 "Building Rust from source with `x.py dist` uses binary components"
In issue https://github.com/rust-lang/rust/issues/86436, @Mark-Simulacrum commented:

I tested `./x.py dist` with Rust 1.56.1, but unfortunately, it does not build every component from source, but downloads rust-std, rustc and cargo 1.55.0, containing the binaries.

[code]

Can the already installed Rust in the system be used instead?

Otherwise, `x.py build` should be the supported way for distri

[2021-11-04 06:38] paulmenzel commented on #90555
The Cargo archive contains `cargo-1.55.0-x86_64-unknown-linux-gnu/cargo/bin/cargo`.

[2021-11-04 06:53] Nilstrieb commented on #90170
I've implemented it and it has been merged, I hope you like it! (this can be closed)

[2021-11-04 07:02] xfix commented on #90552
In general, Rust documentation doesn't show stability information when it matches stability of a type itself.

[2021-11-04 07:57] arifd commented on #90170
Great stuff. Congratulations and what an impressively fast turnaround!

[2021-11-04 07:57] #90170 closed

[2021-11-04 08:31] the8472 commented on #90555
Rustc is self-hosted, which means it needs a rust compiler to build itself so by default it downloads the previous version.
If your distro already has a one-older rust compiler you can use that instead by [adjusting your config.toml](https://github.com/rust-lang/rust/blob/0b4ac62ddaf9ee01b8aaf9dd7097f1f541d64551/config.toml.example#L215-L217)

See the [rustc-dev guide](https://rustc-dev-guide.rust

[2021-11-04 08:40] BasixKOR opened #90570 "error: couldn't create a temp dir: strings passed to WinAPI cannot contain NULs at path"
### Problem

Every time I try to build some cargo project on Git For Windows environment, it fails with the above error.

[code]

### Steps

1. Install Git For Windows.
2. Launch Git Bash and `cd` to any project.
3. `cargo build`

### Possible Solution(s)

_No response_

### Notes

I confirmed this could be reproduced via installing Git For Windows (more specifically PortableGit).

[code]

I'm not

[2021-11-04 08:41] paulmenzel commented on #90555
Thank you. We only have Rust 1.52.1 in our distribution (MarIuX), so we stay with `./x.py build` for now.

[2021-11-04 08:41] #90555 closed

[2021-11-04 08:53] the8472 commented on #90555
`build` builds individual executables and libraries into the `./build` output directory. `dist` then produces tarballs. And yes it is the build step that requires the previous rustc version.

[2021-11-04 09:07] AuroransSolis opened #90557 "Misplaced suggestion for missing generic parameter in macro invocation"
Given the following code:
[code]

The current output is:
[code]

Most of the error message is good up until the help section, whereupon following it (by passing, say, `u8, u8` to the macro call) leads to another error:
[code]

Asking for another generic parameter is good, but it's being asked for in the wrong place.

As for the versions affected, I've tried it on the stable (1.56.1), nightly (`202

[2021-11-04 09:13] piegamesde opened #90558 "Support `.insn` directive in `asm!`"
Tracking issue: #72016.

The `.insn` assembler directive allows to treat data as instructions. This allows to generate CPU instructions that are otherwise not possible using assembler commands. It is platform specific and mostly relevant for RISC-V platforms, but I could also find uses for it on MIPS targets as well.

More generally speaking, any solution that allows me to produce custom machine c

[2021-11-04 09:40] #45924 closed

[2021-11-04 11:04] hkratz commented on #90558
This will likely work automatically once LLVM supports it. A commit has recently landed (https://reviews.llvm.org/D108602?id=369214) but is not yet in any released version.

[2021-11-04 11:07] hkratz commented on #90514
@rustbot claim

[2021-11-04 11:25] a-ba commented on #89779
I have a case where all branches are reachable (appeared with rust 1.56)
[code]

[code]

[2021-11-04 11:36] hkratz commented on #90543
What docker image did you use? Can you post your Dockerfile?

[2021-11-04 11:43] rster2002 commented on #90543
I used the `ubuntu` image itself and then followed the installation guide on the website.

[2021-11-04 12:06] zseri commented on #81513
How should the code determine if it is ok to `.assume_init()`? If there is an automated way to do so, I think `Option<DynMetadata<dyn Trait>>` might be a better idea (if this is still insufficient, maybe something more opaque should be returned which allows inspection, although `DynMetadata` should already have that "role")

[2021-11-04 12:18] fee1-dead commented on #90549
`offset`ting/`sub`tracting a NonNull pointer needs to return an `Option<NonNull>`, since the offset could make the pointer null again. e.g. `0x1.offset(-1)` should return `None`.

I think `add` is fine, though.

[2021-11-04 12:21] paulmenzel opened #90562 "Build system fails when wrappers for bootstrap binaries are used"
When building Rust 1.56.1, specifying our own bootstrap binaries, which are wrappers, in the configuration

    [build]
    cargo = "/usr/local/package/bin/cargo"
    rustc = "/usr/local/package/bin/rustc"
    rustfmt = "/usr/local/package/bin/rustfmt"

they are not detected:

[code]

But the wrappers work:

    $ /usr/local/package/bin/rustc --version
    rustc 1.52.1
    $ /usr/local/package/bin

[2021-11-04 12:27] hkratz commented on #90543
Can't reproduce it like that:
[code]

`rustc --version --verbose`:
[code]

[2021-11-04 12:34] Mark-Simulacrum commented on #90562
Does running `/usr/local/package/bin/cargo build --manifest-path /pkg/rustc-1.56.1-0/build/rustc-1.56.1-src/src/bootstrap/Cargo.toml --frozen` directly work? Initially, it looks likely that this isn't directly related to bootstrap, rather that the wrapper is not finding the binary when invoking it as just rustc on the last line there.

[2021-11-04 12:35] hkratz commented on #90549
`add` is not fine either:
[code]

[2021-11-04 12:48] paulmenzel commented on #90562
Yes, it does, at least the error is not shown.

    $ /usr/local/package/bin/cargo build --manifest-path /pkg/rustc-1.56.1-0/build/rustc-1.56.1-src/src/bootstrap/Cargo.toml --frozen
    error: failed to get `cc` as a dependency of package `bootstrap v0.0.0 (/pkg/rustc-1.56.1-0/build/rustc-1.56.1-src/src/bootstrap)`

    Caused by:
      attempting to make an HTTP request, but --frozen was specifie

[2021-11-04 12:49] rster2002 commented on #90543
Trying the above it also seems to work for me. I will try to create a new container the same way I did yesterday to see if it was just a hick-up.

[2021-11-04 12:55] Mark-Simulacrum commented on #90562
Can you dump the path before running rustc? It's possible that if you remove --frozen you'll see the same error from rustc - I think that we resolve the workspace before rustc invocations.

[2021-11-04 13:00] paulmenzel commented on #90562
Sure, if you tell me how. ;-)

No, works as expected.

    $ /usr/local/package/bin/cargo build --manifest-path /pkg/rustc-1.56.1-0/build/rustc-1.56.1-src/src/bootstrap/Cargo.toml
        Updating crates.io index
    […]

[2021-11-04 13:08] paulmenzel commented on #90555
After working around the problems described in issue https://github.com/rust-lang/rust/issues/90562, the build fails when using Rust 1.52.1.

    [build]
    cargo = "/pkg/rustc-1.52.1-0/bin/cargo"
    rustc = "/pkg/rustc-1.52.1-0/bin/rustc"
    rustfmt = "/pkg/rustc-1.52.1-0/bin/rustfmt"

Now building:

[code]

No idea, why *toml* is required to build a rustc 1.56.1.

[2021-11-04 13:09] Mark-Simulacrum commented on #90562
Ultimately, I don't have an exact sequence of steps to offer -- it seems likely that there is some difference in the environment between the direct invocation and the one down within bootstrap. But what that difference is requires some level of debugging -- it could be PATH differences (but seems somewhat unlikely), it may be that the wrapper(s) fail when some of the env variables bootstrap sets a

[2021-11-04 13:10] rster2002 commented on #90543
Just tried the same container I used yesterday and seems the issue has fixed itself, so probably one time hick-up. Thanks for your time.

[2021-11-04 13:10] #90543 closed

[2021-11-04 13:17] paulmenzel commented on #90562
It is from our wrapper:

    if [ -n "$PWRAP_rust" ]; then
      echo "$0 : $cmd not found" >&2;
      exit 1
    fi

I believe, it’s some kind protection against calling the wrapper infinitely often, but I am going to ask my colleague.

[2021-11-04 13:21] Mark-Simulacrum commented on #90562
My suspicion is that the execution of rustc without an absolute path in the last line of the wrapper is problematic; it may be useful to get a trace of what commands are run, but generally executing a bare rustc from the environment seems error-prone (it is easy for that to use the wrong rustc).

[2021-11-04 13:24] Lokathor commented on #90549
The standard rules of add/sub/offset would still apply, specifically that the calculation does not go outside of an allocation or one byte past the end of an allocation, and also that the calculation does not wrap within the address space.

So it would already be UB to `sub` or `offset` to 0, separate from the non-null element. Similarly it would already be UB to `add` or `offset` past the end of

[2021-11-04 13:30] Ploppz opened #90565 ""found unstable fingerprints for predicates_of(core[3998]::marker::Freeze)" using trybuild"
### Code
https://github.com/ploppz/diesel/tree/ice
[code]

If that doesn't reproduce the issue, I was first on this commit https://github.com/Ploppz/diesel/commit/b369c8a9f889e21b5b2bdccee6d35268bf4382f1 running `cargo test` without trouble, before I did the changes in the `ice` branch and tried again to `cargo test`.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<detai

[2021-11-04 13:38] paulmenzel commented on #90562
No, that is not it, as the wrapper correctly sets the paths. The wrapper does not allow to be called recursively, and that is the check I referenced. We think about introducing a counter to allow it to be called recursively a limited amount of time.

[2021-11-04 13:38] #90562 closed

[2021-11-04 13:41] Mark-Simulacrum commented on #90562
I don't think we'd expect it to be called recursively though? At least, I don't see a reason off hand bootstrap would do that.

[2021-11-04 13:46] paulmenzel commented on #90562
`cargo` and `rust` are from the same “package” *rust*, and, therefore, use the same wrapper. And `rustc` seems to be called by `cargo`?

[2021-11-04 14:02] Mark-Simulacrum commented on #90562
Oh. I didn't realize they all used the same wrapper/recursive detection. I don't really understand why that ever worked though (bootstrap does nothing special; Cargo always calls rustc...).

[2021-11-04 14:17] cynecx opened #90566 "rustdoc: trait implementation is missing"
`warp::filters::BoxedFilter` implements `warp::filter::FilterBase` (crate-private trait therefore undocumented) and `warp::filter::Filter` through a conditional impl `impl<T: FilterBase> Filter for T {}`. However, rustdoc doesn't document that `BoxedFilter` implements the `warp::Filter` trait.

See here: https://docs.rs/warp/0.3.1/warp/filters/struct.BoxedFilter.html

<details>
<summary>Image</sum

[2021-11-04 14:28] mejrs opened #90567 "Ice with rustdoc scrape_examples"
When running
[code]
on the `ice` branch of https://github.com/mejrs/pyo3/tree/ice , I get the following error:

[code]

(this is quite a big library and I couldn't figure out a minimal example in the time I had)

[2021-11-04 14:28] paulmenzel commented on #90562
In the past we didn’t manually specify the paths to `rustc`, `cargo` and `rustfmt` but the src/stage0.json versions were downloaded, As we want to build as much from source as possible, we tried to use the already installed version, and ran into the problems.

[2021-11-04 14:28] paulmenzel commented on #90562
Thank you for your help!

[2021-11-04 14:31] GuillaumeGomez commented on #90567
cc @willcrichton

[2021-11-04 14:34] GuillaumeGomez opened #90568 "Titles in the sidebar aren't underlined anymore"
Current beta:

![Screenshot from 2021-11-04 15-30-47](https://user-images.githubusercontent.com/3050060/140332888-b0d279e0-a800-4330-a49b-06d7a125639e.png)

Current nightly:

![Screenshot from 2021-11-04 15-30-51](https://user-images.githubusercontent.com/3050060/140332905-99dc0652-325a-4acb-a851-4b6431d0665e.png)

It was caused by https://github.com/rust-lang/rust/pull/90156.

[2021-11-04 15:23] whfuyn commented on #90522
I built a stage1 rustc with `config.toml`.
[code]

Now the error messages become clear!

[code]

Full log:
[code]

[2021-11-04 15:49] ChrisDenton commented on #90570
I'm not too familiar with git bash but it looks like the temp directory has nulls in the path? Which might point to the environment somehow getting messed up. In git bash, does the `TMP`, `TEMP` or `USERPROFILE` environment variable perhaps contain a null?

[2021-11-04 15:52] m-ou-se commented on #90553
How about something like this?

![image](https://user-images.githubusercontent.com/783247/140372393-fbce8451-67b2-4659-a259-371219fea19b.png)

[2021-11-04 15:53] m-ou-se commented on #90553
(Just need to figure out a way to detect whether the expression was the final one in a block.)

[2021-11-04 16:18] willcrichton commented on #90567
@mejrs can you do two things for me:
1. Run `$(rustup which --toolchain nightly rustdoc) -V` and confirm your nightly is at least `2021-11-03`
2. `rm -rf target` and re-run the cargo doc command, see if it still fails

[2021-11-04 16:18] pnkfelix commented on #90286
I spoke to @camelid ; they will not have a lot of time to investigate this in the near term future. So, assigning self to determine if a revert of PR #89110 is warranted (and maybe to identify alternative solutions).

[2021-11-04 16:18] pnkfelix commented on #90286
@rustbot claim

[2021-11-04 16:19] estebank commented on #90553
That looks good!

[2021-11-04 17:33] klensy commented on #90565
Unstable fingerprints was issue few releases earlier, try newer one.

[2021-11-04 18:45] vicky5124 commented on #88791
Some crates make `rustdoc` panic with this feature being used, a couple of these are:

[serenity](https://github.com/serenity-rs/serenity), which leads to these logs: https://pastebin.com/smwdrWbD
Using a relatively standard `cargo doc` command:
`RUST_BACKTRACE=full RUSTDOCFLAGS="--cfg docsrs -D rustdoc::broken_intra_doc_links" cargo +nightly doc -Z unstable-options -Z rustdoc-scrape-examples=all

[2021-11-04 19:32] ecstatic-morse commented on #73255
I opened rust-lang/rustc-dev-guide#1240 last week.

To add some more context to [this comment](https://github.com/rust-lang/rust/issues/73255#issuecomment-943840387) for  @nikomatsakis (in case they declared notification bankruptcy). Like the const-checker, the borrow-checker also needs to ignore drops of places that are known to be uninitialized, and it also runs before drop elaboration. I believ

[2021-11-04 20:11] PatchMixolydic opened #90582 "ICE when checking the size of a non-zero sized type in a generic const expression"
### Code
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c5d7e0feb658b1d33ea9fe57bd8f6602)

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-04 20:18] PatchMixolydic commented on #88468
With a bit of modification, this ICE happens on `rustc 1.58.0-nightly (baba6687d 2021-11-03)` when running `cargo build` rather than `rustdoc` ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c5d7e0feb658b1d33ea9fe57bd8f6602)):

[code]

[2021-11-04 20:19] PatchMixolydic commented on #90582
Duplicate of #88468

[2021-11-04 20:19] #90582 closed

[2021-11-04 20:22] RalfJung commented on #73255
Or, alternatively, it might be nice to be able to share the results of `MaybeUninitializedPlaces` between borrowck and constck. If they are computed anyway, we might as well use them twice...

[2021-11-04 20:41] PatchMixolydic opened #90585 "Suggestion for E0740 (union contains a field that needs dropping) doesn't change anything"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dd41f5066ca17cbf7f00f6f9349b9c1d)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-11-04 20:43] PatchMixolydic commented on #90585
@rustbot modify labels: +D-invalid-suggestion

[2021-11-04 20:48] dhardy opened #90587 "Conflicting implementations error despite bound preventing conflict"
The following fails:
[code]
Note that due to the bounds such a conflict is impossible unless `(): Into<u32>`, which cannot happen...

... actually, this may simply be the compiler giving a lot of leeway for additional implementations in `std`.

... replacing `u32` and/or `()` with local private types does not change the error:
[code]

Introducing a local `Into` trait *slightly* changes the error:

[2021-11-04 21:04] camelid opened #90588 "rustdoc: Remove `_stripped` fields from `clean::{Struct, Variant, ...}`"
It should be possible to compute them on-demand instead.

[2021-11-04 21:05] camelid commented on #90588
@rustbot claim (for now, as a reminder)
cc @notriddle

[2021-11-04 21:16] kimjoaoun commented on #61137
Hi everyone, can I work on `E0726`?

[2021-11-04 21:20] GuillaumeGomez commented on #61137
Go ahead!

[2021-11-04 21:21] GuillaumeGomez commented on #61137
Hum actually there is already https://github.com/rust-lang/rust/pull/87655 open... The author didn't fix the issues though but we can consider it as taken. Please pick another one.

[2021-11-04 22:31] JohnKinyanjui opened #90593 "Cant install rust-analysis-x86_64-pc-windows-msvc after moving from rust stable to nightly"
info: downloading component 'rust-analysis'
info: installing component 'rust-analysis'
info: rolling back changes
error: failed to install component: 'rust-analysis-x86_64-pc-windows-msvc', detected conflict: 'lib/rustlib/x86_64-pc-windows-msvc/analysis/libaddr2line-0f12a58279e7246b.json'

[2021-11-04 23:09] kupiakos commented on #81513
You shouldn't be able to for raw pointers - simple as that. The information necessary to do so isn't available at runtime since the underlying type of the trait object is not known. The state of thin raw pointers in Rust is that it is always safe to construct one, but in order to use/dereference it, you need to have `unsafe` somewhere to assert that the invariants of the type are being upheld (the

[2021-11-04 23:26] ahl opened #90594 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value"
### Code

With apologies: I don't have a minimal example, and the repo in which I saw this is not yet open.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-04 23:28] mcy opened #90595 "MaybeUninit seems to prevent RVO in even the most trivial cases."
I tried this code:

[code]

The generated assembly at -Oz on x86 is:

[code]

Observe that Rust (or LLVM, as the case may be) fails to RVO `x` when using `MaybeUninit`, ironically having potentially worse performance than the one that calls `memset`.

Complete godbolt example: https://godbolt.org/z/c1ccf7WeK

Here is the pertinent optimized IR:
[code]

Skimming the -O0 IR doesn't help much, since

[2021-11-05 00:11] mcy commented on #90595
https://godbolt.org/z/eq45ejr8T via @thinkofname observes that the `bitcast` is a red herring. Maybe LLVM is having trouble GVN'ing `%x` and `%0` together because they are of different types...? There's literally no other reason I can think of.

[2021-11-05 00:39] #90177 closed

[2021-11-05 00:45] RalfJung commented on #81513
Well, there is -- when dereferencing the raw pointer.

There IMO should be one invariant even on thin raw pointers: they must not be uninit. IOW, I think that `MaybeUninit::<*const u8>::uninit().assume_init()` should be UB (and similar for uninit integers). Also see https://github.com/rust-lang/unsafe-code-guidelines/issues/71.

So I don't think using `MaybeUninit` for the metadata is a good idea,

[2021-11-05 00:46] jackh726 commented on #90177
Anyone think this needs a backport?

[2021-11-05 01:28] nikomatsakis commented on #90465
Fix in #90597

[2021-11-05 01:42] inquisitivecrystal commented on #79524
I just saw that the stabilization was reverted, per #88967 and #89638.

By the way, could someone update the top post to reflect the stabilization revert?

[2021-11-05 01:49] asquared31415 commented on #90558
@rustbot label +A-inline-assembly +F-asm

[2021-11-05 02:04] camelid commented on #79524
@inquisitivecrystal I added a note about the revert.

[2021-11-05 02:28] Amanieu opened #90599 "Tracking Issue for wasm64 SIMD"
Feature gate: `#![feature(wasm64_simd)]`

This is a tracking issue for `std::arch::wasm64` and `std::arch::wasm` modules, both of which are currently aliases for `std::arch::wasm32`.

[2021-11-05 02:38] devsnek commented on #90599
technically this is more than just simd

[2021-11-05 02:44] kupiakos commented on #81513
Yes, but dereferencing a raw pointer requires an `unsafe` block. `metadata(dyn_ptr).layout()` as-is does not, and that's the problem.

I agree. I initially chose `MaybeUninit<T>` because it is a common way to represent a `T` that may have an invalid bitfield that can be asserted valid through an `unsafe` gate, like `Pin` has with its `Drop` guarantee. Of course, it's _actually_ the canonical way t

[2021-11-05 03:16] pierwill commented on #84446
@rustbot claim

[2021-11-05 03:20] pierwill commented on #83006
@rustbot claim

[2021-11-05 03:22] pierwill commented on #83006
This issue is part of https://github.com/rust-lang/rust/issues/90317.

[2021-11-05 03:37] rukai opened #90600 ""lifetime `'static` required" - poor diagnostics"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Problem occurs on both latest stable and latest nightly. (1.56 and 2021-11-04}

[2021-11-05 03:48] alex commented on #90595
Is this possibly the same as https://bugs.llvm.org/show_bug.cgi?id=47114

[2021-11-05 04:37] BGR360 opened #90601 "Compiler errors for auto traits can be very unhelpful, especially when combined with `min_specialization`."
I have here a collection of scenarios where the compiler fails to produce a helpful error message in response to a missing auto trait implementation. All examples are done on `1.58.0-nightly`.

## Why do I care?

This issue cost me the entirety of an afternoon as I attempted to track down the cause of a very vague error. I've provided a minimal repro of that particular scenario in Example 4.  Figu

[2021-11-05 04:45] BasixKOR commented on #90570
I just ran a quick shell script to check those values:

[code]

It seems like the $TMP value is broken on MSYS2 environments. I checked `%TMP%` on cmd and it has the same value as `$TEMP` does.

[2021-11-05 05:35] mbartlett21 opened #90603 "Tracking Issue for `const_intoiterator_identity`"
Feature gate: `#![feature(const_intoiterator_identity)]`

This is a tracking issue for the `const IntoIterator` implementation for types that are already iterators.

*This is not a new api; only constifying an existing one*

### Public API

[code]

### Steps / History

- [x] Implementation: #90602
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Should it bound

[2021-11-05 05:54] BGR360 commented on #90601
@rustbot label +F-auto_traits

[2021-11-05 07:50] #82314 closed

[2021-11-05 07:50] #90136 closed

[2021-11-05 07:50] #90525 closed

[2021-11-05 07:50] #90568 closed

[2021-11-05 08:47] the8472 commented on #90524
It's currently [the recommended way](https://doc.rust-lang.org/reference/attributes/diagnostics.html#the-must_use-attribute) to silence `#[must_use]` warnings.

[2021-11-05 09:33] fpoli commented on #82151
In our project we use `rustc nightly-2021-10-15` and we encountered this issue while trying to upgrade from `hyper 0.13`, `warp 0.2`, `reqwest 0.10` and `tokio 0.2` to `hyper 0.14`, `warp 0.3`, `reqwest 0.11` and `tokio 1.2`. Is there any workaround other than downgrading those libraries?

[2021-11-05 10:02] mheiber opened #90605 "documentation: meaning of `mut` in identifier patterns is not documented"
**I expected to see this happen:** documentation for what `mut` means in `let mut x = 3` and `fn foo(mut x: i32)`

**Instead, this happened:**

As far as I can tell, the meaning of `mut` in identifier patterns is not documented in the Book or the Reference.

The syntax is well-documented in the reference: https://doc.rust-lang.org/stable/reference/patterns.html#identifier-pattern, but not the mean

[2021-11-05 10:35] hkratz commented on #90605
It is documented here: https://doc.rust-lang.org/stable/reference/variables.html

[2021-11-05 10:55] leonardo-m opened #90606 "[ER] Boxed array conversion function"
From the discussion I've started here:
https://users.rust-lang.org/t/efficient-allocation-of-empty-2d-matrix-with-very-long-rows/66876/

I suggest to add to stdlib one (simple) safe const inlinable function similar to the cast_box function of the crate bytemuck:
https://github.com/Lokathor/bytemuck/blob/main/src/allocation.rs

This proposed Box method is related to `slice::as_chunks_unchecked_mut`

[2021-11-05 11:43] syrusakbary commented on #90342
Thanks for reporting this. I had an issue when compiling `wasm-bindgen` in macOS Monterey

[code]

But following the suggestion on the issue fixed it!

[code]

[2021-11-05 11:59] mheiber commented on #90605
Thanks for this reference. Where is `mut` defined? I see only "Local variables are immutable unless declared otherwise. For example: let mut x = ...."

The docs you linked to say that "mut" is short for "immutable", but don't define `mut` or explain what is happening in the code sample above or https://stackoverflow.com/questions/69845063/why-does-a-level-of-indirection-allow-omitting-mut.  I woul

[2021-11-05 12:16] apiraino commented on #82151
@fpoli I am not too familiar with this issue, but I am wondering if @alexkornitzer workaround in https://github.com/alexkornitzer/hyper/commit/119904864b3dc91d77cf443af11f697821759336 would help (assuming is it ok for you to vendor `hyper`, which might not as wll)

[2021-11-05 12:59] fpoli commented on #82151
Thanks! So, that would solve the issue in `hyper`, but it cannot be upstreamed because `hyper` also wants to compile to a library usable from C. In our case sticking with the old version of the libraries is still preferable (for now).

[2021-11-05 13:06] barafael opened #90608 "Compile crash after performing module rename via rust analyzer, but only when compiling for test with nightly, workaround by running `cargo clean`"
This compile crash occurred after doing some refactorings with rust analyzer (via VSCode). The last refactoring I did before was renaming a module by renaming a directory in VSCode. The crash does not occur with `cargo build` or `cargo +stable test`. But I also did not run these commands for a while before that, so they were probably doing a clean build.

After running `cargo clean`, everything is

[2021-11-05 13:50] ehuss commented on #90605
I think the book does try to describe it:

So, in short, it allows the binding to change.

If you don't mind, can you move this issue over to https://github.com/rust-lang/reference/issues?  I agree that the reference is lacking in this regard.

As for your second example regarding `&mut`, that's a different beast. Although it shares the same token `mut`, that scenario relates to the borrow checker

[2021-11-05 14:05] hkratz commented on #90316
Should this be closed now that it has been acknowledged to be a shortcoming of valgrind: https://bugs.kde.org/show_bug.cgi?id=444399#c5?

[2021-11-05 14:08] CoffeeSip commented on #74465
Is there any update on when this feature will be pushed into stable?

[2021-11-05 14:13] RalfJung commented on #81513
Could you specify what exactly the problem is?
The current API is sound, i.e., you will (to my knowledge) not get UB here without using unsafe code. So it must be some other property you are looking for that is violated.

However, there is indeed an inconsistency here in that `size_of_val_raw` is `unsafe`, but using `metadata().size_of()` one can implement the same thing entirely in safe code.

[2021-11-05 14:18] RalfJung commented on #90524
This issue is specifically about `let _ = x` where `x` is a variable (I think). That's different from `let _ = foo()` silencing a `must_use` on `foo`.

[2021-11-05 14:24] SimonSapin commented on #81513
Has the lang team formally decided what validity invariants `*const dyn Trait` has? (Or more generally, pointer metadata) I feel that should be the starting point.

[2021-11-05 14:29] senevoldsen opened #90609 "Range.contains failed to be inlined/optimized"
I was suggested on Stack Overflow (https://stackoverflow.com/questions/69844819/rust-range-contains-failed-to-be-inlined-optimized) to ask here.

I am aware that optimization in complex situations can fail to apply. However, rather straightforward inlining "in the small" should still apply.

I was running my code through Clippy and it suggested changing the following:
[code]
Into
[code]
Since it i

[2021-11-05 14:34] jyn514 opened #90610 "Rustc doesn't emit `unused_doc_comments` warning for documentation on generic parameters"
I tried this code:

[code]

I expected to see this happen: Either rustdoc adds "bar" somewhere in the documentation, or rustc gives a warning that the doc-comment does nothing.

Instead, this happened: The doc-comment is silently discarded.

### Meta

`rustc --version --verbose`: rustc 1.58.0-nightly (4961b107f 2021-11-04)

[2021-11-05 14:50] tuxmark5 opened #90612 "ICE: broken MIR in DefId (equate_normalized_input_or_output failed with NoSolution)"
I tried [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=86aaa0d4d2768f39a07115e1703e0728):

[code]
This should compile and work, but instead it ICEs.

It doesn't ICE if I remove the generic parameter from `Array` or use `array.apply_all(|x: &T| { });`

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</detai

[2021-11-05 15:09] xfix opened #90614 "It's not possible to allow #![allow(text_direction_codepoint_in_comment)]"
I tried this code:

[code]

I expected to see this happen: `text_direction_codepoint_in_comment` to be allowed

Instead, this happened:

[code]

(in case anyone is curious why I noticed this, don't worry, this isn't due to production code, see https://codegolf.stackexchange.com/a/230964/3103)

### Meta

`rustc --version --verbose`:
[code]

[2021-11-05 15:11] mheiber commented on #90605
Thanks! Is there a magic comment that moves the issue, or should I close and start a new one in the `reference` repo?

[2021-11-05 15:36] kimjoaoun commented on #61137
That's sad, so can I work on `E0523`?

[2021-11-05 15:44] GuillaumeGomez commented on #61137
Seems like this one is free so go ahead!

[2021-11-05 15:46] nerosnm commented on #88622
I'm also experiencing this issue. I'll try to get a reproduction together.

[2021-11-05 15:52] sy1ntexx opened #90615 "rustc doesn't suggest adding feature gate attribute to resolve an error"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3d9311fa97ed73994120865ed38185e8

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-11-05 16:07] nicholasbishop opened #90618 "rustdoc cuts off the last line in a `#[doc]` attribute if it only has a single character"
When using `#[doc = include_str!("...")]` to insert another file as a docstring, it seems that the last line gets cut off if it contains only one character.

`src/inc1`:
[code]

`src/inc2`:
[code]

(Both `inc` files have a trailing new line.)

`src/lib.rs`:
[code]

Running `cargo doc --open` on the above produces output like this:

[code]

That is, the `inc1` file gets included correctly, but the

[2021-11-05 16:12] jyn514 commented on #90618
@nicholasbishop does this also happen for string constants and other things using `include_str!`? Or just the doc attribute?

[2021-11-05 16:16] jyn514 commented on #90614
cc @estebank

[2021-11-05 16:20] nicholasbishop commented on #90618
Oh I didn't think to check that. Looks like the bug doesn't reproduce with a non-`doc` use of `include_str`.

This runs without error:
[code]

[2021-11-05 16:29] jyn514 commented on #90618
Ok cool and follow-up question - does `#[doc = "inc2\nx\n"]` have the same issue? Or only with include_str1?

[2021-11-05 16:31] wesleywiser opened #90619 "compiletest should validate `only-` headers"
The failure mode for using an unrecognized header like `only-i686` is that the test never runs which is very easy to miss. compiletest should verify that it recognizes the header value and that some target _could_ run the test. This is basically a more specific version of #83551.

See #90569 for a case where this would have caught tests that never ran.

This is where the changes will need to be ma

[2021-11-05 16:40] adamgemmell opened #90620 "Stabilise `aarch64_target_feature`"
This issue constitutes the stabilisation report as per the [rustc dev guide](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#write-a-stabilization-report). Tracking issue: https://github.com/rust-lang/rust/issues/44839

This came about as a result of the discussion on stabilising the aarch64 runtime feature detection macro: https://github.com/rust-lang/rust/issues/86941

Stabilisati

[2021-11-05 16:44] birkenfeld opened #90622 "Better error for re-borrowing &'static mut content as `&'static`"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=530228d1c5fdd9bde2c39643ddd8ff9a

[code]

The current output is:

[code]

Now this might seem strange (it certainly did to me, for a bit) - `data` is `'static`, so why can't I return it as `'static`, and why is the compiler complaining about the lifetime of `&self` here...

The point is, at least I th

[2021-11-05 16:44] nicholasbishop commented on #90618
That does reproduce the issue.

[code]

The rustdoc output looks like `C inc2`.

[2021-11-05 16:53] jyn514 commented on #90593
cc @kinnison - I think the issue is that the toolchain directory doesn't have the channel in it?

[2021-11-05 16:54] jyn514 commented on #90618
cc @GuillaumeGomez, this is probably related to your changes to try and make the indentation smarter.

[2021-11-05 16:55] GuillaumeGomez commented on #90618
You mean removing the smart indent? ;)

But yes, very likely. I'll take a look.

[2021-11-05 17:06] adamgemmell commented on #86941
After some internal discussion my opinion on splitting `PAuth` has changed a little - apparently there have been attempts to enable partial userspace support of the feature in the past and it's reasonably possible that it could happen in the future, in which case we would want separate `paca` and `pacg` options. These could of course be added in the future, though we'll end up with those in additi

[2021-11-05 17:17] bstrie commented on #50655
BOLT is on the verge of being upstreamed into LLVM: https://lists.llvm.org/pipermail/llvm-dev/2021-November/153551.html

[2021-11-05 17:23] the8472 commented on #90609
Are you sure you posted the right links? Inlining does happen in the godbolt examples, there are no `call` instructions.

[2021-11-05 17:43] Milo123459 commented on #43469
@rustbot claim

Going to take a stab at this one.

[2021-11-05 17:49] #90605 closed

[2021-11-05 18:02] pierwill commented on #83006
@Aaron1011 Looks like we can close this in favor of https://github.com/rust-lang/rust/issues/90317, yes?

[2021-11-05 18:08] luavixen opened #90624 "`repr(C, Int)` enums can be used to read uninitialized data from the stack without `unsafe`"
I tried this code:
[code]

I expected to see this happen:
This probably shouldn't compile, but I was expecting this to output the ordinal integer for use with C interop.

Instead, this happened:
Compiled without any errors or warnings on stable, reads from uninitialized stack memory.

Playground screenshot:
![](https://i.imgur.com/4EogSeR.png)
Test here: https://play.rust-lang.org/?version=stable&

[2021-11-05 18:15] cuviper commented on #90624
`Thing::Item` is not an enum value, it's a tuple constructor -- `fn(i64) -> Thing {Thing::Item}`.

[2021-11-05 18:18] willcrichton commented on #88791
@vicky5124 thanks for the bug reports. I have fixed these issues (macro-related) in #90583 which should hopefully land by the time today's nightly (2021-11-05) is released.

[2021-11-05 18:20] luavixen commented on #90624
I shouldn't be allowed to cast `fn(i64) -> Thing` to `u32`. Additionally, the resulting value change between runs seemingly at random, so ?? I have no idea what's happening here.
[code]

[2021-11-05 18:24] cuviper commented on #90624
This is explicitly allowed: https://doc.rust-lang.org/reference/expressions/operator-expr.html#type-cast-expressions

That's ASLR ([address space layout randomization](https://en.wikipedia.org/wiki/Address_space_layout_randomization)) in action -- executables are loaded at unpredictable addresses.

[2021-11-05 18:27] cuviper commented on #90624
There is at least a clippy lint for this:

[code]

[2021-11-05 18:28] luavixen commented on #90624
Thank you for clarifying! That makes more sense, but is still a little confusing, especially if you're expecting behavior to be similar when changing:
[code]
Into:
[code]
Where casting to `u32` for the original code would yield the ordinal, but after adding the field to `Thing::Item` it turns into a function pointer.

At any rate, a new issue should probably be created for these problems, so I'm c

[2021-11-05 18:28] #90624 closed

[2021-11-05 18:31] wesleywiser commented on #53353
This was completed in #80453.

[2021-11-05 18:31] #53353 closed

[2021-11-05 18:54] cuviper commented on #90622
FWIW, this is not specific to `'static` -- it's the same if you had any lifetime, like `struct Test<'a>`:

[code]

I would explain it this way: once the `&self` borrow ends, the outside owner of `self` regains access to that `&mut [u8]`, which would be a mutable-aliased reference if we also had that returned `&[u8]` floating around.

[2021-11-05 19:01] hkratz commented on #90614
@rustbot claim

[2021-11-05 19:02] Milo123459 commented on #90323
@rustbot claim

Going to give this one a try!

[2021-11-05 19:33] exzachlyvv opened #90632 "rustdoc: Style Improvements?"
As a newcomer to Rust, the docs.rs content is 💯  but the UI is lacking in my opinion. Let's make the documentation easier to digest! :D

Here are a few of the improvements I'm thinking of:
1. Font improvement? The current font reminds me of Time New Roman, which is quite dated. 2 of my favorites are [Nunito](https://fonts.google.com/specimen/Nunito) and [Montserrat](https://fonts.google.com/specim

[2021-11-05 19:48] lcnr opened #90629 "anonymous constants are overly restrictive wrt variance"
cc https://github.com/rust-lang/rust/pull/89829#issuecomment-948921310

this currently causes an error as `'a` is considered invariant because it is used in an anonymous constant.
[code]
This shouldn't actually be needed for `std::mem::size_of` as it doesn't care about variance.

Once stuff like the following causes an error (instead of a future imcompat lint, cc https://github.com/rust-lang/rust/

[2021-11-05 20:15] senevoldsen commented on #90609
Maybe I was confusing/incorreect with my use of the term 'inlining'. Yes, the assembly has no call instruction, but the optimizer fails to "merge" the checks when I use `contains`, but I manually inline it in the source code it does see it is just `0 <= value <= 9`.

[2021-11-05 20:18] nikomatsakis commented on #89122
FCP proposed on @jackh726's PR: https://github.com/rust-lang/rust/pull/90076#issuecomment-962173830

The write-up is available here to read, as well:

https://rust-lang.github.io/generic-associated-types-initiative/design-discussions/where-the-where-1.html

[2021-11-05 20:22] nikic commented on #90609
Missing fold: https://alive2.llvm.org/ce/z/--8xvU https://llvm.godbolt.org/z/Trvr4K3qP

[2021-11-05 20:56] mimoo commented on #59168
IIRC, the way we fixed that in diem was to have a `[features] testing = []` in every crate, and import dependencies with this feature in `[dev-dependencies]` (see https://github.com/diem/diem/blob/0cdde0d258a3706d7d84d05225899df8518f319a/testsuite/smoke-test/Cargo.toml#L52 for an example)

but then in every other crate you had to do stuff like

[code]

and

[code]

instead of just having "test"

i

[2021-11-05 20:58] ccleve opened #90634 "Better error message when OpenOptions lacks either .append() or .write()"
It appears that when you open a file, OpenOptions requires either .append(true) or .write(true). If you don't do that, you get:

`panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 22, kind: InvalidInput, message: "Invalid argument" }'
`

"Invalid argument" isn't helpful in tracking down the problem. A better error message would be helpful.

To duplicate the error, do this:

[2021-11-05 21:18] nerosnm commented on #88622
I haven't been able to nail down a minimal repro yet, but one thing I have identified is that it seems to be triggered (in the codebase I can't unfortunately share where I originally encountered this) by an `assert_eq!(result, Err(something));` that fails due to the `something` not matching the actual value inside `result`.

[2021-11-05 21:18] euclio commented on #90520
@rustbot release-assignment

Going to relinquish this, it's more complex than I have time for right now. For anyone who wants to pick this up, it will take translating [this algorithm](https://github.com/rust-lang/rust/blob/045612b8b97b344d55c13b9aad3cfb3e98405b77/src/etc/gdb_providers.py#L232-L271) into [this NatVis file](https://github.com/rust-lang/rust/blob/59d92bd0173fb0436b93aa56ff2cb288d471

[2021-11-05 21:50] Manishearth opened #90638 "ICE: Broken MIR equate_normalized_input_or_output: failed with `NoSolution`"
This is related to https://github.com/rust-lang/rust/issues/89196 and https://github.com/rust-lang/rust/issues/85636 ; but is not the same issue: https://github.com/rust-lang/rust/issues/85636 is already resolved and  https://github.com/rust-lang/rust/issues/89196 is dealing with a more complex case where _inference_ is lacking.

Also perhaps related to https://github.com/rust-lang/rust/issues/565

[2021-11-05 21:51] Manishearth commented on #89196
More errors of this kind: https://github.com/rust-lang/rust/issues/90638

[2021-11-05 22:12] #90567 closed

[2021-11-05 22:20] nerosnm commented on #88622
Okay, this is spooky. To sum up the last hour I've spent investigating this: I was able to reproduce this issue with a crate containing only a `lib.rs` with the following content:

[code]

I got to that by minimising the original codebase that caused the panic, removing code bit by bit until I was left with only that.

I then copied that folder, checked that I could still reproduce the problem in

[2021-11-05 22:40] nerosnm commented on #88622
One thing I should mention about my setup, that will probably be apparent from looking at my repro repos, is that I'm using the Nix package manager on this machine (even though it's a macOS machine; I'm using nix-darwin). But this has never been a problem for me before, and I've never had this "failed to initiate panic" issue on my full NixOS machine.

[2021-11-05 22:52] nerosnm commented on #88622
Sorry for spamming a bunch of comments onto this issue - this problem has really been getting under my skin (and I wanted to provide as much information as possible for anyone trying to reproduce).

I've just read through #84157, and it looks likely that that is related to my issue. I had `gcc` listed in my `flake.nix`, and removing it seems to stop the "failed to initiate panic" message from occu

[2021-11-05 22:58] nerosnm commented on #84157
I'm also having this issue, but with `gcc` installed via Nix (both with the `gcc7` and the `gcc` packages).

[2021-11-05 23:40] t10-13rocket opened #90640 "Ai"
https://github.com/usgs/shakemap/issues/1182#issue-1046042572

[2021-11-06 00:53] jackh726 commented on #90638
Probably related to #88382

[2021-11-06 01:12] #88736 closed

[2021-11-06 01:12] #90465 closed

[2021-11-06 01:12] #90614 closed

[2021-11-06 03:01] Lokathor opened #90643 "Request: standard library function/type/whatever to parse utf-8 from an iterator"
There's `char::decode_utf16`, and there's an iterator adapter to turn a byte iterator over utf-8 into a char iterator that's used by `str::chars`, but there's no thing like `decode_utf8` where an iterator over bytes is decoded as things go.

[2021-11-06 04:15] #71955 closed

[2021-11-06 04:15] #74261 closed

[2021-11-06 04:15] #88459 closed

[2021-11-06 05:06] est31 commented on #83163
I've filed #90644 to extend the `const_swap` feature to three more functions. Some of them can panic, but `const_panic` is stable as of #89508.

[2021-11-06 07:34] lilyball commented on #89832
@RalfJung Sure, and there's a whole discussion somewhere else about whether `RefUnwindSafe` should be implemented for all `T: Sync`, where the dissenting argument was that the two are orthogonal and should not be linked, even though it's hard to imagine how a type could be safe to share across multiple threads simultaneously and yet not safe to share across a panic boundary.

In any case, I could

[2021-11-06 08:36] #90640 closed

[2021-11-06 08:47] Milo123459 commented on #90323
To be clear, I'm removing the `RefCell` from the types, not removing those fields, right?

[2021-11-06 10:35] the8472 commented on #90643
Do you mean `Iterator<Item=u8>` -> `Iterator<Item=char>`? I think that would be much slower than batch validation of a `[u8]`.
Or more something along the lines of `String.try_append_from_utf8_iter(it: impl Iterator<Item=u8>) -> Result<...>`?

[2021-11-06 11:15] forbjok opened #90647 "Binaries built with the "i686-pc-windows-msvc" target triggers false (I hope) positives in VirusTotal"
It seems like 32-bit Windows binaries built with the "i686-pc-windows-msvc" target and Rust 1.56.1 is triggering what I hope and believe is false positives in VirusTotal. Mostly claiming it to be variations of "Jaik".

Screen shot of VirusTotal scan:
![brave_rseIFGcA14](https://user-images.githubusercontent.com/4687674/140607319-53d88189-a8ee-47d4-abc5-1da0ce9c3b39.png)

I made [this project](http

[2021-11-06 11:52] halvko commented on #76547
On the current nightly:
rustc 1.58.0-nightly (0d1754e8b 2021-11-05)

The sync version of the problem:

[code]

The error messages nicely guides the developer to fix their lifetimes, but in the async version no such guidance is given:

[code]
For an experienced rust developer the first line is somewhat usefull (lifetime mismatch), and the specific await point could be enough of a hint to look at `L

[2021-11-06 12:37] stefAIno commented on #88622
Hi @nerosnm, apparently the problem was related to `gcc`. I solved it by switching to `CLang` although I had other problems there that were unrelated to this one. I suggest you to try switching every reference you have to `GCC` and use the standard library offered by macOS. I hope this is helpful!

[2021-11-06 12:51] Stargateur commented on #56167
I fine with the conclusion but I would like we have the alternative in nightly before remove `raw_entry()` from nightly we loose nothing wait for `entry_ref` and several code rely on this feature, I'm sure people are fine remove raw_entry from their code but they will want the alternative.

[2021-11-06 13:20] Lokathor commented on #90643
I mean the first one, and also you can't presume that the person has the full slice available, which is the exact situation I found myself in.

[2021-11-06 13:21] oberien commented on #89940
It also happens in a simpler example with the `'static` lifetime:
[code]
This results in the following error:
[code]

[2021-11-06 13:33] hkratz commented on #90643
We had this, but it was deprecated in #49970 and removed in #52814.

[2021-11-06 14:49] GuillaumeGomez commented on #90323
Yes.

[2021-11-06 14:51] programatik29 commented on #88791
I did a quick test.

Scraping examples with this `Cargo.toml` does not work:
[code]

This works:
[code]

[2021-11-06 16:14] HelloReboot opened #90651 "if never use T in struct fn will report error~"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-06 16:37] willcrichton commented on #88791
@programatik29 thanks for the report. This is issue rust-lang/cargo#10035 which has been fixed in rust-lang/cargo#10037. We just have to wait for the cargo submodule in rustc to get updated (cc @ehuss).

[2021-11-06 16:48] programatik29 commented on #88791
Nice. This feature is amazing. Can't wait to use it in my docs.

[2021-11-06 17:15] SkiFire13 commented on #90651
Looks correct to me, when you call `User::get` the compiler can't know whether it has to use the implementation for `User<i32>`, `User<String>`, ecc ecc, so it gives you an error. You need to write `User::<TypeHere>::get("hello".to_string());` to specify the implementation you want to use.

[2021-11-06 17:24] khuey opened #90653 "create_vtable_metadata should mark the generated vtable variable as artificial"
I don't see any way to get LLVM to take DIFlags::FlagArtificial for a global variable though, so I think this needs LLVM changes.

[2021-11-06 17:25] overdrivenpotato opened #90654 "ICE with basic generic const expr"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-06 18:06] Arc-blroth opened #90656 ""one type is more general than the other" error that appears to expect and find the same type"
Compiling this program:

[code]

results in the confusing compiler error:

[code]

I expected this program to compile and print `received a 1` to stdout.

Doing any of the following will make the program pass compilation (maybe due to how type inference changes?):
- changing `.spawn()` to `.block_on()` in the main function
- removing the `.boxed()` call

### Meta
`rustc --version --verbose`:
[code

[2021-11-06 18:18] shirshak55 commented on #89601
@jplatte It's because they used a box to fix this issue. So I don't think the underlying problem is solved?

[2021-11-06 19:23] haesy commented on #43376
On my current Windows 10 machine, `std::thread::sleep` has a minimum sleep time of roughly 15 ms. Calling `timeBeginPeriod(1)` at the start of the application sets the timer resolution to the lowest possible value (for this API) of 1 ms. After that I get minimum sleep times of roughly 1.8 ms.

I also translated the gist to Rust using the `windows-rs` crate and got even lower sleep times, but the r

[2021-11-06 20:05] davidpdrsn commented on #89601
@shirshak55 Thats correct.

[2021-11-06 20:13] pierwill opened #90658 "Consider removing `rustc_incremental::persist::fs::dep_graph_path_from`"
This function is only used once, with the current session's directory. Is there a reason to keep it, or should it be replaced by `dep_graph_path`?

_Originally posted by @cjgillot in https://github.com/rust-lang/rust/pull/90407#discussion_r744151782_

[2021-11-06 20:14] robamu commented on #41775
I get this error when trying to debug a RTT application for a relatively new HAL / PAC combination for a Cortex-M0 based MCU:

[code]

[2021-11-06 20:16] pierwill commented on #90658
@rustbot label +A-incr-comp +C-cleanup

[2021-11-06 20:25] camelid commented on #78615
This appears to be fixed now, both in the rustc API docs and my MCVE! 🎉

[2021-11-06 20:25] #78615 closed

[2021-11-06 20:26] camelid commented on #81612
#78615 seems to be fixed now, but this issue is not. Probably it's related to #76736 though.

[2021-11-06 20:46] robamu commented on #41775
The error might be related to Link-Time-Optimization.

If you have lines like these in your `Cargo.toml`:

[code]

You can try disabling LTO

[2021-11-06 21:32] bstrie commented on #86921
Yes, that argument does seem reasonable, and as a bonus it means that this wouldn't be a breaking change. On the other hand, while I presume that making closures participate in lifetime elision would be an extremely small amount of work, this sounds like it might be much more work (does the compiler have existing mechanisms for lifetime inference anywhere?), and it also raises questions about whet

[2021-11-06 21:53] estebank opened #90660 "Constraining `impl` on `const` arguments doesn't provide enough context"
[Given code using `const` arguments to constraint the applicability of an `impl`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=781be9f7afd4e1862dc1fe6b60cd2454), we currently give a type error that completely ignores where the bound obligations came from:

[code]

This output should be pointing at the obligation chain, closer to [what you get if the failure isn't in a c

[2021-11-06 21:55] estebank commented on #90614
That will show me not add proper test coverage 🤦‍♀️

[2021-11-06 22:00] bstrie commented on #87228
Yes, this doesn't block the stabilization of `asm!`; I'm not sure what this is referring to by path stability, but this wouldn't be the first stable namespaced macro exported from libstd.

Worth keeping in mind that the decision *not* to put `asm!` in the prelude is always reversible; obviously we shouldn't re-litigate things endlessly, but there's nothing stopping a sufficiently motivated libs te

[2021-11-06 22:27] AzureMarker opened #90662 "Regression in 1.56.0 - Trait bound not satisfied error even though the impl exists"
### Code

I tried this code (minimized from [this test] in my library):

[this test]: https://github.com/AzureMarker/shaku/blob/a42af9dbf4b3b40ede4ad856e0156c7ab6c196a1/shaku/tests/repository_service_provider.rs

[code]

I expected to see this happen: Compile without errors.

Instead, this happened: Compiled with errors:
[code]

Note that it says `HasProvider<(dyn Repository + 'static)>` is not im

[2021-11-06 22:28] AzureMarker commented on #90662
@rustbot modify labels: +regression-from-stable-to-stable

[2021-11-06 23:22] camelid commented on #90662
Bisects to #85868. cc @Aaron1011 @jackh726

---

searched nightlies: from nightly-2021-07-01 to nightly-2021-10-01
regressed nightly: nightly-2021-09-03
searched commits: from https://github.com/rust-lang/rust/commit/50171c310cd15e1b2d3723766ce64e2e4d6696fc to https://github.com/rust-lang/rust/commit/371f3cd3fe523d0b398ed1db1620667c53ba7d02
regressed commit: https://github.com/rust-lang/rust/commi

[2021-11-07 00:13] viluon commented on #76627
I think I ran into this issue a couple of hours ago. The following does not compile:
[code]
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a281da18b73106e874984ba50fa4352e))

However, change `while let` to `if let` and it compiles.
[code]
_However_, duplicate the `if let` statement and it again does not compile.
[code]
[code]
([playground](https://pla

[2021-11-07 00:15] inquisitivecrystal commented on #87228
I wanted to respond to this, specifically. I don't think making it too easy for someone to write assembly is something we should be worrying about. Like, assembly practically *screams* "this is terrifying dark magic". It's a whole extra language that's pretty arcane to the average programmer and is usually significantly more complex than doing things at a higher level. Plus it's unsafe, on top of

[2021-11-07 00:43] martin-t commented on #76627
Could this be related to https://github.com/rust-lang/rust/issues/86921 ? There is at least some superficial similarity.

[2021-11-07 01:20] Amanieu commented on #86941
I would rather preemptively split the features. We also need to figure out how the two features map to LLVM's pointer authentication support.

[2021-11-07 01:43] #90444 closed

[2021-11-07 01:43] #90483 closed

[2021-11-07 01:43] #78442 closed

[2021-11-07 03:17] HelloReboot commented on #90651
Thank you Mr GIacomo you are right ...fixed!

There is no such information on the document or I have not read it。

Giacomo Stevanato ***@***.***> 於 2021年11月7日週日 上午1:15寫道：

[2021-11-07 03:38] jyn514 commented on #90632
cc @jsha

[2021-11-07 03:43] jhpratt commented on #79551
As I just mentioned in #90356, I recommend this issue be closed. While intrinsics seems to be the most common use-case, others certainly exist. There is one existing usage in stdarch on a private method, and my attempt to fix a bug in const panic will likely introduce another usage.

[2021-11-07 04:12] #90651 closed

[2021-11-07 04:43] xobs commented on #41775
In my case, the issue was missing a symbol. Namely, `_start()`. I have no libc, which as a result caused it to jump to a random offset. For some reason the linker never threw an error.

This is why we create our own `_start()` function in our fork of libstd: https://github.com/betrusted-io/rust/blob/1.56.1-xous/library/std/src/sys/xous/common.rs#L15-L18

[2021-11-07 06:39] rukai commented on #90600
I did some investigation and noticed that this issue is at least partially reproduced here /home/rukai/Projects/Crates/rust/rust/src/test/ui/issues/issue-46983.stderr
I'll try and put together a PR to improve the situation.

[2021-11-07 06:39] BGR360 opened #90664 "Error message for non-fully-qualified method lookup does not contain helpful information related to auto traits."
This is spun off from https://github.com/rust-lang/rust/issues/90601.

Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=369407d93d9ef82aa667c1913ba5e236)):

[code]

The current output is:

[code]

By contrast, if you fully qualify the method path, you get an explanation for why the auto trait `Send` does not apply to your type  ([playgr

[2021-11-07 06:40] BGR360 opened #90665 "Error message loses all information relating to auto traits when a specialized impl is added."
This is spun off from https://github.com/rust-lang/rust/issues/90601.

Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4283307336cd352d7ff2dc7b876de71d)):

[code]

The current (good) output is:

[code]

But if you add a specialized impl of `Foo` ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=611

[2021-11-07 06:43] BGR360 commented on #90601
After spending some time with the rustc code, I've realized that there are definitely two different things going on here. The first is a byproduct of fully-qualifying vs. not fully-qualifying a trait method, and the second is related to specialization.

As such, I've split this issue off into two others.

[2021-11-07 06:43] #90601 closed

[2021-11-07 07:00] scottmcm commented on #90595
Another similar, if not identical, issue with `ManuallyDrop`: https://github.com/rust-lang/rust/issues/79914

[2021-11-07 09:22] philipc commented on #41775
This issue appears to be the same as #66118, which occurs when LTO is enabled.

I wouldn't expect a missing symbol to cause invalid DWARF. It might be that adding the symbol just changes the DWARF enough to hide the problem.

[2021-11-07 10:09] cjgillot commented on #42538
Closing as intended behaviour: the generated code must include the span of the panic, which indeed changes.

[2021-11-07 10:09] #42538 closed

[2021-11-07 10:23] cjgillot commented on #45408
Marking as fixed by https://github.com/rust-lang/rust/pull/85337.

[2021-11-07 10:23] #45408 closed

[2021-11-07 10:26] cjgillot commented on #79847
Closing as duplicate of https://github.com/rust-lang/rust/issues/83085 which is tracked by glacier.
Per https://github.com/rust-lang/rust/issues/83085#issuecomment-799392766, fully resolving this issue probably needs a significant implementation work.

[2021-11-07 10:26] #79847 closed

[2021-11-07 10:49] Stargateur commented on #90595
maybe a bad example anyway cause slice are not C compatible

[2021-11-07 11:09] petrochenkov opened #90669 "Standard library test failure with `read_link` on Windows 10"
[code]
The failing assert is
[code]

I don't know why my Windows is special in this way and the `All Users` symlink contains the drive letter `C` in lowercase, this version of Windows was pre-installed on an HP laptop.
Anyway, the Rust test suite fails due to this easily fixable mismatch.

[2021-11-07 11:16] petrochenkov commented on #90669
Other links in the test have the same lowercase issue:
[code]

[2021-11-07 13:54] petrochenkov opened #90672 "rustbuild: `x.py fmt src/tools/rustfmt` doesn't format code in the rustfmt subtree"
`rustfmt`'s tests require its source code to be properly formatted, but when making changes to rustfmt through its subtree in rust-lang/rust, it seems like there's no way to do such formatting automatically.

@jyn514 suggests that `x.py fmt src/tools/rustfmt` should just work and do the formatting, and it's probably just a missing step in `src/bootstrap/fmt.rs` that prevents it from working.

[2021-11-07 14:00] Mark-Simulacrum commented on #90672
It's explicitly excluded (like other subtrees), because rustfmt's tests probably are using a different rustfmt to x.py fmt? https://github.com/rust-lang/rust/blob/master/rustfmt.toml#L36

Do you have a pointer to the tests in rustfmt that check it's own source code?

[2021-11-07 14:11] jyn514 commented on #90672
@Mark-Simulacrum
[code]

[2021-11-07 14:15] jyn514 commented on #84738
@drewcrawford see https://github.com/rust-lang/rust/issues/83761

[2021-11-07 14:23] calebcartwright commented on #89122
This change seems like it would put us in a really tricky position as it relates to rustfmt.

[2021-11-07 14:27] Mark-Simulacrum commented on #90672
Hm. Yeah, so looks like we will probably end up fighting ourselves at some point if we try to format with x.py fmt, but if we don't then this kind of error will also appear. @rust-lang/wg-rustfmt, do you think this test adds a lot of value? It may make sense to just remove it -- the rustfmt source code is probably not terribly interesting from a formatting perspective.

[2021-11-07 14:37] calebcartwright commented on #90672
I've mentioned before that I think we might want to consider using the in-tree version of rustfmt to format the rustfmt tree in this repo now that it's a submodule. However, I'm pretty strongly opposed to dropping the test here given that r-l/rust uses an older, pinned version and the bidirectional nature of substree syncs.

If this is dropped and/or rustfmt source is formatted with a different/ol

[2021-11-07 14:42] calebcartwright commented on #90672
that test is also the only viable mechanism we have for enforcing formatting consistency of our own code in the main repo where the development happens on that code, so it's pretty important from that perspective too :smile:

[2021-11-07 14:43] Mark-Simulacrum commented on #90672
That would require everyone building rustfmt locally, right? That doesn't seem feasible.

I was suggesting we remove the test entirely, and that upstream rustfmt repo check formatting in CI against the same version used locally in rust-lang/rust (perhaps by reading - via GitHub API - src/stage0.json or something; or just pinning and manually bumping from time to time the nightly used).

[2021-11-07 14:45] jyn514 commented on #90672
FWIW it might make sense to format `src/tools/rustfmt` with itself, but use the beta rustfmt for the rest of the tree.
Another alternative is to turn `download-rustc = "if-unchanged"` on by default so building rustfmt doesn't take too much time.

[2021-11-07 14:51] emilliken commented on #87074
I sometimes use std::process::Command's stdin() and stdout() functions to pass a single descriptor to a child process's stdin and stdout, such as how an inetd-like program would.  With the old API, I could (unsafely) pass a single RawFd into .stdin() and .stdout() using Stdio::from.  Is there a way to safely do this with the new API?  I suppose I could create two OwnedFds from a single descriptor

[2021-11-07 14:54] calebcartwright commented on #90672
That's the type of thing I was referring to as well, though not sure how feasible/difficult it would be to have it only run on some explicit invocation/conditional flag.

I still feel the same, and am not keen on adding this type of complexity and sacrificing a test that _is_ important to rustfmt.

In general I don't think folks should be making too many changes to subtrees over here, certainly no

[2021-11-07 14:58] calebcartwright commented on #90672
I could live with an update to the test that conditionally skips execution, e.g. when RUSTC_BOOTSTRAP is set so that it doesn't impact folks over here.

I would feel even more comfortable about that if we could get the bots to still ping teams if submod/subtree changes are added after the PR opens and/or if we could find another way to be more proactively kept in the loop on subtree changes that g

[2021-11-07 16:01] Archieeeeee opened #90674 "Hide console window when running a command"
Hello,
Running a command on Windows with flag CREATE_NO_WINDOW still sees an console window flashing in and out, how to hide it

https://docs.microsoft.com/en-us/windows/win32/procthread/process-creation-flags

to reproduce, doudle click main.exe but not cargo run

[code]

[2021-11-07 16:16] hkratz commented on #90674
Using [`creation_flags()`](https://doc.rust-lang.org/std/os/windows/process/trait.CommandExt.html#tymethod.creation_flags) you only modify how the subcommand (here: explorer.exe) is run.

You need to hide the console windows that is allocated for the Rust application by putting this at the top of your main.rs:
[code]

[2021-11-07 16:21] Archieeeeee commented on #90674
thank you

[2021-11-07 16:21] #90674 closed

[2021-11-07 18:02] the8472 commented on #90669
It might not be a good idea to hardcode these paths in general. I'm not sure what the state of things is with windows 10 but with windows 7 it was at least possible to install on other drives than `C:\` and so they might not even exist.

[2021-11-07 18:40] unrelentingtech commented on #89058
One bonus reason to hurry the transition: the default configuration for riscv64 currently does not enable `COMPAT_*` flags, so no pre-ino64 ABI there. [The riscv64 port is running into this](https://reviews.freebsd.org/D32881).

[2021-11-07 18:43] thomcc commented on #86161
I think it needs to return the same value, otherwise things like `Borrow` won't work. Users currently can implement Hash for their own types in terms of hashing a nested type, and have their `Borrow` implementation be correct. I suspect there's other things like this too.

I also think it would be very surprising if it returned different values, and suspect that it still can be done as efficiently

[2021-11-07 19:40] zseri commented on #89122
@calebcartwright About (2): I think this should be the job of `cargo fix` or such.

[2021-11-07 20:03] calebcartwright commented on #89122
You still have to account for the formatting piece though, otherwise you'll have `cargo fmt` and `cargo fix` dueling and changing the code back and forth

[2021-11-07 21:21] nikic commented on #90595
This optimization is illegal on the LLVM level because `init()` may unwind. It does work fine if you enable the `c_unwind` feature: https://godbolt.org/z/5Y7P3fdqr

[2021-11-07 23:26] zseri commented on #89122
@calebcartwright Thus I think rustfmt should not change the position around, but keep it where it already is. -> (3)

[2021-11-08 00:44] mcy commented on #90595
Isn't unwinding in the foreign -> Rust direction UB? At the very least, Rust's unwind tables are set up (last time I checked, I could be wrong) so that unwinding through Rust jumps to a handler that aborts. Seems like this is a pessimization accounting for a case that cannot happen.

(`-Cpanic=abort` has the same effect, fwiw.)

[2021-11-08 00:51] JohnTitor commented on #89909
@foresterre Could you check if it's fixed with the recent nightly?

[2021-11-08 00:53] JohnTitor commented on #89971
Triage: Fixed by the above PR and it has a regression test, closing.

[2021-11-08 00:53] #89971 closed

[2021-11-08 00:55] JohnTitor commented on #89749
I presume this is a duplicate of the mentioned issue and am going to close as fixed. Thanks for reporting!

[2021-11-08 00:55] #89749 closed

[2021-11-08 00:59] calebcartwright commented on #89122
That's not an easy/simple answer either. Just doing that and that alone would introduce a direct contradiction between the [style guide](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/items.md#type-aliases) that codifies the rules rustfmt's defaults must adhere to, and that would be the first such occurrence afaik.

Apologies if the rustfmt/formatting pieces have already been discuss

[2021-11-08 01:02] JohnTitor commented on #89387
@GopherJ Could you check if it's fixed?

[2021-11-08 01:08] JohnTitor commented on #88938
Triage: The above PR indeed fixed the issue and has a regression test, closing as fixed.

[2021-11-08 01:08] #88938 closed

[2021-11-08 01:10] JohnTitor commented on #88555
Triage: Closing in favor of the above comments. Thanks for reporting!

[2021-11-08 01:10] #88555 closed

[2021-11-08 01:12] JohnTitor commented on #88487
@scambier Could you check if it's fixed by updating rustc? 1.56, which is the latest stable, should contain the mentioned PR.

[2021-11-08 01:31] JohnTitor commented on #89851
Triage: This doesn't trigger ICE with the latest nightly, marking as `E-needs-test`.

[2021-11-08 01:36] JohnTitor commented on #90334
Triage: Closing as it's intentional behavior.

[2021-11-08 01:36] #90334 closed

[2021-11-08 02:27] pnkfelix opened #90679 "Error message for `cmake` could meet bar set by that for `ninja`"
I tried to build on a new machine. Got this message:

[code]

Which I'm used to.

I googled a bit, installed `cmake`, figured out how to get PATH set up, et cetera.

Then I built again. And got this:

[code]

I'm not sure, but: Isn't `cmake` solely necessary in our build for building LLVM? if that's the case, then shouldn't both the `cmake` failure and the `ninja` failure be providing the same lev

[2021-11-08 02:47] Crazytieguy opened #90682 "ICE: called `Option::unwrap()` on a `None` value', compiler\rustc_hir\src\definitions.rs:452:14"
### Code

https://github.com/Crazytieguy/bevy_chess/tree/64592ffea7a46662b44588253eee050b8cdf6f6d

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-08 03:10] jyn514 commented on #90679
@pnkfelix I don't think cmake intentionally has a worse error, it's just that a bunch of people building from source for the first time have been confused what ninja is and where to get it. If you made a PR improving the error for cmake I'd approve it :)

[2021-11-08 03:11] jyn514 commented on #90682
@Crazytieguy can you still reproduce the crash if you remove `-Z share-generics`?

[2021-11-08 04:55] jyn514 opened #90686 "Consolidate bootstrap documentation"
Right now, there are docs for x.py in a bunch of different places:
- https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html#building-the-compiler
- https://rustc-dev-guide.rust-lang.org/building/bootstrapping.html
- https://github.com/rust-lang/rust/blob/master/src/bootstrap/README.md
- https://github.com/rust-lang/rust/blob/master/src/bootstrap/lib.rs

It would be nice to consol

[2021-11-08 06:54] jyn514 commented on #84738
MCVE: https://github.com/rust-lang/rust/pull/90489#issuecomment-962858127

[2021-11-08 08:39] nikic commented on #90595
It is UB, but currently only behind the `c_unwind` feature flag, for historical reasons.

If the function first writes to its argument and then unwinds, without the call slot optimization the write would not be visible. With the optimization the write becomes visible.

Now, in this particular case the destination is an `sret` argument, and we could argue that `sret` arguments shouldn't be observed

[2021-11-08 10:58] hkratz commented on #90514
#90559 fixes most of the performance regression so I think this issue can be closed.

[2021-11-08 11:19] alexjg opened #90691 "ICE: resolution failed during building vtable representation"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]
</details>

[2021-11-08 11:59] PicoJr commented on #88791
## Building doc locally works fine

[code]
does pick up the right code snippet from my `examples/` folder for my crate [htp](https://docs.rs/crate/htp/0.4.1).

It looks great btw.

## Online rustdoc (does not seem to work with my crate)

I have not managed to have my crate's doc benefit from this new feature, here is my Cargo.toml:

https://github.com/PicoJr/htp/blob/6faea37ad8f1c63a9992d16391389f

[2021-11-08 12:07] b-naber commented on #90654
The problem here is that `T::VAL + 1` is not resolvable, hence we can't prove that `[i32; T::VAL + 1]: SmallArray`. https://github.com/rust-lang/rust/pull/90023 would fix the ICE and output the following error:

[code]

[2021-11-08 12:17] Mark-Simulacrum commented on #90686
No, seems good to consolidate. I personally think we might get something out of ending up with two guides, one of which discusses the content from an internal perspective (e.g., Step, how to add new targets) and another from an external perspective, focusing on what users need to know.

I think most of the existing documentation is sort of in the second of those, but also (potentially correctly, h

[2021-11-08 12:23] kinnison commented on #90593
This kind of thing happens from time to time - but we have yet to catch it in action and thus understand *how* the manifest can go missing.  The "easy" fix for this is to uninstall and reinstall the toolchain, I'm sorry that I don't have a good answer right now.

[2021-11-08 12:34] b-naber commented on #79674
https://github.com/rust-lang/rust/pull/90023 would fix the ICE. To me it looks as if the problem is that the `IsFalse` bound is not satisfied in this example, but we get a really confusing error message now:

[code]

I'd suggest we'd close this issue and open a new diagnostics issue in case the PR would be merged.

[2021-11-08 12:53] weiznich opened #90692 "Duplicated error messages"
Given the following code:

[code]

The current output is:

(as of `rustc 1.56.1 (59eed8a2a 2021-11-01)`)

[code]

Note that the third, fourth and fifth error message all point to the same line and all have a `= note: required because of the requirements on the impl of LoadQuery<_, bool> for diesel::query_builder::SelectStatement<(), query_builder::select_clause::SelectClause<Exists<<T as BoxedDsl<

[2021-11-08 13:37] alexschrod commented on #31436
I don't know if this is a helpful example or just noise at this point, but I recently came across a case where the `try` block couldn't infer the type despite an explicit turbofish, and where the same code converted to an IIFE (which is the method I use on stable to get something akin to "try block behavior") works just fine. Top one gives compiler error, bottom one works:
[code]
[code]
https://pl

[2021-11-08 13:46] ChrisDenton commented on #90669
Whichever drive you install Windows on, they system drive will be labelled `C:` from within the running system. And certain directories must be on the system drive, e.g. the Windows and Users folders. However those folders could, potentially, be called something different. It's happened before with "Documents and Settings" being renamed "Users", hence the existence of all the symlinks being tested

[2021-11-08 14:09] InfRandomness opened #90694 "Problem while building rust"
I'm having troubles building rust using the user preset from x.py

It seems like there's an issue with CMake and configuring LLVM

[code]

This issue is ocurring on ubuntu 21.04 WSL

[2021-11-08 14:22] JanBeh opened #90696 "Problem with GATs, async, and Send-bounds"
I have experienced problems with `Send` bounds on GATs. The original code where the problem occurred uses the [`async-trait`](https://crates.io/crates/async-trait) crate and looks as follows:

[code]

Using the Rust playground with Nightly version: 1.58.0-nightly (2021-11-07 46b8e7488eae11672219), I get:

[code]

If I follow the compiler's advice literally, then of course I'll get:

[code]

If I d

[2021-11-08 14:28] JanBeh commented on #90696
@rustbot label F-generic_associated_types

[2021-11-08 14:38] steffahn commented on #90696
@rustbot label A-lifetimes, A-associated-items, A-traits, A-async-await, T-compiler, requires-nightly

[2021-11-08 14:47] Plettro opened #90697 "ICE encountered on rustc 1.56.1 nightly"
### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-08 14:53] Plettro commented on #90697
I forgot to add that issuing 'cargo clean' fixed the issue.

[2021-11-08 15:02] jyn514 opened #90698 "Add a way to give backtraces for logging"
I ran into the following problem today: I had a prebuilt (with `download-rustc`) compiler and wanted to get a backtrace for some `info!` logging it was outputting, to see how it got to that point. But there's no way to get a backtrace there without rebuilding the compiler from source. It would be really cool if there were a way to have backtraces for each individual logging call. To avoid making t

[2021-11-08 15:13] veber-alex opened #90699 "destructuring_assignment fails to optimize code as well as mem::swap"
Opening a new bug as requested in https://github.com/rust-lang/rust/pull/90521#issuecomment-962729397

I wanted to check how `(a,b) = (b,a)` compares to `mem::swap,` it looks like `mem::swap` applies optimizations when `T` is 32 bytes or bigger but `destructuring_assignment` doesn't.

I tried this code:
https://godbolt.org/z/czfTv3nzW

I expected to see this happen:
Both function should generate t

[2021-11-08 15:54] fee1-dead commented on #88221
See: https://github.com/rust-lang/rust/blob/3e3890c9d4064253aaa8c51f5d5458d2dc6dab77/src/ci/docker/scripts/musl.sh#L25-L26

Perhaps you need to append `-fPIC` to `CFLAGS`.

You may also need to set `crt-static` to `false`:

[code]

I've been contributing Rust on Void Linux with musl libc, feel free to ask any questions!

[2021-11-08 15:54] sunfishcode commented on #87074
Unfortunately there isn't a safe way to do that yet, without duplicating the file descriptor, as you say. It's a good idea, and something we should look into once the fundamentals here are in place.

[2021-11-08 16:11] mcy commented on #90595
Ah! That makes sense. I figured that because it was marked `sret` it was assumed the caller would not read it if the function unwound.

Still doesn't explain why the version without MaybeUninit doesn't have this problem, though. I didn't read the -O0 IR too closely, but perhaps rustc emits sufficiently different IR for that function that it winds up not mattering? Or is this just a matter that the

[2021-11-08 16:47] eholk commented on #90696
This looks like a tricky bug and will take some time to look into. There were some recent closure changes that might be causing this, and this sounds potentially related to https://github.com/rust-lang/rust/issues/71723, https://github.com/rust-lang/rust/issues/71671, and https://github.com/rust-lang/rust/issues/87425.

Bisection would let us narrow down the change that caused the problem.

@rustb

[2021-11-08 16:48] eholk commented on #90696
Also potentially related: https://github.com/rust-lang/rust/issues/64552, https://github.com/rust-lang/rust/issues/60658.

[2021-11-08 16:49] eholk commented on #90696
Also: https://github.com/rust-lang/rust/issues/70263

[2021-11-08 16:55] willcrichton commented on #90632
My 2c -- I think UI improvements to Rustdoc should be rooted in *ease of use*, not *quality of aesthetic*. I agree that the Laravel docs look quite nice, but I personally find their font harder to read than Source Serif Pro.

IMO, documentation should fundamentally be utilitarian, not beautiful. Which isn't to say there aren't changes that both make the documentation easier to use AND prettier to

[2021-11-08 16:56] Crazytieguy commented on #90682
@jyn514 If I remove -Z share-generics it compiles :)

[2021-11-08 16:58] PicoJr commented on #88791
@willcrichton thanks for your reply [it does work now](https://docs.rs/htp/0.4.2/htp/fn.parse.html).

[2021-11-08 16:59] willcrichton commented on #90632
Also fwiw, the Laravel *automatically-generated* documentation (which is the main rustdoc use case, as opposed to [mdbook](https://github.com/rust-lang/mdBook)-style guides) looks very different.

<img width="1792" alt="Screen Shot 2021-11-08 at 11 57 41 AM" src="https://user-images.githubusercontent.com/663326/140785130-2c0d76ef-b60e-432d-923d-e8cd5f851830.png">

[2021-11-08 16:59] jyn514 commented on #90682
cc @davidtwco

[2021-11-08 17:01] cfredric opened #90702 "Surface multiple "can't find crate" errors at a time"
It would be nice if rustc could surface multiple "can't find crate xxxx" errors at once, instead of one at a time.

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6a10dfbf5f9cc7dc6488fc9c3efaec70

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-11-08 17:02] jyn514 commented on #90702
I *think* this should be as simple as removing the `abort_if_errors()` call in the resolver: https://github.com/rust-lang/rust/blob/495322d776fd6f679cd8cd4ca02b8fa834da654b/compiler/rustc_metadata/src/locator.rs#L1214

[2021-11-08 17:03] davidtwco commented on #90682
`-Zshare-generics` isn’t polymorphization. It’s possible that polymorphization’s changes (despite being disabled) are related to this, but I don’t see any reason to suspect so from this issue.

[2021-11-08 17:04] jyn514 commented on #90702
You'll also have to find some reasonable behavior to do for the places currently calling `report()` and expecting it to never return:
[code]
@petrochenkov may have suggestions.

[2021-11-08 17:05] jyn514 commented on #90682
Oh oops, sorry. Never mind then.

[2021-11-08 17:10] steffahn commented on #90696
The issue already contains a minimal example,
[code]
at least for one of the (potentially multiple?) issues described here.

<hr>

I didn’t consider checking whether this is a regression yet. It's not necessarily related to closures though; it’s an `async` block, and an `async fn` would do the same thing.

[code]

<hr>

Let me do some bisecting... okay, so it _is_ a regression!

`nightly-2020-10-0

[2021-11-08 17:15] steffahn commented on #90696
Most likely
* #73905

[2021-11-08 17:22] classabbyamp opened #90703 "rustdoc: cannot resolve links to associated trait items for primitives"
I tried this code:

[code]

I expected to see this happen: the `[f64::from_str()]` in the docstring links to https://doc.rust-lang.org/1.56.0/std/primitive.f64.html#method.from_str

Instead, this happened:

[code]

This does not happen for `[f64::floor()]` nor for linking to a non-primitive `FromStr` implmentation, like `[Number::from_str()]` (in the example above).

@jyn514 suggested that [`resol

[2021-11-08 17:32] ivan-aksamentov commented on #59976
As I mentioned in https://github.com/intellij-rust/intellij-rust/issues/8079, another side effect of automatic saving is triggering file watchers, making the "hot reload" dev workflows (automatic rebuild/test/restart on file changes) somewhat broken.

[2021-11-08 17:37] hkratz commented on #90694
Building works fine for me with a stock Ubuntu 21.04 docker image. One thing that looks weird is that your c compiler is gcc while your c++ compiler is clang. That might cause problems.

[2021-11-08 17:41] steffahn commented on #90696
The issue of confusing/unnecessary HRTB-requirements is demonstrated by something like
[code]
(At least from my understanding, the `S::Associated<'a>: Send` is supposed to be enough.)
[code]

which also fails before #73905, e.g. with
[code]

Looking further back... at some point (around `nightly-2019-12-23`) the error changes to
[code]

so there's no regression on this issue – it never worked.

[2021-11-08 17:44] jyn514 opened #90705 "rustdoc: expand/collapse buttons look very strange in old versions of chrome"
See https://docs.rs/opentelemetry/0.16.0/opentelemetry/struct.Context.html. ![image](https://user-images.githubusercontent.com/23638587/140791332-2621447c-1b51-4ed7-b888-34a27574d303.png)

There are a couple issues here:
- rustdoc is showing both `[+]` and the little arrow overlapping
- the toggles are on separate lines, making the docs much less compact

[2021-11-08 17:53] Manishearth commented on #90702
Not so sure, most such calls are introduced because it's tricky to have the compiler keep marching on after it already knows it's operating on bad code. For example, the error for an `extern crate serdy` typo would get drowned out by a million "cannot find `serde::Serialize`" errors.

It might be worth getting the resolver to continue looking for crates but nothing else (or something similar? idk)

[2021-11-08 17:59] jsha commented on #90632
Hi @exzachlyvv ! Welcome to Rust, and welcome to rustdoc. [You may be interested in this issue](https://github.com/rust-lang/rust/issues/59829), which recommends some style changes based on accessibility. In particular I notice that both of the fonts you recommend are sans-serif fonts, and the issue I linked (#59829) also recommends sans-serif:

I think that's a pretty strong reason! It would be u

[2021-11-08 18:12] camelid commented on #75643
`slice::get` works now, so should this issue be closed?

[2021-11-08 18:13] mcy commented on #90702
At a minimum it would be ok to:
- Halt macro expansion and discard all macro nodes.
- Discard all type-defining items.
- Recurse only into items inside of function, static, const, and impl bodies.

Our only hope here is probably to search for further extern crates, and `use` statements that are rooted in crates we've managed to resolve... not sure about `use crate::` in this scenario. At a minimum

[2021-11-08 18:15] jyn514 commented on #75643
Yeah, that seems reasonable.

[2021-11-08 18:15] #75643 closed

[2021-11-08 18:16] camelid commented on #90705
Two hypotheses:

- That crate has custom CSS.
- Its docs were built soon after the `details` cleanup landed, where there was a bug that has since been fixed.

[2021-11-08 18:18] camelid commented on #90705
Third hypothesis:

- There is something wrong with your browser, because it renders fine for me:

![image](https://user-images.githubusercontent.com/37223377/140796179-beb3d548-b92c-4499-b941-1071dc190b5b.png)

[2021-11-08 18:29] jyn514 commented on #90705
@camelid yeah this is also happening for me on other crates:
![image](https://user-images.githubusercontent.com/23638587/140797679-24156986-cb07-4d67-b5f6-da935b6f416c.png)

I'm using `Chromium 83.0.4103.116 built on Debian bullseye/sid, running on Debian bullseye/sid`

[2021-11-08 18:44] InfRandomness commented on #90694
[code]

[2021-11-08 18:50] gmorenz commented on #58874
With that proposal now being implemented in v8, are we likely to see progress on this? Is there a rust issue to watch for this?

[2021-11-08 19:13] Mustafif commented on #90703
Hello I tested your problem, and found that when I used [`f64::from_str().unwrap()`] I got no error.
[code]
When I run `cargo doc`:
[code]
I also tested with a `main.rs` file, and I mean it does work:
[code]
I hope this helps, but I do find it weird cargo needed the unwrap to not give errors

[2021-11-08 19:47] albertodiazdurana commented on #84970
Just got an error the brought me here:

   Compiling runtime-main v2.0.12 (/root/chain/runtimes/main)
   Compiling runtime-staking v2.0.12 (/root/chain/runtimes/staking)
   Compiling nodle-chain v2.0.12 (/root/chain/node)
error: internal compiler error: encountered incremental compilation error with evaluate_obligation(76eb3d63ecdbd736-255d01c12a95011a)
  |
  = help: This is a known issue with the

[2021-11-08 19:48] jyn514 commented on #90703
@Mustafif when you put a dot in a link, rustdoc treats it as a url, not an intra doc link

[2021-11-08 19:48] jsha commented on #90705
I can't reproduce on Chrome, Version 95.0.4638.69 (Official Build) (64-bit). @jyn514 does this happen for you on all crates? Does it happen on the nightly stdlib docs? Does it persist if you rebuild an affected crate?

I'd be interested to see the Chrome Devtools "Styles" panel you get if you right click that triangle and select "Inspect".

[2021-11-08 19:51] Mustafif commented on #90703
Oh my I did not realize that, thank you for informing me about that

[2021-11-08 20:04] JohnKinyanjui commented on #90593
@kinnison to reproduce its mostly happens when you change from rust stable to nightly, it tool chain works properly but the error shows up when updating the rust language server

[2021-11-08 20:19] leonardo-m commented on #71126
Something related in C# 10:
https://docs.microsoft.com/en-us/dotnet/csharp/fundamentals/functional/deconstruct

[2021-11-08 20:31] kosmas12 opened #90711 "Can't get gdb-usable debuginfo for MSVC-like target"
Hello!

I've been trying to get Rust running on the original Xbox from 2001, however, when trying to compile the `core` crate I get an internal compiler error, whose details you can find below. This also happened to me when trying to make an i386 operating system. I have not been able to find a fix anywhere, including previous issues here.

### Code
Compile the `core` crate with a freestanding bin

[2021-11-08 20:36] theryangeary commented on #90703
I'd like to take a shot at this, if that's alright.

[2021-11-08 20:42] yanok commented on #90301
Update: this *IS* a LLVM bug, I'm able to reproduce it with just ll input file using mainline LLVM. Filed https://bugs.llvm.org/show_bug.cgi?id=52441 to LLVM.

[2021-11-08 20:44] jyn514 commented on #90703
@theryangeary go for it! :)

[2021-11-08 20:45] exzachlyvv commented on #90632
[That issue](https://github.com/rust-lang/rust/issues/59829) does a much better job of describing my feelings :D I'll follow that.

Thanks for the responses!! I'm loving Rust 😎

[2021-11-08 20:45] #90632 closed

[2021-11-08 20:47] ocstl commented on #70060
It is possible by using a `tt` fragment specifier instead of `expr`: [Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d8025627c9a72d771a350cdb75900de7).

Here is the relevant part from the Macros by Example section of the Rust Reference ([Transcribing](https://doc.rust-lang.org/reference/macros-by-example.html#transcribing)), which also contains a similar e

[2021-11-08 21:59] petrosagg opened #90713 "Seemingly equivalent GAT trait implementations behave differently"
The following code fails to compile:

[code]

But this equivalent (I think) code compiles just fine:

[code]

There might be a subtle difference between the two implementation but I can't see any. This is a simplified example from this question in the Rust subreddit: https://www.reddit.com/r/rust/comments/qp8dwl/hey_rustaceans_got_an_easy_question_ask_here/hjsfjgs/

[2021-11-08 22:07] nikomatsakis commented on #89122
@calebcartwright I might be missing something here but I don't think this change introduces a lot of complexity to rustfmt. This is what I imagine would happen:

### If user wrote a top-level type alias with where after `=`..

[code]

This would be an error today. It will eventually be made to work, but not until we figure out how to give it the semantics we expect. It will parse, however, so rust

[2021-11-08 23:25] foresterre commented on #89909
I'm no longer able to reproduce it with the latest nightly I have installed (2021-11-08). Thanks!

[2021-11-08 23:25] #89909 closed

[2021-11-08 23:29] jyn514 commented on #90705
@jsha yes, it also happens on nightly, starting in 1.54. I would be surprised if a rebuild helps but I haven't yet tried.
![image](https://user-images.githubusercontent.com/23638587/140834398-8e77d42d-6de5-40ea-b729-87d93167008d.png)

Not sure which styles exactly you're looking for, but here are some in that general area:
![image](https://user-images.githubusercontent.com/23638587/140834632-9c53f

[2021-11-08 23:31] workingjubilee commented on #90711
This target is much shorter than the one I would expect for a `-pc-windows` target, even a reduced `-pc-win32` target. I believe it does not contain enough information for Rust to discern what the C ABI should be, as Rust allows a Windows target to have both GNU and MSVC ABIs. Further, you may wish to be using not `extern "C"` but the [`extern "system"` ABI][extern-blocks], which will be more corr

[2021-11-08 23:33] jyn514 commented on #90705
Hmm like @camelid said it works fine in Firefox - maybe I should just bite the bullet and update chrome?
![image](https://user-images.githubusercontent.com/23638587/140834942-77e1f0f4-e349-459a-a996-7d787b7424f7.png)

[2021-11-08 23:47] jbr opened #90715 "ICE unwrap in compiler/rustc_hir/src/definitions.rs:452:14"
### Code

Unfortunately I changed a lot of things in a large codebase and am not sure which resulted in this ICE, but thought I'd report anyway. Sorry and thanks!

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-08 23:52] jsha commented on #90705
The styles you showed are indeed the ones I wanted to see. This is the rule that's supposed to hide the default triangle icon (as copied from latest master):

[code]

Does that show up anywhere in the styles panel?

I'm curious to I do think it's worth biting the bullet and updating Chrome on general principles - most browser releases contain fixes for vulnerabilities, and by virtue of publishing

[2021-11-09 00:03] jyn514 commented on #90705
https://rust-lang.github.io/rfcs/1985-tiered-browser-support.html

[2021-11-09 01:12] scottmcm commented on #31436
Reminder that `try{}` includes success-wrapping (#70941), so you probably don't want the `Ok` in `using_try`.

[One way](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e94d277801c4d074c8a561540a2e8ff4) that works is
[code]

Because inherent method resolution requires that the type is already decided -- when there's a non-trait method call involved, it blocks inference.

S

[2021-11-09 01:38] reza-ghazi commented on #79532
### Same issue in Windows 10 pro.
`Rust version: 1.56.1`

[code]

[2021-11-09 01:39] dwblaikie commented on #45246
Hey folks - I'm the one who turned off aranges by default in clang some time ago & I'd generally like to see less use of aranges (because it takes up extra space & so far as I know, provides little benefit)

Under what conditions/situations are you assessing that? In object files, the relocations for aranges can be quite significant - especially compared to the more compact rnglist encoding in use

[2021-11-09 02:04] jsha commented on #90552
Ah, that makes sense - though it's hard to discover that property as a user. Maybe the main fix here is to change `1.0.0 (const: 1.39.0)` to just `const: 1.39.0`.

[2021-11-09 02:33] eddyb commented on #90711
This field is wrong (though I'm not sure how we're not detecting it anywhere else):
[code]

The correct value for that field for an `i686` target is `"x86"` ([and this is where it's handled for the ABI computation relevant to your issue](https://github.com/rust-lang/rust/blob/515472757d2991e280965d7c1d235cfbb6ceb006/compiler/rustc_target/src/abi/call/mod.rs#L641-L648)).

You can see the correct va

[2021-11-09 03:24] dwblaikie commented on #45246
(oh, seems it was Eric who turned them off - but I /think/ it was based on conversations he and I were having around that time: https://github.com/llvm/llvm-project/commit/02dbadb3a0ff7ad3a690d2b104cdf96d7d972da3 )

[2021-11-09 03:40] dwblaikie commented on #45246
Aranges doesn't take up a lot of space, admittedly, even in the worst case I can think of:
Clang self-host, -O0, -gz, -gsplit-dwarf, object files (so, including relocations): 22.2% growth of debug info (.debug_* and .rela.debug_* sections) - which is pretty significant.
An optimized build: 4.8% growth

Linked (but uncompressed - happens to be what data I have/how we use debug info at Google by def

[2021-11-09 04:25] #90618 closed

[2021-11-09 04:28] est31 commented on #63567
@Amanieu I think the command is "rfcbot fcp merge"

[2021-11-09 05:14] camelid commented on #90705
Assigning priority as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2390705.20rustdoc.3A.20expand.2Fcollapse.20buttons.20look.20very.20strange) in the prioritization working group.

[2021-11-09 05:30] #74513 closed

[2021-11-09 05:34] camelid commented on #90512
Looking at the query diff view, `build_extern_trait_impl` and `metadata_decode_entry_item_attrs` both seem to have regressed by several percentage points.

[2021-11-09 05:53] ecstatic-morse opened #90718 "Can I create and use a `*mut` to an uninitialized local?"
[The following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=13e6e03b7d4c40c9b3014e113be40447) does not compile on current nightly or stable (1.56.1).

[code]

[code]

I would expect this to work, since part of the rationale for the `addr_of` macro and raw reference operator (#64490) was to allow creation of pointers to uninitialized memory. On the other hand, I do

[2021-11-09 06:00] ecstatic-morse commented on #90718
cc @rust-lang/wg-unsafe-code-guidelines

[2021-11-09 06:12] jsha opened #90719 "Move main and extra scripts to top of page and use `defer`"
In rustdoc, we currently have a few, small scripts in the `<head>` element, which we allow to be render-blocking because they affect styling:

[code]

We also have some scripts that show up at the bottom of the page, including in particular the main JS:

[code]

[Per this Stack Overflow answer](https://stackoverflow.com/a/24070373), putting scripts at the bottom of the page was a common technique

[2021-11-09 06:35] hameerabbasi commented on #63390
Another year. :) Maybe `E-easy` should be removed, so new contributors like me don't stumble on it?

[2021-11-09 06:42] QuineDot commented on #77174
Happy to see this land.

The documentation should
* link to [`escape_default`](https://doc.rust-lang.org/stable/std/ascii/fn.escape_default.html) or include the list of escapes inline
* mention that the iterator is over `u8`
* mention that it implements `Display` for those wishing to display escaped bytes without allocating (who aren't aware of the connection with `ToString`)

[2021-11-09 06:42] Fancyflame commented on #79532
@reza-ghazi I think it should not the same. My error is `No such file or directory` while yours is `Access is denied`.
Also try to remove `target` to see whether could help.

[2021-11-09 07:27] bdbai commented on #75861
@chris-laplante `try_*` functions in Arc are related to allocators. Shall we pick another name?

[2021-11-09 08:14] hellow554 commented on #90691
Reduced to:

[code]
regressed commit: https://github.com/rust-lang/rust/commit/f9b95f92c8af07a24a870e5f6117aa5dfcee5f17

cc #86461 @crlf0710

[2021-11-09 08:32] yanok commented on #90301
I have a fix: https://reviews.llvm.org/D113468

Do we want to apply it to llvm-rust or are we going to wait for LLVM review?

[2021-11-09 08:34] yanok commented on #45397
In #90301 I have a fix. Would be nice to verify it fixes also this bug.

[2021-11-09 10:03] michaelwoerister commented on #90715
Thanks for the bug report, @jbr! Do you by any chance also use `cargo clippy`?

[2021-11-09 10:08] michaelwoerister commented on #90658
@pierwill, feel free to make a PR and r? me on it.

[2021-11-09 10:19] hkratz commented on #90694
Does it build with gcc/g++?

[2021-11-09 10:46] jplatte commented on #89601
I didn't want to imply that the underlying problem is solved. Just thought this info would be interesting for people who are subscribed to this issue because they want to use axum + a recent Rust version.

[2021-11-09 11:16] #82761 closed

[2021-11-09 11:24] klensy commented on #90694
You can skip building llvm by setting `download-ci-llvm = true` in config.toml.

[2021-11-09 11:24] yoshuawuyts commented on #74479
The API, documentation, and naming have all undergone thorough review in the past few months. And with https://github.com/rust-lang/rust/pull/89310 merged, we are now returning accurate numbers for the majority of uses.

The only known limitation at the moment is that we're not detecting externally-set thread count limits on Windows. While not unimportant, there is nothing in the API or documented

[2021-11-09 11:25] mingmwang commented on #63033
Just hit this as well.

[2021-11-09 11:26] jyn514 commented on #82761
@sxlijin @SNCPlay42 feel free to open a new issue for showing all lint errors across a workspace :) it should probably be under rust-lang/cargo.

[2021-11-09 11:34] jyn514 commented on #90133
I don't have a clear idea of the tradeoffs here so I'll defer to your experience :)

[2021-11-09 11:34] #90133 closed

[2021-11-09 11:36] the8472 commented on #74479
CFS bandwidth limits (commonly used to limit containers) have been mentioned several times. I consider that a significant limitation and #89310 does not address that since bandwidth limits and affinities are independent ways to allocate CPU resources.

[2021-11-09 11:37] ijackson commented on #87074
I think for this to work `Command::stdin()` ought to let you pass a `BorrowedFd`.  But `Command` doesn't have a lifetime.  This is a real problem with the API structure: in order to `dup` the fd after fork, the fd must live until fork.

So `Command` actually *does* borrow the fds you feed to `stdin()` etc.  But because `Command` is `'static`, all the fds you feed it must be `'static` too.  Which i

[2021-11-09 11:44] jyn514 commented on #85500
Uhh it turns out this is actually invalid code, it only compiles when used with rustdoc because rustdoc has lots of hackery. Going to close this

[code]

[2021-11-09 11:44] #85500 closed

[2021-11-09 11:47] ijackson commented on #87074
In other news: what is the status of an `OwnedFd` containing `0`, `1` or `2`:

a. Wrong?  In which case we should panic in the constructor when this happens.  Unfortunately this means that the whole of std cannot use `OwnedFd` because people have been playing funky tricks with `ManuallyDrop<File>` for stdin, and that's baked into programs and de-facto part of the API; see also #30490 where the rep

[2021-11-09 12:02] yoshuawuyts commented on #74479
@the8472 Thanks for raising that, that makes sense! I didn't realize Linux had two distinct ways of restricting CPU resources. Just to make sure we're entirely on the same page; what you're saying we're still missing is an equivalent to `num_cpu`'s [`cgroups_num_cpus`](https://github.com/seanmonstar/num_cpus/blob/a49a20370473a3bdbb50e25ed1cb810bc96f0982/src/linux.rs#L103-L286) logic?

[2021-11-09 12:10] the8472 commented on #74479
Yes, although that particular implementation is debatable since it caches the calculation even though quotas can be changed at runtime.

[2021-11-09 12:22] HTG-YT opened #90722 "Confusing Error Utilizing `let_chains`"
`rustc --version --verbose`:
[code]

Code:
[code]

Error Output:
[code]

Is it me, or is the error being a bit confusing, that shouldn't `fields` be already initialized due to the `if let`, being only assigned to if the value is indeed ` SelectScope::Fields(<field vector>)` (or am I misunderstanding things)? Thanks.

[2021-11-09 12:45] joshtriplett commented on #74479
@the8472

That's absolutely true. However, looking into it further, I'm not actually sure the degree to which either CPU shares or CFS bandwidth limits should affect `available_parallelism`, and in particular I'm not sure the semantic implemented by `num_cpus` is exactly what we want.

(By contrast, I *do* think we should make sure to account for cgroup CPU sets.)

Talking it through for each of t

[2021-11-09 12:48] jackh726 commented on #90713
This is pretty gnarly. Has some relevance around implied bounds, as well as constrained type params and their inferred outlives relationships, specifically when they don't appear in the `Self` type, but do appear as the associated type in a projection.

See https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4a9562b4e3074b1630fae2994a3d7471 for a different repro, where I split

[2021-11-09 13:16] sunfishcode commented on #87074
My current interpretation of `OwnedFd` of `0`/`1`/`2` is that it's `unsafe` and tricky to use, but valid.

It needs `FromRawFd::from_raw_fd` or equivalent to construct, which is `unsafe`. As with any raw file descriptor, using 0/1/2 implies knowing that they are open, and, if the `OwnedFd` is ever dropped, knowing that it's ok to close them. In effect, 0/1/2 aren't special for `OwnedFd`; the only

[2021-11-09 13:29] haoadoresorange opened #90725 ".lines() auto insert \n on first empty string if the string start with \n"
I tried this code:

[code]

I expected to see this happen: print ""
[code]
print "hello"

Instead, this happened: print "\n"

### Meta

`rustc --version --verbose`:
[code]

[2021-11-09 13:31] apiraino commented on #90662
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2390662.20Regression.20in.201.2E56.2E0.20-.20Trait.20bound.20not.20satisfied.20err.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-11-09 13:36] kosmas12 commented on #90711
Thank you both for your help! I managed to get an executable to compile fine and seems to be an actual 32 bit .exe file as well! I really appreciate your help!

Now, another issue I seem to be having is that the compiler never generates an executable with the debug info inside it. It does generate a `.pdb`, but it's not enough for my purposes, I need the executable to be compatible with GDB (I'm n

[2021-11-09 13:45] hkratz commented on #90725
I can't reproduce this issue with your sample code. I minimally modified it to consume the Iterator returned by `map()` as otherwise nothing is printed at all:
[code]
This prints `""` for me: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7a7479ea2efb583cad54172bf121d73f)

[2021-11-09 14:10] Amanieu commented on #72016
# Request for stabilization

This is a request for a partial stabilization of inline assembly.

## What is being stabilized

- The `asm!` and `global_asm!` macros.
- `in`, `out`, `inout`, `lateout`, `inlateout` operands.
- `clobber_abi`.
- `options(att_syntax, raw, pure, nomem, readonly, preserves_flags, noreturn, nostack)`.
- Only stabilized for x86, x86_64, ARM, AArch64, RISC-V.

## What is not

[2021-11-09 14:34] Badel2 opened #90728 "thread 'rustc' panicked at 'unexpected components in a float token"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

The ICE happens after correctly reporting a malformed float error, so low priority. Affected versions: probably all versions since that panic was introduced, I tried nightly 2021-11-07 and stable 1.56.1 and they both show the same

[2021-11-09 15:02] davidli2010 opened #90729 "Problem with GAT and HRTB"
I tried this code:

[code]

I expected to see this happen: *I had expected compilation to succeed*

Instead, this happened: *Compilation fails with the error message below.*

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-11-09 15:03] jethrogb commented on #72016
Is global_asm sufficiently specified for it to be stabilized?

[2021-11-09 15:10] Badel2 commented on #90715
Duplicate of #90697

[2021-11-09 15:10] bstrie commented on #72016
Presumably the stabilization request is targeted at the lang team since this issue is tagged T-lang, but asm is such a unique intersection of features that I would also expect both the compiler team and the libs-api team to weigh in as well. Does that sound reasonable?

[2021-11-09 15:24] dvc94ch opened #90730 "wasm64 -Zbuild-std invalid relocation data index"
steps to reproduce:
[code]

[2021-11-09 15:34] Badel2 commented on #81920
I found a similar ICE using [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)

[code]

[code]

See also #87793

[2021-11-09 15:36] mark-i-m commented on #72016
@Amanieu I want to thank you for the substantial effort you have put into this feature. It's been on my wish list for a long time.

[2021-11-09 15:37] Badel2 commented on #90730
Can confirm:

[code]

[code]

[2021-11-09 15:44] chris-laplante commented on #75861
How about `new_cyclic_fallible`?

[2021-11-09 15:54] jethrogb commented on #72016
I concur! This is the only feature that still requires my organization to use nightly.

[2021-11-09 15:58] Lokathor commented on #72016
@Amanieu were the docs for T32 registers ever updated?

[2021-11-09 16:08] bstrie commented on #87228
Ah yes, I forgot that `#[stable]` and `#[deprecated]` used the same machinery. Still, it should be possible to do the same thing via a nightly-specific macro defined in the prelude that delegates to `core::asm`, which could be turned into an ordinary re-export if the decision is made to stabilize `asm!` in the prelude.

[2021-11-09 16:44] pierwill commented on #90658
@rustbot claim

[2021-11-09 16:49] b-naber commented on #90612
Seems related to https://github.com/rust-lang/rust/issues/90638

[2021-11-09 17:07] ssokolow commented on #87228
If we're talking about "feel like" and concerns of comparisons with existing low-level languages, I'd like to raise a reminder that MSVC disables support for inline assembly on 64-bit x86 and ARM targets.

I think it's important to define what is meant by "systems language" here, given that this is one of the areas where the two meanings of the term could have differing implications.

(As [Will Cr

[2021-11-09 17:09] RalfJung commented on #79551
Fine for me as long as we have a test which ensures that such a `const fn` cannot be directly called from stable user code in any way.

However, there seems to be another problematic case:

Do we have an issue tracking that, or tests ensuring that this will work as expected (namely, such functions are *not* called in const-contexts in stable code)?

[2021-11-09 17:13] #88595 closed

[2021-11-09 17:13] RalfJung commented on #90718
Why that?
I agree that the *specification* should be ready to say what programs like this behave like, at least in post-drop-elaboration MIR (and the spec in my head indeed allows this code, just like the equivalent code using `MaybeUninit`). OTOH it seems like a waste of time to describe how drop elaboration behaves on code like this.

I think it is perfectly fine to disallow code that tries to h

[2021-11-09 17:13] #90014 closed

[2021-11-09 17:13] #90615 closed

[2021-11-09 17:24] roblabla commented on #72016
Is there a reason sym couldn't be stabilized for inline `asm`? AFAICT, it's fully implemented there, and it works perfectly (at least I've never had issues with it after some heavy use). IMO it's a very important feature as it allows the `asm` code to integrate with the Rust symbol mangling. Without it, one has to resort to `no_mangle` to access rust-written statics and functions, which isn't grea

[2021-11-09 17:35] jcrevier commented on #87228
As someone who probably won't use this feature but is glad it it exists, putting this in the prelude feels very strange to me. It feels nowhere near as fundamental to average rust usage to justify not requiring an explicit import. I think perhaps the fact that asm is unlikely to cause name collision is a big reason this is even considered. But I think that's somewhat of a distraction and should be

[2021-11-09 17:57] Gisleburt commented on #48290
It's worth saying that in my example, the output has also changed.

The explanation is still confusing, **but** it now makes a suggestion and that suggestion works.

**Original:**
[code]

**Output as of rustc 1.56.1:**
[code]

**After implementing suggestions:**
[code]

**Output:**
[code]

(Yes, I did name the project e0308)

[2021-11-09 18:01] bnjbvr opened #90735 "Confusing diagnostic for iterators lifetimes with `Drop` and `chain()`"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=26f878711564a5bff2c0da3be4de81af

There are two things that I consider to be error output bugs, but that can be probably be discussed:

## `IntoIterator` exists for `&Type` but not `Type`

The first one was that an earlier version of this code didn't use `into_iter()` at line 18, because I thought tha

[2021-11-09 18:24] Badel2 commented on #89451
Not sure if this is a valid MCVE, but I found this case while fuzzing with [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3c78a33536e524a866e14603d6478085)

[code]

[2021-11-09 18:25] euclio commented on #90467
Note that this is already partially implemented in clippy as [`clippy::cast_lossless`](https://rust-lang.github.io/rust-clippy/master/index.html#cast_lossless). It doesn't catch the `const` case.

[2021-11-09 18:28] joshtriplett commented on #72016
Thanks for the stabilization report, @Amanieu!

https://github.com/rust-lang/rust/issues/72016#issuecomment-964186287

Shall we stabilize this subset of inline assembly?

@rfcbot merge

[2021-11-09 18:29] joshtriplett commented on #72016
I don't think this needs a three-team PFCP.
@rfcbot cancel

[2021-11-09 18:30] joshtriplett commented on #72016
Shall we stabilize this subset of inline assembly?

@rfcbot merge

[2021-11-09 18:38] Amanieu commented on #63567
@rfcbot fcp merge

[2021-11-09 18:39] Amanieu commented on #63567
@rfcbot merge

[2021-11-09 18:40] Amanieu commented on #63567
@rfcbot fcp cancel

[2021-11-09 18:40] Amanieu commented on #63567
@rfcbot merge

[2021-11-09 18:41] ecstatic-morse commented on #90718
Not that I can think of. This type of code was UB prior to `&raw` AFAIK. For now, you cannot access a variable that has been declared but not defined, even to take its address. My question is: can we rely on this going forward? You seem conflicted:

Both the borrow checker and Polonius rely on variable liveness in some cases to determine whether an outlives relationship between two regions is an e

[2021-11-09 18:41] Amanieu commented on #72016
The current implementation of `sym` will likely need to be rewritten to support both `asm!` and `global_asm!`, which may cause subtle breaking changes (in particular with regards to functions with generic parameters).

[2021-11-09 18:47] sxlijin commented on #82761
Hurrah! Many thanks :)

[2021-11-09 18:49] Cyborus04 commented on #87228
If it's arcane dark magic, why does it need to be so easily accessible?
If you want to do `asm!` (without the qualifying path), you can just `use std::arch::asm;` to say "gonna be doing some low-level stuff here"

[2021-11-09 18:55] hudson-ayers commented on #32408
I will second that the [Tock project](https://github.com/tock/) also uses naked functions extensively, would prefer to use them over `global_asm!()`, and are interested in them being stabilized. Once `asm!()` is stabilized, naked_functions will be one of the last remaining blockers from us moving some of our libraries to a stable compiler.

[2021-11-09 19:05] jyn514 commented on #90705
Ok, I updated chrome and this works fine now. Apparently `apt install chromium` on ubuntu gets you an ancient version and you need to use flatpak instead :facepalm:

[2021-11-09 19:05] #90705 closed

[2021-11-09 19:56] cuviper commented on #45246
Hi @dwblaikie! I don't have much context in my head anymore about size or performance, but my concern at the time was mostly about making sure elfutils works with Rust binaries, per their [bug 22288](https://sourceware.org/bugzilla/show_bug.cgi?id=22288) linked above. Even if you never use the elfutils command-line tools that mimic binutils, the libraries are still commonly used by tools like perf

[2021-11-09 20:30] roblabla commented on #32408
What if we forced the naked functions to be nounwind? I don't think I've ever seen a naked function that called an unwinding function. And anyways, if it did, I'd expect it to deal with the unwinding itself, through assembler directives (that's rather the point of naked functions - they are supposed to deal with everything).

[2021-11-09 20:39] dwblaikie commented on #45246
Contributing to elfutils is a bit outside my wheelhouse (myself/my employer have no use of them in the areas I support) - though happy to provide guidance/advice.

*goes to test eu-addr2line* Yeah, I guess, by the looks of it, eu-addr2line just flat-out assumes .debug_aranges is present and complete? That seems wrong. It's not required by the DWARF spec (insofar as the DWARF spec requires anything

[2021-11-09 20:42] the8472 commented on #74479
Prior art:

* obviously num_cpus, see [positive impact](https://github.com/seanmonstar/num_cpus/pull/96#issuecomment-608161785) in the original PR
* the [java runtime](https://www.docker.com/blog/improved-docker-container-integration-with-java-10/). They use this for scaling their multi-threaded GCs and the `availableProcessors()` standard library API.
* [.NET](https://github.com/dotnet/runtime/is

[2021-11-09 21:01] danielkeller commented on #62874
My 2 cents on this:

A better solution would be to add a variant of the `#[link(name = ...)] extern {}` attribute with something like `#[link(dynamic)]  extern {}`, that gives the linker the flag `--undefined=<symbol>` for each symbol in the extern block. This will make it possible to locate symbols dynamically, if the programmer chooses, but keep the ability to detect undefined symbols at link ti

[2021-11-09 21:25] jyn514 commented on #83761
Note that in practice this requires resolution to be incremental, since otherwise the tyctxt will still be using the frozen `ResolverOutputs` which has the same issues. See also https://github.com/rust-lang/compiler-team/issues/437.

[2021-11-09 21:35] npmccallum commented on #32408
@roblabla That may not be a bad suggestion. You might want to start a discussion on the [Constrained Naked Functions RFC](https://github.com/rust-lang/rfcs/pull/2972) since it is in the FCP. It would be difficult to adopt this after we stabilized the feature with the existing requirements.

[2021-11-09 21:37] MatrixDev commented on #62874
@danielkeller it is fine for the linux (already works like this) and macos/ios (will work). But what about windows and android? AFAIK those platform don't support dynamic linking (I might be wrong).

Maybe it is better to just make this a default behaviour for macos?

[2021-11-09 21:50] nikic commented on #90609
https://reviews.llvm.org/D113510

[2021-11-09 21:55] nikic commented on #90595
Without MaybeUninit some MIR optimization takes care of this (try `-Z mir-opt-level=0` to disable). I'm not familiar with MIR optimizations though, so I don't know which one does it / which limitations it has.

[2021-11-09 22:01] deprilula28 opened #90738 "ICE on compiler\rustc_mir\src\monomorphize\collector.rs:894:93"
### Code

The error doesn't specify where in the code caused the issue, making it hard to provide an example.

### Meta

`rustc --version --verbose`:
[code]

It also happens on stable and an on 1.55.0 (which I updated from after I initially ran into this problem).

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-09 22:06] HindrikStegenga commented on #87228
A many other people mention, this is a feature that is not something you should grasp for quickly and therefore I do not feel it should be put in the prelude. However, what I am more concerned about is that it would bloat IDE/editor suggestions unnecessarily. In particular I can imagine people attempting to write 'async' and the editor also suggesting 'asm!', as both start with the same letters. E

[2021-11-09 22:12] simbleau opened #90739 "rustc 1.58.0-nightly compiler bug"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong></strong></summary>
<p>

[code]

</p>
</details>

[2021-11-09 22:13] simbleau commented on #90739
Not sure what caused the bug, but hopefully the backtrace helps.

[2021-11-09 22:26] jhpratt commented on #79551
To my knowledge there's not an open issue for that. For tests, I'm pretty sure that's just regular const-stability checks that are recursive, no?

[2021-11-09 22:30] simbleau commented on #90739
update: `cargo clean` and building again solved the issue. Appears to be an incremental problem...

[2021-11-09 22:49] azalutsky commented on #50291
Just started learning Rust and came across this error while writing some tests- I absolutely agree "ungreat" is perfect word choice.

[2021-11-09 23:06] ehuss commented on #90730
Thanks for the report!  It is somewhat known that wasm64 support isn't quite there.  #90382 is implementing standard library support for wasm64, and should resolve these issues.

[2021-11-09 23:06] #90730 closed

[2021-11-09 23:15] roblabla commented on #32408
Ah, that's true, thanks for the heads up!

[2021-11-09 23:15] #78132 closed

[2021-11-09 23:15] #78174 closed

[2021-11-09 23:15] #81857 closed

[2021-11-09 23:15] #89964 closed

[2021-11-09 23:27] leonardo-m opened #90744 "[ER] NonZeroUX::pow()"
Currently rustc (1.58.0-nightly 2021-11-08) compiles this with a division by zero test:

[code]

When the base isn't zero and there isn't an overflow base^exp shoudn't be zero. I think currently this can't be solved adding an assume() before the return inside the pow() function because base could be zero.

To solve this problem I suggest to add the pow() method to NonZeroUX values:

[code]

A pow(

[2021-11-09 23:37] pierwill commented on #84446
@rustbot release-assignment

[2021-11-09 23:39] Subsentient commented on #88576
Why is this still not fixed after three months? The patch has been ready for a while now and nobody has reviewed it!

[2021-11-10 00:00] leonardo-m commented on #90467
I think type conversions warnings/suggestions about built-in types should be in the core compiler because minimizing the usage of 'as' is sufficiently important.

[2021-11-10 00:03] est31 commented on #90744
Note that `6_u64.pow(y)` evals to 0 for sufficiently large `y`, like `100_000`, due to overflow (on builds with debug assertions turned off).

[2021-11-10 00:09] RalfJung commented on #79551
Well, the tests would have to specifically check the behavior of a stable `const fn` without any const stability attribute. I guess @oli-obk has a better idea for the kind of example they had in mind.

[2021-11-10 00:16] leonardo-m commented on #90744
If you read above, I was aware of that. But is Rust stdlib required to never return a zero NonZero even in presence of integer overflows? You may see this as a silly question, but in my code above I've assumed that the answer is negative.

[2021-11-10 00:27] jhpratt commented on #79551
My intent for that was to require `#[rustc_const_stable]` or `#[rustc_const_unstable]` on any publicly accessible method. This wouldn't alter the behavior of anything — it would only be a lint. Perhaps I'm just misunderstanding what you're saying, though.

[2021-11-10 00:28] dvc94ch commented on #90730
the core/std crates failing to build with `-Zbuild-std` would hopefully give a more sensible error message? in any case, great that it was resolved already.

[2021-11-10 00:32] U007D commented on #87228
As a user (and lover) of the `asm!` feature, I think it is not used often/broadly enough to be in the prelude.  It's worth pointing out that my favorite feature of Rust 2021 Edition is that `TryFrom` is in the prelude, so I do love me some prelude! 😃

If it were included I would also worry about the precedent that would set over other 'nice to have' things and/or "marketing features" in the prelud

[2021-11-10 00:36] glandium commented on #88576
why? this is a regression that shipped in 1.56!

[2021-11-10 00:39] Mark-Simulacrum commented on #88576
My bad. I looked at the milestone and was worried it might've been mislabeled (by me) but I don't think that's actually the case.

[2021-11-10 00:48] RalfJung commented on #79551
Right, we should have that lint -- but we might not want to *rely* on it so it might also be worth testing that we fail safely in case there is a screwup.

[2021-11-10 00:55] jhpratt commented on #79551
Well, first thing's first is getting the lint 😄 Can definitely add in tests as needed.

[2021-11-10 01:05] PatchMixolydic opened #90745 "Span for `unused_macros` lint is too large, which makes writing macros in IDEs annoying"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=48f2788a7492675436c00005d5c97597)):

[code]

The current output is:

[code]

Note how the span for the `unused_macros` lint covers the entire macro definition. This is fine for terminal diagnostic output, but when using an IDE or a Rust language server, this causes the entire macro defin

[2021-11-10 01:06] Badel2 commented on #45850
I think this issue can be closed, now these warnings can be suppressed using `#[allow(unconditional_panic)]` which can be found in the error message:

[code]

[2021-11-10 01:16] cuviper commented on #88716
Whatever we do, we need to reconcile this with #90292 as it becomes documented.
I agree the suggested change makes sense though.

[2021-11-10 01:21] tmandry commented on #76547
@rustbot label: -AsyncAwait-Triaged

Re-submitting to the triage queue since things have changed.

[2021-11-10 01:28] cuviper opened #90747 "Tracking Issue for `CommandExt::groups`"
Feature gate: `#![feature(setgroups)]`

This is a tracking issue for `std::os::unix::process::CommandExt::groups`.

Sets the supplementary group IDs for the calling process. Translates to a `setgroups` call in the child process.

### Public API

[code]

### Steps / History

- [x] RFE: #38527
- [x] Implementation: #72160
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questi

[2021-11-10 03:32] mk12 opened #90752 "Miscompilation where binding only some fields leaks the others"
I found a bug where Rust leaks values (never calls `drop`). This is the root cause of a memory leak we saw in a Fuchsia test, caught by LeakSanitizer: https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=87961.

This is as far as I could minimize it:

[code]

Expected output:
[code]

Actual output:
[code]

It leaked `S(2)`. If you change `(x, _)` to `(_, x)` in the second match statement, it leaks

[2021-11-10 04:08] jyn514 commented on #90752
Note that the miscompilation goes away if you change `foo.insert((E::B)` to `foo = Some(E::B)`. So I suspect the `unreachable_unchecked` in insert is what's causing this somehow. https://github.com/Canop/rust/blob/e5cfe844c9d5c2e1e21cf97afd5f1ecbb99abc46/library/core/src/option.rs#L1211

[2021-11-10 04:16] jyn514 commented on #90752
Also, the miscompilation is in MIR, not LLVM, because Miri also fails to run the destructor.

[2021-11-10 04:23] jyn514 commented on #90752
Very slightly smaller (I removed the fields in `S`):
[code]

[2021-11-10 04:25] thomcc commented on #90467
I think this is too opinionated to be in the core compiler, and is better off in clippy.

And there are a lot of [`#[allow(clippy::cast_lossless)]`](https://grep.app/search?q=%23%5Ballow%28clippy%3A%3Acast_lossless%29%5D) in the wild, and this is presumably in code that deliberately made a decision to turn it on (so you know they care about it some), because it's allowed by default.

[2021-11-10 04:27] jyn514 commented on #90752
Oh strangely this is *not* related to the `unwrap_unchecked`, it still reproduces with a normal `unwrap`. https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6e6a87916e94f4012b2d93615a7ce1d1

[2021-11-10 04:33] jyn514 commented on #90752
Here's a version without `std::option::Option` (just an in-crate option): https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=025985867f32378dad0785597377a680

[2021-11-10 04:34] BlackHoleFox commented on #85461
I hit this with the `webpki` crate today as well, so any project with `rustls` in its tree (`ureq` for me) may hit it. That said, only two (known) cases isn't a lot of evidence towards rarity or against it...

[2021-11-10 05:02] nbdd0121 commented on #90752
A quick manual bisection on godbolt shows that this regresses in Rust 1.43 (is correct in Rust 1.42).

@rustbot label: regression-from-stable-to-stable

[2021-11-10 06:25] nbdd0121 commented on #90752
Bisection reveals that this issue is introduced in #68528.

I think the issue is that precise_enum_drop_elaboration didn't re-mark all variants as possibly active after the mutable reference to the enum is used. The miscompilation goes away with `-Z precise_enum_drop_elaboration=n`. I filed #90756 to disable precise_enum_drop_elaboration by default, and we can turn this back on once the issue is f

[2021-11-10 06:45] nbdd0121 commented on #73255
I am not sure why this code is accepted:
[code]

When trying to use it in const context it just says "error: any use of this value will cause an error" without any other errors generated.

[2021-11-10 06:50] asquared31415 commented on #90744
a `NonZeroX` type must never have a zero value.  Rust defines the zero value to be an invalid value for these types and producing one is undefined behavior.

As documented in [the reference](https://doc.rust-lang.org/reference/behavior-considered-undefined.html)

[2021-11-10 06:52] asquared31415 commented on #90744
Note that there's already a `checked_pow` that checks that overflow does not happen and produces a `Option<NonZeroX>` and is under the `nonzero_ops` feature.

[2021-11-10 07:07] jmillikin commented on #87228
Soft preference for putting `asm!` in the prelude, with some admittedly fuzzy reasoning:
* The macros exported from `core` already include several that feel "less intrinsic" than inline assembly, for example the `assert!` series.
  * This feeling might be because I think of `asm!` as closer to a built-in language keyword like `extern` or `loop`, but expressed as a macro for syntactic reasons.
* Ne

[2021-11-10 08:26] bnoordhuis commented on #88716
IMO, it is. Scenario: non-root, sudo-like program that:

1. has CAP_SETGID + CAP_SETUID in order to switch users when spawning child processes, and
2. is a member of one or more supplementary groups in order to read or write sensitive files

Not dropping group membership is a catastrophic security breach in that setup.

[2021-11-10 08:43] leonardo-m commented on #90744
Thank you, closed.

[2021-11-10 08:43] #90744 closed

[2021-11-10 09:05] yanchith commented on #90608
Same happens to me after renaming a type manually. `rustc 1.58.0-nightly (ff0e14829 2021-10-31) running on x86_64-pc-windows-msvc`

[code]

Unfortunately I can't release the source that triggers this, but let me know if there's something I can do to help.

[2021-11-10 09:06] joshtriplett commented on #88716
Wouldn't it need to drop that capability though, before the exec?

In any case, this does still need fixing.

[2021-11-10 09:18] xfix commented on #65269
Duplicate of #31745, closing.

[2021-11-10 09:18] #65269 closed

[2021-11-10 10:10] bnoordhuis commented on #88716
Not necessarily, it depends on the capability set (threads have several) the capability is part of. Some persist across execve() calls, some don't.

(I wanted to write up a short explanation of the algorithm but I can't hope to do it justice in a few words, it's complicated.)

I'm pessimistic checking AT_SECURE is sufficient. `man 7 capabilities` claims the following:

It's set only when [permitte

[2021-11-10 10:17] hellow554 commented on #90745
@rustbot claim

[2021-11-10 11:16] jacobbramley commented on #86941
PAuth demonstrates some rather interesting properties that could apply to other features too, so it's worth examining, and perhaps using this as a model for other cases that arise. Notably:

* Individual PAuth features could be used explicitly (e.g. assembly guarded by run-time detection),
* or implicitly (e.g. as compiler-generated CFI),
* or some combination of the two.

A likely example applica

[2021-11-10 11:34] tivrfoa opened #90760 "temporary value is freed at the end of this statement"
Hi,

Can't the compiler generate the piece of code that works below, so the developer
doesn't need to break the lines manually?

[code]

Error:

[code]

[2021-11-10 11:49] sanxiyn commented on #65024
`riscv64gc-unknown-linux-gnu` target is hard-float with `lp64d` ABI. Closing.

[2021-11-10 11:49] #65024 closed

[2021-11-10 11:58] sanxiyn commented on #80586
Now target tier policy RFC is merged, can we proceed here?

[2021-11-10 12:18] haoadoresorange commented on #90725
I'm sorry this seems like a mistake from my part, I mistype 1 character which make it use another variable instead. Again sorry for this !

[2021-11-10 12:18] #90725 closed

[2021-11-10 12:30] tmiasko opened #90762 "Constant operands are dropped in an unusual order"
For example:

[code]

[code]

[2021-11-10 12:33] rust-highfive opened #90763 "`miri` no longer builds after rust-lang/rust#88670"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#88670, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @camelid, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-11-10 12:56] joshtriplett commented on #86941
I agree that we should be consistent in locating this; I don't think it does any harm in the root, since it has a sufficiently specific name that it won't conflict with anything.

[2021-11-10 12:58] joshtriplett commented on #88716
My concern is that the user should not have to retrieve and re-set the supplementary groups just to have them not cleared.

Also, I'd like to avoid adding an unexpected source of additional complexity; I think inheriting will be the common case.

[2021-11-10 13:32] Alexendoo commented on #83837
No longer ICEs since #90734 (likely #89561)

[2021-11-10 13:32] #83837 closed

[2021-11-10 13:32] Alexendoo commented on #82926
No longer ICEs since #90734 (likely #89561)

[2021-11-10 13:32] #82926 closed

[2021-11-10 13:37] aplanas opened #90764 "`x.py test` try to access network when the compiler builds using vendored crates"
We are building the compiler and tools using the vendored crates properly (via `x.py build`) in systems with no network access. But when running the tests (`x.py test`) it tries to access the network.

Setting properly the envs vars that x.py set, this can be reproduced with:

[code]

Seems that the call is be present in `rust-tidy` (in `deps.rs`). IIUC should use the `--offline` parameter, and I

[2021-11-10 13:41] hkratz commented on #89908
@smoothdeveloper You are explicitly creating the array on the stack. The testing framework creates threads for multi-threaded testing and the default stack size for threads created from within Rust is 2 MiB. So this will predictably fail on all architectures.

@rustbot label -O-ARM -O-macos

[2021-11-10 13:48] hkratz commented on #84984
@T-O-R-U-S What cross-compilation toolchain do you use?

[2021-11-10 13:53] jyn514 commented on #74551
https://github.com/rust-lang/rust/issues/90752 might be related.

[2021-11-10 14:07] mjbshaw commented on #59095
Can https://bugs.llvm.org/show_bug.cgi?id=45681 be closed now that https://reviews.llvm.org/D78952 was merged? And are there any other clarifications required before Rust can use `opaque` for extern types?

[2021-11-10 14:23] bstrie commented on #87228
@jmillikin , note that most macros are exposed from the crate root for historical reasons related to technological limitations. It's only recently that macros have gained the ability to be namespaced like any other item. Even in the event that the `asm` macro is added to the prelude, the rationale for defining it anywhere other than the crate root is the same reason for defining other prelude'd it

[2021-11-10 15:01] pkubaj commented on #80586
I'm quite unsure how to solve the ABI issue. FreeBSD targets ELFv2 ABI on big-endian, same as e.g. OpenBSD, Void Linux and Adelie Linux (so we're not alone).
We currently use those patches:
https://cgit.freebsd.org/ports/tree/lang/rust/files/powerpc64-elfv2/patch-compiler_rustc__target_src_abi_call_powerpc64.rs
https://cgit.freebsd.org/ports/tree/lang/rust/files/powerpc64-elfv2/patch-compiler_rust

[2021-11-10 15:03] terrarier2111 commented on #90728
@rustbot claim

[2021-11-10 15:19] ehuss commented on #90764
Hm, that's strange!  Unfortunately I am unable to reproduce.  Can you provide exact instructions starting with downloading the source file?  The following worked for me:

[code]

You may want to check that you are running the command from the correct directory (so that it can see `.cargo/config`).

[2021-11-10 15:53] #90301 closed

[2021-11-10 16:36] mystor opened #90765 "Tracking Issue for `proc_macro_expand`"
Feature gate: `#![feature(proc_macro_expand)]`

This is a tracking issue for the `TokenStream::expand_expr` function for use in proc-macros. This function allows eagerly expanding TokenStreams containing expressions from within a proc-macro, such that they can be modified, giving proc-macros similar functionality to built-in macros like `format_args!`, `concat!` and `include!`.

### Public API

[c

[2021-11-10 16:37] Cyborus04 commented on #87228
Actually, yes, I would like to discourage it. It's one of those things that should only be used if you know what it is and are very sure you should

[2021-11-10 16:42] GuillaumeGomez opened #90766 "Add code comments into `src/librustdoc/html/render/cache.rs`"
The generation of the search index isn't easy to grasp so code comments would definitely improve the situation. It was started in https://github.com/rust-lang/rust/pull/90727 but needs to be continued.

[2021-11-10 16:52] yanok commented on #45397
@fangism Your problem is likely fixed now (well, it will be in the next nightly build, otherwise you have to build rustc yourself), but please confirm.

@glandium Your original report predates the bug in LLVM I fixed, so most likely you will still see a problem. Could you make a reproducible case please?

[2021-11-10 16:58] aplanas commented on #90764
A minimal config that have the issue is this:

[code]

IIUC the differences from the working example are: I am using a provided local rustc and the system LLVM.

[2021-11-10 17:24] leo60228 commented on #27970
It's not very reliable, but here's a reproducer: https://gist.github.com/d3709b9b3a4b5338ef89c98b28ad078e

On my machine (24 cores), you can run `while :; do timeout 0.1 target/release/gai-crash; done` and get a segfault within a few seconds.

[2021-11-10 17:26] ecstatic-morse commented on #90752
Thanks for the detailed bug report. I think I know what the root cause is, but it's not a trivial fix. I'll work on this later today.

[2021-11-10 17:26] leo60228 commented on #90308
For reference, .NET takes option #2.

[2021-11-10 17:36] xd009642 opened #90767 "Support filtering out dependency source code from coverage counters"
Related to https://github.com/rust-lang/rust/issues/84943

This is also true for code not in your crate but a dependency.  Some dependencies may create a large amount of coverage counters, on a closed source project I tried it on syn and serde took up the majority of the counters. Most people testing a crate aren't looking to get coverage of their dependencies as well so it makes sense to not inst

[2021-11-10 17:44] asterycs opened #90768 "Incorrect error code when using a trait object without `dyn`"
Hi all, thank you for the great work on rust!

I believe the compiler might be suggesting an incorrect error code when omitting `dyn` with trait objects. An example is the following snippet ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a0d8ddac00f1103c28563566f8bbe175)):

[code]

The error code [E0783](https://doc.rust-lang.org/error-index.html#E0783) in the

[2021-11-10 17:46] ecstatic-morse commented on #73255
@nbdd0121 Could you open a new issue? The final "post-borrowck cleanup" pass is the [Deaggregator](https://github.com/rust-lang/rust/blob/0701419e96d94e5493c7ebfcecb66511ab0aa778/src/librustc_mir/transform/deaggregator.rs), which replaces the assignment `_1 = S;` with a nop because `S` has no fields. That means S` is never initialized in the MIR before its `Drop` terminator, so it never gets `Need

[2021-11-10 17:53] ecstatic-morse opened #90770 "Post-drop elaboration const-checking fails on ZSTs"
Found by @nbdd0121 [here](https://github.com/rust-lang/rust/issues/73255#issuecomment-964832698), the following code compiles when it shouldn't:

[code]

The final "post-borrowck cleanup" pass is the Deaggregator, which replaces the assignment _1 = S; with a nop because S has no fields. That means `_1` never gets initialized in the MIR before its `Drop` terminator, so the qualification logic doesn

[2021-11-10 17:55] dtolnay commented on #56167
I agree with https://github.com/rust-lang/rust/issues/56167#issuecomment-962447256, don't think there is any rush to delete this. Keeping it in front of people will help people form an opinion of how to serve each of [the two use cases](https://github.com/rust-lang/rust/issues/56167#issuecomment-810457405) better.

@rfcbot concern keep unstable for now

[2021-11-10 17:58] b-naber commented on #90638
I've looked into this:

The problem here is that we try to [equate](https://github.com/rust-lang/rust/blob/68ca579406f2fa9ec62710e4a4d5d3e07a168d3c/compiler/rustc_borrowck/src/type_check/input_output.rs#L164) the normalized `inputs_and_output` (coming from [here](https://github.com/rust-lang/rust/blob/68ca579406f2fa9ec62710e4a4d5d3e07a168d3c/compiler/rustc_borrowck/src/universal_regions.rs#L612-L6

[2021-11-10 18:01] ecstatic-morse commented on #73255
In addition to the bug found by Gary above, we also had #90752 filed yesterday, a bug in drop elaboration proper. Time to test this part out:

I recommend we don't stabilize `#![feature(const_precise_live_drops)]` as-is but instead pursue something like what I mentioned [here](https://github.com/rust-lang/rust/issues/73255#issuecomment-961354314):

[2021-11-10 18:20] ahl commented on #72016
@Amanieu Thank you for all your work on this. Do you happen to know if someone is actively working on `sym` support across `asm!` and `global_asm!`? Thanks!

[2021-11-10 18:36] nikomatsakis commented on #15701
Tagged as S-tracking-needs-summary:

In short, when I read over this issue, I could not tell what subset was implemented and what was not. It may well be that we don't want to bother with the work that remains, but it's hard to say without knowing exactly what it is.

[2021-11-10 18:41] Alexendoo commented on #84020
It no longer appears to happen since the LLVM 13 upgrade #87570

[2021-11-10 18:41] camelid commented on #90763
@rustbot claim

[2021-11-10 18:42] joshtriplett commented on #26179
Nominating for libs-api: shall we approve moving this to `std::hint`?

[2021-11-10 18:43] joshtriplett commented on #26179
We discussed this in today's @rust-lang/lang meeting. We consider this done from a lang perspective, and it's up to T-libs-api to give this a final name (perhaps in `std::hint`) and stabilize this.

[2021-11-10 18:43] ecstatic-morse commented on #90770
`Deaggregator` was moved into post-borrowck cleanup from optimizations in #73656, cc @oli-obk @wesleywiser. I think we need to come up with a more robust system for splitting "MIR for analysis" and "MIR for optimization", the current system places an extremely high burden on contributors and reviewers. A simple reordering of passes can have unforeseen consequences.

[2021-11-10 18:44] jackh726 commented on #90638
Wait I'm a bit confused...does the hack that I added literally right there not work?

[2021-11-10 18:46] Amanieu commented on #26179
I personally feel that a language-level `#[likely]` attribute would be a better fit. It would work on `if`, `if let`, `match` arms, etc.

[2021-11-10 18:46] joshtriplett commented on #28238
ping @RalfJung @oli-obk
Is this currently done? Based on the description, this *sounds* like something that's working now.

[2021-11-10 18:47] Amanieu commented on #72016
It is on my TODO list, but I'm not actively working on it at the moment.

[2021-11-10 18:50] joshtriplett commented on #28498
From today's @rust-lang/lang meeting:
The feature seems to be working, but it may need further refinement in order to expose it as stable.

[2021-11-10 18:52] b-naber commented on #90638
Yes, that fails to normalize it.

[2021-11-10 18:53] joshtriplett commented on #29594
Marking as impl-incomplete since it may still have soundness issues, and may misbehave on platforms without TLS support.

[2021-11-10 18:56] joshtriplett commented on #29597
At this time, what's still using plugin support?

[2021-11-10 18:59] joshtriplett commented on #29598
From today's @rust-lang/lang meeting:
We definitely want something for debugging macro expansion. We're not sure it looks like this. This needs some design consideration.

[2021-11-10 18:59] RalfJung commented on #28238
Yeah I think this is implemented, but I also don't know what @oli-obk had in mind in their last comment here. @oli-obk what would be an example for something that fails (failed?) to get the lint?

[2021-11-10 19:01] joshtriplett commented on #29599
If we were to keep/stabilize this, it would need to work in the fashion people expect it to work (in place of an identifier).

[2021-11-10 19:05] GuillaumeGomez opened #90775 "Add test to ensure that methods and impl blocks are rendered as expected for `reference` primitive."
As discussed in https://github.com/rust-lang/rust/pull/90726.

[2021-11-10 19:06] jackh726 commented on #90638
Ah, I see, it's `a` that is unnormalized. Can we just repeat the hack to normalize `a`? As you stated (and I found previously), this does miss the problem, but it's a difficult problem to solve.

[2021-11-10 19:08] seritools opened #90776 "Hint at using `unsafe_op_in_unsafe_fn` in the `unused_unsafe` warning"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7d4fd2e742e8d92ddc1032a8328f95b2

[code]

The current output is:

[code]

Ideally the output should look like (very roughly):

[code]

The note should only appear when it's an appropriate usage of an `unsafe` block, i.e. the block's contents aren't safe.
This would hint at `unsafe_op_in_unsafe_fn` eve

[2021-11-10 19:16] joshtriplett commented on #88576
I'll review the fix today.

[2021-11-10 19:22] Manishearth commented on #90638
@jackh726 trying to write the upcast displays the related bug that I was trying to reduce in the first place:

[playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e980b556852e3c0095a04c9e959bb224)

[code]

which throws

[code]

As mentioned before, this is along the same vein as #89196 and #85636

[2021-11-10 19:23] joshtriplett commented on #74215
We discussed this in today's @rust-lang/libs meeting, and we feel like the only remaining action here is to document this behavior.

[2021-11-10 19:24] AngelicosPhosphoros commented on #90760
It shouldn't.

[code]
so here is clear owner of value.

And you are suggesting that compiler should somehow decide to extend lifetime of temporary. This makes code longer and less obvious. E.g.

[code]

[2021-11-10 19:24] m-ou-se commented on #74215
(Any proposals for providing more guarantees about this can be proposed and discussed separately.)

[2021-11-10 19:26] AngelicosPhosphoros commented on #90760
Current behaviour is simple and predictable: lifetime is tied to named variable in a scope so if you put it here, it is extended, otherwise it isn't.

[2021-11-10 19:43] camelid opened #90778 "rustdoc: Encapsulate "clean generics before args" ordering requirement in a function"
I discovered in #90750 that several places in rustdoc panic if a function's generics are not cleaned before its arguments. It'd be good to extract a helper function to encapsulate that requirement so it's not spread across several places in the code.

cc @GuillaumeGomez @jyn514

[2021-11-10 19:44] camelid commented on #90778
(Not marking as `E-easy` since I'm not sure how easy this is.)

[2021-11-10 19:45] GuillaumeGomez commented on #90778
And I think you did well. :laughing:

[2021-11-10 19:47] joshtriplett commented on #90263
We discussed this again in today's @rust-lang/libs meeting.

We agreed that, in general, we're not prepared to keep all of the standard library within the limitations required to implement an `LD_AUDIT` library.

However, we'd absolutely be amenable in general to alternatives to `dlsym`. We used to use weak symbols, but that caused problems with tools that use symbol references to set library pack

[2021-11-10 19:47] #90263 closed

[2021-11-10 20:00] b-naber commented on #90638
@jackh726 No 'b' is unnormalized, the problem seems to be that an empty `param_env` is passed to `normalize`. I can open a PR for that. One question though, when we normalize `a` we add region constraints by using `type_op::Normalize`, can we ignore these constraints here?

[2021-11-10 20:09] joshtriplett commented on #26179
@Amanieu I'd personally like to have both, since `likely` and `unlikely` intrinsics work in more contexts (e.g. sub-expressions).

[2021-11-10 20:09] camelid opened #90779 "rustdoc: Refactor `get_all_types` so `args` is fully shared between loop iterations"
1. Refactor `get_real_types` so it handles all types, not just type parameters.
2. Remove the `!args.is_empty()` conditional in `get_all_types`.
3. Extend `all_types` with `args` at the end of the loop.

cc @GuillaumeGomez

[2021-11-10 20:09] camelid commented on #90779
Assigning myself for now since I may look into it.

[2021-11-10 20:09] camelid commented on #90778
Assigning myself for now since I may look into it.

[2021-11-10 20:20] superblaubeere27 opened #90780 ""failed to build archive" with ImDisk ram disk"
### Problem

Cargo fails to compile on ImDisk ram disk

### Steps

1. Install ImDisk on Windows
2. Create a ramdisk and a cargo package on it
3. Try to compile the package

### Possible Solution(s)

_No response_

### Notes

The resulting log of cargo will look like:
[code]

### Version

[code]

[2021-11-10 20:27] jackh726 commented on #90638
Ah I see; I was reading it as the first arg.

So,
[code]

In `equate_input_and_output`, the first `eq` fails, so we try to normalize `b`. Now, specifically, we need to normalize `<std::boxed::Box<dyn IsCovariant<'_>> as Yokeable<'r>>::Output` to `std::boxed::Box<(dyn for<'r> IsCovariant<'r> + 'r)>`. The question is why. We shouldn't need the `param_env` here. The problem *might* be related to the

[2021-11-10 20:34] ehuss commented on #90780
I have transferred this to rust-lang/rust, as this error is being generated by rustc when generating the archive.

[2021-11-10 20:35] steffahn opened #90781 "Hidden traits missing implementors when documented via `--document-hidden-items`"
You can see `--document-private-items --document-hidden-items` docs of the standard library here:

https://stdrs.dev/nightly/x86_64-unknown-linux-gnu/std/iter/trait.InPlaceIterable.html

as you can see, the implementors are missing though (which is incredibly annoying if you ever want to work on those traits). Also reproducible locally by building `RUSTDOCFLAGS='--document-private-items --document

[2021-11-10 20:36] scottmcm commented on #26179
@Amanieu I agree.  One thing that got mentioned in the meeting was that we have `#[cold]` for functions and closures, so allowing that on *blocks* might be an interesting way to phrase it.

(Albeit one can mostly write `#[cold] { ... }` as `(#[cold]||{ ... })()`.)

[2021-11-10 20:40] couchand commented on #72016
I'd like to volunteer to implement the AVR platform.  As suggested upthread, I'll start with the PR implementing Hexagon: #73214.  I can see that PR is a few months old at this point, are there any major changes from then to keep in mind?  Thanks!

[2021-11-10 20:59] ehuss commented on #90764
Oh, I see the issue, I was a bit mistaken before (I had the git repo cached already).

cc @bjorn3

The problem is that the cranelift workspace has several git dependencies. Those are not captured [here](https://github.com/rust-lang/rust/blob/68ca579406f2fa9ec62710e4a4d5d3e07a168d3c/src/bootstrap/bootstrap.py#L1125-L1132).

A simple reproduction is to run the following with vendoring enabled:

[cod

[2021-11-10 21:01] Subsentient commented on #88576
Thank you Josh, it's much appreciated. The GUI target for the most popular OS being broken is a pretty severe thing imho (since so many crates use env_logger automatically), so definitely don't want that staying broken too long.

[2021-11-10 21:04] glandium commented on #45397
My original bug is probably long gone, as rust hasn't been a problem for Firefox reproducibility for a while (although we also now do cross-language LTO, so the real compilation is handled by clang's llvm).

[2021-11-10 21:06] Mark-Simulacrum commented on #90764
Generally it's our intent to remove those git dependencies as we move forward and not really introduce them in the future (I think it was probably an oversight/mistake to do so), so I don't think we need to design full-fledged solutions but having temporary patches would be good. It might be that the src tarball should replace cranelift with a stub (essentially empty) project to avoid this particu

[2021-11-10 21:07] ChrisDenton commented on #90780
ImDisk ram disks cause a lot of problems because they don't implement essential kernel interfaces. Usually it's `canonicalize` that's the problem but the error would be different in that case. Hm... the error message comes from [here](https://github.com/rust-lang/rust/blob/3013b26947e956352f95edfa39251319520cb06c/compiler/rustc_codegen_llvm/src/back/archive.rs#L145) which suggests the error origin

[2021-11-10 21:07] b-naber commented on #90638
@jackh726 You're right about the second projection, but the normalization of `b` actually fails because `<Y as Yokeable<'r>>::Output` cannot be normalized and we need the `param_env` for that.

[2021-11-10 21:19] bjorn3 commented on #90764
I already replaced cranelift git dependencies with crates.io dependencies at https://github.com/bjorn3/rustc_codegen_cranelift (https://github.com/bjorn3/rustc_codegen_cranelift/pull/1201), which will fix part of the problem once I do another subtree sync. Unfortunately I am stuck on my own fork of rust-ar for now as upstream doesn't support writing a symbol table: https://github.com/bjorn3/rustc_

[2021-11-10 21:31] nikomatsakis commented on #71723
I was not able to reproduce the original errors, but this (somewhat minimized) test does reproduce:

[code]

I get the following error now:

[code]

[2021-11-10 21:31] Amanieu commented on #26179
Clang's [`CodeGenFunction::EmitBranchOnBoolExpr`](https://github.com/llvm/llvm-project/blob/58ebc79a64a5ca8dacf504f55d904e030effa164/clang/lib/CodeGen/CodeGenFunction.cpp#L1662) has special handling for `__builtin_expect` (which is what `likely`/`unlikely` use under the hood) which is not present in rustc.

Specifically, it performs the following transformations with boolean expressions:
[code]

I

[2021-11-10 21:33] nikomatsakis commented on #71723
with `-Zverbose`:

[code]

[2021-11-10 21:38] ChrisDenton commented on #90780
On further investigation this does seem to be an LLVM issue. The "function not supported" error seems to be what LLVM maps [`ERROR_INVALID_FUNCTION`](https://github.com/llvm/llvm-project/blob/6c96ceabaf84d149244a15916ce53df95aac3660/llvm/lib/Support/ErrorHandling.cpp#L268) to. Which is indeed what I'd expect from calling `GetFinalPathNameByHandleW` on a driver that doesn't implement the interface.

[2021-11-10 21:46] joshtriplett commented on #88576
@Subsentient Many Rustaceans use Windows, and many build non-CLI apps, but I have the impression many do not combine that with things that get stdout handles.

[2021-11-10 21:58] parasyte commented on #88576
This is the kind of issue that you are likely to hit accidentally as mentioned in https://github.com/rust-lang/rust/issues/88576#issuecomment-953282824. Not because you are building a Windows GUI application that also writes to stdout.

[2021-11-10 22:00] JoelCourtney commented on #86351
This ICE still exists, but the "internal compiler error" and "query stack during panic" sections of the error output have changed on 1.58.0-nightly.

### Meta

`rustc --version --verbose`

[code]

I'm running this on a different machine than the one I initially posted the issue from.

### Error Output

[code]

The output in 1.56.1-stable is still the same as it was when I originally posted the iss

[2021-11-10 22:06] Subsentient commented on #88576
Correct, it seems a sizable percentage of crates initialize env_logger on their own, which means that if you're building a non-trivial application, odds are high that you'll hit this bug. Or maybe you just get lucky? But two of my non-trivial projects with no crates in common are hitting this bug.

[2021-11-10 22:07] JoelCourtney commented on #86351
Additionally, the new ICE now happens when the code is compiled into an executable, but only on nightly. This didn't happen before. On 1.56.1-stable in src/main.rs, the compiler emits a warning that `other_func` is never used, and compiles successfully.

[2021-11-10 22:10] Khouderchah-Alex opened #90785 "Tests do not capture stdout()"
Output capture for tests (https://github.com/rust-lang/rust/commit/d0d0e7820806bbb89a2733bae8f9aaa9c78345d0, https://github.com/rust-lang/rust/commit/11ce918c75b05d065ce3bf98b20d62465b5afc55) causes print_to (and consequently _print & macros) to redirect to OUTPUT_CAPTURE if set. IIUC, this leaves any direct usage of stdout() uncaptured.

This is inconvenient for systems which use stdout() with ge

[2021-11-10 22:24] jyn514 commented on #90781
@steffahn can you reproduce this on anything smaller than the standard library?

[2021-11-10 22:25] steffahn commented on #90781
I haven't tried it on anything other yet. I could test it tomorrow, when I'm back at a computer.

[2021-11-10 22:33] jackh726 commented on #90638
Oh are we only able to normalize "all or nothing"? I'm not worried about that because it also appears in `a`

[2021-11-10 22:57] joshtriplett commented on #26179
@Amanieu Those transformations seem potentially useful. I personally wouldn't consider them *necessary* to make these intrinsics useful, though. Would you consider those transformations to be blockers?

[2021-11-10 23:04] matthiaskrgr opened #90786 "suggest &str.chars() on attempt to &str.iter()"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

maybe add a "did you mean `.chars()`?"  suggestion and underline the `.iter()` or something?

[2021-11-10 23:04] ecstatic-morse commented on #90752
## Root cause

Here's my preferred minimization, using an indirect write instead of `Option::insert` and `Option` instead of the inner enum. I've annotated the code to show how it is affected by the "active enum variant" logic in #68528 and where things go wrong.

[code]

I was a bit surprised that the second `match` statement was necessary to make the bug manifest. Without the partial move of `(_

[2021-11-10 23:13] cuviper commented on #90263
The specific problem there was #23628 because we use `__pthread_get_minstack@GLIBC_PRIVATE`, which does not have a normal sortable version. That symbol could also go away at any time, being private and all, but glibc authors are aware that we're using it and have said that they will work with us before changing it. With a `dlsym`-based weak symbol, we would actually be just fine if they remove it

[2021-11-10 23:18] Fuuzetsu commented on #90301
@yanok Good job, thank you!

[2021-11-10 23:24] nbdd0121 commented on #72016
I think we want a lint that warns if it detects MASM-style integer literals (0fh, 0b, etc) are used in inline assembly, since this conflicts with local labels (0b, 1b, etc) and is only supported by LLVM (not GCC). These are currently parsed as literal only because LLVM currently enables MASM literal parsing unconditionally if Intel flavour is used.

[2021-11-10 23:27] xd009642 commented on #90767
If anyone's interested this is the debug printout of the merged profraw files generated from https://github.com/xd009642/llvm-profparser I implemented this, implemented a subset of `llvm-profdata show` and test against the llvm test files for the util to ensure output is the same so I'm relatively confident of correctness - e.g. func names, hashes and counter values definitely match llvm implement

[2021-11-10 23:55] joshtriplett commented on #74479
@the8472 The future availability of bursting makes me *more* inclined to think we shouldn't limit `available_parallelism` based on CFS bandwidth.

I'm less concerned about the case of many HTTP request/response threads, and more concerned about the case of CPU-bound computation that can finish within one quota period (potentially including bursting).

[2021-11-11 00:14] mjptree commented on #90702
@jyn514 I'm looking for a beginner friendly mentored issue to start. Is it okay to claim this one?

[2021-11-11 00:23] jyn514 commented on #90702
@mjptree feel free to claim this :) but I'm not sure how easy it will be.

[2021-11-11 02:03] #90763 closed

[2021-11-11 02:24] tamaroning commented on #90669
@rustbot claim

[2021-11-11 02:30] estebank commented on #89353
I believe that an earlier pass of normalization should have made the assert successful, so the change _as is_ is likely not going to be accepted, but we clearly have a bug that needs fixing (*glances at the open issue count*... understatement of the century).

CC @rust-lang/compiler

[2021-11-11 05:43] #10971 closed

[2021-11-11 06:58] mjptree commented on #90702
@rustbot claim

[2021-11-11 07:21] hellow554 commented on #90781
I did the full circle and wrote this:

[code]

Output is this:

![grafik](https://user-images.githubusercontent.com/921462/141255316-6e2f77f3-fc9f-4f5d-adc1-052420848363.png)

so hidden items won't get displayed as Implementors.

@rustbot modify labels: -E-needs-mcve

[2021-11-11 08:04] steffahn commented on #90781
@hellow554 it's actually the _trait_ that's hidden in the standard library, not the structs. Though your case not displaying the implementation is problematic, too.

[2021-11-11 08:21] hellow554 commented on #90781
I see :) thanks for pointing it out:

<details>
<summary>Rust code</summary>

[code]
</details>

![grafik](https://user-images.githubusercontent.com/921462/141262856-ddd9494d-efa4-4b74-9300-1a549f08118f.png)

No implementors for a `#[doc(hidden)]` trait

![grafik](https://user-images.githubusercontent.com/921462/141262887-961eb2e2-515b-42c1-8e50-38993fc81490.png)

Only implementors that are not `#

[2021-11-11 08:50] bjorn3 commented on #90738
The panic happens on the second `.unwrap()` at https://github.com/rust-lang/rust/blob/9dbbbb12c0b796f35cbf5a518ac12846c969a214/compiler/rustc_monomorphize/src/collector.rs#L903

According to the docs of `Instance::resolve` this should be impossible:

Is this a public project? If so can you tell which project it is and what commit? Do you roughly know what you last changed before this crash? If it

[2021-11-11 08:58] bjorn3 commented on #90718
Let's say you do

[code]

Should the drop impl of `x` run when assigning it at `x = vec![1]` or should it leak? In case of the former, that would make `std::ptr::addr_of_mut!()` without writing to it UB, if the later, that would be pretty prone to leaking.

[2021-11-11 09:16] cormacrelf commented on #84277
One addition for completeness is that if the [Enum variant types RFC](https://github.com/rust-lang/rfcs/pull/2593) ever comes out of postponement hibernation, it might cover some (not all) of these residual types-with-holes-in-them problems. Thinking about this also surfaced a usability problem that might have gone unnoticed due to the rustc features enabled in libcore so far.

1. It is not specif

[2021-11-11 09:17] tspiteri opened #90793 "doc: dash used instead of minus in mathematical expressions"
The minus sign in mathematical expressions for [`i*::MIN`](https://doc.rust-lang.org/nightly/std/primitive.i32.html#associatedconstant.MIN), [`i*::MAX`](https://doc.rust-lang.org/nightly/std/primitive.i32.html#associatedconstant.MAX) and [`u*::MAX`](https://doc.rust-lang.org/nightly/std/primitive.u32.html#associatedconstant.MAX) is rendered using U+002D (see images below). U+002D looks bad in that

[2021-11-11 09:20] iago-lito commented on #26179
I have a naive question here: besides `likely` and `unlikely` hints, sometimes I have a guarantee that the branch taken will actually be (uniformly) `random`. Would such a hint be useful at all for compilation? Would it be equivalent to every branch being `unlikely`?

[2021-11-11 09:43] elichai opened #90794 "Obvious bounds checks don't get optimized unless I add a if+panic"
I'm writing code to rank a matrix and the compiler doesn't see it can remove bounds checks even though it's obvious.
But if I add a check on the index the compiler can then remove the bounds checks.
The minimal code to reproduce it:
[code]
godbolt: https://godbolt.org/z/xjhMq3TrY

But when adding an if+panic the bounds checks get removed: (even though the assume is obvious)
[code]
https://godbolt.

[2021-11-11 10:26] cormacrelf commented on #84277
Also, if std contained _no_ implementations of `Try` with a `!` in the associated residual, it would become even more difficult to explain why it's called the residue / the residual.

I would suggest naming it `Failure`. We don't need to describe it in terms of abstract splits between outputs and anti-outputs, the Try trait is named Try and the operator is a question mark. If `?` returns from the

[2021-11-11 10:32] aplanas commented on #90764
Thanks a lot for catching the bug so fast and so accurately! I am adding the workaround in the spec to enable tests against the system LLVM, this will help us.

IMHO technically the bug has been solved after @bjorn3 comment. What can be the outcome here before closing it? Wait until it reach the repo? Provide a test that validate before each release that no dependency comes from git?

[2021-11-11 10:38] bjorn3 commented on #90764
It is not fully fixed yet unfortunately. Rust-ar is still used as git dependency.

[2021-11-11 12:10] leonardo-m commented on #90794
Despite Rust is a system language, its handling of loops is still rather broken. Here LLVM removes all bound test:

[code]
Other loop problems (that lead to significant inefficiencies for computational kernels) are when you use ..= instead of .., and when you use a step_by especially when the step value isn't a compile-time constant. So often using a while loop like this is the way to go in reason

[2021-11-11 12:27] michaelwoerister commented on #90739
@simbleau, do you have a code sample for reproducing the bug?

[2021-11-11 12:32] michaelwoerister commented on #90682
This looks suspiciously like an incremental compilation bug. @Crazytieguy, do you happen to know which part of the code you modified before the ICE occurred?

[2021-11-11 12:54] #73750 closed

[2021-11-11 12:58] hsivonen opened #90797 "When try_from argument isn't borrowed but should be, the compiler doesn't suggest borrowing"
# Steps to reproduce

1. Clone https://github.com/hsivonen/icu4x
2. Switch to branch `with-borrow`
3. `cargo build` (this should succeed)
4. Switch to branch `without-borrow` (differs from `with-borrow` by one missing borrow)
5. `cargo build`

The current output is:

[code]

Ideally the output should look like:

Propose adding a borrow to the argument of `try_from`.

[2021-11-11 13:26] Stargateur commented on #42168
It's annoying to require nightly to be able to do:

[code]

[2021-11-11 14:28] joshtriplett commented on #80967
I just ran into this today, and found myself wanting `then_some`; I had an iterator of bools and an iterator of corresponding values, zipped together, and I wanted to do `.filter_map(|(has, thing)| has.then_some(thing))`. I found `.filter_map(|(has, thing)| has.then(|| thing))` confusing to read, because it nests a closure within a closure.

I'd love to revive the question of stabilizing this.

[2021-11-11 14:43] r00ster91 commented on #90793
Now I'm less confused. You are making a good point. I think there are a few options here:
1. Write it as `-2_i64.pow(31)`? Although the different type might be confusing.
2. `-2_i64.pow(31) as i32`? It might be too long.
3. Change it to U+2212? I think using a special character like that makes it harder for others to conform to this style because it's not as easy to type and easy to mistake for th

[2021-11-11 14:46] simbleau commented on #90739
No, likely caused from renaming crates and incremental naming issues… Cargo clean and rebuild fixed the issue, there was no bad code from what I think.

[2021-11-11 14:55] zseri commented on #84277
@cormacrelf as far as I remember, counter-points were e.g.:
https://github.com/rust-lang/rust/issues/42327#issuecomment-318923393
https://github.com/rust-lang/rust/issues/42327#issuecomment-376772143

e.g. in some cases we want to short-circuit on success or short-circuit in both success and error conditions, and the `ControlFlow` terminology matches this more closely than some Failure/Success dis

[2021-11-11 15:35] b-naber commented on #90638
yeah its not important for the eq relation here, but `normalize` returns an error because `Y as Yokeable` isn't provable if we don't supply the correct param_env.

[2021-11-11 15:44] SimonSapin commented on #29597
No change to report for Servo. https://github.com/servo/servo/tree/9693111c9/components/script_plugins is still an old-style plugin. I don’t know of another practical way to write a custom lint that has access to type resolution. Details in https://github.com/rust-lang/rust/issues/62868.

Without this lint, any Rust code in Servo that manipulates values owned by the GC (which is a lot of code) wou

[2021-11-11 16:11] torhovland commented on #40774
I had a look at this, but was unable to come up with a fix.

In `resolve_ident_in_module_unadjusted_ext` there is a:

[code]

One idea would be to do:

[code]

But this doesn't work, because `ident.name` is simply `f64` also for the usage that we want to record.

[2021-11-11 16:27] torhovland commented on #57443
Seems to me this ended up in https://github.com/killercup/cargo-edit/issues/297. Shouldn't this issue be closed?

[2021-11-11 16:42] torhovland commented on #21204
Given the insight from @iluuu1994, I don't think this issue should be tagged as easy.

[2021-11-11 16:50] torhovland commented on #70853
Looks like this issue can be closed?

[2021-11-11 18:05] espadolini opened #90804 "thread 'rustc' panicked at 'index out of bounds: the len is 1 but the index is 1', when evaluating T: Unsize<T>"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-11-11 18:12] espadolini commented on #90804
For what it's worth, it also ICEs on stable, after the stability check:

[code]

[2021-11-11 18:18] cgwalters commented on #90308
Hi, there's a bunch of discussion on this issue, but I think https://internals.rust-lang.org/t/synchronized-ffi-access-to-posix-environment-variable-functions/15475 has the most information right now.

[2021-11-11 18:20] espadolini commented on #90804
The minimal code example uses `T: Unsize<T>` but the bug was initially triggered by using two different generic parameters, `T: ?Sized, S: Unsize<T>`, and calling the function with the same (sized) type for both parameters.

[2021-11-11 18:22] the8472 commented on #88848
Have you tried adjusting your `Cargo.toml` to run benchmarks with 1 codegen unit and perhaps LTO? Sometimes it helps.

[2021-11-11 18:25] the8472 commented on #26179
LLVM already has [unpreditable](https://llvm.org/docs/LangRef.html#unpredictable-metadata) for that. This came up in https://github.com/rust-lang/rust/issues/53823

[2021-11-11 18:31] JakobDegen commented on #90804
@rustbot claim

[2021-11-11 18:38] scottmcm opened #90805 ""invalid subrange count" LLVM error for large array of ZST"
I tried this code: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=dc8566273663f5b7628c581a30dc3cfd>

[code]

But in debug mode only it fails with the following:

[code]

(Repro'd on playground with nightly 2021-11-09)

[2021-11-11 19:09] the8472 commented on #74479
That concern seems quite theoretical to me. It falls apart in several related ways.

(1) On a system where CPU quotas are enforced to a degree where a service gets a much smaller slice than the available hardware threads that usually is because there are other services doing their own work, which means your service may not even benefit from spreading its work over many threads because it may end u

[2021-11-11 19:13] m-cat opened #90806 "Stuck building large project"
# Issue

## Description

Whenever I try to build [`substrate-node-template`](https://github.com/substrate-developer-hub/substrate-node-template) (branch `latest`), it gets stuck building `node-template-runtime`. My CPU goes back down as if the build was over but `cargo build` doesn't exit. I'm on a Mac.

## Steps to Reproduce

1. Check out `latest` branch
2. Run `cargo check` or `cargo build` (nei

[2021-11-11 19:23] sajattack commented on #88995
Also failing on rv64gc/rocketchip
[code]

[2021-11-11 19:40] yanok commented on #45397
So, should we close this bug then?

[2021-11-11 19:41] optozorax commented on #68371
There was some suggestions about `scan` replacement on internals: [`scan` is too complicated, suggestion for new iterator methods](https://internals.rust-lang.org/t/scan-is-too-complicated-suggestion-for-new-iterator-methods/13456) (There also was useful conversations and ideas). Here is the text from this topic:

---

AFAIK `scan` iterator method is the only iterator method that provides a mechan

[2021-11-11 19:43] narpfel opened #90807 "`unused_parens` false positive for parenthesised `Range` in `for` loop"
Given the following code: [playground stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=70bddfd331c49d1a8868a751584994ea) / [nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c7fd6a85bcc24c5ceee440e0b7afdeb9)
[code]

The current output is:

[code]

No warnings should be generated as removing the parentheses around the `Range` expression

[2021-11-11 20:10] dbdeviant commented on #87479
This ended up breaking the code that I mentioned above, and I don't (readily) see any way to disable the error.  Is there a way to get this to compile again?

For instance:

error: Missing required bounds on SerializeUnit
  --> diny_core/src/backend/format.rs:54:5
   |
54 |     type SerializeUnit<'w, W>: Future<Output=Result<(), Self::Error>> + Unpin where W: 'w + io::AsyncWrite + Unpin;
   |

[2021-11-11 20:14] vandenheuvel opened #90808 "Not compiling after adding the GAT `Self: 'a` bounds"
After https://github.com/rust-lang/rust/pull/89970 was merged, project [relp](https://github.com/vandenheuvel/relp) no longer compiled as expected: I needed to add a few [`Self: 'a` bounds](https://github.com/rust-lang/rust/issues/87479).

After [I did just that](https://github.com/vandenheuvel/relp/commit/aa471b3272cb53f8f497217585f89599cc9343c3), I was left with the following error:
[code]
After

[2021-11-11 20:16] tspiteri commented on #90793
Options 1 and 2 are not really something I'd ever go for. When I wrote `-2i32.pow(31)` my point was to emphasize that the expression wasn't code; those code expressions would not make the `MIN` and `MAX` documentation any easier to read and understand, rather the opposite.

[2021-11-11 20:26] jackh726 commented on #87479
If the required bounds actually break code (in terms of usage, not just in terms of requiring new bounds), then please file an issue since that's a case we should track.

The "workaround" here is to move the associated type into a super trait without any functions.

[2021-11-11 20:34] jackh726 commented on #90808
@rustbot ping cleanup

It would be really nice to get a minimal test for this. The intent for this lint was that *in theory*, existing code shouldn't break. So, either we need to update the outlives lint code to not error here or decide that this pattern isn't *correct* and we should figure out the correct fix and make sure it's documented.

[2021-11-11 20:36] jackh726 commented on #90808
For clarification, the most ideal MCVE would be of the code at [this commit](https://github.com/vandenheuvel/relp/commit/aa471b3272cb53f8f497217585f89599cc9343c3#diff-9fb027b29080a62cd7c2f21bc07030125770806b60054cee0b02c34b62bb3b04).

[2021-11-11 20:53] gz commented on #89195
I think I ran into this issue too, I reduced it to this (probably can be reduced further...):

[code]

(rustc does not return for me on stable&nightly)

[2021-11-11 21:15] pnkfelix commented on #87613
This is not a bug in Tokio.

This is an artifact of how we generate the suggestion here.

Consider this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=bea9f7ed0c1dc8788cdb11a5aa9c56e3)):

[code]

it generates the following suggestion:

[code]

That is, it seems like our system for generating the `use` suggestion is trying to construct a source line by lo

[2021-11-11 21:17] the8472 commented on #90794
Using `range.for_each` instead `for _ in range` also optimizes better, especially for inclusive ranges.

For inclusive ranges that's because the external iteration version has to keep track of the exhaustion state while the exclusive range can use the end element to indicate exhaustion.

For exclusive ranges it is strange that `for_each` works better here because there's no dedicated `fold` impl f

[2021-11-11 21:20] the8472 commented on #90780
To ask the obvious: since people keep stumbling over this every now and then, has anyone reported the issue to ImDisk?

[2021-11-11 21:23] ijackson opened #90809 "Want way to get BorrowedFd<'static> for 0 1 2"
Logically, stdin stdout and stderr are global static file descriptors.  Everyone in the program is entitled to assume they exist (this is logically implied, for example, by the contract of `io::stdin()`).  No-one can own (and therefore drop) them.

IOW there should be a safe way to do
[code]

Relates to #87074 (IO safety tracking issue) and I am tripping over it in my #88561 (Command redirection)

[2021-11-11 21:42] ChrisDenton commented on #90780
It seems like a fundamental issue that they're aware of https://www.ltr-data.se/opencode.html/#ImDisk

Other than the aforementioned Arsenal Image Mounter there's also free (as in price) software such as Radeon Ramdisk. However, ImDisk has the name recognition so I suspect we'll continue seeing these issues crop up.

[2021-11-11 22:00] lqd commented on #89195
The above example seems indeed related to recursive types, as the following is enough to trigger the problem:

[code]

[2021-11-11 22:17] glandium commented on #90301
I wonder if rust needs https://reviews.llvm.org/D108968 too.

[2021-11-11 22:18] #45397 closed

[2021-11-11 22:29] camelid commented on #89195
With `&'a ...` replaced with `Box`, the compiler doesn't hang and instead reports the error that it couldn't satisfy `T: Dispatch`:

[code]

Adding that constraint still leads to an error:

[code]

Adding the suggested `where` bound leads to yet another error (you get the idea):

[code]

I guess the issue is with polymorphic type recursion? It's interesting that using `Box` prevents the hang, like

[2021-11-11 22:42] jyn514 opened #90810 "Rustc suggests an import that won't work if a crate and a module have the same name"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=53b3ea413465b7a61e0b2780a07a6a20

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I couldn't quite replicate it in playground, but locally (in https://github.com/cloudflare/wrangler/commit/886fa42e6588908aa6ab6204944b927b9f4b2028), `use http::request::Parts` does

[2021-11-11 22:48] lilyball opened #90811 "rustdoc: Incorrect parsing of links followed by parens"
rustdoc seems to be parsing links incorrectly when they're followed by parens. The general theme is that part of rustdoc is right-biased in parsing links, e.g. `[Foo][](bar)` is parsed like `[Foo]` and `[](bar)`, but part of rustdoc parses it correctly. The observed behavior here is rather confusing, and it gets worse once you nest another link in the parens.

### Examples

#### Basic link

[code]

[2021-11-11 22:57] lilyball commented on #90811
Providing a link reference definition also makes the final example work:

[code]

<details><summary><strong>Output:</strong> <a href="https://doc.rust-lang.org/1.56.1/core/option/enum.Option.html#variant.Some" title="Some">Some</a>(<a href="enum@Ok">Ok</a>(value))</summary>

[code]
</details>

[2021-11-11 22:58] lilyball commented on #90811
`[Some][]([Some][](value))` also works, presumably for the same reason that providing the link reference definition works.

[2021-11-11 23:01] the8472 commented on #90809
[code]

[code]

[2021-11-11 23:04] workingjubilee opened #90812 "Nondeterministic(?) SIGSEGV&co. in CI"
See #89167, getting lovely stuff like core dumps here:

<details>
<summary>x86_64 -> ppc64le dist fail, first couple of tries</summary>

[code]

</details>

<details>
<summary>x86_64 -> ppc64le dist fail, last try</summary>

[code]

</details>

And in #90792:

<details>
<summary>x86_64 -> s390x dist fail, first few times</summary>

[code]

</details>

<details>
<summary>x86_64 -> s390x dist fail,

[2021-11-11 23:05] Kixunil commented on #83428
I observe this on public items as well:

[code]

Does **not** show the badge at re-exports.

[2021-11-11 23:15] lilyball commented on #90811
Putting something that's not validly parsed as a link destination in the parens also works. `[Some][]([Ok][] foo)` parses corectly, and `[Some][]([Ok][](value) foo)` has the same behavior as `[Some][](value)`.

My best guess here is we have two passes over the text. The first collects all link destinations, and is buggy in that it tries to parse `[Some][](…)` as both `[Some][]` and `[](…)` (if `…`

[2021-11-12 00:06] marysaka opened #90815 "rustc SIGSEGV on asm macro when no more registers are availaible"
Found while tinkering with the asm macro for embedded purposes.

It should be noted that it doesn't occurs when building in release.

### Code

See [asm_rustc_crash_debug_no_regs](https://github.com/Thog/asm_rustc_crash_debug_no_regs) for a minimal reproducer project.

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output
`RUST_BACKTRACE=1 cargo build --target armv7a-none-eabi`:
[

[2021-11-12 00:12] Thog commented on #72016
Found an ICE with the asm macro https://github.com/rust-lang/rust/issues/90815

[2021-11-12 00:14] nbdd0121 commented on #90815
This error is generated by LLVM and is not a Rust ICE.

@rustbot label: -I-ICE +I-crash +A-LLVM

[2021-11-12 00:20] vandenheuvel commented on #90808
The following issue might be related:
[code]

[2021-11-12 00:22] ijackson commented on #90809
Wow.  Thank you.  That is inspired.  But also a bit bonkers :-).  I'm not sure this is the most ergonomic API for this operation...

[2021-11-12 00:23] vandenheuvel opened #90816 "Wrong `where Self: 'a` GAT bound suggested"
Relates to https://github.com/rust-lang/rust/pull/89970 and potentially to https://github.com/rust-lang/rust/issues/90808.

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9efb1f03ee91e9eba12ccd1a1e09cb67)

[2021-11-12 00:31] ijackson commented on #90809
(Just looked at the definition of io::Stdout and it's not a ZST.)

[2021-11-12 01:05] #84738 closed

[2021-11-12 01:54] patrick-gu opened #90817 "Cycle detected when computing whether impls specialize one another, across crate boundaries"
I tried this code (note: the crate name is `bug`, and this only occurs when the files are separate):

In `src/lib.rs`:
[code]

In `src/main.rs`:
[code]

I expected to see this happen: Code compiles successfully, as it would if everything was in `main.rs`.

Instead, this happened: the compiler emits an error:

[code]

### Meta

`rustc --version --verbose`:
[code]
This also appears to be present on

[2021-11-12 03:50] glandium commented on #90301
Answering my own question: it does.

[2021-11-12 04:01] jsha opened #90820 "Non-exhaustive pattern diagnostic include #[stable(...)] annotation"
[Given the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=93b5bd1ac68c88a2f922c3c0dd38bdef)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The `#[stable(...)]` tag is a directive for documentation, but should not be included in this diagnostic.

This bug exists for me locally in stable and nightly, installed via rustu

[2021-11-12 04:52] jhpratt commented on #42168
I wouldn't mind seeing a move towards stabilization here. It's up to T-libs-api. cc @m-ou-se as team leader: thoughts?

[2021-11-12 05:14] Nicholas-Baron commented on #70974
So I have been able to trace down this issue to `bb_items` having two items. https://github.com/rust-lang/rust/blob/14a2fd640e0df9ee8cc1e04280b0c3aff93c42da/compiler/rustc_expand/src/mbe/macro_parser.rs#L706

The only other place `bb_items` is modified (I think) is in `inner_parser_loop`: https://github.com/rust-lang/rust/blob/14a2fd640e0df9ee8cc1e04280b0c3aff93c42da/compiler/rustc_expand/src/mbe/

[2021-11-12 05:18] scottmcm commented on #42168
@Stargateur One trick that can sometimes help is to use `impl<Idx> Foo for Range<Idx> where Self: Iterator`.

A thought here: if people aren't sure that the trait have exactly the right set of methods (I'm not confident we won't want more, but other may feel otherwise) then maybe this could take the `SliceIndex` approach of "the trait is stable so you can name it, but none of the methods are so yo

[2021-11-12 05:22] Nicholas-Baron commented on #70974
Effectively, `$($b:literal .. $c:literal),* $($d:literal),*` is ambiguous to the current parser, as it seems the `b'a'..b'z'` range is treated as both.
What would be a way to state this in an error message?

[2021-11-12 06:56] dlight commented on #29597
I'm not sure if this counts, but there's this crate https://github.com/draivin/rust-hotswap that although wasn't updated in a while (and I'm not sure if it even builds anymore), it's pretty cool.

[2021-11-12 07:26] #90658 closed

[2021-11-12 07:35] scottmcm commented on #81106
With `NonZeroU##::leading_zeros` [stabilized](https://github.com/rust-lang/rust/issues/79143#issuecomment-811416368), I would like to propose [`NonZeroU##::is_power_of_two`](https://doc.rust-lang.org/nightly/std/num/struct.NonZeroU32.html#method.is_power_of_two) for stabilization as well.

(I think this in the tracking issue is the right thing to do now, rather than filing a PR?)

[2021-11-12 07:51] scottmcm commented on #90541
A thought: What should `i8::MIN.carrying_add(-1, false)` do?

It feels to me like the carry_out from that should perhaps be `-1`, since the carry from that is different from the one in `i8::MAX.carrying_add(1, false)`, which would imply that it couldn't be `bool` anymore.

We do have a type that's -1, 0, or 1: `Ordering`.  I can't decide if that's clever or horrible.

Or should we just delete the

[2021-11-12 08:01] danielkeller commented on #29603
I have a couple of ideas that might help stabilize weak linkage.

First of all, the syntax. The problem with weak linkage is that its semantics are "the address of this variable might be null" which is not allowed in Rust, so the compiler puts the real symbol inside the first level of indirection, which is confusing. I propose, instead of an attribute, a type `std::ffi::Weak<T>`, which only allowe

[2021-11-12 08:23] rami3l commented on #68371
@optozorax IMHO using integers in your example is also a bit specialized. The abstraction provided by `scan` should be general enough to play well with the overall ownership model.

What's annoying to me is that since scanning produces a list of (owned) partial sums, where do those ownerships come from? (In `fold` however, you are okay since you're merging multiple ownerships into one).

[2021-11-12 08:32] hkratz commented on #90806
Couldn't reproduce on a Macbook Air M1 running Monterey.

@rustbot label +I-compiler +I-hang +O-macos

[2021-11-12 08:34] arthurlafrance commented on #79711
Not sure if this change is still active, but I've stumbled upon a use case where a broader version of this for iterators in general, rather than strictly for arrays, would be useful. Is that something worth considering?

I'm totally new to both Rust contributions & open source in general, so I'm not sure if the idea of a general `try_map` is worth considering/pursuing, but I just thought I'd throw

[2021-11-12 09:32] hoaile175 commented on #34616
in Cargo.toml:
add line:
[dependencies]
rand="0.8.4"

Rebuild project!

[2021-11-12 10:16] nagisa commented on #72016
Thank you for the report. From what I can tell this likely won't be a blocking concern for the stabilization of `asm!`.

---

My understanding is that these MASM-style literals are pretty much a part of the intel assembly syntax (at least as seen in many of the snippets across various Intel documentation) and that we probably would want to look into implementing support for these literals in GCC t

[2021-11-12 10:37] mbrowne commented on #34616
I had that line already. I also tried multiple older versions and still got the same error. I wonder if it's because I'm running macOS Mojave (10.14) and can't upgrade yet for unrelated reasons. Anyway, I seem to be able to compile other rust code, so I guess it's not a blocker for me personally.

[2021-11-12 11:02] jarys commented on #66741
Hello guys,

I am a Trezor hardware wallet firmware developer and I would be glad, if you stabilized `no_std` + `alloc`.

We rewrite our code base into Rust and using `alloc` simplifies things. Currently, I use nightly, but we would prefer to switch back to the stable Rust in production version.

:pray:

[2021-11-12 11:27] orlp opened #90824 "rustdoc: Tuple Fields of Variant section is superfluous and noisy if all fields are undocumented"
I understand that if (at least one of) a tuple variant's fields is documented, we need a place to put that documentation. But if not this just adds superfluous noise. Especially if you have a lot of tuple enum variants with undocumented fields it becomes very noisy very quickly. As a real world example from one of my codebases:

[code]

How it currently looks:

![image](https://user-images.githubu

[2021-11-12 11:35] nivkner opened #90825 "spawning `std::process::Command` on arm and riscv for a non-existant binary fails to fail"
**I tried this code**:

[code]

**I expected to see this happen**:
the program finishes without any errors.

**Instead, this happened**:
a panic is triggered with the message `thread 'main' panicked at 'internal error: entered unreachable code: Output { status: ExitStatus(unix_wait_status(32512)), stdout: "", stderr: "" }', src/main.rs:6:23`

### Meta

`rustc --version --verbose`:
[code]

operatin

[2021-11-12 13:04] WaffleLapkin opened #90828 "When `FnMut` or `Fn` closure is moved and then used, the compiler should suggest borrowing it instead"
Given the following code: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=65de1ac519a0c01e30a884c85fcffe0b))

[code]

The current output is:

[code]

While suggestions make the code compile, they restrict the arguments. This can be avoided by borrowing functions instead.

Ideally, the output should look like this:

[code]

For the record, here is an example fo

[2021-11-12 13:14] hkratz commented on #90825
This is not reproducible on real arm hardware (Oracle Ampere VM directly running an armv7 binary).

[2021-11-12 13:14] vandenheuvel commented on #90808
I am almost certain that this bug has to do with [this line](https://github.com/vandenheuvel/relp/commit/aa471b3272cb53f8f497217585f89599cc9343c3#diff-7b9052b981252b832c4734ad787258a32ce077eba9600f4488cbcdd43f64735fR229):
[code]

On [this branch](https://github.com/vandenheuvel/relp/commits/reproduce_gat_issue), I applied the commits of [this branch]() (where the original issue occured) in a diffe

[2021-11-12 13:20] vandenheuvel commented on #90816
When switching to `type AT<'b> = T::AT<'a>`, the correct error is given, but the hint is not provided.

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1c3d7215a008231a316f1327ebf255a8)

[2021-11-12 13:48] GuillaumeGomez opened #90829 "Tracking issue for Vec::retain_mut and VecDeque::retain_mut"
Feature gate: `#![feature(vec_retain_mut)]`

This is a tracking issue for adding the `retain_mut` method on `Vec`.

It'll provide a `retain_mut` method on the `Vec` and on the `VecDeque` types. It is the equivalent of the `Vec::retain` and `VecDeque` methods except that it'll expect a closure with a mutable argument instead of a const one. It'll allow to modify the elements of an array while filte

[2021-11-12 14:04] sunfishcode commented on #88576
#88798 has now landed, the latest Rust nightly (936238a92) now includes it, and using that, I can compile and run [the testcase](https://github.com/rust-lang/rust/issues/88576#issue-985818273) successfully.

[2021-11-12 14:23] ehuss commented on #90806
I can't reproduce, either.

`node-template-runtime(build)` indicates it is waiting for the build script to finish.  Some things to check:

* Run cargo with `-vv` to see the output of the build script.
* Check which processes are running (build script, cargo, rustc, etc.)
* If the build script is still running, you'll need to debug it.  Either do some old-fashion println debugging, or attach with a

[2021-11-12 14:27] LifeIsStrange opened #90831 "Consider using a faster memset than glibc"
https://github.com/nadavrot/memset_benchmark

[2021-11-12 14:32] Bobbbay commented on #90319
I got this ICE today, too. Let me know if there's anything I can to help :).

[code]