[2022-11-09 16:01] apiraino commented on #93481
Bumping up priority so this issue will get more eyeballs during T-compiler meeting

@rustbot -p-medium +p-high

[2022-11-09 16:11] sffc commented on #73958
The other issue, as raised in https://github.com/rust-lang/rust/issues/104130, is that we don't want to decide on which symbols to actually link in the cdylib until link time. The alternative is to remove unused APIs via `cfg`s or similar, but this doesn't scale when there are 500 exported symbols (like in ICU4X). A better workflow is to pass the list of desired symbols to export directly to the l

[2022-11-09 16:12] #101899 closed

[2022-11-09 16:13] #100545 closed

[2022-11-09 16:19] twiclo commented on #104127
Well shoot. A clean did fix it. I guess this is no longer reproducible for me

[2022-11-09 16:35] mweber15 commented on #98678
@wesleywiser Thanks! I will put together a PR to see if this still seems like the right approach in the context of the broader changes. I think there are about 18 call sites for `stub`, so it's probably worth looking at them in some detail to see if other debug info is lacking potentially useful file information.

@rustbot claim

[2022-11-09 16:38] sffc commented on #73958
I can't speak for `ld`, but for `wasm-ld` I've found as in #104140 that even if I filter [the list of exported symbols passed to the linker](https://github.com/rust-lang/rust/blob/0aaad9e757207657064d70bf9e6c1e6eb327bf15/compiler/rustc_codegen_ssa/src/back/linker.rs#L1311), all explicitly `no_mangle` symbols are still found and re-exported by the linker. The mechanics for this are explained in the

[2022-11-09 16:42] Manishearth commented on #73958
@bjorn3 This does not work fine, see #104130, where it's necessary to be able to configure that.

I feel like this issue has had sufficient people with different real-world use cases justifying the need for this, can we move past questioning the need? A lot of these use cases come from complex projects with complex properties, and one thing I've noticed from my years of working on large codebases

[2022-11-09 16:44] pratushrai0309 commented on #104198
@jyn514 Can I work on this issue?

[2022-11-09 16:54] fmease commented on #104197
**An important note** to anyone wanting to **contribute** & improve this diagnostic: The rules around *default trait object lifetimes* are way more intricate (see the [Rust Reference](https://doc.rust-lang.org/reference/lifetime-elision.html#default-trait-object-lifetimes)) than just `` `dyn View` without an explicit lifetime implies `'static`, not `'_` `` (as found in the PR description). The def

[2022-11-09 16:57] bjorn3 commented on #73958
That is a wasm specific bug where we fail to hide symbols that are not in the rustc generated list of symbols to be exported. On Windows, macOS and any ELF based system the rustc can pass a specific list and the linker respects this without linking anything else AFAIK.

That is a different use case from the firefox one. In #104130 rustc is invoking the linker and proving an option when compiling t

[2022-11-09 16:57] jyn514 commented on #104198
Sure :)

[2022-11-09 16:59] Manishearth commented on #73958
Yes, I understand, I'm highlighting that there are _different use cases_ for the same feature from varied backgrounds.

[2022-11-09 17:12] lukas-code opened #104203 "Tracking Issue for `const_pointer_is_aligned`"
Feature gate: `#![feature(const_pointer_is_aligned)]`

This is a tracking issue for using `ptr.is_aligned()` and `ptr.is_aligned_to(alignment)` in `const` contexts.

### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/102795
- [x] `NonNull` methods stabilized, `const`ness moved to this gate https://github.com/rust-lang/rust/pull/124498
- [ ] Al

[2022-11-09 17:13] oli-obk commented on #47606
I wrote a new [ui test framework](https://github.com/oli-obk/ui_test) that miri uses and I'm working on getting ready for clippy to use. It uses itself to test its own output.

[2022-11-09 17:13] Manishearth commented on #73958
Thanks! Do you have ideas as to what is the best path forward here? @sffc can correct me if I'm wrong on this, but we can either have:

 - The feature proposed here as a codegen flag (`-C no-mangle-is-priv`) plus the feature proposed in #104130 as a pair of filtering codegen flags (`-C export-allowlist` and `-C export-denylist`)
 - The feature proposed in #104130, but it's stronger and affects pri

[2022-11-09 17:19] jyn514 commented on #104198
@pratushrai0309 no, sorry, I don't have more time available to work on this issue. If you have specific questions about the things I wrote in the issue description I can answer those.

[2022-11-09 17:20] bjorn3 commented on #73958
I think wasm-ld should get a flag that makes it default to hiding all symbols and rustc should use this unconditionally even if none of the flags about controlling `#[no_mangle]` exports are used. This makes rustc in control of the list of symbols to be exported by cdylib's just like it is on every other platform.

In addition we should get a way to allow the user to control the list of symbols ex

[2022-11-09 17:21] Manishearth commented on #73958
I guess the wasm-ld stuff occurs upstream, right?

[2022-11-09 17:22] bjorn3 commented on #73958
Indeed. It is part of LLVM.

[2022-11-09 17:23] estebank opened #104204 "Detect method chains that call methods that aren't meant to be chained"
In long method chains we might inadvertently call a method that is not meant to be chained. When this happens, the most likely error to occur is a type error involving `()`. We should instead look if the rhs expression is a method chain and look at all the chained call's type to find where `()` is introduced.

Given

[code]

[we emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=

[2022-11-09 17:45] jyn514 commented on #47606
Sounds like there is duplicate work between that and https://github.com/rust-lang/rust/pull/103266

[2022-11-09 18:20] apiraino commented on #104127
thanks for the reply - so yes, as I suspected it's an incremental compiler issue. I went through our issue tracker and found others showing similar symptoms ([here's a list](https://github.com/rust-lang/rust/issues?q=is%3Aissue+Failed+to+extract+DefId%3A+local_def_id_to_hir_id++rustc_monomorphize)).

I'm going to close this as duplicate, for example of #102887.

@rustbot -I-prioritize

[2022-11-09 18:20] #104127 closed

[2022-11-09 18:56] jruderman opened #104209 "ICE "only ConstKind::Param should be encountered here""
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary><strong>Full output including backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

Regression in nightly-2022-09-18 from #98588 (@b-naber, @lcnr)

<details><summary>Bisect info</summary>

searched nightlies: from nightly-2022-09-04 to nigh

[2022-11-09 19:16] camsteffen commented on #103963
If the user intended to do that, I guess the more idiomatic form would be `let _ =` or `let some_name =` and `drop(some_name);`. If the type doesn't implement `Drop`, I'm not sure it's worth linting.

[2022-11-09 19:18] crazyboycjr commented on #104159
Is it possible to define weak symbols for those functions related to panic and unwind handling?

[2022-11-09 19:23] Jules-Bertholet commented on #97156
Random thought:

For the specific case of `for<'a> fn(&'a (), &'a ())` and `for<'a, 'b> fn(&'a (), &'b ())`, could both of these be normalized to `fn(&'empty (), &'empty ())` as described [here](https://github.com/rust-lang/rust/issues/56105#issuecomment-465634661)?

[2022-11-09 19:25] H4x5 commented on #91285
Yeah. I was thinking about this more, and it did seem overly restrictive, but I couldn't think of a use case for `Try::Output: Trait`.

For now, sticking with the non-GAT design seems like the best option.

[2022-11-09 19:51] apiraino commented on #103814
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103814.20const.20eval.20interpreter.20step.20limit.20being.20hit.20on.20nigh.E2.80.A6)) (also to stimulate a wider T-compiler discussion about it)

@rustbot label -I-prioritize +P-high

[2022-11-09 20:08] #70887 closed

[2022-11-09 20:11] CastilloDel opened #104212 "Remove allow(rustc::potential_query_instability) in rustc_trait_selection"
Related to https://github.com/rust-lang/rust/issues/84447, https://github.com/rust-lang/rust/pull/103723 and https://github.com/bluss/indexmap/issues/242

`rustc_trait_selection` still has some potential query instabilities, however, trying to remove them caused regressions. This issue tracks this problem after https://github.com/rust-lang/rust/pull/103723 was merged. The idea is to wait until the

[2022-11-09 20:12] the8472 commented on #70530
For the same reasons this is problematic in Vec and LinkedLists this is also problematic on the BTree collections.

https://github.com/rust-lang/rust/issues/43244#issuecomment-641638196
https://github.com/rust-lang/rfcs/pull/3288

[2022-11-09 20:13] lcnr commented on #97156
Afaik we're currently moving towards removing `ReEmpty` so that won't work :laughing:

also, `for<'a> fn(&'a ())` needs to have a different `TypeId` as `fn(&'static ())` (as these are different types which are both `'static`) and as we erase regions during codegen, changing `for<'a> fn(&'a ())` to `fn(&'erased ())` would make it indistinguishable from `fn(&'static ())`.

[2022-11-09 20:17] jruderman opened #104213 "ICE with `add` lang-item with generic param"
Fuzzing found this by modifying [src/test/ui/associated-types/associated-types-ICE-when-projecting-out-of-err.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui/associated-types/associated-types-ICE-when-projecting-out-of-err.rs).

The key modification is adding a generic parameter to the `add` method of the `add` lang-item.

NB: It still ICEs even without `no_core`, after noting "dupli

[2022-11-09 20:19] pnkfelix commented on #103763
@Amanieu [wrote](https://github.com/rust-lang/rust/issues/103763#issuecomment-1307528752):

This was [discussed in T-lang triage meeting yesterday](https://hackmd.io/YTNwrWjjT_a6krEbhQFRNA#%E2%80%9CArcptr_eq-does-not-always-return-%E2%80%9Ctrue-if-the-two-Arcs-point-to-the-same-allocation%E2%80%9D-as-documented%E2%80%9D-rust103763).

I do not agree that this is better solved by making `dyn` trait

[2022-11-09 20:20] pnkfelix commented on #103763
@rustbot label: -I-lang-nominated

[2022-11-09 20:20] apiraino commented on #103141
can this be closed? was #103205 backported to stable, right?

cc @spastorino @RalfJung (unsure who to ping)

[2022-11-09 20:30] RalfJung commented on #103141
I have no involvement with this whatsoever.^^
@Mark-Simulacrum is usually doing backports.

[2022-11-09 20:33] Nilstrieb commented on #104213
@rustbot claim

[2022-11-09 20:40] kennykerr commented on #58713
Just for completeness, here what I can do for the `windows` and `window-sys` crates just as soon as both `raw_dylib` and `native_link_modifiers_verbatim` are stable on all architectures:

[code]

[2022-11-09 20:46] tbu- commented on #58713
That looks pretty cool. :)

[2022-11-09 21:08] dpaoliello commented on #58713
@tbu- I think we're ready to stabilize for x86: can you take care of the stabilization PR? Otherwise, I'll see if I can get to it some time next week.

[2022-11-09 21:10] dpaoliello commented on #99425
Is there anything currently blocking the stabilization of this feature?

[2022-11-09 21:23] tbu- commented on #58713
I'll take a look at it. :)

[2022-11-09 21:33] tmiasko commented on #104189
This was fixed in #103950. You can avoid the problem by omitting the `-Clink-dead-code` flag.

[2022-11-09 21:33] #104189 closed

[2022-11-09 21:42] Jules-Bertholet commented on #97156
What's the reasoning behind this change? Any discussion I can read up on?

For context, from what I understand, `'empty` is needed for an `impl <T> Trait for fn(T)` to include `impl <T> Trait for fn(&T)`.
And that is needed to allow making `coherence_leak_check` a hard error without breaking people's use cases.
And making `coherence_leak_check` a hard error [might be needed to make pattern types p

[2022-11-09 21:56] tbu- commented on #58713
@dpaoliello I opened the PR: #104218.

[2022-11-09 22:57] kennykerr commented on #58713
Will that include `native_link_modifiers_verbatim`?

[2022-11-09 23:00] dpaoliello commented on #58713
Unfortunately, no, I've pinged the tracking issue for that to see if there's anything currently blocking it - if there's no known issues and it's working for you, then I'll try to get it stabilized as well.

[2022-11-09 23:14] vlovich commented on #47506
I looked at rusty-fork just now and it seems incompatible with rstest which provides functionality to parameterize tests more easily.

[2022-11-09 23:44] pkubaj opened #104220 "1.65.0 fails to build on powerpc"
1.64.0 built fine.
On powerpc-unknown-freebsd:
[code]

Probably related to LLVM upgrade.

[2022-11-10 00:01] eli-front opened #104221 "rustc warns macros unused if declaration is after usage"
I tried this code:

[code]

I expected to see this happen: *no errors/warnings*

Instead, this happened: *unused macro definition: `print`
`#[warn(unused_macros)]` on by default. NOTE: this only occurs when the macro is defined after usage.*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-11-10 00:03] eli-front commented on #104221
Related to https://github.com/rust-lang/rust/pull/96150

[2022-11-10 00:17] jhpratt commented on #82814
The methods probably didn't exist when this issue was created. I'll add them when I'm on my laptop.

[2022-11-10 00:28] #104221 closed

[2022-11-10 00:45] sffc commented on #73958
I found some new info:

https://github.com/rust-lang/rust/blob/e75aab045fc476f176a58c408f6b06f0e275c6e1/compiler/rustc_target/src/spec/wasm32_unknown_unknown.rs#L41

rustc is passing `--export-dynamic` to wasm-ld:

If I manually remove the `--export-dynamic` from the wasm-ld invocation, then I get my expected behavior where I only get the symbols listed in `--export` arguments.

[2022-11-10 00:54] Manishearth commented on #73958
Hmm, ideally that flag would be manually set via link-args but given that it's automatically set perhaps we need another flag to turn it off?

[2022-11-10 01:02] sffc commented on #73958
So there is `--no-export-dynamic`, but it seems that the presence of `--export-dynamic` earlier in the call chain takes precedence. Also, it doesn't really address the issue that in Rust we really should have a way to stop all the `--export` arguments from being added automatically.

**If rustc changed such that I could turn off both the `--export` and the `--export-dynamic` flags, then I think th

[2022-11-10 01:16] RReverser commented on #73958
You're probably referring to https://github.com/rust-lang/rust/issues/104130 not to _this_ issue, as it wouldn't be resolved by Wasm fix alone.

[2022-11-10 01:19] putout opened #104222 "pip rust libc.so.6 error Centos"
``
hey
``
OS: Centos 6

installed pip success

Installed Rust manually - success
[code]

[code]

which led me to

Followed: this for the lib.so error
https://stackoverflow.com/a/50697155

also used it as a template for lib 2.17 and 2.15, reloaded the library paths as well

[code]
If I run yum I get the same command as above, but not if I open a new SSH session.

Once I open a new SSH session yum w

[2022-11-10 01:52] chriswailes commented on #103673
An announcement sounds good to me, even if that means delaying the update for a bit.  However, I feel that updating to a _different_ unsupported NDK would be a step sideways at best.  This is mainly because it would buy us very little (as far as I'm aware) and it would cause churn for developers already using custom NDK setups.

Building against an older NDK leaves us with two (related) issues tho

[2022-11-10 01:53] sffc commented on #73958
Indeed.

[2022-11-10 01:57] kpreid opened #104224 "Unclear unwind safety for `std::alloc::Allocator::{grow,shrink}`"
### Location

https://doc.rust-lang.org/nightly/std/alloc/trait.Allocator.html

### Summary

The documentation for the `grow()`, `grow_zeroed()`, and `shrink()` methods contains an implication that it is not unsound (though also not recommended) for these methods to panic.

But, it is important for the caller to handle outcomes correctly to avoid either leaking or accessing freed memory:

Thus, I

[2022-11-10 01:57] jruderman opened #104225 "Hang with weird trait requirement"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc).

### Code

This input effectively hangs the compiler during `item_types_checking` / trait selection.

[code]

### Time complexity

The time spent increases exponentially(?) with the complexity of type `x` _and with the [recursion_limit](https://doc.rust-lang.org/reference/attributes/limits.html#the-recursion_limit-attribu

[2022-11-10 01:59] kpreid commented on #104224
@rustbot label +A-allocators

[2022-11-10 02:37] xobs commented on #103949
Using nothing but the choices of chewing gums, the finest of balling wire, and the crudest of scripts https://gist.github.com/xobs/2ae7231284a58df6600b2c0d758ed5f0 I narrowed it down to e2b52ff73edc8b0b7c74bc28760d618187731fe8 as the source of the crash.

Which makes sense, because the crash is in `rust-lld` and goes away when I replace it with `ld`. I'm sure it'd work just fine if I transplanted

[2022-11-10 03:04] tbu- commented on #104122
What would work is making the unparenthesised expression an error. I.e. not allowing an expression like `1 << 13 - 10`, and requiring it to be `(1 << 13) - 10` or `1 << (13 - 10)`. I think there's precedence in some programming language for this, and it completely sidesteps the issue of there being different precedence rules between languages.

I checked, the expression `1 << 13 - 10` evaluates to

[2022-11-10 04:16] dest1n1s commented on #27732
Is there something wrong with the rule

when it works with a trait object with associate type, such as `dyn Trait<Assoc=Type>`?

For example:

[code]

 in which the compiler says

But if I try to manually impl the trait `Foo` for `dyn Bar<Assoc=i32>`, it says

Here's the minimal example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=85925cd4977fc95beb52ce9a03653755 ,

[2022-11-10 04:26] jruderman opened #104230 "Hang with weird recursive associated type"
Found by mutating [src/test/ui/closures/issue-41366.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui/closures/issue-41366.rs) with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

This hangs the compiler:

[code]

### Suspicious recursion

If I decrease the [recursion limit](https://doc.rust-lang.org/reference/attributes/limits.html#the-recursion_limit-attri

[2022-11-10 04:48] #101920 closed

[2022-11-10 04:58] ibraheemdev opened #104232 "Suggest cloning Arc/Rc"
[code]
[code]

The help message could mention that `Arc` implements `Clone`. We don't usually suggest cloning values in diagnostics, but for `Arc/Rc` we probably should.

Another common case (this one is probably harder to suggest a fix for):
[code]
[code]

[2022-11-10 05:23] chenyukang commented on #104232
@rustbot claim

[2022-11-10 05:50] compiler-errors commented on #104209
For the record, this isn't dependent on `-> impl` return type, which is a separate error. This also ICEs:

[code]

[2022-11-10 06:06] chenyukang commented on #104209
This don't ICE:

[code]

I guess it's because terminated because the error type error.

[2022-11-10 06:08] pratushrai0309 commented on #104198
@jyn514 So we just have to create a function test_args with the code you have linked in the comment right??

[2022-11-10 06:13] compiler-errors commented on #104209
Yeah, `f64` still needs to implement the trait in the `impl Trait` -- this ICEs, for example:

[code]

[2022-11-10 06:22] b-naber commented on #104209
I can take a look at this, unless you're already working on this @compiler-errors.

[2022-11-10 06:23] matthiaskrgr opened #104237 "ice: rustdoc: expect tcx.sess.has_errors return true"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustdoc issue-75889.rs  -Zunstable-options --document-private-items`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-10 06:25] Rageking8 commented on #104209
@b-naber  I think compiler-errors already submitted a PR to fix this, #104233

[2022-11-10 06:26] b-naber commented on #104209
Oh thanks, didn't see this.

[2022-11-10 06:30] ClSlaid commented on #79786
We're sincerely longing for the merge of your bug fix.

[2022-11-10 06:43] compiler-errors commented on #104237
This regressed in 465ac26405d32cc1dd73460fa465c9303f40ea43 / #103928, cc @chenyukang

Rustdoc is special because it's more forgiving with errors than rustc. I'm curious to understand where we're suppressing an error in rustdoc and whether it should just be reporting an error...

[2022-11-10 06:51] Lokathor commented on #104122
Making old code into an error in any _current_ edition of rust would not work. Making that an error in a _future_ edition of rust is possible.

In the case of `2 | 1 == 3`, while C has automatic conversion from bools to ints, but rust doesn't. One precedence ordering makes an expression that type checks, and the other doesn't. But yeah, I'd probably suggest that people use some parens in there. In

[2022-11-10 07:04] Chronos-Sk commented on #27732
FWIW, that's effectively relying on the incomplete feature `trait_upcasting` (which seems to have the same difficulty: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=fb3a77efd3979ea2d94b5177ded51750)).

[2022-11-10 07:23] luyikk opened #104238 "rustc 1.67.0-nightly build core dump"
### Code

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-lang/rust/issues/new?labels=C-bug%2C+I-ICE%2C+T-compiler&template=ice.md

note: rustc 1.67.0-nightly (e75aab045 2022-11-09) running on x86_64-pc-windows-msvc

note: compiler flags: --crate-type bin -C embed-bitcode=no -C debuginfo=2 -C incremental=[REDACTED]

note: so

[2022-11-10 08:13] #103587 closed

[2022-11-10 08:21] petrochenkov commented on #99425
I think it can be stabilized now, if the limitations and the caveat about full paths are well documented.
I can prepare the stabilization PR.

[2022-11-10 09:07] DesmondWillowbrook commented on #103963
That sounds about right. The whole issue is due to visible Drop effects causing confusion.

[2022-11-10 09:21] est31 commented on #104200
FTR this is also badly documented in clippy itself. You can't find it in the contributor instructions [for example](https://github.com/rust-lang/rust-clippy/blob/master/CONTRIBUTING.md). It's also not printed by compiletest when it says "if you want to re-run the test do X" (that gives you a wrong command).

[2022-11-10 09:28] #102501 closed

[2022-11-10 09:48] farnz commented on #104197
To be absolutely clear, on the back of @fmease's comment, the important information in the note is that `dyn Trait` without an explicit lifetime contains an inferred lifetime, and I would like the note to tell me two things:

1. That the lifetime in the error message is the one that was inferred for `dyn Trait`
2. What lifetime was actually inferred, following the compiler's rules.

This means tha

[2022-11-10 10:20] jyn514 commented on #104200
@est31 you should report that on the clippy repo.

[2022-11-10 10:24] gimbles commented on #101659
@rustbot release-assignment

[2022-11-10 10:29] maxwase commented on #82485
I guess there are no blockers for this stabilization?

[2022-11-10 10:56] est31 commented on #104200
@jyn514 fair. Done: https://github.com/rust-lang/rust-clippy/issues/9825

[2022-11-10 11:24] blueglyph commented on #37854
I'll try to summarize in the hope this can move from experimental to stable.

- in 2016 there was an initial concern of conflict with the syntax of slice patterns, and about the syntax of inclusive/exclusive patterns
- in 2017 an exclusive pattern has been implemented but is blocked as experimental
- since then, multiple comments stated that having the exclusive pattern would improve consistency i

[2022-11-10 11:29] fmease opened #104240 "ICE with inherent associated type: Type parameter out of range when substituting"
### Code

[code]

#### Output

[code]

<details>
<summary><b>backtrace</b></summary>

[code]

</details>

### Code (Variation)

[code]

#### Output

[code]

<details>
<summary><b>full stderr (two panics / backtraces)</b></summary>

[code]

</details>

### Meta

`rustc --version --verbose`:
[code]

@rustbot label requires-nightly A-associated-items F-inherent_associated_types

[2022-11-10 11:44] fmease commented on #104240
Context: The recent PR #103621 implemented the resolution of inherent associated types but it appears that substitutions are not taken into account.

[2022-11-10 11:46] dhardy commented on #104145
This happens with beta too: `rustc 1.66.0-beta.1 (e080cc5a6 2022-11-01)`

[2022-11-10 11:58] lcnr commented on #97156
Well `'empty` is the reason why we even lint `coherence_leak_check` right now afaik :sweat_smile:

I don't your idea proposed in the linked internals thread is possible:

I don't think this works, because not only does the same impl has to apply for coherence, but this must also recursively hold for all associated types. If we again look at `for<'a> fn(&'a ())` and `fn(&'static ())`: These have to

[2022-11-10 12:00] lcnr commented on #97156
Not sure, you can try asking about it in the #t-types stream on zulip :sweat_smile: i think that's mostly been mentioned as a sidenote during other discussions.

[2022-11-10 12:14] arihantbansal commented on #100000
♥️🦀♥️

[2022-11-10 12:29] sdroege commented on #44322
I was just going to report the same thing after running into it and making a testcase. Funny enough, my testcase is almost the same as @CryZe's. This definitely still happens with latest stable and nightly as of today.

Depending on what the Rust staticlibs are doing, there are also a couple of other symbols that are conflicting:

 - `___rdl_alloc`
 - `___rdl_alloc_zeroed`
 - `___rdl_dealloc`
 - `

[2022-11-10 12:38] fee1-dead opened #104242 "Confusing diagnostic when type mismatch on a tuple struct's generic type: Consider removing the ``"
Given the following code:

[code]

The current output is:

[code]

[2022-11-10 12:55] pratushrai0309 commented on #104198
@rustbot claim

[2022-11-10 13:17] fmease opened #104243 "Visibility of inherent associated types is not checked on access"
In the following code, I can **successfully** refer to the *private* inherent associated type `m::T::P`:

[code]

I expected to see an error denying the access.

If the associated item was a constant, this would indeed be the case:

[code]

### Meta

`rustc --version --verbose`:
[code]

@rustbot label T-compiler requires-nightly A-associated-items A-visibility F-inherent_associated_types

[2022-11-10 14:16] Maximkaaa opened #104244 "Poor error message for confusing comparison and start of generic arguments in some cases"
Given the following code:

[code]

The current output is:

[code]

Which is great and exactly why we love Rust so much. But replace `+` with `-` in the example:

[code]

And the output of the compiler is:
[code]

Which makes some developers doubt their qualification for up to 30 minutes while they try to figure out what the problem is. It would be nice if the sign in the operation would not reduce

[2022-11-10 14:22] LAK132 commented on #89353
This appears to be fixed :D

[2022-11-10 14:22] #89353 closed

[2022-11-10 15:03] fmease commented on #104243
@rustbot claim

[2022-11-10 15:24] Jules-Bertholet commented on #97156
I'm not sure I understand what you are saying here?

[2022-11-10 15:25] NotStirred commented on #104150
@rustbot release-assignment

Releasing as I am unable to test my changes to the compiler with clippy, perhaps due to #81431
If anyone can provide any guidance I'd be grateful

I believe the issue is in `rustc_errors::CodeSuggestion::splice_lines`, but can't verify without testing

[2022-11-10 15:45] #103269 closed

[2022-11-10 15:45] #103271 closed

[2022-11-10 15:46] #76666 closed

[2022-11-10 15:56] pnkfelix commented on #103141
#103205 was beta backported to 1.65, which is now released.

We won't be having a 1.64.1 release.

So this should be considered "fixed", since it is resolved on the current stable release of Rust.

[2022-11-10 16:03] l4l opened #104247 "ICE: "cannot convert ReErased to a region vid" after adding unused variable"
### Code

I didn't yet come up with a minimal example. So far for reproduction `elfo` crate is needed (which is quite big bruh). Here's the repo with the code: https://github.com/l4l/ice-bwck-unused-todo

### Meta

Tried on stable 1.64.0, 1.65.0 and nightly 1.66.0 (470e518c4 2022-09-27).

### Error output

[code]

<details><summary><strong>Shortened backtrace</strong></summary>
<p>

[code]

</p>
<

[2022-11-10 16:17] albertlarsan68 commented on #104247
I can't reproduce with `rustc 1.66.0-beta.1` on `x86_64-pc-windows-msvc`.

[2022-11-10 16:25] apiraino commented on #98746
Assigning priority as suggestd in T-compiler meeting ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-11-10/near/309019592)).

@rustbot label -I-prioritize +P-high -I-compiler-nominated

[2022-11-10 16:38] apiraino commented on #103673
visited during T-compiler meeting [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-11-10/near/309021929). Two the main points:
- seems that the path to a FCP is appropriate to get more context and collective understanding
- reverting #102332 seems for now the wise choice to do

@rustbot label -I-compiler-nominated

[2022-11-10 16:48] compiler-errors commented on #104247
@l4l, this is a pretty old nightly version -- can you update your compiler and see if it still reproduces the issue?

[2022-11-10 16:55] albertlarsan68 commented on #104247
However, it reproduces with `rustc 1.65.0`

[2022-11-10 17:18] faern commented on #82485
Probably not. Try submitting a stabilization PR.

[2022-11-10 17:37] yoshuawuyts opened #104248 "Mention `ilog2` from `leading_zeros` docs"
I was chatting with @scottmcm today, who mentioned it'd be helpful to mention the newly stabilized `ilog2` APIs from the `leading_zeros` docs. The benefit of using `ilog2` is that even if the type widens, the result doesn't change.

It'd be nice if someone could contribute docs mentioning `ilog2` from `leading_zeros`. This probably just needs to be a one-liner.

[2022-11-10 17:44] jruderman opened #104249 "Privacy assertion failure with `staged_api` and duplicated module name"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc).

### Code

[code]

<details><summary>Alternative input with stability attributes</summary>

[code]

</details>

### Error output with debug assertions

[code]

<details><summary>Full output including backtrace</summary>

[code]

</details>

### Regression

This is a new assertion, added in 448261a78a35026b3f5e855b705f35c9

[2022-11-10 17:47] bryangarza commented on #102383
@rustbot claim

[2022-11-10 17:48] vincenzopalazzo commented on #102383
passing the task to @bryangarza noted that I had a couple of think on my plate already and I do not want have to much fun alone!

I will be available for help if needed!

[2022-11-10 18:11] compiler-errors opened #104251 "Inherent associated type projection does not respect `where` clauses"
I tried this code:

[code]

I expected to see it fail, since while `Foo<[u8]>` is WF, it does not satisfy the where-clauses of the `impl` that it's selecting the associated type `Bar` from.

[2022-11-10 18:39] seritools opened #104253 "Block expression "swallows" `unused_must_use` warning"
Given the following code: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7875cd0d6c066626afc27dea0bc54ef8)

[code]

The current output is:

[code]

Ideally the output should look something like:

[code]

I've stumbled upon this with code that uses `unsafe`. Sometimes you see
[code]
instead of
[code]
which swallows the warning, as the block counts as a usage, e

[2022-11-10 19:04] l4l commented on #104247
Hmm, wonder when it was resolved. I've found no relevant issues.

No longer reproduces with 1.67.0-nightly (9286a1beb 2022-11-04), sorry for misreporting.

[2022-11-10 19:04] #104247 closed

[2022-11-10 19:29] #104086 closed

[2022-11-10 19:29] #104209 closed

[2022-11-10 19:31] BlackDex opened #104255 "ICE - thread '<unnamed>' panicked at 'forcing query with already existing `DepNode`"
### Code

https://github.com/BlackDex/vaultwarden/tree/impl-events

### Meta
- Works on stable

[code]

- Works on beta

[code]

- Fails on nightly

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-10 19:37] kennykerr commented on #58713
And here's the experimental branch/PR with `raw-dylib` support plumbed in: https://github.com/microsoft/windows-rs/pull/2149

Comments welcome. 😃

[2022-11-10 19:42] thomcc commented on #103057
Ideally this design proposal would include some method of exposing it to cargo build scripts, so crates like `cc` would be able to use the righ version of DWARF (see https://github.com/rust-lang/cc-rs/pull/694, for example, where we hardcode decisions compatible with rustc)

[2022-11-10 19:52] feds01 opened #104257 "ICE: no warnings or errors encountered even though `delayed_good_path_bugs` issued"
Sporadic ICE when compiling a crate occurred, I could not reproduce this issue after the initial occurrence.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-10 20:21] plazmoid opened #104260 "ICE with inherent generic associated type: no type for node HirId"
### Code

[code]

This similar snippet fails with the same panic message (removed generic from the inh type):
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-10 21:42] cdstanford commented on #79524
As a newcomer to this, I'm pretty confused: Why do we not offer a join function on iterators
`i.join(",")`
which is equivalent to
`i.intersperse(",").collect()`
?

This would be a huge ergonomic improvement. The fact that `.join()` is only a function on slices, and not iterators, is non-idiomatic as the logic of the join function works on an iterator and doesn't require it to be a slice.

[2022-11-10 21:42] plazmoid commented on #67751
Both snippets are working now

[2022-11-10 21:44] cdstanford commented on #88967
If `.intersperse()` causes name resolution conflicts, the obvious thing to do is to rename. But why not also offer `.join()` which combines intersperse with collect (i.e., what users of this API actually want to do)?

[2022-11-10 21:46] cbiffle opened #104262 "1.64 treats `as` casts from non-Copy enums as not moving the LHS"
This code is (rightfully) rejected by at least 1.57 - 1.63, accepted by 1.64, and rejected again by 1.65.

[code]

In compiler versions other than 1.64, the second `a as u8` assignment is rejected, since `a` is not `Copy` and was previously moved into the `as u8` operation that created `b`. On 1.64 it's silently tolerated.

This does not, as far as I can tell, affect `as` conversions other non-`Co

[2022-11-10 22:07] hniksic commented on #67751
@plazmoid Indeed, I believe this can be closed.

The stable snippet in from [this comment](https://github.com/rust-lang/rust/issues/67751#issuecomment-724133190) still doesn't compile, but that should probably be submitted as a separate issue, to prevent scope creep.

[2022-11-10 22:16] albertlarsan68 commented on #104257
This seems like an incremental compilation issue

[2022-11-10 22:25] jswrenn commented on #88967
Renaming is a somewhat unsatisfying solution. That approach sets us up to have our own little [smooshgate](https://developer.chrome.com/blog/smooshgate/) potentially every time a new method is added to the standard library. I *am* considering renaming every method in itertools to start with `it_`, but that'll only be a partial solution. A considerable number of itertools users aren't on the latest

[2022-11-10 22:31] rickwebiii opened #104264 "`#[derive(Copy)]` isn't quite right for types with PhantomData<T>"
Rust's `#[derive(Copy)]` doesn't appear to work quite correctly under types using `PhantomData`. Consider the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6b845765dc255630b63c4a3227674749)):

[code]

gives the following error:
[code]

Manually implementing `Copy` and `Clone` seems to [work](https://play.rust-lang.org/?version=stable&mode=debu

[2022-11-10 22:57] cdstanford commented on #88967
I don't see how it's analogous to smooshgate, because monkeypatching doesn't exist in Rust. itertools isn't using bad practice here.

There are plenty of reasonable alternative names like `.weave` or `.interleave_item`. How does choosing one of these set a bad precedent?

[2022-11-10 23:02] chriswailes commented on #103673
To clarify, how hard is it going to be for developers to update their Rust projects to the new NDK if they are using something newer than r15 but older than r25b?  For Android's Rust toolchain I've updated the NDK twice (23->24->25) and haven't had an issue with any of the transitions (no changes needed to build system or source).

[2022-11-10 23:02] ncitron commented on #104238
I think I am running into a similar error. Here is the output I get:

I am compiling [a16z/helios](https://github.com/a16z/helios) on 1.67.0-nightly 2022-11-09. It was compiling fine in a previous nightly though.

[code]

[2022-11-10 23:07] the8472 commented on #88967
It is analogous in the sense that the respective standard library should not base its naming decisions on what downstream crates do. It's a violation of namespacing. That not fully qualified method resolution can lead to such conflicts is a known issue but it's better to resolve that rather than working around it.

[2022-11-10 23:14] Nugine commented on #78900
This issue has been solved by
+ https://github.com/rust-lang/rust/pull/90306

[2022-11-10 23:26] daniel5151 commented on #78900
Ah, so it has!

Well, as OP, I'll just go ahead and close the issue as resolved then :)

[2022-11-10 23:26] #78900 closed

[2022-11-10 23:32] chriswailes commented on #103673
Sorry to keep popping in here, but do we know why Firefox is stuck on an older version of the NDK?  Is it for a reason beyond Rust's dependency on an older version?  If Firefox is using an out-of-support NDK for other reasons I think that may be their bigger issue and I'm not sure that's a good reason to holding back on updating the official Rust builds.  If, however, Firefox is having to use an o

[2022-11-10 23:48] cdstanford commented on #88967
I agree, but as a short-term solution renaming prevents this being blocked on what is a much bigger issue with Rust's namespacing. Otherwise it seems like this (and many similar stdlib improvements) are blocked for the near-term forseeable future, if I'm understanding the discussion correctly.

[2022-11-11 00:07] Manishearth commented on #104130
From talking in Zulip it seems like a productive route forward would be to _only_ implement the allowlist/denylist, ideally in a way that works for all platforms

probably need to start here.
https://github.com/rust-lang/rust/blob/c1a859b25a95999ba276075bbd8e284ea675b41a/compiler/rustc_codegen_ssa/src/back/linker.rs#L1499-L1514

There may be a way to do it such that it affects other codegen backen

[2022-11-11 00:08] ehuss commented on #104262
I believe this was #102389.

It was accepted for a 1.64.1 stable point release, but for some reason that stable release never happened. I don't see a discussion around that decision specifically. Usually a stable point release is only made if there is sufficient motivation, so perhaps it didn't meet the threshold?

[2022-11-11 00:54] alex-pinkus commented on #103673
With the NDK updates you're referring to for Android's Rust toolchain, you were building in-tree, right? As in, you don't use a prebuilt rust stdlib for the target, you produce one as part of the AOSP build?

I don't have visibility into the firefox project and their reasons, but with the `rustup`-vended stdlib linking against `libgcc`, I suspect that a lot of projects are "stuck". While we'll fix

[2022-11-11 01:14] chriswailes commented on #103673
Yes, we build the stdlib as part of our Rust toolchain distribution.  This doesn't occur during the AOSP build itself, we just do a "release" following upstream releases.  I can see how the situation you're describing is different.

I 100% agree that we should notify developers about this issue, even if that means delaying the update for a bit.  I just wanted to understand the concerns about devel

[2022-11-11 01:28] Nugine commented on #83378
This issue has been solved by
+ https://github.com/rust-lang/rust/pull/91961

[2022-11-11 01:34] #83378 closed

[2022-11-11 01:36] Nugine opened #104268 "inline_const cannot be feature-gated"
I tried this code:

[code]

I expected to see this happen: It compiles when the feature flag *unstable* is disabled.

Instead, this happened:

[code]

+ https://github.com/rust-lang/rust/issues/76001

### Meta

`rustc --version --verbose`:
[code]

[code]

[2022-11-11 01:39] estebank commented on #104232
@chenyukang make sure to account for `Rc` as well! :)

[2022-11-11 01:51] estebank commented on #104225
cc @compiler-errors I believe this might related to what you were looking at recently

[2022-11-11 01:55] compiler-errors commented on #104225
Hm, don't think so? This doesn't have to with opaques that have higher-ranked (lifetime) vars in their substs.

[2022-11-11 01:58] estebank commented on #103791
@hgrahamcs it sounds like you are in the right path.

[2022-11-11 01:59] estebank commented on #104225
Ah! Fair enough, I misremembered what you were working on :)

[2022-11-11 02:00] compiler-errors commented on #104225
This doesn't even have to do with `impl Trait` -- requiring the bound `Vec<[[[B; 1]; 1]; 1]>: PartialEq<B>` anywhere causes the hanging, e.g.:

[code]

I'll look into it regardless.

[2022-11-11 03:04] complexspaces commented on #103673
I saw this issue and became curious, so I tried updating 1Password's NDK toolchain from r22b to r25b. I seem to have ran into an issue with `cargo-ndk` where it [look to make a bad assumption](https://github.com/bbqsrc/cargo-ndk/blob/main/src/cargo.rs#L39) about the mapping from NDK version to target version used in all of the NDK's various `x86_64-linux-android<n>-clang` toolchains. This just see

[2022-11-11 03:18] estebank commented on #103705
We could create a new type folder that takes any closure type and replaces it with at minimum a `_` and ideally a correct `Fn*` signature.

[2022-11-11 03:19] estebank commented on #103667
Also, he `note: associated function defined here` should also not be displayed, given the Span was clearly not available.

[2022-11-11 03:25] estebank commented on #103684
An alternatively, we should a single error for the whole if expression and still suggest return without a new binding:

[code]

Notice that [we only suggest the `return` *without* the suggestion for a `;` for literals](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=09a8046a9fa2b09430ea3a4088eac8e9).

[2022-11-11 03:29] estebank commented on #49984
[Current output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=de698d9922f224d96ae2d54d5df2f610):

error[E0782]: trait objects must include the `dyn` keyword
 --> src/lib.rs:2:5
  |
2 |     Eq::eq(&(), &())
  |     ^^
  |
help: add `dyn` keyword before this trait
  |
2 |     <dyn Eq>::eq(&(), &())
  |     ++++   +

error[E0038]: the trait `Eq` cannot be made into an objec

[2022-11-11 03:40] estebank commented on #50270
[Current output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=74db9e0c246dabb1b8ac14d7457756d6):

[code]

The main message should be modified (we shouldn't be giving examples there! That's what `help`s are for).

Ideally the output would be more complete, like the following:

[code]

[2022-11-11 03:42] estebank commented on #47452
Triage: [barely any changes](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f072d69334ab79895a7cb61bb947221e).

[2022-11-11 03:46] estebank commented on #47850
Current output:

[code]

[code]

[2022-11-11 03:47] jruderman commented on #104255
@rustbot label +regression-from-stable-to-nightly

[2022-11-11 03:54] estebank commented on #37768
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4daa8b5c30cf6067306c2edd85df83ac):

[code]

Although we've put a lot of effort into improving these, these are still not great. But without good specific repro cases it is hard to work on these.

[2022-11-11 03:55] estebank commented on #49129
These were fixed some time back.

[2022-11-11 03:55] #49129 closed

[2022-11-11 04:00] estebank commented on #42154
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d927acc98ace18d42039e03d1bf4717a):

[code]

We still don't provide guidance on what to do.

[2022-11-11 04:01] estebank commented on #50043
Current output:

[code]

Still not great.

[2022-11-11 04:02] #42154 closed

[2022-11-11 04:03] estebank commented on #50043
[Another example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=390f121c0e638a47c56eac8c60e797cb) from #42154:

[code]

[2022-11-11 04:05] iamwacko opened #104271 "thread '<unnamed>' panicked at 'Forcing query with already existing DepNode on latest nightly"
This looks like this error has happened [before](https://github.com/rust-lang/rls/issues/999), but with RLS instead of rustc. It wasn't fixed.

### Code

https://github.com/shuttle-hq/synth/pull/391

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-11 04:06] estebank commented on #59608
Triage: no change

[2022-11-11 04:09] estebank commented on #49548
Current output:

[code]

The wording of the help is still incorrect by talking about "unit variant", but that seems like the only outstanding change.

[2022-11-11 04:15] estebank commented on #37935
The current output is

[code]

The type error is because the match expression is the tail expression of a for loop, so it  has to be `()`, [the problem is not `unreachable!()`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=321454ce935d6dbc8e2f4ecd6f964981). Applying the suggestion solves the issue. Ideally we would also explain what I just did, but I feel like we can clo

[2022-11-11 04:15] #37935 closed

[2022-11-11 04:22] estebank commented on #64008
Triage: little change.

Current output:

[code]

and when applying the suggestion we fail to suggest the second necessary move:

[code]

[2022-11-11 04:25] estebank commented on #33972
[Current output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fcc6428322cb78f808834c818abe35f4):

[code]

We provide a more targeted span and a structured suggestion when the difference is only the borrow.

[2022-11-11 04:25] #33972 closed

[2022-11-11 04:27] Xuanwo commented on #104271
Yep, [databend](https://github.com/datafuselabs/databend/) has the same problem

[code]

[2022-11-11 04:28] estebank commented on #51937
Current output:

[code]

[2022-11-11 04:28] #51937 closed

[2022-11-11 04:30] BGR360 commented on #104268
@rustbot label +T-compiler +F-inline_const +S-bug-has-mcve +requires-nightly

[2022-11-11 04:33] estebank commented on #50043
[Another case](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=acd94cd8d2c0c6b8659bc5d17a01e0b5) from #51486:

[code]

[2022-11-11 04:33] estebank commented on #51486
Closing as duplicate of #50043.

[2022-11-11 04:34] estebank commented on #51486
Ah, realized that the report is quite more specific than the linked ticket. Keeping open.

[2022-11-11 04:48] BGR360 commented on #104264
This is because the code that rustc generates for your derived `Clone` and `Copy` impls is:

[code]

This is generally how the derives work for any type with generic parameters. So I hesitate to call this a bug.

In fact, I might even call it a feature of `PhantomData`. Much of the usefulness of `PhantomData<T>` comes from the fact that it makes your type behave as if it contained a field of type

[2022-11-11 04:49] Xuanwo commented on #104271
Duplicated with https://github.com/rust-lang/rust/issues/104255

[2022-11-11 04:50] Xuanwo commented on #104255
duplicated with https://github.com/rust-lang/rust/issues/104238

[2022-11-11 05:00] BGR360 commented on #104174
I've hit this before when trying to do the exact same `NotSame` thing you're trying to do. It's a quirk with the way auto traits work. Basically auto traits don't automatically apply to unsized types or something. For me I ended up needing to do this: https://github.com/BGR360/tres/blob/4db4af13162396bbf1a9bed10d3659de74838678/src/traced.rs#L262-L266

@rustbot label +T-compiler +requires-nightly +

[2022-11-11 05:03] compiler-errors commented on #104238
I'm taking a look at this.

[2022-11-11 05:29] estebank commented on #80139
Ideally we would provide the suggestion in the first error, but it is likely quite hard to accomplish (and less general). I'll be more than happy @zbyrn if you can suggest it on the E0507.

[2022-11-11 05:33] BGR360 commented on #103100
The reason it thinks you should implement `B` instead of `A` is because rustc tries to show you the "shallowest" trait that you need to implement. Take this simple example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=99efefb9cdc9a840ca6d45a03bd2f51f)):

[code]

[code]

Although the function requires that `T: Into<String>`, rustc knows that the following bla

[2022-11-11 05:36] BGR360 commented on #103073
@rustbot label +I-slow +T-compiler

[2022-11-11 05:44] compiler-errors commented on #104238
This is due to #103171 -- coming up with a fix.

[2022-11-11 05:45] BGR360 commented on #102972
I don't think it's critical to mention `c` in the diagnostic. We shouldn't let the difficulty of doing that stop us from trying to improve the message.

@rustbot label +D-newcomer-roadblock

[2022-11-11 05:48] chenyukang commented on #103874
The last sub-item didn't implemented.

[2022-11-11 05:53] Xuanwo commented on #104238
Hero of the day!

[2022-11-11 05:58] BGR360 commented on #102861
@rustbot label -C-bug +A-docs

[2022-11-11 06:49] BGR360 commented on #102731
Minimal repro:

In `lib.rs`:

[code]

In `main.rs`:

[code]

[code]

Compiles fine if code is combined into one crate.

This rules out a few things:
* It's not related to the fact that `FromResidual` is a subtrait of `Try`.
* It's not related to the fact that `FromResidual<T>` has a default value for `T`.
* It's not related to the fact that `Option` is generic.
* It doesn't matter what type is use

[2022-11-11 06:52] jhpratt commented on #104264
Duplicate of #26925.

[2022-11-11 07:41] SparkyPotato opened #104276 "Cryptic error on crate root import"
Given the following code:

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=edadec50c25bbafc952c63f878b76af5

The current output is:

[code]

Ideally the output should look like:

[code]

This happens on both stable and the latest nightly.

[2022-11-11 08:22] pickfire commented on #79524
https://github.com/rust-lang/rust/pull/75738 I have created a pull request for that in the past. That is due to `join` requires allocation, but currently the iterator trait is on `core`, so we can't add it alongside the other iterators.

[2022-11-11 08:25] jruderman opened #104277 "ICE: "Expected ConstKind::Param" in PatCtxt::lower_inline_const"
Found by fuzzing with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary><strong>Full output with backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

This input has ICEd for a year, but the failure point has changed during that time:

2021-11-10: first ice

```thread 'rustc' panicked at 'called `Res

[2022-11-11 08:38] Stargateur commented on #79524
I would rather say, there is no need to have a shortcut, when iterator trait have already a LOT of method. Learning to combine iterator method is the way to go. `i.intersperse(",").collect()` is not longer than any other code I know that collect the iterator. We can't add hundred of method on Iterator trait to every use case.

That a bold stablement, I don't see how that not idiomatic to NOT have

[2022-11-11 09:04] mitsuhiko commented on #82523
I'm a bit confused about the change in https://github.com/mobilecoinfoundation/sgx/commit/1decc1517117ce58be67f3a3176c47c8d033f259.

With this change `Clone` can no longer be automatically derived for packed structs, but `Copy` can still be. This means that this is legal but cannot be derived:

[code]

Is there a reason the compiler can't automatically derive this when this is `Copy`? Now the risk

[2022-11-11 09:57] jamesmunns opened #104279 "Matching with multiple patterns and match guards can have unintuitive results"
When matching with multiple patterns AND a match guard, it is potentially confusing that the match guard applies to ALL patterns, not just the rightmost pattern.

In writing an encoder where I wanted to ensure that I don't encode a value larger than 127, I wrote the "wrong" variant below, until I caught the issue in a test. There was no warning, and clippy also did not give any warning.

This is p

[2022-11-11 10:00] jamesmunns commented on #104279
This is probably getting into RFC territory, but it would be nice if I could write something like:

[code]

and receive a lint if I DON'T use one of these forms, but I also know that this would be a (breaking?), nontrivial syntax change, so also feel free to discard this suggestion.

[2022-11-11 10:03] the8472 commented on #88967
The RFC fixing the issue is already accepted and only needs to be implemented. Itertools provides that API for people that need it today, so there's no reason to rush.

[2022-11-11 10:55] chenyukang commented on #69259
@rustbot claim

[2022-11-11 11:40] albertlarsan68 commented on #102861
@rustbot claim

[2022-11-11 11:43] apiraino commented on #104271
The PR fixing it seems it would benefit from a MCVE. I'll tag this issue accordingly, it would be great if someone could work out an MCVE.

@rustbot label E-needs-mcve

[2022-11-11 11:44] apiraino commented on #104255
Any chance to produce an MCVE? The PR fixing this issue seems it would benefit from that.

@rustbot label E-needs-mcve

[2022-11-11 11:45] apiraino commented on #104255
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23104255.20ICE.20-.20thread.20'.3Cunnamed.3E'.20panicked.20at.20'forcing.20query.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-11-11 11:51] apiraino commented on #104220
probably related to https://github.com/rust-lang/rust/issues/103949 (different compile target but seemingly same symptoms).

Assigning same priority for the time being ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23104220.201.2E65.2E0.20fails.20to.20build.20on.20powerpc)).

@rustbot label -I-prioritize +P-low

[2022-11-11 12:10] nikic commented on #104220
What does `llvm-config --system-libs` report? For cross-compiled builds we link libatomic here: https://github.com/rust-lang/rust/blob/b7b7f2716ee1655a696d3d64c3e12638d0dd19c0/compiler/rustc_llvm/build.rs#L248 But I assume you're using a native build?

[2022-11-11 12:30] jruderman opened #104281 "RPITIT ICE when impl's fn is missing a type parameter"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary><strong>Full output including backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Not a regression

This ICEd in nightly-2022-09-10 when RPITIT was first introduced

### Version

[code]

@rustbot label +F-return_position_impl_trait_in_trait

[2022-11-11 12:50] luis-machado-arm commented on #96983
Fixed in GDB now. Thanks for reporting it. Sorry it took a little while.

[2022-11-11 13:17] lylythechosenone commented on #102972
I'd love to try to fix this, but sadly I'm not familiar with the internals of rustc. If someone could point me towards the section where this error is, I could give it a try.

[2022-11-11 13:19] lcnr commented on #103874
:+1:

[2022-11-11 13:19] #103874 closed

[2022-11-11 13:31] Kobzol commented on #102861
Hmm, stderr is not line buffered by default, right?

[code]
prints `Hello stderr`.

Compare https://github.com/rust-lang/rust/blob/master/library/std/src/io/stdio.rs#L840 (unbuffered) vs https://github.com/rust-lang/rust/blob/master/library/std/src/io/stdio.rs#L604 (line-buffered).

CC @albertlarsan68

[2022-11-11 13:44] lcnr commented on #97156
- the idea is that if `a <: b` holds than if `a: Trait` and `b: Trait` holds then `a` and `b` must share the `Trait` impl. The idea probably being that selection for `a` and `b` has the same result.
- if that impl has an associated type, then if `<a as Trait>::Assoc` and `<b as Trait>::Assoc` both implement `OtherTrait`, then these two must also share the same impl of `OtherTrait`. Otherwise selec

[2022-11-11 13:49] BlackDex commented on #104255
I tried this create a MCVE, but it seems i'm not able to directly pinpoint the specific issue at hand with a smaller setup.

[2022-11-11 14:09] albertlarsan68 commented on #102861
You are right Kobzol!

Thanks for verifying.

[2022-11-11 14:21] yvt opened #104284 "`riscv32gc-*` targets produce a synthetic object file (`symbols.o`) with a mismatching floating-point ABI"
I tried this code:

[code]

I expected to see this happen: Successful compilation (because this would succeed for the target `riscv64gc-unknown-linux-gnu`)

Instead, this happened:

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-11-11 14:26] marcoow opened #104285 "Mismatched types shows 2 equal types"
I'm trying to add an async function argument to a function and run into a situation where it get a mismatched types error although the types I'm presented in the error message are actually both identical:

[code]

I'm aware I'm almost 100% certainly doing sth. wrong, still the note there seems probably wrong as well?

I tried this code:

[code]

I expected to see this happen: 2 different types in

[2022-11-11 14:43] Nilstrieb commented on #104285
Thanks, that does look like a bug in the error message. Could you create a more minimal example for easier reproduction, or at least share the full code needed for reproducing the error (if your code is public, you could create a branch for this isse with the broken state)?

[2022-11-11 15:03] jruderman opened #104287 ""Attempt to subtract with overflow" in `suggest_moving_args_from_assoc_fn_to_trait_for_qualified_path`"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

ICEs iff the compiler is built with overflow checks:

[code]

### Error output

[code]

<details><summary><strong>Full output with backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Version

Compiled stage1 from b7b7f2716ee1655a696d3d64c3e12638d0dd19c0 with `overflow-checks = true`

<details><summary

[2022-11-11 15:03] pnkfelix commented on #96306
[Discussed in P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-11-11.20compiler-team.23559.20P-high.20III/near/309208596)

It appears that this problem is resolved, according to the comments here.

Therefore, closing.

[2022-11-11 15:03] #96306 closed

[2022-11-11 15:11] pnkfelix commented on #96194
[Discussed in P-high review meeting.](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-11-11.20compiler-team.23559.20P-high.20III/near/309209326)

This is no longer a stability hazard, because we removed support for the questionable syntax .

@rustbot label -P-high

[2022-11-11 15:11] pnkfelix commented on #96194
(Whoops, I didn't meant to close this; I'll let @oli-obk do that if they end up opening a separate tracking issue)

[2022-11-11 15:15] pnkfelix commented on #96054
[Discussed at P-high review meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-11-11.20compiler-team.23559.20P-high.20III/near/309210675)

We believe this is probably resolved by https://github.com/rust-lang/cmake-rs/pull/158

If it isn't resolved by that PR, then please do re-open this issue so we know about it.

[2022-11-11 15:15] #96054 closed

[2022-11-11 15:17] marcoow commented on #104285
nvm, closing 👍

[2022-11-11 15:17] #104285 closed

[2022-11-11 15:19] oli-obk opened #104288 "Tracking Issue for `for<'a> impl Trait<'a>`"
Some context can be found in [this comment](https://github.com/rust-lang/rust/issues/96194#issuecomment-1124745154).

We would like to support using higher kinded lifetimes in opaque types.

At present

[code]

ICEs the compiler and the equivalent code for RPIT doesn't compile.

An implementation should also add tests that actually use the higher kinded lifetimes, e.g. via closures or similar data

[2022-11-11 15:20] oli-obk commented on #96194
Closing in favour of https://github.com/rust-lang/rust/issues/104288

[2022-11-11 15:25] pnkfelix commented on #95926
[Discussed at P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-11-11.20compiler-team.23559.20P-high.20III/near/309211504)

At this point I doubt we would roll-back the default setting, at least not silently. (Maybe via an MCP or something, if there was a push.)

But I suspect the best short term act to take would be a

[2022-11-11 15:27] DesmondWillowbrook commented on #103963
Should I try working on a lint then?

[2022-11-11 15:29] dotdash opened #104290 "Initializing structs with Option fields set to `None` produces non-optimal assembly"
Given a struct `S` like this:

[code]

Initializing this struct with all fields set to `None`, gives non-optimal assembly code, as LLVM doesn't combine the stores into a memset, because the `u8` fields within the `Option` fields are not set. Initializing all fields to `Some(0)` and then overwriting them with `None` gives optimal results.

[code]

Gives

[code]

[2022-11-11 15:29] camsteffen commented on #103963
I don't know personally if this would be accepted into rustc directly. But I'm sure you could contribute the lint to Clippy, and then after some time it could be uplifted to rustc.

[2022-11-11 15:29] pnkfelix commented on #93774
[Discussed in T-compiler P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-11-11.20compiler-team.23559.20P-high.20III/near/309213322)

Reassigning to T-types to determine what to do, if anything, in response to this.

@rustbot label -T-compiler +T-types

[2022-11-11 15:33] pnkfelix commented on #90316
Closing as assumed fixed with https://sourceware.org/git/?p=valgrind.git;a=commit;h=530df882b8f60ecacaf2b9b8a719f7ea1c1d1650

[2022-11-11 15:33] #90316 closed

[2022-11-11 15:43] pnkfelix commented on #76360
[Discussed at P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-11-11.20compiler-team.23559.20P-high.20III/near/309214681)

This seems like a real problem. I'm asking @estebank and @compiler-errors to try to dedicate some brain cycles to looking over the suggestions here and trying to drive progress towards a solution.

[2022-11-11 15:45] Rageking8 commented on #104290
@rustbot label +A-codegen +I-slow

[2022-11-11 15:46] TimNN commented on #104290
I investigated this issue a bit a few weeks ago but never got around to reporting it. It reproduces with `clang` as well (https://godbolt.org/z/8Yxnqrq6K):

[code]

AFAICT the issue is that early on in the optimization pipeline LLVM sees `store undef` to the "value" byte of the `Option<u8>` (or padding in the C++ example), but that gets optimized out at some point. Then, later, the `MemCpyOptPass`

[2022-11-11 15:50] pnkfelix commented on #89601
closing as resolved, both due to axum-local workarounds first, and later due to #89195 being resolved by #90423

[2022-11-11 15:50] #89601 closed

[2022-11-11 15:57] pnkfelix commented on #89241
[Discussed in P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-11-11.20compiler-team.23559.20P-high.20III/near/309218055)

Thanks for the bug report, @typesanitizer.

Unfortunately, it sounds to me like despite much effort from our community, we have failed to identify a stable kernel of a benchmark here.

Without a st

[2022-11-11 15:57] #89241 closed

[2022-11-11 16:19] jruderman opened #104291 "TAIT crash: stack overflow in `check_for_opaque_ty`"
Found by mutating [src/test/ui/lint/lint-ctypes-73251-2.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui/lint/lint-ctypes-73251-2.rs) with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

Compared to the original test, this modifies the definition of `AliasB` by removing `<Assoc = AliasA>`.

[code]

### Regression

Regression in nightly-2020-06-22, presumabl

[2022-11-11 16:21] albertlarsan68 commented on #104247
The fix was deployed in `nightly-2022-10-29`, currently continuing the bisection for the exact merge

[2022-11-11 16:37] Benjamin-L commented on #104244
I'm guessing that the reason this happens is that `A + B` is valid syntax in type position, while `A - B` isn't. Looking at the span for the first error, it stops on the `/`, where for the second it stops on `-`.

[2022-11-11 16:50] TimNN commented on #104173
I've been looking at this a bit, it does reproduce with:

[code]

(This issue caught my interest because before https://reviews.llvm.org/D133036 was rolled back, it caused `rustc` to crash with a `SIGILL` in `proc_macro` (though this might also have been an issue with the patch and in general may be entirely unrelated here) when compiled at LLVM HEAD with that patch).

The error from the first com

[2022-11-11 16:59] albertlarsan68 commented on #104247
It seems like #103629 is the merge that fixed it.

[2022-11-11 17:05] Kixunil commented on #96024
First of all, I think this idea is really great so big thanks to all people participating on the design and implementation!

One thing that's puzzling me is the limitation of `T: 'static`. I don't see any reason for it besides possible compatibility with `Any`. (Could there be simply another method enforcing `static`?)
What I'd like to do is to provide singular value that may reference data inside

[2022-11-11 17:17] bjorn3 commented on #104284
The relevant code is https://github.com/rust-lang/rust/blob/742d3f02c243964e5b868d90afd60c2907be5853/compiler/rustc_codegen_ssa/src/back/metadata.rs#L168-L174 It should probably be applied to riscv32 too

[2022-11-11 17:20] dan-merlea commented on #93123
Just got the same error after updating rust using brew
error[E0554]: `#![feature]` may not be used on the stable release channel
--> /elrondsdk/vendor-rust/registry/src/github.com-1ecc6299db9ec823/elrond-wasm-derive-0.36.1/src/lib.rs:4:12

[2022-11-11 17:29] bjorn3 commented on #100558
The "Syscall param statx(file_name) points to unaddressable byte(s)" are a valgrind bug. The "Mismatched free() / delete / delete []" for the target machine doesn't have a line number that allows me to show where it is actually freed. As for the leaks most of them are likely global state kept by LLVM: "still reachable: 304,139 bytes in 2,954 blocks" In any case all leaks seem to be inside LLVM.

[2022-11-11 17:31] dan-merlea commented on #93123
Uninstalling rust from brew did the trick for me..

You can also take a look here: https://stackoverflow.com/questions/72448056/error-while-building-with-erdpy-for-crowdfunding

[2022-11-11 18:03] joshlf opened #104297 "Trait impl conflict behavior differs for sized and unsized types"
I was writing a test macro to confirm that a type didn't implement a trait. For an invocation `assert_not_impl!(Type: Trait)`, it emits code like:

[code]

The goal was to cause a trait impl conflict if the `Trait` was spuriously implemented. I found that while this worked for sized types, it didn't catch the error for unsized types. In other words, the following code fails to compile:

[code]

Ho

[2022-11-11 18:10] compiler-errors commented on #104297
Pretty sure that this is due to the implicit `T: Sized` bound that you get on `impl<T: Bar> Blanket for T {}`. You probably want to emit a blanket impl with a `?Sized` on the parameter to opt-out of this bound.

[2022-11-11 18:11] joshlf commented on #104297
You're right! False alarm. Thanks!

[2022-11-11 18:15] #104262 closed

[2022-11-11 18:17] Jules-Bertholet commented on #97156
The "one `impl` block" rule isn't necessary for soundness. It's meant to make some footguns harder to shoot, not to uphold some absolutely necessary invariants. To elaborate:

Let's say you have a trait `Trait`, and a type `T`, such that `T: Trait` does not hold, but there exists a type `U` such that `T <: U` and `U: Trait`. Then, the following code works just fine:

[code]

However, the following

[2022-11-11 18:35] chriswailes commented on #103673
Thanks for testing that out.  I wonder if most crates use custom detection logic like that or if they rely on `cc`.  I do have a RP up to fix Android compiler detection for r25.

[2022-11-11 18:56] TimNN commented on #104173
This Rust code reproduces the issue:

[code]

I'm having trouble reproing with `llc`, probably because the TLS configurations used by `rustc` and `llc` are different: The generated LLVM IR is basically identical (except that one function is `define hidden` and the other `define internal`), but the first Machine code is different.

`llc` produces: `%4:gr64 = MOV64rm $noreg, 1, $noreg, 0, $fs :: (lo

[2022-11-11 19:23] TimNN commented on #104173
Minified, crashes when compiled with `llc -relocation-model=pic min.ll`:

[code]

[2022-11-11 19:28] linclelinkpart5 opened #104301 "ICE + other erros when trying to run `cargo test` on Arduino project"
Weirdly enough, `cargo build` emits warnings, but completes successfully. This ICE only seems to occur with `cargo test`!

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-11 19:48] rickwebiii commented on #104264
@jhpratt Given this is a dup, I'll close as not planned. Thanks!

[2022-11-11 19:48] #104264 closed

[2022-11-11 20:11] #50291 closed

[2022-11-11 20:11] #78149 closed

[2022-11-11 20:11] #103748 closed

[2022-11-11 20:11] #103539 closed

[2022-11-11 20:11] #104213 closed

[2022-11-11 20:21] lukas-code commented on #104301
Further reduced:

src/lib.rs
[code]

Cargo.toml
[code]

Command: `cargo test --target x86_64-unknown-none -Zbuild-std=core`

<details>
<summary>Output</summary>

[code]

</details>

[2022-11-11 21:39] netsutetsu commented on #82814
Could you also add `contains` and `contains_err`, introduced in #62358, as `Option::contains()` will be `const` in that issue?

[2022-11-11 21:53] BGR360 commented on #102972
Hi @lylythechosenone !

Whenever I try to dive into fixing a problem with rustc, I usually start with a search through the codebase. In this case, I'd search for strings that come from the error message: `"mutable more than once at a time"`, `"first mutable borrow occurs here"`, or `"second mutable borrow occurs here"`:

<img width="528" alt="image" src="https://user-images.githubusercontent.com/1

[2022-11-11 21:57] BGR360 commented on #102473
@mejrs Can you point out more of the ways in which they are not that great? So that a wanting contributor could try to formulate a higher-level approach?

[2022-11-11 22:09] BGR360 commented on #102217
possible dupe of https://github.com/rust-lang/rust/issues/102217

[2022-11-11 22:20] netsutetsu commented on #82814
Could you also add `contains`, `contains_err` (introduced in #62358), and `copied` since `Option::contains()` and `Option::copied()` will be `const` in #91930 and #67441?

[2022-11-11 22:20] Themayu commented on #102217
You just said this issue is a possible dupe of this issue...

[2022-11-11 22:29] BGR360 commented on #102217
Damn lol, too many tabs open

[2022-11-11 23:10] mejrs commented on #102473
At the time this was posted we had a small discussion on discord...and I think the main issue with it is that the error message has a lot of focus on "this doesn't implement Copy". When this error comes up a lot of newbies seem to assume they can fix it by implementing `Copy`, which they obviously can't for things like String or PathBuf.

[2022-11-11 23:20] #103435 closed

[2022-11-11 23:20] #95186 closed

[2022-11-11 23:20] #102576 closed

[2022-11-11 23:20] #95187 closed

[2022-11-11 23:20] #103474 closed

[2022-11-11 23:21] BGR360 commented on #102473
Okay. So perhaps we could change "does not implement the Copy trait" to say "cannot be trivially copied" and only suggest "try implementing the Copy trait" if the type is local?

But this does not address the problem raised by this issue still, right?

So to go further, for foreign types, we could suggest .clone() if the type is Clone, and/or suggest & if the function can also be invoked with a re

[2022-11-11 23:34] cdstanford commented on #79524
@pickfire thanks for the answer, but `.collect()` also allocates, right?

[2022-11-11 23:50] Jules-Bertholet commented on #79524
`collect()` calls a `FromIterator` impl, which is provided by the collection being collected into. So there is no allocation code in the definition of the `Iterator` trait

[2022-11-12 00:08] pkubaj commented on #104220
[code]
FreeBSD doesn't have libatomic. LLVM is used in the base system, libatomic is GCC's component.

[2022-11-12 00:19] mejrs commented on #102473
Well, I hadn't really thought about it that much. I was/am planning to make a proper discussion/a PR once I have some concrete ideas. I am thinking something along the lines of
[code]

In my experience explaining Copy and moving and copying in terms of the binding remaining valid or getting invalidated works quite well, so I'd rather nudge newbies towards thinking "can i avoid invalidating path?"

[2022-11-12 00:37] pkubaj commented on #104220
And yes, I build natively.

[2022-11-12 02:09] cdstanford commented on #79524
Right, so how is join different? Here's the definition for collect:
[code]
And here's join:
[code]

[2022-11-12 05:22] chenyukang commented on #104088
Which one is a more proper?

[code]

[2022-11-12 05:33] chenyukang commented on #104088
And, this actually is a valid code

[code]

We only report for identifer starts with digit and also contains some chars which is not digit, and it's not a valid number literal？

[2022-11-12 08:41] jruderman opened #104311 "Error "expected identifier, found reserved identifier" is slightly weird"
### Code

[code]

or

[code]

or

[code]

or

[code]

### Current output

[code]

### Why this might be a problem

Reading this made me wonder: "Is a reserved identifier a type of identifier?"

idk, maybe it's fine

### Suggested improvement

These could each have unique messages such as:

* "the placeholder `_` is not allowed as the name of a struct field"
* "the placeholder `_` is not allowed as

[2022-11-12 08:44] jruderman opened #104312 "ICE "const parameter out of range" with duplicated const param name in trait"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary>Full output including backtrace</summary>

[code]

</details>

### Regression

Regression in nightly-2021-04-26, possibly from #84299 (@lcnr)

### Version

[code]

@rustbot label +A-const-generics

[2022-11-12 08:50] nikic commented on #104220
If FreeBSD doesn't have libatomic, what library provides atomic libcalls instead? I found https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=230888 which makes it sound like these are supposed to be provided by compiler-rt (which is super suspicious, because `__atomic` builtins must be provided by a shared object with a globally shared mutex, not a static library).

In any case, this sounds like an

[2022-11-12 09:11] gimbles commented on #104311
@rustbot claim

[2022-11-12 10:04] jruderman commented on #104312
Here's a simpler case that ICEs in a similar way.

It ICEd at least as far back as nightly-2018-01-01 (with the `dyn` keyword removed for older versions).

[code]

Output:

[code]

<details><summary>Full output</summary>

[code]

</details>

[2022-11-12 10:11] jruderman commented on #104312
A similar thing was fixed a week ago in #103790 but maybe a more general fix is needed.

[2022-11-12 10:41] RalfJung opened #104313 "rustdoc "source" links are not clickable"
To reproduce, navigate to https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/struct.Ty.html and click the the "source" link for any of the methods. Nothing at all happens when I do that. I tried Firefox and Chromium.

This seems to be a fairly recent regression.

@rust-lang/rustdoc

[2022-11-12 10:42] SparkyPotato commented on #104276
@rustbot claim

[2022-11-12 10:43] pkubaj commented on #104220
Yes, compiler_rt is used. Is it possible to disable generating those atomic calls?

[2022-11-12 10:52] netsutetsu opened #104314 "`Fn` implementation for function pointers to method of `~const` bounded trait are not `const`"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&gist=1270f1da3bf2592d31626173f59f453b)):
[code]

I got an compile error:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-11-12 10:53] GuillaumeGomez commented on #104313
It's because it's under the `h4` for some reason. Let's see what changed in the last few days.

[2022-11-12 10:55] GuillaumeGomez commented on #104313
I think it's because of https://github.com/rust-lang/rust/commit/303653ef65a337b21226a52546615936225fb5af. I'll try to send a fix today.

[2022-11-12 10:57] netsutetsu commented on #104314
@rustbot label: +A-const-fn +F-const_trait_impl

[2022-11-12 11:03] #102371 closed

[2022-11-12 11:03] #104183 closed

[2022-11-12 12:44] GuillaumeGomez commented on #104313
It's because `.code-header` added a `position: relative` to have a correct positioning of the tooltip on mobile devices.

[2022-11-12 14:26] NobodyXu commented on #99262
@yaahc I'd want to stablise the feature and I'd like your feedback.

[2022-11-12 14:40] winxpqq955 commented on #101666
@rustbot release-assignment

[2022-11-12 15:26] weiznich opened #104322 "New overflow error while compiling `wundergraph`"
### Code

I tried this code:

[code]

I expected to see this happen: Code compiles, is it does with rust 1.64
Instead, this happened: Compiler emits new overflow error

[code]

### Version it worked on

It most recently worked on: 1.64

### Version with regression

`rustc --version --verbose`:
[code]

@rustbot modify labels: +regression-from-stable-to-stable -regression-untriaged

[2022-11-12 15:48] weiznich commented on #104322
`cargo bisect-rust` points to the following says that the regression was introduced in `nightly-2022-08-23`
It points to the following commit range: c0941dfb5a7d07ef2d70cc54d319669d9d6f6c01 to 015a824f2dffe32707fceb59c47effaf7b73486c

[2022-11-12 16:33] #67751 closed

[2022-11-12 16:47] nicholasbishop opened #104326 "Undefined symbols when linking `i686-unknown-uefi` without using `-Zbuild-std`"
Simple repro:

[code]

[code]

Compile with `cargo build --target i686-unknown-uefi`. This fails with undefined symbols `___udivdi3` and `___umoddi3`.
<details>
<summary>Full output</summary>

[code]

</details>

Interestingly, the error does not reproduce when using `-Zbuild-std`. Compiling with `cargo build --target i686-unknown-uefi -Zbuild-std=core,compiler_builtins` is successful.

### Meta

[2022-11-12 16:47] nicholasbishop commented on #104326
@rustbot claim

[2022-11-12 17:07] jruderman opened #104327 "ICE "compute_type_of_item: unexpected item type""
### Code

[code]

### Error output

[code]

<details><summary>Backtrace</summary>

[code]

</details>

### Regression

Regression in nightly-2022-10-06, more specifically in rollup dd8c3a80dd2e5a0b62c3ef77511f3296070f78e2.

Likely from #102670, which modified this error message.

<details><summary>Error message prior to the change</summary>

[code]

</details>

### Version

[code]

[2022-11-12 17:07] compiler-errors commented on #104314
I think this is because `Default` is not marked as a `#[const_trait]`.

[2022-11-12 17:07] jruderman opened #104328 "ICE: DefId for Sized does not have a "type_of""
### Code

[code]

### Error output

[code]

<details><summary>Backtrace and bonus delay_span_bug ICE</summary>

[code]

</details>

### Regression

Regression in nightly-2022-10-06, more specifically in rollup dd8c3a80dd2e5a0b62c3ef77511f3296070f78e2.

Likely from #102670, which modified this error message.

<details><summary>Error message prior to the change</summary>

[code]

</details>

### Ver

[2022-11-12 18:32] LeCyberDucky opened #104331 "Suggest type annotation when creating array of slices."
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

By annotating the variable with the correct type, everything compiles without a problem:

[code]

 It would be nice, if the compiler could suggest this change to the code.

[2022-11-12 18:43] MolotovCherry commented on #90780
Thanks to the above comment, I was able to find a solution to these problems.

Download and install the driver for arsenal image mounter, then go to [this page](https://github.com/ArsenalRecon/Arsenal-Image-Mounter/tree/master/Command%20line%20applications) and download aim_ll.zip, then you can create a volume (as a startup script even) like so

[code]
See the cmdline details for more info, but wi

[2022-11-12 20:00] eap314 commented on #39412
These suggestions might be out of scope for this discussion, but it beats the RFC process, so
- hygiene could be (mostly) achieved by having macros prefix functions with h_ and normal functions be prefixed uh_
- If you don't want hygiene, you could use a keyword like `unhygienic` to prefix with uh_
[code]

To bring up the out of scope part,

- Proc macros can be preprocessed, removing the need for

[2022-11-12 20:11] saethlin commented on #59375
https://godbolt.org/z/rKb5vYqWb

It looks to me like this was fixed in 1.59, the PartialEq implementation is now inlined at `-Copt-level=1`.

cc @alice-i-cecile

[2022-11-12 20:27] #104242 closed

[2022-11-12 20:27] #104248 closed

[2022-11-12 20:27] #104313 closed

[2022-11-12 20:38] #59375 closed

[2022-11-12 20:49] saethlin commented on #92993
This smells like a duplicate of https://github.com/rust-lang/rust/issues/44099

[2022-11-12 21:07] jswrenn commented on #79524
Inclusions to the standard library must meet very high bars for ergonomics and performance. Meeting those standards for `Iterator::join` is going to be tricky.

In many situations, the implementation you propose above is going to be less efficient than writing:
[code]
...since that usually does not require cloning the separator. This alternative is also more flexible, as it does not require that t

[2022-11-12 21:36] cdstanford commented on #79524
I see what you're saying, but the most common case is [`Separator = &str`](https://doc.rust-lang.org/stable/std/slice/trait.Join.html), which only clones the &str pointer (not the string itself). I'm not aware of the use cases where `iter.collect::<Vec<_>>.join(sep)` is more efficient -- on the contrary, I think it's most common that this is less efficient, due to allocation, and users are doing i

[2022-11-12 21:39] Shadlock0133 opened #104336 "For E0401, mention item definition being the problem"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I didn't fully understood why there are places you can't use generic parameters inside a function. When someone mentioned that the issue is that items act as if they are defined outside (with only their name being scoped), I understood (I think) that these "places" are exactly item defi

[2022-11-12 21:48] saethlin commented on #63258
I do not think this is a miscompilation, just dubious code dating back from when we _really_ didn't know much about UB in Rust that results from the rest of the language design.

The code in question executes UB, or tries to. `Box` has a niche: it may never be null and the compiler is allowed to assume that. But this code tries to create an uninitialized `Box`, which may have any bit pattern, incl

[2022-11-12 22:49] alice-i-cecile commented on #63258
Great, I'm going to close this out now then.

[2022-11-12 22:49] #63258 closed

[2022-11-12 23:06] saethlin commented on #38175
I extracted what I think is supposed to be the slow and fast version from the playground link above. It looks like this was fixed with rustc 1.20: https://godbolt.org/z/r8vcx64Kx Squinting at the LLVM IR in the gist linked above, it seems like the same pile of 1-byte moves that are emitted by rustc 1.19, but collapsed down by rust 1.20.

cc @alice-i-cecile

[2022-11-12 23:31] #38175 closed

[2022-11-12 23:42] compiler-errors commented on #104322
Very likely to have regressed in #100757, thus related to #103274 probably.

[2022-11-12 23:45] netsutetsu commented on #104314
I originally encountered this with `Clone`, I'll fix.

[2022-11-12 23:59] compiler-errors commented on #104336
I'm not sure if I like explicitly enumerating what "items" are in Rust. Maybe we can just link to the Rust reference: https://doc.rust-lang.org/reference/items.html

Or label the item more explicitly like:

[code]

(With much better wording, of course)

[2022-11-13 00:25] compiler-errors commented on #104312
This fix probably needs to go into the resolver -- Using `#N` to distinguish the identifers in the example:

[code]

I *think* the issue is that `A#3` is resolving to `A#2`, instead of `A#1`, so when we do the partial substitution of default const params, we end up trying to look for `A#2` while `A#2` is being created.

[2022-11-13 01:17] inanna-malick opened #104343 ""type checking requires MIR building" query cycle with Async and GATs"
I tried this code using GATs and the async feature

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8856ef117840a1d3b4be93441c2b36b1

I expected it to compile. For reference, the same code implemented using manual `.then` future chaining compiles as shown here:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8cd834a4ff4d4b969d6ba1de9db91fee

Note

[2022-11-13 02:25] typesanitizer opened #104344 "Incorrect/Confusing cross-linking in docs for miette crate"
On docs.rs, looks like there is some mistake in the source links in the miette docs. You can try it yourself:
- https://docs.rs/miette/latest/miette/struct.Error.html (which is currently https://docs.rs/miette/5.4.1/miette/struct.Error.html)

Or see the screen recording below:

https://user-images.githubusercontent.com/7187503/201502553-0a45c222-84a2-4e05-aba6-c7e14eab517d.mov

I would expect that

[2022-11-13 03:54] nam178 commented on #70263
I believe I am hitting a similar problem, I'm trying to create a function that takes a string, or a closure that returns a string:
Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2cba77d590430996665c8f174c27b6ed
`// Represents anything that can generate a string
pub(crate) trait ErrorMessageProvider<TTarget>
{
    fn provide(&self, target: &TTarget) -> String;
}

[2022-11-13 04:43] netsutetsu commented on #104314
@compiler-errors I fixed the example.

[2022-11-13 04:47] yaymukund opened #104346 "`assert_eq!()` only infers the type of an `into()` invocation if it's the *second* argument"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a722f1455f7795cc26d02023eb1a6bb7

I tried this code:

[code]

I expected the code to compile and run without errors.

Instead, it errors that it cannot infer the type of `into()`. It only infers the `into()` if it's the *second* argument to `assert_eq!()`.
[code]

### Meta

This is from the playground linked above:
[code]

I

[2022-11-13 05:19] yaymukund commented on #88947
Sorry about that, I wrote the script but did not see this until just now, a year later 😓

Is this still an issue? Has the script been useful / would it be worth taking another look?

[2022-11-13 05:48] tanveerraza789 commented on #93844
I would like to work on this issue with a little guidance. Can anyone help get me started? this is my first issue.

[2022-11-13 06:23] dis-da-moe commented on #42849
Some questions from implementing this feature:

1. Should the closure also accept an `&mut T`? An item could be mutated to violate the heap order. Two possible solutions:
    1. Change the closure to accept an `& T`. This would mean one less feature and make this implementation inconsistent with others. But it would avoid the complexity of 2.
     2. Change the closure to accept a struct that beha

[2022-11-13 06:28] eddyb commented on #104343
Note that this a cycle between type-checking and resolving an `-> impl Trait`, as made clear by:
[code]
(`::{opaque#0}` refers to the unnamed def for an `-> impl Trait`, in this case the implicit `-> impl Future` used by `async fn`)

Sadly the rest of the cycle is irrelevant and could ideally be cut out - part of the problem is `computing type of` is just the `type_of` query, it might be easier to

[2022-11-13 06:34] eddyb commented on #104343
It's likely all the auto-trait bounds you have (`Sync`/`Send`), minimal example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1f81e401391f25daf2d3ff49e326171f):
[code]
[code]

[2022-11-13 06:55] eddyb commented on #104343
It is, in fact, `Sync`/`Send`, though I had to start reducing before noticing `BoxFuture`/`FutureExt::boxed` require `Send`, heh - in the end, was able to go all the way back to `1.43.0`: https://godbolt.org/z/b6MjcqPd5

So this has nothing to do with GATs, it's just perhaps not the kind of code you'd write without GATs.

[2022-11-13 07:33] jruderman commented on #83056
Still ICEs, but the error message has changed several times. Here's the current ICE for the "slightly smaller" testcase:

[code]

<details><summary>Backtrace</summary>

[code]

</details>

[2022-11-13 07:55] jruderman opened #104352 "must_use lint: add with overflow"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

When trying to build using a compiler that has overflow checks enabled:

thread 'rustc' panicked at 'attempt to add with overflow', [compiler/rustc_lint/src/unused.rs:284](https://github.com/rust-lang/rust/blob/aa05f99001924004757ebd44b54bb6a4dd30c8bd/compiler/rustc_lint/src/unused.rs#L

[2022-11-13 08:48] leonardo-m commented on #104331
An alternative solution:

    let output = [&1_u8.to_le_bytes()[..],
                  &1_u16.to_le_bytes()[..]];

[2022-11-13 08:48] jhpratt commented on #82814
Going through the full list now. I'm only going to be adding methods that are already stable, as the unstable methods are tracked in their associated issues.

[2022-11-13 09:13] #104255 closed

[2022-11-13 09:13] #104271 closed

[2022-11-13 09:13] #104238 closed

[2022-11-13 09:36] SkiFire13 commented on #104288
The issue title seems to be swapping the `impl` and `for<'a>`

[2022-11-13 09:42] joboet commented on #84187
This guideline came up whilst discussing #104329. However, I find the wording here to be confusing:

sounds to me like the exact opposite of

Furthermore, this part of the guideline is clear

but it is very limiting. Some code (like [the generic fallback for `Once`](https://github.com/rust-lang/rust/blob/master/library/std/src/sys_common/once/generic.rs)) has no place inside `sys` since it is shar

[2022-11-13 11:27] Nilstrieb commented on #104352
@rustbot claim

[2022-11-13 11:31] zachs18 commented on #98407
For the same reason that `Exclusive` can unconditionally implement `Sync`, I believe it can also unconditionally implement [`core::panic::RefUnwindSafe`](https://doc.rust-lang.org/core/panic/trait.RefUnwindSafe.html) (which claims that a shared reference to the type is unwind-safe (i.e. can cross a panic boundary without introducing logic errors), which `&Exclusive` is, because it has no API).

I

[2022-11-13 11:52] albertlarsan68 commented on #104346
I found https://github.com/rust-lang/rust/issues/87931, which seems to be the same issue.

[2022-11-13 11:54] pfmoore opened #104358 "std::process::Command on Windows does not correctly find the program executable"
If I run the following code:

[code]

I expect the `C:\Windows\py.exe` program to be run with the argument `-V`, which will print the version of Python I have.

Instead, this happened:

[code]

The code appears to have somehow decided that the executable is `C:\Users\Gustav\AppData\Local\Programs\Python\Python311\py" -V`. I understand from #37519 and #87704 that rust implements its own search for

[2022-11-13 12:19] RalfJung commented on #82523
The problem is that the macro has no idea that the entire type is copy. When it sees a type parameter, it has to conservatively assume that there might be non-`Copy` instances of this type.

I'm not familiar with our `derive` machinery -- I guess in theory it could special-case the `T: Copy` bound, but not sure if that would be a good idea.

[2022-11-13 12:26] mitsuhiko commented on #82523
I don't believe this is correct. I did not look at the implementation yet, but I looked at what `cargo expand` produces and it seems to understand that the type is `Copy`:

This code:

[code]

supposedly expands into

[code]

[2022-11-13 12:28] RalfJung commented on #82523
It works fine for monomorphic type. The issue is that your type is generic, and the [error message](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=64d0653465fd27adb15df90af52aa68d) says as much:
[code]

[2022-11-13 12:32] petrochenkov commented on #99425
Stabilization PR - https://github.com/rust-lang/rust/pull/104360.

[2022-11-13 12:37] vladimir-ea commented on #103508
@thomcc This was a bit of a 'wild goose chase' but I finally found out what the issue is: https://github.com/rust-lang/rust/pull/104361.

[2022-11-13 12:44] mitsuhiko commented on #82523
My comment was specific to this part of your reply:

What i meant to say by that is that the derive already does different behavior for a type that derives `Copy` and `Clone`. So in theory instead of erroring it could just generate the right thing in that case for packed structs.

[2022-11-13 13:03] RalfJung commented on #82523
It special-cases `Copy` being *derived*, yes. But to support your case we'd have to do something entirely new -- we'd have to inspect the bounds of the generic type parameters, and then if they are all `Copy`, do something based on that.

The problem, as I mentioned above (but that was an edit so maybe you missed it) is that we absolutely have to reject this code
[code]
which is very similar to yo

[2022-11-13 13:06] RalfJung commented on #82523
A more promising approach might be to replace the current check "if it is packed then it must `derive(Copy)` and not have any generics" by another check: when generating `Clone` (or `Debug`, and it might work for other traits too) on a packed struct, where we usually just add bounds that require each field to be `Clone`/`Debug`, we now add bounds that require each field to be `Clone+Copy`/`Debug+C

[2022-11-13 13:23] RalfJung commented on #82523
Ah... there's an annoying case here. This also works without any `impl Copy`:
[code]
So a `derive(Clone)` on a packed type without a `derive(Copy)` cannot really tell if it is supposed to just create references to fields anyway (which works under some special circumstances) or whether it is supposed to just create a copy anyway (which works if the user either wrote an `impl Copy` or added enough t

[2022-11-13 13:34] oli-obk commented on #97699
Has this been resolved by https://github.com/rust-lang/rust/pull/103970 ?

[2022-11-13 13:48] albertlarsan68 commented on #97699
The error message is
[code]
without `rust-src` installed, and
[code]
with the `rust-src` component installed with `rustc 1.67.0-nightly (6284998a2 2022-11-12)` on `x86_64-pc-windows-msvc`

[2022-11-13 14:01] RalfJung commented on #82523
I checked the first 10 regressions that came up in that previous PR, and I think they are all in one of the following cases:
- the derived trait is `Default` (which we can just allow on packed, no reason to have any restrictions here)
- the derived trait is `Clone` or `Debug` and all fields are `Copy` (which we can support with the approach I outlined above)

So this makes me quite hopeful that we

[2022-11-13 14:10] ChrisDenton commented on #104358
What's the output of `py -V` on the command line?

[2022-11-13 14:28] petrochenkov commented on #104145
Fixed in https://github.com/rust-lang/rust/pull/104364.

[2022-11-13 14:45] RalfJung commented on #97699
So it does not seem entirely resolved -- the 'unable to copy parts of a pointer from memory at alloc6+0x1' is still missing completely when rust-src is not installed.

[2022-11-13 14:58] jruderman opened #104367 "ICE "Mismatched open/close delims" with `derive` and multiple syntax errors"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### ICE

[code]

<details><summary>Full output including backtrace</summary>

[code]

</details>

### Regression

Possibly a regression in nightly-2021-04-12, perhaps from #84023.

It's hard to tell with such a cursed testcase.

### Version

[code]

[2022-11-13 14:58] jruderman opened #104368 "ICE "Bad tokens for attribute Attribute" with `cfg_attr` and multiple syntax errors"
Found while reducing #104367

### Code

[code]

### ICE

[code]

<details><summary>Full output including backtrace</summary>

[code]
</details>

### Regression

Possibly a regression in nightly-2020-10-25, perhaps from #77255.

It's hard to tell with such a cursed testcase.

### Version

[code]

[2022-11-13 15:02] #39364 closed

[2022-11-13 15:10] typesanitizer opened #104369 "Compiler error after running cargo clippy --fix"
Configurations checked:
- `clippy 0.1.66 (42325c52 2022-11-11)`, `cargo 1.67.0-nightly (9286a1beb 2022-11-04)` (via `cargo +nightly clippy --fix`)
- `clippy 0.1.65 (897e3755 2022-11-02)`, `cargo 1.65.0 (4bc8f24d3 2022-10-20)`

If you clone the repo with the initial commit:

https://github.com/typesanitizer/pichpich/tree/b971066734479f1bae779a0fa481fdc0d2b4e458

Then running `cargo clippy --fix` gi

[2022-11-13 15:56] pfmoore commented on #104358
`Python 3.11.0`

[2022-11-13 16:36] ChrisDenton commented on #104358
Ok, so this status means that Rust ran the `py` command successfully but that `py` returned an error (101).

[code]

The following line seems to be coming from the `py` launcher itself (and not Rust):

[code]

The fact `py -V` works on the command line suggests that it's something different in the environment. You could try setting  the `PYLAUNCHER_DEBUG` environment variable to `1` and noting the

[2022-11-13 16:53] sceedy opened #104371 "x86_64-pc-windows-gnu static library g_param_spec_types label problem"
I created a static librsvg-2.55.1 for target x86_64-pc-windows-gnu and when I came to link it I had problems linking to a static glib.
[label_problem.txt](https://github.com/rust-lang/rust/files/9997743/label_problem.txt)
[CACHEDIR.TAG.txt](https://github.com/rust-lang/rust/files/9997744/CACHEDIR.TAG.txt)
I got unresolved references to __imp_g_param_spec_types when the actual label in the library

[2022-11-13 16:59] dumindu commented on #37854
🤷
![36235598](https://user-images.githubusercontent.com/1280428/201534033-b1aa2e5e-8d44-4730-ab18-049bb4e85de7.jpg)

[2022-11-13 17:06] pfmoore commented on #104358
Hmm, interesting. Thanks. I thought I'd managed to eliminate the launcher as the issue, apparently not :-(

Yeah, PYLAUNCHER_DEBUG shows the problem is clearly with the launcher. I should have thought to try that. The Python 3.11 launcher is a complete rewrite, and it's had some weird bugs. I thought we'd caught the worst ones though. This looks similar to one I've seen before.

Thanks for the hel

[2022-11-13 17:06] #104358 closed

[2022-11-13 17:18] alice-i-cecile opened #104373 "Struct update syntax produces very confusing error messages when comma before .. is missed"
Begin with the following working code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fb4c4c5e78cd9c3f549cdd806e68388a

Then, delete the `,` before `..Default::default()`, resulting in:

[code]

The current output is:

[code]

Ideally the output should explain that struct update syntax requires a comma separating the last field from the `..` notation and point to that line

[2022-11-13 17:31] greenhat opened #104374 "Non-unique argument names should not be allowed in a trait method"
I tried this code (see the `A::f` arguments have the same names - `a`):

[code]

I expected to see this happen: ~~the compiler throws an error.~~ the compiler shows a warning (if enabled). EDIT: The hard error is too much. The lint fits better. See the comments below.

Instead, this happened: the compiler accepted this code.

### Meta
`rustc --version --verbose`:
[code]

[2022-11-13 17:38] compiler-errors commented on #104373
This is always suggested at the bottom--how do you think that message can be improved?

[2022-11-13 17:47] greenhat commented on #104374
I'd like to take a stab at it.

[2022-11-13 17:48] jackh726 commented on #104343
Wow, thanks for the analysis here @eddyb!

This is a tough one. We essentially need to recognize coinductive cycles across queries. Or, we have to delay checking the bounds of `require_sync(test())` until after we've identified the type of `impl Copy`. But then what about:

[code]

(I don't this problem *can* compile, because we should never be able to figure out what `T` is; but the point I'm mak

[2022-11-13 17:55] jyn514 commented on #104343
@jackh726 it should be possible to delay checking bounds if they don't affect the return type of the function, right? First infer the return type as i32, then check the Send bound? I agree your code can't compile, but I think eddyb's MCVE should be possible in theory.

[2022-11-13 17:57] eddyb commented on #104343
I think one of my early implementations actually solved this problem, but in a way that I don't trust to be sound wrt queries (esp. incrementally) - all it did is really just defer such obligations as much as possible (into `TyCtxt`-global state AFAIK), and checked them _only after_ forcing `type_of` for all `-> impl Trait`s (so no more cycles can occur).

Maybe a sound way to do this would be to

[2022-11-13 17:58] alice-i-cecile commented on #104373
Swapping the order or removing the first error completely would help: the latter is much more relevant and beginners often get flustered after the first incomprehensible error message.

The other problem is that you get a copy of this error message for each missing field

In terms of text, I would try something closer to:

[code]
The fields aren't missing: the user has clear intent to declare them

[2022-11-13 18:02] jonhoo commented on #103606
Sorry it took me forever to get back to this!

Note that the default was specifically changed to statically build against libstdc++ in https://github.com/rust-lang/rust/pull/94832. The reasoning was that it was already the default whenever `llvm-tools` was included, which seems fairly common, and so we didn't want to suddenly change the default (though aiui, the PR here does). The second part of t

[2022-11-13 18:06] jyn514 commented on #103606
Hmm, we could gate the default on `channel = dev`, maybe. I think I should have a larger conversation with @Mark-Simulacrum about defaults based on the channel, I think defaulting to `profile = user` for a non-dev channel would sidestep a lot of these issues.

[2022-11-13 18:16] RalfJung commented on #103606
Most people working with `x.py` and developing rustc won't build their own LLVM, x.py will download the one from CI for them. Did this here also change the way that that LLVM is built?

[2022-11-13 18:22] compiler-errors commented on #104374
This is not something that can be turned into a hard-error straight away, since it would break backwards compatibility. This should probably be made a lint first, then discussion can be had whether or not to promote it to a hard error.

[2022-11-13 18:23] Urgau commented on #104374
This has been valid code (no compiler error and no warnings) since Rust 1.0: https://rust.godbolt.org/z/7daPYqce7

And as `@compiler-errors` said should really be a lint first, whenever it should be enable by default or made into a error is a question for later.

[2022-11-13 18:33] kubycsolutions commented on #103606
The intent was that it would leave LLVM unchanged, affecting only default build of the full compiler. I must admit I haven't done before-and-after comparison of the LLVM to validate that.

--
   /_  Joe Kesselman (he/him/his)
-/ _) My Alexa skill for New Music/New Sounds fans:
   /   https://www.amazon.com/dp/B09WJ3H657/

() Plaintext Ribbon Campaign
/\ Stamp out HTML mail!
_______________________

[2022-11-13 18:34] pierwill commented on #104373
Hello, I have a draft PR to address this here https://github.com/rust-lang/rust/pull/103838.

[2022-11-13 18:38] kubycsolutions commented on #103606
This started as a suggestion to just add static-libstdcpp to the list of dependencies in the README, rather than having the user go thru discovering its absence only by building.

We could still discard my change set and go back to that, if it's the better answer I won't be offended.

--
   /_  Joe Kesselman (he/him/his)
-/ _) My Alexa skill for New Music/New Sounds fans:
   /   https://www.amazon

[2022-11-13 18:40] RalfJung commented on #103606
To be clear I am happy about this change for entirely unrelated reasons.^^ It brings me one step closer to having rustc_llvm not be rebuilt when I share a build cache between the flatpak sandbox and the host.

I just don't understand why this helps, since I figured either way I must link to the downloaded LLVM. There is logic in bootstrap that prevents one from (un)setting LLVM options, but it see

[2022-11-13 18:48] jyn514 commented on #103606
@RalfJung see https://github.com/rust-lang/rust/pull/104289 for how we got the downloaded llvm to remain unchanged while still changing the default

[2022-11-13 18:48] #103606 closed

[2022-11-13 18:54] RalfJung commented on #103606
Looks like a wrong link? I think you mean https://github.com/rust-lang/rust/pull/104245.

[2022-11-13 19:37] jyn514 commented on #103606
That might be a bug ... Can you open an issue?

[2022-11-13 19:46] TimNN opened #104377 "Possible Undefined Behavior due to Thin LTO imports"
As part of Thin LTO, functions from one module (or codegen unit, in Rust terms) get imported into other modules. I've observed _**incompatible**_ definitions/declarations get imported:

Assume we start with (in pseudo-LL) in some module **`X`**:

[code]

Dead argument elimination comes along and does:

[code]

So far so good. But now Thin LTO comes along and runs on a module **`Y`** that doesn't c

[2022-11-13 20:16] ibraheemdev commented on #95439
Would it be better to have a generic `AlwaysSync<T>` wrapper? Constructing it in general would be unsafe but it could have a safe `From<UnsafeCell<T>>` implementation.

[2022-11-13 20:19] jruderman opened #104379 "check_for_deref_method suggestion can still introduce a parse error"
This is a variant of #103271 that wasn't fixed by #103675.

Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=00b0cf8f0967a5f2eedc7d230d4aed5b)):

[code]

The current output is:

[code]

The suggestion isn't quite right, because introducing angle brackets here (already within angle brackets) produces a parse error.

### Version

[code]

[2022-11-13 20:20] yshui commented on #90850
@ibraheemdev this still generates better code than `downcast_ref().unwrap_unchecked()`.

[code]

compiles to

[code]

whereas

[code]

becomes

[code]

Both compiled with `opt-level=3`

[2022-11-13 20:21] yshui commented on #90850
I think llvm didn't realize that `T::type_id` is pure, so it keep the call.

(is `type_id()` pure?)

[2022-11-13 20:22] RalfJung commented on #103606
What is a bug? I don't know what I am talking about here.^^ I just observe that, if I understood the code correctly, `default_opts` is used when using LLVM from CI. There are checks that will error if any of these settings is locally changed.

[2022-11-13 20:24] TimNN commented on #104377
I'm not really familiar with the details of how (thin) LTO works / is implemented in `rustc`, but I'm currently thinking that the bug is probably on the LLVM side, and that the fix would be something along the lines of:

When importing a `define x` from a module `A` into a module `B`, then all globals referenced by `x` that are `define`d in `A` must also be imported (even if `B` already contains a

[2022-11-13 20:28] mati865 commented on #103606
We build dist with static libstdc++.

[2022-11-13 20:30] cr1901 commented on #20267
I ended up needing something like this for crates that's intended to be used from C, but can also in principle be used in a Rust binary crate:

All but one of the crates define an `extern "C" { static mut GLOBAL: Foo }` if compiled as an `rlib`. The remaining `rlib` and each crate compiled as a `staticlib` define `#[no_mangle] static mut GLOBAL: Foo = Foo::new()`. This works for `staticlib`s becau

[2022-11-13 20:31] RalfJung commented on #103606
Yes. And then local bootstrap uses the default value for `llvm_static_stdcpp` which is `true`. So there is a mismatch. Right?

It seems to work though...

[2022-11-13 20:45] yshui commented on #90850
huh, why is type_id not stored directly in the vtable?

[2022-11-13 21:06] nikic commented on #104377
Yeah, this is a problem on the LLVM side, I'd suggest opening an issue there.

Don't think we need to go that far, probably using the attributes from the imported definition rather than the declaration would be sufficient?

[2022-11-13 21:12] #104276 closed

[2022-11-13 21:26] Mark-Simulacrum commented on #88947
I think we have had pretty good success just holding ourselves to a higher bar of forward-porting to master when needed, so I think there's not been a problem from not having the script (and in practice it does impose some cost). I think for now we don't need to fix it.

My current hope is that we will migrate backports to be largely generated either automatically (by triagebot) on PR tagging, whi

[2022-11-13 21:47] Shnatsel commented on #103932
I am encountering this on `cargo install` **without LTO.** (Or at least I'm not explicitly enabling LTO, and I don't have LTO enabled in `~/.cargo/config.toml`). Builds in local projects work fine, only `cargo install` is affected.

[code]
Adding the following to `~/.cargo/config.toml` triggers it:
[code]
Should I open a new issue, or do you want to track this together with the LTO case?

[2022-11-13 22:09] wdanilo commented on #104174
@BGR360 hmmm, but my example does not use any unsized arguments here. The struct does include dyn trait. See the [example I linked in my post](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a353bbb0a63d867d008dcd0de4f3c3d7). It does not compile even if I add `+ Sized` there.

[2022-11-13 22:23] ehuss commented on #103932
@Shnatsel Can you put together a reproduction? Also, it might help to post the output of `--verbose` with your `cargo install` command (along with the exact command you are running).

[2022-11-13 22:29] Shnatsel commented on #103932
Here are the outputs of `cargo install --verbose`:

<details>
<summary>Successful run</summary>
[code]
</details>
<details>
<summary>Failed run</summary>
[code]
</details>

I imagine simply running Ubuntu 20.04 and adding this to `~/.cargo/config.toml` should do the trick:
[code]
But I'll verify it and let you know.

[2022-11-13 22:34] mikeyhew opened #104382 "async block with futures::stream::Buffered is not Send"
This issue was originally reported in https://github.com/rust-lang/futures-rs/issues/2636, but it looks like a bug in the compiler.

Here is the example from that issue (posted by @Tuetuopay):

[code]

This should compile without issues, however rustc outputs this error message:

[code]

This occurs on current nightly (2022-11-11) and stable. Playground link: https://play.rust-lang.org/?version=ni

[2022-11-13 22:47] Shnatsel commented on #103932
Yes, I've verified that this is reproducible on a clean Ubuntu 20.04 installation or live CD.

Other than the commands above you need to `sudo apt install curl build-essential` and install Rust through rustup.rs

[2022-11-13 22:59] A1-Triard commented on #39412
As far as I understand it would not work for `#[no_mangle]` functions. If this is correct, then it means the suggestion just does not work.

[2022-11-13 23:01] Shnatsel commented on #103932
Oh, I see that the failed run does contain the `-C linker-plugin-lto` flag. So it *is* the same issue.

I'm confused why `cargo install` implicitly enables it by default while other invocations don't, but that's a separate issue.

[2022-11-14 00:07] ehuss commented on #103932
rustfilt sets LTO [here](https://github.com/luser/rustfilt/blob/3c81f107b73fdcf7bbb98b426c1214f15946ec90/Cargo.toml#L22-L24).  I don't know what other commands you are running, but if it is `cargo build`, then that would use the dev profile without LTO.

[2022-11-14 01:36] hhrreedd opened #104386 "Rustc 1.65.0 Sending internal compiler errors when running on x86_64-unknown-linux-gnu"
### Code

fn main() {
    println!("Hello, world!");
}
<code>
[code]
`rustc --version --verbose`:
bash-5.0# rustc -vV
rustc 1.65.0 (897e37553 2022-11-02)
binary: rustc
commit-hash: 897e37553bba8b42751c67658967889d11ecd120
commit-date: 2022-11-02
host: x86_64-unknown-linux-gnu
release: 1.65.0
LLVM version: 15.0.0

bash-5.0# uname -a
Linux build10b29b96b172 4.12.14-lp151.27-default #1 SMP Fri May 10

[2022-11-14 02:14] saethlin commented on #104386
What are you compiling and how are you compiling it?

[2022-11-14 02:20] jyn514 commented on #103606
@RalfJung the defaults are mostly ignored when using downloaded LLVM. Instead we use the settings LLVM was built with. The logic is non-trivial but unless you've run into issues I'm inclined to think there's no bug here.

[2022-11-14 03:57] joshtriplett commented on #85410
I've reviewed and approved #101967, which moves the Linux-specific methods into an extension trait.

With that merged, I don't think there are any other blockers here.

So, let's see if we have consensus to stabilize UNIX socket abstract namespace support.

@rfcbot merge

[2022-11-14 03:58] compiler-errors commented on #104382
This comment isn't particularly helpful except for other contributors, but this is another manifestation of the common "futures have trouble with higher-ranked lifetimes and auto traits" issue that comes from lifetime erasure in generator interiors, I think...

[2022-11-14 04:07] skyzh opened #104388 "capturing stack backtrace becomes slower and sometimes segfaults"
Sorry for not having a MCVE for this issue. I'm still constructing it. For now I have to refer to a large codebase to reproduce the issue.

Basically, after we upgrade from nightly-2022-07-29 to nightly-2022-10-16, we found two things:

* Capturing stack backtrace is much slower than before. A single capture can take as long as 300 ms. Previously the Backtrace::capture() at the same code location

[2022-11-14 04:23] skyzh commented on #104388
We also observed that DWARF region increased significantly between the toolchain update:

The suspicious thing

Which may relate to the slower backtrace, but I still have no idea why it will segfault sometimes...

[2022-11-14 04:24] skyzh commented on #104388
I also had an idea that it may be related to the debuginfo=unpacked stabilization, but it turned out `debuginfo` is always `unpacked` on macOS across the two toolchains? :(

[2022-11-14 05:12] lyming2007 commented on #104379
@rustbot claim

[2022-11-14 05:37] Rageking8 opened #104390 "ICE: expected ConstKind::Param here, found Const { ty: f64, kind: Error(ErrorGuaranteed(())) }: not fully fixed"
### Codes that reproduce the ICE (found using custom DIY fuzzer)

[code]
[code]
[code]
[code]
[code]
[code]

### Meta

`rustc --version --verbose`:
[code]

### Sample error output

[code]

<details><summary><strong>Sample Backtrace</strong></summary>
<p>

[code]

</p>
</details>

The original code (#104209) is already fixed by #104233, however some other mutations of the original code still ICEs w

[2022-11-14 06:10] compiler-errors commented on #104390
If the parsing error `-> impl {` is not needed to manifest the issue, can that be fixed (`-> impl Sized {`) in the MCVE you provided? since more error messages just obscures the underlying ICE that needs to be fixed here.

[2022-11-14 06:11] compiler-errors commented on #104390
(also this could probably use a more descriptive title that reflects the ICE, and doesn't just point to another issue, but that's just my opinion)

[2022-11-14 07:46] matthiaskrgr opened #104392 "ice: "Span must not be empty and have no suggestion""
### Code
Needs debug assertions
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-14 08:05] RalfJung commented on #103606
I can say for sure that changing the default of llvm_static_stdcpp changed some build details when using LLVM from CI - it no longer tells the rustc_llvm build script about where the static stdcpp is located. I am happy about the change, but the default is definitely not getting ignored.

[2022-11-14 08:14] weiznich commented on #104322
As https://github.com/rust-lang/rust/issues/103274 was reported before the release of 1.65 as regression: Are there any plans to fix this or is this expected breakage due to a "bug-fix"?

[2022-11-14 08:59] TimNN commented on #104377
Reported upstream: https://github.com/llvm/llvm-project/issues/58976

[2022-11-14 09:30] RedIODev commented on #70142
What about the addition of flatten_into.
It flattens a Result<Result<T,E1>, E2> into a Result<E>
[code]
It often happens that the nested Result to be flattend has not matching Error types but that there is an Error type that can wrap both. The flatten_into function would flatten the nested Result's Error types to the common wrapper Error that is implicitly deduced by return type.

[2022-11-14 09:31] lcnr opened #104395 "`rematch_impl` should be infallible"
https://github.com/rust-lang/rust/blob/f90a4ff26c9743abf612f015c4398d7158b646b6/compiler/rustc_trait_selection/src/traits/select/mod.rs#L2117-L2144

We currently emit a `delay_span_bug` if `match_impl` in `rematch_impl` fails. Considering that we *should* only call `rematch_impl` for impls for which we've already called `match_impl` before, `rematch_impl` should always succeed.

There are currentl

[2022-11-14 09:33] Matthew-Chidlow opened #104396 "ICE: assertion failed: key.param_env.is_const(), with -Zmir-opt-level=3, generic_const_exprs and inline(always)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-14 09:33] Matthew-Chidlow commented on #104396
@rustbot label +F-generic_const_exprs

[2022-11-14 09:35] #102430 closed

[2022-11-14 09:42] lcnr opened #104397 "unused_parens: higher ranked self type in where bounds is incorrectly handled"
[code]
results in the following lint:
[code]
following the lint results in a compiler error however:
[code]
By removing the parens this gets parsed as `for<'a> (fn(Inv<'a>): Trait)` instead of the original `(for<'a> fn(Inv(<'a>))): Trait`

[2022-11-14 09:51] lcnr opened #104398 "error messages incorrectly display where bounds with higher ranked self types"
[code]

The current output is:

[code]
The incorrect warning is tracked in #104397. The error message is also wrong though. `for<'a> fn(Inv<'a>): Trait` is a different from `(for<'a> fn(Inv<'a>)): Trait`.

[2022-11-14 10:50] est31 commented on #104374
It used to be allowed to have no parameter name at all, so `fn(u32, u32) -> u32;` until that was deprecated for editions 2018+, see #41686 .

[2022-11-14 12:23] fee1-dead commented on #103265
Here are some more thoughts:

First, let's consider a partially const trait.

[code]

Because the implementation of `b` means that any implementations could be non-const, allowing adding a non-const fn with a default body to not be a breaking change.

But some downstream implementation could be:

[code]

The problem arises from here that promoting `b` on `Foo` to a `~const fn` is now a breaking ch

[2022-11-14 12:52] psionic12 opened #104400 "no place to add evaluatable bounds to assoc const items"
Example:
[code]
The compiler will report an error:
[code]
Honestly speaking, I don't get what the suggestion means. Is it allowed to use generic_const_exprs like this? Or the only way to do this is by writing
[code]
?

[2022-11-14 12:59] kalcutter commented on #62726
Are there any concerns with the current panic behavior? If not, can this be FCPed?

[2022-11-14 13:30] JohnTitor commented on #104268
You have to use `#![feature(inline_const)]` instead of `#[cfg(feature = "unstable")]` ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5597ff68bc2328cfb5673d1e5e7731b5)).

[2022-11-14 13:42] psionic12 commented on #104400
Hi @fmease, do you know what's the right way to write code like
[code]
?
I don't want to use `trait Foo<const N: usize>` since it make the code complicated to understand (in my real case), though it works.

[2022-11-14 14:02] Nugine commented on #104268
I would like to enable `inline_const` in a stable-compatible crate when the feature flag `unstable` is set. But it cannot compile when the feature flag `unstable` is not set.

https://rust.godbolt.org/z/7rchb6PM8

[code]

[2022-11-14 14:57] JohnTitor commented on #104268
You can with ` --cfg 'feature="unstable"'`: https://rust.godbolt.org/z/e8dEjj5EP

[2022-11-14 15:51] fakedrake opened #104408 "Liberal implementation of `Send`/`Sync` for `AtomicPtr`"
I was surprised to find out that we have

[code]

instead of

[code]

and that the `AtomicPtr` methods are not marked unsafe to avoid accidentally sharing `!Send` object across threads. It doesn't seem right, am I missing something?

[2022-11-14 16:13] lcnr opened #104409 "mir typeck: subtyping cannot deal with bivariance"
[code]
results in the following ICE:
[code]
[godbolt](https://godbolt.org/z/WdM3qPM63)

This should compile

[2022-11-14 16:22] Rageking8 commented on #104409
@rustbot label +I-ICE

[2022-11-14 16:25] #96983 closed

[2022-11-14 16:46] jruderman opened #104412 "ICE: [DefId for associated constant] does not have a "fn_sig""
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary>Backtrace</summary>

[code]

</details>

### Regression

Regressed in nightly-2022-11-11 due to 5eef9b2c50ddd4e445c10043908f785b08456489 (#101990)

### Version

[code]

@rustbot label +regression-from-stable-to-nightly

[2022-11-14 17:04] yukiomoto commented on #90698
@rustbot claim

[2022-11-14 17:07] trinity-1686a opened #104414 "non-pattern macro in pattern position: include_bytes"
### Code

I tried this code:

[code]

I expected to see this happen: code compiles and execute

Instead, this happened: compilation fails with
[code]

### Version it worked on

It most recently worked on: `rustc 1.65.0 (897e37553 2022-11-02)` and `rustc 1.67.0-nightly (1286ee23e 2022-11-05)`

### Version with regression

`rustc --version --verbose`:
[code]

### Notes
used by [x509-signature](https

[2022-11-14 17:07] yukiomoto commented on #90698
Hi @jyn514

I understand that this issue is about getting backtraces for logging **without** rebuilding the compiler but may I ask if you mean there is already a way to get a backtrace for each `info!` loggings ? This might not be directly related but I'm just curious.

I'm sorry if this is a newbie question..!

[2022-11-14 17:11] Rageking8 commented on #104414
The code posted has a missing delimiter.

[2022-11-14 17:12] trinity-1686a commented on #104414
oops, fixed

[2022-11-14 17:13] clubby789 commented on #104414
@rustbot claim

[2022-11-14 17:51] the8472 commented on #104386
That looks like an EINVAL when doing `readlink(/proc/self/exe)`. Are you running in some sort of sandbox where /proc isn't available or not a procfs?

[2022-11-14 17:55] the8472 commented on #104386
You can try nightly rustc, the implementation of the affected code was changed recently.

[2022-11-14 18:01] CAD97 commented on #90850
The short version is that Rust doesn't have a way to get associated constant data from a trait object (yet).

[2022-11-14 18:04] jyn514 commented on #90698
Yes, you can turn the `info` log you're interested in into a `panic` :P but obviously that requires rebuilding and it will break half the test suite to boot.

[2022-11-14 18:11] yaymukund commented on #104346
Dupe of #87931

[2022-11-14 18:11] #104346 closed

[2022-11-14 18:17] skyzh commented on #104388
segfault backtrace:

[code]

[2022-11-14 18:44] Alexendoo commented on #98842
No longer ICEs since #104293, I would guess #100386

[2022-11-14 18:49] Alexendoo commented on #102154
No longer ICEs since #104293

[2022-11-14 19:22] hawkw opened #104421 "RustDoc panics at 'no entry found for key' when documenting code that implements the `acpi::AcpiHandler` trait"
When documenting code that depends on the [`acpi` crate](https://docs.rs/acpi/latest/acpi/) and contains a type which implements the [`AcpiHandler` trait](https://docs.rs/acpi/latest/acpi/) from `acpi`, RustDoc panics with the message 'no entry found for key'.

This panic appears to be quite similar to the one described in issue #103463. However, the commit fixing that issue was merged in #103649

[2022-11-14 19:24] hawkw commented on #104421
Oh, whoops, this looks like it might be a duplicate of #104145. I'll wait and see if PR #104364 fixes this panic as well, and if it does, this can be closed as a duplicate of #104145. My bad!

[2022-11-14 19:31] kontsaki opened #104423 "compiler panic"
Hello, only happened once and I couldn't reproduce it.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-11-14 19:41] the8472 commented on #103265
If/when we have super calls then a caller using the default impl instead of the overridden one would be less surprising.

[2022-11-14 20:48] nicholasbishop commented on #104326
It looks like there are two issues here, which I will start working on PRs for.

The first issue is that we aren't setting `clang` as the C compiler used when disting the UEFI targets. Presumably it's just defaulting to `gcc`, with the end result that C code gets compiled into ELF objects instead of PE. You can see this by running `objdump -t path/to/libcompiler_builtins.rlib`, which will show a m

[2022-11-14 22:10] skyzh commented on #104388
The latest nightly (2022-11-14) will still produce this segfault. It's somehow very easy to reproduce over the codebase, but some simple changes will make it magically work again.

Maybe related: https://github.com/rust-lang/rust/issues/47551?

[2022-11-14 22:27] BatmanAoD commented on #74990
@nikomatsakis @joshtriplett Do either of you know who should make the decision on whether to stabilize `"C-unwind"` separately from the new `"C"` behavior? In the interim, `"C"` would behave identically to `"C-unwind"`.

[2022-11-14 22:29] aDotInTheVoid commented on #102154
@rustbot claim

[2022-11-14 22:41] skyzh commented on #104388
@rustbot label +A-LLVM +I-crash

[2022-11-14 23:46] yukiomoto commented on #90698
@jyn514
I now understand what you mean. Thank you!

[2022-11-14 23:51] skyzh commented on #104388
maybe related: https://bugzilla.mozilla.org/show_bug.cgi?id=1782160

[2022-11-15 00:54] MinerSebas commented on #104344
Miette renames the Report struct here using a re-export:
https://github.com/zkat/miette/blob/main/src/eyreish/mod.rs#L18-L20

[2022-11-15 01:01] typesanitizer commented on #104344
Makes sense. Maybe the code snippet should show up as

[code]

instead of just `pub struct Error {...}`? That would make the navigation less confusing.

[2022-11-15 02:41] pkubaj commented on #104220
I succeeded to build after installing gcc, adding appriopriate -L flag to RUSTFLAGS and modifying [compiler/rustc_llvm/build.rs](https://github.com/rust-lang/rust/blob/b7b7f2716ee1655a696d3d64c3e12638d0dd19c0/compiler/rustc_llvm/build.rs#L248) to always add -latomic and -lz (that was also necessary) on powerpc (not just for crosscompiling).

[2022-11-15 03:09] skyzh commented on #104388
Can be workaround by using rust-lld:

[code]

So it looks like a bug with macOS's bundled linker?

[code]

[2022-11-15 03:16] geikoh commented on #99144
@rustbot claim

[2022-11-15 03:37] #103044 closed

[2022-11-15 04:14] mikeyhew commented on #104382
@compiler-errors out of curiosity are there any GitHub issues or Zulip chat histories worth reading that describe the general problem you're referring to?

[2022-11-15 04:23] nnethercote commented on #82523
See #104429. Requiring `Copy` on the fields of packed structs that derive builtin traits prevents the "annoying case" above from working, but it enables all the other cases under discussion, such as ones involving generics, and ones involving hand-written `Copy` impls instead of derived impls. We'll need a crater run to be sure, but it's very promising.

[2022-11-15 04:32] Jules-Bertholet commented on #97362
Suggestion: could it be allowed to elide the return type of an explicitly higher-ranked closure when it is `()`? Currently, Rust allows eliding `()` returns in all other function signatures, even when nothing else can be elided.

[2022-11-15 04:39] skyzh commented on #104388
Also maybe related:

https://bugzilla.mozilla.org/show_bug.cgi?id=1788837
https://reviews.llvm.org/D129540
https://reviews.llvm.org/D122258

[2022-11-15 04:40] joshlf opened #104430 "Are we too permissive when deriving `FromZeroes` on enums?"
When deriving `FromZeroes` on an enum, we don't require the enum to have an explicit `repr` attribute. The theory is that, regardless of repr, an enum's discriminant is well-defined [according to the reference](https://doc.rust-lang.org/reference/items/enumerations.html#custom-discriminant-values-for-fieldless-enumerations).

Though I was initially convinced by this argument, I'm now second-guessi

[2022-11-15 04:41] joshlf commented on #104430
Oops, wrong repo!

[2022-11-15 04:41] #104430 closed

[2022-11-15 06:37] zirconium-n commented on #104382
https://github.com/rust-lang/rust/issues/64552
https://github.com/rust-lang/rust/pull/92449

[2022-11-15 06:43] #103487 closed

[2022-11-15 06:43] #104145 closed

[2022-11-15 06:43] #104277 closed

[2022-11-15 06:52] matthiaskrgr opened #104432 "ICE: "Span must not be empty and have no suggestion" -Wunused-lifetimes"
### Code
code from `src/test/ui/deriving/issue-89188-gat-hrtb.rs`

requires debug assertions
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc issue-89188-gat-hrtb.rs  -Wunused-lifetimes`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-15 07:00] matthiaskrgr commented on #104432
lol, nightly emits this:D :
[code]

[2022-11-15 07:07] Rageking8 commented on #102172
Another example to produce the same ICE
[code]

[2022-11-15 08:00] scottmcm opened #104434 "Tracking Issue for `iter::repeat_n()` (`feature(iter_repeat_n)`)"
Feature gate: `#![feature(iter_repeat_n)]`

This is a tracking issue for the `iter::repeat_n` function and its associated `iter::RepeatN` type.

This is like `repeat`, but count-limited so it can re-use the buffer when generating the last item.

ACP https://github.com/rust-lang/libs-team/issues/120 is still open, but I'm sending a PR for it anyway as part of fixing a bug in `VecDeque`.

### Public

[2022-11-15 08:12] Nilstrieb commented on #100717
I'm gonna be working on `rustc_expand`

[2022-11-15 08:19] RalfJung commented on #74990
Sounds like a lang team decision to me. I think this can probably be decided with the FCP for stabilizing the feature. So I'd propose suggest you propose one of these two options, ask for T-lang FCP on that, but add a note in the nomination message that there is an alternative here and we'd like to know which way T-lang prefers.

Do we usually do stabilization FCPs on the tracking issue or the sta

[2022-11-15 08:34] insou22 commented on #39959
I was interested where that issue got fixed (I originally authored that example) so I spent some time bisecting the fix today.

bors 4a99c5f5 is the first commit that builds my example successfully, which is an auto-merge of https://github.com/rust-lang/rust/pull/97345
That PR looks (to me at least) like it's simply targeting performance improvement and seems to have unintentionally fixed the bug.

[2022-11-15 09:29] chenyukang commented on #104367
@rustbot  claim

[2022-11-15 09:38] #104412 closed

[2022-11-15 09:38] #102154 closed

[2022-11-15 09:38] apiraino commented on #104220
@pkubaj do you consider this issue as resolved? If yes, can you close it? I underatand you had to manually patch `rustc` to compile the target. Do you think that your patch would be useful for a PR upstream in rustc?

thanks @nikic for the support

[2022-11-15 09:41] chenyukang commented on #104390
@rustbot claim

[2022-11-15 09:43] e2-71828 commented on #39959
The nature of the speedup from that PR is seemingly some kind of early pruning inside the trait solver.  It’s possible that the logic used there consistently prunes away the problematic branches before they get a chance to infinitely recurse.

[2022-11-15 10:06] apiraino commented on #104412
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23104412.20ICE.3A.20.5BDefId.20for.20associated.20constant.5D.20does.20not.20have.20.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-11-15 10:27] WaffleLapkin commented on #97362
@Jules-Bertholet I don't think it's a good idea, we may want to allow inferring return type in the future, just like with normal closures.

[2022-11-15 10:32] oli-obk opened #104438 "Feed a span into the const eval queries in case of an error"
We could do that by having an `Option<Span>` argument in the query key that we only set to `Some` if we are erroring. So basically invoke it once with `None`, causing no error to be emitted, but an error to be returned, if you get back an error, invoke again with `Some(span)` and now the query can error inside.

_Originally posted by @oli-obk in https://github.com/rust-lang/rust/issues/104317#issu

[2022-11-15 10:39] matthiaskrgr opened #104440 "ICE: "Span must not be empty and have no suggestion" -Wsingle-use-lifetimes"
### Code
`src/test/ui/hygiene/generic_params.rs`
needs debug assertions
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  ./generic_params.rs   -Wsingle-use-lifetimes``
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-15 10:55] wg opened #104441 "Rust 1.65 - failed assert_eq! causes crash with SIGSEGV"
I tried this code:

[code]

I expected the program to panic with an assertion failed message and exit normally:

<pre>
<b>% cargo +1.64.0 run</b>
    Finished dev [unoptimized + debuginfo] target(s) in 0.00s
     Running `target/debug/test-segv`
thread 'main' panicked at 'assertion failed: `(left == right)`
  left: `"foo"`,
 right: `"bar"`', src/main.rs:7:5
note: run with `RUST_BACKTRACE=1` enviro

[2022-11-15 11:09] typesanitizer commented on #100477
Perhaps this warning should not be emitted for local structs? If you created a local struct with a derive, I think there is a reasonably high chance that you for that to count as a use. I just ran into this while trying to write a trait impl that ignores some fields.

[code]

[2022-11-15 11:17] apiraino commented on #104414
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23104414.20non-pattern.20macro.20in.20pattern.20position.3A.20include_bytes)).

@rustbot label -I-prioritize +P-high

[2022-11-15 11:36] c410-f3r commented on #69099
What is the current status of this feature?

[2022-11-15 11:45] oli-obk commented on #97699
ugh... I'm slowly wondering if we should enable `-Z simulate-remapped-rust-src-base=/rustc/xyz -Z translate-remapped-path-to-local-path=no` for all ui tests just to actually see the way diagnostics are shown to users normally

[2022-11-15 12:04] axos88 opened #104442 "Dropped non-sync value reported as living until the end of scope"
mem::drop(ipptr);
        mem::drop(iphdr);

I tried this code:

[code]

I expected to see this happen: *compiles*, the futurue should be `Send`, as the pointer is dropped before the call to await

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

[2022-11-15 12:17] jplatte commented on #81893
I just tested it and unfortunately it doesn't appear fixed for Ruma in `rustc 1.67.0-nightly (96ddd32c4 2022-11-14)`.

[2022-11-15 12:20] yoshuawuyts commented on #80094
### Potential concern: overlap with potential `std::iter::Zip` trait

I'm currently working on the [`futures-concurrency`](https://docs.rs/futures-concurrency) library as part of the Async WG. We're currently adding [`array::zip`](https://github.com/yoshuawuyts/futures-concurrency/issues/63) API which conflicts with the proposed API here. The API we're working on would work as a counterpart to our

[2022-11-15 12:22] GuillaumeGomez commented on #81893
Can you write a minimum code to reproduce the issue please? I think the proc-macro call might be messing with it.

[2022-11-15 12:35] #80038 closed

[2022-11-15 13:07] Mark-Simulacrum commented on #103925
@craterbot run name=beta-1.66-1.2 start=1.65.0 end=beta-2022-11-01 mode=build-and-test cap-lints=warn crates=https://crater-reports.s3.amazonaws.com/beta-1.66-1.1/retry-regressed-list.txt

[2022-11-15 13:12] Alexendoo commented on #47606
It could well be, mainly I went forward with https://github.com/rust-lang/rust/pull/103266 to avoid the other duplicate work of adding things to https://github.com/Manishearth/compiletest-rs that the in tree one already has. For example the JSON output after every test failure I believe is pretty rough on new contributors

[2022-11-15 13:47] RalfJung commented on #97699
Yeah if that is possible that would probably be good.

[2022-11-15 13:47] Mark-Simulacrum opened #104445 "regression: parameter may not live long enough"
* https://crater-reports.s3.amazonaws.com/beta-1.66-1.2/beta-2022-11-01/gh/OliverEvans96.payments-engine-example/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.66-1.2/beta-2022-11-01/gh/broxus.nekoton-wasm/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.66-1.2/beta-2022-11-01/gh/lukechu10.maple-trunk-gitpod-template/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.66-1.2

[2022-11-15 13:48] Mark-Simulacrum commented on #103925
https://github.com/rust-lang/rust/issues/104445 is the only regression that's not apriori known (e.g., const-err, https://github.com/rust-lang/rust/pull/94063)

[2022-11-15 13:49] Mark-Simulacrum commented on #103925
@craterbot run name=beta-1.66-rustdoc-1.1 start=1.65.0 end=beta-2022-11-01 mode=rustdoc cap-lints=warn crates=https://crater-reports.s3.amazonaws.com/beta-1.66-rustdoc-1/retry-regressed-list.txt

[2022-11-15 14:06] isaacthefallenapple opened #104446 "Incremental compilation breaks(?) `Rc::ptr_eq` with trait objects across function call boundary"
I found [this question](https://stackoverflow.com/questions/74443679/comparison-between-two-rcrefcelldyn-obj-unconsistent-behavior) on SO where two more or less identical calls to `Rc::ptr_eq` return different results, depending on where the `Rc<RefCell<_>>` is cast to a trait object but also how the program is compiled. It behaves inconsistently when the function in question is not inlined or whe

[2022-11-15 14:20] Mark-Simulacrum opened #104448 "rustdoc regression: no entry found for key ICE"
* https://crater-reports.s3.amazonaws.com/beta-1.66-rustdoc-1.1/beta-2022-11-01/gh/11bthornton.discord_bot_rust/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.66-rustdoc-1.1/beta-2022-11-01/gh/3tw.kanye_quote_bot/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.66-rustdoc-1.1/beta-2022-11-01/gh/5Dev24.IndeedDotCom/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.66-rustdo

[2022-11-15 14:20] Mark-Simulacrum commented on #103925
rustdoc - https://github.com/rust-lang/rust/issues/104448

[2022-11-15 14:37] Jules-Bertholet commented on #97362
@WaffleLapkin "Infer return type when it is `()`" should be forward-compatible with "infer return type always."

[2022-11-15 14:38] oli-obk commented on #97699
Well... either way, I found a way to fix this specific diagnostic, so once that is landed I'll experiment with unconditionally setting that flag on all ui tests.

[2022-11-15 14:55] petrochenkov commented on #104448
Yeah, the whole regression list needs to be re-cratered with https://github.com/rust-lang/rust/pull/103649 and https://github.com/rust-lang/rust/pull/104364 applied.

[2022-11-15 15:08] apiraino commented on #104445
I've bisected the first and last crate in the list, both point to commit  f5193a9fcc73dc09e41a90c5a2c97fc9acc16032 -> https://github.com/rust-lang/rust/pull/95474 cc @oli-obk

<details>
<summary>bisected with <a href='https://github.com/rust-lang/cargo-bisect-rustc'>cargo-bisect-rustc</a> v0.6.0</summary>

Host triple: x86_64-unknown-linux-gnu
Reproduce with:
[code]
</details>

[2022-11-15 15:10] apiraino commented on #104445
since they're regression on existing crates, let's label them as `P-critical` out of caution to signal that we want them checked before the next stable

@rustbot label -I-prioritize +P-critical

[2022-11-15 15:13] Mark-Simulacrum commented on #104445
It doesn't look like they were noted in the PR run (unless I'm missing the relevant comment). I think given the volume of breakage it likely makes sense to move ahead, but it would be great to put up PRs to these crates.

[2022-11-15 15:15] Mark-Simulacrum commented on #104448
Those PRs need to be beta-accepted before we can backport them, but will rerun crater after backport.

[2022-11-15 15:20] oli-obk commented on #104445
* https://crater-reports.s3.amazonaws.com/beta-1.66-1.2/beta-2022-11-01/gh/OliverEvans96.payments-engine-example/log.txt
    * already had a fix PR https://github.com/OliverEvans96/payments-engine-example/pull/1
* https://crater-reports.s3.amazonaws.com/beta-1.66-1.2/beta-2022-11-01/gh/lukechu10.maple-trunk-gitpod-template/log.txt
    * sycamore failure
* https://crater-reports.s3.amazonaws.com/be

[2022-11-15 15:24] apiraino commented on #104445
ah nice, thanks @oli-obk for the additional context :)

@rustbot label -P-critical

[2022-11-15 16:06] #104140 closed

[2022-11-15 16:06] #104291 closed

[2022-11-15 16:56] tmiasko opened #104451 "Unwinding intrinsics use non-unwinding ABI"
There are intrinsics like `assert_inhabited`, which can unwind, but use `rust-intrinsic` ABI that never unwinds:

https://github.com/rust-lang/rust/blob/6d651a295e0e0c331153288b10b78344a4ede20b/compiler/rustc_middle/src/ty/layout.rs#L1091-L1093

An example demonstrating the issue. The argument passed to function `f` is never dropped, when `assert_inhabited` unwinds:

[code]

[2022-11-15 17:00] nbdd0121 commented on #104451
I'll work on this after #102906 is merged.

@rustbot claim

[2022-11-15 17:15] adrian17 commented on #59352
FYI, looks like this got partially fixed somewhere in 1.64 (no clue by which commit though):
[code]

And 1.65 optimized it more, it looks mostly the same as before the regression now (only difference being `add` -> `lea`):
[code]

[2022-11-15 17:35] adrian17 commented on #85094
Looks like the reason could be different layout. I simplified the case a bit to remove the RefCell:

[code]

With the generic, llvm IR shows
[code]
Without the generic, it puts Payload at the beginning, which probably happens to help the optimizer a bit:
[code]

[2022-11-15 18:20] kennykerr opened #104453 "`raw-dylib` compilation fails targeting `nightly-i686-pc-windows-gnu` when function name begins with 'L'"
While testing `raw-dylib` support against `nightly-i686-pc-windows-gnu` I noticed that it would fail with a cryptic error.

Here's a minimal repro: https://github.com/kennykerr/repro-raw-dylib

[code]

This compiles and runs cleanly `i686-pc-windows-msvc` but fails on `i686-pc-windows-gnu` with the following error:

[code]

[code]

@dpaoliello pointed out that it seems that if we have an undecorat

[2022-11-15 18:21] dpaoliello commented on #104453
@rustbot claim

[2022-11-15 18:45] RalfJung commented on #104451
Are these intrinsics the only ones that unwind? Maybe we should just make them abort instead by calling the (fairly recent) `panic_str_nounwind`.

However, AFAIK `try` is also an intrinsic and that can unwind?

[2022-11-15 18:55] nbdd0121 commented on #104451
`try` catches unwind and it does not itself unwind.

[2022-11-15 19:00] nbdd0121 commented on #104451
My current idea is to change `assert_inhabited` to `is_inhabited` intrinsic, and then have a wrapper that checks the value and panic if true. But making them abort sounds like an easier alternative.

[2022-11-15 19:04] RalfJung commented on #104451
It should be a nice abort via `panic_str_nounwind` though.

I am honestly not sure why the intrinsics are panicking rather than returning a boolean... I think I tried that and it didn't work? But yeah bool-returning intrinsics sound better (less magic) ayway.

[2022-11-15 19:09] akrieger opened #104457 "Incorrect `unnecessary parenthesis` inside attribute parameters"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5b455db4401f5a5f2bd6bec013fab8de

[code]

The current output is:

[code]

However removing the parenthesis results in
[code]

[2022-11-15 19:25] RalfJung commented on #104451
One possible reason is that in CTFE and Miri, these intrinsics will actually abort instead of panic. Getting the `if ... { panic_str_nounwind }` to work in CTFE will be a bit of work (extending the existing hacks that make regular panicking work in CTFE, or using const_eval_select) and the backtrace will be slightly worse in Miri.

So given that we want something different implementations for Miri

[2022-11-15 19:32] saethlin opened #104458 "Type ascription + cascade of odd suggestions when : accidentally written in struct field name"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=589f710ecb28198a06e5dee851bf8613

[code]

The current output is:

[code]

Ideally the output should look like:

Something that doesn't suggest type ascription when using a stable compiler :upside_down_face:

[2022-11-15 19:47] adrian17 commented on #85094
Oh, and for the record, the real-world use case is https://github.com/kyren/gc-arena , where `allocate_naive` is (was) more or less how `Gc::allocate(context, some_big_object)` was implemented.

[2022-11-15 19:50] skyzh commented on #104441
I believe this is caused by using ld from LLVM 14 to link artifacts produced by LLVM 15. Seems to dup w/ https://github.com/rust-lang/rust/issues/104388 but it seems that you have a smaller reproducible code. Could you please share your MVCE?

[2022-11-15 20:37] fuzzypixelz commented on #104287
The code seems to (implicitly) assume that `num_trait_generics_except_self <= num_generic_args_supplied_to_trait` by doing an `std::ops::Sub<usize>`.

The code responsible for this is supposed to "just" give a suggestion. I will try to make it silently fail when the above assumption is not upheld, and hopefully have some other part of `rustc` catch the error.

Please correct me if I'm wrong.

@rus

[2022-11-15 20:43] mati865 commented on #103939
I have it on my radar but cannot tell when when I can find free time to do it.

[2022-11-15 21:34] tgross35 commented on #63128
@Mark-Simulacrum would a PR possibly be accepted that does very simple markdown parsing? Nothing complex with external dependencies, just use `termcolor` to add a background color to backticked blocks, and bold/italic/underlines `#` sections

[2022-11-15 21:34] cjgillot opened #104463 "Misleading comments over methods on `TyCtxtEnsure` in `rustc_middle::mir::interpret::queries`"
_Originally posted by @_RalfJung in https://github.com/rust-lang/rust/pull/98238#discussion_r1020754957_

[2022-11-15 22:01] crazyboycjr commented on #90539
This issue has been one year and I can confirm it with a recent compiler (`rustc 1.67.0-nightly (09508489e 2022-11-04)`).
[code]

What's the current state of the issue (about the expected behavior or any plan to fix it)?

Also, I will be grateful if anyone can point me to the source code for the 'fundamental' reason of not being able to have the same dependency show up more than once. I've been st

[2022-11-15 22:17] tgross35 commented on #63128
The parser could even be regex, I quickly tested and the following work:

[code]

First step would just be to replace these with asymmetric HTML-style tags e.g. `<codeblock>...</codeblock>`, `<bold>...</bold>`. Then, iterate through and write to the buffer, change the `termcolor` output whenever one of those tags is hit.

It wouldn't work for anything super complex, but this would still provide mu

[2022-11-15 22:29] scottmcm commented on #104268
This is expected -- the compiler still has to parse the function body, so if the parsing rules change it could break your code despite the `[cfg]`.

The usual solution is to put it in a separate file, and to `#[cfg]` the `mod`, AFAIK.

[2022-11-15 22:29] scottmcm commented on #76001
FYI: FCP for stabilizing inline const expressions in #104087

[2022-11-15 22:42] RalfJung commented on #76001
Oh nice, I didn't even realize that they can already reference generics. :)

Are inline consts added to the `wanted_consts` of the surrounding MIR, thus ensuring that they must be successfully evaluated for codegen to accept this function?

[2022-11-15 22:42] bjorn3 commented on #90539
The same crate not being allowed to show up in more than one linked artifact (dylib or executable) is deliberate. Duplication will lead to either symbol conflicts or symbols being duplicated. Neither of which is acceptable as it will break the guarantee that statics are never duplicated and with it break any crate using global state, including the standard library itself.

This issue however is ab

[2022-11-15 22:45] RalfJung commented on #91009
This seems pretty bad, we are promoting code in a way that has side-effects (`drop` should be run but isn't).

@eddyb @oli-obk any idea why this happens?

[2022-11-15 22:47] nbdd0121 commented on #76001
Yes. `required_consts` are collected automatically from MIR with `RequiredConstsVisitor`, and inline consts are already sufficiently lowered at that stage so there is really not much difference between inline consts and assoc consts.

[2022-11-15 22:48] RalfJung commented on #80619
Looks like inline_const will be stabilized soon. :D
https://github.com/rust-lang/rust/pull/104087

I wonder if that could let us move towards deprecating promotion more?
- Entirely stop promoting function calls in a future edition (only promoting trivial things like `&3`)
- I guess we can't remove this for older editions but maybe we can desugar it to const blocks somewhere early, and thus simplif

[2022-11-15 22:54] RalfJung commented on #76001
Do we have a test for code like this with mir-opt-level=3?
[code]

[2022-11-15 23:10] nbdd0121 commented on #76001
I just added a variant of it (with generic params on `foo`, so it's not caught by const prop lint) in #104087.

[2022-11-15 23:13] crazyboycjr commented on #90539
Now I get it. This sounds quite reasonable. Thanks for your explanation @bjorn3!

Just want to make sure I'm heading in the correct direction. In the case where B, C, and D are my crates, [nix](https://crates.io/crates/nix) is a common dependency of B and C.
[code]
B, C, and D are needed to be dynamic libraries (for `dlopen`). Does it imply that the only chance for me to build D (and also to make

[2022-11-15 23:48] ibraheemdev commented on #74465
Probably worth cross-linking between the sync and unsync versions in their docs.

[2022-11-15 23:58] tgross35 commented on #74465
Having some brief discussion with Thom on Zulip https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/moving.20once.20cell.20forward it seems like it makes sense to guarantee acquire/release at this point, and possibly add a way to specify `consume` if there ever is a use. Which there very well may never be.

The three open issues from the top post are:

- Naming (seems fairly set in

[2022-11-16 03:14] pigeonhands opened #104472 "`transmute_copy` incorrect size assertion"
This commit https://github.com/rust-lang/rust/commit/5f5ca889589c24a12864329c027db431adbc7fae added a size assertion to `transmute_copy` that asserts `cannot transmute_copy if U is larger than T`, but the assertion is actually invoked if `Src` is larger or **equal** to `Dst`.
[code]

I tried this code:
I was using the `enigo` crate, internally it `transmute_copy`'s some winapi structs.
[code]

I e

[2022-11-16 03:33] #104472 closed

[2022-11-16 03:56] remdragon opened #104476 "Option.as_ref() possible example mistake?"
url: https://doc.rust-lang.org/nightly/core/option/enum.Option.html

function: as_ref()

Examples:

`Converts an Option<String> into an Option<usize>, preserving the original.`

Perhaps I'm just confused, but shouldn't that say:

`Converts an Option<String> into an Option<&str>, preserving the original.`

[2022-11-16 04:00] #104268 closed

[2022-11-16 04:28] ehuss commented on #104476
Transferring to the rust-lang/rust repository, as that is where the standard library documentation is.

I think it is trying to illustrate the conversion from `Option<String>` → `Option<&String>` → `Option<usize>`. The text is just eliding the middle step, and explaining where it is starting from and where it is finishing.

[2022-11-16 04:39] aliemjay opened #104477 "overly restrictive closure borrow-checking"
Both of these test cases should pass borrowck: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=50a263a9626cb0b08f5cee334df8a852
[code]

They both fail because of the unnecessarily restrictive algorithm in [try_propagate_universal_region_error](https://github.com/rust-lang/rust/blob/79146baa9c7e00b716cc41f8660a56cd2acdf8bd/compiler/rustc_borrowck/src/region_infer/mod.rs#L16

[2022-11-16 04:46] scottmcm commented on #104268
And as an aside, I proposed FCP for inline const over in #104087, so hopefully you'll soon be able to stop gating it on nightly at all 🙂

[2022-11-16 05:12] aliemjay opened #104478 "closures accept ill-formed inputs"
Both of these closures should fail borrowck: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e9855ecda2f9427454cebce7738e598d
[code]

I think we should simply do WF-checking of closure input/output types in the closure environment, but doing so would cause accidental breakages due to #104477. So #104477 should be resolved first.

[2022-11-16 05:48] greenhat commented on #104374
Got it. I'll start with a lint.

[2022-11-16 06:25] usbalbin commented on #80094
`(s1, s2, s3).zip()` does, in my opinion, look a lot nicer than `s1.zip(s2).zip(s3)` :)

[2022-11-16 06:34] usbalbin commented on #80094
Oh wait `(s1, s2, s3).zip()` is for iterators which is not really the same thing as this issue... Sorry for the confusion.

Guess the question still stands...

[2022-11-16 06:50] Rageking8 commented on #104477
I have absolutely 0 clue how the code works but is this (case 1) supposed to compile: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2dba30bdd448744820ab3489e5364bb6)
[code]
Found using a custom DIY Fuzzer.
Just wanted to ensure that *if* this is unintended, it can be handled.
If the successful compilation is intended, do kindly ignore this comment. Thanks.

[2022-11-16 07:06] compiler-errors commented on #104477
@Rageking8 I don't think that the example you produced is related to the issue that @aliemjay is highlighting here, since the changed code no longer requires that means `'x` is related to `'a` in `MyTy`.

(Also, I don't recommend fuzzing random code in issue reports without understanding how it works first, especially if you're looking for changes in pass/fail conditions, and not just trying to fi

[2022-11-16 07:59] petrochenkov commented on #104374
Duplicate of https://github.com/rust-lang/rust/issues/33995.
I'm not even sure it's something that needs to be fixed.

[2022-11-16 08:30] greenhat commented on #104374
I stumbled upon it at https://github.com/bytecodealliance/wasmtime/pull/5259, and I would appreciate rustc's help to avoid such cases.

[2022-11-16 08:37] matklad commented on #74465
For lazy, there’s https://github.com/rust-lang/rust/pull/103718.

I think we should fcp something here, yeah.

my personal preference would be for FCPing a minimal subset first (only once cell, no lazy), the api surface is large, we might easily overlook some annoying detail if we try to rubber-stump whatever there is now.

[2022-11-16 08:56] cdecompilador commented on #53749
The `include_str` intrinsic is the easy and affordable solution, but letting macros accept literals and constant literal variables would be harder to implement but would make something like this possible, since we may need a way to express cont only contexts

[2022-11-16 09:03] chenyukang commented on #104457
I think this `unnecessary parenthesis` is right, the parenthesis is not necessary.

The `expected `,`` error should comes from `clap`.
For string value, if you want to use default, maybe you need write like this:

[code]

[2022-11-16 09:45] ethe opened #104484 "Confusing HRTB mismatching diagnostic message"
Given the following code:

[code]

The current output is:

[code]

the note be provided by rustc makes me confused:
[code]

[2022-11-16 10:27] #70336 closed

[2022-11-16 10:51] Veetaha opened #104485 "Consider relaxing the `Sized` requirement in `impl Error for Box<T>`"
As for today the following blanket implementation exists:
https://github.com/rust-lang/rust/blob/e702534763599db252f2ca308739ec340d0933de/library/alloc/src/boxed.rs#L2443-L2458

The problem with this is that `T` is required to be `Sized`, so, for example, `Box<dyn Error>` doesn't implement `Error`. It looks like a straightforward and intuitive assumption that `Box<dyn Error>` should implement `Err

[2022-11-16 12:04] ottipc commented on #25289
This helped me on ubuntu

`sudo apt-get install libpq5=12.12-0ubuntu0.20.04.1 && sudo apt-get install libpq-dev`

[2022-11-16 12:17] Velocity- commented on #104476
No, that seems fine; what confuses you (or leads you to the &str conclusion)? I could follow `Option<&String>` but not `Option<&str>`. Perhaps you're thinking the `Deref<Target=str>` impl on `String` would make the `Option` contain `Option<&str>`  or such?

[2022-11-16 13:01] lukas-code commented on #104484
This is https://github.com/rust-lang/rust/issues/74497 / https://github.com/rust-lang/rust/issues/102400 / https://github.com/rust-lang/rust/issues/104285

The fix looks like this:
[code]

[2022-11-16 13:38] #104142 closed

[2022-11-16 13:38] #104243 closed

[2022-11-16 14:20] WaffleLapkin commented on #97362
@Jules-Bertholet oh, I misunderstood this as "make `for<> || { some expression... }` return type always `()`, same as with normal function". Inferring it is probably fine.

[2022-11-16 14:30] lcnr opened #104490 "coercion `?0: Sized` check, rewrite to not rely on fulfill internals"

[2022-11-16 14:52] remdragon commented on #104476
I guess I'm extremely confused then. If I have an &Option<String>, what good does an Option<usize> do me? If I have &Some( "fubar" ), how does that translate to a usize? Is it giving me the length of the string or it's pointer in memory? Neither seems useful nor relevant to the description of "Converts from &Option<T> to Option<&T>.".

[2022-11-16 15:26] compiler-errors commented on #104490
#50753 is related

[2022-11-16 15:48] neysofu commented on #91114
I was wondering if @compiler-errors has any tips on how to tackle this and hopefully I can take a stab at it. My team would love to get this fixed.

[2022-11-16 17:15] hawkw commented on #104421
Looks like `nightly-2022-11-16` fixes this, so it's almost certainly a duplicate of #104145. Sorry for the noise!

[2022-11-16 17:15] #104421 closed

[2022-11-16 17:45] ExpHP commented on #49984
I feel like there should maybe be a message specifically targeted to the case where the method belongs to a supertrait.  Since I feel like the gotcha here is that `Eq::eq` looks just like `Ord::cmp` when it is actually not.

[2022-11-16 19:28] #75461 closed

[2022-11-16 19:28] #103576 closed

[2022-11-16 20:21] PatchMixolydic opened #104501 "Broken MIR ICE when returning `dyn* Trait` from a function"
### Code
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=fe1f3052a98f6d1958e71256bcbf928f))
[code]

This happens whether or not the returned type implements the trait in question.

### Meta
`1.67.0-nightly (2022-11-15 a00f8ba7fcac1b273416)`

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

@rustbot

[2022-11-16 20:28] Frozen1084 opened #104502 "How do I find out where the std error actually occurred?"
This is the vec error I get after using "RUST_BACKTRACE=full".
It has a very low chance of being wrong, it occurs about once a week. I can't reproduce this error in debug state.
The project has tens of thousands of lines and is in a working state. I can't find it by modifying the code. Although I have rewritten a lot of suspicious code.
Is there any way to find out exactly where it is in main.rs?

[2022-11-16 21:14] Nilstrieb commented on #101728
@rustbot claim

I'll remove all the parsing and diagnostic logic/hacks but leave the AST nodes and everything after it behind for now.

[2022-11-16 23:36] jruderman opened #104510 "ICE in check_asms: assertion failed: self.is_tainted_by_errors()"
Found by mutating [issue-99122-2.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui/asm/issue-99122-2.rs) with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary><strong>Full output including backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

nightly-2022-05-28: changed from no ICE to IC

[2022-11-17 00:38] tgross35 commented on #63128
Ok, I have a very simple working implementation, only 150 lines of code. All that should be needed are calls to termcolor

Gist: https://gist.github.com/5e53ccff274bf7f66e7e8aec5375eda3

Once I figure out where this would belong I'll open a PR

[2022-11-17 00:58] compiler-errors commented on #104510
That assertion is probably unnecessarily strict, since `is_tainted_by_errors()` doesn't check that errors are emitted from *other* items anyways.

Instead, it can probably be turned into a delayed bug or just removed altogether, since `tcx.ty_error()` already delays a bug.

[2022-11-17 01:09] jyn514 commented on #104502
The issue tracker is not a support forum. For future questions please ask in one of these places:

https://discord.gg/rust-lang/
https://discord.gg/rust-lang-community/
https://users.rust-lang.org/
https://rust-lang.zulipchat.com/

[2022-11-17 01:09] #104502 closed

[2022-11-17 01:59] WhyNotHugo commented on #74465
Not sure if this is the right place to point this out: the documentation for [LazyLock](https://doc.rust-lang.org/std/sync/struct.LazyLock.html) reads:

However, there's no type called `Lazy`. This should probably refer to `LazyCell` instead?

[2022-11-17 03:08] jruderman opened #104513 "ICE "no type for node""
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary>Full output including backtrace</summary>

[code]

</details>

### Regression

Regression in nightly-2021-10-02 ([commits](https://github.com/rust-lang/rust/compare/aa7aca3b954131720df725e70d12e902eb3be1de...c02371c442f811878ab3a0f5a813402b6dfd45d2))

### Versi

[2022-11-17 03:16] chenyukang commented on #104513
@rustbot claim

[2022-11-17 03:17] ethe commented on #104484
Thanks @lukas-code , explicit lifetime parameter is a practical walkaround, however I am looking to the reason of mismatching, issues you mention is really helpful to me.

[2022-11-17 03:17] #104484 closed

[2022-11-17 04:00] chenyukang commented on #104510
@rustbot claim

[2022-11-17 04:45] AbhimanyuAryan commented on #60268
Lol

[2022-11-17 05:36] ClSlaid commented on #100142
When checking [databend](https://github.com/datafuselabs/databend) in an increment compilation order (check after a successful build), the rustc also panics.

system info:
[code]
rustc version:

[code]

panic on compiling common-functions-v2.

stack:
[code]

[2022-11-17 06:31] Xuanwo commented on #100142
This issue also seems related to the disk cache. Maybe @compiler-errors or @cjgillot wanna take a look?

[2022-11-17 06:37] matthiaskrgr opened #104518 "ICE: fully private item in the table"
### Code
needs debug assertions!
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-17 06:39] Dylan-DPC commented on #80070
Closing this as fixed and there is a [testcase](https://github.com/rust-lang/rust/blob/master/src/test/ui/parser/issues/issue-87217-keyword-order/wrong-unsafe.rs) for it

[2022-11-17 06:39] #80070 closed

[2022-11-17 07:16] anp opened #104519 "Possible codegen regression when matching against nested enums"
### Code

I tried this code (reduced from a much larger test):

[code]

([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8a7e227fc86cc3040cc1eb97918ab2f7))

I expected to see this happen: runs with 0 exit code and no output

Instead, this happened:

[code]

### Version it worked on

This code works on stable and beta, and as recently as a3c0a023611fcaf5ae3ec24

[2022-11-17 07:32] Nilstrieb commented on #104519
That looks like a real miscompilation :(
cc @mikebenfield

[2022-11-17 07:47] rewik opened #104520 "rustc 1.65.0 crashes (SIGSEGV) when compiling with --release. Looks like a corner case."
Error happens on 1.65.0, only in release mode.
Code below crashes the compiler on cargo test --release

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

1.64.0 debug: OK
1.64.0 release: OK
1.65.0 debug: OK
1.65.0 release: SEGMENTATION FAULT
1.66.0-beta.1 debug: OK
1.66.0-beta.1 release: OK
1.67.0-nightly debug: OK
1.67.0-nightly release: OK

### Error output

[code]
also tested on

[2022-11-17 09:30] Elarcis commented on #95629
In the case of generating a flattened slice from an array/vector, I will add a case for `.flat_slice()` and `.flat_slice_mut()`.

* The name starts with the keyword one would expect while trying to flatten their type
* It’s short enough to write without losing meaning
* It mentions that it creates a slice so no ambiguity
* It doesn’t look too much like `.flatten()` which is something I’d expect on

[2022-11-17 09:42] petrochenkov commented on #104518
This may be a duplicate of https://github.com/rust-lang/rust/issues/104249.

[2022-11-17 10:11] uweigand commented on #103576
Thanks for fixing this, @StackDoubleFlow !

[2022-11-17 10:11] apiraino commented on #104519
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23104519.20Possible.20codegen.20regression.20when.20matching.20against.20n.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-11-17 10:41] c410-f3r opened #104526 "Confusing `impl Trait` limitation"
For some reason, `impl Trait` is allowed in a type's first mention but not in a `where` clause.

[code]

Besides, the error message isn't very helpful.

[code]

[2022-11-17 11:26] fakedrake opened #104529 "Unexpected lifetime bound in async trait method"
I have this program

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ce587047afe5dcbc0d0fb00bd3b0e38a)

That throws this strange compilation error on nightly

[code]
If I remove `async` it works fine. Any idea why this happens?

Edit: this program compiles normally:

[code]

[2022-11-17 11:30] badboy opened #104530 "`std::fs::remove_dir_all` occasionally panics on Windows with `assertion failed: info.is_aligned()`"
`remove_dir_all` panics on some Windows version when calling `std::fs::remove_dir_all` due to a newly introduced `assert!`.

This code:

[code]

I expected to see this happen: It removes everything or reports an error.

Instead, this happened: It panics with `assertion failed: info.is_aligned()`.

### Meta

[code]

(Crashes on Windows, but we're just using upstream 1.65.0 there).

Full Firefox cra

[2022-11-17 11:48] Rageking8 commented on #104526
@rustbot label +T-compiler +A-diagnostics D-confusing

[2022-11-17 12:00] cjgillot commented on #104526
There are 2 stages to fixing this issue. Everything happens in `rustc_ast_lowering`.

1. Make the diagnostic more explicit.  The diagnostic is named `MisplacedImplTrait`.  The term "bound" comes from the `Display` impl for `ImplTraitPosition`.
2. Allow impl-trait in where clauses. We'd need to investigate a bit why lowering marks impl-trait as disallowed in one case and not the other.

[2022-11-17 12:12] fee1-dead commented on #103265
No? The problem is that we need to ensure that changing a trait function from `fn a` to `~const fn a` is not a breaking change in partially const traits.

Downstream implementations might not even have const implementations because they could be written before that change. Therefore, we would have to either panic if that function is called in compile time, or magically rewrite to the const default

[2022-11-17 12:40] mikebenfield commented on #104519
I've found the problem; it is indeed an issue with my code in `codegen_get_discr`. I'll have a PR with a fix some time today.

[2022-11-17 13:41] Painter602 commented on #100657
I, get a similar message on Windows 10 Home:

error: `-Csplit-debuginfo=unpacked` is unstable on this platform

[2022-11-17 14:08] fenhl commented on #104099
The upstream issue appears to be fixed. What needs to be done now to apply this fix?

[2022-11-17 14:24] pnkfelix commented on #34596
Closing in favor of https://github.com/rust-lang/rfcs/pull/2834 and https://github.com/rust-lang/rust/issues/71249,

[2022-11-17 14:24] #34596 closed

[2022-11-17 15:41] M1ngXU commented on #104476
memory address

[2022-11-17 15:44] #104518 closed

[2022-11-17 15:48] petrochenkov commented on #104249
`#![feature(staged_api)]` here is important because without it we never actually invoke the `effective_visibilities` query that checks these invariants, compilation stops before that because there are errors.

[2022-11-17 15:50] pnkfelix commented on #102754
We've visited this during several T-compiler triage meetings, at this point I think the team agrees that this should be considered a P-high issue rather than a P-critical one. (So its still something we want to resolve, but we're not going to discuss it every week. And of course we're not blocking any releases over it.)

@rustbot label: -P-critical +P-high

[2022-11-17 16:05] thomcc commented on #104530
Oof, this sucks! I don't know why this wouldn't be unaligned. as the comment there states, the function's docs state that it should be aligned.

While we could use an unaligned read for the various fields, this would only reduce the alignment requirement to 2bytes. There's not much we can do for the filename array, since we need to provide a `&[u16]` to the caller. Hopefully that's enough... I'll

[2022-11-17 16:17] ChrisDenton commented on #104530
This is concerning to me, for more than just Rust. These structs should really be aligned as documented.

@badboy Do you happen to have any more context for the crashes? My best guess is this may ultimately be caused by a bad filesystem driver (e.g. certain VM shared drives and RAM drives are particularly notorious). If it's the OS itself then that's a bigger issue. Also I'm assuming the crashes a

[2022-11-17 16:47] #78840 closed

[2022-11-17 16:56] saethlin opened #104539 "ICE: "fully private item in the table" when compiling bacon v2.2.5"
[code]

I can't reproduce this on nightly, but I can reproduce it on a toolchain I keep up to date with `master` that is built with debug assertions:

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-11-17 17:50] Rageking8 commented on #104539
@rustbot label +T-compiler +I-ICE +requires-debug-assertions

[2022-11-17 18:38] bridiver commented on #102754
@pnkfelix any chance you would reconsider that? This just became a blocker for us for updating to chromium 109

[2022-11-17 18:38] saethlin commented on #104520
This is an LLVM assertion. If I checkout the 1.65.0 tag and build with LLVM assertions, I get this:
[code]

@rustbot label +I-prioritize

[2022-11-17 18:53] jonathanCogan commented on #104526
@rustbot claim

[2022-11-17 19:03] petrochenkov commented on #104539
I understand why this happens - parent import in an import chain can have a *smaller* visibility that the it's child's private visibility, so the equality condition in https://github.com/rust-lang/rust/blob/master/compiler/rustc_resolve/src/effective_visibilities.rs#L141-L144 fails and doesn't prune this case, and it ends up being in the table even despite being private.

However, I couldn't const

[2022-11-17 19:04] estebank commented on #104526
A wording change and an applicable suggestion to [write something like this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=afb3adeab1e8ada4691328956d507387) would be great.

[2022-11-17 19:28] petrochenkov commented on #104539
Fixed in https://github.com/rust-lang/rust/pull/104546.

[2022-11-17 19:28] petrochenkov commented on #104249
Fixed in https://github.com/rust-lang/rust/pull/104546.

[2022-11-17 19:38] pavpanchekha opened #104548 "Arc-hyperbolic-trigonometric functions are very inaccurate"
The functions `asinh` and `acosh` for both `f32` and `f64` are quite inaccurate, both for very large inputs (because `x * x` overflows) and, for `asinh`, for very small inputs (due to kinda-complex cancellation).

I tried this code:

[code]

This code evaluates `asinh(sinh(x))` and `acosh(cosh(x))`. Naturally I expected the output to be `x`, but instead the output is `inf` and `0`, indicating over

[2022-11-17 19:39] pavpanchekha commented on #104548
The issue was originally discovered by @finnbear in https://github.com/FPBench/FPBench/pull/118.

I'm testing solutions that don't rely on `libm` in https://github.com/herbie-fp/herbie/pull/514.

[2022-11-17 19:52] pavpanchekha commented on #104548
In the two PRs above the following implementations are proposed:

[code]

I'll file a PR once I get time to figure out how to download + build + test Rust, probably this or next week.

[2022-11-17 20:04] saethlin commented on #104520
@rustbot lablel +A-llvm

It looks like this assertion is no longer hit. Is that because a bug was fixed, or codegen was altered in a way that just doesn't hit the bad code path anymore?

[2022-11-17 20:23] jruderman opened #104551 "TAIT ICE "extracting field of non-tuple non-adt""
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

Regression in nightly-2022-05-23, perhaps from #96515

### Version

[code]

@rustbot label +F-type_alias_impl_trait

[2022-11-17 20:39] pavpanchekha commented on #104548
Here is the accuracy plot from Herbie for `f64::asinh`, red being the current Rust expression and green being the proposed fix:

<img width="602" alt="image" src="https://user-images.githubusercontent.com/30707/202554752-9dcb0e0d-6a4f-4763-b7f3-278bfad89b1a.png">

And here's `f64::acosh`:

<img width="611" alt="image" src="https://user-images.githubusercontent.com/30707/202554846-492bd78d-d4f9-42d

[2022-11-17 20:56] finnbear commented on #104548
I already have a Rust fork and the required tools to test it so, if it's ok with you, I could write the PR using your proposed implementation.

[2022-11-17 21:04] linclelinkpart5 commented on #104301
Any workarounds for this? Would love to be able to make some progress on my project for the time being.

[2022-11-17 21:47] sdgoihew commented on #83623
<details><summary>Don't know if relevant, but there's another way to compare with nice result</summary>

[code]

Since 1.54 generates:
[code]

</details>

[2022-11-17 21:55] mejrs commented on #102923
@rustbot claim

[2022-11-17 22:22] withoutboats commented on #103854
(NOT A CONTRIBUTION)

I just read the blog post and I thought it would be a useful datapoint that I literally wrote code (using async-trait)  that would have run into this issue earlier today. I spawn in generic code all the time; a common case is that there is some kind of dependency injection in order to mock code that would use the network for testing purposes; such code is an obvious use case

[2022-11-17 22:42] saethlin commented on #104539
I'd love to help but I have zero expertise with the part of the compiler that has trouble here, the codebase in question, or minimizing by hand, which I could use to produce a minimized version. I found this by blindly turning on all the debug checks and reinstalling all my utilities.

[2022-11-17 22:53] matheus-consoli commented on #61956
I think the same problem also applies to tuples

Giving a generic tuple `(MaybeUninit<T>, MaybeUninit<U>)`, it's not possible to transmute it to `(T, U)`, resulting in the same `cannot transmute between types of different sizes, or dependently-sized types`. The concrete version works, `(MaybeUninit<ConcreteTypeA>, MaybeUninit<ConcreteTypeB>)` -> (ConcreteTypeA, ConcreteTypeB)`

 Is this mapped or

[2022-11-17 22:59] Ralith commented on #103854
The async code I write is rarely generic, rarely `spawn`s, and the combination is hence rare indeed. Although there are undoubtedly cases where this capability is a blocker, I think async traits are a large step forwards in usefulness without them, and it doesn't seem like the straightforward syntax proposed here will need breaking revision in the future.

[2022-11-17 23:26] peter-kehl commented on #65262
To save people's time: As per https://doc.rust-lang.org/nightly/cargo/reference/manifest.html#the-rust-version-field, the field is called `rust-version`.

[2022-11-18 01:05] Sherlock-Holo commented on #103854
the unsend future return by async trait is unusually, in the past people use the async trait crate and they are familiar that the future is send, if not, will mark at the trait as an attribute, and people use tokio or async std runtime in most cases, both of them are work stealing runtime, which require the future is send

[2022-11-18 01:15] noahpnio opened #104560 "error: internal compiler error: compiler\rustc_middle\src\ty\context.rs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

Hum I'm new in the rust community, not sure how to report a bug but I listened the compiler telling me to report it and I wanted to help the community in case I found something helpful...

Anyway

[2022-11-18 02:22] chenyukang commented on #104560
I think this is another case with https://github.com/rust-lang/rust/issues/104513

[2022-11-18 02:51] compiler-errors commented on #104560
@chenyukang that ICE is not related to this one.

This ICE is fixed on nightly, I think maybe fixed with #101629 but I haven't done the bisection.

[2022-11-18 02:53] chenyukang commented on #104560
Yes, the backtrace is different with last one, so the root cause is not same.

[2022-11-18 03:02] Porges commented on #24066
Here's an ugly case:

[code]

errors with:
[code]

`method` is defined as:
[code]

Solution involves introducing dummy constraints which re-state the existing implementations:

[code]

[2022-11-18 03:36] nicholasbishop commented on #104326
The necessary fixes in compiler_builtins have been made and released in 0.1.84. Next step is https://github.com/rust-lang/rust/pull/104561

[2022-11-18 04:04] jruderman opened #104562 "ICE "No HirId for DefId" during `check_unused` with `extern crate` in attr"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary><strong>Full output including backtraces</strong></summary>
<p>

[code]

</p>
</details>

### Regression

Regression in nightly-2020-12-11, perhaps from #78837

### Version

[code]

[2022-11-18 04:22] csmoe commented on #99749
Could you test your code with `rustc -Zexport-executable-symbols`? it's not stabilized yet, and `#![feature(export_executable_symbols)]` is unneeded.

[2022-11-18 04:28] jplatte commented on #103854
I tried using this in axum a week or two ago. Because it does type erasure, it can only support either `Send` futures or non-`Send` futures and obviously the former is what most people want. This feature doesn't allow that restriction though and so I couldn't use it.

[2022-11-18 07:29] albertlarsan68 commented on #104560
This ICE seems to be fixed on `rustc 1.66.0-beta.1 (e080cc5a6 2022-11-01)`, host `x86_64-pc-windows-msvc`.

[2022-11-18 07:47] thomcc commented on #104530
I went through the other places I asserted alignment in https://github.com/rust-lang/rust/pull/101171, and they should be fine -- those are entirely under our control (unlike this where I relied on the system behaving as documented), so I don't think there's any need to remove them too.

[2022-11-18 08:47] matthiaskrgr opened #104563 "spurious test failure: `rc::rc_from_vec_opt` on window"
[code]

Test was added in https://github.com/rust-lang/rust/pull/104205/files#diff-7c162f3385758481b661bb4120fe36635a2933c200bd7713a34ba9e47bac411fR220

[2022-11-18 08:49] matthiaskrgr commented on #104563
@clubby789  could you please have a look at why this test fails on windows sometimes?
Maybe we have to disable it on that platform?

[2022-11-18 09:02] albertlarsan68 commented on #104560
Searched toolchains `48de123d7a0753026c362a06109f9a9cebde2a2a` through `5e9772042948002f9c6f60c4c81603170035fffa`, got regression in `503e19d01e941b88bf6d5b28e9108d046abcfa2d`

[2022-11-18 09:29] RalfJung opened #104565 "UB in arc_from_vec_opt test"
Miri reports UB in the new `arc_from_vec_opt` test:

[code]
On first sight, the error seems legitimate.

That test got added in https://github.com/rust-lang/rust/pull/104205.
Cc @clubby789

[2022-11-18 09:33] RalfJung commented on #104565
Probably what happens is that in Miri, `Global.shrink` will always move the data to a new allocation, and then the way the test checks whether that happened causes UB. You should not call `offset_from` unless you are already 100% sure that both pointer point to the same allocation -- and in this case, you cannot be sure of that, since allocators do not promise that `shrink` keeps the same allocati

[2022-11-18 09:33] jiangbo opened #104567 "Valgrind reported some error"
I used axum to write an http service, and when I used valgrind to analyze it, it prompted some errors.
I don't know if there is a problem, can someone help me?

env:
virtual box 7.0.2
centos 7
ustup 1.25.1 (bb60b1e89 2022-07-12)
info: This is the version for the rustup toolchain manager, not the rustc compiler.
info: The currently active `rustc` version is `rustc 1.65.0 (897e37553 2022-11-02)`

[c

[2022-11-18 09:44] RalfJung commented on #104565
Yeah, the C standard is quite explicit about this, so for now we should follow suit. Opened https://github.com/rust-lang/rust/pull/104568.

[2022-11-18 09:47] clubby789 commented on #104565
Might it be a good idea to `cfg(not(miri))` the pointer comparison itself, so that Miri can check the actual implementation, even if it can't check the final assertion.

I did suspect that other platforms might not have this behaviour - #104563 seems to show this. It might be best to feature gate the test and opt to only platforms with allocators that work like this.

[2022-11-18 09:59] psionic12 opened #104569 ""unconstrained const parameter" when using `generic_const_exprs`"
It looks to me a bug of feature `generic_const_exprs`:
[code]

In this case, the compiler doesn't aware that the const parameter `I` is used in side `Bar::Two::<{I}>`, and report that
[code]

[2022-11-18 10:06] RalfJung commented on #104565
Yes, but to be clear there are two bugs here:
- the test can fail in some platforms, such as Miri, when realloc doesn't shrink in-place
- the test has UB on *all* platforms

[2022-11-18 10:09] badboy commented on #104530
From all I see in the Firefox crash reports these are actual machines.
It's definitely buggy behavior compared to the docs, but I don't know where that bug is (Windows bug, driver bug, broken memory/disk, ...)

[2022-11-18 10:15] clubby789 commented on #104565
Is the `v.as_ptr().addr()` comparison still UB? I'm currently working on a patch that
- Uses the `.addr()` cast for comparison
- Turns off this feature for non-GNU targets (since that's the only one I know for sure has the shrink-in-place behaviour)
- Disables the test on non GNU, and the *comparison* itself on Miri

With that in mnd though, I'm wondering if this opt should just be removed entirel

[2022-11-18 10:20] RalfJung commented on #104565
`addr()` returns regular integers, you can compare them in whatever way you want.

[2022-11-18 10:37] mooli opened #104570 "`rustup`-installed nightly compiler no longer works on MacOS Mojave"
### Code

I tried this on the latest nightly compiler installed by `rustup`:

[code]

I expected to see this happen: My project builds.

Instead, this happened: `rustc` crashed due to a dynamic library linkage problem.

### Version it worked on

It most recently worked on: `rustc 1.67.0-nightly (96ddd32c4 2022-11-14)`.

### Version with regression

`rustc --version --verbose`:

It crashes without

[2022-11-18 12:56] #64947 closed

[2022-11-18 13:12] lcnr commented on #104569
We currently don't treat constructors in a special way when checking whether generic parameters are constrained. This isn't really a bug but more a feature request. This is tracked in https://github.com/rust-lang/project-const-generics/issues/23 so I am closing this issue in favor of that.

We tried to add this explanation in the error message, are there ways we could improve the message to make i

[2022-11-18 13:12] #104569 closed

[2022-11-18 13:12] #104390 closed

[2022-11-18 13:12] #103850 closed

[2022-11-18 13:12] #104510 closed

[2022-11-18 13:12] #104392 closed

[2022-11-18 13:12] #104501 closed

[2022-11-18 13:14] Super-Pizza opened #104574 "Fix: Consider U+01C3(ǃ) as a misleading punctuation, not as alphabetic"
here's my reasoning:
[code]
errors with the wrong message:
[code]

[2022-11-18 13:54] withoutboats commented on #103854
(NOT A CONTRIBUTION)

First, committing to the current behaviour means not having methods be send-by-default (opposite of the behaviour of async trait); maybe the team has already reached consensus on this, but it is a foreclosure on an option which is currently working well for the only actually used implementation of async traits. So it is a decision that is being made, not merely punted.

Even

[2022-11-18 14:05] dwrensha commented on #103854
In [capnp-rpc](https://crates.io/crates/capnp-rpc) we use single-threaded futures, and it looks like we run into the same problem, except with `'static` instead of `Send`.

Here's a distillation of the problem:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0a984f5b66ea0333f74fb1b52f88dac0

My impression is that we're going to need a way to specify bounds on the returned

[2022-11-18 14:21] withoutboats commented on #103854
(NOT A CONTRIBUTION)

@dwrensha That doesn't work because those methods are not `'static` - they borrow from `self`. A future will be `'static` if all of the input arguments to its method are `'static`, which there is syntax to express (e.g. if those methods took self by value, `T: MyServer + 'static` would be sufficient). it doesn't introduce the same problem as `Send`.

[2022-11-18 14:21] Nilstrieb commented on #104574
[Rust](https://doc.rust-lang.org/reference/identifiers.html) follows [Unicode Annex 31](https://unicode.org/reports/tr31/) for what it considers valid identifiers. A better error message for this is welcome though :)

Extra fun fact: This character is actually (ab)used in crates in the ecosystem https://docs.rs/macro-vis/0.1.1/macro_vis/

[2022-11-18 14:39] PureWhiteWu commented on #62726
Really looking forward for this being stabilized. This is quite useful in network programming.

[2022-11-18 15:04] StephanvanSchaik opened #104576 "Parsing issue in complex nested match statement with &&."
I think I found a case where I am hitting an issue with Rust's parser which seems to get confused on the following bit of code:

[code]

I expected that it would compile similar to the snippet below:

[code]

Instead, it seems to hit a parsing issue following the `&&` after the inner `match` yielding a `bool`, where it shows the following error instead:

[code]

This happens on:

[code]

As well a

[2022-11-18 15:09] pnkfelix commented on #88888
Visited during [P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.5D.202022-11-18.20planning.20.2B.20compiler-team.23559.20P-high.20IV/near/310841624)

@rust-lang/project-const-generics , can you all spend some time trying to brainstorm best way to resolve this?

[2022-11-18 15:11] dwrensha commented on #103854
Ah, I see. I would have the same problem even if the `async` methods in question were not part of a trait.
<details>
  <summary>more details (probably not relevant to the present issue)</summary>

We use this pattern, where a method has ephemeral access to `&self` and then returns a `'static` future:

[code]

It would be nice if we could make `foo()` be an async method. I had mistakenly thought th

[2022-11-18 15:23] wesleywiser commented on #86712
Testing with our build of lld 15 on nightly and this seems to work fine now:

[code]

[2022-11-18 15:35] pnkfelix commented on #86511
Visited for [P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.5D.202022-11-18.20planning.20.2B.20compiler-team.23559.20P-high.20IV/near/310844132)

It seems like there may be opportunities here for a broad set of optimizations, rather than focusing solely on the seeming regression.

I recommend two actions:

1. We add a benchmark for this

[2022-11-18 15:36] fmease commented on #104576
It's not a parser bug. A match expression *MatchExpression* is classified as an *ExpressionWithBlock* (and notably not as an *ExpressionWithoutBlock*) ([via](https://doc.rust-lang.org/nightly/reference/expressions.html#expressions)) meaning the closing curly brace `}` terminates the expression early and the parser immediately looks for an optional comma (which in this case it doesn't find, that's

[2022-11-18 15:41] lukas-code commented on #104576
This is related to https://github.com/rust-lang/rust/issues/102171 and https://github.com/rust-lang/rust/issues/67347.

The compiler should suggest adding parentheses around the *ExpressionWithoutBlock* like this:
[code]

[2022-11-18 15:41] pnkfelix commented on #86172
[Visiting for P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.5D.202022-11-18.20planning.20.2B.20compiler-team.23559.20P-high.20IV/near/310848429)

I recommend that this be first handed off to wg-async to investigate, with the advice that they in turn should feel free to hand it off again to T-types if they determine that this isn't real

[2022-11-18 15:52] pnkfelix commented on #85099
[Visiting for P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.5D.202022-11-18.20planning.20.2B.20compiler-team.23559.20P-high.20IV/near/310849890)

We're assuming that T-types is taking ownership of finding a path to a solution here.

(My instinct is that a negative impl is the right long term solution, and we just need to decide whether

[2022-11-18 15:57] pnkfelix commented on #84873
[Visiting for P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.5D.202022-11-18.20planning.20.2B.20compiler-team.23559.20P-high.20IV/near/310852382)

I'm happy to hear progress has been observed here.

I think the main task that remains is for someone on our team to go back and check how the newer versions of the compiler behave on the old

[2022-11-18 16:03] pnkfelix commented on #84857
[Visited for P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.5D.202022-11-18.20planning.20.2B.20compiler-team.23559.20P-high.20IV/near/310853735)

Work seems to be ongoing in #93367, including a lint that fires today, so at least people are aware of the issue, I hope.

[2022-11-18 16:05] thomcc commented on #104570
We might drop older versions (https://github.com/rust-lang/rust/pull/104385), but even after that, Mojave should still be supported (Mojave is 10.14, we'd be increasing the requirement to 10.12).

This is likely an unintentional regression from https://github.com/rust-lang/rust/pull/103929, although I do not know for sure. It could also be related to CI changes, as you mention.

[2022-11-18 16:15] andrewgazelka commented on #103854
# `type_alias_impl_trait` Approach

From what I can tell, `type_alias_impl_trait` will fix this (as associated `impl` types can be referenced). This could be a workaround if `async` functions are forced to be desugared. However, this is a bad option because it decreases ergonomics and might not always be available when using a third-party library. One way to maintain ergonomics will be if there is

[2022-11-18 16:20] badboy commented on #104530
According to [our bots this is a topcrasher on Firefox Nightly](https://bugzilla.mozilla.org/show_bug.cgi?id=1799442#c14).
We might have a workaround there (avoiding that specific codepath overall), it should land with the next nightly, so I will know more after the weekend.

[2022-11-18 16:26] Jarcho opened #104578 "Borrowing an overflowing expression supresses `arithmetic_overflow`"
This is possibly related to #98444

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened: No diagnostic

### Meta
Tested on the playground 1.65 and nightly 2022-11-17

[2022-11-18 16:27] mati865 commented on #104530
Looking at the report in OP there are at least 2 DLLs that could have caused the issue: SuRun (`SuRunExt.dll`) that restricts programs permissions and Sandboxie (`SbieDll.dll`) which is a some kind of a sandbox. I have never used either of them but given their functionality it sounds they could be the reason of this misalignment (I think it's even UB to misalign pointer that is documented as align

[2022-11-18 16:42] apiraino commented on #103814
visiting during T-compiler meeting on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-11-17/near/310641367): followup discussion on this [Zulip stream](https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/decision.20on.20.22Remove.20const.20eval.20limit.22.20.23103877)

@rustbot label -I-compiler-nominated

[2022-11-18 17:04] Super-Pizza commented on #104574
I'm proposing
[code]
[code]

[2022-11-18 17:20] thomcc commented on #104530
It being a top crasher is worrying (even if Firefox can work around it, Firefox is not the only Rust application on Windows). That said, if this only impacts sandboxed processes it'd be less of a concern.

[2022-11-18 17:31] database64128 opened #104579 "rustc incorrectly classifies 13th Gen Intel CPU as goldmont"
Running `rustc --print target-cpus` on an i9-13900K prints:

[code]

The `goldmont` target doesn't even have AVX/AVX2 support. Does this affect codegen with `-Ctarget-cpu=native`?

[2022-11-18 18:21] FireFragment opened #104582 "ICE caused by question mark in parantheses in place of type"
### Code

[code]

### Meta

At the time of writing this, the crash is present in both stable and nightly release channel

`rustc --version --verbose`:

##### Stable

[code]

##### Nightly

[code]

<details><summary><strong>Error & Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-18 18:55] thomcc commented on #104570
Apparently we may have bumped the CI runners to macOS 12 around the same time, which is a CI change that is much more likely to be the root cause than that PR.

[2022-11-18 18:56] lukas-code commented on #104579
This is a LLVM issue. It's fixed on the master branch with https://reviews.llvm.org/D135937, but hasn't been backported to 15.x yet.

In the meantime, you can use `-Ctarget-cpu=alderlake` as a workaround.

@rustbot label A-LLVM