[2022-01-17 00:19] Aaron1011 commented on #92987
This is a new incremental compilation issue, distinct from the previous 'called Option::unwrap' issues. cc @cjgillot

[2022-01-17 00:37] filip-hejsek commented on #92869
Here is a simpler program (no real thread locals) which also reproduces the issue:

[code]

[code]

[2022-01-17 00:39] Amanieu opened #92988 "Tracking Issue for XXX"
Feature gate: `#![feature(panic_can_unwind)]`

This is a tracking issue for `PanicInfo::can_unwind`.

This function returns whether the panic handler is allowed to unwind the stack from the point where the panic occurred.

This is true for most kinds of panics with the exception of panics caused by trying to unwind out of a `Drop` implementation or a function whose ABI does not support unwinding.

[2022-01-17 00:44] Aaron1011 commented on #92987
Thanks for the great reproducer - I was able to reproduce this by first building commit [`27f1892baf487c61390b61d14f96b7828bd5e660`](https://github.com/znx3p0/canary/commit/27f1892baf487c61390b61d14f96b7828bd5e660), then building commit https://github.com/znx3p0/canary/commit/1920c7ed65b8181276f06030230dc3c9f8067a22

[2022-01-17 00:49] jakoschiko commented on #62358
I've learned Scala for my current job. At the beginning I was surprised that `Option` was treated as a container, but I got used to it very quickly. My conclusion after using it for several years now: It's convenient when writing code, but I would agree that it hurts readability. For example, I prefer this
[code]
over this
[code]
Treating `Option` as a container has pros and cons. If Rust has a fo

[2022-01-17 01:11] bridiver commented on #48833
we have a related problem (llvm version mismatch) when trying to run `nm` on rust static lib with xcode 12.5 ```(compiler_builtins-bc8e57a7c90d33c8.compiler_builtins.4d5ea41f-cgu.0.rcgu.o) Unknown attribute kind (70) (Producer: 'LLVM13.0.0-rust-1.56.1-stable' Reader: 'LLVM APPLE_1_1205.0.22.11_0')```
The same problem does not occur on xcode 13.1

[2022-01-17 01:15] kolbma opened #92989 "panics in print-macros when Linux process looses terminal"
I tried this code:

[code]

Here is a complete cargo project: https://github.com/kolbma/rocket-issues/tree/main/println

There you can read these steps for reproducing:

Run this in debugger.

Go to terminal of debugger.

Pause execution (CTRL + Z).

`bg` to run it in background

Close the terminal e.g. `exit` or STRG + D

The debugger jumps immediately in a panic in `std::io::stdio::print_to`.

I

[2022-01-17 01:56] eddyb commented on #60705
@Amanieu According to the edit logs, almost exactly a year ago you checked the box for "Linux `perf`" ~~but nobody has changed this file at all for `v0`: [`torvalds/linux`@fb71c86 / `tools/perf/util/demangle-rust.c`](https://github.com/torvalds/linux/blob/5bfc75d92efd494db37f5c4c173d3639d4772966/tools/perf/util/demangle-rust.c)~~

I ran into lack of support while trying to get good symbol names wi

[2022-01-17 02:06] #91543 closed

[2022-01-17 02:15] cuviper commented on #92869
I think that has to be supported, because the prebuilt standard library may already have different options than your project.

[2022-01-17 02:28] saethlin opened #92993 "memcpy-style copies of small fixed length arrays become memcpy, unless done via a loop with ops::Index"
[godbolt demo](https://godbolt.org/z/7s6K6E6hz)

I have a `[u8; 4]` and I want to copy an unknown number of bytes from it into a `&mut [u8]`. Based on benchmarking, on x86_64 at least it is much slower to call `memcpy` than it is to do a byte-by-byte copy. The fastest implementation of this pattern in Rust is this:
[code]
That just doesn't seem right to me.

[2022-01-17 02:31] RpxdYTX commented on #62290
How async closures would be expressed as a function parameter? i feel that
[code]
would be too verbose, something like `AsyncFn`, `AsyncFnMut` and `AsyncFnOnce` would be better.
Also, closures that return futures don't work well when a closure parameter is a reference.

[2022-01-17 02:38] ehuss commented on #92989
Thanks for the report with the detailed reproduction!  This is essentially a duplicate of #46016.  The `println!` macros are designed to panic when stdout is closed, since they don't have any other way to report an error. That issue includes some possible workarounds.

I'm not sure why you aren't also seeing the panic with the `write!` as the unwrap should definitely trigger.  A slightly easier wa

[2022-01-17 02:38] #92989 closed

[2022-01-17 03:00] avirule commented on #62358
I've tried to outline my reasoning on this topic to the best of my ability, so at this point I believe anything more I have to say will just be reiteration. I'm still of the mind you've failed to address my reasoning with any substantial arguments, but I don't control this issue, and if your mind can't be changed—well, there's not much to be done about it. I support the essence of this issue (of w

[2022-01-17 03:15] Cerber-Ursi commented on #25860
Bumping an issue, since it was found [(link to the corresponding URLO post)](https://users.rust-lang.org/t/negative-views-on-rust-language-based-operating-systems/70449/26) that this problem allows one to easily write `transmute` in safe code (without any IO, like `totally_safe_transmute` does, only by exploiting the soundness hole).

[2022-01-17 03:55] #79708 closed

[2022-01-17 04:05] filip-hejsek commented on #92869
I think i narrowed down the problem to a llvm codegen issue. The problem can be reproduced with this file: [bug.ll.gz](https://github.com/rust-lang/rust/files/7878876/bug.ll.gz). Compiling with `llc bug.ll -filetype=obj -O=0` results in wrong assembly:
[code]

[2022-01-17 04:20] cyqsimon commented on #91345
I kind of like the idea of `Option::inspect_none`. It could be very useful in long method call chains to, for example, spit out a warning.

On the other hand, I don't think it's necessary to use rename `Option::inspect` into `Option::inspect_some` and `Result::inspect` into `Result::inspect_ok`. Considering `unwrap` is not named `unwrap_ok` and `unwrap_some` and `map` is not named `map_ok` and `ma

[2022-01-17 04:47] zowhair commented on #25289
I am having this issue, while setting up solana with rust, soalan-bpf-program-template

[2022-01-17 04:54] rcls opened #92995 "Incorrect warning for unused field."
(Note entirely sure what the intended behaviour is here, but named fields versus tuple fields are treated differently, which seems wrong.)

Given the following code: (https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8c1b3d36eae323990f50c01d182c042d)

[code]

The current output is:

[code]
But the field is actually read due to the `#[derive(Default)]` and the use of that.

Ar

[2022-01-17 06:37] Aaron1011 commented on #92987
This is caused by the way that we handle `DepKind::TraitSelect` (which is an anon dep-node).

The current query system is set up so that we will never try to force a query with a stale `DefPathHash`. Normally, the only way of invoking a query with a `DefId` is to obtain that `DefId` from another query result, or to receive that `DefId` as part of the query argument.

If a query 'A' obtains a `DefI

[2022-01-17 07:03] Amanieu commented on #60705
I checked the box for Linux perf because no change to the kernel was required: the new demangler will automatically get picked up from the updated libiberty.

[2022-01-17 07:15] AzureMarker commented on #92984
I think we need to call [`record_operands_moved`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_mir_build/src/build/scope.rs#L972) when lowering the assignment. Otherwise it inserts a drop for the temporary RHS value. This drop eventually gets culled by a later pass (elaborate drops I think) but since the borrow checker runs before that, it fails the build.

[2022-01-17 07:26] Aaron1011 commented on #91696
This should be fixed on the latest nightly.

[2022-01-17 07:26] #91696 closed

[2022-01-17 07:56] davidhewitt commented on #79645
Just wanted to say thank you for working on coverage in general @richkadel @wesleywiser - the quality of coverage measurements in PyO3 keep getting better and better, and I'm looking forward to having `-Z instrument-coverage` on stable one day 😊

[2022-01-17 08:06] leonardo-m commented on #92966
As it happens, the new Nightly doesn't ICE.

[2022-01-17 08:06] #92966 closed

[2022-01-17 08:22] Aaron1011 commented on #92987
On further investigation, it appears that this may be related to overwriting an existing `DepNode` in the evaluation or candidate cache, potentially causing us to fail to track needed dependencies.

[2022-01-17 08:24] lcnr commented on #92151
minimized
[code]
when looking at the signature of `construct`, we expect `Unevaluated(Self::ASSOC, [Self])` but get `Param(N)`. As we don't look into associated consts rn this causes an error

[2022-01-17 09:00] #92901 closed

[2022-01-17 09:09] SadiinsoSnowfall opened #92999 "Incorrect suggestion of private struct members"
Lets consider the following code ([playground](https://play.rust-lang.org/?gist=cac56e673a4c9cbd3002b6f48ddb047b)) :
[code]

 Here, we try to access a property `cap` on an object of type `struct S`.
 Up to the 1.50 version, the error message was the following :
[code]
  However, since Rust 1.51 and onward, the diagnostic message changed to this:
[code]
While there is indead a `cap` property on the

[2022-01-17 09:16] kolbma commented on #46016
Lol. A print which crashes your process, since 2017 known and documented wrongly, because it could write to stdout all the time and panics nevertheless.

[2022-01-17 09:30] a1ien commented on #82485
What about SocketAddr::new? If we make const `ip`, `port` and and so on how we create const `SocketAddr` it self

[2022-01-17 10:11] ulodciv opened #93000 "rustc error while toying with Iterator and yield"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-17 10:18] jacobbramley commented on #92885
It was my own (naive) assumption, based on how BTI itself works: it's not correct to treat non-BTI machine code as BTI because if it lacks the BTI instructions it will be impossible to call any of its functions. However, that's not particularly relevant as this logic is all resolved before code generation.

That leaves two candidate solutions, then:

1. Use error-on-mismatch for these flags. This

[2022-01-17 10:28] iamsauravsharma opened #93171 "Using font size greater than 16 cause docs to render oddly"
Changing default font size from 16 to 17 on Firefox makes docs.rs page to render oddly.

### Default font size: 17
![Screenshot_20220117_160326](https://user-images.githubusercontent.com/38726015/149751591-ad86464d-0bd2-409e-9ec1-e98cc46b0661.png)

### Default font size: 16
![Screenshot_20220117_160350](https://user-images.githubusercontent.com/38726015/149751666-0c967495-003f-40f3-8da1-742b4cdbee

[2022-01-17 10:43] compiler-errors commented on #93000
I fixed this in #91488, which should be on the latest nightly.

[2022-01-17 11:00] alercah commented on #44265
Speaking of `StreamingIterator`, are there any plans to allow default arguments for GATs?

From a quick glance, along with inferring the `where Self: 'a` bound, allowing default arguments in GATs would enable making `Iterator` into `StreamingIterator` in a backwards-compatible fashion, by making `Item<'a = 'static>`. There might need to be an extra little hiccup to allow omitting the unused `'a` p

[2022-01-17 11:08] Kixunil commented on #44265
@alercah I think it would be simpler to have `trait StreamingIterator` with `impl<T: Iterator + ?Sized> StreamingIterator for T`

The code that uses `StreamingIterator` in its bound could thus accept both. No hacks required, just the current type system. `for` and various functions could be changed to accept `IntoStreamingIterator`.

[2022-01-17 11:15] TmLev commented on #92957
So, for instance, sidebar heading `Structs` should lead [here](https://doc.rust-lang.org/nightly/std/string/index.html#structs)?

[2022-01-17 11:16] alercah commented on #44265
But then literally every combinator needs to have a separate streaming version, even when that isn't required.

Although now I'm realizing that I don't think there is currently the technology to express the constraint on `StreamingIterator` implementations necessary to give a valid `Iterator` implementation. So perhaps it couldn't be done in a backwards-compatible way without adding that technolog

[2022-01-17 11:39] nikic commented on #92869
Further reduced: https://gist.github.com/nikic/b6c45e5eeac03ef1fd842353815ceba4

It seems like all this takes is the combination of a tail call followed by dbg.value and FastISel :/

[2022-01-17 11:39] alercah commented on #44265
This is actually quite interesting, the missing technology is just some way to name a lifetime:

[code]

There is nothing to put in for `'???` because we can't put `'static` (as `I` might not be `'static`) and there are no other named lifetimes available. This is particularly funny because the `Same` constraint ensures that the type will work no matter what we put there, as long as we put *some* v

[2022-01-17 11:41] nikic commented on #92869
Filed https://github.com/llvm/llvm-project/issues/53243.

[2022-01-17 11:47] nagisa commented on #58760
The attributes have been removed, closing.

[2022-01-17 11:47] #58760 closed

[2022-01-17 11:58] Kixunil commented on #44265
Just move the implementations (except `collect()`!) to the streaming version and make `Iterator` ones call those.

[2022-01-17 11:59] SimonSapin commented on #44265
`I: 'static` might not hold but that’s not required by `<I as StreamingIterator>::Item<'static>`, is it?

The `Same` bound (if it could exist) can only hold if the `Item` associated type does not use its lifetime parameter, so it wouldn’t matter if that parameter is `'static`.

[2022-01-17 12:17] Kixunil commented on #44265
Just realized that implementing `Iterator` for `StreamingIterator` would be even worse than having the methods duplicated because then types that can't implement `Iterator` due to borrowing `self` would lose the methods entirely. It violates Liskov Substitution Principle.

[2022-01-17 12:26] #93000 closed

[2022-01-17 12:36] alercah commented on #44265
Unfortunately it is: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0a3c0d6e8cb8ec222cd86972fd46d8e4

Yet another example of the problems with generic bounds on types rather than on impls. ;)

The reason for the bound is in #87479.

[2022-01-17 12:37] Alexendoo commented on #90847
No longer ICEs since #92805

[2022-01-17 12:53] ssomers commented on #62924
I wondered how you'd pop by cloning a set, but now I realize it's about not cloning elements. It's technically possible by rebuilding the entire set [as in this playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3e1f67cb1dde97e91b99b2c81be68d12): no element gets cloned and the set isn't cloned either. I don't think there's a reasonable solution.

[2022-01-17 13:19] #70173 closed

[2022-01-17 13:19] #82065 closed

[2022-01-17 13:19] #87612 closed

[2022-01-17 13:19] #92794 closed

[2022-01-17 13:23] nbittich opened #93002 "thread 'rustc' panicked at 'Box<dyn Any>'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-17 13:45] trentj commented on #93002
Looks like the ICE is fixed on nightly and in 1.59.0-beta.1, although the diagnostic suggestion is still a bit odd:

[code]

[2022-01-17 13:50] krasimirgg opened #93003 "src/test/codegen/thread-local.rs will need an update for LLVM 14 after LLVM commit 4796b4ae7bccc7b75a26b666fbd554c49b274404"
It looks like we will need an update to [src/test/codegen/thread-local.rs](https://github.com/rust-lang/rust/blob/master/src/test/codegen/thread-local.rs) for https://github.com/llvm/llvm-project/commit/4796b4ae7bccc7b75a26b666fbd554c49b274404:
Experimental Rust + HEAD LLVM CI: https://buildkite.com/llvm-project/rust-llvm-integrate-prototype/builds/7674#f06ecb09-6dbc-4c96-a6f7-5e27298aba0c:

[code

[2022-01-17 14:09] nikic commented on #93003
I expect this is a matter of adjusting the test expectation to no longer include a bitcast.

[2022-01-17 14:20] ehuss commented on #92995
Thanks for the report!  This is currently intended behavior, as otherwise adding `#[derive(Debug)]` would prevent the unused warning from working. I understand it can be problematic as actually using the debug formatting seems like it should count as a "use".  There is a deeper explanation at https://github.com/rust-lang/rust/issues/88900#issuecomment-929493011.

Closing as a duplicate of #88900,

[2022-01-17 14:20] #92995 closed

[2022-01-17 14:49] matthiaskrgr commented on #93002
Might be duplicate of https://github.com/rust-lang/rust/issues/92979

[2022-01-17 15:24] chansuke commented on #92957
@rustbot claim

[2022-01-17 15:45] AngelicosPhosphoros commented on #77772
@Mark-Simulacrum proposed additional optimizations for this issue.
Details here:
https://github.com/rust-lang/rust/pull/92104#issuecomment-1014106381

[2022-01-17 16:27] zseri commented on #44265
hm... maybe we should add a special lifetime `'!` or such, e.g.
[code]

[2022-01-17 16:35] terrarier2111 commented on #92999
@rustbot claim

[2022-01-17 17:01] locriacyber commented on #89300
This is easy to reproduce with with a loop device or tmpfs.

[2022-01-17 18:26] jsha commented on #92957
Yes, that's correct.

[2022-01-17 18:35] JanBeh commented on #87479
Many thanks for looking into it. My code compiles now.

However, due to to other constraints I'll keep using `type Machine: Machine<'a>;` (with `Self::Machine as Machine<'a>>::Datum<'b, 'c>`) instead of `type Datum<'c>;` as GAT, because I cannot do:

[code]

Anyway, that's a different problem, and I don't think I need it solved because my workaround above isn't that bad (and makes some other thing

[2022-01-17 18:51] camelid commented on #92971
A patch release of pulldown-cmark is about to be released. Could someone open a PR to update to it?

[2022-01-17 18:58] chengniansun opened #93008 "ICE with "--crate-type lib --Z mir-opt-level-3": `Unimplemented` selecting `Binder(<&str as Foo>, [])` during codegen"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-17 19:04] camelid commented on #92971
Ok, release is out.

[2022-01-17 19:09] Mark-Simulacrum commented on #90504
Closing as fixed by #90845, though we may end up reverting it.

[2022-01-17 19:09] #90504 closed

[2022-01-17 19:25] AzureMarker commented on #92984
I think this would also require a change to the borrow checker. After adding a call to `record_operands_moved` the drop call for the temporary goes away in the MIR, but the error stays. Checking the borrow check dataflow graph, I see the borrow is still there even after dropping the borrower:
![image](https://user-images.githubusercontent.com/4417660/149827142-e342f4c9-1c42-4e99-94ab-10b3bb23c78b.

[2022-01-17 19:26] jackh726 commented on #92985
For reference, here's a version of `next` for `Filter` that uses unsafe to compile. (There might be a different way to do this, but this works):
[code]

[2022-01-17 19:34] AzureMarker commented on #92984
This is the relevant MIR and borrowck graph if you remove the loop. This time the borrow gets killed when the moved borrower's storage gets killed (`StorageDead`). Not sure why this doesn't happen in the loop case.
![image](https://user-images.githubusercontent.com/4417660/149827902-45f54895-dcb9-4f4d-8fb9-222d6ec378b2.png)

[2022-01-17 19:48] AzureMarker commented on #92984
This is the relevant MIR and borrowck graph if you comment out the `Drop` impl for `Console` (but keeping the loop). This is the kind of borrowing that I expect. Maybe the borrow checker doesn't fully understand `TerminatorKind::DropAndReplace`?
![image](https://user-images.githubusercontent.com/4417660/149829393-073a4936-110c-4647-8ae2-256a83ff5aee.png)

[2022-01-17 19:50] saethlin opened #93011 "The panic branch of `Some(x).unwrap()` is not removed for some types"
Demos: https://godbolt.org/z/TMh3Krfc5

The motivating example is:
[code]
[code]
It looks to me like the problem with `Vec` is that specifically the `nonnull` attribute does not survive being wrapped in two structs that each contain a second member. If either of `RawVec` or `Vec` is missing a `usize` member, the optimization works.

There is a missed `NonZero*` optimization in here that I found lo

[2022-01-17 20:00] GuillaumeGomez commented on #92971
Just opened https://github.com/rust-lang/rust/pull/93012 for it.

[2022-01-17 20:25] cfredric opened #93013 "ICE after renaming enum"
### Code
I haven't had a chance to minimize this yet, but I can provide the project and commit where I first ran into it: https://github.com/cfredric/rlox/commit/96a1fbf419a5b80fb06ee98089b3d3426056b7bf. Interestingly, this commit just renamed an enum in my project; no logic changes. Is it possible that the name I chose collided with some rustc-internal name?

### Meta

Note: the bug only reproduc

[2022-01-17 20:35] hoodmane opened #93015 "Miscompilation of compiler_builtins for wasm32-unknown-emscripten target"
To get around the problem in #92738, I manually remove the `lib.rmeta` files from the `.rlib` files. Then linking succeeds except that `compiler_builtins-[...].compiler_builtins.[...]-cgu.1.rcgu.o` has invalid wasm. If I remove also `compiler_builtins-[...].compiler_builtins.[...]-cgu.1.rcgu.o`, then linking succeeds and the code works correctly as long as it does not attempt to use any of the sym

[2022-01-17 21:59] leonardo-m commented on #80552
I'm finding this function quite useful in my code.

It's similar to a split, but it takes a function (predicate) with two arguments (diadic) instead of a function with one argument. So if you don't like the "group_by" Python-inspired name (that takes a single argument predicate) then do you like split_on_adjacent? :-)

Regarding the implementation, currently it performs a linear scan:

    if (sel

[2022-01-18 00:48] scottmcm commented on #44265
It needs to be able to have *a* lifetime, though, from the `Self` type.  It just needs to not care about the GAT lifetime.

[2022-01-18 01:41] Kylebrown9 opened #93020 "Unexpected panic in `rustc_hir/src/definitions.rs`"
### Code

I cannot achieve reproduction except in the exact repo on the exact machine I ran this.
Creating another clone of the same project checked out to the same branch does not reproduce even on the same machine.

The branch in question is:
https://github.com/wrought-lang/wrought-rs/tree/rename_operation

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summar

[2022-01-18 01:44] compiler-errors commented on #93008
This doesn't require `#![feature(trivial_bounds)]` (but still requires `mir-opt-level=3`):

This code is a slight variation of the test case in `ui/trait-bounds/issue-75961.rs`, with an unused type parameter:
[code]

And `-Ztreat-err-as-bug=1` suggests that this is due to the `Inline` mir pass.

I'll try to find a way to suppress this ICE.
@rustbot claim

[2022-01-18 01:46] Kylebrown9 commented on #93013
I think the issue I just reported #93020 is related. This is the same exact error location and was caused by me renaming an enum from `Operation` to `Instruction`.

[2022-01-18 02:20] nico-abram commented on #64086
I believe this was implemented in https://github.com/rust-lang/rust/pull/84662 and shipped with rustc 1.56, so this can be closed now

[2022-01-18 03:18] #64086 closed

[2022-01-18 04:02] 0loli opened #93022 "rustc commits SIGSEGV: invalid memory reference)"
### Code

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ae26a48596e720c6494e950ca3be9450

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-18 04:03] 0loli commented on #93022
this is not exactly ICE, but I did not find an appropriate variant for this

[2022-01-18 04:11] joshtriplett commented on #87335
@a1phyr We haven't yet committed to never supporting `try { ... } else { ... }` as valid syntax, and if that became valid syntax then `let pat = try { ... } else { ... }` would be ambiguous.

[2022-01-18 04:17] zseri commented on #44265
@scottmcm what is the difference between them?

[2022-01-18 04:27] jarkkojs opened #93023 "rustc crashes with unfinished patch while compiling Enarx"
**TRANSCRIPT**

[code]

**TOOLCHAIN**

[code]

**OTHER**

Snapshot of the state of in-progress patch that triggered the rustc crash: https://github.com/jarkkojs/enarx/tree/rustc-crash

[2022-01-18 05:28] nico-abram commented on #60163
@eddyb can this issue be closed? From what I understand of the discussion above all the renamings accepted were done, and the permalinks from your comment give a 404 when I try to move to the master branch because src/librustc no longer exists

[2022-01-18 05:38] nico-abram commented on #62194
I don't know when this was fixed, but I see the following output on the playground (1.58) https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f0b6bc2bf8ccf0f3eb3f563f8b3287a1 :
[code]
[code]

I think this can be closed

[2022-01-18 06:59] gangliao opened #93025 "Nightly version broke packed_simd"
GitHub issue is here: https://github.com/rust-lang/packed_simd/issues/340

[2022-01-18 07:02] compiler-errors commented on #92881
I'll take a stab at this, if nobody else is planning on it already!
@rustbot claim

cc @fee1-dead:
I'm planning on rewriting `assemble_const_drop_candidates` to select a user-provided `impl const Drop` if it is provided (e.g. by an ADT), and fleshing out a real `confirm_const_drop_candidate` that

[2022-01-18 09:19] Kerollmops commented on #80552
Hey @leonardo-m,

If you need something more polished than this nightly method in the standard library, I have also worked on a crate with something similar to the galloping algorithm you describe here. [The library is called slice-group-by](https://docs.rs/slice-group-by) and is available on crates.io.

[2022-01-18 09:45] nikic commented on #92967
Should be fixed by https://github.com/llvm/llvm-project/commit/202d590a017b76926c9e327927d9c144bc8f5cfb, https://github.com/llvm/llvm-project/commit/d15823e3006bd3c5f19388e5cb6bc0cdcba9c2b2, https://github.com/llvm/llvm-project/commit/9e68557e6437a7cb997cf571542b3638839dcaa0.

[2022-01-18 09:58] leonardo-m commented on #80552
I've just tried that crate and it works well (in my case it gives no speedup probably because my runs are generally very short).

[2022-01-18 09:58] #75017 closed

[2022-01-18 09:58] #84539 closed

[2022-01-18 09:58] #93003 closed

[2022-01-18 09:58] #83704 closed

[2022-01-18 09:58] #92626 closed

[2022-01-18 09:58] #92637 closed

[2022-01-18 09:58] #92114 closed

[2022-01-18 09:58] #92682 closed

[2022-01-18 10:08] sindreij opened #93029 "Got a compiler error, looks like incremental compilation. Hope this is useful"
Got a compiler error, looks like incremental compilation. Hope this is useful

### Meta

`rustc --version --verbose`:
[code]

### Error output

<details><summary><strong>Output with backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-18 10:20] devslash-paul opened #93030 "rustc suggested fix fails to compile when using `cargo clippy --fix` with code containing todo!()"
I tried to run `cargo clippy --fix` with this code:

[code]

I expected to see the clippy command succeed.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-01-18 10:37] hkratz commented on #93025
The unstable llvm_asm has long been deprecated and now removed. The current version of packed_simd does not use it anyway so I filed https://github.com/rust-lang/packed_simd/pull/341 to remove any reference to it.

[2022-01-18 10:38] nikic commented on #93025
This doesn't seem like it requires any action on the rustc side, so closing this issue.

[2022-01-18 10:38] #93025 closed

[2022-01-18 10:43] hkratz commented on #93029
@rusbot label +A-incr-comp

[2022-01-18 10:45] hkratz commented on #93023
@rustbot label +A-incr-comp

[2022-01-18 10:51] hkratz commented on #93022
@rustbot label -I-ICE +I-crash

[2022-01-18 10:52] hkratz commented on #93020
@rustbot label +A-incr-comp

[2022-01-18 12:25] dhardy commented on #40910
I'd like to revisit this if possible, but with a different name than "zero" (lets say "start" here, though "default" may be better).

The semantics would be limited to:

- `Instant::start()` is invariant (same value each time called within the process)
- `Instant::start() < Instant::now()` at any point in the program

Motivation:

1. `Default`: as [noted](https://github.com/rust-lang/rust/pull/508

[2022-01-18 12:33] dhardy commented on #40910
Relevant internals thread: https://internals.rust-lang.org/t/first-contribution-guideline-questions-impl-default-for-std-instant/11043/20

Interesting point: [the semantics of `Default` are poorly defined](https://internals.rust-lang.org/t/proposal-add-is-default-automatically-to-types-that-implement-default-and-partialeq/9433/14). I'm not sure whether that's a point in favour or against this idea

[2022-01-18 12:52] leonardo-m commented on #80552
Another note, inside next() of GroupBy there this line:

    let (head, tail) = self.slice.split_at(len);

Inside slice::split_at there's this assert:

    assert!(mid <= self.len());

I've seen that such assert isn't removed in the asm of my group_by usages.

I think it's because of this missed LLVM optimization:
https://users.rust-lang.org/t/hare-and-tortoise-indexes-analysis/63985

So are bench

[2022-01-18 12:54] hellow554 commented on #93022
searched nightlies: from nightly-2021-12-01 to nightly-2022-01-18
regressed nightly: nightly-2021-12-06
searched commits: from https://github.com/rust-lang/rust/commit/efec545293b9263be9edfb283a7aa66350b3acbf to https://github.com/rust-lang/rust/commit/e2116acae59654bfab2a9729a024f3e2fd6d4b02
regressed commit: https://github.com/rust-lang/rust/commit/bdaa9010493d26611079a9de1c8722532e140a24

cc #9

[2022-01-18 12:57] flip1995 commented on #92938
Besides https://github.com/rust-lang/rust/commit/5d63a286383b0a0ed03aa2568e306a3a154e3fa9, we'd also like to backport https://github.com/rust-lang/rust/commit/cb384ff03b7a10bca10b962d9907c0d56ba3086f, which addresses a bug with our `useless_format` lint when it comes to implicit named arguments. This was fixed in https://github.com/rust-lang/rust-clippy/pull/8295 and synced to rustc in #93001. Tha

[2022-01-18 13:02] EFanZh opened #93032 "The size of `(T, Infallible)` is not zero"
Since `Infallible` is an [empty type](https://doc.rust-lang.org/nomicon/exotic-sizes.html#empty-types), I expect `(T, Infallible)` also be an empty type, thus they should have the same size. But I noticed that `(T, Infallible)` have the same size as `T`, so currently, we have

- `mem::size_of::<Option<Infallible>>() == 0`
- `mem::size_of::<Option<(u32, Infallible)>>() = 8`

I guess this is because

[2022-01-18 14:46] Kixunil commented on #81513
I'm writing a new crate with a bunch of `unsafe` code that needs to avoid `core::mem::swap()` so I had to opt into creating my own `struct RefMut<'a>` (the real signature is a bit more complicated but that's not important here). I'd prefer this to be custom DST to not need a `reborrow()` method and other things.

However my metadata happens to be `&'same_lifetime_as_t mut Meta`. It'd be much nicer

[2022-01-18 14:50] SkiFire13 commented on #80552
Note that with a carefully placed `assert` you can convince LLVM to remove any unnecessary bound check. https://godbolt.org/z/c4TxMM9Tr

[2022-01-18 14:54] matthiaskrgr opened #93033 "`x.py dist` builds tools twice due to dependency vendoring?"
There is this problem that `x.py dist` builds most of the tools twice.

It seems that during the initial build (which is the same as `x.py build`) we take the normal sources from `$CARGO_HOME`, but then there is some dependency vendoring taking place which seems to override some of the dependency paths to the vendored ones.

This causes fingerprints to change and some of the tools to be rebuilt:

[2022-01-18 15:20] Mark-Simulacrum opened #93034 "Crater runs for 1.59"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2022-01-18 15:40] Randall-Coding commented on #75833
I came here with the same problem didn't know it was from using nightly + complete.

[2022-01-18 15:47] jrmuizel opened #93036 "Rust unable to optimize away assert vs. clang."
[code]
Rustc does not optimize away the the assert. Adding `-C passes=constraint-elimination` doesn't help.

However, clang does optimize away this assert when compiled with `-O2 -mllvm -enable-constraint-elimination`
[code]

GCC is also able to remove the assert with GCC trunk.

[2022-01-18 15:56] inzanez opened #93037 "Caching Issue"
Hi

I just ran into a caching issue. I ran `cargo update -p <some_git_hosted_package>` followed by `cargo watch` in a project, which triggered the following:

Running `cargo clean` and another `cargo watch` resolved the issue. So there seems to have been some mixup in the cache I assume.

[2022-01-18 15:58] Aaron1011 commented on #93037
This should be fixed in the latest nightly.

[2022-01-18 16:12] rcreecy opened #93040 "src/stage0.json doesn't contain a checksum for dist/2021-11-30/rustc-beta-armv7-linux-androideabi.tar.xz"
I am attempting to compile Rust in a Raspberry Pi 3b+ running Emteria.os Android (Armv7 Android / Linux 4.9.196-v7+) and receiving checksum validation errors against the target.

I have cloned the primary repository branch and am proceeding with the documented build instructions. Upon calling x.py for build, I receive a failure.

RuntimeError: src/stage0.json doesn't contain a checksum for dist/20

[2022-01-18 16:24] tmiasko commented on #32925
This was fixed at some point, probably by #46899:

[code]

[2022-01-18 16:24] #32925 closed

[2022-01-18 16:41] Aaron1011 commented on #93029
It looks like beta doesn't include https://github.com/rust-lang/rust/pull/92533

[2022-01-18 17:14] Mark-Simulacrum commented on #93040
Can you paste your config.toml? I suspect you are enabling download-ci-llvm and/or download-rustc in config.toml, which force a dependency on the rustc tarball, but that's not available for armv7-linux-androideabi as it's a tier-2 without host tools target.

[2022-01-18 17:43] jyn514 commented on #92903
Yes it was, thank you!

[2022-01-18 17:43] #92903 closed

[2022-01-18 17:51] leonardo-m commented on #80552
SkiFire13, despite I have some experience with optimizing Rust code and finding ways to remove bound tests, your code feels a bit magical. Very nice. I think that change is worth pushing in the Rust stdlib.

[2022-01-18 17:53] rcreecy commented on #93040
I am using the config sample out of the box, however, I did just adjust both download-ci-llvm and download-rustc to be set to false (I tried them both together and individually), and I continue to receive the same failure

[code]

[2022-01-18 17:54] pierwill opened #93043 "Possible missing `# Safety` documentation for `alloc::string::Drain`"
Should this code have a section explaining the reason for unsafety? Perhaps this is discussed somewhere else already?

https://github.com/rust-lang/rust/blob/7bc7be860f99f4a40d45b0f74e2d01b02e072357/library/alloc/src/string.rs#L2763-L2780

[2022-01-18 17:55] pierwill commented on #93043
@rustbot labels +T-libs +A-allocators

[2022-01-18 17:56] pierwill commented on #92999
@rustbot label +A-diagnostics

[2022-01-18 17:59] the8472 commented on #93043
Afaict tidy doesn't enforce undocumented-unsafe for `alloc` yet.

[2022-01-18 18:04] pierwill commented on #93043
Ah yes, I seemed to remember a tidy check for this. Is adding this for `alloc` something we want? I could look into this.

[2022-01-18 18:08] Mark-Simulacrum commented on #93040
Oh, wait, rustc-beta -- sorry, confused it with a different component. Yes, this is just a poor error message, but the cause of this is as I indicated -- we don't currently have pre-built rustc binaries for this target, so x.py won't be able to bootstrap on this target without you providing the bootstrap binaries (rustc and cargo) to facilitate that, which may be obtainable by cross-compiling from

[2022-01-18 18:22] ecstatic-morse commented on #93022
Looks like a stack overflow in `ty::relate`. Needs a call to `ensure_sufficient_stack` somewhere, probably at the end of `rustc_infer::infer::combine::Generalizer::tys` around `relate::super_relate_tys`, although there might be a better spot. This will have perf implications, however.

[2022-01-18 18:23] pierwill commented on #93043
Closing for now.

[2022-01-18 18:23] #93043 closed

[2022-01-18 18:30] matthiaskrgr commented on #93033
Commenting out the `PlainSourceTarball` step seems to make tools not be build again.
https://github.com/rust-lang/rust/blob/9ad5d82f822b3cb67637f11be2e65c5662b66ec0/src/bootstrap/builder.rs#L498

[2022-01-18 18:37] joshtriplett commented on #32976
We discussed this in today's @rust-lang/lang, and we're in favor of stabilizing this.

We'd like to confirm that we'll have documentation (in the Rust documentation for cfg) of exactly what this checks.

Apart from that, let's confirm consensus to stabilize via FCP:

@rfcbot merge

[2022-01-18 18:58] dalcde commented on #93036
More generally, rust/llvm does not understand that inequality is transitive. The following code generates three inequality asserts in the assembly:
[code]
Rust playground: https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=8cfdb982df6b7e781b398b9408b3cd10

[2022-01-18 19:12] jrmuizel commented on #93036
Adding `-C passes=constraint-elimination` fixes that.

[2022-01-18 19:17] jrmuizel commented on #93036
but not if the types are changed to `i32` for which I filed: https://github.com/llvm/llvm-project/issues/53273

[2022-01-18 19:47] scottmcm commented on #32976
@rfcbot reviewed

The conversation in the meeting was helpful to me.  I was worried that this was covering some complicated list of stuff where we might find another thing later, but since it's all "stuff you can do so long as you have compare-exchange" that seems like a safe definition going forward.

[2022-01-18 19:57] rcreecy commented on #93040
Okay, thanks for the quick followup. I'll follow the rustc book for custom targets and try to compile for myself, and hopefully have some luck.

[2022-01-18 19:57] #93040 closed

[2022-01-18 19:58] the8472 commented on #93036
Assuming you need this for slicing then creating a temporary works.

[code]

https://rust.godbolt.org/z/n6sa6Gf34

[2022-01-18 20:13] nikomatsakis commented on #32976
@rfcbot reviewed

[2022-01-18 20:23] #60163 closed

[2022-01-18 20:58] m-ou-se commented on #62358
This was discussed recently in the library team meeting. We'll investigate what it takes to have `option == Some(x)` working for `option: Option<T>` and `x: U` where `T: PartialEq<U>`, which would remove the need for a `PartialEq`-based `contains` function. (Same for `result == Ok(x)`.) If we can make that work as intended, possibly with a small language change, that is preferred over a method for

[2022-01-18 21:09] khionu commented on #62358
I'm saddened by how this thread turned towards attacking character, but even more so that it took so long for anyone to break the cycle. @soc @Rustinante, you both acted in pretty poor faith. It takes two to escalate, but only one to deescalate.

@Rustinante we don't tell people they should leave the community, ever. If there's a legitimate reason for someone to leave the community, that has to go

[2022-01-18 21:17] m-ou-se opened #93050 "Tracking Issue for Option::is_some_and and Result::is_{ok,err}_and"
Feature gate: `#![feature(is_some_and)]`

This is a tracking issue for `Option::is_some_and`, `Result::is_ok_and` and `Result::is_err_and`.

### Public API

[code]

### Steps / History

- [x] Lots of discussion and bikeshedding starting here: https://github.com/rust-lang/rust/issues/62358#issuecomment-970280621
- [x] Implementation: #93051
- [x] Rename: https://github.com/rust-lang/rust/pull/94765

[2022-01-18 21:26] dustypaws commented on #62358
Now......can we stabilize this feature? Maybe...? 🥺👉👈

[2022-01-18 21:55] the8472 commented on #93050
What are the use-cases? And won't that largely be covered by if-let chains?

[code]

[2022-01-18 22:01] soc commented on #62358
I'm unsubscribed, as this is a poor use of my time.

I ask everyone to kindly stop constantly pulling me back into this thread (for instance by @-mentioning me), please.

[2022-01-18 22:05] m-ou-se commented on #93050
Lots of functions on `Option` and `Result` are already 'covered' by `match` or `if let`, but it's still very useful to have methods for the most common cases. It makes things more readable and less verbose, and also easier to write (especially with auto completion).

[code]

[2022-01-18 22:23] camsteffen commented on #93050
`is` or any name ending in "is" will not flow well with function names that follow: `opt.and_is(char::is_lowercase)`, `dog.and_is(Dog::has_a_bone)`, etc.

`is_some_and` flows better. I would consider the shorter `some_and` as well.

[2022-01-18 22:37] themaxdavitt opened #93052 "Document stack smashing protection"
Stack smashing protection was added in #84197, but [`src/doc/rustc/src/exploit-mitigations.md`](https://github.com/rust-lang/rust/blob/master/src/doc/rustc/src/exploit-mitigations.md) was never updated.

@rustbot label A-docs

[2022-01-18 23:00] vacuus commented on #93032
(I don't claim to be authoritative on this topic)
(I'm using `!` but this applies to `Infallible` just as well)

tl;dr:
If you were thinking that `mem::size_of::<Option<Infallible>>() == 0` should imply `mem::size_of::<Option<(u32, Infallible)>>() = 0`, I don't believe there is currently any guarantee for that, and, in any case, the logic for each would be distinct.

The Rustonomicon, which you li

[2022-01-18 23:01] m-ou-se commented on #93050
This example about a `deadline: Option<Instant>` comes directly from code I worked on recently. Checking some condition on a `Some` is a pattern that occurs reguarly there. In some cases it's just used in an `if` directly, but in many cases the value is stored in some struct first, or used by multiple `if`s, or passed to a function, serialized and sent over a socket, etc. In some cases it's only u

[2022-01-18 23:04] m-ou-se commented on #93050
There are 117 cases of `.map_or(false, ` in the `compiler/` directory in the rust repository. Most of them are probably good examples of use cases for these methods.

[2022-01-18 23:33] ajtribick commented on #56167
I created an initial implementation of the `entry_ref` API (https://github.com/rust-lang/hashbrown/pull/301) which is available in version 0.12 of hashbrown in case people want to try it out.

[2022-01-19 00:09] ecton opened #93054 "LLVM coverage regression in nightly-2022-01-15"
Between nightly versions 2022-01-14 and 2022-01-15, [grcov](https://github.com/mozilla/grcov) 0.8.2 lost track of 82% of the coverage of [BonsaiDb](https://github.com/khonsulabs/bonsaidb) when using the LLVM coverage option (`-Zinstrument-coverage`).

Other projects of mine continue to have code coverage correctly measured. I'm not where to start narrowing this down, as I'm not getting any errors

[2022-01-19 00:23] Patrick-Poitras opened #93055 "Insufficient test coverage for `Stdin::Read` on Windows "console mode""
While implementing #91754, we came across a lack of test coverage for `Stdin::Read`. The function has two code paths, one of which is triggered when input is piped in, and the other is triggered when the user is calling the executable from the console. This "console mode" code path is, as far as I'm able to tell, entirely ignored by automated tests and the CI.

I was unable to get anything near au

[2022-01-19 00:25] Patrick-Poitras commented on #93055
@rustbot label +A-code-coverage +A-io +O-windows +C-bug +E-needs-test

[2022-01-19 00:30] Patrick-Poitras commented on #93055
Relevant code bits: (in `library/std/src/sys/windows/stdio.rs`)

[code]
[code]

[2022-01-19 00:59] Patrick-Poitras commented on #25753
Still not working. Link to playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a057796d9baed16f4cf6531485134d88

[2022-01-19 01:17] jsha opened #93058 "rustdoc: replace `var` with `const` and `let` in JS"
Now that rustdoc is using ES6 idioms, we should replace all `var` declarations with `const` and `let`. This style guideline explains why: https://github.com/airbnb/javascript#references. Once that's done, we should turn on the lint checks that enforce it.

I think there are a few places (at least in search.js) where we rely on the surprising property of var declarations called "[var hoisting](http

[2022-01-19 01:21] teknoman117 opened #93059 "i586-unknown-linux-gnu target generates binaries contains Intel CET opcodes which are illegal on i586 processors"
As the title says, I generated an i586 rust toolchain by doing the following:

[code]

However, after installing the toolchain, attempting to run any of the rust tooling throws an illegal instruction exception.

[code]

Running rustc under gdb and looking at the failing instruction shows that the binary contains the "endbr32" instruction, which is part of the Intel CET instruction set on Tiger Lak

[2022-01-19 01:29] Urgau commented on #93059
you may want to look here https://github.com/rust-lang/rust/issues/82435, it's not exactly the same issue but some informations may be relevant to you

[2022-01-19 01:59] jsha opened #93060 "rustdoc: fix border-radius and sizing of help and settings icons"
Currently the help and settings icons next to the search box have a bit of a style mismatch with the search box itself:

![image](https://user-images.githubusercontent.com/220205/150049168-2c9ce11f-a557-4a37-a998-6fb20ff1ae12.png)

They have a slightly larger border-radius, and their height is not the same as the search box. We should fix that. We may also want to slightly decrease the height of t

[2022-01-19 02:22] scottmcm commented on #93032
This is intentional; see https://github.com/rust-lang/rust/issues/49298

[2022-01-19 02:29] scottmcm commented on #93011
You might be interested in #85646 (which came from #85133), which tried to make some progress here and found some LLVM issues with `match`ing on 2-variant enums (like the `Option` here).

nox was working on some codegen improvements that might help at some point: https://rust-lang.zulipchat.com/#narrow/stream/189540-t-compiler.2Fwg-mir-opt/topic/Discriminant.20computation.20yields.20bad.20output/n

[2022-01-19 02:30] teknoman117 commented on #93059
I was just a little surprised over this considering the vendoring for i586 puts _-march=pentium_ into the mix of cflags.

[2022-01-19 02:33] #59860 closed

[2022-01-19 02:34] teknoman117 commented on #73820
I dunno if this is related but on rust 1.56.1, 1.57, and 1.58 (only ones I've tried), I'm getting CET opcodes where I _don't_ want them #93059

[2022-01-19 03:23] octylFractal commented on #87555
@m-ou-se should the implementation box be checked off now? It seems the PR to implement it was merged.

[2022-01-19 03:42] Aaron1011 commented on #92987
Minimal reproduction script:

`repro.rs`:

[code]

`repro.sh`:

[code]

[2022-01-19 03:44] kornelski commented on #87850
I've ran into this in https://github.com/kornelski/cargo-deb/commit/e814497a3e8962cf3a76f119703ef7e87d95a300

and it's a weird case, because it affects `cargo fix --edition`, but not any other command like `cargo build`, not even `cargo fix --edition-idioms`.

[code]

It doesn't like this:

[code]

It compiles if I change it to:

[code]

but given the odd nature of this bug, that may just be a coi

[2022-01-19 03:49] RalfJung commented on #93032
Indeed, the size of `(T, Infallible)` was 0 at some point and that was critical soundness issue and got fixed.

So I think this issue should probably be closed. The one thing we could do here is improve documentation of this problem, but I am not sure where such docs would go.

[2022-01-19 03:57] RalfJung commented on #92736
This looks like a duplicate of https://github.com/rust-lang/miri/issues/1038.

[2022-01-19 04:22] sdavids commented on #73908
Status?

Since the last update several CI providers have Apple M1 VM offerings.

[2022-01-19 05:33] vacuus commented on #93032
Perhaps the same page of the Rustonomicon that `@EFanZh` linked at the top?

[2022-01-19 06:02] dobromyslov commented on #48331
Found nice fresh slice of the std::io to use as a workaround in no_std environments: https://github.com/dataphract/acid_io

[2022-01-19 06:31] sanxiyn commented on #50776
Closing, presuming fixed on Homebrew side.

[2022-01-19 06:31] #50776 closed

[2022-01-19 06:33] sanxiyn commented on #51455
Closing, presuming to be a duplicate of #50776.

[2022-01-19 06:33] #51455 closed

[2022-01-19 06:40] sanxiyn commented on #69436
Closing, Rust now requires LLVM >=12.

[2022-01-19 06:40] #69436 closed

[2022-01-19 06:45] Arnavion commented on #92137
Just to be sure, the proposed change will also fix the fact that `unreachable!("{x}")` and `unreachable!("{}", x)` don't behave the same in 1.58+ with E2021, right? (The former prints `internal error: entered unreachable code: {x}` because it's not parsed as a format string with implicit args.)

[2022-01-19 07:05] mimoo commented on #79645
hitting that issue too o.o

[2022-01-19 08:11] photino commented on #82223
It will be more useful if we can impl it for `Result<T, E> where E: Into<T>`.

[2022-01-19 08:44] p-avital commented on #92894
Hello,

Since I haven't received much feedback for this issue, I'm just trying to prop it up a little.

Does anyone have an idea where I could try to hunt for this bug?

Thank you :)

[2022-01-19 09:58] m-ou-se commented on #90553
Re-opening this, because it doesn't work yet for `for` loops:

[code]

[2022-01-19 11:03] fpoli commented on #93054
We noticed the same when upgrading rustc in our project from `nightly-2021-12-15` to `nightly-2022-01-17`. Code coverage measured with `-Zinstrument-coverage` and [grcov](https://github.com/mozilla/grcov) inexplicably dropped [from 76% to 28%](https://app.codecov.io/gh/viperproject/prusti-dev).

https://github.com/tikv/tikv/pull/11875#issuecomment-1016260419 suggests that this is probably caused b

[2022-01-19 11:13] mati865 commented on #93054
https://github.com/taiki-e/cargo-llvm-cov/issues/128 says `nightly-2022-01-15` is also affected.

[2022-01-19 12:12] jakoschiko commented on #93050
The name `is_some_and` would allow us to add its counterpart `is_none_or` in the future.

[2022-01-19 12:15] shepmaster commented on #73908
@sdavids  please educate me on which *CI providers* allow executing Apple Silicon binaries. As the previous comment emphasizes, we are not interested in bare hardware providers (e.g. AWS EC2 / Scaleway / MacStadium). There are multiple (off topic and thus hidden) comments about those providers.

[2022-01-19 12:21] wllenyj opened #93073 "`assertion failed: sentinel == STR_SENTINEL` at /compiler/rustc_serialize/src/opaque.rs:669"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-19 12:23] m-ou-se opened #93074 "Invalid 'compatible variant' suggestion on mismatched types in `.await` expression"
This code:
[code]
produces:
[code]
Which is invalid.

Looks like the span of the desugaring of `.await` uses only the `.await` part, instead of the span of the entire expression. This results in invalid suggestions when used by the `suggest_compatible_variants` code in `compiler/rustc_typeck/src/check/demand.rs`.

[2022-01-19 12:33] m-ou-se commented on #93074
I'm not entirely sure if this means that `.await` desugaring should use a bigger span, or if the suggestion diagnostic needs to be interpreted differently.

[2022-01-19 12:40] Urgau commented on #93054
cc @wesleywiser @richkadel

@rustbot label +requires-nightly +A-code-coverage

[2022-01-19 13:25] Alfred-Mountfield opened #93076 "rust_2021_incompatible_closure_captures seems inconsistent"
Apologies if this is the wrong place to submit this, if it isn't the right place, could you point me as to where this would be appropriate?

I've noticed some weird behavior related to when `rust_2021_incompatible_closure_captures` creates warnings.

I tried to create a minimum viable example:
[code]

Running that results in the following warning, however the warning isn't present when `_test` isn

[2022-01-19 13:52] LeSeulArtichaut commented on #87850
@kornelski This is #92725, you can look there for details. Thanks anyway for the report.

[2022-01-19 14:12] wheird-lee opened #93078 "Improve compile error for borrowing mut while missing Sized trait bound"
Given the following [code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=26d81fb56dbc4f01b3a3da064b737f7b):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

add `Sized` trait bound and the code compiles successfully:

[code]

rust version:  rustc 1.58.0 (02072b482 2022-01-11)

[2022-01-19 14:17] tarcieri commented on #73908
I believe Apple's own [Xcode Cloud (Beta)](https://developer.apple.com/xcode-cloud/beta/) service might offer this? They describe it as:

[2022-01-19 15:03] niiiiiil commented on #93078
okay..l realized the real reason is that I implies `Modify` for `T: Sized`, so maybe "trait not implied for `Self`" is more suitable?

[2022-01-19 15:09] nrc commented on #78485
https://github.com/rust-lang/rust/pull/92164 adds support for a lint that enforces at least one method is implemented and has been merged (relevant here because we would like both read and read_buf to have default implementations but to require at least one to be explicitly implemented).

[2022-01-19 15:32] danielhenrymantilla commented on #58733
@pnkfelix that doesn't look like it would be that much better, because then people could also write `impl MyTrait for fn() -> ! {}`, so we'd have to ban diverging function pointer types from ever being named within trait impls _at all_ (or at least among the `impl` inputs).

___

Given the current situation with `!` having almost been stabilized but for the fallback-inference-regressions regarding

[2022-01-19 15:50] SkiFire13 opened #93079 "Tracking Issue for `core::slice::IterMut::as_mut_slice` and `impl<T> AsMut<[T]> for IterMut<'_, T>`"
Feature gate: `#![feature(slice_iter_mut_as_mut_slice)]`

This is a tracking issue for `core::slice::IterMut::as_mut_slice`

### Public API

[code]

### Steps / History

- [ ] Implementation: #93080
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-01-19 16:40] wesleywiser commented on #93054
Thanks for the report! I've tried reproducing locally and I'm able to seem the same behavior. Running the LLVM tools directly, I see this when trying to process coverage data for the various binaries:

[code]

which seems to be the same issue as was reported in a comment on #79645. I'm continuing to investigate ...

[2022-01-19 17:03] Patrick-Poitras commented on #92894
Potential duplicate of #20400?

[2022-01-19 17:09] p-avital commented on #92894
It does seem to be a duplicate of #20400 ... So I guess no hope of that being fixed in stable anytime soon :(

I was indeed hoping this trick would let me achieve (very) limited specialization, hence the naming in the minimal example

[2022-01-19 17:10] camsteffen commented on #93030
I can reproduce with `cargo fix` instead of `cargo clippy --fix` so clippy is not really related.

It looks like `f` is considered unused because `b: f` is unreachable due to `todo!()`. So `f` is renamed to `_f` via the `unused_variables` lint. Then `b: f` is no good.

I think ideally `unused_variables` should not fire.

[2022-01-19 17:22] Manishearth opened #93083 "Add ability to gate doctests on cfgs"
Currently, if a doctest uses specific cargo features, you have one of two options for dealing with it:

(A) You can decide to always use `--all-features` when running `cargo test`. This is not great: if you want to test specific features you cannot do so. and also not all crates work with `--all-features` since features may be mutually exclusive.

(B) You can do the following:

[code]

Here, you'r

[2022-01-19 17:42] kolbma opened #93084 "SIGSEGV on stable-x86_64-unknown-linux-musl in a few cargo tools"
I have installed stable-x86_64-unknown-linux-musl with rustup on Alpine Linux 3.15.

After successful installing a bunch of cargo tools, many of them do SIGSEGV:

* https://github.com/rustsec/rustsec/issues/504
* https://github.com/kbknapp/cargo-outdated/issues/305
* https://github.com/Keruspe/cargo-duplicates/issues/5
* https://github.com/nabijaczleweli/cargo-update/issues/171

But cargo cache, c

[2022-01-19 17:50] nabijaczleweli commented on #93084
Cross-poosting my c-u comment:

[2022-01-19 17:57] KarelPeeters commented on #54196
Is anyone against changing this suggestion to simply be `MaybeIncorrect` instead of `MachineApplicable`?

Prepending an underscore to variable names is saying to the compiler "yes, I intentionally won't use this value", which should very much be a manual action.

I'm hesitant to use `cargo fix`, since it might silently hide a bunch of leftover variables from an in-process refactoring. I mostly wan

[2022-01-19 18:06] kolbma commented on #93084
[code]

[2022-01-19 18:18] #92726 closed

[2022-01-19 18:29] nabijaczleweli commented on #93084
curl_global_init(3) is from libcurl, used by [`curl`](https://crates.io/crates/curl) – ossl_init() is an internal initialiser in libcurl: https://github.com/curl/curl/blob/3a6b9231703268331793df95bd9c14e76f4e5653/lib/vtls/openssl.c#L1194

It seems to be called as
[code]
so as a bisect if it's something wrong with the rustc bindings/memory model/whatever or if it's your libcurl, try building/runnin

[2022-01-19 18:51] Mark-Simulacrum commented on #32837
Lang discussed this today in a backlog bonanza meeting, and generally those in the room were not aware of desire for replacement panic implementations (beyond switching between abort/unwind). It also seemed likely that it may make sense to expect a new RFC if such a desire exists. Please chime in on this issue if you do have a use case!

In the meantime, before such interest and/or design work, it

[2022-01-19 18:57] joshtriplett commented on #35119
@Amanieu Is this the tracking issue being used for the *current* `global_asm!` (that's consistent with `asm!`), or is that being tracked for stabilization elsewhere?

If the latter, we should close this in favor of wherever that's being tracked.

[2022-01-19 18:59] booleancoercion opened #93088 "Confusing error when using `box` in a pattern bind position"
Consider the following code:
[code]
Currently, it produces the following error message:
[code]
Similar confusing error messages can be found whenever you try to find a value to a variable named `box`.

I think that the error message should be changed to reflect how the user may have tried to use `box` as an identifier - I can see how this might be confusing to a beginner who doesn't know about the

[2022-01-19 19:01] Amanieu commented on #32837
Having worked on unwinding-related things recently, I see the panic runtimes as an implementation detail of std to support `-C panic=XXX`. While there are use cases for supporting unwinding on `no_std`, this is outside the scope of this RFC/tracking issue. I think this issue should be closed to indicate that it will remain permanently unstable: there is nothing left to track.

[2022-01-19 19:06] kolbma commented on #93084
I've tried this

https://github.com/sfackler/rust-openssl/issues/1462#issuecomment-826089294

The variant with `RUSTFLAGS="-Ctarget-feature=-crt-static"`
And works then.

But according to https://github.com/rust-lang/compiler-team/issues/422
this should be the default???

[2022-01-19 19:09] Amanieu commented on #35119
`global_asm!` is now stable, so this can be closed.

[2022-01-19 19:09] #35119 closed

[2022-01-19 19:38] compiler-errors commented on #93088
Shouldn't be hard to add recovery for this case. If anyone's interested:
https://github.com/rust-lang/rust/blob/master/compiler/rustc_parse/src/parser/pat.rs#L338
https://github.com/rust-lang/rust/blob/master/compiler/rustc_parse/src/parser/diagnostics.rs#L174

[2022-01-19 19:39] compiler-errors commented on #93088
@rustbot label +E-easy +A-suggestion-diagnostics

[2022-01-19 19:41] pnkfelix commented on #91671
(I'm going to count the MCVE from [my repo](https://github.com/pnkfelix/issue-91671-a64-doctestfail) as good enough to remove the E-needs-mcve from this ticket.)

@rustbot label: -E-needs-mcve

[2022-01-19 19:58] compiler-errors commented on #93074
hmm.. is `.await` the only case where the desugared expr's span doesn't cover the whole piece of code it comes from? That doesn't sound right.

If wonder if the expr should have the bigger span by default, and then async-specific code could grab the tighter span for diagnostics that need to point at the `.await` operator.

[2022-01-19 20:04] m-ou-se commented on #93074
Some of the `?` desugaring only uses the `?` span, but the parts relevant for diagnostics like this do use the full span. Not sure if there's a problem there too.

[2022-01-19 20:04] Amanieu opened #93092 "Tracking Issue for maybe_uninit_as_bytes"
Feature gate: `#![feature(maybe_uninit_as_bytes)`

This is a tracking issue for APIs which allow access to individual bytes of a `MaybeUninit<T>`. This is always safe even for padding bytes since the bytes are themselves represented as `MaybeUninit<u8>`.

### Public API

[code]

### Steps / History

- [x] Implementation: #89747
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolve

[2022-01-19 20:08] compiler-errors commented on #93078
Oh lol, I think this is because of autoref.

It's trying to take `&mut` of self (i.e. grab a `&mut &mut Self` pointer) since that means `T = &mut Self` which is `Sized`, but the `&mut self` argument (i.e. `self: &mut Self`) is not mutable.

Wonder how much work it is to make autoref during method dispatch to skip taking `&mut` of a `self` method receiver in cases where it's known to fail (e.g. `&m

[2022-01-19 20:24] jcdyer commented on #90180
I patched out wasmer-runtime-core (Which had the cfg_attr declarations), and started playing around with nightlies.  My project now builds in a reasonable amount of time now on all nightlies since 2021-12-21.  The git log between the last bad nightly and the first good one shows the following commits:

[code]
It also builds fine on beta, so 1.59 should resolve this issue.  Unless @Madoshakalaka or

[2022-01-19 20:31] m-ou-se commented on #56167
@rfcbot cancel

We've discussed this in the libs api meeting. We'll keep this around as unstable until we have something better.

[2022-01-19 20:44] jyn514 opened #93093 "Incorrect suggestion when trying to write to an immutable field in an async function"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=df6e36b97b73bd3e3ea0fdfe9325b1c9

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

`&mut S` is not a valid argument; it needs to be either `&mut self` or `some_name: &mut S`. For some reason this problem only happens when the function is async.

[2022-01-19 20:45] joshtriplett commented on #87096
I'm not opposed to dropping `split`; `lines` seems like the most valuable item here.

[2022-01-19 21:04] apiraino commented on #91809
@crawford checking in about this issue. Did you have a chance to try the new stable 1.58? There are substancial improvement in the compile time (can't say, though, if they apply to your codebase)

[2022-01-19 21:10] teknoman117 commented on #93059
Adding _-fcf-protection=none_ to my compilation flags did indeed work. I can now compile rust projects 85 times slower than my Threadripper 1950X desktop XD

[code]

[2022-01-19 21:15] compiler-errors commented on #93093
This is the same diagnostic you get when mutably dereferencing let-bindings that are `&T`: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b71c99d23b4e58a67afd52a0870bed65
So it seems like this has to do with the fact that ast_lowering emits a `let self = self;` binding when desugaring.

I wonder if we can get the name of the variable when emitting this diagnostic, and spec

[2022-01-19 21:25] shepmaster commented on #73908
Speaking as myself, **not for the infra team**, I'd be highly uncomfortable using Xcode Cloud based on my current understanding of it. As you mention, it's beta. I also expect that it's highly focused on providing a good experience for people with more of a buy-in to the Xcode ecosystem. From [Requirements for Using Xcode Cloud](https://developer.apple.com/documentation/xcode/requirements-for-usin

[2022-01-19 21:43] jyn514 commented on #93093
Another (possibly related?) bug: `self.foo += 1` doesn't have the `help` suggestion if it's in an async block: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=23ea8e56639ab035349c69050bd74148
[code]

[2022-01-19 21:58] ehuss commented on #93033
@matthiaskrgr Can you show which jobs are building tools multiple times?

The only one I know of is dist-x86_64-apple due to #90100.  I don't think that is related to PlainSourceTarball, since dist-x86_64-apple does not build that step.

I am looking at dist-x86_64-linux, and it is building cargo twice (once as a tool, and once for RLS).  There's a check that is supposed to prevent that, so I'm cu

[2022-01-19 22:00] steffahn commented on #92725
@rustbot label regression-from-stable-to-stable, -regression-from-stable-to-beta

[2022-01-19 22:07] zvkemp opened #93096 "compiler panic when moving struct definition"
### Code

Code is part of a private repo, so I can't share everything. The change involved moving a struct definition (the `ApplicationSummaryKey` in the below example) from one module to a new submodule of that module. It is triggered by `cargo build` or `cargo test` (possibly other commands). Was not triggered by nightly, but it's unclear if that's because there wasn't a stale nightly build alre

[2022-01-19 22:17] steffahn commented on #92113
@rustbot label regression-from-stable-to-beta, -regression-from-stable-to-nightly

[2022-01-19 22:23] compiler-errors commented on #93093
@jyn514 Same with closures. I would probably classify that as a separate bug, since the original bug has to do specifically with `async fn` desugaring, and the latter has to do with closure/generator captures.

[2022-01-19 22:30] m-ou-se commented on #93074
I thought I might have accidentally introduced this bug in https://github.com/rust-lang/rust/pull/90575, but right after that PR was merged, the output was correct:

[code]

So something changed in the last two months in what spans are used for await desugarings, it seems.

[2022-01-19 22:30] joshtriplett commented on #32408
With constrained naked functions now accepted and merged ([tracking issue](https://github.com/rust-lang/rust/issues/90957)), the @rust-lang/lang team meeting today discussed "unconstrained" naked functions, and we're generally in favor of closing this (and un-accepting RFC 1201) in favor of constrained naked functions.

However, we'd like to give time for folks who are following this issue to conf

[2022-01-19 22:38] compiler-errors commented on #93074
@m-ou-se: actually I think it was introduced in #90939 in 7227a8737, cc @estebank
Do you need someone to fix this? I'm happy to put up a quick PR.

[2022-01-19 22:40] Aaron1011 commented on #93096
@zvkemp Can you try the following to see if you can reproduce this again:

1. Run `cargo clean`
2. Undo the change you made (e.g. move `ApplicationSummaryKey` back to its original location, and undo any other changes you made)
3. Run `cargo build` from the workspace root
4. Re-apply the change (move `ApplicationSummaryKey` to the new location)
5. Run `cargo build` again

[2022-01-19 22:43] m-ou-se commented on #93074
Yeah, looks like it: I just finished bisecting, which pointed at https://github.com/rust-lang/rust/pull/91945: a rollup involving #90939.

[2022-01-19 23:27] cuviper commented on #93059
I'm curious to know where the *apparently*-default `-fcf-protection` came from in your build!

[2022-01-20 00:32] npmccallum commented on #32408
@joshtriplett I support this direction. However, constrained naked functions is basically a set of lints on top of naked. I suspect the two are roughly merged at this point.

For example, in the constrained naked tracking issue, there is a feature flag. But I don't think anything uses it since all the lints apply on the regular naked feature flag.

We are very close and I wonder if @bstrie would b

[2022-01-20 00:33] niiiiiil commented on #93078
well, I think you are right. It's my thoughtlessness.

[2022-01-20 00:36] compiler-errors commented on #93078
@niiiiiil I think this is still worthwhile to keep open as an issue because of the confusing error message!

[2022-01-20 01:02] teknoman117 commented on #93059
I used the _i386/ubuntu:20.04_ docker container to do the build in order to isolate Rust from my Gentoo environment.

[2022-01-20 01:22] c410-f3r commented on #90722
This issue can be closed

[2022-01-20 01:23] c410-f3r commented on #92145
This issue can be closed

[2022-01-20 01:42] wesleywiser commented on #93054
The minimal repro seems to be

[code]

I think I'll have a fix for this within the next few days.

[2022-01-20 01:54] Cryptex-github commented on #92145
Thanks for finish implementing it.

[2022-01-20 01:54] #92145 closed

[2022-01-20 02:14] #69525 closed

[2022-01-20 02:20] gyakovlev commented on #93059
in gentoo we do some stuff with -fcf-protection  but certainly not for gcc version used here and not for i585 and not by default, it's an op-in thing. but we'll double check on our side.

[2022-01-20 02:43] Elliot-Roberts commented on #88716
Sorry scratch that I'm having trouble with my dev environment and don't have the time to fix it right now. I might pick this back up but I'm no longer claiming it.

[2022-01-20 03:18] zvkemp commented on #93096
@aaron1101 Unfortunately I can't reproduce the issue again using that procedure; in hindsight I should have copied the target directory state before running cargo clean. I'll reply to this issue again if I end up getting it working (or rather not working).

[2022-01-20 03:24] teknoman117 commented on #93059
I didn't bump into any other packages having problems with -fcf-protection in the whole build. They only ended up in rust and things compiled by rust. I was thinking that LLVM might be silently enabling it by default because Intel went and explicitly chose opcodes that were NOPs on older CPUs (well, as old as i686 anyways).

[2022-01-20 04:08] mikeleany commented on #42849
@rustbot claim

[2022-01-20 04:12] estebank commented on #93074
@compiler-errors this was introduced in the PR linked earlier to try and improve other errors. It is tricky because reducing the span to only `.await` incurs these kind of bugs. On the other hand, the errors that got improved there became much less noisy, so I wouldn't want to revert the whole change. My fix above will solve *this* issue, but I'm sure there will be others in the future :-/

[2022-01-20 04:21] gyakovlev commented on #93059
yeah I checked specs and we don't even enable it on x86 at all, only x86_64 and only if USE=cet.
since we will probably have i586 boostrap tarball soonish I'll keep in mind to disable fcf explicitly in the ebuild.

[2022-01-20 04:23] ehuss commented on #93033
I determined why `cargo` is being built twice with RLS.  It is due to https://github.com/rust-lang/cargo/pull/10178, where `CFG_COMMIT_HASH` changes between the two.  The way [it is set](https://github.com/rust-lang/rust/blob/237949b6c8e5b387e0a9d1e7a22e0397c95fe488/src/bootstrap/tool.rs#L268-L271) causes it to change based on which tool is being built.

I'm uncertain how to fix that.  I'll need t

[2022-01-20 08:27] CryZe commented on #93092
Would it maybe make sense for these to be arrays of size_of::<T>() elements instead? (I don't recall if this is allowed in stable Rust yet)

[2022-01-20 08:31] HTG-YT commented on #90722
Issue Closed with the merge of #88642.

[2022-01-20 08:31] #90722 closed

[2022-01-20 08:38] 5225225 commented on #93092
The only thing I can think of that can possibly be an issue is making a type with padding into a `&mut [MaybeUninit<u8>]`, and then calling `.write()` on a padding byte.

Like

[code]

This is *presumably* sound because padding bytes are only made uninit when you write a field *of type `Foo`*, not just "it came from a `Foo` and is therefore always uninit".

But also I'd need to have a think about

[2022-01-20 08:54] SamyakGangwal opened #93106 "rust panicking at unwrap() on compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs"
### Meta
it compiles in nightly
and on 1.58

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-20 09:23] JakobDegen commented on #63292
The docs as written do not sufficiently describe the safety concerns. For example, the following code is definitely UB:

[code]

The `Rc` was never *dereferenced* during the `get_mut_unchecked`, but still this is an aliasing violation, as the value behind a `&i32` changes within its lifetime.

Essentially, this change would turn every `Arc<T>` into an `Arc<UnsafeCell<T>>`. LLVM would no longer be

[2022-01-20 09:42] JakobDegen commented on #63292
Also relevant to note is that existing APIs may have already been doing things semi-equivalent to this:
[code]

Writing code like this:

[code]

is now UB. This is not technically a breaking change, but it does require that all such APIs now have to update their docs to clarify that "using `get_mut_unchecked` in conjunction with this API is UB." There's an example of this in [a recent crate I wrot

[2022-01-20 10:05] c410-f3r commented on #78203
This issue can be closed

[2022-01-20 10:05] c410-f3r commented on #78205
This issue can be closed

[2022-01-20 10:06] c410-f3r commented on #60571
let chains are now de-sugared into `if`s instead of `match`s

[2022-01-20 10:08] apiraino commented on #92725
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392725.20.60error.5BE0391.5D.20cycle.20detected.20when.20computing.60.20when.20us.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-01-20 10:09] c410-f3r commented on #60707
Some things are outdated. For example, `MatchSource::IfDesugar` does not exist anymore.

[2022-01-20 10:10] apiraino commented on #92869
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392869.20.60lto.20.3D.20.22thin.22.60.20causes.20.60doctest.60.20to.20generate.20invalid.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-01-20 10:17] Kixunil commented on #55160
@nox turns out [you're right](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=db88d3447131aabd4ed5a2b618510200), I'm glad I double-checked it. I think this is a mistake in the language design and should be deprecated. It's very impractical and I was unknowingly relying on it not being the case.

The comment I originally intended to write, still relevant **if the incompatibi

[2022-01-20 10:31] CAD97 commented on #63292
@JakobDegen

In this comment I use `Rc` to refer to both `Rc` and `Arc`, and `RcInner` to refer to the heap part of `Rc` (which are currently `RcBox` and `ArcInner` in the stdlib code).

Just to be clear up front: yes. This example is clearly UB, and we agree here.

It depends on how exactly you define *dereferenced*. If you define it as the instantaneous act of calling `Deref::deref(&it)`, ending

[2022-01-20 10:39] CAD97 commented on #63292
This really looks like it's wanting for [`Rc::as_ptr`](https://doc.rust-lang.org/stable/std/rc/struct.Rc.html#method.as_ptr), which doesn't clash/invalidate with `get_mut_unchecked`.

[2022-01-20 10:50] apiraino commented on #90752
Checking progress, @mk12 did you have a chance to test against the new stable 1.58 if it solves the issue? thanks

[2022-01-20 10:53] apiraino commented on #91598
Checking progress here, @teozkr @rkuhn did you have a chance to test against the new stable 1.58 if it solves the issue also for you? thanks

[2022-01-20 11:06] JakobDegen commented on #63292
See the example code I linked for why that wouldn't actually help in slightly more complicated (but still very practical and very realistic) code.

I mean, I suppose, but I don't buy at all that "dereferenced" is a state instead of an operation.

It is definitely not. As a matter of fact, the pre-condition on that method makes it very clear that it the mutability is specifically not shared. The fa

[2022-01-20 11:23] ouz-a commented on #92893
This gives an error without ICE in 1.55 https://godbolt.org/z/fP1xMx8f3

[2022-01-20 11:30] bergmark commented on #93096
I think I ran across the same issue, but it was after switching git branches multiple times so finding a reproduction seems hard :( I ran `cargo test` in `crate-a` and while cargo was compiling `crate-b` i got:

[code]

[2022-01-20 11:47] teozkr commented on #91598
@apiraino In my testing, 1.58.0 was as broken as 1.57.0, while the 1.59 beta fixes the issue.

[2022-01-20 11:58] nikic commented on #91839
Closing this as a duplicate of #79865, as they have the same root cause.

[2022-01-20 11:58] #91839 closed

[2022-01-20 11:59] nikic commented on #79865
This is fixed upstream (cf https://github.com/llvm/llvm-project/issues/52660) and will be pulled in with the LLVM 14 update.

[2022-01-20 12:00] nikic commented on #79789
Closing this per the preceding comment.

[2022-01-20 12:00] #79789 closed

[2022-01-20 12:00] Kixunil commented on #63292
How about changing the documentation to say this:

Anyway, even better to have the safe API and just point people to it.

[2022-01-20 12:09] GuillaumeGomez commented on #93060
I'll check what I can do.

[2022-01-20 12:09] xfix commented on #63292
That safe API is `get_mut` and it already exists.

[2022-01-20 12:11] Kixunil commented on #63292
@xfix not really, we were talking about `RcMut` and `ArcMut` above which don't have performance overhead and statically don't panic.

[2022-01-20 12:15] xmo-odoo commented on #91598
@apiraino for my use-case (warp-related), the issue is not just fixed but significantly improved compared even to 1.55: it looks like the final linking / binary generation has been parallelised? I get a much higher average system utilisation (almost 400%, versus 300 in 1.55, and a paltry 140 in 1.57 where the final binary liking took ages and only loaded a single core) alongside a slightly lower U

[2022-01-20 12:17] c410-f3r commented on #77374
Closing due to inactivity.

[2022-01-20 12:17] #77374 closed

[2022-01-20 12:36] CAD97 commented on #63292
(This was worded a bit more strongly than intended due to a prior draft before I fixed up some accidental issues due to fallible memory.) The intent here was to note that `Rc` _allows for_ internal mutability as part of its current implementation. I agree that it doesn't expose any sort of shared mutability in the currently stable API, though, and this API adds shared mutability to the API where i

[2022-01-20 12:51] Kixunil commented on #63292
I think that making shared mutability public is just breaking separation of concerns which is generally followed in Rust. People who want it should just use `UnsafeCell<T>`. Keeping the possibility of improving optimizations is also good. "Don't pay for what you don't use."

It's really great that you made it and I think it should be included in the standard library because there were already mult

[2022-01-20 13:22] tarcieri commented on #79865
Fantastic! Thank you!

[2022-01-20 13:30] Aaron1011 commented on #93023
This should be fixed in the latest nightly

[2022-01-20 14:18] Alexendoo opened #93115 "Rustdoc light theme sidebar has no hover effect"
Previously the background/hover were `#F1F1F1`/`#F5F5F5` but it's now (on nightly) `#F5F5F5`/`#F5F5F5`

[2022-01-20 14:33] bjorn3 commented on #48504
With rust 1.58.1 being released soon should this issue be closed once it is released? Or should it be kept open as macOS before version 10.10 and RedoxOS don't have an api to mitigate this?

https://blog.rust-lang.org/2022/01/20/cve-2022-21658.html

[2022-01-20 14:41] #92628 closed

[2022-01-20 14:52] matthiaskrgr opened #93117 "ice: drop location span error with -Wrust-2021-incompatible-closure-captures"
### Code
code reduced from `tokio-1.15.0/src/fs/dir_builder.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc fs/dir_builder.rs  -Wrust-2021-incompatible-closure-captures`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-20 16:41] ijackson opened #93120 "Main body width very narrow in firefox with min font size > default font size"
### Steps to reproduce

 1. Start Firefox 91.5.0esr from Debian buster (other versions may work too) with HOME pointing to a fresh empty directory, to get a default profile.
 2. Visit https://docs.rs/ureq/2.4.0/ureq/
 3. In firefox, in a new tab or window, visit `about:preferences`, enter "font" in the search box, click on "Advanced...".  Set "Minimum font size" to "18".  Note that the default pro

[2022-01-20 16:41] ijackson commented on #93120
@rustbot modify labels +T-rustdoc

[2022-01-20 17:01] AnthonyMikh opened #93122 "Error message for trying to bind range of units to unit suggests invalid code"
Given the [following code](https://play.rust-lang.org/?code=fn%20g%28%29%20%7B%0A%20%20%20%20let%20%28%29%20%3D%20%28%29..%3B%0A%20%20%20%20let%20%28%29%20%3D%20..%28%29%3B%0A%20%20%20%20let%20%28%29%20%3D%20..%3D%28%29%3B%0A%20%20%20%20let%20%28%29%20%3D%20%28%29..%28%29%3B%0A%20%20%20%20let%20%28%29%20%3D%20%28%29..%3D%28%29%3B%0A%7D):

[code]

The current output is:

<details>

[code]

</detail

[2022-01-20 17:03] ThounyBreasty opened #93123 "Rustc bug when building Elrond Smart Contract"
### Context
Developing Smart Contract on Elrond with their sdk. Basically following this tutorial https://docs.elrond.com/developers/tutorials/crowdfunding-p2/

When I run erdpy build contract I get this bug. First time I fixed it by deleting and typing the content of the smart contract a second time. But now I get this bug again and the contract is too long.

Checking backtrace I got "error[E0554

[2022-01-20 17:44] jarkkojs commented on #93023
I tested and the fix works, thank you!

[2022-01-20 17:44] #93023 closed

[2022-01-20 18:17] matthiaskrgr commented on #93033
Oh then we talked about two different issues probably :sweat_smile:

So when cargo is being built, it gets its own commithash from the rls repo, but then when we built cargo again as rls dependency, the commithash comes from the rls repo and we build both cargo (again, since hash changed) and rls with the commit hash from the rls repo?

Perhaps we can hack around like:
if we know that we are build

[2022-01-20 19:02] zvkemp commented on #93096
I've had another panic with a similar stacktrace, again after globally renaming a struct. This one is only triggered by `cargo test`:

<details><summary><strong>Backtrace</strong></summary>
<p>
[code]

</p>
</details>

[2022-01-20 19:39] briansmith opened #93124 "Windows: Audit, clarify, and add tests for `resolve_exe()`."
I was reading the code for `resolve_exe()` for some reason and I saw this code:

[code]
(Incidentally, can't this be simplified?)

Then later:

[code]

Appending EXE_SUFFIX if the extension isn't already EXE seems wrong to me; I think instead it would make more sense to use exactly the same rules that `CreateProcessW` is documented to use, which is roughly "there is no extension," not "the extensi

[2022-01-20 19:44] nikic commented on #80309
Dropping priority as the issue is fixed.

[2022-01-20 19:52] Aaron1011 commented on #93096
@zvkemp Are you able to consistently reproduce the crash after running `cargo clean` by re-applying the sequence of building and editing that you performed?

[2022-01-20 19:54] dsxmachina opened #93125 "Unwrap on a None value"
### Code
The project is >5000 lines of rust code + some protobuf definitions, so I can not include it here.
The error happened when I removed an branch from a match block in an async function:
[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>
I do not know what happened at all.
There w

[2022-01-20 19:56] briansmith opened #93126 "Is `std::fs::copy` racy and/or under-specified in how it sets file permissions?"
The documentation for `std::fs::copy` says "This function will also copy the permission bits of the original file to the destination file."

I do think the function adheres to that contract. But, is that contract strong enough?

Consider a file that is isn't readable by the group or world that is passed to `std::fs::copy`. My expectation is that the copied file would never have group or world file

[2022-01-20 20:04] Buzzec commented on #92961
Also happens with any where clause on a function, not just trait impls

[2022-01-20 20:11] nikomatsakis commented on #32408
@npmccallum can you expand, I don't quite understand what you wrote --

Close to what? How I understand this is this:

* Constrained naked functions (rust-lang/rfcs#2972) means "naked functions whose body is an inline assembly"
* "General" naked functions (this issue, rust-lang/rfcs#1201) means "naked functions whose body is something other than just inline assembly"

It seems like we are no close

[2022-01-20 20:11] briansmith opened #93127 "Audit uses of filesystem APIs for race conditions and the like within the standard library"
One consequence of https://blog.rust-lang.org/2022/01/20/cve-2022-21658.html is that many people will now be auditing the use of `std::fs::{metdata,symlink_metadata,File::metadata,Metadata}` looking for similar race condition bugs. We should have some coordinated effort to ensure we have the comprehensive results of doing said audit; i.e. we should coordinate such an audit ourselves and publish th

[2022-01-20 20:12] nikomatsakis commented on #32837
I think we often keep the tracking issue open, but we did tag it as "perma-unstable".

[2022-01-20 20:14] ChrisDenton commented on #93124
I for one would more than welcome any PRs helping to clean up this code! Though I think at this point it might be worth having a `WindowsPath` type that can handle things like this, even if it's only internal to the std.

You're right that this is weird but the goal of the code was to be as close to the actual behaviour of `CreateProcessW` as possible. How the extension is or isn't added depends o

[2022-01-20 20:15] the8472 commented on #93126
At least on linux this isn't necessary. The current file descriptor permissions and the create-mode are independent.
Additionally we should use `O_TMPFILE` on platforms that support it and only link the file in its directory entry once the copying has finished, that'll avoid leaving any dead files behind if we run out of space or something like that.

[2022-01-20 20:23] rsalmei commented on #93096
I've just had it too, going to try `cargo clean` afterwards:

[code]

[2022-01-20 20:29] Aaron1011 commented on #93125
I suspect that this will be fixed by https://github.com/rust-lang/rust/pull/93064.

Are you able to replicate this error again after running `cargo clean` by repeating your previous steps?

[2022-01-20 20:29] briansmith commented on #93124
Do you mean that the documented behavior of `CreateProcessW` at https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessw doesn't match the actual behavior, and we're intentionally implementing the *actual* behavior and not the *documented* behavior? Or do you think the current behavior is consistent with the documented behavior? My reading, which is

[2022-01-20 20:40] ChrisDenton commented on #93124
I mean `CreateProcessW` is documenting one of its behaviours but not the other one. When searching the `PATH` using only a filename it does as is documented. When using a full path or a relative path the behaviour is undocumented and was replicated in this code from testing.

I shall look back at my test cases and see if I missed anything.

[2022-01-20 20:42] briansmith commented on #93126
Right, POSIX says "The third argument does not affect whether the file is open for reading, writing, or for both." I'm not sure about non-POSIX filesystems though.

[2022-01-20 20:43] Aaron1011 commented on #93123
Do you remember what changes you made in between re-typong the code to fix the bug, and when the bug occured for the second time?

[2022-01-20 20:48] camelid commented on #78205
Yeah, looks like the error is better now:

[code]

And with the feature-gate, it just works.

[2022-01-20 20:48] #78205 closed

[2022-01-20 20:49] camelid commented on #78203
Yep, see also https://github.com/rust-lang/rust/issues/78205#issuecomment-1017914994.

[2022-01-20 20:49] #78203 closed

[2022-01-20 20:51] the8472 opened #93129 "Security fix for remove_dir_all may have introduced a regression how filesystem loops are handled"
Normally traversing very deep directory trees (e.g. created by bind mounts or FUSE) will result in ENAMETOOLONG or ELOOP.
The fix in #93110,  #93112 and #93111 switches to using `-at` syscalls and keeping file descriptors for each child directory that's being descended into. But this way we loose loop detection (as far as I can tell), which means the process will run out of stack space or file des

[2022-01-20 21:00] npmccallum commented on #32408
@nikomatsakis At this point we have two feature flags:

* `naked_functions` - this currently gates the `#[naked]` function attribute.
* `constrained_naked` - this currently gates nothing (unless I've missed something).

The `constrained_naked` flag was created after the Constrained Naked RFC (2972) was accepted. However, the actual functionality described in RFC 2972 was implemented as a set of re

[2022-01-20 21:01] coriolinus opened #93131 "ICE in rustc 1.59.0-beta.2"
### Code

`src/lib.rs`

[code]

`tests/perfect-numbers.rs`

[code]

### Meta

- Occurs with `beta-x86_64-unknown-linux-gnu - rustc 1.59.0-beta.2 (98a701b42 2022-01-19)`
- Command: `cargo test --quiet --no-run` [here](https://github.com/exercism/rust/blob/92c409fa1daf62f2ba8775a6a4ae9e7129b0f8ab/_test/ensure_stubs_compile.sh#L66)
- Executed in CI environment; log [here](https://github.com/exercism/

[2022-01-20 21:05] hkratz commented on #93129
As I wrote in the PR in my opinion there should be no loops. Bind mounts on Linux and directory hardlinks (available for Macos only) are not allowed to loop and we are not descending into symlinked dirs because we open them with `openat(..., O_NOFOLLOW)`.

But of course running out of file descriptors is currently a problem. I have a follow-up PR ready which fixes that differently from #88731 (goi

[2022-01-20 21:08] hkratz commented on #93129
I would love to merge that with your work somehow so we don't run into conflicts or one of us incorporates the work of the other. Either way is fine for me.

[2022-01-20 21:11] joshtriplett commented on #32408
@npmccallum That sounds accurate, from a practical standpoint. Effectively, it sounds like we should "redefine" `naked_functions` as being the feature flag associated with RFC 2972 naked functions, and stabilize it when we want to stabilize `#[naked]` as defined by RFC 2972.

The point of this FCP close was to acknowledge that we're not planning to add non-asm naked functions as defined by RFC 120

[2022-01-20 21:16] the8472 commented on #93129
My approach is keeping a fixed-size stack of some directory fds open so it go back up and recurse into siblings most of the time and only has to re-walk path occasionally. Using `..` + a fallback does seem less complex though.
But I also use a loop instead of recursion which means I have to mutably update some stuff which does make the code more gnarly.

[2022-01-20 21:19] npmccallum commented on #32408
@joshtriplett I support that overall move. I just want to make sure we don't accidentally drop something important given the slightly odd history of how this feature developed. Overall, I'm flexible. I just want any breakage to be deliberate rather than accidental.

Another option would be to move all the `naked_functions` functionality to be gated by the `constrained_naked` flag. But that strikes

[2022-01-20 21:20] the8472 commented on #93129
I have tried to reproduce loops with bind mounts and overlayfs and it looks I cannot. That leaves the possibility of FUSE or maybe mounted network filesystems containing them, which should make this an even smaller edge-case.

[2022-01-20 21:23] hkratz commented on #93129
I am using an iterative version too (@cuviper did the first conversion). I added the fixed deque inspired by your work and then replaced the iterated `openat()` for reopening fds that have fallen out of the cache when going back up with `openat(dirf, "..", O_NOFOLLOW)`. Because with the iterated `openat()` it took much, much longer in the aversarial case of just a very deeply (1<<20) nested direct

[2022-01-20 21:23] tlyu commented on #87096
Thanks; I'll work on a PR to delete the `split` forwarder.

[2022-01-20 21:24] hkratz commented on #93129
A HashSet with visited inodes or (device, inode) pairs could easily be added for cycle detection.

[2022-01-20 21:27] the8472 commented on #93129
I assume there's still a fallback in case the `..` case fails? That'll need deep path handling. But it sounds like your followup PR should cover _most_ issues already that I had in mind and it also applies to more platforms. I can implement the long path handling on top of that instead.

[2022-01-20 21:28] 5225225 commented on #93131
Looks like a form of incremental compilation bug, seeing as I can't reproduce it after installing beta on my machine, so it's not deterministic in any case.

See: https://github.com/rust-lang/rust/issues/93029 , looks to have been already fixed, just the fix isn't on beta. Error message is the same, in any case.

[2022-01-20 21:31] hkratz commented on #93129
Currently there is no fallback for going back up via `..`, though I still have the code working in a previous commit. In what scenarios do you expect that to fail? Bind mounts?

[2022-01-20 21:32] coriolinus commented on #93131
Incremental compilation makes some sense; we encounter it in the middle of a fairly large build of a number of semi-related projects. Glad to hear it's already fixed! Any idea how to fix CI, or is the best bet to wait until the version bumps in a month?

[2022-01-20 21:33] briansmith opened #93133 "Windows: Reduce raciness of `spawn()` vs. `SetCurrentDirectory`"
I was inspecting `resolve_exe()` specifically looking for racy coding patterns.

The code currently contains this:
[code]
Consider what happens when we pass a relative path containing a path separator, e.g. "target/something". This code will check if the file `target/something.exe` exists, relative to the current working directory and if so, return `"target/something.exe"`.

This function is used

[2022-01-20 21:33] the8472 commented on #93129
A parent directory getting moved while we're somewhere deeper in the tree, then it won't match the original parent.

[2022-01-20 21:34] briansmith commented on #93133
/cc @ChrisDenton

[2022-01-20 21:37] hkratz commented on #93129
Ah OK. If the inode comparison fails my current implementation returns an error, just as with many other concurrent modification races (added files/directory cause ENOTEMPTY going up, deleted files/directories cause ENOENT).

[2022-01-20 21:37] the8472 commented on #93127
If the security team deemed the `remove_dir_all` issue to be worthy a non-public handling then should these audits also be conducted in the dark? I'm not a fan of that approach since it may lead to duplicated efforts, but I'm not making the policy.

[2022-01-20 21:38] 5225225 commented on #93131
Running `cargo clean` (maybe with `-p` for just the package you're compiling, maybe the whole thing is needed) seemed to work for the last incremental compilation issues.

Would slow down compilation a fair bit though. But I guess it would be bearable until the fix goes out. I'd start off with just cleaning your own package, and then if it *still* ICEs, just start running `cargo clean` and watchin

[2022-01-20 21:46] the8472 commented on #93129
Good point, if it gets moved then unlinking would fail anyway after we go back up. Then a fallback isn't necessary.

[2022-01-20 21:47] ChrisDenton commented on #93133
I think I did something along these lines in: https://github.com/rust-lang/rust/pull/91182/files

That PR is creating an absolute (verbatim) path before testing it for existence and returning the absolute path. I made it when I was testing for differences in symlink behaviour caused by `resolve_exe`. However, since the holiday season I appear to have left the PR to languish so I'll need to dust it

[2022-01-20 21:49] Nemo157 opened #93135 "Item names in module lists get prematurely wrapped on nightly docs"
Beta (`rustdoc 1.59.0-beta.2 (98a701b42 2022-01-19)`) rendering of `rand 0.8.4`'s root traits (on Firefox 96.01 on Windows):

![image](https://user-images.githubusercontent.com/81079/150427028-0b1309d4-1085-459b-b988-b3fce8f4e088.png)

Nightly (`rustdoc 1.60.0-nightly (5e57faa78 2022-01-19)`) rendering of the same:

![image](https://user-images.githubusercontent.com/81079/150427185-395f3e52-f52e-4

[2022-01-20 21:50] briansmith commented on #93124
Another thing to consider is whether `path.set_extension("")` maybe should instead be `path.set_extension(".");` or something else that will stop `CreateProcessW` from implmeneting its "maybe append .exe" logic. Otherwise, there would be a race:
* `path + ".exe"` doesn't exist at the time `resolve_exe` checks to see that it exists, so it returns `path`.
* `path + ".exe"` is created before `spawn()

[2022-01-20 21:53] ChrisDenton commented on #93124
We now use the `lpApplicationName` parameter to pass the path. The special behaviour only applies when using `NULL` for `lpApplicationName`.

[2022-01-20 22:03] briansmith commented on #93124
I think it would be good to add a comment at
https://github.com/rust-lang/rust/blob/181e91567c9f347e055b33b1d7e9894f769aafe3/library/std/src/sys/windows/process.rs#L312 saying that we must pass a non-NULL `lpApplicationName` to prevent this kind of race.

Also at https://github.com/rust-lang/rust/blob/181e91567c9f347e055b33b1d7e9894f769aafe3/library/std/src/sys/windows/process.rs#L363-L364

We sho

[2022-01-20 22:07] jsha commented on #93135
Thanks for spotting! I'll fix it.

[2022-01-20 22:15] briansmith commented on #93126
The permissions temporarily (or, in the case of a failure to set the permissions) is a security issue in general, as the contents of the source file are (at least temporarily) exposed beyond what's intended.

Although in some cases writing a partial file can also be a security issue (e.g. a truncated `/etc/sudoers` could be a very bad thing), in general we can't protect against all of the issues t

[2022-01-20 22:17] ChrisDenton commented on #93124
Makes sense. Though note that `to_u16s(&program)?;` ensures we will never pass `NULL`.

This is true. Though I'd ideally want to confirm the desired behaviour first.

[2022-01-20 22:31] dingelish opened #93137 "rustc does not terminate after 1.57.0"
I tried this code:

[code]

I expected to see this happen: it compiles successfully

Instead, this happened: rustc takes long time to compile as the number of `or_else(|_| zoo(""))` increases. looks like exponential time. 1.56.1 successfully compiles it.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]
no backtrace
</p>
</details>

[2022-01-20 22:39] ChrisDenton commented on #93124
Ok I've done a quick test using the pre-resolver Rust. I created a hello world type program and saved it as `Z:\test\hello.txt.exe`.

I then tried to run it as `hello.txt` using the following paths:

| path | result |
|--|--|
|`Z:\test\hello.txt`|found|
|`.\test\hello.txt`|found|
|`test\hello.txt`|not found|

The last case is an added complexity I hadn't accounted for.

[2022-01-20 22:44] Aaron1011 commented on #93137
This should compile in a reasonable amount of time on the latest nightly.

[2022-01-20 22:45] briansmith commented on #93124
I question whether anybody would want `spawn("Z:\test\hello.txt")` to run `C:\test\hello.txt.exe`, regardless of what the previous behavior of rust libstd was. The rationale for appending ".exe" is that many Rust programs expect to spawn executables that usually don't have an extension (e.g. on Unix) but have an ".exe" extension on Windows.

Also, consider: `test\hello.com` and `test\hello.com.exe

[2022-01-20 22:46] dingelish commented on #93137
thanks @Aaron1011 ! confirmed latest nightly fixed this. could i have some background? how's the fix looks like? thanks!

[2022-01-20 22:46] briansmith commented on #93124
Also, `test\hello.bat` and `test\hello.bat.exe`. I think `CreateProcessW` won't run a batch file, but also anybody trying to spawn "hello.bat" isn't trying to spawn "hello.bat.exe".

[2022-01-20 22:47] cuviper commented on #93129
Running out of file descriptors should result in a proper error with `EMFILE`. Running out of stack is unfortunately a crash/abort, but we found that with default process limits, FDs should run out first.

[2022-01-20 22:58] Aaron1011 commented on #93137
@dingelish: In the past, we used to aggressively cache the results of trait evaluation and projection. However, this turned out to interact badly with incremental compilation, and could lead to ICEs. As a result, some of this caching logic was removed in PRs like https://github.com/rust-lang/rust/pull/88945

While our performance benchmarks showed only small to moderate performance regressions, it

[2022-01-20 22:59] dingelish commented on #93137
thanks for the explaination! it's pretty clear. thanks again!

[2022-01-20 22:59] #93137 closed

[2022-01-20 23:00] ChrisDenton commented on #93124
`CreateProcessW` will run a batch file. Originally the new resolver [broke this undocumented behaviour](https://github.com/rust-lang/rust/issues/91991) but this was fixed.

In general the rationale for matching the old behaviour was to avoid inadvertently breaking applications in an unrelated PR. And it is possible some one may want to run exes such as `app.1.23.exe` or `app.new.exe`. I think if n

[2022-01-20 23:00] Patrick-Poitras commented on #87096
For what its worth I've used split for processing input with a non-endline separator, but I agree that the implementation here is probably not the one we want for the sake of consistency. Perhaps the idea would be worth revisiting but behind another feature flag as to not stop the stabilization of the other method.

[2022-01-20 23:06] jyn514 opened #93140 "Make `HashSet::new` a `const fn`"
It shouldn't need to allocate, and it allows code like the following:
[code]

[2022-01-20 23:11] briansmith commented on #93124
I see.

I think there are two issues:
* Is the new version of `Command::spawn` doing the same thing as the old one, in this respect?
* Was the old/new version of `Command::spawn` doing the right thing?

* If `test\a.com` doesn't exist and `test\a.com.exe` exists, will `X("test\a.bat")` run `a.bat.exe`?
* If `test\a.com` and `test\a.com.exe` both exist, which one will `X("test\a.bat")` run?
* If `t

[2022-01-20 23:17] briansmith commented on #93124
Oh, also, we should consider documenting how one would spawn `test\a.com` if `test\a.com.exe` also exists, or document that this is basically impossible.

[2022-01-20 23:34] ThounyBreasty commented on #93123
I think until validation in this tutorial it worked fine and when I added the querying part it happened
https://docs.elrond.com/developers/tutorials/crowdfunding-p2/
And the first time it happened was in the part 1 when I wrote the init function

[2022-01-20 23:35] ChrisDenton commented on #93124
Fair enough. But why does the behaviour of `_wspawnlpe` matter here? Also is there a reason you're only interested in `.com` and `.bat` extensions? Are you saying they should be treated specially when resolving the path?

[2022-01-20 23:46] Aaron1011 commented on #93123
Could you link me to your full repository?

[2022-01-20 23:48] #90552 closed

[2022-01-20 23:48] #92872 closed

[2022-01-21 00:00] SevenO2 opened #93141 "ICE (broken MIR) with GAT + tuple type inference"
I included the (commented out) workaround I found in case it's helpful.

### Bonus
uncomment `fn fail2` for a different ICE (Likely a duplicate of #92954)

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-21 00:09] aphsai commented on #93088
@rustbot claim

[2022-01-21 00:09] briansmith commented on #93124
AFAICT, this is the closest thing a Windows C programmer has to `posix_spawn`. We could also check out the MinGW/Cygwin implementation of `posix_spawn`.

Besides the behavior of those three functions, it would also be good to know what the cmd.exe and PowerShell shells do, in these situations.

".com" files are a different kind of executable on DOS/Windows systems; roughly they are .EXEs without t

[2022-01-21 00:15] ChrisDenton commented on #93124
What I'm trying to tease out here is how seriously we should take files without `.exe`, `.com` or `.bat` extensions. Should we assume at least one of these three is meant?

The trouble I'm thinking of is that there's a mismatch between common programmer behaviour (especially those with a *nix background) and Windows conventions. On the one hand it's very common to leave off the `.exe`, on the othe

[2022-01-21 00:36] briansmith commented on #93124
Regarding batch files, here's what the CreateProcessW docs (https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessw) say:

So, based on those docs, I wouldn't expect "foo.bat" to be treated specially.

Regarding .com files, this is what the CreateProcessW documentation says:

That implies to me that specifying "foo.com" should never result in "foo.c

[2022-01-21 00:45] ChrisDenton commented on #93124
The docs are describing the behaviour when searching `PATH`. They do not describe the behaviour when using an absolute path or a relative path that isn't a plain file name. This is essentially undocumented. The docs could indeed be updated.

But that's beside the point I was trying to make here. Current behaviour aside, I'm asking whether when someone does `Command::new(r"Z:\test\app-1.23")` would

[2022-01-21 01:16] dtolnay commented on #72353
A use case from my work codebase: a fuzzy matching / scoring element of a search algorithm that needs to update a shared score value from multiple threads using `compare_exchange`.

[code]

[2022-01-21 01:20] steffahn opened #93143 "Missing tests for #92630"
Right.. #92630 is my own PR; I'm noting this as an issue, mainly so I won't forget this, because I won't do this myself right now / today. Or someone else can do this if they want.

I'm not 100% certain where the best place for such a test to go is, and/or whether it makes sense to have them in one place or separated and more close to the respective type's definition.

A test to prevent any future

[2022-01-21 02:34] scottmcm commented on #93140
But it needs a `RandomState::new()`.

[2022-01-21 03:13] scottmcm opened #93145 "Wishlist: allow adding intrinsics in a way that doesn't break every backend"
See previous conversation in https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Musing.20on.20intrinsics.20with.20MIR.20available/near/243719813 which was split off from https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Considering.20a.20future.20integration.20of.20the.20gcc.20backend/near/243686539

As we get more backends, and as people write more out-of-

[2022-01-21 04:50] ChrisDenton commented on #93124
Ok, I had time to run some tests on `CreateFileW`. The following gives the search order when appending `Filename` to the given path (e.g. `.\test\a`, `test\a`).
|Filename|`.\test\`|`test\`|
|--|--|--|
|`a`|`a`, `a.exe`|`a.exe`|
|`a.exe`|`a.exe`, `a.exe.exe`|`a.exe`|
|`a.bat`|`a.bat`, `a.bat.exe`|`a.bat`|
|`a.txt`|`a.txt`, `a.txt.exe`|`a.txt`|
|`a.com`|`a.com`, `a.com.exe`|`a.com`|

In summary, a `

[2022-01-21 04:52] workingjubilee commented on #91237
On the PG-PSIMD end, we did in fact go the route of wrapping in our implementation, so if that should be moved deeper into the compiler (so that our impl turns into a bare call to the intrinsic), that's fine from our POV. We may still want to have access to a `simd_shr_exact` or `simd_shr_unchecked` or similar, but that would be a new development as far as we are concerned.

[2022-01-21 04:58] joshtriplett commented on #32408
@npmccallum I think we just want to confirm this FCP, and then process a minor PR doing the redefinition.

That's separate from stabilization of constrained naked functions, which I think will take 1) a bit more time, since they've only been around for ~2 months and 2) some reports to https://github.com/rust-lang/rust/issues/90957 confirming that people are using them in nightly and they work as e

[2022-01-21 06:04] npmccallum commented on #32408
1. CNFs have been fully implemented for ~6mo and substantially implemented even earlier than that. CNFs also are a restriction in compiler behavior on top of naked functions which have been in nightly for years. There's no new functionality, just new restrictions on old functionality that we can't support.

2. Naked functions (now constrained by CNF lints) are widely used in major projects and pro

[2022-01-21 06:20] #91740 closed

[2022-01-21 06:20] rust-highfive opened #93149 "`miri` no longer builds after rust-lang/rust#93138"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#93138, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-01-21 06:20] willcrichton commented on #88791
I followed @jyn514's advice and used criner to find crates with scrape-examples. Here are a few crates using this feature:
* [save](https://docs.rs/save/0.6.0-dev.1/save/cli/fn.init.html)
* [panda-re](https://docs.rs/panda-re/0.26.0/panda/struct.Callback.html#method.new)
* [with_lock](https://docs.rs/with_lock/0.4.2/with_lock/struct.MutexCell.html)
* [scrape_me](https://docs.rs/scrape-me/latest/sc

[2022-01-21 06:37] tamaroning commented on #93143
@rustbot claim

[2022-01-21 07:03] ChayimFriedman2 opened #93150 "When a match guard indirectly contains `if let`, rustc requires only the `let_chains` feature and not also `if_let_guard`"
If you compile the following code:
[code]
rustc complains as expected:
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=baca9fde049777b0efc7a99c9049638c).

However, if I use the `let_chains` feature, by e.g. wrapping the `let true = true` in parentheses, or adding another clause, it compiles without error:
[code]
[Playground](https://play.rust-lang.org/?

[2022-01-21 07:14] dsxmachina commented on #93125
Hm, I feel dumb not having tried that - no Sir, I cannot replicate it.

[2022-01-21 07:23] nico-abram commented on #93149
I tried running tests locally against the PR's commit, seems to be failing async-fn and generator. My guess looking at the PRs in the rollup is https://github.com/rust-lang/rust/pull/91032

This is where it fails on async-fn https://github.com/rust-lang/miri/blob/9983e0fc634e11717eb457a73fe84cfc9409ba8f/tests/run-pass/async-fn.rs#L26-L41

Here's the output:
[code]

[2022-01-21 07:32] PeterWrighten opened #93151 "[workspace & asm! macro][Embedded OS Dev]Error: invalid register 'x10' unknown register"
When I want to refactor an [OS project](https://github.com/rcore-os/rCore-Tutorial-v3/tree/ch2) with Cargo workshop, which its original rust code is not encapsulated under cargo workspace but could promise successful run, compiler reported 'invalid register' issue as follow:

 (My code is [here](https://github.com/PeterWrighten/OperatingSystem/tree/chap2/peter_batch_os), refactored by Cargo worksp

[2022-01-21 08:16] nikic commented on #86106
Fixed upstream by https://github.com/llvm/llvm-project/commit/6a19cb837c9b2ca14642bb0a8f1234903e4430d0.

[2022-01-21 09:08] SaadiSave commented on #86106
I assume that this will make its way into Rust with LLVM 14? Or will it become a patch release?

[2022-01-21 09:11] nikic commented on #86106
This will be part of the LLVM 14 upgrade.

[2022-01-21 09:47] PeterWrighten commented on #93151
Now it works well by changing rustflags, but still cound not guarantee its performance when ```.cargo``` config file is not under root directory. I want to know how could I do to work it out just depended by ```.cargo``` file under members' crate.

[2022-01-21 09:49] nikic commented on #76247
It looks like the output is okay again since 1.52? https://rust.godbolt.org/z/nojnhW393

Probably fixed by one of the LLVM upgrades in the meantime.

[2022-01-21 09:53] irelativism commented on #53287
Any news regarding this ^
Cheers

[2022-01-21 09:58] michaelwoerister commented on #85281
This has been removed since.
https://github.com/rust-lang/rust/blob/0bcacb391b28460f5a50fd627f01f670dfcfc7cc/compiler/rustc_middle/src/query/mod.rs

[2022-01-21 09:58] #85281 closed

[2022-01-21 09:58] oli-obk commented on #93145
Oh I should've written this up long ago... basically the plan @eddyb and I had for this was to add an attribute (like lang item, but intrinsic) that can be added to functions and methods. It would essentially work like your proposal, but you could annotate the methods on the integer types directly instead of having to redeclare an intrinsic for them.

[2022-01-21 10:18] esavier opened #93156 "Rustc tried to guess type for generic and type recurs on itself"
Possibly related to #85063

It seems that the compiler tried to guess the type, which is recursive to itself, even if not required to.
Code below does have pieces that can hint the compiler to compile properly

[code]

[2022-01-21 10:34] ThounyBreasty commented on #93123
sure it's here : https://github.com/ThounyBreasty/ElrondCrowdfunding

[2022-01-21 11:05] irelativism opened #93157 "Will trademark concerns be addressed?"
Now that most of the foundation work seams to be completed, and that the project is a bit more independent from Mozilla, will the trademark concerns, be addressed.

Shouldnt  trademark policy (and related references to Mozilla Media-guide) be rebased? Because while Rust copyright license allows distribution of derivative works, trademark policy might restrict this very own concession. Propousal:
*

[2022-01-21 11:05] irelativism commented on #93157
Given the other issue was lock, because it was on the foundation FAQ repository, and not transfered to here. Im doing so now, by openning another issue regarding this here. So people can comment and express their own concerns or arguments agaisnt change of trademark police, thanks for compreension. Cheers Irelativism

[2022-01-21 11:29] programatik29 commented on #88791
@willcrichton I first tested this feature in `scrape_me` crate. There was a problem with `-` character that is now fixed.

I am currently using it in [`axum-server`](https://docs.rs/axum-server/latest/axum_server/) crate.

[2022-01-21 13:37] safinaskar commented on #48043
Important news! `HashMap` got method `try_insert` ( https://github.com/rust-lang/rust/issues/82766 ), where `try_` means something completely different to `Box::try_new`. Please, prevent somehow this `try_insert` from becoming stable

[2022-01-21 13:42] ius commented on #90825
Related qemu `linux-user` bug report: https://gitlab.com/qemu-project/qemu/-/issues/140

[2022-01-21 13:56] Stargateur commented on #48043
I think [`insert_if_vacant`](https://github.com/rust-lang/rfcs/issues/3092#issuecomment-790788137) is way better, `try` is quite confusing with allocation error on collection. Also, try_ is too much generic on this case of specific "only if vacant".

The downside of this is it's rather long. Since even `VacantEntry` use [`insert()`](https://doc.rust-lang.org/std/collections/hash_map/struct.VacantE

[2022-01-21 14:05] bjorn3 commented on #93151
This is a cargo issue and not a rustc issue. Closing in favor of https://github.com/rust-lang/cargo/issues/10314.

[2022-01-21 14:05] #93151 closed

[2022-01-21 14:07] teythoon commented on #44394
This is still a problem for Sequoia:

- https://gitlab.com/sequoia-pgp/sequoia/-/issues/806
- https://gitlab.com/sequoia-pgp/sequoia/-/issues/802

Internally, we store timestamps as our own type, which comes down to `u32`.  However, on the API boundary we convert to `SystemTime`: getters return `SystemTime`, and setters are polymorphic over `Into<SystemTime>`.  This allows convenient use with chro

[2022-01-21 14:11] bjorn3 opened #93159 "Cross compilation broken with download-ci-llvm=true"
The downloaded llvm build doesn't include llvm-tblgen causing

[code]

when trying to cross-compile. In addition it uses `build/x86_64-unknown-linux-gnu/llvm` instead of `build/x86_64-unknown-linux-gnu/ci-llvm` as path.

[2022-01-21 14:40] steffahn commented on #93143
@tamaroning

FYI, somehow I missed the more straightforward way of writing these.

[code]

[2022-01-21 14:43] manfredvw commented on #93156
The compiler should eliminate the second `impl` from consideration immediately because the second parameter to `Pop::pop` with type `Null` mismatches the `Wrap<T>`.  Instead, it appears to try to solve for the type parameters through the trait bounds before first considering the match between arguments and parameters in the function call, which leads to the endless recursion.  Reordering of action

[2022-01-21 15:25] pnkfelix commented on #91671
Sweet, @nikic massively reduced the test case further (from LLVM's perspective) and has a candidate patch up; see progress over on llvm/llvm-project#53315

[2022-01-21 15:27] RalfJung commented on #93149
Yeah the ICE reproduces outside Miri.

[2022-01-21 15:28] RalfJung opened #93161 "ICE for generators involving Never type"
Building the following code ICEs with current master (not yet on nightly):
[code]
Output:
[code]

This is a regression, the same code worked fine yesterday. Likely cause: https://github.com/rust-lang/rust/pull/91032

[2022-01-21 15:29] RalfJung commented on #93149
Filed as separate bugÖ https://github.com/rust-lang/rust/issues/93161

[2022-01-21 15:50] Urgau commented on #92137
@jhpratt I've give it a [shot](https://github.com/rust-lang/rust/compare/master...Urgau:unreachable-2021?expand=1) today and basically everything works except that `unreachable!("{x}")` doesn't because:
[code]
This is due to the fact that the macro append to the format the string "internal error: entered unreachable code: " with:
[code]
If anyone has a idea on how to solve it, let me know or if yo

[2022-01-21 15:58] cuviper commented on #93127
We can't control how folks choose to audit open source, but we can ask that you follow our security policy -- if you think you've found an exploitable issue, please do send it to security@rust-lang.org before you discuss it publicly.

[2022-01-21 16:26] clehner commented on #75230
Fixed upstream: https://github.com/llvm/llvm-project/issues/46028 (issue migrated from LLVM Bugzilla bug 46683)
[code]
[code]
[Void Linux for PowerPC/Power ISA](https://voidlinux-ppc.org/)

[2022-01-21 16:26] #75230 closed

[2022-01-21 16:46] jhpratt commented on #92137
As mentioned, making it a built-in macro seems to be the way to go. My intent was to pass as much as possible off to the panic macro handler. Good luck!

[2022-01-21 16:47] Mark-Simulacrum commented on #93034
@craterbot run name=beta-1.59-1 start=1.58.0 end=beta-2022-01-21 mode=build-and-test cap-lints=warn

[2022-01-21 17:00] tromey opened #93164 "rust 1.57.0 regressed DWARF for trait objects"
I noticed this problem when running gdb's test suite after the 1.58 release, so I tried various earlier releases and found that the regression entered in 1.57.0.

The test case is a basic one from the gdb test suite:

[code]

The test suite then proceeds to check for the Rust DWARF extension by running `readelf` and looking for `DW_AT_containing_type`.  With 1.56.0, this passes, but with 1.57.0, t

[2022-01-21 17:02] Mark-Simulacrum commented on #93034
@craterbot run name=beta-1.59-1 start=1.58.0 end=beta-2022-01-21 mode=rustdoc cap-lints=warn

[2022-01-21 17:03] Mark-Simulacrum commented on #93034
@craterbot run name=beta-1.59-rustdoc-1 start=1.58.0 end=beta-2022-01-21 mode=rustdoc cap-lints=warn

[2022-01-21 17:05] tromey commented on #79530
Sorry about the extreme delay on this response.  I forgot about it.  Anyway, it's hard to know the answer.  I feel that my track record getting things into upstream lldb is poor, and I don't know if that's due to something I did, or what.  Also, this is the kind of work I wouldn't want to do in my spare time.

[2022-01-21 17:17] pwinckles commented on #29497
It looks like [one of the commits](https://github.com/rust-lang/rust/commit/5ab67bff1e2230217ce133165605f8dc0d588178#diff-b2fbfcd333118e155032ff4276423d90c9fb43d97f9d4d7fe7965de5bddb3f62) that addressed the `remove_all_dir` security vulnerability may have also resolved this issue, new retry logic starting on line 1010. I haven't had a chance to test it out on a Windows system yet.

[2022-01-21 17:23] bjorn3 commented on #92737
Variables are spilled to the stack for debuginfo: https://github.com/rust-lang/rust/blob/84e918971d643c6a33067d5125214ab800ce5307/compiler/rustc_codegen_ssa/src/mir/debuginfo.rs#L249 Also I am not sure LLVM guarantees that adding debuginfo doesn't change the compiled code.

[2022-01-21 17:39] joshtriplett commented on #32408
@npmccallum Thanks for clarifying! In that case, constrained naked functions just need a PR to stabilize, and a stabilization report (of which your comment here is most of what's needed).

[2022-01-21 17:43] eholk commented on #93149
I have a small PR at #93165 that should unblock this issue. I'm going to be working on a proper fix today, which I expect will be pretty quick to come up with.

[2022-01-21 17:43] eholk commented on #93161
@rustbot claim

[2022-01-21 17:47] marmeladema opened #93166 "Undefined reference error when building on aarch64 architecture with address sanitizer enabled"
The project is closed source but when upgrading from rust 1.57.0 to rust 1.58.0, I encountered build failure with address sanitizer enabled on native aarch64 architecture using the follow RUSTFLAGS env variable:
[code]

and the following cargo command:

[code]

I expected to see this happen: the project build successfully

Instead, this happened: a bunch of weird undefined symbol errors like
[code

[2022-01-21 17:48] terrarier2111 commented on #93122
@rustbot claim

[2022-01-21 17:52] Urgau commented on #92137
@jhpratt I tried to do it the same way as the `panic` macro, make it a builtin macro that redirects toward one of these two new macro `unreachable_2015` and `unreachable_2021`.

[2022-01-21 17:58] pierwill commented on #93141
@rustbot label +A-incr-comp

[2022-01-21 18:02] leonardo-m opened #93167 "[ER] gcd / binary_gcd / lcm"
I suggest to add to the Rust stdlib implementations of gcd/binary_gcd/lcm. The ones belows are designed to be division-panic-free.

[code]

gcd and lcm are short and used widely. Different implementations are possible, but their purpose and API won't change. They are present in the Python stdlib:
https://docs.python.org/3/library/math.html

The binary_gcd is faster in some cases, so I think it's u

[2022-01-21 18:19] tmiasko commented on #90511
Duplicate of #34127

[2022-01-21 18:19] #90511 closed

[2022-01-21 18:19] tmiasko commented on #90805
Duplicate of #34127

[2022-01-21 18:19] #90805 closed

[2022-01-21 18:48] nagisa commented on #92737
Indeed, this is expected, and I'm pretty sure we don't really have a feasible way forward in changing the implementation here to be different in anyway. If you need a reproducible `.text`, compile with `-Cdebuginfo` always, and strip the debug info as a followup step.

Closing as non-actionable.

[2022-01-21 18:48] #92737 closed

[2022-01-21 18:52] briansmith commented on #93124
Here's what the docs say at https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessw:

Further, as you've noted, `CreateProcessW` has a mechanism, `lpApplicationName`, to disable the extension munging completely.

It would be surprising if it works differently than `CreateProcessW` in any way not documented in the `Command` documentation.

The "execu

[2022-01-21 18:57] ChrisDenton commented on #93124
I does not. The only special extensions are:
* `.exe` (which it may or may not append to a filename).
* Testing for `.com` and `.bat` which, if present, causes it to rewrite the command such that `cmd.exe` is called instead and the given path is passed as `argv[0]`.

[2022-01-21 19:05] ChrisDenton commented on #93124
I feel like we're getting a bit lost in the weeds there. So I'll try to sum up where I'm at as best I can:

If you're saying we should behave exactly as `CreateProcessW` behaves then this is very actionable and I would entirely support changes to that effect.

If you're saying we only need to behave how `CreateProcessW` is documented to behave, then there are questions about how we should treat ch

[2022-01-21 19:11] oribenshir commented on #92929
I investigated this issue (and used it as an opportunity to learn about the compiler).
I examined the statement:  `let _f1: Pin<Box<dyn Future<Output = bool> + Send + 'static>> = Box::new(async { true }).into();`
As I suspected, the compilation failure is because the type generated by the future is not identical to: `dyn Future<Output = bool> + Send + 'static`.
When the compiler is looking for tra

[2022-01-21 19:11] #92929 closed

[2022-01-21 19:11] nikomatsakis commented on #32408
@npmccallum that all sounds fine, with just one thing to double check:

The term "restricting lints" suggests to me that people can still write arbitrary code in naked functions if they "allow" the lint. Is that correct?

[2022-01-21 19:11] tommythorn commented on #49773
How is rustc deciding that locks aren't working?  Is it just a heuristic?  Because my NFS4 mount on macOS _does_ support locks and they work.  If it's a heuristic can it be overruled?

[2022-01-21 19:12] briansmith commented on #93124
I think you mean `CreateProcessW`?

The `a.exe` line is especially surprising. It's worth double-checking that. Maybe you could post your test program somewhere so people could look at it.

It is possible that the `CreateProcessW` documentation is documenting the least common denominator behavior across all versions of Windows that are currently supported, or that it is out of date (which is maybe

[2022-01-21 19:27] jsha commented on #93120
Thanks for the report! Also being discussed at https://github.com/rust-lang/docs.rs/issues/1607, though we should move that conversation over here since this is a rustdoc issue rather than a docs.rs issue.

[2022-01-21 19:29] briansmith commented on #93124
I agree. Here are my main concerns:
* Does the "does the file exist" check we do in `resolve_exe` create a race condition when combined with file existence checks that `CreateProcessW` will do. To resolve this, we just need to add a comment such as "Passing `lpApplicationName` to `CreateProcessW` is essential for preventing race conditions with respect to the file existence check(s) done in `resol

[2022-01-21 19:30] jsha commented on #92957
By the way @chansuke be aware this will conflict with https://github.com/rust-lang/rust/pull/92660. Resolving the conflict should be pretty easythough.

[2022-01-21 19:41] chengniansun commented on #92737
Hi @bjorn3 and @nagisa

Thank you for taking a look at this issue. Both GCC and LLVM try to make such a compilation consistency wrt debug info. We have found several bugs in GCC which are already fixed, and some bugs in LLVM, which are confirmed for now.

The rational behind this issue is that if a developer wants to debug a binary which has no debug info, then the developer can recompile the prog

[2022-01-21 19:44] jsha commented on #71912
FYI some of this is being updated in #92745 and #91759.

[2022-01-21 19:48] bjorn3 commented on #92737
I knew GCC does this. I didn't know LLVM does too. I agree it would be nice if rustc has the same guarantee, but this isn't the case currently. There is an [open issue](https://github.com/rust-lang/rust/issues/68817) to use `llvm.dbg.define` instead of `llvm.dbg.declare` which allows avoiding the stack spilling, however it seems that LLVM is too eager to forget about the local when using `llvm.dbg

[2022-01-21 19:52] Nemo157 commented on #93171
@jsha transferred

[2022-01-21 20:02] camelid commented on #92137
@Urgau what about doing the concatenation using internal compiler APIs? I don't know them off the top of my head, but there's probably a way to concatenate the strings from within the compiler without using `concat!`.

[2022-01-21 20:21] clarfonthey commented on #67792
So, I'm having a very weird issue that I've been trying to replicate, but it's not working out terribly well.

Basically, sometimes, `~const FnOnce(T) -> bool` is being interpreted as `~const FnOnce(T) -> bool` for the case of type-checking inside a default method body, but `~const FnOnce(T)` (without a return value) on instantiation.

As you can see in this snippet, I've been trying to create a m

[2022-01-21 20:51] npmccallum commented on #32408
@nikomatsakis No. The CNF RFC defines both error cases (MUST clauses) and warning cases (SHOULD clauses). You can disable the warnings but not the errors. I've been using the term "lints" to cover both the errors and warnings, but I understand how that was potentially misleading.

[2022-01-21 21:05] richkadel opened #93174 "Rust's LLVM coverage map generation should not add an unused function that doesn't have counter regions"
#93144 addressed an issue where some uncallable functions could show up in the list of unused functions. The coverage map generator adds coverage regions for unused functions (so coverage reports show these functions are not covered) and generates a function stub required by LLVM, and associates the coverage regions computed from the MIR.

Certain types of functions generate no coverage regions. T

[2022-01-21 21:28] nagisa commented on #92737
A possibly good idea would be to submit a [MCP](https://forge.rust-lang.org/compiler/mcp.html) or [RFC](https://github.com/rust-lang/rfcs) to establish a need for such guarantee. I feel once the developers come to a consensus it is a good idea to guarantee this kind of property, then we are much more likely to implement the support necessary on the rustc side as well as petition for the fixes nece

[2022-01-21 21:31] the8472 commented on #93167
Are there crates that implement these? If yes, how popular are they?

[2022-01-21 21:53] euclio opened #93177 "rustdoc: stability and portability "pills" are sometimes broken to the next line"
Screenshot demonstrating the issue:

![Screen Shot 2022-01-21 at 12 50 45 PM](https://user-images.githubusercontent.com/1372438/150604939-f4b94561-cb5c-434b-b80c-2416cfabe7aa.png)

See https://doc.rust-lang.org/nightly/std/intrinsics/index.html for more examples.

### Meta

`rustc --version --verbose`:
[code]

[2022-01-21 21:58] jhpratt commented on #92137
My intended solution involved manually prepending the relevant text to the format and passing the result of that to the method that expands the `panic!` macro. This should handle the 2015/2021 edition split automatically. You won't be able to use the `concat!` macro because eager expansion doesn't exist.

[2022-01-21 22:10] Urgau commented on #92137
I managed to get it working by adding an unstable [`format_args_capture_non_literal`](https://github.com/Urgau/rust/commit/7250ccefa71dd6485c10cd3a392048b9d7765d9c) feature to `format_args!`.
The actual the logic is the [same](https://github.com/Urgau/rust/commit/a48ee089f9b8a9acd38fd974f0167eead5ae7244) as the previous one.

@camelid @jhpratt Do you think that this is an acceptable solution (at l

[2022-01-21 22:16] jhpratt commented on #92137
A quick once-over of it shows no obvious issues. I'd personally prefer a solution like I described because I think it would limit the amount of compiler magic, but I'm not on any teams.

[2022-01-21 22:19] camelid commented on #92137
I'd also prefer avoiding a internal-use-only feature gate that turns off error checks.

[2022-01-21 22:28] danielhenrymantilla opened #93178 "Tracking Issue for `core::pin::pin!`"
Feature gate: `#![feature(pin_macro)]`

This is a tracking issue for `core::pin::pin!`, which allows pinning values to the stack / local scope.

### Public API

[code]

### Steps / History

 - [x] Implementation: #93176
 - [x] Final comment period (FCP)
 - [x] Stabilization PR: #103800

### (un)Resolved Questions

  - [x] Should it be named `pin_mut!` instead, and have a `pin_ref!` counterpart? (c

[2022-01-21 22:32] Urgau commented on #92137
Technically it doesn't turn off but instead turn on a future possibility of RFC that defined capturing arguments but I get your concern.

Over the concern you two have expressed I will not submit a pr and also will not try to implement @jhpratt proposed solution because it involves `TokenStream` and I don't know enough about them.

[2022-01-21 22:34] crawford commented on #91809
@apiraino Sorry I disappeared after initially filing the issue. I haven't had much time to revisit this to help narrow it down. I just gave 1.58 a try and am still seeing the slowdown when optimizing for size. My current workaround is still functional though:

[code]

[2022-01-21 22:36] camelid commented on #92137
You could still open a PR and get feedback from macro experts about how to do this without the feature gate.

[2022-01-21 23:10] eddyb commented on #90959
Should we at least pick a value like 16 that we can have some degree of certainty `malloc` should guarantee, and lint against `thread_local!`s (or rather the underlying `#[thread_local]`) with higher alignment, at least on those platforms?

[2022-01-21 23:42] leonardo-m commented on #93167
Some GCD algorithms are popular since thousand/hundred years :) The need to compute such values exists since before Fibonacci.

[2022-01-22 00:00] compiler-errors commented on #93141
@rustbot claim

[2022-01-22 00:38] jsha commented on #93171
@cynecx The `width: 100%` thing you posted _works_, but it's unsatisfying. If the issue is lack of an explicit `width: 100%`, why does this only show up on font sizes >16px?

Here's another possible fix: set `font-size: 16px` on `div.nav-container`. The page was previously inheriting `font-size: 16px` from rustdoc's CSS, which sets that on `body`. When rustdoc's CSS changes to `font-size: 1rem` (i

[2022-01-22 01:06] willcrichton commented on #88791
Some thoughts as I'm looking through the crates above.

## Highlighting large regions

Some examples, especially higher-order functions, correspond to large regions of code. For instance:

![Screen Shot 2022-01-21 at 4 57 55 PM](https://user-images.githubusercontent.com/663326/150618117-b06d38fa-5f58-459e-b69d-409b022a7269.png)

This is kind of ugly, and also hard to read. One possibility might be

[2022-01-22 01:13] mriise opened #93182 "Const Default with `generic_const_exprs` & super trait"
### Code

[code]

playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1a8997314db8560b8723adc2af0c07a3
### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-22 01:19] jsha commented on #91759
@rfcbot concern simplify

I'd like to propose a slightly simpler alternative: We could not to generate anchors for most user-generated markdown.

The headings in the top-doc are usually substantive, and worth linking to on their own, so we could namespace those. For instance https://doc.rust-lang.org/nightly/std/string/struct.String.html#utf-8 would become https://doc.rust-lang.org/nightly/std/str

[2022-01-22 01:30] jsha commented on #88791
I'd like to avoid adding a new setting for minimizing examples separately from their containing item. I think the global `[-]` button does the job well enough.

Here's how I think of it: rustdoc is ultimately a tool of the documentation author to write the best, most useful, most readable documentation they can. It makes that job a lot easier, including organizing by type, extracting doccomments,

[2022-01-22 02:15] camelid commented on #91759
Hmm, seems interesting. I don't feel super strongly either way. What do other people think?

[2022-01-22 02:18] camelid commented on #88791
One possible solution is to elide the interior lines if there're more than e.g. 10. Also, highlighting the arguments in a different way sounds promising.

Yeah, we could consider a lint for that, but it'd probably be best to save it for later, especially because we'd probably need to make example scraping the default first.

[2022-01-22 02:26] camelid commented on #91374
The flash-of-bold-text part seems to be fixed, but now the Rust logo flashes briefly in the sidebar while the page loads. cc @GuillaumeGomez

[2022-01-22 02:26] camelid commented on #91374
I'm removing the regression label because that nightly is long past and I don't know when the new regression occurred.

[2022-01-22 02:30] bstrie commented on #31844
I'm also in favor of a hypothetical `min_min_specialization` feature. Having any semblance of this feature at all seems like a win while waiting for the larger kinks to be worked out. The only risk I can see is if people think that the shape of a future specialization feature that actually works might be so radically different from `min_min_specialization` as to make this foundation unusable; is t

[2022-01-22 02:33] camelid opened #93184 "rustdoc: Margin below search results changes once the user starts typing a search in Safari"
### Steps

1. Open (desktop) Safari
2. Click the search box here: https://doc.rust-lang.org/nightly/std/
3. Type a letter
4. Delete the letter
5. Type another letter
6. Notice how the empty space below the search bar changes size

cc @jsha – I think this is a recent regression; it's in nightly. I presume it has some connection to either your "All crates" change or your sidebar change. This bug is

[2022-01-22 02:45] jsha commented on #93184
Hm, I can't reproduce on desktop Safari 15.1. Can you share a video?

I _can_ observed a small change in the width of the sidebar between typing
a letter and deleting. I'll investigate that.

[2022-01-22 02:47] joshtriplett commented on #87096
@BurntSushi The removal of `split` is about to be merged; that should address your concern.

[2022-01-22 02:48] camelid commented on #92971
Marking as P-high: regression that breaks relatively simple Markdown syntax

[2022-01-22 02:53] camelid commented on #93184
I'm on Safari 15.2, though I'm not sure if it matters. I'll see if I can get a video sometime soon but I'm a bit busy right now.

[2022-01-22 02:54] #92089 closed

[2022-01-22 02:54] #93135 closed

[2022-01-22 03:11] gelfand commented on #93184
https://user-images.githubusercontent.com/45895290/150622700-2c7662bd-7a10-430e-a6c1-12ff744f7455.mov

[2022-01-22 03:12] camelid commented on #93184
Thanks!

[2022-01-22 04:03] ds84182 commented on #32408
Rerouting the issue I bought up in #93153 surrounding the constraints introduced by CNF:

Currently, the requirement for a single ASM block is quite limiting, while there exists a workaround for macros producing ASM snippets, it currently falls apart when you need to handle constants, registers or symbols. Other than implementation simplicity, it's not clear why this requirement exists.

This requ

[2022-01-22 05:09] chansuke commented on #92957
@jsha Thanks

[2022-01-22 05:11] wodin opened #93187 "rust 1.58.1 "malicious" .../i686-pc-windows-msvc/lib/std-41d48f5938a7bd14.dll"
I upgraded to rust 1.58.1 using rustup (installed from Homebrew) on my Apple M1 Mac and my antivirus software quarantined one of the DLLs with the following message:

I [uploaded it to Virustotal](https://www.virustotal.com/gui/file/a320693d58b215a55aec0c47ec30d1fd43bf037c56a4d19a66fd6e3e030d7275) and found that several antivirus vendors detect it as malicious:

<img width="1191" alt="Virustotal:

[2022-01-22 05:19] nbdd0121 commented on #47384
I tested the code and it seems like:
* Regardless whether the lines are commented out, `STATIC` won't be present in the final binary (different from what the issue says)
* Regardless whether the lines are commented out, `STATIC` will be present in the object file.

It seems that the symbol is removed by GC sections.

The [RFC](https://rust-lang.github.io/rfcs/2386-used.html) of `#[used]` says:

Th

[2022-01-22 05:37] cuviper commented on #93187
Rust started using different Windows API calls in commit 4f0ad1c92ca08da6e8dc17838070975762f59714 (cc @ChrisDenton) to deal with [CVE-2022-21658](https://blog.rust-lang.org/2022/01/20/cve-2022-21658.html). Virus scanners are often based on heuristics, and it's quite possible that this change made it look similar in some way to patterns found in a known virus.

15 scanners flagged it, but they're a

[2022-01-22 05:47] wodin commented on #93187
Sure, I suspect it's a false positive. Still, it seems worth trying to do something about it?

"Only 15 of 63 flagged it as malicious" is not that comforting :)

[2022-01-22 06:09] jsha commented on #93184
Thanks for the video @gelfand, that really helped me figure out what I was looking for.

I was able to bisect it to 8abb4bb698c9d74507adb9cd7b54a032f3c1b595 (moving the crate dropdown onto the search page).

Surprisingly, the minimum diff that causes the issue was not any of the CSS, but removing the dropdown element. So long as the search input has a previous sibling of any kind, the bumpiness do

[2022-01-22 06:52] the8472 commented on #31844
The syntax might need to be changed depending on the solution for overlapping impls.

[2022-01-22 06:59] inquisitivecrystal commented on #47384
I'm nominating this for lang team consideration, to ensure that the current behavior is what is expected. It does sound like it matches the RFC, but some comments from lang team members suggest that it might not be what the lang team wants. If the way `#[used]` works now is fine, this can likely be closed. If the spec needs a change, perhaps this should be `C-feature-accepted` rather than `C-bug`?

[2022-01-22 07:04] SOF3 commented on #84737
Reproduced with nightly 17d29dc 2022-01-21. I am not sure if this is the same issue.

https://github.com/SOF3/bthint/runs/4904869466

Although the crash message says clippy, it seems to be a problem from the rustc code.

[2022-01-22 07:05] thomcc commented on #47384
It's worth noting that the behavior here was made substantially worse in the [update to LLVM 13](https://github.com/rust-lang/rust/pull/87570), when we switched from the llvm.used annotation to llvm.compiler.used.

This was done to avoid a bug in older versions of the gold linker, but also effectively made `#[used]` much less useful, and arguably broke it entirely — certainly making the current is

[2022-01-22 07:18] nbdd0121 commented on #47384
From comments in https://reviews.llvm.org/D97448 it sounds like before LLVM 13 there are no difference between `llvm.used` and `llvm.compiler.used` for ELF targets.

[2022-01-22 07:39] inquisitivecrystal commented on #47384
After conversing with @nbdd0121 on Zulip, it seems like there are a lot of limitations on what *can* be done here, especially given the varying features of different toolchains. It seems like it would probably be helpful to have `T-compiler` be part of the conversation as well, given that they are best positioned to understand the abilities of different toolchains.

This is all a very long-winded

[2022-01-22 08:59] nivkner commented on #90825
closing since the issue is not from rust, and there is a linked bug report for qemu in case anyone has a similar problem using `Command` in qemu.

[2022-01-22 08:59] #90825 closed

[2022-01-22 09:47] Arisa-Snowbell opened #93190 "MIR Optimization panic"
when compiling mongodb-rust-driver with the latest nightly as of now (17d29dcdc 2022-01-21) it throws out some MIR optimization panic, i am using mongodb-rust-driver right from a repo, the commit is [577345c2b0084691882893a03a3672fdcd410e46](https://github.com/mongodb/mongo-rust-driver/commit/577345c2b0084691882893a03a3672fdcd410e46)

### Code

No code

### Meta

`rustc --version --verbose`:
[code

[2022-01-22 09:50] Arisa-Snowbell commented on #93190
For some reason the backtrace cuts off

[2022-01-22 11:07] Skepfyr commented on #84737
@SOF3 That looks like a separate issue to me, so please do open a new issue (feel free to point back at this one as something similar).

[2022-01-22 11:08] Sherlock-Holo opened #93195 "the ICE happened when run cargo clippy"
### Code

That's a little hard to find out the minimal reproduce codes but I can give the [project](https://github.com/Sherlock-Holo/rfs) what I am running `cargo clippy`

Alos cargo reports codes is

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-22 11:23] Animeshz opened #93197 "[Internal Compiler Error] occurred when compiling eww with latest nightly build (2022-01-21)"
Builds fails only with the latest (yesterday released) `rustc 1.60.0-nightly (17d29dcdc 2022-01-21) running on x86_64-unknown-linux-gnu` compiler. Tested with 2022-01-20 compiler and it works all okay!

### Code

For now: refer to [elkowar/eww:crates/eww/src/script_var_handler.rs#L137](https://github.com/elkowar/eww/blob/master/crates/eww/src/script_var_handler.rs#L137). I'll update if I'm able to

[2022-01-22 11:29] MomoLangenstein commented on #75744
Would it be possible to also add boolean constructors for `ControlFlow<(), ()>`, e.g.
[code]

As I am refactoring some prior `bool`-based code, I'm having to repeat these if-cases many times.

[2022-01-22 11:41] lqd commented on #93190
This looks like a duplicate of #93161 and will be fixed by #93165 shortly.

[2022-01-22 11:41] scottmcm commented on #75744
@MomoLangenstein For a simple method addition, you can absolutely send a PR.  With <https://doc.rust-lang.org/std/primitive.bool.html#method.then> stable, there's probably space for something in this area.

What it should be, I don't know.  I'm a bit skeptical of *both* the `break_if` and `continue_if` methods, though -- maybe you can find a nice name that would be ok with just having *one* method

[2022-01-22 11:42] lqd commented on #93195
This looks like a duplicate of #93161 and will be fixed by #93165 shortly.

[2022-01-22 11:50] dbofmmbt commented on #75744
@MomoLangenstein AFAIK this could be done as an external lib. Actually, I think it may be implemented on stable, as the enum is stabilized. :thinking:

[2022-01-22 11:55] MomoLangenstein commented on #75744
Yes, that's true. Though I think this would really be a convenience function that serves to better document the code functionality more concisely, which would be valuable to have in `core` itself.

[2022-01-22 11:57] lqd commented on #93197
This looks like a drop ranges regression, I expect it will be fixed by the #93165 revert shortly. This looks different from #93161 so it's as of yet unclear whether #93180 will properly fix it cc @eholk.

[2022-01-22 11:58] MomoLangenstein commented on #75744
@scottmcm  I think the most common pattern would be along the lines of
[code]
meaning that `break_if` (or a better name) would probably be more valuable.

[2022-01-22 12:02] dbofmmbt commented on #75744
[code]

@MomoLangenstein what do you think? Sorry about the (probably bad) trait name.

I would define another trait extension for ControlFlow too, as AFAIK it is not easily convertible between other Try types today, and would be nice to convert between them and use`?`.

[2022-01-22 12:30] Patryk27 opened #93198 "Misleading `cannot infer type for type parameter`"
Given the following code:

[code]

([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4c1b9ccf80b5ae9efc24b081a1242c5f))

... the current output is:

[code]

This error message is a bit misleading in that it refers _not_ to `K` from `trait Store<K, V>`, but `K` from the `impl<K> Store<...>` (the compiler is not sure which kind of `HashMap<K, String>` user w

[2022-01-22 13:10] BurntSushi commented on #87096
@rfcbot resolve split-is-too-niche

[2022-01-22 13:17] wintersm1th opened #93199 "Iterator.cloned() doesn't work for Iterator.Item = &mut T"
I suggest to implement method .cloned for Iterator<Item = &mut T>. Currently this method only works for iterators with Item = &T.

[code]

Error message:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-01-22 13:22] ahmedriza opened #93200 "Internal Compiler Error after renaming a module that was used by different crates"
I have a cargo workspace, in which I changed the name of a module in one of the crates in the workspace.  The name change was then reflected in all other crates of the workspace which used that module.

However, during cargo build, I got an internal compiler error as described below.  Not sure I can reproduce this easily.

Cleaning and rebuilding fixes the issue, so I guess it's to do with the inc

[2022-01-22 13:33] lqd commented on #93197
@Animeshz would you be able to test if #93180 would fix your issue ? (it doesn't seem to fix other similar issues, but maybe it will fix this one)

1. if you don't have it already, install [`rustup-toolchain-install-master`](https://github.com/kennytm/rustup-toolchain-install-master/) to allow installing rust PR artifacts into `rustup` as easily as the stable or nightly toolchains.
2. install the

[2022-01-22 14:06] ChrisDenton commented on #93187
This only affects the 32bit dll, right? Hmm... my local scanner doesn't report anything, does yours have a way to report false positives? Malware scanning is a bit outside my expertise unfortunately.

[2022-01-22 14:24] ojeda opened #93201 "`--emit=dep-info` + `-Zunpretty=expanded` emits output"
In 1.58, running:

[code]

will generate `.d`, `.o` and `.rmeta` files, as expected. However, running with `-Zunpretty=expanded`:

[code]

will generate the `.d` only. I would have expected that `rustc` does not generate any file, or that it generates all of them, or that it complains if `--emit` and `-Zunpretty` are supposed to be incompatible with each other.

It also happens with e.g. `-Zunpret

[2022-01-22 14:52] m-ou-se opened #93203 "Tracking Issue for scoped threads"
Feature gate: `#![feature(scoped_threads)]`

This is a tracking issue for scoped threads.

RFC: https://rust-lang.github.io/rfcs/3151-scoped-threads.html

**Note:** Right now, some usage patterns might need a `#![feature(nll)]` to avoid lifetime errors. (This is probably stable soon.)

### Example usage

[code]

### Public API

Documentation: https://doc.rust-lang.org/nightly/std/thread/fn.scope.h

[2022-01-22 15:07] m-ou-se commented on #93203
Nominating this for @rust-lang/lang team discussion for the unresolved question.

[2022-01-22 15:07] kellerkindt commented on #90080
FYI: Besides `Wrapping` there also exists a [`Saturating`](https://doc.rust-lang.org/std/num/struct.Saturating.html) type

[2022-01-22 15:12] kellerkindt opened #93204 "Tracking Issue for `wrapping_int_assign_impl`"
Feature gate: `#![feature(wrapping_int_assign_impl)]`

This is a tracking issue for adding basic integer operations to the `Wrapping` type:
[code]
As well as
[code]

### Steps / History

 - [x] Proposal for this implementation:  #91586
 - [ ] Implementation of `wrapping_int_assign_impl` #93208
 - [ ] Final comment period (FCP)
 - [ ] Stabilization PR

### Unresolved Questions

- Is this reasonable

[2022-01-22 15:13] MarijnS95 opened #93205 "Intradoc `Self::` links are "not in scope" when used in `impl` blocks across modules"
I tried this code:

[code]

I expected to see this happen: `Self::` intradoc links for the `impl` block residing in `mod prelude` (where `MyNewType` is _not_ defined) are valid links.

Instead, this happened: Rustdoc thinks that `Self`, resolved to `MyNewType`, is not in scope here:

[code]

A workaround is to make sure that `MyNewType`, without `super::` prefix, is in scope:

[code]

In other wor

[2022-01-22 15:35] danielhenrymantilla commented on #93203
Awesome API, thanks again @m-ou-se for taking care of driving this 👍

<details><summary>To expand on my captures suggestion / "thingy"</summary>

I think it would _generally_ make sense to be able to mark (`Copy`) type definitions with a `#[favor_capture_by_move]` annotation on them or something, so that, in a non-generic context, if one has `let x = instance_of_that type; || uses(x) || uses(&x)`,

[2022-01-22 15:47] virtualritz opened #93207 "[macOS] rustc 1.60.0-nightly (17d29dcdc 2022-01-21) bombs on tonic 0.6.2"
This happens on macOS 10.15.7. Same thing works fine on my Linux (CentOS) box.

[code]

[2022-01-22 15:56] m-ou-se commented on #75861
Very close! The FCP just finished and I approved the stabilization PR just now. It'll be stable in Rust 1.60.0.

[2022-01-22 16:09] lqd commented on #93207
Thanks for opening an issue.

This is a duplicate of #93161 and will be fixed by #93165 shortly. I've verified tonic builds with it (via [rustup-toolchain-master](https://github.com/kennytm/rustup-toolchain-install-master/) of the PR's `try` artifacts `d634ef421795e0140724aa9fddf8137b83e616c9` ) so I'll close this issue as a duplicate.

[2022-01-22 16:09] #93207 closed

[2022-01-22 16:13] lqd commented on #93190
I've indeed verified that `mongodb-rust-driver ` does not ICE with #93165 (via [rustup-toolchain-master](https://github.com/kennytm/rustup-toolchain-install-master/) of the PR's `try` artifacts `d634ef421795e0140724aa9fddf8137b83e616c9` ) so I'll close this issue as a duplicate.

Thanks for letting us know.

[2022-01-22 16:13] #93190 closed

[2022-01-22 16:17] lqd commented on #93195
I've verified elsewhere that building `tonic` does not ICE with #93165 indeed (via [rustup-toolchain-master](https://github.com/kennytm/rustup-toolchain-install-master/) of the PR's `try` artifacts `d634ef421795e0140724aa9fddf8137b83e616c9` ). It's expected that this would manifest when using `clippy` as well, so I'll close this issue as a duplicate, albeit in a different context, of #93161.

Feel

[2022-01-22 16:17] #93195 closed

[2022-01-22 16:34] m-ou-se commented on #93204
Trait implementations like these for a stable type cannot be added as unstable, so there's nothing to be tracked. So, I'm closing this issue.

In general, please only create tracking issues after a reviewer from the libs-api team has approved of the new (unstable) feature and asked you to do so. (See also [the tracking issue template](https://github.com/rust-lang/rust/blob/ecf72996eda4f8af19b0ca72

[2022-01-22 16:34] #93204 closed

[2022-01-22 16:46] lqd commented on #93197
@eholk I wasn't able to test #93165 on the `eww` crate here, but a friend tried it with the PR's try artifacts `d634ef421795e0140724aa9fddf8137b83e616c9`: the ICE seemed still present.
They also tried #93180 but it didn't fix it either.

[2022-01-22 16:57] wodin commented on #93187
Yes, only that specific dll is detected.

You can upload a file to virustotal.com to have it scanned by a bunch of different antivirus products.

Reporting seems to be a matter of contacting each vendor who detects the file :-/

https://support.virustotal.com/hc/en-us/articles/115002121185-I-am-experiencing-a-false-positive-my-file-or-site-should-not-be-detected-

Although it seems that virustotal

[2022-01-22 17:17] m-ou-se commented on #93050
After thinking about it a bit more, I like this name. It very clearly states that it first checks `is_some`, `and` then also checks a condition afterwards.

[2022-01-22 17:19] rkuhn commented on #91598
@apiraino no dice: with 1.58.1 I can’t get the tests to compile (i.e. it takes more than just a few minutes), you may try [this branch](https://github.com/Actyx/ipfs-embed/tree/sim-open) if you want to play with it. On nightly the hot build of the tests (`cargo build --tests`) takes 7sec for me. On 1.56.1 it was 9sec.

[2022-01-22 17:24] rkuhn commented on #91598
On 1.59.0-beta.3 it takes 8sec, so it seems fixed for 1.59.

[2022-01-22 18:04] Animeshz commented on #93197
Hello @lqd how do we find the PR hash? I tried commit hash https://github.com/rust-lang/rust/pull/93180/commits/197640adea324c9fdedd3162286fdbb84f50805a but seems like PR commits aren't indexed: `error: toolchain `197640adea324c9fdedd3162286fdbb84f50805a` doesn't exist in any channel
` :eyes: (sorry I'm new to this).

[2022-01-22 18:10] nagisa commented on #93187
In general AV issues should be reported to AV vendors. We cannot really do anything about their invalid heuristics.

[2022-01-22 18:18] kaimast opened #93209 ""Broken MIR" error on latest nightly"
When compiling [lsm-rs](https://github.com/kaimast/lsm-rs/) on latest rust I get a panic.

### Meta

`rustc --version --verbose`:
[code]

### Notes
This also happens on github actions, so I can reproduce it on multiple machines.

I can only reproduce this on the most recent nightly (2022-01-21), 2022-01-20 and earlier work fine.

The crate uses a few unstable features, that might trigger this.

##

[2022-01-22 18:22] nagisa commented on #93084
No, `-crt-static` work has not been completed yet. The linked issue is just a proposal to make such change which [has been accepted, but not necessarily implemented yet](https://github.com/rust-lang/compiler-team/issues/422#issuecomment-845826943).

[2022-01-22 18:24] bstrie commented on #31844
Are there any rough ideas on what those solutions might look like?

[2022-01-22 18:32] GuillaumeGomez commented on #91374
I'm not sure why it's flashing like this. Since @jsha worked on the font to prevent the flashing they might have an idea on what's wrong in here?

[2022-01-22 18:35] GuillaumeGomez commented on #88791
I agree. We can add `...` after it and that should solve most problems with it.

For later: agreed. I'm curious though: should we put it in rustdoc or in clippy?

[2022-01-22 18:37] basantsd commented on #31004
#![allow(unused_results)]

[2022-01-22 18:37] m-ou-se opened #93210 "'available fields are' message in diagnostic lists unstable/hidden fields."
With this patch to std:

[code]

The hidden `.pointer` field appears as a suggestion in a diagnostic:

[code]

(https://github.com/rust-lang/rust/runs/4908271178?check_suite_focus=true)

[2022-01-22 18:37] GuillaumeGomez commented on #91759
This is an interesting take and would simplify rustdoc code a lot. I think it's a good idea so I'm favour for it but not feeling strongly about it either.

[2022-01-22 18:38] m-ou-se commented on #92999
Related issue: https://github.com/rust-lang/rust/issues/93210

[2022-01-22 18:40] m1guelperez opened #93211 "readLink() testcase failed with localized non-english language?"
Hey!
I am not sure if this is directly a bug on the compiler test case or if it is my machine's fault.
My OS is Windows 11 Pro with version: 10.0.22000 Build 22000.
I built the compiler for the first time, set everything up (toolchains, etc.), and never got an error so far.

```./x.py check``` succeeded instantly as well.
But as soon as I tried to run the following test,
```./x.py test --stage 0 l

[2022-01-22 18:44] m-ou-se commented on #93210
Easier reproduction of this issue:

lib.rs:
[code]
main.rs:
[code]
output:
[code]

[2022-01-22 18:46] lqd commented on #93197
@Animeshz PRs are only built on-demand, so either when the bots test and merge it after review, or when someone asks manually for a `try` build before the PR is merged.

The latter is what I did [here](https://github.com/rust-lang/rust/pull/93180#issuecomment-1019212566). The bot leaves a comment with the hash [when/if the build is successful](https://github.com/rust-lang/rust/pull/93180#issuecomm

[2022-01-22 18:46] jsha commented on #91374
Here's my first trick in debugging such things: open the Dev Tools, go to Sources, and hit the "Pause" button, so the next execution of JS on the page will pause. Load the page. When JS execution is paused, you'll see that the logo is visible (but squashed) in the sidebar. That means the logo is shown by default, but hidden with JavaScript. That will cause a flash of visibility because the JS exec

[2022-01-22 18:49] GuillaumeGomez commented on #91374
Removing animations sounds like a good idea. Less CSS to maintain. I'll try to put something together shortly.

[2022-01-22 18:51] jsha commented on #91374
Looks like maybe I was wrong about JS being the cause. We have this CSS rule:

[code]

I think it's that `visibility: 0.2s` that's doing it. Basically our CSS is telling the page "this should be `visibility: hidden`, but take 200ms to make it so".

So I suspect removing the animations will fix the logo problem as well.

[2022-01-22 18:53] GuillaumeGomez commented on #91374
Yes, it's what I just saw. This issue should be pretty easy to fix.

[2022-01-22 18:55] Aaron1011 commented on #93200
This should be fixed in the latest nightly. Are you able to share the repository and module name where this happened?

[2022-01-22 18:58] Animeshz commented on #93197
d634ef421795e0140724aa9fddf8137b83e616c9 didn't worked unfortunately, I'll try to find the commit which break this tomorrow :)

[2022-01-22 19:26] Aaron1011 commented on #66151
We might want to consider enabling the array checks only for calls made in 2021 crates. This could be accomplished by ensuring that `mem::uninitialized` and `mem::zeroed` are always instantiated on the current crate when called with an invalid type (e.g. generics sharing will never apply), and then checking the crate edition during codegen of the intrinsic.

This should hopefully cause much less b

[2022-01-22 19:32] m-ou-se commented on #82775
If we stabilize this as `std::assert_matches!()`, then we'll break a few crates. See https://github.com/rust-lang/rust/issues/82913.

[code]

@rust-lang/libs-api How should we continue?

[2022-01-22 19:51] ahmedriza commented on #93200
Thank you very much @Aaron1011. Unfortunately the code itself is non-public inside corporate repo.

[2022-01-22 20:09] m-ou-se commented on #82775
cc'ing the macro resolution expert: @petrochenkov. maybe you have any ideas?

[2022-01-22 20:11] camelid commented on #91374
I'd personally prefer that we make the sidebar collapse upon navigating to a new page. I find it unintuitive that it stays open, and every time I navigate, I have to close it manually because it covers the page.

[2022-01-22 20:18] BoxyUwU commented on #93182
I think this ICE is the same as what was mentioned in the description of #86580

[2022-01-22 20:38] ibraheemdev commented on #93210
@rustbot claim

[2022-01-22 20:44] jsha commented on #91374
The intent is that it should not cover the page. I thought we fixed that.

[2022-01-22 21:19] hniksic opened #93215 "Compiler spends all available memory when large array is initialized with lazy_static"
I tried this code:

[code]

I expected it to compile successfully.

Instead, the compiler spent all availabel RAM and swap, and I had to kill it. From `top`:

[code]

### Meta

`rustc --version --verbose`:
[code]

</details>

[2022-01-22 21:59] WiredSound commented on #93209
I believe I'm encountering the same issue compiling `tide` on nightly 1.60.0.

[code]
<details>
<summary>Backtrace</summary>

[code]
</details>

[2022-01-22 22:10] #32489 closed

[2022-01-22 22:10] #92971 closed

[2022-01-22 22:10] #32490 closed

[2022-01-22 22:11] steffahn opened #93216 "Please bring back the paintbrush icon, or an equivalent!"
It seems as if #92629 has removed the theme picker from rustdoc. Both the way to change themes as well as any indication of the fact that changing themes is possible in the first place is hidden behind a setting page that many users will probably not even use at all.

My initial experience with rustdoc and mdbook, back over 1 year ago, was quite positive _**because**_ of the easy option to customi

[2022-01-22 22:14] mk12 commented on #90752
@apiraino The example I gave in my first comment now behaves as expected on the Rust playground with 1.58.1 stable. I'm fairly sure this solves the original Fuchsia bug, but it's difficult to reproduce that because a workaround was used at the time and that code has changed a lot since.

[2022-01-22 22:50] cuviper commented on #81513
It seems that `<T as Pointee>::Metadata` is always invariant in `T` -- is that expected?

For example, these two constructs seem like they should be equivalent, but the latter fails: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=53cc88139d3c1f7570ec00240830dfab)

[code]

[code]

The `Metadata` is just `()` here, since `&str` is sized, but it also fails if yo

[2022-01-22 22:57] camelid commented on #91374
Oops, I forgot that part is fixed. In that case, it still shrinks the rest of the page and adds noise.

[2022-01-22 23:14] willcrichton commented on #88791
One simple solution is to strip leading whitespace from the highlighted regions. There's still a lot of yellow, but it's better.

<img width="991" alt="Screen Shot 2022-01-22 at 3 10 59 PM" src="https://user-images.githubusercontent.com/663326/150658377-8f66d871-5938-448e-a777-edac5553c91d.png">

[2022-01-23 00:31] teknoman117 commented on #92944
I got a notification that you mentioned my issue. Considering that initially I was trying to build from a 64-bit Gentoo installation, I wonder if this is a problem with trying to build a 32-bit toolchain in a 64-bit environment. I didn't try a 64-bit ubuntu container, only a 32-bit one, and only the most recent LTS (20.04) at that. I'm going to try the other combinations.

[2022-01-23 00:48] dwrensha commented on #93209
I'm seeing a similar error in [capnproto-rust](https://github.com/capnproto/capnproto-rust), which does not use any unstable features:
<details>
<summary> error with backtrace</summary>
[code]
</details>

[2022-01-23 01:32] briansmith commented on #93127
Regarding how much is done publicly vs. privately, I frankly don't think it matters, because anybody looking to exploit whatever issues are found has already found them, and they're better at finding issues than I am.

[2022-01-23 01:39] tisonkun commented on #93209
ditto when compile tonic

<details>
<summary> error with backtrace</summary>

[code]

</details>

[2022-01-23 01:49] vdmklchv opened #93223 "Can't compile massa_consensus"
`Compiling massa_consensus v0.1.0 (/root/nodes/massa/massa-consensus)
warning: an associated function with this name may be added to the standard library in the future
   --> massa-consensus/src/pos.rs:523:37
    |
523 |         let bits_u8_len = n_entries.div_ceil(&u8::BITS) as usize;
    |                                     ^^^^^^^^
    |
    = note: `#[warn(unstable_name_collisions)]` on by de

[2022-01-23 02:34] saethlin commented on #93223
Encountered the same problem when trying to fuzz a crate:
[code]

[2022-01-23 03:05] camelid commented on #88791
Hmm, but what about multiline strings?

What about just highlighting the function name (and _maybe_ the `(` and `)`) and showing the arguments without highlighting?

[2022-01-23 03:41] compiler-errors commented on #93199
I believe this behavior is expected.

In the working example `sp` is coerced from `&mut T` to `&T` by autoref.
In contrast, for `fp`, `Iterator::cloned` only takes iterators of `&T`, not iterators of things that coerce into `&T`.

[2022-01-23 03:43] camelid commented on #91759
If we do end up doing this, I think we should still keep anchors for headings in impl docs. Just a couple days ago I used those to split up some docs into sections.

[2022-01-23 03:52] mjdr opened #93224 "rustc_apfloat: Panic in Double::mul_add_r"
I tried this code and get a panic:

[code]

### Meta

Commit: master 17d29dcdce9b9e838635eb0adefd9b8b1588410b

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-01-23 04:02] mark-i-m commented on #69426
Regarding the unchecked constructor of `ErrorReported` in #93222...

[2022-01-23 04:10] compiler-errors commented on #92954
I understand the issue here, and have a solution but it might not be optimal.

@rustbot claim

[2022-01-23 04:28] eddyb commented on #69426
I wrote that but now I believe it's unnecessary. Nothing I saw in that PR even *requires* the unchecked constructor, short of `references_error`.

[2022-01-23 04:32] petertodd commented on #81513
Rust really needs a way to opt-in to bivariance in this case. Maybe for associates types that are constrained to be 'static?

On January 23, 2022 12:51:03 AM GMT+02:00, Josh Stone ***@***.***> wrote:

[2022-01-23 04:35] eddyb commented on #69426
To make it more accessible, I'm replicating https://github.com/rust-lang/rust/pull/93222#discussion_r790217359 here:

TL;DR: there is now a `quiet` flag inside the diagnostic machinery that silences *everything*, including load-bearing `delay_span_bug`s, and it's really easy to turn on.

Progress on `ErrorReported` cannot be made until that change is reverted.

[2022-01-23 04:40] eddyb commented on #69426
Random bikeshed for `ErrorReported`'s name if we take `delay_span_bug` into account: `Doomed`(`Compilation`).

[2022-01-23 04:42] Manishearth commented on #69426
I'm also looking at how it's used and ... that code should absolutely not be re-typechecking source, there should be better ways to get the information it needs. @GuillaumeGomez please talk to the compiler team and figure out how to best get the information you need there.

@eddyb The feature where this is used is unstable and behind a flag in large part due to the rustdoc team being quite wary of

[2022-01-23 04:53] saethlin commented on #93215
In fairness to rustc, that array is 14.9 GB. If you only have 8 GB of memory, you'll never be able to run this program even if you do manage to compile it.

And if you _do_ have enough memory to get through whatever's going on here, it looks to me like the incremental compilation system isn't prepared to handle this:
[code]
(this is a local build because I want debug symbols)

All that said, I fee

[2022-01-23 04:54] eddyb commented on #93224
Can you reproduce with LLVM's APFloat? Might even be able to trigger it by getting LLVM to constant-fold FMA (assuming they have as many checks as we do).

[2022-01-23 04:57] Animeshz commented on #93197
Okay, so the area of problem is shorten down, and it exactly happens when there's a Result unwrapping [at here](https://github.com/elkowar/eww/blob/8336bd04d2c7fe301645bb883b140c6415e87556/crates/eww/src/script_var_handler.rs#L147-L149), i.e.:

[code]

[2022-01-23 05:07] eddyb commented on #93215
So I believe what you have here is a very large `static` that's *mostly* uninitialized (except for presumably the `Once` in it?).
I forget the current implementation of `InitMask`, but if it's one bit per byte, the 14.9GiB `static` will require a 1.86GiB `InitMask`.

We could maybe reduce the cost of some of that tracking, but it's still not great overall.

Your executable would likely also need t

[2022-01-23 05:11] eddyb commented on #93211
Do you happen to have access to any german-language Windows 10 machines? I'm curious if this localization is new in Windows 11, or pre-existing.

[2022-01-23 05:20] saethlin commented on #93215
Ah, the allocations are all happening along a code path that calls `copy_op`. So I suspect there's somehow a copy happening in the MIR of this array? And... a lot of copies??? (I clearly don't understand much of MIR). The `Size` being passed to `InitMask::grow` when they're created makes sense.

[2022-01-23 05:30] Animeshz commented on #93197
This however works fine:

[code]

[2022-01-23 05:31] willcrichton commented on #88791
True, this doesn't handle multiline strings.

And I tried not highlighting arguments, but for single-line call sites, it looked weird. If I saw `foo.bar("baz")` it seemed more natural for `("baz")` to be highlighted, since it is part of the example function call. And it would be strange to have different highlighting behavior for single-line and multi-line call sites.

[2022-01-23 05:50] gyakovlev opened #93228 "The futex facility returned an unexpected error code."
Gentoo users and developers report rustc failing periodically with this error:
`The futex facility returned an unexpected error code.`

example:
[code]

happens to different crates, randomly, at different times.
not clearly reproducible and not clear what triggers it.

most often seen on our tinderbox ( package build testing machine) with random packages.
happens with user-build `rustc` but also w

[2022-01-23 07:53] jsha opened #93230 "rustdoc: brighten/darken link colors based on background color"
The readability of text depends in part on its contrast relative to the background. For instance, in the light theme:

![image](https://user-images.githubusercontent.com/220205/150669465-e0b56194-fbe6-4c70-8bfd-8d10eb3d18c7.png)

![image](https://user-images.githubusercontent.com/220205/150669467-2ffafbe6-934f-447e-b195-da1d82754e48.png)

![image](https://user-images.githubusercontent.com/220205/1

[2022-01-23 08:10] jsha commented on #93216
Hi @steffahn! Thanks for the detailed feedback. For additional context, these changes are also largely motivated by:

- #59829
- #59845
- #59840

The overall theme is that a lot of visual clutter harms readability - particularly for readers with dyslexia, and also particularly for new users. The paintbrush icon is one of the things I have heard the most complaints about - it occupied an enormously

[2022-01-23 08:24] jsha commented on #88791
I like the idea of just highlighting the item name. I'd actually like the scraped examples to use the same visual language as the non-scraped examples. Consistency helps people learn.

Proposal: In all documentation examples, we should emphasize the name of the item being documented. Perhaps by bolding it?

Also, if we want to apply highlighting to the line numbers, we should avoid yellow - which

[2022-01-23 08:51] steffahn commented on #93216
No, I am not installing a browser extension just because rustdoc decides to make its theme setting unworkable without an extension that would fix it! And extensions aren't even a solution for all mobile browsers, or help when switching devices.

Browser extensions can be great for websites of stubborn companies that regularly decide to kill user experience for whatever reason nobody asked for, nob

[2022-01-23 08:53] runiq commented on #88791
I think I'd prefer this. Some additional options that could maybe help:

- Highlight the arguments with a very low opacity setting.
- Highlight the line numbers additionally.

[2022-01-23 08:53] safinaskar commented on #90957
"produce a clear warning if any of the above suggestions are not heeded" in RFC seems to contain typo

[2022-01-23 09:00] lqd commented on #93209
These are duplicates of #93161 and are already fixed on master, but not available on nightly yet. They will be fixed in the next nightly which will contain #93165.

The most recent 2 nightlies have this issue:
- "nightly-2022-01-23" on rustup: `rustc 1.60.0-nightly (bfe156467 2022-01-22)`
- "nightly-2022-01-22" on rustup: `rustc 1.60.0-nightly (17d29dcdc 2022-01-21)`.

We've checked yesterday that

[2022-01-23 09:00] #93209 closed

[2022-01-23 09:04] steffahn commented on #93216
For the record, I like the changes to the setting menu a lot. Also all the other recent appearance related changes are pretty decent. #93097 is a great change, too, and your addition to make the theme setting more understandable (im the same PR that removed the paint brush, I think) when not in "use system theme node" is highly logical and just makes sense. Just, I don't see _any reason_ against a

[2022-01-23 09:06] lqd commented on #93223
These are expected to be duplicates of #93161 and are already fixed on master, but not available on nightly yet. They will be fixed in the next nightly which will contain #93165, so I'll close this issue as a duplicate.

The most recent 2 nightlies have this issue:
- "nightly-2022-01-23" on rustup: `rustc 1.60.0-nightly (bfe156467 2022-01-22)`
- "nightly-2022-01-22" on rustup: `rustc 1.60.0-nightl

[2022-01-23 09:06] #93223 closed

[2022-01-23 09:37] lqd commented on #93197
An MCVE of this issue would be super helpful.

@rustbot label +E-needs-mcve

@rustbot ping icebreakers-cleanup-crew

[2022-01-23 09:42] oli-obk commented on #93215
Yea, there are a few extra copies of values happening that we could probably avoid, but we always need at least two at some point during CTFE.

It may help to implement a "deinit source on move" scheme. Basically CTFE treats `Operand::Move` and `Operand::Copy` the same.

[2022-01-23 09:45] GuillaumeGomez commented on #69426
I opened a discussion on [zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/get.20method.20information.20without.20emitting.20errors). I'd really prefer to have an alternative (if there is one) before the PR is merged.

[2022-01-23 10:05] tjschonborn opened #93232 "Nightly (2022-01-22) error with Rocket 0.5.0-rc.1"
When trying to build my rocket application using the nightly channel I receive an internal compiler error. Since the error asked me to make an issue here I am :)

This is my first bug report so please let me know if anything needs to be improved!

### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary

[2022-01-23 10:45] Animeshz commented on #93197
Here we go: [unwrap-ice-repro.zip](https://github.com/rust-lang/rust/files/7920267/unwrap-ice-repro.zip)

[2022-01-23 11:23] m1guelperez commented on #93211
@eddyb I have a laptop from work which runs Windows 10 Enterprise, Version 21H1.

The cm/s output is the same, with **Dokumente und Einstellungen** as junction instead of **Documents and settings**

[2022-01-23 11:33] Thomasdezeeuw commented on #65275
I'll to revive this discussion. For Mio we currently have our own version of `unix::net::SocketAddr`, but we really like to move to the std's version before releasing v1 (https://github.com/tokio-rs/mio/issues/1527). We've already been through the process of incorrectly assuming the layout of the IP `SocketAddr` type, see https://github.com/tokio-rs/mio/issues/1386 and https://github.com/rust-lang

[2022-01-23 11:36] ceigel commented on #40787
I have tried to find a solution that somewhat works for this. My first observation is that running rustc -g src/hello.rs produces the correct symbols and the program is debuggable. With cargo, my workaround is to add these lines to Cargo.toml:

Running gdb with the executable from deps (gdb target/debug/deps/hello-0471cd3202c032d7) shows this output signifying that the symbols are correctly found:

[2022-01-23 11:53] hkratz commented on #93211
Weird, this is on my Windows 10 laptop:
[code]
It might depend on the system language used for installation. I think we should just disable the assert, if `C:\Documents and settings\` does not exist.

[2022-01-23 12:00] m-ou-se commented on #65275
Unfortunately, we can't just make those `new` and `from_parts` functions public, since they include types from `libc` in the interface, which is a private dependency of std. Some discussion starting here: https://github.com/rust-lang/rust/pull/65255#issuecomment-543169553

Would something like a `SocketAddr::from_path(&Path)` suffice? (Similar to `SocketAddr::from_abstract_namespace`.)

[2022-01-23 12:00] rkuhn opened #93233 "`clippy::return_self_not_must_use` is overreaching"
Using 1.59.0-beta.3, the following illustrates the point:

[code]

I can see how a method that takes `&self` and produces `Self` may be misused (although I don’t think that is compelling enough to warrant a default lint), but the above method is not susceptible to programmer mistakes, thanks to Rust’s affine type system. If you deem this worthy of a fix, I may try my hand at it.

[2022-01-23 12:11] matthiaskrgr commented on #93233
@Manishearth  can you move this to the clippy repo? Thanks!

[2022-01-23 12:17] rkuhn commented on #93233
Oops, sorry for putting it into the wrong place!

[2022-01-23 12:18] YangKeao commented on #91449
It seems that the LLVM doesn't do this optimization. For example, the following two `c` codes will also have the different result:

[code]

[code]

The first one will generate llvm-ir:

[code]

While the second one will generate `llvm-ir`:

[code]

And the second one will get a shorter assembly code, which is unsurprising, as the `load` and `sext` will become `sextload`, and result in `MOVSX64rm8`

[2022-01-23 12:29] #75861 closed

[2022-01-23 12:29] #93060 closed

[2022-01-23 12:29] #93074 closed

[2022-01-23 12:43] Thomasdezeeuw commented on #65275
I understand we don't want to expose `libc` type.

That would be a nice start. If we can also have `SocketAddr::from_ip(net::SocketAddr)` (maybe with IPv4/v6 methods as well). Then I think all we need is `AF_VSOCK`, but do that later.

Note that socket2 already has all these methods/`From` impls for its [`SocketAddr`](https://docs.rs/socket2/latest/socket2/struct.SockAddr.html) type.

[2022-01-23 13:06] lqd commented on #93232
Thanks for opening an issue!

It doesn't look like the given example builds regardless of the ICE, but I was able to reproduce the issue with a minimal `rocket` example:

[code]

This is a duplicate of #93161, is already fixed on master, but not available on nightly yet. It will be fixed in the next nightly which will contain #93165.

The 2 most recent nightlies have this issue:
- "nightly-2022-01

[2022-01-23 13:06] #93232 closed

[2022-01-23 13:20] klensy commented on #63631
Still an issue, https://godbolt.org/z/sKWPx7bon 1.60.0-nightly (17d29dcdc 2022-01-21) example for u64 type

[code]

[code]

[2022-01-23 13:27] m-ou-se commented on #65275
So you want to be able to use `unix::net::SocketAddr` also for IP socket addresses? Mio currently uses separate types for IP and Unix addresses, right?

[2022-01-23 13:30] m-ou-se commented on #65275
Adding `unix::net::SocketAddr::from_path` and `unix::net::SocketAddr::as_path` seems fine to me. Feel free send a PR for those. We could then kick off an FCP for stabilization together with https://github.com/rust-lang/rust/issues/85410 quickly afterwards.

Extending `unix::net::SocketAddr` for non-unix addresses might be reasonable, but would require a bit more discussion.

[2022-01-23 13:33] lilasta opened #93235 "Tracking Issue for `const_nonnull_new`"
Feature gate: `#![feature(const_nonnull_new)]`

This is a tracking issue for implementing `NonNull::new`.

### Public API

[code]

### Steps / History

- [x] Implementation: #93236
- [x] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions
- [x] Quasi-blocked on https://github.com/rust-lang/rust/issues/74939

[2022-01-23 13:46] m1guelperez commented on #93211
@hkratz Interesting, but yes I think you are right, that it depends on the system language used for installation.
Could I take this issue as my first one?

[2022-01-23 14:21] eddyb commented on #93215
It's likely something like `(Once, MaybeUninit<Mutex<[[T; N]; M]>>)` - so the big array is in the same allocation, but that's not the thing being allocated and copied around, merely an uninitialized field of it.

The `InitMask` doesn't *have to* be that big, if the uninitialized data is a suffix of the allocation, but managing `InitMask` in the presence of clever encodings isn't easy. Supporting o

[2022-01-23 14:34] eddyb commented on #93211
Wow, looks like this was added almost 6 years ago, in #31630, and not touched since.

I'm surprised nobody ran into this before, seems like it would be an issue with any localized Windows.
Then again, the way I've seen Windows get localized is after-the-fact, in a way that's easy to toggle, and I don't really understand how that could create anything as global as `C:\Documents and Settings`.

(Ano

[2022-01-23 14:50] the8472 commented on #93211
We can also try creating one if needed. At least CI has admin permissions.

[2022-01-23 14:53] fredlahde opened #93237 "ICE / Segfault when returning deep function compositions"
This issue is tightly bound to [this PR (93082)](https://github.com/rust-lang/rust/pull/93082), which aims to add the ability to return  `impl Fn() -> impl Trait` from a function.

I played around with it, and got the idea to test out if there is a limit to how deep we can nest those functions (since the PR also enables `impl Fn() -> impl Fn() -> impl Trait`). It quickly noticed a segfault from `r

[2022-01-23 15:17] yoshuawuyts commented on #90964
I've followed up on this question internally at Microsoft, and we would prefer to have a `try_as_handle` method but preferably have it return `Option`, not `Result`.

[2022-01-23 15:26] m1guelperez commented on #93211
I attached my Windows version. This should mean it is not an OEM version as far as I know.
![winversion](https://user-images.githubusercontent.com/35203373/150685141-7af97b54-3258-493e-8786-9b3b1364ceb7.jpg)

Do you mean manually creating a junction called ```C:\Documents and Settings```?
I guess that would be possible but I am not _sure_ if this is a good solution since you need admin rights whic

[2022-01-23 15:26] iduanyingjie opened #93238 "error: internal compiler error: compiler/rustc_mir_transform/src/generator.rs:755:13: Broken MIR: generator contains type ..."
### Code

[https://github.com/tyrchen/geektime-rust/tree/master/05_thumbor](url)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-23 15:37] #93033 closed

[2022-01-23 15:38] Thomasdezeeuw commented on #65275
Yes, but it would nice to easily convert from OS address storage to a Rust type address. But that can become future work.

👍  Will send a pr. What do you think about `SocketAddr::unix` and `SocketAddr::as_unix` to match the `AF_UNIX` constant?

[2022-01-23 15:39] nikic commented on #63631
On the LLVM side, one of the problems here is that this does not optimize: https://llvm.godbolt.org/z/d8KP7rqKe

The pointer is not captured before the call, and the pointer is readonly at the call, so this would be safe. But LLVM currently doesn't distinguish between a capture before and at the call.

[2022-01-23 15:45] RalfJung commented on #93149
Fixed by https://github.com/rust-lang/rust/pull/93165

[2022-01-23 15:45] #93149 closed

[2022-01-23 15:51] lqd commented on #93238
Thanks for opening an issue!

This is a duplicate of #93161, is already fixed on master, but not available on nightly yet. It will be fixed in the next nightly which will contain #93165.

The 2 most recent nightlies have this issue:
- "nightly-2022-01-23" on rustup: `rustc 1.60.0-nightly (bfe156467 2022-01-22)`
- "nightly-2022-01-22" on rustup: `rustc 1.60.0-nightly (17d29dcdc 2022-01-21)`.

I've

[2022-01-23 15:51] #93238 closed

[2022-01-23 15:56] m-ou-se commented on #65275
`from_abstract_namespace` and `as_abstract_namespace` also use `AF_UNIX`, so I don't think that'd be a good name.

[2022-01-23 16:03] Manishearth commented on #93233
@matthiaskrgr no longer on core, I don't have admin powers anymore

@Mark-Simulacrum ?

[2022-01-23 16:06] Thomasdezeeuw commented on #65275
Should those be folder into `SocketAddr::unix` then? Because I copied the implementation from socket2, which supports abstract namespaces as well.

[2022-01-23 16:08] ChrisDenton commented on #93211
I think the best option would be for the test to create a symlink (and/or juncture point) itself, set the permissions on that and then try to read the link. That way the test will run independently of whether a specific directory exists or not.

However, I don't think we currently have any code for setting permissions on Windows so that would need to be written by someone.

[2022-01-23 16:08] notriddle commented on #93216
To be clear, I made that addon because I already considered themes on `file://` URL unusable, paintbrush button or not, because Firefox treats *every single HTML file* as its own origin with its own theme. The addon is the only way to really fix this problem in local documentation, because it’s caused by the browser sandbox.

It fixes the need to reload the page at the end. I guess this isn’t a bi

[2022-01-23 16:10] WaffleLapkin commented on #93237
Note that this issue is not actually related to #93082, since you can reach the same segfault on stable. Here is a MRE:
[code]
(this generates a file `nested_rpit.rs` that segfaults the compiler)

[2022-01-23 16:14] Thomasdezeeuw commented on #65275
Implementation pr: https://github.com/rust-lang/rust/pull/93239.

[2022-01-23 16:26] m-ou-se commented on #92137
cc @rust-lang/libs-api @rust-lang/project-edition-2021

We have a few weeks left before the next beta branches off, so we have time for an FCP without delaying this to a later Rust version.

Summary: `unreachable!()` turns out to be broken in a similar way as `panic` and `assert` were in Rust 2015 and Rust 2018: `unreachable!("{}")` worked 'fine'. This was missed, because this isn't the case for `

[2022-01-23 16:29] fredlahde commented on #93237
Interestingly, the MRE from @WaffleLapkin only segfaults on stable (1.58.1) but not on nightly (rustc 1.60.0-nightly (bfe156467 2022-01-22)) https://dpaste.com/4AQ2Q3GE6

[2022-01-23 16:34] m1guelperez commented on #93211
I also had that idea in mind. But wouldn't we then have to execute the test itself with admin rights? When the test case set permissions itself?

Because I am not sure if windows allows to run code, which changes permissions, in non admin mode.

But if the requirement for compiler tests to have admin rights, then this shouldn't be a problem.

[2022-01-23 16:49] WaffleLapkin commented on #93237
For nightly you just need a higher `n`, like `n = 1500`

[2022-01-23 16:49] saethlin commented on #93215
OP's example is insufficiently minimized. A build of this program peaks at 33.6 GB:
[code]

[2022-01-23 16:52] steffahn commented on #93216
@notriddle FYI, I was not intending to discredit the add-on. I understand its use for file URLs in Firefox. I don’t currently need an add-on; I’m not experiencing any problems – even on file URLs – in Google Chrome. Also, on second thought, a settings sync add-on is fairly orthogonal to this issue anyways. If I can install an add-on, I can probably also set an appropriate system theme. My main poi

[2022-01-23 17:05] steffahn opened #93240 "Rustdoc new crate filter location visually unpolished"
I took a few notes while looking at nightly rustc docs:

![Screenshot_20220123_165956](https://user-images.githubusercontent.com/3986214/150689173-01c4bf56-b4a1-4ffd-9e4e-7812e30c9ae6.png)

@rustbot label T-rustdoc, C-bug, C-enhancement, A-rustdoc-ui

The sans serif vs. serif is clearly a bug. That’s looking terrible.

The location being in a place that moves horizontally is suboptimal; changing t

[2022-01-23 17:06] hniksic commented on #93215
@saethlin

I do have more than 8 GiB of memory, but rustc was spending 100+ GiB, which exceeds array size by far. And even if it didn't, I would hope to be able to allocate large arrays without the compiler having to reproduce the allocation. I often compile programs locally and then deploy them on servers with much more RAM, more CPU cores, etc.

@eddyb

I neglected to note in the issue that I am

[2022-01-23 17:21] jix opened #93242 "ICE for async block containing match on empty slice and wildcard"
### Code

[code]
[playground (nightly)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d2f764cf5c6eb3d5268985e2909830a0)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[compiler/rustc_mir_build/src/build/matches/mod.rs:1825](https://github.com/rust-lang/rust/blob/1.58.1/compiler/rustc_mir_build/src/build/matches/mod.rs#L1825)

<details><summary>

[2022-01-23 17:22] cfredric commented on #93013
Could be related. I haven't looked at the stack trace in your report, but based on your report, I tried to reproduce this on my other computer, and found that it didn't reproduce (with the same stable compiler). So it seems there's something related to local state involved here.

[2022-01-23 17:26] ChrisDenton commented on #93211
You can set permissions on ones you created because the user will own them by default. So this shouldn't require admin rights.

Hm, perhaps we could temporarily skip that part of the test when the directory isn't found, and add a "FIXME" comment saying someone needs to write a fallback implementation? Though I'd ask @the8472 if that's ok as a temporary measure?

[2022-01-23 17:29] kaimast commented on #93209
Thanks!

[2022-01-23 17:38] Mark-Simulacrum commented on #93215
It seems like replacing the [InitMask](https://github.com/rust-lang/rust/blob/master/compiler/rustc_middle/src/mir/interpret/allocation.rs#L572) (which is basically a BitSet, not sure why we have a distinct impl of it for MIR allocations?) with something like the recently-added [IntervalSet](https://github.com/rust-lang/rust/blob/master/compiler/rustc_index/src/interval.rs) may make sense -- presu

[2022-01-23 17:42] the8472 commented on #93211
The main concern would be that the next CI runner update might silently break this if microsoft decides to not created it on newer windows versions. So it's a tradeoff between running the tests on some non-english machines vs. having this particular case reliably covered in CI.

To have our cake and eat it too we could make the test mandatory in CI but optional on local machines, e.g by checking t

[2022-01-23 18:10] compiler-errors commented on #93242
Interesting. Slightly minimized, seems not to do with `async` and instead to do with being the return value of a closure.

[code]

[2022-01-23 18:13] m1guelperez commented on #93211
Do you mean _something_ like that?
[code]

[2022-01-23 18:26] the8472 commented on #93211
Kind of, but I meant:

* if the CI var exists then always run the assert
* if it does not then first check if `Documents and settings` doesn't exist and only then skip the assert

[2022-01-23 18:41] m1guelperez commented on #93211
[code]

Okay, then something like that this should to the job?

[2022-01-23 18:47] compiler-errors commented on #93242
So this definitely has to do with the fact that we only capture the "second" length field of the slice fat-pointer.

I'll see if I can come up with a fix!
@rustbot claim

[2022-01-23 18:53] the8472 commented on #93211
Roughly, the details can be discussed in PR review.

[2022-01-23 18:57] fredlahde commented on #93237
@rustbot label: -I-ICE +I-crash

[2022-01-23 19:00] is8ac commented on #73298
I encountered a different trigger for what I am guessing is the same underlying bug. Error message is ~identical.

To work around, do one of:
- Have `baz()` return an array instead of a `Vec`.
- Replace `K + 0` with `K`.

[code]

rustc --version --verbose:
[code]

[2022-01-23 19:03] m1guelperez commented on #93211
So I can create my first PR? :)

[2022-01-23 19:04] the8472 commented on #93211
Yes, you don't need to ask for permission for that. At worst there'll be some reason it can't be accepted.

[2022-01-23 19:13] m1guelperez commented on #93211
@bors -claim

[2022-01-23 19:15] m1guelperez commented on #93211
@rustbot claim

[2022-01-23 19:23] compiler-errors commented on #93242
Actually not sure if I'm familiar enough with the pattern match code in MIR to come up with a good fix.

@rustbot release-assignment

[2022-01-23 19:43] scuzzycheese opened #93246 "Broken MIR: generator contains type &mut Body in MIR"
`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-01-23 20:07] compiler-errors commented on #93246
@eholk perhaps this is related to #91032?

[2022-01-23 20:08] the8472 commented on #93240
Should this be a dropdown at all? It seems like something that could be a search operator, at least if we had some sort of auto-suggest. E.g. type `in:rustc_` in the search bar and it'll offer available creates.

[2022-01-23 20:15] scuzzycheese commented on #93246
Possible root cause is the whiskey I'm drinking.

[2022-01-23 20:26] Timmmm commented on #74895
I ran into this issue too. It's definitely not clear that `readonly()` will be `false` if any user/group/other write bit is set. As @Firstyear said that's just wrong, so it should at least be documented.

[code]

Even accounting for the fact that it can't easily check if you are in the relevant group, sometimes having group membership and group write permission is not enough. E.g. to delete a file

[2022-01-23 20:38] joachimm opened #93247 "Ice on build after weird character fix."
I got the below error when building locally,

### Code

I haven't been able to minimize the code, in fact I cannot repeat the error despite making a git commit of the exact code when the error was occurring. If you think the code would help with investigating I can supply it, but I would rather not in its current state.

For context:
I had a compile issue due to junk characters that I accidentally

[2022-01-23 20:51] Vlad-Shcherbina commented on #64984
I don't remember what was the motivating use-case. I ran onto some `splice` problem in real code, and then minimized it to this example.

I don't think it's particularly important in practice for `splice` to generate efficient code here. But I think it could be a symptom that some compiler optimizations that should be applied are not (maybe some loops are not unrolled, or some constants are not pr

[2022-01-23 20:51] scottmcm commented on #75744
Note that if, as above, the common case here is `if ... some cond ... { break }` is the common case, then methods from bool wouldn't really help with that, since it doesn't necessarily want to return the *continue* immediately too.

You might consider experimenting with `try` blocks as an alternative to the method here.  Because `ControlFlow::break_if(... some cond ...)` can also be spelled `try {

[2022-01-23 21:01] lqd commented on #93246
Thanks for opening an issue!

This is a duplicate of #93161, is already fixed on master, but not available on nightly yet. It will be fixed in the next nightly which will contain #93165.

The 2 most recent nightlies have this issue:
- "nightly-2022-01-23" on rustup: `rustc 1.60.0-nightly (bfe156467 2022-01-22)`
- "nightly-2022-01-22" on rustup: `rustc 1.60.0-nightly (17d29dcdc 2022-01-21)`.

I've