[2015-02-28 06:49] goffrie commented on #22679
This is a panic in the `regex_macros` plugin, not a `rustc` bug, so this bug report belongs there. However, panicking in a plugin shouldn't cause us to emit the "bug in rustc" message..

[2015-02-28 06:56] sfackler opened #22890 "std::slice::bytes::copy_memory and std::io::copy take their arguments in different orders"
`std::slice::bytes::copy_memory` takes the destination first (like `memcpy` does), while `std::io::copy` takes the source first.

cc @aturon

[2015-02-28 06:57] sfackler commented on #22890
Nominating for backcompat-libs, needs-decision

[2015-02-28 07:01] alexcrichton commented on #22890
Other APIs to consider are `std::fs::{copy, rename}` as well (which currently agree with `io::copy` and disagree with `bytes::copy_memory`)

[2015-02-28 07:38] pnkfelix commented on #22531
nominating, P-backcompat-lang.  Suggest 1.0 polish.

[2015-02-28 07:39] pnkfelix commented on #22531
I'm going to actually add the tag and milestone myself, in anticipation of @nrc's triage service...

[2015-02-28 08:24] mdinger commented on #19332
This is a dup of https://github.com/rust-lang/rust/issues/17058 which was closed as a dup of the less specific https://github.com/rust-lang/rust/issues/14466

[2015-02-28 10:50] rprichard opened #22891 "Seemingly inefficient code generated to forward a parameter to a function"
The generated code for passing arguments larger than a machine word looks inefficient.

Test case:

[code]

On x86_64-unknown-linux-gnu, compiling with `rustc test.rs -O -C no-stack-check --crate-type dylib --emit asm`, I see this code for `foo`:

[code]

`foo` receives the address of the `&str` in `%rdi`.  It copies it into a new stack location for each call, then passes the address of that locat

[2015-02-28 11:02] #20978 closed

[2015-02-28 11:19] dotdash commented on #22891
I'm currently working on a PR that makes use of LLVM's `byval` attribute. That would at least make the code a bit shorter because the address of the copy is implicitly passed because it's a fixed offset from the stack pointer. With that, `foo` is translated to:

[code]

And some other improvements also happen, I'll detail them with the PR, once I get the last few bugs fixed.

In a later step, we c

[2015-02-28 11:40] nikomatsakis commented on #21074
Right, not a bug.

[2015-02-28 11:42] nikomatsakis commented on #22486
This is not clearly an inconsistency. It depends on how you view enums. In particular, at least under some of the "virtual struct" proposals, enums were kind of "shorthand" for something like:

[code]

in which case the current behavior seems perfectly consistent.

[2015-02-28 11:43] nikomatsakis commented on #22492
We have to figure out who is going to implement this.

cc @Aatch @alexcrichton @brson @huonw -- you guys seem like likely candidates and/or had strong opinions on the RFC thread, are any of you interested?

[2015-02-28 11:44] rprichard commented on #22891
Good to know.  Does dropping `byval` mean that the value is passed by-reference?

[2015-02-28 11:46] nikomatsakis commented on #22716
Personally I'm inclined to keep things simple and just use `usize` here. In particular, to do otherwise would require basically adding an associated `Index` type to the `Iterator` trait, because we must have some way for generic wrappers like `Map` to reflect the index type of the things they are iterating over.

[2015-02-28 11:46] dotdash commented on #22891
Since the `byval` attribute replaces the calls to `memcpy` that we currently manually emit, yes, that would then completely remove the copy and make it a pass-by-reference.

[2015-02-28 11:47] nikomatsakis commented on #22779
The bug here is that the where clause is accepted in the impl when it is not present in the trait.

[2015-02-28 11:47] nikomatsakis commented on #22779
I think I know why this is the case. I think @jroesch and I planned to come back and fix this and totally forgot, in particular!

[2015-02-28 11:50] nikomatsakis commented on #22716
(The fact that zipping with `0..` provides an easy way to use other kinds of integers if you prefer is nice, though.)

[2015-02-28 12:30] devyn opened #22892 "Invalid inline assembly is silently discarded"
Minimal testcase:

[code]

`rustc --version`:

[code]

`rustc` output:

[code]

(i.e., nothing)

Resulting objdump on x86_64-unknown-linux-gnu:

[code]

Unless I'm missing something, I should either get an error, or I should see "out %al, %dx" somewhere in there, but instead, absolutely nothing happens.

[2015-02-28 13:21] rprichard opened #22894 "ICE: const expr(8: &*"") of type &'static str has size 8 instead of 16"
Test case:

    #[allow(dead_code)]
    static X: &'static str = &*"";
    fn main() {}

Output:

    $ RUST_BACKTRACE=1 rustc test.rs  -O
    @ref8 = internal unnamed_addr constant %str_slice { i8* getelementptr inbounds ([0 x i8]* @str954, i32 0, i32 0), i64 0 }
    { i8*, i8* } undef
    error: internal compiler error: const expr(8: &*"") of type &'static str has size 8 instead of 16
    note:

[2015-02-28 13:32] #22629 closed

[2015-02-28 13:32] #22828 closed

[2015-02-28 13:36] dotdash commented on #22894
@eddyb is that related to your recent changes?

[2015-02-28 13:44] huonw commented on #15728
cc https://github.com/rust-lang/rust/issues/17316

[2015-02-28 13:55] rprichard opened #22897 "ICE: cat_expr Errd from array of unconstrained type -- { []; }"
Test case:

    fn main() { []; }

Output:

    $ RUST_BACKTRACE=1 rustc test.rs
    test.rs:1:13: 1:15 error: internal compiler error: cat_expr Errd
    test.rs:1 fn main() { []; }
                          ^~
    note: the compiler unexpectedly panicked. this is a bug.
    note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-reports
    note:

[2015-02-28 13:56] edwardw commented on #22886
I think @nikomatsakis comment from #22077 also applies here. Quote:

[2015-02-28 14:04] nagisa commented on #22805
Duplicate of https://github.com/rust-lang/rust/issues/20579. Also see https://github.com/rust-lang/rust/pull/17317

[2015-02-28 14:09] nagisa commented on #22840
We don’t necessarily want to restrict ourselves to the terrible pthread. We might just go ahead and just use syscalls directly sometime later, which is impossible if we start exposing pthread handles now.

[2015-02-28 14:12] eddyb commented on #22894
@dotdash dereferencing `&Unsized ` in constants never worked, but I made it show up outside the functions as well (giving @Gankro some trouble).
The solution would be to make dereferencing `&Unsized` and referencing `Unsized` noops.

[2015-02-28 14:17] mahkoh commented on #22840
Instead you restrict the user to the terrible std::thread?

[2015-02-28 14:19] huonw commented on #22840
What functionality do you need/want?

[2015-02-28 14:30] lahwran commented on #22398
looks like it wasn't.

[2015-02-28 14:45] nwin commented on #18419
I don’t think that producing arbitrary or invalid html is a good idea. This could easily backfire if one would decide to include some more sophisticated documentation on crates.io or elsewhere. I’m just saying <script>. I’m actually a bit shocked about the commonmark spec…

[2015-02-28 14:46] bejar37 opened #22900 "Rust Book broken editor configuration link"
it seems like #22365 should fix this, but it's generating a link to "CONFIGS.html" instead of "CONFIGS.md"

[2015-02-28 15:19] huonw commented on #18419
Even if rustdoc protected against this specific instance, I wouldn't rely on it being trustworthy to avoid XSS (etc.) in the face of a malicious attacker, meaning docs should always be served on a credential-less domain.

[2015-02-28 15:20] klutzy commented on #22432
My minimal case:

[code]

[2015-02-28 15:21] Ap0ph1s commented on #21239
Works here now

[2015-02-28 15:32] brson opened #22902 "rustdoc's for str are unclear"
As reported https://www.reddit.com/r/rust/comments/2xggd2/where_are_the_docs_for_str/

"I'd like to create a program that works with strings.

However, I could not find any documentation that described what functions I could call on str or string. Example:

http://doc.rust-lang.org/std/str/

The rust documentation for str defines Structs, Enums, Traits and 3 Functions.

So... I'm lost. This isn't

[2015-02-28 15:54] tov commented on #22886
Yeah, the idea that you could return a value of type `&'a Box<usize>` for any `'a` is clearly nonsense. But I’m not sure that’s all there is to it:

[code]

[2015-02-28 15:57] nagisa commented on #22902
I got hit by this so often too until I learnt that there’s a link to the primitive by going to the front page, because primitives don’t appear in search results.

[2015-02-28 16:18] mahkoh commented on #22840
That's irrelevant.

[2015-02-28 16:18] #17637 closed

[2015-02-28 16:18] #22122 closed

[2015-02-28 16:19] #22881 closed

[2015-02-28 16:20] dotdash commented on #15953
This happens because in the `interior` case there's a call to the drop glue which triggers `SROA` to split the aggregate value. It's not reassembled to a memcpy, but the asm that's generated for both variants is pretty much the same. The differences in the IR should disappear once zeroing is gone.

[2015-02-28 16:23] dotdash commented on #19571
This no longer fails for me with `rustc 1.0.0-dev (48aeaba93 2015-02-28) (built 2015-02-28)`.

[2015-02-28 16:23] #19571 closed

[2015-02-28 16:25] dotdash commented on #16660
We're successfully building with 3.6 now.

[2015-02-28 16:25] #16660 closed

[2015-02-28 16:46] dotdash commented on #21275
`170c4399e614fe599c3d41306b3429ca8b3b68c6` doesn't seem to be present in the repo when I use the given clone command.

I suspect this is the same issue as #22346 which is fixed by now. Can you confirm that this is fixed?

[2015-02-28 17:06] trishume opened #22905 "Rust Book Guessing Game Refers To Incorrect Option Type"
The guessing game section of the Rust book has the line:
[code]

but multiple places nearby refer to unwrapping it with `.ok()` to produce an `Option`, which is never actually done in the code examples. It seems someone updated the code to directly use the `Result<u32,_>` and didn't update the surrounding text and the type error message.

This should be an easy fix but at the moment I'm a Rust new

[2015-02-28 17:25] dotdash commented on #21006
This compiles fine with `rustc 1.0.0-dev (48aeaba93 2015-02-28) (built 2015-02-28)`

[2015-02-28 17:25] #21006 closed

[2015-02-28 18:29] #22805 closed

[2015-02-28 18:31] dotdash commented on #21512
We're building against 3.6 by now.

[2015-02-28 18:31] #21512 closed

[2015-02-28 18:35] dotdash commented on #18831
This compiles successfully using `rustc 1.0.0-dev (48aeaba93 2015-02-28) (built 2015-02-28)`

[2015-02-28 18:35] #18831 closed

[2015-02-28 18:47] alexcrichton commented on #20579
cc @steveklabnik, could this move to the rust-lang/rfcs repo? (feature request)

[2015-02-28 18:51] #20579 closed

[2015-02-28 19:19] vks commented on #22716
Then I would honestly rather remove `enumerate` than having a crippled version.

[2015-02-28 19:25] lahwran commented on #16795
Android on api 21 is broken, it'd be cool to get that tested regularly. It'd also be good to get a mac-for-android build going, because that's broken as well.

[2015-02-28 19:47] dotdash commented on #22316
I just bootstrapped with both clang-3.5 and clang-3.6. Can you confirm that this has been fixed?

[2015-02-28 21:06] #21475 closed

[2015-02-28 21:18] djmally commented on #22905
I'll take a look into this. I'm a bit of a Rust newbie myself, but this seems like a pretty easy fix and I do have the tools available.

[2015-02-28 21:54] zofrex commented on #22874
I've made an attempt at removing as much code that doesn't affect the outcome as possible:

[code]

[code]

[2015-02-28 22:44] djmally commented on #22905
Submitted a PR for this as #22911. Found another problem with this part of the guide, but I'll make a separate issue for it.

[2015-02-28 22:51] japaric opened #22912 "Associated types lets you expose private types in public signatures (?)"
### STR

[code]

AFAIK, you can't put private types in "public" items (public as in marked with `pub`). `Iterator::next` is *not* explicitly marked with `pub`, but for all intent and purposes all the methods in a trait are public if the trait is public. So, I think the `impl Iterator for Public { type Item = Private; .. }` should be rejected by the privacy checker. (Or, I could be wrong and this i

[2015-02-28 23:16] nagisa commented on #3417
For this particular error currently have

[code]

which I believe is something this issue wanted to get. I think this can be closed. cc @steveklabnik

[2015-02-28 23:52] nagisa commented on #5172
The code in question now uses AsU64 and AsI64.

[2015-02-28 23:54] nagisa commented on #5477
[Relevant internals discussion](http://internals.rust-lang.org/t/forbid-unsigned-integer/752)

[2015-03-01 00:03] nagisa commented on #7756
This won’t work if the procfs is not mounted which can easily happen in a sandboxed environment. Not a satisfactory solution.

[2015-03-01 00:33] pornel opened #22914 "PhantomData is incomprehensible"
I need to give a Rust slice to a C API that will return an opaque handle (that actually contains a pointer to the slice), and the slice must outlive the handle.

`rustc` nicely suggested using `PhantomData` for this, but the description of phantom data (and its RFC) for me is so far removed from my mental model/terminology of the problem, that it [sounds like git man pages to me](http://git-man-pa

[2015-03-01 00:37] eddyb commented on #22501
I've rebased my branch and added the env var functionality - oh and I think I have an almost-perfect way to remove integer literal suffixes *everywhere*:
[code]

[2015-03-01 00:46] alexchandel opened #22915 "Invalid section names in Mach-O file on OS X w/ custom target spec"
Despite a valid target specification for `i686-unknown-plan9`, which is intended to produce a statically linked Mach-O,

[code]

I cannot even build libcore because rustc still tries to produce a Mach-O with invalid, ELF-like section names:

[code]

[2015-03-01 01:27] l0kod commented on #12137
This feature should be available even outside the process spawning (i.e. post-execution).

[2015-03-01 01:42] l0kod commented on #10463
It may be possible to replace most `Path` with a common trait to `Path` and `File` (e.g. [`AsIo`](https://github.com/rust-lang/rust/pull/21936#issuecomment-73378854)).
cc #21936

[2015-03-01 01:50] huonw commented on #22914
`PhantomData<T>` allows you to describe that a type acts as if it stores a value of type `T`, e.g. maybe one is having to use opaque pointers or otherwise disguise the fact that there is a `T` contained in the value, or need to have a lifetime without having an actual `&` reference to attach it to.  This is what is meant by "fake field": a `PhantomData` field doesn't actually store any data, but i

[2015-03-01 01:54] shepmaster commented on #22865
It's possible for a conflict to arise though - there's nothing that prevents your library **or any code that uses your library** from doing this:

[code]

Now the implementation of `Area` is ambiguous.

[2015-03-01 02:21] pornel commented on #22914
I see you've used lifetime as part of `PhantomData`'s type. In my code I've used `_marker: &'a std::marker::PhantomData<[u8]>` and got confusing error messages. That bit in the documentation would help a lot! (just saying `T` is very unhelpful)

[2015-03-01 02:55] devyn commented on #22892
LLVM IR appears to include the inline asm, so I'm guessing this is an LLVM bug:

[code]

I'll check to see what clang does.

[2015-03-01 03:00] devyn commented on #22892
C source:

[code]

clang LLVM IR (`clang -emit-llvm -S mintest.c`):

[code]

[2015-03-01 04:54] mdinger commented on #22914
The [rustbyexample](http://rustbyexample.com/generics/phantom.html) example seems relevant. A previous example was referenced at the [mozilla research blog](https://blog.mozilla.org/research/2014/06/23/static-checking-of-units-in-servo/) though I think rustbyexample is clearer. Note that the syntax of this example has changed recently. That `PhantomData` didn't used to be required.

If indeed what

[2015-03-01 04:58] djmally commented on #22550
I'd like to tackle this (and work on sorting out other modules in collections as well), but are there any particular method names that stick out in the link above? I combed through it and didn't find any, and all the sample code builds, albeit with warnings.

[2015-03-01 05:04] djmally commented on #22550
Also, very new to contributing to Rust here-- where do these pages live in the repo?

[2015-03-01 05:38] bjz commented on #16613
@brson Is this an endorsement of the change?

[2015-03-01 06:20] huonw commented on #22550
The top-level docs are the big `//!` comment section at the top of src/libstd/collections/mod.rs. The individual modules docs are in the various .rs files in libcollections and libstd/collections.

Feel free to ask here or on IRC (either #rust-internals or #rust-libs are appropriate channels) if you need any more help or advice! :)

[2015-03-01 06:25] Gankro commented on #22550
The issue was made in reference to the linked section referring to non-existent `set` and `take` methods (now `insert` and `remove`). Didn't do a detailed comb for anything else.

[2015-03-01 06:34] huonw commented on #22914
@mdinger `PhantomData` is designed as a low-level building block to enable certain types of unsafe code to be written safely. The relationship to phantom types (as used for dimensional analysis etc.) is the name (almost-coincidence) and the fact that the language doesn't allow type parameters to be left completely unused (meaning a phantom type has to be mentioned, e.g, in `PhantomData`, to let th

[2015-03-01 06:36] huonw commented on #22914
@pornel great that you've made progress!

[2015-03-01 06:59] alexcrichton commented on #22912
I agree, I think this may have just been accidentally overlooked when implementing associated types.

[2015-03-01 07:30] arielb1 opened #22918 "ICE: coherence failed to report ambiguity with recursive projection in type-contents and"
I was trying to do things with recursive associated types:

[code]

and got a strange trans coherence error:
[code]

[2015-03-01 07:36] arielb1 opened #22919 "Trans stack overflow ICE with infinite type generated by projections"
The following program
[code]

generates a trans-time stack overflow.

[2015-03-01 07:57] tbu- commented on #18419
@huonw It should still be addressed.

[2015-03-01 08:31] mdinger commented on #22914
Okay. The distinction between them is definitely unclear then too (in the docs).

[2015-03-01 08:59] #20467 closed

[2015-03-01 08:59] #22056 closed

[2015-03-01 09:36] vberger opened #22921 "Chaining `unwrap(..)` on temporaries raises a lifetime error"
Even if this example may look silly, it's the result of the simplification of a more complex structure.
There should be no reason for these constructs not to compile, should it ?
[code]

The full error message for the first construct does not really show what the problem might be:
[code]

[2015-03-01 10:58] huonw commented on #18419
I don't personally think `rustdoc` should be compulsorily opinionated about this aspect of markdown. There's use-cases for manually writing some HTML to get the docs to render exactly how an author wants, and if this stops a library's markdown docs being rendered to anything other than HTML it is the fault (and responsibility) of that library's author, not of our tooling (IMO, only way one might f

[2015-03-01 11:08] gaudecker commented on #20468
I ran into the same error.

[2015-03-01 11:17] tbu- commented on #18419
One more objection would be the backward-compatiblity Rust wants to achieve. Make a sensible restriction for some subsets of HTML (such as `<sub>`, `<sup>`, `<i>`) that can be represented by any reasonable presentation format, then extend later, rather than having an allow-all policy in place that cannot be changed so easily.

[2015-03-01 11:26] rprichard opened #22924 "Compiler fails to optimize out bounds checks on 32-bit x86 and ARM"
Test case:

[code]

The 32-bit x86 and ARM disassembly for `my_write` includes two checks of the slice length and a call to `panic_bounds_check`.  The bounds check is optimized away on x86_64.

Here's the x86 assembly:

[code]

LLVM bitcode:

[code]

Compiler version:

[code]

My ARM compiler is older -- 2015-02-18 or so.

[2015-03-01 11:33] huonw commented on #22915
So, to be clear, the problem here is specifically that rustc generates invalid data for creating mach-o object files?

[2015-03-01 11:34] rprichard commented on #22924
The problem goes away if I stick this at the start of my_write:
[code]

[2015-03-01 11:36] rprichard commented on #22891
@dotdash Does your PR also fix #22924?

[2015-03-01 11:42] huonw commented on #11115
Since this bug was filed, struct fields have switched from public by default to private by default, and, private types in public position have been outlawed, meaning (a) the external crate crate in @cmr's original example fails to compile before hitting linking errors (`f.x` is inaccessible) and (b) @eddyb's updated example also fails to compile with

[code]

Closing.

[2015-03-01 11:42] #11115 closed

[2015-03-01 12:29] hugoduncan opened #22926 "fs::DirEntry does not provide a relative path"
In some situations, e.g. copying a sub-tree, a relative path is required for an entry returned by `read_dir` or `walk_dir`.  Consider changing `path` to return a relative path, or adding a `rel_path` function to provide it if the current `path` semantics should be preserved.

The [`fs::DirEntry::path` function](http://doc.rust-lang.org/std/fs/struct.DirEntry.html#method.path) returns a full path,

[2015-03-01 12:46] leonardinius opened #22927 "Confusion regarding fmt.rs `{:.*}` syntax"
See IRC discussion starting from https://botbot.me/mozilla/rust/2015-03-01/?msg=33094439&page=16

---
tl;dr;

- See http://doc.rust-lang.org/std/fmt/index.html#argument-types
- It introduces `{:.*}` syntax without proper explanation what it is.
- It's confusing, some think it's regexp, other think (e.g. me) it's not
- It does not specify behavior and doesn't provide minimal samples.

It might be t

[2015-03-01 12:57] theemathas commented on #22927
Another documentation problem in fmt: How is width defined for unicode strings?

Current behavior: `println!("a{:5}b", "n͈̰̎")` outputs `an͈̰̎ b`

[2015-03-01 13:44] lifthrasiir commented on #21482
I'm currently working on two temporary but public branches:

- One branch that does not change the metadata format itself ([`compact-metadata`](https://github.com/lifthrasiir/rust/tree/compact-metadata))
- One branch that actively changes the metadata format ([`metadata-reform`](https://github.com/lifthrasiir/rust/tree/metadata-reform))

Any suggestions or patches would be appreciated.

[2015-03-01 14:26] erkinalp opened #22929 "install script fails: CFG_DESTDIR not set"
I am getting this error message while installing Rust nightly build(by executing the installer script from tarball without rustup):
`./install.sh: 781: ./install.sh: CFG_DESTDIR: parameter not set`

[2015-03-01 15:32] semarie commented on #22794
I currently take a look at reducing the toolchain needed when cross-building some libraries.
It should be possible to build several libs without any cross-linking, by forcing building `rlib` instead of `dylib` crates.

Using this method, under openbsd I am able to build `TARGET_CRATES` of dragonfly (libc, std, flate, arena, term, serialize, getopts, collections, test, rand, log, graphviz, core, rb

[2015-03-01 15:37] tomaka opened #22932 "panic!("{}") shouldn't compile"
I didn't find any duplicate issue, but this problem has probably been there for a long time.

- The code `panic!("{}", 7)` compiles and prints `thread <main> panicked at "7", ...`
- The code `panic!("{} {}", 7)` doesn't compile as an argument is missing
- The code `panic!("{}")` **does compile** and prints `thread <main> panicked at "{}", ...`

The last one doesn't detect potential mistakes, and i

[2015-03-01 15:53] semarie commented on #21889
Just a comment about "safety" in my previous comment: the race remains even if the platform is "safe".

For example for Linux, when reading the file `/proc/self/exe`, you know you read the good file. But here, you dereference the link to obtain a filename, and **some time after that** you read the file pointed by this filename.

[2015-03-01 16:00] MDCox commented on #22902
Sorry to complicate a straightforward issue, but the Primitive str docs list trait implementations (and relevant examples/explanations) that aren't listed in the std::str docs.  I include the link to `StrExt` and have a quick explanation of why it exists. My question is should I find a way to list those traits and examples in the std::str module as well, or include a link to the primitive (or both

[2015-03-01 16:08] michaelbeaumont opened #22933 "Compiler panic: "Path not fully resolved" when passing reference to impl function"
I'm getting a compiler error about a "path not fully resolved":

    thread 'rustc' panicked at 'path not fully resolved: PathResolution { base_def: DefTy(DefId { krate: 0, node: 204 }, false), last_private: LastMod(AllPublic), depth: 1 }'

I tried this code:

    fn is_whitespace(c: char) -> bool {
        c == ' ' || c == '\n'
    }

    fn consume_whitespace(&mut self) -> Parse<()> {
        //

[2015-03-01 16:13] carols10cents commented on #19005
Confirmed-- I can see `std::num::Float::abs` in the link posted in the description that goes to http://doc.rust-lang.org/std/?search=abs, so I think this should be closed since it's fixed already, @steveklabnik.

[2015-03-01 16:57] nagisa commented on #22902
`std::str` is a module and it should not contain any mention of implemented traits or anything like that. I’m honestly not sure whether we need to do anything else other than adding something like

to the module documentation.

cc @steveklabnik

P.S. no, rustdoc does not allow adding a list of implemented traits to the module page. You can’t implement traits for modules after all.

[2015-03-01 17:12] madmalik opened #22934 "unnecessary token "<-" in token definition"
[The LArrow](https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/token.rs#L132) is defined as a token, but serves no purpose in the language as far as i can tell.

Maybe an oversight?

[2015-03-01 17:13] kmcallister commented on #22934
Nominating P-backcompat-lang:

[code]

[2015-03-01 17:18] kmcallister commented on #22819
Do we need that ability here? It's only about interpolated `tt` matches.

[2015-03-01 17:18] nagisa commented on #22915
Interesting. This call to [get_metadata_section](https://github.com/rust-lang/rust/blob/157614249594f187f421cd97f928e64c5ab5c1fa/src/librustc/metadata/loader.rs#L528) is the relevant code.

[2015-03-01 17:38] kmcallister commented on #22814
My best plan at the moment is to change the parser so it never parses `MatchNt`s, and then do a separate pass to create them from `SubstNt Colon Ident` just before parsing a `macro_rules!` LHS. It's a hack for sure. Really, we should have a separate matcher-side token tree type, or some higher level AST for matchers.  But I don't want to make huge changes all over macro parsing and transcription.

[2015-03-01 18:31] dotdash commented on #14912
With the new LLVM version, that stack check gets removed out in an optimized build. Can we close this?

[code]

[2015-03-01 18:45] MDCox commented on #22902
Cool, sounds good.  Just wanted to make sure it was clear before I pushed a 2 line fix and got some strange stares.

[2015-03-01 18:47] nerdopoly commented on #22651
Does anyone know of a workaround for this?

[2015-03-01 18:54] nagisa commented on #22651
Do not `no_mangle` the main. use `#[main]` (to define C-like entry) and `#[start]` (to define barebones entry) attributes instead.

[2015-03-01 19:07] frewsxcv opened #22938 ""impl Clone for HashMap" appears twice in API documentation"
http://doc.rust-lang.org/std/collections/struct.HashMap.html

![screen shot 2015-03-01 at 2 06 43 pm](https://cloud.githubusercontent.com/assets/416575/6432359/39e8c60e-c01c-11e4-842e-595fc4f711ce.png)

[2015-03-01 19:10] alexcrichton commented on #14912
great, thanks @dotdash!

[2015-03-01 19:10] #14912 closed

[2015-03-01 19:21] amaneureka commented on #22932
Actually this is not the issue; If you go through the docs (http://doc.rust-lang.org/std/macro.panic!.html)
"The multi-argument form of this macro panics with a string and has the format! syntax for building a string."
So, In the code ```panic!("{}", 7)``` you are calling multi-argument form of this macro. Same for ```panic!("{} {}", 7)``` Here Format! syntax will be followed, And that is why the

[2015-03-01 19:50] blaenk commented on #20468
Note that if you contain types in the fn signature that are from your own crate, you can provide an explicit implementation yourself as a workaround. That doesn't solve this in the general case though, such as in the example in the first post, since neither &str nor String are from your own crate.

[2015-03-01 20:03] tomaka commented on #22932
I know why it compiles, but it's still an issue.

[2015-03-01 20:28] nagisa commented on #22938
Dupe of https://github.com/rust-lang/rust/issues/21474

[2015-03-01 20:28] nagisa commented on #22025
Possibly a dupe of https://github.com/rust-lang/rust/issues/21474

[2015-03-01 20:28] #22938 closed

[2015-03-01 20:37] eddyb commented on #22501
This is working out! I have some stats (cc @huonw @aturon @alexcrichton):
* same type before and after suffix removal: 1120 lines
* harmless fallback to i32: 302 lines
* remaining (dangerous to remove) suffixes: 627 lines

How I did the diffs:
[code]

[2015-03-01 20:40] SSheldon commented on #22854
Fixed in #22901

[2015-03-01 20:40] #22854 closed

[2015-03-01 21:07] mdinger commented on #22025
Perhaps but this doesn't use globs as far as I can tell which is the requirement for that other bug.

[2015-03-01 21:10] nagisa commented on #22025
Ah ritgh, one is `core::num::Float` and another is `std::num::Float`. Two distinct traits.

[2015-03-01 21:17] jxcl commented on #21568
@steveklabnik The PR that addresses this ticket has been merged. Should this issue be closed now?

[2015-03-01 21:22] mdinger commented on #22025
I'm not sure what can be done here then. Since `core` is in general not recommended to be used, maybe external linking (from outside of `core`) to it should be opt-in, not opt out. Then these links would only appear where an author decides it's useful.

[2015-03-01 21:31] steveklabnik commented on #21568
Yes, thanks.

[2015-03-01 21:31] #21568 closed

[2015-03-01 22:13] alexchandel commented on #22915
@huonw I think so, but I'm not sure where the section names (and segment names in Mach-O) get emitted. I intended `"llvm-target": "i686-apple-darwin"` and `"is_like_osx": true` to cause rustc to produce a Mach-O. Is the object format determined by rustc or by LLVM?

[2015-03-01 22:18] jxcl commented on #21575
@steveklabnik The PR for this issue has also been merged.

[2015-03-01 22:24] jxcl commented on #18787
@steveklabnik I'd like to write a section in Method Syntax detailing `self`, `&self` and `&mut self` a bit more, with explicit examples of when you would use each of them and that reinforces the idea that if you use `self` then ownership of `self` will be transferred into that scope and will be destroyed if not returned. Thoughts?

[2015-03-01 23:22] Manishearth opened #22942 "Broken SIMD run-make test"
Whenever I run `make all && make check-stage2` on a particular Linux machine, `x86_64-unknown-linux-gnu/test/run-make/simd-ffi-2-T-x86_64-unknown-linux-gnu-H-x86_64-unknown-linux-gnu.ok` fails:

[code]

[2015-03-02 00:17] steveklabnik commented on #18787
That'd be great.

[2015-03-02 00:38] rprichard commented on #22932
It'd be nice if we could remove the inconsistency between single-argument and multiple-argument `panic!` macros.  It's easy if we make single-argument `panic!` call `core::panicking::panic_fmt`, but that would add massive bloat to the `panic!` call sites.

This same issue came up in #22335, which tried to optimize write*! and print*! in the same way that `panic!` is already optimized.  After stumb

[2015-03-02 04:13] devyn commented on #22892
Okay, so I looked at this again today:

[code]

seems to work just fine. The relevant LLVM documentation is for struct [`llvm::InlineAsm::SubConstraintInfo`](http://llvm.org/docs/doxygen/html/structllvm_1_1InlineAsm_1_1SubConstraintInfo.html), field `Codes` where it specifies that the register name may come in braces, but doesn't really say anything more specific than that.

If Rust isn't receivin

[2015-03-02 04:49] ejjeong commented on #22398
It's not fixed yet.

[2015-03-02 05:33] liigo commented on #12842
Servo was expected to be run in Windows XP:
[2015-01-01] https://github.com/servo/servo/wiki/Mozlandia-Rust-In-Gecko#other-platforms
[2015-02-23] https://github.com/servo/servo/wiki/Meeting-2015-02-23#more-rust-in-gecko-discussion

[2015-03-02 05:38] nrc opened #22946 "test issue, please ignore"
triage: P-high  (testing)

[2015-03-02 05:42] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone

[2015-03-02 05:43] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone

[2015-03-02 05:46] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone 3

[2015-03-02 05:47] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone 4

[2015-03-02 05:49] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone 5

[2015-03-02 05:50] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone 6

[2015-03-02 05:53] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone 7

[2015-03-02 05:54] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone 7

[2015-03-02 05:58] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone 8

[2015-03-02 05:59] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone 9

[2015-03-02 06:00] nrc commented on #22946
triage: P-low (1.0) This should set the label and milestone 9

[2015-03-02 06:00] huonw commented on #22045
There is `std::sync::mpsc::SendError`, which is stable.

[2015-03-02 06:03] nrc commented on #22946
triage: P-high (1.0 beta)

[2015-03-02 06:03] #22946 closed

[2015-03-02 06:08] huonw commented on #22511
cc @aturon, @alexcrichton

# `std`

The only dubious implementation is the `#[derive(Clone)]` for [`std::thread::Thread`](https://github.com/rust-lang/rust/blob/157614249594f187f421cd97f928e64c5ab5c1fa/src/libstd/thread.rs#L452-L457). I (very vaguely) recall that there was some discussion about changing the internals of `Thread` to not have the `Arc` (I could very easily be misremembering). This m

[2015-03-02 06:22] huonw commented on #22511
### `collections`

All `#[derive]`s seem fine. Although there are a few cases of `Debug` not necessarily having the output we want, long term (e.g. `collections::string::FromUtf8Error` will print a whole raw `Vec<u8>` with the `[ , , , ]` syntax) but its not clear what guarantees we want to give about the precise output of `Debug` (not many, IMO).

[2015-03-02 06:31] huonw opened #22949 "Possible back-compat hazard from empty structs in std"
[code]

These are the `pub struct`s that have no data fields at all. Once stabilised these cannot ever have anything added to them, since they can currently be publicly constructed by just writing their name. We should make sure that this is the intended behaviour for each. (I'm sure many of those are not intending to be `#[stable]` for 1.0, so this is probably a fairly quick audit.)

cc @aturon

[2015-03-02 06:56] huonw commented on #22511
### `core`

Why is `core::fmt::Arguments` `Copy`? https://github.com/rust-lang/rust/blob/157614249594f187f421cd97f928e64c5ab5c1fa/src/libcore/fmt/mod.rs#L212-L233

`RangeFull` and `RangeTo` are `Copy` but `Range` and `RangeFrom` are not.

The `Ord`ering/`PartialOrd`ering of `Option` and `Result` is inconsistent (in the sense of `Option<T>` ≅ `Result<T, ()>`): `None < Some(_)`, but `Err(_) > Ok(_)`

[2015-03-02 07:02] huonw opened #22950 "Public struct fields do not (always) get "this node does not have a stability attribute" error"
[code]

compiles without any error.

Notably this isn't a regression from https://github.com/rust-lang/rust/pull/22803: I noticed it because `core::iter::Scan` has a public `state` field that has had no stability attribute from far before #22803. However, that PR did pick up some structs with missing stability attributes, I'm unsure of the exact circumstances when fields will get the errors or whe

[2015-03-02 07:09] huonw commented on #22511
### `core::iter`

All seems fine: they're essentially all just `#[derive(Clone)]`s.

(Although I did notice https://github.com/rust-lang/rust/issues/22950 in the process.)

[2015-03-02 07:10] #22443 closed

[2015-03-02 07:13] huonw opened #22953 "Destabilise the internals of `format_args!`"
https://github.com/rust-lang/rust/pull/22899 should mean that contents of `core::fmt::rt::v1` used by `format_args!` can probably be made `#[unstable]`.

cc @eddyb

[2015-03-02 07:17] huonw commented on #12842
To be clear, that discussion is not about running the servo rendering engine on windows xp (it doesn't run on any version of windows atm, aiui), but rather some components written in Rust to be incorporated into Gecko. The distinction is somewhat important because the components may be restricted enough to not use any of the major features XP is missing, meaning that reaching level of support need

[2015-03-02 07:45] snf opened #22955 "Compiler crash when casting from *mut c_void to *mut [u8]"
[code]

[code]

[code]

[2015-03-02 07:46] snf commented on #22955
$ rustc --version --verbose
rustc 1.0.0-nightly (890293655 2015-02-28) (built 2015-03-01)
binary: rustc
commit-hash: 890293655251c372ea99694c0c9f0795e2663286
commit-date: 2015-02-28
build-date: 2015-03-01
host: x86_64-unknown-linux-gnu
release: 1.0.0-nightly

[2015-03-02 08:17] reem commented on #6518
Visiting for triage. This is still a problem, but it's never happened to me.

[2015-03-02 08:21] reem commented on #14027
Visiting for triage.

You can always just stick `#[allow(unused_variable)]` on that function, it won't show up in the docs.

Personally, I think this is a special case and shouldn't be exempted, since you can can have exceptions to lints with `#[allow]`.

[2015-03-02 08:22] reem commented on #17166
Visiting for triage. Confirmed with @cmr on IRC that this is still a problem (no tests are run against an unoptimized build).

[2015-03-02 08:26] rschifflin opened #22957 "ICE when quasi-quoting ?Sized trait bound"
Looks like when using #![feature(quote)], invoking quote_item! with a type bounded by ?Sized throws an internal compiler error.

I tried this code:

[code]

I expected to see the same kind of output as the exact same code, but using the Sized bound:

[code]

But instead, the former ICE's and the latter compiles just fine.

## Meta
`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2015-03-02 08:26] pnkfelix commented on #6518
You can pass explicit timestamps to touch, at least the version on my machine.  So it seems like we could grab one timestamp at the outset of running make, and use that for all the stamps we generate.

[2015-03-02 08:32] vadimcn commented on #12842
FWIW, here's a list of APIs used by libstd, that are missing on Windows XP:

AcquireSRWLockExclusive
AcquireSRWLockShared
CancelIoEx
ReleaseSRWLockExclusive
ReleaseSRWLockShared
SetFileInformationByHandle
SetThreadStackGuarantee
SleepConditionVariableSRW
TryAcquireSRWLockExclusive
TryAcquireSRWLockShared
WakeAllConditionVariable
WakeConditionVariable

[2015-03-02 08:57] huonw commented on #14612
It's unclear to me if this is possible to implement to get exactly the same sort of API as `str`, since there element type is very generic, and so impls overlap, e.g.:

[code]

[2015-03-02 09:11] vadimcn commented on #9486
cc @Gankro, @huonw.

[2015-03-02 10:04] huonw commented on #2392
Updated the example @vks gives:

[code]

which now prints

[code]

It's nice that the note is there, but the text is suboptimal: `kitty.x` isn't a function.

[2015-03-02 10:16] #9486 closed

[2015-03-02 10:35] eddyb commented on #22953
:heart_eyes:

[2015-03-02 11:27] ZoomRmc opened #22962 "Borrow checker prohibits iterating over map-returned array"
I'm trying to iterate over a range, return an array and iterate over its elements.
I was going to iterate over returned values as ranges, but sadly I didn't even get to that part.

This doesn't work, but to me it looks like it should:
[code]

[code]

Tried it on alpha.2, today's nightly and playpen.

PS: ebfull on rust IRC channel kindly suggested a hack, which is using `.collect::<Vec<_>>()` on a

[2015-03-02 12:48] Manishearth opened #22964 "Do not error for unknown attributes at stage0"
Makes PRs like #21824 painful

[2015-03-02 13:36] jdm commented on #22955
Very similar to #22554, #21397, #19424.

[2015-03-02 14:04] mahkoh opened #22965 "ICE: Drop does not check trait bounds"
[code]
[code]

[2015-03-02 14:05] mahkoh commented on #22965
Note that
[code]
compiles without an error even if T is not Send.

[2015-03-02 14:59] nikomatsakis commented on #22886
On Sat, Feb 28, 2015 at 05:56:36AM -0800, Edward Wang wrote:

I'll try to make a PR for this, I've just been debating how hard core
to go. I will probably go for a complete ban, but I do know of some
use cases for sticking extra lifetimes on impls (not good ones).

[2015-03-02 15:00] nikomatsakis commented on #22886
@tov what version of rustc are you using? I don't expect that code to compile these days, because the `'a` in `Newtype` is unconstrained.

[2015-03-02 15:01] nikomatsakis commented on #22886
@tov see e.g. http://is.gd/6ALz11 (which yields a compilation error)

this changed as part of https://github.com/rust-lang/rfcs/blob/master/text/0738-variance.md

[2015-03-02 15:02] nikomatsakis commented on #22886
Also, if we change the example to constrain the `'a`, we start to see compilation errors that the method in the impl does not match the trait (as expected): http://is.gd/bNZzB5

[2015-03-02 15:02] nikomatsakis commented on #22912
On Sat, Feb 28, 2015 at 10:59:14PM -0800, Alex Crichton wrote:

Yes, that. There was language in the RFC describing trait item signatures and how they should
be treated, and I think we just failed to extend that to associated types.
Definitely a bug.

[2015-03-02 15:04] nikomatsakis commented on #22912
triage: P-backcompat-lang (1.0 beta)

[2015-03-02 15:44] mahkoh opened #22967 "Pointers can't opt into Send and Sync anymore"
Some days ago it was possible to
[code]
but now you have to
[code]
and then send a `(t,)`. For what purpose?

[2015-03-02 15:47] SimonSapin commented on #22511
Either `None < Some(_)` or `None > Some(_)` (similarly for `Result`) is arbitrary. Should they really implement `PartialOrd` at all?

[2015-03-02 15:49] pnkfelix commented on #22912
Note also that #22261 is still open.

[2015-03-02 15:52] yann-ledu opened #22968 "internal compiler error : index.end <= self.len() (built 2015-03-01)"
with rustc 1.0.0-nightly (157614249 2015-03-01) (built 2015-03-01)

[code]

[2015-03-02 16:40] alexchandel commented on #22829
Seems to be fixed.

[2015-03-02 16:40] #22829 closed

[2015-03-02 16:46] bluss commented on #22914
If it's just to make the compiler shut up, then it's a good indication that the old default was better (not needing PhantomData for most unused type parameters).

[2015-03-02 16:50] alexchandel commented on #22914
@pornel I sympathize. PhantomData and PhantomFn are Byzantine to me as well, and I'm hitting several issues in rlibc because of them.

[2015-03-02 16:50] bluss commented on #22716
itertools already has a generic `.enumerate_from(x)` (which is basically the same as zipping with `x..`), you could possibly import that into libcore. Specifying the starting point adds another degree of customization and an obvious place to specify the integer type. For a generic `.enumerate()` I would worry it's too confusing and nonobvious how to specify the integer type to use.

Standard .enum

[2015-03-02 17:08] aturon commented on #22501
@eddyb Just want to say, this is awesome :+1:

[2015-03-02 17:11] pornel commented on #22914
@bluss [That bit me](http://stackoverflow.com/questions/28000462/how-to-specify-that-method-argument-must-have-longer-lifetime-than-selfs-lifeti), because unused parameter did absolutely nothing, even when I used a parameter with the same name a method. I don't mind having a marker, I just needed to learn how to use it.

[2015-03-02 17:16] alexcrichton commented on #22962
This is actually working as intended due to the fact that the argument `x` in the `flat_map` closure only lives for the duration of that closure, but the `flat_map` operation requires it to live until the later call to `.count()`. This is normally where `.into_iter` would be recommended, but unfortunately fixed-size arrays do not implement `into_iter` (unlike `Vec`, for example).

Due to this work

[2015-03-02 17:16] #22962 closed

[2015-03-02 17:21] alexcrichton commented on #22949
Of those the only publicly exposed variants on the path to stabilization are:

[code]

Of these, most are actually intended to be empty structs, and there are only two which I would consider for modification:

[code]

I personally think it's ok for `fmt::Error` to remain the same, but I do think that `net::ParseError` needs to be made opaque (it also should be reexported!)

[2015-03-02 17:21] aturon commented on #22949
Thanks @huonw!

* The `marker` and `ops` cases are intended
* The `old_foo` cases don't matter
* The `rt` cases don't matter
* **The `WhateverError` cases *do* matter and should be fixed.

[2015-03-02 17:26] alexcrichton commented on #22511
Hm I feel like this was some other structure we may remove the `Arc` from. I think that this handle must fundamentally have an `Arc` as it's handed out to other threads for `park` and `unpark`. That being said we could also be more conservative for now!

I believe that we used to pass the structure by reference but we now pass it by value sometimes necessitating the `Copy` bound. I would also be f

[2015-03-02 17:34] aturon commented on #22949
triage: P-backcompat-libs (1.0 beta)

[2015-03-02 17:40] alexcrichton commented on #14375
This appears to have been fixed in more recent versions of LLVM (and the currently bundled one)

[2015-03-02 17:41] alexcrichton commented on #16837
I believe this has been fixed in the meantime:

[code]

[2015-03-02 17:41] #16837 closed

[2015-03-02 17:42] alexcrichton commented on #12449
This issue itself is not particularly actionable due to the lack of statistics about what sort of size increase we're looking at. This sounds like it's definitely something to keep in mind, but there's not a whole lot we can particularly do today so I'm going to close this.

[2015-03-02 17:42] #12449 closed

[2015-03-02 17:43] alexcrichton commented on #14287
cc @steveklabnik, can this move to the RFC repo? New features such as this should go through an RFC now.

[2015-03-02 18:32] GuillaumeGomez commented on #22926
So if I understand you well, when you call `walk_dir` on "./test/sub/", you want a `relative_path` function which returns:
 * "sub/file"
 * "sub/file2"
 * "sub/dir1"
 * ...

That's it ?

[2015-03-02 19:09] Hansyperman opened #22972 "internal compiler error: ident only path should have been covered already"
[code]

There are a few issues with the same error message, but they seem to have been fixed before my nightly  - and the way to cause it is also different

[2015-03-02 19:27] djmally commented on #22550
Changes incoming, as soon as I sort out a git issue. One other thing I noticed was that in the performance tables (http://doc.rust-lang.org/std/collections/#sequences), a number of methods are referenced that don't exist for certain collections, e.g. `LinkedList` doesn't implement `get`, `insert`, or `remove`, and `VecMap` doesn't implement `predecessor`, among other similar cases. Not really sure

[2015-03-02 19:31] kmcallister commented on #22967
This is expected behavior. You're meant to use [`Unique<T>`](http://doc.rust-lang.org/std/ptr/struct.Unique.html) or another wrapper that makes the ownership/borrowing explicit.

[2015-03-02 19:31] #22967 closed

[2015-03-02 19:34] mahkoh commented on #22967
The pointer is shared and synchronization happens in the c library. There is no wrapper for that so why can't the person who wraps the C library indicate that by making the pointer Send?

[2015-03-02 19:39] Gankro commented on #22550
I believe I have a quick one-liner above the table that says something to the affect of "actual methods may differ". Any methods that are missing are just "to implement".

[2015-03-02 19:39] kmcallister commented on #22967
So it doesn't own the C object, which means you'll need some wrapper type to make it safe — either with lifetimes or something else like refcounting.  You can `impl Send` on that.

[2015-03-02 19:39] maximih commented on #22122
Can someone explain why this was closed without changing the behaviour? Or am I missing something?
Thanks

[2015-03-02 19:41] mahkoh commented on #22967
I have all that, but to give the user access to the raw pointer for if they want to do things I haven't wrapped, the raw pointer has to be Send. Or I have to do funny things like sending `(T,)`.

[2015-03-02 19:43] mahkoh commented on #22967
This worked perfectly fine two weeks ago. Raw pointers were not Send but you could opt into Send when you knew that that's safe. There seems to be no reason to remove that feature.

[2015-03-02 19:45] kmcallister commented on #22967
For features like sound generic drop, the compiler needs to know which pointers are owning and which are borrowing.  We don't want to arbitrarily say that `*mut T` is owning for some `T` and borrowing for others.  That's a global decision for each `T`, but most types of objects can in fact be owned in some contexts and borrowed in others.

The non-funny version of this is your own newtype struct w

[2015-03-02 19:50] kmcallister commented on #22967
And [RFC 738](https://github.com/rust-lang/rfcs/blob/master/text/0738-variance.md).

[2015-03-02 19:55] djmally commented on #22550
I don't see anything in the section preceding the table, but I can add it in if it's not there.

[2015-03-02 20:11] ZoomRmc commented on #22962
Thanks for the clarification!
I think the documentation would benefit of bringing an attention to this detail in some way.

At the moment my code looks like this:
[code]
The idea is to get one big iterator to zip it to the other one.
Let's say the array elements were some big structs, wouldn't the collect().iter() bit hurt the performance?

[2015-03-02 20:44] kmcallister commented on #15778
Attributes don't come from anywhere. They're just nested key/value data that any part of the compiler can query by name.  There's no central registration of attributes.

Also, plugin loading happens after a full parse and before any syntax expansion. So I'm not sure why the order of a plugin and some attribute the plugin will later check would matter.

Can you give a specific example of something

[2015-03-02 21:28] Kimundi commented on #15778
Hm, it might be that since I opened this issue the plugin system changed in a way that makes this work. I'll have to check with the code that had this issue...

[2015-03-02 21:28] djmally commented on #18063
I'll take a look into this, if no one else is already.

[2015-03-02 21:29] Manishearth commented on #18063
Sounds good. @Gankro does this need an RfC?

[2015-03-02 21:37] carllerche commented on #16595
I submitted an RFC PR for this change: https://github.com/rust-lang/rfcs/pull/923

[2015-03-02 21:56] jroesch commented on #22779
@nikomatsakis I have a vague memory of us needing to loop back and take care of this. I don't have much free time, but I'm interested and will poke at this, should be simple enough to patch.

[2015-03-02 22:24] alexcrichton commented on #22122
@maximih some more details are in #22869, but the decision was that these sorts of detailed errors are not necessarily in the domain of the standard library. There is a cost overhead for capturing this sort of information which is not necessarily desired by all consumers of the API, so it's up to libraries to provide the extra contextual information where necessary.

[2015-03-02 22:26] alexcrichton commented on #22962
Yes in this case you may want to specialize the return value of `some_arr` function to either return a `Vec` directly or return your own custom iterator if performance is a concern.

[2015-03-02 22:28] alexcrichton commented on #22492
I can implement this.

[2015-03-02 22:31] aatxe commented on #22782
The beginning frames of the stacktrace may be useful to see how rustdoc is getting here.

[code]

[2015-03-02 22:33] huonw commented on #22949
Hm, if data-less `Error` structs matter, doesn't the same apply to the simple `Error` enums, since they can also be constructed externally? (`std::sync::mpsc::TryRecvError` is one such example, but maybe this specific example doesn't matter.)

[2015-03-02 22:36] nikomatsakis opened #22978 "defaulted traits ought to be have more restrictive coherence rules"
We initially had some rules that prevented explicit impls for defaulted traits for anything except for nominal types. In other words, if (in crate A) I have:

[code]

then it was illegal to do (in any crate) `struct SomeType { } impl Foo for (SomeType,) { }`. However, that seemed too strict, because one wants to be able to do things like `impl !Foo for *mut A { }`, and since (currently) positive a

[2015-03-02 22:36] nikomatsakis commented on #22978
Triage: P-backcompat-lang(1.0 Beta)

[2015-03-02 22:36] nikomatsakis commented on #22978
triage: P-backcompat-lang (1.0 Beta)

[2015-03-02 22:38] alexcrichton commented on #22949
I've personally tried to ensure that all errors which may contain contextual information to always have a private field to prevent construction, but in the case of errors like `TryRecvError` I don't believe that we'll ever have any error variants other than those listed, so I opted to make them public (to allow for easy comparison). It is something to worry about, however.

[2015-03-02 22:42] huonw commented on #22914
To be clear, it is just the use of 'unused' type parameters for dimensional analysis/tagging where the details of the precise `PhantomData` used aren't so important. It is *extremely* important for data structures building on `unsafe` (or otherwise not using their lifetime/type parameters directly internally) to get their `PhantomData` uses correct, as they are actually informing the compiler of i

[2015-03-02 23:05] alexcrichton commented on #22926
cc @steveklabnik, can you move this to the RFC repo?

[2015-03-02 23:16] galsondor commented on #22122
I understand that not all consumers require that the environment variable name be captured.  However, by not providing a simple method to identify the environment variable in error, I suspect many application administrators will be subjected errors missing this critical piece of information (because deadlines force compromises).

I was really hoping this would make it into v1.0 because adding the

[2015-03-02 23:17] phaylon opened #22981 "Mark outdated/archived documentation as such"
In a different language forum where Rust was discussed, I saw a link to ·[this outdated 0.6 manual](http://static.rust-lang.org/doc/0.6/tutorial-borrowed-ptr.html).

I'd propose that old documentation receives an out-of-date marker at the top (or at the floating version marker to the right). It might also help to make these non-findable via direct google search, but I'm unsure if this would be a c

[2015-03-02 23:17] Gankro commented on #18063
Uh, what are the traits called now?

[2015-03-02 23:23] djmally commented on #18063
That was going to be my next question, I think StrSlice is no longer a trait as of 1.0alpha

[2015-03-03 00:23] jroesch commented on #22779
So I looked into this and it seems that the bug is subtle as it only effects bounds that involve constraints where `'a : 'b` and `'b : 'a` (meaning 'a == 'b).

If we look at a reduced test case with just an added bound it is [rejected](http://is.gd/HKyxkW):
[code]

If we go back to a `trait` of the form above we can see the same kind of [soundness bug](http://is.gd/P0ISqs):
[code]

Though if we dr

[2015-03-03 00:29] huonw opened #22985 "Maybe Float::{is_positive, is_negative} should return false for 0's?"
Over the real numbers, one doesn't usually consider zero to be explicitly positive or negative (one has to qualify as "non-negative" or "non-positive" respectively to get those classes including zero), so it is a little strange to me that we include `0.0` in the former and `-0.0` in the latter.

However, floats are special (signed zero), so maybe the current behaviour is OK. I suppose the "real nu

[2015-03-03 00:31] huonw commented on #22985
Nominating, as we may wish to change these functions slightly. (E.g. C/C++ calls these functions [`signbit`](http://www.cplusplus.com/reference/cmath/signbit/), effectively, although the handling of NaN is different.)

[2015-03-03 00:32] jroesch commented on #22779
The error we do trigger when dropping the constraint is here: https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/compare_method.rs#L394. This code was slated to be removed once we delete ParamBounds.

@nikomatsakis it isn't clear to me why adding both `'a : 'b` and `'b : 'a` causes this not to be checked. I played with a couple other extraneous constraints on the implementatio

[2015-03-03 00:44] Manishearth commented on #22964
(I can mentor this, btw, but please ask first, I might have finished it since this is something we need)

[2015-03-03 00:48] Manishearth commented on #22985
Sounds like a gotcha that might happen, people could write code like:

[code]

I agree that renaming may be a solution here, something explicitly about the sign bit could avoid misuse.

If you needed this feature in a random language, what string would _you_ search for in the docs?

[2015-03-03 01:04] hugoduncan commented on #22926
@GuillaumeGomez If I call `walk_dir` on "./test/sub/" I would like the paths "file", "file2", "dir1" from your example (assuming the files are "./test/sub/file", etc).

[2015-03-03 01:11] aturon commented on #22949
@huonw

Hm, I *just* realized this was the case, from #22122. I wish this was less painful to fix :-/

[2015-03-03 01:12] aturon commented on #22122
FWIW, https://github.com/rust-lang/rust/issues/22949 talks more generally about the issue of forward-compatibility with situations like this. I think we should make the `enum` variants opaque to allow expansion with more information in the future.

[2015-03-03 01:26] rprichard commented on #22932
The same inconsistency also applies to `assert!`:
[code]

Currently the one-argument `assert!` just calls `panic!(concat!("assertion failed: ", stringify!($cond)))`, so fixing `panic!` would break `assert!` on this code:
[code]
Probably easy to fix.

[2015-03-03 03:19] huonw opened #22986 "Consider using `llvm.invariant.*` intrinsics for immutable memory"
Non-mutable memory that doesn't contain `UnsafeCell` can be marked `invariant`: http://llvm.org/docs/LangRef.html#llvm-invariant-start-intrinsic

http://llvm.org/docs/Frontend/PerformanceTips.html

[2015-03-03 03:32] huonw opened #22987 "Investigate activating the IRCE LLVM pass"
["Inductive range check elimination"](http://llvm.org/docs/doxygen/html/InductiveRangeCheckElimination_8cpp_source.html) may help remove bounds checks inside loops. That said, the extra compilation time required to run the pass may not be worth it (since our iterators work well).

http://llvm.org/docs/Frontend/PerformanceTips.html

[2015-03-03 05:01] alexchandel commented on #21823
I would expect no error, just no documentation. Does rustdoc produce anything for this?

[2015-03-03 05:16] frewsxcv commented on #18183
Despite it looking like a duplicate, #18956 looks like its fixed, yet this is still an issue with the latest rust:

[code]
[code]

[2015-03-03 05:37] Manishearth commented on #22964
The relevant code is [here](https://github.com/rust-lang/rust/blob/master/src/libsyntax/feature_gate.rs#L615). The `custom_attribute` gate should be within a `#[cfg(not(stage0))]` block.

[2015-03-03 05:54] edwardw commented on #22779
@jroesch, I think that we have `TraitPredicate` excess check built in [fulfill.rs#L326](https://github.com/rust-lang/rust/blob/master/src/librustc/middle/traits/fulfill.rs#L326), but do no such thing for `RegionOutlives` or `TypeOutlives` predicates, [fulfill.rs#L360](https://github.com/rust-lang/rust/blob/master/src/librustc/middle/traits/fulfill.rs#L360) and [fulfill.rs#L374](https://github.com/

[2015-03-03 06:30] jroesch commented on #22779
@edwardw so the weird thing about the code above is some excess bounds will cause it to trip and others won't. It probably has to do with early/late bound regions since I'm not sure what else would be causing that to trip.

I see what you are talking about now that I look, and it may be the fact that the predicates are attached to the inference context that is causing this problem. The above chunk

[2015-03-03 06:41] egmkang opened #22991 "all generic function's instance share ONE static variable??"
[code]

in this sample, `instance<f32>::ONCE` and `instance<f32>::ONCE` share one Once's instance.
how could this thing happen?
if this is a feature, what's difference between writing static variables outside?

[2015-03-03 06:51] lifthrasiir commented on #22991
I'm not sure if this is an actual bug or not (possibly a doc issue), but:

Only the reduced visibility.

[2015-03-03 07:16] alexcrichton commented on #22991
This is actually currently working as intended. Sub-items of functions do not have access to generic parameters, leading to this implementation. For example, this is invalid:

[code]

[2015-03-03 07:16] #22991 closed

[2015-03-03 07:28] Manishearth commented on #22964
This won't work. The correct fix is to use  `#![cfg_attr(stage0, feature(custom_attribute))]` on every crate

[2015-03-03 07:41] pnkfelix commented on #22949
I suppose both this and #22045 are both particular instances of a more general principle that structs with all pub fields are backward compatibility hazards, no?

[2015-03-03 07:49] pnkfelix commented on #6518
Or better still, grab a separate timestamp at each point that we invoke `rustc` and subsequently touch an associated stamp file.  This is probably the most robust approach.

[2015-03-03 07:54] laijs opened #22992 "Compile Bug: unexpected dereferenceable type"
When I was compiling the code of [What are Rust's exact auto-dereferencing rules?](http://stackoverflow.com/questions/28519997/what-are-rusts-exact-auto-dereferencing-rules), it resulted a bug.

The code:
[code]

And the rustc resulted:
[code]

[2015-03-03 08:34] pnkfelix commented on #11359
reopening: the code in question is still just guessing, AFAICT, and appears to be triggering an overflow (or underflow) panic on the branch with arithmetic overflow checking: http://buildbot.rust-lang.org/builders/auto-linux-32-opt/builds/3910/steps/test/logs/stdio

[2015-03-03 08:43] llogiq commented on #15594
This works out to:

                     SINGLE   DOUBLE    DIFF    SPANS (% of total max memory)
    TOTAL	3060044	3407032	346988	11,34%

[2015-03-03 08:46] huonw commented on #22950
As @alexcrichton points out in https://github.com/rust-lang/rust/pull/22952#issuecomment-76756946 this isn't a bug; I didn't realise that stability propagation literally just ignores `#[stable]`, meaning `core::iter::Scan::state` is `unstable` due to the `#[unstable]` on `core`. Closing.

[2015-03-03 08:46] #22950 closed

[2015-03-03 09:12] GuillaumeGomez commented on #22926
So just the item's name. Okay. I'll write a RFC for that then.

[2015-03-03 09:26] bjz commented on #22991
@alexcrichton Would it be possible for generic parameters to be available in sub-items in the future? It is very useful to have.

[2015-03-03 09:48] dotdash commented on #22986
As of now, it seems that those intrinsics are only used in the global opt pass (i.e. only useful for globals), and otherwise might just mess up alias/memory dependeny analysis.

[2015-03-03 10:43] #2743 closed

[2015-03-03 13:01] nikomatsakis commented on #10596
I've wound up fixing this kind of by accident as part of another patch.

[2015-03-03 13:02] nikomatsakis commented on #22279
I've wound up fixing this as part of another patch (partly due to what @jroesch was saying).

[2015-03-03 13:55] eddyb commented on #22991
@bjz Presumably associated `static` items could handle this - but it might be difficult to ensure multiple instantiations of the same associated `static`, with the same `impl` type parameters/`Self`, will always point to the same memory, even in sibling crates.

[2015-03-03 14:01] yann-ledu opened #22996 "Type inference for vector of functions"
[code]

[2015-03-03 14:18] #15778 closed

[2015-03-03 14:18] #22870 closed

[2015-03-03 14:18] #22912 closed

[2015-03-03 15:10] Munksgaard opened #22998 "`if let` should allow multiple patterns"
The following code is not allowed

[code]

Even though this is:

[code]

This feels like an oversight.

[2015-03-03 16:14] nagisa commented on #22985
isSignMinus(x) is true if and only if x has negative sign. isSignMinus applies to zeros and NaNs
as well.

– IEEE 754

To me it sounds like at least the behaviour of `is_negative` is correct.

[2015-03-03 16:32] kmcallister commented on #15778
I added a regression test for the original issue. Please open a new ticket if you find something that's still broken :)

[2015-03-03 16:33] kmcallister commented on #22998
This would go in the [RFCs repo](https://github.com/rust-lang/rfcs/).

[2015-03-03 16:33] #22998 closed

[2015-03-03 16:37] kmcallister commented on #22290
I'd say `fail="panic"` to import the current `panic!` as `fail!`.  This matches `extern crate "foo" as bar`. The quoted string is the external reference and the un-quoted one is the identifier you use in your program.

[2015-03-03 16:40] kmcallister commented on #21607
Duplicate of #22425.

[2015-03-03 16:40] #21607 closed

[2015-03-03 16:47] kmcallister commented on #20870
How about

[code]

Then `DebugCompare for f64` can give the numerical difference, `DebugCompare for Expr` can do an AST diff (???), etc.

[2015-03-03 16:52] kmcallister commented on #19700
This is unfortunate, but it's the [documented behavior](http://doc.rust-lang.org/book/macros.html#hygiene) of `macro_rules!` 1.0 and there is no time to fix it for Rust 1.0. Item/crate hygiene is one of the top priorities for macros two point oh.

See #22462 for a specific manifestation of this problem that I think we *can* mitigate in time.

[2015-03-03 16:52] #19700 closed

[2015-03-03 16:55] kmcallister commented on #19554
That whole section has been re-written. I linked the [complete list of fragment specifiers](http://doc.rust-lang.org/book/advanced-macros.html#syntactic-requirements) from the place where the "fragment specifier" concept is introduced.

[2015-03-03 16:55] #19554 closed

[2015-03-03 16:55] mahkoh commented on #22967
The RFCs you linked seem to be completely unrelated to Send and the PR that implemented this restriction only referred to the OIBIT RFC. In the OIBIT RFC it says:

[code]

How would a pure library trait in any way affect a language item such as the Drop trait?

[2015-03-03 16:59] kmcallister commented on #16771
This is mentioned [in the code](https://github.com/rust-lang/rust/blob/38e97b99a6b133cb4c621c68e75b28abc6c617c1/src/libsyntax/ext/deriving/generic/mod.rs#L872-L875):

[code]

I think this isn't a bug really. We're taking advantage of dead-code elimination to make some macros easier to write, which is pretty common.

[2015-03-03 16:59] #16771 closed

[2015-03-03 17:01] kmcallister commented on #16688
Updated code and error.

Is there a reason it's done this way? Can the cfg stripper treat `#[test]` as implying `#[cfg(test)]`, so we remove it in the cfg 1 phase?

[2015-03-03 17:03] kmcallister commented on #22967
This is not the appropriate place to discuss it further. Please submit an RFC if you would like to revert this quite intentional change to the language.

[2015-03-03 17:09] kmcallister commented on #15269
Yes, but it can be "re-borrowed" for function calls.  The `quote_*!` macros used to not do this properly but I fixed that in #16992.

If there's still an issue here, please open a new ticket with a self-contained example.

[2015-03-03 17:09] #15269 closed

[2015-03-03 17:15] kmcallister commented on #5846
The modernized example

[code]

gives me

[code]

which looks like #22819.

[2015-03-03 17:15] mbrubeck commented on #21232
If this doesn't become an error, it should at least be a warning.  Code like this is almost certainly a logic error of some kind, but currently compiles without error or warning:

[code]

[2015-03-03 17:18] pnkfelix commented on #21232
triage: P-backcompat-lang, 1.0 beta

(but do see comments above noting that its not the end of the world if we did not fix this.)

[2015-03-03 17:18] kmcallister commented on #15198
This is an example of the problem that [RFC 550](https://github.com/rust-lang/rfcs/blob/master/text/0550-macro-future-proofing.md) was meant to prevent, which indeed it does:

[code]

The ambiguity between struct initializers and blocks is a long-standing wart of the expression grammar.  It's probably responsible for other bugs, but it should not cause macro breakage like this again thanks to RFC

[2015-03-03 17:18] #15198 closed

[2015-03-03 17:19] pnkfelix commented on #21232
triage: P-backcompat-lang (1.0 beta)

just trying to accommodate highfive...

[2015-03-03 17:21] kmcallister commented on #10413
Sigh, I guess this is another problem with using the not-actually-delimiters `<` and `>` for type parameters.  If they were real delimiters you could do

    `(< $($x:tt)* >) => ...`

but this will (I think) try to consume the terminating `>` as another `$x:tt` match.

There is probably a way to fix that with a recursive macro that eats one `tt` at a time, and checks for `>` first, but bleh.

[2015-03-03 17:23] alexcrichton commented on #22991
@bjz possibly, but unfortunately it would be a backwards-incompatible change. I believe there are functions in the standard library at least which require that generic functions all get the same `static` (not an instance-per-instantiation)

[2015-03-03 17:23] kmcallister commented on #3190
Closing this as wishlist / RFC.  It's something to consider alongside the "item macro sugar" that was proposed (and rejected) for RFC 453.

[2015-03-03 17:23] #3190 closed

[2015-03-03 17:45] apasel422 commented on #20175
This does appear to be related to the fact that the impls are for references. The `IntoIterator` impls for `&BTreeSet` and `&mut BTreeSet` (and the corresponding ones for the other collection types) have the same problem.

[2015-03-03 17:49] edwardxie commented on #22996
Box need prototype.
[code]
If that's all you need..

[2015-03-03 17:58] vberger opened #22999 "assertion failed: !self.has_escaping_regions()"
I was playing around and hit this:
[code]
causing
[code]
running with `RUST_BACKTRACE=1` simply dies from `SIGILL` without outputting anything.
[code]
I can reproduce it on the playpen as well, which is a more recent version.

[2015-03-03 18:58] kmcallister commented on #20516
Maybe the libsyntax counterpart to lang items would be "lang macros".

[code]

This opens the intriguing possibility of moving more sugar, such as `for` loops, into the standard library. That could have negative effects on error reporting though; it certainly would until #20923 is fixed.

Any sugar defined through lang macros could be redefined by `#![no_std]` crates, in a manner similar to GHC's

[2015-03-03 19:06] maxsnew commented on #19700
I don't understand why this issue is closed. You're acknowledging it as something that should be fixed so shouldn't it be left open?

[2015-03-03 19:34] kmcallister commented on #19700
This aspect of `macro_rules!` can't be fixed in a backwards-compatible way, and it can't be fixed in time for Rust 1.0, when the [backwards-compatibility guarantees](http://blog.rust-lang.org/2014/10/30/Stability.html) kick in.

We will at some point introduce a new macro system, first in Rust nightlies, then in some stable Rust 1.x.  This would happen through the [RFC process](https://github.com/

[2015-03-03 19:52] #6518 closed

[2015-03-03 20:04] freebroccolo commented on #19792
cc me

[2015-03-03 20:31] carllerche opened #23003 "Stack overflow when bounding FnOnce with Send + 'static"
I'm not exactly sure what is happening, but I thought I would file an issue. I am attempting to update syncbox (https://github.com/carllerche/syncbox). I have to add 'static bounds to types that were previously only bound by Send, however it seems to be causing stack overflow errors in rustc.

I could not make a simple repro, but here is the code in a single file:

https://gist.github.com/carllerc

[2015-03-03 20:47] pnkfelix commented on #22020
@aturon does a `-Z` flag count for "Option to forcibly enable overflow checking" ?

[2015-03-03 20:57] #15140 closed

[2015-03-03 21:06] carllerche commented on #23003
mr. @alexcrichton has used creduce to reduce the case:

[code]

[2015-03-03 21:19] nikomatsakis commented on #23003
This was caused by fixing https://github.com/rust-lang/rust/issues/22246 (PR https://github.com/rust-lang/rust/pull/22436 in particular). I have to think on what's the best fix here.

[2015-03-03 21:21] nikomatsakis commented on #23003
Just FYI, you can workaround the problem by removing the `A:Async

[2015-03-03 21:21] inrustwetrust commented on #18902
I don't think this one is related to the lexical scope of borrows. I believe it's due to how the borrow checker handles mutable borrows that are made through an already borrowed reference. This appears to place a mutable borrow restriction on the reference *itself*, not just the owned value.

For example:
[code]
The above code result in "cannot assign to `foo_ref` because it is borrowed" on the la

[2015-03-03 21:57] nikomatsakis commented on #23003
So adding a cache is probably the way to fix this crash. What worries me is that the set of types might be ever-expanding. We could add a recursion depth to counter that but it feels like it might rule out potentially legitimate types? I guess they can probably always be phrased differently. Let me try to work up a concrete example of what I mean.

[2015-03-03 22:04] kmcallister opened #23005 "Warn for unused macro metavariables"

[2015-03-03 22:12] kmcallister opened #23007 "Rename one of dead-code and unreachable-code lints"

[2015-03-03 22:18] kmcallister opened #23008 "static_assert silently passes all consts"
No unused attribute warning, either.

[code]

[2015-03-03 22:46] pmachata opened #23009 "unexpected panic in pattern matching"
This is the code that ICEs, as minimal as I could make it.

[code]

[code]

[code]

[2015-03-03 23:03] kmcallister commented on #23008
A-codegen because this checking happens in trans.

[2015-03-03 23:30] nikomatsakis commented on #23003
Reduced more:

[code]

[2015-03-03 23:41] nagisa commented on #23008
cc @huonw because you implemented https://github.com/rust-lang/rust/pull/22960

[2015-03-04 00:26] nikomatsakis commented on #23003
This variant generates (at least in my version, which contains a fix for the above issue), an overflow error:

[code]

The reason is because `Complete<()>::Cancel`, normalized, is `Receipt<Complete<Option<()>>>`, which in turn expands out to `Receipt<Complete<Option<Option<()>>>>` and so forth.

I am not sure if this overflow error is entirely legitimate -- by which I mean, it falls out of the rul

[2015-03-04 01:04] ColonelJ commented on #12842
Hi, thanks for the list, that's quite useful to have if that's all of them.

Personally I'd like to see a full Rust core toolchain working on XP, since that's the best way to know that things are working reasonably; we can just run the existing test suite.  You could then run Rust compiler in an XP VM if you want.

Problem there of course is LLVM unhelpfully dropping support for XP.  Might be good

[2015-03-04 01:19] carllerche opened #23012 "Type inference error: the type of this value must be known in this context"
Repro:

[code]

Output:

[code]

[2015-03-04 01:22] cmr commented on #23012
cc @nikomatsakis

[2015-03-04 01:44] jroesch commented on #22279
:+1:

[2015-03-04 02:06] steveklabnik commented on #22926
I'm pulling a massive triage effort to get us ready for 1.0. As part of this, I'm moving stuff that's wishlist-like to the RFCs repo, as that's where major new things should get discussed/prioritized.

This issue has been moved to the RFCs repo: rust-lang/rfcs#934

[2015-03-04 02:06] #22926 closed

[2015-03-04 02:25] theemathas opened #23014 "Incorrect / Inconsistent behavior of deref coercion with {}"
In this code, the commented-out lines fail to compile.

[code]

[playpen](http://is.gd/x2qdNo)

I believe that, among other things, `f(&{Box::new(Foo)});` should compile since `&{Box::new(Foo)}` has type `&Box<Foo>`, which is deref-coercible to `&Foo`.

Additionally, the behavior is so inconsistent that it is basically impossible to predict whether the other lines will compile without trying them.

[2015-03-04 02:35] huonw commented on #22985
The names in the standard are explicitly talking about "sign", i.e. the sign bit, whereas our method names are just referring to the less technical "negative" and "positive" concepts.

[2015-03-04 03:18] iKevinY commented on #23007
I'd like to take a shot at this. Doing a quick grep shows that `dead_code` appears a lot more frequently than `unreachable_code`, so it seems as though `unreachable-code` should be renamed. Does resolving this issue just entail converting all instances of `unreachable-code` lints into `dead-code` lints?

[2015-03-04 03:34] alexcrichton commented on #20768
This appears to have been fixed since being opened.

[2015-03-04 03:34] #20768 closed

[2015-03-04 03:41] alexcrichton opened #23015 "FnMut not implemented for mutable FnMut implementors"
For example this program does not compile

[code]

[code]

The unfortunate error message is covered by another issue, but this seems like an unfortunate limitation. I tried to implement this but got coherence violations. I also implemented this "halfway" and got compile errors due to legitimate coherence violations which sprang up. I believe we have some hardwired impls of these traits in the comp

[2015-03-04 04:46] laijs commented on #23015
These code can't work?:
[code]

I know this will leave another four types without implmenting any Fn*.
the left four types: ```&mut Fn, &FnMut, &FnOnce, &mut FnOnce```

[2015-03-04 04:53] theemathas commented on #22927
Related to https://github.com/rust-lang/rust/issues/22646

[2015-03-04 06:00] shankar2105 commented on #13784
I have the same problem

   Compiling sdl2 v0.0.28 (file:///G:/Shankar/Project/Maidsafe/Rust/practise/rust-sdl2)
error: linking with `gcc` failed: exit code: 1
note: "gcc" '"-Wl,--enable-long-section-names"' '"-fno-use-linker-plugin"' '"-Wl,--nxcompat"' '"-static-libgcc"' '"-m64"' '"-L"' '"C:\\Program Files (x86)\\Rust-nightly\\bin\\rustlib\\x86_64-pc-windows-gnu\\lib"' '"-o"' '"G:\\Shankar\\Proje

[2015-03-04 06:08] leonardinius commented on #22646
#22925 fixed the issue

http://doc.rust-lang.org/std/fmt/#sign/#/0 seems to be updated, closing this one.

[2015-03-04 06:08] #22646 closed

[2015-03-04 06:47] laijs opened #23020 "make -j N fail"
I tried to speed up the compiling via ```make -j N```, it failed and reported that some dependece didn't exist. The missing dependece files seems to be the files that would be produced if we just use the non-parallel  ```make```. It seems the Makefile does't declare the dependence well.

And sometimes it succed but false positive, the error will ocurr when ```make install```

[2015-03-04 06:55] huonw commented on #23020
What `N` did you use?

Also, it would be convenient if you could paste the log of the compilation to make diagnosing the problem easier; thanks!

[2015-03-04 07:03] laijs commented on #23020
N = 3

[2015-03-04 07:14] laijs opened #23021 "The error message isn't accurate when missing trait implement"
[code]
The above code misses impl  ```TA``` for ```A```, but the compiler reports
```error: the trait `AutoTA` is not implemented for the type `A` [E0277]```

Even worse, when a new piece of code is added:
[code]
the comiler reports:
```error: the trait `AutoAutoTA` is not implemented for the type `A` [E0277]```

These error messages aren't accurate. example, the last implies that the only way to

[2015-03-04 07:33] retep998 opened #23022 "Rustdoc memory usage needs to be improved"
While building docs for a project which just happens to use winapi, I noticed a huge spike in memory usage.
![](http://puu.sh/glM2Q/5af5d38099.png)
The same spike does not occur for a regular build, only for building docs.

This command in particular causes the huge spike:
`rustdoc C:/msys64/home/Peter/.cargo/registry/src/github.com-1ecc6299db9ec823/winapi-0.1.14/src/lib.rs -o C:/msys64/home/Peter

[2015-03-04 08:03] pnkfelix commented on #23020
cc me

[2015-03-04 09:08] guruverse opened #23023 "Add missing File stats for std::fs::Metadata"
Currently, the Metadata type does not support checking for other different kinds of files identified by a call to stat, like symlinks (softlinks?), block devices, and named pipes, as shown from the [std::old_io::FileType](http://doc.rust-lang.org/std/old_io/enum.FileType.html) enum and getting the file stats, like uid, gid, rdev, etc, like with [std::old_io::UnstableFileStat](http://doc.rust-lang.

[2015-03-04 09:13] yann-ledu commented on #22996
Ok, but I think you meant to put vnfer in the last line, and not vf, and then it doesn't work. Apparently, Any doesn't get specialized to Fn. I can just carry on putting other stuff, like boxed integers. I didn't know about Any, thanks.

[2015-03-04 09:28] yann-ledu opened #23024 "Compiler unexpectedly panicked at Box<Any> (built 2015-03-02)"
[code]

[2015-03-04 10:04] nagisa commented on #23021
Looks like a duplicate of https://github.com/rust-lang/rust/issues/22590

[2015-03-04 10:18] nagisa commented on #23023
Sadly, the `std::fs` API has to be cross platform, and Windows does not expose most of the information you listed meaningfully.

You’ll have to use unix specific functions when these come around to get things like uid, gid, nlink, mode etc.

[2015-03-04 10:21] guruverse commented on #23023
Could there be a unix trait extension for exposing such stats?

[2015-03-04 10:38] nagisa commented on #23023
It is very likely there will be one. We just didn't even start working on
the platform specific apis yet.
2015/03/04 12:22 "guruverse" <notifications@github.com>:

[2015-03-04 11:58] nagisa commented on #21724
The tarball (2015-02-03) has since increased to 138MiB in size. Recompressing that to `xz` results in 82MiB `.tar.xz`, for a 40% gain.

[2015-03-04 12:19] dotdash commented on #22924
http://llvm.org/bugs/show_bug.cgi?id=22786

We could work around this by special casing slices and copying them by doing two loads/stores. Not sure if it's worth it.

[2015-03-04 12:26] oli-obk commented on #23024
smaller example
[code]
yields
[code]

[2015-03-04 12:37] jakub- commented on #15355
This is now rejected:

[code]

However:

[code]

now segfaults at compile-time:

[code]

[2015-03-04 12:38] jakub- commented on #15355
FWIW, the error message is also misleading: it should suggest casting through an `isize` or `usize`.

[2015-03-04 12:50] Gankro commented on #22243
Calling this sufficiently resolved.

[2015-03-04 12:50] #22243 closed

[2015-03-04 13:08] dotdash commented on #5016
Unless someone is already working on this, I'd like to give it a shot this weekend.

[2015-03-04 13:39] michaelwoerister commented on #22852
Thanks for the report. Closing as duplicate of #21559.

[2015-03-04 13:39] #22852 closed

[2015-03-04 14:04] nikomatsakis commented on #23012
What's causing this is that we currently inspect the obligations in scope for `Fn(...)` obligations, but in this case the obligation is `Receive` (which implies a `Fn` obligation as a supertrait). This is expected but unfortunate, yes. We could probably fix this particular case in a relatively straightforward way by trying to upcast each pending obligation to a `Fn` obligation.

[2015-03-04 14:06] simias commented on #21823
@alexchandel The problem is that using `///` where it doesn't make sense usually produces an error, for instance this won't compile:

[code]

[code]

So it's not very coherent.

[2015-03-04 14:30] dotdash commented on #22891
The `byval` stuff is blocked on #5016

[2015-03-04 14:45] pnkfelix commented on #5016
@dotdash I do not think this is a mere weekend project.  Have you read the discussion on e.g. [RFC 320](https://github.com/rust-lang/rfcs/pull/320) ?

[2015-03-04 14:55] dotdash commented on #5016
@pnkfelix Oh, I don't expect to finish it over the weekend, but rather see if it's something that I could reasonably fit into my schedule at all. I hope to get _that_ part done over the weekend.

[2015-03-04 16:08] nikomatsakis commented on #23012
I imagine that atm this could be worked around by changing:

[code]

to

[code]

[2015-03-04 16:08] pnkfelix opened #23030 "Should C-style enums silently overflow?"
Spawned off of a note from PR #22532 on commit 1246d4067fdc034d064dfb78f88c2c3c079c3f4f

The following program:
[code]

compiles and prints:
[code]

My personal preference would be for a compiler error due to the implicit overflow, with a note saying that the programmer should explicitly assign some value to `Foo::B`. (And thus they can opt into the current behavior by assigning it `B = 0,`; then

[2015-03-04 16:10] pnkfelix commented on #23030
triage: I-nominated

(I suggest P-backcompat-lang, I-needs-decision.)

[2015-03-04 16:10] pnkfelix commented on #23030
@nrc is it by design that highfive responded to the above comment by assigning the 1.0 beta milestone?

[2015-03-04 16:50] laumann opened #23032 "Cannot compile regex: illegal hardware instruction"
The new nightly caused this in regex: https://github.com/rust-lang/regex/issues/50 - the fix is trivial, but it uncovers an illegal hardware instruction that seems to be a bug in rustc.

So far I have (disclaimer: the code is taken from regex)

[code]

([playpen](http://is.gd/p4Y4qo))

It seems to be related to f35f973cb700c444d8c029ee13b37dc16d560225, which changes a lot of `static`s to `const`s.

[2015-03-04 16:57] nrc commented on #23030
Hmm, no it is not, I guess it tried to find the milestone "I suggest P-backcompat-lang, I-needs-decision.", but I have no idea how it ended up with "1.0 beta". I'll look into it (also, I'll only check inside parens on the same line

[2015-03-04 17:05] Gankro commented on #23020
Isn't the syntax `make -jN` with no space?

[2015-03-04 17:07] Manishearth commented on #23032
(Btw, this seems to be happening during `trans`)

[2015-03-04 17:09] sfackler commented on #21823
It's parses because attributes are allowed on match arms, and `/// foo` desugars to `#[doc = "foo"]`.

[2015-03-04 17:18] #19228 closed

[2015-03-04 17:28] BurntSushi commented on #23032
For valgrind output: https://github.com/rust-lang/regex/pull/51#issuecomment-77156892

[2015-03-04 17:58] crumblingstatue opened #23035 "fmt::Debug ignores alignment spec for some types"
In this sample, it's ignored for str and a derived implementation:

[code]

output:
[code]

[2015-03-04 18:14] alexcrichton commented on #21724
Do we know of statistics of how many systems can decompress a `xz` archive? I'm mostly just curious as I suspect that we would continue to produce both and then systems like `multirust` could figure out which to download based on the host system.

[2015-03-04 18:14] #23021 closed

[2015-03-04 18:15] alexcrichton commented on #22590
triage: I-nominated

nominating for 1.0 polish as this is quite a confusing error message that leaks into many places. For example if you pass something to a function requiring a `FnMut` and doesn't satisfy it the compiler will complain about a lack of `Fn` implementation.

[2015-03-04 18:27] nagisa commented on #21724
As we discussed on IRC:
* Macs don’t appear to have this by default, unsure;
* Windows have neither gzip, nor xz, nor tar by default, so it doesn’t matter either way;
* On linux systems some very common packages (with defaultish configure options) depend on liblzma5/xz (gdb and systemd come to mind as examples) so it is very likely it will be available on a standard linux system.

[2015-03-04 18:58] remram44 commented on #13727
Still happens. Interestingly, rustc then crashed (Windows, 32b, nightly 157614249 2015-03-01).

[2015-03-04 19:00] dotdash commented on #20074
Both examples compile fine with `rustc 1.0.0-nightly (fed12499e 2015-03-03) (built 2015-03-04)`

[2015-03-04 19:00] #20074 closed

[2015-03-04 19:02] dotdash commented on #22448
Is this still an issue or is this handled by the job group(?) stuff that was implemented for the windows buildbots?

[2015-03-04 19:29] dextero opened #23036 "HashMap with Path key crashes rustc"
Hello,

Lately I've been experimenting with Rust, and it seems I accidentally managed to crash `rustc`. Trying to compile following snippet:

[code]

... causes an assertion fail:

[code]

Specifying an explicit variable type prevents crashing. Such code:

[code]

... produces an compile-time error as expected:

[code]

The `[u8]` in the error message is quite surprising, though - it's not entirel

[2015-03-04 19:32] Jojoshua opened #23037 "ICE - tried to get overflow intrinsic for non-int type"
thread 'rustc' panicked at 'tried to get overflow intrinsic for non-int type', C
:\bot\slave\nightly-dist-rustc-win-64\build\src\librustc_trans\trans\expr.rs:235
2

Here is the code

[code]

[2015-03-04 19:48] nikomatsakis commented on #16595
I'm assigning this to @alexcrichton (trying to reduce the number of milestone issues with no assignee).

[2015-03-04 19:50] nikomatsakis commented on #14433
Annoyingly, I can't assign this to @richo, but it seems he's got it under control (thanks!). So let this serve as an "assignment" :)

[2015-03-04 19:57] nikomatsakis commented on #22261
Assigning to @nrc in the interest of having as little unassigned work for 1.0 beta as possible.

[2015-03-04 20:04] nikomatsakis commented on #22240
Seems like it's time for someone to just finish all that remains in one fell swoop.

[2015-03-04 20:06] GuillaumeGomez commented on #22240
Everything has been taken already, no ?

[2015-03-04 20:57] alexcrichton commented on #22448
I believe that using `dojob.exe` has fixed some of our problems (I haven't seen any issues related to this recently), but I would also like to still do this. Right now if you kill a build too quickly it will corrupt the git directory, causing all future builds using that build directory to fail. This currently requires manual intervention to delete the git directory or rebooting the slave in quest

[2015-03-04 21:04] fhartwig commented on #23037
I get the same error when trying to compile rust-crypto (after some fixes, see https://github.com/fhartwig/rust-crypto/tree/rustup) with the current nightly (`rustc 1.0.0-nightly (fed12499e 2015-03-03) (built 2015-03-03)`)

[2015-03-04 21:37] steveklabnik commented on #23014
Whoah, `&{}`? I haven't seen that, though I guess it makes some degree of sense...

[2015-03-04 21:37] steveklabnik commented on #23020
@Gankro iirc, either works

[2015-03-04 21:38] steveklabnik commented on #23032
Not _strictly_ an ICE, but close enough

[2015-03-04 21:43] steveklabnik commented on #22981
We can't really do this, as all those old docs are already out there, and aren't change-able. And, post 1.0, this will be significantly less of a problem.

One thing we can do is note the build date in the output itself, but we have a rustdoc issue open for this already, so I'm going to close this one. Thank you though!

[2015-03-04 21:43] #22981 closed

[2015-03-04 21:55] yann-ledu opened #23041 "internal compiler error: cat_expr Errd when downcasting"
[code]

[2015-03-04 22:06] vberger opened #23042 "ICE when not constraining associated type of a trait object"
Shortest code:
[code]
produces this output on playpen (`rustc 1.0.0-nightly (b4c965ee8 2015-03-02) (built 2015-03-03)` according to playbot):
[code]
My local rustc seems to not be able to produce backtraces, sorry.

[2015-03-04 22:17] kmcguire3413 opened #23044 "ICE: ident only path for external function declaration"
[code]
[code]

[2015-03-04 22:30] liigo commented on #22981
I don't think they're not change-able.

[2015-03-04 22:42] arielb1 opened #23046 "ICE (unwrap of None) after type error with aggressive use of higher-kinded types and variance"
Will minify later

http://is.gd/B0NXIN
[code]

Errors:
[code]

[2015-03-04 23:25] awlnx commented on #22964
any tests needed to be ran other than compilation?

[2015-03-04 23:26] Manishearth commented on #22964
You can run `make check-stage1-cfail check-stage1 rpass` if you want. This is something that's really only going to be verified when a snapshot gets made.

An easy way to test this is to just add a `#[foo]` somewhere in the libstd, and check that it compiles at stage0 but fails at stage1

[2015-03-04 23:43] aturon opened #23049 "Stability is not checked for glob imports"
Just what it says on the tin: this is especially a problem when importing an unstable trait with stable methods.

[2015-03-04 23:50] arielb1 commented on #23046
Minified:

[code]

[2015-03-04 23:57] lowks opened #23050 "rust on mac broken ?"
I have installed the latest release nightly build:
[code]

and this is the error I get:

[code]
It has been like this since the previously nightly release.

[2015-03-05 00:11] aturon commented on #22020
@pnkfelix I'm not sure; I wasn't the one who updated this with a checklist. @nikomatsakis @alexcrichton?

[2015-03-05 00:11] arielb1 opened #23051 "Bounds in Higher-Ranked Lifetimes in trait objects don't seem to work"
[code]

Error:

[code]

[2015-03-05 00:21] aturon commented on #22415
I'm going to close this issue. The plan is to instead follow a design similar to opening a file, where we can provide conveniences with reasonable per-platform defaults for `create_dir` and `create_dir_all`, and then have a builder-style API (`CreateDirOptions` or some such) that allows per-platform customizations of things like permissions or security attributes, etc.

@alexcrichton will be follo

[2015-03-05 00:21] #22415 closed

[2015-03-05 00:25] alexcrichton commented on #23023
Thanks for the issue! I'm going to start collecting possible `std::fs` extensions into a [tracking issue in the RFC repo](https://github.com/rust-lang/rfcs/issues/939) to make sure we keep everything in one place. I made sure to include this in there though!

[2015-03-05 00:25] #23023 closed

[2015-03-05 00:26] alexcrichton commented on #22415
I have opened an issue [in the RFC repo](https://github.com/rust-lang/rfcs/issues/939) to track this functionality.

[2015-03-05 00:29] aturon commented on #20063
@japaric Sorry for the delay, this comment was buried in my inbox (and I was away on vacation).

Anyway:

That makes good sense to me as a 1.0 starting point, and I certainly agree that not *all* of the listed types should get this treatment.

[2015-03-05 00:33] vojtechkral commented on #22240
@GuillaumeGomez Looks like it.

[2015-03-05 00:41] aturon commented on #22511
cc me

[2015-03-05 00:42] aturon commented on #22949
@pnkfelix Yes, I agree. These definitely need to be addressed before beta.

[2015-03-05 00:48] retep998 commented on #22628
Has anyone seen this issue lately since `dojob` was implemented?

[2015-03-05 00:50] alexcrichton commented on #21070
cc https://github.com/rust-lang/rfcs/issues/939, future extensions to `std::fs`

[2015-03-05 01:06] alexcrichton commented on #22628
I have not, thanks @retep998!

[2015-03-05 01:06] #22628 closed

[2015-03-05 01:07] gsingh93 opened #23052 "Remove reference to NoSend in the concurrency guide"
The concurrency section in the guide refers to the marker::NoSend trait, but that's been replaced with a negative impl on Send. This should be updated.

(A side note, I think the whole chapter is due for an update. The use of Arc and Mutex and how they got rid of compiler errors feels like magic to me. Furthermore, why does MutexGuard not implement Send in the first place? etc.)

[2015-03-05 01:08] huonw commented on #22511
I think so: it is useful for generic code (e.g. storing things in a tree, the details of the ordering usually don't matter, as long as one exists) and `#[derive]`, e.g. one might have

[code]

The first two fields will usually completely distinguish instances of `Foo` and the last just serves as a tie-break; being forced to write out the `impl` manually is annoying. (FWIW, Haskell's `Maybe` and `E

[2015-03-05 01:27] alexcrichton commented on #22020
I would personally consider a `-Z` flag to fit the bill

[2015-03-05 01:42] steveklabnik commented on #23052
I recently re-wrote the concurrency guide, but you're right that the NoSend thing needs fixed. I thought we had an issue for this...

Could you maybe elaborate on this a bit more?

[2015-03-05 01:47] alexcrichton commented on #11857
Closing in favor of https://github.com/rust-lang/rfcs/issues/939

[2015-03-05 01:47] #11857 closed

[2015-03-05 01:49] alexcrichton commented on #12148
Closing in favor of https://github.com/rust-lang/rfcs/issues/941

[2015-03-05 01:49] alexcrichton commented on #12137
Closing in favor of https://github.com/rust-lang/rfcs/issues/941

[2015-03-05 01:49] #12137 closed

[2015-03-05 01:49] alexcrichton commented on #14232
I... don't think there's anything we can do about this, so I think it's just something we're going to have to live with unfortunately.

[2015-03-05 01:57] gsingh93 commented on #23052
So while I understand mutexes and reference counting from other languages, I've never worked with a language that enforced safety at compile time. I understand why the compiler doesn't like the original program (where the data would be moved into three different threads), but I don't fully understand why doing
[code]

[2015-03-05 02:02] steveklabnik commented on #23052
Fair enough, thanks!

[2015-03-05 02:14] cbcrouch opened #23053 "Internal compiler error: mutex.rs could not find scope info"
Received the following error while compiling a test application in rust. If this looks like a geuine error I can provide source, stack traces, etc. if needed.

[code]

[2015-03-05 02:24] cbcrouch commented on #23053
Forgot to attach this.

stack backtrace:
   1:     0x7faa4ec31c1f - sys::backtrace::write::h4a039d759790405fOBA
   2:     0x7faa4ec5c932 - panicking::on_panic::h38cda3cfda05a4d8hHJ
   3:     0x7faa4eb91bda - rt::unwind::begin_unwind_inner::hbc6ba0bf039eeb6dknJ
   4:     0x7faa4bfc708d - rt::unwind::begin_unwind::h13059210073216592212
   5:     0x7faa4bfc7033 - diagnostic::SpanHandler::span_bug::h5

[2015-03-05 02:26] theemathas opened #23054 "Rustdoc improperly showing `pub use ... as` functions"
The documentation of [std::ptr](http://doc.rust-lang.org/nightly/std/ptr/index.html#functions) displays `copy_memory` and `copy_nonoverlapping_memory` two times each, once labelled as deprecated, and once labelled as stable.

Both the links of `copy_memory` leads to a [deprecated function](http://doc.rust-lang.org/nightly/std/ptr/fn.copy_memory.html). Hovering over the purple bar tells me that the

[2015-03-05 02:50] cbcrouch commented on #23053
Source code can be found at:

https://github.com/cbcrouch/lang_exp/tree/master/rust/rust_app

Compiler info --version --verbose:

rustc 1.0.0-dev (3b3bb0e68 2015-03-04) (built 2015-03-04)
binary: rustc
commit-hash: 3b3bb0e682c2d252e9f62dd9df5cff9552af91ad
commit-date: 2015-03-04
build-date: 2015-03-04
host: x86_64-unknown-linux-gnu
release: 1.0.0-dev

[2015-03-05 02:55] mahkoh commented on #13698
This is broken again.

[2015-03-05 04:53] aturon opened #23055 "Tracking issue for Replace `Vec::drain` by a method that accepts a range parameter (RFC 574)"
https://github.com/rust-lang/rfcs/pull/574

cc @mahkoh

[2015-03-05 05:07] theemathas commented on #23051
Possibly releated to #22791

[2015-03-05 05:16] theemathas commented on #23015
Already discussed in http://internals.rust-lang.org/t/implement-closure-traits-on-t-when-t-implements-them/1638

You can workaround with`foo(||cb())` in most cases.

[2015-03-05 05:33] doomsplayer opened #23057 "ICE when save a closure to static mut produced from closure call"
code sample:
[code]

compiler complans:
[code]

[playpen](http://is.gd/mb7JuU)

[2015-03-05 05:40] bombless commented on #20561
I think in theory primitive type definitions come from `std::*`.
So if `no_std` or `no_prelude` is on there should not been primitive type definitions.
And I suggest we make alias of primitive types to a place like `std::primitive_definition::*`, so we write codes below to perform as `no_std` today:
[code]

I know this change sounds trivial but current behavior is pretty ugly, see https://github.c

[2015-03-05 05:55] drewcrawford opened #23058 "iOS build is broken"
An excerpt:

[code]

configured with

`../configure --target=armv7-apple-ios,armv7s-apple-ios,i386-apple-ios,aarch64-apple-ios,x86_64-apple-ios && make`

This has been going on for a few days to a week, but I have only recently isolated it to the iOS cross-compile.

[2015-03-05 07:05] #19674 closed

[2015-03-05 07:17] SimonSapin commented on #22511
It’s not quite the same as `Option`, but FWIW `None` in Python 2 is less than all other objects. In Python 3, it was changed to be non-comparable to other objects.

[2015-03-05 07:35] aturon commented on #22511
The `Clone` is definitely wanted here, and the `Arc` is intended -- as you say, you want to be able to hand out copies of the handle to place in data structures for use with `park` and `unpark`.

[2015-03-05 07:36] aturon commented on #22511
@huonw

Ugh that's bad. Hopefully the [Pod/Copy RFC](https://github.com/rust-lang/rfcs/pull/936) will help us clean this up.

[2015-03-05 08:38] RalfJung opened #23059 "libcore docs mention non-existing "librlibc""
The libcore/lib.rs file says

[code]

However, `find -iname "*rlibc*"` yields no result, both in the rust source folder and in the distributed tarball. So the part about this library being distributed with the standard distribution does not seem to apply anymore.

[2015-03-05 08:43] michaelwoerister commented on #23053
Thanks for the detailed report!

[2015-03-05 08:50] huonw commented on #23059
Nice catch! The docs should be updated to point to https://crates.io/crates/rlibc itstead.

[2015-03-05 08:59] michaelwoerister commented on #23053
This is very likely a duplicate of https://github.com/rust-lang/rust/issues/22432. I'm leaving it open for now.

[2015-03-05 09:33] lifthrasiir opened #23061 "Consider if we want to bundle rustc source code in docs"
Currently generated `doc/src` directory is 26MB without compiler docs and 48MB with them. This becomes the largest directory inside generated docs once #23060 lands (`doc/rustc` is over 90MB before that patch, for the reference). It will also interfere with #2206, as we would no longer have source codes to dump.

It takes about 5MB in the gzipped tarball, so this is not negligible size. We can ins

[2015-03-05 11:22] yann-ledu opened #23063 "Type inference for closures when downcasting"
[code]

[2015-03-05 11:39] RalfJung opened #23064 "Documentation of iterator classes could be improved"
The documentation of iterator structs like Map <http://doc.rust-lang.org/std/iter/struct.Map.html> is not all that helpful, even when the crate doc <http://doc.rust-lang.org/std/iter/index.html> is additionally consulted. I stared at these pages for several minutes, wondering how to obtain such a map iterator, until I found <http://doc.rust-lang.org/std/iter/trait.IteratorExt.html>

I suggest to a

[2015-03-05 11:54] huonw opened #23065 "Inference difference between pure associated types and generic types with associated type equalities"
Spawned off https://github.com/rust-lang/rust/pull/23025#issuecomment-77162793.

[code]

Compiling with `--cfg assoc` works fine, while compiling without it gives:

[code]

[2015-03-05 12:41] japaric commented on #23063
In the second case `bf` has type `Box<[closure]>` and is not the trait object `Box<Fn>`.

It's clearer if you consider how the desugared version look like:

[code]

In general `box || {}` won't give you a trait object, you need to explicitly coerce it to a trait object (like you did in the first case). Also `box |x| 3*x` can be coerced up to three different trait objects: `Box<Fn>`, `Box<FnMut>` o

[2015-03-05 13:12] Ogeon commented on #23053
A similar or the same ICE [popped up in Rustful](https://travis-ci.org/Ogeon/rustful/builds/53182371) with today's nightly (`rustc 1.0.0-nightly (3b3bb0e68 2015-03-04) (built 2015-03-05)`). The difference I can see is that it's reported for `rwlock.rs`.

[code]

[2015-03-05 13:12] lisongmin commented on #18884
Maybe related:

Caused when I build https://github.com/PistonDevelopers/conrod.git .

$ RUST_BACKTRACE=1 cargo test
   Compiling pistoncore-window v0.0.13 (https://github.com/pistondevelopers/window#711cb7a1)
   Compiling image v0.2.0-alpha.10 (https://github.com/pistondevelopers/image#28da3ad0)
   Compiling glutin v0.0.6 (https://github.com/tomaka/glutin#7154ea5c)
   Compiling pistoncore-event_lo

[2015-03-05 13:22] shepmaster commented on #23020
FWIW, I just did a `make clean && make -j7` against 3b3bb0e682c2d252e9f62dd9df5cff9552af91ad and compilation succeeded. I have noticed that if you maintain a checkout and try to just do `make -j7` after updating the code, the build will occasionally fail (~ 2-3 times over months). A `make clean` "solves" the issue.

[2015-03-05 13:28] nikomatsakis commented on #22020
Interesting. I consider a `-Z` flag adequate for *this* bug, perhaps,
but not a good overall solution. However, it seems like having a good
set of public flags around this falls under
https://github.com/rust-lang/rust/issues/22492

On Wed, Mar 04, 2015 at 05:27:27PM -0800, Alex Crichton wrote:

[2015-03-05 13:52] dragan commented on #23037
I can confirm the same error when compiling rust-crypto.

[code]

Backtrace:

[code]

[2015-03-05 13:53] nikomatsakis commented on #22240
@GuillaumeGomez yes I suppose you are correct, but there are several with no listed PR, all assigned to you or @vojtechkral, can you guys attest that those are in the pipeline now? I can't quite tell from all the various citations appearing everywhere.

[2015-03-05 13:56] Kintaro opened #23068 "Could not find scope info for node NodeExpr"
When compiling the current version of wtftw (https://github.com/Kintaro/wtftw/tree/1e6e3315a8576db3629ff019f62ff34be20f181d) I get the following internal compiler error:

[code]

and here's the backtrace:

[code]

Compiled with rustc 1.0.0-dev (68740b405 2015-03-05) (built 2015-03-05)

[2015-03-05 14:06] GuillaumeGomez commented on #22240
All attributed to me have been merged.

[2015-03-05 14:18] michaelwoerister commented on #22226
Please give this another try, now that #22235 has landed.

[2015-03-05 14:34] michaelwoerister commented on #13442
Interesting, the unoptimized IR of the above program does not even contain a function `bar()`...
[code]

[2015-03-05 14:44] gareins commented on #23068
Getting the same error compiling fern library:
https://github.com/daboross/fern-rs.git

`rustc --version --verbose`:

    rustc 1.0.0-nightly (3b3bb0e68 2015-03-04) (built 2015-03-05)
    binary: rustc
    commit-hash: 3b3bb0e682c2d252e9f62dd9df5cff9552af91ad
    commit-date: 2015-03-04
    build-date: 2015-03-05
    host: i686-unknown-linux-gnu
    release: 1.0.0-nightly

Compilation:

    /home/

[2015-03-05 14:44] Gankro opened #23069 "Fun with associated types, Iterator, and IntoIterator"
(The following is a reduced example)

I have a composite two-level structure which I want to iterate. This involves iterating the first level to obtain blocks of the second level, which are in turn iterated. We would like to update this code to use associated types.

My first attempt is as follows:

[code]

but this errors out with:

[code]

Which doesn't make any sense to me. It looks like it mig

[2015-03-05 14:44] Gankro commented on #23069
CC @nikomatsakis

[2015-03-05 14:57] japaric opened #23072 "Bounds seem to be ignored in negative impls"
[code]

[code]

cc @nikomatsakis @FlaPer87

[2015-03-05 15:05] FranklinChen commented on #23068
Same thing from my project https://github.com/FranklinChen/type-directed-tdd-rust

[code]

[2015-03-05 15:17] jdm commented on #13442
Maybe `inline(always)` is serious about inlining?

[2015-03-05 15:19] michaelwoerister commented on #13442
Yeah, I need to find out where this inlining happens. Do we do it? Does LLVM do it?

[2015-03-05 15:19] dotdash commented on #13442
Try looking at the .0.noopt.bc file produced by -C save-temps instead
Am 05.03.2015 16:17 schrieb "Josh Matthews" <notifications@github.com>:

[2015-03-05 15:22] teotwaki commented on #22905
@trishume Can this be closed? @djmally's fix has been applied to the documentation.

[2015-03-05 15:33] michaelwoerister commented on #13442
@dotdash Good tip!
[code]
This one contains the function but the return statement is described as being on line 4 instead of line 3. That's definitely wrong.
Making it an actual return statement fixes that, kind of:
[code]
The outcome is still wrong though.

[2015-03-05 15:34] jorisgio opened #23073 "ICE with associated types defaults"
Associated types defaults ( #19476 ) cause at least two different ICE with rustc 1.0.0-nightly (b4c965ee8 2015-03-02) (built 2015-03-03)

Case 1 : building :

[code]

Case 2 : ICE
[code]
backtrace :
[code]
Case 3 : ICE
[code]

backtrace :
[code]

[2015-03-05 15:56] vojtechkral commented on #22240
Mine too.

[2015-03-05 16:07] eddyb commented on #23073
Thanks! Both of the ICE cases are caused by changes I've made which assume every type (including those defaults) is instantiated by `astconv` during typeck.
Because defaults are not implemented, that assumption is wrong - the simplest fix I can see would be to instantiate those defaults even if they're unused.

@nikomatsakis @japaric Are there any immediate plans for implementing those defaults?

[2015-03-05 16:14] nikomatsakis commented on #22240
Great, thanks to you both!

[2015-03-05 16:14] #22240 closed

[2015-03-05 16:24] nikomatsakis commented on #23072
Yeah, hmm, this is caused by the way that trait dispatch picks a concrete impl if its the only thing available without recursively evaluating the bounds. Hmm. It makes sense for positive impls but for negative impls doesn't seem quite right. 

Niko

-------- Original message --------
From: Jorge Aparicio <notifications@github.com>
Date:03/05/2015  09:57  (GMT-05:00)
To: rust-lang/rust <rust@norepl

[2015-03-05 16:46] mindcat opened #23075 "When compile env_logger from git, Rustc panicked."
[code]

[2015-03-05 16:52] mindcat commented on #23075
[code]

[2015-03-05 16:58] parbo commented on #23037
I get the same error for rust-crypto on linux (x86_64):

$ RUST_BACKTRACE=1 cargo build
    Updating registry `https://github.com/rust-lang/crates.io-index`
   Compiling log v0.2.5
   Compiling rustc-serialize v0.3.1
   Compiling libc v0.1.2
   Compiling gcc v0.3.1
   Compiling rand v0.1.4
   Compiling time v0.1.19
   Compiling rust-crypto v0.2.19 (file:///home/parbo/src/rust-crypto)
error: intern

[2015-03-05 17:46] manuels opened #23076 "UdpSocket::bind() accepts invalid IPv6 address"
The IPv6 address in

    let s = UdpSocket::bind("1200::AB00:1234::2552:7777:1313:34300").unwrap();

is invalid because it includes "::" twice. However, this function call returns `Ok()`

[2015-03-05 18:05] alexcrichton commented on #23075
cc @michaelwoerister, but perhaps this is a dupe? I've seen a few bugs like this recently

[2015-03-05 18:08] thestinger commented on #14232
Intentionally providing broken functionality rather than using `posix_spawn`? At least document that Rust's subprocess management doesn't work.

[2015-03-05 18:12] thestinger commented on #12148
This is a real, serious security issue and needs to be fixed regardless of whether a proposed redesign happens. Closing the issue doesn't change the fact that it's getting a CVE assigned if it's not fixed by 1.0.

[2015-03-05 18:24] JeroenDeDauw commented on #22900
Also just noticed this. Looking for where the source is now so I can submit a fix.

[2015-03-05 18:35] blackbeam commented on #23075
Similar for mysql was introduced with latest nightly `rustc 1.0.0-nightly (3b3bb0e68 2015-03-04) (built 2015-03-04)`:

[code]

[2015-03-05 18:48] aturon opened #23078 "Finalze behavior for uncaught panics in child threads"
Currently, an uncaught panic on a child thread will result in output to that thread's panic output handle (which is currently overridable).

This may not be a desirable default, and we probably want the behavior to be more thoroughly customizable.

See [this previous RFC](https://github.com/rust-lang/rfcs/pull/519/) for some discussion on the topic, and the corresponding [RFC issue](https://github

[2015-03-05 18:48] aturon commented on #23078
nominate: P-backcompat-lang I-needsdecision (1.0 beta)

[2015-03-05 18:49] aturon commented on #23078
triage: P-backcompat-lang I-needsdecision (1.0 beta)

[2015-03-05 18:49] aturon commented on #23078
triage: P-backcompat-lang (1.0 beta)

[2015-03-05 18:50] #22905 closed

[2015-03-05 19:00] JeroenDeDauw commented on #22900
This has been fixed in 336dd6c8f03db7d70731da18d89040b1cb7d4765

[2015-03-05 19:02] steveklabnik commented on #22900
That doesn't fix it, that was the problem: the generated link uses .html instead of the .md, as the source says.

[2015-03-05 19:02] bejar37 commented on #22900
No, it's not fixed there. That is deployed and it's still broken. I think it might have to do something with Pandoc changing that MD extension to HTML

[2015-03-05 19:29] japaric opened #23080 "ICE: "resolved vtable bad vtable" with `impl Trait for .. {}`"
### STR

[code]

### Backtrace

[code]

### Version

[code]

I suppose that traits used in default implementations are not supposed to have any methods, the compiler should raise an error in an early phase (`wf`?) instead of ICEing in trans.

cc @nikomatsakis @FlaPer87

[2015-03-05 19:47] adamhjk commented on #23068
Another, if it helps:

[code]

[2015-03-05 19:50] aturon commented on #12148
For the record, I'm worried about closing this out without a clear resolution for 1.0.

While I think the APIs for the new IO system are in good shape (and are quite conservative), I think we should take an additional pass through the implementation looking for issues like this, and try to document as much of the details as possible (i.e. what syscalls a given API maps to, and what promises we're

[2015-03-05 19:51] killercup commented on #22615
Just ran into this at the docs for [HashMap](http://doc.rust-lang.org/std/collections/struct.HashMap.html).

Looks like [this line of JavaScript](https://github.com/rust-lang/rust/blob/68740b405404a3f885e388c8d31722797d519c30/src/librustdoc/html/static/playpen.js#L18) selects to much code when building the code for the playpen link. I guess it should be `prev` instead of `siblings`. I'll look into

[2015-03-05 19:58] alexcrichton opened #23083 "Implement Debug Improvments"
Tracking issue for https://github.com/rust-lang/rfcs/pull/640

cc @sfackler

[2015-03-05 20:02] alexcrichton commented on #23035
This is a known issue with implementations of `Debug` and `Display`, and unfortunately there is no real way to statically enforce that all formatting flags are respected while also maintaining efficiency. You're always able to allocate an intermediate `String` and then apply the formatting flags to that but otherwise requiring implementations to respect these flags would hamstring the performance.

[2015-03-05 20:07] kubkon opened #23084 "Unexpected panic: arithmetic operation overflowed"
Encountered while compiling https://github.com/kubkon/rust-GSL/commit/fb229ed072079a0a927bdc47491c7fcdfb72b961 on Yosemite. Travis reported the same error.

Rustc version:
[code]

Backtrace:
[code]

[2015-03-05 20:53] XMPPwocky commented on #23084
Compiling github.com/tomaka/glium/ produces the same error on win8 64-bit.
rustc 1.0.0-nightly (3b3bb0e68 2015-03-04) (built 2015-03-05)

[2015-03-05 21:03] #10596 closed

[2015-03-05 21:03] #20220 closed

[2015-03-05 21:03] #22279 closed

[2015-03-05 21:07] nikomatsakis commented on #21232
Interesting, I see the bug being that you get an error at all -- that is, I think that once you have fully "reinitialized" the structure, you should be able to read it again. (Rather than the ability to partially reinit the struct as being an error.)

[2015-03-05 21:08] nikomatsakis commented on #21232
I'm going to tag this as I-Needs-Decision.

[2015-03-05 21:10] kubkon commented on #23084
I can confirm that there is no panic with yesterday's build:

[code]

[2015-03-05 21:13] pnkfelix commented on #9737
if this gets fixed by 1.0, great.  But it doesn't block the release

also, if there is a fix that can be shown to not break any existing code, then this would be classified as "just as bug" and thus such a fix could be landed post 1.0.

P-high, not 1.0.

[2015-03-05 21:13] nikomatsakis opened #23086 "Forward compatibility hazard from coherence rules"
The current coherence rules are *too* smart. I think we should consider adding some limits to rein it in. In particular, imagine that crate A defines:

[code]

And crate B then defines:

[code]

This is currently accepted today, I believe. However, I think it should not be, because it means that now crate A cannot add an impl of `Clone` for `Foo` for fear of breaking crate B.

My proposed fix is t

[2015-03-05 21:14] nikomatsakis commented on #23086
triage: P-backcompat-lang (1.0 beta)

[2015-03-05 21:23] pnkfelix commented on #22557
an interesting corner case.  we could try to fix this (and such a fix should be backwards compatible), but its not a terribly high priority.  P-low, I-enhancement

[2015-03-05 21:26] pnkfelix commented on #22590
we could provide more of a trace in the error message.

anyway this is polish at best, not a 1.0 blocker.  P-low.  not on 1.0 milestone.

[2015-03-05 21:27] nikomatsakis commented on #22590
I can help mentor this.

[2015-03-05 21:27] kazimuth opened #23088 "Unexpected panic: Box<Any>"
Error while compiling tomaka/glutin@7154ea5 on OS X Yosemite:
[code]
[code]

[2015-03-05 21:27] pnkfelix commented on #22847
the arena crate is unstable.  removing nomination.  (does not need decision.)

[2015-03-05 21:28] pnkfelix commented on #22879
1.0, P-high, needs-decision.

[2015-03-05 21:29] yann-ledu commented on #23063
Very helpful! So downcasting was meant to fail in the second case : if I box<Any> a box<Closure>, then even though Closure implements the Fn trait, I cannot downcast to it ? I would have had to box<Any> a box<Fn> ? Ok, so I guess I can close this.

[2015-03-05 21:29] #23063 closed

[2015-03-05 21:29] pnkfelix commented on #22886
Duplicate of #22077.  Leaving open for tracking of this thread of conversation, but removing nomination tag.

[2015-03-05 21:30] pnkfelix commented on #22890
P-backcompat-libs, 1.0 beta, I-needs-decision.

[2015-03-05 21:33] nikomatsakis commented on #22557
This is actually the expected behavior, I believe, though writing this comment is making me want to dig a bit deeper to make sure.

What is happening is that when an explicit annotation is provided, `|x: &mut Nothing|` yields a type that is qualified over all `'a`, I believe, and it then ignores the expected type. This winds up (I think) being a subtype of what is actually required in the various

[2015-03-05 21:33] pnkfelix commented on #22932
1.0 polish; P-low.  If this gets fixed by 1.0, great; but if we shipped 1.0 with this semantics, its not the end of the world.

[2015-03-05 21:35] pnkfelix commented on #22934
was used for moves!

[2015-03-05 21:35] jdm commented on #23088
Duplicate of #23075.

[2015-03-05 21:35] #23088 closed

[2015-03-05 21:36] pnkfelix commented on #22934
we're going to reserve the token for future use.

[2015-03-05 21:36] #22934 closed

[2015-03-05 21:36] mbrubeck commented on #21232
Note that this *is* currently an error if the moved value has a destructor.  For example, if you add `impl Drop for Foo {fn drop(&mut self) {}}` to the previous example:

[code]

then it is rejected with "error: partial reinitialization of uninitialized structure `f`."

[2015-03-05 21:37] pnkfelix commented on #22985
P-backcompat-libs, I-needsdecision, 1.0 beta.

[2015-03-05 21:38] pnkfelix commented on #23007
subbug of #21761

[2015-03-05 21:38] #23007 closed

[2015-03-05 21:40] nikomatsakis commented on #18799
Conclusion from the thread was "won't fix".

[2015-03-05 21:40] #18799 closed

[2015-03-05 21:40] pnkfelix commented on #23015
seems likely fixable in backwards compatible manner.

P-high, not 1.0.

[2015-03-05 21:41] nikomatsakis commented on #23015
I'm working hard on this.

[2015-03-05 21:41] GGist commented on #23037
Interestingly enough I did not get this error when compiling with --cfg ndebug which is the flag that cargo adds when building in release mode. Maybe this bit of information would be useful for whoever decides to track down the bug.

Here is my compiler version as well as the error I get when compiling without the flag mentioned above:

$ rustc -v --version
rustc 1.0.0-nightly (fed12499e 2015-03-0

[2015-03-05 21:42] pnkfelix commented on #23030
1.0 beta, P-backcompat-lang.

[2015-03-05 21:42] aturon commented on #14232
I'm uncomfortable just closing this outright without some further discussion; I'm going to re-open as needs-decision.

[2015-03-05 21:44] aturon commented on #14232
triage: P-backcompat-libs (1.0 beta)

[2015-03-05 22:02] kmcallister commented on #22934
That makes sense to me. Good to know it's there on purpose :)

[2015-03-05 22:05] arielb1 commented on #23003
A mutated version causes a rustc stack overflow/illegal instruction:

[code]

[2015-03-05 22:32] pnkfelix commented on #21232
at this point I think I would be in favor saying that we can live with the current semantics as is today, and fix things in the future backwards-compatibly to either 1. track the initialized parts and allow reading from them, as I mentioned at the end of [my comment](https://github.com/rust-lang/rust/issues/21232#issuecomment-70242527), or 2. the slightly more limited (but perhaps more in line wit

[2015-03-05 22:33] pnkfelix commented on #21232
triage: P-low ()

[2015-03-05 22:33] nikomatsakis commented on #22557
OK, so, I looked a bit at this. The reason the results are a bit surprising is that the code is a bit hokey right now but not (I believe) unsound (though it wouldn't surprise me if there was a gotcha in some particular case). One thing it does do is separate out the expected argument and return types. So in these cases part of what results for the inconsistent errors is that we infer the return ty

[2015-03-05 22:35] pnkfelix commented on #21232
(apparently empty brackets does not clears the milestone, though they may have at one point?)

[2015-03-05 22:37] pnkfelix commented on #21232
@mbrubeck also, if you wanted to try to develop a lint to warn about this case, I would not object (assuming it did not have too many false positives).

[2015-03-05 22:38] alexcrichton opened #23089 "dep-info includes all transitvely linked files"
I think that the changes in #22235 mean that the `dep-info` output includes too many files now:

[code]

[output](https://gist.githubusercontent.com/alexcrichton/3cdd08e3a5eb4d8ad733/raw/ac3a0c1909ccebfd84312fdf38195fe9e0a195d2/gistfile1.txt)

cc @michaelwoerister

[2015-03-05 22:54] viperscape commented on #23075
[Same(?) issue](https://www.refheap.com/98138) since newest rustc updated; I do not make use of Box<Any>, but I do have a mutex I use in [rust-promise](https://github.com/viperscape/rust-promise), which is what's failing to compile now. FWIW this compiled on Windows fine, but on Linux I receive this ICE

[2015-03-05 22:56] yann-ledu opened #23092 "Type inference in a closure modifying an iterable object"
Implementing a closure that doubles the elements of an iterable object in-place.

[code]

[2015-03-05 23:19] nathansizemore opened #23093 "rustc panicked at Box<Any>"
[code]

Compiler info...

[code]

Code has been compiling for the past week or so, today I get this.  Do not know exactly which section of the code base is causing the error?  Let me know if there are anymore flags I can set to get more information out of the compiler...

[2015-03-05 23:26] pnkfelix commented on #23037
The arithmetic overflow checking is only turned on for debug builds, so I am not surprised that `--cfg ndebug` affects reproducibility here.

[2015-03-05 23:27] pnkfelix commented on #23037
(anyway, I will try to find some time to address this.  not 100% sure what our story is for mixing overflow checking with simd ... seems like simd values should be implicitly wrapping-arithmetic...)

[2015-03-05 23:34] golddranks commented on #23093
Seems to be a duplicate of https://github.com/rust-lang/rust/issues/23053

[2015-03-05 23:36] #23093 closed

[2015-03-05 23:40] golddranks commented on #23075
And seems to be the same as https://github.com/rust-lang/rust/issues/23053 and https://github.com/rust-lang/rust/issues/23093

[2015-03-05 23:41] #22865 closed

[2015-03-05 23:50] shepmaster commented on #23076
It's also invalid because the last group has 5 digits: `34300`

[2015-03-05 23:56] LukasKalbertodt commented on #23068
Probably the same as #23093 #23053 and #23075

[2015-03-05 23:58] golddranks commented on #23075
Btw. I'm having the same ICE with OS X `rustc 1.0.0-nightly (3b3bb0e68 2015-03-04) (built 2015-03-04)` nightly when compiling `openssl-sys v0.5.1`.

[2015-03-05 23:59] aturon commented on #16862
cc @japaric

[2015-03-06 00:17] arielb1 commented on #23086
This still won't solve all of these cases. An `impl<T: Copy> Clone for T` by `libcore` would still give you coherence problems (it would also give `libcore` coherence problems, so just assume that tuples etc. aren't part of `libcore`).

[2015-03-06 00:19] pnkfelix commented on #23037
(also, are we really making `simd` part of just the `core` feature?  It strikes me as something that deserved a more specific feature gate, if you ask me...)

[2015-03-06 00:20] kinghajj commented on #23053
Another example, in kinghajj/deque@defb7983b4891c9a01168ad775a916c45c97479a,

    $ RUST_BACKTRACE=1 cargo test
       Compiling deque v0.1.8 (file:///home/samuel/deque)
    /home/rustbuild/src/rust-buildbot/slave/nightly-dist-rustc-linux/build/src/libstd/sync/mutex.rs:177:37: 180:2 error: internal compiler error: debuginfo: Could not find scope info for node NodeExpr(Expr { id: 3082, node: ExprSt

[2015-03-06 00:27] #22902 closed

[2015-03-06 00:28] #7340 closed

[2015-03-06 00:28] #22957 closed

[2015-03-06 00:41] arielb1 commented on #18469
We have coercions on assignments:
[code]

Will these stay?

[2015-03-06 00:57] japaric commented on #16862
@aturon Could you be more specific about which traits would get replaced with inherent impls? `Int`? `Float`? (I have a rough idea of how to do this. I don't know if it would ulimately work, and it involves one lang item per primitive impl)

[2015-03-06 01:13] reem commented on #16862
This is also a backwards-compatability hazard since changing the signature of any trait method is a backwards incompatible change, even if that trait is meant to be "sealed."

[2015-03-06 01:17] huonw commented on #16862
We can "stability-seal" traits by having `#[unstable]` non-default methods on them, which means they cannot be implemented in stable code.

[2015-03-06 01:19] aturon commented on #16862
@japaric Also `StrExt`, `CharExt`, `PtrExt`.

[2015-03-06 01:21] aturon commented on #16862
@japaric oh and `SliceExt`.

This change would make the documentation much friendlier, would ease the back-compat story (as @reem points out), and help clarify the story about the numeric traits (by relegating all generics to external libraries for the time being).

[2015-03-06 01:39] johnpmayer commented on #22775
Well this is tough, because a different unhelpful error leads us here (this from ncollide). Seems to suggest you can use PhantomData to fix unused lifetimes in structs.

[code]

[2015-03-06 01:49] quix00 commented on #23068
Another, in my case it is only occurring with crate-type bin, I have not seen any issue with libs.

[code]

[2015-03-06 01:52] nrc commented on #18469
@arielb1 yes

[2015-03-06 02:32] dmo2118 opened #23102 "ICE on bad macro definition syntax"
(Not exactly a show stopper here, but the message did say to file a bug report.)

I tried this code:
[code]
I expected to see a syntax error happen. Instead, this happened:
[code]

## Meta
[code]
[code]

[2015-03-06 03:40] Manishearth opened #23103 "LLVM configure doesn't like g++-4.8 anymore"
[code]

I have `g++-4.8` installed. Shouldn't that be enough?

(It used to work)

[2015-03-06 04:23] phaylon commented on #22981
@steveklabnik How are they unchangeable? They are hosted on rust-lang.org.

[2015-03-06 04:51] comex commented on #21724
OS X does support xz by default in its 'tar' command (which is bsdtar - not sure exactly when support was introduced, but I think it was in 10.9) and Archive Utility (apparently newly in 10.10).

[2015-03-06 05:02] blaenk commented on #21070
You can check TempDir now.

[2015-03-06 06:04] nagisa commented on #21724
Are you sure it is not just shelling out to the xz command? Does 'tar xJf
file' work without xz executable in the path?
2015/03/06 6:52 "comex" <notifications@github.com>:

[2015-03-06 06:50] Byron opened #23106 "empty `# ` in doc-test causes failure"
When using the following as module level or item level doc test (module level shown in example) ...
[code]
... the generated markdown looks like this ...
![screen shot 2015-03-05 at 13 03 10](https://cloud.githubusercontent.com/assets/63622/6504468/03f35f36-c338-11e4-8c48-02c8bbd47d4f.png)
... and the output of `cargo test` like that:
[code]

If the empty hidden line `# ` is removed, it will work

[2015-03-06 06:55] TyOverby commented on #23068
Glutin isn't building either.

[code]

# Stacktrace

[code]

[2015-03-06 07:07] mikedilger commented on #23053
I hit this trying to compile glutin.
rustc 1.0.0-nightly (3b3bb0e68 2015-03-04) (built 2015-03-05)

[2015-03-06 07:21] chlai88 opened #23108 "Order of code affects lifetime resolution"
This playpen code snippet now fails in compile : [playpen](https://play.rust-lang.org/?code=%23!%5Ballow%28unused_variables%29%5D%0Astruct%20Handle%3C%27a%3E%28Option%3C%26%27a%20DropCanary%3E%29%3B%0A%0Aimpl%3C%27a%3E%20Handle%3C%27a%3E%20%7B%0A%20%20%20%20pub%20fn%20set_data%28%26mut%20self%2C%20data%3A%20%26%27a%20DropCanary%29%20%7B%0A%20%20%20%20%20%20%20%20self.0%20%3D%20Some%28data%29%3B%0A

[2015-03-06 07:33] michaelwoerister commented on #23089
Yes, driver::write_out_deps() probably needs to add a FileMap::is_imported() check to filter out files from other crates. I haven't had time to look into this in detail though.

On March 5, 2015 11:38:23 PM CET, Alex Crichton <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-03-06 09:15] tshakah commented on #23075
I'm also having the same problem trying to compile openssl-sys 0.5.1

[2015-03-06 09:32] Thiez commented on #23108
I think this is intended. Because items are destroyed in the opposite order that they are created when they go out of scope, the `DropCanary` must live strictly longer than the `Handle`, or otherwise the `Handle` destructor could see a dropped canary :)

[2015-03-06 10:37] pnkfelix commented on #23108
This is all by design.  See #21657 and https://github.com/rust-lang/rfcs/pull/769

[2015-03-06 10:37] #23108 closed

[2015-03-06 10:45] pnkfelix commented on #23108
(If we had a way to attach a lifetime to a struct `Handle <'a>` where the lifetime did not have to outlive the srruct value itself, then this code could be made to work.  There are not plans currently to add such a feature as of right now, though.

[2015-03-06 10:47] pnkfelix commented on #23108
Note also that the reason it is okay to put them on the *same* line is because Handle does not implement Drop.

[2015-03-06 11:06] hauleth opened #23110 "Compiler panic on two-line feature gate"
Compiler panics when I have separate lines for feature gates.

I tried this code:

https://github.com/hauleth/inter/blob/compiler-error/src/lib.rs (sorry for the project link, but I cannot reproduce it in any other environment)

When I try to compile any examples or tests I get (output for `cargo test`):

[code]

### Code fixup

It is fixed in master by joining [feature gates in one call](https://

[2015-03-06 11:30] nicolas-cherel opened #23111 "ICE when missing lifetime anotation on following code"
ICE (panic) when compiling following code, adding lifetime to ValuesIter (as in commented line) fixes the crash

[code]

## meta

[code]

Backtrace

[code]

[2015-03-06 11:38] pnkfelix opened #23112 "struct order of eval is (still) not well"
Executive summary:

This code fails in its assertion:
[code]
[playpen link](http://is.gd/fM4fSf)

----

Longer fun story:

You might think from our test suite that struct literal order of evaluation is being tested.

E.g. there are the two tests:

 * https://github.com/rust-lang/rust/blob/master/src/test/run-pass/struct-order-of-eval-1.rs
 * https://github.com/rust-lang/rust/blob/master/src/test/r

[2015-03-06 11:40] pnkfelix commented on #23112
Oh, in case its not clear: The only reason that the [struct-order-of-eval-1.rs](https://github.com/rust-lang/rust/blob/master/src/test/run-pass/struct-order-of-eval-1.rs) has been passing at all is because of: zeroing-on-drop.

I.e. the `s.to_string()` call runs on zeroed data, and naturally determines that we must be looking at an empty string.

[2015-03-06 11:45] pnkfelix commented on #23112
Here is a more robust way to be writing tests of order-of-evaluation: Actually store them in an event log.

Demo: http://is.gd/qcBhbH

[2015-03-06 11:48] pnkfelix opened #23113 "consider linting test/run-pass/*.rs to ensure all have assert/assert_eq"
spawned off of the story in #23112

We should consider making the compiletest system reject `run-pass` tests that contain no calls to `assert!` nor `assert_eq!`

(Better still would be to also reject if no such call is reached during an execution of the test, but that would probably require we add testing-specific assertion macros.)

We could add a comment flag to allow tests to opt out of this re

[2015-03-06 11:49] pnkfelix commented on #23113
(of course, one cannot stop people from writing weak tests via such requirements, since they may just put in silly assertions.  but then again, I think a silly assertion will stick out more during the review process than the absence of any assertion will.)

[2015-03-06 12:22] FlaPer87 commented on #23080
iiuggh, this is bad. Yeah, they are not supposed to have any methods. I'll take a look at this (hopefully in the next few days).

[2015-03-06 12:38] semarie opened #23114 "rustdoc compilation error for aarch64-linux-android"
the compilation of rustdoc crate for target `aarch64-linux-android` failed to compile.

it seems the `os` module in crate isn't defined for `target_os="android"`. But as I don't have this platform, I can't check how implement it.

[code]

[2015-03-06 13:23] Manishearth opened #23115 "Overflow in span subtraction / astencode"
https://travis-ci.org/GuillaumeGomez/rust-GSL/builds/53335854

[code]

Offending code:

[code]

and the code calling it:

[code]

We might want a bounds check there (resolving to 0?), but there seems to be something broken in the astencode code too.

cc @GuillaumeGomez @pnkfelix

[2015-03-06 13:36] nikomatsakis opened #23116 "ref mut bindings fail to enforce invariance"
As originally "reported" [here](https://github.com/rust-lang/rfcs/pull/803#issuecomment-77545262), ref mut bindings are not working properly:

[code]

[2015-03-06 13:37] pnkfelix commented on #23110
triage: P-high

not 1.0 blocker.  (Tempted to make it P-low, but I think all ICE's should probably get at least P-high).

[2015-03-06 13:46] nikomatsakis commented on #23116
triage: P-backcompat-lang (1.0 beta) -- soundness violation

[2015-03-06 14:04] pnkfelix commented on #23115
exciting!  Another entry for the bug log.

[2015-03-06 14:10] apasel422 opened #23118 "Traits can no longer be mutually dependent"
Before #23026, it was possible to use where clauses to have traits that must be implemented together, like:
[code]
The new version (using either the newly supported supertrait syntax or where clauses) now causes a cycle error:
[code]
This is expected, based on @nikomatsakis's comment in the PR:

However, this seems like a useful pattern.

[2015-03-06 15:16] nikomatsakis commented on #23112
Oh dear. :umbrella:

[2015-03-06 15:34] kjpgit opened #23120 "panic find scope info for node NodeExpr"

[2015-03-06 15:35] #23120 closed

[2015-03-06 15:35] kjpgit commented on #23120
I mean to do a search.  But it looks like I hit 23068.

[2015-03-06 15:48] ninjabear commented on #23075
I'm having the same problem as @tshakah, openssl-sys 0.5.1, slightly different nightly though ```rustc 1.0.0-nightly (b0746ff19 2015-03-05) (built 2015-03-06)```, same version of ubuntu

[2015-03-06 16:08] aatxe commented on #23075
I'm having the exact same issue in my IRC library with openssl-sys 0.5.1. When compiling without it, the same ICE happens in my own code.

[2015-03-06 16:18] nikomatsakis opened #23121 "Tracking issue for RFC #495 (features `slice_patterns` and `advanced_slice_patterns`)"
# New tracking issue: https://github.com/rust-lang/rust/issues/62254

# Old content

Tracking issue for https://github.com/rust-lang/rfcs/pull/495
## Breaking Changes

This RFC is a breaking change for most users of slice patterns. The main change is that slice patterns now have the type `[_]` instead of `&[_]`.

For example, in the old semantics

[code]

the `[a, b..]` would have the type `&[u8]`

[2015-03-06 16:21] nikomatsakis commented on #23121
triage: P-backcompat-lang (1.0 beta) -- at least for the backwards incompatible parts of rust-lang/rfcs#495. This is something of a nice to have, we can live with it if it doesn't get done.

[2015-03-06 16:27] nikomatsakis commented on #23116
Another test case:

[code]

[2015-03-06 16:32] laijs opened #23122 "Infinite recursion with associated type bounded by its trait"
[code]

[2015-03-06 17:05] nikomatsakis commented on #23116
This is a little bit more complex than I originally gave it credit for. In particular, the interaction between `let ref` and coercion is sort of non-obvious. Rather than trying to be too smart, I am currently thinking that I will apply a very simple rule of this form: if there are no ref bindings, we permit coercion on `let` and subtyping in general. Otherwise, we do no coercion on let and require

[2015-03-06 17:47] yann-ledu opened #23123 "Playpen highlighting bug"
Code appears red but should not. Due to lifetime 't at the end.

http://is.gd/0BZZ2o

[2015-03-06 18:04] alexcrichton commented on #23089
No worries! I did precisely that in https://github.com/rust-lang/rust/pull/23090 :)

[2015-03-06 18:22] cbcrouch commented on #23053
This single line of code will cause the error:

let five_mut = Arc::new(Mutex::new(5));

rustc 1.0.0-dev (1fe8f2214 2015-03-06) (built 2015-03-06)
binary: rustc
commit-hash: 1fe8f221450bad3ffb1351c6549f67c18ce0b94e
commit-date: 2015-03-06
build-date: 2015-03-06
host: x86_64-unknown-linux-gnu
release: 1.0.0-dev

[2015-03-06 19:22] michaelwoerister commented on #23075
:police_car: Woh! Here comes the dupe-police! :police_car: :police_car:
This is a duplicate of #22432, a fix is already in the queue: #23074
Thanks for reporting! Keep your eyes open, citizens!

[2015-03-06 19:22] #23075 closed

[2015-03-06 19:23] michaelwoerister commented on #23068
:police_car: Woh! Here comes the dupe-police! :police_car: :police_car:
This is a duplicate of #22432, a fix is already in the queue: #23074
Thanks for reporting! Keep your eyes open, citizens!

[2015-03-06 19:23] #23068 closed

[2015-03-06 19:24] michaelwoerister commented on #23053
:police_car: Woh! Here comes the dupe-police! :police_car: :police_car:
This is a duplicate of #22432, a fix is already in the queue: #23074
Thanks for reporting! Keep your eyes open, citizens!

[2015-03-06 19:24] #23053 closed

[2015-03-06 19:28] Ogeon commented on #23053
Thank you, officer!

[2015-03-06 19:47] alexcrichton commented on #23103
You may want to check `config.log` in the LLVM build directory, it will likely have some more detailed information.

[2015-03-06 19:58] nikomatsakis commented on #23118
On Fri, Mar 06, 2015 at 06:10:52AM -0800, Andrew Paseltiner wrote:

Why not merge the two traits, if implementing one always implies
implementing the other? I think we could lift the restriction on
acyclic supertraits, but it would have some implications elsewhere to
do so, such as vtable layout and so forth. Alternatively, we could
continue to distinguish supertraits from traits appearing with `S

[2015-03-06 20:20] mikedilger commented on #23041
probably a dup of #22897

[code]

[2015-03-06 20:30] mlalic opened #23128 "Unexpected panic: could not find scope info for `MUTEX_INIT`"
The bug manifests itself when trying to build the master branch of the following repo: https://github.com/mlalic/solicit

From what I can tell by shortly inspecting the error message, it's caused by the static initialization of the `MUTEXT_INIT` at line number 177 in [`libstd/sync/mutex.rs`](https://github.com/rust-lang/rust/blob/master/src/libstd/sync/mutex.rs#L177)

The following is the full err

[2015-03-06 20:35] apasel422 commented on #23118
For this specific example, I'd like to allow multiple implementations of `Lookup` but require types to implement `Map` only once. In other words, all types that implement `Map` must implement `Lookup<<Self as Map>::Key>`, but may also provide alternate key lookups. This corresponds to lifting `Q` from the `fn get<Q: ?Sized>(&self, key: &Q) -> Option<&V>` found in most current concrete map types in

[2015-03-06 20:40] nikomatsakis commented on #23116
Some comments on my current plans (from the commit):

 When matching against a pattern (either via `match` or `let`) that

contains ref-bindings, do not permit any upcasting from the type of
the value being matched. Similarly, do not permit coercion in a `let`.

This is a [breaking-change] in that it closes a type hole that
previously existed, and in that coercion is not performed. You should
be a

[2015-03-06 20:45] dirkson opened #23129 "Compile panic when dealing with glfw"
Hi all!

Fresh install of rust from nightlies, fresh hello world program. Attempted to add Piston glfw ( https://github.com/PistonDevelopers/piston ) as a dependency, and had the compiler panic when trying to build glfw. Cargo told me to file a bug, so here I am!

Version:
rustc 1.0.0-nightly (b0746ff19 2015-03-05) (built 2015-03-06)

Here's the build with --verbose and backtrace:

       Fresh lo

[2015-03-06 20:45] jdm commented on #23129
Dup of #22432.

[2015-03-06 20:45] #23129 closed

[2015-03-06 20:46] jdm commented on #23128
Dup of #22432.

[2015-03-06 20:46] #23128 closed

[2015-03-06 21:01] Jragonmiris opened #23130 "Something (cargo? rustc?) generates a load of tmp files, and doesn't delete them"
I've been having issues with something generating hundreds of tmp files. They're relatively small (<2 MB each), but they really pollute the src directory. I believe this has been happening on Windows (Windows 7 64-bit with msys MinGW), but I can't confirm whether or not it's been happening on Mac or Linux as well.

I noticed today when a Dropbox I was using for a quick shared toy project said it h

[2015-03-06 21:43] arielb1 commented on #18469
@nrc

You can involve type inference quite deeply here:
[code]

[2015-03-06 21:53] arielb1 opened #23131 "Crazy type inference problems fixed by adding parentheses"
[code]

This gives the crazy error:
[code]

How did `()` get there?

[2015-03-06 22:00] kmcallister commented on #19315
Is it linked from anywhere?

[2015-03-06 22:19] blaenk opened #23133 "internal compiler error"
Building the latest version of the `notify` crate ([1.2.0](https://crates.io/crates/notify/1.2.0)) yields an internal compiler error.

[code]

output:

[code]

[2015-03-06 22:24] blaenk commented on #23133
I actually encountered an ICE with this library when attempting to change this:

[code]

to this:

[code]

This caused an ICE, so I decided not to make that change yet. Updating to the nightly in the first post from ` rustc 1.0.0-nightly (b4c965ee8 2015-03-02) (built 2015-03-03)` yielded this ICE without changing any code though.

[2015-03-06 22:33] blaenk commented on #23133
I just tested it and it works with the nightly from 2015-03-04, so it's the most recent nightly 2015-03-05 which I believe causes the problem.

[2015-03-06 22:57] carllerche opened #23134 "TcpStream (and probably more std::net types) missing Debug impl"
It seems like these types could implement Debug (allowing structs that contain std::net values to be able to derive Debug).

cc @alexcrichton

[2015-03-06 22:57] rprichard commented on #9970
I think this issue is already fixed -- `format!` no longer uses `\` as an escape character.  Instead, `{{` and `}}` are escape sequences.

[2015-03-06 23:00] alexcrichton commented on #9970
I believe so as well, thanks @rprichard!

[2015-03-06 23:00] #9970 closed

[2015-03-06 23:07] steveklabnik commented on #22981
Many of the problematic ones are not. Plus, Rustdoc is more than just for the compiler itself. Finally, changing the previous docs would involve making a new release because the SHA of the output would change.

[2015-03-06 23:09] jdm commented on #23133
This looks just like #22432, so I'm surprised that the nightly from 3/4 works.

[2015-03-06 23:11] steveklabnik commented on #19315
Not yet. We wanted to make them more complete first, IIRC

[2015-03-06 23:14] blaenk commented on #23133
Yeah that's weird. It works with this:

[code]

[2015-03-06 23:35] phaylon commented on #22981
@steveklabnik I still don't understand.

This is about old (0.6) documentation being hosted on static.rust-lang.org directly, side-by-side with more current documentation on doc.rust-lang.org, not about anything hosted elsewhere (I'm aware of the MIT situation). People are finding outdated/archived documentation on the official, canonical Rust website, and have no notice that it is very out of dat

[2015-03-07 00:13] nathanaeljones commented on #6842
One of the earliest comments asked about .NET's async system. It's a callback system, like most, but there is a lot of syntactic sugar, and the 3 different systems that are exposed have different levels of overhead.

The most popular is C# async/await, which generates a closure and state machine to provide a continuation callback. Stack and thread context restoration is expensive, but you can opt

[2015-03-07 00:27] Stebalien commented on #22888
Also, changing the function signature to 'mut w: &mut W' fixes this.
[code]

[2015-03-07 00:40] huonw commented on #22981
We could `sed` in a small header (e.g. a piece of javascript) or modify the existing shared JS and manually reupload the online docs. Any docs in the tarballs can/should stay as they are. (Alternatively, we just could remove the outdated docs.)

[2015-03-07 00:56] daogangtang opened #23135 "new ICE"
https://github.com/sfackler/rust-openssl/issues/178

[2015-03-07 01:10] blindley commented on #23130
It may be your editor. Or a plugin for you editor. You wouldn't happen to be using the Rust plugin for Sublime, would you? I had this same thing happening, and that was the source of it.

[2015-03-07 01:44] jdm commented on #23135
Dup of #22432.

[2015-03-07 01:44] #23135 closed

[2015-03-07 02:53] japaric opened #23136 "regression in regionck / lifetime elision - "`T` may not live enough" errors"
### STR

This is an extract from [linalg.rs](https://github.com/japaric/linalg.rs/tree/19acc2c45861d3747f40763bfc3e5b921cc7f5cb) (sorry, it's a bit long)

[code]

### Stderr

[code]

---

Both cfg(today) and cfg(yesterday) compile with yesterday's nightly (`(3b3bb0e68 2015-03-04) (built 2015-03-05)`) but cfg(yesterday) fails to compile with today's nightly (`(b0746ff19 2015-03-05) (built 2015-03-0

[2015-03-07 03:07] drewcrawford commented on #23058
This looks good now.

[2015-03-07 03:07] #23058 closed

[2015-03-07 04:04] comex opened #23138 "rustc configure pops up dialog about javac on OS X"
This is a fairly trivial issue, but on current OS X, `javac`, along with other commands from the JDK, is actually a wrapper program which checks if a JDK is installed; if one is not, it quits and pops up this message in the UI:
![](http://i.imgur.com/eZzC8at.png)

The rust configure script checks for javac by attempting to run it, so it produces the dialog, which is a bit annoying.

This is pretty

[2015-03-07 04:17] comex commented on #22310
This appears to cause `core::ptr::write_bytes`, which is a re-export of `intrinsics::set_memory` , to not be listed in the index at all!

[2015-03-07 04:28] Manishearth commented on #23103
I don't have a copy of it pre-installation of gcc, but this is what I have now:

[code]

[2015-03-07 04:57] leifwalsh opened #23139 "current (2015-03-06) rust nightly panics when compiling env_logger 0.2.2"
I have a crate that depends on env_logger, just updated to the latest rust nightly and now I get the following when I try to compile:

https://gist.github.com/leifwalsh/85faf73c7d0d2474acb2

[code]

[2015-03-07 04:59] comex opened #23140 "compiler panic on OS X: 'can't create relative paths across filesystems' (regression)"
The `-C rpath` option, which has always been [nonfunctional](https://github.com/rust-lang/rust/issues/17219) on OS X, now causes a compiler panic.  (I only came across this by accident, because I never removed the option from my makefile after attempting to use it at the time I filed that issue.)
In this case, `relativize` in src/librustc_back/rpath.rs is being called with the arguments "/opt/lru/

[2015-03-07 05:01] theemathas commented on #23139
dupe of https://github.com/rust-lang/rust/issues/23075

[2015-03-07 05:02] leifwalsh commented on #23139
@theemathas thanks

[2015-03-07 05:02] #23139 closed

[2015-03-07 05:10] reem opened #23141 "Add a special case error for `[Range<T>; 1]`"
`[Range<T>; 1]` is usually a mistake and often the source of type errors where `Range<T>` was meant, since you get it with `[a..b]`, which is tempting from the syntax.

[2015-03-07 05:57] #22492 closed

[2015-03-07 05:57] #20007 closed

[2015-03-07 05:57] #22432 closed

[2015-03-07 05:57] #22615 closed

[2015-03-07 05:57] #22879 closed

[2015-03-07 05:57] #23089 closed

[2015-03-07 05:57] #23076 closed

[2015-03-07 05:57] #23059 closed

[2015-03-07 05:57] #23080 closed

[2015-03-07 06:33] theemathas opened #23142 "Match arms are not properly borrow-checked"
These two codes should be functionally equivalent, but only the second one compiles.

[code]

[code]
[playpen](http://is.gd/I2KN7C)

[code]
[playpen](http://is.gd/qzELKU)

[2015-03-07 07:03] huonw commented on #23142
These aren't equivalent: `&*` cannot be split apart, in general. The first code is equivalent to:

[code]

And hence requires creating a "full" `Foo` value on the stack, in `tmp`.

[2015-03-07 07:03] #23142 closed

[2015-03-07 08:49] rprichard commented on #22932
If we make single-argument `panic!` use the formatting system like `write!`, then we need an alternate syntax for the current single-argument `panic!` in libstd, so we can still do things like:
[code]
Maybe add a `panic_arg!` or `panic_any!` macro?

The other thing needed for this issue is some way to convert a format string to an output string:

 * A new `format_arg!` macro.  (I suggest `format_a

[2015-03-07 09:15] isurakka commented on #23115
Got similar error but with different caller.

[code]

[2015-03-07 09:52] Thiez commented on #23141
In theory `&[0..10]` *could* be correct in a for loop...

When using this program:
[code]
the current error message appears to be
[code]
Surely that is understandable ("Why is the iterator in a length-1 array? Oh, better remove the `[]`").
What bothers me more is that both messages show up three times, and count as 3 errors...

[2015-03-07 10:50] manuels commented on #23076
Great, thanks guys!

[2015-03-07 11:49] Manishearth commented on #23115
`new_span` is just a wrapper around `tr_span`, so it's the same bug :)

(hopefully)

[2015-03-07 12:17] Manishearth commented on #23115
@isurakka What was the code you were compiling?

Perhaps the following lines:

[code]

should be

[code]

That would explain why this underflow didn't break anything before. I've never seen an underflowed span in rustc output.

The function was introduced in #22235, @michaelwoerister do you think that the above fix is enough?

[2015-03-07 12:23] #4361 closed

[2015-03-07 12:23] #12862 closed

[2015-03-07 12:23] #14070 closed

[2015-03-07 12:23] #14967 closed

[2015-03-07 12:50] isurakka commented on #23115
I was compiling [glium](https://github.com/tomaka/glium).

[2015-03-07 13:01] michaelwoerister commented on #23115
@Manishearth Normally this should not make a difference, since at this point `span.lo` should always be greater than or equal to `imported_filemaps[filemap_index].original_start_pos`. It would be interesting to see what the span and filemap in question look like.

Anyway, I actually would not swap the additions and subtractions here. It would probably get rid of the underflow, but we actually want

[2015-03-07 13:03] Manishearth commented on #23115
Yeah, that's what I was unsure of. I might have a look at this later (not now, busy)

[2015-03-07 13:06] michaelwoerister commented on #23115
@Manishearth That would be great. I won't have time to look into this until Wednesday.
@pnkfelix It looks like a legitimate entry for your list `:)`

[2015-03-07 14:45] Manishearth opened #23147 "Rust doesn't build in debug mode"
https://gist.github.com/GuillaumeGomez/63280240ff65fdff6a6e

[code]

cc @GuillaumeGomez @michaelwoerister

[2015-03-07 15:08] jdm commented on #23147
Dup of #22432.

[2015-03-07 15:08] #23147 closed

[2015-03-07 15:33] jakerr opened #23148 "Misspelled "macro_use" unknown attribute errors are hidden by undefined macro errors."
Simply misspelling an attribute gives a pretty good error message that would put the user on the right track:

[code]

However, in the case of `#[macro_use]` misspelling it **and also** attempting to use macros from the import cause the "undefined macro" error to show up, but the "unknown attribute" error to no longer appear so it can be hard to find why the macro appears missing.

For example:

[

[2015-03-07 16:19] WiSaGaN opened #23149 "Internal Compiler Error when creating a closure for a thread using SyncSender/Receiver"
Can't find an exact match for the issue, so create a new one here. Feel free to close it as a duplicate if it's the case.

/home/rustbuild/src/rust-buildbot/slave/nightly-dist-rustc-linux/build/src/libstd/sync/mutex.rs:177:37: 180:2 error: internal compiler error: debuginfo: Could not find scope info for node NodeExpr(Expr { id: 9643, node: ExprStruct(Path { span: Span { lo: BytePos(4553805), hi:

[2015-03-07 16:55] jdm commented on #23149
Dup of #22432.

[2015-03-07 16:55] #23149 closed

[2015-03-07 17:19] Gekkio opened #23150 "f64 formatting panic with 'arithmetic operation overflowed'"
Here's a minimal example which results in a runtime error:
[code]

I'd expect that format string to work (precision=0, so no digits after the decimal point), but here's what I get with RUST_BACKTRACE=1:

[code]

Ubuntu 14.10 / 64-bit
rustc 1.0.0-nightly (b0746ff19 2015-03-05) (built 2015-03-06)
binary: rustc
commit-hash: b0746ff19b3bc204215f04bbb5756159f9bc5c92
commit-date: 2015-03-05
build-date:

[2015-03-07 17:30] kmcallister commented on #22814
The main parser won't even parse `SubstNt` at the moment, which is a [known weirdness](https://github.com/rust-lang/rust/blob/36cd65f78665b992e67ef941ee0aed6522ef1a8c/src/libsyntax/ext/quote.rs#L781-L785). Maybe that should be fixed along with this issue.

[2015-03-07 17:31] bluecube opened #23151 "Compiler crash when matching generic enum"
<short summary of the bug>

I tried this code:

[code]
and it gave me this message:

[code]

I have git version of rust from package in funtoo linux.
When I tried the code at play.rust-lang.org the example produced compiler error, but not a crash.

## Meta

`rustc --version-verbose`:
[code]

Backtrace:
[code]

[2015-03-07 17:44] tommit commented on #5873
Let me get this straight. Rust doesn't allow using c-like enum variants in compile-time evaluation contexts in general, unless the user opts-in to this workaround you've pointed out. Library writers don't know which ones of their public c-like enum variants might be needed to be used as compile-time constants, so they'd have to explicitly specify the values for each variant.

To me this is clearly

[2015-03-07 17:54] mahkoh commented on #23136
This does not necessarily look incorrect. After some thought and help from @eddyb I've come up with this:

[code]

[2015-03-07 17:55] mahkoh commented on #23136
Diff:

[code]

[2015-03-07 18:00] eddyb commented on #23136
@mahkoh does it work if you replace `PhantomData<fn() -> X>` with `PhantomData<X>`?
The main issue I see so far is `&'a T` vs `&'a mut T` - the latter is invariant over T (in &'a mut Foo<'b>`, you can shorten `'a` but not `'b'` - we need a FAQ entry about this).

[2015-03-07 18:03] vojtechkral opened #23152 "Thunk undocumented"
http://doc.rust-lang.org/std/thunk/index.html

What even is `Thunk`?

[2015-03-07 18:03] lifthrasiir commented on #23150
It also happens with 9.5 but not with 9.499. The formatting routine tries to round, but fails to handle the case that rounding extends the digits.

[2015-03-07 18:04] mahkoh commented on #23136
@eddyb: `PhantomData<&'a T>` requires an unnecessary `T: 'a` bound which will cascade through the type system for no good reason. The code I posted above already does work, `SliceMut` is indeed supposed to be invariant over `T`.

[2015-03-07 18:14] sfackler commented on #23152
cc @steveklabnik

[2015-03-07 18:18] steveklabnik commented on #23152
Yes, it is unstable, and so will get documentation when it becomes stable. They're for use with closures. http://en.wikipedia.org/wiki/Thunk

[2015-03-07 18:18] #23152 closed

[2015-03-07 18:19] eddyb commented on #23136
@mahkoh I don't understand how `fn() -> &'a T` is supposed to be any different from `&'a T` - that seems like a bug.
Also, do we really need to keep `T: 'a` and `'a: 'b` explicit?
I've always thought @nikomatsakis was planning to add the automatic bounds back.

[2015-03-07 18:24] kmcallister commented on #23130
What are the contents of those files?

[2015-03-07 18:26] eddyb commented on #23152
It's [https://github.com/rust-lang/rust/blob/b8c6eb179e9e792c5470abbe2b6eeadc16f34565/src/libstd/thunk.rs#L11-L12]("temporary") (although that word has long lost its meaning, certain values of it are rather "eternal").

@nikomatsakis I thought you had a better less-than-perfect solution, using a `FnBox` trait - it's even [on crates.io](https://crates.io/crates/fn_box), why are we not using that?
A

[2015-03-07 18:35] mahkoh commented on #23136
IRC summary: You can create functions `fn() -> &'static T` with `T` not `'static`, which is why the code above does not require `T: 'a`. Example:

[code]

[2015-03-07 18:39] ben0x539 commented on #23131
control-flow-ish expressions default to being statements if they can, so there's basically an invisible semicolon there. i think this is just a grammar issue and not a type system issue.

[2015-03-07 19:25] rprichard commented on #22492
Cargo has a [profile setting](http://doc.crates.io/manifest.html#the-[profile.*]-sections), "debug = false", that passes `--cfg ndebug` to `rustc`.  [Link to code.](https://github.com/rust-lang/cargo/blob/4f9bf542466982085decc605402ee312f4328571/src/cargo/ops/cargo_rustc/mod.rs#L610)  Should this be changed to `--cfg debug_assertions`?

[2015-03-07 19:41] rprichard commented on #22492
This specific change is probably wrong, but maybe Cargo should not be passing `--cfg ndebug` anymore.

[2015-03-07 19:52] mahkoh commented on #23133
One of my crates broke in the latest nightly with this bug when I use `cargo build`. `cargo test` has been broken for weeks.

[2015-03-07 20:31] tikue commented on #5873
It's backwards compatible to add implicit ordinals, no?

[2015-03-07 21:18] shepmaster commented on #23151
@bluecube just in case you are stuck because of this, this is how that code would normally be written, and it does work. Note the lack of type definitions:

[code]

[2015-03-07 21:20] Jragonmiris commented on #23130
Yes, looking at my Dropbox while I edit, it's the Sublime plugin, sorry.

[2015-03-07 21:20] #23130 closed

[2015-03-07 21:43] simias opened #23154 "Unary `-` does not check for overflow"
The following code prints `-2147483648 -2147483648`:

[code]

Both `0 - i` and `i / -1` generate an overflow error but it seems the unary `-` gladly wraps around.

[2015-03-08 00:21] csherratt opened #23155 "A SIMD add will ICE the compiler."
Error:
[code]

Code to reproduce:
[code]

[2015-03-08 00:48] rprichard commented on #22932
I found a mistake in a [libstd test case](https://github.com/rust-lang/rust/blob/e64670888a2839ba75237b1934c440c4c319b1bb/src/libstd/num/mod.rs#L1636) that would presumably have been avoided were this issue fixed:
[code]
The last line should be `assert_eq!` for consistency (or maybe they should all use plain `assert!`).  The test still checks the right thing anyway.  I'll submit a PR.

What I was

[2015-03-08 02:36] nrc opened #23157 "glob imports ignore private items"
This is a bug if the importing module should be able to see the private items. E.g.,

[code]

I think there is a backwards compatibility hazard here, because if there is already an item called `Foo` in `sub` then we currently get no error, but we ought to get a name clash (unless we allow shadowing in this case).

triage: I-nominated

[2015-03-08 02:40] identicalsnowflake opened #23158 "warning: function is never used: `main`"
Not sure if this is somehow Cargo doing this or if it's rustc, but when I do "cargo new --bin myproject" then "cargo test", it tells me "warning: function is never used: `main`, #[warn(dead_code)] on by default"

[2015-03-08 02:55] theemathas opened #23159 "ICE with invalid default associated type"
Discovered by insaneinside on IRC.
Reduced test case by me.
[code]

[2015-03-08 03:08] sfackler commented on #23158
I believe this is a duplicate of #12327

[2015-03-08 04:30] steveklabnik commented on #23158
Yes, it is.

[2015-03-08 04:31] #23158 closed

[2015-03-08 04:31] steveklabnik commented on #23158
(And I'm still interested in landing such a patch)

[2015-03-08 05:00] andydude commented on #23155
I think this is a duplicate of https://github.com/rust-lang/rust/issues/23037

[2015-03-08 06:00] drewcrawford opened #23164 "Rustdoc fails silently when #![cfg(test)] is used"
I have a sample library.  Also available [here](https://github.com/drewcrawford/test-bad-documentation)

[code]

[code]

Okay, but where's the documentation?  Maybe rustdoc is failing?

[code]

Nope.  It turns out that the line `#![cfg(test)]` causes rustdoc to fail to generate documentation without emitting any error.

[code]

[2015-03-08 06:01] drewcrawford commented on #23164
I'm dumb.

[2015-03-08 06:01] #23164 closed

[2015-03-08 06:13] SiegeLord opened #23165 "--emit dep-info produces useless rules"
Consider a simple Rust file with the filename `test.rs`:

[code]

Running `rustc --emit dep-info test.rs` on that file produces a dependency file with the following contents:

[code]

Which is hardly useful for the purposes of actually getting the dependencies of the produced binary.

I think this is a design mistake of putting `dep-info` as an emit type and not a standalone flag. The best work-ab

[2015-03-08 06:23] SiegeLord commented on #23165
Another work-about is to do `rustc -Zno-analysis --emit dep-info,link test.rs`, which, despite being a bit bizzare (is it really ok for one option to ask you to emit something, and another to partially sabotage it?), does not require post-processing.

[2015-03-08 06:31] rprichard opened #23166 "Compiler Plugins example in Rust Book does not compile"
Compiling the [current version of roman_numerals.rs](https://github.com/rust-lang/rust/blob/97ca2a1ee919d740ace6f405958beb7b4137e5d6/src/doc/trpl/plugins.md#syntax-extensions) produces:
[code]
I'll submit a PR with a fix once I've run `make check` on it...

[2015-03-08 07:10] GBGamer opened #23168 "In libcore/panicking.rs, in the example for panic_fmt"
`uint` is used instead of `usize`
`panic_impl` is used instead of `panic_fmt`

I'll fix these tomorrow if no one has.

[2015-03-08 07:11] GBGamer opened #23169 "The book, unsafe, using libcore, example is wrong for panic_fmt"
It should be `fn panic_fmt(_: core::fmt::Arguments, _: &(&'static str, usize)) -> ! {}` according to libcore's `panicking.rs`.

Also, whenever I use core without `#![no_main]`, I get an llvm error; Am I doing something wrong?

http://is.gd/p71qD2

Sorry, I know that isn't really related at all :P

[2015-03-08 07:28] #23168 closed

[2015-03-08 07:32] GBGamer commented on #23169
Wait, nevermind, I am a dumb.

[2015-03-08 07:32] #23169 closed

[2015-03-08 07:38] LorenVS commented on #14926
I think this issue might need to be re-opened... As part of the IO reform, I believe a shutdown method was supposed to be added to UdpSocket (the docs for std::io::Shutdown mention that it should exist). However, the method doesn't exist yet, and rfc 807 appears to be closed

[2015-03-08 07:59] XMPPwocky commented on #23084
Appears fixed with glium on today's nightly.

[2015-03-08 08:03] rprichard commented on #23084
I wonder whether the overflow in the compiler was actually fixed, or whether we just stopped enabling overflow checks in the compiler.  I think `-O` recently changed so that it disables overflow checks.

[2015-03-08 09:28] rprichard commented on #21715
If I understand correctly, the problem is that `"show-span"` is missing from the `getopts::Matches` here in `run_compiler`:
[code]
It's missing due to the way we parse unstable options in `handle_options`:

1. First we try to parse command-line arguments using an `[OptGroup]` that only defines the stable options.  If we succeed, then we return a `getopts::Matches` that only records the results for

[2015-03-08 09:33] theemathas opened #23172 "JoinGuard should not panic in its destructor when unwinding another panic."
Currently, when the destructor of a `JoinGuard` runs, it will panic if the associated thread is panicking. (This is [not properly documented](http://doc.rust-lang.org/nightly/std/thread/struct.JoinGuard.html))

The problem is that when another panic is happening and the `JoinGuard`'s thread is also panicking, the program double-panics and aborts.

At least, I would like the `JoinGuard` to avoid do

[2015-03-08 09:43] nukep opened #23173 "ICE when passing nonexistent literal enum reference"
The compiler seems to raise a ICE whenever an enum literal reference that's passed directly as a function parameter is missing or misspelled:

[code]

[code]

Version:
[code]

---
The compiler seems to only panic when the enum is misspelled or missing, and passed directly as a function argument. The following (erroneous) code will not cause any compiler panics:

[code]

[code]

[2015-03-08 10:18] tuxychandru opened #23174 "Add read_full to std::io::ReadExt"
Since the `read` function of `std::io::Read` may read less than the length of the buffer passed to it, adding a function named `read_full` which calls `read` in a loop until the buffer is filled can be useful.

[2015-03-08 10:29] bluecube opened #23175 "ICE (failed assertion) when taking mutable references to enum contents"
I tried this code:

[code]

And got the following message:
[code]

The snippet is probably wrong, but the assert should not fail

## Meta

[code]

Backtrace:
[code]

[2015-03-08 10:51] bluecube commented on #23151
Thanks, @shepmaster.

[2015-03-08 11:07] bombless commented on #23151
[code]
This is also supported.
The ICE should have been fixed in <https://github.com/rust-lang/rust/pull/22544>, so later build won't have this problem.

[2015-03-08 11:20] sylvestre opened #23177 "Cannot bootstrap rustc alpha 2 with itself"
Building rustc alpha 2 with rustc fails with:
[code]

Process:
1) build rustc alpha2
2) install it
3) uses this version to build alpha2
4) fails

[2015-03-08 11:40] pnkfelix commented on #5873
@tommit compiler bug != language feature

[2015-03-08 11:56] michaelwoerister commented on #23115
I've taken a short look at this but I'm having a hard time reproducing the ICE.

[2015-03-08 12:01] dan-t opened #23178 "OpenOptions::tuncate(true) != File::open_mode(..., io::Truncate, ...)"
I'm porting some code to Rust 1.0 and found a difference in the current and
the previous behaviour of truncating files.

Previously I had:

    File::open_mode(file, io::Truncate, io::ReadWrite)

and now I have:

    OpenOptions::new()
        .truncate(true)
        .read(true)
        .write(true)
        .open(file)

The previous version also worked if the file at 'file' wasn't present,
in this

[2015-03-08 12:10] steveklabnik commented on #23177
The Rust compiler uses snapshots for stage0, it's not expected to be able to build itself with itself in the general case.

[2015-03-08 12:10] #23177 closed

[2015-03-08 12:16] pnkfelix commented on #5873
I might be wrong on this point; I will check more carefully when I am in front of a computer again

[2015-03-08 12:58] steveklabnik commented on #23092
/cc @nikomatsakis

[2015-03-08 13:09] steveklabnik commented on #23123
Closing in favor of https://github.com/rust-lang/rust-playpen/issues/77

[2015-03-08 13:09] #23123 closed

[2015-03-08 13:10] steveklabnik commented on #23064
I haven't gotten to documenting any of this yet, so I will be improving them then. Thanks!

[2015-03-08 13:10] #23064 closed

[2015-03-08 13:11] steveklabnik commented on #23061
It's also useful for plugins like Racer.

[2015-03-08 13:11] steveklabnik commented on #22708
This is a dup of https://github.com/rust-lang/rust/issues/23052

[2015-03-08 13:11] #22708 closed

[2015-03-08 13:18] steveklabnik commented on #23054
[code]

Basically, there's both of these lines. So `rustdoc` is showing that first one as `copy_memory` rather than `copy`.

[2015-03-08 13:18] dan-t commented on #23178
Ok, it seems that `OpenOptions` needs an additional `create(true)' to behave in the
same way as `File::open_mode`.

So the bevaviour seems to be intended, but I'm not quite sure what I should
think about the new API, if it will increase errors instead of reducing them.

[2015-03-08 13:23] steveklabnik commented on #22637
Thanks @posixphreak ! In the future, feel free to make two issues for two unrelated things, so we can fix them in two patches if we need to.

[2015-03-08 13:25] steveklabnik commented on #22637
This is not actually a bug, as they're for the generated output, not the in-tree source.

[2015-03-08 13:32] steveklabnik commented on #22569
I'm not 100% sure what this is asking, can you elaborate a bit, please?

[2015-03-08 13:34] steveklabnik commented on #22550
Closing since https://github.com/rust-lang/rust/pull/22973 was merged.

[2015-03-08 13:34] #22550 closed

[2015-03-08 13:36] steveklabnik commented on #22521
Yes, this is intended as a psudeo-reference chapter, like all things in the 'intermediate' section.

I have larger plans for this guide, but this is correct for its current incarnation.

[2015-03-08 13:36] #22521 closed

[2015-03-08 13:37] steveklabnik commented on #22309
Does this macro even exist anymore?

[code]

/cc @kmcallister

[2015-03-08 13:38] steveklabnik commented on #22199
@kmcallister ping! did you look?

[2015-03-08 13:42] steveklabnik commented on #5831
I have backed up the wiki to https://github.com/rust-lang/rust-wiki-backup , so we have a copy, and am disabling it in the main repository. If there's more important content that needs replacing, please open issues. Thanks.

[2015-03-08 13:42] #5831 closed

[2015-03-08 13:43] steveklabnik commented on #18162
I'm going to consider this as part of https://github.com/rust-lang/rust/issues/16676 , thanks.

[2015-03-08 13:43] #18162 closed

[2015-03-08 13:50] dan-t commented on #23178
Thinking about the API of `OpenOptions`, I think it's fine to have an option like `create`,
but having it split into sepeate method calls seems error prone, because you aren't
forced to make a conscious decision.

[2015-03-08 13:53] steveklabnik commented on #14572
triage: re-tagging as 'rustdoc', since we'd need it to be able to do this before adding to the docs

[2015-03-08 13:54] steveklabnik commented on #17191
I'm giving this a close, finally, as it's not even sure that `rand` is staying in the introduction at this point.

[2015-03-08 13:54] #17191 closed

[2015-03-08 13:55] steveklabnik commented on #17346
This doesn't seem to be an actual bug, then.

[2015-03-08 13:55] lifthrasiir commented on #23061
@steveklabnik But only if we have *raw* source code, right? I don't think Racer can consume HTMLized source code files.

[2015-03-08 13:56] steveklabnik commented on #17688
re-tagging as rustdoc since it's a bug in that

[2015-03-08 14:00] steveklabnik commented on #23061
That's what I thought the title was talking about: '`rustc` source code"

[2015-03-08 14:52] tommit commented on #5873
[The Reference](http://doc.rust-lang.org/reference.html#enumerations) claims the following:

From that quote I gather, that given the `enum E { A, B }`, Rust guarantees that `E::A as usize == 0_usize` and `E::B as usize == 1_usize`. If Rust can make those guarantees now in its reference manual, then why can't it make the same guarantees at compile-time?

@pnkfelix You say that it's a language feat

[2015-03-08 14:59] lifthrasiir commented on #23061
Ugh, I think @kmcallister has misunderstood the issue ;) I meant the source code linked from the `[src]` button, which might or might not be useful. We can, as a middle ground, make it optional and link to `doc.rust-lang.org` when unavailable.

[2015-03-08 15:19] Coreknot opened #23189 "internal compiler error: 'rustc' panicked at 'No def'n found for DefId { krate: 0, node: 4 } in tcx.tcache'"
Just started experimenting with Rust, but as soon as I try to use a Module, compilation fails.

Code:
main.rs:
mod person;

fn main() {
        let p = person{ name : "Example" };
        p.say_hello();
}

person.rs:
struct person {
       name : String,
}

impl person {
        fn say_hello(&self){
                  println!("Hello {}", self.name);
        }
}

---

---

rustc 1.0.0-nightly (2fc8

[2015-03-08 15:32] pnkfelix commented on #5873
@tommit I was not attempting to claim that it was a language feature that these aren't compile-time constants.  (I do concede that my earlier response can be interpreted that way.)

I was trying to claim that changing the current language to treat them as compile-time constants *would* be a language feature, and thus should go through the RFC process.  (After all, a ticket like this really isn't t

[2015-03-08 15:34] pnkfelix commented on #5873
reopening and putting on agenda for next meeting; this deserves discussion at the team meeting, if only to get clarification about what guarantees we plan with respect to discriminant value assignment.

[2015-03-08 15:37] #23166 closed

[2015-03-08 16:15] tommit commented on #5873
@pnkfelix Thank you for getting this thing to get sorted out and for clearing up my earlier confusion.

[2015-03-08 16:32] sfackler commented on #17688
Rustdoc now only documents macros at the crate root. The module itself should just be hidden probably.

[2015-03-08 16:47] shepmaster opened #23191 "New IO stdout is not flushed at program exit"
I know that the new IO is being worked on, but I could see this being a sneaky thing that gets lost.

[code]

This code prints nothing. If we use `stderr` instead, there is output.

`rustc 1.0.0-nightly (270a677d4 2015-03-07) (built 2015-03-07)`

[2015-03-08 16:48] Thiez opened #23192 "The online documentation no longer links to the source"
When visiting a page such as [stdlib](http://doc.rust-lang.org/std/) or [option](http://doc.rust-lang.org/std/option/) the link **src** (for the source code) no longer works. Instead a 404 is returned. This seems to have been broken for several days now.

[2015-03-08 16:49] jdm commented on #23189
Apparently we don't properly handle the case of trying to instantiate a structure using the name of a module.

[2015-03-08 16:54] shepmaster commented on #23178
Conversely, your original code didn't indicate that it was OK to *create* the file:

[code]

Which also seems like there wasn't a conscious decision to create it.

[2015-03-08 16:56] kmcallister commented on #22309
[Yes](https://github.com/rust-lang/rust/blob/master/src/libsyntax/ext/source_util.rs#L87-L132). You are grepping the docs where it's missing and not the actual definition, which is a procedural macro.

[2015-03-08 16:57] kmcallister commented on #23061
Yes, that's what I meant as well. Feel free to change the title again if you think it's unclear.

[2015-03-08 16:59] kmcallister commented on #22309
Related: #22621

[2015-03-08 17:06] csoriano89 opened #23193 "Installer doesn't recommend to set LD_LIBRARY_PATH on f21"
So the installer should recommend to modify the LD_LIBRARY_PATH or something.
Using Fedora 21.
This is the session terminal output:

carlos@localhost rust-nightly-x86_64-unknown-linux-gnu$ curl -L https://static.rust-lang.org/rustup.sh | sudo sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Sp

[2015-03-08 17:16] Marwes commented on #20600
Related https://github.com/rust-lang/rust/issues/22531

[2015-03-08 17:21] Marwes commented on #21231
Probably related to https://github.com/rust-lang/rust/issues/23069

[2015-03-08 17:23] Marwes commented on #21210
No longer ICE's on rustc 1.0.0-nightly (2fc8b1e7c 2015-03-07) (built 2015-03-08)
(Correctly identifies A as missing).

[2015-03-08 17:23] #21210 closed

[2015-03-08 17:42] steveklabnik commented on #22309
ahhhhh

[2015-03-08 17:46] alexcrichton opened #23194 "UdpSocket is missing the shutdown method"
Should be easy enough to implement! Good first bug for anyone and I'd be willing to mentor.

[2015-03-08 17:46] alexcrichton commented on #14926
Oops yes this is definitely an oversight, [I've opened a new issue](https://github.com/rust-lang/rust/issues/23194) as this isn't quite appropriate any more.

[2015-03-08 17:53] japaric commented on #23140
I'm seeing the same ICE on Linux if I try to use `rustc`, with cwd = `/tmp` (tmpfs), on a source file that's in my home directory:

[code]
[code]

This was working a few days ago: `rustc 1.0.0-nightly (3b3bb0e68 2015-03-04) (built 2015-03-05)`

[2015-03-08 17:55] alexcrichton commented on #23178
This is currently intentional behavior, and as such I'm going to close this as working as intended. There are two distinct methods of truncating a file, if you do not specify `create` then you're declaring that you can only truncate an existing file where if you specify `create` you're saying that you'll truncate it if it already exists. This distinction was not present in the previous API.

When

[2015-03-08 17:55] #23178 closed

[2015-03-08 17:56] #23155 closed

[2015-03-08 17:56] alexcrichton commented on #23191
Unfortunately this is a duplicate of https://github.com/rust-lang/rust/issues/20012. The buffers would all be properly flushed if we actually ran the `at_exit` callbacks. I'll try to prioritize fixing that this coming week!

[2015-03-08 17:56] #23191 closed

[2015-03-08 18:08] alexcrichton commented on #22569
Functions that take `T: ToSocketAddrs` in the `std::net` module take an object which will be converted to any number of actual `SocketAddr` types. It's not currently clear what these methods do when there are multiple socket addresses that are resolved to.

For example, `TcpStream::connect` will attempt to connect to each address in turn (returning the first that succeeds), but `UdpSocket::send` w

[2015-03-08 18:10] jorisgio opened #23196 "BufReader .consume() confuses the Reader seek point when the buffer is empty"
The behavior of .consume when the buffer is empty is weird :

[code]
while :

[code]

[2015-03-08 18:24] jorisgio commented on #23159
Same issue as #23073

[2015-03-08 18:39] steveklabnik commented on #23131
Yes, I'm not entirely sure this is actually a bug

[2015-03-08 18:41] lahwran commented on #23192
even before this, many but not all were broken. there may be multiple issues with this symptom.

[2015-03-08 18:42] steveklabnik commented on #3170
Yup, seems good.

[2015-03-08 19:05] frewsxcv opened #23198 ".. notation for structs is not covered in Rust book or reference"
For example:

[code]

The `..` notation does not appear in the book or the reference

[2015-03-08 19:06] frewsxcv commented on #23198
Nevermind. Found it in http://doc.rust-lang.org/reference.html#structure-expressions

[2015-03-08 19:06] #23198 closed

[2015-03-08 19:33] frewsxcv opened #23199 "Provide lint that warns .. in struct expression has no effect"
As an example:

[code]

The line containing `..existing` is unnecessary since we already explicitly state all the fields of the struct. Maybe we could have a lint so that something like this gets shown:

[code]

[2015-03-08 19:56] Thiez commented on #23199
I can't really think of a scenario in which this would actually lead to a bug, and it could be useful to do such a useless `..existing` if you intend to add more fields to the struct in the future. Can you think of any bad behavior that the proposed lint would prevent?

[2015-03-08 20:00] aatxe commented on #23194
I've made an attempt at implementing this that builds, but the information I've found on the matter seems to indicate that shutting down a UDP socket doesn't really make sense. That being said, resources indicate that `shutdown` does work on UDP sockets. So, I'm admittedly rather confused.

## It's not useful. ##
See step 5: https://www.cs.rutgers.edu/~pxk/417/notes/sockets/udp.html
https://lists.

[2015-03-08 20:19] LorenVS commented on #23194
I think the goal here is a way to terminate a thread that is dedicated to reading from a UDP socket. Currently, recv_from blocks indefinitely and there is no way to signal it to terminate for a clean shutdown. I believe setting Shutdown::Read would cause the currently blocking recv_from to return with an error, which could be handled to implement clean shutdown.

There was a similar discussion on

[2015-03-08 20:26] frewsxcv commented on #23199
Sorry to answer your question with a question: What bad behavior does warning about unused imports prevent? I thought the lints were prevent against bad behaviors *in addition to* promoting simpler/cleaner code. I don't feel too strongly about my proposal; I just thought of it recently and wanted to know what others thought.

[2015-03-08 21:31] pnkfelix commented on #23199
@frewsxcv are you planning for the lint to only fire if the `..existing` expression has no side-effects?  (perhaps approximated by only having it fire for trivial expressions like identifiers)?  Just curious.

(I personally think the compiler err's on the side of including too many lints; the unnecessary parens and unused imports lints immediately come to my mind.  But then again, one is nearly al

[2015-03-08 21:31] iopq commented on #17022
This is the top search result on this issue, but I'm a little confused on how to fix it. Can you suggest a work-around until it's fixed?

[2015-03-08 22:02] brson opened #23204 ""can't create relative paths across filesystems" regression in rustc when using rpath"
rustc seems to have completely stopped working for me as of `rustc 1.0.0-nightly (270a677d4 2015-03-07) (built 2015-03-07)`. Every compile ends with:

[code]

I am using multirust, which uses the rpath flag to rustc, and I also do my development in a symlinked directory.

[2015-03-08 22:26] tsion opened #23205 "Stdout should be flushed on exit"
See http://is.gd/SH4nll

This fails to print anything since `"hey"` in only written to the buffer and then never printed. Other `BufWriter`s [flush on drop](https://github.com/rust-lang/rust/blob/master/src/libstd/io/buffered.rs#L213-L221) but this isn't happening for `Stdout` at program exit.

[2015-03-08 22:47] frewsxcv commented on #23199
Basically, yes

[2015-03-08 22:50] mahkoh commented on #23204
Related: #23140

[2015-03-08 22:54] ipetkov commented on #23192
The `[src]` links link in the form `/path/to/src/filename.rs.html` but it seems like the actual source is being placed in a location in the form `/path/to/src/filename.rs/filename.rs.html`

For example here's a link from the current docs which will 404: http://doc.rust-lang.org/src/core/option.rs.html

But the following will resolve: http://doc.rust-lang.org/src/core/option.rs/option.rs.html

[2015-03-09 00:07] pnkfelix commented on #3170
wait, @JustAPerson 's example does not seem okay to me.  Reopening.

[2015-03-09 00:08] wesleywiser opened #23207 "The std::fmt module documentation lists the Error struct twice"
http://doc.rust-lang.org/std/fmt/index.html has the `Error` struct listed twice under "Structs" at the bottom of the page.

[2015-03-09 00:15] nikomatsakis commented on #22622
Now that traits with associated types are invariant with respect to their inputs, this example compiles fine.

[2015-03-09 00:15] #22622 closed

[2015-03-09 00:17] #22721 closed

[2015-03-09 00:19] nikomatsakis opened #23208 "supertrait expansion needs normalization"
This example doesn't compile:

[code]

This is because we fail to normalize during supertrait expansion.

[2015-03-09 00:33] huonw commented on #23208
Is the example missing the definition of `TheTrait`?

[2015-03-09 01:35] theemathas commented on #23073
Variant of case 3:

[code]

The difference is that this code is invalid.

[2015-03-09 01:35] theemathas commented on #23159
Closing as dupe

[2015-03-09 01:35] #23159 closed

[2015-03-09 04:24] KiChjang commented on #23194
I'd like to give this one a try. I have a basic understanding of how UDP works, but I still don't understand where everything is in the source code.

[2015-03-09 04:36] alexcrichton commented on #22492
Yes I think cargo needs to grow support for this specific option as well, can you open a bug in the Cargo repo for this feature?

[2015-03-09 04:37] alexcrichton commented on #23154
I added this to the list of unimplemented overflow checks on https://github.com/rust-lang/rust/issues/22020, but thanks for the report!

[2015-03-09 04:37] #23154 closed

[2015-03-09 04:44] alexcrichton commented on #23157
This is currently intentional, there is specific code in resolve to reject any imports of private items. The reason for this is that if an import itself is considered a private item the semantics get really weird very quickly.

For example, all modules import the prelude, so can I import `Option` from *any* module? (yes I'll get an error, but those seem like unusual semantics). I believe this is a

[2015-03-09 04:49] mikeantonacci opened #23212 "compiler panic on "let v[0] = v[1]" where v is a vector"
<short summary of the bug>
I was playing with rust for the first time today and I tried this code:
<code sample that causes the bug>

    fn main(){
        let mut v = vec![5, 6, 5, 4, 3, 2];
        let tmp = v[0];
        let v[0] = v[1];
        let v[1] = tmp;
    }

 <explanation>
In retrospect that shouldn't compile anyway, but when I tried instead of it just being an error the compiler pan

[2015-03-09 04:53] alexcrichton commented on #23204
Yes, I believe this is a dupe of https://github.com/rust-lang/rust/issues/23140

[2015-03-09 04:53] #23204 closed

[2015-03-09 04:55] alexcrichton commented on #23196
Currently the contract of `consume` is that you can only pass a number `>=` the number of bytes you receive from `fill_buf`. In this case the method is never being called, causing the weird behavior.

I believe this is a documentation issue as the documentation for the `consume` method is pretty curt.

[2015-03-09 05:12] alexcrichton commented on #23194
@aaxte yes as @LorenVS mentioned it may not have the best semantics in all situations, but it definitely does something on supported platforms and we largely want to expose it for symmetry with the TCP primitives.

@KiChjang the methods would be added to [`src/libstd/net/udp.rs`](https://github.com/rust-lang/rust/blob/master/src/libstd/net/udp.rs) and you could follow similar delegation patterns t

[2015-03-09 06:00] viperscape commented on #23084
I received this overflow on the new rust build, I ended up changing a function from usize to accept i8, instead of using "as i8" inside the function-- which solved the issue for me

[2015-03-09 06:37] nrc commented on #23157
That seems reasonable in general, but I think the rule ought to be that globs only import accessible items, rather than public items, so that if a module imports a glob and has access to a private item it is still imported. I kind of see the argument for weirdness - but nothing that doesn't apply to `pub use` (I think).

Since there are no cycles in the 'can access private member' graph, it doesn'

[2015-03-09 06:55] Gekkio commented on #23150
Just to clarify: this is not actually an ICE because the program is panicking, not the compiler. So, compilation is fine, but the program fails at runtime

[2015-03-09 08:31] contradictioned opened #23215 "My compiler told me: Thread 'rustc' panicked at 'Box<Any>'"
I tried this code:

    struct ostage<'a> {
      nodes: Vec<Node<'a>>
    }

    impl<'a> ostage<'a> {
        fn append_nodes(&self, Vec<Node>) {
            self.nodes.append(&mut new_nodes);
        }
    }

(definition of `Node` ommitted, the bug already occurs in this short snippet)

I expected to see this happen: The compiler should complain about the not existent naming of the second param

[2015-03-09 09:29] #22610 closed

[2015-03-09 09:29] #22637 closed

[2015-03-09 09:29] #18787 closed

[2015-03-09 09:29] #22553 closed

[2015-03-09 09:29] #23052 closed

[2015-03-09 10:30] CtrlZvi opened #23216 "rustc places an absolute address into a jump table for imported functions instead of a relative one"
This code:
[code]

[code]

should produce the following code (provided as a disassembly snippet):

[code]

But it instead produces the following code
[code]

The difference is in the first entry of the jump table, which is the entry for the function explicitly mentioned in the source code. The incorrect value is caused by an absolute offset being written into the binary instead of a relative one.

[2015-03-09 11:38] jorisgio commented on #23196
Maybe adding an assert_debug to check that could be useful too ?

[2015-03-09 12:04] CtrlZvi opened #23217 "rustc panics during compilation"
I tried this code:
[code]

Then ran this command:
[code]
I expected to see successful compilation followed by tests running.

Instead, this happened:
[code]

## Meta

`rustc --version --verbose`:
rustc 1.0.0-nightly (2fc8b1e7c 2015-03-07) (built 2015-03-08)
binary: rustc
commit-hash: 2fc8b1e7c4ca741e59b144c331d69bf189759452
commit-date: 2015-03-07
build-date: 2015-03-08
host: x86_64-pc-windows-gnu

[2015-03-09 12:16] dotdash opened #23218 "ICE on `rustc -o filename prog.rs`"
If the path passed to `-o` only consists of a filename, rustc ICEs. It also ICEs when given a directory.

When given a filename:
[code]

When given a directory:
[code]

Interestingly, it just does non-sense when the trailing slash is omitted:
[code]

[2015-03-09 12:51] SimonSapin opened #23220 "Doc: closure confusion in the intro"
The intro has this code example:

https://github.com/rust-lang/rust/blob/14ce607d9b96ab3c8d5564bcddd553d6f8e175c7/src/doc/intro.md#concurrency

[code]
[code]

I *think* that the `FnMut` closure the error message refers to is the argument of `map`, but the text of the intro then talks about the argument of `Thread::scoped` (which is a `FnOnce`). The move happens (or would) at the creation of the in

[2015-03-09 12:58] mahkoh opened #23221 "Can't implement Copy for C style enums with negative discriminants that overflow into unspecified positive discriminants"
[code]
[code]

[2015-03-09 13:00] huonw commented on #23221
Providing an explicit discriminant for the variant after the `-1` works as a workaround:

[code]

[2015-03-09 13:00] mahkoh commented on #23221
The same happens without repr(C) or with repr(i32).

[2015-03-09 13:02] pnkfelix commented on #23221
Also, `-2` will work.  I'll update the title.

[2015-03-09 13:03] mahkoh commented on #23221
@pnkfelix: The error message shows that it's about overflowing discriminants. There is nothing special about -1.

[2015-03-09 13:04] pnkfelix commented on #23221
@mahkoh my point is that the bug is not observed by *all* negative discriminants.

[2015-03-09 13:06] mahkoh commented on #23221
In any case the previous title was wrong because this works fine:

[code]

[2015-03-09 13:15] shepmaster commented on #23205
Duplicate of #23191, which is closed in favor of #20012

[2015-03-09 13:15] mahkoh commented on #23218
I believe this and #23140 and very much related to `path` breaking the semantics of `old_path`.

[2015-03-09 13:27] pnkfelix opened #23222 "element drop order inconsistent between in-progress versus completed arrays"
This code:

[code]

prints

[code]

i.e. when the panic occurs, we do the dropping in reverse order for the array being built, but then we do the drop in "declaration order" for the array that was fully constructed.

See also https://github.com/rust-lang/rfcs/issues/744 and rust-lang/rust#16493

[2015-03-09 14:24] jasonwilliams200OK opened #23223 "Update Nuget package!"
coz its being a while: https://www.nuget.org/packages/Rust/.

[2015-03-09 14:30] jdm commented on #23215
Duplicate of #23044. The parser doesn't like finding patterns with type parameters where names are expected.

[2015-03-09 14:30] #23215 closed

[2015-03-09 14:39] homebru opened #23224 "Potential error in error (warning) message"
I am too new at rust to know if this is really an issue or not.

I was trying to get the sample "guess" program to work. At one point I got this warning:

So I change my namespace to use '**core**' and I got this error:

In the end, the solution was to use "**std**::cmp::Ordering::Less" - so the bug(?) is the warning message steering me to the wrong namespace.

[2015-03-09 14:52] jakub- commented on #23224
This is a general problem with paths in error messages and somewhat related to https://github.com/rust-lang/rust/issues/13065.

What we should be doing is for each resolved definition of an item, find the publicly accessible path to that item. Such a path will always exist due to the restriction on exposing private types. This may or may not be a non-trivial change to `resolve`, though.

[2015-03-09 15:35] SimonSapin commented on #22500
`libtest` is listed “to move out”. How would that interact with `rustc --test` and `cargo test`?

[2015-03-09 15:52] alexcrichton commented on #23223
Unfortunately we are not the ones who manage that package, I would recommend trying to reach out to the maintainer there directly if you can find them!

[2015-03-09 15:52] #23223 closed

[2015-03-09 15:55] alexcrichton commented on #23218
The first case is fixed by https://github.com/rust-lang/rust/pull/23210, the second is new to me (that may be a separate bug), and the third is expected (the linker is giving that error message).

[2015-03-09 15:55] alexcrichton commented on #23205
Indeed, thanks @shepmaster!

[2015-03-09 15:55] #23205 closed

[2015-03-09 16:02] alexcrichton opened #23225 "impl Trait for .. {} does not require a feature gate"
I suspect that we may want more experience with this syntax before freezing it, but I may also be misremembering!

cc @nikomatsakis
cc @FlaPer87

[2015-03-09 16:03] alexcrichton commented on #23225
triage: I-nominated

[2015-03-09 16:06] alexcrichton commented on #22932
triage: P-high

I think the `panic!(anything)` aspect of `panic!` will make quite hard to overcome a limitation such as this, and I also think that we should audit whether that's actually an interface we want to support at this time.

[2015-03-09 16:13] alexcrichton commented on #15868
Hm upon re-reflection I believe this is actually intended behavior. You cannot take out a mutable borrow longer than the lifetime of the mutable borrow which granted mutable access. In this case the function is trying to borrow `&'a mut &'r mut int` to `&'r mut int` (essentially), but this is can lead to safety violations later on down the road, so closing this an expected error.

[2015-03-09 16:13] #15868 closed

[2015-03-09 17:00] hirschenberger commented on #21737
I have a patch, but what is the desired behaviour? Should we enforce casting to float and back if integer division is intended?

With my patch, I get an error when campiling duration.rs:

[code]

[2015-03-09 17:11] wesleywiser commented on #23134
Hi, if it's ok, I'd like to work on this issue. I have a commit in my local repo which resolves this but I need to test it some more to be sure. Hopefully, I can open a PR with the changes later tonight.

[2015-03-09 17:13] sfackler commented on #23134
Sure!

[2015-03-09 17:43] jmesmon commented on #22020
May also want to add:

- [ ] Implement wrapping_negate method from the WrappingOps trait

(or whatever it should be named)

To match with:

- [ ] Optional error checking on unary `-`

[2015-03-09 17:50] japaric commented on #23136
@mahkoh @eddyb Thanks for looking into this, using `PhantomData<fn() -> &'a T>` lets me remove most of the lifetime bounds `T: 'a` and elide lifetimes in several function arguments while retaining the `ContravariantLifetime<'a>` semantics :+1:.

I do think that `PhantomData<&'a T>` should work the same though. I think that's a bug.

[2015-03-09 18:32] #22572 closed

[2015-03-09 18:32] #17481 closed

[2015-03-09 18:45] pnkfelix opened #23227 "make check-stage1-debuginfo-lldb has mysterious failures on Mac OS X (10.9.5)"
make check-stage1-debuginfo-lldb has mysterious failures on Mac OS X (10.9.5)

I thought it was something with my local branch for a while, but eventually I wised up and tried against master, and saw the problems there too.

The problems do not seem to occur during `make check-stage2`.  (Do the debuginfo tests play games with the load path that can be hard to get right during stage1?)

In fact, ev

[2015-03-09 18:49] pnkfelix commented on #22820
In case its not clear: If you want to help, just find a case above that does not have a check-mark and also does not have a pull request number attached beneath it.  (And I guess write your name so that other people do not waste time adding a test for the same feature gate).