[2021-07-19 17:43] muellerpeter-pms commented on #87286
this also happens to a completely fresh project without any dependencies.

[code]

[2021-07-19 18:01] hawkw opened #87289 "intra-rustdoc links fail for the `pointer` primitive type"
When attempting to use intra-rustdoc links to link to `*const T`/`*mut T` methods (the `pointer` primitive type in the std docs), the link is not resolved properly.

This minimal reproduction:
[code]

fails like this:
[code]

I noticed that PR #58642 fixed intra-doc links to methods on other primitive types, but the `match` added in that change doesn't include `pointer`:
https://github.com/tspiter

[2021-07-19 18:03] DemiMarie commented on #27060
That is architecture-dependent, though.  On platforms that do *not* have a strict alignment requirement at the hardware level, there should be a way to take advantage of this.

[2021-07-19 18:05] bjorn3 commented on #63857
Hm, looks like the coherency check is throwing a wrench into this. I don't think there is a way around this issue. Thanks for trying anyways @ebobrow. If you want you can try to fix another E-easy issue.

[2021-07-19 18:05] #63857 closed

[2021-07-19 18:06] RalfJung commented on #27060
FWIW, and I don't know to what extend that is actually relevant in terms of performance, but proper alignment is not just exploited to load/store instructions, it also informs the optimizer about possible values -- the compiler will assume that the last few bits of a pointer are zero, and use that for its optimizations. There are also proposal to make e.g. all the values 0-3 a "nice" in `&i32`, th

[2021-07-19 18:15] mathstuf commented on #27060
So…Rust code will become a maze of `#ifdef` (spelled with `#[cfg]`, but a maze nonetheless) to support various platforms? If you're writing platform-specific code *anyways*, I would recommend:

  - writing the assembly directly; and
  - making a crate to host it (with portable fallbacks where possible).

You'll probably need pointers rather than references, but that should give an idea of the kniv

[2021-07-19 18:17] TomzBench commented on #86914
I have a string in my code like this `tcp://*:3333`.  And the syntax of the argument is from a zmq library so i can't change this.  If i comment out this code something thinks that this string is opening up another comment...

IE:

[code]
Will not compile unless I add another `*/` at the end.

[2021-07-19 18:19] mcy opened #87290 "Lifetimes ignored in explicit closure argument types"
I tried this code: https://godbolt.org/z/Pdj46T1v5

[code]

I expected an error along the lines of "expected `&mut &mut &i32`, got `&mut &mut &'a i32`." Instead, rustc accepts this program.
The following modification does *not* compile with the expected error.
[code]

[2021-07-19 18:20] hawkw commented on #87289
It looks like that match also doesn't include the `reference`, `array`, `slice`, or `tuple` primitive modules that exist in RustDoc.

Interestingly, the `slice` and `array` primitives can be linked to, but their methods are not linkable. On the other hand, the `reference` and `tuple` primitives cannot be linked to at all.

For example, on the same nightly version I posted above, this code
[code]
e

[2021-07-19 18:24] DemiMarie commented on #27060
The main case for this I can think of is SIMD code, which is architecture-specific anyway.  Nevertheless, such code could use a suitable wrapper around a raw pointer.

This is just one instance of a larger problem: there are many APIs that take references, but which might not need the full guarantees references provide.  For instance, `mmap` can be made reasonably safe (SIGBUS at worst) by returni

[2021-07-19 18:25] pierwill commented on #87197
Just a guess: could this be addressed with another `else if self.look_ahead(1, |t|) {` block, as in https://github.com/rust-lang/rust/blob/3a24abd22fd25c836d8b4d75ff46c833f9c3934c/compiler/rustc_parse/src/parser/diagnostics.rs#L1168?

[2021-07-19 18:28] pierwill commented on #87197
I think we would need to answer this question: why is the logic here not handling the cases we want to handle?

https://github.com/pierwill/rust/blob/3a24abd22fd25c836d8b4d75ff46c833f9c3934c/compiler/rustc_parse/src/parser/diagnostics.rs#L1184-L1202

[2021-07-19 18:34] pierwill commented on #87197
This seems to be on track given the clue "probe that the current token and maybe limited lookahead confirm that what comes next could be a valid statement on its own"...

[2021-07-19 19:15] inquisitivecrystal commented on #85527
I'm going to see if I can reproduce locally. If I can, I could hopefully fix it. I might also fiddle around with docker and see if that allows me to generate a reproduction.

[2021-07-19 19:27] elichai opened #87291 "Confusing error when accidentally inserting `-` in some lines"
Given the following code:

[code]
https://play.rust-lang.org/?gist=710a6e61334a9cff89667599564d0a42

The current output is:

[code]

The last error is the closest one to the actual error.

I know this looks quite contrived but it actually happened to my twice today (new keyboard haha)

Thanks!

[2021-07-19 19:32] inquisitivecrystal commented on #86516
@rylev You mentioned that you're [planning to work on stabilization](https://github.com/rust-lang/rust/issues/85512#issuecomment-857606402). I'm happy to help out with this, but I don't want to steal your project.

[2021-07-19 19:34] pierwill commented on #87197
@rustbot claim

[2021-07-19 19:36] mathstuf commented on #27060
Aren't SIMD instructions typically even more alignment-sensitive (at least for performance)?

As for externally-managed resources, Rust doesn't have a good way to manage them other than sticking `Result` on all APIs (or hoping everything is sensible enough to avoid SIGBUSsing you). I have the same issue with resources going out from under me in the [`keyutils`](https://github.com/mathstuf/rust-key

[2021-07-19 19:41] KarelPeeters opened #87292 "Missing trait implementation error follows one possible implmentation too greedily"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=94f9614f6312ae589082c677072bfcd5

[code]

The current output (on stable and nightly) is:

[code]

While this is one possible cause for this issue, a "simpler" cause is that the value inside `Cloner` is not a `String` but an integer. The last line of the error message kind of hints at this, but the bul

[2021-07-19 19:51] KarelPeeters opened #87293 "Diagnostic issue template should have rust formatting for error messages too"
This is kind of a meta issue, but the diagnostic issue template could be improved slightly. Currently it only uses ```` ```rust ```` for the main code block, but ```` ``` ```` for the error messages. This is technically correct but makes them harder to read, compare:

[code]

[code]
I think this is an easy change that should be an improvement for future Diagnostic issue reports.

[2021-07-19 20:00] pierwill commented on #87197
@rustbot release-assignment

[2021-07-19 20:29] eloff opened #87294 "Use u32 instead of usize in ArcInner to save memory"
There's little point to using usize instead of u32 for Arc. There's no desirable reason to have more than 4 billion strong or weak references to an Arc. It's weird that 32bit and 64bit platforms would support different amounts of references, but fortunately because there's no reason to do that, nobody thinks about this in practice when targeting multiple platforms.

We can save 8 bytes on 64bit pl

[2021-07-19 20:32] estebank commented on #87197
That is a great question: as the code is written it looks like it _should_ work. I don't _know_ why it isn't triggering :(

[2021-07-19 20:39] lambinoo commented on #64762
Since I claimed it 8 days ago, just a follow up.
I've been able to break the compiler a few times but I'm getting somewhere I think...
Not to a proper solution tho, just more mess, but that means more knowledge!

tl;dr: I haven't given up!

[2021-07-19 21:08] rylev commented on #86516
@inquisitivecrystal I’m happy to split the work with you. I was going to open a PR rename the option to `—force-warn`, and I’m already working on a stabilization report. Let me know if you want to take on some piece of the work outlined above (or if we’re missing something that should be added to the list).

[2021-07-19 22:19] inquisitivecrystal commented on #85527
Not only can I not reproduce locally, but I can't reproduce even trying to replicate the rust playground setup through docker. *sighs*

[2021-07-19 22:35] chertov opened #87295 "Internal compiler error with 'impl_trait_in_bindings' feature"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=44178d36861a0d770480156b511a3c15

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-19 22:43] ebobrow commented on #87197
I'd like to give this a try.

@rustbot claim

[2021-07-19 23:50] #86134 closed

[2021-07-20 00:17] uzytkownik commented on #87258
I think you need to use 2018 or 2021 edition.

[2021-07-20 00:29] abonander commented on #73921
[The documentation for `proc_macro::tracked_path::path()`](https://doc.rust-lang.org/nightly/proc_macro/tracked_path/fn.path.html) says:

However, I just tested it in the process of fixing https://github.com/launchbadge/sqlx/issues/681 and it seems to work for directories too. Is this intentional? Because if it's not, I would love for it to continue working as-is because it'll let us finally fix t

[2021-07-20 00:32] estebank commented on #85527
It feels like `rustc` is gaslighting us, doesn't it? 😩

[2021-07-20 00:45] estebank commented on #9607
With https://github.com/rust-lang/rust/pull/87225, the output is now

[code]

<img width="845" alt="Screen Shot 2021-07-19 at 5 43 27 PM" src="https://user-images.githubusercontent.com/1606434/126245209-85acf437-170c-4aae-8da0-0e438d5d2169.png">

There are details in the wording we could improve and some things we could take out, but I feel all the relevant information is there. @pnkfelix what do

[2021-07-20 00:45] abonander commented on #73921
It's actually kind of an issue for us that `path()` takes `impl AsRef<str>` as we need to use `PathBuf::canonicalize()` to get a path that this API can accept (I assume, see next paragraph), so we then need to do the fallible conversion back to `&str` which is a lot of boilerplate to use this function.

On that note, the function should probably document how it treats relative paths, if at all. Is

[2021-07-20 02:21] jruiss opened #87299 "'rustc' panicked at 'no errors encountered even though `delay_span_bug` issued', compiler\rustc_errors\src\lib.rs:1050:13"
I tried compiling  wgpu-core.

I expected to see this happen: *explanation*
Successfull compilation.

Instead, this happened: *explanation*
```error: internal compiler error: unexpected panic```

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

Just a repetion of this until panic.
[code]

</p>
</details>

[2021-07-20 03:13] ecstatic-morse commented on #86921
See #56537 for why this would be a breaking change.

It would be great to see this inconsistency fixed. Some proc macros want to wrap the body of a function in a closure to inspect the returned value, but this doesn't work. This is the root cause of https://gitlab.com/karroffel/contracts/-/issues/11 for example.

[2021-07-20 03:39] Blisto91 commented on #75786
Closing this for now as it doesn't focus on the actual problem without division/multiplication.
Might open a new issue if I ever have the time and motivation.

[2021-07-20 03:39] #75786 closed

[2021-07-20 04:15] jyn514 commented on #87289
I haven't read each example, but `std::slice` is not a primitive, it's a module. There are very few modules named after primitives in the standard library, which is why the links don't work. Try removing std::.

[2021-07-20 04:18] jyn514 commented on #87286
Does this still happen on nightly? It may have been fixed by #86876.

[2021-07-20 04:31] NateLing commented on #87299
same

[2021-07-20 04:34] teor2345 opened #87302 "Suggest `len` instead of `count` on arrays, slices, or vectors"
Given the following code:

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8bd1115b12adc0eb5feb16bbb63a06cb

The current output is:

[code]
(repeated 3 times with slight variations)

Ideally the output should:
* suggest using `slice.len()` instead of `slice.count()`

This is a common error, particularly for new users, and when switching between iterators and vectors/

[2021-07-20 05:12] muellerpeter-pms commented on #87286
It also panics but the message is another one.
The project is an untouched new one created with cargo new.

[code]

[2021-07-20 05:42] TennyZhuang opened #87303 "Failed to impl Drop for struct with const generics constrait."
Given the following code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=81a20c98257fda83bb4fbc6d2a35e9b7

[code]

The current output is:

E0367

[code]

Ideally the output should look like:

compile pass.

`where [(); M * 2]:` is a necessary constait for A<M>, this is not a subset specialization.

[2021-07-20 05:53] petrochenkov commented on #64762
How to fix this: https://github.com/rust-lang/rust/issues/82064.

[2021-07-20 06:01] petrochenkov commented on #73921
The specified file path gets into the depinfo file written by rustc.
How it's treated further depends entirely on tools interpreting that depinfo.

IIRC, cargo recently supported directories `cargo:rerun-if-changed=PATH` (https://doc.rust-lang.org/cargo/reference/build-scripts.html#cargorerun-if-changedpath), so directories in depinfo may be interpreted in the same way, but it needs to be clarifie

[2021-07-20 06:03] petrochenkov commented on #73921
+1, it should probably accept a `&Path`, if it's possible to pass through proc macro bridge.

[2021-07-20 06:03] hellow554 commented on #87295
Reduced to

[code]

[2021-07-20 06:05] hellow554 commented on #87274
#87284 is merged, this can be closed. :)

[2021-07-20 06:08] hellow554 commented on #87299
Hey @e0gs

thank you for the report. Sadly I haven't been able to reproduce your issue.

What was your command to build the crate? Which version of the crate did you use? Can you specify a certain commit maybe?

[2021-07-20 06:40] hellow554 commented on #87299
Thank you for the correct backtrace!

This should/could have been fixed by #87284 so can you try tomorrow with an updated nightly again and report it back please?

[2021-07-20 06:41] #87274 closed

[2021-07-20 06:42] e0gs commented on #87299
Had set RUST_BACKTRACE=1 in cmd.exe the first time but it didn't give me any traceback until switching back and forth from stabe - nightly.

[2021-07-20 08:09] Pyther99 commented on #86940
@rustbot release-assignment

[2021-07-20 08:15] #86729 closed

[2021-07-20 08:15] rust-highfive opened #87306 "`miri` no longer builds after rust-lang/rust#87141"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#87141, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @spastorino, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-07-20 08:42] leonardo-m commented on #87294
Note usize could be 16 bits too.

[2021-07-20 08:46] inquisitivecrystal commented on #86516
Well, I'm happy to help out however I can. You working on the stabilization report is definitely a good idea, since I wouldn't have any clue how to do that. I'm not entirely sure I know how to do the documentation PR, but I can work it out. The other steps are simple enough that anyone can do them. I'd definitely be happy to take final stabilization, as I find those kind of fun. I guess overall, i

[2021-07-20 10:04] matthiaskrgr opened #87308 "ICE: hygienic-label-1.rs -Zunpretty=everybody_loops : failed to process buffered lint here (dummy = false)"
code from `./src/test/ui/hygiene/hygienic-label-1.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
 rustc ./src/test/ui/hygiene/hygienic-label-1.rs -Zunpretty=everybody_loops
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-20 10:46] oli-obk commented on #87258
minimized and edition-free:

[code]

The problem is that typeck runs some of old borrowck/regionck and that just can't handle GAT and associated TAIT being used together. While `fixup_opaque_types` worked in this specific case, that function won't work if the TAIT were declared outside the impl block and only used, so the following would just hit a different ICE, even though it should be equivalen

[2021-07-20 11:07] WaffleLapkin opened #87309 "Moved value is considered as held across an `await` in `async fn`"
I tried this code:

[code]
[[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=51d54e549a0981de80e20493fd15238e)

I expected to see this happen: the code compiles.

Instead, this happened: the following compile error:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-07-20 11:08] WaffleLapkin commented on #87309
@rustbot modify labels +A-async-await

[2021-07-20 11:49] oli-obk commented on #87258
So... turns out this works just fine with nll... I'd say we just wait for that, nll is only blocked on diagnostics, and those are actively being worked on: https://github.com/rust-lang/rust/pull/86700

[2021-07-20 12:03] jyn514 commented on #87286
Hmm, interesting. Can you post the backtrace for that second panic?

[2021-07-20 12:14] SkiFire13 commented on #87276
We often forget that `&mut T` is neither `Clone` nor `Copy` thanks to automatic reborrowing inserted by the compiler. When you do `transmute::<&mut f32, *mut u8>(v)` the `&mut f32` you specify can and actually gets a lifetime shorter than the one of `v`, and `v` gets reborrowed and not consumed. However this doesn't happen when you write `transmute(v)` because the `T` on `transmute` is expected to

[2021-07-20 12:35] muellerpeter-pms commented on #87286
here is the backtrace:

[code]

[2021-07-20 12:41] Kestrer commented on #63818
Ah, I finally realized why unconditional `noalias` on `Box` is OK - all interactions with non-`unsafe` self-referential types (i.e. async blocks) must go through either `Future` or `Drop`, but since their only methods take `&mut Self` (or `Pin<&mut Self>`) and not `Box<Self>`, the pointer that the self-referential type is actually used through is never marked `noalias`, so miscompilations are not

[2021-07-20 13:37] #78113 closed

[2021-07-20 14:46] matthiaskrgr commented on #87308
Regression in nightly-2021-07-19

[2021-07-20 14:49] ChrisDenton commented on #71818
To be precise, it *may* have `python3`. Basically there are two installers, the classic one available from python.org and the modern one available through the Windows Store. The latter one has `python3.exe` whereas the former requires you to do `py -3` to select python 3.

So to sum up the three standard options are:

* python isn't installed
* `python3.exe` is in the `Path`
* `py.exe` is in the `

[2021-07-20 14:52] jyn514 commented on #71818
@ChrisDenton does that mean that "`python.exe` is in the PATH" is uncommon? Would it be better for Windows users if we switched to `/usr/bin/python3` in the shebang?

[2021-07-20 15:05] ChrisDenton commented on #71818
@jyn514 Ah, `python.exe` (without the `3`) should be in the PATH, unless that option wasn't selected when using the python.org installer. It could be either version 2 or 3 depending which are installed and it what order.

[2021-07-20 15:28] bstrie commented on #56537
I've filed https://github.com/rust-lang/rust/issues/86921 to discuss the prospect of using a future edition to make this incompatible fix to the closure elision rules.

[2021-07-20 16:03] #87306 closed

[2021-07-20 16:23] eloff commented on #87294
That could be a reason why then, if one used 32bit ref counts on a 16 bit platform, it might not be atomic (or might be slow.) I don't think it's appropriate to make all platforms pay for the 16bit platform though - it's better to make a conditional implementation specifically for 16bit platforms in that case.

[2021-07-20 16:30] jonas-schievink commented on #87308
Looks like https://github.com/rust-lang/rust/issues/87274? I don't think the fix is in nightly yet

[2021-07-20 16:31] ehuss opened #87313 "non_fmt_panics cannot migrate to 2021 for assert with non-string payload"
I tried this code:

[code]

I expected to see this happen: This includes a machine-applicable fix to migrate to 2021.

Instead, this happened: The suggestion is `MaybeIncorrect` preventing automatic migration.

Part of the problem is that there isn't an easy way to convert this to `panic_any`. For example, it could convert to:

[code]

which is pretty awful and probably has other downsides.  Tryin

[2021-07-20 16:53] m-ou-se opened #87314 "Invalid derive proc macro output silently ignored"
A derive proc macro expanding to something starting with a `{` is ignored:

[code]
[code]
[code]

[2021-07-20 17:21] ricobbe commented on #58713
PR for addition to unstable book: #87315

[2021-07-20 17:25] krojew opened #87317 "Internal Compiler Error while building the nom crate"
### Code

https://github.com/Geal/nom/blob/4.1.1/src/macros.rs#L1005

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-20 17:27] jonas-schievink commented on #87317
duplicate of https://github.com/rust-lang/rust/issues/87274

[2021-07-20 17:27] #87317 closed

[2021-07-20 17:30] m-ou-se commented on #87314
Another example:

This **compiles fine**, but should fail:
[code]

[code]

[2021-07-20 17:49] scottmcm opened #87318 "Un-skipped whitespace after backslash in string literal should be warned about"
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a8ab2d71eb82732581a9b6aedde68aed
[code]

Like we have confusables lints, I think this should have a warning noting that the particular kind of whitespace is not actually being skipped here, since that's completely invisible when looking at the code.

(Based on https://github.com/rust-lang/reference/pull/1042 I think thi

[2021-07-20 18:09] Aaron1011 commented on #87314
This is caused by the proc-macro expansion code failing to check if there are any remaining tokens in the input: https://github.com/rust-lang/rust/blob/5c0ca08c662399c1c864310d1a20867d3ab68027/compiler/rustc_expand/src/proc_macro.rs#L119-L134

I'm working on a fix

[2021-07-20 18:16] jonas-schievink commented on #87314
@Aaron1011 https://github.com/rust-lang/rust/pull/87316 already fixes this

[2021-07-20 18:25] joshtriplett opened #87319 "Warn about strings that skip multiple newlines with one backslash"
(This came up in today's @rust-lang/lang meeting.)

Given the following code:

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a783aa21f2ec4064d0ae0cab0f4c8777)

The compiler interprets both of the string literals as `"ab"`, omitting multiple newlines after the `\`.

This seems confusing, and different from the behavior of other languages. For inst

[2021-07-20 18:28] petrochenkov commented on #87314
IIRC, this is a duplicate of some old issue.
Things were working like this since the original implementation of custom derives, so the fix will likely require a crater run.

[2021-07-20 18:34] danakj commented on #38322
Hello,

We in Chromium are working on integrating Rust into our distributed build system. We really appreciate the work done here, as reproducible builds are a requirement for such a plan. However, while this allows the binary output of rustc to be reproducible, we have noticed that the (fully resolved) command-line itself ends up not being so. This destroys our ability to cache build objects betw

[2021-07-20 18:59] midgleyc commented on #61137
Can I pick up E0722?

[2021-07-20 19:12] luser commented on #73921
This is a sensible position, and is exactly why @sunshowers created [`camino`](https://docs.rs/camino/1.0.0/camino/). It's annoying, but perhaps the API should take `AsRef<Path>`, and be fallible so it can reject non -UTF-8 paths? I'm not sure if that would make things more usable or just move the pain elsewhere.

Taking a `Path` would also allow sidestepping the concerns @abonander raised, in tha

[2021-07-20 19:26] sunshowers commented on #73921
yeah, depinfo is an instance of what I call the "makefile problem". Given that rustc uses these files, should it support non-utf8 paths at all? cargo already doesn't.

I guess you don't need cross-platform support for depinfo files, so the case is a bit less strong for rustc than for cargo.

[2021-07-20 19:48] GuillaumeGomez commented on #61137
Sure, go ahead!

[2021-07-20 20:04] abonander commented on #73921
There's a couple orthogonal concerns here:

The API really needs to document what it does with relative paths. If it's purely up to whatever is consuming the depinfo then that should be documented as well, though it would also be very helpful to describe how Cargo treats it in that case. SQLx's proc macros are already written with the assumption that Cargo is being used, although that has also dra

[2021-07-20 20:23] m-ou-se commented on #87314
Yeah let's see if anything breaks. The alternative is to make it a (future_incompatible) lint instead.

[2021-07-20 20:41] matthiaskrgr commented on #87308
Still crashes with 39d8d3ab6a880179ef12b5d11414d940711ed422 master toolchain

[2021-07-20 20:55] EverlastingBugstopper opened #87323 "`cargo test` does not report failures when a test exits the process"
**Problem**
I'm running `cargo test` with tests that fail, and it exits with code 0 and does not gather and report errors.

**Steps**

1. `git clone https://github.com/apollographql/rover`
2. `git checkout avery/repro-tests`
3. Notice there is a test at the root crate that has a single call to `panic!("It fails")`
4. Run `cargo test`, you should notice the FAILED test only if you scroll up to look

[2021-07-20 21:31] chazkiker2 commented on #86507
This error can be replicated without any external crates (i.e., without `#[async_trait]`) like so:

[Link to Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=629e41c907d4cb5d9a9e93e369852fc9)

[code]

[2021-07-20 21:53] jsgf commented on #38322
@danakj I think its worth filing a new issue for this case.

Does `--remove-path-prefix $(cwd)=.` affect the generated crate if `$(cwd)` expands to different things? That would be surprising.

Or is it that your build system is taking the specific command-line into account and that's affecting the input side of your reproducability?

[2021-07-20 21:59] ehuss commented on #87323
Unfortunately this is pretty fundamentally difficult to fix.  The issue is that `it_can_serialize_commands_with_arguments` exits the process.  The test harness is unable to prevent that from happening, and thus the process exits with a 0 status.

There are some potential solutions, such as running each test in a separate process, but that would likely have substantial performance penalties.  It mi

[2021-07-20 22:01] ehuss commented on #87323
Hm, another thought I just had was that if the tests used JSON, Cargo could take over the responsibility of handling success/failed.  It wouldn't be a complete solution, because a test exiting the process would still prevent any other test from running, but just an idea.  Maybe there could be a "completed" JSON message that is required for the complete run to be considered a success?

[2021-07-20 22:03] danakj commented on #38322
The build output is not affected by different `$(cwd)` there, as they all map to `.` but the caching mechanisms need to rebuild the ouput if any inputs change, and one of those inputs is the command line. So if my `$(cwd)` and your `$(cwd)` are different, we have different command lines, so different inputs, so we can't share build outputs.

[2021-07-20 22:09] danakj opened #87325 "Reproducible outputs without build-environment-specific command lines"
Hello,

We in Chromium are working on integrating Rust into our distributed build system. We really appreciate the work done here, as reproducible builds are a requirement for such a plan. However, while this allows the binary output of rustc to be reproducible, we have noticed that the (fully resolved) command-line itself ends up not being so. This destroys our ability to cache build objects betw

[2021-07-20 23:05] jsgf commented on #38322
Sure, but that's a specific property of how your build system computes cache keys right?

[2021-07-20 23:30] dlblv opened #87327 "ICE in type inference"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-20 23:38] jyn514 commented on #87327
Simplified:
[code]

[2021-07-20 23:46] ricobbe commented on #58713
@retep998

Not sure if you've been following this issue, so I just wanted to make sure you were aware that "raw-dylib" should be usable in the winapi crate, to get some real-world experience with the feature.  I'd love to hear about any issues you encounter!

[2021-07-20 23:53] jyn514 commented on #87325
Do you mean that *rustc* is invalidating its own cache? Or that you have some build system around rustc that has caching based on the CLI args? The first problem should have been fixed in https://github.com/rust-lang/rust/pull/84233. The second I'm not sure should belong in rustc - couldn't you change your build system not to expand the shell command before doing the caching?

[2021-07-20 23:54] jyn514 commented on #87325
See also https://github.com/rust-lang/rfcs/pull/3127, I'm not sure if that would help or not.

[2021-07-21 00:02] ahicks92 commented on #87059
Adding to the "the table of contents doesn't do what we want" discussion, observe this page from nalgebra: https://docs.rs/nalgebra/0.28.0/nalgebra/geometry/struct.Isometry.html

Which manages to have duplicates for all the methods due to the duplicate impl blocks, but not sorted by or indicating the impl block they go with unless you go find that another way.  This seems like a bug/improvement/so

[2021-07-21 00:07] jyn514 commented on #87323
You might be thinking of https://github.com/rust-lang/rust/issues/67650.

[2021-07-21 00:10] jyn514 commented on #87323
Also this is a really terrible idea, but theoretically libtest could add a SIGABRT handler which doesn't actually exit the process and fails the test instead. Not sure how that could work with parallel tests though.

[2021-07-21 00:13] danakj commented on #87325
The Chromium build system consists of
GN - this generates the set of inputs and outputs and the command lines to get from on to the other
Ninja - this distributes the set of actions to run across cores to build in a highly efficient parallel way
Goma - this proxies the command line to a remote compiler on a bot which caches the output. If the cache is valid you skip compiling that object

One of t

[2021-07-21 00:16] jyn514 commented on #87325
What's wrong with @jsgf's suggestion?

[2021-07-21 00:40] sunfishcode commented on #87074
I've now posted an initial PR implementing the proposal in the RFC: https://github.com/rust-lang/rust/pull/87329

[2021-07-21 00:57] ricobbe commented on #58713
I have a question about one of the requirements in the RFC, in the second paragraph of the "Motivation" section.  Specifically, which of the two options below is the use case we care about?

1. A crate needs to call function `f` from library A.DLL and function `g` from library B.DLL.  However, B.DLL *also* exports a function named `f`, and we need to avoid confusion during linking.
2. A crate need

[2021-07-21 01:35] sxlijin opened #87334 "`cargo-clippy` should not fail early on lints that default to `deny`"
Latest stable `cargo check` and `cargo build` (`1.53.0`) both succeed on https://github.com/BurntSushi/ripgrep/commit/0ff5dd23606ee1e006a38ac7d18afcc4c368d9a4, but `cargo clippy` fails on a lint that defaults to deny.

My expectation with a linter is that, on a well-formed AST (i.e. one that successfully can be compiled), it should show me _all_ the lint errors in the code being linted so that I c

[2021-07-21 01:37] jyn514 commented on #87334
To clarify: it would be fine for this to be rustc-only at first, but it doesn't solve the full issue if there's a path dependency, because rustc would print all lints for the first crate, error out, and then cargo would see the error and stop before compiling the next crate in the workspace.

[2021-07-21 01:39] SNCPlay42 commented on #87334
See also #82761

[2021-07-21 01:43] jyn514 commented on #82761
Note that this would need cargo support if you have a path dependency. rustc would print all lints for the first crate, error out, and then cargo would see the error and stop before compiling the next crate in the workspace. For cargo to avoid that, rustc needs to tell it somehow that these are 'lint-only errors'.

[2021-07-21 01:43] jyn514 commented on #87334
Closing in favor of https://github.com/rust-lang/rust/issues/82761.

[2021-07-21 01:43] #87334 closed

[2021-07-21 01:48] joshtriplett opened #87335 "Tracking Issue for RFC 3137: let-else statements"
This is a tracking issue for [RFC 3137: let-else statements](https://github.com/rust-lang/rfcs/pull/3137).
The feature gate for the issue is `#![feature(let_else)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *n

[2021-07-21 02:28] #87094 closed

[2021-07-21 02:44] jsgf commented on #87325
Unless Goma guarantees the same cwd on every host you need to expand `$(pwd)` late anyway. If that's the case you need to either have this PR, or more generally a wrapper script.

How does this build system handle env vars which may contain a path (eg `include!(env!("SOMEVAR"))`)?

[2021-07-21 02:48] inquisitivecrystal commented on #85527
Not exactly how I'd say it, but once you put it that way... yeah, it really does.

The fact that I tried docker shouldn't dissuade anyone else who would otherwise try it, for a few reasons. First, this is just weird enough that it might occur with docker on your computer but not on mine. Second, I'm not experienced enough to be confident I did everything right.

[2021-07-21 02:53] inquisitivecrystal commented on #87335
Minor meta notes: the link to the RFC is broken and the F-let-else label is the wrong color. :)

This comment should probably be collapsed once they've been fixed.

[2021-07-21 03:19] shanliu opened #87336 "extern build bug?"
`rustc 1.55.0-nightly (b41936b92 2021-07-20)`

`rustc 1.53.0 (53cb7b09b 2021-06-17)`

[code]

[code]

[code]

[code]

[code]

[code]

[2021-07-21 05:01] #87336 closed

[2021-07-21 05:12] pravic commented on #58713
@ricobbe This RFC supports both situations via `#[link_ordinal]` and `#[link_name]` attributes. So, to answer your question,

[code]

However, it will be more realistic to put different imports into different modules ¯\\\_(ツ)\_/¯

[code]

Similar, in Delphi it is separated on a language level as well:

[code]

As you see, they support both ordinal and (re)named imports.

[2021-07-21 05:57] matthiaskrgr opened #87340 "ICE: impl-with-unconstrained-param.rs -Zsave-analysis --emit=mir : Err value: UnresolvedTy(_#0t)"
### Code
code from `src/test/ui/type-alias-impl-trait/impl-with-unconstrained-param.rs ` (may no longer exist)
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-21 06:06] QuineDot opened #87341 "Niches of `Cell` and others still not hidden"
Original conversation can be found in [this IRLO thread](https://internals.rust-lang.org/t/documenting-more-layout-guarantees/15032/), including a request from @RalfJung to file a bug report.

[PR 68491](https://github.com/rust-lang/rust/pull/68491) was accepted to hide niches of types that are in an `UnsafeCell`.  However, experiments show that niches are still exposed within `Cell`, `Mutex`, and

[2021-07-21 06:26] amalik18 commented on #83584
@rustbot claim

[2021-07-21 07:26] SkiFire13 commented on #87341
(Tiny correction to give proper credits: the first playground link you posted (the one with `Mutex` ecc ecc) is pretty much the one from @CAD97 [from here](https://internals.rust-lang.org/t/documenting-more-layout-guarantees/15032/8). My playground (the one with custom types) is also adapted from that one.)

[2021-07-21 07:27] RalfJung commented on #87341
Cc @rust-lang/lang @eddyb

[2021-07-21 09:31] m-ou-se commented on #87313
I'm not sure there's much we can/should do automatically here. In these cases, the user probably meant to have a `"{}",` or a `"{:?}"` or probably a more descriptive message like `"{:?} must be 123 or higher"`. Or worse: they meant to use `assert_eq` instead of `assert`:

[code]

[2021-07-21 09:36] psionic12 commented on #87276
@SkiFire13 I got a little confused, do you suggest that `v` is not a `&mut f32`

[2021-07-21 09:37] #87276 closed

[2021-07-21 09:43] psionic12 commented on #87276
@SkiFire13 Thanks for pointing out the concept "coercions".

Since `transmute` is an intrinsic and act like `as`, the borrow rules here looks kind of cumbersome to me...

Maybe a key word like `reinterpret_cast` would be better...

[2021-07-21 09:57] SkiFire13 commented on #87276
`transmute` doesn't act like `as`, for the purpose of typechecking it is like any other function. The borrowing rules here don't look cumbersome to me, being able to reuse a consumed value after it has been consumed is IMO a potential footgun and `transmute` shouldn't allow that.

I don't see how `reinterpret_cast` would really be better. Do we really need to add a new keyword for that? Do we real

[2021-07-21 13:08] hyd-dev commented on #87323
This seems similar to #84137.

[2021-07-21 13:15] RustyYato commented on #87341
Note: `Mutex` and `RwLock` are probably using yhe niche in `Box` on some platforms. (Raw os locking primitives need to be boxed on some platforms). Otherwise we'd run into this bug

https://github.com/rust-lang/rust/issues/68206

[2021-07-21 14:10] jyn514 commented on #83584
@amalik18 FYI a lot of the changes were already done in https://github.com/rust-lang/rust/pull/83614, you could start from there :)

[2021-07-21 14:23] amalik18 commented on #83584
Oh......I completely forgot about that hahahah

[2021-07-21 14:34] jackh726 commented on #85533
This is a variation of #47511 and it isn't a GAT issue.

Essentially, the issue is that because of the way we assign a lifetime as late-bound or early-bound, we end up assigning `'a` as early bound in the first and late bound in the second. Then later once the type alias is expanded, we see that it's not actually constrained (where that requirement isn't there for early bound regions).

Although i

[2021-07-21 15:32] danakj commented on #87325
A wrapper script might work on some platforms, but it won't work on our Windows builders, as they do not spawn sub-processes, and doing so would be a prohibitive performance cost.

I am going to open an MFP for this to discuss further, as @michaelwoerister pointed me to, and I will add more about this there. Thanks for discussing with me.

[2021-07-21 16:06] alexcrichton opened #87350 "Associated type projections don't count for local types in trait impls"
I ran into a case with generated code today where I believe the compiler is giving a false error trying to verify a trait implementation.

Given a crate `foo` defined as:

[code]

and then a consumer crate `bar`:

[code]

when compiled this yields:

[code]

I don't believe that the error here is accurate since `A`, `B`, `C`, and `MyType` are all local to the crate and the compiler would ideally fo

[2021-07-21 16:14] fitzgen commented on #85161
For what it is worth, this is not specific to `impl Trait`, and the equivalent thing with explicit generic type parameters also does not get automatic reborrows: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=61a5e437792c83938187171b72375574

[2021-07-21 17:36] godmar opened #87352 "potential miscompile involving raw pointers"
Upfront, I will admit that I'm new to Rust and very hesitant to file this report as it involves raw pointers and a small amount of unsafe code.  However, there may be a small chance that the behavior I'm seeing is not desired or is not invoking UB, or that if it is suffering from UB, the UB may be unrelated to the behavior.

Synopsis:
I'm observing a case where the compiler performs an optimizatio

[2021-07-21 17:36] jbr opened #87353 "this "cannot infer an appropriate lifetime" diagnostic doesn't communicate anything"
Given the following code: [:crab: playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b9b446cdd2a42c2e7953e988a12d20a1)

[code]

The current output is:

[code]

---

I'm trying to report more of these when I run into them, so here's one! In this case, the error happily makes sense and this was an interim state, but if I were learning rust this would be very confusin

[2021-07-21 17:45] jbr commented on #87353
Opinion about possible solution: In general, any time the expected and found are string identical, it's probably _more_ confusing to include them as two distinct "expected {} but found {}" than to have the string exactly once with some appropriate message. Assuming this is usually either an anonymous lifetime mismatch or a crate-version-mismatch (expected some_crate::SomeType but found some_crate:

[2021-07-21 17:49] yaahc commented on #74465
I definitely favor 3 as well. IMO the `OnceCell` itself implies the fact that it's only called once, so `OnceCell::get_with` still communicates the same semantics that `*_or_*` do on other types.

[2021-07-21 17:55] yaahc commented on #74465
Summarizing some of the backlog related to open issues:

* Mara: Atomic doesn't feel appropriate. ([source](https://github.com/rust-lang/rust/issues/74465#issuecomment-703295845))
* Mara: Can we change `Lazy` so it doesn't unconditionally store a function pointer? ([source](https://github.com/rust-lang/rust/issues/74465#issuecomment-725462718))
* phil-opp: Could the no-std usecase for `Lazy` be im

[2021-07-21 18:41] programmerjake commented on #74465
imho we should have `set` take `&self`, the `&mut self` variant can instead be spelled `*self = OnceCell::from(value)`.

[2021-07-21 18:54] joshtriplett commented on #67599
We think the issue on macOS may have been switched by the switch to gimli. Could someone verify if the issue is fixed on macOS? cc @t-mw

Separately, @theduke, could you please file an issue for what you've observed on Linux? (That in turn may be a gimli issue as well.)

[2021-07-21 18:57] lambinoo commented on #82064
(As part of #64762)
@rustbot claim

[2021-07-21 19:01] joshtriplett commented on #83528
We talked about this in the @rust-lang/libs meeting today.

This is behavior we care about, and we think it's valuable to work on stdout buffering (including the ongoing work in issues like #78515 and similar).

However:

Given this, we don't plan to track this as a regression. We'd encourage people to get involved with the stdout buffering rework to improve the behavior.

[2021-07-21 19:01] #83528 closed

[2021-07-21 19:07] inquisitivecrystal commented on #80804
@pkgw Quick update: unfortunately, this won't hit stable till 1.55.

[2021-07-21 19:16] t-mw commented on #67599
Thanks, I can't reproduce this any more with Rust 1.53.0 on Mac OS 10.14.6. Absolute and relative paths produce the complete backtrace. I also tested the repro project on Arch Linux with Rust 1.53.0, and can't reproduce the issue there.

[2021-07-21 19:17] #67599 closed

[2021-07-21 19:22] danakj commented on #87325
Thanks for bringing this to my attention. The answer will likely be that we will ban the use of env!() in first-party code, and restrict the use of third-party crates that use it unconditionally. We have bots that would probably catch simple cases of this, but it could have snuck in somehow. I've been looking for ways that non-determinism could be introduced in a Rust build, and this is a good one

[2021-07-21 19:49] pkgw commented on #80804
@inquisitivecrystal Thanks, that's good to know!

[2021-07-21 20:37] Shadlock0133 commented on #84042
It's been fixed in https://github.com/rust-lang/stdarch/pull/992

[2021-07-21 20:37] #84042 closed

[2021-07-21 20:37] LeSeulArtichaut commented on #87335
Is there already someone who wants to implement the RFC? Otherwise I could maybe take a stab at it

[2021-07-21 20:45] djc opened #87355 "Spurious reference binding from edition lint"
I ran `cargo +nightly fix --edition` against https://github.com/quinn-rs/quinn/commit/a21f010baddde857f4536b75afd456364e7b74fb.

I expected to see this happen: no changes or necessary edition-related changes.

Instead, this happened: cargo fix produced this change:

[code]

(The formatting is surprising, but that's not what this issue is about.)

`cargo +nightly c` with `cargo-features = ["edition

[2021-07-21 20:58] nrc commented on #85161
I think the issue here is not specific to reborrowing or to impl Trait but is because when the compiler converts types it always need a 'target' type which the compiler is trying to convert to. The compiler does not take trait impls into account. So if the compiler knows we want type `U` it will try and convert the type (whether `U` is a concrete type or generic), but if the code requires an expre

[2021-07-21 21:15] camsteffen commented on #87335
I volunteered on Zulip to implement a while ago and I have a start on it. @Fishrock123 are you still okay with me taking it since you were also interested?

[2021-07-21 21:28] SkiFire13 commented on #87352
What you're doing is UB: `drain` is given a shared reference, so no code can legally mutate it while it is executing. This is what MIRI is complaining about.

[2021-07-21 21:31] godmar commented on #87352
Could you elaborate?  `drain` is given a shared reference to what?  `self`?

[2021-07-21 21:32] Fishrock123 commented on #87335
I'm interested but I'm clueless and pretty busy. I'd say you should just take it.

[2021-07-21 21:35] SkiFire13 commented on #87352
Yes, I was refering to `self`

[2021-07-21 21:38] godmar commented on #87352
If I change `drain(&self)` to `drain(&mut self)` I observe the same behavior.

[2021-07-21 21:39] SkiFire13 commented on #87352
Did you also change `pop_back`? The same problem applies to it

[2021-07-21 21:49] godmar commented on #87352
If I change both `drain` and `pop_back` to be `&mut self`, the MIRI warning remains the same, but the code completes.  When I make the same changes to the code from which the minimum test case was derived, however, the problem remains.  I'll try to produce a new test case in which I'll ensure that I have a mutable reference to `self` always.

[2021-07-21 21:53] SkiFire13 commented on #87352
I think that even with those changes the code is still UB under the stacked borrows model because it observes `self` with a mutable reference and then modifies it through a pointer that wasn't derived from it.

[2021-07-21 21:54] godmar commented on #87352
Correction: with those changes, it works under `+stable` but still loops infinitely under `+nightly`

[2021-07-21 22:01] godmar commented on #87352
Does this mean that the pointer `self.tail.prev` is considered to be not derived from `self`?

[2021-07-21 22:07] godmar commented on #87352
Also, for the new playground (where `drain` and `pop_back` both use `&mut self`) the behavior depends on whether `-Z mutable-noalias=no` is given to nightly rustc or not.  If set to `no`, it'll complete. If set to `yes`, it'll loop.

[2021-07-21 22:13] SkiFire13 commented on #87352
Yes because it is in fact not derived from the `self` inside `drain`, it is derived from an old reference to `self`, which is no longer valid when `drain` executes.

[2021-07-21 22:14] #81847 closed

[2021-07-21 22:14] #85494 closed

[2021-07-21 22:20] godmar commented on #87352
Could you explain more?
 `self.drain()` calls `self.pop_back()` which performs `self.tail.prev` - in what way is `self.tail.prev` derived from an "old reference to self?" that's "no longer valid when `drain` executes?"  The pointer isn't accessed until after `drain` has started executing (at least based on the way the code is written?) - why is the reference to `self` old at this point?

[2021-07-21 22:54] godmar commented on #87352
Are you referring to LLVM's ["based on"](https://llvm.org/docs/LangRef.html#pointer-aliasing-rules) relationship that is linked from the [Rust reference on undefined behavior](https://doc.rust-lang.org/reference/behavior-considered-undefined.html#behavior-considered-undefined)?

It includes `getelementptr`, `bitcast` and `integerptr` which I think is a way of describing simple pointer arithmetic.

[2021-07-21 23:34] cuviper opened #87356 "Lifetime error in scoped spawn doesn't identify the captured lifetime"
This is a self-contained reproducer from https://github.com/rayon-rs/rayon/issues/871

Given the following code:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c51857b253b7171e3b2c1083e7f8aa0a

[code]

The current output is:

[code]

It's true that this spawn closure does not outlive the `'scope` lifetime, but this output doesn't really help us figure out **why**. The clo

[2021-07-22 00:42] dcormier commented on #62223
I'm being bit by this as well. It would be nice to see this changed.

[2021-07-22 01:01] therealbnut commented on #75075
1) I don't think changing them to be relative is a good idea: you need to use it with things like `concat!(env!("OUT_DIR"), ...)` for things like build scripts.

2) You might be able to solve this more cleanly if macros like `include_bytes` were variadic, and join their arguments with an appropriate separator, for example:
[code]

3) Rejecting invalid path characters sounds reasonable.

[2021-07-22 02:02] fbernier commented on #87355
@djc I too was confused about that change but I just found out [this explanation](https://blog.rust-lang.org/2021/05/11/edition-2021.html#disjoint-capture-in-closures).

Basically, without it it could change the order in which fields are dropped.

[2021-07-22 02:49] psionic12 commented on #87276
Do you suggest that `transmute` is not as the same as `reinterpret_cast` in C++? Besides the type casting, will it actually "consume" the value passed in?

[2021-07-22 03:08] jruiss commented on #87299
Works as expected with nightly-x86_64-pc-windows-msvc - rustc 1.55.0-nightly (32c9b7b09 2021-07-21)

[2021-07-22 03:08] #87299 closed

[2021-07-22 05:52] inquisitivecrystal commented on #47077
I believe that this was fixed by #52552.

[2021-07-22 05:55] #47077 closed

[2021-07-22 06:09] Tiwalun opened #87360 "cargo fix --edition fails with error "Unrecognized option: 'force-warns'""
I tried the migration process to the 2021 edition, according to the instructions in <https://blog.rust-lang.org/2021/07/21/Rust-2021-public-testing.html>.

I expected to see this happen:  `cargo +nightly fix --edition` works without an error.

Instead, this happened:  `cargo +nightly fix --edition` fails with the following error message:

[code]

I tried this with the following repository: <https:

[2021-07-22 06:13] inquisitivecrystal commented on #87360
Thank you for the report! This should be fixed pretty soon, hopefully. It's a temporary thing while we're renaming the option. CC @rylev

[2021-07-22 06:29] thomasyonug opened #87361 "A question about rustc_passes/src/liveness.rs"
A bunch of design doc comments in the file head describes how the RUSTC dataflow works.

I notice that the comment is all about AST but the actual code is work on HIR. I was wondering that it's a cleanup bug or something else?

https://github.com/rust-lang/rust/blob/8024983ea73e1d1c16720a424d39fd1c239eee68/compiler/rustc_passes/src/liveness.rs#L1

https://github.com/rust-lang/rust/blob/8024983ea73

[2021-07-22 06:57] Craig-Macomber commented on #87294
Patterns where there is some root object which all your little objects have a reference to are pretty common. I actually hit an overflow for a 32 bit ref count due to this pattern once: I had an overflowing a COM ref counter for an ID2D1Factory which every allocated object referenced. We actually had a ref leak (so not all the object stayed in memory) but our test suite, and users, could easily al

[2021-07-22 07:05] inquisitivecrystal commented on #87360
rust-lang/cargo#9714 got in just before I submitted mine. It should take care of this.

[2021-07-22 07:21] #87199 closed

[2021-07-22 07:22] nikic commented on #87352
Yes, that's correct. You can indirect a pointer through memory while preserving provenance, but as @SkiFire13 already said, it's an old reference to self that was stored, it's not derived from your current self.

Closing this as there does not seem to be any rustc bug here.

[2021-07-22 07:22] #87352 closed

[2021-07-22 07:24] godmar commented on #87352
I think this explanation makes sense. The presence of a `&mut self` means that modifications via raw pointers to memory anywhere within the object, including embedded fields like `self.tail.prev` would be assumed to not be aliased. I'll have to analyze the consequences of this. Either forgo Rust references altogether, or perhaps research UnsafeCell some more.

This appears to be the case even if t

[2021-07-22 07:27] godmar commented on #87352
Thanks. I think I misunderstood "current self" as the current value of the pointer representing the `self` reference, but I think what you really mean is the content of the thing to which `self` refers (akin to `*this` in C++).

[2021-07-22 07:51] SkiFire13 commented on #87352
Sorry, I should have been more explicit. Even if the address of the pointer (the `&self`/`&mut self` that `drain` takes) and the value it points to are the same, what changes is the reference. For the compiler when you called `drain` you created a new reference, thus asserting unique access to `l`/`self`, which makes any raw pointer that pointed to it invalid.

[2021-07-22 08:10] jsgf commented on #87325
I'm not sure I understand what you mean by "they do not spawn sub-processes" - isn't running rustc spawning a subprocess? If the "rustc" it's invoking is a wrapper, how would it know? And why would it be a prohibitive performance cost? If the cost of invoking rustc takes time T, then surely the invocation cost of a wrapper isn't going to be much more than 2T? And given that Rust compilation is fam

[2021-07-22 08:11] inquisitivecrystal commented on #42849
Should `BinaryHeap::drain_filter` be sorted or not? `BinaryHeap::drain` isn't sorted, but there's an equivalent, `BinaryHeap::drain_sorted`, which is.

[2021-07-22 08:14] jsgf commented on #87325
BTW I have a stalled draft RFC which proposes making the env entirely controllable from the command-line - that is, the "real" process env is ignored, and replaced with command-line options which set the effective env for `env!()` etc. https://github.com/rust-lang/rfcs/pull/2794

I'd be interested to know if this solves any problems for you (or what what changes would be needed to make it helpful)

[2021-07-22 08:28] SkiFire13 commented on #76342
Actually there's another option, and that's references to arrays:

[code]

[2021-07-22 08:38] apiraino commented on #87263
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387263.20rustdoc.20no.20longer.20honours.20--default-theme) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-07-22 08:43] PsiACE opened #87363 "cargo fmt fails with error "Invalid value for `--edition`""
I tried this code:

[code]

I expected to see this happen: *Nothing, but format code*

Instead, this happened: *Invalid value for `--edition`*

I tried this with the following repository: https://github.com/datafuselabs/datafuse

see the CI result: https://github.com/datafuselabs/datafuse/pull/1159/checks?check_run_id=3132249396#step:6:9

### Meta

`rustc --version --verbose`:
[code]

<details><su

[2021-07-22 08:46] PsiACE commented on #87363
We should update rustfmt  in `src/tools/rustfmt`.

[2021-07-22 09:15] apiraino commented on #87327
I wonder if this could relate to [this comment](https://github.com/rust-lang/rust/issues/81199#issuecomment-764420855) from a similar issue (there's a bunch of them).

[2021-07-22 09:22] apiraino commented on #87132
Assigning priority, [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387132.20.60rustc_skip_array_during_method_dispatch.60.20is.20bypasse.E2.80.A6) of the Prioritization Working Group in case this should be re-evaluated

@rustbot label -I-prioritize +P-low

[2021-07-22 10:18] sitd0813 opened #87364 "Documentation error on `slice::split_at` and `slice::split_at_mut`"
In the [documentation](https://doc.rust-lang.org/std/primitive.slice.html#method.split_at) it says that `slice::split_at` and `slice::split_at_mut` panic if `mid > len`. However, in the source code, it says that they panic if `mid >= len`.

[code]

I don't know which is the correct behavior, but this is clearly a documentation error.

[2021-07-22 10:21] #87364 closed

[2021-07-22 11:23] artemii235 commented on #84277
We have a problem in our project related to the new question mark desugaring. We use the `track_caller` feature in `From::from` implementation of the error types to collect stack traces with generics and auto and negative impl traits magic implemented by @sergeyboyko0791 (https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/common/mm_error/mm_error.rs).

After updating to the latest n

[2021-07-22 11:25] jyn514 commented on #87132
I don't think this is worth tracking.

[2021-07-22 11:25] #87132 closed

[2021-07-22 12:39] fengerhu1 opened #87367 "How can I build a 100% static binary in risc-v arch"
I found in a rust-doc[1] that musl-libc can support for the fully static library. However, I can not build static binary with the standard library using musl libc in risc-v, as `riscv64gc-unknown-linux-musl` is not supported for `std`.

So how can I build a fully static binary including `std` in risc-v, or is there any plan to support musl-libc in risc-v?

Maybe there are some incompatible codes b

[2021-07-22 13:24] oli-obk commented on #86729
Some more explanation for future archeologists:

`impl Trait` in bindings does various things that are very different from each other.

[code]

is an entirely different implementation from

[code]

But they attempted to share logic between each other and with type-alias-impl-trait and the already stable impl-trait-in-return-position.

Several refactorings and bug fixes later we ended up with spagh

[2021-07-22 13:28] mripard opened #87368 "False positive report for unaligned reference in a packed struct"
It looks like the "reference to packed field is unaligned" is reported even when a reference points to an aligned field.

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=65b76e22bb1337278a3a64d7008a2d7e

[code]

[code]

However, while the baz field in the first structure is indeed unaligned, the ones in the second and third structures aren't and th

[2021-07-22 13:28] #87360 closed

[2021-07-22 13:41] In-line commented on #26454
https://github.com/rust-lang/rust/pull/87349

[2021-07-22 14:00] pnkfelix commented on #53823
@yaahc @joshtriplett  I'm happy to confirm handover to T-compiler, but the prioritization of this (currently P-low; P-medium as of 8 days ago) essentially means that we're never going to prioritize it for discussion in a meeting. It will just be task hanging out there for interested people to look at and discuss.

So, I just wanted to confirm: Is that an acceptable outcome from the point of view o

[2021-07-22 14:08] paulmenzel commented on #86436
How can I increase the verbosity?

[`src/bootstrap/README.md](https://github.com/rust-lang/rust/blob/master/src/bootstrap/README.md) does not mention that.

[2021-07-22 14:24] yshui commented on #81513
Should `DynMetadata` be `repr(C)`? What is the intended way of passing the metadata through FFI and back?

[2021-07-22 14:28] yshui commented on #81513
As implemented by #81172, `DynMetadata` is not `repr(C)`? Are we not supposed to pass this type through FFI?

[2021-07-22 14:29] Alexendoo commented on #53092
This ICEs with just min_type_alias_impl_trait:

[code]

[2021-07-22 14:33] bjorn3 commented on #81513
There is no guarantee about what `DynMetadata` contains. Currently it is a single pointer to a vtable, but a single pointer per trait of a trait object is currently also a valid implementation strategy. It probably won't happen, but this was one of the suggested implementation methods to allow upcasting `dyn TraitA + TraitB` to `dyn TraitA`.

[2021-07-22 14:46] yshui commented on #81513
Is this feature not intended to provide a better FFI experience, i.e. we don't have to transmute to/from TraitObject? If so, what should I do when I need to pass a dyn pointer to/from FFI using the new interface? Should I transmute the `DynMetadata`?

The RFC itself suggests putting `DynMetadata` in a `repr(C)`: https://github.com/rust-lang/rfcs/pull/2580/files#diff-596b2a682c8f7063a250fdf3a1541d6

[2021-07-22 14:59] Mark-Simulacrum commented on #86436
`x.py build -vvv`, for example.

I'd be happy to accept a PR (though not sure that's quite the place to update, seems OK though) that adds some text about preferring x.py dist/install when using the tarballs.

[2021-07-22 15:07] ChrisDenton commented on #87368
The problem is that `packed` sets the alignment to 1. So this indeed may be unaligned:
[code]

To fix this you can use `packed(n)` like so:

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7f70eb4aeaf3d0a5e0455994e7a02d6b).

I think the warning could be improved to mention this possibility.

[2021-07-22 15:10] #81487 closed

[2021-07-22 15:10] #87231 closed

[2021-07-22 15:10] #87263 closed

[2021-07-22 15:10] #61002 closed

[2021-07-22 15:12] SimonSapin commented on #81513
Only adding `repr(C)` to `DynMetadata` would not help with FFI (or any other use case). Since the fields of `DynMetadata` are private there is no stability guarantee about them. Like bjorn3 mentioned it could be more than one pointer for some `dyn` types in the future.

For your FFI use case we would need the Language Team to decide that `DynMetadata` will always be a single pointer (at least for

[2021-07-22 15:17] yshui commented on #81513
While being technically true, I assumed by putting `repr(C)` on a type the RFC expresses the _intention_ of using that type for FFI. Having a FFI-unsafe field type in a `repr(C)` type causes the outer type to be FFI-unsafe too (or so the compiler warns me), kind of destroy the purpose of putting `repr(C)`. Of course my assumption could be wrong.

[2021-07-22 15:36] pierwill commented on #87319
@rustbot claim

[2021-07-22 16:17] bjorn3 commented on #86610
This seems to be the result of https://github.com/rust-lang/rust/pull/79968 which landed in 1.51. It changes the symbol names of `drop_in_place` to include which type is actually being dropped. The v0 symbol mangling scheme which we hope to adopt in the near future does the same thing, but also includes generic parameters for all other functions, resulting in even longer symbol names.

[2021-07-22 17:04] jyn514 commented on #87327
Yup, this is a duplicate of https://github.com/rust-lang/rust/issues/81199, good catch :)

[2021-07-22 17:04] #87327 closed

[2021-07-22 17:36] jyn514 opened #87377 "Add support for `// only-cfg-target-has-atomic` to compiletest"
Right now, you have to specify the platforms and architectures you want by hand, which makes it easy to leave them out or include platforms you shouldn't. It would be nice to automate this - maybe with `rustc  --print cfg`?

See also https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/How.20can.20I.20ignore.20tests.20on.20platforms.20without.20atomics.3F.

_Originally pos

[2021-07-22 17:46] lazytype opened #87378 "2021 edition: Unsafe block not detected when accessing a union field inside a closure"
### Code

I tried this code:

[code]

I expected to see this happen: no error

Instead, this happened: `error[E0133]: access to union field is unsafe and requires unsafe function or block

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=091d060959b30415131533f2e6d93f71

### Version it worked on
rustc 1.55.0-nightly 2018 edition
https://play.rust-lang.org/?version=nightly&m

[2021-07-22 17:55] paulmenzel commented on #86436
Log from `/pkg/rustc-1.53.0-0/build/rustc-1.53.0-src/build/bootstrap/debug/bootstrap -vvv dist --exclude src/tools/miri`:
[rustc-miri.log](https://github.com/rust-lang/rust/files/6864279/rustc-miri.log)

(Sorry, the screen buffer was too small, but hopefully the messages still help.)

[2021-07-22 18:09] cehteh opened #87379 "Mutate arguments at std::process::Command"
Feature gate: `#![feature(mutate_command_args)]`

This is a tracking issue for adding an API to mutate the arguments of std::process::Command.
Discussed earlier in https://internals.rust-lang.org/t/lack-of-api-mutating-args-at-std-command/14908

### Public API

[code]

`arg_set()` may panic when the index is out of range, only existing elements get replaced.

### Steps / History

- [x] Implementat

[2021-07-22 18:28] joshtriplett commented on #53823
@pnkfelix That's roughly the outcome we were expecting.

We do feel that this would be worthwhile to have on the radar of a team whose primary purview is LLVM-related fixes that would benefit Rust, but we also recognize that that's a "somebody should", and we don't have a somebody to offer.

[2021-07-22 18:42] Alexendoo commented on #77696
Duplicate of #54840

[2021-07-22 18:42] #77696 closed

[2021-07-22 19:20] illicitonion opened #87384 "type_length_limit is inconsistently warned about with 2021 edition migration"
I have this library crate:
[code]

When I build it with `1.55.0-nightly (27277d966 2021-07-16)` I get no warnings.

When I try to perform edition migrations with it by running `cargo +nightly fix --edition`, I get warnings:
[code]

As far as I know, this attribute is valid and has effect where it currently is, and either the 2021 edition migration is slightly broken, the 2021 edition has changed t

[2021-07-22 19:27] SimonSapin commented on #81513
Having written the `ThinBox` example you linked, I can confirm that the intention there was to use `repr(C)` in order to disable potential field re-ordering, so that the `unsafe` code dereferencing a `*mut WithMeta<()>` that was initialized as `WithMeta<S>` stays valid. In that example, `WithMeta` is a private implementation detail of the `ThinBox` library and is unrelated to FFI.

[2021-07-22 19:28] Mark-Simulacrum commented on #86436
Looks like this will be fixed by https://github.com/rust-lang/rust/pull/87282, it's getting invoked through extended = true (which directly runs the dist step for miri, ignoring --exclude). I have not reviewed that PR yet, but expect to do so soon; going to add this issue to the fixes list on it though.

[2021-07-22 19:31] Mark-Simulacrum commented on #86436
I think you can fix this on 1.53 by patching the source here https://github.com/rust-lang/rust/blob/1.53.0/src/bootstrap/dist.rs#L1176 to return None from that step. You may need to set deny-warnings = false or fix some other compiler warnings in order to build with that function stubbed out like that.

[2021-07-22 19:45] danakj commented on #87325
Let me come back to some of this in the MCP, which I am working on still. Sorry for the delay, I'd like it to be as robust as possible.

https://gn.googlesource.com/cargo-gnaw/ is a tool for consuming cargo and generating GN rules.

This is awesome, and might allow us to make more third-party crates possible to use. I've shared it to the relevant folks internally as well to get more eyes toward it

[2021-07-22 20:00] tjjfvi opened #87386 "`rustc` panic involving generic contravariant constraint using associated type constrained by `where for` clause"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

I've also checked https://play.rust-lang.org on stable, beta, and nightly, and the panic occurs in all three.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-22 20:29] ehuss commented on #87384
Hm, this seems to be unrelated to the edition or migration stuff, but instead seems to be a problem with incremental.  I'm able to reproduce by running this command twice:

`rustc lib.rs --crate-name foo --crate-type lib -C incremental=incremental`

I'll try to bisect.

[2021-07-22 20:49] retep998 commented on #58713
Use case 2 *should* be supportable with this feature as specified in the RFC. Import libraries are a mapping from a symbol name to a symbol name or ordinal plus a dll (`HashMap<Symbol, (SymbolOrOrdinal, Dll)>`). Normally in the C world this would look like `"_foo", -> ("foo", "bar.dll")` or similar, however in Rust we can make the key a *mangled* Rust symbol! As a result we can have two *unique* k

[2021-07-22 20:56] ehuss commented on #87384
Bisected to #86674, cc @Aaron1011.

[2021-07-22 21:57] zakarumych opened #87388 "ICE when generic type `T` is not bound to a `Trait`, but used as `<T as Trait>` in union declaration"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dfd08aa6ef697ef5e4edd159a9bbaa37

### Code

[code]

### Meta
`rustc --version --verbose`:
[code]
On nightly as well

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-22 22:21] Mark-Simulacrum commented on #86063
This is highly likely to slip into stable next week -- let's @rustbot ping arm to at least get some more eyes on it (doesn't look like that was done yet).

[2021-07-22 22:22] Mark-Simulacrum commented on #86831
Marking as relnotes per FCP.

[2021-07-22 22:23] #86597 closed

[2021-07-22 22:24] Aaron1011 commented on #87384
This is caused by a longstanding issue with incremental compilation - we use the global untracked state `Session.used_attrs` to emit these warnings. Since the `limit`s query doesn't get re-run, the attributes that it marks as used will not get marked in the new compilation session.

As a short-term fix, we can mark the `limits` query as `eval_always`.

[2021-07-22 22:26] Mark-Simulacrum commented on #86511
cc @eddyb @nagisa -- was this an expected possible result from #84993? It sounds like it's plausible that LLVM depends on block order in order to generate optimal code, though a little unfortunate in this particular case.

This is likely to hit stable in 1.54, given that it's next week... but I doubt we can do anything in time for that.

[2021-07-22 22:27] Mark-Simulacrum commented on #86063
@rustbot ping arm

[2021-07-22 22:30] Mark-Simulacrum commented on #78226
T-compiler declined beta backport of https://github.com/rust-lang/rust/pull/87004, but given that we are currently of the opinion that the particular test failing is somewhat unlikely to be a "new" bug, I'm going to close this issue as fixed by #87004. In particular, it is my current understanding that this issue could have arisen on any past release with the right perturbations to the linker inpu

[2021-07-22 22:30] #78226 closed

[2021-07-22 23:07] ricobbe commented on #58713
It's not clear that the MSVC linker supports this in practice.  I tried something very close to the second example from @pravic's most recent comment (omitting only the declaration of `g`); the implementation of the two functions `f` in the various DLLs basically just printed `"f from A.DLL"` and `"f from B.DLL"`.  While I expected to see A.DLL's f and B.DLL's f called once each, in that order, I

[2021-07-22 23:17] yaahc commented on #44434
Checking off sfacklers checkbox on the FCP since he left the libs team.

[2021-07-22 23:44] yaahc commented on #53823
What Josh said, I've gone ahead and removed the `T-libs` label, thanks for the confirmation @pnkfelix ^_^.

[2021-07-23 00:16] asquared31415 opened #87391 "Specifying lint levels does not work on macros"
Given the following code:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9a1b773af2cac2860626115a77a2336b)

The current output is:

[code]

Ideally in this case, the compilation should succeed without warning, as the lint appears to have been explicitly allowed everywhere it is used.

This likely applies for all lints and all lint levels and all macros

[2021-07-23 00:23] ramosbugs commented on #85883
agree with OP on this issue for return types. the same thing shows up when re-exporting traits via `pub use` but forgetting to also re-export the return types. neither `cargo check` nor clippy complain in that case (see https://github.com/open-telemetry/opentelemetry-rust/pull/600 for an example of how easy it is to make that mistake currently). another minimal repro: https://play.rust-lang.org/?v

[2021-07-23 00:27] cuviper commented on #84277
That's interesting -- maybe `Result::from_residual` could also have `#[track_caller]`? But that may bloat a lot of callers in cases that won't ever use the data.

[2021-07-23 01:13] nikomatsakis commented on #87378
cc @rust-lang/wg-rfc-2229

[2021-07-23 01:22] arora-aman commented on #87378
@rustbot claim

[2021-07-23 01:29] Craig-Macomber opened #87392 "Cargo dignostic for misplaced `cargo-features = ["edition2021"]` could be better"
I followed the process at https://blog.rust-lang.org/2021/07/21/Rust-2021-public-testing.html#public-testing-period and wish to report a quality issue with a diagnostic from Cargo. The issue template linked didn't have one for cargo diagnostics, so I'm using the rustc diagnostic template.

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[cod

[2021-07-23 01:30] Craig-Macomber commented on #87392
On a related note, I was very impressed that there is a diagnostic at all for this which is so helpful: I immediately knew what to do, despite the minor issues above!

[2021-07-23 03:57] aviramha opened #87394 "Internal compiler error when compiling encoding_rs"
### Code
It happens to me when compiling https://github.com/aviramha/ormsgpack but the compilation fails on encoding_rs

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-23 04:36] kriomant commented on #53485
I tried to use `is_sorted_by_key` [this way](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=93317ebee5d5f4cc78628e90300879e0):

[code]

and got error:

[code]

Is it possible to make it work?

[2021-07-23 04:58] SlugFiller commented on #58713
@ricobbe I believe if you create the import tables in LLVM similar to the example I gave in #30027, then link with MSVC's linker, it should work. The example can easily be extended to two DLLs simply by addin another descriptor to the `.idata$2` section, before the null descriptor. It should also work with MinGW's linker. However, I would repeat the above note that, based on my previous test, it d

[2021-07-23 06:21] #86465 closed

[2021-07-23 06:21] #87218 closed

[2021-07-23 06:45] hellow554 commented on #87394
Please update your compiler. Should have been fixed in #87082

[2021-07-23 07:01] hellow554 commented on #87388
Regression in nightly-2020-10-17 dd7fc54ebdca419ad9d3ab1e9f5ed14e770768ea...e3051d8c24467b54c81da9d9ad70a3e82e106ec1

no CI build available, looking into it

[2021-07-23 07:09] hellow554 commented on #87386
Even Rust 1.10 is panicking...

@rustbot modify labels: regression-from-stable-to-stable

[2021-07-23 07:38] hellow554 commented on #87386
Not really smaller, but also suitable for older versions:

[code]

[2021-07-23 07:57] avl commented on #63818
Does an issue tracking this exist?

[2021-07-23 08:06] RalfJung commented on #63818
I think this is the issue tracking this.

[2021-07-23 08:24] thomaseizinger commented on #84277
From the description:

@artemii235 Do you mind opening a separate issue?

[2021-07-23 08:38] SkiFire13 opened #87397 "\xHH escaping suggestions are wrong for characters that are too big"
Consider this code:

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=72ec9cac9d7d0323e443bb972364021f)

The current output is:

[code]

The suggestions are incorrect: `\x5B57` is not a valid escaped character, only the `\x5B` part is interpreted as an escaped character while the `57` part is interpreted as two normal characters.

In the case of byte ch

[2021-07-23 08:53] paulmenzel commented on #86436
As the Rust 1.52.1 release builds and installs just fine, did anybody find the commit causing the regression?

[2021-07-23 09:06] wllenyj commented on #33159
I have this problem when I debug rust programs directly with gdb.

But when I use rust-gdb debugging, I don't have that problem.

[2021-07-23 09:10] RalfJung commented on #86436
Possibly in 1.52.1 Miri happened to build on stable even outside a git repo?
[This commit](https://github.com/rust-lang/miri/commit/8e661cc47e8ee50fdd60060f693ec9498fbc2a75#diff-b4f171af774d2b81df7be8893fd3c8f245f0d2d57a7ac106178a81ee7544d8b4) landed with https://github.com/rust-lang/rust/pull/83922 which first shipped in 1.53. Possibly older versions of vergen failed more gracefully when there is

[2021-07-23 09:29] GuillaumeGomez commented on #86184
I think it's somewhat related to https://github.com/rust-lang/rust/pull/79677.

[2021-07-23 10:03] nagisa commented on #87397
For the string variant we can still suggest using a sequence of escapes representing the unicode encoding: `\xE5\xAD\x97` in this case.

The behaviour is also pretty poor for unicode code points that _do_ fit inside a byte:

[code]

but `\xB5` is not a valid UTF-8 character, so the behaviour is likely to be incorrect.

[2021-07-23 10:16] 5225225 commented on #87397
You probably don't want to assume UTF-8 here. (If the string *was* pure UTF-8, why are they using a byte string?). Or at least make mention of the suggestion being only correct *if* you want the UTF-8 encoding.

You'd also drop the applicability of the suggestion to MaybeIncorrect, because it's impossible to tell what they actually wanted.

[2021-07-23 11:10] mripard commented on #87368
Thanks for the answer. The issue is that we might not be in total control over that structure's definition.

I'm seeing this warning on a bindgen structure, and as far as I know there's no way to control what's being set into the packed argument? Plus, that would depend on the architecture, but I guess cfg(target_pointer_width) can help

[2021-07-23 11:17] mati865 commented on #86436
FWIW Miri was present in version 1.43 http://web.archive.org/web/20200930154630/https://packages.msys2.org/package/mingw-w64-x86_64-rust
Probably since it's introduction but I don't have artifacts from back then.

[2021-07-23 11:31] ChrisDenton commented on #87368
Ah I see what you mean. It seems the warning is still displayed even if you wrap the struct so it's properly aligned:

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3ad8de9c616cc822309cdc0edc7eba1d).

[2021-07-23 11:32] artemii235 opened #87401 "`try_trait_v2` changed the location of the `From::from` caller so the stack trace is different."
Initial report https://github.com/rust-lang/rust/issues/84277#issuecomment-884838560

We have a problem in our project related to the new question mark desugaring. We use the `track_caller` feature in `From::from` implementation of the error types to collect stack traces with generics and auto and negative impl traits magic implemented by @sergeyboyko0791 (https://github.com/KomodoPlatform/atomicD

[2021-07-23 11:35] artemii235 commented on #84277
No objections at all :slightly_smiling_face: I've just created it https://github.com/rust-lang/rust/issues/87401.

[2021-07-23 11:47] nagisa commented on #81881
`-Ctarget-feature` accepts rust feature names as of https://github.com/rust-lang/rust/pull/84991

[2021-07-23 11:47] #81881 closed

[2021-07-23 12:17] mripard commented on #87368
Yeah, my real-world issue is a bit more convoluted, but looks like [this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=26b18d06e9f5ab2d6005d5d9e7d04fb4) and a is generated through bindgen (from system headers, so not a lot we can do to change their definition)

It seems to me that everything is aligned properly and has no chance of being unaligned, so that warning feels

[2021-07-23 12:38] jyn514 commented on #86184
Missed this before sorry - this is already stable: https://doc.rust-lang.org/stable/rustdoc/command-line-arguments.html#-e--extend-css-extend-rustdocs-css

[2021-07-23 12:56] jonas-schievink commented on #86711
MIR generated for `convert`:

[code]

Seems like this would be easy to handle with intra-block copy propagation, or the existing `dest_prop` pass (though it doesn't seem to handle this case *just* yet).

[2021-07-23 12:58] hkratz commented on #87397
Actually, µ is U+039C and two bytes in UTF-8: `b"\xC2\xB5"`. µ is `b'\xB5'` in ISO 8859-1. It seems the compiler does way too much magic here.

[2021-07-23 13:31] asquared31415 commented on #87367
The [targets list](https://doc.rust-lang.org/nightly/rustc/platform-support.html#tier-3) has no information about whether `std` exists for `riscv64gc-unknown-linux-musl`.  It's a tier 3 target as well, which while the compiler may work, is the least priority target and many such targets only have a small subset of the standard library, if any.

Based on your observations I would assume that `std`

[2021-07-23 13:46] jackh726 commented on #87388
Playground link isn't right (doesn't link to the code) and the backtrace looks wrong (I see Chalk lowering code?).

But this might be from https://github.com/rust-lang/rust/pull/77547

[2021-07-23 13:48] jackh726 commented on #87386
This is #62529 and likely fixed by #85499

[2021-07-23 13:48] #87386 closed

[2021-07-23 13:49] zakarumych commented on #87388
Sorry, fixed the link

[2021-07-23 14:19] aviramha commented on #87394
Thanks!

[2021-07-23 14:19] #87394 closed

[2021-07-23 14:30] rylev opened #87405 "Add more artifact size profiling"
As an extension to https://github.com/rust-lang/rust/pull/87404, we'll want to add support for profiling even more artifact file sizes. Below are some ideas of which artifacts we'll want to profile:

* object files
* bit code
* crate metadata
  * Everything captured [here](https://github.com/rust-lang/rust/blob/b2b7c859c1aae39d26884e760201f5e6c7feeff9/compiler/rustc_metadata/src/rmeta/encoder.rs#L

[2021-07-23 14:41] cjgillot opened #87406 "Macro definitions should be regular HIR items"
Macro definitions are currently handled separately from other item kinds in HIR, either as `MacroDef` nodes inside `hir::Crate::exported_macros` or as using the `hir::Crate::non_exported_macro_attrs`.

They should be transformed into additional variants in the `hir::ItemKind` enum, and iterated over like any other item.

Instructions:
- introduce two additional variants `hir::ItemKind::ExportedMac

[2021-07-23 15:14] #86254 closed

[2021-07-23 15:14] #54600 closed

[2021-07-23 15:14] #54840 closed

[2021-07-23 15:14] #58504 closed

[2021-07-23 15:14] #58956 closed

[2021-07-23 15:14] #70971 closed

[2021-07-23 15:14] #79099 closed

[2021-07-23 15:14] #84919 closed

[2021-07-23 15:14] #86201 closed

[2021-07-23 15:14] #86642 closed

[2021-07-23 15:14] #87295 closed

[2021-07-23 15:48] yaahc commented on #79561
We discussed this issue in our last Library API meeting and concluded that we don't have any intention of changing the current behavior. You should be able to get the configuration you want with @Nemo157's suggestion, so for now we're closing this issue. Let me know if there are any issues still that can't be resolved.

[2021-07-23 15:48] #79561 closed

[2021-07-23 16:13] PLDreyer opened #87409 "unexpected panic: [predicates_of] computing predicates of `std::clone::Clone`"
Hey guys,
I'm new to rust and while playing around with it I may have stumbled across a bug (at least that's what the compiler says).
I made the repository public and created a branch.

If I can be of any further help please let me know

### Code
https://github.com/PLDreyer/TwoFa/tree/compiler-bug
https://github.com/PLDreyer/TwoFa/blob/compiler-bug/src/main.rs#L50
[code]

### Meta

`rustc --versio

[2021-07-23 16:16] PLDreyer commented on #87409
Fixed (workaroung) with https://github.com/rust-lang/rust/issues/84970

[2021-07-23 16:28] pierwill commented on #87319
Discussed in [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/issue.2087319):

[2021-07-23 16:31] Manishearth commented on #86703
With the latest https://github.com/rust-lang/rust/pull/85499 I get the following bug:

[code]

[2021-07-23 16:35] jackh726 commented on #86703
@Manishearth can you run with `-Z verbose`?

[2021-07-23 16:37] Manishearth commented on #86703
[code]

[2021-07-23 16:46] jackh726 commented on #86703
Okay, so looks like my minimization in https://github.com/rust-lang/rust/issues/86703#issuecomment-872361485 doesn't fully capture the issue (though that *did* fail and now doesn't).

Looking at the `-Z verbose` error output, it looks really similar. But I'm wondering if maybe the region variables aren't resolving the `ReErased` as they were.

@Manishearth do you think you can on getting a more mi

[2021-07-23 16:52] lqd commented on #86703
IIUC the minimized test in the OP ICEs similarly

[2021-07-23 17:01] Manishearth commented on #86703
@jackh726 The minimized tescase in my post, if you add a `fn main()` to it, errors with this:

[code]

`-Clink-dead-code` does not affect the error.

To be clear, this code [is in a published crate](https://docs.rs/yoke/0.2.2/yoke/), I've preemptively disabled the test because we run coverage tests and they fail under `-Clink-dead-code`

Also, your PR causes another regression in the same crate:

[2021-07-23 17:12] Manishearth commented on #85636
@jackh726 btw, #85499 seems to fix this, care to add a testcase?

[2021-07-23 17:16] tmandry commented on #87211
Looks like an instance of #69663, potentially same as #57017.

@rustbot label: +AsyncAwait-Triaged

[2021-07-23 17:17] jackh726 commented on #86703
Okay, I'll look into it.

<details>
<summary>no_core version of the repro</summary>

[code]
</details>

[2021-07-23 17:17] Manishearth commented on #86703
(@jackh726 Out of curiosity, is there a reason you like `no_core` for the repros? Easier to debug?)

[2021-07-23 17:18] tmandry commented on #87309
Looks like an instance of #69663, potentially same as #57017.

@rustbot label: +AsyncAwait-Triaged

[2021-07-23 17:24] jackh726 commented on #86703
For me, yes, easier to debug. Making a test `no_core` means I can conceivably just `RUSTC_LOG=debug`, or at least be much more liberal with logging.

[2021-07-23 17:25] lqd commented on #86703
minimized a bit more the one in the OP (not the `no_core` repro)

[code]

[2021-07-23 17:26] tmandry commented on #87211
Agreed that these could all be clearer. Immutable references to `impl Future` do not implement `Future` because you need to be able to mutate the future to poll it.

This is a great issue for someone relatively new to the compiler to pick up. Start by [finding the source](https://rustc-dev-guide.rust-lang.org/diagnostics.html?highlight=treat-err#finding-the-source-of-errors) of each error message,

[2021-07-23 17:26] tmandry commented on #87211
@rustbot label +AsyncAwait-Triaged +E-mentor +E-help-wanted

[2021-07-23 17:31] eminence commented on #39364
Would it be worthwhile to add a note to the stdlib docs that says something to the effect of "Consider using the crossbeam crate if you are concerned about running into this bug" ?

Or is the link to this issue sufficient?

[2021-07-23 17:32] adrian17 opened #87411 "FlatMap, Flatten appear to optimize badly"
Context: I recently saw a perf regression caused by the following change:
[code]
The change was reasonable, with assumption that this would be more idiomatic and guarantee that the output Vec is preallocated. Unfortunately, this made the function several times slower. Recently-merged https://github.com/rust-lang/rust/pull/87168 helped here slightly, but the generated code is still much slower.

Th

[2021-07-23 17:43] cehteh commented on #87379
Working on this feature at:

https://github.com/cehteh/rust/tree/mutate_command_args

[2021-07-23 17:44] chazkiker2 commented on #87211
@rustbot claim

[2021-07-23 18:29] jackh726 commented on #86703
@Manishearth just pushed a fix. Can you confirm?

[2021-07-23 18:32] Manishearth commented on #86703
@jackh726 will take me a while since that commit hasn't been trybuilt. But it looks like you checked in the reduced testcase, so that's good!

[2021-07-23 18:44] Alexendoo commented on #77179
And the above no longer ICEs since #87141

[2021-07-23 19:04] Aaron1011 commented on #87409
This should be fixed in the latest nightly.

[2021-07-23 19:12] jyn514 commented on #87406
See also https://github.com/rust-lang/rust/pull/77862, https://github.com/rust-lang/rust/issues/87257, https://github.com/rust-lang/rust/pull/79396#issuecomment-733534180.

[2021-07-23 19:43] Manishearth commented on #86703
It works, thanks!

[2021-07-23 19:58] eloff commented on #87294
That seems like a design flaw? Why would you ref count the object in that case - it would be better typically just to leak it for the duration of the program (or free it some other way, if possible.) I'm convinced that it's a bad idea to make everyone pay the price of supporting pathological programs.

This is what I'm missing. So it's clear that using u32 on 64bit systems would actually result in

[2021-07-23 20:26] #86606 closed

[2021-07-23 20:26] #86905 closed

[2021-07-23 20:56] Smittyvb opened #87414 "thir-unsafeck query loops on closures in const-generics"
I tried this code with `-Z thir-unsafeck=on`:

[code]

I expected to see this happen: It compiles, as it does under the MIR checker

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

[2021-07-23 21:29] Craig-Macomber commented on #87294
If someone wants to design program that way, it should work. There may be reasons to do it, and even if they are bad reasons, the rust standard library should support it. I gave a concrete example of an existing heavily used API that works that way (Microsoft's Direct2D Factories) and could realistically hit this problem. Std should not make optimizations which cause particular design patterns to

[2021-07-23 22:10] Aaron1011 opened #87417 "Tracking Issue for `#[track_caller]` on closures"
This is a tracking issue for the RFC "XXX" (rust-lang/rfcs#NNN).
The feature gate for the issue is `#![feature(FFF)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions

[2021-07-23 22:37] inquisitivecrystal commented on #73255
What remains to be done before this can be stabilized?

[2021-07-23 22:46] anforowicz commented on #73632
### RE: --emit=obj

It seems to me that the [`--crate-type`](https://doc.rust-lang.org/rustc/command-line-arguments.html#--crate-type-a-list-of-types-of-crates-for-the-compiler-to-emit) switch controls the main output type of `rustc` (e.g. `rlib`, `staticlib`, `bin`, etc.) while the [`--emit`](https://doc.rust-lang.org/rustc/command-line-arguments.html#--emit-specifies-the-types-of-output-files-to

[2021-07-23 22:52] eloff opened #87418 "found unstable fingerprints for evaluate_obligation"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-23 22:57] Aaron1011 commented on #87418
This may be fixed in the latest nightly.

[2021-07-23 23:07] jhwgh1968 commented on #49802
Hey @rust-lang/libs-api team, since [it was decided to revert the Needle/Pattern API stabilization](https://github.com/rust-lang/rust/pull/76901#issuecomment-880169952), what is the status of this?

It would still really help me with cross-platform compatibility to have this implemented.

[2021-07-23 23:17] #72925 closed

[2021-07-23 23:17] #79704 closed

[2021-07-23 23:17] #85250 closed

[2021-07-23 23:17] #86499 closed

[2021-07-23 23:17] #85632 closed

[2021-07-23 23:17] #86507 closed

[2021-07-23 23:17] #87076 closed

[2021-07-23 23:19] eloff commented on #87418
It's fixed in 1.53.0 even. Sorry for the noise, I didn't realize there had been another release.

[2021-07-23 23:19] #87418 closed

[2021-07-23 23:20] amalik18 commented on #83584
I'm trying to create a new branch but i'm getting a `ERROR: Permission to rust-lang/rust.git denied to amalik18.` Any pointers?

[2021-07-23 23:38] jyn514 commented on #83584
@amalik18 are you trying to download using SSH? Use HTTP instead: `git set-url origin https://github.com/rust-lang/rust.git`.

[2021-07-23 23:51] the8472 commented on #87411
@adrian17 would it be possible to license those benchmarks in a way that's compatible with the rustc licenses so they can be included in the std benchmarks?

[2021-07-24 00:06] Aaron1011 commented on #83794
As of the latest nightly, this now produces:

[code]

pointing directly to the affected projection.

[2021-07-24 00:06] #83794 closed

[2021-07-24 00:06] Aaron1011 commented on #83782
On the latest nightly, this now produces:

[code]

[2021-07-24 00:06] #83782 closed

[2021-07-24 00:31] jsgf commented on #73632
One problem right now is that `--emit` is currently hashed into the crate hash, so, for example, `--emit metadata` and `--emit link` will generate different crate hashes for otherwise identical command lines. I'd really prefer this weren't the case, but I think this *particular* thing isn't relevant to this issue since by the time we get to linking crate hashes and rmeta should be irrelevant.

But

[2021-07-24 00:43] inquisitivecrystal commented on #87406
`ExportedMacro` (or indeed, `exported_macros`) is a fairly misleading name, since this includes non exported MBE 2.0 macros. I brought this up in #86968, but I haven't opened a follow-up discussion (partly because of a lack of bandwidth, and partly because it seemed like the relevant code needed to be rewritten at some point).

Incidentally, how difficult do you think this task will be?

[2021-07-24 01:36] jyn514 commented on #87406
@inquisitivecrystal my understanding without looking into it much is that basically everything that touches `exported_macros` today will have to be rewritten. So at least E-medium, possibly E-hard. But @petrochenkov would have a better idea than me.

[2021-07-24 03:11] inquisitivecrystal commented on #87406
Alright. I'm currently looking at whether this might be within my ability to implement. I don't like saying I'll do something until I I've checked that I have some chance of figuring it out, but the `E-mentor` helps a bit with that.

[2021-07-24 04:01] JulianKnodt commented on #87411
Looking at the last few benchmarks, it would appear that the main issue is that flatten doesn't vectorize well:
https://rust.godbolt.org/z/Mejb1GMso

I didn't check out the other ones, but there may be 2 issues, one where flatten doesn't vectorize well, and the other where collect cannot preallocate the correct amount.

As for the original change, imho converting everything into an iterator probab

[2021-07-24 04:36] jyn514 commented on #87289
I'm going to close this because it's not a bug - feel free to reopen if you're still having trouble after removing `std::`.

[2021-07-24 04:36] #87289 closed

[2021-07-24 06:19] joshtriplett commented on #49802
@jhwgh1968 We're not planning on reverting impls of this trait; we're keeping the trait. We're just planning to seal it and not support implementations outside the standard library.

[2021-07-24 07:27] amalik18 commented on #83584
Yep using HTTPS. I even generated a public access token. Still getting the error:
[code]

[2021-07-24 07:38] f32by commented on #44874
Currently lifetimes cannot be elided when using `arbitrary_self_types`:
[code]

And The Rustonomicon says:
https://doc.rust-lang.org/nomicon/lifetime-elision.html

Should this rule also be expanded to arbitary self types?

[2021-07-24 07:42] inquisitivecrystal commented on #86516
I've got a WIP combined documentation and stabilization PR that's pretty close to completion. I'm hoping to be able to submit it as a draft in the next few days, though it wouldn't be merged until the stabilization report and FCP. @rylev, is that alright with you?

[2021-07-24 08:18] inquisitivecrystal commented on #87406
I'm going to give this a go! There's no way of knowing for sure if I can do it until I actually try it out, and I can't do that properly until the PRs mentioned in the initial post are merged.

[2021-07-24 08:23] the8472 commented on #87411
actually, this is expected. `for_each` and related methods were introduced because internal iteration is easier to optimize than external iteration

https://medium.com/@veedrac/rust-is-slow-and-i-am-the-cure-32facc0fdcb

[2021-07-24 09:43] the8472 commented on #87411
At least in the array case the flatten version can be made faster than the collect loops

[code]

The nested data structure is a much tougher nut to crack since a good size hint isn't available and internal iteration doesn't have much of an advantage due to reallocation checks needed inside the loop. It basically uses the fallback code path and previous attempts to improve it also lead to compile

[2021-07-24 10:11] adrian17 commented on #87411
My bad, forgot to attach the MIT license :) Done.

[2021-07-24 10:31] hyd-dev commented on #84629
I believe `#[cfg(test)]` means "the test harness is used" (i.e. `#[test]` is active): https://doc.rust-lang.org/nightly/reference/conditional-compilation.html#test. Setting it in a library where `#[test]` is not active would be very unexpected to me. I'd suggest a different `cfg` like `#[cfg(integration_test)]`.

[2021-07-24 10:57] Timmmm commented on #84629
That's a great idea, than you can do `any(cfg(test), cfg(integration_test))` if you want.

[2021-07-24 10:59] Timmmm commented on #84629
Although a significant downside is that it adds another variant of the crate that you have to compile, which uses more disk space & time and makes things more complicated for IDEs.

[2021-07-24 11:13] hyd-dev commented on #84629
That downside it not specific to `integration_test` though. You will have two variants even if you use `test`:
- a binary crate variant that runs all `#[test]`s
- a library crate variant with `#[cfg(test)]` enabled but `#[test]` disabled

[2021-07-24 11:48] Veetaha opened #87425 "`implementation of Debug is not general enough` in closure returning async block with blanket trait impl"
I tried this code:

[code]

[Link to playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=575b4cb3dfe4136ff5b3388661b96c81)

I expected to see this compile.

Instead, this happened:

I've hit the "implementation of `Debug` is not general enough" when trying to make the async block into a trait object with `Send` bound.

<details>
<summary>Compile error output</summar

[2021-07-24 12:10] jyn514 commented on #83584
@amalik18 can you join the Zulip so I can help you debug this without spamming the issue tracker? https://rust-lang.zulipchat.com/

[2021-07-24 12:11] hargoniX opened #87426 "ICE during migration to Rust 2021, crate: stm32h7xx-hal"
### Code
Regarding a minimal example I am afraid I'm not quite able to provide one, this bug occured when i was migrating
https://github.com/stm32-rs/stm32h7xx-hal to Rust 2021 as part of the testing efforts. The branch/PR with the
Rust 2021 modifications can be found here https://github.com/stm32-rs/stm32h7xx-hal/pull/236. I did cfgment all
modules except the ones that are required to trigger the

[2021-07-24 13:54] Alexendoo commented on #74280
No longer ICEs since #87287

[2021-07-24 14:25] adamgemmell commented on #86063
I can reproduce this on qemu. I'm not sure precisely what I'm doing differently to @jfrimmel, but I'm using the source tarball @nickmertin uploaded (plus a modified memory layout for the QEMU machine). Possibly `build-std = ["core", "alloc"]` in the cargo config would do it.

[code]

From the last working rust commit bumping compiler-builtins to 0.1.40 (from 0.1.39) is enough to trigger this. Unfo

[2021-07-24 14:30] nikic commented on #85742
This issue has been fixed a while ago by #87018, which picks up the referenced fix.

[2021-07-24 14:30] #85742 closed

[2021-07-24 15:10] cynecx opened #87429 "Mismatched types issue with GATs"
I kind of expected this to work:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=95574c86f67ea4cd5b7c3509a9549f6d

[code]

However it fails with:

[code]

cc @jackh726

EDIT: I am not 100% sure but this may has to do with the variance of the gat.

[2021-07-24 15:21] RalfJung commented on #87377
Can't you use `#[cfg(target_has_atomic)]` in the test to basically stub it out?

[2021-07-24 15:25] pickfire commented on #40310
I think this shouldn't be an issue now. I tested this on a laptop (not a rpi) and seemed like the iterators methods are faster.
[code]

[2021-07-24 15:25] jyn514 commented on #87377
@RalfJung no, because that will cause the test to fail (because it's missing the error annotations).

[2021-07-24 15:26] RalfJung commented on #87240
Indeed the current check basically ensures that `dyn Trait` does not appear anywhere in any type in a `const fn`. This is because we might want to change the very meaning of that type in the future. (Basically, it is not clear if this should refer to a trait object that has a `const impl`, or just any trait object.)

So the error is expected, and we can't allow such code until we commit to what `d

[2021-07-24 15:27] RalfJung commented on #87377
Ah, good point -- thanks!

[2021-07-24 16:13] ehuss commented on #87426
Thanks for the report!  Here's a somewhat minimized reproduction:

[code]

[2021-07-24 16:16] ehuss commented on #87426
cc @rust-lang/wg-rfc-2229

[2021-07-24 16:22] ehuss commented on #87313
Yea, this is likely a "won't fix", though I think it would be good to leave this open for tracking purposes.

I'm wondering if it would make sense to include known migration limitations like this in the edition guide?

[2021-07-24 16:42] jpds opened #87432 "rustc: native on znver2 CPU picks znver1 for target-cpu"
I have a Ryzen 7 PRO 4750U on my laptop which gcc sees as `march=znver2`:

[code]

However, rustc sees this CPU as `march=znver1`:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-07-24 16:42] the8472 commented on #87411
This will be addressed by #87431

`.for_each()` should be used here instead of `for ... in`. There has been some discussion about changing the loop desugaring to internal iteration in some cases, but I don't think this is going to happen anytime soon.

These are just bad practice. It's a large collection of many tiny vecs on the heap which means the CPU spends more time chasing pointers and checki

[2021-07-24 16:45] roxelo commented on #87426
@rustbot claim

[2021-07-24 16:59] jpds commented on #87432
Appears to be LLVM related:

[code]

[2021-07-24 17:08] eddyb commented on #86511
It's possible to dig a bit more into this by diffing `-C llvm-args=-print-after-all -Z no-parallel-llvm` output from before and after the PR. I *think* it might be possible to reproduce the old order by adding this loop:
[code]
before this loop: https://github.com/rust-lang/rust/blob/18840b0719aa766a1bc49ea2eb5dc2e4cde7da3f/compiler/rustc_codegen_ssa/src/mir/mod.rs#L255-L259

This should be correc

[2021-07-24 17:24] ibraheemdev commented on #87015
It's considered a best practice to delay bounds until they are actually needed, and it does lead to confusing error messages sometimes.

[2021-07-24 17:24] eddyb commented on #87341
I guess this logic introduced by #68491 isn't useful unless `Cell` *also* had `#[repr(no_niche)]`: https://github.com/rust-lang/rust/blob/18840b0719aa766a1bc49ea2eb5dc2e4cde7da3f/compiler/rustc_middle/src/ty/layout.rs#L956-L960

The issue is that `UnsafeCell`'s niche was removed, but it was only done *without* touching the `abi` field, so it still looks like there's an available niche, it's just t

[2021-07-24 17:29] RalfJung commented on #87341
Miri should be fine -- it *both* checks the "validity range" in `abi::Scalar`, and recursively traverses the fields to look at their types.

[2021-07-24 17:52] adrian17 commented on #87411
Indeed, most of these cases I added artificially for wider comparison. `bench_array_4x500000_collect_*` are the only ones that directly impacted me.

That said, I've seen cases of iteration looking like `for item in (...).flatten()` in the wild, including some in rustc (see: regex ` in .+flat`).

[2021-07-24 17:56] nickmertin commented on #86063
That matches what I observed on real hardware as well.

[2021-07-24 18:06] ethercrow opened #87437 "Using str::contains inside of a filter leads to confusing error message."
I've been trying to learn some Rust by doing CodeWars. I've spent some time being stuck on this diagnostic. One of the easiest exercises there is to count vowels in a string. First I did it with a loop, but then got stuck trying to rewrite is as a filter.

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=785ded94c58b6d9a3a8acd16145a4970

[code]

The

[2021-07-24 18:21] JohnTitor opened #87438 "future-incompat: use of SIMD types aren't gated properly"
(Splitting from https://github.com/rust-lang/rust/pull/59238/files/8477a04a72a6f8e0adb46be91a2628b07648c200#r266976217)

Consider the following ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2fed52804dbbf36619639bbcffc544c9)):
[code]

which produces the following error (correctly):

[code]

But when we use it on struct ([playground](https://play.rust-lang.or

[2021-07-24 18:46] ehuss commented on #87432
I believe a patch to support detection of Renior is already up at https://reviews.llvm.org/D96220.

[2021-07-24 19:50] ibraheemdev commented on #86865
@rustbot claim

[2021-07-24 20:01] #87261 closed

[2021-07-24 20:21] BLucky-gh commented on #85774
Small update: when trying to benchmark something with synthetic code, which ended up being optimized away into basically a noop, and the compiler gave me the same warning again even though the variable was used in a while loop's condition, so maybe cargo emits the warning when the resulting compiled code doesn't read the variable because it was optimized away?

Note: there was also an issue of tha

[2021-07-24 22:30] #83938 closed

[2021-07-24 23:55] camelid commented on #87388
Appears to be a duplicate of #81199 (cc #87327 as well).

[2021-07-24 23:55] #87388 closed

[2021-07-24 23:56] camelid commented on #81199
Minimization from https://github.com/rust-lang/rust/issues/87327#issuecomment-883774159:

[code]

[2021-07-25 00:55] BoxyUwU commented on #87303
Same as #79248 I think

[2021-07-25 00:58] jackh726 commented on #87429
More minimized: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ef59771d4930cd20ed968e74067a638b

[2021-07-25 03:14] TennyZhuang commented on #87303
Yes! I will close it.

[2021-07-25 03:14] #87303 closed

[2021-07-25 09:42] farbodpm opened #87448 "Compiler error after unexpected powerdown"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-25 10:22] matthiaskrgr commented on #87448
Perhaps a file is corrupted on your disk, does the problem persist if you `cargo clean` and rebuild?

[2021-07-25 11:06] Timmmm commented on #84629
Good point. Perhaps the standard `#[test]` compilation could compile it as a library too (and then link with the test runner).

[2021-07-25 11:19] GuillaumeGomez commented on #84539
That would be problematic when browsing documentation from the filesystem and not with a server because then, it'd not be possible to change the theme because the local storage is stored at a folder level.

[2021-07-25 12:06] nospam3089 commented on #82687
I encountered the same clippy warning when iterating over Results, and got perplexed. With the current state of documentation, I personally perceive the warning as suggestion to write obfuscated code hiding the fact that error checking is missing.

Adding the documentation change suggested by @ralpha would make it much easier to realize what flatten() does. Maybe it might be made even more clear h

[2021-07-25 12:58] Skepfyr opened #87450 "Exponential compile time with recursive opaque type"
### Code

I tried this code:

[code]

I expected running `cargo check` to produce an error like:
[code]

It does, but `cargo check` takes time exponential in the number of `wrap` calls, although doesn't appear to use any extra memory.
In `foo` the time take looks like:
| Num `wraps`s | Time taken (s) |
|-|-|
| 4 | 0.5 |
| 5 | 2.1 |
| 6 | 28 |
| 7 | 436 |

I believe it's also exponential in the num

[2021-07-25 13:09] jyn514 commented on #87450
@Skepfyr what version of rust are you using? Is this also present on nightly?

[2021-07-25 13:12] Skepfyr commented on #87450
Good question! This repros on the latest nightly (`nightly-2021-07-24`) and on stable (1.53.0 2021-06-17).

[2021-07-25 13:18] klensy commented on #87450
Regression means that it was linear, or exponential, but smaller?

[2021-07-25 13:29] Skepfyr commented on #87450
I didn't check....it looks to still be exponential just much quicker, and with a smaller base (~2 vs ~14):
`nightly-2019-10-16`
|Num calls|Time (s)|
|-|-|
|15|0.68|
|16|1.3|
|17|2.7|
|18|5.6|
|19|12|
|20|25|

[2021-07-25 13:39] WaffleLapkin opened #87452 "Phantom ICE: thread 'rustc' panicked at 'index out of bounds: the len is 190 but the index is 40260'"
As the title suggests, the ICE was "phantom" i.e. after I ran `cargo r` for a second-time compilation succeeded without problems. As such, I can't provide MRE.

The ICE happened while I was compiling edited `11-usart` example from the [Discovery Book][book]. The exact version of the code can be found in [my fork].

[book]: https://docs.rust-embedded.org/discovery/11-usart/index.html
[my fork]: htt

[2021-07-25 13:43] ibraheemdev commented on #68697
I think this issue was fixed:
[code]

[2021-07-25 13:44] ibraheemdev commented on #68697
Actually, that should be a help message. @rustbot claim

[2021-07-25 14:39] ibraheemdev commented on #81643
MRE:
[code]
[code]

[2021-07-25 14:50] ibraheemdev commented on #87450
#65293 looks related

[2021-07-25 14:57] ibraheemdev commented on #81643
@rustbot claim

[2021-07-25 15:07] qiujiangkun opened #87454 "Could not `allow(deprecated)` for deprecated variants in derived functions"
I tried this code:

[code]

I expected to see this happen: *compiles without warning*

Instead, this happened:
[code]

`#[allor(deprecated)]` could be implemented in `serde` crate, but there are too many other crates.

### Meta
`rustc --version --verbose`:
[code]

[2021-07-25 15:36] djc commented on #81881
@nagisa the other part of this issue is getting `--print target-features` aligned with `--print cfg`, which as far as I can tell is not affected by #84991. Should we keep this issue open until that part is addressed as well?

[2021-07-25 15:36] ehuss opened #87455 "ICE: unexpected concrete region in borrowck: ReStatic"
Trying to build [`warp`](https://crates.io/crates/warp) 0.2.5 with latest nightly results in an ICE.

Bisected the regression to #87287, cc @oli-obk.

I have tried to minimize it. This still requires `futures` 0.3, I'm not sure how to minimize if further.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[c

[2021-07-25 15:39] djc commented on #87355
@triagebot modify labels to +A-edition-2021

[2021-07-25 15:55] #75429 closed

[2021-07-25 15:58] Aaron1011 opened #87456 "Point to closure when emitting 'cannot move out' for captured variable"
Given the following code: [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3990acab741a6778ac3e23aedfdc8aa6):

[code]

The current output is:

[code]

However, we do not point to the closure, or explain why it implements `FnMut`. In a larger function, this can be confusing.

[2021-07-25 16:41] ibraheemdev commented on #81643
Fixed on nightly:
[code]
[code]
@rustbot release-assignment

[2021-07-25 17:24] ibraheemdev commented on #53905
I think this was fixed:
[code]
[code]

[2021-07-25 17:40] ibraheemdev commented on #63713
`IndexMap` seems like the more correct data-structure when consistent iteration order is relied on, maybe rename `FxHashMap` to something like `FxUnstableMap` and promote use of `FxIndexMap` instead?

[2021-07-25 17:45] bjorn3 commented on #63713
`IndexMap` is for when you need **some** consistent iteration order. `StableMap` is to prevent accidentally relying on **any** iteration order by not allowing iteration at all. Instead only allowing get, insert and conversion into a sorted array. This means that it doesn't have any overhead to maintain a consistent iteration order.

[2021-07-25 17:48] ibraheemdev commented on #63713
Hm, I see. So then the change that needs to be bade is replacing all uses `FxHashMap` with `StableMap`, and maybe adding a `.unstable_iter` method to `StableMap` for cases where iteration is needed but no order is being relied upon (if there are any cases like that)?

[2021-07-25 17:49] bjorn3 commented on #63713
Yeah, that was my idea.

[2021-07-25 17:50] ibraheemdev commented on #63713
Sounds good. @rustbot claim

[2021-07-25 17:53] bjorn3 commented on #63713
Maybe start small? Convert just a couple of places and go from there based on review feedback. It is possible that not everyone will like this change.

[2021-07-25 18:30] Mark-Simulacrum commented on #63713
I think it would be good to avoid replacing with StableMap where the stable part of it isn't used - maybe we can have an UnorderedMap or something that is basically StableMap but doesn't expose the into_sorted or similar? Alternatively, calling it something other than StableMap might be good - that would be a weird name to see where there's no need for stability. The map itself isn't stable, eithe

[2021-07-25 18:47] ibraheemdev commented on #63713
One way to do it would to just replace `FxHashMap` with `StableMap` entirely, (keeping the name `FxHashMap`). That way the only change that needs to be made is replacing iterations with either `.into_sorted_vec`, `unstable_iter`. The only change that really needs to be made (from what I understand) is being explicit about whether or not you care about insertion order.

[2021-07-25 18:58] joshtriplett opened #87461 "return-type mismatch in async function gives "return type inferred" pointing to use of `?`"
Given the following code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a781a1a9802fef4d8fe8462fe746a1f4)):

[code]

The current output is:

[code]

An even more minimal example:

[code]

This similarly produces a note pointing to the `Err(42u64)?;` line.

The note seems entirely unhelpful here; the function's declared type doesn't match the `Ok(())`, an

[2021-07-25 19:01] #83693 closed

[2021-07-25 19:01] #84768 closed

[2021-07-25 19:09] Mark-Simulacrum commented on #63713
That could work. I think we already have some lints in the compiler tree for using FxHashMap over std's map, so we could also do this by adding to that lint to ban iter() or similar and add an extension trait that gives you into_sorted_vec/unstable_iter (the trait would then have `allow(rustc::...)` on its implementation.

[2021-07-25 21:05] FabianWolff commented on #87461
I think this is unrelated to both the `async` and the `?` (they just "hide" the problem), because I can reproduce the problem as follows:
[code]
[code]
It is caused by the fact that `ret_coercion_span` (which is used for error reporting later) is set to the span of the first `return` statement here:
https://github.com/rust-lang/rust/blob/478126c0f3520ccd95a6f16be2812a78e3da711c/compiler/rustc_type

[2021-07-25 21:15] FabianWolff commented on #87461
@rustbot claim

[2021-07-25 21:28] Aaron1011 commented on #86758
Normally, we would get the LLVM error message "ran out of registers during register allocation" here. However, Rust's LLVM diagnostic handler does not emit diagnostics immediately - it queues them up for the main thread to handle. As a result, we hit the assertion before the main thread has a change to print the diagnostic.

Bug https://bugs.llvm.org/show_bug.cgi?id=42569 looks potentially related

[2021-07-25 22:49] bstrie commented on #63787
Is this issue still applicable? When trying the original example on 1.56-nightly (which AFAIK has mutable-noalias on by default) I get the following:
[code]

[2021-07-26 01:27] inquisitivecrystal commented on #46909
I'm going to close this. I've checked with the libs team and they've said that the current design is intentional. They might be open to the idea of changing it if someone wanted to do that, but it would take either further discussion or an RFC.

[2021-07-26 01:27] #46909 closed

[2021-07-26 01:30] imbrem commented on #64102
In my opinion that's a great idea, but here's another: what about `black_box` referencing it's input, passing the pointer to the assembly, and then returning the input? Downside is it potentially ties up a register to hold the reference and then do nothing; upside is no unpacking/repacking/etc.

[2021-07-26 01:53] AaronKutch opened #87466 "The 2021 panic macro no longer works in `const` functions"
I encountered one issue when trying to migrate my crates to edition 2021. This no longer compiles:
[code]

I understand that this requires a nightly feature to observe, but `const_panic` was really close to stabilizing and I use this in a lot of places. Is it possible to adjust the underlying `format_args` to be `const` with a static string input, or is there something else I should use? I don't w

[2021-07-26 02:26] ThePuzzlemaker commented on #87454
This is because serde and most other `#[derive(...)]` and proc macro crates generate code outside of the type definition, and as `#[allow(deprecated)]` only applies to the `enum Foo { ... }` definition and not the generated `impl` blocks, the warning applies.
It would probably be a good idea to report this to serde or other proc macro crates so that they can implement a check where if `#[allow(dep

[2021-07-26 03:26] inquisitivecrystal commented on #87466
This is a [known problem](https://github.com/rust-lang/rust/issues/85194#issuecomment-852345377), unfortunately. It appears to be a result of the changes made to the panic macro to standardize its behavior.

[2021-07-26 03:59] AaronKutch commented on #78356
Would implementing this fix #87466? It would be great if this were done before `const_panic` and/or edition 2021 is stabilized.

[2021-07-26 04:43] jhpratt commented on #78356
@AaronKutch in the issue description

This doesn't really have anything to do with the edition, though. `const_panic` is still unstable for a reason.

[2021-07-26 04:58] eddyb commented on #63787
AFAIK `noalias readonly` (i.e. not mutable, not even by the rest of the world) is what the example in the issue description is about (also I don't think we ever omitted it for `&T` references), and that seems to be gone (at least from your LLVM IR snippet).
The issue description mentions `RefMut` too, but you'd have to make your own example by replacing `Ref` with `RefMut` (but it does indeed look

[2021-07-26 05:43] bbjornse commented on #73632
I agree that depending on `--emit obj`, without formal or documented guarantees about what the output will contain, feels fragile (like depending on linking with rlib). Case in point, when experimenting with this I found that `--emit obj` works differently with `--crate-type lib` and with `--crate-type staticlib`.

I don't feel that `--emit` is just a debugging option, though; rather, I understand

[2021-07-26 06:08] hellow554 commented on #87455
Seems like a duplicate of https://github.com/rust-lang/rust/issues/79590

[2021-07-26 06:10] hellow554 commented on #87452
Sounds like a incremental compilation error. Do you know what you have changed between the two runs or before you did that? Can you maybe provide a `git diff` that shows the changes? A `cargo clean` should most likely resolve the issue nevertheless.

[2021-07-26 06:37] foodornt commented on #53667
it's been 3 years, what happened to this RFC 😢

[2021-07-26 07:05] e2-71828 commented on #85063
Here's an [URLO post](https://users.rust-lang.org/t/impl-where-bound-surprisingly-hitting-type-requirement-recursion-limit/62782) that contains another repro for this bug.

[2021-07-26 07:16] Fluhzar opened #87470 "ICE in rustdoc running `cargo doc` w/ trait's containing associated consts"
The example code provided here is also demonstrated in [this repo](https://gitlab.com/fluhzar/rustdoc-trait-with-associated-const-ice)

### Code

[code]

Interestingly enough, this alone is not sufficient to trigger the ICE (`cargo doc` executes successfully). To do so another crate is needed (can be a bin or lib) that depends on the crate containing the above code, running `cargo doc` in that cra

[2021-07-26 07:18] e2-71828 commented on #39959
Another instance of this [showed up on URLO](https://users.rust-lang.org/t/impl-where-bound-surprisingly-hitting-type-requirement-recursion-limit/62782/2) with a [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ee95d70caaf6e18e779879f5c83ca2db) that produces the error.

I was able to find a [workaround](https://play.rust-lang.org/?version=stable&mode=debug&

[2021-07-26 07:35] WaffleLapkin commented on #87452
@hellow554 I did literally nothing. No code changes, no `cargo clean`, etc.

[2021-07-26 07:56] rylev commented on #86516
@inquisitivecrystal Yep! Feel free to open the draft PR, and I will have the stabilization report done soon.

[2021-07-26 07:56] crlf0710 commented on #56345
According to https://github.com/rust-lang/rust/pull/76901#issuecomment-880169952 and corresponding t-libs fcp, this rfc is withdrawn. Closing.

cc https://github.com/rust-lang/rfcs/pull/3154

[2021-07-26 07:56] #56345 closed

[2021-07-26 08:25] detly commented on #78256
If you are going to detect the target of a link, why require the backticks for monospacing at all, when the target is an [item](https://doc.rust-lang.org/reference/items.html)?

[2021-07-26 08:25] JaydenElliott commented on #87181
@rustbot claim

[2021-07-26 08:30] JaydenElliott commented on #87181
Happy to try give this a go as my first contribution.

[2021-07-26 08:51] pietroalbini commented on #81658
The revert has landed on all the supported branches. Closing the regression issue.

[2021-07-26 08:51] #81658 closed

[2021-07-26 08:52] pietroalbini commented on #82913
Beta backport landed. Closing this.

[2021-07-26 08:52] #82913 closed

[2021-07-26 08:54] pietroalbini commented on #86063
1.54 stable will be built today and released on Thursday, this will unfortunately have to slip into stable :(

The target is not tier 1 so this won't block the release, but it will be added in the compatibility notes section.

[2021-07-26 09:01] tschuett commented on #86063
Is the build process documented somewhere? Is it a highly optimized binary?

[2021-07-26 09:12] pietroalbini commented on #86063
The build itself is done by our normal CI and the full release process is [documented here](https://forge.rust-lang.org/release/process.html).

The build doesn't take that long to finish though. The Release Team prepares the final release on Monday to be able to publish a pre-release on Monday evening, allowing testing from the wider community before the actual release goes out. It's possible to d

[2021-07-26 09:31] tschuett commented on #86063
Thanks! I noted that the python scripts use the aws cli instead of the excellent boto3 library. But probably the scripts are battle proof by now.

[2021-07-26 09:32] pietroalbini commented on #86511
This will slip into 1.54 stable, as the release is going to be built today.

[2021-07-26 09:57] hkratz commented on #87450
Bisected to innocent-looking commit fe09bb518d9dfb270a6f3562b50b96272524b42c. Removing the caching from `OpaqueTypeExpander` in master does indeed fix the issue. I haven't looked at the how or why though or where that causes (other) problems though.

cc @tmandry

[2021-07-26 09:58] Amanieu commented on #86063
This is a bug in LLVM's expansion of 128-bit shifts: https://rust.godbolt.org/z/3nz1fnTE5

The 128-bit shift is expanded to a series of 64-bit shift via `__aeabi_llsl`.

Note how the shift value in `r6` is only masked with `127` before being passed to `__aeabi_llsl`. This means that the shift value passed to `__aeabi_llsl` may be larger than 64, which is UB according to the specification for `__ae

[2021-07-26 10:57] kamulos commented on #68537
Is there any status update on stabilization? This would be such a valuable function for some cases: I currently have the exact same case that is in the documentation:

[code]

and I am not comfortable having `unwrap()` in the code

[2021-07-26 11:32] RalfJung commented on #63787
Interesting! So when did this change, and what exactly are the rules for `noalias` emission these days? I'm not aware of any lang team decision here, so this might be mostly an accident.

[2021-07-26 11:36] rylev commented on #86516
# Stabilization Report :tada:
(Let me know if I missed anything)

## Description of behavior

- A new command line option `force-warn` is added which (like other lint options like `-A`, `-W`, etc.) accepts a lint name or lint group and ensures that if that lint is triggered it is emitted.
- `force-warn` is to `warn` as `forbid` is to `deny`. It behaves just like the other option but cannot be supp

[2021-07-26 11:46] danieljl opened #87477 "Pointer equality of ZST in debug build is inconsistent with that in release build"
Consider this code:

[code]

It will output `false` in debug build, but `true` in release build.

I've tried other Zero-Sized Types (ZST), like an empty array and a struct with no field, and the result is still the same.

Interestingly, the code below will consistently output `false` in both debug build and release build:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=releas

[2021-07-26 11:48] fee1-dead commented on #87466
See #86998

[2021-07-26 12:02] bjorn3 commented on #63787
I believe the last changes to these rules was in https://github.com/rust-lang/rust/pull/82834: https://github.com/rust-lang/rust/blob/cfc856acf3112d241bd4de55ec91df5aef66c352/compiler/rustc_middle/src/ty/layout.rs#L2340-L2368

[2021-07-26 12:17] fee1-dead commented on #87361
the HIR is AST. there are also code like this: `use rustc_hir as ast;`. You can read about it here:

https://rustc-dev-guide.rust-lang.org/hir.html

[2021-07-26 12:26] jyn514 commented on #87450
Hmm, the only thing that looks expensive there is the hashing - I wonder if it's hashing `substs` over and over again without ever getting a cache hit? Hashing `DefId` has a fixed cost, but `SubstsRef` can be an arbitrary length: https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/subst/type.InternalSubsts.html

[2021-07-26 12:53] Mark-Simulacrum commented on #86516
Can we elaborate on this point? I think it'd be useful to list the behavior in a sort of matrix with cap-lints on one axis and the environment the lint is issued in (`deny/allow(warnings)`; `allow/warn/deny/forbid(some_specific_lint)`) on the other.

For example, does force-warn cause an allow'd lint to fire? If it does fire, is it forcing it to *warn* level, or does it become a regular warning an

[2021-07-26 12:53] jyn514 commented on #87470
This is unrelated to 2021. The ICE happens with or without the edition.

[2021-07-26 12:59] jyn514 commented on #87470
Here's a more helpful backtrace:

<details>

[code]

</details>

[2021-07-26 13:05] jyn514 commented on #87470
Probably the issue is in dhttps://github.com/rust-lang/rust/blob/cfc856acf3112d241bd4de55ec91df5aef66c352/src/librustdoc/clean/mod.rs#L1427 somehow.

[2021-07-26 13:12] jyn514 commented on #78256
@detly the backticks would not be required. Backticks mean the item should be highlighted as code, so rustdoc uses a monospace font for them already.

[2021-07-26 13:33] qiujiangkun commented on #87454
I understand it.
It seems the solution is to `#![allow(deprecated)]` or `#[allow(deprecated)] mod foo { enum Foo {...} } use foo::Foo;` without help from serde

[2021-07-26 13:43] WaffleLapkin commented on #68537
@kamulos since this method was added almost a year ago and all unresolved questions were since resolved, I believe we can start the stabilization process. Someone from the libs team needs to start an FCP.

[2021-07-26 14:00] nikomatsakis opened #87479 "GATs: Decide whether to have defaults for `where Self: 'a`"
## Coming from the "missing required bounds" error?

The "missing required bounds" error that was emitted is intended to ensure that current code is forwards-compatible with potential future changes. We'll provide a brief summary of the why the bounds are required, the potential future changes, and a workaround if the required bounds are too restrictive. We would appreciate any feedback for this i

[2021-07-26 14:05] ehuss opened #87481 "short backtraces do not always work on Windows without debug info"
Ever since #75048, `RUST_BACKTRACE=1` does not show a backtrace in some situations when compiling with x86_64-pc-windows-msvc.  Some examples:

## Basic main

[code]

`RUST_BACKTRACE=1 cargo run --release`

On windows shows:

[code]

On other platforms, this shows:

[code]

Hm, OK, maybe there's just something weird about `main` on Windows, let's panic from some function:

[code]

Exact same resul

[2021-07-26 14:35] nikomatsakis commented on #87479
cc @rust-lang/lang

[2021-07-26 14:38] jhoobergs commented on #81654
In combination with @trevyn 's patch solution I guess the best fix for now is to use?
[code]
(I am using some dependencies that use old versions of nom (5.*) and this is why I needed it)

[2021-07-26 14:50] memoryruins commented on #81654
@jhoobergs `nom 5.1.2` has this in its `Cargo.toml`, which has the fixed version in its range.

[code]

Trying myself with the following `Cargo.toml`, cargo brings in `lexical-core 0.7.6`.
[code]

It's possible that `cargo update -p lexical-core` is all that is needed, without the patch, so that your `Cargo.lock` is updated.
https://doc.rust-lang.org/cargo/commands/cargo-update.html

[2021-07-26 15:03] khachaturh opened #87482 "Compiler cannot detect recursive Default::default()"
I tried this code:

#[derive(Debug)]
struct Foo {
    flag: bool,
    name: String,
    id: i32,
}

impl Default for Foo {
    fn default() -> Self {
        Foo {
            flag: true,
            name: "Tom".to_string(),
            ..Default::default()
        }
    }
}

fn main() {
    let foo = Foo::default();
    println!("Foo - {:?}", foo);
}

I expected to see this happen: warning: funct

[2021-07-26 15:04] oli-obk commented on #87455
I don't think that is related, neither the error matches nor is it a recent regression. Did you link the wrong issue?

#87483 fixes this ICE

[2021-07-26 15:48] ChrisJefferson opened #87485 "PartialOrd documentation mixes functions and operators"
The documentation for PartialOrd: https://doc.rust-lang.org/core/cmp/trait.PartialOrd.html

Tells me to implement functions `partial_ord`, and (possibly) `lt`, `le`, `gt`, `ge`. The documentation immediately starts talking about the Rust `<` and `>` operators, without ever saying how those operators relate to the functions in the trait. There also aren't any requirements put on `le` and `ge` (I'm

[2021-07-26 16:02] jhoobergs commented on #81654
Thanks, that was indeed the case. I had tried `cargo clean` but had forgotten about to lock-file.

[2021-07-26 16:33] the8472 commented on #87485
That context is provided on the module level. https://doc.rust-lang.org/core/cmp/index.html

[2021-07-26 16:41] dhardy opened #87486 "Unexpected lifetime bound requirement on trait impl method returning a ref"
This code fails
[code]
Shortened error message:
[code]
Adding such a constraint is (a) impossible and (b) already implied,

Replacing `Foo` with a trait yields the same error.

Tested on 1.53.0 and `9c25eb7aa 2021-07-25` nightly.

Possibly this is #80675.

[2021-07-26 17:07] rylev commented on #86940
@rustbot claim

[2021-07-26 18:10] JohnTitor commented on #87454
Going to close as this isn't an actual bug. Thanks for reporting!

[2021-07-26 18:10] #87454 closed

[2021-07-26 18:13] FabianWolff commented on #87397
Yes, I guess it makes sense to suggest `b"\xE5\xAD\x97"` (i.e., the UTF-8 encoding) if the user wrote `b"字"`, with `Applicability::MaybeIncorrect` and some text that questions whether this really is what was intended.

@rustbot claim

[2021-07-26 18:41] FabianWolff commented on #87414
Reduced (either of the following two functions reproduces the issue):
[code]
This is caused by the fact that closures are handled by their owner:
https://github.com/rust-lang/rust/blob/fc24bcead1d401ae061538d011e4a319c4195b56/compiler/rustc_mir_build/src/check_unsafety.rs#L600-L609

@rustbot claim

[2021-07-26 18:44] Fluhzar commented on #87470
Thanks for following up on the issue. Idk how I missed that it wasn't 2021-related, but I've since removed those parts of the issue and the linked repo as well, if its of any use.

[2021-07-26 19:00] chengniansun commented on #74713
I think I have found a duplicate.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-26 19:05] chengniansun opened #87490 "ICE: compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs:498:17: cannot relate region: LUB(ReErased, ReEmpty(U0))"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-26 19:50] Mark-Simulacrum commented on #83167
I was not aware of that context, thanks @lqd -- in that case I think the names seem like an improvement indeed. Maybe we can put a quick section in the root (e.g., https://doc.rust-lang.org/nightly/core/arch/x86_64/index.html and https://doc.rust-lang.org/nightly/core/arch/x86/index.html) that mentions that the names of immediate parameters describe their widths (imm1 -> 1 bit, etc.)? Could help r

[2021-07-26 20:00] RalfJung commented on #63787
Ah... `noalias` is now only added in optimized builds. And with the `-O` flag, everything seems to behave as before.

[2021-07-26 20:20] zorftw commented on #42202
It's been rather long, why is still unstable?

[2021-07-26 20:29] pietroalbini commented on #87059
Hello @ahicks92!

Rust 1.54.0 is going to be released this Thursday, and I think I backported all the PRs referenced in this issue to the upcoming stable. Could you check whether [the pre-release documentation](https://dev-doc.rust-lang.org/1.54.0/std/) still presents regressions compared to 1.53.0?

[2021-07-26 20:31] dtolnay commented on #86329
Closing as a duplicate of #39511.

[2021-07-26 20:31] #86329 closed

[2021-07-26 20:31] jsgf commented on #87325
@fangism Abs paths can be hard to eliminate. One case is where someone is doing `include!(env!("VAR"))`. In this case `VAR` is interpreted relative to the file that's doing the including, but if you don't know precisely where that is, or it's from multiple files in different directories, then the most robust thing to do is make `VAR` an abs path.

[2021-07-26 20:58] iscgar commented on #76795
I just saw this with a 1.56.0 update nightly on WIndows:
[code]

Rustup current version (no idea what it was before the update):
[code]

From the above output it seems that the last time I ran `rustup update` might have been somewhere around April, so it might just be an outdated rustup version, but posting here as another data point in case it's still a problem.

[2021-07-26 21:06] bstrie commented on #63787
By "behave as before", you mean you're still seeing an invalid `noalias`? If I try your original code example with 1.56-nightly in release mode, and add in a `#[inline(never)]` so that the function doesn't boil away, I get this, without any `noalias`:
[code]
What is the exact output that you're seeing, and with which version?

[2021-07-26 21:07] sffc opened #87493 "Misleading error message on associated type bounds"
I tried this code:

[code]

Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=adddc330eab816444616202cc576f88e

I expected to see this happen: The error message should indicate that the `==` should be a single `=`.

Instead, this happened: The error message gives no hint of the correct syntax.  It gives two errors, neither of which are helpful:

[code]

This error

[2021-07-26 21:16] chengniansun opened #87495 "ICE: compiler/rustc_typeck/src/hir_wf_check.rs:133:29: Unexpected TraitItem"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-26 21:19] chengniansun opened #87496 "ICE: compiler/rustc_lint/src/types.rs:859:17: malformed transparent type"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-26 21:22] programmerjake commented on #54855
There is a postponed RFC: https://github.com/rust-lang/rfcs/pull/2581

[2021-07-26 21:23] programmerjake commented on #54855
C is getting generic integers: https://github.com/rust-lang/rfcs/pull/2581#issuecomment-887036118

[2021-07-26 21:26] chengniansun commented on #87340
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-26 21:32] cjgillot commented on #87406
@inquisitivecrystal : https://github.com/rust-lang/rust/pull/87234 contains a perf regression which may very well be caused by this bug. I think you can go ahead with the implementation, I will rebase it on top of your work.
923ae28c0d60720a76782803ff478e49b099746c introduces the `hir::OwnerNode::NonExportedMacro` variant I mention in the top post. This commit will point the right place to modify,

[2021-07-26 21:35] eddyb commented on #63787
Make sure to add `-C no-prepopulate-passes`, otherwise you get the fully optimized inference, including e.g. `readnone` on unused `fn` parameters. I haven't actually checked it, tho, just a pitfall to be aware of.

[2021-07-26 21:36] Yuri6037 commented on #38078
This also is a problem with non-nested types:
[code]

Output:
[code]

[2021-07-26 21:50] #87378 closed

[2021-07-26 22:32] tmandry commented on #75861
Are additional docs required for this feature? The documentation in std looks sufficient. The rustc guide says the reference must be updated, but I'm pretty sure that doesn't apply to library APIs.

The unstable book has a [stub entry](https://doc.rust-lang.org/unstable-book/library-features/arc-new-cyclic.html), that might need a blurb on the feature but I'm not sure it matters for stabilization.

[2021-07-26 23:09] thomasyonug commented on #87361
Gotcha, thanks.

[2021-07-26 23:10] #87361 closed

[2021-07-26 23:32] eholk commented on #57017
I'm looking into this a little now. I noticed there was a difference between the `match` and `if` versions of the `wat` and `ok` functions and decided to try `if let`:

[code]

This also fails. Maybe this isn't too informative though, since `if let` desugars into a `match`.

[2021-07-26 23:44] Kixiron opened #87498 "[Missed Optimization] Checked and overflowing shifts don't unify"
These functions are functionally (heh) identical, and as such they should at least produce the same code and ideally be unified (only output a single function to serve both invocations)

[code]

As I said, these functions are both identical: They shift by the given number of bits and if a shift overflow occurs they zero all bits. However, instead of producing the same assembly they produce *slight

[2021-07-26 23:45] ahicks92 commented on #87059
Yeah, that looks good.  Specifically I hit [Vec](https://dev-doc.rust-lang.org/1.54.0/std/vec/struct.Vec.html).

Thanks for prioritizing this.

[2021-07-26 23:45] ahicks92 commented on #87059
Sorry for the double comment.  If there's further specific tests you want I'm happy to do them.

[2021-07-27 00:07] jyn514 commented on #87059
@ahicks92 that's great! Are there any further fixes you'd like, or can the issue be closed?

[2021-07-27 00:10] xelahi commented on #76314
What would be the safety requirements on `from_mut_ptr`? Would overlapping atomics of different sizes be alllowed?

Overlapping atomics of different sizes is probably an obscure use case, but it would be really helpful in some situations. However, Rust's memory model (i.e., C++ memory model) does not appear to account for that possibility.

[2021-07-27 00:31] #87197 closed

[2021-07-27 03:12] #85462 closed

[2021-07-27 05:16] amalik18 commented on #83584
https://github.com/rust-lang/rust/pull/87445

[2021-07-27 05:53] #36473 closed

[2021-07-27 06:00] muellerpeter-pms commented on #87286
Hi,

is there anything new about that? Can I assist in any way further?

[2021-07-27 07:21] kinnison commented on #76795
That message doesn't exist in current rustup so it was an outdated rustup.  When it has been a while, it's worth running `rustup self update` first :D

[2021-07-27 07:23] RalfJung commented on #76314
Such averlapping atomics are called "mixed accesses" in the weak memory literature, and indeed most memory models do not support them.

[2021-07-27 07:25] iscgar commented on #76795
Would it be possible to change the update order and check for self update first when running `rustup update` in order to avoid this kind of problems in the future?

[2021-07-27 07:41] kinnison commented on #76795
Due to limitations in self-update on Windows, no, not easily.

[2021-07-27 08:10] inquisitivecrystal commented on #87406
I'm on it!

[2021-07-27 08:19] RalfJung commented on #63787
@bstrie I [tried this](https://godbolt.org/z/cd7dafrfh) and the 2nd argument of `break_it_ref` becomes
[code]
Though strangely there is a third argument...? Ah I guess this is using `ScalarPair` layout, passing the two fields of `Ref` as separate arguments. The first one is the relevant one (`value: &'b T`), assuming no reordering happened. (The second one points to an `UnsafeCell` so it cannot ha

[2021-07-27 08:24] RalfJung commented on #63787
Indeed the original example for some reason looks very different, I think LLVM might be optimizing away an unused function argument? [Here's a playground reproducer though](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=459fd0c36c90d82ff9abde235febfc7b). I will update the original text.

[2021-07-27 08:56] inquisitivecrystal commented on #86516
I have something of a last minute proposal. I was just updating the docs to reflect the fact that `--cap-lints` doesn't work for force-warn. This is dreadfully confusing, since it breaks completely with the behavior for forbid. I don't think we should stabilize it in this state.

I have two alternatives. First, we could make cap-lints work the same way for force-warn that it does for everything el

[2021-07-27 09:34] eddyb commented on #60661
I disagree (and am reopening because of that) - #60663 may not be a bug, but not showing *anything*, not even some non-Rust pseudosyntax, *is* a bug.

One fun thing we could do if you want e.g. `rustfmt` to work, is to use macro syntax (I was thinking `k#` as well once that's supported but I doubt `rustfmt` would allow any custom syntax involving that).

So e.g. `HIR!(LangItem("from_generator"))(.

[2021-07-27 09:39] sdroege commented on #70086
We have quite many calls to `zip()` followed by `map()` now in the GStreamer Rust bindings for working with `Option<u64>`, e.g. to add them together. `x.zip(y).map(|(x, y)| x + y)` is more annoying to type than `x.zip_with(y, |x, y| x + y)` but I can see the point of not including it because if you include it, why not also have a shorter form (`zip_and_then`?) of the equally often used `x.zip(y).a

[2021-07-27 09:40] eddyb commented on #63787
@bjorn3 Ah just opened this on desktop and I can see the code - I'm not really happy with non-codegen parts of the compiler relying on opt-level, but I can kinda see how you couldn't avoid the `is_freeze` query.
Maybe we should speed up the query instead of trying to bypass it? I wonder what the common case is. (cc @nikic)

[2021-07-27 09:46] eddyb commented on #63787
@RalfJung Ah I remember now, I removed the body because for some reason I was getting things I didn't want to see in the LLVM IR, codegen'd, and ended up with something like this: https://godbolt.org/z/aooY9jbMa
You can see `nocapture readnone` in there, since it's an unused `&T`.

If you add `-C no-prepopulate-passes` however, you do get the expected attributes: https://godbolt.org/z/sznos8aGz.
A

[2021-07-27 09:56] jplatte commented on #87479
For another example where `Self: 'a` would be wrong, in [Ruma](https://github.com/ruma/ruma#readme) we have a trait `IncomingRequest` that I've long wanted to use GATs for, which would be another example of this. Simplified:

[code]

My 2c regardingthe potential solutions: `type Foo<'self>` looks really nice.

[2021-07-27 11:12] hellow554 commented on #87496
@rustbot modify label regression-from-stable-to-nightly

The error message vanished, which might indicate a missed cornercase somewhere:

old and correct:

[2021-07-27 11:16] gilescope commented on #37901
For anyone that gets here from google the answer after following the trail is now:

`#![doc = include_str!("core_arch_docs.md")]`

 (see https://github.com/rust-lang/stdarch/pull/1013 )

[2021-07-27 11:34] adwhit opened #87510 "Missed optimization when setting values of a mutable slice"
Compare two examples which simply set few values of a mutable slice via the index operator:

https://godbolt.org/z/TfanxhWYq
and
https://godbolt.org/z/P1Toa75hn

The only difference is the order in which the assignments are made. In both cases I would expect the slice bounds to be checked only once - but in the first case it is checked redundently for each index operation.

In the first case the c

[2021-07-27 11:37] hellow554 commented on #87495
I used this to make some warnings/errors go away:

[code]

Regressed in 7c89e389d00cfc7e86ae7e1b45880da4f5f5c9f5

cc #87265 @Aaron1011

@rustbot modify labels: regression-from-stable-to-nightly

[2021-07-27 11:49] hellow554 commented on #87490
`String::new` can be replaced by any function item, e.g. `main` or `|| ()`.
Lifetime of `<&str as ...>` must be bounded to a parameter, therefore `'static` does not work

Regression in 3cb1c1134050c059a15d9ca7a00d4dd89111a373

@rustbot modify labels: regression-from-stable-to-nightly

[2021-07-27 12:09] qm3ster commented on #70086
@sdroege
[code]
![feels_good](https://user-images.githubusercontent.com/10551234/127151060-dd17a80b-1965-4788-b967-f69032b7c822.png)

[2021-07-27 12:37] Urgau commented on #87510
In the first `set_vals` function you set incrementally (`+1`) a value in the slice but in the second function you start with the assignment put before the first one that means that in the second case the bounds checks can only be done once because `5 > [0, 1, 2, 3, 4]` but in the first function that not true, that the first reason why it's not optimize away.

The second reason is that in the first

[2021-07-27 13:04] adwhit commented on #87510
Hmm, that makes sense, thanks. I think I was thrown by the fact that the first example only has three `cmpq` instructions, I was expecting six and concluded that it was partially but not completely optimizing the comparisons. But looking closer I can see that is not what is going on.

You could argue that since it is compiling with `panic=abort`, the assignments are not observable and therefore th

[2021-07-27 13:04] #87510 closed

[2021-07-27 13:22] darleybarreto commented on #54855
Does it make sense to make a full featured PoC crate for integers of any size (<=128) and eventually merge into the compiler? Or something like that should be built directly inside of rustc from the ground up?

[2021-07-27 13:40] ahicks92 commented on #87059
We can close this out and I'll open more issues if I find other things.  In terms of the urgent my entire workflow broke things, we're done.  Thanks.

[2021-07-27 13:46] GuillaumeGomez commented on #87059
Thanks for the feedback!

[2021-07-27 13:46] #87059 closed

[2021-07-27 14:43] eddyb commented on #86102
I suspect a more general solution is a one codepoint (or grapheme, if we care about that) "error" token, that would cause the parser to give up half-way during parsing `Ident("let"), Error, Punct('=')`, instead of seeing the same thing it would for `let =`, i.e. `Ident("let"), Punct('=')`, and attempting to parse it.

[2021-07-27 15:21] rylev commented on #86516
`--force-warn $LINT` will cause $LINT to _always_ emit a warning if triggered even if `--cap-lints`, any warn level CLI option (e.g., `-A` or `-F`), or code attribute (e.g., `#![deny($LINT)]`) is used. In other words, `--force-warn` always wins out and the lint will emit a warning if triggered.

This is currently accepted. This sounds like an easy way to see all warnings for a codebase even if the

[2021-07-27 15:21] Ray-Eldath opened #87516 "unstable fingerprints for optimized_mir when built with nightly and instrument-coverage"
### Code

This ICE originated from a building attempt of [TiKV](https://github.com/tikv/tikv), a rather well-known key-value store implemented in Rust. I couldn't extract a minimap working example out from it (Sorry), but to reproduce the ICE is rather simple:
1. `git clone https://github.com/tikv/tikv`
2. `git checkout 75721a3a`
3. `RUSTFLAGS="-Z instrument-coverage" cargo build`
4. `RUSTFLAGS="-

[2021-07-27 15:59] SkiFire13 commented on #87368
Why do you think so? The alignment of `Outer` is still 1

[2021-07-27 16:15] pnkfelix opened #87517 "Tracking Issue for RFC 3107: derive_default_enum"
This is a tracking issue for the RFC 3107: "`#[derive(Default)]` on enums with a `#[default]` attribute" (rust-lang/rfcs#3107).
The feature gate for the issue is `#![feature(derive_default_enum)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions

[2021-07-27 16:17] #86756 closed

[2021-07-27 16:17] rust-highfive opened #87518 "`miri` no longer builds after rust-lang/rust#87509"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#87509, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-07-27 16:29] ibraheemdev commented on #87517
Implementation PR was already created: #86735

[2021-07-27 16:40] ibraheemdev commented on #55153
Duplicate of #43161

[2021-07-27 16:40] ibraheemdev commented on #15457
Duplicate of #43161

[2021-07-27 16:40] ibraheemdev commented on #43161
@rustbot assign

[2021-07-27 17:23] mati865 commented on #87481
Works fine with `windows-gnu`:
[code]

[2021-07-27 17:31] wesleywiser commented on #87481
It looks like there are two issues at play here:

1. Rust uses dbghelp.dll to walk and symbolize the stack but Windows doesn't know how to demangle Rust symbols so if there isn't any debug info (pdb files), it can't understand the symbol names. That's why enabling debug info causes the functions to appear. (I see slightly different behavior on my PC where the missing frames are instead included bu

[2021-07-27 17:33] inquisitivecrystal commented on #86516
If I understand correctly, `--deny warnings` actual denies anything with a lint level of Warn. Forcing things with a resolved lint level of Warn to Warn isn't going to do much.

I personally consider that less confusing. *shrugs*

[2021-07-27 17:49] fangism commented on #87325
We also changed uses of `include!` and `env!` variables to be path-relative as well.  So far this has not been a problem, as sources remain in stable locations.

[2021-07-27 18:13] LeSeulArtichaut opened #87520 "Which patterns on union fields should be considered safe?"
*Moved from #85263 as the PR has been merged.*

# Summary of safety of pattern matching against Rust `union`s

*Written by @Smittyvb, copied from https://github.com/rust-lang/rust/pull/85263#issuecomment-842549594*

The unsafety checker is being to rewritten operate on the THIR instead of the MIR. As a part of that, I was implementing the unsafety rules for `union`s, and encountered some weird edg

[2021-07-27 18:39] the8472 commented on #87411
@adrian17 next nightly should have the fix, can you test it?

[2021-07-27 19:10] petrochenkov commented on #87520
In the initial HIR-based implementation any field read was considered unsafe as described in the RFC, whether it's done through a dot access or pattern destructuring.
So the regression happened together with migration to the MIR unsafety checker.

[2021-07-27 19:18] petrochenkov commented on #87520
The `Foo { oneval: OneVal::One }` example is strikingly similar to UB-based optimizations a la "we know that overflow is impossible, so we'll delete your code".

Here by accessing `oneval` we assert that it's indeed containing a valid value (and this assertion is used by the compiler to generate `// always run`), this is an unsafe action so the compiler shouldn't perform it on our behalf.

[2021-07-27 19:35] adamgemmell commented on #86063
A bisect on compiler-builtins leads to this commit as the incidental "cause": https://github.com/rust-lang/compiler-builtins/commit/01eaf808c6e491632492c7d67f239ad0086d0cbd

Reverting it does fix this bug if a quick & dirty fix is wanted.

[2021-07-27 19:41] e00E commented on #47234
As of 1.53.0 and today's nightly the bug still occurs: https://godbolt.org/z/Kjn4odTdh

[2021-07-27 20:23] the8472 commented on #87325
Would absolutizing relative paths on the left side of `remap-path-prefix` be an option? Then you could do `--remap-path-prefix .=.` and it would substitute whatever `.` resolves to with `.`

[2021-07-27 20:28] danakj commented on #87325
Yep that would be another way to approach it. If all paths are absolute before remapping (I think so?) then it would be okay as it wouldn't get in the way of remapping relative paths (since they wouldn't exist at remap time). Though I should note it seems a little unclear as `.=.` looks like it wouldn't transform anything from reading it. Naively you'd expect either both `.` to be resolved to an a

[2021-07-27 20:45] the8472 commented on #87325
Except that it uses existing path resolution semantics instead of making some previously valid filenames reserved and magical.

[2021-07-27 20:58] RalfJung opened #87525 "Add lint against ptr-to-int transmutes in consts"
We do not allow ptr-to-int casts in `const` context, so people might be tempted to do a transmute instead. This will not work, and if they ever actually test their code during CTFE they will get an error, but it might still be good to add an extra layer of defense here (since this is a rather odd corner of the language) and have a lint for this.

@jhpratt started working on this, [here's a link](h

[2021-07-27 20:58] RalfJung commented on #87525
Cc @rust-lang/wg-const-eval

@jhpratt do you want to work on this, or leave this issue open for anyone to pick up?

[2021-07-27 21:02] jhpratt commented on #87525
Someone else can pick this up, as I've got other priorities for the near future. As I mentioned feel free to use the code linked.

It's worth noting that a lint would ideally also catch transmutes that use a union, though that would be quite a bit more difficult I imagine.

[2021-07-27 21:06] RalfJung commented on #87525
That'll require a *lot* of complexity, for a case that I assume will be exceedingly rare. So I don't think that is effort, lines of code, and compile time well spent.

[2021-07-27 21:07] jhpratt commented on #87525
Agreed. Just throwing it out there.

[2021-07-27 21:13] Manishearth commented on #87493
cc @estebank

[2021-07-27 21:17] Manishearth opened #87526 "Diagnostics for trait impls on trait objects confusing around implicit lifetime bounds"
I tried this code:

[code]

This crops up the following error message:

[code]

In a more complex case I was able to get it to suggest I use `&'static ProviderContainer` as a part of the above error. I'm unable to reduce that testcase (yet) but I can post a link to a branch if necessary.

The actual fix here is that `as_dyn_ref()` should have the signature of `pub fn as_dyn_ref(&self) -> &(dyn Ser

[2021-07-27 21:18] jsgf commented on #87325
I guess that could work if you define that precisely as "map (effective) leading `./` to current working dir". In general canonicalizing (or even absoluting) paths can get tricky in the presence of symlinks, bind mounts, and (I presume) whatever mechanisms Windows has. If you can have multiple textually distinct pathnames which all refer to the current working dir via different aliases, and you wa

[2021-07-27 21:35] camelid commented on #87496
Hmm, I don't think this is actually a regression. The MCVE trigger an error on stable and beta:

[code]

and it seems like the requirements for `repr(transparent)` were relaxed by #86279 such that this code should compile successfully on nightly.

[2021-07-27 21:42] Aaron1011 commented on #86758
I've reduced this to a 5 megabyte LLVM IR file. Unfortunatey, `bugpoint` is not really set up to handle such a large file (the 'Checking instruction' phase used up 9GB of ram before I killed it):

[ir_crash.zip](https://github.com/rust-lang/rust/files/6888903/ir_crash.zip)

The crash can be reproduced by unzipping `ir_crash.zip`, and running `llc -O0 -relocation-model=pic simpler_ir.ll`

[2021-07-27 22:06] RamiHg commented on #39959
Here's another tiny test-case by @Lemmih that we ran into when using the ordered_float crate: https://github.com/reem/rust-ordered-float/issues/91#issuecomment-865504545

[2021-07-27 22:27] jesyspa commented on #87238
@rustbot claim

[2021-07-27 22:30] Aaron1011 commented on #86758
Using `llvm-reduce`, I was able to reduce it down to this IR:

[code]

[2021-07-27 23:11] deontologician opened #87531 "ICE with Bevy on nightly"
### Code

[code]

<details><summary><strong>Cargo.toml</strong></summary>
<p>

[code]

</p>
</details>

### Meta

`rustc --version --verbose`:
[code]
Additionally, I have the following `.cargo/config.toml`
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-27 23:27] deontologician commented on #87531
Apologies for not getting a more minimal example, bevy's ECS has a bunch of stuff going on.

[2021-07-27 23:29] Aaron1011 commented on #86758
This appears to be fixed in the latest LLVM trunk: https://godbolt.org/z/h96n5WqeG

[2021-07-27 23:37] FabianWolff commented on #87496
@camelid Sorry, I forgot to re-check this issue before opening my PR. You can have a look at #87529 to avoid duplicate work, if it's not too late already...

[2021-07-27 23:47] JulianKnodt opened #87533 "Tracking Issue for `where T = U`"
This is a tracking issue for the RFC "135" (rust-lang/rfcs#135).
The feature gate for the issue is `#![feature(type_equality_constraint)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale

[2021-07-28 00:11] #55153 closed

[2021-07-28 01:49] andyyu2004 opened #87534 ""Mismatched types" error when comparing the same struct for equality when referenced from two libraries"
I tried this code:

[code]

I would expect this code to compile but instead it emits the error "expected struct `b::NonGeneric`, found struct `NonGeneric`" which is odd as I would think they are the same type.

### Meta
Reproducible on 1.56.0-nightly.
Repository: https://github.com/andyyu2004/rust-bug-repro

[2021-07-28 03:34] #53605 closed

[2021-07-28 03:34] #51909 closed

[2021-07-28 04:14] crlf0710 commented on #84277
May i suggest changing `branch` method's name to something else? When searching for methods, it's a little not obvious to see `Option::branch` or `Result::branch` is not the method one should usually call...

[2021-07-28 04:28] artemii235 commented on #87401
As per https://github.com/rust-lang/rust/issues/84277#issuecomment-885322833, applying `#[track_caller]` to `Result::from_residual` will bloat a lot of callers. Can this be applied conditionally? If `From::from` has `#[track_caller]` then `Result::from_residual` will have it too, otherwise not.

[2021-07-28 05:01] pthariensflame commented on #86831
So…will this actually be closed then?

[2021-07-28 05:50] bjorn3 commented on #86758
I don't see a declaration of `undef` there. And there are two calling conventions used to call it. The default and `fastcc`.

[2021-07-28 05:58] Fluhzar opened #87536 "ICE: compiler/rustc_typeck/src/hir_wf_check.rs:133:29: Unexpected TraitItem Const"
The ICE triggers for traits with associated consts whose types are some generic struct, but not always.

### Code

Checking each trait is a bit of a chore, going through and commenting/uncommenting whichever trait is to be tested. If there's a better way to format this I'm all ears!

[code]

Note how each module has the same 3 traits as each other, the only difference from module to module is the

[2021-07-28 06:26] hellow554 commented on #87516
Your nightly is pretty old and this could be a duplicate of https://github.com/rust-lang/rust/issues/84970

Would you mind updating your compiler via `rustup update` and try again?

[2021-07-28 06:42] inquisitivecrystal commented on #87406
I'm making progress on this.

 I'm going step by step, and I'm on step 2, which is migrating the way `rustc_ast_lowering` encodes macros to `hir::Item`. I've just gotten to the point where the standard library builds again. It's taken... a while. I'm not sure exactly, but it wouldn't surprise me if if you told me I'd spent ten hours. I actually started before I made that post yesterday. I'm not ve

[2021-07-28 07:02] thomaseizinger commented on #87401
So, if I understand you correctly, then what your code is trying to achieve is to create a stacktrace of all invocations of `?`.

To my knowledge, this is tracked as "error return traces" here: https://github.com/rust-lang/project-error-handling/issues/9

[2021-07-28 07:36] mripard commented on #87368
Outer address will still be self-aligned though, as packed only affects the padding? So the structure address should be aligned already.

And then, even though the structure fields alignment will indeed be 1, the actual offset of outer.type_ will be 0, and outer.inter will be 8 bytes, so there's no way to have a unaligned reference?

[2021-07-28 07:49] SkiFire13 commented on #87368
No, as explained above by @ChrisDenton `packed` also sets the alignment to 1 regardless of your struct's fields.

That's an offset from a 1 byte aligned position, your alignment is still 1 in the end.

For example if the address of an `Outer` was 7, which is 1 byte aligned, as any address, then the address of `inter` would be 15, which is clearly not 8 bytes aligned.

[2021-07-28 08:01] jesyspa commented on #87238
Looking into this: the instances in those cases are derived, and it looks like adding extra documentation to derived traits has been proposed previously (#44118) but is not currently supported.  So by the looks of it this is not feasible without changes to rustdoc?

[2021-07-28 08:18] mripard commented on #87368
My point is that if packed is anything like C, there's no way to get that address alignment of 7 in the first place and thus everything else falls into place nicely. Also, even a "standard" Rust struct allocated at an unaligned address would result in unaligned references.

The documentation only mentions that it modifies the padding of the structure, and not the address alignment: https://doc.rus

[2021-07-28 08:23] RalfJung commented on #87520
`OneVal` has size 0. So comparing something against `OneVal::One` involves loading 0 bytes and comparing them; this will always succeed.

So, indeed it always contains a valid value, and that is trivially correct -- no assumption needed.

[2021-07-28 08:54] jhpratt commented on #87517
Implementation has landed.

[2021-07-28 09:08] SkiFire13 commented on #87368
`__attribute__ ((__packed__))` is C also results in an alignment of 1 though ([godbolt example](https://godbolt.org/z/3aK5PGsdE))

But 7 **is an aligned address** for `Outer`, that's the problem.

In the first line it clearly says "and only align the type to a byte"

That's only because the stack on x86 happens to be aligned to 8 bytes anyway. You can clearly see an instance of `Outer` being only

[2021-07-28 09:24] JohnTitor commented on #87536
Duplicate of #87495, should be fixed by #87524. Thanks for reporting anyway!

[2021-07-28 09:24] #87536 closed

[2021-07-28 09:47] mripard commented on #87368
Yeah, but it's the type alignment itself, not its address?

Yeah, but virtually all allocators are, on any architecture? If it wasn't, then any allocation could result on an unaligned access even if the structure was padded.

That's a completely different example though? Oops._u8 is properly aligned, but Oops.outer is indeed unaligned because of packed. That never occurs in the other structures. S

[2021-07-28 09:57] 12101111 opened #87541 "Link error when using native_link_modifiers_bundle and ld.bfd"
This is found in https://github.com/rust-lang/rust/pull/85600#issuecomment-888009433

code: https://github.com/12101111/native_link_modifiers_bundle

[code]

[code]

This is the part of link command line:

[code]

`libfoo.a` need symbols from libc, but libc is include in `liblibc-*.rlib`, which appear in the command line before `libfoo.a`. ld.lld is "smart" enough to find those symbols from `libli

[2021-07-28 09:57] SkiFire13 commented on #87368
The address just has to be a multiple of the alignment. With alignment 1 and address of 7 is perfectly fine.

Not really, and even if that's the case your type may contain a type that requires an alignment bigger than 8 bytes, in which case the stack alignment won't be enough.

No, if the type has the right alignment it won't happen. Again, the problem here is that `Outer` doesn't require the prop

[2021-07-28 10:07] dignifiedquire opened #87542 "Enum with const generic generates "'no errors encountered even though `delay_span_bug` issued""
### Code

[code]

Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=555bd63340732916af008758d6acedff

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-07-28 10:08] petrochenkov commented on #87541
cc https://github.com/rust-lang/rust/pull/85805

I don't think this is a bug.
libunwind does not indicate in any way that it depends on libc, so rustc builds the linker invocation without knowing about this dependency, thus we have linking errors.

We should support specifying all dependencies explicitly (similarly to how Rust crates form a dependency tree with Cargo) instead of making everything

[2021-07-28 10:30] baoyachi opened #87543 "rust build error on ipad pro 2021 which used in iash app with alpinelinux"
error detail:cargo build error:illegal hardware instruction

* device:ipad pro 2021 m1

build error detail

[code]

[2021-07-28 11:45] hellow554 commented on #87543
Can you provide the crate or project you are trying to build?
Can you maybe run `cargo build` with gdb or lldb, to see where exactly the error happens?

[2021-07-28 12:02] #85552 closed

[2021-07-28 12:09] Urgau commented on #87543
Can you also try with a much recent version of the rust toolchain (rustc, cargo, ...), 1.44.0 is from 19 Dec 2019, which is pretty old by Rust standard . The latest stable version is the 1.53.0.

[2021-07-28 12:20] Nemo157 opened #87545 "Specialized trait impls appear unannotated in the docs"
Looking at the docs for `ToString` it shows that there's an [implementation for `char`](https://doc.rust-lang.org/nightly/std/string/trait.ToString.html#impl-ToString)

[code]

but, this overlaps the blanket impl + char's `Display` impl:

[code]

Showing this specialization-based implementation in the docs with no indication of why the overlap is allowed is confusing.

Since specialization is supp

[2021-07-28 12:25] Smittyvb commented on #87520
@RalfJung `OneVal` has a `#[repr(u8)]`, which forces `OneVal::One` to be represented in memory as a single byte with a value of 1. Transmuting any other value to a `OneVal` would be UB. Without that attribute it *would* be a ZST.

[2021-07-28 12:32] gilescope commented on #44732
That relative paths niggle: Has anyone written a macro that fixes the relative links?
 `#[doc = deepen_relatives!(include_str("../README.md"), 1)]`

[2021-07-28 12:35] RalfJung commented on #87520
Oh, I missed the `repr`. (Again...)

So in a sense this is assuming that the union field satisfies the validity invariant without even looking at it... which does seem very dubious, yes.

[2021-07-28 12:45] oli-obk commented on #87525
More context on the lint can be found in the discussion starting at https://github.com/rust-lang/rust/pull/85769#issuecomment-879427756

[2021-07-28 12:53] djugei commented on #80162
bit of a late commer, seeing that this rfc has already been accepted, but:
defining shared error messages now results in a warning, i.e.:

    const ERR_ALPHA: &'static str = "alpha error";
    panic!(ERR_ALPHA);

this can be easily resolved in user code by writing

    panic!("{}", ERR_ALPHA};

but no actual formatting is needed, i just want to push a string literal to stderr. this especially mea

[2021-07-28 13:07] 0x53ee71ebe11e opened #87549 "Type checking for this incorrect impl trait panics with incremental compilation"
When trying to compile this incorrect code using cargo, nightly rustc panics.
When compiling using rustc directly without further arguments (or using the same command cargo calls with `-C incremental=...` removed), it outputs an error message instead.

### Code

[code]
I also noticed that changing `type N = &'t ();` to `type N = ();` will also result in an error message instead of a panic.

### Me

[2021-07-28 13:47] jyn514 commented on #87406
No worries, slow progress is better than no progress :) thank you for working on this!

[2021-07-28 13:47] MomoLangenstein opened #87551 "enabling const-generics interferes with object safety"
*Summary*: Enabling the `const_generics` feature makes an object safe trait with const generics unsafe.

The following code compiles successfully as expected (note the angle brackets around 42):

[code]

However, when I enable the `const_generics` feature, compilation fails (note the angle brackets around 42):

[code]

with the error that "`ObjectSafeTrait` cannot be made into an object".

<detail

[2021-07-28 13:50] m-ou-se commented on #80162
@djugei https://github.com/rust-lang/rust/issues/78356 would help with that. Ideally, `format_args!("{}", ERR_ALPHA)` results in the same trivial `fmt::Arguments` as `format_args!("alpha error")` with a `.as_str()` returning `Some("alpha error")` to avoid any formatting.

Depending on how far away we think that is, we could consider stabilizing [`panic_str`](https://doc.rust-lang.org/stable/core/p

[2021-07-28 14:07] GuillaumeGomez commented on #61137
I updated the list (removed non-emitted errors as well).

[2021-07-28 14:08] jesyspa commented on #87318
@rustbot claim

[2021-07-28 14:12] djugei commented on #80162
Ah, thanks i had not found panic_str (hidden under 2 layers of nightly), im ok with using nightly for now. Some const evaluation of format args could be cool though.

[2021-07-28 14:34] m-ou-se opened #87552 "Tracking Issue for proc_macro::Span::{start, end}"
Feature gate: `#![feature(proc_macro_span_shrink)]`

This feature adds `span.start()` and `span.end()` which give empty spans right at the start and end of the span. (Just like `shrink_to_lo()` and `shrink_to_hi()` inside rustc.)

### Public API

[code]

### Steps / History

- [x] Implementation: #86165
- [x] Rename to `start` and `end`: https://github.com/rust-lang/rust/pull/111571
- [ ] Merge tr

[2021-07-28 14:51] m-ou-se commented on #78186
Is that really a promise that Pin makes though?

https://doc.rust-lang.org/stable/std/pin/struct.Pin.html#safety does not really explicitly state that.

It only says:

where pinned is defined a bit above as

By that definition, the `T` in a `&'static T` is pinned, regardless of whether there's a `Pin<>` wrapper around it.

[2021-07-28 14:56] RalfJung commented on #78186
The current docs don't say either way. Being English-language as opposed to formal docs, they don#t make explicit what exactly the invariant is.

Adding `Pin::static_ref` imposes a new proof obligation on all unsafe code that deals with pinning: if the unpinned shared invariant is satisfied for lifetime `'static`, then the shared pinned invariant is satisfied for lifetime `'static`. Nothing in the

[2021-07-28 15:03] m-ou-se commented on #78186
With your example, someone can currently already do

[code]

Which should be perfectly fine according to the current documentation, right?

[2021-07-28 15:07] RalfJung commented on #78186
The docs for `new_unchecked` say

`new_shared` returns a shared reference that is not "pinned", in the sense that it does not satisfy the pinning invariant.

The thing is, what you rely on with `Pin::shared_ref` is also a promise that `Pin` does not make.

[2021-07-28 15:12] m-ou-se commented on #78186
'Pinned' is defined both [here](https://doc.rust-lang.org/stable/std/pin/struct.Pin.html#safety) and [here](https://doc.rust-lang.org/stable/std/pin/index.html) as a property of a pointee (not of a pointer), specifically that it won't be moved/invalidated/deallocated. So the object referred to by the reference returned by `new_shared()` is pinned. Therefore we're allowed to wrap references/pointer

[2021-07-28 15:39] RalfJung commented on #78186
This is sufficient but not necessary for something to be pinned. This describes *consequences* of the entire pinning setup. But the underlying concept of the ["invariant of the pinned typestate"](https://www.ralfj.de/blog/2018/04/05/a-formal-look-at-pinning.html) is what makes this actually precise. And the notion of "moving data" does not come up there. Since data consists just of a-priori meanin

[2021-07-28 15:41] m-ou-se opened #87555 "Tracking Issue for RFC2509: concat_bytes!()"
Feature gate: `#![feature(concat_bytes)]`

This is a tracking issue for https://github.com/rust-lang/rfcs/pull/2509

### Public API

[code]

### Steps / History

- [x] RFC: https://github.com/rust-lang/rfcs/pull/2509
- [ ] Implementation
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Should additional literal types be supported? Byte string literals are basica

[2021-07-28 15:50] vincent-herlemont opened #87556 "Rule to use a capital letter at the beginning of error messages"
Rust source code mostly does not use capital letters in error messages. E.g: [core/src/cell.rs#L828](https://github.com/rust-lang/rust/blob/3bc9dd0dd293ab82945e35888ed6d7ab802761ef/library/core/src/cell.rs#L828).

However, there are some exceptions like: [core/src/future/ready.rs#L23](https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/library/core/src/future/ready.rs#L

[2021-07-28 15:50] RalfJung commented on #78186
FWIW, the principle behind this your example
[code]
is even stronger -- I think you are basically saying that for shared data (types behind a shared reference), "pinned" or "not-pinned" must be equivalent. At this point we might as well add a safe method to turn `&T` into `Pin<&T>` -- for any lifetime, not just `'static`. That would at least be less ad-hoc than doing this only for `'static`. Basic

[2021-07-28 15:58] m-ou-se commented on #78186
On your blog post you say:

which matches with the definition of 'pinned' in the std documentation.

Huh, that makes no sense to me. `Pin` implies that the thing it points to does not get moved until it is dropped. No lifetime other than 'static is gauranteed to last until an object is dropped.

Shared data *with a static lifetime*. And as far as I know, we don't define 'not-pinned' or 'unpinned'

[2021-07-28 16:09] #86831 closed

[2021-07-28 16:09] bstrie commented on #53639
Agreed with @SimonSapin , shouldn't the implementation be more like this?
[code]

[2021-07-28 16:10] cynecx commented on #87429
@jackh726 Do you know if this is something that should actually work or is this something that isn't supposed to work?

[2021-07-28 16:28] jackh726 commented on #87429
I'm not 100% sure. Using `PartialEq<Self::Member<'a>>` works

[2021-07-28 16:42] #62654 closed

[2021-07-28 16:44] matklad commented on #87556
For `std::error::Error` the docs recommend lowercase: https://doc.rust-lang.org/stable/std/error/trait.Error.html. that usually works better with chaining several messages together.

Not sure if there are any guidelines for expect. I'd love to see some: I am always confused if I should `.expect("is non None")` or `.expect("is None")`.

[2021-07-28 16:51] chengniansun opened #87558 "ICE: Normalizing ImplHeader, compiler/rustc_trait_selection/src/traits/project.rs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-28 16:52] RalfJung commented on #78186
"Pin guarantees X" does not mean "Pin is *equivalent* to X". It means "Pin *implies* X".

So this does *not* define Pin to be X, not at all.

[2021-07-28 17:04] m-ou-se commented on #78186
This discussion is going nowhere. I give up for today.

[2021-07-28 17:09] RalfJung commented on #78186
Ah, you wrote this while I was typing. ;) I agree we need to change our approach.

Taking a step back here, we are using entirely different vocabulary to talk about the same thing. So each of us repeating ourselves over and over is not going to lead anywhere. I am not sure how to make progress, but I will think about finding more examples -- I've found those to be a great vehicle for conveying all

[2021-07-28 17:14] estebank commented on #62654
Current output:

[code]

[2021-07-28 17:28] dan-fritchman opened #87562 "thread 'rustc' panicked at 'expected `NodeId` to be lowered already for res Local(NodeId(2240),"
Thanks for everyone's work here.
This is a compiler panic generated when (invalidly) trying to use the experimental "if let chaining" feature.

I see it's experimental, and my code shouldn't work, but the compiler nonetheless (nicely) asked to file a report of its crash.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-07-28 17:36] matthiaskrgr opened #87563 "ICE: infer-arg-test.rs with -Zsave-analysis: index out of bounds in wrong_number_of_generic_args.rs"
### Code
code from `./src/test/ui/inference/infer-arg-test.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/inference/infer-arg-test.rs  --emit=mir -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-28 17:36] eddyb commented on #78186
(**EDIT**: I'm adding this note before sending the comment, but do note that I started writing it a few comments earlier in the thread)

@RalfJung I'm trying to understand this thread, so correct me if I'm wrong, but it sounds like:
* you have a model where pinning is typestate
* the docs don't *strongly* agree or disagree with that model necessarily
* users relying on the model could have made a

[2021-07-28 18:35] m-ou-se commented on #78713
Has this issue been fixed?

[2021-07-28 18:39] m-ou-se commented on #44048
Relabeling this as a feature request rather than a regression, considering four years have passed without any comments here requesting for it.

@alexcrichton Can you clarify which flags you are talking about here? See the above comment.

[2021-07-28 19:18] joshtriplett commented on #44434
@rfcbot arg0

I'm concerned about the potential for confusion introduced by indexing args without account for arg0.

[2021-07-28 19:24] joshtriplett commented on #44434
@rfcbot concern arg0

I'm concerned about the potential for confusion introduced by indexing args without account for arg0.

[2021-07-28 19:25] #68697 closed

[2021-07-28 19:25] #87495 closed

[2021-07-28 19:28] joshtriplett commented on #44434
@rfcbot concern preprocessing

As discussed in today's @rust-lang/libs-api meeting, we're concerned about any platform-specific preprocessing that Command may do internally, and whether the data provided back via these APIs is preprocessed in some platform-specific way or needs to have that preprocessing reversed.

[2021-07-28 19:31] MomoLangenstein commented on #87551
Could this be related to #78365?

[2021-07-28 19:32] m-ou-se commented on #80690
Looks like WriterPanicked isn't publicly available: https://doc.rust-lang.org/nightly/std/io/struct.BufWriter.html#method.into_raw_parts Did something go wrong there with the visibility?

[2021-07-28 19:33] joshtriplett commented on #44434
@rfcbot concern use-case

Based on discussion from today's @rust-lang/libs-api meeting:

Could we get some additional information about the use case of this? We understand the use case for *setting* these fields (e.g. "Change command to different path and run again", or "change one argument and run again", or "change one environment variable and run again"). Methods like `spawn` don't consume the

[2021-07-28 19:51] r00ster91 commented on #87556
Isn't the exception in this case because it refers to the enum member `Poll::Ready`? This `Ready` is of course always capitalized and so in the error message too so I think that's a valid exception. I wonder if it would be better to change it to `` `Ready` `` but it's probably fine as it is.
In all other cases I believe the error should be lowercased as that seems to be the standard.

[2021-07-28 19:53] lf- commented on #44434
Regarding use case, the place where I initially wanted it was in rust analyzer where we were invoking cargo with a programmatically generated command line and I wanted to log invocations without maintaining a second copy of the invocation in parallel. I think we could use the Debug impl for this though as it only needs to be human readable.

[2021-07-28 19:57] RalfJung commented on #44434
I needed an API like this (specifically for environment variables) at least once when writing a patch for rustc bootstrap.

Rustc bootstrap, unsurprisingly, creates rather complicated `Command`s involving a lot of careful setting of environment variables. For example, it needs to add various folders to `LD_LIBRARY_PATH`. Various abstraction layers might have to each add their own folders there. Th

[2021-07-28 20:01] alexcrichton commented on #44048
Not that I remember 2017 off the top of my head, but rereading here I believe that the issue is that `Path`s which are valid utf-8 follow formatting flags correctly, but paths which are not valid utf-8 may not. I suspect at the time I was sure that invalid utf-8 paths did not follow formatting flags, but I'm not sure if that's the case still.

[2021-07-28 20:09] ehuss commented on #44434
Just to reiterate the above, the use case is usually to display the command to the user (like for verbose output or logging).  Rustbuild currently uses the debug display which is unsatisfactory for several reasons (doesn't include environment variables, may not be copy-pasteable, etc.).  That is one place I wanted to use this.

A real-world example is Cargo which has its own wrapper around `Comman

[2021-07-28 20:20] Aaron1011 commented on #86758
I bisected the LLVM fix to https://github.com/llvm/llvm-project/commit/c1dc2672

[2021-07-28 20:23] joshtriplett commented on #44434
@RalfJung Doing a read-modify-write of LD_LIBRARY_PATH doesn't seem ideal, especially if it needs to be repeatedly re-parsed. I agree that that shouldn't be open-coded, which seems like the issue with #85959. But I feel like that use case would work just as well by having a wrapper on Command that separately tracks a `Vec<PathBuf>`, allows adding to that Vec, and overwrites the environment variabl

[2021-07-28 20:43] ehuss commented on #44434
I tested that out with bootstrap for a while, and the experience was pretty terrible. The amount of verbosity was overwhelming, and the tool usually wants more fine-grained control over what is exactly displayed (like no `-v`, `-v`, `-vv`). I personally would not like to see the Debug impl change until a long while after something like these getter methods are stabilized to give authors a chance t

[2021-07-28 20:43] slurps-mad-rips commented on #44434
Hello! I had some use cases for this. In some instances its to "fix" calling older versions of a specific tool (In this case, `cmake`). Newer versions of CMake support passing a JSON file as a "preset" of settings, and an external tool can technically take these JSON files and turn them into specific settings for configuration, while users are unaware of the underlying settings.

There's also the

[2021-07-28 20:55] joshtriplett commented on #44434
On Wed, Jul 28, 2021 at 01:43:46PM -0700, Eric Huss wrote:

That sounds completely fair; thanks for clarifying!

[2021-07-28 21:14] owwk commented on #35083
I really think that expect should have been called something like `or_panic`.

Would not be a breaking change, just create a new alias and add a deprecation warning for `expect`.
[code]
would then become
[code]
which is far more logical and readable, in my opinion.

[2021-07-28 21:42] Aaron1011 commented on #86758
It might end up being easier to just wait for the LLVM 13 bump in https://github.com/rust-lang/rust/pull/87570

[2021-07-28 21:57] jackh726 commented on #87558
So, #85499 will fix this ICE. But the coherence code should probably not be passing escaping bound vars to begin with.

As for prioritization, this is an ICE that occurs only after an error that, if fixed, will solve the ICE. I say low or medium.

[2021-07-28 22:06] #87518 closed

[2021-07-28 22:13] ijackson commented on #80690
@m-ou-se: Yes, something did go wrong - I don't think I understood how all the use/visibility/stability plumbing worked.  I was trying to fix that in #85901 but there is still something wrong with that.  I will fix it tomorrow when I have a clear head.  My apologies.

[2021-07-28 22:13] the8472 commented on #87545
The libs dev guide already recommends to hide specializations in private traits, that would also help this case.

https://std-dev-guide.rust-lang.org/code-considerations/using-unstable-lang/specialization.html

[2021-07-28 22:16] adrian17 commented on #87411
Yeah, it looks good now, thank you!

I'm still feeling like `bench_*_iteration_*` have counter-intuitive perf, as in: ideally I would expect nested loop and `for x in (...).flatten()` to be roughly interchangable, but I understand that's a bigger issue and out of scope here. By the way:

Could you please link where these discussions were having place?

[2021-07-28 22:33] the8472 commented on #87411
Great, then I'll close this one.

If it becomes an issue in real code that'll be worth a separate issue. Currently it's a theoretical concern and may not be worth the necessary optimization work.

I [asked on zulip](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Improving.20TrustedRandomAccess.20and.20its.20Zip.20specialization/near/228081572) in a discussion relating to other

[2021-07-28 22:33] #87411 closed

[2021-07-28 22:49] Speretta opened #87572 "Parsing f32 works incorrectly"
I was trying to convert String to f32. I accidentally noticed that there is such an error. It parses and sums some numbers incorrectly.

I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]
If I try in f64 it works fine. I guess the problem is f32 has no integer field for numbers of this size.

### Meta

`rustc --version --verbose`:
[code]

</p>
</detai

[2021-07-28 22:55] Aaron1011 commented on #86758
@bjorn3 - `undef`is LLVM's [undef value](https://llvm.org/docs/LangRef.html#undefined-values) - apparently, it can be used in a function call. The calling convention doesn't matter for this reproduction - we get the same assertion failure either way.

[2021-07-28 23:32] chengniansun opened #87573 "ICE: panicked at 'index out of bounds: the len is 0 but the index is 0', could not prove Binder(TraitPredicate(<bool as Copy>), [])"
Might be a duplicate of #86535

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-29 00:06] jonas-schievink commented on #87572
This is working correctly. `f32` does not have enough precision to represent 100000004.0

[2021-07-29 00:06] #87572 closed

[2021-07-29 00:06] cuviper commented on #87572
This is the nature of floating point -- `f32` only has 24 bits for the mantissa, so if you try values greater than 2<sup>24</sup> = 16,777,216, you'll lose precision in the least-significant bits. Whereas `f64` has 53 bits for the mantissa, so it's accurate up to 2<sup>53</sup> = 9,007,199,254,740,992.

Furthermore, in Rust the display of floating point numbers is approximated to just the signific

[2021-07-29 00:31] #42615 closed

[2021-07-29 00:31] #86908 closed

[2021-07-29 00:59] jonas-schievink opened #87575 "Tracking Issue for `for`-loops in constants"
This tracks `#![feature(const_for)]`, added in https://github.com/rust-lang/rust/pull/87237.

This feature depends on `const_trait_impl` and is not currently usable.

[2021-07-29 01:00] jonas-schievink opened #87576 "Tracking Issue for using the `?`-operator in constants"
This tracks `#![feature(const_try)]`, added in https://github.com/rust-lang/rust/pull/87237.

This feature depends on `const_trait_impl` and is not currently usable by itself.

[2021-07-29 01:10] pickfire commented on #86551
Lately I got these issues instead. Same issue but now the warnings are similar.
[code]

[2021-07-29 01:37] LegionMammal978 commented on #75577
@nagisa, I did some testing on this and have come up with a minimal example. As written, it produces the same stack trace as the original program using a debug build of `nightly-2020-08-15`. However, it only requires ~16 GB of RAM on a modern nightly build and builds for ~30 s on my machine before overflowing the stack.

    #![recursion_limit = "1000000000"]

    pub struct Test<T>(T);

    macro

[2021-07-29 02:27] ChrisDenton commented on #72429
I'd like these too. Is anyone willing to get the ball rolling on this?

[2021-07-29 02:51] #85873 closed

[2021-07-29 03:19] dpc commented on #85262
@wucke13 Probably a little off topic, but I am hitting the same issue, and wondering why is NixOS linking with incompatible `glibc` despite having plenty of other options under `/nix/store`. There must be some way to control which one is used.

[2021-07-29 03:22] dpc commented on #85262
Maybe related to https://github.com/NixOS/nixpkgs/issues/84043

[2021-07-29 04:21] dpc commented on #85262
OK. So pretty lamely, I still grok what's going on, but I had a gut feeling this is all some misunderstanding and after doing some OS cleanup, wiping `/.rustup` and `.cargo` reinstalling everything stuff seems to be working again. There's a reason why Nix community recommends using rust overlays, and not impure `rustup` package and I think we are suffering consequences of not listening.  @wucke13

[2021-07-29 04:44] hkratz commented on #87450
#87546 cuts down on time for this testcase and others with invalid recursive opaque types by bailing out early if a recursion is found.

This fixes the regression but the check time is still exponential in the recursion:
#wraps|time (s)
---|---
23|9.2
24|18.3
25|36.6

Not sure if that matters in practice though.

[2021-07-29 05:52] Ray-Eldath commented on #87516
this is fix by https://github.com/tikv/tikv/pull/10638, turns out the relatively old version of rust-toolchain is the sin. Many thanks!

[2021-07-29 05:52] #87516 closed

[2021-07-29 06:58] RalfJung commented on #44434
No (re-)parsing is necessary; adding a path to `LD_LIBRARY_PATH` is as trivial as prepending `<new_path>:` to the existing path (possibly with a special case for when `LD_LIBRARY_PATH` was not set at all yet).

I don't think one should have to write a wrapper for this.  This kind of usecase should be supported out-of-the-box.

[2021-07-29 08:16] apiraino commented on #87455
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387455.20ICE.3A.20unexpected.20concrete.20region.20in.20borrowck.3A.20ReStatic) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-07-29 08:17] samlich opened #87577 "ICE: Should not have unglued last token with cfg attr"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

First fails in `rustc 1.53.0-nightly (a86612456 2021-04-11)`.

Compiles successfully in `rustc 1.53.0-nightly (a836d9b64 2021-04-10)`.

Perhaps related to #82608 which was merged on that date and appears when searching "unglued."

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</det

[2021-07-29 08:25] Speretta commented on #87572
Forgive my ignorance, I thought it was for similar reasons but I wasn't sure. I'm sorry for interrupting your work. Thanks for your early reply.

[2021-07-29 08:26] apiraino commented on #87490
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387490.20ICE.3A.20compiler.2Frustc_infer.2Fsrc.2Finfer.2Flexical_region_r.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-07-29 08:37] apiraino commented on #87496
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387490.20ICE.3A.20compiler.2Frustc_infer.2Fsrc.2Finfer.2Flexical_region_r.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-07-29 08:38] apiraino commented on #87558
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387490.20ICE.3A.20compiler.2Frustc_infer.2Fsrc.2Finfer.2Flexical_region_r.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-07-29 08:53] apiraino commented on #86511
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387490.20ICE.3A.20compiler.2Frustc_infer.2Fsrc.2Finfer.2Flexical_region_r.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-07-29 08:59] Kixunil opened #87578 "cargo fix --edition breaks on serde deserialize_with attributes"
I tried this code:

[code]

And `cargo fix --edition`

I expected to see this happen: the code gets fixed

Instead, this happened: It attempted to fix it like this: `#[serde(deserialize_with = crate::"::serde_utils::hex_bytes::deserialize")]` and obviously failed.

### Meta

`rustc --version --verbose`:
[code]

Same happens on nightly, 1.36, and 1.48

Context: I tried to convert https://github.com

[2021-07-29 09:07] apiraino commented on #87450
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387450.20Exponential.20compile.20time.20with.20recursive.20opaque.20type) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-07-29 09:28] Kixunil commented on #87578
Note that after manually fixing `bitcoin` and applying `--edition-idioms` I get more errors - it seems to duplicate lifetime markers like this: `<'_><'_>`.

[2021-07-29 09:35] #87466 closed

[2021-07-29 09:52] yume-chan commented on #86511
[correct Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386511.20.60match.60.20an.20.60std.3A.3Acmp.3A.3AOrdering.60.20generates.20less.20optim.E2.80.A6)

[2021-07-29 10:47] jyn514 commented on #87450
That's the same as before the regression, right? I definitely think that's a change worth making :) I expect the doubling will have a completely different cause.

[2021-07-29 10:53] hkratz commented on #87450
Yes, same ballpark.

[2021-07-29 12:28] LiamTheProgrammer commented on #44265
Could the `Iterator` trait be generalized once this is stabilized to be able to return references to itself?

[code]

Putting this in a separate trait would lead to lots of inconvenience and an ecosystem split, and so I was wondering if the `Iterator` trait could be treated specially to avoid this so that not specifying the lifetimes would give a warning instead of an error. This would allow for e

[2021-07-29 12:33] estebank commented on #87181
@JaydenElliott Yes! Feel free to ping me on zulip.

[2021-07-29 12:42] dhardy commented on #44265
@LiamTheProgrammer [see above](https://github.com/rust-lang/rust/issues/44265#issuecomment-737566994).

[2021-07-29 13:11] thomcc opened #87586 "Ignored doctests are run with `cargo test -- --ignored`."
If you use `rust,ignore` to ignore doctests which don't compile (often because you want to include example code that's entirely expository in your documentation — something that doesn't compile at all, and should merely syntax highlight as Rust), they still are attempted to compile and run when you pass `--ignored` to the test runner.

This is unfortunate, as this is what you use to run `#[ignore]

[2021-07-29 13:26] bjorn3 commented on #83984
I have now adopted cg_llvm's semantics in https://github.com/bjorn3/rustc_codegen_cranelift/commit/c6564f814e39da74c6e551858e2040abc37e70f1. I would slightly prefer if either the semantics of Cranelift's fmin/fmax or fmin_pseudo/fmax_pseudo instructions would be chosen, but for now this fixes some libcore and stdsimd tests. In the later case by ensuring that the scalar min/max operations match the