[2015-07-31 16:20] alexcrichton opened #27438 "Correctly handle dllimport on Windows/MSVC"
Currently the compiler makes basically no attempt to correctly use `dllimport`. As a bit of a refresher, the Windows linker requires that if you're importing symbols from a DLL that they're tagged with `dllimport`. This helps wire things up correctly at runtime and link-time. To help us out, though, the linker will patch up a few cases where `dllimport` is missing where it would otherwise be requi

[2015-07-31 16:27] alexcrichton commented on #27422
Yes as @cybergeek94 these are just shorthands for `.map(...).unwrap_or(...)`, so the signatures aren't exactly in alignment. These functions are also stable today, so their signatures won't be changing.

[2015-07-31 16:27] #27422 closed

[2015-07-31 16:29] alexcrichton commented on #27427
This is because freebsd-32 is a snapshot behind, cc @dhuseby

[2015-07-31 17:07] steveklabnik commented on #27408
A significant language change like this would need to go through the RFC process. Please pursue this over there! https://github.com/rust-lang/rfcs/

[2015-07-31 17:07] #27408 closed

[2015-07-31 17:12] steveklabnik commented on #27293
Okay, @uzytkownik , yes, please pursue an RFC if you'd like to add this feature: https://github.com/rust-lang/rfcs/

[2015-07-31 17:12] #27293 closed

[2015-07-31 17:57] gsingh93 commented on #24878
@steveklabnik or anyone else who knows how this code works, could this issue be fixed by adding a `window.scrollTo(0, 0)` after this line: https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/static/main.js#L586

I haven't tested it, building Rust takes too long on my computer.

[2015-07-31 18:07] Gankro commented on #26868
These are the libs team's official recommendations. Someone needs to write a script to autogenerate issues for each with these recommendations.

# Never stabilize

* core_intrinsics

* collections
* rustc_private
* rustdoc
* test
* unicode

* c_void_variant
* char_internals
* core_panic
* float_error_internals
* flt2dec
* fmt_internals
* int_error_internals
* io_error_internals
* issue_14344_fixme

[2015-07-31 18:12] aturon commented on #26868
We don't want issues for any of these except the "Needs Work" category -- for the rest, we should just make PRs to stabilize or deprecate.

Also, for the ones in Needs Work, each issue should give detail about the uncertainty in the design. Not sure that we should create the issues in bulk, rather than creating them hand-in-hand with these details (and grouping together as appropriate).

Finally,

[2015-07-31 18:22] brson commented on #27412
Here are my problems with the current arrangement:

* A second book, and one that claims to be 'advanced', diminishes both the significance of 'The Book' and it's brand. It will never have the stature of 'The C Programming Language' if it has a more 'advanced' big brother looming over it.
* Multiple separate books is a path to balkanization of the docs, where Steve gets his docs, Gankro gets his d

[2015-07-31 18:27] steveklabnik commented on #27412
@brson and I are basically on the same page when it comes to "Advanced," I had the exact same thoughts.

[2015-07-31 19:02] dhuseby commented on #27427
@jashank patch inbound.

[2015-07-31 19:07] jdm commented on #9232
Yes, the output in frame 3 is not as useful as it could be, since you really want to know what line the macro was invoke on, rather than which line of the macro called begin_unwind.

[2015-07-31 19:08] jdm commented on #22226
I've set breakpoints in these methods since the fix landed, so I claim this works now :)

[2015-07-31 19:08] #22226 closed

[2015-07-31 19:17] Undeterminant opened #27442 "VecMap Debug implementation should use debug_map"
Right now, it doesn't support pretty printing as a result.

[2015-07-31 20:02] Gankro commented on #27442
VecMap is deprecated in favour of https://github.com/contain-rs/vec-map

[2015-07-31 20:02] #27442 closed

[2015-07-31 20:05] fatcrack opened #27443 "compiler error on crate hyper 0.6.6 (solicit v.0.4.0)"
I just tried to include extern crate hyper = "*" -> 0.6.6
when crate starts building there is an internal compiler error:

Cargo.toml
[dependencies]
hyper="*"

$ rustc --version
rustc 1.3.0-nightly (freebsd)

$ cargo build
   Compiling solicit v0.4.0
src/libcore/iter.rs:804:35: 804:42 error: internal compiler error: Encountered errors `[FulfillmentError(Obligation(predicate=Binder(TraitPredicate(<

[2015-07-31 20:13] Gankro commented on #27412
Discussing at lunch the top contender became "The Rustinomicon" in reference to the fact that this is dark magic that mere mortals dare not tamper with.

[2015-07-31 21:19] Toby-S commented on #27412
@Gankro does it need to be separate from TRPLB? Essentially echoing what @brson said, anyone who wants to understand rust to a decent standard will probably want to know this stuff.

[2015-07-31 21:33] Gankro commented on #27412
@Toby-S the important thing about this text, and indeed Rust itself, is that *you don't need to know it*. This is a book for all the horrible details unsafe code entails. I believe it would be a mistake to include it with THE book, which *is* Everything You Need To Know.

[2015-07-31 21:39] Wilfred opened #27445 "Warn on redundant 'as Foo' statements"
[code]

This doesn't generate any warnings from rustc, even though the `as i8` is redundant here. I bump into this occasionally when refactoring, so it would be nice if rustc could help find these sitautions.

[2015-07-31 22:12] nikomatsakis commented on #3696
I'm updating the title on this issue and repurposing it to also cover the fact that it would be nice if the representation of "free" regions did not always have them attached to a scope. Instead, a free region should just have a number, and we should indicate the relationship that `A >= X` for some scope `X` as an in-scope where clause.

[2015-07-31 22:37] anachrome opened #27446 "rustc panics if the terminal's terminfo is invalid"
If the terminfo for my terminal is malformed, rustc panics with

[code]

The simplest reproduction is

[code]

or whatever the `$TERM` variable is.

[2015-07-31 22:38] nikomatsakis commented on #20489
triage: P-medium

[2015-07-31 23:33] pnkfelix commented on #27412
(I thought was going to be spelled "Rust**o**nomicon", since we're implicitly making references to "Necr**o**nomicon" and "Crypt**o**nomicon".)

[2015-07-31 23:34] pnkfelix commented on #27412
(oh, oh: https://github.com/Gankro/rust/commit/7570be85dde329a48fa857dbc44dd98fbc24e712 )

[2015-07-31 23:51] #27255 closed

[2015-08-01 02:46] chris-morgan opened #27448 "Defining a public method on a private type alias causes linking failures"
Suppose we have a crate named `c`.

**src/lib.rs**:

[code]
[code]

Given that type aliases are supposed to be purely aliases, `new` should not be considered dead code. The fact that `B` is not public should be immaterial.

Then we try to use it in **src/main.rs**:

[code]
[code]

So the Rust compiler thinks it exists, but hasn’t gone creating the symbol for it and so it fails in linking.

[2015-08-01 03:37] sfackler commented on #27445
The `trivial-numeric-casts` lint will do this if you enable it.

[2015-08-01 04:24] Twinklebear opened #27449 "ICE when comparing two *const Trait for equality"
Hey all,

I'm trying to see if two &Trait refer to the same object. It sounds like the correct way to do this is by casting to `*const Trait` and comparing those pointers for equality, however this produces an ICE. Here's a simple [repro on playpen](http://is.gd/c4UIFd) and pasted below:

[code]

Below is the output of compiling the reproduction with `RUST_BACKTRACE=1` on `rustc 1.3.0-nightly (4df

[2015-08-01 04:35] durka opened #27450 "poor error message when casting from fat raw pointer to usize"
[playpen](https://play.rust-lang.org/?code=trait%20Num%20%7B%7D%0Aimpl%20Num%20for%20i32%20%7B%7D%0A%0Afn%20main()%20%7B%0A%20%20%20%20%260i32%20as%20*const%20Num%20as%20usize%3B%0A%7D%0A&version=beta)

[code]

This compiles on stable, but beta and nightly require an extra `as *const ()` in the middle to cast away the fat. The error message says to use a "raw pointer" which is misleading as `*cons

[2015-08-01 05:09] cyplo commented on #15684
Hello !
Same issue on newest fresh Fedora 22.
When searching for this issue I found this one as well, seems very similar: #24677
It happens when I run `curl -sSf https://static.rust-lang.org/rustup.sh | sh`

Let me know if I can help debugging this.
Excerpt from the log and then ldd showing missing libraries:
[code]

[2015-08-01 05:13] cyplo commented on #15684
Seems that this is the same issue as: #26860
Comment there references rust-lang/rust-installer#30 as the main culript. It has a patch already, so probably will be fixed soon :)

[2015-08-01 05:14] cyplo commented on #24677
Seems that this is the same issue as: #26860
Comment there references rust-lang/rust-installer#30 as the main culript. It has a patch already, so probably will be fixed soon :)

[2015-08-01 06:52] tomaka opened #27452 "Entry point `_ZSt24__throw_out_of_range_fmtPKcz` not found in `libstdc++6.dll`"
I cloned and compiled https://github.com/steveklabnik/rustbook on Windows 32bits.

When trying to run the `rustbook.exe` executable, I get an error about entry point `_ZSt24__throw_out_of_range_fmtPKcz` not found in `libstdc++6.dll` (the exact message is in french for me). Happens in both debug and release.

Rust version: (32bits)

[2015-08-01 07:20] sstewartgallus opened #27454 "Rust assumes PATH_MAX is not a lie in a few places"
See http://insanecoding.blogspot.ca/2007/11/pathmax-simply-isnt.html for some background.  Basically, `PATH_MAX` just doesn't work.

Currently. Rust uses `PATH_MAX` in a few important places.

./src/libstd/sys/unix/fs.rs:377:`           let mut buf = vec![0;libc::PATH_MAX as usize];`
./src/libstd/sys/unix/fs.rs:469:`        len = 1024; // FIXME: read PATH_MAX from C ffi?`
./src/rt/rust_builtin.c:3

[2015-08-01 07:50] CtrlZvi commented on #23216
The MSVC beta of Rust 1.2 does not seem to have this issue.

[2015-08-01 09:46] AnthIste opened #27455 "Compiler segfault / illegal instruction: llvm: Assertion `Ty && "Invalid GetElementPtrInst indices for type!"' failed."
## Environment

#### Local Environment

[code]

#### Playpen Environment

This was tested 01/07/2015. I am not sure how to get the exact versions from the playpen.

## Error

#### On **1.0.0 Stable** (tested on local environment)

[code]

#### On **1.1.0 Stable** (tested on playpen)

[code]

#### On **nightly** (tested on playpen)

[code]

## Notes

This only occurs when trying to compile and run

[2015-08-01 11:00] bluss commented on #27450
I'm sure it went in as a bug fix. cc @arielb1

[2015-08-01 12:19] dimbleby opened #27456 "Warn for functions that should 'obviously' be unsafe"
As a noob writing FFI code I have more than once made a mistake something like this

[code]

Clearly `foo()` should have been marked unsafe, as a caller can demonstrate by writing the following safe code:

[code]

Wouldn't it be nice if the compiler had warned something along the lines of "foo dereferences one of its pointer arguments, so should be marked as unsafe"?

I recognise that this is only

[2015-08-01 13:17] diaphore opened #27457 "Possible error about variance in the nomicon"
[In the paragraph about the variance of `&mut T`](https://github.com/rust-lang/rust/blame/master/src/doc/tarpl/subtyping.md#L97)

__since `&'a str` is a subtype of `&'static str`.__ (...)

The exact opposite is said at the beginning of the chapter :

b" or "a outlives b"), then `'a` is a subtype of `'b`.

Also, the doc seems to be meant for the Randolf-Carters of this world or the others, and whil

[2015-08-01 13:25] Gankro commented on #27457
Oops! Good catch.

[2015-08-01 16:26] arielb1 commented on #27450
This is indeed intentional: the spec at https://github.com/rust-lang/rfcs/blob/master/text/0401-coercions.md has this relevant part: `e` has type `*T` and `U` is a numeric type, while `T: Sized`; *ptr-addr-cast*. IIRC @nrc made that decision.

[2015-08-01 16:27] arielb1 commented on #27450
The old (1.1) cast code was a badly specified mess of if-s. Do not report bugs.

[2015-08-01 16:29] arielb1 commented on #27449
Known issue (duplicate of #18829). The relevant RFC (rust-lang/rfcs#1135) is entering FCP.

[2015-08-01 16:29] #27449 closed

[2015-08-01 16:34] durka commented on #27450
Noted. Is this still a (minor) diagnostics issue, or I just don't
understand the terminology? The compiler's advice is to cast through a "raw
pointer", but the actual fix is to cast through a _thin_ pointer.
On Aug 1, 2015 12:28 PM, "arielb1" <notifications@github.com> wrote:

[2015-08-01 17:38] arielb1 commented on #27450
This may be a diagnostic issue.

[2015-08-01 18:08] arielb1 commented on #27435
@aatxe

Generic Elision isn't going to be a supported feature (you *do* need to be able to specify type parameters in paths - e.g. `foo::<T>`).

[2015-08-01 18:08] jnordwick commented on #26902
I'm sending my scripts/command lines I use to generate the LLVM IR to pcwalton this weekend along with the output of a run so he can make sure I'm on the right path.

One of the problems I encountered was the deep inlining required when rust monomorphized a static lambda. It make it very difficult to pull out a few things and took considerable time to hunt down all the generated functions.

If any

[2015-08-01 18:19] arielb1 commented on #27455
Mini:
[code]

This seems like a known issue with _match

[2015-08-01 20:38] steveklabnik commented on #24658
I wonder if @edunham has any thoughts on this

[2015-08-01 21:18] alexcrichton commented on #27452
This may be because the version of the C++ standard library is different from the builders perhaps?

[2015-08-01 21:42] alexcrichton commented on #27448
I believe this is a dupe of https://github.com/rust-lang/rust/issues/16734, so closing in favor of that.

[2015-08-01 21:42] #27448 closed

[2015-08-01 22:58] shaleh opened #27462 "trim and related giving unexpected behavior on strings with many nulls"
#[test]
    fn validate_trim() {
        let s: &str = "QUIT\r\n";
        let s2: &str = "\x51\x55\x49\x54\x0d\x0a";
        let buf: [u8; 6] = [ 81u8, 85u8, 73u8, 84u8, 13u8, 10u8 ];
        let buf2: [u8; 16] = [ 0x51u8, 0x55u8, 0x49u8, 0x54u8, 0x0Du8, 0x0Au8,
                               0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ];

        let input: &str = str::from_utf8(&buf).unwrap();
        let inp

[2015-08-01 23:13] nagisa commented on #27462
I’m pretty sure this bug is inactionable. Null bytes are not whitespace and rust strings may contain as many of them as necessary at any position in the string, hence there’s no reason to expect null bytes should not exist or that they should be trimmed.

[2015-08-01 23:17] shaleh commented on #27462
I expect that the nulls are there. But it should skip them at the end and still remove the 0x0D and 0x0A. It is those which are problematic.

[2015-08-01 23:19] nagisa commented on #27462
This `\r\n` newline sequence is in a middle of the string not at the end or beginning of it. Documentation for trim says:

[2015-08-02 01:07] AgostonSzepessy commented on #24407
I'll try E0384.

[2015-08-02 02:40] Aatch commented on #27456
We already have such an error, it's when you *don't* have an unsafe block in the function. The presence of the unsafe block basically signals that "you know what you're doing". I think that the only cases it would warn in would be obviously-wrong cases like these where the warning would have little value. Otherwise I can imagine it having lots of false-positives.

[2015-08-02 03:35] talchas opened #27463 "io::Take's BufRead::fill_buf always attempts to fill the inner buffer"
Even if self.limit is 0, fill_buf will attempt to read from the underlying BufRead, possibly causing additional blocking read(2) calls from split/read_until/etc:

[code]
Will block forever, while writing an additional byte that should never need to be read will succeed. (Similarly no writing and take(0) also fails when it should not).

An early check for self.limit == 0 in Take's fill_buf, like it

[2015-08-02 04:54] shaleh commented on #27462
Why? Null means end of string. If I print that string it stops at the newline. All trim_right should be doing is find end and work in.

On August 1, 2015 4:20:09 PM PDT, Simonas Kazlauskas <notifications@github.com> wrote:

--
Sent from my Android phone with K-9 Mail. Please excuse my brevity.

[2015-08-02 05:20] Diggsey commented on #27462
Null doesn't mean end of string.

[2015-08-02 06:07] tomaka commented on #27452
Isn't Rust supposed *not* to link to `libstdc++6.dll`? (that's why I opened this issue)

[2015-08-02 06:25] tomaka commented on #27452
Plus the fact that even though I've been using this installation for the past year or so and compiled a lot of programs with it, this is the first Rust program ever to give me this error.

[2015-08-02 08:12] javaperl commented on #24788
The book obviously has this part wrong, as it should explicitly say to put Cargo.html into the root directory.  Please fix it.  Thanks.

[2015-08-02 08:36] cybergeek94 commented on #27456
I can see a lint that requires some sort of documentation on unsafe blocks to be useful. It's already a common practice to note why an unsafe block is okay in a comment next to it. What if there was a lint to enforce this? Like `#[deny(missing_unsafe_docs)]`

[2015-08-02 10:13] nodakai commented on #26486
+1

Or, http://doc.rust-lang.org/libc/libc/types/os/arch/posix88/type.uid_t.html could have a new section on known re-exports, something like

just like the **Implementors** section of traits.

[2015-08-02 10:47] nodakai commented on #24111
I'm hoping this to be implemented on `std::ptr::null()` and `null_mut()` so that we can use them to initialize `static mut *MyTypeWithDrop` without resorting to `0usize as *mut _`

[2015-08-02 11:15] aepsil0n opened #27465 "Stabilization of weak pointers"
Currently, both `alloc::rc::Weak` and `alloc::arc::Weak` are unstable. The somewhat vague reason for this is that *weak pointers may not belong in this module*. Now this has been addressed multiple times in #24028 and I have been observing this situation for a few months. However, as far as I can tell, nothing has happened so far.

Stabilizing my FRP library Carboxyl is currently blocked on this i

[2015-08-02 11:18] nodakai opened #27466 "std::ptr::null() should perhaps use `llvm::ConstantPointerNull` rather than `0 as *const T`"
- http://llvm.org/docs/doxygen/html/classllvm_1_1ConstantPointerNull.html

But I know of no platform where `0 as *const T` is wrong!  Maybe not that important...
- http://stackoverflow.com/questions/12126252/what-does-nvidia-gpu-do-with-device-memory-0x0
- https://software.intel.com/en-us/articles/the-generic-address-space-in-opencl-20

[2015-08-02 11:29] bluss commented on #27465
See the active dicussion at rust-lang/rfcs#1232

[2015-08-02 11:46] ababo opened #27467 "link_section attribute seems to be broken"
I compile the code below:

[code]
using compiler version 1.3.0-nightly (922aef035 2015-07-27) with the following command line:

As result I get the following symbol inside a produced rlib:

[2015-08-02 12:09] muja opened #27468 "Compiler outputs error in pieces, creating spaghetti output."
Output:

[code]

[2015-08-02 12:48] eddyb commented on #27468
Looking at [the current implementation of `term::stderr`](https://github.com/rust-lang/rust/blob/f7b3cd3337021ed16302fd6a9cc5bcf0afee6679/src/libterm/lib.rs#L124), wrapping `std::io::stderr()` in a `LineWriter` should help with at least keeping individual lines from being interleaved.
Since `libterm` is an internal library, this change should not affect anything else, right?
cc @rust-lang/compiler

[2015-08-02 15:02] IvanUkhov opened #27471 "docs: add `meta` to the list of valid designators"
The documentation [says](https://doc.rust-lang.org/reference.html#macro-by-example):

`meta` is presumably a valid designator as well.

Regards,
Ivan

[2015-08-02 15:10] bluss commented on #27462
You can use a custom pattern with `.trim_matches()` to strip both whitespaces and nulls if you want.

[2015-08-02 16:47] Gankro commented on #27466
`0 as *const T` is pretty pervasive last I checked... I'd be surprised if
we could ever work on a platform where 0 is not null.

On Sun, Aug 2, 2015 at 4:18 AM, Kai Noda <notifications@github.com> wrote:

[2015-08-02 17:13] AlisdairO commented on #24407
I'll take 387.

[2015-08-02 17:25] pcwalton opened #27472 "into_ascii_lowercase shouldn't be deprecated"
We really really need it for performance in Servo.

[2015-08-02 17:43] arielb1 commented on #27472
Can't you implement it yourself?

[2015-08-02 17:51] mitsuhiko commented on #27472
This is a very common operation. What's the use in deprecating it?

[2015-08-02 17:53] mitsuhiko commented on #26329
I just ran into this.  Very annoying issue.  If it's too hard to make the identity nesting work it would be possible to just use `$$` to refer to nested variables (with added repetition at each new level).

[2015-08-02 17:55] mitsuhiko commented on #26329
This seems to be a duplicate of #6994.

[2015-08-02 18:04] shaleh commented on #27462
I have code like this:

    let mut buf: [u8; 4096] = [0u8; 4096];

    loop {
        match stream.read(&mut buf) {
            Ok(count) => {
                // handle good read
            },
            Err(e) => {
                // handle bad read
            },
        }

        // need to wipe out contents of buf, I have been doing a dumb loop equiv of memset(buf, 0, count)
    }

This is

[2015-08-02 18:22] Gankro commented on #27462
@shaleh All you need to do is remember how far you've written and subslice the buffer to ignore the parts you never wrote to:

`let buf = &buf[..bytes_written];`

Then you can further process it in a normal fashion.

[2015-08-02 18:29] aepsil0n commented on #27465
Thank you for the hint. I had not picked up that RFC yet.

[2015-08-02 18:33] alexcrichton commented on #23216
It looks like the bug has been fixed upstream and MSVC also fixes this, so at this point everything is in the pipeline. As a result I'm going to close this, nice investigation @vadimcn and @CtrlZvi!

[2015-08-02 18:34] alexcrichton commented on #27465
Yeah the RFC @bluss linked is where discussion is happening now so I'm going to close this in favor of that

[2015-08-02 18:35] #27465 closed

[2015-08-02 18:35] #23216 closed

[2015-08-02 21:37] eefriedman commented on #27466
llvm::ConstantPointerNull is defined to be equivalent to inttoptr of zero; switching from one to the other is completely pointless.

[2015-08-02 21:42] barosl opened #27477 "Expressions involving blocks do not parse well"
[code]

@copy and @durka found this issue on IRC. I baked cookies for them!

Also, @tsion found this interesting corner case:

[code]

This could be quite surprising.

[2015-08-02 21:51] barosl opened #27478 "A block evaluated as a function is not directly callable"
[code]

Another corner case found here!

[2015-08-02 21:54] Diggsey commented on #27472
The deprecation reason is "would prefer to do this in a more general way". However, it seems like this is such a common operation that it would still be worth having the extra API surface as a convenience, even if a more general method is added later.

[2015-08-02 21:59] muja commented on #27478
[code]

This also doesn't work in JavaScript (for example): `function(){ }()`, instead, you have to wrap it around parentheses: `(function() { })()`, as well as in Rust.

[2015-08-02 22:43] nwr opened #27479 "Link failure due to exporting function with a non-exported return type"
This code snippet causes a link failure. I am guessing it is because the return type of foo is not publicly exported from the crate it is causing a link failure in the test.

I tried this (reduced) code:

lib.rs
[code]
test.rs
[code]
I expected to see this happen: Definitely a clear error as opposed to a link failure. Probably an error stating that the return type of `foo()` is not visible outside

[2015-08-02 23:32] eefriedman opened #27480 "ICE in borrow checker"
https://play.rust-lang.org/?gist=23de822c03921663ae66&version=nightly .

Error message:

[code]

[2015-08-02 23:50] Diggsey opened #27481 "Overflow error for valid trait implementation"
Playpen: https://play.rust-lang.org/?gist=8e86843e775a046c9cb7&version=stable

AFAICT, the impl shouldn't cause an overflow error.

[2015-08-03 00:00] nagisa commented on #27481
Its very important to note that this is *stack* size overflow.

Also the impl looks perfectly cyclic to me, hence I don’t see why the error is invalid.

[2015-08-03 00:04] nagisa commented on #27478
AFAIR we at least in multiple locations suggest adding parens around the function, if necessary. This is probably another missed case.

[2015-08-03 00:05] nagisa commented on #27477
Sounds pretty critical.

[2015-08-03 00:08] Diggsey commented on #27481
These versions both work, which is why I'd expect the first one to as well:

https://play.rust-lang.org/?gist=db32aaf814712376f2f4&version=stable

https://play.rust-lang.org/?gist=705120b10759a7c0f015&version=stable

I didn't call it stack overflow was because the error message called it simply overflow, and there's a different error caused by setting the recursion limit too high, and is actually

[2015-08-03 00:21] 1kasu opened #27482 "Internal compiler error with &[[bool]]"
Hi!
When I was writing my own version of Game of Life, I made new function which caused message:

[code]

This happens only with cargo build, but with rustc it's fine.
I noticed that following program is enough to cause that:

[code]

My rust version:
rustc 1.1.0 (35ceea399 2015-06-19)
binary: rustc
commit-hash: 35ceea3997c79a3b7562e89b462ab76af5b86b22
commit-date: 2015-06-19
host: x86_64-pc-windo

[2015-08-03 00:50] Aatch commented on #27468
I'm confused, how is this even happening? There's no multithreading going on in the compiler, so the compiler output itself shouldn't be interleaved. Could Cargo be trying to build `unrar` twice simultaneously?

[2015-08-03 01:01] alexcrichton commented on #27479
Closing as a duplicate of https://github.com/rust-lang/rust/issues/16734.

[2015-08-03 01:01] #27479 closed

[2015-08-03 01:06] alexcrichton commented on #27452
rustbook [links to the compiler](https://github.com/steveklabnik/rustbook/blob/master/src/main.rs#L18-L19) which pulls in LLVM which requires the C++ standard library.

[2015-08-03 01:13] Gankro commented on #27452
steve's rustbook repo is a trap, as far as I know. rustbook is basically hardcoded to look for the stage2 artifacts it was supposed to be built with. Here's my instructions for getting a valid rustbook instance:

https://github.com/Gankro/too-many-lists/#building

(--enable-rpath is the secret sauce)

[2015-08-03 01:19] alexcrichton commented on #27467
How'd you verify this? I tried a few variants myself and it looks like it works.

[2015-08-03 01:31] Aatch commented on #27482
Hmm, that `&[[bool]]` type should be an error, as slices can only contain Sized types. You can't construct one though. I don't know why it would fail specifically when using Cargo by not rustc. Can you run `cargo build --verbose` and post the output?

[2015-08-03 01:34] Aatch commented on #27478
Note that this is expected as `{f}()` is parsed as a statement then an expression, basically the same as:

[code]

which should hopefully make it more clear. Wrapping it parentheses makes the block statement an expression.

[2015-08-03 02:02] Aatch commented on #27477
I'm not sure if it this is actually fixable. At best I think some more intelligence regarding error messages is possible, but it's due to the way we treat certain structures as statements instead of expressions. Specifically, "block" expressions (including `if` and similar) are treated as statements if they start an expression. Any "fix" here would be a massively breaking change.

It's easy to com

[2015-08-03 02:02] #27477 closed

[2015-08-03 02:02] 1kasu commented on #27482
Here it is with --verbose

C:\Users\User\projects\testi2>cargo build --verbose
   Compiling testi2 v0.1.0 (file:///C:/Users/User/projects/testi2)
     Running `rustc src\main.rs --crate-name testi2 --crate-type bin -g --out-di
r C:\Users\User\projects\testi2\target\debug --emit=dep-info,link -L dependency=
C:\Users\User\projects\testi2\target\debug -L dependency=C:\Users\User\projects\
testi2\targ

[2015-08-03 02:07] Aatch commented on #27462
As @nagisa said, nulls are not considered whitespace under the unicode definition, so trim shouldn't treat them as such. Closing as not-a-bug.

[2015-08-03 02:07] #27462 closed

[2015-08-03 02:08] Aatch commented on #27480
Could you maybe try to reduce the case down a bit more?

[2015-08-03 02:23] Stebalien commented on #27482
Almost definitely this: #24707

[2015-08-03 02:31] barosl commented on #27477
Actually, I once wondered why `if` and others do not end with `;`. Now I know the answer!

Requiring them to end with `;` would have brought more consistency, but that would have also been less ergonomic, I think... Was this option considered in the early history of Rust?

[2015-08-03 02:31] eefriedman commented on #27480
Reduced:

[code]

[2015-08-03 02:37] Aatch commented on #27445
I guess the question is if we should make it a warning. The issue *there* being in macros, but you could always just turn them off in those cases?

[2015-08-03 02:39] Aatch commented on #27482
Agreed, the "debuginfo" comment seals it for me, as it explains the difference between using `cargo` and using  `rustc`.

Closing as duplicate of #24707

[2015-08-03 02:39] #27482 closed

[2015-08-03 02:44] sfackler commented on #27445
Redundant casts are also common when dealing with platform specific typedefs like in liblibc.

[2015-08-03 02:55] russellmcc commented on #27271
I actually am reproducing this issue still on homebrew nightlies, but not when I build myself from source.  Very strange.

[2015-08-03 03:54] steven807 opened #27484 "buggy code generated when initializing a [Vec<_>;..]"
The following code non-deterministically either works, goes into an infinite loop, or seg-faults, on both my mac environment and on https://play.rust-lang.org/, in all three channels.  However, only in Debug mode -- it works fine in all three cases in Release.  It also works fine if the "uninitialized()" is replaced by "zeroed()".

[code]
## Meta

    rustc 1.1.0 (35ceea399 2015-06-19)
    binary:

[2015-08-03 03:57] Gankro commented on #27484
Your code is invoking undefined behaviour. You can't overwrite `mem::uninitialized()` types that need_drop without using `ptr::write/copy/copy_nonoverlapping`. Otherwise Rust will try to drop the "old" values which are just uninitialized memory.

[2015-08-03 03:58] steven807 commented on #27484
Ah, of course.  Sorry for wasting time.  I suspected the issue was that it was related to "unsafe", but I'm still new to all of this.

[2015-08-03 03:58] #27484 closed

[2015-08-03 03:59] Gankro commented on #27484
See https://doc.rust-lang.org/nightly/adv-book/unchecked-uninit.html for detailed docs on this precise issue.

[2015-08-03 03:59] Gankro commented on #27484
(note to future readers, if that link becomes broken, it's because the URL has changed. It might be at https://doc.rust-lang.org/nightly/nomicon/unchecked-uninit.html someday)

[2015-08-03 04:01] Gankro commented on #27484
I think there's something to be said for fleshing out the docs of https://doc.rust-lang.org/std/mem/fn.uninitialized.html

[2015-08-03 04:16] eefriedman opened #27485 "rustc produces N^2 error messages for multiple mutable borrows"
[code]
[code]

[2015-08-03 04:33] adambadawy opened #27486 "ICE when attempting to borrow non-existent item associated with type for argument"
The following code generates an internal compiler error:

[code]

As far as I can tell:
- One must be attempting to borrow (`&`) the value
- It must be a non-existent name associated with some type (as opposed to a name not associated with any type, i.e. `PHANTOM` instead of `Mozilla::PHANTOM`)
- It must be in an argument list of some sort. Take the argument out of the function call and there's no

[2015-08-03 04:55] mitaa commented on #27486
Doesn't ICE on playpen beta and nightly
[code]

[2015-08-03 04:59] eefriedman opened #27487 "Borrow checker gets confused with a mutable pointer which should be moved"
[code]

Rust accepts the first function, but rejects the second with "error: cannot borrow `entry.0` as mutable more than once at a time".  It would be nice not to be forced to insert random curly braces to convince the borrow checker that my code is correct.

[2015-08-03 05:45] durka opened #27489 "unescaped quotation marks in macro-processed doc comments"
It seems like one of the recent fix to macro handling of doc comments (perhaps [this](https://github.com/rust-lang/rust/pull/26777)) was a bit overzealous in not parsing the string, so that embedded quotation marks don't get escaped. It doesn't show up unless `stringify!` is called, but then it shows invalid code.

Compare the behavior of this [playpen](http://is.gd/APQWUe) on nightly vs beta/std

[2015-08-03 05:46] durka commented on #27489
Discovered by @birkenfeld

[2015-08-03 05:58] Aatch commented on #27486
This bug is fixed in beta + nightly, so I'm closing.

[2015-08-03 05:58] #27486 closed

[2015-08-03 06:11] tomaka commented on #27452
Oh I see, I should have taken a look at the source code.

[2015-08-03 06:11] #27452 closed

[2015-08-03 06:34] sfackler commented on #27466
C converts the integral constant 0 when used in a pointer context to the platform null pointer value. It seems like we'd need to do the same if we wanted to handle platforms with a non-zero null pointer, though that rule seems kind of insane and really error prone.

[2015-08-03 06:37] ababo commented on #27467
It's broken in Nightly release. Try the following code in [Playground](https://play.rust-lang.org/) after choosing 'Nightly'.

[code]

[2015-08-03 08:56] Eljay commented on #27489
Definitely seems like #26777 broke pretty printing. Important to note that escaping the quotes would do nothing in a raw string anyway, i.e:
[code]
is still invalid. A short term fix is to bump up the delimiter count in the `StrRaw` token, but then it can be broken by comments containing `"#`, e.g:
[code]
would become:
[code]
Maybe `#` should be escaped when desugaring doc comments?

Not sure if t

[2015-08-03 09:01] barosl commented on #27489
Oops, I forgot that `stringify!` can reveal the string representation. My apologies.

I think a workaround to deal with this would be to increase the number of `#`s in the generated raw string literal. We could look up the number of successive `#`s in the original string and set the former number to the latter number + 1. In this case, the output would be like:

[code]

Any better ideas?

[2015-08-03 09:07] barosl commented on #27489
Also, not directly related to this issue, but is the leading space in the doc string intentional? It seems that the space in `/// comment` was simply preserved in the final doc string, so it didn't lose any information, but it's just not very... pretty.

[2015-08-03 09:23] Eljay commented on #27489
Sounds like a good solution to me.

As for the leading spaces, I don't think a single space has any significance outside of pretty printing, but obviously leading whitespace in general is significant for markdown formatting.

[2015-08-03 09:34] barosl commented on #27487
I think the reason why the first is accepted is that [blocks unintentionally move out the values of references](https://github.com/rust-lang/rust/issues/26978#issuecomment-120702026) in Rust. I believe this behavior is there by accident, so there's a question: is there an "official" way to do so?

[2015-08-03 13:14] imiskolee opened #27492 "rust-release-1.1.0 cannt configure on osx 10.11(beta 4)"
the ./configure output is :

configure: looking for configure programs
configure: found program cmp
configure: found program mkdir
configure: found program printf
configure: found program cut
configure: found program head
configure: found program grep
configure: found program xargs
configure: found program cp
configure: found program find
configure: found program uname
configure: found program dat

[2015-08-03 13:47] barosl commented on #27492
This was fixed by #27006, but not backported to the 1.1 branch. You will have to apply the patch manually.

[2015-08-03 14:33] nagisa commented on #27492
Duplicate of https://github.com/rust-lang/rust/issues/26292

[2015-08-03 14:48] nagisa commented on #27481
The problem here is `type` being just a simple type alias, therefore unlike in your two examples (where you `impl` the trait first and then struct element types are figured out in another pass) you’re trying to do something like (after `type` aliases are replaced)

[code]

where all the types must be resolved in a single pass.

I’ll ping @nikomatsakis here, I think.

[2015-08-03 15:30] Diggsey commented on #27481
The rationale for using this particular way of implementing the trait was so that I could use `#[derive(Serialize, Deserialize)]` on `TrackedMapChangesInternal<C, V>`.

If I instead use the associated type of `C::Value` within a `TrackedMapChanges<C>` as in the 3rd example, and try to derive on that, then `#[derive(...)]` is unable to figure out the correct `where` clauses to include in the genera

[2015-08-03 17:13] alexcrichton commented on #27463
This is actually working as intended, it looks like you've got the limiting on the wrong side of the buffering. Conceptually you're currently taking 2 bytes out of a buffered reader, but the buffered reader is free to read more itself. What you'll want to do is probably take the two bytes and then put that into the buffered reader to ensure that you can't read more than that many bytes in the buff

[2015-08-03 17:13] #27463 closed

[2015-08-03 17:18] alexcrichton commented on #26329
Thanks for the reference @mitsuhiko!

[2015-08-03 17:18] #26329 closed

[2015-08-03 17:20] alexcrichton commented on #27472
This API is currently being deprecated for a number of reasons:

* It sticks out in terms of the API of the `ascii` module. It's an entirely separate trait and this sort of design pattern doesn't show up anywhere else in the standard library.
* It is not required for the standard library to implement this functionality, it can be done externally with no loss in terms of ergonomics or performance.

[2015-08-03 17:38] alexcrichton commented on #19650
(closing as a duplicate)

[2015-08-03 17:38] #19650 closed

[2015-08-03 17:39] alexcrichton commented on #14780
I think our diagnostics and story here has improved greatly over time, so I'm going to close this as basically fixed, and new follow-up bugs can certainly be filed if new aspects crop up!

[2015-08-03 17:39] #14780 closed

[2015-08-03 17:40] alexcrichton commented on #18243
I believe this was fixed at some point in the meantime in one of @nrc's patches, so closing as likely fixed.

[2015-08-03 17:40] #18243 closed

[2015-08-03 17:51] #27492 closed

[2015-08-03 18:18] arielb1 commented on #23046
This no longer ICEs, but still doesn't compile, even after the variance is fixed (`Var` is right-way variant) and implicator is used instead of the non-working `for<'v:'var>` syntax. It might be worth checking after @nikomatsakis makes his closure inference reform through.

[2015-08-03 18:21] arielb1 opened #27497 "is_instantiable check is broken by nested types"
## STR
[code]

## Results

`Foo` is uninhabitable, but the uninhabitability error doesn't trigger. Removing one of the `Bar`-s does make it trigger. This is rather suprising.

The check was added in the olden days when typeck was much less robust, and can be bypassed very easily by associated types anyway - we may want to remove it.

cc @nikomatsakis

[2015-08-03 18:25] arielb1 commented on #27497
`is_instantiable` is also broken when dealing with empty types - it treats them as instantiable, meaning that `struct Foo(Box<Foo>, Void)` is "valid".

[2015-08-03 18:46] barosl commented on #27492
Note that Rust 1.2.0, which will be released this week, [has this patch applied](https://github.com/rust-lang/rust/pull/27494). You may wait a few days and try again!

[2015-08-03 19:21] eddyb commented on #27468
@Aatch that's exactly what's happening (cargo needs to build both a library and a test binary, AFAICT), and it's interleaving because there are multiple `write` calls per error, instead of a single one.

[2015-08-03 19:38] dbrgn commented on #16264
Same issue here. Any solutions? Is this intended behavior?

I'd prefer not making my submodules containing traits public, as that is an implementation detail. I'd rather re-export the trait from the `mod.rs` file.

[2015-08-03 19:58] steveklabnik opened #27501 "still some unneeded integer suffixes in the docs"
I noticed recently that the FFI chapter still has `1u32` in places, from before integer fallback existed. That, along with any other suffixes, should be removed.

(I'm not sure how many there are, exactly, but looking around for more while those get fixed is a Good Idea)

[2015-08-03 20:53] arielb1 commented on #27487
If `entry` isn't moved, then the issue here is that borrowck doesn't reason about `&mut FragmentRepr` lacking drop glue - any such drop glue could invalidate `discrs` in the second example.

[2015-08-03 21:06] rruestesmaamsetseurr opened #27504 "Consider renaming the "master" branch"
As a person who deeply cares about the feelings of the POC community, I am very concerned about the hateful language used in this project.
The word "master" is undoubtly connected with slavery. Having a branch with that name excludes the POC community from contributing to Rust and creates a hostile environment for them.
Please consider renaming it!

[2015-08-03 21:10] #27504 closed

[2015-08-03 22:05] alexcrichton commented on #27467
Aha, looks like I was using an older nightly.

cc @eefriedman, some informal bisecting turns up 8ebf952 as a suspicious commit

[2015-08-03 22:05] mitsuhiko commented on #24028
Not sure if this is the right place to bring it up, but `catch_panic` seems a bit misplaced in the thread module given that it does not actually have anything directly to do with threads.  Would it not make sense to put this somewhere else?  I thought from reading the docs that it spawns a thread and captures the panic.

[2015-08-03 22:12] eefriedman commented on #27497
`is_instantiable` errors are already disabled when the `static_recursion` feature gate is turned on.  I agree that it isn't something we really need to check.

[2015-08-03 22:12] #25022 closed

[2015-08-03 22:15] sfackler commented on #24028
That's what it used to do! But yeah, it should probably be moved (maybe to `ffi`?)

[2015-08-03 22:18] SBSTP commented on #24135
@kballard @alexcrichton it seems like the change was done, but that `io::Error` still doesn't implement clone.Was it forgotten?

[2015-08-03 22:32] eefriedman commented on #27467
Yes, that bisection is correct; PR coming up.

[2015-08-03 22:38] azerupi opened #27506 "PathBuf set_extension returns bool, builder pattern impossible"
I think that returning bool when calling  `set_extension` is weird because it breaks the builder pattern that you have with most other methods.

For example I wanted to use it in my project, I have to change the extension from `.md` to `.html`.
My first try was to do it like this:

[code]
But that is not possible because `set_extension` returns `bool` instead of `&self` so I have to split this lin

[2015-08-03 23:28] huonw commented on #27340
From a correctness point of view, I think this would make more sense as making `name: Option<Name>`, however this may be an annoying change.

At a high level doing this in a way that ensures anywhere that might print `<unnamed_field>` automatically gets the right piece of info would be good.

In any case, I'm not the best mentor. Maybe someone from @rust-lang/compiler can provide more precise guid

[2015-08-03 23:31] nagisa commented on #27506
First of all, neither of them are supposed to be builders. `with_extension` returns another `PathBuf` for a reason: `Path` is a functional equivalent of slice, therefore you cannot resize the underlying buffer to accommodate for all possible new extensions. `set_extension` returns `bool` because it needs to tell you whether it could set the extension at all (as documentation claims; I personally t

[2015-08-03 23:35] cybergeek94 commented on #27340
The `name` field wouldn't be optional for tuple structs, we'd generate a unique name when the AST gets converted to trans' types based on the field index and type, e.g. `(0)Vec<u8>` .

Having an `is_unnamed` field would eliminate dependence on the assumption that tuple-struct fields all have the same name, `<unnamed_field>`.

[2015-08-04 00:04] azerupi commented on #27506
I understand why Path returns a PathBuf and I didn't know that PatBuf auto-derefs, that's nice.

I also didn't post this issue because I was inconvenienced either because obviously their are already two alternatives that are as easy.

But that boolean just seems weird and I wanted to know if it was a conscious design decision or if it was a relic of the past or something like that. :)

Indeed a Re

[2015-08-04 00:15] friedm commented on #27501
I'd be happy to take this, if no one minds.

[2015-08-04 00:16] talchas commented on #27463
Conceptually though this seems like the obvious construction - making separate BufReaders for each take call seems extremely backwards. Also take(0) behaving differently on BufReader from Read (even if only on BufRead methods) seems weird.

[2015-08-04 01:04] friedm commented on #27501
Some suffixes are left in the chapters about casting, traits, and overloads but they all seemed helpful for the reader.  There didn't seem to be any suffixes in the ffi chapter.

[2015-08-04 01:22] nrc commented on #27340
It seems to me that using Option<Name> is  tonnes nicer than using <unnamed_field>, but this is sort of orthogonal to the issue here. When making the error message in derive (or wherever that happens), can we detect that the field is unnamed, then make up a name on the spot, rather than using the name field?

[2015-08-04 03:23] eddyb commented on #27340
@cybergeek94 Returning more information in `FieldDoesNotImplementCopy` is indeed the easiest route, however... you have the index!
Simply change the iteration in `ParameterEnvironment::can_type_implement_copy` from `for field in &fields` to `for (index, field) in fields.iter().enumerate()` and you can return the index alongside the name, letting `rustc_typeck::coherence::CoherenceChecker::check_im

[2015-08-04 03:27] eddyb commented on #27340
Searching for `unnamed_field` reveals [one such printing logic](https://github.com/rust-lang/rust/blob/55ede7ed8e4f3752c371f7d04da4695ba9aa1c26/src/librustc_typeck/coherence/mod.rs#L512) in the same file (for `CoerceUnsized`, the other trait being checked there) and [another in debuginfo](https://github.com/rust-lang/rust/blob/090ad6fde7e55c5a8e8969cc2983e25b92adc633/src/librustc_trans/trans/debug

[2015-08-04 07:36] tomjakubowski opened #27510 ""Concurrency" section comes before "Traits" in TRPL"
The [Concurrency](http://doc.rust-lang.org/nightly/book/concurrency.html) chapter of TRPL gives some background on `Send` and `Sync`, describing them as traits and giving a summary of their properties and how they allow preservation of memory safety in a concurrent context. But this section precedes any discussion of traits (unless one takes the "Learn Rust" path, where they are briefly mentioned)

[2015-08-04 07:44] GuillaumeGomez commented on #22709
Is there still some work here? I'm not sure the first post is up-to-date.

[2015-08-04 09:02] #27412 closed

[2015-08-04 09:27] oli-obk opened #27511 "repr C newtype for empty enum"
It's currently legal to define the following type, even though `repr(C)` on empty enums is forbidden.

[code]

[2015-08-04 10:07] Veedrac commented on #22709
@GuillaumeGomez AFAIK, [my later comment](https://github.com/rust-lang/rust/issues/22709#issuecomment-110935709) is still up to date.

[2015-08-04 10:09] GuillaumeGomez commented on #22709
Perfect, I'll take a look then!

[2015-08-04 11:27] #27467 closed

[2015-08-04 12:04] a-jamesregan commented on #24677
@cyplo Sorry, I can't check to see if it works in Arch.  As much fun - and by that I mean a headache - as it was setting up Arch, I'm now running Ubuntu.  Rust seems to be working fine on 15.10 though!

[2015-08-04 12:10] cyplo commented on #24677
No worries, thanks a lot for checking :) Running ok on my ubuntu machine as well, fedora one having problems though. thanks again !

[2015-08-04 13:34] asaaki commented on #27290
I guess I have a similar problem. At least I get the same error message.

I tried to follow your instructions at #24777, but stumbled upon an issue:

I followed the instruction of libcxxabi, but got no libunwind.a at all (tried with trunk and the 3.6.2 release tag from svn).
So I went for the [libunwind by pathscale](https://github.com/pathscale/libunwind) and got the artifact.
But building rust w

[2015-08-04 13:36] GuillaumeGomez opened #27513 "Missing information when spanning E0282"
The function call note_obligation_cause seems to be missing after [this line](https://github.com/rust-lang/rust/blob/master/src/librustc/middle/traits/error_reporting.rs#L349-L352) but is present [here](https://github.com/rust-lang/rust/blob/master/src/librustc/middle/traits/error_reporting.rs#L357). Is it on purpose ?

cc @eddyb
cc @nikomatsakis

[2015-08-04 14:05] #26968 closed

[2015-08-04 14:06] tailhook commented on #27290
@asaaki,  there are also new instructions at:
https://github.com/rust-lang/rust/blob/master/src/doc/trpl/advanced-linking.md

I've successfully build rust-must using them.

[2015-08-04 14:09] nikomatsakis commented on #27513
I recently noticed this myself. I added it back in a branch I'm working on, actually. Not sure how or why it got lost, perhaps as part of the code that implemented custom trait failure (`on_unimplemented`) reporting (but that's pure speculation on my part).

[2015-08-04 14:09] asaaki commented on #27290
Okay, will try this. Thanks for the pointer.

[2015-08-04 14:27] dotdash opened #27514 "Failing debuginfo test"
The test that was restored in #27500 fails for me:

[code]

Seems that there is some extra, unexpected output that makes the test fail.

cc @michaelwoerister

[2015-08-04 16:05] SimonSapin opened #27517 "Add `ByNeed` and `Predicate` traits"
#18424 "Implement collections reform" was closed with one part left not implemented yet:

In particular, making `Iterator::position` generic over a `Predicate` trait would help replacing `[T]::position_elem`, which was deprecated in https://github.com/rust-lang/rust/pull/26914, without the verbosity of `.position(|i| i == &x)`

CC @alexcrichton, @aturon

[2015-08-04 16:09] steveklabnik commented on #27510
"Effective Rust" is a section that assumes you know the basics of Rust already, which is why it comes after "Learn Rust."

I may or may not be re-ordering these in the future, but they're in this order because of complaints about the _previous_ order... I can't at the moment talk about when and how it may happen, but at the moment, this is Not a Bug. Thanks though!

[2015-08-04 16:09] #27510 closed

[2015-08-04 16:34] alexcrichton commented on #27506
As @nagisa points out there are alternate methods available if you would like chaining and otherwise this is all working as intended, so I'm going to close this. Thanks for the report though!

[2015-08-04 16:34] #27506 closed

[2015-08-04 16:34] alexcrichton commented on #24135
The choice to use `Arc` was intentionally left out to take the more conservative route to start out. Some time has passed, though, and it could perhaps be re-evaluated again.

[2015-08-04 16:36] bluss commented on #27517
This should sync method names with `&str` and their pattern API if possible IMO.

[2015-08-04 17:08] tomjakubowski commented on #27510
The "Learn Rust" section might could use some more information about traits then.

[2015-08-04 17:09] michaelwoerister commented on #27514
That's interesting. I'm also using GDB 7.7.1 and for me it works just fine.

[2015-08-04 17:10] steveklabnik commented on #27510
Yeah, there's a number of issues for sure. Hopefully I can talk about plans soon.

[2015-08-04 17:13] tomjakubowski commented on #27510
Great! I'm looking forward to hearing more!

[2015-08-04 17:14] tomjakubowski commented on #27510
Thanks @steveklabnik

[2015-08-04 17:45] Gankro commented on #27517
To my knowledge ByNeed and Predicate were totally busted and are unimplementable because of *mumble mumble something something* overlapping implementation stuff. In particular this RFC was merged while closures were known to be Boxed which somehow avoided conflicts. Now unboxed closures exist so everything falls apart.

Not even specialization is supposed to be able to fix this.

This is all vague

[2015-08-04 17:48] aturon commented on #27517
Yeah, for example, the following fails to compile:

[code]

and as @Gankro mentioned I was hoping specialization would solve it, but doing so requires [some crazypants rules](https://github.com/aturon/rfcs/blob/impl-specialization/text/0000-impl-specialization.md#limitations).

Still, there are other ways to address this, possibly including getting the compiler to reason more about [`#[fundamental

[2015-08-04 17:51] aturon commented on #24028
Discussion of `catch_panic` is [here](https://github.com/rust-lang/rfcs/pull/1236).

[2015-08-04 17:59] aturon commented on #27517
(To be clear, the reason the example fails to compile is that in principle you could have `&T: Fn(&T) -> bool`, in which case both impls would apply; specialization as proposed doesn't help because neither impl is strictly more general. But since the relevant types/traits here are marked `#[fundamental]`, some negative reasoning is already permitted, and if we took full advantage might be enough t

[2015-08-04 19:27] asaaki commented on #27290
_Status update so far:_
It seems it is possible to build against the current master branch only right now.
And if I interpret the version string correctly, then this will be later the 1.3.0 release.

Thank you again for the hint, @tailhook!

[2015-08-04 19:59] eefriedman commented on #27511
What's the problem?  Every instance of the struct "Yes" is guaranteed to have the same layout as it would in C. :)

(On a side note, the FFI lint only checks foreign items at the moment.)

[2015-08-04 20:01] bluss commented on #27487
@barosl  I think the identity function solution is the best.

[code]

[2015-08-04 20:04] oli-obk commented on #27511
I don't see how any `repr(C)` type could contain a type that is not `repr(C)`. I assumed it was an oversight

[2015-08-04 20:23] marcusklaas opened #27522 "Bad span for self type"
The high end of the span of `&SomeType` in

[code]

is incorrectly set to `BytePos(0)`.

[2015-08-04 20:24] alevy opened #27523 "docs: clarify `PhantomData` vs "phantom types" statement"
In the documentation for [`PhantomData`](https://doc.rust-lang.org/stable/core/marker/struct.PhantomData.html), it states that: "Though they both have scary names, PhantomData<T> and "phantom types" are unrelated."

This seems to not be an accurate description of the relationship between the PhantomData marker and phantom types, the concept. They are related, just not the same thing.

/cc @stevekl

[2015-08-04 20:37] marcusklaas commented on #27485
Ran into this when running a fauly tt muncher with ~100 items. We can now compete with C++ in the compiler spew area as well! :-P

[2015-08-04 20:39] nagisa commented on #27501
May be closed?

[2015-08-04 20:40] #27501 closed

[2015-08-04 20:41] steveklabnik commented on #27501
Thanks for doing that, @friedm

[2015-08-04 21:24] marcusklaas commented on #27522
It's seems to be caused by this `hack': https://github.com/rust-lang/rust/blob/master/src/libsyntax/ast.rs#L1503-L1521.

Weirdly enough, the proper span is shown for diagnostics: [play.rust-lang.org](https://play.rust-lang.org/?code=trait%20Foo%20{%0A%20%20%20%20fn%20test%28self%3A%20%26Self%29%3B%0A}%0A%0Astruct%20Bar%3B%0A%0Aimpl%20Foo%20for%20Bar%20{%0A%20%20%20%20fn%20test%28self%3A%20Baz%29%2

[2015-08-04 21:27] tailhook commented on #27290
@asaaki, well, let me know if you manage to build something using cargo which has "libc" as dependency (many packages depend on libc somewhere in the chain). That's where I currently am :)

[2015-08-04 21:43] steveklabnik commented on #27511
This sounds true to me as well, @nikomatsakis ?

[2015-08-04 21:46] steveklabnik commented on #27478
tagging as diagnostics because i have similar feels to @nagisa

[2015-08-04 21:46] brson commented on #26775
@pnkfelix Making it illegal might still be a reasonable stop-gap if it looks like we won't fix the problem for a while.

[2015-08-04 21:47] steveklabnik commented on #27457
@Gankro we should discuss tagging for the nomicon, for now, tagging with docs and assigning to you

[2015-08-04 21:48] steveklabnik commented on #27456
Yes, I concur with @Aatch . there is going to be no good way to figure out stuff like this in a general case.

An RFC might be able to expand on _exactly_ which cases this should be dealt with, if any, but it would need to be extremely precisely specified. As such, I think this is too general to be actionable without one.

[2015-08-04 21:48] #27456 closed

[2015-08-04 21:48] Gankro commented on #27511
This is because repr(C) has dual meaning:

* lay out the fields in the order I give them and supress some interesting
optimizations
* Be compatible with C

You may be interested in the former without ever caring about the latter.
You may even be interested in the former without caring about some of the
nested types.

On Tue, Aug 4, 2015 at 2:43 PM, Steve Klabnik <notifications@github.com>
wrote:

[2015-08-04 21:49] steveklabnik commented on #27445
Yes, we have a lint for this, and you can enable it. Turning it into a warn by defualt would need an RFC, I would imagine, as it's quite possible that it becomes a breaking change for a lot of code.

[2015-08-04 21:49] #27445 closed

[2015-08-04 21:51] steveklabnik commented on #27420
We have several issues open related to this, though I can't seem to find them right now... @alexcrichton i think you may know?

[2015-08-04 21:52] steveklabnik commented on #27395
Yes, I am not sure that this is something that's fixable...

[2015-08-04 21:52] steveklabnik commented on #27377
Should this issue be closed?

[2015-08-04 21:53] steveklabnik commented on #27141
/cc @rust-lang/lang

[2015-08-04 21:54] steveklabnik commented on #26951
So is this not a bug?

[2015-08-04 21:55] alexcrichton commented on #27420
I think this is a dupe of either https://github.com/rust-lang/rust/issues/23252 or https://github.com/rust-lang/rust/issues/22750, so closing in favor of those.

[2015-08-04 21:55] #27420 closed

[2015-08-04 22:17] Gankro commented on #26951
It's not an accident, at least.

On Tue, Aug 4, 2015 at 2:54 PM, Steve Klabnik <notifications@github.com>
wrote:

[2015-08-04 22:24] lady-segfault opened #27526 "Docs: nomicon: missing word in send-and-sync.md"
In `send-and-sync.md`, there is a sentence where some word(s?) seem to be missing:

(I suppose it's something like "other unsafe code can ASSUME that..."?)

r? @Gankro

PS: I'm not sure if this is the appropriate place to post this kind of feedback on the book, don't hesitate to tell me if other ways are more adapted :)

[2015-08-04 22:27] Gankro commented on #27526
Totally the right place! (and totally the right fix!)

[2015-08-04 22:36] bluss commented on #26951
I think all conversations I've had about this have said that performance improvement from aborting instead of panic are unlikely; it saves code size in the binary with likely very little to none runtime impact. We don't have numbers.

So I reported this because I'd like to use `abort()` for both of the "oom" cases mentioned in the issue's description. It is sensible to do after we get a message on

[2015-08-04 23:01] Gankro commented on #26951
I think the @rust-lang/libs team just needs to make a final call on this. I think @bluss and I have both made our stances fairly clear, but to summarize (hopefully I'm not misrepresenting bluss):

Always Abort:
* More consistent (always aborts when too much memory requested)
* Potential theoretical perf gains to be had (llvm can optimize around straight-up ending the program)

Sometimes Abort:
* D

[2015-08-04 23:30] IvanUkhov commented on #16264
I also would be grateful for an update on the issue. Thanks!

Regards,
Ivan

[2015-08-05 00:34] bluss commented on #26951
Code size may have an impact (from unrelated Servo discussion)

[1](https://internals.rust-lang.org/t/some-notes-on-reducing-monomorphizations/2459/3?u=bluss):

[2015-08-05 03:52] #27394 closed

[2015-08-05 05:34] #18083 closed

[2015-08-05 06:26] eddyb commented on #27522
Since `Self` works in `impl`s now, it's probably time to retire that hack and always provide the correct type.
`SelfExplicit` appears to hold the type (with its correct span), instead of the `self` argument itself, in this case.

[2015-08-05 07:25] dimbleby commented on #27456
The proposal was absolutely not general.  I really was suggesting only that the particular case where a function dereferences its pointer arguments might be sufficiently low-hanging fruit to be worth doing.

Of course you are welcome to disagree, or to reject the idea for any of a million reasons.  But I'm sorry to see this closed because of a misunderstanding about what it intended to say.

[2015-08-05 07:41] cybergeek94 commented on #27456
@dimbleby

The lints integrated into rustc are designed to catch common mistakes that would be hard to find otherwise, like not consuming an iterator or a redundant cast. Unsafe code is inherently uncommon; the user assumes all risks involved wheb writing unsafe code, which includes simple mistakes.

That being said, perhaps you can pitch this idea to @Manishearth for https://github.com/Manisheart

[2015-08-05 07:46] GuillaumeGomez commented on #27513
Perfect, don't forget to close this issue when your PR is merged. :p

[2015-08-05 07:49] tomaka commented on #26590
This doesn't happen with programs compiled with the MSVC nightly.

[2015-08-05 07:50] Manishearth commented on #27456
Agree with @cybergeek94, rustc lints aren't for catching such things.

I'm open to the following kind of lint in clippy:

 - A non-unsafe function
 - does not contain any branches (so unconditionally does something)
 - dereferences a raw pointer that was provided in an argument

Anything more general than that can have lots of false positives, since it's common to deref raw pointers after checking

[2015-08-05 09:49] dylanede commented on #27377
If it is going to be closed then an issue about the changes to the design from the RFC that @aturon talked about should be opened first.

[2015-08-05 10:14] phillipCouto commented on #27333
Maybe I am not seeing something but arm neon can only handle 64 and128 bit simd operations. So might that be why your previous version with 2 u64x2 version worked instead of the u64x4?

Your current version is trying to allocate a 256 bit number which is larger than what is supported.

[2015-08-05 10:30] #27347 closed

[2015-08-05 10:30] #27457 closed

[2015-08-05 10:47] bluss commented on #27303
@eefriedman Maybe we can make `#[repr(C)] struct Foo;` change the repr, so that it is C and C++ compatible? After all, that's what the user is asking for.

[2015-08-05 12:31] arielb1 opened #27532 "Nullable field optimization does the Wrong Thing when faced with associated types"
## STR

[code]

## Expected Result

Nullable field optimization should be triggered in both cases

## Result

[code]

[2015-08-05 14:04] bluss commented on #27195
Did this account for that `align_of` has changed its meaning? `min_align_of` was always the correct one for Rust, and now `align_of` is the same as `min_align_of`.

[2015-08-05 14:08] bluss commented on #27478
@aatch but we also have the case where `{[1, 2]}[0];` and `{(1, 2)}.0;` compile, so subscripting and accessing fields are ok.

[2015-08-05 14:18] GuillaumeGomez commented on #27513
@nikomatsakis: While you're in this file, can you remove this ";;" [here](https://github.com/rust-lang/rust/blob/master/src/librustc/middle/traits/error_reporting.rs#L356) please ? ^^

[2015-08-05 14:29] bluss commented on #27446
It looks like this is fixed in "upstream" libterm, so requires import from there.

[2015-08-05 15:32] jmesmon commented on #20342
I've run into this same issue in meta-rust: https://github.com/jmesmon/meta-rust/issues/6 (and it's recently caused me issues again).

Causes build failures for me fairly often, as bitbake likes to rebuild things that are already installed sometimes.

As I mentioned in #19767, using prioritization of paths passed to the compiler (rather than searching all of them) is an easy fix for this.

Adding

[2015-08-05 16:11] steveklabnik commented on #27471
https://github.com/rust-lang/rust/pull/27528 was merged so i'm closing this, thanks!

[2015-08-05 16:11] #27471 closed

[2015-08-05 16:11] steveklabnik commented on #27344
closing in favor of https://internals.rust-lang.org/t/pre-rfc-rustc-ux-guidelines/2419 and the eventual RFC

[2015-08-05 16:11] #27344 closed

[2015-08-05 16:38] steveklabnik commented on #26888
/cc @rust-lang/libs @Gankro

is this behavior intentional and should it be documented?

[2015-08-05 16:39] Ms2ger commented on #27303
Servo uses `enum Foo {}`.

[2015-08-05 16:40] steveklabnik commented on #26628
@reinerp if you have specific suggestions for the documentation, please let me know, but without those details, I can't really fix this. It'd be nice to know exactly what and where needs to improve in what way to help your understanding. Thank you!

[2015-08-05 16:40] #26628 closed

[2015-08-05 16:42] steveklabnik commented on #14232
Can someone help me out with what exactly needs to be documented here, and what our plans are? It's been a long time since the discussion happened, and I don't want something incorrect.

[2015-08-05 16:45] Gankro commented on #26888
It's intentional. The justification being "our API says you're not allowed to care about keys, and swapping keys is more expensive, so do the less expensive thing".

It's not necessarily *the right choice*, but at very least it's not an accident. It's unclear if anyone is relying on this (we settled on a uniform behaviour in case anyone did).

[2015-08-05 16:59] apasel422 commented on #26888
I think we should document that they don't replace the key. rust-lang/rfcs#1194 provides an additional `replace` method that _does_ replace them, and it's most flexible to provide both forms.

[2015-08-05 17:05] alexcrichton opened #27537 "Document interaction of std APIs with OS syscalls"
@aturon and I have long had the desire to audit all of our various `std::{io, process, env, fs, os}` APIs with what they're actually doing on all platforms. This is very helpful for getting more information about the precise semantics of the API in various corner cases as well as explaining what's going on under the hood.

This is a pretty big bug and probably shouldn't be tackled all at once, but

[2015-08-05 17:06] alexcrichton commented on #14232
OK, I'm going to close this in favor of https://github.com/rust-lang/rust/issues/27537. With @geofft's investigation it's becoming clearer that there's basically not much we can do here, so the "documentation bug" should just be documenting what we're doing. I don't really want to add a clause to `Command::spawn` that says something along the lines of "we think there's a race in the OSX kernel". R

[2015-08-05 17:06] #14232 closed

[2015-08-05 17:09] michaelwoerister commented on #27514
@dotdash Thank you for the report! Is there anything special about the system you are getting this error on? A custom GDB version? Rust built with non-standard flags or LLVM?

[2015-08-05 17:09] arielb1 commented on #26847
Well it shouldn't compile

[2015-08-05 17:18] TimNN commented on #23808
By the way, the warning goes away if you explicitly specify the trait who's static method you are calling, like so:

[code]

[2015-08-05 17:24] jonas-schievink commented on #27532
I think you swapped the results by accident

[2015-08-05 17:26] steveklabnik commented on #24795
I believe that https://github.com/rust-lang/rust/issues/27537 has just superseded this ticket. @alexcrichton ?

[2015-08-05 17:30] bluss commented on #27303
@Ms2ger Doesn't the ffi-safe lint trigger on that too?

[2015-08-05 17:31] tomjakubowski commented on #27303
@bluss raw pointers to Sized types are always allowed in FFI signatures, AFAIK.

[2015-08-05 17:33] steveklabnik commented on #26916
We currently go to great lengths to talk about lifetimes being a property of references, why you need them, and we cover both of those cases with examples.

[2015-08-05 17:33] #26916 closed

[2015-08-05 17:41] eefriedman commented on #27532
It looks like the issue is just a couple missing calls to `monomorphize::normalize_associated_type`; I'm working on a fix.

[2015-08-05 17:44] alexcrichton commented on #24795
Oops, that's actually a duplicate of this, I tried to find this and wasn't able to find it!

[2015-08-05 17:44] alexcrichton commented on #27537
Er, dupe of https://github.com/rust-lang/rust/issues/24795

[2015-08-05 17:44] #27537 closed

[2015-08-05 18:30] cesarb commented on #27333
@phillipCouto SSE2 can also handle only 64 and 128 bit SIMD. LLVM is able to work with a u64x4 just fine; it uses a pair of registers instead of a single one, both for SSE2 and NEON.

And the inline asm still receives a single u64x2 like before; I extract both halves of the u64x4, and call the inline asm once with each, as can be seen in the link I provided.

[2015-08-05 18:35] remram44 commented on #20417
Indeed, it works fine... this should be closed!

[2015-08-05 18:35] FuegoFro opened #27541 "Rust does not dynamically export functions in Android shared library"
I've been trying to compile Rust for Android and call exported JNI functions directly from Java, without a C++ shim in between. I found that if I marked a function as `#[no_mangle] pub extern "C"` it would show up in the symbol table just like JNI exported functions in C++, but it wasn't in the _dynamic_ symbol table. That is to say, when running `arm-linux-androideabi-nm` on the `.so` produced by

[2015-08-05 18:40] #20417 closed

[2015-08-05 19:05] mcpherrinm opened #27543 "Rustc produces bad binaries on Fedora 14, Centos 6.6, 32 bit"
I think it's because of the TLS setup not working properly

Here's a (sorry, screenshot) of vimdiff of readelf of a working and non-working binary https://i.imgur.com/zfdDYss.png  -- Both compiled with the same rustc binary, but different host OSes.

I believe this is related to https://gcc.gnu.org/bugzilla/show_bug.cgi?id=46770

[2015-08-05 19:05] mcpherrinm commented on #27543
I believe this is the same issue encountered in https://users.rust-lang.org/t/illegal-instruction-when-i-run-main-rs/2199

[2015-08-05 19:06] brson commented on #27543
cc @alexcrichton

[2015-08-05 19:07] mcpherrinm commented on #27543
Non-working was linked with gcc version 4.5.1 20100924 (Red Hat 4.5.1-4) (GCC) / GNU ld version 2.20.51.0.7-8.fc14 20100318
Working binary was linked with gcc version 4.9.2 20141101 (Red Hat 4.9.2-1) (GCC)

[2015-08-05 19:08] nagisa commented on #27543
Notably the left side(.init_array .tini_array) is working one and right side (.ctors/.dtors) is non-working.

[2015-08-05 19:10] arielb1 commented on #27532
I will fix this with my ADTDef patch (coming real soon now) - I should have made that clearer.

[2015-08-05 20:01] alex-ozdemir commented on #24214
I'm planning take care the slice::Windows & slice::Chunks(Mut). Let me know if you're working on this and I should redirect my attention to a different item.

[2015-08-05 20:12] ProtectedMode commented on #27541
I encountered the same issues when trying to use the LuaJIT FFI to call Rust's exported C functions. Wouldn't Cargo support to pass these flags be the easiest solution?

[2015-08-05 20:49] alexcrichton commented on #26951
triage: P-medium

As an action item the libs team has decided to see if it's possible to panic on OOM and we can possibly reevaluate from there.

[2015-08-05 21:10] Gankro commented on #20503
Triage: still a really annoying problem.

[2015-08-05 21:33] jroesch commented on #20503
@Gankro I can fix this, probably my fault anyways.

[2015-08-05 22:34] mcpherrinm commented on #27543
http://mcpherrin.ca/tmp/badrust.bin

Here is a sample bad binary, which is "fn main() println!("Hello, World!")" compiled on Centos 6.6 32 bit in Virtualbox, with a Rust 1.2 stable candidate.

[2015-08-05 22:52] Diggsey commented on #18733
This still happens even if there is no rust installation on PATH: I've reconfigured msys so that it doesn't inherit my windows environment variables, but I still get the exact same error:

[code]

[2015-08-05 23:12] edunham commented on #13180
Status: https://www.rust-lang.org/ fixes the original issue of this ticket. http://rust-lang.org redirects to https://www.rust-lang.org. https://github.com/rust-lang/rust-www/issues/165 will handle the issues raised in the ensuing discussion.

At least we're up to "mediocre" on https://httpswatch.com/programming#programming-languages :unamused:

[2015-08-05 23:32] gsingh93 commented on #13180
Yay! Nice work!

(This issue should probably be closed now.)

[2015-08-05 23:39] #13180 closed

[2015-08-05 23:53] #26991 closed

[2015-08-05 23:53] #27109 closed

[2015-08-05 23:53] #27523 closed

[2015-08-05 23:53] #26746 closed

[2015-08-05 23:53] #26917 closed

[2015-08-06 01:31] Aatch commented on #27478
@bluss the indexing case doesn't work in the same context, and for the same reason. `[0]` is a valid expression by itself. The field-access case works because `.0` isn't actually a valid expression by itself. While we treat `.` as an operator sometimes, it actually isn't and the parser doesn't parse it as one either, hence why it parses fine while `{5} + 5` doesn't.

[2015-08-06 02:50] Nashenas88 commented on #17219
I'm running into this when trying to build something with the `rustc_private` feature. I'm using multirust, and it's currently bound to the nightly toolchain. I have the exact same output as @comex. It's impossible to proceed without rebuilding rustc from scratch.

[2015-08-06 04:50] dotdash commented on #27514
@michaelwoerister Nothing special AFAICT. GDB is just the one that currently comes with Debian Sid and Rust is built with the bundled LLVM and no special options, just disabled assertions.

[2015-08-06 04:53] wthrowe opened #27554 "Explicit OIBIT impls hide the default impls"
[code]
Nothing in this example opts out of `Sync` or contains a type that opts out, so everything should be `Sync`.

I suspect this is the same underlying issue as #23072, but unlike in that case this seems like something that should be allowed.

[2015-08-06 05:48] Aatch commented on #27541
Note that you should be able to pass the extra flag to the linker by using `-Clink-args=--export-dynamic`. I'm not really sure what to do here though, as it seems this is normally unecessary as you can use `dlsym` to access any exposed symbol, not just those in the dynamic symbol table.

I think the best option would be to add support for setting the link args to Cargo, which would be a Cargo issu

[2015-08-06 06:41] eddyb commented on #26951
Would be interesting to check is a singleton pointer value is enough to unwind without allocating.
The catching mechanism would `box` an "OOM happened" ZST (which doesn't actually allocate) as `Box<Any>` for that specific value, instead of transmuting the pointer to `Box<Box<Any>>`.

In the case of true OOM, it's possible that secondary allocations during unwinding (which should be rare, I can't r

[2015-08-06 06:47] #27427 closed

[2015-08-06 07:13] lastorset commented on #21875
It might be best to leave the precise error messages there: hearing about "block suffixes" gives an opportunity to learn the theory behind the borrow checking. But I agree more help is needed: for newcomers to Rust it's easy to misread the compiler's error, since they might not be thinking correctly about lifetimes. So I'd suggest adding a `help:` message tailored to the situation:

[code]

I'm on

[2015-08-06 08:44] #26115 closed

[2015-08-06 10:22] GuillaumeGomez opened #27559 "Misleading "unused" warning message"
We got the following warning message:

[code]

For this code:

[code]

This warning could mislead users because for them, the Foo variant is used. Adding a specific warning message could be nice.

@eddyb proposed this message instead in this case:

"this variant is never instantiated"

cc @eddyb

[2015-08-06 11:01] llogiq opened #27560 "Span output should be shortened to three lines (w/ ellipsis) unless --verbose"
The compiler reports spanned warnings and errors with the full span of the responsible code. While that makes it abundandly clear where the error arose, it also makes the output very verbose by default.

Since we have a `--verbose` command line flag, I propose that the compiler shortens all spans that are more than three lines of code with ellipsis unless the verbose output is requested. This keep

[2015-08-06 13:44] GuillaumeGomez opened #27561 "Invalid error message for E0423"
Example:

[code]

The error message is incorrect.

[2015-08-06 15:15] Gankro commented on #26951
@eddyb I think our main concern is libunwind allocating. A quick look seems to reveal they never check their mallocs. However maybe there's some macro shenanigans or maybe this is all utility code that isn't called by us. I didn't really dig deep into it (also maybe I checked out the wrong version...).

[2015-08-06 15:16] Gankro commented on #26951
In particular if Rust allocates during OOM that should be fine -- we always check and a double panic is just an abort.

[2015-08-06 16:06] sfackler commented on #26951
Java pre-allocates an OutOfMemory exception at initialization to ensure it can properly throw when out of memory - it might make sense to do the same thing here if possible.

[2015-08-06 16:18] steveklabnik commented on #26951
IIRC Python does something similar as well.

Sent from my iPhone

[2015-08-06 19:58] nikomatsakis commented on #27468
So. On a related note, I've been wanting to refactor the compiler to "bundle up" an error and its associated notes, helps, etc into an atomic unit and emit it once. This provides extra incentive.

[2015-08-06 21:02] TimNN opened #27567 "pretty test should not specify --crate-type=lib when typechecking"
Since the early days of pretty tests (77be30fa737c6b55faf3a52fbd2050f5b35ebb02) they were compiled as libraries so that they did not require a main function. By now they also run on all the run pass test, which all have a main and there is (or soon will be) at least one run pass test which requires to be compiled as a binary (see #27565).

As discussed shortly on irc (starting [here](https://botbo

[2015-08-06 21:30] Wilfred opened #27569 "End of macro invocation before expected produces EOF"
[code]

This gives the following compile error:

[code]

I think this is slightly misleading: it's not an EOF at the position where the caret is.

[2015-08-06 21:31] Diggsey opened #27570 "mem::transmute is too restrictive"
Because `mem::transmute` checks its constraints before monomorphization, it fails for types containing fields whose type is determined by a generic parameter:

It's great that it attempts to catch errors as early as possible, but if it's unable to prove that the 'to' and 'from' types have the same or different representations before monomorphization, it should fall back to checking them after, whe

[2015-08-07 00:00] bluss commented on #27570
Rust doesn't want a solution that involves some monomorphizations working and others not. If the function definition type checks, all instantiations that pass the required type parameter bounds should compile.

[2015-08-07 00:32] Diggsey commented on #27570
A possible compromise would be for invalid transmutes which are detected after monomorphization to compile to an unconditional panic, and also emit a warning at compile time.

[2015-08-07 00:33] huonw commented on #27060
I've written https://github.com/rust-lang/rfcs/pull/1240 which proposes making taking a reference into a `repr(packed)` struct `unsafe`.

[2015-08-07 00:42] huonw commented on #27570
As you say, one can go the unconditional panic route via a `transmute_copy` wrapper:

[code]

In any case, the compile-time checks of `transmute` could be generalised in a more principled way with a trait like

[code]

I believe the monomorphic-only rule allows to do this backwards compatibly (if we do it at all), which wouldn't necessarily be true with a `panic!` substitution.

[2015-08-07 01:00] arcnmx commented on #27060
I don't feel like this is the correct approach to take, will write up some notes in the RFC comments in a bit.

[2015-08-07 01:01] Diggsey commented on #27570
The trait route you describe would require adding a SizeOf bound in many places throughout the code, possible even in 3rd party code, which will often not be feasible.

[2015-08-07 02:00] Aatch commented on #26951
Preallocating might be difficult given that Rust code might not be called from inside a Rust main. I guess we could use pre-allocation for when it *is* called from a Rust program, and then fallback to something else for the called by foreign code case.

[2015-08-07 02:09] Aatch commented on #27570
@Diggsey if you could provide a reasonable use case, I'd be much more open to considering this. I can't think of a case where this doesn't just scream "I'm doing something wrong" at me.

[2015-08-07 02:14] Aatch commented on #27569
This is because of the macro. For `message/` there the token stream is literally just `message` and `/`, so the expression parser hits an "EOF", as it can only parse the tokens inside the macro. It's an unfortunate error message, but technically correct, from the perspective of the parser anyway.

There should probably be something to catch "EOF" errors in macro/syntax extension expansion and turn

[2015-08-07 02:21] Diggsey commented on #27570
For a specific example, my PR #27573 would have been better implemented via transmute, rather than the workaround I had to use.

Basically for any current use of transmute, it can't be generalised across type parameters, which is unfortunate.

[2015-08-07 04:13] pnkfelix commented on #27141
I think once the next beta has been release we can go ahead and apply this change to nightly.

[2015-08-07 05:15] pnkfelix commented on #26951
cc me

[2015-08-07 07:32] oli-obk commented on #27570
if there are no other use cases, the specific case of `Option<NonZero<T>>` having the same size as `T` could be added to `transmute`. This should obviously not be done for `Option` but for any type that hits this optimization.

Not in your use case ;), as everything is known inside the function. There's no reason for the outside to know about this.

there could additionally be an `impl<T> SizeOf<T

[2015-08-07 08:51] nikomatsakis commented on #23046
On nightly I see an error, not an ICE: http://is.gd/qyUHmM

Marking as needs test.

[2015-08-07 09:01] eddyb commented on #26951
@Aatch the problem of preallocation seems pointless, since we control what the pointer value means, and if it points to some `static` in `liballoc`, then we can treat it as an OOM panic instead of a `Box<Box<Any+Send>>` value.

[2015-08-07 09:01] nikomatsakis commented on #27497
I'm trying to remember what motivated us to add that check in the first place, but I cannot.

[2015-08-07 09:07] nikomatsakis commented on #27340
It makes sense to wait until @arielb1's PR https://github.com/rust-lang/rust/pull/27551 lands, I suspect.

[2015-08-07 09:40] nikomatsakis commented on #27570
@Diggsey

This is not necessarily true, because the current check is strictly more conservative than a bound would be (i.e., the bound would be met in all the cases we currently accept). At least that was the intention. I personally still favor some sort of bound as the way to generalize `transmute`.

[2015-08-07 10:34] nikomatsakis opened #27578 "Tracking issue for the `use_group_as` RFC"
Tracking issue for rust-lang/rfcs#1219.

Intention is to permit syntax like:

[code]

the semantics of which are fairly self-explanatory.

[2015-08-07 10:49] Manishearth commented on #27578
https://github.com/rust-lang/rust/pull/27451

[2015-08-07 11:16] Keruspe commented on #16402
Any new on this?

Even the rust compiler itself cannot be compiled if it's already installed system-wide...

[2015-08-07 12:03] nikomatsakis opened #27579 "Projections, lifetimes, and WF tracking issue (RFC 1214)"
### Tracking issue for rust-lang/rfcs#1214
- [x] rust-lang/rust#26406
- [x] ~~rust-lang/rust#24622~~
- [x] ~~rust-lang/rust#23442~~
- [x] ~~rust-lang/rust#21748~~
- [x] ~~rust-lang/rust#25692~~
- [x] ~~rust-lang/rust#21953~~
- [x] ~~rust-lang/rust#27592~~
- [ ] Just take implied bounds from arguments. Implementing this probably requires improving `check_method`
- [x] ~~rust-lang/rust#27583~~
- [ ]

[2015-08-07 13:11] TimNN commented on #7970
I'll give this a go  and should have a pull request ready soon.

[2015-08-07 13:12] Cigaes opened #27580 "Leading plus for string to integer parsing"
The ```parse::<i32>()``` function (and all its cousins for other integer types) fail for strings starting with a ```+``` with ```ParseIntError { kind: InvalidDigit }```. Failing snippet:

[code]

The same error occurs with the symmetric function call ```i32::from_str("+42")```.

[Test snippet on Rust Playground](http://is.gd/MS2sYy)
[Rust Forum discussion](https://users.rust-lang.org/t/leading-plu

[2015-08-07 13:18] RalfJung opened #27581 "Redundant mut checking does not work for lazily initialized variables"
The following piece of code contains a redundant `mut`, but triggers no warning:

[code]

[2015-08-07 13:22] RalfJung commented on #26656
It took me a while to understand why trait objects even help in circumventing dropck... my current conclusion is that in `Zook::Drop`, Rust actually can assume that `B: Button` because we have something of type `Box<Trigger<B>>` around, which can only be well-formed if `B: Button`. In other words, the source of the problem is the fact that there are many ways to get a trait bound into a function,

[2015-08-07 13:33] mitaa commented on #27581
Duplicate of #15278

[2015-08-07 14:00] RalfJung commented on #27581
Dang, I did search for duplicates, but only with "redundant", not with "unused". Oh well. Thanks for the pointer!

[2015-08-07 14:00] #27581 closed

[2015-08-07 14:51] nikomatsakis opened #27583 "Apparent regression in implied bounds"
In the RFC 1214 branch, I found that at some point after a rebase (where a new snapshot was introduced), a new implied bound was needed. I believe this is specific to stage0, but I am not sure. I didn't have time to minimize or dig deeply, so i've marked the offending bound for now with a FIXME.

[2015-08-07 14:59] #27532 closed

[2015-08-07 16:31] aturon opened #27585 "Tracking issue for `read_exact` (RFC #980)"
https://github.com/rust-lang/rfcs/pull/980

[2015-08-07 16:53] pnkfelix commented on #26656
@RalfJung my go-to example when thinking about this is a struct that carries both some object and a callback on that object:

[code]

To my mind, `S` is definitely parametric with respect to `T`.  Given an `s: S` and with no further knowledge of the particular `T`, there is nothing one can do with `s.x` except 1. swap in a `None` instead, and/or 2. call `s.f` with the contents of `s.x`, if any are

[2015-08-07 17:25] Diggsey commented on #27570
@oli-obk

Assuming you intend `SizeOf<T>` to be an unsafe trait which can be implemented for new types, that's just moving the problem elsewhere, eg:
[code]

The compiler still has to prove from that implementation that `A<T>` has the same size as `B<T>` for all possible T, which in general it cannot do before monomorphization.

@nikomatsakis

So it would be possible to "materialize" the bound fro

[2015-08-07 17:58] #27401 closed

[2015-08-07 17:58] nikomatsakis commented on #27570
@Diggsey

To be clear, I was envisioning a "lang item" sort of trait, though if we make a `SIZE_OF` an associated constant, it may not need a special trait at all.

This isn't quite right. The compiler is not trying to show that your transmutes are *valid*. It's trying to check that it is even *possible* for us to generate code for them, without either synthesizing bits or dropping bits on the flo

[2015-08-07 18:29] nagisa commented on #27543
A debug, non-optimised binary: http://mcpherrin.ca/tmp/badrust-dbg.bin

[2015-08-07 18:29] mcpherrinm commented on #27543
Here's a similar sample, but with debug symbols
"rustc -g -C opt-level=0 test.rs -o badrust-dbg.bin"

http://mcpherrin.ca/tmp/badrust-dbg.bin

[2015-08-07 18:33] Gankro commented on #27580
Need to decide if this is intentional or incidental.

CC @arthurprs who wrote the current implementation.

[2015-08-07 18:51] Gankro commented on #26951
Note that this is a memory safety issue for a few types: Box::new *can't* panic today -- this would introduce more exception-safety nonsense.

[2015-08-07 19:29] arthurprs commented on #27580
Interesting. I'm 99% sure this was the behavior before my change though. https://github.com/rust-lang/rust/pull/27110/files#diff-01076f91a26400b2db49663d787c2576L1457

[2015-08-07 20:20] ishankhare07 commented on #24788
just for my knowledge
what if i don't want to name my file as `main.rs`
is there a flag/variable in `Cargo.toml` that i can set
in order to let cargo know that which file to build
and not just the default `src/main.rs` file

[2015-08-07 20:29] mcpherrinm commented on #15684
Fixed by https://github.com/rust-lang/rust-installer/commit/c37d3747da75c280237dc2d6b925078e69555499

[2015-08-07 20:37] Gankro commented on #27580
@arthurprs I agree, I just figured you might have an opinion.

[2015-08-07 20:44] arthurprs commented on #27580
@Gankro since all major languages accept the leading + we should probably do the same.

[2015-08-07 21:44] brson commented on #14560
FWIW I did an experiment today and servo in debug mode builds in 54 seconds with ld and 14 seconds with gold. I'm going to see if I can get a patch together for this.

[2015-08-07 22:21] Eljay opened #27587 "The Rust Reference - no mention of #[cfg(target_env)]."
Title says it all.

cc @steveklabnik

[2015-08-07 22:44] cesarb commented on #27585
I posted the proposed implementation I wrote a few weeks ago as https://github.com/rust-lang/rust/pull/27588

[2015-08-07 22:45] Gankro commented on #27485
Ran into this while demonstrating why you need raw pointers to do a singly-linked-queue:

[code]

66 Borrow check errors in this test.

[2015-08-07 23:16] nh2 commented on #2369
Hi, let me give some pointers to the Haskell world. GHC has this solved - and probably the best working incremental recompilation engine on the planet.

It can do:

* recompilation avoidance for module **imports** (easy for any language that doesn't implement imports by *string concatenation* - hi C++
* recompilation avoidance **within** Haskell packages (equivalent to crates)
* recompilation avoi

[2015-08-07 23:17] mschwaig opened #27589 "Docs: & in colored method signatures not rendered correctly on chrome in windows 10"
When rendering [the documentation to any standard library class](https://doc.rust-lang.org/std/collections/struct.LinkedList.html) with Chrome Version 44.0.2403.130 m (64-bit) - the latest release on Windows 10, the & character is obviously not rendered correctly, as demonstrated by [this picture](http://imgur.com/RsVvnJg).

Is there any more information I can provide to help fix this issue?

[2015-08-07 23:20] mschwaig commented on #27589
Sorry I think this belongs in the website project. I will close this, and open an issue there instead.

[2015-08-08 00:42] nathansizemore opened #27590 "v1.2.0 error when building rustc for ios targets"
Cannot seem to get the same targets to compile on v1.2.0, with the same commands used for v1.1.0

[code]

[code]

[2015-08-08 00:44] tamird commented on #27590
Was fixed in https://github.com/rust-lang/rust/pull/27267. Perhaps needs a backport?

[2015-08-08 01:06] steveklabnik commented on #27589
Nope, this repo is correct! `doc.rust-lang.org` is generated from `src/doc` in this repo.

Also, wow, yeah, that's.... bad.

[2015-08-08 01:06] steveklabnik commented on #27589
You may want to try uninstalling and reinstalling that web font, I wonder if it got corrupted.

[2015-08-08 01:31] mschwaig commented on #27589
I don't know how to reinstall a web font, can you point me towards some information so I can try that?
I was able to reproduce the issue on a different PC with Windows 8.1 and the same Version of Chrome.

[2015-08-08 02:29] chriskrycho commented on #27590
Ran into this same thing earlier today after doing a fresh clone from `master` last night. I pulled the latest from `master` (including all submodules) just now, and am trying a rebuild. I'll update this comment with the results in the morning.

[2015-08-08 03:16] steveklabnik commented on #27589
I don't use Windows, so I'm not sure. Maybe someone else will have an idea.

[2015-08-08 03:41] lightsfury opened #27591 "[Nightly 1.4.0-4f33e43cb 2015-08-05] Compiler panic when mis-using Zero trait"
Attempting to misuse a trait can cause a compiler panic. The offending code is a simplified version of what I was working on.

I tried this code:
[code]
After reviewing the documentation, I expect this to throw a syntax error. Specifically, because the let RHS should be written as: `<<T as Rem>::Output as Zero>::zero`. This code *does* compile and work as expected.

I don't know if this is specifi

[2015-08-08 04:18] thepowersgang opened #27592 "format_args! returned from a closure causes corruption/crash"
The following code causes an abort in the generated executable, due to a bad jump in `::std::fmt::write` (indirect call to 0x1)

This is present on stable, beta, and nightly, both with and without optimisation on. (from my tests in playpen)

[code]

[code]

[2015-08-08 04:26] thepowersgang commented on #27592
My theory is that this is a failing in borrowck, allowing `Arguments` to be returned when it contains a borrow of a local. (Which is subsequently clobbered and causes execution of a random address)

[2015-08-08 04:58] sleeparrow opened #27593 "Error message for mutating field of immutable struct could be clearer"
[code]

The above code gives this compile error:

[code]

From my perspective, this implies that the field somehow needs to be marked as mutable, when in fact the user error is that the struct is immutable.

I believe the error message could be improved by saying something like `cannot borrow field `v` of immutable struct `f` as mutable`.
#18150 is "related".

[2015-08-08 05:13] ericye16 commented on #27589
Works for me.

![image](https://cloud.githubusercontent.com/assets/1618487/9149173/a4d8c538-3d6a-11e5-90cb-8eba27ffdadf.png)

Also Windows 10, chrome 44.0.2403.130 m

[2015-08-08 06:00] JustAPerson opened #27594 "False negative comparing targets with equivalent paths"
Imagine a directory structure such as:

[code]

Where `main.rs` depends on the separate crate `thing`

[code]
You'll get an error that looks like this:
[code]

when compiling `main.rs`, rustc expects `--target ../target.json` instead of the equivalent path in the correct working directory.

**tl;dr** It seems only the exact argument of `--target` is stored in the .rlib instead of the actual conten

[2015-08-08 06:08] TimNN commented on #27592
By the way, running this through `--pretty=expanded` it fails to compile: https://play.rust-lang.org/?gist=7d46d0c33a5c6122b043&version=nightly

[2015-08-08 06:25] Diggsey commented on #27594
dup of #24666 ?

[2015-08-08 07:20] cyplo commented on #15684
:+1:

[2015-08-08 07:42] Eljay commented on #24746
Interestingly, this doesn't happen in 32-bit builds or MSVC builds.

Tested on `rustc 1.4.0-nightly (1181679c8 2015-08-07)`

[2015-08-08 07:47] Eljay commented on #27589
Duplicate of #24355.

[2015-08-08 08:06] RalfJung commented on #26656
@pnkfelix That's a great example, thanks a lot! I think I understand now.
Btw, the example (and also the original one) can be written without mutable variables in `main`: <http://is.gd/7VVkX5>. (In the original one, one can then even get rid of the `HarmlessButton` variant.)

[2015-08-08 08:18] michaelwoerister commented on #27324
I'm pretty sure this has to be an error on the LLVM side. We are just assigning line numbers/scope ids to LLVM instructions, so what we do should be correct by construction (i.e. there is no way to tell LLVM "this line starts in the middle of this instruction").

With a minimal test case it would be possible to look at the LLVM IR generated by rustc and continue from there, and may try if somethin

[2015-08-08 09:15] TimNN opened #27597 "broken links in nightly docs search result"
Searching https://doc.rust-lang.org/nightly/std/ for something from the `collections` module (i.e. `into_boxed_slice` produces links to the documentation of `core_collections::...` as well as `collection::...`, where the `core_collections::...` entries are listed first and more importantly *do not exist* (they 404).

The stable docs only list one entry for `collections::...`, the beta docs list tw

[2015-08-08 10:56] nagisa opened #27598 "std implementation of panic might not detect double panicking"
Implementation of `std::panicking::on_panic` may panic and not detect it is double-panicking, entering endless loop of panicking and overflowing stack.

[2015-08-08 11:00] arielb1 commented on #27570
@nikomatsakis

It could generate an `unreachable`

[2015-08-08 11:00] arielb1 commented on #27570
@nikomatsakis

It could generate an `unreachable`

[2015-08-08 11:05] pnkfelix opened #27599 "Backport #27582 to beta"
#27582

Needs to be back ported

(I'm on a mobile device,  and I forgot our protocol for nominating back ports.  Just wanted to ensure this doesn't fall through the cracks.)

[2015-08-08 12:35] #27450 closed

[2015-08-08 12:42] nagisa commented on #27590
1.2 is already released as stable.

[2015-08-08 13:13] TimNN opened #27601 "Shift operators: signed RHS, Wrapping impl"
**1. Shift operators are defined for signed RHS types**
The following fails to compile: `1u32 << -1i32`; this compiles: `let i = -1i32; 1u32 << i` but panics due to overflow in debug mode and evaluates to `0` or `2147483648` in release mode, depending on whether the `u32` value is even or odd (which leads me to believe that internally the signed value is just cast to an unsigned one).

My preferre

[2015-08-08 13:31] cjcole opened #27602 "thread 'rustc' panicked at 'assertion failed: index.end <= self.len()', ../src/libcore/slice.rs:544"
$ rustc --version
rustc 1.2.0 (082e47636 2015-08-03)

$ RUST_BACKTRACE=1 cargo build
error: internal compiler error: unexpected panic
note: the compiler unexpectedly panicked. this is a bug.
note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-reports
thread 'rustc' panicked at 'assertion failed: index.end <= self.len()', ../src/libcore/slice.rs

[2015-08-08 13:32] cjcole commented on #22968
May be related, not sure: https://github.com/rust-lang/rust/issues/27602 (rustc 1.2.0 (082e47636 2015-08-03))

[2015-08-08 13:33] cjcole commented on #27602
Possibly the same root cause: https://github.com/rust-lang/rust/issues/22968

[2015-08-08 13:34] cjcole commented on #27602
$ rustc --version --verbose
rustc 1.2.0 (082e47636 2015-08-03)
binary: rustc
commit-hash: 082e4763615bdbe7b4dd3dfd6fc2210b7773edf5
commit-date: 2015-08-03
host: x86_64-apple-darwin
release: 1.2.0

[2015-08-08 13:39] meh opened #27603 "Inference fails when a type using a default also implements Deref."
The current code fails compilation:

[code]

With:
[code]

/cc @bluss @jroesch

[2015-08-08 14:50] JustAPerson commented on #27594
Seems so. I'll close in favor of that issue.

[2015-08-08 14:50] #27594 closed

[2015-08-08 14:52] JustAPerson commented on #24666
Ideally, the actual contents of the json file would be included, but storing a hash would at least allow the same target file to be used from different working directories.

[2015-08-08 15:12] nagisa commented on #27598
There’s two underlying reasons:

* Use of TLS, implementation of which may panic;
* Use of write!, which may panic.

[2015-08-08 15:43] wesleywiser opened #27604 "Confusing error message when using arithmetic operators on different number types"
[code]

The error message is confusing because it reads as though you cannot divide `f32`s at all when the real issue is that you can't divide a `f32` by any other numeric type. The error message should at least say something about the different numeric types involved. Ideally it would suggest changing `10` to `10.0` or casting the term.

[2015-08-08 17:21] gz commented on #26449
FYI: https://llvm.org/bugs/show_bug.cgi?id=23203

[2015-08-08 17:55] boghison opened #27606 "When are we getting the "more general mechanism" for struct inheritance"
Aka virtual structs, [this](https://github.com/rust-lang/rfcs/blob/master/text/0341-remove-virtual-structs.md), although relatively old, said that there might be a general mechanism in the future. When is the future and what is the general mechanism?

[2015-08-08 18:12] sfackler opened #27607 "Rustdoc should display the `since` version for stable items"
You can't tell when something like `FromRawFd` was stabilized without going into the source: https://doc.rust-lang.org/stable/std/os/unix/io/trait.FromRawFd.html

[2015-08-08 19:01] eefriedman commented on #27602
If I had to guess blindly just from the stack trace, I would say you're doing something weird with associated types in the signature of some method.

It's likely this is a duplicate of #22968.

[2015-08-08 21:02] netvl opened #27608 "Wrong "Private type in exported type signature" error"
Consider this code:
[code]
It fails to compile with the following error:
[code]

However, while `fn return_x()` is `pub` and `mod x` is also `pub`, this function never gets exported from the crate because `mod a` is private. Therefore, `X`, being private, is also not available outside the crate. I think that such code should be allowed.

[2015-08-08 22:27] talchas opened #27610 "std::sync::Once has way more barriers than necessary"
I believe that (comments removed)

[code]

is the correct set of barriers (I'm not certain if the lock_cnt barriers can be Relaxed instead, but it's pretty irrelevant and these are safe).

At the very least I am /certain/ that the very first load can be Acquire instead of SeqCst, which removes the barrier from the fast-path on x86.

[2015-08-08 22:38] nagisa commented on #27543
These initialiser sections, apparently, are completely irrelevant; we initialise all our thread locals lazily on first use. Interestingly we don’t seem to use `pthread` for it either (which could be the approach to take esp. on older systems).

Over 1.5 days of debugging I managed to observe symptoms mostly indicative of invalid memory reads (e.g. SIGSEGVs after null pointer deref inside `Cell::ge

[2015-08-08 22:46] Gankro commented on #27610
cc @aturon

[2015-08-09 03:59] eefriedman commented on #24338
Testcase without for loop desugaring:
[code]

[2015-08-09 07:13] jroesch commented on #27579
cc me

[2015-08-09 07:21] jroesch commented on #27603
I'll look into this more on Monday but it looks like there is a subtle weird interaction with deref, you can fix the first error by attaching a default to the impl, but it still fails on the call to with.

http://is.gd/hk1xuf

[2015-08-09 10:06] Ticki commented on #16264
Still a problem in rustc stable 1.2.

[2015-08-09 11:55] GuillaumeGomez commented on #22709
I'm working on `libstd/collections`.

[2015-08-09 13:16] arielb1 commented on #22968
minimized:

[code]

[2015-08-09 13:31] arielb1 commented on #27480
Much reduced:
[code]
Somehow `&mut &mut FragmentRepr` became `&mut FragmentRepr` (wut?)

[2015-08-09 14:14] AlisdairO commented on #24407
I'll have a go at E0193.

[2015-08-09 15:00] pierzchalski commented on #23717
I'm having similar issues to the original poster, in that I'm missing the same symbols (although I'm trying to fit into another build system, which might be my problem).

I've also got a missing ```__mulodi4``` symbol in libcore that's apparently provided by compiler-rt. This is despite having ```"no-compiler-rt" = true``` set in my target spec. Yet, I can compile libcore with ```--crate-type="sta

[2015-08-09 15:02] silene opened #27614 "Borrow checker overly conservative when assigning to a parent reference"
Consider the following simplified testcase. This is some Rust translation of the C idiom `while ((p = p->next))`.

    struct List { next: Option<Box<List>> }

    fn bar(p: &mut List) {
      let n =
        match (*p).next {
          Some (ref mut q) => &mut **q,
          None => p
        };
      bar(n);
    }

The code compiles fine. Unfortunately, it relies on a recursive call. Since Rust

[2015-08-09 15:10] silene commented on #27614
For the sake of completeness, I should mention that adding a trivial let statement is sufficient for the loop to compile, but that should not be needed in a ideal world.

[2015-08-09 15:19] arielb1 opened #27616 "borrowck is unsound in the presence of `&'static mut`s"
## STR

[code]

## Actual Result

memory corruption - 0wned is printed.

Thanks for alevy on IRC for reporting this.

[2015-08-09 15:21] arielb1 commented on #27614
@silene

This is well-known. If `p` had a destructor, it would be unsafe too.

[2015-08-09 15:51] rkruppe commented on #17976
This remains an issue, but only when explicitly giving `-C target-feature=-sse` (or `-sse2`). At some point between October 2014 and now, codegen must have changed to assume SSE2 by default on x86 (or at least on `i686-unknown-linux-gnu`), but one can explicitly disable it. I don't know if this was intentional but apparently it didn't cause enough problems for anyone to investigate and revert it.

[2015-08-09 16:39] AlisdairO commented on #24407
Taking E0194 also.

[2015-08-09 18:30] GuillaumeGomez commented on #24407
The E0404 has already be done (I didn't add these errors in the spreadsheet, you have to research for them before adding them, sorry about that ^^').

[2015-08-09 18:31] Manishearth opened #27619 "Intermittent with backtrace-debuginfo.rs"
http://buildbot.rust-lang.org/builders/auto-linux-32-opt/builds/6036/steps/test/logs/stdio from https://github.com/rust-lang/rust/pull/27617

[code]

[2015-08-09 18:48] AlisdairO commented on #24407
Ah yes, thanks for letting me know :)

[2015-08-09 19:14] AlisdairO commented on #24407
I'll also have a go at 122.

[2015-08-09 19:50] tbu- opened #27620 "btree: Reliance on structure layout"
The function `collections::btree::node::Node::as_slices_internal_mut` relies on structure layout of two relatively unrelated structures to be the same, which is considered a bad thing™:

    #[inline]
    pub fn as_slices_internal_mut<'b>(&'b mut self) -> MutNodeSlice<'b, K, V> {
        unsafe { mem::transmute(self.as_slices_internal()) }
    }

[2015-08-09 19:50] sylvestre opened #27621 "configure should make sure that LLVM FileCheck exists"
Trying to package rust 1.2 into Debian & Ubuntu, I get the following test failures:
[code]

I am using Debian LLVM 3.6.1 packages  (version 3.6.1-1)

[2015-08-09 19:54] Marwes commented on #21903
What is the status on trait bounds in type definitions? I worked around it the best I could for combine but it won't be as clean as it could be until bounds are allowed.

[2015-08-09 21:14] dotdash commented on #27621
`FileCheck` is in the `llvm-3.6.-tools` package.

I wonder whether we want a check in `configure` that makes `FileCheck` a requirement or one that disables the respective tests if it is not available.

[2015-08-09 22:04] TimNN commented on #27619
I think this needs to be reopened:

cc #27617, #27612, 27611

[2015-08-09 22:25] arielb1 commented on #23286
@liigo

No it doesn't

[2015-08-09 23:15] arielb1 commented on #23286
On the other hand, just calling `note_obligation_cause` after displaying the `report_on_unimplemented` error gives this nice error:

[code]

[2015-08-10 00:36] apasel422 commented on #27620
I'm working on this.

[2015-08-10 01:05] SBSTP opened #27623 "TcpStream fails to connect on pre-resolved socket address."
<short summary of the bug>

I tried this code:

[code]

I expected to see this happen: socket should connect just fine.

Instead, this happened: socket failed to connect with error : `Error { repr: Os { code: 101, message: "Network is unreachable" } }`

## Meta

`rustc --version --verbose`: (Using the ubuntu PPA for rust-nightly)
[code]

Backtrace:
[code]

[2015-08-10 01:10] SBSTP commented on #27623
I did some more digging and it seems to be an Ipv6 issue on my end.

[2015-08-10 01:10] #27623 closed

[2015-08-10 01:40] Diggsey commented on #23286
Here's a possible set of rules to follow which would fix the problem:
1) Is the !Sized type derived from a type parameter? If so, treat the type parameter as the source of the error.
2) Is the !Sized field accessible? If so, treat the field as the source of the error (as it does currently)
3) Otherwise, treat the entire type as an opaque, !Sized type which is the source of the error.

This avoids

[2015-08-10 02:20] retep998 commented on #27589
Also duplicate of https://github.com/rust-lang/rust/issues/16372

[2015-08-10 06:40] durka opened #27626 "extern crate foo with use self::foo doesn't work inside a function"
EDIT (@steveklabnik) see https://github.com/rust-lang/rust/issues/27626#issuecomment-263955318

This code fails and rustc doesn't tell you why:

[code]

([playpen](http://is.gd/xYyadr))

I think it should at least warn, assuming there is some reason why it can't do what it looks like it does.

[2015-08-10 06:57] tomjakubowski commented on #27626
It's not true that it does *nothing* at all ([playpen](https://gist.github.com/a6e76c188620817723dd))

[code]

[2015-08-10 07:02] durka commented on #27626
Huh. Fascinating. And you can use trait methods that way without importing the trait, as long as you use UFCS, which I thought was supposed to be impossible. So, I count this as another confusion caused by use paths being different from all other paths.

[2015-08-10 07:03] durka commented on #27626
Well, maybe I'll leave the issue open, in case there's any way to fix the diagnostic.

[2015-08-10 07:16] Gankra opened #27627 "Investigate dynamic Vec growth strategy for jemalloc hugs"
Facebook's alternative C++ STL uses a rather dynamic strategy to ostensibly be friendly for common workloads and jemalloc's size classes. While most of FBVector's stuff is hacking around the fact the move/copy constructors are Awful, this seems applicable to us.

See:
- https://github.com/facebook/folly/blob/fd0b3090840d742492793fe306185550f0300283/folly/FBVector.h#L1165-L1194
- https://github.com

[2015-08-10 07:23] sylvestre opened #27628 "loads.rs & stores.rs tests are failing with LLVM 3.6.1"
[code]

[2015-08-10 07:24] sylvestre commented on #27621
That was indeed the issue. I installed it and I have issue 27628 now.

[2015-08-10 07:32] lgvz opened #27629 "Float expressions confusing with trait method calls"
[code]

rustc 1.2.0 (082e47636 2015-08-03)
binary: rustc
commit-hash: 082e4763615bdbe7b4dd3dfd6fc2210b7773edf5
commit-date: 2015-08-03
host: x86_64-unknown-linux-gnu
release: 1.2.0

[2015-08-10 07:35] Gankro commented on #27627
Note that our strategy current boils down to:

`if cap == 0 { 4 } else { 2 * cap }`

See: http://doc.rust-lang.org/nightly/src/alloc/raw_vec.rs.html#138-214

Doubling in conjuction with with `mem::size_of::<T>() * cap < isize::MAX` as an invariant makes size computation basically as efficient as possible.

The `cap == 0` check needs to be made anyway to decide if to do an `alloc` or `realloc`.

Fo

[2015-08-10 08:21] tyoc213 opened #27631 "index out of range unexpected panic"
I tried this code (my little follow up learning rust and ogl)

[code]

[code]

It breaks the compiler. I get this

[code]

[2015-08-10 08:51] dotdash commented on #27628
Hrm, yeah, the IR format changed from 3.6 to 3.7. In this case, it's just the extra result type in the instructions.

Making that optional by changing

    // CHECK: [[VAR:%[0-9]+]] = load [4 x i8]*, [4 x i8]** %x

to something like

    // CHECK: [[VAR:%[0-9]+]] = load {{(\[4 x i8\]*, )?}}[4 x i8]** %x

should help with that. If you still have a build using LLVM 3.6 around, it'd be great if you c

[2015-08-10 08:55] sylvestre commented on #27628
I will give it a try.
I am not planning to switch to 3.7 right now as there is no official release yet.

[2015-08-10 09:30] TimNN commented on #25677
Looks like a dupe of #24346

[2015-08-10 10:29] Aaronepower opened #27632 "Add "How to build documentation" section."
It'd be helpful for people who want make documentation pull requests that aren't just typo's to be able to build the documentation, and preview it themselves. Adding a "How To" about how documentation for the  main repo should be built, would be helpful.

[2015-08-10 11:22] TimNN commented on #27619
I just tried building the master branch locally and it fails with the same error (compiling `i686-unknown-linux-gnu` on 64bit ubuntu).

[2015-08-10 11:51] TimNN commented on #27619
Looks like this was introduced in febdc3b201bcce1546c88e3be1b956d3f90d3059 (a5d33d8911d3ea691cb152bc582ee443ae3619da tests successfully for me) when @arielb1 accidentally pushed to master (see https://botbot.me/mozilla/rust-internals/2015-08-09/?msg=46787325&page=2; because of the minor change the consensus was to leave the commit as is).

[2015-08-10 12:03] bluss commented on #27619
I'm sorry that I didn't suggest more caution there, truly surprising breakage. Lesson learned.. everything must pass bors.

[2015-08-10 13:48] jdm commented on #25677
Yep.

[2015-08-10 13:48] #25677 closed

[2015-08-10 14:13] crumblingstatue commented on #27608
I have run into this as well.
[code]

[code]

[2015-08-10 14:17] TimNN commented on #27632
Building the documentation should be as simple as `make docs`, which however requires a full rust build which can take some time. Once a full build has been completed `make docs NO_REBUILD=1` should allow you to build the documentation without rebuilding the whole compiler. I don't think there currently is a way to build the docs without building the compiler.

[2015-08-10 14:43] TimNN commented on #27629
Integer literals exhibit the same behaviour:

[code]

[2015-08-10 14:56] barosl commented on #27619
That's quite intriguing! The one-line change seemed truly innocent to me. Any idea on how the breakage happened?

[2015-08-10 15:19] Havvy opened #27637 "Improve documentation of std.io.ErrorKind variants"
On the [std.io.ErrorKind](http://doc.rust-lang.org/nightly/std/io/enum.ErrorKind.html) documentation page, there's a list of error kinds along with descriptions of what the kinds mean.

I personally got confused by what the *new* variant `InvalidData` actually means from that description. How do I have operation parameters but "malformed" data? What even *is* a parameter in this case? I know a par

[2015-08-10 15:22] alexcrichton commented on #27541
I'm somewhat surprised that we've never run into this before, so I'd want to take some time to investigate what's going on and learn why this is different than dynamic library usage on other situations. Regardless, though, in https://github.com/rust-lang/rust/pull/27416 we'll gain the ability to tell the linker the exact set of symbols that must be exported from a dynamic library, so I suspect tha

[2015-08-10 15:28] barosl commented on #27629
This is also a bit surprising to me, but I searched the issue tracker and found #25564. So, it is a known problem and won't be fixed.

On the other hand, according to [the reference](https://doc.rust-lang.org/nightly/reference.html#number-literals), number literals do *not* start with minus signs in the first place. The minus sign in `-123.abs()` will never be a part of the number literal, so it w

[2015-08-10 15:35] nagisa commented on #27627
I remember hearing that grow factor of 1.5 is better than 2, but I don't remember where it was or whether it is confirmed in any way.

[2015-08-10 15:40] jdm commented on #27627
https://blog.mozilla.org/nnethercote/2014/11/04/please-grow-your-buffers-exponentially/ is useful reading.

[2015-08-10 15:44] Gankro commented on #27627
@nagisa this is the assertion of the second-last link in the OP -- however the last link found negligible gains for Rust in some benchmark.

May want to scour e.g. https://github.com/facebook/folly/blob/master/folly/test/FBVectorTestBenchmarks.cpp.h for interesting workloads.

[2015-08-10 15:49] Blackhole16 opened #27639 "Rust 'const iter' results in 'for'-errors"
having the following code
[code]
produces the following error:
[code]
Somehow defining the const 'iter' doesn't let rust  build the iterator needed by the for-loop. I know, that renaming the const fixes this issue, but can someone explain this behavior to be, please?

Kind Regards,
BH16

[2015-08-10 15:52] tbu- opened #27640 "Exporting a function as main does not work as expected"
mod foo {
        pub fn bar() {
        }
    }
    pub use foo::bar as main;

does not compile due to

    error: main function not found
    aborting due to previous error

The expected behaviour would be that the compiler treats the global symbol `main` which resolves to `foo::bar` as the main function.

[2015-08-10 16:00] TimNN commented on #27629
I just wrote such a lint, do you think it would be desirable available directly in rustc or should it be added to one of the external lint plugins?

Anyway, I'll think I'll just do a pull request and see what kind of response it gets. In the meantime, the results currently look like this:
[code]

[2015-08-10 16:18] #4865 closed

[2015-08-10 16:28] alexcrichton commented on #24788
@ishankhare07 yeah you can have something like:

[code]

[2015-08-10 16:32] alexcrichton commented on #27587
This was added recently for MUSL/MSVC, and for @steveklabnik's sake the docs would probably look something like:

* `target_env` - a cfg option provided by the compiler by default describing the runtime environment of the target platform. Some examples of this are "musl" for builds targeting the MUSL libc implementation, "msvc" for Windows builds targeting MSVC, and "gnu" frequently the rest of th

[2015-08-10 17:01] alexcrichton commented on #27599
I've tagged https://github.com/rust-lang/rust/pull/27582 with `beta-nominated` and `T-compiler`, so this should come up as part of normal triage now (closing in favor of that process)

[2015-08-10 17:01] #27599 closed

[2015-08-10 17:04] alexcrichton commented on #27598
There will inevitably be some set of code which runs between the decision to panic and then the check to see if we're already panicking, so is there something actionable we can do here? Was a bug uncovered or are there specific mitigation tactics you have in mind?

[2015-08-10 17:06] alexcrichton commented on #27606
You can watch https://github.com/rust-lang/rfcs/issues/349 for updates on this issue, so closing in favor of that.

[2015-08-10 17:06] #27606 closed

[2015-08-10 17:09] nikomatsakis commented on #27592
My branch for RFC rust-lang/rfcs#1214 reports the following error:

[code]

[2015-08-10 17:10] nikomatsakis commented on #27592
subissue of https://github.com/rust-lang/rust/issues/27579

[2015-08-10 17:11] alexcrichton commented on #27592
@TimNN note that the pretty expansion failing to compile is a bit of a red herring because it's not pretty printed correctly, if you wrap the `&mut Stream` part in parentheses then you get the same runtime error.

[2015-08-10 17:21] alexcrichton commented on #27614
This can be worked around by doing something like `let tmp = p` at the top of the loop and then re-assigning to `p` later on through `tmp`. Otherwise this should be covered by https://github.com/rust-lang/rfcs/issues/811, so closing in favor of that.

[2015-08-10 17:21] #27614 closed

[2015-08-10 17:26] arielb1 commented on #27592
Minimal example:
[code]

[2015-08-10 17:49] wthrowe commented on #27554
I've been experimenting with ways to fix this, and, oddly, there's a unit test checking that this doesn't work: https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/typeck-default-trait-impl-precedence.rs

The [OIBIT RFC](https://github.com/rust-lang/rfcs/blob/8fa971a670f9b9bc30f31bed30b9c3b679ea1ad3/text/0019-opt-in-builtin-traits.md#default-and-negative-impls) seems pretty clear t

[2015-08-10 18:18] arielb1 commented on #26656
Right. And this can be fixed (after @nikomatsakis's patch) by making `fn` a dropck type (potentially in the same as trait objects).

On the other hand, ordinary parametricity isn't really the important condition for dropck. Rust code is always perfectly parametric about lifetimes. One theoretical way to make dropck work with specialization is to change the "vtables" during destruction, C++-style,

[2015-08-10 18:33] boghison commented on #27606
@alexcrichton Yes, I looked at that, but there hasn't been anything new in a long time. Is there any way to do anything about this?

[2015-08-10 19:13] eefriedman commented on #27637
A quick search of the source code shows that it's generally used for input with an invalid encoding, e.g. when you use `read_line()` with a file that doesn't contain valid UTF-8.  Granted, the description could be better.

[2015-08-10 19:18] alexcrichton commented on #27608
This has been [filed before](https://github.com/rust-lang/rust/issues/25260#issuecomment-100583361) and the gist is that the definition of a "public signature" is that the type is marked `pub`, so it's considered a public type subject to the privacy rules. You can find more details in the [associated RFC](https://github.com/rust-lang/rfcs/blob/master/text/0136-no-privates-in-public.md)

[2015-08-10 19:18] #27608 closed

[2015-08-10 19:19] alexcrichton commented on #27619
Fixed in #27634

[2015-08-10 19:19] #27619 closed

[2015-08-10 19:23] lgvz commented on #27629
Ah of course, thanks y'all. I think as part of expression like `5.0-0.2f32.abs()` it's actually pretty clear, but not when there's nothing to subract from.

To clarify it I think even a space after the minus is enough because literals never have spaces:
`- 0.2f32.abs()`

[2015-08-10 19:29] TimNN commented on #27629
Ah, but in `5.0-0.2f32.abs()` it's a **binary** minus, we were talking about a **unary** minus earlier

[2015-08-10 19:33] lgvz commented on #27629
@TimNN sure. I wasn't thinking about the linter when I wrote that sentence, just about what's clear.

[2015-08-10 19:35] TimNN commented on #27629
I wasn't thinking about the linter either :) just that unary and binary minus can have different precedences

[2015-08-10 19:51] eefriedman commented on #27639
For loops are expanded roughly like this:

[code]

The use of the identifier "iter" in the expansion is somehow conflicting with the constant; a bug in the expansion code, I guess.

[2015-08-10 20:08] AlisdairO commented on #24407
I'll also take a look at E0248.

With this one I think we now have 3/4 of the diagnostics either assigned or merged :-)

[2015-08-10 20:15] GuillaumeGomez commented on #24407
@AlisdairO: A bit more. Thanks for your help !

[2015-08-10 20:16] eddyb commented on #27616
Maybe there should be a "strict outlives" requirement for reborrows for `&mut T`, effectively denying them for `&'static mut T`.
I wonder if that would break any code.

[2015-08-10 20:27] alexcrichton commented on #27629
As @barosl pointed out this is a duplicate of #25564 which [was closed](https://github.com/rust-lang/rust/issues/25564#issuecomment-103073839), so I'm going to close this as well. A lint can perhaps be discussed in a separate RFC issue.

[2015-08-10 20:27] #27629 closed

[2015-08-10 20:27] AlisdairO commented on #24407
@GuillaumeGomez it's been fun!

[2015-08-10 20:41] GuillaumeGomez commented on #24407
@AlisdairO: I hope so ! :D

[2015-08-10 20:50] steveklabnik commented on #27632
You can run `rustdoc` on any crate, so I often `rustdoc --test src/libcore/lib.rs` or whatever I'm working on. It works on markdown files too.

[2015-08-10 20:51] tomjakubowski commented on #27639
I think macro expansion isn't hygienic with respect to identifiers in patterns when the identifier is also a const in the containing context ([playpen](https://gist.github.com/da19c69a31d637eab63c)):

[code]

[code]

This is only an issue with consts; changing the `ouch` in main to a regular let binding works as expected.

[2015-08-10 20:53] tomjakubowski commented on #27639
Ah, that's probably because you can't use values of let bindings in patterns to begin with.

[2015-08-10 20:57] alexcrichton commented on #27543
@nagisa could you detail a bit more how you reproduced this?

* Were you also using Centos 6.6 like @mcpherrinm?
* Did you have the same results where a newer linker worked whereas an older one did not?
* Do you know if the OS has any open bugs about not initializing TLS data?

This may just be a case where we need to not use ELF-based TLS on older systems, but detecting that will not be easy unfo

[2015-08-10 21:21] Phyllostachys opened #27645 "ERROR:rbml::reader: failed to find block with tag 258 while compiling 1.2 for arm-unknown-linux-gnueabi"
While compiling rust 1.2.0 on a Ubuntu 15.04 virtualbox VM for arm-unknown-linux-gnueabi, I ran into a panic compiling src/librbml/libs.rs at line [395](https://github.com/rust-lang/rust/blob/master/src/librbml/lib.rs#L395).

My configuration and build commands:
[code]

My `rustc --version --verbose` output:
[code]
My backtrace (with some context):
[code]

[2015-08-10 21:29] rkruppe opened #27646 "x86 MSVC does not use SSE(2)"
@cmr noticed this on IRC. [On `i686-pc-windows-gnu`][mingw32] and in fact on all other `i686-*` triples (except iOS, which is technically called `i386-*`), a SSE2-capable microarchitecture is assumed. @dotdash said that this was copied from Clang. Not doing so on MSVC might be an accident, and a rather costly one.

[mingw32]: https://github.com/rust-lang/rust/blob/master/src/librustc_back/target/i

[2015-08-10 21:31] cmr commented on #27646
Specifically, in the target spec, we have: https://github.com/rust-lang/rust/blob/master/src/librustc_back/target/i686_pc_windows_msvc.rs#L15, unlike every other `i686` target which assumes `pentium4` (except for Mac, which assumes `yonah`, which is newer, so that's fine).

[2015-08-10 21:31] cmr commented on #27646
cc @alexcrichton, who wrote that code. Is this an intentional quirk of the MSVC toolchain?

[2015-08-10 21:38] alevy commented on #27616
I think there are two ways of looking at this issue:

1. `leak` is not sound, because it mints a static reference to a value that is not actually statically allocate (i.e. it _can_ be freed).

2. `leak` is fine in principal, but aliasing 'static borrows is not -- the attack @arielb1 points out seems to rely on aliasing, and tricking the compiler into thinking it's safe to `drop` the string's `Vec`

[2015-08-10 21:40] arielb1 commented on #27616
@alevy

You can basically do that with every `&'static mut` pointer to a non-trivial type (you can alias them and then reborrow to a shorter lifetime).

[2015-08-10 21:50] alexcrichton commented on #27646
Oh dear no this was not intentional at all, I just assumed everything was `i686`! Feel free to send a PR to update!

[2015-08-10 21:54] alevy commented on #27616
@arielb1 Can you mount the attack on a variable that's _actually_ statically allocated? i.e.:

[code]

Isn't this the reason static variables can't have `Drop`able types?

[2015-08-10 21:54] arielb1 commented on #27616
Note that this would also make a `thread_local` that doesn't require Sync unsafe (because of `RefCell`).

[2015-08-10 22:09] FuegoFro commented on #27541
The documentation and tutorials I saw suggested using a C++ shim in between the Java and Rust code, relying on `ndk-build` to statically link to the Rust library at compile time and export its corresponding symbols properly. But I do agree that it's odd that this doesn't seem to have been run into elsewhere, and I'm more than willing to entertain the possibility that I messed something up. Again,

[2015-08-10 22:10] nagisa commented on #27543
@alexcrichton I was using Fedora 14; since the package repositories are not working anymore, I didn’t bother updating anything, that includes the ld or ld-linux.so.2.

In cases https://github.com/rust-lang/rust/issues/27598 wasn’t hit, I could reliably reproduce the same issue and backtrace as reported in the [internals thread](https://users.rust-lang.org/t/illegal-instruction-when-i-run-main-rs/2

[2015-08-10 22:24] nagisa commented on #27598
My primary concern is use of `write!` (there’s also a FIXME in relevant locations), this could be fixed by either catching panics in blocks where `write!` is used or implementing a panic-less version of write for `on_panic` use.

As far as TLS goes, the only case it can panic is when the value impls Drop. Since Cells of bools are primitive values, using a simple non-std implementation of thread lo

[2015-08-10 22:59] dotdash commented on #27619
So, I have figured out what happened here (mostly) and it's pretty hilarious. For those who care here's the story...

The key fact here is that there a few calls to `begin_unwind`, and all of these that the string `explicit panic`. Usually LLVM recognizes this and specializes `begin_unwind` to have that value inline instead of getting it as an argument.

This means that the call to `begin_unwind`

[2015-08-10 23:07] alevy commented on #27616
A counter example to my question/claim that @arielb1 came up with on IRC:

[code]

So aliasing 'static references is just plain problematic, and clearly `leak` can't be done safely while aliasing is allowed. Does this raise a slightly broader question about whether 'static references should be aliasable from "safe" code? If aliasing 'static references is not allowed, can `leak` be safe?

[2015-08-11 00:30] jaredly commented on #23994
Instead of '_' it would be nice to have "integral type" (that language shows up elsewhere) and "float type"

[2015-08-11 00:41] tomjakubowski commented on #27632
It's worth noting that you need a (very) recent version of rustdoc to create docs from the source in master HEAD. It's often the case that even a nightly rustdoc is not new enough (although maybe it is, if you pass `--cfg stage0` or something...).

[2015-08-11 00:48] alexcrichton commented on #27541
If you compile just a standard C program without any special linker flags, is it accessible from the Android side of things? That's basically what all Rust code is, and it'd be good to know what the bare minimum is needed to get C working as we'd just do the same thing.

[2015-08-11 00:53] Aatch commented on #27640
Hmm, I'm not sure how I feel about this. I guess I'm leaning towards not supporting this, as the `main` function isn't really "exported" like re-exports are. Note that we do support main functions that aren't `fn main()` at the top level via the `#[main]` attribute.

[2015-08-11 01:17] #26458 closed

[2015-08-11 01:31] Aatch commented on #27639
It's likely because hygiene doesn't apply to item names and the names of constants are the only case where you can use a item as a pattern. The `iter` variable it uses *is* hygienic, its just the hygiene doesn't work here.

[2015-08-11 01:36] Nashenas88 opened #27654 "Note message after error recommends using inaccessible private fields."
The following code:

[code]

Outputs the following message:

[code]

However, correcting the code by following the note message causes the following output:

[code]

I would expect the private field to not be recommended.

[2015-08-11 01:57] steveklabnik commented on #27632
Huh, I've never ran into that as an issue.

[2015-08-11 02:24] zonyitoo opened #27656 "Confusing move behavior"
[code]

[2015-08-11 02:39] sfackler commented on #27656
This looks like a duplicate of #21232.

[2015-08-11 02:43] Aatch commented on #27656
Agreed. Closing as duplicate of #21232

[2015-08-11 02:43] #27656 closed

[2015-08-11 03:01] glaebhoerl commented on #27616
My intuition (and I suspect that of other people) was that global `static mut` items must be `unsafe` to access due to the combination of *two* reasons: (a) `&mut` references must *always* be unaliased, but (b) due to their global *scope*, it is impossible to enforce this for references to `static mut` items. With a function like `Box::leak()`, however, (b) is not the case, so the usual move-only

[2015-08-11 03:07] Aatch commented on #27654
That's unfortunate. We should be able filter out fields that aren't accessible due to privacy though.

[2015-08-11 03:42] Aatch commented on #27616
I agree with @eddyb that it's the re-borrow of `s` that's the issue. I guess that the `'static` lifetime on `alias` is what is throwing it off. It really should be moved, not reborrowed, in this case, as the borrow doesn't seem to prevent usage of `s` like it does with a non-static lifetime. If you wrap the `&'static mut String` in some struct so re-borrowing doesn't happen, the code fails to comp

[2015-08-11 03:47] #7196 closed

[2015-08-11 04:24] eefriedman commented on #26925
The bounds that `#[derive]` uses aren't conservative, they're just wrong.  Whether a type parameter implements the derived trait is in theory unrelated to whether a given field implements that trait.  The defaults just appear to work most of the time because in practice people use traits and field types where the approximation is reasonably accurate.

Unfortunately, the obvious fix (just bounding

[2015-08-11 05:13] Passw commented on #27645
have similar problem when build `rust`

[code]

[code]

[2015-08-11 05:53] Manishearth commented on #24407
It's probably much more than that -- I think I still need to update the spreadsheet for my librustc PR

[2015-08-11 05:55] Manishearth commented on #24407
Nevermind, someone seems to have helpfully updated the spreadsheet for me (or I did it and forgot :stuck_out_tongue_closed_eyes: )

[2015-08-11 06:09] alexcrichton commented on #27543
Oh it looks like I've actually already investigated this exact same bug before. As discovered in https://github.com/rust-lang/rust/issues/20440 we depend on binutils 2.22 for an apparent bugfix with TLS, so I'm going to close this as basically a linker bug we can't do much about

[2015-08-11 06:09] #27543 closed

[2015-08-11 07:13] silene commented on #27614
Yes, `let tmp = p` is what I meant by "adding a trivial let statement".

However, I somehow doubt rust-lang/rfcs#811 will be of any help here. Even if borrows were dataflow-sensitive, the example above would still not pass. Indeed, the issue is not with the None branch (the RFC would be helpful there), it is with the Some branch. The example really involves two `&mut` borrows on `p` at the same ti

[2015-08-11 07:39] mitaa commented on #19284
This seems resolved.

[2015-08-11 07:48] GuillaumeGomez commented on #24407
@Manishearth: I did. :p

[2015-08-11 08:59] antonkulaga commented on #19535
any progress on this?

[2015-08-11 10:35] Facens commented on #11562
Hi all, I represent www.unixstickers.com which already manufactures stickers with the most popular logos and designs. All the designs we use are licensed and we already have deals with most of the unix/sw/opensource projects. We have a lot of request for Rust stickers and we actually have the Rust stickers launch scheduled for this Thursday since from this topic –  when we checked – commercial use

[2015-08-11 11:03] TimNN commented on #27567
Alright, I fixed this pr to account for another pretty test which was added after I first open this pr, it should now build again.

[2015-08-11 11:10] AlisdairO commented on #24407
I'll give E0329 a go too.

[2015-08-11 11:15] jonas-schievink opened #27660 ""Expected operator, found `/`" when passing operator to macro"
[code]
gives:
[code]

The same thing happens for other operators as well as `.` and `;`.

[2015-08-11 12:10] ebassi commented on #2369
An important side effect of incremental recompilation that was not mentioned, and I think it's more important than building environment enablement, is enabling tooling (like IDEs) to perform operations like on-the-fly code analysis and prompt the user for warnings, code completion, etc.

[2015-08-11 12:15] Nashenas88 commented on #27654
@Aatch, from my conversations with @eddyb, this will be dependent on #12808. Currently there's no simple way to check privacy in the pass that generates this message.

[2015-08-11 12:30] antonkulaga opened #27661 "string interpolation"
things like:
[code]
are very akward and verbose. What about scala-like string interpolation?
[code]
or maybe even without "$" sign:
[code]

[2015-08-11 12:59] #27303 closed

[2015-08-11 12:59] #27646 closed

[2015-08-11 13:03] eddyb commented on #27654
@Nashenas88 IIRC, the privacy check is really simple, but the privacy checker pass needs to be ported to use the parent IDs found in the `ast_map` instead of computing its own.
After that, the algorithm could be extracted and made available in `rustc::middle::privacy`, for all passes to use (as long as they have access to an `ast_map`).

[2015-08-11 15:21] Stebalien commented on #27660
That's because rust currently needs to be told how to interpret the token:
[code]
dup of #27231

[2015-08-11 15:32] jonas-schievink commented on #27660
Ah, so these are caused by the same issue. The error message has definitely confused me there.

[2015-08-11 15:54] steveklabnik commented on #11562
The status is, we have a proposed draft we're working on, but we're not quite ready for it yet.

[2015-08-11 16:13] alexcrichton commented on #27661
Feature requests such as this start out on the rust-lang/rfcs repo instead of this one, so could you open an issue there instead if you'd like to pursue this?

[2015-08-11 16:13] #27661 closed

[2015-08-11 16:20] DenisKolodin commented on #27661
Some implementations needs high cost. Scala don't avoid it. But this way works:
[code]

[2015-08-11 16:40] Stebalien commented on #13534
The error now reads:
[code]
So this is probably fixed.

[2015-08-11 16:41] DenisKolodin commented on #27631
Look at this:
[code]

You have a mistake this string:
[code]
Use `Vec3::new` instead of `Vec::new`.

[2015-08-11 16:46] tyoc213 commented on #27631
That was the code like I have it in that moment but thanks (will love more examples of nalgebra thought), anyway I reported it because if you see the log

[code]

So I wrote this report as I did have the code in that moment and put all the "extra info".

[2015-08-11 17:05] enginespot commented on #20913
the bug occur again

[code]

rustc version
rustc 1.4.0-nightly (5aca49c69 2015-08-10)

cargo version
cargo 0.4.0-nightly (c033770 2015-08-09) (built 2015-08-09)

[2015-08-11 17:26] DenisKolodin commented on #27604
This's because type system of Rust is strict, and there isn't generic typeclass similar Num in Haskell with rules to coercions. But it's not bad, because implicit bugs give large problems in system programming, statistics and medical computations.

[code]

Maybe in the future releases Rust can recognize more complex relation cases like yours.

[2015-08-11 18:13] arielb1 commented on #27616
@Aatch

There's no problem with the reborrowing - it's just that borrowck ignores the borrow part of the reborrow for some reason - probably [this line](https://github.com/rust-lang/rust/blob/master/src/librustc_borrowck/borrowck/gather_loans/mod.rs#L365).

If no reborrow happens, the value is moved as it should.

[2015-08-11 18:13] edunham opened #27667 "Feedback on Rust Vec<T> documentation from a beginner"
Was: https://github.com/rust-lang/rust-www/issues/89, from @gnzlbg, submitted January 19th 2015.

--------------------------------------------------

Hi,

I just tried rust for the first time. From the description of the language, I decided to try a dynamic array first, since in my head this is the most important data structure in a low level language (e.g., for cache performance). So I decided to

[2015-08-11 18:28] arielb1 commented on #27616
@glaebhoerl

There is no `free(&'a mut T)` for *any* `'a`. It's just that `'static` values are required to be valid for the rest of the program's execution.

@alevy

`static mut` is known to be unsafe. I am worried about using some kind of `Mutex`/`RefCell`/`IVar` turning a `&'static Mutex<T>` into a `&'static mut T`.

[2015-08-11 18:39] glaebhoerl commented on #27616
@arielb1 I know. I was trying to respond to @alevy's suspicion that the problem lies somewhere around the (purported) fact that these `&'static mut` values obtained by `leak()`ing "can be freed", unlike "normal" ones which are actually references to `static` items somewhere in the program.

[2015-08-11 18:41] gsingh93 opened #27669 ""source trait is private" error with `writeln!` only when `println!` isn't used"
This error is related to https://github.com/rust-lang/rust/issues/22050, not sure if it's a dupe. Some of the following code snippets rely on the [term](https://crates.io/crates/term) library (but the issue seems to be in Rust, not `term`).

The following builds fine:

[code]

This gives an error:

[code]

Output:

[code]

This is the error mentioned in #22050. Importing `std::io::Write` fixes the

[2015-08-11 18:51] magnusulf opened #27671 "try!() on iterator element cause compiler crash"
When using the try!() macro, directly on an iterator element. The compiler crashes, and fails to tell what is wrong with the code.

I tried this code:

[code]

Cargo crashed when attempting to compile the code. Commenting that part out, or removing the try!() call, caused the code to compile, so I think it is safe to assume that the "try!(element)" part is what is causing the issue.

## Meta

`rus

[2015-08-11 19:16] jonas-schievink commented on #27671
Duplicate of #27004

[2015-08-11 19:20] #27671 closed

[2015-08-11 19:24] antonkulaga commented on #27661
@alexcrichton

thank you, I will move it to rfcs

Scala does it compile time, so runtime performance is the same as just string concatenation.

[code]
it is actually what I call "akward and verbose way". In Scala you can insert variables in a s"some text ${variableOrCodeThatReturns} another text ${variableOrCodeThatReturns2}" in an easy way and everywhere (not only inside print statement like here

[2015-08-11 19:32] ababo opened #27673 "Write::write_fmt causes page fault on a bare metal"
My experimental code crashes when running on bare x86_64-metal (page fault when IDT is not yet set), but works perfectly on aarch64.

By careful tracing I figured out that the cause of this page fault consists of corrupted address (much higher than 0x200_000, while only the first 2M page is yet mapped as 1:1) of function "f" passed as an argument to core::fmt::ArgumentV1::new() function:

[code]
A

[2015-08-11 20:14] wesleywiser commented on #27604
Hi, I think Rust's strict type system is awesome and I'm not complaining about that. I'm saying that the error **message** is bad because it doesn't tell the user what the actual problem is (which is that they are trying to perform operations on two different number types). I knew that Rust doesn't implicitly convert numbers but I was still briefly confused when I got this particular error from th

[2015-08-11 20:15] arielb1 opened #27675 "object-safe traits can have associated types with unchecked bounds"
## STR

[code]
### Result

[code]

I guess this should be banned.

cc @nikomatsakis

[2015-08-11 20:15] eddyb commented on #27616
@arielb1 My intuition was that the resulting `'static` lifetime carries no information that could associate it with a borrow, *unlike* other kinds of lifetimes.

[2015-08-11 20:36] alexcrichton commented on #27673
Do you have some code that exhibits this failure mode? Without a reproduction it's tough to see what's going on here.

[2015-08-11 20:39] ababo commented on #27673
Take code from [here](https://github.com/ababo/arwen-tmp).

[2015-08-11 20:46] ababo commented on #27673
Alternatively you can take more recent [project](https://cloud.githubusercontent.com/assets/503292/9210047/33997918-407a-11e5-86c8-5680bc910770.png) (the same thing actually, but with another configurer). Just change the extension from png to zip.

[2015-08-11 20:50] arielb1 commented on #27675
Related:

[code]

[2015-08-11 21:22] arielb1 commented on #27673
@ababo

Are you sure you have global variables set up properly in your image?

[2015-08-11 21:32] arielb1 commented on #27616
@eddyb

You can always borrow for the outermost function's lifetime - all borrows must intersect it.

[2015-08-11 21:42] nikomatsakis commented on #27675
Interesting. I agree that it should be illegal and we should amend WF relations for object types to check that the bindings cover the requirements of the trait -- the RFC was incomplete on this topic.

[2015-08-11 21:57] #27567 closed

[2015-08-11 23:43] huonw commented on #20063
It seems type parameter defaults may help to solve the issue @shepmaster met:

[code]

Without the default, both lines fail to compile, but with the `U = T` default `Just("foo") == Nothing` works, and with `T = U` as the default `Nothing == Just("foo")` works. It doesn't seem possible to get both to work (e.g. `T = U, U = T` doesn't work).

[2015-08-11 23:54] edunham commented on #25811
I updated the AWS security groups such that only traffic from the bastion will be accepted by the proxy and play.

[2015-08-11 23:54] #25811 closed

[2015-08-12 00:02] edunham commented on #19286
Update: We have the budget for this. Macstadium can only invoice Moz if we have over 10 minis, which we'd be close to between Rust and Servo. Otherwise, we can keep using credit cards then expensing it per-project.

I talked to several people from various companies at MacITConf last month, and confirmed my impression that Macstadium is the closest to AWS for OSX that we can currently get.

[2015-08-12 00:10] edunham commented on #19052
Yep, that was the revlink -- `git grep mozilla` in the rust-buildbot repo caught it.

[2015-08-12 00:13] edunham commented on #16178
@thehydroimpulse Could you link the PR from this issue to make it easier to track?

[2015-08-12 00:17] thehydroimpulse commented on #16178
@edunham It's a really old PR. #16374

[2015-08-12 00:26] edunham commented on #16178
aww, looks like it got stalled on insufficient time for cleanup. Thanks for the link!

[2015-08-12 00:57] #19052 closed

[2015-08-12 01:24] withoutboats commented on #20063
How frustrating (and interesting!). Is it possible to improve default type parameters to allow mutual identity defaults?

[2015-08-12 01:33] neurons opened #27681 "Update installing-rust.md with the newer release response"
Currently, when issuing rustc --version, it provides the updated version; namely, rustc 1.2.0 (082e47636 2015-08-03). Update the docs to reflect this.

[2015-08-12 03:06] samuelyao314 opened #27683 "Strange compile error"
My Code is:
[code]

[code]

When I change some code, it work.

[code]

[2015-08-12 03:11] #7970 closed

[2015-08-12 03:33] Havvy commented on #22501
So, what are the *hard* cases?  Is this bug still E-Easy?

[2015-08-12 04:52] diaphore opened #27685 "`rustdoc` panics on unicode character inside code-block"
`rustdoc` panics on HORIZONTAL ELLIPSIS inside a code-block ...
[code]
... while it accepts them otherwise :
[code]
[code]
[code]

[2015-08-12 04:59] JustAPerson opened #27686 "`--extern` broken for indirect dependencies"
alpha.rs
[code]

beta.rs:
[code]

gamma.rs
[code]

Now, run the following
[code]

You get the following error:
[code]

A simple fix to this is to add `extern crate alpha;` at the beginning of gamma.rs, but that should not be unnecessary.
Reproduces on nightly.

[2015-08-12 05:03] JustAPerson commented on #21831
No longer reproduces (on nightly at least, probably fixed a while ago).

[2015-08-12 05:03] #21831 closed

[2015-08-12 05:11] alexcrichton commented on #27685
This is because rustdoc treats code blocks as blocks of Rust code by default (for syntax highlighting), so the unicode character fails to tokenize (hence the error message)

If you add `text` after the three ticks it'll tell rustdoc it's not Rust code and it'll render just fine.

[2015-08-12 05:11] #27685 closed

[2015-08-12 05:15] diaphore commented on #27685
Ok, thanks !

[2015-08-12 05:49] yohanesu commented on #27277
When can we expect this to be usable from stable 1.2?

[2015-08-12 07:14] mitsuhiko commented on #26839
The same problem also happens with trying to use a public struct like a function.

[2015-08-12 07:53] vadimcn commented on #27438
So basically, with MSVC toolchain you are supposed to know whether you are going to be linking with a static lib or a dll version of the upstream library when compiling your crate.

Here's some ideas that come to my mind:
- Add attributes for marking up linking modes of extern crates (e.g. `#[link_dll] extern crate foo`).
Cons: since this wart is unique to MSVC toolchain, it is unlikely that crate

[2015-08-12 08:11] jroesch commented on #20063
You aren't currently allowed to forward declare defaults, we might be able to lift that requirement having both be equal should just give you this set of equalities:

[code]

[2015-08-12 09:26] pnkfelix opened #27692 "need more coercions for composed iterator types that have Fns"
Rust's problems with returning the complicated types that result from iterator composition are well-known.
- See e.g. https://github.com/rust-lang/rfcs/pull/105
- (with possible follow-on tracking at https://github.com/rust-lang/rfcs/issues/518 , though most of the conversation seems to be continuing on at https://github.com/rust-lang/rfcs/pull/105 )

The usual response is that for the short-term

[2015-08-12 09:27] pnkfelix commented on #27692
(my internet connectivity is limited and so I cannot readily download the relevant versions of Rust, but it seems like this was broken in this manner prior to the 1.0 release, and thus if this did work in the past, it probably has not ever worked in the stable channels.  Which is good since it means its not as high priority to fix it.  Still, its annoying.)

[2015-08-12 09:52] pnkfelix commented on #27692
(ah maybe this is actually an issue with the error messages not printing the implicit `for <'a>`  bindings?)

[2015-08-12 10:00] pnkfelix commented on #27692
This version, where I have added a manual cast `even as even_fn`, works:

[code]

so perhaps our implicit coercion rules just need to be extended to cover something here?

[2015-08-12 10:10] jroesch commented on #20063
I'm up late working on a paper and this thought came to mind, you can encode a cute little trait trick in order to apply a secondary default:

[code]

[2015-08-12 10:14] withoutboats commented on #27683
This is correct behavior.

`line` is of type `Result<String>`, `unwrap()` moves `line` and returns an owned `String`. `trim()` takes a reference to that `String` and returns a reference to it (an `&str`). But that unbound String is dropped when the `lines.unwrap.trim();` expression ends, because it has not been bound to a variable. You cannot take a reference to a value unless that value is bound

[2015-08-12 12:26] bluss commented on #27692
I was reminded recently that while this is the solution which requires the least boilerplate, using fn pointers can lead to some overhead if the function call can not be inlined, and it often can't.

[2015-08-12 12:48] skade opened #27694 "OS X package is not signed"
This possibly applies to other platforms as well.

<img width="532" alt="screen shot 2015-08-12 at 14 35 56" src="https://cloud.githubusercontent.com/assets/47542/9224034/b2a452de-40ff-11e5-88c0-fd3b9f38d930.png">

Currently, the Rust installer comes up with this nice warning, making the user navigate to a settings pane and acknowledge to really start the installer. Administrators can also decide

[2015-08-12 13:13] arielb1 commented on #27604
@wesleywiser

The problem is that you are dealing with integer literal variables (they can be inferred into an integer of unknown signedness and size - `u32`,`i32`,`u8`,`usize`, etc.) and these display as `_`.

If you provided the literal's type, you would get an error like:
[code]

[2015-08-12 13:26] wesleywiser commented on #27604
@arielb1 Thanks for the info! I just wanted to raise the issue because it seems like performing these kinds of operations on numbers is something a beginner is likely to do and if they try to do something like I did, the error message can be confusing.

[2015-08-12 13:28] nagisa commented on #27694
All our releases and their checksums, including OS X ones, are signed with PGP signature already.

I’m not disagreeing they could also be signed using whatever method Apple for their OSes, but I'm not convinced $100/$300 is a fair price for getting rid of this dialog. OTOH we probably could piggy back on the same account used to generate signatures for Firefox.

[2015-08-12 13:28] malbarbo opened #27695 "Unresolved import error on struct vs unite-like struct"
[code]

The code compile with first definition of A, but not the second.

This may be related to #26873.

[2015-08-12 13:32] skade commented on #27694
@nagisa If that is your issue, point me to a form where I can chip in 100$ yearly.

[2015-08-12 13:50] mitaa commented on #27695
This compiles on playpen nightly.

[2015-08-12 14:02] GuillaumeGomez commented on #22506
Should be closed since it has been fixed.

[2015-08-12 14:15] GuillaumeGomez commented on #22709
I take `libstd/sys/common/net2.rs`.

[2015-08-12 14:47] nathankleyn commented on #27637
I thought about tackling this as a nice easy doc change and a foray into contributing, but when I saw the usages of `InvalidInput` and `InvalidData` there really isn't definitive differentiation to go on.

I did a code-search on GitHub for usages of the two:

* [Here's the usages of `InvalidInput`](https://github.com/search?q=InvalidInput+language%3Arust&ref=searchresults&type=Code&utf8=%E2%9C%93)

[2015-08-12 15:28] nathankleyn commented on #27637
cc/ @steveklabnik Not sure if you can shed some light on what these are meant to be.

[2015-08-12 15:44] #22506 closed

[2015-08-12 15:47] nathankleyn commented on #24407
I'm happy to take on `E0385` as a first stab at a contribution! :smiley:

[2015-08-12 15:49] alexcrichton commented on #27686
This is currently working as intended, the `--extern` flags only work for specifying the immediate set of dependencies (those listed in `extern crate`), and transitive dependencies must be found through `-L` paths. You can use `-L dependency=...` to make sure that only transitive dependencies are found in those paths.

[2015-08-12 15:50] Manishearth commented on #24407
Great! Let us know if you need any help!

[2015-08-12 16:55] frewsxcv opened #27697 "Adding Deref impl affects lifetime bounds of other methods"
From https://users.rust-lang.org/t/does-implementing-deref-affect-the-lifetime-bounds-of-all-other-methods/

---

Code: ~~http://is.gd/AkyE699~~ http://is.gd/AkyE69

If the Deref is removed, the code compiles. Presumably, the inclusion of the Deref implementation on the trait object causes the lifetime bounds to change on the do_something method.

[2015-08-12 17:10] alexcrichton commented on #20861
I believe that this has basically been done to the fullest extent possible, so yay!

[2015-08-12 17:10] #20861 closed

[2015-08-12 17:11] alexcrichton commented on #14383
`~str` is no longer a type and I think our bases are pretty well covered here today, so closing

[2015-08-12 17:11] #14383 closed

[2015-08-12 17:14] alexcrichton commented on #24292
This was deprecated from the standard library and will soon be removed, so closing.

[2015-08-12 17:14] #24292 closed

[2015-08-12 17:14] alexcrichton opened #27700 "Tracking issue for allocation APIs"
## Current status

Final incarnation of `std::heap` is being proposed in https://github.com/rust-lang/rfcs/pull/1974, hopefully for stabilization thereafter.

Open questions for stabilization are:

* Is it required to deallocate with the *exact* size that you allocate with? With the `usable_size` business we may wish to allow, for example, that you if you allocate with `(size, align)` you must dea

[2015-08-12 17:15] alexcrichton commented on #27621
Addressed in https://github.com/rust-lang/rust/pull/27630

[2015-08-12 17:15] #27621 closed

[2015-08-12 17:20] alexcrichton opened #27701 "Tracking issue for libcore + no_std stabilization"
This issue is intended to represent the outstanding issues for stabilizing libcore and allowing its usage on stable Rust. There are a number of features currently associated with libcore:

* `core`
* `core_char_ext`
* `core_prelude`
* `core_slice_ext`
* `core_str_ext`

(note that `core_float` will be handled in a separate issue)

The design of libcore largely mirrors that of the standard library (

[2015-08-12 17:24] alexcrichton opened #27702 "Tracking issue for f32/f64 support in libcore"
This issue is largely targeted at tracking the state of `core_float` in libcore, but it raises the question of how much floating point support should be in libcore. Right now we don't explicitly depend on many external functions, but a number of functions are exposed as bindings to LLVM intrinsics. We do depend on symbols like `fmod` and `fmodf` for floating point modulus. Almost all LLVM intrinsi

[2015-08-12 17:26] alexcrichton opened #27703 "Tracking issue for stabilizing randomness"
Long ago we had `std::rand` and nowadays we have `extern crate rand`. This is such core functionality it likely wants to move back into the standard library at some point, and in the meantime this issue serves as a tracking issue for the `rand` feature in the standard library.

The process for adding this functionality to the standard library will likely look like something along the lines of http

[2015-08-12 17:27] alexcrichton opened #27704 "Tracking issue for OsStr conversions"
This is a tracking issue for stabilizing the `convert` feature in the standard library, which is primarily associated with converting `OsStr` and `OsString` to byte or string types. Due to the length of discussions on #27390 and #27657 this will likely required an RFC to move forward (I hope to write one soon)

[2015-08-12 17:31] alexcrichton opened #27705 "Tracking issue for DNS in std::net"
This is a tracking issue for the `lookup_addr` and `lookup_host` unstable features in the standard library. These are currently the only exposed support for DNS as a public interface. Functions like `TcpStream::connect` already expose the ability to resolve names via passing a string, but this cannot be done programmatically currently.

There are a number of thorny issues to deal with here:
- Is c

[2015-08-12 17:33] alexcrichton opened #27706 "Tracking issue for std::fs::canonicalize"
This is a tracking issue for the unstable `fs_canonicalize` feature in the standard library. There are a number of reasons it is not currently stable:

* The implementation on Unix isn't technically memory safe.
* The implementation on Windows returns some quite odd paths which aren't always accepted by all tools.
* The guarantees about what "canonical" means haven't been well documented and audit

[2015-08-12 17:36] alexcrichton opened #27707 "Tracking issue for fs::walk_dir"
This is a tracking issue for the `fs_walk` unstable feature in the standard library. Some of the open questions currently are:

* There are many many ways to walk a directory, and there probably wants to be something like a `WalkBuilder` structure.
* The current walking strategy holds open a lot of file descriptors - #23715
* The default walking strategy has not been well audited for all manner of

[2015-08-12 17:37] aturon opened #27708 "Tracking issue for `as_unsafe_cell` stabilization"
The `Cell::as_unsafe_cell` and `RefCell::as_unsafe_cell` methods return a reference to the underlying `UnsafeCell` in both cases.

It's not clear what the use cases are for these methods and whether they can be achieved in some alternative way. If you are using these methods, please leave a comment with your use case.

[2015-08-12 17:38] alexcrichton opened #27709 "Tracking issue for Ipv{4,6}Addr convenience methods"
This is a tracking issue for the unstable `ip` feature in the standard library. There are a large number of inspection methods on the various IP address types, almost none of which are stable except for the bare bones accessors.

The only real question here is what set of these we wish to stabilize, and how featureful we want the bindings to be. We could go crazy and do all sorts of inspection, or

[2015-08-12 17:38] aturon commented on #27708
cc @kmcallister, I think you may have employed these methods in Servo?

[2015-08-12 17:44] alexcrichton opened #27710 "Tracking issue for fs::DirBuilder"
This is a tracking issue for the unstable `dir_builder` feature in the standard library. The current purpose of this is to provide access to platform-specific options such as modes on Unix or security attributes on Windows. The current `create_dir` and `create_dir_all` APIs are built on top of this API right now.

There aren't too many open questions other than bikeshedding things like naming and

[2015-08-12 17:45] aturon opened #27711 "Tracking issue for `drain` stabilization"
The `drain` method was originally proposed in [collections reform 2](https://github.com/rust-lang/rfcs/pull/509) and then adjusted in a [follow-up RFC](https://github.com/rust-lang/rfcs/pull/574). The main remaining question for the API is the traits it uses to accept various kinds of ranges, which potentially interacts with [inclusive ranges](https://github.com/rust-lang/rfcs/pull/1192).

cc @blu

[2015-08-12 17:47] aturon opened #27712 "Tracking issue for `fs_mode` stabilization"
The `fs_mode` feature refers to platform-specific constants for file access modes exported in `std::os`. While these constants are OK as-is, we don't have a clear overall vision for which constants should be included in `std::os` or how they should be organized. Before we stabilize, we should establish such a vision.

cc @alexcrichton

[2015-08-12 17:48] alexcrichton opened #27713 "Tracking issue for custom hashers in HashMap"
This is a tracking issue for the unstable `hashmap_hasher` feature in the standard library. This provides the ability to create a HashMap with a custom hashing implementation that abides by the `HashState` trait. This has already been used quite a bit in the compiler itself as well as in Servo I believe.

Some notable points to consider:

* Is an extra `HashState` trait really necessary?
* Is the

[2015-08-12 17:50] jdm commented on #27708
We do use the methods for RefCell: http://mxr.mozilla.org/servo/search?string=as_unsafe_cell . We appear to do so in cases where a GC could occur at virtually any time and the there may be outstanding borrows of fields that need to be traced. Similarly, it gets used for cases when we want to ensure certain resources are cleaned up if a panic occurs but there may be outstanding borrows that would p

[2015-08-12 17:50] aturon opened #27714 "Tracking issue for `str_utf16` stabilization"
The `str_utf16` feature tracks APIs like `str::utf16_units` that support utf16 encoding. These APIs are working well today, but it would be good to have a clear picture of the final state of APIs we'd like to have for various string encodings in `std`, and how that relates to other unicode support crates.

cc @SimonSapin

[2015-08-12 17:51] alexcrichton opened #27715 "Tracking issue for Scoped TLS"
This is a tracking issue for the unstable `scoped_tls` feature in the standard library. The known open questions about this API are:

* Is it useful enough to be stabilized? It doesn't look like there's been much usage yet.
* Currently the API only accepts sized type parameters, but it in theory could accept more (although the OS doesn't technically support this). A decision should be made either

[2015-08-12 17:53] Gankro commented on #27711
Current opinion: stabilize Vec and HashMap with Vec using an unstable trait -- most just want to be able to call `drain(..)` and shouldn't care about the trait as long as it will always accept certain concrete args.

VecDeque is using the V1 API still (@mystor was working on this)

BTree needs serious work in relation to the range API

LinkedList is very "whatever" for me. `drain` is basically "do

[2015-08-12 17:53] aturon opened #27716 "Tracking issue for `thread_local_state` stabilization"
This feature allows you to query a thread-local variable for its state: http://static.rust-lang.org/doc/master/std/thread/enum.LocalKeyState.html, which will then tell you what may happen if you try to read from the variable.

The functionality is somewhat niche, but occasionally essential. The APIs appear to be in pretty decent shape as-is.

cc @alexcrichton

[2015-08-12 17:55] alexcrichton opened #27717 "Tracking issue for static synchronization primitives"
This is a tracking issue for the unstable `static_mutex`, `static_condvar`, and `static_rwlock` features in the standard library. Each of these represents a separate `StaticFoo` type (next to the type `Foo`) to provide a synchronization primitive that can be constructed in a static context. This unfortunately has a few drawbacks:

* `StaticMutex` does not have a type parameter for the data that it

[2015-08-12 17:55] aturon opened #27718 "Tracking issue for `Rc`/`Arc` stabilization"
There are a number of unstable features related to `Rc` and `Arc`, including both weak references and uniqueness. An [RFC to remove weak pointers](https://github.com/rust-lang/rfcs/pull/1232) failed, and the current consensus seems to be to stabilize these APIs after nailing down more precise semantics for uniqueness.

cc @Gankro

[2015-08-12 17:57] aturon opened #27719 "Tracking issue for `recover` stabilization"
The `recover` function is able, on a single thread, to recover from a panic. There are numerous controversies around this API, including the bounds it applies to its closure, its safety, and its location within `std`. An [open RFC](https://github.com/rust-lang/rfcs/pull/1236) seeks to settle these issues and open the door to stabilization.

cc @alexcrichton

[2015-08-12 17:57] alexcrichton opened #27720 "Tracking issue for OpenOptionsExt on Windows"
This is a tracking issue for the unstable `open_options_ext` feature in the standard library. Currently Unix has a stable extension trait for setting the mode of a file but Windows has not stabilized any of its functionality. The current set of methods on the Windows extension trait just provide the ability to override any of the arguments to `CreateFile`.

The open questions here are:

* Is the n

[2015-08-12 17:59] alexcrichton opened #27721 "Tracking issue for string patterns"
This is a tracking issue for the unstable `pattern` feature in the standard library. We have many APIs which support the ability to search with any number of patterns generically within a string (e.g. substrings, characters, closures, etc), but implementing your own pattern (e.g. a regex) is not stable. It would be nice if these implementations could indeed be stable!

Some open questions are:

*

[2015-08-12 18:00] aturon opened #27722 "Tracking issue for `path_prefix` stabilization"
The `Path::prefix` method allows you to extract a `Prefix` from a path, if any -- which is relevant only on Windows, where the prefix gives e.g. volume information.

It's already possible to get this information through the `components` iterator, so it's not clear whether this additional convenience is worth exposing.

cc @retep998

[2015-08-12 18:02] arielb1 commented on #27683
This is just how rvalue lifetimes work. `line.unwrap()` is a temporary, which lives only as long as the expression.

[2015-08-12 18:02] #27683 closed

[2015-08-12 18:03] alexcrichton opened #27724 "Tracking issue for {min,max} on iterators"
This is a tracking issue for the unstable `iter_cmp` feature in the standard library. This is the ability to get the min or max elements out of an iterator via a custom closure for comparisons.

Some open questions are:

* Is `_by` the right suffix here? The stable `<[T]>::sort_by` function has a different signature than these two functions, so these may want to change suffix to something like `mi

[2015-08-12 18:03] aturon opened #27725 "Tracking issue for `path_ext` stabilization"
The `PathExt` trait provides a number of methods on paths that conveniently connect it to the `std::fs` API.

While these methods are largely fine, there is some question as to how many of them there should be; the rationale for the exact selection of methods is currently a bit muddy.

Given that the trait can grow over time with default methods, it may be worth stabilizing the portion we feel con

[2015-08-12 18:06] alexcrichton opened #27726 "Tracking issue for access to Formatter alignment"
Tracking issue for the `fmt_flags_align` feature, which is [`fmt::Formatter::align`](https://doc.rust-lang.org/nightly/std/fmt/struct.Formatter.html#method.align) and the associated enum.

[2015-08-12 18:06] aturon opened #27727 "Tracking issue for `path_components_peek` stabilization"
The `path::Components::peek` method allows you to peek at the next component in the iterator without actually consuming it. There's no strong reason for it to remain unstable, except that the conventions around such methods are a bit unclear.

[2015-08-12 18:08] alexcrichton opened #27728 "Tracking issue for formatting with a radix"
This is a tracking issue for the unstable `fmt_radix` feature in the standard library. These functions provide the ability to format a number in an arbitrary radix. Note that base 2, 8, and 10, and 16 are already supported via various formatting flags.

Needs a decision about whether this functionality should even be in the standard library, and it will perhaps want a different interface as well.

[2015-08-12 18:08] aturon opened #27729 "Tracking issue for `as_slice` stabilization"
Over time, the way that you convert e.g. a vector to a slice has transformed repeatedly. With deref coercions, it's usually implicit, but there are still some cases where you need to do it explicitly.

The `as_slice` method follows the usual conversion conventions, but has been somewhat controversial due to offering "yet another way" to perform the conversion (in addition to `as_ref` and `&*`).

[2015-08-12 18:09] alexcrichton commented on #27725
This trait was also [recently tweaked](https://github.com/rust-lang/rfcs/blob/master/text/1044-io-fs-2.1.md#tweaking-pathext) to have a bit of a more coherent design, so we may just want to decide whether that strategy is appropriate or not.

[2015-08-12 18:11] aturon commented on #27729
FWIW, "there is only one way to do it" has never been a hard design rule for `std`, especially when it comes to convenience methods. I personally think there is little cost in having additional conversion methods that follow a strong convention.

[2015-08-12 18:13] aturon opened #27730 "Tracking issue for `NonZero`/`Unique`/`Shared` stabilization"
We currently have three internal types, `NonZero`, `Unique` and `Shared`, that are very useful when working with unsafe Rust code. Ultimately, the hope is to have a clear vision for semi-high-level, but unsafe programming using types like these.

None of the current APIs have gone through the RFC process, and a comprehensive RFC should be written before any stabilization is done.

cc @Gankro

[2015-08-12 18:15] alexcrichton opened #27731 "Tracking issue for SIMD support"
This is a tracking issue for the unstable `core_simd` feature in the standard library. SIMD support is quite a thorny topic, but it's largely covered in https://github.com/rust-lang/rfcs/pull/1199, being implemented in https://github.com/rust-lang/rust/pull/27169, and @huonw will be creating an external crate for full-fledged SIMD support.

cc @huonw

[2015-08-12 18:16] aturon opened #27732 "Tracking issue for DST coercions (coerce_unsized, unsize) stabilization"
[DST coercions](https://github.com/rust-lang/rfcs/pull/982) were the last part of DST to land, and are still undergoing [some changes](https://github.com/rust-lang/rfcs/pull/1234).

Before stabilization, at the very least the API surface here needs some scrutiny from the libs team for naming and other conventions issues.

cc @nrc @Gankro

## Things to consider prior to stabilization

* Interaction

[2015-08-12 18:17] aturon opened #27733 "Tracking issue for `borrow_state` stabilization"
The `RefCell` API offers a way to determine the state of the borrow, to avoid panics on additional borrowing. It's not clear how useful this API is in practice, but it's otherwise ready for stabilization.

-----

**EDIT:** @KodrAus

Before stabilization:
- [ ] Add a concrete, motivating example to the documentation https://github.com/rust-lang/rust/pull/59211#issuecomment-474611456

[2015-08-12 18:17] alexcrichton opened #27734 "Tracking issue for concrete errors in the standard library"
This is a tracking issue for the unstable `str_parse_error` and `utf8_error` features in the standard library. Some various small error types popped up once `FromStr` had an associated error type and haven't been considered too closely for stabilization.

Some thoughts are:

* Are the names of these types appropriate?
* Are we covered in terms of future extensibility?
* Are the relevant portions o

[2015-08-12 18:18] Stebalien commented on #27697
Code: http://is.gd/AkyE69

[2015-08-12 18:19] aturon opened #27735 "Tracking issue for `IntoCow` stabilization"
The `IntoCow` trait is a custom conversion trait for working with `Cow`; the custom nature is needed to deal with trait coherence issues.

Ultimately, the hope was that this trait could support ergonomic "ownership polymorphism" for things like the `entry` API. That's not the case today due to coherence limitations, but may become possible with [impl specialization](https://github.com/rust-lang/rf

[2015-08-12 18:20] alexcrichton opened #27736 "Tracking issue for f{32,64}::from_str_radix"
This is a tracking issue for the unstable `float_from_str_radix` feature in the standard library. These functions I believe were added to mirror the functionality on integers, but it's unclear what these functions are actually doing in terms of radixes. There's also a [discussion on internals](https://internals.rust-lang.org/t/deprecate-f-32-64-from-str-radix/2405) bringing up points about how the

[2015-08-12 18:21] aturon opened #27737 "Tracking issue for `iter_order` stabilization"
The `iter` module has an `order` submodule for performing comparisons on iterators. Ideally, these would instead just be implementations of e.g. the `PartialOrd` trait, but that trait passes by shared reference, and iterators must be mutated to be compared.

It'd be good to explore this design space, and perhaps write an RFC, before stabilization.

cc @bluss

[2015-08-12 18:22] alexcrichton opened #27738 "Tracking issue for reentrant mutexes"
This is a tracking issue for the unstable `reentrant_mutex` feature in the standard library. Currently this flavor of mutex is not exposed at all in the standard library (it's private in the `sys`module), but it's an often-useful form of a mutex.

We should decide whether or not the standard library will expose this flavor of mutex and then ensure that the API is audited for conventions, naming, a

[2015-08-12 18:23] aturon opened #27739 "Tracking issue for `Zero`/`One`/`iter_arith` stabilization"
We currently have `Zero` and `One` traits that are meant to work with `Add` and `Mul` and support iterator operations like `sum`, as well as the current `step_by` API.

It would be good to have a more comprehensive vision for this kind of trait before stabilization; an RFC would be ideal.

[2015-08-12 18:25] Gankro commented on #27730
I'm not a fan of NonZero. I would like a more robust system that can hook into the things described in https://github.com/rust-lang/rfcs/issues/1230.

Unique is great, but I would like to rename it to Owned to better reflect what its actual semantics are (e.g. it's fine to have other pointers into it just like it's fine for Box).

I would like to add a Shared equivalent for Rc/Arc to use. This is

[2015-08-12 18:25] alexcrichton opened #27740 "Tracking issue for std::slice::bytes"
This is a tracking issue for the unstable `slice_bytes` feature in the standard library. This module has some various helper methods for dealing with blocks of bytes in an efficient fashion, but they seem particularly one-off and not necessarily fitting in with the rest of the design of the standard library.

Some drawbacks are:

* A one-off trait `MutableByteVector` is used to give slices the `se

[2015-08-12 18:26] aturon opened #27741 "Tracking issue for `step_by` stabilization"
Update (@SimonSapin): this is now the tracking issue for an iterator adaptor based on `Iterator::nth`:

[code]

The `Step` trait used for making ranges iterators is now tracked at https://github.com/rust-lang/rust/issues/42168.

Original issue:

----

The `step_by` method makes it possible to step through ranges with arbitrary-sized steps. There are several issues that need to be addressed before

[2015-08-12 18:26] aturon commented on #27741
Nominating for P-High.

[2015-08-12 18:27] alexcrichton opened #27742 "Tracking issue for slice_splits"
This is a tracking issue for the unstable `slice_splits` feature in the standard library. These functions were added in [RFC 1058](https://github.com/rust-lang/rfcs/pull/1058) and implemented in https://github.com/rust-lang/rust/pull/26966.

These probably just need to bake for awhile and get a decision on whether they should be stable or not.

cc @kballard, @nagisa

[2015-08-12 18:27] cybergeek94 commented on #27718
Please consider #24789. Dunno if it belongs here or in the RFCs repo since it's a semantics change that wouldn't break much.

[2015-08-12 18:29] alexcrichton opened #27743 "Tracking issue for str::match_indices"
This is a tracking issue for the unstable `str_match_indices` feature in the standard library. This function should largely be good to go except for the note indicating that the returned iterator should probably yield different types of values to stay consistent with other methods.

cc @Kimundi

[2015-08-12 18:30] aturon opened #27744 "Tracking issue for `push_all` stabilization"
The `Vec::push_all` method special-cases pushing a slice onto a vector, and historically has performed much better than using `extend` (depending on how LLVM optimizations are working out).

We need to offer a method with maximal performance somehow, but ideally this would come from `extend`, either through optimization or through [impl specialization](https://github.com/rust-lang/rfcs/pull/1210).

[2015-08-12 18:32] aturon opened #27745 "Tracking issue for type_id stabilization"
The method `get_type_id` in `Any` is intended to support reflection. It's currently unstable in favor of using an associated constant instead.

[2015-08-12 18:33] rkruppe commented on #27702
Is there a reason to move formatting support out of core, beyond "it may require float intrinsics that will be moved out of core"? Because AFAIK the current code doesn't require anything like that, and I see no reason why it should require that in the future. Same goes for parsing.

[2015-08-12 18:34] jonas-schievink commented on #27744
cc #26902

[2015-08-12 18:34] aturon opened #27746 "Tracking issue for `cell_extras` stabilization"
The `Ref` type connected to `RefCell` supports some methods for changing the type of the reference, such as `map` and `filter_map`. While `map` is clearly fully general, `filter_map` is somewhat of a special case hooked into `Option`. To make it fully general would likely require HKT. We need an overall plan before stabilization.

[2015-08-12 18:34] steveklabnik commented on #27695
Yes, it fails on stable and beta, but works on nightly. Therefore, I'm tempted to close it, as it's seemingly already fixed, but let's see if anyone else can weigh in on the exact details.

[2015-08-12 18:34] aturon commented on #27746
cc @SimonSapin

[2015-08-12 18:35] Gankro commented on #27718
Current plan:

* Stabilize weak pointers (Do we want it as a normal method? General convention is static methods -- but it's symmetric to `clone`)

* Stabilize `try_unwrap` only looking at strong count (but properly considering weak count to clean up)

* Stabilize `make_unique` which clones if `strong != 1 || weak != 0`

* Stabilize `get_mut` which only succeeds if `strong == 1 && weak == 0`

* *d

[2015-08-12 18:35] Gankro commented on #27718
CC @SimonSapin

[2015-08-12 18:37] aturon opened #27747 "Tracking issue for `slice_concat_ext` stabilization"
The [SliceConcatExt](http://static.rust-lang.org/doc/master/std/slice/trait.SliceConcatExt.html) trait offers methods `concat` and `join` on slices. For somewhat technical reasons, it wasn't possible to make these inherent methods.

The methods themselves are stable, but the trait isn't. However, since the trait is in the prelude, the methods are usable in stable today.

Ideally, the methods would

[2015-08-12 18:37] Gankro commented on #27718
Oh and maybe bikeshed naming? They seem perfectly cromulant to me, though `make_unique` has the annoying notion of uniqueness. `make_mut` is a potential alternative, hitting at the CoW semantics.

[2015-08-12 18:38] Gankro commented on #27744
Unless specialization lands soon, I'm tempted to just stabilize this as "this will be deprecated when it's no longer necessary".

[2015-08-12 18:39] aturon opened #27748 "Tracking issue for `wait_timeout_with` stabilization"
The [`wait_timeout_with` method](http://static.rust-lang.org/doc/master/std/sync/struct.Condvar.html#method.wait_timeout_with) allows you to wait on a `CondVar` with a particular timeout, but also to cancel waiting based on a closure you pass in.

It's not clear if this API is broadly useful enough to go in `std`, or whether this is its ideal form.

cc @sfackler

[2015-08-12 18:39] alexcrichton commented on #27717
cc @eddyb

[2015-08-12 18:41] Gankro commented on #27718
I am currently drafting a PR to this affect.

[2015-08-12 18:41] aturon opened #27749 "Tracking issue for `Reflect` stabilization"
The `Reflect` trait is currently unstable. It was intended to narrow the use of things like `Any` for runtime introspection, to help retain parametricity properties. However, with [impl specialization](https://github.com/rust-lang/rfcs/pull/1210) these properties would go away anyhow, so it's not clear how useful the trait would be.

Thus, stabilization should wait at least until specialization is

[2015-08-12 18:45] aturon opened #27750 "Tracking issue for `clone_from_slice` stabilization"
The `clone_from_slice` method clones a slice into another, using the `clone_from` method, which in principle can be more efficient than using `clone`.

It's not clear whether this method, or `clone_from`, are seeing any use at all.

[2015-08-12 18:48] aturon opened #27751 "Tracking issue for `raw` stabilization (`raw::TraitObject`)"
The `std::raw` module exports some representation details for the purposes of transmuting and taking things apart. Stabilizing these means pinning down the representation details forever.

One possibility is to instead provide various conversions, rather than asking people to use `transmute`, when we're sure the conversions will always be possible. Methods like `from_raw_parts` are already doing t

[2015-08-12 18:50] aturon opened #27752 "Tracking issue for `float_extras` stabilization"
There are a number of floating point methods that are reexported from cmath, without a strong naming convention on the Rust side, or a clear rationale for which methods are included and which are not.

Ideally, someone who works with floating point, and these methods in particular, could offer advice/an RFC laying out a good vision for these methods.

[2015-08-12 18:52] aturon opened #27753 "Tracking issue for `num_bits_bytes` stabilization"
The `BITS` and `BYTES` constants for e.g. `i32` are currently unstable, due to lack of clarity around:

- Should these be associated constants of the type instead?
- Is there a better way to get at these via e.g. `size_of`?

cc @eddyb

[2015-08-12 18:54] aturon opened #27754 "Tracking issue for `str_char` stabilization"
The `str` type offers a number of `char`-oriented methods, many of which can be replaced by uses of `char_indices`.

It's not clear how widely used these methods are, or whether there are significant downsides over using `char_indices`. This API area needs a comprehensive re-evaluation.

cc @SimonSapin

[2015-08-12 18:57] aturon opened #27755 "Tracking issue for `wrapping` stabilization"
The `std::num::wrapping` module provides a trait, `OverflowingOps`, that permits overflowing arithmetic on primitive types and tells whether an overflow occurred.

Other methods, like `saturating_add` and `wrapping_add`, are included directly as inherent methods on these types.

It's not clear whether the `overflowing_foo` methods are useful, and if so, whether there's any reason for them to live

[2015-08-12 19:00] alexcrichton commented on #27438
I agree that strategies like `#[link_dll]` probably won't work out so hot, whatever we do probably needs to be baked into the compiler as much as possible instead of requiring annotations.

I'm personally a bit up in the air about how to tackle this. I only know of one absolute failure mode today (#26591) and otherwise the drawbacks today are lots of linker warnings and some extra indirection (not

[2015-08-12 19:03] aturon commented on #24028
I'm going to close this issue out in favor of [per-feature tracking issues](https://internals.rust-lang.org/t/psa-stabilization-tracking-on-the-libs-team/2493), which have now been created for the bulk of unstable std APIs. Please comment on the individual issues with your use cases, stabilization desire, and feedback!

[2015-08-12 19:03] #24028 closed

[2015-08-12 19:14] nagisa commented on #27703
`rand` is [not even sure about algorithms implemented][1] and AFAIR is having a major rewrite in works. I doubt it can go back into libstd anytime soon.

[1]: https://github.com/rust-lang/rand/pull/59

[2015-08-12 19:18] nagisa commented on #27706
Sounds like issue in the tools rather than pathes or canonicalisation algorithm.

[2015-08-12 19:28] nagisa commented on #27715
This reminds me of a [`Reader` monad][1] and its `local` method a lot. Specialisation of this monad to only work in TLS context sounds really obscure to me. Could this be generalised?

[1]; http://hackage.haskell.org/package/mtl-2.2.1/docs/Control-Monad-Reader.html

[2015-08-12 19:31] nagisa commented on #27717
Alternatively we could put some code into `.ctors` for each static Mutex<T> and allocate the box at startup.

[2015-08-12 19:34] nagisa commented on #27724
Haskell uses `by` as well, if that has any weight.

[2015-08-12 19:35] nagisa commented on #27727
Any reason a more general Peekable<Components> cannot be used instead?

[2015-08-12 19:38] nathankleyn commented on #24407
Raised a PR for `E0383` at #27699, will now take `E0386`.

[2015-08-12 19:39] Diggsey commented on #27715
The stabilization of scoped TLS precludes the safe implementation of couroutines/fibers/green threads in external libraries.

Admittedly there are also problems with normal TLS, but they seem less terminal, and can probably be limited to causing unexpected behaviour or panics rather than outright memory unsafety with some changes.

Possible solutions:

- Formalize the notion of a call-stack/contex

[2015-08-12 19:41] jethrogb commented on #27729
There's also `&vec[..]`.

[2015-08-12 19:41] nagisa commented on #27738
I’m still a bit uncomfortable by the fact that we do not allow inner mutability in this particular Mutex. You’d usually won’t want to Mutex-guard immutable data because it is, well, immutable and in most cases is already MT-safe, and mutable ReentrantMutex ready to share and use looks a little bit odd/redundant: `Arc<ReentrantMutex<RefCell<T>>>`.

[2015-08-12 19:42] jethrogb commented on #27718
Is `alloc::arc::strong_count` part of this issue or #27700?

[2015-08-12 19:43] nagisa commented on #27742
Removal of deprecated `tail` and `init` is also in scope of this issue.

[2015-08-12 19:43] nathankleyn opened #27756 "Mistaken warning when working around `E0386` restrictions regarding mutable references in immutable containers."
While writing the detailed diagnostics for `E0386` (cannot assign to data in an immutable container, #24407), I came across a possible mistaken warning.

`E0386` is about forbidding mutation of a mutable reference stored in an immutable container:

[code]

But if you make `y` mutable to get around this issue, you get a warning:

[code]

Although it _is_ strictly true that I don't mutate `y` itself

[2015-08-12 20:00] sfackler commented on #27707
I've found Java's `Files::walk_file_tree` really useful since it supports things like stopping iteration early and running code at different points in the iteration.

https://docs.oracle.com/javase/8/docs/api/java/nio/file/Files.html#walkFileTree-java.nio.file.Path-java.nio.file.FileVisitor-

[2015-08-12 20:17] GuillaumeGomez commented on #24407
I forgot to said (I just updated the spreadsheet, btw, don't forget to update it people !) but I'm on all these: E0103, E0323, E0324, E0325, E0369 and E0425. [Maybe more will come](https://github.com/rust-lang/rust/pull/27586) !

[2015-08-12 20:26] JustAPerson commented on #27686
@alexcrichton
If that is the intended behavior, then please reopen this issue and mark it as a documentation problem.
I cannot find where this distinction is explained.

[code]

This section of `rustc -hv` would imply that:

* `-l`/`-L` are for use with static libraries only, not even mentioning the `dependency` KIND. `-Ldir/` by itself will not actually search for crates in that directory.
* `--e

[2015-08-12 20:28] bluss commented on #27711
My draft is https://gist.github.com/bluss/9b0f84fbb477de87d9d8 I'm just looking for comments before I post it.

@Gankro It sounds like you favour a collections trait solution for this. It's a good solution for multidispatch reasons, but apart from that, I don't really have a guiding star for when we do collections traits (like Extend) and when we don't.

[2015-08-12 20:38] bluss commented on #27737
One thing of note is that the origin of this API was to help libcollections, so that the collections didn't all have to reimplement correct PartialOrd eq, le, gt, etc handling*. With time, most of the collections maybe(?) will develop their own specialized versions and make it obsolete.

As noted in #26884, these methods are inferior for *equality* checking since they cannot assume that the two it

[2015-08-12 20:55] tomaka commented on #27713
I don't know much about hashing functions, but I'm just posting to say that this one is very important for performances.

The SipHasher is **very** slow, and always eats up between 5% and 20% of the CPU time of each of my projects. By comparison the FnvHasher is around 6 times faster according to some quick benchmarking.

The purpose of the SipHasher is to protect against DDoSes, but the vast majo

[2015-08-12 20:58] #26803 closed

[2015-08-12 21:02] bluss commented on #27713
SipHash looks good on long enough data, but it is slow on small values like integers. Its fixed four round finalization at the end is an example of overhead that is comparatively larger when hashing small values.

[2015-08-12 21:06] Gankro commented on #27718
@jethrogb this issue -- Arc is defined in `liballoc` but it's intended to be used inside `std::sync`

That issue largely concerns the actual alloc::heap API

[2015-08-12 21:07] jethrogb commented on #27718
Thanks for the clarifcation. I mention this since using it currently requires the `alloc` feature.

[2015-08-12 21:08] huonw opened #27759 "rustdoc unstable should show feature name and issue"
rustdoc currently shows unstable things like the following (for [`Result::expect`](http://doc.rust-lang.org/stable/std/result/enum.Result.html#method.expect)):

It could also include the name of the feature and a link to the tracking issue, e.g.

[2015-08-12 21:09] Gankro commented on #27718
@jethrogb it only needs that feature because you're accessing the functionality through the `alloc` crate instead of `std`. The whole alloc crate is unstable to directly access.

[2015-08-12 21:17] Gankro commented on #27713
See: https://github.com/shepmaster/twox-hash/blob/master/README.md for scaling comparison.

Based on these results, one can conclude that SipHash is actually a pretty good "general purpose" hasher. Fnv doesn't scale as well to longer strings (> 32 bytes), and XXHash doesn't scale well to smaller strings (< 32 bytes).

[2015-08-12 21:19] Gankro commented on #27713
CC @frankmcsherry @pczarn @cgaebel @shepmaster

[2015-08-12 21:20] eddyb commented on #27753
`BYTES` would be directly redundant with any kind of `size_of` computation in constants, so I'd be against keeping it, if the latter is on the horizon.
`BITS` on the other hand, is indeed `BYTES * 8` in all the cases we currently provide it in, but it might be more ergonomic.
Do we have (even rough) usage numbers?
Technically, anyone can implement their own trait with associated constants, so a st

[2015-08-12 21:22] eddyb commented on #27717
The `Box` itself is very unfortunate, but a proper system is quite complex, and requiring `Mutex<T>` & friends to be in a stable location is not backwards-compatible.
Developing a proper system for types which are "immovable after address was first observed" and using it in, e.g. `sync::stable::Mutex<T>` (replacing `StaticMutex`), might just work.

I wrote down an idea for such a system a few mont

[2015-08-12 21:25] eefriedman commented on #27756
This is fixed in beta.

[2015-08-12 21:27] bluss commented on #27713
(XXhash was constructed to be a fast checksum for gigabytes of lz4 data, so that's what it is good at)

[2015-08-12 21:31] bluss commented on #27742
@nagisa That's in PR #27684

[2015-08-12 21:40] pnkfelix commented on #27692
Maybe the another orthogonal (and in some ways better) answer here would be to extend our type expression syntax to allow me to actually write the type `fn even` (which currently prints as `fn(&&i32) -> bool {even}` in a explicit type instantiation like `Map<Filter<Iter<'a, i32>, fn even>, fn add1>`

[2015-08-12 21:44] alexcrichton commented on #27742
Yeah in general removal of deprecated items I think will start happening right after we make a release so we probably won't make tracking issues for those kinds of items.

[2015-08-12 22:04] alexcrichton commented on #27702
Oh yeah if it doesn't actually require any intrinsics then it's totally fine to leave in core, it's only at most a *maybe* if it uses an intrinsic, and even then I think we'll still leave it in core and just say "if you use this please define the symbol".

[2015-08-12 22:13] alexcrichton commented on #27686
Yeah seems reasonable to leave open as a docs issue. Not sure exhaustive documentation should go into the `-h` message but the man page could certainly be beefed up.

That... can't actually be done I don't think. The only way the compiler looks for transitive dependencies is via `lib<foo>*.rlib`  where `<foo>` is the name of the crate.

[2015-08-12 22:37] bluss commented on #27697
For debugging, notice that `impl Deref for MyTrait` is equivalent to `impl Deref for MyTrait + 'static`.

[2015-08-12 22:41] arielb1 commented on #27738
@nagisa

The idea of `ReentrantMutex` is to allow accessing a big multi-`Cell` (and/or `RefCell`) context-structure from multiple threads. This would be kind-of broken by making it return `&mut`

[2015-08-12 22:42] #27004 closed

[2015-08-12 22:47] Diggsey commented on #27738
@nagisa `RwLock` already does pretty much what you're suggesting anyway? ReentrantMutex fills a gap in the standard library: taking something !Sync, and making it Sync, with as little overhead as possible.

[2015-08-12 23:43] alexcrichton opened #27764 "Tracking issue for CStr => str conversions"
This is a tracking issue for the `cstr_to_str` unstable feature in the standard library. These methods are probably ready to just get stabilized as-is.

[2015-08-12 23:44] alexcrichton opened #27765 "Tracking issue for collection append methods"
This is a tracking issue for the unstable `append` feature in the standard library. It's somewhat unclear if these methods *need* to be stabilized, but it's also fairly clear that they're not going to change from their current form. They will likely go into FCP soon.

cc @Gankro.

[2015-08-12 23:44] alexcrichton opened #27766 "Tracking issue for collection split_off methods"
This is a tracking issue for the unstable `split_off` feature in the standard library. It's somewhat unclear if these methods need to be stabilized, but it's also fairly clear that they're not going to change from their current form. They will likely go into FCP soon.

cc @Gankro.

[2015-08-12 23:45] alexcrichton opened #27767 "Tracking issue for VecDeque::retain"
This is a tracking issue for the unstable `vec_deque_retain` feature in the standard library. This is probably ready to just be stabilized as-is.

cc @Gankro

[2015-08-12 23:46] alexcrichton opened #27768 "Tracking issue for Box::{into_raw, from_raw}"
This is a tracking issue for the `box_raw` unstable feature in the standard library. These methods are functionally ready to go but may need to settle on some names. Other candidates (like those that `CString` chose) are `into_ptr` and `from_ptr`. These shouldn't be stabilized until they're consistent across the board.

[2015-08-12 23:47] alexcrichton opened #27769 "Tracking issue for CString::{from_ptr, into_ptr}"
This is a tracking issue for the unstable `cstr_memory` feature in the standard library. These methods are likely ready to go as-is modulo naming. Their names should be consistent with `Box::{from_raw, into_raw}` (currently inconsistent).

cc #27768

[2015-08-12 23:48] alexcrichton opened #27770 "Tracking issue for Result::expect"
This is a tracking issue for the unstable `result_expect` feature in the standard library. This is likely ready to just be stabilized as-is

[2015-08-12 23:49] alexcrichton opened #27771 "Tracking issue for some Duration-taking functions"
This is a tracking issue for some small Duration-taking functions in the standard library, specifically the `park_timeout` and `thread_sleep` functions. Now that `Duration` is stabilized these are likely ready to be stable as-is.

[2015-08-12 23:50] alexcrichton opened #27772 "Tracking issue for Condvar::wait_timeout"
This is a tracking issue for the unstable `wait_timeout` feature in the standard library. An open question here is whether the tuple return value with a `bool` is appropriate or whether an `enum` of some form should be returned instead.

cc @sfackler

[2015-08-12 23:51] alexcrichton opened #27773 "Tracking issue for the socket timeout functions"
This is a tracking issue for the unstable `socket_timeout` feature in the standard library. Now that the `Duration` type is stable it may be the case that these methods can just be stabilized as-is.

[2015-08-12 23:51] Gankro commented on #27767
I still maintain this is a fake method that doesn't actually exist. But yeah, seems fine.