[2021-11-12 14:32] jyn514 commented on #90811
Thanks for the detailed write-up, but I'm pretty sure this a duplicate of https://github.com/rust-lang/rust/issues/83677, which we aren't going to fix - the markdown is ambiguous and there's two ways to interpret each of the examples you posted, it's not left associative.

[2021-11-12 14:37] TotalKrill opened #91600 "Cargo: Target may not be installed notes should include which rust version it regards"
### Problem

When issuing commands on the type: `Cargo +1.52.0 build --target thumbv7em-none-eabihf --release`

the errors can state:
[code]

If these commands are then issued as part of build scripts or other workflows, the command itself can sometimes be quite nested. and attempting to fix the problem with: `rustup target add thumbv7em-none-eabihf`
would not always solve the issue, since the cor

[2021-11-12 15:20] nbdd0121 commented on #72016
MASM style literal clash with local labels and it is problematic to support both.

[2021-11-12 16:13] Stovent commented on #90541
I think `i8::MIN.carrying_add(-1, false)` should return `(127, true)`,  because signed and unsigned operations should give the same results, so `i8::MIN + (-1)` should be computed as `0x80 + 0xFF` which gives `0x17F`, then truncated to 8-bits which gives `0x7F (127)`.
Then because `-128 - 1` gives `-129`, which can't be represented as an 8-bits signed number, then there is overflow to me.

If I am

[2021-11-12 16:23] jfrimmel commented on #90812
One more is #90041.

[2021-11-12 16:38] nikic commented on #90812
#90589 in x86_64-gnu-distcheck

[2021-11-12 16:46] hkratz commented on #90812
Going systematically through the bors CI failures of the last 24 hours:

Rustc segfaults:
* https://github.com/rust-lang-ci/rust/runs/4183298667?check_suite_focus=true
* https://github.com/rust-lang-ci/rust/runs/4181602467?check_suite_focus=true
* https://github.com/rust-lang-ci/rust/runs/4186005517?check_suite_focus=true
* https://github.com/rust-lang-ci/rust/runs/4185976885?check_suite_focus=tru

[2021-11-12 17:55] lilyball commented on #90811
That doesn't look right. Or rather, it looks like it is the same issue, but the resolution there is wrong.

CommonMark defines a shortcut reference link as

That very clearly means `[a]` is not a shortcut reference link. So the choice is between `[a][b]` and `[b](c)`. If `[a][b]` can be resolved as a link, then it should be, which leaves `(c)` as literal text.

Based on the parsing algorithm docum

[2021-11-12 18:00] cuviper commented on #90541
I think so. The unsigned versions have clear semantics, but it gets weird with signed values, and as a "bigint helper" I'd be surprised to see one that uses signed digits in the first place.

[2021-11-12 18:00] ehuss commented on #14407
Closing as the unused attribute handling has been rewritten in #87739 and should now handle stability and must_use attributes.

[2021-11-12 18:00] #14407 closed

[2021-11-12 18:01] lilyball commented on #90811
It really seems to me here that the issue is in the pass that collects intra-doc links and synthesizes link references for them. This is the pass that decides to treat `(value)` as part of a link and emit a warning and not collect links from inside. This is why producing a link to the same item elsewhere suddenly changes the parsing here.

In theory, rustdoc should be parsed as though every possib

[2021-11-12 18:37] the8472 commented on #90831
The benchmark isn't all that convincing. Only a single alignment and single offset tested. No hardware specs and presumably only a single platform was tested. Doesn't even mention against which glibc version was tested. Doesn't list variance of the results.

On top of that it doesn't show impact on a rust program either. Looking at a profile I happen to have open right now rustc is only spending 0

[2021-11-12 19:23] Patryk27 opened #90838 "Unsound drop due to imperfect lifetime checks"
Looks like it's possible to `impl Drop` for a _stricter_ lifetime than the one used in the type:
[code]
... which allows to essentially transmute from `T: 'a` to `T: 'static`, leading to unsoundness:
[code]
On my machine, it prints:
[code]

[2021-11-12 20:45] camelid commented on #84357
Looks like it's fixed now that Rust 2021 is stable.

[2021-11-12 20:45] #84357 closed

[2021-11-12 20:46] Stovent commented on #85532
I've been using these functions along with the `overflowing_add`/`overflowing_sub` functions to implement a virtual machine (for the Motorola 68000 architecture). The overflowing functions are great for this kind of application, but I have a few comments to add on `carrying_add` and `borrowing_sub` so that they can fit my needs.

First, I agree that it would be better if carrying_add and borrowing

[2021-11-12 20:50] BoxyUwU commented on #90838
oops...

[2021-11-12 20:52] camelid commented on #90838
Looks like this regressed in 1.56.0.

[2021-11-12 20:56] BoxyUwU commented on #90838
#87770 introduced this

[2021-11-12 21:20] HactarCE opened #90841 "Trait bounds on Self with generic parameter precludes other uses of that trait on Self"
I tried this code:

[code]

[Try it on the Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=584a9635862d59551693bfc67383549e)

I expected to see this happen: All functions should compile with no error.

Instead, this happened: The following error was produced by `rustc`:

[code]

### Meta

`rustc --version --verbose`:
[code]

This bug also occurs on the nigh

[2021-11-12 21:44] richmailYT opened #90843 "Trouble linking C compiler Ubuntu"
### Code

[code]

`rustc --version --verbose`:
[code]

### Error output

[code]
running latest Rust and Ubuntu. Install Clang, GCC, cmake, ect, nothing works

Compiling works on macOS catalina 10.15.7 with Xcode C compiler

[2021-11-12 21:55] diesdasnicolas commented on #53330
ne

[2021-11-12 22:25] pnkfelix commented on #87613
Okay, so I *think* the heart of the problem is this:

1. Our suggestion system relies on the spans of items accurately reflecting where items fall. For example, in this case, the generation of the `use`-item suggestion is built upon the span of the given `fn`-item for `main. So if the span is misleading, then you get misleading output.
2. The span of an item like a `fn` is built from its component

[2021-11-12 22:28] #90745 closed

[2021-11-12 22:28] #90766 closed

[2021-11-12 22:29] pnkfelix commented on #87613
Having said all that, I personally think that the real bug here is how the `use`-item placement is being inferred.

That is, I don't think it was a good idea to use a span taken from `item.span.lo` for the first non-use item in the module.

I think we'll have better luck if we take the `item.span.hi` for the item preceding the first non-use item in the module.

[2021-11-12 22:53] MSxDOS commented on #90794
I also encountered cases where adding an assertion removed both the unnecessary bounds check and the assertion itself, which is kinda weird.

This whole function should be optimized to just return zero anyways, and it is, up to rust 1.54 and only if the `i < 64` assertion is present.

[2021-11-12 23:11] Crazytieguy commented on #90682
@michaelwoerister The change has to be in here https://github.com/Crazytieguy/bevy_chess/commit/64592ffea7a46662b44588253eee050b8cdf6f6d

If I remember correctly, the last thing I did was replace PlayerTurn with GameStatus.

[2021-11-12 23:11] workingjubilee commented on #90812
Once again:
https://github.com/rust-lang-ci/rust/runs/4195144401?check_suite_focus=true

<details><summary>dist-armhf fail</summary>

[code]

</details>

[2021-11-12 23:18] piegamesde commented on #90558
I tried building rust+cargo from source with https://github.com/llvm/llvm-project/commit/283879793dc787225992496587581ec77b6b0610 cherry-picked. Sadly it did not make the error message go away. However I don't have a good way to check if the correct LLVM is being used (I could however check that rustc and cargo are the ones I want)

[2021-11-12 23:28] cuviper commented on #90263
See #90846 for an attempt at weak linkage.

[2021-11-12 23:42] InfRandomness commented on #90694
I think I figured why this happens;
For some reasons, the files cloned aren't using POSIX line endings, but I think there's an issue with the toolchain that expects it to be a file with POSIX line endings, I will try to use dos2unix with a loop on the files.

[2021-11-12 23:48] AnthonyMikh opened #90847 "`#![feature(generic_const_exprs)]` ICE on evaluating constans both for type of generic const parameter and trait bound at the same type definition"
### Code

[code]

Note that it is required for both array lengths to be not a literal in order to trigger this bug.

### Meta

Quite surprisingly, despite using `#![feature]`, it works not only on nightly but on beta and stable as well. Although backtraces differ, the failed assertion is the same.

`rustc --version --verbose`:
[code]

### Error output

[code]

Setting `RUST_BACKTRACE=1` revealed n

[2021-11-13 00:10] hkratz commented on #90843
Do you have the libxdo-dev package installed?

[2021-11-13 00:31] ocstl commented on #87586
It also seems similar to #63193.

[2021-11-13 00:50] lucacasonato commented on #44796
For arrays of any length you can use this workaround since Rust 1.38:

[code]

[2021-11-13 01:25] jhpratt commented on #42168
Adding more methods shouldn't be an issue so long as there's a `Default` implementation. This should be doable I think.

[2021-11-13 02:10] estebank commented on #90702
In general, when we encounter an error in a type or during parsing we try and introduce a "poison pill" for its corresponding id (DefId, generally) or to the node being computed. This way we can check for these cases and silence errors. Otherwise `rustc` would complain about `trait Foo is not implemented for [type error]`. In the case of name resolution I'm pretty sure we already account for faile

[2021-11-13 02:18] estebank opened #90849 "Use of `.await` in 2015 edition prints one error per use"
When using `.await` and `async fn` in 2015 editions, we emit an error for each instance of incorrect usage. The most common case of this happening is *likely* to be when not being aware of the edition distinction in a new project and/or copying complete code from elsewhere. We should group these errors and emit a *single* error to reduce output verbosity. We might want to group per `mod` or some o

[2021-11-13 03:12] tavianator commented on #69882
`rustc` could make up a type that implements the trait with `unreachable!()` as the body for every `fn`.

[2021-11-13 03:50] ibraheemdev opened #90850 "Tracking Issue for `#![feature(downcast_unchecked)]`"
Feature gate: `#![feature(downcast_unchecked)]`

This is a tracking issue for the `downcast_unchecked`, `downcast_ref_unchecked`, and `downcast_mut_unchecked` methods.

### Public API

[code]

### Steps / History

- [ ] Implementation: #...
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-11-13 04:16] tavianator commented on #88925
Indeed, Rust doesn't support polymorphic recursion: https://github.com/rust-lang/rust/issues/4287, exactly because of monomorphization.

[2021-11-13 04:53] jhpratt commented on #87957
Maybe it could show "any of"/"all of" on longer chains (say 3+)? I don't think there's a ton that can realistically be done here — a long cfg is going to result in a long doc cfg.

[2021-11-13 05:19] camelid opened #90852 "rustdoc: Compute visibility on-demand, using `ty::Visibility`"
Currently, rustdoc computes visibility ahead of time and stores it in `Item.visibility`. rustdoc also has its own visibility representation: `clean::Visibility`.

Instead, rustdoc should just use `ty::Visibility` directly, and compute it on-demand using an `Item::visibility()` function.

[2021-11-13 06:02] fee1-dead commented on #90843
Removing ICE label because this is not an ICE.

[2021-11-13 06:09] fee1-dead opened #90855 "Rustdoc: Methods from `Deref` should not be `const`"
Screenshot:

![image](https://user-images.githubusercontent.com/43851243/141608030-011e661b-c5af-4cf6-a4e7-2d6209a32dcb.png)

Considering that rustdoc doesn't care about `const_trait_impl`, methods from `Deref` cannot be called in const contexts. Therefore it is best to hide the `const` modifiers when showing methods from `Deref`.

[2021-11-13 06:16] rukai commented on #90600
I came across this issue https://github.com/rust-lang/rust/issues/86759 which is describing the same problem but has what seems to me a better solution

[2021-11-13 06:47] sanxiyn commented on #85238
@clienthax, #81334, which is suspected to be same as this bug, is now fixed in the latest release. Can you test again? Thanks!

[2021-11-13 07:22] rukai commented on #90600
I experimented with skipping try_report_named_anon_conflict when static is required and its giving much better diagnostics, so ill make a PR for that once https://github.com/rust-lang/rust/pull/90667 is merged.

[2021-11-13 07:36] ken-matsui commented on #83250
@rustbot claim

[2021-11-13 08:14] 5225225 opened #90857 "Multiple-character char literal error should mention non-printing characters"
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1896e58442e271fd3b78e60396ffebc1

[code]

(which has a zero width space between the `<` and its ending `'`)

The current output is:

[code]

If there are any non-printing characters, show where they are (debug unicode representation on the whole string, maybe?), and if there's only one printing chara

[2021-11-13 08:22] #90012 closed

[2021-11-13 09:05] leonardo-m commented on #90831
With better tests we could judge better :-)

[2021-11-13 09:40] kennytm commented on #81890
Not just i686.

* https://github.com/rust-lang/rust/pull/90542#issuecomment-967741298
* https://github.com/rust-lang/rust/pull/90684#issuecomment-966792302

[2021-11-13 09:43] rustJi opened #90859 "error: linking with `x86_64-w64-mingw32-gcc` failed: exit code: 1 Please help me"
Hello, I'm a beginner who uses the rust language. I just want to know how to solve this kind of error. I want to make a GUI application using gtk4. Please help me.
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
### Error output
<output>
PS C:\Users\clean\CLionProjects\untitled5> cargo run
   Compiling untitled5 v0.1.0 (C:\Users\clean\CLionProjects\untitled5)
error: linking with `x

[2021-11-13 09:47] 5225225 commented on #90857
@rustbot claim

[2021-11-13 10:35] ede1998 commented on #69882
No that wouldn't be enough. The trait might also have associated types or constants, which would have to be implemented as well.
Also the trait could be unsafe, so implementing it with unreachable might introduced undefined behavior.

[2021-11-13 12:23] Stovent commented on #85532
I'd like to further explain what the functions behaviors should be according to my experience, and to provide another use case.

First, there is the question of intermediate overflow that may occur in some operations. For instance, `(-128i8).carrying_add(-1, true)` has an intermediate overflow, because the first computation does `-128 + (-1) = -129`, which overflows to 127, but then adding the car

[2021-11-13 12:23] simbleau opened #90863 "Bad/confusing error message with Residuals"
Given the following code:  https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1b1c18cee65bf066a53f2c1a8c3653d0

[code]

The current output is:

[code]

What is wrong?:
- **There is no clear message saying ***which*** function does not return `Result` or `Option`.** In our example, it is not clear if `main()` or `get_result()` needs to return `Result` or `Option`.
- **The helpe

[2021-11-13 12:34] #57443 closed

[2021-11-13 12:38] the8472 commented on #90863
The ascii-art points to it.

[2021-11-13 12:52] jyn514 opened #90864 "Delete `rustdoc::doctree`"
It only has one item (`doctree::Module`), and it's only used in `visit_ast.rs`. It should be moved to visit_ast and the doctree module should be deleted.

[2021-11-13 12:56] hi-rustin commented on #90864
@rustbot claim

[2021-11-13 13:17] jyn514 opened #90865 "Rustdoc is inlining `use ...` imports when `--document-private-items` is passed"
I tried this code:

[code]

I expected to see this happen: The documentation is empty.

Instead, this happened:
![image](https://user-images.githubusercontent.com/23638587/141645173-8ee0dd37-65e6-4eb3-a4c7-adbb1fb0016e.png)

### Meta

`rustdoc --version`: rustdoc 1.58.0-nightly (e90c5fbbc 2021-11-12)

cc @camelid @inquisitivecrystal, I suspect this is related to one of your recent changes to visib

[2021-11-13 13:25] jyn514 opened #90866 "Rustdoc does not show documentation on empty impl blocks"
I tried this code:

[code]

I expected to see this happen: Either the comment should show up in the generated docs, or rustdoc/rustc should issue a warning.

Instead, this happened: The documentation is silently ignored.

I think we should show the documentation, since people like to use impl blocks for grouping and it's possible that all the items in the impl have a `#[cfg()]` macro that's false.

[2021-11-13 13:33] GuillaumeGomez commented on #90866
I'll write the fix in the next days.

[2021-11-13 13:52] simbleau commented on #90863
Yes, this line does so at the very bottom.
[code]

Yes... I was not clear what my intention was with that point.
I meant it would be helpful to say the method's name or give an ascii pointer to that name.

[code]

or:

[code]

[2021-11-13 14:47] richmailYT commented on #90843
THANK YOU! that fixed it!

[2021-11-13 14:47] #90843 closed

[2021-11-13 14:59] kpreid commented on #90866
A suggestion: Since this is such an unusual case, add a special note like

after the displayed documentation. This will help people parse the structure of the documentation page, understand what it _means_ that the thing is said to be an implementation, and understand that it's not purely a rustdoc bug/infelicity that it's showing an empty section.

[2021-11-13 15:01] LukasKalbertodt opened #90869 "Span for "trait bound not satisfied" errors in case of trivial bounds too large"
Given the following code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d4f12af4169ec816aba9ba93f6b515f2)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The difference is just the span. This is particularly useful for macros which are probably the main producers of trivial bounds. You want the "the trait bound not sat

[2021-11-13 15:25] WaffleLapkin opened #90870 "Confusing error when comparing references to primitives in a const context"
Given the following code: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3de1bd0ce3b681ae5b4beb1207a78414))

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I've encountered this "in the wild" while trying to implement `const` version of `str::strip_prefix`: ([playground](https://play.rust-lang.org/?version=stable&mode=d

[2021-11-13 15:27] hkratz commented on #90859
This does not seem to be a Rust error at all, but rather a dependency problem. Your gtk-4 library is not from GTK 4.4 and that is apparently required?

@GuillaumeGomez Shouldn't that and `gdk_toplevel_titlebar_gesture` be behind the 4_4 feature gate?

@rustbot  label -I-ICE

[2021-11-13 15:29] Badel2 opened #90871 "ICE: No bound vars found for "expr || 1 ..."
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

The ICE happens after correctly reporting the error "cannot find type `n` in this scope", so low priority. Affected versions: I tried nightly 2021-11-12 and stable 1.56.1 and they both show the same ICE.

<details><summary><strong

[2021-11-13 15:36] ken-matsui commented on #90719
@rustbot claim

[2021-11-13 15:40] sunfishcode commented on #88576
I'm following the steps documented [here](https://forge.rust-lang.org/release/backporting.html) for backporting changes to beta.

[2021-11-13 15:41] Badel2 opened #90873 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_middle/src/hir/mod.rs:79:55"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

The ICE happens after correctly reporting a few other errors, because the code is nonsense, so low priority. Affected versions: I tried nightly 2021-11-12 and stable 1.56.1 and they both show the same ICE.

<details><summary><stro

[2021-11-13 15:41] rustJi commented on #90859
[dependencies]
gtk = { version = "0.3.1", package = "gtk4" }

That is my dependencies.

[2021-11-13 15:47] Amanieu commented on #86941
I checked LLVM's code: the `pauth` feature only controls whether the assembly instructions are available (and whether LLVM's codegen is allowed to use emit). CFI is controlled by a different flag.

I agree that we should try to have fine-grained features where possible. The main issue with exposing finer-grained features than LLVM is that there may not be a precise way to map `#[target_feature(ena

[2021-11-13 15:49] kpreid commented on #86653
Perhaps the standard library should provide an empty trait implemented by everything. ([`Pointee`](https://doc.rust-lang.org/nightly/core/ptr/trait.Pointee.html), if stabilized, will be implemented by everything, but its actual purpose might be distracting.) Or perhaps there should be a way to write a `dyn` which has a vtable for drop but no actual methods; the obvious syntax is `dyn` with no foll

[2021-11-13 15:51] hkratz commented on #90859
The native msys2 gtk-4 libraries you installed are apparently not 4.4. You followed the instructions from [the book](https://gtk-rs.org/gtk4-rs/stable/latest/book/installation_windows.html#gnu-toolchain) I guess? If so, does upgrading with `pacman -Syu` help?

[2021-11-13 15:55] GuillaumeGomez commented on #90859
Opening an issue in the corresponding crate. Thanks for the ping!

[2021-11-13 15:55] #90859 closed

[2021-11-13 16:39] GuillaumeGomez commented on #90866
Good idea!

[2021-11-13 17:23] aliemjay opened #90875 "`for<'a> Fn(<A as B<'a>>::C)` fails incosistently and requires unnecessary type annotations"
I tried this code:

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=311765eb65fa36205839f2930d6f29d8))

I expected to see this happen: the code compiles fine.

Instead, this happened: `check(fn_1)` and `check(fn_4)` fails to type check, and although the error message is not related to type inference, annotating the type parameter `T` fixes the problem.

[2021-11-13 18:37] ecstatic-morse commented on #90718
@bjorn3, that's true, but it's a problem we already have today. Consider the following:

[code]

[2021-11-13 18:44] bjorn3 commented on #90718
I would have expected that `px` would be invalidated when `x` got moved, but instead miri reports:

[code]

[2021-11-13 18:48] ecstatic-morse commented on #90718
Oh, `*px = ...` requires that `*px` is initialized. I wanted `ptr::write`.

Yeah, does stacked borrows consider moves?

[2021-11-13 19:15] bjorn3 commented on #90718
Not sure.

[2021-11-13 19:29] shepmaster commented on #83583
The SNAFU procedural macro optionally generates a module that starts with `use super::*`. The direct code works fine. When that code is copy-pasted into a doc-comment, it fails:

[code]

[code]

[code]

[2021-11-13 19:59] shepmaster commented on #83583
Ah, that's because the doctest is added inside of a `fn main` by default. Very unfortunate.

[2021-11-13 20:05] Badel2 opened #90878 "thread 'rustc' panicked at 'attempt to subtract with overflow', rust/compiler/rustc_resolve/src/diagnostics.rs:458:49"
### Code

[code]

When rustc is compiled with debug assertions, this results in a subtract with overflow on this line:

https://github.com/rust-lang/rust/blob/1b12d01903293453dd94aa170c82caf94415629f/compiler/rustc_resolve/src/diagnostics.rs#L458

And if compiled without debug assertions, you get a warning "Invalid span".

Introduced in https://github.com/rust-lang/rust/pull/80801

Affected versio

[2021-11-13 20:11] #51911 closed

[2021-11-13 20:14] RalfJung commented on #90718
Are both of these 'not' intentional? I don't quite understand the causal chain here.

But without a `let mut x` this certainly seems dubious.

I think it's fine for the borrow checker to reject such code even if executing that code might or might not be UB.

Whether the code is UB or not interacts not only with drop elaboration but also with the `StorageLive` annotations -- a variable that is neve

[2021-11-13 20:37] hniksic opened #90879 "HashMap::from_iter doesn't compile without explicitly supplying the hasher"
Now that `FromIterator` is in the prelude, I expected to be able to create a `HashMap` like using `HashMap::from_iter()`:

[code]

However, that doesn't compile, saying "type annotations needed for `HashMap<&str, i32, S>`":

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2d036ef3458e980c1489c9b8445bb7e1)

I would expect `<HashMap as FromIterator>::from_

[2021-11-13 20:48] Nilstrieb commented on #90869
@rustbot claim

[2021-11-13 20:54] workingjubilee commented on #90812
This is way too often for cosmic rays to be the answer at this point...
...unless GitHub's backing hosting doesn't believe in ECC RAM at all, in which case maybe. But they run Intel Xeons, so.

[2021-11-13 21:01] mjptree commented on #90702
@estebank Thank you so much for the information! This is really helpful. I ran into some rather unexpected problems trying to set up my working environment and spent my evening puzzling over some spurious build errors on a freshly cloned repo. I blame it on me having already updated to Windows 11 for now and tackle it one issue at a time, beginning with this one that I committed to :).

I tried to

[2021-11-13 21:11] InfRandomness opened #90880 "unsafe: Bad diagnostic message"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-11-13 21:24] Badel2 commented on #81614
I can confirm that the previous comment does no longer trigger an ICE, but I found this case which does trigger it (only with debug assertions enabled):

[code]

[2021-11-13 22:47] ehuss commented on #90812
https://github.com/rust-lang/rust/pull/90881#issuecomment-968137733 failed building memchr for stage0 std (mingw-check).

I investigated a bit to see what, if anything has changed.  stage0 rustc has not changed in a long while.  The docker images haven't changed, either.

The first error appears to be in #89167 (https://github.com/rust-lang-ci/rust/actions/runs/1447510130) at around 2021-11-11T05:

[2021-11-13 22:53] Mark-Simulacrum commented on #90812
We can try backing out #89167, but I'd really rather not. It introduced very little code that's even getting compiled at stage0 though (since it has cfg(not(bootstrap)) on the whole module it adds, IIRC).

[2021-11-13 23:18] steffahn commented on #90875
@rustbot label T-compiler, A-typesystem, A-lifetimes, A-inference, A-closures, A-traits

[2021-11-13 23:28] Super-Pizza opened #90885 "x86/x86_64::__mm256_set_epi8 has wrong description"
It says "Sets packed 8-bit integers in returned vector with the supplied values in reverse order."
This should be for __mm256_set*r*_epi8.

[2021-11-13 23:46] hkratz commented on #90885
Already fixed in https://github.com/rust-lang/stdarch/pull/1248. Will be fixed here once the stdarch update #90881 lands.

[2021-11-13 23:57] Super-Pizza commented on #90885
Ah, sorry for that.

[2021-11-13 23:57] #90885 closed

[2021-11-14 00:02] martin-t commented on #81902
I second this, I started using `panic = "abort"` after reading [this article](https://vorner.github.io/2018/07/22/dont_panic.html) because my code is not written to handle random threads unwinding. I, however, still do want backtraces.

Having to add `rustflags = ["-Cforce-unwind-tables=y"]` to `.cargo/config.toml` is a bit unwieldy, especially when trying to be careful not to override other rustf

[2021-11-14 00:22] BoxyUwU opened #90888 "`Self: 'static` causes GAT outlives lint to needlessly fire"
The following code [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=efc32d83dfbd2c1e2f34396177718e44):

[code]

Gives an error:
[code]

I would have expected the `where Self: 'a` not to be required as we already know that `Self` outlives `'a` as it outlives `'static`

### Meta
rustc version: 1.58.0-nightly (e90c5fbbc 2021-11-12)

[2021-11-14 00:30] scottmcm opened #90889 ""function defined here" notes shouldn't show `mut`s"
In https://github.com/rust-lang/rust/pull/90886 I changed the definition of `fold` such that it no longer needed the `mut` on the `f` parameter, and was surprised to get a UI test failure (in <https://github.com/rust-lang/rust/blob/master/src/test/ui/issues/issue-3044.rs>) from it.  The update from `bless`:
![image](https://user-images.githubusercontent.com/18526288/141662958-b0496b48-2d11-41a8-90

[2021-11-14 00:34] scottmcm commented on #90889
Having hit submit on that, I'm now thinking I'm wrong.  It's showing the line of code, so showing the line as anything other than what it actually is would be more confusing for local stuff.

So maybe this is actually more about "please show the signature not the line of code" for things that aren't "local" (in some sense)?

Or maybe you should just close this.  Feel free to do that if my rambling

[2021-11-14 01:00] azdavis opened #90890 "expected and found types are the same with closure + lifetime + generics"
I tried this code:

[code]

I expected to see this happen: a non-confusing diagnostic

Instead, this happened: a somewhat confusing diagnostic

[code]

Note that the expected and found associated type is the same.

### Meta

[code]

[2021-11-14 02:07] richmailYT opened #90893 "Can not find pkg-config"
I tried this code:

[code]

I expected to see this happen: *explanation*
Compile without error and export a binary

Instead, this happened: *explanation*
can not find pkg-config eventhough its in evn and restarted VM.

### Meta
`rustc --version --verbose`:
[code]
https://pastebin.com/VaWwaS5D
[code]

[2021-11-14 02:39] lopopolo opened #90894 "Bad value for `target-cpu` has spammy and confusing error output"
I accidentally copy-and-pasted the `RUSTFLAGS` example for `-C target-cpu=` from https://rust-lang.github.io/packed_simd/perf-guide/target-feature/rustflags.html#target-cpu in an attempt to compile for `target-cpu=native`.

It looks like x86_64 Darwin doesn't like the `cortex-a75` CPU type and I got a lot of unexpected output before the build errored out in LLVM.

This same error spam reproduces i

[2021-11-14 02:41] LifeIsStrange commented on #90831
There is this alternative that can leverage SSE or AVX and should therefore be probably much faster.
https://github.com/moon-chilled/fancy-memset

[2021-11-14 02:57] estebank commented on #90702
Plugins were the way you could modify how the compiler behaved before proc-macros were designed. They are still in the codebase, but they were never in a path to stabilization. They worked similarly in `rustc`, but had *full* access to the compiler internals, in contrast with proc-macros which only have access to the TokenStream.

By "poison pill" I mean something like `Err` in the following enum:

[2021-11-14 03:05] RalfJung commented on #90812
I am seeing this SIGSEGV locally. In fact I currently get it each time I run `nice ./x.py test src/test/ui --test-args 89765 --bless` (so I can't even run ui tests), even if I previously did `./x.py clean` -- though that same command did still work a few hours ago, so I suspect some kind of race condition makes it non-deterministic whether a correct or a broken rustc is being produced.

[2021-11-14 04:09] #90768 closed

[2021-11-14 04:43] aliemjay commented on #90875
Prior to v1.56, closures and functions all fail alike with the same error message and adding type annotations didn't help either. So my guess is that #85499 introduced an (incomplete?) fix, so I think this now needs to:
* address the inconsistency
* improve error message to require type annotations

@rustbot label A-diagnostics

[2021-11-14 05:45] aliemjay commented on #89436
Seems to be the same as #90875; adding type annotations fixes the problem ([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=332a5c65f3e18c64645dcb7657450214)).

@Manishearth can you confirm this? You may want to close this in favor of #90875 which contains a minimal example otherwise I'm happy to close mine as a duplicate.

[2021-11-14 05:56] jhpratt commented on #83380
For `const fn` this is sometimes necessary.

[2021-11-14 05:58] ehuss commented on #90893
This issue appears to be related to a third-party library (gtk). This issue tracker is for the rustc compiler. You may have better luck asking for help on one of the user forums (such as [URLO](https://users.rust-lang.org/) or Discord), or the gtk issue tracker (https://github.com/gtk-rs/gtk-rs-core).

[2021-11-14 05:58] #90893 closed

[2021-11-14 08:51] steffahn commented on #90875
While changing the error message _could_ improve the situation, this is clearly not exclusively a diagnostics issue, AFAICT. To avoid potential confusion, let me remove the A-diagnostics label, which is commonly applied to issues that are _purely_ diagnostics issues. @rustbot label -A-diagnostics.

In case it is decided that this _is_ only a diagnostics issue after all, the label can be reapplied.

[2021-11-14 08:53] #90864 closed

[2021-11-14 09:41] aliemjay commented on #90875
I've just been aware of the version differences and recent efforts to solve this. So here is a summary:
* Prior to 1.56, all cases failed even with type annotations.
* On 1.56 (due to #85499), all cases still fail but type annotation workaround now works.
* On nightly (due to #88441), closures (rather than functions) no longer require type annotation.

A duplicate of #89436.

[2021-11-14 14:44] tschuett commented on #90831
https://github.com/llvm/llvm-project/blob/main/libc/src/string/memory_utils/memset_implementations.h

resp. https://github.com/llvm/llvm-project/tree/main/libc

[2021-11-14 14:52] the8472 commented on #90831
Current glibc versions already do runtime/dynamic-link-time detection of available instructions and will use AVX or SSE implementations when available.

[2021-11-14 14:59] InfRandomness commented on #90694
Confirmed.

[2021-11-14 14:59] #90694 closed

[2021-11-14 15:02] richmailYT opened #90902 "cant find pkg-config windows"
Can not find pkg-config even though it is in path and i have all the needed dependencys

I tried this code:

[code]

I expected to see this happen:
compile nad run without error

Instead, this happened:
can not find pkg-config

### Meta

`rustc --version --verbose`:
[code]
full error
[code]

[2021-11-14 15:33] RalfJung commented on #90812
@ehuss points out that my PR 'just' introduces infinite recursion, leading to a stack overflow. I should have thought of that earlier.^^

[2021-11-14 15:37] RalfJung commented on #89765
In https://github.com/rust-lang/rust/pull/89764, things look like we should properly check full validity of a value when reading its discriminant. However, that on its own cannot fix this ICE since the first thing validity checking will do is of course read the discriminant...

[2021-11-14 15:49] hkratz commented on #90902
You need pkg-config installed and in your PATH, see https://gtk-rs.org/gtk4-rs/stable/latest/book/installation_windows.html#pkg-config

Also this is definitely not a problem with Rust itself, you might want to ask questions related to gtk-rs here: https://gtk-rs.org/contact

[2021-11-14 15:56] LifeIsStrange commented on #90831
@the8472 I am aware that the Glibc has runtime feature detection mechanism for SIMD (HWCAPS, etc) but I am not aware whether they use it for a SIMD implementation of memset.
The second library I linked has the following result:

Likely indicating that the Glibc do not use an explicit AVX 256 implementation even when supported.

[2021-11-14 15:57] TheEdward162 opened #90903 "<Foo as Trait>::AssocType triggers non-`Copy` union check even when it is copy"
Hello, I ran into what I think is a bug with unions and type normalization.

[code]

Playground:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b9c65cbec84f266463da8192cf7c2d21

I expected to see this happen: This should compile: `<Foo as Trait>::Assoc` is both bounded to be `Copy` and should normalize directly to `u8` since it uses a concrete type.

Instead, this happened

[2021-11-14 16:02] Mark-Simulacrum commented on #90812
Running under valgrind with the stage0 compiler, I am seeing:

[code]

[2021-11-14 16:03] EFanZh opened #90904 "Presence of `std::simd` sometimes breaks type inference"
I tried this code:

[code]

I expected to see this happen: The code compiles successfully.

Instead, this happened: The code failed to compile:

[code]

Playground link: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=446e975abb9c2a303485f483494a6512>.

The code works fine with stable toolchain.

### Meta

Rustc version: 1.58.0-nightly (2021-11-13 b416e3892d9526709f3a)

[2021-11-14 16:24] the8472 commented on #90831
This commit indicates otherwise. https://github.com/bminor/glibc/commit/830566307f038387ca0af3fd327706a8d1a2f595

Well, glibc supports way more platforms than that. And the benchmark results only show a high-level summary so I'm not sure how realistic they are. The benchmark file doesn't seem to cover alignment differences. A comment even mentions that it didn't test randomized sizes i.e. all bran

[2021-11-14 16:48] aalouaoui opened #90906 "Compiler panic on any cargo run/build"
### Code
https://github.com/aalouaoui/nannou-bezier-curves

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### System Info

[code]

[2021-11-14 16:48] hkratz commented on #90812
Hmm, that looks more like a valgrind instrumentation issue - the valgrind version of `operator new()` is not used causing a false malloc -> delete mismatch.

[2021-11-14 16:51] steffahn opened #90907 "Method resolution can be influenced in unexpected ways by external crates."
**I tried this code:**

[code]

**I expected to see this happen:** Either the code should fail to compile or it should [print `[1, 2, 3]` (the latter is what currently happens when the above is executed in the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=88cb7d40bf6a1bd469061aead4fdd9b9).

Instead, this happened: The code prints `[21, 42, 63]`

## Context
Wha

[2021-11-14 17:26] C0D3-M4513R opened #90908 "Using asm label locations unsupported"
I tried this code:

[code]
and
[code]

I expected to see this happen:
I expected the assembly code to look the same, when I look at it (after compilation) with a decompiler (like ida64).
And I also expect this code to print "Hello, World!" without the "int3" instruction.
The assembly code should put the location of the label 2f (or label in the case of the global_asm example) in the register eax f

[2021-11-14 17:29] richmailYT commented on #90902
nope, same error

[2021-11-14 18:19] steffahn commented on #90907
It just occurred to me how it’s even possible to make
[code]
misbehave. (Note the explicit type signature `z: &[u8]`!)

See [this branch](https://github.com/steffahn/iffy_methods/tree/alternative_version_with_explitic_type) for how it’s done.

[2021-11-14 18:46] RalfJung commented on #90244
Independent of whether stage 3 exists or not, the command here explicitly asks for stage 2 so something seems to have gone wrong when stage 3 steps are happening.

This problem still persists in current master, I just ran into it with `./x.py build compiler/rustc --stage 2`.

[2021-11-14 19:03] jyn514 commented on #90244
@RalfJung for context this is likely caused by https://github.com/rust-lang/rust/pull/89759 - I'm ok with reverting that for now if bootstrap has other bugs, but I don't think assembling the compiler before you've asked for it is inherently a bug.

[2021-11-14 19:05] Mark-Simulacrum commented on #90244
Since you've already built the stage 3 compiler (in all but copying it into place), it makes some sense to assemble it. At least, this more closely matches the likely-desired behavior at earlier stages, IMO.

I'd be fine with us just adding a stage == 3 and not full-bootstrap bailout to this code for now, which should mitigate this error, or a more complete patch -- I think reverting #89759 is pro

[2021-11-14 19:10] RalfJung commented on #90244
Have I? All I want is a stage 2 that I can use to build Miri. `build --stage 2 compiler/rustc` seemed like the easiest way to do that. I guess this will also build the 'stage2 compiler artifacts' (aka the stage 3 compiler), but that is just a copy so I don't mind this extra work.

From what you said it sounds like `./x.py build library/test --stage 2` should suffice for my usecase?

[2021-11-14 19:12] RalfJung commented on #90244
Hm, no, it does not since Miri needs the rustc libs themselves. `build --stage 2 compiler/rustc` does the extra work of putting those into the stage 2 sysroot, it seems.

[2021-11-14 19:14] Mark-Simulacrum commented on #90244
Without full-bootstrap, stages >= 2 don't actually have distinct libraries (we uplift the stage 1 compiler artifacts). So in some sense any stage is "built" and copy-able into the relevant directories once you have a stage2/bin/rustc.

But, yes, you do need to copy the rustc libraries into the appropriate sysroot. I suspect that your particular use case may be painful/unworkable with the stage 3 a

[2021-11-14 19:23] SNCPlay42 commented on #90904
searched nightlies: from nightly-2021-10-16 to nightly-2021-11-14
regressed nightly: nightly-2021-11-14
searched commit range: https://github.com/rust-lang/rust/compare/e90c5fbbc5df5c81267747daeb937d4e955ce6ad...b416e3892d9526709f3a248f5ed3a43a970f795e
regressed commit: https://github.com/rust-lang/rust/commit/032dfe43605f4324966933078ffe6f717b77c7c8

<details>
<summary>bisected with <a href='http

[2021-11-14 19:28] Mark-Simulacrum commented on #90812
Yeah, it's possible. I have a suspicion that the problem may actually lie sort of "close by" in the sense that LLVM seems to be using the g++ stl malloc, even though it's built with clang -- new_op.cc comes from `/tmp/gcc-5.5.0/libstdc++-v3/libsupc++/new_op.cc`. So it may be that rustc's use of jemalloc and LLVM libraries using glibc malloc presumably is causing some kind of issue, both in valgrin

[2021-11-14 19:29] RalfJung commented on #90244
Well, running `build --stage 2 compiler/rustc` and then just ignoring the fact that it panics seems to be good enough to build Miri. But yeah something is wrong, as the panic shows.^^

[2021-11-14 19:33] SNCPlay42 commented on #90902
Duplicate of #90893

[2021-11-14 20:04] adsnaider opened #90911 "Internal compiler error when implementing local allocator and box."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-14 20:10] adsnaider commented on #90911
I realized that the compiler still panics when the `Box` isn't dereferenced and even when creating a value with `Box::new_in`:

[code]

[2021-11-14 20:25] joaocarmo commented on #50776
I was having @Jerry1144's exact same issue, so I followed @skodises' suggestion:

1. Installed **rustup** with `curl https://sh.rustup.rs -sSf | sh`
2. Linked **rust** with `mkdir -p "$(brew --cellar rust)/$(rustc --version | cut -d' ' -f2)" && ln -s "$(dirname $(which rustc))" "$(brew --cellar rust)/$(rustc --version | cut -d' ' -f2)/bin" && brew link rust`
3. Installed **cargo-c** with `cargo in

[2021-11-14 21:39] mjptree commented on #90702
I think I'm coming closer to a solution: I was using these two examples as a starting point
1) https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=65d3ed90603b0f36454b09b87e2e87e3
2) https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=814b9863cc637350cda9de28b4fe7def

Because you already mentioned that in the case of failed `use` rustc already behaves as des

[2021-11-14 22:02] Diggsey opened #90912 "Stabilization error E0658 is trivially bypassed"
[code]

[code]

I already have code unintentionally relying on this, so please don't break it 😅

The first case should probably just be stabilized, since you can already rely on it.

Also, the stabilization issue the error message references doesn't actually mention this error, so it's not clear what work is left to do on it.

[2021-11-14 23:09] workingjubilee commented on #90831
As I understand it, LLVM already reserves the right to inline instructions for this purpose when it detects the mem* functions and idioms matching them. Picking a different implementation to call is rearranging deck chairs on the Titanic if we don't actually hit that code path most of the time.

[2021-11-14 23:25] workingjubilee commented on #90902
Directions on how to resolve this are included in the error message you posted:

Unfortunately, we cannot meaningfully help you here with a crate that is working as-designed and features no errors in the Rust standard library or Rust compiler. Consider asking in a chatroom? This issue tracker is strictly for issues with Rust _per se_, not necessarily things made with Rust, so I am closing this.

[2021-11-14 23:25] #90902 closed

[2021-11-14 23:52] workingjubilee commented on #90794
Are we sure this is not a duplicate of #30112, #39220, #41789, #51709, #55147, #58388, #71066, #71935, #72462, #80075, #81253, #81432, or #84314? It's fine if it isn't, even, I am just trying to figure out which ones of these are unique.

[2021-11-15 00:08] RalfJung commented on #90912
Cc @rust-lang/wg-const-eval more holes in our guard against trait bounds...

[2021-11-15 00:16] RalfJung commented on #90770
We should also document more clearly what our analyses need from MIR, so that one can determine if a change in "MIR for analysis" can break our analyses or not.

[2021-11-15 00:18] RalfJung commented on #90762
To be clear, the 'evaluation' of the `const` items is not observable, but the drop order in the MIR of `main` is (which doesn't have anything to do with the order in which the operands are compile-time evaluated). I will rename the issue to mention dropping.

[2021-11-15 00:21] RalfJung commented on #90762
FWIW I would have expected the order to be consistent with calling a function that returns the `Print`, but it is not:
[code]
this prints
[code]
Which is right-to-left, so "last variable dropped first", which I guess makes sense.

Cc @rust-lang/wg-const-eval, though this is more about MIR generation that const evaluation (but not sure whom to ping for that).

[2021-11-15 01:23] ModProg commented on #65823
While technically true, this would mean, you can only have one proc_macro call, because you have no way of telling, if any of the other procmacro calls are the same macro as aliasing is a thing.

[2021-11-15 02:19] petrochenkov commented on #90702
If you make a PR addressing this please assign it to me.

[2021-11-15 02:24] Stargateur commented on #72631
I would also like a `Push` and `TryPush` and `TryExtend` trait:

[code]

[2021-11-15 03:00] lygstate commented on #36193
Merge cty into core named with ctype?

[2021-11-15 03:01] lygstate commented on #36193
Also, cty lost these type:
[code]

[2021-11-15 04:30] fee1-dead commented on #90912
I'm inclined to just remove the const_fn_trait_bound feature altogether. It doesn't error for `Newtype<T>` and not even `(T,)`. IMO it doesn't have anything meaningful use for how we should design `const_trait_impl`, and we should just use something like `~const`.

[2021-11-15 04:43] asquared31415 commented on #90908
That behavior is how LLVM's assembler (which is mostly GAS compatible) works.  Do you want `lea reg, [label]` perhaps, to load the instruction pointer at `label` into `reg`?

Additionally the `ret` in your asm is almost certainly wrong, you're returning from the function immediately.

[2021-11-15 04:48] asquared31415 commented on #90908
If I'm interpreting your intent correctly, something like [this (playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=80ac75df555f5078b572d5d59d8b21a9) is how I would write it.

I don't believe this is a bug in Rust or the assembler though.  Simply some different or unintuitive behavior.

[2021-11-15 04:50] rukai opened #90917 "NLL diagnostics should only name lifetimes when there is more than one lifetime in the error."
There is already a unittest showing the issue:
https://github.com/rust-lang/rust/blob/130b9e9e3b058e76e43788fac67538c064fc8a97/src/test/ui/issues/issue-46983.rs#L1-L6

The current output without NLL enabled (migrate) is:
https://github.com/rust-lang/rust/blob/130b9e9e3b058e76e43788fac67538c064fc8a97/src/test/ui/issues/issue-46983.stderr#L1-L11

The current output with NLL enabled is:
https://githu

[2021-11-15 06:41] XinyuZeng commented on #25289
For Mac users, you may also try this:https://github.com/rust-lang/rust/issues/90342 which fixes my issue.

[2021-11-15 07:26] hellow554 commented on #90911
I get a different error, probably due to a newer compiler version:

[code]

<details>
<summary>Backtrace</summary>

[code]
</details>

[2021-11-15 07:33] hellow554 commented on #90906
Can't reproduce your ICE.
Can you run `cargo clean` and try it again?

[2021-11-15 07:53] hkratz commented on #90812
#90821 failed again, this time with a double free in stage 0 cargo: https://github.com/rust-lang/rust/pull/90821#issuecomment-968505328

[2021-11-15 08:02] aalouaoui commented on #90906
I have tried `cargo clean` and tried removing `target` folder. I have also tried uninstalling and reinstalling Rust.
This issue started to happen after I updated my system and linux kernel from 5.14 to 5.15
I have tried today on an another system and it compiles just fine, So it could be  a problem in my system

[2021-11-15 10:04] #89856 closed

[2021-11-15 11:29] wada314 commented on #89195
I'm also got hit by this error today. It seems to be passing the both lifetime and T::AssociatedType recursively makes this problem.

[code]

Does anyone know if this is supposed to be an error code actually, or just the compiler is not supporting yet?

[2021-11-15 11:47] dhardy commented on #65823
Since 1.52 and #79078 I think this is no longer an issue: the primary attribute can strip out all helper attributes, with the sole restriction that helper attributes cannot appear before the primary attribute (this restriction also applies to `#[derive]` now).

This goes back to [@nikomatsakis's comment](https://github.com/rust-lang/rust/issues/65823#issuecomment-548518097):

This potential featur

[2021-11-15 12:52] C0D3-M4513R commented on #90908
That was exactly what I needed. Thank you! The `mov` instruction just looked REALLY broken in the screenshot, to the point it corrupted some instructions .(might have been ida64[debugger]'s interpretation tho)

True. I copy pasted the assembly from global_asm(and didn't edit it beyond the labels). The `ret` is wrong there.

On another note: I'm still trying to get processor mode switching working(

[2021-11-15 12:52] #90908 closed

[2021-11-15 13:15] aplanas opened #90921 "`rpath = false` breaks run-make-fulldeps tests"
Running the tests from run-make-fulldeps, I found this one falling

[code]

It is complaining that `librustc_driver-0cce5dc831adf0c6.so`, and indeed this file is not in the `LD_LIBRARY_PATH` set in the second one found after `RUSTC=`. A simple `find` reveals that this file is present in `/home/abuild/rpmbuild/BUILD/rustc-1.56.1-src/build/x86_64-unknown-linux-gnu/stage1/lib` that is included in the

[2021-11-15 14:47] aplanas opened #90922 "Error during the tests for rustdoc-themes (error while loading libtest)"
[code]

[2021-11-15 15:04] nikomatsakis commented on #90713
@jackh726 and I talked about this issue today. Here is what is going on:

* The reason that the second example works is because the where clause `Self: 'a` on its own *implies* that `<Self as Target>::Deref: 'a`. This is because we have a rule that says "if all the inputs to a trait outlive `'a`, then the values of its associated types outlive 'a", or, put another way, "the value of an associated

[2021-11-15 15:06] the8472 commented on #43244
I ran into a case where it would have been useful to have that:

Incrementally deduplicating items in a vec after they have been grown via `append` would have been more efficient with a `drain_filter(.., fn)` or `retain_range(.., fn)` only removing duplicates in the newply appended range that hasn't already been deduplicated instead of calling `retain` on the whole Vec at the end or every time.

[2021-11-15 15:08] michaelwoerister commented on #90873
Thanks for the bug report, @Badel2!

@cjgillot, could this be related to the recent HIR map/lowering refactorings?

[2021-11-15 15:15] michaelwoerister commented on #90715
@cjgillot, are we missing some kind dep-tracking that causes a query to be re-run even though one of its preconditions isn't met?

[2021-11-15 15:23] Yuri6037 commented on #82193
The problem also touches cc crate based sys libraries which requires a c++ runtime to work.

Without the workarround provided in the begining of this issue c++/c/rust binaries are generated with a broken path to the dynamic linker (ld-linux instead of ld-musl).

[2021-11-15 15:27] tmiasko opened #90924 "`-C remark=...` no longer emits optimization remarks"
For example `-Cremark=all` for inflate rustc benchmark on 1.56 produces no output:

[code]

Back in 1.24. the output used to look like:

[code]

[2021-11-15 16:47] eholk commented on #76547
@rustbot label +AsyncAwait-Polish

[2021-11-15 16:50] eholk commented on #76547
@rustbot label +AsyncAwait-Triaged

[2021-11-15 17:02] nikomatsakis commented on #76547
This is probably covered in the above comments, but just a few notes:

The problem here is that you have `&mut [&mut [u8]]` in the function, which is indeed two distinct lifetimes, and only one lifetime in the structure. It doesn't seem to be particularly related to async. The error message is just calibrated for the case of "parameters with simple types" (that have a single lifetime) and not able

[2021-11-15 17:56] Nilstrieb commented on #90878
@rustbot claim

[2021-11-15 18:52] RalfJung commented on #21690
https://simonbyrne.github.io/notes/fastmath/ makes some good points about the perils of fast-math.

[2021-11-15 19:02] calebzulawski opened #90929 "rustdoc: improve searching for functions of generic types"
This is coming from `std::simd` (https://github.com/rust-lang/portable-simd/pull/191).

Consider searching `std` for `Simd::abs`: https://doc.rust-lang.org/nightly/std/simd/?search=Simd%3A%3Aabs

This search only returns the first instance of the `abs` function, which right now is `Simd::<i8, LANES>::abs`.  The problem here is that `abs` is implemented for other integers, as well as `f32` and `f64

[2021-11-15 19:33] eddyb commented on #90907
This doesn't look like method lookup to me (**EDIT**: okay, I guess autoderef would let `.as_ref()` do something else if it didn't hit the spooky `impl`, and autoderef is parth of method lookup).

It's long been known that the "only one remaining applicable `impl`" design of trait `impl` lookup could lead to subtle issues. Most of the focus over the years has been around the ability to introduce a

[2021-11-15 20:57] cgwalters commented on #82971
(Coming here from https://github.com/tokio-rs/tokio/issues/3520 because I got bit badly by having two `SIGCHLD` handlers in the same process)

I strongly agree with Rich here; most of the benefit is gained if `std` just uses `pidfd_open()` to start on the plain pid.  In particular, that would allow async runtimes like tokio to use it to monitor the child process and avoid installing a global `SIGC

[2021-11-15 21:16] the8472 commented on #82971
When `pidfd_open` is used in the parent process it's difficult to guarantee race-freedom, especially in the presence of other runtimes installing sigchild handlers with unknown flags. The foolproof but complex way is to do it in the child process and then send the fd to the parent process over a unix socket as mentioned in [a previous comment](https://github.com/rust-lang/rust/issues/82971#issueco

[2021-11-15 22:01] joshtriplett commented on #81106
@rust-lang/libs-api, shall we stabilize `NonZeroU*::is_power_of_two`?

@rfcbot merge

[2021-11-15 22:04] tmarkovski commented on #41750
Thank you for this, it saved me so much time.
I have previously tried to override this in the `.cargo/config` file by adding

[code]

but they ended up being overriden.

[2021-11-15 22:11] tmarkovski commented on #85821
This issue can be solved by setting the env var `export EMMAKEN_CFLAGS="-s ERROR_ON_UNDEFINED_SYMBOLS=0"` which will override any flags passed to emcc.

See this comment - https://github.com/rust-lang/rust/issues/41750#issuecomment-312510034

Passing these flags using the `.cargo/config` won't work, as they are not passed to the linker.

[code]

I received this error in two places, one for symbol

[2021-11-15 22:50] edward-shen opened #90931 "rustc suggests awaiting on non-future type on type mismatch with future"
Given the following code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d04d36db2a8688254ec8e0b1c8c2a0cf)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I've verified that this reproduces on Stable (1.56) and Nightly (1.58) on playground.

[2021-11-15 22:59] compiler-errors commented on #90931
I believe I found the bug in a match branch in `rustc_infer::infer::error_reporting` and I can put up a PR if my rustc build confirms it's actually where I think it is.

[2021-11-15 23:12] JonathanWoollett-Light opened #90932 "cannot use constants which depend on generic parameters in types"
[My original stack overflow post on the issue.](https://stackoverflow.com/questions/69944291/rust-cannot-use-constants-which-depend-on-generic-parameters-in-types)
[Rust Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0dac6dba83c40106cca6c9373286cfbc)

I was trying to write a data-structure such that it is generic over different dimensionality.

The beginning i

[2021-11-15 23:39] ehuss commented on #90921
Do you happen to have any `config.toml` settings?

I can't reproduce this with the given command. Does it happen even after an `./x.py clean`?

[2021-11-15 23:49] str4d commented on #50132
There's another unexpected side-effect of this undocumented behaviour: it breaks on 2018 edition module structure. Minimal example:

[code]

Changing the crate to use 2015 edition module structure avoids the issue:
[code]

To me, this seems like a bug in the 2018 edition version of `include!` (i.e. this macro was missed when updating stdlib to be aware of the new module syntax). I don't know if th

[2021-11-15 23:56] ajmcmiddlin commented on #70142
I am strongly in favour of this position. I argue that the ambiguity of implicitly converting errors in `flatten` will introduce issues (confusion, errors in user code, unnecessary complexity) whose cost significantly outweighs the perceived benefits. Especially when such low-cost alternatives exist. I am also concerned that the API would be opting users into conversions, such that avoiding them w

[2021-11-16 00:00] Mark-Simulacrum commented on #90812
Probably another case in https://github.com/rust-lang/rust/pull/90926#issuecomment-969436318, though that one looks even more interesting -- seems to be corruption of something with no Rust code at all, so further suggests some kind of environmental change perhaps...

[2021-11-16 00:17] workingjubilee commented on #90812
The segfault spam on CI definitely started before #89167 was merged and against PRs which did not include it. It may have exacerbated the problem somewhat by adding more pressure on afflicted parts of LLVM/Rust, but there is no way it traveled back in time and started breaking CI before it appeared in the compiler.

[2021-11-16 00:25] Mark-Simulacrum commented on #90812
Yeah, I agree this is not likely to be caused by that PR (which is why I have not posted a revert yet), given that we had "broken" builds due to this issue after the first attempt to merge it but before that succeeded. It seems quite unlikely we managed to accidentally break out of all the sandboxes and taint the CPU/memory somehow :)

[2021-11-16 00:38] mjptree commented on #90702
A first tentative solution on [my fork](https://github.com/mjptree/rust/commit/606c2e879bff4f0cf3f16dbb06cda2fbafc278ee).

It achieves the desired behaviour, but I'm still a bit reluctant to open a PR just yet:
a) because it feels a bit more like a hack than a solution, and
b) it also increases the verbosity on some other error messsages, specifically:
- [ui] ui\crate-loading\missing-std.rs
- [ui]

[2021-11-16 00:42] qutesy opened #90937 "`must_not_suspend` should trigger for temporary in match expression (but does not)"
I tried this code:

[code]

I expected to see this happen: compile-time error. Something like

[code]

Instead, this happened: run-time panic (see below)

### Meta

`rustc --version --verbose`: nightly on playground (1.58.0-nightly, 2021-11-14 ad442399...)

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-11-16 00:44] qutesy commented on #90937
Adding appropriate labels based on a similar bug. Apologies if I've got this incorrect!

@rustbot label: +A-lint +A-async-await

[2021-11-16 00:48] workingjubilee commented on #90904
Yes, it's a known issue that the portable SIMD API's presence weakens type inference for some things by introducing some possible collisions. Breaking type inference is called out as not considered as backwards-incompatible change in [RFC 1105](https://rust-lang.github.io/rfcs/1105-api-evolution.html).

I am still interested in seeing what breakage occurs, as it may justify adjusting what we do.

[2021-11-16 01:08] JohnTitor commented on #90871
Regressed since #76814, cc @jackh726

[2021-11-16 01:26] Diggsey commented on #70142
@ajmcmiddlin

The problem with that workaround is if you need to convert the inner error type. You end up with `r.map(|r| r.map_err(Into::into)).flatten()`, or even `r.map(|r| r.map_err(Into::into)).map_err(Into::into).flatten()` if you need to convert both types, which is quite a mouthful!

For that reason, although I agree that plain `flatten` should do no conversion, I think a `flatten_into` is

[2021-11-16 01:26] camelid commented on #90838
Re-opening to track beta/stable backport.

[2021-11-16 02:03] petrochenkov commented on #90702
I didn't read the thread in detail, but the right strategy is most likely to produce a binding with `Res::Err` resolution for an `extern crate foo;` import if `foo` is an unresolved crate.
We do the same thing with unresolved `use` imports.

Then errors for all `foo`-relative paths like `foo::a::b::c` will be omitted because we already know that `foo` is a `Res::Err`.

[2021-11-16 02:54] estebank commented on #66731
Opened https://github.com/rust-lang/rust/pull/90939. Identifying that the `.await`ed expression is an `fn` call is still outstanding.

[2021-11-16 02:59] jyn514 commented on #90702
@mjptree if you'd like someone to review the code, please open a PR. You can always make further changes after review :)

[2021-11-16 03:34] ajmcmiddlin commented on #70142
@Diggsey

I have no qualms with additional methods. I realise my wording suggested I would be against methods that did implicit conversions, and while I might not personally use them, I'm not inclined to argue with their inclusion.

[2021-11-16 04:13] glandium commented on #90301
@yanok Could you also do a PR for https://reviews.llvm.org/D108968?

[2021-11-16 04:13] Gunt-r commented on #79532
Can confirm that removing the `target` directory solves the issue `Failed to garbage collect finalized incremental compilation session directory ... Access is denied. (os error 5)`

[2021-11-16 04:20] JRF63 commented on #21690
There's quite a lot of comments about rounding modes. Is it about GCC and other backends? Pretty sure LLVM's fast-math flags doesn't even touch that so there shouldn't be any problem of fast-math enabled Rust libraries messing up other code that will link to it.

Besides couldn't we already do the really dangerous floating-point environment stuff like
[code]
and also via the CSR intrinsics in `cor

[2021-11-16 04:27] JohnTitor opened #90940 "windows: An empty path returns os error 123 instead of os error 3 with recent nightly"
I tried this code:

[code]

I expected to see this happen: `canonicalize()` returns os error 3 (`ERROR_PATH_NOT_FOUND`)

Instead, this happened: it returns os error 123 (`ERROR_INVALID_NAME`)

This is problematic as `std::io::ErrorKind` doesn't become `NotFound` but `Uncategorized`, which isn't useful for most users. Other platforms like Linux return `NotFound` so the former behavior should be cor

[2021-11-16 04:53] YushArora commented on #90906
I can confirm that this issue does not happen on my system, I tested on both 5.15 and 5.14.

[2021-11-16 05:18] #90669 closed

[2021-11-16 05:18] #90541 closed

[2021-11-16 05:40] JohnTitor commented on #90871
Assigning `P-low` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2390871.20ICE.3A.20No.20bound.20vars.20found.20for.20.22expr.20.7C.7C.201.20.2E.2E.2E) and removing `I-prioritize`.

[2021-11-16 06:35] jsha opened #90943 "Scrollbar disappears when sidebar is short"
In this example, for ToString, the sidebar is shorter than the page, so there is no scrollbar:

![image](https://user-images.githubusercontent.com/220205/141933577-565ead1a-56db-406f-ae89-fabf29e72e88.png)

In this example, for String, the sidebar is longer so there is a scrollbar:

![image](https://user-images.githubusercontent.com/220205/141933758-7add0c44-726d-46cf-b89e-478ffdc51e1c.png)

The p

[2021-11-16 06:52] daxpedda commented on #65823
The issue arises when you need support for multiple calls to a `proc_macro_attribute`.

Imagine a `proc_macro_attribute` called `macro_x` with an attribute `attr_y`:
[code]
You can't just start stripping the field attributes, because the second call to `macro_x` might require them.
A solution would be to parse all calls to `macro_x` the first time `macro_x` is called, this is problematic because w

[2021-11-16 07:27] nedv-eu commented on #41750
As far as I know wasm32 targets by default do not support dynamic linking as there is no dynamic linker available on the platform. Ignoring error on undefined symbols may lead to hard to find runtime errors. This is a chapter from emscripten doc about dynamic linking, are you sure you really want to use the experimental dynamic linking?

Dynamic linking

Emscripten’s goal is to generate the fastes

[2021-11-16 09:27] yanok commented on #90301
Sure, will do.

[2021-11-16 10:22] wycats commented on #71358
@CAD97's comments notwithstanding, I still don't get why this constructor is missing.

[2021-11-16 10:55] aplanas commented on #90921
There is a `config.toml`, that once removed comments and empty lines is like:

[code]

Seems that is reproducible after a clean:

[code]

Do you think that can be something in the config.toml? I can experiment dropping features from there.

[2021-11-16 11:01] ChrisDenton commented on #90940
Thanks for finding and fixing that! I do think that `ERROR_INVALID_NAME` should be mapped to an `ErrorKind`. It means "The filename, directory name, or volume label syntax is incorrect". So a syntax error basically.

But I don't think that should block your current PR.

[2021-11-16 11:28] #85945 closed

[2021-11-16 11:28] #90612 closed

[2021-11-16 11:28] #90638 closed

[2021-11-16 11:28] #80772 closed

[2021-11-16 11:28] #89765 closed

[2021-11-16 11:28] #90786 closed

[2021-11-16 11:28] #90804 closed

[2021-11-16 12:33] steffahn commented on #90907
I guess the main thing that bugs me here is that when calling a standard library trait method (`as_ref` from the `AsRef` trait; no other `as_ref` methods of other traits in scope) on a standard library type (`&RefCell<Box<[u8]>>`) type inference can decide to fill in the details to call into a third-party implementation, as long as it’s somewhere in one of your (transitive) dependencies.

I would

[2021-11-16 12:36] aplanas commented on #90921
You are totally correct here. Is the config.toml and the `rpath` parameter. If I set it to `false` I get the error, and I a remove the line I get a succeed. Not clear why.

[2021-11-16 12:40] joshtriplett commented on #72110
https://github.com/rust-lang/rust/pull/90058 has been merged!

[2021-11-16 12:40] #72110 closed

[2021-11-16 13:15] oli-obk commented on #90762
hmm... this is a weird situation, but I agree that the behaviour is wrong and should be like with the function calls.

The main problem is that the tuple's MIR would be `(Operand::Copy, Operand::Const(B), Operand::Copy, Operand::Copy)`, but then that tuple construction gets optimized out, along with the `Operand::Const(B)`. I guess the only way to fix this is to copy all operand into locals before

[2021-11-16 13:34] m-ou-se commented on #62358
This method might be more useful if it took a predicate:

[code]

For most cases, `== Some(x)` and `== Ok(x)` suffices can be used for checking (partial) equality, but checking whether an Option contains something fulfilling some predicate gets verbose or non-trivial:

[code]

With a predicate-based `.contains`:
[code]

It wouldn't match the `.contains()` function we already have on slices and col

[2021-11-16 14:14] pnkfelix commented on #86241
(This is probably fixed by #90941.)

[2021-11-16 14:28] eddyb commented on #90907
I guess I largely agree with you on most of those points.

I do not have a lot of confidence in us being able to restrict behavior here, but it would be interesting to do a crater run where we compare the crates mentioned in `TypeckResults` (via e.g. `TyKind::Adt`) vs the crates mentioned in the types of explicit paths in the body (but the naive approach might not complain if `foo` happened to cal

[2021-11-16 14:38] RalfJung commented on #90762
So there is some pre-drop-elaboration pass which assumes that `Operand::Const` has no side-effect? That sounds like a wrong assumption.

[2021-11-16 14:57] aplanas commented on #90922
This is the same issue that #90922. Fails when rpath is disabled.

[2021-11-16 14:58] oli-obk commented on #90762
The general assumption is that `Operand` has no side effects. I don't see how we can uphold this as long as constants are directly usable as operands.

On the other hand, a lot of MIR and codegen would get more complex if we didn't have constants in operands as we'd end up with lots and lots of short lived locals

[2021-11-16 15:04] RalfJung commented on #90762
And this is true once we are done generating the MIR.

But before drop elaboration, MIR is not done building yet. So many of the assumptions one might make about MIR simply do not hold.

[2021-11-16 15:07] terrarier2111 commented on #90880
@rustbot claim

[2021-11-16 15:16] glittershark commented on #62358
What if that was called `.any`, to match `Iterator::any`?

[2021-11-16 15:59] soc commented on #62358
@m-ou-se I think `str`'s design of `contains(Pattern)` is rather silly¹ and I don't think it makes for a good argument for picking one `Pattern` overload over the other – it wouldn't make it "match str's .contains() which can also take a predicate". Changing the API to take a `Pattern` would make it match `str`.

I think it is. Having dealt with languages/libraries that were consistent and and wit

[2021-11-16 16:00] Manishearth commented on #90638
The ICE is now fixed, but the underlying bug I was trying to reduce still exists, going to file another issue.

[2021-11-16 16:06] Manishearth opened #90950 "HRTB bounds not resolving correctly (take 3, lifetimes on the RHS)"
This is a new version of https://github.com/rust-lang/rust/issues/85636 and https://github.com/rust-lang/rust/issues/89196 . When reporting it I first hit an ICE which got fixed in https://github.com/rust-lang/rust/issues/90638.

The basic idea is that bounds of the form `for<'a> <Type as Trait<'a>>::AssocType: OtherTrait<'a>` don't work. https://github.com/rust-lang/rust/issues/85636, which has s

[2021-11-16 16:06] Manishearth commented on #90638
https://github.com/rust-lang/rust/issues/90950

[2021-11-16 16:07] Manishearth commented on #56556
Another bug of this kind: https://github.com/rust-lang/rust/issues/90950

[2021-11-16 16:12] Manishearth commented on #89436
@aliemjay Ah, I see.

[2021-11-16 16:12] #89436 closed

[2021-11-16 16:53] reza-ghazi commented on #79532
@Gunt-r
As @Fancyflame  mentioned, it was not the same issue, but the problem was the accessing file in another directory except the user profile in `Windows`. I copied my project to a folder in my user profile, and it works well. I didn't delete any folder, and now after I copied the whole project to the desired folder in my user profile, it's compiling well without warning.

In `Linux`, because

[2021-11-16 17:21] jackh726 commented on #90950
😔 always another HRTB issue

Based on ```the trait `for<'a> IsCovariant<'a>` is not implemented for `<_ as Yokeable<'a>>::Output```, I would guess that it's similar to other issues that I've seen that we start typechecking using "some variable `_`", then only later unify with `Yoke<Cow<'static, str>>`.

[2021-11-16 17:31] eddyb commented on #62358
The problem is that is that `.any`/`.all` imply generality over "arbitrary numbers of elements" in a way other methods `Option` and `Iterator` share (`.map`, `.filter`, etc.) generally don't.

Closest equivalents I can think of would be `.is` or `.has`, as singular counterparts for "`all` are" / "`all` have".

[2021-11-16 17:33] senevoldsen commented on #90609
From what I can gather @nikic made an improvement to LLVM optimizer that fixes this issue (and perhaps more), and this will eventually make it into Rust? Can this issue then be closed? And if so does you @nikic  want to answer the linked S.O. post?

[2021-11-16 18:03] JohnTitor commented on #90940
Sounds good, maybe it should be `InvalidInput`?

[2021-11-16 18:40] nikomatsakis commented on #73255
Based on the previous comment, cancelling stabilization proposal:

@rfcbot fcp cancel

[2021-11-16 18:43] nikomatsakis commented on #29864
@scottmcm did you have a specific reason to nominate this? :)

[2021-11-16 19:05] leonardo-m commented on #89273
I think it's OK for u8::isqrt to return an u8 plus an assume(result <= 16):

[code]
Once Rust gains proper well implemented ergonomic ranged integers, that assume() should be removed.

[2021-11-16 19:27] m-ou-se commented on #84223
@rfcbot resolve LocalKey type

A `thread_local_const_init` or something like that would probably not only require the initialization expression to be const, but also forbid the type from needing Drop. If the type needs drop, it'll need to keep track of its initialization state anyway.

The only thing to note is that if we do ever add a `.is_initialized()` or anything similar to `LocalKey`, [the cu

[2021-11-16 19:28] nikomatsakis opened #90957 "Tracking Issue for RFC #2972: Constrained Naked Functions"
This is a tracking issue for the RFC "Constrained Naked Functions" (rust-lang/rfcs#2972).
The feature gate for the issue is `#![feature(naked_functions)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant

[2021-11-16 19:36] Manishearth commented on #90950
@jackh726 yeah, sorry :sweat_smile:

But that diagnosis makes sense

[2021-11-16 19:54] Tamschi commented on #89190
I'm not sure what the proper procedure is in this case, but I just noticed this hit stable in 1.56.0 (without the lint appearing beforehand) and broke my crate 😬

I'll work around it on my end, since I need this to continue work on a downstream crate.

[2021-11-16 20:11] bluss opened #90959 "Can macos TLS sometimes fail give the struct requested alignment?"
I've only gotten bug reports from other users, and seen this as a failure in CI - only on macOs. [(Original matrixmultiply bug report)](https://github.com/bluss/matrixmultiply/issues/55)

We setup a buffer in a struct with 32-alignment, put it in thread local storage.
And before doing the critical stuff, there's a debug assertion that ensures the pointer has the required 32-alignment;
this debug a

[2021-11-16 20:32] RobJellinghaus opened #90960 "User-created 'core' package confusingly shadows std 'core' package"
This user reported a confusing error about `core` namespace not implementing an expected trait: https://twitter.com/Luminoth82/status/1459602117803450368

[code]

The root issue turned out to be that they had defined their own `core` crate which was shadowing the standard `core` crate. But the confusing error seems like it could be improved.

Ideally the output should look like:

[code]

Or some o

[2021-11-16 20:52] nbdd0121 commented on #89190
Hmm, it seems that the fix didn't get backported to 1.56. Does 1.57-beta work?

[2021-11-16 20:53] leonardo-m commented on #90467
Rust is in its good place also because its designers were "opinionated", with good coding taste, to avoid hundreds of un-opinionated parts of C/C++/D languages. My informed opinion is that the current design of "as" casts in Rust is one of the few design mistakes of Rust, and getting away from it is a good thing. Because you have a language where x+y correctly gives you run-time errors in debug bu

[2021-11-16 20:56] WaffleLapkin opened #90962 "Tracking Issue for `const_align_offset`"
Feature gate: `#![feature(const_align_offset)]`

This is a tracking issue for `<*const _>::align_offset` and `<*mut _>::align_offset` functions marked as `const fn`

### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/90958
- [x] `NonNull` methods stabilized, `const`ness moved to this gate https://github.com/rust-lang/rust/pull/124498
- [ ] Fin

[2021-11-16 21:18] ChrisDenton opened #90964 "Should getting a `BorrowedHandle` from `Stdin`, `Stdout` or `Stderr` return a `Result` on Windows?"
On Windows, the standard library's function for getting a stdio handle [looks like this](https://github.com/rust-lang/rust/blob/d914f17ca71a33a89b2dc3436fca51b1a091559e/library/std/src/sys/windows/stdio.rs#L46-L55):

[code]
Note that it only returns a handle if one is set, otherwise it returns an error.

In contrast, the public `AsRawHandle` [stdio implementation](https://github.com/rust-lang/rust

[2021-11-16 21:18] ChrisDenton commented on #87074
in the above linked issue I argue that, on Windows, `AsHandle` should not be directly implemented for stdio types because getting the handle can fail. I'd welcome any feedback.

[2021-11-16 21:35] pnkfelix commented on #62411
I wonder if we can make `indirect_structural_match` warn-by-default again now that PR #67343 has landed and issue #62614 is closed.

[2021-11-16 21:46] programmerjake commented on #90964
technically you can also get an error on unix, e.g. the stdio file descriptor is closed.

[2021-11-16 21:50] ChrisDenton commented on #90964
Right but that's a different sort of error. If the stdin descriptor is closed then the stdin file descriptor itself still exists. I mean fd `0` doesn't ever stop being fd `0`. It's a static value.

On Windows the value isn't static. It's retrieved at runtime and can fail.

[2021-11-16 21:50] Tamschi commented on #89190
@nbdd0121 It does indeed: https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=0d7f48d15e1aa249d953fa7d5b6cc2f9

[code]

The playground uses `1.57.0-beta.3 (2021-11-01 708d57e288d051a6238e)` as of writing this.

[2021-11-16 21:58] jstarks commented on #90964
I wouldn't quite use the word fail. Internally in Windows, there's a struct with one value for each of the three standard handles. `GetStdHandle` will return whatever values happen to be there, which could be `NULL` if the process was launched without stdio handles, or could be `INVALID_HANDLE_VALUE` if someone set the handles as such via `SetStdHandle` (no validation is or realistically can be pe

[2021-11-16 22:04] ChrisDenton commented on #90964
Sure `Option<BorrowedHandle>` would work. But I'd note that Rust itself explicitly sets `INVALID_HANDLE_VALUE` in some cases when spawning a new process so it would be strange if Rust code didn't handle that. This can also occur due to an uncaught error happened in the parent process and they inadvertently pass on the error.

I do think that `BorrowedHandle` should represent an actual handle. This

[2021-11-16 22:04] programmerjake commented on #90964
I'd argue that returning a closed fd is the equivalent of returning `Box::from_raw(1usize as *mut u8)` aka. immediate UB. Therefore, APIs should never return a closed fd in `Owned`/`BorrowedFd`

[2021-11-16 22:15] jstarks commented on #90964
Hmm. I think passing `NULL` in that case would be more appropriate.

[2021-11-16 22:17] ChrisDenton commented on #90964
As do I. But even if we change it now we still have to live with older Rust programs that don't. And in any case I doubt that Rust standard library is the only code that does this.

[2021-11-16 22:17] jstarks commented on #90964
But maybe to be defensive it would be wise to normalize both `NULL` and `INVALID_HANDLE_VALUE` into the same state, whether that be `BorrowedHandle(NULL)`, `None`, or `Err(_)`.

[2021-11-16 22:17] camsteffen commented on #62358
I don't have any qualms with `str::contains(Pattern)`, but I do fear it might be problematic to use it to justify `Option::contains` with a predicate. In my mind, the name `str::contains` makes sense primarily because it accepts `&str` or `char`, and the char predicate is an added convenience that avoids adding another method. This would be the first `contains` method that *does not* accept a valu

[2021-11-16 22:18] ChrisDenton commented on #90964
Yeah. That's what the standard library does internally. It makes them both an `Err`.

[2021-11-16 23:00] ShadowJonathan commented on #62358
I personally like `and_is` the most, and for the predicate option, i'd like to suggest `and_with`.

(Though something in the back of my mind tells me `_with` was for with a return value generic, not `bool` returns)

[2021-11-16 23:02] spcan opened #90968 "ICE"
### Code

Code is quite big to be able to display inside the issue. I can upload to a repository if needed.

Overview of what is happening in the code:
    - Create a zero size struct with a generic constant associated to compute at compile time a pointer to an embedded peripheral.
    - Create a wrapper around it to communicate with a device. This wrapper has some methods that return Result<[f32;

[2021-11-16 23:12] spcan commented on #90968
Changing the signature of the `write_to_address` function to `fn write_to_address(&mut self, a: AddressType, bytes: &[u8]) -> Result<(),I::Error>` does ICE as well.

[2021-11-16 23:19] qm3ster commented on #72631
@Stargateur:
1. Existing `push` and `insert` on eg `Vec` don't return a reference. Is this a bad legacy decision? I don't know.
2. Are `push` and `try_push` returning an immutable reference despite requiring a mutable reference to the container intentional? Are there containers in the wild that need this constraint?
3. Should they prescribe `&Self::Item` as a return? What about eg a `HashSet` that

[2021-11-16 23:19] spcan commented on #90968
Switching from implementing the `embedded_hal::i2c::blocking::WriteRead` trait for a generic const to a manual implementation for all peripherals fixes the ICE.

[2021-11-16 23:31] sunfishcode commented on #90964
I'm confused about how the `get_handle` code quoted above corresponds to how std seems to behave in practice.

I just tried [an experiment](https://github.com/sunfishcode/windows-hello/). It seems that in `windows_subsystem = "windows"` mode, `Stdout::as_raw_handle()` always returns NULL. It returns NULL in the `windows_subsystem = "windows"` parent process, in a `windows_subsystem = "windows"` ch

[2021-11-16 23:54] Stargateur commented on #72631
@qm3ster

Oh It was just a quite and dirty example, my main idea is I don't see why we can't have a trait for Push one item on alloc collection. Maybe split `Push` and `TryPush` is not need (same for extend). But I think Extend and Push should be two separate trait. My may issue with current design is you need to `try_reserve` THEN you can use extend. It's two step when it's should be one step for

[2021-11-16 23:58] ChrisDenton commented on #90964
It's hard to judge because you seem to be running programs through cargo?

In the case of using stdio types themselves, I wouldn't expect them to fail. If the std handle is NULL or INVALID_HANDLE_VALUE it silently pretends any operations are successful without actually calling into the Windows API. See https://github.com/rust-lang/rust/blob/68b554e6af18726fe6fa8de2134c59c441e0b019/library/std/src/

[2021-11-17 00:46] sunfishcode commented on #90964
I've now added a patch to run the child processes directly. The child processes still get NULL handles.

So while there does exist a function inside `std` named `get_handle` that returns `Err` on a NULL handle, in practice, as far as I can tell, every time it's called, the externally visible behavior seems the same as it would be if `get_handle` returned `Ok(NULL)` instead. The write would fail wi

[2021-11-17 00:51] glandium opened #90969 "Weird codegen (missed optimization) with str::strip_suffix"
The following rust code:

[code]

compiles to the following (courtesy of godbolt):
[code]

The code path "string is empty" is ridiculous:
[code]

Technically, all that code path needs to do is:
[code]

Now, let's look at the "string is not empty" code path, it's better, but not great either:
[code]
It's pointlessly setting rax to the value it already had.

Compare with the manual equivalent:
[code

[2021-11-17 00:58] glandium opened #90970 "Misleading/Incomplete errors involving Pattern"
Given the following code:

[code]

The current output is:

[code]

`Pattern<'a>` has implementations for:
- `char`
- `&str`
- `&String`
- `&[char]`
- `&&str`
- `F` where `F: FnMut(char) -> bool`

While it is true that u8 doesn't match any of the non-generic impls, and that it doesn't have an impl for `FnMut<(char,)> -> bool`, it's sad that the error message doesn't mention that those other possibi

[2021-11-17 01:04] Fancyflame commented on #79532
@reza-ghazi Hmm, I don't think the problem you mentioned was purely a permission problem, you know, everything Rust compiler compiled will be put into the `target` directory, including things about incremental compilation. So, if you could compile without errors (not warnings), it should not the permission problem, rather, it may be a file system problem.

But sorry I don't know how to resolve you

[2021-11-17 01:43] davidli2010 opened #90971 "Problem when impl From for GAT"
I tried this code:

[code]

I expected to see this happen: *I had expected compilation to succeed*

Instead, this happened: *Compilation fails with the error message below.*

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-11-17 01:47] inquisitivecrystal commented on #90865
This does appear to have been #88447.

I'm not entirely sure how to fix this. Basically, what's happening here is that the `is_accessible_from` query is checking if the use statement is accessible from its parent module. It is, because the parent module of the top level of the module is itself. Before this, it would have been documented if you did a `pub(self) use std::env;`, but not with just `us

[2021-11-17 02:54] inquisitivecrystal commented on #90865
Some additional thoughts:

If we want to stick to the "visible from parent module" thing, the simplest way to do that would be to add a check for whether `current_module` is the top level module. Of course, I'd also have to add a check for the visibility being actually public... *sighs.* Might need to break this into a seperate thing.

I guess the problem I'm struggling with after thinking about a

[2021-11-17 03:23] Amanieu opened #90972 "Tracking Issue for NEON intrinsics"
Feature gate: `#![feature(neon_intrinsics)]`

This is a tracking issue for NEON SIMD intrinsics on ARM and AArch64. These intrinsics can be found in the [`std::arch::arm`](https://doc.rust-lang.org/nightly/core/arch/arm/index.html) and [`std::arch::aarch64`](https://doc.rust-lang.org/nightly/core/arch/aarch64/index.html) modules.

### Public API

The NEON intrinsics that are covered by this tracki

[2021-11-17 03:53] jyn514 commented on #90865
I think we should inline *neither* `pub(self)` nor bare `use` (pretty sure I said so on the PR, but I guess I forgot to check for a test case).

Because the structs are only visible from the module where they're defined. The use statements aren't intended to be used from elsewhere in the crate.

[2021-11-17 04:11] inquisitivecrystal commented on #90865
I think I explained this poorly above. We generally *don't* inline either `pub(self)` or bare `use`. Because of how I implemented it, the top of the crate ended up being an inadvertent exception. It's an easy fix if we want it not to be an exception, I was just trying to make sure we had a clear philosophical reason for wanting things to be the way we were trying to have them be. (In other words,

[2021-11-17 04:31] jyn514 commented on #90865
Oh oops, I missed this bit. Yes, I think this should be consistent with the submodules of the crate.

[2021-11-17 04:36] mardab opened #90973 "E0432 on lack of entry in [build-dependencies]"
I attempted to pre-process data for my application with a build script, but I forgot to copy some `[dependencies]` to `[build-dependencies]` and got a very confusing E0432 when trying to build.

Given the following code:

[code]

The current output is:

[code]
Ideally there should be a case for handling those few times where a "missing" dependency is spotted under different [ ]

I know there won't

[2021-11-17 04:53] Brooooooklyn commented on #67497
Still appears in my projects,  change `codegen-units` and disable `lto` doesn't work anymore

[2021-11-17 05:01] Brooooooklyn commented on #67497
https://github.com/rust-lang/rust/issues/67497#issuecomment-734374384

@pnkfelix does this one enough to be **mcve**?

[2021-11-17 05:10] nathan opened #90974 "Incorrect suggestion for method call on ambiguous floating-point literal"
[Given the following code:](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=88c7a77f5b6fc63b5d1f18620933b1e3)

[code]

The current output is:

[code]

However, this won't compile, since rustc doesn't accept `3._f32` as a floating-point literal. The `help` should add the implied `0` for us:

[code]

See also https://github.com/rust-lang/rust/issues/51874, a similar issue wh

[2021-11-17 05:14] nathan commented on #41986
This appears to have been fixed.

[2021-11-17 05:14] #41986 closed

[2021-11-17 06:09] #90103 closed

[2021-11-17 06:09] #90931 closed

[2021-11-17 07:46] Marusugi opened #90976 "print! macro dams console out"
I tried this code:
[code]
entire source of project: https://github.com/Marusugi/bug_report.git

I expected to see this happen: I hope to see console like
[code]
Instead, this happened:
[code]

nothing appeared
### Meta

`rustc --version --verbose`:
[code]

Nightly and beta compiler did same behavior

<details><summary>Backtrace</summary>
<p>

[code]
Nothing outputted

</p>
</details>

[2021-11-17 08:34] Marusugi commented on #90976
I made mistake. In num_place.rs: 70 in definition of cin(). It should be written like
[code]
but I code
[code]

I modified and project seems to behave as I hope now.
I'm so sorry.

But, In my opinion, This behavior is misleading and not intuitive..

[2021-11-17 08:42] hkratz commented on #90976
Stdout is usually line-buffered, see https://doc.rust-lang.org/std/macro.print.html

If you want to make sure that the text is printed immediately use `println!()` or `flush()` stdout.

[2021-11-17 08:48] Marusugi commented on #90976
Thanks! and sorry to bother you.. Now, I understand!

[2021-11-17 08:48] #90976 closed

[2021-11-17 09:10] GuillaumeGomez commented on #87957
There are a lot of things that can be done. For example, for more than 3 items, we could show only the 3 first and show the rest on click. It's mostly about how to display things.

[2021-11-17 09:53] hkratz commented on #90969
Surprisingly enough, the Option messes things up: [Godbolt](https://godbolt.org/z/h1f4Tbx8r)

[2021-11-17 09:54] QiangHeisenberg opened #90977 "```RUSTFLAGS="-Z sanitizer=address"``` No specific number of lines"
References：https://github.com/rust-lang/rust/pull/38699

foo/src/main.rs
[code]
I run ```RUSTFLAGS="-Z sanitizer=address" cargo run --target x86_64-unknown-linux-gnu ```

Results：
[code]

It doesn't show the exact number of lines, I don't know what I did wrong.

my message:
[code]

I've tried：
[code]
But it didn't work.

[2021-11-17 09:58] QiangHeisenberg commented on #39699
I have a problem. Why is there no specific number of lines displayed here?
References：https://github.com/rust-lang/rust/issues/90977

[2021-11-17 10:00] ChrisDenton commented on #90964
You code doesn't seem to be checking the exit statuses?

In any case I'm uncertain what you're trying to show. I agree that the standard library's internal handling of stdio is great (quibbles about setting null vs invalid aside). Indeed that's my point. It uses proper Rust types and doesn't use sentinel values internally if it can help it. When a foreign interface returns value which may have sen

[2021-11-17 10:12] hkratz commented on #90977
Works for me with llvm-12 on Ubuntu 20.04:
[code]
We should consider bundling `llvm-symbolizer` in the `llvm-tools-preview` component though.

[2021-11-17 10:17] GuillaumeGomez commented on #90943
I think this is a good idea. I'll send a PR for it.

[2021-11-17 11:01] QiangHeisenberg commented on #90977
Thanks, this really works, I updated llvm8 to llvm 10 and it does work.

[2021-11-17 11:02] #90977 closed

[2021-11-17 11:20] yanok commented on #90301
Created #90978

[2021-11-17 11:26] Ethiraric opened #90979 "Multiple `#[test]` attributes run the test multiple times."
If a function has multiple `#[test]` attributes, the test is run as many times as the attribute is repeated with `cargo test`.

The following code runs `doing_the_thing` 8 times:

[code]

I expected to see this happen: The compiler errors

Instead, this happened: It compiles fine and the test is run 8 times

### Meta
`rustc --version --verbose`:
[code]

Happens on nightly as well:
[code]

cc @Guil

[2021-11-17 11:29] GuillaumeGomez commented on #90979
I think we should emit a warning in such case, that shouldn't be too complicated.

@Ethiraric said he would be interested into working on it so I'll assign them and help them implementing it.

[2021-11-17 11:57] m-ou-se commented on #62358
Maybe, but each function will need a clear name. And I'd really like to use `contains` for `.contains(|x| x > 5)` rather than `.contains(&5)`, since I think that the latter will rarely be useful (especially for `Option`s).

We tend to have a relatively high bar for additions to fundamental things like `Option` and `Iterator`. I personally think `.contains(&5)` does not pass that bar, but `.contain

[2021-11-17 12:03] m-ou-se commented on #62358
If I look at these three lines of code
[code]
then as an reader without context I'd probably only understand the first one without having to look up the documentation to see what the method does.

`and_with` makes me think of `and_then`, which is quite different. And `some_with` reminds me of `bool::then_some`, and sounds like it'll produce a `Some` rather than a boolean.

[2021-11-17 12:22] mbartlett21 opened #90981 "Tracking Issue for `decode_utf8`"
Feature gate: `#![feature(decode_utf8)]`

This is a tracking issue for decoding characters from byte (`u8`) iterators.

### Public API

[code]

### Steps / History

- [ ] Implementation: #90980
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Should the error just consist of a single byte?

[2021-11-17 12:28] yanok commented on #90301
Actually I was too slow, there is already #90954

[2021-11-17 12:29] jendrikw opened #90982 "rustc suggests `_::_serde::__private::Ok(1)` instead of `Ok(1)`"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=use%20serde%3A%3ADeserialize%3B%0A%0A%23%5Bderive(Deserialize)%5D%0Astruct%20S%20%7B%7D%0A%0Afn%20f()%20-%3E%20Result%3Ci8%2C%20()%3E%20%7B%0A%20%20%20%201%0A%7D%0A%0Afn%20main()%20%7B%0A%20%20%20%20println!(%22Hello%2C%20world!%22)%3B%0A%7D

[code]

The current output is:

[code]

Ideally the output

[2021-11-17 12:30] mbartlett21 commented on #90981
Actually, after looking around a bit, Rust already had this and it was deprecated and removed, so closing for now.

(#33906)

[2021-11-17 12:30] #90981 closed

[2021-11-17 14:30] Taha-Firoz commented on #78057
I've hit the same problem but matching against const Uuid's. Is there a work around other than adding an if statement in each arm.

[2021-11-17 15:08] camelid commented on #90865
I agree, that sounds like the right behavior to me.

[2021-11-17 15:27] tavianator commented on #90971
Doesn't need GATs:

[code]

This is intentional.  `T::Ref` could be the same as `TypeRef<T>` and the impls would conflict.

[2021-11-17 15:43] sunfishcode commented on #90964
Ah, you're right, I was forgetting to check the exit statuses. With that fixed I now indeed see that child processes of a parent that lacks a console get a `Stdout` where `as_raw_handle()` returns `INVALID_HANDLE_VALUE`.

[2021-11-17 15:57] jendrikw commented on #90982
Seems related to #21934.

[2021-11-17 16:34] camelid commented on #83380
I'm not sure why this change doesn't work correctly, and I probably won't be able to look into it soon, so releasing assignment for now. I may try again in the future if someone else doesn't do it by then.

[2021-11-17 17:54] nbdd0121 commented on #90940
@m-ou-se is it intentional that E-medium is added instead of P-medium?

[2021-11-17 17:54] m-ou-se commented on #90940
Oh oops.

[2021-11-17 19:02] mexus commented on #85410
Is there anything else that needs to be done? :thinking:

Seems like the PR from the first message has been already merged, so isn't it time for the FCP? :)

Also it seems kinda strange that there's no assignees in this issue.

[2021-11-17 20:19] #90857 closed

[2021-11-17 20:19] #90585 closed

[2021-11-17 20:40] dhardy commented on #65823
Fair argument, though personally I don't agree.

Your example uses `derive(macro_x)` to do the parsing and `macro_x` as a parameter.

But you can do the same with any type of proc macro preceeding the repeated attribute, e.g.
[code]
The only difference from `proc_macro_derive` is that your macro is responsible for removing the attribute from output.

[2021-11-17 21:02] Nilstrieb commented on #90869
It's fixed now and soon coming to a nightly near you :)

[2021-11-17 21:04] JakobDegen commented on #90970
@rustbot claim

[2021-11-17 22:05] ShadowJonathan commented on #62358
Good points, though still, when i personally look at `.contains()` i more or less expect a `X contains Y` "english" wording, rather than `X contains (test with Y)`.

An alternative (that i forgot to write down) was `and_test`, or just `test`, but that might touch the entire testing idea of rust, so i wasn't 100%

(Also sorry if this bikeshedding is not warranted at the moment)

[2021-11-17 22:06] nagisa opened #90992 "FulfilmentError ICE with trait-provided method implementations and -Clink-dead-code"
The following code ICEs from 1.24.0 onwards when built with `-Clink-dead-code` ([godbolt](https://godbolt.org/z/aTEhajEzM)):

[code]

---

In this example, the `where &'a (): Peach` bound is never satisfied and it is indeed reported as such by the compiler when attempting to call `Banana::<'static>::apple` explicitly:

[code]

However in absence of calls to `Banana::apple` there is nothing to “for

[2021-11-17 22:07] jhpratt commented on #62358
In my opinion anything that accepts a closure here should have "if" in the name.

[2021-11-17 22:21] camsteffen commented on #62358
`and_if` complements `and_then` nicely.

[2021-11-17 22:21] Aaron1011 commented on #71249
cc @estebank @michaelwoerister @nagisa @nikomatsakis @pnkfelix @wesleywiser - when you get a chance, can you review the FCP?

[2021-11-17 22:53] Badel2 opened #90993 "internal compiler error: the following error was constructed but not emitted: unexpected token: `.`"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

Affected versions: I tried stable 1.56.1 and nightly 2021-11-16

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

I already found a solution, this line is missing `e.cancel()` before dropping the

[2021-11-17 22:54] Badel2 commented on #90993
@rustbot claim

[2021-11-17 23:19] memoryruins commented on #89302
Should this be closed based on the reasoning in https://github.com/rust-lang/rust/pull/89301#issuecomment-932171065 ?

[2021-11-18 02:11] estebank opened #90997 "Trait errors should suggest `*` if appropriate for the boudn to succeed"
Trait errors should suggest dereferencing just like type errors do in the second error below:

[code]

[2021-11-18 02:29] #89302 closed

[2021-11-18 02:29] ohsayan commented on #89302
Thanks for reminding. Forgot about this!

[2021-11-18 03:17] jsha commented on #85138
Following up from the PR with some UI discussion.

I'd prefer not to add more icons up at the top of the page; we're already a bit crowded with icons. And there's no icon that has a broadly understood meaning of "object safe".

I like the approach in #89553, to write out "This trait is object-safe." But that PR puts it all the way at the top of the page, which is very high priority - and I would s

[2021-11-18 03:39] davidli2010 commented on #90971
In my scenario, the lifetime of T::Ref<'a> is necessary. But you are right, T::Ref<'a> could be the same as TypeRef<T> and the impls would conflict.

[2021-11-18 03:39] #90971 closed

[2021-11-18 03:49] jyn514 commented on #85138
I don't think this is necessarily true, you can have a `dyn Foo` that doesn't implement `Foo`. But putting the text under "implementors" seems as good a place as any 👍

[2021-11-18 04:10] sanxiyn commented on #88942
@nagisa cc @infinity0 Are you sure about Debian? https://wiki.debian.org/MIPSPort suggests mips64 (MIPS, 64-bit, big endian) is not supported by Debian. I am actually unsure which distribution is widely used for mips64.

[2021-11-18 05:23] veber-alex commented on #84223
If this is a pure performance optimization, can the macro just "do the right thing" without any user facing syntax?
It will require some compiler magic but maybe it's worth it in this case?
This way also avoids any breaking changes in the future as what is optimized and what isn't is internal.

[2021-11-18 08:01] chaitanyav commented on #90979
@GuillaumeGomez can i work on this one?.

[2021-11-18 09:24] apiraino commented on #90838
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2390838.20Unsound.20drop.20due.20to.20imperfect.20lifetime.20checks) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-11-18 09:31] ModProg commented on #65823
The idea was to have multiple calls to a proc macro being able to read the same attributes without having to delete them.

[2021-11-18 09:44] apiraino commented on #90752
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2390752.20Miscompilation.20where.20binding.20only.20some.20fields.20leaks.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-11-18 09:47] GuillaumeGomez commented on #90979
No, as indicated in my message, @Ethiraric is already working on it.

[2021-11-18 10:24] apiraino commented on #89195
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2389195.20Compilation.20appears.20to.20loop.20indefinitely) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-11-18 10:24] e2-71828 opened #91004 "Deref documentation: Remove references to "smart pointers""
The documentation for [`Deref`](https://doc.rust-lang.org/std/ops/trait.Deref.html) reads, in part:

This warning has sparked significant confusion, which seems to stem from there being no consensus of what *actually is* a "smart pointer".  The warning should be either removed or rewritten in terms of well-understood properties.

Relevant URLO discussions:

* [What are smart pointers?](https://use

[2021-11-18 10:41] petrochenkov commented on #65823
That's a pretty good motivation, IMO.

[2021-11-18 10:49] WaffleLapkin opened #91005 "Tracking Issue for `str::from_utf8_unchecked_mut` as a `const fn`"
Feature gate: `#![feature(const_str_from_utf8_unchecked_mut)]`

This is a tracking issue for `str::from_utf8_unchecked_mut` marked as a `const fn`

### Public API

[code]

### Steps / History

- [x] Implementation: #90607
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-11-18 10:55] WaffleLapkin opened #91006 "Tracking Issue for `const` checked slice to `str` conversions"
Feature gate: `#![feature(const_str_from_utf8)]`

This is a tracking issue for `str::{from_utf8, from_utf8_mut}` and `str::Utf8Error::{valid_up_to, error_len}` as `const fn`

### Public API

[code]

### Steps / History

- [x] Implementation: #90607
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-11-18 11:01] quantatic opened #91007 "E0046 suggests unsupported equality constraint bounds"
Given the following [code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1386e859adae67a40b9bb163e0048ac4):

[code]

The current output is:

[code]

Following the suggestion [given](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=49b01f15c98129d5bbe4c7c74294eba2):

[code]

two additional errors are raised:

[code]

These errors are fixable like [so

[2021-11-18 11:31] JanBeh commented on #91004
An alternative could be to actually define the term "smart pointer" somewhere. The reference contains a [paragraph on smart pointers](https://doc.rust-lang.org/reference/types/pointer.html#smart-pointers) in section 4.1.13 on ["pointer types"](https://doc.rust-lang.org/reference/types/pointer.html), but lacks a definition.

However, it is at least questionable whether such a definition could

* re

[2021-11-18 11:59] nagisa commented on #88942
Not entirely sure where I found that information. In retrospective I should've linked my sources ^^.

[2021-11-18 12:00] ChrisDenton commented on #91004
Hm from a teaching standpoint, I'd definitely agree the docs shouldn't be introducing jargon without first defining it. And in this case I'm uncertain of the benefit of introducing it at all. In Rust, is the term actually used outside of `Deref`?

It may be better to directly explain what kinds of types `Deref` should be implemented for and what would help "avoid confusion". That said, the fuzzine

[2021-11-18 12:10] tmiasko opened #91009 "Values that need to be dropped are promoted in const / static initializers"
For example, promotion succeeds in the example below, although compilation nevertheless fails due to checks for live drops:

[code]

With `const_precise_live_drops`, checking for live drops is delayed until after the promotion, so the following example compiles successfully:

[code]

The check for live drops can also be passed by providing a const drop implementation. The following example compile

[2021-11-18 12:40] ChrisDenton commented on #91004
Follow up: The Rust book does actually have a [chapter on smart pointers](https://doc.rust-lang.org/stable/book/ch15-00-smart-pointers.html). And then the term is used in the next chapter on [Fearless Concurrency](https://doc.rust-lang.org/stable/book/ch16-03-shared-state.html?highlight=smart%20pointer). Some quotes:

[2021-11-18 12:51] piegamesde commented on #90558
Okay, it actually does work. What is the procedure around Rust's LLVM dependency? How often is it bumped? Is this a candidate for cherry-picking onto rust-llvm?

[2021-11-18 12:56] fee1-dead opened #91010 "`black_box(&x)` prevents emitting a constant return value, but it shouldn't"
Another form of the same issue AFAICT: #86510

On latest nightly, `black_box(&x)` prevents codegenning a constant return value, but it shouldn't.

This is possibly because of over pessimism about interior mutability, but we should be able to tell whether a type is interior mutable or not.

[Godbolt](https://rust.godbolt.org/z/qcTYa78Ej)

[code]

The return instruction moves from a location on the

[2021-11-18 13:11] elertan commented on #90662
Any advancements on this issue? I currently can't upgrade to Rust 1.56 due to this exact problem

[2021-11-18 13:37] SOF3 opened #91011 "wasm32-unknown-unknown stuck in infinite loop"
I failed to reproduce a minimum reproducible example for this bug, but the full steps to reproduce my scenario is found here: https://github.com/traffloat/traffloat/runs/4251506793

(Put simply: clone the repo, `cd client`, run `cargo build --target wasm32-unknown-unknown `)

Observation: when cargo compiles up to the `fluemt-bundle` crate, rustc keeps running for a few minutes on 100% CPU, using

[2021-11-18 13:44] crisidev opened #91012 "Stack overflow with struct update syntax"
This problem happens when using Struct update syntax with Default implementation (https://doc.rust-lang.org/book/ch05-01-defining-structs.html#creating-instances-from-other-instances-with-struct-update-syntax).

I have found this bug in a more complicated piece of code, but I was able to create a simpler reproduction.

[code]

I expected this to just print "Hello, world!", but instead it panics wi

[2021-11-18 14:13] Mark-Simulacrum commented on #90812
https://github.com/rust-lang/rust/pull/90938#issuecomment-971301488 is another failure, yesterday.

[2021-11-18 14:19] y86-dev commented on #85099
Hi, I am new to rust development and not really sure where to post this, so i figured here would be fine. I found this issue and took interest in fixing it. I looked through related issues and the Zulip thread, but did not find any newer contributions.
But since this bug is still present in stable I guess it has not been fixed. I was not able to find out, if anyone is working on a fix, or if a fix

[2021-11-18 14:44] xDarksome opened #91014 "Unexpected semilocon makes rustdoc to produce false negatives"
I tried this code:

[code]

[code]
I expected to see this happen:
[code]

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

Also, reproduces on [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d229f821f3a532bfaf6c1790da28c0c6) (1.56.1 / 1.57.0-beta.3 / 1.58.0-nightly)

Putting struct def after the `main` function makes rustdoc to beh

[2021-11-18 15:05] jyn514 commented on #90982
This should be fixed by https://github.com/rust-lang/rust/pull/87349.

[2021-11-18 15:11] pnkfelix commented on #72016
That's a great idea, @nagisa.  I went ahead and did this on @Amanieu's behalf. It would probably be a good practice to try to do this in general, since the stabilization reports are often excellent checkpoints for people to jump to when they are reading the description of a tracking issue like this.

[2021-11-18 15:18] billyb2 opened #91015 "ICE: attempted to read from stolen value: rustc_middle::mir::Body', compiler/rustc_mir_transform/src/check_unsafety.rs:445:36"
### Code

[code]

### Meta

I can't use the stable compiler, since I rely on some nightly only features

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-18 15:18] ehuss commented on #90979
FYI, PR #88681 is open to check for duplicate attributes.  It doesn't handle test/bench because those are proc-macros, and it can be tricky to detect duplicates on those (see https://github.com/rust-lang/rust/pull/88681#discussion_r748167322).  So just a heads up this may not be particularly easy.  I'm curious why it doesn't fail [this check](https://github.com/rust-lang/rust/blob/6414e0b5b308d3ae

[2021-11-18 16:06] dvc94ch commented on #73755
so the problem above is that std isn't compiled with the +multivalue flag. however when running:
[code]
I get:
[code]
using `-Zbuild-std=panic_abort,std,compiler_builtins` doesn't help. any ideas why it's not working and how to get it to work?

[2021-11-18 16:40] CryZe commented on #73755
Seems like building compiler_builtins segfaults in the linker.

[2021-11-18 16:51] adrian17 commented on #89647
Do you think this set of issues could be considered a NewPM (I'm assuming it's NewPM-related) blocker?
I just verified that this reproduces on GH Actions and kills the build: https://github.com/adrian17/ruffle/runs/4253768752?check_suite_focus=true#step:8:292

[2021-11-18 17:05] est31 opened #91017 "ICE with let_else: trimmed_def_paths constructed"
### Code

I was working on #91018, a follow up for #89933, and was adding `let_else` to `rustc_mir_build` when I encountered the ICE.

The code is available in my local rustc fork on the [let_else_ice](https://github.com/est31/rust/tree/let_else_ice) branch. I've minimized it to the single invocation that causes the ICE.

### Error output

[code]

<details><summary><strong>Full error log</strong><

[2021-11-18 17:18] est31 commented on #91017
I would like to minimize it further, but before that I'd like some feedback whether the ICE is fixed by #89841 or not.

[2021-11-18 17:27] estebank commented on #90970
Linking to the [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/147480-t-compiler.2Fwg-diagnostics/topic/Best.20strategy.20for.20.2390970) for the record.

[2021-11-18 17:44] PatchMixolydic commented on #91004
Incidentally, [`String` doesn't implement `Drop`](https://doc.rust-lang.org/nightly/std/string/struct.String.html#trait-implementations) since the inner `Vec<u8>`'s `Drop` implementation is sufficient.

[2021-11-18 19:48] inquisitivecrystal commented on #90865
Quick update: I've got a substantive patch, but it's taking a while to get the tests to a point where I'm satisfied with them.

[2021-11-18 19:53] rben01 commented on #67984
Are there any plans to add support for something like Python's `=` suffix, which expands into `expr=value`? (And if not, could there be?) E.g., in Python, `x=1; print(f"{x+1=}")` prints `x+1=1`. (Julia also has a similar construct, the `@show` macro; `@show x+1;` → `x + 1 = 2`. Python's is a little more powerful, as it respects any normally-insignificant whitespace; `print(f"{x +1 = }")` → `x +1 =

[2021-11-18 20:04] hollmmax opened #91020 "Suggest surrounding with braces when using a const function with arguments with const generics."
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=158f6163789fda6c04165c1330c8a0eb)

[code]

The current output is:

[code]

Ideally the output should also suggest adding braces to `foo::<baz(1)>()`

[2021-11-18 20:08] programmerjake commented on #67984
@rben01

The `dbg!` macro covers most of that need...

[2021-11-18 20:18] rben01 commented on #67984
@programmerjake

As I understand it, `dbg!(expr)` is the equivalent of Python's `print(f"{expr=}")`, but there isn't yet support for more general string interpolation. For instance, rust doesn't support `println!("Expected {expr1=}, got {expr2=}")`. Also, importantly, `dbg!` moves its input, whereas `println!("{expr1}")` only takes a reference .

[2021-11-18 20:40] jsha commented on #88120
Instead, what about using the same color conventions in source view that we do in doc view? As in, the last token of a path (`Baz` in `foo::bar::Baz`) is linkified and colored.

There's a slight conflict here:

 - the source view is currently color-highlighted the way an IDE highlights: keywords are colorized; identifiers and types are unmarked.
 - the doc view is color-highlighted in an inverse w

[2021-11-18 21:15] dhardy commented on #65823
@daxpedda actually, what you mean is the ability to have multiple uses of a single attribute *which can observe other uses of that same attribute*, and without the first instance doing the work of implementing all instances (which is also possible).

Note that there was also an afore-mentioned point about paths and renaming of the macro import, which is still a potential issue here.

[2021-11-18 21:16] camelid commented on #88120
Hmm, it's an interesting idea. FWIW, some IDEs *do* color identifiers (semantic highlighting).

[2021-11-18 22:05] iptq opened #91023 "ICE: attribute-related parser bug when consuming generated code"
I was trying to add Cap'n Proto to the list of languages that [Tokei] is able to recognize. I didn't realize that the build script took this list and generated rust code directly and blindly typed `"Cap'n Proto"` as the language name, since that's what it is.

The error seems to come from [`attr_wrapper.rs`][1] from within the parser.

[Tokei]: https://github.com/XAMPPRocky/tokei
[1]: https://gith

[2021-11-18 22:25] estebank commented on #89418
Update: looked a little bit deeper into this and this is what I got to:

<img width="960" alt="Screen Shot 2021-11-18 at 2 23 15 PM" src="https://user-images.githubusercontent.com/1606434/142506442-1430896e-aa9a-486e-b464-de01f130eae5.png">

[code]
Expect a follow up PR for that work, as the current changes improve things here but break others.

[2021-11-18 22:36] Mathspy commented on #67984
you can pass a reference to `dbg!(&a)`, the reason dbg! takes ownership is rather interesting, it’s because it returns what you pass to it too! So for example if you have some code like `let x = a + b + c` and you wanna find out the value of `b + c` you don’t have to temporarily add a variable and can instead do `let x = a + dbg!(b + c)` and the result of `b + c` needs to only implement `Debug` no

[2021-11-18 22:37] Badel2 commented on #91023
I got the same error while fuzzing, I think it's tracked here: #81920

[2021-11-18 22:56] Amanieu commented on #88716
Note that clearing the groups only happens if the user asked to change to a different UID. I think it makes sense in this case to always drop the groups since they are tied to the previous UID and most likely aren't supposed to be kept for the new UID. If you really want to preserve the groups while changing UID (unlikely anyone would ever want that...) then you can explicitly pass the list of gro

[2021-11-18 22:58] Amanieu commented on #90343
@rfcbot fcp merge

[2021-11-18 22:58] Amanieu commented on #90343
@rfcbot merge

[2021-11-18 23:29] #85864 closed

[2021-11-18 23:29] #90974 closed

[2021-11-18 23:30] rust-highfive opened #91025 "`miri` no longer builds after rust-lang/rust#91019"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#91019, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-11-18 23:31] nnethercote commented on #60705
An issue came up in https://github.com/rust-lang/rust/pull/89917#issuecomment-963755731 that is worth mentioning here: the compiler currently generates some v0 symbols that have a `.llvm.<numbers>` suffix, which violate the v0 spec (it doesn't allow '.' chars), and some v0 demangler implementations (libiberty and Valgrind) fail to demangle these symbols.

Either the compiler should be fixed to not

[2021-11-18 23:45] mattelkinsTC opened #91027 "Incorrect Release Code Generation (Works in Debug)"
I tried this code:

[code]

I expected to see this happen: *In both debug and release builds, I expect to see "CORRECT" be printed.*

Instead, this happened: *The debug build correctly prints "CORRECT", but the release build incorrectly prints "INCORRECT". Minor perturbations cause the release build to print "CORRECT". Presumably the code is triggering an excessively-aggressive optimization.*

###

[2021-11-19 00:11] RalfJung opened #91028 ""X is ambiguous" error is missing a span when the standard library source is not available"
This code on the playground
[code]
produces the following error
[code]
Note how the 2nd note is dangling: no span is shown after it says 'could also refer to the enum defined here'.

I was not able to reproduce this locally, so this might also have to do with something special the playground is doing -- Cc @shepmaster

[2021-11-19 00:23] RalfJung opened #91029 "Safe function genrated MIR reads discriminant of moved-out local"
https://github.com/rust-lang/rust/pull/90895 caused the Miri test suite to fail, and further investigation showed that this is due to strange MIR being generated for `Option::map`: when I dump the MIR for [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=59e6616cbc91233838a0b3b644ec953b) and look at the pre-const-prop code, it looks like:
[code]
The strangeness i

[2021-11-19 00:27] m-cat commented on #90806
I found something interesting.

[code]

I saw two instances of cargo as an active process but not rustc.

Looks like a build script issue, indeed... I'll keep looking.

[2021-11-19 00:28] RalfJung commented on #91025
Blocked on https://github.com/rust-lang/rust/issues/91029

[2021-11-19 00:42] mjptree commented on #90702
There are still some interplays between types, that I'm not sure I properly understand. My current approach to handling `extern crate` resolution in `build_reduced_graph_for_item` is
[code]

If I try to `cargo check` the following example program
[code]
I receive errors for both failed resolutions of `boo`
[code]
I think although the `use boo` declaration has correctly errored, the `boo::buzz()` w

[2021-11-19 01:33] sanxiyn commented on #90558
LLVM procedure is at https://rustc-dev-guide.rust-lang.org/backend/updating-llvm.html. I think this is a candidate for cherry-picking but someone needs to do the work.

[2021-11-19 01:41] ehuss commented on #91027
Thanks for the report!  This appears to have been fixed by #88765.  I don't see which change in that update would be related to this, but maybe @rust-lang/wg-llvm can comment.

[2021-11-19 01:54] ehuss commented on #91027
https://bugs.llvm.org/show_bug.cgi?id=51125 looks suspiciously similar.

[2021-11-19 02:29] petrochenkov commented on #90702
The output in https://github.com/rust-lang/rust/issues/90702#issuecomment-973591306 is exactly what I'd expect from using `Res::Err` for unresolved `extern crate` imports
Except for the "failed to resolve: use of undeclared crate or module `baz`" error, it's strange because `baz` should be declared as `Res::Err`.
This is already an improvement that can be submitted as a PR and merged.

Doing somet

[2021-11-19 02:43] petrochenkov commented on #90702
`--extern` is nothing, it doesn't load a crate by itself.
It's an information that helps the compiler to find a crate *if* it's requested from any path like `my_crate::zzz::yyy` or `::my_crate::zzz::yyy` (in import or elsewhere).

This looks correct.

Creating a dummy `CrateMetadata`/`CrateNum` is hard and is an unreasonable cost for an issue like this.
Maybe keeping a set of `Symbol`s with previo

[2021-11-19 02:54] EFanZh commented on #89265
It seem that there was a time that variance on traits is a thing: <https://rustc-dev-guide.rust-lang.org/variance.html#addendum-variance-on-traits>:

[2021-11-19 03:35] shepmaster commented on #91028
I’d guess it has something to do with the number of crates and their types available by default.

For example, just typing `Option` by itself says:

[code]

[2021-11-19 03:50] camelid commented on #91028
I think the standard library is not always distributed with sources, which sometimes causes weird diagnostics. That could be what's happening here.

[2021-11-19 05:25] QuineDot commented on #63065
The implementation was removed as part of #86729 and the corresponding checkbox should be unchecked.

[2021-11-19 05:25] QuineDot commented on #69476
[The implementation has been removed](https://github.com/rust-lang/rust/issues/86729) so this can perhaps be closed?

[2021-11-19 07:57] est31 commented on #91017
wait this is a dupe of #89960, the fix just didn't have time to get to the bootstrap compiler yet. Closing.

[2021-11-19 07:57] #91017 closed

[2021-11-19 08:05] daxpedda commented on #65823
The goal is

[code]
The way to make this work, is to have

The reason this isn't possible, is because of

The solution to that problem is to replace multiple uses of a `proc_macro_attribute` with a single use of a `proc_macro_attribute`. The only need to have multiple uses of a `proc_macro_attribute` is because it would contain different options. So to implement this solution, all options have to

[2021-11-19 08:16] glandium commented on #90301
FWIW, while taking the 1.56.0 source and applying the 2 LLVM reproducibility patches fixes the issues we have with Firefox, the latest nightly doesn't: there's a remaining reproducibility issue on i686 linux. I'll test a patched beta next.

[2021-11-19 08:39] oli-obk commented on #90762
Yea that makes sense.

So there are four ways forward:

* do nothing, keep inconsistent behaviour
* make mir building more complex by having it understand that statements and terminators with multiple operands may not reach all operands if one of the operands is diverging. Horrible plan...
* make mir building never emit const operands except for some blessed rvalues like `Use`. This creates a temp

[2021-11-19 09:02] #90940 closed

[2021-11-19 09:18] tmiasko commented on #90762
There might be a room for some middle ground solution, where temporaries are introduced only if a type actually needs to be dropped. Constants that need to be dropped are rather uncommon.

[2021-11-19 10:06] ilslv opened #91036 "Lifetime in GAT must outlive trait parameters"
Related to https://github.com/rust-lang/rust/pull/89970

## Code

[code]

Basically I want to desugar `async fn`. For this I need to describe `Fut` GAT that lives the smallest of the `'me` and `'ctx`, but I get compiler error with requirement that doesn't really make sense to me.

[code]

`'out` cant't outlive `'ctx`.

## Meta

fails on `1.58.0-nightly (2021-11-18 cc946fcd326f7d85d4af)` [Playgroun

[2021-11-19 10:15] asmello commented on #54663
For the interested, this workaround worked for me:

[code]

Caching `bar(x)` in a variable doesn't work, which is very unfortunate if that call is expensive (thankfully it's not in my case).

[2021-11-19 10:21] orenbenkiki commented on #63193
Does it make sense to consider a feature request for an `example` indicator, which works similarly to `ignore`, but is not picked up by `cargo test --ignored`?

[2021-11-19 10:27] vandenheuvel commented on #91036
Do you need a GAT here? Lifetime `'out` outlives everything else. I would expect a GAT lifetime to live shorter than the trait.

[2021-11-19 10:32] ilslv commented on #91036
@vandenheuvel

Not really. Lifetime `'out` live the shortest of `'me` and `'ctx` lifetimes. This is done by `'me: 'out, 'ctx: 'out` which means: both `'me` and `'ctx` outlive `'out` => `'out` should be shortest of `'me` and `'ctx`

See https://github.com/rust-lang/rust/issues/56238#issuecomment-441736818 for more info

[2021-11-19 11:17] JanBeh commented on #91004
Perhaps a better way is to describe when `Deref` should or shouldn't be implemented. Then the term "smart pointer" or ["smart reference"](https://users.rust-lang.org/t/what-are-smart-pointers/67361/31?u=jbe) could (in the context of Rust) be defined as "anything that implements `Deref`", e.g. in the reference.

Currently [some people say](https://users.rust-lang.org/t/what-are-smart-pointers/67361

[2021-11-19 12:01] eddyb commented on #60705
I don't think either of them is correct - or at least `rustc-demangle` doesn't do either, and does handle those pesky suffixes.

Does C++ Itanium mangling allow for the `.llvm.` suffixes? AFAIK no, but you should get them if you use Clang with LTO.

What `rustc-demangle` does, and what these tools should probably also do, is limit the symbol to just before the suffix, *before* attempting to demang

[2021-11-19 12:25] dmitris opened #91038 "rustc internal compiler error on './x.py check'"
### Code
`./x.py check` fails both on Mac and Linux (rhel8) - git version e8423e6c449ad3f4b0dab442175462004554e499, output copied to gist https://gist.github.com/dmitris/be1682fade33a8bb5f3b5db6204fb52c, with `RUST_BACKTRACE=full`: https://gist.github.com/dmitris/118a5aafc0687645d1d2238373c581ab. Hope it helps! 😄

### Meta

`rustc --version --verbose`:
[code]

### Error output
https://gist.github.

[2021-11-19 12:39] JanBeh commented on #91004
Following my previous comment, the warning could be changed to something like:

"Warning: Implementing `Deref` on a data type will make this data type act like a smart pointer. This isn't always intended, e.g. when wrapping another type for other reasons."

[2021-11-19 13:16] bjorn3 commented on #60705
https://itanium-cxx-abi.github.io/cxx-abi/abi.html#mangling-general

It does kind of allow them.

[2021-11-19 13:22] dmitris commented on #91038
never mind - the error went away after running `./x.py clean`

[2021-11-19 13:22] #91038 closed

[2021-11-19 13:33] leonardo-m opened #91039 "[ER] Two array bound tests with %"
(This should be an enhancement request).

[code]

Using rustc v.1.58.0-nightly cc946fcd3 2021-11-18, compiling in release mode (even with aggressive compilation flags) gives an asm like:

[code]

LLVM can't remove the two array bound tests, despite they should be safe when the array length is divisible by 5.

Currently LLVM is able to remove those tests if fully unrolls that loop compiling with `-

[2021-11-19 13:56] billyb2 commented on #91015
Turning off incremental compilation appears to fix the issue, so I'm assuming its a bug with that

[2021-11-19 14:00] RalfJung commented on #90762
That sounds like the proper solution to me? In fact this is required anyway in case any of these operands is a function call that might not return. So I am probably misunderstanding what you mean by "operand" here -- are you using this as a surface Rust term or as a MIR term? In MIR there are no diverging operands though... *confused*

[2021-11-19 14:38] jackh726 commented on #91036
Yeah, this looks weird

[2021-11-19 14:49] soc commented on #62358
Perhaps we can split the bike-shedding of unrelated topics into its own issue and consider what we can do to get this one across the finish line?

[2021-11-19 14:52] shepmaster commented on #91028
Yes, the playground [uses the `minimal` profile](https://github.com/integer32llc/rust-playground/blob/16260e6866213994fe38d63e97018610ce0e339f/compiler/base/Dockerfile#L34), which doesn't include the `rust-src` component.

As an example:

[code]

[2021-11-19 15:01] ShadowJonathan commented on #62358
I dont think that any bikeshedding of unrelated topics have come up, this is still primarily about the naming of `contains` specifically, afaik.

[2021-11-19 15:05] wesleywiser commented on #72016
The RFC provides a fallback strategy for backends that don't have support for inline assembly which consists of invoking an external assembler on the code and linking with that. I was curious if we've tried implementing that and are confident there won't be any hidden issues with that approach. cg_cranelift has implemented that which is excellent! Thanks @bjorn3!

I did notice that register classe

[2021-11-19 15:08] oli-obk commented on #90762
it's the same solution as the locals solution, just requiring us to have imaginary locals and figuring it all out in separate logic.

MIR can have diverging operands by having an uninhabited local and using that as in an `Operand::Copy`. This is what happens when you create an aggregate or do a function call where one of the arguments is uninhabited. That aggregate or call may be unreachable, but

[2021-11-19 15:14] bjorn3 commented on #72016
I simply haven't implemented register classes yet. I will need to write a mini register allocator to pick registers satisfying all constraints. I don't think it will be too hard to implement though.

[2021-11-19 15:44] nbdd0121 commented on #72016
I wonder if we should have a shared inline ASM fallback implementation in cg_ssa that could be enabled for LLVM backend with a debugging opts to make testing easier

[2021-11-19 15:55] yoshuawuyts commented on #74479
It seems like the conversation has reached a standstill once more. There appear to be two opposing, well-argued for positions, and it doesn't appear we'll automatically come to a resolution. The way I see it, we now have several options to choose from:

1. We punt the discussion on the implementation detail, and move forward to FCP with the implementation as-is. What's currently being discussed do

[2021-11-19 16:03] wesleywiser commented on #90123
This landed in beta (https://github.com/rust-lang-ci/rust/commit/7611e648bec007b44a191e9a904ea097eab16e26). Closing.

[2021-11-19 16:03] #90123 closed

[2021-11-19 16:07] pnkfelix commented on #90459
PR #89826 is in beta now. Closing as fixed.

[2021-11-19 16:12] the8472 commented on #74479
Well, I'm fine with 1 or 2 as long as adding the cgroup quotas is an acceptable change itself. But that acceptability is where the disagreement with josh lies I believe.
If we need a more complex API that distinguishes between steady-state and burstable parallelism or perhaps fractional CPU resources then maybe the current API shouldn't be stabilized.

[2021-11-19 16:34] cuviper commented on #89798
Backported in #90938.

[2021-11-19 16:34] #89798 closed

[2021-11-19 16:38] cuviper commented on #89522
Backported in #90938.

[2021-11-19 16:38] #89522 closed

[2021-11-19 16:39] Mark-Simulacrum commented on #89524
@nikic do we think we can push the patch for fixing this forward on the LLVM side somehow? It seems desirable to fix this as soon as we can, though it likely won't make the next release given the short timeline...

[2021-11-19 16:41] cuviper commented on #88576
Backported in #90938.

[2021-11-19 16:41] #88576 closed

[2021-11-19 16:42] wesleywiser commented on #72016
That sounds like a really good idea! Having a well-tested fallback implementation that can be re-used across various backends would be very helpful for any backends more like cg_cranelift than cg_llvm.

[2021-11-19 16:43] Mark-Simulacrum commented on #90286
@pnkfelix we're ~1 week out from release, will you be able to prepare the revert in time, or do we need to find someone else to do that?

[2021-11-19 17:49] kangalio opened #91046 "Code works in Edition 2021 but not 2018 even though it should"
I tried this code:

[code]

I expected to see this happen: the code should compile on 2018 and not just 2021, because as far as I can tell, there are no 2021 features that should affect the `ref_indices.map(|i| map.get(i))` call

Instead, this happened: compiling that code in 2018 edition yields this error:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-11-19 17:50] mjptree commented on #90702
Here we go. My very first pull request to the Rust compiler...

[2021-11-19 18:22] vandenheuvel commented on #91036
Thanks @ilslv, turns out it is possible to code rust for quite a while without properly understanding lifetimes.

[2021-11-19 18:27] cuviper commented on #90301
The next beta release should be fixed, per #90938.
(Should go out near 00:00 UTC -- I guess it will be `1.57.0-beta.4`.)

[2021-11-19 18:28] joshtriplett commented on #74479
@the8472 That's a reasonably convincing argument, thank you. I do think there are workloads (especially with bursting) where it makes sense to use all available CPUs, if you expect the load on services on the same machine to be mostly uncorrelated. However, I find your point about the 99% latency sufficiently compelling to suggest that that should be the *default* behavior. (We should document tha

[2021-11-19 18:30] joshtriplett commented on #74479
@rust-lang/libs, shall we stabilize `std::thread::available_parallelism()`, and also plan to merge future enhancements to it to support cgroup bandwidth limits?

@rfcbot merge

[2021-11-19 18:31] cuviper commented on #90357
I think this may be a duplicate of #90301. Please test on a current nightly, and when `1.57.0-beta.4` goes out it should have the backport via #90938.

It's still possible that #89041 introduced its own problem, but maybe it just exacerbated the LLVM issue.

[2021-11-19 19:06] cuviper opened #91050 "llvm::Module::getOrInsertGlobal returns a Constant*, not always GlobalValue*"
xref: https://bugzilla.redhat.com/show_bug.cgi?id=1990657

In Fedora, one particular crate has been seeing non-deterministic errors or crashes in the compiler, and I was able to reproduce it with a `rustup`-installed compiler as well. Valgrind gave the following error report, even on runs that otherwise appeared to succeed.

<details><summary>Valgrind error</summary>
<p>

[code]

</p>
</details>

[2021-11-19 19:18] tmiasko commented on #91050
Related bug reports #87933 #87813.

[2021-11-19 19:39] cuviper commented on #87813
Valgrind gave me a little more clue where this is coming from for #91050.
(Assuming it is indeed the same issue, but it seems likely.)

[2021-11-19 19:42] nikic commented on #89524
@Mark-Simulacrum I don't have much hope for a timely upstream fix. We can cherry-pick https://reviews.llvm.org/D98481. It has minor perf impact per #89830.

[2021-11-19 20:08] RalfJung commented on #90762
Okay so it's not the operand that is diverging, but the code that would initialize the local diverges.

[2021-11-19 20:10] cuviper commented on #91050
Ah, that does seem to be the case in the Fedora bug with `sha1collisiondetection`.

https://gitlab.com/sequoia-pgp/sha1collisiondetection/-/blob/main/lib/ubc_check.rs#L105
[code]

https://gitlab.com/sequoia-pgp/sha1collisiondetection/-/blob/main/lib/sha1.rs#L4
[code]

[2021-11-19 20:37] stepancheg opened #91053 "MaybeUninit::fill_slice"
Add a function:

[code]

Similarly to `slice::fill` is allows fast write of the same element to the slice.

Similarly to `MaybeUninit::write_slice_cloned`, it returns initialized slice without unsafe code.

[2021-11-19 20:38] scottmcm commented on #89273
Once we have `Integer<0..=N>`, `isqrt` on *that* should give `Integer<0..=⌊√N⌋>`.

That said, `uN::sqrt` should return `uN`.  Analogously to what https://github.com/rust-lang/rust/pull/88665#issuecomment-973792216 pointed our for `log2`, that way `x.pow(2).isqrt()` would return the the same type as `x`.

[2021-11-19 20:41] nbdd0121 commented on #91046
This is relaed to disjoint field capture in closure. Adding `#![feature(capture_disjoint_fields)]` will make it work in Rust 2018.

[2021-11-19 20:44] scottmcm commented on #91039
Is there anything Rust-specific here?  Do you get a different result with [`std::array::at` in clang](https://en.cppreference.com/w/cpp/container/array/at)?

If so, please show the difference so we can improve Rust's codegen for arrays.

If not, consider filing it directly to LLVM: https://llvm.org/docs/HowToSubmitABug.html

[2021-11-19 20:48] scottmcm commented on #91010
Can you elaborate on the situation where this is impacting you?

I wouldn't consider `black_box` to ever cause `I-slow`, because it's there to prevent optimizations, and the way to make it faster is to remove the `black_box`.

[2021-11-19 20:49] leonardo-m commented on #89273
For ranged integers now I've settled to like a syntax like u16[0 ..= N] similar to slicing. It's natural for a Rust programmer and it's compact.

Regarding the type round-trip, I'm content with using a safe looking "from":

    let x: u32 = 100;
    u32::from(x.pow(2).isqrt())

Rust doesn't have a typeof, otherwise you could write:

    type_of(x)::from(x.pow(2).isqrt())

There are situations wher

[2021-11-19 20:51] nbdd0121 commented on #91046
In Rust 2018 use of `map` will need to capture `&map`  (`&&'a mut HashMap<K, V>`), but in Rust 2021 it can captures `&*map` (`&'a HashMap<K, V>`), so I wouldn't consider this a bug. Your code could be fixed to compile in Rust 2018 with explicit reborrow:
[code]

[2021-11-19 20:56] glandium commented on #90301
the beta branch + the patches seems to fix it, but I've found something new: depending how llvm is built, the result can vary. Specifically, llvm built with a sysroot exhibits reproducibility issues that are not present when not building with a sysroot. I'll wait for the official build for 1.57.0-beta.4 for a definite answer whether the issue is fixed. One thing is sure, though, there's an additio

[2021-11-19 20:57] leonardo-m commented on #91039
I've tried this code:
[code]

And it seems that Clang Trunk is able to remove the first simpler bound test, but not the second:
https://gcc.godbolt.org/z/rzhn333qY

[2021-11-19 21:00] nikic commented on #91039
When reporting optimization issues, please always include an `--emit=llvm-ir` godbolt link in your initial report.

[2021-11-19 21:09] scottmcm commented on #83984
As an example why `fNN::max` definitely can't be changed: doing `.fold(f32::NAN, f32::max)` currently works great to get the largest non-NaN in an iterator (or to get NAN if it's empty or all NANs), and I would consider it unacceptable to break that.

[2021-11-19 21:18] Nilstrieb commented on #91020
@rustbot claim

[2021-11-19 21:19] bhgomes commented on #51085
Not sure if this is the expected behavior by the following does not compile:
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021

In this case, the "exhaustiveness" of a pattern requires checking the `trait` implementation instead of the types specified on the function boundary. The exhaustiveness check does work if you remove the trait:
[code]
https://play.rust-lang.org/?ve

[2021-11-19 21:30] scottmcm commented on #91039
Sounds like it's an LLVM bug, then, nothing to do with rustc?

(Unless you're using the gcc backend, but I assume you'd have mentioned it if you were.)

[2021-11-19 21:56] Amanieu commented on #74479
The main question that this API should answer is: how big should I make my thread pool for CPU-bound tasks. In this case it's better to overestimate (costs memory) than underestimate (missing out on potential parallelism). Essentially, this function should return what is the maximum potentially available parallelism.

[2021-11-19 22:05] compiler-errors opened #91058 "Erroneous suggestion to add `.field` when matching arrays"
Given [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=bf4b338da7bb255fbe8016171c64cc58):
[code]

The current output is:

[code]

We should suppress the `help:` suggestion in this case, since it's not possible to apply that change.

[2021-11-19 22:07] compiler-errors commented on #91058
The bug probably exists in `suggest_accessing_field_where_appropriate` in `rustc_infer::infer::error_reporting`. I've been touching stuff around that file, so I can claim this issue and put up a fix!

cc: @estebank since I mentioned this error in #91022

@rustbot claim

[2021-11-19 22:10] the8472 commented on #74479
What kind of underestimate are you worried about?

[2021-11-19 22:43] nagisa commented on #68793
Closing as per the comment above.

[2021-11-19 22:43] #68793 closed

[2021-11-19 22:47] Kixunil opened #91059 "Improve diagnostics of calling unimplemented trait method if a different one of same name is in scope"
If there are two trait methods of same name and different parameter and only one is implemented for a type but the user tries to call the other with wrong parameters rustc complains about number/type of parameters without any hint of possible different problem.

Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6c184630c6f07812c1582cd9c8

[2021-11-19 22:48] nagisa opened #91060 "-Ccontrol-flow-guard should raise an error on unsupported platforms"
Right now specifying `-Ccontrol-flow-guard` and targetting a non-msvc platform will silently ignore the `-Ccontrol-flow-guard` option. Given the purpose of the flag and the audience Rust targets, I think this is an ill-considered behaviour. Especially of concern I think is when a non-MSVC windows target is used. An engineer might think the mitigations are enabled and the code would work fine in th

[2021-11-19 22:49] nagisa commented on #91060
cc https://github.com/rust-lang/rust/issues/68793

[2021-11-19 22:51] thomcc commented on #83984
Yeah, I find minNum/maxNum's behavior regarding nan's pretty good, although the arguments they make for why they changed it in 2019 are compelling as well. Changes here would need to be new functions, I think.

[2021-11-19 22:53] nagisa commented on #91029
`bb8` has the same problem.

[2021-11-19 22:54] Kixunil commented on #91059
Maybe it's better to not try any heuristics and detecting parameters - just having the same method in a trait that's in scope may be useful if the user *also* messed up the parameter of the other method. I don't expect many FPs.

[2021-11-19 23:19] estebank commented on #90286
I'd looked at this a few weeks back: the problem is that reverting this causes *another* bug to resurface. We need two different spans for both these suggestions (and the one that were "fixed" by the PR with the regression) to work correctly :-/

If needed I can try and fix it next week before the release, but I'll need someone to be responsive for the review.

[2021-11-20 00:07] VoleurVolant opened #91063 "Suggestion for add-assigning chars to u32 could be improved"
Given the following code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=005f59d63a84412a73cfe88146c11f39

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-11-20 01:34] Amanieu commented on #72016
I agree, having a generic fallback implementation would be nice. It might be needed by the GCC backend since GCC inline assembly doesn't have an `equivalent` of LLVM's `alignstack`, so we have to use the fallback implementation unless the `nostack` option is set.

[2021-11-20 01:36] SamuelBonilla commented on #91063
I think that it's not an issue

https://users.rust-lang.org/c/community/8

[2021-11-20 01:37] scottmcm commented on #83984
Honestly I like `maximum`/`minimum` semantics *better*, since it's the same kind of lift <https://internals.rust-lang.org/t/lifting-binary-operations-e-g-t-t-option-t-option-t/6618/3?u=scottmcm> that the other operators (like `+`) do.  But `minNum`/`maxNum` aren't useless enough to even deprecate, let along change or remove.

[2021-11-20 01:51] thomcc commented on #83984
Right, i think there's cases where you want to propagate nans, and cases where you want to swallow them, and propagation   is more consistent with most of floating point semantics.

[2021-11-20 02:25] inquisitivecrystal commented on #91004
I feel like actually writing out a definition of smart pointer could be helpful here. Something like "Implementing `Deref` will often cause instances of the implementing type to be *silently* converted to the target type. Please consider whether this is desirable before implementing `Deref`, and avoid implementing it if the distinction between the two types is important." This phrasing is awful, b

[2021-11-20 02:37] inquisitivecrystal commented on #91012
Thanks for the report! Since this appears not to actually be a problem with rustc, and there's already an issue tracking the diagnostic, I'm going to close this issue. Anyone should feel free to reopen if there's something I'm missing.

[2021-11-20 02:37] #91012 closed

[2021-11-20 02:41] inquisitivecrystal commented on #91063
Could you elaborate on the reason you think so? In general, rust tries to provide helpful diagnostics for errors that someone might reasonably make. It's not that there aren't other solutions, such as asking for help, but simply that it saves time and makes the language more approachable for newcomers.

[2021-11-20 02:41] Ozkabgundogan opened #91067 "I think we should consider stabilizing this feature for the 1.25 release (this cycle). As such:"
I think we should consider stabilizing this feature for the 1.25 release (this cycle). As such:

@rfcbot fcp merge

_Originally posted by @aturon in https://github.com/rust-lang/rust/issues/44494#issuecomment-359886379_

[2021-11-20 02:47] steffahn opened #91068 "Implied bounds by associated types as function parameters are inconsistent in an unsound way."
Taking a simple trait
[code]
the type `<&'a &'b () as Trait>::Type` as a function argument gives rise to a `'a: 'b` bound, as can be demonstrated by e.g.
[code]

However, this bound is apparently not really enforced. I suppose the compiler “simplifies” such a function to `f<'a, 'b>(s: &'b str, _: ()) -> &'a str` for the caller? So

[code]
compiles fine and produces UB. ([playground](https://play.r

[2021-11-20 02:57] djkoloski opened #91069 "ICE: Generic traits of associated types of generic structs"
Source: https://github.com/rkyv/rkyv/issues/221

### Code

`lib.rs`

[code]

It is worth noting that this code should not compile.

### Meta

This bug occurs in both beta and nightly.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-20 03:45] #91067 closed

[2021-11-20 04:08] camelid opened #91071 "`x test src/librustdoc` with download-rustc enabled builds compiler artifacts and fails with dylib error"
It builds compiler artifacts, prints this warning (neither `--stage 2` nor `--stage 3` fix the issue)

[code]

and fails with this dylib error:

[code]

The tests pass with download-rustc turned off.

cc @jyn514

[2021-11-20 04:12] #90061 closed

[2021-11-20 04:12] #87573 closed

[2021-11-20 04:12] #91014 closed

[2021-11-20 04:14] cuviper commented on #74479
Overestimating also costs performance, like cache contention and kernel scheduling overhead.

[2021-11-20 04:31] fee1-dead commented on #91010
See the issue linked above which I believe is caused by this.

[2021-11-20 04:35] jyn514 commented on #91071
Hmm, this looks weird, I would expect it to be using stage 2 ...

[2021-11-20 04:54] ecstatic-morse commented on #91068
Another dupe of #25860?

[2021-11-20 05:11] Cyborus04 commented on #91068
I knew I had seen something like this before, I was just searching through my history to see if I could find it haha

[2021-11-20 06:55] not-my-profile opened #91074 "Allow unused arguments for trait methods with default implementations"
Given the following code:

[code]

The current output is:

[code]

I think rustc should not output this warning in this case since the parameter name is part of the public API. The parameter names show up in the documentation generated by rustdoc and having underscores there looks very weird.

Yes I am aware that I can suppress the warning by doing:

[code]

However I would argue that this makes t

[2021-11-20 07:02] jsha commented on #59853
Candidate PR at #91075

[2021-11-20 07:57] jsha opened #91076 "Speed up search by using prefix matching"
Right now, rustdoc search is O(n) in the number of items in the crate, since it runs the matcher across all items:

https://github.com/rust-lang/rust/blob/50f2c292007f9364908e4b8344886797f0144648/src/librustdoc/html/static/js/search.js#L740

That means it's fairly slow, even for the stdlib. For even larger crates, it's even slower. And the slowness is particularly noticeable because it's JavaScrip

[2021-11-20 07:59] jsha opened #91077 "Don't include headings in search summary"
[A search for "add"](https://doc.rust-lang.org/nightly/std/all.html?search=add) includes these results:

[code]

This gives the impression that those functions unconditionally panic, [which they don't](https://doc.rust-lang.org/nightly/std/time/struct.Instant.html#method.add). I think the fix here is that the summary for search purposes should only be taken from text that appears before the first

[2021-11-20 08:22] jsha commented on #59845
[Here's a nice example showcasing a lot of different colors:](https://doc.rust-lang.org/nightly/std/primitive.str.html#method.get)

![image](https://user-images.githubusercontent.com/220205/142719471-37e53375-f98d-442a-8e56-16da22448b84.png)

We've got umber for the method name, green for the `Option` (because it's an enum), black for `self` and `I` because they are placeholder types, purple for `

[2021-11-20 08:39] jsha commented on #59845
And here's a version where I took the colors for struct and trait (purple and blue) and lowered their value in the HSV color model to be closer to the value of the umber `get` (60).

struct (and friends): #9a3d7f
trait: #533ca3

![image](https://user-images.githubusercontent.com/220205/142720040-2ee1a34b-0643-414a-b9a5-f6a572a65364.png)

I think those adjustments reduce the effect where the color

[2021-11-20 08:53] Zingam commented on #45127
This would be super simple to fix yet it is still a problem.

[2021-11-20 09:08] Urgau opened #91079 "Tracking Issue for float_minimum_maximum"
Feature gate: `#![feature(float_minimum_maximum)]`

This is a tracking issue for `f{32,64}::{min,max}imum` functions.

It provide IEEE 754-2019 `minimun` and `maximum` functions for f32/f64.

### Public API

[code]

### Steps / History

- [ ] Implementation: https://github.com/rust-lang/rust/pull/91008
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-11-20 09:24] Zingam opened #91081 "Build, Install and Launch Debug with rust_analizer in VSCode in one step"
I want to build, install and launch debugging from the install directory in VSCode.
I have create the following launch configuration:
[code]
which causes the following error:

error: Found argument '--message-format' which wasn't expected, or isn't valid in this context

Am I holding it wrong or is this a limitation of the system?

[2021-11-20 09:38] gilescope commented on #49359
I have a cargo PR that executes test _crates_ in parallel ( https://github.com/rust-lang/cargo/pull/10052 ). Alex points out that there's no jobserver control mechanism between cargo and the test crates to constrain parallelism. If we want to be able to execute test crates in parallel, then in an ideal world, we need to include the ability to pass 'tokens' via stdin/stdout to the test frameworks i

[2021-11-20 09:46] wdanilo opened #91082 "Rust linker crashes on Apple's M1 MAX processors."
Hi, I've got a new computer and Rust is not working here :(
The machine is MacBook Pro with Apple M1 MAX. I'm using `rustc 1.58.0-nightly (46b8e7488 2021-11-07)`. I'm running the following command:

[code]

And I got a linker error:
[code]

[Click here to see the full output](https://pastebin.com/ZfgQDvLN)

[2021-11-20 10:09] hkratz commented on #91082
@rusbot label O-macos O-arm

[2021-11-20 10:13] hkratz commented on #91082
Caused by #90342. As a workaround use `MACOSX_DEPLOYMENT_TARGET=10.7 cargo +stable install wasm-pack`

[2021-11-20 10:25] nikic commented on #90969
Godbolt: https://godbolt.org/z/vfne7EK7E

I think we can blame this one on missing select unfolding, which would enable jump threading. Select unfolding seems to currently only check for phis with at least one ConstantInt operand, while here we have a ConstantPointerNull.

[2021-11-20 10:36] wdanilo commented on #91082
It works, thank you!!

[2021-11-20 11:18] GuillaumeGomez commented on #91076
That would still be `O(n)` but the different checks run inside would be different. An important thing to note is that the current rustdoc search already look if the search string is in the item.

[2021-11-20 11:19] steffahn commented on #91068
No, not a dupe of #25860. This issue has nothing to do with variance.

[2021-11-20 11:31] gregorst3 opened #91084 "Missing a private address range | 100.64.0.0/10"
Hello, there is a private address range missing from the Ipv4Addr filter:

As per here https://doc.rust-lang.org/beta/src/std/net/ip.rs.html#557-564

[code]

There is also another private range defined in rfc6598 , the 100.64.0.0/10 range https://datatracker.ietf.org/doc/html/rfc6598 , today some providers are banning the use of it because it's used to deploy carrier-grade NAT (CGN) services.

I r

[2021-11-20 11:52] hkratz commented on #91084
It says in [RFC 6598](https://datatracker.ietf.org/doc/html/rfc6598): "Shared Address Space is distinct from RFC 1918 private address space because it is intended for use on Service Provider networks." so `is_private()` should not return `true` for those addresses.

There already is [`Ipv4Addr::is_shared()`](https://doc.rust-lang.org/std/net/struct.Ipv4Addr.html#method.is_shared) which returns `tr

[2021-11-20 12:16] rhysd opened #91085 "&[T] can be converted into [T; N] but &mut [T] can't"
I tried this code:

[code]

I expected to see this happen: The source is compiled without any error.

Instead, this happened: Compile error as follows.

[code]

Is there any reason `TryFrom<&mut '_ [T]> for [T; N]` is not implemented though [`TryFrom<&'_ [T]> for [T; N]` is implemented](https://doc.rust-lang.org/std/primitive.array.html#impl-TryFrom%3C%26%27_%20%5BT%5D%3E)?

Since the implementati

[2021-11-20 12:27] strohel commented on #74479
To support this with a data point: earlier I benchmarked a simple actix-web based microservice. Overestimating the number of worker threads (from 1 to 4) [resulted in ~50% increase of CPU time per request](https://github.com/seanmonstar/num_cpus/pull/96#issuecomment-608161785).

I can re-run the benchmark with up-to-date versions and different parameters if requested.

[2021-11-20 13:11] adrian17 commented on #91011
Sounds very similar to what I experienced in https://github.com/rust-lang/rust/issues/89647 , may be same as https://github.com/rust-lang/rust/issues/89524 too.

[2021-11-20 13:31] #90878 closed

[2021-11-20 13:31] #90943 closed

[2021-11-20 14:09] danielhenrymantilla commented on #91068
I can confirm this doesn't have to do with variance:

[code]

  - [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7ec0fe5821403779e1e7dc55d584a111)

[2021-11-20 14:09] steffahn commented on #91068
To demonstrate the point that this has nothing to do with variance or double-references, here's the same thing with a custom invariant struct
[code]

[2021-11-20 14:29] bjorn3 commented on #72016
Opened https://github.com/bjorn3/rustc_codegen_cranelift/issues/1204 for implementing all missing parts of `asm!()` in cg_clif and https://github.com/bjorn3/rustc_codegen_cranelift/issues/1205 for upstreaming the fallback implementation to cg_ssa once it is ready.

[2021-11-20 16:48] Badel2 commented on #90873
This issue looks very similar to #81886, but the examples from there don't panic anymore.

[2021-11-20 16:52] Badel2 commented on #81886
The provided examples do not panic anymore, can this issue be closed or does it need tests?

[2021-11-20 17:32] camelid commented on #91077
I agree; this has bothered me for a long time.

[2021-11-20 17:45] jsha commented on #91076
It would be O(m) where `m` is the number of results (or characters in the search term, but there will generally be more results than characters in the search term). Here's a simplified example of how looking up results for "add" would go (emitting error checking):

[code]

Note that it would still be O(n) to build the tree (or to parse it, if we built it on the Rust side and sent it down as JSON).

[2021-11-20 18:10] estebank commented on #81886
@Badel2 lets keep it open purely to track adding regression tests for these.

[2021-11-20 18:38] camelid commented on #90824
I wonder if instead we should just unconditionally get rid of the tuple fields in the header? Then it'd be consistent with struct fields. On the other hand, the header view is a bit easier to read in some ways since it matches source view.

cc @rust-lang/rustdoc: What do you think?

[2021-11-20 18:58] jsha commented on #90824
To clarify, you mean the heading of each variant, right? So e.g. SizeLimit(usize) would become SizeLimit, with a heading below that saying "Tuple Fields", and text below that saying `0: usize`?

I prefer an approach where we keep `SizeLimit(usize)` as the heading, and say "if none of the tuplie fields has a doccomment (the common case), we don't show the "Tuple Fields" section. Perhaps we should e

[2021-11-20 19:13] sagebind commented on #90342
We've worked around this issue in the curl crate so that we won't trigger this bug -- [curl 0.4.41](https://crates.io/crates/curl/0.4.41) should now compile on Monterey without needing to use the environment variable workaround. Though this bug still ought to be fixed.

[2021-11-20 19:46] NieDzejkob commented on #90820
Perhaps you have the `rust-src` component installed while the playground doesn't?

[2021-11-20 19:52] linclelinkpart5 commented on #76930
Ran into this myself, this is after following the instructions in https://book.avr-rust.com/ (namely, I performed the steps in sections 2 and 6).

[2021-11-20 20:13] GuillaumeGomez commented on #91076
I'm not sure it's worth it because it forces the search to behave in a given way. Maybe we should try to discuss how the search should behave globally and then once we have something, try to improve performance. In here, it seems like we're doing things in the wrong order.

[2021-11-20 20:14] GuillaumeGomez commented on #90824
I agree with @jsha proposition.

[2021-11-20 20:25] scole66 opened #91092 "Intermittent coverage failures (some test runs not counted)"
I have a large-ish project with ~6000 testcases, and for a long time now, code coverage has been hit-or-miss. The issue is that some of the test cases don't seem to get their data included in the `profraw` files, and so don't show up as having an effect on coverage. The unrecorded tests seem to be essentially random, but with thousands of tests, single-digit-percentage failures are noticed on ever

[2021-11-20 20:29] scole66 commented on #91092
@rustbot label A-code-coverage

[2021-11-20 20:29] linclelinkpart5 commented on #88252
Confirming that this nightly works for me. For reference, I'm following the steps in part 6 of https://book.avr-rust.com/ (after installing all the third-party tools linked in part 2 of the same link).

[2021-11-20 21:22] kristof-mattei commented on #59159
@svanderbleek https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6ed725446c9194c9ad0314cfbdb9967b

If you clone `a` before inserting you're good.

[2021-11-20 21:30] crisidev commented on #91012
Of course! I'll keep a close eye to the diagnostic issue. Thanks for the help!

[2021-11-20 22:42] inquisitivecrystal commented on #90865
My PR is up!

Also, I'm going to assign this as a `P-medium`, per the discussion in [the Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2390865.20Rustdoc.20is.20inlining.20.60use.20.2E.2E.2E.60.20imports.20when.20.60--docume.E2.80.A6) of the prioritization working group.

[2021-11-20 22:52] steffahn commented on #91068
The same bug can (not too surprisingly) also be used to write trait implementations that (unsoundly) have additional implied bounds available in the method body. E.g.
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=124beb335969970e9a0ff52298cff21d))

[2021-11-20 23:27] RalfJung opened #91095 "Decide on when MIR Discriminant() operation is UB"
We do not currently have a clear description of what the semantics of the Discriminant() MIR operation, and the corresponding intrinsic (exposed via `mem::discriminant()`), are -- specifically, what are the safety preconditions of this operation, and when is it UB?

Note that this operation works on *all* types, not just enums. For valid values of non non-enum types it returns some valid integer v

[2021-11-20 23:30] nagisa commented on #91082
Looks like a…

Duplicate of #90499

[2021-11-20 23:30] #91082 closed

[2021-11-21 00:07] tmiasko commented on #91095
There seems to be an additional mismatch in terms of which discriminants are valid. The code generation considers discriminants corresponding to uninhabited variants to be invalid, but they do not seem to cause any errors in Miri. Does Miri validate a scalar range?

[2021-11-21 00:20] RalfJung commented on #91095
How concretely does that assumption look like -- can you link to the code that does this?

Miri checks that a variant with the given tag exists. But Miri does not do ad-hoc special casing of uninhabited variants.

For `Niche`-encoded tags, AFAIK uninhabited variants are not even necessarily assigned a tag, so Miri can never return such a variant. Similarly, if all but 1 variant are uninhabited, ru

[2021-11-21 00:37] tmiasko commented on #91095
The layout for tag describes a valid range, which is used to emit LLVM range metadata when loading the tag. For example, for a direct encoding:

https://github.com/rust-lang/rust/blob/81117ff930fbf3792b4f9504e3c6bccc87b10823/compiler/rustc_middle/src/ty/layout.rs#L1146-L1160

https://github.com/rust-lang/rust/blob/81117ff930fbf3792b4f9504e3c6bccc87b10823/compiler/rustc_codegen_llvm/src/builder.rs#

[2021-11-21 00:49] #89740 closed

[2021-11-21 00:49] #90728 closed

[2021-11-21 00:49] #90993 closed

[2021-11-21 02:32] MSxDOS commented on #26179
These intrinsics no longer have any effect for my code (starting with https://github.com/rust-lang/rust/pull/87570 ?).
Easily compared by importing them as `use core::intrinsics::{likely as unlikely, unlikely as likely};` or replacing with blank functions, in all cases produced binaries are identical.

[2021-11-21 03:14] AzureMarker commented on #90662
I might try my hand at diagnosing it, but someone with more context would definitely be faster at it.

[2021-11-21 04:01] russweas commented on #90342
I'm no longer having this issue, even without updating curl to 0.4.41.

[2021-11-21 04:05] pirocks commented on #68318
Odd possibly off topic question about this. The following compiles:
[code]

Should it?

[2021-11-21 05:10] jsha commented on #59845
I wanted to get an impression of the colors we currently use, so I made a palette from the colors in the light theme:

![rustdoc-colors](https://user-images.githubusercontent.com/220205/142749597-21085c97-7fa8-4d85-9034-69a3e6104717.png)

The groupings don't have particular meaning, except I tried to group together all the greys at the top, and roughly group some of the other prominent colors toge

[2021-11-21 05:11] zethra commented on #62726
I was wondering what the status of this features is? I could really use this API in something I'm working on.

[2021-11-21 06:02] jsha commented on #59845
Here's a demo. I think it came out pretty well! https://rustdoc.crud.net/jsha/fewer-colors/std/primitive.str.html#method.get_mut

![image](https://user-images.githubusercontent.com/220205/142751547-5bee2ba5-c10c-45eb-8e71-2cd8d319ef98.png)

[2021-11-21 07:58] jsha opened #91100 "Harmonize hover interactions"
We have hover tooltip interactions in at least two places (in addition to the "title" attribute on many items, that leads to a browser-generated tooltip). One is the "notable traits" icon in the return position of methods that return a type that implements Iterator, Future, Read, or Write.

![image](https://user-images.githubusercontent.com/220205/142753737-4b8eef8d-495c-42a7-9509-d1c2debbd0ca.png

[2021-11-21 10:03] SOF3 commented on #91011
I have checked that disabling optimizations stops reproducing this issue.

Note that my workspace was configured like this:

[code]

By applying the patch

[code]

the issue is no longer reproduced.

Furthermore, this bug is also avoided by disabling optimizations for `fluent-bundle` only:

[code]

Same result observed in `opt-level = 2`. This seems to imply that the optimizations from level 2 to

[2021-11-21 10:45] cormacrelf commented on #90342
@russweas Are you sure that's not just the absence of a lockfile, with cargo just fetching latest curl from crates.io?

[2021-11-21 12:04] Nemo157 commented on #90824
Yep, in general I think if the fields need documentation people will generally be using struct-variants instead, so optimizing for doc-less tuple-variants makes sense.

[2021-11-21 12:10] Thomasdezeeuw commented on #62726
I've being using it without issues, so from my point of view this is ready for a FCP as the last activity was back in June (#85802).

[2021-11-21 12:39] eddieantonio opened #91106 "Syntactically-incorrect suggestion given by Rustc for #[derive()] that does not satisfy trait bounds"
`rustc` produces a **syntactically-invalid fix**; namely, it suggests to add a trait bound within the `#[derive(...)]` attribute, which does not seem right!

 * Suppose I have written my own `impl<T> PartialEq for MyStruct<T>` but only for `T: Copy`
 * Then I want to `#[derive(Eq)]` on `MyStruct<T>`

Given the following code: [Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&

[2021-11-21 12:52] T-O-R-U-S opened #91107 "Rustc complains about lack of indirection, when there is in fact indirection"
I tried this code:

[code]

I expected to see this happen: since there is indirection in this enum (`NotMyEnum`), it should compile perfectly fine since this can be represented normally.

Instead, this happened: `rustc` complained that the type *must* be of infinite size, despite there being a source of indirection.

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrac

[2021-11-21 13:26] #87813 closed

[2021-11-21 13:26] #87933 closed

[2021-11-21 13:26] #91050 closed

[2021-11-21 13:26] #91058 closed

[2021-11-21 13:34] Pointerbender commented on #71146
Hi everyone. Earlier in this discussion it came up that there is no blocker for the stabilization of `NonNull::len` (the same goes for its `const` version). I'm interested in leading an effort to split the stabilization for `NonNull::len` into a separate Github issue to help move this part along. But maybe before I start with that, may I ask for the blessing of @NeoRaider or @SimonSapin since they

[2021-11-21 13:40] JOE1994 commented on #86784
Tried building [@hellow554 's MCVE](https://github.com/rust-lang/rust/issues/86784#issuecomment-872886518) with the following setting
[code]

* **`rustc -C debuginfo=1 main.rs` : succeeds without errors**
* **`rustc -C debuginfo=2 main.rs` : fails with the following error message**
[code]

[2021-11-21 13:48] Vanille-N opened #91108 ""type annotations needed" in closure hints at suboptimal fix"
Given the following code: [play.rust-lang.org](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=400b1729dce810a5a01bca62c8d08601)

[code]

The current output is:

[code]
(no difference seen between nightly/beta/stable)

Ideally the output should look like:

[code]
which is the error message obtained from setting `choose = |i| i.to_string()`.

I believe the current error mes

[2021-11-21 13:49] CryZe commented on #91079
Just so it's tracked here: This currently does not map to the corresponding instruction on WASM and I believe Aarch64 has an instruction for this too, which it also doesn't map to.

[2021-11-21 14:11] Diggsey commented on #59845
This seems like a good direction :)

I would probably colour "associated types" as either types or normal text, rather than as traits. Other than that the choices makes sense.

[2021-11-21 14:33] fmease commented on #91107
Rustc reporting an error is correct behavior since `MyEnum` has no fixed size. Consider `let x = f()` with `fn f() -> MyEnum { … }`. How much space should the compiler allocate for `x` on the stack? The idea of _unsized_ return values (along with unsized arguments and locals) has been floating around for some time but it's not implemented.

As far as I understand, even if we accepted your enum def

[2021-11-21 14:34] GuillaumeGomez commented on #59845
I can provide you the original idea I had: I wanted to make it easy to spot different kind of types. However, it ended up making a lot of different colors and also becoming a distraction. So I like the idea of unifying some colors. The only thing I'm not sure is for the different color we should pick: should we keep colors which are close to each others or have they very different (like currently)

[2021-11-21 15:37] loskutov opened #91109 "Suboptimal code generation for omittable bound checks"
Compiler Explorer link: https://godbolt.org/z/KMTfY18Wf

I tried this code:

[code]

With `-C llvm-args=-enable-constraint-elimination`, I expected the bound checks to be optimized out as they're performed manually by `assert!`. However, both assert and bound checks were present in the compiled code. The inner loop looks really dumb in terms of code generation:
[code]
`rsi != rdx` is the loop inva

[2021-11-21 15:53] fee1-dead commented on #91010
See another [godbolt](https://rust.godbolt.org/z/44fK5P78b). `print!`ing a value prevents it from being optimized.

[code]

[code]

[2021-11-21 16:11] the8472 commented on #91109
To get memset as in the clang version you can replace

[code]

with

[code]

[2021-11-21 16:31] loskutov commented on #91109
The code example is pretty synthetic and doesn't make much sense on its own; however, similar effects can be observed in slightly more complicated programs, e.g. [Floyd—Warshall algorithm](https://stackoverflow.com/questions/70050040/fast-idiomatic-floyd-warshall-algorithm-in-rust).

My point is that the missed optimization is pretty important in real-life programs, as it's not uncommon to be unab

[2021-11-21 17:01] leonardo-m commented on #91107
There's no indirection (this means reference/pointer) in your enum.

[2021-11-21 17:10] cjgillot commented on #90715
@michaelwoerister yes, I believe we some dep-tracking here, but I have no idea which one beyond the usual suspects.

The failing query is `hir_owner` (backtrace, line 14). There is no information on which is the caller query, as it happens after inside several levels of `try_mark_parent_green`.

[2021-11-21 17:44] Ixrec commented on #91004
While "smart pointer" was never a precise technical term in any language community, I _think_ what the Deref docs are trying to get at by using the phrase is: A type which is generic over a type T, which conceptually wraps a single T with indirection.

So my strawman rewrite of this paragraph:

would be something like this:

The TRPL chapter on Smart Pointers I think is acceptable, since that intr

[2021-11-21 17:44] leonardo-m commented on #91109
There are multiple ways to solve the problem, like:
[code]

What's the best way to solve this problem depends on the specific situation.

[2021-11-21 18:17] jsha commented on #59845
They shouldn't be styled in orchid (the struct color; [thanks to shallowsky for the color names](https://shallowsky.com/colormatch/index.php?hex=ad448e)) because that should represent concrete types - i.e. a type that has a specific page for its documentation. I think you're right though that they also shouldn't be styled as traits. Normal text seems right. A caveat: Generally the style here is "c

[2021-11-21 18:25] loskutov commented on #91109
True. However, the issue is about poor codegen for this particular piece of code, not about looking for a way to rewrite it.

[2021-11-21 18:32] leonardo-m commented on #91109
Your original code contains an assert, its purpose is to tell something to the optimizer. Often that helps, but you can't be sure the compiler will use the information given by the assert to its fullest. It's a "best effort" for the compiler. So you are waiting for the compiler to do what you want based on "best efforts".

[2021-11-21 18:37] GuillaumeGomez commented on #59845
It makes sense.

For the source code viewer, I don't think that the goal is the same as for the docs. Having syntax highlighting closer to a IDE's sounds more logical, no? You don't read source code as you read documentation after all.

[2021-11-21 19:54] camelid opened #91113 "rustdoc: Add more test coverage"
### Summary

Currently, [rustdoc](https://github.com/rust-lang/rust/tree/master/src/librustdoc) doesn't have much test coverage, but it _does_ have a lot of edge cases. We would like to have more test coverage, so we can improve the code with less risk of introducing bugs.

It's even helpful to add tests for incorrect behavior since it will help us find, fix, and test the fixes for bugs.

### What

[2021-11-21 19:56] camelid commented on #91113
cc @rust-lang/rustdoc

[2021-11-21 20:05] camelid commented on #59845
Not really; we could always change the styling again if we really wanted to switch to JS for some reason.

[2021-11-21 20:07] GuillaumeGomez commented on #59845
Forgot to precise but I'd much rather not need JS for syntax highlighting.

[2021-11-21 20:09] camelid commented on #59845
I think it's a good idea to reduce the number of colors. I have some comments:

I agree with Diggsey that we shouldn't color associated types as traits; it seems confusing.

I don't think we should remove the link; if we can get the user to what they're looking for faster, we should. What if a trait has a lot of top-level documentation before the associated types are documented?

---

I disagree w

[2021-11-21 20:14] camelid commented on #90824
I disagree; we'd basically be removing expected behavior. I don't think we should force people to refactor their code just to add documentation. But optimizing for doc-less tuple variants (rather than enforcing it) seems potentially reasonable.

[2021-11-21 20:14] mathstuf opened #91114 "ICE after `cargo check` of a local checkout of a dependency"
[code]

I think this has to do with incremental compilation, so a minimal example is unlikely to work out well. Compiling the crate was fine. Once I went to `cargo check` some changes in a local checkout of `graphql-parser` and got that working, coming back to `graphql_client_codegen` ended up with an ICE until I cleaned the `graphql_client_codegen` crate.

I am using `sccache` if that matters.

[2021-11-21 20:16] GuillaumeGomez commented on #90824
Thanks to @camelid, I realized I misunderstood @jsha's comment. So let me update my comment:

I agree with this.

I agree with this as well.

I don't agree with this.

Hopefully I didn't miss something else...

[2021-11-21 20:20] camelid commented on #90824
I don't understand; you agree with both? The two approaches are mutually exclusive IIUC.

[2021-11-21 20:40] VorfeedCanal commented on #91046
Indeed, it's pretty hard to say "there are no differences which may effect this code" when you just need to read the appropriate book and find the whole chapter dedicated for just such a difference:
  https://doc.rust-lang.org/edition-guide/rust-2021/disjoint-capture-in-closures.html

[2021-11-21 20:57] bhgomes commented on #69941
Is this a design choice, or just something that has not been implemented yet?

[2021-11-21 20:59] workingjubilee commented on #91063
I agree that the suggestion can be improved.

[code]
We also don't offer useful advice for the cases of simple LHS or RHS `Add` either (a type error is good, but we can do better). The diagnostics we provide for those cases, however, will have to be different and more general: it is **not** clear from context that adding an integer and a char is intended to be an integer or a String, **unless** it

[2021-11-21 21:00] GuillaumeGomez commented on #90824
I don't have a preference is what I tried to say haha.

[2021-11-21 21:44] sfackler commented on #69941
That is inherent to how constants work.

[2021-11-21 22:12] kangalioo commented on #91046
I see where the difference is coming from now, thank you.

https://doc.rust-lang.org/edition-guide/rust-2021/disjoint-capture-in-closures.html

I was aware of disjoint captures in closures. However that chapter only talks about "fields", implying fields of a struct. It's not very obvious in my opinion that "field" in that context also means the inner value of a reference

---

From my side, the is

[2021-11-21 22:36] Dushistov commented on #60896
New "insert" methods for some reason not return was item inserted.
Can they return tuple ?

[code]

[2021-11-21 23:41] adsnaider opened #91115 "NonNull cast should allow ?Sized"
Not sure if I should categorize this as a bug since this seems to be something that was overlooked. `core::ptr::NonNull` has the function `pub const fn cast<U>(self) -> NonNull<U>` that, as far as I can tell, should allow for `U: ?Sized`. Am I missing something here?

[2021-11-21 23:45] workingjubilee commented on #91079
I believe there is an LLVM instruction for this. We can teach Rust to emit the appropriate LLVMIR directly, at the cost of adding the weight of an intrinsic.

[2021-11-22 00:34] adsnaider commented on #91115
I see that #60602 actually explains the reasoning. It would be nice then to have a `cast_sliced` function that casts `NonNull<[T]>` to `NonNull<[U]>`.  But since that is a feature request, I think I'll close it here for now.

[2021-11-22 00:34] #91115 closed

[2021-11-22 00:38] SparrowLii commented on #90972
Can we clarify exactly what we're going to do? For example, the feature needs to be added to the rustc?

[2021-11-22 00:49] aDotInTheVoid opened #91118 "Implementors column on trait page is always empty"
https://github.com/rust-lang/rust/blob/65f3f8b220f020e562c5dd848ff7319257a7ba45/src/librustdoc/html/render/mod.rs#L2328

This leads to

<img width="1279" alt="image" src="https://user-images.githubusercontent.com/28781354/142785887-d86ec3b8-025f-417e-827a-b8fa0e3b235d.png">

when the Implementors column is empty

This is finiky to implement, cant just find the html id's from an item, due to the `d

[2021-11-22 01:02] matheus-consoli opened #91119 "Compiler error messages leads to wrong usage of const generics"
Hi, folks!

Misusing const generics generates errors messages that lead the user to a wrong usage of the feature, let's follow an example:

Give this very simple (and wrong) definition:

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3080fe14eed09a41f8bdc8381a6da361)

[code]

The compiler generates this error message:

[code]

Following the compiler suggestion

[2021-11-22 01:05] matheus-consoli commented on #91119
Also, I would love to help fix this, with some guidance

[2021-11-22 01:29] aDotInTheVoid commented on #91118
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/28781354/142788007-c5e2130c-c5bb-4351-a4aa-a38fa6697b7b.png">

https://github.com/aDotInTheVoid/rust/commit/e3429d72bdc8bd9aede206ff3056f1c785a7f451 works in simple case

[2021-11-22 01:38] aDotInTheVoid opened #91120 "Ordering of items in left hand navbar is different from main page"
On https://doc.rust-lang.org/1.56.1/std/error/trait.Error.html#provided-methods

![image](https://user-images.githubusercontent.com/28781354/142788462-b13e24ba-3c48-4666-a110-3acdefca8a9e.png)

Here one is in alphabetical order, the other is in source order.

(This also happens on nightly, but I'm giving a stable link so it doesnt change

This also happens for other headings (eg Implementations)

[2021-11-22 01:41] Amanieu commented on #90972
I created an updated list of intrinsics that are missing/broken compared to Clang and the ARM intrinsic database CSV in https://github.com/rust-lang/stdarch/pull/1258. Thanks to @JamieCunliffe for writing the tool to automate the testing of the intrinsics.

##  [AArch64](https://github.com/Amanieu/stdarch/blob/update-intrinsic-test/crates/intrinsic-test/missing_aarch64.txt)

This looks pretty good

[2021-11-22 01:42] Amanieu commented on #90972
As per the report [above](https://github.com/rust-lang/rust/issues/90972#issuecomment-974997523), I would like to propose the stabilization of all the currently implemented NEON intrinsics on AArch64 only.

@rfcbot fcp merge

[2021-11-22 02:12] aDotInTheVoid commented on #91120
Prehaps the solution to this and #91118 is to build the left bar at the same time as the main page, instead of seperatly.

I think this would make things much cleaner

[2021-11-22 03:10] joshtriplett commented on #83574
This has been around for a while, and I haven't seen any issues reported with it. Shall we stabilize this?

@rfcbot fcp merge

[2021-11-22 03:33] benpye opened #91123 "Addition of struct with same constant generic constraint results in build failure"
I'm not 100% certain that this is different to #89421 but I think it is as this is not the addition of a new generic parameter.

In this case I have two related structs, the outer struct contains some instance of the inner struct, and an implementation of the outer struct with a generic constraint calls a method on the inner struct with the very same constraint, this fails to build with the same `

[2021-11-22 04:36] cglong commented on #88068
I've created [an upstream bug](https://bugs.llvm.org/show_bug.cgi?id=52575) about this!

[2021-11-22 05:24] #55112 closed

[2021-11-22 06:24] scottmcm commented on #83574
Ah, the reason it's worth having instead of encouraging `Iterator::zip(a, b)` is that it has different bounds?

[2021-11-22 07:12] scottmcm commented on #91085
To answer the historical reason: these implementations previously had to be generated with macros.  See how ugly that made https://doc.rust-lang.org/1.14.0/std/primitive.array.html, for example.  And all those impls actually slowed down compilation, so the easily-worked-around ones were omitted.
https://github.com/rust-lang/rust/blob/f7c48297ce21ac0dc5b36ff730377bdb7be6ece4/library/core/src/array/

[2021-11-22 07:14] scottmcm commented on #91079
LLVM does had an intrinsic for this, but as the PR that added these showed (<https://godbolt.org/z/czz71M9KT>), it doesn't actually work yet, which is why rustc isn't using it to implement these.

[2021-11-22 09:01] junsooo opened #91124 "RUSTFLAGS="-Z sanitizer=thread" M1 macbook could not compile because of SIGSEGV"
I tried to compile 'memchr' library with thread sanitizer in M1 macbook with this code:

[code]
I expected to see this happen: compile success.
But this fails with below error(SIGSEGV)
[code]
Except SIGSEGV error, I couldn't get more information about this error.

Also, with RUST_BACKTRACE=1 like this command doesn't give any further information.
[code]

To dig more, I used lldb with this command

[2021-11-22 09:30] scottmcm opened #91126 "Tracking Issue for `feature(ptr_to_from_bits)`"
Feature gate: `#![feature(ptr_to_from_bits)]`

This is a tracking issue for `<*const T>::from_bits`, `<*mut T>::from_bits`, `<*const T>::to_bits`, and `<*mut T>::to_bits`.

These, like the stable `<*const T>::cast` and `<*mut T>::cast`, is proposed as a method for one of the many specific things that `as` can do to help increase readability of *which* of those things is happening, as well as to be

[2021-11-22 09:32] hkratz commented on #91124
@rustbot label +O-macos +O-arm +A-sanitizers +A-llvm +T-compiler

[2021-11-22 09:37] #90719 closed

[2021-11-22 09:40] cameron1024 commented on #91113
@rustbot claim

[2021-11-22 09:59] haraldh commented on #87813
seems to be fixed.. thank you!

[2021-11-22 10:26] bnjbvr opened #91128 "Huge compile-time regression in beta/nightly"
We have a serious Rust compile-time regression happening on an internal (unfortunately closed-source) crate, happening on both the beta and nightly channels.

Before, compiling the crate would take around 1 minute 30 seconds in automation. Now if I'm using the nightly channel, it seems to take around an hour or so.

Running with `RUSTFLAGS="-Z new-llvm-pass-manager=no"` makes the regression disapp

[2021-11-22 10:34] e2-71828 commented on #91004
This is definitely an improvement, but it would be nice to elaborate some on "to avoid confusion:" How might this confusion manifest itself if `Deref` is implemented improperly?

There's also the question of whether any non-"pointer-like" types can reasonably implement `Deref`.  Is it reasonable for a newtype that enforces some property but stores its target value inline, for example:

[code]

In

[2021-11-22 10:53] jyn514 commented on #91113
@cameron1024 Since this is a tracking issue, I don't think it makes sense to claim - I plan to add some examples of tests soon,  and it's definitely possible for multiple people to work on it in parallel :) feel free to work on it in the meantime though!

[2021-11-22 11:06] jyn514 commented on #88068
@cglong try looking around `src/bootstrap/native.rs`

[2021-11-22 11:44] jyn514 commented on #91120
This is intentional, to make the sidebar more like a table of contents.

I think any changes in this area need either an FCP or RFC, I'm very uncomfortable just changing it because some people find it surprising because everything here has a ton of tradeoffs and makes some people more unhappy.

[2021-11-22 12:29] leonardo-m opened #91130 "[ER] cfg(overflow_checks)"
An enhancement request discussed here:
https://users.rust-lang.org/t/detecting-overflow-checks/67698/

(That thread also contains a hacky solution by Yandros).

I propose to add a config like this:

#[cfg(overflow_checks)]

I would like to use it to enable/disable lines of code that perform safe unsafe "as" casts replacing them with casts when I compile with debug builds or with release builds com

[2021-11-22 12:31] leonardo-m commented on #91130
@rustbot modify labels: C-enhancement

[2021-11-22 12:33] leonardo-m commented on #91126
I'm not a fan of "as" casts in general :-]

[2021-11-22 13:36] BurntSushi commented on #83574
The [current docs](https://doc.rust-lang.org/core/iter/fn.zip.html) seem to indicate that this is equivalent to `Iterator::zip` by referencing its docs, but doesn't call out why the free function `zip` exists. What is the motivation of stabilizing this?

[2021-11-22 14:00] Allen-Webb commented on #68318
I would say no, because if you wanted to shift the error to runtime you could implement Drop as:

[code]

I generally like to catch anything at compile time that can be caught at compile time.

[2021-11-22 14:59] pvdrz commented on #88536
I'm getting this error while compiling a crate using nightly (`rustc 1.58.0-nightly (65f3f8b22 2021-11-21)`)without any nightly features. The same crate compiles without issue in stable (`rustc 1.56.1 (59eed8a2a 2021-11-01)`).
[code]
I can provide the code of the crate but I'm not sure how to get a minimum example.

[2021-11-22 15:47] pnkfelix commented on #90838
(I'm investigating making a more limited version of this PR for backporting to beta.)

[2021-11-22 15:52] AemonAlgizTPH opened #91131 "LGTM"
Clearly, this is a bad comment and needs to be deleted.

LGTM

_Originally posted by @Moe-Szyslak in https://github.com/rust-lang/team/pull/671#pullrequestreview-812692952_

[2021-11-22 15:54] #91131 closed

[2021-11-22 16:01] dvc94ch commented on #73755
Should we open a new issue for the segfault?

[2021-11-22 16:04] CryZe commented on #73755
The next step probably would be to emit the LLVM IR for the compiler builtins and then feed LLVM with it directly... then reducing it to the minimum and opening an upstream bug report. Not sure if another Rust issue is necessary. Though I believe there's an LLVM ping we can use here to summon some experts.

[2021-11-22 16:15] apiraino commented on #91128
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391128.20Huge.20compile-time.20regression.20in.20beta.2Fnightly) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-11-22 16:35] Tirka opened #91132 "Environment variable `RUSTFLAGS` not set inside `build.rs` script since Rust 1.55.0"
### Install Rust Stable 1.54 and 1.55
[code]
### Clone Minimal Reproducible Example
[code]
### Build with Cargo and Rust Stable 1.54.0
[code]
Output:
[code]

### Cargo clean
[code]
### Build with Cargo and Rust Stable 1.55.0
[code]
Output:
[code]

It looks like `RUSTFLAGS` environment variable is not available within `build.rs` script since `1.55.0` and I can't find any info related to this new be

[2021-11-22 16:40] jyn514 commented on #91132
@ehuss could you transfer this to rust-lang/cargo?

[2021-11-22 16:42] Tirka commented on #91132
Sure

[2021-11-22 16:43] TheBlueMatt opened #91134 "Duplicate `extern crate` in doc tests (2021-11-21 Nightly Regression)"
We have a Rust-2015 doc test which has an `extern crate $CRATE_DOC_TEST_IS_IN` which started failing to build on nightly 2021-11-21 (but passes on stable/2021-11-20).

It now fails with

[code]

[2021-11-22 16:48] Tirka commented on #91132
Transfered to https://github.com/rust-lang/cargo/issues/10111

[2021-11-22 16:48] #91132 closed

[2021-11-22 16:50] jordens commented on #85122
Thanks for this! We are seeing some noticeably faster code in on several embedded DSP applications in cortex-m7 with `unchecked_sh[lr]`. The additional masking has always bothered me as unnecessary in our case.

[2021-11-22 16:52] apiraino commented on #91068
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391068.20Implied.20bounds.20by.20types.20of.20associated.20items.20are.20inco.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-11-22 16:58] mathstuf commented on #91134
Probably caused by 331465a867fd450939d23d6ebd0580fc0ef18059 (#91054; rollup #91064)? @camelid

[2021-11-22 17:20] jyn514 commented on #91134
That seems unlikely, https://github.com/rust-lang/rust/pull/91026 is more plausible. #91066 doesn't affect doctests.

[2021-11-22 17:20] steffahn commented on #91068
Just checked what rust versions are affected. My original example only works from 1.56, so the latest rust version.

@rustbot label regression-from-stable-to-stable

[2021-11-22 17:22] mathstuf commented on #91134
Oh, I think I got misled by the "rustdoc" bit.

[2021-11-22 17:28] xfix commented on #86722
Is there anything blocking stabilization of `const MaybeUninit::assume_init` and `const MaybeUninit::assume_init_ref` at this point?

[2021-11-22 17:29] jhpratt commented on #86722
It's in FCP right now!

[2021-11-22 17:29] dvc94ch commented on #73755
for now I'm using https://github.com/vmx/wasm-multi-value-reverse-polyfill as a workaround which hooks up some wasm-bindgen stuff and exposes it as a cli utility. works quite neat for now.

[2021-11-22 17:31] xfix commented on #86722
Oh, didn't realize the FCP is going on in https://github.com/rust-lang/rust/pull/90896.

[2021-11-22 17:32] steffahn commented on #91068
searched nightlies: from nightly-2021-05-01 to nightly-2021-11-22
regressed nightly: nightly-2021-08-30
searched commit range: https://github.com/rust-lang/rust/compare/5eacec9ec7e112a0de1011519a57c45586d58414...2f662b14033c4369b0a7b5c2656592ef08edf434
regressed commit: https://github.com/rust-lang/rust/commit/59ce76548484806ac4970c57c0bb6ad9e53b80f6

<details>
<summary>bisected with <a href='http

[2021-11-22 17:34] steffahn commented on #91068
That’s
* #88312

cc @jackh726, @nikomatsakis

[2021-11-22 17:39] steffahn commented on #91068
Double-checked, they’re all regressing at #88312

[2021-11-22 17:41] jyn514 commented on #91134
I can't reproduce this. I tried
[code]
and running `cargo test --doc`, but all the tests passed fine. @TheBlueMatt can you link the original code?

[2021-11-22 17:45] TheBlueMatt commented on #91134
The failure is https://github.com/rust-bitcoin/rust-lightning/blob/main/lightning/src/chain/transaction.rs#L24 You can see the first failure in CI at https://github.com/rust-bitcoin/rust-lightning/runs/4288660534?check_suite_focus=true

[2021-11-22 18:08] jackh726 commented on #91068
Well...shoot.

I guess we can either just revert #88312 for now *or* change the rule to be something like "if all the parameters of an associated type are well formed, then the associated type is", which should solve this.

[2021-11-22 18:33] rrahulraman opened #91138 "Windows11 Crashes on Ubuntu installed through microsoft store while installing Rust"
I tried this code:

[code]

I expected to see this happen: install rust for ubuntu on Windows (downloaded from Microsoft store, windows 11)

Instead, this happened: windows crashed with memory exception. and rust is not properly installed
![Screenshot 2021-11-23 000126](https://user-images.githubusercontent.com/59053908/142916013-bb96cfeb-5e7d-42d1-b121-41ace9bc12fc.png)

### Meta

`rustc --versio

[2021-11-22 18:34] steffahn commented on #91068
I suppose #88312 was only fixing a problem observable on nightly, correct? If reverting (for now) is done easily (i.e. no subsequent changes rely on #88312), then I suppose by reverting, we could get a fix out quickly and perhaps even get it beta-backported so that 1.57 is no longer affected? (I assume doing anything other than a revert is not really possible anymore time-wise until 1.57 release n

[2021-11-22 18:38] steffahn commented on #91068
I can't comment on the alternative you lay out here, since I'm not at all familiar with the details of what's going on here. If this is just an oversight in  #88312 / easily fixed / not a fundamental problem with that PR; and if it seems _very_ unlikely to introduce any other issues, then that other approach might also work for inclusion in 1.57? A revert might be easier though.

[2021-11-22 18:43] steffahn commented on #91068
@jackh726

would this imply that
[code]
no longer compiles? (Because if _yes_, that would be a regression for code that works since Rust `1.0`!)

[2021-11-22 18:44] jordens commented on #85122
One question though:

#85703 adds `unchecked_sh[rl](self, rhs: Self)` while all the other take a `u32`: `{overflowing,wrapping,checked}_sh[rl](self, rhs: u32)`. Why is that?

[2021-11-22 19:05] billyb2 commented on #91015
Using the linker that comes with Rust instead of LLD also fixes the issue, even with incremental compilation turned on

[2021-11-22 19:06] steffahn commented on #91068
Looks like this observation might be an instance of #47511.

[2021-11-22 19:12] steffahn opened #91139 "ICE with GATs and lifetime-bounds and higher-ranked fn pointer type"
[code]
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ddbc5980cde7392f453b45e9f5c4772f))

<details><summary>Backtrace (click to expand)</summary>

[code]

</details>

@rustbot label requires-nightly, F-generic_associated_types, A-traits, A-lifetimes, A-associated_items, A-typesystem, T-compiler

I'm not whether I'd expect this code to fail or to compi

[2021-11-22 19:20] jackh726 commented on #91068
This is correct.

Also correct.

I'm not sure yet; probably this should still compile. Really, the point of #88312 was to recognize that if an associated type is created, then the where clauses/bounds on that associated type must have been met. Well, the wrinkle here is that in `<&'a &'b () as Trait>::Type`, we don't necessarily have to create a `&'a &'b` to create a  `<&'a &'b () as Trait>::Type`