[2022-11-18 19:04] ChrisDenton commented on #104530
Would anyone be willing to report this to sandboxie?

[2022-11-18 19:12] mucinoab commented on #104244
@rustbot claim
I will try to look into this over the weekend.

[2022-11-18 20:04] jruderman opened #104583 "Exponential compile time with nested `&dyn Fn` type"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Time complexity

Seems exponential:

| Nesting level | Time |
|---------------|------|
| 9  |  0.9 sec |
| 10 |  4.2 sec |
| 11 |  17 sec |
| 12 |  80 sec |

### Where it's slow

* From `-Z time-passes`: `item_bodies_checking` ([full output](https://github.com/rust-lang/rust/files/10044169/ztp.txt))

[2022-11-18 20:40] BlackHoleFox commented on #104570
@rustbot claim

[2022-11-18 21:06] thomcc commented on #104530
I took a look and it looks like their issue tracker has template that seems pretty annoying to fill out. I think someone at Mozilla might have sufficient info to file the report, so I'm inclined to punt it to them.

I haven't looked very closely but much of the code in
https://github.com/sandboxie-plus/Sandboxie/blob/c8484083f10bd5d126cb6c8b7a68bcdf9ecf187a/Sandboxie/core/dll/file_dir.c doesn't se

[2022-11-18 21:10] glandium commented on #104530
Sandboxie is not used by Firefox itself. That would be something random people install on their own.

[2022-11-18 21:12] glandium commented on #104530
(but indeed, there's a 100% correlation on the presence of SbieDll.dll (if you look at the correlations tab on the crash report))

[2022-11-18 21:34] jruderman commented on #104582
Regression in nightly-2022-01-17 (ec4bcaac450279b029f3480b8b8f1b82ab36a5eb...bd3cb52565faab2755ff1bdb54d88bc91f47b4b9)

[2022-11-18 21:43] thomcc commented on #104530
Either way I think we should keep the alignment-insensitive code I've added in https://github.com/rust-lang/rust/pull/104558, since I do believe it could happen for other similar kinds of things to sandboxie, or even buggy drivers.

I think it's probably relatively low priority though, unless I'm misunderstanding the avenues with which this gets installed. IOW, I'm surprised if its just some rando

[2022-11-18 21:44] anp opened #104588 "`#[track_caller]` on async fn's was previously a no-op but now produces a compiler error"
### Code

I tried [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2fc5786e03284fbf498bc9e3bd976671):

[code]

I expected to see this happen: a successful build that prints `src/main.rs:3:20` (i.e. the attribute is a no-op)

Instead, this happened:

[code]

### Version it worked on

It most recently worked on: 1.65.0 stable

### Version with regression

playgrou

[2022-11-18 21:51] compiler-errors commented on #104588
cc: @bryangarza

@anp, that's a good point. it's probably possible to make `#[track_caller]` a no-op + lint, and gate this behavior behind something else (either `closure_track_caller`, or a new feature such as `async_track_caller`).

[2022-11-18 21:53] ehuss commented on #104570
I confirmed with a bisect that it started with #104091 which was the first PR to start using XCode 14.

I'm wondering if it is necessary to start using something like `-macos_version_min` to the linker?

[2022-11-18 22:01] BlackHoleFox commented on #104570
For my own knowledge going forward, how'd you know that? [The GA definition](https://github.com/rust-lang/rust/blob/master/.github/workflows/ci.yml#L308) says we're using `macos-latest` but [GitHub's blog](https://github.blog/changelog/2022-10-03-github-actions-jobs-running-on-macos-latest-are-now-running-on-macos-12/) says this became macOS 12 back in early October.

Since you figured out what ac

[2022-11-18 22:09] anp commented on #104588
That makes a lot of sense as a way to resolve this. Having the ungated usage produce a warning seems like a great way to avoid confusion about a feature flag silently changing compiled behavior.

[2022-11-18 22:12] ehuss commented on #104570
I've been tracking the issue in #103044. I updated my system to xcode 14, and that test started failing. I also monitor the GitHub changelog blog which announces these changes.

When GitHub starts changing the default for a `-latest` runner, it does it over a span of months, migrating individual repos along the way. Our CI ([`rust-lang-ci/rust`](https://github.com/rust-lang-ci/rust)) started faili

[2022-11-18 22:26] the8472 commented on #104203
What would const code need this for?

[2022-11-18 22:27] glandium commented on #104530
It's also #11 of Firefox beta crashes on Windows, FWIW.

[2022-11-18 22:29] ehuss commented on #104570
I think `-macos_version_min=10.13` is the same as `-platform_version macos 10.13 10.13`.

[2022-11-18 22:34] DzenanJupic opened #104590 "Remove unreachable constant data from binary"
Take the following code i.e.:
[code]

Running `rustc -OOO ./main.rs` results in a binary of size `4 MB`. Increasing the capacity of the array to i.e. `100000000` results in a binary of size `100 MB`, even though the resulting slice still only contains one element.  The same happens with `cargo` and/or `LTO` enabled. Switching to a `static` does not help either.

It would be pretty nice if the comp

[2022-11-18 22:41] Ralith commented on #103854
A mechanism like @andrewgazelka outlines above for expressing bounds on what amount to anonymous associated types is an appealing general solution. Backwards-compatible syntax for such a feature is conceivable. Provided that something like that is possible, I think baking any particular set of bounds into the definition of async traits is a mistake that would be difficult to correct without breaki

[2022-11-18 23:20] #102172 closed

[2022-11-18 23:20] #103381 closed

[2022-11-18 23:20] #91417 closed

[2022-11-18 23:20] #102429 closed

[2022-11-18 23:27] ObamaTheLlama114 commented on #104075
Yes I am coming to realize that. Is there any way around this issue?

[2022-11-18 23:32] ObamaTheLlama114 commented on #104075
To my knowledge the only way to do this now is to push to the vec and then get the last element of the vec, which doesnt feel very thread safe to me, and also kinda just feels icky. This provides a more thread safe alternative.

[2022-11-18 23:32] ObamaTheLlama114 commented on #104075
Also apologies for responding so late

[2022-11-18 23:50] HBBrennan commented on #102646
This issue has been fixed.

[2022-11-18 23:50] #102646 closed

[2022-11-19 00:09] joshtriplett commented on #95926
@pnkfelix Some kind of detection and warning would be helpful at a minimum, yes.

[2022-11-19 00:52] cuviper commented on #103265
I agree that this would be a breaking change, and I don't think it should fall back to the defaulted method. So that means that once a trait is partially `~const`-ified at all (with `#[stable]` in the case of the standard library), its current methods will be frozen in their ability to be `const` or not. New methods could still be added `~const` right away.

That sounds painful, but it's still mor

[2022-11-19 00:59] ohno418 commented on #103529
@rustbot claim

[2022-11-19 01:01] NobodyXu commented on #103854
P.S. It would be even better if we can have something like `decltype` to infer type of any expression.
It would then possible to infer type of lambda, `impl trait`, async fn, etc.
It would be possible to store the lambda or the future returned by async fn in a struct and name it.

[2022-11-19 01:06] workingjubilee commented on #104590
Per [`get_unchecked`](https://doc.rust-lang.org/std/primitive.slice.html#method.get_unchecked)'s documentation:

Those bounds are determined relative to the slice, not the datatype being sliced into. So no, that is not even slightly subject to the stability policy.

[2022-11-19 01:07] workingjubilee commented on #104590
No idea if this optimization can be performed, to be clear, but if there is a blocking reason, it's definitely not going to be because `slice::get_unchecked` exists, and is more likely to be technical than design.

[2022-11-19 01:10] bryangarza commented on #104588
Sounds good, I can put up a PR that does this. I didn't realize that the annotation was already being used on async fn's in the wild

[2022-11-19 02:23] thomcc commented on #104590
Whether or not we can do this is likely based on how https://github.com/rust-lang/unsafe-code-guidelines/issues/256 is resolved. I think for your case you should just copy to a smaller array though.

[2022-11-19 02:24] thomcc commented on #104590
Actually, looking at your code, the lifetime extension you're doing in as_slice is probably UB as-is.

[2022-11-19 02:28] #103361 closed

[2022-11-19 02:28] #102141 closed

[2022-11-19 02:28] #102173 closed

[2022-11-19 05:27] compiler-errors commented on #89460
I'm curious -- why wasn't this implemented as a lint on the `impl`?

[2022-11-19 06:23] BlackHoleFox commented on #104570
I think I found the issue and solution (though the fix is kinda obvious): As of XCode 14, the macOS SDK [no longer supports](https://developer.apple.com/support/xcode/) any versions below 10.13 (High Sierra). While I've yet to test this conclusively my thinking is that even though we're telling the linker `-platform_version macos 10.7 10.7` its just ignoring us and using the "running on system def

[2022-11-19 06:37] compiler-errors opened #104601 "Rust does not normalize opaque types with escaping bound vars"
Opening this issue to record the fact that we don't normalize opaques with escaping bound vars in `Reveal::All` mode after #103509.

I am not aware of any impacts of this on regular `rustc` compilation sessions, at least not without using TAIT in some strange ways. However, this causes rust-lang/miri#2433 to reoccur, and makes me sad theoretically, since we should be revealing all opaques during m

[2022-11-19 06:37] sam0x17 commented on #44034
FYI I implemented a scheme very similar to this in my [macro_state](https://crates.io/crates/macro_state) crate

[2022-11-19 06:53] CobaltCause commented on #103854
An experience report: I'm fooling around with making a web framework similar to `warp` but (among other things) using some fancy nightly features. Not being able to require `Send` while using `async_fn_in_trait` means I have to use either `type_alias_impl_trait` or `return_position_impl_trait_in_trait` in order to work around a compiler error caused by [the code at this commit](https://or.computer

[2022-11-19 07:26] Nilstrieb commented on #103529
Yeah, gating this recovery behind a `self.may_recover()` is the correct fix here.

[2022-11-19 07:27] Nilstrieb commented on #103529
Also very fun that these things can ICE sometimes.

[2022-11-19 07:38] ChrisDenton commented on #63010
It's been three years and not much movement so probably not soon unless someone takes an interest in pushing it forward. I think this is still pending figuring out some issues:

* file_index should really be 128 bits (e.g. for ReFs) but currently we only get a 64 bit ID. Maybe it would be good enough to call it `file_id_64` and add sufficient warnings to the documentation. Maybe not.
* all of thes

[2022-11-19 08:01] Uriopass commented on #104075
Rust is not like Go. Safe rust *cannot* have data races.
Your method is not more thread safe than pushing and getting because pushing requires &mut T which means you have exclusive access to the vec.

[2022-11-19 08:43] oli-obk commented on #88888
This breakage was known and cratered. The fix is to get generic const expressions stabilized. Closing as duplicate of https://github.com/rust-lang/rust/issues/76560

[2022-11-19 08:43] #88888 closed

[2022-11-19 08:47] thomcc commented on #104570
Yes, I can confirm this. Although, cargo also doesn't support 10.7, so I had assumed it was due to that (and to be fair, it still might be!)

[2022-11-19 09:30] #102354 closed

[2022-11-19 09:30] #104409 closed

[2022-11-19 09:30] #104548 closed

[2022-11-19 10:09] thomcc commented on #104075
No. See https://github.com/rust-lang/rfcs/issues/3343#issuecomment-1316809835 for an example of why, although this probably does not apply to Vec.

[2022-11-19 10:47] Nugine commented on #85105
Using `inline_const` may fix this issue.

[code]

[2022-11-19 11:20] RalfJung commented on #104590
We will almost certainly want to fix https://github.com/rust-lang/unsafe-code-guidelines/issues/256 by allowing access to neighboring bytes. So I don't think we can do this kind of shrinkage implicitly. It has to be opt-in from the user.

[2022-11-19 12:44] #103423 closed

[2022-11-19 13:13] the8472 commented on #104530
Do those sandboxes intercept the calls as kernel drivers? Maybe microsoft could add some checks on their end to ensure that drivers uphold documented guarantees for userspace.

[2022-11-19 13:20] weiznich opened #104606 "Internal compiler error due to misnamed fields"
### Code

Unfortunally I cannot provide any code to reproduce this, as this happens in a rather complicated private code base. The ICE goes away as soon as I fix the problems mentioned in the original error messages. Nevertheless I would expect that the compiler does not emit an ICE in that case.

### Meta

`rustc --version --verbose`:
[code]

(Note: I cannot try to reproduce that on newer compile

[2022-11-19 13:24] RalfJung commented on #104601
FWIW the Miri ICE also needs `type_alias_impl_trait`.

[2022-11-19 14:24] crlf0710 commented on #89460
@compiler-errors It could be implemented that way, and thinking about it from current view, that would be a better way (No removal of the lint is needed with that approach)

[2022-11-19 14:36] lukas-code commented on #104203
### Const alignment in general

Const code doesn't *need* to check for alignment. The are, however, algorithms that depend on alignment at runtime and also make sense in const. In the standard library we have `str::from_utf8` and `[u8]::is_ascii` for example.

To make these functions work in const we have two options:
* Split the function into "runtime" and "comptime" versions and then `const_eval

[2022-11-19 14:38] Rageking8 commented on #104606
@rustbot label +E-needs-mcve

[2022-11-19 14:42] ehuss commented on #104570
Oh interesting, I missed the compatibility table on that xcode 14 page.

We used to have the ability to switch xcode, but it was removed in #89849.  I would just resurrect that diff.

[2022-11-19 15:40] #104565 closed

[2022-11-19 15:40] #104563 closed

[2022-11-19 16:06] Xiretza commented on #98070
Since I haven't seen this suggested before: how about returning `Option<bool>`? That alleviates the need to create a (probably useless) error type, but still allows the "we don't know" case to be handled if needed.

[2022-11-19 18:34] #104379 closed

[2022-11-19 18:34] #103206 closed

[2022-11-19 19:13] compiler-errors commented on #103274
@ouz-a I think we might need to revert #100757 because of this issue and #104322 (and #104606 mentioning this too) -- do you want to do that, or should I?

[2022-11-19 19:27] ouz-a commented on #103274
@compiler-errors this is going to introduce small(compared to issues it raised) regressions, but I can revert it.

[2022-11-19 19:34] jruderman opened #104609 "ICE involving type inference during check_transmute"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### ICE (nightly)

[code]

<details><summary>Backtrace</summary>

[code]

</details>

### ICE (with debug assertions enabled)

[code]

<details><summary>Backtrace</summary>

[code]

</details>

### Regression

Regression in nightly-2022-05-28, perhaps from 56fd680cf9226ab424f88d4e3b43c5e088d17f19 (#96046

[2022-11-19 19:42] jruderman commented on #104609
Might be a duplicate of #104085

[2022-11-19 19:48] compiler-errors commented on #104609
Should be an easy fix, just need to delay a bug if the transmute source/target has (non-region) infer vars  and bail from the `check_transmute` fn.

[2022-11-19 19:56] DzenanJupic commented on #104590
There should ideally be no lifetime extension, am I wrong about that? `&[T]` should get the same lifetime as `&self`, right?
The only reason I'm using `from_raw_parts` is that range-indexing is not const yet.

[2022-11-19 20:08] DzenanJupic commented on #104590
This won't work for me, since I don't know the final array size 'at compile time' (it's still in a constant context I guess). My use case is concatenating associated constant slices into one slice. This can already be done today in stable, but only if all types are known. It does not yet work for generics (at least I did not get it to work, even with the `generic_const_exprs` feature)

Here is the

[2022-11-19 20:21] DzenanJupic commented on #104590
Does [rust-lang/unsafe-code-guidelines#256](https://github.com/rust-lang/unsafe-code-guidelines/issues/256) apply to a const context though?

[2022-11-19 20:24] SUPERCILEX commented on #93333
Shouldn't this issue be closed since the feature was stabilized?

[2022-11-19 20:57] memoryruins commented on #61956
The [example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3a0ea23947501351fa5cc46714ff8c20) `[u8; N] -> [u8; N]` in the original post currently compiles on `1.66-beta.1`/`1.67-nightly`, as well as the example in https://github.com/rust-lang/rust/issues/61956#issuecomment-503626904 of `T -> T`. `[MaybeUnit<T>; N] -> [T; N]` continues to error.

Was this lifted by #10152

[2022-11-19 21:02] RalfJung commented on #104590
Yes, const-Rust is still (mostly) the same language as runtime-Rust -- differences only arise when absolutely necessary, e.g. because absolute pointer addresses are unknoweable.

[2022-11-19 21:17] jruderman opened #104613 "ICE "no index for a field""
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

Regression in nightly-2022-11-06, somewhere in rollup commit 452cf4f7109f58433ac38be7d3da527408571054

### Version

[code]

[2022-11-19 21:33] #93333 closed

[2022-11-19 21:36] DianaNites commented on #87157
Per [this](https://github.com/rust-osdev/uefi-rs/issues/289) issue, adding `"-C", "link-args=/debug:dwarf"` to rustflags restores symbols

[2022-11-19 21:42] scottmcm commented on #61956
I know this is a comment from ages ago, but remember you can use `ManuallyDrop` to also not be able to forget the `forget` if you need a not-fixed-size transmute:
[code]

[2022-11-19 23:17] fmease commented on #103534
I wonder if we should take a different approach for fixing this issue instead of using `.may_recover()`. Bare in mind that I am not 100% familiar with the parser & macro matching internals, so the following idea might not be workable.

What about changing `PResult` / adding a flag to the parser to keep track if a recovery occured. If it did then the token stream would not actually match a given ma

[2022-11-19 23:25] bertie-wheen opened #104618 "Add warning for unnecessary imports"
Given the following code:

[code]

The current output is:

Nothing, assuming the modules exist and are used.

Ideally the output should look like:

[code]

This sort of thing is fairly innocuous, but still probably merits a warning.

Incidentally, this:

[code]

Generates the output:

[code]

[2022-11-19 23:58] jruderman opened #104620 "ICE "token_lit in from_mac_args: InvalidIntSuffix""
### Code

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

Regression in nightly-2022-11-18 from bebd57a9602e48431c90274fbf7d96683b0708b6 (#102944)

### Version

[code]

[2022-11-19 23:59] lqd commented on #84873
It seems the progress has been for the other reproduction thanks to #86240, and by the use of boxing in linkerd.

The original issue looks to be still present when checking the old version of `linkerd-proxy` ([bba24dcdeda40105615db8d33e3fa04f980cf128](https://github.com/linkerd/linkerd2-proxy/tree/bba24dcdeda40105615db8d33e3fa04f980cf128)) and #86240 doesn't seem to have improved things like it di

[2022-11-20 01:07] ajtribick commented on #96710
From the perspective of maintaining a crate that implements a custom floating point type that tries to provide a similar API to the built-in `f32`/`f64`, I'd be somewhat against changing `round` from its documented behavior at this point (although I'd agree it isn't ideal as a choice for the default round function). It might also be worth getting some opinion from the `num` folks on this as they h

[2022-11-20 01:37] bcantrill opened #104625 "DW_AT_discr_value elided in DWARF for some enum variants"
### Code

There is a regression from 1.64.0 to 1.65.0 in the DWARF emitted for some variants for some enums, as the below program shows:

[code]

### Version it worked on

As the comment in the program indicates, the DWARF for the `Foo` enum looks like this on 1.64.0 and earlier:

[code]

`rustc --version --verbose`:
[code]

### Version with regression

But on 1.65.0 and later, it looks like this:

[2022-11-20 02:06] HTG-YT commented on #54140
Would any changes to the API require a separate RFC? I'm wondering why suggesting code in these diagnostics aren't supported. 🤔

[2022-11-20 02:43] WhyNotHugo opened #108878 "Builds on *-unknown-linux-musl that link to C libaries produce broken binaries"
### Problem

I'm trying to build the following minimal example:

[code]

I'm buildling on `aarch64-unknown-linux-musl`, and my target is `aarch64-unknown-linux-musl` (e.g.: there's no cross-compiling going on here).

The above builds fine, but the resulting binary fails to run:

[code]

The resulting binary is clearly linked against glibc, which is not present here:

[code]

### Steps

[code]

###

[2022-11-20 03:57] compiler-errors commented on #104613
This probably regressed in #103867, since we're no longer replacing block values with `ty::Error` which I think caused the `ExprUseVisitor` to bail early while walking HIR.

This probably can just be fixed by a more conservative check for field idx + a delayed bug, though someone who wants to claim this may find a more creative way of suppressing this error. Ideally, we'd check that the path `Oops

[2022-11-20 04:14] alex-pinkus commented on #103673
I published a revert for the r25b change: #104628.

[2022-11-20 06:51] matthiaskrgr opened #104631 "ICE: primitive read not possible for type: AlignedUsize"
### Code
`src/test/ui/dyn-star/align.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-20 07:16] #104287 closed

[2022-11-20 08:10] kryptan commented on #101645
Not always. Parent process can still set those handles to something other than `INVALID_HANDLE_VALUE`. For example, if you launch App P from IntelliJ it actually prints "Hello World!" in a loop but not in the spawned console which is empty, but in IntelliJ internal terminal. `GetStdHandle(STD_OUTPUT_HANDLE)` returns non invalid handle.

[code]

This solution would make behaviour different dependin

[2022-11-20 08:22] Nilstrieb commented on #103534
In some cases this may work, but not always. Looking at the `not 0` example, the parser _needs_ to be edited. The parser looked ahead and eagerly recovers, emits an error and returns success. So even if the matcher then knew that recovery occurred (and the parser would somehow need to keep track of that, so we'd still need to annotate recovery) the session has the emitted error anyways.

But I agr

[2022-11-20 09:23] RalfJung opened #104633 "parser warning "`macro` is experimental" interacts badly with module-level `cfg`"
Given code like this
[code]
what I expect should happen is that this works fine, since the feature flag is set so the parser should accept parsing the `pub macro`, and also the file is anyway empty after `cfg` expansion. However, I get a warning instead:
[code]

It looks like the `cfg` *does* disable the feature flag, but does *not* disable parsing of the rest of the file. That is a problem, since

[2022-11-20 09:39] CAD97 commented on #104633
Two bits:

- Doesn't `#![feature]` have to be at the crate root?
- You can `#[cfg]` out parsing of a module, but it has to be on the `mod` statement.

`#[cfg]` are always processed after parsing, so I believe the compat warning is correct here. At least, doing this same thing with properly gated syntax causes an error. For example,

[code]

is a hard error for the unstable/experimental syntax. The

[2022-11-20 10:10] Rageking8 opened #104635 "New trait with all other traits as supertrait suggestion never take into account user provided trait names"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5d6f2aa16ca42efb503a4a9e2525e625)

[code]

The current output is:

[code]

Ideally the suggestion should avoid suggesting a trait with the same name as the user provided traits.

[2022-11-20 10:10] Rageking8 commented on #104635
@rustbot claim

[2022-11-20 10:16] matthiaskrgr commented on #104620
This makes me wonder if we could just create a superset of a set of chars and feed these into rustc, hmm.

[2022-11-20 10:16] RalfJung commented on #104633
The thing is, this should work, since I *am* setting the feature gate
[code]

[2022-11-20 10:25] SimonSapin commented on #63292
In https://github.com/rust-lang/rust/pull/101310#issuecomment-1321090977 I commented:

[2022-11-20 10:26] petrochenkov commented on #104633
@RalfJung
This was discussed in detail in https://github.com/rust-lang/rust/issues/65860, you even participated in the discussion.

[2022-11-20 10:32] RalfJung commented on #104633
I vaguely remember some discussions, but I don't recall that this would make `cfg` gating entirely impossible...

If the parser goes over the entire file, no matter the `cfg`m then why can't it take into account all `feature`, no matter the `cfg`?

[2022-11-20 10:40] petrochenkov commented on #104633
Ah, this part, it may be doable, yes.

[2022-11-20 10:41] RalfJung commented on #104633
If a `#![cfg]` only erased the attributes that come *after* it, that would also work. But it seems to apply "backwards in code" so there's no place to put a `feature`  that the parser would honor if there's a module/crate-level `cfg` disabling things.

[2022-11-20 10:51] hi-rustin commented on #104609
@rustbot claim

[2022-11-20 11:03] Nilstrieb opened #104637 "Duplicate errors on mismatched types on constrained structs"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7b2b481886eb53caf9f83d11c1c86219

[code]

The current output is:

[code]

At least some of those errors shouldn't be emitted, especially the second one is pretty confusing.

This is because of the `Owo<T>: Uwu` bound on the struct. Because `Uwu` is only implemented for `bool`, type inference uses that

[2022-11-20 11:22] chenyukang commented on #104620
Can we just `report_lit_error` here?

[2022-11-20 12:55] aliemjay opened #104639 "lifetime order breaks member constraints"
The following code should pass regardless of the declaration order of lifetimes: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=88e227f9f7a5b516bffe21e09b18cd5e
[code]

This is related to #63033 but it's different in that we *do* have a lower bound region, `'c`, but we fail to recognize that because [the algorithm here](https://github.com/rust-lang/rust/blob/e07425d55b77f

[2022-11-20 12:57] #103384 closed

[2022-11-20 16:15] Mark-Simulacrum opened #104642 "Tracking Issue for get_many_mut"
Feature gate: `#![feature(get_many_mut)]`

This is a tracking issue for `get_many_mut` and `get_many_unchecked_mut`, which provide `&mut T` access to multiple distinct slice elements.

### Public API

[code]

### Steps / History

- [x] Implementation:
    - Initial implementation in #83608, also received extensive discussion
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolv

[2022-11-20 19:01] shepmaster opened #104649 "internal error: entered unreachable code: we captured two identical projections"
### Code

[code]

<details>
<summary>Cargo.lock</summary>

[code]

</details>

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-11-20 19:18] Nilstrieb commented on #104649
I will try to reduce this to an MCVE.

[2022-11-20 19:40] shepmaster commented on #104649
Changing `Result::Ok((url, text))` to `Result::<_>::Ok((url, text))` appears to avoid the ICE, so that may be a useful place to focus.

[2022-11-20 19:47] BlackHoleFox commented on #104570
following on that hypothesis from the other day here's the dump from `vtool -show-build` on `2022-11-18` for the x86 stdlib (just used to get an x86 artifact easily on M1 but should be the same for rustc):

[code]

and then stable's:
[code]

so seems like the "its just ignoring us and using the running on system default" is what's happening when you give it a minimum `-platform_version` too low. A

[2022-11-20 20:14] luqmana commented on #104625
searched nightlies: from nightly-2022-09-01 to nightly-2022-10-01
regressed nightly: nightly-2022-09-09
searched commit range: https://github.com/rust-lang/rust/compare/c2804e6ec2c29a5c7368600ea173b890e2655c3d...1120c5e01df508de64fe6642f22fadeb574afd6d
regressed commit: https://github.com/rust-lang/rust/commit/512bd84f51ba6963c84506f408840e5341abe499

<details>
<summary>bisected with <a href='http

[2022-11-20 20:22] makspll opened #104651 "rustdoc --json output format, crate.paths does not contain all items"
https://github.com/rust-lang/rust/issues/76578

### Code

Running
`$ rustup run nightly-2022-11-20 cargo rustdoc -p bevy_asset@0.9.0  --  -Zunstable-options --output-format json`
generates a json file whose `paths` mapping does not contain many of the internal structures such us:
AssetPathId, SourcePathId, HandleId, LabelId etc.

Not sure if this is intended, but without this mapping there is no w

[2022-11-20 20:40] HintringerFabian commented on #103791
I looked a bit into this issue and have already found where to add text to the `parser.ftl` and the `errors.rs` as @hgrahamcs mentioned, but i am a bit overwhelmed how and where to start in the `recover_block_from_condition` in the `expr.rs`.

Does anyone have a hint for me?

[2022-11-20 20:54] Kixunil commented on #63292
@SimonSapin so can I make a PR? :)

[2022-11-20 20:56] mejrs commented on #63292
I agree with that. I've seen several people use it, and none used it correctly. They look too much like "this is what I need" and they are too hard/tricky to use correctly.

Overall I think it would be better if these methods did not exist, and that if stabilized I feel like we'd regret it.

[2022-11-20 21:03] camelid commented on #100450
I think I'd vote for `Iterator::chunks` since arrays are a pretty clear fit for what this function accomplishes and `array_chunks` is a bit unwieldy.

[2022-11-20 21:25] Nilstrieb commented on #104649
Minimized it down to 60 lines without any dependencies. Maybe it can be minimized further but it's getting really hard. I've also left a few comments to say what's going on.
<details>
<summary> "Minimized" </summary>

[code]
</details>

[2022-11-20 21:37] fishrockz opened #104652 "Clippy fix for "`contains_key` followed by `insert`" produces "borrow of moved value" error"
When running `cargo clippy --fix`

[code]

The code fails because I use the thing I test for in the hash map in the else. This seems fairly sensible so I am surprised this wasn't picked up already. Maybe I'm missing something silly.

Ether way  the output suggested creating a issue so I have done

### Meta

`rustc --version --verbose`:
[code]

To reproduce clone https://gitlab.com/girderstream/gir

[2022-11-20 21:48] CrendKing commented on #101645
I can't verify your statements since I don't have IntelliJ atm, but even it's true, isn't it IntelliJ setting up the console with maybe some special debugging API? How to you modify the code of P to achieve the same? And realistically speaking, do people actually do that with GUI apps?

I think in this case, it's impossible to be 100% sure where the user wants the output at. New option might be th

[2022-11-20 21:52] LeoniePhiline opened #104653 "rustc non-exhaustive patterns: Misleading error message when `match` arm uses `if` over a general pattern"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f8368327e56743a1f798a6086383804d

[code]

The current output is:

[code]

The output might rather look like something akin to:

[code]

The main pattern `Some(val)` is general and matches identical to `Some(_)`.
The compiler should point to the `match` branch's `if` condition and explain how to match

[2022-11-20 22:27] #102671 closed

[2022-11-20 22:27] #104530 closed

[2022-11-20 22:52] Kixunil commented on #43165
I'd definitely like supporting other languages. Rust doesn't exist in a vacuum and there are plenty of reasons to write code in other langs, such as:

* bindings to other languages
* examples how to run a Rust application from a shell script
* references to foreign code ("this is equivalent to ... in C++")

[2022-11-21 01:19] shepmaster commented on #104649
This appears to have regressed in Rust 1.64

### 1.62

[code]

### 1.63
[code]

### 1.64
[code]

[2022-11-21 01:22] shepmaster commented on #104649
This continues to ICE on beta and nightly

[code]

[code]

[2022-11-21 01:44] #104373 closed

[2022-11-21 01:59] MU001999 opened #104661 "Unexpected error on dropck with manually drop"
I tried [the following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9a7fc809ec2be6e4ab45930ccdbf8ec0):

[code]

I expected to see it is compiled successfully. Instead, it caused an error[[E0597]](https://doc.rust-lang.org/nightly/error-index.html#E0597): `s` does not live long enough.

This seems to be because the lifetime bound cannot describe that one variable e

[2022-11-21 02:03] thomcc commented on #104530
It's probably possible but tricky, I'm not an expert on windows kernel internals though. I don't think they'd do this anyway, since it would break programs relying on it not being checked, sadly...

[2022-11-21 03:00] #104661 closed

[2022-11-21 03:48] xmh0511 commented on #103854
For the associated type, when we want some contraints to that type, we may write
[code]
Similarly, we may design for associated function/method in a similar way, which looks like
[code]
which can have better fine-grained control over the corresponding types of the associated function/method.

[2022-11-21 05:11] justofisker opened #104664 "`format!` inside `std::path::Path::from` panicks rustc"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-21 05:24] Rageking8 commented on #104664
Should be a dupe of #104149, #103906. The above code is already fixed for current beta (1.66) and nightly (1.67).

UI test is also not required as checked with @compiler-errors some time ago.

[2022-11-21 05:26] #104664 closed

[2022-11-21 07:20] sundeep-kokkonda commented on #75362
Hi @jonhoo

While working on reproducible builds, I observed that `librustc_driver` is differed when build path is changed. I set `remap-debuginfo = true` but still the generated binaries are different. There are some hints from community in issue #102299 to add `--remap-path-prefix`. So, I added these flags as below (in ~/.cargo/config) along with `remap-debuginfo` but still the binaries are diff

[2022-11-21 07:54] albertlarsan68 commented on #104649
I bisected the regression, here is the output of `cargo bisect-rustc`:

searched nightlies: from nightly-2022-06-24 to nightly-2022-08-05
regressed nightly: nightly-2022-07-14
searched commit range: https://github.com/rust-lang/rust/compare/1c7b36d4db582cb47513a6c7176baaec1c3346ab...87588a2afd9ca903366f0deaf84d805f34469384
regressed commit: https://github.com/rust-lang/rust/commit/c80dde43f992f3eb

[2022-11-21 07:58] Nilstrieb commented on #104649
Out of these #98574 seems the most likely, cc @dingxiangfei2009

[2022-11-21 09:40] Jesse-Bakker commented on #63178
With the resolution of #85115, are there any issues blocking stabilization?

[2022-11-21 09:46] conradludgate commented on #72631
For the record, I've just ran some simple benchmarks against `vec.extend(Some(x))` and `vec.extend_one(x)` and the `extend_some` variant performed 20% faster on average. The main difference I can see from the codegen is the `reserve` call, and the order of the branching

[code]

My judgement from reading the raw_vec code is that `extend_some`, by using `reserve` which has allocation marked as `#[c

[2022-11-21 09:48] jplatte commented on #91611
I tried (a second time) to use this in axum, and while it doesn't allow making the traits less flexible (allowing non-`Send` futures) due to #103854, it does work: https://github.com/tokio-rs/axum/commit/b92fe41ed318d9cf07df8ebe98263a69b36a1d07

However, I had to add a lot of `'static` bounds to lifetime parameters and didn't understand why. If anybody can shed some light on that, that would be ne

[2022-11-21 11:43] oli-obk commented on #85105
I think we should still enforce this at the signature level by making it a const generic parameter. If anyone wants to be mentored on this, I'd be happy to do that.

We'd roll it out with minimum annoyance by creating a

[code]

that we can then add incrementally to all use sites (mostly the stdsimd submodule). Updating the submodule at the same time as the intrinsic would be super annoying to do,

[2022-11-21 12:28] jruderman opened #104670 "`{{produces}}` tag is not substituted on individual lint pages"
### Location

https://doc.rust-lang.org/nightly/nightly-rustc/rustc_lint/builtin/static.UNSAFE_OP_IN_UNSAFE_FN.html

### Summary

The `{{produces}}` tag is not replaced on this page like it is on https://doc.rust-lang.org/nightly/rustc/lints/listing/allowed-by-default.html#unsafe-op-in-unsafe-fn.

### Significance

The `rustc_lint::builtin::*` page is often the first hit on Google for the lint nam

[2022-11-21 12:48] LeSeulArtichaut commented on #88015
@rustbot claim

#104669 *should* fix this, though I need to do some more testing and I'm expecting bad diagnostics in some cases

[2022-11-21 13:16] MOZGIII commented on #63178
Thanks for the update!

I'd say we can go ahead with the stabilization.

[2022-11-21 13:18] tamasfe commented on #103854
I'm writing from a user's perspective who uses `async` on a daily basis in web contexts, where taking advantage of parallelism via spawning tasks to multiple threads is the norm. Just after a day of playing around with this feature I've run into the lack of `Send` bound twice by now with ugly workarounds (tokio's `LocalSet`) or no possible workaround whatsoever.

I suspect many people are just loo

[2022-11-21 15:00] ehuss commented on #104670
Those pages can't be modified since the documentation is generated by a separate tool.

I'm not sure if it would be possible to improve google's results. For some reason, https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html isn't appearing in results at all. I wonder if there is some reason that is preventing that.

[2022-11-21 15:09] dvdhrm commented on #101656
I tracked this down. The error we get is in the LLVM IR verification. Globals (code, data, ...) are called `GlobalValue` in the IR and can have a set of attributes. One of those is called `dso_local` (the linker / lto-compiler can rely on the symbol to be local and not interposable), another is called `dllimport` which just tells the compiler to use indirect-calls as is common for dll imports.

Th

[2022-11-21 15:14] wesleywiser commented on #62945
Visited during wg-debugging's triage meeting. We think this is most likely still an issue but probably not a high priority one. If someone wants to work on this, the first thing they should do is retest and verify this is still broken (but we think it most likely is).

There may be a fairly simple resolution to modify rust-gdb to detect which toolchain it's being invoked from and then run the set

[2022-11-21 15:16] badboy commented on #104530
Looks like this is filed upstream already, though with less information, so cross-linking them here: https://github.com/sandboxie-plus/Sandboxie/issues/2443

[2022-11-21 15:22] RalfJung opened #104676 "Tracking issue: convert library-testing ui tests to unit tests"
We generally prefer library features to be tested as unit tests, not ui tests: this clearly separates things testing the compiler from things testing the library, and also ui tests are easier and faster to run and they are formatted, checked, and linted together with the rest of the library more easily. Also our unit tests are actually run by Miri, but ui tests are not (and it's much harder to do

[2022-11-21 15:29] wesleywiser commented on #59558
Visited during wg-debugging triage. This appears to be fixed and so this just needs a regression test: https://rust.godbolt.org/z/E5hKx1f5P

[2022-11-21 15:36] pnkfelix opened #104677 "rust-gdb shoud detect gdb version and warn if UX is expected to be poor"
(Spawned off of #63436)

During wg-debugging triage, I mused that it might be good to pro-actively tell users if their gdb version is so old that its known to yield sub-par debugging experiences for `rust-gdb`.

[2022-11-21 15:50] RalfJung commented on #98593
The general conclusion in this thread regarding the original question seems to be: why have a `ptr::extern` or so if one can use `ptr::from_exposed_addr` instead? Here is one argument: stabilizing `from_exposed_addr` is further off than stabilizing the other functions, because of their rather unconventional semantics (angelic non-determinism) that should probably be studied a bit more before it ge

[2022-11-21 15:56] ufoscout opened #104678 "async_fn_in_trait: lifetime of implemented async trait fn wrongly evaluates to static"
In the following code, the trait compiles but not the struct implementing it:

[code]

**I expected to see this happen:**
The code should compile and the expected lifetime of `Self::Conn` should be `'a`.

**Instead, this happened:**
The compilation fails. The error says that the expected lifetime of `Self::Conn` in the struct is `'static` even if it is declared as `'a` in the trait:

[code]

Pleas

[2022-11-21 15:57] Lokathor commented on #98593
Currently, when using `as`, the user doesn't have to worry about if the usize is previously a runtime exposed pointer or a hardware address, they just do the `as` cast. This has *less* chance of screwing up, because it's one less thing that matters. So personally I wouldn't want to use `extern_addr` or anything like that, I'd just wait longer for `from_exposed_addr` to stabilize.

[2022-11-21 15:58] SOF3 opened #104680 "non-defining opaque type use in defining scope"
I tried this code on **nightly-2022-10-21**:

[code]

This should compile because the TAIT should resolve into `Copied<slice::Iter<'t, D>>`.

Instead, I get this error:

[code]

To prove that this code should compile, I simply change the TAIT to a named type:

[code]

and this compiled.

I also tested the problematic code on **nightly-2022-10-20** (one day before) and the code compiled correctly,

[2022-11-21 16:17] lqd commented on #85105
@oli-obk will it be possible to cast the `i32` const generic parameter that the intrinsics use, to this `simd_insert_new`'s `u32` const generic parameter without locals ? (would it require adding post-monomorphized conversion at each `simd_insert` call site, or `generic_const_exprs` ?)

[2022-11-21 16:36] oli-obk commented on #85105
we could just make the `const N: u32` be `i32` instead, would that work? or are both signed and unsigned versions needed?

[2022-11-21 16:39] pvdrz commented on #63012
Apparently it is necessary to avoid recompiling in some scenarios: https://github.com/Rust-for-Linux/linux/issues/2#issuecomment-1307818144

[2022-11-21 16:40] weiznich opened #104682 "ICE Failed to extract DefId: local_def_id_to_hir_id 999c8437c28acff7-7888abc43219a632"
### Code

Cannot provide that, as it's not a public code base

### Meta

`rustc --version --verbose`:
[code]

(Cannot test that on 1.65 due to https://github.com/rust-lang/rust/issues/104322)

### Error output

[code]

[2022-11-21 16:43] eholk commented on #104382
Out of curiosity, does the issue still show up if you do `rustc -Z drop-tracking`?

I would guess yes since drop tracking doesn't do much with lifetime issues, but it'd still be interesting to know.

[2022-11-21 16:44] the8472 commented on #104676
Some tests also modify global state or spawn child processes. Since libtest uses threads we need some helper binaries for that that the test-suite could spawn. There was a [seconded compiler MCP](https://github.com/rust-lang/compiler-team/issues/508) to add a test attribute for that but I don't think it was ever implemented

[2022-11-21 16:49] djc opened #104683 "Misleading borrow checker error when accidentally creating self-referential lifetimes"
Given the following code:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=31c7a14c81699b4f4ca1b12d48c9ca09).)

The current output is:

[code]

This threw for a loop for quite a long time until I started reducing it in order to file this issue, and realized that I missed that it was essentially creating self-referential borrows by pushing a type contai

[2022-11-21 16:51] weiznich commented on #104682
Seems to be related to incremental compilation as this ICE disappears after a clean build

[2022-11-21 16:54] yshui opened #104684 "`dyn Trait<'a>` shouldn't carry `'a` lifetime"
I tried this code:

[code]

I expected to see this happen: It compiles

`dyn Trait<'a>` should have an lifetime independent from `'a`. i.e. `dyn Trait<'a> + 'b` should have lifetime `'b`. in this particular case, `'b` is `'static`.

Instead, this happened:

[code]

### Related

#88904. Since this is another way of creating `dyn Trait: !Trait`, except in this case, I think the unsized coercion shou

[2022-11-21 16:55] eholk commented on #80658
Is this still an issue?

The current output for the test case ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0c7aa82879ff0f48f11b4f28f5a61497)) is:
[code]
which looks pretty close to the desired output listed above.

[2022-11-21 16:59] Manishearth commented on #98116
Yeah I think it's probably a mistake for unicode-rs to not have the Unicode-DFS license. We inherited the license from back when these crates were a part of rust's stdlib code though.

Unicode-DFS is basically MIT (but applies to data too), so it's not really a problem, but we might need to relicense? There's also iffiness on the licenseability of data though.

[2022-11-21 17:05] CheaterCodes opened #104685 "ICE when creating a reference to an (extern?) value of an extern type in a static context"
Also on Rust Playground:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5602ca55d70c4f28705a4740310228f4

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-21 17:10] Rua commented on #85077
What's the progress on this?

[2022-11-21 17:17] Rua commented on #80094
The Nalgebra crate has a `zip_map` method for its vector types. That would be more useful than the currently proposed `zip`, because you can use `zip_map` to map to an array of tuples anyway. It may also be worth investigating whether it's possible to extend this to any number of elements in a single "zip", for example the ability zip 3 arrays, 4 arrays, or any number of arrays `M`. Nalgebra has `

[2022-11-21 17:22] lqd commented on #85105
I'm not sure, I thought `simd_insert` was one of the LLVM extern C intrinsics that stdarch calls directly, but it's a `"platform-intrinsic"` so we may have more leeway about its signature.

[2022-11-21 17:41] cuviper commented on #104676
Isn't that what `library/*/tests/` is for?

[2022-11-21 17:44] h-a-n-a opened #104686 "GAT successfully compiled without error even for unmatched types"
I tried this code:

[code]

I expected to see this happen:

The compiler should complain that `struct Family` should not be successfully compiled as type `P::Pointer<u32>` is not matching with `Pointer<String>`

Instead, this happened:

The snippet was compiled successfully.

Also, it is good to note that if I replace `Pointer<String> = Arc<String>` with `Pointer<String> = Rc<String>`, the compile

[2022-11-21 17:55] oli-obk commented on #85105
there is no direct calls anywhere. We are generating the llvm intrinsic call during codegen. We can pick whatever signature we need from the Rust side and translate during LLVM codegen.

[2022-11-21 17:58] the8472 commented on #104676
To spawn a child you still need a helper binary that can be spawned.

[2022-11-21 18:01] thomcc commented on #104676
To be clear, converting these to be integration tests would be fine. The important thing is mostly that they use the libtest test runner. It's also fine if the conversion can't be done in all cases.

At the moment, we have some of these as uitests because tier3 targets without support in `getrandom@0.1` cannot run the stdlib test suite. We probably have some for other reasons, some of which are be

[2022-11-21 18:06] compiler-errors commented on #104686
@h-a-n-a -- I don't understand what the bug is here. Can you elaborate?

When you substitute the generic args of `Family<ArcFamily>`, that means that the `p`  field's type is `<ArcFamily as Family>::Pointer::<u32>`, which is `Arc<u32>`.

The only thing that `<P: PointerFamily<Pointer<String> = Arc<String>>>` checks is that when `Pointer<T>` is substituted with `T = String`, we get `Arc<String>` ou

[2022-11-21 18:13] h-a-n-a commented on #104686
@compiler-errors
The confusing part of this, for me, is for the `P: PointerFamily<Pointer<String> = Arc<String>>`, which has an underlying type conflict for the implementing part as `Arc<u32>` was used, and if I tried to write the full type of `p` field, It would be `P::Pointer<u32>`. I don't know if it was an intended behavior, but it looks weird to me though.

[2022-11-21 18:36] #100259 closed

[2022-11-21 19:08] erikpa1 opened #104687 "Changing order compilation errors to be under warnings?"
Hi, I'm just teaching rust, and I think its very annoying when on build I have to scroll really a lot to get error message:

![image](https://user-images.githubusercontent.com/19526670/203138714-9e41b58c-9f50-4abc-b706-619750f03f9b.png)

For example in my case VS code totaly crashed code completion and I'm working like with plain text, and I always scroll like an idiot upside across all warnings t

[2022-11-21 19:38] RalfJung commented on #93784
That was
[code]

[2022-11-21 19:45] arkivm commented on #24157
Sorry for bumping on the existing issue. But the problem I encounter is very relevant to this issue.

The snippet ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=d7301ad51e77123f2e0dea432e7ea924))

[code]

errors with

[code]
However, it compiles when I explicitly annotate the `exit_wrapper` with a return type `-> !`.
Is it unreasonable to expect the compiler

[2022-11-21 20:03] y-usuzumi commented on #92858
Hi, newbie here, but is this code having the same problem?

[code]

Error message:

[code]

[2022-11-21 20:05] est31 commented on #78855
FTR the feature was originally implemented in #78166, which got rebased and merged in #82296, and then removed/reverted in #83713 due to #83641.

[2022-11-21 20:06] yxonic commented on #91611
I am trying out this feature to replace the `async-trait` crate, and encountered an inconsistency together with the unstable specialization feature. I can't figure out whether the problem lies in here or in specialization (I did overuse the specialization feature a bit).

Here are two minimal examples comparing the same specialization logic with `async-trait` and `async_fn_in_trait`:

[`async-trai

[2022-11-21 20:20] y-usuzumi commented on #92858
I did some further experiment and found using tuples (even singles) can cause this error:

[code]

This causes error:

[code]

[2022-11-21 20:27] cjgillot commented on #104680
I'm tempted to classify this as a fixed bug.
Your code should not have compiled: the concrete type `std::iter::Copied<std::slice::Iter<'t, D>>` captures lifetime `'t`, but that lifetime does not appear in the bounds of `impl Iterator<Item = D>`. Per the rules of impl-trait, it should err.
Adding a `+ 't` to make `type Iter<'t> = impl Iterator<Item = D> + 't where Self: 't;` compiles fine.

Compare

[2022-11-21 20:42] Dirbaio opened #104689 "AFIT: impl can't add extra lifetime restrictions, unlike non-async"
In a non-async trait, the impl is allowed to add a lifetime param that forces the lifetime of the two args to be the same:

[code]

However, with async traits it's not:

[code]

It results in this error:

[code]

I arrived at this code by accident. The obvious fix (removing the lifetime param) should always work. (At least, I can't think of any case where you'd explicitly want it). So I don't thin

[2022-11-21 21:10] schneems opened #104690 "Error message for closure that requires `|_|` is vague"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2fecf0a7fbaba8101daba7d1a1ec1837

[code]

The current output is:

[code]

Should reference:

[code]

As this is the correct code that compiles:

[code]

Using

[code]

If it helps, I'm trying to find a way to conditionally read in a file only if it exists. I was experimenting with this format:

[code]

[2022-11-21 21:12] Dirbaio opened #104691 "TAIT: hidden type captures lifetime that does not appear in bounds"
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=302b429b35fce37e608e48f8b0b5dab6)

[code]

fails with

[code]

while this used to work before. I think because the `where Self: 'a` part takes care of the capture (?).

Not present in nightly yet, found it by building 1cbc45942d5c0f6eb5d94e3b10762ba541958035 from git master. Bisected it to 7fe6f36224e92db6fbde952

[2022-11-21 21:13] dawn-minion commented on #89498
@glaubitz Not sure if you're still working on this, but, is M68K still buildable? I've applied the patch from above on the latest main and it gets further in the build as expected, but then fails with:
[code]

Which seems different than the original issue. I'm not seeing anything custom in Rust, so seems more like an LLVM bug? Both errors are on the modulus operator.

[2022-11-21 21:48] AtomicGamer9523 commented on #103847
You are right, this is no longer an issue

[2022-11-21 21:48] #103847 closed

[2022-11-21 22:26] matthiaskrgr opened #104695 "ICE: op.layout.ty.is_simd()"
### Code
`cargo new` and put the code into `src/main.rs`
Then run `cargo check --all-targets`

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-21 22:48] CAD97 commented on #63292
The way to do so would probably be

- https://github.com/rust-lang/rust/pull/84338

but that was previously abandoned due to compile time regressions, which seem to be due just to LLVM having more code to chew through in the widely monomorphized allocation path.

It's possible that the intervening LLVM upgrades and MIR inlining improve the situation there, if someone wants to try reviving that PR.

[2022-11-21 23:09] dingxiangfei2009 commented on #104649
Zooming onto `expr_use_visitor` changeset.

[2022-11-21 23:11] Rahix commented on #74743
I think it needs to be checked whether this bug is still present in current versions.  I have the suspicion that it was fixed as part of some LLVM patches related to function pointers.

[2022-11-22 00:02] compiler-errors commented on #95134
Reopened by #104610

[2022-11-22 00:12] ThatOneCalculator opened #104699 "[Discussion] Purpose of `PROBLEMATIC_CONSTS`"
I don't see anything utterly offensive in `PROBLEMATIC_CONSTS`, why not let programmers have fun and talk about boobs in their code?

[2022-11-22 00:16] asonix commented on #104690
Filter's predicate must be a type that implements FnOnce(&T) -> bool

a block created with `{}` does not implement FnOnce, ti's just a block of coe

Adding `|_|` turns the block into the body of a closure, which takes 1 argument but doesn't use the argument

https://doc.rust-lang.org/stable/std/option/enum.Option.html#method.filter

[2022-11-22 00:39] asonix commented on #104690
Coming back because I also think there's a cleaner way to do this:

[code]

[2022-11-22 00:48] estebank opened #104700 "Account for item-local, out of scope bindings, in E0425"
When [encountering a binding that is not available](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ffe595a8d6ef3e571e14296a5313f801)

[code]
the error should mention bindings that are outside of the scope but within the same item
[code]

[2022-11-22 01:26] jackh726 commented on #89242
Stumbled across this again. This is basically #89196, because we try to prove the bound before we complete function resolution. It's a little different though, so I'll mark this to get included as a known-bug.

[2022-11-22 01:34] compiler-errors commented on #104689
So this has to do with the "return-position `impl Trait` in trait" hidden-type inference algorithm requiring strict equality, rather than a supertype relation, between the function signatures.

[2022-11-22 01:39] saethlin commented on #104699
What you are asking for is already the case. Tidy only applies to this repo: https://github.com/rust-lang/rust/blob/28a53cdb4695b71cb9ee39959df88542056479cd/src/tools/tidy/src/style.rs#L1

[2022-11-22 01:44] jyn514 commented on #104699
This decision has already made, we don't revisit old decisions without new information.

I'm going to lock this since it has a tendency to bring out trolls.

[2022-11-22 01:44] #104699 closed

[2022-11-22 01:53] chenyukang commented on #104700
@rustbot claim

[2022-11-22 01:55] sharifhsn commented on #91399
I can comment on my use case for this function. I'm doing research on high-performance floating-point operations that requires me to iterate through floating-point numbers in this way to determine intervals for an input. My current workaround is manually converting using `to_bits` and `from_bits`, but these have the disadvantage of being awkward and not necessarily complying with IEEE-754 recommen

[2022-11-22 02:17] SOF3 commented on #104680
Agreed, I didn't realize I was missing the `+ 't` there. Was briefly confused by the `where Self: 't` when I was debugging this.

[2022-11-22 03:47] compiler-errors commented on #104620
cc @nnethercote

[2022-11-22 03:48] compiler-errors commented on #104560
I'm gonna close this since it's fixed on beta, and probably will not be backported to stable.

[2022-11-22 03:48] #104560 closed

[2022-11-22 03:48] workingjubilee commented on #104695
During typechecking, the compiler deliberately eschews reasoning about certain type formations that are parametric in order to allow monomorphization to catch them, as at monomorphization time we have the ability to reason fully about the types. We've taken to using trait bounds to catch this behavior in code for `std::simd`, however, I do not think using the intrinsic directly can really be expec

[2022-11-22 04:13] eminence commented on #95174
Once place where `adt_const_params` really shines is in diagnostics.  Consider the following stable code, which casts a `repr(u8)` enum, to be used in a const generic:

[code]

[code]

But with a real enum and `adt_const_params`, the error message is much clearer:

[code]

[2022-11-22 04:18] andrewgazelka commented on #103854
To bikeshed, I think removing `()`s makes sense as they are not needed. This is how Kotlin references functions as types

[code]

[2022-11-22 04:23] nnethercote commented on #104620
I'll take a look, thanks for the heads up.

[2022-11-22 04:47] #104414 closed

[2022-11-22 04:47] #104609 closed

[2022-11-22 04:54] nnethercote commented on #104620
@petrochenkov: I changed the test input to the following, to avoid a "expected item after attributes" error:
[code]
With rust 1.64.0 I get these errors:
[code]
If I change `from_mac_args` to return `None` if `Lit::from_token_lit` fails, then I get these errors:
[code]
Do you think that is reasonable behaviour?

[2022-11-22 05:03] Nugine commented on #103854
Inspired by https://github.com/rust-lang/rust/issues/103854#issuecomment-1320235648. What if we can specify bounds of associated functions?

[code]

It seems too verbose.

[2022-11-22 05:29] dojiong commented on #103854
@Nugine  Fn has associated type: Output, it may simplify to `<I::next as Fn<...>>::Output: Send`

[2022-11-22 05:34] workingjubilee commented on #104695
Previously we decided we're not going to bother making the experience nice for these intrinsics, they're all intended to be viewed as in the namespace `hold_my_bev::i_know_what_i_am_doing`, so technically this is a wontfix. However, this case is somewhat interesting to examine, mostly because it happens before typechecking has completed, which isn't something I think we expected to happen at the t

[2022-11-22 06:45] JonahPlusPlus opened #104703 "Long build times for conflicting trait implementations (>35min on GitHub CI)"
I tried to compile this code: https://github.com/JonahPlusPlus/bevy_atmosphere/tree/4a0df51f7817e1f50294fc7abf69b5455cbc4f9e

I expected this to compile relatively quickly.

Instead, it took really long, and I thought that the compiler was broken. However, after 35min, my CI finished.

It returned the following error:
[code]

It turns out that I didn't need to implement [`TypeData`](https://docs.r

[2022-11-22 06:49] workingjubilee commented on #104695
Hm, no, I just didn't trace that correctly. Onwards!

[2022-11-22 06:49] #104695 closed

[2022-11-22 06:53] iamwwc commented on #81823
Does someone can explain to me why GAT isn't object-safe?

[2022-11-22 06:59] xmh0511 commented on #103854
The syntax ` I::next: Trait` would be a bit misleading since `I::next` is **not a type** or type alias. It is better if we write that
[code]
and therefore we can also write
[code]
pointed by @dojiong

[2022-11-22 07:41] ufoscout commented on #104678
@compiler-errors
sorry, I did something wrong with the issue title.

I reported this issue because I considered it different than #102681, but you know it better than me, so I am not sure.

[2022-11-22 07:51] Rageking8 commented on #104703
@rustbot label +I-compiletime

[2022-11-22 07:51] traviscross commented on #91345
Most of the time when I want `inspect` for `Result` (or `Option`), I want the closure to be passed the entire thing (i.e. `&Self`), rather than just the `Ok` or `Err` (or `Some` or `None`) value.  That is, I want to write:

[code]

rather than:

[code]

If we wanted, we could still add `inspect_ok`, `inspect_err`, `inspect_some`, and `inspect_none` for the cases where they might be more convenient

[2022-11-22 07:54] ilyvion opened #104705 "Modules loaded using `#[path]` are seemingly treated like `mod.rs` files even when they're not"
Assume the following file structure:
[code]
where `bar.rs` has a `mod baz;` in it.

When doing
[code]
in `main.rs`, everything works like expected. The `bar` module is loaded from `bar.rs` and its `baz` module gets loaded from `bar/baz.rs`. Smooth sailing.

Now try adding
[code]
to `bin/foo.rs`. What I expected was that this would behave exactly identical to `mod bar` in `main.rs`; after all, I've

[2022-11-22 08:00] Antikyth commented on #91345
That makes sense to me.  I would definitely say that adding `inspect_ok`, `inspect_some`, `inspect_err`, `inspect_none` for convenience would be a good idea to go with this proposal - I think there are many times when you want to inspect the 'whole' `Result` or `Option`, but also many times when you wouldn't.

[2022-11-22 08:14] gasrios opened #104706 "Account for incorrect attempts to declare "hexadecimal float literals" in E0308"
If someone tries to write a [hexadecimal float literal](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=53604a5a1e34595985ec81e70efe67b9):

[code]
They will get the following output:

[code]

Executing `rustc --explain E0308` will give you:

[code]

This is different from the much simpler "binary float literal is not supported" message one gets, when trying to use a literal

[2022-11-22 08:31] arkivm commented on #24157
Thank you @workingjubilee. That clarifies my question. Also, thanks for posting an explanation on the mentioned issue.

[2022-11-22 08:33] andrewgazelka commented on #103854
thoughts on

`decltype<T>() -> Type<T> `

similar to discriminant but generic?

[2022-11-22 09:00] petrochenkov commented on #104620
Both seem fine, I'd do whatever is simpler to implement.

[2022-11-22 09:04] SimonSapin commented on #63292
It’s one way but I think it doesn’t have to? `UniqueRc` could be a wrapper type for `Rc` without changing its internals, only adding safety invariants

[2022-11-22 09:56] workingjubilee commented on #91399
I am not sure what you mean by this, as implementations that do not implement subnormal numbers are nonconformant with IEEE754. I intend to address these concerns and more in a future project soon.

[2022-11-22 10:05] bjorn3 commented on #95113
Fixed by https://github.com/rust-lang/rust/pull/103061.

[2022-11-22 10:05] #95113 closed

[2022-11-22 10:13] bjorn3 opened #104707 "Don't leak non-exported symbols from staticlibs"
When compiling a cdylib only `#[no_mangle]` symbols are exported. `#[rustc_std_internal_symbol]` and mangled symbols are not exported. This prevents symbol conflicts and avoids overriding symbols in ways that causes UB when using a rust cdylib in a rust program. For staticlibs however all symbols leak out of the staticlib. Causing symbol overrides that are potentially UB and symbols conflicts. For

[2022-11-22 10:13] tamasfe commented on #103854
_(I do not work on the compiler, and I do not get to decide anything, the below text is only an opinion as an outside observer.)_

I can't help but see that this thread is turning into a `decltype` bikeshedding discussion, I have a few additional thoughts on that:

<details>
<summary>decltype is difficult</summary>

- If we really want that, it should probably get its own issue/thread and then an

[2022-11-22 10:17] #104326 closed

[2022-11-22 10:42] glaubitz commented on #89498
@dawn-minion The M68k backend in LLVM is still considered experimental and there are still a number of bugs.

I recommend that you always try to build the Rust compiler with LLVM from git since there are regularly coming new improvements in for the M68k backend.

FWIW, we have both a Patreon and an OpenCollective campaign to support the developers of the M68k LLVM backend, so if you're really inte

[2022-11-22 10:44] nlopes commented on #103081
@Nilstrieb I was about to submit an issue with (I think) this very same issue.

In the hopes that this helps (and yes, it is still present on the latest nightly version) although the compiler seems to point to a slightly different line.
If this is not related please let me know and I can open a different issue (and apologies in advance).

### Meta
`rustc --version --verbose`:
[code]

### Error out

[2022-11-22 11:19] andrewgazelka commented on #103854
I agree with the bikeshedding.

Honestly, I'd like to see `async_fn_in_trait` out as soon as possible. I am a firmware engineer, and naturally—as it is often run on a single core—firmware code is much easier to write with `async_fn_in_trait` being stabilized. This is even more pressing as `Box`es do not exist in `no_std` environments, so `#[async_trait]` cannot be used. The sooner this transition

[2022-11-22 11:22] Nugine commented on #103854
For now, if you want to define an "async" trait, you may use:

+ trait + named/boxed future + ?Send (stable)
+ GAT[^1] + named/boxed future + ?Send (stable)
+ GAT + associated future type + ?Send (TAIT[^2])
+ GAT + anonymous future + ?Send (RPITIT[^3])
+ GAT + async fn

We alreay have async_trait[^4] syntax widely used through proc macro. The macro can desugar to one of the five methods above when

[2022-11-22 11:40] chorman0773 commented on #104707
FTR, I'm unsure there *is* a way to limit exported symbols from a staticlib, without both limiting the number of CGUs within the crate to 1 *and* preventing any upstream crates from using the `#[global_allocator]`. There is further limited ways to prevent upstream crate symbols from being exported. My Original Post was made with that in mind.

[2022-11-22 11:47] bjorn3 commented on #104707
Maybe partial linking would work? If not we will at least need to version all `#[rustc_std_internal_symbol]`s for each rustc version to prevent UB if different rustc versions implement them in backwards incompatible ways. And maybe we can edit every object file to rename symbols to be unique? By the way note that for cdylib and staticlib all rust crate dependencies are included directly in the cdy

[2022-11-22 12:12] chorman0773 commented on #104707
IDK whether all linkers support partial linking (in particular, I don't know about microsoft's link.exe). Though, personally, I don't particularily want to touch `ld -r` with a 10' pole anyways if I don't have to. The versioning would work, if done within the mangling (for mangled symbols).

I plan to do it slightly differently when possible - for staticlibs resolve the dependencies and produce a

[2022-11-22 12:28] bjorn3 commented on #104707
That is a backward incompatible change for rustc

That will share and thus leak the global state of libstd across the cdylib boundary.

[2022-11-22 12:46] chorman0773 commented on #104707
On Tue, Nov 22, 2022 at 07:28 bjorn3 ***@***.***> wrote:

rustc currently just emits the library directly into the archive, right?
I'm not particularly sure what the difference here is, except in terms of
file size, and the fact that using libstd.so.0.1 is an option in addition
to libstd.rlib.0.1.

That is true, though I'm unsure how it is avoidable - even when statically
linking the symbols from

[2022-11-22 12:55] bjorn3 commented on #104707
I'm not particularly sure what the difference here is, except in terms of
file size, and the fact that using libstd.so.0.1 is an option in addition
to libstd.rlib.0.1.

The difference is that currently you can ship a staticlib as a standalone file and expect linking to succeed, but with your proposal you also need all dependencies to be available at exactly the same place.

linking the symbols fro

[2022-11-22 13:08] GoldsteinE commented on #99424
What prevents this from moving forward? Can I help with stabilization somehow?

[2022-11-22 13:18] bjorn3 commented on #104707
Rustc passes a version script to the linker specifying exactly which symbols to export and making it to hide everything else. This is but one of the reasons rustc is in change of invoking the linker.

[2022-11-22 13:44] flip1995 commented on #99938
We just hit this during the Clippy sync in https://github.com/rust-lang/rust/pull/104688#issuecomment-1322885430

The offending code was this:
https://github.com/rust-lang/rust/blob/242280252d741f720f31b36309c9e2b37fc44fa7/src/tools/clippy/src/driver.rs#L93-L98

Pulling the `cfg!` if line out of the chain fixed the issue, see https://github.com/rust-lang/rust/pull/104688/commits/5e6a9a40a90046a645

[2022-11-22 13:48] afetisov opened #104712 "Confusing error for missing From impls (and other traits with blanket impls)"
Given the [following](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=416278a7c79cd113fbb91d89f820cbee) code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-11-22 13:55] bczhc opened #104713 "Cross compilation with NDK has `-lgcc` linking error when using nightly-2022-11-22"
I'm cross compiling for target `aarch64-linux-android`. With Rust nightly-2022-11-21 it compiles successfully, but with nightly-2022-11-22 it fails with:
[code]
The NDK version is r25b 25.1.8937393;

I referred to https://github.com/rust-lang/rust/issues/103673, and learnt Rust has changed to link against `libunwind` but not `libgcc`. So seems this is a regression failure or something I'm doing wr

[2022-11-22 13:55] ehuss commented on #104705
I believe this is the behavior that has been around I think since `path` has been around (or if not, at least since the 2018 edition). Modules loaded from a `path` included module will be located relative to that path's location.

There is an open issue at https://github.com/rust-lang/reference/issues/573 for updating the documentation.

[2022-11-22 13:56] chorman0773 commented on #104707
Ah. My problem is that I have to support link editors that are like "Version Script? What is this? Expected PHDRS, MEMORY, or SECTIONS"

[2022-11-22 14:08] PROMETHIA-27 opened #104714 "Missing diagnostic for attempting to call Deref method shadowed by trait impl"
Given the following code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=16cdc52cb81bbc4c2ed4fbbd19a5289d)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

It would be better if it also figured out that the clearer way to do this for `Vec` is `self[..].get()`, but just the deref tip would be a big improvement.

[2022-11-22 14:19] petrochenkov commented on #99424
AFAIK, it's still not implemented on some tier 1 platforms (Apple targets).

[2022-11-22 14:39] steffahn commented on #104712
I guess it makes sense to also [leave a link to the URLO discussion](https://users.rust-lang.org/t/disappointing-compiler-error-message-for-missing-impl-from/84692) where we’re coming from.

[2022-11-22 15:06] chorman0773 commented on #104707
I am aware of version scripts. The simplicity is not the problem. The problem is if I'm faced with a link editor that doesn't support them, which I typically cannot assume.

[2022-11-22 15:08] chenyukang opened #104718 "pre-push git hooks should avoid push remote when `test tidy --bless` failed"
I met this issue several times, after I pushed code to remote PR, the CI failed because `test tidy --bless` failed.
https://github.com/rust-lang/rust/actions/runs/3524341026/jobs/5909613972

I have an investigation, we have a `pre-push` git hook setup, but seems we do not exit when `test tidy --bless` changed code format, and push will also successfully, then the CI will fail for this issue.
https

[2022-11-22 15:16] jyn514 commented on #104718
Sounds good :) are you interested in making a PR?

[2022-11-22 15:17] kana-rus opened #104719 "Future in trait_alias causes internal compiler error ?"
### Code
[code]

### Meta
- `rustc --version --verbose`:
[code]
- Moving `<Fut: Future<Output = usize>>` to where-clause (e.g. `where Fut: Future<Output = usize>`) doesn't change the result
- Some part of code analyzing of rust-analyzer seems to stop at `dyn F<Fut>`. For example, when we add some "*plausible*" arguments like `b: F, c: Fn` after `a: dyn F<Fut>`, rust-analyzer doesn't report any mis

[2022-11-22 15:27] schneems commented on #104690
With some help from social friends https://ruby.social/@Schneems/109384543463801280. I've got some more language to explain what's happening versus what I was expecting.

I Intended to use a closure with no arguments, but `{}` is a block, not a closure `|| {}` is a closure. This error:

[code]

especially:

[code]

Was confusing to me. Because in my head, I looked at the docs and `filter` needs a

[2022-11-22 15:31] chenyukang commented on #104718
@rustbot claim

[2022-11-22 15:40] a1phyr commented on #73755
This was fixed upstream :tada:

[2022-11-22 15:47] fmease commented on #104686
I can only rephrase what Michael wrote.

The trait bound `P: PointerFamily<Pointer<String> = Arc<String>>` neither states that `P::Pointer` only accepts the type `String` as its argument nor that it “equals” `Arc<String>`. It states that given the concrete type `String` as an argument to `P::Pointer`, `P::Pointer<String>` equals `Arc<String>`. Most notably, we are only talking about `String` here

[2022-11-22 15:49] bjorn3 commented on #104707
Which linker doesn't support it? AFAIK every platform targeted by rustc has a linker supporting them or some other way to hide symbols.

[2022-11-22 15:51] GuillaumeGomez commented on #104651
Do you have a minimized example of the regression by any chance?

[2022-11-22 15:53] GuillaumeGomez commented on #104448
The PRs were beta accepted so maybe time for a new crater run?

[2022-11-22 15:56] chenyukang commented on #104639
@rustbot claim

[2022-11-22 16:09] Mark-Simulacrum commented on #103925
@craterbot run name=beta-1.66-rustdoc-2 start=1.65.0 end=beta-2022-11-21 mode=rustdoc cap-lints=warn

[2022-11-22 16:10] Mark-Simulacrum commented on #104448
Started a new run.

[2022-11-22 16:17] GoldsteinE commented on #99424
I don’t think I can help with that — I don’t own Mac. :(

[2022-11-22 16:31] albertlarsan68 commented on #100000
❤️ 🦀 ❤️ 🇫🇷

[2022-11-22 16:32] estebank commented on #104690
CC https://github.com/rust-lang/rust/issues/27300, https://github.com/rust-lang/rust/pull/47763

[2022-11-22 16:37] HarrisonMc555 opened #104723 "bootstrap should not use `rustc --version` to detect the build triple on on Mac Apple Silicon M1 arm64"
# TL;DR

I understand that Apple Silicon/M1/Arm is not supported as a tier 1 target. However, I was hoping that I would be able to compile the Rust compiler with Rosetta support. However, I could not do so.

# Details

I did a fresh clone of the `rust` repository and tried to compile it by running `./x.py`. However, it gave me the following errors:

[code]

I expected to see this happen: I expecte

[2022-11-22 16:40] compiler-errors commented on #104714
@rustbot claim

[2022-11-22 16:50] eminence commented on #77695
Now that #102049 has landed, it's possible to do const derive PartialEq in the latest nightly:

[code]

[2022-11-22 16:52] samsa1 opened #104725 "Borrow checker label unmutable borrow as mutable"
I encountered an unexpected behavior from the borrow checker. Being unable to determine if this is a bug or an intended behavior I post it here for every one to see.

I tried this code:

[code]

I expected to see this happen: Accepted by borrow checker

Instead, it was rejected by borrow checker with error :

[code]

The reason of this compilation failure is that the borrow checker considers `info

[2022-11-22 17:01] pietroalbini opened #104726 "Unsafe precondition violated in the x86_64 SIMD implementation of `str.contains`"
PR https://github.com/rust-lang/rust/pull/103779 added a x86_64 SIMD-based implementation of `str.contains(&needle)` to optimize searching into strings when the needle is at most 32 bytes long. Unfortunately, that implementation doesn't seem to be sound.

When compiling the standard library with debug assertions on, running UI tests excluding `src/test/ui/process/no-stdio.rs` results in compiletes

[2022-11-22 17:08] #77695 closed

[2022-11-22 17:09] #88015 closed

[2022-11-22 17:09] #104281 closed

[2022-11-22 17:09] pietroalbini commented on #104726
Tentatively opened a revert PR in https://github.com/rust-lang/rust/pull/104727.

[2022-11-22 17:17] the8472 commented on #104726
Ugh. I ran it under miri with quite an a combinatorial test that I thought should cover all the edge-cases. 😞
It's not immediately obvious what's wrong, so it's fine to land the revert for now.

[2022-11-22 17:20] thomcc commented on #104726
Last I checked (and a lot has happened since then so I could be working on outdated info -- @RalfJung might be able to confirm), miri can't catch `get_unchecked` failure in many cases I believe, since it's "just" library UB.

[2022-11-22 17:24] the8472 commented on #104726
the memory will be accessed after the get_unchecked so it should still be an invalid memory access when it's out of bounds. Unless I'm just doing some shortening slicing and then extending it again so that it's valid within the same allocation but not correct slicing.

[2022-11-22 17:52] the8472 commented on #104726
It seems like the test is just insufficient. Even with debug asserts and overflow checks enabled it doesn't catch it. I'll have to reproduce it first to figure out what's missing.

[2022-11-22 17:55] flip1995 commented on #99938
Hmm, I can do this, but I think that is actually the same issue. While the above reproducer might be fixed, the fix doesn't seem to generally apply. The above code produced the exact same ICE/error message as posted in this issue.

[2022-11-22 17:56] the8472 commented on #104726
Ah, probably the probing for alternative tail bytes when the first and last byte in the needle are the same.

[2022-11-22 17:57] IceTDrinker opened #104729 "Unable to call reverse on a Zip Iterator zipping a std::iter::Repeat"
Hello, first off sorry if this is not the right issue type, but I could not choose one that seemed to better fit. I tried to search in existing issues with "zip repeat rev" and nothing came up in GitHub. I don't know if it qualifies as a bug, but at least the behavior feels highly unintuitive.

I tried this code:

[code]

Rust playground: https://play.rust-lang.org/?version=stable&mode=debug&editi

[2022-11-22 18:10] cjgillot commented on #104691
Is this a bug or a bugfix? If I name lifetimes:
[code]

The provided code does indeed capture the implicit lifetime `'b`: the closure upvar is `&'c mut 'b Thingy`.
So, IMO, the error is legitimate, and previous implementation erroneously considered `'b` as allowed, which is inconsistent with how RPIT worked. Do you agree with those TAIT semantics @oli-obk?

[2022-11-22 18:31] oli-obk commented on #104691
I tried the same thing but realized the original also passes on playground until tomorrow. So I don't know if explicit lifetimes actually change anything?

[2022-11-22 18:32] oli-obk commented on #104691
But yea, I'd expect this to fail without a 'b bound

[2022-11-22 18:55] matthiaskrgr commented on #104726
Ooh, I was getting absolutely unexplainable compiler errors when building stage 1 libstd with a stage 0 rustc which was built with`-Ctarget-cpu=native` however, could this be the cause for this? :sweat_smile:

[2022-11-22 18:59] the8472 commented on #104726
Possible, but it would also do incorrect things on x86-64 baseline

[2022-11-22 19:05] Enselic commented on #104651
Due to re-exports, a single item can have many paths. And the path to the "real" item may be inaccessible behind a private mod. To learn about all the paths to an item, you must traverse the items from the root. You must also take into account renames (`pub use foo as bar`).

If you want to look at (one way) of doing that you can look at https://github.com/Enselic/cargo-public-api/blob/main/public

[2022-11-22 19:11] jdahlstrom commented on #85122
I was looking for an `unchecked_div` the other day and was surprised that it doesn't exist even under this feature. Any particular reason it's not included?

[2022-11-22 19:14] msrd0 opened #104733 "E0195: Bad error message on mismatched lifetimes when missing where clause"
Given the following code: [](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c4969364f5c55036fa48faddfc33c22e)

[code]

The current output is:

[code]

This error message, especially due to the highlighted code, makes me believe that there is some problem with the generic lifetime itself. However, the problem is the missing where bound that never appears in the error messag

[2022-11-22 19:28] rvolosatovs opened #104734 "Unexpected, premature `File` drop in absence of `std::mem::forget`"
I tried this code:

[code]

I expected to see this happen: success, even in absence of `std::mem::forget`

Instead, this happened: when `std::mem::forget` is not called in either `inner` or `outer` function, test sometimes fails on L28, before `AsRawFd::as_raw_fd` call. See https://github.com/rvolosatovs/fd-leak

Surprisingly, calling `std::mem::forget` from within `inner` also fixes the issue - I

[2022-11-22 19:40] Filip-Tomasko commented on #100000
I recently had to start doing some stuff with C++ due to uni, and it made more appreciate Rust so much more. Thanks, Rust <3

[2022-11-22 20:00] jdahlstrom commented on #104729
I think the problem is that a reversed `Zip` ought to return the exact same tuples as the unreversed one, just in a reversed order:

[code]

But that becomes impossible if there's not enough information to know how many elements to skip from the end of the longer iterator. In the special case of `Repeat`, it happens to not matter, but for almost any other indefinite-length iterator it does.

[2022-11-22 20:02] the8472 commented on #104726
#104735 has a proper fix

[2022-11-22 20:03] JakobDegen opened #104736 "Out of storage use of local for temporary caused by label break"
### Code

[Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021). Needs release

[code]

### Meta

Version: 0d5573e6daf99a5b98ace3dfcc4be2eb64867169 and all other recent versions

### Explanation

This causes an ICE in the MIR validator. The reason is an out of storage use of the local that is the temporary for `{ a }`. This local has a couple interesting properties. T

[2022-11-22 20:06] cmpute commented on #91399
I mean AFAIK IEEE 754 doesn't specify how subnormals are handled with nextUp and nextDown.

[2022-11-22 20:06] JakobDegen commented on #104736
This regressed at some point in the last 90 days, so needs a bisect. Someone should also test this under `-Zvalidate-mir` and dump the output into the issue. I have a feeling this is due to MIR building changes that were made to support let-else and if-let (could be wrong though)

cc @jsgf who found this

[2022-11-22 20:31] leonardo-m commented on #78541
I think the new get_many_mut method is enough (I still think it's overkill, I've never had to get three mutable references from an array), but on need for get_two_mut now.

[2022-11-22 20:31] #78541 closed

[2022-11-22 20:36] Nilstrieb commented on #99938
This isn't because of MIR opts, it only happens under `--release` because storage markers, which are needed to get this ICE, are only emitted in optimized builds.

[2022-11-22 20:47] Nilstrieb commented on #104736
searched nightlies: from nightly-2022-01-01 to nightly-2022-11-22
regressed nightly: nightly-2022-10-23
searched commit range: https://github.com/rust-lang/rust/compare/5c8bff74bc1c52bef0c79f3689bb227f51f3e82d...6e95b6da885f42a4e1314595089fa4295e329d11
regressed commit: https://github.com/rust-lang/rust/commit/eecde5850cade0c058dc12330081329b31a826c7

<details>
<summary>bisected with <a href='http

[2022-11-22 20:48] carbotaniuman commented on #104734
The code as given is incorrect, and it makes sense as to why the non-determinism occurs, or why placing `mem::forget` fixes things.

To put it simply, `from_raw_fd` transfers ownership of the file descriptor, so what happens is that you create two `File`s that "own" the same file descriptor, and closes it twice. (This is equivalent to a double-free caused by misuse of `Box::into_raw` and `Box::fro

[2022-11-22 20:54] JakobDegen commented on #104736
Interesting. cc @pcwalton but @rustbot claim

[2022-11-22 21:02] lukas-code opened #104737 "rustdoc: Spacing between pub fields is gone"
![image](https://user-images.githubusercontent.com/26522220/203420036-d062b9a0-9221-4bba-b13c-e0908d7bffa5.png)

@rustbot label A-rustdoc-ui T-rustdoc C-bug regression-from-stable-to-nightly

[2022-11-22 21:03] rvolosatovs commented on #104734
Makes sense, thanks.

I suspected this is what's going on from the beginning, but the inner `forget` fixing things threw me off.

`into_raw_fd` seems like the only way forward here, since the file descriptor has to be passed from one (Rust) binary to another in the "real" use case

[2022-11-22 21:03] #104734 closed

[2022-11-22 21:04] zackw opened #104739 "Better help message for "Mismatched types" [E0308] when the issue is function implicitly returning `()`"
While working through [rustlings](https://github.com/rust-lang/rustlings) I noticed a place where the error Rust prints is unclear unless you already know more or less what the problem is.

Given the following code: [[playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=63f7359f8201cb656f63f74c7f01db39)] [this is a cut-down version of [rustlings/exercises/functions

[2022-11-22 21:17] lukas-code commented on #104737
Regressed in ff0ffda6b3c3ea392c6cf88c676133666f491e5c. Out of these it's probably https://github.com/rust-lang/rust/pull/104556. cc @notriddle

[2022-11-22 21:23] scottmcm commented on #31436
After the discussion about ExprWith(out)Block in the lang team meeting regarding `const{}`, I came to double-check what we do for `try{}`, and it looks like it's an `ExprWithBlock`, [as it parses fine without a terminator comma in a match art](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=34c9c7a80cade56c2c62ea8c6faefd9d).

FYI @joshtriplett

[2022-11-22 21:27] traviscross commented on #91345
@shepmaster.  That's true.  Fair enough.  Thanks for that.

Above, the body of this ticket has an unresolved question:

This discussion suggests that, yes, there probably should be.

[2022-11-22 21:38] riking commented on #104739
The "empty function body" case should also suggest inserting a call to `todo!()`.

[2022-11-22 21:39] riking commented on #104685
Note that the `static EMPTY` takes the reference and then tosses it out.

[2022-11-22 21:41] ibraheemdev commented on #91345
Instead of a trait, `tap` could be a [postfix macro](https://github.com/rust-lang/rfcs/pull/2442) which would allow for things like:

[code]

Where `tap` logically takes an `FnOnce(T) -> T`, inspect takes a `Fn(&T) -> T`, and the `_matches` versions only run if the value matches the pattern.

[2022-11-22 21:51] est31 commented on #99938
@Nilstrieb is this storage markers emitting only in release a new feature? Because I can reproduce the ICE with the original reproducer from this issue's author, with `nightly-2022-07-30` and `-Zvalidate-mir` and no `-O` flag whatsoever.

[2022-11-22 22:14] CheaterCodes commented on #104685
I originally encountered this when casting the reference to a pointer and then storing it in a static (via a wrapper), but since this wasn't needed for the crash, I simplified the example.
Also just to mention it: This obviously doesn't happen when using e.g. `u8` instead of `ExternType`.

[2022-11-22 22:54] vincenzopalazzo commented on #102211
@sfackler I'm trying to reproduce your error without hyper, and till now I had no luck.

Maybe you can help with some tips? I had the code there https://github.com/vincenzopalazzo/rio/pull/13

[2022-11-22 22:59] sfackler commented on #102211
Not sure I have a better idea of how to minimize than you, unfortunately.

[2022-11-22 23:14] scottmcm commented on #85122
I think that if there's a reason, it's that there two kinds of unchecked-ness in signed unchecked_div, and it'd be very easy to trigger the `INT_MIN / -1` UB when you only remembered to prove that the denominator is non-zero.

I definitely prefer an unsafe type invariant to an unsafe operation where possible, so I think I like the `Div<NonZeroTTT>` better.  After all, with #100428 I think it's `x

[2022-11-22 23:43] #104726 closed

[2022-11-22 23:49] Dirbaio commented on #104691
Shouldn't it be taken care of by `where Self: 'a`? `Self; 'a` means any possible lifetime in `Self` outlives `'a`, so saying "FooFn captures 'a" should be "strong enough" (?)

Also, forcing the user to write every single lifetime is going to be quite unergonomic.

[2022-11-23 00:07] Dirbaio commented on #104691
I've noticed `let _ = self` is not enough to trigger the error. It does trigger in the original code, but it doesn't when I extract it to a separate crate, nor in the playground. Not sure why. `println!("{}", self.0);` always triggers it. I've updated the first post.

`nightly-2022-11-22` is out now, so it's failing in the playground now.

[2022-11-23 00:34] estebank commented on #91674
Tagging t-cargo because I believe that it might have to pass crate information in, *but* `rustc` could learn to parse Cargo.toml itself as well.

[2022-11-23 00:43] khuey commented on #104382
`-Z drop-tracking` crashes the compiler.

`thread '<unnamed>' panicked at 'type variables should not be hashed: _#11t', /rustc/b7bc90fea3b441234a84b49fdafeb75815eebbab/compiler/rustc_
type_ir/src/lib.rs:679:17`

[2022-11-23 01:42] workingjubilee commented on #104723
You can manage to compile Rust in this manner, but you must specifically configure it for cross-compiling. Rosetta2 produces these results because the machine is trying to say it is both an aarch64 and x86-64 machine to different things, so bootstrap does not successfully navigate this. You must hold its hand.

However, this is all irrelevant. It having "only" Tier 2 support does not prevent us fr

[2022-11-23 01:42] compiler-errors commented on #104382
@khuey I've got a fix for that ICE coming up.

[2022-11-23 01:52] felipelalli commented on #64248
Same issue here. Maybe proxy issue?

[2022-11-23 02:12] Sherlock-Holo commented on #103854
the gat syntax is

[code]

maybe rust can add a new syntax like

[code]

[2022-11-23 02:45] chenyukang commented on #104723
@workingjubilee , oops, I plan to get a Macbook M2, it seems it's not suitable for Rust compiler development?

[2022-11-23 03:03] ecnelises commented on #103183
Can we close this now? (I forgot to mention `Fixed xxxx` in commit msg to trigger the bot) Not sure if I have the permission

@rustbot close

[2022-11-23 03:13] cilki opened #104761 "Unresolved imports with custom target and build-std"
### Problem

I'm trying to create a custom target, but I can't seem to compile `std` even when the custom target is basically identical to the built-in.
[code]

### Steps

[code]

### Possible Solution(s)

_No response_

### Notes

_No response_

### Version

[code]

[2022-11-23 03:38] aliemjay commented on #104639
Here is the code of concern https://github.com/rust-lang/rust/blob/e07425d55b77fde99af2092a92109a0da0860692/compiler/rustc_borrowck/src/region_infer/mod.rs#L746-L769

The code should calculate the `min_choice` from a set of universal regions (`choice_regions`). The relations are encoded in `self.universal_region_relations` and are guaranteed to be transitive and reflexive. The relation graph may h

[2022-11-23 04:27] baloo opened #104759 "nightly regression (2022-11-22) on rstest"
Sorry for the badly formatted bug report here, I'm not entirely sure how to report regression on a dependency as I don't have a minimal reproduction code.

[code]

it works in `nightly-2022-11-21`:
[code]

(problem applies with rstest master version)

[2022-11-23 04:39] compiler-errors commented on #104759
This could use a https://github.com/rust-lang/cargo-bisect-rustc bisection

[2022-11-23 04:43] #103183 closed

[2022-11-23 05:04] baloo commented on #104759
searched nightlies: from nightly-2022-11-21 to nightly-2022-11-22
regressed nightly: nightly-2022-11-22
searched commit range: https://github.com/rust-lang/rust/compare/a28f3c88e50a77bc2a91889241248c4543854e61...b7bc90fea3b441234a84b49fdafeb75815eebbab
regressed commit: https://github.com/rust-lang/rust/commit/7fe6f36224e92db6fbde952e0b7e50863161f6ee

<details>
<summary>bisected with <a href='http

[2022-11-23 05:16] ehuss commented on #104761
Transferred to rust-lang/rust as this is an issue with the standard library.

The issue is that the build scripts all do target-name sniffing, and that doesn't work with a target named "custom.json".

The fix is that all the places that look at the target name should be removed (for example [here](https://github.com/ehuss/rust/blob/7845b2446b08400b873a011833275cb65c06c7d0/library/std/build.rs#L5-L

[2022-11-23 06:06] HarrisonMc555 opened #104762 "Confusing examples in Vec::extend_from_within"
### Location

[Vec::extend_from_within](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.extend_from_within)

### Summary

The examples are confusing because they use increasing integer sequences as both the vector elements _and_ the range. This leas to a confusing example where you call `vec.extend_from_within(2..);` and add `2..4` to the end of the vector. When I first read this, I assum

[2022-11-23 06:22] aliemjay opened #104763 "user annotations on associated consts can be ill-formed"
The following should fail: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=55b6d108fe6712536a9c7a7abea56bc0
[code]
It should require a `T: 'static` bound on `test`.

This is unsound but can't currently be exploited because of #98852. A potential exploit would be like:
[code]

@rustbot label T-types C-bug A-NLL NLL-sound A-borrow-checker
@rustbot claim

[2022-11-23 06:35] aliemjay opened #104764 "unnormalized user annotations can be ill-formed"
We're still not doing WF-checks on  user annotations prior to normalization, so this code is still accepted:
[code]

I consider this a different issue than #101350 because it is a more long-standing problem and not strictly an NLL regression.

_Originally posted by @aliemjay in https://github.com/rust-lang/rust/issues/101947#issuecomment-1322162436_

@rustbot label C-bug T-types A-borrow-checker A

[2022-11-23 06:54] djc opened #104766 "E0521 borrowed data escapes with subtyping stuff is confusing"
I have not been able to build a minimal reproduction yet. You can reproduce the error (with both current stable and nightly) by running `cargo test` against https://github.com/InstantDomain/instant-xml/tree/wrapped-enum-err.

The code that fails looks somewhat like this:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e89fab62518f9292c739558d7b0decf6).

[2022-11-23 07:15] RalfJung commented on #70841
Wow this is an ancient thread, and I lost all context. Could you link to the context where I said that?

Also I recently opened https://github.com/rust-lang/rust/pull/103413, does that help?

[2022-11-23 07:27] workingjubilee commented on #104723
I believe the simplest way will be to edit the config.toml. It has various options, which you probably want to set, like
[code]
and maybe
[code]
You will want to peruse the config.toml.example for the full list of options.

It seems that https://github.com/rust-lang/rustc-dev-guide needs a PR listing explicit instructions for how to get aarch64-apple-darwin building, or we need a PR here to bootst

[2022-11-23 08:18] aliemjay opened #104767 "bound regions affect path resolution"
We should emit the same error message here regardless of whether the projection type contains bound regions.

[code]

I discovered this in #101947 and added a FIXME comment.

@rustbot label T-compiler C-bug A-resolve

[2022-11-23 08:27] workingjubilee commented on #74640
For aarch64-apple-darwin, frame pointers are mandated as part of the ABI, with only leaf functions and tail calls being able to back out of this.

[2022-11-23 08:30] jruderman opened #104768 "ICE "expect tcx.sess.has_errors return true""
### Code

[code]

### Error output

error: internal compiler error: [compiler/rustc_middle/src/ty/visit.rs:103](https://github.com/rust-lang/rust/blob/ff8c8dfbe66701531e3e5e335c28c544d0fbc945/compiler/rustc_middle/src/ty/visit.rs#L103):17: expect tcx.sess.has_errors return true

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

Regression in night

[2022-11-23 08:31] RalfJung commented on #70841
Re-reading the thread above, it seems to be about the same fundamental question as https://github.com/rust-lang/rust/issues/102810. Curious.

My PR fixes the documentation paragraph that @pnkfelix quoted above

They also wrote

which is still true and would require pretty fundamental changes to NLL at this point.

[2022-11-23 08:47] matthiaskrgr commented on #104768
duplicate of https://github.com/rust-lang/rust/issues/104237

[2022-11-23 08:57] jruderman opened #104769 "ICE: unreachable match arm in `concat_bytes::invalid_type_err`"
### Code

[code]

### Error output

thread 'rustc' panicked at 'internal error: entered unreachable code', [compiler/rustc_builtin_macros/src/concat_bytes.rs:71:14](https://github.com/rust-lang/rust/blob/ff8c8dfbe66701531e3e5e335c28c544d0fbc945/compiler/rustc_builtin_macros/src/concat_bytes.rs#L71)

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

[2022-11-23 09:50] jm-observer opened #104770 "Failed to compile(can't find crate for `std`) using custom toolchain"
hello, i installed rust from source on ubuntu 20.04. i compile successfully _hello world_, but when i compile a little complex crate, it report error, how can I solve this problem?
[code]

more detail infomation:

[code]
[code]
[code]

config.toml

[code]

[2022-11-23 09:50] weihanglo commented on #91674
Rustc has the unstable option [`--check-cfg`], and Cargo also got the counterpart [`-Zcheck-cfg`] a while back. You can try them with nightly channel. The warning probably need some specialization though.

<details><summary>Click to see a demo of <code>-Zcheck-cfg</code></summary>

[code]

</details>

I guess this could be closed as we track these flags from <https://github.com/rust-lang/rust/issu

[2022-11-23 10:01] #99840 closed

[2022-11-23 10:01] #104352 closed

[2022-11-23 10:33] apiraino commented on #104322
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23104322.20New.20overflow.20error.20while.20compiling.20.60wundergraph.60)).

@rustbot label -I-prioritize +P-high

[2022-11-23 10:49] apiraino commented on #104588
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23104588.20.60.23.5Btrack_caller.5D.60.20on.20async.20fn's.20was.20previously.20a.20no.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-11-23 12:13] HintringerFabian commented on #104762
@rustbot claim

[2022-11-23 12:20] davidtwco commented on #100717
I think I had that listed in the "available to work on" section incorrectly, there are other crates available.

[2022-11-23 12:44] Dirbaio commented on #104691
@oli-obk how would you fix the code so that it works? I've tried `+ 'a + 'b` and variations of it, but can't get it to compile.

Also, I've found it compiles if you add extra indirection through a method without changing any signature. This really makes me believe the original code is sound and should be accepted. [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gis

[2022-11-23 12:46] RalfJung commented on #55131
Based on [this](https://discourse.llvm.org/t/semantics-on-nan/66729/20?u=ralfjung) I am inclined to declare this not-a-bug: NaN-producing operations do not have a well-defined sign, so there cannot be a 'wrong' sign.

[2022-11-23 12:50] apiraino commented on #104520
If I bisected this correctly, it _stopped_ erroring in commit 8ce3204af9463db3192ea1eb31c45c2f6d4b5ae6, where we updated LLVM, which seems to confirm the previous comments.

searched nightlies: from nightly-2022-09-01 to nightly-2022-11-22
regressed nightly: nightly-2022-10-01
searched commits: from https://github.com/rust-lang/rust/commit/9c56d9d6fec6262bbb1549cfe466a812ae2c6523 to https://github

[2022-11-23 12:57] apiraino commented on #104520
just for me to understand: is there any actionable, anything we want to track in this issue or can we assume this won't resurface and therefore this issue can be closed? thanks

cc @saethlin @rewik

[2022-11-23 13:52] yvt commented on #104155
Can this be closed now that beta backport (#104447) is complete?

[2022-11-23 13:56] #104155 closed

[2022-11-23 14:09] oli-obk commented on #104691
[code]

this avoids capturing the `&mut &Thingy` in `foo`, avoiding the problematic case you're encountering.

that's the wrong end of where we should be figuring out what's wrong here. I am now realizing that

[code]

while correctly causing

Should also allow us to realize that `&'c mut 'b Thingy` means `'b` outlives `'c` and thus we may capture `'b` if `'c` is in the bounds.

But that doesn't e

[2022-11-23 14:12] nlopes commented on #103081
Ok, here's a minimal reproducible https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b43429b7dd2b8bced5616a9178a32b36

It requires an external crate: `proptest`.

`cargo +stable test` or `cargo +beta test` runs just fine. `cargo +nightly test` panics.

[2022-11-23 14:35] TOETOE55 commented on #70841
Oh, I will note that :D.

But as the example in https://github.com/rust-lang/rust/pull/103413#issuecomment-1324784773, `PhantomData`  still works for "normal" dropping.(without `#[may_dangle]`)

[2022-11-23 14:37] RalfJung commented on #70841
Yeah I read that thread after this one.^^ The summary is "it's complicated, hopefully we'll figure it out in https://github.com/rust-lang/rust/pull/103413". Let's not re-post everything in two spots. :)

[2022-11-23 14:40] apiraino commented on #98302
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398302.20linking.20issue.20on.20x86_64-pc-windows-gnu.20target.20.2B.20thin.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-11-23 14:44] tomwhoiscontrary commented on #51533
This continues to be a papercut for me. Some people on my team have been using Rust since before rustup; their process for installing a new nightly is to download the tarball by hand, and extract it into a directory named for the date and the commit hash (like /opt/rust/rust-nightly-2019-08-29-72b2abfd6). I would much prefer to use rustup to manage versions, using a rust-toolchain file, but that i

[2022-11-23 15:18] cilki commented on #104761
Thanks! Indeed renaming the target to `x86_64-custom-linux-gnu.json` fixes the compile errors. That'll get me by for now, but I'll take a stab at fixing the underlying issue like you said at some point.

[2022-11-23 15:31] SimonSapin commented on #51533
To automate a work-around, you could parse https://static.rust-lang.org/dist/2022-11-23/channel-rust-nightly.toml (here for rustup’s `nightly-2022-11-23`, or similar with another date). The `pkg.rustc.version` key should have the output of `rustc --version`.

[2022-11-23 15:33] saethlin commented on #104520
Yes exactly. I have no idea if the next stable actually contains a fix, or if for this Rust code we no longer generate LLVM IR that hits this assertion. Someone could investigate this which would require knowledge of LLVM that I do not have, or I'm hoping there is some standard procedure here.

[2022-11-23 15:46] lcnr opened #104779 "opaque types, patterns and subtyping ICE: `IndexMap: key not found`"
[code]
results in the following ICE:
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3d2ca294ec96ae43ef351732756ac9d8))

[2022-11-23 16:22] ojeda commented on #85122
For the signed cases, I think it is good to have it for consistency with the other operations and to avoid having to play with `unreachable_unchecked()` (and hope it gets optimized away) or `intrinsics` (unstable). Or is there another way to do it in stable?

For the unsigned cases, I think it would still be good to offer it for consistency with the signed case and with the other operations, even

[2022-11-23 16:28] nmittler opened #104781 "Error building with nightly on Gitpod"
I'm trying to get [Istio ztunnel](https://github.com/nmittler/ztunnel/tree/gitpod) building on [Gitpod](https://www.gitpod.io/).

My Gitpod environment is using this [Docker image](https://github.com/nmittler/ztunnel/blob/gitpod/.gitpod.Dockerfile), which is based on the [Gitpod rust image](https://github.com/gitpod-io/workspace-images/blob/main/chunks/lang-rust/Dockerfile).

Running `cargo build`

[2022-11-23 17:11] pnkfelix opened #104783 "Need to document how method resolution ambiguties are/aren't resolved"
### Location

- The Reference: https://github.com/rust-lang/reference/issues

### Summary

Spawned off of https://github.com/rust-lang/rust/issues/81211#issuecomment-767111563

We need better documentation of the method resolution rules, in terms of how ambiguities are resolved (to either a single method or to a method ambiguity error).

I wrote tests in PR #81294 that tried to enumerate the relev

[2022-11-23 17:11] pnkfelix commented on #104783
oops this doesn't belong here.

[2022-11-23 17:11] #104783 closed

[2022-11-23 17:13] pnkfelix commented on #81211
I actually added tests, I think, in #81294. Namely:

  * https://github.com/rust-lang/rust/blob/master/src/test/ui/derives/derive-Debug-use-ufcs-struct.rs
  * https://github.com/rust-lang/rust/blob/master/src/test/ui/derives/derive-Debug-use-ufcs-tuple.rs

From reviewing the comment thread here, I know there were lots of various concerns noted, and ideas for enhancements to the language documentat

[2022-11-23 17:13] #81211 closed

[2022-11-23 17:34] he32 opened #104785 "rustc releases are "unhelpful" (no `target-cpus`, no `target-spec-json`)"
Hi,

is there a good reason release versions of rust do not support these options?

[code]
OK, so let's try adding that option, then:
[code]
Gah!
[code]

It does, though support `rustc --print target-list`, so this looks a little ... inconsistent?

The `rustc(1)` man page does mention both the above unsupported options without
any qualification.

I suspect this can relatively easily (and cheaply?)

[2022-11-23 18:09] matheus-consoli opened #104787 "ICE `const variables should not be hashed: Var(_#0c)` inside async context on nightly"
### Code

I think the problem here is derived from rustc not knowing the array length. I'm using [`futures-concurrency`](https://github.com/yoshuawuyts/futures-concurrency/) crate to `.await` an array of streams, `merge()` returns a `Merge<S, const N: usize>` struct, but the `N` is not known at this point because we don't limit the `array::from_fn`.

[code]

this is much like

[code]
except that t

[2022-11-23 18:21] the8472 commented on #104785
The `+<toolchain>` syntax actually is rustup feature and not a rust feature. It requires that you installed [rustup](https://rustup.rs) which provides the wrappers.

If the rustc and llvm build you're using are provided by the operating system's package manager then it likely is a stable version and won't support nightly features. In that case you should report the lack of target-cpus support to n

[2022-11-23 18:33] andrewgazelka commented on #103854
I agree. To me, `decltype` seems un-rusty—it looks like a regular function even though it isn't—whereas the notation you have specified seems consistent with the current language design.

[2022-11-23 18:41] he32 commented on #104785
Hm.  I had the impression that `rustup` is the tool from the `rust` ecosystem which is used to thwart the effort of any package manager, so have avoided it like the plague.  It is entirely possible that I misunderstood.

Yes, that would be nice to farm that question over to someone else to solve.  However, the package manager for rust on NetBSD is presently ... me, and I do this alone in my "copio

[2022-11-23 19:06] the8472 commented on #104785
The target-list feature is only exposed when building llvm through the rust build tools. Most likely because it depends on a patch in our [fork of llvm](https://github.com/rust-lang/llvm-project/branches). So if you're linking to an upstream llvm build it won't work.

[2022-11-23 19:15] he32 commented on #104785
Ah, that invalidates my assumption that this would be "easy, cheap".  Thanks for the explanation.  I have a knob I can turn to turn on the build & use of the rust-internal LLVM, and it's presently turned off.  I may return with a pull request to the man page...

[2022-11-23 19:15] #104620 closed

[2022-11-23 19:16] #103785 closed

[2022-11-23 19:16] #104737 closed

[2022-11-23 19:24] the8472 commented on #104785
Some linux distros ship a rustup package. You could add the system-rustc as toolchain to a preinstalled rustup so it can be selected as `rustc +system ...` and coexist with additional rustup-installed toolchains.

[2022-11-23 19:38] the8472 commented on #104770
You'll want to add the host triple to that list too so it can compile proc macros on the host.

https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html?highlight=host#building-targets-for-cross-compilation

[2022-11-23 19:57] DeltaF1 opened #104789 "Clippy fix for clippy::useless_format truncates variable name in substitution"
`clippy::useless_format` removes the first and last characters from the variable name when trying to replace `format!` with `to_string`.

Given the following code:

[code]

The current output is:

[code]

Removing the function call to `foo` doesn't trigger the lint at all
[code]

Using a variable name with 2 letters
[code]
produces the following error:
[code]

Using a variable name with 1 letter
[

[2022-11-23 19:59] compiler-errors commented on #103081
This regressed in https://github.com/rust-lang/rust/commit/2f8d8040166a730d0da7bba0f2864f0ef7ff6364

Probably regressed in #104411

[2022-11-23 20:02] thomcc commented on #93396
As mentioned in https://github.com/rust-lang/unsafe-code-guidelines/issues/237#issuecomment-1325592138, we probably shouldn't stabilize the current implementation of this at the moment -- it looks increasingly likely that we're going to have to say that the sign bit of NaN is fundamentally non-deterministic, at least in the short term.

A sorting function that puts NaNs non-deterministically at th

[2022-11-23 20:05] withoutboats commented on #103854
(NOT A CONTRIBUTION)

(As a reminder, the subject of this thread is whether or not stabilising async_fn_in_trait should be blocked on providing send bounds, not the syntax of providing send bounds. I don't know where feedback on that question is being taken, but all of this bike shedding has driven this thread off of its intended topic and shouldn't continue here.)

In my previous comment, I wrote

[2022-11-23 21:05] compiler-errors commented on #104789
What version of the Rust toolchain are you running this on?

[2022-11-23 21:24] DeltaF1 commented on #104789
1.62.0 (a748cf5a3 2022-06-08)

[2022-11-23 21:26] DeltaF1 commented on #104789
Oh I didn't realize I had such an old version, it appears to be fine on the version I just updated to (1.65.0) :facepalm:

[2022-11-23 21:36] #104789 closed

[2022-11-23 21:52] matthiaskrgr opened #104794 "ICE: bx.cx().is_backend_scalar_pair(cast): dyn star"
### Code
`./src/test/ui/dyn-star/dont-unsize-coerce-dyn-star.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-23 23:15] estebank commented on #91674
Closing in favor of the tracking issue, and very happy to see some recent progress on this. Looking forward to this being enabled by default in stable.

[2022-11-23 23:15] #91674 closed

[2022-11-23 23:26] darnuria commented on #77575
I suppose it's safe to close it since two years passed. If anybody disagree please reopen. ;)

[2022-11-23 23:26] #77575 closed

[2022-11-24 00:48] cuviper commented on #104785
The relevant patch on the current branch is https://github.com/rust-lang/llvm-project/commit/a8f170c5611585510033764926b0c40a6901d001

It would be nice if someone lobbied for that in upstream LLVM.
(Or something like it -- e.g. maybe it could return an `iterator_range` instead.)

[2022-11-24 00:54] cuviper commented on #104729
It should work with `repeat_n` though -- #104434.

[2022-11-24 01:05] compiler-errors commented on #104794
Probably fixed by #104594, though I'll check later.

[2022-11-24 02:22] Silentdoer opened #104798 "replace if let Some(inner) = option with if option is Some(inner)"
it is more clear

[2022-11-24 02:22] jruderman commented on #104312
Similar ICE with struct instead of impl trait:

[code]

[2022-11-24 02:35] compiler-errors opened #104800 "`dyn*` does not support trait upcasting"
Currently trait upcasting is done via the `Unsize`/`CoerceUnsized` traits -- however, since `CoerceUnsized` [works *structurally*](https://doc.rust-lang.org/reference/type-coercions.html#unsized-coercions), implementing `dyn*` upcasting via the same codepaths allows this erroneous code to make it to codegen and ICE:

https://github.com/rust-lang/rust/blob/d8cb8c37adfbfb641a1b30d3a2de3ba7226bb744/s

[2022-11-24 02:42] compiler-errors opened #104801 "Don't suggest associated function call for associated const"
Follow-up from this comment: https://github.com/rust-lang/rust/pull/104422#discussion_r1021977220

Given the following code:

[code]

The current output is:

[code]

Ideally the output should *not* mention `i32::MAX()`, since that is an associated *constant* and not an associated *function*. However, it seems like some parts of method probing don't consider the associate item's kind when collectin

[2022-11-24 02:45] jm-observer commented on #104770
thanks very much! Acording to this method, the problem is solved!

[2022-11-24 02:45] #104770 closed

[2022-11-24 03:40] andrewgazelka commented on #103854
Can you give an example? I understand everyone's use cases are different—and maybe in your case you truly need this—but in general, doing this can be an anti-pattern. See: [Notes on structured concurrency, or: Go statement considered harmful](https://vorpus.org/blog/notes-on-structured-concurrency-or-go-statement-considered-harmful/).

I am not sure it is a good idea to cater to people who find ou

[2022-11-24 03:53] thomcc commented on #104798
I don't think this syntax is up for debate, and certainly *replacing* syntax like this is not. For new syntax, this is the wrong repository for that discussion.

If you want to make a more thorough argument for it (a one-sentence comment is unlikely to be sufficient), you could try starting a discussion on https://internals.rust-lang.org/, or filing an issue discussing it on https://github.com/rus

[2022-11-24 04:11] jruderman opened #104802 "ICE with packed union: "alignment mismatch between ABI and layout""
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output with debug assertions enabled

alignment mismatch between ABI and layout in TyAndLayout { ... }, [compiler/rustc_ty_utils/src/layout_sanity_check.rs:77](https://github.com/rust-lang/rust/blob/604d52108e9272d75618ab6a7b5eb006857fce52/compiler/rustc_ty_utils/src/layout_sanity_check.rs#L77)

[2022-11-24 04:21] thomcc commented on #104798
I'm going to close this out -- syntax discussions sometimes get heated, and this probably isn't the right place for this one anyway, thanks.

[2022-11-24 04:21] #104798 closed

[2022-11-24 04:25] #104718 closed

[2022-11-24 05:18] luqmana commented on #104723
@workingjubilee is right, just because the `aarch64-apple-darwin` target isn't tier 1 doesn't mean you can't build it. I build rust on an m1 mac every so often without any thing special.

My `config.toml`
[code]

Usually I just want a stage1 build which I get like so:

[code]

I also haven't enabled Rosetta on this device so this is all native arm64.

[2022-11-24 06:27] JulianKnodt opened #104806 "Tracking Issue for `impl_unified_exhaustive_const_traits`"
The feature gate for the issue is `#![feature(impl_unified_exhaustive_const_traits)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature

[2022-11-24 06:29] RalfJung commented on #104802
Another scalar union layout bug - a bit like https://github.com/rust-lang/rust/issues/103634 but for repr(packed) rather than 2-aligned ZST.

[2022-11-24 06:40] dtolnay opened #104807 "Niche placement heuristic: place at beginning or end of type"
I noticed that #102750 regressed the size of some types in the `syn` crate. I minimized the difference to the following:

[code]

[code]

The type layout in nightly-2022-11-23 is:

[code]

and in nightly-2022-11-24:

[code]

Graphically, the layout of Enum::A and Enum::B before and after are:

<table>
<tr><th></th><th>Before</th><th>After</th></tr>
<tr><th>Enum::A</th><td><pre>
+-----+-----+-----+

[2022-11-24 07:30] jruderman opened #104808 "ICE "wrong number of generic parameters" with abused auto trait"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output with debug assertions enabled

[code]

<details><summary>Backtrace</summary>

[code]

</details>

### Version

Built stage1 from 604d52108e9272d75618ab6a7b5eb006857fce52 on x86_64-apple-darwin

<details><summary>config.toml</summary>

[code]

</details>

CC @oli-obk because 7658e0fccf5e0

[2022-11-24 07:53] quietfanatic commented on #39959
Hello, I have another repro to add to the pile. https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3d0813888dd49475147c9cfbed636797  Looks like it's okay if the trait recurses immediately (taking an i32 / Vec<T>), but adding one layer of indirection to the types (taking an &i32 / &Vec<T>) makes it evaluate the recursion forever.

[2022-11-24 08:06] oli-obk commented on #104808
Oh fun! Glad we're catching this. It's probably going to be annoying to fix, but also not a priority considering this is about auto traits.

[2022-11-24 08:08] sanmai-NL commented on #49278
I saw a lot of custom caching tricks in https://github.com/rust-lang/rust/blob/fd815a5091eb4d49cd317f8ad272f17b7a5f550d/src/ci/docker/run.sh, but little use of the Docker or other container builders caching features, such as `buildx bake`, [`--cache-from`/`--cache-to`](https://docs.docker.com/engine/reference/commandline/buildx_build/#cache-from), Dockerfile instruction ordering or [`COPY --link`]

[2022-11-24 08:08] sanmai-NL commented on #49278
And, why the custom caching and can we reduce that at some point?

[2022-11-24 08:25] gwy15 opened #104810 "Doc test bug: recognize `/// - a` as doctest"
I tried this code:

[code]

I expected to see this happen when running `cargo test`: *nothing*

Instead, this happened: *thread 'main' panicked at 'explicit panic', src/lib.rs:3:1*

### Meta

`rustc --version --verbose`:
[code]

[2022-11-24 08:27] IceTDrinker commented on #104729
Looks interesting, thanks

[2022-11-24 09:04] Andlon commented on #91639
I understand the motivation for this lint, and in some/many cases it sounds like it adds a lot of value. I would like to add another counterexample where in my opinion it just adds a significant amount of noise with no benefit. In `nalgebra` we have "matrix slice" types which are similar to `&[T]` but two-dimensional. Therefore it's reasonable for someone building on top of `nalgebra` to write API

[2022-11-24 09:20] Swatinem opened #104813 "Type Alias hides lifetime errors"
Using a type alias hides certain lifetime related errors.

This is code adopted from `src/test/ui/self/self_lifetime-async.rs` that I discovered while working on #104321

[code]

as well as the async variant:

[code]

both fail with a lifetime error:

[code]

... whereas when using a type alias for `Foo<'static>`, the code compiles just fine:

[code]

Either I am completely misunderstanding how ty

[2022-11-24 10:13] la10736 opened #104815 "Wrong lifetime error on nightly 1.67.0-nightly (ff8c8dfbe 2022-11-22)"
Some `rstest` users report an error on nightly-2022-11-22 (see la10736/rstest#169 ).
I narrowed down the regression to the following code:

### Code

I tried this code:

[code]

I expected to see this happen: *It should compile*

Instead, this happened: *not compile*

[code]

### Version it worked on

It most recently worked on: 1.65.0 stable, 1.66.0-beta.2 (0040709e3 2022-11-20), nightly-2022-11-

[2022-11-24 10:17] icedrocket opened #104816 "`std::process::exit` does not call `atexit` handlers on Windows"

[2022-11-24 10:30] the8472 commented on #104807
Besides the type-size #102750 also added a secondary sort key to move the field with the largest niche in a size-group to the end of a size-group to not break a test-case introduced by #94075 which is an optimization that benefits from having niches towards the end.

So within `A` and `B` it moves `Thing` to the end because it's the field with the largest niche. From their perspective the niche is

[2022-11-24 10:30] matthiaskrgr opened #104817 "ICE: ty_is_local invoked on closure or generator"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./83613.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-24 10:34] oli-obk commented on #104813
cc @cjgillot is this ast lowering related?

[2022-11-24 11:15] apiraino commented on #104519
Since there is some work in progress to fix this:

@rustbot assign @mikebenfield

[2022-11-24 11:34] lcnr opened #104819 "`report_fulfillment_error` to only use the `root_obligation`"
During fulfillment, we solve trait obligations by using select to get a unique candidate to prove the obligation and then adding nested obligations of that candidate to the obligations we have to prove. We then use that nested obligation when reporting errors.

The new solver we're working towards will directly prove nested obligations instead of handing them to the caller. This means that diagnos

[2022-11-24 11:42] dtolnay commented on #104807
I think it would be necessary for the secondary sort to consider where the niche is located inside each field type. #94075 benefits when the largest niche gets placed as far from the middle of the type as possible.

By just looking at which field has the largest niche, your PR ended up placing the niche in `A` exactly in the middle of the type, which is inadvertently the worst place for it.

[2022-11-24 12:05] the8472 commented on #104807
"Middle" and "End" (i.e. the relative placement) doesn't really matter. What matters it's far enough back that it's further than shorter enum variants in the outer enum. If the variant lengths are sufficiently different then even moving it back a little will help, it doesn't need to be at the absolute end.
On the other hand the prefix nich use needs them to be strictly at the front (I think).

I d

[2022-11-24 12:10] 0xdeafbeef opened #104821 "Regression from nightly to nightly"
Project successfully compiles on stable.

Fails to compile with nightly:
[code]

How to reproduce:

[code]

searched nightlies: from nightly-2022-09-24 to nightly-2022-09-26
regressed nightly: nightly-2022-09-26
searched commit range: https://github.com/rust-lang/rust/compare/3f83906b30798bf61513fa340524cebf6676f9db...f5193a9fcc73dc09e41a90c5a2c97fc9acc16032
regressed commit: https://github.com/ru

[2022-11-24 12:14] 0xdeafbeef commented on #104821
Possibly related to https://github.com/rust-lang/rust/issues/104445https://github.com/rust-lang/rust/issues/104445

[2022-11-24 12:19] shepmaster commented on #91639
@Andlon  read the history of comments, especially [this one from Scottmcm](https://github.com/rust-lang/rust/issues/91639#issuecomment-1209835595). Sounds like you agree with splitting the lint into smaller parts.

[2022-11-24 12:30] Mark-Simulacrum commented on #104821
I believe this is a duplicate of https://github.com/rust-lang/rust/issues/104445 and is a beta regression. Currently the expectation is that this is intentional and will land in stable with 1.66. If you have questions about your particular case I would ask in that thread.

[2022-11-24 12:30] #104821 closed

[2022-11-24 12:36] the8472 commented on #104807
See #46213 which lead to #94075. It explicitly has a niche in the middle as motivating example.

[2022-11-24 12:39] Andlon commented on #91639
@shepmaster: I'm not sure what you mean - I don't know what makes you think I didn't. I just wanted to add a real-world example where I think the lint does more harm than good.

[2022-11-24 12:40] #104794 closed

[2022-11-24 12:40] #99938 closed

[2022-11-24 12:44] #104781 closed

[2022-11-24 13:09] hikari-no-yume commented on #62633
I'm a bit sad to discover `.expect_none()` doesn't exist, it seemed like it would be perfect for asserting an iterator had reached the end: `args.next().expect_none("There shouldn't be more arguments")`. Chaining a bunch of other methods produces code that's more difficult to follow here. I could just use an `if`, but after a series of `.expect()` calls, having `.expect_none()` would be nice for t

[2022-11-24 13:16] oli-obk opened #104825 ""fishy" `skip_binder` actually ignoring bound variables"
An `expect` there actually does panic for the `src/test/ui/generator/resume-arg-late-bound.rs` test.

I only moved this code between the files, the same comment and code pattern exists as well for normal closures:

https://github.com/rust-lang/rust/blob/e221616639fb87de9dca21e252ee8a2565ec51d0/compiler/rustc_trait_selection/src/traits/select/mod.rs#L2290

_Originally posted by @Swatinem in https:/

[2022-11-24 13:19] shepmaster commented on #91639
I assumed as much because your comments only talk about **the** single lint, not the proposed splitting into multiple lints. Something that would have indicated you'd read/agreed with the previous comment would be something along the lines of "because of this example I just gave, I think that numbers {1,2,3,4} of the proposed split lint should (not) be warn-by-default".

I'd recommend being carefu

[2022-11-24 13:24] ehuss commented on #104810
Thanks for the report!  I understand this is a bit confusing, but it is mostly working as intended. The commonmark spec specifies that indented text is a code block. Rustdoc by default treats all code blocks as "rust" code unless otherwise specified.

I'm going to close since this has been reported before. Closing as a duplicate of #64162, #59867, #88590, #100225.

[2022-11-24 13:24] #104810 closed

[2022-11-24 13:24] Swatinem opened #104826 "Remove `identity_future` indirection/hack"
While working on https://github.com/rust-lang/rust/pull/104321, creating an async generator directly lead to E0720 and E0700 errors.

The *"solution"* was to put the async generator through an identity function:

[code]

This *"magically"* solves / hides those errors, but should ideally not be necessary.

<details>
<summary>Full Error output</summary>

[code]
</details>

[2022-11-24 13:25] shepmaster opened #104827 "internal compiler error: local_def_id: no entry for HirId"
### Code

It appears this occurs when the ` impl FromResidual` is located inside the function. Moving it out yields regular compiler errors.

[code]

### Meta

`rustc --version --verbose`:
[code]

Also `rustc 1.67.0-nightly (a28f3c88e 2022-11-20)`

### Error output

[code]

[2022-11-24 13:31] Swatinem opened #104828 "Remove need for `ResumeTy` / `get_context` in async generators"
https://github.com/rust-lang/rust/pull/104321 changed async blocks/functions to not go through `from_generator` / `GenFuture`, but made those generators implement `Future` directly.

Though *inside* those special generators, it is still necessary to hide the `&Context<'_>` poll argument behind an unsafe `ResumeTy` wrapper which removes any lifetime constraints.

It should be possible to remove tha

[2022-11-24 13:49] Swatinem commented on #74779
This should be fixed by https://github.com/rust-lang/rust/pull/104321 which gets rid of the `GenFuture` shim.

[2022-11-24 13:55] Swatinem opened #104830 "Symbol-mangling (v0) should show difference between async / closure / generator"
The following code:

[code]

Generates the following demangled symbol with legacy demangling:

[code]

(v0 mangling is similar, but with `{closure#0}` instead)

Whereas Windows mangling gives this fn name:

[code]

This makes it clear what is an async fn, closure or async block. v0 symbol mangling should make a similar distinction.

https://github.com/rust-lang/rust/pull/104333 is a first attempt

[2022-11-24 14:05] dhardy commented on #91639
If you cater to everyone, in the end you satisfy no one. It would be great if tooling could pick up some of the slack here, e.g. IDEs annotating lifetimes (including elided ones) on hover, and rustc injecting lifetimes in error messages.

But at this point I fear we are adding more noise to the discussion than actual value.

[2022-11-24 14:11] Swatinem commented on #85368
Hi! 👋🏻
I discovered while working on https://github.com/rust-lang/rust/pull/104321 that async blocks can trivially be const as soon as the https://github.com/rust-lang/rust/issues/104826 workaround is fixed.

Depending on whats happening with https://github.com/rust-lang/rust/issues/104826, what would be the next steps in moving forward with the feature flag/stabilization?

[2022-11-24 14:26] RalfJung commented on #62633
This makes me once again wish that `unwrap` was called `assert` or `assert_some`, because every `unwrap` is an assertion. As assertion that also returns a value, but an assertion no less. (Making things that usually don't return something, into expressions that return something, is a common thing Rust does, so assertions that return values should not be surprising.) Then we would call this here `a

[2022-11-24 14:30] hikari-no-yume commented on #62633
Sorry, I deleted the comment you're referencing (where I mentioned it would be nice to be able to do `args.next().expect_none("There shouldn't be extra arguments")`) since I felt my contribution wasn't valuable enough to be worth essentially re-opening discussion.

I saw the wisdom of the lib team's argument when I noticed I'd also then want `expect_` for some other types, and yeah, I could just d

[2022-11-24 14:50] apiraino commented on #25664
By looking at the [checkbox list](https://github.com/rust-lang/rust/issues/25664#issuecomment-131996315), can we say that this issue is now complete - perhaps can be closed? thanks

[2022-11-24 14:55] Andlon commented on #91639
I don't have a particular opinion on whether or how exactly the lint should be split. Seems reasonable though.

I think most of the discussion in this thread is based on the assumption that explicit `'_` is always easier to understand for new users. I'm not sure this is true. I think *more syntax* can also be overwhelming for a new user, especially in cases where you're not likely to run into issu

[2022-11-24 15:00] ChayimFriedman2 opened #104832 "`transmute::<u8, bool>()` generates bad code"
[code]
Generates (https://rust.godbolt.org/z/xzYdeffxq, note the redundant `and`):
[code]

This is because we generate a redundant trunc/zext:

https://github.com/rust-lang/rust/blob/1dda298ad39a64e019a3511139c5b13ac0a18e54/compiler/rustc_codegen_ssa/src/mir/block.rs#L1820-L1824

[code]

[2022-11-24 15:10] est31 commented on #25664
@apiraino since that comment, the github organization had new repos added to it. I went over the non-fork repos in the rust-lang organization and found the following repos without a top-level LICENSE file:

- [ ] https://github.com/rust-lang/rustc-perf has LICENSE files in some of the sub directories, but not all of them.
- [ ] https://github.com/rust-lang/docker-rust
- [ ] https://github.com/rust

[2022-11-24 15:21] shepmaster commented on #91639
I do not read it that way. Recapping from that comment:

1. Lifetimes in return types
2. Lifetimes in parameters which participate in lifetime elision
3. Top-level lifetimes in parameters
4. Nested lifetimes in parameters

So `fn multiply(c: DMatrixSliceMut<T>, a: DMatrixSlice<T>, b: DMatrixSlice<T>)` has no return value so it wouldn't be case one or two, but seemingly more likely three. The way t

[2022-11-24 15:24] #104816 closed

[2022-11-24 15:24] chenyukang commented on #104232
This is covered by #103908, could be closed now.

[2022-11-24 15:27] Rageking8 commented on #104832
@rustbot label +C-bug +T-compiler +A-codegen +I-slow

[2022-11-24 15:34] mankinskin commented on #62633
which obviously uses way more characterd than `args.next().unwrap_none()` and requires you to bounce back to process the logic of the line. I just don't see the value of *not* having a method like this. I don't find it misleading or anything, there are always different ways to do things, doesn't mean you don't want to take shortest paths. Not having this just makes using the language harder for no

[2022-11-24 15:58] Andlon commented on #91639
@shepmaster: I see. I definitely misunderstood case 2 (and I still don't *precisely* understand it). 3 seems like the correct category.

Just to confirm: your assumption is correct, `DMatrixSlice(Mut)<'a, ...>`  only references the lifetime of the matrix data, just like `&'a [T]` does for a standard Rust slice.

[2022-11-24 16:15] apiraino commented on #25664
thanks @est31 for the important update :)

[2022-11-24 16:40] deltragon commented on #104832
This seems related to https://github.com/rust-lang/rust/issues/96140, where the transmute went the other way.
The conclusion there was:

https://github.com/rust-lang/rust/issues/96140#issuecomment-1193098943

[2022-11-24 16:45] aclysma commented on #62633
I’m still doing this, over and over.

[code]

The libs team implemented an alternative in response to it https://github.com/rust-lang/rust/pull/82764

18 months later, it hasn’t moved. So I’m stuck here doing this over and over.

(Additionally, I’m still disappointed at how this FCP was handled. Not just the result, but the way in which the libs team executed the process/engaged with the community

[2022-11-24 16:52] dtolnay commented on #104807
This is not accurate as far as I can tell. For example see [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5cef248732e9f04c96bf7b18ad493c14) in which `A`'s niche is used by `Enum`'s discriminant despite not being strictly at the front of `A`.

This is reinforced by the description of #46213 as well: *"As long as `B` and `C` can fit **before or after** `A`'s Ni

[2022-11-24 17:04] matthiaskrgr commented on #92470
Reopened by https://github.com/rust-lang/rust/pull/104610

[2022-11-24 17:04] matthiaskrgr commented on #92004
Reopened by https://github.com/rust-lang/rust/pull/104610

[2022-11-24 17:10] ChayimFriedman2 commented on #104832
Yep, this is a dup.

[2022-11-24 17:10] #104832 closed

[2022-11-24 17:16] matthiaskrgr opened #104834 "ICE: index out of bounds: the len is 1 but the index is 1', compiler/rustc_metadata/src/rmeta/decoder.rs:803:53"
### Code
this happened while building `rustc-std-workspace-core` stage1 with rustc + debug assertions
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-24 17:23] sanmai-NL commented on #25664
What about applying tooling that checks for such things as licensing and SPDX headers, etc.? Checking for top level licenses is rote work and does not cover every concern.

[2022-11-24 17:25] sanmai-NL commented on #25664
Even without a licensing tool for CI, you could [query the GitHub API](https://docs.github.com/en/rest/licenses).

[2022-11-24 17:28] rMazeiks opened #104837 "Rust attemts to implement FnMut for a closure consuming a `'static mut` reference?"
Consider the following code:

[code]

It fails to compile on both nightly and stable:

[code]

If I'm reading the error correctly, this is because Rust tries to implement `FnMut` for the closure. However, since the closure consumes the `&'static mut Foo`, it can only implement `FnOnce`. Indeed, I can "manually" create such a closure on nightly:

[code]

I would expect the original code to work pre

[2022-11-24 17:41] sgued opened #104838 "Error E0507 suggestion is invalid with `let else` statements"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=537fe56a67206a6c8918592455e4aa0d)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

An alternative would be to recommend using `ref`, but this would not be consistent with the `match` suggestion:

[code]

[code]

Tested with Nightly version: 1.67.0-

[2022-11-24 17:42] HintringerFabian commented on #102609
@rustbot claim

[2022-11-24 18:07] estebank commented on #104232
@chenyukang oh! Great to hear, sorry for making you waste your time :-/

There are a couple of improvements I would like to make on top of that merged PR though, which you might be interested in doing: I would like to customize the message depending on the type size (if smaller than lets say a KB do not talk about perf cost), whether the type implements `Drop` (to mention that the drop guard might

[2022-11-24 18:18] cjgillot commented on #104691
@oli-obk I think the presence of a `mut` in `&'c mut 'b Thingy` prevents leveraging the `'b` outlives `'c` bound. With shared reference, all works well, and the code is accepted.  With a `mut`, we have no guarantee that `'b` itself isn't relevant eg. for assignment. Or am I wrong in this?

[2022-11-24 18:25] withoutboats commented on #103854
(NOT A CONTRIBUTION)

I am not at liberty to post an example, perhaps someone else could come up with one.

Structured concurrency isn't relevant here: even if Rust had chosen to push structured concurrency and had frameworks that don't provide spawn without spawning *onto a nursery* you would still have the same problem: to make sure a task completes, you would need to pass a nursery into that co

[2022-11-24 18:40] estebank opened #104840 "Comparing `String < {number}` gives subpar suggestion and comparisons don't point at source of E0308 expectation"
[When writing `string < number`, the current output is](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=22544cf02655965d39537257e279d998):

[code]

but it should be closer to

[code]

[2022-11-24 18:44] compiler-errors commented on #104825
I couldn't repro this failure, maybe @Swatinem was doing `.no_bound_vars().self_ty()` instead of `.self_ty().no_bound_vars()`? The ordering is important here.

[2022-11-24 18:54] Swatinem commented on #104825
I believe I did, yes.

[2022-11-24 19:06] maxburke opened #104842 "1100% increase (!) in x86_64-unknown-linux release compile times"
Hi,

We've noticed a significant performance regression in compiling our top-level crate in release. It seems to have started as of nightly-2022-09-23:

[code]

With nightly-2022-09-22 the builds are significantly faster:

[code]

In trying to identify where this issue began we see that it's happening as far forward as 2022-11-14. Unfortunately other issues with toolchains have hindered us testing

[2022-11-24 19:28] est31 opened #104843 "Broken MIR ICE with let chains"
Originally reported by @flip1995 in https://github.com/rust-lang/rust/issues/99938#issuecomment-1323700679 .

### Code

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

The ICE requires `-O` to be passed to rustc, or `--release` be passed to cargo, the param to validate MIR is not enough. It's also a regression, on `nightly-2022

[2022-11-24 19:29] est31 commented on #104843
@rustbot label F-let_chains

[2022-11-24 19:40] compiler-errors commented on #104817
probably broken by #103488, cc @oli-obk

[2022-11-24 20:01] oli-obk commented on #104691
Ah. If we didn't correctly handle variance here, we'd be able to write something with 'c lifetime into something with 'b lifetime.

[2022-11-24 20:02] oli-obk commented on #104691
The `foo_inner` situation works, because it changes that reference to &&Thingy with not mutable refs.

Closing as working as intended

[2022-11-24 20:02] #104691 closed

[2022-11-24 20:15] lukas-code commented on #104843
searched nightlies: from nightly-2022-07-20 to nightly-2022-11-23
regressed nightly: nightly-2022-10-20
searched commit range: https://github.com/rust-lang/rust/compare/a24a020e6d926dffe6b472fc647978f92269504e...4b8f4319954ff2642690b9e5cbe4af352d095bf6
regressed commit: https://github.com/rust-lang/rust/commit/d7dd01fe8b071602510eaac9f676acc0e3cf8e4a

<details>
<summary>bisected with <a href='http

[2022-11-24 20:18] Nilstrieb commented on #104843
Looks like #103034 didn't fix everything after all..... @nathanwhit

[2022-11-24 20:21] Mark-Simulacrum commented on #104842
Bisecting to a particular commit with https://github.com/rust-lang/cargo-bisect-rustc would help, and if you can provide a GitHub repository or similar that would also help (so we can reproduce).

[2022-11-24 20:24] Nilstrieb commented on #104842
You could also profile the build with the `-Ztime-passes` or `-Zself-profile` rustc flags to find the cause of the slowness (which I assume will be in some specific place).

[2022-11-24 20:28] Nilstrieb commented on #104842
Also, simple profiling with something like `perf` could help (if you could build rustc from source with debug symbols that could be even more useful).

[2022-11-24 20:31] est31 commented on #104843
@rustbot label -E-needs-bisection

[2022-11-24 20:36] sunshowers commented on #92597
I think the best way forward might be that `--message-format=json` exposes additional lines related to doctests, with file and line numbers.

[2022-11-24 21:19] SNCPlay42 commented on #104840
See  #77304

[2022-11-24 21:20] leonardo-m opened #104847 "[ER] Sub-optimal allocation of simple zeroed Vec of arrays"
I expect the two diffent functions to be compiled to the same asm:

[code]

But they aren't, and this slows down code:

[code]

Using (and using aggressive compilation flags):

[code]

It's a small difference but I can see it in my benchmarks. Fixing this problem is sufficiently important because Vec is used everywhere in most of the Rust ecosystem. So even small Vec improvements are worth having.

[2022-11-24 21:36] maxburke opened #104848 "Error parsing "since" field of deprecated attribute with nightly-2022-11-24"
When trying nightly-2022-11-24 I'm running into this issue:

[code]

It popped up after nightly-2022-11-01, though I haven't yet bisected which day it started.

[2022-11-24 21:46] maxburke commented on #104842
@Nilstrieb I've created a repository here with the profiling data obtained with -Ztime-passes and -Zself-profile: https://github.com/maxburke/rustc-104842

There are two directories, one for 2022-09-22 which doesn't exhibit the performance issue and 2022-09-23 which does

@Mark-Simulacrum Unfortunately I'm not able to share the repository, but I will try bisecting to the affecting commit.

[2022-11-24 22:42] shepmaster commented on #104633
I have something similar. In SNAFU, I have a number of crates that are only for testing purposes. I was experimenting with `yeet`:

**Cargo.toml**
[code]
**src/lib.rs**
[code]

`cargo +nightly test` isn't happy:

[code]

Is this the same case, or should I open a new issue?

[2022-11-24 22:57] CAD97 commented on #104633
It's the same issue. I agree that it's reasonable to apply at least the `#![feature]` which occur before a `#![cfg]`.

If they were outer attributes,

[code]

the `#[feature]` attribute would be logically evaluated before the `#[cfg]` attribute is evaluated, and thus the `#[cfg]` shouldn't suppress the effect of the `#[feature]`.

[2022-11-24 23:11] ehuss commented on #104848
This was changed as part of #104148. The compiler now validates attributes of trait impls. Updating geo-types to 0.7.8 can fix the issue.

[2022-11-24 23:12] CAD97 commented on #65860
(apparently didn't record it in this thread)

The gates for unstable syntax which were reverted by #66004 were turned into future-compatibility warnings in

- https://github.com/rust-lang/compiler-team/issues/535
- https://github.com/rust-lang/rust/pull/99935

[2022-11-24 23:49] saethlin commented on #104847
@rustbot label +A-llvm +I-slow

[2022-11-24 23:54] thomcc commented on #104847
This is sort of a libs issue too. We don't use alloc_zeroed for arrays over 16, since it can be costly to verify: https://github.com/rust-lang/rust/blob/b3bc6bf31265ac10946a0832092dbcedf9b26805/library/alloc/src/vec/is_zero.rs

However, LLVM is in a better position to fix this than the library -- ideally it would see that this is alloc followed by memset of 0, and turn it into alloc_zeroed.

[2022-11-24 23:55] kornelski commented on #27747
Is there a need for this trait to use `Borrow` rather than `AsRef`? The documentation for `Borrow` recommends using `AsRef` when `Eq`/`Ord` isn't required.

[2022-11-24 23:57] thomcc commented on #27747
That does sound like a mistake, but changing it now sounds impossible to do without breaking code.

[2022-11-25 00:26] aDotInTheVoid opened #104851 "jsondoclint: False positive error when function return type is type alias"
[code]

Produces json (abridged)

[code]

which is correct, but `jsondoclint` fails for this

[code]

@rustbot modify labels: +A-rustdoc-json +A-testsuite +T-rustdoc

[2022-11-25 00:27] aDotInTheVoid commented on #104851
@rustbot claim

[2022-11-25 00:28] aDotInTheVoid commented on #104851
This was found while working on #104064, as it causes jsondoclint to fail for core (in addition to it catching the linked issue)

[2022-11-25 00:32] maxburke commented on #104842
@Mark-Simulacrum Bisected the performance regression to change `8ab71ab59fd17a1c51d23b68eced935b92431b70`

[2022-11-25 00:36] maxburke commented on #104848
Ah, okay, I'll close the issue now.

[2022-11-25 00:36] #104848 closed

[2022-11-25 00:38] ehuss opened #104852 "x86_64-pc-windows-gnu can't link libtest with LTO=thin"
x86_64-pc-windows-gnu is unable to build a test binary with LTO=thin.

Reproduction:
1. `touch foo.rs`
2. `rustc +nightly-x86_64-pc-windows-gnu -Clto=thin --test foo.rs`

Error:

[code]

Regression started with #101368.

### Meta

`rustc --version --verbose`:
[code]

[2022-11-25 01:04] trondsg commented on #48011
No, because the extension normally used for intel assembly is .asm, not .s.

[2022-11-25 02:19] thomcc commented on #104852
This pretty much sucks since it seems like a rustc bug preventing a (admittedly imperfect) soundness fix, but @nikic (https://github.com/rust-lang/rust/pull/101368#issuecomment-1236075109) and @eddyb (https://github.com/rust-lang/rust/pull/101368#issuecomment-1238238745) *seemed* to have a other ideas for how to prevent that issue from happening...

CC @ChrisDenton

[2022-11-25 02:45] chenyukang commented on #104838
Maybe related to https://github.com/rust-lang/rust/pull/103908, but not in name resolve phase.

[2022-11-25 02:47] jyn514 opened #104858 "Don't codegen items that are statically unreachable"
Currently, all items in a crate are codegened, and only stripped later in a linker pass: https://github.com/rust-lang/rust/blob/6c4bda6de456460520aa450d7ed10a1b3d9fa205/compiler/rustc_monomorphize/src/partitioning/mod.rs#L201-L205 https://github.com/rust-lang/rust/blob/a24a020e6d926dffe6b472fc647978f92269504e/compiler/rustc_codegen_ssa/src/back/link.rs#L2179-L2190 This unnecessarily bloats the amo

[2022-11-25 02:54] #104397 closed

[2022-11-25 02:54] #104513 closed

[2022-11-25 02:54] #104768 closed

[2022-11-25 02:54] #103814 closed

[2022-11-25 02:56] Aegrithas opened #104859 "Unexpected type inference around unsized coercion"
I tried this code:

[code]

I expected to see this happen:
Line 6 to infer
[code]
and compile successfully.

Instead, this happened:
[code]

Changing line 6 to
[code]
works as expected, leading me to believe that the current behavior is inferring
[code]
(which gives the same error).

Also of note is that moving `x` rather that borrowing works as expected, e.g.
[code]
Presumably, the difference is

[2022-11-25 03:00] ChrisDenton commented on #104852
As I said on the revert, I think we do need a proper fix to the underlying issue rather than attempting libs workarounds.

[2022-11-25 03:31] Mark-Simulacrum commented on #104842
Cc #100980 @compiler-errors

Note that this means this regression will hit stable with 1.66, so rather soon, unless we end up with a backportable fix.

[2022-11-25 03:33] compiler-errors commented on #104842
This is reverted and backported on beta via #103509

[2022-11-25 03:34] Mark-Simulacrum commented on #104842
Oh, hm, we should have reverted that PR on beta and nightly now. It would be great to see if we can verify it doesn't reproduce on beta perhaps? (Testing a more recent nightly would also be great).

[2022-11-25 03:34] compiler-errors commented on #104842
@maxburke do you mind checking on the latest nightly?

[2022-11-25 04:01] maxburke commented on #104842
@compiler-errors I solved the issues we were getting with moving forward and after trying the latest nightly (2022-11-24), performance seems to be back to normal.

[2022-11-25 04:15] chenyukang commented on #104700
Do you think we should suggest in this scenario?

[code]

My local dev branch will suggest:

[code]

[2022-11-25 04:35] bczhc commented on #104713
I take a further look at https://github.com/rust-lang/rust/issues/103673, and the `INPUT(-lunwind)` workaround works for me. Then I'll just wait for the next stable release, it may be still some time for Rust to completely switch to linking against `libunwind`.

[2022-11-25 04:35] #104713 closed

[2022-11-25 05:17] chenyukang commented on #104700
I removed it.

[2022-11-25 05:25] baloo commented on #104759
Closing this in favor of #104815 which carries a reproduction example

[2022-11-25 05:25] #104759 closed

[2022-11-25 05:39] #104842 closed

[2022-11-25 06:14] #104852 closed

[2022-11-25 06:25] stefson opened #104866 "please update crossbeam crates to fix compile for custom -vendor- rust targets"
hello everyone,

some linux targets use a custom vendor in their rustc, and it so happens that the crossbeam crate missdetects the target. Here is an example from librsvg when using powerpc-gentoo-linux-musl:

[code]

there is a fix for the missdetection, which was merged in https://github.com/crossbeam-rs/crossbeam/pull/922

that fix was backported to crossbeam-utils 0.8.13, crossbeam-queue 0.3.7

[2022-11-25 06:31] chenyukang opened #104867 "postfix_increment show both type of suggestion for single statement"
Story from [here](https://twitter.com/ekuber/status/1596011865867710465)

Given the [following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0f59310a5430459491c5925f13dba28b):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-11-25 06:32] jruderman opened #104868 "Prompted to add `#![feature(let_chains)]` to code that is unsupported anyway"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d6ede69d8308dfd86e4133acfbbdec24)):

[code]

The current output is:

[code]

Adding `#![feature(let_chains)]` only makes the last error go away: `let` is not supported in this position even with `#![feature(let_chains)]`.

So it would be better not to show the last error message in this

[2022-11-25 06:33] chenyukang commented on #104867
@rustbot claim

[2022-11-25 06:44] matthiaskrgr opened #104870 "ICE: error was constructed but not emitted"
### Code

[code]

`rustc 1.67.0-nightly (70f8737b2 2022-11-23)` :

[code]

`rustc 1.67.0-nightly (5dfb4b0af 2022-11-24)`:

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-25 06:58] compiler-errors commented on #104870
The real error isn't the unemitted diagnostic, it's the unwrap. The unemitted diagnostic only happens bc this unwrap occurs during diagnostics code, I think.

[2022-11-25 06:59] jruderman opened #104871 "Exponential compile time with `let` in unsupported position within closure"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

<details><summary>Variant A: slow and high memory use</summary>

[code]

</details>

<details><summary>Variant B: slow only</summary>

[code]

</details>

### Where it's slow

From `-Z time-passes`:

* `item_bodies_checking`

From [sample-head.txt](https://github.com/rust-lang/rust/files/10089082/sample-head.txt

[2022-11-25 07:02] thomcc commented on #104852
Hmm, I wonder if we could just do it for `target_env = "msvc"`, since that would at least fix the user's problem in https://github.com/rust-lang/rust/pull/101368#issuecomment-1310834015.

[2022-11-25 07:12] ChrisDenton commented on #104852
Maybe. My concern now is that we maybe end up essentially pushing the miscompilation around. So we workaround one problem but maybe we cause another, harder to diagnose, problem somewhere else.

That said, I'm not totally against the idea. Perhaps its a trade off we should make. It doesn't sit particularly well with me though I guess there aren't a lot of good options here.

[2022-11-25 07:30] RalfJung commented on #62633
I disagree with that, unless you think 'unwrap' and 'expect' are also just bloat and should have been postfix macros (but then I don't know which macro).

But I think I will use "x.ok_or(()).expect_err(...)" for now for the iterator case (where one wants to check that the last next() returns None), that is at least almost symmetric with the earlier calls to next that should return Some.

[2022-11-25 07:36] matthiaskrgr commented on #104870
cc @estebank  I think this might be https://github.com/rust-lang/rust/pull/103908 and we try to suggest .clone() which is not available for the type though?

[2022-11-25 07:49] ChrisDenton commented on #104852
Hm, well, thinking about it after a cup of coffee... maybe it's the best trade off. But rather than `target_env` just don't set it for any windows target that's not also `target_thread_local`. Something like:

[code]

Though I'm still not entirely comfortable with all this.

[2022-11-25 07:53] thomcc commented on #104852
Yeah, good idea.

[2022-11-25 07:57] thomcc commented on #104852
I'll wait on PRing this until I can test the patch in a few different build configurations (to avoid a repeat). That will probably be later this weekend.

[2022-11-25 08:17] scottmcm commented on #104858
A potential first step would be to handle `if const { monomorphized-predicate }`, #85836.

[2022-11-25 08:54] chenyukang commented on #104867
Our current suggestion for this code is wrong:

[code]

Current output:
[code]

The second one is not right.

[2022-11-25 09:06] tustvold opened #104874 "Incremental Compile Bug On Moved Imports"
Whilst working on https://github.com/apache/arrow-rs I keep running into issues where incremental compilation gets confused by types that have been moved from one crate within the workspace to another.

I'm not really sure how to come up with a reproducer, as it seems to rely on stale state from previous builds that I can't find a way to reproduce. However, @carols10cents recommended I file an iss

[2022-11-25 09:17] #104249 closed

[2022-11-25 09:17] #104539 closed

[2022-11-25 09:24] rex4539 opened #104876 "thread 'rustc' panicked at 'Box<dyn Any>', compiler/rustc_errors/src/lib.rs:1594:13"
Steps:
Compile https://github.com/ZcashFoundation/zebra with Rust nightly.

[code]

[code]

[2022-11-25 09:35] Jerrody commented on #103776
Fixed: https://github.com/rust-lang/rust/pull/103908

I close this issue.

[2022-11-25 09:36] #103776 closed

[2022-11-25 09:49] SOF3 commented on #62633
@RalfJung yes, I think `unwrap` and `expect` are bloat as well. They should have simply been

[code]

[2022-11-25 10:05] tamasfe opened #104878 "ICE triggered by RPITIT function parameter"
I hit an ICE with RPITIT and async_functions_in_trait.

### Code

Unfortunately I have no exact repro yet, everything I tried compiles, but some combination triggers the ICE in a larger code base. Hopefully the traces can help track it down.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</d

[2022-11-25 10:07] flip1995 commented on #104843
Thanks for opening an issue for this! I put that on my todo list, but my todo list is just way to long...

[2022-11-25 10:12] RalfJung commented on #104633
@CAD97 yes that would resolve the issue for me. :)

[2022-11-25 10:14] RalfJung commented on #104633
I guess that would technically be a breaking change since this will currently compile on stable
[code]

However, this generates an empty crate, so... doesn't seem terribly useful?

[2022-11-25 10:24] faern commented on #104876
I'm not 100% sure it's the same bug, but I think so. [`shadowsocks-service`](https://crates.io/crates/shadowsocks-service) experiences this ICE also:

[code]

<details><summary>Full output</summary>

[code]
</details>

[2022-11-25 11:10] chenyukang commented on #104840
how do we determine should try to convert from RHS to LHS, or from LHS to RHS..
from this case, since the RHS is already a primitive type, so we convert type from LHS?

[2022-11-25 11:33] kaya3 commented on #70142
I've just come across this because I have some code to check the last-modified date of a file:

[code]

This gives a `Result<Result<SystemTime, Error>, Error>` so `flatten` is useful here, but I guess `Result::map` is a fairly common way for nested result types to appear, so I wonder if a `flat_map` method would serve a lot of the same purposes:

[code]

[2022-11-25 11:49] mvtec-bergdolll commented on #92109
Using `RUSTFLAGS="-Z instrument-mcount -C passes=ee-instrument<post-inline>"` I noticed that inlined functions may call `mcount` again, leading to skewed statistics, eg:

![image](https://user-images.githubusercontent.com/62337596/203979322-e1ca0e82-dfec-463c-83e7-e9cbb86815f8.png)

I'm not sure if clang generates different code, but I would have expected an inlined function to *not* contribute to

[2022-11-25 13:20] alepez opened #104881 "Codegen metadata documentation is not exhaustive"
### Location

https://doc.rust-lang.org/rustc/codegen-options/index.html#metadata

### Summary

Current `rustc -Cmetadata` argument documentation:

I feel it is not evident what is the expected behavior. I'm not talking about how the metadata is used to differentiate symbols, but what are the expected arguments.

Other non-documented rules, which are clear by looking at the code in charge
of gener

[2022-11-25 13:33] hniksic opened #104883 "Future non-Send although non-Send local is dropped before .await"
Rust 1.65 doesn't compile this code:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a557b2d660dddba8ab7832fad2e5bd0a)

It complains that the future is not `Send`, reporting the following:

[code]

I would expect it to compile, since the offending non-Send value is unconditionally dropped before `.await`.

If I change `drop(non_send)` to a block that ma

[2022-11-25 13:36] jonasbb opened #104884 "Invalid code suggested when encountering unsatisfied trait bounds in derive macro code"
Given the following code: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0345475f1b234a0cf26f97bfb712cceb>

[code]

The current output is:

[code]

The last part of the suggestion `#[derive(serde::Serialize, T: std::cmp::Ord)]` is not valid Rust code and therefore should not be suggested like this.

This problem occurs on the Playground on both stable and nightly with ba

[2022-11-25 13:46] rendarz opened #104885 "Unexpected rustc panic"
I was modifying my Cargo.toml file, when I have commented 2 lines of it, representing the crates `tokio-utils` and `tokio-stream`, the compiler unexpectedly panicked.

This is my Cargo.toml file:

    [package]
    name = "turdb"
    version = "0.1.0"
    edition = "2021"

    [dependencies]
    tokio = { version = "1.2.21", features = ["full"] }
    #tokio-stream = { version = "0.1.11", features

[2022-11-25 13:57] GoldsteinE opened #104886 "~const makes rustdoc show duplicate bounds"
For example, see documentation for the [`Ord`](https://doc.rust-lang.org/std/cmp/trait.Ord.html) trait from the standard library:

[code]

This is slightly confusing IMO.

[2022-11-25 14:18] fmease commented on #104886
This happens for both locally and externally defined bindings (it's not a reexports issue).
@rustbot label T-rustdoc

[2022-11-25 14:22] wwylele commented on #104883
possibly duplicate of https://github.com/rust-lang/rust/issues/104442, though this one has a smaller example

If I understand it correctly this is related to https://github.com/rust-lang/rust/issues/97331

[2022-11-25 14:26] mdgaziur opened #104888 "Clippy lint "comparison to empty" fails to apply fix when reference is used"
I tried this code:

[code]

I expected to see this happen: Clippy applies fix successfully

Instead, this happened:

Clippy fails to automatically apply fix

<details><summary>Output</summary>
<p>

[code]
</p>
</details>

### Meta

`rustc --version --verbose`:

Stable:

[code]

Beta:

[code]

Nightly:

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-11-25 14:26] chenyukang commented on #104884
@rustbot claim

[2022-11-25 14:30] mdgaziur commented on #104888
@rustbot +A-clippy

[2022-11-25 14:32] mdgaziur commented on #104888
@rustbot label: +A-Clippy

[2022-11-25 14:40] mdgaziur commented on #104888
I can think of two ways clippy can fix this:
[code]

or

[code]

[2022-11-25 14:41] mdgaziur commented on #104888
I can think of two ways clippy can fix this:
[code]

or

[code]

[2022-11-25 15:05] fmease commented on #104886
If anyone would like to work on this, for the local case one solution is in [`clean_maybe_renamed_item`](https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/clean/fn.clean_maybe_renamed_item.html) in branch `ItemKind::Trait` to pass the `generics` & the `bounds` of the trait to [`clean_trait_item`](https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/clean/fn.clean_trait_item.html) and to d

[2022-11-25 15:08] chenyukang commented on #104884
@jonasbb  do you know how to create a minimal case without `serde`?
so we may add it to unit testing.

I give a fix and verified it's OK with my local testing, but I'm struggle to construct a minimal case without `serde` to reproduce it.

[2022-11-25 15:35] est31 opened #104893 "let chains testing"
The appearance of #104843 has shown that bugs might still be in hiding for let chains. In order to make the implementation of let chains in rustc more robust, it would be useful to increase the number of places let chains are tested in.

There is an automatted tool to convert uses of the `if_chain` crate to let chains: https://github.com/Alexendoo/if-to-let-chain

One ways to increase testing woul

[2022-11-25 15:52] #104825 closed

[2022-11-25 16:15] jonasbb commented on #104884
@chenyukang I assume this reproduces when using the same setup of derive macro implementing a trait while the implementation is missing bounds. I don't know if it is relevant that the derive macro produces a trait.

Something along these lines, with the proc macro crate omitted.
[code]

[2022-11-25 16:16] mati865 commented on #104852
Why would it be compiler bug?
If we look at expanded code the mentioned PR has changed it on `*-windows-gnu` from:
[code]
to:
[code]
By the way looks like this could use some unit test to avoid regressions in the future.

[2022-11-25 16:23] chenyukang commented on #104884
yes, it's caused by derive macro.

[2022-11-25 16:30] chenyukang commented on #104884
emm，met this error 😒

[code]

[2022-11-25 16:37] ChrisDenton commented on #104852
Using the `inline` attribute on `__getit` should not be causing linker errors. That is not desirable and so I would personally consider it a bug.

[2022-11-25 16:44] mati865 commented on #104852
Without `target_thread_local` this is a static symbol (so it has to use dllimport/dllexport) and when you are telling compiler to inline it it can easily confuse the linker like we do see with `ld.bfd`.
Note the same error doesn't appear when linking with LLD.

[2022-11-25 16:53] matthiaskrgr opened #104897 "ICE: Found a `push` without a `pop` / Span must not be empty and have no suggestion"
### Code

[code]
note: no newline at end of code

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-11-25 16:54] matthiaskrgr commented on #104897
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-25 17:03] ChrisDenton commented on #104852
But that's a compiler issue. If the gnu linker cannot handle the inlining, then surely gnu toolchains should not be inlining it? The `inline` attribute does not mean "you must inline this, no matter if it's nonsensical", no?

`#[inline]` is an optimization hint; from a libs perspective I wouldn't expect it to have any effect on whether or not a program compiles.

[2022-11-25 17:15] krtab opened #104900 "`FileType` `PartialEq` implementation is buggy on Unix"
I tried this code:

[code]

This currently fails, even though no symlinks are involved.

This is because `FileType` on Unix are currently compared on the totality of their contained unix `st_mode`, which are bitflags of the form `...YYY0XXX` (in octal) where `XXX` is a Unix permission mode and `...YYY` the actual file type. As of now, depending on how the `FileType` is built, `XXX` may be either `

[2022-11-25 17:15] dtolnay commented on #104442
Closing in favor of #104883 which has a more minimized compilable repro.

[2022-11-25 17:15] #104442 closed

[2022-11-25 17:16] mdgaziur commented on #104888
I have made a fix but I'm not sure where to open pull request

[2022-11-25 17:46] Rageking8 commented on #104885
@rustbot label +E-needs-mcve

[2022-11-25 17:56] bstrie commented on #104883
Here's a smaller repro that doesn't require a tokio dependency:

[code]

[2022-11-25 18:14] matthiaskrgr opened #104904 "unused_variable: applying suggestion causes compiler error"
Given the following code:

[code]

The current output is:

[code]
The problem is while the `if res {}` at the end is technically unreachable, it will still cause a compiler error if we auto-apply the `let res = ..` -> `let _res = ...`  with cargo fix.

Could we somehow make the "remove ` if res {}`" suggestion apply automatically so that it is performed before the `res` to `_res` rename?

[2022-11-25 18:46] camsteffen commented on #104904
Related: https://internals.rust-lang.org/t/should-dead-code-count-toward-var-liveness/16996

[2022-11-25 18:53] FrodoBaggins74524 commented on #104618
You can add #[allow(unused_imports)] on top of the module declarations when you don't intend to use to.

[2022-11-25 19:12] Dirbaio opened #104908 "AFIT+GAT: Self may not live long enough"
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5efbb97852af4fe1bda05854cab5c4b8)

[code]

fails with

[code]

However, in the method context, `Self: 'a` is already implied by having a `&'a self` argument. The equivalent without `async` builds fine thanks to that, I think the `async` one should too.

@rustbot label F-async_fn_in_trait

[2022-11-25 19:27] fmease commented on #104888
As far as I know, over at [rust-lang/rust-clippy](github.com/rust-lang/rust-clippy). Further, this issue should probably be moved to that repo as well (by maintainers).

[2022-11-25 19:31] LegionMammal978 commented on #83060
I ran into a variation of this issue today, while trying to safely construct a large struct on the heap. On release builds, `broken()` constructs the `Big` object directly on the heap, but it writes `y` after `z` (outside the bounds of the `Big`), instead of after `x`. `y` is left uninitialized, which results in this program printing 0 on my machine, since the allocator gives it newly mapped pages

[2022-11-25 19:36] matthiaskrgr opened #104910 "when rustc suggests alternative solutions, rustfix will apply none of them"
Given the following code:
`src/test/ui/lint/let_underscore/let_underscore_drop.rs`
[code]

The current output is:

[code]
It's great that we can suggest several solutions here BUT this will prevent rustfix from applying ANY of them :sweat_smile:

[code]

I wonder if we can be more clever about this, perhaps flags the first one somehow and and tell rustfix "apply this, and only if that fails to com

[2022-11-25 19:56] matthiaskrgr opened #104913 "unused_must_use: comparison inside macro will cause invalid code to be suggested"
Given the following code:

[code]

The current output is:

[code]
However, this does make it worse:

[code]

[2022-11-25 19:57] james7132 opened #104914 "flat_map fails to autovectorize internal iterators"
[code]

I expected to see this happen: Both versions of the function to autovectorize.

Instead, this happened: only the normal for-loop version autovectorizes. See https://godbolt.org/z/caTqoq3x3.

### Meta

`rustc --version --verbose`:
[code]

Also happens on nightly and for other "flattened" iterators. For example, Bevy's [QueryItrer](https://docs.rs/bevy_ecs/0.9.0/bevy_ecs/query/struct.QueryIt

[2022-11-25 21:45] the8472 commented on #104914
[code]

That's still external iteration. If you want internal iteration use

[code]

which does vectorize.

[2022-11-25 21:56] piegamesde commented on #70142
@kaya3 https://doc.rust-lang.org/std/result/enum.Result.html#method.and_then

[2022-11-25 22:20] jruderman commented on #83461
I hit this in my fuzzing as well.

### Code

[code]

### Error output

thread 'rustc' panicked at 'call to rustc_peek should be preceded by assignment to temporary holding its argument', [compiler/rustc_mir_dataflow/src/rustc_peek.rs:117](https://github.com/rust-lang/rust/blob/b3bc6bf31265ac10946a0832092dbcedf9b26805/compiler/rustc_mir_dataflow/src/rustc_peek.rs#L117-L125)

<details><summary>Backt

[2022-11-25 22:22] #104851 closed

[2022-11-25 23:26] leonardo-m commented on #53485
If slice::sort uses F: FnMut(&T, &T) -> Ordering, then perhaps is_sorted_by could use the same.

[2022-11-25 23:38] jruderman opened #104916 "ICE "Not enough bound vars""
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### ICE (with debug assertions enabled)

error: internal compiler error: [compiler/rustc_middle/src/ty/visit.rs:415](https://github.com/rust-lang/rust/blob/8681d4cffcd23bbe619984ab62772a91827a40dc/compiler/rustc_middle/src/ty/visit.rs#L415): Not enough bound vars: `BoundRegion { var: 0, kind: BrNamed(Def

[2022-11-25 23:41] james7132 commented on #104914
Is there a way for us to get it to vectorize without internal iteration? The aforementioned case in Bevy cannot be separated like `flat_map`, and we'd rather encourage use of external iteration as it's generally more idiomatic.

[2022-11-26 00:20] matthiaskrgr opened #104918 "rustc breaks code by suggestion to remove bounds"
Given the following code:

[code]

The current output is:

[code]
If I apply this via `cargo fix`, the code no longer compilers :upside_down_face:

[code]

[2022-11-26 00:23] nicholasbishop opened #104919 "Unstable book not getting updated"
For example, https://github.com/rust-lang/rust/pull/103766 added a tracking issue for `error_in_core` a month ago, but the corresponding page in the unstable book still doesn't show it: https://doc.rust-lang.org/unstable-book/library-features/error-in-core.html

When I build the docs locally with `./x.py doc src/doc/unstable-book/` it shows the tracking issue properly, so I assume there's just som

[2022-11-26 00:59] the8472 commented on #104914
Well, `for_each` was more or less [introduced for that purpose](https://medium.com/@veedrac/rust-is-slow-and-i-am-the-cure-32facc0fdcb). The issue is the inner loop in [Flatten's next()](https://github.com/rust-lang/rust/blob/8681d4cffcd23bbe619984ab62772a91827a40dc/library/core/src/iter/adapters/flatten.rs#L470-L479) which makes it hard to optimize external iteration. There are some LLVM passes t

[2022-11-26 01:11] ehuss commented on #104919
The documentation rides the trains just like the rest of Rust does. There is a separate `/nightly/` URL which has the updates from the latest nightly release: https://doc.rust-lang.org/nightly/unstable-book/library-features/error-in-core.html

Similarly there's a `/beta/` URL, and one for each specific release.

[2022-11-26 01:23] aDotInTheVoid opened #104923 "jsondoclint: False positive for `#![feature(trait_alias)]`"
Very much in the same vane as #104851 (trying to get jsondoclint to work on `core.json`)

[code]

[code]

(This isn't fully standard jsondoclint output, as I've hacked it up to debug this)

@rustbot modify labels: +A-rustdoc-json +A-testsuite +T-rustdoc

@rustbot claim

[2022-11-26 01:26] jackh726 commented on #81823
@iamwwc see this bit of the most recent blog post: https://blog.rust-lang.org/2022/10/28/gats-stabilization.html#traits-with-gats-are-not-object-safe

[2022-11-26 01:27] nicholasbishop commented on #104919
Oh thanks, it didn't occur to me that the unstable book would track unstable. Closing.

[2022-11-26 01:27] #104919 closed

[2022-11-26 02:33] ly0va opened #104925 "Failed linking to a library that uses inline assembly with `asm_sym` feature"
### What does not work

I tried this code:

[code]

[code]

I expected to see this happen: output `5 + 18 = 23`

Instead, this happened:

[code]

### What works

1. `#[no_mangle]`:

[code]

2. `#[inline(never)]`:

[code]

3. `pub static`:

[code]

### Meta

`rustc --version --verbose`:

[code]

`mold --version`:

[code]

Also tried with `ld` linker, got the same error.

[2022-11-26 03:31] james7132 commented on #104914
This unfortunately is a 100% deal breaker since that fundamentally breaks the UX we're aiming to expose, and potentially forces `unsafe` into userspace code. We do have an internal iteration version, as mentioned before, and it does properly vectorize. However, its use is heavily discouraged right now as it's not extensible nor idiomatic.

[2022-11-26 05:49] jruderman commented on #104913
Should it suggest the change in main instead? i.e.

`let _ = negative!(1 as i32);`

[2022-11-26 05:51] jruderman commented on #104910
Related to #53934

[2022-11-26 06:39] ohno418 commented on #103529
Found these also panic:
[code]
Since these are highly related to the `var` case, one PR can fix all of these (maybe).

[2022-11-26 07:07] Rageking8 commented on #104914
@rustbot label +A-codegen +I-slow

[2022-11-26 07:10] matthiaskrgr opened #104930 "rustfmt / clippy component missing"
`rustup update`
[code]

It should not be possible that clippy component is missing since we are gating on it in CI..?
cc @jyn514  https://github.com/rust-lang/rust/pull/103648

[2022-11-26 07:11] matthiaskrgr commented on #104930
`rustup component list | grep "clippy\|rustfmt"`
[code]

[2022-11-26 08:51] the8472 commented on #104914
This isn't an iterator method. You'll want to override the default `try_fold` and `fold` impls on your `Iterator`, similar to what [various iterators in core do](https://github.com/rust-lang/rust/blob/master/library/core/src/array/iter.rs#L265-L277). That way your users will be able to use iterators and benefit from internal iteration when they call iterator methods that use internal iteration. Th

[2022-11-26 10:03] james7132 commented on #104914
The intent was largely for UX (`.iter().for_each()` takes more to write out and screws with formatting) while also providing improved performance via internal iteration.

Is it possible to implement those functions in stable Rust right now? I'm getting an error saying that `try_trait_v2` is unstable.

---

Again ideally we wouldn't need this and the external iteration option optimizes to the same

[2022-11-26 10:16] the8472 commented on #104914
Well, at least `fold` should be possible to implement on stable rust, which will be used by `for_each` and some other methods.

Yes, that's a long-known issue (see the blog post linked previously) but there aren't any good plans how to fix it.

[2022-11-26 10:18] RustBlockchainEngineer commented on #104930
same

[2022-11-26 10:22] RustBlockchainEngineer opened #104937 "rustfmt / clippy component missing"
`rustup component list | grep "clippy\|rustfmt"`

`clippy-x86_64-unknown-linux-gnu (installed)`
`rustfmt-x86_64-unknown-linux-gnu (installed)`

[2022-11-26 10:35] ChrisDenton commented on #104937
Duplicate.

[2022-11-26 10:35] #104937 closed

[2022-11-26 11:34] sgued commented on #104838
I think it's an issue of the statement and the match span being inverted when they shouldn't [here](https://github.com/rust-lang/rust/blob/master/compiler/rustc_borrowck/src/diagnostics/move_errors.rs#L173). It seems that for `let … else` errors, `match_place` is `None` when it shouldn't.

[2022-11-26 11:50] sgued commented on #104838
Well, the bug source of the bug is [here](https://github.com/rust-lang/rust/blob/master/compiler/rustc_mir_build/src/build/matches/mod.rs#L670)

[2022-11-26 12:07] matthiaskrgr commented on #104237
Bug still exists but the errors changed:

[code]

[2022-11-26 12:28] gilescope commented on #41816
Still makes not much sense in 2022.

[2022-11-26 13:19] sgued commented on #104838
The missing `match_place` should probably be added [here](https://github.com/rust-lang/rust/blob/master/compiler/rustc_mir_build/src/build/block.rs#L234)

[2022-11-26 13:47] m-ou-se commented on #83871
@rfcbot merge

[2022-11-26 13:57] jyn514 opened #104939 "Add a way to ensure tests actually test something"
A common problem I run into with tests is that it's hard to verify they actually do anything. Consider for example https://github.com/rust-lang/rust/pull/102038: this test had no changes, but before that PR did not actually ensure that the issue didn't reoccur.

We could avoid problems like that by adding a new test annotation, `// test-fails-with nightly-YYYY-MM-DD`. That will make sure the test

[2022-11-26 14:02] jyn514 commented on #104930
I think this is a rustup bug somehow, it's looking specifically for `-preview`:
[code]

I can back this out to give rustup time to fix it in a new release, this wasn't an urgent fix. I want to spend another few minutes investigating first though.

[2022-11-26 14:22] ehuss commented on #104930
I don't think rustup's rename system is designed to allow changing the name of a component.  https://github.com/rust-lang/rustup/pull/1549 contains more information about how and why this was done.

[2022-11-26 14:48] aDotInTheVoid opened #104942 "jsondoclint: False Positive when `use`ing enum variants"
jsondoclint currently believes that the item kind's that can appear behind a `use` are the same as the items that can appear in a `mod`.

This isn't true, eg

[code]

Produces (abridged)

[code]

Causing error

[code]

A similar case occors for glob importing enums

[code]

[code]

errors with

[code]

@rustbot modify labels: +A-rustdoc-json +A-testsuite +T-rustdoc

@rustbot claim

[2022-11-26 14:55] jyn514 commented on #104930
@kinnison says I need at a minimum to keep the `rename` key for clippy-preview. I will try to test that out today but I don't have permissions for a dist-static build and it might take me a bit so I'll put up a revert in the meantime.

[2022-11-26 14:59] #101666 closed

[2022-11-26 14:59] #102609 closed

[2022-11-26 17:16] dvc94ch commented on #103673
just downloaded beta to try this out and now this. really think the rust project should reconsider it's position on zero breakage for mobile targets. seems to be serving rust well for desktop/server.

when working on mobile google/apple don't hesitate to break stuff. when working on mobile with rust, rust makes sure the bandaid is ripped of excruciatingly slowly prolonging the pain for everyone. l

[2022-11-26 17:29] dvc94ch commented on #103673
and I guess one other thing to point out is that rust updates to regularly cause breakage. whenever clippy adds a new lint, any ci that runs clippy will break. so pretending that rust updates don't ever under no circumstance cause breakage is not entirely true.

[2022-11-26 17:47] alex-pinkus commented on #103673
Are you unable to use the `INPUT(-lunwind)` workaround described in my original writeup?

As a side note, I’m not aware of anyone advocating for “zero breakage for mobile targets.” My writeup closed with this sentence:

[2022-11-26 18:17] EnokiUN opened #104948 "rustc suggests syntactically invalid fixes with proc macros"
Given the following code: [link to playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=354005ee91b3abdfa7158e3cb705955a)

[code]

The current output is:

[code]

Ideally the output should not suggest code that is outright syntactically invalid, especially considering how adding a borrow *anywhere* in the `Bar` struct declaration does not fix this issue, I do however

[2022-11-26 18:30] dvc94ch commented on #103673
I've been using this workaround for a long time. I was planning on finally removing it when I noticed that the PR had been reverted.

[2022-11-26 18:33] dvc94ch commented on #103673
but I don't see how requiring people to use a workaround is an improvement over not requiring people to use a workaround. instead of everyone using workarounds wouldn't it be more efficient to have people maintain their codebases?

[2022-11-26 18:35] mucinoab commented on #104870
If you add
[code]
... to the example you no longer ICE and just hit the normal `error[E0382]: use of moved value:  'x'
`

[2022-11-26 18:38] mucinoab commented on #104870
@rustbot claim

[2022-11-26 18:39] compiler-errors commented on #104870
Please use this minimized repro:

[code]

[2022-11-26 18:44] dvc94ch commented on #103673
I guess a different way of saying it is that with or without this PR people will have additional work.

1. everyone needs to implement workaround
2. all codebases need to be updated
3. everyone needs to remove workaround

why not just do 2? seems like much more efficient. the reason it wasn't done was because there was no policy on ndk updates. now that there is a policy on ndk updates that says t

[2022-11-26 19:35] alex-pinkus commented on #103673
I think you and I agree on the long-term goal of allowing the ecosystem to operate on a newer NDK. I suspect others do as well, although I cannot speak for them.

[2022-11-26 19:37] scvalex opened #104949 "Const generics: compile error if array length is u8"
I tried this code:

[code]

And I got this compilation error:

[code]

This works fine if the const parameter is of type `usize`, but I think it should work for the other unsigned types that are smaller than `usize`.  Or at the very least, maybe there should be a different error message that says this is definitely not supported.

### Meta

`rustc --version --verbose`:
[code]

[2022-11-26 19:59] makspll commented on #104651
Hmm, thanks everyone, it seems that there is a way then to retrieve import paths which I am happy with. Closing and will re-open if there are any issues with this.

[2022-11-26 19:59] #104651 closed

[2022-11-26 20:02] cjgillot commented on #104312
This would be inconsistent with how lifetimes work. You can have `fn foo<'a: 'a>`. I suggest a check in astconv, replacing the self-referential type/const by error type/const.

[2022-11-26 20:14] Mark-Simulacrum commented on #104930
I'm happy to run dev-static builds as needed, but I agree that a revert is appropriate for the time being. Please feel free to poke on Zulip if you need a quick review, etc.

I'm a little surprised our testing in https://github.com/rust-lang/rust/pull/103648 didn't catch this -- let's make sure we understand how to test it in the future.

[2022-11-26 20:15] matthiaskrgr commented on #104870
#

[2022-11-26 20:18] alex-pinkus commented on #103673
Personally, I see it slightly differently from just trying to minimize the number of steps. Let's suppose there are two types of developers:
1. A developer who wishes to execute the fewest number of steps possible, even if it means that they are broken at some point due to Rust releases and must take action with priority.
2. A developer who wishes to make changes on their own schedule, and not be

[2022-11-26 20:20] Nilstrieb commented on #104949
Only allowing `usize` is intended, but improvements to error messages are of course always welcome :)

[2022-11-26 20:20] jyn514 commented on #104930
@Mark-Simulacrum what went wrong in #103648 is that `rustup component add rustfmt` worked before and after, but running `rustup component add rustfmt` before and `rustup toolchain update` after did not. I'll make sure to test that in any future PR.

[2022-11-26 20:39] Cyborus04 commented on #95629
That would make the names for equivalent array methods easier too: `.{as_}flat_array()`, `.{as_}flat_array_ref()`, and `.{as_}flat_array_mut()`

[2022-11-26 21:10] #104923 closed

[2022-11-26 21:10] #104787 closed

[2022-11-26 21:10] #104942 closed

[2022-11-26 21:12] GuillaumeGomez commented on #104651
Maybe we could provide some methods in the `rustdonc-json` crate to make it easier for our users to get this information?

[2022-11-26 21:13] makspll commented on #104651
That would be very useful indeed, for context I use these to import structures for which I am generating wrappers

[2022-11-26 21:15] GuillaumeGomez commented on #104651
Then please open another issue (linking to this one) with a short example of your problem so we can provide you a function to make it easier. ;)

[2022-11-26 21:50] jyn514 opened #104957 "src/test/ui/traits/predicate_can_apply-hang.rs is failing spuriously"
First introduced in https://github.com/rust-lang/rust/pull/104269, cc @compiler-errors

[code]

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/issues/104950#issuecomment-1328119407_

[2022-11-26 21:52] compiler-errors commented on #104957
lol, the irony

[2022-11-26 21:55] compiler-errors commented on #104957
I think I'll just remove the test.  It was there to make sure we don't break it in the future with overflow refactoring, but it seems like overflow controls doesn't even work consistently currently.

cc: @lcnr who had asked for the test to be added

[2022-11-26 22:21] glandium opened #104960 "The dependencies of the backtrace crate in libstd are outdated."
`library/std/Cargo.toml` contains:
[code]

`library/backtrace/Cargo.toml` has:
[code]

(and current master of the backtrace-rs repo has even different versions)

It seems to me backtrace should have its own rustc-dep-of-std feature, which would avoid libstd enabling the feature on stale dependencies.

It's worth noting that the dependencies in `crates/as-if-std/Cargo.toml` in backtrace-rs match wh

[2022-11-26 22:24] jyn514 opened #104961 ""consider borrowing here" suggestion is missing parentheses"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c03c22d0ff9f0d88bb0cacb6edb95501

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-11-26 22:49] jyn514 commented on #103673
FWIW I am not sure that the original revert was justified, given that we document the old NDK is unsupported. But given that the original revert happened I don't have objections to a blog post + few months of warning.

I think my larger worry is that we have no consistent policy for which changes are considered breaking and which aren't; if something similar happened in the future (e.g. dropping s

[2022-11-26 22:50] jyn514 commented on #103673
To be clear, I have no problem with a blog post *if it's suggested before the break happens*. My only concern is that we backed out a change that broke an unsupported platform.

[2022-11-26 23:03] dvc94ch commented on #103673
well in this case the developer in case 2 has not been paying attention, the problem isn't new and the ndk fairly old. you'll always catch someone offguard that hasn't been paying attention.

[2022-11-26 23:08] jyn514 opened #104962 "Document the policy for subtree changes"
Any of the following seem like good places:

- (ideally) the ping message that shows up when the subtree is modified
- the dev-guide
- the README for your tool

cc @calebcartwright @matklad. For context, Ralf is ok with feature changes being made in-tree and flip is not - it's ok for the policy to vary per-tool but then we need to document it.

_Originally posted by @jyn514 in https://github.com/r

[2022-11-26 23:11] zacklukem commented on #104476
@rustbot claim

[2022-11-26 23:17] calebcartwright commented on #104962
Thanks for the heads up @jyn514. rustfmt will be in the same boat it sounds like clippy is in, in that we do not want such changes for rustfmt being made in-tree. Will incorporate such in the docs accordingly

[2022-11-27 00:14] mibmo commented on #91345
I definitely second emulating the tap crate's behavior, favoring @ibraheemdev's approach. Having a `_matches` variant could be super convenient, especially with both mutable (`tap`) and immutable (`inspect`) variants.

[2022-11-27 00:58] #104930 closed

[2022-11-27 01:27] estebank commented on #104870
Every time I think "surely this `unwrap` will be fine", it bites me in the read as sure as the sun coming up.

[2022-11-27 01:44] JakobDegen commented on #104736
The way this ICE comes about is quite subtle and more complicated than I want to explain in this message (if you'd like to know, feel free to ping me on Zulip). The tldr is that there are two ways to fix this as far as I can tell:

 1. Disable the liveness check in the MIR validator. That check already has a comment:
[code]
    That is what's going on here. However, I don't actually *want* to remo

[2022-11-27 01:51] JakobDegen commented on #104736
Worth noting also that I have no idea why this started to ICE as a result of Patrick's PR (maybe an extra MIR validation call for some reason?). In any case, the MIR building behavior does not seem to be a regression. It's been this way since at least 5c8bff74bc1c52bef0c79f3689bb227f51f3e82d .

Unassigning myself because I have no time to dig into this

[2022-11-27 01:56] JakobDegen commented on #104736
I think I have enough context here to be able to

@rustbot label +E-mentor +E-hard

[2022-11-27 02:29] JakobDegen commented on #104870
Are we fixing `#![feature(no_core)]` ICEs? Not so sure we should bother...

[2022-11-27 02:39] compiler-errors commented on #104870
@JakobDegen: This one was particularly easy to fix (#104956) and probably shouldn't've have been an `unwrap` in the first place (unwraps in diagnostics code are generally a code smell, since they should fail gracefully in strange situations) -- but I generally agree, had this fix required some large refactoring or implemented extra checks on a performance-sensitive path, then I think this should'v

[2022-11-27 02:55] zhang-ray opened #104966 "pattern binding `****` is named the same as one of the variants of the type SHOULD BE ERROR"
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=df522ed9839ada9d5c66830e8de12f7c

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-11-27 03:07] brandonros commented on #102211
I *think* I have the same issue and it has to do with `#[async_recursion::async_recursion]` from https://docs.rs/async-recursion/latest/async_recursion/

[2022-11-27 03:36] brandonros commented on #102211
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b247265803ef4fbc2223a4ddcec31432

I think I was able to recreate it?

[2022-11-27 04:53] chenyukang commented on #104961
@rustbot claim

[2022-11-27 07:12] #82678 closed

[2022-11-27 07:21] workingjubilee commented on #104966
This is technically valid code due to Rust's existing rules. Issuing a true "hard error" is dubious, because it would be arbitrarily blocking some identifiers from shadowing others in the grammar, which is inconsistent with other rules regarding shadowing: namely, that it is permitted in Rust.

However, the relevant lint will already be upgraded to deny-by-default as of https://github.com/rust-lan

[2022-11-27 08:05] zhang-ray commented on #103442
I got the same problem recently (https://github.com/rust-lang/rust/issues/104966) ... :)  I totally agree with this proposal!

[2022-11-27 08:13] zhang-ray commented on #104966
Hello Jubilee, thank you for your information. But I thought it should be raised to HUGE warning at least. This "feature" of rust is much inconstant with C/C++/Golang rule which would make lots of trouble by programmers from C/C++/Golang...  ^_^

[2022-11-27 08:19] RalfJung commented on #81163
`read` currently calls the intrinsic directly

https://github.com/rust-lang/rust/blob/5fa44b54641cac7dc47964870d08b4ec82fc8157/library/core/src/ptr/mod.rs#L1116-L1121

Is there anything left to do in this issue?

[2022-11-27 08:24] RalfJung commented on #81163
For now, considering this fixed by https://github.com/rust-lang/rust/pull/87827.

[2022-11-27 08:24] #81163 closed

[2022-11-27 08:36] gh2o commented on #82171
I'm having a similar issue here: I can't seem to force the returned `impl Animal` type to be `'static` no matter what I do. Unfortunately, the workaround above doesn't work either because I am unable to name the lifetimes contained in the `FnOnce` closure.

[code]

[2022-11-27 08:37] RalfJung commented on #104962
To be clear, for Miri the policy is that if feature changes *can* be done purely in the Miri repo, that is generally preferred. It is just fairly common that feature changes span both repos and then doing them in the rustc repo is the only option.

https://github.com/rust-lang/rust/pull/103660 was such a change that spanned rustc_driver and Miri. I guess this one could have been split in two since

[2022-11-27 08:44] matklad commented on #104962
cc @Veykril

[2022-11-27 08:55] RalfJung commented on #104962
So, I am honestly not entirely sure what to write where here. Our README is for Miri users, not contributors. We have a CONTRIBUTING guide but that is already almost entirely focused on working with out-of-tree Miri; I will clarify the role of the in-tree copy in https://github.com/rust-lang/miri/pull/2698. The ping message seems fine, it will summon a Miri person into the PR who will take a look

[2022-11-27 09:43] workingjubilee commented on #104966
Hmm. There are many such footguns if you're expecting a 1:1 match of syntax and semantics with another language, unfortunately, as e.g. this is valid Rust:
[code]

This is invalid C++:
[code]

Obviously, we intend to deny the specific case you mention, but it **did** emit 11 warnings (4 unique)... if the compiler emits 100 warnings, it's *technically valid* Rust, but that doesn't mean the compiler

[2022-11-27 10:09] workingjubilee commented on #104723
In that case I suppose the advisory of note is to suggest people try to actively **not** use Rosetta when compiling rustc.

[2022-11-27 10:34] HintringerFabian commented on #104949
@rustbot claim

[2022-11-27 10:36] Nilstrieb commented on #104966
The lint will get turned into deny-by-default (error but you can `allow` it if you want), which qualifies as a huge warning for me :)

[2022-11-27 10:44] vincenzopalazzo commented on #102211
This looks promising @brandonros! I will give it a shot and also try to reproduce inside https://github.com/vincenzopalazzo/rio/pull/13

Looks like that when the runtiime try to span the following task there is an error like the one reported from you

[code]

In particulat I play a little bit with it and I found the following example to reproduce the error

[code]

[2022-11-27 11:00] vincenzopalazzo commented on #102211
@rustbot label -AsyncAwait-Triaged -A-async-await

our [penguing](https://github.com/vincenzopalazzo/penguin) triage bot it is not smart enough to reassign this in the next triage meeting so I need to do this trick!

[2022-11-27 11:00] est31 commented on #103442
@scottmcm you're welcome :). It's interesting that I was the first person to point that out after your comment: many people have probably seen it, and seen the warning output in the comment posted by @aDotInTheVoid where `bindings_with_variant_name` was included, but didn't make the "wait a moment, isn't the first warning in this comment precisely what @scottmcm wants" thought. It seems that the "