[2022-02-02 12:37] #92563 closed

[2022-02-02 13:06] jvdwrf opened #93583 "Automatic type coercion fails when implementing a trait for multiple types."
If I define the following trait, with a single implementation for `fn(u32)`, then this code compiles just fine.
[code]

However when uncommenting the last block, the following error is returned:
[code]

My interpretation is that the closure/fn_ptr gets coerced automatically if there is a single Trait implementation to choose from. However once more than on Trait implementation is available, automa

[2022-02-02 13:28] dlrobertson commented on #44930
Did a bit of work on this and `x86_64-unknown-uefi` emits the correct LLVM now, but I've realized we hit issues with specific cases for `extern "efiapi"`. We currently emit one `VaListImpl` as a language item in `library/core/ffi.rs` based on the OS and architecture. This causes issues for the following example:

[code]

If you compile with `rustc --target=x86_64-unknown-linux-gnu --crate-type=lib

[2022-02-02 13:41] bnavetta opened #93584 "ICE with incremental compilation in async code"
I couldn't figure out how to minimize the code itself, but the exact same crate compiles successfully with incremental compilation disabled (by setting `CARGO_INCREMENTAL=0`) and fails with incremental compilation enabled. Running `cargo clean` also gets incremental compilation working again

### Code

This looked like the function originally identified in the stack trace:

[code]

### Meta

`rust

[2022-02-02 14:26] dlon opened #93586 "`Path::strip_prefix` may panic when a path consists only of a prefix component"
This code panics on Windows:

[code]

According to the documentation for `strip_prefix`, it should either succeed or return `Err(StripPrefixError)`. Instead, it panics due to an out-of-range index:

[code]

### Meta

`rustc --version --verbose`:
[code]

The bug is also present in nightly.

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-02-02 15:11] weiznich opened #93588 "ICE with rustdoc json backend"
### Code

https://github.com/diesel-rs/diesel/commit/41404e6344cfce91234cbfdc6513a8634abee59a using the following command:
[code]
produces a internal compiler error inside of rustdoc

### Meta

`rustdoc +nightly --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-02 15:11] ChrisDenton commented on #93586
I can confirm this. The problem originates in `Components`. A minimal example:

[code]

[2022-02-02 15:12] weiznich commented on #89097
@CraftSpider I've submitted a new issue (https://github.com/rust-lang/rust/issues/93588) as this requires slightly different instructions.

[2022-02-02 15:23] ehuss commented on #93579
Thanks for the report!  PR #92310 is open to fix this.

[2022-02-02 15:24] Samzyre commented on #93282
It looks like I'm still getting this error with
`rustc 1.60.0-nightly (2681f253b 2022-02-01)`
`rustfmt 1.4.38-nightly (2681f253 2022-02-01)`

(Coming from https://github.com/rust-lang/rustfmt/issues/5208 that was closed due to this one)

Playground seems to produce it also:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=28266fbea1b847f180f6e3adbc99e4f4

[2022-02-02 15:54] peckpeck commented on #44762
I could use some help in my exploration, I'm pretty sure there are some side effect to the calls of `probe_for_name` and `confirm_method` but i can't find which ones.

[2022-02-02 15:54] compiler-errors commented on #93282
I'll take another look then.

[2022-02-02 16:20] jyn514 commented on #92163
This issue is milestoned 1.59, but I've also been running into this crash on 1.58.1 stable.

[2022-02-02 16:34] Silur opened #93591 "Unstable fingerprint after incremental recompilation"
Recompiling (incrementally) openethereum after some modifications results in the error below:

[code]

rustc 1.58.1 (db9d1b20b 2022-01-20) running on x86_64-unknown-linux-gnu

compiler flags: -C opt-level=3 -C embed-bitcode=no -C debuginfo=2 -C debug-assertions=on -C incremental

query stack during panic:
[code]

## Steps to reproduce
[code]

[2022-02-02 16:35] zhiburt commented on #93366
Hey @Aaron1011 as I've mentioned.
After I run `cargo clean` I can't reproduce it.

But I guess if you think that it's addressed the issue can be closed?

[2022-02-02 17:29] mitsuhiko commented on #29635
I have a use case for `#[fundamental]` that I don't think there is much of an alternative around. I'm basically providing a wrapper type `Slot<T>`. Users of the API would like to implement `impl MyTrait for Slot<TheirType>`. The only way with the orphan rules is to the best of my knowledge this `#[fundamental]` attribute.

[2022-02-02 17:30] jyn514 commented on #60345
Should be fixed by https://github.com/rust-lang/rust/pull/93563.

[2022-02-02 17:39] Kixunil commented on #80908
Converting in the other direction could be useful too as well as between `MaybeUninit<[MaybeUninit<T>; N]>` and the rest.

[2022-02-02 17:59] mitsuhiko commented on #29635
The challenge with the approach that `miniserde` does is that these types are not compatible. `miniserde` gets around this by using `Option<T>` as compatible public API and unsafely transmuting between `&mut Option<T>` and `&mut PlaceType<T>`. I'm in quite a similar situation and having one shared slot type is obviously preferrable as it could be used in public APIs consistently.

[2022-02-02 18:02] TennyZhuang commented on #91789
I definitely agree that `OsString::try_reserve` is very easy to be used incorrectly, but I think the problem already exists due to the `with_capacity` API. Users may also got wrong results while they use with_capacity from another type’s len().

[2022-02-02 18:22] Aaron1011 commented on #93584
This is fixed in the latest nightly by https://github.com/rust-lang/rust/pull/92533

[2022-02-02 18:22] #93584 closed

[2022-02-02 18:36] compiler-errors commented on #93282
Yeah, this continues to ICE even in rustc. Fixed in another PR.

[code]

[2022-02-02 18:39] willcrichton commented on #88791
After a lot of discussion on Zulip and some implementation work, most of the remaining issues are being addressed in these PRs:

* #93217
* #93497
* rust-lang/cargo#10343

[2022-02-02 19:20] CraftSpider commented on #93588
This looks like a duplicate of #83720, and as such should be fixed by #93518

[2022-02-02 19:26] ijackson opened #93596 "Suggest reborrowing unsized value when borrowed trait object wanted"
Given the following code:

[code]

The current output is:

[code]

Ideally the output would suggest borrowing, since this:
[code]
compiles and works just fine.

The problem is that you can't make an object which is a wide pointer directly into a trait object refernce, because it would have to be a triple-sized pointer.  But often, you can just reborrow instead.

[2022-02-02 19:28] ijackson commented on #93596
@rustbot modify labels +A-suggestion-diagnostics +A-traits

[2022-02-02 19:28] ijackson commented on #93596
@rustbot modify labels +C-enhancement

[2022-02-02 19:33] dtolnay commented on #91789
I agree that `with_capacity` also needs to be better explained. That function is from 2016 when our standards were lower. :wink:

[2022-02-02 19:42] #93484 closed

[2022-02-02 19:45] AZMCode opened #93598 "Document canonicalization in `std::env::current_dir`"
As of now, the stable and nightly documentation on `std::env::current_dir` only states

And proceeds to note a couple of errors the function may fail with.
This does not mention the fact that (as far as I am aware, testing on Linux) the path is also canonicalized, having resolved all symlinks in any segment of the path. I'd imagine not documenting this behavior could lead to confusion and/or bugs,

[2022-02-02 19:45] bstrie commented on #90957
# Request for Stabilization

A proposal that the `naked_functions` feature be stabilized for Rust 1.60, to be released 2022-04-07. A stabilization PR can be found at https://github.com/rust-lang/rust/pull/93587 .

## Summary

Adds a new attribute, `#[naked]`, which may be applied to functions. When applied to a function, the compiler will not emit a [function prologue](https://en.wikipedia.org/wik

[2022-02-02 19:53] TheBlueMatt opened #93599 "`multiple applicable items in scope` on nightly but not stable"
The following seems to have regressed maybe yesterday or the day before on nightly, but builds on stable. It is real code, sorry its not 100% minimal :)

[code]

Error running this on playground for feb 1's nightly:

[code]

[2022-02-02 20:14] bstrie commented on #32408
I have submitted a stabilization proposal for the `naked_functions` feature in the tracking issue for RFC 2972: https://github.com/rust-lang/rust/issues/90957#issuecomment-1028297041 . I suggest that we continue further discussion in that thread. Since there has been some confusion regarding the relationship between RFC 1201 and RFC 2972, allow me to clarify: RFC 2972 supersedes RFC 1201 by defini

[2022-02-02 20:17] bjorn3 commented on #90957
There is no observable difference between LLVM adding an epilogue and a following unnamed function starting with instructions identical to a regular epilogue.

[2022-02-02 20:32] last-partizan commented on #93454
I managed to build and test it, and it is working as expected. Thanks for help!

But, junit reporter is still can be used in very limited cases: only when there is one type of tests, becouse, when there is unit/integration and doctests, every category (and every file in tests/) produces new xml. And with current architecture i don't see a way to fix this.

Luckily, using `json` formatter with `car

[2022-02-02 20:36] bstrie commented on #90957
@bjorn3 I believe it can cause problems in circumstances such as https://github.com/rust-lang/rust/issues/32408#issuecomment-898815309 . If someone were to work around that issue by assuming the existence of extra instructions and manually accounting for it, then their code would be broken if Rust ever stopped generating those instructions. This is the sort of edge case that the cautious language

[2022-02-02 20:45] roblabla commented on #90957
I believe it's possible to observe a difference when `naked` is coupled with `#[link_section]`. You could apply that attributed to a naked function to put it in a well-known section that you expect to only contain your function.

[2022-02-02 20:52] joshtriplett commented on #90957
:+1: for stabilizing, though I'd like to make sure that there's consensus on https://github.com/rust-lang/rust/issues/32408#issuecomment-1016931998 .

[2022-02-02 20:55] joshtriplett commented on #90957
Shall we stabilize constrained naked functions?

@rfcbot merge

[2022-02-02 20:58] Amanieu commented on #90957
I'd like to have a whitelist of attributes that are allowed to be applies to a naked function. In the future we may want to lower naked functions directly to LLVM module-level assembly instead of using LLVM's native naked function support. For that to happen rustc needs to be able to manually translate any attributes (e.g. `#[link_section]`) to the corresponding asm directive.

[2022-02-02 21:07] klensy commented on #43326
Bound check still here https://rust.godbolt.org/z/q17rq86qK rustc 1.60.0-nightly (08df8b81d 2022-01-30)

[2022-02-02 21:09] nagisa opened #93601 "The help message when an invalid calling convention is specified is getting a little unwieldy"
After #93561 misspelling a calling convention will output the following note:

[code]

This is getting pretty hard to read!

There are a couple of improvements we could make:

1. Invoke Levenshtein magic and only suggest some calling conventions that are close, if any (covers mis-spellings);
    * This could be a `MachineApplicable::MaybeIncorrect` rustfix!
2. Suggest at most a couple of the most

[2022-02-02 21:33] CAD97 opened #93602 "Load-bearing comment Incremental ICE"
This is as minimized as I could get:

### Code

[code]

- `cargo build`
- Delete the comment on line 1 OR both lines 7 and 16
- `cargo build`
- ICE

### Meta

This is _not happening on nightly_. But load bearing comments is scary enough I wanted to report this anyway.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[2022-02-02 21:57] Aaron1011 commented on #93591
Which files should I edit before rebuilding?

[2022-02-02 22:03] #93093 closed

[2022-02-02 22:03] #93401 closed

[2022-02-02 22:03] #93486 closed

[2022-02-02 22:03] #93567 closed

[2022-02-02 22:12] CAD97 commented on #93602
If I had to guess, https://github.com/rust-lang/rust/pull/93066 seems _very_ relevant as what could've fixed this.

the blamed line:

https://github.com/rust-lang/rust/blob/0426998f5fc4b95dfec57853bf4bd3cf82feb4bf/compiler/rustc_query_impl/src/on_disk_cache.rs#L726

<details><summary>Context</summary>

https://github.com/rust-lang/rust/blob/0426998f5fc4b95dfec57853bf4bd3cf82feb4bf/compiler/rustc_q

[2022-02-02 22:44] nnethercote commented on #93602
I can't see how #93066 would affect this. The only likely behavioural changes that PR would cause is that if problems occurred with metadata decoding (e.g. corrupted metadata) then rustc would panic a bit earlier than it did previously.

@Aaron1011 You've been looking a lot at incremental issues lately, any ideas about this one?

[2022-02-02 22:47] safinaskar commented on #64245
My host is x86_64-unknown-linux-gnu. I'm building for x86_64-unknown-linux-musl. Resulting binaries can be run on this host without any problems. But `cargo test --target=x86_64-unknown-linux-musl -Zdoctest-xcompile` simply compiles test instead of running them. Moreover, this command doesn't even warn that doctests was merely compiled instead of run! I want tests to run. And I don't want some kin

[2022-02-02 23:07] ehuss commented on #64245
@safinaskar Can you provide some more information?  The tests appear to be run for me with cross compiling to `x86_64-unknown-linux-musl`:

[code]

As for warnings, there is a warning displayed when the verbose flag:

[code]

The reason it is only displayed with `-v` is that otherwise it would be displayed 100% of the time when cross-compiling, and there is no workaround other than using nightly.

[2022-02-02 23:12] kornelski commented on #70530
I've just had a use-case for something like this, but I needed to drain and filter a specific **range** of key (remove certain values that are after a given key in the btreemap). `drain` on `Vec` takes a range. Maybe this one could too?

[2022-02-02 23:47] JakobDegen commented on #92327
@rustbot claim

[2022-02-03 00:40] nxcco commented on #22340
Isn't the compiler capable of detecting that the argument outlives the closure?
Example:
[code]

[2022-02-03 01:01] yaahc commented on #93454
That's unfortunate. Does the `json` output that goes into `cargo2junit` have the same issue where it is outputting multiple smaller bits of json that the cargo subcommand then has to combine and translate into junit. If so I imagine the solution for `cargo-test` would look pretty similar except the input would be junit.

[2022-02-03 01:06] Aaron1011 commented on #93602
I don't think this is caused by the comment itself, but by the change in line numbers triggered by adding/removing lines.

[2022-02-03 02:12] CAD97 commented on #93602
It does seem to be due to span data changing, but it's interesting in how inconsistent it is; changes in some places are fine, and some aren't.

(And if you're keeping it rustfmtd, it translates to load bearing comments keeping it from reformatting into an ICE.)

In any case, this has been incidentally fixed (suppressed?) by changes between beta and nightly, so I don't know how much investigation

[2022-02-03 02:54] That3Percent opened #93607 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs:18:85"
Note:
This may have something to do with incremental compilation. I had just moved a struct to another file, and some code which should not have passed cargo check because it referenced that struct by the old path still compiled. Only after I saved the file referencing the invalid path with the fixed path did the panic occur.

### Code

This commit: [https://github.com/graphprotocol/stable-hash/co

[2022-02-03 03:38] gregbuchholz commented on #91628
Running [cargo-bisect-rustc](https://github.com/rust-lang/cargo-bisect-rustc) results in the following regression report for this issue:

[code]
</details>
[code]

[2022-02-03 03:58] jackh726 commented on #68324
I'm going to go ahead and close this. I've tried following the repro instructions, but the linked repo is archived and doesn't build (I tried a few things too). If someone else is able to reproduce and confirm the perf problem is still happening, feel free to reopen or open a new issue.

[2022-02-03 03:58] #68324 closed

[2022-02-03 04:09] jackh726 commented on #71416
Given that this feature has been removed from core/alloc and is unstable, I'm going to downgrade this to P-medium. This should obviously block stabilization of `unsized_locals`, but doesn't need special attention outside of that.

[2022-02-03 04:47] jackh726 commented on #66805
I made two changes: 1) Adding ` #[derive(Copy, Clone)]` on `Sender` 2) Changing `func` to return `Result<(), ()>` With those, this compiles.

Removing priority label.

[2022-02-03 04:54] jackh726 commented on #75791
Closing as a duplicate of #71723

[2022-02-03 04:54] #75791 closed

[2022-02-03 04:56] jackh726 commented on #76247
Changing labels to remove priority and adding E-needs-test

[2022-02-03 04:59] jackh726 commented on #78893
This compiles now, marking as needs-test

[2022-02-03 05:09] jackh726 commented on #81211
This is fixed on current nightly. Removing priority and marking as E-needs-test.

[2022-02-03 05:46] hkratz commented on #93598
For UNIX Rust just calls `getcwd()` and that behavior is documented in the [POSIX spec](https://pubs.opengroup.org/onlinepubs/9699919799/functions/getcwd.html), so it will be the same on all conforming implementations. We should document which platform-specific function we call here just like we do with other filesystem functions (e.g. [here](https://doc.rust-lang.org/std/fs/fn.remove_dir.html#pla

[2022-02-03 07:12] last-partizan commented on #93454
`json` output does not have this issue, becouse it does not have "header" and "footer", it just prints single events line by line as json, like this:

[code]

And then, `cargo2json` converts it into actual junit/xml based on those events.

I think, yes, in theory we can let `cargo-test` command take those parts of xml and combine it into actual xml, but i think this is bad idea, becouse that would

[2022-02-03 07:19] inquisitivecrystal commented on #93401
I feel *very* embarrassed. I figured that it wouldn't work, because generally cargo explodes whenever I try to use it on the compiler. I take it would actually work though?

[2022-02-03 07:59] MarkDDR opened #93609 "Mention `in`'s use for visibility paths, aka `pub(in path)`, in the keyword docs"
The [std lib keyword docs for the keyword `in`](https://doc.rust-lang.org/std/keyword.in.html) only mentions `in`'s use with `for` loops, but that keyword has one other use that I am aware of, specifying a visibility path for an item, `pub(in path)`. This should be documented there as well.

[2022-02-03 08:14] chordtoll commented on #92615
After investigating, it looks like this functionality might not be possible without significant changes- the above errors occur in the parse stage, before we have the information needed to decide if other functions exist, or if the user did in fact make the mistake of trying to directly run a snippet.

[2022-02-03 08:15] chordtoll commented on #92615
I'm going to release this ticket so a contributor with more experience in the parser can hopefully give it a look

[2022-02-03 08:16] chordtoll commented on #92615
@rustbot release-assignment

[2022-02-03 08:21] chrysn commented on #78893
This has compiled all the way since 1.49, which is the problem: it should not have, the regression is that builds started to work. (AIU there is work going on to make requirements propagate implicitly, but these should still be behind a feature gate and were not part of release announcements that'd make people with MSRV requirements aware of them).

[2022-02-03 08:37] comex commented on #90957
Why, because of the epilogue issue?  Personally I would much rather see that fixed on LLVM’s end, rather than going to great lengths to work around it in rustc.  Or is there another reason?

[2022-02-03 08:40] bjorn3 commented on #90957
Lowering to `global_asm!` would allow all codegen backends to share the same naked function handling. Also codegen backends without native inline assembly support (like cg_clif) will have to lower to `global_asm!` even if no code is shared between codegen backends, so it will need this same restriction.

[2022-02-03 08:58] JakobDegen commented on #92327
Some thoughts: This code

[code]

actually generates pretty bad assembly at the moment. The loop is completely unrolled, and there is a branch between every two memory accesses; this prevents different writes from being aggregated into a single larger write, and so the hot path does 32 branches and 32 memory writes. Ideally, we'd get codegen that just emits one branch and four writes on the hot pa

[2022-02-03 09:06] JakobDegen commented on #92327
(I'm actually going to remove my assignment since I realize I don't have an actual plan here, but I am still interested in working on this if there is an implementation path forward)

[2022-02-03 09:21] paolobarbolini commented on #92327
For these very simple cases a clippy lint might make more sense. At least as an outsider who knows little about this stuff I see clippy as a way of writing MIR optimizations that are allowed to be incorrect because the programmer is able to see what's happening and can decide not to "apply the optimization".

[2022-02-03 09:29] derekdreery opened #93610 "Tracking Issue for `arc_unwrap_or_clone`"
Feature gate: `#![feature(arc_unwrap_or_clone)]`

This is a tracking issue for `arc_unwrap_or_clone`. This feature adds methods to `Rc`/`Arc` to gain access to the contained value, by unwrapping if there is exactly one reference, or cloning otherwise. It is equivalent to cloning the inner value, but saves the clone operation if the caller has the only reference to the rc'd value.

### Public API

[2022-02-03 09:33] drahnr opened #93611 "mutually exclusive match arms with `if` cases are not recognized to be covering"
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b70f6933b22baa139e9ad679a7559935

I expected to see this happen: Compilation without an error

Instead, this happened: Rustc wants a catch-all for `Foo::A(_)`, which is not required since the other match arms are covering.

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-02-03 09:44] m-ou-se commented on #87096
Looks like rfcbot is sleeping (:

---

:robot: :mega:

The final comment period, with a disposition to **merge**, as per the [review above](https://github.com/rust-lang/rust/issues/87096#issuecomment-950842917), is now **complete**.

As the temporary human substitute for the temporarily unavailable automated representative of the governance process, I would like to thank the author for their work

[2022-02-03 10:15] scottmcm commented on #87096
rfcbot commented earlier (https://github.com/rust-lang/rust/issues/87096#issuecomment-1003620806), so I guess it got confused by the concern+resolve after the FCP had "completed".

[2022-02-03 10:32] leonardo-m commented on #93611
I think that currently rustc bails totally out of the analysis when there's an if among the branches. This is simplistic but it's also easy for the programmer to remember and understand. If we start adding special cases like this one, the programmer has more to remember. This is a cost.

How much frequent are cases like this where there are two branches with opposite tests? I think they are suffic

[2022-02-03 10:38] apiraino commented on #93553
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393553.20Associated.20const.20with.20supertrait.20associated.20type.20.28na.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-02-03 10:47] apiraino commented on #93476
Assigning same priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393476.20rustdoc.20ICE.3A.20'no.20entry.20found.20for.20key') of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-02-03 10:48] apiraino commented on #93450
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393450.20Error.20output.20regression.3A.20spurious.20integer.20inference.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-02-03 10:51] apiraino commented on #93164
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393164.20rust.201.2E57.2E0.20regressed.20DWARF.20for.20trait.20objects) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-02-03 10:51] drahnr commented on #93611
What kind of data would you expect? Depending on the implementer, this could be circumvented in various ways. Technically the second match arm could just drop the `if`, but for clarity it's better to be explicit.

[2022-02-03 10:55] apiraino commented on #92897
Nominating for stable backport as per [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392897.20riscv32i.3A.20.60__atomic_load_4.60.20is.20referenced.20in.20libcomp.E2.80.A6)

@rustbot label +stable-nominated

[2022-02-03 12:07] #85574 closed

[2022-02-03 12:18] aixtools opened #93618 "AIX: `unknown OS type: AIX` for ./configure"
I want to `pip install cryptography`, but that says:
[code]

Something simple such as isn't working (I think this is a different `rust`:
[code]

So, after downloading the rust(-lang)-1.58.1 sources:
[code]

This is really REALLY sour - can't install something because a new PIP requires rust, but rust is not even recognizing the platform.

Good-bye ansible.

I know `rust-lang` is not the owner of p

[2022-02-03 12:46] rust-highfive opened #93619 "`miri` no longer builds after rust-lang/rust#93146"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#93146, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @workingjubilee, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-02-03 12:51] apiraino commented on #90436
Seems this issue stills needs some feedback from the author, so I'll label as such

@rustbot label +s-waiting-on-author

[2022-02-03 12:52] michaelwoerister commented on #63713
@hameerabbasi, I'd like to see some progress with this. I can't spend a huge amount of time on it -- but if that's not a problem, I'd be happy to do the mentoring.

[2022-02-03 13:13] h4cnull opened #93620 "Arc::try_unwrap(data).unwrap()"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-03 13:23] jackh726 commented on #78893
Ah, I missed that. Relabeled accordingly.

[2022-02-03 13:44] xldenis opened #93622 "ICE when passing unsized trait object closure to function"
Playing around with `unsized_fn_params`, @jhjourdan and I encountered an ICE caused by `move` closures. Removing the marked `move` allows the code to compile successfully.

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3c18d831e2b7798bbedb4ab383057c25)
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summar

[2022-02-03 13:48] xldenis commented on #93622
The following code also gives the same error but at a different location in the code:

[code]

[2022-02-03 13:49] hameerabbasi commented on #63713
@michaelwoerister If you could post a summary of what to do and what files to touch that'd be great!

[2022-02-03 14:05] h4cnull commented on #93620
update rust

[2022-02-03 14:05] #93620 closed

[2022-02-03 14:07] apiraino commented on #89295
@jakobrs checkin in for this issue. Did you have a chance to test against the latest 1.58.x stable?
@nazar-pc your CI seems not to break anymore on this issue, am I understanding this correctly?

Apologies for the long silence and thanks to both for a feedback!

@rustbot label +s-waiting-on-author

[2022-02-03 14:12] bstrie commented on #90957
@comex In addition to the epilogue issue, it seems the inlining issue could also be resolved by lowering to `global_asm!`.

@Amanieu I'd be interested in seeing such a list. Obviously part of the appeal of naked functions is that they can be treated just like a normal function in most cases, which includes the ability to be marked with attributes (e.g. `#[doc]`), so I'm curious how restrictive thi

[2022-02-03 14:15] clarfonthey commented on #67792
Here's a silly idea: we have precedent from RFC 2316 that methods marked unsafe can omit their unsafe markers to become safe upon usage; couldn't we just go along with this and mark default methods as const, while still allowing implementations to mark them as non-const?

It feels like an abuse of notation, but it would remove the need for an attribute.

[2022-02-03 14:17] nazar-pc commented on #89295
Yes, a lot of things has changed since September though.

[2022-02-03 14:22] roblabla commented on #90957
Most attributes that work with arbitrary functions should work with naked functions IMO. Taking the list [here](https://doc.rust-lang.org/reference/attributes.html), those make sense to use with naked fns:

- Conditional compilation: `cfg`, `cfg_attr`
- Diagnostics: `allow` and company, `deprecated`
- ABI...: `link_section`, `export_name`, `no_mangle`, `used`
- Documentation: `doc`

The only ones

[2022-02-03 14:22] michaelwoerister commented on #63713
OK, I'll try to do that some time next week.

[2022-02-03 14:32] tarcieri commented on #28179
@bstrie there's a tracking issue for all attributes with unsafe behaviors here, which also tracks adding lints for them: https://github.com/rust-lang/rust/issues/82499

[2022-02-03 14:37] Pzixel opened #93623 "Enhance compiler error for constraining builtin traits"
Given the following code:

[code]

It gives a nice error:

[code]

OTOH it doesn't work for say `Copy`:

[code]

which gives a somewhat unhelpful message:

[code]

  It would make sense to have this suggestion appearing here as well, e.g.

[code]

[2022-02-03 15:06] jakobrs commented on #89295
I ran `cargo build` on the unzipped archive and did *not* get an error, but it decided to recompile everything, so I'm not sure if this actually means anything.

I have no idea if it is possible to reliably get the build directory into this state where `cargo build` causes an ICE.

[2022-02-03 15:14] WaffleLapkin commented on #93623
@rustbot label +A-diagnostics +A-suggestion-diagnostics +C-enhancement

[2022-02-03 15:15] ehuss commented on #93599
This changed as part of #93090 which added a Display impl.  This kind of breakage is often considered OK (https://std-dev-guide.rust-lang.org/code-considerations/breaking-changes/new-trait-impls.html), though a crater run may change that decision if sufficiently large number of crates are affected.  It doesn't look like one was done, though there will be one done in about 4 weeks to check for beta

[2022-02-03 15:30] #93618 closed

[2022-02-03 15:47] safinaskar commented on #64245
@ehuss

I am unable to reproduce. I. e. now everything works. It seems there was no problem in the first place, sorry

[2022-02-03 15:57] pnkfelix commented on #92885
resolved by #93523

[2022-02-03 16:02] nagisa commented on #90793
I would argue that using MathML would be ideal in terms of presentation here. If we wanted to utilize math expressions at scale in our documentations, adding support for (la-)tex-like math to our markdown-html converter would also make some sense.

Sadly neither are easy fixes – MathML isn't super widely supported out-of-the-box and the latter feature is effectively a pandoc exclusive feature AFAI

[2022-02-03 16:10] RagibHasin opened #93624 "LLDB source location resolution failse since nightly 2022-01-28"
LLDB on Windows is unable to resolve breakpoint to any actual locations since nightly 2022-01-28 build which is working fine with the previous nightly.

### Code

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

### Version it worked on

It most recently worked on: Rust nightly-2022-01-27

`rustc --version --verbose`:
[code]

### Version with reg

[2022-02-03 17:07] the8472 commented on #63291
Concern, previously raised in https://github.com/rust-lang/wg-allocators/issues/90:

The number of variations on `new*` and `try_new*` have grown over time (currently 18) and not all of them seem to be worth separate associated methods. Instead maybe a builder or fewer but parameterized methods may be better.

[2022-02-03 17:19] oli-obk commented on #79889
has the llvm fix trickled into our LLVM fork yet?

[2022-02-03 17:20] eholk commented on #78649
Thanks for the suggestions, @danielhenrymantilla!

After thinking about this some more, I think this is going to take some much more significant changes that I'm ready to make right now. I'm going to shelve this issue for now.

@rustbot unassign

[2022-02-03 17:36] mati865 commented on #79889
Yeah, it's part of LLVM 13. The commit: https://github.com/rust-lang/llvm-project/commit/2ccb941740e608a9cf70a7c5840497149654b0f6

[2022-02-03 17:36] Fishrock123 commented on #87335
Regarding the still unresolved questions:

- **Conflicts with if-let-chains**: Are we saying it is let-if-chains' responsibility to figure out any interactions, or is there something more we need to do there?
- **Amount of special cases**: This doesn't seem to have been an issue?
- **Grammar clarity**: @camsteffen Have there been any significant changes in the implementation grammar that should be

[2022-02-03 17:41] cchiw commented on #77443
@rustbot claim

[2022-02-03 17:41] apiraino commented on #92897
Stable backport of https://github.com/rust-lang/compiler-builtins/commit/e0187f17dbcbf9dc026d379b2af8d866300596a5 approved as per compiler team [on Zulip](https://zulip-archive.rust-lang.org/stream/238009-t-compiler/meetings/topic/.5Bweekly.5D.202022-02-03.20.2354818.html#270569915)

@rustbot label +stable-accepted

[2022-02-03 17:48] Gordon01 commented on #93623
Maybe also mention about `.clone()` possibility?

[2022-02-03 17:49] the8472 commented on #93599
Adding trait impls is a minor change per [RFC 1105](https://rust-lang.github.io/rfcs/1105-api-evolution.html#minor-change-implementing-any-non-fundamental-trait).

Robust code can use [partially or fully qualified function call syntax](https://doc.rust-lang.org/reference/expressions/call-expr.html#disambiguating-function-calls) as the error message suggests, but yes, that can be unergonomic.

[cod

[2022-02-03 17:56] fmease commented on #93611
Would you like the compiler to add a note that the overlap analysis is conservative and does not inspect guards? Maybe something like:

[code]

Not sure if that will help (it's only a minor (useless?) change). I refrained from adding anything else like `note: the overlap check is conservative and does not look at guards` or `possibly false; guards may be false in general` since the `rustc` doesn't

[2022-02-03 17:56] BartMassey commented on #75833
@Randall-Coding Run `rustup set profile default` and you should be good, I think?

[2022-02-03 17:56] camsteffen commented on #87335
Not that I know of.

[2022-02-03 17:59] BartMassey commented on #75833
Can we please remove `rustc-docs` from `complete` and remove this user trap for now? I'm all for a better solution, but having just run into this problem myself I'd really like to avoid others doing so until it gets figured out. I was working on `rustc`, which is why I had `complete` set on an old machine. More recently I tried to use that machine to run some benchmarks against nightly…

[2022-02-03 17:59] drahnr commented on #93611
Fair point, feel free to close this

[2022-02-03 18:03] fmease commented on #93611
Although my comment kind of argues against improving the error message, confusing error messages are officially considered bugs in `rustc`, so I am split on this one. I'd like to see it made better but I am not entirely sure how exactly. Maybe someone else has a suggestion.

[2022-02-03 18:07] ehuss commented on #93624
I suspect this is almost certainly from #93081 which includes https://github.com/rust-lang/llvm-project/commit/2abffbf977a9e8c6ca4174a08fe5c4d7781f0aac.  cc @nikic

[2022-02-03 18:20] nikic commented on #93624
That change actually comes from https://github.com/rust-lang/rust/pull/92767, so cc @arlosi.

[2022-02-03 18:38] #92796 closed

[2022-02-03 19:26] josephlr commented on #40180
Should we change the bug references above to point to:
  - https://github.com/llvm/llvm-project/issues/26851
  - https://github.com/llvm/llvm-project/issues/41189
  - https://github.com/llvm/llvm-project/issues/26785

As the LLVM project has moved to GitHub Issues.

[2022-02-03 19:34] est31 commented on #87335
Given the positive voices towards stabilization earlier in the thread, I've filed PR for such: #93628 (Currently a draft as it needs FCP). I've also filed a [PR for the reference](https://github.com/rust-lang/reference/pull/1156).

[2022-02-03 19:47] WaffleLapkin commented on #93623
@rustbot claim

[2022-02-03 20:14] camelid commented on #93401
Actually, I think you're right. cargo-bisect-rustc doesn't usually work on the compiler 🤦

Sorry about that!

[2022-02-03 20:19] Mark-Simulacrum commented on #93401
The underlying principle *should* work though, by specifying rustc = ... in config.toml pointing to a rustup-toolchain-install-master'd binary (and potentially cargo = and/or rustdoc =).

[2022-02-03 20:34] camelid commented on #92656
Perhaps. People may get confused that "data types" don't include type aliases though 🤷

[2022-02-03 20:40] TheBlueMatt commented on #93599
Yep, totally understand the policy and the changes here and the motivation for it. I guess my point is twofold here - (a) it seems the policy here is at least in some substantial way in major conflict with the publicly stated stability guarantees of rustc and (b) it seems the change to stdlib here is very minor and the inherent tension between code-compiling stability and the really minor win of t

[2022-02-03 20:43] estebank commented on #93450
@compiler-errors I'm pretty sure this is caused by this removal:

https://github.com/rust-lang/rust/pull/89427/files#diff-8406bbc0d0b43d84c91b1933305df896ecdba0d1f9269e6744f13d87a2ab268aL1552-L1556

I would rather us not add it in the same place because IIRC I moved it (duplicated) deeper into the logic because otherwise with my other changes we had regressions.

[2022-02-03 20:55] #93579 closed

[2022-02-03 20:55] camelid commented on #93579
PR https://github.com/rust-lang/rust/pull/92310 has been merged.

[2022-02-03 21:21] k06a commented on #71186
@Stargateur any progress on this?

[2022-02-03 22:06] longfellowone opened #93633 "Failed to extract DefId: local_def_id_to_hir_id"
### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[code]

</p>
</details>

[2022-02-03 22:20] GuillaumeGomez commented on #93598
It was also missing for `set_current_dir` so I opened https://github.com/rust-lang/rust/pull/93635 for both.

[2022-02-03 22:30] udik-chudik commented on #82523
@RalfJung unfortunately such approach (std, nice user crates) is not working well in embedded area (no_std). For example I have to process raw buffer as a frame (start seq, length, command, payload, etc) with tight memory and time limits (hello zero-copy). Frame for its nature is not aligned (u8, u16, u8, u32, [u8]). The common approach is to assume that the frame is a packed struct with appropria

[2022-02-03 22:57] programmerjake commented on #67792
that prevents having a trait that requires a particular function to be const:
[code]

[2022-02-03 23:06] joshtriplett commented on #90957
@roblabla I think `cold` makes sense on a naked function. It may affect where the code ends up in the final binary, and what it's placed next to, all of which seems fine.

I think `target_feature` makes a *little* sense, if you want to use it for its semantic of "you shouldn't reference this function outside of an unsafe block or a function with the same target feature", but it'd take some care to

[2022-02-03 23:40] nikomatsakis commented on #90957
@joshtriplett

Can't naked functions declare a return value if they wish? it's just up to the caller to manage the ABI side of things.

[2022-02-03 23:42] nikomatsakis commented on #90957
@rfcbot reviewed

@bstrie thank you for the summary! It answered my main questions.

[2022-02-04 00:05] evgeny-yashin commented on #82523
Indeed, additional struct attribute, which goes along or part of `#[repr(packed)]` would relieve a lot of pains.

Example:
`#[repr(packed, unaligned_access)]`
or
[code]

Shouldn't require an epic amount of work, but of course we leave it to you to evaluate. What do you think, guys?

[2022-02-04 03:12] cormacrelf commented on #87335
For clarity, while the summary of my PR in this issue's header says I "added support for type annotations", they were supported before, the user-facing grammar has not been touched since Cam's work. My PR title was a bit misleading in this regard, should have said "re-implement" or "new desugaring".

[2022-02-04 03:23] petrochenkov commented on #82523
@udik-chudik

The dot field notation still works and produces unaligned reads/writes, you just cannot create references to such fields.

Could you give a specific example of the frame code you are talking about?
In my experience explicit uses of `(read,write)_unaligned` and raw pointers with packed struct fields are very rare, typically those fields are small and `Copy` so you just read and write

[2022-02-04 03:48] Xuanwo commented on #91789
I will start PRs to address the concern that @dtolnay proposed.

- [ ] Add better docs for `OsString::try_reserve` about what the argument value means
- [ ] (Maybe) Polish the docs for `OsString::with_capacity` too ?

[2022-02-04 06:18] arlosi commented on #93624
@RagibHasin what version of LLDB are you using on Windows. I'm unable to get it to work with stable or nightly (hitting "Unable to resolve breakpoint to any actual locations").

[2022-02-04 06:22] mfrw commented on #93609
@rustbot claim

[2022-02-04 06:40] konnorandrews commented on #89143
I helped [@JtotheThree] (https://www.github.com/JtotheThree) on the Rust Discord server with a related setup. Its not exactly the same so I have create a test case for it [here](https://github.com/konnorandrews/testcase-rustc-crate-version-mismatch). However, this setup looks to be closely related to this class of help messages so I have included it here instead of making a new issue.

The contrad

[2022-02-04 08:19] hellow554 commented on #59359
This tracking issue is almost 3 years old.

@LukasKalbertodt any progress on stablization?

[2022-02-04 08:27] cyqsimon commented on #86319
Any progress on this? It's a very useful API when working with files like tarballs.

[2022-02-04 09:15] poliorcetics commented on #93607
Not author but I encountered this twice already when compiling rust-analyzer. Always with incremental compilation, cleaning and rebuilding fixes the problem

[2022-02-04 10:39] AlbertMarashi commented on #87121
I have this code, it does not compile. I am trying to match a `Box<str>` inside of a pattern, but the error is: `expected str, found '&str'` but there's no good way to match `Box<str>` in a deeply nested pattern...

[code]

[2022-02-04 11:23] RagibHasin commented on #93624
@arlosi Regular LLDB bundled with LLVM cannot read Rust debug info, as far as I investigated. I actually faced breakpoint not loading with CodeLLDB first and then upon trying with their bundled LLDB, verified the problem.

[2022-02-04 11:45] m-ou-se commented on #91789
We should probably just update that documentation. We already guarantee any `&str` can be turned into a `&OsStr` through `AsRef`, so there's not much room for doing anything other than representing `str` data exactly as is in an `OsStr`, with the same length. The only space left for 'surprises' is how many units/bytes unmatched UTF-16 surrogate pair halves take on Windows.

[2022-02-04 12:02] qarmin commented on #93607
Looks like duplicate of ~50 other issues - https://github.com/rust-lang/rust/issues?page=1&q=is%3Aissue+is%3Aopen+def_path_hash_to_def_id

[2022-02-04 12:17] kpp commented on #68324
I could not compile it either. Here is what I came up to:

[code]

[code]

I stopped on:

[code]

[2022-02-04 12:28] cormacrelf commented on #87335
Oh, but it is worth surfacing from the implementation work that the changes under the hood have made it very easy to permit type annotations on if-let, bringing them in line with let-else. That is not implemented here and would require a new RFC, but it's very low-hanging fruit.

The HIR for if-let can now represent and type-check type annotations, the only thing missing is support from the parser

[2022-02-04 12:33] chorman0773 commented on #87121
This would be should get solved by deref patterns.

On Fri, Feb 4, 2022 at 05:39 Albert Marashi ***@***.***>
wrote:

[2022-02-04 13:56] kandersonpeng commented on #63291
I suggest that we keep in mind the [Rust Koan about Perfection](https://users.rust-lang.org/t/rust-koans/2408/3), and leave the debate about the number of `new` and `try_new` to the other issue.  Yes I know if it goes in, it's in for *a long time* but I'd rather that than have this in limbo forever.

But on *this* issue, what is stopping it from going to stable?  `MaybeUninit<T>` is already in sta

[2022-02-04 14:07] DutchGhost opened #93646 "Const generic default ICE: The type checker should prevent reading from a never-written local"
Const generic defaults are being stabilized, https://github.com/rust-lang/rust/pull/90207/. But I found an issue that occured earlier in the length expressions of arrays, see https://github.com/rust-lang/rust/issues/72115

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-04 14:11] DutchGhost opened #93647 "Const generic defaults ICE: No bound vars found"
Const generic defaults are being stabilized, https://github.com/rust-lang/rust/pull/90207/.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-04 14:19] kornelski commented on #60896
I think having an `Entry` API would be great. It's non-trivial, but it already exists for `HashMap`, so for me it's a "sunk cost" of learning how to use it. Now I expect it to exist for consistency with `HashMap`, especially that `HashSet` is like `HashMap<K, ()>`.

[2022-02-04 14:27] DutchGhost commented on #93647
Seems to also happen with closures:
[code]

[2022-02-04 14:32] tmiasko opened #93648 "Drop tracking ignores borrows with projections"
For example:

[code]

[code]

The `TryFrom<&PlaceWithHirId<'_>> for TrackedValue` fails for places with projections, so in that case borrow is never recorded:

https://github.com/rust-lang/rust/blob/4c55c8362de32be1530b2441c3e3a51e73edeb21/compiler/rustc_typeck/src/check/generator_interior/drop_ranges.rs#L133-L143

https://github.com/rust-lang/rust/blob/4c55c8362de32be1530b2441c3e3a51e73edeb21/com

[2022-02-04 14:34] peckpeck commented on #44762
Progress information: it is now feature gated with `#![feature(operator_autoref)]`

It works for unary ops and self in binary ops, but any attempt with something invalid may break the compilation or the resulting binary.

next step is the hard part : implementing autoref for the rhs if any

[2022-02-04 14:49] samsalgado opened #93650 "error[E0433]: failed to resolve: use of undeclared type `Connection`"
My code:
`
    {
        let db_connection = Connection::open("data.sqlite").unwrap();

        db_connection
            .execute(
                "create table if not exists todo_list (
                    id integer primary key,
                    item varchar(64) not null
                );",
                rusqlite::NO_PARAMS,
            )
            .unwrap();
    }

`

[2022-02-04 14:50] jethrogb commented on #93367
I had implemented my own collection containing a NonNull field. I then had implemented Send and Sync for collections of specific types. I'm not sure why this would ever be unsound.

[2022-02-04 15:10] Aaron1011 commented on #93607
While this issue is related, it might not be a duplicate

[2022-02-04 15:52] Kixunil commented on #63291
@kandersonpeng agree with methods issues. `RcMut` issue is more concerning because not giving people safe methods could be a recipe for unsoundness. Something like this already happened in past.

Straight up copying `rc_box` crate (with audit) looks like the best approach to me. If folks agree I could take it as a weekend project. An alternative to inclusion would be suggesting the crates in the d

[2022-02-04 16:03] lcnr commented on #93367
@jethrogb your case is fairly interesting and would not actually be impacted by this change. The future compat lint should ideally only triggers in cases where:
- you manually implement `Send` for a specialized type, `List<Certificate>` in this case
- and our intended change to the rules governing auto traits will cause your impl to disable a currently used builtin impl for `Send` for your type.

[2022-02-04 16:26] npmccallum commented on #90957
I'm just adding a note as the author of Constrained Naked Functions that I support this direction and I believe all substantial issues are resolved. After this, we should be in a position to improve functionality incrementally as needed in a well defined way. 👍 🚀 🥳

[2022-02-04 16:36] RalfJung commented on #91237
Sounds great.  :D  So if someone with the required LLVM knowledge could implement the codegen changes for the simd_shr/shl intrinsics, it looks like all involved parties would approve of that change.

[2022-02-04 16:38] AZMCode commented on #93598
Thanks a lot

[2022-02-04 16:58] nikomatsakis commented on #32408
@rfcbot reviewed

I am in favor of NOT doing "extended naked functions" and just doing the constrained version.

[2022-02-04 17:03] RalfJung commented on #93619
I am not quite sure why we have two of these now, this is a duplicate of https://github.com/rust-lang/rust/issues/93355.

[2022-02-04 17:03] #93619 closed

[2022-02-04 17:06] RalfJung commented on #63567
Yes, there are other `assume_init` functions on `MaybeUninit`. They are all just memcpy's, but they are *type-changing* memcpys and that makes all the difference.

[2022-02-04 17:19] Amanieu commented on #36718
I think this is fundamentally unsolvable in the same way that we can't catch linker errors caused by unused inline functions. So I'm going to close this and just say that this is the intended behavior as you suggested.

[2022-02-04 17:19] #36718 closed

[2022-02-04 17:19] Kixunil commented on #75402
Having such cast on pointers rather than references could be useful in situations like in #93653  (although having cast on `Box` is even better in that case).

@RalfJung any good resource explaining why it'd be useful to allow uninitialized references? Anyway, I do like tracking (un)initializedness in type even for documentation value.

[2022-02-04 17:20] Amanieu commented on #80440
Closing as duplicate of #36718.

[2022-02-04 17:20] #80440 closed

[2022-02-04 17:21] RalfJung commented on #82523
read_(un)aligned is in core, and the user crates I mentioned could also be no_std.

Yes, working with unaligned data comes with some syntactic overhead. This is a trade-off -- we get better code generation for almost all code, at the cost of having some niche code be more tricky to write. (But I also second @petrochenkov's question, it is not clear to me why you need *pointers to fields of packed

[2022-02-04 17:25] RalfJung commented on #82523
I don't see how that helps. If you have a `*const FieldType` pointer, there is no way to know if that pointer was created to a field of a packed struct or not -- so no amount of annotations on the struct type will help.

For the cases where the struct type is directly involved (say, `variable.field`), the compiler already does the right thing wrt alignment. The reason you are seeing this error is

[2022-02-04 17:27] Kixunil commented on #63567
To me it's a natural combination of `ptr::read()` and `assume_init`.

[2022-02-04 17:37] RalfJung commented on #75402
For documentation, it is the [*safety* invariant](https://www.ralfj.de/blog/2018/08/22/two-kinds-of-invariants.html) of a type that are most relevant, and those certainly still apply recursively below references.

For the *validity* invariant, see https://github.com/rust-lang/unsafe-code-guidelines/issues/77 for the discussion. Basically, specifying the language becomes a hell of a lot simpler if

[2022-02-04 17:40] #92621 closed

[2022-02-04 17:40] #92829 closed

[2022-02-04 17:40] #93143 closed

[2022-02-04 17:40] #93553 closed

[2022-02-04 18:11] dimpolo commented on #65991
I was playing around with this and discovered that the feature gate (and its incomplete_features warning) can be bypassed using `#![feature(unsize)]` instead.

This will upcast a `&dyn Bar` where `Foo` is a supertrait of `Bar`.
[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0719de3ae8996a57fc01f2afb0354001)

Would this mean the `unsize` feature should

[2022-02-04 18:41] wutchzone opened #93656 "`cargo check` panics"
Hello!

My copy of the rust compiler said that a bug report would be appreciated so here it goes. This panic only happens when I run `cargo check`. For as long as I remember the code compiled fine, I just battled with documenting code so I was running `cargo doc` multiple times. After this I "accidentally" hit `cago c` and it reported me a panic, the `cargo build` runs just fine. I hope this repor

[2022-02-04 19:17] Aaron1011 commented on #93656
This should be fixed in the latest nightly.

[2022-02-04 19:18] Aaron1011 commented on #93633
Can you update to the latest nightly, and see if this re-occurs?

[2022-02-04 19:31] nikic commented on #74632
As far as I can tell, this has been resolved, so closing the issue. Please let me know if this is not the case.

[2022-02-04 20:02] MaskRay commented on #92181
The original issue has been resolved (and will allow ld.lld to remove the workaround after a while) but the state is still not great. The "SHT_INIT_ARRAY' from a special section name does not meet ELF spirits: part of the reason .ctors/.dtors were obsoleted by SHT_INIT_ARRAY/SHT_FINI_ARRAY. GNU as does use special section names like `.init_array.*` `.note*` and llvm-project has to port the behavio

[2022-02-04 20:32] ComputerDruid commented on #82850
I just hit this issue debugging a flaky CI failure in one of my tests. It's very unfortunate that the backtrace is lost in this case. Could libtest be installing a panic hook that bypasses output capturing if the panic is going to lead to an abort?

[2022-02-04 20:38] #93355 closed

[2022-02-04 21:07] compiler-errors commented on #93650
@samsalgado I don't believe this is an issue with rustc. Can you please explain what issue you're trying to report?

[2022-02-04 21:09] samsalgado commented on #93650
The issue is with using .unwrap().

[2022-02-04 21:33] piegamesde opened #93662 "Doctest fail to compile, but there is nothing to test"
When running the doc tests, I get the following error message:

[code]

[Source code](https://github.com/magic-wormhole/magic-wormhole.rs/blob/906b3d8fa46dbccfe51cd5510679b9c1b699d24f/src/core.rs) (not minimized yet). The relevant doc comment looks like this:

[code]

### Meta

`rustc --version --verbose`:
[code]

Some kind soul bisected this onto https://github.com/rust-lang/rust/compare/5e57faa7

[2022-02-04 23:10] cchiw commented on #77443
PRs opened to stabilize the feature

_Documentation PRs_
   - Reference [PR](https://github.com/rust-lang/reference/pull/1157)
   - Examples [PR](https://github.com/rust-lang/rust-by-example/pull/1500)
   - Book skipped due to feedback [issue](https://github.com/rust-lang/book/pull/3038)

_Stabilization PR_
   - Rust Compiler [PR](https://github.com/rust-lang/rust/pull/93658)

[2022-02-04 23:30] nsunderland1 opened #93665 "Confusing diagnostic when using format strings in `const fn`"
Reproduced in the Playground on 1.58.1 stable.

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fe56b4c08a046bd087207e0649379a33

[code]

The current output is:

[code]

`panic` with formatting [isn't](https://blog.rust-lang.org/2021/12/02/Rust-1.57.0.html#panic-in-const-contexts) fully supported in const contexts, but the diagnostic is surprising,

[2022-02-05 00:03] arlosi commented on #93624
So the LLDB included with CodeLLDB has been specially patched to recognize Masm (the previous language identifier) as potentially Rust code. That's what the vanilla LLDB doesn't work before or after, and the CodeLLDB does.

Here's the commit that makes it work in CodeLLDB's LLVM fork: https://github.com/vadimcn/llvm-project/commit/4aba5a4d27585ae8d4c3c94dc33da3aa055bc664

I've submitted a patch to

[2022-02-05 00:39] aDotInTheVoid opened #93667 "rustdoc-json: Inconsistant Enum Representation"
Currently we use 3 different ways to serialse enums to json:

1. For some of the enums, we use [Adjacently tagged](https://serde.rs/enum-representations.html#adjacently-tagged)

https://github.com/rust-lang/rust/blob/71226d717a1fb57122e47e63b97295e703319cb0/src/rustdoc-json-types/lib.rs#L372-L423

Which ends up looking like

[code]

2. For others we use serdes default which is [Externally tagged](

[2022-02-05 00:54] HTG-YT commented on #91611
May I take a go at this?

[2022-02-05 01:39] gregbuchholz commented on #91628
Anyone have thoughts on the most likely patch from that merge to be the regression in question?  [Issue 92555](https://github.com/rust-lang/rust/commit/42313dd29b3edb0ab453a0d43d12876ec7e48ce0) at least mentions threads in the description.

[2022-02-05 02:14] RagibHasin commented on #93624
Thank you very much @arlosi . I actually wasn't sure if it is an issue of Rust itself or LLDB/CodeLLDB. So, decided to raise it here. Hope it resolves soon.

[2022-02-05 02:52] compiler-errors commented on #93647
I got a fix for this one I think.

@rustbot claim

[2022-02-05 03:11] mbhall88 commented on #86319
@cyqsimon it is currently on nightly I believe. Not sure how long it takes to get onto stable though.

As for @schwern's suggestion, I guess that would have to be raised as a separate PR/issue and approved by someone on the libs team.

[2022-02-05 04:32] #90793 closed

[2022-02-05 06:26] JohnTitor commented on #92464
Fixed by #92932, closing.

[2022-02-05 06:26] #92464 closed

[2022-02-05 06:47] Yush08 commented on #47741
Since the RFC has been implemented with edits and futher discussion, request to close this PR?

[2022-02-05 09:02] LukasKalbertodt commented on #59359
@hellow554 Nope, I'm not really involved in this anymore. I am certainly not working on any stabilization attempts. Sorry!

[2022-02-05 09:06] compiler-errors commented on #93646
so this is because we're trying to evaluate an const expression that doesn't typeck. specifically, we _do_ emit a typeck error when checking the const generic, but still proceed with wfcheck on the containing function signature. this wfcheck requires us to evaluate the const generic, which causes the ICE.

@BoxyUwU, this seems like it could be fixed if we attempted something like #86325 again. do

[2022-02-05 09:15] BoxyUwU commented on #93646
I too thought this might be fixed by #86325 when I saw this issue :sweat_smile:  feel free to base a PR off that work though I can't really speak to how "right" the solution in that PR is as i never properly looked into why it was failing.

[2022-02-05 09:28] lcnr commented on #93647
even worse, this compiles on beta but shouldn't
[code]

[2022-02-05 09:35] compiler-errors commented on #93646
cool, thanks for the response! i'll try to hack something this weekend perhaps :eyes:

[2022-02-05 10:29] nikic commented on #47384
There is https://github.com/rust-lang/rust/pull/91504 for adding a `#[used(retain)]` variant of the attribute.

[2022-02-05 10:31] compiler-errors commented on #93622
Minimized:

[code]

[2022-02-05 10:33] compiler-errors commented on #93622
A similar ICE:

[code]
<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-02-05 10:38] tspiteri commented on #89492
This is for unsigned, while I was talking about signed.

[2022-02-05 10:40] compiler-errors commented on #93622
To be fair, `unsized_fn_params` _probably_ should be like `unsized_locals`...

My guess would be a lot of the behaviors that make the latter marked as an incomplete compiler feature also apply to `unsized_fn_params`.. especially considering expressions that move the unsized params..

[2022-02-05 11:17] #87215 closed

[2022-02-05 11:50] apiraino commented on #93647
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393647.20Const.20generic.20defaults.20ICE.3A.20No.20bound.20vars.20found) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-02-05 13:12] GuillaumeGomez commented on #93662
It likely comes from https://github.com/rust-lang/rust/pull/93038.

[2022-02-05 13:31] GuillaumeGomez commented on #93662
I can be reproduced with both code:

[code]

[2022-02-05 14:48] tmiasko opened #93674 "Drop tracking misses variables consumed in let statements"
For example when compiling with nightly-2022-01-22 (which included drop tracking):

[code]

This seems to be a mismatch between `record_consumed_borrow::ExprUseDelegate` which records a consume of `a` but associates it with a let statement `let b = a;`, while `cfg_build::DropRangeVisitor` considers only variables consumed by expressions.

[2022-02-05 15:10] derekdreery commented on #82408
I think it would be good to unify impl blocks universally when the doc comments are identical.

[2022-02-05 15:35] phil-opp commented on #40180
Thanks for the suggestion! I updated/added the references you mentioned.

[2022-02-05 15:42] name1e5s commented on #93586
It seems that the `prefix_len()` in `include_cur_dir` causes the issue, I'll try to fix.

[2022-02-05 15:42] name1e5s commented on #93586
@rustbot claim

[2022-02-05 15:45] lcnr commented on #25860
wrote a blog post summarizing this issue and adding an example why I believe that removing contravariance is not enough to fix this bug.

https://lcnr.de/blog/diving-deep-implied-bounds-and-variance/

[2022-02-05 16:17] devsnek commented on #79813
I have some macros like this:

[code]

The issue is that sometimes `macro` expands to an item and sometimes it expands to an expression, so either i have a semicolon at the end and get `trailing semicolon in macro used in expression position` or i remove the semicolon and get `macros that expand to items must be delimited with braces or followed by a semicolon`.

How this this code be migrated to

[2022-02-05 17:42] camsteffen commented on #50186
I opened a related discussion at https://internals.rust-lang.org/t/pre-rfc-assign-copy-types-to-cell-without-set/16081 - maybe we can enable the assignment operator for `Copy` types, and `update` can just work for `Default` types.

[2022-02-05 18:11] pierwill opened #93676 "Deprecated dependency in tidy's `deps.rs`"
According to crates.io, `cpuid-bool` is deprecated. However, it is listed in the permitted dependencies: https://github.com/rust-lang/rust/blob/498eeb72f590e518e19746b346be53713689e207/src/tools/tidy/src/deps.rs#L96

`cpuid-bool` is being pulled in by two hashing crates:

https://github.com/rust-lang/rust/blob/4c55c8362de32be1530b2441c3e3a51e73edeb21/Cargo.lock#L4713-L4737

Both of these crates no

[2022-02-05 18:39] mitsuhiko commented on #47384
Is there a specific reason that `#[used(retain)]` needs to exist instead of just making `#[used]` behave as if retain was set? Is there ever a reason you wouldn't want to retain it too?

[2022-02-05 18:53] oli-obk commented on #93646
Yea, delay span bugs will just push the problems into more and more obscure situations. We should totally try to find out what was wrong with the last attempt at fixing it.

[2022-02-05 18:55] matu3ba commented on #69684
Quote BurntSushi:

Note, that walkdir, find and nftw do quite some book-keeping, so they dont provide optimal performance.

Such a function would require several options with compilation time cost to be a good solution for all cases and further requires hand-tuning per OS to be optimal (the syscall wrapper cost becomes significant with amount of calls): https://github.com/romkatv/gitstatus/blob/ma

[2022-02-05 19:20] the8472 commented on #69684
Regarding performance, io_uring will gain [getdents support in 5.17](https://git.kernel.dk/cgit/linux-block/commit/?h=for-5.17/io_uring-getdents64&id=b4518682080d3a1cdd6ea45a54ff6772b8b2797a). This could even benefit single-threaded, synchronous code by queuing up requests that will be fulfilled in the background while user code processes the results.

[2022-02-05 19:31] Logarithmus opened #93679 "Where's the tracking issue for `const_fn_trait_bound` stabilization?"
The compilation error leads to "https://github.com/rust-lang/rust/issues/57563", but I don't see any references for it there.
Just wanted to implement `const fn new()` for a generic struct with trait bounds...

[2022-02-05 19:35] nikic commented on #47384
@mitsuhiko Because both are desirable behaviors.

`#[used]` as specified just makes sure that the symbol makes it into the object file, but may still be subject to linker GC at that point. In this case, the purpose of `#[used]` is to tell the compiler that the symbol is referenced in some way that it does not see, but that *is* understood by the linker. A standard example is a use from inline asse

[2022-02-05 19:39] timleg002 commented on #93650
Are you sure the `Connection` type is imported?

[2022-02-05 20:34] PatchMixolydic commented on #93679
The current tracking issue for const trait bounds seems to be #67792, but the main body doesn't explicitly state that it tracks the `const_fn_trait_bound` feature gate (it mentions the provisional(?) const trait bound syntax, `~const Trait`, but this is difficult to recognize if you don't already know it).

@rustbot modify labels: +A-meta +F-const_trait_impl

[2022-02-05 21:22] #93476 closed

[2022-02-05 21:32] mitsuhiko commented on #47384
It's pretty clear that at the moment sections for `linkme` as well as `ctor` are GCed. In particular the situation on my mac is that unless a function placed in `__mod_init_func` for macOS I have an example for where it gets discarded unless certain conditions are met (mainly that the function placed there is referenced by some other code in the crate).

The example where the linker somehow "knows

[2022-02-05 21:41] thomcc opened #93683 "`x.py bench` should consider warning/informing the user if they have a configuration that may produce slower/inaccurate benchmakrs"
Should `x.py bench` emit a message if settings that are bad for performance are enabled? I think my configuration was confusing me quite a bit in https://github.com/rust-lang/rust/pull/90414 -- specifically `rust.debug-info-std` (which IIUC impacts which variables get spilled to the stack) and `rust.incremental` (which impacts codegen units). There are definitely others relevant here.

Note that I

[2022-02-05 21:49] Mark-Simulacrum commented on #93683
I would rather not try to produce diagnostics about arbitrary configuration deltas, since that feels pretty hard to me; we have a lot of options, and the level to which they are benign is hard to tell (and somewhat dependent on local environment). In general, it is also difficult to effectively surface *warnings* in x.py, because we typically produce a lot of output, and so each line individually

[2022-02-05 21:50] thomcc commented on #93683
Continuing from @the8472's comment: https://github.com/rust-lang/rust/pull/90414#issuecomment-1030697950

I'm not sure what that would help? I think there are two cases that are common for me to want (I cannot speak to others, but they may generalize):
1. Compile and link std and the benchmark them as realistically as possible with respect to usage of std in code in the wild built with `--release`

[2022-02-05 22:10] thomcc commented on #93683
Perhaps another set of options for benchmarking is useful? Cargo has `[profile.bench]`, for example, and largely my handwavey notion of "it should do right thing" probably looks a similar "x.py bench should be closer to `[profile.bench]` unless you override it".

This matters, is pretty obvious, and you can address it with more runs, but if the codegen settings, you can have very high confidence t

[2022-02-05 22:12] the8472 commented on #93683
My suggestion is aimed at achieving a middle-ground (perhaps even improving the pareto frontier) between benchmark noise and iteration speed. I can already disable turbo clocks and compile with 1CGU to reduce noise, but this is extremely tedious, especially when running stage1 benchmarks.

[2022-02-05 22:55] workingjubilee commented on #91237
Hm, if we did it in our own LLVM lowering, we could use a const-known parameter that is in-bounds to simply emit `shl`, `ashr`, and `ushr` instead, also.

[2022-02-06 00:44] brunoczim opened #93684 "Error message pointing to struct definition instead of pointing to trait impl with missing trait bound"
I tried this code:

[code]

I expected to see this happen: an error on line 22 about a missing trait bound

Instead, this happened: a confusing error message on line 9

Message:
[code]

### Meta
`rustc --version --verbose`:
[code]
Tested on both stable and nightly tho.

Backtrace is not applicable here, since the bug is a confusing error message.

### EDIT
Fixing the code would result in this:
[co

[2022-02-06 01:17] scottmcm commented on #93611
I'll add that this is completely consistent with the behaviour of `if` *outside* of `match` too -- `if b {} else if !b {}` is not exhaustive either.

Remember that arms are checked in order, so the exhaustive way to write this is just
[code]
exactly like how the way to write the above `if` is `if b {} else {}` (without the `if !b`).

[2022-02-06 01:28] scottmcm commented on #93490
Note that if you add `repr(simd)` then it does pass deal in vector types: https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=1645fca36d467d49bc9bd4f299f8243f

So arguably this more about "`repr(rust)` should use vector representations sometimes".  (And of course when we eventually get `stdsimd` then people could do this as a `repr(transparent)` wrapper around `Simd<f32, 4>`

[2022-02-06 01:31] scottmcm commented on #93464
I'll note that the very first example on the `Once` page is
[code]
Which is a pretty strong encouragement to use `static`, not `const`.

[2022-02-06 02:00] Mark-Simulacrum commented on #93683
I think adding per-profile options definitely seems like it's probably too much: x.py already has a lot of knobs that confuse folks, and if we start trying to expand to per-profile options. Plus, having x.py bench blow away your whole x.py build cache (or need to cache separately) feels subtly annoying too.

We don't run std benchmarks anywhere right now, so not unless the functions happen to be u

[2022-02-06 02:57] brunoczim opened #93687 "Error message pointing to struct definition instead of pointing to trait impl with missing trait bound"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

To correct the code, one should add two trait bounds to line 22, not to line 9, and it would look like this:
[code]

Tested on both stable and nightly.

[2022-02-06 02:57] brunoczim commented on #93684
Closing this as I used the wrong template

[2022-02-06 02:57] #93684 closed

[2022-02-06 03:10] matthiaskrgr opened #93688 "ICE: enum value has invalid tag, no-core-2.rs -Zmir-opt-level=3 --emit=mir -Zdump-mir=all"
### Code
`./src/test/ui/no-core-2.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/no-core-2.rs -Zmir-opt-level=3  --emit=mir  -Zdump-mir=all  --edition 2018`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-06 03:22] thomcc commented on #47384
This is what may have been documented, but a large amount of code and a nontrivial chunk of the ecosystem (crates with several millions of downloads) has been built on this. It feels completely out of line with Rust's stability story to break that code without very careful consideration, which does not feel like it was made here.

This allows a small a code size optimization, which seems not very

[2022-02-06 03:27] name1e5s commented on #93650
no, you need to add `use rusqlite::Connection` to your code.

[2022-02-06 04:30] ccqpein opened #93690 "Internal Compiler Error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-06 04:56] compiler-errors commented on #93646
imma claim this

@rustbot claim

[2022-02-06 05:53] jsha commented on #93538
Another possibility: We could do like pkg.go.dev does (e.g. https://pkg.go.dev/crypto/tls#ClientHelloInfo.SupportsCertificate), and set these CSS properties on the method headings:

[code]

That would cause us to always put as much text as possible on a line, and break right at the end. That would still, allow breaking in the middle of a return arrow, or other awkward breaks. But it might be clear

[2022-02-06 05:59] compiler-errors commented on #93688
For the record, it is due to `fn bar` and doesn't require `#![no_core]` (but does require that `mir_opt` flag, and only happens during `dump_mir=all`)

[code]

I've tracked this down (possibly) to `rustc_mir_transform::const_prop::ConstPropagator::propagate_operand` which is only enabled when opt-level >= 3. I might take a look at this..

[2022-02-06 06:45] compiler-errors commented on #93688
So actually this doesn't even depend on `Try`. I'm not sure which mir pass is causing this actually, but only happens when we match `Option::<Option<()>>::None` which is inlined in a match block (not in a separate `let` statement).

minimized (ICEs with `-Z mir-opt-level=3`, no other flags needed):

[code]

[2022-02-06 07:07] crlf0710 commented on #25860
I took a brief look into this issue, and it seems rust language contravariance rules and borrow checker can do the needed detection.

Here's my inspection, i'm using `arielb`'s example code as starting point. It's obvious that the first incorrect cast is the foo2 to foo3 conversion.
[code]

So, i implement my fake function pointer type, my own fake `FnOnce` trait(for simplicity, i removed `Output`

[2022-02-06 08:02] #93454 closed

[2022-02-06 08:22] the8472 commented on #93683
It might not help in this particular case, but I have had std benches involving generic code where non-incremental mode still made them less noisy.

[2022-02-06 08:31] compiler-errors commented on #93688
Yeah so it just seems like we're creating invalid scalar values as intermediates in passes (e.g. after const propagation), and then panicking when we pretty-print those invalid values when dumping MIR.

I can give a more detailed explanation why we're creating an invalid scalar, but that scalar is being optimized out anyways in subsequent passes, so I don't think this would ever affect codegen...

[2022-02-06 08:33] nikic commented on #47384
I should clarify that my comment above was exclusively about ELF behavior, I have no familiarity with MachO or COFF linker behavior. I think it doesn't help that this issue seems to conflate different platforms (ELF vs MachO), different use cases (ctor vs linkme) and different problems (linker GC vs potential cross-crate omission of the symbol), so it's hard to follow what any particular person is

[2022-02-06 08:34] #80309 closed

[2022-02-06 08:34] #91836 closed

[2022-02-06 08:37] last-partizan commented on #85563
Any ideas how to approach this?

[2022-02-06 08:44] matthiaskrgr commented on #93578
searched nightlies: from nightly-2021-08-01 to nightly-2022-02-05
regressed nightly: nightly-2022-01-19
searched commit range: https://github.com/rust-lang/rust/compare/ee5d8d37baaf5b5a81a98396952839c73ae41c68...9ad5d82f822b3cb67637f11be2e65c5662b66ec0
regressed commit: https://github.com/rust-lang/rust/commit/7bc7be860f99f4a40d45b0f74e2d01b02e072357

<details>
<summary>bisected with <a href='http

[2022-02-06 08:46] BoxyUwU commented on #93647
I think this needs to remain open until the fix is beta-backported :thinking: not 100% sure on procedure here

[2022-02-06 08:51] compiler-errors commented on #93647
You might be correct. At least that's what happened last time one of my PRs was backport nominated ([here](https://github.com/rust-lang/rust/issues/91807#issuecomment-995928129)), though I'm not sure if that was due to that being a regression on stable. Regardless, thanks for reopening this.

[2022-02-06 09:22] andoriyu commented on #85563
Currently — just do multiple `cargo` invocations for each.

[2022-02-06 09:50] last-partizan commented on #85563
I mean, in the long run, from architectural point of view. Looks like there is no way to combine all xml output into single file at `libtest` level, becouse each invocation is separate. So, maybe it's better to move formatters into `cargo-test`? Or maybe there is a way to signal global test start to libtest, so it can write header, and then after all test finished - write footer?

[2022-02-06 10:03] apiraino commented on #93647
@compiler-errors that's my understading, too. I /think/ issues that are pending a beta/stable backport (like this one) will stay open until the corresponding backport PR has landed.
The {stable,beta}-backport procedure is detailed [here](https://forge.rust-lang.org/release/backporting.html) but this detail is not explicited (I'll see if I can fix that to be more clear).

For completeness, backport

[2022-02-06 11:08] SkiFire13 commented on #25860
I believe this happens because traits objects are always invariant over their generic arguments. If `MyFnOnce` and `FnOnce` were contravariant over their generic arguments then both these examples would compile, but they don't:

[code]

[2022-02-06 11:08] Nemo157 opened #93698 "rustdoc ICE: 'no entry found for key' with static referencing external type"
### Code

(Using `once-cell 1.9.0` + `rtsp-types 0.0.3`)

[code]

(Minimized from <https://docs.rs/crate/retina/0.3.7/builds/505117>)

### Meta
`rustdoc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

cc @petrochenkov

[2022-02-06 11:10] bjorn3 commented on #93490
It doesn't. It passes them by reference both when using `&Stats` as arguments and when using `Stats` as arguments (llvm ir is identical). There would be no load or store if it was passed in vector registers.

[code]

[2022-02-06 11:25] Nemo157 commented on #93698
One thing I forgot to do is check that my minimization is exhaustive. After deleting all the `pub static` from the original crate it still ICEs, so there must be another way that it is triggering this too.

[2022-02-06 12:14] SkiFire13 commented on #80176
Coming back to this after the recent article on #25860

I'm not convinced anymore that's the case. If you try this (wrong) code:

[code]

You'll get this error:

[code]

Note the reference to function pointers. The HRTB part is missing, but I suspect this is just the way it is printed.

[2022-02-06 12:18] PrabeshPP opened #93699 "Access is denied(OS Error)."
I am having this issue while installing the rand package

[code]

Here is the Cargo.toml file code:

[code]
**Please! help me with this problem, I am new to rust.**

[2022-02-06 13:08] spaarmann commented on #50923
After not finding nearly as much time to look at this as I'd hoped, I looked at it again, and it seems to have been fixed in the meantime 🎉

The test from the original comment now outputs: [Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=64af4d217d78ccba0e19b588ed41302a)
[code]

I think this is from #88838. (cc @FabianWolff ). I think with that this issue c

[2022-02-06 13:18] barscm opened #93701 "Compiler error reported"
Running `cargo build` or `cargo check` on a workspace crate I got a compiler error.
(probably unrelated, I recently ran `cargo fix`)

If I go one level up to the workspace root I don't get a compiler error, but there is an error:

[code]

However, the following are the bits from the workspace crate as it's reporting as a bug:

### Meta
`rustc --version --verbose`:
[code]

### Error output
[code]

[2022-02-06 13:27] jannickj commented on #50923
@spaarmann the bug is that it suggest private members instead of the public ones, not that private access is incorrectly reported.

[2022-02-06 13:32] spaarmann commented on #50923
@jannickj Can you provide an example? The original issue in the first comment is certainly not that.
The example that carols10cents posted in this thread regarding public re-exports has been fixed for a while ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a051b9eb3b0808b73c661bc0c54e6b68)), as mentioned by cauebs:

[2022-02-06 13:34] WaffleLapkin opened #93703 "`-Znormalize-docs` fails with "overflow evaluating the requirement", whereas normal build succeeds"
Repro:
- clone https://github.com/fizyk20/generic-array
- checkout [d4d63b7](https://github.com/fizyk20/generic-array/commit/d4d63b7ea425f42a7e373510f95eb36ed17d34c4)
- `RUSTDOCFLAGS="-Znormalize-docs" cargo doc` fails with a huge error
- `cargo build` doesn't fail

Originally this was found when publishing `teloxide` (it uses rustdoc-scrape-examples and its example uses `warp` which has `generic-

[2022-02-06 13:38] WaffleLapkin commented on #93703
Ah, seems like this is a known issue https://github.com/rust-lang/rust/issues/81091

[2022-02-06 13:38] Yush08 commented on #93701
Please send a minimal example that can reproduce this ICE -- also remember to check that if this ICE exists on nightly, this might've already been fixed.

[2022-02-06 13:43] Yush08 commented on #93690
![image](https://user-images.githubusercontent.com/93856041/152683758-e99211e1-440d-4529-9467-a89a7157ba7a.png)
Just to point it out, This doesn't ICE on stable.

[2022-02-06 13:45] Yush08 commented on #93607
Mostly seems like an incremental build problem, yeah -- `cargo clean` and rebuilding should fix it.

[2022-02-06 13:57] apiraino commented on #93698
Could this issue be related/duplicate of #93476 (and therefore fixed by #92533)?

[2022-02-06 14:02] jannickj commented on #50923
ahh mb, missed that it had been fixed :sweat_smile:

[2022-02-06 14:04] Yush08 commented on #93699
Hello and welcome to Rust! \o

This doesn't seem like a Rust problem, rather a problem on your system which prevents Rust from making a directory in the path `C:\Users\prabe\.cargo\registry\index\github.com-1ecc6299db9ec823` -- by the error message, it seems like you don't have the permissions to write to that location.

This can happen if the computer is being handled by another organization/scho

[2022-02-06 14:10] Nemo157 commented on #93698
I assume you meant #93539? That was included in [last night's nightly](https://github.com/rust-lang/rust/commits/88fb06a1f) which I tested with (we have a collection of failing crates in docs.rs that I am rebuilding as each fix for the fallout from #88679 lands).

[2022-02-06 14:22] david-pikas opened #93704 "Segfault when compiling very deeply nested tuples"
### Code

The tupples are nested 2167 levels deep. The bug does not occur with fewer layers of nesting.

I used
[this python script](https://github.com/rust-lang/rust/files/8010349/generate_trees.py.txt) to generate this minimal example of the error

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[error_output.txt](https://github.com/rust-lang/rust/files/8010334/error_out

[2022-02-06 14:26] the8472 commented on #93699
You can override the directory used for the cargo registry with the `CARGO_HOME` environment variable.
https://doc.rust-lang.org/cargo/reference/environment-variables.html

[2022-02-06 15:09] hkratz commented on #93704
@david-pikas I can't reproduce this with 1.60.0-nightly (2022-02-05 88fb06a1f331926bccb4), see [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=366d3f6dce97d4a82e1d4263265e0784). Can you double-check with the latest nightly?

[2022-02-06 15:12] petrochenkov commented on #83761
The branch in progress fixing this issue is https://github.com/petrochenkov/rust/tree/doclink2.

The functional part is mostly done, one major missing part is emulating the `Self` replacement in paths that is done by rustdoc, some other remaining special cases like this may also remain.

I'll start benchmarking after the functional changes are ready.

[2022-02-06 15:21] jneira commented on #93699
I hit the same problem recently and setting `CARGO_HOME` (and `RUSTUP_HOME` as i use it to manage the rust installation) worked for me.

[2022-02-06 15:36] rik-bosch opened #93705 "thread 'rustc' panicked at 'Box<dyn Any>', compiler/rustc_errors/src/lib.rs:1169:9"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-06 16:31] RalfJung commented on #93688
An optimization pass that introduces invalid scalars literally introduces UB into well-defined code (unless this is in dead code), so -- I would say this is rather scary, on the level of "I-unsound".

[2022-02-06 16:33] PatchMixolydic opened #93706 "Tracking Issue for `const_fn_trait_bound`"
This is a tracking issue for trait bounds on `const fn`s. The feature gate for the issue is `#![feature(const_fn_trait_bound)]`. This is not to be confused with the "trait impl must be `const` in const contexts" syntax, `~const Trait`, which is a part of `const_trait_impl` and is tracked in #67792.

### About tracking issues

Tracking issues are used to record the overall progress of implementatio

[2022-02-06 16:37] scottmcm opened #93707 "Could the compiler automatically re-use `Box` allocations as an optimization?"
I tried this code: <https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=f7612dfa44bc15ef44bd7d759dce1b87>
[code]

Given that `i32` and `f32` have the same layout (at least on my target) I was hoping that the compiler would be able to -- as an optimization -- avoid the dealloc+alloc dance here.

But it looks like, right now at least, it doesn't re-use it even when the optimiz

[2022-02-06 16:37] oli-obk commented on #93688
Fairly certain this only happens in unreachable branches (default branches of exhaustive switches), but i'll dig into it.

[2022-02-06 16:38] Cldfire commented on #65669
I opened a PR for this: https://github.com/rust-lang/rust/pull/93708

[2022-02-06 16:48] Kixunil commented on #93707
I repeatedly hear people saying that they need some optimizations to be guaranteed, so a guaranteed solutions would be nicer. I had some random thoughts about defining some basic container operations as traits in `core::ops` and then the compiler would use them in some scenarios. May be related to hypothetical `DerefMove`

[2022-02-06 17:02] scottmcm commented on #93707
I don't see this as XOR, @Kixunil.  The conversation about APIs that guarantee it can continue in other items, while still having optimizations to do it opportunistically.

We already do some optimizations around allocations, like https://github.com/rust-lang/rust/blob/f624427f8771c00819684c783bb841bf72095704/src/test/codegen/alloc-optimisation.rs#L7

[2022-02-06 17:03] compiler-errors commented on #93688
Sorry, yes, it only seems to happen (as far as I know) in dead branches. The issue here only seems to be printing MIR with these dead branches still in the code.

[2022-02-06 17:07] RalfJung commented on #93688
Okay that is less critical then. Arguably printing should work even for invalid code.

It still seems interesting to figure out why this happens. I would understand if this was an uninhabited variant, but seeing an entirely non-existing discriminant is surprising.

[2022-02-06 17:11] Rua commented on #70564
There are several threads on Rust internals discussing this problem:
- https://internals.rust-lang.org/t/pre-rfc-relaxed-non-exhaustive-structs/11977/16
- https://internals.rust-lang.org/t/allow-constructing-non-exhaustive-structs-using-default-default/13868

There is mention of an RFC to introduce a new syntax, so that existing uses of `non_exhaustive` don't break, but it seems that it never went

[2022-02-06 17:12] steffahn commented on #49112
Is there any actual issue being reported here? If yes, what’s the code to reproduce it and what’s the actual issue?

[2022-02-06 17:17] compiler-errors commented on #93688
I left an explanation above in an collapsible block as to why we're creating this invalid value.

I believe the root cause is that we perform operations in const propagation infallibly. It would probably be desirable to prevent this by making const propagation fallible if the const is incompatible with the layout of the result of the operation being applied to it.

Then when we apply something lik

[2022-02-06 17:38] JulianKnodt commented on #93578
Ah yes, I need to implement a `ToTrace::Term` which was deferred from a previous PR because it caused significant changes in generated output

[2022-02-06 17:48] Diggsey commented on #47384
@nikic the bit that doesn't make sense to me is why any of the crates other than `linkme` would run into this issue unless there is a bug somewhere, since `linkme` is the only one where symbol usage is not visible to the linker, so for all the other crates `#[used(compiler)]` *should* be enough.

[2022-02-06 17:50] toshokan commented on #92848
I am also experiencing this issue on 1.58.1, see a reproducible (but not minimally reproducible) example at https://github.com/toshokan/tomiko/commit/0bd72f35bf2813595ee03c02a9cec3dbe2707fec

In my case it seems to be triggered by a type alias.

# rustc info

[code]

# Output
[code]

[2022-02-06 17:55] david-pikas commented on #93704
The magic number has changed to 2213 on 1.60.0

Here's a [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=43bd7fc27fd17fefa51e46ffe5b56395)

And here's the raw code:

[code]

[2022-02-06 18:13] toshokan commented on #92848
Looks like this is caused by not handling the `ItemKind::TyAlias` case at https://github.com/rust-lang/rust/blob/1.58.1/compiler/rustc_typeck/src/collect.rs#L1020

Is it supposed to be handled there, or should it have been handled earlier?

[2022-02-06 18:22] yerke commented on #53934
@rustbot unclaim

[2022-02-06 18:22] yerke commented on #53934
@rustbot release

[2022-02-06 19:00] matthiaskrgr opened #93710 "llvm lints reports buffer overflow with -Cinstrument-coverage"
I tried this code:
`src/test/ui/issues/issue-85461.rs`
[code]

`rustc  ./src/test/ui/issues/issue-85461.rs --crate-type lib -Cpasses=lint -Cinstrument-coverage  --crate-type dylib`
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-02-06 19:11] armanriazi commented on #73298
**Manifest for installing rust and build-essentials on ubuntu 20.04.03**

    rustup self uninstall
    apt-get update
    sudo add-apt-repository "deb http://archive.ubuntu.com/ubuntu $(lsb_release -sc) main universe"
    apt-get -u dist-upgrade
    apt install aptitude
    sudo aptitude install libc6=2.31-0ubuntu9
    sudo aptitude install build-essential
    apt-get update
    curl --proto '=ht

[2022-02-06 19:20] amazing-hash opened #93711 "skip clone trait implementation"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-06 19:36] Aaron1011 commented on #92847
This should be fixed in the latest nighty

[2022-02-06 19:42] thomcc commented on #47384
... Oh. Sorry about that. Yes, this has... caused quite a few problems on the Apple targets 😅.

Also, I have heard reports that it caused breakage on ELF as well, and think that should be investigated. I'm going to assume from the rest of this that it doesn't (e.g. I'm assuming that prior to LLVM 13, `@llvm.used` and `@llvm.compiler.used` were compiled equivalently?).

The parts about making the d

[2022-02-06 19:47] Aaron1011 commented on #91921
This was fixed in https://github.com/rust-lang/rust/pull/92534, https://github.com/rust-lang/rust/pull/93095, and https://github.com/rust-lang/rust/pull/92533

[2022-02-06 19:47] #91921 closed

[2022-02-06 19:51] ehuss commented on #93705
Thanks for the report!  This has been fixed by #92112, and the fix should be in the 1.59 release (currently in beta).

Closing as a duplicate of #92010.

[2022-02-06 19:51] #93705 closed

[2022-02-06 19:56] ehuss commented on #93650
It is difficult to tell from the issue what this is trying to report.  This looks like a normal error of attempting to refer to something that isn't in scope.

I'm going to close, as this does not appear to be an issue with rustc.  I recommend if you are having trouble to use one of the user forums (such as https://users.rust-lang.org/). This issue tracker is specifically for bugs and other issues

[2022-02-06 19:56] #93650 closed

[2022-02-06 20:20] ehuss commented on #93383
Thanks for the report!  As mentioned, this should be fixed in the most recent nightly.  If you continue to encounter issues with the latest version, please let us know.

Closing as a duplicate of #92163 or one if its related issues.

[2022-02-06 20:20] #93383 closed

[2022-02-06 20:22] compiler-errors commented on #93711
This is fixed on nightly!

[2022-02-06 20:34] Aaron1011 commented on #43234
I've started updating this issue with a summary of the current status.

[2022-02-06 20:40] compiler-errors commented on #93687
Turns out we just attached the wrong ObligationCause. I got a fix!

@rustbot claim

[2022-02-06 21:08] hkratz commented on #93704
Yep, classic stack overflow in the parser. Can you check at what nesting level it crashes for beta and stable?

@rustbot label -I-ICE +I-crash +A-parser

[2022-02-06 21:10] CleanCut commented on #89492
@tspiteri Reading through this thread, I don't feel like there was a response explaining why your suggestion was not taken. In the spirit of collaboration, I'd like to attempt to fill in that gap according to my understanding (as an observer, not a decision maker) why `abs_diff` is an appropriate name!

Adding `unsigned` anywhere in a method name (usually in the suffix) is helpful to distinguish b

[2022-02-06 21:24] nbdd0121 commented on #47384
I digged deeper today to see why for the ELF target, the `KEEP` directive in the linker script couldn't prevent the linker from keeping it, and to my surprise that GC sections actually isn't the reason for its non-inclusion.

The actual reason that the item is discarded is that the CGU that contains the item isn't being referenced so the linker does not include the .o file that contains the `#[use

[2022-02-06 21:56] workingjubilee commented on #90812
Ah, it looks like this has not recurred for an entire season?!
Surely the curse is gone... surely?

[2022-02-06 21:56] #90812 closed

[2022-02-06 22:02] pierwill commented on #91921
@rustbot release

On Sun, Feb 6, 2022 at 1:47 PM Aaron Hill ***@***.***> wrote:

[2022-02-06 22:03] steffahn commented on #90776
I’ve created a PR that would generate the following output:
[code]

(The ``note: `#[allow(unsafe_op_in_unsafe_fn)]` on by default`` part – technically – just explains where the lint-level for the first unsafe operation inside the block for which `unsafe_op_in_unsafe_fn` is allowed comes from.)

Feel free to give feedback on this output, or ask questions. I do suppose it fulfills the main property

[2022-02-06 22:56] thomcc commented on #47384
That's somewhat of an unrelated issue that exists prior to the LLVM13 stuff. It also causes things like https://github.com/rust-lang/rust/issues/50007. I do agree that if we offer a stronger guarantee on `#[used]`, it would ideally include fixing that.

[2022-02-06 23:44] nbdd0121 commented on #47384
I am aware that this isn't related to LLVM 13 changes, but I think the issues described by OP is caused by that. LLVM 13 only regresses that further for non-ELF targets.

[2022-02-07 00:15] camelid commented on #92656
Hmm, maybe just "types" and "type aliases" would be clear enough.

[2022-02-07 00:44] juliancoffee opened #93720 "Overflow should be caught earlier in standard query mode: ErrorReporting"
So, I was trying to make a function that has basically the following signature.
`bubble<T, const N: u8>(x: T) -> [[..[T]..]]` where resulting type is array of depth N using `generic_const_exprs`.
I understand that this isn't the code you would need to write in real life, but I thought it would be helpful to report ICE and provide a minimalistic example.
This is probably related to #87001, but also

[2022-02-07 01:40] nagisa commented on #47384
Having the attribute work in many cases but fail in very special other cases, even if rarely, sounds like perhaps even worse of a footgun to me. Unless we can guarantee that `#[used] = #[used(linker)]` will unconditionally work and always behave the same across targets, I feel like making things explode more readily is actually better in some ways. It forces people to notice bugs in their code, at

[2022-02-07 02:54] awakecoding commented on #21727
Any update on this? I would really like to stop using static libraries *only* for iOS in projects that use shared libraries on all other platforms

[2022-02-07 03:31] jyn514 opened #93725 "consider giving precedence to `--config` over RUST_BOOTSTRAP_CONFIG"
https://github.com/rust-lang/rust/blob/7b43cfc9b25ac4a906bd56d32d3111085dd9e6a1/src/bootstrap/bootstrap.py#L1224-L1228
It seems pretty strange to me that the env variable would take precedence over --config. It would be nice to switch the precedence.

cc @mark-simulacrum

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/issues/92260#issuecomment-1030949332_

[2022-02-07 03:32] yusuphisms opened #93726 "Error Message for Trait Use Declaration with Rc<RefCell>"
Given the following code:

[code]

The current build output is:

[code]

I received this output because I somehow got my IDE to include the `use std::borrow::BorrowMut;` statement. When that statement is _removed_, the code is able to compile without errors. I'm working off of the book, [Data Structures with Rust from Packt.](https://github.com/PacktPublishing/Hands-On-Data-Structures-and-Algorith

[2022-02-07 03:34] #92137 closed

[2022-02-07 03:41] crlf0710 commented on #25860
@SkiFire13 You're correct that, dyn values doesn't suffer this issue because it doesn't use `contravariance` here. However it seems to me that these trait objects examples still shows that this issue **can** be solved by removing contravariance, in contradictionary to @lcnr's belief?

[2022-02-07 03:55] PrabeshPP commented on #93699
Hi @Yush08 !
Thanks for the help!!
It worked .

[2022-02-07 03:55] #93699 closed

[2022-02-07 04:02] lcnr commented on #25860
@crlf0710

in my post i have an implementation of `bad` which does not rely on contravariance anywhere, but instead uses covariance in the function return type.
[code]
While completely removing variance inside of binders would fix this bug, that seems neither desirable nor feasible, considering the resulting breakage and loss of expressiveness.

[2022-02-07 04:07] Aiden2207 opened #93727 "Invalid assignment in a while loop causes an ICE"
### Code

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=dc7891244e9287174f1e48fac27d5f8d)

When running on the most recent stable rust, I get
[code]
On beta, the compiler doesn't crash, but rustc does give a questionable recommendation to fix the issue:
[code]
On nightly(2022-02-06 as the time of writing) it compiles fine, giving the expected error mes

[2022-02-07 04:09] Mark-Simulacrum commented on #93725
Added in https://github.com/rust-lang/rust/pull/73317; it seems like it makes sense for --config to override, though probably not typically all that useful. Happy to see a PR, should be pretty easy so marking as such.

[2022-02-07 04:17] js2xxx commented on #20267
@dabretin 's method seems not working for implementing conditional `#[panic_handler]` at least in my case. I also tried using unstable `#[linkage = "weak"]` but not working either. I wonder if there are some other alternatives because I don't want to duplicate dozens of interface functions in different crates...

[2022-02-07 04:43] #93703 closed

[2022-02-07 04:59] compiler-errors commented on #93727
Yeah, I believe I fixed this in the latest nightly, cc #93574. Not sure if there's anything to fix then.

[2022-02-07 05:53] Ralith commented on #47384
@thomcc seems to have illustrated a reasonable to work around lack of first-class target support for `#[used(linker)]. Are there cases where that can't be done?

[2022-02-07 06:02] thomcc commented on #47384
Sure. This is actually why I am against it being `#[used(compiler)]`, which is *more* platform-dependent. Think of it this way: `#[used(compiler)]` means that *we're leaving the decision up to the linker*.

This will result in behavior that is both platform-dependent and unreliable. For example, `#[used(compiler)]` will work as `#[used(linker)]` if you insert into a section that that linker consid

[2022-02-07 06:56] david-pikas commented on #93704
For stable it's 4030 ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=bbba1a15a56c099b7a2b3848db79aadd)) and for beta 2185 ([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=54b015ac85eb1117df2c175cd0869e8f))

[2022-02-07 07:09] hkratz commented on #93704
@rustbot claim

[2022-02-07 07:11] hkratz commented on #79766
@rustbot claim

[2022-02-07 07:20] amazing-hash commented on #93711
Great, thanks.

[2022-02-07 07:20] #93711 closed

[2022-02-07 08:00] bsodmike commented on #82219
I'm on `rustc 1.59.0-beta.5 (28c8a34e1 2022-01-27)` and am getting this as well,
[code]

[2022-02-07 08:02] notoria opened #93731 "Missing loop optimization"
The code on [godbolt](https://godbolt.org/#z:OYLghAFBqd5TKALEBjA9gEwKYFFMCWALugE4A0BIEAZgQDbYB2AhgLbYgDkAjF%2BTXRMiAZVQtGIHgBYBQogFUAztgAKAD24AGfgCsp5eiyahSAVyVFyKxqiIEh1ZpgDC6embZMDzgDIEmbAA5TwAjbFIDAAd0JWIHJjcPL2jY%2BKF/QJC2cMiea2xbeyERIhZSIiTPb3ybbDsE0vKiTOCwiINLZqqU2rKK1uzcqQBKa3QzUlROLiizUIBqGiYF%2BnR0KK0IFhAFiwIAL2xyBbYzIgXQ3f2jk9RruKORhYBaAFIAZlw9x%2BwFt4A7AAhN5aACCC0hCxYShUFTAkBY/y%2BlxGnx

[2022-02-07 09:13] HunterGitHub opened #93733 "A confusing compile error about lifetime"
rustc version
[code]

suppose we have code like this:

[code]

if we compile it, it will report error "cannot borrow `txt` as mutable more than once at a time"：

[code]

there is a way to fix it，make the lifetime in `struct RefText<'txt>` indepent:

[code]

but, the question is：why if we bind the outer "Text" and the inner "str" with the same lifetime, i will cause r.ptr live long enough until the

[2022-02-07 09:57] dimpolo commented on #81513
There seems to be a problem with the combination of the `ptr_metadata` and `trait_upcasting` features.
I'm not sure if posting this over at #65991 might have been better, please let me know.

I'll use [ThinBox](https://github.com/rust-lang/rust/pull/90066) as a motivating example but it applies to other custom "thin" implementations of datastructures.

The problem is that you can't implement
[code

[2022-02-07 10:53] m-ou-se commented on #89492
Sorry for the delayed response. We did quickly discuss this in a meeting, and concluded that we don't want a signed version of this, so there's no need for `unsigned` in the name. See @CleanCut's comment, who worded it better than I could have. :)

[2022-02-07 11:17] AlbertMarashi commented on #92565
+ 1 on this

[2022-02-07 11:27] SimonSapin commented on #81513
It’s even worse than that for `ThinBox`: if `T` and `U` have differently-sized metadata, then `ThinBox<T>` and `ThinBox<U>` allocate heap memory with different layouts so converting between them requires a new allocation. So users of want a `ThinBox<U>` would likely prefer some other API that does the "usizing" while creating their first `ThinBox`, without going through an intermediate `ThinBox<T>

[2022-02-07 11:38] dimpolo commented on #81513
If I understand correctly, you're saying that `CoerceUnsized` only does "thin" to "wide".
That then rules out any "thin" to "thin" conversions.
Is it then fair to say that trait upcasting is misusing `CoerceUnsized` because it does a "wide" to "wide"
 cast?

[2022-02-07 12:25] mfrw commented on #93725
@rustbot claim

[2022-02-07 13:05] oli-obk commented on #93665
Note that on nightly we only get

[code]

without any additional info (but at least the function pointer diagnostic is gone)

[2022-02-07 14:05] SimonSapin commented on #81513
I didn’t know that trait upcasting also involved `CoerceUnsized`. The important part of https://github.com/rust-lang/rust/issues/81513#issuecomment-1031355360 is that when the compiler implicitly generates new pointer metadata it puts it in a wide pointer, the target of the conversion. Although in the upcasting case, it probably also needs to know where to read the previous metadata. So if there i

[2022-02-07 14:05] GuillaumeDIDIER commented on #25860
@lcnr Would the RFC https://github.com/rust-lang/rust/issues/27579 https://github.com/rust-lang/rfcs/blob/master/text/1214-projections-lifetimes-and-wf.md fix the issue ?

[2022-02-07 14:35] ia0 commented on #61728
What is the soundness argument for this error?

A reason why I believe this is sound:
[code]
So this looks like a type system limitation rather than a soundness error.

Note that this issue seems similar to #62400, #59299, and #44409.

[2022-02-07 14:42] LesnyRumcajs commented on #55779
I ran into this as well with `rustc 1.58.1 (db9d1b20b 2022-01-20)` while trying to delete [this workaround](https://github.com/ChainSafe/forest/blob/d9a4df14e2891ef3127a863af0d2b00f4d097a5d/blockchain/blocks/src/lib.rs#L4)  based on the status here.

[2022-02-07 14:49] SkiFire13 commented on #25860
@GuillaumeDIDIER that RFC already mentions this issue (in [this section](https://github.com/rust-lang/rfcs/blob/master/text/1214-projections-lifetimes-and-wf.md#implied-lifetime-bounds)), saying it will be addressed in a separate RFC.

[2022-02-07 15:00] PatchMixolydic commented on #93733
This definition
[code]
proclaims that the mutable reference in `RefText::ptr` must live for as long as `Text::content` in the `Text` it points to. `txt` lives for the entirety of the main function, so with this definition, `r` also has to live for as long as `txt`. This means that the mutable borrow in `r` is still live at the call to `use_text(&mut txt)`, which fails compilation.

This definition

[2022-02-07 15:20] dimpolo commented on #81513
I think I understand. There is currently only one place where the compiler knows how to find the vtable and that is inside a wide pointer. If it's somewhere else, no upcasting coercion for you.

Maybe we could have something like this in the future though to make manual implementations less error prone:
[code]

[2022-02-07 15:32] SimonSapin commented on #81513
Calling a method on the metadata type means you already have access to the metadata, which doesn’t help with the compiler not knowing where to find it in `ThinBox`.

Instead I would expected something like:

[code]

to be provided by the thin box library. The *library implementation* of this might create a temporary raw pointer with the current metadata, upcast it with `as`, then extract the metad

[2022-02-07 15:42] nikomatsakis commented on #47384
(If lang team input is needed, please nominate, but I would very much appreciate a write-up that covers the precise proposal or question being asked, because this is a long thread and it will be hard for us to figure out what to read or not read.)

[2022-02-07 15:48] lyphyser opened #93739 "No niche optimization for enum {One(Enum), Two(Enum, Enum)}"
Rust seems to fail to take advantage of niches for very simple cases where it seems like it would be trivial to do so.

[code]

This code gives a size of 3 for Foo while obviously it can be stored in 2 bytes, representing the Two variant as two consecutive byte-sized Bar values, and the One variant as a byte with any value other than 0 or 1 followed by a byte-size Bar value.

Using an array of two

[2022-02-07 16:04] m-ou-se opened #93740 "Tracking issue for improving std::sync::{Mutex, RwLock, Condvar}"
A few weeks ago, on January 12th, the @rust-lang/libs team discussed a plan to improve `std::sync::Mutex`, `std::sync::Condvar`, and `std::sync::RwLock`.

On most platforms, these structures are currently wrappers around their `pthread` equivalent, such as `pthread_mutex_t`. These types are not movable, however, forcing us to wrap them in a `Box`, resulting in an allocation and indirection for our

[2022-02-07 16:21] m-ou-se commented on #85434
That effort is now tracked here: https://github.com/rust-lang/rust/issues/93740

[2022-02-07 16:24] jackh726 commented on #93647
Copied from Zulip:

Question/thought: Is this a case where tracking bound vars got in the way? Or did it actually help uncover a potential bug?

[2022-02-07 17:14] eholk commented on #93648
Thanks for the test case and the analysis!

It looks like I got the logic around this wrong. Basically, to goal was to have it so that consumes of a projection (e.g. `drop(x.y)`) are ignored, and reinitializations (`x.y = foo`) count as reinitializing all of `x`. It seems the code that ignores projections is too aggressive in ignoring things.

I'll try to get a fix out soon!

@rustbot claim

[2022-02-07 17:14] hkratz commented on #93740
Did you investigate using [`os_unfair_lock`](https://github.com/phracker/MacOSX-SDKs/blob/041600eda65c6a668f66cb7d56b7d1da3e8bcc93/MacOSX11.3.sdk/usr/include/os/lock.h#L44) on macOS? It can't be moved once it is in use either but it is essentially just a struct with a u32 in it, initialized to 0 before use. But maybe I am missing some requirements here. If it seems possible, investigation of it co

[2022-02-07 17:23] jrmuizel commented on #59281
Comparing `checked_add` in a loop vs step_by shows there's something special going on in with `step_by` beyond the `checked_add`
https://rust.godbolt.org/z/79aTac847

[2022-02-07 17:33] clarfonthey opened #93743 "Tracking Issue for str::{floor, ceil}_char_boundary"
Feature gate: `#![feature(round_char_boundary)]`

This is a tracking issue for `str::{floor, ceil}_char_boundary`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #86497
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-02-07 18:00] compiler-errors commented on #93647
Not sure what you mean. The bug was that we were just not doing lifetime name resolution at all on const generic defaults.

[2022-02-07 18:14] nbdd0121 commented on #93740
I don't think we need to use hash tables like parking lot for targets without futex support. We could just store the queues inside Mutex. I think the only downside is size, but that'll still be better than the current boxed pthread mutex though.

[2022-02-07 18:16] Amanieu commented on #93740
Also it doesn't support `Condvar`, which is required for Rust locks.

[2022-02-07 18:30] #93378 closed

[2022-02-07 18:30] #92957 closed

[2022-02-07 18:30] #93345 closed

[2022-02-07 18:30] #93679 closed

[2022-02-07 18:30] #93725 closed

[2022-02-07 18:30] #92319 closed

[2022-02-07 18:40] PatchMixolydic commented on #93679
For the sake of posterity, the tracking issue for this feature gate is now #93706.

[2022-02-07 19:05] compiler-errors opened #93744 "Incorrect suggestion to add bound for `Add` trait"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

@rustbot label D-invalid-suggestion A-suggestion-diagnostics

[2022-02-07 19:06] compiler-errors commented on #93744
@rustbot claim

[2022-02-07 19:33] clarfonthey commented on #38101
This bug still reproduces, in case you were wondering.

[2022-02-07 19:36] clarfonthey commented on #38831
Going through old issues on GitHub, I think we can close this. The latest diagnostics for this seem good to me:

[code]

[2022-02-07 19:36] #38831 closed

[2022-02-07 19:54] clarfonthey commented on #41333
Going through old issues, updated this to include a more recent example + how rustfmt handles this, since rustfmt didn't handle it back when this issue was made.

[2022-02-07 20:12] clarfonthey commented on #93396
I feel like `total_sort` would be a better name, since it matches the `total_cmp` naming and makes it clear what it does.

[2022-02-07 20:14] clarfonthey commented on #69224
FWIW this is still an issue on the latest stable: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c6da051f190e76b03a995df938a86f2c

Also potentially related to #86555, even though the two are not technically the same. We could potentially just allow the version that uses `Self` here.

[2022-02-07 20:19] clarfonthey commented on #77174
Adding another comment to this, since there hasn't been a stabilisation PR: should stabilising this also deprecate the `std::ascii` module, since this is basically the last thing from that module that hasn't been moved over to an inherent method? I personally vote yes, but I understand if others disagree. Would rather not close this issue before an official decision is made, but that's also not my

[2022-02-07 20:21] jackh726 commented on #87748
GATs issue triage: not blocking. The implied bounds story here is not great. But the simple attempt to fix thing opened up soundness holes. It's also not backwards-incompatible to fix.

[2022-02-07 20:27] jackh726 commented on #90808
GATs issue triage: not blocking. It's really not clear what an actionable path forward here is. It would be nice to know what exactly led to these problems, but I can't see anything that changes the outlives lint rules. We also have the flexibility in the future to make the outlives lint more lenient.

[2022-02-07 20:34] jackh726 commented on #91985
GATs issue triage: not blocking. From above, this is a more general bug with associated types. Not an backwards-incompatibility hazard.

[2022-02-07 20:38] jackh726 commented on #92033
GATs issue triage: not blocking. At this point, this is just a diagnostics improvement. 1 from above is fixed; just want to do 2.

[2022-02-07 20:45] jackh726 commented on #92096
GATs issue triage: not blocking. This isn't a design concern for the `Self: 'a` lint; instead, it's a borrow checker limitation. Fixing it won't be backwards-incompatible.

[2022-02-07 20:47] yaahc commented on #77174
Nominated so we can make sure this gets discussed during our next libs-api team meeting on Wednesday.

[2022-02-07 20:51] jackh726 commented on #93278
GATs issue triage: blocking. We can't change this after GATs are stabilized in a backwards-compatible manner.

[2022-02-07 21:48] yerke commented on #87799
@mdsn Are you still working on it?

[2022-02-07 21:51] yerke commented on #60302
@rustbot claim

[2022-02-07 22:29] fee1-dead commented on #93706
cc @rust-lang/wg-const-eval: Should we remove this feature because of #90912?

[2022-02-07 22:44] clarfonthey commented on #77174
Also adding more details on what the deprecation would look like, for full clarity. When I say `std` here, that includes `core` as well.

1. Deprecate `std::ascii` module, `std::ascii::EscapeDefault` struct, and `std::ascii::escape_default` function.
2. Stably re-export `std::ascii::EscapeDefault` somewhere else. I vote putting it in `std::num::EscapeAscii`, but a case for putting it in `std::char

[2022-02-07 23:10] scottmcm commented on #93739
Here's a simpler case that still doesn't optimize either: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=170f393d830719b60798a5a9dd1e963c>

[code]

(With just `One(Bar)` there's a question of whether the rest is `undef`, which would keep it from being usable for discriminant storage.)

[2022-02-07 23:14] oli-obk commented on #93706
Yes, together with function pointers and trait objects. We just need a stabilization PR and a summary for the lang team

[2022-02-07 23:25] Joeyh021 opened #93750 "Ambiguous error reporting when trying to infer const generic type"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=659888b8e5f59352118b3c7b39187f29

[code]

The current output is:

[code]

The error message being `cannot satisfy 'the constant 'Led::<{_: Colour}>::new::{constant#0}' can be evaluated'` doesn't explain the error at all, and is confusing in the way it is reported. I'm not entirely sure what is going

[2022-02-08 01:03] cuviper commented on #48504
I think we can close this as a documented caveat, since we can't fix it without OS support.

https://doc.rust-lang.org/stable/std/fs/fn.remove_dir_all.html#platform-specific-behavior

[2022-02-08 01:03] #48504 closed

[2022-02-08 01:24] abrown opened #93754 "Tracking Issue for control-flow enforcement technology (CET)"
This is a tracking issue for standardizing the control-flow enforcement technology (CET) flag, `cf-protection`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bu

[2022-02-08 01:53] inquisitivecrystal commented on #47384
The thread has devolved into something of a mess, with a large number of questions and considerations. As the nominator, I think I'm probably responsible for producing a write-up. I'll have a go at that as soon as I can. Unfortunately, there's so much going on here that I don't understand that anything I produce is going to be a bit of a simplification, but I'll certainly try to present the core q

[2022-02-08 04:17] mdsn commented on #87799
@yerke hi! No, please go right ahead and claim it. 😃 If you search for the issue number on Zulip you'll find some questions of mine back then. I'll try to post later some of what I thought while looking into this issue.

[2022-02-08 04:57] Stovent commented on #85532
This post provides a concrete example on why intermediate overflow should not occur. It reuses the code in my first post here.
TL;DR; doing `-32513 + -255` using my implementation example would give the correct answer `-32768`, but having intermediate would indicate that the operation overflowed while it doesn't.
[code]

To resume my ideas:
- Rename carrying/borrowing functions with extending (or

[2022-02-08 05:11] Stovent commented on #85532
I also support the `widening_shl/r` functions described in https://github.com/rust-lang/rust/issues/85532#issuecomment-846279618 , as they are useful to implement `rotate_left/_right` on big ints. Maybe they can be added to the public API ?

I don't know how changes like these are accepted to be implemented in the std and implementations can be provided. Should we do a complete RFC resuming all th

[2022-02-08 05:11] khuey commented on #88873
I actually can't really test this in my debugger because rustc's vtable debug info changed and deleted the DW_AT_containing_type entries. It looks like that's getting fixed in #93503 though.

[2022-02-08 05:14] clarfonthey commented on #85532
Since we've gotten the go-ahead to start adding these, IMHO, starting with code is probably the best to go anyway. If an RFC is needed that can be done after these functions are usable on nightly, since that'll be when more people are using them and we have a more solid idea of how useful they are.

[2022-02-08 05:17] thomcc commented on #93740
Oh. This is a subject extremely near-and-dear to my heart -- I even started on a pre-RFC for atomic wait/wake ops, like the ones that C++ got recently. That said, much of my motivation was hoping it would find a way to unstick us here, and I this is clearly a higher priority.

For futex APIs, I wrote a blog post on them at one point. https://shift.click/blog/futex-like-apis I wrote about some of t

[2022-02-08 05:42] gh2o opened #93760 "ICE when placing extremely large array into extern "C" static block"
Might be related to #49230.

### Code
Command: `rustc --crate-type lib ice.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-08 05:45] matthiaskrgr opened #93761 "error in format string : unreachable!("foo {bar,baz}"); no longer compiles"
I tried this code:

[code]

I expected to see this happen:
This used to compile with edition 2018 and 2021 until `rustc 1.60.0-nightly (734368a20 2022-02-07)`

Instead, this happened: (edition 2021)
https://github.com/matthiaskrgr/cargo-cache/blob/a9b9f30fe6726390288c2337663409adc666a8a3/src/date.rs#L179

[code]

I'm not sure why this didn't pop up in the crater run for https://github.com/rust-lan

[2022-02-08 07:01] scottmcm commented on #85532
@Stovent Small method additions, especially ones that follow existing patterns, you can generally just send a PR.  As a rough heuristic, if it's easier to write the PR than an RFC, then do that -- the exception being things with broad impact, like traits or generally anything that would change conventions for how things are done in the ecosystem.

But if you have any questions, you can always ask

[2022-02-08 07:36] Funky185540 commented on #92400
I noticed this behavior, too. I can reproduce it on:

- Firefox, version 96.0.3
- Tor, version 11.0.4 (based on Firefox 91.5.0esr)

It does not happen on:

- Epiphany, version 41.3 (i.e. GNOME Web)

Which makes a Bug in Firefox all the more likely.

[2022-02-08 07:49] robjtede commented on #92400
I did notice this but it seems to be fixed in the latest nightly Firefox build. I can reproduce on stable Firefox on the `walkdir` page that @ehuss referenced but not on nightly.

Regardless, it can be prevented pretty easily with `overflow-y: hidden`.

[2022-02-08 07:51] HunterGitHub commented on #93733
thanks very much for your explain. I found it's my mistake to think that lifetime `'txt` describe the "Text" instance, it should be used to describe the reference itself as "The Book" said.

In a strict logic, I think it act like this:
since
   lifetime(r) <= lifetime(r.ptr) <= lifetime(txt) <= lifetime(txt.content).  and
   lifetime(r.ptr) == lifetime(txt.content) == 'txt
so
   lifetime(r) <= lif

[2022-02-08 08:35] petrochenkov commented on #79766
Copypasting from https://github.com/rust-lang/rust/pull/93730#issuecomment-1032345854:

[2022-02-08 08:45] petrochenkov commented on #79766
Clang, for example, has an equivalent of `#[recursion_limit]` for this case and shows this error by default
[code]
and then also overflows its stack if `-fbracket-depth` is increased to 3000.

[2022-02-08 09:17] RalfJung commented on #93688
Okay so it looks like possibly we should adjust the "downcast" projection(s) to verify that the place has the right variant, and `throw_ub!` otherwise? Then evaluating `None as Some` would fail and ConstProp would not touch that code, I think.

[2022-02-08 09:39] RalfJung commented on #93761
Looks related to https://github.com/rust-lang/rust/issues/92137

[2022-02-08 10:03] GuillaumeGomez commented on #93309
It'll be fixed by #93309.

[2022-02-08 10:05] #93115 closed

[2022-02-08 10:05] #93528 closed

[2022-02-08 10:05] #93578 closed

[2022-02-08 10:05] #93662 closed

[2022-02-08 10:05] #93309 closed

[2022-02-08 10:05] GuillaumeGomez commented on #93058
I'll do it once I'm done with https://github.com/rust-lang/rust/pull/90630.

[2022-02-08 10:08] GuillaumeGomez commented on #92986
It seems it has been done already (can't find the PR though...). Closing.

[2022-02-08 10:12] petrochenkov commented on #93698
Fixed in https://github.com/rust-lang/rust/pull/93766.

[2022-02-08 10:24] jsha commented on #92986
Hasn't been done yet. See for instance this example in https://doc.rust-lang.org/nightly/std/fs/struct.File.html:

![image](https://user-images.githubusercontent.com/220205/152968289-c04589fe-0b00-4734-86da-e42bc0293ae7.png)

It's all plain links; we'd prefer them to be a list.

[2022-02-08 10:31] GuillaumeGomez commented on #92986
Oh I see, missed that. Reopening and I'll do it too.

[2022-02-08 10:35] jsha commented on #38101
/cc @camelid who might be interested because it's similar in nature to #92699.

[2022-02-08 10:45] matthiaskrgr commented on #93761
Ah so I guess this is expected breaking change then :sweat_smile:
closing.

[2022-02-08 10:45] #93761 closed

[2022-02-08 10:59] sdroege opened #93770 "Nested mutex guards with dropping and re-assigning confuse the borrow checker"
I tried this (minimalized) code:

[code]

I expected to see this happen: code compiles fine

Instead, this happened:

[code]

Removing the usage of `c` in the very end (the `println!`) makes the code compile as expected, but that's of course not useful:
[code]

Similarly not dropping `b` and reassigning it later also compiles fine (i.e. the dropping/reassigning of `c` can stay around):

[code]

Th

[2022-02-08 11:13] compiler-errors commented on #93688
@RalfJung yup that sounds correct. do you want me to make that change?

[2022-02-08 11:52] In-line opened #93771 "Match and if checking for range of integer values isn't optimized to lookup table"
I tried this code:

[code]
https://rust.godbolt.org/z/r9hvh6arW

I expected to see this happen: Code optimized to simple table lookup, like here https://godbolt.org/z/6snjG7EM8

Instead, this happened: Code compiled to series of conditional jumps

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

[2022-02-08 11:53] roblabla opened #93772 "Win32 Alternate data streams don't work with Command in Rust 1.58.0"
Since Rust 1.58, code using `Command` to spawn new processes that live in an alternate data stream on Windows fails to work. Alternate Data Streams are files that have a `:suffix`, such as `filename.exe:alt`.

### Code

This is the code that fails:

[code]

I expected to see this happen: The command spawns properly and executes the find.exe code

Instead, this happened: The unwrap fails with

[cod

[2022-02-08 12:09] Urgau commented on #93772
I believe this is now the excepted behavior: [Windows: Resolve process::Command program without using the current directory](https://github.com/rust-lang/rust/pull/87704/)
I don't thing this has anything to do with Alternate Data Streams, but just the fact that the process is no longer resolved using the current working directory.

You could check if it works by making the executable explicitly re

[2022-02-08 12:11] petrochenkov commented on #83761
`Self` is a difficult case due to the way in which rustdoc deals with it currently.
Another branch in progress (https://github.com/petrochenkov/rust/tree/doclinkself) attempts to avoid the textual replacement of `Self::` that is currently done by rustdoc with resolving `Self` to a type at type-checking time, without involving `Resolver` at all.
So it's a pre-requisite for the [doclink2](https://gi

[2022-02-08 12:20] ChrisDenton commented on #93772
Indeed. The [release notes for 1.58](https://blog.rust-lang.org/2022/01/13/Rust-1.58.0.html#reduced-windows-command-search-path) gives the motivation for why the current directory is no longer used. In short, it was considered a security risk.

[2022-02-08 12:44] #93772 closed

[2022-02-08 12:49] #92286 closed

[2022-02-08 13:31] graymalkin opened #93773 "Unexpected behaviour for memory layout of discriminants in enums"
Hi, I've been looking at the implementation of enums and their memory layout. I've noticed something which surprised me and seems a little inconsistent. It's hard to tell if this behaviour is good/neutral/bug, so apologies if this is not the right place to raise it.

[code]

Looking at the layout information for this struct, I can see that the discriminant is laid out as an `I8` type:

[code]

Thi

[2022-02-08 13:32] steffahn opened #93774 "Compiler (effectively) hangs, regression from overflow error"
[code]
hangs since `1.56`
error [on `1.55`](https://godbolt.org/z/Er3v1xrPd)
[code]

@rustbot label I-hang, regression-from-stable-to-stable, A-traits, A-lifetimes, E-needs-bisection, T-compiler

<hr>

_Edit:_

“Hangs” means “runs for a wile on 100% CPU until I cancel it”. Who knows if it would ever terminate… actually, maybe I should test smaller recursion limits.

Note that this code example is

[2022-02-08 14:10] Aplet123 opened #93775 "Segfault in evaluating associated trait constants for deeply nested types"
The following code segfaults rustc (tested on rustc 1.60.0-nightly (5e57faa78 2022-01-19) and rustc 1.58.1 (db9d1b20b 2022-01-20)):
[code]
The type is nested 1000 times. Note that this only segfaults for associated constants. Functions are fine:
[code]
This successfully compiles and prints `1000`.

[2022-02-08 15:38] rvthak opened #93777 "Compiler panic based on Cargo.toml"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-08 16:03] rvthak opened #93779 "Minor: Compiler panic based on Cargo.toml "version" value"
### Minimal reproduction

The bug appears while following this tutorial:
https://docs.elrond.com/developers/tutorials/crowdfunding-p1/

1. Install Elrond IDE extension on vscode
(https://marketplace.visualstudio.com/items?itemName=Elrond.vscode-elrond-ide)

2. On terminal:
`erdpy contract new crowdfunding --template adder`
`code crowdfunding`

3. Open file Cargo.toml
4. Set "version" to "0.0.1"
5.

[2022-02-08 16:53] adamgemmell commented on #86941
Sorry for the silence on this issue for a while. The implementations should be mostly up to date now. I'll summarise my open PRs for this in one place:

Runtime detection macro:
- https://github.com/rust-lang/reference/pull/1061 An small Rust Reference update to mention the macro.
- https://github.com/rust-lang/stdarch/pull/1239 Stabilises the macro (minus pauth) in stdarch.
- https://github.com/r

[2022-02-08 17:13] pushkine commented on #92827
Hello!
Is there a corresponding RFC, or any context whatsoever concerning those changes ?
This is the first occurrence of language syntax change that is not backed by RFC and community feedback
@Centril @oli-obk

[2022-02-08 17:17] ehuss commented on #93777
Closing as I presume this was a mistake (#93779)

[2022-02-08 17:17] #93777 closed

[2022-02-08 17:22] oli-obk commented on #92827
Well, we have https://github.com/rust-lang/rust/issues/70256 which indeed has basically no discussion of the feature. It just seemed like an oversight to have associated types + associated type bounds, but only associated consts without any bounds for them.

[2022-02-08 17:42] ehuss opened #93784 "rustdoc-gui tests sporadically failing"
The `src/test/rustdoc-gui` tests have been sporadically failing on CI:

* https://github.com/rust-lang/rust/pull/93778#issuecomment-1032804754
* https://github.com/rust-lang/rust/pull/93778#issuecomment-1033131524
* https://github.com/rust-lang/rust/pull/93626#issuecomment-1031823968
* https://github.com/rust-lang/rust/pull/93677#issuecomment-1030708214
* https://github.com/rust-lang/rust/pull/937

[2022-02-08 18:13] ehuss commented on #92667
Closing, as I confirmed this has been fixed by #92533, and is essentially a duplicate of the other issues.

[2022-02-08 18:13] #92667 closed

[2022-02-08 18:19] GuillaumeGomez commented on #93309
Sure. But that for that, please open an issue on [docs.rs](github.com/rust-lang/docs.rs) repository directly.

[2022-02-08 18:20] RalfJung commented on #93688
One thing I am wondering about is if this will work correctly for generators -- the have more complicated variants than enums do, and maybe there are situations there where projections to the "wrong" variant are actually okay? Cc @tmandry

[2022-02-08 18:21] GuillaumeGomez commented on #93784
That is concerning... If it happens too many times, let's revert it.

[2022-02-08 18:24] arslan-raza-143 opened #93785 "Tracking Issue for XXX"
This is a tracking issue for the RFC "XXX" (rust-lang/rfcs#NNN).
The feature gate for the issue is `#![feature(FFF)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions

[2022-02-08 18:28] tmiasko commented on #93688
@RalfJung are you proposing to declare downcast to an inactive variant to be undefined behaviour? This is probably larger change, in a sense that it would be incompatible with how downcast is currently used:

* In generators each field is accessed through a single representative variant, regardless of the current variant.
* Aggregate enum assignments are lowered to a field-wise assignments (using

[2022-02-08 18:46] ChrisDenton commented on #58713
Would it be possible for std lib to start using "raw-dylib" for its own Windows dll imports? Or would there be issues with that?

[2022-02-08 18:51] jeremyBanks opened #93786 "#[main] attribute was unintentionally stabilized (as no-op) in 1.53.0"
### Code

I tried this code:

[code]

I expected an error, because the main attribute has never been available on stable, and had apparently been removed in #84217.

Instead, the program ran without error, although the attribute has no apparent effect.

### Version it worked on

It most recently worked as expected (emitting an error) on Rust 1.52.1:

[code]

### Version with regression

This stopp

[2022-02-08 18:52] clemenswasser commented on #58713
This would probably be the first step in this direction:

The only thing left then would be implementing standalone VS CRT initialization code.

[2022-02-08 18:59] jeremyBanks commented on #93786
Copying over @pnkfelix's https://github.com/rust-lang/rust/pull/93753#issuecomment-1032576085 from the PR:

[2022-02-08 19:01] ChrisDenton commented on #58713
For sure but I mean if I, hypothetically, submitted a PR today that changed all Windows imports to use raw-dylib, would anything be expected to break? Is it too early?

IIRC, it's quite possible that the VS CRT could be made open source later this year. If that does happen (and depending on the license) it may make things easier.

[2022-02-08 19:04] bjorn3 commented on #58713
I think that would make mingw builds start to have a hard dependency on dlltool. I think it is normally available, but I can imagine it isn't available in some cases.

[2022-02-08 19:07] JulianKnodt commented on #92827
I probably should've tagged the original issue in this at the start (it was in the original PR if I remember correctly) but I'm bad at leaving a thorough paper trail. I'll add a reference to the original issue in the issue itself, and if there's more work that needs to be done please let know

[2022-02-08 19:20] joshtriplett commented on #47384
We discussed this at length in the @rust-lang/lang meeting. Based on our understanding of the issue, it sounds like there are two separate issues here:

1) The `#[used]` attribute has never guaranteed that a symbol will make it *through* the linker, and there are circumstances where it won't; we might want to either guarantee that or add a new attribute that guarantees that.
    - Complicating fac

[2022-02-08 19:21] oli-obk commented on #92827
You did everything correctly. I found the issue because you did link it in the first sentence in this issue 😄

We should probably do a lang team MCP for it along with some medium sized doc explaining what is going on and why. I'll open a hackmd and then we can collab on it

[2022-02-08 19:23] joshtriplett commented on #47384
Speaking for myself (without lang team hat), I'd be hesitant to adopt a design for `#[used]` that has substantially different semantics on different targets; in particular, making it mean "retain" on non-ELF platforms but not on ELF platforms seems error-prone and more difficult to work with. I'd prefer to have `#[used]` always mean one thing, and then add a different attribute for the other meani

[2022-02-08 19:35] Enselic commented on #93524
It is not quite that simple unfortunately, because an item can have many "parents". Consider this code in`src/lib.rs`:

[code]

The rustdoc JSON will be (some details omitted):

[code]

So if you were to encounter only `"0:4"`, you would not know what parent is "correct".

[2022-02-08 19:38] mitsuhiko commented on #47384
@joshtriplett it seems to me that in practice (after the regression was fixed) it will always mean different things on different platforms as not every platform’s linker will aggressively throw away unreferenced things.

Anything involving the linker is likely to always have some platform specific stuff going on.

[2022-02-08 19:40] yaahc commented on #89261
fixed by https://github.com/rust-lang/rust/pull/91752

[2022-02-08 19:40] #89261 closed

[2022-02-08 19:54] the8472 commented on #91417
But the documentation says:

So the consequence would seem that we can any range and precision limitations from the underlying type and thus rounding errors are part of the API? I don't see the benefit of it, but it's documented.

[2022-02-08 20:17] yaahc commented on #87707
I think we could add it, we'd just need to run a perf test to make sure there are no obvious regressions, and adding it doesn't mean we won't remove it in the future if people come back and start complaining about the perf impact.

[2022-02-08 20:21] joshtriplett commented on #80967
It does seem like the rough consensus in this thread is that while nobody is *thrilled* with any particular choice of naming at this point, many people would like to have the method.

Let's see if we have some level of consensus on that. Shall we stabilize the method `bool::then_some`, under its current name?

@rfcbot merge

[2022-02-08 20:32] Diggsey commented on #47384
@mitsuhiko I think it can always be phrased in terms of "guarantees" in a platform independent way. eg. `#[used(linker)]` *guarantees* that a symbol will make it through the linker, but it's absense doesn't necessarily mean it will be thrown away either.

[2022-02-08 20:33] matthiaskrgr opened #93788 "ICE: glacier fixed/62529-07.rs"
### Code
from glaicer `fixed/62529-07.rs`
[code]

### Error output

[code]

[code]
cc @oli-obk   / https://github.com/rust-lang/rust/pull/92007

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-08 20:46] nagisa commented on #47384
There are use-cases in at least embedded space, where it is useful to guarantee that `#[used(compiler)]` does not force a symbol to make it through the linker. That said: this kind of guarantee probably isn't super relevant to the current T1/T2 targets; and once that sort of control is necessary, its probably a good time to look into the ways toolchain provides to customize the linker behaviour ex

[2022-02-08 20:49] hkratz commented on #91417
It is documented for Instant, yes. But we do allow arithmetic operations (+/-) between Duration and Instant leading to those problems, that - at minimum - violate the principle of the least surprise. It is exacerbated by the fact that Linux, Windows and macOS x86-64 (de facto because numer and denom are both 1) all use nanosecond resolution.

We should just use `clock_gettime_nsec_np(CLOCK_UPTIME_

[2022-02-08 20:57] Urgau commented on #93524
Yes many relative "parents" but there is only one absolute parent. Ex: a struct `A` is defined in the module `my_mod` with a re-export from a another module, in this case the parent of `A` is `my_mod` and nothing else.
Here parent should be seeing as where the item was defined. A item can only be defined in one place and so can only have one parent.

[2022-02-08 21:00] FloLo100 commented on #47384
Would it be permissable to support #[used(linker)] on selected targets only? Alternatively, picking up @thomcc's ideas, every target should support symbol retention by adding a mock-function to the core module.

[2022-02-08 21:21] tmiasko commented on #83670
The ICE "Failed to get crate data" is already fixed.

Additionally it seems like you might be running into an issue where procedural macros are being instrumented. This can be avoided by passing `--target ...` flag to cargo, e.g., `env RUSTFLAGS=-Zsanitizer=address cargo build --target x86_64-unknown-linux-gnu`.

[2022-02-08 21:21] #83670 closed

[2022-02-08 22:38] steffahn commented on #92765
Note my remark and question here: https://github.com/rust-lang/rust/pull/93769#discussion_r801580205

I feel like "creates a draining iterator" does more accurately describe the situation. On second thought, and looking at the existing documentation you linked, I do actually agree that those are easier to understand. The tracking issue you link is quite long, so I don't feel like reading through a

[2022-02-08 22:43] steffahn commented on #92765
That seems like a non-issue to me. Conventionally, dropping one thing should *never* result in leakage of a different thing, unless (that's explicitly documented). To quote myself in a different reply in your PR:

[2022-02-08 23:01] yerke commented on #87799
@rustbot claim

[2022-02-08 23:01] c410-f3r commented on #83701
Is there anything left holding up stabilization? I guess enough public testing is not a concern anymore

[2022-02-08 23:17] adetaylor commented on #73295
Related:
https://github.com/rust-lang/rust/issues/47384
https://github.com/rust-lang/rust/pull/91504
https://github.com/rust-lang/rust/issues/40289

[2022-02-08 23:26] nnethercote commented on #80406
First, this memory is still reachable, so it's not a true leak. You have to run Valgrind with `--show-leak-kinds=all`/`--show-leak-kinds=reachable` to even see these listed individually, and you have to run Valgrind with `--errors-for-leak-kinds=all`/`--errors-for-leak-kinds=reachable` to have then considered as actual errors. Only people who are very particular about not having any unfreed memory

[2022-02-08 23:28] joshtriplett commented on #80406
@nnethercote Thank you for clarifying the nature of the valgrind warning here; I agree that we should worry less about "reachable" leaks, though we should add a suppression for them.

[2022-02-08 23:39] nnethercote commented on #80406
Yes, these are "true" memory leaks and should be fixed it any code under our control.

[2022-02-08 23:52] thomcc commented on #47384
@joshtriplett Yeah, I agree. In practice, I think the only one we have a shot at making consistent is ensuring the symbol makes it to the binary (e.g. what we've called `#[used(linker)]`).

The version that allows the symbol to be dropped (e.g. `#[used]` as specified, and what's been called `#[used(compiler)]`) leaves the behavior up to the linker, which is going to behave in a way that is platfor

[2022-02-09 00:15] nbdd0121 commented on #83701
There is a discussion on Zulip about this: https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/Stabilization.20of.20.60explicit_generic_args_with_impl_trait.60

[2022-02-09 00:39] mzji commented on #58713
Note that at least MSVC target has a hard dependency of SEH facility provided by MSVC C runtime library - for more information, go to check `seh.rs` in the `panic_unwind` library.

[2022-02-09 02:02] simonbuchan commented on #58713
Specifically, for those that don't want to look, for MSVC targets LLVM always emits the exception personality as the CRT implemented `_CxxFrameHandler3`.

I suppose you should be able to manually implement that in rust, if you're some kind of complete lunatic?

[2022-02-09 02:24] mzji commented on #58713
Required functions actually are more than just `_CxxFrameHandler3` :
![图片](https://user-images.githubusercontent.com/23279426/153109217-1b6a366b-17a2-45e3-9782-cd614b2b6a49.png)
Look at this import info, which is about the released version of most recent ripgrep built on MSVC target. Except those mem* functions, all remaining functions imported from `VCRUNTIME140.dll` are SEH-related.

[2022-02-09 02:31] pierwill opened #93792 "Document `rustc_index::vec::IndexVec`"
[`rustc_index::vec::IndexVec`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_index/vec/struct.IndexVec.html) is used in 103 files in the compiler, yet it lacks documentation.

[2022-02-09 04:22] joshtriplett commented on #47384
To clarify something here: the language team didn't make a decision *against* having `#[used]` mean `#[retain]`; rather, we'd like to separate the regression fix from any change to the semantics of `#[used]`.

[2022-02-09 04:38] compiler-errors commented on #93278
@rustbot claim

[2022-02-09 04:58] wwylele opened #93794 "Nightly fails to infer the type of iterator collect & impl IntoIterator, and gives confusing error message"
### Code

I tried this code:

[code]

I expected to see this happen: The code compiles (as it does on stable and beta). The compiler could infer the return type from the first return statement (`Vec<()>`), and successfully collect the iterator into it in the second return.

Instead, this happened:
The compiler seems to have trouble to infer the type of the second return, and gives confusing messag

[2022-02-09 05:14] #93785 closed

[2022-02-09 05:21] Enselic commented on #93524
What you call the "absolute parent" is not always present in the rustdoc JSON output though. For example in the sample code above, because `mod m` is not `pub`. I use this command: `RUSTDOCFLAGS='-Z unstable-options --output-format json' cargo +nightly doc --lib --no-deps`.

Should we simply omit `parent_id` in that case? That doesn't seem quite right either.

[2022-02-09 06:11] compiler-errors commented on #93794
cc #92007

[2022-02-09 07:55] nnethercote commented on #80406
Oh, I overlooked the fact that this PR is over a year old. I guess the lack of additional comments confirms that it's something of a niche issue.

[2022-02-09 08:48] mati865 commented on #58713
I believe windows-gnu implementation is incomplete: https://github.com/rust-lang/rust/pull/90782#issuecomment-1011267153
This should work for building std as part of rustc since we build it with full C toolchain but for any crate that wants to rebuild std or reuse its code that would be problem.

Dlltool is part of binutils so one can expect it to always exist.

[2022-02-09 09:09] lqd commented on #93794
cc @oli-obk

[2022-02-09 09:19] mfrw commented on #93792
@rustbot claim

[2022-02-09 09:20] Perksey commented on #67939
Are there any major outstanding issues now that the clarification PR #84083 was merged?

[2022-02-09 09:28] lcnr opened #93796 "`Self` with type aliases could emit a better error"
[code]
results in
[code]
it may makes sense to add a "forbidden" rib to type aliases which contains `Self` and emits a better error for this or at least adds a note like "`Self` cannot be used to refer to type aliases"

[2022-02-09 09:32] michaelwoerister commented on #63713
OK, so the main goal here is to implement a map and a set type that satisfies the `HashStable` requirement that any observable change to its value will also result in a change to its `Fingerprint` (and that two values that have observable differences are also different according to `PartialEq/Eq´).

Currently HashMap, HashSet, BTreeMap, and BTreeSet [all implement HashStable](https://github.com/ru

[2022-02-09 09:41] hasezoey opened #93797 "Nightly Complier error "should have just one matching element""
### Code

Some code that uses crate `guppy@0.7.2`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[code]

</p>
</details>

---

I noticed that my github actions failed while trying to compile `guppy` with the nightly compiler

Github CI Run: https://github.com/hasezoey/new_string_template/runs/5122745994

[2022-02-09 09:41] #93648 closed

[2022-02-09 09:58] nikic opened #93798 "Tracking Issue for `used_with_arg`"
The feature gate for the issue is `#![feature(used_with_arg)]`.

This extends the existing `#[used]` attribute with two variants `#[used(compiler)]` and `#[used(linker)]`:

* The `#[used(compiler)]` attribute indicates that the symbol should be considered used at the compiler level. It should not be eliminated by the compiler even if it appears unreferenced. This attribute guarantees that the symb

[2022-02-09 10:27] Urgau commented on #93524
This will solved by https://github.com/rust-lang/rust/pull/93518 who will introduce the [`StrippedModule`](https://github.com/rust-lang/rust/pull/93518/files#diff-ede26372490522288745c5b3df2b6b2a1cc913dcd09b29af3a49935afe00c7e6R195-R197) item.

I have already been locally experimenting with https://github.com/rust-lang/rust/pull/93518 and `DefIdTree::parent`, and it seems to work (decently) well.

[2022-02-09 10:30] oli-obk commented on #93794
Amazing. Yea I can totally see how this would happen.

[2022-02-09 10:42] simonbuchan commented on #58713
Hmm, what would be the implication of getting LLVM to emit a `RustFrameHandler` and `RustThrowException`, etc? It seems like Windows only cares about you using SEH, and throwing across FFI is already undefined, right?

Probably something nightmarish, it tends that way in these areas.

[2022-02-09 10:45] RalfJung commented on #63713
Shouldn't the BTree collections be fine, since their iteration order is given by `PartialOrd`, which needs to be compatible with `Eq`?

[2022-02-09 10:48] RalfJung commented on #93688
Yes, basically.

But it seems like that plan won't work. Interesting. I should probably add a comment in the code explaining why this is not currently considered UB.

Well then it seems the best we can do for this ICE is to make the printing code more robust. It is anyway a good idea to be able to print invalid values; otherwise, *debugging* invalid values can be quite frustrating.

[2022-02-09 11:13] IvanKharpalev opened #93801 "Call Box with FnMut closure requires explicit dereferencing"
I tried this code:

[code]

I expected it to compiles OK, because Box implements FnMut if its content implements it.

Instead, (*b)() is Ok, but b() -- is not!

`rustc --version --verbose`:
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9ba611033bfc2e2cb584de6be5970576)

[2022-02-09 11:38] ssomers commented on #92765
It starts even earlier than I thought: e.g. [it's mentioned as an argument to let `drain_filter` do drain-on-drop](https://github.com/rust-lang/rust/issues/43244#issuecomment-641638196-permalink) and lead to https://github.com/rust-lang/rfcs/pull/2369. The currently [last post in #43244](https://github.com/rust-lang/rust/issues/43244#issuecomment-1007539976-permalink) most clearly lists the expect

[2022-02-09 11:51] ssomers commented on #92765
For my 3rd bullet, I think it's imprecise (I'd use vague) because leaking is listed as one of the normal ways to use the iterator.

[2022-02-09 12:43] bjorn3 opened #93806 "Put crate metadata first in rlibs whenever possible"
In the past rlib metadata had to be the last archive member as the linker stops at the first non-object member. The rlib metadata has somewhat recently been changed to be wrapped in an object file on most platforms, which allows it to be anywhere in the rlib. Putting it first would allow for quicker metadata reading as it would no longer be necessary to read the header of every archive member to f

[2022-02-09 12:45] ssomers commented on #92765
For clarity, I'm not claiming with any authority that `Vec::Drain` does not do drain-on-drop. I'm saying its description (contract, design) does not require it to do anything on drop, apart from dropping unconsumed items and a vector buffer just like any `IntoIter`. The fact it (currently) takes a mutable borrow allows it to do something on drop, suggests that it does something on drop, and the cu

[2022-02-09 13:32] anatawa12 opened #93807 "I can use never_type on stable"
I tried this code:

[code]

According to [API doc for never] and [tracking issue] (B-unstable), I think `never_type` is not stabilized yet. However, I can use never type with stable rustc. Is it expected behavior? If `never_type` is already stabilized, can you document on tracking issue or [rust stable book]?

[API doc for never]: https://doc.rust-lang.org/std/primitive.never.html
[top comment of

[2022-02-09 13:47] fmease commented on #93807
The never type is allowed as direct return type since at least 1.0. [The Rust Reference](https://doc.rust-lang.org/stable/reference/types/never.html#never-type).

[2022-02-09 13:47] bjorn3 commented on #93807
Using it as return type has been stable since rust 1.0, long before it was conceived as actual type. It was originally intended simply as marker of a diverging (never returning) function. Later an RFC was accepted to promote it to a regular type that can used in other contexts.

[2022-02-09 13:47] #93807 closed

[2022-02-09 13:50] jgarvin commented on #67939
After examining the discussion at #84083 and the associated commit it's still not obvious to me how the ID works for threads created outside Rust. @joshtriplett mentions that only being able to access the ID via `thread::current` helps, but I'm not sure how. Does `thread::current().I'd()` lazily allocate a unique ID? If it uses TLS to do so is it safe even on platforms that can deallocate and then

[2022-02-09 13:53] bjorn3 commented on #93779
This is probably related to incremental compilation. I think thid specific issue has already been fixed on nightly (and maybe beta) It is probably unrelated to `version`. I think it perturbed the input to rustc just enough to cause this issue.

[2022-02-09 13:58] bjorn3 commented on #93740
Please make sure you implement a fair or eventually fair (this is what parking lot does and needs the hashmap for) lock to prevent starvation.

[2022-02-09 14:06] nbdd0121 commented on #93740
I don't think pthread mutexes are fair so the new implementation shouldn't be required to be fair either.

[2022-02-09 14:24] zjb0807 opened #93811 "Vec insert ignore semicolon"
I tried this code:

[code]

I expected to see this happen: build error in `vec.insert(1, 4)` without `;`

Instead, this happened: success.

[2022-02-09 14:29] spacejam opened #93812 "source files sidebar open/close animation is very slow and obscures source view"
The slow open/close animation which then obscures the text of the viewed source is a bit distracting, and makes it difficult for me to use the source view feature of docs.rs

If it simply displayed to the side of the source, without hiding the code that is the goal of having opened the menu in the first place, the slow animation would not be an issue. I don't see a way to take advantage of the vie

[2022-02-09 14:55] zseri commented on #47384
@FloLo100

Although I certianly think that that's possible, I don't think it would be a good solution, because it would be brittle;
It might make sense (if this solution were to be chosen) that a `cfg` variable is added which would make it possible to determine if a platform is supported. I think it would be better if the compile would try hard to ensure that `#[used(linker)]` symbols are retained

[2022-02-09 14:57] ehuss commented on #93811
This is expected behavior. When the semicolon is not included as the last statement in a block, the value of the block is that last expression.  In this case, the value of `vec.insert()` is `()`.   An `if` expression evaluates to whichever block is executed, or `()` if neither is.  The `()` is effectively ignored.

I'm not sure if a warning would be worthwhile here.  For the most part, this is har

[2022-02-09 14:59] spacejam commented on #93812
@Nemo157 my mistake, thank you for transferring this issue <3

[2022-02-09 14:59] nbdd0121 commented on #47384
What would `#[used(linker)]` mean for staticlibs? In this case archive member selection is outside Rust's control (unlike rlibs that are used by bin/cdylib), so it seems impossible to "guarantee" a consistent `#[used(linker)]` behaviour.

[2022-02-09 15:07] ehuss commented on #93797
Thanks for the report!  This has been fixed by #93783 and should be in the next nightly.

[2022-02-09 15:35] nbdd0121 commented on #47384
This is not true. This simple gist will only produce "A" despite a ctor that prints B exists: https://gist.github.com/nbdd0121/0f0bae5f4e3e2b3b8695f51eee523f19. If an object file in an archive provides no undefined symbols then it is irrelevant and wouldn't participate in linking.

`.ctors` is no different from the `STATIC` symbol in OP's snippet: it is just a section that linker script uses `KEEP

[2022-02-09 15:38] pnkfelix commented on #93792
@mfrw happy to see you claim this. I figure I'll just note: If you're wondering about the motivation, it wouldn't hurt to review the commit that introduced the `IndexVec` and `Idx` abstractions: https://github.com/rust-lang/rust/pull/34149/commits/bc1eb67721a842d62bec8e879aad339fd22fe3c6

[2022-02-09 15:46] thomcc commented on #93740
SRWLOCK is also unfair too, `pthread_mutex_t` depends (POSIX doesn't require it, apple has it, I believe glibc doesn't)... So this would mean we need to a parking lot everywhere, even if the OS has otherwise good locks (like with Window's SRWLOCK).

More generally: There are a bunch of locking features that would be nice to have in an ideal world, but I think they start becoming contradictory, or

[2022-02-09 15:48] mfrw commented on #93792
Appreciate the pointer :)

[2022-02-09 16:20] hkratz commented on #93740
Apple switched the default from PTHREAD_MUTEX_POLICY_FAIRSHARE_NP to the newly introduced PTHREAD_MUTEX_POLICY_FIRSTFIT_NP in macOS 10.14 (iOS and tvOS 12.0, watchOS 5.0), so they are not fair for recent macOS either.

[2022-02-09 16:38] pushkine opened #93817 "Struct literals are forbidden in MatchExpressions (`feature(if_let_guard)`)"
# Bug Report

### 🕗 Version & Regression Information

nightly

### 🧪 Features

- `if_let_guard`

### 💻 Code

[Playground Link](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=4ddc2d6ffd0202445dd8c3a3e6bdfa4d)

[code]

### 🙁 Actual behavior

[code]
[code]

### 🙂 Expected behavior

No error

[2022-02-09 17:55] Amanieu commented on #32976
While preparing the stabilization PR I noticed that `target_has_atomic_equal_alignment` is also covered by this feature flag. This cfg indicate whether e.g. `AtomicI64` has the same alignment as `i64`.

This was added in #76965 for the unstable `from_mut` method on atomic types. I don't think was want to stabilize this CFG at this time.

cc @m-ou-se .

[2022-02-09 17:57] hawkw opened #93821 "#92007 appears to break inference for previously compiling code"
PR #92007 e7cc3bddbe0d0e374d05e7003e662bba1742dbae appears to break type inference in code that compiled on previous nightlies. This was found via a build failure in `tracing`'s CI after updating to nightly-2022-02-08: https://github.com/tokio-rs/tracing/runs/5129006951?check_suite_focus=true#step:4:530

### Code

This test (https://github.com/tokio-rs/tracing/blob/0d4acb25b6162fc64c84dbaca9cac714

[2022-02-09 18:06] Amanieu opened #93822 "Tracking Issue for `cfg_target_has_atomic_equal_alignment`"
This is a tracking issue for the `target_has_atomic_equal_alignment` CFG flag which was added in #76965 for `Atomic*::from_mut`.

It indicates whether an `AtomicX` has the same alignment as the equivalent `X` integer type. On some 32-bit platforms (e.g. x86) `AtomicI64` has an alignment of 8 while `i64` is only aligned to 4 bytes.

---

Potential design concerns:

* Open question of whether a dedi

[2022-02-09 18:07] Amanieu commented on #32976
I opened #93822 for that.

[2022-02-09 18:08] jyn514 opened #93823 "ICE bootstrapping rustc with incremental cache"
### Code

https://github.com/jyn514/rust/commit/0fa56d77280a959f6cd2a9c07942b8a3223dec1f
with this diff applied:

<details>

[code]

</details>

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2022-02-09 18:18] joshtriplett commented on #43561
Paging @nikomatsakis, it would help to have a summary of this to know what state it's in and whether it's on a path to stabilization.

[2022-02-09 18:19] scottmcm commented on #43467
We discussed this in the lang team backlog bonanza today.

We'd like to make progress on this one, but were unsure exactly where things stood related to these around the big questions like whether pointers are thin and ptr::null works (did https://rust-lang.github.io/rfcs/2580-ptr-meta.html change anything here?), whether `size_of_val` would panic, and related.

Is anyone interested here in summar

[2022-02-09 18:20] joshtriplett commented on #43596
Tagging as needs-summary; it'd help to know the current state of this so we can understand what it would take to stabilize this.

[2022-02-09 18:24] joshtriplett commented on #44265
The last unresolved question should get settled by #90076; this could use a summary of any remaining blockers to stabilization.

[2022-02-09 18:31] joshtriplett commented on #44491
We discussed this in today's @rust-lang/lang backlog bonanza. We still care about the unresolved questions, but we would be happy to see this implemented so people can start experimenting with it.

[2022-02-09 18:33] matthiaskrgr commented on #93727
Closing as this does not crash on latest nightly `rustc 1.60.0-nightly (0c292c966 2022-02-08)`
[code]

[2022-02-09 18:33] #93727 closed

[2022-02-09 18:36] compiler-errors commented on #93823
+1, I've been getting these all the time when bootstrapping rust. Basically always have to `./x.py clean` before building after a nontrivial change.

I think this might be related to the the issues that @Aaron1011 was fixing like last month about incremental compilation bugs on nightly (e.g. #92534) but which aren't on beta yet, which we use to bootstrap?

[2022-02-09 18:40] joshtriplett commented on #44580
Thanks to @lcnr for the ongoing excellent summaries!

[2022-02-09 18:42] Amanieu commented on #43596
It's not implemented yet. The implementation PR is #88098 and is waiting for review.

[2022-02-09 18:43] jyn514 commented on #93823
@compiler-errors you can make it much faster to rebuild by running `rm -r target/x86_64-unknown-linux-gnu/stage0-rustc/x86_64-unknown-linux-gnu/release/incremental/` instead of a full x.py clean

[2022-02-09 18:45] OccationalDev opened #93826 "Nightly compiler error "thread 'rustc' panicked at 'no errors encountered even though `delay_span_bug` issued'""
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
Noticed this when trying to build a project using Rocket. I have confirmed that using `nightly-2022-02-07` does in fact compile and work.
</p>
</details>

[2022-02-09 19:00] ojeda commented on #60705
There was https://lore.kernel.org/lkml/20220201185054.1041917-1-german.gomez@arm.com/, but German notes:

[2022-02-09 19:01] scottmcm commented on #44524
With the FCP completed here, this is currently open because the feature still exists in the compiler, with the tracking issue number referencing this item:

https://github.com/rust-lang/rust/blob/9747ee4755e6e3c4b4b4c7a0587df29123835cda/compiler/rustc_feature/src/active.rs#L401

We're unsure how difficult it will be to remove the code about this from the compiler, but if anyone is interesting in p

[2022-02-09 19:03] joshtriplett commented on #44930
Nominating this for the next @rust-lang/lang meeting, so that we can make a decision about what targets need to be supported before we stabilize this.

In the past, for things like `i128`/`u128`, we added and stabilized a mechanism without waiting for every last target to implement it. I think we need to do something similar here, rather than waiting for *every* target to completely implement `...

[2022-02-09 19:03] dunglas opened #93828 "Syntactically invalid suggestion for "help: consider further restricting this bound""
Hi there!

Given the following code:  https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a4dec9e7f93eb65805bcd2d986ba009e

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The generated code is invalid, the restricting must be placed after the trait name.

[2022-02-09 19:15] scottmcm opened #93829 "Suggest a float literal when dividing a floating-point type by `{integer}`"
(This example is from https://users.rust-lang.org/t/beginner-question-make-a-function-that-divides-a-number-by-100/71577?u=scottmcm )

Given the following code: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=94518a0a52515b56b171089af22d07d9>

[code]

The current output is:

[code]

Ideally the output should have a suggested fix, perhaps something like

[code]

[2022-02-09 19:33] jonaylor89 opened #93831 "Internal Compiler Error when compiling rocket = "0.5.0-rc.1""
### Problem

When trying to build a project containing the rocket web framework, cargo fails with an internal compiler error. Below is the full error written to the console.

[code]

### Steps

1. Create new cargo project `cargo new random`
2. Add rocket to the dependencies `rocket = "0.5.0-rc.1"`
3. Build the project `cargo build`

### Possible Solution(s)

So far, the only solution I've found is

[2022-02-09 19:44] jonaylor89 opened #93832 "Internal Compiler Error when compiling rocket = "0.5.0-rc.1""
### Problem

When trying to build a project containing the rocket web framework, cargo fails with an internal compiler error. Below is the full error written to the console.

[code]

### Steps

1. Create new cargo project `cargo new random`
2. Add rocket to the dependencies `rocket = "0.5.0-rc.1"`
3. Build the project `cargo build`

### Possible Solution(s)

So far, the only solution I've found is

[2022-02-09 19:45] jonaylor89 commented on #93832
Accidental Duplicate

[2022-02-09 19:45] #93832 closed

[2022-02-09 19:46] jonaylor89 commented on #93832
#93831 93831

[2022-02-09 19:50] camelid commented on #38101
Yeah, it's always bothered me that tuple structs with all private fields show how many fields they have, even though they're supposed to be fully private.

[2022-02-09 20:10] joshtriplett commented on #77174
We discussed this in today's @rust-lang/libs-api meeting. We agreed that we don't want to treat `std::ascii` deprecation as a blocker; that should be a separate PR.

We'd love to see a stabilization PR for this feature.

[2022-02-09 20:10] PatchMixolydic commented on #93811
Clippy has an allow-by-default lint for this with a somewhat confusing name: [`clippy::semicolon_if_nothing_returned`](https://rust-lang.github.io/rust-clippy/master/#semicolon_if_nothing_returned).

[2022-02-09 20:10] compiler-errors commented on #93823
Maybe we could add a flag to `x` to bootstrap with a custom compiler artifact, like `nightly-2022-02-09`? Is that a bad idea? If not, I might look into it...

[2022-02-09 20:27] Mark-Simulacrum commented on #93823
rustc = ... in config.toml is something that's already supported -- you can point it at a nightly toolchain and things should largely just work (presuming it's recent enough etc).

[2022-02-09 20:44] compiler-errors commented on #93831
this may be fallout from #92007, cc: @oli-obk

[2022-02-09 20:49] apiraino commented on #93786
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393786.20.23.5Bmain.5D.20attribute.20was.20accidentally.20stabilized.20.28as.20no.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high +T-compiler

[2022-02-09 21:00] oli-obk commented on #93831
Huh... codegen should've revealed all opaque types, odd. Should be easy to fix if it's just a failure to reveal

[2022-02-09 21:02] joshtriplett commented on #91226
We discussed this in today's @rust-lang/libs-api meeting.

We agreed that we don't want to make this change; we felt that could lead to semantic problems.

We would instead prefer to see:
- Documentation updates that steer people towards the `_os` variants.
- Possibly deprecate `vars` specifically. (`var` makes sense for variables whose value you can constrain; `vars` breaks on arbitrary user-prov

[2022-02-09 21:02] #91226 closed

[2022-02-09 21:12] #59125 closed

[2022-02-09 21:18] scottmcm commented on #91226
Particularly 👍 to the distinction between the reasonableness of `vars` and `var`!

[2022-02-09 21:31] ehuss commented on #93826
Thanks for the report! I'm going to close as a duplicate of #93831 as it looks like there is some discussion over there.

[2022-02-09 21:31] #93826 closed

[2022-02-09 21:33] jackh726 opened #93833 "Crater run for lazy TAIT"

[2022-02-09 21:40] jackh726 commented on #93833
@craterbot check name=lazy-tait-check start=734368a200904ef9c21db86c595dc04263c87be0 end=cc38176793e9e13bb7b70dde4b951d9371017662 p=1

[2022-02-09 21:52] SoniEx2 commented on #80967
so python has this convention of `list.sorted()` and `sort(list)`. rust has `option.filter(closure)` how about `bool.filtered(option)`?

[2022-02-09 21:57] apiraino commented on #93821
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393821.20.2392007.20appears.20to.20break.20inference.20for.20previously.20com.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-02-09 21:57] apiraino commented on #93831
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393831.20Internal.20Compiler.20Error.20when.20compiling.20rocket.20.3D.20.220.2E5.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-02-09 22:02] Badel2 opened #93835 "ICE: unwrap None in type_of.rs (associated_const_equality)"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

Affected versions: nightly since around 2022-02-08. Stable 1.58.1 doesn't ICE.

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

The relevant code has the following comment:

https://github.com/

[2022-02-09 23:14] XrXr opened #93838 "Stabilize guaranteed compile time evaluation of unnamed constant items"
This is a request to stabilize the implementation fact that the definition of [unnamed constant items] are always evaluated at compile time (through [CTFE]). There is no associated RFC as this feature is already available in stable releases and this is mostly a request for using an [FCP] to reach consensus for future support.

The [stabilization][const panic stabilization] of `const-panic` introdu

[2022-02-09 23:27] HarrisonHemstreet commented on #93829
Thank you!🥳

[2022-02-09 23:56] yaahc commented on #43301
For those who are watching this thread: We've begun the FCP stabilizing `Termination` and `ExitCode` in https://github.com/rust-lang/rust/pull/93840

[2022-02-10 00:03] sunfishcode opened #93841 "Compilation error regression on nightly"
I tried this code (reduced testcase from code in cap-std):

[code]

When compiled with stable Rust, it compiles with no errors.

When compiled with nightly Rust, it gets the following error:

[code]

The error can be avoided by changing `&old_path` to `&*old_path`, which works on both stable and nightly. I've already fixed the upstream code do to this; I'm filing this bug as it may affect other us

[2022-02-10 00:58] ricobbe opened #93842 "ICE on `#[link(..., kind = "raw-dylib")]`"
### Code

[code]

Cargo.toml:
[code]

Compile with `cargo +nightly run`.  ICE reproducible on {x86_64,i686}-pc-windows-{msvc,gnu}.  Non-windows platforms are irrelevant, as the problem involves the `raw_dylib` feature, which is only implemented on Windows.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

<

[2022-02-10 00:59] ricobbe commented on #93842
@rustbot claim

[2022-02-10 01:00] ricobbe commented on #58713
Also note #93842.

[2022-02-10 01:15] ricobbe commented on #93842
Fundamental problem: I never got around to implementing raw-dylib support when used in a `bin` crate; it only works in `lib` crates currently.  However, that's clearly a case that is supposed to work, and it should be relatively easy to fix -- it's just a case of adding the necessary stuff to the code path used to build up the linker command line for bin crates.

[2022-02-10 03:15] asquared31415 opened #93844 "Help for associated constant with same name (ignoring case) as associated function"
Given the following code:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=879b92acbae1fc54539426caf7c0996e)

The current output is:

[code]

Ideally the output of both errors should mention that the `MyS::MAX` or `i32::MAX` constants exists if the type of the constant would solve the type issues.
[code]
or
[code]

[2022-02-10 04:28] compiler-errors commented on #93801
This broke in 1.35, when `Fn`/`FnMut`/`FnOnce` were introduced on `Box`.

This is presumably because we don't eagerly fall back from `Fn` -> `FnMut` -> `FnOnce` fox `Box` when using the call operator, since these are plain `impl`s on `Box`. Instead, it constrains the closure to be `Fn`...

[2022-02-10 05:08] #91423 closed

[2022-02-10 05:08] #93786 closed

[2022-02-10 05:29] kawadakk opened #93848 "`core` fails to build with E0493 when coverage instrumentation is enabled"
I tried this code:

[code]

[code]

I expected to see this happen: A successful build

Instead, this happened: `error[E0493]: destructors cannot be evaluated at compile-time` while building `core`

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-02-10 07:10] hameerabbasi commented on #63713
I think this part of the comment addresses why `PartialOrd` alone isn't sufficient (please correct me if I'm wrong, always happy to learn):

[2022-02-10 07:21] ProgramCrafter commented on #35121
@Kixunil

Isn't place where `!` object is dropped unreachable, as anything producing `!` never returns?

[2022-02-10 07:29] scottmcm commented on #93817
This is probably using the same parsing rules as normal `if let` expressions, where this behaviour is essential for avoiding ambiguity.

It's unclear if allowing this here would be worth it.  The good `help` is nice to see, though!

[2022-02-10 07:46] asquared31415 commented on #93760
@rustbot claim

[2022-02-10 07:49] asquared31415 commented on #90911
this is because the value you pass as the allocator is a `&Foo` (due to the `&self` receiver) and the compiler does not like allocators that have a non-zero size

duplicate of #78459

[2022-02-10 07:56] RalfJung commented on #63713
Hm, but that same concern could also apply to `Eq`, which might also rely on unstable things. Any `into_sorted_vec` will have that problem, even the one on FxHashMap, won't it? That seems rather different from the instability of hash map iteration order.

[2022-02-10 08:00] sobolevn commented on #80392
I would love to give this a try! 👍
This is my first contribution to `rust`, so I might ask some questions 🙂

[2022-02-10 08:19] SimonSapin commented on #35121
@ProgramCrafter The comment you’re quoting does not repeat all of the context of comments before it. This is about casting `Vec<!>` to `Vec<String>`, which would be incorrect when `Vec::<String>::drop` tries to deallocate some dangling pointer.

Code that manipulates `Vec<!>` can be reachable if that vec is empty.

[2022-02-10 08:29] sobolevn commented on #80392
First steps:
- `RwLockReadGuard`'s second type argument is defined here: https://github.com/rust-lang/rust/blob/5d6ee0db96aada145725838379f909bbb8aa2312/library/std/src/sync/rwlock.rs#L102-L104 It is only used for `lock: &'a RwLock<T>`
- `RwLock` is defined here: https://github.com/rust-lang/rust/blob/5d6ee0db96aada145725838379f909bbb8aa2312/library/std/src/sync/rwlock.rs#L78-L82 Its type argument

[2022-02-10 08:37] oli-obk commented on #93841
Ah interesting. Treating any equality check between opaque types and other types as "will succeed modulo the opaque type obligation" will skip other code paths like trying autoderef

[2022-02-10 08:39] SimonSapin commented on #43467
I didn’t realize it was a question whether pointers to extern types should be thin. What metadata would there be?

RFC 2580 was accepted saying that `null`, `null_mut`, and `NonNull` dangling should be extended to `T: ?Sized + Thin` but that’s not implemented yet. The "natural" way to do it would requires a similar language change in integer-to-pointer casts with `as`, which I imagine would requir

[2022-02-10 09:09] michaelwoerister commented on #63713
Normally, yes. But in the context of incremental compilation, we'd like to have a stronger form of stability, spanning across multiple compilation sessions. For things that implement `HashStable` (which acts as a marker for "stable across compilation sessions"), we actually also want `Eq` to take any observable properties into account (as opposed to just being in sync with PartialOrd). There has b

[2022-02-10 09:19] nikic commented on #47384
For the record, `#[used(compiler)]` and `#[used(linker)]` are now available behind `#![feature(used_with_arg)]`, tracked at https://github.com/rust-lang/rust/issues/93798.

[2022-02-10 09:32] hasezoey commented on #93797
can confirm that todays nightly does not error anymore

[2022-02-10 09:32] #93797 closed

[2022-02-10 10:42] #93811 closed

[2022-02-10 10:45] #92143 closed

[2022-02-10 11:37] apiraino commented on #93774
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393774.20Compiler.20hangs.2C.20regression.20from.20overflow.20error) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-02-10 12:00] dhra opened #93855 "ICE overflow or prior type error"
### Code
`cargo.toml`

[code]
`main.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-10 12:13] ssomers commented on #92765
Not true.
- A map can have an allocated, empty root node or no root node at all. It's just a possibly tiny part and that's probably why it receives no attention.
- Doing the same trick as in `Vec::drain` is possible, you can in theory avoid all allocations while owning the map internals. But it's excruciatingly difficult. And the biggest optimization is reusing subtrees with ranges of keys, which

[2022-02-10 12:25] steffahn commented on #92765
Ah, okay I see.

Oh, was this “proposed `BTreeMap::drain`” one that accepts a range?

<hr>

Well, but e.g. `HashMap::drain` explicitly documents that the underlying allocated memory is kept, which is *not* what happens on `mem::take(&mut foo).into_iter()`.

[2022-02-10 12:45] MatrixDev commented on #37892
Just had the same issue, just a little different implementation:

[code]

It seams that accessing `Self` from inner functions is not allowed. This doesn't seem logical and error is way too confusing (or probably describing something else completely).

[2022-02-10 12:59] krallin opened #93857 "Tracking Issue for process_set_process_group"
Feature gate: `#![feature(process_set_process_group)]`

This is a tracking issue for: Add a `process_group` method to UNIX `CommandExt`

Add a `process_group` method to `std::os::unix::process::CommandExt` that
allows setting the process group id (i.e. calling `setpgid`) in the child, thus
enabling users to set process groups while leveraging the `posix_spawn` fast
path.

### Public API

[code]

#

[2022-02-10 13:22] ssomers commented on #92765
Yes, ` BTreeMap::drain` takes a range (it's buried as the last commit in [a branch](https://github.com/ssomers/rust/commits/btree_drain_itself) now).

Another good point, I can't remember anyone making that all the way since my first attempt at a rangeless drain, #66747.

[2022-02-10 14:07] apiraino commented on #93855
yes, definitely the same issue, thanks for the tip @hkratz

closing this as duplicate

[2022-02-10 14:14] vojtechkral commented on #81513
As mentiond in the PR linked above - formatted debug prints of pointers based on what kind of pointer they are - I am wondering wheter there should be a distinct trait for `Pointee::Metadata`, rather than a list of constraints in the `Pointee` trait itself.

Arguably it's not much different re the `Pointee` interface in practice, but would enable to write fns/impls for `T: PointerMetedata` in the

[2022-02-10 14:44] elichai commented on #89379
Since I've seen this, I've written `[(); N].map(|_| ...)` dozens of times, some required the int and some didn't.
So I'd love to see this stabilized :)

[2022-02-10 14:53] #84812 closed

[2022-02-10 15:00] krasimirgg commented on #81490
@petrochenkov I'm interested in helping out getting this stabilized if that's OK.
I'm hoping this RFC will help us improve [Bazel Rust support](https://github.com/bazelbuild/rules_rust).
I'm a novice with respect to rustc development.
What's left and what's the best way to get involved?

Maybe: the [Relative order of -l and -Clink-arg(s) options](https://rust-lang.github.io/rfcs/2951-native-link-m

[2022-02-10 15:03] Mark-Simulacrum commented on #32976
Nominating to consider whether we should be stabilizing load_store yet -- https://github.com/rust-lang/rust/pull/93824#discussion_r803706998

My recollection from T-lang meeting that sparked FCP is that we were not yet intending to stabilize anything beyond the target_has_atomic.

[2022-02-10 15:19] nikomatsakis commented on #32976
@rfcbot concern docs

Do we, indeed, have documentation for this? Is there a stabilization report? I'm realizing I have no idea what is being stabilized here and why that subset was chosen.

[2022-02-10 15:27] oli-obk commented on #93831
fix is up in https://github.com/rust-lang/rust/pull/93859

[2022-02-10 15:29] #92975 closed

[2022-02-10 15:37] Mark-Simulacrum commented on #32976
(Reopening to retain the nomination; also milestoning at 1.60 as we don't want this to slip by into a stable release if there's changes to be made.)

[2022-02-10 16:22] petrochenkov commented on #81490
@krasimirgg
I actually just started auditing the implementation for stabilization today (the general modifier syntax, and the `whole-archive` modifier specifically). If no other task interrupts me, then I'll likely make a PR tomorrow.

The "relative order" part is entirely orthogonal though, so you can certainly work on that.
I remember starting implementing that and discovering that it is a more

[2022-02-10 16:44] Kixunil commented on #61695
What's needed for stabilization of this?

[2022-02-10 16:51] pierwill commented on #93676
@rustbot claim

[2022-02-10 17:45] pnkfelix opened #93866 "rust bootstrap ICE with debuginfo=2"
I tried a bootstrap with this `config.toml`, atop rust commit 502d6aa47b4118fea1e326529e71b25a99b0d6c5:

[code]

then I ran this in a
[code]

I expected to see this happen: Successful bootstrap

Instead, this happened: ICE from compiler. (I think its the freshly built compiler, not the beta one.)

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-02-10 17:46] notriddle opened #93867 "Misleading diagnostic on missing comma"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4f89aeb79b3d5b09db11201a04b0786e

[code]

The current output is:

[code]

The `:` and `=` suggestions are misleading, because this is a generic invocation, not a generic declaration. You cannot, in fact, write a `:` or an `=` here:

<details><summary>When you write a <code>:</code></summary>

This co

[2022-02-10 19:01] matthiaskrgr commented on #93866
I'm wondering if this the same as https://github.com/rust-lang/rust/issues/93871 or if this is another cause.

[2022-02-10 19:03] sunfishcode commented on #90809
Could you say more about what the user of such a function would look like? In what situations does one, as a user of std, need a `BorrowedFd<'static>`?

[2022-02-10 19:22] dcormier commented on #67364
I, too, would like to see this on `DebugTuple`, and was just surprised to find that it wasn't. I was already familiar with it on `DebugStruct`, so I didn't realize it was _only_ there.

In my case, I wanted to shorten the debug representation of a tuple when any of the fields are `None`, and indicate that fields were left out.

[2022-02-10 19:47] SoniEx2 commented on #87074
So uh can we make Stdin etc Drop, reference-counted, and (delayed) closeable, with a panicking std::io::stdin() etc?

[2022-02-10 19:47] sunfishcode commented on #88989
The [current definition of `fchown`](https://github.com/rust-lang/rust/blob/734368a200904ef9c21db86c595dc04263c87be0/library/std/src/os/unix/fs.rs#L974) takes its `AsFd` argument by value instead of by reference. This means that passing it a `&File` gets an error, and passing it a `File` consumes and closes the file. To be usable, `fchown`'s argument should be changed from `fd: F` to `fd: &F`.

Al

[2022-02-10 19:49] sunfishcode commented on #87074
@SoniEx2 Please file a new issue to propose this, and include a description of what use cases would want it and how it would work in practice.

[2022-02-10 20:32] MingweiSamuel opened #93874 "#92917 breaks type inference on GATs"
Seems to be caused by #92917 @jackh726

So this regression seems to be intentional, but I want to make sure because even very basic inference fails now, making any use of GATs very fill up with explicit type annotations. It doesn't look so bad in this example, but with complex types it's bad, and I think there's a more complex example the compiler can't even tell what `_x` is at all, but I'm still

[2022-02-10 20:53] sunfishcode commented on #87074
Please stop cluttering this tracking issue.

[2022-02-10 20:55] nikomatsakis opened #93875 "coherence doesn't permit negative impls to take advantage of implied bounds"
https://github.com/rust-lang/rust/pull/93652 implemented the "negative coherence" rules, but it left one part undone. When we try to prove `T: !Trait` for some trait, we ought to include in the environment the "wf" bounds for the input types on the impl; the current logic does not. As a result, tests like `src/test/ui/coherence/coherence-negative-outlives-lifetimes.rs` do not compile:

[code]

Her

[2022-02-10 21:04] Emilgardis commented on #93841
This also fails rustdoc disambiguator with a boxed dyn Error

[code]

bisected
searched nightlies: from nightly-2022-02-08 to nightly-2022-02-10
regressed nightly: nightly-2022-02-09
searched commit range: https://github.com/rust-lang/rust/compare/734368a200904ef9c21db86c595dc04263c87be0...0c292c9667f1b202a9150d58bdd2e89e3e803996
regressed commit: https://github.com/rust-lang/rust/commit/e7cc3bddb

[2022-02-10 21:15] MingweiSamuel commented on #93874
Ah yeah, you also now have to make an existential type to name unnameable types if they go through a GAT:
[code]

[2022-02-10 21:54] jackh726 commented on #93874
I think this probably can be solved by normalizing somewhere where we aren't now; there aren't inference variables here.

This, I'm not sure about, since we *do* have an inference variable. Still, I think we can normalize still and end up with the `Vec<_> == Vec<u8>` requirement - which is trivial.

[2022-02-10 21:57] compiler-errors commented on #93874
@jackh726 cc: the fn trait normalization I added in #93361

[2022-02-10 21:59] clh5 opened #93879 "Legal/licensing question about shipping rust binary"
Hi, we are considering using Rust for development and include the resulting Rust binary in a shipping product. Can you help with following questions:

1. Do binaries produced by Rust include any portions of the Rust compiler?
2. If the answer is yes, does the Rust license stipulate that the resulting binary must then attribute that material under an Apache or MIT license? In other words, are we re

[2022-02-10 22:18] jonhoo opened #93880 "bootstrap: LLVM build disregards LDFLAGS"
When the bootstrap code builds LLVM, it sometimes sets the CMake variable `CMAKE_EXE_LINKER_FLAGS`. For example, when instructed to also build the LLVM tools:

https://github.com/rust-lang/rust/blob/502d6aa47b4118fea1e326529e71b25a99b0d6c5/src/bootstrap/native.rs#L242-L250

When `CMAKE_EXE_LINKER_FLAGS` is unset, CMake [initializes it to `LDFLAGS`](https://gitlab.kitware.com/cmake/cmake/-/issues/1

[2022-02-10 22:24] saethlin opened #93881 "Confusing diagnostic from const eval when offsetting a pointer out of bounds"
Given the following code: [playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=57e2129e26c3f847391d9e9e0d35603c)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I originally found this through Miri, in https://github.com/huonw/primal/issues/35, though the diagnostic is generated by rustc so I'm opening an issue here. I sp

[2022-02-10 22:54] jackh726 commented on #93874
Does #93361 fix this?

[2022-02-10 23:02] Techcable commented on #89626
I still have this exact same problem on stable, 1.55 and latest nightly 😦

I am building on alpine in a VM.

[2022-02-10 23:35] compiler-errors commented on #93874
You know what? It actually doesn't, sorry, should've checked first before I brought it up as a possibility.

The first error gets reported as `<IdentityBuild as Build>::Output<i32> == u8` in the diagnostic, but the `infcx.eq` in `project_and_unify_type` actually tries to equate `i32 == u8`. Other than the diagnostic being a bit wrong, I wonder why numeric fallback is occurring here...

The second

[2022-02-10 23:52] yaahc opened #93883 "lint against unexpectedly late drop for temporaries in match scrutinee expressions"
This came up recently on twitter: https://twitter.com/fasterthanlime/status/1491803585385877519

Where a @fasterthanlime ran into an unexpected difference in behavior that caused a deadlock.

The following code works fine:

[code]

But when the mutex locking expression is inlined into the match scrutinee expression it causes deadlock:

[code]

Link to playgrounds

* Working: https://play.rust-lang

[2022-02-10 23:53] compiler-errors commented on #93874
So the second error is ambiguous because that type variable can't be proved `Sized`... (that obligation comes from a WF predicate I think?) :thinking:

[2022-02-11 00:00] eholk commented on #93706
I have a stabilization PR at https://github.com/rust-lang/rust/pull/93827 and a documentation PR now at https://github.com/rust-lang/reference/pull/1166.

[2022-02-11 00:03] Badel2 commented on #93774
Run a bisect on this, 8d7707f3c4f72e6eb334d897354beca692b265d1 is the first bad commit.

`cargo-bisect-rustc` was only able to narrow it down to nightly-2021-08-26, but I checked the remaining range using git bisect.

[2022-02-11 00:54] joshtriplett commented on #88989
Good catch. I've marked that as blocking in the top comment; we shouldn't stabilize `fchown` until we select and apply an appropriate fix for that.

Further discussion in #93869.

[2022-02-11 01:25] jbg commented on #89626
Can you share the complete error?

[2022-02-11 01:43] luke-biel commented on #29639
`no_core` would defiintelly open up possibility of alternate core implementations. How useful would that be in current rust ecosystem - hard to tell. I could see this used in projects that require formal verification - eg. `Ada` limits it's stdlib for `SPARK`. But there may be better ways to achieve this.

[2022-02-11 01:45] joshtriplett opened #93884 "Detect "only written" value for values only accumulated into but never otherwise read"
Rust has a useful warning for values that only ever get written, but never read.

However, if a value gets read as part of accumulating into it, that read will suppress the warning.

Sample code:

[code]

Logically, all four variables are never usefully read. However, the Rust compiler only manages to flag `total2`, because the accumulation uses the `+=` operator.

It seems feasible to detect at l

[2022-02-11 02:03] clarfonthey commented on #38101
The main benefit of the struct-based syntax is that it's actually valid Rust syntax, but if you don't care about that, the latter also works. I don't believe that there's any tuple-based syntax that works like that.

[2022-02-11 02:20] camelid commented on #38101
`Struct { 1: T }` doesn't seem to be valid syntax, unless you were referring to something else?

[2022-02-11 02:21] clarfonthey opened #93887 "Tracking Issue for deprecating std::ascii module"
This is a separate issue to track the potential deprecation of the `std::ascii`, `alloc::ascii`, and `core::ascii` modules, separated from #77174 [per this comment](https://github.com/rust-lang/rust/issues/77174#issuecomment-1034149904). This issue will just say `std::ascii` for simplicity since, excluding the already-deprecated `AsciiExt` trait, these three modules are identical.

### Public API

[2022-02-11 02:22] clarfonthey commented on #77174
Opened stabilisation PR #93886 and tracking issue #93887 for discussing the deprecation of `std::ascii`, so that this can be closed post-stabilisation.

[2022-02-11 02:30] clarfonthey commented on #38101
So, I should have clarified: `Struct { 1: T }` isn't a valid struct definition, but `Struct { 1: x }` is a valid pattern. So, I guess what I meant to say was that it's *closer* to valid Rust syntax, although it's still invalid.

[2022-02-11 02:34] Mark-Simulacrum commented on #93880
That makes sense to me, would be happy to accept a PR. It may also make sense to ask/file a similar bug against llvm recommending the logic to append always happen, since it seems like better behavior to me.

[2022-02-11 02:47] eddyb commented on #60705
How is that possible? The code in `demangle-rust.c` is copy-pasted from what libiberty used to have for years (until I changed it when unifying it with the v0 demangler).

Also, I'm guessing the `.0` and `.2262` in those examples are stripped by `perf` before passing them off to libiberty? (since libiberty doesn't handle those suffixes correctly and just refuses to demangle entirely AFAIK - this i

[2022-02-11 03:27] thomcc opened #93889 "On Apple M1, passing `-Ctarget-cpu=native` results in us choosing an older CPU than we choose by default."
On `aarch64-apple-darwin`, we don't seem to be determining the right target features when `-Ctarget-cpu=native` is enabled -- we do a much better job *without* the `-Ctarget-cpu` flag than *with* it.

For example:

<details>
<summary>The output of <code>rustc --print cfg -Ctarget-cpu=native</code></summary>

[code]

</details>

<details>
<summary>The output of <code>rustc --print cfg</code></summa

[2022-02-11 03:41] clarfonthey opened #93890 "Suggest replacing Map with Set if it fixes errors"
The types `HashMap` and `HashSet` (and `BTreeMap` and `BTreeSet`) come up often enough that a user may confuse them. We could probably leverage this by marking them as "confusable types" and offer to swap one with the other if it helps fix errors.

For example, given the following code: [(playground link)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d1f0012892dfb0722209

[2022-02-11 04:09] eddyb commented on #93883
This is a duplicate of #37612 - but I am not inclined to immediately close, since the ideas here might cause more progress.

But I do want to stress that this is an ancient issue. https://github.com/rust-lang/rfcs/pull/210 describes not just the problem (surprising semantics around releasing lock guards - though the culrpit in that RFC is different from what's implemented today), but *offers a sol

[2022-02-11 06:17] oli-obk commented on #93883
Related clippy issue: https://github.com/rust-lang/rust-clippy/issues/1904

[2022-02-11 08:07] nsunderland1 opened #93894 "1.57 release notes are missing changes to dead code analysis"
#85200 landed in 1.57, causing derived  `Debug` and `Clone` implementations to be ignored during dead code analysis. The [release notes](https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1570-2021-12-02) for 1.57 don't mention this change anywhere.

There's discussion in the original PR about including it in the release notes, but looks like nobody got around to it.

[2022-02-11 08:09] einsJannis opened #93895 "Compiler panic after adding a bunch of #[derive(PartialEq)]"
### Code

I'm sorry but I don't have the time to nerrow the code down but I want to post a bug report anyways.

You can find the code in [this commit](https://github.com/einsJannis/llvm_ir_generator/commit/f80899914d17c157ecfb05f284858285a7a70e1b).

The thing I added between the last working compile and the broken one was adding all those `#[derive(PartialEq)]`s.

### Meta

`rustc --version --verb

[2022-02-11 08:14] nsunderland1 commented on #93894
I think this is worth a mention in the compatibility notes for 1.57, given that it can break builds where `deny(dead_code)` is set.

[2022-02-11 08:43] oli-obk commented on #93833
@craterbot cancel

[2022-02-11 08:44] oli-obk commented on #93833
@craterbot abort name=lazy-tait-check

[2022-02-11 08:45] oli-obk commented on #93833
Will do a crater run once I open a new PR. Reverting the breakage in https://github.com/rust-lang/rust/pull/93893 right now

[2022-02-11 08:45] #93833 closed

[2022-02-11 10:34] petrochenkov commented on #81490
@hlopko
1. Yes.
2. Yes.
3. No, probably not, I see it as a bugfix.

[2022-02-11 10:47] petrochenkov commented on #81490
I now remember why I abandoned it.

The linker command line is constructed in `fn linker_with_args`.
Currently the options are passed roughly like this:
- libraries (`add_local_native_libraries` in particular)
- options added by the compiler (`add_order_independent_options`)
- options added by the user (`add_user_defined_link_args`)

So user options passed with `-Clink-arg(s)` can be used to overr