[2016-12-30 20:40] Eh2406 commented on #38643
[#0230](https://github.com/rust-lang/rfcs/blob/master/text/0230-remove-runtime.md) removed the runtime.

[#0199](https://github.com/rust-lang/rfcs/blob/master/text/0199-ownership-variants.md) naming conventions when there are by value, by reference, and by mutable reference variants of an operation. I don't think this is a doc thing...

[#0135](https://github.com/rust-lang/rfcs/blob/master/text/01

[2016-12-30 20:43] Eh2406 commented on #38643
[(#0214](https://github.com/rust-lang/rfcs/blob/master/text/0214-while-let.md) while let is in the refrance [7.2.24](https://doc.rust-lang.org/reference.html#while-let-loops)

[2016-12-30 20:48] vickenty opened #38714 "Implicit and explicit HRTB are not equivalent"
A `Fn` trait bound with implicit lifetimes is not equivalent to the trait bound with explicit lifetimes.

[code]
(playpen: https://is.gd/nKZx1O)

I expected that `foo` and `bar` would be equivalent and that both calls would compile (or fail to compile the same way).

 instead, calling `bar` compiles fine, but calling `foo` results in the following error:
[code]

Somewhat related (but different) pr

[2016-12-30 20:52] alexcrichton commented on #38696
Closing now that https://github.com/rust-lang/rust/pull/38671 landed, thanks @ollie27!

[2016-12-30 20:52] #38696 closed

[2016-12-30 21:06] alexcrichton commented on #38683
I was in the process of minimizing this when I realized that this has been fixed on nightly...

[2016-12-30 21:08] Eh2406 commented on #38643
[#0379](https://github.com/rust-lang/rfcs/blob/master/text/0379-remove-reflection.md) removes a bunch of things.

[#0390](https://github.com/rust-lang/rfcs/blob/master/text/0390-enum-namespacing.md) is demonstrated int the [refrance](https://doc.rust-lang.org/reference.html#enumerations) but not explicitly mentioned.

[#0403](https://github.com/rust-lang/rfcs/blob/master/text/0403-cargo-build-comm

[2016-12-30 21:10] alexcrichton commented on #38683
This was fixed by some PR in [this range](https://github.com/rust-lang/rust/compare/71c06a56a120a0d5e3b224105ee3e6754f83e5fa...4ecc85beb339aa8089d936e450b0).

My guess is that https://github.com/rust-lang/rust/pull/38600 fixed it, but that's a total shot in the dark. @eddyb does anything in that range look like it'd fix this bug to you? perhaps https://github.com/rust-lang/rust/pull/38449?

[2016-12-30 21:20] Eh2406 commented on #38643
[#1068](https://github.com/rust-lang/rfcs/blob/master/text/1068-rust-governance.md) Rust's governance structure.
[#1683](https://github.com/rust-lang/rfcs/blob/master/text/1683-docs-team.md) addes a doc team.
Does not need to be in reference, nor in std docs. Does this need documentation?

[#1665](https://github.com/rust-lang/rfcs/blob/master/text/1665-windows-subsystem.md) is [implemented](https:

[2016-12-30 21:22] eddyb commented on #38683
#38600 is far more likely than my own PR (which shouldn't affect codegen).

[2016-12-30 21:23] brson opened #38715 "Regression in test suite of probor-0.2.1 in Rust 1.15"
https://github.com/tailhook/probor at d0be60ec37ded2eee0f851887e2d7c06fe2e7021

[code]

[code]

cc @jseyfried I haven't seen one quite like this.

cc @tailhook

[2016-12-30 21:31] brson opened #38717 "Intermittent failure in region-0.0.5 test suite in Rust 1.15"
https://github.com/darfink/region-rs at 1ae7a6a157b398cb1109422a55da970b696c55c4

This happens perhaps 50% of runs on Rust 1.15 and never on Rust 1.14

[code]

The exact test that fails differs from run to run.

cc @darfink

[2016-12-30 21:37] brson opened #38718 "Regression in rotor-http-0.7.0 test suite in Rust 1.15"
http://github.com/tailhook/rotor-http at 4cf2abbe1020bf78ed200b0697cbe8bc0dd20b78

[code]

[code]

cc @tailhook

[2016-12-30 21:38] Eh2406 commented on #38643
[#1644](https://github.com/rust-lang/rfcs/blob/master/text/1644-default-and-expanded-rustc-errors.md) is a chnge to the error format dose this need docs?

[#1643](https://github.com/rust-lang/rfcs/blob/master/text/1643-memory-model-strike-team.md) memory model strike team and
[#1607](https://github.com/rust-lang/rfcs/blob/master/text/1607-style-rfcs.md) style rfcs. do not need to be in the referen

[2016-12-30 21:51] chriskrycho commented on #38643
Thanks, @Eh2406! I'll review and let you know which pieces are most helpful and which need more info, but even just collating an overview of these ones is super helpful as triage. And I feel the same way about picking up a ton of knowledge just by skimming over them. (Imagine how much we'll know by the time we're done actually *documenting* all of these!)

[2016-12-30 21:58] brson opened #38720 "Hang in utp-0.6.3 test suite in Rust 1.15"
https://github.com/meqif/rust-utp at e9bf831c41714f545762f482a1d464f188faa1a9

Happens consistently on beta, not on stable.

[code]

[code]

cc @meqif

[2016-12-30 22:04] brson opened #38721 "Regression in wait-timeout-0.1.13 test suite in Rust 1.15"
https://github.com/alexcrichton/wait-timeout at 23b9d5878a68f90bd4785ae767eb0f8341741360

[code]

[code]

This seems likely to be https://github.com/rust-lang/cargo/issues/3368

cc @alexcrichton

[2016-12-30 22:13] meqif commented on #38720
I can confirm it hangs on beta:
[code]

And that it does not hang on stable:
[code]
Curiously enough, it does *not* hang on the latest nightly either:
[code]

[2016-12-30 22:13] brson opened #38722 "Regression in cargo-check 0.2.2 test suite in Rust 1.15"
https://github.com/rsolomo/cargo-check at d446f7865b2ac925c8e05c7129998084718c00d4

[code]

[code]

Seems likely to be https://github.com/rust-lang/cargo/issues/3368

 cc @rsolomo

[2016-12-30 22:27] brson commented on #38691
Fixed by https://github.com/rust-lang/rust/pull/38708

[2016-12-30 22:32] brson commented on #38646
I doubt there is anything we can do to change this as it's a fundamental tradeoff on whether comments nest or not. The typical solution when this happens is to insert a unicode zero-width space in the comments so that it looks correct and parses correct.

[2016-12-30 22:35] brson commented on #38643
Wow @Eh2406 thanks for the research.

[2016-12-30 22:46] brson commented on #38591
Yes there should be some reasonable recursion limit here.

[2016-12-30 22:53] binarycrusader commented on #37768
I encountered this issue just today using latest nightly (via rustup), and as someone relatively new to rust, the most puzzling thing was not knowing *why* this was a problem:

[code]

What was also strange about it was that it only appeared after what initially seemed like unrelated changes.  I have a suspicion it's because I started inserting some slices of that string into a BTreeMap as keys.

[2016-12-30 23:00] sfackler commented on #38718
Doesn't look like this is a regression on the rust side looking at the test: https://github.com/tailhook/rotor-http/blob/4cf2abbe1020bf78ed200b0697cbe8bc0dd20b78/src/server/parser.rs#L699

[2016-12-30 23:07] alexcrichton commented on #38718
Agreed, looks like a benign failure

[2016-12-30 23:07] #38718 closed

[2016-12-30 23:10] lu-zero commented on #38646
Unicode zero-width is usually a cut-and-paste trap.

What would be the problem in giving `//` the higher priority, thus making the parser stop reading once it is met at the start of the line?

[2016-12-30 23:11] meqif commented on #38720
I managed to fix the issue by adding `#[repr(C)]` to a struct that I was casting into a slice of bytes with:
[code]

My guess is that something about how structs are laid out changed in the beta and was reverted later on, but I'm just shooting in the dark.

Is there anything else I can do to help?

[2016-12-30 23:13] sfackler opened #38723 "Consider specializing std::vec::from_elem to calloc when possible"
This will require adding calloc to the global allocator API, but can significantly speed up situations where a large buffer is allocated but not entirely used.

[2016-12-30 23:18] brson commented on #38588
Thanks for the help @kripken, @chicoxyzzy. Does upgrading emcc fix the issue for you @chris-morgan?

Seems like there's nothing to be done here Rust side.

[2016-12-30 23:27] zbraniecki commented on #24745
An example use case for this:

I have a library that implements an AST, Parser and Serializer for a given DSL. I'd like to keep it lean because that's what people will bundle.

I want to have a separate crate that adds serde and allows to serialize and deserialize the AST to/from json.

I think that this limitation prevents me from being able to do that.

[2016-12-30 23:35] brson opened #38724 "Emscripten target specs are conditional on the host platform"
In [this PR](https://github.com/rust-lang/rust/pull/38601), to make emscripten work on windows, the target specs are conditionalized to use `emcc.bat` as the linker, only on windows hosts.

In practice this should be perfectly fine, but I don't think it's correct for the target spec to vary like that and there should be some way to express the spec statically that works on both platforms.`

cc @sc

[2016-12-30 23:38] brson commented on #38489
Thanks for the investigations and the patch @RReverser @schulzch @cramertj @chris-morgan

[2016-12-30 23:40] alexcrichton commented on #38720
Ah yes that'd do it! Right now beta contains https://github.com/rust-lang/rust/pull/37429 which exercises the compiler's right to reorder struct fields which aren't tagged with `#[repr(C)]`.  That was disabled, however, in https://github.com/rust-lang/rust/pull/38523 and backported to beta today in https://github.com/rust-lang/rust/pull/38716.

Let's leave this open to verify the test suite passes

[2016-12-30 23:42] brson commented on #38454
Thanks for the report @CryZe.

[2016-12-30 23:43] alexcrichton commented on #38717
@brson hm I seem to be seeing the opposite behavior locally, where the test suite fails sporadically on stable but always passes on beta?

[2016-12-30 23:43] brson commented on #38347
@michaelwoerister Yes, this is rustup messing up somehow.

[2016-12-30 23:43] alexcrichton commented on #38721
Ah yes this was fixed on master but just hasn't been published to crates.io, known breakage though!

[2016-12-30 23:43] #38721 closed

[2016-12-30 23:44] alexcrichton commented on #38721
Oh this was also caused by https://github.com/rust-lang/cargo/pull/3102 I believe, not `OUT_DIR` business.

[2016-12-30 23:47] brson commented on #37558
Thank you for the investigations. Closing in favor of https://github.com/rust-lang/rust/issues/38489. Patch enqueued.

[2016-12-30 23:47] #37558 closed

[2016-12-30 23:48] alexcrichton commented on #38722
I believe this was actually https://github.com/rust-lang/cargo/pull/3102, and I've submitted a fix: https://github.com/rsolomo/cargo-check/pull/21

[2016-12-30 23:50] brson commented on #38717
@alexcrichton on further inspection I can repro on stable and beta, though it seems less frequent on stable still than on beta. So it's probably not a bug on our side.

[2016-12-30 23:50] #38717 closed

[2016-12-30 23:52] sinkuu commented on #24745
If this is allowed, adding `impls`s become a breaking-change, because any other crate could potentially have an conflicting impl. We need to bump minor version (or major version if `>1.0.0`) for every addition of impl. Moreover, as standard library is generally not allowed to make breaking-change, we can't implement existing std traits for existing std types anymore.

if your concern is the additi

[2016-12-31 00:07] brson commented on #38723
`Vec::from` for `[T]` probably, not `from_slice` (I don't see a `from_slice`).

What's the benefit you are expecting? When would zeroed pages help in Vec?

[2016-12-31 00:10] brson commented on #38722
Thanks @alexcrichton. I suppose we should wait and see if that PR is accepted, but seems like that's all for us to do.

[2016-12-31 00:15] sfackler commented on #38723
This would be targeting things like `vec![0; 40960]` which uses `from_elem`.

Calloc can avoid explicitly zeroing pages if it knows they're already zeroed out (e.g. if they just came from an mmap call). If much of the buffer isn't actually used, this can be *way* faster. See for example https://bitbucket.org/cffi/cffi/issues/295/cffinew-is-way-slower-than-it-should-be-it

[2016-12-31 01:07] chriskrycho commented on #37499
Has this been stabilized? It doesn't appear in the release notes for 1.13.0 or 1.14.0 (the releases since the last commits and actions on this).

[2016-12-31 01:09] alexcrichton commented on #37499
@chriskrycho this has not yet been stabilized, no

[2016-12-31 01:46] keeperofdakeys commented on #38706
@jseyfried This seems like a simple case of the attribute visitor walking the AST before expansion. I assume we just want to add a simple visit_mac implementation [here](https://github.com/rust-lang/rust/blob/master/src/libsyntax_ext/deriving/custom.rs#L24-L31) like the Visitor trait suggests?

For reference:
[code]

[2016-12-31 01:51] chriskrycho commented on #37499
@alexcrichton thanks for the clarification! I've written it up as to-be-documented over on #38643 accordingly. (And presumably we'd catch it anyway, but I wanted to be exhaustive.)

[2016-12-31 01:56] nagisa opened #38727 "ICE; two sources of truth on how stuff is returned do not agree with each other"
Consider this code:

[code]

if compiled targetting `i686` target, this ICEs with

[code]

---

This is because ABI code claims that this u64 enum has to be returned via value (i.e. `ret i64 %smth`):

[code]

Whereas MIR only has `OperandRef(Ref(...))` because the [`common::is_immediate_type`](https://github.com/rust-lang/rust/blob/6dcf51aae61dcad1dbe7eef3766df2facef73816/src/librustc_trans/mir/op

[2016-12-31 02:08] brson commented on #37555
Thanks for the report @m4b.

The invalid wasm is probably due to some LLVM construct that binaryen hasn't seen before.

The I/O error is because file access does not work in emscripten by default and requires file system emulation.

[2016-12-31 02:12] jseyfried commented on #38706
@keeperofdakeys Yeah, adding an empty `fn visit_mac` to the `Visitor` impl for `MarkAttrs` should be sufficient.

[2016-12-31 02:17] alexbowers opened #38728 "rustc --version malloc_zone_unregister failed"
![image](https://cloud.githubusercontent.com/assets/842974/21575280/2e7d8a2c-ceff-11e6-80ef-9158fa415580.png)

[2016-12-31 02:19] alexbowers commented on #38728
I appeared to already have rust installed, probably from a while ago. I managed to uninstall and reinstall, and it seemed to be okay after that.

[2016-12-31 02:26] brson commented on #37609
@japaric No nobody is actively working on an emscripten upgrade.

Since even when that is done it will probably take a lot of work to land an LLVM upgrade, there's probably more we can do to prepare. Once we decide we want to do it, somebody can prepare a patch to throw at the bots. It seems likely stuff will not work and it will be a slog to fix it all, which will give us time.

We don't need emc

[2016-12-31 02:36] brson commented on #37185
Looks like the first issue was fixed. The remaining issue seems to be the same as https://github.com/rust-lang/rust/issues/38558 so closing this one.

[2016-12-31 02:36] #37185 closed

[2016-12-31 02:37] brson commented on #38558
Same as the secondary issue in https://github.com/rust-lang/rust/issues/37185

[2016-12-31 02:40] brson commented on #37130
Unfortunately that pastebins show up as empty today. Sad 😭 .

[2016-12-31 02:41] brson commented on #36901
Thanks for the suggestion! Seems worth a shot.

[2016-12-31 02:44] alexcrichton commented on #38728
Ah yes this was a bug that historical versions of the compiler suffered but has long since been fixed. Thanks for the report though!

[2016-12-31 02:44] #38728 closed

[2016-12-31 03:14] CannedYerins commented on #38688
I'll take a crack at what #38701 did not.  Going with that, I'm following the LLVM style guide http://llvm.org/docs/CodingStandards.html#name-types-functions-variables-and-enumerators-properly.

[2016-12-31 03:19] Dentosal opened #38730 "Rustc crashed, nightly and phf"
Rustc crashed. I don't know if the bug is in rustc or in phf crate, but I'm submitting a bug report here since rustc shouldn't crash anyways, right?

src/main.rs

[code]

Cargo.toml

[code]

I expected to see this happen: No crash, but a syntax error

Instead, this happened: Rustc crashed

## Meta

`rustc --version --verbose`:

[code]

Backtrace: (`$ RUST_BACKTRACE=1 cargo run --verbose`)

[code]

[2016-12-31 04:53] brson commented on #36900
@geppy sorry for not getting back to you earlier.

It seems like we can't do @japaric's approach but need to teach the compiler how to add the arguments without `#[link_args]`.

It looks like the logic belongs in rustc_trans::back::link::link_natively. From existing precedent I'd say that target specs should get an `is_like_emscripten` flag. and `link_natively` should do some logic when that is se

[2016-12-31 04:57] brson opened #38732 "Remove is_like_X flags from target specs"
Today target specs have `is_like_openbsd`, `is_like_osx`, `is_like_solaris`, `is_like_windows`, `is_like_android`, `is_like_msvc` fields. These all seem to amount to querying `target_os`. They could instead be methods on target spec.

cc https://github.com/rust-lang/rust/issues/36900#issuecomment-269849487

[2016-12-31 05:32] xen0n opened #38734 "rustbuild: save-analysis inadvertently nuked"
So #38631 invalidated the assumption that the final stage is stage2, but [this piece of code][lib.rs] still thought so, so the save-analysis data is never generated. This enraged the bots.

Let's polish rustbuild with some *more* <3 so that we could have a fresh nightly for a *nice* New Year gift to everyone...

[lib.rs]: https://github.com/rust-lang/rust/blob/7046fea5be39110f4d4354b7fe5466903f606

[2016-12-31 05:36] sfackler commented on #38730
This is a bug in phf - can you file an issue there?

[2016-12-31 05:36] #38730 closed

[2016-12-31 05:58] nagisa commented on #38732
When I was writing https://github.com/rust-lang/rfcs/pull/1711/files#diff-e744efb4e5bbd5cb8367e92f69880075R78, it didn’t seem to me that `target_os` and `is_like*` are orthogonal. The RFC I linked here also has a proposal on how to adjust target spec to get rid of these `is_like` fields :)

[2016-12-31 06:02] Wyverald commented on #31844
If other people only "maybe" want to specialize it too, and if there are good cases where we wouldn't want them to, we shouldn't make it *impossible* to specify this. (a bit similar to encapsulation: you want to access some data and maybe some other people want to as well -- so you explicitly mark _this data_ public, instead of defaulting all data to be public.)

But how would disallowing this spe

[2016-12-31 06:13] CannedYerins commented on #38688
Hi @rkruppe, as a part of this I want to change the name of one FFI function in rustllvm.h, `rust_llvm_string_write_impl`, to `LLVMRustStringWriteImpl` to fit the naming scheme of the rest of the functions.

After making that change, when I go to recompile this occurs:

[code]

I'm sure it has something to do with my changes to `librustc_llvm/lib.rs` for this rename but I have no idea what the act

[2016-12-31 06:28] iankronquist opened #38735 "Rust nightly internal compiler error with inline assembly"
[code]

Interesting part of the code:
[code]

Playground:
https://play.rust-lang.org/?gist=632e0e9fe4d75f417647ea847de2c97e&version=nightly&backtrace=0

Gist:
https://gist.github.com/anonymous/632e0e9fe4d75f417647ea847de2c97e

[2016-12-31 06:35] xen0n commented on #38734
BTW the failure on the win32 beta bot (ouch!) is not related to this. It's most likely a Windows hiccup.

[2016-12-31 07:21] MaikKlein opened #38738 "Unable to constrain associated types in trait inheritance"
[code]
[Playground](https://play.rust-lang.org/?gist=d3e005df995e2192c582bc135679c2eb&version=stable&backtrace=0)

The main problem is that we can not write

[code]

The workaround is to impl the trait explicitly like this

[code]
But this means that Rust doesn't know the constrains of `BaseHello`, if `BaseHello` is used as a constrain.
[code]

I couldn't find any related issues. Is this a bug? Ar

[2016-12-31 08:05] hicqu commented on #20953
Just thank you for this issue. It resolves all my problems perfectly!

[2016-12-31 09:08] canndrew commented on #31844
It's not necessarily a good idea to give users a power whenever they might have a good usecase for it. Not if it also enables users to write confusing code.

Say you see `foo.bar()` and you want to look at what `bar()` does. Right now, if you find the method implemented on a matching type and it's not marked `default` you *know* that its the method definition you're looking for. With @withoutboats

[2016-12-31 09:21] dtolnay commented on #35900
https://github.com/rust-lang/rust/pull/38737 fixes the type macros ICE :heart:. Any chance of getting this backported to beta? Rationale: it seems bad that two prominent new features, one released in 1.13 and one released in 1.15 crash the compiler when you use them together.

[2016-12-31 09:42] withoutboats commented on #31844
This is quite an exaggeration of the statement of the effect of allowing specialization of non-default impls for local types. If you are looking at a concrete impl, you know you are looking at the correct impl. And you have access to the entire source of this crate; you can determine if this impl is specialized or not significantly sooner than "never."

Meanwhile, even with `default`, the problem

[2016-12-31 10:06] jseyfried commented on #38682
@brson

We ignore unused qualifications for paths that begin with `$crate`. Other than that, not that I know of.

This issue looks like it was caused by #38014, which enforced the unused qualification lint for global paths. I'll write a PR that excepts macro-expanded global paths to fix it.

[2016-12-31 10:53] Wyverald commented on #31844
Exactly, I absolutely agree. I think I'm talking about a different "user" here, which is the user of crates you write. You don't want them to freely specialize traits in your crate (possibly affecting the behavior of your crate in a hacky way). On the other hand, we'd be giving more power the "user" you're talking about, namely the crate author, but even without @withoutboats' proposal, you'd have

[2016-12-31 11:02] keeperofdakeys commented on #38706
If you print the input to the derive function in the above example, you get this:
[code]

I can't help but wonder if it would be better to expand the `int!` macro before the derives.

[2016-12-31 11:15] whitequark opened #38739 "rustdoc never closes a list"
Consider this comment:
[code]

There is no way to make rustdoc not add the third paragraph, and everything that follows, into the 2nd list item.

[2016-12-31 11:19] whitequark commented on #38739
Workaround: add a `</ul>` explicitly.

[2016-12-31 12:02] rkruppe commented on #38688
@CannedYerins Thanks for tackling this! Unfortunately I can't think of a reason why that renaming should trigger that error. This error usually indicated something has gone awry in the build process (stale artifacts lying around), so it probably isn't due to your changes, you just hit a pre-existing bug.

It would still be nice to see if this can be reproduced reliably. Can you upload your current

[2016-12-31 12:27] whitequark opened #38740 "rustdoc doesn't emit section header in certain conditions"
Consider this doc comment:

    //! Access to networking hardware.
    //!
    //! The `phy` module deals with the *network devices*. It provides a trait
    //! for transmitting and receiving frames, [Device](trait.Device.html),
    //! as well as an implementations of that trait that uses the host OS,
    //! [RawSocket](struct.RawSocket.html) and [TapInterface](struct.TapInterface.html).
    //

[2016-12-31 13:20] Amanieu commented on #37197
Hmm this might be trickier than I thought. How would you implement `offset_of!` on a DST?

[2016-12-31 14:49] Zoxc commented on #37051
I've ran into this without using `feature(associated_type_defaults)`, but still having missing associated types in implementations.

[2016-12-31 15:26] Dentosal commented on #38730
Sure. I just thought that rustc shouldn't crash anyways.

[2016-12-31 15:58] burdges commented on #31844
I think `default` helps in the sense that if you want to simplify reading a code then you can ask that nobody use `default` or establish rigorous documentation rules for using it.  At that point, you need only worry about the `default`s from `std`, which presumably folks would better understand.

I recall the idea that documentation rules could be imposed on usages of specialization contributed to

[2016-12-31 16:00] MohiuddinM opened #38742 "thread 'main' panicked at 'assertion failed: index < len'"
[code]

[2016-12-31 16:39] CannedYerins commented on #38688
@rkruppe sure.  Here's my repo gzipped:  https://drive.google.com/open?id=0ByYm-nqhphFaNmJ1aFpwWmFkaUE. I'm compiling x86_64-apple-darwin, if that turns out to matter...

And cleaning did fix it, by the way, thanks.

Also, it's just dawned on me that none of the FFI function names actually follow the LLVM style guide; it says camelCase where we do CamelCase.  Do you think it's worth it to switch t

[2016-12-31 16:40] RReverser commented on #38742
Providing a code that you're trying to run would be helpful here. As you can see, that assertion https://github.com/rust-lang/rust/blob/master/src/libcollections/vec.rs#L760 is just checking that you aren't trying to remove `index` out of vector bounds, which you're probably doing.

[2016-12-31 16:46] RReverser commented on #34949
Looks like this one is duplicate of https://github.com/rust-lang/rust/issues/34948?

[2016-12-31 16:50] rkruppe commented on #38688
Uh, right, LLVM's C++ style says camelCase. But their C API also does the LLVMCamelCase style, so we should stick to that.

Re: your repo, a commit in [your fork](https://github.com/CannedYerins/rust) would be easier on everyone's internet connection (not to mention faster to apply). But it's not very important, I guess it was just a fluke on your machine.

[2016-12-31 16:52] CannedYerins commented on #38688
Ah, got it.

 I don't see how just a patch or a commit in my fork would help if the problem is fixed by cleaning.  That's why I threw that huge thing up there.

[2016-12-31 16:55] rkruppe commented on #38688
If the issue was just a mishap with the generated binaries, then other people pulling new changes and rebuilding won't be affected, and there's no problem. The only way this problem might affect others would be if getting the source code changes and building them on a pre-existing build always triggers the error. That's the case I was interested in. Everything else can fixed by cleaning once.

[2016-12-31 16:57] camlorn opened #38743 "Update Readme Instructions for 32-bit MinGW Builds"
I found out this was incorrect when I had to build Rust on 32-bit Windows for a failing test to do with #37429.  I want to say it was @alexcrichton who gave me the workaround of downloading the zip the CI server uses.  I mentioned updating it on IRC in the same conversation, but that doesn't seem to have happened yet, so I figured I'd open an issue.  I believe it is correct for x64, but haven't tr

[2016-12-31 16:57] est31 opened #38744 "change of libcompiler_builtins/lib.rs code doesn't retrigger a full rebuild anymore"
Before the recent changes to rustbuild, when changing `libcompiler_builtins/lib.rs`, it has rebuilt the entire stage0 artifacts and thus the entire compiler. Now its only doing:
[code]
Later on, you are getting an error like "found possibly newer version of crate `compiler_builtins` which `test` depends on".

[2016-12-31 16:58] est31 commented on #38744
cc @alexcrichton

note, I'm not using any --keep-stage stuff or anything.

[2016-12-31 16:58] CannedYerins commented on #38688
Understood.  I didn't realize that's what you were after.  Thanks for your help on this; I ought to have a PR in a few hours.

[2016-12-31 17:20] est31 commented on #38744
workaround is to do `rm -rf build/TRIPLE/stage*`

[2016-12-31 18:54] #38706 closed

[2016-12-31 20:12] #38742 closed

[2016-12-31 21:01] chriskrycho commented on #38643
@Eh2406 I've nearly following up on the ones you listed; thanks for doing the legwork on all of these!

To a few of the questions you raised:

First, all *process* RFCs can be left out of the Reference (though we should probably see to it that these things are easy to find *somewhere*).

I believe the intent is to capture the styles in a document for reference once they're all settled on (as the i

[2016-12-31 21:21] Amanieu commented on #38735
Generally the "m" constraint is broken. You should use an indirect memory constraint instead:
[code]

[2016-12-31 21:26] DemiMarie commented on #37105
Could this be some sort of data race?  Being unable to reduce it under rr sounds like a race condition.

Can you try ThreadSanitizer?

[2016-12-31 21:40] iankronquist commented on #38735
I was able to work around it by using a register operand, but the compiler told me it was a bug so I reported it.

[2016-12-31 22:00] DemiMarie commented on #38663
In that case, I think we should issue a warning.

[2016-12-31 22:02] DemiMarie commented on #38646
@lu-zero Another option is to use `//` comments everywhere, which do not have this problem.

[2016-12-31 22:35] michaelwoerister commented on #38683
Nice! Thanks for fixing my crate `:)`

[2016-12-31 22:53] Mark-Simulacrum opened #38746 "rustbuild doesn't clean out enough when recompiling"
These two errors, which I believe are related, have started happening with rustbuild recently. I think the second is sometimes caused by the first after trying to avoid cleaning out everything; but since this is all nondeterministic from what I can tell I've included it in case it helps diagnose the problem.

[code]

[code]

cc @alexcrichton

[2016-12-31 23:07] generalelectrix opened #38747 "document behavior of collect() for empty iterators"
Not sure where this would belong, as it certainly comes down to implementation details of different collections.  However, in the common case of collect()ing an iterator into a Vec, it would be helpful if there was documentation somewhere that makes it clear that _collecting an empty iterator into a Vec does not perform a memory allocation_.

In my case I had a happy path where the iterator would

[2017-01-01 00:27] #38691 closed

[2017-01-01 00:27] #38690 closed

[2017-01-01 00:29] dvc94ch commented on #38690
Things move fast around here. Awesome thanks!

On Jan 1, 2017 1:27 AM, "bors" <notifications@github.com> wrote:

[2017-01-01 00:32] alexcrichton commented on #38743
Thanks for the report @camlorn! To clarify, what's happening here is:

* The README provides working 64-bit instructions
* The README then says "s/x86_64/i686/" if you're on 32-bit, but this is wrong.
* On 32-bit, the `gcc` compiler coming from pacman is always compiled with the pthread threading model, which Rust is incompatible with
* We need to recommend downloading a compiler with the win32 th

[2017-01-01 00:33] alexcrichton commented on #38744
I think this is the same as https://github.com/rust-lang/rust/issues/38746 (or that's the same as this), haven't had a chance to investigate yet. My guess is that this is a regression from https://github.com/rust-lang/rust/pull/38631

[2017-01-01 00:50] alexcrichton commented on #33127
We tend to not keep track of feature requests in this repository any more, so nowadays this issue would be best suited for the rust-lang/rfcs repo. As a result I'm going to close, but thanks for the report!

[2017-01-01 00:50] #33127 closed

[2017-01-01 00:50] alexcrichton commented on #33110
I believe this was implemented with `--keep-stage`, so closing.

[2017-01-01 00:50] #33110 closed

[2017-01-01 00:51] alexcrichton commented on #33104
Ah yes we tend to track feature requests in the RFC repo, so I'm going to close this for now.

[2017-01-01 00:51] #33104 closed

[2017-01-01 00:55] alexcrichton commented on #33000
I believe we've since added this, so closing.

[2017-01-01 00:55] #33000 closed

[2017-01-01 00:56] alexcrichton commented on #32986
It seems the backport was merged and I believe this was fixed, so closing.

[2017-01-01 00:56] #32986 closed

[2017-01-01 01:02] alexcrichton commented on #32784
@brson wrong repo perhaps?

[2017-01-01 01:02] #32784 closed

[2017-01-01 01:10] alexcrichton commented on #32070
This has since been fixed, so closing.

[2017-01-01 01:10] #32070 closed

[2017-01-01 02:15] camlorn commented on #38743
As I read the readme, it is currently implying that you need MinGW to perform a MSVC build, as the first paragraph mentions other dependencies that are perhaps not needed.  Given that Windows is my primary platform, it is ironic that I have not yet built Rustc under MSVC.

As a concrete solution, perhaps:

- Move the MSVC section up and edit it to stop mentioning MinGW or implying that you need Mi

[2017-01-01 02:39] #38734 closed

[2017-01-01 02:48] abonander opened #38749 "Publish docs for `proc_macro` crate"
Documentation for the `proc_macro` crate currently does not appear in nightly builds, at least for Windows. This isn't too big of a deal for now as the API is quite simple, but it would still be nice if this crate appeared in the documentation.

[2017-01-01 02:50] abonander commented on #35900
Please add #38749 to the metabug. It's not hugely important, but it'd be good to get this set up so it doesn't have to be done later.

[2017-01-01 02:57] nrc opened #38750 "error message regression: "no resolution found""
"resolution"/"resolve" is compiler jargon and shouldn't be present in user-facing messages. Could be replaced by "declaration" or "definition", though I suspect we might be able to craft a better message than that.

cc @jseyfried @jonathandturner @GuillaumeGomez

[2017-01-01 02:59] Mark-Simulacrum commented on #38746
A few more lines of potentially helpful information:

[code]

[2017-01-01 03:07] brson commented on #38735
Great report. Thanks @iankronquist!

[2017-01-01 04:52] xen0n commented on #38734
Ahhhh big failure of mine. I'm focusing on the *generation* part (the envvar) and forgot to touch the `dist.rs` logic too, and the bots are as red as yesterday (facepalm). Trying to hit the 2017-01-02 nightly instead...

[2017-01-01 05:40] zbraniecki commented on #24745
Sure, features are one option, but if I don't want to mess with the original package and keep it clean, I just end up with something like this:

https://github.com/zbraniecki/fluent-json-rs/blob/99a2b3e08306fe9b298769e0fbe3abf458e9c69e/src/lib.rs

which is a clone of https://github.com/projectfluent/fluent-rs/blob/70b5e8d387f3b836032b42c997c359263b21c8d0/src/syntax/ast.rs

but with From/Into. (to

[2017-01-01 05:56] nrc opened #38751 "can the `?` operator use `into` rather than `from`?"
Since implementing `From` implies an implementation for `Into`, but not vice versa, this seems like it should admit strictly more programs. Not entirely convinced this would be backwards compatible though.

[2017-01-01 07:22] est31 commented on #38744
@alexcrichton yes I think its the same issue. If you are closing dupes, then please close the one that was filed later :)

[2017-01-01 09:21] petrochenkov commented on #38663
It'd be strange to make `break` hygienic without having all the remaining control flow constructions hygienic in general (`return`, `else`?), it's a large and very breaking change, in case of `return` at least.

[2017-01-01 10:01] 0x7CFE opened #38754 "Panic when compiling dft library v0.5.3"
It all started when I tried to use `clap` library in my project. I added `clap = "2.19.3"` to `Cargo.toml` and tried to rebuild:

[code]
…Wait, what? I'm on Linux, why is it trying to download Windows specific libraries?! So I hit `^C` and rechecked the setup. I found nothing very special and concluded that there are some weird dependencies in the libraries, so I tried to continue.

Unfortunately,

[2017-01-01 10:20] petrochenkov commented on #38750
This is news for me, the change was certainly intended.
Previously "unresolved" was used in patterns in struct expressions, https://github.com/rust-lang/rust/pull/38154 unified error messages and now it's used everywhere.
There's also an independent error about "unresolved import"s.

Now "unresolved"/"resolution" is used twice in non-import paths - in the [basic error message](https://github.com/r

[2017-01-01 10:29] 0x7CFE commented on #38754
@nagisa adviced me to remove the `target` directory and compilation succeeded.

However I still treat it as a bug, mainly because IMO, compiler should track versions of all relevant data such as caches, targets and so on.

[2017-01-01 12:08] bjorn3 opened #38755 "Allow linking with macOS frameworks on non macOS when documentating"
https://docs.rs/crate/fsevent/0.2.15 is broken due to use of a macOS framework while docs.rs uses linux.

[2017-01-01 12:21] abonander commented on #38356
I'd love for `#[proc_macro_attribute]` to be implemented soon. I already have a prototype and test usage:

Prototype: https://github.com/abonander/anterofit/blob/proc_macro/macros/src/lib.rs
Example/Test: https://github.com/abonander/anterofit/blob/proc_macro/examples/post_service_proc_macro.rs

[2017-01-01 14:03] #38688 closed

[2017-01-01 14:27] sanxiyn commented on #38754
This seems to be #37803, which is fixed.

While this won't happen in the future, you can still hit the bug when changing the compiler from buggy version to fixed version. Do you still want that fixed, or is this good enough?

As I understand, the bug was never in any release.

[2017-01-01 15:03] shepmaster commented on #25893
This [continues to confuse newcomers](http://stackoverflow.com/q/41413336/155423).

[2017-01-01 15:53] 0x7CFE commented on #38754
Well, I think it's not me who should decide. It is definitely not a blocker for me, because there is an easy solution to perform `cargo clean`.

However, I think this bug may affect some non-trivial setups like compile farms or online compilers where one may eventually face some strange compilation errors.

[2017-01-01 15:56] LaylConway opened #38757 "Emscripten with -O2 and higher fails to generate correctly running JavaScript"
Currently my code is compiled with the emscripten target with `-O2` or higher, rather than printing the correct result (based on reading some javascript values), it will print the following:
[code]
`-O1` works fine, but gives a very large resulting file.

[2017-01-01 16:58] djzin commented on #38747
It appears that the docs for `Vec` already have what you describe:

[code]

https://doc.rust-lang.org/stable/std/vec/struct.Vec.html

It is not the iterator that allows the allocation to be skipped; but rather the implementation of `FromIterator` for `Vec<T>`. One can easily construct a container that *would* allocate when collected into:

[code]

[2017-01-01 17:07] steveklabnik commented on #38643
I'd put this stuff on the forge.

Yes, and this would be separate from the language reference.

[2017-01-01 18:42] #37479 closed

[2017-01-01 18:47] Phrohdoh opened #38758 "Cannot silence test runner"
[IRC Logs](https://botbot.me/mozilla/rust/2017-01-01/?msg=78674895&page=5)

[code]

We should be able to silence the test runner's stdout via `--quiet` like `build` and `clean`'s `--quiet` flag, but alas this is not currently done.

[code]

[code]

ref: https://github.com/rust-lang/cargo/issues/3482

[2017-01-01 18:51] sfackler commented on #38758
`--quiet` prints a compact version of the normal output:

[code]

Seems reasonable for `--quiet --quiet` to completely suppress output though.

[2017-01-01 19:16] tinaun commented on #38643
some more:

# implemented

[#0049](https://github.com/rust-lang/rfcs/blob/master/text/0049-match-arm-attributes.md) - allows attributes in match arms. technically documented in section 6.3 of the reference, but it could be made more explicit that rust allows attributes "inside" enums, structs, matches, etc.

[#0050](https://github.com/rust-lang/rfcs/blob/master/text/0050-assert.md) - adds `debug_a

[2017-01-01 19:24] Phrohdoh commented on #38758
But `--quiet` doesn't even do that for me.

[code]

[code]

[2017-01-01 19:25] sfackler commented on #38758
Why doesn't it? It's displaying zero dots for the zero tests it ran.

[2017-01-01 19:31] moreaki opened #38759 "Question about http://rustbyexample.com/hello/print.html example"
The current example reads:

`println!("{} of {:b} people know binary, the other half don't", 1, 2);`

Would it be more correct to state:

`println!("{} of {:b} people know binary, the other half doesn't", 1, 2);`

Since we probably assume a binary world, half of the set is singular, which probably also means we need to adjust the wording.

[2017-01-01 19:31] matklad commented on #37477
Hey, this has made it's way to stable and it is a rather serious problem I think. @alexcrichton, perhaps it should have some labels/assignee applied?

We face it in IntelliJ Rust: https://github.com/intellij-rust/intellij-rust/issues/867

We run cargo commands with `RUST_BACTRACE=1` by default, so this leaks to the compiler even though we are interested only in the bactraces for the user's code.

[2017-01-01 20:00] est31 opened #38762 "[i128] C FFI mismatch on GNU/Linux with gcc"
Given the following setup:

test.rs:

[code]

test.c:

[code]

gcc version `6.2.0`, rust of current master (ac5cd3bd43b9dbe681417e4), and a 64 bit gnu/linux platform, main will panic:

[code]

cc #35118 (tracking issue)
cc @nagisa , me

[2017-01-01 20:05] steveklabnik commented on #38759
Could you file this against https://github.com/rust-lang/rust-by-example please? Thanks!

[2017-01-01 20:05] #38759 closed

[2017-01-01 20:06] est31 opened #38763 "[i128] ICE when calling function with #[repr(C)]'d tuple struct"
The following code causes an ICE on current master (ac5cd3bd43b9dbe681417e482065b24c08c544e8):

[code]

ICE message:

[code]

cc #35118 (tracking issue)
cc @nagisa , me

[2017-01-01 21:29] moreaki commented on #38759
My apologies, didn't realize this. Filed a new one: https://github.com/rust-lang/rust-by-example/issues/829.

Thanks for letting me know.

[2017-01-01 23:17] aturon commented on #38604
I agree with taking this conservative step.

[2017-01-02 00:58] joshtriplett opened #38768 "Command-line option to list supported feature-gate names"
I'd like to have a command-line option to list all the supported feature-gate names in rustc. This would simplify the job of tools that want to detect the features supported by the installed version of rustc.

I don't know if introducing an option like this would require an RFC, or just a patch. Posting this as an issue to find that out before working on a patch.

[2017-01-02 01:08] rkruppe commented on #38768
Is this about language features, library features, or both?

[2017-01-02 01:10] KolesnichenkoDS opened #38769 "Casting () to ! fails on nightly with an internal compiler error"
I tried to compile [the following code](https://is.gd/dJard8) with rustc 1.16.0 nightly:

[code]

It failed with a compiler error:

[code]

**P. S.** What is an expected behavior when casting to `!` type? Should I open a separate issue for that?

[2017-01-02 01:24] est31 commented on #38768
I'm not sure whether this is what you want, but do you know of the output of `x.py src/tools/tidy`?

[2017-01-02 01:49] joshtriplett commented on #38768
@rkruppe Both, for as long as std and rustc remain coupled.  Anything supported in a `feature(...)` declaration.

[2017-01-02 02:07] joshtriplett commented on #38768
@est31 I didn't. That would work, if available as a runtime option rather than a build-time command.

[2017-01-02 02:10] Craig-Macomber commented on #20142
This was bugging me, so I implemented the first proposed option:

As this is my first real rust code, I imagine its pretty bad quality. A fist attempt is here: https://github.com/Craig-Macomber/rust/commit/adcb0fc81ec7292a05b02352e8bf4137063098b8

[2017-01-02 02:27] LaylConway commented on #38757
After further reading, I was using the API wrong. When calling functions directly in emscripten, they should be prefixed with `Module.`. So, instead of:
[code]
You should be calling:
[code]
The direct call will be optimized out.

[2017-01-02 02:37] LaylConway commented on #38757
Seems I closed this too early, while the docs do recommend that, it has the same result for me currently.

[2017-01-02 02:59] LaylConway commented on #38757
I've narrowed down the issue to happening on the first time it has to call outside the code itself, either `println!()` or some external call.

[2017-01-02 05:03] Eh2406 commented on #38643
Now that we have some examples under our belt I want to try and be a literal clearer about what we are trying to determine about each RFC. I think it is:

1. Is the RFC Retired/Removals/Process/conventions?
If sow, Report on which one, a linke, and a short sentence of description.
2. Else Is the RFC not yet implemented?
If yes or to complicated to tell, Report on a linke, and a short sentence of d

[2017-01-02 05:06] sfackler commented on #38769
It is undefined behavior to construct a value of type `!`.

[2017-01-02 06:40] retep998 commented on #37838
I have just become aware of another function for fatally aborting an application on Windows. `FatalAppExit` which displays a message box and then terminates, but if a debugger is attached it will give the user the opportunity to debug the error.

[2017-01-02 08:07] niconii commented on #29924
Still happens as of `rustc 1.16.0-nightly (4ecc85beb 2016-12-28)`.

[2017-01-02 09:09] jseyfried commented on #38750
How about something like this?
[code]

[2017-01-02 09:54] jseyfried commented on #38706
@keeperofdakeys (cc @nrc)

Not expanding first can be strictly more powerful -- we can support something like
[code]

However, I'm not sure why a `proc_macro_derive` would want to depend on whether the macros in the underlying item have been expanded, so I think forcing `proc_macro_derive`s not to depend on this by expanding the underlying item first might be a good idea.

Note that we currently "

[2017-01-02 10:08] GuillaumeGomez commented on #38750
@jseyfried: I like your examples!
@nrc: it'd be more clear, indeed.

[2017-01-02 10:38] rkruppe commented on #38768
Language features are listed in `librustc/middle/lang_items.rs`. Library features are a bit more difficult to enumerate because they're spread in annotations all over multiple crates (e.g., for the compiler to even know about the `test` feature, it must look at the `test` crate). Still, it ought to be feasible to load all relevant crates for `--print features` because the set is fixed and quite sm

[2017-01-02 10:40] sheldon commented on #38588
I can confirm this worked perfectly for asmjs compilation. All good to close 👍

[2017-01-02 10:58] mzji opened #38772 "Mark `std::mem::size_of` and `std::mem::size_of_val` as const function"
This allows using `size_of` and `size_of_val` in constants contexts. Does this need an RFC?

[2017-01-02 11:06] SimonSapin commented on #33110
@alexcrichton Could you explain how that is used (e.g. what command takes that parameter)? What’s your recommended workflow when working on `std`?

[2017-01-02 11:11] abonander commented on #38772
IIRC from the last time this came up, the data used by these intrinsics isn't available until the translation pass, long after const-expansion, and because of things like arrays, where you can use a const fn for the size, it becomes a chicken-or-egg problem. Imagine if you had something like this:

[code]

Of course, you could paper over this by making it an error to do something like this, but th

[2017-01-02 11:15] SimonSapin commented on #35900
I’ve read multiple times that Macros 1.1 will be stabilized in 1.15, but 1.15.0-beta.1 shipped two weeks ago and at least `extern crate proc_macro;` is still feature-gated in it as well as in nightly 4ecc85beb 2016-12-28. Is the plan to backport the stabilization change?

[2017-01-02 11:16] mzji commented on #38772
@abonander You are right. If we want to do this, we need to add a constrain to `size_of` and `size_of_val` to make them only accept "concrete" types (i.e. types with known size).

[2017-01-02 12:23] chriskrycho commented on #38643
Thanks, @tinaun – integrating those into the list now! Great summary, @Eh2406. You folks' helping out with this is *super* valuable.

[2017-01-02 12:30] chriskrycho commented on #38643
@steveklabnik:

Seems good. As noted, we should get a link to the forge added to [the documentation page](https://github.com/rust-lang/rust-www/blob/master/en-US/documentation.md). I'm happy to submit a PR accordingly, though the way that's currently organized suggests that it might need a new section?

Re: style guide—

👍 Yep, I see that wasn't obvious in my writeup, but that's definitely what I

[2017-01-02 12:31] stjepang commented on #38685
According to the comparison function, these two statements are true at the same time:
* `(11, 0.0) < (14, 0.0)`
* `(14, 0.0) < (11, 0.0)`

Therefore, the function is nonsensical. There is no correct sorted order here. :)
I opened a separate issue in the original project.

This is definitely not a regression and can be closed.

[2017-01-02 12:57] sanxiyn commented on #29694
Closing as a duplicate of #34486, because that issue has more information. Thanks!

[2017-01-02 12:57] #29694 closed

[2017-01-02 13:46] siddontang commented on #37105
@nikomatsakis

We do some test and can't reproduce it with the newest rust + newest TiKV, but to our surprise, we can reproduce it with the newest rust + old TiKV (2016-08-21 version). Our rust version is:

[code]

We don't know why now, maybe the changes in TiKV skip the trigger condition for the core dump, or the problem still exists but we don't meet it sadly.

Now we decide to use the newest r

[2017-01-02 14:06] abonander commented on #38723
I think we need to go lower-level, add an allocator function wrapping `calloc`, and then use it to implement, e.g. `vec![x; N]` and `vec.resize(x, N)` where `x` is all zero-bytes.

As a practical example, this could improve performance of both `std::io::BufReader::new()` and `Read::read_to_end()`/`read_to_string()`.

[2017-01-02 14:10] abonander commented on #38723
I asked about this before on one of the easy question threads on Reddit, one of the responses I got said that it probably wouldn't improve performance under jemalloc for various arbitrary reasons, but under the system allocator (which would know about pages that the OS has already zeroed) this could offer a performance boost over alloc and memset.

[2017-01-02 14:22] hicqu opened #38774 "Could we access associated type out of a struct?"
here is a piece of code:
[code]

could you help me? Thanks!

[2017-01-02 14:33] petrochenkov commented on #38774
@hicqu
[code]

`S::AA::new()` is supposed to work too, but it's not implemented yet. It's a [long standing issue](https://github.com/rust-lang/rust/issues/19559) and the fix is non-trivial.

[2017-01-02 16:30] steveklabnik commented on #38643
Possibly, send one in for whatever you think is best and we can discuss it in-PR.

[2017-01-02 16:37] pornel commented on #36963
Another reason for dropping it as default is that jmalloc makes Rust look bad to newcomers, because it makes Hello World executables larger
(I know it's not a fair way to judge a language, but people do, and I can't stop myself from caring about size of redistributable executables, too)

[2017-01-02 16:38] raphlinus commented on #36963
Another observation - jemalloc seems to add a significant amount of overhead to thread creation, on both Linux and macOS. This hasn't been a major issue for me as we plan to use the system allocator on Fuchsia, but probably something worth looking into.

[2017-01-02 16:46] bluss commented on #33110
--keep-stage is great for when you have changed the compiler and need to iterate on `not(cfg(stage0))` things (or equivalent). You build using `./x.py build --stage 1` first and rebuild using `./x.py build --keep-stage 0 --stage 1` I've used it to great effect this way.

There are other workflows where you can use local rebuild or some developing incremental compilation stuff instead, I don't know

[2017-01-02 16:50] vbarrielle commented on #36701
I've encountered a similar ICE with the latest stable:

[code]
[code]

The problem arised while trying to sort out some trait constraints, apparently adding a `where Range<I>: Iterator<Item=I>` clause was my source code change that triggered the issue. If needed I can put the offending code online, but I'm afraid it won't be a minimal example.

[2017-01-02 17:36] #38685 closed

[2017-01-02 17:43] Eh2406 commented on #38643
I am putting in a couple of hours work now, will ediet when complete.

[2017-01-02 17:47] Amanieu opened #38775 "Drop impl rejected for types with HRTB bounds"
Example code:
[code]
Error:
[code]
The Drop impl has the same bounds as the type definition, so it shouldn't have been rejected by the compiler.

[2017-01-02 17:50] Amanieu commented on #38775
This seems to be a duplicate of #27863 and #32539

[2017-01-02 17:53] michaelwoerister commented on #38575
@alexcrichton

That particular problem seems to be gone in the current version of rustbuild. Maybe that was fixed by #38631? Or maybe I was just assuming that `x.py build --stage 1` would do the same as `make rustc-stage1` and didn't think of actually verifying that assumption. Thanks, anyway!

[2017-01-02 18:17] Timmmm opened #38777 ""error: expected one of `,`, `.`, `?`, or an operator" list is incomplete"
Take this real code I just wrote:

		let text = Text::new()
						.set("x", 200)
						.set("y", lifetime.starting_line*20 + 20)
						.set("class", "annotation")
						.add(svg::node::Text::new(markdown::to_html(&lifetime.markdown));

It gives this error:

[code]

Ok so it does give me a *note* about an unclosed delimiter, but the actual error says

    error: expected one of `,`, `.`, `?`, or an

[2017-01-02 18:21] Wilfred opened #38780 "allow(dead_code) does not work for static externs"
The following Rust code:

[code]

produces the warning:

[code]
in spite of the `allow(dead_code)` annotation.

[2017-01-02 19:38] rsolomo commented on #38722
Thanks for the PR. It has been merged.

[2017-01-02 19:42] michaelwoerister commented on #38620
I can't think of anything special that this test case. It will try to overwrite the executable for each revision, but all the other incremental test cases do that too.

[2017-01-02 19:45] #38722 closed

[2017-01-02 19:48] nikomatsakis commented on #37105
@siddontang ok, well, I'm glad you're not hitting the issue anymore, but I wish we had a better handle on what the problem is exactly. Of course, it is also possible that the bug is in fact in TikV (or some other package featuring unsafe code), so it's quite likely that the problem is indeed fixed by a newer version.

[2017-01-02 19:48] nikomatsakis commented on #37105
I'm going to downgrade to P-low until we have more data.

[2017-01-02 19:48] nikomatsakis commented on #37105
triage: P-low

[2017-01-02 19:49] nikomatsakis commented on #35900
@SimonSapin yes, that was the plan, but we need to make it happen!

[2017-01-02 20:05] nikomatsakis commented on #37477
What makes libbacktrace so slow, anyway? I've definitely noticed the very long lags in the past.

[2017-01-02 20:52] shepmaster commented on #34255
Another from Stack Overflow (missing struct name in constructor):

[code]

[2017-01-02 20:52] jsgf commented on #35061
I'm also having this problem. I assumed that passing `--relocation-model=static` when doing a `--crate-type=bin` build would suppress `-pie` on the linker command line.

[2017-01-02 21:20] tupshin commented on #4287
I just ran into the hanging version of this in my own code. took a long time to figure out how to change it enough so that I would actually get the overflow error

[2017-01-02 21:36] steveklabnik commented on #35900
It still is the plan :p

[2017-01-02 21:36] shepmaster commented on #37477
Judging by [the pretty flamegraph](http://svgshare.com/i/TU.svg) and the [perf report](https://github.com/rust-lang/rust/issues/37477#issuecomment-257175318), I'm going to guess that something is being eagerly allocated when it doesn't need to be.

[2017-01-02 21:48] nagisa commented on #38772
Duplicate of https://github.com/rust-lang/rust/issues/34078.

[2017-01-02 21:51] Timmmm opened #38784 "impl AddAssign<char> for String"
Is there any reason there is an `impl AddAssign<&str>` for `String`, but not `impl AddAssign<char>`? Anyway it's something I would expect.

[2017-01-02 21:56] Kimundi commented on #38137
Yeah, let's wait a bit

[2017-01-02 22:00] Craig-Macomber commented on #11010
I have a branch https://github.com/Craig-Macomber/rust/tree/fast_bench that fixes this. The statistics are a work in progress, but in its current state seems to work pretty well. Its enough to unblock my work with slow benchmarks, but don't trust the data from it, the confidence interval math wrong in a few different ways.

This changes all the statistical logic, so its going to need some careful

[2017-01-02 22:49] joshtriplett commented on #36394
@Amanieu unions don't have a discriminant, though, so all three unions should have the size of a pointer.

Adding a `()` to a union should never add any size to the union, because it adds zero bits of information.  You can always interpret a union as any type you want, and you need 0 bits to identify the 1 possible value of type `()`.

[2017-01-02 23:05] joshtriplett commented on #36312
@petrochenkov Is there any non-trivial design question that arises from putting DSTs in a union, or would they just work in the obvious way? Not arguing against an additional RFC here, just asking if I've missed some unexpected complexity arising from that combination.

[2017-01-02 23:34] japaric opened #38785 "LLVM error when emitting PTX code with debuginfo"
### STR

[code]

[code]

[code]

[code]

[code]

### Workaround

Don't try to emit debuginfo:

[code]

[2017-01-02 23:37] japaric opened #38786 "NVPTX: No "undefined reference" error is raised when it should be"
### STR

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Note that `bar` is called by `foo` but it's not defined in the PTX module. Trying to load this PTX module, with `cuModuleLoadData`, generates a runtime error: `CUDA_ERROR_NO_BINARY_FOR_GPU`.

### Expected behavior

Other targets that produce an executable would fail to compile this with an "undefined reference" error which is

[2017-01-02 23:41] japaric opened #38787 "NVPTX: non-inlined functions can't be used cross crate"
Or all functions should be "inlined" for the nvptx targets

### STR

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Note that `foo` appears as undefined (`.extern .func`) in the PTX module.

### Workaround

Mark `lib::foo` as `#[inline]`. Then you'll get the translation of `foo` in the final PTX module:

[code]

[2017-01-02 23:43] stjepang commented on #38524
Also, the Rust reference is [explicitly](https://github.com/rust-lang/rust/blob/7f2d2afa9196ba6314a29e58d5324dbd9923c75e/src/doc/reference.md) non-normative. Isn't there an official decision regarding normativity of the stdlib documentation?

[2017-01-02 23:49] japaric opened #38788 "Tracking issue for the "ptx-kernel" ABI"
Introduced in #38559.

Feature gate: `abi_ptx`

This ABI is used to generate ["global"] functions. All the other functions that *don't* use the "ptx-kernel" ABI are ["device"] functions.

["global"]: https://docs.nvidia.com/cuda/cuda-c-programming-guide/#global
["device"]: https://docs.nvidia.com/cuda/cuda-c-programming-guide/#device-function-qualifier

The host can only make the device, the GPU,

[2017-01-02 23:56] japaric opened #38789 "NVPTX backend metabug"
The NVPTX backend has been available since: nightly-2017-01-XX

This is a collections of bugs and TODOs related to it.

### Documentation

- [How to: Run Rust code on your NVIDIA GPU](https://github.com/japaric/nvptx)

### Bugs

- LLVM assertion when compiling `core` to PTX. #38824

- LLVM error when emitting PTX code with debuginfo. #38785

- NVPTX: No "undefined reference" error is raised when i

[2017-01-03 00:14] martinlindhe opened #38790 "ICE with nightly on piston-examples"
### Details
OS: Windows 10 x64
rustc: rustc 1.16.0-nightly (4ecc85beb 2016-12-28)
cargo: cargo 0.17.0-nightly (740f9c0 2016-12-29)

### To reproduce

    rustup default nightly
    git clone https://github.com/PistonDevelopers/piston-examples
    cd piston-examples
    cargo build

### Expected
With stable (rustc 1.14.0), the piston-examples does compile successfully.

### Actual output
[code]

[2017-01-03 00:57] tmbb commented on #31150
When trying to compile this file (or any other rust program):

[code]

I get:

[code]

I'm running 32bit ubuntu:

[code]

[2017-01-03 02:15] jseyfried commented on #38586
Fixed in #38792.

[2017-01-03 02:51] jseyfried commented on #38715
Fixed in #38793.

[2017-01-03 03:54] whitequark commented on #34806
I have lost over a *hour* again due to this issue, now because `"min-atomic-width": "32"` is not valid and is silently ignored, whereas `"min-atomic-width": 32` is valid. This is notwithstanding that `"target-pointer-width": "32"` is still the correct form. Consistency, who needs it?

[2017-01-03 04:52] cardoe commented on #34806
I recommend round tripping your config through `--print target-spec-json`. See #38338 for when its going to be available in stable.

[2017-01-03 07:13] josephpd3 commented on #38644
Sorry if I'm out of place in commenting as a total stranger in the Rust repo, but I'm down to help--though I can see why it's a bit on the fence for some.

I feel if the solution to this issue (either sticking to `try` or `?` wholly or drawing the line that @fhartwig suggests) is in line with a practice to make doc examples more idiomatic. That has a sort of consistency in example I feel really bu

[2017-01-03 07:44] fweimer commented on #36963
On the glibc side, we would be interested in workloads where jemalloc shows significant benefits. (@djdelorie is working on improving glibc malloc performance.)

[2017-01-03 07:50] Stebalien commented on #38784
FYI, it was implemented for `&str` because there was already a stable implementation of `Add<&str>`. See https://github.com/rust-lang/rust/pull/34890

[2017-01-03 08:59] canndrew commented on #35121
[This PR](https://github.com/rust-lang/rust/pull/38766) - which got merged in a day - conflicts pretty badly with [my pattern matching PR](https://github.com/rust-lang/rust/pull/38069) which has been sitting in review for over a month. Sorry, my *second* pattern matching PR since [the first one](https://github.com/rust-lang/rust/pull/36476) became unmergeable and had to be rewritten after it sat i

[2017-01-03 09:07] jsgf opened #38795 "`-C rpath` generates bad options for paths with commas"
`-C rpath` generates linker options of the form `-Wl,-rpath,<path>`. This fails if `<path>` contains commas, because `-Wl,` separates options on commas, so the linker ends up getting a bad path and spurious extra parameters.

The solution is to use `-Xlinker` which passes the next option through literally, so the full rpath can be specified with `-Wl,-rpath -Xlinker <path,with,commas>`. The `-Xlin

[2017-01-03 09:28] petrochenkov commented on #36312
@joshtriplett
I don't remember exactly, something about unsizing coercions and how to construct unsized unions (with examples). This coercion business also represented the largest part of implementation work.
\+ Something about last/non-last/>1 unsized fields in unions, they are different from structs in this regard.

[2017-01-03 09:38] jonas-schievink commented on #38769
[code]

[2017-01-03 09:42] #38780 closed

[2017-01-03 13:51] stevematdavies commented on #36235
Its an interesting issue, however, personally I believe a common ground would be maintain the current nomenclature, but perhaps update the documentation.

Its always a good thing for non native English speakers to make comments to the documentation as it really illustrates any problem areas. However, In this particular case, despite being a native English speaker, I'd never come across elision or

[2017-01-03 14:05] 3442853561 commented on #38316
It is necessary to make a localized compiler now. I'm in.

[2017-01-03 14:44] michaelwoerister commented on #38787
This is another problem that would be solved by MIR-only rlibs.

[2017-01-03 14:51] cardoe commented on #34806
Worth noting that you currently have to do this on the nightly and append `-Z unstable-options` to the command line.

[2017-01-03 15:20] japaric commented on #38787
@michaelwoerister Indeed! Is there an issue tracking progress on that? Or do you know what's the status? (Is it blocked by anything?)

[2017-01-03 15:26] steveklabnik commented on #38644
@josephpd3 https://github.com/rust-lang/rust/pull/38648 is already a PR, so I _think_ we have it covered. Reviewing that would be helpful though!

[2017-01-03 15:29] LaylConway commented on #38757
After talking on the emscripten IRC, I've been informed of the problem. It was calling functions before emscripten was properly loaded, which was because it was looking for a .mem file. Here's my full (now working) build script for the interested
[code]

[2017-01-03 15:29] #38757 closed

[2017-01-03 15:43] japaric commented on #34806
@whitequark Had a similar experience recently. I was wondering why this:

[code]

was not passing that argument to the linker. Turns out that the value has to be an array ...

The compiler should at least be printing warnings about this instead of simply ignoring the invalid values.

[2017-01-03 16:11] pnkfelix commented on #26080
triage: still an issue.

[2017-01-03 16:19] pnkfelix commented on #28881
triage: From reading the last two comments from ariel and niko, this seems like it is expected behavior, and could be closed?

[2017-01-03 16:33] steveklabnik commented on #24387
The error format RFC ended up explicitly deciding against this: https://github.com/rust-lang/rfcs/blob/master/text/1644-default-and-expanded-rustc-errors.md#format-of-error-messages So I'm going to give it a close.

[2017-01-03 16:33] #24387 closed

[2017-01-03 16:51] michaelwoerister commented on #38787
I don't think we have a tracking issue for that. We might need an RFC for it too.
It is kind of blocked on incremental compilation, since compile times for some kinds of projects (with lots of machine code in upstream crates) would probably regress. Incremental compilation would take care of that in a quite natural way.

[2017-01-03 17:03] steveklabnik commented on #38774
@hicqu generally, http://users.rust-lang.org/ is the right place to ask for help.

Since @petrochenkov has given you an answer, I'm going to give this a close. Thanks!

[2017-01-03 17:03] #38774 closed

[2017-01-03 17:05] steveklabnik commented on #9564
Triage: this is still a papercut, but not enough of one for someone to have commented in almost two years. As such, I'm going to give this a close. If someone wants to write a library function to make this easier, please do so!

[2017-01-03 17:05] #9564 closed

[2017-01-03 17:09] steveklabnik commented on #10379
Triage: no changes since my last comment.

[2017-01-03 17:12] steveklabnik commented on #14808
Triage: no changes in the last two years. @rust-lang/compiler and @rust-lang/lang , do you have any thoughts here? There was a PR for this, but it was closed in favor of gaining some kind of consensus.

[2017-01-03 17:13] steveklabnik commented on #24761
Triage: the code here is so old that it doesn't compile anymore at all; it was before rust 1.0 As such, I'm giving it a close. @swgillespie if you're still seeing this with new code, please let me know!

[2017-01-03 17:13] #24761 closed

[2017-01-03 17:16] steveklabnik commented on #22321
Triage: I'm not totally sure this metabug is useful;  @pnkfelix what do you think?

* #21198 is still open
* #22323 's last comment says "this probably falls out of MIR-based borrowck"
* #24805 is closed.

[2017-01-03 17:18] steveklabnik commented on #19004
Triage: no updates in almost two years.

Personal note: this code still compiles with the original error today. Neat! Not too much pre-1.0 stuff left that does that...

[2017-01-03 17:18] steveklabnik commented on #14282
Triage: this ticket hasn't had an update in almost two years, and there's no reproduction. As such, I'm going to give it a close. If someone runs into this today and can reproduce, please let me know!

[2017-01-03 17:18] #14282 closed

[2017-01-03 17:20] steveklabnik commented on #24889
Triage: here's today's error, no real change:

[code]

[2017-01-03 17:21] steveklabnik commented on #24907
Triage: this issue is almost two years old, with no other comments. It's mostly a pain of upgrading from pre-1.0 Rust to today's Rust; we haven't deprecated much since then. As such, I'm going to give this a close.

[2017-01-03 17:21] #24907 closed

[2017-01-03 17:21] steveklabnik commented on #24824
Triage: this code compiles today. Closing!

[2017-01-03 17:21] #24824 closed

[2017-01-03 17:24] steveklabnik commented on #24823
Triage: almost two years later, custom derives are almost here on stable. That said, this sounds like a question for @rust-lang/libs ; I'd assume this would use `TryFrom` today, given that it's a fallible operation.

[2017-01-03 17:25] steveklabnik commented on #24821
Triage: @rust-lang/libs, sounds like you need to decide if this is change you'd want to make.

[2017-01-03 17:26] steveklabnik commented on #24768
Triage: it's been almost two years, there's no reproducing. I'm going to close. @thepowersgang if you still feel like this is a problem, please provide one, thanks!

[2017-01-03 17:26] #24768 closed

[2017-01-03 17:27] steveklabnik commented on #13938
Triage: this ticket is now almost three years old, with no other comments than my last triage. I'm going to give it a close. If anyone wants to fix this today, please feel free.

[2017-01-03 17:27] #13938 closed

[2017-01-03 17:28] steveklabnik commented on #13226
Triage: same as in 2015.

[2017-01-03 17:29] steveklabnik commented on #13138
Triage: same as last time. This has all changed so much in general that I don't think this ticket has value any more, so I'm going to give it a close. @kmcallister if you feel differently, please let me know.

[2017-01-03 17:29] #13138 closed

[2017-01-03 17:31] steveklabnik commented on #15509
Triage: we now have [accepted an RFC for procedural macros](https://github.com/rust-lang/rfcs/blob/master/text/1566-proc-macros.md); I believe all of the design work that this ticket is about is happening as part of that effort. I'm going to close.

[2017-01-03 17:31] #15509 closed

[2017-01-03 17:31] steveklabnik commented on #16378
Triage: this ticket is quite old, but I don't have a mac to test to see if it reproduces today.

[2017-01-03 17:33] steveklabnik commented on #3478
Triage: this ticket is incredibly old at this point. I'm going to assume @cmr is right. @nikomatsakis if you think that's wrong, please re-open with the correct context.

[2017-01-03 17:33] #3478 closed

[2017-01-03 17:33] steveklabnik commented on #10381
Triage: as far as I know, this is still true.

[2017-01-03 17:35] steveklabnik commented on #24955
updated link https://gist.github.com/ubsan/e5e6b049fd715b219db4

@ubsan do you happen to have a good way to trigger this error?

[2017-01-03 17:36] steveklabnik commented on #24909
Triage: the error is now fancier, but this is still a quite bad diagnostic:

[code]

[2017-01-03 17:37] steveklabnik commented on #14617
Closing!

[2017-01-03 17:37] #14617 closed

[2017-01-03 17:38] steveklabnik commented on #15555
Triage: I _think_ rustbuild Just Fixes this. @alexcrichton ?

[2017-01-03 17:38] steveklabnik commented on #16077
I'm going to give this a close, please let me know if there's something still relevant here.

[2017-01-03 17:38] #16077 closed

[2017-01-03 17:38] steveklabnik commented on #14407
Triage: still no change that I'm aware of.

[2017-01-03 17:40] steveklabnik commented on #25003
Triage: as far as I know, this is still true today. I'm not sure how it would be fixed though.

[2017-01-03 17:40] comex commented on #34303
@sgrif Any update?

[2017-01-03 17:41] steveklabnik commented on #24801
Triage: compiler extensions will no longer be using the internals of these crates, and so deciding what is public and what isn't shouldn't be a problem any more. Closing!

[2017-01-03 17:41] #24801 closed

[2017-01-03 17:42] steveklabnik commented on #17811
Triage: no change.

[2017-01-03 17:42] steveklabnik commented on #25034
Triage: no change.

[2017-01-03 17:44] steveklabnik commented on #25026
Triage: this compiles without error today. Closing!

[2017-01-03 17:44] #25026 closed

[2017-01-03 17:44] steveklabnik commented on #24411
Triage: unsure what the status is here.

[2017-01-03 17:45] steveklabnik commented on #23227
Triage: I don't have a mac, so I don't know if this is still an issue. No comments in almost two years makes me think not, but maybe!

[2017-01-03 17:50] steveklabnik commented on #25306
Triage: today, this seems much better:

[code]

The other two functions actually look worse, but I am not an expert here. @raphlinus what do you think?

[2017-01-03 17:50] steveklabnik commented on #25345
Triage: no change

[2017-01-03 17:52] steveklabnik commented on #25229
Triage: I'm unaware of any changes here.

[2017-01-03 17:53] steveklabnik commented on #25424
Error messages have undergone a total overhaul since this ticket was filed; as such, I'm going to give it a close.

@viraptor if you still find some of these messages confusing, please open new tickets, and include code that triggers the error please! Thanks.

[2017-01-03 17:53] #25424 closed

[2017-01-03 17:54] steveklabnik commented on #22519
Triage: this ticket is deep in the weeds of compiler internals; I'm not sure if it's still relevant or not.

[2017-01-03 17:57] steveklabnik commented on #11361
With a slight modification to @eefriedman 's example (`clone_from_slice` no longer returns its length), the example compiles, but panics with different length-d slices.

When trying to do the `*buf` version, you still do get that bad error message.

[2017-01-03 17:59] steveklabnik commented on #26072
Today, this generates `fn main() { println!{"foo {}" , "bar" } }`, which does compile. Closing!

[2017-01-03 17:59] #26072 closed

[2017-01-03 17:59] steveklabnik commented on #26067
Triage: no changes that I'm aware of.

[2017-01-03 18:00] steveklabnik commented on #24949
Triage: @Gankro 's example still compiles.

[2017-01-03 18:04] steveklabnik commented on #26043
Triage: this still is true today. Reproduction note: you can get this log by doing `RUST_LOG=debug rustc...`

[2017-01-03 18:07] nikomatsakis commented on #4287
Hmm, @arielb1 added a kind of "maximum size of a type" check a while back, perhaps it could be used to cause compilation to abort sooner here? @arielb1, what do you think?

[2017-01-03 18:08] josephpd3 commented on #38644
@steveklabnik gotcha! Wasn't sure if those changes to `libstd` was the extent of the desired changes or just a part of them. I should've peeked at that PR more. I'll go check it out and help review as I'm able.

[2017-01-03 18:12] raphlinus commented on #25306
Yeah, all good today. I haven't done deep performance analysis, but from examination of the assembly code they all look good. There is a slight difference, in the first version the check against `s.len()` is at the bottom, so there needs to be an early exit in the empty case, in the other two (which are identical) it's the at top of the loop, but there's just a bit more register shuffling.

This f

[2017-01-03 18:12] #25306 closed

[2017-01-03 18:12] eddyb commented on #22519
Still is entirely relevant.

[2017-01-03 18:13] nikomatsakis commented on #35121
@canndrew argh, I'm sorry about that. =( I was planning on r+'ing your PR today, too...

[2017-01-03 18:15] steveklabnik commented on #7463
Triage: to try this today, do

    RUSTFLAGS="-C passes=lint" python x.py build

We are very much not close to clean.

[2017-01-03 18:18] bluss commented on #25306
Because the loop in `Iterator::position` is normally not unrolled by the optimizer, explicit unrolling like #37972 can help.

[2017-01-03 18:18] nikomatsakis commented on #28881
@pnkfelix that seems right. I'd probably like to make a list of coherence failures though -- i.e., that we might use to validate negative reasoning designs and other things like that. Not sure where to put such a list, but it seems like this would be on it.

[2017-01-03 18:18] alexcrichton commented on #15555
Yes I think because we're now leveraging `cargo doc` this is just taken care of.

[2017-01-03 18:18] #15555 closed

[2017-01-03 18:30] nikomatsakis commented on #14808
I personally don't have any problem emitting `\r\n`, but I'm not a big fan of offering the pretty printer at all, mostly because it's a complex, little-used piece of code. It's definitely handy for debugging macros though and we don't really have a good alternative right now, so it seems like it'd be good if it integrated more smoothly with windows.

That said, I think the proper comparison for `c

[2017-01-03 18:48] brson commented on #38586
Thank you so much @jseyfried ! This is good polish.

[2017-01-03 19:12] retep998 commented on #14808
The pretty printer is incredibly useful for debugging macros, but that's really about it. I don't care anymore about the choice of line ending for pretty printing, and rustfmt takes care of formatting code. I just want the pretty printer to be polished as a proper macro debugging tool, the equivalent of preprocessing only in C++.

[2017-01-03 19:13] nikomatsakis commented on #35937
@eddyb

I was working with @caipre on a PR to do this at some point, but I think they lost steam. It was a bit trickier than I at first thought. In any case, there is an issue specific to this problem: https://github.com/rust-lang/rust/issues/28419

[2017-01-03 19:21] shepmaster commented on #25306
@raphlinus perhaps https://github.com/shepmaster/jetscii would be of interest then.

[2017-01-03 19:25] TheZoq2 commented on #38321
I just ran into this aswell. I agree that it would be more clear if it highlighted the whole `src_addr()` instead of just `src_addr` but adding a note saying something along the lines of

[code]
Would be even more helpfull

[2017-01-03 19:32] generalelectrix commented on #38747
Hmm, I wasn't even aware of that behavior for Vec, I still thought Vec::new() allocated immediately with a standard capacity.  Either my understanding is out of date or was just always wrong :)  Moreover, the documentation of the mechanism and how to go see how it works for the collection of your choice is part of the damn trait method signature, so really no more docs are necessary here.  Thanks!

[2017-01-03 19:32] #38747 closed

[2017-01-03 19:43] steveklabnik commented on #25362
Triage: I bet https://github.com/japaric/cross would make this easy to reproduce; I can't do it at the moment though.

[2017-01-03 19:44] steveklabnik commented on #26007
/cc @rust-lang/lang , I repeat my question from last time: is this a bug, or are there rules? We should doc the rules if this is expected.

[2017-01-03 19:50] comex commented on #28640
I think this is fixed.  I now get
[code]

with rustc installed via rustup.

[2017-01-03 19:52] jonas-schievink commented on #25362
[code]
For some definition of easy, I guess :joy:

[2017-01-03 19:57] steveklabnik commented on #25942
@ericsink did you ever figure this out? It looks like maybe the directory got renamed or something; I didn't see it in the repo today.

[2017-01-03 19:59] m4b commented on #28640
@comex can you update with output for the LC_RPATH value?

[2017-01-03 19:59] steveklabnik commented on #26123
Triage: IIRC, the test that was ignored is now https://github.com/rust-lang/rust/blob/master/src/test/debuginfo/gdb-pretty-struct-and-enums-pre-gdb-7-7.rs and I don't see an `ignore-test` anymore, so assuming this is fixed. @michaelwoerister let me know if this is incorrect!

[2017-01-03 20:03] steveklabnik commented on #22194
Triage: today, this complains about a lack of `'static`, and I'm not 100% sure how to fix it; I thought adding `+ 'static` would, but it doesn't seem to help.

[2017-01-03 20:04] steveklabnik commented on #25638
Triage: no changes I'm aware of

[2017-01-03 20:05] steveklabnik commented on #26100
Today, this gives a "cannot be made into an object" error, so I think it can be closed!

[2017-01-03 20:05] #26100 closed

[2017-01-03 20:05] steveklabnik commented on #26135
Triage: no changes I'm aware of.

[2017-01-03 20:06] steveklabnik commented on #14543
Triage: we still don't offer this today.

[2017-01-03 20:07] steveklabnik commented on #9323
Triage: same error today.

[2017-01-03 20:10] kirillkh commented on #16223
I ran into this or similar issue today. (still exists on nightly)

[2017-01-03 20:10] steveklabnik commented on #20753
This no longer ICEs for me!

[code]

[2017-01-03 20:10] #20753 closed

[2017-01-03 20:11] steveklabnik commented on #26271
Triage: same error as today.

[2017-01-03 20:19] comex commented on #28640
Oh, yeah.  Actually, `LC_RPATH` is not quite right.  There are two:
[code]

The first one is right, although I'm about to file another issue about the nonsensicality of using a relative path in this instance.  The second one is wrong, as `/usr/local/lib/rustlib` does not exist.

[2017-01-03 20:22] steveklabnik commented on #26538
This now suggests `  = help: consider adding an explicit lifetime bound `M: 'static`...`, with no span. I can't see what the original error was because it wasn't in this ticket, but it sounds like a bad span that was fixed to me. I'm going to give this a close, @kali , if this is still confusing, please let me know!

[2017-01-03 20:22] #26538 closed

[2017-01-03 20:22] steveklabnik commented on #26589
This program compiles today. Closing!

[2017-01-03 20:22] #26589 closed

[2017-01-03 20:23] steveklabnik commented on #26361
@rust-lang/lang , is this a bug or not?

[2017-01-03 20:24] ericsink commented on #25942
Hmm, sorry I left this dangling.

No, I never got this to become something addressable by the Rust team.

I may have realized that I was just doing something dumb, but I haven't worked on that side-project in a while, and I honestly don't remember for sure.

So, I'm going to close this.  Thanks.

[2017-01-03 20:24] #25942 closed

[2017-01-03 20:25] steveklabnik commented on #26297
Triage: this detection is still the same, but no comments in years. I believe this is an upstream bug, so I'm going to give this a close. Thanks!

[2017-01-03 20:25] #26297 closed

[2017-01-03 20:26] steveklabnik commented on #26319
Three of these have the same errors now: mismatched type between `str` and `&str`. The third has an error about Sized not being implemented.

[2017-01-03 20:26] steveklabnik commented on #26335
Triage: no change

[2017-01-03 20:28] steveklabnik commented on #26397
Triage: still reproduces today.

[2017-01-03 20:36] retep998 commented on #25638
Was fixed by me: https://github.com/rust-lang/rust/pull/26416

[2017-01-03 20:36] #25638 closed

[2017-01-03 20:38] steveklabnik commented on #26291
Triage: no change

[2017-01-03 20:39] steveklabnik commented on #26288
Triage: no change

[2017-01-03 20:40] steveklabnik commented on #26283
Triage: no change

[2017-01-03 20:41] steveklabnik commented on #9082
Triage: no change with @eefriedman 's example

[2017-01-03 20:42] steveklabnik commented on #12264
Triage: @goffrie 's comment and the length of time this has sat, plus changes in how we do syntax extensions, means I'm closing this. @pnkfelix if you think that's wrong let me know!

[2017-01-03 20:42] #12264 closed

[2017-01-03 20:43] steveklabnik commented on #9767
Today, this gives a much better error

[code]

and given that this matches `type`'s semantics, I'm gonna give this one a close! Thanks.

[2017-01-03 20:43] #9767 closed

[2017-01-03 20:43] pyfisch commented on #38739
Cannot reproduce on `rustc 1.16.0-nightly (4ecc85beb 2016-12-28)`. Anyway try removing one space character before the list items.

[2017-01-03 20:45] steveklabnik commented on #24307
Triage: I am not aware of any changes here. @rust-lang/libs is this something we still want to consider?

[2017-01-03 20:46] whitequark commented on #38739
That didn't help. I am using `rustc 1.15.0-nightly (daf8c1dfc 2016-12-05)`.

[2017-01-03 20:47] eddyb commented on #26361
cc @jseyfried

[2017-01-03 20:49] steveklabnik commented on #8280
Triage: @arielb1 said that this compiles, but it at least needs some massaging due to changes. I tried to do some of them, but it wasn't totally clear to me what should be done, exactly.

It's not clear to me if @wthrowe 's example is the same thing or different.

[2017-01-03 20:52] steveklabnik commented on #13224
Triage: still there today https://github.com/rust-lang/rust/blob/8f62c2920077eb5cb81323142fc5dbe6ae8813c0/mk/dist.mk#L352-L357

[2017-01-03 20:53] whitequark commented on #38739
@pyfisch I can reproduce this on `rustc 1.16.0-nightly (4ecc85beb 2016-12-28)` as well. Please check out https://github.com/m-labs/smoltcp/tree/c104859011d8393fe3fdcf8ad54381ea6e055707 and remove this line: https://github.com/m-labs/smoltcp/blob/c104859011d8393fe3fdcf8ad54381ea6e055707/src/wire/mod.rs#L13.

[2017-01-03 20:54] eddyb commented on #26007
IMO what's being described here is a subtle but correct combination of autoderef and priority rules.

[2017-01-03 20:54] steveklabnik commented on #25942
No worries! Thanks for the update.

[2017-01-03 20:57] mark-buer commented on #16378
Just tested it (using latest nightly installed via rustup).
Running the compiled program (from original post) crashes with:
[code]

[2017-01-03 20:58] #38588 closed

[2017-01-03 21:00] brson commented on #38489
Looks like the fix is merged.

[2017-01-03 21:00] #38489 closed

[2017-01-03 21:01] pyfisch commented on #38739
@whitequark  Indeed. Use line comments (`//! ...`) instead of block comments (`/*! ... */) in line 27 to 45 and the list is closed.

[2017-01-03 21:02] brson commented on #36317
Closing this out-dated tracking issue.

[2017-01-03 21:02] #36317 closed

[2017-01-03 21:05] whitequark commented on #38739
@pyfisch The ergonomics of that is absolutely atrocious for code examples, so I'm not going to. I don't see a reason for rustdoc to exhibit this "action at a distance"; why does a comment way below affect the way a list is closed?

[2017-01-03 21:10] brson opened #38800 "Get test suite working with wasm"
Last I looked compiletest could not deal with wasm as outputted today by rustc because the binaryen interpreter expects the wasm file to be located in a specific relative path that compiletest does not set up correctly.

I recall the fix being a matter of refactoring compiletest to pass certain paths down to the process spawning node.

[2017-01-03 21:12] steveklabnik commented on #23189
Triage: being tracked by glacier.

[2017-01-03 21:12] pyfisch commented on #38739
This is obviously a bug in rustdoc.

I don’t know the inner workings of rustdoc an I am not inclined to research this edge case related to uncommon doc-comment syntax. Maybe you can find the problem yourself in the code?

[2017-01-03 21:12] steveklabnik commented on #23600
Triage: tracked by glacier

[2017-01-03 21:12] brson opened #38801 "Set up CI testing for asm.js and wasm"
asm.js and wasm targets only have build CI today. They need tests to be run as well in order to maintain decent support.

I think there's a good chance we will lose asm.js support, at least temporarily, when we switch to the LLVM wasm backend, but as long as we do support asm.js we might as well test it too.

This should be a matter of changing the travis config to run the tests in a new container

[2017-01-03 21:13] steveklabnik commented on #26841
Triage: still reproduces today.

[2017-01-03 21:14] steveklabnik commented on #24857
Triage: still true today

[2017-01-03 21:14] steveklabnik commented on #22789
Triage: tracked by glacier

[2017-01-03 21:15] steveklabnik commented on #22603
Triage: tracked by glacier

[2017-01-03 21:15] steveklabnik commented on #22566
Triage: tracked by glacier

[2017-01-03 21:15] brson opened #38802 "Run all crates.io tests against wasm target to uncover fresh bugs"
To quickly get an idea for the ecosystem support for wasm we can pretty quickly run all the tests in the world with [cargobomb](https://github.com/brson/cargobomb). I think it makes a lot of sense, once some of the other low-hanging fruit is fixed, to run all crates' test suites under wasm before making the final push for production.

[2017-01-03 21:15] steveklabnik commented on #22565
Triage: tracked by glacier

[2017-01-03 21:16] steveklabnik commented on #21139
Triage: tracked by glacier. That said, pretty sure I agree with @arielb1 that this is a duplicate. Not 100% sure, so I'll keep it open; if anyone knows for sure, please feel free to close.

[2017-01-03 21:17] brson opened #38803 "Tool support for testing wasm targets"
In order to make the wasm targets production ready we'll need a testing solution. Right now I'm inclined to teach [cross](https://github.com/japaric/cross) how to do it and call that the solution, but that excludes macOS hosts, and for now at least, Windows as well, since it relies on docker.

cc @japaric

[2017-01-03 21:17] steveklabnik commented on #18794
Triage: no change

[2017-01-03 21:18] steveklabnik commented on #20872
Triage: Gonna trust @arielb1 and give this a close; feel free to re-open if this is wrong.

[2017-01-03 21:18] #20872 closed

[2017-01-03 21:19] steveklabnik commented on #26597
@jroesch bump! You only have one box not checked here, can this be closed?

[2017-01-03 21:20] brson opened #38804 "Migrate wasm target to LLVM wasm backend"
At some point we must move rustc off the LLVM fastcomp backend. Maintaining it in sync with emcc is exceedingly burdensome. The only viable solution I see any time soon is to use the nascent LLVM wasm backend, which is not yet generally usable. I expect that we will switch to that backend, emitting wasm into rlibs instead of LLLVM IR, then link multiple wasm modules together via emcc. We may need

[2017-01-03 21:21] Rufflewind commented on #22565
Ran into this same bug in a way very similar to @arielb1.  Of course, it's my fault: I should have used `(i64,)` rather than a bare `i64`, but I suppose less scary error message would be nice.

[code]

    error: internal compiler error: /buildslave/rust-buildbot/slave/nightly-dist-rustc-linux/build/src/librustc_trans/abi.rs:371: argument to function with "rust-call" ABI is not a tuple

Couldn't g

[2017-01-03 21:21] steveklabnik commented on #26804
A totally different error,

[code]

in all three cases. However, if we introduce a new `Foo` trait rather than `Sized`, the same error happens:

https://is.gd/L91Hku

[2017-01-03 21:22] steveklabnik commented on #26046
This error message has gotten better:

[code]

Is it good enough? I'm not sure.

[2017-01-03 21:22] brson opened #38805 "Tracking issue for wasm support"
It's been a while since I've looked at the state of wasm in Rust, and
there's a lot more to be done for it to be really usable. Is anybody
doing anything significant with Rust and emscripten yet?

Today I've triaged all the emscripten issues and put together a little
roadmap. I'm hoping others can help fill in the gaps here and get this
across the finish line.

I'll start by outlining the near-ter

[2017-01-03 21:23] withoutboats commented on #26007
Ugh I would prefer it if this were not the case but don't know what would break! In particular, I would prefer if `&` vs `&mut` didn't influence dispatch precedence.

[2017-01-03 21:26] steveklabnik commented on #26720
Triage: no change.

[2017-01-03 21:27] steveklabnik commented on #3738
Triage: it's been a year and a half since I asked about relevance; I'm going to close. A four-digit bug! whew.

Please let me know if this is wrong.

[2017-01-03 21:28] steveklabnik commented on #26518
Triage: it's been a long time, and with no response about SP1, I'm going to give this a close.

@dev-priporov if you're still seeing this today, please let me know and we can re-open.

[2017-01-03 21:28] #26518 closed

[2017-01-03 21:28] steveklabnik commented on #19475
Triage: no change.

    o_____o

😉

[2017-01-03 21:30] steveklabnik commented on #24914
Triage: compiler plugin stuff is changing wildly; it will not be using this interface publicly. And given that is about a diagnostic, and nobody has commented in a while, I'm going to give this a close. If someone else sees a bad diagnostic like this with stable code, please let me know!

[2017-01-03 21:30] #24914 closed

[2017-01-03 21:31] steveklabnik commented on #26634
Triage: still relevant today

[2017-01-03 21:31] steveklabnik commented on #26614
Triage: reproduces today, though with the new-style error, of course.

[2017-01-03 21:37] steveklabnik commented on #26619
Triage: this branch no longer builds:

[code]

Following that issue, if we patch it:

[code]

then we get a different error:

[code]

that error is, uh, not great. But I think that means the soundness issue is fixed?

[2017-01-03 21:37] steveklabnik commented on #26633
Triage: so is this a problem or not?

[2017-01-03 21:41] eddyb commented on #26633
cc @rust-lang/lang I am a bit worried about this.

[2017-01-03 21:47] steveklabnik commented on #27329
Triage: given that nobody seems to have seen this in a year and a half, I'm going to give this a close. Thanks @kirillkh !

[2017-01-03 21:47] #27329 closed

[2017-01-03 21:48] steveklabnik commented on #26486
Triage: I think this is fixed? https://doc.rust-lang.org/libc/x86_64-unknown-linux-gnu/libc/struct.Dl_info.html?search=uid_t shows `libc::uid_t` first. Though maybe the structure of libc changed rather than rustdoc itself.

[2017-01-03 21:49] nikomatsakis commented on #38390
I agree with @nagisa that this is expected behavior, though I'm not sure what caused it to change.

[2017-01-03 21:52] brson commented on #38390
Seems like we just need to add the test case.

[2017-01-03 21:53] nikomatsakis commented on #38390
Yeah, I'll have to try and minimize it though.

[2017-01-03 22:03] steveklabnik opened #38808 "ICE: Encountered error `Unimplemented` selecting `Binder(<[i32; 1000] as std::clone::Clone>)` during trans"
[code]

[code]

[2017-01-03 22:07] steveklabnik commented on #24000
Minimal reproduction here:

[code]

[2017-01-03 22:11] steveklabnik commented on #25690
Triage: it's been a while. Is anyone still seeing this?

[2017-01-03 22:12] steveklabnik commented on #27126
Triage: this bit still exists.

[2017-01-03 22:16] Mark-Simulacrum commented on #34121
I propose that we close this issue, as discussed in #37426: tools find it easier to parse output when given in the limited form of `-Zinput-stats` versus `debug!` logging.

[2017-01-03 22:17] kripken commented on #38805
Just curious, why? Doing asm.js first, which is very stable, is the more reliable path, instead of going straight to wasm. It's true it requires the fastcomp update, which might or might not be a lot of work, which I don't think we know yet.

[2017-01-03 22:20] kripken commented on #37609
I can look into the effort needed to update emscripten's fastcomp LLVM version, but I need to know a commit to aim for. Sounds like the goal here is 4.0, which hasn't released yet, so I guess I have to wait on that?

[2017-01-03 22:22] steveklabnik commented on #27031
So, years later: I think this ticket is basically not actionable, right? I would imagine something like

Would be RFC territory. Maybe not. I dunno.

[2017-01-03 22:23] steveklabnik commented on #23314
Triage: this is https://github.com/rust-lang/rfcs/issues/959, and we'd need an RFC to change this stuff, so I'm going to give it a close.

[2017-01-03 22:23] #23314 closed

[2017-01-03 22:23] jonas-schievink commented on #3738
Still relevant: https://github.com/rust-lang/rust/blob/master/src/libsyntax/symbol.rs#L231

[2017-01-03 22:24] steveklabnik commented on #27487
Triage: so is this a bug or not?

[2017-01-03 22:31] jonas-schievink commented on #34121
Yeah, sounds like a good idea, since this is being used by tools.

[2017-01-03 22:31] #34121 closed

[2017-01-03 22:33] est31 commented on #38805
@kripken have you read further below? It seems that @brson wants to use LLVM's wasm backend, which would apparently mean that asm.js compat is dropped. It would make sense as then emcc wouldn't block the LLVM upgrade any more.

[2017-01-03 22:39] kripken commented on #38805
Yeah, that's a bunch of additional questions, though, as currently it is not yet stable and produces larger/slower code. But it does have the advantage of not maintaining an LLVM fork, which is considerable of course.

In principle, if we want to do the least work for rust-on-the-web, we could wait for the wasm backend or use it with the downsides, if we don't mind them.

[2017-01-03 22:39] jonas-schievink commented on #38808
Duplicate of #25733

[2017-01-03 22:40] rkruppe commented on #38804
re: storing wasm in rlibs and hacking emcc to make it link those, this would neatly be solved by MIR-only rlibs. That *just* came up in the context of another backend (#38787) so I'm thinking we should really have an issue for that to collect these things. cc @michaelwoerister

[2017-01-03 23:14] steveklabnik commented on #38808
whoops!

[2017-01-03 23:14] #38808 closed

[2017-01-03 23:18] chicoxyzzy commented on #38805
I'm not sure if this is a good place for my comment but I don't know where to create an issue. Please point me to the right repo.

I was following instructions https://users.rust-lang.org/t/compiling-to-the-web-with-rust-and-emscripten/7627 and had no luck in generating working example.
- Resulting JS file doesn't work on node. Error is
[code]
- Running wasm file on Node doesn't work because lates

[2017-01-03 23:26] michaelwoerister commented on #26123
Seems to be fixed :)

[2017-01-03 23:26] #26123 closed

[2017-01-03 23:27] kripken commented on #38805
In general you can open an issue on either the binaryen tracker (often it's the right place, if not that's fine too). Regarding your issues:

 * Yes, node.js doesn't have wasm support yet. You can use SpiderMonkey or V8 shells (very latest versions), or [nightly/canary](https://github.com/kripken/emscripten/wiki/WebAssembly#testing-native-webassembly-in-browsers) versions of the browsers. Or, enab

[2017-01-03 23:34] #38772 closed

[2017-01-03 23:43] bluss commented on #38723
`std::vec::from_elem` is the function behind the `vec![x; n]` repetition. [source for from_elem](https://doc.rust-lang.org/1.14.0/src/collections/up/src/libcollections/vec.rs.html#1304-1311)

[2017-01-03 23:46] michaelwoerister opened #38810 "trans: Collector misses closure drop-glue generated via fn-once-shims"
FnOnce shims can introduce a drop of `ClosureType`, but the translation item collector only ever gets to see the `&ClosureType` which does not require drop-glue. This leads to errors because the desired drop-glue doesn't get instantiated.

@arielb1 Do I remember correctly that you were looking into FnOnce shims at the MIR level? That might help here.

[2017-01-03 23:53] nagisa commented on #7463
We have 2 broad kinds of warnings coming up while translating rustc:

[code]

and

[code]

The first is very scary, not sure about 2nd.

[2017-01-03 23:56] dherman opened #38811 "std::process::Command: piped stderr hangs in Windows"
It looks like the use of overlapped I/O on stdio ports may cause some problems in Windows. When I try to shell out to `npm install` using `Stdio::piped()` on the stderr port, the command runs successfully but hangs at the end.

@alexcrichton pointed me to this commit as the likely culprit: https://github.com/rust-lang/rust/commit/7c3038f82477491e20c6f80c0139ddb1f1b912ca

Here's the smallest test c

[2017-01-03 23:57] Mark-Simulacrum commented on #26046
I think it would be nice if the "derives from here" message pointed at the type or printed the type of the expression. This is certainly not necessary, though.

[2017-01-03 23:57] chicoxyzzy commented on #38805
Just created https://github.com/WebAssembly/binaryen/issues/867

[2017-01-04 00:37] dherman opened #38812 "error message for uninferrable type"
The error message when an unused variable leads to an uninferrable type is confusing:

[code]

@nikomatsakis pointed me to #36554. I'm not sure how much that issue was aiming to fix.

If I'm not mistaken, most (all?) of these kinds of situations occur when an expression is flowing into an unannotated local variable binding. It seems like a better error message would highlight the binding as well a

[2017-01-04 00:38] nrc commented on #38532
@alexcrichton I thought I had to `git pull` in order to get a new snapshot? Or maybe `configure`? I don't remember the snapshot changing on a plain `make`.

[2017-01-04 00:43] nrc commented on #32409
I've probably been spending too much time on rustfmt, but `pub{foo}` looks very bad to me - I think it is rare to use braces like this? We mostly use them for block-like things, the only exception being in `use` expressions, where they are always preceded by `::` (and where, thinking about, I'd prefer to use parens anyway). I'd prefer using `[]` or `<>` instead of `{}` - I don't think any is reall

[2017-01-04 00:46] nikomatsakis commented on #38683
So, I tried a build from the beta branch (which I believe includes a backport of #38600). I don't see any illegal instructions, but instead running the hamt-rs tests just hangs and never completes! Indeed, using the latest nightly build (from Dec 28 or so) still exhibits the error. I haven't tried a plain vanilla master build yet.

[2017-01-04 01:17] nrc commented on #31844
@withoutboats am I correct in reading your motivation for loosening of `default` as you want a restricted form of `default` which means "overridable, but only in this crate" (i.e., `pub(crate)` but for `default`)? However, to keep things simple you are proposing changing the semantics of omitting `default`, rather than adding graduations of `default`-ness?

[2017-01-04 01:22] alexcrichton commented on #38683
@nikomatsakis oh I don't think it's hanging it's just taking awhile (takes a long time for me on stable too). I just let it run to completion and it finished successfully on both beta/stable.

So looks like the beta backport fixed the issue, so closing.

[2017-01-04 01:22] #38683 closed

[2017-01-04 01:23] withoutboats commented on #31844
Correct. Doing something like `default(crate)` seems like overkill.

[2017-01-04 01:23] alexcrichton commented on #38720
Confirmed working on most recent beta, so closing.

[2017-01-04 01:23] #38720 closed

[2017-01-04 01:24] alexcrichton commented on #38390
If this is expected behavior and just needs a test case, I'll also remove the regression tag.

[2017-01-04 01:26] nrc commented on #38750
@petrochenkov I think I feel better with "resolved"/"unresolved" as verbs/adverbs than I do with "resolution" as a noun. I like your other suggestions (and @jseyfried's) better.

I would prefer more 'wordy' error messages (similar to the GCC/Clang) examples, rather than the shorter, note-like ones @jseyfried suggested, e.g., "`bar` is undeclared" rather than just "undeclared" or "'foo' was not dec

[2017-01-04 01:30] chicoxyzzy commented on #38805
Update: cross-compiling to wasm works as expected

[2017-01-04 01:33] cuviper commented on #32409
The `{}` braces as found in `use` are similar to [Bash brace expansion](https://www.gnu.org/software/bash/manual/html_node/Brace-Expansion.html), where you can read it as repeating the prefix for each item in the list. (`use foo::{bar,baz};` -> `use foo::bar; use foo::baz;`)  That repetition doesn't exactly fit the `pub` idea as well, especially since the braces aren't optional with a single visib

[2017-01-04 01:34] nrc commented on #38524
@aturon

I might be wrong, but I believe that when adding documentation, a reviewer does not review on the basis that this is the spec for the API for evermore and will be binding up to our stability policy. Therefore it seems possible that there is documentation that we would not be happy to take as a normative spec.

Put another way, I would expect that any specification should be opted in to, r

[2017-01-04 01:50] #38052 closed

[2017-01-04 01:54] binarycrusader commented on #18290
I hit another case with this just in the last few days using nightly via rustup:

[code]

[code]

Changing the `use super::*;` into `use super::ACT_STRINGS;` makes no difference.

[2017-01-04 02:05] Mark-Simulacrum commented on #26597
I'd be happy to do the work renaming things if given a list (or even an approximate list, general idea).

[2017-01-04 02:06] Mark-Simulacrum commented on #23227
`make -j8 check-stage1-debuginfo-lldb` passes for me on `Darwin macbook 16.3.0 Darwin Kernel Version 16.3.0`.

[2017-01-04 02:15] eddyb commented on #26597
I'm not even sure what we should do now, it's likely time for a cache-reuse-targetted redesign.

[2017-01-04 02:23] canndrew commented on #35121
Sorry, I don't want to whine but this has hella been dragging on. I gave up on trying to maintain multiple PRs at once and now I've been trying to get this one change in since September. I think part of the problem is the timezone difference - you lot are all online while I'm in bed so it's hard to chat about this stuff.

[2017-01-04 02:28] dylanmckay commented on #37609
So far as AVR is concerned, any commit within the last month will do. There will likely be a few more months until 4.0 is actually tagged (every ~6 months a new release is made). It is quite common for projects to track LLVM master, which I'm personally a fan of.

[2017-01-04 02:32] cuviper commented on #37609
But is it common to *release* snapshots from LLVM master?  When LLVM itself only releases every 6 months, it seems incongruous for Rust to pick arbitrary snapshots in its 6-week release cycle.

[2017-01-04 02:33] rkruppe commented on #37609
LLVM 4.0 will branch in a week and the final release will happen in late feburary (schedule says  21st for final tag, but this is flexible IIRC).

[2017-01-04 02:50] jseyfried commented on #38750
@nrc

To be clear, I was only suggesting the shorter ones for the `span_label`s, e.g.
[code]

[2017-01-04 03:01] DemiMarie commented on #32330
@nikomatsakis will this also solve #26325 or #20304?

[2017-01-04 03:11] aturon commented on #38524
This definitely seems worth a live discussion on the libs team; nominating for the next meeting.

[2017-01-04 03:46] steveklabnik commented on #38524
I'd like to attend, if possible.

[2017-01-04 03:47] jseyfried commented on #38442
This will be fixed in macros by example 2.0 (`macro`).

I think it would be a good idea to also fix this for `macro_rules!`, although we will probably have to make compromises for backwards compatibility (c.f. the example from #26361).

[2017-01-04 03:51] #38744 closed

[2017-01-04 03:51] #38746 closed

[2017-01-04 06:23] jseyfried commented on #38442
Closing in favor of #26361.

[2017-01-04 06:23] #38442 closed

[2017-01-04 06:43] softprops commented on #26007
I believe that what ever the rules for this were they recently changed in beta ( and earlier on in nightly )

I have a travis build that just started failing on beta do the incorrect selection of dispatch

https://travis-ci.org/softprops/afterparty/jobs/188728497#L378

I think I have precisely the case listed in this issue. I have an inherent impl method called handle which takes a [&mut self](htt

[2017-01-04 06:48] softprops commented on #26007
what's wierd is that if I modify the playpen example above to try and reproduce the error I see in my build it fails on stable as well in the playpen https://play.rust-lang.org/?gist=ac3bb4233c2c32876ff68f0fcd9c222d&version=stable&backtrace=1

[2017-01-04 06:58] niconii commented on #26007
The priority table in my original post seems to still be the same on `rustc 1.14.0 (e8a012324 2016-12-16)` and `
rustc 1.16.0-nightly (4ecc85beb 2016-12-28)`, though I don't know if or how other arguments play into all this.

[2017-01-04 07:01] jseyfried commented on #38682
Fixed in #38817.

[2017-01-04 07:15] djzin opened #38818 "test run-make/atomic-lock-free fails on i686 linux"
stderr:
[code]

I looked into it and it seems the reason is that gnu binutils is not compiled with `--enable-targets=all` on my system (default arch install). This means that `nm` is not able to read symbols from x86_64 binaries and so the test fails.

Seems odd to have a dependency on the way binutils was compiled, especially one where for a major distro it is not set by default.

[2017-01-04 08:22] #27942 closed

[2017-01-04 08:22] #37884 closed

[2017-01-04 08:26] BlacklightShining commented on #33417
@canndrew I definitely agree that it shouldn't be implemented for everything. The docs say _attempt to construct `Self` via a conversion_, but what counts as a conversion? How about…_changing the same thing from one representation to another, or adding or removing a wrapper_? This covers your `Vec<u8> -> String` and `Mutex<T> -> MutexGuard<T>`, as well as things like `u32 -> char` and `&str -> i64

[2017-01-04 08:29] BlacklightShining commented on #33417
I feel like `impl From<T> for U` should probably imply `TryFrom<T, Err=!> for U`. Without that, functions that take `TryFrom<T>`s can't also take `From<T>`s. (Using `try_from()`|`try_into()` for a concrete, infallible conversion would probably just be an anti-pattern. You _would_ be able to do it, but…it would be silly, so just don't.)

[2017-01-04 09:38] arielb1 commented on #26619
Sure enough. I basically fixed all of the crazy slice_patterns bugs.

[2017-01-04 09:56] arielb1 commented on #26619
Reopening as E-needstest.

[2017-01-04 10:05] jjpe commented on #38541
@bluss What form do you prefer?
A Gist? A cloneable Git project? I can have either of those done in very little time.

[2017-01-04 11:25] #36159 closed

[2017-01-04 11:53] Keruspe commented on #38547
Do you want both the logs of `make` and `make install` or only the latter? (currently running with `RUST_LOG` exported for install)

[2017-01-04 13:02] burdges commented on #31844
A priori, I'd imagine one could simulate that through what the crate exports though, no?  Are there any situations where you could not simply introduce a private helper trait with the `default` methods and call it from your own final `impl`s?  You want the user to use your `default`s but not supply any of their own?

[2017-01-04 13:27] softprops commented on #26007
Mysterious

[2017-01-04 13:28] NookSF commented on #38790
Same here with `ethcore-util`:

http://pastebin.com/7fFLzJKD

[2017-01-04 13:42] softprops commented on #26007
I found what I think my by a work around for my case with scoping. As long as the trait with a conflicting method is not in scope things work ask expected. Another case for avoiding glob-style imports!

Here's an example.

https://play.rust-lang.org/?gist=ac3bb4233c2c32876ff68f0fcd9c222d&version=stable&backtrace=1

[2017-01-04 14:19] shepmaster commented on #23314
@steveklabnik do you want to close #27301 as well then?

[2017-01-04 14:26] japaric commented on #36963
PR implementing this: #38820

[2017-01-04 15:02] sgrif opened #38821 "ICE with `#[derive(Copy)]`, missing trait bound, and blanket impl"
I have tested this on both 1.13 and on nightly-2016-12-28. This this is the script to reproduce: https://is.gd/PWV89w

The code is invalid due to missing constraint `Col::SqlType: IntoNullable` on line 26. The expected error is:

[code]

But the compiler instead ICEs. If `#[derive(Copy)]` is removed, the compiler gives the error message as expected. If the blanket `impl<T: NotNull> IntoNullable fo

[2017-01-04 15:03] sgrif commented on #38821
Slightly simplified repro script: https://is.gd/HXaz0L

[2017-01-04 15:33] poke commented on #38584
So, I spent some time with the Rust compiler’s source code and with `vcvarsall.bat` and my Visual Studio environment to figure out a few things:

* [`get_vc_dir`](https://github.com/rust-lang/rust/blob/b1363a73ede57ae595f3a1be2bb75d308ba4f7f6/src/librustc_trans/back/msvc/mod.rs#L178) – At least on my machine, in order to find the Visual Studio install directory for the version code `15.0`, we also

[2017-01-04 15:46] bluss commented on #38541
Gist is great!

[2017-01-04 15:55] whoisj commented on #38584
Visual Studio 2017 supports multi-instance installation, meaning you can install it more than once and each instance can have its own setup of options enabled/disabled. Therefore there is no longer a canonical location for Visual Studio to exists. That said, the `"%ProgramFiles(x86)%\Microsoft Visual Studio\2017"` is still the best shot.

Ideally, users can compile Rustlang projects from a "Develo

[2017-01-04 16:00] japaric opened #38824 "LLVM assertion when using `i128` with the NVPTX"
This effectively means you *can't* compile `core` for these targets.

### STR

[code]

[code]

[code]

[code]

[code]

### Meta

[code]

---

### Already Fixed

[code]

[code]

[code]

[2017-01-04 16:31] #32947 closed

[2017-01-04 16:47] steveklabnik commented on #23314
Let's leave it open for now; I believe we could fix this by changing where the `fn main` is inserted, no?

[2017-01-04 17:02] whoisj commented on #38584
@artl93 I do not believe that Rust has a Vsix, I believe that they just want to use the MS provided linker (and masm?) tools. Basically, how can a Rust make file find the location of the linker (and assembler?)?

[2017-01-04 17:04] poke commented on #38584
@whoisj

I’m not sure how that works though. When I rerun the installer, I can only modify my existing 2017 Enterprise installation but not install a second parallel one. Since the installer is the primary entry point for this case, I would say we can assume that there would only be a single installation at the default location.

That won’t work though since the actual edition is also part of the

[2017-01-04 17:06] japaric commented on #38803
See rust-lang/cross#36. If `rustc` emitted *executable* `.js` files with a `#!/usr/bin/env node` shebang in them then `cross test` would work for the asmjs target. I'm not sure what else would need to be done for the wasm target though because `node hello-wasm.js` errors with node v7.3.0 as stated in that PR.

[2017-01-04 17:08] artl93 commented on #38584
@poke

The VC tools are tightly coupled to the IDE, therefore version X of the IDE must use a specific version X of the toolset. They are a part of the application folder. 
In the future, we anticipate that 2017's updates can be installed side-by-side with the RTW or previous updates, so picking the compiler associated with your install is critical to getting the environment set-up correctly.

[2017-01-04 17:09] whoisj commented on #38584
@artl93 I believe the @poke specifically doesn't care about the IDE, but only the toolset. Given that information, and a system with VS 2017 installed (at least once): what is the best solution for the Rust make system to find the necessary tools provided by VS 2017>

[2017-01-04 17:23] poke commented on #38584
Yeah, what Rust basically needs to do is to be able to answer the question: “Where is the VC linker and library folder?”

Currently it does that by explicitly checking against every Visual Studio version starting with the latest known version. Obviously, this requires to keep adding new logic as newer versions of Visual Studio are released. In an ideal world, there would be a single constant and f

[2017-01-04 18:04] aturon commented on #32409
I spent some time this morning revisiting the [initial RFC thread](https://github.com/rust-lang/rfcs/pull/1422) and reading over this one. Like others on the lang team, I'm eager to make a decision about the syntax and get this stabilized. (I personally don't think a new RFC is *required* to do this; we frequently make surface adjustments like this during the stabilization process.)

A couple of t

[2017-01-04 18:06] aturon commented on #35897
OK, I'm going to put this into FCP manually.

:bell: **This feature is entering its final comment period for stabilization.** :bell:

[2017-01-04 18:14] eddyb commented on #32409
I don't think `pub[m]` works any better, as `[T]` is a valid type and IIRC the problem was with tuple
 structs which have a visibility just before each field type.

[2017-01-04 18:22] sbstp commented on #32409
I like the idea of simplifying it to `pub[crate]` and `pub[super]`. But if those are the only options, then is the square bracket notation needed at all? I think keywords could be better. The simplest way would be to add a `crate` and a `super` visibility modifier:

[code]

[2017-01-04 18:27] aturon commented on #32409
@eddyb ah yes, of course you're right. Drat.

[2017-01-04 18:44] japaric commented on #38824
This may have been caused by the i128 PR ( #38482 ). No LLVM assertion is raised if I compile `core` with `--cfg stage0`, which removes the i128 stuff.

We could try to fix this or we could cfg away the i128 stuff for the nvptx targets in the meantine. The LLVM assertions render the NVPTX backend unusable in the nightlies.

cc @est31 @nagisa Have you seen any LLVM assertion like the ones above whi

[2017-01-04 18:47] jrmuizel opened #38827 "rustc generates a lot of llvm ir for small programs"
Building https://github.com/jrmuizel/webrender/blob/sample-min/sample-min/src/main.rs ends up generating 12MB of LLVM IR (25MB of LLVM IR with debug info turned on). This seems like an excessive amount and it has a big impact on build times.

[2017-01-04 18:48] retep998 commented on #38584
I'd really rather not hardcode all those relative paths; it would just be incredibly brittle. The proper solution involves using special COM interfaces to enumerate the VC++ instances. Unless someone from Microsoft decides to do it themselves, I'm likely going to do the COM stuff myself. It's just a bit icky doing COM in rustc itself without winapi to help out.

[2017-01-04 18:53] japaric opened #38828 "add test: cross compiling core for `no_std` targets"
For these targets

- `thumbv6m-none-eabi`
- `thumbv7m-none-eabi`
- `thumbv7em-none-eabi`
- `thumbv7em-none-eabihf`
- `nvptx-nvidia-cuda`
- `msp430-none-elf`
- `msp430x-none-elf`
- `nvptx64-nvidia-cuda`

These targets have zero tests in tree. Let's at least test cross compiling `core` for them to catch LLVM / codegen related regressions.

This would have catched #38824 before it landed in master.

[2017-01-04 19:01] retep998 commented on #37406
I can confirm that with an up to date libc, using this new feature out in the wild does result in binaries with the CRT statically linked.

![](http://i.imgur.com/iWLf0Yw.png)

[2017-01-04 19:06] est31 commented on #38824
@japaric no, I can't remember seeing such an assertion. It seems to be in PTX related code. but its very likely that i128 broke some of the non tier1 platforms. You can only tell whether they break once they actually do :/

Can you try to generate a minimum reproducible example? Then we might know more...

[2017-01-04 19:12] aturon commented on #38509
I agree that this could make a good lint. cc @rust-lang/libs as well.

[2017-01-04 19:13] japaric commented on #38824
Seems like the msp430 target broke too:

[code]

with

[code]

Using `--cfg stage0` works fine.

cc @pftbest

[2017-01-04 19:26] #37762 closed

[2017-01-04 19:28] japaric commented on #38824
@est31 Examples

[code]

[code]

[code]

---

[code]

[code]

[2017-01-04 19:41] pftbest commented on #38824
msp430 EABI doesn't specify how to return 128 bit values, and LLVM does not support them on msp430, so I don't see an easy fix for this.

[2017-01-04 19:48] schulzch commented on #38724
Emscripten provides three files per command, e.g.:

- `emcc` python 2.x and 3.x wrapper which invokes `emcc.py` using python 2.x
- `emcc.bat` invokes `emcc.py` using `python`
- `emcc.py`contains the actual code

I think having a host platform dependent switch is not wrong, because that is how script commands are usually wrapped on windows - the Node.js package manager `npm` creates wrapper `*.cmd`

[2017-01-04 19:53] alexcrichton commented on #38547
Whatever's not working, it'd be good to get logs.

[2017-01-04 19:55] alexcrichton commented on #38828
If we commit to compiling core for these targets then we're essentially moving them to tier 2, which will come at a cost. I'm not sure I would have wanted to block the i128 PR personally on msp430 support, personally.

If we do want to make these tier 2 we can figure out a strategy for doing so, but I think that we should decide first if we do want to move them to tier 2 (cc @rust-lang/tools)

[2017-01-04 19:56] est31 commented on #38828
These listed platforms are tier 3 ones, they are not guaranteed to build. Gating master on them bears a risk to make big changes to the codebase like the i128 PR even harder as it is already now. E.g. discovering this issue would have meant yet another week where the i128 PR sits in limbo, where it has to be rebased once again, and fixed once again.

However, I'm okay with added tests as long as i

[2017-01-04 20:01] alexcrichton commented on #38824
These are tier 3 platforms, so basically anything goes IMO in terms of language guarantees. If they don't support i128 at a fundamental level then it seems like if we want them to compile we'll have to cfg out support.

[2017-01-04 20:03] nikomatsakis commented on #38727
cc @eddyb, who has done a lot of poking at this infrastructure.

@nagisa, did you have a feeling for which is correct?

[2017-01-04 20:04] Keruspe commented on #38547
Yep, it's the install part. unfortunately though, exporting RUST_LOG and then runing make install, it doesn't seem that cargo sees the RUST_LOG variable as it doesn't change the output

[2017-01-04 20:04] arielb1 commented on #35002
Still an issue with travis.

[2017-01-04 20:08] eddyb commented on #38727
Ugh, `.immediate()` is so risky. IMO the correct thing to do is to force a load if it's by-ref (can't remember exactly what APIs are available atm, but worst-case it's a `match` with `bcx.load(llref)` for `Ref(llref)`).

[2017-01-04 20:12] joshlf commented on #32838
I'm new to Rust, so forgive me if this has been discussed elsewhere.

Is there any thought on how to support object-specific allocators? Some allocators such as [slab allocators](http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.29.4759) and [magazine allocators](http://www.parrot.org/sites/www.parrot.org/files/vmem.pdf) are bound to a particular type, and do the work of constructing new obj

[2017-01-04 20:14] withoutboats commented on #32409
I advocated for limiting this feature to `crate` and `super` during the RFC and still think that's a pretty reasonable approach. Since the RFC I have still never wanted anything else, but I am usually in crates of less than 10k lines of code.

[2017-01-04 20:18] japaric commented on #38824
I'm trying to understand this better:

- If the ABI does *not* specify how 128-bit values are passed/returned, does that mean that the architecture doesn't support 128-bit values at the fundamental level?

- Do all the ABIs of the all the other platform 2 targets (x86, ARM, MIPS, PowerPC, SystemZ) specify how 128-bit values are returned?

- (What about wasm and asm.js? Do those even have an ABI? H

[2017-01-04 20:22] Ericson2314 commented on #32838
I don't think this has been discussed yet.

You could write your own `ObjectAllocator<T>`, and then do `impl<T: Allocator, U> ObjectAllocator<U> for T { .. }`, so that every regular allocator can serve as an object-specific allocator for all objects.

Future work would be modifying collections to use your trait for their nodes, instead of plain ole' (generic) allocators directly.

[2017-01-04 20:25] nikomatsakis commented on #32838
@pnkfelix

I guess this has happened?

[2017-01-04 20:27] joshlf commented on #32838
@Ericson2314 Yeah, writing my own is definitely an option for experimental purposes, but I think there'd be much more benefit to it being standardized in terms of interoperability (for example, I plan on also implementing a slab allocator, but it would be nice if a third-party user of my code could use somebody _else's_ slab allocator with my magazine caching layer). My question is simply whether

[2017-01-04 20:31] aturon commented on #35626
cc @rust-lang/lang, since RFC bot doesn't allow us to FCP again, I'll make the list manually. @nikomatsakis proposed to go to FCP for stabilizing the numeric field names feature.

- [x] @nikomatsakis
- [x] @aturon
- [ ] @pnkfelix
- [ ] @nrc
- [ ] @withoutboats
- [ ] @eddyb

[2017-01-04 20:32] nikomatsakis commented on #32409
I am still not wild about supporting only `crate` and `super`. I agree those will be the most frequent cases, but I definitely find that when I am writing code, I often have top-level modules that form "mini-crates" of their own:

[code]

Most of the time, those top-level modules have only a single level, and hence when importing from cousins I will use `super`. This would be a good fit:

[code]

[2017-01-04 20:38] int03h opened #38829 "Error while compiling Ethcore Parity"
I've been trying to get parity to compile for a few days now .. and I keep getting this error, I have tried, stable, beta and nightly ..  this is the error I get : ( I cut the top of the output off and left just the part where it breaks ) - I have not looked to see if this has been logged already .. there are way too many issues to wade through to see if this is a duplicate )

Compiling ethcrypto

[2017-01-04 20:38] nikomatsakis commented on #38509
👍 to lint.

[2017-01-04 20:39] withoutboats commented on #32409
I think what I do in those situations is that I essentially repeat the "subcrate" pattern fractally, so that each mod file is a flat facade of its children which it presents to its siblings & parent.

[2017-01-04 20:40] nikomatsakis commented on #38509
I don't think it should ever be an error. There are legitimate reasons to use `std` from a `no_std` crate. For example, if you have unit tests, then it is common for those tests to rely on standard even if the main code base does not. One could also imagine a crate that is `#[no_std]` much of the crate but offers cargo features that require `std`. However, in both of those cases I feel like one co

[2017-01-04 20:41] pftbest commented on #38824
Right now on MSP430 values from the functions are returned using 4 16bit registers r12-r15. So in total you can return only 64 bits of data. There is an exception though, for returning large structs, the data is placed on the stack and reference is placed in the registers. So I guess it will be possible to bodge some hack that will treat i128 like a struct, but I don't know if anyone tried to impl

[2017-01-04 20:42] steveklabnik commented on #32838
@joshlf

Yes, it would be another RFC.

that depends on the scope of the RFC itself, which is decided by the person who writes it, and then feedback is given by everyone.

But really, as this is a tracking issue for this already-accepted RFC, thinking about extensions and design changes isn't really for this thread; you should open a new one over on the RFCs repo.

[2017-01-04 20:45] nikomatsakis opened #38830 "document field init shorthand"
RFC 1682 added "field init shorthand" (tracking issue is https://github.com/rust-lang/rust/issues/37340), which allows you to use a shorthand in struct literals:

[code]

This is implemented on nightly and we would like to stabilize it, but documentation is required. Here is a list of places where the documentation would need to be updated, kindly [prepared by @havvy](https://github.com/rust-lang/

[2017-01-04 20:46] nikomatsakis commented on #37340
I opened https://github.com/rust-lang/rust/issues/38830 to specifically track adding docs.

[2017-01-04 20:51] steveklabnik commented on #38830
yes, i am very happy to mentor anyone who needs help with this.

[2017-01-04 20:52] aturon commented on #25053
cc @rust-lang/lang, anybody on the lang team have an opinion on this?

[2017-01-04 20:59] nikomatsakis commented on #26007
I've never commented on this bug it seems. These rules are indeed intentional and yes they are the result of an interplay between autoderef rules and prioritization. The algorithm is that we first arrange a series of steps which correspond to increasing amounts of deref operations. We will try these steps in order and stop at the first step for which we find methods. **Within a given step**, we wi

[2017-01-04 21:00] nikomatsakis commented on #26007
So basically I think we have to document these rules but I wouldn't want to change them without careful consideration.

[2017-01-04 21:01] Ericson2314 commented on #32838
@joshlf Ah, I thought `ObjectAllocator<T>` was supposed to be a treat. I meant prototype the *trait* not a specific allocator. Yes that trait would be its own RFC as @steveklabnik says.

------

@steveklabnik yeah now discussion would be better elsewhere. But @joshlf was also raising the issue lest it expose a hitherto unforeseen flaw in the accepted but unimplemented API design. In that sense it

[2017-01-04 21:02] clarfonthey opened #38831 "Improve diagnostics regarding how static_in_const doesn't work for associated constants"
Example code:

[code]

Would default `CONST` to `&'static str` if this actually worked for associated constants. The original RFC decided to not do this, so, it makes sense to document the behaviour.

EDIT: the error message should be better, not the docs.

[2017-01-04 21:02] japaric commented on #38824
@pftbest yeah, but if LLVM can generate code for a function that returns `[u8; 16]` then it should be able to use the same trick to return an `i128`. It's just that noboby has taught it how to do that. (i128 ops are totally different though but at least LLVM should emit intrinsics instead of raising assertions)

How about `i128` on 8-bit AVR? 😄

[2017-01-04 21:03] nikomatsakis commented on #26597
I think we can close this issue, since I think this path of changes is dead. I have some new plans I hope to write up in the next few days (or weeks...) though.

[2017-01-04 21:03] #26597 closed

[2017-01-04 21:03] Mingun opened #38832 "Unexpected "deprecated" warning when derive attribute for enum and enum has deprecated items"
Let's consider the following situation: there is a enumeration in which have an deprecated element. This enumeration derives implementation of some traits. In such case rustc generates deprecation warning, but actually deprecated item never used.

As in this case there is no control over the generated code, I consider that the warning shouldn't be. It is impossible to suppress warning also because

[2017-01-04 21:06] withoutboats commented on #31844
@nikomatsakis I have the same motivation, what I'm proposing is that we just remove the default requirement to specialize in the same crate, as opposed to adding more levers. :-)

[2017-01-04 21:10] int03h commented on #38829
Compiling fetch v0.1.0 (file:///files/src/parity/util/fetch)
error: internal compiler error: /buildslave/rust-buildbot/slave/nightly-dist-rustc-linux/build/src/librustc/hir/map/mod.rs:395: node 37599 is inlined but not present in map

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-r

[2017-01-04 21:12] nikomatsakis commented on #38390
Can anyone verify that this used to work? It seems like if we are going to make a test case, we'd also want to verify that the test case *used* to pass...

[2017-01-04 21:13] burdges commented on #31844
If by chance this non-exported default might be the more common usage, then a `#[default_export]` feature would be easier to remember by analogy with `#[macro_export]`.  An intermediate option might be allowing this export feature for `pub use` or `pub mod` lines.

[2017-01-04 21:15] nikomatsakis commented on #27031
I think we should close this. It's a...quirk of the type system. =)

[2017-01-04 21:15] #27031 closed

[2017-01-04 21:15] jonas-schievink commented on #38827
webrender marks a lot of functions as `#[inline]` for performance, which causes their IR to be included in your crate. `#[inline]` has always been problematic for build times.

[2017-01-04 21:19] nikomatsakis commented on #24857
I feel like this is expected behavior at the moment. At least until we settle the story around default type parameter fallback, which is more the purview of <https://github.com/rust-lang/rust/issues/27336>. I'd be inclined to close this myself.

[2017-01-04 21:22] int03h commented on #38829
Last one..

This was compiled with STABLE rust ..

Compiling rocksdb v0.4.5 (https://github.com/ethcore/rust-rocksdb#64c63ccb)
error: internal compiler error: /buildslave/rust-buildbot/slave/nightly-dist-rustc-linux/build/src/librustc/hir/map/mod.rs:395: node 37599 is inlined but not present in map

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: h

[2017-01-04 21:27] joshlf commented on #32838
@Ericson2314 Yeah, I thought that was what you meant. I think we're on the same page :)

@steveklabnik Sounds good; I'll poke around with my own implementation and submit an RFC if it ends up seeming like a good idea.

[2017-01-04 21:39] jrmuizel commented on #38827
But shouldn't those inline functions only be emitted if they are used by main.rs?

[2017-01-04 21:47] nikomatsakis commented on #25053
I am in favor. `UnsafeCell` is a building block. It should be possible for people to build `Copy` types that use it if they so choose.

[2017-01-04 21:47] RReverser commented on #38832
Not disagreeing that this should likely be the default behavior, but just a suggestion - for now you can use following workaround by allowing deprecated items on `enum` itself:

[code]

In that case compiler won't warn on declaration itself, but will warn on any usages of `Example::Var2` as expected.

[2017-01-04 21:48] jimmycuadra commented on #31844
Using the `pub` keyword would be better, since Macros 2.0 will support macros as normal items and use `pub` instead of `#[macro_use]`. Using `pub` to indicate visibility across the board would be a big win for its consistency.

[2017-01-04 21:49] nikomatsakis commented on #31844
@withoutboats regardless, I think sometimes you will **want** to specialize locally but not necessarily open the doors to all

[2017-01-04 21:49] RReverser commented on #38827
@jrmuizel I think you need to use `lto = true` for final binary if you want such cross-crate optimizations (dead line code elimination, inlining etc.) to happen correctly.

[2017-01-04 21:50] est31 commented on #38824
AFAIK, if Rust code calls Rust code, the ABI is totally irrelevant. We can do whatever we want. However, it starts getting a problem once we start talking to non Rust places, e.g. for FFI, or when LLVM emits a call to i128 intrinsics.

* For FFI we might want to end up forbidding `extern "C"` fn's and `#[repr(C)]` structs that have i128 for targets where i128 is not specified by the convention or

[2017-01-04 21:54] alexreg commented on #32838
@joshlf I don't any reason why custom allocators would go into the compiler or standard library. Once this RFC lands, you could easily publish your own crate that does an arbitrary sort of allocation (even a fully-fledged allocator like jemalloc could be custom-implemented!).

[2017-01-04 21:58] joshlf commented on #32838
@alexreg This isn't about a particular custom allocator, but rather a trait that specifies the type of all allocators which are parametric on a particular type. So just like RFC 1398 defines a trait (`Allocator`) that is the type of any low-level allocator, I'm asking about a trait (`ObjectAllocator<T>`) that is the type of any allocator which can allocate/deallocate and construct/drop objects of

[2017-01-04 22:00] alexcrichton commented on #38532
Hm there could perhaps be a bug, but I don't think that "rustbuild downloading stage0 compilers when it thinks it needs to" is a bug. If it thinks it should and it shouldn't then that's a bug.

[2017-01-04 22:01] nikomatsakis commented on #25053
Discussed this a bit with @aturon -- I agree with the consensus that it would be easy to write broken code if `UnsafeCell: Copy`. Something like `unsafe impl Copy` is also appealing as an alternative.

This reminds me of the discussion around a `Pod` trait, which was supposed to be for "things that could be copy, but where copying is likely a bug". We would up at that time deciding against it -- h

[2017-01-04 22:01] Ericson2314 commented on #32838
@alexreg See my early point about using *standard library collections* with custom object-specific allocators.

[2017-01-04 22:02] jrmuizel commented on #38827
I'm not really looking for cross-crate optimizations so lto seems inappropriate.

Why do we need to re-emit the ir for unused inline functions? How could these functions ever be used?

[2017-01-04 22:02] alexreg commented on #32838
Sure, but I’m not sure that would belong in the standard library. Could easily go into another crate, with no loss of functionality or usability.

[2017-01-04 22:03] alexreg commented on #32838
I think you’d want to use standard-library collections (any heap-allocated value) with an *arbitrary* custom allocator; i.e. not limited to object-specific ones.

[2017-01-04 22:08] #35900 closed

[2017-01-04 22:09] Nemo157 commented on #32409
Coming from a C# background (and I believe it's the same in Java) having just `pub(crate)` makes a lot of sense, it's equivalent to `internal` visibility. I really can't think of any time where I have wanted to be able to limit visibility more than that, again though I rarely work on high LOC projects (and the ones I have worked on just had everything public and relied on code reviews + decent dev

[2017-01-04 22:10] jonas-schievink commented on #38827
They are used by the functions used by main.rs. All inline-functions transitively used by your code will be included in the crate's LLVM module IIRC. This gives LLVM the ability to inline all of them (if it decides to do so) into your code.

[2017-01-04 22:13] joshlf commented on #32838
Yes but you probably want some standard library functionality to rely on it (such as what @Ericson2314 suggested).

Ideally you'd want both - to accept either type of allocator. There are very significant benefits to using object-specific caching; for example, both slab allocation and magazine caching give very significant performance benefits - take a look at the papers I linked to above if you'r

[2017-01-04 22:13] alexcrichton commented on #38829
Some of these crates sound like they'd be a great candidate for cargotest in-tree to ensure that changes to the compiler don't ever regress them again!

[2017-01-04 22:16] alexreg commented on #32838
But the object allocator trait could simply be a subtrait of the general allocator trait. It’s as simple as that, as far as I’m concerned. Sure, certain types of allocators can be more efficient than general-purpose allocators, but neither the compiler nor the standard really need to (or indeed should) know about this.

[2017-01-04 22:28] joshlf commented on #32838
Ah, so the problem is that the semantics are different. `Allocator` allocates and frees raw byte blobs. `ObjectAllocator<T>`, on the other hand, would allocate already-constructed objects and would also be responsible for dropping these objects (including being able to cache constructed objects which could be handed out later in leu of constructing a newly-allocated object, which is expensive). Th

[2017-01-04 22:42] sgrif commented on #31844
Having `pub default fn` mean "publicly export the defaultness of the fn" as opposed to affecting the visibility of the function itself would be super confusing to newcomers.

[2017-01-04 22:44] alexcrichton commented on #38811
Ok I've tested this and it's a stable-to-stable regression that happened between 1.8 and 1.9. I believe the 1.9 release is indeed the first one with https://github.com/rust-lang/rust/pull/31618, the likely change which is a culprit. Tagging appropriately as such.

[2017-01-04 22:44] withoutboats commented on #31844
@jimmycuadra is that what you meant by using the `pub` keyword? I agree with @sgrif that it seems more confusing, and if we're going to allow you to scope defaultness explicitly, the same syntax we decide on for scoping visibility seems like the correct path.

[2017-01-04 22:50] int03h commented on #38829
@alexcrichton I assume this is a general comment to the team ?  Is there anything I need to do to help/provide?

[2017-01-04 22:55] rprichard commented on #38811
It looks like Rust is passing overlapped-mode pipe handles to the child process.  The `pipe::anon_pipe` function returns two overlapped HANDLES.  I'm not sure the overlapped mode can be changed after the fact -- maybe `ReOpenFile` would work -- but I don't see it used anywhere, and I'd wonder about its use on the server handle.

If the child inherits overlapped-mode handles, it would need to do as

[2017-01-04 22:57] alexcrichton commented on #38829
@int03h oh it's sort of both a general comment and something that anyone can help provide! In part of our CI for rust-lang/rust itself we take some projects and add them to [cargotest](https://github.com/rust-lang/rust/blob/master/src/tools/cargotest/main.rs). That means that for a change to land against rust-lang/rust the compiler must be able to check out all those repos and run `cargo test`.

I

[2017-01-04 23:06] alexcrichton commented on #38811
Fascinating! Thanks for the links @rprichard! That perfectly explains I think what's going on here.

I think I can see the fix here, so I'll work on that pronto.

[2017-01-04 23:13] int03h commented on #38829
Oh I c ... well .. parity pulls in a F$CKload of crates and stuff .. it would most definitely be a great project to add to your regression testing. I am not affiliated with the project at all .. I am just some random dude that happens to use the compiled version of parity as my ethereum client/wallet.  I think @gavofyork is a senior member/leader for parity .. I would have imagined he has been her

[2017-01-04 23:13] jimmycuadra commented on #31844
Probably not `pub default fn` exactly, because that is ambiguous, as you both mention. I was just saying there's value in having `pub` universally mean "expose something otherwise private to the outside." There's probably some formulation of syntax involving `pub` that would be visually different so as not to be confused with making the function itself public.

[2017-01-04 23:19] int03h commented on #38829
root@debby:/files/src/parity# cargo -V
cargo 0.17.0-nightly (740f9c0 2016-12-29)

Compiling ethcore-stratum v1.5.0 (file:///files/src/parity/stratum)
     Running `/files/src/parity/target/debug/build/ethcore-stratum-2db126478cc7e718/build-script-build`
error: internal compiler error: /buildslave/rust-buildbot/slave/nightly-dist-rustc-linux/build/src/librustc/hir/map/mod.rs:395: node 37599 is inli

[2017-01-04 23:28] rprichard commented on #38811
Yeah, I think the fix is easy -- use non-overlapped handles for the child but overlapped handles for the parent.

[2017-01-04 23:32] NookSF commented on #38829
Dupe of #38790

[2017-01-04 23:33] int03h commented on #38829
cargo update
    Updating registry `https://github.com/rust-lang/crates.io-index`
    Updating git repository `https://github.com/ethcore/rust-ctrlc.git`
    Updating git repository `https://github.com/ethcore/jsonrpc.git`
    Updating git repository `https://github.com/ethcore/mio`
    Updating git repository `https://github.com/ethcore/nanomsg.rs.git`
    Updating git repository `https://github.

[2017-01-04 23:35] int03h commented on #38829
@NookSF

This fails on stable,beta and nightly. There's succeeds on stable. So I am not so sure about that.

[2017-01-04 23:39] eddyb commented on #38074
Looking at it again, the const qualifier works fine with fields, but the promoter's initial set of potentially promotable temporaries doesn't include the tuple because one of the uses is by-field.

[2017-01-04 23:42] nagisa commented on #38824
No.

No. Namely the x64 windows ABI is kinda fuzzy about how i128 values are handled so carefully reading it we arrived at a conclusion that they ought to be handled the same way as regular 16-byte structs.

A target cannot not support i128 at a fundamental level the same way a target cannot not support writing turing complete software.

IMO what we should do here is to fudge the ABIs somewhat to

[2017-01-04 23:52] NookSF commented on #38829
Same error: `librustc/hir/map/mod.rs:395: node xxx is inlined but not present in map`

[2017-01-04 23:54] nrc commented on #31844
Although it is a bit syntaxey, I would not oppose `default(foo)` working like `pub(foo)` - the symmetry between the two marginally outweights the fiddliness of the syntax for me.

[2017-01-04 23:58] nagisa commented on #38727
Why `common::is_immediate_type` returns false here?

[2017-01-04 23:59] alexcrichton commented on #38790
Confirmed with PistonDevelopers/piston-examples@037b2aa498b0b8b49313a5df014c2c988517fc04 with a successful beta:

[code]

and a failing nightly:

[code]

[2017-01-04 23:59] alexcrichton commented on #38790
cc @rust-lang/compiler, seems to be a regression

[2017-01-04 23:59] alexcrichton commented on #38829
@int03h additionally, is this a regression from some previous stable version?

[2017-01-05 00:14] int03h commented on #38829
@alexcrichton I am just pulling whatever is in the ethcore repo .. it did work before .. I am not sure why it doesn't now.  I came here first because rustc told me to ;) ..
" note: the compiler unexpectedly panicked. this is a bug.
  note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-reports"

[2017-01-05 00:46] nagisa commented on #38818
We probably should just use objdump, as it, in my experience, cares less about formats and whatnot.

[2017-01-05 00:50] eddyb commented on #38727
Both the ABI and the immediate check are correct IMO.

The problem isn't that they don't agree, the problem is that we have code that *incorrectly assumes* that they always do.

The ABI rules can be weird and we might even end up supporting several conflicting calling convention ABIs per platform, so we should just do the load there instead of trying to force it to be immediate.

[2017-01-05 00:53] joshlf commented on #32838
@alexreg Ah yes, I was hoping so too :) Oh well - it'll have to wait for another RFC.

[2017-01-05 00:55] alexreg commented on #32838
Yes, do kick start that RFC, I’m sure it would get plenty of support! And thanks for the clarification (I hadn’t kept up with the details of this RFC at all).

[2017-01-05 00:56] eddyb commented on #38790
This might've been me. If someone wants to, they could try #38813 which completely removes inlined bodies from the HIR map (I'm on a different branch otherwise I would've tried it).

[2017-01-05 01:10] nikomatsakis commented on #26361
Personally, I consider this a bug, but it may not be a bug we want to fix in the existing macros because of backwards compat. I've never liked how macros insert "pseudo-tokens" representing parsed entities -- although I understand the original motivation, which was to avoid the performance cost of re-parsing things over and over. I just think it should be an optimization, and not something that ha

[2017-01-05 01:17] nikomatsakis commented on #32409
That doesn't really work. For example, consider this struct `Draw` declared inside `ui::buttom::draw`. I want `Draw` to be exposed to all of the `ui` module. What pub should I use when I declare it?

[code]

If I use `pub`, it is broader than I wanted. Same with `pub(crate)`. But `pub(super)` is incorrect: that would make it private to `ui::button`, and I wanted `ui`. `pub(super::super)` would wor

[2017-01-05 01:26] newpavlov commented on #38509
@nikomatsakis
If you use something `std` dependent in your unit tests and will not disable `no_std` for tests you'll get compilation errors on `cargo test`. The second case will give a hard compilation error too. As I previously wrote the only exception (or more likely an overlook) is dependencies.

[2017-01-05 01:33] eddyb commented on #19925
I've [done a new crater run](https://github.com/rust-lang/rust/pull/34198#issuecomment-270539076) and it looks better. Also it's been a while, might as well wrap this up.
@rfcbot fcp merge

[2017-01-05 01:35] withoutboats commented on #32409
@nikomatsakis It seems like your concerned about preventing other `pub use` statements from re-exporting `Draw` further afield than you'd like. I guess my answer is that I am just not very concerned about that.

Without any restrictions (just raw `pub`) your example is already exposing `Draw` only to `ui`. The concern seems to be that someone in `ui` does `pub use self::button::Draw;` when they sh

[2017-01-05 01:36] rnewman opened #38838 "error: internal compiler error: src/librustc_trans/type_of.rs:154: Unexpected tail in unsized_info_ty: Foo for ty=Foo"
This small amount of malformed Rust:

[code]

causes `rustc` 1.13 to panic:

[code]

[2017-01-05 01:36] rnewman commented on #38838
Full version details:

[code]

[2017-01-05 01:37] withoutboats commented on #32409
The point of this feature seemed to me to be more about convenience - if I'm not feeling too attentive to visibility but I know I don't want it in my public API I can just use a `crate` visibility and call it a day.

[2017-01-05 01:43] apasel422 commented on #38838
This was fixed in 1.14.

[2017-01-05 01:43] #38838 closed

[2017-01-05 01:44] nagisa commented on #38762
`139755467620616` looks suspiciously like an address. My suspicion is that there’s a level of indirection missing here?

[2017-01-05 01:46] ollie27 commented on #38319
This needs to be reopened. Unfortunately #38658 didn't work, it only disabled docs for `std_shim`.

[2017-01-05 01:47] rnewman commented on #38838
Ah, HomeBrew doesn't have 1.14 yet. That explains it!

[2017-01-05 01:59] bluss commented on #38319
Still a stable → beta regression in the sense that the currently hosted beta rustdoc shows documentation for too many, crates like for example `alloc_system` and `unwind` (and more).

[2017-01-05 02:04] sbstp commented on #32409
Could a different keyword solve the ambiguity? For instance, `pub` stays as it is currently, and a `vis` keyword is added, which **always** contains a path/modifier.
[code]

[2017-01-05 02:09] nagisa commented on #38762
The value is passed correctly to the C side, but after return memcpy value becomes wrong.

These are the signatures at the LLVM level:

[code]

Concerns:

* C asks for argument be aligned to 16 bytes, but we `alloca` the value with alignment of 8 (still fails even though the pointer is 16-aligned).
* %Foo type on Rust side hasn’t the trailing padding (C type = `type { i128, i8, i16, [12 x i8] }`,

[2017-01-05 02:50] est31 commented on #35118
cc #38824

[2017-01-05 03:08] Manishearth commented on #27802
@alexcrichton Looks like this was forgotten? Anything that needs to be done here to stabilize this?

[2017-01-05 03:58] lu-zero commented on #33626
@mfarrugi the two are related but not that much. SIMD usually works better on aligned data, but you need aligned data also when you use other kind of hardware features (dma engines for crypto, video decoding/encoding, etc). @whitequark got time to implement it? From what I can see the allocator now is taking an alignment so it should be not terrible to implement (I do not know the rust internals w

[2017-01-05 04:04] Mark-Simulacrum commented on #37550
Appears to be fixed on `rustc 1.16.0-nightly (468227129 2017-01-03)`.

[code]

[2017-01-05 04:08] przygienda commented on #34344
Another problem currently is that if e.g. an associated constant is implemented on an enum and the enum imported in another module, the constant is invisible (today's nightly)

prz-mbp:mini_igp prz$ rustc --version
rustc 1.16.0-nightly (4ecc85beb 2016-12-28)

it works if the mod is in same file?

https://is.gd/eKVLJR

[2017-01-05 04:32] jrmuizel commented on #38827
So it looks like the bulk of this code is from the drop function implementations. i.e. mem::forgetting the return values from renderer::Renderer::new(opts) and compiling with -C panic=abort drops the IR size to 1.3MB. Is there a reason the drop functions need to be inline?

[2017-01-05 04:34] Mark-Simulacrum commented on #37477
I've tried to track this down, but been unable to reproduce with nightly on macOS 10.12.2 or stage1 and stage2 compilers on Ubuntu 16.04 (on 95b14a3b50782a3f680ab3bc75dde813333cb708). While I do notice a slight increase (~100-400 ms) when either the compiler ICEs or a crate panics, I sort of expect that since more work is being done.

However, I can reproduce with nightly (rustc 1.16.0-nightly (46

[2017-01-05 06:41] cyplo commented on #21012
@tomjakubowski could you check if the new messages satisfy you in this case ? thank you !

[2017-01-05 06:44] Aaronepower opened #38844 "Private types publicly accessible."
This may be some misunderstanding on my part, but this seems like a bug. If a private type is exposed through a public field in a struct, rustc will not error. The below example will compile as a lib.

### Minimal Workable Example

[code]

# Rust version
[code]

[2017-01-05 06:48] durka commented on #38844
What's the problem? `Bar` is indeed `pub`.

[2017-01-05 07:00] Aaronepower commented on #38844
@durka But foo is not. I only noticed this when I released ddg it had [a struct](https://docs.rs/ddg/0.2.0/ddg/struct.DdgResponse.html) which contains types that have no documentation or links, this may be more of an error with rustdoc than rustc, also those types were ignored for a compiler flag `#[deny(missing_docs)]` until I made the mod public, which would also imply that the types are private

[2017-01-05 07:10] durka commented on #38844
As I understand it, `pub` means the item is public to the world -- but that doesn't mean it's accessible. It's only accessible if the chain of modules containing it is all `pub`. Accessibility can be controlled with re-exports. Publicity can be controlled in a more fine-grained way with `pub(restricted)` (still unstable).

[2017-01-05 07:46] barr1969 commented on #27800
**Select on Dynamic Lists of Channels**

As someone whose been using CSP for decades, I feel compelled to submit a plea for the ability to select across dynamic lists of channels. This is such a useful thing to be able to do. It's particularly useful in large systems that have to deal with failure. That sounds like I'm effectively supporting @canndrew's suggestion. Lists that are fixed at compile

[2017-01-05 07:52] petrochenkov commented on #38831
This is [intentional](https://github.com/rust-lang/rfcs/pull/1623#issuecomment-220829817), but it seems like the RFC text wasn't updated to accommodate this detail.

[2017-01-05 09:35] Nemo157 commented on #32409
Also maybe relevant, @withoutboats post on [the Rust module system being too confusing](https://withoutboats.github.io/blog/rust/2017/01/04/the-rust-module-system-is-too-confusing.html) ([forum thread](https://users.rust-lang.org/t/the-rust-module-system-is-too-confusing/8715)). If users are finding the module system itself too confusing, what are they going to think about a visibility system buil

[2017-01-05 11:12] Ereski opened #38846 "Mut borrow lifetime expanded to the enclosing function"
Both Rust stable (v1.14) and nightly (468227129 2017-01-03), regardless of optimization flags, will expand the lifetime of an `&mut` borrow to the enclosing function in a fairly specific case. Here's a minimal snippet that will trigger the bug:

[code]

rustc fails with `cannot borrow 'a' as mutable more than once at a time`. This bug still happens if the array is replaced by at least `Vec`s and `

[2017-01-05 11:58] RReverser commented on #38827
Why do we need to re-emit the ir for unused inline functions?

Well, you're looking for dead code elimination (not emitting functions from other crate that are unused), so you do want cross-crate optimization.

[2017-01-05 11:59] bluss commented on #38827
One reason is that automatically generated drop (like for Renderer) can not be marked inline explicitly, so it would limit programs to not have them inlineable by default.

[2017-01-05 12:06] atulatri commented on #34205
Same issue here.

[2017-01-05 12:54] burdges commented on #31844
I think the first two questions are really :  Is exporting or not exporting `default`ness significantly more common?  Should exporting `default`ness be the default behavior?

**Yes case:**  You could maximize the similarity with exports elsewhere dictates something like `pub mod mymodule default;` and `pub use mymodule::MyTrait default;`, or maybe with `overridable`.  If needed, you could export `

[2017-01-05 14:05] chriskrycho commented on #38643
Awesome work, @Eh2406 and @alanstoate! I'll see about integrating those into the primary post over the weekend.

[2017-01-05 15:05] #33187 closed

[2017-01-05 15:05] #34377 closed

[2017-01-05 15:32] YaLTeR opened #38848 "Can't compare FFI function pointers"
`extern "fastcall"`, `"system"`, `"cdecl"` and some others function pointers cannot be compared.

I tried this code:

https://is.gd/5JBZee
[code]

I expected to see this happen: the code compiles fine.

Instead, this happened:

[code]

Replacing `fastcall` with `C` in this example, or getting rid of `extern "fastcall"` entirely results in code that compiles fine:

https://is.gd/JI89Zs
[code]

rust

[2017-01-05 15:57] eddyb commented on #37712
Somehow the merge of #38449 didn't close this.

[2017-01-05 15:57] #37712 closed

[2017-01-05 16:23] dylanede opened #38850 ""Renaming of the library `C` was specified" error only on nightly"
This appears to be caused by a change in https://github.com/rust-lang/rust/issues/37403.

This appears to be causing a breaking change on nightly from stable. I'm compiling an (unreleased) FFI library that handles the linking to certain static libraries in a build script (so the `extern "C"` block is unannotated). It depends on the libc crate. Other than that it does nothing out of the ordinary. I

[2017-01-05 16:25] dylanede commented on #38850
cc @vadimcn

[2017-01-05 17:01] jrmuizel commented on #38827
It seems like we could avoid having inline generated drop functions in debug builds though.

[2017-01-05 17:05] alexcrichton opened #38851 "Spurious timeout on Android when starting tests"
I've seen this quite a few times now, such as https://travis-ci.org/rust-lang/rust/builds/189211288. The output just looks like:

[code]

I have no idea what's going on, and after running hundreds of times locally over the past few days I haven't been able to reproduce...

[2017-01-05 17:30] alexcrichton commented on #37477
@Mark-Simulacrum interesting! I wonder if this means it's all related to how we're building the nightlies. The main differences I can think of there are:

* We're compiling with a much older gcc most likely (4.7)
* We're compiling against a much older glibc (2.5 IIRC)
* LLVM assertions are enabled (but just for Rust code)
* Debuginfo is enabled in the compiler

Now that I list these out, did you e

[2017-01-05 17:37] alexcrichton commented on #38319
Yes sorry @ollie27 I've been meaning to get around to reopening this. I suspect that there's a Cargo bug lurking here as to why we're building too much crate documentation.

@ollie27 do you want to send a PR to just explicitly pass `-p std -p collections ...` to explicitly whitelist crates we're documenting? We can worry about fixing the Cargo bug later.

[2017-01-05 17:42] matklad commented on #37477
I've see delay even if `rustc` is called with non existent file: `RUST_BACKTRACE=1 rustc gibberish`.

[2017-01-05 17:43] arielb1 commented on #19950
The `Copy` case is fixed by #38152 with a test.

[2017-01-05 17:43] #19950 closed

[2017-01-05 17:47] alexcrichton commented on #33114
@japaric I've been thinking a little more about this and how it relates to a lot of the cross-compiled testing you've been working on recently. I'm thinking that the *ideal* here would be to take a very Android-like approach:

* At the start of a build, cross compile a small "test server"
* Place this "test server" into a disk image, and boot up an entire QEMU instance (full kernel and everything)

[2017-01-05 17:49] vadimcn commented on #38850
@dylanede, are you putting the full library path behind `-l` by any chance?
(i.e. `-l C:\foo\bar\baz.lib`)

[2017-01-05 17:49] nikomatsakis commented on #38509
@newpavlov maybe I am not understanding, but I believe that one can just write `extern crate std` in your testing code, no?

[2017-01-05 17:50] 747f1c commented on #38830
I am very happy to fix this issue

[2017-01-05 17:55] bluss commented on #38541
Raising the recursion limit removes the recursion limit error [(playground link)](https://play.rust-lang.org/?gist=a7fa712d3a5f2021ed396671781508c4&version=stable&backtrace=0), so that seems to be as expected.

However, there is a regression here: It used to recommend raising the recursion limit, but it does not.

[2017-01-05 18:02] durka commented on #38541
Okay, so this is literally caused by manually nesting too many macro calls,
not by a malformed macro. The only recourse is raising the recursion limit
(which should be possible now due to the many amazing optimizations by
@jseyfreid).

On Thu, Jan 5, 2017 at 12:56 PM, bluss <notifications@github.com> wrote:

[2017-01-05 18:04] bluss commented on #38541
The reporter seemed to say raising the recursion limit didn't help, but it does with the code in the gist. What I can see, the reported issue does not exist.

On raising the limit, I'm in favour.

[2017-01-05 18:05] bluss opened #38852 "Rustc does not recommend raising the recursion limit"
It used to be that when you reach the macro recursion limit, rustc would recommend raising it and give the attribute to do so. This has been lost.

Expected Result:

Diagnostic tells how to increase recursion limit.

Actual Result:

No note/help.

Reproduce [(playground gist)](https://play.rust-lang.org/?gist=450998d6abe14d9d90e131ef9af79796&version=nightly&backtrace=0)

[code]

[2017-01-05 18:06] eddyb commented on #38727
Yes, @Mark-Simulacrum has just started playing with it. The short version is "always load if you need an immediate instead of panicking".

[2017-01-05 18:08] steveklabnik commented on #38830
@hngiang great! Please let me know if you need any assistance.

[2017-01-05 18:09] bluss commented on #38852
rust.godbolt.org doesn't show the help to raise the limit for historical Rust release, maybe I am mistaken that this is a regression.

[2017-01-05 18:13] shepmaster commented on #37477
This occurs with Rust 1.14 **stable** on Linux for me.

[2017-01-05 18:15] alexcrichton commented on #37477
@shepmaster oh I should say releases*, not just nightlies. They're all built the same way modulo llvm-assertions (which we can now rule out if it's a problem on stable)

[2017-01-05 18:16] durka commented on #38852
There surely was a situation in which you could get the suggestion, and it won't regress because [there is a test](https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/recursion_limit.rs#L45). But maybe it never showed up for macro evaluation?

[2017-01-05 18:19] shepmaster commented on #37477
FWIW, here's the reproduction steps I have:

[code]

[code]

[2017-01-05 18:21] durka commented on #38852
I can work on this.

[2017-01-05 18:22] matklad commented on #37477
For some reason, this reminds me of https://github.com/rust-lang-nursery/rustup.rs/issues/783. Most likely unrelated, but symptoms are somewhat similar.

[2017-01-05 18:40] ioctaptceb commented on #38054
I think I can take this, if it hasn't been worked on so far!

[2017-01-05 18:55] nikomatsakis commented on #32409
Fair enough. =) It is indeed the model I was shooting for.

So, let's posit that we are going to simplify to `super/crate/self`. If all we're looking for is a convinence that lets you be sure you don't contaminate your public API, is it worth considering just `crate fn foo()` as an alternate privacy level (public-crate-private), basically. Like a better version of Java's "package", I guess.

Pro:

[2017-01-05 19:02] nikomatsakis commented on #19925
I have to admit that I I continue to wonder if we should just define the behavior of `transmute` in this case to be that it reifies into a fn ptr. It's a very useful kind of conversion. Alternatively, is there some other more concise syntax we could use for it? In those cases where I've needed to re-ify into a fn-ptr, I've been annoyed that the existing syntax requires (e.g.) naming the number of

[2017-01-05 19:11] eddyb commented on #19925
@nikomatsakis You shouldn't need to transmute if you set up your FFI proxies correctly.
As for the casts, I'd like `fn(...) -> _` but it sort of requires a minimum level of support for variadic generics (in the compiler, not necessarily exposed to the language).

[2017-01-05 19:14] CryZe commented on #38805
There's one massive problem when compiling Rust to WASM which made it fail in about half the Advent of Code puzzles I tried (and a lot of other projects including my current large project). It's the fact that Rust generates auto vectorized code which then fails in the asm2wasm conversion step as it doesn't support yet. It is impossible to turn off auto vectorization at the moment as it seems. Neit

[2017-01-05 19:15] eddyb commented on #32409
I'm not seeing `pub in(path)` mentioned as an alternative. It has the beautiful property that it requires no lookahead inside a paren to distinguish it from anything else (assuming we're fine with never having types that start with `in`) *and* it's a bit more self-descriptive than everything else.
*And* if we want the `crate` shorthand we could stabilize *that* first (but, uhm, `crate extern crate

[2017-01-05 19:30] arielb1 commented on #37477
70% of CPU time is spent in `backtrace_kalloc`.

[2017-01-05 19:39] cengizIO commented on #38520
Hello again @nikomatsakis

I'm working on this right now.

[2017-01-05 19:47] Mark-Simulacrum commented on #37477
@alexcrichton

Yes. I have debug info and optimizations enabled locally (`./configure --enable-optimize --enable-debug`).

[2017-01-05 20:31] clarcharr commented on #38831
@petrochenkov I feel that if that's the case, then the error message should be improved and the RFC text should be updated.

[2017-01-05 21:02] Eh2406 commented on #38643
1682-field-init-shorthand.md is going to be covered by https://github.com/rust-lang/rust/issues/38830

[2017-01-05 21:20] pnkfelix opened #38857 "Locally pub but inaccessible items w/o stability attributes can cause an ICE"
Spawned off of #38689

There are still some cases where referencing an inaccessible item can cause the compiler to ICE.

Here is one crafted example ([playpen](https://is.gd/WKNLvA))

[code]

but if `std`'s module structure is revised then that example may fail to compile without ICE'ing for other reasons, so take care in understanding the issue: the change introduced by #38689 is skipping the req

[2017-01-05 21:21] nikomatsakis commented on #38790
triage: P-high

[2017-01-05 21:24] nikomatsakis commented on #38727
triage: P-high

[2017-01-05 21:27] pnkfelix commented on #19925
@eddyb what does it mean to fcp merge this issue? Does it mean we are closing it but declaring the work done? (as opposed to the usual "close" which usually means "we are not going to do this proposed thing right now")?

[2017-01-05 21:35] archshift commented on #36990
This would be much appreciated.

[2017-01-05 21:42] jimmycuadra commented on #31844
@burdges Do you have the labels "yes case" and "no case" backwards there, or am I misunderstanding what you're saying?

[2017-01-05 21:46] nikomatsakis commented on #38790
I can verify that my local build w/ @eddyb's PR is able to build `PistonExamples`

[2017-01-05 21:56] tshepang commented on #38054
@ioctaptceb got for it

[2017-01-05 21:56] nikomatsakis commented on #32409
@eddyb I considered it at some point I think, but it seems kind of long to me, and I find the `space` a bit hard to parse (hard to see that the `in` is associated with the `pub`).

[code]

Just for reference sake, here it is with `crate`:

[code]

And ... yeah ... `crate extern crate` would parse. All the more reason to deprecate `extern crate`, but that's another discussion, isn't it. :)

[2017-01-05 21:58] #38682 closed

[2017-01-05 21:59] burdges commented on #31844
Yup, oops!

[2017-01-05 22:06] eddyb commented on #19925
Closing it as in "this has been fully implemented".

[2017-01-05 22:23] nikomatsakis commented on #28881
I made an etherpad to collect these sorts of examples: https://public.etherpad-mozilla.org/p/rust-coherence-room-for-improvement

After discussing in @rust-lang/lang mtg we agreed this is expected behavior, hence closing.

[2017-01-05 22:23] #28881 closed

[2017-01-05 22:58] steveklabnik commented on #37406
So this landed in stable right? Can this be closed now?

[2017-01-05 23:29] alexcrichton commented on #37406
AFAIK this feature is still gated, but I'll update the tags as such.

[2017-01-05 23:37] tupshin commented on #35121
Given that exceptions are a logical and necessary hole in the type system, I was wondering if anybody has given serious thoughts to moving towards more formally handling them with !.

Using https://is.gd/4EC1Dk as an example and reference point, what if we went past that, and.

1) Treat any function that can panic but doesn't return an error or result have it's type signature implicitly change fro

[2017-01-06 00:05] #38412 closed

[2017-01-06 00:11] newpavlov commented on #38509
@nikomatsakis
You are right, I did not think of `extern crate std`.

Well, if it was not an overlook, but an intentional behaviour (with which I am not quite agree, but can understand) then lint and documentation update will do. I guess it's for @rust-lang/lang to decide.

[2017-01-06 00:40] Mark-Simulacrum commented on #37477
Okay, I've done some more debugging/profiling locally. The results seem to imply that nightly builds produce about ~6 million more calls to `read_function_entry` in `libbacktrace`. Why this is, I don't know, and I don't really know how to find out either. I've attempted to run `./x.py dist` locally, but using the results from that also doesn't appear to show a slowdown with `RUST_BACKTRACE`.

@ari

[2017-01-06 01:16] est31 opened #38860 "members of ::std::u128 module must not be stable"
Seems that #38482, while correctly making `use ::std::u128;` unstable, accidentally made the members of that module stable. This must not happen, and it may not leak to stable/beta. E.g. [this compiles](https://play.rust-lang.org/?gist=a8500d400480355d2dc1c9e0ce1bec9a&version=nightly&backtrace=0) : `println!("{}", ::std::u128::MAX);`.

cc #35118 (tracking issue)
cc @nagisa

[2017-01-06 01:23] nagisa commented on #38860
Adding `#![unstable(...)]` on top of these modules should be sufficient, right? Why is that not the case then?

There’s even a

[code]

in libstd/lib.rs…

[2017-01-06 01:26] est31 commented on #38860
seems this only makes [`use ::std::u128`](https://play.rust-lang.org/?gist=56a65844d17d12b3c34def84cc51c355&version=nightly&backtrace=0) fail compilation, but not the example above.

[2017-01-06 01:29] est31 commented on #38860
Edited the issue description to contain the new findings.

[2017-01-06 01:29] Manishearth commented on #27802
cc @rust-lang/libs reviving this

[2017-01-06 01:34] japaric commented on #33114
@alexcrichton Sounds good to me. I already have an idea of how to make this test server transparently work with `cross test`.

The main reason I have never attempted QEMU system emulation is that I don't know where to get e.g. a compiled ARM kernel / rootfs. I suppose that Ubuntu / Debian must have binary releases of such things but I don't know where they are hiding them.

[2017-01-06 01:38] alexcrichton commented on #33114
Yeah it's true that assembling the qemu image would be a pain. I know for the libc-test images we use for FreeBSD and NetBSD were a pain to create.

I'd hope though that there's a "base image" with some minimal install from somewhere though that we could use!

[2017-01-06 01:44] ollie27 commented on #38860
Looks like [`int_module!`](https://github.com/rust-lang/rust/blob/master/src/libcore/num/int_macros.rs) and [`uint_module!`](https://github.com/rust-lang/rust/blob/master/src/libcore/num/uint_macros.rs) need to take a stability attribute as an argument.

[2017-01-06 01:54] estebank commented on #38812
#36554 is aimed at the following case:

[code]

[code]

The case in this issue is slightly different.

[2017-01-06 01:54] ctaggart commented on #34205
@siddontang & @atulatri, I forget to close this issue when I solved my problem. I solved my problem here by setting `gdbpath` to `rust-gdb` like I mentioned in https://github.com/ctaggart/rusty-vscode/issues/11#issuecomment-225102376.

[2017-01-06 01:54] #34205 closed

[2017-01-06 02:14] nrc commented on #32409
@nikomatsakis I think another con for just `crate` is that it has no obvious relation to visibility (although maybe if it were the only reason to use `crate`, that would be different).

I think it is worth thinking of a solution to both these problems at the same time - seems that visibility and specialisability (and maybe overridability one day, depending on where we go with inheritance) are all

[2017-01-06 02:29] cuviper commented on #32409
Would it be horrible to use `@` for this?  This could be with some sort of optional bracketing, only required with multiple paths or for disambiguation.
- `pub@crate`
- `pub@[foo, bar]`
- `struct Foo(pub@foo Bar)`
- `struct Foo(pub@foo::bar Baz) // questionable, requires lookahead on ::`
- `struct Foo(pub@[foo::bar] ::Baz) // brackets necessary for disambiguation`

[2017-01-06 02:31] caipre commented on #35937
Yeah, sorry about that. 😞 The issue turned out to be rather more difficult than I anticipated and I got caught up with some things where I wasn't able to put time into it any longer. If someone has a good idea of how to resolve that issue, I don't want to be a blocker.

[2017-01-06 02:46] philipc opened #38862 "ICE when using enum variant as type"
For this malformed code:

[code]

rustc 1.14 gives the following expected error:

[code]

But nightly gives an ICE:

[code]

rustc --version --verbose:
[code]

[2017-01-06 02:59] zackmdavis commented on #38476
I see, thanks! :sparkling_heart:

[2017-01-06 02:59] #38476 closed

[2017-01-06 03:34] sfackler opened #38863 "Tracking issue for std::collections::binary_heap::PeekMut::pop"

[2017-01-06 04:46] nrc opened #38864 "Tracking issue for 'Allow `Self` to appear in the where clause of trait impls'"
RFC: https://github.com/rust-lang/rfcs/blob/master/text/1647-allow-self-in-where-clauses.md

RFC PR: https://github.com/rust-lang/rfcs/pull/1647

Proposes allowing the `Self` type to be used in every position in trait implementations, including where clauses and other parameters to the trait being implemented.

[2017-01-06 04:51] aturon commented on #35774
:bell: This feature is going into its **final comment period** with disposition to **stabilize**. :bell:

[2017-01-06 04:52] aturon commented on #33685
Is this ready to be closed?

[2017-01-06 05:31] nrc opened #38865 "Tracking issue: Rvalue static promotion"
RFC: https://github.com/rust-lang/rfcs/blob/master/text/1414-rvalue_static_promotion.md

RFC PR: https://github.com/rust-lang/rfcs/pull/1414

Promote constexpr rvalues to values in static memory instead of stack slots, and expose those in the language by being able to directly create `'static` references to them. This would allow code like `let x: &'static u32 = &42` to work.

Related issues (clos

[2017-01-06 06:16] eddyb commented on #38865
If anyone is interested, all you have to do is remove [this `& false`](https://github.com/rust-lang/rust/blob/f64e73b6ec130a5323f997b476c2a8a43afb6c94/src/librustc/middle/mem_categorization.rs#L782) and write tests.

[2017-01-06 07:02] wyklq opened #38868 "error: internal compiler error: ../src/librustc_typeck/check/dropck.rs:644"
I tried this code:

[code]
I'd like to see if this works or not - just implement a specific type of a generic.
However, the following compilation error happened, which brings me here:

[2017-01-06 07:09] nagisa commented on #38762
clang [has this](https://github.com/llvm-mirror/clang/blob/ec16cb9b5a481d62a73ad47fa59034ced4d62022/lib/AST/ASTContext.cpp#L416) code snippet which ignores the data-layout of the target (probably to match GCC? Also potentially has buggy interactions with the LLVM expectations?).

We can’t quite do that because of various assertions that the sizes and alignments match the data-layout. Any suggestio

[2017-01-06 07:20] meetmangukiya commented on #38865
I'd like to take a shot at this

[2017-01-06 08:03] atulatri commented on #34205
I am not getting this issue with rust nighty.

[2017-01-06 08:46] #38715 closed

[2017-01-06 09:16] eddyb commented on #38762
We can add extra alignment attributes through `cabi_*` without a lot of work, if that's needed.

[2017-01-06 09:27] Meai1 opened #38869 "Rename 'Makefile.in' to something less offensive"
According to the code of conduct: https://www.rust-lang.org/en-US/conduct.html
making less of or fun of disabled persons is not okay.
As a disabled man, I wonder if we could change the name to something less offensive. I cannot 'make' many things in life anymore with my disability and I feel unsafe looking at 'Makefiles' in the repository, which implies that clearly I'm not welcome to contribute a

[2017-01-06 09:30] nagisa commented on #38762
https://github.com/rust-lang/rust/pull/38870 fixes the by-value case, but

[code]

[code]

will still sigsegv(!) for the same reasons if both rustc and C sides are compiled with opts on my machine.

[2017-01-06 09:39] KalitaAlexey commented on #38869
@Meai1,
I can't understand whether it is a joke or not.

[2017-01-06 09:47] nikomatsakis commented on #32409
@withoutboats ah, I remember now another use-case for this feature. Often I have a type that IS publicly exposed to the world, but where I would like to expose *some* of its fields to some other modules. So in my `ui` example that might be like:

[code]

------

@cuviper I think that is ambiguous too. Consider `struct Foo(pub@foo::bar::baz)` -- is that `struct Foo(pub@foo (::bar::baz))`? Or `struc

[2017-01-06 10:34] glaebhoerl commented on #19925
The latter point may be true, but `transmute` doing anything besides actual bit-for-bit transmuting feels very wrong to me.

[2017-01-06 10:35] tombruijn commented on #37406
Compiling a staticlib with musl using this feature (`RUSTFLAGS='-C target-feature=-crt-static -Z unstable-options' cargo build --target=x86_64-unknown-linux-musl`) allows it to be properly linked when installing it with a Ruby gem. A problem I reported in #37007. A musl compiled binary already worked without this feature, but turning it on will break it.

We're currently running a tests on an alph

[2017-01-06 10:46] glaebhoerl commented on #12609
So should this be closed, or do we wait for it to hit stable?

[2017-01-06 10:51] martinlindhe commented on #38790
I no longer see the ICE with `rustc 1.16.0-nightly (468227129 2017-01-03)`

[2017-01-06 11:44] #37991 closed

[2017-01-06 11:56] hsivonen commented on #37996
I don't know. Maybe @cuviper knows who'd know.

[2017-01-06 12:23] pnkfelix commented on #32409
@withoutboats wrote:

Its fine with me if someone decides that I was wrong and revises my definition to increase its visibility.

Why is that fine? Because someone who comes along the code later and sees `pub item-defn` will say "ah, at first blush, I will assume that this item is exposes to the universe at large." (And likewise, someone who sees `pub(crate) item-defn` will likewise make a similar

[2017-01-06 12:27] pnkfelix commented on #32409
In response to the side thread between @eddyb and @nikomatsakis  about `pub in(path)`: I too find the space between `pub` and `in` to be hard to visually parse.

However, if assume that the common case here is going to be `crate` and `super`, perhaps we can do this: allow both `pub(crate)` and `pub(super)`, but for arbitrary paths, one writes `pub(in path)`.

This way, the common cases remain succ

[2017-01-06 13:14] gabibbo97 commented on #38869
I do hope this is a very funny joke.

[2017-01-06 13:34] retep998 commented on #38869
I think the real problem here is that you've given in to hopelessness. Even a disabled person can create, they're just limited somewhat by their disability. You clearly are able to use a computer as evidenced by your ability to create this issue, therefore you are perfectly capable of creating all sorts of things digitally. @camlorn is an excellent example of someone who is able to make a lot of t

[2017-01-06 13:41] arielb1 commented on #38869
Who, if you can tell?

[2017-01-06 13:44] nikomatsakis commented on #32409
@pnkfelix

I... don't hate this.

[2017-01-06 13:48] petrochenkov commented on #38848
A bit of history: several traits were [originally implemented](https://github.com/rust-lang/rust/pull/28268) for fn pointers for all ABIs, but that caused serious metadata bloat, so implementations for "rare" ABIs were dropped.
Unfortunately, the only way to generalize over ABIs is macros, so this bloat is unavoidable currently.
However, metadata format changed few times since https://github.com/r

[2017-01-06 13:56] arielb1 commented on #38868
[code]

[2017-01-06 14:01] retep998 commented on #38869
@arielb1 I'd prefer not to say publicly until they confirm that they are okay with having their name put here.

[2017-01-06 14:01] Manishearth commented on #38869
This is concern trolling.

Also, you don't need makefiles to build Rust anymore. `./x.py build` works fine.

[2017-01-06 14:01] #38869 closed

[2017-01-06 14:37] derekdreery commented on #27802
The issue could be summarised as: How to handle reading chars over a datastream, specifically how to handle either incomplete utf8 byte sequences and incorrect bytes (w.r.t. utf8).

[2017-01-06 15:28] eddyb commented on #32409
I agree that is a reasonable use of the `in` keyword and should solve the macro fragment problem.

[2017-01-06 15:30] petrochenkov commented on #38862
Slightly minimized:
[code]
The regression is introduced in https://github.com/rust-lang/rust/pull/38154
I thought this situation is always caught by resolve now.
Preferable fix: actually catch this in resolve, rather than reintroducing the old error `E0248` in typeck.

[2017-01-06 15:34] emilk opened #38873 "Reverse the stack traces"
A big improvement to the speed at which I can find the origin of a panic would be to reverse the order of the stack trace. At the moment the last line of the stack trace is always `main`. This means the stack trace is written deep->shallow, or in reverse(!) chronological order:

[code]

What you are generally looking for is the place that caused the panic (e.g. the line with an `assert!` or `panic

[2017-01-06 16:02] Ericson2314 commented on #35121
@tupshin that's a breaking change, at least without a *lot* of gymnastics. I recommend disabling unwinding and using "Result" manually if you want that clarity.

[2017-01-06 16:06] michaelwoerister commented on #36809
I'm closing this as fixed. We have a suite of tests under at https://github.com/rust-icci that is being continuously tested on Travis (https://travis-ci.org/rust-icci) and appveyor. We'll probably want to add more projects under test in the future, but for the purposes of the incr. comp. beta milestone, the suite is already pretty good.

[2017-01-06 16:06] #36809 closed

[2017-01-06 16:10] shepmaster opened #38875 ""constant evaluation error" points to nothing when crossing the crate boundary"
These error markers point to nothing, which is less than ideal. The `note` does at least help somewhat.

[code]

----

**src/lib.rs**

[code]

**examples/main.rs**

[code]

Execute via `cargo build --example=main`

- `rustc 1.14.0 (e8a012324 2016-12-16)`
- [Originally from Stack Overflow](http://stackoverflow.com/q/41501411/155423)

[2017-01-06 16:14] kennytm commented on #38875
Same as #23898?

[2017-01-06 16:22] petrochenkov commented on #32409
Even if only `pub(crate)`, `pub(super)` and `pub(self)` are left on the surface, compiler will still need to support `pub(path)` internally because private items in module `a::b` are desugared into `pub(a::b)` and `pub(super)` is desugared into `pub(concrete::module)` as well.
Module-based visibilities is a really nice system that can be orthogonally applied to all kinds of access rights - `sealed

[2017-01-06 16:24] petrochenkov commented on #32409
Ugh.

Note that `super` currently is an "arbitrary path" too, you need one more special case to make this work.

[2017-01-06 16:29] petrochenkov commented on #32409
@nikomatsakis

What is the problem in disambiguating and always parsing paths eagerly? (e.g. `struct Foo(pub@foo::bar::baz)` is a syntactic error due to missing type)

[2017-01-06 16:45] shepmaster commented on #38875
@kennytm that looks like the underlying issue (non-constness), but this particular issue was meant to focus on the silly error message specifically. I assume that is easier to fix than the constness ;-)

[2017-01-06 16:48] shepmaster commented on #23898
For what it's worth, this does "work" in Rust 1.14 if you give values to the variants:

[code]

However, it continues to fail if you cross the crate boundary (an example is available in #38875)

[2017-01-06 16:50] shepmaster commented on #23898
It does seem odd and less-than-intuitive that implicit values and explicit values are treated differently, and that intra-crate and inter-crate are treated differently.

[2017-01-06 16:56] petrochenkov commented on #32409
[code]

At least one reason to like this suggestion is that it gives a common syntactic form for all visibilities (may be useful for macros?) which is also extensible to uses of visibilities in other contexts:
[code]

An obvious (but not sure if strong) reason to dislike is a new context-sensitive identifier ("weak keyword"). I'm... not even sure it can break anything? `vis(path)` *is* a valid typ

[2017-01-06 17:06] Outpox commented on #38873
Coming from a JS - PHP background I was used to it because it's more relevant to get the latest error written at the top of the page displaying it.
When I had my first error in Rust I was indeed surprised by this order and expected to see the error on the last line.

[2017-01-06 17:31] alexcrichton opened #38878 "OSX linker segfaulting on Travis"
I've seen this quite a lot recently

Example logs:

[code]

Example Travis runs:

* https://travis-ci.org/rust-lang/rust/jobs/188055227
* https://travis-ci.org/rust-lang/rust/jobs/187951287
* https://travis-ci.org/rust-lang/rust/jobs/189523779
* https://travis-ci.org/rust-lang/rust/jobs/189551548

I'm opening a tracking issue so we can collect some more logs and hopefully draw conclusions from the

[2017-01-06 17:35] jethrogb opened #38879 "std::path::Path::Display allocates internally"
It should be possible to display a `Path` without doing any additional allocations, by having the lossy conversion use `Formatter` directly.

[2017-01-06 17:45] pmarcelll opened #38880 "HashMap starts the search even if the map is empty"
It was mentioned in the latest [Ferris Makes Emulators episode](https://youtu.be/d-dm4z5fJ1U?t=1h14m29s) that `contains` showed up in the profiling results, although a lot of the times the map itself was empty.
I think the extra checking is worth it before starting the search and that way the hashing is also skipped.

[2017-01-06 18:09] Manishearth commented on #38880
`contains()` calls [`contains_key()`](https://github.com/rust-lang/rust/blob/0728b710347aa80dfc05de29bfed4ed5fc023818/src/libstd/collections/hash/map.rs#L1106) which calls [`search()`](https://github.com/rust-lang/rust/blob/0728b710347aa80dfc05de29bfed4ed5fc023818/src/libstd/collections/hash/map.rs#L506) and finally [`search_hashed()`](https://github.com/rust-lang/rust/blob/0728b710347aa80dfc05de2

[2017-01-06 18:25] tupshin commented on #35121
I realize how breaking it would be, at least without significant gymnastics, and fair point about it being totally future work. And yes, I'm quite happy with what is planned for ! so far, as far as it goes. :)

[2017-01-06 18:26] leonardo-m commented on #38880
How much "small" is the negative impact in the regular case needs to be benchmarked.

[2017-01-06 18:26] Manishearth commented on #38880
Yes. It's probably negligible.

[2017-01-06 18:28] 3442853561 opened #38881 "There is a bug with print!"
The prompt message (with out line feed) can not be output before input.
[code]
[Screenshot](https://github.com/3442853561/homepage/blob/gh-pages/test.png)

[2017-01-06 18:30] leonardo-m opened #38882 "Some way to perform in-place sorting in iterator chains?"
In the Python language sort() doesn't return the sorted items, probably to better remind the programmer that sort is a procedure that works in-place (there is a sorted() function, that returns the sorted items, but it copies the input, so it's not in-place):

    [1, 5, 6, 10]

    [1, 5, 6, 10]

In D language the chains of ranges (similar to the Rust chains of iterators) are quite common, so the

[2017-01-06 18:30] steveklabnik commented on #38881
I don't think this is a bug. `print!` doesn't flush `stdout` like `println!` does, so until you do so, it won't get printed. Its docs explain this: https://doc.rust-lang.org/stable/std/macro.print.html

[2017-01-06 18:34] alexcrichton commented on #38881
Ah yes I believe this is a dupe of #38710, so closing in favor of that.

[2017-01-06 18:34] #38881 closed

[2017-01-06 18:36] 3442853561 commented on #38881
@steveklabnik Thank you!

[2017-01-06 18:41] steveklabnik commented on #38881
@alexcrichton did you mean a different issue? that one is about android...

[2017-01-06 18:43] alexcrichton commented on #38881
Oops yes, https://github.com/rust-lang/rust/issues/23818 is the link I intended

[2017-01-06 19:05] seanmonstar opened #38885 "Deriving Debug on an enum with uninhabited type triggers warning"
[code]

Caused by https://github.com/rust-lang/rust/pull/38069

[2017-01-06 19:21] eddyb commented on #38875
@nikomatsakis @jonathandturner So how do we get sources cross-crate? I'd love to just have the snippet to print instead of hiding it somehow.

[2017-01-06 19:24] leonardo-m opened #38886 "BinaryHeap flexibility, BuildComparator"
In D language when you create a binary heap you can optionally specify the comparison function:

    void main() {
        import std.stdio, std.container;
        auto heap1 = [10, 2, 5, 3].heapify;
        writeln(heap1); // Output: [10, 5, 3, 2]
        auto heap2 = [10, 2, 5, 3].heapify!q{b < a};
        writeln(heap2); // Output: [2, 3, 5, 10]
    }

This is handy. Similar code in Rust:

[2017-01-06 19:29] withoutboats commented on #32409
Right now I don't assume that, because without other `pub mod` or `pub use` declarations, it isn't true (and this feature doesn't exist right now). To me it seems like an unfortunate outcome if the outcome of this was that its normal for every exported item to have a scoping qualifier on its declaration, because I feel that it would introduce a lot of noise.

I think of this as largely a convenien

[2017-01-06 19:32] camlorn commented on #38869
Hi. I would be the blind contributor to the Rust compiler.  No, I don't care if we tell people that.  Also, blindness is my least significant disability, honestly: the others are the kind of thing that I don't go into because most people would consider it too much information.  Suffice it to say that I will probably always have to work remotely, or at least have the option to work remotely on some

[2017-01-06 19:48] cuviper commented on #32409
@nikomatsakis

Yes, there would need to be something to disambiguate this.  It's enough just to parenthesize the type as you've done, if we don't need to support a list of visibility scopes, otherwise that will need some kind of bracketing to goup it.  I think eager parsing the bare path is fine, as @petrochenkov suggests, especially if the "missing type" error can suggest the disambiguation.

[2017-01-06 20:01] nikomatsakis commented on #38812
I think it's basically the same underlying problem: when we are unable to infer a type, we should be as helpful as we can in telling you (a) what type we are failing to infer and (b) how can you specify it yourself. #36554 really just took a baby step by providing you at least the name of the type parameter. But it's true it was targeting the case of calling a fn.

[2017-01-06 20:03] leonardo-m opened #38887 "Compiler suggestion for attempt to move out of indexed content"
This code:

    use std::collections::HashMap;
    fn encode2(vals: &[u32], encoding: &HashMap<u32, String>) -> String {
        vals.iter().map(|k| encoding[k]).collect()
    }
    fn main() {}

It doesn't compile:

    error[E0507]: cannot move out of indexed content
     --> ...\test.rs:3:25
      |
    3 |     vals.iter().map(|k| encoding[k]).collect()
      |                         ^^^^^^^^^

[2017-01-06 20:04] zackw commented on #36927
/subscribe

If a C API takes an enum by value, there's a decent chance it's actually bitflags, i.e. you're expected to be able to do  `E_THIS|E_THAT|E_THEOTHER` in the call.

[2017-01-06 20:04] nikomatsakis commented on #33685
@aturon it is deny-by-default now, but I have not yet opened the PR to remove the underlying problem. It is all but ready though, hopefully I will get to it today.

[2017-01-06 20:08] zackw commented on #28925
I tripped over this while trying to add `waitid` to libc.  This function is specified by POSIX to take one argument of type `idtype_t`, and `idtype_t` is specified to be a C enum.  (As far as I know, this is the only such case within POSIX.)  At present, because of this (and arguably also #34641) there is _no way_ to be sure that a Rust shim for a C function that takes or returns a C enum type is

[2017-01-06 20:17] Stebalien commented on #38880
@Manishearth That really depends on the use case. If you have a large vector of mostly empty `HashMap`/`HashSet`s, repeatedly re-hashing the key could take a while. However, this probably isn't a common use-case so the programmer could just check the length in cases like this.

Anyways, wasn't there some talk about falling back on linear search/storage for small maps/sets? That would probably be m

[2017-01-06 20:20] d33tah opened #38888 "Clarify documentation on std::io::read_line"
Take a look at this SO answer and the comments:

http://stackoverflow.com/a/41210857/1091116

[2017-01-06 20:31] seanmonstar opened #38889 "Subtle breaking change with match patterns on uninhabited types"
If an enum contained an uninhabited type, it is now valid to ignore matching that variant (and in fact encouraged, since include that pattern or `_` now receives a warning).

I'll take a reduced example from hyper: `hyper::Error`

Currently, `hyper::Error` includes a `__DontMatchMe` variant as part of its way of saying that the `Error` enum could grow more variants. People should instead use a `_`

[2017-01-06 20:44] japaric commented on #33114
OK. I found where Ubuntu was hiding their stuff:

- [rootfs](https://wiki.ubuntu.com/Base) (See "Current releases")
- [kernels](http://kernel.ubuntu.com/~kernel-ppa/mainline)

There are binary releases for armhf, ppc64el and s390x. Apart from i686 and amd64. There's a rootfs for powerpc but no kernel AFAICT.

And I got [a script](https://gist.github.com/japaric/b71af47968afa4cd86157552aaee51d1) to

[2017-01-06 20:54] cuviper commented on #37996
I'm confused by (and suspicious of) the `ppc64p7` in your filenames.  Indeed that's the only `glibc-devel` in the mirror path you linked, but on a lab machine here I have `glibc-devel-2.24-3.fc25.ppc64`.  Looking in koji, the [2.24-3 build](https://ppc.koji.fedoraproject.org/koji/buildinfo?buildID=422699) has both arch names, but the [2.24-4 update](https://ppc.koji.fedoraproject.org/koji/buildinf

[2017-01-06 20:58] cuviper commented on #37996
I just tried those Fedora builds with `rust-encoding`, and `cargo build` is fine, and even `cargo test` works if I cheat for its `feature(test)` (setting `RUSTC_BOOTSTRAP=1`, shh).  However, cheating similarly with upstream stable and beta binaries gets the same linker problems you have in testing.  So maybe the `ppc64p7` thing is a red herring.

I get an even worse result on nightly! :/

[code]

[2017-01-06 21:20] cuviper opened #38891 "ppc64/s390x `assertion failed: eps.windows(2).all(|w| w[0].cmp(self, &w[1]) != Ordering::Greater)`"
While looking into #37996 on Fedora 25 ppc64, I hit a rustc assertion building rust-encoding.  The same nightly version is fine on Fedora 25 x86_64.  Stable and beta ppc64 are also fine, barring the linker problems from that former issue.

[code]

[code]

Here's the backtrace from the first occurrence:

[code]

[2017-01-06 21:22] ncalexan opened #38892 "error: expected one of `)` or `,`, found `[` using empty slice &[][..] in if let expression"
With the following input, I get an unexpected error.  (I'm testing locally and also using https://play.rust-lang.org; links below.)
[code]
results in an error parsing (lexing?) `&[][..]` in the `if let` expression:
[code]
(See https://play.rust-lang.org/?gist=95b4c8fbaba1233075155fd33641d13a&version=nightly&backtrace=0.)

If I extract a temporary variable, like the following:
[code]
then everythin

[2017-01-06 21:23] #38586 closed

[2017-01-06 22:20] skade opened #38894 "Rustbuild: Building librustdoc fails"
Building librustdoc individually fails after building rustc itself:

[code]

OS: macOS 10.11.

Used commit: a28701a928f8d6ab0299b10708441f7234ba7133.

[2017-01-06 22:40] whitequark commented on #33626
@lu-zero Ok let me give it another try. Rustbuild and (hopefully?) incremental compilation have made rustc hacking much less painful...

[2017-01-06 22:40] aturon commented on #36436
Note that this method follows the convention set out by methods like `splitn`.

I suspect `replacen` with a count of 1 will be a common usage.

[2017-01-06 22:41] brson commented on #37197
I'm not ready to sign off on this until the DST implications as raised by @Amanieu are understood.

[2017-01-06 22:53] brson commented on #38137
@rfcbot cancel

[2017-01-06 22:58] aidanhs commented on #38873
Perhaps worth a discussion on https://users.rust-lang.org (or internals) instead since I can see it being contentious?

[2017-01-06 23:06] #38595 closed

[2017-01-06 23:06] sfackler commented on #38595
Closing as dup

[2017-01-06 23:07] aidanhs commented on #38805
@kripken

I assume the llvm parts are mostly similar, so you're referring to the emscripten asm.js optimizer passes? Which is a partially solved problem if documentation includes the three commands necessary to use [ayzim](https://github.com/aidanhs/ayzim) (though this would require the converter to not 'finalize' the asm.js).

[2017-01-06 23:53] kripken commented on #38805
@aidanhs Yes, LLVM IR optimizations are identical - the difference is only in "backend" opts. But the asm.js optimizer isn't necessarily used in this case. On the LLVM backend side, LLVM does the backend opts; on the asm2wasm side, backend opts may be done by either the asm.js optimizer (from emscripten, or in principle could be ayzim) or wasm optimizer (from binaryen), or just with the wasm optim

[2017-01-06 23:56] cuviper commented on #38886
The general case might still feel like annoying boiler plate with what I suggested, having to implement a `BuildComparator` and corresponding `Comparator`.  But maybe a few provided basics can ease most cases, like `MaxComparator`, `MinComparator`, and generally `FnMutComparator`.