[2019-03-28 16:29] bturner-bw opened #59494 "Compiler panic with generic-typed nested closures"
Discovered a compiler panic, thought it might relate to [#58840](https://github.com/rust-lang/rust/issues/58840), but was told to post a new issue.

In minimizing, it seems the generic types are required to trigger the panic, I was unable to reproduce when inlining t7p or t8n.

---
This code panics on 1.33 - 1.35, but does not panic on 1.32 ([playpen](https://play.rust-lang.org/?version=nightly&mo

[2019-03-28 16:35] matthewjasper commented on #46525
Fixing this issue, would not change the order there, or any observable runtime behaviour at all.

[2019-03-28 16:57] Mark-Simulacrum commented on #59492
I suspect this is due to Go's use of a GC or perhaps a different String implementation. Regardless, I don't think this issue is actionable -- if you would like to discuss the differences between Go and Rust's Strings is best done on internals.r-l.o or users.r-l.o.

[2019-03-28 16:57] #59492 closed

[2019-03-28 17:30] mikrostew opened #59495 "Compiler panic for `error: lifetime parameters must be declared prior to type parameters`"
I found a compiler panic, which has a similar error message to #39239, but it looks like a different issue.

I expect to get an error for this because my code is wrong, but I did not expect a panic in the middle of the error.

## Minimal Repro

This code panics:

[code]

This is the error:

[code]

## Environment

I'm running 1.33 stable:

[code]

## Backtrace:

[code]

[2019-03-28 17:35] steveklabnik commented on #57738
I'd go with option 1.

[2019-03-28 17:56] mati865 commented on #56980
Pinging @alexcrichton, previous attempts didn't solve RLS issue.

Short summary:
I built RLS in-tree with https://github.com/alexcrichton/rust/blob/ccbf28eae8b345db3ede51112cc32c756a084bd9/src/rustc/rustc.rs#L24-L43 and stand-alone with jemallocator. I made sure it picks `malloc` from jemalloc but it only made things worse: https://github.com/rust-lang/rust/issues/56980#issuecomment-457553036
Exam

[2019-03-28 18:08] bddap commented on #36375
If `()` implements the return trait, compilation succeeds.

[code]

[2019-03-28 18:18] gnzlbg commented on #56980
You can see if #59436 fixes it, by building with it applied locally until it lands, but... I doubt it.

If you are sure that there is only one malloc symbol in your binary, and that's the one from jemalloc, then you mentioned above that the allocations for librustc are way too big. You might want to try to debug why. Is rustc requesting that much memory?

[2019-03-28 19:10] dralley opened #59501 "std::iter::Cycle has many methods that cannot be used without an infinite loop"
A cycle object is an iterator that repeats itself endlessly - therefore, performing a ```.sum()```, ```.count()```, ```.product()``` or other similar methods on a cycle object will create an instant self-contained infinite loop.

While not "unsafe", I cannot imagine how this could possibly be useful.

I'm unfamiliar with any tools you might have at your disposal to disable these methods specifical

[2019-03-28 19:11] benesch opened #59502 "rustdoc overflows stack on latest nightly"
To reproduce:

[code]

Rustdoc version:

[code]

I can reproduce on both macOS and Linux. Let me know if there's anything else I can provide!

[2019-03-28 19:16] mulkieran opened #59504 "Incorrect description of environment variables in rustc man pages"
Here it is:

[code]

I believe that the line here is incorrect

"Some of these affect the output of the compiler,  while  others  affect
       programs which link to the standard library."

since I believe none of these variables affect the output of the compiler.

Why is this a problem? Well, the logical reader might say to themselves:
" "Some" means at least 1. It makes very little sense for th

[2019-03-28 19:33] pnkfelix commented on #57895
While discussing #59114 at the T-lang design team meeting, one question that arose was whether we would move to hard error mode for both 2015 and 2018 at the same time, or if we would do it in a staged fashion (presumably on 2018 first and then following with 2015 sometime later).

Discussion of that pointed out the detail that there are some languge features that depend, in some fashion, on NLL.

[2019-03-28 19:38] jonas-schievink commented on #59501
This might also be useful as a clippy lint

[2019-03-28 19:41] jonas-schievink commented on #59504
I think "the output" should just be removed here - `RUST_BACKTRACE` applies to both rustc and binaries produced by it, for example.

[2019-03-28 20:12] jethrogb commented on #56590
This is now on stable, but it appears fixed on nightly

[2019-03-28 20:16] jethrogb commented on #40066
Bug still exists in 2018 edition but you have to write `in crate::...`

[2019-03-28 20:38] ehuss commented on #56684
I think this can be closed. This was fixed in 1.32 via #56759.

[2019-03-28 20:45] Centril commented on #57895
(updated ^ with links)

[2019-03-28 21:01] #56684 closed

[2019-03-28 21:04] jonas-schievink commented on #58323
This is now on beta

[2019-03-28 21:36] akinnane commented on #59502
I'm getting the same error on Linux using the same rustdoc version.

[2019-03-28 21:46] jonas-schievink commented on #59502
Can you try obtaining a backtrace with gdb or lldb?

[2019-03-28 22:08] shepmaster commented on #56590
[My code example](https://github.com/rust-lang/rust/issues/56590#issuecomment-473536351) continues to have the error in nightly on the playground.

[2019-03-28 22:24] eddyb commented on #59502
Someone on IRC got this in a backtrace:
[code]

I'm trying to do a review of #59004, I suspect it needs a bit more work to be robust.

[2019-03-28 23:50] varkor commented on #59495
This just affects stable: on beta and nightly, this doesn't ICE.

[2019-03-28 23:51] varkor opened #59508 "Generic parameter reordering diagnostic doesn't contain bounds"
[code]
produces:
[code]
which should be:
[code]

[2019-03-28 23:52] jonas-schievink commented on #59495
Indeed, fixed on beta and nightly, so closing.

[2019-03-28 23:52] #59495 closed

[2019-03-28 23:54] eddyb opened #59509 "Re-introduce load-bearing assert, or fix niche debuginfo generation properly."
See https://github.com/rust-lang/rust/pull/55701#discussion_r270227197, this is just one-line addition for the assert.

Currently, this example:
[code]
has this in its LLVM IR (in debug mode):
[code]
Note the `extraData`, which indicates the discriminant (niche, in this case), it should be the same value as `Foo::Bar`, plus `1`, but is instead the truncated value (see below).

The debuginfo for `F

[2019-03-29 00:01] memoryruins commented on #59501
clippy catches cases with the `infinite_iter` lint.

Since it's in the `correctness` category, It is enabled by default when clippy runs.
https://rust-lang.github.io/rust-clippy/master/index.html#infinite_iter

There is a `maybe_infinite_iter` lint, but it is disabled by default since it's in the `pedantic` category.
https://rust-lang.github.io/rust-clippy/master/index.html#maybe_infinite_iter

[2019-03-29 00:18] jonas-schievink commented on #59501
Closing in favor of that lint. If there's any improvements to it that should be made, an issue should be filed at https://github.com/rust-lang/rust-clippy

[2019-03-29 00:18] #59501 closed

[2019-03-29 00:36] varkor commented on #59333
So, https://github.com/rust-lang/rust/pull/59486 will fix *part* of this issue, which means that if `Runner` and `Runtime` are made `pub`, there will no longer be a dead code warning. However, there's a *second* issue, which is that the usages in code are not being picked up. I think this is because they're being attributed to the original type rather than the alias.

[2019-03-29 00:36] varkor commented on #58593
I think this is essentially the same problem as https://github.com/rust-lang/rust/issues/59333#issuecomment-477820887.

[2019-03-29 00:45] varkor commented on #59333
Minimised:
[code]

[2019-03-29 01:17] #58604 closed

[2019-03-29 01:17] #59109 closed

[2019-03-29 01:17] #59361 closed

[2019-03-29 01:19] jethrogb commented on #58046
I guess I'm a little late with this comment but I think the name should be `copy_sign`, following Rust naming convention for separating words.

[2019-03-29 01:42] jocutajar commented on #59399
Lovely. My state machine including the fast forward trick is still roughly 5x slower. I couldn't bring it anywhere near your mark and I've tortured it a good deal. I don't understand why, but I figured pattern matching has some effect. Just adding or removing one option had noticeable impact. I had hopes Rust would optimize those a lot. Well I fought and I surrender :)

[2019-03-29 03:50] eddyb commented on #59469
@dignifiedquire Note that because of the `#[rustc_args_required_const(2)]` on the definition, you can't wrap it.

@hellow554 I don't think this is intentional, but I'm not sure why it would happen, maybe arguments are treated incorrectly in the qualifier. cc @oli-obk @gnzlbg

[2019-03-29 06:40] 1011X commented on #49802
Now that [rust-lang/rfcs#2500](https://github.com/rust-lang/rfcs/pull/2500) has merged, can this RFC be implemented?

[2019-03-29 06:53] calidion opened #59518 "{:x?} to print `0x10` instead of `10`"
currently `println("{:x?}", 0x10)` will print `10` instead of `0x10`, which is confusing from `10` in decimal.

[2019-03-29 07:06] ordovicia commented on #59518
Formatting with `{:#x}` prints leading `0x`.
[Doc](https://doc.rust-lang.org/std/fmt/index.html#sign0), [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d4db67450cc982665e2118160c2f59da)

[2019-03-29 07:08] calidion commented on #59518
@ordovicia thanks.

[2019-03-29 07:08] #59518 closed

[2019-03-29 08:05] gnzlbg commented on #59469
So I agree that this code can't compile, that's the expected behavior; @dignifiedquire if you want to wrap it, you have to use a macro - Rust functions aren't able to abstract over this type of hardware operations yet.

The ICE is a regression over the error message that was being produced before. We should definitely add an ui test for that.

[2019-03-29 08:12] eddyb commented on #57968
@michaelwoerister Could NTFS' infamous low performance on many small files be at fault here?
Any chance we can coalesce some of those files together?

[2019-03-29 08:14] #58323 closed

[2019-03-29 08:19] mati865 commented on #57968
I'd rather blame Windows Defender which is enabled by default on Windows 10.
If it's the case you will see it in task manager squishing everything out of single core.

[2019-03-29 08:24] lnicola commented on #57968
Re Defender, I've seen someone investigating parallel extraction of the installation packages to split the scanning across multiple cores, since it's synchronous.

Does the compiler use multiple threads when writing the files? Or, going the other way, would sticking then in a SQLite database help?

[2019-03-29 09:00] pnkfelix commented on #59504
First, I do agree the phrase "the output of the compiler" is suboptimal, since it can be taken to mean the diagnostics emitted to stdout or other files it generates, while the original *intent* here (I think) is for the word "output" to denote the behavior of the binary generated by the compiler.

Second, while saying "Some of these affect the compiler, ..." would be technically correct, I think i

[2019-03-29 09:44] gnzlbg commented on #58633
This is super painful, can this gets prioritized, or could we disable incremental builds until its fixed?

[2019-03-29 09:47] pnkfelix commented on #58633
FYI, the following command seems like a pretty reliable way to reproduce this problem:

[code]

[2019-03-29 09:48] varkor commented on #59508
It should also probably not contain the phrase `, then consts` if const generics aren't enabled.

[2019-03-29 09:48] pnkfelix commented on #58633
(assigning to self to investigate)

[2019-03-29 10:04] kinnison opened #59521 "unreachability warning inconsistently provided with thread spawn"
Hi,

`charmander` on `#rust` discussed an interesting issue where unreachability of code was inconsistently reported when threads return `!`.  We reduced it to the following example:

[code]

If the thread is spawned via the `spawny()` function, then `println!()` is marked unreachable, otherwise if spawned via an in-line `std::thread::spawn()` call, it is not.  In both cases `_res` has the type `!

[2019-03-29 10:14] WiSaGaN commented on #59521
[code]
This warns correctly. [Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=167775e3aa13816b3f94e555de278fd4)

[2019-03-29 10:49] RalfJung commented on #56604
This is actually more subtle than I thought. The thing that I did not know when discovering this problem is that the borrow checker treats `*const` and `*mut` different.  The following is safe code:
[code]
IOW, the borrow checker considers a cast to a `const` raw pointer as just a read access. Also see https://github.com/rust-lang/unsafe-code-guidelines/issues/106 and Cc @matthewjasper 	who brough

[2019-03-29 10:52] mati865 commented on #58099
`libstd` is merged https://github.com/rust-lang/rust/pull/58208

[2019-03-29 10:53] Centril commented on #58099
Yep; still waiting on https://github.com/rust-lang/rust/pull/58828 however.

[2019-03-29 11:06] petrochenkov commented on #58099
It should be possible to set the default edition and lints in rustbuild already.
The few remaining crates can opt-out and be transitioned at later time, not necessary to wait for them.

[2019-03-29 11:21] #59215 closed

[2019-03-29 11:21] #54110 closed

[2019-03-29 11:37] lqd commented on #56590
The code example in https://github.com/rust-lang/rust/issues/56590#issuecomment-450535106 still fails on nightly as well, but in Release mode only, while some examples from other comments fail in Debug only, and finally there are also examples (such as Shep's) failing in both Debug and Release.

[2019-03-29 12:00] pnkfelix commented on #58633
Strange; part of the problem I have had in investigating this is that it seemed like my manual attempts to run the "same" commands that were being issued by bootstrap would all complete successfully.

I think part of the issue there is that the `verbose` mode for `bootstrap` is sometimes hiding information about the commands it runs. To get something that actually reproduced the problem, I had to

[2019-03-29 12:02] sanxiyn commented on #59040
Maybe we should consider changing ppc64 baseline? [Debian ppc64](https://wiki.debian.org/PPC64) supports e5500, for example.

[2019-03-29 12:05] pnkfelix commented on #58633
Also, setting this to `false` may provide an easier workaround for this speciifc bug than a full clean:

https://github.com/rust-lang/rust/blob/003382e4150984cb476047b3925edf8d75df2d59/config.toml.example#L402-L403

[2019-03-29 12:07] pnkfelix commented on #58633
(The aforementioned setting was moved into rustbuild in #49715)

[2019-03-29 12:12] sanxiyn commented on #43610
Rust powerpc64 in fact requires AltiVec, see #59040.

[2019-03-29 12:26] Alfriadox commented on #42863
Is this any closer to being fixed?
Is there anything I can do to help?

[2019-03-29 12:31] elbaro commented on #57854
Having the same problem. It does not even say which file/line is the problem.
rustc 1.35.0-nightly (82e2f3ec2 2019-03-20)

[code]

[2019-03-29 12:37] pnkfelix opened #59523 "incremental compilation flags #[rustc_on_unimplemented] as an unused attribute"
Spawned off of #58633

The following code will compile successfully the first time you build it with `-C incremental=dir`, then will fail the second time (again with `-C incremental=dir`).

Code:

[code]

Demonstration:

[code]

----

This may seem like a low priority item since it is using `#![feature(on_unimplemented)]`; but we use that feature in `libcore` itself, so this problem is causing iss

[2019-03-29 12:39] pnkfelix commented on #59523
Probably the easiest short-term answer is just do something analogous to 81a643731d987aa320c936110326ab9dfe812bd0 but for `on_unimplemented`.

[2019-03-29 12:49] TheBlueMatt commented on #43610
As noted this BT was on POWER9, ie including Altivec support.

[2019-03-29 12:50] Thomasdezeeuw commented on #53491
I wanted to provide some feedback on `MaybeUninit`, the actual code changes can be seen here https://github.com/Thomasdezeeuw/mio-st/pull/71. Overall my (limited) experience with the API was positive.

The only small issue I encountered was that returning `&mut T` in `MaybeUninit::set` leads to having to use `let _ = ...` (https://github.com/Thomasdezeeuw/mio-st/pull/71/files#diff-1b9651542d08c6ec

[2019-03-29 12:59] pnkfelix commented on #59523
For the long term, I am vaguely worried that this may be an instance of a class of bugs with incremental compilation that we should be tracking.

For example, see also #52387

[2019-03-29 13:00] vielmetti commented on #52362
Based on https://github.com/Plume-org/Plume/issues/394 I can recommend this script as being suitable for installing the lld dependency:

https://github.com/mcrosson/Plume/blob/master/script/wasm-deps.sh

and then you invoke with `RUSTFLAGS="-C linker=lld" cargo build`per the example at

https://github.com/mcrosson/Plume/blob/master/script/plume-front.sh

The note in the PR at https://github.com/Pl

[2019-03-29 13:01] sanxiyn commented on #41253
Closing, based on discussion at #50960.

[2019-03-29 13:01] #41253 closed

[2019-03-29 13:06] sanxiyn commented on #43610
@TheBlueMatt, can you open a new issue? As your issue is clearly different from @aperezbios's.

[2019-03-29 13:19] pnkfelix opened #59524 "incremental compilation flags #[rustc_layout_scalar_valid_range_*] as an unused attribute"
Spawned off of #58633

The following code will compile successfully the first time you build it with `-C incremental=dir`, then will fail the second time (again with `-C incremental=dir`).

Code:

[code]

Demonstration:

[code]

----

This may seem like a low priority item since it is using an unstable feature; but we use that feature in `libcore` itself, so this problem is causing issues for peop

[2019-03-29 13:32] RalfJung commented on #53491
Thanks a lot!

Why that? You can just "throw away" return values, in fact the examples [in the docs](https://doc.rust-lang.org/nightly/core/mem/union.MaybeUninit.html#method.read) do not do `let _`. (`write`/`set` does not have an example yet... but really it's pretty much the same as `read`, maybe it should just link.)

Yea, that is definitely an area of future interest.

[2019-03-29 13:36] Thomasdezeeuw commented on #53491
@RalfJung

I've enabled the warning for `unused_results`, so without `let _ = ...` it would produce a warning. I forgot that isn't the default.

[2019-03-29 13:36] pnkfelix commented on #45653
@michaelwoerister are you still planning to just close this?

[2019-03-29 13:39] pnkfelix commented on #46002
@michaelwoerister out of curiosity, would you expect things to break if one were to blindly delete some of these directories before initiating a rustbuild?

Or does the incremental compilation system just recognize that some of the files it wants are missing, and fall back on a full compilation?

[2019-03-29 13:43] mulkieran commented on #59504
Thanks, @pnkfelix. Now that you point it out I realize that the problem with the problematic statement is not that it is wrong, so much as that it is entirely ambiguous and that when reading it it is easy to choose the wrong, that is unintended, meaning.

Your suggested wording works for me.

[2019-03-29 13:46] SimonSapin commented on #58046
I personally don’t have an opinion on this. (The name without a space has precedent and might help in search engine results.) But since the stabilization PR has merged in the 1.35 cycle, if we rename we should do so this or next week.

[2019-03-29 13:57] RalfJung commented on #53491
Ah, I didn't know about that warning. Interesting.

That might be an argument to make `write` not return a reference, and provide a separate method for that if there is more demand.

[2019-03-29 14:12] pnkfelix commented on #29642
We probably should address the `rustc_attrs` question separately from how we resolve the custom_attributes matter in general.

(Unless our plan is to somehow use the same new machinery for both cases...?)

[2019-03-29 14:15] michaelwoerister commented on #46002
You can always just delete anything within the various `incremental` directories. The compiler will just compile from scratch if it doesn't find anything in the cache.

[2019-03-29 14:22] htbig opened #59526 "i want to add auto Debug #[derive(Debug)] to every struct"
i want to add auto Debug #[derive(Debug)] to every struct

[2019-03-29 14:23] htbig commented on #59526
how to modify rust compiler source code

[2019-03-29 14:44] michaelwoerister commented on #45653
Yes, let's close it. There's not much here that's actionable still.

[2019-03-29 14:44] #45653 closed

[2019-03-29 14:46] Centril commented on #53491
This would just be `[MaybeUninit::uninit(); EVENTS_CAP]`. See https://github.com/rust-lang/rust/issues/49147.

Seems niche? If there's more demand in the future we can add a method that *doesn't* return a reference.

[2019-03-29 14:53] jonas-schievink commented on #59526
Please ask questions like this on the internals forum at https://internals.rust-lang.org/ or on the `#rustc` IRC, we try to keep this issue tracker for bugs only.

[2019-03-29 14:53] #59526 closed

[2019-03-29 14:56] #42405 closed

[2019-03-29 14:56] #54959 closed

[2019-03-29 14:56] #55537 closed

[2019-03-29 15:01] mark-i-m commented on #57742
Note to self: The next step is to merge this branch: https://github.com/rust-lang/rust/compare/master...mark-i-m:dup-matcher-bindings-3

[2019-03-29 15:02] pnkfelix commented on #59375
It might be interesting to try to change the `derive(PartialEq)` to generate two methods: the first, marked `#[inline(always)]`, just inspects the two discriminants (or for integers, the values themselves), and then dispatches to the second method. The second method, marked `#[inline]` (as today) would hold the remainder of the comparison...

[2019-03-29 15:03] Centril commented on #58046
My preference is for `copy_sign` over `copysign`; seems we could redirect confused users from `copysign` using some `#[rustc_on_misnamed = "copysign"]`... iirc @estebank had some idea of that kind?

[2019-03-29 15:03] cuviper commented on #43610
@TheBlueMatt's issue looks like #57345, which should be fixed by #58986.

[2019-03-29 15:07] mark-i-m commented on #58633
I am getting an increasing feeling that we need to document and simplify the bootstrapping process better...

[2019-03-29 15:14] pnkfelix commented on #55499
This ICE no longer occurs on the nightly compiler.

Marking as E-needs-test so that we don't forget to add a regression test for it.

[2019-03-29 15:16] pnkfelix commented on #57642
cc #59490

[2019-03-29 15:18] pnkfelix commented on #48049
Until @nikomatsakis corrects me otherwise, I'm going to assume that #59490 blocks this and thus this tracking issue once again tracks the issue.

[2019-03-29 15:22] faern commented on #58520
These iterators are really good. I have long relied on the [`display_chain`](https://docs.rs/error-chain/0.12.0/error_chain/trait.ChainedError.html#method.display_chain) method in `error-chain`. As I move away from that lib I find it cumbersome to transform my entire chain of errors into a good string representation.

With these iterators I can get the equivalent of `display_chain` this way:
[code

[2019-03-29 15:43] jethrogb commented on #53491
Yeah there are tons of methods that set a value and then return a mutable reference to it.

[2019-03-29 15:45] jethrogb commented on #58046
I'm assuming the method name suggestion logic would find `copy_sign` automatically if someone tries `copysign`? The documentation search for sure can already do this: https://doc.rust-lang.org/std/?search=copynonoverlapping

[2019-03-29 15:54] dingxiangfei2009 commented on #59407
Okay, I see. `TyKind` is set to `Projection`, but the orphan checker does not normalize the projection.

[2019-03-29 15:58] DevQps commented on #59504
I think the extra note on the end is likely to make things more confusing. So keeping it to only the first part of your suggestion is the best I think!:

If you want I could create a PR for this?

[2019-03-29 16:07] michaelwoerister opened #59531 "libprofiler_builtins is missing compile-time flags"
For example `COMPILER_RT_HAS_FCNTL_LCK` and `COMPILER_RT_HAS_ATOMICS` are not being set. Would it be possible to use `cmake` (i.e. compiler-rt's regular build system) to find out which flags to set?

cc @rust-lang/infra @rust-lang/compiler

[2019-03-29 16:24] ThatsGobbles commented on #57771
It seems that this is still happening for me on nightly?

`mark@rche:~$ rustup component add rls
error: component 'rls' for target 'x86_64-unknown-linux-gnu' is unavailable for download for channel 'nightly'`

[2019-03-29 17:08] vi commented on #59490
What is a leak check? How it masks the bugs? What Github label do that leak-check-masked bugs carry?

Google search does not seem to show relevant things; asking on IRC lead to answeres suggesting to ask here.

Do I understand the chain correctly:

1. fixing those bugs unlocks
2. removing re-added leak-check, which unlocks
3. Chalk integration, which unlocks
4. generic associated types, which unlo

[2019-03-29 17:09] Ericson2314 commented on #42774
Once `Box<T, A>` has landed, I'll finish off https://github.com/QuiltOS/rust/commits/allocator-error / https://github.com/rust-lang/rust/pull/52420 . I'd be happy to make an RFC at that point describing what I did.

[2019-03-29 17:20] Ericson2314 commented on #27336
@Gankro

The default hasher `RandomState` for `HashMap` cannot go in `alloc` because it accesses os-specific sources of randomness. (https://doc.rust-lang.org/src/std/collections/hash/map.rs.html#3165-3186) We therefore need to define the default "after the fact". https://github.com/rust-lang/rfcs/pull/2492 is the only way I know to get around this.

I'd also like to define collections prior to th

[2019-03-29 17:33] justhsu commented on #47680
@shepmaster similar to here #58787. This works:

[code]

This does not:

[code]

[2019-03-29 18:11] Centril commented on #58160
Happened again in https://github.com/rust-lang/rust/pull/59522#issuecomment-478097014.

[2019-03-29 18:12] mark-i-m commented on #59490
@vi perhaps @pnkfelix can correct me if i am mistaken. I think they are referring to [Placeholder leaks](https://rust-lang.github.io/rustc-guide/traits/hrtb.html?highlight=Leak#basic-matching-and-placeholder-leaks), which was the old way of handling HRTB lifetimes. My guess is that there is some difference in how Universes (the new way) work that caused edge case bugs or something....

[2019-03-29 19:02] cuviper commented on #59509
I think DWARF LEB128 isn't technically bounded, but I'll bet a lot of tools will only decode 64-bit values. There's also `DW_FORM_data16` though.

But it looks like LLVM is limited:

https://github.com/rust-lang/rust/blob/2002b4b39a16760f37107cf02d7a91ff316d3073/src/librustc_codegen_llvm/debuginfo/metadata.rs#L1541-L1545
https://github.com/rust-lang/rust/blob/2002b4b39a16760f37107cf02d7a91ff316d30

[2019-03-29 19:48] jonas-schievink opened #59535 "Incremental compilation results in linker error when method use is removed"
See: https://github.com/jonas-schievink/rubble/compare/incr-linker-error

Build the first commit (jonas-schievink/rubble@04cf1d1), then the second (jonas-schievink/rubble@cedf7be) using `cargo build`, and you should get a linker error like this:

[code]

Note that this needs the `thumbv7em-none-eabi` target, so you might need to run `rustup target add thumbv7em-none-eabi` beforehand.

This is on `

[2019-03-29 19:50] eddyb commented on #59509
Okay I was a bit confused, turns out there are two separate parts to this:
* `Foo`'s enumeraror debuginfo, which has nothing to do with the assert that was removed, and is missing its own assert, until the problem described by @cuviper is resolved
* `Option<Foo>`'s variant member type debuginfo for `None`, is the one affected by the removed assert
  * the function creating that debuginfo metadata

[2019-03-29 20:20] awestlake87 commented on #57771
Yeah, it's happening again. Going off of @mati865 I used the toolchain from March 21st

[code]

[2019-03-29 20:27] GuillaumeGomez commented on #59502
@eddyb I let you take care of it?

[2019-03-29 20:34] eddyb commented on #59502
@GuillaumeGomez @QuietMisdreavus Can you revert #59004 entirely until I have the time to look into another minor refactor of rustdoc? It might be a few days (and that if I don't forget about it).

Or at least comment out the calls to the recursive functions that cause the stack overflow.

[2019-03-29 20:58] GuillaumeGomez commented on #59502
Sure.

[2019-03-29 21:32] frewsxcv commented on #59475
maybe we should take [the old contents](https://web.archive.org/web/20180924035000/https://buildbot2.rust-lang.org/homu/) and throw it in a markdown file in [the repo](https://github.com/rust-lang/homu) and link to that?

[2019-03-29 21:35] frewsxcv commented on #59475
...or also figure out what that 500 is :P

[2019-03-29 21:45] #59458 closed

[2019-03-29 21:46] #58298 closed

[2019-03-29 21:46] #47131 closed

[2019-03-29 22:14] matthewjasper commented on #56604
No, I'm was saying that a model that accepts both example 1 and 2 would effectively be modelling two-phase borrows. I can't see any way to allow this without complicating the model significantly.

[2019-03-29 23:02] GuillaumeGomez commented on #59502
I sent a PR and answered a few of your questions. The main point of what I added was to generate a list of names, not of types. Therefore, I don't care if I have two types with the same name. It doesn't matter. :)

[2019-03-29 23:43] federicomenaquintero opened #59541 "x.py should indicate status code of failed commands"
x.py's `run()` function just prints `failed to run: $command_name` when something fails, but it doesn't say why it failed, which makes debugging builds harder.

At Suse we just ran into the following.  In trying to bootstrap Rust 1.33, it turned out that the prebuilt compiler and cargo for 1.32 are probably broken for ppc64le.  Running `cargo` from the prebuilt binaries immediately causes it to di

[2019-03-30 00:18] jhfrontz opened #59542 "regression in deterministic codegen from 1.32 to 1.33 when using --remap-path-prefix to compensate for change in source dir"
I use a [gitian build environment](https://github.com/devrandom/gitian-builder) to compile rust source in a well-defined/stabile environment.  When using rust 1.32 (rust-1.32.0-1.el7.x86_64.rpm on Centos 7), I can [deterministically build](https://github.com/rust-lang/rust/issues/34902) object/binary (with the help of `RUSTFLAGS="--remap-path-prefix=%{_builddir}=BUILDDIR -C link-arg=-Wl,--build-id

[2019-03-30 00:46] vi commented on #58374
Maybe attempts to write to a sibling of an uninhabited field should be just no-ops?

With partial initialization layout adaptaions, `!` loses its mathematical beauty and becomes just a fancier ZST.

`!` from my imagination turns `Vec<!>` and `HashMap<i32,!>` into ZSTs. https://github.com/rust-lang/rust/pull/50622 seems like a step away from it.

[2019-03-30 00:50] vi commented on #49298
Shall there be some `#[attribute]` to opt out partial initialisation, but gain "multiply by zero" layout optimisation?

[2019-03-30 00:52] brettcannon opened #59543 "std::env::SplitPaths does not document its Item type"
Reading both https://doc.rust-lang.org/std/env/struct.SplitPaths.html and https://doc.rust-lang.org/std/env/fn.split_paths.html there's no specification that the `Item` type for the iterator is `PathBuf`. To me it seemed ambiguous what an "iterator that splits an environment variable into paths"  or "an iterator over the paths" returns since it could be the string representing the paths -- which i

[2019-03-30 03:48] thepowersgang opened #59548 "ICE in librustc_codegen_llvm when building kernel"
Basic issue while I start digging deeper into the issue. Compiling the kernel in https://github.com/thepowersgang/rust_os/tree/4eefae2ce0db2ba62714dbedc31094a756275651 using xargo causes rustc to ICE in `librustc_codegen_llvm`

In cleaning up for commit, I've isolated it to https://github.com/thepowersgang/rust_os/blob/4eefae2ce0db2ba62714dbedc31094a756275651/Kernel/main/main.rs#L34, which causes

[2019-03-30 05:31] Reconcyl opened #59549 "Confusing wording in documentation for std::hint::unreachable_unchecked()"
The documentation for [`std::hint::unreachable_unchecked()`](https://doc.rust-lang.org/std/hint/fn.unreachable_unchecked.html) mentions two ways that it can affect a program:

1. It can enable the compiler to make optimizations based on the assumption that the function will never be executed.
2. If the function actually is executed, its behavior is undefined.

It then goes on to mention the `unrea

[2019-03-30 07:19] carado opened #59551 "rustc stack overflows when running cargo doc on a project with nix"
On the latest rustc (1.35.0-nightly (e782d790f 2019-03-29)) and cargo (1.35.0-nightly (0e35bd8af 2019-03-13)), creating a new blank project on my x86_64 Void Linux using `cargo init`, and then adding the following dependency:
[code]
Produces the following error when `cargo doc` is ran:
[code]
Unfortunately, using `RUST_BACKTRACE=1 cargo doc` doesn't change the error output.

[2019-03-30 09:00] taiki-e opened #59553 "Tuple indexing regression"
https://github.com/rust-lang/rust/pull/59421 breaks some code generated by proc macros because [quote converts integer to a tokenstream with a suffix](https://github.com/dtolnay/quote/blob/0.6.11/src/to_tokens.rs#L114-L145).

Proc macro:

[code]

Calling code:

[code]

Error:

[code]

It can be avoided by using `syn::Index::from` or `proc_macro::Literal::*_unsuffixed`.

I have already fixed my lib

[2019-03-30 09:00] taiki-e commented on #59553
cc @estebank

[2019-03-30 09:16] DevQps commented on #54520
Personally I think that making users aware that a `Pattern` is passed is the right way. `Pattern` is pretty powerful, and once people realize that everything that implements `Pattern` (such as `&str` and `char`) everything will probably become much more clear for them without making it seem like it only works on `&str` and `char`s.

Maybe we can find some middle ground by linking the examples to P

[2019-03-30 09:39] DevQps commented on #54542
I think the ascribed type is also very helpful!

When I try to run this on [the Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2015&gist=6628fdbaa5ab4abf1a5b0ff3f38d8dd8) I get an error however:
[code]

When I try to run this on my own machine with nightly-1.35.0 I get the same error. Am I missing something?

Ultimately I think we should somehow create a good safe abs

[2019-03-30 09:54] DevQps commented on #55115
We could maybe try to make the [size of structs](https://doc.rust-lang.org/core/mem/fn.size_of.html#size-of-structs) a bit more verbose by changing:

`For structs, the size is determined by the following algorithm.`
to
`For structs in C representation, the size is determined by the following algorithm.`

And then adding to the introduction of the sizeof operator a small paragraph stating that the

[2019-03-30 10:00] DevQps commented on #55165
@QuietMisdreavus I don't mind picking this up, unless you want to do this yourself! I do however have some questions!:

- The Rustdoc book you mean is (this one)[https://doc.rust-lang.org/rustdoc/what-is-rustdoc.html] right?
- Do you suggest adding a new section to this book or would you include it in an already existing section?
- What do you believe is not clear / elaborated enough in the short

[2019-03-30 10:04] DevQps commented on #55398
@Undin I can pick this up unless you'd want to do it yourself!

@steveklabnik This will be the first the I am writing docs for errors. I guess the general structure looks a bit like this?:

- Short description of the error
- Example of bad syntax
- Example of good syntax

Or should there be something else I can add?

[2019-03-30 10:09] DevQps commented on #55418
@frewsxcv Are you still interested in writing docs for this?

[2019-03-30 10:14] frewsxcv commented on #55418
@DevQps I still don't feel confident to write them given my current level of understanding with these APIs. But if you want to try, go for it!

[2019-03-30 10:16] eddyb commented on #49298
@vi Note that, IIRC, `Option<(T, !)>` should be zero-sized even if `(T, !)` isn't (unless I'm misremembering).
Anyway, the tricky cases are tricky because they make "in-place optimizations" much harder, and we'd prefer to cater to usecases without making `(T, !)` a ZST.

Note that https://github.com/rust-lang/rust/issues/49298#issuecomment-380615281 is more general than partial initialization, and

[2019-03-30 10:23] Undin commented on #55398
@DevQps Unfortunately, at this moment I don't have enough time to fix it myself so I will be glad if you fix it

[2019-03-30 10:25] GuillaumeGomez commented on #59551
Fixed by #59539.

[2019-03-30 10:26] eddyb commented on #42863
Closing as duplicate of #43408.

@Alfriadox The canonical issue is #43408, and while it's closer to being fixed, @nikomatsakis hasn't really let people attack the problem directly for the past few years, so it's been a waiting game.
(The solution involves "lazy normalization", a slowly approaching rustc typesystem feature)

[2019-03-30 10:26] #42863 closed

[2019-03-30 10:49] carado commented on #59551
Thanks, my bad !

[2019-03-30 10:49] #59551 closed

[2019-03-30 10:58] vi commented on #49298
`println!("{}", std::mem::size_of::<Option<(!,u32)>>());`
`8`.

[2019-03-30 11:18] frewsxcv opened #59554 "Give the Unstable Book a title"
Similar to https://github.com/rust-lang/rfcs/pull/2669, but for the [Unstable Book](https://doc.rust-lang.org/unstable-book/index.html)

Right now, titles look like: `<title>emit_stack_sizes - </title>`

To do this, we might just need to add a `book.toml` file in [this directory](https://github.com/rust-lang/rust/tree/master/src/doc/unstable-book)

[2019-03-30 11:20] estebank commented on #59553
@petrochenkov what do you think, should we accept i32 there? It feels like a bad idea and I feel the right fix is in quote, but for expidiency we could continue accepting this suffix in particular for a couple of releases.

CC @rust-lang/compiler @rust-lang/lang @dtolnay

[2019-03-30 11:22] Centril commented on #59553
I don't think there's any language design that needs this so I'm happy with a C-future-compatibility warning here for a few releases. I agree the right fix is in quote or in dependent crates.

[2019-03-30 12:04] #52965 closed

[2019-03-30 12:04] #59523 closed

[2019-03-30 12:04] #59524 closed

[2019-03-30 12:05] #58383 closed

[2019-03-30 12:13] davidtwco commented on #44109
With #59376 having landed, `#[non_exhaustive]` is now implemented for enum variants.

[2019-03-30 12:18] o01eg commented on #33417
Could `TryFrom` trait have a method to check if argument could be converted without consuming it?
[code]

[2019-03-30 12:26] RalfJung commented on #56254
Also see the tracking issue at https://github.com/rust-lang/rust/issues/59159

[2019-03-30 12:31] RalfJung commented on #54542
The API has changed, the following should work now:

[code]

But that's basically a hack. Better interaction of `MaybeUninit` with `Box`/arrays/slices is definitely on the roadmap, but let's first land the basics.

[2019-03-30 12:33] lcnr opened #59557 "doc tests fail without any information when missing back quotes."
Doc test with missing closing back quotes fail without any explanation.

[code]
`cargo test`:

Expected outcome: error while compiling the tests.

tested versions:

rustc --version --verbose
[code]
[code]

[2019-03-30 12:33] lcnr commented on #59557
https://play.rust-lang.org/?version=stable&mode=release&edition=2015&gist=6b2de799b02ae7255031b96133d2a697

[2019-03-30 12:44] ghost opened #59558 "Missing line information for calls to diverging functions"
Under some circumstances, `rustc` emits debug information with missing line numbers for calls to diverging functions.
[code]
Compiling with `rustc main.rs -g --emit=llvm-ir -Clto` and then inspecting the debug info for `main` in the `.ll` file, the line information is 0:
[code]
If the unreachable call is removed, the line info matches the source file as expected:
[code]
I get the same behavior wit

[2019-03-30 12:45] eddyb commented on #49298
Ah, right, I was thinking of a subtler distinction, nevermind.

[2019-03-30 12:52] eddyb commented on #54542
Isn't it simpler and safer to turn `&mut MaybeUninit<[Vec<u8>; N]>` into `&mut [MaybeUninit<Vec<u8>>; N]` and iterate that normally, instead of iterating with raw pointers?

[2019-03-30 12:52] agnxy commented on #57443
Awesome! Thanks @polybuildr . Sorry I'm busy these days and don't have a chance to work on this task.

[2019-03-30 12:55] Kerollmops commented on #33417
One way to work with non-consuming impossible conversion could be to return the consumed non-convertible value along with the associated error.

[2019-03-30 13:04] shepmaster commented on #54520
Also be aware of [RFC 2005](https://rust-lang.github.io/rfcs/2500-needle.html), which enhances `Pattern`and renames it to `Needle`.

[2019-03-30 13:09] firedom opened #59559 "Please add "Abandon 996" badge in this project to support us."
---------------------------
- Add this [badge](https://github.com/996icu/996.ICU/blob/master/externals/instruction.md) - to your project to support 996.ICU.
- 把这个[徽章](https://github.com/996icu/996.ICU/blob/master/externals/instruction.md)加入你的项目来支持996.ICU
![https://996.icu](https://img.shields.io/badge/link-996.icu-red.svg)
--------------------------------------------
Chinese software engineers are

[2019-03-30 13:09] RalfJung commented on #54542
I am not saying the above is the API we should use.^^

Probably it makes most sense to start with `[MaybeUninit<Vec<u8>>; N]` created by `uninitialized_array![Vec<u8>; N]`. But then we need a good way to go from  that to `[Vec<u8>; N]`. We cannot write that as a generic function yet, unfortunately.

[2019-03-30 13:35] Mark-Simulacrum commented on #59399
I'm going to close this - if progress is made then a PR would be good to discuss the specific changes. Further discussion about the viability of this change would be best suited for internals.

[2019-03-30 13:35] #59399 closed

[2019-03-30 13:42] sunjay commented on #51497
I think I ran into a problem that is related to this during a workshop yesterday.

Here's a minimal reproduction of the problem:

[code]

I'm using a submodule here, but in the workshop this was coming from an external crate and the problem was much less obvious because there were many other items being imported.

The problem was that both the participant and I expected that since we were using a

[2019-03-30 14:09] comicfans opened #59563 "musl arm tun ioctl different type"
hello , I'm trying to build https://github.com/cloudflare/boringtun with target arm-unknown-linux-musleabi , but failed with

<pre>
   --> src/device/tun_linux.rs:125:31
    |
125 |         if unsafe { ioctl(fd, SIOCGIFMTU, &ifr) } < 0 {
    |                               ^^^^^^^^^^ expected i32, found u32

</pre>

but arm-unknown-linux-gnueabi can build successful

[2019-03-30 14:15] jonas-schievink commented on #59542
AFAIK we have very few tests for reproducible builds, so this probably slipped in by accident.

cc @rust-lang/compiler - do we care enough about reproducible builds to consider this a stable-to-stable regression at this point? I know that quite a lot of people want reproducibility in their builds.

[2019-03-30 14:16] jonas-schievink commented on #59563
This is not a bug in Rust, please report it in the right repository. If you need any help, you can also ask in the user forum here: https://users.rust-lang.org/

[2019-03-30 14:16] #59563 closed

[2019-03-30 15:37] eddyb commented on #59542
This looks like a linker thing? Did we do anything wrt using lld or something like that?
cc @alexcrichton

[2019-03-30 15:39] kenta7777 commented on #54395
As the next step, should I rename `EvalErrorKind` to `InterpretErrorKind` or make a list for renames?

[2019-03-30 15:39] eddyb commented on #59542
@jhfrontz Can you post a diff of symbol names and sizes? The assembly will ofc differ a lot, but I expect everything to be the same size, just shuffled around.

[2019-03-30 15:43] eddyb commented on #51497
@petrochenkov Can we try doing this again, or at least having the information propagated to the type-checker?

I don't know why I never thought of this (nor recall seeing this issue), but it seems like a great solution for putting more traits in the prelude (with `as _`) and not worry about introducing ambiguity to users.

cc @rust-lang/libs

[2019-03-30 15:47] eddyb commented on #54395
For errors/results, maybe we can do the `io::{Error, Result}` thing and have `interpret::{Error, Result}`?

[2019-03-30 16:00] jbeich opened #59565 "Nightly fails to build unless git is installed"
Regressed by https://github.com/rust-lang/rust/pull/59303. Source archives don't have `.git` subdirectory, so missing `git` executable shouldn't be fatal.

[code]

http://beefy9.nyi.freebsd.org/data/112amd64-default/497233/logs/errors/rust-nightly-1.35.0.20190330_1.log

[2019-03-30 16:01] Centril commented on #54395
I think that can turn rather ambiguous and contextual in a large codebase like rustc.

[2019-03-30 16:08] cuviper commented on #59509
Wouldn't it be better to just omit debuginfo when it can't be represented?

[2019-03-30 16:08] eddyb commented on #54395
It bothers me how much shorter `Miri` is than `Interpret`.
Maybe `IError` and `IResult`?

[2019-03-30 16:10] Centril commented on #54395
@eddyb `InterpError`?

[2019-03-30 16:14] Mark-Simulacrum commented on #59565
cc @euclio and @cuviper

It might be worth just always rebuilding in source archives -- it seems reasonable to assume most people aren't editing the code in those. Unsure though; perhaps that's not a correct assumption.

[2019-03-30 16:20] eddyb commented on #54542
So, here's a trick...
`&mut MaybeUninit<[T; N]>` should coerce to `&mut MaybeUninit<[T]>` (do we have to solve `union` / custom DST unresolved questions for this?)

Then you don't need const generics to turn it into `&mut [MaybeUninit<T>]`.

Btw, we should just make `[MaybeUninit::uninit(); N]` and even `[vec![]; N]` work in the NLL borrowck, we were waiting for Rust 2018 to ship, but it should be

[2019-03-30 16:20] cuviper commented on #59565
Yes, that was the intention, which you can see in the `else` case after checking `git_output.status.success()`. But I guess missing git entirely fails sooner, in the `Command::output()` call.

[2019-03-30 16:29] cuviper commented on #59565
Perhaps we should be using `GitInfo::new` for this, which has conditions for ignoring git or missing `.git`. That would also return the current *actual* hash in that path, which is probably even better to use than the submodule recorded in rust's `HEAD` (`@:./path`) or index (`:./path`).

[2019-03-30 16:29] eddyb commented on #54395
I have to say that shorter prefixes are ambiguous, and the only other shortenings I can think of involve removing vowels, i.e. `IntrptError`. Nevermind, "interp" only has one non-leading vowel...
So `MiriError` or `InterpError` it is?

[2019-03-30 16:30] eddyb commented on #59509
Maybe, with a warning.

[2019-03-30 16:34] cuviper commented on #59565
Actually, the `Build` already contains `in_tree_llvm_info` and `emscripten_llvm_info`!

[2019-03-30 17:01] euclio commented on #59565
Thanks for the quick fix!

[2019-03-30 17:18] polybuildr commented on #57443
Thanks for confirming, @agnxy! :)

[2019-03-30 17:21] Centril commented on #54395
It is.

[2019-03-30 17:22] #56327 closed

[2019-03-30 17:28] czipperz opened #59567 "Add `close` method to `File`"
Currently, as far as I know, there is no way to close a file and handle errors with closing it.  It would be useful to add a method to `File` that allows us to handle any potential errors instead of them being ignored.

    fn close(self) -> std::io::Result<()>

[2019-03-30 17:30] czipperz commented on #59567
We could even add this method to `Read` and `Write` with a stub body returning `Ok(())`.  Then `File` could override this in both cases to call it's own `close` method.

[2019-03-30 17:43] czipperz commented on #59567
Having three methods with the same declaration and name seems like bad design to me... Suggestions?

[2019-03-30 17:50] czipperz commented on #59567
Perhaps we should have a `TryDrop` trait that everything has a default implementation for?

    pub auto trait TryDrop {
        type E;
        fn try_drop(self) -> std::result::Result<(), E> { Ok(()) }
    }

[2019-03-30 17:51] lzutao commented on #59559
r? @Centril , Your opinion about this? Does this violate Code of Conduct?

[2019-03-30 17:53] Centril commented on #59559
r? @Manishearth Passing this on to you.

[2019-03-30 18:15] Manishearth commented on #59559
I don't think it does, but also I don't think this is something we should be doing.

[2019-03-30 18:15] #59559 closed

[2019-03-30 18:50] gruberb commented on #59554
I created a [PR](https://github.com/rust-lang/rust/pull/59569) for this issue. The title I added is "The Rust Unstable Book".  Or should it just be "The Unstable Book"?

[2019-03-30 18:54] frewsxcv commented on #59554
What you have looks great, thanks!

[2019-03-30 19:08] clarfon commented on #59278
Isn't `into_sorted_vec().into_iter()` sufficient?

[2019-03-30 19:36] petrochenkov commented on #51497
Resolver builds sets of trait in scope for every method location and when it adds a trait into the set it knows how it was introduced - with a glob, or with a single import or definition.
So it certainly can pass it further to type checker for use.

[2019-03-30 19:47] petrochenkov commented on #51497
Note that traits don't shadow each other in the "trait in scope" set, but rather form a union
[code]
so if the priority for method resolution is based on "glob"-ness, then the results could be slightly inconsistent with usual resolution
[code]

[2019-03-30 19:51] wesleywiser opened #59571 "Implement a custom allocator to provide detailed memory usage info during compilation"
Idea from @eddyb:

It would be great if we could measure the memory used by the compiler during compilation in a very fine-grained way. One idea to do this would be to implement a custom allocator which could record statistics for memory allocated and deallocated. This allocator could also be integrated with rustc's arenas so that we could see exactly how much memory is used by each arena at any g

[2019-03-30 19:53] memoryruins commented on #59493
Width and alignment are not implemented on some types. The following uses width in `Custom`'s Display:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3383dbb4cb658d0feb9fde3a594598c6

[2019-03-30 20:01] davidtwco commented on #57385
Re-opening as this was regressed by #58191 (11874a0c14a1637a310f0088a2c91ceb2810f6dd).

[2019-03-30 20:01] davidtwco commented on #59508
Submitted #59572 to address this.

[2019-03-30 20:29] #59493 closed

[2019-03-30 20:34] Lokathor opened #59573 "`core` lacks a stable version of `transmute`"
We obviously have `std::mem::transmute`, but for `core` we only have

* `core::intrinsics::transmute`: unstable / feature gated
* `core::mem::transmute_copy`: which is _actually_ more dangerous than `transmute` because it's missing the "before and after have the same size" check.

So can we get `core::mem::transmute`?

[2019-03-30 20:36] jonas-schievink commented on #59573
It's there, it's just a reexport of the intrinsic: https://doc.rust-lang.org/core/mem/index.html#reexports

[2019-03-30 20:37] jonas-schievink commented on #59573
(which is stable, so I don't know what you're referring to)

[2019-03-30 20:38] Lokathor commented on #59573
Oh, well then the _docs_ are messed up because if you search for `transmute` it doesn't list out `core::mem::transmute` as being available.

[2019-03-30 20:57] Lokathor commented on #59573
On the Discord I was referred to this PR: https://github.com/rust-lang/rust/pull/57848

but that's from back in January, so it's confusing why the search still doesn't work right

https://doc.rust-lang.org/std/index.html?search=transmute

[2019-03-30 21:05] eddyb commented on #51497
I would expect them to shadow eachother when the method name clashes, i.e. completely disregarding the trait name.

[2019-03-30 21:10] eddyb commented on #59571
The allocator doesn't need integration with arenas, but rather self-profiling can refer to either the allocator's (thread-local) counters or to arena counters (which would be even more accurate - basically you can subtract the space not actually used yet in arenas, which could be one counter in tcx, to make profiling faster).

cc @Zoxc @alexcrichton @SimonSapin (I believe there may be similar glob

[2019-03-30 23:03] czipperz commented on #59567
However, this has major problems with recursive dropping.  Like what if two different fields have different `E`s?  I think making a separate trait out of it seems excessive.

Perhaps we should have a `Close` trait:

[code]

Then have `File` implement it.  `BufReader` and `BufWriter` implement it iff the underlying reader/writer support it.

[2019-03-31 01:02] comicfans commented on #59563
OK, so rust didn't provide cross platform for these low level interface , they still depends on the triple libc (even same arch/os)?

[2019-03-31 04:51] #59565 closed

[2019-03-31 04:52] rukai commented on #59308
Issue occurred again, no idea if another error would be useful, but here goes:
[code]

Since filing the issue, https://github.com/rukai/brawl-frame-data-web was renamed to https://github.com/rukai/rukaidata

[2019-03-31 05:19] Stargateur commented on #59567
And what would be the benefice of having such error handling ? Error in closing file are generally logical error like trying to close a file not open (and this should happen in Rust). Also close a file doesn't guarantee that the file has been write too. So, I don't think we need this feature.

But I agree that not be able to handle this error is lame.

[2019-03-31 05:26] eddyb commented on #59571
cc @anp @Mark-Simulacrum

[2019-03-31 05:37] sfackler commented on #59571
jemalloc already tracks quite a bit of information: http://jemalloc.net/jemalloc.3.html

[2019-03-31 06:38] eddyb commented on #59571
Yeah, but we want a single per-thread counter, doing it on the Rust side would be cheaper (to read, especially if bare `#[thread_local]`), and we can make it generic over any `GlobalAllocator` so it still works even if we want to try out the system allocator.

We don't get to track LLVM allocations this way, but that can be seen as a good thing, since we are more likely to be interested in the rus

[2019-03-31 08:36] eddyb opened #59578 "Check that non-overwrite accesses to downcast projections are dominated by variant checks."
Pattern-matching in Rust, e.g.:
[code]
turns into this MIR (slightly cleaned up):
[code]

We already have a dominator tree for MIR, so we can build on top of that and compute the known variants for places (in this case, `Ok` and `Err` for `_1`).

Then we can just check that any read/borrow/etc. access (any access with does not fully overwrite the previous value, really) within a downcast (e.g. `(_

[2019-03-31 13:56] steveklabnik commented on #41123
This has been fixed!
![image](https://user-images.githubusercontent.com/27786/55289965-d5def480-5392-11e9-9fa6-104425f2ebc3.png)

[2019-03-31 13:56] #41123 closed

[2019-03-31 13:56] steveklabnik commented on #42645
Triage: I don't *think* that anything has changed here, but I'm not sure.

[2019-03-31 14:12] dtolnay commented on #59553
I believe quote is behaving correctly so I won't be making any code change associated with this in quote.

[2019-03-31 14:14] Centril commented on #59553
@dtolnay Perhaps a change in documentation pointing out the right way to achieve what the user wants?

[2019-03-31 14:21] dtolnay commented on #59553
Sure, that could be good. I filed https://github.com/dtolnay/quote/issues/101 to follow up. Thanks!

[2019-03-31 15:21] danielhenrymantilla commented on #48649
### Against `Copy`

[code]

---

The above code triggers an `unused_mut` lint

Maybe in 2015 this looked like a dangerous thing to have, but I really feel like nowadays Rustaceans know that `for` loops capture by value (most will even know that it happens because of the implicit `.into_iter()` call).

I mean, if we are to be oblivious to `.into_iter()`, I don't see that much difference between the

[2019-03-31 15:42] jhfrontz commented on #59542
@eddyb asks:

Are you wanting the output of `nm` on the two same-but-different binaries?  Or maybe (since you said *size*) you're wanting the output of `objdump -t` ?  But since you said *shuffled around*, maybe you're wanting ` objdump -h` ?

I'll include the last (`objdump -h`): [diff-h.txt](https://github.com/rust-lang/rust/files/3026784/diff-h.txt)

[2019-03-31 16:08] oli-obk opened #59588 "Cast and Coercion enums duplicate a lot of structure"
The `Adjust` enum in src/librustc/ty/adjustment.rs and the `CastKind` enum in  src/librustc/mir/mod.rs have all fields but one of the `CastKind` enum in common. We should pull them out into a single enum that both use. Additionally this will allow merging some variants of ExprKind in  src/librustc_mir/hair/mod.rs by having a single `Coerce` variant that has a field of the newly created enum.

[2019-03-31 17:04] Centril opened #59589 "testing rfcbot, ignore me"

[2019-03-31 17:04] Centril commented on #59589
cc @pietroalbini

@rfcbot merge

[2019-03-31 17:05] pietroalbini commented on #59589
:tada:

[2019-03-31 17:05] #59589 closed

[2019-03-31 17:19] #59508 closed

[2019-03-31 17:19] #57716 closed

[2019-03-31 17:48] lzutao commented on #59233
Before we close this issue. Could we talk a bit about [closing issues using keyword](https://help.github.com/en/articles/closing-issues-using-keywords)?

I think we should encourage contributors close issues by keywords in PR descriptions only.
Because otherwise the commit could be rebased many times, and each time it creates a reference to
the want-to-close issue. Also in the referenced issue, th

[2019-03-31 19:10] shepmaster commented on #56417
Is this progress being tracked somewhere else?

[2019-03-31 19:37] petrochenkov commented on #56417
@shepmaster

I don't think so.

The issue is that built-in macros use `CrateNum::BuiltinMacros` in its `DefId` and it cannot leave resolve without causing a bunch of ICEs (it's a hack in general).
They should probably use `LOCAL_CRATE` instead and `CrateNum::BuiltinMacros` should be removed.

[2019-03-31 20:27] #10178 closed

[2019-03-31 20:27] #59097 closed

[2019-03-31 20:27] #57883 closed

[2019-03-31 20:28] #43570 closed

[2019-03-31 21:14] tbu- commented on #59567
This is not true. According to the close man page, close can give you an error if the IO didn't finish successfully.

Yet the operating system can give us an error and we choose to ignore it.

[2019-03-31 21:26] tbu- commented on #59567
See also:

https://github.com/rust-lang/rust/issues/24413 (reverse-duplicate of this bug)
https://github.com/rust-lang/rust/issues/32255 (same)
https://github.com/rust-lang/rust/issues/42619 (bug to document this issue)

https://github.com/rust-lang/rfcs/pull/770 (closed RFC about this topic)
https://github.com/rust-lang/rust/pull/22849 (PR implementing this and an unnecessary panic in the destruc

[2019-03-31 23:51] #58881 closed

[2019-04-01 01:48] mark-i-m opened #59597 "Tracking Issue: Add rustc-guide to toolstate"
(According to the plan in https://github.com/rust-lang-nursery/rust-toolstate/issues/5)

cc @nikomatsakis @kennytm @Michael-F-Bryan

@kennytm Could you tag this with Help-Wanted?

# Instructions

**Background**: We have a cool tool called `toolstate` which posts a message on PRs that break dependent crates (e.g. `clippy`). For example, it might generate a post [like this](https://github.com/rust-l

[2019-04-01 04:42] stuhood commented on #53690
So, while it seems that this is working as intended (or at least "as it must"), the error message leaves much to be desired. Would be great to lift whatever friendly message is (I'd assume?) on infinitely sized structs over here.

[2019-04-01 05:45] Stargateur commented on #59567
@tbu- could != must

https://linux.die.net/man/2/close

[2019-04-01 07:02] tbu- commented on #59567
Yes.

IMO, this doesn't mean we should throw away the error the operating system gives us.

[2019-04-01 07:55] scottmcm commented on #59278
@clarfon No, because getting the largest `k` items from that is `O(n lg n + k)`, whereas with `into_ordered_iter()` it would be `O(k lg n)`.

[2019-04-01 10:20] kenta7777 commented on #54395
Could I rename `EvalErrorKind` to `InterpError`?
similary, `EvalResult` to `InterpResult`, `EvalSnapshot` to `InterpSnapshot`?

[2019-04-01 10:24] jhfrontz commented on #59542
@eddyb I got approval to include the full `objdump -t` output:
[objdump-t-1.txt.gz](https://github.com/rust-lang/rust/files/3028845/objdump-t-1.txt.gz)
[objdump-t-2.txt.gz](https://github.com/rust-lang/rust/files/3028846/objdump-t-2.txt.gz)

.

[2019-04-01 10:58] alexcrichton commented on #58647
Closing in accordance with the same action as https://github.com/rust-lang/rust/pull/58753, and the PR has some more information as to why.

[2019-04-01 10:58] #58647 closed

[2019-04-01 11:03] alexcrichton commented on #59542
This is most frequently an accidental regression in LLVM, although we've had bugs slip in with rustc as well! No major change to linker behavior in 1.32 -> 1.33.

@jhfrontz the best way to get this fixed is if a test case can be reduced to isolate the issue. Would it be possible to minimize this to extract a small piece of code which exhibits the reproducibility issue?

[2019-04-01 11:26] estebank commented on #59553
After an in person conversations with other members of the team, I feel that the right course if action is to wait until the beta crater run and depending on the extent of the in the wild breakage, backporting a beta only change that makes this a warning instead of a hard error for one release. Although it is bad that it was allowed for a while in stable, the new behavior is indeed the right behav

[2019-04-01 13:05] antekone commented on #56736
Just FYI, ESET has fixed the issue in version `4.5.14.0`. So if anyone uses older product version and suffers from this hang, please try updating to `4.5.14.0` or later.

[2019-04-01 13:41] Centril commented on #59489
@rfcbot merge

[2019-04-01 13:46] norru opened #59604 "Unable to link mingw64 + rust nightly undefined reference to `__imp___acrt_iob_func'"
I am trying to compile https://github.com/vulkano-rs/vulkano on `nightly`.

OS: Windows 10 + mingw64, `pacman -Syu` to latest mingw64 from MSYS2
Toolchain: `nightly-x86_64-pc-windows-gnu`
rustc `1.35.0-nightly (bc44841ad 2019-03-14)`

[code]

Building on `stable` succeeds but I need `nightly` for development.

[2019-04-01 13:47] steveklabnik commented on #59567
As @dtolnay says in https://github.com/rust-lang/rust/issues/32255#issuecomment-345319540, this change would require an RFC. Please pursue this over at https://github.com/rust-lang/rfcs. Thanks!

[2019-04-01 13:47] #59567 closed

[2019-04-01 13:55] estebank commented on #59489
@rfcbot reviewed

[2019-04-01 13:56] pietroalbini commented on #59489
What should happen when the PR author approves the PR themselves (like when users are delegated and forget to `r=reviewer`, doing `r+` instead)? I think we should skip reassigning if the person that'd be reassigned is the PR author.

Also, sometimes we do `r=reviewer1,reviewer2`, do we want to assign both in that case?

[2019-04-01 13:57] kennytm commented on #59489
Would the original reviewer be unassigned?

If we do `@bors delegate=«user»` would it assign the PR to «user» too?

[2019-04-01 13:59] Centril commented on #59489
Sure; seems fine... that's an implementation detail imo ;)

Seems reasonable -- otherwise pick the first?

Seems like @pietroalbini's note... so we'd skip in that case?

[2019-04-01 14:02] jonas-schievink commented on #59604
The Vulkano readme states:

so this looks like a user error to me, even if it did happen to work in the past?

[2019-04-01 14:03] norru commented on #59604
Ah right, I missed that bit. Thanks.

[2019-04-01 14:03] #59604 closed

[2019-04-01 14:26] kellerkindt commented on #44874
Did anyone consider ```f(self: Weak<Self>)```?
In my point of view this seems reasonable since ```Arc```and ```Rc``` are already allowed.

[2019-04-01 14:35] nagisa commented on #59558
Off top of my head the probable reason is that the line info is gathered from the "return slot" which would, obviously, be absent for diverging calls.

[2019-04-01 14:47] pnkfelix commented on #11084
Update: @michaelwoerister has informed me that the default for LTO when you do not specify anything is *not* necessarily LTO off. (which, given the numbers above, makes sense, since there is probably *something* going on that is making the baseline and scan-based implementations competitive when codegen-units=16 when nothing is stated about LTO).
 * In particular, if you do not specify `-C lto` _a

[2019-04-01 14:50] mark-i-m commented on #44874
That seems unsafe since the self pointer could then be dropped while yhe method is executing, leaving `self` to dangle.

[2019-04-01 15:02] kellerkindt commented on #44874
Hmm? Am I missing something? (probably)
Isn't it just an ergonomic 'shortcut', being able to write ```f(self: Weak<Self>)``` instead of i.e. ```f(me: Weak<Self>)```?
Thus it is still required to call ```self.upgrade()``` to access ```Self``` which isn't unsafe.

[2019-04-01 15:05] estebank commented on #57385
Why wasn't that regression caught by our tests?

[2019-04-01 15:07] davidtwco commented on #57385
The test was also changed.

[2019-04-01 15:14] pnkfelix commented on #11084
Okay I am satisfied with the results of my investigation.

So I'm immediately going to mark this as P-low for now.

----

But furthermore, I do not think there is much else that is actionable on this specific issue.

I have posted a PR that demonstrates the change to `impl FromIterator` that motivated the original issue here, as well as benchmarks for it. That's in PR #59605.

And I do wonder whet

[2019-04-01 15:15] pnkfelix commented on #11084
Its possible that we *might* be able to do something about this phenomenon. It might be low-hanging fruit for optimization, maybe.

[2019-04-01 15:18] pnkfelix commented on #58633
My hope is that once PR #59525 gets into the beta-channel, then we should not see this particular problem arise.

I *would* like to know if anyone is seeing other warnings that are not covered by the cases I handled in PR#59525.

[2019-04-01 15:22] FrankSD commented on #57128
Sorry  guys i have been  so busy with my  current  work.Can  someone please  take this on?I have  given it a short several times  but i keep  getting lots of errors on my  branch.I would like  to see when someone  fixes  this issue.Thanks  for your  understanding

[2019-04-01 15:29] FrankSD commented on #56132
Anyone  still  working on this?

[2019-04-01 15:30] FrankSD commented on #53631
Anyone is  working on this?

[2019-04-01 15:39] varkor commented on #56132
@estebank: you need to resolve your previous concern, for FCP to begin.

[2019-04-01 15:48] wesleywiser commented on #53631
Hi @FrankSD! The self-profile feature has a fair bit of churn going on right now. Before you decide to work on this, I'd recommend stopping by the [`t-compiler/wg-self-profile` channel on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187831-t-compiler.2Fwg-self-profile).

[2019-04-01 15:56] mikeyhew commented on #44874
`Weak<Self>` is in the same boat as `*const/mut Self` and `NonNull<Self>`: it's safe to call a method with it, but it doesn't implement `Deref`. Right now the unstable`arbitrary_self_types` feature only supports receiver types that implement `Deref`, plus `*const/mut Self` as a special case.

[2019-04-01 16:02] shepmaster commented on #59489
We cannot assign to users that are not members of the repo, correct?

[2019-04-01 16:07] pietroalbini commented on #59489
Nope, to be able to be assigned an user needs at least to have explicit read access to the repo.

[2019-04-01 16:09] kenta7777 commented on #54395
This is a list for renames.
- [ ] `EvalErrorKind` to `InterpError`
- [ ] `EvalResult` to `InterpResult`
- [ ] `EvalSnapshot` to `InterpSnapshot`

[2019-04-01 16:21] petrochenkov commented on #59489
We should probably conservatively do nothing on `@bors r=anything`, `anything` not being already assigned is not a common situation.

[2019-04-01 16:34] petrochenkov commented on #59489
@Centril
Meta: I don't think you'll ever get a complete FCP from [*this*](https://github.com/rust-lang/rust/issues/59489#issuecomment-478584055) many people.
(2/3 or 60% are used as a consensus sometimes.)

[2019-04-01 16:35] Centril commented on #59489
@petrochenkov hehe; maybe not... let's see ;) there have been similar situations that have worked.

As for `r=foo`, I think it would be fine to do nothing; I mostly care about `r+`.

[2019-04-01 16:42] petrochenkov commented on #59489
@Centril
There were also situations when [similar changes](https://github.com/rust-lang/rust-central-station/pull/34) were made with much less process overhead.

[2019-04-01 16:43] kennytm commented on #59489
Last time in #56951 the list has 26 people. For this there are 42 people. Let's see :)

----

IIRC `r+` and `r=foo` share the same code path. Additionally, due to `delegate=«user»`, the `«user»` sending `r+` will have the same issue anyway. But assigning to a user outside the org is no-op anyway, I don't see a big problem as long as the original assignee is kept intact.

[2019-04-01 16:46] Riateche opened #59608 "Types from current crate and dependencies are indistinguishable in error messages"
Example:
[code]
Compiler output (when `log` is added as a dependency):
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c10b19ea54107550df8d909b53fe59c9)

As you can see, it's completely impossible to understand which types the error message is referring to. In real-world scenarios the mismatched type can be a part of a more complex type, so it's very har

[2019-04-01 17:10] tmbrlkV opened #59609 "ICE: 'rustc' panicked at 'Box<Any>', src/librustc_errors/lib.rs:588:9"
Hello

Try to run this code:
[code]
And get this ICE:
[code]

Seems the problem is here:
[code]

## Meta
[code]

Thanks

[2019-04-01 17:10] kellerkindt commented on #44874
Thank you for the clarification!

Any chance ```Weak<Self>``` could be added to the additional special cases? (caution rust-compiler-newbie speaking) Looking at the current state, it seems that one would need to handle another speicialised case in [receiver_is_valid](https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/wfcheck.rs#L829) or more precisely in [Autoderef](https://gi

[2019-04-01 17:11] alex opened #59610 "Mark Result::is_ok as #[must_use]"
I just ran into a project where `Result::is_ok` was accidentally being called without using the result -- I believe it had been confused with an assertion method like `expect()`. Had `is_ok` been marked `#[must_use]` this mistake would have been prevented.

[2019-04-01 18:08] KrishnaSannasi commented on #59609
Could you please add ICE to the name, this way the maintainers can mark it correctly.

[2019-04-01 18:19] jonas-schievink commented on #59609
Duplicate of https://github.com/rust-lang/rust/issues/58840, closing in favor of that

[2019-04-01 18:19] #59609 closed

[2019-04-01 18:20] jonas-schievink commented on #59344
Duplicate of https://github.com/rust-lang/rust/issues/58840

[2019-04-01 18:21] brson opened #59611 "Weird error message for non-const const fns"
[code]

[code]

The name `min_const_fn` seems meaningless to an end user. It should say something like "only call `const` functions within `const` functions."

[2019-04-01 18:49] jethrogb opened #59614 "Synchronization primitives in `std` are not robust against unwinding"
Various synchronization primitives in `std` are not robust against unwinding triggered inside the `std` implementation. This may result in

* double panics
* deadlocks
* Mutexes being poisoned that shouldn't be

Such unwinding may be triggered in many different ways, for example:

* pthread_cancel on certain pthread implementations
* assertion/unwrap failure due to a variety of causes:
  * The ker

[2019-04-01 19:51] LooMaclin commented on #57128
@FrankSD np, don't worry about this, i take it

[2019-04-01 20:03] havelund commented on #27800
Sure, but still: being able to select which channel to read from seems to be a fundamental feature that should follow a message passing paradigm based on channels. I tried using mutexes and that was a disaster since they are not reentrant.

[2019-04-01 20:05] shepmaster commented on #59610
Duplicate of #48926

[2019-04-01 20:05] #59610 closed

[2019-04-01 20:07] nipzu opened #59616 "linker error on wasm32-unknown-wasi"
The latest nightly compiler gives an error when trying to compile the following program. This happens on both linux and windows.
[code]
[code]

[2019-04-01 20:30] varkor commented on #59610
@alex: feel free to open a pull request adding `#[must_use]` to `is_ok`.

[2019-04-01 20:33] DutchGhost opened #59618 "Tracking issue for HashMap::extract_if and HashSet::extract_if"
The feature gate for the issue is `#![feature(hash_extract_if)]` (previously `hash_drain_filter`)

Currently only Vec and LinkedList have a drain_filter method, while other collections such as HashMap and HashSet do not.

This means that currently, removing items from a collection, and getting ownership of those items is fairly...unidiomatic and cumbersome.

For references, see https://github.com/

[2019-04-01 20:51] DevQps commented on #55398
@Undin I will try my best this week! Hopefully I'll be able to create a PR on Wednesday. I'll tag you once it's done :)

[2019-04-01 20:52] DevQps commented on #54520
@shepmaster Thanks for the advice, do you think it would be wise to wait with writing any documentation as that might soon be replaced with the Needle API? Or do you suspect that that will still take a while?

[2019-04-01 20:54] DevQps commented on #55418
@frewsxcv I will give it a try! I am sure others will correct me if I write some things that are wrong :) I hope I'll be able to deliver a PR somewhere this week.

[2019-04-01 20:57] DevQps commented on #59549
@Reconcyl Would you like to rephrase this yourself, or would you like me to take an attempt?

[2019-04-01 21:17] BurntSushi commented on #27800
@havelund As linked above, use a library: https://crates.io/crates/crossbeam-channel

[2019-04-01 21:20] havelund commented on #27800
Yes thanks. I found it. It seems to work fine.

[2019-04-01 21:30] Riateche opened #59620 "False positive "variable does not need to be mutable" with two closures"
Code:
[code]
Output:
[code]
Removing `mut` breaks the code.

[2019-04-01 21:55] #48467 closed

[2019-04-01 21:55] #56766 closed

[2019-04-01 21:56] #56286 closed

[2019-04-01 23:25] brson commented on #47317
https://github.com/rust-lang/rust/issues/47660 indicates a check box next to this task, but it is still open and doesn't indicate progress. Is this done?

[2019-04-01 23:49] samuela commented on #59224
For any future googlers who may stumble on this,

[code]

in `my-project/.cargo/config` does the trick!

[2019-04-02 00:19] mikeyhew commented on #44874
Yeah, I think using a separate trait from `Deref` as @arielb1 suggested would be a good idea. There is a running list of types that would benefit from being method receivers, but can't implement `Deref`:

- `*const/mut Self`
- `Weak<Self>` (both `Rc` and `Arc` versions)
- `NonNull<Self>`
- `RefCell<Self>`, and by composition, `Rc<RefCell<Self>>`
- similarly, `Mutex<Self>`
- `Option<Self>` and `Res

[2019-04-02 00:55] shepmaster commented on #59610
@varkor doesn't that rather ignore the intent of the linked issue where the libs team is attempting to decide by what rationale functions should and should not have the annotation? Arbitrarily picking functions seems like a poor avenue to go down. For example, why not also `is_err`? What makes those two methods special compared to `Result::ok`? etc.

[2019-04-02 03:47] LooMaclin commented on #57128
@RalfJung
1) `&'static str` dosn't implementing `Decodable` (parent enum marked as RustcDecodable)
2) so, i created enum wich represents all messages and implement `Display`
3) i found use of `InboundsCheck` in logic and it confused me:  https://github.com/rust-lang/rust/blob/master/src/librustc_mir/interpret/memory.rs#L442-L450

[2019-04-02 03:57] U007D commented on #50264
@joshtriplett PR submitted with name change and *_mut impls + sanity-check tests.

[2019-04-02 04:48] nnethercote commented on #52708
One disadvantage of this change: the size of `Place` increases from 16 bytes to 24 bytes (on 64-bit platforms). This also increases the minimum size of `mir::Statement` by 8 bytes, and that's a type that contributes to peak memory usage, via `BasicBlockData::statements`.

[2019-04-02 06:07] hellow554 commented on #59618
Related https://github.com/rust-lang/rust/issues/42849

[2019-04-02 06:47] Neopallium opened #59629 "Thread locals keep Rust shared library from unloading `dlclose`."
OS: Ubuntu 18.04
Doesn't seem to happen on Windows, untested on MacOS.

I created [`cr-sys`](https://github.com/Neopallium/cr-sys) crate to wrap [cr.h: A Simple C Hot Reload Header-only Library](https://github.com/fungos/cr).

It works, except that each version of the plugin isn't unloaded correctly, if the plugin uses TLS destructors registered with `__cxa_thread_atexit_impl`.

C++ plugins can be

[2019-04-02 07:07] scottmcm commented on #55300
A thought: since we have `sort` and `sort_unstable`, should the method that got implemented be `partition_unstable` instead?  It would be reasonable to have a stable version as well -- for example, it's what's needed for Sean Parent's example at https://youtu.be/W2tWOdzgXHA?t=796

[2019-04-02 08:20] michaelwoerister commented on #47317
This has been implemented in https://github.com/rust-lang/rust/pull/48779 and is enabled by default for optimization levels <= 2:
https://github.com/rust-lang/rust/blob/f694222887cf31f51e68927716c25736e62f037f/src/librustc/session/config.rs#L650-L664

https://github.com/rust-lang/rust/pull/50861 tested enabling it for optimized builds showed mixed results:
https://perf.rust-lang.org/compare.html?s

[2019-04-02 08:20] #47317 closed

[2019-04-02 08:37] varkor commented on #59610
In the past, pull requests for individual methods have been accepted (e.g. https://github.com/rust-lang/rust/pull/50177, https://github.com/rust-lang/rust/pull/58145, https://github.com/rust-lang/rust/pull/49533). The purpose of the tracking issue seems to me to decide on an overarching set of rules for `#[must_use]`, but it seems clear that if a method is effectless and can be confused with an ef

[2019-04-02 08:45] alexxroche commented on #33465
I tried cross compile today with `rustc 1.33.0 (2aa4c46cf 2019-02-28)` and `cargo 1.33.0 (f099fe94b 2019-02-12)` on debian 9.  After `rustup target add x86_64-pc-windows-gnu ; sudo apt-get install -y mingw-w64
` the error that I got lead me straight here. [Jorge Aparicio's rust-cross](https://github.com/japaric/rust-cross) had the clue that solved it for me:
[code]
Then `cargo build --release --ta

[2019-04-02 09:09] oli-obk opened #59631 "Recursive static with impl Trait errors out early"
The following code should probably work. (cc @aaron1011)

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b5e18d6baf7b5ce04871e7db19462c20))

Errors:

[code]

[2019-04-02 09:25] chernomor commented on #55614
Tunable backlog available in https://crates.io/crates/net2

[2019-04-02 10:05] andos561 commented on #45403
I'm getting this same error:
**error: failed to run custom build command for `style v0.0.1**
when I build Firefox at head revision (FF 67xxx) with the following setup
MacOSX version 10.14.4
rustc/cargo version 1.33.0
Xcode 10.2

I tried downgrading rustc (1.30, 1.28) and also tried building FF versions 66, 65 with the same results.
Can anyone else reproduce?

[2019-04-02 12:47] shepmaster commented on #59610
It's probably worth attempting to say something to that effect on the tracking issue.

I do agree that it's a shame that it's moving so slow; you can even see some comments from me with  issues I've seen in the wild.

[2019-04-02 13:25] ckaran commented on #59278
@clarfon In addition to what @scottmcm said, `into_sorted_vec().into_iter()` takes up space proportional to the number of items in the heap because you have to create the `Vec` first.  That means that you've roughly doubled the amount of memory you need, which could be a concern either when you are on more limited systems, or when you're dealing with very large amounts of data.

[2019-04-02 13:32] spacejam commented on #59616
Getting a similar compilation error on wasm32-unknown-wasi

[code]

[2019-04-02 13:52] alex opened #59633 "ASAN does not complain on use-after-free example"
This is clearly some buggy `unsafe` code, which has a UAF vulnerability, however ASAN does not complain!

[code]

It's possible this is an LLVM bug, but I figured I'd start here.

[2019-04-02 13:57] alex commented on #59633
FWIW miri does correctly capture that this is a use of a dangling pointer.

[2019-04-02 13:57] DevQps commented on #56471
@FrankSD You're still up for solving this? Or would you like to give me a try?

I wonder if there's any difference between overflowing on i8 types vs other larger types (i16, i32, etc). Otherwise it should be documented on those pages as well.

[2019-04-02 14:15] DevQps commented on #32626
@bearcage I see that you mentioned this issue in your PR! You're still interested in picking this up?

[2019-04-02 14:21] alexcrichton commented on #58465
For the rustc side of things I believe there's two primary work items to implement:

* [ ] The compiler should be able to produce an rlib when the dependencies are only available as rmeta files. Currently when producing an rlib I believe the compiler requires all dependencies to be an rlib, but all dependencies only need to be an rlib if we're producing a final linkable artifact. When an rlib is p

[2019-04-02 14:34] DevQps commented on #24795
@steveklabnik Personally I think we should probably cease to try and document the exact system calls made by each of these functions? I see the following pro's and con's:

**Pro's**:
- Users can make performance considerations with knowledge on how the types are implemented under  the hood.

**Con's:**
- It is a lot of work to document all these IO API's.
- The implementation of these types might

[2019-04-02 14:49] ehuss commented on #58465
I'm able to get around this with `-Z always-encode-mir` (it seems to successfully create the rlib from rmeta deps), but when linking the final output with these rlibs, I get `crate `foo` required to be available in rlib format, but was not found in this form`.  Is there a way to tell rustc how to pick up the rlibs for transitive deps?  Or is that embedded in the rlib with no way to override?

[2019-04-02 15:00] DevQps commented on #34601
@GuillaumeGomez @steveklabnik I guess this issue is kind of resolved? I checked the Rust docs [here](https://doc.rust-lang.org/std/keyword.let.html) and I see that you can already search for keywords (`let`, `struct` and `enum` have documentation for example).

I guess that means we can close this issue now? I did however found out that there are quite some keywords that do now have documentation

[2019-04-02 15:06] DevQps commented on #39640
@steveklabnik I can pick this up if you want? It's mainly adding references at the right places to the sources mentioned above right? Or are there other things that should be added?

[2019-04-02 15:20] DevQps commented on #40108
I guess we can close this issue now since !59334 got merged right? (@ewk Thanks for your work!)

[2019-04-02 15:29] DevQps commented on #40230
@alexcrichton So if I understand correctly what needs to be done is documenting these two points right?:
- Document that std::intrinsics::abort uses a processor-specific approach.
- Document that std::process::abort uses a platform-specific approach.

Or do you believe that this distinction should not be documented in the docs? Otherwise we should probably close this issue.

[2019-04-02 15:45] alexcrichton commented on #59616
Thanks for the report! I'm working to fix this in https://github.com/rust-lang-nursery/compiler-builtins/pull/277

[2019-04-02 15:48] alexcrichton commented on #58465
I think that `-Z always-encode-mir` being required is a bug and I suspect that the other error message is likely indicative of the same bug. While it may be possible to work around, I think we'll definitely want to change rustc and how it loads dependencies to fully fix this. I think today it's basically not possible to emulate the behavior we want

[2019-04-02 15:58] cuviper commented on #58794
What's the status on this? We reverted the abort in #58795 for the stable branch, but AFAICS it's still there on beta and master. If the decision is still pending, we should also revert on beta so it doesn't land in 1.34 next week!

[2019-04-02 16:16] #59616 closed

[2019-04-02 16:18] #54974 closed

[2019-04-02 16:18] #55324 closed

[2019-04-02 16:18] #58885 closed

[2019-04-02 16:18] #59001 closed

[2019-04-02 16:18] ollie27 commented on #34601
There actually already is a tracking issue for this: #51451. I don't know why both of these issues are open.

FWIW I still don't think adding these docs to the `std` docs was a good idea but I guess that ship has already sailed. Maybe we can turn them into a separate keyword book at some point instead though.

[2019-04-02 16:39] gnzlbg commented on #58794
I think we should revert the revert.

Rust programs have UB without the PR, we want to exploit that UB to improve the performance of Rust panics in the near future (e.g. https://github.com/CraneStation/cranelift/issues/553), and the PR makes those programs not have UB but `abort` instead, which is IMO a big improvement.

The revert was intended to buy us more time to explore some solutions and we

[2019-04-02 16:43] cuviper commented on #58794
The revert was only on stable, so if we do *nothing* right now, the unwind-abort will be in 1.34. Maybe that's fine, but it doesn't seem like there's consensus per rfcbot https://github.com/rust-lang/rust/issues/58794#issuecomment-471281244.

[2019-04-02 17:03] cramertj commented on #54716
(nominating for discussion in T-lang to resolve the desired behavior)

[2019-04-02 17:05] cramertj commented on #54716
Summary of the current issues by @davidtwco can be found [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187312-t-compiler.2Fwg-async-await/topic/.2354716.20drop.20order/near/160792119).

[2019-04-02 17:17] pietroalbini commented on #58160
That was a *spurious* spurious failure, AppVeyor said it shouldn't happen again. We also added some debug code to better investigate it if it happens again.

[2019-04-02 17:17] #58160 closed

[2019-04-02 17:30] cramertj commented on #59123
cc @tmandry

[2019-04-02 17:50] DevQps commented on #34601
@ollie27 Ahh I guess we can close this one now then. I do think we at least make it more clear somehow that you can also search for keywords there. I mean currently it feels like you can only search for stdlib documentation there, but not for actual keywords.

[2019-04-02 17:53] DevQps commented on #51451
Just as an update, some keywords have been fixed:
- const
- if
- enum
- extern
- true/false (are referred to the primitive type boolean)
- as
- crate

[2019-04-02 18:02] alexcrichton opened #59637 "Re-enable LLVM and debug assertions for slow builders"
Assertions are currently disabled on a number of builders:

 * test-various - debug asserts, intentional - needed to properly test code size of some tests
 * dist-x86_64-apple - llvm, debug
 * dist-x86_64-apple-alt - llvm, debug
 * x86_64-apple - llvm, debug
 * dist-aarch64-apple - llvm, debug

[2019-04-02 18:10] AGausmann commented on #58465
My first instinct would be to make rmeta generation a subcommand of the compiler, with the signal being the termination of the process. After that, the compiler can be re-invoked to create the rlib. The feasibility of that would depend on how much compiler state gets stored to disk during rmeta creation, and how much would get lost on exit that would have to be recreated on the second run, which I

[2019-04-02 18:43] alex commented on #54365
MSAN always requires you to have all code (including libstd, and libc) compiled with MSAN. If all you're doing is compiling your code with it, you'll get tons of false positives. Unless there's more going on here, I think this can be closed.

[2019-04-02 18:44] ErichDonGubler commented on #25003
This is also fixed by the `$crate` prefix, right?

[2019-04-02 18:54] steveklabnik commented on #51451
Closing as a duplicate of https://github.com/rust-lang/rust/issues/34601, it's older.

[2019-04-02 18:54] #51451 closed

[2019-04-02 18:54] steveklabnik commented on #34601
I am also not really a fan but people seemed to like it.

[2019-04-02 18:55] steveklabnik commented on #39640
That'd be great! yeah, basically, we need to re-write those docs to explain the concept directly. PRs for the other sources would be nice too :)

[2019-04-02 18:55] steveklabnik commented on #40108
Yep, thanks!

[2019-04-02 18:55] #40108 closed

[2019-04-02 18:57] steveklabnik commented on #24795
I agree with your assessment, basically. This issue was opened a long time ago, but it doesn't seem like there's been that much demand for this.

Maybe @rust-lang/libs can chime in if this is something that they still want, and is worth spending our time on?

[2019-04-02 19:00] sfackler commented on #24795
I agree that there's not a ton of value here.

[2019-04-02 19:10] pmccarter commented on #59620
I'd like to look into this diagnostic if not a quick fix from someone else

[2019-04-02 19:12] joshtriplett commented on #58794
I agree that we should propagate this to stable to avoid a stable regression, yes. This should never have been broken in the first place without discussion *before* changing the behavior. *This worked in prior stable versions*, and that it happens to not be well defined doesn't change that it worked in many cases and people were able to successfully use it in those cases.

I'd be all for seeing RF

[2019-04-02 19:29] cuviper commented on #58794
I opened #59640 on beta to preserve the current stable behavior.

[2019-04-02 19:32] #56485 closed

[2019-04-02 19:32] #58463 closed

[2019-04-02 19:32] #57738 closed

[2019-04-02 20:11] RalfJung commented on #57128
(I'm traveling, will come back to you next weekend.)

[2019-04-02 20:40] alexcrichton commented on #59616
And the Rust update is in https://github.com/rust-lang/rust/pull/59643, so this won't actually be fixed until that's merged

[2019-04-02 20:52] gnzlbg commented on #58794
It is not that the behavior "wasn't well defined" - the behavior is _undefined_ **by design**. The main reason being that we can change the implementation to alert users that they are invoking undefined behavior, as well as to enable optimizations in FFI code as well as Rust panics.

There is already a straightforward solution to this.

LLVM is allowed to optimize all this code under the assumptio

[2019-04-02 21:14] nnethercote commented on #58465
The produce-an-rlib-from-rmeta-inputs part needs to be done first and sounds like the larger piece of work. I would like to work on that.

https://github.com/rust-lang/cargo/issues/6660 has some discussion of the cargo/rustc interaction, pros and cons of different approaches.

[2019-04-02 21:21] spastorino commented on #52708
@nnethercote the change is not going to be done in the way stated in this issue.

The idea is to do something like ...

[code]

[2019-04-02 21:22] spastorino commented on #52708
@nnethercote the change is not going to be done in the way stated in this issue.

The idea is to do something like ...

[code]

[2019-04-02 21:33] davidbarsky commented on #41517
Since https://github.com/rust-lang/rust/pull/59166 landed, is it possible to mark the second item #56485 as complete and begin the documentation/stabilization process?

[2019-04-02 21:34] vbarrielle opened #59645 "Dubious borrowck warning in 2018 edition"
When converting my project to the 2018 edition, I've had a borrowck warning [on an innocent looking line](https://github.com/vbarrielle/sprs/blob/908e0f0a13309fdc15d122e21cf8f7b07245ab2b/src/sparse/triplet_iter.rs#L122).

I've reproduced the issue with a minimal example:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=83e78452454f75ddd4205cc8fb3eafa3)

[2019-04-02 21:36] glaubitz commented on #57037
I'm seeing this now for 1.33.0 on powerpc-unknown-linux-gnu but not 1.32.0, so it seems this particular regression got backported 1.31.1.

Debian 1.32.0 builds fine: https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=powerpc&ver=1.32.0%2Bdfsg1-3&stamp=1552901706&raw=0

openSUSE 1.33.0 fails: https://build.opensuse.org/package/live_build_log/home:Andreas_Schwab:Factory/rust/p/ppc

So, this n

[2019-04-02 21:39] spastorino commented on #57431
hey @saleemjaffer how are you going with this?. Sorry for the absense but I was running Rust Latam and I had zero time. Let me know your progress, feel free to create a Zulip thread and start talking about this.

[2019-04-02 21:42] alexreg commented on #41517
@davidbarsky I don't think it's going to get stabilised quite yet... there are some outstanding questions about whether we want to generalise this system (mainly by other individuals).

[2019-04-02 21:45] glaubitz commented on #56753
FWIW, there is a simple way to perform 64-bit atomics on 32-bit PowerPC using the FPU, it's being used in OpenJDK: http://hg.openjdk.java.net/jdk/jdk/file/cbde3b803d93/src/hotspot/os_cpu/linux_zero/os_linux_zero.hpp#l39 (with separate code for powerpc and powerpcspe).

No idea how one would implement this kind of inline assembly in Rust though ;).

[2019-04-02 21:48] nnethercote commented on #52708
That sounds even worse, in terms of size :(

IIUC `Place` would be at least 32 bytes in that case -- `PlaceBase` is 16 bytes, and `PlaceProjection` would be at least 16 bytes.

[2019-04-02 21:51] nnethercote commented on #52708
BTW, you can measure the size of types within rustc quite easily. See the "extra-special trick" [here](https://blog.mozilla.org/nnethercote/2018/11/09/how-to-get-the-size-of-rust-types-with-zprint-type-sizes/) for instructions.

[2019-04-02 21:53] davidbarsky commented on #41517
@alexreg Understood—when you say “we want to generalize this system” are you referring to the above discussion on higher-rank type bounds or something else?

(Apologies if I'm having you restate things that were clearly state earlier—I'm just entering this discussion for the first time and I didn't see anything in the above conversation about generalization beyond the HRTB-related discussion.)

[2019-04-02 22:10] varkor commented on #41517
@davidbarsky: I'm not sure whereabouts this is recorded, but there has been some concern about whether "bounds aliases" (i.e. the current behaviour for "trait aliases") or "constraint aliases" (where you explicitly parameterise over the type being bound) are the most useful notion of alias. For example, with trait aliases, you cannot encode type equality constraints (see https://github.com/rust-la

[2019-04-02 22:13] Centril commented on #41517
A 4th question is how this all integrates with "trait generics" and "associated traits" as well. My goal is to ensure that we end up with flexible & a coherent system for all of this. However, it is difficult to test this out without having associated traits & trait generics on nightly. Thus, I think stabilization of this should wait on that.

[2019-04-02 22:27] matthewjasper commented on #59645
The warning is correct. Overloaded compound assignment operators unfortunately evaluate their operands in the opposite order to the built in ones.

[2019-04-02 22:31] nnethercote opened #59650 "Improve incremental compile speed on `webrender_api`"
This was originally filed as a `rustc-perf` [issue](https://github.com/rust-lang-nursery/rustc-perf/issues/312), but I'm moving it here because it's really a rustc issue.

The workload in question:

In `rustc-perf` parlance, that is a "CleanIncr" build.

The 5692 lines of rust code in `webrender_api` expand to 85511 with `cargo expand`, largely due to `serde`, and the expansion phase dominates. So

[2019-04-02 22:33] seanmonstar commented on #41517
It'd be helpful to add steps of what's blocking this to the top comment, and if possible, links to something describing what they are. For instance, this is the first I've read about "associated traits". Are "trait generics" meant to describe generics on associated types (GATs)?

[2019-04-02 22:43] nnethercote commented on #59650
Here is some edited Cachegrind output from the abovementioned workload. I removed various entries that didn't obviously relate to `proc_macro::bridge`.
[code]

[2019-04-02 23:14] Centril commented on #41517
@seanmonstar e.g. `fn foo<trait T>(...)`, `foo::<Ord + Eq>` and `trait A { trait B; }`. See https://github.com/Centril/rfc-trait-parametric-polymorphism/ for more (very WIP).

[2019-04-02 23:27] howaboutsynergy opened #59652 "`error: relocation refers to local symbol "" [12], which is defined in a discarded section` only when using ld.gold linker with --gc-sections"
**tl;dr:** https://github.com/rust-lang/rust/issues/59652#issuecomment-482253086

Cannot compile firefox anymore due to:
 error: linking with ... cargo-linker
error: relocation refers to local symbol "" [12], which is defined in a discarded section

**UPDATE** [bisect](https://github.com/rust-lang/rust/issues/59652#issuecomment-479654606) shows it's PR [59401](https://github.com/rust-lang/rust/pul

[2019-04-02 23:29] howaboutsynergy commented on #59652
<details><summary>Here's a list of all commits between bad and good nightlies (in `git log` format):

</summary>

[code]
            foo(
       _____^
      |_____|
     ||         bar,
     ||     );
     ||      ^
     ||______|
      |______foo
             baz
[code]
           foo(
      _____^
     |         bar,
     |     );
     |      ^
     |      |
     |______foo
            baz
[cod

[2019-04-03 00:36] seanmonstar commented on #41517
@Centril woah! Very interesting idea...

Looking through the original trait aliases RFC, I see `ContraintKinds` listed as an alternative. Since it's listed, I assume it was discussed, and it didn't hold up the RFC merging. Has something come up since that reverts that decision?

[2019-04-03 01:15] Centril commented on #41517
@seanmonstar I just read through all of the comments in the RFC; `ConstraintKinds` as in having `trait X` universal quantification and as an associated item was barely discussed. `bound` vs. `trait` was discussed partially; I'm not sure I agree entirely with the rationale. `constraint Foo<T>` was discussed but I think we need to actually test the limits of the system with associated traits and tra

[2019-04-03 01:23] seanmonstar commented on #41517
Ah, that's too bad. I'm a fan of keeping tracking issues to status updates, so would it make sense to move discussion of whether something like `ConstraintKinds` should block the progress here to something else? Like an IRLO thread or something?

[2019-04-03 01:25] howaboutsynergy commented on #59652
Just a heads up, looks like I was wrong about first bad nightly, it's not `nightly-2019-03-29-x86_64-unknown-linux-gnu` but instead it's:

[code]

If this is correct then `nightly-2019-03-29-x86_64-unknown-linux-gnu` is a good nightly.
I'm still double-checking but it takes some time...
I'm also trying to a rust bisect (even more time)

[2019-04-03 01:37] Centril commented on #41517
@seanmonstar I don't think I have the time for such a discussion but go ahead if you want. My view is that there would need to be really good arguments why we should stabilize this before associated traits & such are even in nightly. Given that trait aliases are mostly a matter of ergonomics it all seems like quite a risky endeavor to me. As such I'm at least for now not inclined to put trait alia

[2019-04-03 01:56] alexreg opened #59656 "Why are 'maybe' bounds not permitted in trait objects?"
For example,

[code]

gives the error `` `?Trait` is not permitted in trait object types ``.

Is there any good reason for this rule?

I ask mainly because I'm try to enforce this for trait objects that use trait aliases in the compiler, but this error is currently raised during AST validation, and would be very difficult to do during typeck, since information about 'maybe' bounds is only included

[2019-04-03 03:02] saleemjaffer commented on #57431
https://rust-lang.zulipchat.com/#narrow/stream/147480-t-compiler.2Fwg-diagnostics/topic/.2357431

[2019-04-03 03:41] Centril opened #59659 "Run-pass checks for warnings, notes, etc."
When writing https://github.com/rust-lang/rust/pull/59658, I found it neccesary to check for warnings in a `run-pass` test because `deny(warning)` would observably change the warning pattern I was testing for in the first place.

It would be nice if `run-pass` would check for `WARN`, `NOTE`, `HELP`, etc. and cause a test failure if those are not found when expected. A bonus point for failing for u

[2019-04-03 04:52] jethrogb commented on #58794
Process question: Should we revert this on nightly too so we don't have to keep reverting this until the final decision has been made?

[2019-04-03 05:27] HadrienG2 commented on #56753
The compiler, like any program using unstable Rust syntax, can invoke an LLVM-ish inline assembler.

[2019-04-03 06:22] DezzK commented on #47048
Thanks @mati865, I overwritten all *.o files in the gnu toolchain with corresponding files from Msys2 and all linking problems gone!

[2019-04-03 06:28] petrochenkov commented on #59659
Looks similar to https://github.com/rust-lang/rust/issues/56277.

[2019-04-03 06:39] phansch opened #59660 "DiagnosticSpanLine pointing inside char boundary"
A test from the rustc UI tests currently causes a crash when executed with rustfix:

<details>
<summary>Click to expand backtrace</summary>

[code]
</details>

This is a trimmed down version of `src/tests/ui/utf8_idents.rs` which causes the crash in rustfix:

[code]

The `DiagnosticSpanLine` that `rustfix` receives looks like this:

[code]

`γ` is 2 bytes long, which leads me to believe that this

[2019-04-03 07:06] vbarrielle commented on #59645
Thanks for the explanation. I guess I can close it then.

[2019-04-03 07:06] #59645 closed

[2019-04-03 07:52] comex commented on #58794
That link does not show that we want to exploit it "in the near future", given that Cranelift does not perform optimizations and so any small performance benefit from changing the calling convention would be purely academic – not to mention that rustc doesn't even support Cranelift yet.

Arguably it shows that we want to exploit it in the far future; that gives us plenty of time to add FFI unwindi

[2019-04-03 07:58] phil-opp opened #59661 "Current Windows nightly misses `rust-lld`"
The 2019-04-02 Windows nightly ~~has no `rust-lld` included~~ uses a different directory for `rust-lld` so that `rustc` does not find it anymore. You can see this by downloading the nightly `x86_64-pc-windows-msvc` archive from https://forge.rust-lang.org/other-installation-methods.html#standalone-installers. In contrast to stable, beta, and earlier nightlies, the current nightly has no `rust-nigh

[2019-04-03 08:09] djc opened #59662 "ICE in trait codegen: Encountered error `Unimplemented` during codegen"
[code]

This appears to be a regression introduced between [rustc 1.34.0-nightly (a2ec156a5 2019-02-08)](https://travis-ci.org/djc/quinn/jobs/490911866) and [rustc 1.34.0-nightly (0b7af2668 2019-02-10)](https://travis-ci.org/djc/quinn/jobs/491498756).

[2019-04-03 08:10] DevQps commented on #55418
@alexcrichton It seems like you always popup on my screen when people are talking about technical details so I thought you might be the right man for this question :)

When diving into the details of `spin_loop_hint` I found this:
[code]
So basically `spin_loop_hint` does a call to `spin_loop`

#[inline]
#[unstable(feature = "renamed_spin_loop", issue = "55002")]
pub fn spin_loop() {
    #[cfg(any

[2019-04-03 08:36] djc commented on #59662
Full backtrace:

[code]

[2019-04-03 08:39] djc commented on #59662
A normal `cargo +nightly build` doesn't seem to trigger this, so I guess it may be related to some of those specific compiler flags tarpaulin is using?

[2019-04-03 08:40] matklad commented on #44868
I've taken a stab at this at https://github.com/rust-lang/rust/pull/59663. It seems like explicitly mentioning that every impl of Borrow must maintain Eq, Ord, Hash would do the trick.

[2019-04-03 09:00] DevQps commented on #55418
@alexcrichton @frewsxcv I did an attempt! I hope it clarifies some things. I didn't edit the `yield_now` documentation to not bloat the documentation there too much. But if that is desired as well, please let me know. The pull is here: https://github.com/rust-lang/rust/pull/59664

[2019-04-03 09:18] gnzlbg commented on #58794
As discussed yesterday on discord (cc @Centril @joshtriplett ), I believe that while these libraries have knowingly decided to rely on a particular implementation of undefined behavior, we might have failed to communicate during the last cycle that it's up to them to put in the work. Iff these libraries show willingness to fix their code, and require more time to do that, I'll be fine with delayin

[2019-04-03 09:23] DevQps commented on #40322
@steveklabnik I was just browsing through some older T-docs issues, just to get an idea of everything that is still running (and hopefully help a bit in cleaning up stuff!). And then I saw that the `io::ErrorKind` page already provides some kind of list: https://doc.rust-lang.org/std/io/enum.ErrorKind.html

Maybe we can "solve" this issue by taking one of the following approaches?:
- At each `std:

[2019-04-03 10:05] jonas-schievink commented on #59662
Duplicate of https://github.com/rust-lang/rust/issues/58375

[2019-04-03 10:05] #59662 closed

[2019-04-03 10:05] DevQps commented on #41142
I just saw that the Unstable Book already contains a list of unstable compiler flags [here](https://doc.rust-lang.org/unstable-book/compiler-flags.html) which I guess means that this issue is already solved right?

Maybe we should create a separate issue for the missing -Z description in https://doc.rust-lang.org/rustc/command-line-arguments.html and close this one? Maybe also create a separate is

[2019-04-03 10:06] xfix commented on #24000
@TheZoq2 This does compile.

[code]

[2019-04-03 10:09] DevQps commented on #39640
@steveklabnik Alright! I'll put it on my todo list! I'll hope to have created a PR somewhere this week.

[2019-04-03 10:43] DevQps commented on #41219
@steveklabnik @ehiggs @Mark-Simulacrum @sfackler I did a little bit of research to the `SA_RESTART` flag and found this:

It seems to suggest that that a signal handler that does not set SA_RESTART to true, deliberately does not want the syscall to finish (like kill / hard-termination signals). Otherwise it would just set SA_RESTART to true right? Are there reasons why a signal handler would set S

[2019-04-03 11:12] pnkfelix commented on #59490
Yes, this matches my own understanding.

The check that was re-added in PR #58592 has a big comment above its core function, here:

https://github.com/rust-lang/rust/blob/33d3598e3b57c0fcfd36f34c346847bcc4edd3d2/src/librustc/infer/region_constraints/leak_check.rs#L7-L30

I think the [rustc guide mark-i-m linked](https://rust-lang.github.io/rustc-guide/traits/hrtb.html?highlight=Leak#basic-matching

[2019-04-03 11:20] pnkfelix commented on #59490
I say that the leak check is "masking bugs" because it is causing the `rustc` compiler to reject programs relatively early (due to them violating the leak check), but those same programs, if we do get rid of the leak check, end up hitting some bug downstream that causes an internal compiler error.

Currently all such bugs that I know of are things that arise from interactions with non-lexical life

[2019-04-03 11:28] mati865 commented on #59652
You might want to use https://github.com/rust-lang-nursery/cargo-bisect-rustc/blob/master/TUTORIAL.md

[2019-04-03 12:19] mati865 commented on #37939
Looks like it regressed: https://godbolt.org/z/awKD_U

[2019-04-03 12:25] SimonSapin commented on #41517
@Centril Trait parameters and associated traits sound potentially interesting but this is the first I hear of them. Are they on any roadmap? Is there consensus in the lang team that they should block existing features (with an accepted RFC and an implementation) like trait aliases, or is that your personal opinion?

[2019-04-03 12:27] Centril commented on #41517
Nope.

Yep.

[2019-04-03 12:35] spastorino commented on #52708
Yes, sorry. I've pasted an intermediate step. The final layout is ...

[code]

[2019-04-03 12:53] SonnyX commented on #31343
I would like to see a stabilized implementation of this so that libraries such as [gag](https://crates.io/crates/gag) would be able to become cross-platform in a reliable way.

[2019-04-03 13:10] RalfJung commented on #58794
@joshtriplett

I agree in principle. However, notice that the same is true for the kind of UB that we will eventually introduce with whatever derivative of or alternative to Stacked Borrows becomes "the real thing": we currently definitely do not exploit many kinds of UB in this space (we only emit `noalias` on function boundaries), so one could say "this is undefined (but people know how it works

[2019-04-03 13:23] mjbshaw commented on #58794
I started one (which is largely based on [jcranmer's post](https://internals.rust-lang.org/t/unwinding-through-ffi-after-rust-1-33/9521/31)). If jcranmer's ideas sound reasonable and interesting to people, I can try expediting writing the RFC (<sub>at the cost of interacting with my family...</sub>).

I have a crate ([objrs](https://gitlab.com/objrs/objrs)) that makes Rust code adhere to the Objec

[2019-04-03 13:31] mulkieran commented on #59504
@DevQps I'ld be find w/ that wording as well.

[2019-04-03 13:53] DevQps commented on #59504
@mulkieran I created a PR for you [here](https://github.com/rust-lang/rust/pull/59666)!

[2019-04-03 14:09] alexcrichton commented on #24795
Agreed with @sfackler, so I'm going to close this.

[2019-04-03 14:09] #24795 closed

[2019-04-03 14:12] alexcrichton commented on #59661
Thanks for the report! @phil-opp can you confirm the exact installer that you're using? I unfortunately don't have a windows machine to reproduce on right now, but both these URLs contains `rust-lld.exe` in what I believe is the expected location:

* https://static.rust-lang.org/dist/2019-04-03/rustc-nightly-x86_64-pc-windows-msvc.tar.gz (rustup)
* https://static.rust-lang.org/dist/2019-04-03/rust

[2019-04-03 14:16] gnzlbg commented on #58794
@mjbshaw jcranmers' post is one of the many directions in which we could go, I think the direction is worth exploring, but not at the cost of interacting with your family. Before writing an RFC, it would probably make sense to first open an internal threads to collect all the use cases we want to support and all the constraints that we have, and try to reach a consensus on that, since those are go

[2019-04-03 14:17] alexcrichton commented on #40230
I didn't open this issue, so I'll leave that to @SimonSapin, although this is a very old issue so it's likely out of cache for everyone involved.

[2019-04-03 14:29] varkor commented on #41517
I think the stabilisation process includes consideration of interaction with possible future features, if insufficiently evaluated during the RFC process. Besides that, though, there are issues with trait aliases that have been raised in the existing discussion (and which turn out to be relevant to @Centril's concerns).

[2019-04-03 14:31] alexcrichton opened #59667 "Release nightly compilers with ability to internally parallelize"
This is intended to be a tracking issue to releasing nightly compilers with the ability to internally parallelize themselves but they are still defaulted to single threaded mode. This is part of the larger [parallel compiler tracking issue](https://github.com/rust-lang/rust/issues/48685), and is intended to be an incremental step towards fully closing that out.

A [recent attempt](https://github.c

[2019-04-03 14:33] phil-opp commented on #59661
@alexcrichton They indeed contain a ` rust-lld.exe` but it seems like the location is wrong.

For https://static.rust-lang.org/dist/2019-04-03/rustc-nightly-x86_64-unknown-linux-gnu.tar.gz :

[code]

For https://static.rust-lang.org/dist/2019-04-03/rustc-nightly-x86_64-pc-windows-msvc.tar.gz :

[code]

For https://static.rust-lang.org/dist/2019-04-02/rustc-nightly-x86_64-pc-windows-msvc.tar.gz :

[2019-04-03 14:39] alexcrichton commented on #59661
Heh, an excellent point! Given the [regression range](https://github.com/rust-lang/rust/compare/f69422288...428943cc2) this is almost surely https://github.com/rust-lang/rust/pull/59341/files.

cc @o01eg, would you mind taking a look at this? I'm going to post a PR to revert that change in the meantime

[2019-04-03 14:40] steveklabnik commented on #29300
Given that #24795 was closed, I'm also going to close this. There are some parts of this issue that are not identical to that issue, but a vague list from 2015 isn't useful. If there's anything that needs to be clarified in specific API docs, please open new, detailed issues. Thanks!

[2019-04-03 14:40] #29300 closed

[2019-04-03 14:43] steveklabnik commented on #53287
I've tagged this issue as `E-easy` and `E-mentor`. To close this bug, we should add a new section to https://github.com/rust-lang/rust/blob/master/README.md that mentions that there are trademarks on the rust name and logo, and link to https://www.rust-lang.org/policies/media-guide.

If you want to fix this bug and need any help, please let me know, and I'm happy to assist!

[2019-04-03 14:49] steveklabnik commented on #41142
Yes! Alternatively, if this is something you'd like to send a PR for, we can just keep this issue open and use that PR to close it.

I would prefer not to, I don't think this is the job for the unstable book.

[2019-04-03 14:53] steveklabnik commented on #40322
I've seen that, it's been great 😄

Yes, this is not what the issue is talking about, though :) It seems you know that, but just to be clear.

I don't think this is necessary because

This is what the bug is talking about. And putting it above and below seems like too much to me.

But it's also not about "commonly thrown" errors, it's about enumerating which possible errors can be returned from a p

[2019-04-03 15:12] phil-opp commented on #59661
Closing as per my comments in https://github.com/rust-lang/rust/pull/59668#issuecomment-479523038:

[2019-04-03 15:18] steveklabnik commented on #44113
We now have a good error for this:

[code]

So the real question is, is this something we want to enable in the future? If so, then this shouldn't be closed, and the bug would be tracking that. If we do not, then this should be closed.

[2019-04-03 15:25] mark-i-m commented on #44113
Personally, i would like for that to be possible. For example, when building an OS, it would be nice to be able to everything in a memory management module. Currently, you have to break that abstraction to put the allocator in thr crate root, which then requires exposing the implementation outside the memory management module.

[2019-04-03 15:39] mark-i-m commented on #44113
So I realized that I never gave an update here. The current status is as follows:

About a year ago, I attempted to implement a fix, but we ran into a lot of weird hygiene issues (that even alexcrichton wasn't able to help with). Then, I changed course and implemented the error that Steve posted above. That's about all I know how to do, and that was the end of my endeavors in this space.

Somebody

[2019-04-03 16:05] DevQps commented on #41142
I'll go ahead and do that then!

I can understand that you have this view! I do not really have much of a view myself on this, though I do think that we should keep duplication between the `rustc` docs and other docs to a minimum (or to keep documentation duplication to a minimum in general because its easier to maintain). The `rustc` docs are probably a better place to document this.

However, th

[2019-04-03 16:10] DevQps commented on #40322
@steveklabnik Ahh thanks for the clarification! I think my brain mixed things up a bit while reading other issues. I can imagine that some platforms generate errors which others do not, so it might be tough to create a hard contract for each method but let's wait for the Libs Team to shine their light on this :)

[2019-04-03 16:19] DevQps commented on #59543
@brettcannon If you unfold `impl<'a> Iterator for SplitPaths<'a>` at the Trait Implementation section in [SplitPaths](https://doc.rust-lang.org/std/env/struct.SplitPaths.html) you can see that `Item = type Item = PathBuf`. Did you mean that this should be more clearly mentioned in the description of [SplitPaths](https://doc.rust-lang.org/std/env/struct.SplitPaths.html) (or maybe `split_paths` as w

[2019-04-03 16:28] steveklabnik commented on #41142
Moving it to the `rustc` docs seems appropriate to me!

[2019-04-03 16:35] alexcrichton commented on #59667
@Zoxc do you know off the top of your head what some hot mutexes might be? Some local profiling of a compiler from https://github.com/rust-lang/rust/pull/59644 and the commit just before is not very illuminating, while everything does get a bit slower it's hard to see where it's getting slower.

It does look like `get_query` (presumably [this lock](https://github.com/rust-lang/rust/blob/0ba7d41b83

[2019-04-03 16:36] saethlin opened #59673 "'specified instant was later than self' from alacritty, rustc 1.33"
I'm running an odd system; Samsung Chromebook 3 (XE500C13) CELES with Linux galliumos 4.16.18-galliumos which is an alpha version. I'm on the ragged edge of hardware support.

Is this a bug that's fixable in std, or is my OS+hardware conspiring to break #56988?

I'm looking at this stack trace:
[code]
The responsible code in alacritty is
[code]

[2019-04-03 16:56] sfackler commented on #59673
#56988 handled a specific set of targets known to have broken clocks. If your hardware also has a broken clock, it may need to be added to that set.

[2019-04-03 16:59] saethlin commented on #59673
I'm not entirely sure what `target`  means here. I'm building for `x86_64-unknown-linux-gnu`, is that the target you're referring to?

[2019-04-03 17:09] crlf0710 opened #59674 "Fix stack probing for x32"
I've got a Rust minimal repro code (a.rs), its mir output (a.mir), its x86 codegen output (a.x86.ll) and its gnu-x32 codegen output (a.gnux32.ll) All these files are in this this [gist](https://gist.github.com/crlf0710/ecd261d989a85f2d8917c1fbf8acfc6f).

Currently, `llc a.gnux32.ll` fails, saying "llvm error cannot emit physreg copy instruction".
I don't understand llvm ir at all myself, but i tri

[2019-04-03 17:13] crlf0710 commented on #59674
Forgot to mention: I generated these files with `-C panic=abort` to make the files shorter, but that's unimportant detail, i guess.

[2019-04-03 17:25] cramertj commented on #59674
If you haven't yet, you might try using `bugpoint` to minimize the ll to a smaller reproducer.

[2019-04-03 17:51] HadrienG2 commented on #59667
You may want to try this tool and see if it works for you: http://0pointer.de/blog/projects/mutrace.html .

[2019-04-03 17:54] crlf0710 commented on #59674
Using bugpoint, i got this(I used llvm-dis to convert it to text):
[code]

[2019-04-03 17:58] ErichDonGubler commented on #56431
I would agree with @Amanieu here -- I've just recently found a case where `shrink_to` would be handy, particularly if it silently no-op'd in the case of capacity actually being smaller than the specified maximum.

[2019-04-03 18:18] SimonSapin commented on #27783
[RFC 2480](https://github.com/rust-lang/rfcs/pull/2480) to stabilize the `alloc` crate was accepted. PR https://github.com/rust-lang/rust/pull/59675 does so, and closes this issue since `alloc` was the last crate tracked here. (Others have been stabilized already, moved to crates.io, or merged into other crates.)

[2019-04-03 18:56] alexcrichton commented on #58907
The libs team discussed this and decided that we're still not going to rever this

[2019-04-03 18:58] cuviper commented on #58794
@gnzlbg

I take this as an ultimatum for the lang team -- from the release team perspective, IMO we should keep maintaining the status quo on stable until this issue is decided.

Would you make this flag available to stable users? `-Z` options usually aren't, and if users have to play games with `RUSTC_BOOTSTRAP`, they might as well go further and use `#[unwind(allowed)]`.

[2019-04-03 19:38] rkapl commented on #44113
For me, the error message is more important than solving the problem perfectly. In my use case, i have just moved the allocator to the root -- but the real problem was finding this solution.

[2019-04-03 20:03] DevQps opened #59679 "Move the compiler flags in the unstable book to the rustc book"
# Description

Currently the unstable book contains three sections:

- Unstable compiler flags
- Unstable language features
- Unstable library features.

As has been mentioned in #41142 it might be better to move the unstable compiler flags to the rustc book. I see the following reasons why:

- Compiler flags are already mentioned [in the rustc book](https://doc.rust-lang.org/rustc/command-line-ar

[2019-04-03 20:05] DevQps commented on #41142
I created an issue for this here: #59679
Then we can use this issue for adding -Z to the compiler flags section!

[2019-04-03 20:36] bstrie commented on #39915
Agreed with @briansmith that it would be good to have dedicated issues to track the status of this for different targets, though rather than closing this we could then turn this into a metabug. If there's anyone who knows more about what targets are worth opening issues for, please feel free, since I'm very out of the loop on the LLD support status.

[2019-04-03 20:44] gnzlbg commented on #58794
That's a good question. `mozjpeg` is used where stable Rust is needed, but Firefox is using `RUSTC_BOOTSTRAP` anyways. So... we should just ask them if they need it. While we usually don't do this, I think that as long as we clearly delimit for which Rust versions the flag is available, and make it clear that the flag will be removed in the future, allowing using such a temporary flag from 1-2 sta

[2019-04-03 20:53] howaboutsynergy commented on #59652
If I didn't mess up anything, 8b8488ce8fc047282e7159343f30609417f9fa39 is the first bad commit, https://github.com/rust-lang/rust/pull/59401
[code]

[code]

[2019-04-03 21:31] leeola commented on #57771
Still like that it seems. Is there a good way to see what dates rls (or any component) are working? Anther thread suggested https://rust-lang.github.io/rustup-components-history/x86_64-apple-darwin.html - but that only goes back 8 days and as of today RLS isn't working on _any_ of those days haha.

I'm not sure what nightlies have RLS.

[2019-04-03 21:39] mati865 commented on #57771
@leeola recent changes broke `compiletest-rs` which broke Clippy which in turn broke RLS.

[2019-04-03 21:40] clarfon commented on #59278
@ckaran `into_sorted_vec` actually doesn't take up any space at all; it reuses the same buffer.

[2019-04-03 21:55] estebank commented on #59660
Digging a bit I believe that `highlight_start` and `highlight_end` weren't supposed to be interpreted as byte offsets but rather as character offsets. Couldn't `rustfix` interpret them that way?

[2019-04-03 22:22] Centril opened #59683 "Use `declare_lint_pass!` for internal lints"
In https://github.com/rust-lang/rust/pull/59669 a `declare_lint_pass!` macro is introduced. In https://github.com/rust-lang/rust/pull/59316 two new lints are added that don't use this macro. This issue tracks fixing that.

- https://github.com/rust-lang/rust/pull/59316/files#diff-2451d441a5f5b7e7b0d0a63f45b66212R31 (use `impl_lint_pass!` here)
- https://github.com/rust-lang/rust/pull/59316/files#d

[2019-04-03 22:53] faern commented on #58402
I do like `checked_duration_since`, and I would like that *function* stabilized. It both lowers the amount of code needed and lowers the risk of screwing up some check and ending up with a panic. It's already used by `parking_lot` [here](https://github.com/Amanieu/parking_lot/blob/56e313f8b23557da8b3b48fd30d3e9837c231ca7/core/src/thread_parker/wasm.rs#L63) and [here](https://github.com/Amanieu/par

[2019-04-03 23:20] mark-i-m commented on #51385
There doesn't seem to be high demand for this. Shall I close the issue?

[2019-04-03 23:32] BurntSushi commented on #59411
Did this make it into a recent nightly? It looks like the `2018-04-02` nightly is still tripping over this bug: https://travis-ci.org/BurntSushi/ripgrep/jobs/515325113

(I'm seeing about switching to xenial.)

[2019-04-03 23:51] Osspial commented on #27732
It's been over a year since anyone's really looked at this. What's stopping this from getting stabilized?

[2019-04-03 23:53] Centril commented on #58951
This still ICEs on nightly.

[2019-04-03 23:56] mati865 commented on #59411
Weird, I reproduced it locally and tested it before opening PR. I'll look into it today (CEST time).

[2019-04-04 00:00] cuviper commented on #7463
Unusual: Return statement in function with noreturn attribute

These should be cleaned up by #59639.

    Unusual: noalias argument aliases another argument

I believe these are a false positive by the lint -- it should be fine for `noalias` arguments to point to the same memory when they're both `readonly`, as there's no possible memory dependence. I've opened LLVM [D60239](https://reviews.llvm.o

[2019-04-04 00:04] Centril commented on #59656
Also relevant:
+ duplicates in trait objects, e.g. should `dyn Copy + Copy` be allowed?
+ order dependence in trait objects wrt. the "principal trait", e.g. should `dyn Send + Copy` be allowed?

[2019-04-04 00:22] cuviper commented on #40177
@eddyb With #49219 merged, I believe `proc_macro` is no longer a blocker, right?
If so, I'm interested to work on this.

[2019-04-04 01:55] wesleywiser commented on #59094
This can be closed now right?

[2019-04-04 02:02] alexreg commented on #59656
@Centril Yes, though w.r.t. the 2nd point, I think the compiler team already agreed that removing the concept of principal trait is a good thing. It was really only ever an implementation detail I believe... though if the lang team can ratify this, all the better.

As for the first, I'm personally less concerned about changing that behaviour right now (it doesn't really simplify the implementation

[2019-04-04 02:32] #59661 closed

[2019-04-04 03:07] #56736 closed

[2019-04-04 04:59] hgallagher1993 commented on #59683
Ya I'll take this on :+1:

[2019-04-04 05:11] luqmana commented on #59674
Looks like it can't deal with the "probe-stack" attribute: removing that makes it work. My guess is the probe stack code doesn't do well with gnux32 targets which is 64bit but has 32bit pointers.

The LLVM debug log re: why it fails:

[code]

[2019-04-04 05:25] #44868 closed

[2019-04-04 05:25] #55418 closed

[2019-04-04 05:25] #59504 closed

[2019-04-04 05:38] crlf0710 commented on #59674
Speaking of stack probing, I guess @Zoxc might know more about this?

[2019-04-04 05:48] sanxiyn commented on #59674
To unblock things, I think it is reasonable to delete `base.stack_probes = true;` line in `src/librustc_target/spec/x86_64_unknown_linux_gnux32.rs` file while we investigate the issue. Stack probes are x86-only feature that is disabled on other architectures anyway.

[2019-04-04 06:08] phansch commented on #59660
Oh, you're right! It's even mentioned in the struct definition:

https://github.com/rust-lang/rust/blob/9ebf47851a357faa4cd97f4b1dc7835f6376e639/src/libsyntax/json.rs#L134

Thanks for taking a look. I will have a fix for rustfix ready later today.

[2019-04-04 06:13] Zoxc commented on #59674
I guess LLVM needs a upstream fix for stack probing on x32 (it probably emits code using 64-bit registers). We may also want a x32 specific stack probe function in https://github.com/rust-lang-nursery/compiler-builtins/blob/master/src/probestack.rs.

[2019-04-04 06:19] crlf0710 commented on #59674
I've pushed #59686 as the temporary workaround.

[2019-04-04 07:06] flip1995 commented on #49509
The first and the last two items can be checked.

About the `Clone` on `Copy` lint: Would it make sense to uplift this lint completely to rustc? What's the state of the "no new lints in rustc" rule?

[2019-04-04 07:34] oli-obk commented on #49509
That rule still applies, can we move it to rustc as an internal lint but have clippy "reexport" it as its own lint?

[2019-04-04 07:38] #59094 closed

[2019-04-04 08:42] mati865 commented on #59652
CC @japaric

[2019-04-04 08:42] flip1995 commented on #49509
This could be possible by making the LintPass public in rustc and re-registering the LintPass in Clippy. I'm curious how this will work with `tool_lints` 🤔

[2019-04-04 09:49] frewsxcv commented on #59554
Looks like there's still no title set after https://github.com/rust-lang/rust/pull/59569 🤔

[2019-04-04 10:24] gruberb commented on #59554
Hmm... I'll check later when I am
home!

[2019-04-04 11:09] Nemo157 commented on #49537
[Another updated playground for generator API changes](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=8a2ce48534d6e1f945c7fc43a5a5dc9c). This now appears to compile and run fine.

[2019-04-04 11:09] #49537 closed

[2019-04-04 11:11] Nemo157 commented on #51624
This doesn't appear to ICE anymore.

[2019-04-04 11:34] #51624 closed

[2019-04-04 11:36] pnkfelix commented on #59494
triage: P-high.

[2019-04-04 11:41] pnkfelix commented on #53014
can you share your config.toml that you are using? Put it into a gist or a detail blocks in a comment here?

[2019-04-04 11:42] pnkfelix commented on #53014
triage: P-high. Leaving I-nominated because this seems like a potentially deep issue that we need to address.

[2019-04-04 11:44] pnkfelix commented on #59548
triage: P-high.

Important next step is to create an isolated test case (either a crate, or ideally, a single file or even snippet that reproduces on play.rust-lang.org), so that we do not risk losing track of the problematic code from an external repository.

[2019-04-04 11:52] pnkfelix commented on #59105
triage: leaving I-nominated for discussion of prioritization at T-compiler meeting itself.

(My personal inclination is to assign this P-medium priority, and if no one takes it on at the meeting or shortly thereafter, I may self-assign.)

[2019-04-04 12:23] pnkfelix commented on #59652
triage: P-high. Leaving nominated for now (What is going on here with `-Z emit-stack-sizes` ...?)

[2019-04-04 12:42] pnkfelix commented on #58104
closing as non-actionable.

[2019-04-04 12:42] #58104 closed

[2019-04-04 12:59] pnkfelix commented on #58548
@hoodie Does `cargo update` not get you the latest version of `downcast` ? Is some dependency asking specifically for `0.9`?

[2019-04-04 13:01] pnkfelix commented on #58548
In any case I believe you should be able to override arbitrary dependencies (or dependencies of dependencies, etc) via the methods specified at https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#overriding-dependencies

[2019-04-04 13:15] pnkfelix commented on #59477
triage: this appears to be well in hand. But also, just to revise precedent to match @RalfJung 's expectations: Revising priority here to P-medium.

[2019-04-04 13:19] pnkfelix commented on #46989
note: blocks #59490

[2019-04-04 13:20] pnkfelix commented on #46989
triage: re-prioritizing as P-medium. The investigation of fallout described here still needs to happen, but its not sufficiently pressing to warrant P-high label.

[2019-04-04 13:21] michaelwoerister commented on #53014
It should actually be rather easy to add an upper limit to the number of object files that the compiler creates, if that is the only problem here.

[2019-04-04 13:26] pnkfelix commented on #46525
triage: @matthewjasper do you think this actually warrants P-high? I know we want to do it *eventually*, but if things are working okay thus far, it seems like we can continue to coast?

[2019-04-04 13:29] pnkfelix commented on #59469
triage, assigning to self to fix.

[2019-04-04 13:30] michaelwoerister commented on #59137
The assertion here seems to be out of place. https://github.com/rust-lang/rust/pull/59696 removes it which should fix the issue.

[2019-04-04 13:33] matthewjasper commented on #46525
It's not really p-high, but I hope to create a PR for this once migrate mode is enabled on all editions.

[2019-04-04 13:36] pnkfelix commented on #58840
Since the sample project that causes this was taken down, I guessed I will take an example from either #59606 or #59344 and use that as the basis for investigation going forward.

[2019-04-04 13:48] pnkfelix commented on #52708
The described final layout still implies that `Place` is increasing from 16- to 24-bytes in size on 64-bit platforms. (Just trying to save @nnethercote the effort of repeating the [original comment](https://github.com/rust-lang/rust/issues/52708#issuecomment-478843083)).

But I prefer to wait to see the final result and do some measurements on it before we worry about trying to address this in som

[2019-04-04 13:58] pnkfelix commented on #58694
triage: confirmed this was promoted into stable, as one would expect based on the conversation above. Marking as regression-from-stable-to-stable.

[2019-04-04 14:08] DevQps commented on #47976
I hope to create a PR for this somewhere today, adding the performance (big O-notation) characteristics to the collection page.

[2019-04-04 14:17] gruberb commented on #59554
@frewsxcv I double checked and it seems it's not being able to compile since there is no `SUMMARY.md`. When I run it locally the title is there, but the index is empty.

So I'll add a `SUMMARY.md` and create a new PR.

[2019-04-04 14:23] frewsxcv commented on #59554
It's been a while since I looked at this code, so not entirely sure how it all works, but I think the summary.md file is generated here: https://github.com/rust-lang/rust/tree/master/src/tools/unstable-book-gen/src

[2019-04-04 14:29] gruberb commented on #59554
I see. I took inspiration from the other books (like [embedded](https://github.com/rust-embedded/book/tree/07fd3880ea0874d82b1d9ed30ad3427ec98b4e8a)). When I reproduce it for the unstable book, I get the title and everything.

So maybe I just have to add the `book.toml` to the `unstable-book-gen` folder. I never touched the books before so I am not sure why the unstable book behaves differently.

[2019-04-04 14:31] pnkfelix commented on #59105
discussed at T-compiler meeting. Assigning P-medium priority, since this is essentially an internal tooling issue that we would like to fix, but does not take precedence over customer P-high matters.

[2019-04-04 14:45] pnkfelix commented on #54716
blocks #50547

[2019-04-04 14:48] pnkfelix commented on #53014
self-assigning to implement a simple upper-bound on number of object files compiler creates, under assumption that the blow-up in common case is due to `incremental` mode.

[2019-04-04 15:10] eddyb commented on #40177
@cuviper I'd first need to dig out some of my old PRs, I remember having a plan.
But, most importantly, most of the compiler *can't* use serde, due to the need for a *specific* context during serialization/deserialization (see above - also, #36588).

[2019-04-04 15:33] m-ou-se commented on #56546
Not all undocumented items under `impl` blocks are hidden by 'Show undocumented items':

For example: https://doc.rust-lang.org/std/cmp/trait.PartialEq.html#tymethod.eq

Here, some of the `ne` are shown, and some are not, even though all are undocumented:

![blah](https://user-images.githubusercontent.com/783247/55568234-9f410b00-56ff-11e9-825f-67d7042e322d.png)

Is this an unrelated bug?

[2019-04-04 15:55] cuviper commented on #59022
Closing as a dupe of #26085, which has more details.

[2019-04-04 15:55] #59022 closed

[2019-04-04 16:02] cuviper commented on #40177
OK - the json part for target specs looks simple enough, at least.

[2019-04-04 16:22] andrehjr commented on #59597
Hi there, is anyone working on this already? @mark-i-m

Anyway, I played with this for a bit, ` ./x.py test src/doc/rustc-guide` seems to be running the doc tests with success. https://github.com/rust-lang/rust/compare/master...andrehjr:add-rustc-guide-to-toolstate?expand=1

I'm just not sure about how to add mdbook-linkcheck as dep. And if the changes above are enough. If they are, I'm happy to o

[2019-04-04 16:37] spastorino commented on #52708
@pnkfelix yes, final layout will be 24-bytes. Sorry because I was adding some confusion around. See @eddyb comment here https://github.com/rust-lang/rust/pull/58631#issuecomment-479932600

[2019-04-04 16:50] mati865 commented on #59411
I can easily reproduce it installing toolchain with `rustup` but when I install freshly build toolchains using Dockerfiles I cannot reproduce it no matter how hard I try.

I'll try few ideas using builds from Rust and report here in a few days.

[2019-04-04 16:51] mark-i-m commented on #29722
Does anyone know what the most recent proposal/current status is? Since the theme of the year is "maturity and finishing what we started", it seems like a great opportunity to finally finish up `asm`.

[2019-04-04 17:17] SimonSapin commented on #29722
Vague plans for an new (to be stabilized) syntax were discussed last February: https://paper.dropbox.com/doc/FFI-5NmXV30TGiSsr9dIxpqpq

According to those notes @joshtriplett and @Amanieu signed up to write an RFC.

[2019-04-04 17:44] Songbird0 opened #59703 "Unexpected panic while using `cargo doc` command with nom 4.2.2."
After a simple `git clone`, I tried to generate the crate documentation. I really don't know why I get this error.

The problem seems to be here but what's wrong? ^^'

[code]

The source is on glitch: https://glitch.com/edit/#!/nom-fork?path=nom/README.md:1:0

## Meta

[code]

Feel free to ping me if you need to ask me more!

[2019-04-04 17:52] jonas-schievink commented on #59703
Is this a fluke or is your drive actually full? Is it a regular drive or a network share?

[2019-04-04 18:22] #52685 closed

[2019-04-04 18:22] #59477 closed

[2019-04-04 18:22] #48227 closed

[2019-04-04 18:43] sanxiyn commented on #43610
@TheBlueMatt, please confirm whether the issue is fixed in the latest nightly. Thanks!

[2019-04-04 18:53] XAMPPRocky opened #59705 "Undefined symbols for architecture x86_64"
First of all I apologise for the long steps needed to reproduce this issue.

### Error
[code]

## Steps to reproduce
This error is quite spurious, it seems to be fixed by changing the `opt-level` back to `0`, if you change the code first it could not error or it could hang forever. It doesn't seem to be related to incremental. I've also had this error happen when using `HashMap::get_mut` but I cou

[2019-04-04 18:53] alexreg commented on #59105
@pnkfelix Sounds reasonable enough. It's probably P-high by rustc developer standards, but when you consider the scale has to include end-users too, P-medium makes more sense.

[2019-04-04 19:27] lzutao commented on #59105
Currently I'm not able to build the Rust project. Even running `git clean -xfd` in the project root
the run `./x.py check` (with latest commits from GitHub).

I received this error:

[code]

<details><summary>Full stdout when running `./x.py check`</summary>

[code]

[2019-04-04 19:44] withoutboats commented on #59656
As far as I know, there's no good reason for the restriction except that it avoids having to make sure that `dyn Send` and `dyn Send + ?Sized` are treated as the same type.

In my opinion, it would be fine - if someone wanted to make the effort - to allow all of these sort of meaningless variations, as long as we unify them to the same type as the equivalent bound:

* Multiple of the same trait
*

[2019-04-04 19:51] joshtriplett commented on #58794
cc @cuviper @kornelski @alexcrichton

Based on discussion in the language team meeting: We'd like to address the undefined behavior, and in the process of doing so we want to provide a stable Rust alternative for this. We'd like to set a reasonable deadline for a stable release making undeclared unwinds through FFI abort, something in the ~12 week range. In order to make a plan that seems likely t

[2019-04-04 20:06] Songbird0 commented on #59703
Oops! I didn't see the error message. My fork is stored on Glitch, it's a virtual drive I guess.

I must have reached the storage limit authorized by Glitch.

[2019-04-04 20:12] pnkfelix commented on #54716
I am a bit nervous about trying to add a feature that leverages the existing syntax as a way to say "this new thing (`async fn`) is analogous to something you already know (`fn`)" while at the same time throwing in exceptions to the analogy that are not immediately motivated by the nature of the feature itself.

I do understand the idea of "there is expense associated with these droppable paramete

[2019-04-04 20:15] Fihtangolz opened #59709 "Macros ignore formatting"
TokenStream or TokenTree after converting to string lose formatting (for example tabs, newline characters, number of spaces). This may be a problem in the following cases:
* if you are using python or another language for which formatting is important
* you write a piece of text
* you want to transfer some data to another program for which formatting is important
* your sense of beauty does not al

[2019-04-04 20:22] Boiethios commented on #40062
An example: I'm writing a proc macro attribute, and amongst the tokens, I expect other attribute to be there. This would be useful to add:

[code]

[2019-04-04 20:23] noctune commented on #26085
I've done a bit of experimenting with this, and it seems like just dropping the expected kind [here](https://github.com/rust-lang/rust/blob/52980d0fb39134a26f73b39b384407e010fc3af5/src/librustc_typeck/check/closure.rs#L53) works without issues for `FnMut` and `Fn`. It does mess up the `ui` tests though, as it changes the displayed error message.

`FnOnce` has some issues with closures [like these]

[2019-04-04 20:23] Centril commented on #54716
We discussed this on this week's lang team meeting but I think we didn't reach any consensus.

Here are some of my own thoughts:

- An important justification for `async fn` is that they feel like synchronous functions, so it is valuable if this is adhered to where reasonable. I think changing the drop order can be surprising. In particular, I believe @withoutboats noted (iirc, may be wrong) that

[2019-04-04 20:25] Centril commented on #51497
T-Lang did not have sufficient time to discuss this; leaving for next week.

[2019-04-04 20:44] Lehona opened #59713 "Improved error message when forgetting to specify default type parameter"
It's kind of hard to put this scenario into words, so let me just show you a short example of what I mean:

[code]
gives the following error:
[code]
This just came up on the nom gitter (in a more complex code sample) and was somewhat confusing to debug. Maybe the error message could hint about adding the generic type parameter to the argument type? I.e. suggest something along the lines of "did yo

[2019-04-04 20:57] SimonSapin commented on #40062
@Boiethios Until we sort this out, you can use `attrs.iter().position(|item| some_boolean(item)).map(|i| attrs.remove(i))`

[2019-04-04 21:10] #59020 closed

[2019-04-04 21:22] cramertj commented on #54716
@pnkfelix

I think there's great value in matching the expectation that developers have. However, I don't think that many developers *have* an expectation about the order in which unused arguments are dropped.
As far as an opt-in is concerned, I imagine this being a "death by a thousand cuts" style problem where developers see that their overall memory usage is too high as a result of a large numb

[2019-04-04 21:40] eddyb commented on #27732
The current design is perma-unstable. A new RFC is required for a design that we can consider stabilizing.

The `Unsize` trait can be ignored, as `T: Unsize<U>` and `*mut T: CoerceUnsized<*mut U>` are pretty much equivalent.

So what we should do is generalize `CoerceUnsized` (rename to `Coerce` and handle more/all kinds of coercions through it).

Then we can allow even `impl<T: Coerce<U>, U> Coer

[2019-04-04 21:40] brson commented on #32838
I haven't paid any attention to discussions about allocators, so sorry about that. But I've long wished that the allocator had access to the type of the value its allocating. There may be allocator designs that could use it.

[2019-04-04 21:46] eddyb commented on #27732
Nominating for discussion, regarding splitting this issue into:
* `Unsize` trait, reflects unsizing, may want to wait on "custom DSTs", irrelevant for "opt into unsizing coercions", can stay unstable forever (or even removed)
* `CoerceUnsized`, can be generalized to an "opt into structural coercion" `Coerce` trait, would cover all the cases "`CoerceUnsized` with `Unsize` bounds" cover today (and m

[2019-04-04 21:54] TimDiekmann commented on #32838
Then we'd probably have the same issues as C++ and it's allocator api.

[2019-04-04 22:41] Songbird0 commented on #59713
Here's the real example (in the hope that it help):

[code]

Error:

[code]

## Meta

rustc --version: `rustc 1.35.0-nightly (f69422288 2019-04-01)`

[2019-04-04 22:56] alexcrichton commented on #58465
So it turns out I was remember a time long since passed, and my first bullet above is seemingly already done (@nnethercote is going to fully confirm). That means that actually all rustc needs to do is to somehow signal Cargo when a file is ready to go!

I've talked with @nnethercote about this and I think he's going to work on implementing the JSON message idea (where rustc emits a JSON message wh

[2019-04-04 23:01] Nemo157 commented on #54716
I think a key here is that if this differs from normal functions the time between noticing an effect from it and learning about why and how to workaround it must be kept as short as possible. The only reason I even learnt about this issue was because of the linked thread on urlo from a user of the `futures-await` macro, so even with the very small number of current users this is being noticed in t

[2019-04-04 23:24] alexreg commented on #59656
Thanks @withoutboats. That makes sense to me too... although the fact that `dyn Sized` is allowed seems to suggest a counterexample, which has rather befuddled @Centril and me as to exactly what the semantics are. But I agree, let's get Niko's input on this in any case.

[2019-04-04 23:42] ehuss commented on #58465
Oh, indeed, it does seem to work!

[2019-04-05 00:00] pongad opened #59714 "PathBuf pop()s even if file_name is None"
[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=48e3c5e8812e20c1d165e9d9330eb2c6)

The documentation states that `pop` should do nothing and return false if `file_name` is `None`, but it returns true and actually removes the ".." component.

[2019-04-05 00:09] jethrogb opened #59716 "ICE in src/librustc/ty/query/plumbing.rs when compiling incrementally"
[code]

This went away after a `cargo clean`. I'm sorry I can't reproduce this anymore. Also this was with a stage 1 compiler so who knows if it's real.

The code I was compiling:
[code]

[2019-04-05 01:31] Stargateur commented on #59714
it's not more a documentation error and should be if if `parent()` return `None` ?

[2019-04-05 01:36] Stargateur commented on #59714
Duplicate of https://github.com/rust-lang/rust/issues/58474 already fix in https://github.com/rust-lang/rust/pull/58496

[2019-04-05 02:10] Aaron1011 commented on #59705
I'm able to reproduce this by following your instructions. I'm going to see if I can minimize this.

[2019-04-05 02:15] Aaron1011 commented on #59705
Running `cargo clean` after changing line `62` seemed to fix it. I suspect that this is related to incremental compilation.

[2019-04-05 02:35] shanemikel commented on #41223
This is not quite right.  While the "release" profile by default has debug-assertions=true and the "dev" profile does not, it is configurable.  It seems the real request here is a test for whether --release was specified.  cfg!(profile = "dev") or profile!(dev) would be great (and "release", "test", "bench" respectively).

[2019-04-05 04:32] mark-i-m commented on #59597
Hi @andrehjr! You are the first person to work on this :) Thanks!

That looks like a great start, but it causes the entire compiler to be built before rustc-guide is tested, which is not necessary. Also, I’m not sure if actually tests rustc-guide or just libstd.

You will probably need to manually define RustcGuide and impl Step for it. I did a bit more digging, and I think such an implementation

[2019-04-05 04:51] mark-i-m commented on #59597
A quick note: it looks like you can use the linkchecker as a library: https://docs.rs/mdbook-linkcheck/0.2.3/mdbook_linkcheck/fn.check_links.html

My guess is that you can get the RenderContext from the mdbook crate, which is already imported in rustbook. So it looks like it should be possible to add a “linkcheck mode” to rustbook.

Feel free to ping me if you need anything :)

[2019-04-05 05:50] hellow554 commented on #59716
Incremental errors typically mean, that you changed something between two build. Have you moved something? Renamed a variable, a method? Do you have by chance a backtrace? :|

[2019-04-05 06:08] jethrogb commented on #59716
I *may* have made this change:
[code]
Sorry, no backtrace.

[2019-04-05 06:23] Patryk27 commented on #59716
Same here on today's nightly:
[code]
What's peculiar is the fact that it fails on various structs - right now it failed on my `ServerFacade`, but before I've deleted and moved other structs, it crashed on other ones.

[2019-04-05 06:39] nnethercote opened #59718 "TLS lookups in libsyntax_pos are expensive"
https://github.com/rust-lang/rust/pull/59693 is a nice speed-up for rustc, reducing instruction counts by as much as 12%. https://github.com/rust-lang/rust/pull/59693#issuecomment-479829802 shows that approximately half the speedup is from avoiding TLS lookups.

So I thought: what else is using TLS lookups? I did some profiling and found that `syntax_pos::GLOBALS` accounts for most of it. It has t

[2019-04-05 06:57] eddyb commented on #59718
Could these be sped up by using `#[thread_local]` directly, and maybe static linking instead of dynamic linking?
cc @alexcrichton

If you're asking why it's not a plain `static`, that's because those should pretty much *never* be used, as rustc supports multiple instances per process (and e.g. rustdoc uses that to compile doc tests).

[2019-04-05 06:57] pongad commented on #59714
Ah thank you for the pointer!

[2019-04-05 06:57] #59714 closed

[2019-04-05 07:11] Zoxc commented on #59718
https://github.com/rust-lang/rust/pull/59655 allows you to compare symbols against a predefined list of symbols without doing a TLS lookup and a string comparison. That will hopefully help some.

I'm also working on a PR which removes `Symbol` usage from symbol names (which tend to be unique and doesn't benefit from interning).

I'd also like to replace the `u32` in `Symbol` with `&'tcx str`, but

[2019-04-05 07:18] eddyb commented on #59718
I think arena-allocating the AST is the way forward anyway, so I wouldn't mind the lifetime tbh.

[2019-04-05 08:42] DevQps commented on #34338
@bstrie @QuietMisdreavus I just saw that if you click the "This is a nightly-only experimental API."-part in [`intrinsic::volatile_store`](http://doc.rust-lang.org/core/intrinsics/fn.volatile_store.html) it still expands and shows the message: "intrinsics are unlikely to ever be stabilized, instead they should be used through stabilized interfaces in the rest of the standard library".

I don't min

[2019-04-05 08:42] cwhakes commented on #58046
Maybe too late for bikeshedding, but could the parameter `y` be renamed to `sign`? That could alleviate @nikic's concerns. It could cause confusion if someone isn't expecting it to `sign` to be a `f32`, but in every case I can think of, the type annotation will be next to the name.

[2019-04-05 09:07] thepowersgang commented on #59548
Will do, I suspect it's related to referencing a `#[linkage="external"]` variable from a static. Removing the external linkage on the target symbol removes the ICE.

[2019-04-05 09:08] DevQps commented on #40116
@steveklabnik I personally think the docs are already quite intuitive as they are. I never had problems understanding the content displayed or where to find certain content. Since the module level documentation is often quite good I think that just a handful of people are not able to find what they are looking for, but of course, that is just a guess (can't look into others people's heads).

I jus

[2019-04-05 09:21] thepowersgang commented on #59548
Confirmed: Using a minimal reproduction with the following files (Cargo.toml files omitted for brevity)

`src/main.rs`
[code]
`depfoo/src/lib.rs`
[code]

Results in the ICE:
[code]

[2019-04-05 09:21] DevQps commented on #40306
@ticki I was browsing around a bit and saw the [`std::sync::atomic::Ordering`](https://doc.rust-lang.org/std/sync/atomic/enum.Ordering.html) now does quite a good job at explaining the different types of atomic orderings! It even links to the LLVM pages that you provided as well and matches the displayed Ordering with the associated LLVM ones. As has been mentioned by the deleted user, the [ nomic

[2019-04-05 09:31] DevQps commented on #39897
@rust-lang/core Could you maybe give us some clarity on the purpose of the COPYRIGHT file such that we can solve this issue?

[2019-04-05 09:42] XAMPPRocky commented on #59705
@Aaron1011 The error will still happen if you delete `target/debug/incremental` so I don't think it's incremental related.

[2019-04-05 09:42] mati865 commented on #59718
Is it related to https://github.com/rust-lang/rust/issues/25088?

[2019-04-05 09:59] pnkfelix commented on #59469
The behavior here varies with edition as well as channel.

edition            |          2015            | 2018
------------------ | ------------------------ | ------------------------
stable             | expected error           | expected error
beta               | unexpected compile-pass  | unexpected compile-pass
nightly-2019-04-05 | unexpected compile-pass  | ICE

I think the most immediate

[2019-04-05 10:01] pnkfelix commented on #59469
The easiest thing might be to revert #58403

[2019-04-05 10:07] DevQps commented on #43155
I have been reading through this entire thread and I have distilled these solutions:

**1. Use `RUST_TEST_THREADS=1`**
**2. Use `cargo test -- --test-threads=1`**
**3. Add new flag to Cargo.toml**
**4. Use the `serial_rust` package**

I think 1. and 2. are not really a long term solution. Each crate would have to specify somewhere in their README that they require users to use one of the two solut

[2019-04-05 10:57] pnkfelix commented on #53014
(@Zoxc pointed out on Zulip that "objects" here may refer to symbols, not object files. This is plausible, since we were all wondering how we were getting up to 65535 object files before. But it also does not have the same immediately obvious "fix" that we were hoping for.)

[2019-04-05 11:06] jonas-schievink commented on #53014
The [MSDN page](https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-error-lnk1189?view=vs-2019) says "The limit of 65535 objects or members in a library has been exceeded."
Here it's not very clear what "members" means though.

The error was also hit here: https://gitlab.kitware.com/cmake/cmake/issues/17841, which mentions: "it hits the msvc limitation (LNK1189) of 65535 s

[2019-04-05 11:06] eddyb commented on #59718
@mati865 We can figure out by trying to use a `#[thread_local] static GLOBALS: Cell<Option<...>> = Cell::new(None);` directly.

[2019-04-05 11:25] kornelski commented on #58794
I'm still interested in a solution.

I've prototyped a "plan B" of wrapping each FFI call in a C++ `try`/`catch` and translating caught errors to C-compatible error codes. It's doable, so if you decide to kill unwinding in 12 weeks, I could reluctantly switch to the workaround. But the workaround is not great (a ton of boilerplate that is hard to automate, and needs changes on both sides of the FF

[2019-04-05 11:48] andrehjr commented on #59597
Thanks for the tips @mark-i-m !

I thought I could get away using the `test_book!` macro like the other books.

Interesting! I'll dig more into this today.

[2019-04-05 12:00] gnzlbg commented on #58794
This is false. The behavior is not only perfectly defined, but also supported by C++ language features in the standard. If you want to make sure that no exceptions propagate from C++ into C, just make your `extern C` C++ wrappers `noexcept` - that will result in `std::terminate` being called.

[2019-04-05 12:39] oli-obk commented on #59469
I have an actual fix in https://github.com/rust-lang/rust/pull/59724 (also easier to backport than a revert)

[2019-04-05 13:20] xfix commented on #58794
About libjpeg, considering the library is written in C, it may make sense to write a C wrapper which passes panics through `longjmp`. For example, assuming the library function is called `extlib_magic`.

From Rust side:

[code]

From C side:

[code]

`longjmp` never passes Rust, so this shouldn't cause UB. I didn't test whether this does work, so this may not compile or be subtly broken.

[2019-04-05 13:32] alexcrichton commented on #59718
While `#[thread_local]` can be used to test performance AFAIK it still doesn't work on MSVC. We do in fact [already know that dynamic linking has a hit on performance](https://github.com/rust-lang/rust/pull/56987#issuecomment-448719442) wrt instruction counts. As to whether that's PLT lookups vs thread local lookups I'm not sure. (I'm hoping to revive that once I get access to Windows again)

[2019-04-05 13:38] Centril commented on #58046
@cwhakes  The parameter's name is not part of the stable interface so you can just file a PR for that and I'll review it.

[2019-04-05 13:59] pnkfelix commented on #59469
Okay then I'm reassigning to @oli-obk

[2019-04-05 14:07] gnzlbg commented on #32838
What do you need this for?

[2019-04-05 14:26] withoutboats opened #59725 "[Stabilization] Future APIs"
Feature name: futures_api
Stabilization target: 1.36.0
Tracking issue: #59113
Related RFCs:
* rust-lang/rfcs#2592 Futures API
* rust-lang/rfcs#2394 async/await
* (closed) rust-lang/rfcs#2395 Futures API
* (closed) rust-lang/rfcs#2418 Futures API

**I propose that we stabilize the `futures_api` feature, making the Future trait available on stable Rust.** This is an important step in stabilizing the

[2019-04-05 14:27] withoutboats commented on #59113
Merging #59119. Proposed stabilization after that merge, discussion to continue in #59725

[2019-04-05 14:30] kornelski commented on #58794
@xfix: This is not a solution, because I specifically want to avoid per-FFI-call `setjmp` calls, and handling panic in the callback is not the goal, but a method to achieve the goal of unwinding. If you prevent unwinding, you keep the particular solutoin, but miss the main goal entirely. I don't want to repeat the whole explanation here, so please see the earlier thread: https://internals.rust-lan

[2019-04-05 14:33] gnzlbg commented on #58794
@kornelski the method proposed by @xfix is probably the best way to do this in Rust today.

[2019-04-05 14:47] kornelski commented on #58794
That's exactly the point. libjpeg is not "designed properly". It has code like

[code]

which leaves no safe options other than `abort()` and unwinding of some sort.

[2019-04-05 14:48] withoutboats commented on #59725
@rfcp fcp merge

[2019-04-05 14:48] withoutboats commented on #59725
@rfcbot fcp merge

[2019-04-05 14:59] gnzlbg commented on #58794
There are many solutions that work for those, like the one that @xfix gave you. Some of them work for even worse library designs, e.g., a thread local error context (just like libc's `errno`), a global context protected by a mutex, etc. There are many options that have always worked on stable Rust correctly.

[2019-04-05 15:00] retep998 commented on #53014
If it's the number of exported symbols, then there's two fixes:

1. Stop using the `dylib` crate type in rust because it exports everything under the sun.
2. Make `dylib` **not** export *everything* under the sun.

[2019-04-05 15:01] #59683 closed

[2019-04-05 15:07] mati865 commented on #53014
It broke Windows builds:
https://github.com/rust-lang/rust/pull/56987
I'm hoping to find some time to test it after I resolve issues with Musl.

[2019-04-05 15:22] pnkfelix commented on #53014
@michaelwoerister is the number of symbols in any fashion a *function* of the numbrer of object files and/or codegen units? In other words, is there a chance that imposing a smallish upper-bound could nonetheless resolve the problem here, in the short term?

[2019-04-05 15:24] pnkfelix commented on #53014
This is an interesting avenue to consider exploring...

[2019-04-05 15:35] michaelwoerister commented on #53014
No, I don't think so. At least not significantly.

https://github.com/rust-lang/rust/pull/56987 is a PR that tried to get rid of most Rust dylibs in the compiler. But that might just push the problem from `librustc` to `librustc_driver`.

[2019-04-05 15:41] kornelski commented on #58794
@gnzlbg We may be talking past each other? @xfix's solution uses per-call setjmp, and my goal is to avoid per-call setjmp. @xfix's solution requires wrapping of all FFI calls, and I'd prefer not to do that. It's the absolute worst case scenario where Rust adds both runtime cost and code complexity.

[2019-04-05 15:43] stjepang commented on #59725
Just a suggestion for a small change to the waker API that seems to be unaddressed: add a "wake and drop Waker" method, i.e. `wake()` variant that consumes `self`. Or change the `wake()` method so that it consumes `self`.

This is the most common pattern in practice - we typically don't want to reuse the waker after waking the task. Currently, in most executors, `wake()` will increment the refcoun

[2019-04-05 15:44] gnzlbg commented on #58794
Is there a way to avoid per-call setjmp for such a C library design in stable Rust today that does not invoke undefined behavior ?

[2019-04-05 15:46] kornelski commented on #58794
Assuming C++ unwinding through C is not UB, the current stable-compatible solution is to wrap each call in a C++ wrapper, use C++ exceptions for unwinding, and pass errors to Rust in some non-unwinding way.

[2019-04-05 16:05] aruiz opened #59726 "std::PathBuff::join("/some/path") overrides the original path in the resulting PathBuf"
When join's argument start's with "/" then join overrides any path present in &self making this code valid:
[code]
This is not documented and generates a lot of confusion.

[2019-04-05 16:10] steveklabnik commented on #40116
Yep, I think I agree. If anyone has a concrete plan, please open a new issue with one!

[2019-04-05 16:10] #40116 closed

[2019-04-05 16:10] jonas-schievink commented on #59726
It is documented: https://doc.rust-lang.org/std/path/struct.PathBuf.html#method.push

(`Path::join` refers to `PathBuf::push`)

[2019-04-05 16:12] steveklabnik commented on #40306
Ticki doens't do open source anymore, and yeah. Without specific improvements suggested, and both other people in this thread no longer around, I think we can close. Thanks!

[2019-04-05 16:12] #40306 closed

[2019-04-05 16:13] ExpHP commented on #59709
Even if whitespace was preserved, macros would be inappropriate for arbitrary text.  For instance, consider the following snippet of python:

[code]
which the rust lexer would consider to have unbalanced brackets.

If formatting is important, you should put it in a string literal.

[code]

[2019-04-05 16:15] xfix commented on #58794
Unwinding is going to be slow when it happens, it's by design. The cost will be here, whatever you do. Also, keep in mind there is no unwinding in C, and unwinding isn't going to work on any platform, for instance [it may not work on Windows when a library was compiled with an `/EHsc` option](https://docs.microsoft.com/en-us/cpp/build/reference/eh-exception-handling-model) (i.e. an option to consi

[2019-04-05 16:16] withoutboats commented on #59725
It can be done backward compatibly but the thing is it would require adding another constructor to RawWaker that takes the extra fn pointer, which doesn't seem great. I'd be in favor of solving this now, since I don't think its very controversial.

There are use cases where it would be more expensive to go by value, so we shouldn't just change the signature of wake without providing an alternative

[2019-04-05 16:21] cuviper commented on #58794
You definitely do need the compiler to add unwinding support on the C code, e.g. `gcc -fexceptions`.

[2019-04-05 16:22] gnzlbg commented on #58794
But that assumption is incorrect. It is UB, for many reasons:

- a Rust `extern "C"` function panics, which is something that is UB in Rust, independently of whether that function is used on C FFI or not
- an `extern "C"` function throws a Rust panics in C++, which is something that C++ does not expect from an `extern "C"` function, and is therefore UB in C++ (C++ doesn't expect such a function to

[2019-04-05 16:28] jethrogb commented on #59725
Do you mean “associated items”?

Do you mean “task module”?

[2019-04-05 16:29] sanmai-NL commented on #58794
You assume a lot here:
* The OSS ecosystem is the world?
* The number of reverse dependencies is proportional to a crate's importance?

[2019-04-05 16:30] cuviper commented on #58794
@gnzlbg I think the Rust factors in your reply wouldn't apply to what I infer @kornelski is doing:

- Rust code calls a C++ shim
  - C++ wraps a `try` around the C call
    - C encounters an error and calls the callback
      - C++ callback throws an exception
  - C++ catches the exception, translates to a plain error return value
- safely return to Rust

[2019-04-05 16:38] alexcrichton commented on #59637
For posterity, this had a pretty massive impact on CI times for the thre platforms that we disabled debug/llvm assertions for:

<img width="1162" alt="Screen Shot 2019-04-05 at 11 38 22 AM" src="https://user-images.githubusercontent.com/64996/55642905-5fc5fd80-5797-11e9-9a61-1c4eb7409f0f.png">

[2019-04-05 16:39] rlavande opened #59728 "Mutable references can be used after immutable ones are assigned"
Hello, I'm new to the community. I was learning Rust from the Book and came across an odd problem.

This example is as given in the Rust book

[code]

The compiler should give an error because 'word' lives on even after the last statement in main where then it goes out of scope but 'clear()' requires a mutable reference to 's' . So this should give a 'immutable after mutable' kind of error.

Howev

[2019-04-05 16:42] RReverser commented on #59728
This is something that used to be an error before, but got fixed / improved with non-lexical lifetimes in Rust 2018.

Now compiler is smart enough to see that `word` is actually not used anymore by the time you use `.clear()`, and so such usage sequence is valid.

[2019-04-05 16:43] jonas-schievink commented on #59728
Yes, this is non-lexical lifetimes working as intended. Closing.

[2019-04-05 16:43] #59728 closed

[2019-04-05 16:47] cramertj commented on #59725
+1-- thanks for bringing that up, @stjepang, I was also about to mention that change. I agree with @withoutboats's proposed solution.

[2019-04-05 16:48] denisandroid opened #59729 "Array lengths do not inherit outer unsafe blocks -- bad diagnostics"
[code]
PLAY: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e7374b639482f0ac6d0b168ff0c07a62

[2019-04-05 16:50] Centril commented on #59725
Another thing to note is that we need a `#[rustc_const_allow_fn_pointer_only_for_raw_wakers]` mechanism specifically for some of the APIs that are being stabilized to make it all work. See discussion in https://github.com/rust-lang/rust/pull/59119#discussion_r264841751 for an elaboration.

Basically we need a way on stable Rust to pass values of `fn` pointer types into `const fn`s. The aforementio

[2019-04-05 17:16] rlavande commented on #59728
Thanks for the quick reply!!

[2019-04-05 17:17] cramertj commented on #54716
Hm, looking at [that code](https://users.rust-lang.org/t/sender-implicitly-dropped-inside-a-generator/20874?u=nemo157) that actually seems like the behavior I *would* expect-- trying to receive from a channel that will never have any messages sent to it again *should* result in a `None` result, and the fact that the `None` was delivered sooner than would happen if we matched the semantics elsewher

[2019-04-05 17:20] Centril commented on #59729
This is interesting...

cc @oli-obk @varkor @eddyb @RalfJung

Is this a consequence of "anonymous constant"?

I'd add a test for now checking that the code above not compile so we can change it deliberately when we want.

[2019-04-05 17:57] bjorn3 opened #59731 "error: internal compiler error: src/librustc/ty/query/plumbing.rs:1195: Cannot force dep node: coherent_trait(core[30a9]::ops[0]::drop[0]::Drop[0])"
Repro at https://github.com/bjorn3/rustc_codegen_cranelift/tree/rustc_ice_coherent_trait_force

[code]

Edit: added instructions to reproduce from scratch

[2019-04-05 18:02] dessalines commented on #57771
It might be good to list which is the most recently working nightly on the readme here.

[2019-04-05 18:29] diwic opened #59732 "Lifetime mismatch on BTreeMap's lookup key"
The following code:

    struct MyMap(BTreeMap<Cow<'static,str>, Vec<u8>>);

    impl MyMap {
        fn get(&self, c: &Cow<str>) -> Option<&Vec<u8>> {
            self.0.get(c)
        }
    }

Fails to compile with the following error message:

    error[E0623]: lifetime mismatch
    this parameter and the return type are declared with different lifetimes...
    ...but data from `c` is returned

[2019-04-05 18:30] cuviper commented on #48229
This case is fixed by #59639 as of nightly-2019-04-05.

[2019-04-05 18:40] GuillaumeGomez commented on #59703
That's not very nice as output... I'll write something a bit better.

[2019-04-05 18:58] ZacLiveEarth commented on #59731
I'm experiencing the same issue since upgrading the latest version of nightly. It may be worth adding that for my project, `cargo build` and `cargo build --release` both work, but `wasm-pack test --node` produces the same error as in the original issue and `wasm-pack test --node --release fails` with the following...
[code]

[2019-04-05 19:03] mati865 commented on #59411
The issue only manifests when building with `src/ci/run.sh` and `DEPLOY` is set to something, building with `src/ci/run.sh` without environment variables produces working libraries.

Technical informations:
There are 2 `libbacktrace_sys-<hash>.rlib`: one from `stage1-rustc` and one from `stage1-std`.
Their sizes are interesting:
- without `DEPLOY` (no errors):
  - `stage1-rustc`: 85,2 KiB
  - `sta

[2019-04-05 19:10] Proximyst commented on #59726
Would it not be possible to add something such as `PathBuf::join_safely` which would handle such cases? This'd make it easier to avoid issues with files such as with webservers

[2019-04-05 19:15] cramertj commented on #59725
Another thing probably worth calling out is the list of `Try` impls for `Poll`. They're all designed to bubble up errors as easily as possible inside `Future` and `Stream` implementations, but they do not propagate `Pending`-- that is done with the `futures::ready!` macro. It's useful to have these as two separate steps, since it's relatively common in manual future implementations to want one but

[2019-04-05 19:30] torkleyy commented on #59731
Also experienced this issue:

[code]

Deleting the `target` directory fixed the error.

[2019-04-05 20:40] Mark-Simulacrum commented on #59732
I think the error message here is super confusing. I _think_ this should compile though, based on my interpretation of the lifetime elision rules. Interestingly, if `c` is changed to `c: &Cow<'static, str>` then this compiles. I think @nikomatsakis has been mentoring someone on this area of code recently (I recall seeing a video) so perhaps they know who might be interested in digging in further h

[2019-04-05 21:04] diwic commented on #59732
Thanks for triaging!

I don't think this has to do with the elision rules, I've been trying to add `'a` and `'b` without getting things to compile. Adding `'static` changes the meaning of the function to make it usable in less contexts, and it kind of rhymes with the error message that it would work, because if the data from `c` has `'static` lifetime then there is no problem with returning it.

T

[2019-04-05 21:24] steveklabnik commented on #42657
Small update, here's the code on godbolt: https://godbolt.org/z/BR-uGo

Looks like you still get the same asm today.

[2019-04-05 21:33] estebank commented on #56132
@rfcbot resolve unneeded

[2019-04-05 22:10] ZacLiveEarth commented on #59731
I have found that deleting the `target` directory does indeed fix the error, but after some time coding the error may return. This information may be useful to rule out the possibility the issue was caused by having something in the `target` directory from an older nightly build. (If you recall, I had first experienced this issue after upgrading, but now I see the issue when only using `rustc 1.35

[2019-04-05 22:15] CraZySacX commented on #57771
Rust Toolstate shows current status:  https://rust-lang-nursery.github.io/rust-toolstate/

[2019-04-05 22:20] joshtriplett commented on #58794
On Fri, Apr 05, 2019 at 04:26:33AM -0700, Kornel wrote:

This sounds potentially viable to me. There is, as I understand it,
currently such an attribute available on nightly Rust, so one route
would be to see if that attribute works for you, and if so, stabilize
it.

If that attribute *doesn't* work for you, let's figure out what would.

I'm happy to help review RFCs with you.

[2019-04-05 22:45] nnethercote commented on #59718
I'm asking why a global data structure requires TLS to access it... global data structures and TLS seem entirely orthogonal and incompatible to me. Clearly I'm missing something. What does "multiple instances per process" mean -- instances of what?

[2019-04-05 23:16] polybuildr commented on #57443
Sorry for the delay here. I've been refactoring and cleaning up the code and I'm closer to being able to send it for review.

However, I realised my initial logic felt a bit off and I'll need a bit of help, @oli-obk, to figure out what the right approach is. I realised I was mixing `semver::Version` and `semver::VersionReq`s in sightly odd ways, considering that versions in Cargo.toml dependencies

[2019-04-05 23:32] ehuss commented on #59554
@gruberb The unstable book is generated by a tool (`unstable-book-gen`) which processes and copies the files from `src/doc/unstable-book` to `build/*/md-doc/unstable-book` and then mdbook is run against that folder to save the output to `build/*/doc/unstable-book`.

I would probably edit [`unstable-book-gen`](https://github.com/rust-lang/rust/blob/acd8dd6a50d505057a7d7ad8d0d7a4c2bd274200/src/tools

[2019-04-05 23:51] oxalica opened #59743 "`Metadata::created()` not working on Linux with `statx`"
First of all, it now returns an Err with "not available on this platform currently".
But I found that there is a system call [`statx`](http://man7.org/linux/man-pages/man2/statx.2.html) available in Linux kernel 4.11, which can get the birth time.

As the [doc](https://doc.rust-lang.org/nightly/std/fs/struct.Metadata.html#method.created), the function uses  `stat` on Unix platforms. But the [`stat

[2019-04-06 00:26] Mark-Simulacrum commented on #59718
Rustdoc will use rustc_driver and a set of other APIs to essentially attempt to call rustc as if it was a function. That spawns a thread (or more, with the parallel compiler enabled); each of those threads receives its own copy of these proto-globals; that means that they aren't necessarily *global* in the standard sense -- more so rustc-local.

[2019-04-06 00:51] brettcannon commented on #59543
@DevQps since I didn't even think of expanding `impl<'a> Iterator for SplitPaths<'a>` for the info (which in hindsight makes sense), my answer is "yes, mentioning it explicitly as part of the main summary would be handy".

As I said, if this is deemed reasonable I'm happy to do the PR to add the change.

[2019-04-06 01:36] #59137 closed

[2019-04-06 05:34] DevQps commented on #59543
@brettcannon That would be great! Let us know what you come up with!

[2019-04-06 08:21] bjorn3 commented on #59731
Only deleting `target/*/incremental` is necessary it seems.

[2019-04-06 08:57] RalfJung opened #59746 "Miri component missing even though toolstate is green"
According to https://rust-lang-nursery.github.io/rust-toolstate/, Miri's tests are currently passing, but still as we can see at https://rust-lang.github.io/rustup-components-history/, the Miri component is not actually available. I am not sure what is going wrong.

Cc @oli-obk @rust-lang/infra

[2019-04-06 09:12] kennytm commented on #59746
The bug is the components history's date is at 2019-04-03.

[2019-04-06 09:17] RalfJung commented on #59746
Oh, you are right. I saw some other CI failures elsewhere and thought they were caused by the component not being available, but instead that was just another instance of https://github.com/rust-lang/miri/issues/675. Sorry for the noise!

[2019-04-06 09:17] #59746 closed

[2019-04-06 09:24] RalfJung commented on #59729
Seems like unsafety is not propagated into constants. Not sure if it should.

For `const` items, not propagating seems consistent with not propagating into nested `fn`. But for embedded constants like this, it seems surprising, given taht we *do* propagate `unsafe` into closures.

[2019-04-06 09:50] najamelan commented on #54716
In the code from the user forum, it seems to me there is a logic error. The user wants to select on 2 channels, detecting which one closes first, while expecting them to close both at the same time (when the fn having the senders ends). This doesn't make sense, so I don't think it's rusts fault if this breaks. In an ideal world there would be a compiler warning or lint detecting logic errors, but

[2019-04-06 12:23] eddyb commented on #59725
It just crossed my mind that the `RawWaker` (and the associated vtable) can be made safe to construct: https://github.com/rust-lang/rust/pull/59739#discussion_r272793941

Does anyone know if that had been discussed before? Or even tried and found "subtly impossible (right now)"?
Because I'd rather avoid adding a stable API involving `*const ()`.

[2019-04-06 13:07] agnxy commented on #53287
Hi @steveklabnik
I'd like to work on this and opened #59748 to add a section about trademarks. But I'm not sure whether I made appropriate wording. Could you please help to review? Thanks a lot.

[2019-04-06 14:09] eddyb commented on #59718
@nnethercote All "globals" in rustc are "thread-local globals" - as in, they're "global" in the sense of "accessible from a function with no arguments" but scoped to a thread.

And by "rustc supports multiple instances" I meant "multiple instances *of itself*", i.e. multiple `rustc` invocations, running concurrently, on disjoint threads, but not interfering eachother.
(But @Mark-Simulacrum explain

[2019-04-06 14:20] petrochenkov commented on #59718
cc https://github.com/rust-lang/rust/pull/59749 (Measure upper limit for performance of 32 bit `Span`)

The same thing can be measured for the symbol interned as well, I guess, to estimate the impact.

[2019-04-06 14:37] lzutao commented on #59726
@Proximyst  You could use `Path::is_absolute` to check if the path is independent of the current directory.

[2019-04-06 14:47] adrian17 opened #59750 "regression: conflicting trait impls because `Box<dyn Fn*>` now implements `Fn*`."
Most likely related to https://github.com/rust-lang/rust/pull/59500 ?

Simplified reproduction:

[code]

Before: compiles on stable, beta, previous nightly
On latest nightly:

[code]

I do not know whether that was expected and should be fixed on my side, or is it an unintended breakage.

[2019-04-06 15:12] JohnTitor commented on #55708
Is this already fixed? I couldn't reproduce this issue.

[2019-04-06 15:46] Centril commented on #59750
Minimized reproduction:
[code]

The issue here is that `Box<dyn FnOnce()>: FnOnce()` and so if you set `C = Box<dyn FnOnce()>` you have `impl B for Box<dyn FnOnce()> {}` twice => overlap.

[2019-04-06 16:07] Mark-Simulacrum commented on #59732
I was able to further constrain the problem to https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fcec53f39cb71a972166f1853de5ea1f, which has the same error message and I believe is caused by the same problem; though I'm not entirely sure, I suspect it might have something to do with the variance of trait generics.

[2019-04-06 16:29] Avi-D-coder opened #59753 "Enum variant struct pattern matching inconsistency?"
Given an enum with this shape.

[code]
In order to pattern match multiple `Foo` variants together an extra struct is required.
[code]

Why doesn't the following work with the original enum struct?
[code]

[2019-04-06 16:31] mtak- commented on #47336
Any movement on this? A cursory search of github for "new_unchecked into_raw" shows examples of the `unsafe { NonNull::new_unchecked(Box::into_raw(b)) }` pattern.

[2019-04-06 16:33] jonas-schievink commented on #59753
Questions like this are best asked on the user forum at https://users.rust-lang.org/. We try to keep this issue tracker for bugs only.

The feature you're looking for is probably "enum variant types" https://github.com/rust-lang/rfcs/pull/2593

[2019-04-06 16:33] #59753 closed

[2019-04-06 17:11] Centril commented on #59725
So... based on @eddyb's idea and discussions with them as well as with @Nemo157,
I'd like to propose a last-last minute change to the API, namely:

[code]

No other public facing changes are made.

An implementation exists in [a playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=225ebf871504d5640be1413cc460ec9d) (aside from `#[rustc_allow_const_fn_ptr]` which is i

[2019-04-06 17:25] eddyb commented on #59725
Note that if you just change `*const ()` to `*const T`, users don't have to change because they can just rely on `T` being inferred to `()`, so that's one compromise you could make.

[2019-04-06 17:59] carllerche commented on #59725
FWIW, w/ raw pointers, it is possible to store additional data in used pointer bits, rendering the pointer invalid. This would be fine if the invalid pointer is passed to a vtable fn as a raw pointer, but passing it as a ref would forbid this use case.

[2019-04-06 18:15] Centril commented on #59725
@carllerche So then to support that use case you'd want?:

[code]

(`NonNull<T>` should work since it is a `#[repr(transparent)]` newtype to a `*const T`)

The change to `() -> T` still buys us some type safety. The `for<'a> fn(&'a T)` variants can probably be added later as an additional associated function on `RawWakerVTable`.

[2019-04-06 18:25] carllerche commented on #59725
@centril I don't have an opinion on the details as long as the use cases are supported (non valid pointers and forwards compatibility).

[2019-04-06 18:27] Centril commented on #59725
@carllerche Fair :) Thanks for the input!

[2019-04-06 18:30] gnzlbg commented on #58794
@sanmai-NL

The argument was made that because `mozjpeg` is used in Firefox, it is an important crate.

My point is that if we let this to factor into this decision we are setting the horrible precedent that if you make an "important" project like Firefox depend on undefined behavior, then the language team will define the behavior in your favor.

With the statement that `mozjpeg` has two reverse

[2019-04-06 18:33] gnzlbg commented on #58794
@cuviper I don't see there anything about unwinding through Rust code, so maybe we are talking past each other like @kornelski suggested.

[2019-04-06 19:06] varkor opened #59756 "Suggestion to remove `?`"
[code]
produces:
[code]
It would be helpful if Rust suggested removing the `?` here, as without it, the function has the correct return type.

[2019-04-06 19:23] pietroalbini opened #59757 "arm-android docker image is broken after a rebuild"
Any freshly built `arm-android` Docker image is unable to build the compiler, crashing with a QEMU error message:

[code]

The image currently in the cache is fine, but if that image has to be rebuilt for whatever reason CI is broken.

cc @rust-lang/infra

[2019-04-06 20:07] cuviper commented on #58794
AIUI the *current* implementation unwinds through Rust. The C++ shims are what they would have to otherwise use to avoid this, but that's cumbersome to write for every possible call.

Perhaps using the [cpp](https://crates.io/crates/cpp) crate could at least keep this inline.

[2019-04-06 20:08] Matthias247 commented on #59725
Why `NonNull`? For something like a global executor one doesn't need the pointer data, and it could simply stay unused/null. Of course it could also be set to a dummy value, but what would be the rationale for this?

[2019-04-06 20:17] Centril commented on #59725
@Matthias247 Well the thinking was that you wouldn't want to pass in `null` to this so it would be more type-safe to use `NonNull`. I'm happy to use `*const T` instead.

Really, the bigger point was to move from `()` to `T` and let `RawWakerVTable` be generic. I think that is more type-safe and since it is generic it also offers better code reuse.

[2019-04-06 20:58] Songbird0 commented on #59703
As you requested @GuillaumeGomez, here's the backtrace:

[code]

[2019-04-06 21:31] Xanewok opened #59761 "Decouple nightly RLS from Clippy"
Context
------
As you must've [noticed](https://rust-lang.github.io/rustup-components-history/) the RLS and Clippy are not shipped with nightly builds for quite a few releases now. This happens when a change lands to the Rust compiler and a tool cannot be built or its test fail when using the currently built compiler. Currently, the RLS explicitly depends (in Cargo sense) on Clippy, which means th

[2019-04-06 21:37] Manishearth commented on #59761
FWIW the current breakage is very much not the norm, it's due to some complex things with the libtest stuff and a lack of time from the people who understand rust's build system. It took this long because we kept waiting on others, otherwise clippy breakages get fixed in one or two days.

We're reverting the libtest stuff so that clippy can work again.

This is being worked on too.

[2019-04-06 21:40] Manishearth commented on #59761
Overall the UX experience of nightly users who want to use tooling is actively being worked on by @kinnison , the rough plan right now is to have rust publish a "last known good" nightly version for a subset of tools, and teach rustup about it.

Overall we seem to be shifting towards shipping RLS and clippy together, always (instead of people using tools individually leading to more permutations),

[2019-04-06 21:55] Codeseys opened #59762 "rustc compiler bug?"
error: internal compiler error: src/librustc/ty/query/plumbing.rs:1195: Cannot force dep node: coherent_trait(core[c27c]::ops[0]::drop[0]::Drop[0])

I got this with
[code]
but instead of compiling it gave me the above error/bug

I'm running rustc 1.35.0-nightly (acd8dd6a5 2019-04-05) running on x86_64-unknown-linux-gnu

I don't know what's happening but I had issues with windows not letting me acc

[2019-04-06 22:02] Xanewok commented on #59761
I tried to emphasize that in the OP as well, hope that's visible there

I'm also aware of the work done in the Rustup area (which is great!), however I believe there's a lot of merit of doing the best-effort thing here and keeping the RLS separate from Clippy on the *build* level.

I know there was an idea/conversation/RFC (by @nrc I believe) to introduce rustup "profiles", which is a set of compo

[2019-04-06 22:04] Manishearth commented on #59761
This sounds like a good step forward.

Yeah, I'm all for separating things out, I just want to caution against doing it as a reaction to what is mostly a one-time thing.

[2019-04-06 22:06] nnethercote commented on #59718
So "thread" doesn't actually mean OS thread, but a rustc invocation that contains one or more OS threads, depending on whether rustc is serial or parellel. And `GLOBALS` isn't properly global, but only global w.r.t. a single rustc invocation.

These names are... well... I now feel more justified about my prior confusion. I've seen the word "session" used in the code, does that match "rustc invocat

[2019-04-06 22:08] jonas-schievink commented on #59762
duplicate of https://github.com/rust-lang/rust/issues/59731

[2019-04-06 22:08] #59762 closed

[2019-04-06 23:38] varkor opened #59763 "Suggest parenthesising multiple arguments to dbg!()"
[code]
It would be nice if the compiler suggested the intended form: `dbg!((5, 10))` as this seems like a reasonable mistake. This is specific to a particular macro, though, so I'm not sure how flexible we can be with diagnostics here.

[2019-04-06 23:42] ZeGentzy commented on #59716
I also had this bug. Happened after I ran a `cargo fmt`.

[code]

I don't know exactly what rustfmt changed, but here's all the changes since my last commit (mostly doc changes): https://gist.github.com/ZeGentzy/20398fb571ca5f73e08c00338ffb669a

Based off this commit: https://github.com/ZeGentzy/glutin/commit/1defedfe49839f7cb130926128b62712f16dfd7d

`cargo clean` rids me of this issue.

Running `

[2019-04-07 00:38] kornelski commented on #55900
The sheer size of it seems to be the problem. There's too much to load:

![webpagetest](https://user-images.githubusercontent.com/72159/55676885-85592100-58d5-11e9-87b4-c407ebe2fa71.png)

and too much for CSS to lay out:

<img width="780" alt="devtools" src="https://user-images.githubusercontent.com/72159/55676898-b5082900-58d5-11e9-9eb8-c81790f5961e.png">

I've never seen layout take so long, and

[2019-04-07 00:44] whitfin commented on #59378
@oli-obk I took a look at this and all tests seem fine in `librustc_mir` just dropping in the code you have above as you said.

However  I just wanted to check https://github.com/rust-lang/rust/blob/master/src/librustc_mir/const_eval.rs#L625-L627 is no longer needed? Pretty unfamiliar with this code so I wanted to confirm before submitting as it's not explicitly mentioned in the other thread that

[2019-04-07 00:54] jcranmer commented on #58794
That is something that can be changed (as is proposed to be changed).

These two points are actually false. The C specification says nothing about unwinding, but we're in the realm of relying on compiler options that are in effect changing the version of C we're using to a (admittedly poorly-documented) variant of the C standard that isn't vanilla C11 or what have you. Similarly, C++ doesn't say t

[2019-04-07 01:10] varkor opened #59764 "Suggest importing macros from crate roots"
Consider a directory for a crate `mycrate`:
[code]
`foo.rs` declares a `macro_rules! makro` macro and `#[macro_export]`s it.

In a separate crate, a user writes:
[code]

This is because `#[macro_export]` exports the macro in the crate root [rather than the module in which it is defined](https://github.com/rust-lang/rust/issues/58914#issuecomment-469265938).

It's very difficult to debug this if yo

[2019-04-07 01:28] memoryruins commented on #55900
Layout takes around 15-17 seconds on my laptop for both stable/nightly versions of the docs.

![iter-docs-0](https://user-images.githubusercontent.com/6868531/55677122-20d79b00-58b0-11e9-8bad-8cc2e698ee4e.png)

CPU: Intel i5-4300U (4) @ 2.900GHz
Browser: Firefox 66.0.2 (64-bit)

Safari on an iPhone 5s takes roughly 50 seconds before loading text at the top of the page.

[2019-04-07 07:14] matthiaskrgr commented on #59761
Shameless plug: https://github.com/rust-lang/rustup.rs/issues/1501 would probably help here.

[2019-04-07 08:06] oli-obk commented on #59378
Yes that should be removed, too. It will automatically be run when fetching the MIR of the current constant.

[2019-04-07 08:19] eddyb commented on #49147
I left a comment elsewhere, I think it would be fine if this were restricted to Rust 2018: https://github.com/rust-lang/rust/issues/54542#issuecomment-478261027

[2019-04-07 08:21] eddyb commented on #53491
@Centril Heh, I don't think I saw your comment here when I wrote this elsewhere: https://github.com/rust-lang/rust/issues/54542#issuecomment-478261027

[2019-04-07 09:30] stefson opened #59767 "the compile of rust-std-aarch64-unknown-linux-gnu pulls in hosts cflags and fails"
this is the error from the commandline:

[code]

[code]

[2019-04-07 09:32] stefson commented on #59767
this is my config.toml:

[code]

[2019-04-07 09:33] stefson commented on #59767
Setting a rust-std for `[target.armv7-unknown-linux-gnueabihf]` via config.toml works just fine.

[2019-04-07 09:34] samcday commented on #55900
Just weighing in on my 2c worth here.

Just because it's 2019 doesn't mean it's reasonable to be shipping 12mb HTML files to users. Browsers today are super smart and fast and all, but actually they're not really much different to how they were 10+ years ago in one important sense: virtually all painting / reflow events can only take place on the main UI thread.

As a result, forcing the poor brow

[2019-04-07 09:46] samcday commented on #55900
I opened #59768 as a stopgap to alleviate this issue a bit.

It doesn't do anything to tackle the size of the Iterator doc page, but it does halve the time it takes to reach DOMContentLoaded on my machine. It does this by simply starting with all Implementors collapsed.

[2019-04-07 10:22] stefson commented on #59767
The build log for more info: [build.log.zip](https://github.com/rust-lang/rust/files/3051457/non-verbose-build.log.zip)

[2019-04-07 10:50] Centril commented on #59763
Or we could just make the macro accept `dbg!(5, 10)`...

[2019-04-07 12:01] gnzlbg commented on #58794
@jcranmer

You are stating that the behavior of these things is defined in all languages involved (by stating that my claim is false), yet continue right in the next sentence to state that the behavior is indeed undefined.

Note that I wrote (emphasis mine):

The concept of a Rust panic does not exist anywhere in the C and C++ standards (the concept of unwinding doesn't even exist in the C standar

[2019-04-07 12:24] rchaser53 commented on #59488
I'd like to work on this.
Add the sentence "did you forget the ‘()’ ?" like below.
If is it ok, I will send the PR.
@estebank

[code]

[2019-04-07 12:32] iology commented on #42350
Coming from BurntSushi/walkdir/23

I hope you reopen this issue since the doc doesn't specify the detailed implementation of this function. Maybe there could be an improvement? Have people already discussed this topic somewhere?

[2019-04-07 13:44] xfix commented on #58794
Strictly speaking, creating a pointer to a packed struct field is safe. For `#[repr(packed, C)]` structures, you can get a pointer to a structure, and add sizes of all fields before the field you want to access (it's packed, so alignment is non-issue, and C representation guarantees ordering). It can be done without using `unsafe` at all or triggering any warnings, so if it causes UB then it's a s

[2019-04-07 13:56] Arignir commented on #31436
How far are we from stabilizing try blocks? It's the only feature i need from nightly :D

[2019-04-07 14:02] GuillaumeGomez opened #59771 "--resource-suffix option isn't applied to search-index.js"

[2019-04-07 14:14] withoutboats commented on #59725
@eddyb @Centril I am not in favor of pursuing this change to the futures API.

First, the only additional check you're encoding in the type system is that when you construct a RawWaker the data pointer you pass has the same type as the arguments to your vtable function. This will not actually prevent you from having to do unsafe casts, since you want is not actually a *const but actually usually a

[2019-04-07 14:14] roblabla commented on #54912
I would like to add my voice to getting this stabilized. I use it for two reasons: using static_assertions without having to put a dummy function name (see [static_assertions limitations](https://docs.rs/static_assertions/0.3.1/static_assertions/#limitations)) and to include external files from proc macro (from [internals talk](https://internals.rust-lang.org/t/pre-rfc-add-a-builtin-macro-to-indic

[2019-04-07 14:15] andrehjr commented on #59597
Hi @mark-i-m I played with it a bit more, I think I'm on the right track. Just need some refactoring :) And ensure everything is working as expected.

I was able to call the check_links programmatically passing a RenderContext from the md_book. Also note that mdbook-linkcheck only supports mdbook > 2.

I ended up adding a new subcommand on mdbook just for linkchecks, I can tweak it into the other

[2019-04-07 14:23] gnzlbg commented on #58794
@xfix I wasn't talking about safety, I was mentioning that it is impossible to do so in general without invoking undefined behavior (e.g. by creating a misaligned reference first). This is fully offtopic, but it is not possible to do this for all `repr(C)` types either (we can take this discussion offline though).

[2019-04-07 14:32] zhuxiujia opened #59773 "vec.clone() is slow"
[code]
Why is VEC cloning so slow? Causing String struct to be slow？？

[2019-04-07 14:35] Centril commented on #59725
It won't, this is true. However, if we take e.g. @Nemo157's [embrio-rs](https://github.com/Nemo157/embrio-rs/blob/master/embrio-executor/src/waker/default.rs) then we can move from:

[code]

into:

[code]

This seems to me strictly better and more since it has fewer casts.

The use of `EmbrioWaker` above does not seem arbitrary to me. It seems meaningful.
However, if you want to keep using `()`, y

[2019-04-07 14:49] RalfJung opened #59774 "rustc panicked at 'Metadata module not compiled?'"
With the following code
[code]
I *sometimes* get this error:
[code]
When I [run this many times on playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cfd43e11c42fd33e8aa5d90ce539affa), the error comes and goes (just keep pressing "Run"). Seems to be some sort of race condition.

The backtrace is rather useless:
[code]

[2019-04-07 15:12] #59757 closed

[2019-04-07 15:13] Centril commented on #54912
Hmm... I'm having second-second thoughts about this.

Provided that we also stabilize `static _: TYPE = EXPR;`, so as to keep `const` and `static` items as much as possible in sync...

...I think we should move forward with this.

It clearly solves an important use-case and interactions with associated consts, generic consts, and other patterns is something that I think we can have in the same sys