[2022-01-23 21:01] #93246 closed

[2022-01-23 21:10] teoxoy opened #93248 "ICE: `feature(generic_const_exprs)` when assigning a default value for an array using an associated constant of a supertrait as its size"
Assigning a default value for an array using an associated constant of a supertrait as its size and trying to compile the following code via either `cargo run` or `cargo build` results in an ICE.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-23 21:35] catenacyber opened #93249 "Integers comparison proposed fix is not the best one"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d1da64277f7c213e013bf8d262aaf13f

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I expect a comparison between 2 integers of different types to use the largest type to get the right result

cf https://github.com/OISF/suricata/commit/6f03ee2e47d331aa29524d81777c97

[2022-01-23 21:37] gxtaillon commented on #32664
Looks like sscache does not support ARM at this time (see https://github.com/mozilla/sccache/issues/656), so it would not be possible to use it on a raspberry pi farm to speed up iterative development.

[2022-01-23 21:39] leonardo-m commented on #93249
Perhaps:

    if a.try_into().unwrap() > b {

[2022-01-23 21:55] eddyb commented on #93215
@Mark-Simulacrum I believe something like `IntervalSet` used to exist and was considered too cumbersome.
Maybe the presence of a reusable abstraction might be enough to let miri use that?

<hr/>

To what end? Accessing it won't be more efficient than a pointer to a heap area - passing a `&mut [[u128; COLS]; ROWS]` around as a function argument (i.e. no globals), pointing to the heap, is probably t

[2022-01-23 22:08] arctic-hen7 commented on #93106
I sporadically have the same issue, particularly with Clippy. After `cargo clean`, things will sometimes work, and then they'll fail again. Doesn't seem to actually impact anything, I'll still get accurate error messages etc.

[2022-01-23 22:41] MomoLangenstein commented on #75744
I guess I meant the `if cond { break }` as more of an example that breaking if a condition is met is probably more common than continuing of a condition is met. In my use case, a simulation with a user-provided early-stop condition, I need to construct `ControlFlow` based on a boolean condition inside a closure, the return value of which is used inside the simulation to determine whether to go on

[2022-01-23 22:54] is8ac commented on #73298
Different trigger. Allocating with `MaybeUninit` causes an ICE, but simple `[R::bar(); 1]` works.

[code]

[2022-01-23 22:55] dylni commented on #76393
@jendrikw Unfortunately, I doubt it. This function is used primarily to apply a length to a range. It returns the same range for `(Unbounded, Excluded(length))` and `(Included(0), Unbounded)`, for example.

[2022-01-23 23:11] camelid commented on #88791
Hmm, it's an interesting idea, although I'm not sure the extra implementation complexity is worth it. Scraped examples are handled by a totally different code path from non-scraped examples.

I also don't think we should use bold (or italics, for that matter) in code blocks. Bolded code doesn't look good IMO.

[2022-01-23 23:42] m-ou-se commented on #93249
Two important things to note:

1. We should not suggest anything with `as` if `into()` or `from()` works instead. `as` silently truncates and might do other unwanted conversions if the types change.
2. `usize` isn't necessarily the same size or bigger than `u32`. `usize` might be 16-bit on some platforms. So when one of the types is an `usize` (or `isize`), there's not really a 'largest type', sin

[2022-01-23 23:59] m-ou-se commented on #93228
That's very surprising.

For thread parkers we call the futex() syscall directly without any of the glibc code you linked. As far as I know, the only way that code gets invoked is through pthread primitives like `pthread_mutex_t`, on which Rust's standard `Mutex` is based. Looking at all possible errors that `futex()` can return for the different (non-PI) operations, I don't see any that would mat

[2022-01-24 00:13] mkeeter opened #93252 "Confusing lifetime suggestion with multiple references and impl Trait"
Given the following code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=acbea93c84794b22e175b4359e41ccfa))

[code]

The current output is:

[code]

This is confusing, because making the suggested change (of adding `'_` to the `impl Trait`) doesn't actually work ([playground Link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a8

[2022-01-24 00:23] Mark-Simulacrum commented on #93034
@craterbot retry

[2022-01-24 00:24] Mark-Simulacrum commented on #93034
@craterbot retry name=beta-1.59-1

[2022-01-24 01:06] willcrichton commented on #88791
Here's what it would look like to just highlight the function name.

![Screen Shot 2022-01-23 at 5 04 19 PM](https://user-images.githubusercontent.com/663326/150706444-70ab80d6-c1f3-4d60-b560-4406b531544a.png)

![Screen Shot 2022-01-23 at 5 04 42 PM](https://user-images.githubusercontent.com/663326/150706439-72f19371-7af7-448a-84dd-aec2e92faaa6.png)

(I could include the parentheses, although I'm

[2022-01-24 01:08] saethlin commented on #93215
@Mark-Simulacrum I think I was mistaken to point to `InitMask` as a problem. It's surely where most of the compile time is coming from, but I think the memory consumption comes from MIR just doing a copy (in the minimal case) or two (in the case of `lazy_static` with a `Mutex`) of the intended array.

@eddyb

It looks to me like there is currently `InitMask` and `InitMaskCompressed`, and in this p

[2022-01-24 01:24] jsha commented on #88791
I like that variant a lot!

I feel its worth it. It shouldn't block implementation here, but it's worth doing eventually. As a reader, I look at the "Example" and "Examples found in repository" and wonder why the name is highlighted in one place and not the other.

I suspect that has a lot to do with the particular font-face and whether it has a dedicated bold weight or [it is using fake bold](htt

[2022-01-24 01:42] camelid commented on #88791
That's actually another UI concern of mine. I think we should try to make the scraped-examples section look different from user-written docs. The "Examples found in repository" appended as a regular Markdown heading has always bothered me a bit.

[2022-01-24 02:10] willcrichton commented on #88791
@camelid here's a few concepts, like any of them?

## Option 1: Left border

![Screen Shot 2022-01-23 at 6 07 32 PM](https://user-images.githubusercontent.com/663326/150710920-d797d8f2-2d76-4459-a911-6e6961e63d7d.png)

## Option 2: Top border

![Screen Shot 2022-01-23 at 6 07 56 PM](https://user-images.githubusercontent.com/663326/150710859-36c505c3-07c1-4838-a949-4c566fcfdfb8.png)

## Option 3: B

[2022-01-24 02:20] #93141 closed

[2022-01-24 02:20] #93150 closed

[2022-01-24 02:20] #92954 closed

[2022-01-24 02:41] tshepang commented on #88791
I likes me some option 3

[2022-01-24 03:22] JakobDegen commented on #91449
@YangKeao I'm not sure I understand the example. Doing the optimization on the first example would be incorrect in C. That computation is actually allowed to overflow, because in C the operands get promoted to ints first before the subtraction happens, and then the result is truncated back when you do the assignment. Note that there's no `nsw` on the `add` in the first example.

[2022-01-24 03:24] workingjubilee commented on #93187
A compiler toolchain, essentially by definition, "does something suspicious": generate a new program and then run it, potentially trashing existing files somewhere along the way. Why, do you know what does that? Viruses do that! It is a small miracle of programming and perhaps tribute to antivirus creators that the Rust toolchain is not always detected as a virus... or maybe a bug, since, naturall

[2022-01-24 03:52] JakobDegen commented on #91449
Having more experience with LLVM now than when I wrote this, I've [minimized the problem in LLVM](https://godbolt.org/z/rdbnnef5T) and will file a bug report with them

[2022-01-24 04:58] deepu105 opened #93254 "MIR compiler error in latest nightly"
In nightly (22-Jan-22) I started getting the below compiler error in my project [KDash](https://github.com/kdash-rs/kdash). [Here](https://github.com/kdash-rs/kdash/runs/4915839142?check_suite_focus=true) is the failing build

### Code

[code]

[Here](https://github.com/kdash-rs/kdash/blob/main/src/app/mod.rs) is the source file

### Meta

`rustc --version --verbose`:
[code]

### Error output

[co

[2022-01-24 06:16] jsha commented on #88791
With https://github.com/rust-lang/rust/issues/59829, https://github.com/rust-lang/rust/issues/59851#issuecomment-488976397,  we're trying to reduce the use of horizontal lines spanning the page, because they draw attention more strongly than regular headings do, and can make it look like, e.g. "Examples found in repository" is a more important heading than `pub fn arch`. So of these 3, I prefer Op

[2022-01-24 06:47] JakobDegen commented on #91449
[As per advice on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187780-t-compiler.2Fwg-llvm/topic/When.20to.20close.20issues/near/269064722) I'm closing this, since there's not much Rust can do in any case

[2022-01-24 06:47] #91449 closed

[2022-01-24 07:17] WaffleLapkin commented on #79657
Hey @avirule! I wanted to find an MCVE, but couldn't reproduce the crash at all.
- `1.48.0` can't find `core` for the target, for some reason
   <details><summary>Details</summary>
   <p>

[code]
   </p>
   </details>

- Old nightlies like `nightly-2021-02-05` and `nightly-2020-11-16` can't find rust-src
   <details><summary>Details</summary>
   <p>

[code]
   </p>
   </details>
- Newer nightlies

[2022-01-24 08:03] hniksic commented on #93215
That should actually be the original code in the report. The line from `top` shows the compiler having allocated 100 GiB virtual memory (and presumably not getting killed due to overcommit). Maybe the difference is that I was compiling it in release mode?

[2022-01-24 08:13] vilgotf commented on #43781
This feature currently doesn't document feature gated function arguments:
[code]

[2022-01-24 09:01] lqd commented on #93197
That's a great first step, thanks. It still relies on `tokio` and could still be minimized, if anyone would want to take a stab at that.

[2022-01-24 09:22] M1cha opened #93257 "slow compilation of large struct with `Box`-members and `?` in field init"
I'm generating some large struct and reduced it to a very specific sample.
Here's the code:
https://github.com/M1cha/rust-bugs/tree/slowcomp-large-struct

So basically I have a single large struct that looks like this
[code]

and an impl like this:
[code]

With 400 fields, this compiles for 54s on my machine.
There's a lot of things that will make that code compile fast(<2s):
- use field types wit

[2022-01-24 09:28] GuillaumeGomez opened #93258 "Add GUI test for forward/back after changing theme"
Once https://github.com/GuillaumeGomez/browser-UI-test/issues/245 is fixed, we will be able to add the GUI test for https://github.com/rust-lang/rust/pull/93253.

cc @jsha

[2022-01-24 11:20] #92881 closed

[2022-01-24 11:24] M1cha commented on #93257
So apparently the issue is that rustc is generating too much code since the function is over 4MiB in debug mode and <100KiB in release mode(which takes over 3min to compile).

If I move the function calls out of `Self {}` it generated way less code though and compilation is fast again:
[code]

Does this code have a different meaning(maybe in regards to calling `drop` on failure?) or is that actual

[2022-01-24 12:33] michaelwoerister commented on #60705
FYI, @lqd opened a PR that extends the RFC with "vendor-specific suffixes" like `.llvm.123`: https://github.com/rust-lang/rfcs/pull/3224

Please provide your feedback if you have any.

[2022-01-24 12:45] catenacyber commented on #93249
Good to know, thanks.
I hope there is a clip warning for using `as` when I could have used something else

I wonder if there were 16-but platforms... so now, I understand the complexity there.
In my use case, the target is either 32 or 64 bits.
And I guess the rust compiler knows it at some point, like with `CARGO_BUILD_TARGET`.
Even if the rust compiler does not know, I would like the error messa

[2022-01-24 13:23] timothee-haudebourg opened #93262 "GAT: lifetime is inconsistently required with Higher-Rank Trait Bounds"
I'm getting weird error messages by combining GATs with HRTBs. Here is an example:

[code]

This was working fine with rustc 1.58. Now with 1.60 I get the following error message:
[code]

There are a couple of weird things going on:
- First, it was my understanding that the `for<'a> <T as Trait>::Assoc<'a>: ...` bound is well formed and should be accepted by the compiler even though the `where Sel

[2022-01-24 13:51] sunfishcode commented on #90964
@yoshuawuyts Thanks for following up! I think we generally agree that some form of `try_as_handle` would more precisely describe how Windows works here. The next question is whether this precision is worth the downsides of the asymmetries it would introduce, both in the `AsHandle` vs. `AsRawHandle` dimension and in the `AsHandle` and `AsFd` dimension. These asymmetries will make porting code from

[2022-01-24 13:53] piegamesde opened #93265 "`memcpy` implementation is too large on embedded"
I used the following code to copy a memory region around on an embedded `riscv32im-unknown-none-elf` target:

[code]

Modulo some checks, this resolves to a jump with a `memcpy` implementation that looks like this in a disassembler:

[code]

For something that could just be a loop copying bytes, this is *huge*. I did not have a deep look at it, but as far as I can tell, the main loop at the end is

[2022-01-24 14:42] Soskretkov commented on #79532
The problem may be caused by trying to synchronize folders in the cloud.

[2022-01-24 14:55] Fancyflame commented on #79532
@Soskretkov At least I think it's not for me. It doesn't make a sense for the system trying to backup regular files in a regular application automatically in Android.

[2022-01-24 15:38] MinMagar opened #93266 "Option::unwrap() on None value"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-24 15:47] pnkfelix commented on #91671
On the LLVM side, this was fixed by https://github.com/llvm/llvm-project/commit/0d1308a7b77c9ed87386c22a728a6c97e2fb4887

i'm going to see about backporting that into the rustc local fork of LLVM.

[2022-01-24 16:43] Xuanwo commented on #93266
Hi, this issue seems rather incomplete, can you please add more detailed information?

[2022-01-24 17:48] #93184 closed

[2022-01-24 17:58] SimonSapin commented on #48043
Please file an issue dedicated to the naming of `try_insert` since this thread is already covering other topics.

[2022-01-24 18:29] Mark-Simulacrum commented on #93034
@craterbot retry name=beta-1.59-1

[2022-01-24 19:00] danielhenrymantilla opened #93274 "Regression in async generator and fmt internals: loss of `Send`"
## Context

This has already tripped up some people which seem to get quite confused with this error message, so I'd rather we not regress here:

  - https://users.rust-lang.org/t/future-created-by-async-block-is-not-send/70796/3?u=yandros

### Code

I tried this code:

[code]

I expected to see this happen: Code compiles fine: the type of `foo()` is `Send`.

Instead, this happened: The type of `f

[2022-01-24 19:21] eholk commented on #93197
@rustbot claim

[2022-01-24 19:26] eholk commented on #93197
Taking some time to look closer at this now. It looks like where this is crashing is not covered by #93165, so I will work on a proper fix or disabling PR.

[2022-01-24 19:55] T4r4sB opened #93276 "std::process::abort from FFI does not abort."
I know that panic unwinding from FFI is UB. But abort must terminate the program immediately, where can be problem here?

Let we have this code: https://github.com/janiorca/tinywin/blob/master/miniwin/src/main.rs
Try to add abort into WM_PAINT handler:
[code]
Try to run it (I use target i686_windows_gnu), and watch to console:
[code]
Looks like abort called from WndProc doest not work.
In more com

[2022-01-24 20:04] matthiaskrgr commented on #93274
Might be related to https://github.com/rust-lang/rust/pull/91032 / https://github.com/rust-lang/rust/pull/93165 ?

[2022-01-24 20:17] jackh726 opened #93278 "GATs outlives lint incomplete"
The following should error, but doesn't: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5dfa889a16a936338aa5d346ced567d5

This is in a test, but doesn't have a FIXME: https://github.com/rust-lang/rust/blob/51126be1b260216b41143469086e6e6ee567647e/src/test/ui/generic-associated-types/self-outlives-lint.rs#L141

[2022-01-24 20:41] ineiti commented on #93096
Same thing here, but `cargo clean` fixed it. I had a not-too-old git-commit, so I tried to do:

[code]

But it didn't trigger the error...

[2022-01-24 21:42] BlaCoiso opened #93279 "Function calls in logic expressions sometimes cause optimization misses"
Calling functions, including `const` ones, on a logic expression (eg `a || b`) sometimes cause certain optimizations to be missed

I tried this code:
[code]

Expected result: both functions (`check1` and `check2`) generate the same assembly code

Actual result:
[code]

Godbolt link: https://godbolt.org/z/vfPe13G8P

Additionally, changing the comparison order affects optimization:
[code]

### Meta

[2022-01-24 21:46] WaffleLapkin opened #93282 "no errors encountered even though `delay_span_bug` issued"
Reproducible at [teloxide-core#828ab071](https://github.com/teloxide/teloxide-core/tree/828ab071621f99273676771eae08c2984f4ed2ed).
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-01-24 21:53] danielhenrymantilla commented on #93274
@matthiaskrgr I was also suspecting one of those, although I have to admit not having looked into it any further

[2022-01-24 22:08] Manami69 opened #93280 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
Had this problem today on my ubuntu 20.04 LTS. I don't know what caused this, removing my code doesn't change anything and I'm new with rust (currently doing a school project with matrixes and vectors classes to learn linear algebra...)

[code]

[2022-01-24 22:12] Manami69 commented on #93280
I just commented all my main and uncommented my tests one by one and it's working again :/

[2022-01-24 22:19] camsteffen commented on #51003
Is this something I could contribute to with some mentorship?

[2022-01-24 22:33] leonardo-m opened #93281 "Help/error messages in a for iteration"
[code]

Gives this error message (rustc 1.60.0-nightly 84322efad 2022-01-23):

[code]

I am not sure but I think there's something sub-optimal in this error message. The `Option<&mut u32>` seems to come out of nothing. And the help seems off.

Ideally it should suggest instead:

[code]

[2022-01-24 22:48] yaahc commented on #82775
I'm confused, how are these still being broken after https://github.com/rust-lang/rust/pull/87195?

[2022-01-24 23:55] WaffleLapkin commented on #93282
Sure! Here is a MRE:
[code]
[code]

[2022-01-25 00:15] LoganDark commented on #93131
Also experiencing this error. Happens whenever I do a git checkout to a slightly different version of the same overall codebase. Annoying.

[2022-01-25 00:16] eholk commented on #93197
I haven't gotten as much time to look into this today as I'd hope, but I did at least prepare a PR that disables the drop range analysis (#93284) and I've confirmed that eww builds with that change.

[2022-01-25 01:15] lqd commented on #93274
Does it work with https://github.com/rust-lang/rust/pull/93284 btw ? That should completely disable drop range tracking. (I've launched a try build there so that we have artifacts ready for that soon).

There were also recent changes in the formatting macros/machinery last week IIRC. That could be related as well.

This should be easy enough to bisect, and make sure where the regression is coming

[2022-01-25 01:43] camelid commented on #88791
I think just think it could be a little confusing or misleading for documentation readers and writers. For example, if someone sees an example that shouldn't show up (for whatever) reason, they may go look to edit the source, but get confused by not seeing the example there.

I'd also just rather keep a clear separation between user- and machine-generated content for consistency and clarity.

[2022-01-25 03:37] BGR360 commented on #82972
See also https://github.com/rust-lang/rust/issues/82151#issuecomment-779368017

[2022-01-25 03:45] #86013 closed

[2022-01-25 04:09] ecstatic-morse commented on #51003
I can answer specific questions on anything MIR related, but for the incremental comp stuff we discussed above you'll need to look elsewhere. I never found a solution I was satisfied with.

The other big stumbling block I remember was `async fn`s, since the MIR we generate for them is more disconnected from the HIR than for ordinary `fn`s, so some things that appear as used in the HIR appear as un

[2022-01-25 07:05] lcnr opened #93289 "using a const parameter of the wrong type results in unhelpful errors:"
[code]
results in
[code]

we should mention that we expected a constant of type `usize` but got one of type `u64`.

[2022-01-25 07:29] hellow554 commented on #93197
@eholk please add this testcase to your PR:

[code]

This also panics on **stable**. Feel free to add the `regression from stable to stable` tag.
This also panics without the feature gate, this might need further investigation.

[2022-01-25 08:18] #92987 closed

[2022-01-25 08:18] #83718 closed

[2022-01-25 08:18] #93054 closed

[2022-01-25 08:23] hkratz commented on #93280
This is an incremental compilation bug. Running `cargo clean` usually helps.

@rustbot label A-incr-comp

[2022-01-25 11:06] SuperFluffy opened #93296 "Cycle detected with significant destructor from 1.58"
**MWE:** https://github.com/SuperFluffy/google_proto_struct_mwe (see branches master, 1.57, 1.56, nightly).

I am getting a confusing error message when compiling a generated struct (see below). This compiles in 1.56 and 1.57, but no longer in 1.58.* or nightly.

~Note that I cannot reproduce this locally! It happily builds on my local machine (MacOS M1, rustc 1.58.1), but it does not in CI (ubunt

[2022-01-25 11:18] lqd commented on #93274
Answering my own questions:
- #93284 doesn't change this, my guess is that it's actually unrelated to #91032
- #91032 initially landed as part of #93138 and that rollup's commit `523be2e05da322daaecf1ecc8f2c0d625f5f46e3` doesn't reproduce the issue
- the `format_args` change I mentioned was #91359 and its commit `0bcacb391b28460f5a50fd627f01f670dfcfc7cc` does reproduce the issue. This PR seems to

[2022-01-25 11:20] the8472 commented on #93279
Replacing `||` with `|` seems to solve this. It looks similar to #88204

[2022-01-25 11:23] steffahn commented on #93296
The way to reproduce this locally is to activate the `-W rust-2021-compatibility` flag that you also have on CI. Haven’t looked at the code at all here, but this could be a duplicate of #92725.

[2022-01-25 11:34] piegamesde commented on #93265
I just found https://github.com/rust-lang/compiler-builtins/issues/339 which looks similar (although the complaint there is speed and not size), so maybe this issue should be transferred to the compiler-builtins repo?

[2022-01-25 11:43] danielhenrymantilla commented on #93274
Nice investigation @lqd!

[2022-01-25 11:56] SuperFluffy commented on #93296
Thank you, you are right. I am now able to reproduce this locally. I found #92725, but haven't made the connection because of the "closures" bit.

[2022-01-25 12:39] mjdr commented on #93224
This test passes

Add to `unittests/ADT/APFloatTest.cpp`
[code]

[2022-01-25 12:47] oli-obk commented on #93215
yea, we could lazily grow it and treat anything beyond the size as uninitialized.

[2022-01-25 12:57] johnkjellberg commented on #73662
The way I want to use this require it to be const. And I don't really see why it shouldn't?

[2022-01-25 13:29] BlaCoiso commented on #93279
This could be related to short circuiting, where the compiler is trying to only evaluate the second expression when the first one is false, even when the second expression has no side effects and evaluating both expressions at the same time would generate more optimized code. That would explain why `|` solves this, as `|` doesn't do short circuiting and always evaluates both sides of the expressio

[2022-01-25 13:45] doctorn commented on #73662
@BusyJay I believe this function is `const`, but the docs incorrectly omit this

[2022-01-25 15:17] clarfonthey commented on #67792
Actual side question: is it a bug or a feature that marker traits (or, more generally, any trait without methods) can be differentiated between const and non-const variants?

For example, `impl const Copy` doesn't enable copying values in a const context; this is always possible. It also makes cases like `~const Eq` weird, since technically it shouldn't matter if something is `Eq + ~const PartialE

[2022-01-25 15:26] wodin commented on #93187
FWIW, the number of vendors/products that flag i686-pc-windows-msvc/lib/std-41d48f5938a7bd14.dll as malicious has now dropped to 5.

[2022-01-25 15:29] Mark-Simulacrum commented on #93034
@craterbot retry-report name=beta-1.59-1

[2022-01-25 16:02] Aaron1011 commented on #93280
This should be fixed in the latest nightly.

[2022-01-25 16:05] #93280 closed

[2022-01-25 16:28] XrXr commented on #91877
I'm going to close this for now since this behavior looks to be by design and is now documented in the reference through  rust-lang/reference#1120. It's not a bug and changing this might need to go through a RFC.

[2022-01-25 16:28] #91877 closed

[2022-01-25 16:47] camsteffen commented on #57478
@eholk How does this relate to #51003?

[2022-01-25 17:21] ehuss commented on #93033
I have posted https://github.com/rust-lang/cargo/pull/10323 to fix the issue with cargo and rls.  That should help shave a minute or two on the dist builders.

I'm still planning on looking at the issues with #90100.

[2022-01-25 17:34] nagisa commented on #93276
On windows `abort` is implemented as an equivalent of https://docs.microsoft.com/en-us/cpp/intrinsics/fastfail?view=msvc-170. Either your kernel is doing something wrong, or the call to the `abort` is not actually being reached for some reason.

The best way to figure this out would be by stepping through code with a debugger.

[2022-01-25 17:42] ehuss commented on #93282
I have bisected to #92876.  cc @compiler-errors

@calebcartwright I noticed that rustfmt is exiting with 0 even though it panicked.  Is that normal?

[2022-01-25 17:47] nikomatsakis commented on #51003
I'm of mixed minds here. I sometimes think that we should do our safety analyses on "THIR" instead of "MIR". MIR currently serves two masters, analysis and optimization -- I think that produces more tension than I anticipated initially.

[2022-01-25 17:50] nikomatsakis commented on #92137
Just catching up on this. Nice catch, @m-ou-se, and good hustle on fixing it, @Urgau

[2022-01-25 18:04] camsteffen commented on #51003
For some context I was hoping to work towards #65467.

[2022-01-25 18:08] ehuss commented on #93276
It might also help to include a complete example with clear instructions on how you built it.  The link you provided is `no_std` which means one cannot add `std::process::abort()` to it. It also seems to use xargo with various panic settings.

[2022-01-25 18:30] camsteffen commented on #72515
Is this solved by #91475?

[2022-01-25 19:10] T4r4sB commented on #93276
Ok. Test my fork, please: https://github.com/T4r4sB/tinywin
Project miniwin, command `cargo run`, target "i686-windows-gnu"

[2022-01-25 19:33] camelid commented on #89640
Why did you close this issue? I think it's a good idea.

[2022-01-25 19:39] ShadowJonathan opened #93304 "Build scripts being able to provide extra context on errors"
Take the following build error;

[code]

For a new user, this might be a bit of a "show stopper", or otherwise a kink/bump in the road for them to get started. Rust already has a bunch of helpful errors, I think it could help if the build script (or any script) is able to "catch" this error, observe it, and possibly provide additional information useful for the user at hand. (f.e. "TIP: You are on

[2022-01-25 19:45] paolobarbolini opened #93305 "Unsound `BufWriter` copy_to specialization with the unstable `read_buf` feature"
## Code

[code]

Playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=483f0b4f2f881519f459c3cd273a50f4 (run miri on it)

## Unsound implementation

https://github.com/rust-lang/rust/blob/92ed8747f255b2695c33b64982e6959711a72cb9/library/std/src/io/copy.rs#L80-L122

(we're basically tricking it into calling `set_len` with a length higher than what has actually be

[2022-01-25 19:58] nikomatsakis commented on #81513
Invariance is definitely *expected* (all projection is invariant), but also problematic here.

[2022-01-25 20:00] nikomatsakis commented on #93203
Hmm, regarding the capture of references, I think that the RFC 2229 logic might be relevant here. i.e. we could capture `*scope` by reference instead of capturing `scope` by reference. In a way, I'm always surprised we *don't*.

[2022-01-25 20:12] camelid commented on #93240
cc @jsha @GuillaumeGomez

[2022-01-25 20:13] camelid commented on #93240
Yeah, I suggested this a couple weeks ago. I think the idea is to do it once we also have an "advanced search builder".

[2022-01-25 20:17] camelid commented on #93205
I'll see if I can look into this. If someone else wants to work on it, feel free to claim it from me!

[2022-01-25 20:18] SkiFire13 commented on #81513
Probably OT, but isn't this the same issue that's preventing TyKind from being refactored into its own crate for chalk integration?

[2022-01-25 20:23] GuillaumeGomez commented on #93240
Yes, we still need to discuss things. Will do that once everyone is available. ;)

[2022-01-25 20:25] Urgau commented on #93305
This was already mention in the PR that added ReadBuf https://github.com/rust-lang/rust/pull/81156#issuecomment-989192555
cc @DrMeepster @joshtriplett

[2022-01-25 20:38] Mark-Simulacrum commented on #93034
* https://github.com/rust-lang/rust/issues/63895 happened again with the same display-as crate; expected breakage -- cc @droundy
  * This is due to pretty-printing inside rustc changing in 1.59, empty braces now format as `{}` not `{ }` or `{  }`.
  * https://github.com/droundy/display-as/blob/master/display-as-proc-macro/src/lib.rs#L443 should probably be modified to avoid a specific amount of wh

[2022-01-25 20:41] jyn514 commented on #93093
Another similar error, not related to async this time:
[code]
`let &mut F = ...` isn't valid Rust.

[2022-01-25 21:08] steffahn commented on #93237
@WaffleLapkin We don’t need to write code generators, we have macros…

[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=816c340edf56a1b53104baa5141508c2))

[2022-01-25 21:30] cristicbz commented on #79308
Seems to work in the other direction weirdly https://rust.godbolt.org/z/onbz6he9c

[code]

is optimised away, whilst
[code]
is not

[2022-01-25 21:31] Kixunil commented on #72631
I'm writing something that uses size hint similar to iterators and was wondering how it works in `std`. I found some surprises related to this. As @qm3ster points out there's a question about use of `reserve` vs `reserve_exact` but there's also issue of [upper bound of `Iterator::size_hint()` not being used](https://internals.rust-lang.org/t/is-size-hint-1-ever-used/8187).

I'm thinking about thes

[2022-01-25 21:50] bstrie commented on #90957
This is implemented, checking the box.

Adding a new step: "Confirm that all errors and warnings are emitted properly".

[2022-01-25 22:21] Skeletonxf opened #93309 "Generated documentation includes bullet points that are not part of the docs"
Hi, I've just published a new version of my crate and the generated documentation is including a lot of bullet points that have never been included before.

https://docs.rs/easy-ml/1.8.1/easy_ml/index.html
https://docs.rs/easy-ml/1.8.0/easy_ml/index.html

When I generate the docs locally on the 1.8.1 source code using the latest stable version of rust I see the same formatting for the 1.8.0 that d

[2022-01-25 22:43] camsteffen commented on #93281
FWIW the Option is from for loop desugaring.

[2022-01-25 22:46] bstrie commented on #72016
I see that there are some new feature flags in nightly for tracking the long tail of `asm!` stabilization: `asm_const`, `asm_experimental_arch`, `asm_sym`, and `asm_unwind`. Should we make dedicated tracking issues for these?

[2022-01-25 22:52] Nemo157 commented on #93309
Seems potentially related to <https://github.com/rust-lang/rust/issues/92872>, but the latest builds were from a nightly that should have that fixed in; cc @GuillaumeGomez you probably have some idea on where the issue is.

[2022-01-25 22:55] dcsommer opened #93310 "Duplicate symbols produced in `armv7-linux-androideabi` staticlib targets starting with rustc 1.54"
I see broken staticlib compilation when targeting `armv7-linux-androideabi` using any version of rustc >= 1.54, including 1.58.1. Specifically, there are a few symbols that are duplicated. Minimal repro below:

[code]

An even easier way to confirm the issue is to directly look at the compiler builtins rlib for `armv7-linux-androideabi`:
[code]

The regression may have happened in compiler_builtin

[2022-01-25 22:57] GuillaumeGomez commented on #93309
This is highly surprising indeed.

@Skeletonxf Can you run `cargo doc` with the last nightly locally and tell us if it reproduces the bug please? If so, I'll try to check what's wrong in rustdoc.

[2022-01-25 23:17] Luminiscental opened #93311 "Poor diagnostic when returned `impl Fn` is not general enough"
Given the [following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b7e13e6ea588111e77cc85ec4faaef57):

[code]

The current output is a bit unhelpful:

[code]

Ideally, I think a diagnostic more in line with the [following case](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=84cf83ec68caf1d9735a68d32fb07059) (replacing `impl ...` with just `F

[2022-01-26 00:05] LifeIsStrange commented on #75890
Update: [LLVM clang has switched to DWARFv5 by default.](https://www.phoronix.com/scan.php?page=news_item&px=LLVM-Clang-DWARFv5-Default)

[2022-01-26 01:45] #93282 closed

[2022-01-26 02:44] petrochenkov commented on #83761
https://github.com/rust-lang/rust/pull/88679 now collects traits in scope for doc links, which rustdoc is later using in its attempts to emulate type-relative path resolution.

The only remaining thing now is to use the early doc link resolution (`src/librustdoc/passes/collect_intra_doc_links/early.rs`) to build a map (`HashMap<(/*path*/ String, Namespace, /*parent module*/DefId), Res>` or similar

[2022-01-26 03:00] RalfJung commented on #72515
I don't think so. We still have mir_const, mir_promoted, mir_for_ctfe, mir_drops_elaborated_and_const_checked, run_optimization_passes.

For lints, the situation seems to have improved -- we now have MirLint, that can be turned into passes. On the other hand, there also still is some mention of lints during MIR building, and check_unsafety is its own special thing and not a MIR pass.

[2022-01-26 03:46] calebcartwright commented on #93282
Outside a macro, no, (as was the case in the original full repro), but yes within the context of a macro as in the minimal rerpo. We have our calls to rustc_parse internals wrapped in `catch_unwind` so the panic isn't really surfacing here, but rustfmt is still displaying the underlying error text prior to emitting formatting.

This is done partly due to the fact that there are scenarios where tho

[2022-01-26 03:56] kettle11 commented on #92676
Commenting here as well:

I bumped into the error relocation `R_WASM_MEMORY_ADDR_TLS_SLEB` cannot be used against non-TLS symbol today trying to build one of my shared-memory Wasm Rust projects with LLD 14.0.

Note: I don't encounter this when building the same project with nightly Rust's standard linker. Perhaps this hints at a miscommunication between Rust and wasm-ld 14.0 when shared memory is

[2022-01-26 04:13] evgeny-yashin commented on #82523
May I know what is the specific UB behaviour depends on?

The x86 architectures all happy to read unaligned data, but just slower. Would the code still crash on such platforms?

[2022-01-26 04:34] canndrew commented on #93247
I just ran into this. Seems like a dupe of (at least) #93125, #93096, #93020 and #93013.

[2022-01-26 04:40] Aaron1011 commented on #93247
This should be fixed on the latest nightly

[2022-01-26 06:34] heikki-heikkila commented on #92552
@Aaron1011 , could you please give reference to that known bug, so I could see the exact nightly version where this is fixed?

[2022-01-26 06:40] Aaron1011 commented on #92552
There's been a large number of incremental compilation crash reportsz all with very similar messages and stacktraces. I think I initially misready the stacktrace for this issue - it was probably just fixed in https://github.com/rust-lang/rust/pull/93064

Without the ability to reproduce these crashes, it's very hard to determine which of the many incremental compilation PRs will actually fix your

[2022-01-26 07:03] Nilstrieb commented on #89640
I don't think there's any value to implement it, since the mistake is always obvious, but I can reopen it if you'd like

[2022-01-26 07:28] yannham opened #93317 "Unexpected panic in compiler/rustc_hir/src/definitions.rs"
I got a an unexpected panic when running `cargo build` on a project using the latest stable version of Rust 1.58.1.

### Code

 I don't have time right nor a good lead for minimizing the code example for now, but may try to do so later. Sorry about that. For the time being, the offending commit is [b13930e1f948b2773f1049fc4724e45306f6f175](https://github.com/tweag/nickel/tree/b13930e1f948b2773f104

[2022-01-26 07:38] cnmade opened #93318 "Stop growing Clippy, no more Clippy please."
Did anyone notice that Rust has the world largest lint rules? and still growing very fast.
It's make Rust feel like trash... so many problem programming with Rust.
Is it normally? Why not just make things easy and simple?

How stupid to ask people to remmember so much lint rules.

When you write 100 lines of code, Clippy said you have 500 hundred bugs.

So useless feel.

Please stop growing Clippy

[2022-01-26 08:07] yannham commented on #93317
After some more research, it is a possible duplicate of #93125, #93096, #93020 and #93013. Feel free to close if it is. a `cargo clean` did fix it, and the bug is not triggered on the CI (although the CI is using Nix, so a possibly different version of stable `rustc`).

[2022-01-26 08:28] djc commented on #93318
I'm sorry you feel that way. Unfortunately this issue doesn't seem very actionable. If you have specific Clippy lints that you think should be improved or disabled, please let us know. If not, I think this issue should be closed.

[2022-01-26 08:35] #93318 closed

[2022-01-26 08:57] Swatinem opened #93319 "Nested functions with `#[no_coverage]` lead to non-obvious results."
The fact that coverage is based on source ranges of function bodies means that an inner functions ranges are being "shadowed" by the outer function. When rendered, the source ranges appear to be covered (by the outer function) even though they are not.

An example from https://github.com/rust-lang/rust/pull/92695:

[code]

Pretty printing the coverage report looks like this:

[code]

[2022-01-26 09:28] cnmade commented on #93318
most lint rules because the bad design of the Rust compiler or specification. If some code not right by lint check.
May it be report error when Rustc compile time?
Bad code smell should not be compiled.
If it can compiled. why not raise error or warning.

[2022-01-26 09:29] cnmade commented on #93318
No one notice the rule list growing ?  https://rust-lang.github.io/rust-clippy/master/index.html
Each week it growing amazing.
Good news, or bad news.

[2022-01-26 09:56] xfix commented on #84277
I wonder if it would be feasible to have an optimization where `for in` loops are replaced with `.try_for_each` call. Currently it's not possible to implement this method manually, and the standard library implementations are well behaved, so this wouldn't be a breaking change.

[2022-01-26 09:56] Robbepop opened #93321 "Huge performance gap between lto="fat",cgu=1 and default release profile"
I was told on Rust's Discord that I should maybe post this issue here together with my research so far which can be found following [this GitHub issue link](https://github.com/paritytech/wasmi/issues/339). The GitHub issue links to other sources of information such as the [GitHub Gist](https://gist.github.com/Robbepop/0644e9eb000bb1dad6a003a72534263a) that accumulates a lot of benchmark results.

[2022-01-26 10:06] leonardo-m commented on #87840
Somewhere you should write about use cases & purposes of these ops :)

[2022-01-26 10:07] rukai opened #93322 "Bad suggestions when trying to initialize an enum as a struct."
Occurs in nightly-2022-01-26

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2eec42713e64ef9243a12589aece967c

[code]

The output is a mess of false suggestions, I managed to hit an error that looked very similar to this while refactoring:

[code]

At a minimum we should detect that these suggestions are invalid and not suggest them:
[code]

Howev

[2022-01-26 10:25] heikki-heikkila commented on #92552
Regarding the advice from @Aaron1011, "The best strategy is to update to the latest nightly":

Indeed, I have a compiler crash case that happened when I used compiler "rustc 1.59.0-nightly (cfa4ac66c 2022-01-06)" but disappered when I upgraded to "rustc 1.60.0-nightly (8cdb3cd94 2022-01-25)".  The case is too complicated to be described here -- it involves crate "okapi" and certain inherently nigh

[2022-01-26 11:29] zirconium-n opened #93323 "Cannot derive `Send` bound when a value of associated type with lifetime bound where clause across `await` point."
I tried this code:

[code]

I expected to see this happen: compile success

Instead, this happened: compile failed with error message:
[code]
The error message says it's a lifetime bound but it's not. If I change `impl Send` to `impl Sized` then it compiles.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-01-26 11:30] zirconium-n commented on #93323
The code itself does not use GAT, but where bound on associated types is feature-gated by GAT.

[2022-01-26 11:55] zseri commented on #84277
@xfix the compiler could easily scan for `await`s in the code, tho, and decide based on that, I don't think it would be a big problem.

[2022-01-26 12:05] david-mcgillicuddy-moixa commented on #61324
So I did actually revisit this, just to update it to modern futures and interestingly it no longer happens without the error:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=59c236b82d60dd14dd4233fc6724b66b

but it does seem to still happen when the borrowed error is included:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a3b7c5ab355532e27a686705a7

[2022-01-26 12:29] Ten0 commented on #92894
You have this trick that enables to work around this issue: https://stackoverflow.com/questions/40392524/conflicting-trait-implementations-even-though-associated-types-differ/40408431#40408431

I think particular issue can be closed as duplicate.

[2022-01-26 12:36] Dushistov opened #93326 "index out of bounds: the len is 466 but the index is 466', compiler/rustc_query_impl/src/on_disk_cache.rs:726:18"
This happens once during run `cargo test specific_test`, after `cargo clean`  I can not reproduce the issue.
### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-26 13:01] oli-obk opened #93327 "impl trait error does not explain its reasoning"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1497daa8a96b61decc37bed908eec352

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-01-26 14:15] RalfJung commented on #82523
Yes, it is still UB on such platforms. The compiler performs optimizations under the assumption that all accesses and references are aligned.

[2022-01-26 14:31] roblabla commented on #81408
Bumping. It's this bug's one-year anniversary :tada:.

I've tried to create a more minimal reproducer, but I don't have a whole lot of experience with LLVM stuff, so please forgive any blunders I might have made :sweat_smile: . The reproducer can be found [here](https://github.com/roblabla/reproduce-boom/tree/nostd-minimal), and is essentially a reduction of [this reproducer](https://github.com/ru

[2022-01-26 14:34] matthiaskrgr opened #93329 "CI: spurious hang on x86_64-msvc-1 during rustc_macros compilation"
Sometimes the build hangs there.
[code]

https://github.com/rust-lang-ci/rust/runs/4947161125?check_suite_focus=true#step:26:25990

[2022-01-26 14:36] matthiaskrgr commented on #93329
@rustbot modify labels: +T-infra +A-spurious +O-windows +O-windows-msvc

[2022-01-26 15:01] qm3ster commented on #72631
@Kixunil I would like to note that repeatedly calling `collection.extend()` with small iterators is common. There's also cases when a collection is deserialized and extended immediately, or deserialized and then extended indefinitely (in the latter case, probably with some removals, so resizing may be amortized regardless).

[2022-01-26 15:12] #78496 closed

[2022-01-26 15:19] cormacrelf commented on #84277
Await is not the only problem, there is also the problem of named loop labels, which are allowed on `for _ in` loops. Code inside nested loops can break out of outer ones. You would need to put the information necessary to replicate this in the `Try`-implementing types used by the generated desugaring. The challenge is to convert break/continue/return statements into `return <expr>;` in such a way

[2022-01-26 15:21] b-naber opened #93330 "`ty_and_layout_field`'s page cannot be displayed in docs"
Searching for the function in the [docs](https://doc.rust-lang.org/nightly/nightly-rustc/?search=ty_and_layout_field) is successful, but the [page](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/type.Ty.html#method.ty_and_layout_field) itself cannot be found.

This might be related to an issue with re-exports.

@rustbot label: +T-docs-rs, -T-compiler

[2022-01-26 15:26] apiraino commented on #93296
thanks @steffahn for the tip. This issue looks to be duplicate, so I'm going to close it.

(but feel free to reopen if it's not)

[2022-01-26 15:26] #93296 closed

[2022-01-26 15:33] ehuss commented on #93329
One possibility could be something like #92829.  That builder has assertions enabled.

[2022-01-26 15:45] Amanieu opened #93332 "Tracking Issue for asm_const"
The feature gate for the issue is `#![feature(asm_const)]`.

### Summary

This feature adds a `const <expr>` operand type to `asm!` and `global_asm!`.
- `<expr>` must be an integer constant expression.
- The value of the expression is formatted as a string and substituted directly into the asm template string.

### Status

~~Blocked on the stabilization of inline consts (#76001).~~

[2022-01-26 15:45] Amanieu opened #93333 "Tracking Issue for asm_sym"
The feature gate for the issue is `#![feature(asm_sym)]`.

### Summary

This feature adds a `sym <path>` operand type to `asm!` and `global_asm!`.
- `<path>` must refer to a `fn` or `static`.
- A mangled symbol name referring to the item is substituted into the asm template string.
- The substituted string does not include any modifiers (e.g. GOT, PLT, relocations, etc).
- `<path>` is allowed to p

[2022-01-26 15:45] Amanieu opened #93334 "Tracking Issue for asm_unwind"
The feature gate for the issue is `#![feature(asm_unwind)]`.

### Summary

This feature adds a `may_unwind` option to `asm!` which allows an `asm` block to unwind stack and be part of the stack unwinding process. This option is only supported by the LLVM backend right now.

### Status

Blocked on the stabilization of `extern "C-unwind"` (#74990).

Also it is uncertain whether this can be supported

[2022-01-26 15:45] Amanieu opened #93335 "Tracking Issue for asm_experimental_arch"
The feature gate for the issue is `#![feature(asm_experimental_arch)]`.

### Summary

This feature tracks `asm!` and `global_asm!` support for the following architectures:
- NVPTX
- PowerPC
- Hexagon
- MIPS32r2 and MIPS64r2
- wasm32
- BPF
- SPIR-V
- AVR
- MSP430

### Status

Each architecture needs to be reviewed before stabilization:
- It must have `clobber_abi`.
- It must be possible to clobber

[2022-01-26 15:51] Amanieu commented on #72016
I created separate tracking issues for each sub-feature:
- #93332
- #93333
- #93334
- #93335

This tracking issue can be closed now that `asm!` is stable.

[2022-01-26 15:51] #72016 closed

[2022-01-26 15:56] tmccombs commented on #84277
What is the benefit of "optimising" to a call of `try_foreach`?

[2022-01-26 15:59] steffahn commented on #84277
This discussion about `for` loop desugaring seems very off-topic for this tracking issue. For discussion on that, please open a topic on https://internals.rust-lang.org, or a new issue on https://github.com/rust-lang/rust.

[2022-01-26 16:00] Kixunil commented on #72631
@qm3ster I believe all such cases can be solved using `Iterator::chain` which also happens to be less tedious than manually calculating the right reserve size. If you have a situation that can not be converted I'm curious to learn!

[2022-01-26 16:01] cuviper commented on #84277
@tmccombs It gives you internal iteration for more complicated iterators like `Chain`, rather than calling the outermost `next()` each time. But while I think that's a useful transformation under user control, I'm skeptical about having the compiler do it.

[2022-01-26 16:04] camsteffen commented on #51003
I would think that the decision between MIR or THIR (or HIR) for analyses should be based on which one would allow the simplest (or cheapest?) implementation, and that any problems caused with incremental can be solved architecturally. It seems like THIR would allow a simpler implementation than the HIR (especially for #65467), but I don't have enough experience with MIR to comment on how that wou

[2022-01-26 16:04] scrabsha opened #93336 "ICE when incrementally compiling code"
*Note*: cleaning the `target` directory and compiling again makes the ice vanish. As such, I suspect this ICE to be caused by incremental compilation. If it can help, I have an exact copy of the `target` which triggers the ICE. I have checked, and I can trigger it again on my laptop. I don't know how portable it is, though.

### Code

Too long to be written here. See [`scrabsha/langgg/ICE-1`] inst

[2022-01-26 16:21] Aaron1011 commented on #93336
This should be fixed in the latest nightly by https://github.com/rust-lang/rust/pull/92533

[2022-01-26 16:43] skyzh opened #93340 "ICE when using Fn trait of GAT parameter in Fn return impl"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Thanks for investigating into this issue!

[2022-01-26 16:45] bjorn3 commented on #93265
A single memcpy implementation is used for all memory copies or unknown or large size. For small memory copies llvm emits inline code rather than a memcpy call. `-Copt-level=s/z` may affect the threshold at which it is considered large though.

AFAIK there is no option for rust code to detect with which optimization level it has been compiled.

Does the specific riscv cpu you use support fast unal

[2022-01-26 16:52] skyzh commented on #93340
... I found that I forget to impl `Scalar` and `ScalarRef` for bool. Even if I do:

[code]

The issue still exists...

[2022-01-26 16:53] reinerp opened #93341 "Failed to unify types when using GATs and HRTBs"
I believe the following code should typecheck under nightly (https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f3d45f199cadea62341a727f66c52d86):

[code]

Note that this uses generic associated types (`AtLifetime<'a>`) and it also uses a higher-rank trait bound in `fn new`.

However, rustc nightly rejects this program with the following error:

[code]

I think rustc is wrong

[2022-01-26 16:57] skyzh opened #93342 "Confusing output for signature mismatch in Fn trait with GAT lifetime parameter"
I tried this code:

[code]

I expected to see this happen:

Both functions compile.

Instead, this happened:

If I directly call `new`,

[code]

... but if I manually construct the struct, it succeeds.

### Meta

`rustc --version --verbose`:
[code]

Thanks for investigating!

[2022-01-26 17:00] skyzh commented on #93342
... and the interesting thing is that, once I used a trait to "prove" `str_contains` is actually `Fn(A::RefType<'_>, B::RefType<'_>) -> O`, it compiles 🤣🤣🤣

(which is exactly the technique I used in https://github.com/skyzh/type-exercise-in-rust when I was implementing expression vectorization in safe, nightly Rust without any macro)

[code]

[2022-01-26 17:10] dcsommer commented on #93310
Digging into the static libraries, I see the `compiler_builtins-528fe7b1fd2894b6.compiler_builtins.11e6c744-cgu.174.rcgu.o` object file now starts including the following duplicate `__sync*` symbols:
[code]
These are all already defined by separate single object files in all versions of rustc, resulting in duplicate symbols in 1.54+

Some of the symbols in `compiler_builtins-528fe7b1fd2894b6.compi

[2022-01-26 18:15] yerke commented on #92319
Hello. Is there a workaround for this issue for now?
I got
[code]

But when I ran `rustup toolchain link stage1 build/aarch64-apple-darwin/stage1`, I got `error: not a directory: 'build/aarch64-apple-darwin/stage1/lib'`.

[2022-01-26 18:33] yerke commented on #92319
OK. After reading the zulip thread, I figure out how to work around it. After running `./x.py build`, `rustup toolchain link stage1 build/aarch64-apple-darwin/stage1` succeeded.

[2022-01-26 18:36] qm3ster commented on #72631
Of course!
I am talking about calling it at runtime, in an event/message-driven loop, not statically in a function.

[2022-01-26 18:46] davidbarsky commented on #41619
Notes from lang team triage: the consensus is that the RFC looks reasonably accurate, but the design concerns not _yet_ known. If there are design issues, the Lang Team expects that the implementor(s) would discover said design issues during implementation.

Additionally, this feature is very much desired by various teams. For instance, the standard library's expansion to platform-specific areas i

[2022-01-26 18:59] joshtriplett commented on #43301
It sounds like this issue needs someone to drive it. I'm happy to provide help to that person, in terms of target-specific portability concerns around exit codes and similar.

[2022-01-26 19:07] pnkfelix commented on #41517
Hey, the lang team just discussed this issue as part of a general "backlog bonanza", and our understanding is that this falls under the pervue of @rust-lang/wg-traits .

We noticed a number of unresolved  questions in the issue description. I also see @clarfonthey 's [recent comment](https://github.com/rust-lang/rust/issues/41517#issuecomment-1001772685).

So I think @rust-lang/lang wants a bit mo

[2022-01-26 19:10] joshtriplett commented on #40180
We discussed this in today's @rust-lang/lang meeting.

We agree that this needs an RFC. Not specifically for x86-interrupt, but an "target-specific interrupt calling conventions" RFC. Once that RFC goes in, new target-specific interrupt calling conventions would just need a patch to the [ABI section of the reference](https://doc.rust-lang.org/stable/reference/items/external-blocks.html#abi), ideal

[2022-01-26 19:19] joshtriplett commented on #38487
We discussed this in today's @rust-lang/lang meeting. We're willing to consider stabilizing target-specific interrupt calling conventions like this. We feel like this needs an RFC, not specifically for msp430-interrupt but for target-specific interrupt calling conventions in general. See https://github.com/rust-lang/rust/issues/40180#issuecomment-1022507941 for details there. Once such an RFC gets

[2022-01-26 19:29] RalfJung commented on #56604
@chorman0773 noticed that `&mut [0i32] as *const i32` actually generates a `&raw mut`, while `&mut 0i32 as *const i32` generates a `&raw const` leading to this issue -- that seems odd? I have no idea what happens here during MIR building though.

[2022-01-26 19:29] Mark-Simulacrum commented on #42877
T-lang discussed this in a backlog bonanza meeting today, and noted several concerns that should be addressed prior to moving forward:

* Is there active usage/desire for this feature?
* Tuple destructuring and/or combining may conflict with particular decisions made here (for a subset of types) -- which merits at least a more thorough exploration to make sure this concern is assessed (it may not

[2022-01-26 19:37] #80195 closed

[2022-01-26 19:42] Amanieu commented on #84118
For a normal SIGBUS there is no need to re-raise the signal since simply returning from the signal handler will cause the instruction that triggered the signal to execute again and re-trigger the signal.

This only happens because you are sending an "artificial" SIGBUS using kill, which is not caused by an instruction. I don't think this is something we need to support.

As a workaround you can us

[2022-01-26 19:43] joshtriplett commented on #91084
Closing based on the response from @hkratz.

[2022-01-26 19:43] #91084 closed

[2022-01-26 19:45] #84118 closed

[2022-01-26 19:49] joshtriplett commented on #86575
Given the discussion summarized at https://github.com/rust-lang/rust/pull/86582#issuecomment-884402418 , closing this issue.

(I expect that future improvements to the standard library mutexes may address this.)

[2022-01-26 19:49] #86575 closed

[2022-01-26 19:54] joshtriplett commented on #80406
@m-ou-se That's still somewhat problematic; people use valgrind to track down leaks, and intentional leaks make that harder.

At a minimum, we may want to submit a patch to valgrind's standard "suppressions" for this.

[2022-01-26 19:55] Skeletonxf commented on #93309
@GuillaumeGomez
I have ran cargo doc on the latest nightly locally (nightly-x86_64-unknown-linux-gnu rustc 1.60.0-nightly (777bb86bc 2022-01-20)) and it has reproduced the bug - I see the same generated docs as from the docs.rs build.

[2022-01-26 19:59] yerke commented on #92319
@rustbot claim

[2022-01-26 19:59] joshtriplett commented on #43376
cc @ChrisDenton for recommendations here.

[2022-01-26 20:03] the8472 commented on #77139
Isn't that because the `0x` prefix is counted towards the length?

[2022-01-26 20:20] bstrie commented on #86941
I agree with this. It's unfortunate that one macro in this series was stabilized long before macro namespacing was possible, but it's possible to avoid exacerbating this annoyance, as well as avoid setting a precedent for future macros in this series. As mentioned, it's possible to deprecate `is_x86_feature_detected` by defining a wrapper macro, and deprecating this would give IDE tooling authors

[2022-01-26 20:29] joshtriplett commented on #57715
This is mostly implemented, and to the extent it isn't, it's a libc issue rather than a rust-lang/rust issue. Closing; please feel free to open an issue on libc for any remaining aspects of it.

[2022-01-26 20:29] #57715 closed

[2022-01-26 20:30] chbaker0 opened #93344 "Cannot run `x.py` under sudo as non-root user"
I am trying to build Rust from source on my project's continuous integration system. I see the following error:

[code]

Looking at the message and #40108 it seems the intent is to prevent putting root-owned files in a non-root user's home directory.

Our CI builders use sudo to step down from root to a sandboxed user. See https://logs.chromium.org/logs/chromium/buildbucket/cr-buildbucket/88239966

[2022-01-26 20:38] dimpolo commented on #17893
I would also like to see this.
My use case is a custom Rc implementation with cycle detection, specifically designed for trait objects.
Code would look something like this:

[code]

The hacky workarounds found on [stackoverflow](https://stackoverflow.com/questions/69431220/) sadly don't work.

[2022-01-26 20:42] m-ou-se commented on #46488
This hasn't gone anywhere in many years, with no clear use cases.

A new similar feature could probably use a RFC with clear use cases and a discussion of all possible solutions.

@rfcbot close

[2022-01-26 20:43] joshtriplett commented on #80697
Seems reasonable, assuming that @rust-lang/wg-const-eval is fine with it.

@rfcbot merge
@rfcbot concern confirm-with-wg-const-eval

[2022-01-26 20:44] Mark-Simulacrum commented on #93344
If the implementation for this is relatively straightforward, a PR is likely to be accepted.

[2022-01-26 20:45] yaahc opened #93345 "remove `allow_fail` test flag"
As noted in https://github.com/rust-lang/rust/issues/46488#issuecomment-1022585129 we've discussed stabilizing this feature and came to the conclusion that we likely need better support for tests that are allowed to fail in certain situations such as when not run in CI, but that we're not confident that this feature is the best way to solve the specific problems people have. For now we would like

[2022-01-26 20:47] joshtriplett commented on #72599
We discussed this in today's @rust-lang/libs-api meeting.

We agreed that the old MIPS bug is not an issue; we came to the same conclusion regarding `to_bits` and `from_bits`.

(However, we'd ask that the documentation be updated to not guarantee the ordering of different kinds of NaNs.)

We also agreed that #73328 shouldn't be a blocker.

@rfcbot merge

[2022-01-26 21:01] ChrisDenton commented on #43376
I'm not entirely convinced we should be setting `timeBeginPeriod` for the application. Or even if we can do so cleanly in libraries. We do have to play well with others. So this feels like something that should be opted in to, especially as it affects the system (to a greater or lesser degree depending on the Windows version). It's also unclear to me if the added complexity of waitable timers will

[2022-01-26 21:15] #35838 closed

[2022-01-26 21:21] scottmcm commented on #72599
Maybe give it a platform-specific caveat, or something?  That ordering is part of the IEEE behaviour of the operation, so it'd be nice to keep it for the usual case.

[2022-01-26 21:21] Mark-Simulacrum opened #93346 "Tracking Issue for XXX"
Feature gate: `#![feature(panic_backtrace_config)]`

This is a tracking issue for configuring the capture and display of backtraces in the default panic hook, as well as exposing that configuration to third-party libraries for usage.

### Public API

[code]

This API is intended to form part of the strategy for addressing the unsoundness of the `std::env::set_var` API on some platforms (mostly non

[2022-01-26 21:24] RalfJung commented on #80697
Fine from my side -- these are all conceptually simple functions and their implementation has been battle-tested *a lot* in Miri.

[2022-01-26 21:37] yaahc commented on #93346
I think it depends on how we expose the `Short` and `Full` format displays to users. If we expect users to use `fmt` flags to configure the format when printing `std::backtrace::Backtrace` then we'd probably want to associate the style with the panic module.

I do worry though about how this style of API will look like in practice, I expect you'd probably have to write something like this every ti

[2022-01-26 21:40] camelid commented on #89640
I think it's still worthwhile because people can sometimes get confused in the moment, especially if macros are involved.

[2022-01-26 21:40] joshtriplett commented on #72599
@scottmcm If it's only an issue on specific targets, we could document that it's an issue on those targets, sure.

[2022-01-26 21:44] joshtriplett commented on #43376
@ChrisDenton I agree that we shouldn't call `timeBeginPeriod` internally.

[2022-01-26 21:44] Mark-Simulacrum commented on #93346
For the trivial "just print it" case, I suspect a direct `fn std::panic::report_backtrace()` which internally prints to stderr may be better (or takes a `&mut dyn Write`, maybe) -- capturing and resolving the backtrace via `std::backtrace::Backtrace` in panic handling may want to e.g. avoid allocations and some of the other complexity associated with a more general API like std::backtrace::Backtra

[2022-01-26 21:47] scottmcm commented on #91867
Looks like these have all landed, so I'll close this.

Thanks for the help, everyone!

[2022-01-26 21:47] #91867 closed

[2022-01-26 21:49] cr1901 commented on #38487
@joshtriplett I'm only one user (there are a few ppl besides me. Nowhere , but can confirm it's still functional and used as of yesterday :).

This never materialized for many reasons, but one of them is admittedly "this functionality is not something I would personally use, and I didn't receive any reports of ppl _really_ wanting to use stable for msp430".

I've been revamping msp430 Rust, and in

[2022-01-26 21:59] yaahc commented on #93346
agreed, I've felt like we should be exposing the allocation-lite backtrace printing interface we use in the panic hook for a while now.

oh interesting, I can see us going this direction, though the usage of `trace` seems somewhat opaque / complex so like you said we'd need some design discussion on that or some more informative examples. For now I am a big enough fan of the split you describe and

[2022-01-26 22:17] gburgessiv opened #93349 "rustc fails to build with in-tree libunwind and lld"
Trying to build `rustc` on Debian with the following config used to work, but now fails:

[code]

`./x.py build` exits with:

[code]

`git bisect` points to https://github.com/rust-lang/rust/commit/1c07096a45a15de64216f12ec726333870e372b1 as the culprit. It seems that the changes to `libunwind.rs` at line 237 accidentally dropped `#[link(name = "unwind", kind = "static")]` from `_Unwind_Backtrace`

[2022-01-26 22:20] evgeny-yashin commented on #82523
Thank you.

Do you have plans to add some sugary API extension to make it easy to read from unaligned data? Possibly avoiding `unsafe` and `pointers`.
The use case is pretty common - reading from a packed binary stream (from a file, TCP etc).

[2022-01-26 22:58] Kixunil commented on #72631
Ah, finally a good case when it's needed!

[2022-01-26 23:10] Kixunil commented on #41517
Yes please, make trait aliases also bound aliases. It'd be very practical.

[2022-01-26 23:21] Ericson2314 commented on #41619
On the `E-help-wanted` front, it would be great to get some academic involvement with this. Ideally we could have a library that rustc and cargo can use, because https://github.com/rust-lang/cargo/issues/1197 has a very virtuous interaction with this:

 - Features should be able to depend on (aspects of) targets (e.g. `io_uring` backends on linux)
 - Targets should be able to depend on features (n

[2022-01-26 23:48] workingjubilee commented on #93187
4 today, as it turns out!

[2022-01-26 23:58] DrMeepster commented on #93305
There's two possible solutions I see here.

1. The easiest thing to do to fix this is just check if the `ReadBuf` points to the same buffer as before and return an error if it doesn't. This doesn't seem very "rusty" to me though, relying on a runtime check.
2. The other solution is to have a `ReadBufRef` type passed by value to `read_buf` instead of `&mut ReadBuf`. This solves the issue in general

[2022-01-26 23:58] piegamesde commented on #93265
As far as I know, RISC-V does not allow unaligned memory access at all.

-----

Now I kind of understand how the result I see is produced. LLVM does decide to not inline the function call somehow and then simply calls to the one-size-fits-all `memcopy` implementation. Its size usually does not matter, since it is amortized across function calls.

So to resolve my issue I'd need to either force-inl

[2022-01-27 00:00] dcsommer commented on #93310
This appears to be https://github.com/rust-lang/compiler-builtins/issues/420

[2022-01-27 01:26] madsmtm commented on #91372
Just for reference, the linking in the noted crates have since been fixed:
- `winit v0.26.1`, https://github.com/rust-windowing/winit/pull/2078
- `coreaudio-sys v0.2.9`, https://github.com/RustAudio/coreaudio-sys/pull/51

[2022-01-27 01:53] #86649 closed

[2022-01-27 01:53] #34668 closed

[2022-01-27 01:53] #90225 closed

[2022-01-27 01:54] rust-highfive opened #93355 "`miri` no longer builds after rust-lang/rust#93352"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#93352, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-01-27 03:04] daigennki commented on #92524
Likely related issue: https://github.com/vulkano-rs/vulkano/issues/1790

[This reply](https://github.com/vulkano-rs/vulkano/issues/1790#issuecomment-1005962251) might be of particular interest here:

[2022-01-27 03:30] bstrie commented on #86730
Another option is to do the maximally backwards-compatible thing with macros 1.0 (either nothing at all, or introduce a unique fragment specifier), and then fix this properly in macros 2.0 while they're still unstable.

[2022-01-27 03:31] RalfJung commented on #93092
In principle we could have such methods for *any* type `U`, not just `u8` (after adjusting the size arithmetic accordingly). But I guess there is no good reason to have those?

[2022-01-27 03:34] bstrie commented on #93333
Is this note from #72016 still accurate?

[2022-01-27 03:44] RalfJung commented on #82523
There is `read_unaligned` on raw pointers.

I am sure there are libraries for convenient binary stream (de)serialization -- can't serde do this? -- but I am not an expert in that area unfortunately. The standard library provides the required building blocks for this; providing a nice API is left to user crates.

[2022-01-27 03:46] compiler-errors commented on #93342
I'd like to take a look at this.

@rustbot claim

[2022-01-27 03:55] compiler-errors commented on #93341
This seems related to #93342, and I'm looking at that right now..

[2022-01-27 03:56] compiler-errors commented on #93341
@rustbot claim
just for good measure, haha

[2022-01-27 04:15] Xuanwo commented on #91789
Let's stabilize this feature! Steps are listed here:

From https://rustc-dev-guide.rust-lang.org/stability.html#stabilizing-a-library-feature

- [ ] Ask a T-libs-api member to start an FCP on the tracking issue and wait for the FCP to complete
- [ ] Change `#[unstable(...)]` to `#[stable(since = "version")]`
- [ ] Remove `#![feature(...)]` from any test or doc-test for this API
- [ ] Open a PR aga

[2022-01-27 04:16] Xuanwo commented on #91789
@yaahc Hi, can you start an FCP for feature `try_reserve_2`?

[2022-01-27 04:47] #92786 closed

[2022-01-27 05:14] SchrodingerZhu commented on #47551
I still have this problem with clang's compiler-rt: https://llvm.discourse.group/t/segfault-in-libunwind-during-cpu-profiling/5806/3

[2022-01-27 05:34] SchrodingerZhu opened #93360 "Segfault in `_Unwind_Backtrace` when using compiler-rt"
The error was similar as https://github.com/rust-lang/rust/issues/47551, but it was not exactly the same.

To make sure full LLVM env on Linux, I tried something like:
[code]
and used it as the linker.
Everything is working except that the program crashes in unwinding progress.
![image](https://user-images.githubusercontent.com/20108837/151297702-33f03609-cbdd-439d-96de-87f5fe54c168.png)

I have a

[2022-01-27 05:35] skyzh commented on #93341
Hi @reinerp, if you need a quick fix, you may refer to my issue https://github.com/rust-lang/rust/issues/93342, where you may implement a "bridge trait" to help the compiler infer the correct lifetime for `where for<'id> F: FnOnce(Id<'id>) -> S::AtLifetime<'id>`.

[2022-01-27 06:37] compiler-errors commented on #93340
@rustbot claim

[2022-01-27 07:13] trevyn commented on #47384
@dtolnay I noticed you just archived the repos for [`inventory`](https://github.com/dtolnay/inventory), [`linkme`](https://github.com/dtolnay/linkme), [`gflags`](https://github.com/dtolnay/gflags), and [`typetag`](https://github.com/dtolnay/typetag), which I assume implies a deprecation. Is this issue the reason why?

[2022-01-27 07:34] mikeleany commented on #40180
I think this is a problem that needs to be solved before `x86-interrupt` can be stabilized. To give an idea of the severity of this issue, let's say a user-space program executes the instruction `int 14` (which invokes the page fault exception handler). In this case no error code is pushed since it's just a software interrupt, not a real page fault. The problem is that the page fault exception han

[2022-01-27 07:36] 5225225 commented on #93092
If you allow casting to a type U, then you need to solve the problem of

* What if U is a ZST?
* What if there's not a multiple of size_of(U) bytes in the MaybeUninit?
* What if the align of U is more than T, and the slice is misaligned for a U?

These could be solved by panicking or returning an error, but none of these are problems when U is size 1 align 1.

[2022-01-27 08:00] bjorn3 commented on #93265
Looks like it is optional to support unaligned memory accesses. I though it was mandatory to do emulation of them in machine mode if the underlying hardware doesn't support them, but it seems not. In any case your specific cpu may support them, in which case enabling `mem-unaligned` is still valid.

[2022-01-27 08:23] name1e5s commented on #93345
@rustbot claim

[2022-01-27 08:38] Yuri6037 commented on #91447
I think I just got hit by that in a real app: with nalgebra to perform gaussian blur, I noticed a slowdown of `cargo build --release` when f32 was used instead of f64. Of course when f32 is used the return type for nalgebra is less than 128 bits however with f64 it's larger.

This really needs to be fixed otherwise using rust for real time computer graphics is a no go!

[2022-01-27 08:40] dtolnay commented on #73931
@rustbot release-assignment

[2022-01-27 08:42] #71924 closed

[2022-01-27 08:44] dtolnay commented on #71015
@rustbot release-assignment

[2022-01-27 08:49] dtolnay commented on #64796
@rustbot release-assignment

[2022-01-27 08:52] dtolnay commented on #60302
@rustbot release-assignment

[2022-01-27 08:52] dhardy commented on #42877
I subscribed to this because I wanted to use it once... but didn't because it's unstable and not too hard to work around. I suspect the same goes for many non-trivial projects. [Searching GitHub](https://github.com/search?l=Rust&q=unsized_tuple_coercion&type=Code) shows 1391 code results, most of which appear to be tests. There are a few uses on the first page: https://github.com/aschaeffer/inexor

[2022-01-27 08:53] dtolnay commented on #49638
@rustbot release-assignment

[2022-01-27 08:55] dtolnay commented on #65409
@rustbot release-assignment

[2022-01-27 08:57] dtolnay commented on #68109
@rustbot release-assignment

[2022-01-27 08:59] dtolnay commented on #70339
@rustbot release-assignment

[2022-01-27 09:01] dtolnay commented on #77968
@rustbot release-assignment

[2022-01-27 09:06] dtolnay commented on #71898
@rustbot release-assignment

[2022-01-27 09:07] dtolnay commented on #81447
@rustbot release-assignment

[2022-01-27 09:08] dtolnay commented on #81851
@rustbot release-assignment

[2022-01-27 09:10] dtolnay commented on #82149
@rustbot release-assignment

[2022-01-27 09:11] dtolnay commented on #83274
@rustbot release-assignment

[2022-01-27 09:11] dtolnay commented on #83999
@rustbot release-assignment

[2022-01-27 09:32] #78474 closed

[2022-01-27 09:37] zhiburt opened #93366 "unexpected panic (unwrap)"
Hi

Just encounter this unwrap.
I did not test it on nightly nor I checked duplicates.
So it may be either of them.

It was repeatable until running `cargo clean` then it got fixed.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-01-27 09:37] zhiburt commented on #93366
may be a duplicate of #93317

[2022-01-27 09:38] lcnr opened #93367 "Tracking Issue for sound builtin auto trait impls"
This is the **summary issue** for the `SUSPICIOUS_AUTO_TRAIT_IMPLS` future-compatibility warning. The goal of this page is to describe why this lint was added and how you can fix code that is affected by it. It also provides a place to ask questions
or register a complaint if you feel the change should not be made. For more information on the policy around future-compatibility warnings, see our [b

[2022-01-27 09:53] lcnr commented on #84857
a more beautiful example :sparkles:  https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=55ee1eb41bf551a5969a5444a52792ce

[2022-01-27 09:54] peterjoel commented on #88900
A very common case (from looking at these errors in my codebase) is informational fields on error types. These are not really intended to be used as such but will show when the error is logged.

[2022-01-27 09:57] SuperFluffy commented on #70142
I was looking for something like `flatten` and found this tracking issue. Just now I would find `flatten_err` very useful. I have a function `fn f<U>(data: T) -> Result<U, T>` that returns `data` in error position. The idea is to be able to redo a different kind of calculation on `data` and only bail if that also didn't work (or even chain these things). So I might end up with something like `Resu

[2022-01-27 10:38] hkratz commented on #93366
@rustbot label A-incr-comp

[2022-01-27 10:39] hkratz commented on #93317
@rustbot label A-incr-comp

[2022-01-27 10:59] Amanieu commented on #93333
Yes it is.

[2022-01-27 11:09] djc opened #93369 "Panicked from calling `Option::unwrap()` in compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs:18:85"
### Code

This happened while running `cargo t` against the code in https://github.com/djc/epp-client/tree/available-ice.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-27 11:12] djc commented on #93369
I could not reproduce this with `cargo +nightly t` (nightly-aarch64-apple-darwin updated - rustc 1.60.0-nightly (6abb6385b 2022-01-26) (from rustc 1.60.0-nightly (89b9f7b28 2022-01-10))).

[2022-01-27 11:33] josephlr commented on #40180
The problem described here is exactly why you _must_ have `DPL == 0` in any IDT entry for an exception (i.e. vectors 0 though 31). That way, a usermode process cannot corrupt the kernel stack or (more generally) trigger the kernel's interrupt handling code in unexpected ways. With this setup, if usermode executes `int 14`, you just get a `#GP`.

I don't think this is true. It's the calling code's

[2022-01-27 11:45] mjhatamy opened #93370 "Rust compilation fails"
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', /rustc/db9d1b20bba1968c1ec1fc49616d4742c1725b4b/compiler/rustc_hir/src/definitions.rs:452:14
stack backtrace:
   0: _rust_begin_unwind
   1: core::panicking::panic_fmt
   2: core::panicking::panic
   3: <rustc_middle::ty::context::TyCtxt>::def_path_hash_to_def_id
   4: <rustc_query_system::dep_graph::dep_node::DepNode<rustc_

[2022-01-27 11:48] sollyucko commented on #70142
@SuperFluffy

FWIW, it seems like [`ControlFlow`](https://doc.rust-lang.org/std/ops/enum.ControlFlow.html) would better reflect your semantics, though that currently doesn't have a `flatten` method either. There, both `flatten_break` and `flatten_continue` seem likely to be useful.

[2022-01-27 11:50] apiraino commented on #93274
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393274.20Regression.20in.20async.20generator.20and.20fmt.20internals.3A.20los.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-01-27 12:14] edmorley opened #93371 "ICE: thread 'rustc' panicked at 'index out of bounds: the len is 52 but the index is 58', compiler/rustc_query_impl/src/on_disk_cache.rs:726:18"
### Code

I have saved a copy of the repo state + target directory that triggers this ICE, that I can provide on request :-)
The repo is: https://github.com/Malax/libcnb.rs

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-27 12:39] lqd commented on #93254
@deepu105 could you test again on a recent nightly ? This was fixed a few days ago

[2022-01-27 13:07] Mathspy commented on #70142
@SuperFluffy your use case might be satisfied with [`or_else`](https://doc.rust-lang.org/std/result/enum.Result.html#method.or_else)

[2022-01-27 13:12] #93254 closed

[2022-01-27 13:34] Jake-Shadle opened #93372 "SIGSEGV in LLVM 13"
### Code

Unfortunately I don't have a minimal repro for this issue since this was a regression between rust versions reported by a user that I am just now getting around to filing, and callstack is deep in LLVM so I have no hints as to the Rust code that might be triggering it.

The code in question is https://github.com/EmbarkStudios/texture-synthesis, the original issue reported by users is htt

[2022-01-27 13:57] MightyPork commented on #70919
Similar issue in current rustc, my code involves std RwLock and match

[code]

[code]

the error makes no sense, i drop it manually right above. I can't find a way to subjugate the compiler.

[2022-01-27 14:03] hkratz commented on #93372
Not sure if it makes sense to investigate this if it is not reproducible in current nightly. @Jake-Shadle Can you check if it is reproducible with the current beta?

@rustbot label -I-ICE +I-crash +A-llvm

[2022-01-27 14:04] hkratz commented on #93371
@rustbot label +A-incr-comp

[2022-01-27 14:04] Kvicii opened #93374 "about the-doc-attribute.md typo"
rename `documenation`

[2022-01-27 14:06] Jake-Shadle commented on #93372
Beta has the same crash unfortunately.

[code]

[2022-01-27 14:11] Kvicii commented on #93374
PR is [ISSUE-93374](https://github.com/rust-lang/rust/pull/93375)

[2022-01-27 14:47] Veetaha opened #93378 "Named format arguments introduce implicit positional arguments"
I tried this code:

[code]

I expected to see a compile error that says that there are missing positional arguments or that it is prohibited to mix positional and named parameters.

Instead, this compiles and prints the following:
[code]

This code is [available on the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=91fcd6600665ef45dae25f2a735768fb).

### Meta

[2022-01-27 14:50] phil-opp commented on #40180
@joshtriplett Yes, I'm happy to work on this! I will create a rough draft and then open a pre-rfc thread on internals to discuss the details.

[2022-01-27 14:50] mikeleany commented on #40180
Thank you for the correction. `DPL == 0` does indeed prevent the issue of user-level code corrupting the kernel stack in this way.

Given that my concern about user-level code corrupting the kernel stack was incorrect, I agree.

[2022-01-27 15:22] c410-f3r opened #93379 "[`let_chains`] Declared closures are rejected"
[code]

In the meanwhile, `let add = { |local_n| local_n + 1 }` can be used as a workaround

[2022-01-27 15:36] Mark-Simulacrum opened #93380 "regression: rustdoc resolution failures"
I think there was some relatively recent work done as part of the work to clean up name resolution inside rustdoc, and there's enough failures that this seems plausible to be a real (if rare) regression. Haven't looked at the surrounding text for these though.

* https://crater-reports.s3.amazonaws.com/beta-1.59-rustdoc-1/beta-2022-01-21/gh/tanium.octobot/log.txt
* https://crater-reports.s3.amazon

[2022-01-27 15:46] bossmc commented on #93360
Unwinding from Rust into C++ is complex (might even be UB today, I'm not 100% sure, it was blocked in Rust 1.33 but then re-allowed soon after with large safety warnings) - https://github.com/rust-lang/project-ffi-unwind/blob/master/faq.md and related pages might tell you more about the current state of the world.

The presence of the zero terminator suggests this isn't the same issue as #47551 th

[2022-01-27 15:57] #90752 closed

[2022-01-27 15:58] apiraino commented on #91598
I'm going to close this issue as the numbers are showing this should be solved. In case it can be reopened or follow-up issues can be created.

[2022-01-27 15:58] #91598 closed

[2022-01-27 16:04] Mark-Simulacrum commented on #93034
https://github.com/rust-lang/rust/issues/93380

[2022-01-27 16:11] Nemo157 commented on #93380
It seems like cargo is not building all the dependencies or passing the `--extern` flags to the `rustdoc` invocation for some reason.

[2022-01-27 16:13] Nemo157 commented on #93380
At least some of the dependencies I've checked (`textwrap-macros-impl` and `deepmesa-collections`) have set `lib.doc = false` in their `Cargo.toml`; maybe related?

[2022-01-27 16:14] Mark-Simulacrum commented on #93380
cc @ehuss -- I think this was recently fixed and backported, right?

[2022-01-27 17:10] Mark-Simulacrum commented on #93380
OK, closing as fixed then.

[2022-01-27 17:10] #93380 closed

[2022-01-27 17:14] JuliaMerz opened #93383 "Target directory error when using Sha2::256::Digest as return"
Hello!

Repro steps:
1. `cargo build` with the code as shown
2. `cargo build` *after* changing something about the code (presumably to trigger a recompile)

Deleting the `target` directory resolves this error.
Deleting `hash_from_prev` resolves this error.
Leaving hash_from_prev but removing the `*Sha256::digest(` line resolves this error.
^the digest line must be both in the build that created th

[2022-01-27 17:48] klensy opened #93384 "compiletest crashes on CI with: expected success, got: signal: 11 (core dumped)"
runner: x86_64-gnu-llvm-12, ubuntu-20.04-xl
Occured in multiple pr across CI:
#93361: https://github.com/rust-lang/rust/runs/4969749566?check_suite_focus=true
#93381: https://github.com/rust-lang/rust/runs/4969258442?check_suite_focus=true
#93375: https://github.com/rust-lang/rust/runs/4967313356?check_suite_focus=true
#93239: https://github.com/rust-lang/rust/runs/4963643970?check_suite_focus=tru

[2022-01-27 17:59] Aaron1011 commented on #93383
This should be fixed in the latest nightly.

[2022-01-27 18:08] sdavids commented on #73908
https://github.com/github/roadmap/issues/240

[2022-01-27 19:14] eholk commented on #57478
@camsteffen - I would say not very much. Originally I approached this issue in terms of liveness, but that ran into enough problems that I gave up on it. For example, in something like
[code]
it's hard to realize that `y` being live implies that `x` is live too.

The solution I ended up going with works by tracking the ranges for which values are not dropped (see #91032).

I wouldn't let my work h

[2022-01-27 20:04] dtolnay commented on #93379
It's not clear to me that the current behavior isn't the right behavior.
@rustbot label +T-lang

[2022-01-27 20:06] cameron1024 commented on #90847
@rustbot claim

[2022-01-27 20:53] jyn514 opened #93388 "`const_item_mutation` has false positives with `&mut &T`"
I tried this code:

[code]

I expected to see this happen: No warning, because it's not actually possible for `SERVER_CERT` to be mutated, even if it weren't a constant.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-01-27 20:54] jyn514 commented on #93388
The signature for `certs` is `pub fn certs(rd: &mut dyn BufRead) -> Result<Vec<Vec<u8>>, Error>`: https://docs.rs/rustls-pemfile/0.2.1/rustls_pemfile/fn.certs.html

[2022-01-27 21:04] JakobDegen commented on #93384
Possibly this was #91840 ? Looking at what's been merged in the last day, that seems to be the most relevant thing

[2022-01-27 21:18] marioortizmanero commented on #90608
This just happened to me with 1.58.0 (7f08ace4f 2021-11-24), and I wasn't renaming anything. Just refactoring some code and then ran into the error. Unfortunately, it's quite hard to track down, and after a `cargo clean` it was indeed fixed:

![image](https://user-images.githubusercontent.com/25647296/151445010-7167c9f8-ea08-40b5-93a3-09f12bc81344.png)

[2022-01-27 21:22] ehuss commented on #93329
Also happening with i686-msvc-1, so not specific to x86_64.

https://github.com/rust-lang/rust/pull/92740#issuecomment-1013780870

[2022-01-27 21:39] matthiaskrgr commented on #93384
You mean it might have introduced a new miscompilation that made compiletest crash?

[2022-01-27 21:40] matthiaskrgr commented on #93378
@rustbot prioritize

[2022-01-27 21:48] JakobDegen commented on #93384
Maybe. Its also possible that there was some existing UB elsewhere that happened to get set off by this, don't really know. My observation just mostly comes from where the segfault is happening and what commits in the last day have touched nearby code

[2022-01-27 22:11] m-ou-se commented on #93378
Oh dear. We should fix this quickly, before any code starts depending on this.

[2022-01-27 22:24] nico-abram commented on #93388
Does copying the &[u8] to a local not work?

[code]

[2022-01-27 22:28] xfix commented on #93378
`println!("{c} {}", c = "c")` appears to be valid since Rust 1.12.

[2022-01-27 22:34] klensy commented on #93384
`Warning: Skipping "src/test/ui": not a regular file or directory`
`Warning: Skipping "src/test/mir-opt": not a regular file or directory`

Why this even triggered? Looks unrelated, but still suspicious.

[2022-01-27 22:37] jyn514 commented on #93388
ah sure, there are workarounds - but I still think the lint is a false positive.

[2022-01-27 22:38] m-ou-se commented on #93378
Yes, but that's not as bad, and arguably the right thing. The problem we should fix is the implicit captures getting used for `{}`.

[2022-01-27 22:47] GKFX opened #93393 "Unstable items in rustdoc fail WCAG color contrast criterion"
https://doc.rust-lang.org/core/intrinsics/index.html has a long list of unstable functions. They have a text colour of `#9a6e31`, and due to the `unstable` class on their parent an opacity of 0.65. This results in text with too little contrast against their background to be read by all users.

Firefox can't use the opacity of parent elements to calculate colour contrast, but if I move the opacity

[2022-01-27 22:52] m-ou-se commented on #93378
This should fix it: https://github.com/rust-lang/rust/pull/93394

[2022-01-27 22:52] Aaron1011 commented on #93388
This is not true - you could attempt to write a different `&[u8]` to the mutable reference, which would actually just write to the temporary. The lint is working as intended here - `&mut SERVER_CERT`  makes it look like you have the ability to modify the global `SERVER_CERT`, which is not actually the case.

[2022-01-27 23:06] joshtriplett opened #93396 "Tracking Issue for sort_floats"
Feature gate: `#![feature(sort_floats)]`

This is a tracking issue for the `sort_floats` method on `[f32]` and `[f64]`, a convenience method to sort a slice of floats by calling `sort_unstable_by` using `total_cmp`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #...
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

[2022-01-27 23:31] ehuss commented on #93384
Those warnings are unrelated.  I'll post a patch soon to fix it.

[2022-01-27 23:53] erickt opened #93398 "Rustdoc does not link to overloaded methods by name"
Hello all! I couldn't find any tickets that discuss this problem, so hopefully this isn't a duplicate report.

I'm experimenting with the [typestate pattern](http://cliffle.com/blog/rust-typestate/), where I'm using it in a builder to cascade a series of transformations. Here's a simple version:

[code]

It seems though that rustdoc does not handle overloading the name particularly well. When runn

[2022-01-28 00:25] sunfishcode commented on #88564
#88794 adding `try_clone()` to `OwnedFd` has now landed.

Thinking about `Copy` and `Clone` on `BorrowedFd`, even though most uses in practice don't need `Copy` and `Clone`, it does come up occasionally. For example, in rustix, while most public functions take `Fd: AsFd`, internally it uses `BorrowedFd` to reduce the amount of generic code, and whenever it needs to pass a `BorrowedFd` to more than

[2022-01-28 00:39] cuviper commented on #93372
Nightly has the LLVM update #93081, which is nominated for beta but not yet approved or backported. However, those codegen changes are specific to AArch64, plus a little debuginfo addition for MSVC.

It could also be that some other incidental change in nightly rustc output has hidden the underlying issue.

[2022-01-28 00:59] camelid opened #93401 "rustdoc regression: Lifetime in type alias definition is incorrectly elided"
It'd be good to minimize this and reproduce this outside of rustc.

### [beta](https://doc.rust-lang.org/beta/nightly-rustc/rustc_middle/ty/query/query_stored/type.resolutions.html) (incorrect)

![image](https://user-images.githubusercontent.com/37223377/151468380-30b3a29e-ea18-4a7f-918f-222aa82b93bc.png)

### [stable](https://doc.rust-lang.org/stable/nightly-rustc/rustc_middle/ty/query/query_stor

[2022-01-28 01:02] camelid commented on #93398
Yep, rustdoc just ignores generics in intra-doc links currently. I don't think there's any way to disambiguate as of yet.

[2022-01-28 01:08] ehuss commented on #92829
Posted #93402 with a possible solution.

[2022-01-28 01:10] DemiMarie commented on #85434
I honestly think this is the *only* reasonable solution.  POSIX’s semantics are not a good fit for us.

[2022-01-28 01:33] #91960 closed

[2022-01-28 03:10] QiangHeisenberg opened #93406 "Stripped symbol table information should not be discarded."
Run ```RUSTFLAGS='-C link-arg=-s' cargo build --release``` to obtain the release version of the stripped symbol table.But where did the divestiture go?How do I get it back?This information doesn't seem to be lost.

[2022-01-28 03:53] pnkfelix commented on #55693
closing as fixed! Thanks @osa1 for looking into it!

[2022-01-28 04:04] pnkfelix commented on #75860
To be clear, this now produces the specific error:
[code]

I don't think we need to bisect down to the specific point where this was fixed. (If someone eventually has time to do it, great, but its not a reason to keep this issue open.)

A test very close to what was posted in the description was added in PR #80429, so this really is done now.

[2022-01-28 04:04] #75860 closed

[2022-01-28 04:29] Aaron1011 commented on #90608
@marioortizmanero: This should be fixed in the latest nightly by https://github.com/rust-lang/rust/pull/93064

[2022-01-28 04:33] HTG-YT commented on #44930
I see a potential use case for `efiapi` convention:
![image](https://user-images.githubusercontent.com/39023054/151487526-19bd320f-11b6-43cb-af82-a2b4475372b6.png)

Example implementation:
[code]

Is this out of the scope of this RFC, or should a new RFC be opened to extend this feature?

[2022-01-28 04:37] Aaron1011 commented on #93371
This should be fixed in the latest nightly by https://github.com/rust-lang/rust/pull/92533

[2022-01-28 06:57] Zalathar commented on #69517
I ran into this myself when starting to write some tests, and it was baffling.

Since I had specifically written a test that doesn’t panic, and the failed test result prominently showed a complicated panic in the test runner internals, I ruled out the possibility of this being intended behaviour. I could only conclude that I must be triggering some kind of obscure bug in the runner, and spent a lo

[2022-01-28 07:02] canndrew opened #93411 "Compiler segfault when using type_alias_impl_trait"
The following code segfaults the compiler:

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

A segfault with this stack trace:

[code]

[2022-01-28 07:43] SchrodingerZhu commented on #93360
As a solution, we have decided to quit using compiler-rt and llvm's libunwind. Though, I am still looking forward for solutions!

[2022-01-28 08:45] m-ou-se commented on #85434
We discussed this in a recent library team meeting, and we'll be going forward with this.

[2022-01-28 09:23] nikic commented on #93372
Here's a reduction that crashes `opt -indvars` with rust's opt: https://gist.github.com/nikic/cff3b6cb9947ff324ed63c8da2ec80fa

However, it works fine with LLVM main, so this has already been fixed upstream. As this is only a crash and not a miscompile, I'm inclined to not investigate this further let this be fixed with the LLVM 14 upgrade.

[2022-01-28 09:25] jethrogb commented on #44930
Isn't EFIAPI not just one of the existing Microsoft calling conventions?

[2022-01-28 09:34] HTG-YT commented on #44930
Probably, but I was thinking about would `extern "C"` work here - as it stands, I am working with EFI, *not* C.......?

Please do correct  and clarify if I am mistaken. Corrections are appreciated. 👍

[2022-01-28 10:28] CAD97 opened #93415 "Named format arguments can be used as positional"
I [tried this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c93e0a6f62eb4c6f23a85912bbec861b):

[code]

I expected to see this happen:

[code]

Instead, this happened: *explanation*

Standard Error
[code]

Standard Output
[code]

### Meta

This happens on current 1.60.0-nightly (2022-01-27 21b4a9cfdcbb1e76f4b3), and back to _rustc 1.12.0_[^1]. On rustc 1.11.0, it g

[2022-01-28 10:30] klensy commented on #93415
Perhaps #93378?

[2022-01-28 10:31] CAD97 commented on #93415
Looks to be it, beat me to it by a day it looks like.

[2022-01-28 10:41] CAD97 commented on #93415
I restricted this just to the "named arguments can be used as positional" case, since #93378 is getting fixed for the more obviously bad case of `println!("{what}{}")`.

[2022-01-28 10:42] CAD97 commented on #93378
I just ran into this as well and reported #93415; I've tightened that one to just the fact that named arguments count as positional, so discussion on that can happen there.

[2022-01-28 10:43] CAD97 commented on #93415
Note that if this gets upgraded to a hard error, #93394 can be backed out, as it exists just so that implicit captures don't count as positional arguments (but named arguments still do).

[2022-01-28 10:49] m-ou-se commented on #93415
I agree with @CAD97 said: While it can be confusing, I'm not sure it's something we should consider a bug, as this behaviour has been stable for almost six years.

A lint that warns about it could be reasonable. Maybe something like this:

[code]

[2022-01-28 10:50] klensy commented on #93384
Funny thing: #93352 been merged even with crashed compiletest: https://github.com/rust-lang/rust/pull/93352#issuecomment-1022696785, how this works?

[2022-01-28 11:00] fee1-dead commented on #93384
The comment by @rust-log-analyzer is about the CI run not the bors run.

[2022-01-28 11:05] dragon-zhang opened #93417 "Does `rust` support stack coroutine like `go` ?"
Does `rust` support stack coroutine like `go` ?

[2022-01-28 11:09] klensy commented on #93384
Yes, it failed on PR check, not on check-all-platforms-and-merge.
So fast approving PR, so it merged even with failed PR check :-(

[2022-01-28 11:37] GabrielMajeri commented on #44930
@jethrogb Not exactly. See also this issue with the `uefi-rs` library: https://github.com/rust-osdev/uefi-rs/issues/302

The basic idea is: for the GNU C/C++ compilers, you can choose a calling convention (`extern "C"` or just no extern), and you can also choose an ABI using [a custom function attribute](https://gcc.gnu.org/onlinedocs/gcc/x86-Function-Attributes.html) (`ms_abi` vs `sysv_abi`).

Ru

[2022-01-28 12:42] SStarosielec opened #93419 "error: internal compiler error: compiler\rustc_lint\src\types.rs:859:17: malformed transparent type"
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-28 12:49] ChrisDenton commented on #93419
Seems to have been fixed in 1.57.0?

[2022-01-28 13:03] Veetaha commented on #93415
@m-ou-se I don't think this behavior was documented. I did stumble upon it even before opening #93378 when writing a derive with `thiserror`, but thought it could be a bug in that library. It surprised me to see the same unexpected behavior in standard formatting macros!

Since this behavior wasn't documented we shouldn't consider it as a valid usage of formatting macros. If we make it a hard erro

[2022-01-28 13:37] atneit opened #93421 "thread 'rustc' panicked at 'no entry found for key'"
### Code

I have no minimally verifable example. I do not know what caused the error and the project is rather big. But compiling again after a clean worked and is no longer reproducible. Also compiling with `cargo build --release` worked without errors.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p

[2022-01-28 13:37] atneit commented on #93421
I'm guessing it has something to do with outdated cache?

[2022-01-28 13:44] #55693 closed

[2022-01-28 13:47] michidk opened #93422 "docs.rs fails to build"
When pushing my crate [off-rs](https://github.com/michidk/off-rs) to crates.io the docs build fails on docs.rs with the following error:
[code]

I haven't got it to work ever since it first failed (the first version worked). The repo is here: https://github.com/michidk/off-rs/tree/6a0146d4f2cadb1e46ce8849abd0269cd97d3528
Building the docs locally on my machine works without any issues, even on nig

[2022-01-28 13:56] michidk commented on #93422
Closed, because this seems like a bug with docs.rs

[2022-01-28 13:56] #93422 closed

[2022-01-28 13:57] m-ou-se commented on #86941
@rfcbot resolve move to a module?

This is resolved by #93414.

[2022-01-28 13:59] Thomasdezeeuw opened #93423 "Tracking Issue for unix_socket_creation"
Feature gate: `#![feature(unix_socket_creation)]`

This is a tracking issue for `os::unix::net::SocketAddr::from_path`.

### Public API

[code]

### Steps / History

- [x] Implementation: [#93239](https://github.com/rust-lang/rust/pull/93239)
- [ ] Final comment period (FCP): https://github.com/rust-lang/rust/pull/94356#issuecomment-1050802322
- [ ] Stabilization PR: https://github.com/rust-lang/r

[2022-01-28 14:02] Thomasdezeeuw commented on #65275
Tracking issue for `std::os::unix::net::SocketAddr::from_path`: https://github.com/rust-lang/rust/issues/93423.

[2022-01-28 14:20] Nemo157 commented on #93378
Also see previously https://github.com/rust-lang/rust/issues/69110 and https://github.com/rust-lang/rust/issues/45256 for discussion about non-capture named arguments introducing positional arguments.

[2022-01-28 14:21] m-ou-se commented on #93415
Sure, that's basically the same lint that was already suggested. Whether we tag that as a future compaibility lint or not is debatable. I don't see any reason to make this stronger than a warning. A warning helps against bugs, but anything stronger doesn't really seem to have much extra value. I don't think it makes sense to warn if any of your dependencies trigger the lint, for example.

As Rust

[2022-01-28 14:31] pnkfelix commented on #91671
(I'm not sure there's much value in encoding this specific reproducer as a regression test for rustc, since its so tightly coupled to LLVM-IR details... so I didn't include a regression test in the PR #93426. But I'm open to counter-arguments...)

[2022-01-28 14:38] SOF3 commented on #84737
Seems no longer reproduced on latest nightly, not sure if it is some update in the libraries or the rustc itself.

[2022-01-28 14:45] Ten0 commented on #25477
For reference, `retain_mut` is currently being added to the standard library: #90829

[2022-01-28 14:52] Shemnei opened #93428 "rustdoc panics when resolving intra doc link"
Running `cargo +nightly doc` on the crate [`off-rs`](https://github.com/michidk/off-rs) fails with a (semi-unrelated) panic.
This currently also fails to build on `docs.rs`: <https://docs.rs/crate/off-rs/0.1.3/builds/500166>

This started to occur with the latest nightly version (`rustc 1.60.0-nightly (21b4a9cfd 2022-01-27)`).

### Probable cause

The issue is probably related to the following doc

[2022-01-28 15:43] #93388 closed

[2022-01-28 15:44] #92718 closed

[2022-01-28 16:02] DemiMarie commented on #85434
Yay!!!  That gives Rust an opportunity to have better performance than pthreads, too.  The one caveat is robust mutexes, but I don’t think Rust needs those.

[2022-01-28 16:06] dragon-zhang opened #93430 "Does `rust` support calling `macro methods` through `reflection`?"
Does `rust` support calling `macro methods` through `reflection`?

[2022-01-28 16:31] michaelwoerister commented on #88873
https://github.com/rust-lang/rust/pull/93006 (which was just merged and should be in a nightly soon) improves debuginfo for fat pointers. You now get the following debuginfo for the actual fat pointer type:

[code]

Does that help?

[2022-01-28 16:33] khuey commented on #88873
I expect it will. I'll test next week.

[2022-01-28 17:13] bstrie commented on #57349
Since part of this feature was proposed for stabilization a few years ago now, that would seem to imply that in certain contexts `&mut`-in-`const` is ready to land, and that the remaining problematic contexts are keeping everyone on stable from being able to leverage this in the non-problematic contexts. Does that seem correct? If so, can we split this out into multiple features and stabilize the

[2022-01-28 17:39] Aaron1011 commented on #93421
This should be fixed in the latest nightly by https://github.com/rust-lang/rust/pull/92533

[2022-01-28 17:45] bstrie commented on #86730
Worth noting that this appears to be the one and only remaining issue blocking the stabilization of inline_const, which itself is the only remaining issue blocking the stabilization of asm_const, so getting this sorted out would be very impactful.

[2022-01-28 17:58] bstrie commented on #93332
Is it possible that this may not actually be blocked on inline_const? AIUI, the concern was that stabilizing asm_const would expose the *semantics* of inline_const to stable, so any change to the semantics of the yet-unstable inline_const would potentially break stable users of asm_const. But AFAICT there are no more foreseen semantic changes coming to inline_const, and the only remaining question

[2022-01-28 17:58] klensy commented on #93384
@JakobDegen can you try to revert that #91840 pr and see, will it fail or not on test?

[2022-01-28 18:09] bstrie commented on #32408
@ds84182 That seems useful, but it seems like it would be fully backwards-compatible to stabilize naked_functions as-is and only later extend it to allow multiple `asm!` blocks. IOW, whether or not your proposal is accepted, it doesn't impede the consideration of this attribute for stabilization.

[2022-01-28 18:39] T4r4sB commented on #93276
After some discussion I discovered, that the problem is not in Rust library.
The problem is in genetic code of Microsoft's programmers.
If you run 32-bit program in 64-bit system, you have this:

https://docs.microsoft.com/en-us/previous-versions/windows/desktop/legacy/ms633573(v=vs.85)

SUPPRESS!!!

[2022-01-28 18:39] #93276 closed

[2022-01-28 19:13] scottlamb commented on #93428
Same `no entry found for key` error with `retina` 0.6.7 and nightly locally and [on docs.rs](https://docs.rs/crate/retina/0.3.7/builds/500923). But not only could I not track it down to a particular doc link, it still crashes after I remove all doc comments altogether (no more lines matching `^\s*//[/!]` in my working copy; no `#[doc("...")]` either).

On `rustdoc 1.60.0-nightly (6abb6385b 2022-01

[2022-01-28 19:17] chbaker0 commented on #92623
Abandoning this since I used the wrong template and I don't have permission to add labels.

[2022-01-28 19:17] #92623 closed

[2022-01-28 19:18] chbaker0 opened #93440 "Relative paths for target tools in config.toml don't work consistently"
I want to build Rust using a non-system toolchain. I'd like to point bootstrap to my tools using relative paths. For example, to build with Clang from a Chromium checkout, I tried the following config.toml:
[code]

But this doesn't work. The build system seems to assume paths are absolute, or are files in the PATH. When building several steps fail to find the specified tools.

Building with `./x.p

[2022-01-28 19:19] chbaker0 commented on #92623
Reopened at #93440

[2022-01-28 19:21] npmccallum commented on #32408
@bstrie Correct. The CNF RFC explicitly states: "This definition may be overly strict. There is certainly some code that would work without this. ... It might also be possible to reasonably ease the constraints over time."

From my perspective, I'd like to get something overly restrictive available for use in stable. Over time we can relax those restrictions or add features. But I don't want to le

[2022-01-28 19:23] abrown commented on #73820
Oops, I just pushed a draft PR with initial support for CET but also several questions to resolve--apologies to @cuviper! Last I checked this thread was last year and I thought no one was working on this. @cuviper, or anyone who is interested, I would appreciate your comments on https://github.com/rust-lang/rust/pull/93439 if you have a chance.

[2022-01-28 19:41] kupiakos commented on #36375
How about this? `!` automatically coerces to any `impl Trait`, with the following rules:
- All associated functions panic, along the lines of `panic!("<! as FooTrait>::baz()")`
- All associated constants panic, replaced with a `panic!("<! as FooTrait>::BAR")`. It could either set the value of the constant as `panic!()`, possible now with panic in const fn, or there could be special glue that repla

[2022-01-28 19:51] levkk commented on #28955
I'm getting this too on `rustc 1.58.1 (db9d1b20b 2022-01-20)`. Same code as yours.

[2022-01-28 19:53] yaahc commented on #43301
I'm doing some digging to try and figure out exactly what the blockers on this are and get details around the concerns around exit status. So far I'm having trouble finding any information about what I remember being the big blocker, AKA picking the right representation for the exit status.

The most relevant information I've been able to find is this IRLO thread discussing a potential API for exi

[2022-01-28 19:54] veber-alex commented on #79995
is it possible to add this as methods on `impl [MaybeUninit<T>]` ?

[2022-01-28 19:56] yaahc commented on #43301
I'm nominating this issue for libs API discussion during our meeting next week to resolve the issue around naming. I'm also going to go ahead and open a PR to swap the return type for report.

[2022-01-28 19:57] lqd commented on #93411
I believe this will be fixed by the TAIT overhaul in #92007 cc @oli-obk

[2022-01-28 20:01] ian-h-chamberlain commented on #75841
I just found this issue, I think there _is_ actually a `config.toml` entry for this, but for some reason it defaults to absolute path instead of relative, unlike all the other directories.  Note `sysconfdir` in `config.toml.example`:

[code]

Is there a specific reason this is not relative by default?

[2022-01-28 20:01] SNCPlay42 commented on #93415
This also works with captured bindings:

[code]

Compiles and prints `what?what?`.

[(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=df30532a5d964775f3225f5ff17737b3)

[2022-01-28 20:03] yaahc commented on #43301
Okay, I found the discussion on platform specific concerns on exit codes: https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Termination.2FExit.20Status.20Stabilization

[2022-01-28 20:09] #93421 closed

[2022-01-28 20:16] eholk commented on #78649
I'm finally getting around to looking at this today. Here's a standalone test case:
[code]

The query stack when cycle comes up is:
[code]

If I remove the `+ Send` bound, then the code works, so the issue seems to be around checking auto traits, which makes sense given query `#0`.

I'm a little surprised to see that borrow checking is needed to find the type of `foo::{opaque#0}`, which I assume i

[2022-01-28 20:34] JakobDegen commented on #93384
Yeah, I can do that before the end of the day

[2022-01-28 20:45] the8472 commented on #21182
#91837 implemented it for a rustc-internal hashet by using commutative operations.
But that approach can't be applied to the public HashSet because it requires intermediate hashers to be constructable. I.e. it would need something like `impl<H, T> Hash<H> for HashSet<T> where H: Hasher + Default `, but Hash has the generics on the methods rather than the trait itself, so that approach isn't applic

[2022-01-28 20:55] mark-i-m commented on #32408
One thing to consider: is any of the requirements on CNF not relaxable? For example, is there any future compatibility hazard in the `noreturn` requirement that would, say, change what kind of code is emitted after a naked function or change the state of the stack at different points in the function?

[2022-01-28 21:04] npmccallum commented on #32408
@mark-i-m I think we'd have to consider that on a feature-by-feature basis.

In your particular example, I don't think it is ever the intent to allow anything except `asm` blocks in a naked function. So, for example, we could relax the requirement to have a single asm block and the last asm block must have `noreturn`. But we can't ever let Rust do the return since returning in Rust almost always e

[2022-01-28 21:19] Stargateur commented on #44930
C standard don't state any ABI requirement. Rust `extern "C"` is "use the classic C ABI for this target used by most C compiler", it's not guarantee to work all the time.

[2022-01-28 22:03] wuggen commented on #88252
Confirming that I get this error on nightly-2022-01-11 (the most recent that I can use, since llvm_asm got removed and asm doesn't yet support AVR assembly), compiling for atmega32u2. As a workaround, setting `RUSTFLAGS='-Ccodegen-units=1'` gets past the segfault, but runs into the unsupported instruction error that @bombela mentioned.

[2022-01-28 22:29] dlrobertson commented on #44930
Perhaps we should also allow `sym::efi_api` in [`check_variadic_type`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_ast_passes/src/ast_validation.rs#L577)? `extern efi_api` didn't exist when I implemented it, which is the only reason I didn't add it in the original implementation. I don't immediately see a reason we shouldn't allow `extern "efiapi"`. I could take a crack at an impl

[2022-01-28 22:34] jonhoo commented on #70468
Just to leave a trail of breadcrumbs, there was an attempted fix for this in https://github.com/rust-lang/rust/pull/89983

[2022-01-28 22:49] notriddle commented on #93417
Questions like this one should probably be sent to https://users.rust-lang.org/

[2022-01-28 23:20] #91671 closed

[2022-01-28 23:38] Mark-Simulacrum commented on #75841
At least on my system, the resulting /usr/local/etc seems to be empty, which may suggest that it's an uncommon destination? But I don't think the defaults for these options are necessarily well thought out, so in general a PR that change the whole set to match a tool that's more commonly installed (clang?) would likely be accepted.

[2022-01-29 00:33] jackh726 commented on #54208
Unsure if this is still relevant. But retagging wg- label to wg-nll

[2022-01-29 00:40] jackh726 commented on #46060
I reassigned this to wg-traits; nowadays we do a lot around the typesystem

[2022-01-29 00:47] jackh726 commented on #45738
Closing as it looks like this has been fixed.

[2022-01-29 00:47] #45738 closed

[2022-01-29 00:51] jackh726 commented on #45667
Retagging as wg-traits; supporting elision feels trait-y to me

[2022-01-29 00:56] jackh726 commented on #45596
Retagging as WG-compiler-performance; this might not stay for long, but arguably a better tag for now

[2022-01-29 01:00] jackh726 commented on #44912
Removing wg label without retagging; not a good wg- label for this right now

[2022-01-29 01:01] jackh726 commented on #44874
Going to retag this as wg-traits; kind of the best wg- label right now, even though we don't really discuss this

[2022-01-29 01:09] jackh726 commented on #28935
This compiles now. Marking as needs-test (unsure if there is one that covers this already)

[2022-01-29 01:18] JakobDegen commented on #93384
Reverting #91840 didn't fix it. Its still very suspicious that this started right after that got merged though

[2022-01-29 01:48] Lokathor opened #93448 "Termination documentation should describe only the standard library runtime's use of Termination"
The docs for the Termination are currently a little light. When the docs are expanded/updated as part of the stabilization the *likely* path forward is that they'll describe that a Termination returned from `main` will print any errors and then use `std::process::exit` to end the program.

When the Termination docs are expanded, we should be sure to maintain clearly that what the standard library'

[2022-01-29 01:48] dragon-zhang commented on #93417
well, thanks

[2022-01-29 01:48] #93417 closed

[2022-01-29 02:10] Mark-Simulacrum commented on #45596
perf.rlo suggests webrender-wrench and webrender both have sub-second wall times on recompile, so I'm going to go ahead and close.

[2022-01-29 02:10] #45596 closed

[2022-01-29 03:09] ian-h-chamberlain commented on #75841
Obviously Linux isn't the only platform, but here is a reference which seems to explain why `/usr/local/etc` might be desirable: https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s09.html

On macOS with `brew` this seems to be where packages store some configuration, based on this: https://docs.brew.sh/Formula-Cookbook#variables-for-directory-locations

Personally, my expectation would be that

[2022-01-29 03:31] HTG-YT commented on #44930
I am not sure whether it would be a *common* use case for *everything*; but it would indeed be a huge demand for support in low-level development, specifically when working with the UEFI specification and even OSDev with Rust in general.

[2022-01-29 03:37] chris-morgan opened #93450 "Error output regression: spurious integer inference error that only occurs if another error occurs"
I was just going through [my FizzBuzz article](https://chrismorgan.info/blog/rust-fizzbuzz/) as I do every year or so to update compiler error messages and make any related changes necessary, and came across a regression in error output for Figure 3.

Given [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fcbe85b114b1a0ec25c1069595346889):

[code]

This

[2022-01-29 03:39] wackbyte commented on #92656
I find the separate sections for different types easier to use and simpler to follow.

[2022-01-29 03:39] kaylynn234 commented on #92656
I understand that the intent here is to simplify the sidebar and make things seem less verbose, but (particularly relating to type definitions) I'm not really a fan of the change. It can be very helpful to know when something falls into a specific "class" of type - without having to jump to its position in the documentation or inspect the source - and I would really hate to lose that. I wouldn't b

[2022-01-29 03:41] ThePuzzlemaker commented on #92656
I support this @kaylynn234.

I feel like doing this would be counterproductive. I've found that I've had many cases where I need to looking over a module and need to find a specific enum or struct but don't remember the name. And I can't necessarily search for it with `enum:` if I don't know the name, as doing something like just `enum:` doesn't work.

Take, for example, an AST module. If designed

[2022-01-29 03:51] Grommish commented on #75841
The issue stems from the fact I set many things on `./configure` that aren't honored down the line.

[code]

I set those specifically to override any defaults.  However, `$(PYTHON) x.py --config ./config.toml install` seems to ignore it after I call `$(PYTHON) x.py --config ./config.toml dist`.  Which is fine if you are installing it like most people do.  I, however, am installing it to a `fakeroo

[2022-01-29 06:43] GabrielMajeri commented on #44930
Yes, unfortunately... Besides directly targeting UEFI and using the `extern "efiapi"` functions with the native MS ABI on UEFI targets, it's also possible that your Rust app is actually an OS kernel (targeting ELF with the GNU ABI for example), but you want to call some firmware functions which are declared with `extern "efiapi"` (MS ABI calling convention).

**Proposed solution**: I'd think it's

[2022-01-29 07:41] alercah commented on #54363
It's also just annoying to have to make a separate crate for macros, especially given that the predominant style seems to be to reexport them so that the user doesn't need to fuss with managing the dependencies.

No matter what, I suspect this is blocked on proper def-site hygiene support. But in light of the annoyance of making a separate crate, I'll propose another alternative: allow proc macros

[2022-01-29 07:54] sffc commented on #89690
I'm getting this error sporadically.  I can rebuild the exact same code, and this error shows up sometimes but not others.  It seems the way to make it go away is to find the file causing the error, delete the problematic match statement, save, rebuild, add the statement back again, save, and rebuild one more time.  Perhaps it's an issue with an incremental build?

[2022-01-29 08:20] jhpratt commented on #54363
For what it's worth at some point (likely 6-8 weeks out) I want to write an RFC to permit multiple library crates in a single package. The solution would, among many other things, include a way to solve the issue present here without anything too "weird".

It's all in my head. I just need to write it down in a way that makes sense and that can be discussed and implemented. Calling it an enormous c

[2022-01-29 09:54] oli-obk commented on #93411
It should, as that recursion is gone then.

I'll add this test to the PR

[2022-01-29 10:21] c410-f3r commented on #93379
Looks more like a feature than a bug. Closed

[2022-01-29 10:21] #93379 closed

[2022-01-29 10:33] xanathar commented on #93096
Same here.

Running `cargo test` after an important refactoring made `rustc` panic on `x86_64-pc-windows-msvc`.

Without thinking twice I ran `cargo clean` and that fixed everything, so I assume it was some intermediate files which were inconsistent, maybe caused by rust analyzer running `cargo check`  while editing?

Anyway, the gist is that I can't provide a minimal source code reproing because

[2022-01-29 10:54] matthiaskrgr commented on #93419
Yeah, it seems compile fine on lastest nightly:
[code]

@SStarosielec please update your rust toolchain if you can :slightly_smiling_face:

Closing as fixed.

[2022-01-29 10:54] #93419 closed

[2022-01-29 10:57] last-partizan opened #93454 "Libtest generated junit report includes extra newline at the start."
https://github.com/rust-lang/rust/blob/24ae9960c5116a6d1e827c58327e6d231e4fe174/library/test/src/formatters/junit.rs#L36

Hello, is there a reason to include this newline at the start?

@yaahc i'm tagging you, looks like it was your commit.

https://github.com/rust-lang/rust/commit/7779eb74c8367bc718a2005b4af42796a5d0b023

I'm trying to use junit format in github actions, and with this line, gener

[2022-01-29 11:04] nbdd0121 commented on #92988
Just thought of this, what happens if the panic handler actually unwind? If it can cause undefined behaviour then the panic handler would have to be unsafe.

[2022-01-29 11:07] c410-f3r commented on #83527
@markbt Are you still working on this feature? If not, then I can pick up from where you stopped

[2022-01-29 11:46] Amanieu commented on #92988
Unwinding is itself an unsafe operation. It is your responsibility to check that unwinding is actually possible before throwing an exception.

[2022-01-29 11:47] nbdd0121 commented on #92988
That'll break encapsulation. There is no way that code can check that unwinding isn't currently in progress.

[2022-01-29 11:48] Amanieu commented on #92988
That's what the `can_unwind` flag on `PanicInfo` is for. You must not start unwinding if that function returns `false`.

[2022-01-29 11:50] nbdd0121 commented on #92988
However there're no ways to prevent the panic handler from calling another function that unwinds. So either panic handler needs to be unsafe to take that responsibility, or it implies that `C-unwind` function cannot be encapsulated by safe APIs.

[2022-01-29 11:58] Amanieu commented on #92988
I just had a look through the code. By marking the `panic_no_unwind` lang item as `nounwind` (PR incoming), an unwind from a panic handler will become safe even if `can_unwind` is true. The compiler will add a `TerminatorKind::Abort` landing pad to `panic_no_unwind` which will simply call `panic_no_unwind` again. Eventually you will run out of stack and abort the process (which is safe).

This can

[2022-01-29 12:27] tmiasko commented on #93384
The issue appears to be caused by a copy of dirent made in `<ReadDir as Iterator>::next`. Only a part of the structure as described by `d_reclen` is actually dereferenceable: https://github.com/rust-lang/rust/blob/ca43894e0e350af2245ba7d9ad8b6e31e0d4786d/library/std/src/sys/unix/fs.rs#L492-L497

[2022-01-29 13:39] nbdd0121 commented on #92988
Or probably just tweak the codegen to generate trap instead of `panic_no_unwind` call if the function being codegen-ed is `panic_no_unwind`.

[2022-01-29 13:53] ehuss commented on #93430
@dragon-zhang Please stop using the issue tracker for general questions.  One of the user forums, such as https://users.rust-lang.org/ might be a better place to ask them.  This issue tracker is specifically for reporting issues with the compiler and related tooling.

Also, the questions are a little vague and difficult to understand. I recommend first spending some time with some learning materia

[2022-01-29 13:53] #93430 closed

[2022-01-29 13:58] SStarosielec commented on #93419
Thx yes, an update didn't crash rustc anymore.

[2022-01-29 15:24] kangalioo opened #93458 "Future is not Send anymore when it uses format! because core::fmt::Opaque is not Sync"
### Code

I tried this code:

[code]

I expected to see this happen: successful compilation

Instead, this happened:
[code]

### Version it worked on

It most recently worked on: Rust 1.59.0-beta

### Version with regression

`rustc --version --verbose`:
[code]

### Backtrace

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-01-29 15:32] Mark-Simulacrum commented on #93384
It sounds like reverting that PR would be a good first step, since the bugs it fixes look less critical to me given that diagnosis.

(Of course, maybe there is a more forward-moving fix, but a revert seems like something we can merge with less caution).

cc @joshtriplett @tavianator

[2022-01-29 15:34] dlrobertson commented on #44930
:+1: I think this enough info to get started on a implementation. To start, inspecting the LLVM IR emitted by simple standalone examples should be enough, but to move from WIP to something merge-able, I'd like a real test case. For that I might need some pointers and/or some help. Is there a commonly used IRC channel or chat mechanism for the rust-osdev group? If not, I may move discussions about

[2022-01-29 15:43] tavianator commented on #93384
I'll take a look.  @tmiasko do you mean the `entry: *entry_ptr` part?  I didn't expect `d_reclen < sizeof(struct dirent)` but maybe it's possible.

[2022-01-29 15:44] tavianator commented on #93384
Oh indeed that seems to happen all the time.  One sec I'll put up a patch

[2022-01-29 16:08] #84044 closed

[2022-01-29 16:08] #89066 closed

[2022-01-29 16:08] #91594 closed

[2022-01-29 16:14] danielhenrymantilla commented on #78649
I guess you'd like a `impls_trait_modulo_regions`, kind of like with `copy_modulo_regions`? Because you do need some lifetime-tracking (which I guess is done by borrow-checking?) to be able to know whether a trait is implemented.

  - [Demo](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5a981c23fa0e956216aa16d7eb764c72)

  - <sub><sup>For context, the `copy_modulo_regions

[2022-01-29 16:40] Urgau commented on #93458
This is probably related to https://github.com/rust-lang/rust/pull/91359

cc @dtolnay

[2022-01-29 16:46] danielhenrymantilla commented on #93458
Duplicate of https://github.com/rust-lang/rust/issues/93274

[2022-01-29 16:54] kangalioo commented on #93458
You're right

[2022-01-29 16:54] #93458 closed

[2022-01-29 16:57] markbt commented on #83527
I haven't had a chance to work on it for a while. I'm still interested in it, so happy to help out if you're picking it up, it just had to take a back burner relative to some personal things.I have a branch with a prototype implementation on my github fork. It's likely very out of date, so will need rebasing up to something more recent. Or perhaps you can just use it for inspiration and start from

[2022-01-29 17:52] jdahlstrom commented on #43301
FWIW, I might add to [my original comment that proposed the name "Exit"](https://github.com/rust-lang/rust/issues/43301#issuecomment-353755153) that `Exit` is also consistent with `std::process::exit` (and its many counterparts in other languages) as well as the new `ExitCode`.

[2022-01-29 18:00] cuviper commented on #73820
@abrown No worries, I had lost my initial momentum. Thanks for picking it up!

[2022-01-29 18:07] SNCPlay42 commented on #93450
searched nightlies: from nightly-2021-10-17 to nightly-2021-11-28
regressed nightly: nightly-2021-10-26
searched commit range: https://github.com/rust-lang/rust/compare/00d5e42e776da900049fe19087bc9b0057ec70cd...29b1248025b19bd132c8047fc710ea9314b9b76b
regressed commit: https://github.com/rust-lang/rust/commit/41d8c94d454f23239715a6433df79e46df8bce04

<details>
<summary>bisected with <a href='http

[2022-01-29 19:11] #92973 closed

[2022-01-29 19:14] ehuss commented on #93406
I'm not sure if I understand the question, but a fundamental part of stripping a binary means the information is removed.

Questions like these are better asked on one of the user forums, such as https://users.rust-lang.org/.

[2022-01-29 19:24] ChrisDenton commented on #44864
This seems to have been fixed? Using edition 2015 and `bitflags = "= 1.0.0"` the error output on Windows msvc does not have `bitflags::<unnamed>::` etc:

[code]

For reference, compiling for Linux gives:

[code]

[2022-01-29 19:26] ChrisDenton commented on #44864
This seems to have been fixed? Using edition 2015 and `bitflags = "= 1.0.0"` the error output on Windows msvc does not have `bitflags::<unnamed>::` etc:

[code]

For reference, compiling for Linux gives:

<details>

[code]

</details>

[2022-01-29 19:28] compiler-errors commented on #86172
So removing the `+ Send` makes the error go away -- this might be related to #71723 et al.

[2022-01-29 19:37] camelid commented on #92656
Hmm, okay. I won't make this change then. What about just moving the sections so they're all next to each other? Currently, the type alias section is at the bottom, while the others are at the top. Instead, I think they should all be at the top.

[2022-01-29 19:46] compiler-errors commented on #93450
@rustbot claim

[2022-01-29 19:51] ChrisDenton commented on #43376
Ok so the question is if using [`SetWaitableTimer`](https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-setwaitabletimer) may be useful for sub millisecond timers. However, as the "Remarks" section of the docs say, it's precision is controlled by [`timeBeginPeriod`](https://docs.microsoft.com/en-us/windows/win32/api/timeapi/nf-timeapi-timebeginperiod) which takes a time in mill

[2022-01-29 20:10] camelid commented on #93450
cc @estebank

[2022-01-29 20:15] camelid commented on #93378
Assigning priority as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393378.20Named.20format.20arguments.20introduce.20implicit.20positional.E2.80.A6) in the prioritization working group.

[2022-01-29 20:15] camelid commented on #93428
Assigning priority as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393428.20rustdoc.20panics.20when.20resolving.20intra.20doc.20link) in the prioritization working group.

[2022-01-29 21:10] flopacero opened #93464 "std::sync::Once::call_once executes closure multiple times when create as const"
I tried this code:

[code]

I expected to see an output:
[code]

Instead, the output:
[code]

The code starts to works as expected once `const INIT` is replaced by `static INIT`.
It can be reproduced on rust playground either on stable/betta/nightly builds.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-01-29 22:21] pushkine commented on #15701
For future reference there's only one instance of this feature usage in the rust codebase
https://github.com/rust-lang/rust/blob/a00e130dae74a213338e2b095ec855156d8f3d8a/compiler/rustc_borrowck/src/region_infer/mod.rs#L1846-L1855

[2022-01-29 22:22] Aaron1011 commented on #93464
This is because each use of `INIT` results in a new copy of the underlying `Once`. We have a `CONST_ITEM_MUTATION` lint that catches calls to methods that take `&mut` self - however, `Once` uses interior mutability,  so the lint doesn't catch it.

We may want to consider uplifting Clippy's lint against consts with interior mutability.

[2022-01-29 22:24] Aaron1011 commented on #15701
Closures are a special case, since you need to be able to apply codegen-related attributes directly to the closure expression.

[2022-01-29 22:47] peckpeck commented on #44762
Hi, I have a mostly working MVP for this
ie I can have autoref/autoderef on the self part of binary operators.
A lot is still missing, but i'm wondering what I should do next

[2022-01-30 00:04] sffc opened #93470 "ICE on match of const variables: destructure_const"
I am getting an ICE on the following code.

The ICE is always reproducible in a clean build, but in an incremental build, I can bypass the ICE by removing the `foo` function, compiling, and then adding the `foo` function back again.

This is possibly related to #89690 or #83085 given the similar error message, but I am filing a new issue with my own reduced case because the stack is different.

##

[2022-01-30 00:21] gregbuchholz commented on #92676
This issues has been resolved with fix in "wasm-ld", as described in [Emscripten issue #15891](https://github.com/emscripten-core/emscripten/issues/15891).  I can now successfully compile the example program above without problems.

[2022-01-30 00:21] #92676 closed

[2022-01-30 00:57] c410-f3r commented on #83527
Thank you @markbt

I will take a look at the branch and then get in touch if any questions arise

[2022-01-30 01:06] compiler-errors commented on #93470
I think I tracked down the HashStable implementation bug to SortedMap. Let me see if I can put a PR up.

@rustbot claim

[2022-01-30 01:32] jsha commented on #93230
Fixed in #93231

[2022-01-30 01:32] #93230 closed

[2022-01-30 01:38] QiangHeisenberg commented on #93406
Huss, it's great to see you.Yes, some information was deleted.

The deleted information needs to be used for debugging in my current project.
My current approach is to use objcopy to strip the symbol table and save the symbol table in the specified path, which is useful.
The purpose of my question here is to think that it would be better to add a function to save the deleted information to the spe

[2022-01-30 01:42] jsha commented on #93177
This was referenced somewhat in https://github.com/rust-lang/rust/pull/85651#issuecomment-867021577 - @dns2utf8 @GuillaumeGomez.

In retrospect, I think the stability pill should be moved back to be part of the description text. That would avoid this ugly wrapping, and would align groups of stability pills with each other (on desktop), at the small cost of putting the stability pill on the next li

[2022-01-30 01:53] compiler-errors commented on #93470
So `AllocId` acts somewhat like a plain NonZero number (its Eq impl), and somewhat like a reference (its HashStable impl, which it resolves to the underlying allocation to be "stable").

Not sure what behavior we want. It seems like we need to differentiate AllocIds in structs that should behave like the existing HashStable behavior (unwrapping and comparing their inner allocations), and AllocIds

[2022-01-30 02:00] compiler-errors commented on #93470
also cc: @Aaron1011, this might have to do something with `HashStableEq`.

(would using that trait have prevented this? just saw the PR a few hours ago, didn't have time to look it over yet!)

[2022-01-30 02:16] gregbuchholz commented on #91628
With the latest emscripten/llvm from git, the linking error with thread local storage is fixed.  See https://github.com/emscripten-core/emscripten/issues/15891

[2022-01-30 02:18] cuviper commented on #93464
A simpler example is a `const` atomic, and similarly any mutation will only affect a temporary copy.

[2022-01-30 03:58] CraftSpider commented on #88119
It appears somewhere along the way, the playground link started working. Does this need a test, something in glacier, or any other work?

[2022-01-30 04:36] pierwill commented on #15701
I did use this feature the other day to format a petgraph edge matrix the way I wanted.

[2022-01-30 07:26] matthiaskrgr commented on #91807
@pnkfelix  was this backported / can we close the issue? :)

[2022-01-30 07:53] teohhanhui commented on #91807
The fix was backported and released in 1.58.0

https://github.com/rust-lang/rust/pull/92592

[2022-01-30 08:23] matthiaskrgr commented on #91807
Perfect, thanks for checking @teohhanhui !

[2022-01-30 08:23] #91807 closed

[2022-01-30 08:42] inquisitivecrystal commented on #93401
This bisects to #91430.

Stop looking at me like that! `git bisect` is still a thing! And no, before someone asks, I do not volunteer to do this sort of thing on a regular basis. It took all day.

[2022-01-30 09:18] flopacero commented on #93464
Along with a lint it might be also helpful to add some note in docs for `std::sync::Once`. I can't remember if I've ever seen anything about `const` resulting in copy of an underlying variable. Besides `Once::new` is `const fn` so it's allowed to be used in const context. Turns out storing it as a `const` is likely not what you need.

[2022-01-30 09:30] ratmice commented on #43301
Hmm afaict, because this lives in `std::process`, it can't be used with e.g. `core` which doesn't have a `core::process` module,
But the trait itself looks fairly platform independent with just a `fn report(self) -> i32`, not that I have peeked under the hood or read the history of this feature, just wanted to mention since I noticed.

[2022-01-30 10:10] huxi opened #93474 "clippy fails for my project in latest beta"
### Steps to reproduce

- clone https://github.com/huxi/rusty_ulid
- execute `cargo +beta clippy`

I expected to see this happen: clippy should work.

Instead, this happened: clippy fails and prints the following error message.

[code]

### Version it worked on

It most recently worked on: `cargo +stable clippy` and `cargo +nightly clippy`, i.e. Rust 1.58.1 and Rust 1.60.0-nightly

### Version wit

[2022-01-30 11:23] dhardy opened #93476 "rustdoc ICE: 'no entry found for key'"
Running `cargo doc --no-deps` on nightly causes an ICE.
Judging by my [CI runners](https://github.com/kas-gui/kas/actions) for PRs this broken between 2 and 4 days ago (26th-28th Jan).

### Code
See attached minified project: [x.zip](https://github.com/rust-lang/rust/files/7965775/x.zip). Essentially, this is:
[code]

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace<

[2022-01-30 12:21] wucke13 commented on #85262
It's not like nixos chooses to link with any particular version of `glibc`, rather it takes the `glibc` which was used when build some of the build tools, `ld` for example. So there is nothing clever about the process, `rustc` just uses `$PATH` to discover some build tools, and these build tools will happily propagate whichever `glibc` they have been built against.

Unfortunately not, to my knowle

[2022-01-30 12:21] #85262 closed

[2022-01-30 13:36] ChrisDenton commented on #76294
To be clear, I don't think it couldn't ever be added but I don't think `MetadataExt` is the right place to add it.

Perhaps a Windows-only `SecurityInfo` struct would be better? Created using a path and/or with `FileExt2::security_info()`. This would more accurately convey that extra work is need and make clear it requires a separate structure to normal metadata.

[2022-01-30 13:36] steffahn commented on #92656
I don’t think type definitions should be grouped with the rest, it’s often important to _know_ that you’re dealing with a type synonym, in particular for custom versions of `Result` with a fixed error type. (I would also appreciate if a different color for type synonyms was re-introduced.)

<hr>

I’m not sure yet how to feel about `struct`s vs. `enum`s. An alternative, more systematic, point for d

[2022-01-30 13:38] #93340 closed

[2022-01-30 13:38] #93384 closed

[2022-01-30 13:38] #93428 closed

[2022-01-30 13:38] #91603 closed

[2022-01-30 13:53] jsha commented on #92656
FWIW, I'm still in favor of merging the sections. Yes, enums and structs are not exactly the same. But attention is a finite resource. By merging, we focus people on the big, important distinctions (between concrete types, traits, functions, macros and modules) rather than the less important ones - at least at the module summary page level. The pages and hover text will of course always make it cl

[2022-01-30 13:56] jsha opened #93477 "rustdoc: wrap source to new line on narrow screens"
Following up https://github.com/rust-lang/rust/pull/92861, where we let the out-of-band info (`1.0.0 · source · [-]`) move to a new line on narrow screens, we should give the same treatment to the individual `source` links next to methods and impl blocks. Note this will require a bit of a change in the DOM, to put the source links after the headings. Like the previous PR, we should set flex-wrap,

[2022-01-30 14:27] pythonuser00 opened #93478 "String interpolation filling in value instead of compile time error"
I tried this code:

[code]

I expected to see this happen: Compile time error for providing an empty parenthesis in `println!("The value of x, y, z is: {x}, {}, {z}");`

Instead, this happened:

`The value of x, y, z is: 500, 500, 1` The value of variable `x` (`500`) was filled in for the empty parenthesis.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[2022-01-30 14:30] fmease commented on #93478
Duplicate of #93378.

[2022-01-30 14:38] the8472 commented on #93464
They const keyword docs mention this. https://doc.rust-lang.org/std/keyword.const.html

[2022-01-30 14:56] kirillbobyrev commented on #71800
I've recently hit the problem of the hard error in the case when there is no infinite loop: [my code](https://github.com/kirillbobyrev/pabi/blob/c47d4ab5e4821a78e39f223577e6418f52ce4282/src/chess/attacks.rs) generates [PEXT Bitboards](https://www.chessprogramming.org/BMI2#PEXTBitboards) for a chess engine and it requires few seconds to finish but it's certainly not an infinite loop. The problem is

[2022-01-30 16:12] matthiaskrgr commented on #89851
Still crashing with `rustc 1.60.0-nightly (a00e130da 2022-01-29)` and debug assertions

[2022-01-30 16:21] oli-obk opened #93481 "Long-running const-eval (loops) unusable in practice."
I've recently hit the problem of the hard error in the case when there is no infinite loop: [my code](https://github.com/kirillbobyrev/pabi/blob/c47d4ab5e4821a78e39f223577e6418f52ce4282/src/chess/attacks.rs) generates [PEXT Bitboards](https://www.chessprogramming.org/BMI2#PEXTBitboards) for a chess engine and it requires few seconds to finish but it's certainly not an infinite loop. The problem is

[2022-01-30 16:24] oli-obk commented on #93481
I moved your comment from the other issue, as it is unrelated. Fixing the other issue will not make your problem worse.

Do you have more information about your failure? E.g. the entire error? Your code should definitely work, and we're gonna make it work.

What makes nightly different for your case?

[2022-01-30 16:27] thejpster commented on #93476
I see the same on docs.rs: https://docs.rs/crate/rp2040-pac/0.3.0/builds/501717

Docs build fine with latest stable (1.58.1), but I get the same error with `rustc 1.60.0-nightly (a00e130da 2022-01-29)`

[2022-01-30 16:37] Xiretza commented on #93476
This is probably a duplicate of #93428, right? The fix for that (3903ca1) isn't in yesterday's (2022-01-29) nightly yet, but should be in today's.

[2022-01-30 17:00] kirillbobyrev commented on #93481
Thanks a lot! This was the issue pointed out by the compiler so I thought it belongs to that one.

What I'm trying to do is to fill some arrays with pre-computed values in compile-time. The computation shouldn't take more than few seconds and is mostly bearable when I put it somewhere, e.g. in "independent" (of the project code) [build.rs](https://github.com/kirillbobyrev/pabi/blob/c9dbd4024af7c52

[2022-01-30 17:01] haesy commented on #43376
Go uses `SetWaitableTimer` in their internal `usleep` function on Windows, but I don't know why. I still only get ~15.6ms accuracy in Go on my Windows machines. Maybe it's useful for loops that regularly check if there is something to do and sleep otherwise (Go runtime, Tokio, game loops, ...)?

If `SetWaitableTimer` depends fully on `timeBeginPeriod`, I fail to see any advantages, because the onl

[2022-01-30 17:23] rdwnsjjd opened #93484 "Debugging rustc"
hey,
To learn more about rustc and how it's work in details, I like to debug it (I do not mean to fix a problem, I just want to run it line by line)
Do you have any suggestion? how can I do it?

I use Linux and vscode.

[2022-01-30 18:06] KangarooCoder opened #93486 "Invalid Left-hand Assignment Provides Incorrect Syntax as Solution"
I was attempting to assign directly to the result of a vector's `last_mut()`, which caused this error to fire. That is when I discovered that the help section was telling me to do add an extra let to my while statement, which is not syntactically correct.

I tried this code:

[code]

I expected to see this happen:
The code would fail to compile and the help message would tell me to dereference the

[2022-01-30 18:10] ehuss commented on #93478
Yea, I believe this is a duplicate of #93378 and should be fixed by #93394.

[2022-01-30 18:10] #93478 closed

[2022-01-30 19:08] JakobDegen commented on #93486
This minifies to

[code]

#93002 and #92979 are related I think, since this example produces the ICE mentioned there on stable.

[2022-01-30 19:10] est31 commented on #55300
I've opened #93480 to remove the deprecated and unstable `partition_at_index_*` functions that were added to ease the transition to the stable feature.

[2022-01-30 19:20] JakobDegen commented on #93486
@rustbot label +A-diagnostics +D-invalid-suggestion +T-compiler

[2022-01-30 20:12] matthiaskrgr commented on #93474
`x86_64-apple-darwin`
Could this be an architectural problem?
I was not able to reproduce on x86_64 with nighly, beta or stable.

[2022-01-30 20:41] fmease commented on #93484
https://rustc-dev-guide.rust-lang.org/compiler-debugging.html

[2022-01-30 20:57] #93258 closed

[2022-01-30 21:18] Miksel12 opened #93490 "Rust should pass vectors by vector register"
Rust currently doesn't pass vectors of floats by vector register.

This should be able to be passed by vector registers:
[code]
But in Rust 1.47 it uses the stack:

[code]
Post 1.47, it is packed into integer registers (see this issue:  [#85265](https://github.com/rust-lang/rust/issues/85265)):

[code]
This issue should be fixed by https://github.com/rust-lang/rust/pull/93405 and should bring it b

[2022-01-30 21:32] nikic commented on #93490
This doesn't make sense for integers. Yes, you've picked out a very lucky example where this allows vectorization, but generally this just means that data will have to be moved back and forth between vector and GPR registers, for the majority case where no vectorization is possible. Passing these by pointer (as in 1.47) is the right thing to do.

[2022-01-30 21:45] Urgau commented on #93490
I actually tried this but this is complicated because this register are influenced by `#[target_feature]`, which could lead to unsound code when called from a code that doesn't use this register.
https://github.com/rust-lang/rust/blob/803e19c6ebc647d4e600967c255fccea838bce9f/compiler/rustc_middle/src/ty/layout.rs#L3197-L3221

[2022-01-30 21:49] camelid commented on #93401
Thank you so much! FYI, using [`cargo-bisect-rustc`](https://github.com/rust-lang/cargo-bisect-rustc) (with `--prompt` and `-- doc --open`) would've probably been a lot faster :)

[2022-01-30 21:50] camelid commented on #93401
cc @b-naber

[2022-01-30 21:52] camelid commented on #93401
I guess the issue here is that `try_normalize_erasing_regions` is erasing the lifetimes (=regions) in the type, hence its name.

cc @jackh726 as well

[2022-01-30 22:04] Miksel12 commented on #93490
That makes sense, but the exact same happens with floats. It is beneficial for floats to use vector registers, is it?
In that case I should probably use floats for my example.
I checked Clang to see how C++ is optimized and integers are indeed not passed in vector registers. Floats are.

[code]
Gets turned into:
[code]

[2022-01-30 22:11] RalfJung commented on #93215
Basically, we have `InitMask` to store the mask of an allocation, and `InitMaskCompressed` is used when *copying* the mask from one allocation to another (which might overlap, and we might be asked to repeat this N times, so we have to keep a copy of the original mask).

If it is possible, without perf loss for typical CTFE, to use the same data structure for both of these cases, that would be nic

[2022-01-30 22:32] tmiasko commented on #93215
If intervals lengths were to be replaced with prefix sums of their lengths test if i-th bit is set can be performed in logarithmic time.

[2022-01-30 22:50] Miksel12 commented on #93490
It seems like that issue is discussed in: https://github.com/rust-lang/rust/issues/79865. It also seems like that issue will be fixed by upgrading to LLVM 14: https://github.com/rust-lang/rust/issues/79865#issuecomment-1017425395
Though I'm not entirely sure it is the same issue.

[2022-01-30 22:55] Urgau commented on #93490
This is because clang generate a more optimized layout `dso_local { <2 x float>, <2 x float> }` instead of `%Foo = type { float, float, float, float }`. This is something I also tried to do is my PR but this way more complicated (it also required the abi compatibility to be fixed) so I decided to not include it.

[2022-01-30 23:41] #90187 closed

[2022-01-31 00:50] gregbuchholz commented on #91628
Now I can confirm that I get the `parse exception` error as well after upgrading my rust and emscripten:

[code]

...where I previously didn't get that error with zackradisic's repository.  I'm getting that with other simple examples as well, with no references in the Rust code.  Versions in question:
[code]
...and...
[code]

[2022-01-31 01:42] gregbuchholz commented on #91628
Seems like the error message comes from [here](https://github.com/WebAssembly/binaryen/blob/098e02abadefe0e227c3c88a36e93d083ce004a8/src/wasm/wasm-binary.cpp#L2660)?

[2022-01-31 02:09] camelid commented on #92656
I do like the idea of just merging structs and enums. However, if we merge them but not type aliases, what would we call the section? "Algebraic data types" comes to mind, but that's a mouthful and would likely confuse new users.

[2022-01-31 05:33] jsha opened #93496 "rustdoc: include item type in search results"
There are a fair number of items that have the same name but different types. For instance, `std::panic` (the macro) and `std::panic` (the module). Right now we distinguish these with colors. But that's not accessible for colorblind people. Also some of the colors are not often seen in a context where someone is likely to learn what they mean - for instance green for macros.

We should additionall

[2022-01-31 06:01] Clockwork-Muse commented on #91930
What about things like `expect()` or `unwrap()`?

Current workaround:

[code]

[2022-01-31 06:11] #93374 closed

[2022-01-31 06:12] Kvicii opened #93500 "fix some typo and parameter name"

[2022-01-31 06:17] Kvicii commented on #93500
PR link [PR-93501](https://github.com/rust-lang/rust/pull/93501)

[2022-01-31 06:32] dtolnay commented on #93500
Closing in favor of #93501. This doesn't need a separate issue.

[2022-01-31 06:32] #93500 closed

[2022-01-31 06:42] shoffmeister commented on #93450
FWIW, using 1.58.1 I accidentally ran into the same regression (undesirable / surplus E0283) with the following defective code:

[code]

[2022-01-31 07:45] steffahn commented on #92656
@camelid Just “data types”?

[2022-01-31 07:45] SimonSapin commented on #62280
https://doc.rust-lang.org/nightly/std/ops/trait.OneSidedRange.html links to https://github.com/rust-lang/rust/issues/69780 which is closed. Either it should be reopened (and some details filled in) or `#[unstable]` attributes should be changed to point here instead, depending on whether it’s useful to track `OneSidedRange` separately.

[2022-01-31 07:56] huxi commented on #93474
I don't know. Can I do anything to help you analyze this?

[2022-01-31 09:57] Dushistov commented on #93326
Catched on completely different code base:
``
rustc 1.59.0-beta.4 (436b81f58 2022-01-26)
[code]
RUST_BACKTRACE=1 cargo test my_test
   Compiling my_crate v0.0.0 (my_projects/my_crate)
thread 'rustc' panicked at 'index out of bounds: the len is 977 but the index is 978', compiler/rustc_query_impl/src/on_disk_cache.rs:726:18
stack backtrace:
   0: rust_begin_unwind
             at /rustc/436b81f58dd

[2022-01-31 10:04] Dushistov commented on #93326
I can not share source code of crates, but bug was reproducible until I delete "target" directory.
Just in case I saved "target" directory and can any experiment with it.

[2022-01-31 10:39] dhardy commented on #93476
I get the same error with `rustdoc 1.60.0-nightly (08df8b81d 2022-01-30)`.

[2022-01-31 11:07] jsha commented on #93171
This is fixed in rust-lang/docs.rs#1614.

[2022-01-31 11:07] #93171 closed

[2022-01-31 11:24] #93274 closed

[2022-01-31 11:24] #88822 closed

[2022-01-31 12:31] jsha commented on #92957
@chansuke any progress on this? I'd like to get it landed before the beta cut, so we have a consistent UI where headings in the sidebar are clickable.

[2022-01-31 12:31] leonardo-m opened #93506 "Duplicated help with sum() missing type annotation"
[code]

Gives (rustc 1.60.0-nightly 08df8b81d 2022-01-30):

[code]

[2022-01-31 12:54] Ten0 commented on #88322
Can we know what closes this?

[2022-01-31 13:57] bsodmike opened #93507 "ICE: In stable handling unwrap() on a None."
My test suite started to die once I made some changes, but noticed it worked fine in beta.

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

</p>
</details>

[2022-01-31 14:01] thejpster commented on #93476
`rustc 1.60.0-nightly (08df8b81d 2022-01-30)` works for me on aarch64-apple-darwin, but not on x86_64-unknown-linux-gnu

[2022-01-31 14:23] #70258 closed

[2022-01-31 14:23] #92836 closed

[2022-01-31 14:23] #93210 closed

[2022-01-31 14:29] nikomatsakis commented on #44762
@peckpeck interesting! Where is it?

[2022-01-31 15:04] nikomatsakis commented on #86618
I don't believe we've implemented this feature yet =) there are mentoring notes [here](https://github.com/rust-lang/rust/issues/86618#issuecomment-868976919). I know that someone was looking into it, maybe it was @kolharsam? (If I failed to get back to you, @kolharsam, sorry, are you still interested?)

[2022-01-31 15:15] camsteffen commented on #51003
Aren't those all optimizations that happen after lowering, and so analyses can happen in between? (thanks for the discussion)

[2022-01-31 15:30] bjorn3 commented on #51003
I believe something like `let _ = *foo;` results in no MIR at all even before optimizations. Doing the equivalent of `let tmp = *foo; let _ = tmp;` wouldn't be possible as that would move out of `*foo`, while `let _ = *foo;` doesn't.

[2022-01-31 15:45] oli-obk commented on #93481
Thanks for the details, yea, this is an unfortunate situation. The only recommendation I have at this time for stable code is to split the computation into multiple constants and merge it in another constant.

A minimal repro is

[code]

If the initial value of `i` is `333_332`, then this code compiles.

It is very suboptimal that stable code mentions `#[const_eval_limit]`. We should probably just

[2022-01-31 16:01] kirillbobyrev commented on #93481
Thanks! Splitting is... I would say very hard: the code is really tightly coupled, I don't think I can decompose.

Stabilizing `#![feature(const_eval_limit)]` sounds great to me, but better defaults also make sense to me. I'm not very well versed in the Rust Compiler internals, so I wouldn't know where to look for it but having some sensible limit allowing few seconds in compile-time should probab

[2022-01-31 16:25] oli-obk commented on #93481
Yea... it's hard to come up with a good limit. The problem is that we also want a quick response when you end up in an infinite loop. Can you check what limit will allow your example to run so we have some numbers?

[2022-01-31 16:32] ijackson opened #93509 "needless_borrow false positive, with broken suggestion"
### To reproduce

Run `cargo clippy` with this in `src/main.rs`:

[code]

### Output with current nightly (bad)

[code]

### Discussion

The disagnostic is not correct.  Changing the program as clippy suggests does not work (see comment in my example).  Both nightly and stable reject the modified program.

Stable clippy IMO-rightly accepts the original program without complaint.

### Meta

[code]

[2022-01-31 16:33] ijackson commented on #93509
@rustbot modify labels +A-clippy +regression-from-stable-to-nightly

[2022-01-31 16:33] Mark-Simulacrum commented on #93481
@oli-obk Is there somewhere to read more detail on this? It seems to me that const eval shouldn't necessarily be special compared to just running a program -- i.e., an infinite loop leads to hanging, which we probably 'always' want to diagnose (unlikely to be intended unless written literally as `loop {}` or so) but otherwise 'seems ok'.

In general a limit seems pretty annoying, since presumably

[2022-01-31 16:34] ijackson commented on #93509
FTR, my test case was with a fresh project made with `cargo new foo`, so here is the `Cargo.toml`:

[code]

[2022-01-31 16:40] ijackson commented on #93509
For my reference, this affects arti: https://gitlab.torproject.org/tpo/core/arti/-/issues/310

[2022-01-31 16:46] RalfJung commented on #93481
@Mark-Simulacrum I would liken this more to the recursion limit that we have for trait resolution. Both are really just different forms of user-defined computation happening at compile time. The compiler cannot reliably tell apart infinite loops from long computations, so any heuristic that diagnoses infinite loops will be wrong sometimes.

[2022-01-31 16:53] Mark-Simulacrum commented on #93481
Sure, they're similar/equivalent at a theoretical level, but I suspect that many users will not view them as such. Notably, it seems easy to write long-running const-eval code (it's just regular Rust code!) whereas the number of folks writing traits and clauses that cause 'sufficiently deep' recursion seems pretty likely to be low and/or at least more indicative of unintentional behavior.

Maybe i

[2022-01-31 17:05] repi commented on #93369
We had a single report of this also on 1.58.0 stable on our internal codebase, though 1.58.0 has worked well in general.

[code]

[2022-01-31 17:15] cameron1024 commented on #93289
Hi, I'd like to try working on this, but not sure where to start 😕 Do you have a rough idea of whereabouts in rustc I should start looking to change? In the meantime I've got plenty of the rustc dev guide to read 😁 thanks!

[2022-01-31 17:24] klensy commented on #86109
Still an issue. I think this is similar to the same problem with (missed) optimizations, when we match on some variable and expect compiler to match on `values` of that variable, not on it's `type`.

For provided example we can cast i16 to u16 after check, so panic go away:
[code]

[2022-01-31 17:42] chansuke commented on #92957
@jsha sorry, i couldn't make time last week.ok,i will unassign me, thanks.

[2022-01-31 17:55] kirillbobyrev commented on #93481
A quick binary search over `#[const_eval_limit]` limit shows that `40000000` seems to work, `30000000` doesn't, so it's on magnitude of `3e7..4e7` ops.

[2022-01-31 18:18] Nemo157 commented on #93476
There are definitely three crates still hitting this ICE on docs.rs (at least based on message, and backtrace in 2 cases, but I couldn't reproduce on `num-primes` when testing locally) in https://github.com/rust-lang/docs.rs/issues/1632.

[2022-01-31 18:26] RalfJung commented on #67217
There is some relevant discussion happening at https://github.com/rust-lang/rust/issues/93481

[2022-01-31 18:28] RalfJung commented on #93481
So that's 30-40 times the current limit.
How long does this computation take, roughly?

[2022-01-31 18:41] programmerjake commented on #67792
I have an idea for the syntax we'd replace `#[default_method_body_is_const]` with:
[code]

[2022-01-31 18:46] leonardo-m commented on #86109
Note that with rustc 1.60.0-nightly (08df8b81d 2022-01-30) replacing in my original foo code the "for i in start .. 10_000 {" with an equivalent while loop is enough to remove the dividend test.

[2022-01-31 18:51] klensy commented on #86109
That works for 1.54 too.

[2022-01-31 19:02] maximecb opened #93512 "Can't run `cargo test ---offline` with optional dependency"
We have a situation where we'd really like for our Rust project to be able to build completely offline without accessing `crates.io`. We'd also like to be able to run `cargo test --offline` in our GitHub CI workflows. Unfortunately, this doesn't work. We have one single dependency on the `capstone` library which is clearly marked as optional, and even with the `--offline` flag, we get this error:

[2022-01-31 19:25] yaahc commented on #93454
Looking back at https://github.com/rust-lang/rust/pull/89235 I think the newline was added to make the output consistent with other test output formats when dumped via cargo. I think the issue here being that cargo expects the extra newlines to be generated by libtest, but it may be that we need to move that around so that libtest only outputs the test report with no extra whitespace and cargo han

[2022-01-31 19:28] yaahc commented on #91789
Absolutely!

@rfcbot merge

[2022-01-31 19:31] WaffleLapkin opened #93514 "Adding an unreachable branch helps optimize the code when matching on `x % N`"
Consider this example:
[code]
It currently generates similar LLVM-IR:
[code]
Even though the default branch is unreachable (`x % 5` can't be greater than 4) it is still generated.

But, when un-commenting `5 | 6 | 7 => loop{}` line (still unreachable branch, that does the same as default) the default branch becomes `unreachable`:
[code]

So, adding an **unreachable** branch that does **the same as

[2022-01-31 19:58] KevinArlin opened #93517 "Offline docs not installed on aarch64-apple-darwin"
I installed Rust with the following version details: ` stable-aarch64-apple-darwin installed - rustc 1.58.1 (db9d1b20b 2022-01-20)`

Upon running rustup doc `The file /Users/me/.rustup/toolchains/stable-aarch64-apple-darwin/share/doc/rust/html/index.html does not exist.`

Upon running rustup component add rust-docs `error: toolchain 'stable-aarch64-apple-darwin' does not contain component 'rust-do

[2022-01-31 20:00] Mark-Simulacrum commented on #93517
The relevant PR is only landed on nightly (1.60), so it hasn't made it to stable yet. Can you check with rustup install nightly?

[2022-01-31 20:06] KevinArlin commented on #93517
Ah of course. That fixed it, thanks.

[2022-01-31 20:06] #93517 closed

[2022-01-31 20:11] camelid commented on #93476
You can use `cargo bisect-rustc --regress=ice --start=YYYY-MM-DD --end=YYYY-MM-DD -- doc` (https://github.com/rust-lang/cargo-bisect-rustc/) in your code to figure out what change caused this regression.

[2022-01-31 20:14] Geobert opened #93519 "Opaque error message for opaque type"
Given the following code:
[For this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c1a7b6c97dd8eace89b04c5b6b2f1137)
[code]

The current output is:

[code]

Ideally the output should look like:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d937792ca9217c9556025f96e5574df9

I was asked to create a ticket to improve the compiler when the Resul

[2022-01-31 20:34] dan-da opened #93520 "'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
Sorry, no example code.

Context is that I had perfectly functioning code and unit tests.  I modified the code, and it built cleanly.   Tried to build/run the tests, and I get this compiler error.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

</p>
</details>

[2022-01-31 20:44] maximecb commented on #93512
Opened an issue on the cargo repository instead: https://github.com/rust-lang/cargo/issues/10352

[2022-01-31 20:44] #93512 closed

[2022-01-31 20:48] last-partizan commented on #93454
I think, newlines here actually aren't necessary.

In #89235 you're comparing machine-readable junit to human-readable output, and if you compare it to json - json has not extra padding.

Of course, we can remove newlines here and add them in cargo, but in my opinion this adds no real value and adds some complexity, sure it looks nice without redirection, but output is supposed to be redirected, a

[2022-01-31 20:53] Aaron1011 commented on #93520
This should be fixed in the latest nightly.

[2022-01-31 20:53] dan-da commented on #93520
I ran `rustup update` and built with 1.58.1.     The `cargo test` executed correctly and found an error in my code.  Once I corrected the error, everything built correctly.

As such, I am closing this.

[2022-01-31 20:53] #93520 closed

[2022-01-31 21:00] CraftSpider opened #93522 "[rustdoc-json] `paths` is inconsistent and questionably useful"
**Problem:**
Currently, the items `paths` includes is just the list of paths used in the rustdoc cache. This is implementation-dependent, misses some items that should possibly be included such as re-export source items, and generally imperfect.

**Solution:**
`paths` inclusion should be standardized, and separated from the internal cache implementation.

[2022-01-31 21:09] Mark-Simulacrum commented on #92885
Reopening to track beta fix (proposed in #93523).

[2022-01-31 21:19] Urgau opened #93524 "[rustdoc-json] absolute position of item is hard to get"
**Problem**:
Currently, the only way to accurately (see https://github.com/rust-lang/rust/issues/93522 for reason why `paths` is not accurate) know the position of an item is to traverse all modules and items down to the item that we want, this is costly and inefficient especially for `Id`s that comes from the documentation (ie intra-doc-links) because they can link to outside.

**Solution**:
Have

[2022-01-31 21:26] clarfonthey commented on #67792
Seems extremely prone to the `const *T` vs. `*const T` nonsense from C++; it seems like there would be cases where people think of it as returning `T const` and that specific sequence of things being different from `const T` as a trait bound.

[2022-01-31 21:26] GuillaumeGomez commented on #93496
Why not putting it before the name every time instead of putting it in its own column?

[2022-01-31 21:33] tottaway opened #93526 "ICE: 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
I'm new to Rust, and I ran into this error while trying to split one module into two submodules. I haven't spent much time yet trying to create a minimal example to replicate the error.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-01-31 21:34] kirillbobyrev commented on #93481
`time cargo +nightly build` gives ~3.5 secs when I change the file (so, this should include other operations on top of the actual compilation), so not much.

[2022-01-31 21:48] jsha commented on #93496
For *most* searches, the name is the kost important thing and is
sufficiently distinctive. So it should be given the most important place,
at the beginning of the line. For a small number of searches the type is
needed to disambiguate, so it should come later.

[2022-01-31 21:50] GuillaumeGomez commented on #93496
Then `name (type)`?

[2022-01-31 22:06] Nemo157 commented on #93476
Not so surprisingly bisection reveals https://github.com/rust-lang/rust/pull/88679 as the cause.

[2022-01-31 22:27] peckpeck commented on #44762
Here : https://github.com/peckpeck/rust/tree/autoref_op
But i got a little bit carried away, it doesn't work as is, i committed in a non working state and i can't make it work again.
Sorry, this is my first attempt at reading the compiler source code and i do a lot of experiment with the code to understand how it works.

It looks like confirm_method mess up with the caller's state, even with the e

[2022-01-31 22:41] peckpeck commented on #44762
As for the second argument part i looked into it and saw that most rust_type_check::check::method::* code assume that there is only one parameter which can be autoref/autoderef
There will be a lot of

[2022-01-31 22:48] longfellowone opened #93527 "Internal Compiler Error"
### Code

https://github.com/longfellowone/est

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[code]

</p>
</details>

[2022-01-31 22:49] WaffleLapkin opened #93528 "Indentation of items is lost in examples in documentation with `-Zrustdoc-scrape-examples`"
See this screenshot:
![image](https://user-images.githubusercontent.com/38225716/151885368-a5dda334-ab9a-4275-8e82-ee439072a646.png)

In the example in documentation function signature is not indented, while in the source file it is indented.

cc @willcrichton

@rustbot label +A-rustdoc-scrape-examples +A-rustdoc-ui +T-rustdoc

### Meta

`rustc --version --verbose`:
[code]

[2022-01-31 22:50] WaffleLapkin commented on #93514
@rustbot label +A-codegen +C-enhancement +I-slow +T-compiler

[2022-01-31 23:05] scottmcm commented on #93514
I think there's an LLVM bug here, despite your clang example.

Here's a demonstration using just `opt` that it doesn't notice the `defaultdest` is unreachable, and thus leaves the infinite loop there: <https://llvm.godbolt.org/z/GcG1dM3sq>

[2022-02-01 00:02] kolharsam commented on #86618
@nikomatsakis Yes, I was looking into it, and I'm still interested in continuing the work.

[2022-02-01 02:41] lopopolo commented on #93476
I'm not sure if this is helpful, but this is the stack I get when attempting to run rustdoc with nightly `rustdoc 1.60.0-nightly (6abb6385b 2022-01-26)` (which is the most recent nightly available on macOS). I also get the same build failure in CI with `rust version 1.60.0-nightly (08df8b81d 2022-01-30)`.

[code]

This error comes from building the docs on https://github.com/artichoke/artichoke/co

[2022-02-01 03:19] gregbuchholz commented on #91628
[wasm-validate](https://webassembly.github.io/wabt/doc/wasm-validate.1.html) doesn't seem to like the file that gets feed to `wasm-emscripten-finalize`

    $ wasm-validate target/wasm32-unknown-emscripten/release/deps/rust_emscripten_bug.wasm --enable-threads
    0000d0e: error: invalid section code: 12

Running `wasm-emscripten-finalize` with --debug
[code]

[2022-02-01 05:10] gregbuchholz commented on #91628
I've put a few more details over at this [repository](https://github.com/gregbuchholz/wasm_threads) which is a simple program that uses threads, and includes the wasm files for the working with the 1.59.0 compiler, and the broken wasm file from 1.60.0.

[2022-02-01 06:04] jnqnfe opened #93535 "Regression: Difference in float values"
My `libpulse-binding` crate has a set of time handling functionality with some conversion based tests. Today's monthly automated CI run has alerted me that some of the tests are failing with the current nightly compiler. Specifically assertions are failing with slightly different floating point results than expected. It seems that a presumed regression/breaking-change/unexpected-change has snuck i

[2022-02-01 07:41] SNCPlay42 commented on #93535
Bisection points to the rollup #93352, which contains PR #90247.

This looks like an issue of floating point precision, e.g. the decimal 2.3 isn't exactly representable as an `f32` and now `Duration::from_secs_f32` is picking a different rounding. Although this is evidently technically a breaking change, I'm not sure what guarantees are provided here.

@rustbot label regression-from-stable-to-nigh

[2022-02-01 08:08] jnqnfe commented on #93535
@SNCPlay42 Thank you for identifying the relevant PR. If this is intentional and improves accuracy, as seems to be the case, then I have no wish personally for this to be "fixed", though being a breaking change it should be documented in the release notes when the time comes.

I'll have to go away and pick different values or something to work around it.

[2022-02-01 08:10] j-browne opened #93536 "Failure parsing `|` followed by `if` in tail expressions"
There seems to be a problem with parsing `|` followed by `if`, but only for tail expressions. If I bind it using `let`, the code compiles. Here is an example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=924091c6fb3a11fabe69a16aca15b00d)):

[code]

The first version fails to compile with this error:
[code]

I expect the first version to compile, and I also e

[2022-02-01 08:24] jsha opened #93538 "rustdoc: improve word break opportunities for narrow screens"
On narrow screens our method signatures often wrap horribly, like this example that wraps right in the middle of a `->` return arrow:

![image](https://user-images.githubusercontent.com/220205/151934131-cd55399e-464d-4f66-9711-63caf55c32fb.png)

To fix that specific issue, we can wrap return arrows in a `<span>` and style that span with `white-space: nowrap`. There's a similar issue where the brow

[2022-02-01 08:57] petrochenkov commented on #93476
Fixed in https://github.com/rust-lang/rust/pull/93539.

[2022-02-01 09:08] Urgau commented on #93535
Floating points numbers are very finicky. You should never try to compare them directly, you should instead use precision. See the book of the `float_eq` crate for more information's: https://jtempest.github.io/float_eq-rs/book/introduction.html

[2022-02-01 10:11] #91328 closed

[2022-02-01 11:23] GuillaumeGomez commented on #93401
I'm working on it.

[2022-02-01 12:02] raminfp opened #93543 "Option::unwrap(): thread 'main' panicked at 'called `Option::unwrap()` on a `None` value'"
The error happens when compiling this code.

I tried this code

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-02-01 13:28] JohnScience commented on #67792
Is there a serious reason why `T: ~const TraitName` syntax was chosen? I find it unintuitive because why would there be a tilda?

[2022-02-01 13:54] Alexendoo commented on #89864
#90891 changed the format_args expansion slightly so the example no longer ICEs, but it can still be reproduced by calling `ArgumentV1::new` manually

[code]

[2022-02-01 13:59] klensy commented on #93543
But this isn't compiler ICE, but panic in your program?

[2022-02-01 14:04] raminfp commented on #93543
@klensy, Please look [this](https://github.com/arvancloud/libinjection-rs/blob/master/src/wrapper.rs#L24) line code, This is because `unsafe`?

[2022-02-01 14:33] apiraino commented on #93474
@huxi just a stab in the dark, not sure if it helps. Does running a `cargo clean` "fixes" this crash? Do you have particular RUSTFLAGS or a `.cargo/config` configuration?

[2022-02-01 15:05] tmiasko commented on #56279
Since #66524 `//~ ERROR` applies to all revisions, and `//[A,B]~ ERROR` to revisions `A` and `B`.

[2022-02-01 15:05] #56279 closed

[2022-02-01 15:37] tmiasko commented on #55695
With annotation for warnings and errors being mandatory #66213, and additionally `//~ ERROR` annotations applying to all revisions #66524, this should be non-issue.

[2022-02-01 15:37] #55695 closed

[2022-02-01 15:39] terrarier2111 commented on #93506
@rustbot claim

[2022-02-01 15:58] clarfonthey commented on #67792
The tilde indicates covariance; the const can be removed if the inputs are not const, but not the other way around. This is different from a plain const (invariant) and using the question mark like `Sized` wouldn't work since that's a strict removal of a bound, not specifically a covariant bound.

It's basically just a placeholder until a better version exists.

[2022-02-01 16:10] #89097 closed

[2022-02-01 16:10] tobymurray opened #93550 "'rustc' panicked at 'called `Option::unwrap()` @ rustc_hir/src/definitions.rs:452:14"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-01 16:13] tobymurray commented on #93550
Seems like this has already been reported multiple times (#93527, #93526 etc.)

[2022-02-01 16:13] #93550 closed

[2022-02-01 16:14] weiznich commented on #89097
@CraftSpider As I see another ICE with the mentioned feature flags + the mentioned source (but other backtrace), should I open a new issue or post it here?

[2022-02-01 16:30] roblabla commented on #83186
Since https://github.com/rust-lang/rust/pull/85060, there's now `std::fs::try_exists` but no `std::fs::exists` (the method only exists on `Path`). This is somewhat confusing, especially since the documentation for `std::fs::try_exists` [says](https://doc.rust-lang.org/stable/std/fs/fn.try_exists.html):

Without linking the appropriate exists method.

I think if we're going to have an `std::fs::try

[2022-02-01 16:39] yaahc commented on #93454
Sounds reasonable. :+1:

Oh, lovely! As for example doctests, If you wanted to setup a permanent / repeatable test the best place for that would probably be in `library/test`. If you just want to verify the output real quick manually I would setup a custom toolchain with rustup and just make a random `cargo new --lib` project and set it to use your custom toolchain with something like `rustup over

[2022-02-01 16:51] #83937 closed

[2022-02-01 17:07] cdecompilador commented on #92894
And how would be the workaround for a different trait, be it `AsRef`? Where for example you want to implement `Foo` for `AsRef<str>` and `AsRef<i32>`?

[2022-02-01 17:11] ChrisDenton commented on #83186
I think there are a number of options here:

* Add `std::fs::exists` as you suggest.
* Don't stabilize `std::fs::try_exists`. I'd still want there to be some kind of `fs::try_exists` so that different platforms can specialize the implementation. But that can be purely internal to the standard library.
* Keep the current API but improve the docs. The original rationale for not having an `std::fs::e

[2022-02-01 17:13] Ten0 commented on #92894
The conflicting impl error is legitimate in this case: a struct could impl both `AsRef<str>` and `AsRef<i32>`. (In other examples of this thread, associated types actually guarantee these don't conflict).

[2022-02-01 17:38] camsteffen commented on #53667
I opened rust-dev-tools/fmt-rfcs#169 to discuss a formatting question.

[2022-02-01 18:18] rodrimati1992 opened #93553 "Associated const with supertrait associated type (named the same) causes ICE"
### Code

[code]

### Meta

rust version:
[code]
(tried in the play.rust-lang.org playground)

This compiles successfully on the stable and beta channels.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-01 18:22] Kixunil commented on #83186
@roblabla clearly the doc was copied from `Path::try_exist`. Would be nice to fix.

[2022-02-01 18:29] danakj commented on #46998
I've encountered this bug due to the linking errors when linking targets with rustc in Chromium. Chromium is a large project, so the number of command line arguments passed to the linker is very many. Since rustc prints the whole command line of the linker when it encounters an error, the terminal is spammed with thousands of lines of (wrapped) output.

`--error-format=short` omits the lengthly co

[2022-02-01 18:34] Urgau opened #93554 "ICE thread 'rustc' panicked at 'no entry found for key'"
I was rebuilding `rustc` and I got this ICE after reverting some changes in the code base. I hopes this helps.
Cleaning the build directory "fixed" the ICE.

### Code

[rustc_target](https://github.com/rust-lang/rust/tree/master/compiler/rustc_target)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
<

[2022-02-01 18:38] danakj commented on #46998
@michaelwoerister You've assisted me in the past (thank you!), could you advise if the issue of the linker invocation always being part of the output should be raised as a separate bug, and if an MCP would be needed to change the default behaviour and/or add a new option for --error-format?

[2022-02-01 18:43] ChrisDenton commented on #83186
I've submitted a small PR which you may want to review.

[2022-02-01 18:48] joshtriplett commented on #93378
We discussed this in today's @rust-lang/lang meeting, and we agreed that 1) we'd like this to stop being accepted, ASAP, and 2) we don't consider the PR fixing this to need T-lang review or approval.

[2022-02-01 20:05] #93310 closed

[2022-02-01 20:10] anderslanglands opened #93557 "wasm compile of my crate generates "cannot import from modules (`env`) with `--no-modules` error"
As title. I found this issue: https://github.com/rust-lang/rust/issues/72758 which was a bug so assume this is a similar issue but I don't know enough about wasm to delve any further since there was no explanation in that issue.

### Minimal repro:
Cargo.toml
[code]

src/lib.rs
[code]

run:
[code]

error:
[code]

### Meta

This happens with 1.57.0 (f1edd0429 2021-11-29), 1.58.1 (db9d1b20b 2022-01-

[2022-02-01 20:17] jonay2000 opened #93558 "ICE due to possibly corrupted cargo target folder"
### Code

This internal compiler error has not been caused by any specific code. I got it when I ran `cargo test` on a library. I went back through my git history to find a known-good commit on which `cargo test` passed. However, I got the backtrace as shown below even on this known-good version of the codebase.

I suspected my target folder somehow got corrupted. Therefore I made a backup of it,

[2022-02-01 20:23] nikomatsakis commented on #29864
I have an action item to leave a comment here but I can't find the notes. In any case, my vague recollection is that:

Despite marker traits permitting one to stretch the coherence rules, they are specifically targeting the *overlap* rules and not the *orphan* rules (i.e., they don't let you write impls in crates that you wouldn't have been permitted to write an impl in). If we ensure that marker

[2022-02-01 20:28] dtolnay commented on #91789
It's worth being aware that the `OsString` version of these methods is extremely weird, and probably not adequately documented about how weird it is. In particular the following "obvious" code is not correct, but it seems likely that almost every caller would fall into this trap unless there is very clear guidance on how to use the method correctly.

[code]

The units in which string length is mea

[2022-02-01 20:54] apiraino commented on #93474
thanks for getting back on this @huxi. Yes, it makes sense to use `cargo +beta clean`  (well, hindsight is 20/20 :smile:) I suspect the issue was an inconsistent state of your build toolchain, the cause is difficult to figure out (at least for me).

If you're ok with that, I'm going to close this issue as "solved" (albeit through magic), but if this shows up again, don't hesitate to reopen this is

[2022-02-01 20:54] #93474 closed

[2022-02-01 21:10] steveklabnik commented on #47888
Hit this today.

[2022-02-01 21:11] last-partizan commented on #93454
"real quick" for me taking longer than expected :)

I've followed this guide: https://rustc-dev-guide.rust-lang.org/getting-started.html

At the `./x.py setup` i selected `library`, and then

[code]

Then in my `rust-example-lib` i'm running `rustup override set stage1`, and `cargo test -- -Z unstable-options --format junit`

But output doesn't seem to be affected by my changes to junit formatter.

[2022-02-01 21:35] ocstl commented on #90609
While I believe this issue has been resolved, I'm seeing an odd discrepancy between versions 1.52 and later versions depending on whether the special value is added at the left or right end of the range (see the first two rows of https://rust.godbolt.org/z/Ea149cjYo).

It looks like, starting with version 1.53, there is an improvement at the left end of the range in only one of the two function ve

[2022-02-01 21:35] matthiaskrgr commented on #93553
@rustbot prioritize nightly-to-beta regression

[2022-02-01 21:55] apiraino commented on #93553
ICE bisected to

searched nightlies: from nightly-2021-12-12 to nightly-2022-02-01
regressed nightly: nightly-2022-01-19
searched commit range: https://github.com/rust-lang/rust/compare/ee5d8d37baaf5b5a81a98396952839c73ae41c68...9ad5d82f822b3cb67637f11be2e65c5662b66ec0
regressed commit: https://github.com/rust-lang/rust/commit/7bc7be860f99f4a40d45b0f74e2d01b02e072357

<details>
<summary>bisected w

[2022-02-01 22:23] GKFX commented on #93543
Your problem is that you have a null byte in your string. It is impossible to create a CString containing a null byte, because the null byte indicates the end of the string so can't be in the middle. It doesn't seem to be related to the unsafe code; I don't think that line is reached. https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7a5cb269d969a6279fbfaea59acbe67f may be he

[2022-02-01 22:30] compiler-errors commented on #93553
I'll take a stab at fixing this, unless @JulianKnodt (cc: #87648) wants to!

@rustbot claim
feel free to steal this issue from me.

[2022-02-01 22:45] huxi commented on #93474
Perfectly fine, thanks. Sorry for the false alarm.

[2022-02-01 22:45] pnkfelix commented on #52652
(I'm assigning @BatmanAoD as owner of this issue, in accordance with T-compiler's shift towards a policy where all P-high/P-critical issues are either tagged with a WG-* label or have an explicit owner who can be contacted for status updates.)

@rustbot assign @BatmanAoD

[2022-02-01 22:49] yaahc commented on #93454
That all sounds correct. It might be that you're selecting too small of a subset of the build to properly use as an override. Does it work if you run a full build with `./x.py build`?
Also, if you want more synchronous help the zulip is a better venue than github issues: https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs

[2022-02-01 22:50] pnkfelix commented on #53114
@rustbot prioritize

Lets have a Zulip thread to talk about why to downgrade this to P-medium.

[2022-02-01 22:55] pnkfelix commented on #53114
Ah, look at this, I'm the one who marked it as P-high and explicitly said that the behavior change for match itself is P-medium

@rustbot label: -E-needs-test

[2022-02-01 23:04] pnkfelix commented on #53114
As noted in the table in the issue description, there are essentially two tasks that remain here:

 * [ ] change `let _ = <unsafe-field>` to be rejected instead of accepted. This has its own dedicated issue in #54003
 * [ ] change `match <moved> { _ => () }` to be accepted instead of rejected.  This does not have its own dedicated issue, but its a pretty niche feature request and seems easy to cat

[2022-02-01 23:05] pnkfelix commented on #53114
@rustbot label: +P-medium -P-high

[2022-02-01 23:06] pnkfelix commented on #53114
@rustbot label: -I-prioritize

[2022-02-01 23:14] raminfp commented on #93543
@GKFX Yes. I do not know which line of code has this problem.

Why is the exact error in the library not shown by the rust lang?

[2022-02-01 23:16] Aaron1011 commented on #93554
This should be fixed by https://github.com/rust-lang/rust/pull/92533

[2022-02-01 23:16] #93554 closed

[2022-02-01 23:19] Aaron1011 commented on #93558
Can you update to theatest nightly? If this happens again, you should get a crash with a more detailed error message.

[2022-02-01 23:23] Aaron1011 commented on #93526
Can you update to the latest nightly? If this re-occurs, you should get a more informative error message.

[2022-02-01 23:24] Urgau commented on #93490
@Miksel12 I've open https://github.com/rust-lang/rust/pull/93564 to fix the general issue related to the aggregation of types and I manage to also fix this issue.

With my PR your example code would now be compiled to:
[code]
Even better than clang !

[2022-02-01 23:25] Aaron1011 commented on #93527
Can you update to the latest nightly? If this re-occurs, then you should get a more informative error message.

[2022-02-01 23:27] Aaron1011 commented on #93507
Can you update to the latest nightly? If this issue re-occurs, then you should get a more informative error message.

[2022-02-01 23:28] nagisa commented on #93535
Precision is exactly the reason this issue arises. The previous implementation was discarding a significant amount of precision, and the new one is to the best of my knowledge lossless. While rounding mode did indeed change from round-to-nearest to truncating, it is important to note that:

1. truncation matches the rest of the Duration APIs (such as `Duration::subsec_micros`); and
2. in the previ

[2022-02-01 23:29] Aaron1011 commented on #93366
This may be fixed in the latest nightly - can you try updating and see if this re-occurs?

[2022-02-01 23:30] ibraheemdev commented on #39364
I opened https://github.com/rust-lang/rust/pull/93563, which should resolve this issue.

[2022-02-01 23:34] Aaron1011 commented on #93326
This is fixed in the latest nightly by https://github.com/rust-lang/rust/pull/92533

[2022-02-01 23:34] #93326 closed

[2022-02-01 23:43] compiler-errors commented on #93536
In the first case, `if conds.0 { vals.0 } else { 0 }` is considered to be its own statement, so the subsequent `|` is parsed as the beginning of a closure. That's why we see `^^ expected identifier, found keyword`.

The subsequent errors are due to parser recovery taking `if` to be the first closure argument name, and then expecting a comma (since it's parsing a parameter list for the closure). Ev

[2022-02-02 01:14] aaronddavies opened #93567 "Compiler expected `where` but there is a `where`"
I tried this code:
[code]
I expected to see this happen:  The compiler would give a sensible error.

Instead, this happened: The compiler complains that it expected ```where``` where I actually do have ```where```:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

Adding RUST_BACKTRACE=1 did not produce any additional output.

</p>
</details>

[2022-02-02 01:22] #93535 closed

[2022-02-02 01:23] pnkfelix commented on #53934
@oli-obk  and @estebank : Do you think that issue #53934 should remain at P-high? Or should it be downgraded to P-medium at this point, especially considering [Niko’s writeup](https://github.com/rust-lang/rust/issues/53934#issuecomment-831396123) from May of 2021?

[2022-02-02 01:27] pnkfelix commented on #53934
(I discussed with @estebank ; we're going to leave this at P-high and they're going to see about enlisting some assistance to work on it.)

[2022-02-02 01:29] pnkfelix commented on #53934
Also, since @estebank has agreed to mentor someone on this, I'm going to tag it as E-mentor.

@rustbot label: +E-mentor

[2022-02-02 01:39] jonay2000 commented on #93558
I will give it a try. I hope I can reproduce it.

[2022-02-02 01:56] Fishrock123 commented on #87335
I'd like to see it stabilized but I can't offer more than a surface opinion, since I haven't really been able to use it.

I never really got to try it at my former employer because we were pretty set on using stable (or perhaps I was not adventurous enough, regardless, I was pretty busy after the summer).

I'd been taking some time off, but now that I'm coming back to things I have a similar issue

[2022-02-02 02:34] JulianKnodt commented on #93553
Hmmm actually this might make sense to be a miscompilation now, since it is kind of ambiguous. We probably should default to the old behavior, but @oli-obk not sure if that makes sense goin forward?

[2022-02-02 02:35] tottaway commented on #93526
Hi, I ended up changing a couple things and running cargo clean and that fixed the issue. I forgot to stash a copy or the project to reproduce this.

[2022-02-02 02:35] #93526 closed

[2022-02-02 03:10] camsteffen commented on #87335
I think we're blocked on style guide and rustfmt support. I for one am confident with the functionality.

[2022-02-02 03:11] yerke commented on #53934
@rustbot claim

[2022-02-02 03:40] compiler-errors commented on #93553
So this is two bugs:
1. The associated type resolution is ambiguous, because of the conflict between the associated const and the associated type. Probably needs reworking path resolution...
2. ICE because `associated_path_to_ty` only looks for associated types instead of types and consts.

I know how to fix (2.), but I'll try to see if I can include something for (1.) as well... Otherwise I'll ju

[2022-02-02 03:45] calebcartwright commented on #87335
FWIW stabilization has never hinged on anything rustfmt related as far as I know, so I certainly wouldn't view that as a prerequisite.

[2022-02-02 03:46] joshtriplett commented on #87335
I agree that this is ready to stabilize, based on the feedback we've already gotten for how useful it is and how well it works.

[2022-02-02 04:12] JulianKnodt commented on #93553
mmm ok this is fair enough

[2022-02-02 04:22] compiler-errors commented on #93553
Yeah, my understanding is that types and consts occupy mutually-exclusive positions in well-formed code, but we might not currently have the right information piped into path resolution to prefer resolving one over the other in cases like this.

To demonstrate the issue, here is another regression in path resolution, which passes on Stable and fails on Nightly.

[code]

Happy to help work out a fi

[2022-02-02 04:54] compiler-errors commented on #93567
@rustbot claim

[2022-02-02 05:16] JulianKnodt commented on #93553
since this only affects nightly, as long as we put in a fix, it should be ok to not rollback, I can try to look into that

[2022-02-02 05:28] erikdesjardins commented on #93514
In LLVM, when the optimization fires, the unreachable bb is replaced with `.unreachabledefault` (https://llvm.godbolt.org/z/jWeeWYKhE), so we can tell it's created by `createUnreachableSwitchDefault`, called from here: https://github.com/llvm/llvm-project/blob/c25ba3c79020246b24aa658ac02770be07eee0f5/llvm/lib/Transforms/Utils/SimplifyCFG.cpp#L4990.

That code determines whether or not the default

[2022-02-02 05:29] compiler-errors commented on #93553
Cool! If you're gonna look into it, then I'll give the task to you.

@rustbot release-assignment

[2022-02-02 05:29] JulianKnodt commented on #93553
@rustbot claim

[2022-02-02 05:57] compiler-errors commented on #93486
@rustbot claim

[2022-02-02 08:16] nikic commented on #93514
I believe https://reviews.llvm.org/D106056 has already fixed this. Unfortunately, this exposed some compile-time issues in the backend, which haven't been resolved yet, so the patch is reverted for now.

[2022-02-02 09:55] Kobzol commented on #86618
The feature has actually been implemented in https://github.com/rust-lang/rust/pull/90035, if I'm not mistaken. It already seems to work: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a84582797c0337611b94e3c5afaeba91.
@Systemcluster could you please create a separate issue with your code snippet? It looks like a bug in the implementation of the feature.

[2022-02-02 11:05] matthiaskrgr opened #93578 "ICE: assoc-const-ty-mismatch.rs -Zsave-analysis: 'not yet implemented', compiler/rustc_infer/src/infer/at.rs"
### Code
code reduced from `./src/test/ui/associated-consts/assoc-const-ty-mismatch.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/associated-consts/assoc-const-ty-mismatch.rs  -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-02 11:50] ijackson opened #93579 "Spurious "Unrecognized option" message on rustdoc panic"
With a version of rustdoc affected by #93428, I observe this when this bug occurs:

[code]

Note the message
[code]
which seems to be entirely spurious.  The output in #93428 and the dupe #93539 has
[code]

I think I am getting the complaint about `default-theme` instead of `crate-version` because I have that set in my `rustdocflags` in `~/.cargo/config`.  Both the complained-about options do exis

[2022-02-02 11:53] ijackson commented on #93579
@rustbot modify labels +T-rustdoc

[2022-02-02 12:02] cameron1024 opened #93581 "Strange compiler output when working with const generics"
I ran into this while trying to do arithmetic in the type system.
This is the most minimal example that could repro the issue. Doing more "simple" arithmetic works fine.

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:
It should compile without errors

This happens on stable 1.58 as well as on the latest nightly (1.60.0 2022-01-26)
I've added

[2022-02-02 12:26] jonay2000 commented on #93558
:tada: I have been able to reproduce this error. While working on the same project it just sort of happened again. This time I could try it with nightly.

However, the same ICE does not occur on nightly. I know I can resolve it by rebuilding my cargo target directory, but I now have a cargo target directory that gives an ICE on stable but no ICE on nightly. Weird, but I guess the next release cycl