[2020-11-16 10:50] oli-obk commented on #78369
I don't think we can remove `Unevaluated`. There are cases where we can neither build an abstract const nor evaluate it to a concrete constant. And once we have an abstract const, we can't turn that abstract const into a concrete one, so we'd need to keep the information about the uneavluated source around anyway. Can you elaborate on the changes you were thinking about?

[2020-11-16 10:51] udoprog commented on #31844
Can further bikeshedding around specific keywords and naming be moved to an [internals thread](https://internals.rust-lang.org/)? I'm following this issue for progress updates on the feature, and this discussion is starting to get a bit noisy.

[2020-11-16 10:59] jonas-schievink commented on #72469
Closing as expected behavior.

[2020-11-16 10:59] #72469 closed

[2020-11-16 11:01] est31 commented on #78665
The test file already has ignore-windows, ignore-freebsd, ignore-android... I think an ignore-macos won't be much of an issue.

[2020-11-16 11:04] lcnr commented on #78369
I am not too sure how to actually do this yet... probably by adding an optional reference to `&'tcx [Node<'tcx>]` to `Unevaluated` :thinking:

we might not be able to just evaluate `mir_abstract_const` eagerly as that can cause query cycles though... forgot what actually causes the cycles without lazy normalization

[2020-11-16 11:08] est31 commented on #78665
→ #79094

[2020-11-16 11:12] oli-obk commented on #78369
At that point you're just talking about caching, so one thing that we could also do is change the `Unevaluated` variant to be a tuple variant around an `UnevaluatedConst` which has methods for evaluating or converting to an abstract const, without exposing the internal fields anymore. The evaluation is already cached via the query system, and I think the abstract const building, too? So this would

[2020-11-16 11:22] the8472 commented on #79089
Should such a lint still fire if the code is `cfg`'d to a specific platform?

[2020-11-16 11:28] Mark-Simulacrum commented on #76698
That nightly is pretty old, could you test with a more recent nightly and file a new issue if you can reproduce?

[2020-11-16 11:30] est31 commented on #79089
cc #41619

[2020-11-16 11:56] ortem commented on #78665
@ehuss

You're right, seems like "LLDB with native Rust support" (which is basically LLDB with Rust support patches) is not used in `rustc` anymore. However, it is used in IntelliJ Rust and [CodeLLDB](https://github.com/vadimcn/lldb/tree/rust-lldb) AFAIK.

BTW, probably @tromey could tell something about `error: need to add support for DW_TAG_base_type '()' encoded with DW_ATE = 0x7, bit_size = 0`

[2020-11-16 13:14] varkor commented on #71126
Now that #78748, #78836, and #79016 have been merged, destructuring assignment is now implemented. Thanks to @fanzier for their hard work implementing this feature!

[2020-11-16 13:26] GuillaumeGomez opened #79095 "Invalid "unclosed HTML tag" lint"
On this doc comment:

[code]

We receive the warning:

[code]

Or it shouldn't because it's in a code block.

[2020-11-16 13:45] jyn514 commented on #79089
I would not expect it to, no.

[2020-11-16 13:55] nikomatsakis commented on #58781
The lint is orthogonal from migration mode, in any case.

[2020-11-16 14:07] Alexendoo commented on #69239
No longer ICEs since #78809

[2020-11-16 14:07] #69239 closed

[2020-11-16 14:08] Alexendoo commented on #78721
No longer ICEs since #78809

[2020-11-16 14:08] #78721 closed

[2020-11-16 14:48] nikomatsakis opened #79098 "forbid conditional, negative impls"
We currently permit negative impls (feature-gated, https://github.com/rust-lang/rust/issues/68318) for both auto- and regular traits. However, the semantics of negative impls are somewhat unresolved. The current trait checker's implementation in particular does not work well with "conditional" negative impls -- in other words, negative impls that do not apply to *all* instances of a type. Further,

[2020-11-16 14:49] codehag commented on #79098
@rustbot claim

[2020-11-16 15:00] matthiaskrgr opened #79099 "ICE: can't type-check body: glacier fixed/78721.rs"
### Code
code from glacier `fixed/78721.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc fixed/78721.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-16 15:34] Alexendoo commented on #78722
No longer ICEs since #78809

[2020-11-16 15:34] #78722 closed

[2020-11-16 15:40] jyn514 opened #79103 "Rustdoc takes 8.5 GB of memory to document stm32h7"
Similar to but not the same as https://github.com/rust-lang/rust/issues/78761: rustdoc uses an inordinate amount of memory to document large crates.

`heaptrack_gui` shows almost a third of the memory being allocated in `get_blanket_impls`:

![image](https://user-images.githubusercontent.com/23638587/99273837-87949880-27f7-11eb-9359-6e4f87eddd07.png)

However, the peak usage is actually in `check_

[2020-11-16 15:42] jyn514 commented on #79103
This is causing docs.rs to have to periodically bump the sandbox limits when documenting stm32 crates: https://github.com/rust-lang/docs.rs/issues/1179.

[2020-11-16 16:12] jyn514 commented on #76661
FYI option 3 was seen as too big a hammer in https://github.com/rust-lang/rust/pull/77779#issuecomment-709526858; the proposed fix was to use a build lock on the sysroot instead, the same way cargo has a build lock for `target/deps`.

[2020-11-16 16:14] Mark-Simulacrum commented on #76661
I think that's not quite accurate, in #77779 the specialization was too specific (i.e., the problem is more widespread, any two x.py runs can touch shared files currently). "Insufficiently big hammer" is probably the right description of option 3.

[2020-11-16 16:31] varkor commented on #75889
There is a partial fix in https://github.com/rust-lang/rust/pull/77431, though it regresses diagnostics. I think it ought not to be too much work to address this, but I do not have time at the moment.

[2020-11-16 17:45] pietroalbini commented on #71988
We didn't see it anymore for months, closing this. Thanks to everyone involved in fixing this! :heart: :

[2020-11-16 17:45] #71988 closed

[2020-11-16 17:54] estebank commented on #78941
Yes.

[2020-11-16 18:24] petertodd commented on #70921
Currently we have:

[code]

That means `Pending<T>` has dropcheck behavior as though it owns a `T` value, which it doesn't. Should we instead change it to:

[code]

I believe that is a strict improvement without any compatibility issues, as the variance is the same.

[2020-11-16 18:28] camelid commented on #77608
Perhaps we could add a method on `Constant` that checks equality while ignoring `span`?

[2020-11-16 18:45] tmiasko opened #79108 "`InstanceDef::requires_inline` does not result in an inline hint"
The `InstanceDef::requires_inline` is described to return true if "this
instance is unconditionally marked with inline". In practice, the instance will
receive an inline hint if and only if the instance has any other user specified
inlining attributes.

For example, by default a closure will not receive an inline hint, but a
closure marked with `#[inline(never)]` counter-intuitively will (together

[2020-11-16 18:56] estebank commented on #79076
For reference, [the correct code we should be suggesting would be](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=89f13ee089435665f49ba7e075c16ad6)

[code]

[2020-11-16 18:57] simonvandel commented on #77608
Only adding a new method that ignores span equality does not remove the footgun though. Other code would still use the PartialEq which still compares unintuitively because of the span.

[2020-11-16 19:11] camelid commented on #77608
I meant that we should remove `PartialEq` as Oli suggested and then add a new method that explicitly ignores `span`.

[2020-11-16 19:37] cjkenn commented on #77402
@rustbot claim

[2020-11-16 20:07] tromey commented on #78665
Yes, but maybe not in the way you may be thinking.  In LLDB, each language provides its own code to analyze DWARF.  So, the Rust-specific DWARF analysis handles this case without issuing an error.  See `DWARFASTParserRust::ParseSimpleType` for the DWARF-reading bit.  Offhand I would expect it to use `DW_ATE_void`, and digging through the LLDB patches a bit supports this, but I'm not sure.  This ki

[2020-11-16 20:08] camelid opened #79111 "Incorrect suggestion for struct-like enum variant"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=672b817655da70313711c7bc908c6e56))

Errors:

[code]

[2020-11-16 20:18] kornelski commented on #48043
#77118 has been merged. Can stabilization of this proceed?

[2020-11-16 20:30] camelid commented on #77608
@spastorino Is it okay if I work on this a bit?

[2020-11-16 20:31] TimDiekmann commented on #48043
I don't really see, how #77118 is related to this? Where to you want to add an unstable generic annotation?

[2020-11-16 21:10] yaahc commented on #53487
@jhpratt, my expectation is that no, we don't intend to go back to non `'static` errors. Technically the `Error` trait already supports that via the deprecated `cause` method, but most of the ecosystem has moved away from using that method, so you'd not be able to use most error handling libraries with errors focusing on the `cause` fn.

[2020-11-16 21:38] petrochenkov opened #79112 "Fresh MSYS2 gdb cannot set a breakpoint in Rust executables"
Reproduction:
[code]
[code]
[code]
[code]
Output on my machine:
[code]

[2020-11-16 21:42] petrochenkov commented on #79112
As you can see with both `/mingw64/bin/gdb` and C executables breakpoints are set correctly, only the combination "`/usr/bin/gdb` + Rust" doesn't work.
This is a recent regression (a month or so).

(`ModuleNotFoundError: No module named 'libstdcxx'` is a red herring, this is an independent issue - a modern incarnation of https://github.com/msys2/MSYS2-packages/pull/598.)

cc @mati865

[2020-11-16 21:43] petrochenkov commented on #79112
The whole `debuginfo` test suite fails due to this issue.
The solution is to switch to `/mingw64/bin/gdb` (which has its own set of issues, but at least they don't affect the test suite).

[2020-11-16 21:50] dodomorandi commented on #73755
Ouch, I just though "hey, why didn't I try xargo??"... but rustc did not like that:
[code]

Notice that `SIGBUS` error at the end of the cause...

[2020-11-16 22:32] kmaork commented on #42838
Is there any progress here?
Until this is solved, is there a recommended workaround for extracting the last element of a repetition?
The best I've got is reversing the whole repetition using a recursive macro and then extracting the first element.

[2020-11-16 23:22] Pratyush commented on #75691
Can confirm that this is fixed due to #73905; closing.

[2020-11-16 23:22] #75691 closed

[2020-11-16 23:56] Diggsey opened #79118 "Surprising allocation in `windows/compat.rs` is a footgun for custom allocators"
This function is the problem:
https://github.com/rust-lang/rust/blob/f5230fbf76bafd86ee4376a0e26e551df8d17fec/library/std/src/sys/windows/compat.rs#L17-L28

`AcquireSRWLockExclusive` is one of the functions utilizing this compatibility layer. However, most custom allocators indirectly rely on this function.

This means that allocators must be re-entrant, which is essentially impossible since re-en

[2020-11-16 23:57] mati865 commented on #79112
I don't think I've tried using `/usr/bin/gdb` with Rust but if you say it worked before bisecting could be useful.

[2020-11-17 00:01] kornelski commented on #48043
Previous comment mentioned it was blocked on #72314, and #72314 has been replaced by #77118.

[2020-11-17 01:14] #68100 closed

[2020-11-17 01:15] #79083 closed

[2020-11-17 01:42] Ericson2314 commented on #48043
The https://github.com/rust-lang/wg-allocators/issues/48 meta issue's "Allocator aware types" lays out the progression from #77118 to https://github.com/rust-lang/wg-allocators/issues/39, "`try_*` methods for containers".

The idea is not that `try_*` methods themselves inherently need custom allocators, but custom allocators could be leveraged to prevent the use of non-`try_*` methods, fostering

[2020-11-17 01:49] jyn514 commented on #77188
@2beaucoup could you link the original repository that had the bug? Even if you don't have an MCVE, someone else might be able to come up with one.

[2020-11-17 01:58] jyn514 commented on #76720
See also https://github.com/rust-lang/rust/issues/75849.

[2020-11-17 02:02] jyn514 commented on #74379
This seems like a duplicate of https://github.com/rust-lang/rust/issues/76720.

[2020-11-17 02:10] richkadel opened #79121 "Tracking Issue for LLVM InstrProf code coverage (current flag: `-Zinstrument-coverage`)"
This is a tracking issue for the MCP "Implement LLVM-compatible source-based code coverage" (rust-lang/compiler-team#278).

Original feature request: Issue #34701.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not

[2020-11-17 02:10] richkadel commented on #79121
@tmandry @wesleywiser

[2020-11-17 02:21] jyn514 commented on #74258
This is no longer the case, I've since lost the state of the build directory.

[2020-11-17 02:25] wesleywiser commented on #74258
@jyn514 confirmed they haven't experienced this since reporting the issue 4 months ago. It seems likely the root cause was the changes to rustbuild they were working on. I've looked through the issue tracker and can't find any similar issues reported other than this so we're going to close for now.

If this happens again, feel free to re-open.

[2020-11-17 02:25] #74258 closed

[2020-11-17 03:16] richkadel opened #79124 "profiler = true in config.toml no longer works"
PR #78354 broke the build for users of profiler_builtins.

The PR copies the (commented out) #profiler = false line (among other things) from the [build] section to the sample target-specific (linux in config.toml.example) section, and made related changes to bootstrap.

Intuitively (especially because the [build] profiler = false/true option is still present, I believe that if profiler = true in

[2020-11-17 03:25] richkadel commented on #79124
FYI, I confirmed the workaround (setting the target-specific `profiler` setting) does work and my tests work again.

[2020-11-17 08:17] hyd-dev opened #79129 "[Question] Miri is in "test pass" state but not available in latest nightly"
Miri is in "test pass" state in https://rust-lang-nursery.github.io/rust-toolstate/ since rust-lang/rust#78990 and rust-lang/rust#78937 has been closed. Also I didn't found [any new issue from **`@rust-highfive`** about Miri in `rust-lang/rust`](https://github.com/rust-lang/rust/issues/created_by/rust-highfive), so I assume Miri should build from the `master` branch of it.
However, Miri [is not av

[2020-11-17 08:56] lcnr opened #79127 "cannot use const params from macros as const args without braces"
[code]
fails with
[code]

This should be allowed. See the discussion in https://github.com/rust-lang/rust/pull/78916/files#r520390092 for more details.
As fixing this should allow strictly more code to compile, this won't require a breaking change. I do not consider this to be blocking stabilization.

[2020-11-17 09:12] RalfJung commented on #79129
Cc @rust-lang/infra any idea why Miri is missing from `rustup`?

[2020-11-17 09:17] RalfJung commented on #79129
The log at https://github.com/rust-lang-ci/rust/runs/1410170664 looks good in terms of tests, but one thing is strange:

Notice the "test-fail" for "cargo-miri". However, I don't think anything actually cares about that test state, so I am not sure if this is actually a problem.

I guess something is going wrong when doing the nightly release (Miri has special logic there to avoid shipping when te

[2020-11-17 09:53] 12101111 commented on #79124
I can't reproduce this issue.

`sed -r -e 's/^#.*$//' -e '/^$/d' config.toml`:
[code]
[code]

The master branch is at b5c37e86ff1782923e3abfbf5491dd383fcf827d

`git diff`
[code]

build log:
[code]
binary:
[code]

[2020-11-17 11:11] pietroalbini commented on #79129
Thanks for the report! This is a bug in our release process: https://github.com/rust-lang/promote-release/issues/30

Release process logs are not available publicly unfortunately :(

[2020-11-17 12:01] #71857 closed

[2020-11-17 12:01] #76361 closed

[2020-11-17 12:01] #79095 closed

[2020-11-17 12:11] zakarumych commented on #41758
`resize_default` can be specialized for `Vec<{integer}>` using `AllocRef::grow_zeroed`

[2020-11-17 12:54] jethrogb commented on #52124
triage: poor suggestion remains

[2020-11-17 12:56] oli-obk commented on #77695
yea, this will require opt-in, so schemes like `#[derive(const PartialEq)]` could be possible.

[2020-11-17 13:03] lcnr commented on #44580
Now that we're looking to stabilize `#![feature(min_const_generics)]` in #79135 let's once again summarize all the amazing work that's been going on since [the last update]. A lot of new people have come and helped out with getting `#![feature(min_const_generics)]` ready for stabilization as well as improving other parts of const generics. A huge thanks to everyone who spend their valuable time he

[2020-11-17 13:24] pnkfelix commented on #64291
Discussed in today's meeting. Next steps here may be to evaluate *which* files are involved in the sym-linking (is it just serialized dep-graph info, or is it also .o files that will be passed to linker invocations).

The reason for the question is to determine how cross-cutting a change here would be (to introduce an auxiliary file as discussed in my previous comment).

[2020-11-17 13:33] pnkfelix commented on #52365
discussed in today's meeting. We agree with @nagisa 's comment above: We cannot really implement the feature as described (i.e. we cannot avoid invoking `rustc` for this scenario), but also, the `rustc` invocation *should* be fast in incremental mode.

So we just need to test that it *is* fast in incremental mode.

[2020-11-17 13:47] pnkfelix commented on #44699
discussed in today's wg-incr-comp meeting.

This remains an interesting idea.

Reading the thread at https://github.com/rust-lang/rust/pull/46165#issuecomment-346156732 , it is clear that there are various design choices to be made in how to go about this; the outline written in the description above is probably *not* the way that the stakeholders from T-compiler want it to be done.

So, I'd sugge

[2020-11-17 13:50] 12101111 commented on #79124
Also test on Windows 10
commit 54508a26eb0595eb8417a4643f2ee572d6ca33d3
config.toml:
[code]
Output:
[code]
binary:
[code]

![image](https://user-images.githubusercontent.com/8438475/99397938-a9d50600-291e-11eb-9fa5-570341fb9692.png)

[2020-11-17 14:25] marcospb19 opened #79136 "Enum type aliases don't work with default parameter"
Hi! I'm writing a custom `File` and `FileType` representation. It has a generic field called `extra`, so that users can attach any data into this recursive structure.

For example, you might want to attach a `String` to represent each file contents, maybe custom flags, open options, mode options, really anything that might match your needs.

I needed this generic field for some projects of mine, b

[2020-11-17 14:29] marcospb19 commented on #79136
Maybe a more reasonable example:

[code]
Which fails for the same reason, but I think that it should work! Is this expected?

[2020-11-17 14:49] tmiasko opened #79137 "variant_count intrinsic is evaluated incorrectly in generic code"
For example:

[code]

[code]

Similar to #73976, but with a different intrinsic.

[2020-11-17 15:04] richkadel commented on #79124
Try it on Windows with a clean copy of `config.toml.example` and set:

[code]

(I also set `ninja = true`. I doubt that matters.)

Don't change the target section. It should still say `[target.x86_64-unknown-linux-gnu]`. I have no reason to set target-specific settings for `windows-msvc` so I don't create a target-specific section for it. Defaults *should* be fine.

It could be that just having th

[2020-11-17 15:10] Dragonphy commented on #62031
I close the VS Code, delete the `./target` and reboot the WSL. Then `cargo build`, it runs without any error.

[2020-11-17 15:14] Dragonphy commented on #62031
I tried again. `cargo build` with VS Code get warnings. If I close the VS Code, everything goes well. So it's the VS Code's problem.

[2020-11-17 15:16] catenacyber commented on #34701
@richkadel
Is this supposed to work with version 4 of LLVM Code Coverage Mapping Format ? cf https://reviews.llvm.org/D69471
I get this working for my use case with LLVM11, but not with LLVM12 from git
I am not sure if this is a bug introduced in LLVM, or this rust feature being incomplete

Here is my git bisect log for LLVM project
[code]
Let me know if you need more information

[2020-11-17 15:26] jyn514 opened #79139 "regression: Rustdoc shows `pub(self)` as `pub(in a::b)`"
This is a pre-emptive bug report for when https://github.com/rust-lang/rust/pull/77820 lands.

[code]

I expected to see this happen: Rustdoc displays the privacy as written: `pub(self) struct FooInSelfSuperB;`

Instead, this happened: Rustdoc displays an absolute path: `pub(in a::b) struct FooInSelfSuperB;`

A similar bug exists for `pub(super)`. The regressions for other paths (`pub(super::super

[2020-11-17 15:30] jyn514 commented on #65863
@jonhoo Did you ever open a bug for this? It would be nice to fix.

[2020-11-17 15:32] michaelwoerister commented on #45408
@tgnottingham's analysis is pretty spot on, afaict. To give some context (which is unfortunately lacking in the issue description):

Anonymous dep-nodes were conceived in order to represent things in the dep-graph for which we don't have a query key. In particular we used them for things cached internally in the trait selection system. Their main purpose is to enable dependency tracking for things

[2020-11-17 15:35] richkadel commented on #34701
No. The Coverage Map is based on Version 3 because it was originally developed when Rust was on LLVM 10 (which only supported up to Version 3), and when the LLVM 11 upgrade was happening, we wanted to be sure it still worked with either LLVM 10 or LLVM 11.

https://github.com/rust-lang/rust/blob/10d3f8a484a812db995198f17b17462718f477bc/compiler%2Frustc_llvm%2Fllvm-wrapper%2FCoverageMappingWrapper.

[2020-11-17 15:36] richkadel commented on #34701
No one has tried LLVM 12.

[2020-11-17 15:42] catenacyber commented on #34701
Thanks, I was looking at the same line of code that rustc is generating V3 :-)

For my use case, I would like to profile at the same time some C code, compiled with LLVM12 which must generate some V4 coverage.
Is this the blocker here ? that llvm-cov cannot understand at the same time rust V3 and C V4 in one file

If so, do you plan to add V4 support somehow ?

[2020-11-17 15:49] richkadel commented on #34701
I understand the reason you would want this. No one is working on upgrading the coverage map version at this time though.

I recommend filing a rust-lang/rust issue. I don't know how quickly it will get done, but on that issue, we can discuss whether or not supporting LLVM 10 is still important. I hesitate to make the change not knowing that.

[2020-11-17 15:50] pypypypypypypypypyp opened #79140 "undefined behaviour checks for statics should be consistent with checks for variables"
[code]
this code fails to compile, stating that it may be undefined behaviour to use this value, which is of course true.
[code]
but this code works just fine. (note: transmute is a stand-in for mem::zeroed since that's not [yet] a constant function)

the mutable static is inaccessible without an unsafe {} block, so there is no way that this can cause UB in safe code, the only risk is that the use

[2020-11-17 15:57] jonas-schievink commented on #79140
This check runs during constant evaluation, so the behavior here is expected. https://github.com/rust-lang/rfcs/pull/3016 specifies precisely what compiler behavior is acceptable during constant evaluation, so you might want to read that.

Closing this as expected behavior, however.

[2020-11-17 15:57] #79140 closed

[2020-11-17 16:08] lcnr commented on #79137
We can probably just put `ensure_monomorphic` call in form if that if statement.

https://github.com/rust-lang/rust/blob/e0ef0fc392963438af5f0343bf7caa46fb9c3ec3/compiler/rustc_mir/src/interpret/intrinsics.rs#L79

A more precise way to implement this would be to exhaustively match on `tp_ty` and forbid `ty::Projection`, `ty::Opaque`, `ty::Param`, `ty::Bound`, `ty::Placeholder` and `ty::Infer` here

[2020-11-17 16:35] catenacyber commented on #34701
Thanks, I will give some more thought to my problem first

[2020-11-17 17:16] aDotInTheVoid opened #79142 "Rustdoc: No link to source for trait provided methods"
I tried this code:

[code]

I expected to see this happen: Provided method `Numbers::get_larger_number` has link to source

Instead, it doesnt.

![image](https://user-images.githubusercontent.com/28781354/99422817-d6c1f280-28f7-11eb-93b8-db86842f4636.png)

Interestingly on the docs for `impl Numbers for NumberFive` include the link, even though the impl is in the trait definition, not the block im

[2020-11-17 17:23] andjo403 opened #79143 "Tracking Issue for feature(nonzero_leading_trailing_zeros)"
Tracking issue for trailing_zeros and leading_zeros for non zero types as introduced by #79114.
The feature gate for the issue is `#![feature(nonzero_leading_trailing_zeros)]`.

On many architectures, this functions can perform better than trailing_zeros/leading_zeros on the underlying integer type, as special handling of zero can be avoided.

[2020-11-17 17:48] Nadrieril commented on #51085
It is now the case that "references never are uninhabited", at least as far as `is_ty_uninhabited_from` is concerned. Is the performance issue still there?
Otherwise, I expect that making `is_ty_uninhabited_from` into a query would significantly improve perf, because match checking repeatedly calls it on the same type and its subcomponents.

[2020-11-17 17:50] #72915 closed

[2020-11-17 17:50] #79048 closed

[2020-11-17 18:22] nikomatsakis commented on #54883
Removing nomination and requesting that @mark-i-m you re-nominate once crater data is available. =)

[2020-11-17 18:32] timcryt commented on #69585
Error is semantically correct, but confusing. By now, description of this error has been fixed.
[code]

[2020-11-17 18:32] #69585 closed

[2020-11-17 18:38] estebank opened #79144 "ICE with async + HRTB + Closures"
[Given the following](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=489e250edabab144b057e9563e5360ef):

[code]

Triggers an ICE

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p></details>

_Derived from https://www.reddit.com/r/rust/comments/jvqorj/hrtb_with_async_functions/_

[2020-11-17 18:54] jonhoo commented on #65863
@jyn514 Hmm, not sure actually -- it's a while ago now 😅

[2020-11-17 18:54] SNCPlay42 commented on #79144
This looks like #76168.

[2020-11-17 19:00] estebank commented on #79144
It absolutely does.

[2020-11-17 19:00] #79144 closed

[2020-11-17 19:00] estebank commented on #76168
[Another repro case relying on tokio](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=489e250edabab144b057e9563e5360ef):

[code]

[2020-11-17 19:12] camelid commented on #79139
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379139.20regression.3A.20Rustdoc.20shows.20.60pub(self).60.20a.E2.80.A6) in the prioritization working group.

[2020-11-17 19:14] camelid commented on #79139
Is there any we can just access the original source code using a span? I guess the downside of that is there might be weird formatting, though we could just strip whitespace. Not sure if that's considered too hacky though.

[2020-11-17 19:44] jyn514 commented on #79139
I would prefer not to do this by mangling the source code itself, rustdoc should not be parsing source code twice. The way to get the original behavior back is to get the visibility from the HIR instead of from metadata, but that means both a slowdown (because it will no longer be a query) and more code overall because all code will be penalized for the rare case of restricted visibility.

[2020-11-17 20:24] jyn514 commented on #79142
Duplicate of https://github.com/rust-lang/rust/issues/45150

[2020-11-17 20:24] #79142 closed

[2020-11-17 20:41] danielhenrymantilla opened #79146 "ICE with higher-order trait-bounds (`AsyncFnOnce` emulation)"
### Code

[code]

### Meta

`rustc --version --verbose`:

  - [seems to have started on `1.47.0`](https://rust.godbolt.org/z/qbE64r) (previous versions simply fail on non-nightly-ness).

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

I'm pretty sure this is a regression "from nightly to nightly" (it used to compile … and fail with #51

[2020-11-17 20:43] SNCPlay42 commented on #79146
Duplicate of #76168

[2020-11-17 20:45] danielhenrymantilla commented on #79146
@rustbot modify labels: -regression-untriaged

[2020-11-17 20:45] #79146 closed

[2020-11-17 20:48] danielhenrymantilla commented on #79146
@rustbot modify labels: +A-async-await +A-closures +F-unboxed-closures +requires-nightly

[2020-11-17 20:51] SNCPlay42 commented on #76168
@rustbot modify labels: -F-unboxed_closures -requires-nightly

per https://github.com/rust-lang/rust/issues/76168#issuecomment-683910817

[2020-11-17 20:53] Skallwar commented on #75072
I'm on the exact same situation as @repnop, with the exact same context.
``asm!(".align <alignment>")`` inside the function worked for you?

[2020-11-17 21:05] haug1 commented on #71684
Would be nice to get this sorted

[code]

[2020-11-17 21:52] #77970 closed

[2020-11-17 21:55] Mark-Simulacrum commented on #78979
Setting milestone to 1.49, we need to land #79008 on that branch as well.

[2020-11-17 22:34] jam1garner opened #79148 "ICE from public re-export of private enum variant in proc macro"
### Code

proc macro:
[code]

usage:
[code]

ICE is caused by pub re-exporting a single variant of a non-pub enum generated within a proc macro. Cannot be recreated with a declarative macro. marking the enum as `pub`/`pub(in super)`, or `pub(super)` fixes the issue, while `pub(crate)` and `pub(self)` do not.

### Meta

`rustc --version --verbose`:
[code]

Also recreated on stable:
[code]

### Erro

[2020-11-17 22:38] leonardo-m commented on #75027
Is not possible to forbid N==0 like this?
[code]

[2020-11-17 22:42] lcnr commented on #75027
yes, this is possible, it does require us to use `const_evaluatable_checked' in the standard library though.

That's not yet something I feel comfortable with

[2020-11-17 22:47] jyn514 commented on #79148
Note that this requires calling the proc-macro, not just defining it.
[code]

Here's a backtrace from 1.49:

<details>

[code]

</details>

[2020-11-17 23:59] matthiaskrgr opened #79152 "alacritty/vte fails to build on rustc master (mutable references are not allowed in constant functions)"
Upstream ticket: https://github.com/alacritty/vte/issues/68

### Code
https://github.com/alacritty/vte/
I tried this code:

[code]

I expected to see this happen: *explanation*
The code compiles on
[code]
but fails to build on rustc master `rustc 1.50.0-nightly (c919f490b 2020-11-17)`
which I assumes makes this a regression:
[code]

### Version it worked on

It most recently worked on:

### Versio

[2020-11-18 00:07] matthiaskrgr commented on #79152
cargo-bisect-rustc says the regression is caused by c6a6105bccd5599daf0ecef40c4b5ffa175fc1c1

[2020-11-18 00:07] matthiaskrgr commented on #79152
Maybe https://github.com/rust-lang/rust/pull/79032 ?

[2020-11-18 00:09] jyn514 commented on #79152
cc @lcnr

[2020-11-18 00:17] matthiaskrgr commented on #79152
I assume this is the cause of the error: https://github.com/alacritty/vte/blob/master/vte_generate_state_changes/src/lib.rs#L28

[2020-11-18 01:32] SNCPlay42 commented on #79152
MCVE:

[code]

[2020-11-18 01:37] SNCPlay42 commented on #79152
Could be #74989.

[2020-11-18 01:37] tmandry opened #79153 "Print backtraces for LLVM segfaults and aborts"
When a crash happens in an LLVM tool, it prints a nice backtrace:

[code]

But when an LLVM crash happens in rustc we don't, even when RUST_BACKTRACE=1.

This may be a simple matter of calling some LLVM function to set up hooks, but it might be more complicated than that.

[2020-11-18 02:19] SNCPlay42 commented on #79152
Reverting #74989 fixes the regression.

[2020-11-18 07:20] gilescope opened #79157 "unreachable warning when an unreachable!() macro is called"
I think we should suppress warnings that unreachable!() macros are unreachable. I had some nested logic with early returns and while at the moment it could not get to the end of the function, I could predict that some changes to the logic might miss a branch and then it would get to the end of the function - I wanted to catch that future mistake with an unreaachable!() macro. If we don't warn abou

[2020-11-18 08:34] joshtriplett commented on #79089
As a first pass, it would be acceptable if the lint triggered even in that case. It could be allow by default, for instance.

In other words I don't think it should be gated on the portability lint, though once the portability lint is available this should integrate with it.

[2020-11-18 08:36] SimonSapin commented on #63291
Hello @rust-lang/libs. Any thoughts on stabilizing these APIs, or on the unresolved question about the `Self` type of constructors? (See issue description.)

[2020-11-18 08:56] robinmoussu commented on #73014
Is there a reason why this new free function isn't added in the prelude when the feature `default_free_fn` is used?

[2020-11-18 09:16] oli-obk commented on #25116
The diagnostic is actually wrong. It's not about the type, it's about values of that type. You can use any type no matter its size for trait resolution and such, you just can't create values of it.

Additionally, we're still not emitting this error with spans. I think the only way to reasonably do this is to create a new well formedness bound that is *automatically* added to a function's where bou

[2020-11-18 10:02] jhpratt commented on #73014
@robinmoussu Any additions to the prelude need to go through their own RFC. The bar is quite high, to say the least.

[2020-11-18 10:43] m-ou-se commented on #62726
The signature of the unstable function in std right now is:
[code]

It might be a bit confusing that it *both* modifies `bufs` (somtimes at least), but also returns the new slice. A `#[must_use]` would be good.

An alternative could be
[code]

[2020-11-18 10:52] Thomasdezeeuw commented on #62726
@m-ou-se I agree, I think previous versions didn't return a value. But I can't remember why it returns a value now. If other people agree I could send a pr.

[2020-11-18 11:20] matthiaskrgr opened #79160 ""master" toolchain no longer accepts -Z flags"
On nightly (`rustc 1.50.0-nightly (c919f490b 2020-11-17`) I can run
`/home/matthias/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/bin/rustc ./75323.rs  -Zsave-analysis` which works fine, but this no longer works with the master toolchain (c4f836ad1aceb83507810d9499f56988fd24578d); this worked yesterday!
`/home/matthias/.rustup/toolchains/master/bin/rustc ./75323.rs  -Zsave-analysis`
[code]

[2020-11-18 11:22] matthiaskrgr commented on #79160
@rustbot modify labels: regression-untriaged

[2020-11-18 11:25] matthiaskrgr commented on #79160
Just saw https://github.com/rust-lang/rust/pull/79159  , could be related

[2020-11-18 11:43] pietroalbini commented on #79160
This is definitely #79159, sorry about that.

[2020-11-18 11:43] varkor opened #79161 "Chained comparison error doesn't distinguish between `<` and `>`"
[code]
produces the help message:
[code]
This is clearly invalid: we should be distinguishing between `<` and `>` when making this suggestion.

[2020-11-18 11:49] Stupremee commented on #79160
Assigning `P-critical` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379160.20.22master.22.20toolchain.20no.20longer.20accepts.20-Z.E2.80.A6/near/217122153) and removing `I-prioritize`.

[2020-11-18 13:02] matthiaskrgr commented on #79160
Fixed by #79159

[2020-11-18 13:02] #79160 closed

[2020-11-18 13:48] jonas-schievink commented on #48182
Cannot reproduce on rustc 1.49.0-nightly (1773f60ea 2020-11-08) and https://github.com/therealprof/microbit/commit/afd51b5347256047d8d451b370c9417a2e0facf8 with

`xargo build --release --example gpio_direct_blinky`

Presumably the bug has been fixed by a newer LLVM version? Or do I need to pass other flags?

[2020-11-18 13:54] jonas-schievink commented on #38828
Triage:

- thumb targets are now tier 2, which means that CI fails when libcore doesn't build for them
- thumb targets have 2 in-tree tests:
  - One that [builds the `cortex-m` crate](https://github.com/rust-lang/rust/blob/master/src/test/run-make/thumb-none-cortex-m/Makefile)
  - One that [runs a hello world app in QEMU and checks the output](https://github.com/rust-lang/rust/blob/master/src/test

[2020-11-18 13:58] NieDzejkob opened #79166 "rustc complains about destructors in const fn even when no destructors are ran"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=47781313c3e1482de4802cbc4f56a548))

Errors:

[code]

However, no destructors are actually ran, as can be seen in the MIR output:
[code]

The same effect can be observed if the field access is replaced by pattern matching, either in `let` or `match`.

[2020-11-18 14:08] NieDzejkob commented on #79166
@rustbot modify labels: A-const-fn C-bug T-compiler

[2020-11-18 14:19] NieDzejkob commented on #79166
After a source code dive (!) I found out that this is governed by the `const_precise_live_drops` feature flag (#73255). Perhaps it would be useful for the error to mention this feature when relevant?

[2020-11-18 14:29] NieDzejkob commented on #79166
@rustbot modify labels: -C-bug A-diagnostics

[2020-11-18 14:33] Robbepop commented on #41430
Since https://github.com/rust-lang/rust/issues/43081#issuecomment-726878122 mentions that https://github.com/rust-lang/rust/issues/43081 is likely to be fixed soon for all stable Rust syntax we can reiterate on this issue. I'd love to hear what else is blocking this feature and if there are any other show stoppers, bugs or design considerations before we can get there.

[2020-11-18 14:54] jonas-schievink commented on #51999
That looks expected, since `foo` uses `PartialEq`, and trait methods aren't stable in CTFE (https://github.com/rust-lang/rust/issues/67792).

Just `bar` alone compiles fine just with `#![feature(const_panic)]`.

[2020-11-18 14:57] nikomatsakis commented on #68826
This is the current behavior. It can indeed be surprising but making changes here would have pretty dramatic effects and would require us to invest a lot of effort into the transition (definitely this would require an edition change). I'm going to go ahead and close this issue -- if we wanted to pursue it, the right thing to do would be to file a lang team [project proposal](https://lang-team.rust

[2020-11-18 14:58] oli-obk commented on #51999
Both of these are fine with just `const_panic`, because `==` on primitive integers does not go through `PartialEq`. You may have been thinking of `assert_eq`, which has a whole host of problems like `Debug` impls and such

[2020-11-18 15:02] jonas-schievink commented on #51999
Ah, right

[2020-11-18 15:52] SimonSapin commented on #71668
Could a way to opt-in to this new behavior be stabilized without blocking on decisions of when or how to change the default?

[2020-11-18 16:03] DutchGhost opened #79168 "Rustc hangs on recursive traits"
I tried this code:

[code]

I expected to see this happen: When compiling with stable, it should tell me I need to use a nightly version of the compiler as Im using a `#![feature]`, and then abort compilation. When compiling with nightly, I expect some to see some overflow in the requirements, or hitting the recursion limits.

Instead, this happened: Rustc never stops compilation, instead it hangs

[2020-11-18 17:13] jyn514 opened #79170 "Test that rustdoc preserves color output in doctests"
The most accurate but hardest way is probably snapshot testing, like taking the image snapshot of the colors. Maybe we can just set the environment variables, and detect the colors ascii codes in standard output?

_Originally posted by @pickfire in https://github.com/rust-lang/rust/issues/74293#issuecomment-729484859_

[2020-11-18 17:35] RalfJung commented on #71668
AFAIK the lint does nothing when not enabled, so in principle, couldn't we just remove the feature gate?

[2020-11-18 18:22] petrochenkov commented on #79112
@mati865
This is a consequence of enabling ASLR (https://github.com/rust-lang/rust/pull/75406).
Apparently `/usr/bin/gdb` cannot handle it.
Perhaps it can be fixed on MSYS2 side?

The workaround is to build Rust code without ASLR using `-Clink-args=-Wl,--disable-dynamicbase`.

[2020-11-18 18:52] mati865 commented on #79112
@petrochenkov right, MinGW GDB was updated with ASLR fix but msys/gdb was not since `msys/*` packages do not use ASLR. Definitely could be fixed by MSYS2.

[2020-11-18 19:43] therealprof commented on #48182
Wow, this is still open? Yeah, I haven't seen that issue for years now, let's close it.

[2020-11-18 19:43] #48182 closed

[2020-11-18 20:05] Mrmaxmeier opened #79175 "Binaries generate malformed coverage profile when built with `-Z instrument-coverage -C link-dead-code -O`"
`llvm-cov` refuses to load coverage data for this code when running `rustc` with optimizations enabled:

[code]

Here's how I'm generating the coverage data:
[code]

And what I'm observing:

[code]

`rustc --version --verbose`:
[code]

cc @richkadel #79121

[2020-11-18 20:10] richkadel commented on #79175
Great bug report. I'll take a look.

Thanks!

[2020-11-18 20:29] DutchGhost commented on #79168
Edit:
The can be achieved _without_ auto traits:
[code]

[2020-11-18 20:37] rust-highfive opened #79176 "`miri` no longer builds after rust-lang/rust#79167"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#79167, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @m-ou-se, do you think you would have time to do the follow-up work?
If so, that would be great!

[2020-11-18 21:09] spastorino commented on #79152
Assigning `P-critical` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379152.20alacritty.2Fvte.20fails.20to.20build.20on.20rustc.20m.E2.80.A6) and removing `I-prioritize`.

[2020-11-18 21:09] spastorino commented on #78979
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378979.201.2E48.20beta.20broken.20on.20mips.20due.20to.20API-bre.E2.80.A6) and removing `I-prioritize`.

[2020-11-18 21:11] spastorino commented on #79009
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379009.201.2E48.20beta.20test.20failures.2C.20debuginfo-gdb.20.E2.80.A6) and removing `I-prioritize`.

[2020-11-18 21:12] spastorino commented on #27970
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2327970.20Does.20getaddrinfo.20need.20to.20take.20the.20ENV.20l.E2.80.A6) and removing `I-prioritize`.

[2020-11-18 21:13] spastorino commented on #79033
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379033.20Confusing.20lifetime.20error.3A.20expected.20.60(.26L.E2.80.A6) and removing `I-prioritize`.

[2020-11-18 21:15] lcnr commented on #79152
we probably have to update something here:
https://github.com/rust-lang/rust/blob/8d2d0014922e9f541694bfe87642749239990e0e/compiler/rustc_typeck/src/check/writeback.rs#L204-L236

[2020-11-18 21:16] m-ou-se commented on #79176
That PR was a rollup. Without having looked at any logs, I'm guessing this is caused by: #79145 (Fix handling of panic calls)

[2020-11-18 21:39] Diggsey opened #79178 "HashMap reports zero capacity without freeing memory"
It's generally expected that when std collections return a capacity of zero, that they are not backed by any allocation. I believe this was also true for the HashMap prior to hashbrown, although I could be wrong.

In any case, whilst `HashMap::capacity()` is documented as a *lower bound* I still find it extremely surprising that it reports a capacity of zero without freeing its memory.

You can re

[2020-11-18 21:40] Kixunil commented on #63291
One idea occurred to me that would be a reason to provide the new types for `RcMut` and `ArcMut` directly in `alloc`, not in other crate. Consider this code:

[code]

If this was implemented in `alloc`, it could use the fact that there's only one reference to defer the initialization of ref counters until it's absolutely required (which is when `into_shared()` is called).
If this was implemented i

[2020-11-18 21:46] alexcrichton commented on #76992
This came up tangentially in the Cargo team meeting today and I wanted to leave a comment here with my thoughts. If `--start-group` and `--end-group` don't actually have much of a performance hit I think it'd be awesome if we could just pass them unconditionally. We struggled for the longest time to get the link order *just* right and we still have weird bugs show up where the answer is "oh just s

[2020-11-18 21:53] m-ou-se commented on #79176
Ah, the problem is https://github.com/rust-lang/rust/pull/78785

[code]

The call to `getrandom()` was changed from `syscall(SYS_getrandom, ..)` to try `dlsym("getrandom")` first. Returning null there would work fine, as it still falls back to `syscall(SYS_getrandom, ..)`.

[2020-11-18 22:15] jyn514 commented on #79157
@gilescope I'm curious that you describe this as coding defensively - what does the `unreachable!` give you that the lint doesn't?

[2020-11-18 23:13] ssomers commented on #43244
Some more points:
- If the design stays drain-on-drop, it doesn't look particularly scalable. It always iterates the entire vector, or worse the entire linked list. One way to help is to accept a range like `drain` does; it's easy enough to specify `..` here.
- Another way to address the same concern  is to empower the "filter": instead of being a predicate, let it return an enum with choices:

[2020-11-18 23:29] poliorcetics commented on #79178
I don’t exactly remember the API for `hashbrown` but I believe it doesn’t offer those capabilities so the work will have to be done there before being added to `alloc`/`std`

[2020-11-18 23:31] alexcrichton opened #79187 "Closure seemingly both implements and doesn't implement a trait"
This is a bit of an odd issue that I ran into today, and one that I think is a bug in rustc but I'm not 100% certain. Given [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a11f940ef5416e8f6ac664d98cf1d5c5):

[code]

this fails to compile with:

[code]

The perplexing part to me is that both calls to `take_foo` seem pretty equivalent, but the second compiles whil

[2020-11-18 23:35] mati865 commented on #78827
It does import the symbol but it's still not exported:
[code]
https://github.com/rust-lang/rfcs/issues/2771

AFAIK this is expected because you do not import `wrapper_add` anywhere and cdylib only exports symbols whose names are explicitly passed by rustc to the linker.

[2020-11-18 23:42] mati865 commented on #76992
Still it was very small "hello world" example. IMO we would also have to prove there is no big difference for projects with dozens of libraries. Who knows, maybe the slowdown will be exponential for BFD?
LLD does always use `--{start,end}-groups` (even when not specified) but it was designed with that in mind and there is no performance hit here.

[2020-11-18 23:53] dtolnay commented on #42301
Rustdoc does have access to the version -- it's passed in the `--crate-version` flag:

<pre>
/git/anyhow$ cargo doc --verbose
   Compiling anyhow v1.0.34 (/git/anyhow)
     Running `rustc --crate-name build_script_build --edition=2018 build.rs --error-format=json --json=diagnostic-rendered-ansi --crate-type bin --emit=dep-info,link -C embed-bitcode=no -C debuginfo=2 --cfg 'feature="default"' --cfg

[2020-11-18 23:56] matthiaskrgr commented on #79187
Might be a duplicate of https://github.com/rust-lang/rust/issues/75791

[2020-11-19 00:14] jyn514 commented on #42301
Oh oops! This does make sense to add then I think.

That seems reasonable to me - either that or it could omit the version to get the latest that succeeded (but that would still break if no builds have succeeded). I'm still opposed to rustdoc making network requests though.

[2020-11-19 00:15] jyn514 commented on #42301
Note the other reason I changed my mind on this is that there are build systems other than cargo that have neither a shared target directory nor use nightly: https://github.com/rust-lang/api-guidelines/pull/230#issuecomment-730034673.

[2020-11-19 00:47] YorickPeterse commented on #78497
On my system it appears the threshold to trigger this is around 33 000 threads. Take this program for example:

[code]

If I run this, the program will panic like so:

[code]

If I lower the number of threads to <33 000, e.g. 32 500, it runs just fine.

[2020-11-19 01:04] YorickPeterse commented on #78497
Should somebody run into a similar case: this is because of hitting the limit of `vm.max_map_count`, which on Linux defaults to 65530 (roughly the equivalent of 32GB of VRAM if I'm not mistaken). Bumping up that limit lets you work around the panic.

Setting that aside, I agree with OP: this should produce an `Err` instead of a panic.

[2020-11-19 01:49] tmiasko opened #79191 "Incorrectly unified locals at -Zmir-opt-level=2"
[code]

[code]

[code]

[2020-11-19 02:26] #79108 closed

[2020-11-19 02:40] joshtriplett commented on #76992
I've tested projects with a dozen libraries and gotten similar results.

[2020-11-19 04:09] Firstyear commented on #78827
What would be the way to fix the provided example code so that it does work in the way that I expect it to then?

[2020-11-19 06:45] hyd-dev commented on #79129
rust-lang/promote-release#30 has been closed, but Miri is still not available due to #79176. Maybe Miri will be available tomorrow and this can be closed then.

[2020-11-19 07:13] scottmcm commented on #41758
@zakarumych That's currently done for `vec![0; N]`, so I suspect it could then be done for `.resize(n, 0)` without needing a separate method.  (That said, it might be interesting to have a `.resize_zeroed(n)` or `new_zeroed(n)` or something once safe transmute can give a trait bound for which it's safe to initialize elements with zeros.)

[2020-11-19 07:45] zakarumych commented on #41758
@scottmcm In generic environment, with 'Vec<T>' where 'T: Default', you can use either '.resize_default()' or '.resize_with(Default::default())', the former can be specialized for integers and later not.

[2020-11-19 07:56] wusyong commented on #79137
@rustbot claim

[2020-11-19 08:11] rust-highfive opened #79195 "`miri` no longer builds after rust-lang/rust#79002"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#79002, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @est31, do you think you would have time to do the follow-up work?
If so, that would be great!

[2020-11-19 08:19] RalfJung commented on #79195
Duplicate of https://github.com/rust-lang/rust/issues/79176?

@rust-lang/infra a while ago I wrote code which would ensure that when Miri goes "test-pass -> test-fail -> build-fail", only one issue would be opened. Looks like that code got broken.

[2020-11-19 08:19] #79195 closed

[2020-11-19 08:37] RalfJung commented on #79195
Actually, both are of the kind "test failed". But the first only made them fail on Linux, the second also on Windows, hence a 2nd issues got created.

[2020-11-19 08:41] gilescope commented on #79157
Here's an example of the kind of coding error I was trying to pick up:

[code]

In the above if I miss coding the else then I'd like to catch that. We could achieve the same result by converting all the early returns to expressions and the compiler would then catch the missing case - I think that's nicer where possible, but if the return type was `()` then I don't think the compiler would help and

[2020-11-19 09:12] gendx opened #79197 "thread 'rustc' panicked at [...] src/librustc_codegen_llvm/metadata.rs:75:22 (FromUtf8Error)"
### Code

I simply have a `Cargo.toml` file which transitively depends on the `futures-util v0.3.8` crate. That crate failed to compile before my code even started to be compiled.

Extract of my `Cargo.toml` (including only crates that might be relevant to `futures-util`).

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong>

[2020-11-19 10:44] PiotrSikora opened #79199 "Preopen directories are not available in Wasm Reactors"
It looks that preopen directories are not available in Wasm Reactors (i.e. when compiling crate as `cdylib`). Presumably, because `__wasm_call_ctors` and therefore `__wasilibc_populate_preopens` are not called.

It's also possible that I'm creating Wasm Reactors the wrong way, but I couldn't find any documentation, and this way seems to work fine, other than this particular issue.

`cat Cargo.toml

[2020-11-19 10:49] apiraino commented on #79168
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379168.20Rustc.20hangs.20on.20recursive.20traits) and removing `I-prioritize`.

[2020-11-19 10:55] apiraino commented on #78827
Assigning `P-low` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378827.20Linking.20a.20static.20C.20library.20does.20not.20inc.E2.80.A6) and removing `I-prioritize`.

[2020-11-19 11:10] apiraino commented on #78724
@rustbot ping cleanup

It would be interesting to investigate this issue a bit more in deep to isolate the issue better

[2020-11-19 12:00] Skallwar commented on #75072
I this is something that should be part of the language, I would gladly try to implement it

[2020-11-19 13:43] jyn514 commented on #79197
@gendx are you in an unusual locale? You can check on Linux/Mac with `echo $LC_ALL` in a terminal, not sure about windows.

[2020-11-19 14:09] nikomatsakis commented on #71668
Indeed, I think we could stabilize the lint with a default level of allow and separately consider whether to change the default.

[2020-11-19 14:24] apoelstra commented on #79187
Last night I ran into
[code]

which gives the same error message and may be asimpler case of the same thing.

[2020-11-19 14:32] wusyong commented on #79137
@lcnr Hello, I'm interested in taking the desirable approach. How is the arm for variants like `ty::Projection` should be handled? Which macro is more appropriate for this situation?

[2020-11-19 15:08] LeSeulArtichaut commented on #71668
I can file a PR for this

[2020-11-19 15:27] lcnr commented on #79137
I quickly grepped for `throw.*TooGeneric` and ended up with `throw_inval!(TooGeneric)` here.
That only helps once you know what to search for though.

[2020-11-19 15:49] Nemo157 opened #79201 "doc(cfg) doesn't inherit down onto trait impls in modules"
I tried this code:

[code]

I expected to see this happen: both impls being highlighted as needing the `foobar` feature.

Instead, this happened: only the `usize` impl got the message:

![image](https://user-images.githubusercontent.com/81079/99689291-1a973200-2a87-11eb-9774-d88cf1db31c1.png)

### Meta
[code]

[2020-11-19 15:50] Nemo157 commented on #79201
@rustbot modify labels: +T-rustdoc

[2020-11-19 15:59] Nemo157 commented on #79201
@rustbot claim

[2020-11-19 16:16] petrochenkov opened #79202 "Tracking issue for deprecation lint `legacy_derive_helpers`"
This is a tracking issue for deprecating code like this:
[code]

Code like this works for historical reasons, but attribute expansion works in left-to-right order, so we have to use some hacks and "look into the future" to resolve `trait_helper`, but that future may never actually happen in cases like
[code]
, so the resolution in this case is unreliable.

A deprecation lint for this case is added

[2020-11-19 16:18] jdm opened #79203 "UWP standard library no longer builds"
### Code

Running `cargo build --target x86_64-uwp-windows-msvc -Z build-std` yields:

[code]
### Version it worked on

This works in July 27 rustc nightly.

### Version with regression

It's broken in the Oct 6 rustc nightly, but possibly earlier.

[2020-11-19 16:19] jdm commented on #79203
It looks like [this code](https://github.com/rust-lang/rust/blob/7e2032390cf34f3ffa726b7bd890141e2684ba63/library/std/src/sys/windows/c.rs#L1037-L1040) is responsible; presumably the compat_fn! macro doesn't handle the attribute correctly.

[2020-11-19 16:19] jdm commented on #79203
I suspect https://github.com/rust-lang/rust/commit/8b2bdfd453d196f4d108183efe1f5a58292d5f11.

[2020-11-19 16:20] jhpratt commented on #27970
Just repeating what I've said on Zulip: To resolve the soundness bug in time & chrono, one option would be to provide a `std::env::lock` method, which holds a lock on the environment until dropped. It's my understanding this is basically what is happening internally on some functions already in stdlib. Exposing this would allow _much_ safer usage of FFI.

[2020-11-19 16:27] RalfJung commented on #27970
The env lock has to be exposed somehow, I agree.

An alternative API would be a function that takes a closure that will be called with the lock held. This is less powerful (which might be a good thing: provide the least powerful API that is good enough).

[2020-11-19 16:28] RalfJung commented on #27970
However, talking of the env lock -- also see https://github.com/rust-lang/rust/issues/64718 for how the current use of the env lock is wrong, so exposing it in that state might be a problem.

[2020-11-19 16:28] jhpratt commented on #27970
Sure, that would work as well. End result is the same, if done properly.

[2020-11-19 16:34] jdm commented on #79203
Verified that the 9/30 nightly works.

[2020-11-19 16:54] Havner opened #79206 "`-C target-feature=+crt-static` doesn't work on stable and is silently ignored"
`-C target-feature=+crt-static` on stable gives no warning, but the final binary is dynamically linked. This works properly on nightly.

# Steps to reproduce:
## New package
[code]
## Stable
[code]
## Nightly
[code]
# Expected result
I'd expect either the final binary to be static on stable or given an error/warning that this option is not supported on stable (as I've seen countless times with oth

[2020-11-19 17:06] mati865 commented on #78827
For re-exporting somebody has to fix https://github.com/rust-lang/rfcs/issues/2771.
For importing `wrapper_add` you have to use similar code as you have used for importing `reverse_call`.

[2020-11-19 17:14] yoshuawuyts commented on #70758
@m-ou-se I think that's a reasonable addition; though it could be useful to track separately so we can stabilize the two functions independently?

[2020-11-19 17:27] #79129 closed

[2020-11-19 17:27] #79176 closed

[2020-11-19 17:35] fleabitdev opened #79207 "Associated type fails to typecheck against a reference parameter to a function (but not a function pointer or closure)"
Rust `1.47.0-stable` and `1.50.0-nightly (2020-11-18 8256379832b5ecb7f71e)`, both tested on the playground.

[code]

The first three calls to `example` succeed, but the last two calls fail with this error:

[code]

#76956 may be related.

The error does *not* occur if...

- The `Fn(<&i32 as Example>::Ty)` bound is replaced with `Fn(&i32)`
- All occurrences of `&i32` are replaced with `i32`
- The `

[2020-11-19 18:05] m-ou-se commented on #70758
Sure. Just mentioning it here because `fill_with` could resolve some of the concerns with `fill`. If `fill` takes a `T` by value, `fill_with` could be a solution for the few cases where that might be undesirable. And it'd make it consistent with `Vec::resize`, which is a good argument for making `fill` follow the same signature and take `T` by value.

[2020-11-19 18:09] m-ou-se commented on #70758
I think `slice::fill` is ready for a stabilization PR. There's been no discussion about the signature since May, when it was changed to take a `T`.

[2020-11-19 18:12] in42 commented on #79153
Will like to work on this.

[2020-11-19 18:14] varkor commented on #51085
I suspect this requires some investigation. (Perhaps it would be sufficient to open a PR enabling the feature and do a perf run.)

[2020-11-19 18:37] jamesmunns opened #79210 "Diagnostics Improvement: Same Body in Branches"
I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cc7599a28cfe7dd105f3f4d609c47b47

I expected to see this happen:

A compiler warning/diagnostic that both of my branches were equivalent.

Instead, this happened:

No warning was emitted

### Meta

This happens on Rust 1.47.0 stable and Rust nightly 2020-11-18

CC @estebank, and the related discussion [on

[2020-11-19 18:40] Nadrieril commented on #65712
The error is now:
[code]
So we can close this

[2020-11-19 18:44] jyn514 commented on #54726
From https://github.com/rust-lang/rust/issues/78488: It looks like the rustfmt issue was fixed in 1.44.0, in case you're trying to find your MSRV like me.

[2020-11-19 18:49] varkor commented on #65712
And there's a test for it already, perfect.
https://github.com/rust-lang/rust/blob/85bc9538920850e5bd7c1023c9ffbf5e8e69be6a/src/test/ui/pattern/usefulness/non-exhaustive-pattern-pointer-size-int.stderr#L1-L10
Thanks!

[2020-11-19 18:49] #65712 closed

[2020-11-19 18:55] tmandry commented on #79153
@in42 Awesome! You can claim the issue with

[code]

See the [rustc dev guide](https://rustc-dev-guide.rust-lang.org/index.html) for more information about contributing and working in the compiler codebase. Support is on the [#t-compiler/help zulip stream](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp). (I can also answer questions here, but I'll be on vacation next week.

[2020-11-19 19:14] in42 commented on #79153
@rustbot claim

[2020-11-19 19:42] tmandry commented on #76168
This is now reproducing on stable. This feels like more of a "guts of the borrow checker" kind of issue than async/await-specific, so I'm tagging with `A-borrow-checker`.

[2020-11-19 19:50] #22565 closed

[2020-11-19 19:50] #58964 closed

[2020-11-19 19:50] #77402 closed

[2020-11-19 19:50] #79124 closed

[2020-11-19 19:50] #79127 closed

[2020-11-19 19:50] matthiaskrgr commented on #79210
Clippy has a lint that is supposed to detect this https://rust-lang.github.io/rust-clippy/master/index.html#if_same_then_else but it does not catch this example (false negative I guess..)

[2020-11-19 19:53] tmandry commented on #78402
Based on the RFC I think it's correct that this wouldn't compile. However, I am curious why adding a `'static` bound to the return type of `bar` doesn't fix it:

[code]

That ought to remove any doubt that the return type is tied to the lifetime of `T`.

Also, this still fails to compile when `foo` is not async, but prints a more concise error message:

[code]

[2020-11-19 20:04] tmandry commented on #78522
Odd, it looks like the lint is broken for async fns. We definitely want to fix this.

If anyone wants to take this on, the place to start is [`check_uses_for_lifetimes_defined_by_scope`](https://github.com/rust-lang/rust/blob/fe982319aa0aa5bbfc2795791a753832292bd2ba/compiler/rustc_resolve/src/late/lifetimes.rs#L1504) and reading / logging to understand how async functions are handled differently.

[2020-11-19 20:43] yoshuawuyts commented on #70758
@m-ou-se I agreet; filed a stabilization PR in https://github.com/rust-lang/rust/pull/79213

[2020-11-19 20:56] taiki-e commented on #76011
Given the current `async ||` is equivalent to `|| async {}`, it may be preferable to suggest `|| async {}` instead of `async {}`.

[2020-11-19 21:08] jyn514 commented on #76011
@taiki-e the point of this is that the user *didn't* mean `|| async {}` though. If you add `||` then you can no longer await it: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=083f8dbc81f44245734ff5c7a95e1c69

For context, the original code was something like https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2f095b1aa4d8d3290b2ab41bed482469, where the

[2020-11-19 21:21] nikomatsakis commented on #78893
Related test:

[code]

this is an error on stable, but not nightly.

[2020-11-19 21:22] yoshuawuyts commented on #70922
https://github.com/rust-lang/rust/pull/77862 seems like it may resolve the rustdoc issue

[2020-11-19 21:26] nikomatsakis commented on #78893
I did a little investigation here. I think that, for the second test I gave at least, the fix I would expect to do would be around here:

https://github.com/rust-lang/rust/blob/fe982319aa0aa5bbfc2795791a753832292bd2ba/compiler/rustc_trait_selection/src/traits/wf.rs#L117-L120

In particular, given a where clause like `X: A<T = Y>`, the first line checks that `<X as A>::T` is valid, the second check

[2020-11-19 21:31] nikomatsakis commented on #78893
Ok so the `impl Trait` WF code is here:

https://github.com/rust-lang/rust/blob/fe982319aa0aa5bbfc2795791a753832292bd2ba/compiler/rustc_trait_selection/src/traits/wf.rs#L609-L613

Those rules currently fall through to the `nominal_obligations` here:

https://github.com/rust-lang/rust/blob/fe982319aa0aa5bbfc2795791a753832292bd2ba/compiler/rustc_trait_selection/src/traits/wf.rs#L677-L681

which invo

[2020-11-19 21:42] yoshuawuyts commented on #70921
@petertodd this was discussed in https://github.com/rust-lang/rust/pull/70834 and decided against. Some of the conversation happened in code comments, so it may require expanding some closed comments to get the full conversation.

With the release of 1.48 these PRs have been stabilized, so it's probably time to close! Any conversation about these APIs should probably happen in their own PRs.

[2020-11-19 21:42] #70921 closed

[2020-11-19 21:45] Keruspe opened #79218 "x.py dist shouldn’t require network access"
Since #78790 we run cargo vendor unconditionally to vendor libtest in libstd.
We should either pass it '--offline' or add a way to conditionally do so to avoid using network when unnecessary

[2020-11-19 21:49] taiki-e commented on #76011
@jyn514 Thanks for clarifying. What suggestion is preferable seems to depend on the expected return type.
Perhaps it is preferable to have both notes?
[code]

[2020-11-19 21:49] Mark-Simulacrum commented on #79218
I am happy to accept a patch for this; if it is not small (e.g., just adding offline) we will likely end up wanting to revert #78790 on beta.

[2020-11-19 22:11] alexcrichton commented on #79187
While perhaps similar to #75791 this one at least isn't a regression, I don't believe this code has ever compiled.

[2020-11-19 22:32] Firstyear commented on #78827
I think it's that a symbol defined in my code's .c files is not exported which seems like a surprising behaviour. Especially since calling wrapper_add would be recursive, and the point is that wrapped_add should be a landing point for incoming calls from C applications.

The fact that a linked library in my own source tree has it's symbols *not* exported is a very surprising (and incorrect) behavi

[2020-11-19 23:08] camelid commented on #79203
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379203.20UWP.20standard.20library.20no.20longer.20builds) in the prioritization working group.

[2020-11-19 23:33] briansmith commented on #75075
I think the definition of `include_bytes!` should be changed to require that (1) the path must be relative, (2) `include_bytes! will interpret `'/'` is the directory separator and translate as needed, (3) quotes (`'"'`) and other similar escaping will be rejected with a compiler error.

[2020-11-19 23:34] EliSnow commented on #79187
Is the underlying issue perhaps what's also causing #71723?

[2020-11-19 23:38] estebank commented on #79161
the `<S as T>` confuses the parser as it doesn't account for `as` for recovery, I think it is being parsed as `(foo << S) as <TYPE HERE>`.

[2020-11-19 23:44] ThePuzzlemaker commented on #78941
Fixed by #79200, a rollup containing #79082

[2020-11-20 00:35] yoshuawuyts opened #79221 "Tracking Issue for slice::fill_with"
The feature gate for the issue is `#![feature(slice_fill_with)]`.

### Implementation history

- [x] Initial implementation (https://github.com/rust-lang/rust/pull/79222)
- [x] Stabilization PR (https://github.com/rust-lang/rust/pull/81048)

[2020-11-20 01:24] ThePuzzlemaker commented on #79168
The regression happened between nightly 2019-01-04 and 2019-01-03. I don't currently have the means to search further than that, though I'm thinking it's probably between a602f13f02a and ae167c91aa9.

[2020-11-20 01:58] richkadel commented on #79175
Partial update here...

I did some experimentation, making small changes to the code, and turning on and off the `-O` flag.

I was able to create a modified MCVE, that also appears to make minimal changes to the LLVM IR.

Here is your sample code with a couple of additional lines, commented out. If I uncomment those lines, the example works as expected:

[code]

If I uncomment these lines (by repl

[2020-11-20 02:32] bstrie commented on #75992
Did anyone ever manage to come up with a minimal, self-contained reproduction for this?

[2020-11-20 02:36] jyn514 commented on #75992
I think https://github.com/rust-lang/rust/issues/75992#issuecomment-715557750 is the smallest anyone got it.

[2020-11-20 03:03] bstrie commented on #75992
Good to know, although I wonder if it's premature to close this issue if we don't still have a self-contained repro. Shall we reopen?

[2020-11-20 03:33] #45150 closed

[2020-11-20 03:33] #79066 closed

[2020-11-20 04:17] camelid commented on #79218
Is this really P-critical? I would think this is P-high since P-critical is usually reserved for severe user-facing bugs.

[2020-11-20 04:20] camelid commented on #79207
Note that this seems to have been an issue since 1.0.

[2020-11-20 04:49] camelid commented on #79033
I still don't really understand why this code doesn't work, but the confusing error should be fixed by #73521.

[2020-11-20 05:12] tmandry commented on #65280
On Fuchsia we use external symbolization, which means the file and line number are not resolved in the process itself. This allows us to capture backtraces without having to ship binaries containing debuginfo. We use a standard [symbolization markup format](https://fuchsia.dev/fuchsia-src/reference/kernel/symbolizer_markup) across the platform, where each frame is typically printed on its own line

[2020-11-20 07:40] mati865 commented on #79206
Is there a point in keeping this issue open? It's only matter of time when this feature gets to the stable.

[2020-11-20 08:19] #60919 closed

[2020-11-20 09:24] est31 commented on #43781
Issue with that is if you want to implement the same function on different platforms in different ways. It shouldn't show up as gated on the current platform, but as not gated at all... or if it's only implemented on a set of platforms, then as that list.

So if there is such an implication, it should be opt in, eg via an empty `#[doc(cfg)]` tag. Maybe one can have a feature to make it opt out for

[2020-11-20 09:55] ohadravid opened #79224 "`min_specialization` with default generic causes an ICE"
I wanted to change `Cow` to use the pattern in the code below (which changes `Cow` variance w.r.t to `<B as ToOwned>::Owned`),
but got an ICE. I managed to reduce it the code below.

### Code

[code]

The same code with the current definition of `Cow` works  (same as `std`):

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</stron

[2020-11-20 09:58] m-ou-se commented on #58957
One of thse (vec::Drain::as_slice) is already stabilized. As for the other one: we discussed this tracking issue in the libs meeting, and would be happy to see a stabilization PR.

[2020-11-20 10:00] pyropeter opened #79225 "Compiler suggests type conversion on LHS of assignment"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2c8725c87e4820a453fb93a92037299f))

Errors:

[code]

Thank you for Rust! It's a great language! :heart:

[2020-11-20 10:10] matthiaskrgr commented on #78442
This ICEs again because the fix was reverted https://github.com/rust-lang/rust/pull/79193#issue-523670710
Can someone reopen please?

[2020-11-20 11:01] gendx commented on #79197
The `LC_ALL` variable isn't set in my environment.

FWIW I was building from within a Docker container on Linux, so not many environment variables are set (but I don't have `LC_ALL` set either on my host Linux system).

[2020-11-20 11:10] Elrendio commented on #55132
Hello !

Any blockers for stabilisation ?

Thanks a lot 🙂

[2020-11-20 11:12] rust-highfive opened #79226 "`miri` no longer builds after rust-lang/rust#79196"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#79196, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2020-11-20 11:23] m-ou-se commented on #79226
Error log: https://github.com/rust-lang-ci/rust/runs/1429657808?#step:24:8507

[code]

[2020-11-20 12:31] jsdw commented on #74773
The way I am interpreting the current signature of `Option<(&str,&str)>` is that either the separator is matched, and so you get a pair of `&str`s (they might both be empty, but that's ok), or alternately the separator is not matched, in which case the splitting failed and so you get `None`. This seems consistent with other functions.

Returning `(&str, Option<&str>)` IMO leaves the meaning of the

[2020-11-20 12:31] Mark-Simulacrum commented on #79218
I consider inability for distros to build a particular version of Rust to be a release blocker.

[2020-11-20 12:44] inferiorhumanorgans commented on #76795
FWIW I tried again a few days later and `rustup update` completed successfully.

[2020-11-20 13:24] mooli opened #79230 "`std::io::Error::description()` is deprecated, but its recommended replacement gives a different result"
I would like my shell utilities written in Rust to print the same style of error messages as their traditional C brethren which use e.g. `perror` to give error messages of the form "foo: can't read "bar": permission denied".

There is therefore a need to turn an `io::Error` into the text "permission denied" and the like. `io::Error::description()` does this, but it is marked as deprecated and caus

[2020-11-20 13:34] jonas-schievink commented on #79230
If you need the output of `perror`/`strerror`, you should use [`Error::raw_os_error`](https://doc.rust-lang.org/std/io/struct.Error.html#method.raw_os_error) and call `strerror` with that

[2020-11-20 13:44] petertodd commented on #70921
Thanks for the reply! I missed those comments. Anyway, too small a difference to worry about now if it's already been discussed.

On November 19, 2020 4:43:13 PM EST, Yoshua Wuyts <notifications@github.com> wrote:

[2020-11-20 13:57] sasurau4 commented on #78927
I'll try it!

[2020-11-20 14:16] raphaelcohn commented on #23246
@mankinskin I agree. PhantomData in this instance just pollutes the code. It is an implementation detail that should never be exposed in a public API (which is what happens with both @AdrienChampion 's and @neithernut 's code. It's also exceedingly irritiating, adding code complexity, complicating construction (so making it harder to just pass generic enum members as closures w/o writing extra cod

[2020-11-20 14:31] Plecra commented on #79230
This makes sense to me. Though I hadn't considered it before, the os error doesn't belong in the default `Display` output. Custom implementations would still be free to append it to their own output (in a way they can't today)

[code]

[2020-11-20 14:57] jgallagher-cs commented on #43596
It's a little hard to tell from the comments both here and on https://github.com/rust-lang/rust/issues/51245 what is happening and/or needs to happen to make progress on this. My company has a use case very similar to the one described (don't want OOM on one task to tear down the whole process), and we might be able to contribute to moving this forward, but would need some guidance on how to help

[2020-11-20 15:04] mooli commented on #79230
What a ridiculous workaround! So I have to pull in `libc`, use `unsafe` (thus tainting my crate), and then jump through C FFI hoops just so user-facing error messages don't contain weird "(os error 42)" cruft which adds no useful information?

If that was a cryptic way of saying WONTFIX, I'll stick with the deprecated `description()` as a least-worst solution.

[2020-11-20 15:29] Keruspe commented on #79218
Here what i've tried so far:

- `cargo vendor --offline`
- `cargo vendor --locked`
- `cargo generate-lockfile --offline && cargo vendor --locked`
- `cargo generate-lockfile --offline && cargo vendor --locked --offline`

None of those worked out, last failure:

[code]

[2020-11-20 15:31] hnj2 commented on #56530
@steveklabnik It is still an issue:
[code]
Compiles fine and gives the expected 1025 lines:
[code]
Checking the generated binary we find:
[code]

[2020-11-20 15:33] hyd-dev commented on #29594
By looking at the issue description, `#![feature(thread_local)]` seems unsound, but it's not caught by the `incomplete_features` lint:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0d95cf5246b5b41ddc6776527fdc89e5

[2020-11-20 15:48] RalfJung commented on #29594
Hm, that's fair... OTOH if we made `incomplete_features` fire we'd have to enable that lint in library/std, so we'd not easily notice when another unsound feature is enabled.

IMO it would be better to just make all accesses to these statics unsafe.

[2020-11-20 15:48] thomcc commented on #56318
It got merged!

[2020-11-20 15:48] #56318 closed

[2020-11-20 15:52] hyd-dev commented on #29594
@RalfJung Well, I just read https://github.com/rust-lang/rust/pull/71435#issuecomment-618018581 after commenting and am wondering whether I should edit and hide my comment or not.

[2020-11-20 16:03] davidhewitt commented on #66693
I guess that #3007 might make this a non-issue, where it is proposed `std::panic!` also would require `&str` as first argument.

[2020-11-20 16:12] #79203 closed

[2020-11-20 16:19] hyd-dev commented on #29594
@RalfJung It seems that #49682 is the only soundness problem, so this may already have implementation strategy: banning the case in #49682. Ignore me if so.

[2020-11-20 16:35] luser commented on #49180
I don't know if this is the right venue in which to discuss @michaelwoerister 's [recent blog post](https://blog.rust-lang.org/inside-rust/2020/11/11/exploring-pgo-for-the-rust-compiler.html), but I'd love to provide some feedback on my experiences enabling PGO for Firefox CI and the various lessons we learned along the way.

[2020-11-20 17:13] nkconnor commented on #39915
I'm on Ubuntu 20.04 (PopOS), and `lld` didn't appear to be configured even with newer version of GCC. The `RUSTFLAGS` above didn't do the trick. Here's what I did:

[code]

This more than 2X'd my incremental build speed.

[2020-11-20 17:13] RalfJung commented on #29594
Hm, I do not see the relation to be honest (also I was wrong when I posted that -- there is an implementation strategy).

https://github.com/rust-lang/rust/issues/54366 sounds like it might be a soundness issue if it also happens for `#[thread_local] static` (without `mut`).

[2020-11-20 17:18] RalfJung commented on #54366
Curiously, [doing the same thing with a non-`mut` static](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=524c83e9b39ce58bde34ffca75086f92) is detected by the borrow checker.

[2020-11-20 17:20] RalfJung commented on #54366
@oli-obk

Isn't that a problem with unsafety checking? You said elsewhere that this crucially is a raw pointer to ensure that accesses are unsafe.

[2020-11-20 17:35] hyd-dev commented on #29594
@RalfJung I think I was confused by confusing comments (not only yours) and probably misread some of them. Sorry. Ignore what I said before.

[2020-11-20 18:32] oli-obk commented on #54366
We do unsafety checking properly nowadays:
https://github.com/rust-lang/rust/blob/c9c57fadc47c8ad986808fc0a47479f6d2043453/compiler/rustc_mir/src/transform/check_unsafety.rs#L207-L216

So the raw pointer checks aren't actually necessary, even though they are a good safety net for our use of `LocalInfo` for soundness.

[2020-11-20 18:43] RalfJung commented on #54366
"properly" for some notion of "properly". ;) Relying on `LocalInfo` feels rather fragile.

[2020-11-20 18:52] eddyb opened #79239 "Consider providing an universal way to read (proc macro) dylib metadata."
In https://github.com/EmbarkStudios/rust-gpu/pull/268, I used `rustc_codegen_llvm`'s implementation of `get_dylib_metadata`, in order to support proc macros, and also found out that `rustc_codegen_cranelift` uses the `object` crate for its `get_dylib_metadata`.
(Both the LLVM and the `object`-based implementation extract the `.rustc` section of an `.so`, `.dll`, etc.)

AFAICT, the codegen backend

[2020-11-20 18:53] Keruspe commented on #79218
With just the `cargo vendor --locked --offline` (without the generate-lockfile):

[code]

[2020-11-20 19:07] camelid commented on #79218
Ah, I didn't realize it was that bad! Sorry about that.

[2020-11-20 19:10] TheOnlyMrCat opened #79240 "Documentation for Vec::leak doesn't ackowledge dropping of excess capacity"
When using one of the functions to convert a `Vec<T>` to a `[T]`, excess capacity of the vector is dropped, leaving the slice with only the elements which have been initialised in memory.

This behaviour is acknowledged in the documentation for `Vec::into_boxed_slice`, but not in the documentation for `Vec::leak`.

[2020-11-20 19:26] Mark-Simulacrum commented on #79218
cc @rust-lang/cargo -- do we expect cargo vendor to work without network when vendoring a subset of a workspace? It looks like we're running into some trouble here to get it working, though I've not personally had time yet to test.

cc @Gankra as well

[2020-11-20 19:28] camelid opened #79241 "Incorrect trait implementations listed for non-implemented custom auto trait"
The error says:

[code]

But that's incorrect – the whole problem is that `UnsafeCell` does *not* implement the trait! It should either not list `UnsafeCell` or list it as a negative impl (or whatever they're called).

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d52257a80ebd45fb47e90e92f7fcd99f))

Errors:

[code]

[2020-11-20 19:29] shepmaster commented on #39915
# Potential problem for using rust-lld on Arm64 / aarch64 / Apple Silicon macOS

All executables are required to be code-signed on the new Arm64 macOS machines. By default, the system linker does that for you:

[code]

If someone tries to get `lld` working on macOS, we should verify that the code signing still happens for free.

[2020-11-20 19:35] bjorn3 commented on #79239
I think that for proc macros the universal way to read should be the only way used. For regular dylibs, I think the metadata loader from the codegen backend should still always be used, but the default implementation of `get_dylib_metadata` should delegate to the universal way. This would allow the codegen backend to store dylib metadata in a way that is incompatible with the universal way without

[2020-11-20 19:38] alexcrichton commented on #79218
I believe Cargo is working as intended here, when you run `cargo vendor` in the workspace root it doesn't actually vendor the `rustc-std-workspace-*` crates from crates.io because they're patched locally to the in-tree versions. Then when Cargo later vendors for libtest, it doesn't see the `[patch]` annotations so it tries to download them from the network. If you've passed `--offline` and you're

[2020-11-20 19:45] BlackHoleFox commented on #75577
I attempted to reproduce this on my Windows system but it looks like Windows won't give it enough page space to continue:
[code]

This ended up taking ~130GB of swap space and 64GB of RAM before ICEing.

[2020-11-20 19:57] bobbobbio opened #79242 "Rustc hangs on recursive macro expansion on 1.48.0"
### Code

We have a library that compiles fine on 1.47.0 but after uggrading to 1.48.0 the compilation hangs.

[code]

This code-snippet above is reduced from the original code as much as I can. I'm having problems understanding exactly where the problem is coming from and any further modifications to reduce it haven't worked. It uses the "paste" crate, and I've tried a few different versions incl

[2020-11-20 20:26] AaronKutch commented on #39078
It looks like some of the perf changes (but not all the things since `compiler-builtins` 1.36) have made it into nightly, what do the benchmarks look like?

[2020-11-20 20:33] Keruspe commented on #79218
Will give the `[patch]` approach a try, thanks a lot for the explanation

[2020-11-20 20:37] Nicholas-Baron opened #79244 "x.py clippy fails with E0277 and E0658"
Trying to run `./x.py clippy` using the beta toolchain's clippy results in ~32 errors.

[Raw output](https://github.com/rust-lang/rust/files/5575931/clippy.txt)

There are a bunch of `attribute should be applied to a macro` errors, then a `E0658` (`impl Trait` not allowed on `const fn`s), and finally 3 `E0277` (the size of `Self` is not known at compile time). All seem to come out of `library/core

[2020-11-20 20:39] Nicholas-Baron commented on #79244
@rustbot modify tags to +A-rustbuild +A-clippy.

[2020-11-20 20:41] Nicholas-Baron commented on #79244
@rustbot modify labels to +A-clippy and +A-rustbuild.

[2020-11-20 21:22] marmeladema opened #79246 "Performance regression in `1.48.0`"
Hello everyone!

We detected a performance regression on a closed-source project after an upgrade of rust from version `1.47.0` to version `1.48.0`.
The benchmark we run internally are using the low-level `perf_event_open` Linux API to measure various hardware performance counters on specific code section.
The most stable and reliable counter we care about is the number of retired instructions, co

[2020-11-20 21:32] tgnottingham opened #79247 "Can't use const_evaluatable_checked where bounds with tuple structs"
The where bounds used for the `const_evaluatable_checked` feature don't seem to be working when applied to a tuple struct (or I am getting the syntax wrong). It looks like it is expecting a trait:

Example 1:
[code]

[code]

Example 2:

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-11-20 21:34] tgnottingham commented on #79247
@rustbot label A-const-generics F-const_evaluatable_checked T-compiler

[2020-11-20 21:40] smmalis37 commented on #79242
Some quick notes as I find them:
This reproduces on just a cargo check, so has nothing to do with codegen (unsurprising)
Compilation time scales by a little more than 2x for each additional number added (going from 0 to 20 took 11 seconds, 21 took 26, 22 took 1 min 5)
Given that I don't think this is a hard hang per se, just a really really long running compilation

[2020-11-20 21:50] jonas-schievink commented on #79247
The where-clause goes after the struct declaration, then it works

[2020-11-20 21:50] tgnottingham opened #79248 "Can't implement Drop on type with const_evaluatable_checked where bound"
This issue seems to be specific to the `Drop` trait.

[code]

[code]

`rustc --version --verbose`:
[code]

@rustbot label A-const-generics F-const_evaluatable_checked T-compiler

[2020-11-20 21:51] tgnottingham commented on #79248
Also, is it expected that the where bounds need to be repeated in each of the type's trait impls?

[2020-11-20 21:56] tgnottingham commented on #79247
Whoops, thanks :)

[2020-11-20 21:56] #79247 closed

[2020-11-20 22:48] Mark-Simulacrum commented on #79246
I suspect a good next step would be to try to narrow down the code being regressed -- maybe with something like a cachegrind diff -- to attempt to isolate the problem, and perhaps propose a fix.

[2020-11-20 23:27] Gankra opened #79249 "Remove `missing_tools` config"
The scope of this issue changed; see [here](https://github.com/rust-lang/rust/issues/79249#issuecomment-1415070926) for the current status.

Original issue description for historians:

---

config.toml lets you request tools be built, and it lets you ignore build failures with `dist.missing-tools = true`, but it doesn't let you specify that some packages *must* be built, while others are ok to mis

[2020-11-21 00:04] jyn514 commented on #79244
@Nicholas-Baron you need to update your version of beta. This is the error I get, which is an internal error in clippy:

[code]

[2020-11-21 00:32] Nicholas-Baron commented on #79244
My version of clippy (from `cargo clippy -V`) is `clippy 0.0.212 (7eac88a 2020-11-16)`, which is technically later than yours, @jyn514.

[2020-11-21 00:34] jyn514 commented on #79244
Whoops, I was using the wrong clippy, sorry.

[2020-11-21 00:35] simon-auch opened #79251 "ICE when using const_evaluatable_checked"
I'm creating this issue mainly because it seems to be a different one than the ones listed in https://github.com/rust-lang/rust/issues/76560

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-21 02:43] JulianKnodt commented on #79246
Just curious, are you using LTO when you notice the regression? I was looking at the code in the PR and there are a lot of small methods which aren't marked with `#[inline]`, which from my experience would cause slowdown.

[2020-11-21 05:30] SNCPlay42 commented on #79242
searched nightlies: from nightly-2020-08-24 to nightly-2020-10-03
regressed nightly: nightly-2020-10-02
searched commits: from https://github.com/rust-lang/rust/commit/ef663a8a48ea6b98b43cbfaefd99316b36b16825 to https://github.com/rust-lang/rust/commit/154f1f544dd68f7b53ff8d9952811e855f4c2d7c
regressed commit: https://github.com/rust-lang/rust/commit/b218b952f800c1160b8b5e764ca651b02d678565

<deta

[2020-11-21 06:21] bobbygebert commented on #79242
If it helps, this crate was exploring some ideas related to the [typenum](https://docs.rs/typenum/1.12.0/typenum/) crate

[2020-11-21 06:46] jnqnfe opened #79254 "[rustdoc, request] Please bundle local relative resources (favicon, logo, whatever)"
For some of my crates I have a favicon and logo within the repo but have to point to them via public links like this:

[code]

What I would love (and have long wanted) is if I could simply refer to the files with a relative path like this...:

[code]

...and `cargo doc` would then bundle them into the set of generated documentation files, such that when viewing the documentation offline locally, t

[2020-11-21 08:01] iago-lito opened #79255 "Incorrect `try` suggestion for casting float literal."
Compiling the following:
[code]
with
[code]
I get
[code]

The suggestion is wrong, since `3._f32` does not compile. The correct suggestion is `3.0_f32`.

[2020-11-21 09:15] chansuke commented on #79240
I'd like to work on this.

@rustbot claim

[2020-11-21 10:44] robinmoussu opened #79258 "Dead link in rustc-nightly documentation"
If you search for [`rustc_middle::ty::relate`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/struct.Const.html?search=rustc_middle%3A%3Aty%3A%3Arelate), you will find a green item `rustc_middle::ty::relate`. That item points to a [dead link](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/type.Ty.html#method.relate).

I have no idea why this link is in the list. I'm

[2020-11-21 11:25] marmeladema commented on #79246
Yes, LTO is enabled for release builds which what is being measured here.

[2020-11-21 11:39] the8472 commented on #79246
If it helps narrowing down which code to test: The changes should only affect code using `into_iter()` on `Vec`, `Box<[]>` or `BinaryHeap` and then `collect`ing into one of those types again, optionally involving some of the iterator adapters from the core crate. Anything else would be unintended.

The primary goal of that PR is to reduce malloc/free traffic by reusing allocations where possible.

[2020-11-21 11:47] the8472 commented on #79246
Small correction, it may also affect some iterators involving `Vec.into_iter()` and `zip` without `collect`ing into one of the above types again.

[2020-11-21 11:50] marmeladema commented on #79246
Ok thanks! That is valuable information. FYI the measured code has some (maybe heavy?) use of `Vec`/`Box<[]>` and iterating/collecting from those but no usage of `BinaryHeap`

[2020-11-21 12:17] davidhewitt opened #79260 "Cannot refer to item inside function from module inside function"
I tried this code (https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8c1861ee7e07799c5897f37f0aa2f849):

[code]

This fails to compile:

[code]

###
`rustc --version --verbose`:
[code]

Also reproduces on current nightly (as of 2020-11-21).

----

I suspect that what's going on is that `use super::*` doesn't actually resolve to the scope inside `fn main`, but instead the surr

[2020-11-21 12:18] davidhewitt commented on #79260
(If the lang team agrees that this code should compile, I'm willing to attempt a patch to fix.)

[2020-11-21 12:22] tmiasko commented on #78628
Yes, this is a duplicate of #77359. The changes from #78147 fixed the validator, so the bug is now correctly identified when incorrect transform is enabled with `-Zunsound-mir-opts`.

[2020-11-21 12:51] tmiasko commented on #42371
The `lifetime.start` marks a stack slot as in-scope, and overwrites it with `undef`, so a direct translation of the example MIR to LLVM would be correct. BTW, StackColoring, which is primary user of lifetime intrinsics, describes the effects of those intrinsics in more detail than the reference.

The MIR now has a `StorageDead` before next iteration of the loop, regardless.

[2020-11-21 13:02] jonas-schievink commented on #79260
Note that fixing this would break this code:

[code]

[2020-11-21 13:11] #79226 closed

[2020-11-21 13:25] davidhewitt commented on #79260
I'm not convinced it should; `bar` is already a valid identifier inside `fn main` and so I would argue `use super::*;` inside `main::foo` should resolve `fn bar` in that case too.

[2020-11-21 13:35] davidhewitt commented on #79260
I can find another example of this which is easy to reproduce and seems like a much more likely case to trigger!

Write a doctest which declares a module inside it:

[code]

This doctest will fail to compile:

[code]

I would guess that the doctest framework wraps the doctest code inside a function, so we see exactly the same issue as in my original report.

[2020-11-21 13:45] davidhewitt commented on #79260
Ah, but I think this variation of @jonas-schievink 's example will break:

[code]

At the moment it always prints `"outer bar"`, but if we fixed my original example this would either be ambiguous or print `"inner bar"`, I asssume.

(We could perhaps make it backwards compatble by letting items outside the function take precedence, and then switch the order to prefer items inside the function on an

[2020-11-21 13:56] jyn514 commented on #79258
Duplicate of https://github.com/rust-lang/rust/issues/78724

[2020-11-21 13:56] #79258 closed

[2020-11-21 13:59] jyn514 commented on #79254
Related: https://github.com/rust-lang/rust/issues/75964, https://github.com/rust-lang/rust/issues/51625

[2020-11-21 14:19] justjosias commented on #70898
It looks like blocks are being "annotated" with "directives" and "attributes", where:
- annotation is adding the directive or attribute,
- directives tell what should be *done* with the block (such as, `ignore`), and
- attributes give the compiler information about the block (such as, `text`, which means it simply represents text the compiler can ignore).

So I don't think much needs to be changed

[2020-11-21 14:31] leonardo-m opened #79265 "[ICE in subst.rs] with missing min_const_generics feature"
[code]

Generates the error message:

[code]

[2020-11-21 14:38] in42 commented on #79153
Is there a test case which will crash the rustc compiler?

[2020-11-21 15:00] tmiasko commented on #79153
Stack overflow (in LLVM):

[code]

[2020-11-21 15:12] Brooooooklyn commented on #33434
I saw the same issue while implementing a NodeJS napi library: https://github.com/napi-rs/napi-rs/issues/297

It can reproduce in https://github.com/napi-rs/package-template

1. checkout `napi-1-pre` branch
2. yarn install
3. yarn build
4. node simple-test.js

You can also see Github actions output from https://github.com/napi-rs/package-template/pull/86

[2020-11-21 15:18] corvinux opened #79268 "I'm getting errors 'error: command failed: 'rust' error: caused by: No such file or directory (os error 2)'"
**cat /proc/cpuinfo**
Processor	: AArch64 Processor rev 4 (aarch64)
processor	: 0
processor	: 1
processor	: 2
processor	: 3
processor	: 4
processor	: 5
Features	: fp asimd evtstrm aes pmull sha1 sha2 crc32 wp half thumb fastmult vfp edsp neon vfpv3 tlsi vfpv4 idiva idivt
CPU implementer	: 0x41
CPU architecture: 8
CPU variant	: 0x0
CPU part	: 0xd03
CPU revision	: 4

Hardware	: Qualcomm Technologies

[2020-11-21 15:43] #77273 closed

[2020-11-21 16:00] hyd-dev commented on #29594
[`core`](https://github.com/rust-lang/rust/blob/539402cb0b0f1639a4be14e40eaf8db61a62ae41/library/core/src/lib.rs#L65), [`alloc`](https://github.com/rust-lang/rust/blob/539402cb0b0f1639a4be14e40eaf8db61a62ae41/library/alloc/src/lib.rs#L73) and [`stdarch`](https://github.com/rust-lang/stdarch/blob/777efaf5644706b36706a7a5c51edb63835e05ca/crates/core_arch/src/lib.rs#L5) have already used `#![allow(in

[2020-11-21 16:09] leonardo-m opened #79269 "[ICE] with min_const_generics and mir-opt-level=2"
[code]

Gives:

[code]

[2020-11-21 16:14] RalfJung commented on #67465
With https://github.com/rust-lang/lang-team/issues/58, it seems like we are moving towards making promotion infallible. I think that means we should also validate promoteds (all of them).

So I take back what I said earlier, where I argued against validating promoteds.

[2020-11-21 16:34] RalfJung commented on #29594
I'd hope there's work happening to get rid of that. :/ I thought since the move to min_specialization, things were better. I guess this is mostly due to const-generics.
At the very least there should be comments explaining why *unsound features* are enabled in the very foundation of Rust... but it seems not everyone agrees on sch a policy, seeing that this code was reviewed and landed. Oh well.

T

[2020-11-21 16:35] jyn514 commented on #79268
This looks like a rustup issue, can you report it on https://github.com/rust-lang/rustup/issues instead?

[2020-11-21 16:54] RalfJung commented on #42371
Would be good to have the LangRef updated then... where can I read more about StackColoring?

Oh, nice! I'll try to see if I can now adjust `StorageLive` to be UB when called on an already-live stack slot.

[2020-11-21 16:57] tmiasko commented on #42371
https://github.com/rust-lang/llvm-project/blob/ee1617457899ef2eb55dcf7ee2758b4340b6533f/llvm/lib/CodeGen/StackColoring.cpp#L160-L177

[2020-11-21 17:00] RalfJung commented on #42371
I love the introduction^^
[code]
Seems like everyone is very sure what these things do... doesn't make me worried about LLVM as the foundation of Rust at all...^^

[2020-11-21 17:18] RalfJung commented on #49147
Here you go: https://github.com/rust-lang/rust/pull/79270

[2020-11-21 17:31] Mayt38 commented on #68371
If we look at the different map and fold methods that exist, we can infer how scan methods should behave and be named.

#### Mapping methods
Regular mapping :
[code]
Filter mapping (F returns an ```Option<B>```. When encountering ```None```, the value is skipped and the mapping goes on):
[code]
While Mapping (F returns an ```Option<B>```. When encountering ```None```, the mapping ends):
[code]
###

[2020-11-21 18:09] #79055 closed

[2020-11-21 18:36] Alexendoo commented on #69487
Original no longer ICEs since #78961

https://github.com/rust-lang/rust/issues/69487#issuecomment-627157837 still ICEs

[2020-11-21 19:08] mydogisbox commented on #68371
@Mayt38 great points!

[2020-11-21 19:23] mark-i-m commented on #54883
So a crater run is queued. I expect it will be ~1 week before we see results... In the meantime, I thought I would write up a quick summary of the remaining unresolved question:

There seem to be 3 options:

1. Change `:pat` to match `top_pat`. AFAICT, this is the option of maximum breakage. We would be adding `|` to the FIRST set of a pattern (leading vert).
    * As joshtriplett says above, if p

[2020-11-21 19:25] RalfJung commented on #42371
Currently this fails to evaluate many constants; I suspect that is related to @oli-obk's https://github.com/rust-lang/rust/pull/78679. I'll try again once that landed.

For future reference, [this is the branch](https://github.com/RalfJung/rust/tree/no-redundant-storage-live).

[2020-11-21 19:29] RalfJung commented on #69297
Status: last time I looked into this, I found some more cases where exceptions are being caught, that are related to handling of pointer provenance and ptr-int casts. I consider this problem blocked on https://github.com/rust-lang/miri/issues/841.

[2020-11-21 20:23] AaronKutch commented on #57189
It looks like this was recently fixed on stable. The error for the first example is now:
[code]
and for the second is
[code]
Fixing the errors and following more compiler errors appropriately fixes the problem. The only other problem I see is that it does not point out which line extends the lifetime, but I don't think it would be fixable in general. The error is much cleaner now.

[2020-11-21 20:24] #57189 closed

[2020-11-21 20:45] leonardo-m commented on #39078
With the latest Nightly the benchmark above can't even be compiled with the specified compiler switches (-Z mir-opt-level=3 fails).

[2020-11-21 20:54] timcryt opened #79277 "Weird error explanation, when returning closures from match"
I tried this code:

[code]

I expected to see this happen: Compilation error with logical explanation.

Instead, this happened: Сompilation error with weird explanation.
[code]

### Meta

The same error message on both stable (1.48.0), beta (1.49.0-beta.1) and nightly (2020-11-20)

[2020-11-21 21:45] lcnr commented on #79265
duplicate of #56445 and related issues

[2020-11-21 21:45] #79265 closed

[2020-11-21 21:51] dtolnay opened #79279 "Inconsistent default display of doc(cfg(...)) on impls of empty traits"
[code]

`cargo doc` renders this as follows. Notice that the blue banner appears for Eq (I guess because the trait is empty) but not for PartialEq. I believe that it should consistently appear for **neither** Eq nor PartialEq, *or* **both** Eq and PartialEq.

<img src="https://user-images.githubusercontent.com/1940490/99888226-f7dc5900-2bff-11eb-9596-2b9d14cab80d.png" width="300">

<br>

Expanding

[2020-11-21 21:53] dtolnay commented on #43781
This is mostly looking good for syn. Filed one bug regarding the rendering of doc cfg on impls of empty traits: #79279.

[2020-11-21 22:15] jyn514 commented on #79277
Duplicate of https://github.com/rust-lang/rust/issues/41078

[2020-11-21 22:15] #79277 closed

[2020-11-21 22:17] Nemo157 commented on #79279
Ohh, the collapse settings are fun; I never noticed this in #78678 because I have `rustdoc-collapse: true` which seems to imply _not_ collapsing the trait implementations. Clearing that setting from local storage, or if it's set to `false` does this; I think it should be possible to make it so that having this block there either ignores collapsing so it shows always, (though this may be inconsiste

[2020-11-21 22:18] felixbuenemann opened #79280 "Cross-compiling from x86_64-apple-darwin to aarch64-apple-darwin on arm64 fails to compile stage1 std artifacts"
When cross-compiling either v1.48 or master@d806d656578 from x86_64 to arm64 on MacBook Air (M1, 2020) running macOS 11.1 Beta (20C5048l) and Xcode 12.3 beta (12C5020f), the compilation fails when trying to build the stage1 std artifacts for stage2:

[code]

[code]

Thousands of similar log lines follow with all the different symbols.

Not sure why it is expecting x86_64 symbols, since the objects

[2020-11-21 22:20] jyn514 commented on #66413
Duplicate of https://github.com/rust-lang/rust/issues/1998 (but I agree that https://github.com/rust-lang/rust/issues/43781 is realistically the only thing that will happen here in the foreseeable future).

[2020-11-21 22:20] #66413 closed

[2020-11-21 22:22] Nemo157 commented on #79279
(Something else to check at the same time: what happens with JS disabled)

[2020-11-21 22:22] GuillaumeGomez commented on #79279
Nothing is collapsed when JS is disabled. :)

I'll take a look tomorrow.

[2020-11-21 22:26] Nemo157 commented on #79279
The `[+] Show hidden undocumented items` toggle, and the items it toggles, are hidden when JS is disabled.

[2020-11-21 22:46] #78777 closed

[2020-11-21 22:46] #79137 closed

[2020-11-21 22:46] #79269 closed

[2020-11-21 22:56] camelid opened #79281 "Somewhat confusing lifetime error"
This code (which comes from a rustup PR I'm working on -- rust-lang/rustup#2540) produces a somewhat confusing lifetime error:

[code]

Errors:

[code]

But isn't the "...but data from" error supposed to point to the *code* that returns data from `pattern`, not the return type annotation?

[2020-11-21 22:58] camelid commented on #79280
@felixbuenemann Hmm, why are you running `make` and not `x.py`? Can you share the Makefile you are running?

[2020-11-21 23:04] camelid commented on #79281
Here's a fairly minimal repro (I don't think `glob` is the problem, but this was an easy way to trigger the error):

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=45dde81dbb698e590e94d923946fd5f6))

Errors:

[code]

[2020-11-21 23:14] felixbuenemann commented on #79280
I'm using the default `Makefile` that got generated from running:

[code]

I am inside a build of the rust Hombre formula that has been modified to add the cross-compile configure arguments, but the same happened in a manual build with a checkout on master.

Here are the contents:

[code]

[2020-11-21 23:25] exrok opened #79282 "Regression: opt-level > 1 breaks some wasm-bindgen with rust 1.48 but not 1.47"
Edit: environment variable `RUSTFLAGS="-C target-cpu=native"` caused issue, which when I used 1.47 didn't get applied.

When a program is compiled with opt-level > 1 ({'z', 's', 2 ,3}), `wasm-bindgen` fails with an error on the produced binary. This seems like an unexpected regression especially since opt-level <= 1 ({'0','1'}) are unaffected. Rust 1.47 does not have this issue.

See https://githu

[2020-11-21 23:57] camelid opened #79283 "rustdoc: Derived trait impl shows lifetime as `'__a`"
I saw this in the [rustc rmeta API docs](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_metadata/rmeta/struct.CrateRoot.html#trait-implementations):

![image](https://user-images.githubusercontent.com/37223377/99890193-98874480-2c11-11eb-824f-ff567354f1cc.png)

I'm guessing this is caused by somewhere here?

[code]

[2020-11-22 00:13] Nadrieril commented on #55123
The second issue got fixed in https://github.com/rust-lang/rust/pull/78995. I'm wondering about the first one: is matching on an empty enum very different from getting a value of an empty type as input? My hunch would be that if we lint any code after `match x {}` to be unreachable, why not lint the whole function body after `fn foo(x: Void)` as unreachable? Is there a particular reason that eithe

[2020-11-22 00:18] yoshuawuyts commented on #71983
I think that's a great idea, and we should file follow-up issues to implement those.

[2020-11-22 00:20] felixbuenemann commented on #79280
@camelid I was able to get past the error by running `arch -x86_64 make`, so all the build tools run in Rosetta 2 emulation.

[2020-11-22 00:40] felixbuenemann commented on #79280
I'm not sure if this is a user error or a build system error.

[2020-11-22 00:56] felixbuenemann commented on #79280
Related to #73908.

[2020-11-22 01:14] jyn514 commented on #79283
I don't think this is a bug, this is the actual lifetime being generated by the macro.

[2020-11-22 01:20] camelid commented on #79283
Ah, I think you're right :)

[2020-11-22 01:20] #79283 closed

[2020-11-22 01:22] camelid commented on #79282
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379282.20Regression.3A.20opt-level.20.3E.201.20breaks.20some.20w.E2.80.A6) in the prioritization working group.

[2020-11-22 01:36] clarfonthey commented on #72599
Has there been any discussion of adding a `Total` wrapper like `Wrapping` for integers?

[2020-11-22 02:03] nagisa commented on #79206
Not really, no. We won't be risking a backport for a new feature either.

[2020-11-22 02:03] #79206 closed

[2020-11-22 03:36] #78750 closed

[2020-11-22 04:01] clarfonthey opened #79288 "Tracking issue: fNN::is_subnormal"
The feature gate for the issue is `#![feature(is_subnormal)]`.

### Implementation history
- [x] Initial implementation: #76941
- [x] FCP
- [ ] Stabilization PR

### Unresolved Questions
None currently.

[2020-11-22 05:01] nico-abram commented on #66151
It's been about a year since this issue was created. Has enough time passed that PRs adding the check for arrays and enums would be merged?

[2020-11-22 06:14] Havvy commented on #73494
Is the compiler team okay with PRs that move tests into subdirectories?

[2020-11-22 07:34] Evian-Zhang opened #79289 "Rustdoc generate wrong doc for declarative macro generated by derive macro."
First, write a derive macro which generates a declarative macro:

[code]

Then in another crate, import this derive macro and use it:

[code]

Then use

[code]

to generate the docs.

The doc for `my_generated_macro` **should** be

[code]

But instead, it turns out

[code]

This is very confusing, since the parameters of the generated declarative macro are all missing, and instead is name of the d

[2020-11-22 08:34] Havvy commented on #79260
I am against changing the meaning of `super`.

I also wouldn't call this a bug. Everything is working as it originally is intended to. `super` refers to the parent module, not the parent item scope. Functions allow defining items that are local to the function and a module is non-local, even if it's declared inside the function.

IMO, if you need a module, just like if you need an impl, it should

[2020-11-22 10:19] RalfJung commented on #66151
We *just* landed this check for structs and tuples on the stable branch with Rust 1.48. The fallout from that is still rippling through the ecosystem, e.g. [here](https://github.com/zslayton/lifeguard/issues/25#issuecomment-730316210). So I feel we should wait a bit before retching this up another level.

@nico-abram would you be interested in preparing such a change for arrays and seeing it throu

[2020-11-22 10:52] nico-abram commented on #66151
Yes! I can, assuming there is no set timeline required

If I understand correctly, the change would be replacing [this comment](https://github.com/rust-lang/rust/blob/38030ffb4e735b26260848b744c0910a5641e1db/compiler/rustc_target/src/abi/mod.rs#L1166) with a similar check to the `FieldsShape::Arbitrary` one but hardcoded for index 0, and an or check for `FieldsShape::Array { count, .. }` count ==

[2020-11-22 11:09] RalfJung commented on #66151
No timeline required. :) Thanks!

Yes, that sounds right: first determine if the array has at least one element, then check the layout of the element type.

The [`Array` variant](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_target/abi/enum.FieldsShape.html#variant.Array) has a `count` field for the element count, as you noted.

Exactly. The PR should also extend the test "src/test/ui/intr

[2020-11-22 11:21] RalfJung commented on #70922
@yoshuawuyts why is "Stabilization PR" checked above? There doesn't seem to actually be a stabilization PR yet?

[2020-11-22 11:23] RalfJung commented on #79249
That might be related to https://github.com/rust-lang/rust/issues/74709.

[2020-11-22 11:29] RalfJung commented on #78814
My two cents: In the past we landed clippy-fix PRs that IMO didn't really help or even reduced readability, such as replacing `format!("...")` by `"...".to_owned()` (which removed symmetry from the code just because some branches have formatting arguments and some do not).  So it might be worth to talk to some stakeholders before attempting to fix style-only lints across the codebase.

For issues

[2020-11-22 11:33] RalfJung commented on #78749
FWIW, the interesting thing to track here would be ptr ID 5348, not the alloc ID.

[2020-11-22 11:35] RalfJung commented on #78820
Indeed. And that issue is, at least according to @eddyb, blocked on https://github.com/rust-lang/rust/issues/56166. I do not have a good understanding of what it takes to fix this, more research is needed here.

[2020-11-22 11:35] #78820 closed

[2020-11-22 11:35] GuillaumeGomez commented on #79279
Hum... I suppose it's a new issue then. Something to add in `noscript.css`.

[2020-11-22 11:36] RalfJung commented on #79118
Another fix might be to remove the compat layer, at least for locks -- which is possible once support for Windows XP is dropped (something that is discussed very now and then, and just recently came up on Zulip again I think).

[2020-11-22 12:27] ThomasCassimon commented on #76930
I would just like to add that this doesn't just happen in Linux/WSL2,
I get the same issue when building the blink example on Windows:

[code]

[code]

[2020-11-22 12:29] corvinux commented on #79268
Hi,
@jyn514  I've also reported it on rust-lang/rustup.

[2020-11-22 13:01] yoshuawuyts commented on #70922
@RalfJung ah, my bad. I checked it yesterday as I was about to file a stabilization PR — right before realizing it was in fact not ready. I forgot to uncheck it.

Fixed now tho!

[2020-11-22 13:15] lcnr commented on #73899
With `feature(const_evaluatable_checked)` this test is now working as expected.

Marking as `E-needs-test`.

[2020-11-22 13:27] jyn514 commented on #79268
Thanks, I'll close this in favor of https://github.com/rust-lang/rustup/issues/2565.

[2020-11-22 13:27] #79268 closed

[2020-11-22 13:46] est31 commented on #73899
@lcnr if I try this:

[code]

I get this error:
[code]

Using the nightly from playground `1.50.0-nightly (2020-11-21 da384694807172f0ca40)`

[2020-11-22 13:47] varkor commented on #55123
I agree that these are essentially the same issue. I actually submitted a PR a couple of years ago to address this, by making the uninhabitedness checking more eager (see #47291), but parts of it were split out to err on the side of being more conservative. I can't quite remember the status: probably in order to make these changes, there would need to be a discussion into how eagerly one wants to

[2020-11-22 13:49] lcnr commented on #73899
you need full `const_generics` for this, we should probably add a note here which recommends using `feature(const_generics)` and `feature(const_evaluatable_checked)` here.

[2020-11-22 13:50] GuillaumeGomez opened #79301 "Rustdoc impl items shouldn't be hidden when JS is disabled"
As reported in this [comment](https://github.com/rust-lang/rust/issues/79279#issuecomment-731645971), nothing should be hidden when JS is disabled.

[2020-11-22 13:50] est31 commented on #73899
@lcnr alright that works. I'll file a PR

[2020-11-22 14:30] marmeladema commented on #79246
I continued my investigation and did a `perf diff` between two run of the crate comparing stable 1.47.0 to 1.48.0:

* with rust 1.47.0, most of the time is spent in:
[code]

* whereas with rust 1.48.0, most of the time is spent in:
[code]

This led me to focus on the `bitvec` crate itself and more especially the `BitVec::extend` method which seems to be the one being severely impacted by the regre

[2020-11-22 14:52] Kestrer opened #79303 "Specify layout of `Cell` and `UnsafeCell`"
Currently, `Cell<T>` and `UnsafeCell<T>` are both `#[repr(transparent)]`. However, it is unclear whether this is stable or just an implementation detail. This [line in the implementation of UnsafeCell](https://github.com/rust-lang/rust/blob/master/library/core/src/cell.rs#L1713-L1714) notes that "there is no guarantee for user code that this [casting a `*const UnsafeCell<T>` to `*mut T`] will work

[2020-11-22 14:54] davidtwco commented on #78543
I looked into this briefly today, as per @estebank's Twitter thread, this line seems to the culprit:

https://github.com/rust-lang/rust/blob/5d5ff84130da0d74c6ece368dbe821d8f83fa526/compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs#L1371-L1374

Removing that results in an ICE because we cannot get the typeck results for the other crate - I've got to assume that adding typeck

[2020-11-22 15:04] kpcyrd opened #79304 "Regression: this `#[deprecated]` annotation has no effect"
### Code

I tried this code:

[code]

This code currently compiles on stable rust, but stops working on nightly and beta. The example code is a reduced case from [sodiumoxide](https://github.com/sodiumoxide/sodiumoxide) which is currently broken on nightly and beta.

[code]

[code]

### Version it worked on

It most recently worked on: 1.48.0

### Version with regression

`rustc --version --verbos

[2020-11-22 15:08] jonas-schievink commented on #79304
I believe this is intended behavior added in https://github.com/rust-lang/rust/pull/78626. It shouldn't cause any issues when using sodiumoxide as a dependency, since all lints are silenced in that case.

cc @m-ou-se

[2020-11-22 15:12] varkor opened #79305 "`x.py check` doesn't check `compiler/rustc_query_system` or `library/core/tests`"
I had compilation errors in these two modules, but `x.py check` succeeded (discovered when creating https://github.com/rust-lang/rust/pull/79299).

[2020-11-22 15:12] varkor commented on #64260
I've opened a stabilisation PR for `then`: https://github.com/rust-lang/rust/pull/79299.

[2020-11-22 15:15] petrochenkov commented on #79304
If `#[deprecated]` is displayed by rustdoc, then https://github.com/rust-lang/rust/pull/78626 is a regression.
Even if stability attributes are not checked on impls now (but they may be checked in the future), they are still useful as documentation.

[2020-11-22 15:17] steffahn commented on #79303
@rustbot modify labels to T-doc, T-lang, C-enhancement.

Also, here’s the link to [the relevant URLO discussion](https://users.rust-lang.org/t/interior-mutable-sliceable-boxed-slice/51785).

[2020-11-22 15:20] Nadrieril opened #79307 "Missing "unreachable pattern" warning on char ranges"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b896532d569bb349a8be86d21ab80231)):

[code]

The first pattern by itself is exhaustive, because it covers all the valid chars. The second pattern looks like it includes more chars than the first, but it doesn't, because those extra chars are all invalid. So the second pattern should be marked un

[2020-11-22 15:25] jyn514 commented on #79304
This should be a warning, not an error I think.

[2020-11-22 15:33] jyn514 commented on #79304
@petrochenkov `deprecated` is not shown by rustdoc on impls:
![image](https://user-images.githubusercontent.com/23638587/99908035-1bf67380-2cae-11eb-8433-2b46c15aace0.png)

So the attribute does have no effect.

[2020-11-22 15:33] the8472 opened #79308 "Loop without side-effect is not eliminated. Leads to O(n) instead of O(1) runtime"
Adding the follow method as part of a benchmark to library/alloc/benches/vec.rs

[code]

which exercises [this specialization in Vec](https://github.com/rust-lang/rust/blob/5d5ff84130da0d74c6ece368dbe821d8f83fa526/library/alloc/src/vec.rs#L2451-L2497)

results in the following assembly (extracted with objdump):

[code]

The ghidra decompile for the same function (comments are mine):

[code]

Note

[2020-11-22 15:39] #78749 closed

[2020-11-22 15:48] Nadrieril commented on #56379
Couldn't find an example with missing integer ranges like the one mentioned in the OP; I suspect we've fixed those. Here's a different one ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6d51af7602cc33d5b0de0b3ca47f6bb6)):
[code]
This only errors about `A(false)` not being covered.

Also I'm adding my favorite label so I can find this later.
@rustbot modify labels:

[2020-11-22 16:27] in42 commented on #79153
So, I built the `rustc` stage1 compiler and reproduced the above llvm stack overflow using `rustc +stage1 -g -Aunused a.rs`.

However, when trying to check if `llc` emits a backtrace when called separately, I emitted llvm IR using `build/x86_64-unknown-linux-gnu/stage1/bin/rustc -Aunused -g a.rs --emit llvm-ir`. Then I called llc using `llc a.ll`, but now it did not crash.

Where in the `rustc` co

[2020-11-22 16:30] petrochenkov commented on #79260
We probably need some way to refer to block-that-are-parent-of-modules, but `super` is not that way.
`super` has a well-defined meaning - parent mod, similarly to how `self` is the current module and not current block or something.

Besides being a breaking change, path resolving to an unnamed block is some new possibility that will cause a number of subsequent issues.
What would happen here, for

[2020-11-22 16:32] petrochenkov commented on #79260
My preferred solution to this issue is probably `#[transparent] mod foo { ... }` that prevent the module from introducing a "name barrier".
It's something that is more useful in various situations, and fits more naturally into the existing system.

[2020-11-22 16:39] sfackler commented on #79303
From a libs perspective, a `#[repr(transparent)]` annotation on a public type is a stable guarantee. I think that warning has more to due with the unsafe code guidelines decisions around what exactly is UB or not in relation to the "specialness" of `UnsafeCell` than just if the type is transparent.

[2020-11-22 16:53] davidhewitt commented on #79260
`#[transparent]` attribute is a very compelling proposal 👍. It would be a shame that it would be needed in some doctest examples. Still great as a 100% backwards-compatible opt-in design.

I wrote a PR to experiment with what I proposed above (https://github.com/rust-lang/rust/pull/79309) - I've added an alternatives section with `#[transparent]`.

[2020-11-22 17:07] nico-abram commented on #56190
How? Making a raw pointer is safe: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6beb0e3e63565a4034d51cc342476bee

[code]

[2020-11-22 17:16] RalfJung commented on #56190
As I said above, it is unclear whether your example code has UB or not. If you run your code in Miri, you can see that it is currently not considered UB.

My current stanza on validity of references is that `&!` should indeed be uninhabited, which would make this code UB, and then it would be good to have a stronger warning. But I view this as a special case among references. See https://github.co

[2020-11-22 17:47] nico-abram commented on #56190
Oh, yes. I'm sorry, I wanted to say I don't think the pointer parameter case was unreachable, regardless of whether or not it is UB, unlike the reference case, which already requires an instance of a reference to an uninhabited type (So it can be considered unreachable if such a reference were uninhabited AFAIK), and not sure if I was misunderstanding something. Reading back I think by `the same i

[2020-11-22 17:58] leonardo-m commented on #79307
Are such intervals ever going to change in the UNICODE world?

[2020-11-22 18:02] #79279 closed

[2020-11-22 18:02] #73899 closed

[2020-11-22 18:10] Mark-Simulacrum commented on #79305
Hm, the tests are not checked because that's what happens in... any cargo check. You need to pass `--all-targets` for tests (including cfg(test) in the crate itself) to get checked, the same is true of x.py check.

The error in rustc_query_system came from cfg(parallel_compiler) code, which was not checked because you don't enable that locally.

I believe both of these are won't fix (or at least n

[2020-11-22 18:10] #79305 closed

[2020-11-22 18:21] varkor commented on #79305
Okay, thanks for clarifying. That does seem reasonable.

[2020-11-22 18:21] RalfJung commented on #56190
TBH, I am not entirely sure any more what I meant more than a year ago. ;)

[2020-11-22 18:41] Nadrieril commented on #79307
Hm, good question, I have no idea. But they are already hardcoded in the compiler since the following is exhaustive:
[code]
So this issue is more about making the two consistent. If unicode changes it would change the above too.

[2020-11-22 18:45] marmeladema commented on #79246
I managed to manually bisect rustc and it *seems* the `bitvec` regression has been introduced by commit https://github.com/rust-lang/rust/commit/1d22f75c9f75cad2e408a145861904898ac982dd which corresponds to the merge of https://github.com/rust-lang/rust/pull/76030

[2020-11-22 19:05] jonas-schievink commented on #59133
Isn't this just https://github.com/rust-lang/rust/issues/67792 / rust-lang/rfcs#2632?

[2020-11-22 19:41] aldanor commented on #74261
Encountered a seemingly related ICE as well :(

[code]

resulting in

[code]

[2020-11-22 19:54] marmeladema commented on #79246
I can confirm that reverting #76030:
<details>
<summary>patch</summary>

[code]
</details>

fixes the regression.

I am not sure what to do from there.

cc @eddyb @davidtwco

[2020-11-22 19:57] camelid commented on #79304
Should this be closed as intended behavior then?

[2020-11-22 20:07] shepmaster opened #79316 "Incremental compilation does not account for changes to -Zpolonius"
I tried this code:

[code]

I expected this to fail when not compiled with `-Zpolonius`, but it *does* compile if we *previously* built with `-Zpolonius`:

[code]

If I disable incremental compilation, this does not occur:

[code]

[code]

### Meta

[code]

[2020-11-22 20:17] jonas-schievink commented on #79316
This needs to be changed to `TRACKED`:

https://github.com/rust-lang/rust/blob/52e3cf13aa9716f6648b1cad286ccd8d37aa315f/compiler/rustc_session/src/options.rs#L1011-L1012

[2020-11-22 20:24] timleg002 commented on #69350
How should I go to avoid this error?

[2020-11-22 20:31] camelid commented on #79251
@simon-auch What command are you running? I tried this code [in the Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ba94298d01a9684960d5954d06454e11), but I encountered an error that `SmallVec` doesn't have a `push` method.

### Code

[code]

### Errors

[code]

[2020-11-22 20:34] Badel2 commented on #79282
I have a similar issue but I'm using a completely different toolchain (stdweb instead of wasm-bindgen). In 1.48 everything works fine, I can compile my code to wasm and execute it in a browser. In 1.49 I can compile it, but when running it says "unreachable executed". Compiling in debug mode fixes the error. I tried to debug it and it looks like a panic while serializing something into a `Serializ

[2020-11-22 20:36] camelid commented on #78632
@rustbot glacier "https://gist.github.com/0aacfa288b7a21ddca0b283d89802ca3"

[2020-11-22 20:37] camelid commented on #78632
@rustbot glacier "https://gist.github.com/rust-play/0aacfa288b7a21ddca0b283d89802ca3"

[2020-11-22 20:55] simon-auch commented on #79251
how strange, for me `cargo build` just causes the ice and it doesn't even come to notice that the function is missing.

[2020-11-22 20:56] Mark-Simulacrum commented on #79282
It looks like SerializedValue is a struct:

[code]

I am not sure what our rules for repr(u8) enums are in terms of initialization, but I suspect that we consider them still not valid to be uninit. cc @RalfJung

[2020-11-22 21:01] kornelski commented on #69350
This error in practice means references are forbidden, so don't use references. Usually you'll want to use `Arc` or some other self-contained type like `String` (not `&str`), or `Vec` (not `&[]`).

Please ask questions on https://users.rust-lang.org/

[2020-11-22 21:22] aldanor commented on #74261
Wrapping a closure in a struct seems to work as a hack/workaround, see [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=954446c9c1d7e19491980d88f76b0282) for a fixed version of the above example.

Would still be nice if the hrtb issue was fixed though, of course...

[2020-11-22 21:32] aldanor commented on #74261
(Updated the link from the previously posted comment)

One way to work around the ICE - wrapping closures in structs: [example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=db8f3449079d19005b069ba66735f89e) that seems to avoid the ICE in the above snippet.

[2020-11-22 21:40] jagill commented on #68125
I'd like to officially push for stabilization.  This feature is useful and available in many other languages, and the implementation is simple and non-controversial.  The only debate so far is the name.  I'll list the primary contenders for the name and the pros/cons I've read for each:

## `fold_first`
The current name.

### Pros:
1. It is the existing name that won't break anything.
2. It is sim

[2020-11-22 21:55] the8472 commented on #79303
What does that tell a user though though? Its field is not part of the public API thus one can't know in relation to what it is transparent. In other words there could in theory be yet another wrapper inside and the `repr(transparent)` only gives us the wrapper's ABI and not T's.

[2020-11-22 22:10] fleabitdev opened #79320 "Documentation for mem::forget implies that it may invalidate raw pointers to heap allocations"
The doc comment for `mem::forget` currently reads:

The second sentence was introduced in #53503, with this rationale:

In other words, it's intended to be a warning about these two footguns:

[code]

To me, the current language is too broad. It implies that heap allocations owned by a value passed to `mem::forget` may be invalidated. For example, it implies that the following code is unsound:

[c

[2020-11-22 22:10] tkaitchuck commented on #31844
Currently specialization interacts strangely with deref coercion. It appears that a type will be automatically dereferenced as many times a needed, but never for specialization.

To highlight why this is the problem consider a trait `Foo` which is implemented for several types including `[u8]`.
To add a fast path for some method that takes a `Foo` for the case where it happens to be a `[u8]` is si

[2020-11-22 23:09] exrok commented on #79282
If figured out partially what is cause the problem, I had `RUSTFLAGS="-C target-cpu=native"`
which obviously could cause issues, somewhere on both my test machines and my friend machines. Strangely, this never caused a problem before.

I don't know if I should close issue?

[2020-11-22 23:20] RalfJung commented on #66151
Here's a good testcase for an enum that we should detect is UB for `mem::uninitialized`: https://github.com/rust-lang/rust/issues/79282#issuecomment-731845834.

[2020-11-22 23:20] RalfJung commented on #79282
`mem::uninitialized` of `Tag` is definitely UB, yes.

[2020-11-22 23:34] joshtriplett commented on #54883
On Sat, Nov 21, 2020 at 11:23:28AM -0800, Who? Me?! wrote:

One more option would be to go for option 1 if we can do that transition
smoothly, and if not, go for option 1 in Rust 2021 and option 3 in Rust
2018/2015.

[2020-11-23 01:00] camelid commented on #79242
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379242.20Rustc.20hangs.20on.20recursive.20macro.20expansio.E2.80.A6) in the prioritization working group.

[2020-11-23 01:09] Mark-Simulacrum commented on #79282
Closing as working as expected / won't fix, in that case.

[2020-11-23 01:09] #79282 closed

[2020-11-23 01:23] camelid commented on #79282
Note: I believe this is the warning that RalfJung was referring to:

[code]

[2020-11-23 01:35] Badel2 commented on #79282
Correct, there is a warning "the type `SerializedValue` does not permit being left uninitialized". I didn't see it at first because that warning originates in an external dependency. You can use `cargo build -vv` to show all the warnings of all the dependencies, I used that to compile the original OP example and didn't see any warnings. So most probably my issue is different from OP's issue.

[2020-11-23 03:02] Havvy opened #79334 "x.py test specific directory requires platform specific path separator"
On Windows, I tried this code:

[code]

I expected to execute the file and give back a test result. Instead, it found zero results.

After an hour of flailing, I tired:

[code]

And to my (pleasant) surprised, it found the file.

Ideally, it shouldn't matter which path separator is used at any point.

[2020-11-23 03:15] RustyYato commented on #31844
One minor technicality: `str` doesn't deref to `[u8]`, yes `&str` trivially converted to `&[u8]`, but no `Deref` impl. That said, trying deref exhaustively would make it nicer in some cases, but you still need those extra impls in the generic case where specialization is really useful. One more point of consideration is that exhaustive defer coercions will noticeably negatively impact compiler per

[2020-11-23 04:30] Aaron1011 commented on #79242
This is caused by some of the extra logic I added in https://github.com/rust-lang/rust/pull/77153 to ensure that we don't throw out the captured `TokenStream` unnecessarily.

I'm looking into improving the performance. In the longer term, this will be solved by getting rid of the pretty-print/retokenize hack entirely.

[2020-11-23 07:41] octave99 commented on #77094
I can confirm that 1.48.0 release solved this issue for me. Thank you.

[2020-11-23 07:53] #77094 closed

[2020-11-23 07:56] eddyb commented on #79246
Ugh, choice of names shouldn't cause perf changes. At a glance, this looks like a LLVM bug.

I was going to suggest testing with `-Z fewer-names=off`, but that doesn't actually do anything (the lack of `--emit=llvm-ir` means it's forced to "fewer names", we should maybe fix that).
And you tested the revert *anyway*, so that's confirmation enough.

@marmeladema if you have the time, one thing you c

[2020-11-23 07:57] WaffleLapkin commented on #68125
Personally, I'm against `try_fold_first`:
- `try_` commonly corresponds to `Result` or `T: Try`, seeing it with `Option` is weird and confusing
- It's not an error actually, it's just an absence of value
- Similar function don't have `try_` prefix, e.g.: [`find`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.find), [`position`](https://doc.rust-lang.org/std/iter/trait.Iterator.html

[2020-11-23 08:05] jhpratt commented on #43781
One situation where it would be nice to have doc_cfg but doesn't currently seem to be feasible is on derive-generated implementations. Even if the provider of the derive wanted to, they'd have to manually accept an equivalent attribute to doc_cfg, only to pass it on.

Not something worth holding up stabilization over, but just something I noticed when adding in more attributes in some of my code.

[2020-11-23 09:23] harrysarson commented on #31844
It is already true today on stable that you can accidentally use a slow (unspecialised) trait impl because of extra refences. There is a clippy link for it: https://rust-lang.github.io/rust-clippy/master/#inefficient_to_string

[2020-11-23 12:58] jplatte commented on #44095
Stabilized in #77872, I think this can be closed.

[2020-11-23 13:19] gilescope commented on #78286
Yes I think best close this - thanks very much for the fix.

[2020-11-23 13:19] #78286 closed

[2020-11-23 13:47] rossmacarthur commented on #68125
Something like `fold_with_first` is clearer as to the semantics of the function.

[2020-11-23 13:50] #44095 closed

[2020-11-23 14:29] shepmaster commented on #79280
In general, we actively test cross-compiling from x86_64 to aarch64 because [that's what the current CI does](https://github.com/rust-lang/rust/blob/068320b39e3e4839d832b3aa71fa910ba170673b/src/ci/github-actions/ci.yml#L464-L493). Perhaps you can compare what you do vs what we do.

I wouldn't expect 1.48 to work, but beta and nightly should be fine.

[2020-11-23 14:33] shepmaster commented on #79280
However, there are [issues with macOS](https://github.com/shepmaster/rust/blob/silicon/silicon/README.md#porting-notes) about running the compiler tools in Rosetta2 and code signing:

- [Why does my native arm64 application built using an x86_64 build system fail to be code signed unless I remove the previous executable?](https://stackoverflow.com/q/64830671/155423)

One solution I've used is to o

[2020-11-23 14:59] Busy-Bob opened #79348 "error: internal compiler error"
### Code

[code]

[code]
I find that if `#![feature(const_generics, const_evaluatable_checked)]` is in front of fn main(), the code can run correctly.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-23 15:30] haraldh opened #79350 ""rustc" received signal SIGSEGV, Segmentation fault."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

`gdb`
[code]

</p>
</details>

[2020-11-23 15:39] ehuss commented on #64291
@pnkfelix I'm not too familiar with how incremental works, but the files are of the form: `target/debug/incremental/cargo-15l3bj1wk5kkj/s-ftbw7tdi60-872ygq-10c9jr4cx1rwy/2y4saqot8nvtvbxb.o`.

I just checked, and it looks like `rustc` is hard-linking fewer files than it used to.  For Cargo's library, in the latest 1.50 nightly, it hard-links about 259 `.o` files (3 times).  In 1.37 (when this issue

[2020-11-23 15:42] haraldh commented on #73661
Ok, it was this:
https://github.com/enarx/enarx-keepldr/blob/7eaf311424e6703a62bdd282baf6ac548a256006/internal/shim-sev/src/usermode.rs#L14

The `#[naked]` was wrong anyway, but was causing the segfault.

[2020-11-23 15:43] haraldh commented on #79350
It was this `#[naked]` (which was wrong anyway):

https://github.com/enarx/enarx-keepldr/blob/7eaf311424e6703a62bdd282baf6ac548a256006/internal/shim-sev/src/usermode.rs#L14

[2020-11-23 16:22] felixbuenemann commented on #79280
Thanks for the tips.

I retried yesterday and am getting the same symbol error again on 1.48.0, haven't yet looked into what exactly did fix it initially.

I will report back if I have news.

Since I already have a successful 1.48.0 binary installed, is there a way to use it as a bootstrap compiler so I don't need to cross-compile?

[2020-11-23 16:38] ogoffart opened #79352 "Suggest that a method exist with a different self type"
Consider this code:

[code]

As of Rust 1.48 we get the following (expected) error (and the same error is in nightly)

[code]

Ideally, it would be great if the method exist with a different self type, the compiler would tell us that this method exist

Suggestion:
[code]

Even better would be if the compiler would know how to hint to use `Pin::as_ref()` in this case to fix the error. (A bit simila

[2020-11-23 18:05] lcnr opened #79356 "cycle errors for unevaluated constants in the param env"
[code]
ends up failing with
[code]
The cycle happens while typechecking the outer array length. This happens because `Foo<[u8; 3 + 4]>` requires `[u8; 3 + 4]` to be well formed. While trying to fulfill this we see the `[u8; ...]: Sized` bound in the param_env and try to unify these two. This causes us to evaluate both constants which once again relies on typechecking it.

[2020-11-23 18:16] ritobanrc opened #79357 "Compiler suggesting unstable or-pattern in for loop"
When forgetting to include parenthesis around a tuple pattern in a for loop, the compiler gives a suggestion to use an or pattern. I would expect this, a. because it's not what most would expect if you use a comma to separate two values in a pattern, and b. because or patterns in for loops are still an unstable feature.

I tried this code:

[code]
As expected, the compiler gives an `unexpected `,`

[2020-11-23 19:01] #77454 closed

[2020-11-23 19:26] nico-abram commented on #79357
I would like to work on this, if possible

Would it just be gating [this suggestion](https://github.com/rust-lang/rust/blob/40624dde6cdfad2576b4d795c97583188a814884/compiler/rustc_parse/src/parser/pat.rs#L218-L223) on `self.sess.gated_spans.is_ungated(sym::or_patterns)` like [here](https://github.com/rust-lang/rust/blob/40624dde6cdfad2576b4d795c97583188a814884/compiler/rustc_parse/src/parser/pat.r

[2020-11-23 19:33] the8472 commented on #79308
It looks like this can be solved with more ~dakka~ passes.

On godbolt it can be made loop-free by adding `-C passes="loop-deletion dce loop-deletion"`
[godbolt link](https://rust.godbolt.org/z/c3WYdj)

[code]

And branchless with `-C passes="loop-deletion dce loop-deletion simplifycfg instcombine simplifycfg"`
[godbolt link](https://rust.godbolt.org/z/s1jajf)

[code]

Using `opt-level=3` as start

[2020-11-23 19:39] jyn514 commented on #79357
@nico-abram that seems like the right approach :)

[2020-11-23 19:47] nico-abram commented on #79357
@rustbot  claim

[2020-11-23 19:52] heav-4 opened #79359 "Fn is assumed when reference is passed as Pattern"
Sorry, I don't exactly understand why this happened, so I can't provide much more detail.
[code]
The correct solution to fix this was to change `|c|` to `|&c|`, however the error message did not indicate what was wrong at all.
Please inform me if I need to change the format of this issue.

[2020-11-23 19:56] Plecra commented on #79359
Here's a full version of the error

[code]

I'm not sure how this could be improved. The error contains the full explanation of why this trait bound was tested, and the fundamental problem of `Pattern<_>` being missing is included in the last note.

This behaviour (of attempting to follow generic implementations) is often very useful, and I definitely wouldn't want it to be removed entirely

[2020-11-23 20:11] SNCPlay42 commented on #79352
Duplicate of #57994

[2020-11-23 20:19] nico-abram commented on #79357
Looking at this more closely I'm not sure the fix is that simple, since [some top level or patterns are stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9fae3f8136748b0b78f318fe498ad33f) and [the suggestion is correct (And given) for those](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c31c1ab7f319597ed925a3b0c891957d)

[The nested case](htt

[2020-11-23 20:22] alexcrichton opened #79361 "Tracking issue for `-Zrun-dsymutil`"
This is a (belatedly-opened) issue with the intention of tracking the `-Zrun-dsymutil` flag to the compiler. This flag was implemented long ago in https://github.com/rust-lang/rust/pull/47784 and the intention is to prevent rustc from automatically running `dsymutil` on macOS, which it automatically does today for builds with debuginfo. The purpose for doing this is that `dsymutil` is a pretty slo

[2020-11-23 20:25] the8472 commented on #79308
Surprisingly targeting a current CPU results in only one extra pass needed to achieve the loop-free result:
`-O -Ctarget-cpu=znver2 -C passes="loop-deletion"`
[godbolt link](https://rust.godbolt.org/z/ve1cn5)

[2020-11-23 20:27] alexcrichton commented on #79361
It's also worth pointing out that this was spawned from the long-ago feature request of https://github.com/rust-lang/rust/issues/47240

[2020-11-23 20:28] nico-abram commented on #79357
Looking at usages of GateOr::{Yes, No}, it looks like the only top level things (Which are the only ones that give the suggestion AIUI) that are GateOr::Yes are local variable declaration patterns and for patterns

[2020-11-23 22:04] camelid commented on #79359
@heav-4

In general it is helpful if you provide source code; preferably a minimized example.

[2020-11-23 22:08] camelid commented on #79359
Here's a full repro:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9d2fcef132597f8c0c7368d612429f14))

Errors:

[code]

-----

I also find this error confusing (primarily since it says that `char` is not a closure, which is not the actual problem), but also am not sure of a good way to improve it.

[2020-11-23 22:24] SNCPlay42 commented on #79359
I think the reasoning could be more easily understood if it was displayed "the other way up":

[code]

[2020-11-23 22:26] marmeladema commented on #79246
I have managed to isolate the precise name that needs to be generatee to not cause the performance regression:
* `bitvec::prelude::BitVec` (exactly)

[2020-11-23 23:26] marmeladema commented on #79246
I have tried to decompile `BitVec::extend` with ghidra but it's the first time i've used that tool and I am not really sure of what I did, nor if it's really useful :smile: The only difference I can see in the decompiled code is an additional endless loop when unwrapping the `Option<bool>`:

[code]

Does that help at all, or am I not looking in the right place?

[2020-11-23 23:58] the8472 commented on #79246
Are you sure you're looking at the right method? Previously said most of the time is spent in `bitvec::vec::api::<impl bitvec::vec::BitVec<O,T>>::push`, not extend.

[2020-11-24 00:12] marmeladema commented on #79246
I decompiled this one because that's actually the method that is called in my reproducible code. `push` shows up in the perf diff but because it must be called at some point during `extend`. At least that how I understand it but again, I might be wrong.
@the8472 have you had a chance to look at the mcve yet?

[2020-11-24 00:25] dlubarov commented on #23246
Looking back to @alexcrichton's response and the RFC, I think the question is not so much why unused type parameters cause an error, but why the compiler considers type parameters unused in examples like the OP's.

To me, it seems like `Elem` has one usage (in `List: AsSlice<Elem>`), albeit not in the body of the struct. It seems like that should constant a usage for the purpose of variance infere

[2020-11-24 00:26] ISSOtm opened #79368 "Rustc panics on incremental build"
### Code

Happens when running `cargo run` and `cargo build` but *not* `cargo check` on [this archive](https://eldred.fr/rsgbasm.tar.bz2). Does not reproduce anymore after `cargo clean`, so it's likely to be an incremental problem. Here is [the original source code](https://github.com/ISSOtm/rsgbasm/tree/5a7cb4e44dc81ed250b50ad7c282e8e8aceb86e0).

(Note: I uploaded this file on my GitHub Pages, an

[2020-11-24 00:30] #78333 closed

[2020-11-24 00:36] #79352 closed

[2020-11-24 02:18] richkadel commented on #34701
I actually went ahead and implemented Coverage Mapping Format Version 4 over the weekend.

See PR #79365 ...

The PR is "in review", but I just found out that Rust CI requires some level of support for LLVM 9, and since LLVM 9 and 10 don't support V4, the build breaks in CI.

We're trying to find out if I need to support coverage in v9 and v10, or just make sure it compiles (without support for th

[2020-11-24 02:50] polyproline commented on #70992
Can you share about your resolution step?I have the same question with you.

[2020-11-24 03:07] jyn514 opened #79371 "Rustc suggests the same method twice when a mismatch type is found"
I tried this code:

[code]

I expected to see this happen: Rustc suggests `name.to_string()`.

Instead, this happened:

[code]

### Meta

`rustc --version`: rustc 1.48.0-beta.3 (4708ac76e 2020-10-15)

[2020-11-24 08:59] vimmerru opened #79373 "Support of cdylib crate types on iOS in Rust 1.46 breaks usual build workflows"
PR https://github.com/rust-lang/rust/pull/73516/ added support of `cdylib` crate types on iOS. This new feature in Rust 1.46 added a lot of headache for iOS builds with `cdylib` targets. `cdylib` target is near impossible to build on iOS if you are using any crate with native dependencies (ex. openssl, libsodium, zmq). You can't just find .so files for all architectures to perform correct linking

[2020-11-24 10:11] michaelwoerister commented on #49180
@luser I'd love to hear about your experiences with PGO for Firefox CI. I think that would be really valuable!

I plan create a tracking issue for using PGO on `rustc` itself some time this week. If you post your feedback here I can already incorporate it there. Otherwise, I'll just ping you once the tracking issue is online.

[2020-11-24 10:15] 38569459 commented on #70992
You must use the same code-model and relocation-model when you building your core crate.

[2020-11-24 10:27] nikomatsakis commented on #67225
@rustbot claim

I've opened #79366 which introduces a modified form of fallback that addresses this problem.

[2020-11-24 10:29] nikomatsakis commented on #35121
I've opened #79366 which introduces a modified form of fallback for `!`. I believe it addresses the problems we encountered in the first round and may indeed pave the way for eventual stabilization. In particular, it avoids both the unsound changes to type inference (by sometimes defaulting to `()`) and the failed compilations (by sometimes defaulting to `!`). (It *can* still introduce regressions

[2020-11-24 10:56] polyproline commented on #70992
Thanke you for your response.
I used cargo-xbuild ,set  env RUSTFLAGS to make crates in  the same code-model and relocation-model then build fail with the same question
But when I used .cargo/config.toml ,set build-std and env RUSTFLAGS then it did well
Is cargo-xbuild question? what are you build command?

[2020-11-24 11:12] 38569459 commented on #70992
About the custom core crate, I can't remember anymore since it too long ago. As i said, I use cargo-xbuild to build the core crate for me and I just copy sysroot folder for private use after that.

[code]

[2020-11-24 11:26] polyproline commented on #70992
Thank you

[2020-11-24 11:27] kpcyrd commented on #79304
Since this is silenced for dependencies and we've already fixed this on our master branch this issue is resolved for me (thanks for the help!). I'm not closing it myself in case you still want to discuss this until the 1.49.0 release, but feel free to do so.

[2020-11-24 12:19] m-ou-se commented on #79304
@kpcyrd Thanks for the report and the update.

As mentioned above, this is "working as intended" in the sense that this was expected outcome of #78626. That does not mean it's necessarily the best behaviour. Maybe a warning would make more sense here, depending on how much trouble this change causes.

Okay, closing this for now then.

Please re-open the issue or leave a comment if you (anybody) th

[2020-11-24 12:19] #79304 closed

[2020-11-24 12:21] jonas-schievink commented on #79373
That PR has been reverted in https://github.com/rust-lang/rust/pull/77716 since other people ran into problems as well. It will be fixed in Rust 1.49 (currently in beta).

You can help detect these regressions earlier by testing against the nightly Rust channel in addition to stable.

[2020-11-24 13:04] leonardo-m opened #79378 "[ICE] with const_trait_impl and closure"
[code]

Gives:

[code]

[2020-11-24 13:57] matthiaskrgr commented on #79152
@rustbot label E-needs-bisection E-needs-mcve

[2020-11-24 14:00] rylev commented on #56533
As an FYI: I am working on a [pre-RFC for `min_target_api_version`](https://internals.rust-lang.org/t/pre-rfc-min-target-api-version/13339/2) which allows for conditional compilation based on the minimum support API version for the target platform. This could address the issue that this would not be supported on older versions of Windows. With this mechanism, Unix sockets would only be available w

[2020-11-24 15:09] JohnBSmith commented on #32463
There is a further argument for `wrapping_next_power_of_two` to be zero on overflow. One might use
[code]
to obtain the bitmask of all numbers in `0..m`.

[2020-11-24 15:22] lausek opened #79381 "Mismatched type for dev-dependency on same crate"
[Repository](https://github.com/kaichaosun/test-workspace-dependency) @kaichaosun

See above link for minimal viable example. There are two crates, one is test-utils, another is client. This is the client code with a dev-dependency on test-utils:

[code]

This is test-utils code with a dependency on client:

[code]

Running `cargo test` (`cargo test +stable`) in the workspace shows this error:

[c

[2020-11-24 15:43] woodruffw commented on #42839
I noticed that #75148 doesn't include the PID on macOS/iOS, presumably because it uses `getpeereid`. However, macOS/iOS *do* provide `LOCAL_PEERPID`, which can be used with `getsockopt` to get just the peer's PID. Would anybody be opposed to a follow-up PR that adds support via `LOCAL_PEERPID` on macOS?

[2020-11-24 16:18] 38569459 commented on #70992
@polyproline, as some note, you should **back up your sysroot folder** if it works because this is just a work around and cargo-xbuild project can change their way of doing thing **anytime** and it may break everything. This happened to me once until I found out what they had changed and find my way to work around that.

[2020-11-24 17:01] simon-auch commented on #79251
Just ran `rustup update` again today and still get an ICE. Made the example a bit smaller:
[code]
Output of `cargo check` (build also fails with the same message):
[code]

Considering the rustc versions it should be the same that is currently on the playground, however there it does not cause an ICE. Maybe someone could try to reproduce this in a local environment?

[2020-11-24 17:05] the8472 commented on #44041
Would this be the right place or has a separate issue been created regarding pass optimizations?

[2020-11-24 17:15] lcnr commented on #79251
can reproduce this locally, not sure why it doesn't ICE on the playground

[2020-11-24 17:40] pnkfelix opened #79385 "Unfound macro diagnostic could detect a later definition and suggest moving it"
I tried this code:

[code]

I expected to see this happen:

"You have a use of an undefined macro. I found a macro definition with the same name later in the module hierarchy. I suggest you move the macro definition so that it appears before the `mod a` in the module hierarchy, like so: ..."

Instead, this happened:

[code]

(where the help here does not actually address the problem.)

## Version

[2020-11-24 18:06] gyakovlev commented on #76213
some users hit it in gentoo with 1.48.0
downstream bug https://bugs.gentoo.org/756340

removing `-Ctarget-cpu=skylake` or `-Ctarget-cpu=native` helps as described here.

[2020-11-24 19:14] camelid commented on #79251
cc @shepmaster -- it ICEs locally, but not on the playground

[2020-11-24 19:31] Kixunil commented on #42839
Yeah, I don't see a reason to not do that. It'd be nice to document which platforms support it.

[2020-11-24 19:53] woodruffw commented on #42839
Sounds good! I've opened #79387. And yeah, documentation for these across the different Unices can be difficult to find:

* OpenBSD appears to support `SO_PEERCRED` with a structure definition that's identical to Linux's `ucred`: https://github.com/openbsd/src/blob/0e2efb92954da6bfe2c3ee0a27e3261f42d5f339/sys/sys/socket.h#L300

* FreeBSD supports `LOCAL_PEERCRED` with a `xucred` ("extended" `ucred

[2020-11-24 20:23] byusti commented on #79040
The error is emitted here:
[code]
within fn infer_placeholder_type, but I am confused by what is happening when ```tcx.sess.diagnostic().steal_diagnostic(span, StashKey::ItemNoType)```  matches with none, since it emits a different error. If it is unrelated to this issue, should I check for ty::Err and it variants from within Some(mut err)? I was thinking of matching on ```ty``` like so:
[code]

[2020-11-24 20:26] tormol commented on #42839
The `cr_pid` on FreeBSD was added somewhat recently and is only available in FreeBSD 13 which is not released yet. [The man page for FreeBSD 12 doesn't mention it.](https://www.freebsd.org/cgi/man.cgi?query=unix&apropos=0&sektion=0&manpath=FreeBSD+12.2-RELEASE+and+Ports&arch=default&format=html)

The [uds](https://docs.rs/uds/*/uds/trait.UnixStreamExt.html#method.initial_peer_credentials) crate ca

[2020-11-24 20:53] Kixunil commented on #42839
I write which platforms `std` supports in its [doc comment](https://doc.rust-lang.org/nightly/std/os/unix/ucred/struct.UCred.html#structfield.pid).

[2020-11-24 21:02] frewsxcv commented on #60214
I'm not familiar enough with compilers or programming languages to understand what it means to "infer variance", but I'm wondering if there's a more descriptive error message we can add here explaining why it's not possible. Here's an example where I hit this:

[code]

[2020-11-24 21:25] sylvestre opened #79390 "fs::copy: Cannot copy /dev/null into a file"
I tried this code:

[code]

_I expected to see this happen:_
I agree that the use case isn't super useful. But I would expect this to work and create an empty file.

_Instead, this happened:_

`the source path is not an existing regular file`

Don't hesitate to wontfix this bug...

[2020-11-24 21:28] shepmaster commented on #79251
Try with [the same settings](https://github.com/integer32llc/rust-playground/blob/e54f710abbfdc03d9084bc8add0459257780281e/compiler/base/Cargo.toml#L5-L11)?

[code]

[2020-11-24 21:40] simon-auch commented on #79251
That indeed removes the ICE, let me just check which one of the options it is.

[2020-11-24 21:49] jonas-schievink commented on #79390
Well, this is documented behavior:

[2020-11-24 22:13] the8472 commented on #79390
In the light of "everything is a file" perhaps the documentation could be improved to say "regular file" .

[2020-11-24 22:23] scottmcm commented on #32463
Note that `next_power_of_two` is already stable as wrapping to `0` in release mode, so I think it would be very surprising for `wrapping_next_power_of_two` to do anything different.  (Regardless of which answer is actually better.)

If people want that, I would encourage them to propose it as a separate method.  It's nicer than `next_power_of_two` since it has no overflow hazards, so doesn't need

[2020-11-24 22:53] byusti commented on #79040
I've managed to block the second error:
[code]
I used err.delay_as_bug() because I was getting an internal compiler error for an unused error. I saw ```emit_unless(&mut self, delay: bool)``` which does the same thing essentially, but is ```delay_as_bug()``` the fn that I should use?

[2020-11-24 23:09] camelid commented on #79251
That's even weirder. Seems like this is partly an incr-comp bug then.

[2020-11-24 23:11] camelid commented on #79251
Note that the ICE occurs in the incr-comp hasher (ICH):

[code]

So this seems to be an incr-comp bug.

[2020-11-24 23:17] Diggsey opened #79393 "ICE with source-based code coverage"
### Repro

- Create an empty library with `cargo new --lib`
- Add `dashmap = "3.11.10"` to dependencies.
- Set `RUSTFLAGS="-Zinstrument-coverage"`
- Run `cargo test`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Query stack:
[code]

[2020-11-24 23:25] kaimast commented on #62290
Does this feature introduce an `AsyncFn` trait, similar to `core::ops::Fn`? I cannot find it in the RFC.

[2020-11-25 00:01] DianaNites commented on #31844
`str` doesn't `Deref` to `[u8]` but *does* [`AsRef`](https://doc.rust-lang.org/stable/std/primitive.str.html#impl-AsRef%3C%5Bu8%5D%3E), wonder if that should play a part at all?

[2020-11-25 00:02] camelid commented on #73754
Going to try working on this. Hopefully I won't regret it ;)

[2020-11-25 02:56] Brooooooklyn commented on #67497
https://github.com/napi-rs/napi-rs/issues/297 same issue here

[2020-11-25 02:57] pickfire commented on #51315
I can't seemed to get this working.

[code]

Also, what happens if there is no `mod`? Will the doc just silently disappear?

[2020-11-25 03:25] pickfire commented on #79390
@sylvestre Not sure if https://github.com/rust-lang/rust/pull/79399 is the kind of fix you are looking for, it fixes it from a documentation perspective.

I wonder if it is possible to allow copying from `/dev/null`, `/dev/full` and `/dev/zero`, they seemed to be useful in some cases. Should we just allow them?

[2020-11-25 06:27] lifning commented on #74727
Is it possible for core library functions to get inlined despite not being specified as one ISA or the other?
My use case is wanting to possibly take advantage of instructions like a32's ldmia/stmia for some heavy lifting in a perf-critical bit of interrupt handler code living in IWRAM, but looking at rustc's emitted asm, i notice usages of things like `core::array::<impl core::ops::index::Index<I

[2020-11-25 06:35] ketsuban commented on #74727
The problem as I understand it is there's only one (T32) copy of the standard library and Rust just emits calls into it despite the function being A32, which LLVM then refuses to inline.

A solution could be for Cargo's unstable `build-std` attribute to be aware of `has_thumb_interworking` and include a copy of the standard library compiled for the other code target.

[2020-11-25 07:46] sylvestre commented on #79390
@pickfire At least, the doc should be improved but yeah, I think this function should allow copy.

There are cases when /dev/null is used as a regular file like:
https://sources.debian.org/src/apparmor/2.13.5-1/debian/debhelper/postinst-apparmor/?hl=9#L9
https://sources.debian.org/src/mysql-8.0/8.0.21-1/packaging/rpm-common/mysqlrouter.init/?hl=56#L56

[2020-11-25 07:52] alercah commented on #31844
AsRef isn't something the compiler is aware of, so it shouldn't be
considered.

Two thoughts: first, making the suggested changes to deref in method
resolution would quite possibly interact poorly with the existing corner
cases around lookup, and that needs to be carefully thought through. Any
proposal for a change specific to specializarion should definitely not be
in this thread; possibly even a

[2020-11-25 07:59] catenacyber opened #79401 "Incompatibility using both `-Zinstrument-coverage` and `-Z build-std`"
I tried this code:

[code]

This ends up running `cargo build --release -Z build-std`

I expected to see this happen:
Compilation succeeds

Instead, this happened:
Compilation failed with
[code]
and many more errors about other duplicate items

### Meta

This is part of https://github.com/rust-lang/rust/issues/34701 cc @richkadel

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</s

[2020-11-25 08:00] catenacyber commented on #79401
By the way, there is a current PR https://github.com/OISF/suricata/pull/5582 with a fix : not using `-Z build-std` when  `-Zinstrument-coverage` is in RUSTFLAGS

[2020-11-25 08:56] gendx commented on #79197
Regarding the locale (or lack thereof), could this be related to https://github.com/kellpossible/cargo-i18n/issues/49, i.e. when `$LANG` is unset in this minimalist Docker environment (as shown by running `env` in a shell)?

[2020-11-25 09:16] SimonSapin opened #79404 "Restore Servo’s `style` crate in cargotest?"
`src/tools/cargotest` in this repository runs `cargo test` for a few crates as part of CI, including some of https://github.com/servo/servo/. This used to select the `selectors` and `stylo_tests` crates, whose dependency graph include most Servo crates that don’t rely on unstable language or std features.

In https://github.com/rust-lang/rust/pull/54451#issuecomment-427548626 `stylo_tests` was rem

[2020-11-25 09:35] lifning commented on #74727
There're definitely other things besides core that the lack of ability to inline kind of makes a drag too, such as the phantom_fields defined by https://docs.rs/crate/gba-proc-macro (which i think my current best bet is to just.. duplicate each function into foo() and a32_foo() versions and call the latter in my code)

For this case it would definitely benefit me to be able to compile arbitrary de

[2020-11-25 09:41] iago-lito opened #79405 "Don't prefix full path specification when suggesting changing & to &mut."
(moved from https://github.com/rust-analyzer/rust-analyzer/issues/6626)

With the following code:
[code]
I get a suggestion to "change this to a mutable reference", but if I do, I get:
[code]

That's a bit overkill, right? I would rather expect
[code]

It actually becomes worse. I've decided to file this bug report after my argument:
[code]
was changed to
[code]
instead of just
[code]

That's defi

[2020-11-25 09:43] rust-highfive opened #79406 "`rls` no longer builds after rust-lang/rust#79336"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#79336, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @camelid, do you think you would have time to do the follow-up work?
If so, that would be great!

[2020-11-25 09:43] rust-highfive opened #79407 "`rustfmt` no longer builds after rust-lang/rust#79336"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#79336, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @camelid, do you think you would have time to do the follow-up work?
If so, that would be great!

[2020-11-25 09:51] GuillaumeGomez commented on #51315
@pickfire I didn't understand your comment. The best I can recommend you is to look at how we use it in the std library, maybe that will answer your questions. :)

[2020-11-25 10:05] ubamrein opened #79408 "Rustc and XCFramework won't work"
Hi

We are currently trying to build a xcframework, which includes a rust static library as a binary target. When we build the xcframework with `xcodebuild  -create-xcframework -library target/aarch64-apple-ios/release/libxcframework_test.a -headers test.h -output test.xcframework` we get `The CodingKeys(stringValue: "SupportedPlatform", intValue: nil) is empty in library -arm64.`.

To reproduce t

[2020-11-25 10:40] Nadrieril commented on #73494
That would technically work, but I'd much rather see some kind of thematic folders. I've been doing that for the bit of the compiler I'm hacking on, and it's been tremendously helpful to have most relevant tests be caught by `--test-args pattern`. For that same reason I like having the corresponding run-pass/check-pass tests in the same folders too. I don't find the ui/non-ui distinction all that

[2020-11-25 10:47] DutchGhost opened #79409 "ICE with unsizing an extern type"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-25 10:47] SimonSapin commented on #79404
CC @rust-lang/infra who might have thoughts about CI time

[2020-11-25 10:56] lcnr commented on #73494
yeah, i agree that it would be better to group tests by what they are testing, but that's a lot of work and probably won't be done in the near future so imo it would be great to start by grouping them by issue id which is fairly easy and then continue sorting them afterwards

[2020-11-25 11:02] hameerabbasi commented on #67497
As this is:

- Unsound
- A tier 1 platform
- Occurs on working code

we're assigning `P-critical`. See the `wg-prioritization` discussion at https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2367497.20Switching.20to.20opt-level.3Dz.20on.20i686-window.E2.80.A6

[2020-11-25 12:40] mitsuhiko opened #79410 "Dummy Overlapping Line Program Range produced for WASM Target"
The following minimal WASM example:

[code]

Produces a line number program in DWARF with what appears to decode to two overlapping ranges:

[code]

The output here is from the gimli dwarfdump tool but you can basically see that from PC 0x00 a sequence is started and ends at 0x23 which is the end of the program. The actual function `internal_func` sits at `0x2` and ends at `0x5`. Since DWARF does

[2020-11-25 12:54] jyn514 commented on #67497
Is this a regression in 1.48? Could you test on 1.47 and see if the same issue happens there?

[2020-11-25 13:14] Brooooooklyn commented on #67497
Tested 1.44.1 ~ 1.48.0, all these versions occurred this bug.

[2020-11-25 14:02] Jasonoro commented on #53278
This looks like useful functionality, and I would like to take a stab at trying to implement it. Using a `--regex` flag seems like a good idea.

@kennytm You said that making `libtest` depend on `regex` might be an issue. Do you have any idea on who to ping to find out if this is a big issue or not? The [dev guide](https://rustc-dev-guide.rust-lang.org/crates-io.html) just has a `TODO` there, and

[2020-11-25 14:03] jyn514 commented on #79197
I wouldn't expect that to affect the emitted code - my idea was that a string constant was being serialized that wasn't utf8, but now that I think about it more that doesn't really make sense, since rust requires source files to be valid unicode.

[2020-11-25 14:08] #79316 closed

[2020-11-25 14:32] johnmarkwayve commented on #56209
Is there any reason why type parameters can't, in principle, be considered "constrained" when They are used in the constraints of other type parameters? Does this "just" need to be implemented, or is it fundamentally inctractable?

[2020-11-25 15:08] shepmaster commented on #79404
[Discussed in our meeting](https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra/topic/meeting.202020-11-25/near/217895433). We'd accept a PR re-adding it.

[2020-11-25 15:12] pietroalbini commented on #78743
We haven't seen this in a while, closing the issue.

[2020-11-25 15:12] #78743 closed

[2020-11-25 15:20] ohsayan commented on #78743
@pietroalbini Pretty much the same; we haven't seen this happen lately either

[2020-11-25 15:37] spastorino commented on #76168
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2376168.20ICE.3A.20cannot.20convert.20.60RePlaceholder.20to.20a.E2.80.A6) and removing `I-prioritize`.

[2020-11-25 16:13] iliekturtles commented on #50614
I'm reviewing `uom` performance again in https://github.com/iliekturtles/uom/issues/222 and re-ran benchmarks with `privacy_checking.rs`. There is still a dramatic slowdown but the time is now under the `-Ztime-passes` `misc_checking_3` category:

Private alias of public type:
[code]

Public alias of public type
[code]

[2020-11-25 16:28] Plecra opened #79415 "impl Trait capturing lifetime of type parameter"
I tried this code:

[code]

I expected it to compile, but there was an error:

[code]

### Meta

`rustc --version --verbose`:
[code]
[code]

The issue also affects `-Zpolonius`

[2020-11-25 16:37] jonas-schievink commented on #79415
I think this works as intended. `impl Trait` captures all type parameters, and `T` is not `'static`, so the lifetime of the parameter is assumed to be contained in the returned value.

[2020-11-25 16:44] vitaly-burovoy commented on #79393
Confirm this bug. It is not Windows-only, also for Linux:

I compiled stable rust-1.48.0 with a `nightly` feature
# Meta
[code]

# Error output

[code]

# Repro
The same as in the initial message and (in my case) two more crates lead to the bug (as dependency of the `tokio-postgres` crate):
`typenum = "1.12.0"`
`once_cell = "1.5.2"`

[2020-11-25 17:00] pickfire commented on #51315
I did look at how it is used in standard library. The code I show above is in `src/lib.rs` and I ran `cargo doc` but the keywords section doesn't seemed to be there.

[2020-11-25 17:02] Plecra commented on #79415
Does that mean `impl Trait` can't express types that are separate from its arguments in any way? Is the `'static` bound in the return position somehow ambiguous?

This behaviour seems very strange to me, and isn't mentioned in the original RFC, the reference or the Book. Why would `impl Trait` be defined to silently ignore its lifetime?

[2020-11-25 17:09] Swatinem opened #79417 "Rustdoc doctests should have their file/lines remapped when using `-Zinstrument-coverage`"
I have a workspace with `crate_a` (and `crate_b`, but its not used for this example), and use the following env vars set to have my rustdoc tests run through code coverage:

`RUSTDOCFLAGS="-Z instrument-coverage -Z unstable-options --persist-doctests=C:\Users\swatinem\AppData\Local\Temp\_rustdoc`

Running the result later through `llvm-cov` gives me errors for my rustdocs, and unexpected results:

[2020-11-25 17:17] Swatinem commented on #79417
Here is some example code:
https://github.com/Swatinem/fucov
And here are some examples how I try to invoke the tools:
https://github.com/Swatinem/fucov/runs/1454817756

[2020-11-25 17:21] GuillaumeGomez commented on #51315
Needless to say it's surprising considering that it works perfectly for the std right? 😆

You maybe just missed something? But normally, you just need to enable the feature and then to add `#[doc(keyword = "...")]` on an empty module...

[2020-11-25 17:43] SNCPlay42 commented on #79409
It seems clear to me that this shouldn't compile: there's no way to determine, even at run time, how many bytes of storage `d` needs (short of looking at the external code to see the size of `Device`, or calling some function in the compiled extern code to ask what the size of `Device` is, neither of which can be done in general). So we just can't support an unsized local of an extern type.

But t

[2020-11-25 17:54] Nicholas-Baron commented on #79244
@jyn514 I ran `./x.py clippy` on a whim today and I got the same error you got.

[code]
In the end, whether running either version documented here, `./x.py clippy` cannot go through the entire project.

[2020-11-25 18:27] qwerty19106 opened #79418 "Atomic compare_exchange(_weak) functions produce overly complicated asm code on thumbv7(e)m-none-eabi(hf) targets"
This code perform atomic increment:
[code]

Expected asm:
[code]

Produced asm [godbolt](https://godbolt.org/z/n3M4az):

Code size is very important on Cortex-M targets (thumbv*) because some controllers have only 20KB flash!

Besides the increment instruction (`adds    r2, #1`) was moved into ldrex/strex section. This code lost `compare_exchange` advantage: evaluation before ldrex to reduce tick

[2020-11-25 18:30] danielhenrymantilla commented on #51315
@pickfire

Have you tried using `#[doc(keyword = "unsafe")]`, for instance? The current list of valid keywords is hard-coded, and when you provide an extraneous one / one that doesn't belong to that list, it silently ignores / discards the attribute / the directive:

https://github.com/GuillaumeGomez/rust/blob/2f7fa24aee7f7e69f9fbc37e8d2084fb1c898e97/src/librustdoc/clean/mod.rs#L309-L316

[2020-11-25 19:02] camelid commented on #79251
Reposting from Zulip:

So I removed `I-prioritize`.

[2020-11-25 19:02] GuillaumeGomez commented on #51315
@danielhenrymantilla Completely forgot about that one... Good catch, thanks a lot!

[2020-11-25 19:02] the8472 commented on #79418
It looks a lot better with `-C opt-level=s`

[2020-11-25 19:40] camelid commented on #79407
Huh, how did this PR break rustfmt? ripgrep doesn't show any use of `optin_builtin_traits`, and it compiled fine locally.

[2020-11-25 19:44] nagisa commented on #79361
Replicating what I wrote on Zulip:

Given #77117, it seems to me like we want a flag that can encompass split debug info control in a generic flag, than having an ad-hoc flag for each of the architectures and targets we support. In particular `-Zrun-dsymutil` and `-Zsplit-dwarf` seem like they could be unified into a plain `-Csplit-debuginfo` with various values to control exact behaviour. On macO

[2020-11-25 19:47] camelid commented on #79407
Do I need to wait until there's a nightly with the changes or something?

[2020-11-25 19:59] camelid commented on #79406
Huh, how did this PR break rls? ripgrep doesn't show any use of `optin_builtin_traits`, and it compiled fine locally.

Do I need to wait until there's a nightly with the changes or something?

[2020-11-25 20:07] Mark-Simulacrum commented on #79406
RLS uses the rustc-ap-rustc_data_structures-686.0.0 crate which contains the optin_builtin_traits.

[2020-11-25 20:12] Aaron1011 commented on #44454
Since https://github.com/rust-lang/rust/issues/27675 was fixed, can this issue be closed?

[2020-11-25 20:13] camelid commented on #79406
I think this might be a little too beyond my understanding of how to fix for now, so I'm unassigning myself.

[2020-11-25 20:14] camelid commented on #79407
I think this is the same problem as in #79406. I think this might be a little too beyond my understanding of how to fix for now, so I'm unassigning myself.

[2020-11-25 20:16] camelid commented on #79408
Does that mean that this issue can be closed?

[2020-11-25 20:19] camelid commented on #79381
Do you know if this is a regression; i.e., if it used to work?

[2020-11-25 20:22] hrls opened #79422 "`generic_associated_types` fails on dyn dyn"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-25 20:24] ubamrein commented on #79408
Well not really, since the ios and mac targets have two issues that I seen so far:

- With catalyst and simulator builds, we have two platforms than match x86_64-apple-ios, and rustc's llvm will create a "fat" binary containing both (since the actual llvm_target is x86_64-apple-ios-simulator

- There is no way of setting a OS target, which let's llvm choose the lowest available (7.0). This breaks

[2020-11-25 20:30] calebcartwright commented on #79407
@camelid  - rustfmt leverages the internal rustc mods via the auto publish crates process since rustfmt itself is also published to crates.io. As such the version of those rustc mods used within the rustfmt dep tree tend to lag at least a few weeks behind and in broken toolstate cases like this the fix almost always entails updating those crate versions and dealing with all the subsequent fall out

[2020-11-25 20:33] lausek commented on #79381
No, I'm not aware of this code being able to function.

[2020-11-25 20:36] leonardo-m opened #79424 "[ER] Better error message for wrongly written break label"
This is an enhancement request. This code is wrong because it lacks a ':

[code]

It gives the error messages (rustc 1.50.0-nightly 1c389ffef 2020-11-24):

[code]

But in such case I think it's better for the compiler to recognize in the error messages that the problem is probably just a lack of ' instead.

[2020-11-25 21:03] leonardo-m opened #79426 "[ER] cartesian_product_array, permutations_array, combinations_array"
Now Rust is powerful enough to implement a generator like a (simplified version of) Python itertools.product:
https://docs.python.org/3/library/itertools.html#itertools.product

You may want to add to Rust stdlib something like this, that has an API similar to that Python itertool function:

[code]

This is isn't maximally flexible because REPEAT is a compile-time value and probably it's not maxim

[2020-11-25 21:30] b-naber commented on #78248
@rustbot claim

[2020-11-25 21:31] Nemo157 opened #79429 "Inaccurate error message for const operations in type parameters"
I tried this code:

[code]

This gave an error message:

[code]

But you can see in `X::LEN` that you _can_ perform const operations using `S`, the restriction this hits is more subtle in that you cannot perform const operations using generic parameters _when these will impact the type system_ (as I understand it, I may be wrong). This also comes up if a generic parameter is used in defining an as

[2020-11-25 22:49] jyn514 commented on #79244
@Nicholas-Baron I am unlikely to have time to look into this in the near future. I vaguely remember there being an issue open for the clippy ICE, but feel free to open one (in the clippy repo, not here) if there isn't.

[2020-11-25 22:51] thomcc opened #79430 "`ptr::copy_nonoverlapping`/`ptr::copy` docs mention order difference between memcpy/memmove but fail to note count unit difference"
The docs for `ptr::copy_nonoverlapping` and `ptr::copy` say things like:

and

This is true, but I just encountered code where these were more-or-less used as:

[code]

and the author (and myself) were confused about the issue here due to this basically looking right. The problem here is that *unlike `memcpy`/`memmove`* the `size_of::<T>() * n` should just be `n`, since it's the number of `T`s to

[2020-11-25 23:42] #75922 closed

[2020-11-25 23:42] #77848 closed

[2020-11-25 23:42] #79350 closed

[2020-11-25 23:58] tgnottingham opened #79432 "DepGraph::with_ignore misuse"
[`DepGraph::with_ignore(closure)`](https://github.com/rust-lang/rust/blob/05dde137cad043738e94a47f63256f1e66c83768/compiler/rustc_query_system/src/dep_graph/graph.rs#L158) either doesn't work as intended, or some clients are confused about what it does. Some clients are under the impression that this prevents the closure from modifying the dep graph, but that's not the case.

For example, in [`OnD

[2020-11-26 00:05] tgnottingham commented on #79432
@michaelwoerister You can probably verify whether this is a real issue or I'm just misunderstanding something. :)

[2020-11-26 00:18] jonas-schievink commented on #79191
Hmm, seems like it doesn't see the conflict because the assignment is unreachable:

[code]

Seems like we should consider assignments in dead blocks as propagation candidates. But does that fix the whole bug?

[2020-11-26 00:44] Nicholas-Baron commented on #79244
@jyn514 Set up an issue on the [clippy end](https://github.com/rust-lang/rust-clippy/issues/6383). Closing as it will probably be handled by clippy.

[2020-11-26 00:44] #79244 closed

[2020-11-26 00:48] KodrAus commented on #63171
We discussed this in the recent Libs meeting and would be open to try fixing this up. It is confusing behavior to treat digits before the decimal the same as those after.

[2020-11-26 00:49] KodrAus commented on #65798
Have we done any crater runs recently on where the lint has landed us? If not, would anybody be interested in opening up an experimental PR to check?

[2020-11-26 01:00] KodrAus commented on #37984
We discussed this in the recent Libs meeting and the answer to the question that preempts this one: _**could** `std::env::set_current_dir` be `unsafe`?_ has to be: _no_. It's stable and we can't change it.

It's been a few years since we've had activity here so I'll go ahead and close this one, but if any new information comes up we can open new, targeted issues for them.

[2020-11-26 01:00] #37984 closed

[2020-11-26 02:39] ThePuzzlemaker commented on #79405
@rustbot claim

[2020-11-26 02:46] ThePuzzlemaker commented on #79405
This does not appear to be from rustc (nightly and stable output the same thing):
[code]
It's not even present with `--message-format json` (excerpt):
[code]

[2020-11-26 03:09] pickfire commented on #51315
Thanks for showing that. I didn't know it uses only hard-coded keywords, maybe rust should give an error when using invalid keywords? At least that won't confuse other users.

[2020-11-26 03:25] taiki-e opened #79436 "#[cfg(version)] ignores invalid version literal"
I tried this code:

[code]

I expected to see this happen: error or warning about invalid version literal

Instead, this happened: no error or warning
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3f14787508e791c693ac85bf41973b97

Mentioning @mibac138 who implemented `#[cfg(version)]` in #71314.

[2020-11-26 03:48] taiki-e commented on #79436
It seems that this feature is currently using an external crate for version analysis, but IIUC, what this feature really needs is a simple parser like this, right?

[code]

[2020-11-26 04:03] SOF3 opened #79437 "struct Foo(Self) leads to infinite loop"
I tried this code:

[code]

Running `rustc main.rs` does not terminate after a long time. After running for 4 minutes, the `rustc` process is using 99.2% CPU and about 80 MB memory.

### Meta

`rustc --version --verbose`:
[code]

[2020-11-26 05:01] dzmitry-lahoda commented on #60074
@djugei was you able to wrap? i tried to wrap with into and from impls, but it said to me that somebody already impls these.

[2020-11-26 05:58] jclulow opened #79438 "stack overflow from do_mir_borrowck() when building tinyvec 1.X"
I have a reproducible stack overflow when trying to build versions of `tinyvec` as of [this commit](https://github.com/Lokathor/tinyvec/commit/d3c1c6a56d8a498a855839670d768acc37451314) on illumos systems.  The output is terse, reporting a SIGSEGV instead of an overflow, but I have verified by looking at the generated core file that it is indeed overflowing a (manually allocated) stack.

### Meta

[2020-11-26 07:25] petrochenkov commented on #79436
I agree that we need a custom simplified but fully controlled version parser for this instead of relying on `version_check`.

[2020-11-26 07:32] iago-lito commented on #79405
@ThePuzzlemaker Oh, well I'm confused then. Where could this suggestion come from if neither `rust-analyzer` nor `rustc`? :\ Clippy maybe?

[2020-11-26 07:36] ExpHP commented on #56209
It's intractable.  A clause like `where SomeType: Index<I>` cannot be considered to constrain `I`, because even if `SomeType` only implements `Index` for a single index type, a downstream crate can always add another impl:

[code]
causing `I` to become ambiguous.
[code]

[2020-11-26 07:37] #79405 closed

[2020-11-26 09:01] #79255 closed

[2020-11-26 09:07] QuineDot commented on #49146
The [E0744 documentation](https://doc.rust-lang.org/stable/error-index.html#E0744) is now out of date.

Trying to use `?` in a `const` context gives an error ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=354627165cf371c1a5a59350f5b308a4)):
[code]
[E0744](https://doc.rust-lang.org/stable/error-index.html#E0744) links to this tracking issue, and also says

How

[2020-11-26 09:09] RalfJung commented on #49146
@QuineDot this was recently fixed, but it will take a bit until the fix hits stable: https://github.com/rust-lang/rust/pull/79087.

[2020-11-26 09:23] LukasKalbertodt commented on #65798
The last crater run AFAIK was [this one](https://github.com/rust-lang/rust/pull/65819#issuecomment-679290294). The problem is that crater doesn't seem to update the `Cargo.lock` (also see [this comment](https://github.com/rust-lang/rust/pull/65819#issuecomment-580237328). This means there are still a ton of non-root regressions that can be fixed by a simple `cargo update`. Also take a look at my c

[2020-11-26 09:30] qwerty19106 commented on #79418
`-C opt-level=2` is often used on microcontrollers if high perfomance is required. Usually it add ~20% to perfomance and add ~30% to flash using (as compared with `-C opt-level=s`).

I see two problems here:

1) `-C opt-level=2` produce too many asm instruction. Code above contains 4 the same ldrex/strex blocks, which use slightly different registers. The rest of the code is the glue in between ld

[2020-11-26 09:35] Niedzwiedzw commented on #74773
I've just used it in one of my projects cause and felt very natural

[2020-11-26 09:37] GuillaumeGomez commented on #51315
I think it should allow all keywords. The goal being to be able to document macro specific keywords in the end...

[2020-11-26 09:49] NieDzejkob commented on #79437
The following also hangs, though a diagnostic is first emitted:

[code]

[2020-11-26 10:00] NieDzejkob commented on #79437
The hang seems to happen in `rustc_middle::ty::util::<impl rustc_middle::ty::context::TyCtxt>::struct_tail_without_normalization`

[2020-11-26 10:28] oli-obk commented on #79040
I like the `delay_as_bug()` variant more.

Though I think we should add an `ignore` method that takes a [`DelaySpanBugEmitted`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/context/struct.DelaySpanBugEmitted.html), which we get from the `ty::Error`. What do you think @rust-lang/wg-diagnostics

[2020-11-26 10:34] sconybeare opened #79439 "False positive from dead_code lint when a repr(packed) struct is transmuted"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3eb6e9cfd464d8dd6cd5c3aa24c3cd35))

Output:

[code]

Errors:

[code]

[2020-11-26 11:46] the8472 commented on #79426
Are you aware of the itertools crate, which does have a [cartesian product](https://docs.rs/itertools/0.9.0/itertools/trait.Itertools.html#method.cartesian_product) implementation?

[2020-11-26 12:36] Jasagredo commented on #78919
Seems that for my intended use, `target-feature=-crt-static` is needed. For reference https://rust-lang.github.io/rfcs/1721-crt-static.html

[2020-11-26 12:36] #78919 closed

[2020-11-26 12:41] NieDzejkob commented on #79437
I have modified `struct_tail` to detect simple cycles like these to obtain a backtrace:

[code]

<details>

[code]

</details>

[2020-11-26 12:49] Gankra commented on #71504
Closing based on the comments by @Aaron1011

[2020-11-26 12:49] #71504 closed

[2020-11-26 12:51] Gankra commented on #71520
It looks like all the known issues with lld for this target have been fixed! 🎉

Shall we look into flipping it on by default?

[2020-11-26 12:52] leonardo-m commented on #79426
Itertools crate has a cartesian product between two sets. My code above is more like a "power". So they are quite different.

[2020-11-26 12:53] NieDzejkob commented on #79437
More minimal example:

[code]

This one demonstrates that it's a regression, it errors out immediately on 1.35 but hangs on 1.36.

[2020-11-26 12:54] michaelwoerister opened #79442 "Exploring PGO for the Rust compiler"
This issue is a landing place for discussion of whether and how to apply profile-guided optimization to `rustc`. There is some preliminary investigation of the topic in the [Exploring PGO for the Rust compiler](https://blog.rust-lang.org/inside-rust/2020/11/11/exploring-pgo-for-the-rust-compiler.html) post on the Inside Rust blog. The gist of it is that the performance gains offered by PGO look ve

[2020-11-26 13:34] SNCPlay42 commented on #79437
searched toolchains nightly-2019-04-09 through nightly-2019-05-22

********************************************************************************
Regression in nightly-2019-04-24
********************************************************************************

found 9 bors merge commits in the specified range
  commit[0] 2019-04-22UTC: Auto merge of 60168 - varkor:tidy-leading-newline, r=alexcri

[2020-11-26 13:57] Gankra commented on #71519
This is the last known blocker for using lld on linux, so I've [updated the first comment](https://github.com/rust-lang/rust/issues/71519#issue-606448240) with a summary of the discussion for anyone who would like to take a crack at implementing it.

[2020-11-26 14:12] ToferC commented on #55684
Just flagging that this is still an issue. I'm getting compile times of several minutes on a R5 3600x, 16GB ram and SSD. The same compile on a less capable laptop takes 13s.

[2020-11-26 14:13] jyn514 commented on #79437
cc https://github.com/rust-lang/rust/issues/75100#issuecomment-668337305

[2020-11-26 14:15] #79152 closed

[2020-11-26 14:21] jyn514 commented on #79438
Yes, a team member (like me) has to add the `stable-nominated` label to the PR that fixed it.

[2020-11-26 14:22] jyn514 commented on #79438
Remove `I-prioritize` [as discussed by the Prioritization WG](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379438.20stack.20overflow.20from.20do_mir_borrowck().20w.E2.80.A6) - this is a question for the release team, not the compiler team. I did nominate https://github.com/rust-lang/rust/pull/78607 for backport, though.

[2020-11-26 14:24] lnicola commented on #55684
@ToferC can you try under WSL 2?

[2020-11-26 14:31] SNCPlay42 commented on #79437
What #60126 did was stop doing that (aborting early if there's an error) for `item-types-checking`. Seems a bit drastic to revert that (making the compiler unable to report other, later errors until the recursive type is fixed) for this - I think we can do something more targeted.

[2020-11-26 14:48] NieDzejkob commented on #79437
Perhaps the recursive field could be replaced by a sentinel signifying an erroneous type?

[2020-11-26 14:55] Aaron1011 commented on #71504
Should this be closed without a regression test being committed?

[2020-11-26 15:48] jryans commented on #78770
@rustbot claim

[2020-11-26 15:48] ToferC commented on #55684
I'm using WSL2. Sorry - should have clarified.

On Thu, Nov 26, 2020 at 9:24 AM Laurențiu Nicola <notifications@github.com>
wrote:

--
Cheers!

Chris
@toferc

[2020-11-26 15:55] Brooooooklyn commented on #67497
It can reproduce in https://github.com/napi-rs/package-template

0. choco install node-lts -x86 -y -f
1. refreshenv
2. checkout `napi-1-pre` branch
3. yarn install
4. yarn build
5. node simple-test.js

The reproduce step could be found here: https://github.com/napi-rs/package-template/blob/napi-1-pre/.github/workflows/CI.yaml#L189

You can also see Github actions output from https://github.com/nap

[2020-11-26 16:00] qiujiangkun opened #79446 "Cannot link against libraries in binary mode"
I have a C library to link against. I can link against in test mode, library mode but not in binary mode.
The compile error is like this. I cannot find any libraries that I passed in `build.rs`. I have no issue with library mode.
I have my whole virtual machine, in case we can't figure out here.
[code]

lib.rs
[code]
main.rs
[code]
build.rs
[code]
bindings.rs
[code]
[code]

[2020-11-26 16:06] Brooooooklyn commented on #67497
And I found the error was from this function: https://github.com/napi-rs/napi-rs/blob/master/napi/src/js_values/mod.rs#L270

I add println into this function:

[code]

The result was:
[code]

[2020-11-26 16:28] NieDzejkob commented on #79426
Still, consider contributing this to `itertools`. If the community decides that it's immensely useful, we can always uplift it into `std` later.

[2020-11-26 16:31] #76737 closed

[2020-11-26 16:34] michaelwoerister commented on #79442
One concern with the "best-effort" approach that I just became aware of is how it affects performance testing: Let's say you want to optimize some expensive function `F` in the compiler. You rewrite it to a more efficient version `F'`, do a try-build, and a perf.rlo run to see if your optimizations had the desired effect. However, since `F` was compiled with PGO data available while `F'` is being

[2020-11-26 16:47] CoffeeBlend opened #79447 "overflowing_literal does not work with char literals"
I tried this code in Rust 1.48.0:

[code]

I expected to see this happen: I expected the build to fail because 'Ł' (Unicode: 0x141) exceeds the size of u8, similar to
[code]
which fails with an error (as overflowing literals is deny-by-default).

Instead, this happened: The code compiled without warning or error (https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=11526e44252b6

[2020-11-26 16:52] jonas-schievink commented on #79447
`0x141` is a `u8` literal, but `'Ł'` is a `char` literal, so the warning is only correct in the u8 case

[2020-11-26 17:00] CoffeeBlend commented on #79447
So overflowing_literals is only applied to numeric literals? Sorry, then! Still, it would be nice to have a lint for these conversions, too, as the code would lead to a bug in the program in every situation I can think of. Should I open an issue for the rustc book to clarify the definition?

[2020-11-26 17:26] g2p commented on #71519
I'm starting work on this.

Besides adding a linker flavor and relevant documentation, I am customizing bootstrap/dist.rs to prepare a directory ending in `ld@rust-lld` that contains a single file symlinking `ld` to `../…/rust-lld`. That should make it easy to customize (if distros already customize rust-lld to symlink to the system lld, they don't need to do anything else).

[2020-11-26 17:37] the8472 commented on #79418
That's probably LLVM's loop unrolling heuristics deciding that it's worth it for that loop under O2 but deciding differently under Os.

You could split your project into different crates, with the hot code that needs optimizations compiled with `opt-level=2` and the cold/size-sensitive code in a different crate compiled with `opt-level=s`. [RFC2282](https://github.com/rust-lang/rfcs/blob/master/te

[2020-11-26 17:52] leonardo-m commented on #79447
Thank you for your issue report.

[2020-11-26 18:05] the8472 commented on #79390
It would be good to know why the check explicitly rejecting it has been added in the first place. It has been there [since the module was introduced in 2015](https://github.com/rust-lang/rust/blob/6bfbad937bdf578e35777d079f8dcfab49758041/src/libstd/fs.rs#L466-L470)

And understanding the use-case would be good too. If you want to create an empty file (copying `/dev/null`) that can be achieved via

[2020-11-26 18:19] mati865 commented on #55684
@ToferC I guess you are compiling your project located on Windows drive, if so it's WSL2 issue.
Due to it's design IO between the host (Windows) and virtual machine (distro inside WSL2) is slow and the latency is enormous.
With WSL2 you should be always compiling your project from Linux filesystem and not from Windows mounted directories (`/mnt`).

[2020-11-26 18:36] jyn514 commented on #79442
This might be overcomplicating things, but what if the default was *not* to use PGO builds, and enable them only for nightly/beta/stable? Then `F` wouldn't have an unfair advantage, but we would still get most of the benefits of the "best effort" method.

The disadvantage is that nightlies will now require a second full build; it will no longer be possible to use the latest build artifacts from bo