[2017-05-18 11:43] Freyskeyd commented on #42078
Hello @pravic,

Are you talking about the online documentation? Which url did you use?

[2017-05-18 11:51] Mark-Simulacrum commented on #42078
I know that this happened for me and the problem was that I had old JS with new HTML or the other way around; you might need to clear cache (Ctrl+shift+R on Chrome, I think?)

[2017-05-18 11:52] qnighy commented on #31560
Looks like a duplicate of #18952.

[2017-05-18 11:53] Mark-Simulacrum commented on #31560
Closing in favor, as duplicate.

[2017-05-18 11:53] #31560 closed

[2017-05-18 12:00] Nemo157 commented on #33417
You can constrain the error to be convertible into `MyError` without having to give it an explicit name, like

[code]

it's still a little verbose, but really does state the constraints for calling the function nicely ([playground](https://is.gd/1GSJE5))

[2017-05-18 12:14] Mark-Simulacrum commented on #28794
Copying code into here so it doesn't get lost; https://github.com/nagisa/rust_libloading/issues/5 is potentially relevant.

test.rs:
[code]

main.c:
[code]

[code]

[2017-05-18 12:15] pravic commented on #42078
Nah, it is fixed already (see #42080). And it is related to

* http://doc.rust-lang.org/nightly
* http://docs.rs
* local crate documentation generated by nightly `crate doc`.

[2017-05-18 12:26] Mark-Simulacrum commented on #28951
I think we turned this back on with optimization fuel; I'm uncertain whether there's any reason to keep this open. cc @camlorn @eddyb

[2017-05-18 12:33] Mark-Simulacrum commented on #24843
E-needstest.

[2017-05-18 12:35] Mark-Simulacrum commented on #38640
It's been 5 months; nominating for compiler team discussion to remove `--crate-type=metadata`.

[2017-05-18 12:39] SimonSapin commented on #28951
Yes, in #40377.

[2017-05-18 12:49] Mark-Simulacrum commented on #37917
Closing, we largely already have tests for this.

[code]

[2017-05-18 12:49] #37917 closed

[2017-05-18 12:51] nagisa commented on #41215
SHA-256 based on the dedicated SHA instructions can do 1.7GB/s on Ryzen. AVX2 implementation of Fletcher4 that ZFS uses for checksumming does 15GB/s on the same machine.

[2017-05-18 12:52] pedrocr commented on #38578
I'll have another look. It's possible I no longer support 1.13. I haven't been testing back. It's always possible to just use the version from back then. You have a fast machine though :)

[2017-05-18 12:53] Mark-Simulacrum commented on #37832
Looks like a case of insufficient normalization.

[2017-05-18 12:54] Mark-Simulacrum commented on #36379
This works today; E-needstest.

[2017-05-18 12:57] Mark-Simulacrum commented on #38633
Marking as a diagnostics issue, it'd be great to give a message in this case corresponding to where macros can be used.

[2017-05-18 12:58] Mark-Simulacrum commented on #38678
Well, these are now probably gone into git history completely; do we want these? If so, they should probably be re-added into rustbuild itself.

[2017-05-18 13:00] Mark-Simulacrum commented on #38775
Closing in favor of #27863.

[2017-05-18 13:00] #38775 closed

[2017-05-18 13:00] Mark-Simulacrum commented on #32539
Closing in favor of #27863.

[2017-05-18 13:00] #32539 closed

[2017-05-18 13:04] Mark-Simulacrum commented on #38447
Closing as expected behavior -- I don't think we want to change this.

[2017-05-18 13:04] #38447 closed

[2017-05-18 13:05] Mark-Simulacrum commented on #37051
Examples here no longer ICE. E-needstest.

[2017-05-18 13:23] gypsydave5 commented on #22639
I just brushed up against this issue while demoing the guessing game example from the Rust Book - seemed like an easy thing to show off matching on the error kind, but turned out not so much!

[2017-05-18 13:47] AdamCampbell opened #42084 "Make fails when attempting to compile for various Apple & iOS targets"
I am trying to follow this [guide](https://www.bignerdranch.com/blog/building-an-ios-app-in-rust-part-1/)
It's a little outdated but I have checked out repo in order to manually compile for these targets.

I have run:
[code]

However I think the ordering in the makefile is wrong as it tries to run an install.sh that does not exist.

[rust-compile-log.txt](https://github.com/rust-lang/rust/files/10

[2017-05-18 13:47] kennytm commented on #38678
Final appearance of the relevant file:

https://github.com/rust-lang/rust/blob/4711ac314/mk/ctags.mk

[2017-05-18 14:00] kennytm commented on #42084
Nowadays you don't need to build a cross-compiler from source yourself. `rustup` is enough to setup everything for iOS (and Android) development. The whole "Installing Rust with multirust" should be replaced by "Install [rustup](https://www.rustup.rs/)."

[code]

and the whole "Building a Cross Compiler" should be replaced by

[code]

then go on from "Hello, World: Building the Rust Library" (but

[2017-05-18 14:31] arthurprs commented on #41215
Any reason *NOT* to use siphash2-4 on this?

It's gonna give rustc 90% of the speed benefit and it'll leave little to no questions regarding maintaining platform specific code, hashing quality or security (the last is a weak argument, but it exists anyway).

[2017-05-18 14:36] steveklabnik commented on #42078
@est31 in the PR, @pravic says this was Opera 12.

[2017-05-18 14:40] #42064 closed

[2017-05-18 14:47] QuietMisdreavus commented on #31227
Thanks to [rust-lang-nursery/nomicon#21](https://github.com/rust-lang-nursery/nomicon/pull/21), FFI documentation now has a proper home in the nomicon! If you want to tackle this issue, please add the documentation there.

[2017-05-18 15:13] steveklabnik commented on #31227
Yup; that repo is the appropriate place now. Closing!

[2017-05-18 15:13] #31227 closed

[2017-05-18 15:14] mjkillough opened #42085 "x.py no longer works with Python 3"
Recent changes to `x.py` have stopped it from working when run with Python 3:

[code]

It works when run with Python 2.

I had a quick look at fixing it, but it looks like the fix would need testing on Windows (due to console encoding shenanigans) and I don't have a Windows machine available right now.

[2017-05-18 15:24] GuillaumeGomez commented on #42066
I just wonder: should we add the path only when the item is present more than once or should we do it everytime?

[2017-05-18 15:36] QuietMisdreavus commented on #31227
I've opened [rust-lang-nursery/nomicon#23](https://github.com/rust-lang-nursery/nomicon/issues/23) to port this issue over.

[2017-05-18 15:42] QuietMisdreavus commented on #42066
As in, print the full path regardless of whether it shares its short-name with anything? I suppose that could work. It'd certainly be easier to implement, though it risks being overly verbose.

[2017-05-18 15:59] Mark-Simulacrum commented on #38751
Nominating for discussion. I feel like this might cause inference failures.

[2017-05-18 16:01] Mark-Simulacrum commented on #38755
I feel like this should be using `cfg()`, possibly `cfg_attr(doc, cfg())` or something like this.

[2017-05-18 16:05] Mark-Simulacrum commented on #38758
I feel like ultimately -qq could silence test runs completely and just return the exit code; or perhaps we could have an `--exit-code` option that did the equivalent.

[2017-05-18 16:15] sfackler commented on #38863
@jhjourdan `PeekMut` implements `Deref` so we don't want to implement any methods on it. If the type of values in your heap had a `pop` method, you would suddenly start calling this method instead.

[2017-05-18 16:18] #41802 closed

[2017-05-18 16:18] nagisa commented on #41802
Closing as expected breakage. Also acknowledged by the crate author.

[2017-05-18 16:20] jhjourdan commented on #38863
Oh, right. Sorry for the noise.

[2017-05-18 16:22] nagisa commented on #41795
cc @jseyfried

[2017-05-18 16:25] Mark-Simulacrum commented on #38784
Seems like something we shouldn't track, but would probably accept a PR for.

[2017-05-18 16:25] #38784 closed

[2017-05-18 16:26] nagisa commented on #42019
Now that #42005 has landed, this should be re-reproduced.

[2017-05-18 16:29] Mark-Simulacrum commented on #34806
Closing in favor of https://github.com/rust-lang/rust/issues/24384.

[2017-05-18 16:29] #34806 closed

[2017-05-18 16:30] steveklabnik commented on #42085
I'd be happy to test on windows if you can send over the patch

[2017-05-18 16:35] nagisa commented on #41805
It seems like the behaviour is intended. If this is indeed a regression we should document it in the release notes.

[2017-05-18 16:41] nagisa commented on #41793
Lets make sure to mention this in the release notes.

[2017-05-18 16:41] #41793 closed

[2017-05-18 16:47] Mark-Simulacrum commented on #26067
Closing in favor of https://github.com/rust-lang/rust/issues/23616. I don't see this as being a separate problem, really.

[2017-05-18 16:47] #26067 closed

[2017-05-18 16:55] aturon commented on #28237
I'm re-nominating for lang team discussion. I think it's very unlikely that significantly new ideas or tradeoffs are going to arise at this point. We need to reach a decision about the tradeoffs that have been laid out.

[2017-05-18 16:55] projektir commented on #42085
@mjkillough I'm curious, have you been successful using Python 3 in general? I was never able to get the full test suite to work when using Python 3, and there seemed a decent amount of work to do to have both Python 2 and 3 supported for the entire suite.

[2017-05-18 16:57] nagisa commented on #36799
Recently a change to reduce the size of some MIR structures has landed. Would be good to re-check.

[2017-05-18 17:00] durka commented on #42019
It landed, but why is there no nightly?

[2017-05-18 17:08] joshtriplett commented on #28237
On May 18, 2017 9:55:30 AM PDT, Aaron Turon <notifications@github.com> wrote:

I'm going to be out for next week's meeting due to a conference. In case this gets discussed in next week's meeting, I'll voice my support for *any* solution other than `...`, whether `..=`, `inclusive`, or other.

[2017-05-18 17:21] schen7913 opened #42087 "building rust from source fails"
When I run

./x.py build && sudo ./x.py dist --install

After a bunch of update messages occur, eventually I get the error message
[code]
But Cargo.toml is in that exact location.

What could be causing this?

[2017-05-18 17:59] jseyfried commented on #41795
This looks like it was caused by #39419, specifically fixing #39404.

[2017-05-18 18:03] #42087 closed

[2017-05-18 20:52] Mark-Simulacrum commented on #26291
Closing in favor of #39524.

[2017-05-18 20:52] #26291 closed

[2017-05-18 20:56] michaelwoerister commented on #41944
Once https://github.com/rust-lang/rust/pull/42053 lands, this should also be fixed on beta.

[2017-05-18 21:01] Mark-Simulacrum commented on #23189
...Or not? Glacier appears to be passing, but this is fixed as far as I can tell. Marking both examples as E-needstest.

[2017-05-18 21:02] michaelwoerister commented on #41215
It seems like an improvement over what we have now (which does not preclude that there are still better options).
Leaving security aside, is there any reason NOT to use siphash1-3? Does hashing quality degrade with fewer rounds?

[2017-05-18 21:07] Mark-Simulacrum commented on #22789
No longer ICEs today. E-needstest. I'm somewhat concerned though because this is the second glacier-tracked ICE that I've seen "fixed."

[2017-05-18 21:54] arielb1 commented on #22789
This was only broken because of the old `meth` code.

[2017-05-18 22:04] arthurprs commented on #41215
Apparently there's a slight loss of quality on smhasher (avalanche test worse bias from 0.72% (2-4) to 0.9%(1-3)), not sure if it's significant.

source: https://github.com/rurban/smhasher

[2017-05-18 23:02] pedrocr commented on #38578
Okay, I've rerun this properly now. Here's what I did:

  * Went back to rawloader 0.30.0 so as to still be using the old toml. It seems toml 0.4 no longer works on 1.13
  * Thanks to rustup and how easy it is to build self-contained binaries I created five rawloader benchmark binaries for major releases from 1.13 to 1.17
  * Set all 4 CPU threads to performance and didn't run anything else at the

[2017-05-18 23:02] #38578 closed

[2017-05-18 23:21] pedrocr commented on #38578
Because I was curious I reran this with more sleep time between runs to allow the processor to cool-off if needed and ran it five times instead of three and removed the highest and lowest value from each version. I also ran it with beta and nightly:

Rust Version | Average Decode Time (ms)
------------ | -------------
1.13.0 (2c6933acc 2016-11-07) | 93
1.14.0 (e8a012324 2016-12-16) | 93
1.15.0 (10

[2017-05-18 23:49] AdamCampbell commented on #42084
Oh awesome thanks @kennytm that should make things much easier.
May as well leave this issue open for now, don't know if this compilation log represents a compiler error or user error now since so much has changed.

[2017-05-18 23:56] mjkillough commented on #42085
@steveklabnik - Thanks, but @nagisa has beat me to it.

@projektir - I think I was able to build and run the full test suite, but you've made me doubt myself. :) I'll double-check when I'm back at my computer.

[2017-05-19 00:02] Mark-Simulacrum commented on #38578
Thanks for doing the legwork here! Some of the wins in the next two releases may be due to LLVM 4.0 landing in-tree; though I'm uncertain, I think that's in 1.18. Please do report these in the future though, it's certainly not a waste of time!

[2017-05-19 00:12] pedrocr commented on #38578
Good to know. At least now I know how to do a much more valid benchmark run so the risk of false positives should be much lower :)

[2017-05-19 00:32] Mark-Simulacrum commented on #22603
One more of those issues that's apparently not quite tracked by glacier... seems fixed on rustc 1.19.0-dev (7b5c3d2b2 2017-05-17). E-needstest.

[2017-05-19 01:22] Mark-Simulacrum commented on #19475
I think the leading `__` case is intentional, but uncertain about trailing.

[2017-05-19 01:24] Mark-Simulacrum commented on #26614
No longer reproduces; E-needstest.

[2017-05-19 01:25] Mark-Simulacrum commented on #26633
@rust-lang/lang didn't comment on this; I'm going to nominate.

[2017-05-19 03:48] Mark-Simulacrum commented on #25690
I'm going to close since presumably this has gone away, let us know if you still see this and we can reopen.

[2017-05-19 03:48] #25690 closed

[2017-05-19 04:27] japaric opened #42097 "libcore no longer compiles for targets with max-atomic-width = 0"
due to some unused_macro warning and #![deny(warnings)]

### STR

[code]

### Meta

[code]

[2017-05-19 05:36] nagisa commented on #42097
Isn’t it supposed to be a guranatee that `ptr`-sized atomics are always available? Is this a custom target of some sort?

[2017-05-19 05:52] japaric commented on #42097
Hmm, no?

At least [two] built-in [targets] have max-atomic-width = 0.

[two]: https://github.com/rust-lang/rust/blob/b21577e1e80ed7a2470cd3402004b80d1bf0f30d/src/librustc_back/target/armv5te_unknown_linux_gnueabi.rs#L30
[targets]: https://github.com/rust-lang/rust/blob/b21577e1e80ed7a2470cd3402004b80d1bf0f30d/src/librustc_back/target/thumbv6m_none_eabi.rs#L34

[2017-05-19 06:13] durka commented on #42019
This was **not fixed** by #42005. It is still broken with rustc 1.19.0-nightly (0ed1ec9f9 2017-05-18).

[2017-05-19 08:07] devurandom opened #42099 "./x.py build --verbose and config.toml build.verbose=2 don't trigger cargo --verbose"
Passing `--verbose` to `./x.py build` and setting `build.verbose` in `config.toml` does not cause `--verbose` to be passed to `cargo`, which results in a non-verbose build.

I am trying to build rust-1.17.0 as follows:
[code]

[2017-05-19 08:22] GuillaumeGomez commented on #42066
That's my main concern.

[2017-05-19 09:30] SergioBenitez commented on #41681
This has been around for a while (since Jan. 2017, ~4 months) and appears to be quite solid in my testing. Is there a reason to not move this into FCP for stabilization? @brson

[2017-05-19 09:55] SimonSapin commented on #32836
Is the `NonZero` enum layout optimization guaranteed to apply through a `union`? For example, `Option<ManuallyDrop<&u32>>` should **not** represent `None` as a null pointer. `Some(ManuallyDrop::new(uninitialized::<[Vec<Foo>; 10]>())).is_some()` should not read uninitialized memory.

https://crates.io/crates/nodrop (used in https://crates.io/crates/arrayvec) has hacks to deal with this.

[2017-05-19 09:56] SimonSapin commented on #40673
I’d like this to be stabilized. What’s the next step?

The only alternative that I know of is https://crates.io/crates/nodrop, which on stable Rust requires a combination of hacks that look fragile to me.

[2017-05-19 10:23] tommyip commented on #42065
Given a UpvarId/NodeId, is it possible to find its span?

[2017-05-19 10:36] arthurprs commented on #41160
Is it possible to fix this by using mir copy propagation for now?

[2017-05-19 10:51] mjkillough commented on #42085
@projektir - FWIW, with the PR that fixes `x.py, `python3 x.py test` seems to succeed apart from this:

[code]

I'm not sure what's going on there, but I don't think it's related to Python.

[2017-05-19 11:26] SimonSapin opened #42101 "ICE: already have hash for FileMap(DefId {…"
In Servo with rustc 1.19.0-nightly (0ed1ec9f9 2017-05-18), with incremental compilation enabled. (To reproduce, copy `servobuild.example` to `.servobuild` and change `incremental = false` to `incremental = true`.)

[code]

[2017-05-19 11:54] Mark-Simulacrum commented on #27487
@arielb1 Is the bug here "that borrowck doesn't reason about `&mut FragmentRepr` lacking drop glue"?

[2017-05-19 11:59] Mark-Simulacrum commented on #24857
Closing as expected behavior per @nikomatsakis's comment.

[2017-05-19 11:59] #24857 closed

[2017-05-19 12:13] Mark-Simulacrum commented on #37550
E-needstest as per previous comment.

[2017-05-19 14:16] mattgodbolt opened #42102 "Nightly installation fails for non-root user"
The nightly builds are currrently failing as the cargo install as part of the nightly want to unconditionally place stuff in `/etc`:

[code]

the log file above says:

[code]

[2017-05-19 14:48] Mark-Simulacrum commented on #38917
This appears to work today; E-needstest.

[2017-05-19 14:51] Mark-Simulacrum commented on #38940
@jseyfried You assigned this to yourself, but I don't see any progress yet. Just checking in to make sure you're still aware of it :)

[2017-05-19 14:51] steveklabnik commented on #29628
Triage: no real change. apparently servo uses this.

[2017-05-19 14:56] Mark-Simulacrum commented on #38355
So it seems that ultimately any changes here would need an RFC, so I'm going to close in favor of that. If anyone's actively interested, please file an RFC or an issue at rust-lang/rfcs.

[2017-05-19 14:56] #38355 closed

[2017-05-19 15:23] Mark-Simulacrum commented on #38875
So, this example compiles successfully today. I'm failing at coming up with an example that doesn't... could someone comment with one?

[2017-05-19 15:31] Mark-Simulacrum commented on #38954
Seems fine today; we should probably have a test for this, E-needstest.

[2017-05-19 15:32] Mark-Simulacrum commented on #38821
Errors today, which is I think correct. E-needstest.

[code]

[2017-05-19 15:42] Mark-Simulacrum commented on #38908
We found the problem and decided to not do anything at least for now so I think closing makes sense for the time being.

[2017-05-19 15:42] #38908 closed

[2017-05-19 15:56] Mark-Simulacrum commented on #38938
Closing since it wasn't reproducible a while back (see above comment).

[2017-05-19 15:56] #38938 closed

[2017-05-19 16:09] toddboom commented on #36989
@alexchrichton @Mark-Simulacrum I'll take a crack at this one if nobody else has started on it yet.

[2017-05-19 16:17] Mark-Simulacrum commented on #36989
Go ahead! Let us know if there's anything we can do to help you.

[2017-05-19 16:25] Mark-Simulacrum commented on #39070
`must_accept` taking &self wouldn't help with this problem specifically though (it would cause a type error); you are passing `a` by-value, so it will be moved. As such, I'm going to close, since I don't think we should change it in this way.

[2017-05-19 16:25] #39070 closed

[2017-05-19 16:32] Mark-Simulacrum commented on #14540
I'm going to close this in favor of rust-lang/rfcs#1230 since there's a lot of potential layout optimizations involving enums but this one specific issue isn't key enough that it should be tracked separately.

[2017-05-19 16:32] #14540 closed

[2017-05-19 16:48] alexcrichton commented on #27700
Ok! We've now had a chance to get many of the stakeholders together and chat about the current state of affairs. Action items coming out of this moot:

* Everyone's on board with https://github.com/rust-lang/rfcs/pull/1974, comfortable merging and implementing.
* The `std::heap` API is poposed in https://github.com/rust-lang/rfcs/pull/1974 and can likely be stabilized far ahead of the "swap the gl

[2017-05-19 16:52] alexcrichton commented on #32838
Ok we've recently [met to evaluate the state of allocators](https://github.com/rust-lang/rust/issues/32838) and I think there's some good news for this as well! It looks like support has not yet landed in libstd for these APIs, but everyone's still happy with them landing at any time!

One thing we discussed is that changing over all the libstd types may be a bit premature due to possible inferenc

[2017-05-19 16:53] crumblingstatue commented on #22750
Sometimes this can suggest private types, which makes this even more confusing.

This snippet is taken from an IRC conversation:
[code]

Ref: https://github.com/rust-lang/rust/issues/21934

[2017-05-19 17:01] Mark-Simulacrum commented on #39125
We can't change these traits in any way today, so I'm going to close this. I'm not entirely sure what the problem here is either.

[2017-05-19 17:01] #39125 closed

[2017-05-19 17:07] crumblingstatue commented on #22750
I suggest we at least temporarily mitigate this by applying @huonw's third suggestion from the list, which shouldn't require interfacing with anything external.

[2017-05-19 17:11] jmesmon commented on #22750
Some of the issues here (around misleading module paths being reported) may be related to #34769

[2017-05-19 17:11] phaux commented on #28237
It would be worth discussing rest/spread syntax while we are at it.
I vote `..` for exclusive range, `...` for inclusive, `....` for rest/spread.
[code]

[2017-05-19 17:19] crumblingstatue commented on #42102
@mattgodbolt
As a side-question: Is it not feasible to use a pre-built Rust (e.g. installed through [rustup](https://github.com/rust-lang-nursery/rustup.rs)) for Compiler Explorer, instead of building it from source?

[2017-05-19 17:35] ssokolow commented on #28237
I'd vote `...` for a rest slice for two reasons:

1. People are likely to already be familiar with `...` meaning "rest" from languages like CoffeeScript (CoffeeScript uses `rest...` in function signatures for varargs and calls them "splats") and English (Using the correct Unicode codepoint or not, it's three periods which look like an ellipsis, not four.)

2. Unless I'm missing something about Rus

[2017-05-19 17:46] mattgodbolt commented on #42102
@crumblingstatue - I'm not installing via source here (I don't think?). I'm running `./install.sh --without=rust-docs` and then manaully patching the `rpath` to let me run the binaries directly by path.

CE installs to a shared NFS drive that all the various instances all mount. If `rustup` can be made to install somewhere "shared" like this, I can move to it. Importantly I need to be able to exec

[2017-05-19 17:51] crumblingstatue commented on #42102
Sorry,  I misunderstood.

Interesting. I'm not really knowledgeable on rustup and environments like this.
Perhaps @brson or @Diggsey could answer this.

[2017-05-19 18:01] shepmaster commented on #38875
It has a useful error message, I assume you mean? With `rustc 1.17.0 (56124baa9 2017-04-24)`, I get:

[code]

It seems like it shouldn't have **11** `^`; maybe that's because that's the length of `MyEnum::ONE` in the library crate's source?

The error is still misleading as-is. It points at the client's use of a `const usize`, but complains it is an enum variant.

It seems this issue is still vali

[2017-05-19 18:36] Mark-Simulacrum commented on #38875
Now I'm very confused. I had it compiling fine... I thought.

[2017-05-19 19:34] dtolnay opened #42104 "Backward spans are displayed strangely"
[code]

This is a regression in 1.18.0-beta but unclear whether it affects anything in practice. We encountered this in #rust-libs discussing https://github.com/rust-lang/rust/pull/40939.

[code]

[code]

[2017-05-19 19:35] dtolnay commented on #42104
cc @estebank who touched this code recently.

[2017-05-19 19:35] QuietMisdreavus commented on #29354
Small example of something to include in `OsString`: `into_string` doesn't *just* check for UTF-8; it defers to a platform-specific conversion, e.g. WTF-8 on Windows.

[2017-05-19 19:57] phaux commented on #28237
@ssokolow triple dot already means a range in pattern so that would be a breaking change to change it to rest syntax.

[2017-05-19 20:00] ssokolow commented on #28237
@phaux Point. I'd forgotten about that for some reason.

Something to hang off the "if we ever make Rust 2.0" tag, perhaps.

[2017-05-19 20:30] CraZySacX commented on #42101
Same thing compiling clippy

[code]

[2017-05-19 20:33] Mark-Simulacrum commented on #39154
I suspect that the actual cost of a single extra field, even if a couple kilobytes, doesn't really slow tooling down overly much. Ideally we might want to remove it but I'm not sure we should. @nrc @jonathandturner, this seems like it might potentially affect RLS, could you comment?

[2017-05-19 20:37] Mark-Simulacrum commented on #38997
I feel like we should deprecate `display` in favor of `to_string_lossy` on `Path`, really. The only difference I think is that `display()` is lazy. However, this specific issue is something that seems decent to solve, so keeping it.

[2017-05-19 21:10] cuviper commented on #42102
Probably related to `--sysconfdir` in #41853.

[2017-05-19 21:10] tommyip opened #42106 "Repeated "mutable/immutable borrow" error messages"
Minimal example:
[code]

Error message (ran in playground):
[code]

Tested on nightly as well (`rustc 1.19.0-nightly (0ed1ec9f9 2017-05-18)`)

[2017-05-19 21:11] estebank commented on #42104
Oh, beautiful... I'm seeing many problems with this output, beyond the obvious. I feel the proper output should either be:

[code]

or

[code]

I can make (or mentor) a small patch to either swap end and start if they are reversed or only point at the last end for that case, but I'd prefer to properly fix the spans generated in macro invocations in a better way regardless.

[2017-05-19 21:13] projektir commented on #42085
@mjkillough interesting. Those are tidy failures, I got them too when I tried a different run, they're indeed unrelated (probably). Btw, why are you using `python3` here, when, previously, you were using `python`, and it had version `Python 3.6.1`?

[2017-05-19 21:15] Diggsey commented on #42102
@crumblingstatue rustup doesn't use `install.sh` (it supports windows)

@mattgodbolt you can use `RUSTUP_HOME` and `CARGO_HOME` to control where the toolchains and rustup proxies are installed respectively. I'm not sure if this will solve your use-case?

[2017-05-19 21:17] cuviper commented on #42102
Or more precisely, rust-lang/rust-installer#59 defines `sysconfdir` [here](https://github.com/rust-lang/rust-installer/pull/59/files#diff-5c4807413996d3021c775ec958c4488fR869).  I understand why that's not under the prefix (like `/usr/etc`), but it seems surprising that it doesn't at least respect `DESTDIR`.

cc @Keruspe

[2017-05-19 21:24] cuviper commented on #42102
Actually, I think it *should* use `DESTDIR_PREFIX/etc/` by default, then let users choose `--sysconfdir=/etc` if they're sure they want it installed globally.

`rustup` just puts these files in `$RUSTUP_HOME/toolchain/$version/etc/`.

[2017-05-19 21:24] Keruspe commented on #42102
When using x.py it respects DESTDIR just like all the others (libdir, bindir, etc).
Is there a way to reproduce?

[2017-05-19 21:27] cuviper commented on #42102
[code]

[2017-05-19 21:31] cuviper commented on #42102
@Keruspe I think it should just be like this to be prefixed by default:

[code]

(i.e. don't assume that we really want the global `/etc` by default)

[2017-05-19 21:39] Keruspe commented on #42102
See https://github.com/rust-lang/rust-installer/pull/64
It seems pretty standard not to respect prefix for sysconfdir, but not respecting DESTDIR was indeed a mistake

[2017-05-19 21:48] donhcd opened #42107 "compiler panic: thread 'rustc' panicked at 'already have hash for FileMap(DefId { krate: CrateNum(40), node: DefIndex(0) => yup_oauth2/eca2350967a7ffe9c145bef4f7d7f2ae }, "/src/<proc-macro source code>")', src/librustc_incremental/persist/hash.rs:254"
compiler panicks when building project.

Relevant logs:
[code]

## Meta

`rustc --version --verbose`:
[code]

[2017-05-19 21:48] Ericson2314 commented on #33417
@jethrogb heh you quoted me from a year ago so I had to think for a bit. @Nemo157 is absolutely right and that seems reasonable.

In the specific case of `!` we *ought* to have a blanket impl, but I recall it overlaps another. It's an annoying overlap as both implementations agree on implementation---undefined behavior / dead code.

[2017-05-19 21:49] donhcd commented on #42107
my bad, this seems to be a dupe of https://github.com/rust-lang/rust/issues/42101

[2017-05-19 21:49] #42107 closed

[2017-05-19 21:55] Ericson2314 commented on #32838
@alexcrichton I think your link is broken? It points back here.

Adding the trait is a good first step, but without refactoring existing APIs to use it they won't see much usage. In https://github.com/rust-lang/rust/issues/27336#issuecomment-300721558 I propose we can refactor the crates behind the facade immediately, but add newtype wrappers in `std`. Annoying to do, but allows us to make progres

[2017-05-19 22:37] joshlf commented on #32838
@alexcrichton What would be the process for getting object allocators in? My experiments so far (soon to be public; I can add you to the private GH repo if you're curious) and the discussion [here](https://github.com/rust-lang/rfcs/pull/1974) have led me to believe that there's going to be a near-perfect symmetry between the allocator traits and object allocator traits. E.g., you'll have something

[2017-05-19 23:38] #31905 closed

[2017-05-19 23:38] #41776 closed

[2017-05-19 23:38] #42078 closed

[2017-05-19 23:38] #15890 closed

[2017-05-19 23:38] #42085 closed

[2017-05-20 01:22] Mark-Simulacrum commented on #39163
Closing in favor of #22565.

[2017-05-20 01:22] #39163 closed

[2017-05-20 01:25] Mark-Simulacrum commented on #39172
Closing, if interested please file an issue here: https://github.com/rust-lang-nursery/reference/issues.

[2017-05-20 01:25] #39172 closed

[2017-05-20 01:27] Mark-Simulacrum commented on #39178
There's no `DerefMut` impl for `PathBuf` (nor would it make sense, I think) so this is purely a diagnostics issue -- we should indicate what the immutable borrowed content is; or possibly give a type error here.

[2017-05-20 01:33] Mark-Simulacrum commented on #38738
Looks like a case of insufficient normalization, though I'm not sure that this is entirely possible.

[2017-05-20 01:41] Mark-Simulacrum commented on #39162
Updated description to include `!` in #![deny(missing_docs)]`, which made the lint error on the crate documentation, but still no errors about `Foo` itself.

[2017-05-20 01:43] Mark-Simulacrum commented on #34596
Unmarking as E-easy and E-mentor since this doesn't have an easy path forward and isn't really ready to be mentored. We should re-add those once we come to a decision.

[2017-05-20 01:50] Mark-Simulacrum commented on #39188
It's not clear to me that std itself can do much here. Ideally, we'd probably document this somewhere, though I'm not sure where we could do that either. I'm inclined to close because of this, but asking @rust-lang/libs for opinions on the matter.

[2017-05-20 01:53] Mark-Simulacrum commented on #39183
@retep998 What would you suggest we should do in this case? I thought about just including `#![no_std]` if it's being disabled through `#![cfg]` but I'm not sure we can/should do that: it seems like non-obvious behavior, and may be difficult to implement. I agree that this is a painful problem though.

[2017-05-20 01:54] Mark-Simulacrum commented on #22354
Going to go ahead and close since we don't have an example that is minimal enough to be viable, and there's been no response from issue author in ~2 years.

[2017-05-20 01:54] #22354 closed

[2017-05-20 01:59] Mark-Simulacrum commented on #33504
E-needstest.

[2017-05-20 02:01] Mark-Simulacrum commented on #39219
Closing (duplicate issue #17422 was also closed).

[2017-05-20 02:01] #39219 closed

[2017-05-20 02:03] Mark-Simulacrum commented on #37663
@jseyfried Have you looked at this yet? You assigned this to yourself.

[2017-05-20 02:06] Mark-Simulacrum commented on #39236
We no longer give the missing else clause error. As such, I'm going to go ahead and close.

[code]

[2017-05-20 02:06] #39236 closed

[2017-05-20 02:07] alexcrichton commented on #39188
I know I've personally run into this a bunch of times, and @zackw's suggestion of adding a method to libstd seems plausible to me!

[2017-05-20 02:10] Mark-Simulacrum commented on #24354
Today we give the following; ideally I think we would have a span on `BImpl` in `impl<BImpl>` which we'd reference with something like "this generic must implement `B` because of the bound on trait `A`." This is likely quite hard though.

[code]

[2017-05-20 02:13] #40855 closed

[2017-05-20 02:20] Mark-Simulacrum commented on #39268
It's not strictly speaking obvious which span should be the primary, but probably the first one (borrow occurs here) is better.

[2017-05-20 02:26] Mark-Simulacrum commented on #39273
Closing in favor of https://github.com/rust-lang/rust/issues/35772.

[2017-05-20 02:26] #39273 closed

[2017-05-20 02:31] Mark-Simulacrum commented on #29798
No longer ICEs or errors. E-needstest.

[2017-05-20 02:33] Mark-Simulacrum commented on #27395
I'm going to say that this is not a bug.

[2017-05-20 02:33] #27395 closed

[2017-05-20 02:34] Mark-Simulacrum commented on #27446
I don't really think this needs a test or at least not inside rustc itself; closing.

[2017-05-20 02:34] #27446 closed

[2017-05-20 02:40] Mark-Simulacrum commented on #25409
I think so. Closing as a duplicate of #20671.

[2017-05-20 02:40] #25409 closed

[2017-05-20 02:41] Mark-Simulacrum commented on #39274
I feel like this is sort of not our problem. Python dependencies either exist or don't, and this is from lldb-internal python, so I'm going to close.

[2017-05-20 02:41] #39274 closed

[2017-05-20 02:42] Mark-Simulacrum commented on #27514
@michaelwoerister Should we be tracking this?

[2017-05-20 02:43] Mark-Simulacrum commented on #39328
Please open an issue on the RFCs repo or post a pre-RFC to internals.rust-lang.org. This is a fairly major change to the language (large implications if small implementation, or at least, I think it should be small).

[2017-05-20 02:43] #39328 closed

[2017-05-20 02:45] Mark-Simulacrum commented on #36007
The original code compiles with no errors today, so seems like E-needstest.

[2017-05-20 02:49] Mark-Simulacrum commented on #38769
Thanks! Closing as duplicate of #36479.

[2017-05-20 02:49] #38769 closed

[2017-05-20 02:51] Mark-Simulacrum commented on #39283
I think that it's perhaps time to consider removing this message. cc @rust-lang/compiler (and nominating).

[2017-05-20 02:58] Mark-Simulacrum commented on #35741
So it looks like -Zasm-comments isn't actually used anywhere based on what I can find in the source... or, rather, its uses are in methods that are themselves never called.

[2017-05-20 03:00] Mark-Simulacrum commented on #39359
I can't find this in a more recent AppVeyor build so I'm going to close.

[2017-05-20 03:00] #39359 closed

[2017-05-20 03:02] Mark-Simulacrum commented on #39381
@rust-lang/libs, this seems relevant to the libz blitz and associated API guideline generation.

[2017-05-20 03:04] Mark-Simulacrum commented on #16229
Not a waste of time! Seems like this isn't really reproducible in most cases; closing.

[2017-05-20 03:04] #16229 closed

[2017-05-20 03:05] Mark-Simulacrum commented on #39398
This doesn't appear to break today on `rustc 1.19.0-dev (5dfcd85fd 2017-05-19)`. Closing.

[2017-05-20 03:05] #39398 closed

[2017-05-20 03:08] Mark-Simulacrum commented on #39365
I don't think there's much worth in adding the new error kind since it's not used on unixes and would be odd on windows (since the stdlib would probably not return it due to concerns over stability).

[2017-05-20 03:08] #39365 closed

[2017-05-20 03:08] dtolnay commented on #39381
Thanks! I filed https://github.com/brson/rust-api-guidelines/issues/69 to follow up with a guideline.

[2017-05-20 03:27] jrmuizel commented on #35741
Yeah, to get comments I believe I needed to set a verbose flag in some llvm context. Clang does this by default and it would be nice if rustc did too.

[2017-05-20 03:29] retep998 commented on #39183
I think what would work is to detect when the crate root is disabled via `#![cfg]` and if so, make the crate automatically `#![no_core]`, with no implicit preludes or extern crates.

[2017-05-20 03:31] Mark-Simulacrum commented on #39183
So maybe as a more general formula empty crates (those that define no items?) should be `#![no_core]` or the equivalent thereof?

[2017-05-20 03:43] retep998 commented on #39183
It's not like an empty crate has anything that could possibly care about having `core` or `std` anyway, so being more general like that is probably fine.

[2017-05-20 03:54] jcoughlin9 opened #42108 "x86_64-sun-solaris linking error"
I am trying to cross-compile from x86_64-unknown-linux to x86_64-sun-solaris. I have a working C cross toolchain and I cross compiled the std crate basically following the directions from https://github.com/japaric/rust-cross.

However, when I try to cross compile a Rust program, I get a linking error listing many undefined references.

[code]

Is rustc supposed to automatically invoke the linker

[2017-05-20 04:51] photino commented on #27741
Now there are two `StepBy` structs in the docs after #41439 has been merged.

![step_by](https://cloud.githubusercontent.com/assets/3446306/26273098/08dd5c6e-3d5b-11e7-907a-05d1ae4574c8.png)

[2017-05-20 05:02] alexcrichton commented on #32838
Oh I meant to link [here](https://github.com/rust-lang/rust/issues/27700#issuecomment-302754526) which also has information about the global allocator. @joshlf is that what you're thinking?

[2017-05-20 05:42] ivandardi commented on #27741
Yeah, now we need to make another PR to remove that deprecated `StepBy` struct. I can work on that no problem. I just need to know if it's ok to completely remove the `Step` trait or if we should keep it around.

[2017-05-20 08:36] tommyip commented on #42065
@nikomatsakis
Given a UpvarId/NodeId, is it possible to find its span?

[2017-05-20 09:13] segevfiner commented on #39359
I don't see it locally either. So it was probably fixed by either a gcc upgrade or a change in compiler-rt.

[2017-05-20 10:08] crumblingstatue opened #42112 "Span markers in diagnostics can be confusing if text above wraps"
Code:
[code]

This is how the error is displayed on a 80 column terminal
[code]

It's even worse in the real-life scenario that inspired this:
![](http://i.imgur.com/a9DjSCm.png)

The second span marker just lazily points to the top of the closure.

Possible improvements:

- Perhaps the irrelevant part could be omitted:
[code]
   An additional advantage of this method is that there is less spam ov

[2017-05-20 11:04] mjkillough commented on #42085
@projektir - I am not sure why I used python3. Both python and python3 are the same 3.6.1 binary on my system.

[2017-05-20 12:05] djzin opened #42114 "HRTB can't prove some trivially true statements"
[code]

Was trying to demonstrate lifetimes of references fulfilling the `'a` lifetime bound - but then came across this. The bound can be proven easily for a specific `'a` - but for some reason not for the higher-ranked version. The error for `doesnt_work` looks like this:

[code]

[2017-05-20 12:17] djzin opened #42115 "Lifetime parameters are silently deleted"
This compiles:

[code]

as does this:
[code]

but this fails:
[code]

[code]

[2017-05-20 12:22] segevfiner opened #42116 "rustbuild: --build doesn't actually work when you don't already have the stage0 compiler"
I tried to build a different ABI/triplet than the one rustbuild automatically guesses by using the `--build` command line option. As suggested in [README.md#specifying-an-abi](https://github.com/rust-lang/rust/blob/master/README.md#specifying-an-abi), But it didn't work and failed with:

[code]

Setting "build" in cargo.toml works correctly.

The bootstrap.py script is responsible for downloading

[2017-05-20 12:32] Mark-Simulacrum commented on #37107
We discussed this at the infra team meeting yesterday, and the current belief is that while this is something we might want, most people felt either ambivalent or could see both sides of the argument. As such, I'm going to close this issue. If you'd like to reopen, please do so here: https://github.com/rust-lang/rust-central-station.

[2017-05-20 12:34] #37107 closed

[2017-05-20 12:35] Mark-Simulacrum opened #42117 "Tracking issue for spurious git-related failures"
Splitting up #40474 to make it more meaningful.

[2017-05-20 12:36] Mark-Simulacrum opened #42118 "Tracking issue for spurious crates.io related failures"
Splitting up #40474.

[2017-05-20 12:38] Mark-Simulacrum commented on #41545
In theory this was solved upstream, and either way, closing in favor of #42118.

[2017-05-20 12:38] #41545 closed

[2017-05-20 12:38] Mark-Simulacrum commented on #41511
This hasn't happened since then judging by GitHub not having any more than that one PR, so I'm going to close this.

[2017-05-20 12:38] #41511 closed

[2017-05-20 12:40] Mark-Simulacrum commented on #27078
E-needstest, [still] fixed today.

[2017-05-20 12:42] crumblingstatue commented on #41832
I strongly suspect this is just syntex_syntax taking forever to compile. Cargo should really give better information on what is currently compiling and what finished.

[2017-05-20 12:54] Mark-Simulacrum commented on #39464
I think this has been improved somewhat today, but is still non-ideal. The problem likely stems from here: https://github.com/rust-lang/rust/blob/5dfcd85fd4bae49445383baadf472fbdb414a0e6/src/librustdoc/html/static/rustdoc.css#L356.

![image](https://cloud.githubusercontent.com/assets/5047365/26275917/12619d4a-3d29-11e7-85d7-1327d25c9e02.png)

[2017-05-20 13:06] Mark-Simulacrum commented on #36394
I think that this discussion has come to the conclusion that unions interact "as all other things" with enum layout optimization, and I'm going to close.

[2017-05-20 13:09] Mark-Simulacrum commented on #39475
I'm going to close due to inactivity, but please let us know if you're able to give us some steps to reproduce and we'll reopen!

[2017-05-20 13:09] #39475 closed

[2017-05-20 13:20] legolord208 opened #42119 "You typed `channels`. Did you mean to type `channels`?"
![Image](https://cdn.discordapp.com/attachments/275192340979646464/315478039037476864/unknown.png)

Related code:

[code]

EDIT: `channels` is a thing, but it's not a function. It's a variable.

[2017-05-20 13:28] petrochenkov commented on #32836
@SimonSapin
This is currently marked as an unresolved question in [the RFC](https://github.com/rust-lang/rfcs/pull/1897).
In the current implementation this program
[code]
prints
[code]
, i.e. the optimization is not performed.
cc https://github.com/rust-lang/rust/issues/36394

[2017-05-20 13:32] Mark-Simulacrum commented on #42119
I'm not quite sure what's wrong here -- it's suggesting `server.channels`, instead of the current `server.channels()`.

[2017-05-20 13:38] legolord208 commented on #42119
Oh, I thought this was supposed to be the corrected thing

![image](https://cloud.githubusercontent.com/assets/12830969/26276174/5079befc-3d72-11e7-8f23-c55d0a0d0717.png)

Welp, apparently not. Sorry for wasting your time

[2017-05-20 13:38] #42119 closed

[2017-05-20 13:48] Mark-Simulacrum commented on #42119
Not a waste of time! We always want to hear about concerns with our diagnostics, improving them makes for a better experience with Rust for everyone.

[2017-05-20 13:56] Mark-Simulacrum commented on #33065
The llvm-test-bug repo appears to work for me today, and the other example here doesn't compile due to, I think, using an old libcore clone/copy that doesn't compile today. Closing.

[2017-05-20 13:56] #33065 closed

[2017-05-20 14:23] Mark-Simulacrum commented on #39503
I think in order to use the external backtrace crate we'd have to make it capable of compiling with no_std; cc @alexcrichton (owner of the crate). However, I'm not very clear on the specifics here.

[2017-05-20 14:28] SimonSapin commented on #36394
I think this issue should be re-opened.

It is originally about the [nodrop-union](https://crates.io/crates/nodrop-union) crate, which is pretty much the same as `std::mem::ManuallyDrop`. The problem is that both of these types:

* Are generic. They may or may not contain something that implements `Drop`. They may or may not contain `NonZero<_>` (or something else that might qualify for future enu

[2017-05-20 14:38] Mark-Simulacrum commented on #36394
Hm, okay. I'll reopen; this was (or is? Was it merged?) an unresolved question in the RFC.

[2017-05-20 14:48] SimonSapin commented on #36394
Could you point to a specific part of the RFC? I can’t find it in https://github.com/rust-lang/rfcs/pull/1897.

[2017-05-20 14:52] Mark-Simulacrum commented on #36394
I don't think the original union RFC mentioned it (RFC 1444), but there was some discussion in the thread itself: https://github.com/rust-lang/rfcs/pull/1444#issuecomment-208268447 and https://github.com/rust-lang/rfcs/pull/1444#issuecomment-222315797 (but also just search from "enum layout")

[2017-05-20 14:52] SimonSapin commented on #36394
Ah, found https://github.com/rust-lang/rfcs/pull/1444#issuecomment-222315797 which concludes that adding a `()` field/variant inhibits enum layout optimization. But then https://github.com/rust-lang/rust/issues/36394#issuecomment-246174598 says the opposite.

[2017-05-20 15:18] Mark-Simulacrum commented on #39525
See https://github.com/rust-lang/rust/issues/7462 for slowness in match checking passes. I would assume that parsing wasn't the problem.

[2017-05-20 15:22] Mark-Simulacrum commented on #39406
I don't see this with a recent emscripten, so I'm going to close.

[code]

[2017-05-20 15:22] #39406 closed

[2017-05-20 15:24] Mark-Simulacrum commented on #39553
No longer ICEs today. E-needstest.

[2017-05-20 15:30] Mark-Simulacrum commented on #39571
I think this is effectively done with the channel-rust-stable file that @est31 mentions; that provides the specific archives which can be downloaded if needed; and only needs grep to be parseable. As such, I'm going to close, but please reopen if I'm wrong.

[2017-05-20 15:30] #39571 closed

[2017-05-20 15:32] Mark-Simulacrum commented on #39579
This is done today.

[code]

[2017-05-20 15:32] #39579 closed

[2017-05-20 15:34] Mark-Simulacrum commented on #38564
The new error I think closes this, since we note that `i8 + std::option::Option<i8>` isn't implemented directly.

[code]

[2017-05-20 15:35] Mark-Simulacrum commented on #37626
Closing in favor of https://github.com/rust-lang/rust/issues/39942 which is more specific.

[2017-05-20 15:35] #37626 closed

[2017-05-20 15:36] Mark-Simulacrum commented on #34698
Fixed today, I think. We don't give a suggestion as to `float % float` but I don't really think that's feasible.

[code]

[2017-05-20 15:36] #34698 closed

[2017-05-20 15:46] alexcrichton commented on #42099
@devurandom just to confirm, this is the build for rustbuild itself? I know that location doesn't handle `--verbose` for Cargo, but all others should.

[2017-05-20 15:49] alexcrichton commented on #42030
https://github.com/rust-lang/rust/pull/41639 has landed, so closing this

[2017-05-20 15:49] #42030 closed

[2017-05-20 15:52] alexcrichton opened #42121 "Nightly Windows tarballs may not be installable on Unix"
I got [two errors](https://travis-ci.org/alexcrichton/port-of-rust/builds/234251285) in a project of mine for recent nightlies which I think are releated to the rustification of rust-installer but I'm not 100% certain:

* [install.sh scripts may not be executable](https://travis-ci.org/alexcrichton/port-of-rust/jobs/234251291#L834)
* [I think backslashes may be causing installation failures](https

[2017-05-20 15:54] alexcrichton commented on #42121
Oh looks like https://github.com/rust-lang/rust-installer/issues/65 and https://github.com/rust-lang-nursery/rustup.rs/issues/1127 are all related to this as well.

[2017-05-20 15:56] ivandardi commented on #27741
@photino It's already being corrected in #42110

[2017-05-20 15:57] Mark-Simulacrum commented on #39575
This is not marked as unsafe today and to do so would be backwards incompatible; however, a quick search on GitHub didn't seem to turn up any code that uses it.

[2017-05-20 16:12] larsbergstrom commented on #34434
You can close this now, from my perspective. Release+debuginfo still breaks occasionally, but there are enough high-profile consumers at this point that the bugs are pretty quickly identified and fixed.

[2017-05-20 16:23] devurandom commented on #42099
@alexcrichton I was trying to build rustc.

You can find the [complete, but WIP ebuild](https://github.com/devurandom/gentoo-overlay/blob/master/dev-lang/rust/rust-1.17.0.ebuild) in my Gentoo overlay. It is based on the [Gentoo ebuild for 1.16.0](https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-lang/rust/rust-1.16.0.ebuild), but tries to adapt to the changes in the build-system from 1.16 to 1.17

[2017-05-20 16:28] #34434 closed

[2017-05-20 16:40] alexcrichton commented on #39503
Discussed on IRC with @Mark-Simulacrum, the thinking here is:

* Add a `no_std` profile of compiling the `backtrace` crate, probably stripping out most of the APIs
* Probably make all functions `unsafe` requiring explicit external synchronization
* Likely twiddle with CFLAGS and such to make building in libstd appropriate

And otherwise land it!

[2017-05-20 17:18] cuviper commented on #42121
Ah, yes, backslashes in the manifest are an easily understood problem.

Executable install.sh is harder.  At least I left a note about that [here](https://github.com/rust-lang/rust-installer/blob/655a137a8bd0dda1cc71fb82661446e215563d6f/src/util.rs#L19). :)  Since Windows doesn't really have such flags, I suspect it must have worked on some MSYS tricks with ACLs before.  Maybe we should make a spe

[2017-05-20 19:12] gavento commented on #41906
@durka Thanks for the hint and a pointer, but I think this is too general: whenever `Borrow` is `use`d, every type implements `Borrow<T> for T` and so `#[rustc_on_unimplemented]` would get triggered on every `.borrow()` call missing the appropriate `impl Borrow<Target> for T` and not just on this particular `Deref`-caused method shadowing.

Any other ideas? Perhaps some hint message would help eve

[2017-05-20 20:14] Mark-Simulacrum commented on #39503
So I put up a trial run of a no_std backtrace-rs implementation (https://github.com/alexcrichton/backtrace-rs/pull/50) that technically compiles on macOS and x86_64, if probably doesn't work. After realizing that we'd have to vendor 2-3 new repos in order for this to happen today, we decided it's not time yet. As such, I'm unassigning myself -- but if anyone wants to take the PR and branch I put u

[2017-05-20 20:28] alexcrichton commented on #42121
Yeah I think we'll probably just want to special case everything going into the tarballs and manually set the metadata for the various bits and pieces. I'm... not entirely sure how this worked with MSYS, but presumably there's some weird translation layer which we're not aware of and isn't surfaced through winapi things...

[2017-05-20 20:39] abonander commented on #41430
So the plan of action is to just reorder attribute expansion and import processing for a given item? Or just at the crate root for now?

[2017-05-20 21:06] vadimcn commented on #36221
I disagree: rustc does not have to use the default set of llvm passes.  We could create our own, or add to the default one.

Now, it's true that this will require a lot of time and experimentation, and nobody expressed the desire to delve into it right now; however someone might still come along who is into this kind of thing (an intern project maybe?)

By closing such issues we are making them in

[2017-05-20 21:56] Mark-Simulacrum commented on #36221
My understanding of the discussion was that we were worried that a custom pass list would create problems later down the road. However, I do see that we could get wins "now" so reopening.

[2017-05-20 22:13] jseyfried commented on #37663
I haven't prioritized it, but it's on my radar (also specifics of this issue probably changed since my recent span refactoring).

If anyone would like to work on this, I'd be happy to help/mentor.

[2017-05-20 22:51] jseyfried commented on #41430
@abonander I wouldn't think of this as reordering attribute expansion or import processing, just changing the scope in which e.g. `bar` resolves in `#[foo] mod m { #![bar] #[baz] fn f() {} ... }` that of `foo` to that of `baz`.

[2017-05-20 22:52] jseyfried commented on #41430
If we make this change, I think we should make the change everywhere (not just at the crate root) for consistency.

[2017-05-21 01:53] #42102 closed

[2017-05-21 04:29] #41938 closed

[2017-05-21 04:29] #42097 closed

[2017-05-21 05:19] cuviper commented on #42121
OK, so #42132 should fix up the manifests at least.

Researching the file modes, I first wondered whether the `tar` crate should read the advanced ACLs for `FILE_EXECUTE`, as right now it just [approximates the mode](https://github.com/alexcrichton/tar-rs/blob/babe0c8118a8d58c1c5e25a7663560153a78e51d/src/header.rs#L685-L696).  But it looks like *all* created files have "execute" privileges anyway

[2017-05-21 06:36] jluner commented on #35943
Just hit this trying to bring error-chain into cargo. cargo wants to decide whether to show an error in the chain to the user based on the nature of the error.

[2017-05-21 07:59] king6cong commented on #42101
same thing happend

[code]

rustc 1.19.0-nightly (01951a61a 2017-05-20)
cargo 0.20.0-nightly (397359840 2017-05-18)

[2017-05-21 11:32] scottmcm opened #42135 "InclusiveRange's size_hint can give 1 when empty, despite implementing TrustedLen"
Repro:
[code]

https://github.com/rust-lang/rust/pull/42134 will fix this, but I wanted to record it because I think `TrustedLen` being an `unsafe trait` means this could be leading to unsoundness.

[2017-05-21 11:40] djzin commented on #42114
Note this also works:

[code]

but attaching a where bound to the trait impl makes it fail!

[code]

[2017-05-21 14:34] est31 commented on #34938
So PR #41907 has implemented the first case: a lint for entirely not used macros. The second case (unused macro arms) is still unimplemented. I however am not sure whether it should be added, for the following reason:

When doing the PR mentioned above, I found some macros that got the unused warning but which were still used, just by cfg-out'd code. E.g. take this case:
[code]
Here, the correct r

[2017-05-21 14:39] est31 commented on #42106
Related: #40067

[2017-05-21 14:47] kennytm commented on #23334
Yes it should be fixed.

Repro steps:

[code]

[2017-05-21 14:48] #23334 closed

[2017-05-21 15:07] alexcrichton commented on #42121
Ah yeah I don't think there's a great way to flag a file on Windows as executable/not-executable, I'm basically just thinking that we have a whitelist of files/patterns that will get listed as executable in the tarball (as the tarball stores unix modes) and we'd just follow that.

[2017-05-21 15:42] alexcrichton commented on #42099
@devurandom do you have logs or a gist of the wrong behavior, maybe with comments as to what the expected correct behavior is?

[2017-05-21 16:23] devurandom commented on #42099
E.g. when I run `cargo build --verbose`, I see the `rustc` commandline for every package being build. I would like to see the same when building Rust using `./x.py`, but I can't convince the build-system to show it to me (s.a.).

This makes it very hard for me to debug another issue, where the bootstrapping `rustc` complains that it [can't find crate for `std`](https://users.rust-lang.org/t/when-b

[2017-05-21 17:47] zsounder opened #42138 "rustc failed with malloc_zone_unregister"
Running rustc on osx 10.12.4, got error message:
`rustc(27086,0x7fffad1ad3c0) malloc: *** malloc_zone_unregister() failed for 0x7fffad1a3000`

[2017-05-21 18:19] kennytm commented on #42138
Hi, could you provide details on how did you install the `rustc`?

[2017-05-21 18:53] ids1024 opened #42139 "std doesn't seem to build without the `backtrace` feature"
ca8b75466ce seems to be responsible; using the `backtrace` module even when the feature is disabled and that module is not compiled.

These two lines in particular cause errors:
https://github.com/rust-lang/rust/commit/ca8b75466cef854d30fdf7614c2358b1eb46816e#diff-bf0874963583c8c7f5645b5e6ea0e5e7R57
https://github.com/rust-lang/rust/commit/ca8b75466cef854d30fdf7614c2358b1eb46816e#diff-c31566eec0e4

[2017-05-21 20:35] Cldfire commented on #36927
Before I take the time to switch over to using numerical constants instead of enums in my own project, may I ask if this is still a concern? I just tried running the [playground example](https://play.rust-lang.org/?gist=f066d8e489a6e220866958065891a812&version=stable&backtrace=0) that was linked in the original post on every rust version from 1.12.0 up to 1.17.0:

* 1.12.0:
[code]

* 1.13.0-1.16.0

[2017-05-21 20:37] cuviper commented on #36927
The worst part of UB is that it _might_ just do the "reasonable" thing you'd want...

[2017-05-21 20:43] mcarton opened #42143 "Wrong error message with closures on nightly"
The following example

[code]

gives the following error on nightly:

[code]

which is wrong (`map` is expecting a function with one argument, which is what this closure is) and the following correct message on stable/beta:

[code]

[2017-05-21 20:46] jonathandturner commented on #38564
@Mark-Simulacrum - not to be a spoil sport, but this error doesn't feel beginner friendly, yet, which was the original bug.

[2017-05-21 20:51] jonathandturner commented on #38564
Specifically, a beginner friendly message probably doesn't talk about traits at all.  Though we want users to understand traits as they grow in their knowledge of Rust, having to learn about them in your first few minutes of Rust is probably too much to ask.

We may want to simplify well-known traits (and their errors) to the point of being easier to read by new users.  We can still leave a note t

[2017-05-21 20:58] Mark-Simulacrum commented on #38564
Hm, yeah, true. Reopening. I worry about having this much of a special case, but I agree it's probably worth it.

[2017-05-21 20:59] jonathandturner commented on #38564
Yeah, definitely a good thing to worry about.

Just realised something. You actually can't do what the error note says in this message, right? Because of coherence you won't be able to implement that trait, if I understand correctly.

[2017-05-21 21:07] Mark-Simulacrum commented on #38564
Not sure I follow you. I don't see anything about "maybe implement this" in the error. Perhaps we could detect the impossible case and special case it, though I worry that's overly ambitious -- technically, any two types that expose some form of mutable access to internals could be "added" through newtypes.

[2017-05-21 21:08] Envek commented on #17417
@huonw, thank you for sharing a recipe for working with pointer-to-a-pointer APIs. It apparently should be documented in FFI chapter of the Rust book!

[2017-05-21 21:12] jonathandturner commented on #38564
Heh, I've been doing Rust for a year and a half, and I'm still not 100% on exactly how the newtype trick is supposed to work. ;)

For me the main point is we should be cognisant of just how much someone needs to understand to get benefit from the error message.  There's a big benefit to having simpler phrases like "can't add i8 and Option<i8>".

[2017-05-21 21:24] clarcharr commented on #38564
I agree with swapping the note and annotation. Perhaps an extra note could just state "the value inside an `Option` can't be manipulated directly; did you mean to use `map` or `expect`"

[2017-05-21 22:16] rbalicki2 commented on #42143
How does one fix this? I have run into this problem as well, and have tried all 8 variants of `|&x: &(&u32, &u32)|`, toggling each of the 3 placements of ampersands.

It looked like, at some point, that `.map(|x: &(i32, i32)| 42)` fixed it, but I could not get that to work for `group_by` of `itertools`. Perhaps these are separate issues.

[2017-05-21 22:31] jonathandturner commented on #39280
It's been a while since this issue has been updated.  What's the current status?

[2017-05-22 00:51] #36648 closed

[2017-05-22 00:51] #38863 closed

[2017-05-22 00:51] #38903 closed

[2017-05-22 00:51] #38980 closed

[2017-05-22 01:42] withoutboats commented on #41323
@eddyb does this block stabilization of associated consts?

[2017-05-22 02:04] withoutboats commented on #29646
@nikomatsakis I've updated the first post to enumerate the shortcomings of this feature that I know about. I also checked the `run-pass` tests and they seemed comprehensive to me.

[2017-05-22 02:15] nrc commented on #41198
AIUI, this is closed by https://github.com/rust-lang/rust/pull/41639

[2017-05-22 02:15] #41198 closed

[2017-05-22 03:52] zsounder commented on #42138
solved after reinstall 1.17.0 by brew

[2017-05-22 03:52] #42138 closed

[2017-05-22 05:37] osa1 commented on #21906
Is this going to be fixed any time soon?

[2017-05-22 06:10] nathanaeljones commented on #24346
Is it necessary that we wait for upstream acceptance of libbacktrace patches? OS X has been waiting a while to get good runtime errors, and the workarounds are unreliable.

[2017-05-22 06:11] eddyb commented on #29646
@withoutboats Isn't "Types referenced in associated consts must be 'static" solved already?

[2017-05-22 06:13] oberien commented on #39288
As this is quite old already (over 3 months), would it be possible to stabilize these two functions soon?

[2017-05-22 06:13] withoutboats commented on #29646
Yes! I didn't see you'd fixed that, I thought you just fixed the using `Self` in default associated consts.

There's a run-pass test that needs to be updated then, I'll PR..

[2017-05-22 06:35] eddyb commented on #41323
@withoutboats Yes, as it allows const types in impls that don't match the trait definition.

[2017-05-22 06:40] archshift opened #42148 "ICE when passing `()` to a function generic over `Copy`"
[code]

I was met with an internal compiler error:
`error: internal compiler error: unexpected panic`

I expected some kind of user-comprehensible error, instead.

## Meta

Rust version: `rustc 1.19.0-nightly (01951a61a 2017-05-20)`

Associated Rust Playground: https://is.gd/ZHy4Av

Backtrace:

[code]

[2017-05-22 06:51] withoutboats commented on #41323
This can be exploited to elongate lifetimes:

[code]

[2017-05-22 07:30] michaelwoerister commented on #42101
Thanks for the report. I'm looking into it.

[2017-05-22 08:38] johalun commented on #33065
Thanks for confirming this!

[2017-05-22 08:52] #33573 closed

[2017-05-22 09:23] michaelwoerister commented on #27514
The test case doesn't exist anymore. We should look into writing a new one, now that we support Rust-enabled and legacy GDB versions in the test framework.

[2017-05-22 09:26] kennytm commented on #42101
@donhcd @king6cong @CraZySacX could you post the command line and source code which triggers the ICE?

[2017-05-22 09:35] kennytm commented on #42148
The problem is use of ZST, not generics.

[code]

[2017-05-22 11:38] citizen428 commented on #33525
@Mark-Simulacrum I'll pick this one up.

[2017-05-22 12:22] Mark-Simulacrum commented on #29924
The first example doesn't compile due to the trait not being object safe and the last example also doesn't compile today. Neither ICEs; E-needstest.

[2017-05-22 14:00] Emilgardis commented on #24354
Perhaps this would solve it?

[2017-05-22 14:19] alexcrichton commented on #42099
Do you have logs of what's going on? The logs in the linked thread there look like `--verbose` is working?

[2017-05-22 15:24] carols10cents commented on #40672
Saw 2 more of these in https://travis-ci.org/rust-lang/rust/builds/234609993 for #42142.

[2017-05-22 15:25] spikefoo opened #42153 ""field expressions may not have type parameters" error missing hint"
The compiler fails to show the ```= help: maybe a `()` to call it is missing? If not, try an anonymous function``` hint for the [following code](https://is.gd/Ts6OPP):

[code]

The hint does show when not using the turbo fish syntax: ([code](https://is.gd/KRFcsU))

[code]

[2017-05-22 15:52] aturon commented on #41323
I'm renominating, given the exploit that @withoutboats found.

[2017-05-22 16:22] P-E-Meunier opened #42154 "Recursive type error could be made more ergonomic in simple cases"
I suspect this is probably undecidable in the general case, but in my simple case it is decidable.
The following code defines a simple function, with a fairly common pattern of taking an `FnMut`, and threading it through a for loop, recursing at each iteration.

[code]

This causes rustc to loop and dump its "requirement trace".
Would it be possible to either:

- Print a single step of the trace,

[2017-05-22 16:26] Mark-Simulacrum commented on #39316
I'm going to leave this open, actually. I think we can detect the `&mut -> &` borrow case and then print a `help: Reference mutability cannot be downgraded to immutable` or something like that (though this wording is probably terrible). At the very least, we should mention this in the extended explanation for E0502.

[2017-05-22 16:29] Mark-Simulacrum commented on #39608
So I take it this isn't actually a problem since we're just using a fence and tsan doesn't support that? Should we close?

[2017-05-22 16:32] Mark-Simulacrum commented on #39656
This is a feature request to override the environment available at build-time. I'm wondering if build scripts could help here -- perhaps they could clear the environment? I worry though that wouldn't affect dependencies, presumably.

[2017-05-22 16:38] kennytm commented on #39608
Can the false-positive be worked-around by manually annotating the happens-before relationship? See https://stackoverflow.com/questions/37552866/why-does-threadsanitizer-report-a-race-with-this-lock-free-example.

[2017-05-22 16:40] parched commented on #39608
Well, maybe if we could conditionally build without  the fence (rework to use a load/store instead) when tsan is enabled then the error wouldn't be seen.

[2017-05-22 16:48] Mark-Simulacrum commented on #39679
Hm, I haven't seen this but I rarely run linkcheck myself -- if I even have. I'm assuming this might be a race condition somewhere in rustbuild; I think we at least need a strace or similar log so we know what directory is not being opened successfully. From what I can tell, linkcheck is run from here: https://github.com/rust-lang/rust/blob/master/src/bootstrap/check.rs#L71. That makes me assume t

[2017-05-22 17:11] dathinab commented on #35943
I'm not sure if my observation is right but isn't it impossible to return a `&Error` which _does not_ comply with `'static` from a error which does comply with `'static`?
Mainly if I want return a `&Error` of a not static type from a member function the only way I can think of is by returning a reference to something contained in `self`(/the original Error)r but if I do so the _`self`  can not com

[2017-05-22 18:15] brson commented on #36556
I think it is not a _problem_ that these files are BSD licensed - rustc carries a bunch of licenses, including the BSD, but it wouldn't hurt to relicense them.

[2017-05-22 18:17] nikomatsakis commented on #41057
This was done in https://github.com/rust-lang/rust/pull/41662

[2017-05-22 18:17] #41057 closed

[2017-05-22 19:01] nagisa commented on #24194
Seems to not work again on nightly.

[2017-05-22 19:14] Mark-Simulacrum commented on #39684
After waiting for a little bit, this is the log I get. So I think part of the problem here is that we *slowly* recurse; that is, each step appears to take quite a while, so our recursion depth isn't really growing fast.

[code]

[2017-05-22 19:19] chrivers commented on #42054
Update: The playground nightly (`rustc 1.19.0-nightly (14f30da61 2017-05-21)`) now always gives the same error:

[code]

It doesn't make much sense, but at least it's consistent now.

[2017-05-22 19:22] Mark-Simulacrum commented on #42054
Why doesn't it make sense? In theory, u32 *could* implement these traits and as such be a conflicting impl, so Rust doesn't allow you to write it at all.

[2017-05-22 19:25] Mark-Simulacrum commented on #39727
I believe that the concrete thing we need to do here is as @Yamakaky says, change the message to say "Expecting a function, but got {type here}.` It's possible the type information should go in a note instead of in the main message.

[2017-05-22 19:33] Mark-Simulacrum commented on #39745
@jseyfried @nrc What are your thoughts on this? `TokenStream` has landed at least in a reduced form and macros 2.0 is starting to land slowly.

[2017-05-22 19:35] Mark-Simulacrum commented on #39540
Is there something left to solve here? I'm not seeing anything specific...

[2017-05-22 19:51] #39745 closed

[2017-05-22 20:18] Vtek commented on #40787
Hello, i have exactly the same problem.
To be honest, it's not easy to have a working develop environment on Mac with Rust...

[2017-05-22 20:23] michaelherger commented on #31787
Hi there - what rust environment would I have to have in order to get this fix? I installed rust using rustup, and it's currently on rustc 1.17.0 (56124baa9 2017-04-24). Should that be good enough?

I'm asking because I'm seeing "illegal instruction" errors trying to run a arm-unknown-linux-musleabihf build on a Pi1.

[2017-05-22 20:25] nrc commented on #28544
We discussed this at the dev-tools meeting. Our verdict was that this should remain P-low. There was some discussion about printing the test name before a test is run (this is useful if a test segfaults, then you know which test is to blame) - which is #30047.

On this issue, we decided we should not change things because there is low benefit (now that ok/fail is coloured) and there is always a co

[2017-05-22 20:25] #28544 closed

[2017-05-22 20:28] brson commented on #41944
Also affects life-0.1.2 cc @lj-ditrapani

[2017-05-22 20:45] brson commented on #38584
Seems pretty unfeasible that this will make it into 1.18 at this point.

[2017-05-22 20:47] brson opened #42157 "Teach .pkg, .msi, .exe installers about RLS"
RLS can be installed via rustup, but not the other methods yet. We really can't claim RLS is released without.

I'm putting this on the 1.19 milestone because I don't see it being fixed in 1.18 at this point.

cc @nrc

[2017-05-22 20:48] brson commented on #42157
Help would be appreciated for any of the three packaging solutions. RLS should be a non-default component.

[2017-05-22 20:55] Mark-Simulacrum commented on #39763
Today we don't have any verification logic or otherwise in regards to `adb`, just pulling it from the path [here](https://github.com/rust-lang/rust/blob/81734e0e06d24cf580dd5352c64d10110e4d3b7b/src/bootstrap/check.rs#L271). As such, I guess this isn't a problem in that there is no check anymore, though we will still have problems if a wrong adb is used (which may be cryptic, I don't know). I'm goi

[2017-05-22 20:55] #39763 closed

[2017-05-22 20:57] Mark-Simulacrum commented on #38454
This looks like a Cargo issue, since as far as I know rustc itself doesn't really have any special logic along these lines. As such, I'm going to close; please refile there if this is still a problem.

[2017-05-22 20:57] #38454 closed

[2017-05-22 20:59] ofek commented on #38584
@retep998 Did you have an opportunity to put together that crate?

[2017-05-22 21:02] Mark-Simulacrum commented on #39779
Closing in favor of #29997 which I believe is a duplicate of this.

[2017-05-22 21:02] #39779 closed

[2017-05-22 21:19] Mark-Simulacrum commented on #39473
I propose that we close this issue since this is something that is intentional for now; should we ever move to Rust implementations of math functions, most likely all functions on f32/f64 should be reevaluated for inclusion in core. cc @rust-lang/libs

[2017-05-22 21:22] venkatagiri commented on #39553
@Mark-Simulacrum, the example attached in duplicate issue #39929 is stilling ICEing. https://is.gd/yWRQML

[2017-05-22 21:22] Mark-Simulacrum commented on #36503
So a few NatViz visualizations landed in #39843; did that help with this issue? Could someone with access to MSVC check the current status here and report back on what else needs to be added?

[2017-05-22 21:24] Mark-Simulacrum commented on #39553
I'll reopen that one then since it apparently was *not* a duplicate.

[2017-05-22 21:24] Mark-Simulacrum commented on #39929
See #39553, which no longer ICEs, while this continues to do so -- reopening.

[2017-05-22 21:28] Mark-Simulacrum commented on #39726
@rust-lang/dev-tools Looks like this needs a decision on what rustdoc should show in this case: Do we want some form of `[expanded]` link which takes the user to a (rustfmt-ated?) expansion of the macro.

[2017-05-22 21:33] Mark-Simulacrum commented on #39789
@GuillaumeGomez You assigned this to yourself, but I believe nothing has been done here -- it's not super clear to me what direction we want to take either; I think the two main proposals are `--test-arg` (probably passable multiple times) and splitting with something like shlex. We could use shlex today fairly easily, though I'm uncertain that's the best solution here. The crate doesn't look quit

[2017-05-22 21:34] freebroccolo commented on #38584
Would it be possible to add some workaround documentation somewhere at least? Running `vcvarsall` from the terminal (and launching editors from there) works fine and isn't too much hassle really.

[2017-05-22 21:37] QuietMisdreavus opened #42158 "man page for rustdoc is out of date"
[the man page in question](https://github.com/rust-lang/rust/blob/master/man/rustdoc.1)

For example, it still talks about json output, which hasn't been a thing in a long time. There are probably some remarks that could be made about command line arguments, as well. For example, it could include a note about how you can change the passes used to render documentation for private items.

[2017-05-22 21:44] stjepang commented on #41270
@Rufflewind That's a great find in the `BinaryHeap` example! :)

Yes, the answer is that `Ord`, `PartialOrd`, `Eq`, and `PartialEq` must be consistent with each other.
The documentation must clearly indicate that.

More concretely, here's what is I suggest changing:

1. The docs for `Ord`, `PartialOrd`, `Eq`, and `PartialEq` all have a section titled "How can I implement `X`?". Those sections shou

[2017-05-22 21:45] venkatagiri commented on #38821
@Mark-Simulacrum I want to contribute the test for this issue.
By the example you have provided, my guess would be that we need an UI test in `src/test/ui/span/` with issue-38821.rs and issue-38821.stderr files.

Is that correct?

[2017-05-22 21:46] #34926 closed

[2017-05-22 21:47] QuietMisdreavus commented on #34926
Closing via #41084, which renders fn signatures according to style RFCs.

[2017-05-22 21:50] est31 commented on #24194
I've used @Mark-Simulacrum 's bisection tool to find out the regressing commit. It was the LLVM 4.0 upgrade, commit 0777c757a6832dc5f8f218377f99960f5477311f .

[2017-05-22 22:24] nikomatsakis commented on #41944
I think I have verified that life-0.1.2 is fixed by https://github.com/rust-lang/rust/pull/42053. Though I wonder if I've messed up my testing setup.

[2017-05-22 22:26] Mark-Simulacrum commented on #38821
@venkatagiri I think a compile-fail test would be enough here; we primarily want to just make sure it doesn't ICE. To do that, I'd say that [the example code](https://gist.github.com/anonymous/58333d19f924d19bac6449b7d75d965a) needs to be put into a file in `src/test/compile-fail` and annotated with the related messages. Let me know if you have any more questions; I'd be happy to help. Please r? m

[2017-05-22 22:27] Mark-Simulacrum commented on #42158
All of the manpages, to my knowledge, are out of date; see https://github.com/rust-lang/rust/issues/25689.

[2017-05-22 22:30] zrneely commented on #39929
I have run into this issue multiple times since then while using `conservative_impl_trait`, and as far as I can tell, it occurs in all cases where the trait returned has a borrowed type in a generic parameter - I'm surprised the example in the other issue doesn't ICE.

[2017-05-22 22:33] QuietMisdreavus commented on #25608
Closing as duplicate in favor of #33772, which had more discussion.

[2017-05-22 22:33] #25608 closed

[2017-05-22 22:48] brson commented on #32836
This is unlikely to make 1.19.

[2017-05-22 22:57] fitzgen commented on #39726
I would personally expect to land at the macro invocation (or meta attribute for a custom derive macro).

It would *also* be great to be able to click on the macro from that view to jump to its definition (or some other equally ergonomic way to jump there), but that seems like a follow up issue to me.

This would be really neat (but again feels like a separate issue from this one). In general, I t

[2017-05-22 23:03] brson commented on #33156
No progress here lately. @eddyb what's the likelihood of fixing https://github.com/rust-lang/rust/issues/40036 any time soon?

[2017-05-22 23:04] brson commented on #29646
Will this make it in for 1.19?

[2017-05-22 23:08] brson commented on #41200
Oops I duped this in https://github.com/rust-lang/rust/issues/42157

[2017-05-22 23:08] #41200 closed

[2017-05-22 23:08] Rufflewind commented on #41270
I think Eq can still be derived since it has no methods.

[2017-05-22 23:15] withoutboats commented on #29646
I was hoping so but we just discovered a soundness bug at #41323, not sure if that will be fixed in time

[2017-05-22 23:25] brson commented on #41681
cc @rust-lang/lang Ready for stabilization?

[2017-05-22 23:29] brson commented on #39817
2 weeks to get this in for 1.19

[2017-05-22 23:30] brson commented on #35896
I don't understand all the parts at play here, but I want to be able to reexpert macro_rules macros from other crates in stdx.

[2017-05-22 23:38] alexcrichton commented on #41797
Ok, I think everything's landed here

[2017-05-22 23:38] #41797 closed

[2017-05-22 23:42] est31 commented on #39817
If we want it in until then, this can become tight.

In the optimal case, people can already prepare PRs to the respective repositories for the [neccessary steps required](https://github.com/rust-lang-nursery/rust-forge/blob/master/stabilization-guide.md) for stabilisation, like documentation.

Also, as the time is pressing, it would be nice to have contributors for this who can devote enough time

[2017-05-22 23:49] withoutboats commented on #41681
@rfcbot fcp merge

[2017-05-22 23:50] withoutboats commented on #35896
@brson The conclusion of our lang team discussion was that we probably aren't going to migrate to this until macros 2.0.

[2017-05-22 23:52] est31 commented on #41646
One example for how the snake case style helps you to identify a bug: https://is.gd/XArdpj

You need to look twice to see that the last case in the match is creating a new variable instead of being an actual enum variant.

[2017-05-22 23:57] zackw commented on #39188
@Mark-Simulacrum I don't understand why you say "it's not clear to me that std itself can do much"?  I'm only asking for the addition of `Child.set_exit_status`.  Only the stdlib can do that, and that is enough for the stdlib to do.  It is somewhat awkward, admittedly, but it is enough for the likes of tokio to build a clean API around.

[2017-05-23 00:02] Mark-Simulacrum commented on #39188
I have no idea really what I was saying there... yeah, this seems quite reasonable. I think the best approach here would be to put up a PR implementing this and then we can discuss there and hopefully merge. I don't see much that is controversial here (though not personally hugely familiar with the topic).

[2017-05-23 00:12] est31 commented on #41289
Oh so you made PR #41295 ... only discovered it now. It has rougher categories than what was suggested by me, but I think its a good compromise. Thanks! Closing.

[2017-05-23 00:12] #41289 closed

[2017-05-23 00:35] nikomatsakis commented on #35943
Interesting thought. Something like this might indeed work.

[2017-05-23 00:36] nikomatsakis commented on #39280
Some refactoring has been done, but the main change remains undone. I've been meaning for a while now to try and write-up a few notes and try to mentor a PR for this.

[2017-05-23 00:46] nikomatsakis commented on #21906
@krdln

The summary is that, today, if a value gets returned out of the function on **any** path, the loan must be valid for the rest of the function on **all** paths. Under the NLL proposal I wrote up, that restriction is lifted.

In more detail, if you take the elaborated signature here, you can see that we must return a reference with lifetime `'a`:

[code]

now observe that we call `let k = se

[2017-05-23 01:04] Rufflewind commented on #29997
Reposting #39779 here for future reference:

---

This seems to [cause rustc to crash](https://is.gd/jEgny0) (link shows a slightly more complicated example than the reduced example below):

[code]

It looks like it forgot to normalize `<() as Fun<'a>>::Output` to `&'a str`?

    error: internal compiler error:
        src/librustc_trans/common.rs:473:
        Encountered error
            OutputT

[2017-05-23 01:06] est31 commented on #42042
PR #42053 with a backport of the suspected fix #41651 just landed on the beta branch. It should be less than 24 hours until its available on the rustup beta channel so that it can be used for re-evaluation of this issue.

[2017-05-23 01:45] est31 commented on #39817
So I've opened PRs to document and stabilize the feature, to hopefully speed up the process around those.

@steveklabnik do you think the book requires documentation of this feature before stabilization?

[2017-05-23 03:15] ShadowNinja opened #42164 "ICE when passing a macro expression to a macro using it in an attribute in 1.18.0 and later"
I found out that `#[export_name = concat!("external_", "name")]` doesn't work, so I got a bit creative and tried this (reduced example):
[code]

Which lead to this:
[code]

It just prints an error on stable (1.17.0):
[code]

And of course:
[code]

[2017-05-23 04:47] imanti commented on #41698
I'd like to take this one if it's not yet assigned.

[2017-05-23 05:14] skade commented on #41646
@est31 I find this example rather contrived (it switches off multiple layers of safety _and_ imports the matching shorthand).

Sure, "nonstandard_style" brings you half-way there, but the option is in the compiler and supported, this discussion is about an alias only.

[2017-05-23 05:57] oli-obk commented on #41698
@imanti go ahead! It's all yours

[2017-05-23 07:14] #37608 closed

[2017-05-23 07:14] #38821 closed

[2017-05-23 07:55] GuillaumeGomez commented on #39789
I didn't do anything on this because I'm not convinced by the proposed suggestion. I wanted to talk about it in a doc meeting but completely forgot. Adding needed tags.

[2017-05-23 08:01] devurandom commented on #42099
Build log when using the [current ebuild](https://github.com/devurandom/gentoo-overlay/blob/952f9f28cffb589fe6630209913c6428cfa9da39/dev-lang/rust/rust-1.17.0.ebuild): https://gist.github.com/devurandom/1223ee18f46c6ed866b386ec7009dbbb

You are right that, after bootstrapping, the build was verbose in the [logs](https://gist.github.com/devurandom/2394f56b11844dfca9e022cca9e235f3#file-build-log-L10

[2017-05-23 08:31] Havvy opened #42166 "Document why std::process::Child methods return Results"
The documentation text of the methods for [std::process::Child](https://doc.rust-lang.org/nightly/std/process/index.html) don't say why the methods return results. The examples do contain `.expect("command wasn't running")`. From this, I ask these questions: Is that the only reason these methods can fail? Why can the process spawn, but the command "wasn't" running? Does "wasn't" mean at the time t

[2017-05-23 08:50] darkwater commented on #41620
I might be missing something here, but I see this also applies to ranges, ie.

[code]

gives warning: floating-point literals cannot be used in patterns.

Is this intentional? I feel like this is a pretty common pattern.

[2017-05-23 09:12] nrc commented on #39726
IMO, expanding macros is a bit beyond the scope of Rustdoc, at least for now (I have the vaguest of plans to make this work with save-analysis, etc.).

There is various info about the macro expansion in the span, so what can be displayed might be constrained by that. We should probably be able to follow errors, which try to 'do the right thing' for showing either macro definitions or invocations.

[2017-05-23 09:59] scottmcm opened #42168 "Tracking issue for `step_trait` stabilization"
Split off from https://github.com/rust-lang/rust/issues/27741 because the stabilization path for `step_by` have moved to being on iterators (https://github.com/rust-lang/rust/pull/41439), and thus not using the `Step` trait.

- [ ] Remove `step`, `steps_between`, and `is_negative` once Range::step_by is deleted
- [ ] Replace `replace_zero` and `replace_one` with something more useful (some options

[2017-05-23 10:00] michaelwoerister commented on #42101
So the problem here is that the code assumes that the file name uniquely identifies a `FileMap` within a crate. However, each instantiation of a proc-macro allocates a new `FileMap` it seems and all of them are named `<proc-macro source code>`.

There are several ways of solving this:
1. Don't track FileMaps after all. We would have to rely on the fact that everything having access to a `Span` val

[2017-05-23 10:47] glyn opened #42170 "E0493 is missing from https://doc.rust-lang.org/error-index.html"
This [example](https://is.gd/2oBXp7) (correctly) fails to compile with "error[E0493]: destructors in statics are an unstable feature", but https://doc.rust-lang.org/error-index.html#E0493 is not found.

There is however some documentation in [librustc_mir/diagnostics.rs](https://github.com/rust-lang/rust/blob/910c4816fdee01a1299d11a5e85ebb4aceee6d1a/src/librustc_mir/diagnostics.rs#L382):
[code]

[2017-05-23 11:13] krdln commented on #21906
@nikomatsakis
Thanks, it helped somewhat. But there's one little thing that I don't understand – what exactly happens when you write `self` in your code – how the reborrow of `self` works. I've read your exaplanation of the "Problem case 3" (`get_default`), where you inline the code inside the caller, but there, you've changed every use of `self` into borrowing the `map` variable directly, so that

[2017-05-23 11:17] Mark-Simulacrum commented on #42170
I'm going to close this in favor of https://github.com/rust-lang/rust/issues/34588 which tracks the larger issue of the error index being insufficiently tested as well as not really processed in full. Thanks; this has reminded me that I wanted to devote some time to fixing this 'soon.'

[2017-05-23 11:17] #42170 closed

[2017-05-23 11:24] chrivers commented on #42054
Well, since the "fix" module no longer makes rustc accept the program, this is definitely less confusing.

I think the rule is that the type has to be defined in my crate as well? So `Option<T>` is no good, but my (almost identical) `Field<T>` fits in this arrangement. This seems quite surprising when working with it.

It means that it's impossible(?) to create a blanket impl when specializing for

[2017-05-23 11:28] glyn commented on #42170
@Mark-Simulacrum Thanks. I was hoping for an outcome along those lines. :-)

[2017-05-23 11:43] Mark-Simulacrum commented on #42054
Precisely. Rust wants to avoid having the addition of such an impl be a breaking change.

I'm not sure on the specifics myself, though so it's hard for me to discuss the not completely concrete cases. Feel free to ask on users.rust-lang.org, too, if you have questions!

[2017-05-23 12:17] cengizIO commented on #41948
This can be closed since #42144 has landed.

[2017-05-23 12:25] CasualX commented on #39473
I completely forgot about this issue! I agree with Mark, the subject seems settled that for now this is expected behaviour due to how core works.

[2017-05-23 12:56] nikomatsakis commented on #36799
@urschrei I believe that now two PRs have landed that (together) should dramatically reduce peak memory usage (#42023, #41926). Would you be so kind as to check whether things are working again once the next nightly is issued?

[2017-05-23 13:01] nikomatsakis opened #42171 "refactor ProjectionTy to store def-id of associated item + substs"
In preparation for ATC, we should refactor `ProjectionTy` to store the `DefId` of the trait associated item along with a set of substs for that item. (Currently, it stores a trait-ref (trait def-id + substs) and item name.) Currently, these substs will always be the same as the substs for the trait, but once ATC lands they will include additional items.

cc @tschottdorf, who has started in on this

[2017-05-23 13:01] sanmai-NL commented on #10234
I think there should be a catch-all lint group, that objectively enables all lints. Whenever programmers decide subjectively to allow lints in some instances, they may do that on a case-by-case basis. And if an implemented lint simply does not make sense at all then it should be improved/removed. The existing lint group `warnings` apparently does _not_ include all built-in lint groups, contrary to

[2017-05-23 13:06] sanmai-NL opened #42172 "Multiple lints incorrectly not included with `unused` lint group"
In `rustc 1.19.0-nightly (01951a61a 2017-05-20)`, and [reproducible](https://play.integer32.com/?gist=59abe54c8c96c3d56770c4f4c562997f&version=undefined).

[2017-05-23 13:08] sanmai-NL commented on #23542
Type ascription is a nightly-only feature, right?

[2017-05-23 13:08] urschrei commented on #36799
@nikomatsakis Yep will do. Windows i686 is the last holdout; the current x86_64 Nightly is passing on macOS, Linux, and Windows.

[2017-05-23 13:11] sanmai-NL commented on #42172
In #30849 @alexcrichton wrote this lint has been `allow` by default. Based on a short survey of this issue tracker and that issue in particular, I think there's no reason left to leave it at `allow` instead of `warn`.

[2017-05-23 13:34] sanmai-NL commented on #42172
Same is true for the `unused-features` lint.

I don't know if `rustc -W help` is reliable, but it does not list the two ‘sub-lints’ there (same `rustc` version):
[code]

[2017-05-23 13:37] sanmai-NL commented on #39996
Duplicate of #23528, @Mark-Simulacrum?

[2017-05-23 13:38] sanmai-NL commented on #26135
Duplicate of #23528, @Mark-Simulacrum?

[2017-05-23 13:52] Mark-Simulacrum commented on #23542
Yes, it is. The tracking issue is https://github.com/rust-lang/rust/issues/23416.

[2017-05-23 13:57] Mark-Simulacrum commented on #10234
Reopening.

However, I think we shouldn't have any sort of "enable all lints" option; rustc's lints are already all intended to have no or very few false positives (and as such are enabled by default where that makes sense). Could you talk about which specific lints are missing from the default warnings built-in list? I'm not personally aware of any. I'm also somewhat concerned that a `-Wall` or s

[2017-05-23 13:58] Mark-Simulacrum commented on #26135
Yep! Thanks.

[2017-05-23 13:58] #26135 closed

[2017-05-23 13:58] Mark-Simulacrum commented on #39996
Yeah, I'd say so. Thanks!

[2017-05-23 13:58] #39996 closed

[2017-05-23 14:43] Mark-Simulacrum commented on #39704
I believe we should add a dedicated `contributing` option to the config for libc, [here](https://github.com/nrc/highfive/blob/master/highfive/configs/libc.json). I'm uncertain how the deploy process for highfive works today though.

[2017-05-23 14:53] Mark-Simulacrum commented on #39362
This no longer ICEs. E-needstest.

[2017-05-23 14:59] Mark-Simulacrum commented on #39445
This appears to be fixed today as far as I can tell. Or, at least, I cannot reproduce.

[2017-05-23 15:04] michaelwoerister commented on #42101
I was about to make a PR implementing approach (1) when I found a problem with it: In a cross-crate scenario with crate `A` depending on crate `B`, when `B` is compiled without debuginfo and `A` is compiled with debuginfo, then functions inlined from `B` into `A` can end up with invalid debuginfo. The reason for this is that `B`, being compiled without debuginfo does not feed spans into the item h

[2017-05-23 15:09] Mark-Simulacrum commented on #39819
cc @rust-lang/libs, I assume we probably want this developed out-of-tree as per usual? Probably in the `net2` crate?

[2017-05-23 15:20] Drakulix opened #42174 "std::net::Ipv6Addr::to_ipv4 maps ::1 to an invalid IP (0.0.0.1)"
`std::net::Ipv6Addr::to_ipv4` maps `::1` to an invalid IP (`0.0.0.1`)

I tried this code to make a very simple and crude IP filter (sufficient for my use case):

[code]

I expected to see this happen:

I expected `std::net::Ipv6Addr::to_ipv4` to return something like `Some(127.0.0.1)` for `::1` or at least `None`, because you could argue, that `::1` is not strictly the same as `127.0.0.1`, but the

[2017-05-23 15:20] Mark-Simulacrum commented on #37508
Presumably fixed by LLVM backport -- doesn't reproduce today. I'm marking as E-needstest since it seems like something we should track in tests.

[2017-05-23 15:26] Mark-Simulacrum commented on #39842
As far as I can tell, this is a documentation issue. I'm not sure, but I don't recall seeing async process communication (or file IO) in Tokio, though I may have missed it.

[2017-05-23 15:27] Mark-Simulacrum commented on #33051
Closing as per previous comment.

[2017-05-23 15:27] #33051 closed

[2017-05-23 15:39] nagisa commented on #42174
This works as documented:

This conversion follows the RFC 4291 and will be the same everywhere.

[2017-05-23 15:45] aidanhs commented on #37508
@Mark-Simulacrum fwiw this is tricky to do a test for unless we want to do yet another rustc build in CI. I'm going to be rebasing our Rust fork 'shortly' and was planning to just close this issue once that's done and I've verified everything is working.

[2017-05-23 15:50] Drakulix commented on #42174
So returning an invalid IP Address is actually expected behavior?
In that case, I would very much like to see the documentation updated to state that and maybe to link to the RFC. I was not able to extract that Information from the documentation and I still think I was rightfully confused.

[2017-05-23 15:54] nagisa commented on #42174
0.0.0.1 is a valid IPv4 address. See [RFC 6890](https://tools.ietf.org/html/rfc6890#section-2.2.2).

[2017-05-23 16:03] sfackler commented on #39819
These are just a couple of new consts, right? I don't see any reason to not just add them (unstable at first of course).

[2017-05-23 16:05] whoisj commented on #38584
A simple .cmd file with the following should remedy most issues:

[code]

[2017-05-23 16:09] sfackler commented on #42166
"command wasn't running" is not really the right message there - at least on Unix systems waitpid will fail if that child's exit was already collected by something else in the process.

[2017-05-23 16:14] poke commented on #38584
@freebroccolo @whoisj Running `vcvarsXY` is limited to cmd shells which is only one of (by now) many command lines that exist on Windows. Surely, doing that is an acceptable workaround, but ultimately, Rust needs the ability to find the correct linker itself (which is what this issue is about).

[2017-05-23 16:15] Drakulix commented on #42174
Alright. Then sorry for filling an invalid issue, although I would like to see the docs to be improved for this method.

[2017-05-23 16:48] codingHahn commented on #20866
@killercup 's repo works, but the files need to be updated. @killercup how would I do this?

[2017-05-23 17:12] whoisj commented on #38584
@poke, then the build scripts need to find and run the vswhere.exe executable, and use it's output to populate the build's environmental variables. The `vcvars` scripts do only that.

[2017-05-23 17:19] freebroccolo commented on #38584
My point is that if this can't be fixed in the next release then there should at least be documentation on a workaround so that people don't have to waste a lot of time tracking down a solution that is already known. I agree it should be fixed properly somehow.

[2017-05-23 17:29] torkleyy opened #42176 "Allow limiting the number of benchmark iterations"
I'd like to have a limit for benchmarks, because sometimes they execute the closure too often.

Maybe we could expose `BenchMode` and add a variant `Constant(usize)` to it?

[2017-05-23 17:30] Mark-Simulacrum commented on #39819
I believe so, though I'm uncertain. @luser Are these just a set of constants?

[2017-05-23 17:31] Mark-Simulacrum commented on #37508
Oh... do we need to rebuild rustc for it? I was under the impression that just `rustc -Ccode-model=large` was enough to test. That's all I did...

[2017-05-23 17:36] jsgf commented on #39656
I don't think a build script would work, because that would imply that the build script is invoking rustc rather than cargo itself. (It also doesn't cope with the case of setting the env for the build script itself).

An alternative is that cargo could override the environment before invoking rustc, but it's not possible to override the entire environment so long as the build process itself needs

[2017-05-23 17:41] poke commented on #38584
@whoisj Populating environment variables just for the sake of calling one specific executable from the PATH then is a bad way to solve this. The proper solution, which is being worked on, is to just call the linker at the correct location.

@freebroccolo Technically, according to the installation manuals, Rust does not appear to officially support Visual Studio 2017 yet, and always mentions to req

[2017-05-23 18:16] Mark-Simulacrum commented on #39911
cc @rust-lang/docs, this feels like an E-easy issue to me, tagging as such -- we should add the links to the unchecked method documentations pointing to safe indexing (`get`, probably, where applicable as well as noting indexing with the `Index` trait). Does that sound good?

[2017-05-23 18:20] Mark-Simulacrum commented on #39900
So this needs two parts: One for gcc-rs, probably changing something around [here](https://github.com/alexcrichton/gcc-rs/blob/master/src/lib.rs#L563) and in rustbuild within this repo updating us to use those flags.

[2017-05-23 18:23] luser commented on #39819
Yes, these are all just constants.

[2017-05-23 18:27] jan-hudec commented on #41570
Does anybody have a link for the upstream bug?

Because programs, or even Rust runtime, are definitely not supposed to do this. `res_init()` is a GNU LibC implementation-specific function (OK, shared with BSD LibC, but no standard), while `getaddrinfo()` is POSIX. So use of `getaddrinfo()` can't depend on user fiddling with `res_init()`. And the [specification](http://pubs.opengroup.org/onlinepubs

[2017-05-23 18:38] jonhoo commented on #41570
@jan-hudec see https://github.com/rust-lang/rust/pull/41582 for some further discussion. This is a bug in glibc (other libc implementations do not have this problem as they either do not cache, or they flush the cache when the set of nameservers change). It is reported upstream at https://sourceware.org/bugzilla/show_bug.cgi?id=984, but it seems unlikely that a fix will land any time soon.

I woul

[2017-05-23 18:44] GuillaumeGomez commented on #39911
@Mark-Simulacrum: Yep, all good.

[2017-05-23 18:56] malbarbo commented on #39789
@GuillaumeGomez I do not see any change in the code. What do you mean by "it seems it has already be done actually"?

[2017-05-23 18:59] Mark-Simulacrum commented on #39951
Could you provide more details? A log of `RUST_LOG=cargo::metadata=info` would be helpful.

[2017-05-23 19:00] jan-hudec commented on #41570
Oh, that's why I haven't seen the issue for ages—Debian carries a fix for it.

[2017-05-23 19:01] GuillaumeGomez commented on #29253
I think we can close it? Just reopen it if you feel something is missing.

[2017-05-23 19:01] #29253 closed

[2017-05-23 19:03] vbarrielle opened #42179 "rustc 1.18 beta type inference regression"
Hello, it looks like type inference has a regression on the latest beta.

With rustc at the version `rustc 1.18.0-beta.2 (f4e8e81c3 2017-05-11)`, the code at https://github.com/vbarrielle/sprs/blob/master/src/sparse/triplet.rs#L464-L483 fails with:

[code]

However, this compiles fine on stable. It also compiles fine on the latest nightly, so it may have been fixed while fixing another type infere

[2017-05-23 19:06] Mark-Simulacrum commented on #39946
@petrochenkov I don't see an error on the associated function yet; so presumably the "soon" is not yet here. Or did some implementation miss this case?

[2017-05-23 19:16] Mark-Simulacrum commented on #39948
As far as I can tell this works today, so I'm going to close. `rustc --emit=metadata -Cpanic=abort --test test.rs` works on:

[code]

[2017-05-23 19:41] #22820 closed

[2017-05-23 19:41] brson commented on #22820
Thanks @est31

[2017-05-23 19:52] patricksjackson commented on #26758
The broken update hasn't been reported since 1.1, almost two years ago. Does this still need a fix?

[2017-05-23 19:58] dtolnay commented on #30877
@rfcbot reviewed

[2017-05-23 20:07] Mark-Simulacrum commented on #39964
I don't think this is really a direct issue since this basically resolves to the macro expander being unable to handle ambiguity between macro arms. As such, I'm going to close.

[2017-05-23 20:07] #39964 closed

[2017-05-23 20:07] Wilfred commented on #39948
@Mark-Simulacrum I don't think your test is equivalent. The example from the first comment still fails on current Rust. Could you please reopen?

[2017-05-23 20:15] clarcharr commented on #30877
I also think that we should rename the trait, and move it to `core` as well. I will rework my PR for moving it soon.

Perhaps `RangeBounds`?

[2017-05-23 20:23] djzin opened #42181 "Bounds in HRTB are ignored"
The syntax `where for<'b: 'a> ...` is permitted without warning, however the `: 'a` bound is not used to prove the identity; I would expect the following to compile:

[code]

but it fails with

[code]

[2017-05-23 20:28] alexcrichton commented on #42135
cc https://github.com/rust-lang/rust/pull/42134, a fix

[2017-05-23 20:35] #39473 closed

[2017-05-23 20:38] rkarp commented on #25041
Interestingly, this works:
[code]
But this doesn't:
[code]

[2017-05-23 20:38] brson commented on #39288
@rfcbot merge

[2017-05-23 20:38] aturon commented on #39381
We discussed this in the libs team meeting today. The problem with allowing public constructors is that it precludes you ever extending the error with additional fields or variants.

An alternative is to make sure there are enough public accessors that you can write tests using the accessors, rather than by ginning up an error.

[2017-05-23 20:38] #39381 closed

[2017-05-23 20:39] sfackler commented on #35068
@rfcbot fcp merge

[2017-05-23 20:44] aidanhs commented on #37508
Urgh yes. Sorry, this issue has a lot of history for me and I'd forgotten parts of it.

Running the `#![no_std]` testcase above is indeed a valid test of the issue :)

[2017-05-23 20:45] aturon commented on #25663
We discussed this in triage today, and the libs team is in favor of adding these methods to `Ord`

[2017-05-23 20:46] Mark-Simulacrum commented on #25663
[De-nominating]

[2017-05-23 20:47] Mark-Simulacrum commented on #39974
E-needstest.

[code]

[2017-05-23 20:58] zackw commented on #38526
I'm confused; hasn't this already been merged?

[2017-05-23 21:00] Mark-Simulacrum commented on #38526
Yes, but it's currently [unstable](https://doc.rust-lang.org/nightly/std/process/struct.Command.html#method.envs). The FCP above starting means that the libs team believes the API is ready for stabilization.

[2017-05-23 21:01] Mark-Simulacrum commented on #39920
I don't believe there's a bug here, so I'm going to close. Please ask if you have any more questions though; users.rust-lang.org may have a wider audience than here :)

[2017-05-23 21:03] #39920 closed

[2017-05-23 21:05] dtolnay commented on #35068
@rfcbot reviewed

[2017-05-23 21:09] zackw commented on #38526
Oh, ok. Thanks for the explanation.

[2017-05-23 21:10] dtolnay commented on #39288
@rfcbot reviewed

[2017-05-23 21:13] alexcrichton commented on #42099
Ok thanks for the clarification! In that case I believe the fix would just go [somewhere around here](https://github.com/rust-lang/rust/blob/5b13bff5203c1bdc6ac6dc87f69b5359a9503078/src/bootstrap/bootstrap.py#L386-L392)

[2017-05-23 21:36] petrochenkov commented on #39946
@Mark-Simulacrum
"Soon" is about resolving UFCS paths like `<X>::a` to variants (and [resolving variants as associated items](https://github.com/rust-lang/rust/issues/26264) in general), the error on inherent associated items "overlapping" with variants is a separate (and also unimplemented) thing.

[2017-05-23 22:34] maurer commented on #24010
[code]
https://is.gd/VcQmki

is another concrete use case - if I want to extend `Iterator` in this way, I need to write LeapfrogIterator<K, V, Item=(K, V)> every time I want to talk about the trait, even though this is the only legal value for Item to take on. (This doesn't express the bug in a new way, but is an example I ran into organically and eventually found this bug due to.)

[2017-05-23 23:56] aturon commented on #30877
I'm on board with this API in general, but agree with @clarcharr that there's a bit of bikeshedding to be done before final stabilization. `RangeBounds` seems pretty good to me!

[2017-05-24 00:24] Stebalien commented on #30877
Lest we miss a shade:

* `RangeBounds` (ties it in with the range family)
* `Bounds` (shorter)
* `InRange` (I'd expect an `InRange::in_range` method if we called it this)
* `RangeArgument` (current)
* `Span` (could be confusing for new rustc contributors)
* `Interval` (a synonym of range)

(pedantic nit: the unbounded variant (as currently defined) is `Bound::Unbounded` not `Bound::Unbound`.)

[2017-05-24 00:29] beamspease commented on #24189
I'm running into an error in enum_primitive that according to the bug report is blocked on this issue

[2017-05-24 00:35] Stebalien commented on #42174
Ideally, `to_ipv4` shouldn't translate IPv4 compatible addresses as they are deprecated and I have the feeling that including `::1` was a bug in the spec.

[2017-05-24 00:50] urschrei commented on #36799
[Still failing](https://ci.appveyor.com/project/urschrei/lonlat-bng/build/job/5vhcyssoqb1n5tb3) on Windows i686 using Nightly 5b13bff5203c1bdc6ac6dc87f69b5359a9503078.

[2017-05-24 00:52] kitsuneninetails commented on #42007
Any attempt to wrap the nanomsg library's errors will also trigger this, as they use enums with casts.

[2017-05-24 01:06] aturon opened #42183 "Tracking issue for RFC 1951: Finalize syntax and parameter scoping for `impl Trait`, while expanding it to arguments"
This is a tracking issue for the RFC "Finalize syntax and parameter scoping for `impl Trait`, while expanding it to arguments" (rust-lang/rfcs#1951).

**Steps:**

- [x] Implement the RFC (cc @rust-lang/lang, @rust-lang/compiler  -- can anyone write up mentoring instructions?)
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [ ] Stabilization PR ([see instructions on forge][sta

[2017-05-24 01:10] eddyb commented on #25041
@rkap That is a direct consequence of our rules. Do note that you don't need `O` in a `PhantomData` because it's fully determined by `F` and `I`.

[2017-05-24 01:19] brson commented on #38584
I've started a patch to gcc-rs to fix this: https://github.com/brson/gcc-rs/tree/vs2017

It gets rustup past the check in https://github.com/rust-lang-nursery/rustup.rs/issues/1003, and now I'm working on integrating it into rustc.

cc https://github.com/alexcrichton/gcc-rs/issues/143

[2017-05-24 01:34] clarcharr commented on #30877
The main reason I chose `RangeBounds` over `Bounds` was that having `Bound` be an enum and `Bounds` be a trait could be confusing.

If we had more hindsight I'd say that `Range` would be the trait and `RangeExclusive` would be the current `Range`, but that's not an option at the moment.

[2017-05-24 03:54] Mark-Simulacrum commented on #34222
This no longer ICEs today. E-needstest.

[2017-05-24 05:42] tcosprojects commented on #36927
Have you tried it with optimization? In my case whether the undefined behavior manifested depended on surrounding code and if it was optimized.

[2017-05-24 06:05] oli-obk commented on #39445
It's not fixed yet: https://github.com/Manishearth/rust-clippy/issues/1500#issuecomment-303550726

[2017-05-24 06:39] ranma42 commented on #21724
The next version of rustup should include https://github.com/rust-lang-nursery/rustup.rs/pull/1100, hence it should use XZ by default (if available).

[2017-05-24 06:55] TimNN commented on #42148
This can be reproduced without directly using the intrinsic as well:

[code]

[2017-05-24 06:57] devurandom commented on #42099
Thanks for the hint. I came across that part about a hundred times, but failed to make the connection. Please find the fix in #42186.

On the other topic: Is it possible to make Cargo / `rustc` output a list of directories where it searched for a "crate"? I tried setting `LD_LIBRARY_PATH` and `RUSTC_SYSROOT`, but I cannot make `rustc` pickup the `libstd-13f36e2630c2d79b.so` in `rustc-1.16.0-x86_64

[2017-05-24 07:16] scottmcm commented on #35428
One thing that's unfortunate about `is_empty` being on `ExactSizeIterator` is that it would also make sense on `TrustedLen`.  And their slightly-different requirements mean that either choice leaves out things that could have it easily -- `Chain` **x**or `Skip` can have it, if it's on only one of those two traits.  And if it's on both, it'll be ambiguous on a whole bunch of common iterators...

[2017-05-24 07:41] efyang commented on #42157
So if I'm looking at this right the main files that would need to be changed are `src/bootstrap/dist.rs` and the manifests in `src/etc/installer/`. Could I try taking up this issue?

[2017-05-24 07:47] o01eg commented on #42157
Can it be related to https://github.com/gentoo/gentoo-rust/issues/255 ?

[2017-05-24 08:08] scottmcm opened #42187 "Unhelpful parser error trying to get an associated item from an array type the intuitive-but-wrong way"
Example asked about on IRC:
[code]

Simple [repro](https://is.gd/5kZ7e9):
[code]
Current error:
[code]

The direct solution (`<[f32; 2]>::deserialize`) is non-obvious and hard to search for, so the compiler could be particularly helpful here.

[2017-05-24 08:08] sharazam commented on #41620
Yeah, I gotta ask, how am I supposed to do clean pattern matching with floating point ranges. I know floating points are hard, but isn't there a way to make this work in ranges? Example (real) code that gives a warning now:

[code]

How should I write this instead?

[2017-05-24 08:17] getreu commented on #39381
Thank you. Could you please point me to a piece of code how to implement it?

[2017-05-24 09:18] scottmcm commented on #30877
Meta: I'm confused exactly what's in FCP here.  I see "stabilization", but also "move to core" and "bikeshedding to be done".

Regarding the trait: should it be the home of things like the `Range*::contains` methods ([`range_contains` feature](https://github.com/rust-lang/rust/issues/32311))?  And have an `is_empty` method (like came up in https://github.com/rust-lang/rfcs/pull/1980#issuecomment-3

[2017-05-24 09:25] michaelwoerister commented on #41215
@alexcrichton What's the state of using crates.io crates in the compiler. Is that something we can do easily now? I guess that we have to at least vendor each crate we are using, right?

[2017-05-24 09:30] scottmcm commented on #40893
There's also the [`Ordering::reverse`](https://doc.rust-lang.org/std/cmp/enum.Ordering.html#method.reverse) method, so the struct version of that being `Reverse` seems logical :+1:

[2017-05-24 09:36] crumblingstatue commented on #40673
I am personally using this in a project, so I'm in favor of stabilizing a solution for specifying drop order, but I also don't want @Ericson2314's comment ignored before stabilizing this.

[2017-05-24 10:01] nikomatsakis commented on #32730
@Mark-Simulacrum getting there, still some FIXMEs related to this issue. I hope to be resolving them soon. (ps @soltanmm, we shoul chat, I don't have your new e-mail)

[2017-05-24 10:14] jD91mZM2 opened #42188 ""Undeclared type or module" could use some love."
So, this error

![image](https://cloud.githubusercontent.com/assets/12830969/26398612/4f36efd2-407a-11e7-9b99-4043ab31d409.png)
is here because the type `std` isn't in the current mod - it's in the main one.
It's really easy to fix, I'd just use `::std` instead.

Maybe this error could give any hint about this?

[2017-05-24 12:36] Mark-Simulacrum commented on #39445
Hm, odd. Perhaps it's platform dependent? Or my tests weren't quite right. The latter may be more likely.

[2017-05-24 12:38] Mark-Simulacrum commented on #42188
Hm, I'm not sure I'd want to provide a hint about `::std::io::Error` being possible, as I sort of don't like that syntax; it hides the fact that the module uses `std::io::Error`.

@nrc, I can't seem to ping the style team, but do you know if you've come up with any guidelines in this area?

[2017-05-24 12:41] Mark-Simulacrum commented on #41215
As far as I know, crates within the compiler itself can just be depended upon and everything should just work. I think crates that are depended upon by libstd or it's dependencies can't do that yet, but I'm not sure.

[2017-05-24 12:48] GuillaumeGomez commented on #39789
Indeed, my bad. Went way too quickly when looking at the code.

[2017-05-24 12:58] legolord208 commented on #42188
(I don't use `std::io::Error` anymore in my code - I was just playing around)

[2017-05-24 13:12] Cldfire commented on #36927
If by 'optimization' you mean release mode, then yeah. Other than that, no.

Regardless, what cuviper said made sense; I see now that it would be foolhardy to rely on this behavior :)

[2017-05-24 13:38] Gankro commented on #30877
Naming and placement are often decisions made in the final stabilization process, since they're just stylistic and don't affect how the feature actually works.

Making the trait require PartialOrd is a lot more of a change though. I don't think it's necessary. Anything like is_empty/contains could be added with a `where T: PartialOrd` constraint.

[2017-05-24 14:03] alexcrichton commented on #41215
@michaelwoerister as of https://github.com/rust-lang/rust/pull/41847 we should be able to just depend on crates.io crates and have things like stability, vendoring, license checking, etc, all just fall out. Unfortunately *really* leveraging https://github.com/rust-lang/rust/pull/41847 will require a new stage0 compiler which supports that flag.

[2017-05-24 14:08] michaelwoerister commented on #41215
Thanks for the info @Mark-Simulacrum and @alexcrichton!

So this will be available when the next beta comes out in a couple of weeks? That's soon enough, there's no rush with this issue.

[2017-05-24 14:13] alexcrichton commented on #41215
June 8!

[2017-05-24 14:15] alexcrichton commented on #39288
To be clear, the APIs proposed here for stabilization are:

[code]

[2017-05-24 14:25] steveklabnik commented on #39445
`-Z no-trans` is effectively deprecated today, no?

[2017-05-24 14:50] Mark-Simulacrum commented on #39445
I'm not quite sure. I think it's not quite deprecated, more like "usable only on nightly." Though I personally don't know any reason to use it over --emit=metadata.

[2017-05-24 15:17] steveklabnik commented on #39445
Yes, that's what I'm getting at.

[2017-05-24 15:30] Mark-Simulacrum commented on #39636
I'm going to close pending verification; if @belgum can check today and confirms as not fixed, we will reopen.

[2017-05-24 15:30] #39636 closed

[2017-05-24 15:33] Susurrus opened #42190 "#[cfg(no_std)] doesn't work"
I'm working on a `no_std` crate that I'd like to test and also compile in a `std` environment. Working with includes is a little painful right now because `#[cfg(no_std)]` doesn't seem to work.

As an example, I'd expect the following code to work both with and without no_std (commenting out the first line. Instead, it doesn't work as written below (but will work if you comment out `no_std`.

[cod

[2017-05-24 15:54] est31 commented on #42042
The PR is merged. I can confirm that the minimized example I posted above is fixed on latest beta `1.18.0-beta.3 (139d12f52 2017-05-23)`.

[2017-05-24 16:04] Mark-Simulacrum commented on #42042
@rillian Could you check if we can compile fine on beta today?

[2017-05-24 16:12] Mark-Simulacrum commented on #42190
You'll want to add a feature to the crate (`std` is typical) that conditionally disables no_std. `no_std` does not itself produce a feature that can be configured on.

So something like:

[code]

[2017-05-24 16:15] TimNN commented on #42190
@Mark-Simulacrum:

That should probably be `#![cfg_attr(not(feature = "std"))]`

Also, there appears to be a builtin `cfg` for `no_std`, try this on the nightly playground:

[code]

@Susurrus: Which rust version are you using?

[2017-05-24 16:17] Susurrus commented on #42190
@TimNN Did you run that code? I'm seeing the following on the playground:
[code]

Which is in line with my original code snippet, which I ran in the playground on stable and nightly (hence why I left out `lang_items`).

[2017-05-24 16:21] TimNN commented on #42190
@Susurrus: Oh, I totally mixed things up, please disregard my previous comment.

[2017-05-24 16:21] Mark-Simulacrum commented on #33609
I'm going to unassign @alexcrichton from this; I think others should be able to implement this and as far as I know they don't have any particular concern with this specific bug.

[2017-05-24 16:27] ctaggart opened #42194 "[Windows] libpthread missing exports, so I can not link"
I posted [How do I use a different libstdc++.a with Rust?](https://stackoverflow.com/questions/44157157/how-do-i-use-a-different-libstdc-a-with-rust), but after some [more debugging](https://github.com/ctaggart/octh/issues/18#issuecomment-303691573), it looks like libpthread doesn't have any exports. Why doesn't it?

[code]

I was expecting it to have exports like other libraries in the directory

[2017-05-24 16:29] jcowgill commented on #41606
This is probably because the default mips cpu baseline in LLVM is MIPS32r2 and the `4Kc` processor does not implement that version of the ISA (it only implemente MIPS32r1). However, `4KEc` does implement `MIPS32r2`.

I'm not sure the default ISA level should be changed. There were quite a lot of instructions added in `mips32r2` so I think it would only be a good idea to lower the baseline if someo

[2017-05-24 16:33] Mark-Simulacrum commented on #29931
Actually, I'm going to reopen. This is something that has potential performance impacts and we should probably keep tracking.

[2017-05-24 16:34] Mark-Simulacrum commented on #40058
Closing in favor of #29931.

[2017-05-24 16:34] #40058 closed

[2017-05-24 16:38] Mark-Simulacrum commented on #32075
Nominating for @rust-lang/libs discussion so that we can move forward, it seems Servo wants this.

[2017-05-24 16:44] Mark-Simulacrum commented on #40065
I'm not entirely sure this is possible without some work, since rustdoc to my knowledge doesn't have access to the target directory. Just as a note, the code that needs to be changed in rustdoc: https://github.com/rust-lang/rust/blob/5b13bff5203c1bdc6ac6dc87f69b5359a9503078/src/librustdoc/test.rs#L241

[2017-05-24 16:49] japaric commented on #42190
It doesn't work because `#[cfg(no_std)]` is *not* a built-in cfg that the compiler recognizes (I grepped the compiler source code; there's no such thing). For instance, this doesn't compile:

[code]

[code]

The proper way to do this is to use a Cargo feature named "std" as @Mark-Simulacrum pointed out.

[2017-05-24 16:51] Mark-Simulacrum commented on #40067
The example given prints 4 errors today so I guess this has been fixed? I don't really know. Closing though since at least this particular case seems fixed.

[2017-05-24 16:51] #40067 closed

[2017-05-24 16:51] nikomatsakis commented on #41646
@rfcbot fcp merge

I agree we don't need an RFC. I'm moving that we agree to change the name to `nonstandard_style` (and deprecate -- but naturally not remove! -- the old name `bad_style`).

[2017-05-24 16:57] #41948 closed

[2017-05-24 16:58] Mark-Simulacrum commented on #37811
@alexcrichton @japaric Could someone verify if this has been fixed or if the fix has gotten even easier now that makefiles are gone?

[2017-05-24 16:58] nikomatsakis commented on #41620
@darkwater @sharazam

Yes, there has been some back and forth on whether we ought to apply the same thing to floating points.

[2017-05-24 17:10] est31 commented on #41646
Its not a contrived example: I have encountered it in one of my programs. Luckily I had the `bad_style` lint turned on, so I didn't actually encounter the bug itself.

No, its about deprecation as well, and probably a Rust 2.0 or something will remove the name.

[2017-05-24 17:14] Manishearth commented on #41646
Most lints prevent bugs. That isn't an argument for giving it a name like that.

deprecating the name, not the lint.

[2017-05-24 17:17] clarcharr commented on #30877
Actual question: is there ever a conceptual reason to have a range of something that doesn't implement `PartialOrd`? I can't think of any.

[2017-05-24 17:17] Mark-Simulacrum commented on #33146
This appears to be fixed today; closing.

[code]

[2017-05-24 17:17] #33146 closed

[2017-05-24 17:22] Gankro commented on #30877
We generally support lots of things that don't really make sense in practice because someone might have a usecase we couldn't foretell. For instance you can make a Mutex that can't be shared between threads.

[2017-05-24 17:22] Mark-Simulacrum commented on #24157
So I think the fix here would involve basically throwing away individual match arms, returning `()` instead of their type so as to "unify" when the match is in statement position. This seems relatively fine, but cc @rust-lang/lang -- would we need an RFC for this? Is that the correct interpretation of the best option?

[2017-05-24 17:27] Mark-Simulacrum commented on #39269
cc @jseyfried @nrc, what's the status of this with macros 2.0 incoming? Are we adding this impl, removing this TokenStream?

[2017-05-24 17:28] Mark-Simulacrum commented on #32770
I'm going to close this in favor of https://github.com/rust-lang/rfcs/issues/943.

[2017-05-24 17:28] #32770 closed

[2017-05-24 17:33] Mark-Simulacrum commented on #40171
I've been working on a rework of compiletest that fixes the underlying cause, but I'm going to close this since we do warn to change the code page as @petrochenkov notes above today I believe.

[2017-05-24 17:33] #40171 closed

[2017-05-24 17:36] Mark-Simulacrum commented on #10374
I'm not sure we expect to support type aliases and other "expressions" in `repr`. In fact, I'm not sure we should.

[2017-05-24 17:41] Mark-Simulacrum commented on #19591
Closing. The ignore was removed in https://github.com/rust-lang/rust/pull/40777, which is odd. The MinGW toolchain update itself seems unrelated? @alexcrichton Can you recall why you removed the android ignore?

[2017-05-24 17:41] #19591 closed

[2017-05-24 17:50] Mark-Simulacrum commented on #29111
@pnkfelix Is there a chance you could comment on the status of this issue since the attribute was deprecated in favor of (other?) issues.

[2017-05-24 18:10] Mark-Simulacrum commented on #39635
@tommyip Go ahead! That seems fine.

[2017-05-24 18:16] rillian commented on #42042
1.18.0-beta.3 resolves the issue on my local machine. I'm waiting for ci tests to confirm other platforms.

[2017-05-24 18:19] Susurrus commented on #42190
I'm aware it doesn't work now, hence the post! :) My point is why is it this way? Is there a reason this is not supported? I was surprised when I tried to implement it like this that it didn't work, and I've seen it posted in a few other places online that it doesn't, so I'm not the only one.

From this the natural question arises as to why add this functionality if there's already the work around

[2017-05-24 18:29] Mark-Simulacrum commented on #42190
I agree that writing std/core crates is harder than it should be. `no_std` shouldn't be magical though. In fact, I don't really understand why that's better than the current approach, `#[cfg(not(feature = "std"))]`, and then configuring std/no_std on the command line.

[2017-05-24 19:00] jseyfried commented on #39269
With macros 2.0, no one will use `syntax::tokenstream::TokenStream` outside the compiler, so this issue will be moot.

[2017-05-24 19:01] tommyip commented on #39635
Opened a PR in both repo.

[2017-05-24 19:26] withoutboats commented on #24157
The current behavior seems preferable to a change to me.

In all of these cases you are doing something quite unidiomatic, and in several the programmer has almost certainly made a mistake and should receive an error. For example:

[code]

It seems clear to me that this function is supposed to return `bool`; if you change the return type, it will compile.

For the rest of them I see similar errors

[2017-05-24 19:40] lukaslueg opened #42200 "More verbose impl fmt::Debug for process::Command"
`impl fmt::Debug for process::Command` currently only outputs the program and it's arguments. It should also output the environment variables and the current path, as set by `.env()`, `.envs()` and `.current_dir()`. This would help with figuring out what's going on :-)

[2017-05-24 19:43] RalfJung commented on #41952
So, say I wanted to try and fix this -- how would I go about testing the fix?  Is there a way to (a) create that rust-src package locally (`./x.py dist src` or `./x.py dist`, I guess), and (b) tell rustup to install this package such that one could actually see whether xargo works now?

[2017-05-24 19:52] steveklabnik commented on #24795
Tagging as p-medium; this probably will evolve into a checklist issue, given how big it is.

[2017-05-24 19:53] ids1024 commented on #41952
You can set `$XARGO_RUST_SRC` to tell xargo where to find the source for Rust, instead of messing with rustup.

[2017-05-24 19:54] cuviper commented on #41952
Yes, `./x.py dist src` will suffice.  I don't know how to get rustup to install it, but you can manually extract it and run `./install.sh --prefix ~/.rustup/toolchains/nightly-$TARGET`.

[2017-05-24 19:56] steveklabnik commented on #26953
tagging as p-medium for now; we need to tease apart all of the different stuff that's going on here today

[2017-05-24 19:59] steveklabnik commented on #29563
Triage: tagging as T-infra as well; docs team is happy to help here, but we'd need you all to get a rough draft together.

[2017-05-24 20:00] RalfJung commented on #41952
Thanks, sounds like I have two options to play with then :)
I'm still fighting other issues though; right now, a working xargo wouldn't even help. If I manage to solve them, I will come back to this one, but please don't hold your breath.

[2017-05-24 20:01] Mark-Simulacrum commented on #42200
We also currently have no way to extract most of this information without utilizing Debug, so out of tree implementations can't be implemented.

[2017-05-24 20:18] malbarbo opened #42201 "Update docker images to share scripts when possible"
https://github.com/rust-lang/rust/pull/41958 added the possibility of sharing scripts used in docker images. This allows, for example, to use the same script to install sccache in all images, consequently  updating sccache can be done updating only one file.

We should update all images to share scripts when possible.

To update an image, one can follow these sequence of steps:

- Choose an unchec

[2017-05-24 20:30] malbarbo commented on #15947
@steveklabnik Considering https://github.com/rust-lang/rust/pull/40720, maybe this can be closed?

[2017-05-24 20:31] petrochenkov commented on #26953
Current error:
[code]
So, diagnostics look good enough.
I remember closing a couple of issues that were duplicates of this one.
Maybe something needs to be done on the doc side, but I'll left this to @steveklabnik to decide.

[2017-05-24 20:35] froydnj opened #42202 "Tracking issue for the `thiscall` calling convention"
Added in #42058, which fixes #42044 and related requests from other bugs.

This calling convention is the default calling convention for C++ instance methods in the (MSVC) Windows ABI.  At the very least, bindgen (and its dependency syntex) need this to exist so they have a reasonable chance of representing C++ instance methods in an AST.  `thiscall` is therefore important for the interop story be

[2017-05-24 20:39] QuietMisdreavus commented on #26007
In a docs team meeting we decided this would be best served in the reference, so I'm moving the issue over there: [rust-lang-nursery/reference#62](https://github.com/rust-lang-nursery/reference/issues/62)

[2017-05-24 20:39] #26007 closed

[2017-05-24 20:46] malbarbo commented on #42201
cc @alexcrichton

[2017-05-24 20:59] Susurrus commented on #42190
I don't know why `no_std` shouldn't be magical, it already is. The whole `core`/`std` injection this is pretty magical from my point of view.

I think there's a case to be made here to try and flesh out the `no_std` ecosystem by making it super easy to write crates that work in both.

As an embedded developer it's always a pain trying to find an "embedded" version of a lib. The fact that it's hard

[2017-05-24 21:02] Mark-Simulacrum commented on #42190
Well, `#![no_std]` is a special case, yes, but to my knowledge we don't yet have any special cases in `#[cfg(...)]` and I'd want to keep it that way if possible. I would love to see work on expanding `no_std` and making it easier, though.

[2017-05-24 21:08] japaric commented on #42190
Oh, sorry. Since you opened this issue in rust-lang/rust I thought it was a bug report. rust-lang/rfcs would have been more appropriate.

In any case I'm not convinced that `cfg(not_std)` makes sense. You *can't* flip `no_std` from the command line (or at least that's the impression I get from how you want to use it) which is how most the other `cfg` attributes work (modulo target specific `cfg`s

[2017-05-24 21:12] rillian commented on #42042
The Window 2012 x64 job is having unrelated issues, but otherwise the try push was green, so I think this is resolved for us too. Thanks again for your help!

https://treeherder.mozilla.org/#/jobs?repo=try&revision=db2dda574de48fd4c176b9caa7e08e2135f3cf06

[2017-05-24 21:12] #42042 closed

[2017-05-24 21:13] alexcrichton commented on #42201
Thanks for writing this up @malbarbo! If you're interested, want to write out some detailed steps for how to accomplish this? If we've got that listed we could likely list this as E-easy which would probably help get the work items here picked off very quickly!

[2017-05-24 21:28] estebank commented on #42143
Introduced in #41488.

[2017-05-24 21:46] rillian opened #42205 "install.sh not marked executable in windows rustup packages"
Trying to repackage today's nightly rust I hit a permission error because the `install.sh` script included with the published packages used by rustup is no longer marked executable for windows targets. It's still executable for macOS.

I an work around by passing it to `/bin/sh` but the inconsistency surprised me and I wanted to make sure it was intentional. The documentation still refers to invok

[2017-05-24 21:47] rillian commented on #42205
@Keruspe Thanks for fixing the sysconfdir issue. Any idea what's changed with this one?

[2017-05-24 22:00] malbarbo commented on #42201
@alexcrichton I wrote the steps. What do you think? Is it enough?

[2017-05-24 22:29] kennytm commented on #34766
This should be closed? Equivalent to #39473.

[2017-05-24 22:49] Susurrus commented on #42190
I agree with what's been stated here, so closing.

[2017-05-24 22:49] #42190 closed

[2017-05-25 00:38] withoutboats opened #42210 "Regression from stable: "Unexpected tail in unsized_info_ty""
There's been a regression in a recent nightly regarding dispatch on unsized types:

[code]

https://is.gd/NjyQaO

[2017-05-25 00:52] withoutboats commented on #42210
It looks like this function (`type_of::unsized_info_ty`) just doesn't handle unsized tuples. Can't tell how it started getting called but it did.

[2017-05-25 00:55] RalfJung commented on #36488
Couldn't the `install.sh` script fix permissions? I haven't figured out yet what is putting that script into the tarball, but it seems like a natural place.

[2017-05-25 01:02] est31 commented on #42210
Using the [bisect-rust](https://github.com/Mark-Simulacrum/bisect-rust) tool I've bisected the regression to commit 9fa25a7df3a1101a1dac611f3e45fa5b09836d27, PR #42015

cc @nikomatsakis

[2017-05-25 01:11] ids1024 commented on #42202
If this doesn't exist, perhaps it warrants an RFC? In particular some kind of attribute to specify the symbol name as an alternative to `no_mangle`.

[2017-05-25 01:16] froydnj commented on #42202
I think this sounds like an excellent idea!

[2017-05-25 01:39] RalfJung commented on #36488
I suspect if we used <https://github.com/rust-lang/rust/commit/3be02fc41032febc28e22a8a41ec7dc85ca1ce19> on Linux, that would also preserve permissions.

@alexcrichton you went from hard-links to copies because of trouble on Windows. Would it be possible to still use hard-links on non-Windows platforms?

[2017-05-25 01:44] RalfJung commented on #36488
Never mind, the permission copying seems to actually work. The tarball does contain the right permissions. If this is still a problem (which we can only really test once #41952 is fixed), the bug is somewhere in rustup.

[2017-05-25 01:50] eqrion opened #42213 "rustc --pretty=expanded outputs invalid syntax for #[derive(RustcDecodable)]"
### Run
1. `cargo rustc -- -Z unstable-options --pretty=expanded > lib-expanded.rs`
2. `rustc -Z parse-only lib-expanded.rs`

### With
[code]
[code]

### Results
[code]

lib-expanded.rs:
[code]

### Expected

`rustc lib-expanded.rs` to succeed. Pretty printing should output valid rust syntax.

Not sure if this is specific to `rustc_serialize`, I haven't tried to create a simpler testcase.

[2017-05-25 01:51] joshlf commented on #27730
@Amanieu @nikomatsakis

At some point, doesn't this turn into a discussion of what generalized properties should be encoded in the type system (with the extreme case being full-on refinement types)? I'm not trying to shut this discussion down, but in fact do the opposite - I think it'd be an interesting exercise to consider the total scope of properties of the form "this variable can only take val

[2017-05-25 02:01] RalfJung commented on #41952
All right, I got things to work with xargo on old Rust nightlies, so I submitted #42214 to fix this bug.

[2017-05-25 02:01] scottmcm commented on #30877
The nicest thing about having the bound would be that it allows adding methods to the trait later with default implementations -- like `clamp` (https://github.com/rust-lang/rfcs/pull/1961), for example.

[2017-05-25 02:15] Gankro commented on #27730
This is very out of scope for this issue, IMO.

[2017-05-25 02:26] aidanhs commented on #40772
Raised http://help.appveyor.com/discussions/problems/6735-corrupt-caches about the corrupt caches.

We've had to implement @notriddle's suggestion to 'temporarily' use .tar.gz files for the llvm submodule in https://github.com/rust-lang/rust/pull/42211 since it was causing builds to timeout when combined with the current appveyor network issues. I'm not delighted, but while caches don't work there

[2017-05-25 02:47] imanti commented on #41698
@oli-obk  the problem with the example you gave is how the list of annotations is being sorted: since both annotation have the exact same values in all fields except the message string, it will always find the suggestion to be bigger. As you pointed out, in these lines [https://github.com/rust-lang/rust/blob/master/src/librustc_errors/emitter.rs#L322-L344](url) the list is being sorted and  then r

[2017-05-25 03:09] alexcrichton commented on #42201
Looks great! If anyone's got any follow-up questions please feel free to ask here!

@malbarbo I think there were some examples of this in a previous PR of yours as well, mind linking those here?

[2017-05-25 03:11] alexcrichton commented on #42194
cc @vadimcn

[2017-05-25 03:11] alexcrichton commented on #42205
I believe this is a dupe of https://github.com/rust-lang/rust/issues/42121, so closing in favor of that, but thanks for the report of course!

[2017-05-25 03:11] #42205 closed

[2017-05-25 04:38] #42139 closed

[2017-05-25 04:38] #36556 closed

[2017-05-25 04:38] #42099 closed

[2017-05-25 04:38] #42135 closed

[2017-05-25 04:56] ids1024 commented on #42202
It looks like there's already an `export_name` attribute that does this. That probably would work.

[2017-05-25 05:01] vadimcn commented on #42194
@ctaggart: that one is a static lib, did you try `dumpbin /symbols ...`?

[2017-05-25 05:01] ishitatsuyuki commented on #39951
I don't think that logging will help, since the problem is probably inside rustbuild itself, resulting in cleaning the built artifacts.

[2017-05-25 05:14] citizen428 commented on #39911
If no-one picks it up until then I'll try to get this done over the weekend.

[2017-05-25 06:21] kennytm commented on #39951
@ishitatsuyuki Could you provide details how to reproduce the problem? Can [this PKGBUILD file](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=rust-git) reproduce it?

[2017-05-25 06:42] ishitatsuyuki commented on #39951
@kennytm [this](https://gist.github.com/ishitatsuyuki/956152c9ee2562e949f55c0181a0c5ee/65d9c9c6571132ffe97ad07bc299cd71b1d45cec) is confirmed to build twice, so probably using that helps.

I have no idea if the "official" AUR version does too. It's quite diverged.

[2017-05-25 06:51] ctaggart commented on #42194
@vadimcn, that would explain it.  `dumpbin /symbols` does show the functions that the linker complains about. I'm still not sure why I can't link, but I'll now take a closer look at static vs dynamic dependencies with the `"-Wl,-Bstatic"` and  `"-Wl,-Bdynamic"` options being passed in to see if I can figure out [these errors](https://gist.github.com/ctaggart/0a2676c24844890c161d6e5720a6b91f).

[2017-05-25 06:51] #42194 closed

[2017-05-25 07:01] vadimcn commented on #42194
I'd try setting `RUSTFLAGS=-Clink-arg=-v` to see what switches gcc gives to ld.

[2017-05-25 07:03] eddyb commented on #27730
I still want the "common" constructor of `NonZero` to be `T -> Option<T>`.
It's safe, a noop and you're doing the check *somewhere* anyway (except for some unsafe APIs).
We could really be using `NonZero<usize> -> Option<Unique<u8>>` as the `malloc` signature.

[2017-05-25 08:08] dtolnay commented on #36211
Without syntex this no longer matters.

[2017-05-25 08:08] #36211 closed

[2017-05-25 10:17] vks commented on #41620
It would be very unfortunate if floating point ranges were disallowed by this. I don't see any problems with this particular pattern.

[2017-05-25 10:48] oli-obk commented on #41698
The sorting could be done with sort_by_key to not sort by the message string, which is a useless criterion for sorting anyway

[2017-05-25 11:08] GuillaumeGomez commented on #39911
@citizen428: Sure, go ahead.

[2017-05-25 11:49] Emilgardis commented on #42143
I would like to tackle this if no one already has begun doing it.

[2017-05-25 12:28] Mark-Simulacrum commented on #39951
Okay, then a run with `RUST_LOG=bootstrap=debug` would be nice. I asked for the cargo metadata log since if it isn't inside bootstrap, it would be helpful; I don't think there are any assurances where the problem lies. I'll take a look at the script itself within a week or two probably, though I'm not sure if I have access to a platform that will work with it. Shouldn't be too hard to spin up a VM

[2017-05-25 13:02] #41568 closed

[2017-05-25 13:02] leodasvacas commented on #41481
Ping the merciless triager and issue slayer @Mark-Simulacrum! Can we close this as a dupe?

[2017-05-25 13:15] wesleywiser commented on #40872
@est31 do you know if @moonheart08 is still interested in working on this? If not, I'd love to work on it.

[2017-05-25 13:23] est31 commented on #40872
I have heard about them wanting to submit their changes it about a week ago or so. Lets wait one week more.

[2017-05-25 13:24] wesleywiser commented on #40872
Ok, sounds good.

[2017-05-25 14:11] estebank commented on #42143
@Emilgardis go ahead! You should add a new test for this case, and you'll need to add an extra check somewhere in [`report_selection_error`](https://github.com/rust-lang/rust/blob/master/src/librustc/traits/error_reporting.rs#L679-L728). Don't hesitate to ask for help either here, in IRC or https://internals.rust-lang.org.

[2017-05-25 14:23] malbarbo commented on #42201
@alexcrichton I linked the android dockerfile updates.

[2017-05-25 15:37] nikomatsakis commented on #36799
@urschrei bah humbug. Thanks!

[2017-05-25 15:40] nikomatsakis commented on #21906
@krdln we've actually borrowed from `*self` -- that is, we've reborrowed what self refers to. We permit you to borrow `*self` for a lifetime outliving `self` itself because the type of `self` implies a 'lock' for the entire lifetime `'a`. Hence, as long as we can guarantee that during `'a`, self is no longer used, the result should be an exclusive reference -- in this case, after the fn returns, s

[2017-05-25 15:55] imanti commented on #41698
nice!! I'll try it tonigth at home and let you know.

[2017-05-25 16:52] #42007 closed

[2017-05-25 16:54] brson commented on #42019
Still broken on beta?

[2017-05-25 17:00] #35626 closed

[2017-05-25 17:03] brson commented on #41944
Thanks @nikomatsakis. I've also confirmed that life is fixed on beta.

[2017-05-25 17:03] #41944 closed

[2017-05-25 17:06] nikomatsakis commented on #28237
However, the `...` in patterns must have an expression on both sides, I believe (`a...b`), whereas the rest syntax uses `...` as a prefix, no?

[2017-05-25 17:08] nikomatsakis commented on #39283
I agree. Thank you @Mark-Simulacrum for bringing it up, I've been meaning to do the same. The main thing that's been holding me from making an "rfcbot" motion is that the typical procedure is to do a crater run to estimate the impact and I've not gotten around to it yet.

[2017-05-25 17:10] nikomatsakis commented on #24157
I agree with @withoutboats that this is a purely diagnostic issue.

[2017-05-25 17:12] brson commented on #41805
I noted it on the relnotes thread. Thanks for investigating.

[2017-05-25 17:12] #41805 closed

[2017-05-25 17:15] brson commented on #41796
Still repros on 1.18.0-beta.3. I'll bump beta to .4.

[2017-05-25 17:18] brson commented on #41696
It looks like this is worked around for 1.18 right?

[2017-05-25 17:19] brson commented on #41607
Looks like this will hit 1.18.

[2017-05-25 17:22] nikomatsakis commented on #42210
Huh, interesting. I sort of expect this program to be an error, because (IIRC) in tuples we do not permit unsized types, but maybe that's not true or I'm misremembering.

[2017-05-25 17:24] withoutboats commented on #42210
We permit the final member of a tuple to be unsized: rust-lang/rfcs/pull/1592

[2017-05-25 17:24] nikomatsakis commented on #26633
I believe we intentionally deprecated this with #36887 -- we can probably just close this issue, in my opinion.

[2017-05-25 17:24] #26633 closed

[2017-05-25 17:25] main-- opened #42222 "Adding a drop impl breaks drop order"
[code]

[code]

[Playground](https://is.gd/0RAzGA)

Note how the message even states that `bar` is dropped first (reverse order) while complaining that it outlives `foo`.

This works fine if you remove `Baz`'s `Drop` impl or - interestingly - if you just use the `return` keyword instead of "naturally" returning the value.

[2017-05-25 17:25] nikomatsakis commented on #38917
I don't think it works necessarily -- if you remove the bound that @bholley highlighted, you still get an error.

[2017-05-25 17:26] nikomatsakis commented on #38917
The example that @bholley expected to pass (and I think he is right that it should) is [this one](https://is.gd/uLQiVI):

[code]

[2017-05-25 17:27] nikomatsakis commented on #41796
@brson this was backported in https://github.com/rust-lang/rust/issues/42182, which landed 2 days ago -- not sure which beta that is though

[2017-05-25 17:27] nikomatsakis commented on #42210
ok, that makes sense

[2017-05-25 17:33] nikomatsakis commented on #38120
The notation is basically "inference rule" notation -- we could probably add a `:-` and some commas and cite Prolog.  So basically in that example, `MUTABILITY(X, Imm)` holds if `DECL(X)` is equal to `imm`.

I'm somewhat inclined to rewrite it from scratch once borrowck MIR lands.

[2017-05-25 17:33] nikomatsakis commented on #38120
The documentation was written before the current borrowck rules and I think it's structure is more confusing than it has to be as a result.

[2017-05-25 17:34] nikomatsakis commented on #41962
@estebank that output looks good to me

[2017-05-25 17:37] nikomatsakis commented on #25094
I believe this changed when `sum()` was stabilized -- it was rewritten to be generic over the sum type, which implies that it must be specified and cannot be inferred from context. Therefore, I think this is "not a bug" (nor, technically, a regression). I could be wrong though, maybe some details of our type inference changed -- if so, they seem likely to be bug fixes, though, since I think we are

[2017-05-25 17:37] nikomatsakis commented on #25094
I'm inclined to close myself.

[2017-05-25 17:40] nikomatsakis commented on #30829
I've not done any investigation, to be honest.

[2017-05-25 17:41] StefanoD commented on #25094
@nikomatsakis
This is a good example, that you don't have to "guess" types:
[code]
Everything is u32. So why doesn't this work?

[2017-05-25 17:42] nikomatsakis commented on #23610
@Mark-Simulacrum

I don't understand what you mean here -- we have two bindings, both are "by reference", so how is the current code mixing by-move and by-ref in the same pattern?

[2017-05-25 17:43] nikomatsakis commented on #23610
I think that in principle we do not need to require all bindings to be in the same mode; in that sense I agree with @ghost. However, I'm not sure how hard it would be to keep current code "up and going" without that simplifying restriction. I'd have to dig in in more detail. I *think* that once we are doing borrowck on MIR, things ought to be simpler, since most of the rules we have to keep borrow

[2017-05-25 17:50] nikomatsakis commented on #25110
At present, both versions are accepted. This is probably a result of the fact that we started doing smarter elaboration, so that e.g. `Box<A>: 'a` will allow us to conclude that `A: 'a` (and similarly the where-clause `&'a A: 'a` would allow us to conclude that `A: 'a` must hold). I'm still not sure why the discrepancy existed, but that was some time ago. I'm inclined to close this issue, though I

[2017-05-25 17:52] jimblandy commented on #25094
I'm having a hard time understanding why it's inappropriate to infer `usize` here:
[code]

Rust says:
[code]

[2017-05-25 17:54] nikomatsakis commented on #25633
@Mark-Simulacrum ah, that's an interesting idea; I agree that just giving this free-floating name `T` is confusing. What if there were more type parameters declared on `Vec`. e.g., imagine this were a hashmap, and the value type was unconstrained, would we say "cannot type for `V` in `HashMap<K, V>`"? Or "cannot infer type for `V` in `HashMap<_, V>`"?

[2017-05-25 17:58] nikomatsakis commented on #25094
@StefanoD

Because other things are addable to `u32` besides `u32`. For example, there is an impl of `Add<&u32> for u32` (and vice versa).

[2017-05-25 18:00] nikomatsakis commented on #25094
@jimblandy

Similarly, there are many `PartialEq` impls. Basically, sum results in a variable `V`, and we have to infer `V: PartialEq<usize>`. **At the moment**, we *always* refuse to guess the "self" type, so we just stop there. For other type parameters, if `Self` is known, we will sometimes infer them based on `Self`. I am not happy with these rules, but there are many things at play -- if anyt

[2017-05-25 18:02] nikomatsakis commented on #35067
No change that I know of.

[2017-05-25 18:03] nikomatsakis commented on #34955
Personally I think we should just close this issue.

[2017-05-25 18:03] nikomatsakis commented on #34955
(Until we see this as an actual perf problem in real life, and then we can re-open)

[2017-05-25 18:03] #34955 closed

[2017-05-25 18:04] jorendorff opened #42223 "Redundancy in `trace_macro` output"
(filed per https://github.com/rust-lang/rust/pull/42103#issuecomment-303183649 )

`trace_macro` output now contains both "before" and "after" text.

But often a macro-call expands to another macro-call. In that case, we get redundant lines from `trace_macro`:

[code]

The second "`expanding`" note is basically the same as the previous line. We could eliminate that.

Note that it's also common for

[2017-05-25 18:36] nikomatsakis commented on #35851
It would probably be good to deprecate (future compat warning?) code using this pattern.

[2017-05-25 18:37] nikomatsakis commented on #35851
Well, for sure we should deprecate. It doesn't necessarily *have* to be a future-compat warning. i.e., we could live with this.

[2017-05-25 19:00] Stebalien commented on #42222
Probably a duplicate of #17462, #22449, and #21114. May also be related to #22321. I thought there was a more "canonical" issue for this but I can't find it.

[2017-05-25 19:16] venkatagiri commented on #36379
@Mark-Simulacrum would a `run-pass` be fine for this?

[2017-05-25 19:30] Mark-Simulacrum commented on #41481
Yeah, I think so. Closing in favor of https://github.com/rust-lang/rust/issues/26925.

[2017-05-25 19:30] #41481 closed

[2017-05-25 19:32] Mark-Simulacrum commented on #39283
@nikomatsakis That looks like a potential easy or at least mentorable issue to make this a hard error so we can do the crater run; does that sound correct? Could you write up some quick steps?

[2017-05-25 19:34] durka commented on #42019
Yes, the code in the playpen still fails to compile on beta and nightly.

[2017-05-25 19:38] Emilgardis commented on #42143
@estebank Do I add type_mismatch .rs test or add to an existing test file?

[2017-05-25 19:40] Mark-Simulacrum commented on #25633
To avoid the difficulty in showing the generics, we could even go with "cannot infer type for generic `V` in `HashMap`". That way the user has something relatively googleable and, as a benefit, if they go to the [HashMap docs](https://doc.rust-lang.org/nightly/std/collections/struct.HashMap.html), the first thing they see is `pub struct HashMap<K, V, S = RandomState> { /* fields omitted */ }` whic

[2017-05-25 19:42] Mark-Simulacrum commented on #25110
Yeah, I think I'll just close, I don't believe this warrants a test.

[2017-05-25 19:42] #25110 closed

[2017-05-25 19:44] Mark-Simulacrum commented on #23610
Oh, I think I misread about the two bindings being by-move and by-reference -- never mind.

I agree that we should probably leave this for after MIR borrowck (which might in its implementation resolve these sorts of issues on its own, I don't know).

[2017-05-25 19:54] Mark-Simulacrum commented on #36379
Let's go with a compile-fail test that look something like [this one](https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/privacy/restricted/lookup-ignores-private.rs); meaningful part being these [two lines](https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/privacy/restricted/lookup-ignores-private.rs#L39-L40). Let me know if you have any more questions!

[2017-05-25 20:01] nikomatsakis commented on #39280
OK, so, I think this would be an awesome bug for someone who is interested in helping out with incremental. It's going to be a certain amount of refactoring, but a lot of it is done I think. To be honest, I'm not 100% sure what's the best path here, so let me lay out a few thoughts and see if anyone is interested in picking it up.

### The big goal

Right now, we do the following to generate code:

[2017-05-25 20:08] nikomatsakis commented on #42019
cc @Mark-Simulacrum -- it'd be great to know just what caused this problem. @jseyfried, are you going to have time to investigate?

[2017-05-25 20:11] Mark-Simulacrum commented on #42019
If I have a chance I'll run bisect-rust, also cc @est31 -- they have it working locally as well.

[2017-05-25 20:14] nikomatsakis commented on #36799
Next step: we should do some measurements (ideally with valgrind) of building this crate in various environments to try and see how much progress we've made, and how much we've got to go.

[2017-05-25 20:15] nikomatsakis commented on #41795
@jseyfried so is this a bug fix? If so, can we close?

[2017-05-25 20:15] nikomatsakis commented on #41795
Sure looks like a bug fix to me :)

[2017-05-25 20:16] nikomatsakis commented on #41795
triage: P-medium

But probably this can be closed.

[2017-05-25 20:20] nikomatsakis commented on #39283
I was wrong, we don't need a crater run. We already made it a hard error. We just have to kill code related to this. I'll provide a few pointers, this is indeed a good mentoring issue.

[2017-05-25 20:21] venkatagiri commented on #39553
It still ICEs on nightly.

[code]

[2017-05-25 20:26] nikomatsakis commented on #38120
Decided to close this issue -- we'll rewrite in terms of MIR borrowck.

[2017-05-25 20:26] #38120 closed

[2017-05-25 20:31] Susurrus opened #42226 "Unclear errors with type annotations on functions instead of their traits"
A common problem I run into is that I add type annotations to `into` where it should really be on the `Into` trait instead. The error messages given for this are not helpful because they don't suggest adding type annotations to the Trait and then using UFCS instead of method syntax.

So what happens is that I write my code thinking `rustc` can figure out the types, but it fails. A rough example is

[2017-05-25 20:37] nikomatsakis commented on #31260
@arielb1 will open a PR and we can try a crater run at least.

[2017-05-25 20:40] nikomatsakis commented on #25094
Closing since this is behaving as expected, for better or worse. =)

[2017-05-25 20:40] #25094 closed

[2017-05-25 20:41] venkatagiri commented on #39362
Have created a test for this - https://is.gd/8rwE7u but tidy is failing for the ERROR check.
How do I make it multi-line?
Can I re-write the error check from
[code]
as
[code]

[2017-05-25 20:46] nikomatsakis commented on #25094
Oh, just some additional notes: the problem that @jimblandy highlighted is basically a dup of #20297 (so in some sense you could consider this issue a dup of that issue). You can see the effect of `Self` in that if you reverse the order of the `assert_eq!` arguments, [things work again](https://is.gd/quojB6):

[code]

[2017-05-25 20:51] Nirklav opened #42228 "Cross compile from windows to linux"
Environment:
- Windows 10
- rustc 1.17.0 (56124baa9 2017-04-24)
- msys2
- gcc (Rev2, Built by MSYS2 project) 6.2.0
- GNU ld (GNU Binutils) 2.27
- toolchains:
stable-x86_64-pc-windows-gnu (default)
stable-x86_64-pc-windows-msvc

I create a test project:
[code]
When i'm trying build project with command:
[code]

I received an error message:
[code]

I'm not understand what i'm missed

[2017-05-25 20:53] Mark-Simulacrum commented on #39362
You can cut it short at non-exhaustive patterns; we check for substring not exact match.

[2017-05-25 21:05] venkatagiri commented on #39362
How is this different compared to https://github.com/rust-lang/rust/pull/42217#discussion_r118476042?
Was that just being explicit when possible?

[2017-05-25 21:09] Mark-Simulacrum commented on #39362
That one needs both since the original error is reported on two lines, IIRC; here, it's a single line with no additional information (other than the span) from what I can tell.

[2017-05-25 21:19] venkatagiri commented on #39362
I am still not clear on the differences.
Here's the [playpen](https://is.gd/1eC4c1) for #42217 and [playpen](https://is.gd/8rwE7u) for this issue.
Except for the exact error, both look quite similar to me.

[2017-05-25 21:23] nikomatsakis commented on #38751
Conclusion from @rust-lang/lang meeting: we should try it and see!

[2017-05-25 21:27] Mark-Simulacrum commented on #39362
Hm, yeah, you might need two lines here too, actually, now that I look at it. Sorry for the confusion; something like the following should work for this issue (similar to how to format the other issue).

[code]

[2017-05-25 21:27] Susurrus opened #42229 "Add error codes for all errors"
This is related to work for adding explanations for all errors (#32777) and updating all errors to the new error format (#35233). Unfortunately not all errors have error codes. This is a tracking issue for those errors. I'd think eventually we'd want error codes for all errors so that they're easy to reference.

- [x] Field unknown: `attempted access of field _ on type _, but no field with that na

[2017-05-25 21:27] Mark-Simulacrum commented on #42019
Ran bisect: fe151194e9a919ab23c2bb356767a5cbfa3811e7 - #40597.

[2017-05-25 21:29] nikomatsakis commented on #35919
The reason that this happens is that, in the second case, where the expected type is known, we will do a "reborrow coercion" (in particular, when coercing from `&mut` to `&mut`). This means that the variable is not considered "moved". In the first case, though, the target type is not known, and hence we consider it a move. This is suboptimal but not **wrong** (in general, annotating `let` can indu

[2017-05-25 21:31] nikomatsakis commented on #35919
Don't have time to write up detailed stuff. The basic idea is to look into the `src/librustc_typeck/check/coercion.rs`.

[2017-05-25 21:41] jseyfried commented on #42019
Yeah, I'll investigate/fix this weekend.

[2017-05-25 21:43] jseyfried commented on #41795
@nikomatsakis Yeah, this is a bug fix and I think we can close. The alternative would be a warning cycle, which is doable but probably not worth it.

[2017-05-25 22:35] Mark-Simulacrum commented on #42176
Closing in favor of duplicate https://github.com/rust-lang/rust/issues/11010; realistically we want to do this automatically. I've added a note there that a limit for the time being may be a good idea.

[2017-05-25 22:35] #42176 closed

[2017-05-25 22:35] Mark-Simulacrum commented on #11010
Perhaps we should add a per-benchmark limit from the command line, at least for now.

[2017-05-25 22:52] aturon commented on #28237
The lang team discussed this feature again in our meeting today, and arrived at roughly the following matrix:

- Supporting `...` in patterns and `..` in expressions, and nothing else, is an untenable design; it leads users to expect syntax to work that won't.

- Allowing `...` and `..` in both places would help, but the off-by-one problem is a real concern; none of us are eager to receive reports

[2017-05-25 23:14] aturon commented on #39381
@getreu So for `ParseIntError` today, there's not any information in the error itself, so you just want to assert `.is_err()`.

[2017-05-25 23:32] moxian opened #42231 "Ampersand rendered incorrectly in rust playground."
In https://play.rust-lang.org/ ampersands are rendered as thin tall black rectangles - see http://i.imgur.com/7EDtQD9.png

This sounds exactly like #24355, but this time in playground rather than in rust docs. Would it be feasible to apply the same fix here (forbid usage of local font)?

Win7, Firefox 53.0.3 64 bit here.

[2017-05-25 23:33] aturon commented on #30877
Just to elaborate on this: you can use this technique to e.g. make a data structure that is thread safe *if* you put sendable data in it, but also fine to use in a single-threaded context if not. I'm not sure that analogous reasoning applies here, but we've generally taken the approach of constraining as little as possible. (That does produce worse error messages in some cases, since you can const

[2017-05-26 00:42] nrc opened #42232 "Make the ast representation of qualified self paths more syntactic"
The current representation is fine for the HIR, I assume it is optimised for compiler internal stuff. But in the AST, it would be better to be closer to the surface syntax (since that should make parsing, pretty printing, rustdoc, etc. a bit easier). IOW, it is a fine semantic definition, but not a great syntactic definition.

[2017-05-26 01:15] withoutboats commented on #30877
This is worth considering a bit more, especially in light of implied bounds (which makes providing bounds on structs much more useful).

While not Mutex, I literally had a use case for this property of Arc yesterday. I had a type which couldn't be `Send`, but I needed to share it across threads in a wrapper *which only exposed an API that I know is thread safe*. I was able to do this with a wrappe

[2017-05-26 02:21] Gankro commented on #30877
Are implied bounds expected to be proposed For Real any time soon? If not I'd rather not make library design decisions based around its hypothetical inclusion. (and even if so, I expect it wouldn't land within the year given past experience)

I've seen libs design get burned too many times in anticipation of language features that never come.

[2017-05-26 02:49] Mark-Simulacrum commented on #39951
It seems that I was correct asking for a cargo fingerprint log. I reproduced the problem in a docker container with minimal trouble; the log is here: https://gist.github.com/Mark-Simulacrum/e089a2727a4f0f7ed290d17eb6330017#file-log-arch-39951-L468. The line selected is where the first stale fingerprint appears to be. I'm uncertain whether this is rustbuild's, Cargo's or the fakeroot's fault though

[2017-05-26 03:16] cramertj commented on #41756
So I messed around with this a bit-- I tried disabling the `candidate_should_be_dropped_in_favor_of` logic entirely, then honing down to just removing preference for `ParamCandidate`s, then disabling preference over `ImplCandidate`s. All resulted in the same error:
[code]

@nikomatsakis addressed why the trumping logic is necessary in [this comment](https://github.com/rust-lang/rust/blob/master/sr

[2017-05-26 04:33] imanti commented on #41698
@oli-obk sorting by key works as expected:

[code]

I created branch [here](https://github.com/imanti/rust/tree/issue_41698)  with the changes (just two lines).
Do you think it is worth finding other examples where span ordering is wrong before doing the pull request?

[2017-05-26 05:23] ishitatsuyuki commented on #39951
Thanks for the log.

I suspect Git submodule handling is trashing the timestamps. Will investigate why it happens.

[2017-05-26 05:38] eddyb commented on #41756
The method is `needs_infer` and it's O(1).

[2017-05-26 06:51] nrc opened #42234 "Spans for errors in try operator expressions are not great"
E.g.,

[code]

the expression with unknown type is the variable use `generics`, but the error highlight covers the entire sub-expression of `expr?`. I assume this is due to us doing something sub-optimal with the spans here in the HIR lowering.

[2017-05-26 07:09] withoutboats opened #42235 "Consider allowing non-object safe traits as types"
Today, we only allow you to use a trait as a type if that trait is object safe, because you cannot sanely instantiate the object unless the trait is object safe.

This is a bit odd, though! We let you implement traits for `HashMap<f32, _>`, even though you cannot instantiate a HashMap with f32 keys.

We could limit the object safety check to two cases:

*  *Instantiations* of these types
* Attempt

[2017-05-26 08:23] GuillaumeGomez commented on #42229
Ah nice, I'll work on it then!

[2017-05-26 08:39] ishitatsuyuki commented on #39951
It seems at least `git -C reset hard` ran between fakeroot rewrites (`unlink` and `open(O_WRONLY)`) every file. I feel it like file ownership, but running `git` with `sudo` doesn't yield such weird behavior. Any thoughts?

[2017-05-26 09:07] oli-obk commented on #41698
We'll find those examples when the tests fail 😉 could you run the ui tests and fix them with the command line the test failure gives you? Then we can see the changes in the PR.

[2017-05-26 09:10] MaikKlein opened #42237 "Compiler panics with CARGO_INCREMENTAL=1"
https://github.com/MaikKlein/breeze/tree/38baf7a522a503a22ccfbc1fc1b66fe6212c3a56

[code]
[code]
[code]

[2017-05-26 09:14] kennytm commented on #42229
@Susurrus (meta) you can turn those `[ ]` into checkboxes by making them a list.

[code]

- [ ] like
- [ ] this

[2017-05-26 09:19] MaikKlein commented on #42237
Update:

Going back to `rustup override set nightly-2017-05-15` fixes the problem. The problem must be between 05.15 and 05.26.

[2017-05-26 09:21] kennytm commented on #42231
Playpen issues should be filed at https://github.com/rust-lang/rust-playpen.

This sounds like the same as rust-lang/rust-playpen#47 though.

[2017-05-26 09:23] kennytm commented on #42237
Same as #42101? The fix #42175 will be merged soon.

[2017-05-26 09:38] nikomatsakis commented on #42210
triage: P-high

I'll investigate and try to stay on top of this. Oddly, I'm not reproducing on my local build, though it includes a few further changes.

[2017-05-26 09:44] qnighy opened #42238 "`parenthesized_params_in_types_and_modules` future-compatibility warnings"
This is the **summary issue** for the `PARENTHESIZED_PARAMS_IN_TYPES_AND_MODULES` future-compatibility warning and other related errors. The goal of this page is describe why this change was made and how you can fix code that is affected by it. It also provides a place to ask questions or register a complaint if you feel the change should not be made.

#### What is the warning for?

The `parenthes

[2017-05-26 10:18] #42044 closed

[2017-05-26 10:35] jcowgill opened #42239 "Mips (big endian) gives "undefined reference to `std::rt::lang_start'""
Attempting to compile this example program `foo.rs` using a nightly compiler:
[code]

On a native mips big endian machine gives me this:
[code]

If I compile `foo.rs` to an object and dump the symbols, I see that the hash for `lang_start` is different between the object and the rlib file:
[code]

After some debugging, I managed to work out that the value of `tcx.def_path_hash(def_id)` for `lang_st

[2017-05-26 11:01] gaurikholkar commented on #40902
A write-up on building from source on a Mac particularly the dependencies installation would be great!

[2017-05-26 11:07] Zoxc opened #42240 "Unable to run stage2 compiler built with x.py test"
Command: `python x.py test --stage 2 -j4`

[code]

[2017-05-26 12:13] vasily-kirichenko opened #42243 "The compiler counts moving inside dead if branch"
[code]
results with
[code]
However the moving is done in a dead if branch, known at compile time.

[2017-05-26 12:53] steveklabnik commented on #39817
@est31 I think this is a bit in-the-weeds for the book, so I'm leaning towards no. @carols10cents ?

[2017-05-26 13:21] bholley opened #42244 "LRUCache should store its vector of entries inline"
We're trying to remove heap-allocations when creating ThreadLocalStyleContext, and ThreadLocalStyleContext contains two LRUCaches. This should be easy and impactful to optimize.

LRUCache lives in components/style/cache.rs. It currently uses a VecDeque to manage a circular list of entries (to avoid copying when adding elements to the front of the list), which never grows. We can avoid the heap-all

[2017-05-26 13:22] bholley commented on #42244
Whoops, I meant to put this on servo/servo. Sorry for the noise.

[2017-05-26 13:22] #42244 closed

[2017-05-26 13:27] steveklabnik commented on #26953
I'm going to close; if the diagnostics are good, then that's good enough for me. Thanks!

[2017-05-26 13:27] #26953 closed

[2017-05-26 14:43] nikomatsakis commented on #41323
This is a fairly straight-forward fix, so I'm going to write up some mentoring instructions. Maybe somebody wants to jump in on it!

In general, the code in [`compare_method.rs`](https://github.com/rust-lang/rust/blob/ae23e65eb8f207d0c9be82e7f2043d98a32d4f57/src/librustc_typeck/check/compare_method.rs) is used to compare an **associated item definition** found in an impl against the trait specific

[2017-05-26 14:43] nikomatsakis commented on #41323
Tagging as E-mentor.

[2017-05-26 15:00] nikomatsakis commented on #39283
Tracking this change introduced a small amount of cruft in the compiler. In particular, some data structures track the 'temporary region', and since that changed, those structures are updated to have both the old and new values. In particular, [the `Categorization<'tcx>` structure](https://github.com/rust-lang/rust/blob/2f278c57ff4a805941f1497f34b3ad20b6f8e13b/src/librustc/middle/mem_categorizatio

[2017-05-26 15:02] nikomatsakis commented on #38640
Let's remove it! All it takes, I believe, is to kill [this snippet of code found here](https://github.com/rust-lang/rust/blob/2f278c57ff4a805941f1497f34b3ad20b6f8e13b/src/librustc/session/config.rs#L1645-L1651).

[2017-05-26 15:10] nikomatsakis commented on #28237
To that end, we're looking for someone (or some people) to drive the implementation forward. Probably this can be done in a number of smaller PRs:

- To start, let's add `..=` to the parser as an alias for `...` and convert the existing tests.
    - `...` should keep working, of course, and we want this to be a "silent" deprecation, so there's no need to issue warnings etc (yet).
    - we'll need

[2017-05-26 15:17] carols10cents commented on #39817
Agreed, I think the reference and the API docs (if those are relevant?) is more appropriate.

[2017-05-26 15:20] kennytm commented on #28237
Just to note that, [the syntax `extern fn foo(a: u32, ...)`](https://github.com/rust-lang/rust/blob/2f278c57ff4a805941f1497f34b3ad20b6f8e13b/src/libsyntax/parse/parser.rs#L4460) should not be changed to `..=` 😆

[2017-05-26 15:21] Mark-Simulacrum commented on #39951
[code]

That build output leads me to believe that maybe fakeroot maybe makes the stdlib's mtime commands not succeed? I don't really know. I can do some tests later...

[2017-05-26 15:31] est31 commented on #39817
I'm not aware of any examples in the documentation that could be written more concisely with this feature present, nor do I know of an easy way to spot them if there are any. When replacing the `try!` macro with `?`, the move was much easier as you could simply grep for it.

There is also (to my knowledge) no api page for the `fn` pointer type (like there is for `f32`, `i16`, etc), so I can't docu

[2017-05-26 15:31] #41964 closed

[2017-05-26 15:54] Keats commented on #28237
Tempted to take it as it looks like a nice first step into the code but i'm not going to have much time in the next 2 weeks so if anyone want to pick it up, feel free!

[2017-05-26 16:03] moxian commented on #42231
Sorry, the abundance of rust repos is confusing. Will post to rust-playpen.
And, yes, that is the same issue.

[2017-05-26 16:03] #42231 closed

[2017-05-26 16:21] est31 commented on #28237
I'm personally more in favour of `..^` than `..=`, as `a operator= b` is already, for some operators, an alias for `a = a operator b`. `^` on the other hand is used much less, only for XOR, so it should cause less confusion.

[2017-05-26 16:26] Mark-Simulacrum commented on #40165
The bug was fixed in LLVM recently; do we want to do a backport of their patch?

[2017-05-26 16:32] nikomatsakis commented on #41834
So we discussed this some in the @rust-lang/lang meeting. I would say that opinions were mixed, but in general I think that we are inclined (for now) to leave this as is.

The arguments basically were as follows. First, everyone agreed that we actively do **not** want to allow `..Foo` anywhere but at the *end* of a struct expression.

Given that, the argument in favor of allowing commas is essenti

[2017-05-26 16:35] Xaeroxe commented on #28237
`..` yields a different type than the type of the left and right operands for it, so I don't see that being a problem for `..=`.  Context also helps identify the purpose of the operator, something like `+=` returns `()` so it can appear as its own statement, typically on its own line.  Whereas `..=` returns InclusiveRange so it will appear as an expression inside other instructions.  Furthermore a

[2017-05-26 16:38] arthurprs commented on #38003
Ok, I found some time today and here are the final results.

Tested load factors: 91% (90.09 actually), 87.5%, 85.7%, 83.3% and 80%.

[code]

[2017-05-26 16:39] alevy opened #42248 "Broken match statement when compiling for thumbv6-none-eabi (ARM cortex-m0)"
After upgrading Tock to use a recent nightly, compilation for the NRF51-DK (a Cortex-M0 based board) results in unexpected assembly for a particular match statement.

The match statement looks like this:

[code]

The LLVM IR that (seems to) corresponds is:

[code]

which is a fairly straight forward translation.

In general, the template for the expected output in assembly is something like:

[cod

[2017-05-26 16:40] nikomatsakis commented on #35976
OK, so, the challenge here is that method resolution **succeeds**. I am a bit torn. Perhaps the easiest (and maybe even best) way to solve this is to modify method resolution itself to check for **this particular case**. That is, when method resolution succeeds, if this is a trait method, we could quickly scan the where-clauses for the method, looking specifically for `Self: Sized`. If we find it,

[2017-05-26 16:40] alevy commented on #42248
/cc @rkruppe and @nagisa who helped debug this a bit on #rust-internals

[2017-05-26 16:41] cramertj commented on #41756
@eddyb Sorry, I should have been more clear: I'm not concerned about the performance cost of disabling trumping when deciding inference variables-- I was concerned about the performance cost of disabling trumping for inference _only when trumping order would be changed by where clause ordering_. For this to work, I think we'd need to compute the result of applying trumping for each where clause in

[2017-05-26 17:03] est31 commented on #28237
@Xaeroxe `^` has nothing to do in Rust with exponentiation (although it is used as such in other languages), while `+=`, `-=`, `*=` all exist in Rust. In fact even `^=` exists.

But idk, its fine to have `..=` as well.

[2017-05-26 17:11] clarcharr commented on #28237
Since #42134 was merged, can we move to stabilise the library struct now? I figure that we're going to want to wait for the syntax to settle before stabilising that, although like I said earlier, it'd be helpful to stabilise the struct sooner.

[2017-05-26 17:17] Xaeroxe commented on #28237
@clarcharr I believe we've come to the decision to stabilize that structure as well as the `..=` syntax so we just need some PRs to actually do that.

[2017-05-26 17:24] Mark-Simulacrum commented on #40230
It's not quite clear to me what we should clarify in docs here. The only thing that I can potentially see is a note on [`std::intrinsics::abort`](https://doc.rust-lang.org/nightly/std/intrinsics/fn.abort.html) that it will not run cleanups -- but I'm not sure we should really document intrinsics.

[2017-05-26 17:29] mgattozzi commented on #40902
I'm still working on trying to get forge to self host docs but haven't had enough time to work through the CI stuff yet to get it to build them.

[2017-05-26 17:36] arthurprs commented on #38003
And some extra worst case tests, where constants are set to 95% of .capacity() after creation with with_capacity(X) https://gist.github.com/arthurprs/ae084a0c5a119ddd732d93eb6fd31d05

[2017-05-26 17:37] Mark-Simulacrum commented on #40251
@cuviper confirmed fixed in #40254.

[2017-05-26 17:37] #40251 closed

[2017-05-26 17:40] Mark-Simulacrum commented on #40253
To my knowledge, there's very little we can do here -- if the user raises the recursion limit, then it's very possible they will see a stack overflow, at which point we cannot print anything (as far as I know, anyway). As such, I'm going to nominate for @rust-lang/compiler to discuss, I think we should close as "not a bug" or at least as a duplicate of other bugs (e.g., https://github.com/rust-lan

[2017-05-26 17:44] Mark-Simulacrum commented on #40260
@infinity0 I'm not sure what the bug is here. Is the test (now [here](https://github.com/rust-lang-nursery/reference/blob/master/src/items.md#extern-functions)) hanging, crashing, or failing today?

[2017-05-26 18:09] nikomatsakis commented on #25633
@Mark-Simulacrum one challenge is that `V` may have a meaning in that context, so we might end up e.g. printing `HashMap<V, V, ..>` where the first `V` is referring to the name in the one context, and the other `V` is referring to the name from the definition of hash-map. We could sidestep this by printing something like `???` or making a "fresh" name that does not appear elsewhere.

I definitely

[2017-05-26 18:12] #36379 closed

[2017-05-26 18:12] #37550 closed

[2017-05-26 18:12] #37665 closed

[2017-05-26 18:12] #38160 closed

[2017-05-26 18:12] #38954 closed

[2017-05-26 18:12] #39362 closed

[2017-05-26 18:57] Gankro commented on #42243
This is expected/correct behaviour. Many of our analyses assume the input source has been completely cleaned of all junk like unused-mut and dead-code. Anything else would just slow them down for no real benefit.

More broadly this is sometimes useful for people learning/exploring the language. They can insert garbage branches to emulate a complex function and we won't "outsmart" them.

[2017-05-26 19:03] nikomatsakis commented on #36799
OK so I attempted to run with valgrind but that failed miserably. I have deleted like 75% of the lines in the file and I'm giving it another try.

[2017-05-26 19:26] UtherII commented on #28237
I stopped following the subject long ago, when it seemed to me that `...` was making consensus. `..=` seem just awkward to me since it just look like an affectation at first sight.

But much more important, I don't think that this bikeshedding is important enough to change the current pattern syntax.

[2017-05-26 19:46] retep998 commented on #42228
Did you remember to get a cross compiling gcc toolchain that *targets* linux? Remember that MinGW is for targeting Windows, not for cross compiling to Linux from Windows.

[2017-05-26 19:55] mikebenfield opened #42250 "Incorrect pattern matching in macros with expr repetition"
Upon compling this code

[code]

I get the error

[code]

while `demo1!(( ; ), 0);` correctly expands to 1.

It appears that `demo2` is pattern matching its first pattern and then giving an error because `;` is not an `expr`. But in fact it shouldn't match the first pattern, because there is a second parameter that doesn't appear in the first pattern.

Version info:
[code]

[2017-05-26 20:18] nikomatsakis commented on #38114
@michaelwoerister this is basically done, right?

[2017-05-26 20:57] krstoff commented on #39280
Hi, I'm interested in doing this. :)

[2017-05-26 21:23] Mark-Simulacrum commented on #25633
Drawing from that, perhaps just using `_` for the type we couldn't infer and `..` for 1 or more types that we could; so like the following two (somewhat copied from yours). I also have thought about using `X` for the type we couldn't infer (or maybe a generated `X` that doesn't appear in current context; maybe picking a single letter name though -- `A`, `B`, ...).

I think I somewhat dislike the a

[2017-05-26 22:24] alevy commented on #42248
The last nightly where this works as expected is `rustc 1.17.0 (56124baa9 2017-04-24)`, which I believe is the last one before the upgrade to LLVM 4.0, which is at least _some_ evidence that this is an LLVM bug.

[2017-05-26 22:53] Mark-Simulacrum opened #42253 "format_args appears to be unusable"
This appears to reproduce across stable/beta/nightly, and basically makes `format_args!` unusable as far as I can tell. Nothing I've managed to pass in has compiled, though I have not experimented extensively. I've also included the expanded code (`rustc -Zunstable-options --pretty=expanded`) which shows why this is the case.

[code]

fails with:

[code]

expanded:
[code]

[2017-05-26 23:00] alevy commented on #42248
I also compiled  to thumb assembly the same LLVM-IR with `llc` from

  1. an older version of LLVM 3.9 and
  2. a newer version of LLVM from git.

LLVM 3.9 seems to use an entirely different mechanism for compiling switch statements to thumb assembly and recent git-LLVM seems to use the same strategy but doesn't result in the same strange compilation bug as described above.

I'm still figuring out

[2017-05-26 23:30] ppannuto commented on #42248
As Tock is moving around this problem with the `inline(never)` fix, could you add a link to a commit hash that exhibits this issue?

[2017-05-26 23:37] Mark-Simulacrum commented on #28398
I'm going to close as fixed since it seems this is now fixed -- the IR is identical for both slow and fast, and neither case has a memcpy. If that's incorrect, please provide a reproducible example.

[2017-05-26 23:37] #28398 closed

[2017-05-26 23:39] Mark-Simulacrum commented on #33463
I think the `target_os` issue (if it's an issue, which I hope it isn't...) isn't part of this bug. Otherwise, this should've been fixed by the LLVM 4.0 upgrade, so I'm going to presume fixed and close. The commit noted above is included in the LLVM currently in-tree.

[2017-05-26 23:39] #33463 closed

[2017-05-26 23:54] Mark-Simulacrum commented on #39975
All ranges that can provide iterator implementations do so today; this excludes `RangeFull`, `RangeTo`, and `RangeToInclusive`. However, these don't make sense as iterators (all don't have start points). As such, I'm closing.

[2017-05-27 00:11] BurntSushi commented on #35068
Sorry, but I've lost context on this change and this issue doesn't appear to link to anything. What is the purpose of this new method? Is it just a rename?

[2017-05-27 00:49] Mark-Simulacrum commented on #40263
@jrmuizel Is there a chance you could check with an updated version of cargo-vendor like @alexcrichton suggests?

[2017-05-27 01:22] Mark-Simulacrum opened #42255 "configure's config.mk ignores some fields during parsing"
grepping for CFG_ in config.mk after running ./configure yields the following, after removing those that rustbuild currently looks for. The rest should either be removed from configure itself (since creating them is pointless) or parsed into rustbuild.

cc @rust-lang/infra

[code]

[2017-05-27 01:22] Mark-Simulacrum commented on #40295
Closing in favor of https://github.com/rust-lang/rust/issues/42255.

[2017-05-27 01:22] #40295 closed

[2017-05-27 01:45] camlorn commented on #36648
If doing these isn't going to need an RFC, can someone (me? I feel like I'm volunteering) put them on all the containers?

Doing an RFC for this was something I was planning to do when I had this hypothetical thing called time, but if it's not needed then someone should just go for it.  Retain is the only way to express loops that might delete, and I don't see why we shouldn't have it on everythin

[2017-05-27 01:50] Mark-Simulacrum commented on #36648
Yeah, I think the other containers just need implementations and another tracking issue opened, as per https://github.com/rust-lang/rust/issues/36648#issuecomment-297233304. Go right ahead!

[2017-05-27 02:31] scottmcm commented on #27741
Tracking for `Step` has moved to https://github.com/rust-lang/rust/issues/42168, so can be removed from the list in the OP.

[2017-05-27 03:02] zengsai commented on #28237
this syntax sucks!
= have meaning of assignment, even in +=, -=, *= model, but ..= is about getting something. so confused, like array index start at 0, '...' if fine and beautiful, people will get use to it.

[2017-05-27 03:08] ssokolow commented on #28237
@zengsal
`..=` is conceptually derived from `==`, which already exists in Rust and does not mean assignment.

(ie. It's shorthand "Range where the final iteration `==` ...")

[2017-05-27 03:09] daiheitan commented on #28237
@zengsai `...` is too subtle, looks too similar to `..`

It's will be really abnormal for a language to have different number of dots meaning different things

[2017-05-27 03:19] briansmith commented on #39817
IIUC, that would not "zero cost" and so it would break the language design principles. It would be zero-cost if the closure's internal function were always inlined into the wrapper, I guess. But then that's the same as not having a wrapper, right?

[2017-05-27 03:21] Xaeroxe commented on #28237
Removing a foot gun is more important than being aesthetically appealing.

Newcomers: I've made a TL;DR, because this is a very long thread.  You can read it here: https://github.com/rust-lang/rust/issues/28237#issuecomment-296310123

[2017-05-27 04:19] sfackler commented on #42253
format_args! works fine as long as the value is passed directly into whatever's going to consume the `fmt::Arguments`.

[2017-05-27 04:25] Mark-Simulacrum commented on #42253
Could you give an example? I'm not quite sure I follow.

[2017-05-27 04:40] sfackler commented on #42253
https://github.com/rust-lang-nursery/log/blob/master/src/macros.rs#L44

or any of the in-tree usage:

https://github.com/rust-lang/rust/search?utf8=%E2%9C%93&q=format_args%21&type=

[2017-05-27 04:44] #42250 closed

[2017-05-27 06:03] vasily-kirichenko commented on #42243
I see, it's by design (what those tumb downs could possibly mean in this repo, btw?)

[2017-05-27 06:03] #42243 closed

[2017-05-27 06:40] eddyb commented on #39817
@briansmith The ABI could be part of monomorphization such that the closure isn't translated until it's either used with a Fn trait or coerced to an fn pointer and the latter would choose the ABI of the closure body itself.

@michaelwoerister would be able to say if the trans item collector could reasonably do this.

[2017-05-27 06:42] zengsai commented on #28237
speaking to " Off-by-one errors like that are famously footgun-y", I have to say: typo issue should not be used as the key reason of this change.

look at this compare, ".." and "..."  vs "=" and "==", is that means we should found other syntax for "==" to avoid user typo issue?  if "=" and "==" is fine, why ".." and "..." can't ?

I've been follow rust-lang more than two years. ant it been used i

[2017-05-27 06:44] daboross commented on #28237
@zengsai it was my understanding that it's not primarily about when _writing_ code, but when reviewing, reading and understanding code. If you aren't looking for it, you could more easily miss `..` vs. `...` being an off-by-one error, whereas `..=` definitely stands out more and won't have this problem.

I'm not sure I like the `..=` syntax either from an aesthetic point of view, but I can see whe

[2017-05-27 06:48] ssokolow commented on #28237
@zengsai Because `=` vs. `==` has a solution that isn't available to `..` vs. `...`.

Sure, you can confuse `=` and `==` in C... but that's a recognized footgun and more modern languages like Python and Rust resolved that:

1. It's a syntax error if you type `if x = y` rather than `if x == y` (This is the fix Rust and Python made)
2. When I accidentally typed `x == y;` rather than `x = y;`, I got

[2017-05-27 06:50] tinaun commented on #24939
I can take this.

I was also thinking of adding a `FromStr` impl for `&'a str`, but unsure if it would be better to wait for `never_type` to get closer to stabilization and use that instead of adding another empty enum to std

[2017-05-27 07:08] withoutboats commented on #28237
@zengsai `..` and `...` evaluate to types which implement all the same traits and can be used essentially interchangeably (this is by design). The off by one error is a very real issue.

I want to be clear that I also hate this syntax, so much so that I don't agree with @aturon's comment that the current situation where we use `..` and expressions and `...` in patterns is "untenable;" in fact, I t

[2017-05-27 07:11] withoutboats commented on #28237
Actually, I'm still really unhappy about deprecating `...` in patterns, and I'm basically just going to grit my teeth so that this issue can be resolved. The entire lang team agrees that `..`/`...` would be a terrible wart, leading some users to spend hours debugging a totally silent typo issue.

The rest of the lang team feels strongly that having a disconnect between expressions & patterns is un

[2017-05-27 07:12] zengsai commented on #28237
@ssokolow Sorry, I still can't agree with you. compiler can warning you this kind of typo, but what if you type "x=5" at where it should be "x=6" ?

Compiler is not the perfect one to avoid typo, the programmer is.

if this change have no side effects, I totally agree. but this let the language lose aesthetic, writing and reading fluency, which is not worth for just in my personal opinion.

Today'

[2017-05-27 07:19] zengsai commented on #28237
@withoutboats We argue with it, case we love it. Maybe this argument is too late, and can't change anything, just...

[2017-05-27 07:21] ssokolow commented on #28237
@zengsai

There are certainly trade-offs to be made, but I get the impression we're never going to agree on the best balance point between those.

Regardless of personal taste, I see `..=` as a tiny price to pay to avoid what may be a very large amount of time wasted trying to track down bugs.

[2017-05-27 07:21] daboross commented on #28237
In my small opinion, `5` vs. `6` is much more obvious to see than `..` vs `...`.

[2017-05-27 07:23] daiheitan commented on #28237
@zengsai I'm receiving too many emails just for this conversation, how about moving to rust IRC channel to express your feelings better?

[2017-05-27 07:32] zengsai commented on #28237
@daiheitan 这是正常交流，如果不喜欢，建议你取消定阅该邮件。

[2017-05-27 08:26] petrochenkov commented on #32836
@brson

The [stabilization PR](https://github.com/rust-lang/rust/pull/42068) is merged.

[2017-05-27 09:16] petrochenkov opened #42256 "Semicolon is unnecessary after `use prefix::{a, b, c}`"
[code]

No other curly-braced items require (or allow) semicolons after them. Compare:
[code]

The syntax was implemented back in 2012 by @catamorphism without much discussion :)
See https://github.com/rust-lang/rust/issues/1426 and https://github.com/rust-lang/rust/commit/9dc59e15061827122dc0f08d3f66acd17ba329dc for details.

Proposal:
Make the semicolon optional marginally improving consistency

[2017-05-27 09:18] tbu- commented on #35068
The function escapes characters the way the `Debug` implementation for  `str` and `char` does.

[2017-05-27 10:33] rkruppe commented on #40282
I can't reproduce with a custom built rustc from yesterday's master:

[code]

It also appears I can't reproduce with an old nightly (but a month newer than the version OP reported) I had lying around:

[code]

[2017-05-27 11:02] Mark-Simulacrum commented on #40282
Going to close, then. If anyone can reproduce, let us know!

[2017-05-27 11:02] #40282 closed

[2017-05-27 11:43] Mark-Simulacrum commented on #42253
Hm, okay. I'll close this then; I don't think we need to do anything in that case.

[2017-05-27 11:43] #42253 closed

[2017-05-27 11:52] tinaun commented on #24939
wait, that wouldn't work bc of lifetime issues regardless, right? :(

[2017-05-27 12:24] rkarp commented on #28237
When I first looked at Rust, I was *really* surprised about the `..` syntax. `(1..10).sum()` is... the sum of integers from 1 to 9? If you present this syntax to a newcomer and ask him what it means, it's very likely that he'll expect it to go from 1 to 10. And he would be right to do so, since you'd expect symmetric syntax to express symmetric ranges. Why should the 1 be included but not the 10?

[2017-05-27 12:47] ssokolow commented on #28237
@rkarp To some extent, that's probably down to pre-existing bias.

For example, there's a lot of Python influence in Rust and Python uses the same kind of half-open ranges. (ie. Python's `range(1, 5)` or `myList[1:5]` both have the same behaviour as Rust's `1..5`)

The justification for that in Python was tied to there only being one syntax and having a half-open syntax made it easier to do things

[2017-05-27 13:46] qnighy commented on #42256
To me it seems like this kind of construct.

[code]

Here curly braces are a part of an expression. The list importer looks like a part of a path too, although it isn't actually.

Blocks in expr-stmt would be an exception, but list importer seems to me more like a "one-liner" kind.

[2017-05-27 14:05] xfix commented on #28237
By the way, having `..=` as a token is technically an incompatible change, as it affects `:tt` rules in macros. Probably wouldn't be problematic, but you may want to check to be sure if somebody doesn't do that. (the alternative is allowing `.. =`, which I don't think is a good idea)

[2017-05-27 14:12] xfix commented on #28237
@ssokolow Technically, it's type error, not parse error. `a = 2` is an expression that returns `()`, and `if` expects `bool`, so they are clearly incompatible.

[2017-05-27 14:16] eddyb commented on #28237
The rules are slowly changing. Technically `..=` are 3 tokens where the first 2 have no space after them.

[2017-05-27 14:25] xfix commented on #28237
@eddyb: I do admit, I don't entirely understand it. Is there a way to introduce a new token without affecting how :tt parses it?

This code currently reports "Rule 2" and "Rule 4".

[code]

[2017-05-27 14:35] gnzlbg opened #42259 "incorrect diagnostic when derive and where clauses on tuple structs are involved"
This code:

[code]

produces this error:

[code]

The error is, however, that `f64` does not implement `Hash`. This code compiles fine:

[code]

The proper error message here should be that `Point<Num, AD>` requires `Num: Hash` and `f64` does not implement `Hash`, pointing out to the line `type Point2D = Point<f64, U2>`.

Instead, the error points to the wrong line (`position` inside `Vertex`), an

[2017-05-27 14:37] rkruppe commented on #42259
Worth pointing out that my reduction at least mentions the `i32: IntoIterator` obligation, while in the bigger example there's no hint at all.

[2017-05-27 14:42] eddyb commented on #28237
No, it's a change in how tokens are defined. @jseyfried can explain the consequences better.

[2017-05-27 14:44] gnzlbg commented on #42259
It seems that there are two independent failures here:

1.  No diagnostic for `type Point2D = Point<f64, U2>;` when `Point<Num: Hash, ...>`. Since `f64: !Hash`, this can't ever succeed.

2. Insufficient diagnostic for errors in derived impls. The where clauses of the tuple struct apply to all derived impls. That is, the derived `Copy` impl applies only for types that satisfy the whole where clause

[2017-05-27 14:46] Mark-Simulacrum commented on #40313
@rust-lang/lang: Do we want to make this change? If so, E-easy and E-mentor on me. I think it makes sense to edit the language; unfortunately I don't think we can do it only when referencing a trait object.

[This message](https://github.com/rust-lang/rust/blob/a11c26f6acb1b8890c36196e88371840c01e201d/src/libstd/panic.rs#L115) needs to be updated to the new language and src/test/compile-fail/issue

[2017-05-27 15:03] est31 commented on #42256
I think allowing no ; after braces in use would increase inconsistency, not decrease it, as often you are grouping use declarations at the start of the file, and you will be getting lines with semicolons and lines without.

All the other examples of macro and struct declarations quoted are in most cases multiline, while use declarations are in many cases single line.

[2017-05-27 15:07] Mark-Simulacrum commented on #39742
I think we could have these, though it's not clear to me that we should. They'd certainly have to be unsafe, I think.

[2017-05-27 15:18] Mark-Simulacrum commented on #36450
Okay, so this appears to be a documentation issue -- we need to update `ptr::copy{,_nonoverlapping}` to state something about alignment.

[2017-05-27 15:27] Mark-Simulacrum commented on #17207
Nominating for discussion by libs team since this is apparently unsound; so we should at least get eyes on it.

[2017-05-27 16:14] alexcrichton opened #42261 "Rustbuild doesn't handle multiple versions of crates.io crates in use"
Rustbuild compiles the compiler in a particular location and is then responsible for copying artifacts over to the actual structure the compiler is expecting (e.g. rustbuild assembles a sysroot). In order to handle stale folders rustbuild [copies only the most recent version of each rlib](https://github.com/rust-lang/rust/blob/a11c26f6acb1b8890c36196e88371840c01e201d/src/bootstrap/compile.rs#L398-

[2017-05-27 16:39] camlorn commented on #28951
Yeah, someone can close this.

We can technically do better, but not without a major refactor on order with the one I already did, and not without losing performance elsewhere.  Since we already do better than most other languages (the only one I know of that does better is Swift), I think it's more than sufficient.

[2017-05-27 16:40] #28951 closed

[2017-05-27 16:52] est31 commented on #42239
cc @japaric

[2017-05-27 18:35] michaelwoerister commented on #38114
Yes, pretty much. There's a related bug that should be fixed when https://github.com/rust-lang/rust/pull/42175 lands.

[2017-05-27 18:36] michaelwoerister commented on #39160
@jdm, did you get a chance to see if the fix from #42100 works for you?

[2017-05-27 18:41] michaelwoerister commented on #40614
When https://github.com/rust-lang/rust/pull/42192 lands, this task will be done.

[2017-05-27 18:42] Nirklav commented on #42228
Is that possible to get this toolchain? I didn't found any.

[2017-05-27 19:12] Mark-Simulacrum commented on #33525
This was fixed in #42150.

[2017-05-27 19:12] #33525 closed

[2017-05-27 19:13] daboross opened #42267 "IntoIterator and FromIterator say "module level documentation" but link to traits"
At https://github.com/rust-lang/rust/blob/master/src/libcore/iter/traits.rs#L112 and https://github.com/rust-lang/rust/blob/master/src/libcore/iter/traits.rs#L220, there's text:

[code]

However, the links go to `trait.FromIterator.html` and `trait.IntoIterator.html`.

Would it be an alright change to have these say `See the [trait-level documentation] for more information.` instead?

[2017-05-27 20:29] Aaron1011 commented on #42148
I'd like to work on this.

[2017-05-27 21:14] arielb1 commented on #42239
I don't have a MIPS machine right here, but it certainly looks that `def_path_hash` should be returning a `Fingerprint`, which should be endianness-correct (i.e. return the same 2 u64s) - https://github.com/rust-lang/rust/blob/master/src/librustc/ich/fingerprint.rs#L68.