[2021-08-31 20:42] the8472 commented on #64102
Yes.

AIUI a compiler could try to reason about whether other threads can access the memory location used for atomic accesses and if not treat it like local accesses, i.e. a sufficiently smart compiler could turn atomics into plain accesses which then get optimized further, defeating the black box.

It can't do that for memory shared across process boundaries, otherwise IPC can't work. So there ha

[2021-08-31 20:43] dcow commented on #83106
Just going to put a table here for reference

| rust version | llvm version | Xcode version |
| --- | --- | --- |
| 1.51 | 11 | 12 |
| 1.52 | 12 | 13 |
| 1.53 | 12 | 13 |
| 1.54 | 12 | 13 |
| 1.55 | 12 | 13 |
| 1.56 | 13 | (none) |

[2021-08-31 20:46] Lokathor commented on #64102
I've no idea how you'd specify shared memory in `core`, though I'm sure you could get some in `alloc` and/or `std`.

[2021-08-31 20:47] fangism opened #88544 "[crate locator] Specified --extern crate is not appearing in dep-info (with -Zbinary-dep-depinfo)"
This is an issue with the `rustc` compiler.  I'll describe what is happening, while we work on providing a minimal test case.  Summary: the dep-info emitted does not reflect `--extern CRATE=LOCATION`.

We have code that uses async-trait, that is compiled like so:

[code]

There happens to be two identical copies of libasync_trait-c6b6d222802967e6.so:

[code]

No need to concern with what '-novaria

[2021-08-31 20:50] the8472 commented on #64102
Moving the hint would be an option. How much is it needed in `no_std` crates or embedded systems? All tests under library pull in `std` even when they're testing `core`.

[2021-08-31 21:10] jyn514 commented on #88545
@mqudsi no worries - rustdoc is used for both docs.rs and the main doc.rust-lang.org website, but docs.rs doesn't have control over the main site.

[2021-08-31 21:13] jyn514 commented on #88545
I can't reproduce this on mobile Chrome though - maybe it's related to the screen size?
![Screenshot_20210831-161236](https://user-images.githubusercontent.com/23638587/131576640-18919152-b28a-44a2-b7e3-6b8cb2b3b03d.png)

[2021-08-31 21:23] lqd commented on #83190
`combine` is super tough to reduce, so here's what I have.

[code]

[2021-08-31 22:08] ejmount opened #88549 "Linker error with u32::to_ne_bytes and map"
I tried this code ([playground example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6a1588ca489f6a6c411fc25ec681b581))
[code]

I expected to see this happen: a compile error. And also, I particularly expect `map(foo)` and `map(|x| foo(x))` to behave similarly.

Instead, this happened: the linker falls over:
[code]

[2021-08-31 23:35] SNCPlay42 commented on #88498
Reduced:

[code]

On second thought I think this is just a different way of allowing the compiler to infer the type of `x`, so this *is* a duplicate of #88307.

[2021-09-01 00:27] theo-lw commented on #88276
Working on this @rustbot claim.

[2021-09-01 00:44] clarfonthey commented on #67794
From what I understand, this was recently changed to `~const` but none of the tilde-const PRs link back to this one, and the issue name/description should be updated?

[2021-09-01 00:45] clarfonthey commented on #67794
cc @oli-obk @fee1-dead since from what I understand you two know the most about this change

[2021-09-01 01:15] ibraheemdev commented on #74479
Is there any reason not to call this `num_cpus`?

[2021-09-01 02:52] fee1-dead commented on #67794
The opt-out is no longer needed. The previous scheme was:

[code]

And the current scheme is now:

[code]

This issue should be closed, but it can be reopened if somehow we decide to use `?const` opt-out again.

[2021-09-01 02:55] fee1-dead commented on #79378
I cannot reproduce the issue here. It might have been fixed.

[play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f09d8fd8e0f77f66125ab8c220551fe6)

[2021-09-01 03:13] digama0 commented on #88423
This seems like something that needs an RFC to change, because justifying this expansion requires `a` to have something additional to its type to remember that it is actually of a particular variant. That is, at the point `a` is used it definitely has type `Example<'a>`, which does not coerce to `Example<'static>`, so in that sense this is "not a bug", and I'm not a fan of poking holes in the type

[2021-09-01 03:29] digama0 commented on #88537
NLL doesn't change when destructors run (it can't, because this can change the observable behavior of the program). So this is working as intended. That `drop` doesn't work sounds like an issue with the async lowering, I would guess there is already an issue for this.

[2021-09-01 04:01] burrbull commented on #57241
`const fn transmute` is already stabilized

[2021-09-01 04:15] rib commented on #88537
I don't think there should even be anything to drop in this case though; the variable is moved via `device.ConnectionStatusChanged(connection_status_handler)`

So as far as I understand it there's no need for any destructors / implicit drop for `connection_status_handler` to run at the end of the function scope. (So it doesn't look like NLL would need to affect when destructors are run here?)

I o

[2021-09-01 04:38] digama0 commented on #88537
Here's a smaller example exhibiting the issue:
[code]

[2021-09-01 05:05] csmoe commented on #88537
Duplicate of https://github.com/rust-lang/rust/issues/63768

[2021-09-01 05:05] #88537 closed

[2021-09-01 05:26] jhpratt commented on #57241
@burrbull not sure I see the relevance?

[2021-09-01 05:56] simonvandel opened #88554 "Unused function in size-optimized asm"
I tried this code https://godbolt.org/z/6oTTE84nz with

[code]

I expected to see this happen: under size opt (-Copt-level=z) the unused `spec_eq` function is eliminated. Since code size is a motivation for that opt level, I would expect unused functions to get eliminated.

[code]

Instead, this happened: `spec_eq` is present with opt levels `s`and `z`.

It is however removed with levels `2` and `

[2021-09-01 06:13] #17539 closed

[2021-09-01 06:15] hellow554 commented on #83190
Sub 50 lines, almost there:

[code]

[2021-09-01 06:25] burrbull commented on #57241
Sorry, I was saying about #72447

[2021-09-01 06:32] Seadragon91 commented on #88545
Can confirm that problem on my PC in Edge.
Also on my smartphone in Edge and Chrome, I need to change the view of the website to "Desktop website" then I see it there too.

[2021-09-01 06:49] #79378 closed

[2021-09-01 06:55] IndianBoy42 opened #88555 "error: internal compiler error: broken MIR in Item(WithOptConstParam { did: DefId(0:1990 ~ full_moon[5c09]::ast::parsers::{impl#230}::parse::{closure#0}), const_param_did: None }) (end of phase Optimization) at bb15[0]:"
### Code

The code is part of the [full_moon package](https://github.com/Kampfkarren/full-moon), I have filed an [issue](https://github.com/Kampfkarren/full-moon/issues/192) there to try and get a minimal example

### Meta

This problem only happens on nightly version shown below

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>

[2021-09-01 07:05] mckravchyk commented on #57497
Best bet is to use Docker to  compile the release binary. I had this exact problem and luckily, the official rust docker image did it.

There's even a command in the readme:
`docker run --rm --user "$(id -u)":"$(id -g)" -v "$PWD":/usr/src/myapp -w /usr/src/myapp rust cargo build --release`

If you need a version of libc lower than the version the official docker image, you will have to build your

[2021-09-01 08:42] #67794 closed

[2021-09-01 08:50] Rustinante commented on #62358
Being able to iterate and being a "container" in the real sense are not the same thing. We can have a "container" that contains all the rational numbers but there won't be a natural way to iterate through it. On the other hand, being able to iterate through a generator of all the positive integers doesn't make the generator a "container".

It's true that nothing prevents us from making the Option

[2021-09-01 08:53] jhpratt commented on #62358
@Rustinante I'm not sure if you're aware given your wording, but [`Option` _is_ an `enum`](https://doc.rust-lang.org/stable/std/option/enum.Option.html). There is nothing special about it with regard to pattern matching. `Option` isn't even a lang item, it just has some special casing for diagnostic purposes.

[2021-09-01 08:53] flip1995 commented on #88307
@c410-f3r @matthewjasper (I assume you meant this Matthew?) Do you know if you can provide a fix for this in-time or if the revert has to go through? We want to sync Clippy one more time before the beta branching on Friday and this is kind of blocking that (since we don't want to make a revert harder, if it should come to that).

[2021-09-01 08:55] aaron-cerebras commented on #62358
I’m talking more in the context of functional programming, Option has a long tradition in those functional languages

[2021-09-01 08:57] Rustinante commented on #62358
I’m talking more in the context of functional programming, Option has a long tradition in those functional languages

[2021-09-01 09:00] oli-obk commented on #67794
yea, const_trait_impl requires the opt in syntax, otherwise you can't write anything but trivial impls

[2021-09-01 09:09] jplatte commented on #79378
Shouldn't this issue be marked needs-test then instead of closed?

[2021-09-01 09:12] Rustinante commented on #62358
And borrowing the unequivocal statement from @jhpratt , if we so unequivocally state that Options IS an enum, then the question is settled that Option shouldn’t be treated as a container, since making something both an enum and a container would probably just be confusing

[2021-09-01 09:14] lcnr commented on #88534
updated
[code]
----
what is the expected behavior here? The `impl FromBigEndian for u64 {}` is missing `fn from_be_bytes` so the error message seems correct to me.

[2021-09-01 09:34] robjtede commented on #62358
+1 on @glittershark's annecdote. I too have typed `.contains` and found it in the auto-complete dropdown, knowing immediately that it will do what I want (followed swiftly by disappointment that it is unstable).

It should probably be said that I did not stop to consider the nature of the Option container and it's facets as a psudeo-container type. It is simply a natural name for a method that che

[2021-09-01 09:38] ShadowJonathan commented on #62358
I'll give some 2c regarding mental acrobatics as to why `::contains` is sensible here; `Option::Some` is a container, it "contains" the value `T` in itself, even though the container can also not contain it's value, with `contains` then you ask the question "`contains` this container value `X`?"

Some more 2c: even if this makes more sense to be `eq` after all, like @glittershark said, the muscle

[2021-09-01 09:40] Rustinante commented on #62358
@ShadowJonathan im not sure if you realized but you just said Option::Some is a container, not Option itself

[2021-09-01 10:17] yoshuawuyts commented on #74479
@ibraheemdev you can find a conversation that lead to the current naming here: https://github.com/rust-lang/rust/pull/74480#issuecomment-662045841.

The short version on "why not name it `num_cpus`?" is because this API does _not_ return the number of CPUs in a computer (neither logical or physical). Instead it returns the amount of "concurrency" [1] available to a process _at that time_.

---

[1

[2021-09-01 10:46] soc commented on #62358
@Rustinante I think you are really grasping for straws here, argument-wise.

Checking your argument against another language, e. g. Scala, none of your points feel like they are related to the naming of the method. If I inverted all those points ...

- `Option` is a library type with _some_ amount of special compiler treatment
- it could be an enum, but currently isn't
- you can pattern match on i

[2021-09-01 10:46] b8591340 commented on #88534
It looks like I’ve been writing too much Swift lately and thought the compiler would pick up existing implementations. Sorry! Thanks for taking a look!

[2021-09-01 10:46] #88534 closed

[2021-09-01 11:03] HKalbasi commented on #67225
@nikomatsakis I have an idea of more radical change, but I think it is less hackier than `()` fallback:

Never type is a false proof in curry-howard correspondence, and in presence of a false proof, anything is true. That is, not only we can cast somthing of type `!` to any type, but in presence of a `!` value, we can cast anything to anything via an implicit function `cast<A, B>(a: A, false: !) -

[2021-09-01 11:34] hellow554 commented on #88549
It looks like you are using an oder version of `rusdtc`? Can you post your version please (`rustc -vV`). In the meantime, use `rustup update` to update your compiler. I can't see the error anymore on the latest nightly

[2021-09-01 11:47] #85026 closed

[2021-09-01 11:47] #88315 closed

[2021-09-01 11:47] #66358 closed

[2021-09-01 11:47] #78989 closed

[2021-09-01 11:48] hellow554 commented on #88555
I can't reproduce the ICE. Can you provide steps to reproduce it? Something like this:

[code]

[2021-09-01 11:49] Rustinante commented on #62358
@soc I don't understand what you're trying to say. Nobody said anything about special "compiler" treatment. We have listed good reasons and not grasping for straws. Anybody interested please read the entire thread. There's no point arguing in a circle here.

[2021-09-01 12:07] soc commented on #62358
.

.

[2021-09-01 12:12] Rustinante commented on #62358
By Option being a special language construct, i'm talking about Some/None in the functional programming sense, not whether it's a library or compiler treatment. The point being, as I have already said before, that Option is _different_ from other containers. If you like to look at other languages so much, see the Some and None in Ocaml and you'll see what i mean by Option being a different from ve

[2021-09-01 12:18] soc commented on #62358
I think you just have to accept that 20 years of combined evidence of it being a non-problem is vastly more convincing than your imagination that it is.

And yes, being consistent, working with user expectations and playing well with auto-complete are all perfectly valid reasons.
Picking a name is largely about optimizing for readers, writers and completers, usually in that order.

[2021-09-01 12:20] Rustinante commented on #62358
20 years of combined evidence of what? In a different language there's a different context. We have listed several examples where confusions had shown up, those are already examples that show that it's not a non-problem.

[2021-09-01 12:24] leonardo-m commented on #88424
See also: https://users.rust-lang.org/t/help-for-the-new-const-trait-checks/64237

[2021-09-01 12:37] IndianBoy42 commented on #88555
I encountered this when trying to install stylua and selene.

`cargo install stylua`

Perhaps this only happens in release mode?

[2021-09-01 12:50] hydra commented on #29658
See also:

https://github.com/rust-lang/rustup/issues/2843
https://github.com/rust-lang/rustup/issues/2838

[2021-09-01 12:52] m-ou-se commented on #79524
Re-opening this, as the `FusedIterator` question is still open.

[2021-09-01 13:11] rib commented on #88537
Just for reference, in case anyone else arrives here; these other two issues also look closely related:

https://github.com/rust-lang/rust/issues/57478 and https://github.com/rust-lang/rust/issues/57017

[2021-09-01 13:20] hellow554 commented on #88555
`cargo build --release` is needed on the full-moon repository. I'm on it

[2021-09-01 13:46] RalfJung commented on #87946
Yes, `assert_eq!` also adds an implicit `&`.

[2021-09-01 14:32] osa1 commented on #82523
Sorry if this is not the right place for this question, but I'm curious about how to do method calls with `&self` receivers now when the receiver is potentially unaligned. Examples in the original post do not show this. Example:

[code]

Here a reference is created implicitly for the method call, causing the warning.

Since the method is defined in a library I can't make it a `*const self` method

[2021-09-01 14:49] bjorn3 commented on #82151
I think the linker error is caused by rustc thinking that the cdylib of hyper is a dylib because both have the same extension Only dylib exports the required functions for linking to succeed. Rustc currently doesn't check that a dynamic library contains crate metadata if there is an rmeta or rlib of the same name:

https://github.com/rust-lang/rust/blob/00ce1665c9f859813d4e9c5fdbf44d881e1fb64c/com

[2021-09-01 15:02] fee1-dead commented on #88424
I think you can just move the bound to the const fn's where clause.

`pub const fn new(i: Ti) -> Option<Self> where Ti: ~const ToFromUsize`

[2021-09-01 15:05] ibraheemdev commented on #69774
`linger` and `set_linger` is now available under `#![feature(tcp_linger)]` (#88494).

[2021-09-01 15:12] ibraheemdev commented on #88494
Similar to the TCP keepalive, there are actually two operations here. Enabling linger, and setting the linger time. Right now we use an option for both, but we might want to separate these out. For reference, C# has the following API:
[code]

[2021-09-01 15:16] b-naber commented on #88433
@fee1-dead This is caused by https://github.com/rust-lang/rust/commit/ac50a53359328a5d7f2f558833e63d59d372e4f7, when we try to resolve the instance for a trait fn we use receiver substs from the `MethodCall`, which don't match with the generic params the associated fn expects. This happens [here](https://github.com/rust-lang/rust/blob/00ce1665c9f859813d4e9c5fdbf44d881e1fb64c/compiler/rustc_mir/src

[2021-09-01 15:18] #86727 closed

[2021-09-01 15:28] RalfJung commented on #82523
It is not possible (and has never been possible) to call such methods on packed fields.

It does, the following is listed as UB due to producing an invalid value: "A reference or Box<T> that is dangling, unaligned, or points to an invalid value."

[2021-09-01 15:36] osa1 commented on #82523
I'm confused by this. My example above does exactly this, and it used to work without warnings a few versions ago. It works today, but generates a warning. Did I misunderstand what you mean? Do you mean it's never *supposed* to work, rather than it never worked?

[2021-09-01 15:45] fee1-dead commented on #88433
I didn't see the call to `Instance::resolve` after that. I think I basically wanted to replicate the behavior of `Instance::resolve`, when I didn't know that it is already being done. A trivial fix is to just leave that match arm empty.

[code]

[2021-09-01 15:54] RalfJung commented on #82523
Your example had and has Undefined Behavior. You may have gotten lucky that the resulting program actually does what you want it to do, but if you run your code past a UB sanitizer (e.g. Miri), it would tell you something is wrong.

[2021-09-01 15:57] b-naber commented on #88433
I tried that, I also tried to just use the identity substs, in which case the resolution succeeds. But in both cases we get another ICE later during monorphization (which I'm not familiar with). This is the backtrace:

[code]

What does `DefId(1:7173 ~ std[ff7f]::process::{impl#46}::SUCCESS` correspond to? Where is the instance for that `DefId` created and why isn't it local?

cc @oli-obk

[2021-09-01 15:58] petrochenkov commented on #82151
We may be able to fix that "arguably a bug", because dylibs are rare in practice now, most of crate searches will not encounter a dylib candidate.

[2021-09-01 16:03] fee1-dead commented on #88433
I have no idea what that ICE means. I haven't touched code in that backtrace.

[2021-09-01 16:07] clarfonthey commented on #67794
So... is there no dedicated tracking issue for `~const`, then?

Mostly because I don't see any easy place someone can look to know what the new syntax means.

[2021-09-01 16:22] steffahn opened #88562 "error: linking with `cc` failed: exit status: 1"
[code]
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0049d1f58c011203eaf87a602ee71e33))

@rustbot label T-compiler

[2021-09-01 16:25] rib commented on #88537
Oh and also this higher level tracking issue: https://github.com/rust-lang/rust/issues/69663

[2021-09-01 16:32] ijackson opened #88564 "BorrowedFd::to_owned() gives you another BorrowedFd"
Firstly, I should say that I really like the basic ideas in  RFC3128 (#87074) .  I'm reporting a wrinkle which may or may not be soluble.

This program:

[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d51ddfa5a390e4d1b8f8bf81af8b0d73

Prints:
[code]

A naive reader might have thought it would print:
[code]

But of course converting a borrowed to an owned fd is fall

[2021-09-01 16:38] steffahn commented on #88562
In this version
[code]
this is a regression. The code does
* from 1.0 to 1.3 _not_ compile due to missing `Debug for fn(A) -> Ret` implementation
* from 1.4 to 1.9 run successfully (printing something like `Delegate(0x56416464b5e0)`)
* from 1.10 to 1.45 **ICE** saying ``Encountered error `Unimplemented` selecting `Binder(<fn(&std::string::String) as std::fmt::Debug>)` during trans``
* from 1.46 to

[2021-09-01 16:45] leonardo-m commented on #88424
Unfortunately it gives me a "error: `~const` is not allowed here". Followed by "note: only allowed on bounds on traits' associated types and functions, const fns, const impls and its associated functions"

[2021-09-01 16:46] steffahn commented on #88562
IMO arguable even two regressions: in `1.10` it stops to compile (that one’s old, admitted), and in `1.46` it stops producing an ICE

(I prefer an ICE over a linking error: with an ICE the compiler at least admits that it’s doing something wrong and doesn’t pass invalid code to LLVM, and ultimately the linker).

@rustbot label regression-from-stable-to-stable

[2021-09-01 16:48] yoshuawuyts commented on #69774
Closing in favor of https://github.com/rust-lang/rust/issues/88494

[2021-09-01 17:03] mqudsi opened #88566 "_bzhi_u32/_bzhi_u64 has poor codegen without bmi2 feature"
As reported [in this article about some issues encountered using simd with rust](https://neosmart.net/blog/2021/using-simd-acceleration-in-rust-to-create-the-worlds-fastest-tac/), calls to `bzhi` intrinsics made without the `bmi2` cpu target feature enabled gives some odd codegen. The `bzhi` instruction isn't emulated and is still executed directly - but the the intrinsic is never inlined resultin

[2021-09-01 17:11] Aaron1011 commented on #88457
This should be fixed in the latest nightly

[2021-09-01 17:20] tavianator commented on #86649
So this should no longer say "success".  It should say something like "file name too long" instead now.  A complete fix is just replacing readdir_r() with readdir() on LInux, which I'll do unless someone beats me to it.  See #40021 for some historical details.

[2021-09-01 17:26] #88110 closed

[2021-09-01 17:53] JamRemco commented on #88562
I am not sure if it adds any value, but when you 'forget' the & in the struct def. like this
`pub struct Delegate<T>(fn(Data: T)); `
the linker does not crash. and program runs.

problem seems to be the Custom impl for debug

Working examples: https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=638ead9cbca8701ab3e5f73f3b84c6f0

Regards.

Remco

[2021-09-01 18:04] #42327 closed

[2021-09-01 18:08] c410-f3r commented on #88307
As for myself, I did everything I could.
I guess it is now mostly up to Matthew but if there is anything I can help, then I will surely help.

[2021-09-01 18:20] Fishrock123 commented on #87335
@joshtriplett https://github.com/rust-lang/rust/pull/87688 has been merged, can you tick off "implement the RFC"?

[2021-09-01 18:31] steffahn commented on #88562
Using `&(self.0 as fn(&'a T))` seems to get rid of the error, i.e.:
[code]

[2021-09-01 18:35] Fishrock123 commented on #87335
@camsteffen @cjgillot did the implementation answer the "Grammar clarity" question at all?

[2021-09-01 18:40] camsteffen commented on #87335
See [`expr_trailing_brace`](https://github.com/rust-lang/rust/blob/ad3407f482d29f26c67700974d86f89b3f2ab993/compiler/rustc_ast/src/util/classify.rs#L28-L52) - I think the "slightly unusual grammar requirements" are contained there.

[2021-09-01 18:54] m-ou-se commented on #65512
This has been implemented and is shipping in Rust 1.56 as part of Rust 2021.

[2021-09-01 19:19] m-ou-se commented on #88302
We discussed this in the library api meeting just now. We agreed that `#[track_caller]` is *not* a promise that that attribute will stay there in the future. We can imagine such a promise might be made in the public documentation of a function, but that's not an implicit guarantee.

`#[track_caller]` is an important part of the quality of the standard library. Not having it in certain situations m

[2021-09-01 19:29] yaahc commented on #87401
I think this is the correct solution going forward that people should reach for when implementing error types that utilize track caller. As Mara mentioned in https://github.com/rust-lang/rust/issues/88302#issuecomment-910614687 we don't consider track_caller results to be part of our stable API surface, similar to `Debug` output. That plus @dtolnay indicated that the old track caller support on `R

[2021-09-01 19:41] BGR360 commented on #87401
@yaahc I'm still pretty new to Rust so I don't really feel qualified to author a general purpose crate for this, nor do I really trust myself to maintain it for the community 😁 . I would be happy to help contribute to the development of a crate, though, and/or to participate in discussion around this topic.

What work would you be adding to the project-error-handling todo list for this? The creati

[2021-09-01 19:44] joshtriplett commented on #65225
We reviewed this in today's @rust-lang/libs-api meeting.

We'd like to see a similar method added to `BTreeMap::Entry`, but that's not a blocker for stabilizing the method for `HashMap::Entry`.

We feel like this should be named `insert_entry`, rather than just `insert`, since it returns an `OccupiedEntry`, unlike the similar `insert` method that returns just a value.

Could you rename this method

[2021-09-01 19:46] yaahc commented on #87401
The former, creating a new crate. If you're interested in working on it we'd be happy to help design/review/maintain it. If you want I'd recommend creating a topic for continuing the conversation about it in https://rust-lang.zulipchat.com/#narrow/stream/257204-project-error-handling.

[2021-09-01 19:55] joshtriplett commented on #73014
We discussed this in today's @rust-lang/libs-api meeting. The general sentiment was:

- We'd like to make sure that `default()` can work even in const contexts. Ping @rust-lang/wg-const-eval; what's the status of being able to say, for a free function like `default()`, that it's `const` if and only if there's a const impl of `Default`? We'd like to know if that'd be possible, even if it's nightly-

[2021-09-01 20:10] Apteryks opened #88569 "[ui] ui/asm/sym.rs test fails with 'assertion failed: `(left == right)"
Hello,

I've stumbled upon this single test failure while packaging 1.54.0 for GNU Guix.

I tried this command:

[code]

I expected to see this happen: all test passes

Instead, this happened: one test failed (see below)

### Meta

version: 1.54.0 (release)

[code]

[2021-09-01 20:10] passcod commented on #65225
Heyho! Awesome 🦀 I'll try to get to it sometime this month.

[2021-09-01 20:18] BGR360 commented on #87401
Topic created: https://rust-lang.zulipchat.com/#narrow/stream/257204-project-error-handling/topic/track_caller.20error.20crate

[2021-09-01 20:31] dan-da commented on #56071
I have a use-case also, using an enum to represent fixed amount denominations for a cryptocurrency in development.   u128 is necessary/desirable to have enough divisibility.

presently I am working around by defining the variants as a list (without integer values) and then using giant match statements to convert to/from.   works, but is ugly.

[2021-09-01 20:55] Amanieu commented on #56167
We reviewed this in today's @rust-lang/libs-api meeting and agreed with the summary in https://github.com/rust-lang/rust/issues/56167#issuecomment-810457405.

We'd like to see an implementation of `entry_ref` which allows an `Entry` to be created from just a reference to a key, which would be held in a `Cow` internally and upgraded to an owned key when necessary for an insertion.

We feel that any

[2021-09-01 21:18] apiraino commented on #88562
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388562.20error.3A.20linking.20with.20.60cc.60.20failed.3A.20exit.20status.3A.201) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-01 21:35] ijackson commented on #88564
Hrm.  Interesting.  I haven't worked with this API much, so I don't feel I qualified to have an opinion.  It does feel a bit odd, but I think it's going to be odd either way.

Err.  I miswrote.  I meant `impl TryFrom<BorrowedFd> for OwnedFd`.  Ie, the `try_clone()`, only starting from a `BorrowedFd`.

I think anyone who is working with fds knows (ought to know) what the implications are.  Obviousl

[2021-09-01 21:37] clarfonthey commented on #56071
I mean, u64 allows up to 10^19, so I'm not sure what kinds of quantities you need to include. If we translate that into metric prefixes, that'd be all the way to exa (10^18).

[2021-09-01 21:41] camelid commented on #88545
I can't reproduce this in Firefox on macOS, but I *can* in Chrome on macOS. So I'm guessing it's a bug specific to Blink because I think Chrome and Edge both use Blink, whereas Firefox does not.

[2021-09-01 22:21] dan-da commented on #56071
yes, well in fact we may use u64 in the end, but there has been discussion/debate around using u128 for greater divisibility, so our prototype code can build either way via a type alias.  Unfortunately trying to use repr(u128) fails to compile, hence the workaround.

There are other ways we could represent this.   We don't have to use an enum at all.  It is simply the data structure that seems mos

[2021-09-01 22:46] fxdave commented on #84277
Why the `Option<Infallible>` is the Option's Residual type?
Why not the option itself: Option<T> ?

This would let me do:
[code]

This `ok_or(Error)?` is bugging me, and I really want a solution that converts Option<T> to MyResult.
If I would convert Option<Infallible> to a MyNoneError it wouldn't help me at all. Even `.expect()` would add more info about the place.

For workaround, I created a  m

[2021-09-01 22:56] oli-obk commented on #67794
I updated the const_trait_impl tracking issue to link to the latest RFC text

[2021-09-01 23:09] oli-obk commented on #73014
it's possible and already works (not yet in bootstrap libcore though): https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=abd79539fa8900dd7f9e9d657f5f3e9a

[2021-09-01 23:12] mqudsi commented on #88545
I’m not saying it’s *not* grid, but just pointing out that changing the display completely changes the layout and so may avoid the problem even if it’s something else. In theory, anyway.

[2021-09-01 23:18] parasyte opened #88576 "New panic with env_logger and with #[windows_subsystem = "windows"]"
This was initially reported in https://github.com/env-logger-rs/env_logger/issues/214, but I'm adding it here for additional eyes and because this issue doesn't occur on stable Rust. I could be wrong but this looks like this is caused by #87329 ... cc @sunfishcode ?

----

I spent an hour trying to reduce a minimal test case for this error I started experiencing with my app. So far I have produced

[2021-09-01 23:26] ChrisDenton commented on #88545
Fair point. A minimal test case appears to show the same issue but I'll admit that does not necessarily determine the root cause:

[code]

[2021-09-01 23:41] ChrisDenton commented on #88576
Likely cause is that when the "windows" subsystem is used, the std handles will all be null (i.e. they don't exist). From the backtrace it looks like the std is expecting them to always be a valid handle value.

[2021-09-01 23:50] mqudsi commented on #88545
I think your test case confirms the cause, at least from a black box perspective, sufficiently ;)

[2021-09-01 23:53] parasyte commented on #88576
`termcolor` just does this: https://github.com/BurntSushi/termcolor/blob/dc7e7b93830579716fc180925a17551dee5cfddc/src/lib.rs#L893-L899

It expects a `Result`.

[2021-09-01 23:56] jhpratt commented on #73014
Are we working on the assumption that something like `use core::default::Default::default;` won't be available in the future? Or is it more that we're okay with the potential for a little duplication down the road?

[2021-09-02 00:00] tmccombs commented on #84277
Because `from_residual` should always be called with `None`. `Option<!>` would also work, if `!` is stabilized before the Try trait. `!` or `Infallible` communicates that through the type system.

Also, you wouldn't be able to define those `FromResidual` `impl`s anyways, because they would conflict with the blanket `impl` for `Option<T>`.

However, if/once [RFC-1210](https://github.com/rust-lang/r

[2021-09-02 00:10] fxdave commented on #84277
Meanwhile, I found an even better workaround. I put it here. This may be useful for somebody else too:

1. Define`SomeError` and `MyResult`. `MyResult` is needed because I'm not allowed to impl the std's Result, so I applied the new type pattern.
2. Implement `From<FromResidual<PhantomData<T>>>` for `MyResult` (where `T` is from the `Option<T>` that you want to use.)
[code]

3. Define `MyOption` (

[2021-09-02 00:12] jhpratt commented on #83701
With the only unresolved question listed being diagnostics, is there anything holding up stabilization? Other than a stabilization report of course.

[2021-09-02 00:20] sunfishcode commented on #88576
The crash goes away if I change the `env_logger` dependency in Cargo.toml to disable the "termcolor" and "atty" features:
[code]

As such, one option here would be to say that `io::stderr()` shouldn't be called in `#![windows_subsystem = "windows"]` mode, and have it panic with a descriptive panic message. There's a logic to that, since there seems to be no point in linking in and calling termcolo

[2021-09-02 00:25] nbdd0121 commented on #83701
Probably it's still too recent. I only implemented this in June, and I doubt it has been widely used or tested in the ecosystem. This also needs a lang team FCP or RFC.

[2021-09-02 00:25] sunfishcode commented on #88576
cc the [io_safety tracking issue](https://github.com/rust-lang/rust/issues/87074)

[2021-09-02 00:26] parasyte commented on #88576
Maybe it would be worthwhile to get BurntSushi's thoughts, since this affects `winapi_util`?

Personally I would be with "just update your dependencies" as a solution, but maintaining backward compatibility might be more important for the libraries team...

[2021-09-02 00:33] ChrisDenton commented on #88576
In any case this would cause other problems. Windows processes can be freely attached or detached from consoles no mater which `windows_subsystem` they're using so we can't really make assumptions based on that.

[2021-09-02 00:36] jhpratt commented on #83701
FCP was a given. Time-wise makes sense, though.

[2021-09-02 01:32] sunfishcode commented on #88576
Good catch; `HandleOrInvalid` will also need to be changed to accept NULL handles.

[2021-09-02 01:34] liamwhite opened #88577 "Panic when creating function with 65536 or more arguments"
### Code

Obviously a corner case. This would never actually be used for anything, this is just testing the bounds of what the compiler is capable of.

[code]

Running this Ruby method with num_arguments 65535 or greater generates a Rust file which can be used to reproduce the output. (via `rustc --allow=dead_code test.rs`)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-09-02 02:33] camelid commented on #86631
Reopening to track beta backport.

[2021-09-02 02:46] joshtriplett commented on #73014
@jhpratt If one day it becomes possible to `use` a trait method, then I think we'd still want to export the free function `default()`, we'd just turn it into a `pub use`. So I don't see any reason we should wait for that.

@oli-obk That looks great. It'd be helpful to know if we *could* stabilize a function using `const_fn_trait_bound` and `const_trait_impl` without first stabilizing those two fea

[2021-09-02 02:51] jhpratt commented on #73014
Oh sure, I just wanted to make sure that this was desired even in that situation. Personally I'm :+1: regardless.

[2021-09-02 02:59] RalfJung commented on #73014
This is still fairly early in the experimental stage, so I don't think we should stabilize anything using it just yet.

[2021-09-02 03:53] Shoeboxam commented on #47048
I was running into this same issue on rust 1.54. In my use-case I'm compiling cross-platform binaries for library releases via Github Actions. [I was able to get things working on 2021-8-3 thanks to this comment.](https://github.com/rust-lang/rust/issues/47048#issuecomment-569225821)

The build was failing again when I cut the next release on 2021-8-31. I resolved it by adjusting the command to:
`

[2021-09-02 04:34] fee1-dead commented on #88424
Hmmm, looks like I will have to allow const fns in inherent impls having `~const` bounds in a new PR.

[2021-09-02 05:07] 030 commented on #42349
@flexiondotorg why is this issue closed? Does it imply that there is an official Rust Snapcraft package?

[2021-09-02 05:11] Tnze opened #88580 "Multidimensional array compilation takes too much time"
### Code

Compile it with `cargo build --release` please.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

I've been waiting for 10 minutes, but I still haven't compiled successfully.

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-02 05:35] hellow554 commented on #88555
Can confirm, that the code that produces the ICE is indeed the same.
This can therefore be closed.

[2021-09-02 07:05] hronro commented on #42753
Same issue with `http::uri::Schema`.

However, I found `http::uri::Schema` actually has implemented `Eq` and `PartialEq `.

![CleanShot 2021-09-02 at 15 00 10](https://user-images.githubusercontent.com/15059605/131797773-57582d5c-7022-462e-96ff-d2ab754a7729.png)

![CleanShot 2021-09-02 at 15 00 23](https://user-images.githubusercontent.com/15059605/131797800-59cec86e-7bc9-42f9-ae39-5702bf8e42ac.pn

[2021-09-02 07:23] XAMPPRocky commented on #83701
@nbdd0121 Thanks for implementing this! I've updated the example to use the new feature so there's now at least one use in the wild. 🙂

[2021-09-02 07:38] joshtriplett commented on #73014
@RalfJung The primary blocker from our meeting was whether it would be *possible*, not necessarily doing so right away.

[2021-09-02 07:40] cormacrelf commented on #84277
@fxdave the detailed workaround isn't really helpful here (or IMO a good idea to ditch the whole Result API -- try [this][play] or newtype that hashmap or something), but going back to your original question gives me an idea.

[play]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ed6416d3ec1a0a7278e13032c5854d24

The problem: you want to convert `Option::<T>::None` to `Er

[2021-09-02 08:05] dtolnay opened #88583 "Type called union wreaks havoc since 1.54"
When C-compatible untagged unions were introduced by RFC 1444, it was careful not to break existing valid uses of `union` identifier, such as https://doc.rust-lang.org/std/collections/struct.BTreeSet.html#method.union.

However, the unions from RFC 2102 (https://github.com/rust-lang/rust/issues/49804) appear to be more disruptive, at least as currently implemented. The following stable code works

[2021-09-02 08:41] apiraino commented on #88351
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388351.20Large.20rlib.20unable.20to.20be.20loaded) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-02 08:52] hellow554 commented on #88583
FWIW using `impl r#union` works (:

[2021-09-02 09:00] d3fl4t3 opened #88585 "deadlock: Command::spawn is trying to dlsym after fork, but linker mutex is locked"
There is a problem with `Command::spawn` on Android. When another thread interacts with system linker, `Command::spawn` causes a deadlock in the child process between `fork` and `exec`. It happens because under the hood Android linker uses global mutex `g_dl_mutex` ([link to android source](https://android.googlesource.com/platform/bionic/+/563e60e32adf7f427af03075a6fb800e723025f1/linker/dlfcn.cpp

[2021-09-02 10:22] Tnze commented on #88580
And this takes 12 mins:

[code]

[code]

[2021-09-02 10:35] mixal-iirec opened #88586 "`assertion failed: !value.has_escaping_bound_vars()` with `trait A where for<'a> Self: 'a{}`"
### Code

[code]

### Meta

Stable (1.54.0) works correctly(?) (E0311 ```the parameter type `Self` may not live long enough``` with nonsensical help ```consider adding an explicit lifetime bound `Self: 'a` ```).

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-02 11:32] hellow554 commented on #88580
So I ran a few numbers and it seems that LLVM is the culprit here.
I'm doing a benchmark from 1.40.0 to 1.54 and print the time it passes in each stage and so far these are the numbers from 1.40.0:

[code]

So 98% of the time is spent in `LLVM_module_optimize_module_passes` and `LLVM_lto_optimize`.
The numbers only get worse, but I'll post them as soon as it gets ready.

I think I'm doing a earlie

[2021-09-02 11:38] hellow554 commented on #88580
@rustbot modify labels: I-heavy

[2021-09-02 12:24] osa1 commented on #82523
OK, so it's never supposed to work in safe Rust. That makes sense.

It might be helpful to users if we could also show an example for calling methods with `&self` or `&mut` receivers on packed fields. Here is how I work around the warning in my example above:

[code]

The syntax is a bit too noisy though. I wonder if there's a more concise way?

[2021-09-02 12:28] steffahn commented on #88562
Reduced example:
[code]

[2021-09-02 12:38] steffahn commented on #88562
Further reduced:
[code]

[2021-09-02 12:48] apiraino commented on #88583
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388583.20Type.20called.20union.20wreaks.20havoc.20since.201.2E54) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-09-02 12:58] RalfJung commented on #82523
No, it is *not possible in Rust*, safe or unsafe.
The snippet you gave is *incorrect*, it causes Undefined Behavior by creating an unaligned reference. You just obfuscated the code enough that the compiler does not emit a warning any more. Try running it in Miri and you will see an error.

[2021-09-02 13:03] osa1 commented on #82523
I think maybe the wording here is a bit confusing. When I do `unsafe { *x }` I as the person writing that code take the reponsibility to make sure the pointer is aligned and the code is not UB. That's what the "behavrior considered undefined" document says:

I want to do the same when calling a method with `&self` receiver passing a packed field reference as the receiver. Currently I can't do `(*x

[2021-09-02 13:22] osa1 commented on #82523
How exactly does Rust abstract machine define "alignment", and the restrictions on it? My assumption was alignment restrictions originate from the hardware, and Rust abstract machine's definition is "whatever the underlying hardware requires" (can't find an official definition for this). But if that's the case, then what is the hardware Miri assuming? Or can it run the program for different CPUs w

[2021-09-02 14:21] wesleywiser commented on #88043
Backport was merged.

[2021-09-02 14:21] #88043 closed

[2021-09-02 14:24] wesleywiser commented on #87455
Backport (#88190) was merged.

[2021-09-02 14:24] #87455 closed

[2021-09-02 14:37] stephanemagnenat opened #88591 "Clippy proposes an unstable attribute instead of a deprecated one for #[cfg_attr(rustfmt, rustfmt_skip)]"
I'm disabling rustfmt for some lines of my code because I have functions with multiple arguments and for the sake of exposing the logical reasoning of the algorithm, I want to group them on multiple lines. Therefore, I am using:

[code]

Running `cargo clippy` tells me:
[code]

However, if I replace these with `#[rustfmt::skip]`, I'm getting the following error:
[code]

I assume it is a bug for a

[2021-09-02 14:41] b-naber commented on #88433
@fee1-dead That ICE resulted from some debugging code I had included, sorry for the confusion.

[2021-09-02 14:45] hellow554 commented on #88580
<details>
<summary>Modified Code</summary>

[code]
</details>

Somewhere between 1.23.0 and 1.24.0

(`RUSTC_BOOTSTRAP` is needed for the `-Z` option to enable)

<details>
<summary><code>RUSTC_BOOTSTRAP=1 rustc +1.23.0  -Z time-passes -O a.rs</code> -> 0.3s</summary>
<br />

[code]
</details>

<details>
<summary><code>RUSTC_BOOTSTRAP=1 rustc +1.24.0  -Z time-passes -O a.rs</code> -> 233s</summary>

[2021-09-02 14:53] roblabla commented on #82523
Miri doesn't need to assume any hardware - alignment depends on the type, e.g. an u32 has an alignment of 4 regardless of hardware.

[2021-09-02 14:57] mati865 commented on #47048
https://github.com/rust-lang/rust/pull/72999

This is the first report I see since this issue was closed. There should be no change required as long as the compiler is available in `PATH`. If this doesn't automatically work then it's new bug and could be worked around with `RUSTFLAGS=-C link-self-contained=no`.

[2021-09-02 15:28] iMonZ commented on #73908
Platform name: macOS
Chip: arm64, arm64e or UB (Universal Binary)

[2021-09-02 15:51] PatchMixolydic commented on #88489
Some of the compilation performance issues may be due to security hardening measures in OpenBSD. For instance, I believe they disable hyperthreading by default (though I may be mistaken), which means that there are fewer logical CPUs available to build crates on.

[2021-09-02 16:09] camelid opened #88593 "rustdoc reports error twice for ambiguous (inherent) associated type"
[code]

rustc only emits the error once, but rustdoc emits it twice. rustdoc output:

[code]

[2021-09-02 16:51] guswynn commented on #83310
@bIgBV let me know if you are still working on this! I may start looking at it this weekend

[2021-09-02 17:01] LlewVallis opened #88595 "Internal compiler error when lifetime bound is unsatisfied for generic associated type defined with impl trait."
When implementing generic associated type using `impl Trait`, the compiler panics if the trait lifetime bound is not satisfied by duplicating the where clause.

UPDATE: seems like the compiler also panics if an appropriate where clause is included in the implementation.

Reproducible in a new cargo project on the latest nightly.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

###

[2021-09-02 17:36] rodrimati1992 commented on #88531
As far as I know, there's no equivalent of this with TAIT:
[code]

[2021-09-02 18:32] joshtriplett commented on #88583
Anonymous unions were not intended to change the "contextual keyword" nature of `union`. Anonymous unions do allow the keyword `union` to appear in more places, but `impl union {` should parse as the implementation of a type named `union`.

I'd suggest temporarily reverting the parsing of anonymous unions until the parsing can be fixed to handle this case correctly. We should also add a test case

[2021-09-02 18:43] madsmtm opened #88599 "ICE: Implementing trait with associated constant and `&Self` bound"
### Code

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7aadd0b8541b302a6e2992f485649630).

### Meta
Tested on rust `1.54.0` and nightly `2021-08-31`.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-02 18:52] Emilgardis opened #88600 "rustdoc ICE: entered unreachable code on hidden tuple item"
### Code

[code]

panics when running `cargo doc`. This seems to come from https://github.com/rust-lang/rust/blob/ed30993456224998db3a8f347a286f8234cd75c8/src/librustdoc/html/render/print_item.rs#L943

cc #88391

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-02 18:58] #44650 closed

[2021-09-02 19:06] mathstuf commented on #44434
Not that it affects this PR, but something like this would be fine I think:

[code]

`env_clear` could then set an internal flag to return `Unset` rather than `Inherit` for any variable not explicitly set.

[2021-09-02 19:15] SNCPlay42 commented on #88599
This version without `dyn Trait` also ICEs ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=408d8e98a385a6763fe6dd53eff60393)):

[code]

[2021-09-02 19:19] dtolnay commented on #88583
Is the following code intended to compile as envisioned by the anonymous unions RFC (sans any future expansion of the feature)?

[code]

Relatedly&mdash;?

[code]

[2021-09-02 19:24] SNCPlay42 commented on #88599
Both versions compile on Rust 1.43.0: [godbolt](https://rust.godbolt.org/z/fq45GYhc5)

@rustbot label regression-from-stable-to-stable

[2021-09-02 19:25] ibraheemdev commented on #88591
The attribute is not unstable, attributes are just not supported on expressions. You can put `#[rustfmt::skip]` on the outer function. I don't think this is a bug.

[2021-09-02 19:33] joshtriplett commented on #88583
@dtolnay The first wouldn't be allowed by the base RFC as written, no. This would be allowed by the "General anonymous types" possibility discussed at https://github.com/rust-lang/rfcs/blob/master/text/2102-unnamed-fields.md#general-anonymous-types , but that wasn't the approach that was approved in the RFC.

For the second, I'm not sure. An anonymous union (or anonymous struct) can't appear every

[2021-09-02 19:37] dtolnay commented on #88583
Okay. In that case the implementation approach from #84571 probably significantly has to change. According to the test:

https://github.com/rust-lang/rust/blob/1cf8fdd4f0be26bcfa9e3b1e10d4bf80107ba492/src/test/pretty/anonymous-types.rs#L19-L22

they seem to have deferred validation until after parsing anonymous struct/union in arbitrary type position, rather than parsing it only in the narrow cont

[2021-09-02 20:19] nikic commented on #88580
After full unrolling, we basically first initialize the innermost array, then copy that to the next level, then copy that to the next level. Now SROA comes along, and breaks up the memcpys into individual stores, which allows them to be forwarded. We're now left with 20000 or so stores to initialize the array. Then InstCombine comes along and tries to drop the alloca by visiting all its uses. Prob

[2021-09-02 21:26] #88099 closed

[2021-09-02 21:27] #88433 closed

[2021-09-02 21:33] camelid commented on #83190
Should this be reopened to track beta backport or has it already been backported?

[2021-09-02 22:19] the8472 commented on #88569
Is this with rust's llvm fork or some external llvm build?

[2021-09-02 22:28] jackh726 commented on #80953
Okay, so this worked in 1.48.0, broke in 1.49.0, and was fixed in 1.50.0 by #81055. A stable backport was declined, and this issue should have been closed then. Closing now.

[2021-09-02 22:28] #80953 closed

[2021-09-02 23:46] enterprisey commented on #62358
I was convinced by this argument, then I realized it also works for `Vec<String>`. (Minus some type inference shenanigans, see #42671.)

[2021-09-02 23:48] Apteryks commented on #88569
This is with LLVM 12 as packaged in GNU Guix (external).

[2021-09-02 23:56] #85360 closed

[2021-09-03 02:30] Apteryks commented on #88569
Ugh.  This seems non-determistic.  I haven't been able to reproduce in 2 new builds of 1.54, with the same LLVM 9.  Although the rustc used to bootstrap 1.54 is now 1.53 stage 1 instead of 1.53 stage 2 (I don't think this should make a difference).

[2021-09-03 02:40] d3fl4t3 commented on #88585
Also, the output of `main.rs`:
[code]

[2021-09-03 03:09] RalfJung commented on #64102
AFAIK the only thing inhibiting this optimization is that inter-process memory is provided by functions like `mmap` that the compiler does not know, so it has to assume some other thread might have access to that memory, and so it optimizes accordingly.

I am not aware of anything that actually explicitly accounts for inter-process shared memory, at least not in any formally precise way.

Also see

[2021-09-03 03:13] #87745 closed

[2021-09-03 03:13] RalfJung commented on #82523
Given that the field is packed, how are you ensuring that the pointer is aligned? Note that "packed" affects *both* the alignment of fields inside the struct, and the alignment of the surrounding struct itself.

As @roblabla mentioned, alignment is *not* a hardware concept. Every type in Rust has a size and an alignment (both are target-dependent, but exist on the level of the Rust Abstract Machin

[2021-09-03 06:12] hellow554 commented on #88585
Since you seem to have a good understanding on what's going on: do you have an idea how to prevent this issue? Do you know how other languages e.g. Java (JVM in general) deal with this issue?

[2021-09-03 06:26] stephanemagnenat commented on #88591
I see, but `#[cfg_attr(rustfmt, rustfmt_skip)]` does work on expressions. So in that sense, it is a regression of feature-set, isn't it?

[2021-09-03 06:30] d3fl4t3 commented on #88585
I think we should fetch `signal` function from linker _before_ the fork and pass it to `do_exec`, but I don't know how to implement it correctly (without pollution of platform-independent code in `process_unix.rs`).

[2021-09-03 06:54] Some-Dood opened #88606 "[lib] Prefer `core::hint::unreachable_unchecked` over `core::unreachable` macro"
At the moment, many of the core assertions in the standard library make use of the `unreachable` macro, which is simply an indirection for `panic`. This is totally fine, but I would like to begin an initiative on upgrading some of these invocations as `core::hint::unreachable_unchecked` so that we may (at least) give the compiler a chance to optimize the code better.

Below is a _non-exhaustive_ l

[2021-09-03 07:46] cemoktra commented on #85563
Hey. What is timeline to stabilize this?

[2021-09-03 07:57] philipc commented on #88521
Can you give info on how to reproduce the problem? It sounds like you are using `-Z split-dwarf=split` which is unstable and probably not widely tested.

As a wild guess, maybe `-Z share-generics` helps?

That doesn't sound like something that DWARF consumers should ever need to know.

[2021-09-03 08:00] hellow554 commented on #88606
6 issues before this (#88600) is a very good reason to **not** do it and remain `unreachable!()`.

If it is really unreachable, the compiler will figure it out and eleminate the branch, see https://rust.godbolt.org/z/5Kez3MPGW

I don't think that this is reasonable but I'd like to hear others people opinion.

[2021-09-03 08:03] crazyi opened #88607 "Building errors on macos 10.13.6"
* **Rust Version**: 1.54.0_1
* **OS**: macOS 10.13.6

When upgrading openblas using homebrew command: **_brew upgrade rust_**, comes with the following errors:

[code]

[2021-09-03 08:17] devyn commented on #84908
I believe the impl on ExitStatusError should be

[code]

rather than

[code]

(there is generally never anything implemented as `Into` first, because implementing `From` reflexively provides `Into`)

[2021-09-03 09:08] SkiFire13 opened #88609 "Checking that `main`'s output type implements `Termination` doesn't normalize associated types"
I tried this code:

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=51c0b2d9e9500deb7b0d9a1a709dd443)

I expected to see both `test` and `main` compile, instead only `test` compiles, while trying to compile `main` gives this error:

[code]

Note that the `feature` attribute is only needed for the bound in `assert_impl_termination`. The issue with

[2021-09-03 09:16] SkiFire13 commented on #43301
Note that you can name it, but due to #88609 it won't work as `main`'s return type.

[code]

Then you can use `Result<Never, E>` and it will be equivalent to `Result<!, E>` as long as it is normalized.

[2021-09-03 09:40] jplatte commented on #84715
Boxes can be ticked and tracking issue closed :)

[2021-09-03 09:41] m-ou-se commented on #87959
![](https://github.githubassets.com/images/icons/emoji/unicode/1f389.png)

[2021-09-03 09:41] #87959 closed

[2021-09-03 09:46] m-ou-se commented on #88126
What's the status of the second blocker mentioned in this issue?

[2021-09-03 10:22] QuineDot commented on #41300
In light of [RFC 2580](https://rust-lang.github.io/rfcs/2580-ptr-meta.html), perhaps this could be something like
[code]
In non-generic cases, "non-zero sized metadata" could be replaced with something more specific.  Post-stabilization, the hints could be updated to match the trait.
[code]

[2021-09-03 11:11] QuineDot commented on #88141
One possible update now:
[code]
This isn't completely satisfying though, as `Box<dyn Trait>` can be cast to `Box<dyn Trait>`.  The situation will be exacerbated after [RFC 2580](https://rust-lang.github.io/rfcs/2580-ptr-meta.html) stabilizes, as any of `T: Trait + Sized` or `T: Trait + Pointee<Metadata=()>` or `T: Trait + Pointee<Metadata=DynMetadata<Trait>>` would presumably work.

If [`Unsized`]

[2021-09-03 11:18] stepancheg opened #88616 "Inefficient compilation of ? operator"
Consider these two functions:

[code]

Ideally the compiler should generate identical machine code. But it does not.

[Compiler explorer](https://rust.godbolt.org/z/rMfhv3zfo)

Because of this issue, `?` operator is not as convenient to use in high performance parts of code. E. g.

[code]

has to be written for performance as

[code]

[2021-09-03 11:23] SkiFire13 opened #88617 "`int_roundings` feature breaks the `num` crate"
This is due to the new `div_ceil` method that conflicts with the method with the same name in the `num::integer::Integer` trait. This matters for example when compiling the `num-bigint` crate, which now fails with this error:

<details><summary>Error</summary>

[code]

</details>

`rustc --version --verbose`:
[code]

[2021-09-03 11:25] CryZe commented on #88617
This is acceptable breakage, see: https://github.com/rust-lang/rust/issues/88581#issuecomment-912206298

[2021-09-03 12:19] Tnze commented on #88580
I'm new to rust. Whether this is a bug?

If it is, could we do better or is it a optimization algorithm limitation and cannot be easily fixed？

[2021-09-03 12:22] hellow554 commented on #88580
I can suggest you a workaround:

[code]

this compiles in a few milliseconds.

[2021-09-03 14:23] #87701 closed

[2021-09-03 14:23] #87891 closed

[2021-09-03 14:24] ayermolo commented on #88521
@jyn514 Thanks for clarification.
@philipc Let me poke around internally, and read up on rust to see if I can come up with small reproducer.

[2021-09-03 14:31] cbeuw commented on #53827
@AlexApps99 With optimisation turned on, `box` and `Box::new()` are producing identical instructions: https://godbolt.org/z/GPM4qYEPh

`Box::new()` isn't being inlined because the MIR inliner is currently turned off. With it on it's able to produce identical LLVM IRs as well: https://godbolt.org/z/WjrErcvWY

[2021-09-03 15:11] wesleywiser commented on #81788
We should just add a regression test and then we can close this.

[2021-09-03 15:32] arora-aman commented on #88126
That's been fixed by https://github.com/rust-lang/rust/pull/88280

[2021-09-03 15:36] Mark-Simulacrum commented on #85155
This was a regression but is no longer tracked for a particular release.

[2021-09-03 15:43] jackh726 commented on #88126
I ticked the checkbox for this then

[2021-09-03 15:54] jyn514 opened #88620 "Move format-version constant to rustdoc-json-types"
Right now, the format-version is in rustdoc and not in rustdoc-json-types, which has two downsides:
1. It's harder to make sure they're kept in sync
2. Downstream users can't know the version ahead of time, they're forced to hard-code it in their own code as well.

We should move it to rustdoc-json-types instead.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/issues/88604#issu

[2021-09-03 16:21] ehuss opened #88621 "Determine how to handle casting of arbitrary discriminants with different enum styles"
This is an issue to track making a decision on how to handle certain styles of enums with respect to the new `arbitrary_enum_discriminant` which has been stabilized in 1.56 (#86860) which will be released October 21st 2021.  I think it would be good to make a decision before it reaches stable.

I have a concern that this introduces three styles of enums, and I think it would be best to only have t

[2021-09-03 16:35] jackh726 commented on #87755
Effectively a duplicate of #80807, but obviously a bit different since the where clause here is on the associated type

(note, I'm going to leave some notes here from me playing with this, some directly related, some indirectly)

This is difficult. The general idea of why this is a problem is:

To prove that `<Bar as Foo>::Ass: Sized`
We try to project `<Bar as Foo>::Ass`
We first select the impl

[2021-09-03 16:36] weiznich commented on #80953
@jackh726 Is the crater issue fixed, so that similar regressions wont be ignored in the future again?

[2021-09-03 16:38] auipc commented on #73677
seems to be fixed on nightly-2021-09-02

[2021-09-03 16:49] PatchMixolydic commented on #88616
Manually desugaring the `?` operator seems to produce the same assembly ([Compiler Explorer](https://rust.godbolt.org/z/x4YGEb9EM)):
[code]

[code]

[2021-09-03 16:55] jackh726 commented on #80953
Yes there's a regression test `src/test/ui/associated-types/project-recursion-limit-non-fatal.rs`

[2021-09-03 17:03] weiznich commented on #80953
@jackh726 I do not mean this concrete rustc bug, but [this](https://github.com/rust-lang/rust/issues/80953#issuecomment-759292494) crater bug that lead to ignoring this regression.

[2021-09-03 17:09] spaarmann commented on #50923
@FlakM, am I correct in guessing that you're not still working on this? If so, I'd like to have a go at it :)

[2021-09-03 17:11] jackh726 commented on #80953
I'm not sure. Since the issue (rust-lang/crater#558) is still open, I would assume that bug remains. But that is tracked separately from here.

[2021-09-03 17:12] FlakM commented on #50923
Sadly I didn't manage to get a crack at it... Good luck!

pt., 3 wrz 2021, 19:09 użytkownik Sebastian Paarmann <
***@***.***> napisał:

[2021-09-03 17:19] the8472 commented on #64102
That thread mentions statics. Would public/exported statics inhibit this optimization similar to IPC memory even under LTO/whole program optimizations? If so then could we store the data on the stack, let a mutable pointer to it escape to a static and then read it back to implement black_box?

[2021-09-03 17:21] stefAIno opened #88622 "Cargo test, failed to initiate panic, error 5"
Suddenly, every panic in a test returns a fatal runtime error.
Here the error:
fatal runtime error: failed to initiate panic, error 5
Caused by:
  process didn't exit successfully: (signal: 6, SIGABRT: process abort signal)

macOS Big Sur 11.5.2
cc (Homebrew GCC 11.2.0) 11.2.0
cargo 1.54.0 (5ae8d74b3 2021-06-22)

[2021-09-03 17:22] ehuss commented on #88622
Thanks for the report, I have moved it to the rust-lang/rust repository where tracking of libtest issues lives.

Can you provide a reproduction or more information?  Can you examine the core dump in lldb?

[2021-09-03 17:38] Amanieu commented on #64102
Only if the symbol is visible outside the LTO translation unit, since that symbol could be referenced by a shared library or via `dlsym`.

[2021-09-03 17:42] estebank commented on #72312
I feel it is reasonable to special case this in the typechecker, detect that this is an argument in an `async fn` and suggest `self: Arc<Self>`, likely with caveats about perf implications, but that making that change will be likely what people want.

I would also want us to look at the desugaring to avoid the following presentation, where the span for "this data" and "the capture" overlap but sho

[2021-09-03 17:49] m-ou-se opened #88623 "🎉 Rust 2021 celebration and thanks"
![](https://github.githubassets.com/images/icons/emoji/unicode/1f389.png) <img src="https://media.discordapp.net/attachments/765979591025229864/870587422763778048/crocodile.png?width=681&height=682" width="64" />

**The beta version of Rust 1.56 is about to branch off, which includes a *stable `rustc --edition=2021`*!**

This means that, other than backports, all new development goes into 1.57, an

[2021-09-03 17:57] the8472 commented on #88606
#86520 went in the opposite direction. Have you checked the performanee on any of these, e.g. by running the benches included in the library?

[2021-09-03 18:17] spaarmann commented on #50923
Thanks!

@rustbot claim

[2021-09-03 18:26] Aloso commented on #88623
Thank you, @m-ou-se for your effort and dedication!

[2021-09-03 19:40] joshtriplett commented on #88623
Echoing that: @m-ou-se, you definitely deserve huge thanks for the edition as well, for coordination, for picking up slack in many areas, for keeping an eye on timing, for chasing down FCPs and making sure changes get in on time, and for paying attention to quality. Thanks, Mara!

[2021-09-03 19:45] the8472 commented on #64102
Can that be ensured in a way that would be better supported by the spec or applicable to more platforms (e.g. wasm or miri) than the current asm hack?

[2021-09-03 19:50] Amanieu commented on #64102
I strongly prefer the current asm hack. Is there any reason that doesn't work?

[2021-09-03 19:59] cuviper commented on #88617
This was reported as rust-num/num-bigint#218, and fixed in 0.3.3 and 0.4.2.

[2021-09-03 20:12] nbdd0121 commented on #64102
Black box is implemented with intrinsics since #87916 and only lowered to asm in the LLVM backend. For wasm the inline asm hack is sufficient to let LLVM treat it the value as a black box. And I don't see any problem about current approach with MIRI.

[2021-09-03 20:14] the8472 commented on #64102
I thought the issue with assembly was that there's no guarantee that the current approach will keep working because llvm could inspect the body of the asm block and then optimize around it depending on its contents.

[2021-09-03 21:17] #88617 closed

[2021-09-03 21:23] wesleywiser opened #88625 "Arguments passed as ScalarPairs do not work correctly with Windows debuggers"
Arguments passed via the ScalarPair abi cannot be correctly inspected via WinDbg or VS debuggers. This occurs because the platform debuggers expect the type to passed via a pointer (as the abi says they should) and the debuggers are hardcoded to expect that.

Example:

[code]

Debuggers:

[code]

(Notice the `*` in the type indicating the debugger expects to be looking at a pointer to the actual v

[2021-09-03 22:03] Teln0 commented on #88623
Yay !

[2021-09-03 22:59] EvanCarroll commented on #27728
@alexcrichton is there a reason why this feature was deprecated. It sounds extremely useful. Why isn't this in core for bases <= 26. (which is just ascii).

[2021-09-03 23:01] kennethuil commented on #70263
This also fails
[code]

[2021-09-03 23:04] kpreid opened #88630 "Spurious E0282 'type annotations needed' when other compile errors exist"
Given [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=82d48342a112b2808e5acf17961e995f):

[code]

The current output is:

[code]

However, if `does_not_exist();` is commented out, not only does its error E0425 disappear, the type inference error E0282 also does. This results in a frustrating situation where, whenever you have an error of the first sort,

[2021-09-03 23:12] #88307 closed

[2021-09-03 23:15] codedcosmos commented on #47174
It looks like asan is now properly supported in windows:
https://devblogs.microsoft.com/cppblog/address-sanitizer-for-msvc-now-generally-available/

Would now be the time to consider stabilizing address sanitization?

[2021-09-03 23:56] fosskers commented on #79524
I'm having trouble actually using this. I have `#![feature(iter_intersperse)]` present at the top of my file, but the compiler still warns:
[code]
Any ideas?

[2021-09-04 00:16] jiegec commented on #73677
I can confirm this has been fixed on nightly-2021-09-02.

[2021-09-04 00:16] #73677 closed

[2021-09-04 01:40] #78744 closed

[2021-09-04 03:25] philliard3 commented on #88377
This appears to be fixed as of nightly version: 1.56.0-nightly (2021-09-01 50171c310cd15e1b2d37)

As a result, I am closing this issue.

[2021-09-04 03:25] #88377 closed

[2021-09-04 03:35] Eh2406 commented on #88623
It very much seems like @ehuss <https://github.com/ehuss> got thanked in
(almost) all of the line items. So thank you @ehuss
<https://github.com/ehuss> for all the ways you keep things working and on
track!

On Fri, Sep 3, 2021 at 1:50 PM Mara Bos ***@***.***> wrote:

[2021-09-04 04:52] joshtriplett commented on #39364
Pointing to this issue seems reasonable, and then this issue can point to the most up-to-date information.

And yeah, the right answer seems like referring people to another crate, and possibly figuring out if that other crate could become the backend for mpsc. flume, crossbeam, there are a few possible options.

[2021-09-04 05:07] joshtriplett commented on #72110
Could someone on @rust-lang/compiler familiar with macOS review https://github.com/rust-lang/rust/pull/88137 , please? I think that may be the last blocker to stabilizing strip support in rust and then in cargo.

[2021-09-04 05:33] eddyb commented on #64102
But does nothing to protect against a JIT doing some e.g. very basic constant propagation, or DCE (dead code elimination), *especially* with LLVM having done all of the hard work of SSA-ifying everything *around* the `black_box`.

We hit a similar problem with SPIR-V in Rust-GPU: there is no way to ensure that the GPU driver, or any SPIR-V -> SPIR-V tooling in-between, won't optimize out things th

[2021-09-04 06:50] gdf8gdn8 commented on #88623
"lang_items" still missing. For embedded programming is this features necessary.

[2021-09-04 08:00] bjorn3 commented on #88623
@gdf8gdn8 Lang items are internal implementation details and will never be stabilized. If embedded needs anything, that will need to have a separate feature designed and implemented for it. For example insteqd of stabilizing the various panic lang items, `#[panic_handler]` was implemented and stabilized.

By the way this is offtopic for this issue. I think internals.rust-lang.org would be the best

[2021-09-04 08:09] jplatte commented on #68826
I saw this kind of came up again with `TryInto` entering the prelude (#86657 fixes the lint to behave correctly around autoref). Is there some documentation for the current behavior somewhere? If not, should I open a new issue about that or can we reopen this one to track documentation of this?

[2021-09-04 08:29] hi-rustin commented on #88620
@rustbot cliam

[2021-09-04 08:29] hi-rustin commented on #88620
@rustbot  claim

[2021-09-04 08:58] apiraino commented on #88599
probably too old to bisect but it seems introduced in rollup #70371 on nightly-2020-03-26

[2021-09-04 09:16] Some-Dood commented on #88606
Honestly, this shouldn't be necessary anymore. I sense that there is already a strong consensus that the compiler is (more than) smart enough to detect truly unreachable branches. The panic infrastructure as a safety mechanism is hard to argue against, especially since the compiler already optimizes it away in most cases.

This is great! Glad that I can certainly say that I can close this issue wi

[2021-09-04 09:16] #88606 closed

[2021-09-04 09:31] simonsan commented on #88623
Great job! <3

[2021-09-04 09:44] joshtriplett commented on #87920
FCP for stabilizing `saturating_div`:
@rfcbot merge

[2021-09-04 10:11] Amanieu commented on #87920
What about the remaining unresolved question regarding the correct behavior of `Shl`?

[2021-09-04 10:20] kellerkindt commented on #87920
@kennytm outlined possible implementations for that (https://github.com/rust-lang/rust/pull/87921#discussion_r695870065), but I am not sure what seems to be the correct implementation and I would be happy for any input in that regards.

[2021-09-04 10:25] crlf0710 opened #88634 "Diagnostics for unimported `decl_macro`"
Currently the error output for this:
[code]
is
[code]
However the "consider importing this macro" part should be
`use crate::foo1::foo;` to be consistent. (Maybe this change should happen only when `decl_macro` feature gate is enabled)

[2021-09-04 10:50] matklad opened #88635 "Better docs for std::os::windows::fs::{symlink_dir, symlink_file};"
At the moment (rustc 1.56.0-nightly (b7404c898 2021-09-03)) the docs for this two functions are identical, and the only difference is file/dir. As a developer with primarily unix background, I don't really understand why there are two functions, and when I should use one versus the other. It would be helpful if the docs explained windows/unix difference, or linked upstream docs.

[2021-09-04 10:52] Alexendoo commented on #87750
No longer ICEs since #85868

[2021-09-04 10:52] Alexendoo commented on #82830
No longer ICEs since #85868

[2021-09-04 10:52] matklad commented on #88635
see also https://github.com/rust-lang/rust/commit/3cc84efcdd5727c0749d766d8abd79d8077f9cec

[2021-09-04 11:05] DusterTheFirst commented on #72312
@estebank In your example, the main missing diagnostic that would be most universally helpful is the diagnostic on line 10 that you showed:

[code]
The diagnostics on line 8 and 9 are helpful in getting context, but they are not the root cause of the error. The root cause is using the self parameter in the async block. The diagnostics in its current state suggest that the block or the function sig

[2021-09-04 11:08] crlf0710 opened #88636 "Incorrect hint for `decl_macro` import."
In this program:
[code]
The compilation output is:
[code]
However the hint is wrong - `crate::foo3::foo` is inaccessible to `foo2`. The correct hint should be suggesting `crate::foo1::foo`.

[2021-09-04 11:12] omac777 commented on #88623
I also love the nightly releases.  The rust team are super-heroes! Thank you for everything you do for making software safer to use.

[2021-09-04 11:13] ChrisDenton commented on #88635
Yes this could be improved. In Windows filesystems everything is either a file or directory, it doesn't have a separate category for symlinks (although the std sometimes tries hard to pretend otherwise). Therefore a file symlink must point to a file and a directory symlink must point to a directory. Otherwise the symlink will be broken.

[2021-09-04 11:17] m-ou-se opened #88637 "Switch compiler to Rust 2021"
This is blocked on the beta/bootstrap compiler being updated to 1.56.

[2021-09-04 11:18] m-ou-se opened #88638 "Switch library to Rust 2021"
This is blocked on the beta/bootstrap compiler being updated to 1.56.

[2021-09-04 11:22] ChrisDenton commented on #88635
It should probably also be documented that creating symlinks currently requires the user to enable developer mode (Win10 only) or have elevated privileges.

[2021-09-04 12:27] #88519 closed

[2021-09-04 13:17] Toniman20 commented on #62111
Until that happens, I've found the easiest way to do this is:
`let x = max(y, z) - min(y, z);`

[2021-09-04 13:30] Skepfyr commented on #86528
I have another minimal reproducer, it's no more enlightening than the first:
[code]

[2021-09-04 14:11] jpharaoh-google commented on #39364
I mean... Maybe we should fix it in std though? Even if it happens to be a breaking change, it's breaking one thing but fixing things the way they should be in general, surely?

[2021-09-04 14:15] jpharaoh-google commented on #39364
I mean, maybe we could just fix this. Even if it breaks some stuff, surely the point of Rust is that there *aren't* this type of issues? Perhaps we should be careful about notification, and testing, but this seems like a pretty major issue, and, at this point, a thorn in Rust's side.

[2021-09-04 14:18] jpharaoh-google commented on #39364
This bug is mentioned in the std docs, after all...

https://doc.rust-lang.org/nightly/std/sync/mpsc/struct.Receiver.html#known-issues

"There is currently a known issue (see #39364) that causes recv_timeout to panic unexpectedly with the following example: ..."

[2021-09-04 14:20] jamespharaoh commented on #39364
Could we not just fix this? Maybe it will break some stuff, but we can do it carefully, and do a lot of testing. At the end of the day, Rust is known as the *safe*, and perhaps *reliable*, and this is anything but.

This bug is mentioned in the std docs, after all...

https://doc.rust-lang.org/nightly/std/sync/mpsc/struct.Receiver.html#known-issues

"There is currently a known issue (see #39364) t

[2021-09-04 14:30] bjorn3 commented on #39364
https://github.com/rust-lang/rust/issues/39364#issuecomment-529654951 supposedly has a fix for this specific bug, but it either introduces another bug of the same kind or that other bug already exists as far as I understand.

[2021-09-04 14:41] jamespharaoh commented on #39364
So sure, but are we happy having a big problem with something in std? Surely this is the kind of thing that needs action to fix. As I mentioned before, Rust's reputation comes from being (or striving to be) correct. And this bit isn't.

I understand there might not be an easy fix. Also, honestly, this isn't a problem for me any more. But it doesn't paint a great picture for people who are new to t

[2021-09-04 14:47] ALiwoto commented on #88623
Really nice

[2021-09-04 15:25] Erk- commented on #52015
I cannot reproduce it on a s390x machine anymore so I think it is fixed

[code]

Tested on a vm provided by Marist College through the community cloud https://linuxone.cloud.marist.edu/

[2021-09-04 15:26] doc-jones commented on #88623
Congratulations to the team and thank you @m-ou-se for this excellent post and your leadership in delivering this release.

I feel compelled to issue a special thank you to @nikomatsakis and his daughter for this related ear worm. :)  [Edition!](https://www.youtube.com/watch?v=q0aNduqb2Ro)

There should be a Rust Bylaw that all future utterances of Rust editions must be sung.

[2021-09-04 15:35] jackh726 commented on #87750
Woah. Unexpected.

[2021-09-04 15:50] joshtriplett commented on #39364
I absolutely agree that we should fix it; my suggestion is that if at all possible we should do so by making mpsc a compatibility wrapper around some established channel library.

If that's not possible, then we should deprecate the API, and point to established channel libraries.

[2021-09-04 15:54] battjt opened #88643 "error: internal compiler error: compiler/rustc_passes/src/dead.rs:122:13: no type-dependent def for method"
### Code

I'm too new to rust to know what part of this project is causing the compiler to crash, so I made a branch for it and removed the dependency on fltk.  https://github.com/battjt/cb-test/blob/rustc_bug/src/main.rs

### Meta

Same failure in nightly, beta, and stable
`rustc --version --verbose`:
[code]

### Error output

[code]

</p>
</details>

[2021-09-04 16:36] kmdreko opened #88645 "confusable_idents lint should cover lifetime annotations"
Confusable identifiers for variables and types elicits a warning from the compiler:

[code]

[code]

But do not for lifetime parameters:

[code]

Ideally, the compiler would emit a similar warning here.

Additionally, the case where a type or variable identifier starts with an apostrophe confusable (i.e. `ʻa`) should similarly clash with the typical lifetime parameter (i.e. `'a`). Originally sourc

[2021-09-04 16:38] n1000 commented on #39364
There was also this pull request that apparently fixed the issue (although I did not try it): https://github.com/rust-lang/rust/pull/42883

but I think the changes were quite extensive and could not be fully validated.

[2021-09-04 17:31] bjorn3 commented on #39364
In that case maybe we should remove all performance optimizations like those for oneshot channels to cleanup the code enough such that this bug will likely be fixed in the process? Or maybe even replace with a fully safe albeit much slower `Mutex<VecDeque<T>>`?

[2021-09-04 18:09] Amanieu commented on #87920
I would like to see the situation with saturating shift clarified first before we stabilize this. There is an [unsubmited RFC](https://github.com/avitex/rfcs/blob/master/text/0000-saturating-bit-shifts.md) about this (cc @avitex) which has been discussed a bit in Zulip ([1](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Pre-RFC.3A.20saturating_shl.2Fshr.20on.20integer.20types)

[2021-09-04 18:20] ehuss commented on #88351
@Mark-Simulacrum Can this be closed now?

[2021-09-04 18:35] asomers commented on #73091
I can reproduce this problem with Rustc 1.46.0, but not 1.47.0.  I guess it's already fixed.

[2021-09-04 18:38] Mark-Simulacrum commented on #88351
Huh, yes. I thought I had marked the backport rollup as "fixes" for this issue (and some others), but that seems to have not worked.

[2021-09-04 18:38] #88351 closed

[2021-09-04 18:39] Mark-Simulacrum commented on #83190
Closing - backported in #88641

[2021-09-04 18:39] #83190 closed

[2021-09-04 18:39] Mark-Simulacrum commented on #86631
Closing - backported in #88641

[2021-09-04 18:39] #86631 closed

[2021-09-04 18:42] camelid opened #88649 "StorageLive is added on a local that was already live"
Miri's CI started failing recently, with an error similar to:

[code]

It seems likely that this is a regression from #88572. cc @matthewjasper

Thanks to @hyd-dev for doing the original minimization.

### MCVE

[code]

### Generated MIR (from right after building)

[code]

EDIT: updated the MIR output so it's from the latest nightly

[2021-09-04 18:46] ehuss commented on #88351
Ah, yea, the "fixes" keywords only work on the default branch (master).

[2021-09-04 18:47] camelid commented on #88649
It looks like the issue is that the locals are marked as live during the loop, which means that each iteration they get marked as live again.

[2021-09-04 18:52] Frago9876543210 commented on #88015
another strange behaviour happen when mixing `if_let_guard` and `let_chains`
[code]
[code]

[2021-09-04 18:53] mustafakibar commented on #88623
Wow amazing!!

[2021-09-04 19:04] xanderio commented on #73091
Just tested it. It works again

[2021-09-04 19:04] #73091 closed

[2021-09-04 19:12] kellerkindt commented on #87920
Hmm, it might be a bit confusing, but I initially intended to only stabilize `saturating_div` for now and not the whole `Saturating` type (yet).

@joshtriplett also mentioned it that way [here](https://github.com/rust-lang/rust/issues/87920#issuecomment-912943834)?

[2021-09-04 19:14] Amanieu commented on #87920
Oh right, I missed that message. TBF it's a bit confusing to have two very different features sharing the same tracking issue.

@rfcbot resove saturating shift

[2021-09-04 19:17] kellerkindt commented on #87920
Yes, you are right about that, sorry 😅🙈

@avitex I would appreciate your implementation for shl and shr in the number types for the `Saturating` type 🙂👍

[2021-09-04 19:39] camelid commented on #88649
Regression is in nightly-2021-09-04.

Commit range: 371f3cd3f...b7404c898

[2021-09-04 19:55] camelid commented on #88649
Here's a diff of the MIR for the MCVE before and after #88572:

[code]

[2021-09-04 21:59] matthiaskrgr commented on #88643
reduced a bit:
[code]

[code]

[2021-09-04 22:03] matthiaskrgr commented on #88643
@rustbot prioritize
since this is also a  stable/beta ICE

[2021-09-04 22:17] guscastles commented on #88623
Well done to all. Keep it up!

[2021-09-04 22:22] PatchMixolydic opened #88653 "`if cond { yield; }` in a generator causes a confusing type error (E0631)"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d2d29eab50a83df2d451da233fe3bec9)):

[code]

The current output is:

[code]

This diagnostic seems bizarre since, as far as I'm aware, the type parameter on `Generator` represents the arguments to the generator (like how `Fn` is represented at the time of writing), and the generator's pa

[2021-09-04 23:05] AaronC81 opened #88654 "Crate compilation hangs on release build for thumbv6m-none-eabi"
Compiling recent versions of the `rust_decimal` crate in release mode targeting thumbv6m-none-eabi appears to hang the compiler.

A bisect has narrowed it down to this commit: https://github.com/paupino/rust-decimal/commit/8f3716e38c478a454de78e6c0109fea5eea1af39

(Apologies I don't have an MCVE for this - I don't understand Rust internals enough to know where I'd start trimming this down!)

To re

[2021-09-04 23:15] RalfJung commented on #88649
Yeah, these storage markers are supposed to be used in a well-bracketed way... I can only make wild guesses for what LLVM will do with them otherwise.^^

@matthewjasper any idea how hard this will be to fix? Miri will be at least partially broken until this issue is resolved.

[2021-09-04 23:16] RalfJung commented on #88649
Also Cc @oli-obk

[2021-09-05 00:38] Techcable opened #88655 "rustc doesn't seem to understand ~const bounds on associated types"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=abc6cfe40a0911b439606a30554ed7a9)]:

[code]

I expected to see this happen:
`ShouldBeInferred::should_infer` should understand that `T::AssocTrait: ~const ConstableTrait` and `self.a.foo()` is a const-fn.

Instead, this happened:
The compiler doesn't seem to infer the `T::AssocTrait: ~const Con

[2021-09-05 00:59] camelid commented on #88113
I'll note that the error that is reported if you apply the `<dyn Foo>::hi(123);` suggestion further suggests that you add a generic parameter:

[code]

[2021-09-05 01:23] Alexhuszagh opened #88656 "Improve Performance in Float Parsing for Decimal Slow-Path Algorithm"
# Issue

After [updating](https://github.com/rust-lang/rust/pull/86761) the Rust float parsing algorithms to improve performance, I've noticed in my own code that performance can be optimized still for slow-path algorithms, using a limited subset of big-integer arithmetic, an implementation that is easy-to-understand, safe, requires little code, and is at least 6x faster than the existing decimal

[2021-09-05 03:00] DrChat opened #88658 "Confusing error message about missing crate dependency in build.rs script"
Given the following code:

Cargo.toml:
[code]

build.rs:
[code]

The current output is:

[code]

Ideally the output should look like:

[code]

cc @wycats

[2021-09-05 04:15] francisuk1989 commented on #50776
[code]

[2021-09-05 04:19] jyn514 commented on #88600
@Emilgardis what is that attribute intended to do? Enum fields are always public.

[2021-09-05 04:27] francisuk1989 commented on #88607
[code]

[2021-09-05 04:49] joshtriplett commented on #39364
That seems like a really good idea, if we can't just build the API we have atop an established channel crate.

[2021-09-05 05:00] lf- opened #88660 "Rustdoc search feature request: support a "field" item kind filter"
Currently, according to the help menu,

However, fields are found by the search, it's just not possible to filter to only include them. It would be useful to be able to do so.

rust version: rustc 1.56.0-nightly (d3e2578c3 2021-08-21)

[2021-09-05 07:01] boehs commented on #88623
Thank you to the rust team for making the closest programming language to perfection yet

[2021-09-05 08:54] Emilgardis commented on #88600
I wanted to hide the field from docs because it was not important. But I agree it's probably a bit strange.

[2021-09-05 09:20] SkiFire13 commented on #88616
`match` seems to have an negative effect, but is still better than the `?` version

[code]

[code]

However the difference is only on how the bytes are copied: in `baz` there are two copies of length 16 bytes while in `qux` there's a copy of 8 bytes, then 16 bytes and then 8 bytes. Maybe this is due to the discriminant being considered separated from the `String`? At least in this case the conditi

[2021-09-05 09:47] dns2utf8 opened #88663 "How to construct ParseIntError?"
Hi all

I am trying to construct `ParseIntError` to verify my test `from_str_radix("XYZ", 2)`
[code]

With 1.55.0 the specific errors have been stabilized but I am unable to construct it.

Also, I am trying to have it generic over any ints:
[code]

Cheers,
Stefan

[2021-09-05 10:11] #85580 closed

[2021-09-05 10:43] dns2utf8 commented on #88660
I did a search for `fn:parse` and the results it returned are functions that are named similareley:
https://doc.rust-lang.org/nightly/std/?search=fn%3Aparse
![image](https://user-images.githubusercontent.com/739070/132123885-829180fc-0152-4390-a314-66b7aaa70ea8.png)

What query did you use? And where did you host it?

Cheers,
Stefan

cc: @rustdoc @GuillaumeGomez

[2021-09-05 10:47] cbeuw commented on #88643
Further reduced:
[code]

[2021-09-05 10:58] Geobert commented on #88623
This post is just amazing! Thanks @m-ou-se for taking the time to write it!

[2021-09-05 11:21] osa1 commented on #82523
I'm targeting Wasm which does not have alignment restrictions.

This is unfortunate. Where can I learn about Rust's alignment restrictions? Do they apply to pointer types too?

[2021-09-05 11:39] golergka commented on #42474
Although this issue is closed, some issues that were closed before as duplicates as this are still not solved: `std::io::stdout().write_line("example");` still is not captured by tests.

[2021-09-05 11:43] estebank commented on #72312
@DusterTheFirst I agree with your assessment, but the problem is that given where this error is being emitted, finding that span is the hardest thing to accomplish. I wouldn't close this ticket until all the parts of the problem are addressed, but I also fear that when we delay "simple, incomplete" stop gap measures because they are... well... incomplete and simple, we (and by we I mean the projec

[2021-09-05 11:58] GuillaumeGomez commented on #88660
@dns2utf8: I think they meant that they wanted something like:

[code]

Then search it like this:

[code]

[2021-09-05 11:58] Asapin opened #88664 "Stack overflow inside rustc_middle::ty::print::Printer"
Getting a stack overflow error even on a simple `cargo check` if there's too many structs inside the implementation of `serde::Deserialize` trait.

[code]

Project to reproduce: [link to playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9d69c882791d8d8a1b26d31e8be784c2)

But if I move all temporary structs out of the `fn deserialize<D>` method, the error goes away

[2021-09-05 12:01] dns2utf8 commented on #88660
Ah, now I understand 👍

[2021-09-05 12:03] GuillaumeGomez commented on #88660
I guess a `variant` filter would be nice too, or maybe we just just consider `variant` and `field` as the same thing. In any case, it'll have to wait for the rework of the rustdoc search I'm [working on](https://github.com/rust-lang/rust/compare/master...GuillaumeGomez:improve-rustdoc-search?expand=1) (which is currently waiting for https://github.com/rust-lang/rust/pull/88268 to be merged).

[2021-09-05 12:07] matthiaskrgr commented on #88171
updated code:
[code]

[2021-09-05 12:46] Thomasdezeeuw commented on #88457
Can't reproduce anymore so I think you're right @Aaron1011, thanks.

[2021-09-05 12:46] #88457 closed

[2021-09-05 14:17] ehuss commented on #88663
You cannot construct it directly. You'll need to create it from an actual parse error like `let e = "".parse::<i32>().unwrap_err();`.

Questions like these are better asked on one of the forums (like [URLO](https://users.rust-lang.org/)). This issue tracker only for bugs and small, concrete enhancement requests.

[2021-09-05 14:17] #88663 closed

[2021-09-05 15:07] klensy commented on #88643
[code]

[code]
[code]

[2021-09-05 16:46] RalfJung commented on #82523
Ah, I see.

However, as far as I know, when compiling Rust (or C) to wasm, datatypes still do have alignment restrictions -- I don't know how to test this though, so please check this yourself using functions like [`align_of`](https://doc.rust-lang.org/nightly/std/mem/fn.align_of.html). Those restrictions must still be upheld even for wasm as a target -- so, just saying the target does not have al

[2021-09-05 16:52] camelid commented on #88600
Assigning priority as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388600.20rustdoc.20ICE.3A.20entered.20unreachable.20code.20on.20hidden.20tupl.E2.80.A6) in the prioritization working group.

[2021-09-05 17:25] estebank opened #88669 "Lint against `--foo` when `foo` is a numeric binding"
As noted in https://github.com/rust-lang/rust/pull/88553#discussion_r702058067, [`let x = --y;`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ac6afa4b466778e0de140b8540ddce05) is syntactically valid as a double negation, but it _looks_ like C's pre-decrement. We should lint against it and suggest both removing the `--` or writing `y -= 1; let x = y;`.

pre-increment, pos

[2021-09-05 17:31] estebank commented on #61326
Reopening to track the `let x = Enum::Foo(a: 3, b: 4); ` case.

[2021-09-05 17:39] estebank commented on #34255
There are two outstanding issues:

 - Handling [the "used parentheses instead of braces"](https://github.com/rust-lang/rust/issues/34255#issuecomment-405285561) case, which we can track in https://github.com/rust-lang/rust/issues/61326
 - Silencing knock down errors in [the "forgot to write the type of the struct literal" case](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gi

[2021-09-05 17:39] #34255 closed

[2021-09-05 17:43] camelid commented on #88669
Isn't there a clippy lint that's being uplifted that catches `--y`? See #82987.

[2021-09-05 17:49] estebank commented on #88669
Yeah, you're right. We can _still_ keep this ticket open for the "handle `++x`/`x++`/`x--` more gracefully in the parser".

[2021-09-05 17:52] camelid commented on #88669
I think #83502 might cover that. I've been meaning to get back to it...

[2021-09-05 17:53] #88669 closed

[2021-09-05 18:55] rust-highfive opened #88671 "`miri` no longer builds after rust-lang/rust#88499"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#88499, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @eddyb, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-09-05 20:24] aliemjay commented on #70380
A live example is the [docs for `actix_web::error`](https://docs.rs/actix-web/4.0.0-beta.8/actix_web/error/index.html). This module defines its own `struct Error` which shadows `actix_http:error::Error`.

The problem is that `struct Error` now appears twice in the module page and both incorrectly link to `actix_http::error::Error`.

This can be very confusing to users. A related issue #88007

[2021-09-05 20:29] aliemjay commented on #88007
It turned out that `actix_web::error::Error` is the same as `actix_web::Error`! The problem is rustdoc links to the wrong page (see my comment on #70380). This got me confused for hours!

[2021-09-05 20:32] usbalbin opened #88674 "Tracking Issue for const_convert"
Feature gate: `#![feature(const_convert)]`

This is a tracking issue for constifying some conversions (see #87852 for numeric conversions). Among other things this enables using the `?`-operator on `Option` and `Result` in const contexts for trivial conversions. Note that this does *not* add any new implementations, it only constifies the existing ones.

Simple example:
[code]

### Public API

Con

[2021-09-05 21:33] nikic commented on #83585
We're now generating good code for everything but foo1b: https://rust.godbolt.org/z/6rs8EbhEb

foo1b still unnecessarily splits out one comparison. Either https://reviews.llvm.org/D108517 or https://reviews.llvm.org/D108782 should address that.

[2021-09-05 22:47] dns2utf8 commented on #88663
Hi ehuss

Thanks for the quick reply!
The URLO is a good point. Still it seems weird that there is no way to construct it apart from an intentionally bad parse call ...

[2021-09-06 01:00] ehuss commented on #87681
Posted #88680 to add errors when attempting to use macros with `#[path]`.

[2021-09-06 01:02] ehuss commented on #55112
Posted #88681 which adds some checks for empty attributes like `#[allow()]`.

[2021-09-06 01:36] crazyi commented on #88607
@francisuk1989 , Homebrew had dropped support to the High Sierra and before, so there are no existing complied bottles for our OS, but I wonder if Rust had also dropped support to the High Sierra and before?

[2021-09-06 02:09] clarfonthey commented on #85194
So, I see that there are a lot of blockers on the 2021-edition-style panicking, but I don't actually know what the plan is for this. Got lead here from the tracking issue for #53188, which is blocked on this but still open.

Is the plan to just never allow panicking in const functions, ever? That seems wrong. Are we blocking it on const trait impls to ensure that arbitrary `panic!` can be const? I

[2021-09-06 02:12] jhpratt commented on #85194
Personally I'd like to see const panic with only string literals supported — this would permit things along the lines of (debug) assertions so long as a custom message is provided. _Something_ is better than _nothing_.

[2021-09-06 02:15] clarfonthey commented on #85194
I should add that @m-ou-se opened #78356 to help make the literal-only case identical on 2021 edition, which is mostly the primary blocker.

[2021-09-06 02:24] clarfonthey commented on #78356
Slowly making my way through some of the tickets for const_panic while investigating stuff. I'm a bit confused why this is so controversial. Surely, at least inlining string literals wouldn't be adding so much code we could consider it identical to reimplementing all of fmt as MIR optimisations.

[2021-09-06 02:28] francisuk1989 commented on #88607
Could ask someone here https://stackoverflow.com/questions

[2021-09-06 02:55] #88256 closed

[2021-09-06 03:44] chenyukang commented on #88634
Nightly error output is :

[code]

@estebank  Do you think we need fix this?

[2021-09-06 05:03] CAD97 opened #88682 "Unclear introduction of 'static with APIT"
[Given the code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f5873161755841adcb692e277a6b2fbd):

[code]

The current output is:

[code]

It's not immediately clear from this error where the `'static` bound is introduced, especially when [not as reduced](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c989e23a3955813eaa99c6ad623e9e34). I only not

[2021-09-06 05:28] #80956 closed

[2021-09-06 05:28] #81809 closed

[2021-09-06 05:28] #85455 closed

[2021-09-06 06:13] CAD97 commented on #88682
Thanks to [users on urlo](https://users.rust-lang.org/t/is-it-possible-to-remove-this-static-obligation/64454?u=cad97), we've both figured out exactly where the `'static` obligation comes from as well as how to avoid it.

This is a tricky situation to figure out. In summary:

- `Span::fields` is returning `impl 'a + Iterator<Item = (&'static str, &'a str)>`, and
- `show_fields` wants `impl Iterato

[2021-09-06 06:23] Michael-F-Bryan opened #88683 "GATs unable to determine if item will live long enough when combined with HRTBs"
(I'm not sure whether this is a diagnostics issue or a bug in the way *Generic Associated Types* are implemented)

Following [this comment](https://users.rust-lang.org/t/for-x-in-blah-vs-for-x-in-blah-iter/64411/6?u=michael-f-bryan) on the user forums, I was wondering if it's possible to create a trait which encapsulates the convention that `(&foo).into_iter()`  is equivalent to `foo.iter()`.

Thi

[2021-09-06 06:25] m-ou-se commented on #85194
@clarfonthey There's multiple ways forward:

- `panic!("literal")` *already works* in Rust 2021 starting in 1.56: https://github.com/rust-lang/rust/pull/86998.
- The (unstable)[`panic_str`](https://doc.rust-lang.org/stable/core/panicking/fn.panic_str.html) function works in const_panic: https://github.com/rust-lang/rust/pull/78069.
- And https://github.com/rust-lang/rust/issues/78356 could be a wa

[2021-09-06 06:31] jhpratt commented on #85194
Still unstably by the looks of it? [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0cf9a3426ee1e35218f8885dac693a6c)

Just asking for clarity purposes because your wording makes it sound like that subset has been stabilized.

[2021-09-06 06:39] m-ou-se commented on #85194
Yes, gated behind `const_panic`, like all const panic, yes.

[2021-09-06 06:46] m-ou-se commented on #85194
@clarfonthey Note that this issue was just for the stabilization report.

The tracking issue for `const_panic` is here, and still open and active: https://github.com/rust-lang/rust/issues/51999

[2021-09-06 06:47] clarfonthey commented on #85194
Oh! That makes a lot of sense now.

[2021-09-06 06:51] hellow554 commented on #88664
Looks like a dup of https://github.com/rust-lang/rust/issues/87932, but I'm not sure yet

[2021-09-06 06:54] asquared31415 commented on #79559
@bjorn3 Can you give an example of it working correctly in the same crate?  Whenever I try to use it in the same crate I get an LLVM error `called function is not the same type as the call` when the lang item is not generic when using a distributed rustc and the aforementioned linker errors when using the rustc test suite whether or not it is generic.

Honestly I'm surprised it gets this far at al

[2021-09-06 07:24] asquared31415 commented on #83117
Duplicate of #79559

[2021-09-06 07:37] CodesInChaos commented on #85194
I'd like to see at least `panic!(literal)` stabilized as soon as possible. I believe that case has no open concerns, and it's already much clearer than the index-out-of-bounds hacks people use at the moment.

[2021-09-06 07:37] eggyal opened #88684 "Improve diagnostics for character literals containing multiple codepoints"
I tried to compile the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=17b195911187376f740b8e4e1c6f6fba)):

[code]

For the avoidance of doubt, `♠️` is [U+2660](https://util.unicode.org/UnicodeJsps/character.jsp?a=2660).  I expected the code to compile—but instead, the literal is rejected:

[code]

Notably, it is accepted if unicode-escaped:

[c

[2021-09-06 07:49] osa1 commented on #82523
What about `repr(C)`? If I use `repr(C)` in my example above:

[code]

I no longer get a warning about an unaligned field ref. Do we guarantee that Rust follows C's field alignment rules (or more relaxed than C's rules), so `repr(C)` is safe (no UB) ?

[2021-09-06 07:56] pjuangph commented on #73908
I was able to resolve the problem by doing this https://stackoverflow.com/a/69071041/1599606

I definitely agree with the OP that we need better ARM64 support moving forward.

[2021-09-06 08:00] michaelwoerister commented on #87745
https://github.com/rust-lang/rust/pull/88363 has landed and is on nightly. @nicholasbishop, @jsgf, @dtolnay, can you all take a look if it fixes your respective use cases?

[2021-09-06 08:01] SNCPlay42 commented on #88684
The spade "character" in your code is not just a single U+2660, it also has a unicode variation selector U+FE0F: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=24143c0d20114b82066bafd459d45f78)

[2021-09-06 08:04] eggyal commented on #88684
D'oh!  Good spot, thanks @SNCPlay42.  Perhaps some improved diagnostics could have helped here?

[2021-09-06 08:05] SNCPlay42 commented on #88684
We have similar diagnostics in other cases of misleading Unicode so that seems like a good idea.

[2021-09-06 08:10] fee1-dead commented on #78356
I can come up with a few ways that can make it possible to make `format_args!` callable from const contexts.

The easiest ways will first make `ArgumentV1::new` a const function, then we can either

 a) in const_check, somehow retrieve the trait from the second argument (`FormatTrait::fmt` function pointer), and validate the type parameter `T` implements `const FormatTrait`.

 b) instead of using

[2021-09-06 08:15] Amanieu commented on #87920
@rfcbot resolve saturating shift

[2021-09-06 08:16] Amanieu commented on #87920
@rfcbot resolve saturating shifts

[2021-09-06 10:21] Asapin commented on #88664
Yes, it does look very similar. Which is weird as I have almost identical to #87932 code in another place except the amount of enums and structs inside the `fn deserialize` (2 enums and 4 structs to be precise), and it doesn't cause any errors.

[2021-09-06 10:59] luis-guilherme commented on #40282
In my case I'm using ImDisk's Ramdrive

[2021-09-06 11:12] ChrisDenton commented on #40282
Yeah, that's the one that usually causes the issue. I know the Radeon ram disk works but the free version is limited to 4GB.

[2021-09-06 11:37] kobby-pentangeli opened #88687 "Rust/WASM FFI: `cargo test` throws an `undefined reference to foreign function` error."
Rust's foreign function interface (FFI) allows extern blocks of foreign functions to be defined. The following snippet demonstrates an ffi definition and invocation (inside `lib.rs`):

[code]
I have the above snippet in my Rust/WASM library. The `crate-type` is defined in `Cargo.toml` as:

[code]
The following is a simple test that references the FFI above (inside the `tests` folder):

[code]
When

[2021-09-06 12:17] hellow554 commented on #88654
Here's what I have so far:

[code]

[2021-09-06 12:21] hellow554 commented on #88654
It seems to be a LLVM problem, because I can create the LLVM-IR, but not asm (and it hangs after `LLVM_lto_optimize`)

Here's the LLVM-IR:
[code]

@rustbot modify labels: A-LLVM
@rustbot ping llvm

[2021-09-06 12:21] hellow554 commented on #88654
@rustbot ping llvm

[2021-09-06 12:24] hellow554 commented on #88654
@jonas-schievink can you please ping the llvm crew? :)

[2021-09-06 12:30] jonas-schievink commented on #88654
@rustbot ping llvm

[2021-09-06 12:45] hellow554 commented on #88654
For what I can tell it's a regression between llvm 8.0 and llvm 9.0. Is somebody able to reduce the LLVM-IR further and file a bug report upstream?

[2021-09-06 12:51] Noah-Kennedy commented on #88654
I'm new to a lot of this, but I'll give it a go.

[2021-09-06 13:20] #88649 closed

[2021-09-06 13:31] vitruvvius commented on #80552
Yes - group_by in most languages (and my own macros in c/c++ by example) does not require a contiguous range but rather the entire width of the iterator

[2021-09-06 13:33] vitruvvius commented on #80552
In response to the comment in Java, the common approach is to apply a

collect(___)

to the end of a stream (iterator)

and then inside the parens apply type of grouping, such as Collections.toList() or Collections.toMap(key_fn, value_fn)

[2021-09-06 14:04] klensy commented on #88180
@rustbot label: +A-metadata +C-enhancement

[2021-09-06 14:07] hellow554 commented on #88654
This is my current MCVE for the LLVM-IR:

[code]

[2021-09-06 15:16] dylni commented on #88453
Thanks @inquisitivecrystal!

[2021-09-06 15:49] RalfJung commented on #82523
`repr(C)` does honor alignment by adding padding when needed, so yeah that code has everyhing properly aligned. I am not an expert on C FFI interop (and this is getting rather off-topic here) but at least for structs, Rust uses the same algorithm as C -- so if all the fields have the same size+align in Rust and C, so will the surrounding struct.

[2021-09-06 15:49] dbalcomb commented on #88545
It looks like this issue was previously reported [here](https://github.com/rust-lang/rust/issues/87016) and there are some relevant links towards the end. Notably a confirmation that there is currently a 1000 row limit to grids in Blink. There is also a recent [reddit thread](https://www.reddit.com/r/rust/comments/piy00v/why_this_crate_document_doesnt_display_correctly/) on the issue.

[2021-09-06 16:01] #82956 closed

[2021-09-06 16:01] #84659 closed

[2021-09-06 16:01] #86530 closed

[2021-09-06 16:01] #86535 closed

[2021-09-06 16:01] #88635 closed

[2021-09-06 16:26] Aaron1011 commented on #84970
All of the known issues should now be fixed in the latest nightly (with the exception of https://github.com/rust-lang/rust/issues/84963, which should be both rare and easy-to-fix). However, not all of them have corresponding test cases.

[2021-09-06 16:38] aliemjay commented on #70380
@rustbot claim

[2021-09-06 16:43] MoAlyousef commented on #88643
^ also replacing Vec with Option reveals a broken LLVM module.

[2021-09-06 16:49] a1ien opened #88693 "RELEASES.md 1.55 wrong annonce for `From<[(K, V); N]> for HashMap`?"
In RELEASES.md Stabilize impl From<[(K, V); N]> for HashMap
https://github.com/rust-lang/rust/blob/7248ff2760f39cd788ee9c3bbabec8aa78faec69/RELEASES.md?plain=1#L29
Place for release 1.55 but in code
https://github.com/rust-lang/rust/blob/7248ff2760f39cd788ee9c3bbabec8aa78faec69/library/alloc/src/collections/binary_heap.rs#L1475
stabilize only in 1.56

[2021-09-06 16:57] Mark-Simulacrum commented on #88693
Fixed by https://github.com/rust-lang/rust/pull/88694

[2021-09-06 16:57] #88693 closed

[2021-09-06 17:04] BoxyUwU commented on #82219
theres a zulip topic in wg-traits about this [here](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/higher.20ranked.20impl.20obligations)

[2021-09-06 17:05] m-ou-se opened #88696 "Suggestions for miniz_oxide included in diagnostics in crate with no dependencies"
So, I was just chatting a bit with rustc and I was saying:

[code]

And then rustc said:

[code]

And I was like, *sure, whatever you say*.

But *then* rustc told me:

[code]

And I was like, *excuse me what??*

---

This crate has no dependencies. (Just an empty `cargo new ..` package.)

This happens on at least:
- rustc 1.55.0-nightly (014026d1a 2021-07-19)
- rustc 1.56.0-nightly (ccffcafd5 2021

[2021-09-06 17:06] m-ou-se commented on #88696
`miniz_oxide` is a (private) dependency of `std`, but it shouldn't show up in diagnostics for any program using `std` like this.

[2021-09-06 17:24] #87749 closed

[2021-09-06 17:30] camelid commented on #88696
And, even aside from `miniz_oxide` being a private dependency, the suggestions seem very unrelated to the input code. I guess just because they're `From` impls on `Result`? I would have thought other `From` impls would have come up too though.

[2021-09-06 17:30] camelid commented on #88696
I wonder if this is specific to `never_type` or not.

[2021-09-06 17:35] rlee287 commented on #86832
Upon further examination, the problem seems to be somewhere else in the `BufReader` code. To demonstrate this, I wrote up a MCVE at https://github.com/rlee287/io_wrapper_statistics/blob/b9f540c226f2bf1def17a5fead396625c9eb38a2/examples/bufread_assert_stream_position.rs#L1.

Here are the results of running the examples in the root of the repository (using Rust 1.54.0):

[code]

Obtaining the stream

[2021-09-06 18:01] Sl1mb0 commented on #86431
I'd like to tackle this. I'm curious where th

[2021-09-06 18:10] BoxyUwU opened #88701 "diagnostics when parsing `{ {10} - 1 }` is confusing"
Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=291d09b9657643097c2214cc6c5348fe):

[code]

The current output is:

[code]

Ideally this would give the same diagnostics as `{10} + 1` gives:
[code]

[2021-09-06 19:08] jonhoo commented on #78591
To add another test-case for what I believe is another instance of the same problem:
[code]
This doesn't panic, but produces:
[code]
For an even more confused case, split the module into its own file:
[code]
[code]
Which yields this nonsensical warning:
[code]
Essentially, the span of the unresolved link is misattributed to the wrong file. The line and column values are correct, it's just the wron

[2021-09-06 19:37] jyn514 commented on #78591
That's https://github.com/rust-lang/rust/issues/78591#issuecomment-719980727. https://github.com/rust-lang/rust/blob/8ceea01bb442b9746a51b062ce25abbf46d866b2/src/librustdoc/passes/collect_intra_doc_links.rs#L899 is assuming there is only inner or outer docs, not both.

[2021-09-06 20:16] hydra opened #88704 "Linker hangs with no output 9/10 times."
When building various example projects, I find that the rust-lld.exe linker will just stall instead of creating the .elf file.  When it works, it takes about 0.4seconds, most of the time it fails and you have to ctrl+c the command and retry, it's obviously ridiculously frustrating, especially during a pair programming session.

To make sure there was nothing odd on my PC that might be affecting it

[2021-09-06 21:08] ThePuzzlemaker commented on #88609
I am going to *attempt* to work on this. I've already got a solution that seems to work, but it's probably not the best way.

@rustbot claim

[2021-09-06 21:15] #84715 closed

[2021-09-06 21:34] Sl1mb0 commented on #86431
Posted this in Zulip but I'll post it here too:

- What is meant by the term "type renderings"? Does this refer to matching `TyKind` to it's string literal value e.g. `ty::Bool => output.push_str("bool")` ? or does it refer to pushing the type's identifier onto the output string? Just want to be sure.

- As for how to approach caching repeat string segments, my current idea is to use a wrapper to

[2021-09-06 22:47] stepancheg commented on #88616
Another much simpler example, and I guess the reason is the same:

[code]

[code]

Here is does unnecessary `test`/`setne`.

[Compiler explorer](https://rust.godbolt.org/z/E9Te95bc4)

[2021-09-06 23:58] #88671 closed

[2021-09-07 04:38] photino commented on #85532
Should we add `carrying_mul` and `widening_mul` for `i128/u128` as well?

[2021-09-07 05:57] clarfonthey commented on #85532
Mostly effort implementing them efficiently. In the meantime, you can do it with four calls to the `u64` version. Or three if you want to be fancy.

[2021-09-07 06:00] clarfonthey commented on #78356
`format_args!` is already callable in const contexts. The issue is actually doing anything with the result.

[2021-09-07 06:01] hellow554 commented on #87906
@rustbot claim

[2021-09-07 06:36] fee1-dead commented on #78356
You can't call `format_args!`. Not even when you only have the format string. (`format_args!("a")` does not work)

[2021-09-07 07:06] mati865 commented on #88704
Could you obtain stacktraces for the hanged process? I though we fixed all hangs like that in LLD 13 but maybe Rust's ancient GCC is even more broken than more recent versions.

[2021-09-07 07:07] mati865 commented on #88704
@rustbot modify labels: +O-windows-gnu

[2021-09-07 07:25] hellow554 commented on #88696
I think the suggestion should not show up anymore if https://github.com/rust-lang/rust/pull/87349 would have been merged.

Can you try that out? Would that be feasible for you?

[2021-09-07 08:24] matklad opened #88715 "ControlFlow docs should explicitly mention that it works with ?"
We stabilized ControlFlow: https://doc.rust-lang.org/stable/std/ops/enum.ControlFlow.html

That’s somewhat of a big deal, as it is now the third type (in addition to Option and Result), which works with `?` operator on stable. This isn’t immediately obvious from the docs though!

[2021-09-07 08:37] nacaclanga commented on #29633
On way to implement a plattform specific design is to have a `#[bin_entry = "main"]` attribute that must be attached to exactly one item in the dependency tree, for a crate to be compilable as bin (unless the `no_main` feature is also provided). The function signature can be arbitry, the uses is responsible for giving the right signature. When the crate is compiled as libary, it is ignored. When t

[2021-09-07 10:37] bnoordhuis opened #88716 "linux: std::process, insecure dropping of ancillary groups"
Commit 22ddcd1a13082b7be0fc99b720677efd2b733816 made libstd drops ancillary groups when uid == 0:
https://github.com/rust-lang/rust/blob/385f8e2078b00282a7a7ffcd58aad17b405f57bf/library/std/src/sys/unix/process/process_unix.rs#L312-L314
Before that it unconditionally dropped group membership.

The new logic is wrong on Linux: it doesn't account for processes whose uid != 0 but have the CAP_SETGID

[2021-09-07 10:45] jkmpariab commented on #11084
Does closing PR #59605 imply opening this issue again? or i'm wrong?
Here is the documentation reference to this issue: https://doc.rust-lang.org/nightly/src/core/result.rs.html#1884-1885

[2021-09-07 11:07] m-ou-se commented on #88696
Ah that looks relevant. Trying that PR now..

[2021-09-07 11:11] m-ou-se commented on #88696
Nope. Same output with #87349.

[2021-09-07 11:17] m-ou-se commented on #78356
That's on purpose, to avoid making that part of the stability guarantees for now. We have an unstable/internal `const_format_args!("a")` that does work, which is used by `panic!("a")`.

[2021-09-07 11:33] beroal commented on #76915
I mean that the signature of C's `CMSG_SPACE` is `size_t CMSG_SPACE(size_t length)`. AFAIK, C's `size_t` corresponds to Rust's `usize`. If the signature of Rust's `CMSG_SPACE` was `fn(length: usize) -> usize`, then it would be closer to C and integer conversions (blowing up code and threatening us with panics) would be unnecessary.

[2021-09-07 11:48] CryZe commented on #88687
I'm not entirely sure what you expect. If you compile it for the host system with `cargo test` then nothing provides an implementation for  `__kobby_invoke_args` and thus the linker will complain that it can't find that function. If you compile it for wasm, then it will import that into the wasm module and the wasm runtime needs to provide that. However your host can't natively execute WASM files

[2021-09-07 12:09] nagisa commented on #87906
I can see a problem with picking either solution and not indicating clearly which one it is. For example you wouldn't possibly want a benchmarking tool after a couple of days of sleep to say that maximum/p99/etc iteration took… days. Similar logic can be applied to e.g. games, physics engines, etc.

On the other hand I also see use-cases for the time that does elapse in suspend.

However, `Instant

[2021-09-07 12:41] crlf0710 commented on #80437
@fosskers https://rust-lang.github.io/api-guidelines/predictability.html#smart-pointers-do-not-add-inherent-methods-c-smart-ptr

[2021-09-07 13:02] hellow554 commented on #88696
@In-line can you maybe say why your PR doesn't cover this case? :/

[2021-09-07 13:22] hellow554 commented on #88654
Upstream issue https://bugs.llvm.org/show_bug.cgi?id=51777

[2021-09-07 13:28] nagisa commented on #88654
This looks very similar to https://bugs.llvm.org/show_bug.cgi?id=47366 in that LLVM is stuck combining SUBCs and ADDEs.

[2021-09-07 13:31] hellow554 commented on #88654
Indeed! It does compile fine on LLVM 8, but does not on LLVM 9.

Do you want to mark this as a duplicate of the other one (here and on bugs.llvm.org)?

[2021-09-07 13:38] tim-weis opened #88721 "Compiler apparently generates incorrect PDB's"
I'm trying to analyze the performance of a piece of Rust code on Windows. To do so I need to instrument the compiled binary using the [VSInstr](https://docs.microsoft.com/en-us/visualstudio/profiling/vsinstr) tool. However, that fails due to, as far as I understand, an incorrect PDB<sup>1</sup>.

The following code illustrates the issue (starting from a default generated `cargo new --bin sample` c

[2021-09-07 13:39] nagisa commented on #88654
Duplicate of https://github.com/rust-lang/rust/issues/75045

[2021-09-07 13:39] #88654 closed

[2021-09-07 13:57] klensy commented on #88721
Rustc version?

[2021-09-07 14:03] nopestack opened #88723 "Could not compile project after moving files around"
### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-09-07 14:04] nopestack commented on #88723
Apologies for the lack of details, after encountering the issue I ran `cargo clean` and recompiled and everything worked fine, it was only afterwards that I read the bug report instructions.

[2021-09-07 14:19] jyn514 commented on #70380
Duplicate of https://github.com/rust-lang/rust/issues/83375 (@aliemjay feel free to claim that one too :)

[2021-09-07 14:19] #70380 closed

[2021-09-07 14:56] andrewhickman commented on #88701
@rustbot claim

[2021-09-07 14:56] nox opened #88725 "Don't show argument mutability in rustdoc"
In `fn foo(mut v: Foo)`, `mut` is an implementation detail of the function and thus shouldn't appear in rustdoc's output.

Cc @GuillaumeGomez

[2021-09-07 15:11] hydra commented on #88704
@mati865 Sure, but how do I obtain a stacktrace for the hung process?

[2021-09-07 15:16] Spidy104 commented on #86929
when will this bug be removed, and will this bug, cause major problems, for creating various stuff, cuz I am new to rust, and I continuously get this error message!

[2021-09-07 15:22] #88085 closed

[2021-09-07 15:52] mati865 commented on #88704
The easiest way is to attach debugger to the process (this sometimes fixes the hang so you cannot get the trace) or create dump by right clicking on the process in task manager and load it into the debugger.
Anyway I'm back home so I've obtained the trace myself:
[code]

Indeed it looks like bug in old GCC or mingw-w64 used by Rust to build this target.

[2021-09-07 16:31] tim-weis commented on #88721
@klensy The issue can be reproduced using the latest stable compiler (rustc 1.54.0 (a178d0322 2021-07-26)). As stated, the issue can be reproduced using *VSInstr* that ships with both VS 2017 and VS 2019. Googling around didn't produce any meaningful results (the few hits available were related to .NET Native). Visual Studio is fully patched for me (2017, 2019, and 2019 Preview). I didn't try VS 2

[2021-09-07 16:43] alexmaco opened #88727 "Fails to parse boolean expression of nested match expressions"
I tried this code (reduce to minimal triggering case):

[code]
([Failing in playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f0f28cb5552d7dcabe60164d620d2f53))

Fails with the following error:
[code]

However, the following works as expected:
[code]

Given that the second example compiles, we should expect the first one to compile as well.

### Meta

I've found t

[2021-09-07 17:05] camelid commented on #88725
`mut` in function arguments is usually hidden already, no? For example:

[code]

![image](https://user-images.githubusercontent.com/37223377/132383722-b2aea702-8eb0-4e64-bf0d-0055338074ee.png)

@nox Where did you see it shown?

[2021-09-07 17:15] nox commented on #88725
I don't remember, it's been a while and I just procrastinated instead of filing an issue, maybe this was fixed since then hah.

[2021-09-07 17:15] joshtriplett commented on #88583
We discussed this in today's @rust-lang/lang meeting. @pnkfelix and I both agree that this should be fixed by reverting the current preliminary parsing support for anonymous unions; we can re-add it when it no longer causes this breakage.

We also think this fix needs to get into 1.56 (due to the edition).

Finally, we really need to add more test cases to catch more uses of `union` as a non-keywo

[2021-09-07 17:17] pnkfelix commented on #88583
nominating to ensure this gets eyeballs at (or before) compiler team meeting, mostly to ensure the aforementioned revert gets done.

[2021-09-07 17:30] camelid commented on #88725
Ok, I'm going to close this as "already fixed". Please feel free to re-open this issue or open a new issue if you come across this again!

[2021-09-07 17:30] #88725 closed

[2021-09-07 17:34] nox commented on #88725
I've spent a few minutes trying to find when that could have changed, and I can't even find the commit, oh well, maybe it was a dream all along.

[2021-09-07 19:00] RDambrosio016 opened #88730 "bindings_with_variant_name is unhelpful and incorrect for function arguments"
Given the following code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e6829290d29151853fdd98844ba6391c

The current output is:

[code]

Ideally the lint should not trigger on such a pattern, it does not really make sense and the suggestion is wrong altogether,

[2021-09-07 19:01] RDambrosio016 commented on #88730
@rustbot label: +D-confusing +D-incorrect

[2021-09-07 19:03] nbdd0121 commented on #88730
Note that the suggestion isn't wrong in this particular case, because `Foo::c` can actually match any Foo. It's wrong only when `Foo` has 2+ variants.

[2021-09-07 19:04] RDambrosio016 commented on #88730
Right, the real world case of this was with the ascii crate with the AsciiChar enum, this is just a tiny test case

[2021-09-07 19:49] nicholasbishop commented on #87745
Looks good to me, thanks for the fix!

[2021-09-07 20:20] Ameobea commented on #88105
Just curious what the state of this is.  My rust nightly hasn't been able to update for a few weeks now due to the RLS build failing.

[2021-09-07 20:39] Aaron1011 commented on #88105
This will be fixed by https://github.com/rust-lang/rust/pull/88724

[2021-09-07 20:54] nbdd0121 commented on #85194
The issue is that we want all code that works in Rust 2018 to work (or auto-fixed to working code) in Rust 2021. If we stablise `panic!(literal)`, then `panic!("{}")` works in Rust 2018 but not work in Rust 2021. I see two options here:
* Change the lint to suggest `panic!("{{}}")` instead of `panic!("{}", "{}")`.
* Only const-stablise `panic!(literal)` in Rust 2018 if literal doesn't contain '{'

[2021-09-07 21:25] Noble-Mushtak commented on #88577
@rustbot claim

[2021-09-07 21:31] Noble-Mushtak commented on #88577
@rustbot label +regression-from-stable-to-beta

[2021-09-07 22:19] workingjubilee commented on #87906
Posting in the interest of centralizing discussion.

To summarize #87907: it was uncertain whether Linux's `CLOCK_MONOTONIC` behavior is the "normal" one across platforms. In discussion we found it might be the case that it was the deviation, as it was found that OpenBSD has `CLOCK_MONOTONIC` count time through suspends, although that platform also has introduced `CLOCK_BOOTTIME` in the same way L

[2021-09-07 22:20] steffahn commented on #88577
Nothing that Ruby code can achieve that Rust macros couldn't do as well:
[code]
([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=c29d828da1c2b0e3a2d7831e67d0d102))

[2021-09-07 22:37] orlp opened #88734 "f32::MAX_EXP and f64::MAX_EXP are documented incorrectly, and other associated constant woes"
`f32::MAX_EXP` and `f64::MAX_EXP` are documented as

This is straight up not true. They are respectively defined as `128` and `1024`, which is actually one *above* the maximum possible exponent of `f32` and `f64`. The doc comment needs to be changed.

---

In general I feel the set of associated constants for the floating point types are questionable, and should be a candidate for deprecation and

[2021-09-07 22:46] aliemjay commented on #83375
@rustbot claim

[2021-09-07 23:16] hydra commented on #88704
@mati865 Awesome!  Thanks ever so much for digging into it, was glad you were able to replicate the issue.  Keep us all posted.  I and my colleagues will be so happy when this is fixed.

Is it possible to upgrade the tools used by rust to workaround this issue?

[2021-09-07 23:48] camelid opened #88736 "`widening_mul()` and `carrying_mul()` are defined above `{integer}::MIN`, making the docs harder to read"
I would expect them to be defined with all the other associated functions, instead of above the constants:

<details><summary>What it looks like on nightly</summary>
<img src="https://user-images.githubusercontent.com/37223377/132424030-705310f2-f93e-4552-a7c2-da15a9625806.png">
</details>

[2021-09-08 00:34] mati865 commented on #88704
Unfortunately there is no easy fix, last time I tried to upgrade the tools it couldn't make it on the CI: https://github.com/rust-lang/rust/pull/51989
Mingw-builds haven't provided any new build since then, I'll try to provide more up to date toolchain but cannot give any ETA.

I don't know how `rust-lld` is called here but as a workaround you could try using `ld.lld` from official LLVM builds or

[2021-09-08 02:22] Madoshakalaka commented on #88623
Yay!

[2021-09-08 02:33] photino commented on #53023
Do we any progress since 3 years have passed?

Latest results on the benchmark:
[code]

[2021-09-08 03:53] thomcc opened #88737 "`thread_local!` dtor registration can pass wrong `__dso_handle` if dynamically linked"
On linux and some other platforms, libstd uses `__cxa_thread_atexit_impl` to register destructors for thread locals.

https://github.com/rust-lang/rust/blob/fdf65053e99e8966f9bd83b5a8491326cb33d638/library/std/src/sys/unix/thread_local_dtor.rs#L39

The last argument to this is `&__dso_handle`, but this is only correct for threadlocals which are inside libstd, or are in code that is statically link

[2021-09-08 04:00] #88476 closed

[2021-09-08 06:07] beroal commented on #76915
I've started composing an example for `ancillary_data_size` and have reviewed existing examples. I guess I insert a usage of `ancillary_data_size` into every example. Now a buffer `[0; 128]` for `SocketAncillary` is used in every example which, as I understand, is chosen arbitrarily.

I don't understand the purpose of `fds1` and `fds2` in the [example for `SocketAncillary::clear`](https://doc.rust

[2021-09-08 07:03] beroal commented on #76915
In the [example for `SocketAncillary::clear`](https://doc.rust-lang.org/stable/std/os/unix/net/struct.SocketAncillary.html#method.clear), there is the following sequence of calls:
[code]
What's the purpose of `clear` here? As I see from the implementation of `recv_vectored_with_ancillary`, it completely overwrites `ancillary` anyway.

Actually, what's the purpose of `clear` in general? We can just

[2021-09-08 08:54] hellow554 commented on #88734
I really love your points. Here's one point that one should consider:

People coming from other languages and are used to the terms will search for them. If they don't find them, they get frustrated. So at least the doc should have an alias or state somewhere that this is the alternative to XXX.

[2021-09-08 09:03] artemii235 commented on #87401
@yaahc Custom result type will work great for a new project, but we already have a lot of code relying on how `?` was desugared before. We may need significant refactoring to adapt it for the new result.

Also, we like a lot that we stick with a standard Result. If we extract some of our code to the crate that other people will use they won't need to import the custom result to pattern match over

[2021-09-08 09:19] zylthinking opened #88738 "It seems rustc failed to compile a sound code?"
Hello, I have the following code, which fails to compile directly.
showing
[code]

Noticed there is a MutexGuard as a generated parameter, I put it into another fn a(), and  it compiles.
Is it a compiler bug?

[code]

the compiler is rustc 1.53

[2021-09-08 09:27] jhpratt commented on #84605
Would it be possible to add this attribute to the code generated by `unreachable!()`? Behind a flag, of course. Both `#![feature(no_coverage)]` and LLVM-based code coverage are unstable, so I don't think this would cause any issues unless I'm missing something.

[2021-09-08 10:19] thomcc commented on #87906
For what it's worth, the API `Instant` uses doesn't suffer from the Unix Epoch problem:

- `mach_absolute_time` returns a u64 representing "mach ticks", which are an unspecified time unit that you can relate to nanoseconds using `mach_timebase_info`.

- `mach_timebase_info` is a struct with `{number: u32, denom: u32}` and is a fraction describing the ratio between "mach ticks" and nanoseconds via

[2021-09-08 10:31] #85851 closed

[2021-09-08 10:49] CryZe commented on #88738
This is because you have a MutexGuard, which can't be sent to another thread, as a local variable as part of an async function, which generally tries to store all local variables as part of its state. Technically you dropped it early, before ever reaching any await, so it doesn't actually need to store the MutexGuard as part of the async state, but it seems like Rust doesn't seem to understand / o

[2021-09-08 11:03] hydra commented on #88704
`rust-lld` is called via `cargo` -> `rustc` -> `rust-lld` IIRC.

Can you reach out the mingw developers to see if they can provide an updated build?

How would I go about using `ld.lld` ?  overwrite the `rust-lld.exe` with a different `.exe` or?

[2021-09-08 12:04] hnj2 opened #88741 "Rustdoc shouldn't lint about missing code examples in trait impls"
My suggestion is to exclude Trait implementations from the items that need to have doc code examples when using the `rustdoc::missing_doc_code_examples` lint.

## Examples

Consider the following example:
[code]
The `missing_doc_code_exmaples` lint causes the following errors:
[code]

### Pros

 1. This is inconsistent with the `missing_docs` lint, which does not require documentation for Trait im

[2021-09-08 12:31] olliebatch commented on #80346
Is there any work arounds for this? I'm trying to compile a rust image on m1 to amd64 and im coming across this same issue but i can't get a workaround.

[2021-09-08 12:46] jonas-schievink commented on #88738
Duplicate of https://github.com/rust-lang/rust/issues/57478

[2021-09-08 12:46] #88738 closed

[2021-09-08 13:25] steffahn opened #88743 "`#[doc(cfg(…))]` doesn’t work properly with `pub use`."
Hard to put in words the kind of mess that the situation currently seems to be…

### Let’s just look at an example:
[code]
### Resulting docs of module `m`:
![Screenshot_20210908_152342](https://user-images.githubusercontent.com/3986214/132517676-dcdfeeb4-ec70-4a3a-bb6f-5c7eec6fc15e.png)

### Bug description
As you can see above, the `cfg(feature = "foo")` is mostly ignored on the `pub use` items.

[2021-09-08 13:30] PsiACE commented on #87363
already fixed

[2021-09-08 13:30] #87363 closed

[2021-09-08 13:47] shamatar opened #88744 "Implement Default for all array sizes"
I've made a simple [Godbolt](https://godbolt.org/z/bPMd9K6oG) for a demonstration of the approach.

In short, with array::map stabilized in 1.55 it's now possible to make an array `[T; N]` of default values of `T` by invoking `[(); N].map(|_| T::default())`. There is no difference in the emitted assembly for either O2 or O3 optimization levels in my short example for `usize` and user defined type

[2021-09-08 14:14] NightfallDM opened #88746 "std::ptr::read double free the nonCopy type value"
I tried this code:

[code]
### There are a few question to talk about the title.
1.    The std::ptr::read return a new value (T) from a const raw ptr (*const T). in general the perv value which have the ownship should not legal anymore, because if the old value and new value both legal, threre will direct have two owners of the same resource, So the std lib DOC write   "read creates a bitwise copy

[2021-09-08 14:17] steffahn commented on #88577
Haha, just tried out a different direction of “many arguments”. Apparently this results in a segfault, AFAICT
[code]

It’s explicitly a stack overflow on stable `1.54` (and AFAIK segfaults can happen on stack overflow in sound rust code, so *maybe* it isn’t some memory unsafety).

[2021-09-08 14:20] jonas-schievink commented on #88746
This is working as intended. If you have questions about how to use the standard library, please ask them on https://users.rust-lang.org/.

[2021-09-08 14:20] #88746 closed

[2021-09-08 14:32] steffahn opened #88747 "Stack overflow / segfault in `rustc` when using a pattern for (very) large tuple"
The following macro generates a function `fn f((_, _, …): (u8, u8, …)) {}` with 4096 entries in the tuple.

[code]
### On `1.54`
[code]

### On `1.55`
[code]

([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=987b649c41f8d1b3043ec72362476a0f))

It’s explicitly a stack overflow on stable `1.54` and AFAIK segfaults can happen on stack overflow in sound rust code, so

[2021-09-08 14:38] NightfallDM commented on #88746
emmm, although i know what reason cause the double free abort, But why the Doc do not mention we should forget the old value to prevent the double free, and do not memtion the nonCopy type will be double free : >
By the way, thanks for your reply.

[2021-09-08 14:41] hellow554 commented on #88744
There's an open issue for this... somewhere, I can't find it.
IIRC when implemented via const generics there was a regression with a zero sized array. Maybe somebody can link it here...

[2021-09-08 14:52] SoniEx2 commented on #52662
We feel like this syntax potentially conflicts with implied generics, e.g.:

[code]

(assuming we want implied generics to look like this.)

We'd like to suggest a small tweak to the syntax, that would work with both associated types and associated consts and whatever else associated things might be added in the future, while also being compatible with hypothetical implied generics:

[code]

We kn

[2021-09-08 14:55] nikomatsakis commented on #52662
@rustbot release-assignment

[2021-09-08 15:21] shamatar commented on #88744
I've updated the Godbolt link to include creation of arrays of length 0 for both ZST and not ZST. It doesn't look like there is any difference as `array::map` already has a special case for `N == 0` that is optimized out by the compiler in both cases.

[2021-09-08 16:04] VisualDevelopment opened #88749 "Rust ignores extern ABI used for called function if is different than the caller's (/efiapi?)"
I tried the following code inside an extern "efiapi" function:

[code]

The entry point's signature is:
[code]

I expected to see the following serial output:
[code]

Instead, got the following serial output:
[code]

### Meta

`rustc --version --verbose`:
[code]

See discussion on question I made in the Rust user forum: https://users.rust-lang.org/t/data-in-static-kernel-entry-point-argument-seems

[2021-09-08 16:04] paolobarbolini commented on #88744
The issue is that `Default` must also be implemented for zero sized arrays where `T` doesn't implement `Default`.

[2021-09-08 16:38] clemenswasser commented on #58713
Has anyone already looked into this:

I would imagine that we have to create a new target e.g. `x86_64-pc-windows-raw` and for that target link against all of the Win32 functions in std with `kind="raw-dylib"`.
We than probably also have to default to rust-lld and implement everything that happens before main e.g. `exe_common.ini` and the rest of the vcruntime ourselves.
Is there something I forgo

[2021-09-08 16:40] richkadel commented on #84605
Unfortunately, `#[no_coverage]` (in its current form) applies to a function definition only. Applying that attributed before a function definition will cause the entire function to be ignored by coverage. But I assume you want the "call" to `unreachable!()` to be ignored by coverage. Ignoring a statement or block is not currently supported.

I can understand the motivation for this request, and yo

[2021-09-08 16:49] richkadel commented on #84605
And I may be wrong about block `#[no_coverage]` being the "best solution". Thinking about this just a bit more, adding the `#[no_coverage]` attribute at the function level was not that difficult, because AST-level functions map directly to MIR bodies (and coverage is instrumented within each MIR body). That's easy to turn on or off at the function level. But AST-level blocks don't translate direct

[2021-09-08 16:55] m-ou-se commented on #39364
Deprecating `std::sync::mpsc` sounds like a good idea.

[2021-09-08 17:53] bbulkow opened #88753 "RUSTC no output on WSL1"
Hi!

This is not a report of the widely discussed RUSTUP issues last year on WSL1.

I am recently new to rust, and a big user of WSL. Rust installs according to the standard means just fine on WSL1 and WSL2, Ubuntu 20 LTS.

However, simply running 'rustc' with no arguments (not trying to compile, not trying to update, nothing) results in perfect actions in my WSL2 environment, and no output at all

[2021-09-08 18:05] Manishearth opened #88754 "Add flag to modify the working directory assumed by the diagnostics"
See https://github.com/rust-lang/cargo/issues/9887

Currently rustc prints diagnostics relative to the current working directory of its invocation. However, `cargo` has a habit of switching the CWD to the workspace root before invoking `rustc`, which means that the user's CWD ends up being something different.

It would be nice to have a flag (`--diagnostic-cwd`?) that lets you specify a path rela

[2021-09-08 18:10] eholk commented on #72312
@rustbot assign @estebank

[2021-09-08 18:15] camelid commented on #88754
I wonder if [`--remap-path-prefix`](https://doc.rust-lang.org/nightly/rustc/command-line-arguments.html#--remap-path-prefix-remap-source-names-in-output) could be helpful for this?

[2021-09-08 18:15] Manishearth commented on #88754
Existing discussions: https://github.com/rust-lang/rust/issues/73740 https://github.com/rust-lang/rust/issues/87745

[2021-09-08 18:16] Manishearth commented on #88754
@camelid No, because that impacts the binary, and that would mean that `cargo build` would have to rebuild the crate every time you `cd` to a different folder in the workspace

[2021-09-08 18:30] m-ou-se commented on #88638
This is blocked on an issue with assert and debug_assert using the edition of libccore instead of the one who invoked it. (For assert only on Rust 2015 and 2018, for debug_assert on all editions.)

https://rust-lang.zulipchat.com/#narrow/stream/268952-edition-2021/topic/libcore.202021.20bug/near/252504325

[2021-09-08 18:31] xcarpentier commented on #83106
Also put a link with the match xcode / lvvm versions: https://en.wikipedia.org/wiki/Xcode#Xcode_11.x_-_13.x_(since_SwiftUI_framework)_2

[2021-09-08 18:32] GuillaumeGomez commented on #88545
Do you have an idea @dns2utf8 ? The best would be to not use grid at all. If you have no idea, I'll send a fix in the next coming days.

[2021-09-08 18:37] eholk commented on #74256
@SNCPlay42 - since this is tagged as fixed by NLL, do you think we can go ahead and close the whole issue?

[2021-09-08 18:44] eholk commented on #74497
One of the things I find surprising here is when the error messages talk about `'1` and `'2`. It's not really clear where these lifetimes would come from, although presumably they are some implied or inferred lifetime that's not written explicitly. Would it be possible to have rustc give some more information about where these come from, such as what values are borrowed with each lifetime?

[2021-09-08 18:45] ricobbe commented on #58713
Status update: as before, we'd love to see this feature taken up by the winapi and windows-rs crates, to get some real-world experience with it.  Since my last message, I've learned that many users of these crates run the Rust toolchain on Linux to produce Windows binaries, and that the windows-gnu target is crucial for these users.  So I'm trying to understand exactly why the current implementati

[2021-09-08 18:49] eholk commented on #74497
@WinLinux1028 - That's interesting that the `force_static` makes it work. I wonder if we could do this automatically, since I think `&32` has a static lifetime anyway, or at least can be promoted to one?

[2021-09-08 18:51] cuviper commented on #88744
There's some discussion in https://github.com/rust-lang/rust/pull/74060#issuecomment-658609636 and the references from there.

[2021-09-08 18:52] eholk commented on #74497
Yeah, it looks like @WinLinux1028's latest example works without `force_static`: [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e8ff7e23fc1c1bdc2063ca631752d788).

[2021-09-08 19:03] Nezernite opened #88755 "'t': help: a static with a similar name exists: `A`"
Hello! I compiled the code, and there was such a strange compiler error:
![image](https://user-images.githubusercontent.com/72552477/132568985-f1b7fee7-133e-4a1a-be0d-0c68c5aee751.png)

Code
[code]

Version: rustc 1.57.0-nightly (e30b68353 2021-09-05)

Cargo
[code]

OS: Windows 11

[2021-09-08 19:07] workingjubilee commented on #87906
Ah, I see then. For some reason I had concluded the margin was much narrower there when I made my first attempt to understand the time code. Well, that is perfectly understandable and not at all confusing. Ahem. It looks like "mach ticks" may also be related to the kernel's notion of `abstime`, which depends on hardware variables. It would make sense it was one way on Intel and another on the M1.

[2021-09-08 19:23] lilyball opened #88756 "rustdoc: `rustdoc -W help` prints error unless a file argument is given"
Compiler lints can be printed with `rustc -W help`, with no filename arguments given. Unfortunately this doesn't work the same way for `rustdoc`:

[code]

If I pass it an arbitrary file, it will print any errors produced by parsing the file as rust. This includes errors from using `async` without passing `--edition 2018`. This part is actually the same as `rustc -W help`, in that passing arbitrary

[2021-09-08 19:25] m-ou-se commented on #68537
@rfcbot merge

[2021-09-08 19:28] apiraino commented on #88599
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388599.20ICE.3A.20Implementing.20.60dyn.20Trait.60.20with.20Self.20bound.20and.20as.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-08 19:31] m-ou-se commented on #71436
@rfcbot merge

[2021-09-08 19:32] m-ou-se commented on #71436
Uhh, I didn't realize three different teams were tagged on this. ^^'

[2021-09-08 19:32] m-ou-se commented on #71436
@rfcbot cancel

[2021-09-08 19:32] m-ou-se commented on #71436
@rfcbot merge

[2021-09-08 19:33] #88755 closed

[2021-09-08 19:40] MForster commented on #88252
I believe that there are two different issues at work here. I have a similar setup with a custom AVR target definition (for atmega32u4) that shows the `ran out of registers` issue first in `nightly-2021-03-05`. The previous day still works.

[2021-09-08 19:51] camelid commented on #80360
I'll close this issue because as bjorn3 described, adding `Debug` and `Display` to the prelude would probably be more trouble than it's worth.

[2021-09-08 19:51] #80360 closed

[2021-09-08 19:55] camelid commented on #80216
That day has arrived! 🎉

[code]

I've changed my mind, and I agree that adding `std::iter` to the prelude wouldn't be so good. I'll close this issue then.

[2021-09-08 19:55] #80216 closed

[2021-09-08 19:58] workingjubilee commented on #60475
It is now useful to specify WSL1 vs WSL2. WSL1 uses the Windows APIs to fulfill Linux API calls. WSL2, as I understand it, directs such syscalls through a Linux kernel atop the Virtual Machine Platform. If this is a defect in WSL1, it is a known defect, and it is recommended to use WSL2 instead. In the light of that, I believe we can close this issue for now.

Of course, if I have missed something

[2021-09-08 19:58] #60475 closed

[2021-09-08 20:07] joshtriplett commented on #72631
Summarizing some real-time discussion from just now:

`extend_one` seems fine to me.

For `extend_reserve`, I'd prefer to at least see the default implementation be the one @dtolnay suggested: `extend` with a dummy iterator that has a size_hint of the appropriate size. We should also document the expected semantics: *should* `extend_reserve` panic if it can't allocate (like `reserve` methods), or

[2021-09-08 20:10] camelid opened #88758 "rustc docs: Re-exported types' implementations are lost"
For example, `ObligationCause` is defined in `rustc_middle`, and its docs look like this:

![image](https://user-images.githubusercontent.com/37223377/132577592-337df64e-663d-42d0-b4e1-5f9f3f6a5115.png)

-----

But it is also re-exported by `rustc_trait_selection`, where its inherent and trait implementations don't appear in the docs:

![image](https://user-images.githubusercontent.com/37223377/13

[2021-09-08 20:10] camelid commented on #88758
cc @rust-lang/rustdoc

[2021-09-08 20:17] simonbuchan commented on #58713
I'm a little confused by the last comment, as the big reason you want windows-gnu to build on Linux is to avoid a dependency on the non-redistributable Windows SDK import libraries, the very thing this would resolve - if you copy those files over to Linux and set linker flavor to lld-link you can build windows-msvc fine on Linux. Sure, you could also have issues with native code, but that's not so

[2021-09-08 20:27] tux3 opened #88760 "Incremental ICE in unsafety_check_result after a crash"
I was running a fresh `cargo build` (full build) when my computer froze (I have one of the bad 1st gen Zen chips, I still get crashes a few times a year).
After a restart, I get a rustc ICE every time I call `cargo build`.

### Code

The source code by itself does not repro the ICE, so I don't have any code to show.  My `target/debug` folder is 1.3GiB.
(I'd be happy to upload the target folder, th

[2021-09-08 20:30] cuviper commented on #72631
So, returning a hint `(size, Some(size))`, but no items? Often the lower bound is what collections use for reservation. I guess it's technically safe to lie about this though.

You mean by using that hint trick in the free function? I could do that.

Actually, if we go that route, we can also let `unzip` and `Extend for (A, B)` pass the complete size hint from the source iterator, rather than just

[2021-09-08 20:40] the8472 commented on #72631
That's a good point. `Iterator::size_hint` docs say

So it implies that it's kind of buggy behavior to have an iterator that doesn't return its lower bound. At the very least it leaves a bad taste.

It would be nicer if we just passed in a single iterator where a call to `next()` spins the outer loop of whatever is driving `Extend` (generators were mentioned in the meeting).

[2021-09-08 20:42] #86253 closed

[2021-09-08 20:42] #74400 closed

[2021-09-08 20:44] apiraino commented on #88586
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388586.20.60assertion.20failed.3A.20!value.2Ehas_escaping_bound_vars.28.29.60.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-08 20:45] apiraino commented on #88696
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388696.20Suggestions.20for.20miniz_oxide.20included.20in.20diagnostics.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-08 20:47] apiraino commented on #88577
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388577.20Panic.20when.20creating.20function.20with.2065536.20or.20more.20argu.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-09-08 20:58] kaleidawave commented on #62358
Don't think this is mentioned in this thread but a "contains" method would be useful in situations in scenarios for result where `E` doesn't implement `PartialEq`. At the moment `my_result == Ok(42)` only works if `my_result::E: PartialEq`. I use a current `my_result.ok() == Some(42)` workaround occasionally (and there is the more verbose `if let Ok(v) = my_result { v == 42 } else { false }`). I t

[2021-09-08 21:04] steffahn opened #88762 "Incorrect upper bound for `size_hint` of `char::DecodeUtf16`"
[code]
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3a5d9936c6fc80c3e466c4b0124c4c85))

[2021-09-08 21:40] jdm opened #88764 "UWP implementations weren't updated for I/O safety"
https://github.com/rust-lang/rust/commit/d15418586ca78ead4f87ad18fcffa3550c1b169e updated lots of code in library/std/src/sys/windows/ to use the new APIs, but did not modify usages in the conitional UWP implementations like:
* https://github.com/rust-lang/rust/blob/47ae8deb8a35030bdc4e502b03400800864cc264/library/std/src/sys/windows/fs.rs#L360
* https://github.com/rust-lang/rust/blob/master/libra

[2021-09-08 22:02] tmandry commented on #84605
To me, `#[no_coverage]` blocks seem like the best solution from a language perspective. Agreed that there might be some work threading things through on the implementation side.

For macros, we can just think about this as applying to a particular expansion (and the attribute applies to the block in HIR, i.e. after macro expansion). Maybe there are other issues I'm not thinking about.

[2021-09-08 22:11] workingjubilee commented on #88753
This may actually still be a Rustup problem, somehow, because I assume by "standard means" you mean Rustup, and Rustup tries to proxy things... could you run `strace rustc --version`?

Regarding WSL, I would like to offer my (limited) understanding, without judgement of your needs:
WSL, regardless of version, promises to answer Linux syscalls. For WSL1, this uses Windows API calls, which are handl

[2021-09-08 22:17] workingjubilee commented on #80516
Was this WSL1 or WSL2?

[2021-09-08 22:18] shamatar commented on #88744
Ok, I see the point. It lead me to the question now posted in [zullip](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/Kind-of.20specialization.20for.20traits.20with.20adt-const-generics/near/252541920), may be it would be a nice feature that may go along and parallel with specialization (and potentially much easier to implement)

[2021-09-08 22:42] workingjubilee commented on #88255
That would be a rustup bug. Could this issue be transferred?

[2021-09-08 22:53] jhpratt commented on #71436
I still share the concern that some APIs may, in the future, be permitted to be used in any context, not just proc macros. Wouldn't `#[cfg(accessible(...))]` encompass this and at the same time be more powerful, flexible, and forward-thinking?

[2021-09-08 23:01] stepancheg opened #88767 "unlikely intrinsic does not work"
Code:

[code]

[Compiler explorer](https://rust.godbolt.org/z/n3zqcbYd1)

rustc 1.57.0-nightly (fdf65053e 2021-09-07)

Generates assembly:

[code]

If `unlikely` worked, call to `aaa` would be after jump (it works if `aaa` is marked `#[cold]` for example).

Unlikely is present in Rust MIR:

[code]

but it is lost in LLVM IR:

[code]

[2021-09-08 23:03] jhpratt commented on #84605
I don't think accidentally executing an "unreachable" expression is an issue for coverage, as that's not the job of coverage; tests are where that should be caught.

There is a tracking issue for this already, I wasn't sure if there was an easy-ish way to land it. Apparently that's not the case. I would imagine in the future statement and expression-level masking for coverage purposes will exist,

[2021-09-08 23:39] kobby-pentangeli commented on #88687
You're right. Before testing the code, I must first implement `__kobby_invoke_args`. Closing this issue now. Thank you!

[2021-09-08 23:39] #88687 closed

[2021-09-08 23:49] camelid commented on #88276
Closing now that #88553 has been merged.

[2021-09-08 23:49] #88276 closed

[2021-09-08 23:52] rust-highfive opened #88768 "`miri` no longer builds after rust-lang/rust#80522"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#80522, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-09-08 23:58] ricobbe commented on #58713
I'd been under the impression that, when running for a *-windows-msvc target, rustc actually invokes the MSVC linker to generate the final .EXE/.DLL/.RLIB/.LIB/whatever.  Therefore, since Microsoft's LINK.EXE isn't available when running the compiler on Linux, the *-windows-msvc targets are unavailable, and users in this setting have to use *-windows-gnu instead.  Is that not correct?

[2021-09-09 00:08] workingjubilee opened #88769 "SIMD [iu]8xN tests SIGILL in --release"
Hello, we have encountered an issue in the portable-simd CI unique to tests on our `i8xN` and `u8xN` types on x86_64. It emits a SIGTRAP, or sometimes a SIGILL, or on Windows, a STATUS_ACCESS_VIOLATION! How exciting! I can reproduce this locally. Our other tests do not do this, and it only happens in `--release`, so I suspect this is a miscompilation by LLVM 13 inappropriately optimizing something

[2021-09-09 00:38] orlp commented on #62111
If no one has any objections I can make a pull request implementing the following functions:

[code]

where for unsigned types the implementation would be

[code]

and for signed types

[code]

[2021-09-09 01:17] mati865 commented on #58713
I was able to reproduce that and confirmed the import library created by `llvm-dlltool` is the same as one created by Rust. Maybe the difference is related to who reads the import library?
With `raw-dylib` it's read by `add_archive` and added to `.rlib` while with manual linking it's read by `ld.exe`.

As the test I had used `lib.rs` without `raw-dylib` with symbols linked like that: `#[link(name

[2021-09-09 01:36] jyn514 commented on #88756
Mentoring instructions: move https://github.com/rust-lang/rust/blob/97032a6dfacdd3548e4bff98c90a6b3875a14077/src/librustdoc/config.rs#L674 to before https://github.com/rust-lang/rust/blob/97032a6dfacdd3548e4bff98c90a6b3875a14077/src/librustdoc/config.rs#L422

[2021-09-09 01:39] jyn514 commented on #88743
Didn't read all the test cases, but this is probably a duplicate of https://github.com/rust-lang/rust/issues/85043 or vice versa.

[2021-09-09 01:53] steffahn commented on #88743
Thanks for the link, I hadn't seen #85043 before.

It's related but I feel like the test cases cover somewhat of a different dimension. I guess, perhaps, the issues could be grouped as a single one. The new area that this issue covers is the behavior around items from other crates.

[2021-09-09 01:54] tmandry commented on #74256
This still reproduces for me. Adding `#![feature(nll)]` does fix the issue, I'm not sure what we're using that feature for nowadays.

[2021-09-09 02:02] jyn514 commented on #88743
Hmm, this is surprising to me - wouldn't you want to AND the conditions? Since the export will only available if both the original and new cfgs are true? I guess that could lead to trouble for facade re-exports:
[code]
But I don't see a way for both that and
[code]
to behave as expected - the first one you don't want to show the cfg, and the second you do.

Maybe that is an argument to only use th

[2021-09-09 02:05] prokopyl commented on #87932
I believe I managed to hit this specific crash while working on [Rust-LV2](https://github.com/RustAudio/rust-lv2) ([this](https://github.com/RustAudio/rust-lv2/commit/8061b5a56b8a6fe2fa32fb93fb1e2de1794eba1b) is the WIP commit where I first encountered that crash), however, this project does **not** depend on Serde.

I investigated further, and managed to make a complete [minimal test case here](h

[2021-09-09 03:20] jyn514 commented on #88656
@Alexhuszagh I'm definitely interested :) happy to review any PR you open! Like before, I can't comment on whether the math is right, but I can certainly look at the rest.

[2021-09-09 03:30] dwrensha opened #88770 "'called `Result::unwrap_err()` on an `Ok` value: false', compiler/rustc_builtin_macros/src/format.rs:173:51"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

[code]

[code]

[2021-09-09 03:31] dwrensha commented on #88770
searched nightlies: from nightly-2021-05-10 to nightly-2021-09-08
regressed nightly: nightly-2021-07-28
searched commits: from https://github.com/rust-lang/rust/commit/08095fc1f875c89e507f17cf6c6a780c8ffa4c01 to https://github.com/rust-lang/rust/commit/2faabf579323f5252329264cc53ba9ff803429a3
regressed commit: https://github.com/rust-lang/rust/commit/8bebfe5cc2db1603be0d4ad79ad17d48e3b20e54

<deta

[2021-09-09 03:39] dwrensha commented on #88770
This regressed in #87436.
cc @ebobrow

[2021-09-09 04:35] fee1-dead commented on #88655
With the change to `~const`, these implicitness have been removed. So you can't rely on the inherent impl method being const, to assume that the impl's bounds are all inferred to be `~const`.

And currently I don't think it is possible to achieve what you want. But the ideal solution is to use where clauses on the const fn and bound `T: ~const ExTrait`. See also #88424, and we will allow these whe

[2021-09-09 05:12] panstromek commented on #80516
It was WSL2

[2021-09-09 05:35] workingjubilee commented on #80516
Yes, Cargo probably falsely believed some files were still good because the crash, uh, successfully raced cargo.
What were you doing in the IDE?
Was the IDE running atop WSL or was it atop the Windows kernel?

[2021-09-09 06:40] leonardo-m commented on #85077
The first step was done

[2021-09-09 07:49] apiraino commented on #88764
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388764.20UWP.20implementations.20weren't.20updated.20for.20I.2FO.20safety) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-09-09 07:49] panstromek commented on #80516
I don't remember exactly but I think I was making a commit through UI. I usually run build + tests, open commit dialog and when I see the tests passed, I hit enter.

It's CLion running in the WSL (so atop wsl kernel) and using X client on Windows side.

[2021-09-09 08:06] hyd-dev commented on #88764
I looks like that #88587 is intended to fix this.

[2021-09-09 08:31] bjorn3 commented on #71436
`#[cfg(accessible(...))]` only tests if the api exists at all in the current rustc version. It doesn't test if you can actually call it.

[2021-09-09 08:57] petrochenkov commented on #87932
I remember this, it is an old issue - https://github.com/rust-lang/rust/issues/55779.

[2021-09-09 08:59] petrochenkov commented on #87932
Narrator: eddyb never returned.

[2021-09-09 09:01] eddyb commented on #87932
Ah, right, that got lost in the chaos of Rust 2018 + all the `ty::print` changes.
Fingers crossed that code hasn't gotten crazier since.

[2021-09-09 09:29] tspiteri commented on #88734
The C standard library follows the convention that floating-point numbers <i>x</i> × 2<sup><i>exp</i></sup> have 0.5 ≤ <i>x</i> < 1, while the IEEE 754 standard text uses the convention 1 ≤ <i>x</i> < 2. This convention in C is not just used for `DBL_MAX_EXP`, but also for functions such as `frexp`. `f64::MAX_EXP` is equal to C `DBL_MAX_EXP`, which is the reason for this off by one.

[2021-09-09 09:36] orlp commented on #88734
@tspiteri Thanks for the context, that does explain why those values are the way they are in C. That said, as far as I know Rust doesn't explicitly adopt that convention anywhere, and I don't believe that it should. Rust specifically chose IEEE 754 as the definition of its floating point type, so I believe we're best served to use their conventions and terminology where possible.

[2021-09-09 09:52] orlp commented on #88195
Made a pull request using @mdsn 's suggestion, only replacing "applying `default`" with "applying function `default`" to be consistent with the earlier part of the sentence.

[2021-09-09 09:54] mleonhard commented on #39364
I hope `std::sync::mpsc` will be deprecated only after a suitable replacement is added to `std`.

[2021-09-09 10:04] roblabla commented on #58713
It's possible to use the `-windows-msvc` target on linux, but one has to either use LLVM's "MSVC emulation" programs (lld-link, clang-cl and others), or run the real MSVC programs in wine. I personally do the former, and there's a recent article explaining how to set it up: https://jake-shadle.github.io/xwin/.

However, I don't think most people do that. The "usual" way to cross-compile windows bi

[2021-09-09 10:24] beroal commented on #76915
I tried to make `ancillary_data_size` `const`. However, this requires `libc::CMSG_SPACE` to be `const` which requires the `const-extern-fn` feature of `libc` to be on. When I request this feature in `Cargo.toml` of `std`, the repository `rust` doesn't compile because it uses a **beta** compiler. I'm in a dead end. I guess I need to wait until `const-extern-fn` is stabilized.

[2021-09-09 10:50] ssokolow commented on #39364
...but there's precedent for not doing so in `std::env::home_dir`.

[2021-09-09 11:11] dns2utf8 commented on #88545
I can confirm this with Chromium 93 and IE Edge 91.
I tried adding a `<br>` after the grid-layout (works with floats sometimes) but will try some more.

It works with Firefox 91 and 92 so I assume it is a chrome render-engine bug.

[2021-09-09 11:14] zhangwuqiao opened #88773 "My function name is a string. If I want to implement such a call method, how can I implement it?"
fn add(a:i32, b:i32) -> i32{
    a+b
}

fn main(){
	let fname = "add";
	let c = fname(5, 6);
	println!("add :{}", c);
}

------------------------------
My function name is a string. If I want to implement such a call method, how can I implement it?

[2021-09-09 11:17] ChrisDenton commented on #88545
Yes it's a Blink bug: https://bugs.chromium.org/p/chromium/issues/detail?id=688640

[2021-09-09 11:22] GuillaumeGomez commented on #88545
@dns2utf8 Which is why I think we should switch to another way of rendering which doesn't use the current grid at all.

[2021-09-09 11:24] jonas-schievink commented on #88773
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2021-09-09 11:24] #88773 closed

[2021-09-09 11:39] hellow554 commented on #88769
During my reduction, this nice error popped up which is, at least I think so, the real error message behind this ICE:

[code]

I post my code in ~10 Minutes, after cleaning it up

[2021-09-09 11:50] hellow554 commented on #88769
This ICE is very fragile, even removing the `biteq` mod makes that this ICE will not appear anymore... Anyway, here it is:

[code]

`cargo build --release` is needed. But it isn't limited to windows, it also crashes under linux:

<details>
<summary>Backtrace</summary>

[code]

Gdb:

[code]
</details>

[2021-09-09 12:02] dns2utf8 commented on #88545
Hm, ... I see your point.
Since it solves the viewport-scaling with mobile very nicely, what if we split the table into 1000 element chunks?
That would not make a difference on mobile and on desktop we would just loose the width consistency of the first column every 1000 element.

[2021-09-09 12:06] GuillaumeGomez commented on #88545
I don't think this is a good idea. I'd really prefer to not rely on "limits" that could change independently outside of our control. I think we need to find another approach.

[2021-09-09 12:58] nagisa commented on #88769
[code]

is the assertion being triggered (with @hellow554's minimization)

[2021-09-09 13:35] pnkfelix commented on #88583
Reversion PR posted in PR #88775

[2021-09-09 13:57] dns2utf8 commented on #88545
One idea I have is that we switch back to the table element if the table is too long.
This I would probably implement in the HTML generator.

Another one, we use the mobile layout on desktop too if the table is too long.
Here I would add a check in JavaScript to see if the last  two elements overlap and then add a class that switches the behaviour.

Or something else :relaxed:

[2021-09-09 13:58] pnkfelix opened #88777 "Could we point out cases of `&'a mut S<'a>` that could be re-written to `&mut S<'a>?"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4376e96d47d7a35b1858c769744fedef

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

When people are learning Rust, they sometimes do not know the best place to insert explicit lifetimes. We can help them by providing suggestions for ways to modify their code when th

[2021-09-09 14:01] GuillaumeGomez commented on #88545
The annoying part is that the left column has to be the width of the largest element. Maybe we could rework that part so it doesn't need something so complicated and keep how it's displayed on mobile? If you have suggestions... :)

[2021-09-09 14:02] Bauxitedev opened #88778 "Internal compiler error when using vec![] inside of an async match statement (rustc 1.54.0)"
This code triggers an internal compiler error on rustc 1.54.0:
[code]

Try it on the Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fba71555b1f83a0975e3722e514826ae

The error is:
[code]

[2021-09-09 14:04] mqudsi commented on #88545
*cough* tables *cough*.

But seriously, if you use a css reset to remove all browser styling (are we already doing that?) you can use the table layout in the renderer to create code like our current grid (because we are barely using any of the actual grid features). A little bit of css to the cell classes makes it responsive.

[2021-09-09 14:06] GuillaumeGomez commented on #88545
Or maybe we can do even simpler and just set width to both parts to 50% (or 30-70, well up to debate). Like this, the alignment for the right part will work and we don't need to worry about grid or table anymore.

[2021-09-09 14:43] kennytm commented on #52662
rust-lang/rfcs#2115? it is entirely lifetime only.

[2021-09-09 15:07] estebank commented on #86102
Opened https://github.com/rust-lang/rust/pull/88781 after cleaning up the code I linked earlier.

[2021-09-09 15:14] dns2utf8 commented on #88545
In the upcoming CSS Grid-2 spec (https://www.w3.org/TR/css-grid-2/#overlarge-grids) there is this sentence:
[code]
So we would run into trouble if a table gets longer than 10k entries.

However:
[code]

To me the spec reads as, the UA (User Agent aka Browser) is free to enforce lower limits if there is not enough memory available.

I would like to look at the `display: table*` because that would a

[2021-09-09 15:30] SoniEx2 commented on #52662
Ah, close enough. Would be nice to be able to support in-band/implied generics without an edition boundary tho.

[2021-09-09 15:35] gj commented on #84970
Given this update, is it still helpful/encouraged to create a bug report when encountering this issue on 1.54 stable? Not sure if it would be helpful for coming up with corresponding test cases or redundant.

[2021-09-09 15:37] Alexendoo commented on #88586
No longer ICEs since #88061

[2021-09-09 15:51] Aaron1011 commented on #84970
It's not always obvious whether or not a particulsr incremental ICE is fixed in nightly. I think it's fine to have people keep opening issues, which will l(hopefully) all get closed as duplicates. As new versions are released and people upgrade, the rate of new issues should hopefully fall to zero.

[2021-09-09 16:01] workingjubilee commented on #88769
I do not understand how that is finding a null pointer or how it is getting a poison value out of this.

[2021-09-09 16:04] workingjubilee commented on #88769
Thank you for your work on the minimization though! I just... is it because it starts as an array and then it tries to constant fold that?

[2021-09-09 16:23] rlee287 commented on #86832
Upon further investigation (thanks to https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Investigating.20BufReader.20issue.20.28rust-lang.2Frust.2386832.29/near/252648571), the above results appear to be a consequence of how I implemented the `IOStatWrapper`. After spending a bit more time to confirm that there is no issue left, I will close this issue.

[2021-09-09 16:24] gc-plp opened #88784 "Running unit tests with codegen-units=1 triggers errors when optimizing with vectorization"
When adding `codegen-units=1` in the [firecracker](https://github.com/firecracker-microvm/firecracker) project we saw that some unit tests started failing on `aarch64` with rust 1.52.1.

Upon further investigation, we identified [this loop](https://github.com/firecracker-microvm/firecracker/blob/main/src/arch/src/aarch64/regs.rs#L352) behaving differently depending on different compiler flags - de

[2021-09-09 16:29] m-ou-se opened #88785 "Port non_fmt_panic help and suggestions to the format error diagnostic"
The `non_fmt_panic` *lint* looks at the type of argument to suggest something that will most likely work:

Removing a redundant `format!()`:
[code]
Suggest `"{}"` only if the thing implements `Display`:
[code]
Suggest `"{:?}"` if the thing impements Debug:
[code]

---

However, the this-is-not-a-format-string-literal *error* doesn't do that at all:

[code]
[code]
[code]
---
This is especially rele

[2021-09-09 16:29] Waridley commented on #80996
Then you'd still have to match on the `Bound` in order to get to the inner `&mut T` to call that function, right? `map_mut` seems more applicable in that case. Matching on `&mut Bound<T>` should still give you `&mut T` in the match arms.

[2021-09-09 16:34] inashivb commented on #88756
Hi @jyn514 !
May I claim this issue if no one else is working on it?

[2021-09-09 16:37] inashivb commented on #87181
Hi @JaydenElliott !
Are you still working on this issue? (I am looking for issues to work on so just checking in :) )

[2021-09-09 16:46] glittershark commented on #80996
yeah, that's fair - it's not often you'd want `.as_mut()` without immediately being followed by a `.map(...)`... but isn't that true for Option as well? Basically any time I think about this I net out at preferring API consistency over all else.

[2021-09-09 16:52] glittershark commented on #80996
I did have a bit of a lightbulb about this since last time I was engaged in the discussion, which was that perhaps (tell me if I'm wrong) @dtolnay's hesitation about `.as_mut()` come from an assumption that all Bounds originate at, or are constructed to be returned by, a call to `RangeBounds::start_bound` or `::end_bound` - both of which return `Bound<&T>`. I on the other hand am storing `Bound`s

[2021-09-09 16:56] clarfonthey commented on #51999
One thing that I noticed which kind of sucks: this being unstable means that you can't use `todo!()` in consts. Although I understand not wanting to stabilise that so that people don't use it instead of panic.

[2021-09-09 17:06] RalfJung commented on #85532
I was very confused by this function name at first, since borrowing in Rust usually refers to references. I am not a native speaker, but I do formal mathematical work in English professionally, and yet I never before heard the term "borrowing" in the context of subtraction. So I think this, at least, needs some explanation in the docs.

The current docs for some of the other methods could probably

[2021-09-09 17:09] AaronKutch commented on #85532
The word borrow here comes from the terminology for a full subtractor. I am thinking that maybe the borrowing_sub function could be removed altogether. The same effect that borrowing_sub has can be obtained from carrying_add by making the first carrying_add in the chain have a set carry bit, and then bitnot every rhs. This fact could be put in the documentation of carrying_add.

[2021-09-09 17:12] jyn514 commented on #88756
@inashivb go for it :)

[2021-09-09 17:20] hydra commented on #88704
I found the documentation for changing the linker:

https://doc.rust-lang.org/rustc/codegen-options/index.html#linker-flavor

I will give that a try as time permits and report back.

[2021-09-09 17:31] hydra commented on #54882
Would just like to add my two cents to this:

After working on many embedded projects on processors with limited storage space it was critical to be able to change the optimization levels, here's some use-cases:
* different optimization levels for initialisation code vs code that runs thousands of times a second (e.g. size optimized vs speed optimized, respectively)
* no optimization on certain fu

[2021-09-09 17:34] clarfonthey commented on #85532
Considering how the primary goal of these methods is to be as efficient as possible, usually optimising down to a single instruction, I don't think it'd be reasonable to just get rid of subtraction in favour of telling everyone to use addition instead. Definitely open to changing the name, though.

[2021-09-09 17:40] workingjubilee commented on #88769
As a note, this crash _only_ reproduces with `cargo build` (or similar, such as `cargo rustc`) at the moment, it doesn't when `rustc` is invoked directly.

[2021-09-09 17:41] nikomatsakis commented on #47174
There is documentation of the current sanitizer support here:

https://doc.rust-lang.org/beta/unstable-book/compiler-flags/sanitizer.html

Based on a quick read, I feel pretty positive about the current status of sanitizers. The user workflow seems fairly reasonable.

One caveat is that I think this support should be integrated into cargo, but stabilizing the rustc flags would allow that to happen

[2021-09-09 17:44] eddyb commented on #88769
I can repro with this:
`curl -sS https://gist.githubusercontent.com/eddyb/08ea4736082d9b2326a984c4cb828a08/raw/6a2b96cd8422950fa2b160e518671df66965a863/issue-88769-min.rs | rustc -O -`

But only on `rustc 1.57.0-nightly (fdf65053e 2021-09-07)`, not `rustc 1.56.0-nightly (0035d9dce 2021-08-16)` which I had before `rustup update nightly`, so it must be relatively recent (though I may have been pre-L

[2021-09-09 17:44] magurotuna opened #88787 "Returned std::io::ErrorKind against the same I/O operation differs between 1.54.0 and 1.55.0"
First, I created `foo.txt` in the crate root directory. Then I tried this code:

[code]

This code is supposed to fail since I opened the file with read permission only, but attempted to write data to it.

When running this code on 1.54.0, I got:

[code]

On 1.55.0 (`rustc 1.57.0-nightly (97032a6df 2021-09-08)` also shows the same output):

[code]

As you can see, the returned kind is different -

[2021-09-09 17:46] jonas-schievink commented on #88787
See https://blog.rust-lang.org/2021/09/09/Rust-1.55.0.html#stdioerrorkind-variants-updated

[2021-09-09 17:48] AaronKutch commented on #85532
These helper methods will not be very useful to me unless they are implemented for every kind of integer. Here is an implementation for a widening multiplication-addition for u128:
[code]
I have tested this with my crate `awint`.

[2021-09-09 17:49] magurotuna commented on #88787
Oh I missed that. Thank for the quick reply!

[2021-09-09 17:49] #88787 closed

[2021-09-09 17:52] clarfonthey commented on #85532
I would make a PR for that.

[2021-09-09 17:53] AaronKutch commented on #85532
Some alternative signatures include `u128::widen_mul_add(lhs, rhs, add)`, `lhs.widen_mul_add(rhs, add)`, or `add.widen_mul_add(lhs, rhs)`. In `awint` my general purpose mul-add function is `mul_add_triop` which uses the third signature but takes `self` mutably and add-assigns `lhs * rhs`. I'm not sure which is best.

[2021-09-09 17:58] inashivb commented on #88756
@rustbot claim

[2021-09-09 18:05] AaronKutch commented on #85532
I would also change up the documentation headers for the `carrying_add` function to say
[code]
I specifically note `unsigned overflow`, because that happens for both signed and unsigned
integers because of how two's complement works.

[2021-09-09 18:10] eddyb commented on #88769
Running with `-Z verify-llvm-ir` doesn't result in a verifier error, so assume that's still working, this must be a LLVM bug.

These series of steps reproduce the crash outside `rustc`, which should allow minimizing the LLVM IR with e.g. `bugpoint`:
[code]

Sadly we don't ship `bugpoint` with `llvm-tools-preview`, but if you have it installed:
[code]

After a lot of crashes, it ends in:
[code]

Ru

[2021-09-09 18:18] AaronKutch commented on #85532
`borrowing_sub` should be left in with its naming, but its documentation could be
[code]

[2021-09-09 18:27] workingjubilee commented on #88769
Just to confirm: crash repros on `cargo +nightly-2021-08-22 build --release` but not the nightly before that, so I believe you can use

[code]

[2021-09-09 19:21] nikic commented on #88769
@eddyb Thanks for the reduction, upstream issue filed in https://bugs.llvm.org/show_bug.cgi?id=51811.

[2021-09-09 19:25] nagisa commented on #88767
Rust [generates the call to `expect`](https://rust.godbolt.org/z/7s16544n8) so what's happening here is that some LLVM optimization pass simply considers it to be profitable to remove the call.

[2021-09-09 19:51] VisualDevelopment commented on #88749
I had a misunderstanding of how crates work; see actual solution here: https://users.rust-lang.org/t/data-in-static-kernel-entry-point-argument-seems-corrupted/64465/21?u=visualdevelopment

[2021-09-09 19:51] #88749 closed

[2021-09-09 19:59] jruderman opened #88790 "Diagnostics with collect used as slice"
Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=44f921afbdb26969b236d654b5f8da01):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-09-09 20:12] nikic commented on #88767
This probably got broken by https://reviews.llvm.org/D100213. Expect intrinsics are now lowered before SROA.

[2021-09-09 20:13] camelid opened #88791 "Tracking Issue for RFC 3123: Scrape code examples from `examples/` directory for Rustdoc"
This is a tracking issue for the RFC "Scrape code examples from `examples/` directory for Rustdoc" (rust-lang/rfcs#3123).

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questi

[2021-09-09 20:22] GuillaumeGomez opened #88792 "Remove attribute for display_warnings"
From https://github.com/rust-lang/rust/pull/73314#discussion_r705469586.

[2021-09-09 20:27] pcwalton opened #88793 "Missing MIR optimization: Replace matches with loads if possible"
Many times, people write matches on enums that are really loads from a table. It'd be nice if we could codegen them as such.

Here's an example, at https://godbolt.org/z/4P9v61an7:

[code]

The codegen here has a lot to be desired:

[code]

Deriving Debug can cause poor codegen too: https://godbolt.org/z/xnexGxo8e

There's some discussion on Twitter from LLVM folks that suggests this would be best

[2021-09-09 20:59] JaydenElliott commented on #87181
Hi @inashivb, I think this one was a bit too difficult for me, so feel free to take it off of me!

[2021-09-09 21:00] glandium commented on #88793
It's worth noting that clang is doing better at equivalent C++ code. https://t.co/9HAYy2TI3E

[2021-09-09 21:05] Waridley commented on #80996
I'm also using `Bound` directly a lot in my code, but since *currently* all of the types I'm using it with are `Copy`, I'm always just replacing the `Bound` itself instead of mutating the inner value anyway. However, I could imagine a scenario where someone were to use `Bound<String>`, `Bound<Vec<u8>`, or some other large `[Partial]Ord + !Copy` type and `map_mut` could become useful. However, sinc

[2021-09-09 21:16] jackh726 commented on #88586
Wait really? Neat.

[2021-09-09 21:22] Noble-Mushtak commented on #88778
I tried making a more minimal example for this ICE and got it down to this (here's [the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8ecaff562eed2cd0feba4df0adcdd897)):
[code]

[2021-09-09 21:45] ehuss opened #88796 "Windows CI is borked"
Windows CI has stopped working due to an image update on GitHub's side.  The new image is [win19/20210907.4](https://github.com/actions/virtual-environments/releases/tag/win19%2F20210907.4) ([included software](https://github.com/actions/virtual-environments/blob/win19/20210907.4/images/win/Windows2019-Readme.md)). The previous image was [win19/20210903.7](https://github.com/actions/virtual-enviro

[2021-09-09 21:47] sunfishcode commented on #88564
#88794 adds `try_clone()` to `OwnedFd`.

On removing `BorrowFd`'s `Copy`+`Clone`: This went smoothly in a few codebases I tried, which suggests the change is feasible. Before I submit a PR though, I want to figure out `BorrowedFd::try_clone` first.

Should we add `BorrowedFd::try_clone`? It is safe&mdash. However, it's somewhat surprising; a typical "borrow" means access to the resource is statica

[2021-09-09 22:17] pcwalton commented on #88793
Wonder if this is a pass ordering issue then.

[2021-09-09 22:20] ehuss commented on #88796
@m-ou-se pointed out https://bugs.llvm.org/show_bug.cgi?id=51128 which seems relevant here.  That commit is included on our master branch, but not on beta.

cc @rust-lang/wg-llvm

[2021-09-09 22:21] ehuss commented on #88796
@rustbot ping windows

[2021-09-09 22:25] nikic commented on #88796
Our LLVM fork isn't used for the host compiler, I believe that would be what is installed in https://github.com/rust-lang/rust/blob/ac888e8675182c703c2cd097957878faf88dad94/src/ci/scripts/install-clang.sh#L39 for clang-cl. So that version would have to support the builtin.

[2021-09-09 22:33] pcwalton commented on #88793
There's LLVM code that already tries to do this. I guess it's not running on Rust for some reason? https://llvm.org/doxygen/SimplifyCFG_8cpp_source.html#l05786

[2021-09-09 22:43] sunfishcode commented on #88576
This is now implemented in https://github.com/rust-lang/rust/pull/88798.

[2021-09-09 22:55] pcwalton commented on #88793
I think I have an LLVM fix. Will post a patch upstream.

[2021-09-09 22:58] chris-morgan opened #88799 "“Fully qualified syntax” seems poorly defined or documented: Type::method is not nececssarily fully qualified"
The key question: is `Type::method()` or `<Type>::method()` *fully* qualified syntax?

[The book](https://doc.rust-lang.org/book/ch19-03-advanced-traits.html#fully-qualified-syntax-for-disambiguation-calling-methods-with-the-same-name) speaks of “fully qualified syntax” and treats the answer as “yes”, but chooses only examples where it has the effect of uniquely disambiguating.

[The grammar](http

[2021-09-09 23:14] jruderman opened #88800 "Improve diagnostics when accidentally making str instead of &str"
Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b7315a886856a6f0f0868bf2fce36b99):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

(and perhaps a bit less verbosity on the errors; #56607 will help)

[2021-09-09 23:41] mati865 commented on #58713
Opened https://github.com/rust-lang/rust/pull/88801 as proof of concept how this can be fixed for MinGW targets without using LLD or fixing BFD.
I'm a bit time limited right now so it will take some time to make it ready.

[2021-09-09 23:47] jruderman opened #88802 "Missing help when trying to enable stabilized library feature on stable"
Given the following [code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ecc8d91eb04ae1c75051db406627d0a1):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

(or it could be downgraded from error to warning)

#83722 fixed this for `#![feature(min_const_generics)]` but not for `#![feature(discriminant_value)]`, somehow

[2021-09-10 00:00] Amanieu commented on #72016
We're just about ready to start stabilizing a portion of `asm!`. However there are a few outstanding concerns:
- Some of the guarantees we provide for `asm!` are not exposed by GCC. In particular, GCC doesn't have an equivalent to LLVM's `alignstack` which ensures the stack is properly aligned for a function call and does not use the stack red zone.
- @Lokathor raised some concerns about the defau

[2021-09-10 00:21] jruderman opened #88803 "With over-parenthesized method call, E0615 suggests adding parentheses in the wrong place"
Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=702c89fffada54a39f90d2ad99dae4bb):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

But at least adding parentheses right next to the method name would be an improvement:

[code]

[2021-09-10 00:56] jruderman commented on #81883
Same as #63573?

[2021-09-10 01:41] bbulkow commented on #88753
"well, that's interesting"

re: philosophy of WSL, I still think it's reasonable, until windows really understands "containerized data", to have NTFS as my core file system, use editors in the Windows graphical environment on those files, and my different "containers" / command shells access the same store. When I do that, WSL1 is 10x faster than WSL2. Or at least was using the ESP-IDF toolchain (

[2021-09-10 01:42] jruderman opened #88806 "Incorrect disambiguation suggestion for associated function, when fully-qualified syntax is required"
Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=66bb6d6826b80c97eb647f663bd1bc55):

[code]

The current output is:

[code]

The disambiguation suggestion `Runner::speed()` does not work; it leads to a "cannot infer type" error (E0283). In this case, the suggestion should use the fully qualified syntax, specifying both the type and the trait, e.g.

[2021-09-10 02:12] thomcc commented on #86161
This API is unexpected useful for performance.

There are certain hash algorithms which can provide a (substantially) more efficient implementation if they know they aren't being used in a streaming scenario, and that they just need to hash a single input (such as a range of bytes).

xxHash is one of these — the streaming API is very much set up for the "hash a big file" use case, and has a large

[2021-09-10 03:01] jruderman opened #88809 "PartialOrd docs for generic tuples show the where clauses in a seemingly random order"
On https://doc.rust-lang.org/std/cmp/trait.PartialOrd.html:

The docs for PartialOrd on tuples show the `where` clauses in a weird order, obscuring the fact that the _last_ element of the tuple is allowed to be unsized.

[code]

[2021-09-10 03:29] inashivb commented on #87181
Thank you very much, @JaydenElliott ! I'm not sure if I'll be able to do it either but I'd like to give it a try. I hope you find a new issue to work on soon. :)

[2021-09-10 03:29] inashivb commented on #87181
@rustbot claim

[2021-09-10 03:49] smmalis37 commented on #67830
As of the latest nightly this still ICEs, but the stack has changed thanks to #85499 :
[code]

[2021-09-10 04:16] kpreid commented on #73150
I think this is the same as #70274 'Better diagnostics when calling "ouroboros method"'.

[2021-09-10 05:28] workingjubilee commented on #88753
...Alas!

Yes, since, at the moment, there seems to be no rustc issue _per se_, I am going to close this issue. Feel free to reopen it or open a new issue if more data comes in that can be addressed, er, at a level below the kernels in question. For what it is worth, the Linux 5.15 kernel will include a new, much more capable NTFS driver, which will be released sometime later this year, so you hav

[2021-09-10 05:28] #88753 closed

[2021-09-10 06:19] fee1-dead commented on #88383
Another example:
[code]
[play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=645c4742c171254db90943fc1dd1b916)

[2021-09-10 07:26] estebank commented on #70274
Another [repro](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ee0e09e9465822111539437917b7bb4e) from #73150:

[2021-09-10 07:26] #73150 closed

[2021-09-10 08:27] rylev commented on #88778
@rustbot claim

[2021-09-10 08:49] HKalbasi commented on #80094
@usbalbin can we get rid of `into_iter_fixed` and make `into_iter` return a fixed iterator (which is an iterator as well)?

[2021-09-10 08:49] hellow554 commented on #88778
@rustbot modify labels: I-ICE C-Bug T-compiler

[2021-09-10 08:57] estebank commented on #88583
Looking at the parser changes, I believe I can fix _all_ potentially problematic issues by gating the bare types to only be allowed in ADT field types and using the "parser snapshot" approach in all other cases (clone the parser, try to parse normally, if that fails try the alternate –bare union/struct– parse and if that succeeds, complain about it). Looking at the RFC, these were _only_ ever supp

[2021-09-10 09:48] Bauxitedev commented on #88778
@hellow554  I clicked the GitHub link rustc printed in my terminal (Alacritty) to report this issue, but the resulting issue body was blank, so I was under the impression I had to come up with a body myself. Apparently it stripped away the `&template=ice.md` part of the URL, which explains why 🤷

[2021-09-10 10:01] hellow554 commented on #88778
That seems to be "a problem" with alacritty. But I'm afraid there's nothing we could do here (apart from using a short domain... 🙄)
Anyway, thank you for reporting this! I really do much appreciate it.

[2021-09-10 10:09] crlf0710 commented on #38078
I'm not super convinced. I think it's reasonable to ask `rustc_resolve` to give an initial "associated item or variant" lookup or something.
If it's resolved without ambiguity, an error should not be emitted to the user.

This kind of resolution is easy victim to upstream associated item changes. However for ergonomics it might be worth it?

[2021-09-10 10:26] estebank commented on #88583
Opened https://github.com/rust-lang/rust/pull/88815 with more restrictive parsing, without reverting the changes already in stable.

[2021-09-10 11:23] soc commented on #62358
Looks stabilization is likely going to miss Rust 2021 edition.

[2021-09-10 11:51] m-ou-se commented on #88796
After @slurps-mad-rips, @ehuss and I tried a bunch of  things, we realized after about 13 attempts that the problem is that `clang-cl` doesn't react at all to `vcvars` nor does it (the version we have) have a flag for specifying the sdk version. It just always picks the latest.

So it seems like the only way to downgrade, is to uninstall sdk 20348.

Just `rm -rf`'ing the 20348 directory didn't wor

[2021-09-10 12:30] MabezDev opened #88817 "LLVM intrinsic emission is inconsistent"
Running the following snippet across a few different platforms (x86_64-unknown-linux-gnu, riscv32imc-esp-espidf) has varying results in the intrinsic's used in the llvm-ir output.
[code]

I would expect the llvm-ir for each target to have calls in llvm intrinsic's, because that's exactly whats in the function body of [`mul_add`](https://github.com/rust-lang/rust/blob/497ee321af3b8496eaccd7af7b437f

[2021-09-10 12:53] jruderman opened #88818 "Diagnostic for `impl for S` should also suggest syntax for inherit impl"
Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e169e7632715d73a4336e8286a8d0fb3):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Followup to #56031

[2021-09-10 13:02] kflansburg opened #88819 "E0277 UI Testing Normalization"
Moving from Rust 1.54.0 to 1.55.0, the output for E0277 appears to have changed to become more descriptive (🎉 yay!).

**Original**

[code]

**New**

[code]

Unfortunately, it does not look like UI testing normalization is being applied to the new output section. By my reading [here](https://rustc-dev-guide.rust-lang.org/tests/adding.html#output-normalization), all line numbers, column numbers, and

[2021-09-10 13:45] ehuss commented on #88819
Can you say more about what the context here is, or a precise reproduction?  Normalization is done for testing of rustc's output. There are two parts to the normalization, that done by rustc with the `-Zui-testing` flag (which is a nightly only), and the normalization done by compiletest. Grabbing the example code for E0277:

[code]

and running `rustc +nightly -Zui-testing foo.rs`:

[code]

Here

[2021-09-10 13:47] hlopko commented on #87934
Thank you all! I've started the MCP in https://github.com/rust-lang/compiler-team/issues/461 just to be sure. I'll upload a PR shortly.

@darbysauter I don't think `-Clink-arg=-pie` is enough to make your binary pie, you really need to compile all your objects as pie. Then the code will be relocatable, but it shouldn't need GOT or PLT - all locations will be resolved at link time. Maybe you can tr

[2021-09-10 13:59] sfanxiang commented on #43596
Looks like `panic`king on OOM will never correctly handle all OOM cases, because `panic` itself can OOM. What about throwing an object that does not require allocation? Instead of
[code]
we can do
[code]
This has the added benefit that the catcher can distinguish this from other panics (which usually are unrecoverable programming errors).

@alexcrichton @pnkfelix Would the Rust team be interested

[2021-09-10 14:04] hlopko commented on #87934
https://github.com/rust-lang/rust/pull/88820 is the prototype PR.

[2021-09-10 14:12] tspiteri commented on #85532
But unsigned overflow and signed overflow are different. For example, on x86_64, while unsigned and signed integers share addition and subtraction instructions, unsigned overflow is detected using the carry flag while signed overflow is detected using the overflow flag.

As a concrete example: `127i8 + 1` causes signed overflow but *not* unsigned overflow. So the carry flag should be false/0.

[2021-09-10 14:30] bjorn3 commented on #43596
`resume_unwind` doesn't exist for `#![no_std]`. In addition it doesn't actually print a panic message. For that you need `panic_any` which doesn't exist for `#![no_std]` either. `#![no_std]` only allows panicking with an `&str` or `core::fmt::Arguments`. It doesn't support arbitrary panic payloads.

[2021-09-10 14:33] kflansburg commented on #88819
Hey Eric, thanks for the response. We are using `compiletest`, our configuration is [here](https://github.com/krator-rs/krator/blob/main/krator/tests/ui.rs).

It sounds like this may be an issue then with `compiletest` normalization.

Do you think the best approach would be to switch to nightly for our UI tests and take advantage of `-Z ui-testing`? It doesn't seem right to me to expect `compilete

[2021-09-10 14:35] jyn514 commented on #88802
Hmm, this might be because it's a library feature and not a language feature?

[2021-09-10 14:37] jyn514 commented on #88802
Mentoring instructions: include library features in this check:
https://github.com/rust-lang/rust/blob/497ee321af3b8496eaccd7af7b437f18bab81abf/compiler/rustc_ast_passes/src/feature_gate.rs#L723

[2021-09-10 14:38] smoelius commented on #66079
Are there any outstanding issues regarding this feature?

What would it take to get it into the next stable Rust?

[2021-09-10 14:42] ehuss commented on #88819
Ah, yea, I don't think compiletest can handle all the normalization on its own.  `-Z ui-testing` will be required for the line numbers.

[2021-09-10 14:45] sfanxiang commented on #43596
I take it that `oom=panic` is for users with `std`? See rust-lang/rfcs#2116:

Global allocators and unwinding are `std`-only. If someday `no_std` gains unwinding support, we'll probably have `resume_unwind` for `no_std` as well.