[2017-05-11 11:36] ranma42 commented on #41908
Are you sure the time difference is mainly caused by the fact that `hypot` is not inlined?
I would expect it to have a more complex implemenation (and thus be slower) and to provide better accuracy than the naive `(x.powi(2) + y.powi(2)).sqrt()`.

What is the timing if you use the following implementation for hypot?
[code]

[2017-05-11 11:51] leonardo-m commented on #41908
Using myhypot with inline(never) the run-time is about 1.81 seconds, so the call is negligible. As you say the performance difference is probably in the higher robustness of hypot. Thank you and sorry for the noise...

[2017-05-11 11:51] #41908 closed

[2017-05-11 12:18] SimonSapin commented on #27730
I think that stabilizing APIs that have bounds on a trait without stabilizing that trait should not become a habit. It’s been done a couple times, and is maybe acceptable when we have yet to figure out some details of the trait before stabilizing it, but I don’t think we should do it if the trait does not have a path to stabilization at all.

[2017-05-11 12:49] Ericson2314 commented on #33417
@scottmcm's plan for using an empty enum sounds great to me.

[2017-05-11 13:02] Mark-Simulacrum commented on #31905
@mersinvald You shouldn't need to update cargo, so you can specify something like `RUSTC=build/x86_64-unknown-linux-gnu/stage1/bin/rustc cargo test`. You may need to change the triple (x86_64..), but it should be in the build directory. Let me know if something I've said doesn't work.

[2017-05-11 13:03] mersinvald commented on #31905
@Mark-Simulacrum do I need stage2 compiler or stageI will be enough?

[2017-05-11 13:06] Mark-Simulacrum commented on #31905
@mersinvald Stage 1 should be enough, but if it doesn't work, go with stage 2.. I'm not 100% sure when it's pulled in. `./x.py build --stage 1 src/libtest` should be sufficient, if stage 1, otherwise specify `--stage 2`.

[2017-05-11 13:31] cjhowe7 commented on #40787
I had the same issue with Cargo and `rust-gdb` on OS X; I code signed the `gdb` binary, and it works fine with `rust-lldb`. However, `lldb` isn't supported directly in Emacs, and I wanted to try using the `gud` debugger with Rust. Any ideas?

[2017-05-11 13:35] nikomatsakis commented on #41697
@dwrensha can you give more details of how you are reproducing the problem? (I added a test for the precise scenario reported, so I'm reasonably sure it's not that case anymore.)

[2017-05-11 13:37] nikomatsakis commented on #27336
@Gankro I think we're still sort of in need of a good survey of the space of ideas and a nice summary. That would be helpful.

[2017-05-11 13:37] dwrensha commented on #41697
[code]

[2017-05-11 13:44] mersinvald commented on #31905
@Mark-Simulacrum thanks for your help!
I couldn't run cargo test because of errors with compiler version incompatibility (is it OK that cargo uses my rustup rustc to build tests?):
[code]

But I managed to build tests binary with `cargo rustc -- --test` and it runs:
[code]

[2017-05-11 13:48] nikomatsakis commented on #29634
I see. I don't think any of them are stable, but not sure off the top of my head.

[2017-05-11 14:04] nikomatsakis commented on #41849
Hmm. So the problem is, more specifically, due to the fact that I removed the hacky "variance-computed-yet?" flag. The proper fix is for equality relations to ignore variance, I think. PR coming up. Thanks @Mark-Simulacrum for that handy tool btw!

[2017-05-11 14:19] oyvindln commented on #41160
So I tried to look into this with my limited knowledge of the compiler internals, both with the clone function from the first post in this issue, and a simple test function that simply returns a boxed array:

https://gist.github.com/oyvindln/bda3c6efb9c428c8bcf12acee8f3f223

Using `-Z mir-opt-level=3`, which enables mir inlining does seem to get rid of one memcpy call with my simplified test code,

[2017-05-11 14:35] nikomatsakis commented on #41884
@jonas-schievink presumably we could gracefully fall back to the current solution of "really big stack", and encourage lower tiers to extend stacker.

[2017-05-11 14:38] nikomatsakis commented on #41697
Hmm, perhaps my regression test wasn't sufficient. I see I used `-Zdump-mir=NEVER_MATCHED`; I remember that the test did fail, but I guess that it passing doesn't prove all issues are resolved. =)

[2017-05-11 14:59] nikomatsakis commented on #41849
Fix in #41913

[2017-05-11 15:05] Ericson2314 commented on #29634
Thanks. I suppose at least the lang item definitely wouldn't be.

[2017-05-11 15:07] nikomatsakis commented on #41620
Let me unpack this a bit to be sure I understand. You're saying:

1. Currently, the idea for const generics equality would have been to use the same `#[structural_equality]` attribute to denote types that are "structurally comparable for equality".
2. But if we want we could have distinct attributes for the match system and for const generics.

Right?

(That said, it's not entirely clear to me why

[2017-05-11 15:45] citizen428 commented on #29370
@steveklabnik Trying to get involved in this. Before I open a PR, could you give this a once-over please, it's my first contribution to Rust and Rust docs:

https://github.com/citizen428/rust/commit/43898b8b30a2ac04612e3aed1f582b15392443c3

Also I'm not entirely sure what "should link to status" means, can you clarify please?

[2017-05-11 15:57] oyvindln commented on #41160
A workaround for this issue, while box syntax is still unstable, would be for the compiler to special case Box::new(x) to box x. This may also have some use to avoid stack overflows with large boxed values for non-optimised builds.

[2017-05-11 17:23] seanmonstar commented on #35943
Bumped into this trying to make reqwest's error type a struct instead of an enum, with the idea that people could downcast the `cause`. The idea seemed like the perfect way to allow backwards compatible changes of additional internal variants, while still allowing users to inspect what happened.

[2017-05-11 18:10] SimonSapin commented on #27783
The compiler depends on crates from crates.io. Does `std`? Should it?

[2017-05-11 18:13] alexcrichton commented on #41884
Ah yeah only i686/x86_64 are supported, but that's just because of the [assembly routines](https://github.com/alexcrichton/stacker/tree/master/src/arch), which should hopefully be very easy to port to new platforms! (they're [quite small](https://github.com/alexcrichton/stacker/blob/master/src/arch/i686.S)).

I think @nikomatsakis has a good point though that we'd just want to disable it on non-su

[2017-05-11 18:13] SimonSapin commented on #35428
@nvzqz Is this chess board type used in a generic context? If not you can make an inherent `is_empty` method, no need for a standard library trait.

[2017-05-11 18:17] clarcharr commented on #35428
IMHO `is_empty` cases are much better covered by `peek` than any generic trait. I'd rather just have this trait have an `is_empty` method.

If people want to have more generality they can use the `len-trait` crate I mentioned earlier. Based upon this discussion I did split out `Empty` and `Len` in that crate because it's for more niche cases.

[2017-05-11 18:28] withoutboats commented on #41620
@nikomatsakis the issue here isn't with unevaluable const expressions but with floating point numbers and other types for which equality is not reflexive because of how that would impact unification. We don't *need* an attribute but it does seem that we do need const values to have a guaranteed reflexive definition of equality (which is why just using `PartialEq` seems problematic for consts).

[2017-05-11 18:33] SimonSapin commented on #35118
Is that ever useful? Can we disallow it, if it’s buggy?

[2017-05-11 18:37] SimonSapin commented on #10184
At some point we changed `+` to panic (on debug mode). I wouldn’t be shocked to see `as` panic in cases that were previously UB.

[2017-05-11 18:37] cuviper commented on #35118
Perhaps `repr128` can be a separate unstable feature.

[2017-05-11 18:38] SimonSapin commented on #31436
Closures interfere for flow control statements. (`break`, `continue`, `return`)

[2017-05-11 18:41] jonhoo commented on #27800
As a separate suggestion, the eventual `select` interface should also have a `try_recv()` equivalent, as well as a `recv_timeout()`. I currently call `try_recv()` manually on each channel a couple of times before calling `wait()` to avoid incurring a thread sleep/wakup cycle, and being able to instead call `try_recv` directly on the `Select` would be much better.

[2017-05-11 18:43] alexcrichton commented on #35729
@jonhoo oh mean basically just copy/pasting the trait in libstd into your own crate. You wouldn't call `<[T]>::get`, you'd call the local trait's method. Again, good for library consumer ergonomics, bad for library developer ergonomics and generics

[2017-05-11 18:48] clarcharr commented on #35118
I personally like the idea of keeping `repr(i128)` under a feature gate and pushing the discussion to after i128 is stabilised. Crates like `syn` and perhaps various `serde` implementations could benefit from stable i128.

[2017-05-11 18:55] nikomatsakis commented on #34955
@Mark-Simulacrum a reasonable request, but I'm not quite sure what needs to be done, to be honest. I'll have to review the current status of the code. I can't remember where we left this in the end. It may even have been done already.

[2017-05-11 19:09] clarcharr commented on #40380
Hey @rust-lang/libs, is there a way we could get this on track for stabilisation? This is necessary to make some `serde` impls safe on stable.

[2017-05-11 19:24] dwrensha commented on #41888
@nagisa's program reproduces the problem on rustc stable `1.12.1`, but not on `1.11.0`, suggesting that the problem was introduced when rustc switched to MIR.

[2017-05-11 19:32] cengizIO commented on #32665
Hello again @Mark-Simulacrum,

I couldn't help myself and I've implemented this for *nix systems. I can send a PR whenever I solve the Windows part.

[2017-05-11 19:45] ehiggs commented on #41883
I took a stab at fixing this:

[code]

But I can't rebuild rustc because:

[code]

[2017-05-11 19:50] nikomatsakis commented on #41255
@SimonSapin

[Yes.](https://github.com/rust-lang/rust/pull/41293#issuecomment-294199123)

Do you mean "this would break servo if it became a hard error"? (But we should take it to #41620 in any case.)

[2017-05-11 19:52] #41849 closed

[2017-05-11 19:57] SimonSapin commented on #41255
Yes, I think this particular crate has `#![deny(warnings)]`.

[2017-05-11 20:12] nikomatsakis commented on #41803
@jseyfried -- any progress? should somebody else take a look?

[2017-05-11 20:18] nikomatsakis commented on #41744
Seems like the right fix is just to skip the call to truncate if the thing is already boolean. @eddyb will take it.

[2017-05-11 20:25] nikomatsakis commented on #41888
triage: P-high

Looks bad. @nagisa did an [admirable job reducing](https://github.com/rust-lang/rust/issues/41888#issuecomment-300733182). Hopefully that's indeed the same problem. :)

[2017-05-11 20:29] nikomatsakis commented on #41776
triage: P-high

Assigning to @jseyfried, hopefully they have some time to investigate!

[2017-05-11 20:34] nikomatsakis commented on #41723
It seems to me that `_` should be considered part of the number. So I would expect `10._f64` to work, indeed, just as `10.2_f64` or `2_f64` works.

@arielb1 points out that `"a"_` is also accepted, which seems like a bug.

Basically, I do not expect a suffix to begin with `_`, I think, but I do expect `_` to be allowed in numeric literals anywhere (including the end).

[2017-05-11 20:36] nikomatsakis commented on #41723
Shifting nomination to T-lang for now.

[2017-05-11 20:45] newpavlov commented on #41894
Citing [doener](https://www.reddit.com/r/rust/comments/6ae7a2/moving_function_into_a_separate_crate_results_in/dhf0paj/):

[2017-05-11 20:51] nikomatsakis commented on #36799
We discussed in the meeting. It's frustrating that peak memory usage creeped up here. We are considering the "proper fix", which would basically detect the fact that this is a massive constant and try to create a byte-array instead of MIR instructions. There is some debate as to the best way to do this (something relatively special-cased? or can we "execute with miri as we go"?). We'd also need to

[2017-05-11 20:51] nikomatsakis commented on #36799
triage: P-high

[2017-05-11 21:01] nikomatsakis commented on #34421
So this part of the (previous) stable message:

feels like a bug to me anyhow.

This part:

is sort of good. It'd be nice to preserve a backtrace, at least. And ideally we'd suggest adding a `;`.

[2017-05-11 21:02] nikomatsakis commented on #34421
Given how much time has past, we're going to call this P-medium for now. However, @jseyfried will try to write up some mentoring instructions (or maybe fix it). He has a plan. =)

triage: P-medium

[2017-05-11 21:03] eddyb commented on #36799
I think what I'd do is:
* identify **HIR** subexpressions that we may turn into a byte buffer (very limited subset)
* use **HAIR** to turn those subexpressions, one leaf at a time, into **miri** values
* write the leaves into a **miri** allocation in their appropriate locations

[2017-05-11 21:07] clarcharr opened #41922 "Debug printing of combining characters is wrong"
Minimal example:

[code]

[(playground link)](https://is.gd/MVseMd)

Expected output is either:

[code]

Or:

[code]

Actual output:

[code]

Note that the combining accent prints over the single quote. This is confusing and shouldn't happen.

[2017-05-11 21:12] clarcharr commented on #41922
cc @tbu- who made the change to debug printing and @alexchrichton who approved it

[2017-05-11 21:22] aturon commented on #21507
@rust-lang/libs, thoughts on stabilization?

[2017-05-11 21:28] jonhoo opened #41924 "Debug impl for HashMap::keys should not require values to be Debug"
#39002 landed `Debug` implementations for a number of derived types in collections, but imposes overly strict requirements. For example, for [`std::collections::hash_map::Keys`](https://doc.rust-lang.org/std/collections/hash_map/struct.Keys.html):
[code]
Given that only the keys are printed, we should only require `K: Debug`, not *also* `V: Debug` (unless I'm mistaken?).

[2017-05-11 21:30] Mark-Simulacrum commented on #34955
Sure. Just trying to make these more accessible to incoming contributors; don't worry too much about it if it's hard, though it would be nice to assess this at some point so we don't have an indeterminate issue hanging around :).

[2017-05-11 21:36] aturon commented on #39817
Now that the outstanding bugs have been resolved, this feature is ready at least for consideration for stabilization.

@rfcbot fcp merge

[2017-05-11 21:40] joshtriplett commented on #41723
The language team discussed this in today's meeting.  We also considered cases like `42.method_on_numbers()`, or `42._method_on_numbers()`, both of which ought to be parsed as methods.  The conclusion we came to was that it's ambiguous (for our mental lexers if nothing else) to allow a trailing underscore on a floating-point literal immediately following a `.` with no subsequent digits.  Parsing `

[2017-05-11 21:44] nikomatsakis commented on #29646
After some discussion, I feel reasonably good about putting this into FCP for stabilization, but I would feel better if we could assemble:

- A list of known shortcomings, linked to from the top of this bug
- Clear links to the tests (ideally, centralized or tagged in some way) showing all the things that work as expected (or don't, as the case may be)

@withoutboats has promised to do some of thi

[2017-05-11 21:57] tbu- commented on #41922
Python seems to do the same thing.
[code]

[2017-05-11 21:59] tbu- commented on #41922
@clarcharr That is, do you know some implementation we could copy?

[2017-05-11 22:01] alexcrichton commented on #21507
@aturon some might say you could even canvas opinions through...

@rfcbot fcp merge

[2017-05-11 22:02] alexcrichton commented on #40380
Sure yeah, let's see what others think:

@rfcbot fcp merge

[2017-05-11 22:03] alexcrichton commented on #40893
@rfcbot fcp merge

Seems like a nifty feature to stabilize!

[2017-05-11 22:03] alexcrichton commented on #40421
@rfcbot fcp merge

[2017-05-11 22:03] eddyb commented on #29646
Just so I don't forget, this doesn't work right now ([playpen](https://play.rust-lang.org/?gist=5a332ddf940e55c4f8a3f9be157857c2&version=nightly&backtrace=1)):
[code]
IIRC on the branch I started working towards `[T; T::N]` fixes this, I'll extract that into a PR.

[2017-05-11 22:04] alexcrichton commented on #38526
@rfcbot fcp merge

[2017-05-11 22:21] clarcharr commented on #41922
@tbu- not that I can think of; the current way seems wrong, though. Perhaps we could just check if a character is within the combining character range?

[2017-05-11 22:28] joshtriplett opened #41925 "book: no-stdlib example doesn't need to use no_mangle for lang items"
The examples in https://doc.rust-lang.org/book/no-stdlib.html use no_mangle for all of the items; however, some discussion on IRC suggested that the language items (everything other than the start symbol) don't actually need no_mangle.  Could we simplify the example to use only the minimal directives and unstable features required?

That'll also help to evaluate what features would need to be stab

[2017-05-11 22:32] Mark-Simulacrum commented on #32665
Sounds good!

[2017-05-11 22:40] clarcharr commented on #41922
Also got some help on Twitter for this:

https://twitter.com/FakeUnicode/status/862798986238873601

[2017-05-11 22:40] alexcrichton commented on #41797
cc @jmatraszek, sorry to tag you in again, but if you could help take a look at this that'd be great! If not no worries!

[2017-05-11 22:43] alexcrichton commented on #41607
@vadimcn would you be willing to work on the changes to the `gcc` crate? I unfortunately probably don't have the time to do that depth of a change right now, and I'm afraid of leaking this regression in favor of an open bug.

[2017-05-11 22:54] Mark-Simulacrum commented on #35706
@eddyb Have you had a chance to look into this?

[2017-05-11 22:57] Mark-Simulacrum commented on #35763
This works today. I believe that `src/test/ui/codemap_tests/overlapping_inherent_impls.rs` tests  this, so closing.

[code]

[2017-05-11 22:57] #35763 closed

[2017-05-11 23:05] Mark-Simulacrum commented on #35673
rust-lang/libc#361 is still open. As I understand it, this specific issue isn't tracking more than "build binary releases of std" which isn't something we currently want to track as far as I know, so I'm going to close this issue. If people are interested, please ask on internals.rust-lang.org for instructions on how to add a platform to Rust's standard builds.

[2017-05-11 23:05] #35673 closed

[2017-05-11 23:07] Mark-Simulacrum commented on #35813
This is still lacking a tailored error message, and as far as I know no movement has been made here.

[2017-05-11 23:09] Mark-Simulacrum commented on #19601
Marking as E-neestest to permit closing this.

[2017-05-11 23:10] Mark-Simulacrum commented on #19601
Also going to unassign @nikomatsakis since I don't think they need to do actively do anything on this issue.

[2017-05-11 23:19] Mark-Simulacrum commented on #35816
So I think there isn't a bug here, and it's certainly not a rust-lang/rust bug. If you're still interested, please file an issue over at rust-lang/cargo. Thanks!

[2017-05-11 23:19] #35816 closed

[2017-05-11 23:20] nvzqz commented on #35428
@SimonSapin While it currently isn't used internally in a generic context, I would like it so that an outside user can use the `Bitboard` as a generic iterator with an `is_empty()` method.

[2017-05-11 23:24] Mark-Simulacrum commented on #35838
I'm seeing the below output from ltrace. It looks like this is mostly fixed, since I don't think there's really anything we can do to not realloc the CString into 15 bytes. Please reopen if that's the wrong interpretation, though.

[code]

[2017-05-11 23:32] Mark-Simulacrum commented on #35886
Marking as E-easy and E-mentor. @durka's fix (adding `self.level == Level::Error`) seems to be still correct, but needs to be added around this line: https://github.com/rust-lang/rust/blob/e40beb3af162e676e40704854dd6547ee8d4cf60/src/librustc_errors/diagnostic_builder.rs#L102.

Let me know if you'd like to do this, and please ask if you have any questions. If you file a PR, please cc or r? me on i

[2017-05-11 23:35] dtolnay commented on #40893
I think a wrapper type makes sense by analogy with [`std::num::Wrapping`](https://doc.rust-lang.org/std/num/struct.Wrapping.html). :+1:

Elsewhere in std we call this "rev" instead of "reverse". :-1:

- [`Iterator::rev`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.rev)
- [`std::iter::Rev`](https://doc.rust-lang.org/std/iter/struct.Rev.html)

I see the `iter` module mentioned in t

[2017-05-11 23:43] BurntSushi commented on #40893
@dtolnay Slices have a [`reverse`](https://doc.rust-lang.org/std/primitive.slice.html#method.reverse) method. :-)

[2017-05-11 23:49] dtolnay commented on #40893
Well shucks.

Comparing by conceptual similarity, I think this feature has more in common with `std::iter::Rev` than with slice `reverse`. They mean "don't do anything, but the next thing I ask you to do, do it backwards."

FWIW I think `Reverse` is a better name.

[2017-05-11 23:55] dtolnay commented on #40380
So far I have only looked at `CString::as_c_str`, will look at the other ones next.

It looks like the implementation could be simpler:

[code]

This is what [`String::as_str`](https://github.com/rust-lang/rust/blob/1.17.0/src/libcollections/string.rs#L795-L797) does.

Also I noticed there is `String::as_mut_str` but not `CString::as_mut_c_str`. Any reason or are we just punting that to a future c

[2017-05-12 00:06] BurntSushi commented on #40893
Me too. Given we already have the inconsistency, I think that pushes me toward `Reverse`.

[2017-05-12 00:10] Mark-Simulacrum commented on #35499
Can someone give an update here? Should we change mirbug to ICE? It seems reasonable...

[2017-05-12 00:13] wesleywiser opened #41928 ""Expected type, found {x}" message could be more helpful"
I mistyped a `;` as a `:` because it was following a `)` which requires holding the shift key on American keyboards. It would be nice if the error message mentioned *why* it was expecting a type.

Sample code:

[code]

Current error:
[code]

It would be nice if it said something like this:
[code]

[2017-05-12 00:17] Mark-Simulacrum commented on #35902
Has anything happened here? I don't think so, but perhaps an update would be good.

[2017-05-12 00:17] clarcharr commented on #40380
I personally use it a lot via map, e.g. `iterator.map(String::as_str)`. It also helps with type inference because `as_ref` is ambiguous and `as_str` is not.

There's no `as_mut_c_str` currently because there are no methods for `&mut CStr` and currently no way to construct one outside transmuting one out of thin air. I think that this should be saved for the future when we actually have a need for

[2017-05-12 00:18] clarcharr commented on #35428
As I said, you can easily implement `is_empty` for any iterator with `peekable().peek().is_none()`

[2017-05-12 00:21] dtolnay commented on #40893
With a clean slate, would we call them `Iterator::reverse` and `std::iter::Reverse`?

- If so, is there somewhere we should be tracking this so that when the AI overlords invent a way to version std, they can follow up?
- If not, is there any way to rationalize the difference?

[2017-05-12 00:24] Mark-Simulacrum commented on #33928
It looks like everything was resolved here, so I'm going to close, but please do let us know if that's incorrect and we'll reopen.

[2017-05-12 00:24] #33928 closed

[2017-05-12 00:25] Mark-Simulacrum commented on #32723
I don't think we have a bison grammar in-tree anymore... @nikomatsakis @steveklabnik @alexcrichton Do you know of the current state of the in-tree grammar? Do we want to show nightly-only things in the grammar?

[2017-05-12 00:33] Mark-Simulacrum commented on #25814
@edunham Did you have a chance to send out revocation certs?

[2017-05-12 00:35] wdv4758h commented on #35543
sure, I can work on this :)

[2017-05-12 00:36] Mark-Simulacrum commented on #35543
Go ahead! Please cc me on the PR when you create it, and let us know if you need any help; leaving a comment here works, or you can find help on IRC (#rust-internals on irc.mozilla.org).

[2017-05-12 00:38] dtolnay commented on #40380
This was in the insta-stable part of #40009 but [this impl](https://github.com/rust-lang/rust/blob/e40beb3af162e676e40704854dd6547ee8d4cf60/src/libstd/ffi/os_str.rs#L533) has a stray lifetime that should be removed.

The attribute on that impl says `since = "1.17.0"` but from what I can tell it was not in 1.17.0. Where in the process do those get updated to the right version? Is that something we

[2017-05-12 00:44] Mark-Simulacrum commented on #25872
Linux, macOS, Bitrig, Dragonfly, FreeBSD, Solaris, NetBSD (but not vendor = rumprun), and OpenBSD currently have the impl enabled. It seems that only Android and iOS are left to be enabled here, so removing the A- tags that are non-relevant any more.

[2017-05-12 00:45] Mark-Simulacrum commented on #19698
I think this may be somewhat done now, as we build artifacts for each PR. However, I'm not sure, so cc @brson @alexcrichton

[2017-05-12 00:48] Mark-Simulacrum commented on #32533
This feels like a rustup issue, then? Can someone comment on whether this should be refiled onto rustup's repo?

[2017-05-12 00:50] Mark-Simulacrum commented on #15728
Since, for example, [`select!`](https://doc.rust-lang.org/nightly/std/macro.select.html) is unstable, I think this is at least partially fixed. I think that the second item on the list isn't done, but I'm also not entirely sure what it means.

[2017-05-12 00:56] dtolnay commented on #21507
BTreeMap wants to know whether we could get an impl Ord for ThreadId. Are there any reasons not to have one?

[2017-05-12 01:01] retep998 commented on #40246
This should remain open until the version of gcc and cmake that Rust itself uses are updated.

[2017-05-12 01:03] Mark-Simulacrum commented on #18439
File that is mentioned isn't empty. I think that this should be a relatively easy thing to implement. In [`src/tools/tidy/src/style.rs`](https://github.com/rust-lang/rust/blob/e40beb3af162e676e40704854dd6547ee8d4cf60/src/tools/tidy/src/style.rs), a check that `contents` are not empty should be added [here](https://github.com/rust-lang/rust/blob/e40beb3af162e676e40704854dd6547ee8d4cf60/src/tools/ti

[2017-05-12 01:05] Mark-Simulacrum commented on #27694
@brson I don't think this has been solved for either macOS or Windows. Could you give an update on this?

[2017-05-12 01:07] dtolnay commented on #38526
@rfcbot reviewed

[2017-05-12 01:10] vi opened #41931 "ICE: LLVM: Assertion `Val && "isa<> used on a null pointer"' failed."
https://is.gd/EagxiT

[code]

[code]

[2017-05-12 01:10] dtolnay commented on #40421
@rfcbot reviewed

[2017-05-12 01:11] nrc commented on #35896
In general I'm opposed to blurring the lines between current macros and new macros. The 'good enough' argument is part of this - I fear that at some point macros 1.0 gets good enough that there is push back against further changes (I don't believe we can simply deprecate if the community doesn't want it). To some extent I think the macros 2.0 changes are a mixture of sugar and medicine - if we add

[2017-05-12 01:13] SpaceManiac commented on #41931
Here's a shorter repro:
[code]

[2017-05-12 01:16] ForsakenHarmony commented on #35706
yup, I still have a problem with this

https://github.com/ForsakenHarmony/bfasm/blob/master/src/parser/ops.rs#L24-L30

this causes the stack overflow for me

[2017-05-12 01:22] cuviper commented on #21507
`Ord` is uncomfortable to me. For instance, people might observe that the IDs sort in order of creation, but do we want to promise that?

[2017-05-12 01:28] nagisa commented on #41931
[code]

[2017-05-12 02:11] jsgf commented on #40640
In my case I want to use a trait's associated types, so the type bound is unavoidable:
[code]

For this use the message is pure noise.

And as @Kixunil mentioned: it looks like the bound is enforced:
[code]

fails to compile with:
[code]

[2017-05-12 03:34] frewsxcv opened #41933 "Clicking on rustdoc sidebar item results in 'undefined' page"
https://doc.rust-lang.org/nightly/std/index.html

Click on 'Primitive Types' in the sidebar

[2017-05-12 03:34] frewsxcv commented on #41933
cc @GuillaumeGomez

[2017-05-12 05:39] eddyb commented on #35706
It slipped through the cracks, oops. cc @aturon

[2017-05-12 05:57] kennytm commented on #35706
The stack:

[code]

[2017-05-12 06:13] Ameobea commented on #41182
Getting this myself in multiple situations when returning references as items.

[2017-05-12 06:55] nodakai commented on #39838
Does the fix #41877 work for you?

[2017-05-12 07:08] iKevinY commented on #18439
I should be able to pick up this issue again.

[2017-05-12 07:33] #41677 closed

[2017-05-12 08:00] vadimcn commented on #41607
Sure I'll take a look.  I hope we can get away with hardcoding default libs per-target, or some such.

[2017-05-12 08:09] eddyb commented on #35706
@nikomatsakis Do you have suggestions about proceeding? How is the equivalent problem with trait associated types solved?

[2017-05-12 08:13] amboar commented on #39838
@nodakai I'll test as soon as I get an opportunity. Thanks for the prompt!

[2017-05-12 08:14] qnighy commented on #41723
I'll try to write a patch for this issue.

[2017-05-12 08:17] glandium commented on #35838
The Vec could be initialized to its final size, which is known in advance (length of the &'static str + 1)

[2017-05-12 08:32] nikomatsakis commented on #41723
I would think not, at least for numbers, given that it results in an error. Not sure about `""_`, which... apparently parses but does not error? (When do we ever support suffixes on strings, besides `#`?)

[2017-05-12 08:33] egonelbre commented on #25229
_note: I'm not quite sure how straightforwardly it applies to Rust because of LLVM, but anyways..._

Similar .debug_gdb_scripts issue has been identified as a bug in GNU linker (https://sourceware.org/bugzilla/show_bug.cgi?id=21459).

As a workaround (by Nick Clifton) a linker script can be provided to `gcc` or `ld`:

[code]

To use with gcc, run `gcc -Wl,-T,fix-debug-gdb-scripts.ld`. Or when usin

[2017-05-12 08:59] thepowersgang opened #41936 "Unsupported cyclic reference when implementing CoerceUnsized for pointer to wrapper"
Encountered when forward-porting my kernel to latest nightly.

Implementing `CoerceUnsized` on a type that wraps a pointer to a wrapping type errors when there is also a struct that wraps an array in the same crate.

[code]

[code]

Playground version
https://play.rust-lang.org/?gist=854452b1dea1fc197d3bd9d6b1848eed&version=nightly&backtrace=0

[2017-05-12 09:04] GuillaumeGomez commented on #41933
Will fix in a few hours.

[2017-05-12 09:05] eddyb commented on #41936
This might be fixed by #41913, do you know if the latest nightly contains it?

[2017-05-12 09:11] thepowersgang commented on #41936
Present in latest nightly on playpen, `rustc 1.19.0-nightly (978d2cfee 2017-05-10)`, also in current nightly - `rustc 1.19.0-nightly (e40beb3af 2017-05-11)`

[2017-05-12 09:11] kennytm commented on #41936
Still repro.

<details><summary>Error message, same as OP's</summary>

[code]

</details>

[code]

[2017-05-12 09:15] da-x commented on #36542
`b` is an _immutable reference_ to a mutable u64, so it is really immutable as the error suggests. Nothing wrong there so far. The suggesting to add `mut` does indeed fix the compilation error.

We can elaborate with an extended example:

[code]

However to improve the error message, I don't know how the compiler would correctly do the intelligent guess on whether you really wanted a mutable refer

[2017-05-12 09:29] BartMassey commented on #35136
That would be great!

[2017-05-12 09:35] oli-obk commented on #41893
It's not related to const eval apparently, because

[code]

produces

[code]

as expected. I assume it has something to do with the emitter itself.

[2017-05-12 09:50] tommyip commented on #35886
I would like to take this issue.

[2017-05-12 09:54] michaelwoerister commented on #25229
Interesting. Thanks for the info, @egonelbre!

[2017-05-12 09:58] michaelwoerister commented on #35902
Well, generic functions are not treated as inline functions by default. Otherwise the status is the same. ThinLTO might open up some interesting opportunities here, since it potentially decouples runtime performance from CGU granularity.

[2017-05-12 10:01] arielb1 commented on #35499
This is already done.

[2017-05-12 10:01] #35499 closed

[2017-05-12 10:05] eddyb commented on #41898
On second thought, this is quite annoying because of the `const fn` call, which requires either duplicating `const fn` supporting in pattern expansion or driving the latter from const-eval which means expanding const-eval by quite a lot. I'd rather work on bringing miri in instead.

[2017-05-12 10:13] SimonSapin commented on #41898
As discussed on IRC, fixing this would probably enable using `NonZero` in `string_cache::Atom`. Which would be nice to have, but we’ve been living for years without it so far so I don’t mind waiting for miri :)

[2017-05-12 10:43] #37406 closed

[2017-05-12 10:55] fflorent commented on #24827
@Mark-Simulacrum I encounter the same issue. AFAICT, it doesn't compile (or I may miss something) :
https://is.gd/in63jf

Florent

[2017-05-12 10:59] eddyb opened #41938 "Lifetime scope note messages have off-by-one column numbers."
The [`explain_span`](https://github.com/rust-lang/rust/blob/e19ccb71c8427135a69d874623af68422aeeb9e9/src/librustc/infer/error_reporting/mod.rs#L116) function used for them doesn't convert `lo.col` to be 1-based.

Noticed because in #41914 some messages ended up looking like this:
[code]

[2017-05-12 11:00] ranma42 commented on #35428
@clarcharr `peek` can cause side-effects (as suggested by `mut`), while `len` and `is_empty` are pure.

[2017-05-12 11:01] est31 commented on #40108
Hmm, is this really [the officially endorsed way](https://github.com/rust-lang/rust#building-from-source) of building rust?

[2017-05-12 11:02] nikomatsakis commented on #36799
@eddyb that sounds like what I had in mind as well

[2017-05-12 11:05] JoeyAcc commented on #29646
It wasn't entirely obvious to me what would happen, so I also just tried using `Foo` rather than `Self`, like so:

[code]

The result in the playpen is the same as if `Self` had been used.

[2017-05-12 11:08] eddyb commented on #29646
@JoeyAcc I don't see how that's possible. I get:
[code]

[2017-05-12 11:39] SimonSapin opened #41941 "Cannot add an exception to #[deny(lint group)] with #[warn(specific lint)]"
Test case:

[code]

Expected result: compiles with a warning.

Actual result with rustc 1.19.0-nightly (978d2cfee 2017-05-10): hard error:

[code]

Note that `allow` *can* add an exception, but of course it makes the warning not be shown at all:

[code]

Context: I wanted to use this to unblock compiling Servo without completely hiding the problem under a metaphorical carpet.

[2017-05-12 11:57] JoeyAcc commented on #29646
Ah yes I see. It fails with a completely different error, and that fact slipped by me.
Oops, carry on :)

[2017-05-12 12:35] xfix opened #41944 "Rust 1.18 ICE regression: assertion failed: !unsize (nightly regression #41604)"
When compiling image with beta, the following error happens.

[code]

This was reported in nightly as #41604 and fixed in nightly. Reported by https://users.rust-lang.org/t/how-to-report-problems-with-rust-beta/10759?u=xfix.

[2017-05-12 12:35] Nemo157 commented on #41604
This bug appears to have made it into the latest beta (`rustc 1.18.0-beta.2 (f4e8e81c3 2017-05-11)`) according to [this post on u.rl.o](https://users.rust-lang.org/t/how-to-report-problems-with-rust-beta/10759) which links to [this build log](https://travis-ci.org/wahn/rs_pbrt/jobs/231521694).

[2017-05-12 12:45] eddyb commented on #41604
That's why #41651 is nominated for backporting to beta.

[2017-05-12 12:45] Mark-Simulacrum commented on #24827
Hm, yeah, you're right. Not sure what I tested. Unmarking E-needstest.

[2017-05-12 12:52] Mark-Simulacrum commented on #35838
I'm fairly certain that there's little to nothing we can do about it, just an LLVM optimization. `CString::new` can't really do much to improve the situation here; the only potential thing would be to inline the method it calls (`CString::_new`), but that's presumably intentionally *not* inlined.

[2017-05-12 13:27] nikomatsakis opened #41948 "UI test output should be `patch` compatible"
@eddyb made the good point that it'd be nice if the diff produced by UI tests were something one could easily feed into `patch`. Also, the role of `-` as "expected" and `+` as "actual" is correct, but the ordering is backwards from what diff uses. It'd be nice to change the call to diff so that instead of doing `diff_lines(actual, expected)` it did `diff_lines(expected, actual)` (and then making "

[2017-05-12 13:28] qnighy opened #41949 "`:vis` matcher can't parse EOF"
# Observed behavior

The code below leads to parse error in `rustc 1.19.0-nightly (e40beb3af 2017-05-11)`.

[code]

# Expected behavior

`foo!()` is expanded correctly.

[2017-05-12 13:30] est31 commented on #41022
cc #41949

[2017-05-12 13:43] ollie27 commented on #35838
We should be able to use specialization, as mentioned https://github.com/rust-lang/rust/pull/35871#issuecomment-241254030 to remove the realloc for `&str` and `&[u8]`.

[2017-05-12 13:57] japaric opened #41952 "rust-src component is incomplete in recent nightlies"
The component is missing compiler-rt, jemalloc and other git submodules required to compile the `std` crate. This broke Xargo's use case of cross compiling the `std` crate.

Affected version: `nightly-2017-05-04` and newer

### Workaround

Switch to an older nightly version:

Known good version: `nightly-2017-04-27` (still bisecting)

cc @brson @alexcrichton Do you know of any changes that may hav

[2017-05-12 14:03] alexcrichton commented on #41952
cc @cuviper, maybe related to https://github.com/rust-lang/rust/pull/41546?

[2017-05-12 14:33] jmatraszek commented on #41797
Hi @alexcrichton, this definitely looks related to my changes in cargo.

I've investigated `crates-io-cli-rs` and this crate defines two bins (`crates` and `krates`). I suppose they were intended to be aliases and this was possible because of a original "bug" in cargo (falling back to main.rs). I have mixed feelings about this. I would say that cargo should fail here instead of falling back to `ma

[2017-05-12 15:24] alexcrichton commented on #19698
Yes it'd still be great to test this!

[2017-05-12 15:26] durka commented on #32533
I was the only one who mentioned rustup. The issue is about the makefiles, but those are gone. It doesn't look like bootstrap invokes sudo at all.

[2017-05-12 15:26] alexcrichton commented on #21507
I'd personally go either way on `Ord`, I don't mind starting out conservatively and I also wouldn't mind adding it. If we do add it I'd at least want to clearly document "you really shouldn't rely on orderings between thread ids, just that you can order them to deduplicate"

[2017-05-12 15:28] alexcrichton commented on #40893
I feel like we discussed `Iterator::rev` vs `Iterator::reverse` a long time ago, but that was like pre-1.0 days. I always find it hard to drag up these rationales after-the-fact. (e.g. why `std::iter` and not `std::iterator`?)

[2017-05-12 15:29] alexcrichton commented on #32723
Oh I have no idea what's up with the current in-tree grammar, I would expect it to be quite out of date at this point.

[2017-05-12 15:36] durka commented on #40640
Shockingly, you're allowed to make a type alias using associated types without declaring the bounds:

[code]

[2017-05-12 15:56] Mark-Simulacrum commented on #32533
Grepping for sudo in rust source produces results that lead me to believe this is no longer an issue, at least for rust-lang/rust. Closing.

[2017-05-12 15:56] #32533 closed

[2017-05-12 15:57] jsgf commented on #40640
Oh, interesting! I hadn't considered that variation.

[2017-05-12 16:32] alexcrichton commented on #41797
Ah yeah for now our priority is to stem the breakage, and afterwards we can evaluate warnings cycles/etc to push further towards the desired behavior here.

Thanks for investigating this @jmatraszek!

[2017-05-12 16:59] cuviper commented on #41952
Yeah, it's surely related.  If we want this to work, we'll have to augment [`std_src_dirs`](https://github.com/rust-lang/rust/blob/e19ccb71c8427135a69d874623af68422aeeb9e9/src/bootstrap/dist.rs#L495) with more paths, and maybe do a full compilation in the [`distcheck`](https://github.com/rust-lang/rust/blob/e19ccb71c8427135a69d874623af68422aeeb9e9/src/bootstrap/check.rs#L612).

At first glance, we

[2017-05-12 17:01] clarcharr commented on #35428
@ranma42 huh, I never realised. that seems like a bug to me

[2017-05-12 17:05] dgrnbrg commented on #41182
I also ran into this with the function signature `fn iter(&self) -> impl Iterator<Item=&T>`, but had it compile by using @mikeyhew's suggestion.

[2017-05-12 17:21] boblehest opened #41956 "rustc hangs where there are lots of compilation warnings"
I tried to compile [this](https://play.rust-lang.org/?gist=247f44a41f2d945d25f4951a9cfcf7a3) and it causes rustc to freeze both on stable and nightly on my computer. Playground handles it without any issues.

Using strace shows that it's blocking on write(). Full strace output [here](https://gist.github.com/boblehest/76e9858d87bde9f88dee74ae6e1a0255).

## Meta

Stable:
[code]

Nightly:
[code]

[2017-05-12 18:45] Geobert commented on #38584
I had to use nix-fox's workaround to get the hello world to work :)

[2017-05-12 19:10] jonhoo commented on #16223
Still exists on nightly today, and makes it really hard to work with boxed enums..

[2017-05-12 19:27] clarfonthey opened #41960 "Warn on unused lifetime parameters"
Somehow this made it into master without being warned:

[code]

This should definitely trigger a warning.

[2017-05-12 19:33] clarcharr commented on #40380
@dtolnay First, thank you for looking into this so much!

So, sort-of in order:

1. I filed #41960 because we should be warning on unused lifetimes. I'll make a PR shortly to fix that.
2. I'm not actually sure. Usually there's a tag added to PRs to indicate that they need to be added to release notes, but no one actually modified this tag. I can modify it to say 1.18.0 and then request a beta back

[2017-05-12 19:49] mitsuhiko commented on #40893
FWIW the Python model has traditionally been "short names for modules" and "long descriptive names for methods" which is also what seems to be followed generally in Rust now. It does feel like `rev()` is one of the few exceptions to that rule.

[2017-05-12 20:01] Thiez commented on #41960
Yikes, no warnings at all.

[code]

[2017-05-12 20:17] jsgf commented on #40640
I think the message is referring to the fact that you can do something like this without raising an error:

[code]

You do get an error if `Bad` is actually used though.

[2017-05-12 20:47] whitequark commented on #40108
@est31 as far as I can tell it is and it used to work, but it got broken during rustbuild migration and no one cared enough to fix it since then

[2017-05-12 21:01] retep998 commented on #40246
This should remain open until https://github.com/rust-lang/rust/pull/41959 lands.

[2017-05-12 21:14] Mark-Simulacrum commented on #24397
Can someone with access to Windows check what happens here today?

[2017-05-12 21:20] Mark-Simulacrum commented on #25461
Triage: We still produce artifacts with the same group number: 197121.

Determined by downloading the tarball for windows and running: `tar -v --numeric-owner -t -f ./rust-nightly-i686-pc-windows-gnu.tar.gz rust-nightly-i686-pc-windows-gnu/ | head`.

[2017-05-12 22:19] Manishearth opened #41962 "loan paths leaking into borrowck errors"
[code]

([playpen](https://is.gd/K1sWGx))

gives the error

[code]

`(maybe:std::prelude::v1::Some).0` seems to be MIR leaking into the UI

cc @jonathandturner @eddyb

[2017-05-12 22:29] jethrogb opened #41963 "Incorrect suggestion in error when accessing field on raw pointer"
When compiling this code:
[code]
You get the following error message:
[code]
The suggested deref `(*a as *const B)` doesn't work, what you need to write is `(*(a as *const B))`.

[2017-05-12 22:38] Diggsey commented on #24397
@Mark-Simulacrum The latest version installs to `C:\Rust` instead, which works, but is a terrible default.

[2017-05-12 22:47] Mark-Simulacrum commented on #24469
No longer ICEs today. Regression test was added for https://github.com/rust-lang/rust/issues/24106, so closing.

[2017-05-12 22:47] #24469 closed

[2017-05-12 22:51] Mark-Simulacrum commented on #28946
Marking as E-needstest, for the test case in the previous issue comment.

[2017-05-12 22:56] Mark-Simulacrum commented on #30731
#31254 added a test when it fixed this, closing.

[2017-05-12 22:56] #30731 closed

[2017-05-12 23:03] Mark-Simulacrum commented on #25664
So the thread on IRLO went silent, and I don't think the RFCs repo ever got any form of license, among others. @brson If we still care about this (and we do, I think), we should probably have core team discuss and decide on a license for the RFCs repo and then move towards adding that.

[2017-05-12 23:07] ollie27 commented on #30143
Sadly, `eprintln` has been implemented with this bug, so is also affected: #41192.

[2017-05-12 23:10] Mark-Simulacrum commented on #35919
Well, actually, this isn't really a diagnostics issue--I'm going to nominate for a lang team discussion so that we can see what we want to do here, and can we do anything here. For reference the first example compiles with the following error today:

[code]

[2017-05-12 23:13] nvzqz commented on #35428
Does `peek` depend on `next`? If so, it makes sense to me for it to require `mut`.

[2017-05-12 23:13] shepmaster opened #41964 "iter::Scan should not unconditionally implement FusedIterator"
[`Scan` unconditionally implements `FusedIterator` if the wrapped iterator does](https://github.com/rust-lang/rust/blob/e17a1227ac779a181b2839998e26a7e4e434c2a0/src/libcore/iter/mod.rs#L1781-L1783):

[code]

Since the closure to `scan` can choose to return `None`, this implementation is overly broad. It would need to take the closure into account, which seems... not possible.

Here's a reproductio

[2017-05-12 23:13] Mark-Simulacrum commented on #25094
Nominating for compiler team discussion since this is a regression that slipped through a while back.

[2017-05-12 23:15] Mark-Simulacrum commented on #25094
Copying over #36201 to close that:

[code]

[code]

[2017-05-12 23:15] #36201 closed

[2017-05-12 23:41] Mark-Simulacrum commented on #24518
Closing in favor of (newer) https://github.com/rust-lang/rust/issues/41732.

[2017-05-12 23:41] #24518 closed

[2017-05-12 23:47] SimonSapin commented on #35428
`peek` is a method of `Peekable`, an iterator wrapper that holds an `Option<Self::Item>` buffer. It does call next to fill that buffer if not filled already.

[2017-05-13 00:01] crypto-universe commented on #41793
Affects ramp 0.3.3 cc @Aatch

[2017-05-13 00:01] Mark-Simulacrum commented on #37166
This appears unrelated to metadata, untagging.

[2017-05-13 00:15] Mark-Simulacrum commented on #36011
I'm not sure whether it's me or the code, but I cannot reproduce this, since I can't figure out a way to get `!` in a variable without having either unreachable code or the uninitialized variable warning, which both mask (if it even is still a problem) the error this issue reports, so closing.

[code]

[2017-05-13 00:15] #36011 closed

[2017-05-13 00:30] Mark-Simulacrum commented on #35940
The below is now accepted. `src/test/run-fail/call-fn-never-arg.rs` tests for this.

[code]

[2017-05-13 00:30] #35940 closed

[2017-05-13 00:34] Mark-Simulacrum commented on #36106
I'm going to close this in favor of posting on internals.rust-lang.org if you're interested; if there's significant support from there we can move into an issue and subsequent implementation here.

[2017-05-13 00:34] #36106 closed

[2017-05-13 00:36] Mark-Simulacrum commented on #31770
I'm going to close this in favor of a post on https://internals.rust-lang.org/ if we're still interested in this.

[2017-05-13 00:36] #31770 closed

[2017-05-13 00:37] Mark-Simulacrum commented on #32730
@nikomatsakis Could you provide an update on this?

[2017-05-13 00:43] Mark-Simulacrum commented on #31107
I'm going to go ahead and close this since this is primarily going to go away in the future anyway, though if a pull request was submitted we'd consider accepting it. I don't think tracking this separately is helpful.

[2017-05-13 00:43] #31107 closed

[2017-05-13 01:15] stepancheg opened #41966 ""consider adding an explicit lifetime bound `R: 'static" suggestion is misleading"
Consider an (incorrect) code:

[code]

Rustc suggests:

[code]

This suggestion `R: 'static` is not good enough, code still won't compile.

The problem is that suggestion is misleading, because proper fix should be

[code]

People who don't understand lifetimes well (like me), could stuck after adding `'static` bound.

So better suggestion could be something like:

[code]

or do not mention `'stat

[2017-05-13 04:17] Mark-Simulacrum commented on #36221
So re-reading this issue a couple times leads me to believe that there's nothing particular to do here. We *could* change the pass order or add more passes, but without a concrete proposal as to what and how, I don't think this is super helpful. If anyone's interested in pursuing this, we should file an issue into internals.rust-lang.org and discuss there to get more eyes onto it.

[2017-05-13 04:19] Mark-Simulacrum commented on #38167
I'm going to close in favor of #36262, since it seems to be the same general issue.

[2017-05-13 04:19] #38167 closed

[2017-05-13 04:19] Mark-Simulacrum commented on #36262
Another example:

[code]

[2017-05-13 05:06] Mark-Simulacrum commented on #29931
Closing. If we want to pursue this, a discussion (potentially leading to PRs) on internals.rust-lang.org would be best.

[2017-05-13 05:08] Mark-Simulacrum commented on #28089
Closing per the above comment.

[2017-05-13 05:08] #28089 closed

[2017-05-13 05:13] #41562 closed

[2017-05-13 05:16] petrochenkov commented on #40184
`x86_64-7.1.0-posix-seh-rt_v5-rev0` toolchain is still affected.

[2017-05-13 05:17] eddyb commented on #41962
I think those are just the loan paths that borrowck uses. It's not like MIR is hooked up to it.

[2017-05-13 05:17] eddyb commented on #41962
cc @rust-lang/compiler

[2017-05-13 05:38] est31 commented on #24473
PR #35984 has been first included in the 1.13 release. Still, there is some non-determinism left, inside the search index. See [this diffoscope output](https://tests.reproducible-builds.org/debian/dbd/testing/amd64/rustc_1.14.0+dfsg1-3.diffoscope.html#rust-doc_-.--.--dfsg---_all.deb-data.tar.xz-data.tar-.-usr-share-doc-rust-doc-html-search-index.js-js-beautify---).

I think the issue is that the s

[2017-05-13 05:50] vadimcn commented on #36221
So, um, what's the motivation for closing this?
I've created this issue to document my findings about potential perf improvements.  I think that a project's bug database is the appropriate place to maintain such information, rather than some web forum.  IMO, it is fine to have issues on the books that noone wants to work on immediately, as long as they contain useful information.

[2017-05-13 06:07] cyplo commented on #35067
HI ! Any news on this one ?

[2017-05-13 07:54] Kixunil commented on #40640
@durka Interesting. Seems like the best way to turn off that message is to remove the bound and put it into doc comment.

[2017-05-13 08:10] Razican commented on #34333
What is the status of RISC-V support in Rust, currently?

[2017-05-13 08:13] sorear commented on #34333
There isn't any

[2017-05-13 12:26] infinity0 commented on #34902
Assuming that #41508 works properly, there are only two issues left, judging from [this diff](https://tests.reproducible-builds.org/debian/dbdtxt/testing/amd64/rustc_1.14.0+dfsg1-3.diffoscope.txt) obtained when not varying the build path across builds.

- #24473 for rustdoc, with several instances of
[code]
- one non-build-path debuginfo variation:
[code]

[2017-05-13 12:28] nagisa opened #41970 "GDB pretty printer error when compiled with -Copt-level=1"
When debugging the code from https://github.com/rust-lang/rust/issues/41888 I noticed that this

[code]

when compiled with `rustc test.rs -g -Copt-level=1` and run under gdb:

[code]

Works fine in lldb, works fine without optimisation.

[2017-05-13 12:30] nodakai commented on #41799
If a new `as`-cast rule is going to be introduced, please make it generic so that it can be naturally extensible to something like [mini-floats](https://internals.rust-lang.org/t/adding-minifloats-f24-f16-f8-as-native-types/2367) or GMP types

[2017-05-13 12:30] Mark-Simulacrum commented on #36221
I'm fine with reopening; it just feels like this particular issue doesn't have anything we can do to fix it. That is, if we(/you) find other things we can do to improve LLVM's codegen, then opening other issues is better. This issue to me looked like it was purely about running passes more times, which to me seemed like not something we wanted to track. Again, though, if you disagree -- please reo

[2017-05-13 12:43] nagisa commented on #41799
@isislovecruft Rust is a general purpose programming language and it already has a syntax for doing conversions, so it not supporting `as`-casts for only this particular conversion would make the language inconsistent.

Furthermore, consider a code like this:

[code]

Now this macro works just fine for every single integer and float combo. Forbidding it for i/u128 would extend this discrepancy to

[2017-05-13 12:43] est31 commented on #24473
Hmm, as of 1.14 it didn't sort, but since commit #38105 which was first included in 1.15, it does sort. So this sub-issue can be viewed as fixed.

[2017-05-13 13:54] boblehest commented on #41956
I compiled this from source (same revision as the nightly I'm running), and it does _not_ exhibit the same behavior (the test file compiles successfully.)

[code]

[2017-05-13 13:59] #41744 closed

[2017-05-13 16:22] raphaelcohn opened #41974 "ICE when trying to implement Drop generically"
I've defined a trait `CompletionQueue<'a>`, which wraps various FFI `*mut xxx` pointers. All of these pointers can be freed by the same FFI function, so to reduce code duplication, I defined a `pointer()` method on my `CompletionQueue<'a>` trait, and tried to define a generic implementation of Drop that is basically `unsafe { ff_drop_function(self.pointer()) }`. This causes the compiler to panic..

[2017-05-13 16:24] raphaelcohn commented on #41974
Background: rust-nightly, version `rustc 1.19.0-nightly (777ee2079 2017-05-01)`, running on Mac OS X (Darwin Kernel Version 15.6.0) on a x86_64 bit Mac Pro cylinder. Native target.

[2017-05-13 16:26] raphaelcohn commented on #41974
Also present in `rustc 1.19.0-nightly (e17a1227a 2017-05-12)`

[2017-05-13 16:31] gamazeps commented on #29377
@steveklabnik is the list of things to do in this module up to date ?

I was thinking on tackling this module once I am done with the `thread` module (probably on Monday).

If no one else is working on this I'll try to document the whole module for the next week (and maybe a little bit of the next one).

[2017-05-13 17:07] clarcharr commented on #35428
I mean, you could easily make `peek` immutable:

[code]

and

[code]

Although I guess that this is a bit out of the scope of the general discussion.

My main point is that it's almost trivial to determine if an iterator is empty, and doesn't need a generic trait. We can deal with `ExactSizeIterator` just having an `is_empty` convenience method.

[2017-05-13 17:23] djzin commented on #41974
Implementing `Drop` (or any trait you do not control) generically in this way is not possible because it violates the coherence rules. (What if someone implemented `CompletionQueue` and `Drop` seperately?) You probably want to wrap your types in a newtype with a forwarding implementation of the `CompletionQueue` trait.

With that said, the compiler probably shouldn't ICE on this!

[2017-05-13 17:40] Mark-Simulacrum opened #41976 "Inference for binary operators is order dependent"
[code]

[2017-05-13 17:41] Mark-Simulacrum commented on #22001
Closing since we can't reproduce.

[2017-05-13 17:41] #22001 closed

[2017-05-13 17:43] Mark-Simulacrum commented on #36305
I'm going to close this in favor of #41976, which I just opened -- I'm going to collect the issues I see that describe this problem there. I know I've seen more than one already... but finding them is hard.

[2017-05-13 17:43] #36305 closed

[2017-05-13 17:44] Mark-Simulacrum commented on #34738
Example given compiles today. Tests were added in fix for #28828 which seem to cover this, closing.

[2017-05-13 17:44] #34738 closed

[2017-05-13 17:47] Mark-Simulacrum commented on #32917
Linking `rustc` today seems to work, though I haven't tested on anything beyond macOS; I'm going to close but do let us know if this is an issue and we'll reopen.

[2017-05-13 17:47] #32917 closed

[2017-05-13 17:49] Mark-Simulacrum commented on #34434
@larsbergstrom Could you give an update here? I don't see anything related to debuginfo in the Cargo.toml; and from my own experience release + debuginfo seems to work locally.. though I cannot be certain.

[2017-05-13 17:50] dwrensha commented on #41697
The earliest commit where I can reproduce this problem is https://github.com/rust-lang/rust/commit/2cca2567d9a39f159e392c47c8be6d94087242c9.

[2017-05-13 17:57] nvzqz commented on #35428
While the Peekable solution can serve as a  trivial default, I still think that any default should be able to be overridden with a possibility faster form like with my previous example where the internal `u64` is 0.

[2017-05-13 18:17] Mark-Simulacrum commented on #31699
I get the following today, so closing. A test seems impractical due to needing a crate dep.

[code]

[code]

[2017-05-13 18:17] #31699 closed

[2017-05-13 18:19] Mark-Simulacrum commented on #14098
Closing, I agree that there doesn't seem to be an error here.

[2017-05-13 18:19] #14098 closed

[2017-05-13 18:24] Mark-Simulacrum commented on #36367
We spit out the garbage below today. Presumably, this means that usize<...> is what's being parsed.

[code]

[2017-05-13 18:25] Mark-Simulacrum commented on #27106
Closing in favor of #26186.

[2017-05-13 18:25] #27106 closed

[2017-05-13 18:27] Mark-Simulacrum commented on #26186
Further reduced:

[code]

[2017-05-13 18:29] Mark-Simulacrum commented on #36398
@mmstick Is this still a problem for you?

[2017-05-13 18:33] Mark-Simulacrum commented on #36142
Closing.

[code]

[2017-05-13 18:33] #36142 closed

[2017-05-13 18:38] Mark-Simulacrum commented on #36415
So investigating this leads me to believe that we're handling something incorrectly here: https://github.com/rust-lang/rust/blob/77f1bec6f5eb9ed632c973b97b12701294e6d3a5/src/libstd/io/stdio.rs#L691. The panic! seems to still be called despite the error being IO-related:

[code]

[2017-05-13 18:42] Mark-Simulacrum commented on #13101
Nominating for libs team discussion, perhaps we could just deprecate and eventually remove the method of it doesn't do anything? I doubt that anyone is using it in practice. Searching for it on GitHub leads me to believe that most matches are in copied versions of either libsyntax or libcore, which seems "hey, you're unstable anyway" to me.

[2017-05-13 18:53] Mark-Simulacrum commented on #30829
@nikomatsakis You assigned to yourself a while back, still investigating?

Original example:
[code]

@arielb1's example compiles.

@nikomatsakis's example:
[code]

[2017-05-13 18:54] Mark-Simulacrum commented on #32382
@pnkfelix You are currently assigned to this, are you still investigating?

[2017-05-13 18:55] Mark-Simulacrum commented on #36403
I'm going to close since this is a known limitation and I don't think it's helpful to track this; with NLL this should be fixed.

[2017-05-13 18:55] #36403 closed

[2017-05-13 18:57] Mark-Simulacrum commented on #36475
I cannot get docopt_macros to compile today (so this example too) so I'm going to close this.

[2017-05-13 18:57] #36475 closed

[2017-05-13 19:05] Mark-Simulacrum commented on #36230
@infinity0 @japaric Could one of you test this today? I assume it's still a problem...

[2017-05-13 19:07] eddyb commented on #32382
cc @nikomatsakis as well

[2017-05-13 19:13] Mark-Simulacrum commented on #36510
We no longer do this as of 5b6638ace0e615b3f271467cbf614d130b24db38.

[2017-05-13 19:13] #36510 closed

[2017-05-13 19:14] Mark-Simulacrum commented on #36437
cc @brson since this is a license question

[2017-05-13 19:15] Mark-Simulacrum commented on #36506
I don't see an ICE today, just a lot of errors about things not being supported in constants, so I'm going to close.

[2017-05-13 19:15] #36506 closed

[2017-05-13 19:20] Mark-Simulacrum commented on #36473
We have --emit=mir today; does that fit the bill?

[2017-05-13 19:27] Mark-Simulacrum commented on #36558
Closing, both cases work now.

[2017-05-13 19:27] #36558 closed

[2017-05-13 19:29] Mark-Simulacrum commented on #36556
cc @brson because this is a licensing question

[2017-05-13 19:30] GuillaumeGomez commented on #29377
@gamazeps: More or less. It still has a lot of places to improvement anyway so feel free to give it a try!

[2017-05-13 19:33] Mark-Simulacrum commented on #6477
This is still not fixed, and indeed we now suggest to import `Foo` into scope -- even though this is impossible!

[2017-05-13 19:35] Mark-Simulacrum commented on #26233
I'm going to close per my previous comment.

[2017-05-13 19:35] #26233 closed

[2017-05-13 19:42] Mark-Simulacrum commented on #36605
@japaric Could you check if this still reproduces today? I think it does, since I don't know of any activity in this area, but that may have changed since then.

[2017-05-13 19:46] Mark-Simulacrum commented on #36629
I'm marking as a diagnostics issue so that we print a warning in this case at least.

[2017-05-13 19:50] twmb opened #41984 "fs::Permissions set_readonly is odd on Unix."
- `set_readonly(true)` wipes out write permissions, leaving existing executable permissions in place. This seems contrary to what I would expect this function to do: make something _only_ readable. I would expect `set_readonly(true)` to set the permissions to `0o444`.

- `set_readonly(false)` _adds_ write permissions to make permissions _not_ readonly, as opposed to wiping out read permissions. Se

[2017-05-13 20:01] Mark-Simulacrum commented on #13442
Appears to still reproduce today.

[code]

[2017-05-13 20:11] #41587 closed

[2017-05-13 20:19] iKevinY commented on #18439
@Mark-Simulacrum I think this can be closed now that #41935 has been merged.

[2017-05-13 20:45] oyvindln commented on #41160
For the rust side, copy propagation of arrays in MIR is not happening simply because it is [not implemented](https://github.com/rust-lang/rust/blob/master/src/librustc_mir/transform/copy_prop.rs#L118) for the "Repeat" (array?) rvalue mir type. As for the inlining pass, I don't know if more should be done.

I don't know what's keeping LLVM from optimising this properly.

[2017-05-13 20:46] TimNN commented on #41956
Which `rustup --version` were you using?

This reminds me of a rustup bug quite some time ago which occurred when telemetry was enabled.

[2017-05-13 21:22] #18439 closed

[2017-05-13 21:38] Mark-Simulacrum commented on #36654
Today this looks much better. I think this is effectively "fixed".

![image](https://cloud.githubusercontent.com/assets/5047365/26029431/1bb80140-37f2-11e7-8891-953ef2641d86.png)

[2017-05-13 21:38] #36654 closed

[2017-05-13 21:39] Mark-Simulacrum commented on #36714
I'm going to close this, since while we want this in general I think for the time being it's not something we should track. I also feel like there's a more general issue for better colors in the frontend somewhere, though I can't find it right now.

[2017-05-13 21:39] #36714 closed

[2017-05-13 21:47] Mark-Simulacrum commented on #30809
@eddyb @nrc As @durka asks, do you know if this is still the case?

[2017-05-13 21:56] chrivers opened #41985 "Lack of HRTB produces nonsense error message, correct syntax isn't even mentioned in The Book"
I hit a weird error case today. It turns out, I hit a problem with lifetimes where the only solution was HRTBs (Higher-Ranked Trait Bounds).

I've tried to condense the reproduction sample as much as possible, without it being utterly abstract:

[code]

Compiling this code:

[code]

Replacing the "attempted code" with the "correct syntax" comment makes this compile fine.

For me, this points towar

[2017-05-13 21:56] Mark-Simulacrum commented on #36156
This is still a problem. I suspect that the issue lies with code somewhere in `src/librustc_back/target/mod.rs` but I'm not sure.

[2017-05-13 22:19] jmatraszek commented on #41797
I think I have fixed this, just need one more day to do some more testing and I should open a pull request tomorrow.

[2017-05-13 22:27] djzin commented on #41985
With regard to the lack of documentation, though, I agree it is bad. It apparently has not been got to in the second edition of the book, although there appears to be a section planned. I agree that it does come up more often than is described in the Nomicon. Maybe it is worth opening up an issue in the book.

[2017-05-13 22:55] cuviper commented on #41906
It's an ugly problem with auto-deref, but you can still write it manually as `(*s).borrow()` or `RefCell::borrow(&*s)`.  Are there cases where accidentally calling `<Rc<T> as Borrow>::borrow()` would still compile and give unintended results?

FWIW, this conflict is also why `Rc`'s own methods are all associated rather than on `self`, so they don't shadow the inner type.

[2017-05-13 23:01] cuviper commented on #41903
That's probably "none of your business!"  That is, the source crate is not `pub` exposed, so to users of this crate the function behaves as if it originated here.  (Except you can probably test equivalence in other ways.)

[2017-05-13 23:29] boblehest commented on #41956
`rustup 0.3.0 (7d7fed2 2016-07-14)`

Interesting. The rustup package itself (installed from AUR) says version 1.2.0-6. `rustup self update` just gives me an error. I'll try to update it then, thanks. :)

[2017-05-13 23:46] #41956 closed

[2017-05-14 00:42] nathan opened #41986 "Borrow checker fails for trait object but passes for reference to concrete type"
The following code:

[code]
(run on [play.rust-lang.org](https://play.rust-lang.org/?code=use%20std%3A%3Aio%3A%3AWrite%3B%0A%0Astruct%20Example%3C%27a%3E(%26%27a%20mut%20Write)%3B%0A%0Aimpl%3C%27a%3E%20Example%3C%27a%3E%20%7B%0A%20%20%20%20pub%20fn%20test()%20%7B%0A%20%20%20%20%20%20%20%20let%20mut%20x%20%3D%20Vec%3A%3Anew()%3B%0A%20%20%20%20%20%20%20%20Self%3A%3Ado_stuff(%26mut%20x)%3B%0A%20%20%2

[2017-05-14 03:14] eddyb commented on #30809
The "reproductible" lowering is gone but they IDs are still very much reused.
@michaelwoerister did start some work to have different HIR IDs for incremental.

[2017-05-14 03:50] spamwax opened #41988 "ICE: can't determine value for sysroot - FreeBSD"
rustc fails with the above message on FreeBSD 11.0 compiling any project/rust src.
As initially reported on [rustup repo](https://github.com/rust-lang-nursery/rustup.rs/issues/1110), this doesn't happen with the version of rust provided by OS package manager: rustc v1.16
However, installing the same version or later versions (tested up to 1.19) either through rustup or standalone installers produc

[2017-05-14 04:20] Rufflewind commented on #41270
What about the relationship between `Eq` and `Ord`?  Is it implied that `x.cmp(y) == Equal` if and only if `x.eq(y)`?  The fact that `Ord` has `Eq` as a supertrait suggests so, but the [BinaryHeap example](https://doc.rust-lang.org/std/collections/struct.BinaryHeap.html) violates it.

[2017-05-14 05:57] #41933 closed

[2017-05-14 06:04] pravic commented on #37553
Also it is a bit confusing now that empty `#![windows_subsystem]` gives no warnings or something: https://is.gd/8MpSo5

Because its own name is not so clear and looks like self-sufficient to assign the windows subsystem to the executable.

*Posting here because #37499 was closed.*

[2017-05-14 09:31] kennytm commented on #41270
@Rufflewind Which example? There are a lot of code in that page.

[2017-05-14 09:52] pietroalbini commented on #37339
Pull requests for the documentation sent to the various repositories. Should I wait for the stabilization PR?

[2017-05-14 10:17] Rufflewind commented on #41270
@kennytm My link was incorrect.  Here’s the correct one: https://doc.rust-lang.org/std/collections/binary_heap/#examples (“This is a larger example that implements Dijkstra's algorithm to solve the shortest path problem on a directed graph.”)

[2017-05-14 12:03] glaebhoerl commented on #36011
@Mark-Simulacrum A way to do it is `fn foo(never: !)` instead of a `let`. But the bug does seem to be fixed.

[2017-05-14 12:34] glaebhoerl commented on #10184
If we care about checking (which we should), then we should either deprecate `as` (is there any use case where it's the only good option?) or at least advise against using it, and move people onto things like `TryFrom` and `TryInto` instead, which is what we [said](https://internals.rust-lang.org/t/on-casts-and-checked-overflow/1710/44) we were planning to do back when it was decided to leave `as`

[2017-05-14 14:05] Mark-Simulacrum commented on #36710
From what I can tell, this isn't a bug in rustc. Closing.

[2017-05-14 14:39] Mark-Simulacrum commented on #36587
I'm going to close in favor of #23341.

[2017-05-14 14:39] #36587 closed

[2017-05-14 14:48] Mark-Simulacrum commented on #36839
I don't get an ICE today; marking as E-needstest.

[2017-05-14 14:54] BurntSushi commented on #33771
Within the last couple of weeks, I've seen this bug appear. (I have never seen it before.)

[2017-05-14 14:55] Mark-Simulacrum commented on #24551
I feel like this is intentional behavior. Pattern matching on a `Box` requires the use of `box` patterns; that is, `let &box A { x: x1, y: y1 } = boxed_a;` is the intended way to make this work. Alternatively, you could do `let &A { x: x1, y: y1 } = &**boxed_a;`, which while ugly, does work on stable.

As such I'm going to close this issue; we simply don't deref in patterns (intentionally, as far

[2017-05-14 14:55] #24551 closed

[2017-05-14 14:55] BurntSushi commented on #38740
I think this is a dupe of #33771

[2017-05-14 14:58] Mark-Simulacrum commented on #25293
@shepmaster Do you think it'd be worth adding a `--no-bench` flag? That would effectively allow disable benchmarks when you want to.

[2017-05-14 14:59] Mark-Simulacrum commented on #38740
Looks the same, yeah, closing.

[2017-05-14 14:59] #38740 closed

[2017-05-14 15:03] Mark-Simulacrum commented on #23610
@nikomatsakis Is there a chance the `&ref` pattern is actually bypassing the match checking that is intended to not allow binding both by-move and by-reference in the same arm? It seems to be, so... perhaps this is a problem in a wider sense?

[2017-05-14 16:49] mjkillough commented on #32077
I am looking into this, as it makes `rust-xcb` quite difficult to use. It's my first time poking around in the rustdoc code, so it might take me a little while.

My initial prototype renders this code:

[code]

... like this:

![image](https://cloud.githubusercontent.com/assets/532855/26035938/108df726-38ff-11e7-9e3f-8f7a3cbea046.png)

I haven't played around with `Deref` to see how it interacts,

[2017-05-14 17:42] kennytm opened #41993 "`str::starts_with('x')` (literal char) is slower than `str::starts_with("x")` (literal string)."
(Discovered when reviewing #41957)

This piece of code:

[code]

generates an extremely complicated assembly. The generated function will try to decode the input string `a`, obtain the first code point, and then compare with `'/'` (47).

Compare with

[code]

which basically just checks if the first byte of the string is `'/'` (after an unnecessary (?) `is_char_boundary` check introduced in #26771

[2017-05-14 17:59] oberien commented on #35121
Is it possible to implement `Fn`, `FnMut` and `FnOnce` for `!` in a way that it is generic over all input and output types?

In my case I have a generic builder which can take a function, which will be invoked when building:

[code]
As `func` is an `Option`, a constructor using `None` can't infer the type of `F`. Therefore a `fn new` implementation should use Bang:
[code]

The builder's `func` fun

[2017-05-14 18:11] SimonSapin commented on #35121
That sounds contradictory. Doesn’t `<! as Fn>::Output` need to resolve to a single type?

[2017-05-14 18:19] taralx commented on #35121
`<! as Fn>::Output` is `!`, isn't it?

[2017-05-14 18:21] GuillaumeGomez commented on #33771
I'd prefer to wait for the switch to pulldown to be officially complete to check if we still have this issue because it seems to be very specific to hoedown.

[2017-05-14 18:36] gamazeps commented on #29378
@steveklabnik All ticks are done except for the documentation module.

I may try to get that done tomorrow, so we can either close the issue once the PRs are landed or once I add the new module documentation.

[2017-05-14 19:16] oberien commented on #35121
In theory `<! as Fn>::Output` should be `!`, but the current type checker wants associated types to match exactly: https://is.gd/4Mkxfm

[2017-05-14 19:28] chrivers commented on #41985
Thanks for the quick reply!

I agree, especially after your explanation, that the *error* is correct, but I absolutely disagree that the error *message* is correct.

The error message is literally saying that the value only lives until line 38, but it has to live until line 38. Not only is this (as far as I understand) not correct, but it also does not really help explain what is wrong, to someone

[2017-05-14 19:34] Mark-Simulacrum commented on #23957
Since #7540 is fixed (see last comment) with rustbuild, I'm going to close.

[2017-05-14 19:34] #23957 closed

[2017-05-14 19:40] Mark-Simulacrum commented on #24995
I cannot reproduce this today, so I'm going to close.

[2017-05-14 19:40] #24995 closed

[2017-05-14 19:45] Mark-Simulacrum commented on #34237
I cannot clone, so I don't think there's much we can do here (without being able to reproduce, debugging performance problems is hard); closing.

[code]

[2017-05-14 19:45] #34237 closed

[2017-05-14 19:52] Mark-Simulacrum commented on #36584
If someone provides a code example that reproduces this today, then we can reopen, but right now all links in this issue are dead, so I'm going to close.

[2017-05-14 19:52] #36584 closed

[2017-05-14 19:52] Mark-Simulacrum commented on #22761
Closing per my above comment.

[2017-05-14 19:52] #22761 closed

[2017-05-14 19:54] eminence opened #41997 "Need help understanding `cargo test --jobs`"
When I run `cargo test --help`, I see this option:

[code]

At first, it looks like this controls how many test cases run in parallel, but that doesn't seem to be the case.  Given 5 different tests of this form:

[code]

I would expect that running with `--jobs 1` would take about 25 seconds.  But all 5 tests actually are run in parallel:

[code]

Can you help me understand this?  What does `--job

[2017-05-14 19:58] Mark-Simulacrum commented on #41997
So this is actually a case of misleading help, to some extent. `cargo test --jobs 1` means that Cargo will only compile crates/tests one at a time. You probably want `cargo test -- --jobs 1` which will pass the number of jobs to the produced test binary, which will then run sequentially.

[2017-05-14 19:59] Mark-Simulacrum commented on #36989
I think this is still an issue with rustbuild, but should be somewhat easy to fix.. I think we just want to call canonicalize on the paths here: https://github.com/rust-lang/rust/blob/master/src/bootstrap/install.rs#L41. @alexcrichton Does that sound correct to you? If so, this is E-easy and E-mentor (by me).

[2017-05-14 20:01] Mark-Simulacrum commented on #37007
@tombruijn states [here](https://github.com/rust-lang/rust/issues/37406#issuecomment-270876874) that this is fixed, closing.

[2017-05-14 20:01] #37007 closed

[2017-05-14 20:10] eminence commented on #41997
Ahh!   That particular thing didn't work, but this did:

`cargo test -- --test-threads 1`

So what does `--jobs` actually do?  How can this be documented better?

[2017-05-14 20:12] Mark-Simulacrum commented on #36745
I can't compile the code linked by @4e554c4c, but `extern "C" fn foo() -> ! {panic!()}` compiles today... Closing.

[2017-05-14 20:12] #36745 closed

[2017-05-14 20:14] Mark-Simulacrum commented on #41997
Ah, yeah, sorry about that. `--jobs` is the amount of individual `rustc` instances cargo will run at once. I'm not really sure there's much we can do here, though... do you have any thoughts on how we could change the description of `--jobs` to make it clear that it's not the number of test threads?

[2017-05-14 20:15] Mark-Simulacrum commented on #37011
If this is a bug, I think this is a Cargo bug -- rustc itself just prints to stdout/stderr -- therefore I'm going to close.

[2017-05-14 20:15] #37011 closed

[2017-05-14 20:25] Mark-Simulacrum commented on #35487
So if this is an LLDB bug, then it seems like there's no use in us tracking it. As such, I'm going to close.

[2017-05-14 20:25] #35487 closed

[2017-05-14 20:31] eminence commented on #41997
Rereading the output of `cargo test --help`, I see the following text which I didn't notice before:

So there is definitely an element of user-error here (and so you could legitimately close this issue on that basis alone).

What if the option summary table just said something like "Number of parallel builds, see below for details", and in text below it said something:

[2017-05-14 20:35] Mark-Simulacrum commented on #41997
That seems better. Could you refile onto rust-lang/cargo please?

[2017-05-14 20:42] #41997 closed

[2017-05-14 20:50] durka commented on #41903
Yeah, but it's jarring when a [src] link suddenly takes you to another
crate, so the facade breaks down anyway.

On Sat, May 13, 2017 at 7:02 PM, Josh Stone <notifications@github.com>
wrote:

[2017-05-14 20:50] jmatraszek commented on #41797
Added a proposed fix.

[2017-05-14 20:52] yoshiii opened #41998 "error: internal compiler error: /checkout/src/librustc_const_eval/eval.rs:773: impossible case reached"
Following comparison leads to an internal compiler error:
if ('x' as char) < ('y' as char)

I tried this code:
[code]

I expected to see this happen: code compiles

Instead, this happened:
[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2017-05-14 20:55] retep998 commented on #35471
If LLVM has decided to not support running on Windows Vista, then there is nothing we can do here. If rustc ever supports an alternate backend that does support Windows Vista, then this can be reconsidered then.

[2017-05-14 20:55] #35471 closed

[2017-05-14 21:06] Mark-Simulacrum commented on #41998
This has been fixed since last stable, and works on today's beta, nightly, and master.

[2017-05-14 21:20] johnthagen commented on #41944
We just hit this as well.

Travis CI full example: https://travis-ci.org/johnthagen/rust-belt/jobs/232185624
AppVeyor full example: https://ci.appveyor.com/project/johnthagen/rust-belt/build/1.0.486/job/k7ao14uh4gh032y5

[2017-05-14 21:24] jonathandturner commented on #35164
@Mark-Simulacrum - it may be, but tbh I totally forgot what I was thinking when I wrote this 😅  It's been a while since I worked on any error message code

[2017-05-14 21:32] jonathandturner commented on #35442
@Mark-Simulacrum - Quite possibly. Someone who is working in error messages more than I am these days may be able to take this and run with it.  The gist is pretty simple, at the time we only had a few unicode tests in the ui directory.  I'm not aware of the current state of affairs in the error message testing.

[2017-05-14 21:33] Mark-Simulacrum commented on #41944
I'm confused. As far as I can tell, this is a known problem -- https://github.com/rust-lang/rust/issues/41604 -- and is awaiting a backport to beta, which would then fix it there. Shouldn't this be closed?

[2017-05-14 21:34] Mark-Simulacrum commented on #35164
Based on the IRC log, I think the problem is that [these lines](https://github.com/rust-lang/rust/blob/master/src/libsyntax/json.rs#L259-L260) need to be something more than they are, going through some sort of `CodeMap` or maybe `CodeMapper`? I'm not familiar with this code, though, so I don't know what exactly needs to happen here.

Would you perhaps know who we could cc for some instructions he

[2017-05-14 21:36] johnthagen commented on #41944
@Mark-Simulacrum I'm totally fine with closing if it's a known, solved issue. I just hadn't seen that fix after looking around and wanting to err on the side of reporting.

[2017-05-14 21:36] Mark-Simulacrum commented on #35442
Okay, so I think what we need here is a concrete list of things that we should test with regards to Unicode, that is, what edge cases we should make sure work. I can't think of anything concrete right now, though.

[2017-05-14 21:40] Mark-Simulacrum commented on #41944
Oh, yeah, please do report, it's better to have the report than not have it and miss a regression. However, since I know a lot of people hit this (both on nightly and beta) I'll keep this open to allow them to land here. We can close it in the potential future beta backport PR.

[2017-05-14 21:41] Mark-Simulacrum commented on #37045
I'm going to close this in favor of #32677.

[2017-05-14 21:41] #37045 closed

[2017-05-14 21:46] chrivers commented on #39959
I've also hit this bug (is it fair to say it is a bug?)

I was able to condense my error condition down to
[code]

this gives the curious and (to me) nonsensical error message:

[code]

It's not very clear what's going on here. I have absolutely no idea why the compiler is checking &[[[_]]] and so forth, and I have absolutely no idea why it's checking *Sized* for these, and why it can't figure out

[2017-05-14 21:47] Mark-Simulacrum commented on #23032
Yeah, I'm going to close, there are tests in-tree that verify this behavior.

[2017-05-14 21:47] #23032 closed

[2017-05-14 21:48] derekdreery commented on #38800
OK my strategy is

 1. Make compiletest::procsrv::run and compiletest::procsrv::run_background take an extra parameter, `current_dir: Option<String>`, and if `Some` add `cmd.current_dir` to command.
 2. Pass None to these functions everywhere that calls them
 3. For emscripten, set it to `Some(self.output_base_name().parent())` in `compiletest::runtest::program_output`

I'm away for a few days so

[2017-05-14 21:49] derekdreery commented on #38800
Oh and I also had to pass "-s BINARYEN_METHOD='native-wasm,interpret-binary'" as it defaulted to just `native-wasm`, which I think isn't implemented yet (I'm still trying to understand emscripten properly).

[2017-05-14 23:03] Mark-Simulacrum commented on #18134
@alexcrichton So we first made extern "C" functions stay around with LTO, but now we no longer do this, so I'm not sure -- should we close this issue? It's not clear whether we want or don't want this.

[2017-05-14 23:06] Mark-Simulacrum commented on #37070
The `siphasher` crate now exposes this API, closing.

[2017-05-14 23:06] #37070 closed

[2017-05-14 23:17] ishitatsuyuki opened #42000 "Incremental ICE: could not find ICH for FileMap"
The compiler is a little bit old, but I didn't see any open discussion about this.
[code]

I suspect this becomes broken when I use workspace? I was testing #41369.

[code]
[code]

[2017-05-14 23:18] jonathandturner commented on #41197
The RLS currently has a --version flag. Is this bug tracking it landing in rustup?

[2017-05-14 23:18] jonathandturner commented on #41197
(lol, just noticed the date of the bug...)

[2017-05-14 23:36] Mark-Simulacrum commented on #37147
@GuillaumeGomez Is this something you still want to pursue? I've marked as T-doc.

[2017-05-14 23:37] Mark-Simulacrum commented on #18001
Closing in favor of more-recent duplicate https://github.com/rust-lang/rust/issues/35035.

[2017-05-14 23:37] #18001 closed

[2017-05-14 23:46] Mark-Simulacrum commented on #37155
https://gist.github.com/Mark-Simulacrum/a83196ed84920c37804654ec39a7ebe9 is the full time-passes log from today, with the relevant passes:

[code]

[2017-05-14 23:51] Mark-Simulacrum commented on #36827
Closing.

[code]

[2017-05-14 23:51] #36827 closed

[2017-05-14 23:56] Mark-Simulacrum commented on #37204
@rust-lang/libs, do we want this? It seems like a rather hard-to-follow feature since distant code could change the semantics of local code; marking a `Path` as a "symlink follower" seems odd.

[2017-05-14 23:58] Mark-Simulacrum commented on #37181
Today we simply give up:

[code]

[2017-05-14 23:59] Mark-Simulacrum commented on #37223
We're no longer tracking problems with the old book, though PRs are happily taken. As such, I'm going to close this.

[2017-05-14 23:59] #37223 closed

[2017-05-15 00:01] Mark-Simulacrum commented on #35422
I cannot reproduce today, so I'm going to close this. I don't see an example here that would make a good cross-platform test case, so not marking E-needstest.

[2017-05-15 00:01] #35422 closed

[2017-05-15 00:04] BurntSushi commented on #37204
This does indeed seem odd to me. A `Path` is a file path, and adding state to it regarding its symlink behavior in various functions does indeed seem very strange to me.

I feel like I sympathize with the frustration for the current design, but it's informed by the lower level APIs that everyone already knows and loves. If there's a better API to be had, I think I'd rather see that experimentation

[2017-05-15 00:05] Mark-Simulacrum commented on #37234
Closing.

[code]

[2017-05-15 00:05] #37234 closed

[2017-05-15 00:05] Mark-Simulacrum commented on #33136
Closing, this compiles without errors today.

[2017-05-15 00:05] #33136 closed

[2017-05-15 00:10] Mark-Simulacrum commented on #36999
I'm going to go ahead and close. The rand crate needs help; but there is no need for this specific issue since it tracks no problems and has no solutions, @rust-lang/libs might want to ping @bhickey and/or @bstrie to discuss the future of random numbers in Rust since we have an ongoing Libz Blitz.

[2017-05-15 00:10] #36999 closed

[2017-05-15 00:13] Mark-Simulacrum commented on #35570
Neither example ICEs today. E-needstest.

[2017-05-15 00:20] sfackler commented on #37204
I'm also a bit suspicious of the "action at a distance" this would cause.

In any case, I don't think this can actually be implemented since there's nowhere to put that boolean. `Path` needs to have a compatible representation with `&str` so the `AsRef<Path>` implementation can work.

[2017-05-15 00:28] Mark-Simulacrum commented on #27918
Reduced down to the following:

[code]

[code]

[2017-05-15 00:30] Mark-Simulacrum commented on #31531
Without optimizations:

[code]

With optimizations:

[code]

[2017-05-15 00:30] #31531 closed

[2017-05-15 00:36] Mark-Simulacrum commented on #35851
@eddyb So I presume that we don't currently have the lazy-start branch in tree, since this hasn't been fixed. Perhaps the two codepaths were un-unified?

[2017-05-15 00:47] Mark-Simulacrum commented on #36443
This is not E-easy.

[2017-05-15 00:58] alexcrichton commented on #41197
Aha yep! Just ran this:

[code]

Looks great to me! The only missing piece I believe is the "-nightly" or "-beta" piece. @jonathandturner do you know the right person to cc about that?

[2017-05-15 01:23] Mark-Simulacrum commented on #37421
I'm not sure what we really want out of this. We could add more documentation about which traits are okay to panic! in. I'm going to nominate for a doc team discussion, perhaps we could arrive to a concrete list of things we want to do to close this out.

[2017-05-15 01:25] Mark-Simulacrum commented on #37380
From the pull request: "It sounds like this behavior is specific to cmd.exe not CreateProcess. We're emulating the latter, so it sounds like we may not wish to merge this." As such, I'm going to close.

[2017-05-15 01:25] #37380 closed

[2017-05-15 01:32] abonander commented on #29370
cc https://github.com/rust-lang/rust/issues/41452

[2017-05-15 01:34] abonander commented on #41430
@nrc Some input here when you get the chance, I'd like to tackle this soonish.

[2017-05-15 01:50] eddyb commented on #35851
Yeah, I redid some things, and tried to avoid regressing *anything at all*.

[2017-05-15 01:56] nagisa commented on #41993
Single char cannot be possibly faster than a string, because it will have to encode the character to utf-8 (or decode the string bytes into utf-32, which is what seems to be done here), in general case.

It does not seem to me that this issue is actionable in any way.

[2017-05-15 02:02] jonathandturner commented on #41197
I'd CC @nrc since he's overseeing RLS and can handle it

[2017-05-15 02:11] jonathandturner commented on #35164
Looks like the compiler team and @killercup sitting down together and figuring it out (if they haven't already)

[2017-05-15 02:27] shepmaster commented on #25293
It would certainly provide a more reusable knob to turn than my current "nest all benches in a module" approach, but I'd worry that there's still the surprise inherent with "Oh, `#[bench]` *also* means `#[test]`, just it doesn't iterate a bunch".

If the attribute were something like `#[test(bench)]`, that might make it more obvious, helping show the need for such a flag.

[2017-05-15 02:43] projektir commented on #29377
@gamazeps so everything starting with Weak and going down should be done now.

I've been working on rewriting this page, so `std::sync::atomic`: https://doc.rust-lang.org/std/sync/atomic/, but that relates more to this issue: https://github.com/rust-lang/rust/issues/40306, and I have been distracted so it's going slow. I hope to get it done this week.

So everything else should be up for grabs and

[2017-05-15 02:54] kennytm commented on #41993
@nagisa The performance of starts_with constant char and constant string should at least be the same. I'm pretty sure the LLVM optimizer is able to encode the character at compile time to reduce the whole `is_prefix_of` to `haystack.as_bytes()[0] == b'/'` plus length check.

The problem is not really about the unused function `only_ascii`, but that the expensive operation (decoding) is done on the

[2017-05-15 03:00] japaric commented on #36230
This is only a problem with LLVM 3.8 AFAIK. There are no problems with LLVM 3.9/4.0; proof of this is that we have a `rust-std` component available for `s390x-unknown-linux-gnu`. So if a distro wants to build `std` for s390x using LLVM 3.8 *they* will have to figure what patches to backport to make that work.

Closing as this not a problem on our side.

[2017-05-15 03:00] #36230 closed

[2017-05-15 03:06] japaric commented on #36605
I heard reports within the last month that this is still a problem.

However GDB 7.12 does pretty printing of Rust code by default so if you are using that version of `arm-none-eabi-gdb` then pretty printing works out of the box even if the pretty printers we ship don't load. At least that should lessen the urgency of fixing this. I do think that Windows folks are stuck with GDB 7.11, though, as t

[2017-05-15 03:44] Mark-Simulacrum commented on #25293
We could certainly deprecate `#[bench]` and change it to `#[test(bench)]` though I worry that the latter still isn't quite clear enough... it would improve the situation. However, I'm also somewhat concerned about just how much annoyance deprecating `#[bench]` would cause, since I'd guess a large portion of the community uses it.

[2017-05-15 03:47] retep998 commented on #41984
The current behavior matches the behavior on Windows (where the readonly file attribute prevents writes but has no effect on ability to read or execute). Changing the behavior on Unix would thus cause a significant difference in behavior across platforms, nevermind being a breaking behavior change in a stable function. However, improving the documentation to clarify the current behavior is a worth

[2017-05-15 03:48] #40246 closed

[2017-05-15 04:18] isislovecruft commented on #41799
@nagisa The consistency issue, esp. w.r.t. macros, makes perfect sense. Thanks for taking the time to point that out.

[2017-05-15 05:01] Zoxc opened #42003 "nalgebra and differential-dataflow regressed"
nalgebra v0.10.1 and differential-dataflow v0.0.3 works on 5aaa60611cb7d89b03da8e56653ce09b0203f81d, but are broken on 9f15631c36665911eb8e6f594ebcfe93e65a461c.

UPDATE: nalgebra fixed, different-dataflow not yet.

[2017-05-15 06:19] nagisa commented on #41993
So, I’ve “optimised” the `char` Pattern to the point where doing `text.starts_with('k')` is as simple as:

[code]

The benchmark for 1024 iterations of such call is `1000ns` vs `1140ns` originally. It also regresses patterns such as `text.contains('k')` 4 times (or I’m benchmarking it wrong): from 44µs to 175µs, despite not doing the UTF-8 decoding.

Here’s the code in question:

[code]

Feels lik

[2017-05-15 06:23] est31 commented on #42003
broken in which way? do you have an error message or ICE you can share with us?

[2017-05-15 06:27] qnighy commented on #41723
@joshtriplett

Do you mean by "never include" also forbidding literals like `4_000.000_000` ?

[2017-05-15 06:41] Zoxc commented on #42003
nalgebra:
[code]
differential-dataflow:
[code]

[2017-05-15 06:44] TimNN commented on #42003
Looks like a duplicate of #41936, hopefully fixed by #41937 once it lands.

[2017-05-15 07:12] vi commented on #41903
If the crate just re-exports another crate, I expect to see the re-export line when I click `[src]`.

[2017-05-15 07:12] oli-obk commented on #41941
related: https://github.com/rust-lang/rust/issues/34596

[2017-05-15 07:50] GuillaumeGomez commented on #37147
@Mark-Simulacrum: It's still in discussion actually, so yes. :)

[2017-05-15 08:01] scottmcm opened #42004 "`fn foo<T:?>() {}` compiles despite the weird trait bound"
Both of the following compile fine <https://is.gd/k1iXTl>:
[code]

I would have expected that a lonely `?` (without a trait name) in a bound was an error.

(Thanks @tomaka on IRC for the simpler repro.)

[2017-05-15 08:24] raphaelcohn commented on #41974
Thank you. I was trying to avoid writing and maintaining a lot of tedious, duplicated boilerplate...

[2017-05-15 08:42] est31 commented on #42004
Interestingly, this reproduces on stable, but not on beta or nightly. Here both is an error.

[2017-05-15 08:45] kennytm commented on #41993
@nagisa Thanks for the test! Could you share the benchmarking code? I'll take a look later.

----

My benchmark looks like this https://gist.github.com/kennytm/2b6264fdf67651db78cb37095b037fae, with a 100% speed up (4.5 ns → 2.2 ns) rather than the bland 1.1 ns → 1.0 ns change. (For sure this really doesn't matter unless you do run `.starts_with()` million times.)

[code]

[2017-05-15 09:16] kennytm commented on #42004
Fixed in #41077.

https://github.com/rust-lang/rust/blob/master/src/test/parse-fail/bound-single-question-mark.rs

[2017-05-15 09:16] nagisa commented on #41993
[code]

is quite literally what I used.

Assembly was generated by compiling

[code]

[2017-05-15 09:18] nagisa commented on #41993
https://github.com/rust-lang/rust/compare/master...nagisa:charpat is the diff against rustc

[2017-05-15 09:29] jseyfried commented on #41803
Fixed in #42005.

[2017-05-15 09:36] #42004 closed

[2017-05-15 09:36] arielb1 commented on #41808
duplicate of #27918.

[2017-05-15 09:36] #41808 closed

[2017-05-15 09:50] jseyfried commented on #41776
This is closely related to #40649; fixed in #42006.

[2017-05-15 10:02] kennytm commented on #41799
`u128 as f32` currently generates this LLVM IR:

[code]

which, on x86_64, i686 and aarch64, becomes a call to the compiler_rt function `__floatuntisf`

[code]

Directly calling the function, instead of generating the `uitofp` instruction, seems to be able to hide the UB?

The [current implementation](https://github.com/rust-lang/rust/blob/ea376822a17dd911244c313c5b07dffdfe3c023a/src/libcompiler_b

[2017-05-15 10:06] nagisa commented on #41799
It makes no sense to do that over just adding the relevant branches into the IR, because it inhibits pretty much any optimisation with the values involved.

[2017-05-15 10:25] killercup commented on #35164
Not sure if anything changed since last year, but I just wrote this small example program that still crashes when the message is in another file: https://github.com/killercup/rustfix/blob/do-byte-indices-work/examples/do-byte-indices-work.rs

You can play around with it by adding unused warnings in various places.

[2017-05-15 11:12] #41304 closed

[2017-05-15 11:16] kennytm commented on #41799
@nagisa Yes we could do this

[code]

producing

[code]

producing (unfortunately the function will always be called, and the cold branch check remains)

[code]

[2017-05-15 11:55] mjkillough commented on #32077
I'd missed that there was a PR (#25892) referenced from related issue #19381, which took a similar approach to the one I was preparing. That PR was closed as @alexcrichton pointed out:

You can see this in the following example:

[code]

... which renders as:

![image](https://cloud.githubusercontent.com/assets/532855/26056058/dbb9f4ec-399d-11e7-8e33-32a6bee0752f.png)

In the `impl` for `GenericSt

[2017-05-15 12:24] arielb1 commented on #41888
Turns out we have to clear the ADT master drop flag even if we have 0 variants. Fixed as a commit in #41917 because I am already refactoring this and I don't want to write things twice.

[2017-05-15 12:35] andrewhickman opened #42007 "ICE: trivial_numeric_casts when using SDL on nightly"
Compiling this short snippet causes a compiler panic

[code]

Compiler version:
[code]
SDL version was  `0.29.0`.

Backtrace:
[code]

[2017-05-15 12:36] Mark-Simulacrum commented on #32887
I cannot reproduce this anymore, so I'm going to close -- I think #38117 fixed this.

[2017-05-15 12:36] #32887 closed

[2017-05-15 12:40] Mark-Simulacrum commented on #37433
Got an updated backtrace:

[code]

[2017-05-15 12:48] mjkillough commented on #40395
I think this is a duplicate of #32077.

[2017-05-15 12:52] Mark-Simulacrum commented on #37446
I'm not an emacs user, but from what I can tell this is fixed; the below is run in an emacs interactive shell (emacs, M-x shell).

[code]

[2017-05-15 12:52] #37446 closed

[2017-05-15 12:53] Mark-Simulacrum commented on #40395
It does seem to be. I'll close in favor of that.

[2017-05-15 12:53] #40395 closed

[2017-05-15 13:07] kennytm commented on #41799
`u128::MAX as f32` gives [`undef`](https://github.com/rust-lang/llvm/blob/1ef3b9128e1baaed61b42d5b0de79dee100acf17/lib/IR/ConstantFold.cpp#L681) during [LLVM-level constant-folding](https://github.com/rust-lang/rust/blob/master/src/librustc_trans/mir/constant.rs#L656) with `LLVMConstUIToFP`. Could the range check placed there as a first step, to prevent a naked `undef` being generated?

[2017-05-15 13:47] nagisa commented on #41799
LLVM will want some solution that’s more general and we want to avoid having custom patches in our LLVM, so I do not think that would work.

Interesting option, but does not help with code like

[code]

which is still very UB, even if it does not produce a literal `undef` at the moment after the optimisations.

[2017-05-15 14:04] phaux commented on #23121
How about this syntax: `[a, b, ..rest..] => {}`

[2017-05-15 14:17] alexcrichton commented on #36989
I believe so!

[2017-05-15 14:21] est31 commented on #42007
Minimal reproducible example (without sdl2 requirement):

lib.rs of crate "s":

[code]

main.rs of crate "t":

[code]

[2017-05-15 14:35] mthebridge opened #42008 "Incorrect missing docs lint for proc-macro-lib crates"
`proc-macro-lib` crates, when compiled with `-W missing-docs`, generate invalid warnings about missing documentation.

The following simple crate demonstrates the error.

`src/lib.rs`:
[code]

` Cargo.toml `:

[code]

I expect this to compile cleanly since there is a crate-level doc comment and a doc comment for the public function.

Instead, compiling gives:
[code]
which makes no sense since line

[2017-05-15 14:41] kennytm commented on #41696
@arielb1: Still not fixed as of `rustc 1.19.0-nightly (386b0b9d3 2017-05-14)`. Reopen?

* OP's test case is still very slow to compile (I didn't bother to `time` it)
* Time spent in [my test case](https://github.com/rust-lang/rust/issues/41696#issue-225616506) is reduced by 4×, but still exponential. Adding `-Zno-landing-pads` still works as making things fast again.
* [Your own test case](https:/

[2017-05-15 14:48] arielb1 commented on #41696
@kennytm

Yup the `inlinehint` attribute seems to be still present. Got to get rid of it.

[2017-05-15 15:01] alexcrichton commented on #18134
I believe bugs have been fixed in the meantime, it looks like this issue is no longer applicable.

[2017-05-15 15:01] #18134 closed

[2017-05-15 15:02] kennytm commented on #42007
No repro on stable  (Regression).

[2017-05-15 15:05] carols10cents commented on #40474
Saw this same git fetch failure at https://travis-ci.org/rust-lang/rust/jobs/230354402:

[code]

[2017-05-15 15:06] zackw opened #42009 "Infinite loop optimized out by inlining?"
This crate

[code]

when compiled without optimization (`rustc --crate-type rlib --emit asm`), produces

[code]

but when compiled with optimization on (`rustc --crate-type rlib --emit asm -O`), no assembly instructions at all are emitted for `test_noret`:

[code]

I expected to get something like

[code]

Identical behavior observed with `rustc 1.17.0 (56124baa9 2017-04-24)` and `rustc 1.19.0-nig

[2017-05-15 15:08] steveklabnik commented on #41925
Two things:

1. The book now lives at https://github.com/rust-lang/book so issues should be filed there.
2. We aren't tracking issues on the old book anymore; if you want to do this, please send in a PR! Thanks 😄

[2017-05-15 15:08] #41925 closed

[2017-05-15 15:11] rkruppe commented on #42009
#28728

[2017-05-15 15:11] zackw commented on #42009
This smells like LLVM deducing that `test_noret` can never be _called_, but it is my understanding that you are allowed to call a function whose signature is `(...) -> !`, it just never returns.  In any case, under no circumstances should a public function compile to zero assembly instructions; a public function that can genuinely never be called by correct code (e.g. `pub fn dont_call_me() -> ! {

[2017-05-15 15:12] arielb1 commented on #41696
@kennytm

Actually I used an older version. With nightly to me it is fast with `-C opt-level=2`, but is slow with `-C opt-level=3`.

[2017-05-15 15:18] zackw commented on #28728
Repeating myself from #42009: this bug can, under some circumstances, cause the emission of an externally callable function containing no machine instructions at all.  This should never happen.  If LLVM deduces that a `pub fn` can never be called by correct code, it should emit at least a trap instruction as the body of that function.

[2017-05-15 15:38] Mark-Simulacrum commented on #15337
Closing in favor of #14607.

[2017-05-15 15:38] #15337 closed

[2017-05-15 15:40] Mark-Simulacrum commented on #37323
This no longer ICEs, marking E-needstest.

[2017-05-15 15:44] steveklabnik commented on #32723
Yeah, it's basically abandonware. Niko had some efforts to have a real one, but I assume anything we do have is horribly bit-rotted.

[2017-05-15 15:44] Mark-Simulacrum commented on #37474
As far as I know there hasn't been any progress on this.

[2017-05-15 15:48] Mark-Simulacrum commented on #32723
Do we want to try and get some movement from the community on implementing a reference grammar? Is it something we're interested in maintaining? If not, we should probably go ahead and close out issues relevant to the reference grammar; if yes, arguably closing the issues in favor of a thread on internals would still be a good idea.

[2017-05-15 15:50] steveklabnik opened #42013 "rustdoc adds extra spaces where it shouldn't"
As seen here: https://doc.rust-lang.org/std/sync/struct.Weak.html

These docs:

    /// pointer, which returns an [`Option`]`<`[`Arc`]`<T>>`.

render like this:

<img width="121" alt="optionarc" src="https://cloud.githubusercontent.com/assets/27786/26066409/b8335fe2-3964-11e7-8cba-b446ddb87bd3.png">

Those extra spaces shouldn't be there.

[2017-05-15 15:52] steveklabnik commented on #29378
@gamazeps thank you so much! ❤️

[2017-05-15 15:52] Mark-Simulacrum commented on #33957
Well, I cannot reproduce since there's errors in the original code (incomplete example), and currently nightly doesn't seem to produce problems, so I'm closing.

[2017-05-15 15:52] #33957 closed

[2017-05-15 15:53] Mark-Simulacrum commented on #42013
https://doc.rust-lang.org/nightly/std/sync/struct.Weak.html is a better link, I think -- stable doesn't have this documentation quite yet.

[2017-05-15 15:55] Mark-Simulacrum commented on #37490
Yeah, I'm going to go ahead and close -- if anyone's interested, feel free to open an issue at Clippy, this is more in their lint territory.

[2017-05-15 15:55] #37490 closed

[2017-05-15 15:58] Mark-Simulacrum commented on #37515
The latter compiles fine today; I *guess* this should get a test.

[code]

[2017-05-15 16:03] Mark-Simulacrum commented on #32610
The extern function is now in src/libcore/slice/mod.rs.

[2017-05-15 16:08] steveklabnik commented on #42013
gah, yes, thank you

[2017-05-15 16:08] steveklabnik commented on #32723
I would go this route, but let's hear what @nikomatsakis has to say

[2017-05-15 16:10] RalfJung commented on #42009
Well, but this function can be called, so emitting a trap would be wrong.
What is the behavior of a public function with no code? Does it just do nothing, or is this a violation of the ABI?

[2017-05-15 16:12] steveklabnik commented on #29370
@citizen428 sorry for the late response here; I took a few days off last week.

This looks great! There's only one thing I would change, and that's adding an `/// # Examples` line like the rest of the docs have.

Sure thing! You get an `ExitStatus` by calling the `status` method on `Command`; so there should be a sentence saying so, with a link. Kind of like how https://doc.rust-lang.org/std/iter/

[2017-05-15 16:18] zackw commented on #42009
@RalfJung From a low-level perspective, yes, it is _possible_ to call the function, but any program that does call it is incorrect.  This gets into the argument about the scope of "undefined behavior"...

And yes, a function containing no machine instructions will indeed fall through to whatever is next.   LLVM is trying to have cake and eat it too -- it has removed the return instruction because

[2017-05-15 16:40] tommyip commented on #42013
I would like work on this

[2017-05-15 16:46] RalfJung commented on #42009
Are we sure LLVM is doing both of these transformations? I think that would be incorrect even in C, and I cannot get clang to do the same: <https://godbolt.org/g/tyCz9C>
C says you may assume any loop without side-effects terminates, but IIRC that doesn't mean diverging programs are UB.

Couldn't it be be that rustc is already removing/not emitting the return (because it thinks the function will n

[2017-05-15 16:54] rkruppe commented on #42009
@RalfJung The direct Rust equivalent of your C code [doesn't have the loop eliminated either](https://play.rust-lang.org/?gist=536fe504d81aa7c5f0bb4f3d9e110348&version=stable&backtrace=0). In both languages, there is no `return` left in the IR by the time the optimizer is done with it (and presumably already long before that), for example the clang IR reads:

[code]

[2017-05-15 16:59] RalfJung commented on #42009
Ah, so it takes that indirection through another function to trigger the bug. Interesting.
And indeed, the same thing then happens in clang: <https://godbolt.org/g/1ApTJq>
I don't think this is allowed even by C...

[2017-05-15 17:00] rkruppe commented on #42009
Indeed LLVM's current behavior also [violates the C standard](https://bugs.llvm.org//show_bug.cgi?id=31217), because it doesn't account for C's provisions for loop with cetain conditions being allowed to loop forever.

Besides, other parts of LLVM will gladly assume that code after an infinite loop is dead (e.g., simplifycfg will kill blocks not reachable from the entry block), so even if we added

[2017-05-15 17:00] tommyip commented on #42013
Seems like a problem with CSS padding of the `a` tag. I think the best way to fix this is to have `<a>` tag inside `<code>` blocks instead of the reverse.

[2017-05-15 17:01] rkruppe commented on #42009
Regardless, it seems pretty clear now this is a duplicate, so let's close this and continue discussion in the older issue.

[2017-05-15 17:02] RalfJung commented on #42009
I disagree. The other issue is *not* about a bug in LLVM or LLVM violating the C spec.

[2017-05-15 17:04] citizen428 commented on #29370
@steveklabnik No worries, it's good to take breaks 😄

I amended my previous commit and force pushed, if you have a sec please have a look at https://github.com/rust-lang/rust/commit/351d2d7228eece349e3f3c0cddd5410eb2c7dfcf,  thanks!

[2017-05-15 17:24] rkruppe commented on #42009
We don't track LLVM bugs on this issue tracker, though. We track bugs in Rust (some of which may be ultimately rooted in LLVM bugs).

But aside from that, I would strongly argue that both are the exaxct same LLVM issue &mdash; both issues are a matter of no-progress loops getting optimized out, whether you want to describe this as "invalid optimization" or "lacking ability to express no-progress l

[2017-05-15 17:48] steveklabnik commented on #29370
Looks great!

On Mon, May 15, 2017 at 1:04 PM, Michael Kohl <notifications@github.com>
wrote:

[2017-05-15 17:51] RalfJung commented on #42009
Sure.

I see. My latest information on #28728 was that currently, there's not enough interest from the LLVM side to support languages that do *not* permit removing infinite side-effect-free loops. Seems I was wrong, and the issue is more severe than that -- they don't even support C properly...

What I am saying is LLVM *could* fix https://bugs.llvm.org//show_bug.cgi?id=965 by compiling https://go

[2017-05-15 17:58] zackw commented on #42009
C does _not_ permit the loop to be removed in `static int diverge() { while(1){} }`.  The exact wording of the C standard (quoted in #28728) is "An iteration statement _whose controlling expression is not a constant expression_ [and whose body has no observable side effects] ... may be assumed to terminate."  `while(1){}` has a constant controlling expression and therefore must be preserved.  If I

[2017-05-15 18:00] RalfJung commented on #42009
Oh, I see. However, for Rust, even the "lighter" C version of this is unsound -- there is *no* "free lunch" when it comes to loop termination, as the type system otherwise becomes unsound. C doesn't have an empty type like `!` (nor a sound type system, for that matter), so it doesn't really care. It was my understanding that's what https://github.com/rust-lang/rust/issues/28728 tracks.

[2017-05-15 18:02] arielb1 commented on #41696
gist of LLVM IR: https://gist.github.com/arielb1/502c5847c9bbd747e22f82aa8fed695c - no inline hints, but `opt` "optimizes" this into 60k lines of IR.

[2017-05-15 18:26] eddyb commented on #33957
This can't be a problem with MIR so I agree with closing this.

[2017-05-15 19:02] Ralith commented on #32077
This is also badly needed in nalgebra, which suffers both from otherwise-invisible `impl` blocks and from its type aliases ultimately resolving to complicated generic types which have a very large number of methods, most of which are not relevant to any particular alias the user might be coming from. In this case, displaying the otherwise-invisible `impl` blocks would be an improvement, though it

[2017-05-15 19:19] clarcharr commented on #41758
Yep! The general rule is either PR here or RFC elsewhere.

Also, @joshlf would you mind renaming this issue to "Tracking issue for Vec::resize_default" ?

And @nikomatsakis would you mind tagging it?

[2017-05-15 19:28] jseyfried commented on #34421
I think the best path forward here is to try parsing an expression macro expansion as a statement before emitting an error. If the macro expansion parses as a statement successfully, we can emit a more helpful error suggesting that the user add a semicolon to the macro invocation.

[2017-05-15 19:45] joshlf commented on #41758
Gotcha; thanks!

[2017-05-15 20:04] badboy commented on #38492
Can we get a `A-asmjs` tag here?

[2017-05-15 20:22] GuillaumeGomez commented on #42013
That's wanted. I added it this way to make easier to spot if different types are present.

[2017-05-15 20:25] GuillaumeGomez opened #42018 "Add a shitload of tests to rustdoc"
Since we now have a more complete way to compare two HTML contents, I think we can now _**strongly**_ reinforce rustdoc's tests (which are a bit waek and lacking for now).

cc @rust-lang/docs

[2017-05-15 20:58] Mark-Simulacrum commented on #35976
Marking as a diagnostics issue. cc @rust-lang/compiler, perhaps we could prioritize this? It's possible that even small wins ("import the trait") here would be very good. Even just almost *always* doing this might be a lot better if given with the right wording.

[2017-05-15 21:01] Mark-Simulacrum commented on #37529
Judging by what @cuviper says, it seems that we don't want to set the soname by default (and as far as I know, we don't today); Since `-C link-arg` is stable and this is a rather obscure feature, I'm going to close. If you're interested in changes in this area, please do let us know and we'll reopen.

[2017-05-15 21:01] #37529 closed

[2017-05-15 21:10] Mark-Simulacrum commented on #37568
@rust-lang/docs, do we want to do something about this? It seems to me that the status quo is fairly correct, but there are some interesting points raised here. I don't follow the discussion all that well, though.

[2017-05-15 21:14] Mark-Simulacrum commented on #14228
I'm going to close in favor of #26338, since I agree that issue is the real cause of this one.

[2017-05-15 21:14] #14228 closed

[2017-05-15 21:19] Mark-Simulacrum commented on #26338
I'm leaving this open because it's not clear to me how a user *should* pass arguments directly to llc if they want to; perhaps that's not possible or even something we want. @rust-lang/compiler: Could you comment on whether we think it's a good idea to allow passing arguments into llc directly? Do we run llc at all? If we don't then it seems that this is not a bug.

[2017-05-15 21:20] Mark-Simulacrum commented on #30127
I am going to unassign @pnkfelix since I don't think they're actively investigating.

[2017-05-15 21:21] Mark-Simulacrum commented on #34261
I am going to close this. This is a fairly large feature request, and in my opinion needs an RFC or at least some discussion on internals.rust-lang.org. Please open a thread there if you're actively interested!

[2017-05-15 21:21] #34261 closed

[2017-05-15 21:24] Mark-Simulacrum commented on #37593
Nominating for T-dev-tools discussion (cc @nrc) since I think that this is something that would be amazing, but also likely quite difficult.

[2017-05-15 21:24] steveklabnik commented on #37568
I'm fine with trying to clarify something.

[2017-05-15 21:25] Mark-Simulacrum commented on #27985
Yeah, this was fixed. Marking as E-needstest.

[2017-05-15 21:28] Mark-Simulacrum commented on #32819
@eddyb I recall you mentioning that we wanted inheriting support (or had?); perhaps that's implemented today? I don't think so, but ... maybe?

[2017-05-15 21:28] Mark-Simulacrum commented on #33185
E-needstest.

[code]

[2017-05-15 21:29] eddyb commented on #32819
No idea. cc @rust-lang/compiler

[2017-05-15 21:30] Mark-Simulacrum commented on #37510
This code compiles today as far as I can tell. I'm going to mark as E-needstest.

[2017-05-15 21:33] Mark-Simulacrum commented on #37593
Closing in favor of https://github.com/rust-lang/rust/issues/33772, thanks to @QuietMisdreavus who found it. No need to nominate that since it seems we've had sufficient discussion on this that we do want it very much.

[2017-05-15 21:33] #37593 closed

[2017-05-15 21:58] durka opened #42019 "macro fragment names are no longer idents"
This is a stable-to-beta regression, but it's such a weird thing to do that I don't know if it counts.

Consider the following code ([playpen](https://is.gd/RmWrlU)):

[code]

The `gen` macro parses a macro argument spec by matching a dollar sign with `$dol` and the fragment name with `$var`. Then (in this toy example) it just regurgitates that adding `:ident` as the type of each fragment.

This w

[2017-05-15 22:00] durka commented on #42019
cc @jseyfried

[2017-05-15 22:21] rednum commented on #37568
I've reread my [second comment](https://github.com/rust-lang/rust/issues/37568#issuecomment-258368492) and to be honest I'm not 100% sure what point I've tried to make six months ago, sorry for confusion.

My original concern still stands though: I'm confused by using set notation for objects that are not quite sets, especially when it comes to corner cases. In other words: when I see something {x

[2017-05-15 22:46] gavento commented on #41906
@cuviper Yeah, `(*s).borrow()` is how we solved it, and you are right that I cannot think of a *practical* example where `s.borrow()` would silently compile in both cases (depending on `Borrow` being in scope or not).

While solvable with the current syntax, I would say (from my own experience) that it is rather confusing, especially since it does apply to a common construct (e.g. `Rc<RefCell<X>>`

[2017-05-15 23:04] cuviper commented on #41906
Adding a hint sounds great, but I can't guide you as I haven't yet learned how to do this myself. :)

[2017-05-15 23:21] nikomatsakis commented on #36799
So I did some digging into the MIR representation. There is definitely some inefficiency here, but I think ultimately the best thing we could do in this case is to remove (from statics) the `StorageLive` and `StorageDead` annotations. Something like 60% of the MIR in this case is StorageLive/StorageDead statements, and those are totally meaningless in a static constant anyhow!

[2017-05-15 23:26] jseyfried commented on #42019
I believe this is a duplicate of #41803; it should be fixed once #42005 lands.

[2017-05-15 23:52] nikomatsakis commented on #36799
Looks like we have some code to suppress storage-live/storage-dead in constants, but it was broken by the code that fixed https://github.com/rust-lang/rust/issues/38669 (I can't find the PR for that). It was relying on the "temp lifetime" which is no longer always the temp-lifetime. I think I'll add a more direct fix.

[2017-05-16 00:02] gavento opened #42021 "Deref and method shadowing"
Types implementing `Deref`, e.g. `Rc<T>`,  can shadow methods of their target types. This can happen in two ways:
* either by the `impl` of both types defining the same method (case A)
* or by the method being added to either of the types via a trait (cases B and C).

While this is according to the intended `Deref` design, it can easily lead to confusion or bugs. It is also one case where adding `

[2017-05-16 00:15] Mark-Simulacrum commented on #37612
This, as expected, reproduces today. I'm uncertain whether we don't want it to... it feels like this isn't actually a bug (cc @rust-lang/lang, can you confirm?)

[2017-05-16 00:27] Mark-Simulacrum commented on #14607
Today, I see that `RUSTFLAGS="-Ztime-passes" ./x.py test -i --stage 1 src/test/pretty` passed locally. So I suspect that this is fixed, therefore I'm closing.

[2017-05-16 00:27] #14607 closed

[2017-05-16 00:29] Mark-Simulacrum commented on #37626
We don't currently have any suggestion to dereference `x`... error message is below.

[code]

[2017-05-16 00:33] Mark-Simulacrum commented on #37633
This is problematic. I don't think there's any easy way to fix this since the code in question mostly no longer exists, so I'm going to close. I don't know whether this is still a bug, but if it is, it's likely we'll encounter it in some form and then be able to fix.

[2017-05-16 00:33] #37633 closed

[2017-05-16 00:34] alexcrichton commented on #41797
Ah we should actually leave this open to track the inclusion into beta, I'll close when all the backports are done.

[2017-05-16 00:37] Mark-Simulacrum commented on #37263
So with rustbuild, the defaults are still mainly the same, but the options are well-documented when going through `config.toml` copied from `src/bootstrap/config.toml.example`; I think that makes this sufficiently fixed. It's relatively straightforward to find what needs to be changed in there. As such, I'm going to close.

[2017-05-16 00:37] #37263 closed

[2017-05-16 00:41] Mark-Simulacrum commented on #37634
Could someone with access to Visual Studio and an MSVC environment take a look at this today?

[2017-05-16 00:43] Mark-Simulacrum commented on #37643
I don't believe this is a concrete enough bug to be actionable. If we could at least get a smaller reproduction, that would be great, but I'm also uncertain whether this is really a problem on rustc's side, it might be more of an LLVM problem since the platform specific handling of, for example, landing pads is very different across the two platforms.

[2017-05-16 00:43] #37643 closed

[2017-05-16 00:59] aidanhs commented on #40474
Rebased and pinged on the PR I made to help with the issue above.

Also, might be worth splitting this issue into at least two (perhaps git-related and non-git-related)?

[2017-05-16 01:01] #41569 closed

[2017-05-16 01:34] Mark-Simulacrum commented on #37665
Marking as E-needstest, doesn't reproduce today.

[2017-05-16 01:38] Mark-Simulacrum commented on #37648
I believe the problem here is that we build crates twice with Cargo test, and so that leads to an incorrect error message specifically for `cargo test`. I don't think that this is a bug, though, since there is still a problem with the code without the `#[cfg(test)]` annotation.

If you're interested in the cargo changes to print the individual phases of test compilation (with and without `cfg(test

[2017-05-16 01:38] #37648 closed

[2017-05-16 01:43] Mark-Simulacrum commented on #26654
I believe that LLVM no longer supports Windows XP, so arguably while work on our side within our libraries would be a slight quality of life improvement, it is not going to change the unsupportedness of XP. If we're interested in individual improvements, please ask on internals.rust-lang.org or by filing an issue here and we can go forward from there.

[2017-05-16 01:45] retep998 commented on #26654
This issue is for tracking XP compatibility for binaries produced by rustc, not rustc itself. Therefore this should remain open.

[2017-05-16 01:46] lloydmeta commented on #37612
Reviewing this after 1/2 year, I have to say I'm still uneasy about the current behaviour. I get that there may be reasons for it from a language-implementations point of view, but from a end-user/language-user standpoint, it doesn't seem desirable.

In this particular case, my expectations of referential transparency as well as as brace-based scoping were broken, leading to a deadly silent runtim

[2017-05-16 01:47] nrc commented on #41197
I added `-nightly` to the version string. The RLS is always nightly for now since we are not going though beta, etc. at the moment. Is that going to work for Rustbuild?

AIUI Rustbuild should actually use the flag, rather than do whatever placeholder thing it does at the moment.

[2017-05-16 01:51] Mark-Simulacrum commented on #37612
Oh, no, I forgot to include my minimal example. Well, I can retype it up if anyone wants me to, otherwise I'll leave it as-is since composing it was rather.. difficult, IIRC.

[2017-05-16 01:52] Mark-Simulacrum commented on #26654
My understanding was that LLVM doesn't support XP as a target platform -- but I'm fine with keeping this open; I don't exactly know what the problems there are. I agree that it'd be great if we could continue to work on XP.

[2017-05-16 01:52] nikomatsakis commented on #37612
I agree that these rules can be confusing, particularly around `match` appearing in tail position. That said, I'm not sure what's the best fix -- and obviously any change here would most likely be backwards incompatible (i.e., some people may be relying on the dtor to run when it does).

[2017-05-16 01:55] Mark-Simulacrum commented on #33525
I agree. I think that we can just change it to say "aborting due to previous errors" without giving a number, since that's arguably enough information. I don't really know of any cases where it'd be super helpful to know the quantity of errors a change introduced (and `rustc | rg error | wc -l` is a decent heuristic).

Just some quick steps if anyone wants to implement this (I can mentor). The fol

[2017-05-16 01:56] nikomatsakis commented on #41962
Yes, this is not MIR, but just regular loan-paths. Nonetheless, a suboptimal experience. I'm not sure what's the best way to present this. Probably we would want to (at minimum) filter on paths that the user couldn't write and try a more ambiguous phrasing (e.g., 'move occurs because bound value has type `Vec<u8>`')

(cc @estebank)

[2017-05-16 01:57] nikomatsakis commented on #41962
Or maybe we can give the name of the binding (when there is one)? That might take a bit of plumbing.

[2017-05-16 02:15] nrc commented on #41430
sorry it took a while to see this - I was away on parental leave and then had to nuke my notifications.

I wonder if this axiom is correct? An alternative seems to be that we could resolve attributes at the scope in which they are written rather than the scope in which they apply. Would that have knock-on effects?

[2017-05-16 02:25] jseyfried commented on #41430
Interesting, I like this idea. I'm not aware of any knock-on effects, I think it would be straightforward to implement, and it would address this use case.

[2017-05-16 02:46] abonander commented on #41430
I was under the impression that inner attributes were syntactic sugar for outer attributes, and it makes sense for outer attributes to resolve in the same scope as the item they're applied to. Crates are just special because there's no outer scope to resolve.

[2017-05-16 03:40] sfackler commented on #21507
I'm not super concerned about the Ord impl. We certainly don't want to promise that IDs sort in order of creation - TIDs on Unix systems wrap around pretty frequently.

[2017-05-16 03:42] sfackler commented on #35136
I dislike the weird stdout capturing logic in general and hope we can kill it off entirely someday specifically because it's magical and doesn't compose with child threads or processes.

[2017-05-16 03:44] Mark-Simulacrum commented on #34950
This appears to no longer happen, so I'm going to close. I don't think a test is needed here (we basically test this with other UI tests).

[2017-05-16 03:44] #34950 closed

[2017-05-16 03:46] Mark-Simulacrum commented on #18616
Closing. There's no specific information here to make keeping this worth it.

[2017-05-16 03:46] #18616 closed

[2017-05-16 03:47] Mark-Simulacrum commented on #28134
Marking as E-needstest. I don't think the test I linked previously really fits this case.

[2017-05-16 03:49] cuviper commented on #21507
FWIW, in the _current_ [implementation](https://github.com/rust-lang/rust/blob/ae33d99bcd1c1f99b4605d2bb1150c590ffa3044/src/libstd/thread/mod.rs#L764-L788) it's a monotonic u64 counter, with no relationship to the OS TID at all.  So it will in fact sort in the order of creation, or the order when first seen for threads created outside of Rust.  But I still wouldn't want to promise this.

[2017-05-16 03:58] Mark-Simulacrum commented on #35068
The above has been fixed; the function is correctly documented. Nominating for libs team discussion as to stabilization, I don't think we're going to get much information out of usage since this is such a niche API. I'm personally not certain I like the name: `escape_debug` seems odd to me, it's not really anything related to debugging I think.

cc @rust-lang/libs

[2017-05-16 04:01] Mark-Simulacrum commented on #37741
I am fairly certain that inherent methods are intended to be preferred, closing.

[2017-05-16 04:01] #37741 closed

[2017-05-16 04:03] dtolnay commented on #21507
@rfcbot reviewed

[2017-05-16 04:07] retep998 commented on #26654
LLVM requires Windows 7 or newer as a *host* platform. It is capable of targeting much older than that, although you still have to tell the linker to target an older version as well as limiting your usage of system APIs to those that are available on older Windows.

[2017-05-16 04:09] vvuk commented on #37634
Sure! I'll take a look in the morning. Has something gone in that might
have improved this?

[2017-05-16 04:13] Mark-Simulacrum commented on #37634
Not that I know of, but it never hurts to check. I wasn't actually quite aware I had strayed into November of 2016 already with issue triage, which is actually a good thing in some ways -- it means we've updated most of our ~2800 issues in the last 7 months.

[2017-05-16 04:14] nstoddard commented on #35061
I'm still seeing this issue. Not sure if it's a regression or I'm doing something wrong. I have a "hello world" program in main.rs, and when I run `strace -s 300 -e execve -f rustc main.rs -C relocation-model=dynamic-no-pic`, the resulting call to `ld` includes `-pie`.

I'm using nightly rust on Ubuntu: `rustc 1.19.0-nightly (386b0b9d3 2017-05-14)`.

[2017-05-16 04:15] Mark-Simulacrum commented on #35711
Closing in favor of that since it's an earlier issue.

[2017-05-16 04:15] #35711 closed

[2017-05-16 04:17] Mark-Simulacrum commented on #31372
Closing this in favor of https://github.com/rust-lang/rust/issues/38078 because it has more discussion.

[2017-05-16 04:17] #31372 closed

[2017-05-16 04:20] Mark-Simulacrum commented on #32481
Per the above from [this comment](https://github.com/rust-lang/rust/issues/32481#issuecomment-251229314), closing. Please reopen if you disagree (or let us know and we can do so).

[2017-05-16 04:20] #32481 closed

[2017-05-16 04:23] Mark-Simulacrum commented on #22891
Yeah as per the above it looks like this is probably not valid anymore, or at least I can't say either way -- closing. If that's not the case, please reopen; I apologize ahead of time!

[2017-05-16 04:23] #22891 closed

[2017-05-16 04:25] Mark-Simulacrum commented on #23334
@kennytm Is there a chance you could check if this still reproduces? There's been a lot that has happened since 2015.

[2017-05-16 04:59] joshtriplett commented on #41723
@qnighy No, that's fine.  I meant specifically that `42._ident` or similar should never parse as a floating-point number `42._` with suffix `ident`; an underscore *immediately after the dot* should not lex as part of the literal.

[2017-05-16 05:06] golddranks commented on #33674
LLDB works fine for me when compiling a single `.rs` file with `rustc -g`, but fails to find the source code when compiling a cargo project. I wonder if other people are experiencing the same.

More info: https://www.reddit.com/r/rust/comments/6b8blv/hey_rustaceans_got_an_easy_question_ask_here/dhm7842/

[2017-05-16 05:22] golddranks commented on #33674
So, the problem is that `.dSYM` directories that contain the debug info aren't saved to `target/debug` directory but in `target/debug/deps/`. This is counterintuitive if you expect to be able to debug the binary in `target/debug/$BINARY_NAME`.

[2017-05-16 05:26] retep998 opened #42025 "reallocate might be broken for overaligned data on Windows"
https://github.com/rust-lang/rust/blob/master/src/liballoc_system/lib.rs#L231-L241

When reallocating, it calculates the new aligned pointer which may have a different offset than the old allocation, which means the pointer might not point to the same point in the allocation anymore, which is bad. Should probably be changed to just do a completely new allocation and manually copy over the data.

N

[2017-05-16 05:51] golddranks opened #42026 "No deterministic/easily findable name for debug symbol directory on macOS"
I recently attempted to debug a Rust program with LLDB. I was surprised to find out that LLDB wouldn't find the debug symbols, even I had been sure to compile them in.

The problem was that on macOS, the debug symbols are stored in a directory that is separate from the binary. This directory has an extension `.dSYM`. (To be sure, there is also symbol table compiled in the binary, and LLDB was able

[2017-05-16 06:07] kennytm commented on #42026
This sounds more like a [cargo issue](https://github.com/rust-lang/cargo/issues).

[2017-05-16 06:32] golddranks commented on #42026
Ah, indeed. I'll close this and repost there.

[2017-05-16 06:32] #42026 closed

[2017-05-16 06:41] techtonik commented on #26654
Can LLVM target XP and Vista from Linux?

[2017-05-16 06:45] dlight commented on #21507
If `ThreadId` is going to implement `Ord`, it probably makes sense to implement `Hash` too.

[2017-05-16 07:30] retep998 commented on #26654
@techtonik LLVM's ability to target a specific architecture or operating system is not limited by what host system it is running on. The ability to *link* the resulting binaries however, does depend on your ability to acquire the appropriate libraries and linker. In the case of targeting Windows from Linux, you'd likely use MinGW for this, which is definitely capable of linking binaries that can r

[2017-05-16 07:46] mjkillough commented on #32077
Ah, I hadn't even considered the need to recursively follow type aliases, which would be necessary for nalgebra:

[code]

I've created a pull request (#42027) for this simple improvement.

[2017-05-16 07:55] tbu- commented on #35068
`debug` refers to the fact that it is used for the `Debug` implementation of `String` and `&str`.

I would prefer to call these functions just `escape` (best would be `escape_default`, but that one is taken). Could we maybe permanently deprecate `escape_default` in favor of something like `escape_nonascii` to make it clear that escaping all non-ASCII code points has nothing to do with "default"?

[2017-05-16 07:56] michaelwoerister commented on #33674
Interesting. @alexcrichton, is Cargo moving the executable after generating it in `target/debug/deps`?

[2017-05-16 08:02] maccoda commented on #29351
I wouldn't mind lending a hand here either.
@mp4096 what have managed to tackle? Don't want to step on your toes here 😄

[2017-05-16 08:14] #41473 closed

[2017-05-16 08:21] golddranks commented on #33674
I posted a cargo issue: https://github.com/rust-lang/cargo/issues/4056

[2017-05-16 08:24] MageSlayer opened #42029 "Macro usage. Compiler error"
Hi all

Attached example crashes current nightly Rust (rustc 1.19.0-nightly (75b056812 2017-05-15)) when built using RUST_BACKTRACE=1 cargo build

[code]

[macro-test.tar.gz](https://github.com/rust-lang/rust/files/1003716/macro-test.tar.gz)

[2017-05-16 08:31] michaelwoerister commented on #33674
Excellent, thank you @golddranks!

[2017-05-16 08:55] tomaka commented on #41297
Does someone have an idea how I could bypass this ICE? (I have it in regular code, not in a doctest).

I've been trying various work-arounds for 40 minutes now and am totally blocked by it.

[2017-05-16 08:58] mp4096 commented on #29351
TBH I'm having a block here. Help would be greatly appreciated!

[2017-05-16 09:04] michaelwoerister commented on #42000
This should be fixed by https://github.com/rust-lang/rust/pull/41873. Would you mind giving it another try with the latest nightly?

[2017-05-16 09:20] BartMassey commented on #35136
I'm actually only marginally sure what dumping `stdout` on the ground is even supposed to accomplish. Yes, it will make the tests quiet if they invoke code that writes on `stdout`. However, it seems like this is something that should be turned off by tests that want it rather than turned off for everybody, probably by some function which reassigns `stdout` when called. If I desire visible `println

[2017-05-16 09:28] arielb1 commented on #42009
@RalfJung

A `while COND { FOO }` Rust loop can be "lowered" to a
[code]

loop, which [§6.8.5.6](http://port70.net/~nsz/c/c11/n1570.html#6.8.5p6) seems to imply to be well-defined even when divergent.

[2017-05-16 09:40] sylvestre opened #42030 "Install is failing on a Debian sid on failed to read `/root/rust/src/tools/rust-installer/Cargo.toml`"
Trying to build following the documentation is failing on a Debian sid (aka unstable) in a chroot:

[code]

Then, running
[code]
gives:
[code]
```/root/rust/src/vendor``` doesn't exist

[2017-05-16 09:44] ttaubert opened #42031 "EXC_BAD_ACCESS comparing a vector and a const [u8; 2]"
I can reproduce this bug reliably on my machine, using rustc stable and nightly. Unfortunately I couldn't come up with a reduced test case.

You will need macOS and a YubiKey inserted.

[code]

If you run this with lldb you'll see the following:

[code]

The failure is here:

https://github.com/ttaubert/rust-compiler-bug/blob/master/src/lib.rs#L273

If I save the result of the comparison to a vari

[2017-05-16 09:50] ttaubert commented on #42031
The bug doesn't occur when built/run with `--release`.

[2017-05-16 09:50] est31 commented on #42029
Looks like a dupe of #41719

[2017-05-16 09:59] ttaubert commented on #42031
Sorry, this is wrong. What works is the following:

[code]

[2017-05-16 10:00] est31 commented on #42030
Dupe of #40108

[2017-05-16 10:03] sylvestre commented on #42030
the second part of my bug is a dupe, not the first one ( error: failed to read `/root/rust/src/tools/rust-installer/Cargo.toml` )

[2017-05-16 10:07] MageSlayer commented on #42029
Yes.
Looks like removing #![feature(use_extern_macros)] and restructuring macro appropriately allows to workaround the issue.
Thanks for hint.

[2017-05-16 10:19] qnighy commented on #41723
@joshtriplett I see. Then #41946 and #41990 will close this issue.

[2017-05-16 10:33] jonas-schievink commented on #42031
There's some pretty dubious unsafe code in there, are you sure that's not the issue?

[2017-05-16 10:40] maccoda commented on #29351
Alright let's give this a go then 👍
@mp4096 if you don't mind I might try some of the points you raised as I think they would greatly help!
@steveklabnik when you are talking about the Iterator boilerplate, what exact part of that link are you referring to?

[2017-05-16 11:05] RalfJung commented on #42009
Ah, nice hack. :) *If* LLVM implemented the C spec properly, that should indeed be a sound compilation scheme.

Funny enough, this shouldn't even make any difference (in the CFG, after some normalization) compared to lowering the loop the "obvious" way. Which I guess is the reason why LLVM is broken.

[2017-05-16 11:45] Mark-Simulacrum commented on #23575
Closing in favor of #26925.

[2017-05-16 11:45] #23575 closed

[2017-05-16 11:46] Mark-Simulacrum commented on #14375
Verified as still broken today.

[2017-05-16 12:14] Mark-Simulacrum commented on #23926
There are two other tests currently tagged with this issue, const-eval-overflow-3.rs and const-eval-overflow-3b.rs, both in compile-fail. The issue with both appears to be the same as with the previous test mentioned; we either can or cannot create and evaluate the const array depending on platform.

[2017-05-16 12:18] Mark-Simulacrum commented on #25724
No change once more. I'm somewhat uncertain that we want this, too; it feels like a nice thing I suppose but not all that useful. Unless I'm missing a use case of course.

[2017-05-16 12:19] Mark-Simulacrum commented on #26719
I almost want to say that this isn't a bug. Do gcc and clang handle this case? I feel like it would be odd to write the compiler's output (binary data) to stdout.

[2017-05-16 12:23] #30289 closed

[2017-05-16 12:27] stygstra commented on #26719
gcc and clang both output to a file called `-`:

[code]

[2017-05-16 12:31] ttaubert commented on #42031
Not entirely sure of course. But if turning on the optimizer and/or rewriting two lines of code remove a reproducible crash I'd think that rather points to a compiler issue, no?

[2017-05-16 12:39] Mark-Simulacrum commented on #37798
Closing in favor of https://github.com/rust-lang/rust/issues/22750.

[2017-05-16 12:39] #37798 closed

[2017-05-16 12:40] Mark-Simulacrum commented on #37606
Looks like this doesn't burn us today: error: reached the type-length limit while instantiating `expr::<[closure@<anon>:150:28: 168:14 r:&&std::boxed::Box<typed:...`

[2017-05-16 12:41] #37606 closed

[2017-05-16 12:43] Mark-Simulacrum commented on #37809
Without a smaller reproduction (or at least a branch somewhere) I don't think this is going to be purposefully fixed; as such, I'm going to close. Please let us know if you could get a branch that fails with this problem and we'll reopen!

[2017-05-16 12:43] #37809 closed

[2017-05-16 12:44] Mark-Simulacrum commented on #37818
Done, I believe: https://github.com/rust-lang/rust/pull/41919.

[2017-05-16 12:44] #37818 closed

[2017-05-16 12:47] Mark-Simulacrum commented on #14817
Unfortunately I don't think this bug is actionable since I can't find working examples. @spinda if you still need assistance, I think an internals.rust-lang.org thread may be the most helpful.

[2017-05-16 12:47] #14817 closed

[2017-05-16 12:50] Mark-Simulacrum commented on #18524
Not sure what was meant by Option, since `Option<Error + Send>` is unsized so doesn't really apply; either way, I'm going to close this -- we can pursue Option in a separate issue if needed.

[2017-05-16 12:50] #18524 closed

[2017-05-16 12:55] Mark-Simulacrum commented on #37902
It seems that we want to use `CLOCK_MONOTONIC` and it's usage is intentional. As such, I'm going to close. I think utilizing `CLOCK_MONOTONIC_RAW` could work, but it'd need to be separately exposed... which isn't too big a problem but would probably look odd API wise, and is best maintained out of std, most likely.

[2017-05-16 12:55] #37902 closed

[2017-05-16 12:57] BurntSushi opened #42034 "from_str_radix panics for some values of radix"
The `from_str_radix` methods on the various number types panics if `radix < 2` or if `radix > 36`: https://doc.rust-lang.org/src/core/num/mod.rs.html#2693

I think we should fix this through one of two means:

1. Decide that it is a contract violation and document the cases where the function panics.
2. Decide that it is a normal error, be thankful that the `ParseIntError` internals aren't exposed

[2017-05-16 13:13] jonas-schievink commented on #42031
No, if you cause undefined behaviour in your unsafe code, all bets are off. Anything can happen, optimizations or a simple reorganization of your code may expose or mask the problem.

[2017-05-16 13:14] steveklabnik commented on #29351
This text:

See these iterators for example:

* https://doc.rust-lang.org/stable/std/iter/struct.Filter.html
* https://doc.rust-lang.org/stable/std/iter/struct.FlatMap.html
* https://doc.rust-lang.org/stable/std/iter/struct.Peekable.html
* https://doc.rust-lang.org/stable/std/iter/struct.Rev.html

[2017-05-16 13:19] MI53RE opened #42035 "Google search links to past version of rust-lang"
Wanted to start into Rust language and found out that google use old links to redirect user
instead of:
https://www.rust-lang.org/fr-FR/

I was redirected to:
https://www.rust-lang.org/fr/

Which contains the rust installator from December 22nd 2016
instead of the current one from April 27th 2017

Did try "es" and "es-ES" and got the same result (though "es" didn't had css applied)

[2017-05-16 13:24] ishitatsuyuki commented on #42000
I have cleaned the directory already, so feel free to close this issue as duplicate.

[2017-05-16 13:33] steveklabnik commented on #42035
could you re-file this against https://github.com/rust-lang/rust-www please? Thanks!

[2017-05-16 13:33] #42035 closed

[2017-05-16 13:33] nagisa commented on #41993
So I tried multiple implementation strategies, and none of them really yielded any substantial benefit for `starts_with` overall.

In the table below, `Two Way` is the Searcher based on the same algorithm as the string searcher, `Smart Jumping` is a greatly improved variant of the idea above, `This Patch` is a simple patch that does not change the searcher at all, only applies a few small tweaks a

[2017-05-16 13:35] michaelwoerister commented on #42000
Thanks, @ishitatsuyuki!

[2017-05-16 13:35] #42000 closed

[2017-05-16 13:40] DemiMarie opened #42036 "Always pass SECURITY_SQOS_PRESENT|SECURITY_IDENTIFICATION when opening a named pipe"
By default, opening a named pipe on Windows allows the server to impersonate the client.  This is a security vulnerability.  Pass `SECURITY_SQOS_PRESENT|SECURITY_IDENTIFICATION` to prevent this.

Since it fixes a security hole, I don’t think this needs an RFC.

[2017-05-16 13:42] MI53RE commented on #42035
Sure thing! My bad if that I filled it in the wrong place !!

[2017-05-16 14:10] alexcrichton commented on #42034
IIRC this is intentional, because the radix is 99% of the time a literal.

[2017-05-16 14:11] alexcrichton commented on #41197
Ok thanks @nrc! It sounds like we're going to discuss more of the stability story for the rls soon anyway? May be best to defer some of this to then if so.

[2017-05-16 14:17] sagebind commented on #21507
@dlight Currently, it already implements `Hash`.

I don't see an issue with implementing `Ord`, so long as we warn in the docs that the sort order doesn't indicate anything about the `Thread`s they correspond to.

The only issue I see is if we change the implementation later down the road to use system handles, it would be difficult to provide a stable `Ord` implementation (e.g. there's no `pthrea

[2017-05-16 15:01] alexcrichton commented on #41797
Ok I've [updated Cargo's beta](https://github.com/rust-lang/rust/pull/42040), updated our [master branch](https://github.com/rust-lang/rust/pull/42039) and updated our [beta branch](https://github.com/rust-lang/rust/pull/42040), this'll get closed when those start merging.

Thanks again for fixing this @jmatraszek!

[2017-05-16 15:12] Mark-Simulacrum commented on #37409
This edit by @mati865 seems to suggest that this has been fixed, so perhaps we can close? @mati865 could you confirm that you've managed to fix this or let us know if it's still broken (I assume it is, I think, since I don't recall us doing anything to fix it).

[2017-05-16 15:26] Mark-Simulacrum commented on #37935
This feels like not a bug to me, though I'll mark as a diagnostic issue since we probably should suggest adding a `;`.

[2017-05-16 15:35] Mark-Simulacrum commented on #37949
From what I can tell, this is not a bug -- or at least, is a side effect of current lifetime rules. As such, I'm going to close. It feels like this is something that is practically impossible to implement since it requires looking inside deref_mut.

[2017-05-16 15:35] #37949 closed

[2017-05-16 15:40] Mark-Simulacrum commented on #37971
This is still a fairly large problem today. We've been increasing the distribution's size; this is primarily because we are adding crates.io crates to the compiler's build which thereby makes their rlibs and dylibs be stored and shipped with the compiler.

[code]

[2017-05-16 15:42] Mark-Simulacrum commented on #37074
So there's certainly more room for improvement here, as always, but I think we made some fairly large advances with #37701 and #37569, so I'm going to close. If @Theemuts still sees extremely long compile times then we can reopen, but I think they should be down to something at least a little more manageable.

[2017-05-16 15:45] Mark-Simulacrum commented on #37993
This seems like a E-needstest, probably sufficient to just have a run-make test I guess, which will then be tested on the cross test platforms. @jseyfried Does that sound correct? Please untag as needstest if that's wrong.

[2017-05-16 15:51] Mark-Simulacrum commented on #38009
I feel like I saw an issue about this and closed it earlier, since this is really not our fault; if we want to track LLVM compatibility with various gcc versions we should open a single bug to track them.

[2017-05-16 15:51] #38009 closed

[2017-05-16 15:52] Mark-Simulacrum commented on #40974
I'm going to close this; if we think that we should be responsible for fixing LLVM's incompatibility with various newer GCC versions we can open a meta bug to track it and fix as we go, in general this feels like the kind of fix that we might want to just leave for "file a PR".

[2017-05-16 15:52] #40974 closed

[2017-05-16 15:52] sfackler commented on #21507
We wouldn't be able to implement `Hash` for system handles anyway, so I think that ship has probably sailed.

[2017-05-16 15:54] rillian opened #42042 "Internal compiler error: broken MIR in gecko_bindings"
Rust 1.18.0-beta.2 (f4e8e81c3 2017-05-11) fails to compile some stylo code in Firefox:
[code]

This is yesterday's firefox master with --enable-stylo.

[code]

See https://treeherder.mozilla.org/#/jobs?repo=try&revision=86ebd4aa3836&selectedJob=99289427 for a full build example.

[2017-05-16 15:56] cuviper commented on #21507
System handles also aren't globally unique when threads stop and new ones start. Is that a property we want to guarantee about `ThreadId`?

[2017-05-16 15:59] Mark-Simulacrum commented on #34311
Closing, I am fairly certain that question_mark is stable now.

[2017-05-16 15:59] #34311 closed

[2017-05-16 16:15] alexcrichton commented on #42042
cc @rust-lang/compiler

[2017-05-16 16:19] lilianmoraru commented on #41888
I am not sure if it is the same issue but it is related(opt-level > 0 = SIGSEGV or SIGILL).
This happens on both stable(`rustc 1.17.0 (56124baa9 2017-04-24)`) and nightly(`rustc 1.19.0-nightly (75b056812 2017-05-15)`)
In `Cargo.toml` I have only:
[code]

In `main.rs`:
[code]

If I set in `Cargo.toml`:
[code]

And build through `cargo build --release` - running the binary is ok.

If I set `opt-leve

[2017-05-16 16:27] nagisa commented on #41888
@lilianmoraru That’s https://github.com/rust-lang/rust/issues/28728.

[2017-05-16 16:28] Mark-Simulacrum commented on #38025
This appears to be fixed. Closing.

[2017-05-16 16:28] #38025 closed

[2017-05-16 16:37] Mark-Simulacrum commented on #22062
Yeah, I'm going to close as not a bug. I don't think there's anything wrong with the way rustc handles this.

[2017-05-16 16:37] #22062 closed

[2017-05-16 16:39] lilianmoraru commented on #41465
Both with `rustc 1.17.0 (56124baa9 2017-04-24)` and `rustc 1.19.0-nightly (75b056812 2017-05-15)`, I get:
[code]

I guess the issue was solved.

[2017-05-16 16:42] Mark-Simulacrum commented on #41465
I feel like you might not be compiling with `--crate-type=lib`?

[2017-05-16 16:45] jcoughlin9 opened #42043 "Building cross-compiler for x86_64-sun-solaris fails due to jemalloc error."
I am trying to build Rust 1.17.0 to cross compile to x86_64-sun-solaris and am running into an error similar to #15228. I am running on a CentOS 7 host with the default g++, v4.8.5.

Configuring with the following commands:

[code]

Produces the error:
[code]

Am I doing something wrong? Or does the issue with jemalloc still exist for x86_64-sun-solaris?

[2017-05-16 16:51] mati865 commented on #37409
Issue is resolved and should be closed.

[2017-05-16 16:52] Mark-Simulacrum commented on #27541
I'm going to close this. @FuegoFro if this is still a problem for you please answer the questions @alexcrichton asked and we'll reopen. Thanks!

[2017-05-16 16:52] #27541 closed

[2017-05-16 16:53] #37409 closed

[2017-05-16 17:00] Mark-Simulacrum commented on #25166
Yeah, I'm going to close in favor of #25165 because it represents the underlying problem here.

[2017-05-16 17:00] #25166 closed

[2017-05-16 17:07] sagebind commented on #21507
That's a good point. I think that's why we chose _not_ to use system handles in the first place: it makes `ThreadId` much harder to use and less useful.

@cuviper We don't currently make such a guarantee (which should reflect in the docs), but I think we _should_ guarantee globally unique IDs. Assuming we don't plan on changing the IDs from being a custom integer. If the range of IDs becomes a pro

[2017-05-16 17:13] rillian commented on #42042
I tried 1.19.0-nightly, but we hit #41620 before we get to this part of the build. I'll see if I can reduce a test case later today.

[2017-05-16 17:29] sfackler commented on #42036
Where do we use named pipes?

[2017-05-16 17:31] octoploid commented on #41465
I simply forgot to add it. It also happens with an empty file.
`touch foo.rs && valgrind --track-origins=yes --trace-children=yes rustc --crate-type staticlib foo.rs`

It turned out to be caused by jemalloc.
Building from source with (use-jemalloc = false) fixed the issue for me.

[2017-05-16 17:42] octoploid commented on #41465
Still happens with rustc 1.19.0-nightly (75b056812 2017-05-15).

[2017-05-16 17:49] DemiMarie commented on #42036
Nowhere, but it is possible to open a named pipe as a file.

On May 16, 2017 1:29 PM, "Steven Fackler" <notifications@github.com> wrote:

[2017-05-16 17:50] kennytm commented on #23334
@Mark-Simulacrum I'll check this weekend.

[2017-05-16 17:53] eddyb commented on #42042
Are the errors legitimate? i.e. is this just a case of ICE-on-error?

[2017-05-16 17:57] froydnj opened #42044 "add thiscall calling convention"
Trying to get servo/rust-bindgen working with win32 today, I ran into servo/rust-bindgen#541, where the `__thiscall` calling convention wasn't supported in bindgen.  (My use of bindgen doesn't actually generate calls to `__thiscall` functions, but the function representations need to support `__thiscall` AFAICT.)  Tracing back through the stack, it's not supported in `syntex_syntax`, and adding th

[2017-05-16 17:57] froydnj commented on #42044
cc @emilio

[2017-05-16 18:22] rillian commented on #42042
I don't know, actually. It's complaining about non-static size computing an array offset, but earlier accesses with a static offsets are accepted, which seems bogus to me. i.e. `shape.mCoordinates[1]` is fine but `shape.mCoordinates[2 * i]` is not.

[2017-05-16 18:24] eddyb commented on #42042
cc @arielb1 Does this look like a bug you fixed on nightly and hasn't been backported yet?

[2017-05-16 18:58] nbigaouette-eai commented on #20267
I can't find anything about this in the reference either.

Using `#[cfg(crate_type="cdylib")]` to include something only when `cdylib` crate is being built (with `crate_type = ["rlib", "cdylib"]` in Cargo.toml) does not work for me either.

I would like to do this to not have to expose an unsage API meant to be consumed by FFI/Python.

[2017-05-16 19:00] retep998 commented on #42044
See also https://github.com/rust-lang/rfcs/issues/1342

[2017-05-16 19:02] Xion opened #42045 "Overly strict lifetime reqs when unpacking structs"
Playground link: https://is.gd/M1ruXP
[code]

I've encountered this issue when trying to "copy" [this structure](https://docs.rs/gif/0.9.1/gif/struct.Frame.html) (`gif::Frame<'a>`) into a `'static` equivalent that replaces a borrowed buffer with an owned (empty) one, because I was only interested in the remaining fields.
But unfortunately, because unpacking such as above is incorrect, I had to met

[2017-05-16 19:02] durka commented on #41906
We can add a `#[rustc_on_unimplemented]` hint to `std::borrow::Borrow`. Concise wording will be tricky though.

[2017-05-16 19:52] Mark-Simulacrum commented on #25110
@nikomatsakis You were going to dig into this issue more back in 2015, but I assume that didn't happen. Perhaps you could take a look today?

[2017-05-16 20:02] tommyip commented on #23113
I want to take a stab at doing this, how should one check if a test contains assertions? (regex? or is there a better way?)

[2017-05-16 20:02] arielb1 commented on #42042
That bug only looked like it affected failed compilations, but some variant might be affecting running ones.

[2017-05-16 20:03] Mark-Simulacrum commented on #25425
To my knowledge we've not yet changed anything here. Arguably, this is also relevant for discussion elsewhere that wants to rewrite long error diagnostic extraction to take a different approach.

[2017-05-16 20:09] Mark-Simulacrum commented on #23113
I would either add this to compiletest (`src/tools/compiletest`) or make it a tidy check (`src/tools/tidy`). If in compile test, I would probably look for the code that loads in tests. I'm somewhat preferring using tidy for this, but would be fine with either. I'm also not entirely sure we even want this -- tests without assert_eq/assert seem fine to me, if for example they're testing for a lack o

[2017-05-16 20:13] Mark-Simulacrum commented on #23488
I'm somewhat confused. Do we somehow include debuginfo in release builds without trying to on macOS? Or does Instruments.app have some form of integrated debuginfo generation?

[2017-05-16 20:17] Gankro opened #42047 "Result-based error handling optimizes very poorly for large payloads"
The overhead seems to mostly be extra memcopies.

## Method

I tested three cases:

* `direct() -> Result<Huge, ()>`
* `direct_boxed() -> Result<Box<Huge>, ()>`
* `indirect(&mut Huge) -> Result<(), ()>`

<details>
<summary>Click For Code</summary>

[code]
</details>

## Bench Results:

[code]

## ASM

<details>
<summary>ASM for bench_direct_boxed's closure</summary>

[code]

</details>

<details>

[2017-05-16 20:18] Mark-Simulacrum commented on #24384
This seems like we'd want to do stricter validation of types. I'm somewhat surprised we don't today, but it's possible this could be fixed by moving to Serde for deserialization (even if just into serde_json::Value) since it does far more strict validations.

[2017-05-16 20:20] jseyfried commented on #37993
@Mark-Simulacrum Yeah, that sounds correct -- a run-make test is probably best here.

[2017-05-16 20:20] Mark-Simulacrum commented on #25781
I'm going to close -- I feel like this is something that we might be able to handle better but @ndarilek hasn't responded if the workaround or the PR linked in the previous comment helped. It also seems like others don't experience this, so perhaps it's an environment specific issue (though we'd love to alleviate those too).

[2017-05-16 20:20] #25781 closed

[2017-05-16 20:24] Mark-Simulacrum commented on #26592
I'm not quite sure what this is suggesting. I think it wants us to pretend the system allocator is jemalloc if --disable-jemalloc? But I'd expect that to be transparent to us (whether the systema alloc is jemalloc or not we should still call the same functions, I think -- not certain, though.) On the other hand, it's possible this is asking that when the APIs are available then we should compile w

[2017-05-16 20:24] #26592 closed

[2017-05-16 20:26] Mark-Simulacrum commented on #26639
I'm going to close in favor of https://github.com/rust-lang/rust/issues/24666.

[2017-05-16 20:26] #26639 closed

[2017-05-16 20:27] Mark-Simulacrum commented on #24666
Few more things from the issue I closed as a duplicate of this one:

- If relative paths are used different relative paths pointing to the same file will be seen as different targets (this is the problem here)
- Relative paths pointing to _different_ files may result in a match (not really noted here, but a problem)
- If absolute paths are used the target specifications may not be moved around the

[2017-05-16 20:28] Gankro commented on #42047
For reference, this is basically a simplified version of what webrender parsing its display lists with bincode looks like.

[2017-05-16 20:35] Mark-Simulacrum commented on #38060
I think this isn't really a bug. I agree that changing it would likely cause a lot of breakage; I think the "right way" @jseyfried suggests is a good alternative. It represents the reality of the situation more clearly, to me, at least. As such, I'm going to close.

[2017-05-16 20:35] #38060 closed

[2017-05-16 20:37] Mark-Simulacrum commented on #22462
I think the error we give is at least very clear so I'm going to close. It's unlikely we're going to make the changes that are asked for here for macro_rules specifically.

[2017-05-16 20:37] #22462 closed

[2017-05-16 20:43] #41644 closed

[2017-05-16 20:44] Mark-Simulacrum commented on #38095
According to https://github.com/rust-lang/rust/issues/37403, static-nobundle has been implemented and so we can close this -- that *is* the correct way to do this I think.

[2017-05-16 20:44] #38095 closed

[2017-05-16 20:54] Mark-Simulacrum commented on #38115
I can't find either local-rust-root or enable-local-rust in bootstrap.py today. Could you clarify if this is still a problem, @alexcrichton?

[2017-05-16 20:56] Mark-Simulacrum commented on #38120
cc @rust-lang/compiler, should we update this documentation?

[2017-05-16 20:58] Mark-Simulacrum commented on #38118
Closing in favor of https://github.com/rust-lang/rust/issues/26719.

[2017-05-16 20:58] #38118 closed

[2017-05-16 21:01] Mark-Simulacrum commented on #24159
Edited original post to remove `PhantomFn` bounds, they're no longer needed. Issue still reproduces:

[code]

[2017-05-16 21:02] djzin commented on #41985
Ah, no this is not the reason. In fact, if you add an extra scope, the error becomes clear:

[code]

[code]

This is the main problem here IMO. One lifetime *is* longer than the other one, but they end on the same line, which is very confusing (specifically, one ends *before* the function returns, the other ends *after* the function has returned).

[2017-05-16 21:03] Mark-Simulacrum commented on #38133
The relevant ICE issue was fixed, so I think we may be able to do this today.

[2017-05-16 21:05] Mark-Simulacrum commented on #38160
This compiles today; E-needstest.

[2017-05-16 21:11] Mark-Simulacrum commented on #38172
The steps above should be helpful. Seeing as there's no further comments from @nicolattuso I'm going to take the assumption that they're either not interested or these steps worked, so closing.

[2017-05-16 21:11] #38172 closed

[2017-05-16 21:13] Mark-Simulacrum commented on #38201
More jobs means more money though I believe and we'd have to recompile the compiler; so I don't think this would be all that helpful. Closing.

[2017-05-16 21:13] #38201 closed

[2017-05-16 21:14] Mark-Simulacrum commented on #38198
Yeah, still a problem.

[2017-05-16 21:15] Gankro commented on #42047
I expect the bottleneck is that the indirect and direct versions appear to have very different error semantics without a full picture: direct preserves the old value on Err, while indirect partially overwrites the old value on Err. In our case we simply don't care what the value is on Err, so the two are semantically identical. However knowing this requires fairly strong alias information.

[2017-05-16 21:20] Mark-Simulacrum commented on #38211
Tagging with T-doc. cc @rust-lang/docs, maybe this is good for inclusion into the reference? Or the book?

[2017-05-16 21:23] Mark-Simulacrum commented on #37366
Unassigning since @jseyfried probably isn't going to be the one to add the test.

[2017-05-16 21:26] Mark-Simulacrum commented on #12404
Yeah, I think that we've solved this.

[2017-05-16 21:26] #12404 closed

[2017-05-16 21:28] Mark-Simulacrum commented on #26281
Rebranding this as `#[must_use]` silently does nothing on type aliases.

[2017-05-16 21:29] Mark-Simulacrum commented on #38338
We currently don't even seem to know about this unless -Zunstable-options is passed, which make it incredibly hard to discover. I think there's a note somewhere about that, but I don't know quite where. Just noting here.

[2017-05-16 21:31] ndarilek commented on #25781
Ack, sorry I failed to respond, I switched back to Linux 1.5 years ago
and couldn't be happier. Not sure if this issue still exists, but I
haven't been in a position to test it for a while anyway. Thanks for
closing it.

[2017-05-16 21:34] Mark-Simulacrum commented on #37536
I'm going to close this -- we'd be happy to take PRs, but individually I don't think this is very actionable.

[2017-05-16 21:34] #37536 closed

[2017-05-16 21:39] jethrogb opened #42048 "UnixStream doesn't support abstract addresses"
From [RFC 1479](https://github.com/rust-lang/rfcs/blob/master/text/1479-unix-socket.md):

This feature is described in the Linux [unix(7)](http://man7.org/linux/man-pages/man7/unix.7.html) manpage.

This issue tracks the absence of (and hopefully future development of) this feature.

[2017-05-16 21:48] froydnj commented on #42044
So, uh, we should just do this, then? 😁

[2017-05-16 21:51] SimonSapin commented on #37838
For what it’s worth, https://github.com/servo/servo/pull/16899 is a case where `process::abort` and `intrinsics::abort` are significantly different.

[2017-05-16 21:52] maccoda commented on #29351
Perfect. Thank you.

[2017-05-16 22:14] aturon commented on #32519
This is currently intended behavior. In general, it would be unsound to allow `convert` to assume that `Target` is `T` if you can individually specialize to a different associated type later. (There are some alternative designs, but that can be discussed on the [tracking issue](https://github.com/rust-lang/rust/issues/31844)).

I agree that the error is not great, and would be happy to see an issu

[2017-05-16 22:14] #32519 closed

[2017-05-16 22:20] lilianmoraru commented on #41465
Ok. I just tried to reproduce the commands in the issue(also created the same file in `/tmp`).
Now I tried with `--crate-type staticlib` and I can't reproduce the crash:
[code]

[2017-05-16 22:40] cuviper commented on #42030
Ugh -- I added rust-installer to the main workspace, but that means bootstrap can't build at all when the workspace is incomplete, so we never get the chance to automatically update submodules.

@alexcrichton any suggestions?

[2017-05-16 23:27] #41803 closed

[2017-05-16 23:34] alexcrichton commented on #42030
Bah this actually isn't the [first time we've hit this bug](https://github.com/rust-lang/rust/issues/40291), I should have caught this in review!

@cuviper I think the solution is to move the submodule logic to the python `x.py` script instead of rustbuild itself, and that's currently happening as part of https://github.com/rust-lang/rust/issues/40291, but if it happens ahead of that I think that'

[2017-05-16 23:36] alexcrichton commented on #38115
Oh sorry this is a configure script option, `--enable-local-rust`, and it may or may not be fully implemented in rustbuild, I foget the status of it :(

[2017-05-16 23:39] aldanor commented on #32077
@mjkillough Just to add, in my case it looks like this (in hdf5-rs crate):

[code]

This way, help for `File` would ideally display (1) base methods from Object, (2) methods from File, (3) shared Container methods. Currently, it displays none, of course...

[2017-05-16 23:39] cuviper commented on #42030
You linked the #40291 issue twice -- is there a different number where the submodule logic is changing?

[2017-05-16 23:39] fcofdez commented on #41875
Is someone working on this issue? I would like to help with it.

[2017-05-16 23:40] alexcrichton commented on #42030
Oops sorry about that, the second link was intended to be https://github.com/rust-lang/rust/pull/41639

[2017-05-17 00:10] ForsakenHarmony commented on #35706
any updates?

[2017-05-17 00:15] rillian commented on #42042
I've extracted enough of the relevant code to build a [testcase](https://people-mozilla.org/~rgiles/2017/nscoords-reduction.rs). This compiles on 1.17-stable and 1.19-nightly, but [generates a warning and then an ICE](https://play.rust-lang.org/?gist=5d11ede7f185503b3755c3874cbe7fc7&version=beta&backtrace=1) in 1.18.0-beta.2.

It can probably be reduced further, but the issue was in a large collec

[2017-05-17 00:21] durka commented on #41022
I tried in #40984 to parse a pattern like `$(#[$attr:meta])* $v:vis` but the visibility isn't enough to terminate the repetition. It's unclear if this is a systemic issue with `macro_rules!` or if it can be worked around.

[2017-05-17 00:41] sfackler commented on #42048
This should be pretty easy to add for anyone that's interested!

[2017-05-17 01:12] z1mvader commented on #41875
Hi, I'm currently working on it. I'm working on the tests

[2017-05-17 01:24] jethrogb commented on #42048
Not that easy... I'd probably want to change `UnixStream::connect` to take a `A: Into<SocketAddr>` and then `impl<T: AsRef<Path>> From<T> for SocketAddr`. But, that conversion is fallible (see `std::sys::unix::ext::sockaddr_un`). So you need `TryInto`. But then you can't supply a `SocketAddr` directly until we get `impl<T, U> TryFrom<U> for T where T: From<U>`, which requires `!`...

[2017-05-17 01:53] BartMassey commented on #23818
Hey, I just hit this too!

Maybe a sufficient compromise that would make everybody reasonably happy is just a `prompt!()` macro which behaves like `print!()` but flushes? I'd be happy to have such a macro, which would solve the most common case. Add it to the *Guessing Game* tutorial and everybody will notice it.

I'd prefer that `print!()` and `println!()` flush when `stdout()` is a tty. I can't

[2017-05-17 03:18] sfackler commented on #42048
Abstract namespaces are Linux only so we'd only want to make them available through a Linux-only method. Probably something like

[code]

[2017-05-17 04:21] #41936 closed

[2017-05-17 04:21] #41697 closed

[2017-05-17 04:57] rocallahan commented on #33707
Can't this be closed now that #39799 is merged?

[2017-05-17 05:01] jethrogb commented on #42048
That seems like a strange API, to have two different connect functions. You can have it be Linux only to have an extension trait to create a SockAddr on Linux only.

[2017-05-17 05:07] sfackler commented on #42048
Why is it impossible to implement `TryFrom` from a type to itself without `!`?

[2017-05-17 05:44] est31 commented on #42042
Minimized:

[code]

Same properties as the example by @rillian above: it compiles on stable and nightly, but gives an error and ICE on beta.

[2017-05-17 05:45] octoploid commented on #41465
You have to run under valgrind to see the issue.

[2017-05-17 05:56] est31 commented on #42042
Interestingly, this also ICE's on beta while compiling fine on nightly + stable, but it gives a different error message. The error message hints that this bug might be a dupe of #41944.

[code]

The error message in question:

[code]

[2017-05-17 05:57] retep998 commented on #42048
@sfackler Because we want to indicate that the `TryFrom` implementation will *never* fail, so gotta wait until `!` is available.

[2017-05-17 06:20] #33707 closed

[2017-05-17 06:20] est31 commented on #42042
The example looks very similar to [this one](https://github.com/rust-lang/rust/issues/41604#issuecomment-298222109) of issue #41604. Issue #41944 says that its fixed on nightly as well, but not on beta. @arielb1 do you think this issue is a dupe?

[2017-05-17 06:23] octoploid commented on #41465
Hmm, it depends on the version of glibc. Older versions seem to work fine.

[code]

[2017-05-17 06:52] retep998 commented on #19834
I'm a firm believer that the lint *should* fire in this case. That niche usage does not mean we should let this massive footgun go by without any warning at all.

[2017-05-17 06:55] retep998 opened #42050 "improper_ctypes behaves weird around function pointers"
[code]
[code]

[2017-05-17 07:17] soltanmm commented on #32730
IIRC all the reasons to do this are similarly addressed by efforts in Chalk and its eventual integration (though I'm saying this as someone who's been out of the loop for a while).

[2017-05-17 07:28] Wetitpig commented on #40172
Let's see

[2017-05-17 07:37] oli-obk commented on #41698
This can be tagged E-mentor and E-easy. Instructions are given in my previous comment. Feel free to ask me any questions about this here or on irc.

[2017-05-17 08:29] ishitatsuyuki opened #42051 "Replace ./configure with a script that generates config.toml"
The rustbuild code is really bloated with code handling options from both `config.mk` and `config.toml`. We can silently replace configure with a script that generates TOML instead.

That should be possible with bash, but we can also use Python due to it's advantage like being cross platform, and a more general purpose language.

[2017-05-17 08:33] sanmai-NL commented on #42047
On what hardware were the benchmark results obtained?

[2017-05-17 08:35] TimNN commented on #42051
Duplicate of #40730

[2017-05-17 08:35] #42051 closed

[2017-05-17 08:37] TimNN commented on #42043
I would just try building without jemalloc, `./configure --disable-jemalloc` should do the trick, I think.

[2017-05-17 08:39] michaelwoerister commented on #23488
I've used perf quite a bit lately and have had no problems. However, I don't expect it to work without `-C debuginfo=1`. Does `perf` handle C programs (compiled without debuginfo) better?

[2017-05-17 08:42] sanmai-NL commented on #42034
How can failing to parse something potentially untrusted ever be construed as a contract violation? In my eyes it is logical to return an `Err` instead here.

The contents of a string does not observe any invariant other than being a string.

[2017-05-17 08:45] sanmai-NL commented on #42034
@alexcrichton: be it as it may that the expected use case on string literals makes the assertion more acceptable, since this method is already fallible, is there a great cost to not using the assertion there?

[2017-05-17 09:05] dhardy commented on #37339
I noticed a small inconsistency between documentation and implementation: the doc claims

but the impl doesn't support `break ()` in `while` or `for` loops.

Perhaps this is for the best anyway until "break with value" is supported by `for` and `while`.

[2017-05-17 09:15] sanmai-NL commented on #42034
If returning `Result`s is found too costly for a parsing function, then perhaps it can be implemented to panic given a `&'static str` argument. That is, assuming that is deemed trusted inputs. This is a general suggestion, the API can't be changed so easily of course. For sure, the current implementation isn't consistent in its error handling approach.

[2017-05-17 09:22] retep998 commented on #40730
Making bash mandatory to build Rust is a huge regression. For the sake of all the Windows users out there, please don't.

[2017-05-17 09:33] BurntSushi commented on #42034
The contract violation is in the set of allowable values for the `radix` parameter, not the string.

[2017-05-17 09:42] sanmai-NL commented on #42034
@BurntSushi: Sorry, I was completely mistaken! Seems I misread there. 😕

I still wonder whether replacing the assertion with an early return has a significant performance cost at all. From my perspective, avoiding a panic is worth a lot, but perhaps some people with high performance requirements disagree?

[2017-05-17 09:42] petrochenkov commented on #40730
@retep998
I didn't mean `./configure` shell script literally, just splitting rustbuild into separate configuration and build stages.

[2017-05-17 09:50] BurntSushi commented on #42034
Why do you think performance has anything to do with this? Doesn't seem related to me.

[2017-05-17 10:39] sanmai-NL commented on #42034
Do you see another reason why the assertion was put in (1) instead of an `Err` return (2)? Do you agree it has the downside making handling errors harder? I do not see any downsides to 2 in this case. So I take it there must be a very good motivation to implement 1. When `abort` is the panic strategy, I believe 1 is less costly than 2. But I do not have benchmarks to back this up.

[2017-05-17 10:47] arielb1 commented on #42042
Yeah. Let's see whether it is fixed after backporting before we close it.

[2017-05-17 10:50] #35829 closed

[2017-05-17 11:04] chrivers opened #42054 "Impl for unrelated trait makes type checker a happy camper"
I've been scratching my head over this for a while, and spent a good while condensing it into the smallest possible reproduction:

[code]

If we leave the `fix` {} mod commented, we get this error:

[code]

I mean, fair enough, maybe they do conflict, when not taking the trait bounds into account. However, enabling the 2 `fix` impls makes this both compile and (in the upstream project) work just f

[2017-05-17 12:04] dhardy commented on #37339
New reference PR: https://github.com/rust-lang-nursery/reference/pull/56

[2017-05-17 13:03] tommyip commented on #23113
Ok I will put this on hold, I will have a look at #40713.

[2017-05-17 13:19] nikomatsakis commented on #41727
Per the previous comment, I'm going to close this issue as "working as expected". @thiolliere, I apologize for the regression and appreciate the bug report. (I see you've already patched your master branch, otherwise I'd open a PR with the fix.)

[2017-05-17 13:19] #41727 closed

[2017-05-17 13:44] luser opened #42057 "Better error message than E0573 when you typo a colon in place of a semicolon"
I made this typo in some code I was writing just now, a colon in place of a semicolon after a function call, with another function call on the next line:
[code]

[Run it on play](https://play.rust-lang.org/?gist=8dcb2993683495112686576d6766edfc&version=stable&backtrace=0).

The compiler errors with:
[code]

This is technically correct, but it was confusing and it took me a few minutes to realize w

[2017-05-17 14:09] wesleywiser commented on #42057
Related to #41928 but not the same error message.

[2017-05-17 14:17] luser commented on #42057
Oh! I looked for other issues but didn't find anything obvious. I'm happy to close this in favor of that. Could you put some of the keywords from my issue title into yours? Perhaps at least the error number, 'colon' and 'semicolon'.

[2017-05-17 14:25] wesleywiser commented on #42057
I think they are separate issues since mine involves a macro. My test case doesn't actually generate an error number: [playground link](https://is.gd/EcktYE)

[2017-05-17 14:28] Gankro commented on #30877
Can I nominate this for FCP? Seems like it does what it needs to do; fully general.

[2017-05-17 14:47] rillian commented on #42042
Thanks, @est31 and @arielb1!

[2017-05-17 15:54] glaebhoerl commented on #30877
I've had various ideas w.r.t. the design which I posted and each time the discussion got moved somewhere else, I can't remember what they were and I'm too lazy to look them up, but at least let's call it something like `IsRange` instead of `RangeArgument` because there's nothing limiting it to being used in argument position.

[2017-05-17 16:01] arielb1 commented on #41696
Root cause is https://github.com/rust-lang/rust/issues/41696. This variant affects all versions of rustc including 1.8.0:

[code]

[2017-05-17 16:05] jethrogb commented on #42048
Actually that might still not work, because now you need `TryFrom<Err=io::Error>` for `AsRef<Path>` and `TryFrom<Err=!>` for `SocketAddr`...

[2017-05-17 16:17] sfackler commented on #42048
@retep998

1. `!` is not the only way to indicate that. `String`'s `FromStr` impl has always been infallible: https://doc.rust-lang.org/src/collections/string.rs.html#1829-1852
2. How is that valuable in any way in practice? When have you ever said, "man, this code I'm trying to write would have been way better if `some_socket_addr.to_socket_addrs()` returned a `Result<T, !>` instead of `Result<T,

[2017-05-17 16:27] sfackler commented on #30877
Seems reasonable to FCP for stabilization. I'd be fine renaming as part of that!

@rfcbot fcp merge

[2017-05-17 16:36] jFransham opened #42060 "ICE when using `typeof`"
Obviously `typeof` isn't used in the current version of Rust, but if you do try to use it you get some strange behaviour. `rustc` correctly reports that `typeof` is unimplemented, and the error message is sensible if used with a constant expression, but using it with local variables causes an ICE.

Minimum code sample:

[code]

I'd expect this to return the same error as doing `typeof(5)`, which i

[2017-05-17 16:45] jethrogb commented on #33417
@Ericson2314 [you wrote](https://github.com/rust-lang/rust/issues/33417#issuecomment-233014178):

How would this work in practice? I'm trying to write a function like this:
[code]
Except this of course doesn't work, I need to specify `Error=` on `TryInto`. But what type should I write there? `MyError` seems obvious bu then I can't use `MyType` with the blanket `TryFrom` impl.

Are you suggesting t

[2017-05-17 16:54] glaebhoerl commented on #30877
I guess one relevant question is, might we want `&mut self -> Bound<&mut T>` methods as well? Even if no need for them has come up so far, adding methods to a trait isn't backwards compatible. Or would those belong in a separate `Mut` trait anyways? (It'd be easy to automatically say "yes" on the basis of widespread precedent in `std`, like `DerefMut` and `IndexMut` and so on, but it's not obvious

[2017-05-17 16:54] krdln commented on #21906
@nikomatsakis Could you please elaborate more on how NLL interacts with this issue? In my mental model of `&mut` references, they can be passed either by *move* or *reborrow*, and the problem in this issue is that the return requires the *move* mode, and the re-use of `self` afterwards requires *reborrow*. In my understanding, the new *reborrowed* `&mut` reference's lifetime is limited by the life

[2017-05-17 17:14] dtolnay commented on #40380
@rfcbot reviewed

[2017-05-17 17:16] dtolnay commented on #40893
Reverse is a better name.

@rfcbot resolved rev

[2017-05-17 17:16] dtolnay commented on #40893
@rfcbot reviewed

[2017-05-17 17:45] jdm commented on #39160
I waste _so_ much time doing builds of Servo on branches that have codegen-units enabled before realizing that I need to disable it so I can poke around in lldb. Could we please have someone spend some time on fixing this or https://github.com/rust-lang/cargo/issues/3897?

[2017-05-17 17:46] Gankro commented on #30877
I think the trait should really be anchored in the consumers of this trait. In this case everyone who needs a RangeArgument only needs read-only access.

Mutating the bounds of a range seems like a very strange thing, but in the case that you wanted that you *probably* also want to go from `Bound(X)` to `Unbound` or vice-versa. But that can't be supported in general without changing types (`..` is

[2017-05-17 18:02] Gankro opened #42061 "trait/struct name conflict error confusingly worded"
[code]

[code]

Two things are confusing here:

* Using "already" here is confusing because it makes you think that the compiler is talking about two conflicting traits, when the conflict is that we're declaring a struct with the same name as a trait.

* "`Foo` already defined" looks like it's trying to indicate the place of the first definition, and not the place of the second.

Random recommenda

[2017-05-17 18:54] Xaeroxe commented on #28237
It's been 24 days since my proposal was provided and no comments have been given.  Should we move forward with that plan?

[2017-05-17 19:08] nikomatsakis commented on #10184
So, I think at this point @jorendorff basically enumerated [what seems to me to be the best plan](https://github.com/rust-lang/rust/issues/10184#issuecomment-299229143):

- `as` will have some deterministic behavior;
- we'll pick a behavior based on a combination of how sensible it is, and how efficient it is

He enumerated three possibilities. I think the remaining work is to investigate those po

[2017-05-17 19:14] withoutboats commented on #28237
@Xaeroxe I don't think so. I don't agree that deprecating `...` in favor of `..=` is a good choice for reasons I have already posted in this thread. I didn't reply to your specific proposal because the same idea had already been put forward and discussed. The only thing that's clear here is that we don't have consensus. I think many of us feel fatigued by the discussion.

[2017-05-17 19:49] QuietMisdreavus opened #42064 "Move FFI documentation from the Book to the Nomicon"
After some discussions in the docs team meetings about #31227, it became clear that FFI documentation doesn't really have a good place any more. The second edition of TRPL decided not to include a follow-up to the FFI discussion that the first edition had. Therefore, once that gets published and more or less supplants the first edition, we risk losing that documentation entirely. Moving it to the

[2017-05-17 19:55] nikomatsakis opened #42065 "closure errors should explain **why** a closure is `FnOnce` etc"
In #41772 we were discussing improving [how we could improve closure error messages by identifying an upvar that forced the closure to be `FnOnce`](https://github.com/rust-lang/rust/pull/41772#discussion_r115312082); this may apply to other messages too.

The idea is that the `src/test/ui/fn_once-moved.rs` test (shown below):

[code]

ought to give an error like:

[code]

The compiler will, howeve

[2017-05-17 20:04] Xaeroxe commented on #28237
(I shift views a bit during this comment, I decided to leave it all so others could see my thought process and why I came to the conclusions I did)

I can't really comment on the cost of deprecation due to my lack of experience with such things.  However I am still in support of `..=`.

I think at a certain point we have to be willing to ask users to learn something.  Programming as a whole is som

[2017-05-17 20:08] QuietMisdreavus opened #42066 "rustdoc: disambiguate between types of the same name"
As an extension to #38414 and #39589, any hyperlinked reference to some type should be checked against everything within that crate - within any dependent crate too, if possible. This will help clear the confusion between the perennial problem types in std, `std::result::Result` and `std::io::Result` (and to a lesser extent, `std::io::Write` and `std::fmt::Write`).

Some before/after screenshots m

[2017-05-17 20:13] Boscop commented on #28237
@withoutboats

1.
If you never deprecate anything, you end up with the union of all (more or less) bad decisions like C++. This forces newbies to learn even more because things aren't as consistent as they could be.
So sometimes it makes sense to deprecate stuff to make way for the better solution.

2.

This is the case with any syntax. We who know Rust have this bias because to us, Rust code look

[2017-05-17 20:26] QuietMisdreavus commented on #42064
Getting this working basically involves copying the FFI chapter out of [rust-lang/book](https://github.com/rust-lang/book) and into [rust-lang-nursery/nomicon](https://github.com/rust-lang-nursery/nomicon). In the docs team discussion, @steveklabnik said it would be best to leave the 1st edition book as-is, since it's intended to be fairly static now that the 2nd edition is nearly finished, so you

[2017-05-17 20:34] aturon commented on #36556
cc @rust-lang/core

[2017-05-17 20:36] ollie27 commented on #42066
Related to #34999.

[2017-05-17 21:16] michaelwoerister commented on #39160
I'm inclined to just make a PR with the fix I mentioned above (=generate a unique filename for the codegen unit that does not correspond to an actual file). It's (kind of) incorrect with regards to DWARF but it should hurt neither function nor file/line breakpoints, I think, since debuggers and profilers already have to deal with functions coming from files that are not equal to the file the CGU s

[2017-05-17 21:25] cengizIO commented on #41806
Since we've merged #41716 I think this can be closed.

[2017-05-17 21:27] Mark-Simulacrum commented on #41806
Agreed; closing. Let us know if anyone can reproduce on recent nightlies.

[2017-05-17 21:27] #41806 closed

[2017-05-17 21:44] tommyip commented on #42065
I would like to have a go at this.

[2017-05-17 22:18] aturon commented on #28237
As @withoutboats said, I think many of us are weary of this discussion; I for one have been sitting it out for a while. That said, I took some time to re-read (thanks for the summary @Xaeroxe!) and revisit my thoughts here.

IMO, **the most important problem right now is the incomplete combination of syntaxes we provide**: `...` in patterns, `..` for expressions. This pair of syntaxes *strongly* l

[2017-05-17 22:35] ssokolow commented on #28237
I worry about selection bias here. We have no reliable way to judge whether the problems are minor or whether they just rarely come to our attention.

Also, using `...` feels like it runs counter to the "avoid footguns unless the trade-offs are too severe" aspect of Rust's design philosophy and emerging best practices. (eg. The advice to create new `enum` types rather than using `bool` so it's har

[2017-05-17 22:37] aturon commented on #28237
@ssokolow To be clear, I'm fine with `..=` too; i don't think the deprecation will be so painful, and it's a very easy automatic fix. Mostly I just want to get this issue resolved.

[2017-05-17 22:51] withoutboats commented on #28237
I can probably live with stabilizing `..`/`...` (which is already implemented on nightly). I agree with @aturon that the language as it exists suggests this will work.

[2017-05-17 22:57] jorendorff opened #42072 "New `trace_macros!` messages are inaccurate"
https://is.gd/8JnZ5V

[code]

Output is:

[code]

The first message here is inaccurate. The `assert_eq!` macro-use does not expand to that `panic!` macro-use.

`trace_macros` shows the *input* to macros, not the output. So instead of "expands to:", it should say "expanding:". But changing the behavior to match what the message says would be even better. ;)

This is a regression because the error m

[2017-05-17 23:00] pmarcelll commented on #36556
Thanks for looking into this issue!
The code comes from #9710, from the first comment:

So I guess it's worth asking him, he's active on Github.

@dvyukov with all due respect, can you help us resolve this issue? The real issue is that the code in question has a different license than the rest of the codebase (although the Apache2/MIT dual license is very similar to the BSD license).

[2017-05-17 23:07] estebank commented on #42072
Introduced in #41520.

[2017-05-17 23:20] estebank commented on #41897
Previous stab at this: #39231.

[2017-05-17 23:27] estebank commented on #41962
There probably should be only one move error in this code, should't it?

Would the following output be enough (with very small changes to the existing code)?

[code]

[2017-05-17 23:44] nrc commented on #41430
Whether a feature is desugared or not is an implementation detail and we should do what makes the most sense from the user's POV, not the compilers. Desugaring can take place after name resolution if we like, so we don't need to change the implementation either.

[2017-05-18 00:07] jorendorff opened #42075 "ownership: Extra `{}` in code sample"
Is there a reason for the block around this code?

[2017-05-18 00:15] clarcharr commented on #28237
As I've said, I'd really like to stabilise the libstd type when rust-lang/rfcs#1980 passes without requiring a syntax discussion.

Alongside what @aturon pointed out, perhaps it'd be useful to merge the tracking issues for both this and exclusive range syntax? Perhaps make a separate tracking issue for the type and use that to stabilise the type before the syntax.

[2017-05-18 01:12] Mark-Simulacrum commented on #38180
Updated backtrace:

[code]

[2017-05-18 01:16] Mark-Simulacrum commented on #25663
@rust-lang/libs: Looks like this needs some thought; I've nominated. Possibly interesting for libz blitz discussion, too, since it relates to number types in wider library set; for example [`serde_json::Number`](https://docs.rs/serde_json/1.0.2/serde_json/struct.Number.html) doesn't implement min/max inherently, but should it?

I think that the things that have been brought up are:
 - Rewriting co

[2017-05-18 01:23] Mark-Simulacrum commented on #38361
I'm going to close this -- if someone's motivated, a post on internals is probably the best way to go. Realistically, there's no current place to put these (rust-lang-deprecated doesn't quite fit, though could work), so this isn't really actionable, and no one other than owners can even move these, which is a limited set of people for whom this issue is unlikely to make a difference -- this doesn'

[2017-05-18 01:23] #38361 closed

[2017-05-18 01:23] Mark-Simulacrum commented on #38381
This no longer ICEs. E-needstest.

[2017-05-18 01:25] Mark-Simulacrum commented on #36415
Closing in favor of https://github.com/rust-lang/rust/issues/34376.

[2017-05-18 01:25] #36415 closed

[2017-05-18 01:25] Mark-Simulacrum commented on #34376
Copying from #36415.

So investigating this leads me to believe that we're handling something incorrectly here: https://github.com/rust-lang/rust/blob/77f1bec6f5eb9ed632c973b97b12701294e6d3a5/src/libstd/io/stdio.rs#L691. The panic! seems to still be called despite the error being IO-related:

[code]

[2017-05-18 01:28] Mark-Simulacrum commented on #38276
Closing in favor of https://github.com/rust-lang/rust/issues/39037. I think that ultimately, making this the default is possibly something we want, but adding support for the compiler figuring out what the number is is a good first start; we can then proceed to making it the default if we want, though I think the wins from this will hopefully be lessened with time -- incremental comp. already gene

[2017-05-18 01:28] #38276 closed

[2017-05-18 01:56] Mark-Simulacrum commented on #30710
I'm going to close this; I can't seem to see anything inherently broken here and according to https://forge.rust-lang.org/platform-support.html the ARMv5TE target is builtin to the compiler, if not tested or built per commit.

[2017-05-18 01:56] #30710 closed

[2017-05-18 02:03] Mark-Simulacrum commented on #37873
It looks like @spinda's PR for this almost went in but was blocked and eventually closed because statements didn't debug print quite as helpfully as desired. I don't know whether the debug statement printing is still the case. This issue seems reasonable (and I *guess* something we, in general, want) so I'm going to keep open. If anyone would like to implement, I think the suggestions I'd have is

[2017-05-18 02:08] Mark-Simulacrum commented on #38349
So according to the issue @stjepang notes, it looks like this may have been merged into LLVM trunk on Mar 22 2017; in https://reviews.llvm.org/rL298540. It's possible we could backport this? I'm not sure, but this could be https://github.com/rust-lang/rust/pull/40914.

[2017-05-18 02:17] Mark-Simulacrum commented on #38431
This is mentioned in the config.toml example; I'm going to go ahead and close. `configure` shouldn't really be used in most cases today.

[2017-05-18 02:17] #38431 closed

[2017-05-18 02:28] Mark-Simulacrum commented on #20168
We've accepted an RFC for this: https://github.com/rust-lang/rfcs/blob/master/text/1849-non-static-type-id.md, tracking issue https://github.com/rust-lang/rust/issues/41875.

[2017-05-18 02:28] #20168 closed

[2017-05-18 02:30] Mark-Simulacrum commented on #26330
Closing in favor of https://github.com/rust-lang/rust/issues/12832.

[2017-05-18 02:30] #26330 closed

[2017-05-18 02:47] jonhoo commented on #42065
Not entirely sure, but I believe this could also be tied in to #41790.

[2017-05-18 03:00] jcoughlin9 commented on #42043
That works, thanks.

[2017-05-18 03:00] #42043 closed

[2017-05-18 03:10] alex-ozdemir commented on #42061
My thought is the following:

* The error message should be "the name `Foo` is defined twice in this `module`".
* The note at the original definition/import should read "previous {`definition`/`import`} of the {`value`,`type`,`module`,...} `Foo` here".
* The note at the second definition/import should read "`Foo` {`redefined`/`reimported`} here"

Downsides: we say "defined twice" when we really me

[2017-05-18 03:11] #41601 closed

[2017-05-18 03:41] shepmaster opened #42077 "Macros called as functions link to a misleading / inaccurate error index."
[code]

Produces this error with the helpful text:

[code]

However, if you look at the [error index for E0423](https://doc.rust-lang.org/error-index.html#E0423)...

That is **not useful**.  This *used* to point to [E0425](https://doc.rust-lang.org/error-index.html#E0425):

[2017-05-18 04:22] Mark-Simulacrum commented on #38525
Can we just pass `&T` instead of T directly to `black_box`? I'm not familiar with the implementation so I don't really know.

[2017-05-18 04:29] Mark-Simulacrum commented on #38283
Duplicate, I think, not related. Closing in favor of #21934.

[2017-05-18 04:29] #38283 closed

[2017-05-18 04:34] Mark-Simulacrum commented on #21875
I think the note is close enough that we can close this. Lifetime errors are always non-ideal and we have a lot of issues about improving them (I think, at least) and this one is specific enough that the note (values ... dropped in opposite order) solves it.

[2017-05-18 04:34] #21875 closed

[2017-05-18 05:17] kennytm commented on #42077
Other E0423 instances:

[code]

The error index should describe E0423 as an "expected (value | function) found something else" error. (E0425 is inaccurate since the name does exist, just in a different namespace.)

[2017-05-18 05:46] petrochenkov commented on #42077
Yeah, description of E0423 needs to be expanded, "struct variant name was used like a function name" is a special case of "expected value, found something else".

[2017-05-18 06:45] pravic opened #42078 "Nightly documentation is broken"
In particular, now it is unable to use the search in it.

Screenshots:

* [stable std](http://c2n.me/3KvUan4.png) page: [search works](http://c2n.me/3KvUjLk.png)
* [nightly std](http://c2n.me/3KvUfB3.png) page

Looks like it was due to #41307 which source was in #39159.

Unfortunately these changes broke some browsers.

@frewsxcv

Where I can see a list of supported browsers? Because the whole Rus

[2017-05-18 08:20] arielb1 commented on #41962
I think so.

[2017-05-18 08:42] est31 commented on #42078
@pravic just for the record, which browser and which version of it do you use?

Note there is an open RFC to specify the supported browsers: https://github.com/rust-lang/rfcs/pull/1985

[2017-05-18 09:44] whitequark commented on #39153
There's one option I don't see anyone explore in this thread. Namely, why not just fix LLVM? LLVM Debug info is unstable enough to make this change at this point.

[2017-05-18 09:46] jhjourdan commented on #38863
Any reason why the parameter of `pop` is not `self` ?

[2017-05-18 10:49] arielb1 commented on #41976
That's the trait resolution limitation where `_ as Foo<X, Y, Z>` can't be resolved to any impl, because it can "theoretically" be a projection from a type parameter and we don't want to introduce unnecessary instability.

[2017-05-18 10:53] arielb1 commented on #41976
That's it,

That's it:
[code]

and now we don't want to "automagically" pick the type to be `u8` only if there is no `impl<T: Uvw> Xyz for T`.

[2017-05-18 11:32] hsivonen commented on #39153
It seems that `-Zdebug-macros` has adverse effects on the line info for `assert!`, `panic!` and `unreachable!` macros in stack traces, so, indeed, it seems that there isn't one approach that's the best for all macros or even all macros in a given program. (That is, I now wish I could get the default behavior for  `assert!`, `panic!` and `unreachable!` but the `-Zdebug-macros` behavior for other ma