[2022-10-22 01:42] azdavis commented on #90890
Today this reports

[code]

Which is still confusing. But also no one's looked at this for a year so 🤷

[2022-10-22 01:42] #90890 closed

[2022-10-22 01:44] chenyukang commented on #103320
Change this line:

https://cs.github.com/rust-lang/rust/blob/5c8bff74bc1c52bef0c79f3689bb227f51f3e82d/library/core/src/ops/arith.rs#L89

to

[code]

will fix it, we may add attribute value to other trait such as `Sub`, `Mul`.
I'm not sure why whether it's necessary to keep it.
@m-ou-se How do you think about it?

[2022-10-22 02:28] #89008 closed

[2022-10-22 02:28] #97607 closed

[2022-10-22 02:30] estebank opened #103381 "Detect incorrect chaining of `if` and `if let` conditions and recover gracefully"
Given

[code]

[the current output is](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=28db46bf3ce2d2c7d3dae7305740e8ee)

[code]

We should detect that what was intended was

[code]

_https://github.com/rust-lang/rust/issues/53667#issuecomment-1228604924_

[2022-10-22 02:52] compiler-errors commented on #101705
As far as I'm aware, coercion only really goes one level deep when it comes to types -- we don't make an attempt to coerce similar cases when the closures are boxed, wrapped in a struct, etc., so this seems like consistent behavior for tuples.

So I'm not really certain this is a bug, or an extension to coercion behavior that needs to be better well-defined and investigated for feasibility.

[2022-10-22 02:54] compiler-errors commented on #101869
Seems to have been resolved in #101844.

[2022-10-22 02:54] #101869 closed

[2022-10-22 03:12] compiler-errors commented on #101962
I think it's understood that using these intrinsics incorrectly will ICE, since we have no way of checking this intrinsic's usage properly via a trait bound...

[2022-10-22 03:16] compiler-errors commented on #102011
This no longer reports the same error, and instead just says:

[code]

[2022-10-22 03:24] CAD97 opened #103384 "Removing an identity pointer cast can cause vtable kind unification for projected types to fail"
[[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d9781b4310534baadae0ce1e7b478337)

[code]

results in the error

[code]

Uncommenting the `as *const I::Type` lets this compile without error.

### Meta

playground 1.66.0-nightly (2022-10-20 dcb376115066d111dbf5)

[2022-10-22 03:31] Radvylf opened #103385 "'index out of bounds: the len is X but the index is Y'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Bug **doesn't appear to exist in nightly**, but posting it here just in case (e.g. if it pops up again later).

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-22 03:42] Radvylf commented on #103385
I've just noticed this is a dupe of ['rustc' panicked at 'index out of bounds: the len is 385 but the index is 386'](https://github.com/rust-lang/rust/issues/103343). Maybe the much shorter MCVE will still be useful though.

[2022-10-22 03:55] compiler-errors commented on #103385
This was fixed a while back and will be fixed on the next stable version of Rust which comes out in a few weeks.

[2022-10-22 04:07] Rageking8 commented on #103380
@rustbot label +A-LLVM

[2022-10-22 04:11] CAD97 opened #103387 "`where` on `trait` declaration should be provided when the trait is an input bound, but is instead a requirement"
I tried this code: [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9f8aaf2cccd481a071e837e51187f2f9)

[code]

I expected this to compile. Instead, it gives the following error:

[code]

### Meta

playground 1.66.0-nightly (2022-10-21 5c8bff74bc1c52bef0c7)

[2022-10-22 04:14] Rageking8 commented on #103369
No worries.
@rustbot label +T-compiler +A-diagnostics -C-bug

[2022-10-22 04:21] Rageking8 commented on #103037
Hence, we should not close stale issues but only fixed, off-topic or duplicate issues (presumably manually, as a stale bot is a no no)?

[2022-10-22 05:07] saethlin commented on #103037
"stale" just isn't a thing in a project like Rust and possibly any project. There are many useful ways to categorize issues, and those have been laid out above. If you have a bot that can help categorize issues based on content instead of just time open, please do share.

[2022-10-22 05:37] compiler-errors commented on #102430
The sample provided by DutchGhost compiles now, and the one that @eholk provided compiles with some slight modification:

[code]

[2022-10-22 05:41] #103195 closed

[2022-10-22 05:46] compiler-errors commented on #103387
The only trait bounds that are implied ("elaborated" in rustc terminology) are supertrait bounds or `Self: Trait` bounds, so I'm not sure if this is right to be considered a bug.

[2022-10-22 05:56] compiler-errors commented on #103384
We should probably be doing this cast check modulo regions, inspired by #101520.

[2022-10-22 06:34] Wyvern opened #103389 "Profile based `rustflags` generate unknown unstable option: `build-std`"
When using some -Z flags in `profile based rustflags` such as `build-std` `build-std-features` `panic-in-drop=abort`, the compiler generate error `unknown unstable option:  build-std ...`.

for example: a customized `src` profile with `rustflags`:

[code]
When build using `cargo b --profile src` the above error raised.

Is it a bug of `cargo-features = ["profile-rustflags"]` or something else?

[2022-10-22 06:34] compiler-errors commented on #103384
Minimized a bit, just to demonstrate the underlying issue:

[code]

[2022-10-22 07:04] szabgab commented on #103357
Thanks for all the responses so far!

Related to the source of the results:

As a newbie definitely, but also as an advanced user I'd probably prefer a dedicated search engine that would search in both std and crates (and maybe also in the reference and the books).
After all I don't know if a certain feature (e.g. regexes in my case) are part of what comes with Rust or a 3rd party crate.

It might

[2022-10-22 08:12] kper commented on #102902
@ehuss the fix was merged. Can you close the ticket?

[2022-10-22 08:15] RalfJung commented on #101907
I now also ran into this because syncing Miri changes back into rustc creates merge commits. Not sure how to work around this problem; rebasing is not an option for these syncs and a local build takes forever...

Cc @jyn514

[2022-10-22 08:18] Kixunil commented on #90091
Note that it is currently possible to [return `&[T, (N - M)]` on nightly with an ugly warning](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=51a4d26f2b30c8782d27db58192bb223)

How hard would it be to at least allow it for `core` even if not stabilizing?

[2022-10-22 08:35] RalfJung commented on #101907
Specifically that Miri history contains commits made by bors *in Miri*, which then fools the detection logic to think that was a rustc bors commit.

[2022-10-22 08:48] RalfJung commented on #101907
Currently, bootstrap uses the following command to determine the commit to fetch LLVM for
[code]
I can see two ways of making things work even for the Miri sync situation:
- Instead of `-n1`, use `-n10` or so and try several commits. For the case I have right now, the 2nd commit should already work.
- Instead of `HEAD`, use `$(git merge-base HEAD origin/master)`. However we can't really know what

[2022-10-22 08:50] Nilstrieb opened #103395 "ICE: Wrong DefKind in object_lifetime_default"
### Code

I ran `x test src/test/ui-fulldeps/session-diagnostic` in the rust repo. According to cargo this happened while compiling `rustc_graphviz`. I don't have a minimal example or anything and it went away after a `x clean` so it's probably related to incremental.

### Meta
`rustc --version --verbose`:
I'm not entirely sure, either the current stage0, 2022-09-20-beta or the current master (202

[2022-10-22 08:54] fee1-dead commented on #103358
For this to work, either we would try to look at the `DefKind` of the `Res` as according to the [docs](https://doc.rust-lang.org/beta/nightly-rustc/rustc_hir/def/enum.Res.html#variant.Def), and then make the span point to the item name using the [`SourceMap`](https://doc.rust-lang.org/beta/nightly-rustc/rustc_span/source_map/struct.SourceMap.html) if we know how the item looks. Alternatively, we c

[2022-10-22 09:00] fee1-dead commented on #103269
This is mostly about tweaking the `eat(token::ModSep)` code such that it works with `token::Colon` as well. [src](https://doc.rust-lang.org/beta/nightly-rustc/src/rustc_parse/parser/item.rs.html#950)

However, we would also need this to be configurable in `parse_path`, as we would want to recover from `use std:process::Command` as well.

[2022-10-22 09:30] cjgillot commented on #103358
There is probably a simpler way, by storing the `Span` of the `Ident` that introduced the name in `TypoSuggestion`, and use that span instead of trying to get one from the `Res`.

[2022-10-22 10:27] jachris commented on #101907
I think the second option would be a solid solution, and it also works for the usecase I had in mind.

(Side note: Though I'm sure why this uses `--first-parent`. If we are on `master`, there should be no merge commits, and this has no effect. If we are on another branch, it discards merges into that branch... which is basically the original issue.)

[2022-10-22 10:54] RalfJung commented on #101907
On master there are tons of merge commits -- the ones created by bors.  In fact the commit we are looking for is always a merge commit, so maybe we should add `--merges`.

[2022-10-22 10:59] jachris commented on #101907
Ah yes, right, of course. The "no merge-commit policy" is only for PRs... Nevermind.

[2022-10-22 11:12] #92655 closed

[2022-10-22 12:32] #51488 closed

[2022-10-22 12:54] Mark-Simulacrum commented on #101907
Fetching introduces a network call on each x.py invocation, I think, since we need to know if something has changed. I guess we could try to cache based on the head sha, but I'm not generally a fan of that.

I think the right answer is probably to change bors to include a repository in the commits it generates more explicitly - perhaps the email could be bors+rust@rust-lang.org, for example.

Woul

[2022-10-22 13:50] fmease commented on #103357
That's what the `rustc` name resolver does (last time I checked) when it encounters unresolved identifiers. Namely:

[code]

[2022-10-22 14:09] ChrisDenton commented on #76089
#80857 added a comment to the code with an explanation of why we're doing this. Should this be closed now? For the reasons outlined above, changing this is not planned.

[2022-10-22 14:30] ChrisDenton commented on #77139
Closing this as "working as intended". Even though it may not be ideal, it would break too much to change it now.

[2022-10-22 14:30] #77139 closed

[2022-10-22 14:34] ChrisDenton commented on #80937
I believe so.

[2022-10-22 14:34] #80937 closed

[2022-10-22 14:40] vincenzopalazzo commented on #100880
Can you help me with runnable code to understand why the `From<&mut [T; N]> [for Vec<T> where T: Clone` will be useful and what can be a use case for it?

@rustbot level +T-libs-api

[2022-10-22 14:53] vincenzopalazzo commented on #100880
Ah ok, maybe I understand what do you mean, currently we can do

[code]

And your proposal is to support

[code]

[2022-10-22 14:55] joshtriplett commented on #98070
I misunderstood, thank you for clarifying.

I *completely* agree that the documentation should explain the details of the heuristics.

I personally think that attempting to return an error indicating the reason for a `false` would prove awkward to use in the common case, and I would expect that the *vast majority* of programs would not want that information. If you're trying to debug the heuristic

[2022-10-22 15:11] chenyukang commented on #103381
@rustbot claim

[2022-10-22 15:19] briansmith commented on #46188
https://github.com/rust-lang/unsafe-code-guidelines/issues/198 discusses the issue. There isn't a "one definition rule" applicable here; the issue is about compatible/composite declarations and comes from LLVM's C language semantics. I'm not going to repeat everything I said there, but it's all relevant to this.

It is surprising that adding an unused declaration affects the compilation of a Rust

[2022-10-22 15:22] necimye commented on #50291
Just wrap the return type with a struct and implement the Termination trait for that wrapper struct
example
[code]

[2022-10-22 15:25] bjorn3 commented on #46188
How do you define unused declarations? Are they unused if there are no references, if all referencing functions are dead code, or if all references aren't used during the current execution (but may be during another execution)?

[2022-10-22 15:48] newAM opened #103403 "rustdoc ICE with async_fn_in_trait: no encoded ident for item"
running rustdoc on a crate with a `struct` that implements a trait with an `async fn` (using `#![feature(async_fn_in_trait)]`) from a separate crate results in an ICE.

### Code

The bug requires separate crates to reproduce (as far as I know).
I have provided a minimal example here: https://github.com/newAM/rustdoc-ice/commit/923ce2fa52926f259e65aa3e6ba8609a55052629

Crate `moo`:

[code]

Crate `

[2022-10-22 16:10] RalfJung commented on #46188
Focusing on unused declarations seems very fragile. The case of two *used* declarations with different attributes is just as dangerous, where one the attributes of one declaration might be applied to the unsuspecting other declaration.

[2022-10-22 16:15] RalfJung commented on #101907
Yeah I agree having to invoke the network is not great. In principle we could search the user's remotes for one that points to our github repo and use `$remote/master`... but that seems pretty fragile.

Having different bors email addresses for different repos would help for the Miri case, yeah. And I guess for @jachris we could replace the `--first-parent` by `--merges`; the email filtering shoul

[2022-10-22 16:22] lopopolo opened #103404 "macOS 12.6 shows leaks in macOS runtime under LeakSan"
I tried compiling https://github.com/artichoke/intaglio under leaksan on macOS with the following command:

[code]

And saw leaks going back to at least nightly-2022-08-19 on macOS version:

[code]

The leaks appear to be in the macOS runtime itself. I run LeakSan in CI weekly and did not previously observe failures. I suspect something changed on the macOS side.

A failing runner on GitHub Action

[2022-10-22 16:24] briansmith commented on #46188
https://github.com/rust-lang/unsafe-code-guidelines/issues/198#issuecomment-529092294 explains why this is especially dangerous if things are really operating as described, using an example of how one can publish a crate with no `unsafe` but have it still affect the safety of the program. Static analysis tools looking for `unsafe` would need to be extended to consider `extern` declarations as well

[2022-10-22 16:26] #103222 closed

[2022-10-22 16:30] wesleywiser commented on #102793
Since this already merged in https://github.com/rust-lang/rust/pull/99916, I'm going to go ahead and close this issue.

[2022-10-22 16:30] #102793 closed

[2022-10-22 16:31] Lokathor commented on #46188
There's a lang team thing about handling this by having people put `unsafe extern`, but I'd honestly prefer if this could be fixed by LLVM and/or rustc.

[2022-10-22 16:37] bjorn3 commented on #46188
Cranelift doesn't allow multiple function declarations in the same module with different signatures (at clif ir level) at all. It returns an `IncompatibleSignature` error. So far I have only seen a single instance where a function was defined with two different signatures in the same module. I fixed it in https://github.com/rust-lang/rust/pull/95088.

[2022-10-22 16:44] aliemjay commented on #103348
I confirm this is a duplicate of #97099, which should be fixed by #100503. This can be closed as such!

[2022-10-22 16:59] Mark-Simulacrum commented on #101907
Updating the lockfile should be cargo metadata >/dev/null or something like that, no need for Cargo.

Yeah, multiple candidates I think has similar problems in terms of network hits (or negative cache of some kind).

--merges seems fine to me, but I'm not sure we can do away with --first-parent - for example, in the case of rollups, we need to be sure we're looking at the first parent commit to tr

[2022-10-22 17:12] Dylan-DPC commented on #60512
Closing this since rls is deprecated

[2022-10-22 17:12] #60512 closed

[2022-10-22 17:38] Ivan-Sanchez-Diaz opened #103407 "ICE with RPITIT and lifetimes"
the curious thing is that in my environment it produces a different error that I was not able to reproduce in the playground

### Code

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8ef59d042d9d8b1e5e09cd66c66f9ca5)

### Meta

`rustc --version --verbose`:
[code]

### Error output
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</detail

[2022-10-22 17:46] hniksic commented on #36481
This issue stlil exists and is affecting developers who try out e.g. `rustc_hash::FxHashMap` for efficiency. Here is a simple way to reproduce it with just the stdlib:

[code]

In this example, using a stable hash makes the rebuilding ~5x slower than the randomized one. The behavior is quadratic, in the sense that doubling the set size will approximately quadruple the time it takes to rebuild it.

[2022-10-22 18:03] mucinoab commented on #103269
I will take a quick look into this.
@rustbot claim

[2022-10-22 18:09] CAD97 commented on #103387
I agree that this veers close to being a new feature rather than a bug. However, since `where Self: Trait` bounds are implied/elaborated, I personally think the same should be true of all `where` bounds on the trait itself.

And as I just found out, nightly trait aliases *do* provide elaborated bounds for non-`Self` bounds in their `where`:

[code]

Obviously I think the trait alias behavior is mo

[2022-10-22 18:15] compiler-errors commented on #103387
I wonder if that trait alias example is a bug, lol.

[2022-10-22 18:38] alimkoca commented on #103191
[code]

[2022-10-22 18:41] alimkoca commented on #103191
But, then how [it's](https://os.phil-opp.com/minimal-rust-kernel/#a-minimal-kernel) worked?

[2022-10-22 18:46] Nilstrieb commented on #103395
And now I got another ICE in the same place:
`thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_hir_analysis/src/collect/lifetimes.rs:1149:58`

<details>
<summary>backtrace</details>

[code]

</details>

[2022-10-22 18:58] jruderman opened #103411 "Compiler is still slow in rejecting "Invalid left-hand side of assignment""
rustc takes 75ms to reject each line of `1 = ();`.

<details><summary>Testcase (100 repetitions)</summary>
<p>

[code]

</p>
</details>

### Meta

`rustc --version --verbose`:
[code]

### Observations

* This is left over from #103219. Now it's linear (not exponential), but the constant factor is very high.
* The slow pass is still `item_bodies_checking`.
* Nearly 100% of the time is spent in `pro

[2022-10-22 19:07] y21 commented on #103327
Seems like I misunderstood what the "Build LLVM IR" button on the Rust playground does (I thought it shows the LLVM IR that rustc emits and not the resulting, final IR after optimization passes).

It looks like LLVM started recognizing this pattern in version 13 (I'm assuming opt 13.0.0 on godbolt means it uses LLVM version 13):
- [opt 12.0.1 (before)](https://godbolt.org/z/nx6GrY4Mo)
- [opt 13.0.

[2022-10-22 19:55] RalfJung commented on #101907
Yeah you can just check out the branch for https://github.com/rust-lang/rust/pull/103392 to see the problem.

No that wouldn't help... this is Miri history reconstructed into the rust repo, it also has all of the rest of the rust repo around.

Ah, I never even tried doing anything outside of x.py in the rustc repo, it seemed hopeless. But anyway sometimes I might also have to actually build that b

[2022-10-22 20:02] compiler-errors commented on #103411
I personally don't think we need to optimize diagnostics code, especially cases grows linearly in time with the number of repetitions -- plenty of other diagnostics do expensive computations in their attempt to suggest help.

[2022-10-22 20:25] AntoniosBarotsis commented on #50784
I also stumbled upon this.

If you happen to have both a `main` and a `lib`, be sure to specify them in your `cargo.toml` like so:

[code]

Got this from [here](https://stackoverflow.com/a/57767413/12756474).

[2022-10-22 21:54] ehuss commented on #102902
Indeed, thanks!

[2022-10-22 21:54] #102902 closed

[2022-10-22 21:55] #102290 closed

[2022-10-22 22:00] nikic commented on #103327
This pattern is currently only handled by IPSCCP, which only runs very early. CVP doesn't handle it, because it currently only optimizes conditions with a constant operand. In principle, it can be extended to handle this with some extensions to LVI.

The alternative is to get the IR into the necessary form prior to IPSCCP. I believe in this case the problem is that early SimplifyCFG runs before SR

[2022-10-22 22:26] Aaron1011 commented on #87417
Even if this is stabilized, you'll still need the unstable `stmt_expr_attributes` to actually write it on a closure expression: https://github.com/rust-lang/rust/issues/15701

[2022-10-22 22:32] Mark-Simulacrum commented on #101907
Yeah, I see. OK, I think the best option then is going to be the adjustment to bors to highlight which repository the merge commit is from. We'll want to check against triagebot, crater, rustc-perf, cargo-bisect-rustc, and the promote-release infrastructure which I think are the infrastructure places that have some amount of processing of rustc commit history.

[2022-10-22 23:27] jruderman opened #103421 "Quadratic (or worse) compile time with extremely borrowed type"
This pattern compiles faster now that #103214 has merged, but it's still slower than I'd like.

[code]

### Time complexity

| Ampersand run length  | Compile time |
| --------------------- | ------------ |
| 1000                  |  2.813 sec   |
| 2000                  |  13.238 sec  |
| 3000                  |  36.638 sec  |
| 4000                  |  85.626 sec  |

Seems worse than quadratic b

[2022-10-23 00:01] thomcc commented on #103404
Does this happen in a project that sets RUST_BACKTRACE=1? E.g. does it happen without backtraces enabled?

[2022-10-23 00:06] lopopolo commented on #103404
I can reproduce this both with `RUST_BACKTRACE=1` in set in the environment (as it is in the CI configuration referenced above) and on my local macbook pro which does not set the `RUST_BACKTRACE` env var.

[2022-10-23 00:38] NobodyXu commented on #63065
Pinging, is there any progress on this feature?

[2022-10-23 02:50] crlf0710 opened #103422 "Move the emitting of `` ` `` delimiters for `Symbol` inside the `IntoDiagnosticArg` impl"
This can help creating a generic version of `DiagnosticSymbolList` from #103397.

[2022-10-23 02:56] thomcc commented on #95490
FWIW, it seems like on WINE these may be real pointers, even if they aren't under proper Windows. We've seen segfaults and the like from misuse of them under wine, for example in https://github.com/rust-lang/rust/issues/101474.

That probably means we should keep them as pointers everywhere. I don't know if windows-rs cares to support that, but in the stdlib we certainly do.

[2022-10-23 03:02] thomcc commented on #95490
More concretely, my experience with these APIs is that there are plenty of places where they are just pointers even on windows. For example [LocalAlloc](https://docs.rs/windows-sys/latest/windows_sys/Win32/System/Memory/fn.LocalAlloc.html) will return a genuine pointer (not an `isize`) if the flags include `LMEM_FIXED`. `GlobalAlloc` works similarly too. My personal feeling is that the use of isiz

[2022-10-23 03:11] Mythra commented on #87555
👋 , just ran into this trying to use it on a stable-codebase I'm working on. I'm curious is there any blockers/open-questions with this issue that aren't reflected here. Could we start stabilizing this?

[2022-10-23 03:16] ChrisDenton commented on #95490
The windows-rs definition of `LocalAlloc` is a separate issue with the win32metadata (see https://github.com/microsoft/win32metadata/issues/1296). In any case it's not at all the same kind of "handle" as, say, `CreateFileW` returns. It even has [a different type name](https://learn.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-localalloc) in the actual header files.

[2022-10-23 03:37] skyzh opened #103423 "large number of obligation produced in async code causing compiler stuck"
### Code

I tried this code:

https://github.com/risingwavelabs/risingwave/pull/5119

Sorry for not having a very good small reproduce of this issue. Basically we found our code will stuck when compiling after upgrading compiler to nightly-2022-10-16. I suspect this is related to a not-so-recent change of trait normalization -> https://github.com/rust-lang/rust/pull/102651.

I modified `normalize.

[2022-10-23 03:42] skyzh commented on #103423
Probably also related to RPITIT, as we make a intensive use of the zero-overhead async trait with GAT:

[code]

[2022-10-23 05:33] compiler-errors commented on #103423
I don't think #102651 changed behavior at all, but cc @oli-obk just in case I missed something. This probably could use bisection anyways to find out where this actually regressed.

[2022-10-23 05:34] compiler-errors commented on #103423
I wonder if this was due to #100980.

[2022-10-23 05:37] skyzh commented on #103423
I’ll do a bisect tomorrow 🤣

[2022-10-23 05:49] SpanishPear commented on #103366
Would this make a good first issue to look at?

[2022-10-23 05:55] skyzh commented on #103423
... but probably will take more time. https://github.com/rust-lang/rust/pull/100980 is merged before https://github.com/rust-lang/rust/pull/102700 which fixes a compiler bug. I'll need to bypass https://github.com/rust-lang/rust/issues/101750 before bisecting into that date.

[2022-10-23 05:56] compiler-errors commented on #103423
It's probably possible to just revert 43119d643857efc366bfca527ac2dadfc3f2e906 and check if that makes the program no longer slow to compile.

[2022-10-23 05:57] skyzh commented on #103423
Yeah no prob, I'll have a try.

[2022-10-23 06:02] skyzh commented on #103423
I reverted https://github.com/rust-lang/rust/commit/43119d643857efc366bfca527ac2dadfc3f2e906 over latest master 6e95b6da885f42a4e1314595089fa4295e329d11 and it worked perfectly 🤣 Thanks!

[2022-10-23 06:03] compiler-errors commented on #103423
By "works perfectly", you mean the slowness is gone? In that case, this issue probably needs minimization and I can then look at why the fix in #100980 is incomplete.

[2022-10-23 06:06] skyzh commented on #103423
Yes. It compiles within 2 minutes. Previously it seems never end, I wait at least 5 minutes before killing cargo.

Sure, I'll try minimizing it. From the PR description it sounds like a generator issue? I'll try combining futures_async_stream with some complex types, which should reflect how our code work.

[2022-10-23 06:07] jruderman opened #103425 "Strange extra type error after missing semicolon error"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=55059b7460a49a908e086ce00bf462e2)):

[code]

The current output is:

[code]

What is this second error trying to tell me? _What_ did it expect to be unit type and why? Does it make sense for this error to be emitted despite the first error correctly identifying my problem?

[2022-10-23 06:27] compiler-errors commented on #103425
It's trying to tell you nothing in particular. This is a bug, due to the fact that we *eat* the `5.0` token and replace it with `;`, so the "fixed" body ends up being:

[code]

[2022-10-23 06:27] briansmith commented on #46188
@bjorn3 I think "same module" matters for non-LTO builds but for LTO builds then all the declarations in the whole program matter.

[2022-10-23 06:50] jsha commented on #77537
I've made a couple of PRs that nibble around the edges of improving the "Learn" page:

https://github.com/rust-lang/www.rust-lang.org/pull/1728
https://github.com/rust-lang/www.rust-lang.org/pull/1729

But I think it's not fundamentally that the "Learn" page has a problem, it is just designed for a different task than most people typing in `doc.rust-lang.org` are trying to achieve.

Here's what th

[2022-10-23 06:53] jruderman opened #103427 "Slow probing for missing functions near type errors"
This takes over a second to emit each `cannot find function` error message. Somehow, the time spent for each missing function is linear in the _number of type errors_ in the argument expression. Overall, this creates quadratic compilation time, and with a rather high constant factor.

[code]

### Where it's slow

The `item_bodies_checking` pass is the slow one. It seems to be spending time in `pro

[2022-10-23 06:59] Dylan-DPC commented on #59976
Closing this since RLS is deprecated, if this applies to other tools, a new issue might be a better idea

[2022-10-23 07:00] Dylan-DPC commented on #56980
Closing this issue as RLS is deprecated.

[2022-10-23 07:01] #56980 closed

[2022-10-23 07:42] jruderman opened #103429 "Quadratic ASCII art with many unclosed delimiters on one line"
Given a file consisting of 4000 open-paren characters:

[code]

the compiler produces a gigantic triangle whose *bottom* looks like:

[code]

Maybe it should only report the first 10 and last 10 on each line in this manner. It's hard to follow ASCII art lines across multiple screenfuls anyway.

[2022-10-23 08:31] thomcc commented on #46188
What about this? https://github.com/rust-lang/rust/blob/6c9c2d862dd10718ba2b2a320c3390995ad414bc/library/std/src/sys/unix/args.rs#L207-L212

Or does that not count because they have different names (it would be pretty easy to imagine code that didn't use different names for this, though...)

[2022-10-23 08:56] Nilstrieb commented on #103421
As I discovered in https://github.com/rust-lang/rust/issues/103195#issuecomment-1282943506, there's some inherent quadraticness with creating relations in borrowck. I don't think we should care about this specific code example being slow specifically, but fixing it might make other code faster, so this seems worth investigating if someone wants to.

[2022-10-23 08:56] Rudxain commented on #87920
I have a question. Why was the name `saturating` chosen? I had no idea what it was until I read the docs and realized it's just `clamped` arithmetic. Since it's still a nightly feature, can it be renamed to `clamping`?

[2022-10-23 09:03] bjorn3 commented on #46188
True. I'm just saying that Cranelift doesn't support multiple declarations, so even if LLVM were to not miscompile them, it may still have to be forbidden in rust for compatibility with Cranelift.

[2022-10-23 09:06] #103267 closed

[2022-10-23 09:06] #103323 closed

[2022-10-23 09:06] #102688 closed

[2022-10-23 09:06] #102827 closed

[2022-10-23 09:06] #103181 closed

[2022-10-23 09:06] #103352 closed

[2022-10-23 09:07] bjorn3 commented on #46188
Good point. macOS on M1 is not yet supported by cg_clif as several things are missing. For this I could special case objc_msgSend to have one fixed signature at cranelift_module level, but the right one at cranelift_codegen level I guess. (cranelift_codegen doesn't mind)

[2022-10-23 09:18] bjorn3 commented on #59976
Rls already supported this. I think this issue was meant for other tools like rust-analyzer.

[2022-10-23 10:51] #89624 closed

[2022-10-23 11:01] nikic commented on #46188
Could somebody please share an up-to-date godbolt link showing the incorrect attribute merging behavior? There's a lot of code samples floating around in these threads, but I didn't manage to actually reproduce the issue.

[2022-10-23 11:11] kellerkindt commented on #87920
Because all the underlying calls on the Integer are also already prefixed with `saturating_*` :)

https://doc.rust-lang.org/stable/std/intrinsics/fn.saturating_add.html

[2022-10-23 11:41] Veykril commented on #101070
Build scripts now work properly when `rust-analyzer.linkedProjects` is set if you follow the updated dev-guide instructions https://github.com/rust-lang/rustc-dev-guide/pull/1487 ... is what I would like to say *but* there is one small problem:
`x.py check --json-output` does not emit build data for dependencies of `bootstrap` for example, so if you set `linkedProjects` to the bootstrap toml, r-a

[2022-10-23 12:13] tmiasko commented on #46188
I think that current state in the terms of initial MIR to LLVM code generation is that attributes attached to a call site are based on the appropriate declaration as used in Rust. At the same time the attributes from the LLVM function declaration are also in effect, and that LLVM function declaration might in fact be based on a distinct Rust declaration, hence the trouble.

An LLVM function declar

[2022-10-23 12:27] sdroege commented on #102839
This is also a problem with `impl Into<Option<&str>>` in a much simpler scenario [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=84ff6c0fcd876a9762c67ecc2bc01ef4):

[code]

This gives the following error:

[code]

CC @fengalin

[2022-10-23 12:54] Nilstrieb commented on #68836
Before #102895, rustc used to use this pattern as well for the query system, but now it doesn't anymore.

[2022-10-23 13:06] SpanishPear commented on #103366
@rustbot claim

Let's give it a try anyways :partying_face:

[2022-10-23 13:11] tarcieri commented on #87920
@Rudxain saturation describes *how* the resulting value is clamped: if the result of an operation is greater than the maximum, it is clamped to the maximum, and conversely, if it is below the minimum, it is clamped to the minimum.

https://en.wikipedia.org/wiki/Saturation_arithmetic

[2022-10-23 13:29] nikic commented on #46188
Gah, the mistake I made it looking at `-C opt-level=0` IR, rather than `-C opt-level=3 -C no-prepopulate-passes`. For the former the relevant attributes aren't added at all, so of course the problem does not occur. (https://rust.godbolt.org/z/T7E64ETc5 is a minimal example for just the attributes.)

@tmiasko I think in principle applying attributes to definitions and call-sites only should be fine

[2022-10-23 13:44] penelopezone opened #103435 "Compiler warns to remove parentheses producing invalid code"
I tried this code:

[code]

I expected to see no compiler warning on the `if let(Some(rt_child)) = rt_child` line.

Instead, this happened:
[code]

### Meta

here is a rust playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9d2bfd8156a76f0a565f0caf81b52d80
`rustc --version --verbose`:
[code]

[2022-10-23 13:47] JonasJebing commented on #96024
Here's the discussion that lead to `impl<E: Error + ?Sized> Provider for E`: https://github.com/rust-lang/rust/pull/98072#discussion_r898313181
So, the paper cut without the blanket impl is, that it's not possible to call `core::any::request_*` or `<dyn Error>::request_*` on a concrete error type like `std::io::Error`.

Personally, I feel like there are a lot of possible workarounds for that paper

[2022-10-23 14:05] jruderman commented on #103425
That theory doesn't seem right to me, for two reasons:

* I would expect eating the `5.0` to result in a type error like "expected `f32` because of return type", but the actual error involves integer and unit.
* Repeating the missing-semi error results in repeating the type error as well, even though it's all within one function. [For example](https://play.rust-lang.org/?version=nightly&mode=debug

[2022-10-23 14:06] JonasJebing commented on #96024
@jakobhellermann you're missing that `Provider::provide` just has a shared reference `&self`.
So, a `fn provide_mut<'a>(&'a mut self, _req: &mut Demand<'a>) {}` needs to be added to the Provider trait, too.

@yaahc, @thomcc the Provider support for &mut was addressed in the [RFC under "Future Possibilities"](https://rust-lang.github.io/rfcs/3192-dyno.html#future-possibilities).
The linked reposito

[2022-10-23 14:13] #101880 closed

[2022-10-23 14:13] #101278 closed

[2022-10-23 14:13] #102352 closed

[2022-10-23 14:21] JonasJebing commented on #99301
I agree, that

would be great.
However, an immediate remedy would also be to rename `Error::provide`.
The [`error_generic_member_access` RFC](https://rust-lang.github.io/rfcs/3192-dyno.html#guide-level-explanation)
and the [`dyno`/`provide_any` RFC](https://rust-lang.github.io/rfcs/3192-dyno.html#guide-level-explanation) were already using `Error::provide_context` instead of `Error::provide` in th

[2022-10-23 14:29] jruderman commented on #103435
[Simpler](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8fab660437393b643cb469b9936de123):

[code]

which gives the error-introducing suggestion:

[code]

[2022-10-23 14:30] jruderman commented on #103435
The warning is *correct*: it is unnecessary to put parens around the entire `if let` pattern. The suggestion just needs to include a space in this case, so it doesn't run the `let` and `Some` tokens together.

The suggestion should be:

[code]

[2022-10-23 14:31] jruderman commented on #103435
@rustbot label +A-diagnostics

[2022-10-23 14:58] RReverser opened #103438 "Confusing error when forgetting to break with value from loop-match"
Given the following code:

[code]

The current output is:

[code]

The "expected `i32`, found `()`" suggestion is bogus, because the `return` actually has "never" type, and it's perfectly valid in a match that expects `i32`, e.g. the same code without `loop` works fine:

[code]

Ideally the output should look like:

If possible to guess from context, it should tell me that I forgot to use `break a

[2022-10-23 15:09] jruderman commented on #103366
Here are some potentially tricky cases:

#### Complicated bounds

aka "the programmer probably should have moved some of this into a `where` clause"

[code]

#### Generic bounds also present in the correct place

[code]

Here, the compiler should avoid suggesting modified code that also won't parse. Simply moving `<T: Send>` to after the function name in this case would result in `fn g<T: Send><T>

[2022-10-23 15:28] kellerkindt opened #103440 "Tracking Issue for `saturating_bit_shifts`"
Split of bit shifts from #87920 into its own feature, so it can be discussed and stabilized independently.

The feature gate for the issue is `#![feature(saturating_bit_shifts)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue

[2022-10-23 16:12] igor37 opened #103442 "Matching field-less enum variants that aren't imported should deny-lint, not just give lots of warnings"
When the enum variants listed in a `match` block omit the preceding `EnumName::` the compiler may still accept the code, even if some cases were not handled or nonexistent variants are listed.

I tried this code:

[code]

I expected to see this happen: Compiler errors regarding missing `Enum::`, missing variant `Enum::C`, and invalid variant.

Instead, this happened: the code compiled and printed

[2022-10-23 16:24] aDotInTheVoid commented on #103442
If you look at the warnings, they explain what is happening

[code]

`A` is a pattern that matches any value, because is *isn't* an enum variant. This is confusing, but the compiller has good warnings.

This issue can be closed as Not A Bug

[2022-10-23 16:31] igor37 commented on #103442
Ah yes, didn't consider that, sorry.

I'm used to getting errors in such cases because matching more complex variants will usually fail.

[2022-10-23 16:45] fmease commented on #50291
@necimye Note that this GitHub issue is about the subpar error message given by the compiler which should be fixed and not about potential solutions for user code when facing this message.

@rustbot claim

[2022-10-23 17:00] Sulaiman001 commented on #63939
The  working solution for windows
1.	Install Visual Studio, make sure you select—.NET desktop development, Desktop development with C++, and Universal Windows Platform development.
2.	Show the installed toolchain `rustup show`.
3.	Then change and set the toolchain by running `rustup default stable-x86_64-pc-windows-msvc`.
This is worked for me after weeks of not getting a working solution. I hope

[2022-10-23 17:09] Ivan-Sanchez-Diaz commented on #63939
@Sulaiman001  https://github.com/briansmith/ring/issues/1488 here is the fix, TARGET_CC and TARGET_AR environment variables must be manually set.
https://github.com/briansmith/ring/blob/main/BUILDING.md#cross-compiling

[2022-10-23 17:10] chenyukang commented on #103425
@rustbot claim

[2022-10-23 17:12] compiler-errors commented on #103425
@chenyukang please first understand what the AST doing on the semicolon recovery path, then once that's done, you can probably try to make it recover like: `3; 5.0` properly so it type-checks correctly.

[2022-10-23 17:14] Sulaiman001 commented on #63939
Thanks, this is for Mac though. The solution I posted is for windows.

[2022-10-23 17:47] leonardo-m commented on #103442
A case of "Warning Blindness"?

[2022-10-23 18:07] Nilstrieb commented on #103435
@rustbot label D-invalid-suggestion

[2022-10-23 18:27] thomcc commented on #46188
FWIW, while this is probably a good idea for the broader ecosystem, it's honestly kind of goofy that we are using these because the functions we're avoiding (`_NSGetArgv` and such) are in public headers for the platform, and could also be gotten via the arguments to a static ctor, like how we do it on linux-gnu. (We also use `_NSGetExecutablePath` on iOS anyway).

[2022-10-23 18:46] cybergsus commented on #102730
In case this helps out, I've also encountered this ICE when trying to use fuzzing for my own project (https://github.com/cybergsus/sawblade/commit/8be5ef464ac842b55c2da87f4f0c666f373cdd11). The command that I used was different:
### Code
[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output
[code]

<details><summary><strong>Backtrace (very similar, if not identical, to andreeaflor

[2022-10-23 18:53] bjorn3 commented on #46188
Mach-O has __mod_init_func as counterpart to .init_array on ELF, but looking at the source of dyld it seems that the functions don't get any arguments, unlike Linux where it gets argc, argv and envp as arguments.

[2022-10-23 18:57] thomcc commented on #46188
This is not true. The init functions get passed argc, argv, envp, applev, and a pointer to ProgramVars. I don't know where you were looking, but see https://github.com/apple-oss-distributions/dyld/blob/f73171cf0a177f453fdb124952908fe83864acab/dyld/DyldProcessConfig.h#L67 and related usage in dyld.

[2022-10-23 19:01] thomcc commented on #46188
An example of a crate in the ecosystem (which at least works on my machine, and has been tested several other apple OSes) that uses this is https://github.com/BlackHoleFox/appleargs/blob/797caf96cd9684f8747dbe336bb3c9022fc12b8d/src/lib.rs#L215-L221.

This is getting off-topic, though.

[2022-10-23 19:03] bjorn3 commented on #46188
I looked at https://opensource.apple.com/source/cctools/cctools-384/dyld/mod_init_funcs.c.auto.html. Looks like it is quite an outdated version though.

[2022-10-23 19:04] thomcc commented on #46188
Yeah, `apple-oss-distributions/*` has the latest versions.

[2022-10-23 19:08] Rudxain commented on #87920
Yeah, I realized that renaming would take too much work+time now

I like how Rust takes inspiration/influence from math, it ensures stuff is well-defined

[2022-10-23 19:37] cjgillot commented on #103330
Filed https://github.com/rust-lang/rust/pull/103450

[2022-10-23 21:17] comex commented on #103318
What do you mean by unsound?

[2022-10-23 21:37] jruderman opened #103451 "Compiler hang with incomplete struct literal at end of file"
This malformed code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=92c9932ec918d7af092fa140815f3e0a)) hangs the compiler:

[code]

Found by fuzzing with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc).

### The bug's edges
* `R` must be defined as a named-field struct (not a tuple struct or unit struct), although it can have 0 fields.
* `R`

[2022-10-23 21:41] Alexendoo commented on #103248
Ran into a case that stopped compiling for me after the nightly update, in this case it also didn't compile with the `else` removed

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=af7f27fb4b68e713467f6f8a19802d35)

[code]

[2022-10-23 21:52] SoniEx2 commented on #103318
[code]

[2022-10-23 22:59] Emilgardis commented on #88791
On a note related to https://github.com/rust-lang/rust/issues/88791#issuecomment-963080815

it seems it's impossible to use `rustdoc-scrape-examples=all` and workspace members for examples on docs.rs, i.e the `.crate` tarball doesn't include the workspace members since they are not part of the published crate, and thus there is nothing to scrape. Adding the members in `include` doesn't solve it ei

[2022-10-24 00:12] chenyukang commented on #103451
@rustbot claim

[2022-10-24 00:36] scottmcm commented on #85122
@jordens Agreed the different RHS type is incorrect.  I've sent PR #103456.

[2022-10-24 01:10] Dirbaio opened #103457 "AFIT: incorrect "method not compatible with trait""
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=812782f71fb464b085573c6ccd731e52)

[code]

gives the following error:

[code]

The equivalent without `async` works.

[2022-10-24 02:03] chenyukang commented on #103451
I can not reproduce it with latest code, did I missed anything?

[code]

[2022-10-24 02:18] mdnava opened #103458 "MSVC .msi doesn't install latest (GNU .msi does)"
Hello,

The offline installer is my preferred method for installing/updating. Current version of Rust is 1.64.0 but the latest MSVC .msi package has been installing rustc 1.60.0 in all new versions since April. At least that's what the --version parameter indicates.

However, if I use the GNU .msi package it does install the latest version (v1.64.0).

**Package:** https://static.rust-lang.org/dist

[2022-10-24 02:55] ChrisDenton commented on #103458
Hm, I don't usually use the msi installer but I just downloaded it from you link and it seems to be working for me?

![msi](https://user-images.githubusercontent.com/4459874/197438870-6e1384e4-767c-41ad-8124-3a9a27dfa714.png)

And `rustc --version --verbose` appears to report the correct version:

[code]

Could it be that the old install isn't being updated for some reason? Or maybe just the `PATH

[2022-10-24 02:55] #102541 closed

[2022-10-24 03:22] skyzh commented on #103423
still trying to figure it out -- I've written some programs to generate 5k+ obligations, but it doesn't time out as the original code does. Anyway, still trying to make a MCVE.

[2022-10-24 03:23] compiler-errors commented on #103423
Thanks so much for looking into this. I might also investigate, but I'm quite busy :sweat:

[2022-10-24 03:23] skyzh commented on #103423
In the original code, the compiler resolves 50 obligations very slowly at each call side, about 1sec per call site. So I guess it's more related to the obligations itself instead of the numbers.

[2022-10-24 03:23] skyzh commented on #103423
No prob, just wait until I got a minimum reproducible code, and it would be more efficient for you to look into 🤣

[2022-10-24 03:30] chenyukang commented on #103435
Another case:

[code]

I guess we may have some other cases for `remove these parentheses`

[2022-10-24 03:33] chenyukang commented on #103435
@rustbot claim

[2022-10-24 04:13] chenyukang commented on #103451
Confirmed the error is only triggered by commit: `6e95b6da885f42a4e1314595089fa4295e329d11`

The root cause is I changed the edge corner case in `find_width_of_character_at_span`:

[code]

We think `next_point` should won't return a span which outside of source file, so `0` is a valid one, the next_point will always return a valid span, and we get OK("") from `sm.span_to_snippet` when reaching the

[2022-10-24 04:14] #103112 closed

[2022-10-24 04:14] #24183 closed

[2022-10-24 04:14] #74895 closed

[2022-10-24 04:25] jruderman commented on #103451
Verif, I no longer get a hang after rollup 9be2f35a4c1ed1b04aa4a6945b64763f599259ff

Do you want to add one or two of these as tests?

[2022-10-24 04:44] kpreid opened #103460 "`rustdoc::invalid_html_tags` does not understand SVG self-closing tags"
Given the following code:

[code]

The current output of `cargo +nightly doc` is:

[code]

But it is valid to use `/>` self-closing tags for SVG embedded in HTML, so this markup is not incorrect. There should be no warning.

[code]

cc https://github.com/rust-lang/rust/issues/67799

@rustbot label +T-rustdoc -T-compiler

[2022-10-24 04:53] compiler-errors commented on #103457
I've got a root cause identified for this, but still working out some weird lifetime issues that fall out after the fix.

[2022-10-24 05:32] kpreid opened #103463 "thread 'rustc' panicked at 'no entry found for key', src/librustdoc/passes/collect_intra_doc_links.rs:781:16"
### Code

`Cargo.toml`

[code]

`lib.rs`

[code]

Run `cargo +nightly doc` on this and get an ICE. Note that documenting `luminance` itself _does not_ panic, and that the `use` is necessary.

### Meta

`rustc --version --verbose`:
[code]

Also reproduces on Linux (GitHub Actions) with the same nightly version.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[

[2022-10-24 06:05] chenyukang commented on #103451
This testcase seems not easy to be added:

[code]

If so, the trigger point will do not exist, 😂

[2022-10-24 06:10] vihdzp commented on #37748
In the original snippet, writing `foo::<usize>(0)` seems to alleviate the issue. I ran into a similar issue and was able to fix it temporarily with these type annotations. However, my codebase grew and I eventually ended up adding some trait that made the issue pop up again. So this doesn't seem to be an actual fix.

[2022-10-24 06:40] jruderman commented on #103238
#103439 will improve diagnostics for macro use by showing what token or ast node was expected :)

[2022-10-24 07:56] scottmcm commented on #103442
I think this is a case where we should have a *specific* lint that we can make deny-by-default.  The generic ones are good, but it would be nice to have one for "I see what happened here, and you definitely didn't want this" that can block compilation (by default -- it could be `allow`ed if you really wanted).

Specifically, I'm thinking a lint that looks for a pattern with a match-all binding who

[2022-10-24 09:13] jruderman commented on #103451
@rustbot label -I-prioritize

[2022-10-24 09:36] jkelleyrtp opened #103470 "Async fn implicit capture requirement is confusing"
I've never really seen this documented anywhere, but as a result of

https://github.com/rust-lang/rust/pull/60388 which solved https://github.com/rust-lang/rust/issues/60203,

there is now a weird discrepancy between regular fns and async fns when that makes it confusing to "upgrade" an fn to an async fn.

In particular, with implicit lifetimes, many users would not need to know about the `'_` lif

[2022-10-24 09:37] est31 commented on #103248
@Alexendoo that's interesting, and definitely a bug (if you replace it with nested let's it works). I think that's a different issue though than this one. This issue is only about `else`. Can you file a bug report about it and cc the author of #103034? I confirm that on `nightly-2022-10-17` it compiles fine, and on recent nightlies it fails, so it's very likely caused by that PR.

[2022-10-24 10:11] xfix commented on #103470
Elided lifetimes are deprecated, if you use `#![warn(rust_2018_idioms)]` you will see a warning:

[code]

`async fn` never allowed elided lifetimes, so we can disallow them here without a warning.

[2022-10-24 10:21] scottmcm commented on #96283
Pondering: does `byte_offset_from` really need its argument to be a `*const T`?  Arguably it doesn't care what type you pass it, so it could be `*const U` instead.

That would allow things like `ptr::addr_of!(x.b).byte_offset_from(ptr::addr_of!(x))` to compile without needing an arbitrary choice of cast.

[2022-10-24 10:54] jruderman commented on #86975
Duplicate of #78130?

[2022-10-24 10:59] 497e0bdf29873 opened #103473 "Rustdoc does not correctly ignore input inside HTML tags."
I am trying to use the KaTeX `html-in-header` autorender workaround to include mathematics in documentation (see, for example, https://stackoverflow.com/questions/53032574/how-to-enable-katex-in-html). However, KaTeX auto-render postprocessing is severely incompatible with markdown due to markdown processing almost any underscores it encounters as italics.

For example, the documentation
[code]
ge

[2022-10-24 11:14] jruderman opened #103474 "When a function name within a method is not found, suggest calling the method of the same name"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a8f513c3ae63f4416c7fcc1e3686a17c)):

[code]

The current output is:

[code]

Ideally the output should mention the fact that a method with this name was found on the same struct. And perhaps suggest calling the method on `self`, especially if the self-param types are compatible (e.g. bot

[2022-10-24 11:57] yoshuawuyts commented on #70887
@rust-lang/libs-api can we start an FCP on this? There are no blocking concerns; all we're missing is one more checkmark from a libs-api team member on https://github.com/rust-lang/rust/issues/70887#issuecomment-1212284379. Thanks!

[2022-10-24 12:04] EFanZh commented on #100880
@vincenzopalazzo I don’t have a use case for `From<&mut [T; N]>`, adding it is just for matching `From<&mut [T]>`. I want to be able to write:

[code]

instead of

[code]

[2022-10-24 12:05] Alexendoo opened #103476 "Temporary does not live long enough in let chains"
I tried this code, [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=af7f27fb4b68e713467f6f8a19802d35):

[code]

I expected to see this happen: code compiles

Instead, this happened: errors due to `name_value.path.segments does not live long enough`

It compiles when expressed as nested ifs, [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edi

[2022-10-24 12:05] Alexendoo commented on #103248
👍 opened #103476

[2022-10-24 12:26] infalmo opened #103477 "Inconsistent compile times with multidimensional arrays"
**UPD**: See [comment](https://github.com/rust-lang/rust/issues/103477#issuecomment-1290762143)

Compiling (rust nightly, release mode) [this](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=920fc9462cdcbae9bb4712899768c8ca) takes 4x as much time as [this](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=45d0059810c2d79fa71a9268ee059dd5). The on

[2022-10-24 12:57] imotai opened #103480 "error: internal compiler error: broken MIR in DefId"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-24 12:58] roypat opened #103481 "Incorrect debug information generated for test binary for proc-macro crate"
Hello!

When investigating an issue with our code coverage reports at [firecracker](https://github.com/firecracker-microvm/firecracker), we noticed a lot `kcov` warning about the DWARF data contained in some binaries containing invalid mappings (e.g. line -> addr mapping that pointed into the middle of instructions).

I tried this code:

On [this minimal test crate](https://github.com/roypat/break

[2022-10-24 14:00] GentBinaku commented on #99144
@rustbot claim

[2022-10-24 14:03] Rageking8 commented on #103477
@rustbot label +I-compiletime

[2022-10-24 14:10] nikic commented on #103327
The reason this doesn't work is that we currently rely on SimplifyCFG not optimizing branches into selects this early, so IPSCCP still sees proper branches. Would have to add an extra option to disables this in the early SimplifyCFG run.

[2022-10-24 14:29] 497e0bdf29873 commented on #103473
Neither backslash escapes work
[code]
becomes the same old
[code]

[2022-10-24 14:52] w1th0utnam3 commented on #93908
Just as an update on this issue, my generated code got more complex and now I also get this issue with the `--release` flag and I have to increase the stack size even more (now using `RUST_MIN_STACK=8388608`) to continue my work. Still getting this issue on current stable (1.64) and nightly (1.66.0-nightly (7fcf850d7 2022-10-23)).

[2022-10-24 15:13] compiler-errors commented on #103480
Can you update your nightly compiler and check if this compiles now?

[2022-10-24 15:29] jackh726 commented on #103330
Nominating for lang team to figure out what we should do with this. Will also ping on zulip.

[2022-10-24 15:33] Aaron1011 opened #103485 "bootstrap submodule sync overwrites local changes"
When bootstrap updates a submodule, it performs a hard reset, discarding all local changes: https://github.com/rust-lang/rust/blob/1481fd964bac3c750c7e1b21206fdaa60346c456/src/bootstrap/lib.rs#L631-L632

This was a nasty surprise when I was editing my local `src/llvm-project`, and then did a `git pull` and `./x.py build`.
Fortunately, I only had some extra debugging prints added, but there was no

[2022-10-24 15:45] eholk commented on #102211
@sfackler - Would it be possible to share more of the surrounding code for this example so we can see more of what's going on?

[2022-10-24 15:46] fmease opened #103487 "Provide a better error message for function pointers with generic parameters"
Newcomers might attempt to write a “generic” function pointer like `fn<T>(T) -> bool`. In such case, the compiler should provide a better error message. Inspired by a recent Reddit thread I sadly cannot find anymore.

### `fn<'a>`

Given the following code:

[code]

The compiler should **mention** that *function pointers may not be generic* or *[…] may not have generic parameters*, **suggest** to

[2022-10-24 15:53] alice-i-cecile commented on #45479
I can reproduce this at https://docs.rs/amethyst/0.13.0/amethyst/?search=transform. Unclear if the problem has been fixed though, and if this is only an issue because the docs were built with an old version of rustdoc.

[2022-10-24 16:38] jkelleyrtp commented on #103470
In the explanation for the lint, it's noted that this lint is off by default since "it has some known issues" and "may require significant transition for old code."

I would argue that one of the issues is that an implicit lifetime is required to be annotated in async fns but not in sync fns when there's no need for annotation at all since there is no borrowing.

[2022-10-24 16:39] fmease opened #103490 "Recover from malformed trait bounds of the form `Fn<'a>()`"
The following code:

[code]

currently produces a heap of semi-helpful diagnostics:

<details>
<summary><b>stderr (7 errors)</b></summary>

[code]

</details>

when instead we could special-case this and emit a single (or at least fewer) diagnostic that suggests the following:

[code]

---

If the bound in not inside `impl Trait`, like in:

[code]

we currently emit the following:

[code]

which i

[2022-10-24 16:40] fmease commented on #103490
@rustbot label A-parser A-suggestion-diagnostic D-newcomer-roadblock

[2022-10-24 16:40] fmease commented on #103490
@rustbot ping

[2022-10-24 16:41] fmease commented on #103490
@rustbot label A-parser A-suggestion-diagnostic D-newcomer-roadblock

[2022-10-24 16:45] compiler-errors commented on #36007
This is fixed but does need a test, though I think it could also be closed without a test, since it's been open for so long there's probably already coverage :thinking:

[2022-10-24 17:04] wesleywiser commented on #65978
This is caused by the `legacy` (but still default) symbol mangling rustc uses. If you compile with `-Csymbol-mangling-version=v0`, you should get much more detailed symbol names.

Using an example from the `reqwest` crate, I see a lot of symbols like the following when compiling with the default settings:

[code]

and when building with `RUSTFLAGS="-Csymbol-mangling-version=v0"`:

[code]

[2022-10-24 17:40] estebank commented on #103451
There's an alternative kind of annotation for patterns that should work for this case: `// error-pattern:this file contains an unclosed delimiter`

[2022-10-24 17:48] pnkfelix commented on #98746
@rustbot label: I-compiler-nominated

nominating for discussion at T-compiler meeting.

1. I suspect this is a real bug that we need to address a bit more aggressively than we have been. (Who knows how many rust users are impacted, and what percentage of them will not be prepared to upgrade to the next valgrind release.)
2. It might be a sign of a process issue that we didn't flag it as something

[2022-10-24 18:09] xfix commented on #103470
There are plans to enable this lint by default, whatever for all lifetime parameters, or just lifetimes that participate in elision, see #91639. Whatever way that would go, in `async` functions, all lifetimes participate in elision and such be warned against, for instance the following:

[code]

Is a syntactic sugar for this:

[code]

[2022-10-24 19:18] apiraino commented on #103423
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103423.20large.20number.20of.20obligation.20produced.20in.20async.20code.20c.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-10-24 19:22] compiler-errors commented on #102681
I looked into this a bit more. We should probably be denying associated types in AFITs for now. See the corresponding non-AFIT code:

[code]

Which errors like:
[code]

This error exists because of a `'static` type hack. #103491 goes into more detail and potentially fixes this, or at least provides a route to fixing this more easily.

[2022-10-24 19:30] oli-obk commented on #103423
Should we revert before the beta cutoff and try again? The diff isn't very complex after all

[2022-10-24 20:08] CAD97 commented on #103387
IIUC, `where` clauses are deliberately elaborated for trait aliases, because IIRC the intent is that writing `<T: TraitAlias>` should be equivalent to inlining the trait alias (i.e. writing the supertrait and `where` bounds out explicitly).

[2022-10-24 20:15] kwi-dk commented on #98070
Right, and I realize now that that would require unsoundness. So barring kernel bugs or OS-level shenanigans (like LD_PRELOAD, ptrace or seccomp-bpf, which are all out of scope in the same manner as `/proc/self/mem`), the call is literally infallible on Linux (and presumably other POSIX systems). And WASI is modeled on POSIX, and while the Wasm host can make the "syscall" return whatever error it

[2022-10-24 20:15] nnethercote commented on #98746
Valgrind 3.20 has been released.

[2022-10-24 20:48] camsteffen commented on #103429
Garbage in, garbage out!

[2022-10-24 20:50] glandium commented on #98746
Note that valgrind is not the only tool that has problems with DWARF 5.

[2022-10-24 20:51] glandium commented on #98746
Also note there's been a PR on cc-rs for this for a while.

[2022-10-24 21:02] compiler-errors commented on #103387
Makes sense.

[2022-10-24 21:03] jruderman commented on #103429
True!

I prefer the "garbage out" to be closer to linear, but my reason is esoteric (I'm trying to speed up fuzzing the compiler), and this is quite fast despite being quadratic. So if this gets closed as wontfix, I won't be too upset.

[2022-10-24 21:09] jruderman opened #103497 "`let (_ = 3;` causes suggestion to remove a paren that is only hypothetical"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9a8c2017802ea327d90f59f75fe59c98)):

[code]

The current output is:

[code]

The final warning, "unnecessary parentheses around pattern", is sus:

* The compiler shouldn't be so sure that the parens are "unnecessary" when the compiler had to guess where the end-paren was
* In the suggest

[2022-10-24 21:11] est31 commented on #103381
@rustbot label F-let_chains

[2022-10-24 21:32] camsteffen commented on #103429
Ah that makes more sense. I thought you fell asleep on your keyboard.

[2022-10-24 21:50] jachris opened #103499 "Generic inline functions are not always inline if generics are shared"
Consider the following example.

[code]
[code]

## Current behavior
`identity::<i32>` is codegened only once, in crate A. The LLVM IR of crate B does not have the definition, only a declaration (because it was already instantiated for A). On the other hand, `identity_i32` is codegened twice and thus available for LLVM inlining.

## Expected behavior
I would have expected that crate A gets its own

[2022-10-24 22:12] jachris commented on #103499
Actually, this is currently only observable for `-O`, `-O1`, `-Os` and `-Oz`, or `-Zshare_generics=on` with any optimization level. Unless `-Zshare_generics=on` becomes the default in the future, we therefore don't have to be too concerned with missed optimizations. However, with the given optimization settings, there still is a mismatch between inline non-generic and inline generic functions.

[2022-10-24 22:36] jsenkpiel-godaddy commented on #93178
I feel like this should be called `pin_mut!` and have a `pin_ref!` counterpart, because you can't feed it `T` but only `&mut T`/`&T`.

[2022-10-24 22:40] jsvcycling opened #103501 "ASCII escape codes don't render with `include_str!`"
ASCII escape codes aren't rendered correctly when using `include_str!()`.

I've tested this on both stable and nightly channels and they produce identical output. I've also tested a couple terminal emulators (Alacritty and xfce4-terminal) and again they produce identical outputs.

Code:

[code]

Contents of `input.txt`:

[code]

Output:
[code]

(The lone *TEST* correctly appears in bold).

### Met

[2022-10-24 22:49] ChrisDenton commented on #87945
#87704 fixed the specific issue raised here (looking for the exe in the current directory) but didn't close this. I guess partly because the PR was opened before this issue was filed and also because it was [mentioned](https://github.com/rust-lang/rust/pull/87704#issuecomment-898960335) that the uses of the current exe directory is also an issue:

Which @yaahc felt at the time was a compelling rea

[2022-10-24 23:26] jackh726 commented on #36007
I think we should add the test just to be sure.

[2022-10-24 23:30] jackh726 commented on #43354
I'm going to go ahead and close this. I think for this to be actionable, we need specific examples of code that gives bad diagnostics today; otherwise, we just end up with an issue without some concrete way to know when it should be closed. As @estebank mentions, we do (for a long time) elide matching type arguments. There's also been #57413 that has been merged since.

[2022-10-24 23:30] #43354 closed

[2022-10-24 23:33] jackh726 commented on #40802
Going to close as unactionable. We have better processes today to track performance regressions and this particular issue probably isn't going to get looked at.

[2022-10-24 23:33] #40802 closed

[2022-10-24 23:38] jackh726 commented on #38732
Going to go ahead and close this, since this might not even be possible, and is old enough that nobody will probably work on this.

[2022-10-24 23:38] #38732 closed

[2022-10-24 23:40] jackh726 commented on #39154
I agree with Mark here, it's unlikely the extra field causes any performance problems, and as you said, it probably would break things. Going to close.

[2022-10-24 23:40] #39154 closed

[2022-10-24 23:43] jackh726 commented on #41402
Closing as duplicate of #33147

[2022-10-24 23:43] #41402 closed

[2022-10-24 23:48] jackh726 commented on #42857
I almost went to close this as not actionable, but it seems someone has hit this as lately as February.  It's tough though, because I don't even know how to begin to reproduce with a modern version of rustc.

[2022-10-24 23:49] jackh726 commented on #38818
Going to close this is "probably fixed" - not even sure how to begin to dig into this.

[2022-10-24 23:49] #38818 closed

[2022-10-24 23:49] jackh726 commented on #46149
Closing since nobody has been able to reproduce this is roughly 5 years.

[2022-10-24 23:49] #46149 closed

[2022-10-24 23:51] jackh726 commented on #48935
Rustdoc has undergone quite a few updates over the years, and I'm not sure these are even relevant anymore. Closing.

[2022-10-24 23:51] #48935 closed

[2022-10-24 23:51] jackh726 commented on #31665
Seems fixed, but not really sure how to add a test for this. Closing.

[2022-10-24 23:51] #31665 closed

[2022-10-24 23:55] dimpolo opened #103504 "`cargo miri test` with an empty `lib.rs` fails inside the testrunner in `std::sys::windows::io::is_terminal` on Windows"
### Code

Running `cargo miri test` with an empty `lib.rs` fails inside the testrunner in `std::sys::windows::io::is_terminal` on Windows.

I believe this was introduced in 326ef470a8b379a180d6dc4bbef08990698a737a @joshtriplett

### Version with regression

`rustc --version --verbose`:
[code]

### Backtrace

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

@rustbot modify labels

[2022-10-24 23:55] ehuss commented on #103501
`include_str!` does not interpret backslash escapes. It includes the contents as-is. If you want to include escape sequences, you'll need to place the actual ASCII ESC byte in the file (instead of `\x1b`) or replace it (`.replace("\\x1b", "\x1b")`), or use one of the unescaping libraries that can be found on crates.io.

[2022-10-25 00:51] ChrisDenton commented on #103504
Sorry, that was me. I [submitted a patch](https://github.com/rust-lang/miri/pull/2612) to miri but apparently they've been having a spot of bother merging Miri commits back into the rust repo.

[2022-10-25 00:54] jachris commented on #103499
I'm closing this, since it is more or less https://github.com/rust-lang/rust/issues/102539 (which I somehow didn't see before).

[2022-10-25 00:54] #103499 closed

[2022-10-25 00:55] sfackler commented on #102211
I'm working on minimizing it.

[2022-10-25 01:05] compiler-errors opened #103507 "Const eval doesn't normalize opaques in FnDef correctly"
This won't be easy to fix, but filing a bug just so I can track it in a `// known-bug` issue. This was found out of an attempt to replicate rust-lang/miri#2433 in a UI test.

[code]

[2022-10-25 01:43] thomcc opened #103508 "Linker fails to link rlibs on arm64_32-apple-watchos"
In https://github.com/rust-random/getrandom/pull/317 I tried to add watchOS and tvOS support to `getrandom`. During this process, I tried to do a `cargo test --no-run` build for watchOS, which gave me a long error output, seemingly indicating that the linker was ignoring rlibs:

[code]

This seems to indicate that we aren't invoking the linker correctly on arm64_32-apple-watchos, or that it doesn'

[2022-10-25 01:50] chenyukang commented on #103474
@rustbot claim

[2022-10-25 03:08] skyzh commented on #103423
Though might be fixed by https://github.com/rust-lang/rust/pull/103509, I'll probably still look into this and make a mcve based on the reverted commit.

[2022-10-25 03:09] compiler-errors commented on #103423
It would be very useful if you created an MCVE that demonstrates the regression, for a future attempt to fix it. Thanks @skyzh.

[2022-10-25 04:08] jruderman commented on #103507
Just putting this here so it shows up in searches.

<strong>ICE</strong>

[code]

<details><summary><strong>Full ICE output</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-25 04:31] thomcc commented on #103508
The `-sim` targets work, including `aarch64-apple-watchos-sim`, which hints that perhaps the `arm64_32` arch is being mishandled somewhere.

[2022-10-25 04:57] #103143 closed

[2022-10-25 04:57] #101660 closed

[2022-10-25 04:57] #103325 closed

[2022-10-25 04:57] #103407 closed

[2022-10-25 05:44] mdnava commented on #103458
This one was updated just yesterday using the MSVC .msi package to try it out:

![2022-10-25 01 43 06](https://user-images.githubusercontent.com/24944618/197692152-6efa0599-bee1-4b81-900f-eb3cfdc08a82.png)

[2022-10-25 06:05] ChrisDenton commented on #103458
I suspect that will encounter the same problem once you upgrade. I think the issue is that the newer installer is adding the 1.64 directory to the `PATH` environment variable but *after* the older directory. So when you run rustc the 1.60 version is always used instead of the new version. A workaround would be to manually edit the `PATH` environment variable or to uninstall old versions.

But, if

[2022-10-25 06:15] RalfJung commented on #93178
Not sure what you mean, you can give it a `T` just fine. You will *get* a `Pin<&mut T>`, but that can be easily converted into `Pin<&T>` if needed via `as_ref`.

[2022-10-25 07:48] #102714 closed

[2022-10-25 08:27] mdnava commented on #103458
This is the Rust location in my PATH variable:
`%RUST_HOME%\toolchains\stable-x86_64-pc-windows-msvc\`

![2022-10-25 03 14 06](https://user-images.githubusercontent.com/24944618/197707711-d1dcdfb0-ebf4-4019-8dc8-084dba1aa193.png)

That rustc.exe returns version 1.60 even tho I updated to 1.64 version. And by "updated" I mean I removed the previous directory and installed Rust from the latest MSVC

[2022-10-25 08:45] dimpolo commented on #103504
Ah I see, seems like https://github.com/rust-lang/rust/pull/103392 might fix this

[2022-10-25 08:45] vladimir-ea commented on #103508
"building for watchOS-arm64_32 but attempting to link with file built for unknown-arm64" does seem to indicate something awry somewhere.

I had `getrandom` building ok some time ago. This was the change I had made: https://github.com/vladimir-ea/getrandom/commit/da2e81573f6700a15b16020b1bbff09781ff95e7 (there was also the same change on the 0.1 version).

in your changes what is the `apple_other.r

[2022-10-25 08:46] vladimir-ea commented on #103508
Also, has stdlib support of watchos been merged yet?

[2022-10-25 08:55] petrochenkov commented on #38732
cc https://github.com/rust-lang/rust/pull/98214

[2022-10-25 09:33] nappa85 opened #103515 "New example of higher-ranked lifetime error"
As discussed in #92096, I've found another example of higher-ranked lifetime error

Long story short, I was developing a struct that contains a string key and a database connection. For other problems the connection was already owned, but the key was a Cow<'key, str> to avoid allocation when unneeded.
The [constructor](https://github.com/nappa85/logic-lock/blob/cow/src/lib.rs#L107) accepted S: Int

[2022-10-25 09:35] kwerner8 opened #103516 "Support for WebAssembly externref in non-web environment"
My goal is to compile a function written in Rust to WebAssembly which has as an input/output type `externref`.
Then I want to call this function as an export in Wasmtime. So, this function will receive an `externref ` as an input and also return one.

The WebAssembly Code in the wat format should look similar to this:

[code]

I have seen that there exists [`wasm-bindgen`](https://crates.io/crates

[2022-10-25 10:14] ohno418 commented on #103490
I'd like to take a look.
@rustbot claim

[2022-10-25 10:15] fmease commented on #103515
@rustbot label C-bug F-generic_associated_types A-async-await A-type-system

[2022-10-25 10:16] michaelwoerister commented on #88840
This is very mysterious. It works just fine in other tests like here:
https://github.com/rust-lang/rust/blob/31d754a1dfba4d091a05589459708f286d5a231e/src/test/debuginfo/pretty-std.rs#L88-L89

But it still reproduces with a current 1.66 nightly.

[2022-10-25 11:00] hellow554 opened #103517 "Dead link in source code browser"
### Location
Using [this](https://doc.rust-lang.org/nightly/src/std/sys/unix/process/process_unix.rs.html) page and then clicking on the left onto `unix/cmath.rs` will give you a 404: https://doc.rust-lang.org/nightly/src/std/sys/unix/unix/cmath.rs.html

![grafik](https://user-images.githubusercontent.com/921462/197756081-b5a9a957-ceb9-48f9-9ddd-678d78b2e5c0.png)

### Summary
Either that file shou

[2022-10-25 11:19] kornelski opened #103518 "Type parameter shadowing concrete type results in confusing error message"
[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021)

The current output is:

[code]

The confusing part about this is that `Nested<String>` exists when `String` is a type, but does not exist when `Nested<String>` has a type parameter due to `impl<String>` mistake. Textually, both cases are exactly identical, so the error message appears to be mistaken and stat

[2022-10-25 11:39] RalfJung opened #103519 "Test Miri on macOS in CI"
It would be good to run the Miri tests on a macOS target in CI. With https://github.com/rust-lang/rust/pull/103392, running `x.py test src/tools/miri --target aarch64-apple-darwin` should work on any host OS. However when we put that on CI, it [fails on Windows](https://github.com/rust-lang/rust/pull/103392#issuecomment-1290407162) since x.py insists that `cc` must be installed. So for now this is

[2022-10-25 11:39] On0n0k1 commented on #103497
In the second suggestion. You mentioned that the suggested location for ')' was after the underscore '_'.

Maybe, instead, this is because the location is behind the '=' operator. If the operator was '==', the checker could have kept searching. But a parentheses can't exist surrounding a '=' operation. So the guess was correct.

[2022-10-25 12:07] CryZe commented on #103516
I believe this is essentially blocked by LLVM support: https://reviews.llvm.org/D122215

[2022-10-25 12:07] Dylan-DPC commented on #54551
Closing this as RLS has been deprecated

[2022-10-25 12:08] #54551 closed

[2022-10-25 12:13] GuillaumeGomez commented on #102910
Some extra information:

[code]

[2022-10-25 12:31] SarthakSingh31 commented on #101666
Hello @jyn514, I looked into this a little bit and to me it seems that all the keys do implement `rustc_query_impl::key::Key`. The main problem with calling `Key::query_crate_is_local` from `rustc_middle::ty::query::Providers::default` is that `rustc_middle` cannot depend on `rustc_query_impl` and therefore cannot use the `Key` trait.

I am new to contributing to rust. I don't know how feasible th

[2022-10-25 12:33] #103326 closed

[2022-10-25 12:33] #87800 closed

[2022-10-25 12:52] sfackler commented on #102211
Here is a semi-minimized repro. It still depends on Hyper and Tokio, but they could probably be replaced with some PhantomData inserts with some more work: https://gist.github.com/sfackler/a7f3aaf2ce3f5ff4c99e1a3d67f828ed

[code]

[2022-10-25 13:15] sfackler commented on #102211
For whatever reason, the presence of the `AuditLogService` in the future seems to be a trigger. If you change line 160 to just `let request_service = HandlerService` it compiles.

[2022-10-25 13:17] vincenzopalazzo commented on #102211
Thank @sfackler,

I think the core concept missed in your previous report are:

Using a wrapper around `Future` like
[code]

and your handle_service implementation

[code]

[2022-10-25 13:39] #103173 closed

[2022-10-25 14:01] ijackson commented on #71503
I don't think this is right.

As I understand it, a `retain` whose `F` takes `&T` can be implemented more efficiently since it can know that the ordering doesn't change.  For example, if only a small number of elements are removed, a few log-time fixups would suffice.

A `retain` which gives out `&mut T` needs to assume the ordering might change, and would have to check it and be prepared to reins

[2022-10-25 14:04] ijackson commented on #71503
(This is unlike `Vec` which doesn't care about what the contents are like, so `Vec::retain_mut` is just the same as `Vec::retain` inside.)

[2022-10-25 14:23] Rageking8 commented on #103518
@rustbot label +D-confusing

[2022-10-25 14:44] thomcc commented on #103508
Yes, but it still requires nightly and -Zbuild-std due to not shipping watchOS builds via rustup.

It's completely identical to ios.rs, just renamed. It's basically what you did. I don't believe the issue is with the patch (after all, the simulator targets work).

[2022-10-25 14:49] vladimir-ea commented on #103508
Does `armv7k-apple-watchos` work? I will see if I can reproduce

[2022-10-25 15:03] SarthakSingh31 commented on #103463
It looks like this started after commit e42687478870e9a764feabc7277300f2afe7a2ac. (#103192)

I was able to create a MCVE:

[code]

[code]
<details>
  <summary>Backtrace:</summary>

[code]
</details>

[2022-10-25 15:52] SRaimondi opened #103528 "Bounds check are added for array when they should not (most likely)"
### Code

I tried this code:

[code]

and checked the generated code for Rust 1.64 and 1.63, see [here](https://godbolt.org/z/PvdoYoThP).

I expected the compiler to omit the bounds check on the array since the values of the enum are known and it's not possible to have a value outside of the allowed range of indices (unless you use `transmute` but that would be unsafe).

This is generated as expec

[2022-10-25 15:59] saethlin commented on #103528
I think this is a duplicate of https://github.com/rust-lang/rust/issues/102303

[2022-10-25 16:01] #103528 closed

[2022-10-25 16:05] m-ou-se commented on #101899
We've discussed this in a few different libs-api meetings. After considering the alternatives, we felt that keeping #95295 is still the best path forward, even though it is technically a breaking change. Many of the potentially broken crates have already been updated. We've also marked https://github.com/rust-lang/rust/pull/95295 to be included in the release notes of 1.65 to call out extra attent

[2022-10-25 16:09] fmease opened #103529 "Parser crashes after encountering invalid variable declaration in macro call"
### Code

[code]

### Meta

`rustc --Vv`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

@rustbot label A-parser A-macros

[2022-10-25 16:22] cjgillot opened #103532 "Tracking Issue for `impl_trait_projections`"
This is a tracking issue for the feature using `Self` and projections in `impl Trait`.
The feature gate for the issue is `#![feature(impl_trait_projections)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* me

[2022-10-25 16:25] vladimir-ea commented on #103508
So definitely something is broken, I can no longer build target on current Rust master (`rust % ./x.py b library/std --target arm64_32-apple-watchos`).

I am not sure what the problem is, but I think it might be due to `library/backtrace` or `library/unwind`. These moved to submodules at some point during the progress of the watchos changes and it looks like something there might be brok. Grep tho

[2022-10-25 16:26] chenyukang commented on #103529
@rustbot claim

[2022-10-25 16:50] fmease opened #103534 "Multiple cases where parse error recovery is obversable by macros"
In multiple cases, macro fragment specifiers like `expr` and `stmt` match more token streams than they should. Rephrased, they misclassify certain token streams. This might happen when the parser tries to recover from obviously invalid Rust code to provide better immediate and subsequent error messages to the user.

## Why Is This a Concern?

The user should be allowed to assume that a fragment sp

[2022-10-25 17:56] RalfJung opened #103538 "rustc-dev component recently became a lot bigger"
I need to download the rustc-dev component quite a lot for Miri development, and noticed that it recently became a lot bigger.

For b1ab3b738ac718da74cd4aa0bb7f362d0adbdf84, it was 125MB in size.
Now, at 85d089b41e2a0c0f07ab34f6c5a7c451389f25e6, it is 205MB in size.

Is that an expected regression? Is there a way to avoid this almost doubling of the size?

[2022-10-25 17:56] compiler-errors commented on #103534
We probably should be a lot more conservative with recoveries in macros. This reminds me of #103224.

[2022-10-25 18:00] Mark-Simulacrum commented on #103538
cc @Kobzol @bjorn3, suspected to be due to https://github.com/rust-lang/rust/pull/101403

[2022-10-25 18:13] bjorn3 commented on #103538
It looks like we include both llvm bitcode and object code rather than including only llvm bitcode in the rlibs for some reason.

[2022-10-25 18:19] oli-obk opened #103539 "ICE when missing $ in front of a fluent variable"
I tried this code:

[code]

I expected to see this happen: an error telling me `{boo}` needs to be `{$boo}`

Instead, this happened:

[code]

[2022-10-25 18:24] Nilstrieb opened #103541 "Use a faster linker by default in the compiler profile"
By default for the compiler profile, we use the default system linker to compile the compiler. While this is the easiest solution that will work in the most cases, it's usually rather slow.

There is a `rust.use-lld` option in `config.toml` which can significantly speed up incremental builds and should be on by default.

This will work fine on Linux and should also work fine on Windows, but LLD on

[2022-10-25 18:26] Nilstrieb commented on #103541
Note that on `x86_64-unknown-linux-gnu` (and other toolchains as well probably), the shipped `rustc` is linked with LLD already as can be seen with `readelf -p .comment ll (rustc +stable --print sysroot)/lib/librustc_driver*.

[2022-10-25 18:35] Nilstrieb commented on #103534
I will put up a PR to add some more info the parser to make these checks easier in the future.

[2022-10-25 19:00] ehuss commented on #103538
To avoid the object code, it needs to use `-Clinker-plugin-lto`. However, what needs object code vs bitcode can be quite complex, so it may not be as simple as just overriding more flags.

[2022-10-25 19:04] thomcc commented on #103508
I suspect this is unrelated given that the simulators work, and many of the errors pointing to a different thing. I do agree that probably `backtrace` needs some adjustment though, and will work on that after work.

Enjoy your vacation, thanks for responding.

[2022-10-25 19:09] bjorn3 commented on #103538
I though passing `-Clto` would be enough to disable object code generation, but it seems not.

In any case one way to solve this issue I think would be to ship .rmeta files instead of .rlib files in rustc-dev. All users of rustc-dev should be linking against librustc_driver.so anyway to avoid duplicate symbols when being loaded by rustc or when loading a codegen backend linked against librustc_dri

[2022-10-25 19:17] compiler-errors commented on #103534
@nilstrieb and I discussed this a bit.

Nils will add a flag to the parser state to identify when we want recovery to be enabled, and only *do* recovery when this is set to true. Then all parser recoveries that exist currently should eventually be gated behind this flag, so that errors are properly bubbled up within macros, so that we call fall ahead to subsequent matcher branches.

For example, g

[2022-10-25 19:21] Nilstrieb commented on #103534
This brings up a fun question. Should [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4eb105dec6a6d6406244bf3d4edf06cc) compile? ```rust
macro_rules! what {
    ($e:expr) => { compile_error!("no") };
    ($($tt:tt)*) => {};
}

fn wh() {
    what! {
        match 1;
    }
}
[code]

[2022-10-25 19:25] compiler-errors commented on #103534
I believe it should be compile, and that my changes described above and discussed in your comment ("So we not only have to gate all recovery directly, but also all emissions of diagnostics behind the flag.") would be sufficient.

Perhaps it's worthwhile to nominate this for lang team discussion, since that code you linked @nilstrieb hasn't compiled since before 1.0 :sweat_smile:

[2022-10-25 19:27] compiler-errors commented on #103534
Question for the lang team:

1. Should this code compile?
[code]

2. Is it generally okay to "pare back" existing recovery behavior to make sure that something like this compiles?
[code]

--

This may even be more of a "implementation" question than a lang question, to perhaps this nomination is moot.

[2022-10-25 19:41] clarfonthey commented on #52662
I assume that fully implementing this feature isn't very high priority, but what do people think in terms of marking this flag as incomplete, given [the comment I posted earlier this year](https://github.com/rust-lang/rust/issues/52662#issuecomment-1043912799)?

I would offer to help with this but I'm not sure I'm aware of what's involved to do this. I'm also not sure where this is on the road map

[2022-10-25 19:58] Imberflur opened #103545 "Error in associated type definition is repeated where it is used in a function signature."
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=45c6db6600bf537e04ed3c8111a4d89d
<details>
<summary>code</summary>

[code]

</details>

The current output is (1.64.0):

[code]
<details>
<summary>On beta/nightly it is a bit different, the second error now points to the whole function</summary>

[code]

</details>

Ideally the output should look like

[2022-10-25 20:44] Imberflur opened #103547 "Missing trait error for type (used as a type parameter) containing a trait object can have a broader span than expected"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7a574fab349d3be4d4574b12df5a9932

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Note that replacing `dyn OtherTrait` with a non trait object type like `u8` yields the desired error output. My first guess would be that this is related to expanding `dyn OtherTrait

[2022-10-25 20:59] Mark-Simulacrum commented on #103330
Discussed in lang, dropping nomination.

Agreement that we want to revert the change in behavior and backport that to 1.65 (and 1.64, but that's not happening given short time window).
Considering whether we want to make the behavior change can happen in a follow-up proposal.

[2022-10-25 21:09] alercah opened #103548 "Add links to doc items to the Unstable Book"
Currently the Unstable Book has [autogenerated library feature links](https://github.com/rust-lang/rust/blob/4a82c2174a7e986f9a50d9ec806c4c47bd22eed8/src/tools/unstable-book-gen/src/main.rs#L39) but all they do is [link to the tracking issue](https://doc.rust-lang.org/nightly/unstable-book/library-features/arc-unwrap-or-clone.html).

It would be very helpful to have them link to all the individual

[2022-10-25 22:46] jsha opened #103551 "Replace libstd, libcore, liballoc terminology in docs"
There are a few places in the standard library docs that still refer to libstd, libcore, and liballoc; the modern naming for these would be `std`, `core`, and `alloc`. We should update the docs.

[code]

[2022-10-25 22:56] Mark-Simulacrum commented on #103551
FWIW, I sometimes find it a lot clearer -- particularly for core -- to say "libcore". That's unambiguously a library, whereas "core" can mean a lot of things otherwise. I think in many cases this doesn't matter, but we should be careful when reviewing the resulting PR from this issue to make sure context is there, not just directly accept a search and replace.

[2022-10-26 00:39] AuroransSolis opened #103555 "`array::zip` in combination with `array::map` optimises very poorly"
Today for no reason in particular I was curious about the behaviour of arrays when zipped together and then mapped into a single array, roughly:
[code]
I wrote some tests for this and disassembled them in Godbolt to see what was going on behind the scenes and wow was a whole lot going on that seemed like it didn't need to be. So I wrote something kinda like what's in the stdlib for mapping and zip

[2022-10-26 00:43] scottmcm commented on #103534
I think the core problem is that `macro_rules` are insufficiently future-proofed, leading to other problems too, like #86730.

My ideal solution (if we can find a way to do it without breaking the world) would be to make the second arm in
[code]
be *useless*, as anything it could potentially match would go into the first arm instead, and then produce an error if it's not actually a valid `expr` un

[2022-10-26 00:59] fmease commented on #103555
@rustbot label C-bug I-slow A-array A-const-generics T-compiler

[2022-10-26 01:17] mikebenfield opened #103557 "bootstrap: Document that setting `description` changes the version hash"
If I change `description = ` in `config.toml`, the Crate IDs change, which leads to different name mangling. In particular this means it's not possible to use PGO profiles produced by a compiler with one description to build a compiler with a different description. Is this intentional?

I'm not sure if v0 mangling actually has anything to do with this, but that's where it was convenient for me to

[2022-10-26 01:21] Mark-Simulacrum commented on #103557
Yes, this is expected (and largely desired, IMO, though it's tricky to make the right tradeoff here for all use cases). The comment above description intends to make this clear, perhaps could use some clarification - feel free to file a PR there.

I think it could make sense for us to have a way of exposing metadata that's explicitly informational and doesn't affect metadata, but I worry about it

[2022-10-26 03:24] mdnava commented on #103458
Ok, I just did a test and I'm 90% convinced the error is on my side.
I'm sorry to have taken some of your time. Thank you!

It's still a weird error. But not likely caused by the downloaded package.

What did I test?.. simple:

1) I used my script to again start an update to latest Rust (MSVC x64 v1.64).
2) While the update was ongoing and copied the downloaded .msi from the TEMP dir to the Deskto

[2022-10-26 03:24] #103458 closed

[2022-10-26 03:55] PureWhiteWu commented on #100013
Hello, is there any progress about this?

[2022-10-26 04:25] Nilstrieb commented on #103534
The matching logic uses the starting set already (presumably as a fast path)

[2022-10-26 04:30] zbyrn commented on #101637
@rustbot claim

[2022-10-26 04:48] Rageking8 opened #103561 "Check for validity of next few tokens before suggesting adding missing 'in' in for loop"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f18a8693aefa1e56d820fd2f1e51cfa4)

[code]

The current output is:

[code]

Ideally the compiler should check the validity of next few tokens in the source code before emitting an error of ( missing `in` in `for` loop ). If wanted we can even suggest adding a `_` to delimit the identifier, thou

[2022-10-26 04:50] Rageking8 commented on #103561
Maybe another edge case where special consideration is needed is this case: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6509a837c9332391ae507c787586fcf9)
[code]
[code]

In this case we may suggest removing the `const`.

[2022-10-26 05:07] chenyukang commented on #103485
There is an option in `config.toml`:
Automatic submodule handling can still be disabled with `build.submodules = false`.

We'd better get confirmation if there is no explicit config parameter get from `config.toml`?

[2022-10-26 05:12] Rageking8 commented on #103551
@rustbot claim
I will try to replace those that are unambiguous.

[2022-10-26 06:17] mdnava commented on #103458
Ok.. that 90% just became a 100% certainty it was an error on my side. The reason why it happened to the MSVC toolchain and not the GNU was only becase in the first case I was updating (an existing version) and in the second case installing (for the first time). After any future release of Rust the GNU toolchain would've behave the same way and show the wrong version of Rust.

Best regards!

[2022-10-26 07:18] Millione opened #103563 "Unexpected trait bound not satisfied in GAT & HRTB"
I tried this code:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-10-26 07:59] kwerner8 commented on #103516
Okay. Thank you very much!
Are there plans to enable this feature in the future?

[2022-10-26 09:11] cavivie opened #103566 "Use include_bytes with optional way"
I'm using `include_bytes` to do compile time embedding bytes data from a file, it works fine when the file exists, but when the file doesn't exist it will prompt a compiler error instead of a warning. In my scenario, the file does not necessarily exist, but if it exists, the content of the file needs to be compiled with the program. If it does not exist, there will be additional logic processing i

[2022-10-26 10:26] apiraino commented on #98746
@glandium I think you're referring to this one PR on cc-rs: https://github.com/rust-lang/cc-rs/pull/694

(linking it here for reference)

[2022-10-26 10:51] apiraino commented on #100544
I'll tentatively close this issue as it this seems now it's an accepted breakage that will need crates to update their code (example, the above mentioned #102937)

@rustbot label -i-prioritize

[2022-10-26 11:29] #103425 closed

[2022-10-26 11:29] #102892 closed

[2022-10-26 11:29] #103244 closed

[2022-10-26 11:57] chenyukang commented on #103541
Have you tried to ues `mold` to build Rust compiler,
What's the benchmark compared with default one?
I would like to have a try.

[2022-10-26 12:20] tolak commented on #78744
I got it too with `cargo contract build` with `rustc 1.65.0-nightly (c2804e6ec 2022-09-07)`, fix build with adding following options in Cargo.toml
[code]

[2022-10-26 12:26] jachris commented on #102539
I closed #103499 as a duplicate, but reading this again, I'm not so sure. If I read it correctly, this issue is not so much about the behavior of `-Zshare_generics=on`, but rather about the general placement of generic inline functions, in particular for `-Zshare_generics=off`.

What are your thoughts on excluding inline generics from sharing?

Personally, I would have expected that instantiations

[2022-10-26 12:44] Nugine commented on #87555
Hi. I have just implemented this in my library: [`const_str::concat_bytes`](https://docs.rs/const-str/0.5.2/const_str/macro.concat_bytes.html). It supports const-evaluation, more powerful than [`std::concat_bytes`](https://doc.rust-lang.org/nightly/std/macro.concat_bytes.html).

[2022-10-26 12:54] ZettaScript opened #103573 "ICE region_obligations not empty"
### Code

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=13b47c0493188f18b6953bc5760c9d77

[code]

### Meta

`rustc --version --verbose`:
[code]

Fails on nightly 1.66.0 but not on stable 1.64.0.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Edited: minified the code

[2022-10-26 13:01] chenyukang commented on #103541
Seems there is a argument error for `mold`:

[code]

[2022-10-26 13:39] m-ou-se commented on #89058
Let's do a libs+compiler FCP for dropping both FreeBSD 10 and (perhaps a little later, after testing) FreeBSD 11:

@rfcbot merge

[2022-10-26 13:40] jackh726 opened #103574 "Need to add a test for marker traits with `'static`"
Not sure if we have a test for the following

[code]

and

[code]

If not, we need to add them, since they would be important for special casing `'static` during canonicalization.

[2022-10-26 13:56] andersk commented on #46139
Can we solve this by linking the vtables with LLVM [`linkonce` (or `linkonce_odr`) linkage](https://llvm.org/docs/LangRef.html#linkage-types)?

As noted by @burdges in https://github.com/rust-lang/rust/pull/80505#issuecomment-753449698:

[2022-10-26 14:27] uweigand opened #103576 "-C self-contained=yes creates programs that crash on startup (on linux-gnu targets)"
Compiling and running a "hello world" with the `-C self-contained=yes` option on `x64_64-unknown-linux-gnu` results in:
[code]
This happens with any rust version I tried, in particular `rustc 1.64.0 (a55dd71d5 2022-09-19)`.

Looking into more details reveals:
[code]

So what appears to happen is that there are no startup objects available in self-contained mode for the target, therefore no startup

[2022-10-26 14:29] fmease commented on #103534
We could definitely do that for decl macros 2.0 since they are unstable. For decl macros 1.2, we could start issuing future incompat warnings.

I wonder if that'd make them less powerful.

[2022-10-26 14:31] uweigand opened #103577 "No rust-std support for s390x-unknown-linux-musl"
My understanding is that the rust compiler and library sources should now contain everything needed to support Rust on the `s390x-unknown-linux-musl` target.  In fact, the s390x Alpine distro now comes with a Rust package.

However, I still get:
[code]

What would need to be done to enable this target?

[2022-10-26 14:37] bjorn3 commented on #46139
linkonce will block optimizations, while linkonce_odr is not allowed AFAICT as the different vtables contains reference different copies of the same methods in case of generics I believe and are thus not identical. Additionally I'm not sure if linkonce is supported everywhere. And finally linkonce/linkonce_odr doesn't help with dylibs. Those will still get their own copies.

[2022-10-26 14:48] lupd commented on #103573
Also ICEs on beta

[2022-10-26 14:50] #95330 closed

[2022-10-26 14:57] andersk commented on #46139
The `linkonce_odr` contract is that merged globals are “equivalent”, not identical. As I understand it, different copies of the same methods should be considered equivalent for this purpose. Clang [uses `linkonce_odr`](https://godbolt.org/z/6jM6W1Gbn) for C++ vtables, which have similar considerations.

Even if this solution is partial, is it controversial to suggest that partial solutions might b

[2022-10-26 15:26] A1-Triard commented on #100657
Can anybody suggest a workaround for this issue?

[2022-10-26 15:45] Redfire75369 opened #103583 "ICE: Procedural Macro Stack Overflow"
### Code
The code here effectively boils down to this, but there's a procedural macro involved so I've made a repository. For now, this is the smallest example I've found. I'll narrow it down further when I have the time.
[code]
Upon running `cargo check`, the compiler experiences an ICE.
Repository: <https://github.com/Redfire75369/rustc-ice-minimal>

### Meta
Stable `rustc --version --verbose`:

[2022-10-26 15:47] jyn514 commented on #78744
Posting on a closed issue is not a good way to get visibility for this problem. I suggest opening a new issue and linking back to this one.

[2022-10-26 15:50] jackh726 commented on #103573
stable error -> beta ICE

I tried moving things around so lifetime is on `TraitB`, but that's fine. This also requires the lifetime `'a`.

[2022-10-26 15:53] jackh726 commented on #103573
Going to preemptively assign P-high, since this code isn't correct anyways. I think this is something to do with our error recovery here, since this valid code is fine, which only changes the trait: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e0d39146c6786ef56d9cb8c81ac5946b

[2022-10-26 15:55] Redfire75369 commented on #103583
It turns out there was unconditional recursion, so there's nothing unexpected here.  Thanks to @danielhenrymantilla for finding it.
<https://github.com/Redfire75369/rustc-ice-minimal/blob/fe7e08028ce533248322052feab395ed5ea4cc79/ion-proc/src/function/attribute.rs#L46>

[2022-10-26 15:55] #103583 closed

[2022-10-26 16:13] Rageking8 opened #103587 "Recover from common `if let` syntax mistakes/typos"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=56d8d05130b8a46c94a014811061b0a4)

[code]

The current output is:

[code]

Ideally the output should suggest how to fix the syntax mistakes/typos for each of the above examples.
1 -> Remove extra `=`
2 -> Swap `x` and `Some(_)`
3 -> 1 and 2
4 -> Add `let`

[2022-10-26 16:59] bjorn3 commented on #46139
Even if they are optimized differently?

A partial solution makes people think it works without actually working IMO.

[2022-10-26 17:04] andersk commented on #46139
Yes. The counterexample given in the documentation is “two functions with different semantics”, not two functions with the same semantics that are optimized differently.

This is a nondeterministic bug that depends on the way code is split between codegen units—people who would be inclined to think it works without actually working, would *already* think that.

[2022-10-26 17:17] bjorn3 commented on #46139
cg_clif actually deterministically generates a new vtable for every function and static using it. It also doesn't have the comdat support necessary to support linkonce.

[2022-10-26 17:54] nicolassanchez1 commented on #103407
@Ivan-Sanchez-Diaz Hello bombon

[2022-10-26 17:56] kaifastromai opened #103589 "Path does not properly split windows path when running on non-windows Os"
I tried this code:

[code]

The result I would expect should be "test3", but it instead returns the entire path item. An example can be seen on the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=933d57160e1f242b129ad04db8636b34)

### Meta

`rustc --version --verbose`:
[code]

[2022-10-26 18:01] edmondo1984 commented on #41620
What's the right way to deal with those pattern matching in testing a function that returns an enum?

[code]

[2022-10-26 18:41] Nilstrieb commented on #103534
I did some more investigation on this. This thread contains quite some confusion about the actually implemented matching semantics (mostly because of myself) but I think I can now clean this up.

# The currently implemented macro matching semantics

One arm is tried after another in declaration order. If matching or an arm fails with the `Failure` error, the next arm is tried. When no more arms ar

[2022-10-26 18:55] the8472 commented on #80094
In #103555 `.zip().map()` has been reported to be slow. https://github.com/rust-lang/rust/issues/80094#issuecomment-747099411 mentions that kind of pattern as motivation.

Does anyone actually need the `[(T, U); N]` output? Or would a `[T; N]::map_pairwise(other: [U; N]) -> [V; N]` (or the iter_fixed crate) cover most needs?

[2022-10-26 19:18] the8472 commented on #103589
The behavior of the `std::path` module is platform-dependent. On unix inputs are treated as unix-paths, on windows as windows-paths. So this is expected behavior.

[2022-10-26 19:20] the8472 commented on #103589
#66621 proposes a potential solution, so I'm closing this as a dupe of that.

[2022-10-26 19:20] #103589 closed

[2022-10-26 19:39] nnethercote opened #103595 "Tracking issue for speeding up rustc via its build configuration"
There are several ways to speed up rustc by changing its build configuration, without changing its code: profile-guided optimization (PGO), link-time optimization (LTO), post-link optimization (via BOLT), and using a better allocator (e.g. jemalloc or mimalloc).

This is a tracking issue for doing these for the most popular Tier 1 platforms: Linux64 (`x86_64-unknown-linux-gnu`), Win64 (`x86_64-pc-

[2022-10-26 21:18] the8472 commented on #103595
Another thing to try that was brought up on zulip is aligning the text segment to 2MB so it can be loaded in a way that transparent huge pages kick in, but I'm not 100% sure if this even works yet, last time I checked large page support in the page cache was still a WIP and I haven't seen it in release notes.

[2022-10-26 21:31] lqd commented on #103595
An update for windows:
- I'm trying ThinLTO for `rustc_driver.dll` in https://github.com/rust-lang/rust/pull/103591 as local results looked interesting enough (but nowhere near as high as we saw on `x86_64-unknown-linux-gnu`).
- I don't think we actually can (or need to) ThinLTO LLVM separately on MSVC: that is done by [linking to LLVM as a shared library](https://github.com/rust-lang/rust/blob/36

[2022-10-26 21:42] jruderman opened #103599 "ICE on recursive fn which returns impl T"
Valid according to stable (1.64.0), but ICEs beta (1.65.0-beta.4) and [ICEs nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cc86e5d371c37ed9015ebdcee4429653):

[code]

Reduced from a [fuzzer](https://github.com/jruderman/fuzz-rustc) mutation of [src/test/ui/impl-trait/issue-87450.rs](https://github.com/rust-lang/rust/blob/0a6b941df354c59b546ec4c0d27f2b9b0cb1162c/s

[2022-10-26 22:05] compiler-errors commented on #103599
yup, ez fix incoming

[2022-10-26 22:58] dimpolo commented on #103504
fixed by https://github.com/rust-lang/rust/pull/103392

[2022-10-26 22:58] #103504 closed

[2022-10-26 23:25] compiler-errors commented on #103529
cc @nilstrieb this should probably be gated as well

[2022-10-27 00:04] kubycsolutions opened #103606 "Compiler build depends on libstdc++-static"
### Location
https://github.com/rust-lang/rust#building-on-a-unix-like-system

### Summary
The README lists a number of packages which have to be present for `./x.py build` to succeed.

In my Win10/WSL/fedoraremix environment, I found I had to also install `libstdc++-static` before compilation could start. It now seems to be running without errors (though with some warnings in the `.cpp` files on

[2022-10-27 00:05] fmease commented on #103529
This code is actually already mentioned in #103534 ;)

[2022-10-27 00:11] Heliozoa opened #103607 "ICE when include_bytes-ing ~>1GB of data in lib.rs"
### Code
`dd if=/dev/random of=file bs=1G count=1`
[code]
[code]
I was not able to reproduce the crash when I moved the code to main.rs.

Including one ~750MB file did not cause a crash, but including both a ~750MB file and a ~250MB file did.

### Meta
Was able to reproduce on stable and nightly
`rustc --version --verbose`:
[code]
`rustc +nightly --version --verbose`:
[code]

### Error output
When

[2022-10-27 01:34] Rageking8 commented on #103574
I can help add this test if needed. (Did not rustbot claim so as to not remove lcnr from assignee)

[2022-10-27 01:40] jackh726 commented on #103574
Sure :) would help out @lcnr if nothing else

[2022-10-27 02:53] garageagleMC opened #103612 "ICE while using Rocket"
This bug occurred when using [Rocket](https://github.com/SergioBenitez/Rocket/), and with all its crazy macros I'm not quite sure how to minimize my code. 😅 Hopefully what I've shown will still help somewhat.
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
[code]

<details><summary><strong>Backtrace (full)</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-27 03:15] #100320 closed

[2022-10-27 03:15] Rageking8 opened #103613 "Add suggestion for missing identifier in struct instantiation"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1d23bae80faab6f513443e7617b81db1)

[code]

The current output is:

[code]

Ideally the output could look something like this:

[code]
The help suggestion should only be emitted when the type of the value inside the initializer matches that of the struct and the number of values must equal that

[2022-10-27 03:29] nnethercote commented on #103595
Given that it's not even clear that this works, let's leave it off this issue for now.

[2022-10-27 04:15] skyzh commented on #103423
This took me days. I originally thought the root cause lies in one module of our system, and it turned out that a combination of multiple modules are causing this issue.

MCVE here:

[code]

Basically, we are doing 3 things here:

* Firstly, construct a complex nested iterator type, this will generate 5000 obligations on all call sites of `next`.
* Secondly, construct `next` and `next2` streams.
*

[2022-10-27 04:18] skyzh commented on #103423
What's more interesting, change `next2`'s signature to:

[code]

will ICE on latest main

[2022-10-27 04:28] skyzh commented on #103423
Cargo.toml

[code]

[2022-10-27 05:14] chenyukang commented on #103587
@rustbot claim

[2022-10-27 05:51] ChrisDenton commented on #83043
Sounds like a plan.

[2022-10-27 05:51] #83043 closed

[2022-10-27 05:57] #90369 closed

[2022-10-27 06:01] #101117 closed

[2022-10-27 06:09] thomcc commented on #82590
I would be very opposed to making `std::fs::write` attempt to be atomic by default. There's no general way of doing that that doesn't come with its own drawbacks, especially when used in publicly accessible directories (Apple's "Secure Coding Guide" contains [documentation](https://developer.apple.com/library/archive/documentation/Security/Conceptual/SecureCodingGuide/Articles/RaceConditions.html#

[2022-10-27 06:48] MasterAwesome opened #103619 "Prologue of function missing in FatLTO but present in ThinLTO"
Compiling with branch-target-enforcement = 1(`-Zbranch-protection=bti`) on `aarch64-unknown-linux-gnu` causes different code to emitted in the prologue of the function for fat LTO and thin LTO in **debug** mode.

Baseline assembly for function add defined as follows:
[code]

compiled into a `cdylib`.

## [DEBUG] llvm-objdump on ThinLTO
[code]

### [DEBUG] llvm-objdump on FatLTO
[code]

### [RELEAS

[2022-10-27 06:52] jruderman opened #103620 "Exponential parse time with this input"
This code takes minutes to parse:

[code]

The output (with `--error-format=short`) includes:

[code]

where each error takes significantly longer to produce than the previous.

### Where it's slow

According to `-Z time-passes`, the slow pass is `parse_crate`.

I'm not attaching the sample tree because it's over 200 MB.

### Impact

This input is nonsense, so it's possible the only impact of the

[2022-10-27 07:18] lcnr commented on #103574
@rustbot assign Rageking8

[2022-10-27 07:19] lcnr commented on #103574
@rustbot assign @Rageking8

[2022-10-27 07:23] weiznich opened #103622 "Misleading note message while trying to use a not object safe method on a trait object"
Given the following code: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=58cece801fce4ed613bf7a35e61727bd)

[code]

The current output is:

[code]

Ideally the output should not include a not telling me to use `&dyn PgMetadataLookup` instead of a `&mut dyn PgMetadataLookup` as this is misleading. In addition following this suggestion only changes the note of t

[2022-10-27 07:36] JakobDegen commented on #97564
@rustbot claim

This has bitten me once too many times now in #101428 , gonna fix it

[2022-10-27 07:42] Rageking8 commented on #80706
@rustbot claim

[2022-10-27 07:43] Rageking8 commented on #36007
@rustbot claim

[2022-10-27 07:52] the8472 commented on #82590
On platforms that have O_TMPFILE it is possible, but google tells me that macos is not one of those.

[2022-10-27 07:59] QuineDot commented on #93078
[This came up on URLO in the context of an extension trait,](https://users.rust-lang.org/t/cannot-borrow-self-as-mutable-when-self-is-mut-self/83277) and I'd like to point out how unhelpful the error is:
* Given that the signature is `fn mute(&mut self) {`, it's confusing to  say
[code]
* This is the only thing that is said, there is no suggestion
* You have to figure out it means the `&mut Self`

[2022-10-27 08:29] vkavoun opened #103624 "Compiler error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-27 09:03] agostbiro commented on #103624
I've managed to repro with this on `1.66.0-nightly (2022-10-25 bed4ad65bf7a1cef39e3)`

[code]

Error output:

[code]

[2022-10-27 09:16] sd2k commented on #68119
I seem to get bitten by this every time I'm working with `futures::stream::iter` and some `Arc`s. The solution is invariably to change this (from [the above playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f1336d257916ed3a86fcddc143aba0bc)):

[code]

to

[code]

i.e. moving the `clone` outside the `async move` block. I've probably had to do this at least 10 times

[2022-10-27 10:05] #103599 closed

[2022-10-27 10:39] QuineDot commented on #100270
[I did some more exploration here](https://users.rust-lang.org/t/what-value-does-the-lifetime-parameter-infer-if-no-reference-is-passed-in/83196/11) (and [playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=c7bf9a2cdfc0a967711e1aea10204de0)).  More generally, using an alias will apply the `dyn` lifetime defaults (RFC 0599, RFC 1156) based on the alias bounds (or lack

[2022-10-27 11:26] GuillaumeGomez commented on #103473
Should we close it then?

[2022-10-27 11:29] Millione commented on #103563
It doesn't seem to be related to GAT, only influenced by TAIT.

[2022-10-27 11:32] the8472 commented on #103595
It looks like file-backed huge pages are supported now. https://www.kernel.org/doc/html/latest/filesystems/proc.html#meminfo

I think it was introduced with this one https://github.com/torvalds/linux/commit/793917d997df2e432f3e9ac126e4482d68256d01 so it needs at least 5.18

[2022-10-27 11:38] GuillaumeGomez commented on #103463
cc @petrochenkov

[2022-10-27 11:43] Millione commented on #103563
I found rustc type system have inferred type `U` to `Resp` correctly, but still refused to compile. However, there is a workaround without knowing why.

[2022-10-27 11:43] dwrensha opened #103626 "encountered a fresh type during canonicalization"
rustc crashes on the following input, found by [fuzz_rustc](https://github.com/dwrensha/fuzz-rustc):
[code]
[code]

[2022-10-27 11:44] dwrensha commented on #103626
searched nightlies: from nightly-2022-02-10 to nightly-2022-10-26
regressed nightly: nightly-2022-08-13
searched commit range: https://github.com/rust-lang/rust/compare/20ffea6938b5839c390252e07940b99e3b6a889a...f22819bcce4abaff7d1246a56eec493418f9f4ee
regressed commit: https://github.com/rust-lang/rust/commit/f22819bcce4abaff7d1246a56eec493418f9f4ee

<details>
<summary>bisected with <a href='http

[2022-10-27 12:01] dwrensha commented on #103626
This regressed in #100247, specifically in e1e25a845c2d190afad0c98029cbe368f5bad427.
cc @cjgillot

[2022-10-27 12:03] est31 commented on #103248
Okay it seems that lang team members are [not a fan of this](https://github.com/rust-lang/rust/pull/103293#issuecomment-1293408574), so I think I'll close this. If it is fixed, then it should also be fixed for `if let`, see #103108 .

[2022-10-27 12:03] #103248 closed

[2022-10-27 12:20] gipsyh opened #103628 "A double borrow question"
I want to borrow mut, but judge if it is None,
if it is None, I want to borrow mut again.

but it can't pass compile. How should I write the code?

thanks
[code]

[2022-10-27 12:25] Rageking8 commented on #103574
@rustbot label +F-marker_trait_attr

In case this needs to be indexed in the future.

[2022-10-27 12:33] joshtriplett commented on #103248
@est31 FWIW, given that the let binding isn't in scope in the else branch, it seems hard to imagine a scenario in which an ordinary `if let` needs to wait until after the else branch to drop temporaries. We could potentially change *both* if-let and let-chains to consistently drop before the else branch, given a crater run. Might be worth considering, if it doesn't actually break anything.

[2022-10-27 12:50] GuillaumeGomez commented on #102583
I have a fix for this, I'll send it in the next hours.

[2022-10-27 12:55] #103573 closed

[2022-10-27 12:55] #103574 closed

[2022-10-27 14:00] agostbiro commented on #103624
Hi @TaKO8Ki thanks for looking into this issue. I saw you added the "E-needs-mcve" label. Wondering how to improve [this example](https://github.com/rust-lang/rust/issues/103624#issuecomment-1293215331)?

[2022-10-27 14:25] psumbera opened #103630 "rust 1.64 now uses fd-lock->rustix->flock() for bootstraping where flock() is not available on Solaris"
Seems that Rust now relies on fd-lock for bootstraping instead of using python code:

https://github.com/rust-lang/rust/commit/5a30316fc14ab6952ce9f925478c498c804a7b71

Solaris doesn't support flock(). Insetad more modern fcntl() interface is used.

So even when I was able to make rustix compile on Solaris (without flock() support) it doesn't help since fd-lock requires flock().

Therefore I'm not

[2022-10-27 14:59] compiler-errors commented on #103626
[code]

[2022-10-27 14:59] LYF1999 commented on #103563
seems like another version of https://github.com/rust-lang/rust/issues/94207

[2022-10-27 15:06] bjorn3 commented on #102754
`rust_eh_personality` will also be used in case of `-Cpanic=abort` for catching and aborting on exceptions crossing an `extern "C-unwind"` boundary in the future.

[2022-10-27 15:08] fmease commented on #44306
Temporarily assigning myself to this issue since I am working on fixing several issues related to the handling of cross-crate trait object types in rustdoc and other minor cross-crate things. I won't fix everything mentioned in this issue however, hence only temporarily until the PR is open.

@rustbot claim

[2022-10-27 15:11] markgras opened #103632 "thread 'main' panicked at 'index out of bounds: the len is 5 but the index is 5'"
I am currently working through the `Rust By Example` collection. On the [Arrays and Slices](https://doc.rust-lang.org/stable/rust-by-example/primitives/array.html) page, the last line of the example is supposed to cause an "index out of bounds" compile error when un-commented, but this does not happen. Instead, the code compiles with no error and a `thread 'main' panicked at 'index out of bounds:

[2022-10-27 15:17] korejan commented on #103233
Hey, is anyone looking into this because ALXR ci (uwp) builds are failing for over a week. Should this issue be posted in another repo?

[2022-10-27 15:19] thomcc commented on #103233
This is the right repo, but it fell through the cracks for whatever reason. I can get to it this weekend.

[2022-10-27 15:20] korejan commented on #103233
Thank you :)

[2022-10-27 15:31] jruderman opened #103634 "Layout sanity failed check: "size mismatch between ABI and layout in TyAndLayout". Zero size array in union."
### Code

[code]

Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

<details><summary>About this testcase</summary>

Origin:

* Found by fuzzer mutating [src/test/ui/transmutability/unions/repr/should_handle_packed.rs](https://github.com/rust-lang/rust/blob/0da281b6068a7d889ae89a9bd8991284cc9b7535/src/test/ui/transmutability/unions/repr/should_handle_packed.rs)
* I tried

[2022-10-27 15:50] #103628 closed

[2022-10-27 15:52] jyn514 commented on #103566
No, this doesn't exist today.

The issue tracker is not a support forum. For future questions please ask in one of these places:

https://discord.gg/rust-lang/
https://discord.gg/rust-lang-community/
https://users.rust-lang.org/
https://rust-lang.zulipchat.com/

[2022-10-27 15:52] #103566 closed

[2022-10-27 15:54] jyn514 commented on #103606
Seems useful :) Happy to take a PR.

[2022-10-27 15:55] compiler-errors commented on #103624
@agostbiro that's a sufficient example,  I can look into it.

[2022-10-27 15:56] jyn514 commented on #103037
I'm going to close this; as stated above there are good reasons to close issues, but age is not one of them.

[2022-10-27 15:56] #103037 closed

[2022-10-27 15:59] jyn514 commented on #102993
The issue tracker is not a support forum. For future questions please ask in one of these places:

https://discord.gg/rust-lang/
https://discord.gg/rust-lang-community/
https://users.rust-lang.org/
https://rust-lang.zulipchat.com/

I suspect your current issue is a problem with your default linker, not the compiler itself.

[2022-10-27 16:02] chenyukang commented on #103587
Submit #103636 to resolve scenario `1` and `4`, because I think we are sure about the intention of developer, and there is a clear way to fix it.

For 2 and 3, there are potential way to fix.

[2022-10-27 16:02] Kixunil commented on #82590
If you use non-atomic `write` there you're already screwed.

But intuitively, I agree that documenting is better than making it atomic.

[2022-10-27 16:04] Rageking8 commented on #103551
@rustbot release-assignment
Will leave for another person

[2022-10-27 16:06] jyn514 commented on #96550
Can you please post the code that caused this error, even if it's large? Otherwise we have no way to tell whether the error has been fixed.

[2022-10-27 16:09] jyn514 commented on #96554
I'm going to close this since you found a workaround; this doesn't seem common enough for us to support it as a config option.

[2022-10-27 16:09] #96554 closed

[2022-10-27 16:11] jyn514 commented on #103170
I don't think rustdoc supports incoherent impls like this.

[2022-10-27 16:28] slondr commented on #102993
For the record, I only posted this issue here after discussing it in the rust matrix chat, where I was told (after some group investigation) that it looked like a bug in cargo or rustc.

[2022-10-27 16:30] Nugine commented on #75618
You can convert a string to an array of chars by const-evaluation. See [const_str::to_char_array](https://docs.rs/const-str/latest/const_str/macro.to_char_array.html)

[code]

[2022-10-27 16:33] aliemjay opened #103642 "TAIT still captures lifetime generics implicitely"
This code should pass but it doesn't:
[code]

This is #96996 resurrected. Cc @oli-obk.

@rustbot label F-type_alias_impl_trait C-bug T-compiler T-types

[2022-10-27 16:40] jyn514 commented on #102993
Ok. You can use `cargo build -v` to show the invocations, and `RUSTFLAGS=--print=link-args` to see what's being passed to the linker. I'd still suggest trying to build a normal C program and make sure that works ok before building a rust program.

[2022-10-27 16:55] davidbarsky commented on #76156
@wesleywiser @pnkfelix sorry for the delay in responding! This post was sitting unpublished in my tabs 😓. Anyways: tracing will need https://github.com/rust-lang/rust/issues/102911 _in addition to_ https://github.com/rust-lang/rust/issues/76156  because [Metadata](https://docs.rs/tracing/latest/tracing/struct.Metadata.html) has a de-facto requirement to be `'static` [from Subscribers](https://docs

[2022-10-27 16:59] petrochenkov commented on #103463
`resolve_use_source` -> `register_res` -> `record_extern_trait` are responsible for including the trait into the rustdoc's crate representation, still unclear why.

[2022-10-27 17:33] thomcc commented on #103170
That's unfortunate. `Error` is an important trait, and its docs are notably worse after that PR. If supporting that is too hard, it might be worth special-casing it (Failing that, manually documenting this stuff is an option I suppose).

[2022-10-27 17:53] Nilstrieb opened #103646 "Unhelpful help when calling associated trait function as method"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=895f7d2db9412f8cb60bcdd2fa05105d

[code]

The current output is:

[code]

[code]

The error already explains the problem ("this is an associated function, not a method") and the suggestion to use a fully qualified call doesn't help. Optionally,  it could even suggest calling `T::nya()` instead.

[2022-10-27 18:10] Dylan-DPC commented on #97918
Closing this issue as the above linked pr and the issue seems to be fixed

[2022-10-27 18:10] #97918 closed

[2022-10-27 18:10] thomcc commented on #88737
Another issue that I thought I mentioned here but dont seem to have is that `#[linkage = "extern_weak"]` means the `__dso_handle` already has a level of indirection, so `&__dso_handle` is extra wrong.

[2022-10-27 18:11] petrochenkov commented on #103463
Fixed in https://github.com/rust-lang/rust/pull/103649.

[2022-10-27 18:15] SUPERCILEX commented on #103541
cc @Kobzol You talked about using lld in your blog post, not sure if you've tried using mold too?

Also there's an existing issue about letting end users easily use mold: https://github.com/rust-lang/rust/issues/94347

[2022-10-27 18:18] oli-obk commented on #103642
Oh heh, I fixed the situation for registering the hidden type but didn't allow implying anything from that.

[2022-10-27 18:24] Kobzol commented on #103541
@SUPERCILEX This probably wasn't clear from the blog post, but I was talking about using `lld` to link `rustc` itself, not about using `lld` to link Rust programs compiled by `rustc` :sweat_smile: The latter should be much more useful for reducing compile times of Rust programs.

I don't think that it would be that useful to use `mold` to link `rustc`. It would probably not be trivial and the best

[2022-10-27 18:26] RalfJung commented on #103634
Yeah that's definitely an incorrect layout -- `Scalar` ABI types may not have padding.

This is unrelated to `BikeshedIntrinsicFrom`, the following already shows a bad layout:
[code]
Cc @eddyb @oli-obk

[2022-10-27 18:41] ofek commented on #42869
Still bugs occurring that link back to this issue...

[2022-10-27 18:42] jruderman commented on #103634
Indeed, the assertion trips with that smaller input as well.

[2022-10-27 19:28] compiler-errors commented on #103646
I think @clubby789 fixed this in #101990, I just need to actually re-review it and r+ it -- sorry, been quite busy.

[2022-10-27 19:51] GuillaumeGomez commented on #102583
Opened https://github.com/rust-lang/rust/pull/103653.

[2022-10-27 20:04] GuillaumeGomez commented on #93240
I think this issue was fixed by https://github.com/rust-lang/rust/pull/100374. Don't hesitate to reopen it if I'm mistaken.

[2022-10-27 20:04] #93240 closed

[2022-10-27 20:04] GuillaumeGomez commented on #93216
You can now select the theme in the settings menu. I think we can consider this issue as fixed then.

[2022-10-27 20:04] #93216 closed

[2022-10-27 20:06] GuillaumeGomez commented on #92578
As mentioned in the pulldown-cmark PR (https://github.com/raphlinus/pulldown-cmark/pull/565), it won't be fixed so I'm closing this issue as won't fix.

[2022-10-27 20:06] #92578 closed

[2022-10-27 20:09] GuillaumeGomez commented on #92400
I can't reproduce it so I assume it was fixed. Please don't hesitate to reopen with an URL where it can be checked if it's not the case.

[2022-10-27 20:09] #92400 closed

[2022-10-27 20:12] GuillaumeGomez commented on #89732
It was fixed in #92526 when we switched to askama.

[2022-10-27 20:12] #89732 closed

[2022-10-27 20:59] wesleywiser opened #103655 "MIR optimizations at `mir-opt-level=2` remove some debuginfo"
It looks like variables are being optimized away at `mir-opt-level=2` when they should be retained for debugging purposes. For example, in the following program, `a` and `b` are not known to the debugger (on any platform):

[code]

This appears to be the result of MIR optimizations as going from `-Zmir-opt-level=1` to `-Zmir-opt-level=2` causes the calls to `@llvm.dbg.value` to disappear:

[code]

[2022-10-27 21:26] CAD97 commented on #65991
Something to consider before stabilization: while `trait A: B` is upcastable, should `trait A where Self: B` be?

I want to propose that perhaps `where Self: B` should *not* be considered an upcastable supertrait bound. That these two forms are equivalent is AIUI only apparent in one other location of the language -- that `where Self:` bounds are elaborated (on `trait` items), but [all other `wher

[2022-10-27 21:35] jeffs commented on #65991
Isn't the former syntactic sugar for the latter?  From [The Rust Reference](https://doc.rust-lang.org/reference/items/traits.html#supertraits):

Any semantic difference between these syntaxes would be, at the least, surprising.

[2022-10-27 21:50] #67188 closed

[2022-10-27 22:02] fmease commented on #103487
@rustbot claim

[2022-10-27 22:10] amustaque97 commented on #103442
@rustbot claim

[2022-10-27 22:10] CAD97 commented on #103387
I believe this basically is a subset of the more general idea of [implied bounds](https://github.com/rust-lang/rust/issues/44491). Adding a bit more context,

<details><summary>are trait items are different from struct items w.r.t. implied/elaborated bounds?</summary>

By current standard Rust API design convention, generic bounds should only be added to the `struct` definition if they're structur

[2022-10-27 23:04] jdm commented on #13442
I believe this issue was closed incorrectly. https://github.com/rust-lang/rust/commit/7741e3dc732b4b8db9621b9002abd92f1f949cee does not appear to have anything to do with it.

[2022-10-27 23:31] CAD97 commented on #65991
Yes, that is currently the case. `where Self: Bound` is also special because it gets elaborated as a supertrait bound, unlike say `where Self::Assoc: Bound` which doesn't get elaborated.

I'm not convinced either way that `where Self: Bound` should or shouldn't offer upcasting; I think either are a valid choice, I just feel that the choice should be deliberately made rather than an artifact of the

[2022-10-28 00:18] jonathanCogan commented on #103551
@rustbot claim

[2022-10-28 00:34] #103403 closed

[2022-10-28 00:34] #103460 closed

[2022-10-28 01:02] compiler-errors commented on #103613
This is basically impossible given that this is an error that needs to be handled during parsing, though I think it may be useful to suggest something less specific (possibly detecting the typo of `Struct(123)` along with suggesting a missing `ident:` without being exact about what field name is missing.)

[2022-10-28 02:36] Jules-Bertholet opened #103666 "ICE: `escaping late-bound region during canonicalization` with lifetime-generic TAIT"
### Code

[code]

### Meta

Version:
[code]

### Error output

[code]

[2022-10-28 02:44] jruderman opened #103667 "Improve suggestion for misused str::get"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3fdf018c55f29ccc3e59f02acb689c83)):

[code]

The current output is long and includes a suggestion that doesn't fix my code:

[code]

Ideally the output would be shorter and suggest the correct fix:

[code]

[2022-10-28 03:14] Rageking8 commented on #103666
@rustbot label +F-type_alias_impl_trait

[2022-10-28 03:46] nagisa commented on #103485
This has been a frequent source of surprises for me as well going back all the way to the addition of `x.py`. More generally I feel it is important that we figure out what the out-of-the-box experience is tailored for – the developers or people building rustc for distribution. Today this is a mixed bag.

[2022-10-28 03:51] jruderman opened #103668 ""error: module has missing stability attribute" is insufficiently explained"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=85da69f8dd0b5507585ce5c0318bb195)):

[code]

The current output points to the _entire file_ and doesn't tell me what I did wrong:

[code]

If I understand the feature correctly, the output should be:

[code]

[2022-10-28 04:10] rubend056 opened #103669 "All consuming iterator functions 'any' and 'some' compiler bug."
I tried this code:

[code]

I expected to see this happen: *The test to not fail*

Instead, this happened: *Test failed with left: 0, right: 1*,

### Meta

*Test fails on rust playground with nightly/stable channel*

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-10-28 04:22] rubend056 commented on #103669
Apparently the bug is caused because any borrows mutable iterable and starts iterations thorugh values. So when for_each is reached, there are no values left to go over.

A better documentation over those methods would be great. Let me know if I can submit a pull request on them then.

[2022-10-28 05:13] alex-pinkus opened #103673 "Android NDK r25b changes will break developers using r22b or older"
Discussion continued from #102332.

## Background
Changes that were merged in #102332, slated for 1.66.0, will update the CI build scripts so that all Android targets[^1] use the `r25b` release[^2] of the Android NDK to build Rust binaries, moving from `r15c`. The `r25b` release is the newest version of the NDK at time of writing (Oct 2022), and is a Long Term Support release (LTS)[^3]. `r15c` pre

[2022-10-28 06:31] lcnr opened #103676 "Internally change regions to be covariant"
**THIS ISSUE IS ONLY ABOUT AN IMPLEMENTATION DETAIL OF RUSTC, IT DOES NOT AFFECT THE RUST LANGUAGE.**

Right now regions in rustc are considered to be *contravariant* wherever they are used:

https://github.com/rust-lang/rust/blob/cdd7afeaadf1c48eafb4dff4452439fa5d13a775/compiler/rustc_middle/src/ty/relate.rs#L447-L454

https://github.com/rust-lang/rust/blob/cdd7afeaadf1c48eafb4dff4452439fa5d13a77

[2022-10-28 07:30] ogoffart opened #103677 "Compilation error with nightly: `the trait ~const Deref is not implemented for String`"
### Code

[code]

Compiles in stable rust (1.64)  as well as in beta.
But in nightly, we get this compilation error:

[code]

playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c4decfd8064f4074814df6e0d4e0859c

### Version it worked on

1.64, and beta

### Version with regression

current nightly

[2022-10-28 07:32] Guilucand opened #103678 "Linking error when mixing extern crate and dylib with lto enabled"
Hi, I created a minimal example at:
[https://github.com/Guilucand/rust-linking-bug](url)

The repository consists in a workspace with a binary (bin1) and three libraries:
- lib1 is a dependency of both bin1 and lib2, and exports a single function called only by bin1
- lib2 is a dependency of bin1, and imports lib1 and lib3_dylib (lib1 with `extern crate lib1;`) and exports a function called by bin

[2022-10-28 07:57] ctemple commented on #63292
I think it's necessary because  &self: Rc<Self>

[2022-10-28 08:07] matthiaskrgr opened #103679 "ICE: should be handled by `try_coerce`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-28 08:52] alercah commented on #84277
It sounds like both [@Victor-N-Suadicani's example](https://github.com/rust-lang/rust/issues/84277#issuecomment-1223746201) and [@heaths's example](https://github.com/rust-lang/rust/issues/84277#issuecomment-1282984223) are cases where the desire is for the actual result type to be different than the type that provides the `FromResidual` implementation.

I ran into a similar problem when trying to

[2022-10-28 08:55] Nilstrieb commented on #103677
searched nightlies: from nightly-2022-08-01 to nightly-2022-10-24
regressed nightly: nightly-2022-09-23
searched commit range: https://github.com/rust-lang/rust/compare/9062b780b32d2eab060b4432863e085d9504ca5c...e7119a0300b87a3d670408ee8e847c6821b3ae80
regressed commit: https://github.com/rust-lang/rust/commit/7a8636c843bd24038fe1d1f69b4a8e4b0ea55d4e

<details>
<summary>bisected with <a href='http

[2022-10-28 08:55] Nilstrieb commented on #103677
searched nightlies: from nightly-2022-08-01 to nightly-2022-10-24
regressed nightly: nightly-2022-09-23
searched commit range: https://github.com/rust-lang/rust/compare/9062b780b32d2eab060b4432863e085d9504ca5c...e7119a0300b87a3d670408ee8e847c6821b3ae80
regressed commit: https://github.com/rust-lang/rust/commit/7a8636c843bd24038fe1d1f69b4a8e4b0ea55d4e

<details>
<summary>bisected with <a href='http

[2022-10-28 08:56] Nilstrieb commented on #103677
@fee1-dead @oli-obk

[2022-10-28 09:20] michaelwoerister commented on #13442
Indeed!

[2022-10-28 09:27] oli-obk commented on #103677
Seems like closures pick the constness of their parent when they should always be notconst

[2022-10-28 09:41] #36007 closed

[2022-10-28 10:21] nagisa commented on #96472
I suspect that what might be a good general solution to the D-confusing part of this issue is to rework this issue (or open a new tracking issue) with more information on what this is, and link the issue from the diagnostic. We already do something along the lines for the future compatibility warnings, and this is kinda similar in nature.

[2022-10-28 10:38] the8472 commented on #103669
The issue here is naming

You're no longer looking at the set but at an iterator over the set, and then you keep using that iterator.

[2022-10-28 11:47] fmease commented on #103668
No, with *module has missing stability attribute* the compiler means the current module (in this case the root module, the crate root). E.g. if you add `#![stable(feature = "…", since = "…")] below or above the other inner attributes, the error will go away.

[2022-10-28 12:35] Mark-Simulacrum commented on #103673
Nominating for compiler discussion.

I would probably be somewhat in favor of fully rolling back the bump on soon to be beta 1.66 (we branch today), and landing a bump only to r21/r22 so we retain compatibility for slightly longer.

We should in parallel issue a blog post with our strategy for this bump, and ideally a strategy for future bumps. It looks like Android's LTS releases are only support

[2022-10-28 12:37] fee1-dead opened #103684 "Adding statements after implicit return could result in confusing errors"
This originated from someone who is only starting to learn the language and incorrectly thought that the `if` statement returned values on their own and tried to add statements after the `if`.

Given the following code: [play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=509fed780a8c4113906299f02ecf2102)

[code]

The current output is this, which can be confusing to begi

[2022-10-28 12:37] WaffleLapkin commented on #103607
The crash happens in the metadata encoding here: https://github.com/rust-lang/rust/blob/898f463c93e72dac9b7a28ae662dd12fd71be0b7/compiler/rustc_metadata/src/rmeta/table.rs#L233-L234

This code converts `usize` to `u32` crashing if it doesn't fit which it doesn't in this case. For me the position is `4_328_556_769` which is a bit more than `u32::MAX = 4_294_967_295`.

MRE is
[code]
create a `file`

[2022-10-28 12:50] #102909 closed

[2022-10-28 12:50] #103624 closed

[2022-10-28 13:26] RalfJung opened #103686 "Incorrect dead_code warning on a function that is being called"
To reproduce, check out [this branch](https://github.com/RalfJung/miri/tree/rustc-bug-dead-code), do `./rustup=toolchain && ./miri check`:
[code]
However, that warning is just wrong! Indeed, removing this function leads to a build error:
[code]

[2022-10-28 13:26] ia0 commented on #96184
Are there any plan to get such notation? IMO this implicit zipping feature is not intuitive (although I agree it increases expressiveness) and should not have been the default. My mental model until now (and I wonder if macros didn't use to work like that in the past) was to match each repetition from the output to one repetition from the input with the following algorithm:
- There should always b

[2022-10-28 13:30] RalfJung commented on #103686
This is probably related to the fact that the function calling `uint` is itself dead code? But the warning as-is is very confusing. If anything it should point at the first unused function at the top of the call chain, not the last one at the bottom.

[2022-10-28 13:33] RalfJung commented on #103686
Here's a self-contained reproducer:
[code]

[2022-10-28 13:50] SamuelSchlesinger opened #103687 ""Cannot Relate Bound Region" causing panic at Box<dyn Any> in Compiler"
I tried running `cargo build` on this commit: https://github.com/SamuelSchlesinger/valheim-damage/commit/1d3efd0bc33261e945e833d11514b101ad958c34
As there is a `rust-toolchain` file in there, this is on the nightly.

I expected to see this happen: Code builds or I get a reasonable compiler error. I get a reasonable compiler error on the stable branch.

Instead, this happened:

[code]

Comment: Fun

[2022-10-28 14:25] pnkfelix commented on #100725
[Visited during P-high 2022 Q3 review.](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-10-28.20compiler-team.23559.20P-high.20II/near/306666295)

We agreed that this regression was expected, and the answer here is improving the diagnostics.

Also, we note that this should be resolved when PR #100976

We're lowering the priority fro

[2022-10-28 14:26] pnkfelix commented on #100725
Also reassigning to T-types

@rustbot label: -T-compiler +T-types

[2022-10-28 14:39] pnkfelix commented on #99668
T-compiler [reviewed this](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-10-28.20compiler-team.23559.20P-high.20II/near/306668671) as part of 2022 Q3 P-high review

What is current situation here? It seems like there are still unresolved questions about what we want to tell people to do;

but also, I see that @nikic added target c

[2022-10-28 14:43] lcnr commented on #98117
@rustbot claim

already working in the area and want to take a closer look at this specific issue

[2022-10-28 14:51] nikic commented on #99668
We already use `+atomic-32` for relevant ARM/Thumb targets.

Once we update to LLVM 16, we can consider using `+forced-atomics` on RISC-V (it would allow landing the change from https://github.com/rust-lang/rust/pull/98333).

I think at this point in time, the only thing that can be done here is adding upstream LLVM support for `+forced-atomics` to more targets, like MSP430 and AVR mentioned above

[2022-10-28 14:58] pnkfelix commented on #97552
[visiting for T-compiler 2022 Q3 P-high review](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-10-28.20compiler-team.23559.20P-high.20II/near/306672608)

Retitled issue since the problem with Vec itself has been "addressed" by adding `#[inline]` attributes to the specific problematic impls. So the issue now tracks the more general

[2022-10-28 14:59] Nilstrieb commented on #103686
The warning is technically correct, as the method is indeed never called and the `dead_code` lint is transitive (it works [correctly](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ace1c4683e7f67320dbb87c5fc08ac09) when only free functions are involved here).

I think it should also complain that `fn unused` in the trait isn't used here. As long as the trait is private and

[2022-10-28 15:01] pnkfelix commented on #97552
(also @nikic notes that we already use opaque pointers, so this issue may actually be resolved? We should test that hypothesis.)

[2022-10-28 15:01] RalfJung commented on #103686
Indeed. But with a trait in the mix, I think the warning is misleading at best.

Somehow it *does* seem to notice that `unused` is dead code, but doesn't warn about it.

[2022-10-28 15:02] Lokathor commented on #99668
#101300 is still open. The TLDR is that, at least on some targets, the fake atomic access has extremely bad performance, to the point that it might drive people to use inline assembly instead.

[2022-10-28 15:55] Swatinem commented on #84674
# Request for Stabilization

I opened https://github.com/rust-lang/rust/pull/103682 with the aim to stabilize this rustdoc flag, primarily to facilitate the cargo `doctest-in-workspace` flag, and to eventually making it the default.

## Summary

The `--test-run-directory` flag in combination with `--test` allows specifying an explicit directory in which rustdoc will *run* the compiled doctests. Th

[2022-10-28 16:00] krtab commented on #103302
For reference, the APC is here: https://github.com/rust-lang/libs-team/issues/128

[2022-10-28 16:58] jyn514 commented on #103485
I think a simple fix would be to use git stash to save changes before doing a hard reset; if that causes issues for some reason, we can remove all the `--force` flags so that we don't overwrite local changes and give a hard error instead.

[2022-10-28 17:05] ozkanonur commented on #103206
@rustbot claim

[2022-10-28 17:18] jyn514 commented on #103630
@psumbera adding a `cfg(not(target_os = "solaris"))` to that code seems reasonable, happy to take a PR.

[2022-10-28 17:19] pnkfelix opened #103697 "x setup generates config.toml into root even when run outside of root."
One of our supported use cases is for when people want to put their build tree somewhere other than the root of the rust checkout.

I tried this code:

[code]

I expected to see this happen: A `config.toml` generated in the local directory that reflects the profile I selected.

Instead, this happened: `x.py setup` generated a config.toml into the root of the rust.git checkout. As a user, I have no

[2022-10-28 17:32] lopopolo opened #103698 "`#![allow(unknown_lints)]` should permit unstable lints"
I maintain a crate called `iana-time-zone` which has an MSRV of 1.38 and an explicit goal of supporting all versions from that MSRV up to stable on all tier 1 platforms (and especially Debian stable).

I previously added two crate level attributes:

[code]

This set of attributes compiles on Rust 1.38.0 where the unsafe op in unsafe fn lint does not exist, but fails to compile on 1.48.0 where the

[2022-10-28 18:02] tmandry commented on #103673
I see a couple issues here:

### Difficulty in upgrading between ndk versions

I think we should strive to match the experience of the ndk itself here. In particular if there is no ndk release with both libgcc and libunwind, we (the Rust project) should not go out of our way to ease the upgrade experience beyond giving people enough warning. (If someone wants to contribute such a soft transition p

[2022-10-28 18:56] briansmith commented on #90308
It seems like thie current plan is to to mark these APIs as `#[deprecated_safe]`, though I'm making this statement based on inference.

[2022-10-28 19:13] jruderman commented on #103668
Well, it confused me! I had to binary-search to even figure out that `#![feature(staged_api)]` was the line triggering it.

[2022-10-28 19:28] #103068 closed

[2022-10-28 19:41] fmease commented on #103668
Can't argue against that. Admittedly, the massive span is a bit useless / misleading, even though it's technically correct.

I remember this used to be the same problem with E0601 (missing `main` function) which used to highlight the entire file. Nowadays, we shrink the span to an empty one in this case and add a label suggesting to add a function.

We could do basically the same for the `staged_a

[2022-10-28 19:46] duplys commented on #95825
Thanks a lot for this useful advice, @CAD97! I remember briefly looking at cargo-bisect-rustc before, but I didn't realize that one can bisect the Rust compiler itself :man_facepalming: :smile:

 @scouten-adobe, @estebank and @wesleywiser: I ran cargo-bisect-rustc with @scouten-adobe 's minimal example  https://github.com/scouten-adobe/rust-bug-95825 and obtained following result:

[code]
@scouten

[2022-10-28 19:47] jhpratt commented on #90308
Correct, but the PR for that was closed after the author deleted their GitHub account. I have the branch archived on my fork.

[2022-10-28 19:48] thomcc commented on #90308
Is anybody working on a #[deprecated_safe] (or `#[rustc_deprecated_safe]` more likely)?

[2022-10-28 20:06] vi commented on #90308
Will it the `#[deprecated_safe]` also be applied to [`CommandExt::before_exec`](https://doc.rust-lang.org/stable/std/os/unix/process/trait.CommandExt.html#method.before_exec)?

`#[deprecated]` was once unstable too, but is now available for everybody. Why should `#[deprecated_safe]` be inherently unstable?

[2022-10-28 20:19] RalfJung commented on #90308
So what about calls to `set_env` that happen to already be in an `unsafe`, and thus their authors would not even notice the `deprecated_safe`? I wonder if there is a good way to figure out how common this pattern is.

[2022-10-28 20:21] jhpratt commented on #90308
In theory, we could add a hack to the compiler so that it errors when the method is encountered in an unsafe context. That could then be run on crater. Unless I'm missing something?

[2022-10-28 20:23] RalfJung commented on #90308
Yeah that's about the best plan I can come up with, too.

[2022-10-28 20:24] jhpratt commented on #90308
I'll attempt an implementation for that later today, hopefully.

[2022-10-28 20:50] cr1901 commented on #99668
@nikic I have no bandwidth at this time to add LLVM support for `+forced-atomics` or lowering atomics for MSP430, but I'm not against the idea and [neither is the maintainer](https://github.com/rust-lang/compiler-builtins/issues/441#issuecomment-977004258) last I checked.

This is still true.

[2022-10-28 21:08] tbodt commented on #75846
Today I found myself wanting an AsPtr trait, implemented by *const T and anything that impls Borrow<T>, because I have a hashtable that uses raw pointers as keys and I want to be able to pass any kind of pointer without having to explicitly convert. I can define the trait easily enough myself, but it would be neat to have in the stdlib.

[2022-10-28 22:40] mati865 commented on #103606
It's a bit unfortunate default for local development but you can change it with `config.toml` by setting this line to false: https://github.com/rust-lang/rust/blob/77e7b74ad5c0c449fa378faf5edf33dd2e6fed87/config.toml.example#L92
(Also remove `.example` from the name).

[2022-10-28 23:10] vi opened #103705 "Compiler suggests to add [closure@…] to source code when it can be inferred instead."
Unminimized example:

[code]

(in https://github.com/vi/websocat/commit/9ef27b9a06fa4e44b0a572136f14717cc4c5e997, caused by upgrade from tokio-util `0.6` -> `0.7`)

~~And I'm not sure how do I explicitly choose the impl I want when it is buried deep in third-party generics.~~

~~Aren't coherence rules designed to prevent this by the way?~~

The diagnostic is useful, but contains a lot of types tha

[2022-10-28 23:27] #103677 closed

[2022-10-28 23:30] vi commented on #103705
Sorry, the got confused by the closure and not recognized the `<... as ...>::` syntax and that it suggested me to switch to UFCS.

Would be simpler if error message was minimized by omitting details that are not relevant to the the ambiguity and can continue to be inferred instead.

[2022-10-29 00:15] jyn514 commented on #103606
Changing the default also seems fine; maybe not the global default, but the named profiles in src/bootstrap/defaults at least.

[2022-10-29 01:21] jruderman opened #103708 "ICE "... is not fully resolved'" with min_specialization and lifetime param"
This ICEs with `#![feature(min_specialization)]`. Oddly enough, it does not ICE with `#![feature(specialization)]`, which is supposedly more unstable.

Found by fuzzing.

### Code

[code]

### Error output

[code]

<details><summary><strong>Full output with backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

Bisected to 6365e5ad9fa9e2ec867a67aeeae414e7c62d8354 (#102903, @com

[2022-10-29 01:29] compiler-errors commented on #103708
:smiley: i'm glad that the assertion found something! worth investigating at least.

i'll take a look at it, though I'm not exactly sure why Rust allows us to have an unconstrained lifetime parameter in the impl :/

(this is why)

https://github.com/rust-lang/rust/blob/9565dfeb4e6225177bbe78f18cd48a7982f34401/compiler/rustc_hir_analysis/src/impl_wf_check.rs#L153-L170

(maybe we can just hack it aw

[2022-10-29 02:22] lopopolo commented on #103698
@rustbot label T-compiler C-bug

(I think these are the right labels)

[2022-10-29 02:24] lopopolo commented on #103698
r? @compiler-errors

(Sorry for the direct at mention but I think I messed up by making a blank issue)

[2022-10-29 02:27] compiler-errors commented on #103698
Howdy -- `r?` is meant for PR review requests, not for issues.

Did you mean to tag me for something -- I don't recall having any context here?

[2022-10-29 03:02] rubend056 commented on #103669
Right, but that still doesn't explain why commenting out line 7 `set.any(|v| false);` makes the test pass.

I understand **now** that when iterator has been traversed, that's it, that's why anything after line 7 set.any that uses that iterator won't really do anything. I assume it's a forwards only iterator. But it's not really highlighted in the docs, perhaps I just haven't seen it.

Thanks for t

[2022-10-29 03:02] #103669 closed

[2022-10-29 03:21] kubycsolutions commented on #103606
OK, folks, I need a decision on that. This is the default build configuration, which beginners will not look inside until later. It would seem odd to me to have the basic `README.md` immediately tell folks they have the option of changing this one parameter. I think we would want their first build to succeed with as little manual work as possible.

So our choices seem to be to add the static C++ l

[2022-10-29 03:48] lopopolo commented on #103698
Oh sorry, I just wanted to make sure someone got pinged since I use a blank issue.

[2022-10-29 05:58] ryoqun opened #103711 "`force-frame-pointers` flag isn't honored always unless std is recompiled as such"
The compiler flag `-C force-frame-pointers=yes` isn't always honored, clobbering the `%rbp` register and resulting in the unrecoverable stackframe for `perf --call-graph fp`.

It seems that if I compile `rustc` under `-C force-frame-pointers=yes`, it works as shown below:

### setup

[code]

### pre-built stock binary `rustc`

[code]

### re-built `rustc` under `-C force-frame-pointer=rustc`

[cod

[2022-10-29 06:35] lopopolo opened #103713 "`#![allow(unknown_lints)]` forward compatibility is broken by unstable lints"
I tried this code:

[code]

I expected to see this happen: The crate compiles on all Rust versions. `#![allow(unknown_lints)]` treats unstable lints as unknown on stable compilers.

Instead, this happened: On versions where the `unsafe_op_in_unsafe_fn` lint is unstable, like Rust 1.48.0, the crate fails to compile.

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace

[2022-10-29 06:36] lopopolo commented on #103698
Sorry for the mistakes in filing this ticket folks, I've given it another go here:

- https://github.com/rust-lang/rust/issues/103713

[2022-10-29 06:36] #103698 closed

[2022-10-29 08:23] leefordjudes opened #103716 "rust 1.64 - waiting for other jobs to finish error - windows 11"
I am using windows 11,
recently I updated to rust 1.64 from 1.63,
after that, I encountered the "waiting for other jobs to finish" error on "cargo build/run/test",

after multiple compilations only, my project runs.

kindly rectify it.

this error has not come in rust 1.63.
![waiting for other jobs to finish error](https://user-images.githubusercontent.com/13608248/198821768-3cfe273e-91b6-4959-ad3

[2022-10-29 09:58] the8472 commented on #103711
That's probably prebuilt code shipped with the standard library, have you tried using `-Zbuild-std` (requires nightly)?

[2022-10-29 11:10] dimpolo commented on #35121
I was surprised to see that while `fn test() -> ! { panic!() }` works on stable `fn test<F: Fn() -> !>() {}` doesn't.

I case stabilization is in sight please ignore this comment. Otherwise, could we fast track `-> !`  for `Fn`, `FnMut` and `FnOnce`?

[2022-10-29 11:50] RalfJung commented on #99437
Rejecting code like that is probably going to be hard, but both this and https://github.com/rust-lang/rust/issues/73987 can be mitigated by a lint I think. Concretely, what happens here is that the compiler desugars `(*ptr)[..layout_size]` to `IndexMut::index_mut(&mut *ptr, ..layout_size)`. Whenever such an `&mut` is inserted implicitly, I think we want to check the place it is applied to, and if

[2022-10-29 11:57] Patryk27 opened #103725 "Missed opportunity for the "consider borrowing" hint"
Given the following code:

[code]

([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=124f10fe5b937188b3022ffcab288805))

... the current output is:

[code]

Ideally, this should also display the `consider mutably borrowing 'not_copy': &mut *not_copy` hint, since that's the solution to problem 🙂

[2022-10-29 12:07] #98634 closed

[2022-10-29 12:07] #101750 closed

[2022-10-29 12:14] bjorn3 commented on #35121
That would allow writing `!` as `<Fn() -> !>::Output` I think and thus effectively stabilizes `!` as a whole.

[2022-10-29 12:35] dimpolo commented on #35121
Ah, dang, good point.

[2022-10-29 12:38] nmraz commented on #35121
Actually, I belive that is already (unfortunately) possible by using the existing `Fn*` impls for `fn() -> !`; I know it's how [never-say-never](https://crates.io/crates/never-say-never) manages to refer to `!` on stable rust, though I'm not sure how it interacts with the current uncertainty around fallback.

[2022-10-29 12:40] aliemjay commented on #103687
@rustbot claim

[2022-10-29 12:43] fmease commented on #103698
You did absolutely nothing wrong and didn't actually need to file a new issue. Blank issues and templated ones only differ in labels and some prewritten text. Issue templates exist to speed up some workflows and to guide newcomers to write proper issues.

You can always recreate any templated issue from an already opened blank issue by updating the description or by adding a new comment containing

[2022-10-29 12:55] est31 commented on #103713
I agree that this is not good. I think that in general the concept of unstable lints is weird: lints are unstable already, so any addition of a lint could theoretically break your compiler. What you should do is cap lints either at allow or warn.

And if you really *want* to have unstable lints, then it should not be an error to use them but a warn-by-default lint, whether it's `unknown_lints` or

[2022-10-29 12:58] est31 commented on #103713
Also there is obviously nothing we can do about the `unsafe_op_in_unsafe_fn` lint here, as it is already stable. we can only affect future lints.

[2022-10-29 13:06] fmease commented on #103705
The compiler should never suggest you to write `[closure@…]` since that's not valid syntax. Please re-open the issue, @vi :)

@rustbot label C-bug

[2022-10-29 13:11] RalfJung opened #103728 "Cleanup: Share DST size/align computation logic between codegen backends (and interpreter)"
Currently, each codegen backend and the MIR interpreter needs to re-implement this logic:

https://github.com/rust-lang/rust/blob/50f6a9ed87e47c7a8ff6aefcde01a33821e80e20/compiler/rustc_codegen_ssa/src/glue.rs#L11

https://github.com/rust-lang/rust/blob/e54a13f18bf2873f12d556fb05bb60f2a7f75bfa/compiler/rustc_codegen_cranelift/src/unsize.rs#L190

https://github.com/rust-lang/rust/blob/fd59d44f5880f

[2022-10-29 13:27] bjorn3 commented on #101226
Thanks for reporting this issue! I don't actively look at cg_clif related issues in the rust issue tracker, so I didn't see this issue until just now. I have opened https://github.com/bjorn3/rustc_codegen_cranelift/issues/1292 over at cg_clif's repo to keep track of it.

[2022-10-29 13:48] bjorn3 commented on #101226
Fixed in https://github.com/bjorn3/rustc_codegen_cranelift/commit/777d4732dc2389752ebaa4fc7256245c4873bc25.

[2022-10-29 13:48] #101226 closed

[2022-10-29 13:51] danielhenrymantilla commented on #93178
Ok, after all this time, there have been no issues with `nightly` users of this feature, and the macro seems as good as it is possible to have at the moment (we'd need trustworthy `opaque macro`s for that).

### The main unresolved question being about the naming of the macro: _should it remain as `pin!`, or should it become `pin_mut!` to pave the way for a `pin_ref!` counterpart?_

While `pin_mut

[2022-10-29 13:51] ryoqun commented on #103711
hey, thanks for the tip. yep, i confirmed `-Zbuild-std` fixes the problem.

[code]

[2022-10-29 13:54] danielhenrymantilla commented on #93178
That's why I'd vote for:

  - sticking to `pin!` (no `pin_mut!`), and should people agree with this, it means it's time for:
  - starting an FCP for its stabilization.

[2022-10-29 13:55] ryoqun commented on #103711
so, this is a known issue? hopefully, a warn or something can be printed without being too noisy?

[2022-10-29 14:10] WaffleLapkin commented on #99437
@rustbot claim

[2022-10-29 14:50] vi commented on #103705
[Simpler example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ee6af4cf9e3cc09498c609355525b085) producing similar message:

[code]

[code]

[2022-10-29 15:59] the8472 commented on #103711
Since this also applies to other codegen options (e.g. optimization levels) almost everyone setting RUSTFLAGS would get that warning. Maybe it could be documented in the cargo book.

[2022-10-29 16:04] Jules-Bertholet opened #103736 "ICE when using `closure_lifetime_binder` lifetime inside closure body"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-29 16:04] Jules-Bertholet commented on #103736
@rustbot label requires-nightly

[2022-10-29 16:06] zyansheep commented on #93946
I have reran the test on nightly with the most recent compiler:
[code]
and it seems to not error anymore.

Just in case it was a fluke, I went back to where I originally discovered the bug and everything seems to work just fine :)

[2022-10-29 16:06] #93946 closed

[2022-10-29 16:17] Jules-Bertholet commented on #97362
Found an ICE involving this feature: https://github.com/rust-lang/rust/issues/103736

(Maybe we could use an `F-closure_lifetime_binder` tag?)

[2022-10-29 17:06] #102715 closed

[2022-10-29 17:06] #102583 closed

[2022-10-29 17:06] #103411 closed

[2022-10-29 17:06] #103427 closed

[2022-10-29 17:06] #103679 closed

[2022-10-29 17:29] tmandry commented on #93178
This all sounds good to me. I'm excited to see this move forward, thank you for pushing on it!

Either way is fine but personally I'd make a PR, less chance of getting lost :)

[2022-10-29 17:38] vincenzopalazzo commented on #92898
Mentoring @amustaque97 on this issue

@rustbot label +E-mentor

[2022-10-29 18:08] calebzulawski opened #103741 "Unrelated const generic selected during type inference"
I tried this code:

[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c9288533bc012203b34bce763d088dfe)
[code]

I expected to see this happen: it compiles

Instead, this happened: it errors
[code]

I'm not sure why `UNRELATED_LANES` is selected for the second parameter of `Simd`, when it's not used at all.  This was discovered in rust-lang/portable-simd#292

[2022-10-29 18:09] tmandry commented on #93178
It's worth stating that this is a deficiency of Rust's lifetime extension rules (a deficiency that the definition of `pin!` itself works around by being in std), and would be fixed when RFC 66 is implemented (#15023).

[2022-10-29 19:28] compiler-errors commented on #103741
This is probably related to https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/Why.20does.20an.20explicit.20.60Into.60.20bound.20prevent.20the.20no-op.20impl.3F/near/306742934

Where-clauses are always preferred over non-where clauses -- in this case, you should be able to fix this by using a turbofish.

[2022-10-29 19:29] akabinds opened #103742 "proposal for deprecation of error code E0313"
This issue is a proposal for the deprecation of error code `E0313`.

# Background
I opened a PR (#103433) as part of an effort to add long error explanations for error codes that didn't have one (#61137). I chose `E0313` and for my erroneous code example, I used the example from #42574. I quickly realized, through running the example and other code that would also raise `E0313` and through the CI

[2022-10-29 19:29] ffmancera commented on #80862
@rustbot claim

[2022-10-29 20:43] #103330 closed

[2022-10-29 21:03] calebzulawski commented on #103741
I'm still a little confused why it would be considered a candidate at all.  I'd understand if there were two possible ambiguous impls, but `x` is `Simd<T, 4>`... why would `foo(x)` ever try anything other than `Simd<_, 4>`?  `UNRELATED_LANES` doesn't show up in any of the types in that function.

[2022-10-29 21:22] compiler-errors commented on #103741
This is my theory, but it seems very likely given the curcumstances --

When you call `foo::<_T, _C>(x)` (where `_T` is a type inference variable, and `_C` is a const inference variable, which are inserted during lowering), it registers the obligation `LaneCount<_C>: SupportedLaneCount` as something that needs to be solved for the program's correctness during type checking (among others).

While c

[2022-10-29 21:40] calebzulawski commented on #103741
In that case, I'm surprised that adding `LaneCount<4>: SupportedLaneCount` to the where-clause has no affect, unless that requirement is immediately removed because it can be verified without generics.

[2022-10-29 21:57] compiler-errors commented on #103741
It's not filtered out immediately, though it's likely dropped due to special selection logic that filters out non-global param-env candidates.

https://github.com/rust-lang/rust/blob/5e9772042948002f9c6f60c4c81603170035fffa/compiler/rustc_trait_selection/src/traits/select/mod.rs#L1664

[2022-10-29 23:53] guswynn commented on #98407
@Nemo157 I think we should try to get this in at 1.66, next week ill take a look at writing a stabilization report

[2022-10-30 01:41] tczajka opened #103747 "`Duration` `Debug` rounding does not round to even, unlike `f64`"
[code]

I expected this to print (round to even):
[code]

Instead, this prints (half-way point always rounds up for `Duration`):
[code]

[2022-10-30 01:59] jsha commented on #103517
Possibly related: #98220

[2022-10-30 03:32] jruderman opened #103748 "ICE: assertion failed: elem.index() < self.domain_size"
### Code

[code]

### Error output

[code]

<details><summary><strong>Full output including backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Version

[code]

### Regression

Regression from bba9785dd73f61aacd301a2cb379e1e85a129047 (#100720)

<details>
<summary>Bisection details</summary>

bisected with <a href='https://github.com/rust-lang/cargo-bisect-rustc'>cargo-bisect-rustc</a> v

[2022-10-30 03:34] rodrimati1992 commented on #46139
So how viable is this as a way to avoid false negatives when comparing `*const dyn Trait`s for equality?

Store a `TypeId` as an entry in vtables, then instead of comparing vtable addresses, compare the `TypeId`.
AFAICT, that would solve the false negative comparison problem, the downside would be that it'd increase the size of all vtables.

[2022-10-30 04:36] jruderman opened #103751 "ICE "capacity overflow" during transmutability check"
### Code

[code]

### Error output

[code]

<details><summary><strong>Full output with backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Initial bisect result

Doesn't seem to be a recent regression. Goes back at least as far as the introduction of `BikeshedIntrinsicFrom` in e4417cf020fbcd6182c11637bc6b8694434bd81a.

### Version
[code]

[2022-10-30 04:37] jhpratt commented on #90308
PR for the experiment is up: #103752.

[2022-10-30 04:54] jruderman opened #103753 "Misusing `rustc_strict_coherence` doesn't need to be an ICE"
I would prefer for this to produce a normal error instead of an ICE, because ICEs drastically slow down the fuzzer (at least with the way I'm using libfuzzer and a large corpus).

### Code

[code]

### Output

[code]

<details><summary>Full output with backtrace</summary>

[code]

</details>

### Version

[code]

[2022-10-30 07:24] leighmcculloch commented on #54981
Is there an issue tracking stabilizing `panic_immediate_abort`?

[2022-10-30 08:40] mvniekerk opened #103756 "core::array::from_fn segfaults (v1.64, v1.63)"
I tried this code:

Git  git@github.com:mvniekerk/ga-perf.git , branch segfault_array_from_fn

I expected to see this happen: It to initialize an array using a function

Instead, this happened: It segfaulted

### Meta

Also checked on Docker images for 1.63, 1.64

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-10-30 09:26] RalfJung commented on #46139
`TypeId` only works for `'static` types, though.

[2022-10-30 09:38] yjhn commented on #103756
Backtrace (from gdb):
[code]

[2022-10-30 09:43] Nilstrieb commented on #103756
I get `thread 'main' has overflowed its stack` on my system. So this segfault you're getting is caused by a stackoverflow. This probably happens because you allocate a `Population` on the stack, which has a size of `2_048_000` bytes, which is too big for the stack to handle.
Increasing the stack size by spawning a new thread with a 100MB stack fixes the issue.

[code]

Alternatively, consider allo

[2022-10-30 09:47] gimbles commented on #103756
That's a lot of stack.

[2022-10-30 09:47] Nilstrieb commented on #103756
It's interesting that Rusts SIGSEGV handler doesn't detect it as a stackoverflow for you

[2022-10-30 10:07] Nilstrieb commented on #103238
With that PR, the new error is
[code]
which is better but still not great

[2022-10-30 10:52] #103358 closed

[2022-10-30 11:04] bjorn3 commented on #46139
The internal intrinsic works for all types and vtables are the same independent of lifetimes anyway.

[2022-10-30 12:10] oli-obk commented on #101186
I believe we've cleaned up all we can here

[2022-10-30 12:10] #101186 closed

[2022-10-30 12:42] GuillaumeGomez commented on #86337
Seems like this issue was fixed:

![Screenshot from 2022-10-30 13-41-57](https://user-images.githubusercontent.com/3050060/198879013-bb2eb0bc-50cb-4901-b7c3-3b1473a76a66.png)

I'll add a regression test to enforce to close this issue.

[2022-10-30 13:57] burdges commented on #46139
A partial solution reduces binary size and cache pressure.  What optimizations does linkonce block?

Yes, dynlibs have their own copies, but maybe even these could be deduplicated somewhat.

Another question:  Could/should the current orphan rules be further embraced as a mechanism for deduplicating vtable methods?

[2022-10-30 15:09] Cerber-Ursi opened #103762 "Broken compilation with `&(dyn Trait + '_)`"
### Code

I tried this code:

[code]

I expected to see this happen: code compiles successfully.

Instead, this happened:
[code]

### Version it worked on

It most recently worked on Rust 1.63.0.

### Version with regression

It is broken on current stable, i.e. 1.64.0.

Here's the output by `cargo-bisect-rustc`:

It seems to have been found previously by `gluon` developers and fixed in their own

[2022-10-30 15:22] rib opened #103763 "`Arc::ptr_eq` does not always return "true if the two Arcs point to the same allocation" as documented"
# How `Arc::ptr_eq` is documented, and current expectations:

For reference here this is the (I think concise) documentation for `Arc::ptr_eq`:

My expectation from this is rather simple: the implementation will get the pointer for the `Box`/"allocation" that is allocated as the backing storage for two arcs (holding the reference count and inner value) and it will compare those pointers with `ptr:

[2022-10-30 15:57] briansmith commented on #90308
Consider the user who read these conversations and decided to put all their calls into `unsafe { ... }` blocks preemptively, before the functions are marked unsafe in the library. Their code shouldn't break as they're doing the right thing. So I think PR #103752 makes sense as far as doing a crater run to measure how common it is, but it shouldn't be merged into a (nightly) release.

[2022-10-30 16:22] lukas-code opened #103765 "Tracking Issue for `Error` in `core`"
(This was merged a while ago without a tracking issue, so I'm creating this one here now.)

Feature gate: `#![feature(error_in_core)]`

This is a tracking issue for moving the `Error` trait to the `core` library.

### Public API

[code]

### Steps / History

- [X] Implementation (first attempt, closed): https://github.com/rust-lang/rust/pull/90328
- [X] Implementation (merged): https://github.com/

[2022-10-30 16:22] lukas-code commented on #103765
@rustbot label B-unstable A-error-handling

[2022-10-30 17:02] skyzh commented on #103423
I found a more simplified MCVE when workaround this bug in the codebase, without futures-async-stream. Trying to construct it...

[2022-10-30 17:31] SNCPlay42 commented on #103763
Can you provide a code sample where this happens?

I certainly accept that two `Arc`s that reference the same allocation but have a different vtable would compare unequal as discussed in #80505, but you are suggesting that `Arc` comparison is based on the vtable *exclusively*, which does not sound correct to me.

e.g. when comparing two fat pointers `(target_a, vtable_a)` and `(target_b, vtable_b)

[2022-10-30 18:19] MarkManiga opened #103767 "Problem with shadowing"
When creating several thousand shaded variables, LLVM throws an error. Code example:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cf2ac581d487507c7a3282b424f734f5

The version of rustc is 1.64, stable.

[2022-10-30 18:32] liquidev opened #103768 "Confusing error with incompatible functions in trait impl when function parameter is `impl Trait`"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e0bc1be874a87460648739de7863a87e))

[code]

The current output is:

[code]

Which leaks the fact that `impl` introduces an implicit type parameter, and is quite unfriendly to newcomers.

Ideally the output should look like:

[code]

[2022-10-30 18:34] dmgolembiowski commented on #103768
Thanks @liquidev

[2022-10-30 18:34] zyansheep opened #103769 "Failed to normalize error (need repro)"
Don't have time to do a reproduction atm. I'm using a proc macro and the error seems to go away when I use it correctly. The real error is probably a result from different interactions between libraries and nightly features... Posted this here anyway to see if anyone was interested in reproducing this error.

### Code

https://github.com/libdither/disp/tree/f902691c98898b1e7b3bdccc69ad9772a5e516e9

[2022-10-30 18:39] jruderman opened #103770 "Hang with ADT const param, self-mention in where clause"
The compiler hangs on:

[code]

[Hang sample](https://github.com/rust-lang/rust/files/9896571/tot-sample.txt)

### Version
[code]

### Regression

searched nightlies: from nightly-2022-06-16 to nightly-2022-10-28
regressed nightly: nightly-2022-06-30
searched commit range: https://github.com/rust-lang/rust/compare/830880640304ba8699c5f9a0c4665c38a3271963...ddcbba036aee08f0709f98a92a342a278eae5c05

[2022-10-30 19:02] jruderman opened #103771 "ICE normalizing binder for closure"
### Code

[code]

### Error output

[code]

<details><summary><strong>Full output including backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Version

[code]

### Bisect results

This goes all the way back to f1a8854f9be2e5cad764d630a53d26c7b72f8162, when #98705 enabled this syntax for closures (tracking issue: #97362).

[2022-10-30 19:03] rib commented on #103763
Ah, right, I had got the wrong impression that it was going to do `vtable_a == table_b` only. I tried testing this and as you say it's not so simple as just comparing the vtable.

In my case I never witnessed a specific error condition but I did get a big surprise when running Clippy and got warned that `Arc::ptr_eq` was doing a vtable comparison which firstly led me to this issue:

https://github

[2022-10-30 19:09] mexus commented on #103767
I found out the magic number of exemplars is 2885, when we have 2884 lines `let _v = ...`, it works fine, but 2885 leads to a segfault. Actual contents doesn't matter, it also reproduces with just an integer: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=977714f61ff6728102a4f1f8decaee54

cargo 1.64.0 (387270bc7 2022-09-16)

[code]

Also noted that the `build` only fails w

[2022-10-30 19:16] SchrodingerZhu opened #103773 "AVX512VAES on non AMD EPYC gives `LLVM ERROR: Do not know how to split the result of this operator `"
I tried this code:

https://github.com/tkaitchuck/aHash/compare/master...SchrodingerZhu:aHash:master

I tried to run test with
[code]
Unfortunately, I got
[code]

If I mark the function as `inline(never)`, the problem just gone:
https://github.com/SchrodingerZhu/aHash/blob/705d68e0078c932443f71955d9db096a252d686b/src/aes_hash.rs#L136

My CPU:

[code]

[2022-10-30 19:17] MarkManiga commented on #103767
OK, 2884 - we all need to remember this number ))). In 2884 year the Linux kernel will be rewritten in Rust )).

[2022-10-30 19:18] SchrodingerZhu commented on #103773
Any guidance on how to extract the LLVM IR from the test compilation?

[2022-10-30 19:18] AnthonyMikh commented on #103767
Given that `createAndAddScopeChildren` recursively calls itself, it seems like LLVM manages to overflow it's stack. @mexus can you try to re-run compilation with increased stack limit?

Also apparently this issue have nothing to do with shadowing since giving each identifier a unique name [leads to the same behaviour](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5d8b4cbd

[2022-10-30 19:21] mexus commented on #103767
`ulimit -s 20000` didn't help :(

[2022-10-30 19:31] nagisa commented on #103767
rustc already runs compilation on a separate thread with a [separately allocated stack](https://github.com/rust-lang/rust/blob/5ab74459b86465e751fc8f6fa9934687423ce2a6/compiler/rustc_interface/src/util.rs#L116-L122). I believe `RUST_MIN_STACK` environment variable (in bytes) is what you need to use to affect the size of the stack.

[2022-10-30 19:38] mexus commented on #103767
It actually helped! Running `RUST_MIN_STACK=$[20000 * 1024] cargo b` completed fine (although it took a long time) even with `23081` variables! On `46161` it still fails though with the same kind of error.

[2022-10-30 19:44] lukas-code commented on #103773
Compile your project with `cargo rustc --tests --release --features=vaes -- --emit llvm-ir` and then look for the *.ll file(s) in `target/release/deps/`.

[2022-10-30 19:46] MarkManiga commented on #103767
Works! Thanks to all!

[2022-10-30 19:46] compiler-errors commented on #103771
This is very likely the same root cause as #103736, where we should be treating an outer lifetime as a free region _within_ the closure's body.

[2022-10-30 19:53] mirao opened #103775 "Rustdoc: Test fails on "unresolved import" though test doesn't use any crate"
I tried this code (`src/main.rs`):

[code]
with `Cargo.toml`
[code]
I run `rustdoc --test src/main.rs`

I expected to see this happen:
[code]

Instead, this happened:
[code]
Note that `cargo run` works well
[code]
### Meta

`rustc --version --verbose`:
[code]
`rustdoc --version`
[code]
I'm running Ubuntu 22.04

[2022-10-30 19:53] MarkManiga commented on #103767
But this is an LLVM problem and needs to be addressed. There should be a normal error message, not a sigfault.

[2022-10-30 19:53] compiler-errors commented on #103771
I've got half of a solution anyways, just fixing a subsequent ICE that arises after fixing this one.

[2022-10-30 19:56] est31 commented on #103476
Minimized:

<details>

[code]

</details>

A bit further minimized (no syn dependency):

<details>

[code]

</details>

Last minimization step:

[code]

[2022-10-30 20:03] mirao commented on #103775
If I use qualified name in `main()` without using import, then test passes:
[code]

$ rustdoc --test src/main.rs
[code]

[2022-10-30 20:15] Jerrody opened #103776 "`failed to automatically apply fixes suggested by rustc` due to `use of moved value`"
I tried this code:

[code]
This block of code (43):
[code]

I expected to see this happen:
I used `cargo clippy --fix --allow-dirty` and everything fixes correct.

Instead, this happened:
[code]

### Meta
`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-10-30 20:25] #103285 closed

[2022-10-30 20:33] jplatte commented on #101897
@rustbot label F-type_alias_impl_trait T-compiler T-types

[2022-10-30 20:34] SchrodingerZhu commented on #103773
Just noticed that the error happens in the doc test. `cargo rustc` seems not to have related options?

[2022-10-30 20:57] compiler-errors commented on #103776
Do you mind sharing what the suggested fix actually was? It's hard to tell what was applied just from the bug here.

[2022-10-30 21:21] oli-obk commented on #101897
Yea... this is mostly expected. The `impl Trait` is inside one impl, and only that impl can constrain it.

I think we could allow impls for traits to restrict opaque types from supertrait's impls in the same crate.

[2022-10-30 21:52] jhpratt commented on #90308
@briansmith It's not intended to be merged, even if it returns no breakage. The only purpose is to measure the _potential_ issues.

[2022-10-30 23:00] AnthonyMikh commented on #103767
Interestingly enough, it seems like having initializers is important since [merely declaring bindings does not hit this error](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d47012ad226692d791a44ef980bcc556).

[2022-10-30 23:39] #102738 closed

[2022-10-31 00:01] jyn514 commented on #103548
It turns out the documentation for library features is not actually autogenerated; only the summary page is autogenerated. So this isn't something we can do automatically.

One thing we could try is having a tidy lint that requires a link to doc.rust-lang.org somewhere in each library-features/*.md file. That will be too much work to do all at once though, so it will need to happen a bit at a time

[2022-10-31 00:05] SNCPlay42 commented on #103769
I've reduced this down as far as:

[code]

I think this is a duplicate of #94651.

@rustbot label -requires-nightly

[2022-10-31 00:12] Mark-Simulacrum commented on #103548
I'm not convinced that manual work here is worth it (even if enforced by tidy). It's likely that it would be relatively painful to put together those URLs, and difficult to actually enforce full consistency with the true section gated by the relevant feature gate.

On the other hand, it seems plausible that this could be easily generated from rustdoc (either built-in or via JSON). I think if we ca

[2022-10-31 00:12] jruderman commented on #103767
@rustbot label +A-LLVM +I-crash -I-ICE

[2022-10-31 00:28] jyn514 commented on #103548
Ok cool! That seems very doable :) here's a hacky prototype:
[code]
Rustdoc JSON has *some* way of finding children I can figure out, and from there I can write a hacky script to add it to all the existing docs, then enforce a more reliable tidy check to make sure it's being added to all new documentation too. Does that sound good?

[2022-10-31 00:29] jsha opened #103782 "rustdoc: short vertical spacing on associated types"
On https://doc.rust-lang.org/nightly/std/ascii/struct.EscapeDefault.html#impl-Iterator-for-EscapeDefault, the spacing below `type Item = u8` and below Item's docblock is too short. Nightly:

![image](https://user-images.githubusercontent.com/220205/198909572-411f4ac8-9b0f-49a4-8a7d-d3d05857f032.png)

Stable (correct):

![image](https://user-images.githubusercontent.com/220205/198909594-db6c6990-e6

[2022-10-31 00:42] jyn514 commented on #103548
Oh oof, another thing I found just now is that some library features are missing a page in the book at *all*. `c_variadic`, the example I used just now, has a language feature page but no library feature page.

[2022-10-31 00:56] jruderman opened #103783 "ICE checking transmutability of NaughtyLenArray"
### Code

[code]

### ICE

[code]

<details><summary><strong>Full output including backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Initial bisect result

Doesn't seem to be a recent regression. Goes back at least as far as the introduction of `BikeshedIntrinsicFrom` in e4417cf020fbcd6182c11637bc6b8694434bd81a.

### Version
[code]

[2022-10-31 01:18] mchernyavsky opened #103784 "`let_chains` introduces an error in move analysis"
The following code runs without errors:

[code]

But the following code produces an error:
[code]

[code]

I expected to see the same result for the second case because `&& true` part doesn't affect move analysis.

### Meta

`rustc --version --verbose`:
[code]

[2022-10-31 02:00] est31 commented on #103784
@rustbot label F-let_chains

[2022-10-31 02:14] jyn514 commented on #103548
Ok, I am not personally going to have time to follow up on this. Here's some WIP code that starts on parsing the JSON output of rustdoc: https://github.com/rust-lang/rust/compare/master...jyn514:rust:stability-checks?expand=1

The next steps are:
- Fill out all the TODOs in the code (https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/full.20path.20of.20item.20in.20json.20docs may

[2022-10-31 02:16] wwylele commented on #103784
I think this is expected behavior.

First of all, the value of an expression, even known at compile time, shouldn't affect move analysis, so `&& true` and `&& black_box_bool()` should give the same analysis.

Then let's see `let Some(s) = x && black_box_bool()`. This chain can evaluate to `false` when `let Some(s) = x` is `true` but `black_box_bool()` is `false` (forget that you actually wrote `tr

[2022-10-31 02:21] jyn514 opened #103785 "`x doc std` unconditionally recompiles the standard library each time"
I tried this:

[code]

I expected to see this happen: The second invocation takes essentially no time.

Instead, this happened: The docs were completely rebuilt.

The problem is that we remove the docs between each invocation: https://github.com/rust-lang/rust/blob/c2b0cc14d1da274cb8548aff5030dd30b16f67e1/src/bootstrap/doc.rs#L613-L615

@lukemathwalker this is a regression from https://github.com/

[2022-10-31 02:27] mchernyavsky commented on #103784
@wwylele Thanks for the explanation!

[2022-10-31 02:27] #103784 closed

[2022-10-31 02:48] zyansheep commented on #103769
Just tested your repro and it looks like exactly the same bug, thanks! Closing this in favor of #94651

[2022-10-31 02:50] #103769 closed

[2022-10-31 03:26] chenyukang commented on #103783
@rustbot claim

[2022-10-31 05:31] cavivie commented on #103566
Thanks, currently discussed at this link: https://discord.com/channels/273534239310479360/818964227783262209/1036496563272417380

[2022-10-31 05:42] Jerrody commented on #103776
Okay, `conn` has a type `String`. It's suggested to remove a reference and pass a value, but it didn't understand a context that this happens in a loop.
So, after this happens user an error that was use of moved value.

[2022-10-31 05:44] jruderman opened #103790 "ICE: const parameter out of range"
### Code

[code]

### ICE

[code]

<details><summary><strong>Full output including backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Version

[code]

@rustbot label +A-const-generics +F-generic_const_exprs

[2022-10-31 05:57] Rageking8 opened #103791 "Recover from accidental inclusion of `if` in `let else`"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a756c5823b0deb404c94b7e0d4aa3b5b)

[code]

The current output is:

[code]

Ideally the output should suggest removing the additional `if` keyword in front of the `let else`. This mistake can occur due to muscle memory as `if`, `if let`, `let else` and in the future `let chains` are somewhat si

[2022-10-31 06:24] philipc opened #103794 "assertion failed: `st.current_test_count() == st.total` when running benchmarks"
I tried running benchmarks with current nightly rust:

[code]

Running with the previous nightly works:
[code]

Also, note the difference in the line `running 0 tests`.

This happens for the benchmarks in both the `gimli` and `addr2line` crates.

#103689 looks to be related (@saethlin)

### Meta

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-10-31 06:28] #86337 closed

[2022-10-31 06:28] #103170 closed

[2022-10-31 06:28] #94187 closed

[2022-10-31 07:01] saethlin commented on #103794
Ouch. I guess libtest needs better tests. I might be able to get to this in 12 hours or so, if anyone else sees this please do take care of it.

[2022-10-31 07:40] paulyoung commented on #83788
@alexcrichton

This suggests that maybe there’s a way to use something other than the default C ABI.

Is there a way to opt-in to using a C ABI that isn’t the default but does match clang?

I’m targeting `wasm32-unknown-unknown` but not using `wasm-bindgen` in case that’s relevant.

Please forgive my ignorance on this. I’m in way over my head here 😄

[2022-10-31 08:00] thomcc commented on #103794
Oof, missed that `filtered_tests` started as the full list of tests+benches before getting shadowed as only the tests. Not a fan of the way TestEvent is used to manage state (haven't *ever* been a fan of it, TBH), but I'll have to think a bit about how to fix it without undoing the perf wins we just got here.

[2022-10-31 08:08] bwsw commented on #103794
Confirm the bug as well:
https://github.com/insight-platform/Similari
master branch `cargo bench` began to fail after changing the toolset to the current nighly.

[2022-10-31 08:29] mengrj opened #103796 "How to add custom llvm pass into rustc"
How could I add my custom llvm pass into rustc compiler? Based on the rustc document, we could add one extra llvm pass into rustc compiler via `-C passes=pass-name`. But when I add my custom pass `-C passes=helloworldpass`, rust compiler reports: `error: failed to run LLVM passes: unknown pass name 'helloworldpass'`

I want to ask whether there are some `load` options to load custom passes like `l

[2022-10-31 10:56] pratushrai0309 commented on #103485
Can I work on this issue? Though I need Some guidance I am new to the project

[2022-10-31 11:20] WaffleLapkin commented on #103622
MRE ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5576ba73573bf61c9c5c796a37c72d2c)):
[code]
[code]

[2022-10-31 11:29] thomcc commented on #103794
Yeah, should be fixed by #103795. Hopefully will be in the next nightly, if we're lucky.

[2022-10-31 11:39] WaffleLapkin commented on #101968
A bit of an update: `future_closure` from the original issue now [works with `#![feature(impl_trait_in_fn_trait_return)]`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d1c0c3cbdf0a33f390c62c05f8d0459c) ([tracking issue](https://github.com/rust-lang/rust/issues/99697)):
[code]

Can this be closed then?

----

As a side note in argument position it still doesn't work (bec

[2022-10-31 11:43] c410-f3r commented on #44838
The only thing blocking progress is the lack of formatting in constant environments, i.e., things like `const _: () = { panic!("{}", 1i32); };` don't work. This current limitation is something that I will try to figure out after enabling the capture of variables in `matches!` declarations.

Hope to come back here with good news in the next few months.

[2022-10-31 11:58] csmoe commented on #103762
Seems related to https://github.com/rust-lang/rust/pull/97720

[2022-10-31 12:47] faptc commented on #103791
I think the current suggestion is valid.
Because one writes `let y = Some(0); if let Some(x) = y else {}` instead of
writing `if let x = y else {}`.

So the suggestion if changed maybe fall-negative.

[2022-10-31 12:50] #101968 closed

[2022-10-31 12:53] chenyukang commented on #103748
@camsteffen
https://github.com/rust-lang/rust/blob/4596f4f8b565bdd02d3b99d1ab12ff09146a93de/compiler/rustc_middle/src/values.rs#L189

`params_in_repr.contains(i as u32)` this function call crash for the assertion fail,
from the log, `params_in_repr` is with count = 1, and `i` is also 1 when crashing.
Do you have any clue?

`params_in_repr` is implemented at here, I'm still not quite familar with t

[2022-10-31 12:55] alexvas opened #103801 "error compiling a warp project"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Also Cargo.toml is:

[code]

[2022-10-31 13:06] camsteffen commented on #103748
It looks like the parens are parsed as generic parameters for a type that doesn't have generic parameters? The simple fix is just check `i < params_in_repr.domain_size()`.

[2022-10-31 13:42] chenyukang commented on #103748
I think a reasonable fix is modifying the API for `BitSet`,

[code]

It reasonable to add assertion `assert!(elem.index() < self.domain_size)` for `insert`, but it's better to return false for `idx` outside of expected range?

[2022-10-31 14:20] fmease commented on #103775
Regarding your comment:

This is due to an unrelated reason (what I said about `rustdoc --test` vs. `cargo test` still applies): `rustdoc` doesn't perform full semantic analysis as far as I know and assumes some things about the validity of your program.
E.g. the following file also gets successfully documented:

[code]

[2022-10-31 14:26] fmease commented on #103775
Thanks for your report! However, none of this is a bug. The issues you are seeing a due to the incorrect use of the tools. The issue with rustdoc accepting several semantically malformed programs is well-known and won't-fix.

[2022-10-31 14:45] chenyukang commented on #103748
Have a test on C++'s `bitset`, which also has this assertion:

[code]

emm, it's better to keep it for `POLA`.

[2022-10-31 14:45] chenyukang commented on #103748
@rustbot claim

[2022-10-31 14:57] camsteffen commented on #103748
I'd be curious to know if we can maintain an invariant in the HIR that it does not contain generics that do not align with `generics_of`. That was what I assumed when writing that code, but that may be too optimistic.

[2022-10-31 15:08] Plecra commented on #103215
Here's another instance of this issue I came across in #rust-beginners on the community discord (https://discord.com/channels/273534239310479360/273541522815713281/1036653255175979058)

[code]

raising this error -
[code]

this one minimises to `(std::collections::HashMap<String, String>{},)`

[2022-10-31 15:16] alexcrichton commented on #83788
I'm not aware of any mechanism at this time to use something else to match clang. That's the purpose of the `"C"` ABI so I've at least personally been reluctant to add another name for that.

[2022-10-31 15:23] Nilstrieb commented on #103801
Can you see whether this is still a problem on the latest nightly?
`rustup toolchain install nightly` `cargo +nightly build`

[2022-10-31 15:33] jyn514 commented on #103485
@pratushrai0309 first, reproduce the original issue so you can be sure your changes are having an effect. Then modify the git commands linked in the original post (https://github.com/rust-lang/rust/issues/103485#issue-1421026710) to add `git stash save` before and `git stash apply` after. If that saves your changes then your work is done and you can open a PR; otherwise you'll have to do some expe

[2022-10-31 15:49] chenyukang commented on #103748
@compiler-errors
I have a general question for `rustc`, why we just don't exit when we find a fatal error (which can not recover by simply autofix).

I have a real Dev experience when working on `rustc`, I was editing an file with 3k+ lines of code, and I forgetted remove an extra '{', then the compiler give about 20+ errors, the first two are from parsing:

[code]

But there are many many other e

[2022-10-31 15:50] ChrisDenton commented on #97100
In the standard library, the `_with` suffix is [generally used](https://doc.rust-lang.org/std/?search=_with) in functions that take a closure (the exception `starts_with` and `ends_with` that take a slice or pattern).

[2022-10-31 15:52] chenyukang commented on #103748
If we can not get valid AST in parsing, later phases such as analysising will report out extra (mostly unhelpful) errors?

[2022-10-31 15:53] zbyrn commented on #80139
@rustbot claim

[2022-10-31 15:58] pratushrai0309 commented on #103485
So what exactly I should do to reproduce the original Issue. This is my first time contributing to the compiler.