[2020-10-28 10:37] ssomers commented on #78477
I was surprised when I realized that, but I think it has been like that for a long time. So I wonder if you're tightening up Miri or I should check out where we went wrong recently?

[2020-10-28 10:37] e00E commented on #76149
I encountered what I think is another instance of this issue and a workaround:

[code]

The error message is

[code]
In this case the suggestion of adding a semicolon does not help.

[2020-10-28 10:38] hameerabbasi commented on #78433
supertraits + dyn type upcasting with supertraits in #78478.

[2020-10-28 10:39] apiraino commented on #78234
Assigning `P-low` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378234.20unreachable.20pattern.20not.20warned.20when.20use.E2.80.A6) and removing `I-prioritize`.

[2020-10-28 10:48] RalfJung commented on #78477
I only found this when tightening Miri while debugging why https://github.com/rust-lang/rust/pull/77187 broke `BtreeMap` (that PR should only break code that casts pointers to integers and back, with this code does not do AFAIK).

[2020-10-28 10:48] Nemo157 opened #78479 "remap-path-prefix from 1.47.0 results in weird prefixes in backtraces"
I tried this code:

[code]

with the environment variables:

[code]

On 1.46 (and earlier) this results in backtraces looking as expected (for both the `Backtrace::capture` and `begin_panic`):

[code]

but on 1.47 and later there is a spurious `./` prefixed onto the remapped paths:

[code]

If there are remapped frames on top of each other this seems to become even more complex, in another project

[2020-10-28 10:52] apiraino commented on #78210
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378210.20dynlib.20stopped.20building.20on.20nightly) and removing `I-prioritize`.

[2020-10-28 10:57] ssomers commented on #78477
Ok. The fix conflicts with #78476, so maybe it's better to add it onto that PR?

[2020-10-28 11:01] RalfJung commented on #78477
Probably, yes. I spent enough time on this for now that I should have used for the work I am paid to do. ;) So I decided to just open the issue instead of trying to fix this problem myself.

[2020-10-28 11:06] lzutao commented on #78471
@rustbot modify labels: I-heavy libs-impl

[2020-10-28 11:11] ordian commented on #78234
According to this comment, this should have been fixed by https://github.com/dtolnay/proc-macro-hack/pull/66, which was released in 0.5.19.
But with
[code]
I am still not getting the warnings.

[2020-10-28 11:11] Nemo157 commented on #78467
Is the data used to decide when to inline the docs available during intra-doc links (`#[doc(inline)]` + whatever makes it implicitly inline)? If rustdoc knows which re-export was used in a particular link (and other locations), and has that data available, it seems like the inlining of the docs matches up with when you would want to link to the inlined docs instead of the original location.

[2020-10-28 11:28] RalfJung commented on #78477
https://github.com/rust-lang/miri/pull/1603 adds a flag to Miri that lets you opt-in to that more strict tracking yourself. Note that this might reject some valid code when integer-pointer casts are involved.

[2020-10-28 11:33] est31 commented on #78473
Made a PR to allow it on sysv64: #78481

[2020-10-28 11:35] jonas-schievink commented on #78474
I think this was caused by https://github.com/rust-lang/rust/pull/70822, but it looks like expected behavior: If `f` diverges, the self-recursion never happens.

[2020-10-28 11:37] est31 commented on #36464
Did #66305 fix this case? Can it be closed now?

[2020-10-28 11:44] jonas-schievink commented on #78474
Though maybe the lint should assume that functions returning an inhabited type won't diverge (since otherwise they should be marked `-> !`). I can definitely see why people would write code like this, so linting on it makes sense.

[2020-10-28 12:20] WaffleLapkin opened #78482 "rustdoc doesn't render HRTBs"
I tried this code:

[code]

I expected `rustdoc` to render HRTB (`for<'a>`), but it doesn't:

![image](https://user-images.githubusercontent.com/38225716/97434563-3c8e1080-1930-11eb-9f8d-82d856c62154.png)

Originally find while viewing [keyberon docs](https://docs.rs/keyberon/0.1.1/keyberon/matrix/struct.Matrix.html).

### Meta

`rustdoc --version --verbose`:
[code]

[2020-10-28 12:29] lcnr commented on #78474
I personally feel that we should lint for functions if they don't return an uninhabited type.
Even if someone wants to exit recursion by unwinding I do feel that a lint is still appropriate here
as it is really bad style imo.

[2020-10-28 12:55] keiichiw commented on #78474
Thanks for the quick response. Yeah, it'd be natural to expect a function whose return type is not `!` to return eventually.

Probably, we might want to have the following rules?:
1. Lint for self-recursion unless a function returning an inhabited type is called in advance.
2. If a non-diverge function is called before a self-recursion, show a message like "if this `f` diverges, please annotate it

[2020-10-28 13:06] Mark-Simulacrum commented on #78464
I agree we should be mentioning this; thank you for noting it. I would be happy to accept a PR adding those in to the release notes (just 1.45 and 1.47, or more if you have the time).

[2020-10-28 13:12] nikomatsakis opened #78485 "Tracking Issue for RFC 2930 (read-buf)"
This is a tracking issue for the RFC "2930" (rust-lang/rfcs#2930).
The feature gate for the issue is `#![feature(read_buf)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, qu

[2020-10-28 13:16] nikomatsakis commented on #78485
( cc @rust-lang/libs )

[2020-10-28 13:27] jyn514 commented on #78467
This logic is done by `fn href`: https://github.com/rust-lang/rust/blob/6bea76f175f1a565320a1a93a174fb80567dda7c/src/librustdoc/html/format.rs#L483
In particular, if it's not in `cache.paths`, it always looks in the original crate: https://github.com/rust-lang/rust/blob/6bea76f175f1a565320a1a93a174fb80567dda7c/src/librustdoc/html/format.rs#L497
I don't know what causes something to be in paths or

[2020-10-28 13:27] Alexendoo commented on #52334
#77876 caused the original example to not ICE, however it is still there if you compile it with `-Z mir-opt-level=0`

[2020-10-28 13:32] jyn514 commented on #78468
Doc tests are a completely separate mechanism: they're compiling a _new crate_ that links to the current one, so it doesn't end up as a cyclic dependency.

Anyway, rustdoc can't do anything about this: cargo is what provides dependencies and it doesn't provide dev dependencies when documenting. So the issue should be moved there.

[2020-10-28 13:33] jyn514 commented on #77365
@camelid the previous error was because of https://github.com/rust-lang/rust/issues/41078.

[2020-10-28 13:44] Koxiaet commented on #74087
I created a smaller example that reproduces the bug:

[code]

[2020-10-28 14:09] jonas-schievink commented on #74087
@petrochenkov might know what's going on there

[2020-10-28 14:10] pietroalbini commented on #78226
This seems to be fixed now, CI is passing again.

[2020-10-28 14:16] samlich commented on #78456
I thought this looked different, but it doesn't break on 2020-10-06 nightly, so likely a duplicate.

[2020-10-28 14:16] #78456 closed

[2020-10-28 14:22] petrochenkov commented on #74087
`custom_inner_attributes` are happening, https://github.com/rust-lang/rust/issues/54726 has an explanation of issues with them.
Custom attributes *at crate level* are a particularly tricky case.

[2020-10-28 14:30] #78468 closed

[2020-10-28 14:43] Koxiaet commented on #74087
This problem is actually unrelated to custom inner attributes, my example above reproduced it using only outer attributes.

[2020-10-28 14:50] matthiaskrgr commented on #77365
looks like another case of https://github.com/rust-lang/rust/issues/75791

[2020-10-28 14:50] GuillaumeGomez commented on #70898
`compiltest` is definitely a typo. Sending a quick fix.

[2020-10-28 14:54] pnkfelix commented on #75992
I was hoping to reduce the problem to a single crate first, but I can work on the tack you suggest in parallel.

[2020-10-28 14:58] lcnr commented on #78471
inling `grow_amortized` seems to have a noticable performance benefit, so not doing so is probably not desirable, see #78483

Not sure how else we would be able to directly remedy this issue.

[2020-10-28 15:03] petrochenkov commented on #74087
Ah, I see, then it's https://github.com/rust-lang/rust/pull/52234#issuecomment-486819782.

[2020-10-28 15:16] steveklabnik opened #78488 "Possible regression with #[rustfmt::skip]"
Hi folks! I am getting users reporting a regression in the semver crates, see:

* https://github.com/steveklabnik/semver-parser/issues/52
* https://github.com/steveklabnik/semver/issues/218

It appears that the rustfmt attributes are no longer considered "built-in"? Or am I completely mis-remembering this?

Sorry for not being 100% sure about the regression here, but I don't want this to get lost.

[2020-10-28 15:41] gilescope commented on #73917
Ok so this is done for dylibs now in the PR, just not for cdylibs yet.

[2020-10-28 15:55] #77365 closed

[2020-10-28 15:57] Aaron1011 commented on #78234
It looks like that change requires explicit opt-in via `#[proc_macro_hack(only_hack_old_rustc)]` in the proc macro crate.

[2020-10-28 16:00] joshtriplett commented on #72016
On Tue, Oct 27, 2020 at 11:15:42PM -0700, Leno Hou wrote:

`asm!` is also a large complex feature with a substantial surface area,
and we're watching for further reports from the ecosystem about how well
the new syntax is working.

If you've had experience with the new `asm!`, writing up your
experiences in detail would help us stabilize it sooner.

[2020-10-28 16:04] Diggsey commented on #37854
I would prefer this to exist for consistency, and because I personally just find half-open ranges easier to reason about, even in match statements.

I believe many of the concerns listed could be addressed via the existing exhausiveness checking, and a clippy lint against using `_` in combination with range patterns when an exhaustive pattern can be easily specified.

For example, instead of:
[cod

[2020-10-28 16:29] EverlastingBugstopper opened #78490 "cannot use #![deny(missing_docs)] with external derive macro"
I tried this code ([graphql_client v0.9](https://docs.rs/graphql_client/0.9.0/src/graphql_client/lib.rs.html#67-75))

[code]

I expected to see a successful build.

Instead, the build failed and complained about missing docs for a struct that originated in a derive macro.

<details><summary>Full build output</summary>
<p>

[code]

</p>
</details>

[2020-10-28 17:29] steveklabnik commented on #42200
Triage: no changes here. I've actually wanted this too, but don't have the bandwidth to work on it, personally.

[2020-10-28 17:33] ehuss commented on #78488
@steveklabnik I believe this was changed in 1.44 probably via #69838. Do you happen to know which version the reporter was using? 1.44 or newer should build ok.

There are still some oddities with inner tool attributes like #74087, so it is possible it could be that.

[2020-10-28 17:35] steveklabnik commented on #78488
I don't know, but let's see if they can tell us: @dwarburt and @tarcieri (as well as @krisfris, who gave a 👍 on tony's issue), what Rust versions are you using?

[2020-10-28 17:42] joshtriplett commented on #78464
@glandium:

Do you have an issue for that regression?

[2020-10-28 17:44] jyn514 commented on #78490
@EverlastingBugstopper that seems like expected behavior. If your proc-macro generates a struct you don't want to be linted, you can add `allow(missing_docs)` in the proc-macro.

[2020-10-28 17:45] tarcieri commented on #78488
The main failure I have handy is 1.41.0:

https://github.com/RustSec/rustsec-crate/runs/1318970855?check_suite_focus=true

[2020-10-28 17:47] EverlastingBugstopper commented on #78490
What would that look like? The proc macro is not owned by me and is brought in by a dependency. I am documenting the struct here with my own note "Documentation for this struct" but I guess it isn't recognized? Perhaps this is just a misunderstanding on my part as to what the macro itself is actually doing under the hood.

[code]

[2020-10-28 18:03] jyn514 commented on #78490
I think this is a bug with the author of the proc-macro, really. I guess you could make a case for silencing all warnings from items generated by a proc-macro? Not sure how that would work.

[2020-10-28 18:14] EverlastingBugstopper commented on #78490
yeah i would just assume that the lint would only apply to the code that i write and not the code that is in a dependency (even if that dependency technically generates code in my codebase). maybe that was an explicit decision but it _seems_ like a bug from my point of view.

[2020-10-28 18:20] dwarburt commented on #78488
I'm using the toolchain that the brave-browser build scripts downloads
[code]

[2020-10-28 18:35] NSH531 opened #78495 "ERROR - exit code: 101"
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: IoError(Os { code: 10061, kind: ConnectionRefused, message: "No connection could be made because the target machine actively refused it." })', src\main.rs:11:91
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
error: process didn't exit successfully: `target\debug\chatBBBS.exe` (exit code: 101)

[2020-10-28 18:52] jonas-schievink commented on #78495
This is an error in your code.

[2020-10-28 18:52] #78495 closed

[2020-10-28 18:55] tmiasko opened #78496 "EarlyOtherwiseBranch transformation is incorrect"
For details see https://github.com/rust-lang/rust/pull/77163#issuecomment-703251270, opening an issue since PR was closed:

[code]

[code]

[2020-10-28 18:56] spastorino commented on #78477
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378477.20BTree's.20.60insert_fit.60.20breaks.20pointer.20pro.E2.80.A6) and removing `I-prioritize`.

[2020-10-28 18:57] RalfJung commented on #78477
FWIW, these are violations with Stacked Borrows -- but the actual impact is likely low as we barely exploit aliasing assumptions currently. So IMO there is no reason to treat this as high priority. It barely qualifies as a soundess issue, given that Stacked Borrows is purely experimental (and not RFC'd or anything).

[2020-10-28 18:58] spastorino commented on #78471
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378471.20Code.20bloat.20from.20RawVec.3A.3Agrow_amortized) and removing `I-prioritize`.

[2020-10-28 19:01] BartMassey opened #78497 "std::thread::Builder::spawn() panics"
When trying to create a large number of threads, `std::thread::Builder::spawn()` can panic rather than returning an error.

I wrote this:

[code]

When run as `cargo run --release 10000` on my box this works as I expected: prints "spawned" in a half-second, "joined" three seconds after that. When run as `cargo run --release 100000` I get

[code]

From the documentation for `Builder::spawn()` I exp

[2020-10-28 19:07] spastorino commented on #78474
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378474.20.60unconditional_recursion.60.20lint.20doesn't.20.E2.80.A6) and removing `I-prioritize`.

[2020-10-28 19:09] workingjubilee commented on #37854
That seems like a good idea, and I would actually say this almost shouldn't be a Clippy lint because it's fundamental to Rust's exhaustiveness capabilities, but it could be at least tested in Clippy.

[2020-10-28 19:11] spastorino commented on #78479
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378479.20remap-path-prefix.20from.201.2E47.2E0.20results.20i.E2.80.A6) and removing `I-prioritize`.

[2020-10-28 19:14] SkiFire13 opened #78498 "String::retain allows safely creating invalid (non-utf8) strings when abusing panic"
While `String::retain` executes it may temporarily leave the `String` in an inconsistent state, in particular it may contain invalid utf8. This is safe because it restores this invariant before returning, but the caller may skip this by panicing inside the closure and catching the unwind it outside. This allows to create `String`s that are not utf8, breaking the library invariant without using `un

[2020-10-28 19:39] workingjubilee commented on #67264
While I am normally Down On Lints, there's definitely considerable support for aggressively linting here because it's a clear correctness concern, also see adjoining discussion in https://github.com/rust-lang/rust/issues/37854#issuecomment-718036042

[2020-10-28 19:43] workingjubilee commented on #67264
I would be happy to draft the PR to stabilize this but first I want to know if https://github.com/rust-lang/rust/issues/48501 is something that needs action on it still.

[2020-10-28 19:51] scottmcm commented on #48501
Nominating because of @workingjubilee's comment in https://github.com/rust-lang/rust/issues/67264#issuecomment-718166790

[2020-10-28 20:22] m-ou-se opened #78500 "Tracking Issue for `panic_any`"
Feature gate: `#![feature(panic_any)]`

This is a tracking issue for `std::panic::panic_any`, a function to allow panicking with any value.

### Context

Right now, it is possible to panic (that is, `std::panic!`) on any value: `panic!(123)`. This will be disallowed in Rust 2021, when `panic!(..)` will always take a format string just like `println!(..)`. At that point, this function will be the o

[2020-10-28 20:28] glandium commented on #78464
Will have when I have more information to feed into one.

[2020-10-28 20:41] bcantrill commented on #37854
@Diggsey, I think that that's a great suggestion, though I would actually go a step further and have the compiler itself warn on non-exhaustive patterns (that is, use of `_` when using exclusive range patterns) -- I think that one would much rather explicitly turn off the warning to allow any reader of the code to see what's going on.  I know that [my comment](https://github.com/rust-lang/rust/iss

[2020-10-28 20:57] cuviper commented on #78406
I already fixed this one in #77777.

[2020-10-28 20:58] jyn514 commented on #78406
Great, so this is fixed in nightly then.

[2020-10-28 20:58] #78406 closed

[2020-10-28 21:03] jyn514 commented on #77869
Assigning P-medium [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2377869.20SIGSEGV.20from.20rustc.20while.20building.20crate.E2.80.A6) and removing I-prioritize. Also assigning I-nominate so we can try to get eyes on the root cause of the issue.

[2020-10-28 21:08] cuviper commented on #78406
This does confuse me too.

[2020-10-28 21:24] jyn514 commented on #78482
Hmm, rustdoc should already handle this in https://github.com/rust-lang/rust/blob/6bea76f175f1a565320a1a93a174fb80567dda7c/src/librustdoc/html/format.rs#L334, which includes generic lifetimes: [`PolyTrait`](https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/clean/types/struct.PolyTrait.html), [`GenericParamDef`](https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/clean/types/struct.Generi

[2020-10-28 21:32] benesch commented on #60705
I've asked Ian Taylor to look at it, since he's reviewed many of the last patches to the demangler: https://gcc.gnu.org/pipermail/gcc-patches/2020-October/557390.html If Ian is busy, perhaps we can ask Jeff Law or Jakub Jelinek, who have committed the prior patches.

[2020-10-28 21:40] DrMeepster commented on #78485
I'm interested in working on this.

@rustbot claim

[2020-10-28 21:41] camelid commented on #78498
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378498.20String.3A.3Aretain.20allows.20safely.20creating.20i.E2.80.A6) in the prioritization working group.

[2020-10-28 22:07] camelid opened #78503 "What's the difference between `rustc_middle::{something}` and `rustc_{something}`?"
I think we are all agreed that splitting up `rustc_middle` would be a good idea
as it would reduce memory usage and increase parallelism when bootstrapping.
Ideally, we would split out each `rustc_middle` module into its own crate. For
example, `rustc_middle::ich` would become `rustc_ich` or something (I'm working
on this right now).

However, a lot of the `rustc_middle` modules *already have* cra

[2020-10-28 22:08] camelid commented on #78503
See also #65031.

[2020-10-28 22:14] leonardo-m opened #78504 "[ER] Array.max and min ?"
When you want to compute the max or min of three or more items you have various options:

[code]

You can also introduce a macro:

[code]

But an array method may solve the problem better, without macros (code untested) and without unwraps:

[code]

[2020-10-28 23:11] Mark-Simulacrum commented on #78503
The difference -- in large parts -- is "pieces which (probably) interact with other parts of rustc_middle" -- I don't think the distinction is meaningful beyond that. It is also somewhat unclear to me what you expect from this issue to be honest -- responses from various team members? :)

[2020-10-28 23:18] camelid commented on #78503
Yes, I was hoping for different team members to reply, but I wasn't sure whether to ping people, so I [posted on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/information.20requested!).

[2020-10-28 23:23] camelid commented on #65031
What are some ways that we can tackle this a bit at a time? @jyn514 mentioned that taking up #78275 would help, but I don't feel that I have enough knowledge of the query system to do that.

[2020-10-29 00:59] dtolnay opened #78507 "Regression parsing closing angle brackets near function ptr return type"
*Alternate title: "Rust is literally C++"　https://wg21.link/N1757*

As of nightly-2020-10-29, rustc fails to parse the following code. The previous nightly and all past stable releases since 1.0.0 are not affected.

[code]

[code]

The relevant commit range is https://github.com/rust-lang/rust/compare/07e968b640e8ff76fa8be4b48b70ab80ea577800...31ee872db5aae4750e3da1ca4ed1523c4356947f.

[2020-10-29 01:06] dtolnay commented on #78507
Mentioning @estebank @varkor because #78379 "Tweak invalid \`fn\` header and body parsing" sounds extremely relevant.

[2020-10-29 01:14] camelid commented on #78507
Assigning `P-critical` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378507.20Regression.20parsing.20closing.20angle.20bracke.E2.80.A6) in the prioritization working group.

[2020-10-29 01:20] camelid commented on #78507
searched nightlies: from nightly-2020-10-27 to nightly-2020-10-29
regressed nightly: nightly-2020-10-29
searched commits: from https://github.com/rust-lang/rust/commit/07e968b640e8ff76fa8be4b48b70ab80ea577800 to https://github.com/rust-lang/rust/commit/31ee872db5aae4750e3da1ca4ed1523c4356947f
regressed commit: https://github.com/rust-lang/rust/commit/db241bb0c8d257e13c1560f6250e49879477039e

<deta

[2020-10-29 01:42] hi-rustin commented on #78482
@jyn514  Can I working on this? I want to have a try.

[2020-10-29 01:44] jyn514 commented on #78482
@hi-rustin absolutely! If you have trouble, feel free to ask in [the rustdoc channel](https://discord.gg/4yEYPuT) or [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp) :)

[2020-10-29 02:31] pnkfelix opened #78509 "`x.py setup` creates config.toml in root directory, even if one is running in a different directory"
If you run `x.py build` in a directory with no config.toml, it suggests you run `x.py setup` first.

I did that.

Then I ran `x.py build` again. And it made the same suggestion.

The suggestion wasn't wrong, since there was no config.toml in my current directory, even after running `x.py setup`; the problem was that running `x.py setup` is generating the `config.toml` in the source root, rather th

[2020-10-29 02:34] matthiaskrgr opened #78510 "ICE: -Zast-json ./src/test/ui/issues/issue-43023.rs"
### Code
code from `./src/test/ui/issues/issue-43023.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  ./src/test/ui/issues/issue-43023.rs -Zast-json`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-10-29 02:43] estebank commented on #78507
Yep, this was me :-/

[2020-10-29 02:46] jyn514 commented on #76736
@jakevossen5 if you're still interested in working on this we'd love to have the help!
If you have trouble, feel free to ask for help in [the rustdoc channel](https://discord.gg/4yEYPuT) or [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp) :)

[2020-10-29 02:50] mk12 opened #78511 "Error suggestion for E0027 (pattern missing field) contains erroneous comma"
I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4f2737c4c44adb53103b875e0b7044cd

[code]

**I expected to see this happen:**

A suggestion to change `x,` to `x, ..`

**Instead, this happened:**

A suggestion to change `x,` to `x, ..,` (note the extra comma!)

With the comma at the end, I get a parser error and a suggestion to remove the comma.

### Meta

[2020-10-29 03:16] pnkfelix commented on #75992
@nikomatsakis

I now confirm that the compile-time regression for my test is resolved by PR #78410 (which includes a revert of PR #75443).

[2020-10-29 03:21] njasm commented on #78511
@rustbot modify labels: +A-diagnostics

[2020-10-29 03:26] jyn514 commented on #78509
@pnkfelix are you using different `config.toml` files depending on the directory? Or did you intend to run `x.py` from the top-level directory?

[2020-10-29 03:26] jyn514 commented on #78509
Or did you intend to run x.py from the current directory but use the top-level config.toml?

[2020-10-29 03:28] jyn514 commented on #78281
This should have an .exe on the end, I think. I don't know why it's missing.

[2020-10-29 03:30] jyn514 commented on #78281
Python is not relevant, something is going wrong with x.py's logic. Either `bootstrap` should be renamed to `bootstrap.exe`, or `bootstrap` doesn't exist and x.py needs add `.exe` to the end.

[2020-10-29 03:42] jyn514 commented on #78504
This will work: `[1,2,3].iter().max().unwrap()`

[2020-10-29 03:42] jyn514 commented on #78504
Oh you said that already, sorry.

[2020-10-29 03:48] jyn514 commented on #78504
This works on nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c2434427de054bbbb32950461920bb70. Not sure how to enforce the length is greater than 1.

[2020-10-29 04:24] JohnTitor commented on #78281
I don't think so. It's missing on my local as well but my bootstrapping works fine.

[2020-10-29 04:29] jyn514 commented on #78281
@hbina if you run `x.py clean` first then try again, does it fix the issue?

[2020-10-29 04:36] Lucretiel commented on #60673
Proposed implementation of switchable stdout buffering: https://github.com/rust-lang/rust/pull/78515. This should be the second-to-last PR towards the fulfillment of this issue; after that, it's only a matter of actually adding code to detect stdout's environment (tty or not) and correctly init the buffer mode.

[2020-10-29 06:13] mwilliammyers commented on #77993
I was just about to open a new issue when I saw this, but since I already typed it out and it might provide further info, here it is:

### Code

[code]
or
[code]

_No_ ICE when:
- just the return value is omitted
- just the args are omitted
- both the return value and args are omitted
- `todo!()` is replaced with `loop {}`

[code]

### Meta

`rustc --version --verbose`:
[code]

_No_ ICE on `rustc

[2020-10-29 06:18] #77024 closed

[2020-10-29 08:02] RalfJung opened #78517 "compiletest: show affected architecture in error summary"
When compiletest fails, it prints an error summary like this at the end:
[code]
However, there is one very important bit of information that I cannot gleam from this information: what are the host and target architectures that were tested! Figuring this out requires scrolling up quite a bit to where this test beings (and carefully not scrolling up too far because then one might look at the wrong t

[2020-10-29 08:03] RalfJung commented on #78517
Cc @Mark-Simulacrum

[2020-10-29 08:44] leonardo-m opened #78518 "[ER] likely() for match arms too?"
Inspired by this discussion:
https://old.reddit.com/r/programming/comments/jjtobp/fast_programming_languages_c_c_rust_and_assembly/

We may consider introducing some way to hint what the likely/unlikely arms of a match are. Using an intrinsic (working as a const identity function) like this gives a syntax that looks like a kludge, a better syntax is welcome:

[code]

[2020-10-29 08:50] #76036 closed

[2020-10-29 09:19] gilescope commented on #10786
Would https://github.com/rust-lang/rust/pull/75594 help here? If we use libcrate_name-svh.rmeta as the metadata filename then we could check if the metadata was up to date without having to read more than the filename in the archive.

[2020-10-29 09:22] gilescope commented on #23366
Now that we have `cargo strip` can we close this?

[2020-10-29 09:30] tanriol opened #78519 "add a warning on attributes that can be confused with global ones"
I was asked by a person new to Rust why `#[allow(unused_variables)]` does not work in the following code.
[code]

It would be nice to have a warning here that these attributes are for the next item, not for the whole file as one could think from their position in file. Probably a warning when there's a blank line between item body and its attributes would work.

[2020-10-29 10:22] matthiaskrgr opened #78520 "ICE: non utf8 str from miri: Utf8Error -Zdump-mir-all"
### Code
code from `./src/test/ui/issues/issue-75763.rs`

`rustc ./src/test/ui/issues/issue-75763.rs  -Zdump-mir=all`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-10-29 10:44] sighoya commented on #68436
@oli-obk, thanks for clarification.

[2020-10-29 12:39] JohnTitor commented on #67981
Triage: This now occurs on `unsized_fn_params`.

[2020-10-29 12:41] JohnTitor commented on #68538
Triage: This now occurs on `unsized_fn_params`.

[2020-10-29 12:42] JohnTitor commented on #68543
Triage: the feature gate requires `unsized_fn_params` as well now.

[2020-10-29 13:35] phansch commented on #78519
I think Clippy's `empty_line_after_outer_attr` is what you're looking for? https://rust-lang.github.io/rust-clippy/master/index.html

[2020-10-29 13:38] oli-obk commented on #70651
I marked this as "looking for participation". Working on this git subcommand that can be installed via `cargo install` requires zero work on rustc. Basically what you need to do is to grab the latest version of the subcommand and copy the file with the appropriate license mentioned into a new cargo project. The main function can then `include_str!` the script and invoke `sh` to execute the text (m

[2020-10-29 13:38] tanriol commented on #78519
Looks right, yes. I'd argue that it's a good idea to have it in `rustc` because this looks like a mistake a new user can accidentally do and they likely would not know about `clippy` yet. However, the note about possible false positives is not exactly optimistic.

[2020-10-29 13:40] tanriol commented on #78519
And even in Clippy it's allow-by-default, so you cannot really use it when you're a newcomer and have no idea about this specific problem.

[2020-10-29 13:47] jyn514 commented on #78520
Heh, I guess https://github.com/rust-lang/rust/issues/75763 wasn't fixed after all. I wonder when it regressed.

[2020-10-29 13:52] mominul commented on #70651
I'd like to work on this issue!

[2020-10-29 13:58] oli-obk commented on #70651
great! If you have any questions, feel free to ping me on zulip or just ask here. There's also a bot, so if you write `@rustbot claim` it should assign this issue to you.

[2020-10-29 14:08] mominul commented on #70651
@rustbot claim

[2020-10-29 14:13] DoumanAsh opened #78521 "Compiler doesn't warn on infinite recursion in trait's method"
Example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4782b3bebc1e92369e5ff7b3c5b4a6e1

Visible on both stable and nightly.

Compiler warns on infinite recursion in case of regular method:

[code]

Compiler doesn't issue the same warning in case of trait's method

[code]

I suspect it should?

[2020-10-29 14:16] c410-f3r opened #78522 "Bad interaction of async functions with unused_lifetimes lint"
The following shouldn't trigger the lint:

[code]

Also happens with `&'a self` or `&'a mut self` parameters

[2020-10-29 14:18] ghedo commented on #78341
I just realized that we also need the rusfmt fix for the 1.4.23 branch as well, so I made https://github.com/rust-lang/rustfmt/pull/4501 for that.

[2020-10-29 14:22] jakevossen5 commented on #76736
Thanks! Yes, I am still interested, I have been busy that past few weeks. I will give it a shot this weekend and will reach out if I can't figure it out!

[2020-10-29 14:35] #78419 closed

[2020-10-29 14:40] jonas-schievink commented on #78521
It's because the `debug_assert!` *might* unwind instead of falling through to the recursion below

[2020-10-29 14:42] SNCPlay42 commented on #78521
The `Self::new` in the trait impl there refers to the inherent `new`, not the one from the trait impl.

e.g. this code does not recurse infinitely: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c31a36d86be2dfbb4a9702325d1fb36c

[2020-10-29 14:44] DoumanAsh commented on #78521
@jonas-schievink Ah you're correct, although to be honest I believe it should still warn, as otherwise you get abort at runtime without even knowing reason (since it is just stack overflow)

@SNCPlay42 in my case it does call, which leads to stack overflow otherwise I wouldn't care issue

[2020-10-29 14:49] jyn514 commented on #78521
Seems like a duplicate of https://github.com/rust-lang/rust/issues/78474.

[2020-10-29 14:52] jonas-schievink commented on #78521
It does – but this issue actually invokes a diverging function, so the proposed fix for that issue in https://github.com/rust-lang/rust/issues/78474#issuecomment-717879443 probably won't fix this one

[2020-10-29 14:58] Aaron1011 commented on #78234
This now produces a warning if you change the `Cargo.toml` dependency to `futures = { git = "https://github.com/rust-lang/futures-rs" }`:

[code]

[2020-10-29 14:58] #78234 closed

[2020-10-29 15:06] Xaeroxe commented on #44095
@LukasKalbertodt fine by me, do you mind kicking that off?

[2020-10-29 15:23] steveklabnik commented on #78518
In general, big changes like this go through the RFC process, and aren't tracked by bug reports filed on this repo. Thanks!

[2020-10-29 15:23] #78518 closed

[2020-10-29 16:17] tmiasko opened #78529 "type parameter `V/#2` (V/2) out of range when substituting with MIR inlining enabled"
[code]

### Error output

[code]

Regressed in #68965, cc @eddyb.

[2020-10-29 16:47] ThouCheese opened #78530 "SkipWhile iterator loops infinitely"
While trying to benchmark how long it takes to naively find the number of months between 2 dates with chrono, I ran into an issue with iterators. I tried this code:

[code]

I expected to see this happen: The infinite iterator should continue up until `inc_year(d1)` is greater than `*d2`, and then it should yield the number for which this is true.

Instead, this happened: Instead I _sometimes_ get

[2020-10-29 16:48] estebank commented on #78503
It could result in expanding the dev guide with our collective wisdom :)

[2020-10-29 17:13] alecmocatta opened #78532 "VecDeque from Vec fails with ZST"
This code panics under Miri, and also when I compile to WASM, though not when running normally.

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d709dae58894f45e7c866df3f98bac60)

[code]

The overflow is here: https://github.com/rust-lang/rust/blob/a53fb30e3bf2655b0563da6d561c23cda5f3ec11/library/alloc/src/collections/vec_deque.rs#L3236

[2020-10-29 17:30] SNCPlay42 commented on #78530
This `bench` closure

[code]

Modifies the *same* `date1` variable each time it runs. `years_between` will then increase `date1`'s year each time, even when `date1.year() >  date2.year()` (because `skip_while` on a non-empty iter must call the predicate at least once, thus calling `inc_year`). Is it possible that the bencher runs the closure so many times that this causes an overflow?

I suspect i

[2020-10-29 17:46] Gankra opened #78533 "Provide prebuilt std artifacts for sanitizers"
[Based off of discussion in zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Prebuilt.20tsan.20artifacts.3F)

Rust currently has unstable support for sanitizers (#39699), but some sanitizers require (or prefer) std to be built with special instrumentation. The unstable [`cargo -Zbuild-std` feature](https://doc.rust-lang.org/cargo/reference/unstable.html#build-std) was

[2020-10-29 18:07] ThouCheese commented on #78530
You are right @SNCPlay42! So `Bencher::iter` runs consecutively and therefore does not cause a synchronisation error? Also this. Means that `Bencher::iter` calls the function around a quarter million times, since that is the date for which the overflow happens, but cargo bench still only takes 0.33 seconds.

[2020-10-29 18:20] Gankra commented on #78533
Note: some hackery may still be required to avoid proc macros/build.rs from using the tsan std, as rustc will still be uninstrumented and link into them (and there will be missing tsan symbols).

[2020-10-29 18:36] camelid commented on #78517
And also it would be nice if when it ignored a test because it was the wrong platform, it showed some indication of that, because otherwise it looks like it ran the test and it passed. Perhaps show a question mark (`?`)? (We already use `i` for tests that were ignored because they were already run and passed.)

[2020-10-29 18:41] RalfJung commented on #78517
AFAIK `i` should already be used for all kinds of "ignored", including `// ignore-XX` directives.

[2020-10-29 18:48] camelid opened #78536 "compiletest: Show real patches as diffs?"
Current compiletest diffs are not accepted by `patch` (at least when I've tried):

[code]

Maybe we could change compiletest to output real patches, at least in CI, so that you can just copy-paste the diff and apply it locally if you are not able to run `./x.py test --bless`?

Cc https://github.com/rust-lang/rust/pull/78343#issuecomment-718949632

[2020-10-29 18:54] cuviper commented on #78509
Normally `x.py` uses the config from the current directory, so I would expect `x.py setup` to create the same. I don't know about pnkfelix, but I often want to try a single source tree with multiple configs (bundled vs system LLVM, alt debug settings, etc.).

[2020-10-29 18:55] camelid commented on #78532
I can reproduce when using Miri, but it works fine for me with WASM:

[code]

[2020-10-29 19:20] jyn514 opened #78537 "Better diagnostics for missing iterator in for-loop"
Spot the bug:
[code]
Unfortunately, instead of pointing to the missing iterator, rust points to the 1:
[code]
I'd love it to instead say 'missing iterator for loop':
[code]

Other variants of this with less than ideal errors:
[code]
[code]
[code]
[code]

[2020-10-29 19:27] jyn514 commented on #78536
https://docs.rs/patch/0.5.0/patch/ looks useful.

[2020-10-29 20:01] camelid commented on #78536
Or we could just run

[code]

:)

[2020-10-29 20:25] Lucretiel opened #78539 "Better diagnostics for extend-from-slice failure"
Consider this snippet:

[code]

This fails because `array.into_iter()` collapses to `(&array).into_iter()`, which provides a slice iterator that emits references, but `Vec::extend` wants values. This gives the following error:

[code]

This error, read naturally, seems to indicate that we *have* values but are *expecting* references. This confused a team member of mine today who didn't realize tha

[2020-10-29 20:53] camelid commented on #78537
Well, it thinks the block *is* the iterator.

[2020-10-29 20:54] camelid commented on #78536
Ugh, this looks like it might be annoying to implement.

[2020-10-29 20:55] lcnr commented on #78532
[code]
panics with
[code]

*it always fails here because `len` is greater than `MINIMUM_CAPACITY` so `cap - len` underflows.*

[2020-10-29 20:57] camelid commented on #78532
Why is this specific to ZSTs?

[2020-10-29 20:59] lcnr commented on #78532
`Vec` does not allocate for `ZST` and starts out with capacity `usize::MAX` which overflows when converting to a deque which does not expect this

[2020-10-29 21:01] camelid commented on #78435
How can I run miri from the rust repo? (i.e. built using `./x.py build`)

[2020-10-29 21:15] leonardo-m opened #78541 "[ER] get_two_mut"
In various cases I'd like a slice method similar to slice::split_at_mut but simpler, that returns just two items at different indexes:

[code]
That panics if i == j or i >= self.len() or i >= self.len().

[2020-10-29 21:23] jyn514 commented on #78541
You can write this without needing to go through the standard library: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=98fbe51263eeccb354ee3abef6e3e8eb

[2020-10-29 21:25] camelid commented on #78537
Yes, I just wanted to make sure we were on the same page :)

[2020-10-29 21:27] RalfJung commented on #78435
You can run the test suite with `./x.py test --stage 0 src/tools/miri`, but that's not what you were asking... that's not supported yet unfortunately: https://github.com/rust-lang/rust/issues/76666

[2020-10-29 21:29] camelid commented on #78532
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378532.20VecDeque.20from.20Vec.20fails.20with.20ZST) in the prioritization working group.

[2020-10-29 21:30] RalfJung commented on #78435
Until then, [you'll have to resort to this](https://github.com/rust-lang/miri/blob/master/CONTRIBUTING.md#building-miri-with-a-locally-built-rustc).

Some of the `x.py` commands might need adjusting though as `x.py` changed.

[2020-10-29 21:36] leonardo-m commented on #78541
Yeah, I can also write this, but I think it's worth adding to stdlib:

[code]

[2020-10-29 21:37] richkadel opened #78542 "MIR InstrumentCoverage - Can spans for `TerminatorKind::Goto` be improved to avoid special cases?"
Rust's LLVM InstrProf-based source code coverage implementation instruments Rust code via the MIR pass `InstrumentCoverage`. Most criteria for identifying coverage regions and counter locations are very general, based on Control Flow Graph (CFG) analysis of the MIR, and a fairly straightforward mapping of MIR `Statement`s and `Terminator`s to their source code regions (`Span`s).

`TerminatorKind::

[2020-10-29 21:37] camelid commented on #78435
Ah, thanks! I forgot about that part of the docs :)

[2020-10-29 21:46] jyn514 commented on #78541
I'm not sure your example is sound ... certainly not according to stacked borrows. You're taking a pointer with provenance for the whole array and making two `&mut T` out of it, which means it aliases.

[2020-10-29 21:52] nagisa commented on #78542
I'm having trouble following this. Are you saying that we do not record coverage information on spans attached to those terminators (and for Goto we have special cases to record some information from them) or is it vice versa (which is what the code seems to suggest to me)?

[2020-10-29 22:13] estebank opened #78543 "Bad diagnostic for Send bound on Future coming from async fn in foreign crate"
As documented in [_Debugging async generator errors_](https://meltware.com/2020/10/21/rust-async-nonsense.html), when the problematic generator is in a foreign crate, we don't give the [nice errors for things being kept through an `await` point](https://blog.rust-lang.org/inside-rust/2019/10/11/AsyncAwait-Not-Send-Error-Improvements.html). The reason for that is [this early return](https://github.

[2020-10-29 22:14] camelid commented on #78435
Hmm, I'm getting this error:

[code]

I'm using the latest master rustc and the latest miri. Is miri broken right now?

[2020-10-29 22:18] estebank commented on #78537
I could have sworn there was an old `[A-diagnostics]` ticket for this already but I can't find it 😅

[2020-10-29 22:21] richkadel opened #78544 "MIR InstrumentCoverage: Improve coverage of `#[should_panic]` tests"
At present, the MIR `InstrumentCoverage` pass omits unwind paths when computing coverage spans and injecting counters because (1) statements executed during an unwind are generally compiler-generated, so they don't have source code to "cover"; and (2) in normal runtime execution, unwind paths are generally called when an unexpected and/or unhandled error is encountered.

Unexpected errors can (and

[2020-10-29 22:33] lqd commented on #78543
Some more information:
- in the reproduction repo, the error appears in the `materialized` crate
- but as Esteban mentioned, the bad diagnostics requires a foreign crate: in this case it is the `pgwire` crate

I've reduced the `materialized` crate to [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d0eecef7ab83db5ca1e980413d4196a9) but it requires the `asyn

[2020-10-29 22:54] tmiasko commented on #78529
Inlining now uses `instance_mir` instead of `optimized_mir` and attempts to inline things it didn't inline before, but as far as I can see some of those require a different treatment of substs, i.e., `substs_for_mir_body`.

[code]

[code]

[2020-10-29 22:59] richkadel opened #78546 "MIR InstrumentCoverage - Can the source_info.span for `FakeRead` statements be more consistent?"
Rust's LLVM InstrProf-based source code coverage implementation instruments Rust code via the MIR pass InstrumentCoverage. Most criteria for identifying coverage regions and counter locations are very general, based on Control Flow Graph (CFG) analysis of the MIR, and a fairly straightforward mapping of MIR Statements and Terminators to their source code regions (Spans).

StatementKind::FakeRead a

[2020-10-29 23:12] NieDzejkob opened #78547 "Diagnostics: suggest adding lifetime to trait object stored in struct"
This code doesn't compile:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=19d55b5bd62e97c17046daa71242c839))

Fixing it involves adding a lifetime bound with `dyn Iterator<Item = char> + 'a`, but this syntax is not something a beginner would know. It would be nice if rustc suggested it.

[2020-10-29 23:36] RalfJung commented on #78435
Yeah looks like you are using the wrong stage or so. The docs are from back when stage 2 was the default...

[2020-10-30 00:21] matthiaskrgr opened #78549 "ICE: trying to compare incompatible ctors while building rustfmt"
### Repro

[code]

### Meta

`rustc --version --verbose`:
rustc is @ 6bdae9edd0cc099daa6038bca469dc09b6fc078a
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-10-30 00:28] #78372 closed

[2020-10-30 00:28] #78382 closed

[2020-10-30 00:28] #78498 closed

[2020-10-30 00:57] jyn514 commented on #78549
Might be related to #78072 or https://github.com/rust-lang/rust/pull/78430, cc @Nadrieril

[2020-10-30 01:06] HeroicKatora commented on #78541
[Miri says it's fine](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c91642ce8118dcd53a836946beef00a2) and so would my intuition. Raw pointers, unlike references, do not assert their tags upon using their value but only when actually dereferenced and only for the place they are dereferenced to. But that only occurs as part of producing the `&mut _` vaules from the transmu

[2020-10-30 01:24] thomcc commented on #66699
It's not always unsound, just sometimes. The usual way of describing this is unsafe.

[2020-10-30 01:41] Nadrieril commented on #78549
Ouch, this is indeed my fault. Reproducer:
[code]

[2020-10-30 01:44] Nadrieril commented on #78549
Easy fix: replace `&_` with `_`.
I know what's happening and how to fix it, but I'm investigating whether I might have missed other similar cases.

[2020-10-30 01:54] jhpratt commented on #72243
Not sure if this is related, but when reëxporting a macro from another crate, the path isn't always correct _even when explicitly specified_. I have the macros exported through both the `macros` and `prelude` modules, but only have it documented in the former (the latter is a reëxport of the former, but documentation doesn't indicate it as such?). As rustdoc doesn't get the right path during the d

[2020-10-30 01:57] lqd commented on #78543
Current status:
- removed the dependency on `async_trait` from `materialized`, leaving only `pgwire`
- removed all but the `coord` dependency in `pgwire`

Those two result in [materialized reduced](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7790b47d8205aff50708f4678db78753) and [pgwire reduced](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=adf

[2020-10-30 02:06] camelid commented on #78549
searched nightlies: from nightly-2020-10-28 to nightly-2020-10-30
regressed nightly: nightly-2020-10-30
searched commits: from https://github.com/rust-lang/rust/commit/31ee872db5aae4750e3da1ca4ed1523c4356947f to https://github.com/rust-lang/rust/commit/6bdae9edd0cc099daa6038bca469dc09b6fc078a
regressed commit: https://github.com/rust-lang/rust/commit/f9187adaef2005b903f666bf323ac675cadf8407

<deta

[2020-10-30 02:38] Aaron1011 opened #78552 "Note when trait bound may be satisfied for a different version of a crate"
On the playground, the following code:

[code]

currently produces the following error:

[code]

Note that `hyper::body::Bytes` is an alias for `bytes::Bytes`. We should detect when an unment trait bound's substs match the fully-qualified names of our desired trait bound, and note that multiple versions of the same crate may be in use.

[2020-10-30 02:39] Aaron1011 commented on #78552
This is similar to https://github.com/rust-lang/rust/issues/73560, but it occurs in a different part of the compiler.

[2020-10-30 02:58] jyn514 commented on #78552
A similar error:
[code]
The first `cargo_metadata` is a module, the second is a crate.

[2020-10-30 03:18] redragonx commented on #63033
Hi.

I get the following error that matches what everyone is also getting:

[code]

[code]

[2020-10-30 03:45] camelid opened #78555 "`./x.py build --stage 2` does not build stage 1 rustdoc"
[code]

Cc @jyn514 -- you know rustdoc *and* `x.py` :)

[2020-10-30 04:07] jyn514 commented on #78555
@camelid I'm pretty sure it builds stage2 rustdoc, just not stage1 rustdoc. Do you have a binary at `build/x86_64-apple-darwin/stage2/bin/rustdoc`?

[2020-10-30 04:10] camelid commented on #78555
You're probably right 🤦

I'm so used to using `+stage1` that I forgot it's only for stage1.

[2020-10-30 04:10] #78555 closed

[2020-10-30 04:15] jyn514 commented on #78555
That said, there shouldn't be any difference between stage1 and stage2 other than the compiler it's linked to and built by. `stage1/rustdoc` and `stage2/rustdoc` should always do the same thing, perhaps with varying levels of efficiency.

[2020-10-30 04:59] camelid commented on #78555
Yeah, it's just because I'm testing stuff with Miri :)

[2020-10-30 05:28] #77993 closed

[2020-10-30 05:52] keiichiw commented on #78521
I think the idea of https://github.com/rust-lang/rust/issues/78474#issuecomment-717879443 can fix it because the return type of `debug_assert!` is `()` not `!`. In my understanding, we say "a function is diverging" only if the function *never* return a value.

[2020-10-30 06:45] DoumanAsh commented on #78521
`debug_assert!` should expands to optional panic which is `!`

[2020-10-30 06:50] gaojunjie03 opened #78557 "rust how to call the dynamic library (dylib / cdylib) generated by rust?"
rust how to call the dynamic library (dylib / cdylib) generated by rust?

[2020-10-30 06:52] jyn514 commented on #52790
@whizsid that PR hasn't seen activity in a few days, I think it would be reasonable to update it with the fixes mentioned in the review comments yourself. cc @pickfire

[2020-10-30 06:56] jyn514 commented on #78557
@gaojunjie03 for help with rust I recommend asking on [the Discord](https://discord.gg/rust-lang) or [Discourse](https://users.rust-lang.org/). Github issues is meant as a bug tracker, not a support forum.

[2020-10-30 06:56] #78557 closed

[2020-10-30 07:07] keiichiw commented on #78521
I meant `debug_assert!` can seen as the same with the following function, whose return type is `()`.
[code]

Ah, but, it's a macro not a function. So, the type-based approach in #78474 may not be applicable here...

[2020-10-30 07:27] leonardo-m commented on #78541
The asm for my version (on slices):
[code]
Asm (optimized build):

[code]

[2020-10-30 07:31] jocutajar opened #78558 "thread 'rustc' panicked at 'Box<Any>' - trying to compare incompatible constructors Single and Str(...)"
### Code

https://gitlab.com/BrightOpen/BackYard/Samotop/-/jobs/820728483

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-10-30 07:36] ivan770 commented on #78558
Got same issue. https://github.com/ivan770/spartan/runs/1330782773?check_suite_focus=true

[2020-10-30 07:51] matthiaskrgr commented on #78558
Duplicate of https://github.com/rust-lang/rust/issues/78549

[2020-10-30 08:02] matthiaskrgr opened #78560 "ICE: type parameter out of range -Zmir-opt-level=2 --emit=mir"
### Code
reduced from `./src/test/ui/issues/issue-28561.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/issues/issue-28561.rs  -Zmir-opt-level=2 --emit=mir`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-10-30 08:12] samlich commented on #78450
Somehow I missed that this does not require async. Also crashes with`type ImplTrait = impl core::fmt::Debug;` and returning `()`.

[2020-10-30 08:26] samlich opened #78561 "ICE: NLL `region is not an ReVar: ReEarlyBound(0, 'a)` with type_alias_impl_trait and particular type parameter bounds"
### Code

Playground stable: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=56aa005452055e07bce498e36cbad72b
Playground nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7e80ca3b1ec7abe08f60c41aff91f060

Somewhat similar to #78450

[code]
Also crashes without enabling features, and complains that

[code]

However, constraining `'b: 'a` remov

[2020-10-30 09:11] ablanleuil opened #78563 "Rust panicked when compiling on Raspbian (Raspberry pi 3B)"
When trying to compile a web server (with actix-web framework) in my raspberry pi 3b, the compiler panicked. The buf only happens with `nightly` toolchain, `stable` works.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-10-30 09:26] bjorn3 opened #78564 "bootstrap: Don't mandate cmake and ninja when the LLVM backend is disabled"
@rustbot modify label: +A-rustbuild

[2020-10-30 09:26] bjorn3 commented on #78564
@rustbot modify labels: +A-rustbuild

[2020-10-30 09:49] glandium opened #78565 "Invalid `error: unmatched angle bracket`"
The following code, reduced from glean-core 31.4.0, fails to compile on current master:

[code]

The error is:
[code]

The last nightly that rustup allows me to install (rustc 1.49.0-nightly (ffa2e7ae8 2020-10-24)) compiles it fine.

Interestingly, this doesn't happen with:
[code]

`git bisect` points to ff61949860813247b26d96eb374b41b46becba81 (#78379)

[2020-10-30 09:51] glandium commented on #78565
I should have checked #78379 first, because it points to #78507 which is the same thing.

[2020-10-30 09:51] #78565 closed

[2020-10-30 10:01] #78366 closed

[2020-10-30 10:39] lqd commented on #78543
Alrighty, we're finally down to a manageable size, 100 lines or so in 2 crates
- `materialized` only depending on `pgwire`: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=422bcf6fa5f28ef1e4194558e3f7ea6d)
- `pgwire`, no dependencies: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bca94185906768d36c0febea7446f981)

They cou

[2020-10-30 10:44] pietroalbini commented on #70651
I'm wondering if we need this to actually be on crates.io. We could vendor the script in the repository and call `./x.py subtree`.

[2020-10-30 10:48] oli-obk commented on #70651
I like having it as an independent thing. Others may want to use it, too. It's not rustc specific

[2020-10-30 11:04] KodrAus commented on #72237
We discussed this in the recent Libs meeting and felt that treating this case like an out-of-bounds panic was the most appropriate direction.

[2020-10-30 11:12] KodrAus commented on #71503
We discussed this at the recent Libs meeting and had a question about taking `&T` rather than `&mut T`. In the end we thought keeping consistent with `Vec` and not having to think about resorting afterwards made the `&T` item type appropriate.

If anybody is keen to open a stabilization PR we can kick off a FCP!

[2020-10-30 11:13] KodrAus commented on #71395
If anybody would like to open a stabilization PR for this we can kick off a FCP!

[2020-10-30 11:13] tmiasko commented on #72237
This was fixed in that manner by #75207.

[2020-10-30 11:15] KodrAus commented on #64460
Doesn't look like it! If somebody would like to open a stabilization PR then we can start a FCP 🙂

[2020-10-30 11:25] SunHao-0 opened #78567 "rustc overflowed its stack when compiling 148,492 lines of code."
Rustc overflowed its stack when compiling 148,492 lines of code.
Rust is great, but this limitation is unacceptable.

## Error
[code]

## Crate
Loc: 148,492
Large file:  fuzzer/syscalls/linux/amd64.rs
Link: [https://github.com/SunHao-0/healer/tree/refactor](https://github.com/SunHao-0/healer/tree/refactor/fuzzer/syscalls/linux)

## Hardware
_*Cpu*_
[code]

[code]

## Resource limitation
[code]

##

[2020-10-30 11:34] KodrAus commented on #64260
We discussed this at the recent Libs meeting and the only concrete argument we had against `then` and `then_some` was the length of the value-input vs closure-input being inconsistent with methods on `Result` and `Option`. The only alternative floated was:

[code]

It does seem like we've exhausted the design space for naming so I think now we just need to accept one and move on. Being a standard

[2020-10-30 11:43] jocutajar commented on #78558
Closing as duplicate in favor of #78549

[2020-10-30 11:43] #78558 closed

[2020-10-30 11:58] pickfire opened #78568 "Incorrect error order for println!"
I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

But eventually I will be able to see that once I use `{:?}` but users need to do an extra step to see the other warning.

### Meta

`rustc --version --verbose`: stable 1.47.0 to nightly 1.49.0-nightly (2020-10-29 6bdae9edd0cc099daa60)
[code]

[2020-10-30 12:13] SkiFire13 commented on #78541
@HeroicKatora your implementation is wrong for inputs where `i > j`.

This is my take:

[code]

This safe implementation is compiled to the same assembly as @leonardo-m's unsafe version. https://rust.godbolt.org/z/36c4sx

Curiously swapping the two if branches (checking for `i<j` first) adds a `mov` to the assembly.

[2020-10-30 12:15] jonas-schievink commented on #78563
Duplicate of https://github.com/rust-lang/rust/issues/78549

[2020-10-30 12:15] #78563 closed

[2020-10-30 12:42] HeroicKatora commented on #78541
@SkiFire13 Could you explain how although it's kind of irrelevant because your implementation looks incredibly pleasing? Note that normalization in the first line that ensures that always `i < j` from that point onwards.

[2020-10-30 12:46] #78507 closed

[2020-10-30 12:56] SkiFire13 commented on #78541
I would expect this function to always return the equivalent of `(&mut this[i], &mut this[j])` if `i != j` and both are `< this.len()`, however if `i > j` then your code returns `(&mut this[j], &mut this[i])` which is swapped compared to what I expected.

[2020-10-30 13:03] lzutao opened #78571 "Incorrect suggestion of `function_item_references` lint"
The `function_item_references` lint suggests a wrong function item cast.

I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d46c30ab809202ea2b88891e529da4f9

[code]

The compiler suggests this:
[code]

However, following the suggestion causes a compiler error:
[code]

I would expect the compiler suggests `size_of::<Left> as fn() -> _` instead.

### Meta

`

[2020-10-30 13:24] solson commented on #75791
I hope this is the right place for this — it seems like all relevant issues are getting closed as duplicates of this one. For reference, here is more minimal reproduction of the problem, from @khyperia:

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1e1e6e3859a058319f1c065fd92eb5b1)

It can be worked around like this:

[code]

[2020-10-30 13:51] jyn514 commented on #78374
I have a similar request:
[code]

[2020-10-30 14:12] calebcartwright commented on #78341
Blocked on #78549 for the time being

[2020-10-30 14:27] tmiasko opened #78573 "Infinite loop when inlining"
[code]

[code]

It was already possible before, but #68965 made it much easier to trigger.

@rustbot modify labels: +A-mir-opt, +A-mir-opt-inlining

[2020-10-30 14:31] tmiasko commented on #78560
Looks like the same inliner issue as in #78529.

[2020-10-30 14:59] tema3210 commented on #77745
This might block const-ness of `to_bits()` and co. conversions: what if one does pure computation using bits from float? How do we allow it? Gurantees on floats `repr` are not so good decision: there are platforms which use unusual float representation, it might break user logic. Maybe: `#cfg(??)`?

[2020-10-30 15:33] zserik commented on #77993
I hit a similiar bug... As it is already known and fixed, I won't post a new bug report, but as I already have it, here is my data point:

--------
### Code

I don't have a minimal example, I just know that I got an error on the following git checkout:
https://github.com/YZITE/yxd-auth/tree/rice-20201030

### Meta

`rustc --version --verbose`:
[code]

The following command triggered the ICE:
`carg

[2020-10-30 16:50] workingjubilee commented on #77745
Pardon? I have evaluated many platforms and have a good understanding of the nuances of float repr. All of them are well-defined by the IEEE754 floating point standard nowadays, because a lot of work was put into making that the standard. Some have decimal floats, but that does not say much because that is still a well-defined float repr that the standard accounts for and conversions between binar

[2020-10-30 16:56] pickfire commented on #52790
There is one last thing in the patch https://github.com/rust-lang/rust/pull/76447#discussion_r498716347, but it doesn't seemed to be near the stuff I do I believe, it may need some tweak.

[2020-10-30 18:02] steveklabnik commented on #66977
Triage: it appears this isn't a bug, and so normally I'd close it, but it seems like @jonas-schievink has it tracked as a feature request, but it's not 100% clear to me what that feature would be.

[2020-10-30 18:04] petrochenkov commented on #77586
The causality rule apply do not apply to glob imports because they don't have an easily obtainable set of output names, and people are actually complaining about this (https://github.com/rust-lang/rust/issues/62769)!

If we excluded `Foo`-the-variant from the environment when resolving `Foo` in the import because it's an output of the import, the example wouldn't produce an error.

[2020-10-30 18:05] cjgillot commented on #65031
@camelid you can ping me on zulip if I can help.

[2020-10-30 18:18] anp commented on #78549
I'm seeing a similar error when building `trust-dns-proto@0.19.2` with rustc commit 388ef349043f20a1a8a3011eaf49dee220485e0a:

[code]

[2020-10-30 19:07] camelid commented on #78330
Duplicate of #78132.

[2020-10-30 19:07] #78330 closed

[2020-10-30 19:10] camelid commented on #78132
_Originally posted by @lcnr in https://github.com/rust-lang/rust/issues/78330#issuecomment-716196908:_

we probably have to treat inline consts similar to closures during typeck. That might be somewhat complicated and I don't have the time to look into this myself.

If someone wants to work on this feel free to open a topic on zulip and ping me there though

[2020-10-30 19:30] camelid commented on #78561
@triagebot glacier "https://gist.github.com/rust-play/7e80ca3b1ec7abe08f60c41aff91f060"

[2020-10-30 20:33] Aaron1011 commented on #75335
This `x86_64-apple` job has taken over three and a half hours so far (it's still making progress): https://github.com/rust-lang-ci/rust/runs/1333124216

[2020-10-30 22:34] camelid opened #78585 "Confusing parse error for missing `=>` after match guard"
Can you spot the mistake?

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cd6c0119180a26e53a07cda6cf61adcc))

Errors:

[code]

[2020-10-30 22:49] scottmcm opened #78586 "repr(transparent) should not consider non_exhaustive types as 1-ZSTs outside their crate (`repr_transparent_external_private_fields`)"
This tracks eventually removing support for `repr(transparent)` types ignoring ZST that might not actually remain ZST in the future or on other targets.

### Types that can gain more fields

In crate A:
[code]
In crate B:
[code]

I expected that to fail in crate B, because the reason crate A put `#[non_exhaustive]` on the type was to allow it to get additional fields in the future, which would no

[2020-10-30 23:26] Mark-Simulacrum commented on #78586
I'm going to nominate for lang, because I think (perhaps with a future compat lint) we should not look at foreign types' size unless that type is repr(transparent) for the purposes of checking here.

[2020-10-31 00:47] SunHao-0 commented on #78567
[code]

[2020-10-31 01:05] SunHao-0 commented on #78567
By the way, if this #78588 solved the problem, how can I get the patched executable rustc as soon as possible? Will CI upload the compiled rustc to somewhere?

[2020-10-31 01:48] Mark-Simulacrum commented on #78567
`rustup-toolchain-install-master 761d47a65a41279f919a16d8b59f188b14a70617` should work; see https://crates.io/crates/rustup-toolchain-install-master/ to install it.

[2020-10-31 02:16] SunHao-0 commented on #78567
## Problem not solved

Rustc with 761d47 commit hash still overflowed, when compiling my project.
The backtrace is the same as above.

## Rustc version
[code]

[2020-10-31 03:27] agentsim commented on #73908
The instructions to install rustup under the section "Compiling on native aarch64 hardware" no longer seem to work. Is there an updated command?

[2020-10-31 03:57] yvt opened #78591 "rustdoc crashes with 'could not find markdown in source' trying to report unresolved link"
`src/lib.rs`:

[code]

`src/mymodule.rs`:

[code]

[Full source code](https://gist.github.com/yvt/64e008e17f34d496410d03582a1a8dd1)

I expected to see this happen: `cargo doc` completes successfully with a "unresolved link to `long_cat`" warning

Instead, this happened: `thread 'rustc' panicked at 'could not find markdown in source', src/librustdoc/passes/mod.rs:199:48`

### Meta

`rustc --version

[2020-10-31 03:58] #75777 closed

[2020-10-31 05:31] Boscop commented on #64260
Btw, I think `and_then_some` as a name for `then` would be too long.
Also it's confusing, it makes it sound like the closure should return an `Option<T>` because it sounds like it's a contraction of "bool to option" followed by `.and_then(f)`.

Also, in the meantime I've gotten used to the `then` and `then_some` methods.

But I think it would really make sense to have a way to express `and_then` t

[2020-10-31 07:02] mackycheese21 commented on #53667
Any progress updates? Although I love rust this is by far the jankiest part  of the language

[2020-10-31 10:05] jocutajar opened #78595 "Compiler complains "method cannot be invoked on a trait object" while in fact, a trait bound is missing"
**Why is it a problem:**
I'm so used to helpful compiler advice that I'm almost upset with this misleading statement :)

**Actual:**
Calling StreamExt::forward fails unless I add Unpin trait, but the error suggests that it is not possible to call the method on the trait object because it has to be Sized, no mention of Unpin and on top of it it suggests adding a `use` clause that is already present

[2020-10-31 10:15] woachk commented on #73628
@hjmallon Hello,

The arm64e ABI is currently not considered as final. To run arm64e binaries on macOS on Apple Silicon, add the -arm64e_preview_abi argument to boot-args.

[2020-10-31 10:22] glandium commented on #73908
What kind of error are you getting?

[2020-10-31 10:53] c410-f3r commented on #53667
I am trying to tackle this feature one bit at a time in my spare time. No promises for a concrete release date though

[2020-10-31 11:35] #65489 closed

[2020-10-31 12:23] JohnTitor commented on #57276
Triage: This is no longer ICE with the latest nightly, seems #78422 fixed it.

[2020-10-31 12:28] ijackson commented on #73521
Also, even if you know it must be a lifetime mismatch you have to intuit (or puzzle) what is wrong (or you can sprinkle random lifetime annotations until it compiles...)

[2020-10-31 12:44] ell1e commented on #78308
@the8472 I heard that it works on the 3GB variant, but likely only if pretty much all other software is terminated. This seems unreasonable for a compiler, and I feel like we're just talking around the issue that rustc just seems to use too much memory compared to pretty much all other compilers when compiling a comparable program (a basic GTK+ app).

[2020-10-31 13:01] the8472 commented on #78308
I was merely trying to offer options that are available now.

Memory footprint optimizations rarely are easy and may also involve tradeoffs such as writing more data to disk instead (which would be similar to swapping anyway), disabling some features that keep large amounts of data in memory or doing smaller units of work which may increase compilation times. Even optimizations that require no fea

[2020-10-31 13:09] ell1e commented on #78308
Just to point it out, this may still be preferable to general system swap however, since then it is only used during rustc compilation rather than potentially all the time.

This definitely sounds like something I would be looking for. The problem also is the many tweaks that keep being suggested are hard to apply for someone not using Rust themselves (I am not, I just want to test the dev version

[2020-10-31 13:11] the8472 commented on #78308
Note that swap aggressiveness can be configured so that it is only used when there is no other choice

[2020-10-31 13:20] joIivier opened #78598 "Compiler regression on trust-dns-proto"
The 30 Oct. nightly of the compiler cannot compile my project anymore because it crashes while compiling a dependency: `trust-dns-proto` versions 0.6.3 and 0.5.0. It seems to me that both versions of the library trigger the compiler crash based on the output of the compiler.

### Code
I am not sure the code of my project is relevant since it fails in a dependency whose versions are given in the er

[2020-10-31 13:21] jrmuizel commented on #78283
Yeah, it certainly looks related. https://bugs.llvm.org/show_bug.cgi?id=46943 is the upstream bug.

[2020-10-31 13:24] jonas-schievink commented on #78598
Duplicate of https://github.com/rust-lang/rust/issues/78549

[2020-10-31 13:24] #78598 closed

[2020-10-31 14:20] ell1e commented on #78308
Well I was trying to test out an experimental build to give the developer feedback on the ticket, where having debug symbols might actually be useful if it misbehaves.

This tends to work out poorly in practice however, especially when combined with tools like earlyoom (which is kind of mandatory nowadays given how bad the kernel oom killer is). The point where it's reasonably killed early and whe

[2020-10-31 14:47] gliderkite opened #78600 "Improve error message for "return type cannot contain a projection or `Self`...""
Following the improvement for the diagnostic of the error reported in this issue https://github.com/rust-lang/rust/issues/69276, it would be nice (depending on how https://github.com/rust-lang/rust/issues/61949 is prioritized) to have the same error message when instead of returning `Self` the function returns `Result<Self, Error>`.

When `Self` is returned I get a nice error message (on rustc 1.4

[2020-10-31 15:09] the8472 commented on #78308
You can still try lowering debug info from 2 to 1.

[2020-10-31 15:25] mominul commented on #70651
Here's [the `gitree` crate](https://crates.io/crates/gitree) which wraps the `git subtree` script. I have included the script form the [git PR](https://github.com/gitgitgadget/git/pull/493) mentioned here. I am not well versed in handling git, so can anyone test it or give me the instructions for doing it? Here's the [Zulip topic](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/

[2020-10-31 15:35] petrochenkov commented on #2887
https://github.com/rust-lang/rust/pull/78603 has an answer for this question.

[2020-10-31 15:35] bjorn3 commented on #70651
The crate metadata doesn't refer to the repo, so posting it here for others trying to find it: https://github.com/mominul/gitree

[2020-10-31 15:38] Alfriadox commented on #64260
I still think `and_then` and `and_then_some` both have a lot of flaws and are arguably some of the worse names suggested in this thread. If we have the option to settle on anything else I think we should take it.

[2020-10-31 16:15] tversteeg opened #78604 "Matching unbound reference to string in tuple causes ICE"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-10-31 19:13] SNCPlay42 commented on #78604
Different panic message/backtrace but the code looks similar to #78549

@rustbot modify labels: +regression-from-stable-to-nightly

[2020-10-31 19:14] jyn514 commented on #78604
cc @Nadrieril

[2020-10-31 19:15] jyn514 commented on #78604
You can workaround it by removing the `&`:
[code]

[2020-10-31 19:18] jyn514 commented on #78591
I bet the source span is wrong somehow.

[2020-10-31 19:19] ErichDonGubler commented on #64260
https://github.com/rust-lang/rust/issues/64260#issuecomment-719501761 is interesting to me, because I would have thought `and_some` and `and_then_some` to be more consistent with the `Result` and `Option` APIs.

[2020-10-31 19:20] JohnTitor commented on #78549
Assigning `P-critical` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378549.20ICE.3A.20trying.20to.20compare.20incompatible.20cto.E2.80.A6) and removing `I-prioritize`.

[2020-10-31 19:25] agentsim commented on #73908
I'm seeing this:
[code]
I just noticed an update to BigSur 11.0.1, I'll try updating. But these instructions seem to predate that release.

[2020-10-31 19:28] jyn514 commented on #78604
This has a test case in https://github.com/rust-lang/rust/pull/78553, so I'm going to close this as a duplicate of https://github.com/rust-lang/rust/issues/78549.

[2020-10-31 19:28] #78604 closed

[2020-10-31 19:32] #78510 closed

[2020-10-31 19:37] jyn514 commented on #78591
The issue is that the documentation on the re-export is being combined with the original documentation. `collect_intra_doc_links` splits it up by the module it's scoped to, which is different for the two doc-comments; if you remove `/// A` it works fine. `collect_intra_doc_links` needs to only pass the documentation for the current scope to `source_span_for_markdown_range`, not the combined docs.

[2020-10-31 19:46] jyn514 commented on #78591
The markdown range it comes up with is 3..13. Hmm, this is weird - I think this is actually the correct span because they both come from `markdown_links`, which doesn't care about scoping and just works on strings. Maybe it is a bug in `span_for_markdown_range` after all?

[2020-10-31 19:48] jyn514 commented on #78591
Aha, here we go: `span_for_range` is trying to look at the rustc snippet instead of the text it was provided.

[code]

[code]

Maybe it could just work with `markdown` instead?

[2020-10-31 19:53] steveklabnik commented on #60143
Triage: no change.

[2020-10-31 19:58] jyn514 commented on #78591
Hmm, there are some other bugs here too: normally rustdoc will resolve `//!` docs in the scope inside the module and `///` to the scope of the parent. But since there are inner docs, it will resolve _all_ of the links inside the module. I think the fix for both the issues is to separate outer docs from inner ones; not yet sure how to do that.

[2020-10-31 21:36] camelid opened #78613 "Suggest adding `&` for "mismatched types: expected reference `&&[&str]`, found reference `&[&str]`""
This code can be easily fixed by adding an `&` in the call to `contains`.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=849bed705c38f0d4ac2c3f0284fd8695))

Errors:

[code]

[2020-10-31 21:37] camelid commented on #78613
Also, I don't think autoref is documented anywhere.

[2020-10-31 21:44] jonas-schievink commented on #78613
Autoref doesn't happen for arguments, only for the receiver

[2020-10-31 21:54] glandium commented on #73908
That command still works for me on beta 10.

[2020-10-31 22:10] camelid commented on #78613
Maybe we could suggest adding an `&` then?

[2020-10-31 22:29] a1phyr commented on #71835
Can the following functions be added to the top statement ?

- `BTreeMap::len`
- `BTreeMap::is_empty`
- `BTreeSet::len`
- `BTreeSet::is_empty`

[2020-10-31 22:32] Aaron1011 opened #78614 "Spurious `arm-android` linker error"
This job failed with a linker error: https://github.com/rust-lang/rust/pull/75534#issuecomment-719888357

Log: https://gist.github.com/Aaron1011/1912914873b035870fdaccee446b9b0d

[code]

[2020-10-31 22:33] Aaron1011 commented on #78614
I had two logs open at once - ignore this.

[2020-10-31 22:33] #78614 closed

[2020-10-31 23:39] camelid opened #78615 "rustdoc: Downstream implementors are not linked to"
Rustdoc doesn't link to implementors of a trait where the implementors are in a downstream crate; e.g., [`rustc_middle::mir::visit::Visitor`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/visit/trait.Visitor.html#implementors):

![image](https://user-images.githubusercontent.com/37223377/97792101-1fa74680-1b97-11eb-8f87-2807184a07d9.png)

I would think this is a limitation relat

[2020-11-01 00:09] novacrazy commented on #48556
Any updates on stabilizing the F16C instructions?

[2020-11-01 00:46] IsaacWoods opened #78617 "Bootstrap panics if a crate is overloaded to one outside the local tree"
This was triggered by overloading a crate in `std`'s `Cargo.toml`:
[code]
Causing the following panic:
[code]

[2020-11-01 00:52] Nadrieril commented on #78549
The PR that fixes this is ready to be merged https://github.com/rust-lang/rust/pull/78553

[2020-11-01 00:53] jyn514 commented on #78615
I think this is a duplicate of https://github.com/rust-lang/rust/issues/76736.

[2020-11-01 00:53] jyn514 commented on #78615
If you can reproduce outside of rustc, that's a bug though.

[2020-11-01 00:57] camelid commented on #78615
I can reproduce it in a private project, but I'd rather not share the sources. I'll see if I can get an MCVE.

[2020-11-01 01:06] camelid commented on #78615
MCVE: https://github.com/camelid/rust-issue-78615

[2020-11-01 01:08] jyn514 commented on #78615
The code from that crate:
[code]

[2020-11-01 01:33] camelid commented on #78615
Yeah, I just wanted to provide a repo that you can just clone and build to reproduce :)

[2020-11-01 01:37] camelid commented on #78615
Weirdly, the issue seems to be spurious: Sometimes I see `impl MyTrait for MyStruct` in the "Implementors" list, sometimes I see nothing.

[2020-11-01 01:43] camelid commented on #78615
The output for camelid/rust-issue-78615@3dfc5ea:

![image](https://user-images.githubusercontent.com/37223377/97793426-fa233880-1ba8-11eb-875f-7642a8189517.png)

[2020-11-01 01:45] camelid commented on #78615
This partially worked as of nightly-2020-04-08:

![image](https://user-images.githubusercontent.com/37223377/97793441-2b9c0400-1ba9-11eb-83cf-f21b70fe2982.png)

Note that `MyTrait` is linked to for the `MyStruct` impl, but not for the `MyLocalStruct` impl. Also note that there is only a source link for `MyLocalStruct`.

[2020-11-01 01:58] camelid commented on #78615
searched nightlies: from nightly-2019-01-01 to nightly-2020-11-01
regressed nightly: nightly-2020-07-31
searched commits: from https://github.com/rust-lang/rust/commit/db0492ace429cfeb3567e2c04e300be7df9972ff to https://github.com/rust-lang/rust/commit/cfc572cae2d1fc381cce476b5c787fd7221af98c
regressed commit: https://github.com/rust-lang/rust/commit/6b269e44322cfca727fd0e793d3a60bd371cbcae

<deta

[2020-11-01 02:05] camelid commented on #78615
I think this is unrelated, but I want to note that running `cargo doc` after making `MyStruct` private still shows it as an implementor. You have to run `cargo clean` to get it to go away.

I'm guessing this is because rustdoc isn't re-documenting `crate_a` when `crate_b` changes and thus it has stale data?

[2020-11-01 02:24] gabhijit opened #78619 "Trivial documentation issue with `core::ops::Bit{And|Or|Xor}`"
This is a documentation issue.

In the documentation for BitOps -> `BitOr`, `BitAnd` and `BitXor`, Following documentation should be changed to use Bitwise operators for Boolean operations and not the logical operations.

[code]

Also, similar changes are required for Bitwise And and Bitwise Xor. Note: While the output is not wrong per se, it's actually a bit confusing since, those operators alrea

[2020-11-01 02:30] HenkPoley commented on #73908
It seems your `sh` is not a fat binary with x86_64. Did you build one yourself ? Maybe write the full path to Apple's `sh`?

[2020-11-01 02:40] camelid commented on #78615
cc @rust-lang/rustdoc

[2020-11-01 03:35] agentsim commented on #73908
Looks like this is a problem with my DTK:
[code]

[2020-11-01 05:05] chengniansun opened #78622 "ICE: compiler/rustc_typeck/src/collect/type_of.rs:82:26: unexpected const parent path Expr(...)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

**NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)**

[2020-11-01 09:07] RalfJung commented on #78541
Out of curiosity, what is "ER" for?

[2020-11-01 09:09] RalfJung commented on #78532
Currently on playground it seems to work fine both under Miri and regular rustc? Indeed something would be very wrong if it only panicked on Miri...

@lcnr's version panics both with rustc and Miri. Maybe the example in the OP should be updated.

[2020-11-01 09:10] RalfJung commented on #78520
That label is for [Miri-the-tool](https://github.com/rust-lang/miri/), I do not think it is the right one here.

[2020-11-01 09:12] RalfJung commented on #73146
Given what I said above, I am in favor of closing this issue -- currently the intended semantics of Downcast clearly involve it being legal to downcast to "other" variants as long as you only access fields common to both the actual and the downcast-to variant.

[2020-11-01 09:20] q2p commented on #70436
@Thomasdezeeuw is it possible to also implement a similar feature for reading?
Like `read_exact_vectored()` which would try to fill `&mut [IoMutSlice]` until it encounters an EOF. And if there is not enough data, it would return `UnexpectedEof`.

[2020-11-01 09:58] RalfJung commented on #78517
Turns out these messages are printed by bootstrapm not compiletest:

[2020-11-01 12:02] m-ou-se opened #78625 "Deprecation attribute on trait impl block is accepted but has no effect"
The following code is accepted, but the `#[deprecated]` attribute has no effect:

[code]

(Reported to me by @de-vri-es)

[2020-11-01 12:22] leonardo-m commented on #78541
Enhancement Request.

[2020-11-01 13:57] matthiaskrgr opened #78628 "ICE: broken mir with -Zunsound-mir-opts: simplify arm identity"
### Code
from `./src/test/ui/mir/issue-77359-simplify-arm-identity.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-01 14:07] jonas-schievink commented on #78628
This is probably https://github.com/rust-lang/rust/issues/77359

[2020-11-01 14:10] JanBerktold opened #78629 "Previously working declarative macro accepting function as input fails to compile on 1.47"
We have a testing framework that uses a declarative macro to take in a test method and "surrounds" it with all the required setup+teardown logic. After the upgrade to `Rust 1.47`, this setup fails to compile.

### Code

[code]

Macro is used like this:
[code]

I expected to see this happen: I expected the tests to compile and run, just like they had done with Rust 1.46.

Instead, this happened: Th

[2020-11-01 14:11] ayrtonm commented on #78571
I'll fix it
@rustbot claim

[2020-11-01 14:12] matthiaskrgr commented on #78628
Hm, the issue is already a couple of weeks old while I was not able to reproduce this one a few days ago.

[2020-11-01 14:19] matthiaskrgr commented on #78628
This happens since a6403b0f04b58a35cb9f3e544b2847ee09bcf3a4 :thinking:

[2020-11-01 14:23] matthiaskrgr commented on #78560
cargo bisect rustc says this happens since 0da6d42f297642a60f2640ec313b879b376b9ad8

[2020-11-01 14:35] matthiaskrgr commented on #78520
cargo bisect rustc says this regressed in 9d09331e00b02f81c714b0c41ce3a38380dd36a2
Perhaps #74066 ?

[2020-11-01 14:37] #2887 closed

[2020-11-01 14:45] est31 commented on #71379
With the PR mentioned by @bjorn3 merged, can this be closed?

[2020-11-01 15:05] Thomasdezeeuw commented on #70436
@q2p I guess so, but let's not track that in this issue. You can create a pr for it.

[2020-11-01 15:31] bjorn3 commented on #71379
While this isn't important for cg_clif at the moment, the new style Cranelift backends don't have support for passing structs yet. Avoiding them can also be useful for other backends.

@rustbot modify labels: -A-cranelift

[2020-11-01 15:39] skeleten opened #78630 "ICE: Trying to compare incompatible constructors"
### Code

Unfortunately it is a closed project and I have not been able to determine a minimal example, thus I am unable to provide any code -- Sorry.

### Meta

The error occurs only when using the Docker image `rustlang/rust:nightly`. I am able to compile the code on my development machine, using the `rustc` version

`rustc --version --verbose`: *(Working version)*
[code]

`rustc --version --ver

[2020-11-01 15:40] SNCPlay42 commented on #78622
Output on 1.46:

[code]

@rustbot modify labels: +regression-from-stable-to-stable

[2020-11-01 15:41] jonas-schievink commented on #78630
Duplicate of https://github.com/rust-lang/rust/issues/78549

[2020-11-01 15:41] #78630 closed

[2020-11-01 16:48] Aaron1011 commented on #78629
This is caused by `syn` failing to handle the `None`-delimited group `$f`, and will require an upstream fix.

[2020-11-01 16:52] #78549 closed

[2020-11-01 16:52] is8ac opened #78632 "ICE: feature(test), requires two tests in lib"
To ICE, both tests must be present. Also, if the code compiles successfully, the cache is poisoned. Until `cargo clean` is run, all future runs will compile successfully, even once the offending code is reintroduced. Also, this only ICEs as a lib, not as a binary.

Steps to reproduce:
- `cargo test` # ICE
- remove test1 or test2
- `cargo test` # compiles
- add the test back, such that there are no

[2020-11-01 17:12] Aaron1011 commented on #78629
Opened https://github.com/dtolnay/syn/issues/916

[2020-11-01 17:23] Ploppz opened #78633 "Variables not always into `async move` block"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4d231e147d97e7e83cc0ebec8fe58f16

rusc v1.47.0 stable

Error:
[code]

Which is because `track` is captured by reference and not by value, while `arena` is captured by value.

By submitting this issue, I assume that the intended semantics for `move` is:

which would make this a bug.

[2020-11-01 17:47] m-ou-se commented on #66893
This should probably also be added to AtomicPtr, for consistency between the Atomic* types.

[2020-11-01 17:48] workingjubilee commented on #72676
The Display formatting of f32 and f64 should certainly not be considered for stabilization until Rust fulfills various requirements of IEEE 754 in regards to precisely that, and I think no one should be treating it as if it is perfectly stable either.

[2020-11-01 17:50] thedewpoint opened #78635 "Compilation error introduced by new nightly version"
This application is compiling using nightly version 1.49.0-nightly (ffa2e7ae8 2020-10-24)

### Code
Link to repo https://github.com/thedewpoint/expense-api
running the docker image using
docker build --pull --rm -f "expense-api/Dockerfile" -t expenseapi:latest "expense-api"

### Error output

[code]

[2020-11-01 17:53] jonas-schievink commented on #78635
Duplicate of https://github.com/rust-lang/rust/issues/78549

[2020-11-01 17:53] #78635 closed

[2020-11-01 18:20] camelid commented on #78622
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378622.20ICE.3A.20compiler.2Frustc_typeck.2Fsrc.2Fcollect.2F.E2.80.A6) in the prioritization working group.

[2020-11-01 18:23] camelid commented on #78629
This doesn't seem to be a rustc issue, so closing. If it is indeed a rustc issue, feel free to reopen.

[2020-11-01 18:23] #78629 closed

[2020-11-01 18:24] SNCPlay42 commented on #78632
This code compiles on 1.43 (on stable with `#![feature(test)]` and `extern crate test;` removed) and ICEs on every later version, but the ICE on 1.46 and before is different.

@rustbot modify labels: regression-from-stable-to-stable

[2020-11-01 18:29] camelid commented on #78632
This still produces an ICE (removed the use of the `test` crate):

[code]

[2020-11-01 18:35] camelid commented on #78632
This part seems weird. Is that normal for an ICE?

[2020-11-01 18:36] SNCPlay42 commented on #78632
This also ICEs with `mod tests` replaced with a `pub fn`, or `fn main` in an executable crate, containing the body of `test2`, e.g.

[code]

[2020-11-01 18:43] camelid commented on #78632
[code]

Too long ago to get CI builds for individual commits, but the range where the bug was introduced is 485c5fb6e1bf12cd11a8fac5ee94962e17cff74b...94d346360da50f159e0dc777dc9bc3c5b6b51a00.

[2020-11-01 18:56] mystor opened #78639 "Tracking Issue for `atomic_fetch_update`"
Tracking issue for `AtomicPtr::fetch_update` and `AtomicBool::fetch_update` as added by #78637

[2020-11-01 19:24] SNCPlay42 commented on #78632
It's a weird ICE all around. The compiler panics on a failed `unwrap`, then while unwinding panics again because of a `delay_span_bug`, so the panic handler calls `intrinsics::abort` due to panicking while panicking.

It looks like the SIGILL is how `intrinsics::abort` is implemented.

On 1.46 and before only the second error happened (apparently directly thrown instead of delayed).

[2020-11-01 19:27] jyn514 commented on #78632
Might have been caused by https://github.com/rust-lang/rust/pull/70868 ?

[2020-11-01 19:27] jyn514 commented on #78632
Ah wait no this is in `trait_selection`, before it gets to codegen.

[2020-11-01 19:29] jyn514 commented on #78632
Could be https://github.com/rust-lang/rust/pull/70860, though.

[2020-11-01 19:30] camelid commented on #78632
Hard to know because of [this](https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra/topic/consider.20storing.20commit.20CI.20builds.20longer) ;)

[2020-11-01 19:33] jyn514 commented on #78633
Slightly minimized ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=17838a5c680905bac3ade316704680c3)):

[code]
[code]

[2020-11-01 19:35] SNCPlay42 commented on #78632
It's not before codegen: the full backtrace of where the delay_span_bug happens is:

<details>
<summary>Backtrace</summary>

[code]
</details>

[2020-11-01 19:36] jyn514 commented on #78633
Actually that's not quite right  because it returns a reference. I think https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=51d3946643a798e189b33af33ec4e88f is closeer.

[2020-11-01 19:37] jyn514 commented on #78633
I think the issue is that this is a self-referential struct: the future stores both `track` and `arena`, so by putting a pointer to `arena` into `track` you end up with a future that points to itself, which isn't allowed. by-move and by-value aren't related.

[2020-11-01 19:38] jyn514 commented on #78633
Yeah, if you remove `move` it works fine: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=016951a394128bd17a2b46dd84b435c3

[2020-11-01 19:40] jyn514 commented on #78632
@SNCPlay42 that's just because of the query system; rust doesn't have stages: https://rustc-dev-guide.rust-lang.org/overview.html#queries. But the panic is coming from `trait_selection::codegen_fulfill_obligation`.

[2020-11-01 19:41] jyn514 commented on #78632
cc @lcnr

[2020-11-01 20:00] Ploppz commented on #78633
That works because if you `drop(track)` or `drop(arena)` you actually only drop the reference I think?

I think this fix, adding `let mut track = track;` to coerce the compiler to capture value, to my initial playground, shows that the problem is that it actually captures by reference by default
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4ddfa084cc64cbfe3465e0228ce2d7b

[2020-11-01 20:03] jyn514 commented on #78633
It works without drop, too, that was just to make it more clear. I guess it didn't work :laughing:

That's because you're pushing to a new, non-captured variable now - it's no longer stored in the future. If you capture after the push it still  breaks: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4d3a959ef9a3cae41bcde778822bedda

[2020-11-01 20:09] camelid commented on #78632
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378632.20ICE.3A.20feature(test).2C.20requires.20two.20tests.20.E2.80.A6) in the prioritization working group.

[2020-11-01 20:12] camelid commented on #78629
This was fixed upstream.

[2020-11-01 20:18] Davester47 opened #78642 "ICE: trust-dns-proto"
### It broke when I updated nightly
I think this crate was a dependency of one of my dependencies. I don't directly use it at all. The crate is `trust-dns-proto` and I have no idea what it does. It broke just today as I updated the nightly compiler. It worked in nightly 1eaadebb3 2020-10-21.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>RUST_BA

[2020-11-01 20:25] jonas-schievink commented on #78642
Duplicate of https://github.com/rust-lang/rust/issues/78549

[2020-11-01 20:25] #78642 closed

[2020-11-01 20:38] catenacyber opened #78643 "internal compiler error trying to compare incompatible constructors Single and Str"
This is a first for me.
So, my report may not be perfect, but I am doing it since I read
`we would appreciate a bug report`

### Code

The unminimized case is with Suricata
Way to reproduce it should be
install docker
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-01 20:41] jonas-schievink commented on #78643
Duplicate of https://github.com/rust-lang/rust/issues/78549

[2020-11-01 20:41] #78643 closed

[2020-11-01 21:30] pitaj commented on #54172
It still appears this is unresolved, unless some alternate syntax was added to resolve it since June.

It's a blocker for #78006, take a look at the Actions log for [the errors](https://github.com/rust-lang/rust/pull/78006/checks?check_run_id=1262975438#step:24:1830)

[2020-11-01 21:42] jrmuizel commented on #78283
Here's a further reduced version:
[code]

[2020-11-01 21:58] bjorn3 commented on #78617
This happens in `builder.all_krates`. It thinks that the crate is a local crate part of the source tree and then panics when it isn't while trying to get the the path to it.

[2020-11-01 22:00] bjorn3 commented on #78628
@rustbot modify labels: +requires-nightly

[2020-11-01 22:02] jyn514 commented on #54172
The code in the original issue works without modification since https://github.com/rust-lang/rust/pull/74489 (if you change it to have `pub` in front of the struct and trait); the generated link is
[code]
Your issue in #78006 is related to primitives, please open a separate issue for that.

[2020-11-01 22:24] chengniansun opened #78644 "ICE: panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_middle/src/ty/sty.rs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

**NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)**

[2020-11-01 22:26] jonas-schievink commented on #78644
This is because `trait Deref {}` is missing the associated `Target` type, so closing in favor of https://github.com/rust-lang/rust/issues/9307

[2020-11-01 22:27] #78644 closed

[2020-11-01 22:27] petrochenkov commented on #43860
Fixed in https://github.com/rust-lang/rust/pull/77271.

[2020-11-01 22:30] pitaj commented on #54172
I'm sorry, but you're incorrect. If you'd looked at the actions log I linked, you'd see the following errors.

[code]

Which to me seems to be related to this issue. There's more information on the PR comments [here](https://github.com/rust-lang/rust/pull/78006#issuecomment-709857941) and [here](https://github.com/rust-lang/rust/pull/78006#issuecomment-710708600).

I was going to create a new issu

[2020-11-01 22:40] Lucretiel commented on #74274
Yes, that's fixed it, thank you!

[2020-11-01 22:40] #74274 closed

[2020-11-02 00:20] Diggsey opened #78649 "error[E0391]: cycle detected when computing type of async fn"
I tried this code:
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=19653eea2af1dd97a8d48126dfd7d683

I expected it to compile, but it gave the following error:

[2020-11-02 00:46] kornelski opened #78650 "ICE: trying to compare incompatible constructors Single and Str…"
### Code

https://github.com/bluejekyll/trust-dns/tree/7895de879ffe91c0f12710359d9d93b5bb40f1db/crates/proto

### Meta

`rustc --version --verbose`:
[code]
   Compiling trust-dns-proto v0.20.0-alpha.3 (/Users/kornel/www/trust-dns/crates/proto)
error: internal compiler error: compiler/rustc_mir_build/src/thir/pattern/_match.rs:931:18: trying to compare incompatible constructors Single and Str(Const

[2020-11-02 00:47] kornelski commented on #78650
Dupe #78549

[2020-11-02 00:47] #78650 closed

[2020-11-02 01:50] chengniansun opened #78651 "ICE: 'assertion failed: !self.substitutions.is_empty()', compiler/rustc_errors/src/lib.rs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

**NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)**

[2020-11-02 02:05] chengniansun commented on #78529
Not sure whether the following is a duplicate to this bug. If not I will file another one.

[code]

[code]

[2020-11-02 02:14] chengniansun opened #78652 "ICE: panicked at 'no errors encountered even though `delay_span_bug` issued', compiler/rustc_errors/src/lib.rs:958:13"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

**NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)**

[2020-11-02 02:21] chengniansun opened #78653 "ICE: compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs:130:13: no type for local variable local 0"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

**NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)**

[2020-11-02 02:26] chengniansun opened #78654 "ICE: compiler/rustc_typeck/src/check/closure.rs:608:18: async fn generator return type not an inference variable"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

**NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)**

[2020-11-02 02:31] chengniansun commented on #78174
A possible duplicate.

[code]

[2020-11-02 02:39] chengniansun opened #78655 "ICE: compiler/rustc_middle/src/mir/mod.rs:2306:49: could not find allocation for alloc1"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

**NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)**

[2020-11-02 02:43] camelid opened #78656 "Type expectation appears to be reversed"
The expected type and the found type seem to be reversed here. The error says it expected `()` and found `i32`, but it seems to me that it expected `i32` and found `()`.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9c11a313cecfe8dcab968c016e1b65cc))

Errors:

[code]

[2020-11-02 02:45] camelid commented on #78649
A bit of a weird error message:

[code]

[2020-11-02 02:49] jyn514 commented on #78649
I think this is expected behavior? You can't have recursive async functions.

[2020-11-02 02:49] jyn514 commented on #78649
The error message is pretty bad, though.

[2020-11-02 02:59] Diggsey commented on #78649
@jyn514 this is not a recursive function.

[2020-11-02 03:01] Diggsey commented on #78649
For reference, the following very similar code snippet compiles just fine, and should be equivalent (modulo a Pin and some marker traits):

[code]

[2020-11-02 03:19] dan-fritchman opened #78657 "Long Functions Cause Invalid DWARF, Debug/ Breaking Unavailable"
Including long functions appears to cause rustc to create invalid DWARF debug files. This leaves debugging and break-pointing unavailable. Debugging fails *throughout* the program, not just in the long functions.

Originally uncovered while porting (someone else's!) C code, which included a function of about 5k LOC. Also reproduced with macro-generated long methods. A minimal example is available

[2020-11-02 04:38] #78622 closed

[2020-11-02 04:47] CleanCut opened #78660 "ICE in 1.49.0 nightly 2020-11-01 on windows"
### Code

Simply building the rusty-xinput crate in the dependency chain seems to have triggered it.  See https://github.com/bevyengine/bevy/pull/769/checks?check_run_id=1340257075

### Meta

Rust version from the build
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

I'm sorry - I don't have access to a windows environment to reproduce this!

</p>
</de

[2020-11-02 05:59] JohnTitor commented on #78660
I think #75534 is the cause, cc @Aaron1011.
Note that you should set `RUSTFLAGS="-D warnings"` to reproduce it. I don't _feel_ this is Windows-specific but it just depends on the Windows-specific crate, marking `E-needs-mcve`.

<details><summary><strong>Backtrace</strong></summary>

[code]

</details>

[2020-11-02 06:06] JohnTitor commented on #78656
The diagnostics look correct to me, actually, the note points out why the error happens.
[code]

[2020-11-02 06:16] Aaron1011 commented on #78660
MCVE: run `rustc -D warnings --cap-lints allow bug.rs` on:

[code]

[2020-11-02 06:25] JohnTitor commented on #78655
This is ICE since 1.45.0, I think #71508 is the cause. This @RalfJung's comment seems related: https://github.com/rust-lang/rust/pull/71508#discussion_r422327942

[2020-11-02 06:51] JohnTitor commented on #78654
Related to #64999.

[2020-11-02 08:10] JulianKnodt commented on #78504
I think this would compile efficiently(and is the same as jyn's with an added assert which might change compilation behavior):
[code]

[2020-11-02 08:30] JohnTitor opened #78665 "`debuginfo/pretty-std-collections.rs` test sometimes fails on macOS"
CI on macOS sometimes fails due to this failure:
[code]

You can find the full log here: https://github.com/rust-lang-ci/rust/runs/1340649828
The failure occurs on #78501, #78489, and #78661 (at least).

[2020-11-02 08:31] nomeata commented on #73755
Any progress here? I’d be curious about how to create a rust module that imports and exports functions using Wasm multi-value features.

[2020-11-02 10:23] alecmocatta commented on #78532
Yes, though at time of posting it did fail under miri (and only under miri) on the playground.

Sorry if I was unclear; I meant that I got the same panic when *running* the built WASM.

[2020-11-02 10:24] JohnTitor commented on #78665
Oh, I just found the related Zulip topic: https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra/topic/apple-x86_64.20gha.20checks

[2020-11-02 10:42] #70935 closed

[2020-11-02 10:56] avnerbarr commented on #63047
I'm getting this issue now as well
[code]

active toolchain
----------------

stable-x86_64-apple-darwin (default)
rustc 1.46.0 (04488afe3 2020-08-24)

[2020-11-02 11:01] RalfJung commented on #78532
My guess is that something in libstd changed to fix the panic for your case (but not for @lcnr's), and when you tested this, Miri was broken in the latest toolchain so playground had an older version of Miri. When this happens again, please note down the exact versions of every component involved.

[2020-11-02 11:06] RalfJung commented on #78655
The intention was that "error: encountered dangling pointer in final constant" would stop compilation... but as usual when using a constant as a pattern like this code does, compilation doesn't actually stop, so bogus things end up hitting other parts of the compiler. :/ FWIW, this regression can only possible affect code that should not compile (but it should error cleanly, not ICE).

Cc @oli-obk

[2020-11-02 11:11] sasurau4 commented on #77290
The previous PR seems abondoned, I'll try it.

[2020-11-02 12:08] oli-obk commented on #78655
This specific case could become `delay_span_bug` by invoking `get_global_alloc` instead of `global_alloc`. But that's just fixing symptoms as noted by @RalfJung

I think the correct fix would be to make sure that `intern_const_alloc_recursive` bubbles up an `ErrorReported` to make sure we don't get that constant but either just get an error or potentially a `ConstKind::Error`

[2020-11-02 12:21] tmiasko commented on #78529
@chengniansun that would be a different issue.

[2020-11-02 13:06] #78619 closed

[2020-11-02 13:24] sfackler commented on #72016
I just used the new `asm!` to port this macro from libunwind: https://github.com/libunwind/libunwind/blob/v1.4.0/include/libunwind-aarch64.h#L215-L236.

https://github.com/sfackler/rstack/blob/141fa714e69e05d396342ee056807245f30a9384/unwind-sys/src/aarch64.rs#L148-L170

It feels pretty good to me. The ability to specify explicit registers for arguments is way less weird than having to use a regist

[2020-11-02 13:29] SunHao-0 commented on #78567
Thanks for the quick response. Unfortunately, this [pr](#78607) didn't fix the problem, rustc still overflowed it stack but with a slower speed. For now, I'll change the code generation logic of my crate to split the long function into multiple shorter functions. However,  this kind of limitation should not exist in rustc.

[2020-11-02 13:39] RalfJung commented on #78655
Found the issue for the underlying problem: https://github.com/rust-lang/rust/issues/76064

[2020-11-02 13:42] RalfJung commented on #76064
Once this is fixed, we can hopefully also get rid of the `TransmuteSizeDiff` hack. I am not sure if we carry any other similar hacks that we still carry around.

[2020-11-02 13:58] Mark-Simulacrum commented on #77713
Going to denominate this until I end up with an implementation to FCP; I expect there's nothing further to discuss here until then.

[2020-11-02 14:17] nikomatsakis commented on #77586
Yeah, I think there's a secondary constraint that I had in mind, which is basically that, in the end, we can come up with a single "resolution result" for each module which is a mapping of `name -> full-path` and that all of our resolutions are consistent with that final result. That is the property I think you are going for with your "inference variable" idea as well, and it is precisely the prop

[2020-11-02 14:36] chengniansun opened #78671 "ICE: compiler/rustc_middle/src/ty/subst.rs:529:17: type parameter `T/#1` (T/1) out of range when substituting, substs=[Self]"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

**NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)**

[2020-11-02 15:01] KaiserKarel opened #78672 "ICE produces by a simple warp example."
Running the below example produces an ICE using `warp = "0.2"`.

### Code

[code]

### Meta
`rustc --version --verbose`:

[code]

### Error output

[code]

[2020-11-02 15:04] nikomatsakis commented on #66173
Update from last Thursday:

@blitzerr and I did a bit of investigation. We got the lint more-or-less working as I intended. This led us to some interesting "false warnings" and other cases that are worth highlighting.

### Example 1:

We found some code in the parser that generated a warning:

https://github.com/rust-lang/rust/blob/4051473c8b5158984a5253d1b5faad6a94de7682/compiler/rustc_parse/src/

[2020-11-02 15:32] jonas-schievink commented on #78672
Duplicate of https://github.com/rust-lang/rust/issues/77993 – it should be fixed on the newest nightly

[2020-11-02 15:32] #78672 closed

[2020-11-02 15:42] Nemo157 opened #78673 "rustdoc shows inapplicable blanket implementations"
I tried this code:

[code]

I expected to see this happen: The specific implementation on `MyStruct`'s doc page

Instead, this happened: Both the specific implementation, and the inapplicable blanket implementation, are shown:

![image](https://user-images.githubusercontent.com/81079/97887478-45188980-1d2a-11eb-8b17-0e4d1f3a6b8d.png)

### Meta
[code]

@rustbot modify labels: +T-rustdoc

[2020-11-02 16:14] m-ou-se commented on #64260
I'm personally not a big fan of names like `map` for `bool`, simply because I don't see `bool` as a container or data structure like `Option`, `Result`, and `Vec` are. Although a boolean is in many ways similar to `Option<()>` or `Result<(), ()>`, the link with control flow ('if' / 'then') feels much more natural to me.

[2020-11-02 16:21] workingjubilee commented on #78356
My observations have consistently suggested that people use `format!` or `write!` for seemingly "trivial" reasons All The Time because when you start with `println!` it's what feels like the most natural and easiest way. And then they do wrap it in other macros, yes, so it is best to try to take the effort to reduce the amount of overhead going on here.

[2020-11-02 16:29] ok32 commented on #76930
Bisected the commit which introduces the regression: https://github.com/rust-lang/rust/commit/95815c9b2b222d865c227d717b1c152072ddf25a

[2020-11-02 17:17] pietroalbini commented on #78665
Please ping me if another failure happens again.

[2020-11-02 17:54] danielhenrymantilla opened #78675 "ICE when forwarding `$item` with inner attr through a proc-macro layer"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

cc @Aaron1011

[2020-11-02 17:55] danielhenrymantilla commented on #78675
@rustbot modify labels: +A-macros +A-hygiene +A-proc-macros

[2020-11-02 17:57] danielhenrymantilla commented on #78675
Also note that on 1.45.0 there is no ICE, so this is a regression.

@rustbot modify labels: +regression-untriaged

[2020-11-02 18:22] ijackson commented on #23416
RFC 2522 has been postponed.  I think that means we should consider whether to stabilise type ascription for expressions as currently implemented.  Looking through this issue I found only the following outstanding concerns/objections:

 * Is the precedence right? https://github.com/rust-lang/rust/issues/23416#issuecomment-166678447
 * interaction with the idea of optional/named arguments (which mi

[2020-11-02 18:23] camelid commented on #78656
But then it says:

What does that mean? Where's the `i32` coming from?

[2020-11-02 18:26] ijackson commented on #31436
Personally I think the ergonomic problems are not so bad that it is not worth stabilising this feature now.  Even without expression type ascription, introducing a let binding is not so ugly a workaround.

Also, `try` blocks might be useful in macros.  In particular, I wonder if @withoutboats excellent fehler library would suffer from fewer problems with deficiencies in our macro system, if it cou

[2020-11-02 18:33] Nemo157 commented on #78673
@rustbot claim

[2020-11-02 19:19] jyn514 commented on #77290
@sasurau4 the PR wasn't abandoned, it was rejected because it wasn't clear the improvements were worth the potential breakage. I see in #78666 you only fixed warnings shellcheck marked as 'error's, that might have a better chance.

[2020-11-02 19:19] camelid commented on #78675
searched nightlies: from nightly-2020-03-01 to nightly-2020-11-02
regressed nightly: nightly-2020-06-25
searched commits: from https://github.com/rust-lang/rust/commit/ff5b446d2fdbd898bc97a751f2f72858de185cf1 to https://github.com/rust-lang/rust/commit/67100f61e62a86f2bf9e38552ee138e231eddc74
regressed commit: https://github.com/rust-lang/rust/commit/3c90ae8404b6b83bc3cba35840ddf7edd500cc86

<deta

[2020-11-02 19:25] JohnTitor commented on #78655
Assigning `P-medium` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378655.20ICE.3A.20compiler.2Frustc_middle.2Fsrc.2Fmir.2Fmod.2E.E2.80.A6) and removing `I-prioritize`.

[2020-11-02 19:26] JohnTitor commented on #78653
Assigning `P-medium` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378653.20ICE.3A.20compiler.2Frustc_typeck.2Fsrc.2Fcheck.2Ffn.E2.80.A6) and removing `I-prioritize`.

[2020-11-02 19:27] JohnTitor commented on #78660
Assigning `P-medium` [as discussed as part of the Prioritization Working Group procedure] and removing `I-prioritize`.

[2020-11-02 19:32] #51000 closed

[2020-11-02 19:35] JohnTitor commented on #78656
Note that the error talks about the `if` expression, not the function!
`if` expressions without `else` evaluate to `()`, we **expect** the body returns `()`. But when rustc looked at it, they **found** `i32` (i.e. `1`). Does this make sense for you?

[2020-11-02 19:39] camelid commented on #78656
I understand that it evaluates to `()`, but where did rustc find `i32`? In the function return type? That would seem like an expectation to me.

[2020-11-02 19:43] JohnTitor commented on #78656
Yep, rustc infers `1`'s type following the return type. You could change it to `u32`, for example, and see the message :)

[2020-11-02 19:46] camelid commented on #78656
But then shouldn't the message be "expected `i32` [because of the return type], found `()` [because if without else has type `()`]", which is the reverse of the current message? I still feel confused :/

[2020-11-02 19:50] awh6al opened #78680 "ICE: tuple_fields called on non-tuple"
A simple actix web example without `async` keyword for manual_hello function
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-02 19:53] JohnTitor commented on #78656
Rustc only talks about line 5-7 in that error. In that scope, we **expect** to be returned `()` from the `if` expression since it doesn't have `else`.
If you add `else` with a wrong return type (https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f4df73521f639fcf5939d8051207a3fe), now rustc looks at the entire function and finds the `bool` is incorrect.

[2020-11-02 20:22] jonas-schievink commented on #78680
Please update your compiler, this is fixed in newer nightlies.

[2020-11-02 20:22] #78680 closed

[2020-11-02 20:38] Diggsey commented on #77586
One option would be to allow overlap between "pub use" and "use", but not allow overlap within the two.

This would allow having `bar` in scope for a module whilst exporting a different `bar`, but doesn't introduce too much ambiguity.

[2020-11-02 20:38] Mark-Simulacrum commented on #77586
Assigning to self for a revert of https://github.com/rust-lang/rust/pull/77421.

[2020-11-02 20:52] wesleywiser commented on #78665
This just happened in #78448.

[2020-11-02 20:56] camelid commented on #74780
Labeling as `P-high` as per the guidelines for rustdoc regressions.

[2020-11-02 20:56] Mark-Simulacrum commented on #77586
We discussed this in the language meeting today. We thought that we may want the more constrained behavior, but we were not at this point inclined to land breakage. It is possible that in a future edition, we may want to move to a different resolution story (perhaps @petrochenkov's inference idea), and in which case we would lint on such patterns (and presumably others?).

@pnkfelix brought up tha

[2020-11-02 21:06] danielhenrymantilla commented on #78675
@rustbot modify labels: -I-prioritize

[2020-11-02 21:10] nikomatsakis commented on #77586
So here is a brain puzzler. Which version of `foobar` runs in the following code?

[code]

Answer: [version 2](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=93ed7a63a8ddc847be787cf9aae17f26), and I imagine this is because we refuse to resolve `use bar::foobar` until all possible sources of `bar` have been resolved. Is that correct, @petrochenkov?

(In any case, @joshtripl

[2020-11-02 21:16] scottmcm commented on #78586
Note that this also applies to the way this was done before `non_exhaustive`:
[code]
As that private field also keeps others from constructing or exhaustively matching it, but it would still be accepted as 1-ZST by `repr(transparent)`.

We discussed this in the lang team meeting today.  The consensus was that this is an accidental semver hazard that we'd like to do something about.

@rustbot modif

[2020-11-02 21:47] Boscop opened #78686 "Linking with LLD fails (on Windows) but only in 32-bit (due to space in path)"
The 32-bit build of my DLL fails to build with nightly-2020-10-19 when linking with LLD.
It was building fine with nightly-2020-04-12, but I'm not sure if I was using LLD back then already.
LLD seems to have problems with a space in my rustup path, but it used to work before, also building for 32-bit!
My rustup folder is `D:\Program Files\.multirust`, but it tries to use `Files\.multirust`.
Btw, t

[2020-11-02 21:50] Aaron1011 commented on #78341
https://github.com/rust-lang/rust/issues/78549 has now been fixed

[2020-11-02 22:15] jhpratt commented on #66954
This would also stop linting on associated constants, correct?

[2020-11-02 22:16] jyn514 commented on #78686
This looks awfully like https://github.com/rust-lang/rust/issues/76466.

[2020-11-02 22:39] ijackson opened #78688 "ICE, _impl.rs:308:25: while adjusting Expr"
### Code

I'm afraid I do not have time to minimise this now.  Steps to reproduce:
[code]

FYI the first coommit on that branch that provokes the ICE is b1fc38f54366983628d6b71b0ada354cb5a5c1d4 but you are not likely to be able to build it because it has local dependencies etc.  The previous commit did not provoke the ICE (producing compiler errors as expected), so it is triggered by something in

[2020-11-02 22:40] jonas-schievink commented on #78688
This should be fixed on the current nightly, please update your compiler

[2020-11-02 22:42] thomaseizinger commented on #64260
The reason I suggested `map` was because it does feel closer to the remaining functional-like APIs that can be chained. Those usually act like a pure pipeline of data transformations.

`if` on the other hand reminds me more of the `if_present` API in Java's `Optional`. This API takes a closure that _only_ runs if the `Optional` is present. I always disliked this API, it is pretty useless most of t

[2020-11-02 22:47] ijackson commented on #78688
@jyn514 on discord told me I needed to update my rustc.  Of course I had tried that but apparently rustfmt is broken and that means rustup doesn't work any more. This is probably sensible behaviour for rustup but IWBNI it came up in yellow or something; it just put it in with the other progress updates which I confess I didn't read.  Sorry for the noise.  Should I file an issue against rustup?  Is

[2020-11-02 22:51] mati865 commented on #78686
The cause of #76466 is entirely unrelated to this issue: https://github.com/llvm/llvm-project/commit/928e9e172305752583a75a8174ab5a87b4e09d80

[2020-11-02 22:52] jonas-schievink commented on #78688
rustup should tell you why it skips a certain nightly version – but maybe that diagnostic isn't clear enough. It seems reasonable to file a rustup issue for that.

rustfmt will be fixed when someone gets to it, or, at the latest, shortly before the next stable release, which is in ~3 weeks or so.

[2020-11-02 22:52] #78688 closed

[2020-11-02 23:55] webmaster128 commented on #69210
Really love the idea of making `remove` faster (for building caches), but I wonder to what degree this is against the nature of linked lists.

Where would this node come from? If we have a `fn get(at: usize) -> Node`, then we still need to iterate over the whole list in order to get the Node. Or create some additional lookup table.

[2020-11-03 00:07] workingjubilee commented on #48501
@rustbot claim

[2020-11-03 00:17] neeldug commented on #69210
The fastest way would increase memory by O(n) with a hashmap or equivalent, so I’m unsure as to whether this should be included since the uses of Linked Lists, while quite limited do sometimes rely on the memory constraints. Initially I figured sticking a HashMap with pointers would be the way to get O(1) removals which is great for caching but increases the memory usage...

[2020-11-03 00:21] workingjubilee commented on #48501
Whoops, wrong spot. @rustbot release-assignment

[2020-11-03 00:22] workingjubilee commented on #67264
Alrighty then. @rustbot claim

[2020-11-03 00:29] sivadeilra commented on #58713
Hello, @joshtriplett and @retep998 . I'm a Windows developer (as in, working on Windows itself, at Microsoft), and I'd like to help advance this RFC.

Is there an existing prototype implementation?

The spec seems to cover all of our requirements. The main thing that is missing is how (or whether) to support delay-binding imports. PE/COFF has tables that describe how to represent delay load import

[2020-11-03 00:52] workingjubilee commented on #37854
"RangeFrom" patterns (`X..`) will be partially stabilized in #67264. No decision was reached regarding "RangeTo" (`..Y`) or "Range" patterns (`X..Y`).

[2020-11-03 01:09] Alfriadox commented on #64260
I think it's a good idea to focus on the 'control flow' use of function. While `map*` is definitely closer to the functional, chain-able API on things like `Iterator`s, `Option`s, and `Result`s those all contain another type `T` and the associated methods are based around `map()`ing from `T` to `O`. Since `bool`s don't contain anything, `map*` naming is arguably weaker. While I don't personally di

[2020-11-03 01:20] tinaun commented on #58713
hey @sivadeilra - i have a draft pr [here,](https://github.com/rust-lang/rust/pull/71497) but we were unsure that writing the object files directly was the way to go - i was thinking of revamping the pr to generate "short import" .lib files and passing those to the linker

[2020-11-03 01:22] tinaun commented on #58713
there's more discussion on this over on the zulip topic:

https://rust-lang.zulipchat.com/#narrow/stream/242869-t-compiler.2Fwindows/topic/Tracking.20raw_dylib.20progress.2E

[2020-11-03 01:29] jrmuizel opened #78691 "CString lifetime warning incorrectly fires"
I tried this code:

[code]

I get:
[code]
However since the CString is not deallocated until after the function call the code is fine and the warning should not trigger.

See https://rust.godbolt.org/z/vjrvGn for the assembly.

[2020-11-03 02:33] asomers commented on #78660
I got the same error on Linux while compiling lazy_static.  https://cirrus-ci.com/task/6280736288276480 .

[2020-11-03 02:40] Aaron1011 commented on #78660
This will be fixed by https://github.com/rust-lang/rust/pull/78663

[2020-11-03 03:14] jyn514 commented on #78691
This is the edge case I mentioned in https://github.com/rust-lang/rust/pull/75671#issuecomment-684894787. @matklad and few others said

[2020-11-03 03:40] #43860 closed

[2020-11-03 03:40] #55414 closed

[2020-11-03 04:35] Aaron1011 commented on #63221
For `macro_rules!` macros, we currently throw away attributes:

[code]

In the above code, we'll end up with `fn main() { fn foo() {} }`

I think it would be useful to handle attributes equivalently for `macro_rules!` and bang-proc-macros.

[2020-11-03 04:39] camelid opened #78694 "rustdoc: Implementations on Foreign Types are out-of-order in sidebar"
See in the docs for the [`num`](https://docs.rs/num/0.3.0/num/trait.Num.html) crate:

![image](https://user-images.githubusercontent.com/37223377/97950307-502fe180-1d4b-11eb-8e18-976a7f1f345b.png)

[2020-11-03 05:04] camelid opened #78695 "rustdoc: Strip blank lines from start and end of code blocks"
People will often use the `#` character to hide lines that aren't relevant to the example, but rustdoc will display blank lines you leave between `#`-prefixed lines and the visible lines. For example, this source:

[code]

leads to this output:

![image](https://user-images.githubusercontent.com/37223377/97951363-ceda4e00-1d4e-11eb-850d-2f86ad240b40.png)

I propose that rustdoc strips blank lines

[2020-11-03 05:13] pitaj opened #78696 "intra-doc links: `crate::` considers the traits in the crate scope, not the current scope"
I tried this code:

[code]

I expected to see this happen: Rustdoc should complete with no warnings

Instead, this happened:

Only the following warning is output by rustdoc
[code]

If you uncomment the line as it says, the warning goes away.

### Meta

`rustc +stage2 --version --verbose`:
[code]

Commit hash: b2025326088b54fb3f083bebeba14e0a15bf00d3

Here's a crate that repros this issue: https:/

[2020-11-03 05:22] jyn514 commented on #78696
Slightly smaller:

[code]

[2020-11-03 05:24] jyn514 commented on #78696
The issue is that rustdoc thinks the trait isn't in scope for some reason:

[code]

[2020-11-03 05:26] jyn514 commented on #78696
Because it's resolving the scope of the crate, because of the hack I did to fix `crate::` across crates: https://github.com/rust-lang/rust/pull/77253. If you use `super::TcpStream::read` instead, it works fine.

[2020-11-03 05:29] jyn514 commented on #78696
@pitaj you could get https://github.com/rust-lang/rust/pull/78006 working by using super instead for now.

[2020-11-03 07:34] GrayJack commented on #43301
What is the status of this feature? Is there a proposal to stabilization?

[2020-11-03 07:34] gparker42 commented on #78657
Couldn't reproduce with rustc 1.46.0 nor 1.49.0-nightly (ffa2e7ae8 2020-10-24). `dwarfdump --debug-line` and `dwarfdump --verify` found nothing wrong with dwdemo.dSYM.

But I'm running a pretty old Xcode version (10.1 10B61). Dan, which Xcode version are you using (`xcodebuild --version`) ?

[2020-11-03 07:35] jhpratt commented on #43301
@GrayJack This issue should be closed, as this landed quite a while ago.

[2020-11-03 07:40] GrayJack commented on #43301
True, and I got confused a bit, I got here from the link in the `Termination` trait and I was asking about that, is there a proper issue for `termination_trait_lib`?

[2020-11-03 08:31] RalfJung commented on #76930
That is curious, this change even works in Miri so there should be no UB...

Maybe this change exposed a bug in the LLVM AVR backend or so?

[2020-11-03 08:40] mati865 commented on #76930
As said in https://github.com/rust-lang/rust/issues/76930#issuecomment-696230526 it's crash inside LLVM.

[2020-11-03 08:44] RalfJung commented on #76930
Ah, that's what that comment meant, okay. :)

[2020-11-03 09:09] djc commented on #54726
It appears that this has been fixed, potentially via https://github.com/rust-lang/rust/pull/69838. See also https://github.com/rust-lang/rust/issues/78488.

[2020-11-03 09:11] djc commented on #78488
I ran into this with 1.34.0 (which is the MSRV for err-derive, which used to depend on semver-parser via rustc-version).

[2020-11-03 09:12] sanmai-NL commented on #34457
@Manishearth Who can I ping to update https://rustc-dev-guide.rust-lang.org/debugging-support-in-rustc.html based on your info?

[2020-11-03 09:18] #70732 closed

[2020-11-03 09:18] #78660 closed

[2020-11-03 09:22] bytechef opened #78698 "Using return value causes E0499"
I tried this code:

[code]

I expected to see this happen: the number `1` is printed

Instead, this happened:
[code]

If I rewrite it like so it will run fine:
[code]

### Meta
`rustc --version --verbose`:
[code]
(Exists in stable, beta and nightly)

[Playground demo](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7616e90ea411ae0fc6f7e72b760f379f)

[2020-11-03 09:25] Lonami commented on #78698
The problem is that `a.increment` borrows `a` mutably, so `a.zero` can't be called while that happens, not necessarily because you're using the return value. Splitting the above into assignement and then using the new bound variable as the argument will work.

[2020-11-03 09:28] bytechef commented on #78698
a.zero is called before a.increment, and will have finished execution by the time a.increment is called.
From my understanding there is no difference in behaviour between:
[code]
and
[code]
or the equivalent with function calls.

The compiler seems to think that the reference created by calling a.zero will still be active when a.increment is called, which it won't.

[2020-11-03 09:31] fee1-dead commented on #78698
https://rustc-dev-guide.rust-lang.org/borrow_check/two_phase_borrows.html

[2020-11-03 09:51] fee1-dead commented on #78698
Is this a duplicate of #43234?

[2020-11-03 10:02] bytechef commented on #78698
I’ll close this as #43234 tracks the same issue

[2020-11-03 10:02] #78698 closed

[2020-11-03 10:35] tmiasko commented on #78532
The originally reported panic is an overflow check and one of those that is not inherited cross-crate. To observe it the standard library must be built with overflow checks. It still an issue right now.

[2020-11-03 10:36] phimuemue commented on #64260
Just my 2ct: The `bool`-to-`Option` approach covers manyof my use cases, but often need a bit more than a simple `bool` to `option`:

[code]

I.e. I need the if-then-else logic even if the condition is not a plain bool. Thus, I usually employ the following macro:

[code]

This covers simple bools and `if let`-expressions, as well. I do not know if a macro-based approach has been discussed and disc

[2020-11-03 10:55] RalfJung commented on #78532
Ah, so this stopped to fail in Miri when we recently stopped building libstd with debug assertions.

[2020-11-03 11:16] sanmai-NL commented on #62543
@cuviper Would it be possible to also offer an `partition_unstable_in_place` that accepts the item type’s natural ordering (`Ord`), rather than a predicate?

[2020-11-03 11:22] drahnr opened #78700 "supertraits with Send, Sync, 'static bounds do not resolve in impls for `Box<dyn ..>`"
I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7e579f79329f28e5441b0291d22d60f9

[code]

I expected to see this happen: *explanation*

Work fine with just one `From<Box<dyn X>>` impl, since the traits are already included in the super trait.

Instead, this happened: *explanation*

Requirement to impl for multiple summed trait bounds.

### Meta

`rustc -

[2020-11-03 11:26] drahnr commented on #78700
CC @bkchr

[2020-11-03 11:31] Stargateur commented on #60896
why not just copy entry API ?

[2020-11-03 11:36] Nemo157 opened #78701 "rustdoc links to non-blanket impl for blanket impl in sidebar"
I tried this code:

[code]

I expected to see this happen: Two links in the sidebar of `AnotherStruct` to `AnAmazingTrait`, one under "Trait Implementations" going to the specific impl, another under "Blanket Implementations" going to the blanket impl.

Instead, this happened: Two links in the sidebar, but both link to the specific impl.

### Meta

[code]

@rustbot modify labels: +T-rustdoc

[2020-11-03 11:54] oli-obk commented on #65490
Status update: #69971 is fixed by #78638

So I think the next step (oce #78638 is merged) would be for someone to write a stabilization PR and to have the language team sign off on that PR

[2020-11-03 11:58] vn-ki commented on #78655
@rustbot claim

[2020-11-03 13:07] Manishearth commented on #34457
@sanmai-NL the rustc dev guide is a repo under the rust GitHub org, you can make PRs to it

[2020-11-03 13:18] SlugFiller commented on #58713
Since this issue is referencing my (old) example, I figure I should post a long-overdue correction to one of my statements, which is repeated here.

In my example, and related communication, I implied that the idata section is part of the PE format, and is the only thing necessary to define DLL imports. This is inaccurate. Windows itself does not, in fact, attribute any special meaning to the idat

[2020-11-03 13:23] kornelski opened #78703 "Suggest for<'a> syntax when lifetime bounds can't be satisfied"
When a function incorrectly specifies lifetime as an argument, but uses a reference borrowed inside the function body:

[code]

it would be helpful to suggest using the `for<'a>` syntax instead:

[code]

----

Context for the example ([the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=83e5d109a64cfa8a0377d7b920a892dc)):

[code]

[forum thread](https://users.r

[2020-11-03 13:29] tmiasko commented on #78239
For the record, an example code that was being miscompiled:

[code]

[2020-11-03 13:44] ehuss commented on #43301
This issue is still open to track the stabilization of `Termination`.

[2020-11-03 14:23] est31 commented on #58713
This makes me wonder: how does gollvm do it? Do they generate custom idata sections? They support linking with various linkers iirc.

[2020-11-03 14:37] danieleades commented on #60664
I feel like the title of this issue is slightly misleading. The behaviour is not simply unclear, it's totally broken.

[2020-11-03 14:42] GuillaumeGomez commented on #60664
@danieleades The situation should have been improved since then. Do you still have a good example of where it's totally broken so we can continue to improve the whole situation?

[2020-11-03 14:51] danieleades commented on #60664
yep.

steps to reproduce-

1. make a new crate with the following `lib.rs`

[code]

2. build with nightly compiler

`cargo +nightly build`

3. observe that there are no warnings

rust: 1.49.0-nightly

[2020-11-03 15:06] GuillaumeGomez commented on #60664
It works as expected for me:

[code]

[2020-11-03 15:12] danieleades commented on #60664
presumably that's because you didn't follow my reproduction steps.

Is it the intended behaviour that this lint only fire if you're building documentation with rustdoc? If so, that's inconsistent with all the other lints

[2020-11-03 15:15] GuillaumeGomez commented on #60664
It's only supposed to be triggered by rustdoc indeed (my bad, didn't see you didn't use the `doc` command). I don't see how it's inconsistent though? It's marked as such in the lint documentation.

[2020-11-03 15:27] danieleades commented on #60664
hmm i see after some digging that it's marked as 'rustdoc only' here - https://doc.rust-lang.org/beta/rustc/lints/listing/allowed-by-default.html#missing-doc-code-examples. Mea culpa.

Perhaps there are good historical or technical reasons why this is the case, but while i'm glad it's documented, simply describing the behaviour doesn't make it consistent.

this is inconsistent in the sense that ou

[2020-11-03 15:28] slerpyyy commented on #64260
One thing I would like to add:

The words `then` and `else` should only be used to indicate lazy evaluation.

This is a convention that goes back to SML and OCaml, which use the `if ... then ... else ...` syntax for conditionals. SML also uses the keywords `and`/`or` for eagerly evaluated logic and `andalso`/`orelse` for lazily evaluated logic. (I have no idea why it's not `andthen`). This pattern

[2020-11-03 15:59] GuillaumeGomez commented on #60664
You can see the list of the rustdoc lints there: https://github.com/rust-lang/rust/blob/0d033dee3eff6e30c15c4c51958e219134dcc7bc/compiler/rustc_lint/src/lib.rs#L314-L322

[2020-11-03 16:19] tmiasko commented on #77608
The issue also applies to implicit `const ()` at the end of block. Replacing it with an empty tuple aggregate in a MIR builder triggers a few extra optimizations in mir-opt test suite.

[2020-11-03 16:26] guswynn opened #78708 "Improve TupleStruct ctor privacy err diagnostic when working cross-crate"
currently
https://github.com/rust-lang/rust/pull/78401
and
https://github.com/rust-lang/rust/pull/76499

only work with types within the crate, as the struct_constructors only has full info for types within the current Crate being built
We can likely recover this info in the extern crate metadtata, but as reaching into this metadata is likely slow and complicated, this should only happen on the er

[2020-11-03 16:27] guswynn commented on #78708
@rustbot modify labels to +T-compiler, -T-lang

sorry!

[2020-11-03 16:42] ehuss commented on #78617
I'm unable to reproduce this, can you provide more details on exactly what changes were made?  Which version of `libc` were you pointing to?  Which commit of the rust repo are you on?

FWIW, modifying a single `Cargo.toml` to point to a local `path` dependency can cause problems and is not the best way to go about using a local copy.  Usually you want to specify a [patch](https://doc.rust-lang.org

[2020-11-03 16:45] bjorn3 commented on #78617
The same happens for ykrustc when using `[patch]`: https://github.com/softdevteam/ykrustc/compare/a8d6da3...c28cab6#diff-b46049dee2a9f04cac5ccc2e6820ecf7ef17d996c6f7258c85759cd48937b1f9R153

It is worked around by having `in_tree_crates` skip that specific crate: https://github.com/softdevteam/ykrustc/compare/a8d6da3...c28cab6#diff-2e9d962a08321605940b5a657135052fbcef87b5e360662bb527c96d9a615542R1

[2020-11-03 16:51] ehuss commented on #78617
@bjorn3 I can't see those links for some reason. GitHub is saying "There isn’t anything to compare. We couldn’t figure out how to compare these references, do they point to valid commits?"

For example, the following works for me on latest master (8e8939b8045b7af6076fb718e2e298844aaf4650):

[code]

[2020-11-03 16:53] bjorn3 commented on #78617
Github somehow removed the `#` from the urls. The correct urls are:

[code]

Try moving `libc-0.2.79` to the parent dir. Otherwise it is part of the rust workspace.

[2020-11-03 17:11] dan-fritchman commented on #78657
Sorry, that's my mistake, I pushed the "fixed" version.
Now including the working and failing versions on two branches:

* https://github.com/dan-fritchman/DwDemo/tree/fails - failing version
* https://github.com/dan-fritchman/DwDemo/tree/works - working version

`master` is also now even with `fails`, so pulling it should also get you the failing version.
Differences between the two (https://gith

[2020-11-03 17:24] kingparra commented on #66954
I'm not entirely sure what you mean by associated constants, but I'll try to clarify.

The change I'm proposing would lint on global constants only, as opposed to constants that are in a local scope. Currently clippy emits a non_uppercase_global warning for constants that are not global, such as constants declared within a function. It confuses the ideas of scope and constancy.

Does that answer y

[2020-11-03 17:57] ehuss commented on #78617
I see, I forgot that "path deps are workspace members" does not work if it is outside of the workspace root.

Regardless, it is still probably best in this particular case of `libc` to use a `[patch]`.

BTW, those links still don't seem to work.  I just see " This comparison is big! We’re only showing the most recent 250 commits", and a long list of commits.

I posted with a fix at #78709.

[2020-11-03 18:07] bjorn3 commented on #78617
Seems like github doesn't switch to the "files changed" tab automatically. Anyway here is a copy:

[code]

[code]

[2020-11-03 18:10] cuviper commented on #62543
@sanmai-NL partitioning is a binary decision on each individual item, which we can do in a linear sweep. Asking for `Ord` sounds like you want a full sort, which is quite a different algorithm.

[2020-11-03 18:14] devsnek commented on #18370
This appears to be a problem again. I'm seeing stuff like
[code]
in my output.

[2020-11-03 18:14] nikomatsakis commented on #78654
My hunch is that this code:

https://github.com/rust-lang/rust/blob/0cd1516696550e108863bf4b4fb81ce5c4f58968/compiler/rustc_typeck/src/check/closure.rs#L606-L612

needs to be generalized to also accept a [Error type](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/enum.TyKind.html#variant.Error). The function could just return `Some(err)` (or maybe `None`) in that case and I expect

[2020-11-03 18:15] nikomatsakis commented on #78654
I'm tagging this as E-mentor because of the above instructions ☝️ (feel free to also ping me on Zulip)

[2020-11-03 18:25] tmandry commented on #78649
[Discussed](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/meeting.202020.2E11.2E03/near/215491161) during the wg-async-foundations meeting.

It seems the difference in the examples _could be_ coming from the signature of `FutureExt::Boxed`...

[code]

...demanding `Self::Output`, the return type of the async block, but that's clearly just `()`.

More spelunking w

[2020-11-03 18:29] IsaacWoods commented on #78617
Thanks @ehuss and @bjorn3 for tracking this down. This was just with the latest `master`s of both repos at the time, specifically rust `2e8a54af60df63034e41359acfc923e5c5769a91 ` and libc `4c0a7e5b7ca949088a0ba17784fb043a22e4537e`. Maybe I didn't match the versions carefully enough or something, but building the patched `libstd` out-of-tree with `-Zbuild-std` does work correctly.

FWIW, I also tri

[2020-11-03 18:54] nikomatsakis commented on #78633
The errors are correct but confusing. In the `move` case, the `arena` variable is owned by the *closure* (well, generator), so you can't push it onto the vector that is owned by the creator stack frame, since the lifetime of the closure is not related to the lifetime of that vector. But in the non-move case, the `arena` variable remains owned by the other stack frame, so you can.

[2020-11-03 18:55] nikomatsakis commented on #78633
Er, I explained that slightly wrong. For the `move` case both `arena` and `track` are owned by the generator, but that still requires it to be self-referential (i.e., to put a reference to one field into the vector).

[2020-11-03 19:02] tmandry commented on #78633
This also isn't specific to async, we can see the same behavior with regular closures:

[code]

in this case uncommenting the commented line, or removing `move`, is enough to let the example compile. The error message in this case:

[code]

is different from the error message in the async case:

[code]

...and honestly, I think both of them could use some improvement. The async one actually seems

[2020-11-03 19:07] tmandry commented on #78633
As [discussed](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/meeting.202020.2E11.2E03/near/215496144) in the wg-async-foundations meeting, we _could_ support this in the async case at least, since async generators are allowed to be self-borrowing. But since we handle their captures the same as we handle closures, we don't support it today.

[2020-11-03 19:34] jhpratt commented on #66954
Yes, it does, thank you! I was asking about the following, which currently lints

[code]

[2020-11-03 20:46] cuviper commented on #60896
@Stargateur that's possible, but it would be a much larger API footprint to review, with a whole new `Entry` type for sets.

Previously, the standard `HashSet` directly wrapped `HashMap` and used the raw entry API of maps for these new methods. Now `HashSet` wraps `hashbrown::HashSet`, so extensive changes here will have to be implemented in `hashbrown` first.

[2020-11-03 20:47] DK26 opened #78713 "regression: `panic!` and RUST_BACKTRACE=1 Show Wrong & Non-Informative Function Names when Unwinding"
As I'm learning the language from a book ("_The Complete Rust Programming Reference Guide_" p. 229-230), and was executing the  `panic!` macro in a multi-thread environment, I've noticed the unwinding from the book is different from the one I've got where the one I've got is not informative or helpful, and seems wrong where the one in book seems to be OK.

### Code

I tried this code:

[code]

I e

[2020-11-03 20:56] GopherJ commented on #77968
As you can see from the below screenshot, `}` is missing in line 4, but it mess up all:)

![image](https://user-images.githubusercontent.com/33961674/98039568-2ea02a00-1e1f-11eb-8e75-560b6c063db1.png)

[2020-11-03 21:18] #78625 closed

[2020-11-03 21:18] #78571 closed

[2020-11-03 21:18] #78617 closed

[2020-11-03 22:47] Stargateur commented on #60896
I don't think technical detail such as this is a problem, hashbrown is suppose to help not to be a problem for rust std. In the end, I did `HashMap<T, ()>` that quite disappointing to end up doing that.

[2020-11-03 23:10] spdionis commented on #75833
This recommendation is not mentioned in the rustup install tool. If one just uses the recommended command for WSL in https://www.rust-lang.org/tools/install and chooses the `complete` option the install won't work.

[2020-11-03 23:23] anp commented on #31265
Hey! Yeah, I chose a very "get it out the door" approach for storing the data from benchmark runs that [I think will need to be redone as the first step in reviving the project](https://github.com/anp/lolbench/issues/68#issuecomment-721418950).

I'd like to revive it soon for a bunch of reasons, but a few in particular:

* I'm finding myself hyped by @eddyb's work on measureme: https://github.com/

[2020-11-03 23:52] Progdrasil commented on #57563
I've been trying to find a tracking issue for defining `const fn`s within traits.

say something like so
[code]

Or has this not yet been suggested within an rfc?

[2020-11-03 23:57] tarcieri commented on #57563
@Progdrasil check out [`impl const Trait`](https://github.com/oli-obk/rfcs/blob/const_generic_const_fn_bounds/text/0000-const-generic-const-fn-bounds.md)

[2020-11-04 00:13] saks commented on #44862
Same issue here, added a workspace setup to my project and got linking errors. Was using `dylib`.

[2020-11-04 00:17] Boscop commented on #64260
After thinking about this more, I now think that the names `some` and `some_with` make the most sense.
(I was kinda getting used to `then` and `then_some`, but I don't like that the one that takes the value has the longer name, it's inconsistent.)

And I really think we should also have a method that take a closure that returns an `Option` in the success case, like [`and_option_from`](https://docs

[2020-11-04 00:58] est31 commented on #74878
Re the test coverage point, there is a tracking issue now for it: #78433

[2020-11-04 01:57] jyn514 opened #78717 "x.py test --stage 0 src/tools/clippy does not work"
[code]

### Meta

3478d7c3607ffbba629af2265c01002771e48c18

[2020-11-04 01:57] jyn514 commented on #78717
The really strange thing here is that clippy is built _twice_:
[code]

[2020-11-04 02:07] jyn514 commented on #78717
This does work fine with `--stage 1`.

[2020-11-04 03:28] camelid opened #78719 "rustdoc: Only show the original item for re-exported items in search results"
Currently rustdoc will show all items that match the query string, even re-exported ones, which can be kind of frustrating when I get a bunch of results that are actually all the same thing:

![image](https://user-images.githubusercontent.com/37223377/98065927-75cff000-1e0a-11eb-932a-d9ce4f750f53.png)

I propose that instead we only index the original item, not any of the re-exports. I am **not**

[2020-11-04 03:32] camelid commented on #78656
So why *doesn't* the `if` expression return `()` here?

[2020-11-04 04:13] chengniansun opened #78720 "ICE: compiler/rustc_middle/src/ty/sty.rs:399:33: upvar_tys called before capture types are inferred"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

**NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)**

[2020-11-04 04:51] jeffs commented on #69882
Is there any suggested work-around for this?  It sure seems like the bottom type ought (by definition) to type-check as anything, but as a practical matter, is there any placeholder at all that can be used as a return value from an unimplemented function whose signature demand an impl trait?

[2020-11-04 05:02] jyn514 commented on #69882
@jeffs in the general case, no, because there could be no type that implements the trait: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=beb24c95bf6be2a8b48f6381c2b7ad6d

[2020-11-04 05:06] jyn514 commented on #78720
@chengniansun does this still panic after #78432 ? That only merged a couple days ago so you'll need to update your version of nightly.

[2020-11-04 05:13] jyn514 commented on #78720
Hmm I checked and it does, and it also panics before. So probably unrelated?

cc @arora-aman just in case

[2020-11-04 05:13] jyn514 commented on #78720
Note that this works fine on `+nightly-2020-06-22`.

[2020-11-04 05:18] jyn514 commented on #78719
The original is not usually the canonical one, though :/ consider [`std::collections::HashMap`](https://doc.rust-lang.org/std/collections/struct.HashMap.html#), which is actually defined in std::collections::hash::map::HashMap.

I've been wanting `#[canonical]` for a while now and I think this would fit, see https://discord.com/channels/442252698964721669/459149231702278154/771465736190558258 for

[2020-11-04 05:19] jyn514 commented on #78467
This is actually a duplicate of https://github.com/rust-lang/rust/issues/22083.

[2020-11-04 05:19] #78467 closed

[2020-11-04 05:20] chengniansun commented on #78720
Sorry, I accidentally closed the issue.

@jyn514 Yes, you are right. It still crashes on the latest nightly version. I have a cron job to update my rust version everyday.

[2020-11-04 05:21] arora-aman commented on #78720
I think we ended up (incorrectly) removing a check in https://github.com/rust-lang/rust/commit/a64ad51ff7ae2f82d4aed5bc4d3a7c3d3b7c7117#diff-98923b31651a0150fc5eae47f5ceb44f716b521762db4e37cf9292dac7b3e040.

We shouldn't be calling upvars_ty if tupled_upvars_ty is ty::Infer

[2020-11-04 05:22] jyn514 commented on #75413
Duplicate of https://github.com/rust-lang/rust/issues/24183

[2020-11-04 05:22] #75413 closed

[2020-11-04 05:22] arora-aman commented on #78720
@rustbot claim

[2020-11-04 05:26] jyn514 commented on #78719
@camelid why did you open a new issue instead of using https://github.com/rust-lang/rust/issues/15723? Is there something else going on?

[2020-11-04 05:31] camelid commented on #78719
My understanding was that this issue is a subset of what's talked about in #15723, and this way we have a way to track just this part of it. It looks like QuietMisdreavus commented about this at https://github.com/rust-lang/rust/issues/15723#issuecomment-435426599, but it was long enough that I hadn't fully read it before :)

[2020-11-04 05:33] jyn514 commented on #78719
I don't think there's anything in #15723 _not_ covered here. The things listed in the issue are just suggestions for fixing it, but after the discussion in the issue it looks like they won't be the way it ends up being fixed.

[2020-11-04 05:33] #78719 closed

[2020-11-04 06:01] jyn514 commented on #30885
I was not able to install 1.7.0 on FreeBSD, 1.8.0 gives a rustup error (https://github.com/rust-lang/rustup/issues/2547), and 1.9.0 doesn't give a SIGBUS, it panics instead. 1.47 builds the docs fine. I think it's unlikely this is still an issue - @andoriyu feel free to re-open if you're still having trouble.

[2020-11-04 06:01] #30885 closed

[2020-11-04 06:04] jyn514 commented on #30838
Triage: this would be pretty easily fixed by modifying the index page for doc.rust-lang.org: https://github.com/rust-lang/rust/blob/master/src/doc/index.md

[2020-11-04 06:12] jyn514 commented on #36250
Is this still relevant? It sounds like it was never a rustdoc bug in the first place, is that true?

[2020-11-04 06:14] jyn514 commented on #35183
Closing this in favor of https://github.com/rust-lang/cargo/issues/8296, rustdoc can't do this on its own.

[2020-11-04 06:14] #35183 closed

[2020-11-04 06:20] jyn514 commented on #32129
I think this was fixed in https://github.com/rust-lang/rust/pull/74485? Should this be closed?

[2020-11-04 06:26] jyn514 commented on #42301
Rustdoc does not have access to the version of the crate, only the crate name. 'versions' are a cargo concept and the rust compiler/rustdoc don't know about them.

I don't like rustdoc making network requests or having knowledge of cargo. You should be able to use rustdoc standalone, without internet access or a Cargo.toml.

With both of those things in mind, I think it makes more sense to delegat

[2020-11-04 06:34] jyn514 commented on #25996
Duplicate of https://github.com/rust-lang/rust/issues/39263

[2020-11-04 06:34] #25996 closed

[2020-11-04 06:36] jyn514 commented on #38755
I don't see what rustdoc can do about this. If the crate tries to use native dependencies that aren't available, then it will fail to build whether you run rustdoc or rustc.

Normally I'd transfer this to docs.rs, but since the latest version builds fine, I think it makes sense to just close this. Feel free to re-open if you're still having trouble.

[2020-11-04 06:36] #38755 closed

[2020-11-04 06:39] jyn514 commented on #43606
AFAIK rustdoc doesn't and never has used `-Z save-analysis`, so I'm going to remove the rustdoc label.

[2020-11-04 06:51] jyn514 commented on #53478
Duplicate of https://github.com/rust-lang/rust/issues/32088.

[2020-11-04 06:51] #53478 closed

[2020-11-04 06:53] jyn514 commented on #51315
Does this actually need to be stabilized? Even `#[no_core]` isn't stable and `doc(keyword)` is pretty useless unless you're `core`.

[2020-11-04 06:54] jyn514 commented on #51231
This works fine on current nightly, so I'm going to assume it's been fixed since last year. Feel free to re-open if you're still having trouble!

[2020-11-04 06:54] #51231 closed

[2020-11-04 06:56] jyn514 commented on #55482
Is the request for `core::assert!` to be accepted or for rustdoc to stop documenting `core::assert`? If the former, this should be tagged `T-libs` or `T-compiler`, not `T-rustdoc`.

[2020-11-04 06:58] jyn514 commented on #55420
In general, this is not stable. The CSS and HTML are intertwined, and changing the one changes the other. See https://github.com/rust-lang/docs.rs/issues/464 for a similar issue for docs.rs

[2020-11-04 06:59] jyn514 commented on #55201
@GuillaumeGomez can you confirm whether the summary above is correct?

[2020-11-04 07:03] jyn514 commented on #60577
IMO this doesn't really make sense to add to Rustdoc. The way I see this happening is by implementing the JSON backend (https://github.com/rust-lang/rfcs/pull/2963) and then someone in the community can then make a PDF renderer using the JSON.

[2020-11-04 07:05] jyn514 commented on #59167
Servo is now working fine. Is there anything left to fix here?

[2020-11-04 07:13] jyn514 commented on #71908
@rbtcollins what crate was giving you these errors? Can you put together a small-ish example/

[2020-11-04 08:06] DutchGhost commented on #68538
Also still with `unsized_locals`:
[code]

[2020-11-04 08:16] DutchGhost opened #78721 "ICE: impl trait in bindings can't type-check body of DefId"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-04 08:29] DutchGhost opened #78722 "ICE: type_alias_impl_trait + impl_trait_in_bindings 'called `Option::unwrap()` on a `None` value'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-04 09:08] #32088 closed

[2020-11-04 09:45] jyn514 opened #78723 "ENOSPC should not always be described as 'no space left on device'"
Context: https://github.com/notify-rs/notify/issues/266

`man inotify_add_watch` says:

[code]

The error the standard library gives for this is not very helpful for seeing what actually went wrong.

[2020-11-04 09:59] arora-aman opened #78724 "Broken links in rustdoc search results"
I searched for [`visit_with`](https://doc.rust-lang.org/stable/nightly-rustc/rustc_middle/ty/struct.Binder.html?search=visit_with) and when I select the first result [`rustc_middle::Ty::visit_with`](https://doc.rust-lang.org/stable/nightly-rustc/rustc_middle/type.Ty.html#method.visit_with) I get  the Not Found page.

I expected to see a page containing the method `visit_with`.

Note: not all links

[2020-11-04 10:17] apiraino commented on #78686
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378686.20Linking.20with.20LLD.20fails.20(on.20Windows).20but.E2.80.A6) and removing `I-prioritize`.

[2020-11-04 10:22] GuillaumeGomez commented on #51315
It could be very useful for proc-macros. :)

[2020-11-04 10:23] GuillaumeGomez commented on #55201
Yes, it seems to be correct. Thanks for the summary @liketechnik ! Please feel free to open the PR. :)

[2020-11-04 10:34] est31 commented on #78723
Looks more like a libc bug than a rust library one? From what I see the standard library calls `strerror_r`:

https://github.com/rust-lang/rust/blob/95b4a4f0eee935f9e0c80b0ceef34866bcb72ca3/library/std/src/sys/unix/os.rs#L114-L132

[2020-11-04 10:37] jyn514 commented on #51315
cc @danielhenrymantilla - do you know if this works/is useful for proc-macros?

[2020-11-04 10:42] mati865 commented on #78686
@rustbot modify labels: -O-x32 +O-x86

[2020-11-04 10:56] a1phyr opened #78729 "Tracking Issue for `#![feature(const_cell_into_inner)]`"
This is a tracking issue for `#![feature(const_cell_into_inner)]`.

Constantified functions are:
- `UnsafeCell::into_inner`
- `Cell::into_inner`
- `RefCell::into_inner`
- `OnceCell::into_inner`
- ~`Atomic*::into_inner`~ (done)

### Steps

- [x] Implementation (#78728, https://github.com/rust-lang/rust/pull/129382)
- [x] FCP
- [ ] Stabilization PR (#84087)
- [x] https://github.com/rust-lang/rust/pu

[2020-11-04 11:42] #36250 closed

[2020-11-04 12:41] RalfJung opened #78732 "Nightly 2020-11-04 is missing"
https://rust-lang.github.io/rustup-components-history/ and my `rustup update` both indicate that 2020-11-04, which should have been created this morning, is missing.

Cc @rust-lang/infra

[2020-11-04 12:56] sfackler commented on #78723
This is just an inherent limitation of libc and its limited number of error codes. If you wanted, you could use your own error type that has more specific messages for certain codes.

[2020-11-04 13:07] Dante-Broggi opened #78734 "unable to run `./x.py check`"
I tried this code:

[code]

I expected to see this happen:
Rust's compilation check complete successfully.

Instead, this happened:
[code]
### Meta

`git log | head`:
[code]

[2020-11-04 13:11] danielhenrymantilla commented on #51315
The fact that:

[code]

[already compiles fine](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=65d93c04e381c79de6818a3422b2295b) means that a proc-macro can be put instead of `#[cfg(any())]` and if it strips the `#[doc(keyword = …)]` from the emitted code, it will not get into trouble. So if proc-macros wanted to use `#[doc(keyword = …)]` as extra input to it (I personally

[2020-11-04 13:13] jonas-schievink commented on #78734
cc @bjorn3 (deleted branch?)

[2020-11-04 13:15] gparker42 commented on #78657
Couldn't reproduce using the updated DwDemo with Xcode 10.1 on Mojave. `xcode-select version 2373` appears to be Xcode 12; I'll try that next. (Maybe something in dsymutil has changed?)

[2020-11-04 13:18] bjorn3 commented on #78734
The branch still exists: https://github.com/bjorn3/rust-ar/tree/do_not_remove_cg_clif_ranlib

[2020-11-04 13:20] GuillaumeGomez commented on #51315
Exactly! Sorry, I should have precised my words. :)

[2020-11-04 13:26] est31 commented on #78723
A `inotify_add_watch` specific fix could be done around this place, inside the inotify crate: https://github.com/hannobraun/inotify/blob/f09e1bdbcbd479d3090257e47458a19be127e29f/src/inotify.rs#L200

E.g. call `raw_os_error` on it, check if it matches `ENOSPC`, if yes, return an error with a more suiting message.

But it's better to discuss that with the inotify maintainers I think.

[2020-11-04 13:36] pietroalbini commented on #78732
Should be fixed by https://github.com/rust-lang/promote-release/pull/28.

[2020-11-04 13:54] #78675 closed

[2020-11-04 13:57] gparker42 commented on #78657
Aha, here's something:

Xcode 10.1: no errors

Xcode 12.1: dsymutil crashes while compiling dwdemo. That crash leaves behind a malformed dwdemo.dSYM. Dan, I bet you'll see a bunch of dsymutil crashes in the Crash Reports section of Console.app.

rust version seems to have no effect: 1.46.0, 1.47.0, and a recent nightly all do the same thing.

There are at least two bugs here:
The first bug is the

[2020-11-04 13:58] spastorino commented on #78649
I don't think is important to prioritize this one given that the async wg is already on it.

[2020-11-04 13:59] matklad commented on #51405
I've published a yolo workaround for those who don't want to fire gdb: https://docs.rs/backtrace-on-stack-overflow/0.1.0/backtrace_on_stack_overflow/fn.enable.html

[2020-11-04 14:40] snorrwe opened #78737 "Rustc panic caused by invalid identifier in proc-macro"
### Brief

The panic is generated when I output a new struct in a proc macro that has an invalid identifier via the [Quote](https://docs.rs/quote/1.0.7/quote/) crate.
In this case the proc-macro will panic, and in turn rustc panics as well.

[I setup up a repository to reproduce the issue](https://github.com/snorrwe/rustc-crash).

I also set up GitHub Actions to test a couple variations [here](htt

[2020-11-04 14:41] hameerabbasi commented on #78654
@rustbot claim

[2020-11-04 14:52] luser commented on #73958
To speak to what we did in C/C++ for Firefox, we used [the `-fvisibility=hidden` compiler flag](https://gcc.gnu.org/onlinedocs/gcc-10.2.0/gcc/Code-Gen-Options.html#index-fvisibility) to default all symbols to hidden visibility, and then explicitly annotated public symbols with `__attribute__ ((visibility ("default")))`. We also implemented a system to generate wrappers for system headers whose dec

[2020-11-04 15:02] bjorn3 commented on #73958
I think this is basically what `#[rustc_std_internal_symbol]` does.

[2020-11-04 15:26] thomcc commented on #78120
I stand by what I said here — but at the same time I did just go through the (tedious) process of manually adding this to a crate that had very few `#[inline]` annotations in https://github.com/rusqlite/rusqlite/pull/834

[2020-11-04 15:26] gparker42 commented on #78657
Single-threaded dsymutil does not crash and seems to generate a valid dSYM file. This might be a clumsy workaround:
1. Run `cargo build --verbose`. This runs dsymutil which crashes.
2. Re-run the last rustc command with `-Z run-dsymutil=no`. This doesn't run dsymutil and saves the object files that dsymutil needs.
3. Run dsymutil manually with `dsymutil -j 1 /path/to/DwDemo/target/debug/dwdemo`. T

[2020-11-04 15:37] pietroalbini commented on #27694
We discussed this inside the infra team meeting, and we're going to start the technical work needed to ensure Rust packages are signed for Windows and macOS! Me and @Mark-Simulacrum are going to have a chat to think about an implementation plan soon.

Note that while we'll start the development work, actually turning it on in production will require the foundation to be up and running (to actually

[2020-11-04 15:38] jonas-schievink commented on #78120
I wonder if doing this plus MIR inlining might not end up *improving* compile times. This is only about small functions, after all.

[2020-11-04 15:53] dimpolo commented on #67364
It would be nice to have a `finish_non_exhaustive` method on `DebugTuple` for my [crate](https://docs.rs/partialdebug).

[2020-11-04 16:42] rust-highfive opened #78741 "`miri` no longer builds after rust-lang/rust#77227"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#77227, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @oli-obk, do you think you would have time to do the follow-up work?
If so, that would be great!

[2020-11-04 17:20] ehuss commented on #32129
Considering that all the String links seem to be fixed, I think it is good to close. It looks like there are plenty of other tracking issues for the last remaining broken links (like #63351 and #74481), so I think those are adequately tracked.  Thanks everyone for putting all the work into intra-doc-links!

[2020-11-04 17:20] #32129 closed

[2020-11-04 17:25] pietroalbini opened #78743 "Spurious failure trying to checkout the repository"
We're experiencing spurious failures trying to checkout repositories on GitHub Actions:

[code]

* https://github.com/rust-lang-ci/rust/runs/1354000264
* https://github.com/rust-lang-ci/rust/runs/1352438239
* https://github.com/rust-lang-ci/rust/runs/1353148003
* https://github.com/rust-lang-ci/rust/runs/1354742853
* https://github.com/rust-lang-ci/rust/runs/1355418041

cc @rust-lang/infra

[2020-11-04 17:34] pietroalbini commented on #78743
Contacted GitHub Support on this, I see no way for us to mitigate the problem on our end.

[2020-11-04 17:34] athei opened #78744 "Non existing function imported when compiling for wasm"
Whenever I try to compile  some specific code for `wasm32-unknown-unknown` with enabled `overflow-checks` and `lto` the compiler inserts a function import into the resulting wasm module that looks like this:

[code]

These are the complete contents of the `lib.rs`:

[code]

What seems to trigger the bug are the following conditions:
* The `--target` must be `wasm32-unknown-unknown`
* `overflow-che

[2020-11-04 17:41] shampoofactory opened #78745 "Inefficient bit mask codegen in combination with comparison operators."
Hi. All four test cases should compile to what is essentially a no operation. However the compiler does not omit the unnecessary case_1 and case_2 bit mask operations as it does with case_3 and case_4.

https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=5bc8761dc8bebe2fbf7797f47c4a2a26

[code]

Generated assembly:

[code]

[2020-11-04 17:42] pickfire commented on #63128
@XVilka Did you found any alternatives? Or even `cargo explain`?

[2020-11-04 17:46] pietroalbini commented on #78732
This is fixed for tomorrow's nightly.

[2020-11-04 17:46] #78732 closed

[2020-11-04 17:47] shampoofactory commented on #78745
Additional example, case_1 should compile as does case_2.

https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=0c412cd50128a2cca1539dd299192245

[code]

[code]

[2020-11-04 17:58] jyn514 commented on #78744
@athei AFAIK wasm doesn't support unwinding, I think you need `panic = abort` in Cargo.toml.

[2020-11-04 18:08] jyn514 commented on #78737
@snorrwe this is a panic from the proc-macro, not from the compiler (If it were a compiler panic, it would say 'internal compiler error'). It looks like you're intentionally generating an invalid identifier, so I don't know there's anything to fix here - at best, you could ask `proc_boi` to give error messages.

[2020-11-04 18:11] jyn514 commented on #78734
I can't reproduce this issue locally. @Dante-Broggi do you have anything in your `config.toml`?

[2020-11-04 18:14] snorrwe commented on #78737
Yes, the proc-macro is panicking, which is handled correctly on Linux. However on other platforms this leads to an internal panic. See [here](https://github.com/snorrwe/rustc-crash/runs/1353315892?check_suite_focus=true) for example.

[2020-11-04 18:16] jyn514 commented on #78737
Ah ok, I missed the rustc panic because it was hidden under 'backtrace'.

[2020-11-04 18:17] snorrwe commented on #78737
My bad.

[2020-11-04 18:43] jyn514 commented on #78724
The correct url is `rustc_middle/ty/type.Ty.html`, but the search page shows `rustc_middle/type.Ty.html#method.visit_with`. Not sure why.

[2020-11-04 18:45] jyn514 commented on #72243
@jhpratt I'm not 100% following - can you make an MCVE?

[2020-11-04 18:55] xfix opened #78747 "unused_parens false positive on braced macro calls"
I tried this code:

[code]

I expected to see this happen: No warning about unnecessary parens

Instead, this happened: A warning about unnecessary parens suggesting to remove parens. Attempting to actually follow the advice causes an error.

[code]

This can be worked around by using `x!().to_string` or `(x! {}).to_string()` instead, however this shouldn't be necessary as the original code is fin

[2020-11-04 19:06] gparker42 commented on #78657
So here's what's going on.

The generated `dwdemo.rs` file contains a large `struct Bsim4Model`. `Bsim4Model` has `derive(::prost::Message)`. Part of that derivation is a generated `fmt()` for `trait fmt::Debug`, similar to the one generated by `derive(Debug)`.

The `fmt()` function generated by `prost` declares almost 900 variables called `builder`, one for each field of `Bsim4Model`:
[code]
`fmt

[2020-11-04 19:17] steveklabnik commented on #57633
Triage: no change

[2020-11-04 19:49] gparker42 commented on #78657
Dan, can you file the bug report for `prost`? The patch for `prost-derive` might just be this. It compiles DwDemo and doesn't crash dsymutil, but I haven't tried to run the generated `fmt()`.

[code]

[2020-11-04 19:52] jyn514 commented on #62277
For contributors: when opening PRs, could you explain why these only need to be check-pass and not build-pass? It's easy enough to do a simple find/replace, the hard part is telling whether it _needs_ to be build-pass or not.

- If the test is a regression test from an issue, you could either
  + test with an old version of nightly to confirm that the error it fixes was present with only `cargo ch

[2020-11-04 20:01] pietroalbini commented on #78743
Another failure: https://github.com/rust-lang-ci/rust/runs/1354742853

[2020-11-04 20:01] athei commented on #78744
I have.
https://github.com/athei/mult-panic/blob/5ff5fd6a929581b11bea21150c28843407d6df6b/Cargo.toml#L15

That said, it appears that it is disabled automatically if the target spec disables unwinding.

[2020-11-04 20:24] ssomers opened #78749 "Vec::sort violates pointer provenance rules according to Miri"
I tried miri with -Zmiri-track-raw-pointers on this code:

[code]

I hoped to see everybody happy.

Instead, this happened (including -Zmiri-track-alloc-id=2016):
[code]

### Meta

- miri is from rustup's nightly 2020-11-02.
- lib is today's rust master 56293097f7f877f1350a6cd00f79d03132f16515 (and earlier)

[2020-11-04 20:25] derekdreery commented on #67364
Maybe its time to revisit the open question. I could implement this if there were consensus it's a good idea.

[2020-11-04 20:58] camelid commented on #78724
Seems like it might be a bug with type aliases.

[2020-11-04 21:14] jyn514 opened #78750 "Add color diffs to htmldocck.py"
Currently, test failures look like this:

[code]

This tells you what test went wrong, but not where. Why didn't the pattern match? No idea.

Instead, htmldocck could tell you exactly what went wrong:

![diff](https://user-images.githubusercontent.com/23638587/98168118-14fef100-1eb8-11eb-882b-f544fecfe199.png)

I hacked this together with some scripts, I'll see about turning it into something main

[2020-11-04 21:16] jyn514 commented on #78750
So I don't lose it, these are the hacky scripts:

[code]
where `diff-toolchain` is
[code]
and `tidy-rustdoc` is https://github.com/Nemo157/dotfiles/commit/0a3f39e1da90cff9d27a122d603a9da1cac8e2bb.

[2020-11-04 21:40] camelid commented on #78724
Note that the URL is wrong *and* the path is wrong. There's no such thing as `rustc_middle::Ty::visit_with` since it's not re-exported. So somewhere there's something awry with the path handling.

[2020-11-04 21:43] camelid commented on #78724
Note that the links to `Ty` in the trait implementations section on the `Ty` page are correct.

[2020-11-04 22:35] pwaller commented on #62031
I've reported one of the underlying issues against cargo here: https://github.com/rust-lang/cargo/issues/8830. I think there might be multiple underlying issues, one of which is that cargo doesn't seem to be safe when run concurrently. I haven't yet looked/raised one for that.

This underlying issue is that cargo is showing cached build output. If that output printed an error, but succeeded, cargo

[2020-11-04 22:47] jhpratt commented on #72243
@jyn514 I'm a bit busy currently, but [this chunk of code](https://github.com/time-rs/time/blob/v0.3/src/lib.rs#L282-L297) is where it's necessary.

[2020-11-04 23:06] GoldsteinE opened #78753 "println!() does not panic when STDOUT returns ENOSPC"
I tried this code:

[code]

running it as `cargo run > /dev/full` or equivalent.

I expected to see this happen: as STDOUT is now "full" and `write()` syscall returns ENOSPC, `println!()` should panic, as per documentation.

Instead, this happened: `println!()` silently did nothing. Process returned 0 exit code.

### Meta

Bug happens on stable, but is (probably) fixed on nightly
`rustc --version

[2020-11-04 23:12] pietroalbini commented on #78743
Another failure: https://github.com/rust-lang-ci/rust/runs/1354742853 (added it to the top issue too).

Enabled debug logging on `rust-lang-ci/rust` and opened https://github.com/rust-lang/rust/pull/78754 as recommended by GitHub Support. Once another build fails we'll probably be able to drill down more into the cause. There is also another report of the same issue available at https://github.com

[2020-11-04 23:24] GoldsteinE commented on #78753
Also, as a kinda-unrelated note checking for EBADF in stdio_raw methods (introduced in #26168) not only prevents `println!()` from panicking on closed fd, but also prevents user of `io::stdout()` methods from handling errors.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d125440454e0485ef8566428bc404624
IMO, this code should panic, as it explicitly panics on I/O error an

[2020-11-05 00:03] tmandry opened #78755 "Deduplicate code that finds the return type of a future"
I've noticed a lot of code being added to different parts of the compiler that all does the same thing.. gives you the return type of an async fn. This issue is to keep track of all those places and eventually deduplicate them.

[2020-11-05 00:48] jyn514 commented on #32130
I wrote this in [a commit message](https://github.com/rust-lang/rust/pull/77253/commits/406584621a4e2d3752b2444c5bed2218447f0bfe) no one will read, so pasting here for visibility:

BTreeMap wants to link to the docs in std::collections, which are very detailed, and not alloc::collections, which is almost empty. But alloc is a dependency of std, so it's not possible to link to it across crates (htt

[2020-11-05 00:49] m-ou-se commented on #44343
@rustbot claim

[2020-11-05 00:57] sfackler commented on #78753
I can confirm that it's fixed on nightly, though I'm not sure from looking at the code what was actually going wrong on 1.47.0.

[2020-11-05 01:03] eddyb commented on #44343
Not sure what I was thinking there, it should be much easier than that!

[code]

i.e. we build two `HList`s "in parallel", one with entirely constant metadata, and the other with the references to the runtime data, and then all of the type inference can come from the `where` clause on `fmt::Arguments::new`, with *zero* codegen cruft!

[2020-11-05 01:19] jyn514 commented on #78696
@petrochenkov how hard would it be to allow `$crate` in `resolve_str_path_error`? Rustdoc has both the original and current scope available, but right now it can only pass one or the other to resolve.

Using $crate would fix this issue and also some other hacks in rustdoc (see the PR above).

[2020-11-05 01:44] Dante-Broggi commented on #78734
The following was in my config.toml, but I removed the file, and still get the error:
[code]

[2020-11-05 02:56] camelid commented on #78096
Another instance of this:

[code]

[2020-11-05 04:24] tgnottingham commented on #78308
I think there's definitely recognition that rustc is a memory hog, based on discussions in the rust-lang Zulip. Some contributors, including myself, have to reduce the number of jobs when building rustc or else risk death by thrashing. I've just started looking into ways to reduce memory consumption, and I'm already seeing that there are potential reductions that I'm hopeful are realizable.

As fo

[2020-11-05 04:26] jyn514 commented on #72909
Duplicate of https://github.com/rust-lang/rust/issues/55791

[2020-11-05 04:26] #72909 closed

[2020-11-05 04:27] jyn514 commented on #72909
Rustdoc currently does not parse HTML at all. So I don't think parsing the HTML just to get the IDs is the best idea.

[2020-11-05 04:41] jyn514 commented on #60686
@nagisa do you still think this is a bug? I'm not sure what rustdoc could do differently here.

[2020-11-05 04:43] jyn514 commented on #59294
@gnzlbg the nursery page is currently a 404 unfortunately. Do you have some examples of intrinsics that aren't being documented?

[2020-11-05 04:46] jyn514 commented on #38287
There is `doc(cfg)` - would that meet your use case? https://github.com/rust-lang/rust/issues/43781

[2020-11-05 04:53] jyn514 commented on #70083
Documenting gluon 0.14.1 is now working with `rustdoc 1.47.0 (18bf6b4f0 2020-10-07)`, so I'm going to close this (I made sure to test that it failed with 1.43). Feel free to re-open if you're still having issues.

[2020-11-05 04:53] #70083 closed

[2020-11-05 05:12] jyn514 opened #78761 "Almost half the time rustdoc spends on `stm32h7xx-hal` is in intra-doc links"
[code]

`rustdoc --version`:
[code]

cc https://github.com/stm32-rs/stm32-rs/issues/3

[2020-11-05 05:13] jyn514 commented on #78761
`-Z self-profile`
[code]

[2020-11-05 05:28] jyn514 commented on #78761
Nearly 100% of that time is spent in `get_auto_trait_and_blanket_impls`.

![blanket-impls](https://user-images.githubusercontent.com/23638587/98201456-b2c8df00-1efd-11eb-940e-c833398c3d76.png)

Is this even required for intra-doc links? AFAIK this is only for `Send` and `Sync`, which don't have associated items.

[2020-11-05 05:32] jyn514 commented on #78761
... why is `InferCtxtInner::new` taking a quarter of the time?

[2020-11-05 05:56] lnicola commented on #77968
@GopherJ that's a `rust-analyzer` parser recovery issue, completely unrelated to this one.

[2020-11-05 06:22] jyn514 commented on #78761
I think this could be sped up quite a bit by only considering traits that have an associated item of the right name. Then rustdoc wouldn't have to go through the trait system at all, just look at it long enough to see it wouldn't work even if it did apply to the type.

[2020-11-05 06:23] jyn514 commented on #78761
Relevant code: https://github.com/rust-lang/rust/blob/b385598c9658fef4a143a770c21db38b7872c134/src/librustdoc/passes/collect_intra_doc_links.rs#L605
https://github.com/rust-lang/rust/blob/b385598c9658fef4a143a770c21db38b7872c134/src/librustdoc/clean/blanket_impl.rs#L23
We could change `get_blanket_impls` to take a `filter` parameter, that wouldn't be too invasive I think.

[2020-11-05 06:49] Havvy opened #78764 "Missing comma in 1-tuple type should suggest adding comma there, not removing comma in value"
Code:

[code]

Current Output:

[code]

Suggested Output:

[code]

[2020-11-05 08:22] camelid opened #78765 "rustdoc: Link to provided trait method sources"
Currently rustdoc links to only the trait's source code, but not its provided methods. It would be nice to link to provided methods as well.

[2020-11-05 08:41] petrochenkov commented on #78696
`resolve_str_path_error` should already support `$crate` internally, but rustdoc passing path as a string (without span) will mean that `$crate` will always resolve to the current crate. Resolve needs correct spans to perform resolution in cases like this.

[2020-11-05 09:42] jhpratt commented on #74913
Are there any outstanding issues with this feature gate? It has a trivial implementation that is unquestionably correct, and it seemed quite clear in the RFC that it was desired.

[2020-11-05 09:56] pksunkara commented on #67839
Would this issue also include the proposal of ordering from https://github.com/rust-lang/reference/issues/565#issuecomment-485269684? If I currently write,

[code]

As far as I observed: `foo` proc macro doesn't seem to get `derive` attribute because it looks like `derive` is expanded before it.

[2020-11-05 10:18] JohnTitor commented on #78665
Another instance: https://github.com/rust-lang-ci/rust/runs/1356979047

[2020-11-05 10:20] m-ou-se commented on #44343
I have a new implementation of `fmt::Arguments` that is only two pointers in size by using a new form of 'static metadata that contains both the string pieces and any formatting options (if any). (So it now fits in a register pair, which is really nice.) It also only requires one pointer on the stack per argument instead of two, as @eddyb apparently already suggested three years ago in this issue.

[2020-11-05 10:23] apiraino commented on #78747
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378747.20unused_parens.20false.20positive.20on.20braced.20.E2.80.A6) and removing `I-prioritize`.

[2020-11-05 11:10] ssomers commented on #78665
Not sure if this is useful: I always get the first error about DW_TAG_base_type on my Linux box (Linux debby 4.19.0-11-amd64 #1 SMP Debian 4.19.146-1 (2020-09-17) x86_64 GNU/Linux), just like others reported in #41193. For my purpose, the workaround was to `apt uninstall lldb`.

[2020-11-05 11:18] gparker42 opened #78770 "rustc silently ignores failures in dsymutil"
On macOS rustc runs dsymutil to generate debug info files. This invocation incorrectly ignores dsymutil's output and exit status. rustc thus succeeds even if dsymutil fails or crashes.

Example: in #78657, dsymutil crashed and left behind a corrupt .dSYM file. rustc nevertheless succeeded, thereby confusing the user after the debugger ignored that bad debug info.

[2020-11-05 11:20] gparker42 commented on #78770
rustc ignoring `process::Output.status`:
[code]

[2020-11-05 12:01] Kixunil commented on #74913
One significant issue I see is currently the implementation for `isize` returns `u64` instead of `usize`.

[Documentation of the function](https://doc.rust-lang.org/std/primitive.isize.html#method.unsigned_abs)
[Playground proof that the implementation matches the documentation](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e49f568a52ae3ba876a9fc87d0c36520)

[2020-11-05 12:23] thiolliere commented on #76874
update:
* I added another failing input.
* the second input is not failing anymore
* Also I tried to check if #76130 fix all of them, so I compiled with `channel=dev`, `extended=true` and `tools=["cargo"]` and then used `build/x86_64-unknown-linux-gnu/stage1-tools-bin/cargo` but the span are still wrong for all input (1 and 3). I guess there should be something wrong in my setup though as Aaron101

[2020-11-05 12:48] #78655 closed

[2020-11-05 12:48] #55201 closed

[2020-11-05 12:48] #78654 closed

[2020-11-05 13:38] gparker42 commented on #78657
rustc shouldn't ignore dsymutil failures: #78770
dsymutil should allow more deeply nested DIEs: https://bugs.llvm.org/show_bug.cgi?id=48029

[2020-11-05 14:17] nikomatsakis commented on #73394
Woohoo! I guess we need a stabilization PR now?

[2020-11-05 14:56] est31 commented on #78761
It probably also doesn't help that `for_each_relevant_impl` simplifies the type to an extent where all generic args are erased and then iterates on all trait implementations of it:

https://github.com/rust-lang/rust/blob/790d19cd259e9ec656c6e0bb1446e980115ba46f/compiler/rustc_middle/src/ty/trait_def.rs#L174

If you have gazillions of `impl Trait for F<A1> {} .... impl Trait for F<A10000>` then tha

[2020-11-05 15:01] pnkfelix commented on #76425
we've subsequently discussed this in a couple different T-compiler meetings. @nikomatsakis and @pnkfelix have decided that we're not going to do this. At least, not now

[2020-11-05 15:01] #76425 closed

[2020-11-05 15:16] est31 commented on #78761
I think the strategy similar to https://github.com/rust-lang/rust/pull/78317#issuecomment-716294026 would be helpful here too, but I guess the lower hanging fruit (trait impls) should be tried before.

[2020-11-05 15:53] ehuss commented on #78665
Copying the full log from a recent failure:

[code]

The `error: need to add support for DW_TAG_base_type` is normal, this happens on Linux, too (not sure why).

The error `can't find callable: breakpoint_callback` is also normal, this happens on Linux. The issue here is that the function isn't imported. The lldb script interpreter has a "session" dictionary, and functions need to be specifically

[2020-11-05 16:01] ghedo commented on #78341
I just made https://github.com/rust-lang/rust/pull/78775 which should hopefully be the last piece I think. Not sure if I did it right though, so please take a look.

[2020-11-05 16:02] RalfJung commented on #73394
:tada:

However, if we stabilize while https://github.com/rust-lang/rust/issues/74355 is unresolved, its docs will be rendered incorrectly.

[2020-11-05 16:13] #73146 closed

[2020-11-05 16:19] oli-obk commented on #72113
This has been fixed and either works (in case of the original example, the error is delayed until an actual use happens), or it errors (in case constants are involved)

[2020-11-05 16:19] #72113 closed

[2020-11-05 16:21] oli-obk commented on #70329
This is solved nowadays

[2020-11-05 16:21] #70329 closed

[2020-11-05 16:25] tavianator commented on #32976
@HadrienG2 do you have a reference to this paper?

[2020-11-05 16:26] oli-obk commented on #57445
I don't know how to improve the suggestion here, and this issue hasn't gotten any activity in over a year, so I'm closing it

[2020-11-05 16:26] #57445 closed

[2020-11-05 16:27] oli-obk commented on #56494
Without an MCVE we can't really attempt to debug this, so I'm closing this issue

[2020-11-05 16:27] #56494 closed

[2020-11-05 16:28] #54546 closed

[2020-11-05 16:35] ckaran commented on #50133
Anyone know how this is going?  I'm trying to clean up my code, and it isn't going well because of this bug.

[2020-11-05 16:41] crumblingstatue opened #78777 "rustdoc: Referencing methods on extern_types does not resolve"
I tried this code:

[code]

I expected to see this happen: Both `Foo::do_it` and `Bar::do_it` resolve.

Instead, this happened: Only `Bar::do_it` resolves.

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-11-05 16:49] seeplusplus commented on #78761
Discussed in Discord with @jyn514 , I'll be trying my hand at this one :rocket:
@rustbot claim

[2020-11-05 16:59] jyn514 opened #78778 "error_index_generator stage 0 tests don't work with download-ci-llvm: "error while loading shared libraries: libLLVM-11-rust-1.49.0-nightly.so""
[code]

[2020-11-05 16:59] jyn514 commented on #78778
I have `download-ci-llvm = "if-available"` in case that makes a difference.

[2020-11-05 17:19] #69971 closed

[2020-11-05 17:31] jyn514 commented on #78723
I don't think there's anything the standard library can do about this, notify is going to fix it on their end.

[2020-11-05 17:31] #78723 closed

[2020-11-05 17:41] jyn514 commented on #78696
Mentoring instructions: everywhere that currently calls `resolve_str_path_error` with `DUMMY_SP` needs to instead pass the span of the item. You can get the span from [`item.source`](https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/clean/types/struct.Item.html#structfield.source). `fn resolve` needs to be changed to take the span as a parameter:

https://github.com/rust-lang/rust/blob/b3855

[2020-11-05 17:51] steveklabnik commented on #78488
It appears this is actually my fault: https://github.com/steveklabnik/semver-parser/issues/52#issuecomment-719419614

sorry about the noise.

[2020-11-05 17:51] #78488 closed

[2020-11-05 18:02] HadrienG2 commented on #32976
@tavianator There you go : http://plv.mpi-sws.org/scfix/paper.pdf .

[2020-11-05 18:08] wucke13 commented on #50133
@ckaran Technically, this is not really a bug, more an ugly wart in the API. Unfortunately I do not expect this to be addressed any time soon.
Basically: To make anything which is `Into<U>` be usable in an interface which takes an `TryInto<U>`, a blanket implementation has been made. This blanket implementation now blocks of other Blanket implementations for `TryInto<U>` no matter what `U` is, as

[2020-11-05 19:24] ckaran commented on #50133
Will specialization make the wart go away?  Serious question, I know of specialization, but don't know how it works, or if it would fix this issue.

[2020-11-05 19:33] jyn514 commented on #78777
Mentoring instructions: in https://github.com/rust-lang/rust/blob/b385598c9658fef4a143a770c21db38b7872c134/src/librustdoc/passes/collect_intra_doc_links.rs#L436
instead of checking specific [`DefKind`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/def/enum.DefKind.html)s one at a time, look to see if they're in the [`TypeNS`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/de

[2020-11-05 19:37] jyn514 commented on #78765
Duplicate of https://github.com/rust-lang/rust/issues/45150

[2020-11-05 19:37] #78765 closed

[2020-11-05 19:38] jyn514 commented on #45150
Since it's been a few years, I think we can safely assume this issue is unclaimed.

[2020-11-05 19:40] joshtriplett commented on #72016
@sfackler

I would like that as well. It's especially useful with argument names in long assembly blocks, though once that's allowed positions should be allowed too. It also makes refactoring easier: since you don't repeat the register name, you can just change the register in one place.

[2020-11-05 19:45] spastorino commented on #41078
This issue [was discussed during today's compiler team meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-11-05.20.2354818/near/215728876)

[2020-11-05 19:53] joshtriplett commented on #77586
@nikomatsakis Interesting. That *does* seem like it should be rejected (specifically, at the point of `use bar::bar`), and it's unfortunate we didn't do so from the start. But I'd be hesitant to cause widespread breakage.

Our current error messages seem painfully confusing; "ambiguity" isn't the issue here, that does indeed feel wrong because of causality. Ideally we'd give a clear error about a

[2020-11-05 21:32] jyn514 opened #78786 "Rustdoc should never silence lints from the `rustdoc` lint group"
I think the right fix here is to never silence lints from the `rustdoc` lint group, then there wouldn't be so many places to add new lints.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/78114#issuecomment-722542923_

[2020-11-05 21:48] mk12 opened #78787 "Typo in error message: explicitely"
This error message is spelled incorrectly:

https://github.com/rust-lang/rust/blob/5ded394553296d56bb66e925d7001ab3271979ce/compiler/rustc_typeck/src/check/pat.rs#L1503

It should be _explicitly_, not _explicitEly_.

[2020-11-05 21:48] jhpratt commented on #74913
Hmm…the behavior [is different](https://github.com/rust-lang/rust/blob/master/library/core/src/num/mod.rs#L130-L155) for different widths (16, 32, or 64). However, usize and u16/32/64 are _not_ the same type. I'll make a modification locally and open a PR shortly.

[2020-11-05 22:17] jeekobu opened #78789 "Incorrect hints for E0401"
Errors for [E0401](https://doc.rust-lang.org/stable/error-index.html#E0401) supply incorrect or otherwise lacking hints in many cases.  Some examples follow.  All exploration was done via the playground stable channel v1.47.0.

#### Example 1
[Inner `fn`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c1b0186c0449e04d76934c254654524d)
[code]
Result:
[code]

The angle brack

[2020-11-05 22:49] jyn514 commented on #18370
That looks like it's specific to files generated by build scripts, I haven't seen it for most pages.

[2020-11-05 23:29] brunowonka commented on #75957
Finally got around to testing with a version of rustc including #73905. Confirming all works much better now. Closing this issue.

[2020-11-05 23:29] #75957 closed

[2020-11-05 23:32] cuviper opened #78791 "target_env should not include ABI information"
There are a few tier-3 targets that have ABI descriptors in their `target_env`.

[code]

The precedent from other targets is that these should be just "gnu" or an empty string. This came up in the RFC for `target_abi`, https://github.com/rust-lang/rfcs/pull/2992#issuecomment-718099185, where I'd expect these targets will have `target_abi: "eabihf"`.

[2020-11-06 02:08] jyn514 commented on #53143
Rustdoc can't fix this on its end, cargo doesn't pass it the number of jobs:

[code]

Maybe cargo should pass through `--jobs` as `--test-threads`? But that's a cargo issue.

[2020-11-06 02:09] jyn514 commented on #49514
I don't see much point in compiling these. The tradeoff "you occasionally discover bugs in the compiler and can't run your tests" doesn't seem worth "your tests _always_ take longer to run".

[2020-11-06 02:28] RDambrosio016 opened #78796 "Rustdoc keeps around documentation for crates that have been renamed or deleted"
I am working on a decently sized workspace, and i used to have a crate, i have since deleted it, but its documentation stays around because rustdoc does not seem to delete the folders in `target/doc` if the actual crate has been deleted. Rustdoc should check if a dependency/crate actually exists before using its cache in the documentation process and delete it if it isn't.

### Meta

`rustc --vers

[2020-11-06 02:30] jyn514 commented on #78796
I don't think the workspace is related, you'd have the same issue if you renamed the crate.

[2020-11-06 02:31] RDambrosio016 commented on #78796
Yup, can confirm thats the case, it works with renaming too

[2020-11-06 03:04] mark-i-m commented on #40180
Just came across the following from a conference paper, and thought I would quote here as a data point:

(section 4.1 of https://www.usenix.org/system/files/osdi20-narayanan_vikram.pdf)

[2020-11-06 04:01] ankushduacodes commented on #78787
@jonas-schievink I have just made a pull request for this issue.

[2020-11-06 04:19] RDambrosio016 opened #78799 "Rustdoc should show the name of an item on a separate line before its description on small screens"
Sometimes, on small screens, reading rustdoc documentation feels like solving a crossword puzzle:

![oh no word wrap please](https://imgur.com/waZuaR9.png)

It would be great if instead of doing this, rustdoc would just place the name on the line before and then the description as such:

<code>function_name</code>
Description here

[2020-11-06 04:33] arj101 commented on #78799
This can be reproduced in Chrome dev tools too.
![Uploading 20201106_09h57m55s_grim.png…]()

[2020-11-06 04:35] arj101 commented on #78799
This can be reproduces in Chrome dev tools too.
![Uploading 20201106_09h57m55s_grim.png…]()