[2019-05-20 14:47] ExpHP opened #60977 "Double drop in Vec::drain_filter"
The following playground originally posted by @rustonaut still demonstrates a double drop in `Vec::drain_filter`.  This is unsound.

https://play.rust-lang.org/?gist=be84e0e74bc2eb86d81a7ad90e612ace&version=nightly&mode=debug

Originating comment: https://github.com/rust-lang/rust/issues/43244#issuecomment-396684841

[2019-05-20 14:48] ExpHP commented on #43244
Created #60977 for the soundness issue

[2019-05-20 14:53] Pzixel opened #60978 "Implement IzZero for zeroable default types"
As discussed in #54628 there are some critical optimizations based on fact that type default value can be represented with `mem::zeroed()`, such as [this vec allocation code](https://github.com/rust-lang/rust/blob/372be4f360ce42b1a10126a711189796f8440ab4/src/liballoc/vec.rs#L1579).

[There is a trait](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/windows/mod.rs#L210) describing this

[2019-05-20 14:55] jonas-schievink commented on #60978
That trait is only used by internal Windows things. It probably does not have the semantics you're looking for.

[2019-05-20 14:56] jonas-schievink commented on #60978
Ah, did you mean to link this trait instead? https://github.com/rust-lang/rust/blob/372be4f360ce42b1a10126a711189796f8440ab4/src/liballoc/vec.rs#L1594-L1597

[2019-05-20 15:01] Pzixel commented on #60978
@jonas-schievink yes, I linked the wrong trait, fixed. Thanks.

[2019-05-20 15:13] flip1995 opened #60979 "Sometimes `DiagnosticBuilder::span_suggestion` doesn't print the suggestion"
In Clippy we have a convenience function for `DiagnosticBuilder::span_suggestion`: https://github.com/rust-lang/rust-clippy/blob/fd563810158425c20f27768da4ef54c54230bbbf/clippy_lints/src/utils/diagnostics.rs#L169-L177

Until now we had 3 cases where the suggestion wasn't emitted: rust-lang/rust-clippy#4119, https://github.com/rust-lang/rust-clippy/pull/3582#discussion_r246656947, rust-lang/rust-cl

[2019-05-20 15:53] rustonaut commented on #43244
Thanks, I feel stupid for reading double drop as double panic :man_facepalming: .

[2019-05-20 16:00] alexreg commented on #41517
@Centril FYI added an unresolved question for the matter of maybe bounds in trait objects.

[2019-05-20 16:00] estk commented on #53667
@Centril I'm really jazzed about this feature, lmk if there is any work I can help with.

[2019-05-20 16:06] ExpHP commented on #43244
consider someone _using_ drain_filter in a drop function.

This to me is still not a big deal.

If somebody uses `drain_filter` in a Drop impl with a condition that can panic, the problem isn't that they chose to use `drain_filter`; the problem is that their Drop impl contains code that can panic!  Likewise it doesn't matter whether a method uses `drain_filter` internally; what matters is whether

[2019-05-20 16:10] ExpHP commented on #43244
Sorry, I think I responded too early.  I think I see what you mean now.  I'll mull this over a bit more.

[2019-05-20 16:13] gnzlbg commented on #58794
So what's the timeline for this?

Iff the 12 weeks started April 04, we have ~5 weeks left. There is an RFC, but iff FCP will take 2-3 weeks, then this RFC will need to go into FCP by the end of next week. The timeline will still be tight if the solution needs to be implemented, minimally tested by the stakeholders on nightly, and go into FCP for stabilization (which will also take ~2 weeks).

[2019-05-20 16:19] ExpHP commented on #43244
Alright, so your argument is that code inside a `drop` impl that uses `drain_filter` may mysteriously break if happens to run during unwind.  (this isn't about `drain_filter` panicking, but about *other* code panicking which causes `drain_filter` to run):

[code]
This drop impl would suddenly misbehave during unwind.

This is indeed a compelling argument against having DrainFilter naively detect i

[2019-05-20 16:42] phra commented on #15179
is this tracked somewhere now?

[2019-05-20 17:10] cramertj commented on #60846
@matklad also thinks this might have caused this failure in rust-analyzer: https://github.com/rust-analyzer/rust-analyzer/issues/1283

[2019-05-20 17:27] petrochenkov commented on #60936
A bit on representing tokens produced by lexer losslessly (TLDR: I think literals do it right).

Tokens need to contain their kind and data - ``{ kind: StrLiteral, data: `"foo"` }`` (quotes in the data).
The kind needs to be readily available because parser uses it all the time.
So it makes sense to remove the kind bits from the data, so there's no duplication and they cannot get inconsistent by d

[2019-05-20 17:39] alexcrichton opened #60980 "Misleading diagnostic span using trait projections in arguments"
I came across an interesting case today where the span for a diagnostic isn't quite leading to the best location. [When compiling the example code below](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0ff311e699df06307e1256eea2508119)

[code]

you get:

[code]

but it's sort of misleading because neither `A` nor `IntoWasmAbi` is mentioned in the highlight. It'd be ideal if

[2019-05-20 17:47] estebank commented on #60979
@flip1995 does the suggestion appear in the json output? The only situation where we hide suggestions implicitly is when `span == DUMMY_SP`. There's suggestion hiding logic, but it is gated behind the API in a backwards compatible way.

[2019-05-20 18:03] tarcieri commented on #58599
@RalfJung interesting (and also lengthy!). I'll have to read through it later.

Discrepancies between volatile and atomic aside, there's still no stable API for volatile memset either (only the unstable `core::intrinsics::volatile_set_memory`). It'd be nice if there were something along the lines of `core::ptr::set_volatile` which provides a stable wrapper around this intrinsic.

[2019-05-20 18:19] Manishearth commented on #56254
Nightly miri now passes all of the `elsa` tests except for `sync.rs` (which uses threads, which miri doesn't like because of the dynamic loading)

[2019-05-20 20:30] davidtwco commented on #60923
I've confirmed locally that this is fixed by #60742.

[2019-05-20 21:09] est31 commented on #60923
I wonder whether PR #60742 needs an additional test case or whether one could just close this bug after the PR.

[2019-05-20 21:14] Centril commented on #53667
@estk :) The work is pretty non-parallelizable at the moment; However, once https://github.com/rust-lang/rust/pull/60861 lands you may want to take a look at https://github.com/rust-lang/rust/issues/60336.

[2019-05-20 21:17] Centril commented on #60927
Assigning myself as a reminder re. blog post (but not for anything else).

[2019-05-20 21:21] Centril commented on #59489
Since there are only 3 checkboxes remaining and I've tried to reach those involved on many occasions I'm going to take the liberty to tick one of them so that we can move on...

[2019-05-20 21:22] Centril commented on #59489
@rfcbot reviewed

[2019-05-20 22:04] alexcrichton opened #60987 "Tracking issue for unstable `--json-rendered` flag"
This issue is intended to be a tracking issue for the `--json-rendered` flag implemented in https://github.com/rust-lang/rust/pull/59128. The `--json-rendered` flag can either take `plain` or `termcolor`, and affects whether ANSI color codes are embedded into the `rendered` field of JSON diagnostics.

Known issues with this:

* [ ] flag not supported in rustdoc yet

Future features:

* [ ] Html ou

[2019-05-20 22:04] varkor commented on #60923
@davidtwco: thanks for checking that out!

I've added the two test cases here to https://github.com/rust-lang/rust/pull/60742.

[2019-05-20 22:07] alexcrichton opened #60988 "Tracking issue for stabilizing "pipelined compilation""
This issue is intended to be an overall tracking issue for stabilizing the recently implemented feature of "pipelined compilation". This tracking issue spans both Cargo and rustc, as support currently lives in both. It also builds on top of a number of other tracking issues, since they're unstable features used to implement pipelined compilation!

For a bit of background, pipelined compilation has

[2019-05-20 22:07] alexcrichton commented on #58465
Since this issue as listed is done, I'm going to close this in favor of a new tracking issue for stabilization - https://github.com/rust-lang/rust/issues/60988

[2019-05-20 22:07] #58465 closed

[2019-05-20 22:22] cramertj opened #60989 "ICE with incorrect turbofish"
[code]
gives
[code]

[2019-05-20 22:57] joshtriplett commented on #58794
Once we have a proposal in the works and accepted, I think it'd be
reasonable to tie the re-enabling of abort-on-unwind-through-FFI to the
availability and use of this feature, so that they become stable at the
same time.

[2019-05-21 00:25] #60282 closed

[2019-05-21 00:33] #60381 closed

[2019-05-21 00:33] #52609 closed

[2019-05-21 00:33] #60480 closed

[2019-05-21 00:34] #47976 closed

[2019-05-21 00:56] estebank commented on #60989
Prior output:

[code]

[2019-05-21 01:08] Centril commented on #60988
Reading the various issues and PRs, I got the impression that metadata is generated at earliest post static analysis, is that correct?

[2019-05-21 01:11] Centril commented on #60989
Possibly related to const generics? cc @varkor

With backtrace:

[code]

[2019-05-21 01:14] dbeckwith opened #60993 "False positive for explicit_outlives_requirements lint"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=26ea04280c65fc3bdb943a18af422b88))

Errors:

[code]

Maybe I'm missing something, but this lint error makes no sense in this context, as there are no outlives bounds written.

Curiously, `struct Test<'a, T: ?Sized>(&'a T);` compiles without error.

[2019-05-21 01:39] nnethercote commented on #60988
Yes: metadata is now generated right at the start of code generation, immediately after all the checking (typeck, borrowck, etc.) finish. This is the best place for the initial pipelining implementation.

One might argue that metadata generation should be moved earlier. That would help with successful builds, but slow down builds that trigger compile errors. Given that a lot of Rust compiler invoc

[2019-05-21 01:52] Centril commented on #60988
No no... ;) At the start of code-gen sounds good to me and we should be cautious with moving it too much earlier as that can mess with language design.

[2019-05-21 02:08] rickvanprim commented on #46070
Sorry for the slow response.  Just tested now and issue no longer reproduces!

[2019-05-21 02:08] #46070 closed

[2019-05-21 02:25] rickvanprim opened #60994 "Equality Comparison of u128 produces less ideal assembly"
Compiled on Stable with Release target.

[code]
Produces:
[code]

It seems like all three methods should produce the same ASM.

[2019-05-21 05:07] kentfredric opened #60996 "feature external_doc reports wrong test origins in doc tests"
Using `doc(include = .... )` allows `cargo test --doc` to compile and test <code>```</code> fenced sections in the markdown.

However, the reported origins for these tests becomes completely confusing, as the line numbers appear to correlate to where you might *expect* to see the content, if the content was naively inlined.

[code]

However, literally *none* of the files mentioned have rustdoc cod

[2019-05-21 05:17] kentfredric opened #60997 "feature external_doc not traversed by rustfmt"
When using the nightly external doc feature #44732 , `rustfmt` ceases to be able to tidy code blocks in the documentation.

As a test, I put a documentation code block that was previously in a `.rs` file into an `include=`'d `.md` file, intentionally made it a mess, and observed that `rustfmt` no longer made it look readable:

<pre>
[code]
</pre>

And rustfmt did not indicate any attempts to forma

[2019-05-21 06:41] hellow554 commented on #60978
Is `Option::None` really always `0`? I doubt that, nor have I examples for that :)

[2019-05-21 06:51] sinkuu commented on #60978
cc https://github.com/rust-lang/rust/pull/58628#issuecomment-466343474

[2019-05-21 06:54] hellow554 commented on #60994
The last one is cheated, because the types are different ;)

I think I'm missing something here, because I don't see how a `u128` can fit into a 64-bit width register (`rcx`, `rdx`, ...). Are you triggering some undefined behavoir here? 🤔

[2019-05-21 07:06] rickvanprim commented on #60994
I'm definitely not an expert on this, but my understanding is that the 128-bit integers are being passed in as 2 64-bit registers each.  As such, all 3 functions should be performing equivalent work, so I think all 3 (with optimizations on) should be producing the same instructions, unless the SIMD version is somehow more optimal.  At a glance it seems like both more work and more instructions tho

[2019-05-21 07:13] hellow554 commented on #60994
Don't listen to me, it's way too early. Time for a tea. :)

[2019-05-21 07:41] nikic commented on #60994
Kind of surprised nobody noticed this bad codegen before...

llc trunk: https://godbolt.org/z/9FqY3w

[2019-05-21 07:56] hellow554 commented on #60989
Regression in 2c8bbf50db0ef90a33f986ba8fc2e1fe129197ff

[2019-05-21 08:17] RalfJung commented on #53491
The stabilization PR landed. :)  It's been around 8 months since I started looking into the situation around unions and uninitialized memory, and finally we have something that will (most likely) be shipped in 6 weeks.  What a journey! Thanks a ton to everyone who helped with that. :D

Of course, we're far from done. There's https://github.com/rust-lang/rfcs/pull/2582 to be resolved. libstd still

[2019-05-21 08:20] Centril commented on #53491
@RalfJung To that end; maybe now's the time to start working on https://github.com/rust-lang/rust/issues/49147? =P

[2019-05-21 08:22] Centril commented on #53491
Also, we should probably split and close this tracking issue in favor of smaller ones for the remaining bits.

[2019-05-21 08:26] hellow554 commented on #60994
Seems to be a regression between llvm 4.0.1 and llvm 5.

LLVM-4.0.1:
[code]

LLVM-5.0
[code]

[2019-05-21 08:28] pnkfelix commented on #60654
I'm not sure why we would nominate this for discussion. Yes, it is an ICE (and an ICE that occurs without the user adding a feature gate), but the message pretty clearly states that you're using an unstable feature.

It would be great to fix it so that it issues the error diagnostic without ICEing, but I wouldn't re-prioritize that work above P-high.

[2019-05-21 08:28] Centril commented on #49147
cc @pnkfelix, @eddyb, @oli-obk, and possibly more people: Should we call this unblocked now and start on an implementation? I think it would be good to avoid too much pressure to stabilize `uninitialized_array!` and do the principled fix (this feature). :)

[2019-05-21 08:38] BO41 opened #61000 "Deprecate try! macro in favor of ?"
I propose to mark the [`try!`](https://doc.rust-lang.org/nightly/std/macro.try.html) macro as deprecated.

---

Reasons for it:
- `?` was [stabilized in 1.13](https://blog.rust-lang.org/2016/11/10/Rust-1.13.html#the--operator), November 2016. **2+years** ago
- there is an [interest](https://github.com/rust-lang/rust-clippy/issues/1361) in having a lint for replacing `try!` with `?` for  **2+years*

[2019-05-21 08:52] RalfJung commented on #53491
Did you just volunteer? ;) (I'm afraid I won't have time for that.)

I'll leave that to the process experts. But I tend to agree.

[2019-05-21 09:00] Centril commented on #53491
What have I done... =D -- I already have a project I'm working on so it will probably take some time. Maybe someone else is interested? (if so, hop into the tracking issue)

That would be me... ;) I'll try to split and close it soon-ish.

[2019-05-21 09:33] petrochenkov opened #61001 "Doc comments can be passed to macros as literals"
Doc comments are the only tokens that cannot be passed to macros precisely, they are converted into a `#[doc = "text"]` form instead, which is a pretty big hack.
This conversion may change escaping in the text irrecoverably and can also change semantics in corner cases (e.g. `doc` starts going through name resolution).

Lexically doc comments are raw string literals with weird quotes (`/**` + `*/`

[2019-05-21 09:40] dhardy commented on #51860
In addition to the above:

- what bounds are required by the trait (super-traits)

I *very* often find I need information from the declaration (arguably it is the most important part of documentation for traits), so hiding it by default appears a strange choice to me (at least the doc settings appear to be working for now).

[2019-05-21 09:49] flip1995 commented on #60979
Minimal example:

[code]

Output:
[code]

<details>
<summary> json output </summary>

With suggestion
[code]

Without suggestion (`print!` macro)
[code]
</details>

On the non-expanded code with the `&str` literal the suggestion is emitted. But when the code comes from an expansion (macro or desugaring), the suggestion is not emitted.

In the Clippy convenience functions the `span` for `struct_spa

[2019-05-21 09:53] michaelwoerister opened #61002 "LLVM does not support PGO on Windows with -Cpanic=unwind"
LLVM's "IR-level" instrumentation, which is used by `rustc` to generate PGO instrumented binaries, does not yet work with exception handling on Windows MSVC. The problem has been reported to LLVM for C++ here: https://bugs.llvm.org/show_bug.cgi?id=41279

This also affects Rust programs built with `-Cpanic=unwind` for Windows MSVC. As long as LLVM does not support exception handling there, it is a

[2019-05-21 10:02] Centril commented on #61000
I did some investigation on the playground and it seems that the reason `r#try!` isn't deprecated yet is because `macro_rules!` cannot be deprecated at all. cc @petrochenkov

[2019-05-21 10:08] michaelwoerister commented on #61002
PGO does not yet work on `windows-gnu` for other reasons (see https://github.com/rust-lang/rust/issues/61002). Once it does, we should check if this problem is specific to MSVC.

[2019-05-21 10:20] Centril commented on #61001
How does this plan account for e.g.

[code]

This idiom is used in various places today, including in the compiler, and presumably must continue to work.

Having read the issue, I'm not fully sure what is proposed... Do you just want to make `/// Foobar` be accepted by the `literal` matcher?

cc @dtolnay

[2019-05-21 10:35] mati865 commented on #61002
I have working x86_64 windows-gnu (64 bit builds use SEH) build with PGO I'll open PR once https://github.com/rust-lang/rust/pull/60981 is merged.
I can do testing in meantime.

FWIW simple hello world example works fine after going through PGO.

[2019-05-21 10:41] BO41 commented on #61000
Thanks for the response @Centril .
Seems like this is true.

I thought you could deprecate any struct/function/etc :grimacing:

[2019-05-21 10:42] petrochenkov commented on #61000
The issue is https://github.com/rust-lang/rust/issues/49912, someone (not me) needs to do the work.

[2019-05-21 10:47] petrochenkov commented on #61001
@Centril

This still needs to work, similarly how `"foo"` still matches `expr` after introduction of `literal`.

Yes, I updated the issue with an example.

[2019-05-21 10:54] BO41 commented on #61000
So I assume clippy can't check this either, or am I wrong?

Otherwise we could make a general clippy lint for `#[deprecated]` on macros
(which would solve #49912 as well).

[2019-05-21 10:56] nagisa commented on #60994
I was going to say that perhaps the `xmm` version has better timing characteristics still, but it does not, even on architectures where `movq`s are free.

[2019-05-21 10:57] petrochenkov commented on #61000
It can work at any point if name resolution results are available.
Stability checking is already implemented for macros and deprecation checking can be done by analogy.

[2019-05-21 10:58] Centril commented on #61001
So assuming nothing breaks and the upsides in terms of perf are notable with this approach, I don't have any objections re. making doc comments into literals (tho it might seem marginally weird from a user non-compiler-dev POV). Before seeing some numbers it's hard to say whether we should do it or not however.

[2019-05-21 11:01] petrochenkov commented on #61001
My primary motivation is passing all tokens around losslessly, the perf benefit is secondary.

[2019-05-21 11:24] michaelwoerister commented on #61002
@mati865 if you test, be sure to compile your LLVM with assertions: https://github.com/rust-lang/rust/pull/61005/files#diff-1c226b200b9385d77428f0b4418366e4R1277

Thanks for looking into it!

[2019-05-21 11:26] oli-obk commented on #60988
This is trivial to implement with `--json-rendered`. I can mentor this in https://github.com/rust-lang/rust/issues/60987

[2019-05-21 11:27] mati865 commented on #61002
I'll recompile it with assertions today later. Should the test case be using any specific code like `panic!()`?

[2019-05-21 11:52] Pzixel commented on #53491
@RalfJung about your statement that `let x: bool = mem::uninitialized();` is UB, the question is **why** invalid primitives are considered? As I understand you need to read a value to observe it's invalid and trigger some behavior. But if you don't read then what?

I feel that even creating a value is a bad thing, but I'd like to know reasons why rust disallow it? Is it just for early errors sake

[2019-05-21 12:04] dhardy commented on #55006
Way to make `std` hard to use for no reason.

Unfortunately this would now be a breaking change to introduce, but *if* it could be deemed acceptable would very much be worth doing IMO.

[2019-05-21 12:15] michaelwoerister commented on #61002
The following test case runs into the problem with MSVC:
https://github.com/rust-lang/rust/blob/master/src/test/run-make-fulldeps/pgo-use/main.rs

See https://github.com/rust-lang/rust/blob/master/src/test/run-make-fulldeps/pgo-use/Makefile for how the file is compiled.

[2019-05-21 12:26] RalfJung commented on #53491
For example, we annotate functions like `foo(x: bool)` telling LLVM that `x` is a valid boolean.  That makes it UB to pass a `bool` that is not `true` or `false` even if the function originally did not look at `x`. This is useful because sometimes the compiler wants to introduce uses of previously unused variables (in particular, this happens when moving statements out of loops without proving tha

[2019-05-21 12:27] GuillaumeGomez commented on #60996
I'll take a look later on.

[2019-05-21 12:29] GuillaumeGomez commented on #60948
Wo, super strange old code as it seems. Good catch!

[2019-05-21 12:31] Pzixel commented on #53491
This may be considered as a usage. I'm asking about initing a value and never reading/passing it anywhere before it was overwritten with valid value.
I don't see any useful use cases for initing value in such a nuanced way, but just wondering.

Another question about the subject itself: we know that we have `box` syntax which allows you to allocate memory directly on the heap, and it works always

[2019-05-21 12:39] Nemo157 commented on #53491
@Pzixel we've actually discussed interactions between `Box` and `MaybeUninit` [already on this thread](https://github.com/rust-lang/rust/issues/53491#issuecomment-462696506) :smile:

@Centril having a sub-issue to discuss that might be good when you split this.

[2019-05-21 12:51] Pzixel commented on #53491
Yep, I remember that discussion, but I don't remember any specific api.

In a nutshell, I want to have something like

[code]

But I don't think there is such API, and it seems that it couldn't be implemented without compiler support at this point of language evolution.

[2019-05-21 13:04] GuillaumeGomez commented on #51860
This is fixed by allowing finer settings in https://github.com/rust-lang/rust/pull/60778

[2019-05-21 14:38] sfackler commented on #55006
TryFrom is stable, we are not going to be adding bounds to it.

[2019-05-21 14:38] #55006 closed

[2019-05-21 15:25] dhardy commented on #55006
Unfortunate.

There is an alternative solution, but it is considerably more complex: https://github.com/rust-lang/rfcs/issues/2207

[2019-05-21 15:28] Gankro commented on #53491
I was assuming get_ref and get_mut_ref were going to be stabilized at the same time (all of the features point at this issue). Is there a reason not to? They're nice and are the only indication that performing the action they perform is *allowed* (which imo should obviously be true).

[2019-05-21 15:56] Manishearth opened #61011 "There should be a way to unwrap MaybeUninits without moving them"
[`MaybeUninit`](https://doc.rust-lang.org/nightly/std/mem/union.MaybeUninit.html) has an API where you construct a `MaybeUninit<T>`, can operate on it via raw pointer methods, and then can call [`assume_init()`](https://doc.rust-lang.org/nightly/std/mem/union.MaybeUninit.html#method.assume_init) to move the inner value out. It also has methods that let you assume that it is initialized and obtain

[2019-05-21 16:09] azymohliad commented on #49078
I'm having the same (or similar) issue when cross-compiling from Linux to Windows:
[code]
I'm on ArchLinux and followed the cross-compilation guide from [gtk-rs](https://gtk-rs.org/docs-src/tutorial/cross)

[2019-05-21 16:15] rickvanprim opened #61012 "Array comparison shouldn't forward to slice implementation"
Currently the PartialEq and PartialOrd traits for the array primitive forward to the slice implementations.

https://doc.rust-lang.org/src/core/array.rs.html#81-86
[code]

However this introduces an unnecessary size check which has already been validated at compile time.

Apologies if this is already a known issue awaiting on const generics to solve.

[2019-05-21 16:18] jonas-schievink commented on #61012
Are you sure LLVM doesn't optimize this out? It only needs to constant-propagate the array length.

[2019-05-21 16:35] pedrocr commented on #53340
I don't know if this is useful but 1.34/1.35 and current beta/nightly still have the same regression:

[code]

[2019-05-21 16:42] jsgf commented on #60988
It might be useful to have multiple rendered forms in the json output.

[2019-05-21 16:55] mati865 commented on #49078
@rustbot modify labels: -O-windows +O-windows-gnu

@azymohliad you can use workaround from https://github.com/rust-lang/rust/issues/47048 but change paths for Linux.

[2019-05-21 16:55] rickvanprim commented on #61012
Compiled in Stable with Release target.
[code]
Produces:
[code]

I'm just assuming the branch in there is the length check.  Regardless it seems like this shouldn't output a branch.

[2019-05-21 16:59] jonas-schievink commented on #61012
I'm pretty sure that compares the addresses of the arrays and early-returns `true` when they're pointing to the same array (arrays are passed via address internally on x86-64).

[2019-05-21 17:00] rkruppe commented on #61012
Yes, this is an early-out for returning true, not a size comparison for safety or for returning false early. It's still redundant in this case because the two parameters will never be equal.

[2019-05-21 17:08] jonas-schievink commented on #61012
(annotated asm to make it more clear what's happening)
[code]

[2019-05-21 17:14] rickvanprim commented on #61012
Thanks for the additional context!  Is this worth keeping open on the unnecessary pointer compare (for this case where the parameters are by value), or should I close this?

[2019-05-21 17:15] estebank commented on #60976
I have a PR that will fix the underlying problem, but we need to come up with a reproduction case to avoid regressions in the future.

[2019-05-21 17:16] mark-i-m commented on #56668
Oh, just saw #60932...

[2019-05-21 17:21] jonas-schievink commented on #60976
Removing nomination since a fix is already approved

[2019-05-21 17:30] RalfJung commented on #61011
That would be https://github.com/rust-lang/rfcs/pull/2645. But yes, the intention is that you can do such transmutes. And indeed the section at https://doc.rust-lang.org/nightly/core/mem/union.MaybeUninit.html#layout kind of says that you may do that, doesn't it?

Interaction of `MaybeUninit` and `Box` is on the list of planned API extensions (basically: a version of `assume_init` that does `Box<M

[2019-05-21 17:35] RalfJung commented on #53491
So `let x: bool = mem::uninitialized()` is not using the `bool` (even though it gets assigned to `x`!), but
[code]
does use it? What about
[code]
Is the return here a use?

This very quickly gets very subtle. So the answer I think we should be giving is that every assignment is a use, and that includes the assignment in `let x: bool = mem::uninitialized()`.

---

This is blocked on resolving https

[2019-05-21 17:35] estebank commented on #28894
For nightly users, libraries can leverage `rustc_on_unimplemented` to provide better errors in these cases.

[2019-05-21 17:38] sgrif commented on #28894
`#[rustc_on_unimplemented]` doesn't really apply here, since Rust is showing a recommendation for the wrong trait, and won't show the custom message. https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=963ede706e74095f9b99192b2ac0e5d7

[2019-05-21 17:39] Manishearth commented on #61011
Yeah, that's good, but it's unclear what kinda of transmutes are allowed when you're sure it's definitely initted. Examples would be good (I might add some).

The Arc case is where you've initialized the Arc with uninit contents and are the sole owner. Once you've filled in the contents (maybe via ffi!) you should be able to turn it into a "normal" arc.

[2019-05-21 17:44] Gankro commented on #53491
I don't think that blocking needs to happen. You can stabilize it and say "it is UB to use this if the memory is uninitialized" and then later soften the requirement if we determine it's fine. It's a nice method to have for post-initialization.

[2019-05-21 17:48] Manishearth commented on #61011
This also becomes important for FFI: the reason we made the repr(transparent) RFC in the first place is that `noalias` happens at the type level and you need a way to opt out of such semantics for data from FFI, so you need to treat the value as if it were UnsafeCell-wrapped.

There's going to be a similar situation

[2019-05-21 17:59] shepmaster commented on #53491
Which means that if I code against the future version's documentation but someone compiles my code using the (API compatible!) old version of the compiler, there's now UB?

[2019-05-21 18:05] estebank commented on #28894
@sgrif that's because [you need to give the `on_unimplemented` to `trait Column`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=f12573f27165332f884dfd1abafc11a2):

[code]
[code]

[2019-05-21 18:05] RalfJung commented on #53491
@Gankro

That seems very footgun-y to me. Why not just write `&mut *foo.as_mut_ptr()`? Once you have everything initialized, why would that not work? IOW, I am now wondering about you saying

because why would it *not* be? If we exhaustively list everything you can do once you initialized the value, that'll be a long list.^^

@shepmaster

That's true today if people do `&mut *foo.as_mut_ptr()`. I

[2019-05-21 18:14] sgrif commented on #28894
This issue is about the fact that `Column` is irrelevant, not useful to
users when the missing trait is `AsExpression`, and there's no way to
control this behavior as a library author.

On Tue, May 21, 2019 at 12:06 PM Esteban Kuber <notifications@github.com>
wrote:

--

Thanks,
Sean Griffin

[2019-05-21 18:22] landaire commented on #31287
A friend encountered this case which is not considered a hard error on the latest stable or nightly, but is a clear UAF (check the Miri interpreter):

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=551bb1178a3137391e7b9cec598c2fd9)

Relevant warning:

[code]

This only becomes a hard error caught by NLL if you explicitly add `#![feature(nll)]`: ht

[2019-05-21 18:25] catastrop opened #61013 "Why Rust uses LLVM? It is written in C++. Why rust isn't completely self-hosted?"

[2019-05-21 18:26] RalfJung commented on #61011
Yeah, the aforementioned RFC was opened because of by-value-FFI concerns.  But otherwise it shouldn't matter.  Also we had an astute lack of examples for passing uninitialized data *by value*.

[2019-05-21 18:28] jonas-schievink commented on #61013
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-05-21 18:28] #61013 closed

[2019-05-21 18:31] Manishearth commented on #61011
Why does it have to be by value? FFI can pass me a reference to a complicated C++ datastructure with some uninit stuff in it, I have to be able to operate on that safely.

[2019-05-21 18:32] myrrlyn commented on #61011
Speaking solely as an FFI author, I *believe* the `MaybeUninit::write` method, which is `&mut MaybeUninit<T> -> &mut T`, is sufficient for that. FFI has the ability to "cheat" here by just changing the type signature at various parts of the boundary, and permitting the foreign caller not to know the difference. As long as `MaybeUninit` is `repr(transparent)`, it is invisible to FFI, and thus only

[2019-05-21 18:34] RalfJung commented on #61011
The only additional effect `repr(transparent)` is to change the type's ABI so that it gets passed by-value the same way as its sole field. If you do not pass things by-value, all you need is for the layout (size, alignment, field offsets) to be the same; you don't need `repr(transparent)` for that.

[2019-05-21 18:37] RalfJung commented on #61011
@myrrlyn

`&uninit` seems thoroughly out-of-scope for this discussion. ;)

That is *not* safe function. `&mut MaybeUninit<T>` still must be dereferencable for `size_of::<T>()` many bytes, which your functon does not (and cannot) check.

[2019-05-21 18:40] catastrop commented on #61013
This is a feature request.

[2019-05-21 18:42] Manishearth commented on #61011
Not necessarily, it means that `&[T]` and `&[MaybeInit<T>]` also have the same layout. Which is useful.

[2019-05-21 18:45] rkruppe commented on #61011
That, too, is ensured by `T` and `MaybeUninit<T>` having the same size and alignment, no `repr(transparent)` necessary.

[2019-05-21 18:45] RalfJung commented on #61011
I imagined we'd have something like this for `Box`, you seem to be saying something similar?
[code]
Though I am still not convinced the return value of `write` is actually useful (and if it isn't we could just use `MaybeUninit::write` via deref).

[2019-05-21 18:49] jonas-schievink commented on #61013
Rewriting LLVM in Rust is out of scope for this project, but if you're looking for a code generator written in Rust then [Cranelift](https://github.com/CraneStation/cranelift) might be what you're looking for. There are plans to add it as a rustc backend in addition to LLVM (check the docs in the repo I linked for details).

[2019-05-21 18:50] Manishearth commented on #61011
@myrrlyn

It doesn't address my concerns, since my concerns are all about MaybeUninit's semantics when embedded deeply inside some other structure, and a need to be able to get rid of it.

Things that can be written as a library don't matter to me: I can write such a function myself. My question is more about the fundamental boundaries of the UB surrounding this.

@rkruppe

Yes, but it's not clear

[2019-05-21 18:53] RalfJung commented on #61011
At this point I should also quote what @rkruppe said on Zulip:

So basically the thinking is that such transmutes are safe only when the type constructors involved ignore the niche. I think we should be able to guarantee that arrays and tuples do ignore the niche.

[2019-05-21 18:54] estebank commented on #28894
Could you show us the "fixed" code for the example provided?

I believe that I understand where you're coming from, as this is a pretty bad limitation `rustc` has, but I also think that the subset of problems that are _expected_ to happen (like this one) can receive specific error messages that point people in the right direction, even though they need to be added to the "wrong" trait. I'm not say

[2019-05-21 18:55] Manishearth commented on #61011
Ah, that's a good point. I don't know how to document this well.

[2019-05-21 18:59] myrrlyn commented on #61011
This seems like it'd want a marker trait to denote that types without niches are sound to transform `MaybeUninit<T> -> T` in layout, but types such as `NonNull` or `NonZero` or `bool` are not.

[2019-05-21 19:03] nikic commented on #60994
Reported upstream: https://bugs.llvm.org/show_bug.cgi?id=41971

[2019-05-21 19:04] RalfJung commented on #61011
@myrrlyn that only solves half the problem. `&[MaybeUninit<bool>]` and `&[bool]` are fine to be transmuted. It's less about the type *inside* the `MaybeUninit` but about the type *around* it: if that is `&[_]` we are fine, but if that is `Option<_>` we have a problem.

[2019-05-21 19:08] sgrif commented on #28894
https://gist.github.com/sgrif/fb06eec01a38a8f7a8f0ff9c1f62be7d

For what it's worth, https://github.com/rust-lang/rust/issues/51992 is
probably enough to address this

On Tue, May 21, 2019 at 12:55 PM Esteban Kuber <notifications@github.com>
wrote:

--

Thanks,
Sean Griffin

[2019-05-21 19:45] cramertj commented on #47809
Yes, those steps still sound reasonable. This would be a difficult first contribution, but if you ask questions on https://rust-lang.zulipchat.com/# and ping @eddyb and @arielb1 I'm sure you'd be able to start making progress, and there are likely others who could help out.

[2019-05-21 19:47] matthewjasper commented on #31287
I think this was closed before we decided to not close fixed by NLL issues until they're hard errors.

Reopening.

[2019-05-21 19:50] cramertj opened #61015 "Resolve the interaction between StorageDead, drops, and unwinding"
https://github.com/rust-lang/rust/pull/60840 introduces the expectation that once `drop` runs on a local, it is UB for that local to be accessed, regardless of the success or failure (panic) of the `drop`. Unfortunately, adding extra `StorageDead`s for all of these values caused a performance regression, so at the moment we don't do this. https://github.com/rust-lang/rust/pull/60840 instead uses `

[2019-05-21 20:06] pietroalbini commented on #60929
The check has was reinstated in PR https://github.com/rust-lang/rust/commit/8d419588f1ce626c37cc05780c8eb37322726fa4.

[2019-05-21 20:10] ehuss commented on #60929
@pietroalbini I think you have the wrong issue?  There were two things (rls and edition guide).  The PR you noted just reverted the RLS change.  The edition-guide was separate (and done in a different way).  It's still blocked on #60459.

[2019-05-21 20:17] tmandry commented on #61015
Also, for locals which are not `Drop`, #60840 adds `StorageDead`, but only on generator bodies. Adding it for all functions would be a big performance regression.

Technically we could also do this for locals which are `Drop` in generators, but it would have been slower (unclear how much) and would have required more significant changes to the MIR generation code.

[2019-05-21 20:18] pietroalbini commented on #60929
...oh, that's what happen when I read just half of the title :sweat_smile:

[2019-05-21 20:21] estebank opened #61017 "Handle fully enclosed multiline spans in emitter"
Currently the solution to overlapping multiline spans is _correct_, but doesn't handle spans that are completely enclosed by others in any way, simply using span ordering and growing towards the left as needed. The following is a representative example of the problem:

[code]

Ideally, the emitter should handle this case by identifying that there are overlapping spans that are fully enclosed and s

[2019-05-21 21:19] mati865 commented on #61002
It does **not** reproduce with gnu toolchain with Rust and LLVM assertions enabled, I'll try to remember about fixing https://github.com/rust-lang/rust/pull/61005 along with gnu profiler.

[2019-05-21 21:51] matthewjasper opened #61019 "`extern crate ... as std` overrides the injected crate on 2018 edition"
On the 2018 edition the following code:

[code]

will:

* ~~Try to resolve `prelude::v1::*` in `some_crate`, failing if it doesn't exist. This probably limits the plausible cases where this could happen to `extern crate core as std`, and `extern crate core as std` with `#![no_std]`.~~
* Use `some_crate` in ~~any built-in derives and for~~ HIR lowering.

I would expect that the prelude and derives/

[2019-05-21 21:52] matthewjasper commented on #60869
So I've had a look through the code and done some experimentation with replacing gensyms with hygiene. To give a summary

## Don't need to be unique identifiers at all

As far as I can tell, these don't escape into the AST, so the gensym call is unnecessary:

https://github.com/rust-lang/rust/blob/50a0defd5a93523067ef239936cc2e0755220904/src/libsyntax/ext/tt/macro_rules.rs#L255-L256

I also can't

[2019-05-21 22:22] sidgilles opened #61021 "trait bound is reported not satisfied although it is"
Hello!

Rustc report an unsatisfied trait bound. However, following the compiler suggestion does not help much. Working with tokio.
Is #43580 also relevant for this one ?
Thanks.

Sample code.
[code]

Compiler output.
[code]

This is happening both on stable and nightly, freshly updated.
[code]

Dependencies.
[code]

**Edit:**
This sample code get compiled.
I would say that:
  1) the message `help

[2019-05-21 22:34] alexcrichton opened #61022 "Solaris toolchains in dist-various-2 no longer compile"
First discovered [here](https://dev.azure.com/rust-lang/rust/_build/results?buildId=181&view=logs) the full logs are at [583.txt](https://github.com/rust-lang/rust/files/3204802/583.txt).

Looks like something may have changed, and my guess guess is something in the ubuntu packages but I'm not entirely sure.

cc @bgermann, we're gonna need to temporarily disable this target but figured you'd want

[2019-05-21 22:55] EricEberhard commented on #39998
My experience is you cannot truly link static on most systems.  I made a nice supposedly static compile and link on Linux and Windows and ... turns out the "static" versions of the system libraries (which are near impossible to figure out how to get -- need static, compat, AND ... the dynamic stuff) are simply "stubs" that wrap a small static routine to a dynamic routine as such:

static int foo(p

[2019-05-21 23:13] Gankro commented on #53491
Right, I was assuming the process was

* stabilize it with a strict but implementation-meaningless requirement now
* proceed to work on the memory model and what have you
* once the model is done
  * if it needs to be UB, cool, leave the docs the same, add optimizations if it's useful
  * if it doesn't need to be UB, cool, drop it from the docs and call it a day

[2019-05-22 00:27] LifeIsStrange commented on #61013
This is like saying "why not throw away 317 000 commits of work by experts for a slight idiomatic improvement".
At most one could suggest to llvm developers, to accept new llvm modules written in rust, those incrementally rustifying llvm.
Even with that, I'm not sure it would be an improvement as most llvm would have a costly technical debt, and rust has sometimes worse codegen than llvm + current

[2019-05-22 01:22] #60430 closed

[2019-05-22 01:23] estebank commented on #31022
Triage: no change.

[2019-05-22 01:25] estebank commented on #30906
Current output:

[code]

[2019-05-22 01:31] tmandry commented on #52924
@Matthias247 This is really helpful, thanks! I'm not sure what the root cause here is, but if you put that future in a crate I can checkout and build somewhere, I can probably find out.

[2019-05-22 01:32] estebank commented on #35946
Of the three cases, the first one is now:

[code]

[2019-05-22 01:39] estebank commented on #40186
Current output:

[code]

[2019-05-22 01:45] estebank commented on #33624
Current output:

[code]

[2019-05-22 01:47] estebank commented on #33570
Update:

[code]

Compiler still not smart enough to suggest `*opt = None`.

[2019-05-22 04:42] #60580 closed

[2019-05-22 04:42] rust-highfive opened #61031 "`rls` no longer builds after rust-lang/rust#61027"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#61027, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nominat

[2019-05-22 05:30] khareatu commented on #58529
FWIW, we believe that we have root-caused the issue. The bottom line is that there appears to be a bug in tokio that results in a double free of a memory allocated pointer, which eventually causes the musl library to SEGV on a NULL pointer. We haven't managed to boil it down to a simple repro case, so there's a little bit of a conjecture here, but the bottom line is that the issue went away after

[2019-05-22 06:48] nikic commented on #60994
Fixed upstream: https://github.com/llvm/llvm-project/commit/15df05152d3d6dcaf92b3456a079357e2d876e79

[2019-05-22 07:34] Pzixel commented on #53491
@RalfJung

Yes, returning a value or passing it anywhere is a usage.

Anyway, that's about arbitrart MaybeUninit nesting? Could it be transmuted safely without requiring user writing the transmute for every wrapper type?

[2019-05-22 08:00] eddyb commented on #60715
Note that `Cell<()>` is zero-sized so you can just use it without `PhantomData` around it.

[2019-05-22 08:09] bgermann commented on #61022
Thanks for keeping me in the loop!

[2019-05-22 08:40] omerbenamram commented on #60845
I'm writing some cross platform forensics tools that need to manipulate windows paths on all platforms (joining, splitting, etc..).

In python I would use something like `ntpath` instead of `pathlib`, but it would be fantastic if rust could support that as well!

[2019-05-22 08:40] michaelwoerister commented on #61002
Cool!

[2019-05-22 08:44] michaelwoerister commented on #60869
Wow, nice write-up, @matthewjasper!

[2019-05-22 08:56] eddyb commented on #60869
Could we get the `Mark` from the fact that in all of these cases there is an attribute?
And perform all the work *as expanding that attribute*?

[2019-05-22 09:13] birkenfeld opened #61033 "Inconsistent macro repeat operator leads to panic on nightly"
Given this test file:
[code]
stable Rust errors like this:
[code]
while on 1.36.0-nightly (50a0defd5 2019-05-21) running on x86_64-unknown-linux-gnu:
[code]

[2019-05-22 09:25] elichai commented on #60050
I still get this on nightly. `2019-05-20`

[2019-05-22 09:26] oli-obk commented on #61033
caused by https://github.com/rust-lang/rust/pull/60620 cc @mark-i-m

[2019-05-22 09:33] RalfJung commented on #53491
@Pzixel I am not sure if I understand your question, but I think it is being discussed at https://github.com/rust-lang/rust/issues/61011.

[2019-05-22 09:35] oli-obk commented on #60050
@elichai can you try with the latest nightly? This was only closed yesterday, so today's nightly should contain the fix.

[2019-05-22 09:36] Disasm commented on #60050
My case (https://github.com/rust-lang/rust/issues/60835) is no longer reproducible on 2019-05-21 nightly.

[2019-05-22 09:37] petrochenkov commented on #61033
Yay, we have a test case.

[2019-05-22 09:38] phil-opp commented on #60050
I no longer see the error with `rustc 1.36.0-nightly (50a0defd5 2019-05-21)`.

[2019-05-22 09:40] Pzixel commented on #61011
It's fine having APi for `Box<MaybeUninit<T>>` -> `Box<T>`, but what for arbitrary nested generics? I believe there should be an API `A<B<C<D<...<MaybeUninit<T>...>>>>` transmuting to ``A<B<C<D<...<T>...>>>>` . As a general rule "when we call into_innter all `MaybeUninit<T>` gets recursively replaced with `<T>`.

Can this work? It cannot be expressed with language terms, but maybe some compiler bu

[2019-05-22 09:50] elichai commented on #60050
Yep it seems it's fixed. sorry I missed that it was merged yesterday. thanks!

[2019-05-22 09:51] RalfJung commented on #61015
To repeat what I said in the other thread:

This changes the semantics of `Drop` to implicitly have a `StorageDead` in both the return and the unwind edge. If we decide to go with this approach, please open an issue in Miri so that we can implement this in Miri's semantics. It would also be helpful if you could come up with some example code that should be flagged as UB.

I have a few questions ab

[2019-05-22 09:51] RalfJung commented on #61015
Cc @rust-lang/wg-unsafe-code-guidelines

[2019-05-22 09:51] #60050 closed

[2019-05-22 10:27] eddyb commented on #49147
Ignoring the more powerful idea in https://github.com/rust-lang/rust/issues/49147#issuecomment-392256983, these are some mentoring notes:

1. wrap this in `if tcx.borrowck_mode() == BorrowckMode::Mir`:
https://github.com/rust-lang/rust/blob/1cc822c261f5c94a41eb725755fdda7ca6efbda2/src/librustc_typeck/check/mod.rs#L4433-L4439
Note that this should *not* break anything, as NLL borrowck has its own c

[2019-05-22 10:36] eddyb commented on #49147
I want to treat `Rvalue::Repeat(operand, n)` where `n > 1` as consuming `operand` more than once, which would remove the need for the explicit check, *but* that would degrade error messages, unless we do something similar to loops where we say "moved out on the previous loop iteration".

[2019-05-22 10:55] eddyb commented on #61011
IMO we can do that by saying they are *structural product types*.
"product" implies there is no reason to take advantage of nested layout, but merely contain it.
"structural" implies the layout cannot be modified by some definition (which may not be the case at all, I guess? but it's better not to rely on it), and is determined entirely by its (structural) components.

[2019-05-22 11:04] smukherjee2016 commented on #60976
Thank you so much for the super-fast response! However, I am not at all familiar with rust's compiler code, so if you could tell which part of the code the compiler trips upon, I can try isolating that part of the code to make a smaller reproducible example.

[2019-05-22 11:06] eddyb commented on #54912
I think the confusion here is the direction of the conversion. Matching against a pattern *always* does a "value to place" conversion, as patterns *require* places to do discriminant checks and field accesses, which means:
* `let _ = place_expr;` evaluates but doesn't access the place, so it's close to `&raw place_expr`
* `let _ = value_expr;` evaluates the value, puts it in a temporary place, whi

[2019-05-22 11:17] eddyb commented on #31287
I'm a bit surprised about `#![feature(nll)]` having *any* effect on Rust 2018, is that intentional?
If so, where can I read more about that decision?

[2019-05-22 11:25] eddyb commented on #60855
@rkruppe User-facing diagnostics should avoid the `Reveal::All` mode, yeah. In fact, the other variant of `Reveal` is literally `Reveal::UserFacing` - also the doc comments are pretty explicit about this:
https://github.com/rust-lang/rust/blob/37ff5d388f8c004ca248adb635f1cc84d347eda0/src/librustc/traits/project.rs#L28-L68

cc @nikomatsakis @nagisa @oli-obk @Manishearth

[2019-05-22 11:31] matthewjasper commented on #60869
There's one attribute per test. Since a user isn't obligated to write at least one test we don't necessarily have a mark but we still have to hide the main test runner function.

Global allocators could probably use the attribute.

[2019-05-22 11:37] kornelski opened #61038 "std::arch docs are missing (404)"
The `std::arch` module is not documented since 1.34 release:

* https://doc.rust-lang.org/std/arch/ = 404
* https://doc.rust-lang.org/stable/std/arch/ = 404
* https://doc.rust-lang.org/nightly/std/arch/ = 404
* https://doc.rust-lang.org/1.33.0/std/arch/ = present

[2019-05-22 12:00] hellow554 commented on #61038
https://doc.rust-lang.org/1.34.0/src/std/lib.rs.html#361

[code]

CC https://github.com/rust-lang-nursery/stdsimd/pull/640

@rustbot modify labels: T-doc

[2019-05-22 12:04] hellow554 commented on #61038
@gnzlbg  maybe you can enlighten me, why you choose `#[doc(no_inline)]`?

[2019-05-22 12:06] petrochenkov commented on #60869
I global allocators can be formulated in terms of a proc macro, that would be great (one less special case).

If not, then we can create fresh marks for them (`Mark::fresh`, which is already used in various places, even too liberally perhaps), it just needs to be "registered" in resolve, so it has a module parent and other associated data, and doesn't ICE on attempts to access them.

[2019-05-22 12:29] pnkfelix opened #61039 "discriminant value on non-field-less enum should highlight variant with field"
While reviewing PR #60732, I noticed that both the current stderr for test cases like [tag-variant-disr-non-nullary.stderr][] highlights a bunch of variants that all have no fields on them.

This is confusing, because the diagnostic is complaining that you can only use this feature on enums without fields, but the diagnostic is showing you only cases without fields. Ideally it would include both t

[2019-05-22 12:35] chansuke commented on #60790
@varkor Thanks

[2019-05-22 12:57] gnzlbg commented on #61038
See https://github.com/rust-lang/rust/pull/57808#issuecomment-457390549 and the conversation around that.

[2019-05-22 13:05] eddyb commented on #60869
@matthewjasper You can make `--test` inject a `#![test]` on the crate (or `#![test_harness]` etc.)
I don't remember who was working in this area, but there were some plans to make it all less magical, for various reasons (fixing bugs and allowing custom test harnesses) - cc @Manishearth

[2019-05-22 13:26] Gankro commented on #61011
I would just like to note that many of the potential use-cases of "MaybeUninit, but it goes away" for pure rust applications are just [The Placer API](https://github.com/rust-lang/rust/issues/27779), and I think it would be best to pursue those applications through that avenue.

[2019-05-22 13:42] jamshaid3 opened #61040 "Enum 6.1 rust book missing"
let some_number = Some(5);
let some_string = Some("a string");

let absent_number: Option<i32> = None; // IN THIS LINE (None) must be Option::None

[2019-05-22 13:55] jonas-schievink commented on #61040
Thanks for reporting! The book is hosted at https://github.com/rust-lang/book/ though, so please open an issue there (or directly submit a PR).

[2019-05-22 13:55] #61040 closed

[2019-05-22 13:56] hellow554 commented on #61040
Are we talking about this one: https://doc.rust-lang.org/stable/book/ch06-01-defining-an-enum.html#the-option-enum-and-its-advantages-over-null-values ?

Why do you think it must be `Option::None`? Why not `Option::Some`? The answer is, that `Some` and `None` are in the [prelude](https://doc.rust-lang.org/std/prelude/v1/index.html), therefore you don't need an explicit import.

[2019-05-22 14:11] jonas-schievink commented on #61040
Right, there's no need to change anything here (the code example is also tested automatically). The issue text is missing the `<i32>` though.

[2019-05-22 14:33] pftbest opened #61042 "Unnecessary on-stack copy when calling Box<FnOnce()> closure"
When calling a boxed closure the captured data is copied from heap to the stack before the call. It happens both with trait object and a concrete type inside the box.

[code]

[code]

Godbolt link: https://godbolt.org/z/srCEBf

I think this extra memcpy is unnecessary, and it should be possible to call boxed closures without moving it out from the heap.

Similar C++ code doesn't do any extra copie

[2019-05-22 15:01] mark-i-m commented on #61033
Hmm... interesting... yeah, I guess we have a test case. I will open a PR to revert #60620 and add the test case. Thanks @birkenfeld !

But this raises a bigger point that has been growing on me for a while now: there are a ton of checks that are currently only done at macro invocation time (or are not done at all) that really would make more sense to do a macro definition time.

- Checking that t

[2019-05-22 15:03] qnighy commented on #61042
This is because the current implementation of `unsized_locals` #48055 is really naive. [An unstable book article](https://doc.rust-lang.org/1.34.2/unstable-book/language-features/unsized-locals.html#advisory-on-stack-usage) also explains this.

I've wanted to fix this too but I don't have enough time recently. It may require some sort of MIR optimization based on liveness or lifetimes.

[2019-05-22 16:42] Aloso commented on #60744
This isn't specific to arrays. Here's another example:

[code]

<details>
<summary>Compiler output:</summary>

[code]

</details>

I noticed that it works correctly if I replace

[code]

rustc 1.36.0-nightly (50a0defd5 2019-05-21) running on x86_64-unknown-linux-gnu

[2019-05-22 16:45] catastrop opened #61045 "offline documentation isn't available on raspberry pi 3b+ running raspbian"

[2019-05-22 16:50] jonas-schievink commented on #61045
What did you try to view the docs, and how did you install Rust?

If you installed Rust through apt-get, you should look for an extra documentation package to install (or, if the docs aren't packaged, talk to the Debian maintainers). If you used rustup, you should be able to read the docs by running `rustup doc --std`. What happens if you run that?

[2019-05-22 17:23] mark-i-m commented on #61033
Opened #61046

[2019-05-22 17:25] jsgf opened #61047 "-Zemit-artifact-notifications should also notify for save-analysis output"
It would be useful for other tooling to know when save-analysis outputs are available.

[2019-05-22 17:27] davidtwco commented on #49147
I'll give implementing this a go.

[2019-05-22 17:36] gnzlbg commented on #60941
@petrochenkov why can't we make `self` special here ?

[2019-05-22 17:39] abonander commented on #49869
I haven't attempted building rustc for about that long so I have no idea.

[2019-05-22 17:53] landaire commented on #31287
I think the downgrade is performed here: https://github.com/rust-lang/rust/blob/2f1bc91803b04caf3e20b3849633bb7ffe6b4074/src/librustc_mir/borrow_check/mod.rs#L398-L412

And references these issues: https://github.com/rust-lang/rust/issues/55492 https://github.com/rust-lang/rust/issues/58776

[2019-05-22 17:58] heckad opened #61049 "Rename type to typedef."
I think using keyword `type` to define new types big mistake, because the type can be in anything struct. (Type of order, type of filed). Now I shold write `type_` insted of `type` becouse is keyword. I propouse rename `type` to `typedef` in the next big language iteration.

[2019-05-22 17:59] jonas-schievink commented on #61049
Language changes like this need to go through the RFC process at https://github.com/rust-lang/rfcs. Closing in favor of discussion there.

[2019-05-22 17:59] #61049 closed

[2019-05-22 18:22] RalfJung commented on #61015
Regarding `DropAndReplace`, @eddyb writes

@tmandry that's why I asked about `DropAndReplace` above. What is your analysis doing for them? Also can someone reading this show an example where `DropAndReplace` gets used? Miri never sees them AFAIK, so they presumably get lowered away to something else at some point.

[2019-05-22 19:07] petrochenkov commented on #61033
If the defined macro produces an error with any possible input, then we should probably report it at definition time, at least as a quality of implementation measure (perhaps as a warning for a start).

I have more confidence in reporting errors related to the macro definition language itself (meta-variables, repetitions, etc.), than in errors for produced tokens (which are not necessarily suppose

[2019-05-22 19:11] mark-i-m commented on #61033
@petrochenkov Ok, makes sense. I will open another issue with these items so we can track them.

[2019-05-22 19:15] mark-i-m opened #61053 "MBE: more checks at definition time"
There are a few checks that are currently only done at macro invocation time (or are not done at all) that really would make more sense to do a macro definition time.

This is a tracking issue to implement these checks.

- [x] Checking that the Kleene operator used in the body is the same as that in the matcher (#62008)
    - https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=

[2019-05-22 19:16] mark-i-m commented on #61053
Could someone tag this with `cleanup` and `macros` and `help-wanted` please?

[2019-05-22 19:16] mark-i-m commented on #61053
cc @petrochenkov

[2019-05-22 20:05] jonas-schievink commented on #61053
@mark-i-m you can apply labels yourself by using [`@rustbot modify labels`](https://github.com/rust-lang/triagebot/wiki/Labeling)

[2019-05-22 20:23] estebank commented on #60762
@hellow554 Of course! Feel free to reach out with whatever problem you might face.

As for the output, I think the following should be ok for all cases (even though it hides a big of content in between that isn't strictly relevant):

[code]

[2019-05-22 20:34] mark-i-m commented on #61053
Oh, that's good to know. Thanks :)

@rustbot modify labels: +C-cleanup

[2019-05-22 21:14] mark-i-m commented on #58099
This is done now, right? Can we close this?

[2019-05-22 21:27] estebank commented on #32577
Both repro cases [now compile](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=b3b35d9340a9366e64bcae9284215b0e) successfully.

[2019-05-22 21:27] #32577 closed

[2019-05-22 21:33] estebank commented on #44990
cc @Centril, given the recent `it let` desugaring work.

[2019-05-22 22:06] eddyp commented on #55027
Currently (2019-May-23rd) on nightly both errors are shown, while only the first is shown in beta(1.35.0-beta11) and current stable (1.34.2).

Here is the output on nightly:

[2019-05-22 22:14] varkor commented on #60744
I've added a few test cases in https://github.com/rust-lang/rust/pull/60742, so this should be fixed after that's merged.

[2019-05-22 22:30] kornelski commented on #61038
OK. It's intentional.

Google still ranks older version of /std/…/arch higher than latest /core/arch, but that's another problem.

[2019-05-22 22:30] #61038 closed

[2019-05-22 23:01] rodrimati1992 opened #61058 "external macros don't evaluate panicking consts when crate-local ones do."
I have a proc macro crate which produces a panicking constant in its generate code.

For some reason the constant outputed by the proc-macro doesn't get evaluated in `cargo check`,even though it gets evaluated when the macro is manually expanded.

This is the conversation that motivated me to write this issue:https://github.com/dtolnay/case-studies/pull/6

I've put all the code [in this repository

[2019-05-22 23:47] toothbrush7777777 commented on #57270
@phil-opp Has this been corrected? Does it work in recent Rust nightlies?

[2019-05-22 23:53] andll commented on #42474
I ran into the issue too

I think possible solutions could be(from simple to complicated)
- Add io::get_print/get_panic functions, that would return current value of LOCAL_STDOUT.
This way testing code could read what is current overwrite, pass it to new thread and manually set it in new thread. This should be 5-6 lines diff in io module, but one may argue it breaks somewhat hacky

- Expose Sink c

[2019-05-23 00:07] estebank commented on #54560
Current output:
[code]

[2019-05-23 00:08] estebank commented on #48427
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9c4009809837a908fc82496d3b6ffa80) is buggy (the spans pointing at `x` shouldn't be there at all):

[code]

Closing in lieu of newer ticket #57775, which has more conversation.

[2019-05-23 00:08] #48427 closed

[2019-05-23 00:09] mati865 commented on #57270
LLVM 8 (the one which Rust is using) was branched in January and it haven't been backported.
Therefore it's still not fixed.

[2019-05-23 00:10] estebank commented on #57775
From #48427, the same behavior is seen for `static`s

[code]

https://github.com/rust-lang/rust/issues/48427#issuecomment-367676264:

[2019-05-23 00:11] estebank commented on #47882
Should have been fixed when #48364 was fixed.

[2019-05-23 00:11] #47882 closed

[2019-05-23 00:12] toothbrush7777777 commented on #57270
@mati865 Thank you for letting me know. Do you know if there are any plans to backport the fixes into Rust's copy of LLVM?

[2019-05-23 00:17] estebank commented on #47648
Current output, still incorrect:

[code]

[2019-05-23 00:20] cramertj opened #61061 "tuples containing #[must_use] types should be #[must_use]"
[code]
gives a warning, but
[code]
does not.

[2019-05-23 00:21] estebank commented on #48758
@petrochenkov should we lint on the shadowing at least? Should we add some way of referring to the method _at all_?

[2019-05-23 00:26] estebank commented on #49566
Current output:

[code]
[code]
[code]

It is close enough, but it needs to be turned into a E0599 instead of a codeless error.

[2019-05-23 00:37] estebank commented on #49839
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7d6b7f1fe257de15dc4b3d64b41155d1) is slightly more misleading:

[code]

[2019-05-23 00:39] mark-i-m commented on #57270
@toothbrush7777777 IIUC we avoid doing that because maintaining the patches on our copy is a pain.

[2019-05-23 00:40] mark-i-m commented on #57270
But the fix is in the LLVM trunk branch, so it should end up in whatever the next version of LLVM is...

[2019-05-23 00:58] estebank commented on #50831
Triage: no change.

We need to supply the line
[code]
in E0408.

[2019-05-23 01:11] estebank commented on #50906
We should be able to query the current background color using [`COLOR`](https://ss64.com/nt/color.html) and adapt the highlighted color accordingly.

[2019-05-23 01:14] cuviper opened #61063 "Failed to build rpm-ostree on ppc64le: multiple definition of `__fixdfdi'"
ref: https://bugzilla.redhat.com/show_bug.cgi?id=1713090

Trying to build [rpm-ostree](https://github.com/projectatomic/rpm-ostree) on Fedora ppc64le now gives:

[code]

We reproduced this with Fedora 29 (with LLVM 7) as well as Fedora 30 and 31 (LLVM 8). It fails consistently with 1.34.2, but strangely it succeeds with 1.34.1. There were no packaging changes between those, apart from the version

[2019-05-23 01:21] TheDan64 opened #61064 "ICE with lifetime'd associated type on stable"
Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8f737364785513fd20d1ef32c1c03bd6

Tested on 1.33, 1.34.2

[2019-05-23 01:23] estebank commented on #51759
NLL Output:
[code]

Without NLL the output remains unchanged.

Changing the signature of `parse` to `fn parse(&'a mut self) -> Option<Packet<'a>>` makes the code compile, and is hinted at (but not suggested) by the NLL output.

[2019-05-23 01:40] estebank opened #61065 "Make `try_into` `const` or don't suggest `try_into` in `const` scope"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b8894ec7cfc59ea133a58714bc2cec3f):

[code]

we suggest writing

[code]

but when we do so, we complain about `try_into` not being `const`:

[code]

[2019-05-23 01:43] estebank opened #61066 "On type mismatch involving fn call, point at fn definition"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=27a5f6a2fb95cd907f8e5511736c82bf)

[code]

we now present:
[code]

We should ideally also point at `foo` and maybe tell the user to consider changing it.

[2019-05-23 01:50] estebank opened #61067 "Point at cause of expectation for type mismatch on `let` assignments with explicit type"
Given

[code]

we present

[code]

We would ideally also point at the assignment's type in the same way we do for type mismatches against a return type:

[code]

[2019-05-23 01:51] #60726 closed

[2019-05-23 01:52] estebank commented on #51767
CC #61065, #61066, #61067 for different parts of the previous comment

[2019-05-23 03:31] Centril commented on #44990
@estebank Added to the tracking issue for list of potential issues to work on; tho since it is preexisting, not as a blocker but a nice-to-have.

[2019-05-23 03:50] estebank commented on #46466
The compiler now suggests wrapping the expression with parentheses. We're tracking the grammar discussion in https://github.com/rust-lang/rust/issues/54482.

[2019-05-23 03:50] #46466 closed

[2019-05-23 04:00] estebank commented on #59074
Current outout

[code]

[2019-05-23 04:02] Centril commented on #57775
@estebank It's the same for all nested items really; STV is the solution to all of them except for maybe impl items.

[2019-05-23 04:03] Centril commented on #58099
@mark-i-m

is not done I believe.

[2019-05-23 04:49] rust-highfive opened #61071 "`rls` no longer builds after rust-lang/rust#60740"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60740, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @petrochenkov, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @nnethercote, the PR reviewer, and @rust-lang/compiler -

[2019-05-23 04:50] jebrosen commented on #55027
So this issue looks fixed. That's great! If I'm bored some time I might bisect and try to find which commit resolved this, but I'm content to close the issue.

[2019-05-23 04:50] #55027 closed

[2019-05-23 05:36] nikomatsakis opened #61072 "async fn + rustfmt don't "just work" inside of RLS"
If you create a new rust project in the RLS and try to use async fn:

[code]

you will get errors from rustfmt that `async fn` is not supported in the 2015 Edition when you attempt to format. This is true even if your project is in Rust 2018. Presumably the RLS is not supplying the correct version information. I view this as a fairly large "user experience" problem.

Note: Probably this should be

[2019-05-23 06:47] lqd commented on #60680
Copying triage results over from each PR:

#### #60914:
[These 87 crates](https://gist.github.com/lqd/aca30ac14e7f8c6b429a87af25c465c8#file-report-deps-md) caused 1859 crates to fail downstream, while [these 54 crates](https://gist.github.com/lqd/aca30ac14e7f8c6b429a87af25c465c8#file-report-crates-md) themselves failed to build.

There is some overlap between these 2 categories: so this PR impacte

[2019-05-23 06:52] Centril commented on #60680
Nominating for lang team (possibly also compiler team for execution) to discuss ^-- and how to proceed with that data.

[2019-05-23 07:20] hellow554 commented on #61064
Backtrace

[code]

There has been a few issues lately with const generics, because the ICE happen altough the feature gate is missing.

Possible dup of https://github.com/rust-lang/rust/issues/60814, https://github.com/rust-lang/rust/issues/60813, https://github.com/rust-lang/rust/issues/60724, https://github.com/rust-lang/rust/issues/60619

[2019-05-23 07:23] hellow554 commented on #60762
@rustbot claim

[2019-05-23 07:24] hellow554 commented on #60762
Ummm.... not what I expected...... @pietroalbini this is not what I expected ^^

[2019-05-23 07:31] #46525 closed

[2019-05-23 07:38] nikomatsakis opened #61076 "suggest `await` for future-related type errors"
A common problem when using async-await is to forget to invoke `.await`. This often shows up as a type error, e.g. in a case like this ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ef1caa955ef1aceadf33aadd348e646c)):

[code]

currently we give a rather generic error:

[code]

it'd be nice if we could suggest adding `.await` somewhere.

[2019-05-23 07:38] nikomatsakis commented on #61076
cc @rust-lang/wg-diagnostics @estebank

[2019-05-23 07:46] pietroalbini commented on #60762
@hellow554 that's the correct behavior: you can't be assigned to the issue directly because GitHub only allows organization members to be assigned to issues. The only way we have to get around that is to assign the bot itself and add a note in the top message that you're actually the one assigned.

[2019-05-23 07:46] gnzlbg commented on #61038
FWIW I think that we should try to do better here.

In stdsimd itself, we just provide different docs of the crates, one for each target. In libc we do the same. But libstd tries to compile libcore/liballoc/libstd for all targets/target-features/... at once, and then generate a single "doc" web-site containing the info for all of them at once, and to present it nicely. The problem itself is hard,

[2019-05-23 07:55] jettylab commented on #40830
Not sure if this is specifically relevant to this issue, but I asked a Rust forum question about randomly failing builds on an NFS mounted volume under MacOS: https://users.rust-lang.org/t/can-rust-builds-be-done-in-an-nfs-mounted-volume/28191.

The advice from @kornel on redirecting `CARGO_TARGET_DIR` is an effective work-around for me for now.

[2019-05-23 08:07] hellow554 commented on #60762
Thanks for the clarification. I haven't seen the *"This issue has been assigned to @hellow554 via this comment."* in the top post. Thanks for that.

[2019-05-23 09:08] petrochenkov commented on #48758
Variants are inherent associated items now, so this should be reported as an overlap error, similarly to
[code]

[2019-05-23 09:21] nikomatsakis commented on #61076
@wycats was reporting a much worse error, but I'm quite sure what he did to encounter it:

![image](https://user-images.githubusercontent.com/155238/58241249-dcfc0080-7d4c-11e9-80fe-fcb69c052839.png)

Probably has something to do with streams?

[2019-05-23 09:35] matthewjasper commented on #51759
Changing the signature will probably break code calling the method though. There isn't a suggestion we can easily provide without more context.

[2019-05-23 09:40] smarnach commented on #60958
This breaks some crates that compiled before, e.g. `dipstick` and `lettre_email`. Just curious, why is this considered acceptable in this case?

[2019-05-23 10:17] #61033 closed

[2019-05-23 10:17] #61022 closed

[2019-05-23 10:35] nagisa commented on #61012
@rkruppe I’m fairly confident it is possible for `a` and `b` to be comparable at a machine level, e.g.

 ```
  static ARR: [u8; 16] = [0; 16];
foo(ARR, ARR);
[code]

making both arguments have the same address. Thus closing as not applicable.

[2019-05-23 10:35] #61012 closed

[2019-05-23 10:49] phil-opp commented on #57270
I thought about doing a backport PR, but the diff is quite large because the patch in [rL354837](https://reviews.llvm.org/rL354837) depends on the refactoring in [rL351616](https://reviews.llvm.org/rL351616) (so we would need to include it too). So I think it's better to wait for the next regular update of Rust's LLVM fork.

[2019-05-23 10:51] jonas-schievink commented on #60958
These cases can be made to work again by locally elaborating types or the used impl (eg. using `<Type as Trait>::method(...)` syntax), so the fallout is easy to fix.

[2019-05-23 10:58] Xanewok commented on #61072
This is one of the cases where RLS is overzealous when it comes to making sure we've picked up a right edition, to the point where it refuses to do any work if it's not 100% sure (and it doesn't pick up the correct edition, which is another case).

To provide some more context on why's that, it's technically possible for a file to fall under *multiple* editions - an edge case where we have separat

[2019-05-23 10:58] fenhl opened #61079 "rustdoc: Automatic light/dark theme"
Websites can now automatically switch between light and dark themes based on system settings using [`prefers-color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme). It would be nice if rustdoc had a theme that looks like the light theme by default but looks like the dark theme in the `@media (prefers-color-scheme: dark)` condition. Since this is backward-compa

[2019-05-23 11:02] Mark-Simulacrum commented on #60958
Specifically, since this is essentially inference breakage it is permitted
per our policies. If there is some reason this causes significant
difficulty for you, though, we'd like to hear about that and may reconsider.

[2019-05-23 11:31] rkruppe commented on #61012
Oh, huh, in retrospect that makes sense (we do the copy to a local stack slot explicitly in the IR, rather than leaving it to the ABI lowering in the backend). Good catch!

[2019-05-23 11:54] RalfJung commented on #60847
I just noticed `push` has another, related problem: as mentioned above, the raw pointer it creates via `self.as_mut_ptr()` is created from an `&[T]`. This slice covers only the already existing elements of the vector, but the pointer arithmetic goes beyond the end of that slice!  This is illegal, just like the following code is illegal:
[code]
This does not currently get caught by Miri because of

[2019-05-23 12:18] pnkfelix commented on #60925
heh. Can/should we special case `llvm` in our mangling algorithm to side-step this?

(are issues like this perhaps an argument for a non-bijective mangling system, to reduce the chance of painting ourselves into corners here?)

 cc rust-lang/rfcs#2603 and #60705

[2019-05-23 12:26] pnkfelix commented on #60925
triage: P-high to resolve our short-term response. Leaving I-nominated in hopes that we discuss at triage today.

[2019-05-23 12:40] pnkfelix commented on #60927
triage: I don't think we're going to try to "fix" the regression here. From the investigation documented above, it seems like acceptable fallout from a soundness fix; a warning-cycle would have been nice, but its not a necessity, and its not going to block the release.

Removing I-nominated tag, and not going to add a priority label. Leaving assigned to @Centril regarding messaging.

[2019-05-23 13:00] pietroalbini commented on #60989
cc @rust-lang/release

[2019-05-23 13:00] Centril commented on #60927
Decided not to include in blogpost or relnotes. Closing therefore.

[2019-05-23 13:00] #60927 closed

[2019-05-23 13:01] pnkfelix commented on #60989
triage: P-high. Leaving I-nominated to discuss at triage meeting in terms of how quickly we might address this.

[2019-05-23 13:13] pnkfelix commented on #61031
in the absence of a log describing the problem, I'm currently guessing that this is possibly due to #59742. (100% guess.)

My understanding is that this sort of breakage is not a "drop everything" kind of problem, but something we do want to resolve in due course.

triage: P-medium. Assigning to self to try to keep track of it. But I suspect @Xanewok will be best suited to do the actual work.

[2019-05-23 13:17] pnkfelix commented on #61031
(its also possible that this was fixed but no one linked this issue from the PR that fixed it...)

[2019-05-23 13:22] TheDan64 commented on #61064
I would think this isn't a const generics issue, but rather an issue with associated types? Since lifetimes aren't currently allowed on the type definition.

[2019-05-23 13:23] pnkfelix commented on #61064
yes, this is a dupe of #60654

[2019-05-23 13:25] pnkfelix commented on #61064
triage: P-medium. Removing nomination since I do not think this needs discussion. Closing as dupe of #60654.

But since this (#61064) and #60654 are clearly biting people (who are then rightfully filing bugs, the compiler is asking them to do so, I'm going to assign both bugs to myself, and hopefully fix (by issuing the error diagnostic but not the ICE).

[2019-05-23 13:25] pnkfelix commented on #60654
assigning to self since its a clear annoyance

[2019-05-23 13:26] #61064 closed

[2019-05-23 13:26] pnkfelix commented on #60654
triage: P-medium.

[2019-05-23 13:37] pnkfelix commented on #61071
triage: P-medium. Removing nomination label.

[2019-05-23 13:46] pnkfelix commented on #60459
this appears to be a stable-to-beta regression ([playpen](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=305ac6d5cc504488d6a79f3f6fb69d75))

[2019-05-23 13:46] pnkfelix commented on #60459
triage: P-high. Assigning to self.

[2019-05-23 13:53] pietroalbini commented on #60989
Manually bisected (by building rustc a few times) locally, the cause is https://github.com/rust-lang/rust/pull/59025.
cc @varkor @rust-lang/compiler

[2019-05-23 13:57] pnkfelix commented on #60929
triage: P-high. Assigning to self. Will likewise triage #60459. Removing nominated tag.

[2019-05-23 13:58] pnkfelix commented on #60929
actually I'll leave nominated tag, since this is for a team other than T-compiler so I don't want to mess with their tags.

[2019-05-23 14:07] hellow554 commented on #61064
Yes, you're right. Haven't payed enough attention. Sorry for that!

[2019-05-23 14:12] Xanewok commented on #61031
Clippy-related breakage, I believe this was specific instance was fixed in https://github.com/rust-lang/rust/pull/61044.

[2019-05-23 14:12] #61031 closed

[2019-05-23 14:18] pnkfelix commented on #60989
triage: discussed at compiler team meeting. We're seeing what we come up with in short term. Removing nomination tag.

[2019-05-23 14:19] Centril commented on #60989
Slight reduction:
[code]

[2019-05-23 14:24] Centril commented on #60989
Maximal reduction:
[code]

[2019-05-23 14:26] pnkfelix commented on #60925
discussed at T-compiler meeting. Got rough approval from @michaelwoerister to put in a lint or something to detect offensive symbols as a short-term hack. The *right* long-term solution will come with the implementation of rust-lang/rfcs#2603 (see e.g. PR #57967 )

[2019-05-23 14:30] davidtwco commented on #60925
@rustbot claim

Assigning to self to implement lint.

[2019-05-23 14:34] pnkfelix commented on #60846
"discussed" at T-compiler meeting. Assigning to self to investigate. Removing nomination tag.

[2019-05-23 14:38] nikomatsakis opened #61083 "failure to normalize associated types in supertraits"
This example does not compile, but I believe it ought to ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=93dea30abcab62e4116dbec77ff37b81)):

[code]

we get the error:

[code]

Note that changing `b` like so compiles ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7a50b8a49862872b76c18ddd41e89587)):

[code]

[2019-05-23 14:46] nikomatsakis commented on #61083
The problem seems to be here:

https://github.com/rust-lang/rust/blob/f688ba608923bdbf6b46ec65af2f6464b6233a75/src/librustc/traits/select.rs#L2163-L2171

`util::supertraits` yields up unnormalized trait references, in particular.

[2019-05-23 14:50] estebank commented on #60459
We need to change https://github.com/rust-lang/rust/blob/d15fc173818ccea6f8d97af13a30d454f9e4b35c/src/librustc/lint/mod.rs#L871 to not consider desugarings coming from `for` loops as external. If that has regressions in our test suite, then we can add a new desugaring kind to differentiate between different parts of the for loop desugaring and target it further, but I do not expect that to be need

[2019-05-23 15:01] estebank commented on #61076
This will be harder to do for chained expessions `future.field_or_resolved_future.execute_new_future()?` that should have been `future.await.field_or_resolved_future.execute_new_future().await?`.

[2019-05-23 15:23] toothbrush7777777 commented on #57270
@mark-i-m So that will be LLVM 9, right? Do you have any idea when that will be finished/copied to Rust's LLVM?

[2019-05-23 15:34] mati865 commented on #57270
LLVM 9 is expected to be released around September 2019, Rust may migrate earlier.

[2019-05-23 16:47] neivv opened #61088 "-C inline-threshold is ignored by LLVM when optimizing for size, while llvm-args=-inline-threshold works"
[code]
Complied with `-C opt-level=s -C inline-threshold=300` produces (same as just `-C opt-level=s`)
[code]
Complied with `-C opt-level=s -C llvm-args=-inline-threshold=300` produces
[code]
([Godbolt link](https://godbolt.org/z/nm1weX))

[The cause appears to be that LLVM keeps using a separate inlining threshold from the "primary" one given by rustc on functions with `optsize` attribute, but on

[2019-05-23 16:58] lu-zero opened #61089 "--print=native-static-libs should behave as the other --print commands and not create output"
It creates `.a` instead.

[2019-05-23 17:05] cuviper commented on #61063
I missed something -- I actually added `--set rust.codegen-units-std=1` in that build too.

In the official builds, this option was added and enabled in commit b8f977a8a7ab9 of #55264, which made it to release in 1.32.0. So this appears to be the important factor in the regression.

cc @michaelwoerister @Mark-Simulacrum from that PR.

[2019-05-23 17:13] eddyb commented on #61015
@RalfJung Any potentially-drop-needing source-level assignment of an already-initialized place should result in a `DropAndReplace` - e.g. `let mut s = String::new(); s = String::from("foo");`.
AFAIK (but @arielb1 / @pnkfelix might know better), the `DropAndReplace` is rewritten in drop elaboration to a `Drop` (of the previous value) followed by an `Assign` (of the new value).

[2019-05-23 17:14] eddyb commented on #61015
Oh, also, #61060 is open now (and @RalfJung already left a comment on it: https://github.com/rust-lang/rust/pull/61060#issuecomment-495133155).

[2019-05-23 17:27] nemosupremo opened #61090 "Rustc panics during build with `cannot convert `ReScope(Destruction(847))` to a region vid`"
I was trying to compile my application - and unfortunately I've made a large number of changes between the last time I could get it to build so figuring out that is going on will be tough (I'm also newer with Rust). I'll take a look at #51351 and see if I have any similar constructs in my program

I am simply running this command:
[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[c

[2019-05-23 17:28] Centril commented on #61090
cc @matthewjasper @pnkfelix

[2019-05-23 17:41] eddyb commented on #60925
I'm not sure we should throw a lint at this.
We can replace the `l` in `llvm` with `$6c$`, and eixsting demanglers should be able to cope with it.
(We should've done this the first time, but because it was affecting rustc at that point, it would've caused further delays)

[2019-05-23 17:54] spastorino commented on #57431
@rustbot release-assignment

Just figured that I was still assigned to this.

[2019-05-23 17:55] matthewjasper commented on #61090
Does this still fail on nightly/beta? (1.36.0)

[2019-05-23 18:06] cramertj commented on #61076
@nikomatsakis Looks like @wycats's error was the same, it's just that the output type of the future is more complicated (`Pin<Box<Stream<Item = Value> + Send + 'static>>`).

[2019-05-23 18:10] cramertj commented on #61072
Hey @Centril you're tagging all of this issues as async/await blocking -- can you explain why that is? IMO bugs in editors and things shouldn't block stabilization of async/await.

[2019-05-23 18:13] Centril commented on #61072
Per Niko's note:

[2019-05-23 18:22] he32 opened #61091 "NetBSD can no longer cross-compile rust since 1.34.2"
I'm trying to maintain a package for `rust` in NetBSD's pkgsrc collection.
I'm habitually cross-building the NetBSD armv7, sparc64, powerpc and i386 targets
cross-built from NetBSD/amd64 8.0.

The last successful cross-build I managed to do was of 1.34.0.
The package itself has been upgraded to 1.34.2, and native builds on
i386 (i686), amd64 and powerpc all manage to complete their builds.
However

[2019-05-23 18:48] nemosupremo commented on #61090
I apologize - I don't think this report is very useful. I should have tested nightly first. What ended up happening is I decided to comment out modules, one by one in my code base to see if I could isolate the piece of code that was causing this error. Once I commented out the first module, I began getting borrow check errors in another separate module preventing my from compiling the program (bas

[2019-05-23 18:56] Centril commented on #61061
@joshtriplett suggested that we test this out with crater to see if this would generate much substantial noise and how common it would be.

[2019-05-23 19:09] smarnach commented on #60958
@Mark-Simulacrum Thanks for your response. This doesn't cause any problem at all for me – I was just curious about what kind of breakage is permitted and what isn't. I found the commitments in [this blog post](https://blog.rust-lang.org/2014/10/30/Stability.html#what-are-the-stability-caveats) as well.

[2019-05-23 19:13] cramertj commented on #57996
Okay-- I'm excited about the idea of an `unused_attribute` lint for this. However, seeing as this is already an issue on stable with `#[repr(align(X))]` on structs, I don't think we should block stabilization of this feature on the lint, and I think that the rest of @rust-lang/lang agrees. I believe @Centril is planning to write up a stabilization proposal.

[2019-05-23 19:16] cramertj commented on #61061
I'd expect it'd be a pretty substantial source of warnings, but that's exactly why I think we should introduce it. People compiling with `#![deny(warnings)]` are *asking* for these sorts of bugs to be caught, and we should serve them appropriately ;)

In any case, running crater would require having an implementation to do a crater run on, so let's do it!

[2019-05-23 19:18] estebank commented on #60989
The stable backport #61085 will land soon, will still need to be addressed in master _and_ beta.

[2019-05-23 19:18] eddyb commented on #31287
@landaire Yeah but shouldn't Rust 2018 turn on the NLL borrowck in its full mode?
Unless `BorrowckMode::Mir` was never on stable and the `Compare` mode was enabled for 2015 recently?

[2019-05-23 19:22] matthewjasper commented on #31287
it wasn't.

[2019-05-23 19:29] atorstling commented on #39959
Same error with a struct instead of `Vec`. I couldn't repro with any other trait than `Sized` though.

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9d2369593fd03ebca1d5af1454d4490a)

[2019-05-23 19:58] scottmcm commented on #61061
Let's do it.  (I'd personally even like an attribute to allow people to opt-in to this for `Option<T>`, for example, when T is itself `must_use`.)

[2019-05-23 19:59] scottmcm commented on #60876
A rustfix-able lint for this (along the line of `unused_parens`, etc) sounds great.  (Not an error, of course.)

[2019-05-23 20:18] pietroalbini commented on #60989
As I wrote in https://github.com/rust-lang/rust/pull/61085#issuecomment-495358876 this didn't make in 1.35.0. Someone needs to forward-port the change to master and beta-nominate it.

[2019-05-23 20:25] gnzlbg commented on #60639
For that `len` method to be safe, it would need to panic if `*mut [T]` is null, and it would either need to panic if the pointer is not properly aligned, or do an unaligned ptr read of the len.

[2019-05-23 20:26] Centril commented on #54912
I think it would be good to fix this so that we treat `const _: T = expr;` as we do with `extern { .. }` and `foo!();` in an item position right now. That is, it doesn't have a name, and we don't gensym. That might perhaps involve having `Option<Ident>` in the `hir::Item`.

[2019-05-23 20:30] RalfJung commented on #60639
@gnzlbg why that? A `*mut [T]` is a `(*mut T, usize)`, and to read the `usize` we don't care if the pointer is NULL or unaligned.

[2019-05-23 20:35] petrochenkov opened #61097 "Move unit tests into separate files unconfigured during normal build"
One of the most annoying parts of compiler refactorings is suddenly discovering that after a refactoring change some code in unit tests stops building.

Compiler unit tests are mostly old, many of them are not really "unit" and need to be migrated to regular ui testing or removed, but that's not the point of *this* issue.
The point of this issue is that after changing such test you have to restart

[2019-05-23 20:40] varkor commented on #60459
@pnkfelix: I've opened https://github.com/rust-lang/rust/pull/61098 with a fix, based on @estebank's comment.

[2019-05-23 20:48] jonas-schievink commented on #59750
This made its way to 1.35.0 now

[2019-05-23 20:56] Centril commented on #59750
Given that it went into stable and in the blog post, this is non-actionable and therefore I'm closing as wontfix.

[2019-05-23 20:56] #59750 closed

[2019-05-23 21:18] gnzlbg commented on #60639
I was missing this, makes sense.

So does this mean that if the pointer is NULL, the len must be zero, or else the pointer is invalid ?

[2019-05-23 21:46] fakenine commented on #60532
Hello, I would like to work on this one! cc @varkor

[2019-05-23 21:50] varkor commented on #60532
@fakenine: I'm not sure of a principled way to go about this, but you can look in the compiler for error messages (coming from `span_err` and similar functions) and update any that have code in them to be surrounded by backticks. Running `x.py test src/test/ui --bless` then should update all the test files.

[2019-05-23 21:56] alexreg commented on #60532
Thanks @fakenine, sounds good.

[2019-05-23 21:57] varkor commented on #61061
I've opened a pull request to try this out: https://github.com/rust-lang/rust/pull/61100.

[2019-05-23 22:00] alexreg commented on #60532
Unfortunately a lot of this will have to be done manually as @varkor hints at, but a good deal can be automated by searching with regexps, e.g. ``".*[^`]#\[\w+`` will find lines including a string terminator followed (eventually) by an attribute, where the attribute is not preceded by a backtick. You can probably make a shortlist of similar patterns and then create regexps for them.

[2019-05-23 22:02] Centril commented on #61061
We discussed this on the language team meeting; folks felt generally positive, but we'd like to do a crater run to see what the impact would be like and if there would be many false positives.

[2019-05-23 22:05] Centril commented on #60876
We discussed this in the language team meeting today. People felt generally positive about such a lint. However, we would like to not lint on `return/break/continue;` and `return/break x;` specifically.

[2019-05-23 22:13] Centril commented on #60680
We did not get to discuss this on the language team meeting. Revisiting next time.

[2019-05-23 22:19] matthewjasper commented on #61090
Closing as inactionable.
@nemosupremo please open a new issue of you run into this again.

[2019-05-23 22:19] #61090 closed

[2019-05-23 22:57] varkor commented on #60876
@hbina: I can give more detailed mentoring advice later, but for now: take a look at an existing lint (e.g. `UNUSED_MUST_USE`). If you search the compiler source for that, you'll find a bunch of places you need to modify to add a new lint. You'll want to add a new lint type (e.g. `REDUNDANT_SEMICOLON`) and add a new pass that checks for an empty statement — you'll need to work out what this looks

[2019-05-23 22:57] fxn opened #61101 "Ambiguity variable/value in the guessing game section of the book"
Hi! I am absolutely new to Rust.

I have started reading the book online, and after introducing the concept of mutable and inmutable _variables_ in the chapter where the guessing game is developed, the explanation for

[code]

is that you need to pass to `read_line` a mutable _string_.

This is not consistent with the wording so far, I believe. We have defined what is a mutable _variable_. I inter

[2019-05-23 23:30] clarfon commented on #51860
I don't know if that really fixes this-- I think the constructability should be documented in addition to the definition.

[2019-05-23 23:49] retep998 commented on #60845
Windows paths are not byte sequences. They are u16 sequences, which Rust converts into wtf-8.

[2019-05-24 01:03] chansuke commented on #61097
I'd like to work on this.

[2019-05-24 01:37] memoryruins commented on #54910
After setting `bare_trait_objects` to `warn` and running `--bless` on the tests,  300+ ui stderr files changed due to the warnings (expected after seeing the output from [the previous PR](https://travis-ci.com/rust-lang/rust/jobs/188435612) ).

If there is still interest to see a crater run with `deny` set, I think it's possible to run crater without CI tests passing as long as if the build succee

[2019-05-24 01:37] estebank opened #61106 "Detect `AString.clone()` when `&str` is needed and emit appropriate suggestion"
On type mismatch with a suggestion to borrow in order to dereference a `String` into a `&str`, we should notice unnecessary `.clone()` calls:

[code]

and suggest their removal:

[code]

_From https://thenewwazoo.github.io/clone.html_

[2019-05-24 01:42] estebank opened #61108 "Suggest borrowing when "value moved here" points at for loop head"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8c80e1c92827c88e510a619a79a147be)

[code]

we should suggest borrowing `bad_letters`:

[code]

This could potentially be incorrect without further analysis, but it should be correct in the majority of the cases that newcomers would face.

_From https://thenewwazoo.github.io/clone.html_

[2019-05-24 01:45] estebank opened #61109 "Suggest `as_ref()` in E0507 if applicable"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8524415389b142d87a17f9056c4a7aca):

[code]

`rustc` should suggest using `selection.1..as_ref()`:

[code]

cc https://github.com/rust-lang/rust/pull/51100, https://github.com/rust-lang/rust/pull/57158

_From https://thenewwazoo.github.io/clone.html_

[2019-05-24 03:07] #33570 closed

[2019-05-24 03:07] #61039 closed

[2019-05-24 03:07] #60459 closed

[2019-05-24 04:01] KyleMayes commented on #25647
It seems to work now.
Plus, `FnBox` is no longer needed in the latest stable version.

[2019-05-24 04:01] #25647 closed

[2019-05-24 06:30] shyaamsundhar opened #61112 "Rust version 1.35.0 - rustc error after update"
Hello,
I just updated rust to 1.35.0 using rustup. After updating I tried to check the version using rustc command, But I got the following error:
![image](https://user-images.githubusercontent.com/6845982/58307113-49ddcc00-7e1b-11e9-9dbf-50bced39f061.png)

The OS is Windows 10 (1709)

Kindly let me know if any additional details are needed.

[2019-05-24 06:51] dtolnay commented on #61001
Confirmed.

I would like to push back on this. For both declarative macros and proc macros, I prefer the current behavior over what is proposed. We already have experience with the proposed model because this used to be how doc comments in proc macros worked around 1.26-nightly, and it was a big mess for macros. We intentionally switched to the current system in #49545.

Is there any other way tha

[2019-05-24 07:01] SimonSapin commented on #28796
PR to add a deprecation warning: https://github.com/rust-lang/rust/pull/61113.

We can remove `FnBox` entirely and close this issue a couple release cycles after this lands.

[2019-05-24 07:12] fakenine commented on #60532
Thanks for the tips, I will look into that!

[2019-05-24 07:42] Seeker14491 opened #61115 "unused-lifetimes lint false-positives with async functions"
Async functions that take references seem to always trigger the `unused-lifetimes` lint (which is allow-by-default). Example:

[code]

[code]

[2019-05-24 07:51] RalfJung commented on #60639
It's a raw pointer, I don't think we are making any such requirements. Both pointer and integer can be just about anything that a `*mut T` or `usize` can be.

[2019-05-24 08:24] mati865 commented on #61112
Are you using msvc or gnu version?

[2019-05-24 08:24] petrochenkov commented on #61097
Test modules beside `test`/`tests`:
[code]

[2019-05-24 08:35] mati865 commented on #61045
`rust-docs` component is unavailable on most of (all?) tier 2 platforms: https://rust-lang.github.io/rustup-components-history/aarch64-unknown-linux-gnu.html
I don't know the details here but it's probably related to lack of CI time.

[2019-05-24 08:40] Seeker14491 commented on #61115
I found [this clippy issue](https://github.com/rust-lang/rust-clippy/issues/3988) which describes basically the same problem.

[2019-05-24 08:44] GuillaumeGomez commented on #51860
@clarfon Not sure to understand your point...

[2019-05-24 09:06] pnkfelix commented on #31287
@eddyb [wrote](https://github.com/rust-lang/rust/issues/31287#issuecomment-495350124):

See also #58781.

In particular is mention there of making full NLL mode the default for the 2018 edition on its own (vs doing that for all editions *en masse*).

[2019-05-24 09:51] ohadravid commented on #59875
I tried [playing](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e85229ea9904d34f9c03fbaff4cede62) with something similar to fix another invariance [problem](https://www.reddit.com/r/rust/comments/bs6rpz/variance_and_double_cow/) I encountered, and I think there is another small problem with this workaround:
It makes custom implementations (outside the defining crate) less

[2019-05-24 09:58] petrochenkov opened #61117 "Some tests fail when built with debuginfo"
The lists of failing tests are below, testing was done on `x86_64-pc-windows-gnu` target.

[2019-05-24 09:59] petrochenkov commented on #61117
Tests failing with `debuginfo-level-tests = 2`:
[code]

[2019-05-24 09:59] petrochenkov commented on #61117
Tests failing with `debuginfo-level-tests = 1`:
[code]

[2019-05-24 09:59] shyaamsundhar commented on #61112
I was using msvc.

Additional information:
After update the rustup command also seems to have been removed.

![image](https://user-images.githubusercontent.com/6845982/58320189-bd420680-7e38-11e9-85bc-7a68ecc3412a.png)

[2019-05-24 10:16] mati865 commented on #61112
Check if you still have `%userprofile%/.cargo/bin` in your PATH and try running rustup directly from there.

@rustbot modify labels: +O-windows-msvc

[2019-05-24 10:16] shyaamsundhar commented on #61112
Okay. To solve this, all I had to do was download rustup-init.exe from rust lang website and install again.
Now problem solved. Closing this issue.

![image](https://user-images.githubusercontent.com/6845982/58321181-19a62580-7e3b-11e9-9ef2-3148f1752498.png)

[2019-05-24 10:16] #61112 closed

[2019-05-24 10:31] petrochenkov commented on #61117
cc @michaelwoerister @nagisa

[2019-05-24 11:18] dhardy commented on #51860
@GuillaumeGomez depends on how you view the generated documentation — it's essentially a prettier, filtered version of Rust code, excepting the declarations which are not prettified (merely filtered). The declarations are available in the docs because they contain information which is not otherwise available — this information could be presented in a prettified manner, finally making the declarati

[2019-05-24 11:24] spastorino commented on #50592
@rustbot release-assignment

[2019-05-24 11:24] spastorino commented on #47575
@rustbot release-assignment

[2019-05-24 11:37] pnkfelix commented on #59548
So there's a couple interesting things here:

First: the ICE itself originates here:

https://github.com/rust-lang/rust/blob/46805805abe58c287fa16963f897fd09d5d97467/src/librustc_codegen_llvm/consts.rs#L100-L106

...

https://github.com/rust-lang/rust/blob/46805805abe58c287fa16963f897fd09d5d97467/src/librustc_codegen_llvm/consts.rs#L119-L123

i.e., the ICE is happening because we aren't providing

[2019-05-24 11:40] michaelwoerister commented on #61117
Since debuginfo influences what LLVM IR the compiler generates, I'm not surprised. I think that codegen tests should not inherit any debuginfo settings from the environment.

[2019-05-24 12:09] oli-obk commented on #60989
I'll create the appropriate PRs over the weekend

[2019-05-24 13:08] pnkfelix commented on #59548
Okay so it turns out that its pretty trivial to fix the first problem I mentioned above. I'll have a PR up with that shortly.

It is probably also easy to fix the second problem, but such a change is a *little* bit more risky, since it will "break" hypothetical code that compiles today (namely, code that defines a static with some `#[linkage]` but never uses that static. So I'll make sure to put t

[2019-05-24 13:37] pepyakin opened #61119 "Stabilize `std::arch::wasm32::unreachable`"
This is a tracking issue to stabilize [`std::arch::wasm32::unreachable`]
The tentative signature is:

[code]

# Semantics

This intrinsic represents instruction that is present in the MVP of WebAssembly: [`unreachable`](https://webassembly.github.io/spec/core/exec/instructions.html#exec-unreachable).

From the surface it is a simple instruction: it doesn't take any arguments nor return anything. U

[2019-05-24 13:40] eddyb commented on #54912
You don't need `Option` because `extern {...}` and `foo!();` already work with `ident: Ident` in `{ast,hir}::Item` (via the "`Invalid`" "keyword", aka `Symbol::intern("")`).

[2019-05-24 13:58] mathstuf commented on #60845
Right, but what I get from `git ls-files` is a series of bytes. If the API requires that I batch them into u16 code units (with undefined endianess :/ ) or do some wtf-8 encoding process manually before passing to the "give me a Windows path" API, that's fine. It's understandable that the "here's an `A` path, give me a `W` path" is not implementable without Windows APIs due to code pages and the l

[2019-05-24 14:14] alexcrichton commented on #61119
@rfcbot fcp merge

Seems reasonable to me to stabilize!

[2019-05-24 15:06] mominul commented on #55514
When will be the new HashMap implementation(`hashbrown`) stabilized?

[2019-05-24 15:07] jespersm commented on #45268
When does a bug like this get merged to stable?

[2019-05-24 15:10] lnicola commented on #55514
@mominul On July 4th, in 1.36, if I recall correctly.

[2019-05-24 15:14] sanxiyn commented on #45268
It takes 3 months unless explicit backport is done.

[2019-05-24 15:27] SimonSapin commented on #61119
Is this the same as `core::intrinsics::abort`? Should we have a stable portable function for this in libcore?

[2019-05-24 15:36] mark-i-m opened #61124 "Bad lint suggestion: `'_` in type definition"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=af7140af40052d9c78faf8897ce19525

[code]

[code]

Except that using `'_` is not allowed in the type definition...

[2019-05-24 15:38] ExpHP commented on #45268
Every three months, the current master becomes the new beta, and the current beta becomes the new stable.

Therefore, any change takes 3-6 months to get into stable, depending on is timing.  Since a new version of rust was just released, it should be 3 months for this change.

[2019-05-24 15:40] #52179 closed

[2019-05-24 15:40] fan-tom commented on #55584
I also get stuck with precision in debug formatting, I want it because sometimes print is tooo long and I want to just, for example, see what is top-level enum variant, Is there any way to set precision for whole debug output, something like `{{:?}.<prec>}}`, here I want to get debug print and take only first <prec> characters. I know I can hand-write Debug implementation, but I'm too lazy)

[2019-05-24 15:42] alexcrichton commented on #61119
It [is indeed the same](https://github.com/rust-lang-nursery/stdsimd/blob/b7cb47b6d91592b1a2404ec2c7cf3c2ff278498f/crates/core_arch/src/wasm32/mod.rs#L21-L26), but there have been concerns about stabilizing `intrinsics::abort` historically due to some architectures not actually having an abort instruction (I think it was like msp430 or something like that)

[2019-05-24 16:07] pepyakin commented on #61119
I guess almost all of MCUs don't have such an instruction. Maybe @japaric can confirm this?

[2019-05-24 16:36] RalfJung commented on #61015
AFAIK (but @arielb1 / @pnkfelix might know better), the DropAndReplace is rewritten in drop elaboration to a Drop (of the previous value) followed by an Assign (of the new value).

I see, thanks. I guess we do guarantee that this keeps the address stable? Seems strange not to. And indeed see [this example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0a3b5baff5e039db873a

[2019-05-24 17:13] eddyb commented on #61015
I talked some more with @tmandry and it seems like this entire direction arose from the assumption that it would be easier than inserting `StorageDead`s on the unwind path.
But `StorageDead` in unwind (aka "cleanup") blocks is much easier to ignore (e.g. in LLVM codegen), if necessary, compared to ignoring the extra semantics attached to `Drop`s when they don't apply.

So I think we should just in

[2019-05-24 17:15] RalfJung commented on #61015
I'm certainly in favor of explicit `StorageDead` over implicit side-effects. :)

[2019-05-24 17:18] catastrop commented on #61013
they created rust because c++ isn't good enough for their need. If c++ is bad why they use llvm?

[2019-05-24 17:32] jonhoo opened #61129 "Tracking issue for std::mem::take"
This tracks the stabilization of this function added by PR https://github.com/rust-lang/rust/pull/61130 in `std::mem`:

[code]

Original feature request:

-----

I decently often find myself in a position where I have a `HashMap`, `Vec`, or some other non-`Copy` type I want to "take" from its current location, but cannot because I only have `&mut self`. A particularly common place for this to happ

[2019-05-24 17:36] Centril commented on #61129
Seems like a reasonable addition to me 👍

[2019-05-24 17:49] abonander commented on #61129
I've written this helper in projects before as `replace_default()` which is clearer but is more verbose.

[2019-05-24 17:55] jonhoo commented on #61129
Implemented in https://github.com/rust-lang/rust/pull/61130

[2019-05-24 17:58] petrochenkov commented on #61129
`mem::swap` also works.
That's what C++ did before moves were introduced, because "taking" the value and leaving something cheap but valid instead is exactly that.

"Something cheap but valid" is not necessarily `Default`, so in C++ it's leaved to decide to the type itself and Rust analogue would be something like
[code]
Default implementations for `T: Copy` and `T: Default` types are possible, ex

[2019-05-24 18:00] jonhoo commented on #61129
@petrochenkov not sure what you mean? I don't think you can do this with `mem::swap` without separately producing the value in the caller?

As for adding a trait, we _could_ totally do that, though `Default` seemed like a decent candidate for filler value to me. Can you think of types where you would _not_ want `Default`, but there is some _other_ acceptable filler value?

[2019-05-24 18:08] petrochenkov commented on #61129
@jonhoo

Trivial example - for any `Copy` type it's faster to just memcpy it than e.g. memcpy + reset the origin to default value.
Can't give a non-copying example right away, need to think.

[2019-05-24 18:16] oli-obk commented on #32777
@GuillaumeGomez 	there are new error codes that do not have boxes yet

[2019-05-24 18:21] oli-obk commented on #34421
Diagnostics meeting triage: lowering priority as the current error is pretty good, even if not ideal yet.

[2019-05-24 18:22] oli-obk commented on #42226
Triage: no change in diagnostics, tagging as needs suggestions

[2019-05-24 18:26] oli-obk commented on #44933
Diagnostics triage: P-low, as it's fairly clear what's going on, just not a great diagnostic message

[2019-05-24 18:29] oli-obk commented on #45092
Diagnostics triage: just needs changing the wording to something that gives a clearer message.

[2019-05-24 18:32] oli-obk commented on #50028
tracked in https://github.com/rust-lang/rust/issues/32777

[2019-05-24 18:32] #50028 closed

[2019-05-24 18:33] oli-obk commented on #50195
Triage, current output:

[code]

[2019-05-24 18:37] GuillaumeGomez commented on #32777
I think this issue is completely out of date since a moment... Should we open a new one instead?

[2019-05-24 18:39] oli-obk commented on #51759
Diagnostics triage: It's not clear that we can suggest anything here to the user and it would at least be very hard to do. Closing as wontfix

[2019-05-24 18:39] #51759 closed

[2019-05-24 18:43] oli-obk commented on #54256
Diagnostics triage: we believe this issue can be resolved by explaining *why* something is being borrowed instead of just *where*. Will need some digging in the NLL diagnostics machinery.

[2019-05-24 18:47] Manishearth commented on #32777
Yeah, go for it
-Manish Goregaokar

On Fri, May 24, 2019 at 11:38 AM Guillaume Gomez <notifications@github.com>
wrote:

[2019-05-24 18:47] oli-obk commented on #54985
Diagnostics triage: marking as E-easy since it's just removing the suggestion

[2019-05-24 18:48] oli-obk commented on #57642
Diagnostics triage: this is not a diagnostics issue

[2019-05-24 18:51] oli-obk commented on #60603
Diagnostics triage: not really a diagnostics issue per se, but a trait solver issue. Marking as hard.

[2019-05-24 19:11] oli-obk commented on #59346
We just had our first wg-diagnostics meeting and think that a good first step would be to create a new (unstable) diagnostics renderer (we have json, short and human right now). Basically it would use the existing diagnostics backend to call into annotate-snippets.

We can then create a way to run `ui` tests with the new backend and see how the output changes and circle back to changing `annotate-

[2019-05-24 19:20] zbraniecki commented on #59346
Yes! I'd love to hand it over to the Rust team and would be happy to see contributions or hand over to new maintainer if that's better for you! I will continue using it for fluent-rs, but I feel like the crate supports all my direct needs while it will need more features for Rust I believe (since Rust errors are more complex!)

[2019-05-24 19:24] oli-obk opened #61132 "Make diagnostics emitting independent of the happy code path"
In our first @rust-lang/wg-diagnostics 	meeting [on zulip](https://rust-lang.zulipchat.com/#narrow/stream/147480-t-compiler.2Fwg-diagnostics/topic/meeting.202019-05-24/near/166479945) we figured that a first start would be to create a new trait

[code]

that is implemented for structs containing all relevant info for a diagnostic, e.g.

[code]

and then the code that currently constructs the diagn

[2019-05-24 19:39] retep998 commented on #60845
The best you can hope for is getting utf-8 from git, but it won't support paths with lone surrogates. The worst case is git using the system narrow encoding on which case everything is awful.

[2019-05-24 20:03] mathstuf commented on #60845
From Git, yes (well, it actually supports arbitrary bytes, but that's part of what I'm trying to check and reject here). It obviously can't encode surrogate halves unambiguously anyways since it is basically byte arrays. However, there are other use cases for this. For example "is this path absolute?", "what is the directory separator?", or "please join these path components".

[2019-05-24 20:18] AxelNennker opened #61133 "no method named `join` found for type `&[std::ffi::OsString]`"
I think join should be implemented for arrays of OsString.

@alexcrichton implements something similar here:
https://github.com/alexcrichton/cc-rs/blob/master/src/lib.rs#L2269

Would be nice if that code would be just `self.args.join(' ')`

[2019-05-24 20:18] GuillaumeGomez commented on #32777
Ok!

[2019-05-24 20:45] bmwill commented on #60958
I hit this problem today when trying to update to the latest nightly release when one of my dependencies (rustyline) depended on this behavior.  Because of this I'm unable to update because I don't control the dependency.

[2019-05-24 20:46] GuillaumeGomez opened #61137 "Add missing long error code explanations"
This is a re-opening of #32777.

## Explanations

Those error codes and their explanations are declared in files named `error_codes.rs`. In those files, you can see generally two macros: `register_diagnostics` and `register_long_diagnostics`. If an error code is in `register_diagnostics`, it means it lacks long error explanation. The goal of this issue is to add those missing explanations!

This i

[2019-05-24 20:46] GuillaumeGomez commented on #32777
Closing in favor of #61137.

[2019-05-24 20:46] #32777 closed

[2019-05-24 20:56] czipperz commented on #60223
I think it would also be nice to add something to the `skip` documentation.  How about this?

[2019-05-24 21:03] czipperz commented on #61133
Is there a join method for String?  I don't see it in the [rustdoc](https://doc.rust-lang.org/std/string/struct.String.html).

[2019-05-24 21:09] czipperz commented on #61133
Mmh it is located in [SliceConcatExt](https://doc.rust-lang.org/std/slice/trait.SliceConcatExt.html)

[2019-05-24 21:17] mark-i-m opened #61139 "Reimplement rustc::ty:print::obsolete with custom PrettyPrinter"
As per @eddyb in https://github.com/rust-lang/rust/pull/61062#discussion_r287073229

[2019-05-24 21:18] mark-i-m commented on #61139
@rustbot modify labels: +C-cleanup

[2019-05-24 21:20] #51385 closed

[2019-05-24 21:25] mark-i-m commented on #60587
Closing in favor of #61053

[2019-05-24 21:25] #60587 closed

[2019-05-24 21:47] ExpHP commented on #61133
It wouldn't be able to be generic over `AsRef<OsStr>` like the existing `AsRef<str>` impl is, because it would overlap.

[2019-05-24 21:50] Gankro commented on #55514
Closing: performance was explored, it was excellent, it is now the implementation of std::collections::HashMap (and Set).

[2019-05-24 21:50] #55514 closed

[2019-05-24 22:13] cr1901 commented on #47048
I upgraded to `1.35.0` today and this did _not_ solve the issue. I receive the following error when linking the code in the original post:

[code]

I copied the libraries just fine it seems:
[code]

The C link demonstrated in the original post works fine:
[code]

GCC version is 7.3.0:
[code]

And here is my `~/.cargo/config`:
[code]

Am I missing something obvious to get Rust working again?

[2019-05-24 22:30] czipperz commented on #61133
`String` doesn't implement `Borrow<OsStr>` so I don't think this will be a problem

[2019-05-24 22:55] jhwgh1968 commented on #60223
@DevQps, in case it wasn't clear or you are not watching your GitHub notifications, I approve of both your and @czipperz's suggestions. I look forward to the PR!

[2019-05-24 23:18] Manishearth commented on #59346
@zbraniecki if you give me admin access to the repo I can migrate it.

[2019-05-24 23:20] ExpHP commented on #61133
Yes it does...

[2019-05-24 23:21] ExpHP commented on #61133
Oh, you're right.

[2019-05-24 23:21] mati865 commented on #47048
It's still not fixed and this workaround is recommend.

[2019-05-24 23:28] czipperz commented on #61133
You are correct if it was using `AsRef` ironically

[2019-05-24 23:31] cr1901 commented on #47048
But the workaround _did not_ work. Even after I copied the relevant libraries, I still get the ` undefined reference to `__imp___acrt_iob_func'` error, among others. The information in my previous message is to try to isolate why the workaround didn't work.

Anyways, I'm fully upgrading my msys2 distribution to see if this helps.

[2019-05-24 23:57] MarkMcCaskey opened #61141 "cleaner output when dbg!() is given a literal value"
Hello!  I'm unsure if this should be an RFC but it seems similar to #57845, so I'll start by filing an issue here.

## The problem

Often I end up writing `dbg!` code with constant values, usually strings, to trace control flow.

[code]

The output is a bit noisier than I'd like.
`[lib/emscripten/src/syscalls/unix.rs:826] "Start loop" = "Start loop"`

## The solution

Detect if the argument to the

[2019-05-25 00:20] zbraniecki commented on #59346
Invited!

[2019-05-25 00:25] Manishearth commented on #59346
I can push but I can't move. Hmm.

Maybe transfer the repo to me and then I can transfer it to rust-lang?

[2019-05-25 00:27] mati865 commented on #47048
It could mean you have to copy more libs like `libmsvcrt`, `libmingw*` when using not latest mingw-w64 or there is discrepancy between your crt and it's headers.

[2019-05-25 00:36] BaoshanPang opened #61142 "cargo has to be installed before buildng rust from source code?"
In README.md, there is:

But later it also says:

So for the 'cargo' used above, where it comes from? Do we have to instal cargo before building rust from source code?

[2019-05-25 00:41] sanxiyn commented on #45268
Eh no. master->beta and beta->stable happens every 1.5 months. So 3 months is correct.

[2019-05-25 00:43] zbraniecki commented on #59346
I tried to transfer to you

[2019-05-25 00:50] Manishearth commented on #59346
Done! https://github.com/rust-lang/annotate-snippets-rs

[2019-05-25 01:03] edef1c commented on #45323
@SimonSapin Sorry, yes, I meant `BufRead`. For my use cases, not having a lower bound is fine. Anything that does can use a marker subtrait that encompasses that guarantee.
I think the only stipulation should be that it not provide *more* than `fill_buf`, but less is fine. For example, an implementation might copy existing data around on `fill_buf` to make a larger contiguous segment, but can't/sh

[2019-05-25 01:10] estebank commented on #60979
I think this is on purpose. We've faced multiple bugs when pointing at a span that corresponds to macros. In this case the second span points at the inside of the `print` macro, so `rustc` avoids showing suggestions for it. There are other recent tickets with problems caused by this. We can remove the compiler desugaring from the span and that would cause the suggestion to be emitted, but this is

[2019-05-25 01:39] lfairy opened #61145 "rustdoc --theme-checker panics when given an empty file"
When I run the following commands:

[code]

Rustdoc outputs the following:

[code]

I would have expected it to output a list of missing rules, without panicking.

## Meta

`rustc --version --verbose`:

[code]

[2019-05-25 01:51] czipperz commented on #27747
Ping @aturon

[2019-05-25 01:56] czipperz commented on #27747
Is there a reason this trait isn't implemented for `OsString` and `CString`?

[2019-05-25 02:13] lachlansneff opened #61148 "What about a `Take` trait?"
I saw issue #61129, and thought that it might be a good idea to generalize it.

The prelude could export a new trait called `Take`.

[code]

A lot of types could implement it, `Vec<T>` for example. The `take` method on `Option<T>` could be moved into this trait, etc.

The `Take` trait could even be implemented for every type that implements `Default`:

[code]

[2019-05-25 02:14] lfairy commented on #61145
`load_css_paths` doesn't have any indexing operations, so I suspect the error comes from an integer overflow here:

https://github.com/rust-lang/rust/blob/dec4c5201f88efbc3020b04ba96a5ee2c3b6cfcd/src/librustdoc/theme.rs#L113

When `v` is empty, `v.len()` is `0usize`, and we can't subtract one from that.

An easy fix would be to change that `- 1` to `.saturating_sub(1)`.

[2019-05-25 02:35] estebank commented on #15457
Output with #61147 applied:

[code]

If applying the suggestion, we'll emit

[code]

[2019-05-25 02:39] estebank commented on #9607
It would be interesting implementing the behavior and make a crater run to see if there would be significant impact in the ecosystem.

[2019-05-25 02:55] estebank commented on #46413
[The current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=3bcacde3dc4ea8017c6c6165899b28cf) for [the code in the first comment](https://github.com/rust-lang/rust/issues/46413#issuecomment-352113056) is:

[code]

It suggests exactly one of the valid fixes. @rust-lang/wg-diagnostics do we think we can add any improvements here?

@pnkfelix it feels to me that this

[2019-05-25 03:03] czipperz opened #61152 "Cannot infer type should state how to specify the type"
For example:

[code]

Without googling, I have no way of understanding how to annotate my empty array with a type.

[2019-05-25 03:06] cr1901 commented on #47048
I have fully upgraded my MSYS2 installation. I have copied over `crt2.o` and `dllcrt2.o` to Rust's directory and the problem still remains.

What further steps should I take? E.g. where is `libmsvcrt` and `libmingw*` I can copy to the Rust directory?

[2019-05-25 03:23] estebank commented on #52941
The error index work is tracked in #61137. Extending E0594 to be more useful is tracked in #18150.

[2019-05-25 03:24] estebank commented on #18150
Case from #52941:

[code]

[2019-05-25 03:25] estebank commented on #49839
This overlaps slightly with #18150, but is more targeted, leaving open.

[2019-05-25 03:30] mark-i-m commented on #61053
Just some a quick note for anyone who wants to implement this: the checks should probably be inserted here, where there are already some other checks:

https://github.com/rust-lang/rust/blob/dec4c5201f88efbc3020b04ba96a5ee2c3b6cfcd/src/libsyntax/ext/tt/macro_rules.rs#L356-L369

You can look at the existing checks to see what they are like.

Also, anything implemented will probably need a crater ru

[2019-05-25 03:32] sanxiyn commented on #61142
Rust build system automatically downloads Cargo to be used for build. Exactly what is downloaded is specified in `src/stage0.txt`.

[2019-05-25 03:32] mark-i-m commented on #61053
@rustbot modify labels: +E-medium +E-mentor

[2019-05-25 03:44] Centril commented on #61141
This was discussed in https://github.com/rust-lang/rfcs/blob/master/text/2361-dbg-macro.md#outputting-lit--lit-for-dbglit-instead-of-lit.

It is, with `literal` as the matcher, but it becomes hairy with multiple arguments.

4. Use `dbg!()` with no arguments.

[2019-05-25 03:49] Centril commented on #51528
Does the WG have any plans for internationalization support?

[2019-05-25 04:50] estebank commented on #51528
We haven't discussed it but I feel that at this point we won't be able to maintain the level of quality we want while also scaffolding i10n support. I would love to hear others opinions.

Cc @rust-lang/WG-diagnostics

[2019-05-25 04:53] BaoshanPang commented on #61142
Hi Danxiyn,

Thanks for your help.
From stage0.txt, I see a beta cargo would be downloaded for build:
date: 2019-03-20
rustc: beta
cargo: beta

Is there a way to tell the system to download a nightly version? I am asking this question because I need to use command "cargo update" in the build source tree, but this function is only supported in nightly version.

Thanks,
Baoshan

[2019-05-25 05:32] czipperz commented on #32631
It appears this has been put on the back burner.  Does anyone plan to implement this?

[2019-05-25 05:37] czipperz commented on #38132
This should be closed

[2019-05-25 05:45] czipperz commented on #42849
Is it acceptable to implement this using brute force and then redo it later for performance gains?  Just do something like:

[code]

[2019-05-25 06:29] czipperz commented on #31100
@taralx do you want to write up a pr? I doubt it would be very difficult.  Just refactor `seek_relative`s code that already does this out into the method?

[2019-05-25 06:33] czipperz commented on #31100
I do find it mildly ironic that the [original implementation explicitly documented](https://github.com/rust-lang/rust/commit/0a380a9318cb450fc54153c1327a35cf02fab8e6#diff-a074b6c6ae44d9ac353aa145411afb53R131) that it would always flush the buffer and why.

[2019-05-25 06:54] micfan opened #61158 "suggest syntax `pub:` affect all the following member"
How do you like this kind syntax like c++?

[code]

[2019-05-25 07:06] #27569 closed

[2019-05-25 07:06] #60929 closed

[2019-05-25 07:06] #60654 closed

[2019-05-25 07:11] dtolnay commented on #38132
:+1: Fixed in 1.35.0.

[2019-05-25 07:11] #38132 closed

[2019-05-25 07:21] retep998 commented on #47048
Because the mingw bits in that component are a different version than the mingw used to compile the c code you're linking to and therefore incompatible.

[2019-05-25 07:24] yodaldevoid commented on #60619
Ok, I've spent some more time looking into this as I've had time.

The multiplication with the const param (and hence the error) is attempted to be evaluated as part of well-formedness checking of the struct. The expression containing the const param attempted to be evaluated, found to be too generic as it hasn't been monomorphized (and never will in this code as it isn't used), and the const eval

[2019-05-25 07:35] howaboutsynergy opened #61162 "infinite loop when compiling `syntax` at stage1 ?"
After about 13minutes rust compilation reaches compiling `syntax` at stage 1, and it uses 100% CPU aka one full core, on i7-8700K, and after about 4 hours(of me sleeping) I decided to stop it. I did this twice(the first time I had all kinds of debugging on but turning all of it off in a subsequent test still made it stall in the same `syntax` place) and I'm unsure if it's something I did (like `"-

[2019-05-25 07:48] hellow554 commented on #61158
This kind needs a RFC. Please go to https://github.com/rust-lang/rfcs/ and check out the readme and see what steps to take to open one.

@rustbot modify labels: C-feature-request T-lang needs-rfc

[2019-05-25 07:49] hellow554 commented on #61158
Hmmm. Any good reason for this?

[2019-05-25 07:53] hellow554 commented on #61097
You could do `@rustbot claim` to know that you have claimed the issue :)

[2019-05-25 07:56] chansuke commented on #61097
@hellow554 Thank you

[2019-05-25 08:16] howaboutsynergy commented on #61162
Looks like `~/.cargo/config` affected rust compilation and it contained:
[code]

commenting out the `rustflags` line triggered recompilation of stage0 stuff...

[2019-05-25 08:22] phansch commented on #59346
If no one else has picked this up yet, I'd be interested in working on this. I'm currently working on adding the new diagnostics error type.

[2019-05-25 08:29] howaboutsynergy commented on #61162
Not sure how relevant this is, but the 100% CPU usage happens when I just run this, but shouldn't it instead just return to prompt?
[code]

[2019-05-25 08:47] mati865 commented on #61162
Parallel compiler builds are broken currently, you should disable it or cherry pick https://github.com/rust-lang/rust/pull/60967

[2019-05-25 09:01] pietroalbini opened #61163 "azure: Enable [RUSTC-TIMING] log lines in Azure Pipelines"
Currently in Travis CI and AppVeyor we output lines like this one in the build logs:

[code]

These lines are emitted by rustbuild and are used to analyze how much time is spent in each compilation step. We should also emit them in Azure.

[2019-05-25 09:01] howaboutsynergy commented on #61162
Thank you mati865!
Confirmed it goes past `syntax` with `parallel-compiler = false` in about 30 seconds or so!!

[2019-05-25 09:03] pietroalbini opened #61165 "azure: Figure out data retention in Azure"
I saw around the docs and the UI that Azure Pipelines has configurable data retention for build logs. We should configure it to store them indefinitely.

[2019-05-25 09:05] pietroalbini opened #61166 "azure: Split the Linux Docker image build in its own step on Azure"
At the moment the Docker images are built in the "Run build" step of an Azure Pipelines build, but they should be split in their own step: other than increasing clarity when looking at the build result, splitting allows us to set a separate timeout for it.

[2019-05-25 09:07] pietroalbini opened #61167 "azure: Merge most prepare steps into a single one on Azure"
There are tons of steps in our Azure builds that install a thing or configure the environment, increasing clutter in the build page. We should try to merge them, with just a "Prepare `<platform>`" step for each platform.

[2019-05-25 09:09] pietroalbini opened #61168 "azure: Change all S3 URLs in our CI to use subdomains"
Old S3 URLs are used all across our CI scripts and [they're going to be deprecated](https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/). We should switch all of `s3.amazonaws.com/bucket` to `bucket.s3.amazonaws.com`.

[2019-05-25 09:12] pietroalbini opened #61169 "azure: Move most of the bash scripts out of the Azure yamls into separate files"
Consider putting any bash script longer than a few lines in a standalone script that can be invoked instead of inlined into yml, perhaps under a /scripts folder.

This allows you to easily run & lint the script, whereas it takes extra steps to do so in yaml.

_Originally posted by @zachChilders in https://github.com/rust-lang/rust/pull/60777_

[2019-05-25 09:13] pietroalbini opened #61170 "azure: Fix auto build not working"
All auto builds are failing with `Checkout of multiple repositories is not supported.`. We should fix them.

[2019-05-25 09:55] Lonami commented on #61145
Another possible fix is simply:
[code]

[2019-05-25 10:06] micfan commented on #61158
Yes, needs a RFC. Just have thought of C++ access control syntax

[2019-05-25 10:06] #61158 closed

[2019-05-25 10:14] Centril commented on #54910
@memoryruins Feel free to send in a PR for warnings and I'll FCP that one. We can crank up to deny later.

[2019-05-25 10:23] varkor commented on #60418
Fixed in https://github.com/rust-lang/rust/pull/61138.

[2019-05-25 10:23] #60418 closed

[2019-05-25 10:53] crlf0710 commented on #49048
I think this is a good candidate for stabilization? Could any one propose a fcp for it?  @SimonSapin @alexcrichton

[2019-05-25 10:59] gnzlbg opened #61174 "[regression] sparcv9-sun-solaris missing rust-std"
Today's nightly (25-05-2019) is missing rust-std for `sparcv9-sun-solaris`: https://rust-lang.github.io/rustup-components-history/sparcv9-sun-solaris.html

[2019-05-25 11:20] Centril opened #61175 "Recover and suggest wrapping in block in const generic value application"
cc @varkor @rust-lang/wg-diagnostics

Say we have:
[code]
the parser now greets you with:
[code]

It would be good if you got:
[code]

or some such.

[2019-05-25 12:22] GuillaumeGomez commented on #61145
Sending the fix quickly!

[2019-05-25 12:36] Centril commented on #51528
I think extracting diagnostics logic to structs and such is a great move for internationalization. Beyond that, the only think I would suggest is that you consider what i10n support in the future might take and try to avoid doing things that would make i10n harder in the future. Perhaps consider future-proofing traits and such today if possible.

[2019-05-25 12:44] jonas-schievink commented on #61162
@howaboutsynergy This specific issue will be fixed (via a workaround) when https://github.com/rust-lang/rust/pull/60967 is merged, but this is also a rustc regression tracked in https://github.com/rust-lang/rust/issues/60846, so I'll close this as a duplicate of https://github.com/rust-lang/rust/issues/60846

[2019-05-25 12:44] #61162 closed

[2019-05-25 13:07] MaikKlein opened #61179 "Incorrect default object lifetime bounds in 1.34.2"
[code]

This compiles under 1.34.2, but shouldn't. This doesn't compile in 1.34.0. It appears that the lifetime bounds where assumed to be `'static` in 1.34.2. `Option<&mut (dyn Bar +'static)>`.

[2019-05-25 13:07] lu-zero opened #61180 "rustc_args_required_const should mark its const arguments as const"
calling a `rustc_args_required_const`-marked function from a `rustc_args_required_const`-marked function does not work as intended.

[here the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2be212c8ee1c151ed5fcdfa2dc71c89d)
[code]

[2019-05-25 13:26] jonas-schievink commented on #61179
It build fine for me, however nightly is rejecting the code since `rustc 1.35.0-nightly (87a436377 2019-03-03)`. That is a soundness fix introduced by https://github.com/rust-lang/rust/pull/58673, I believe.

[2019-05-25 13:28] jonas-schievink commented on #61179
Ah, I think you meant 1.35.0 instead. This is effectively a duplicate of https://github.com/rust-lang/rust/issues/60927 then.

[2019-05-25 13:33] MaikKlein commented on #61179
Oh yeah it does indeed compile in 1.34.0. I only checked it with https://rust.godbolt.org/z/YpLEHy Maybe not something that I should rely on.

Yeah it seems like a duplicate.

[2019-05-25 13:33] #61179 closed

[2019-05-25 13:38] jrobsonchase commented on #60941
I'm with @gnzlbg; this seems unnecessarily confusing. Intuitively, `use something::{self};` should be the same as `use something;`, and I feel like that's how the vast majority of people interpret the syntax. It's going to get extra weird when people start taking imports like

[code]
, delete `bar` and `baz`, and then get confused when rustfmt [does the right thing](https://github.com/rust-lang/ru

[2019-05-25 13:44] davidtwco commented on #61117
A data point: I was using `debuginfo-level-tests = 1` (or the previous equivalent) for a little while on a NixOS system and was experiencing a failure on `run-pass/issues/issue-29466.rs`. I posted about it [on Zulip at the time](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/test.20failures/near/164750066).

[2019-05-25 14:29] howaboutsynergy commented on #61162
Cool!

<details>

ok, but that issue(#60846) says that it still compiled successfully eventually, whilst in my case it was still stuck at compiling `syntax` for 4 hours! If it were a 16 times increase in compilation it would've taken at worst 16 minutes to compile `syntax`, but since it didn't move even after 240 minutes, that means it's a 240x increase(at least)... and it actually took less than

[2019-05-25 14:47] q66 opened #61182 "bootstrap fails on powerpc64le-unknown-linux-musl (stage1 std rustc sigsegv for `alloc`)"
When trying to bootstrap natively on `powerpc64le-unknown-linux-musl`, rustc segfaults when compiling stage1 std artifacts:

[code]

Enabling debuginfo and getting a coredump reveals this backtrace:

[code]

Cross-compiling for the target works okay (from `powerpc64le-unknown-linux-gnu`).

[2019-05-25 14:50] gauravvnera opened #61183 "Examples related to "non-lexical lifetimes" are not updated on doc.rust-lang.org/error-index.html"
It appears that the examples showing borrow errors are not updated to reflect recent changes related to non-lexical lifetimes. For instance, https://doc.rust-lang.org/error-index.html#E0503 shows an example that compiles fine with the latest rust:
[code]

[2019-05-25 15:44] alexcrichton commented on #61169
I would personally say that we shouldn't necessarily strive to remove all >1 line scripts from the `*.yml` files. I think there's a lot to benefit from having it all centralized in one location, *especially* if there's different scripts for different platforms. If all our CI platforms share the same script I think it's ok to extract, but once Windows does one thing and Unix does another thing I pe

[2019-05-25 15:46] alexcrichton commented on #61167
I definitely agree tha tthe UI seems a bit cluttered with all the skipped steps, but I personally find it much easier to follow if it's chunked up the way it is. For example there's a chunk of config to install Clang on OSX/Windows, but it's skipped on Linux. By seeing them together we can easily verify that they're downloading roughly the same thing from the same location, and we know what to upd

[2019-05-25 15:50] alexcrichton opened #61185 "azure: Get build times on par with Travis"
Currently the build times for Azure Pipelines are through the roof compared to Travis, taking up to an hour longer on relevant builds. The [original PR](https://github.com/rust-lang/rust/pull/60777) has [some measurements](https://github.com/rust-lang/rust/pull/60777#issuecomment-494823441).

We're going to have to rework quite a lot I think to get the current 2-core within our time limits. We're

[2019-05-25 15:50] mati865 commented on #61162
If I understand correctly underlying issue is the same, proving bounds has became really slow. Crate mentioned in the other issue is simpler than libsyntax so it's build became "only" 16 times higher.

cc @Zoxc

[2019-05-25 15:52] pietroalbini commented on #61167
Would you be ok with something like this?

[code]

We would still be able to update each step across all OSes by changing each file while having a clean UI.

[2019-05-25 16:04] oli-obk commented on #61175
Won't attempting to fix this issue hit exactly the same issues that just allowing `foo::<1 + 1>();` hits?

[2019-05-25 16:12] huangjj27 opened #61186 "Should "01.01.01.01" be parsed as legal IPv4 ?"
original problem: https://leetcode-cn.com/problems/validate-ip-address/
while `std::net::IpAddr::parse` successfully parse the address, but the leetcode problem doesn't regard the address as "legal",

test DEMO:
[code]

Usually, we consider IPv4 address containing only non-leading-zero number 0-255 legal, but not those with leading-zero numbers in. Should we change the behavior?

[2019-05-25 16:16] howaboutsynergy commented on #60534
Well, I'm still getting `error: 'rls' is not installed for the toolchain 'master-installed'` with this `config.toml`:

`$ cat rust/config.toml|grep -v '^#'|sed -e '/^$/d'`
[code]

I basically used the following to compile:
[code]

[code]

[2019-05-25 16:46] estebank commented on #61175
@oli-obk allowing blockless const expressions result in ambiguous grammar for the general case, but there's a subset that is unambiguous, and we get away with best effort attempts for the sake of diagnostics. Being able to parse almost any const expression with the exception of those involving greater than is great for error recovery, but would be terrible for the feature/grammar.

[2019-05-25 16:53] nikic commented on #18384
The X86 codegen issue should be fixed by https://github.com/llvm/llvm-project/commit/d87eceda0e6d5de6b2d58430a0124b6f7428695d.

[2019-05-25 16:55] sindreij opened #61187 "Internal compiler error in nightly when reversing a vector inside a async fn"
Got an internal compiler error when reversing a vector inside a async fn

I tried this code:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4e90f405e1d73fdbc7b009a3de23bcae))

This happened:

[code]

## Meta

[code]

[2019-05-25 17:23] matthewjasper opened #61188 "ICE when trying to match on non-PartialEq slice."
The following code will result in an ICE in ~~codegen~~ MIR construction:

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4db539e3f11d582083944d361b64cec9)

<details>

<summary>Error and Backtrace</summary>

[code]

</details>

[2019-05-25 18:12] zbraniecki commented on #59346
I'm happy to help you brainstorm, or review or whatever is needed. :)

[2019-05-25 18:48] kennytm commented on #61186
It is definitely legal. Either Leetcode is wrong or the question doesn't suppose you to "cheat" with the standard library.

* <https://01.01.01.01/>

[code]

[code]

[code]

[2019-05-25 19:10] imbrem commented on #61137
Can I take one of these on?

[2019-05-25 19:29] estebank commented on #61188
CC #53708

[2019-05-25 19:34] estebank commented on #61187
Caused by `access_place_desc` being `None` and later `unwrap`ing it:

https://github.com/rust-lang/rust/blob/f492693982d1e252f5411ae3e4d560ab0dfea48a/src/librustc_mir/borrow_check/mutability_errors.rs#L46-L47

[2019-05-25 19:35] dwbuiten opened #61190 "rustdoc: Primitive data type methods like min/max/clamp are not discoverable"
Currently, searching the rust stdlib docs for, as an example, 'i32 min', will not find any info at all, and the the `i32` page (https://doc.rust-lang.org/std/primitive.i32.html) is not searchable with standard CTRL-F in some browsers like Firefox, since `min`/`max`/`clamp` are hidden under the by-default-collapsed section on `Ord`. This lack of searchability/discoverability extends to Google resul

[2019-05-25 20:12] czipperz commented on #60989
Is there a test case that makes sure this minimal example compiles?  This seems like a good regression test to add. @Centril

[2019-05-25 20:25] oli-obk commented on #60989
There is one in the fix PR: https://github.com/rust-lang/rust/pull/61189/files#diff-94ce7caf137efdc57471092222a49b4c that covers both cases of the examples in this issue

[2019-05-25 20:59] czipperz commented on #60989
I guess I missed it when scrolling through the diff

[2019-05-25 21:12] howaboutsynergy commented on #60534
ah looks like it's my bad for using `extended = false` which apparently is required for `tools = ` to have any effect, now I get
[code]
which is a lot better!

I gotta admit, I didn't expect it to be so from reading this:
[code]

[2019-05-25 21:13] czipperz commented on #61129
Hopefully that assignment will be eliminated by the optimizer

[2019-05-25 21:29] ghost opened #61194 "extended=false results in tools=["src","rls","clippy"] to be completely ignored"
this isn't immediately obvious from `config.toml.example` text:
[code]

eg.
`extended` `This is disabled by default`, so that means `extended=false` right?
`tools` `By default builds all.`, so I can uncomment that line and remove those I don't want right? wrong, `extended=false` means none of those get build (though I can only confirm the tested ones aren't being build: `clippy`, `rls`, `analysis`

[2019-05-25 21:30] the8472 commented on #61190
There's basically a difference between searching for a method and looking whether certain trait implementations exist for a type.

Maybe implemented traits and trait methods should be listed separately. Then one could have a list of all available methods (annotated with trait bounds and which trait they come from) and a list of implemented traits.

[2019-05-25 21:41] BaoshanPang commented on #59816
Is this a known problem or there is somthing wrong in my steps?

[2019-05-25 21:43] oli-obk opened #61196 "Error about missing `From` impl when using `try_from`"
There are probably some generic trait implementations that cause rustc to follow this line of reasoning.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9d9a573c294b1348419e5b59caaa1ca8))

Errors:

[code]

[2019-05-25 21:52] dwbuiten commented on #61190
I can't speak for the approach or implementation, but the outcome you describe sounds desireable, to me, anyway.

[2019-05-25 22:26] OptimisticPeach opened #61197 "Minor typo in `#[doc]` attribute documentation"
Hi there!
I was reading the [`#[doc]`](https://doc.rust-lang.org/rustdoc/the-doc-attribute.html) documentation, and came across the following typo:
[code]
There is a curly brace instead of a square bracket. It can be found at the very bottom of [`#[doc(no_inline)]`/`#[doc(inline)]`](https://doc.rust-lang.org/rustdoc/the-doc-attribute.html#docno_inlinedocinline).

[2019-05-25 23:37] czipperz commented on #60989
How the heck did this pass through tests?  Was turbo fish completely untested?  Or is this behavior specific to when it is a value and not a function call being turbo fished?

[2019-05-25 23:40] Centril commented on #60989
@czipperz Our conclusion from the compiler team meeting is that we simply are to reactive with testing and that we don't generally have sufficient test coverage. Let's try to change that moving forward.

[2019-05-25 23:44] jonas-schievink commented on #60989
@czipperz The ICE doesn't occur on all uses of the turbofish. If you look at the example provided here, it shouldn't actually have compiled. Getting an ICE instead of a compiler error is still bad, of course, but not nearly as bad as having *all* uses of the turbofish syntax result in an ICE.

[2019-05-25 23:45] czipperz commented on #60989
@Centril Thanks.  Is there a code coverage tool that supports utilities like line coverage?

@jonas-schievink Yeah it's really hard to test every invalid case is handled correctly.

[2019-05-25 23:50] czipperz commented on #60989
Does someone want to maybe set up kcov to run with continuous integration?

[2019-05-25 23:59] matthiaskrgr opened #61200 "'rustc' panicked at 'internal error: entered unreachable code', src/libsyntax/ast.rs:668:6 while bootstrapping"
git checkout 02f5786a324c40b2d8b2d0df98456e48fb45d30c
./x.py build
git checkout f492693982d1e252f5411ae3e4d560ab0dfea48a
./x.py build
=> ICE'd

<details>
<summary> Click for build log and stack trace </summary>

[code]

</details>

config.toml:
[code]

[2019-05-26 01:31] #53896 closed

[2019-05-26 02:26] vitali2y commented on #20866
Next **quick** "life hack" for **many** formats (e. g. _epub_, _docbook_, or _fb2_) works for **up-to-date** and **any** doc from [Learn Rust](https://www.rust-lang.org/learn) page:

1. click "_Print this book_" icon on top right corner,
2. "_Cancel_" print popup,
3. press _F12_,
4. copy-n-paste-n-enter next into "_Console_" tab:

[code]
_Hint:_ next extra line is required for [WebAssembly Book](h

[2019-05-26 02:52] bdragon28 commented on #60617
Yeah, FreeBSD will be switching to Big Endian ELFv2 during the current (13-CURRENT) development cycle. Progress is being tracked at https://wiki.freebsd.org/powerpc/llvm-elfv2 and is moving forward at a rapid pace.

FreeBSD detection would generally done by caring about the version as well (the whole triple is powerpc64-unknown-freebsd13.0 and while it currently means "ELFv1" by default, it will m

[2019-05-26 02:55] bdragon28 commented on #60617
BTW, for reference, the detection code for LLVM that we will be running with the FreeBSD in-tree LLVM and asking to be applied to upstream LLVM once flag day happens is at https://reviews.freebsd.org/D20383

[2019-05-26 03:08] q66 commented on #60617
I wrote some code for the `target_abi` cfg here, but haven't been able to test it or expand upon it yet (been busy with other things). I should be able to look into it in the next few days though.

[2019-05-26 03:08] #61186 closed

[2019-05-26 03:19] daboross opened #61204 "Rustc could warn when a `pub use x::*` statement excludes something else already imported privately"
Ran into this today when refactoring visibility of tons of things in a library crate. In part of my refactoring, I added `pub use inner_mod::*;` statements to many of my modules. Confusingly, this didn't always re-export everything.

Consider this situation:

[code]

The line `pub use inner_level::*;` does not include `inner_level::B`, because that has already been imported. But since it's importe

[2019-05-26 04:31] Centril commented on #61204
cc @petrochenkov -- is an error happening here by design?

[2019-05-26 04:42] gyakovlev opened #61206 "llvm rebuilt 2 or more times if using src tarballs"
starting with 1.35.0 bootstrap always rebuilds llvm,

```git could not determine the LLVM submodule commit hash. Assuming that an LLVM build is necessary.```

so for downstream distributions and gentoo users (they  build from tarballs) internal llvm  copy is compiled at least twice per bootstrap, same for lld if it's enabled.

I believe this commit below is the reason:
https://github.com/rust-lang

[2019-05-26 05:34] czipperz commented on #61196
Well `TryFrom` by default uses `Into` which by default uses `From`.  This reflects that behavior.  What would you like this to output?

[2019-05-26 05:36] czipperz commented on #61190
I might add that I have been running into this issue a lot recently. I think at some point recently the docs for traits were automatically collapsed.

[2019-05-26 05:45] czipperz commented on #61148
This was suggested in the other thread. However, it doesn't seem to make much sense to override this in any other way that the default implementation.

[2019-05-26 06:35] Defaultldentity commented on #50186
Maybe it's possible to temporarily consume the cell while giving &mut T to the closure?

[code]

This looks universal, safe and efficient, although clumsy.

[2019-05-26 08:28] oli-obk commented on #61196
I'd like it to at least say, that while there is a generic default impl of `TryFrom`, it doesn't work here and there's no explicit impl for the given situation.

Maybe we can do this via `#[rustc_on_unimplemented]`?

[2019-05-26 08:36] daboross commented on #61204
That's a good point!

Thinking about this more, maybe a more helpful and general lint could be an "unused import" on the `use self::inner_level::B` which is also imported by the wildcard import?

When everything else compiles, there's no indication that that particular import is unnecessary. The following compiles without warnings:

[code]
([playground](https://play.rust-lang.org/?version=stable&m

[2019-05-26 08:58] #51547 closed

[2019-05-26 08:58] #60847 closed

[2019-05-26 08:58] #61108 closed

[2019-05-26 08:59] matthiaskrgr commented on #61200
I retried the recipe with a clean build now and could not reproduce... :/
Could this be a another incremental compilation related bug?

[2019-05-26 10:25] jonas-schievink commented on #61206
https://github.com/rust-lang/rust/pull/59303#issuecomment-475939799 says that only a no-op build should be performed in that case, looks like that isn't correct?

[2019-05-26 10:32] fabric-and-ink commented on #60666
I think, this can be closed now.

[2019-05-26 10:47] chansuke commented on #61097
@petrochenkov Hi. I have a question:) I found `pub mod tests` in `src/test/codegen/fastcall-inregs.rs`.
Can I just touch `src/test/codegen/tests.rs` and just move them

[code]

into that file(src/test/codegen/tests.rs)?

[2019-05-26 10:49] GuillaumeGomez commented on #61137
@imbrem: Sure, go ahead! When you open a PR, please link to this issue so others can see what's being worked on.

[2019-05-26 11:14] mitsuhiko commented on #53487
Just an update from my side about why there is no progress: I tried a few things to expose a sensible backtrace object and with the current system that is in place it's all too likely that the outcome is just a bad workaround. I'm currently leaning towards waiting for the backtrace support in rust to be based on backtrace-rs.

[2019-05-26 12:13] mati865 commented on #61163
It's enabled but only for `auto` branch:
https://github.com/rust-lang/rust/blob/dec4c5201f88efbc3020b04ba96a5ee2c3b6cfcd/src/ci/run.sh#L28-L30

[2019-05-26 12:25] #49409 closed

[2019-05-26 13:34] sdroege opened #61211 "async/await borrows more around await points than necessary"
[code]

Fails with
[code]

When putting the lock into a separate block it works fine, when not awaiting or locking after the last await point it also works fine.

It seems that dropped values at await points are still considered in scope and borrowed.

[2019-05-26 14:32] the8472 commented on #60978
[code]

[2019-05-26 15:17] #61197 closed

[2019-05-26 16:30] jonhoo commented on #61148
Yeah, I have the same suspicion as @czipperz -- how often do you expect the implementation for this to differ from replacing with the default?

[2019-05-26 16:45] czipperz commented on #61148
It also would suffer from the fact that traits must be explicitly implemented. Anyway, thank you for your comment and contribution to the discussion!

[2019-05-26 17:33] oli-obk commented on #47384
That should be fixed on master, can you confirm that it is fixed for you now?

[2019-05-26 17:39] ollie27 opened #61216 "rustdoc generation of search-index.js depends on the order crates are documented"
Take two crates:

`foo.rs`:

[code]

`bar.rs`:

[code]

Using `rustdoc 1.36.0-nightly (8869ee03d 2019-05-23)` for example and running `rustdoc foo.rs` then `rustdoc bar.rs` gives a `search-index.js`:

[code]

but running `rustdoc bar.rs` then `rustdoc foo.rs` gives:

[code]

They should be identical and they are when using `--disable-minification`. This breaks reproducible builds (#34902).

[2019-05-26 17:51] gyakovlev commented on #61206
second **lld** build is a no-op indeed.
but something triggers full llvm rebuild every time

there is another bug here, probably related.

after second rebuild, llvm install prefix somehow gets set to current build directory.
so when I run `env DESTDIR="/path/somewhere" ./x.py install -v` installer tries to install the full llvm copy to
`$DESTDIR/tmp/portage/dev-lang/rust-1.35.0/work/rustc-1.35.0-

[2019-05-26 17:53] jonas-schievink commented on #61206
cc @euclio and @cuviper

[2019-05-26 17:54] gyakovlev commented on #61206
just fyi, manually rolling back those 3 commits from 1.35.0 tarball fixed build for me
https://github.com/rust-lang/rust/commit/105692c3ad281c63bf0f75a26a66bb9cff5b4553
https://github.com/rust-lang/rust/commit/975ba58f42b34ff07cd7c2bd73350daed2057186
https://github.com/rust-lang/rust/commit/e1daa36ba7df88788c2684bbe5ff6eb37f1cda69

[2019-05-26 18:10] Manishearth commented on #53667
Question worth discussing: This introduces `let` as something _like_ an expression in the AST.

Do we plan to make it a true expression? As in, will `$e:expr` match `let Pat(..) = foo` in macros? This does not mean that it will _work_ everywhere (as @centril correctly points out, `$t:ty` matches `impl Trait`, but it's only allowed in certain positions in the AST), it just means that macros will be

[2019-05-26 20:16] estebank opened #61218 "Outer attribute after inner attribute error should give more information"
Given the following

https://github.com/rust-lang/rust/blob/dc6db14e1cd60012f25be4fd8d2eb96ea5b4bb68/src/test/ui/parser/inner-attr.rs#L1-L4

we currently emit

https://github.com/rust-lang/rust/blob/dc6db14e1cd60012f25be4fd8d2eb96ea5b4bb68/src/test/ui/parser/inner-attr.stderr#L1-L7

We should emit at least the following

[code]

We might also want to provide suggestions when it makes sense (like t

[2019-05-26 20:46] catastrop opened #61219 "Add implementation of HTTP and related protocols to the standard library"

[2019-05-26 20:50] jonas-schievink commented on #61219
That much API surface definitely needs an [RFC](https://github.com/rust-lang/rfcs), so closing in favor of that.

Note that this is extremely unlikely to happen since we have several high-quality HTTP crates on crates.io already and there is no pressing reason to pull that sort of functionality into libstd.

[2019-05-26 20:50] #61219 closed

[2019-05-26 20:56] jyn514 commented on #46016
This affects the compiler itself:

[code]

[2019-05-26 20:59] imbrem commented on #61137
Done! Actually, should I have requested/should I request you as a reviewer?

[2019-05-26 21:08] taralx commented on #31100
Life is a little busy right now, so if someone else is excited to do it, go for it. Otherwise I'll see if I can't find some time to put together a PR.

[2019-05-26 21:38] #61170 closed

[2019-05-26 22:28] mystor commented on #48655
Stumbled across this method today, and figured I'd prod this issue & drop in my bikeshed 2¢.

I pulled the [`Weak::upgrade`](https://github.com/rust-lang/rust/blob/5187be620c76a313a19b9b596e1bce3a80a345dd/src/liballoc/sync.rs#L1104-L1137) method as an example from the stdlib, and translated it roughly to the new API, formatted with rustfmt, as an example:

[code]

A few things I've noticed:

1. Th

[2019-05-26 23:12] ehuss opened #61221 "duplicate_macro_exports lint says it will be a hard error in 2018 but it is still a lint"
[`duplicate_macro_exports`](https://github.com/rust-lang/rust/pull/50143) is marked as a [future incompatible lint](https://github.com/rust-lang/rust/blob/5187be620c76a313a19b9b596e1bce3a80a345dd/src/librustc_lint/lib.rs#L314-L318).  However, it was never made a hard error, so in 2018 you still get the note:

and points to a [closed issue](https://github.com/rust-lang/rust/issues/35896).

If I am

[2019-05-26 23:15] KizzyCode opened #61222 "Document what happens if `std::iter::Take`'s `n` is greater than the amount of elements"
The documentation of [`std::iter::Take`](https://doc.rust-lang.org/stable/std/iter/struct.Take.html) gives no information about what happens if the underlying iterator yields less elements than `Take` should take.
Does it return less than `n` elements, does it panic, ...

Maybe we should change

to something like

However english is not my mother tongue and I'm pretty sure there is a much better f

[2019-05-27 01:19] czipperz commented on #61222
Well I believe it is correct right now.  It just returns the result of `self.iter.next()`.  It doesn't really care what it returns.  Some iterators restart iteration after one `None`, for example [`Fuse`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.fuse)

[2019-05-27 01:30] czipperz commented on #51430
What's the progress of this @skade ?

[2019-05-27 01:35] czipperz commented on #49787
This was closed by bbc8c932fb05dfaed7b5bfe252712bede722b764

[2019-05-27 02:10] #49787 closed

[2019-05-27 03:51] spunit262 commented on #45447
[code]
It appears to just blindly do a search for ```fn``` as it suggest annotating a comment if it find it in one.

[2019-05-27 03:59] #61109 closed

[2019-05-27 05:19] dduan opened #61226 "`…` in comment cause unexpected rustc panic"
When I used the character `…` in comment, combined with some (invalid) code preceding it, the compiler panicked.

I tried this code:

[code]

I expected to see this happen: rustc compiles this code.

Instead, this happened: rustc panicked with the following output

[code]

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2019-05-27 05:47] hicqu opened #61228 "RwLock doesn't work fine with `if let` statement"
Here is a code example:
[code]
As my expected it should print "hello, world" but it doesn't when I run it.
I guess the reason is the `read guard` is not dropped correctly in `else branch`.

I have tested it with
[code]
and
[code]
The results are same.

After I change the code to
[code]
We can get the correct result now.

[2019-05-27 06:22] Centril commented on #57996
Stabilization PR and proposal up in https://github.com/rust-lang/rust/pull/61229.
After landing it we will need to slightly adjust the reference.

[2019-05-27 06:39] Centril commented on #61226
Regressed in 1.34.0. Used to be:
[code]

[2019-05-27 06:39] Centril commented on #61226
cc @petrochenkov @estebank

[2019-05-27 06:52] Centril commented on #61228
This is expected behavior. What happens here is that:
[code]
is desugared to:
[code]

The RAII guard that you've introduced in `x.read()` will get dropped after the `}` of the `match` expression. This is after `x.write()` executes. The result is a deadlock.

This is different from an `if` expression where `if c { bi } else { be }` is desugared to:
[code]

cc @oli-obk -- can we do anything here?

[2019-05-27 07:15] ormrepo commented on #51430
Forget about him he is the laziest human being on earth!

[2019-05-27 07:48] oli-obk commented on #61228
Any change we could do would also be changing the drop order, which would be a breaking change. I don't think there's anything we can do. We could create a clippy lint though.

[2019-05-27 07:51] hicqu commented on #61228
I think a clippy lint will be very helpful. Thank you @oli-obk !

[2019-05-27 08:04] oli-obk commented on #60666
@fabric-and-ink 	the two linked comments are still unresolved I think?

[2019-05-27 08:09] oli-obk commented on #61226
Miminized:

[code]

Probably some span handcrafting?

[2019-05-27 08:26] oli-obk commented on #60989
Some are linked in https://github.com/rust-lang/rfcs/issues/646#issuecomment-427644574

That's an independent topic to this issue, if you want you can open a separate issue for it, but we should keep this issue targeted to the ICE at hand.

[2019-05-27 08:55] pnkfelix opened #61232 "need test of external linkage symbol collision"
The `#[linkage]` feature has some code that generates a symbol, e.g. for `foo` it generates `extern_with_linkage_foo`.

We have some code that causes the compilation to fail if it can detect that the generated symbol is the source of a collision.

https://github.com/rust-lang/rust/blob/46805805abe58c287fa16963f897fd09d5d97467/src/librustc_codegen_llvm/consts.rs#L130-L147

But as far as I can tell,

[2019-05-27 08:58] killercup opened #61233 "Mention shadowed glob-imported items in mismatched types errors when possible"
Given:

1. a large source file full of generically-named functions,
2. and one tiny glob import to get even more generically-named functions

one can arrive at a baffling error like this:

[code]

The issue is that the author expected to be calling the glob imported function, when in fact a function with the same name was also in local scope.

Ideally, rustc would point out there is another functi

[2019-05-27 09:08] pnkfelix commented on #61232
Ah I think I just found a way to cause that code to fire.

[2019-05-27 09:11] pnkfelix commented on #61232
For the record, here is how I did it ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4c43e82ae728d3c9c9c28944a47f6930)):

[code]

[2019-05-27 10:22] pnkfelix commented on #61232
Another quick note: this variant test case ("weird.rs") is causing non-deterministic memory corruption within my local build of `rustc` itself:

(but I have not yet observed such memory corruption on the playpen itself.)

[code]

<details>
<summary>Click for gdb run of rustc with backtrace</summary>

[code]

</details>

(I'm not adding it as a test case since we don't currently have a policy of ad

[2019-05-27 10:24] DevQps commented on #60223
@jhwgh1968 Sorry for the late reply! I apparently don't get notifications for thumbs ups and the like! I will hopefully be able to create a PR somewhere this midday.

[2019-05-27 10:27] mati865 commented on #61228
Lint would be nice to have, I'd bet my arm it was reported multiple times already.

[2019-05-27 11:13] howaboutsynergy commented on #61222
unless I'm missing something, that [Fuse](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.fuse) [example](https://doc.rust-lang.org/std/iter/trait.Iterator.html#examples-21) is [flawed](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=4a358180b3a8934f5e6734563675a38b) ie. panics when overflow. (in playground, switch from Debug to Release for a possible fix)

[2019-05-27 11:45] GuillaumeGomez commented on #61216
Funny because the fix for this is an improvement I intended to do: restart the string minification process over **all** strings.

[2019-05-27 11:47] GuillaumeGomez commented on #61190
The rustdoc search is very basic. If you're looking for something with whitespaces in the request, it'll very likely not work. In your case, maybe try "i32::min"?

[2019-05-27 11:55] GuillaumeGomez commented on #61079
We can't do it through CSS directly, however it's possible to have a workaround with JS. I'll give it a try soon.

[2019-05-27 12:23] hellow554 commented on #61200
This sounds like a incremental bug, but I can't see that you are using incremental compiling (neither `incremental = true` in your config.toml, nor the `-i` switch in your `x.py build`), so I guess it isn't. Must be something else?!

[2019-05-27 14:14] petrochenkov commented on #61097
@chansuke
Anything inside `src/test` can be left unchanged, that's a directory with integration tests and the rebuild problem doesn't apply to it.
(Also, git submodule directories in `src/tools` and `src/doc` are also out of scope.)

[2019-05-27 14:21] petrochenkov commented on #61221
I remember making it a deny-by-default lint, but don't remember making it edition-dependent (this is a part of macro modularization, which happened on both editions), perhaps it was an accidental copy-paste.

I'd be ok with making it an error after a crater run.

[2019-05-27 14:22] dwbuiten commented on #61190
Having to type in something so exact (and like I said, this affects Google results too!) is not very useful for discoverability. This especially effects people who are new to Rust, like myself.

[2019-05-27 14:23] petrochenkov commented on #61226
+1

[2019-05-27 14:41] petrochenkov commented on #61204
@Centril

This is a gray area, it depends on the scoping model.

The old model considers a module to be one scope in which single imports "overwrite" globs with the same name.
`my_lib::B` in this case refers to the private item.

The new model used by uniform paths / macro modularization would treat single imports and globs as two nested scopes.
So, the lookup for `my_lib::B` would consider two ca

[2019-05-27 14:58] oli-obk opened #61238 "Lint attributes on function args have no effect"
In order for the lint attributes to actually have an effect, we need to change `ast::visit` and `hir::intravisit` significantly before even being able to adjust `LateLintPass` and `EarlyLintPass` to handle the attributes.

The current schemes for iterating over the pattern of the argument and the type of the argument vary significantly between functions, methods extern functions, closures, .... I'

[2019-05-27 14:59] Centril commented on #61238
cc https://github.com/rust-lang/rust/issues/60406

[2019-05-27 15:36] #57128 closed

[2019-05-27 16:52] RalfJung commented on #60533
This was fixes a while ago. But now miri broke again and no new issue was opened?

Cc @rust-lang/infra

[2019-05-27 17:03] howaboutsynergy commented on #60533
I was about to post the following here(a few minutes before you commented, RalfJung) when my system [crashed](https://gist.github.com/howaboutsynergy/c69f4a44ad10f7cce48c1544266e43f6), so here it is after a re-run(hence it took only a few seconds instead of 34mins):

[code]

[2019-05-27 17:40] RalfJung commented on #60533
The fix is in progress at https://github.com/rust-lang/miri/pull/746.

Building Miri takes 34min for you? oO wow.

[2019-05-27 17:48] howaboutsynergy commented on #60533
ah no, that was the output from building rust.

[2019-05-27 17:53] starblue opened #61239 "Rust documentation doesn't show implementations when cookies / storage are disabled"
[code]

[2019-05-27 17:57] kankri commented on #60475
I decided to debug a Rust program which was not working correctly on Windows. Wanted to see the correct behavior on Linux first, so I tried to compile it with `1.33.0-x86_64-unknown-linux-gnu` and got the same stack trace as above. I installed older toolchains one by one until `1.30.0-x86_64-unknown-linux-gnu` finally was able to download the dependencies:

[code]
I think I'll wait for a better da

[2019-05-27 18:25] estebank commented on #37914
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=06910af6049a6d7dbea8f74fb9b3a15a):

[code]

[2019-05-27 18:26] GuillaumeGomez commented on #61190
I understand your problem, I'm just telling you that I don't know how to solve it. We can't embedded a powerful parser and certainly not an NLP one...

[2019-05-27 18:27] rust-highfive opened #61240 "`rls` no longer builds after rust-lang/rust#60827"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60827, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @oli-obk, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @nnethercote, the PR reviewer, and @rust-lang/compiler -- nom

[2019-05-27 18:28] ia0 commented on #61053
I am interested into implementing those checks. I would need a bit of mentoring though. Who can I ask questions and through which medium? For example, I implemented the check that variables in rhs are bound in lhs and it already prevents building stage 1 (with `./x.py build --stage 1`) because quick-error has errors. All variables on this line https://github.com/tailhook/quick-error/blob/aadd84f94

[2019-05-27 18:48] the8472 commented on #61190
I think that particular issue could be fixed by using HTML's `<details>/<summary>`, which will hide the collapsed content from the user but not from the search engines.

[2019-05-27 19:11] the8472 commented on #60114
Since you're using glibc you can try tune it [via environment variables](https://www.gnu.org/software/libc/manual/html_node/Memory-Allocation-Tunables.html) or call [malloc_trim](http://man7.org/linux/man-pages/man3/malloc_trim.3.html).

Note that these things should never be done by libraries and bins should only do it during major phase transitions, e.g. when going from an allocation-heavy to a

[2019-05-27 19:30] mark-i-m commented on #61053
@ia0 Thanks! You can ask me on this thread :) But I am out of town this week, so I might not be super responsive.

Hmm... I am not super familiar with quick-error. I believe you can change the Cargo.toml for the faulty crate to use a path dependency. Does this help: https://internals.rust-lang.org/t/how-to-specify-a-private-repository-for-one-library-like-libc/9779 ?

[2019-05-27 20:25] nhynes opened #61243 "WASI should have a cdylib output"
Currently `wasm32-wasi` does not support the cdylib output type, which is unfortunate because this means that only Rust programs can consume programs that target wasi (through the rlib output).

As a motivating example, consider a database wrapper Wasm module. One might want to write it safely in Rust and use it from another Wasm module loaded at runtime. The database wrapper would want to use WAS

[2019-05-27 20:26] nhynes commented on #61243
moving to rfcs repo

[2019-05-27 20:26] #61243 closed

[2019-05-27 20:48] OlegTheCat commented on #44930
Hi, guys. Sorry in advance, if it's the wrong place to ask. I'm currently trying to write a Rust function that accepts a vararg of C structs, but [`VaArgSafe`](https://doc.rust-lang.org/1.33.0/src/core/ffi.rs.html#144) trait, which is implemented only for a handful of types, doesn't allow me to do this. I believe that C language doesn't have such restrictions.
Also, I've come across [this comment]

[2019-05-27 20:49] muyiliqing opened #61245 "Order of execution and borrow checker"
The following code gets an error from compiler:

[code]
Error message is
[code]

But if `run` is like the following, the code compiles:
[code]

The two versions are just equivalent to me. Is this a bug or a feature?

I found related discussion in [rust internals](https://internals.rust-lang.org/t/rust-expression-order-of-evaluation/2605/28) and [github](https://github.com/rust-lang-nursery/referen

[2019-05-27 20:59] jonas-schievink commented on #61245
This doesn't really have to do with the borrow checker, in function calls the receiver is just evaluated before any arguments. This is intentional (it's basically an implication of "function arguments are evaluated left-to-right"), and can't be changed because unsafe code can rely on it.

[2019-05-27 22:26] estebank opened #61251 "E0061 should point at the arguments as well"
When a function call has arguments missing, we emit the following error:

[code]

We should make an effort to look at the type signature and identify where the likely missing arguments are based on this.

If we have `fn foo(a: A, b: B, c: C)` and the function call is `foo(A, C)`, we should point a secondary span to the space between `A` and `C` as the place where the missing argument is.

Alternat

[2019-05-27 22:33] ia0 commented on #61053
Thanks, I was indeed looking for `[patch.crates-io]`. I think all 3 checks are implemented in https://github.com/ia0/rust/tree/issues_61053. What remains to be done are:
- Fix all macro errors in rustc and dependencies (may take some time, there are a lot).
- Clean up code (current code was mostly to get the check in place to get an idea of impact).
- Improve error messages (very basic for now).
-

[2019-05-27 23:51] saifali96 commented on #61240
@rust-highfive I just tried to update my rustc nightly, it breaks and says `rls` component is not available:

[code]

Could the issue be also related to this one?

[2019-05-28 00:20] alexreg commented on #44930
@OlegTheCat Actually I believe the C standard does specify that this is undefined behaviour, though I don't have the relevant section at hand. (Incidentally I'm curious why f32 isn't supported.) I know @dlrobertson is busy currently, but hopefully he can clarify when he's back.

[2019-05-28 01:50] dlrobertson commented on #44930
@alexreg

`float` is not allowed as stated in the C specification.

@OlegTheCat Once you get into arbitrary aggregate types things get much more complex. More testing and stabilization of the current implementation needs to be done to open `VaList::arg` up to more types. Are you working with an aggregate type or is there a primitive type that you're hitting this with?

[2019-05-28 06:21] oli-obk commented on #61240
yes, very much related. I had a fix yesterday, but it didn't get through in time for todays nightly. Try again tomorrow

[2019-05-28 07:32] raindev commented on #48111
Are there any outstanding concerns to be resolved before stabilization or is the issue just waiting for someone to send a pull request?

[2019-05-28 09:04] OlegTheCat commented on #44930
@alexreg I've just had a glance at C standard and couldn't find any info regarding struct types and UB. As far as I can see, the only thing that is UB in varargs is when the type of the passed value and the type passed to `va_arg` don't match. Maybe I'm looking into the wrong section.

As far as I understand, the thing is that `f32` is being promoted to a `double` (`f64`) when passed as a vararg.

[2019-05-28 09:10] gnzlbg commented on #61180
That is not intended to work, so I would close this issue.

[2019-05-28 09:10] matthiaskrgr opened #61256 "fast path to detect tool breakage?"
sometimes the following happens:

rust pr A breaks clippy
rust pr B gets tested
   clippy gets fixed
a rust pr C to fix clippy is opened
rust pr B gets merged and breaks clippy AGAIN
rust pr C gets tested
rust pr C fails and wastes ~3 hours of CI time

I wonder if we could have a fast path that does not involve compiler bootstrap in order to determine if a tool will be fixed or not.

Would it to:

[2019-05-28 09:11] gnzlbg commented on #61180
`#[rustc_args_required_const(N)]` just errors if the `N` argument is not const. That's it. It is not any sort of magical type-level consts in argument position kind of thing.

You can turn a run-time value into a compile-time constant by, e.g., matching on it, e.g., using `match` like this: `match N { 0 => 0, 1 => 1, ... , _ => 255, }`.

[2019-05-28 09:22] oli-obk commented on #61180
Some discussion on zulip on this: https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/rustc_args_required_const.20in.20traits

TLDR: I don't think we should add any more features to `rustc_args_required_const`. We should either go with const generics or have an actual RFC that figures out how to have const generics syntactic sugar in argument position

[2019-05-28 09:41] pnkfelix commented on #61245
Yep, this is not a bug. Things are running as designed. Closing as not-a-bug.

[2019-05-28 09:41] #61245 closed

[2019-05-28 09:44] DutchGhost opened #61257 "rustdoc fails to display const generics correctly"
Having the following code in `lib.rs`:
[code]

produces a funny looking rustdoc page:

http://prntscr.com/nuc2w4

Maybe related to https://github.com/rust-lang/rust/issues/60737 ?

[2019-05-28 09:48] pnkfelix commented on #61211
This ... might be a deliberate choice?

In particular, there has been some discussion circling around whether the behavior in cases like this should be based on lexical scopes (as I believe is currently the case) or a liveness analysis (which what I think @sdroege is implicitly asking for here)?

But I'm not an expert in what is the general expectation when it come to async-await semantics. cc @cr

[2019-05-28 09:59] orenbenkiki commented on #41758
If the matter is open to discussion: I find that writing `foo.resize_with(size, Default::default)` or even `foo.resize_with(size, default)` is too verbose and less communicative of the intent than writing the shorter and clearer `foo.resize_default(size)`. As @Kerollmops pointed out, there's a reason we have an `unwrap_or_default`.

[2019-05-28 10:28] danielhenrymantilla commented on #60715
To opt out of `Freeze`, using `Mutex<()>` / `PhantomData<Mutex<()>>` instead avoids opting out of `Sync` "by accident".

___

#### aside

I think that having an explicitely named `PhantomXXX` (_e.g._, `PhantomUnfrozen`, but also `PhantomUnsynced`, `PhantomThreadBound`), even when it is just a `type` alias or a new type wrapper around `PhantomData`, helps improve the readability of the code: curren

[2019-05-28 12:20] david0u0 opened #61260 "Is it posible to enforce dynamic dispatch for all generic during compile time?"

[2019-05-28 12:24] jonas-schievink commented on #61260
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

To answer your question, this is not currently supported and it's unlikely that it can be supported in general (ie. in *

[2019-05-28 12:24] #61260 closed

[2019-05-28 12:30] david0u0 commented on #61260
@jonas-schievink
Thanks for the quick reply :)

[2019-05-28 12:52] withoutboats commented on #61211
Maybe I'm confused, but I don't think this is a deliberate choice and I think its connected #52924.

What we've decided is that we don't rearrange destructors in any surprising way, but once something has been dropped we shouldn't need to hold it in the state any longer. I don't think fixing this is a blocker (since it should be strictly backwards compatible for these generators to gain a `Send` i

[2019-05-28 13:28] Keruspe opened #61262 "rustc 1.35.0-beta.7 (2bafaaf66 2019-05-14) cannot build itself"
It hangs when building libsyntax.

Last logs from the build:

[code]

[2019-05-28 13:34] michaelwoerister commented on #61002
I just confirmed that (for me locally) PGO seems to work on Windows GNU. That is, I built `ripgrep` with instrumentation, ran it, and rebuilt it with the profiling data collected. It worked just fine, no crashes. So I updated the original issue text to just mention MSVC instead of Windows in general.

[2019-05-28 13:39] luser commented on #54852
cargo nightly will now invoke rustc with `--emit=dep-info,metadata,link`, but running `rustc --emit=dep-info,metadata,link --print=file-names` *still* doesn't print the rmeta name, which isn't good.

[2019-05-28 13:39] mati865 commented on #61262
What build options are you using?

[2019-05-28 13:50] oherrala opened #61264 "Rust 1.35.0 x86_64-unknown-linux-musl has multiple definition of `__errno_location`"
This is breakage between 1.34(.2) and 1.35.0.

1.34 worked fine, 1.35 not any more. We are building `x86_64-unknown-linux-musl` using musl 1.1.22 (with clang).

[code]

The following Dockerfile can be used to demonstrate the issue. It's quite long because of building both `musl` and `libressl` for Musl compilation.

[code]

This error seem to happen with some, but not all crates. For example `carg

[2019-05-28 13:53] SillyFreak opened #61265 ""unused macro definition" false positive with a private helper macro"
consider the following:

[code]

This code gives me `unused macro definition` for the `internal!` macro. Of course, if I were to remove it, the exported `public!` macro would not work. `internal!` is unused in a very narrow sense, but it's a false positive for sure.

[2019-05-28 13:54] mati865 opened #61266 "Enable PGO tests on `windows-gnu`"
https://github.com/rust-lang/rust/pull/61080 enabled profiler for `windows-gnu` `dist` jobs and it seems to work.
I didn't know if CI has enough budget to enable it for tests as well so it was left for now but it should be enabled in the future.

Related issue: https://github.com/rust-lang/rust/issues/59637

@michaelwoerister you might want to add this issue to https://github.com/rust-lang/rust/is

[2019-05-28 13:55] mati865 commented on #61266
@rustbot modify labels: +O-windows-gnu +T-infra

[2019-05-28 14:01] michaelwoerister commented on #61266
I'd love it if we ran tests here too. Compiling the profiler runtime shouldn't be a big deal, buildtime-wise. I don't think it should block stabilization though.

[2019-05-28 14:02] michaelwoerister commented on #61266
cc @rust-lang/infra

[2019-05-28 14:03] hellow554 commented on #60736
Partially resolved by #60817
I think this can be closed in favor of #34601. What do you think @jonas-schievink ?

[2019-05-28 14:05] jonas-schievink commented on #60736
https://github.com/rust-lang/rust/pull/60761 will close this when merged, and it addresses `while` specifically, so we can also wait for that to land

[2019-05-28 14:06] czipperz commented on #43038
Ping @BurntSushi @aturon @withoutboats do any of you have any concerns with merging this?

[2019-05-28 14:07] hellow554 commented on #55815
Is there a way to test miri @RalfJung? Are there any plans for having tests for miri? I can't find any in `src/test` 😕

[2019-05-28 14:14] RalfJung commented on #55815
Miri has its own test suite in `src/tools/miri/tests`

You could add a test in https://github.com/rust-lang/miri/blob/master/tests/run-pass/closures.rs?

[2019-05-28 14:15] RalfJung commented on #55815
Though TBH this looks very similar to the test we already have.
[code]
So I think this can just be closed?

[2019-05-28 14:41] Keruspe commented on #61262
@howaboutsynergy heh, looks like the same indeed, thanks.

let's close as duplicate then

[2019-05-28 14:41] #61262 closed

[2019-05-28 14:42] #60754 closed

[2019-05-28 14:43] #60223 closed

[2019-05-28 14:54] SillyFreak commented on #61265
ok, trying to use the macro from another module I just noticed that I seem to have bot macros exported to have this actually work correctly.

Is that correct, or am I missing even more?

A workaround for both seems to be to declare the helper macro inside the exported macro. Is that how it's intended?

[2019-05-28 15:24] carado commented on #39915
Is it supposed to work with cargo ? I currently get the following errors when trying to build a blank project on the latest nightly build of rust and cargo.
[code]

[2019-05-28 15:33] edwin0cheng commented on #60593
Just copy from the project issue i wrote:

After a little bit of digging, my guess is, it is not related to ABI compatible problem. It seem to be related to the different of `thread_local` storage of static linkage and dynamic linkage.

The actual panic is [this](https://github.com/rust-lang/rust/blob/dc6db14e1cd60012f25be4fd8d2eb96ea5b4bb68/src/libproc_macro/bridge/client.rs#L315) line.
And `stat

[2019-05-28 15:38] estebank opened #61271 "Handle type error caused by returning specific type that would be solved by using impl Trait"
https://mobile.twitter.com/mountain_ghosts/status/1133339596958392320

[When encountering a type error on the return expression not matching the return type](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a6c0e07ce71adc921682e57bea30e4ec), which is a type argument for a trait, try to evaluate the return expression as if the return type had been `impl` of the expected trai

[2019-05-28 15:42] cramertj commented on #61211
cc @tmandry

[2019-05-28 15:53] sdroege commented on #61211
I agree, and it's also easy enough to workaround and you'll notice at compile time. It's mostly an inconvenience.

[2019-05-28 15:57] eddyb commented on #60593
@edwin0cheng Static vs dynamic linking does sound scary.
However, note that `Bridge::enter` is called from this function: https://github.com/rust-lang/rust/blob/7da118581c9dc839c8bf3fbb622bab9ce32bbf38/src/libproc_macro/bridge/client.rs#L341-L351

Which is used as a `fn` pointer as part of the `Client` `struct` you get from the dylib.

To investigate further, you *could* transmute the `Client`, ju

[2019-05-28 15:57] RalfJung opened #61272 "Improve pin projection documentation"
In [this forum thread](https://users.rust-lang.org/t/when-is-it-safe-to-move-a-member-value-out-of-a-pinned-future/28182), @shepmaster 	wonders about the details of pinning projections, in particular when there are multiple fields that can make *different* choices for being structural or not.  The docs could likely be improved for that.

This is just so that we don't forget.

[2019-05-28 15:58] RalfJung commented on #58882
Well, the problem is that implementing the intrusive linked list with a safe API is actually non-trivial. I expect >100 lines. That's why the example is left at the conceptual level.

[2019-05-28 16:20] joshuabogue opened #61275 "Varargs are completely unchecked if passed as generics"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/61275)*

I am trying to call the function DftiSetValue from the Intel Math Library.  The function has the layout MKL_LONG DftiSetValue(DFTI_DESCRIPTOR_HANDLE, enum DFTI_CONFIG_PARAM, ...), the first is an 8 byte pointer (windows 64 bit), the second is an enum which is 4 bytes long, and the last parameter i

[2019-05-28 16:30] mtak- commented on #60715
A separate `PhantomUnfrozen` type is required. AFAIK there is no `Sync` ZST with interior mutability.

`PhantomData<Mutex<()>>`/`PhantomData<AtomicUsize>` would have the correct opt out behavior, but requires removing the blanket `PhantomData` `Freeze` impl. This is a bad idea due to widespread usage of `PhantomData` for owned pointers. Types like `Vec<Cell<u8>>` would not be `Freeze` - even thoug

[2019-05-28 16:52] eddyb commented on #60715
You can make your own on stable Rust with a wrapper around `UnsafeCell<()>` that you then `unsafe impl Sync` on.

Note that we reserve the right to consider everything outside a literal `UnsafeCell` to be frozen so this shouldn't be used for unsafe tricks, only "unpromising" `Freeze` on a type.

[2019-05-28 16:59] sgrif commented on #50146
I tried using this feature today, it doesn't appear to actually be implemented. I tried adding `#[doc(alias = "...")]` to multiple items, none of them showed up when searching for the alias, nor did they get added to `search-index.js` (where I assume they were supposed to live)

[2019-05-28 17:01] sgrif commented on #50146
Hm, it does appear to work for structs at least -- but not all items that otherwise appear in search. In particular it doesn't appear on trait functions

[2019-05-28 17:08] llogiq opened #61277 "Suggest alternative return type for `Option`s and `Result`s"
Given the following code:
[code]
Rust reports an error for using `?` and suggests adding `;` after the `Some(())`. A preferrable Option (pun intended) is to suggest changing the return type to `Option<()>` when the body's result type is `Option<_>` and there exists at least one `?` in the body. Similarly, if we have `Result`s, we might want to try to infer a useful return type, e.g.

[code]

cc @e

[2019-05-28 17:10] alexcrichton commented on #61174
This was pointed out in https://github.com/rust-lang/rust/issues/61022 and looks to be fixed in https://github.com/rust-lang/rust/pull/61055. It seems that https://github.com/rust-lang/rust/pull/61055 flew in under the radar of https://github.com/rust-lang/rust/pull/60777 where the actual change to disable these targets happened.

@bgermann want to send a PR to revert the changes [in this file](ht

[2019-05-28 17:18] bgermann commented on #61174
Yes, I will do it today.

[2019-05-28 17:38] #61240 closed

[2019-05-28 17:39] mtak- commented on #13231
This has either been regressed, or was never totally working: [example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=43fd89c965a6ff328b06ee75922784bd).

[2019-05-28 18:08] epai commented on #47938
I was able to get the info by first just directly printing out the memory address for the object:

example (`request` is the local variable name here)
[code]

[2019-05-28 18:58] estebank commented on #61277
Notice that if the function is _not_ `main` and there's no explicit return type we do suggest changing the return type:

[code]

[2019-05-28 19:09] eddyb commented on #53667
@Manishearth I *thought* that you can't probe whether something parses as an AST fragment in `macro_rules` macros, only tokens (this includes `$i:ident`, `$l:lit`, etc.).
That is, I expected the first `expr`/`pat`/`stmt`/`block`/`item`/etc. that is reached to be final.
But I'm wrong, and this is either behavior introduced in the past couple years, or I was just confused.

[2019-05-28 19:21] estebank commented on #43201
[Current output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=d8c7c5cdfc270d6b66c8985fbbd53d5d):

[code]

[2019-05-28 19:21] #43201 closed

[2019-05-28 19:23] estebank commented on #58982
The current output no longer points incorrectly at the `return` statement:

[code]

[2019-05-28 19:23] #58982 closed

[2019-05-28 19:29] estebank opened #61281 "Mismatched types error involving if/else expressions should point at"
[code]
currently points at the entire `if`/`else`

[code]

It should probably point at the `else` expression

[code]

[2019-05-28 19:29] jonblack opened #61282 "rust-gdbgui script is not installed"
According to merge request #53774, and the line `builder.install(&builder.src.join("src/etc/rust-gdbgui"), &sysroot.join("bin"), 0o755);` in `src/bootstrap/dist.rs`, the script `rust-gdbgui` should be installed in `~/.cargo/bin/rust-gdbgui`.

With rust 1.35.0 I don't see this script installed. I'm running linux, so the installer should be going into that branch. I can see `rust-gdb` and `rust-lldb

[2019-05-28 19:29] estebank commented on #61281
Taken from https://github.com/rust-lang/rust/pull/57793/files#r249357841

[2019-05-28 19:55] hbina commented on #25289
I am having this problem when executing `cargo test --all` in Amethyst and Rocket

[2019-05-28 20:15] alexcrichton commented on #61163
Indeed, they're showing up in the auto logs!

[2019-05-28 20:15] #61163 closed

[2019-05-28 20:16] varkor commented on #52897
The guarantees provided by `std::{f32,f64}::NAN` should be documented. At the moment, there is no information, but it might be helpful to be explicit about the fact that nothing is guaranteed other than being a NaN.

[2019-05-28 20:25] estebank opened #61285 "Suggestion for incorrect `target_feature` use"
[When encountering `#[target_feature = "+sse2"]`](https://github.com/estebank/rust/blob/609ffa1a890fd6b8b0364cd7b35bf1d45abf82d0/src/test/ui/target-feature-wrong.stderr), suggest `#[target_feature(enable = "+sse2")]` instead of the current `#[target_feature(enable = "name")]`.

(Follow up to #61140)

[2019-05-28 20:27] estebank opened #61286 "Suggestion for incorrect `repr` use"
[When encountering `#[repr = "C"]`](https://github.com/rust-lang/rust/blob/609ffa1a890fd6b8b0364cd7b35bf1d45abf82d0/src/test/ui/repr.stderr), suggest `#[repr(C)]` instead of the current `#[repr(C, packed, ...)]`. We need to detect specific cases like writing `#[repr("packed")]`, where we should suggest `#[repr(packed)]`, as otherwise provide a list of all the valid `repr`s.

(Follow up to #61140)

[2019-05-28 20:32] rust-highfive opened #61287 "`rls` no longer builds after rust-lang/rust#61274"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#61274, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nominat

[2019-05-28 20:32] estebank opened #61288 "Support more suggestions in template for bad attribute use"
Modify

https://github.com/rust-lang/rust/blob/a6ce9b312354cadb046be40398b7e28b616bad28/src/libsyntax/feature_gate.rs#L873-L877

to allow for [multiple suggestions](https://github.com/rust-lang/rust/pull/61026#discussion_r287482937) of the same type.

The following

https://github.com/rust-lang/rust/blob/a6ce9b312354cadb046be40398b7e28b616bad28/src/test/ui/no_crate_type.stderr#L1-L5

should be

[c

[2019-05-28 21:06] yodaldevoid commented on #31436
Everything for this feature is implemented, correct? If so, how long do we want to look at sitting on this before stabilizing?

[2019-05-28 21:20] Centril commented on #61287
I'm going to guess that https://github.com/rust-lang/rust/pull/61164 is to blame; cc @RalfJung

[2019-05-28 21:33] alexreg commented on #44930
This is what I understood too. In that case, there's no possibility of retrieving anything other than a C `int`, `unsigned int`, or `double`... so why the impls for the other types?

[2019-05-28 21:38] varkor opened #61292 "Send/Sync type parameters come after const parameters in docs"
https://github.com/rust-lang/rust/blob/721268583759224d0f6476e0b8b196cc8afbdea0/src/test/rustdoc/generic-const.rs#L12-L13
Const parameters should always be trailing (at least with respect to type/lifetime parameters). I'm not sure whether this is specifically a rustdoc issue or not yet.

[2019-05-28 21:47] RalfJung commented on #61287
The fix is mostly to replace `Scalar::Bits { bits, size }` by `Scalar::Raw { data, size }`.

But really RLS shouldn't be using such implementation details...

[2019-05-28 21:50] RalfJung commented on #61287
The logs look like the failure is in clippy, not RLS? I am confused.
[code]
(Great logs as usual, thanks Travis.)

[2019-05-28 21:51] eddyb commented on #61287
@RalfJung breaking `clippy` breaks RLS, AFAIK.

[2019-05-28 22:14] matthiaskrgr commented on #61287
https://github.com/rust-lang/rust-clippy/pull/4152 will fix it, only needs ci to pass.

[2019-05-28 22:29] mark-i-m commented on #31436
I thought it was still an open question of whether we wanted this or not. In particular, there was some discussion about whether we want to use the language of exceptions here (try, catch).

Personally, I’m strongly against trying to create the impression that Rust has something like exceptions. I think the use of the word `catch` in particular is a bad idea because anyone coming from a language w

[2019-05-28 22:33] Centril commented on #31436
I think https://github.com/rust-lang/rfcs/pull/2388 definitively settled whether `try` as a name is acceptable. *This is not an open question.* But the definition of the `Try` trait as well as `Ok`-wrapping seem to be.

[2019-05-28 22:39] rpjohnst commented on #31436
`Ok`-wrapping was already decided in the original RFC, then removed during implementation, and finally re-added later. I don't see how it's an open question.

[2019-05-28 22:43] Centril commented on #31436
@rpjohnst Well it is by virtue of Josh disagreeing with the decision with the original RFC... :) It's a settled matter *for me*. See https://github.com/rust-lang/rust/issues/31436#issuecomment-427096703, https://github.com/rust-lang/rust/issues/31436#issuecomment-427252202, and https://github.com/rust-lang/rust/issues/31436#issuecomment-437129491. Anyways... the point of my comment was that `try`

[2019-05-28 23:00] earthengine commented on #55815
Yes. I confirm that in Playground this is no longer the case. So well done!

[2019-05-28 23:00] #55815 closed

[2019-05-28 23:16] mark-i-m commented on #31436
Woah, when did this happen? The last thing I remember was discussions on internals. Im very much against Ok-wrapping too :(

[2019-05-28 23:37] FenrirWolf commented on #55132
Is there anything blocking this from stablization?

[2019-05-29 00:47] alexreg commented on #31436
Eww. Can't believe this happened. `Ok`-wrapping is so horrible (it breaks the very sensible intuition that all return expressions in a function should be of the function's return type). So yeah, definitely with @mark-i-m on this. Is Josh's disagreement enough to keep this an open issue, and get more discussion on it? I'd gladly lend him support in fighting this, not that it means something as a no

[2019-05-29 01:42] WiSaGaN commented on #61186
Are we sure it is not parsing it as octal? https://superuser.com/questions/857603/are-ip-addresses-with-and-without-leading-zeroes-the-same

[2019-05-29 01:44] tmandry commented on #61211
Typecheck has its own "view" of what locals might get incorporated into the generator, and that would be what's generating this error.

That's separate from the layout code, except that the layout set of locals must be a subset of the typecheck set. So I would say this isn't really part of #52924.

[2019-05-29 01:52] #60632 closed

[2019-05-29 01:52] #60744 closed

[2019-05-29 01:52] #60923 closed

[2019-05-29 01:53] #60925 closed

[2019-05-29 01:53] #53912 closed

[2019-05-29 02:56] alexcrichton opened #61301 "azure: Investigate seemingly spurious failures on CI"
## Git checkout failures

* ~~[arm-android git checkout failure](https://dev.azure.com/rust-lang/rust/_build/results?buildId=298)~~
* ~~[armhf-gnu git checkout failure](https://dev.azure.com/rust-lang/rust/_build/results?buildId=298)~~
* ~~[dist-various-2 git checkout failure](https://dev.azure.com/rust-lang/rust/_build/results?buildId=298)~~
* ~~[even more git checkout failures](https://dev.azure

[2019-05-29 03:04] est31 opened #61302 "In save-analysis, enum variant ref ids are inconsistent to def ids"
In rls/vscode, if you right-click on an enum name, it shows you all its uses. If you right click on a name of one of its variants, there are no uses shown despite there being some.

This doesn't seem to be fault of rls. Apparently the save-analysis info fed to rls is wrong. See the output presented here. In the defs table, the `Foo` enum has index 12 while the `Foo::Bar` variant has index 13. In t