[2019-02-27 07:34] pitdicker commented on #58326
Sorry, just made a PR to that makes them no longer return a `Result` https://github.com/rust-lang/rust/pull/58768. But it didn't work, the raw types on all systems already only return `Ok`.

------

I am still trying to make up my mind whether writing up a pre-RFC or PR to expose the `*Raw` types brings something useful.

`StdoutRaw` can in some sense break the synchronization promise of `Stdout`:

[2019-02-27 08:10] mitsuhiko opened #58771 "Lack of variance information for subtypes in error messages (E0495)"
We tried to build some more complex traits and this lead to a situation where the compiler would refuse to compile the trait implementation for a certain type. The reason for this turned out to be that an embedded unsafe cell somewhere deep inside the type made it invariant.

Here is an example of this:

[code]

This compiles, but if `Wrapper<T>` is changed to the Invariant version, then it refuse

[2019-02-27 08:17] canndrew opened #58772 "`TokenStream::from_str` returns spurious `Ok`s"
#### Cargo.toml

[code]

#### src/lib.rs

[code]

#### src/main.rs

[code]

Output of `cargo check`:

[code]

---

I originally raised this issue [https://github.com/dtolnay/syn/issues/584](https://github.com/dtolnay/syn/issues/584). I'm writing a procedural macro and I'm unable to check for lexer errors because `TokenStream::from_str` can sometimes lie and say that lexing succeeded. The compiler

[2019-02-27 08:28] petrochenkov commented on #58772
This is more or less the same issue as https://github.com/rust-lang/rust/issues/58736.

Token stream parsing doesn't currently work speculatively.
It either encounters an irrecoverable error and panics, or encounters and reports a recoverable errors and returns the recovered token stream.

[2019-02-27 08:39] crlf0710 commented on #30027
cc #58713 , maybe close this as a duplicate.

[2019-02-27 08:41] crlf0710 commented on #58713
cc https://github.com/rust-lang/rfcs/issues/1061

[2019-02-27 08:46] canndrew commented on #58772
Since `TokenStream` is used by syn this makes it impossible to write procedural macros which contain both rust and non-rust-friendly syntax. Could we instead make both these cases return `Err` and add a method to `LexError` which tries to return a recovered `TokenStream`?

[2019-02-27 09:45] SimonSapin commented on #56105
It turned that Servo upstream did not need to add the extra impl again, because we removed the one use with a function pointer that takes a parameter with a reference type. However the old copy of Servo in rustc-perf does: https://github.com/rust-lang-nursery/rustc-perf/issues/354

[2019-02-27 09:48] MaikKlein opened #58774 "Coercion happens after typechecking"
[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2d5b59f2c2933cd504f8e893b861d078)

`foo(&mut f);` doesn't compile because I assume the compiler just checks if the given type implements `U32`. Should the compiler deref before it type checks?

[2019-02-27 10:03] retep998 commented on #58326
One big question is should we have `StdoutRaw` and `StdinRaw` for Windows consoles that allow the user to read and write `[u16]` directly? Should we also allow the user to write arbitrary `[u8]` bytes through the narrow codepage?

[2019-02-27 10:09] oli-obk opened #58775 "Require explicit stabilization of the constness of functions"
Right now:

* if you have an unstable const function and you stabilize it, you automatically stabilize the constness, too.
* if you have a stable non-const function, adding `const` to it will automatically stabilize the constness
* You can opt-out of the stability of the constness of a function via `rustc_const_unstable`

What's missing is the ability to explicitly mark the constness as stable, ju

[2019-02-27 10:17] ParadoxSpiral commented on #58326
I would like to be able to set the capacity of the inner `BufWriter`.

[2019-02-27 10:26] oli-obk commented on #58767
Minimal repro:

[code]

you need both the `self`, a method call `.normalized`, and a method call on the result of that in order to trigger promotion. It seems like `self.normalized()` is promoted to make a `&Hz` for the call to `num`

[2019-02-27 10:37] Centril commented on #58775
cc https://github.com/rust-lang/rust/issues/57562#issuecomment-453794072
cc @rust-lang/libs @rust-lang/rustdoc

So... re. semantics, I think `#[const_stable(..)]` should have the semantics that:
+ If `#[const_stable(..)]` is attached:
    + If *not* `staged_api` => error
    + If item is *not* `const fn` => error
    + If `#[const_unstable(..)]` attached => contradiction! => error
    + If `#[stab

[2019-02-27 10:43] TimDiekmann commented on #58775
I have an idea for an alternative without introducing even more attributes: Add a `const_since` parameter to `#[stable(..)]`. I don't know if you cancover all mentioned cases with it, but I wanted to share thoughts once.

[2019-02-27 10:43] petrochenkov commented on #58775
It would probably be simpler and less error-prone to add modifiers to `#[rustc_stable]` and `#[rustc_unstabe]` than to introduce new attributes for const stability.

[2019-02-27 11:01] oli-obk commented on #58767
Ok, so promotion is indeed screwing up. The MIR is promoting the `self` argument.

[code]

[2019-02-27 11:06] Centril commented on #58775
You'd also need a way to name the feature-gate, not just the equivalent of `since`, e.g.
[code]

If `const_feature` is omitted, we can assume the feature gate name is the same as the usual one.

This hasn't really addressed the ??? part tho; only repainted the syntax.

[2019-02-27 11:07] RalfJung opened #58776 "NLL migrate mode erroneously downgrades error with nested closures, yielding use-after-free"
The following code compiles with the 2018 edition on stable, beta and nightly, and produces this error:
[code]
[Code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=39d95c9993548f34a1ae81bc1f90f533):
[code]
And indeed there's a use-after-free here.

Interestingly, in the 2015 edition this is correctly detected as incorrect, though the error is not quite what I would have

[2019-02-27 12:30] lzutao commented on #58776
In stable (clean build):

<details>
<summary>Standard Error</summary>

[code]
</details>

Standard Output

[code]

[2019-02-27 12:54] ishitatsuyuki commented on #58774
Deref coercion does not apply to `DerefMut`. Could that be the cause?

[2019-02-27 12:57] matthewjasper commented on #58776
So the playground doesn't show this is you run the code, but we are emitting warnings. Looks like the issue is with the migrate mode.

[2019-02-27 13:13] hellow554 commented on #58776
[code]

So the solution would be to make it an hard error now? ;)

[2019-02-27 13:23] pnkfelix commented on #58776
cc #55492

[2019-02-27 13:27] Centril commented on #58774
I think this is correct behavior going by the reference at least, but I'm not sure... [Relevant section:](https://doc.rust-lang.org/nightly/reference/type-coercions.html)

cc @nikomatsakis

[2019-02-27 13:46] pnkfelix commented on #58776
triage: P-high. Leaving assigned to @matthewjasper until they complain. :)

[2019-02-27 13:47] pnkfelix commented on #58646
nominating for discussion ... this is in principle, I think, something to discuss at T-compiler, not just NLL. (Although I guess since this choice only affects MIR-borrowck, maybe the WG-nll is the right "expert group" to deliver initial advice here...)

[2019-02-27 13:50] pnkfelix commented on #58646
(it might be hard to implement this change via a warning-cycle. Its hard to track how new control-edges affect errors. Though I guess we could do something similar to migration mode: Tag the fake-edges added here as "even more special", then run MIR-borrowck with the full control-flow graph, and if we see an error, re-run dataflow+MIR-borrowck but this time ignore the specially-tagged edges, and t

[2019-02-27 13:52] pnkfelix commented on #58646
triage: P-medium, NLL-complete.
 * NLL-complete because the choice here is not about rejecting an instance of unsound code, but rather just restricting the set of accepted programs in order to provide for future flexibility.

[2019-02-27 13:53] MaikKlein commented on #58774
I have to say I am not too familiar with the terminology but to me an explicit type is a type that the compiler already knows which `Foo` should satisfy.

An inferred type to me would be `foo(&mut panic!())`, and I wouldn't expect this to work at all.

The rules state `&mut T to &mut U if T implements DerefMut<Target = U>` which I think the code above satisfies?

[2019-02-27 13:58] pnkfelix commented on #58419
triage: P-medium.

I am assuming that we will consider widening the semantics of 2-phase borrows in the future in a manner that might allow this code to pass. But such a change in the static semantics is not as high priority as other tasks for the NLL team.

[2019-02-27 13:59] Centril commented on #58774
No,

[code]

[2019-02-27 14:13] pietroalbini opened #58779 "Rust 1.34 beta crater runs"
cc @rust-lang/release

[2019-02-27 14:16] pnkfelix commented on #27697
This no longer reproduces. Tagging as E-needstest

[2019-02-27 14:18] RalfJung commented on #58776
As @lqd pointed out on Zulip, the code actually gets rejected properly when adding `#![feature(nll)]`.

[2019-02-27 14:19] pietroalbini commented on #58779
@craterbot run name=beta-1.34-1 start=beta-2019-02-23 end=beta-2019-02-27 mode=build-and-test cap-lints=warn p=10

Note: using `beta-2019-02-23` instead of `1.33.0` since the latter is not yet released.

[2019-02-27 14:20] pietroalbini commented on #58779
@craterbot run name=beta-1.34-1-rustdoc start=1.33.0 end=beta-2019-02-27 mode=rustdoc cap-lints=warn p=5

Note: using 1.33.0 here since it will be released when the previous run finishes.

[2019-02-27 14:23] pnkfelix commented on #30786
This is now rejected in both editions on both beta+nightly with the following diagnostic:

[code]

Tagging as E-needstest

[2019-02-27 14:30] pnkfelix commented on #27487
okay since this has a test I won't tag it as E-needstest. (Presumably when NLL is turned on across the board we'll just remove `#![feature(nll)]` from all those tests.)

But I'm still going to leave it open since our policy is to leave NLL-fixed-by-NLL bugs open until we turn NLL on across the board

[2019-02-27 14:32] pnkfelix commented on #28970
Reopening: Our current policy is if the 2015 edition alone suffers from a bug that is scheduled to be fixed by NL (i.e. tagged NLL-fixed-by-NLL) then we leave such issues open until NLL is turned on in the 2015 edition.

[2019-02-27 14:34] pnkfelix commented on #57964
tagging as metabug.

In general most of these issues are tagged NLL-fixed-by-NLL and so they'll tend to stay open until #57804 is addressed. Which means I don't see much point in trying to assign high priority to this issue (since most of the work items cannot be addressed until #57804 is addressed.)

[2019-02-27 14:39] pnkfelix commented on #57895
triage: P-high. Assigning to self.

[2019-02-27 14:46] pnkfelix commented on #57804
triage: P-high

[2019-02-27 14:48] SimonSapin commented on #57012
Since discussion seems to have stalled, I’ll try to summarize the remaining concerns.

* This FCP proposes two things: stabilizing the never type, and changing type inference fallback. In some rare cases, the latter can change the meaning of previously-valid stable `unsafe` code and make it unsound: https://github.com/rust-lang/rust/issues/57012#issuecomment-449098855. (Disclosure, I filed this on

[2019-02-27 15:09] xfix commented on #57156
After fixing this, `Output = T` is no longer necessary, which is really nice :+1:.

[2019-02-27 15:15] ExpHP commented on #58774
I would think explicit means "everything but generics"!  (or rather, "everything but type inference variables")

At the point where the compiler is ready to insert a coercion here, here is what it sees:

[code]

That `_` becomes a type inference variable.  This unifies with anything, so the compiler refuses to insert any coercions, and then it performs type inference and concludes that the type in

[2019-02-27 15:15] #58715 closed

[2019-02-27 15:47] pnkfelix commented on #57642
cc #57895

[2019-02-27 15:52] pnkfelix opened #58781 "NLL: turn off migration mode"
Transition fully to NLL (instead of the migration mode currently used).

   * one currently opts into this via `#![feature(nll)]` or `-Z borrowck=mir`
   * It gets rid of AST-region inference errors, causing some code to be accepted that is rejected by migrate mode, and changing diagnostics in many cases.
   * Potential blockers:
     * ~NLL-sound bugs that affect NLL mode without migration

[2019-02-27 15:57] pnkfelix commented on #58781
Explicitly marking this P-medium for now, to reflect the fact that transitioning the 2015 edition to migrate mode is higher priority for the short term.

[2019-02-27 15:57] relchar commented on #58270
Hey Gargi, feel free to take it. I haven’t been able to take a look yet.

[2019-02-27 16:00] pnkfelix commented on #57642
marking P-medium to reflect that this is solely about `#![feature(nll)]`, not migration mode (#58781). When the latter becomes higher priority, this will likewise be raised up.

[2019-02-27 16:02] pnkfelix commented on #57170
triage: P-high. Hopefully fix in PR #57202 lands very soon.

[2019-02-27 16:02] alexcrichton commented on #58760
From a technical perspective this is pretty feasible, but from a stabilization perspective is historically something we've never wanted to provide. We want the technical freedom to tweak unwinding as we see fit, which means it's not guaranteed to match what C++ does across every single platform.

[2019-02-27 16:08] pnkfelix commented on #54940
triage: Marking P-high. If WG-traits or T-compiler wants to demote then they can do so, but from my point of view this is going to be one of the last things potentially blocking turning borrowck=migrate on by default for the 2015 edition, so I want it to be readily visible.

[2019-02-27 16:11] pnkfelix commented on #54105
nominating for discussion at NLL meeting tonight. Namely, I'm seeking a volunteer to look for a test case.

[2019-02-27 16:16] pnkfelix commented on #54940
also, nominating for discussion at NLL meeting, just to get check-in about what plan is for lazy-normalization from niko.

[2019-02-27 16:23] pnkfelix commented on #58646
Also, I would probably be happy to come to a conclusion that says: "we do build in some order dependencies"; I just want us to try to be clear about the motivation for the original fake-branches in the control-flow graph and that we are not fooling ourselves with regards to how much future-proofing we have in place here.

[2019-02-27 16:58] shepmaster commented on #55168
I don't think you can do this, as these work for attributes within the type on **stable** 1.32:

[code]

[code]

[2019-02-27 17:22] anp commented on #58619
Maybe you could clarify which request(s) you view as dogmatic and uncompromising? As a bystander, I am very surprised that this conversation remains ongoing when the opportunity cost of large, cross-cutting, subjective cosmetic PRs is clearly very high. And this high opportunity cost is paid in an environment where "number of things that can land in a day" is a pretty small value.

[2019-02-27 17:39] lqd commented on #58776
Yeah, this is why Felix changed the title. This problem is not in MIR borrowck but in the "migrate mode" itself: the piece of code responsible for checking if an NLL error would have been missed by AST borrowck, and downgrading it to a warning (to make the AST borrowck bug fixes not break existing code during a migration period).

Here, the 2 borrowck's errors are different enough that migrate mod

[2019-02-27 18:00] SimonSapin commented on #57391
Updated the issue description.

@rfcbot fcp merge

[2019-02-27 18:12] petrochenkov commented on #55168
Oh god.
If not reject, then issue a deprecation warning immediately.

Self-assigning, I should be able to fix it this weekend.

[2019-02-27 18:17] shepmaster commented on #55168
Is there any suggested way to have my desired syntax of

[code]

[2019-02-27 18:27] petrochenkov commented on #55168
@shepmaster
Not right now, but something like https://github.com/rust-lang/rust/pull/57921 may help.

Actually, the derive macro itself could be able to introduce "tool modules" into scope (like `rustfmt` in `rustfmt::skip`, but not global to the whole crate).
`#[proc_macro_derive(Example, tools(example))]` or something.
Right now this is almost trivial to add for "macro expanded" attribute target

[2019-02-27 18:45] estebank opened #58786 "Identify incorrect lifetimes using a number as identifier in the parser"
[code]

[should instead be](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2beb7b028278cdbb901fa1a5796f7a57)

[code]

[2019-02-27 18:51] #58473 closed

[2019-02-27 18:51] #58652 closed

[2019-02-27 18:51] #53714 closed

[2019-02-27 18:51] #58640 closed

[2019-02-27 18:51] #57796 closed

[2019-02-27 18:51] #58212 closed

[2019-02-27 19:20] epage commented on #49359
From the experience of creating naiive serde structs / enums for libtest's output, here are my thoughts from translating it exactly how it is written in libtest (rather than inventing my own schema that happens to be compatible):

- For suites / tests, the data is two enums nested.  For some cases, this might work well, for others, it is unnecessary nesting to deal with.
- Probably the most annoyi

[2019-02-27 20:03] lqd commented on #57374
With the temporary return of the leak-check from #58592, this issue has expectedly "un-regressed" to diagnostics levels very similar to pre-Universes or AST borrowck:

[code]

[2019-02-27 20:15] Amanieu commented on #50512
Note that the same thing can also be expressed as `opta.is_some() != optb.is_some()`. Do we really need a separate method just for this?

[2019-02-27 20:20] Milack27 commented on #50512
@Amanieu `opta.is_some() != optb.is_some()` returns a boolean, while `opta.xor(optb)` returns the content.

[2019-02-27 20:37] justhsu opened #58787 "Strange interaction between matching and lifetimes"
I ran into some baffling issues when matching on a mutable reference and assigning to the mutable reference in the match arms. It seems that the inferred lifetime bound escapes the match. Playpen:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4428e0752f518ba02ed12c77560d8afb

I tried three ways of matching on a borrowed value `list.0`.  The first two work only without th

[2019-02-27 21:05] pnkfelix commented on #58646
@matthewjasper points out during the NLL meeting that a cyclic control-flow graph for match would interact badly with guards and that If we really wanted to try to prepare for a change as described here, it would probably be best handled by adding more fake-reads (that would be modelling the speculative execution of patterns).

[2019-02-27 21:06] apiraino commented on #45284
@ddemarco5 sorry to comment on this old issue, but I'm facing the same problem. I can't figure out the flags to pass in the `~/.cargo/config` file to successfully xcompile for the Raspi1.

Can anyone give me some directions? I'm targeting `arm-unknown-linux-gnueabihf` and I get segfaults when running the binary on the raspi1

I've tried compiling with `rustc` with the following cmd (and similar pe

[2019-02-27 21:07] koute commented on #58760
:+1:

I have [an implementation of very fast local stack unwinding](https://github.com/nokia/not-perf/blob/master/nwind/src/local_unwinding.rs) (which we use in our internal LD_PRELOAD-based memory profiler) which uses a shadow stack and trampolines to effectively cache previously unwound stack frames, and [I need to clear all of the previously set trampolines when an exception gets thrown](https:

[2019-02-27 21:11] pnkfelix commented on #46989
removing E-needstest since #58592 implies it is no longer implicitly working, at least for now...

[2019-02-27 21:24] pnkfelix commented on #54105
removing I-nominated tag. We discussed briefly but I think I didn't make the bait here attractive enough.

[2019-02-27 21:27] ddemarco5 commented on #45284
Oof. This was a while ago. I read the bug through again to try to refresh myself...

It looks like you're getting confused as I was, that target you're using says it works for the rpi1, but the default arm-linux-gnueabihf toolchain you get from pretty much any distro with apt-get, yum, etc... if built for ARMv7.

So when you go to compile your program, some ARMv7 code is included (not sure if it's

[2019-02-27 21:48] apiraino commented on #45284
uhm ... interesting but also a bit of a let down. [Reading this answer on S.O.](https://stackoverflow.com/a/50832243) I thought I could tweak the flags to have the right executable for `armv6`.

The bad surprise is that `arm-linux-gnueabihf` on the Ubuntu toolchain might not match what I have on the raspi1, same triple as declared by `dpkg`:

<details>

[code]

</details>

This is all pretty confu

[2019-02-27 22:29] ddemarco5 commented on #45284
Welcome to the reason people like interpreted languages! :P It can feel like a lot to take on, and error messages are rarely helpful, but you'll start to get the hang of it. Once you see enough of this stuff, the picture starts to come together.

[2019-02-27 22:53] alexreg commented on #58619
That's the whole point, there are a number of points that *aren't* terribly subjective. Or at worst, only a small amount of subjectivity. I think there needs to be more appreciation for this sort of work, that cleans up the codebase and makes it more readable...

Anyway, I'll be opening a new much-reduced PR soon, which is split roughly by change type. Then hopefully people can recognise that we'r

[2019-02-27 23:04] oli-obk commented on #58619
I advise against putting additional work into this. When the FCP is over, we will close these PRs unreviewed. I have laid out plans for how to address the style topics you want to address. Please consider working along those lines.

[2019-02-27 23:29] bkchr commented on #34537
Hey, I got the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=454c3de6b22b250e5824d8efd9a2d049

What would be the correct way to solve this problem? And yes I want to have `Bar<T>: Clone` in the where clause :D

[2019-02-27 23:41] estebank opened #58792 "Suggest `split_at_mut` when trying to use multiple non-overlapping mutable slices to the same array"
[The following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1947bc965868f90b695a62803f999657) is invalid due to lifetime rules:

[code]

[code]

The solution is to either use `unsafe` or (more appropriately) use [`split_at_mut`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b789f2e5abc3895158f80a9602e59b6b):

[code]

The compiler should

[2019-02-27 23:51] estebank commented on #56766
@saleemjaffer you can potentially modify the following and `PrevTokenKind` to track `OpenDelim`

https://github.com/rust-lang/rust/blob/7e001e5c6c7c090b41416a57d4be412ed3ccd937/src/libsyntax/parse/parser.rs#L1342-L1351

but I feel that might be overkill. Why do you need ot modify the `eat` fn? The code that @lcnr wrote seems correct to me, if the `self.bump()` after identifying the bad doc comment

[2019-02-28 00:03] alexreg commented on #58619
@oli-obk Did you see @nikomatsakis's proposal above? He seems to be advocating a middle path, which I'm in favour of too.

[2019-02-28 00:17] Mark-Simulacrum opened #58794 "Default behavior of unwinding in FFI functions"
This is the tracking issue for the behavior of unwinding through FFI functions.

There are two choices here: we can abort if unwinding occurs through an `extern "C"` boundary. We abort on beta 1.34 and nightly 1.35, but will permit unwinding in stable 1.33.

We previously attempted this change in [1.24](https://blog.rust-lang.org/2018/02/15/Rust-1.24.html#other-good-stuff) and reverted in [1.24.1]

[2019-02-28 00:33] Centril commented on #55168
@petrochenkov  Is there a reason we cannot let `#[proc_macro_derive(Example, attributes(example::attr))]` mean `#[proc_macro_derive(Example, tools(example))]` plus some validation for the `::attr` part? *handwave*

From a user facing perspective at least, @shepmaster's https://github.com/rust-lang/rust/issues/55168#issuecomment-467972346 example seems reasonable and "expected".

[2019-02-28 01:06] Mark-Simulacrum commented on #58760
I am denominating this in favor of https://github.com/rust-lang/rust/issues/58760.

[2019-02-28 01:16] mjbshaw commented on #58760
That's infinite recursion there... Did you mean a different issue number?

[2019-02-28 01:32] Mark-Simulacrum commented on #58760
Yes, https://github.com/rust-lang/rust/issues/58794.

[2019-02-28 01:39] dtolnay commented on #57391
@rfcbot concern missed the point

As I understand it, the point of duration constants when they were suggested in https://github.com/rust-lang/rust/pull/51610#issuecomment-398459098 was to enable pithy code like:

[code]

As currently implemented, this would not be supported because associated constants cannot currently be imported.

[code]

So what we have is:

[code]

which may not be sufficient

[2019-02-28 01:46] dtolnay commented on #57391
@rfcbot concern consider unit structs

This looks weird:

[code]

In practice hopefully people would realize to write:

[code]

I haven't thought through this fully, but maybe it would be better to define units as unit structs rather than constants of type Duration?

[code]

Worth it, or too confusing?

[2019-02-28 01:47] dtolnay commented on #57391
@rfcbot concern clippy

It would be nice if Clippy didn't lint 1 * Duration at stabilization.

[code]

[2019-02-28 01:56] dtolnay commented on #57391
Another thought, but not a blocker: `Duration::from_...` are const fns.

[code]

I hope that eventually N * Duration can be const. Does anyone know if there is any hope of this being supported, given that there is a trait method call involved?

[code]

[code]

[2019-02-28 01:57] jethrogb commented on #58794
It would be helpful for the discussion if someone knowledgeable could write a summary covering the following:

* What are the issues with allowing unwinding through foreign languages on major platforms? What is the interaction with C++ exceptions? (Saying it's "UB" doesn't cut it)
* What is the interaction between setjmp/longjmp and unwinding (in general, and on major platforms)?
* Are there any c

[2019-02-28 02:10] MarkSteinbrick95 opened #58796 "Misleading diagnostic for macro `error!` when called with no parameters"
When calling the macro with no arguments `error!()`:
[code]

The diagnostic should instruct the user that a string literal is required as a parameter to the macro.

[2019-02-28 02:16] comex commented on #58794
In [another thread](https://github.com/rust-lang/rust/issues/58760#issuecomment-467920823), @alexcrichton wrote:

As for the current implementation, my understanding is: on Unix it works; on Windows it mostly works, with some issues that could be solved.  See my comment in that thread for more details.

On Unix, longjmp just resets the stack pointer and ignores unwinding.

On Windows, longjmp trig

[2019-02-28 02:41] kenta7777 commented on #49937
I think Reducing the repetition of [this list](https://github.com/rust-lang/rust/issues/49937#issuecomment-411854517) has almost finished.
Are the remaining repetition marked by [`// FIXME(49937)`](https://github.com/rust-lang/rust/search?q=FIXME%2849937%29&unscoped_q=FIXME%2849937%29) only?

[2019-02-28 02:42] davyzhang opened #58797 "I am using ra_lsp_server with vscode, and saw some bug report message"
[code]

[2019-02-28 02:54] sanxiyn commented on #27887
What is the current status of out-of-stack test?

[2019-02-28 02:57] sanxiyn commented on #27806
Extern tests are now under run-pass/extern. They usually indicate bug in ABI handling, but does FreeBSD i386 ABI differ from Linux i386 ABI? If not, they are likely fixed now.

What is the current status of out-of-stack test?

[2019-02-28 03:03] sanxiyn commented on #58590
I think the case of Redox is a good argument for making Fuchsia "not unix". It apparently works.

How do we proceed now?

[2019-02-28 03:36] sanxiyn commented on #50292
Is there any bug here? It seems we match autoconf, which seems reasoanble to me.

[2019-02-28 04:54] cup commented on #58590
hm ok no one wants to address the elephant in the room?

i will surely get some details wrong, so feel free to correct. firstly, both
Unix and Windows are a family of operating systems, Fuchsia is not a family but
a singular OS. secondly, and more importantly, *Fuchsia* is not popular. *no
one* would argue the question of whether Unix or Windows are popular. my train
of thought is like this

1. wo

[2019-02-28 05:02] anp commented on #58619
A “cosmetic” PR is definitionally subjective unless we’ve collectively defined what “improved appearance” means, ie in some team consensus process, ideally with community input. As a practical example, I do not find myself in agreement with your earlier list of changes under "Largely uncontroversial (close to objective improvement)" --

I did see the irlo thread you linked, and I suspect the lack

[2019-02-28 05:04] steveklabnik commented on #42761
Triage: this issue is very old. @jackpot51 is it still relevant?

[2019-02-28 05:05] steveklabnik commented on #43697
Triage: this is a very old issue. was something worked out? Can we close it?

[2019-02-28 05:05] anp commented on #58619
As a followup: if a cosmetic PR lands and requires even a single feature PR to handle a merge conflict, why should we consider that cost acceptable?

[2019-02-28 05:06] lzutao commented on #58590
@cup I think Fuchsia have components written in Rust, and its userland also support Rust. That's pretty important for system programming language like Rust.

[2019-02-28 05:11] sanxiyn commented on #58590
I think the proposal is to set Fuchsia's target family to None just like Redox, not to create a new third target family.

[2019-02-28 06:03] oli-obk commented on #58619
Yes. I don't think changing comments to doc comments is a contended point at all and I'm going to assume that PRs just doing that (and not any other changes) are perfectly alright with everyone and will get rolled up.

Wrt to writing variable names in backticks, as a rule for new comments or drive by fixes these do seem uncontroversial, but doing a sweeping change PR for them hits all the same rev

[2019-02-28 06:40] sanxiyn commented on #42778
This is likely fixed. Rust 1.32.0 succeeded on ppc64el, see https://buildd.debian.org/status/logs.php?pkg=rustc&arch=ppc64el.

[2019-02-28 06:51] sanxiyn commented on #52015
What happened on Travis?

[2019-02-28 07:01] petrochenkov commented on #34537
@bkchr
[code]
However, the original code (private type in a `where` clause) will "just work" once https://github.com/rust-lang/rust/issues/48054 is implemented (hopefully this year).

[2019-02-28 07:04] infinity0 commented on #42778
This bug is on big-endian, the link you pasted is little-endian, but if you remove the "el" at the end of the URL you get to the big-endian results which are also OK.

We do things slightly differently from Fedora though.

[2019-02-28 07:20] spacejam commented on #58590
this one has bitten code I've written, as sled tests used to gate some libc calls (fork + kill 9 for crash testing) on `cfg(target_family = "unix")`, which caused an interesting dive into the fuchsia architecture and rust support when I learned that sled ran on fuchsia but failed to build the tests.

[2019-02-28 08:00] stjepang commented on #57391
Oh, I didn't realize that! :(

Another possibility is to have both, just like there is [`SystemTime::UNIX_EPOCH`](https://doc.rust-lang.org/nightly/std/time/struct.SystemTime.html#associatedconstant.UNIX_EPOCH) and [`std::time::UNIX_EPOCH`](https://doc.rust-lang.org/nightly/std/time/constant.UNIX_EPOCH.html). But maybe not since `std::time::UNIX_EPOCH` is sort of obsoleted in favor of the associat

[2019-02-28 08:00] nagisa commented on #58794
As far as the last part of that is concerned, that is an implementation-specific and unspecified behaviour.

[2019-02-28 08:02] bkchr commented on #34537
@petrochenkov yeah I was aware that this probably works. This example was just for illustration, the second derive is actually also generated and will annoy people to get this warning. I probably need to disable the warning for this then.

[2019-02-28 08:08] TimDiekmann commented on #58775
We don't have to care, as we cannot stabilize a `const fn` without the non-const `fn`

I'd go this way:

* if `#[stable(..)]` is attached:
  * has `const_since`:
      * item is _not_ `const fn` => error
      * is *not* `min_const_fn` => error
      * has _not_ `const_feature`:
          * `const_since` != `since` => error
          * else: success => uses `feature` as gate
      * has `const_fea

[2019-02-28 08:12] hellow554 commented on #58797
Do you have some piece of code that triggers that behavoir?

[2019-02-28 08:28] bkchr commented on #47032
@nikomatsakis any update on this?

[2019-02-28 08:40] timvisee commented on #58590
[Wikipedia](https://en.m.wikipedia.org/wiki/Google_Fuchsia) currently describes the OS family (like `unix` is) as [`zircon`](https://fuchsia.googlesource.com/zircon/). That could be used as Rust family as well in the future, if Fuchsia gets more popular.

[2019-02-28 09:07] gnzlbg commented on #52015
I've restarted the build: https://travis-ci.org/gnzlbg/repro_s390x/builds/399684908

It still fails.

[2019-02-28 09:36] czipperz opened #58804 "E0310 gives invalid suggestion for explicit static lifetime bound"
The error message given here makes it seem like the correct thing to do is change `cast_triggers: impl CastTriggers` to `cast_triggers: impl CastTriggers: 'static`.  The correct thing to do is `cast_triggers: impl CastTriggers + 'static`.

[code]

[Context](https://github.com/czipperz/magic/blob/043a83cd26ee77ad331cd935b5fe6d01b235be9d/src/triggers.rs#L75)

[2019-02-28 09:38] czipperz commented on #58804
[Context](https://github.com/czipperz/magic/blob/043a83cd26ee77ad331cd935b5fe6d01b235be9d/src/triggers.rs#L75)

[2019-02-28 09:53] pnkfelix commented on #57374
As discussed in the NLL meeting last night, one can use `-Z no-leak-check` to skip the leak check and thus return to the (regressed) behavior and thus attempt to fix it properly.

[2019-02-28 09:54] Centril commented on #58775
I don't think this actually requires explicit stabilization in full. You do reduce some of the risk and it serves as better documentation, but you also do not cover the case when there's no `#[stable(..)]` for a stably exposed function. However, this is a general problem with `#[stable(..)]` not exclusive to `const fn`s.

As long as we are cognizant of what problems we solve and which we don't, th

[2019-02-28 10:14] jonas-schievink commented on #58796
`error!` is declared as taking `$($arg:tt)*`, so I don't think this is possible. If it would take a `$fmt:lit` instead, maybe.

[2019-02-28 11:14] stjepang commented on #55422
Anything blocking stabilization? I've wanted this method from time to time.

[2019-02-28 11:25] michaelwoerister commented on #58372
So here are some thoughts on making the part of profiling that is happening in the compiler process as cheap as possibe:
- Anything in `ProfilerEvent` should be small and persistable verbatim. E.g. we don't want `&str` in there because that needs to be expanded to the actual string contents during serialization, which generates a lot of redundant work. I think this basically leaves integer values

[2019-02-28 11:53] thedrow opened #58806 "Enable decoding unicode without copying from io::Cursor"
Currently `std::str::from_utf8()` and `std::String::from_utf8_lossy()` only accept references to byte arrays.
This is fine until one uses an `io::Cursor` which forces us to allocate a buffer and copy data into it using `cursor.read_exact()` or `cursor.read_to_end()`.

I think we should introduce an API that allows me to decode Unicode characters in a stream without unnecessary copying.
I'm not sur

[2019-02-28 12:05] pnkfelix commented on #58765
triage: P-high. Leaving nominated for discussion.

[2019-02-28 12:08] pnkfelix commented on #58684
triage: P-high. Leaving nomination label. Seems like candidate for both 1. narrowing test case and 2. attempting bisection (assuming one can backtrack to an earlier stable rustc that didn't have the fault, e.g. maybe  prior to last LLVM upgrade).

[2019-02-28 12:17] pnkfelix commented on #58517
triage, P-medium. (Not a soundness issue, and appears to have a straight-forward if annoying work-around of introducing a local with an explicit type.) Leaving nominated label for discussion at next T-compiler meeting.

[2019-02-28 12:23] pnkfelix commented on #57985
triage: P-medium, E-needs-mentor. Leaving nomination tag to try to ensure we discuss at T-compiler meeting in near future.

[2019-02-28 12:24] Xanewok commented on #58765
This is clippy-related fallout - I believe updating Clippy to the version updated in https://github.com/rust-lang/rust-clippy/pull/3827 should fix the toolstate.

[2019-02-28 12:26] pnkfelix commented on #46989
triage: P-high.

Reasoning: the fallout that came out of universes (where said fallout has seen been undone by the re-introduction of a leak-check) implies to me that this is P-high.

Removing nomination label since this is now prioritized and assigned (@aturon volunteered)

[2019-02-28 12:28] csmoe commented on #58765
@Xanewok yep I updated it just now https://github.com/rust-lang/rls/pull/1384

[2019-02-28 12:32] Xanewok commented on #58765
A follow-up PR to the RLS repo is highly appreciated (this fixes repo local build) but to fix the toolstate we need to bump the Clippy version in the Rust repo, since we patch those at

https://github.com/rust-lang/rust/blob/7e001e5c6c7c090b41416a57d4be412ed3ccd937/Cargo.toml#L71-L72

[2019-02-28 12:32] pnkfelix commented on #58684
assigning to self for initial investigation and removing nomination label.

[2019-02-28 12:38] pnkfelix commented on #58610
It would be good to factor out a standalone test here. All I can currently tell is that this bug was exposed by lukaslueg/rust-headless-chrome@4fc1f843f6230e1083f357f3bf32e3e87e512b9d

[2019-02-28 12:43] pnkfelix commented on #58610
triage: assigning to @csmoe for initial investigation (e.g. factoring out standalone test)

[2019-02-28 12:44] pnkfelix commented on #58610
removing nomination label since this is now prioritized and assigned

[2019-02-28 12:47] frol commented on #45222
#58122 has significantly improved the situation!

<details>
<summary>My benchmark based on the @leonardo-m snippet</summary>
<p>

[code]

</p>
</details>

Here are the results on my laptop:

Run 1:

[code]

Run 2:

[code]

Run 3:

[code]

Range inclusive is still consistently slower than the exclusive variant.

/cc @matthieu-m

[2019-02-28 12:49] pnkfelix commented on #58548
Visiting for triage. @nikic, are we going to cherry-pick that LLVM fix into our local rust-lang/llvm-project?

[2019-02-28 13:00] sanxiyn commented on #42108
By "it should be closed", do you mean Solaris 10 is unsupported by x86_64-sun-solaris target? That does not match https://forge.rust-lang.org/platform-support.html, which states "Solaris 10".

[2019-02-28 13:02] pnkfelix commented on #58104
Nominating for discussion at T-compiler. My predisposition is to close this bug as non-actionable.

[2019-02-28 13:09] nikic commented on #58548
@pnkfelix The fix has been backported to LLVM 8.0 and is already part of our fork. We're just waiting on the update in #58408 to land.

[2019-02-28 13:09] pnkfelix commented on #57979
visiting for triage: if we approve beta-backport of PR #58608, then we'll plan to land that PR and subsequently close this as fixed. If we don't approve beta-backport of PR #58608, then I currently assume we won't land that PR at all, and will instead just close this as an unfortunate "wont fix" (in the sense that we'll just live with the absence of a warning-period)
 * Obviously even if we do not

[2019-02-28 13:10] pnkfelix commented on #57464
Update: I have a generalization of PR #58649 that fixes this with and without NLL.

[2019-02-28 13:19] Centril commented on #57979
Given that this slipped, I agree with the sentiment that there's little point in a hard error then warning then hard error so I'd say let's not 🔙.

[2019-02-28 13:36] pnkfelix commented on #58767
triage: P-high. Looks under control.

[2019-02-28 13:39] pnkfelix commented on #58742
triage: P-high. Speculatively assigning to @oli-obk

[2019-02-28 13:42] pnkfelix commented on #58694
triage: P-medium. Assigning to self for initial investigation.

(P-medium based on the reasons given by @arielb1 : the risks for end users here do seem quite low.)

[2019-02-28 13:44] pnkfelix commented on #58634
triage: P-high. Looks to be in good hands.

[2019-02-28 13:55] bjorn3 opened #58808 "Span of local crate leaks into tcx.optimized_mir of other crate"
[code]

[2019-02-28 13:56] MarkJr94 commented on #49183
https://github.com/PistonDevelopers/image/issues/719#issuecomment-468258882 Comment reproduced below:

I ran into this last night/today/whatever

`rustc 1.34.0-nightly (633d75ac1 2019-02-21)`

changing any `vec![0u8; N]` and `vec.resize(N, 0u8)` calls to `vec![1u8; N]` and `vec.resize(N, 1u8)` followed by writing all the zeroes in a for loop caused it to stop.

[2019-02-28 13:58] bjorn3 commented on #58808
Sysroot has been compiled using `cargo miri setup` to get `-Zalways-encode-mir` set. Otherwise it is hard to guess a defid with encoded mir, now it is just taking the first exported symbol from:

[code]

[2019-02-28 13:59] elichai commented on #57563
What about a string->int conversions?
I think doing a `env!("SOMETHING").parse().unwrap()` is a wanted use case to be evaluated at compile time

[2019-02-28 13:59] bjorn3 commented on #58808
I used https://github.com/bjorn3/rust_read_rlib to read the mir.

[2019-02-28 14:07] scottjmaddox commented on #53491
I don't like `into_initialized()`, because it sounds like there's a transformation going on to initialize the value. I much prefer `take_initialized()`. I realize the type signature departs from other `take` methods, but I think it is much clearer, semantically, and I believe semantic clarity should supersede borrow/move consistency. Other alternatives that don't already have a precedence of being

[2019-02-28 14:19] RReverser commented on #52804
Why would you need that? If it's just a single argument with `"{}"`, then enforcing `Display` should be enough of a restriction even without calling out to `format_args!`.

[2019-02-28 14:23] stjepang commented on #55422
The naming issue might be related to `MaybeUninit::into_initialized()` vs `MaybeUninit::read_initialized()`. Would it make sense to name the method here `ManuallyDrop::read()`?

[2019-02-28 14:24] mzji opened #58809 "Specialization `FnOnce` impl compiles failed with a lengthy error message"
Playground Rustc version:
[code]
Code:
[code]
Error message:
[code]

[2019-02-28 14:51] alexreg commented on #58619
@anp I’m sorry, but I find your first comment both arrogant and insensitive. I won’t reply further, because all the points you memtion have been discussed before.

[2019-02-28 15:13] anp commented on #58619
@alexreg i’m really very sorry for hurting your feelings here. i’d definitely be open to discussing this further (no pressure, i hear that you’re not right now). If others here feel similarly about my statements, please feel free to message me about it or post here — I really really value empathy and self awareness and have been in a process of active improvement in these areas for much of my adul

[2019-02-28 15:24] rchaser53 opened #58811 "let a: Vec<&str, "aaa"> = Vec::new(); emits internal compiler error"
The below code emits unexpectedly panicked in 1.34.0-nightly(2019-02-27).

```let a: Vec<&str, "aaa"> = Vec::new();```

Error message:
[code]

Playground link:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=916dc66418a31a3a104e88b0e070b6c8

[2019-02-28 15:29] alexreg commented on #58619
@anp Thanks for being more sensitive. I'm sorry if my impression was mistaken too. It's just this is very difficult from my position, I hope you appreciate... it *feels* like there are a bunch of people ganging up on me out there (without a strong motivation?), and it's hard to see why this compromise or "middle way" can't be accepted for the *existing* subset of work (so as not to waste all the e

[2019-02-28 15:33] pnkfelix commented on #58502
triage. assigning to self to figure out as part of name-resolution/macro-expansion spec work.

[2019-02-28 15:33] Lokathor commented on #57563
Sounds totally reasonable to eventually have.

Make an issue and it can go on the list.

[2019-02-28 15:49] alexreg commented on #58619
(And sure, I'm open to a brief friendly chat or something, if you feel like contacting me on Discord/Zulip...)

[2019-02-28 15:49] pnkfelix commented on #58517
Discussed briefuly at T-compiler meeting. assigning to self in attempt to ensure this doesn't just get lost. (I don't want to leave it nominated for discussion again at next week's meeting.)

[2019-02-28 15:56] jhgit commented on #36989
canonicalizing the prefix breaks when prefix is a symbolic link.

e.g., /usr/local -> /some/other/location

Now if you want to install to <destdir>/usr/local, everything goes to <destdir>/some/other/location instead with many files including references to /some/other/location internally.

Now when I want to change the /usr/local sym link (in my case, the underlying location is a shared NFS mount p

[2019-02-28 16:10] oli-obk commented on #58811
cc @varkor

[2019-02-28 16:18] udi0peled opened #58813 "Compiler panics on cycle in (sub)traits declaration"
I tried this code:
[code]

I expected to see this happen: compilation error about cycle in traits T1,T2

Instead, this happened: compiler panicked

## Meta

`rustc --version --verbose`:
rustc 1.32.0 (9fda7c223 2019-01-16)
binary: rustc
commit-hash: 9fda7c2237db910e41d6a712e9a2139b352e558b
commit-date: 2019-01-16
host: x86_64-unknown-linux-gnu
release: 1.32.0
LLVM version: 8.0

[2019-02-28 17:03] RalfJung commented on #53491
@gnzlbg we had an FCP for the name, I am not sure if we should re-open that discussion.

However, I do like the proposal of using "init" consistently, as in `MaybeUninit::uninit()` and `x.into_init()`.

`into` methods frequently don't actually do any transformation other than viewing the same (owned) data at a particular type -- see for example the various `into_vec` methods.

[2019-02-28 17:31] leonardo-m commented on #45222
The percentage performance difference I see in my code is quite larger than the 1-2% difference shown above. So better benchmarks are necessary.

[2019-02-28 17:32] snakehand opened #58814 "Playing with async triggers compiler bug "TLS Waker not set""
[code]

rustc 1.34.0-nightly (aadbc459b 2019-02-23)

Causes:

[code]

[2019-02-28 17:41] Diggsey commented on #39128
Ugh, just ran into this today 😢

[2019-02-28 17:55] matthieu-m commented on #45222
@frol

I agree that the performance drop between exclusive and inclusive is annoying, and should ideally be eliminated if possible, however I don't see that as a failure of zero-overhead abstraction.

If you were coding the inclusive range with a for loop, you would *also* need to handle either the starting/ending bound specially, leading to a different codegen than for exclusive ranges.

For me t

[2019-02-28 17:57] Stargateur commented on #45222
@frol

I disagree, `0..5` != `0..=4`, the zero cost is about the difference if I would manually do a loop with inclusive range like with a `u8` from `0` to `255`

[2019-02-28 18:16] dlrobertson commented on #44930
\o/ https://github.com/rust-lang/rust/pull/57760 has been merged thanks to some awesome reviewing and help I received from @alexreg, @oli-obk, @matthewjasper, @varkor, and many others. The `c_variadic` feature now enables both `core::ffi::VaList` and Rust defined C-variadic functions. The work is still a long way from stable and there are still a few open issues, but I think *technically* the RFC

[2019-02-28 18:32] alexreg commented on #55628
@eddyb Actually, they're not, under the current implementation. The `X: ExtraBound` bound is enforced. [Example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fa657352533684a9764ea1f92bf6a900).

[2019-02-28 18:35] euclio opened #58815 "Incorrect diagnostic suggestion for borrowed macro expression"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d0c29d2300d97268198951d9ea5252d7

For the following code:

[code]

We get the following diagnostics:

[code]

Notice that the String expression correctly suggests removing the borrow, but the `format!` expression incorrectly suggests adding `to_string()`, which does not fix the error.

[2019-02-28 18:35] alexreg commented on #55628
@nikomatsakis I just realised you never got around to factoring out the part of my old PR https://github.com/rust-lang/rust/pull/55994 that banned multi-trait objects via trait aliases... did you still want to tackle that?

[2019-02-28 19:08] estebank opened #58816 "It'd be useful to delay E0412 after type checking to improve suggestions"
With the following code:

[code]

the diagnostic rightly complains about not knowing what `Error` is

[code]

but it could use the information gathered later to limit the suggestions. If we change `Error` in the return type to `()`, the output is

[code]

[2019-02-28 19:08] bgermann commented on #42108
No, I don't mean Solaris 10 is unsupported. But using an untouched Solaris 11 or illumos sysroot for cross compiling and then running in Solaris 10 should not be considered a supported use case because then the mentioned non-Solaris 10 symbols are picked up during compilation. For the continuous integration I made the [necessary changes](https://github.com/rust-lang/rust/blob/1.33.0/src/ci/docker/

[2019-02-28 19:21] xrl opened #58817 "Upgrading nightly introduces compiler panic at visit_opaque_types"
I did a `rustup update` and the new nightly started failing to compile.

I tried this code:

I don't have a good way of minimal reproduction on my medium-size codebase. But I did figure out another rustup nightly that would stop seeing the error.

I expected to see this happen: `rustup default nightly; rustup update; cargo build` should have kept working

Instead, this happened:

[code]

maybe my

[2019-02-28 19:24] estebank commented on #58813
Can you post the output? I cannot reproduce this in [the playground for any release](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1280559edac71d09e31e3aecc32201a6).

[2019-02-28 20:09] dtolnay opened #58818 "Mod item in procedural macro output looks for the wrong source file"
I have this crate layout:

- *Cargo.toml*
- src/
    - *main.rs*
    - parent/
        - *child.rs*

where *child.rs* is an empty file and *main.rs* is:

[code]

This compiles successfully and we end up with a module at `crate::parent::child` backed by the file *src/parent/child.rs*.

But if `mod child;` goes anywhere near a proc macro, it no longer works.

[code]

where `noop!` is this macro:

[c

[2019-02-28 20:13] dtolnay commented on #54727
Since this tracking issue touches on procedural macros involving `mod` and spans -- I filed https://github.com/rust-lang/rust/issues/58818 which seems to involve `mod` and spans. Basically the following two currently behave differently, which seems wrong:

[code]

[code]

where `noop!` is a procedural macro implemented as:

[code]

[2019-02-28 20:19] mati865 commented on #42108
Basically the same as https://github.com/rust-lang/rust/issues/57497 but for Solaris.

[2019-02-28 21:28] sanxiyn commented on #42108
Thanks for explanation! Closing.

[2019-02-28 21:28] #42108 closed

[2019-02-28 21:38] nikomatsakis commented on #58619
I've been pretty busy over the last few days, but I've been giving this thread some thought. I believe my feeling is the following:

As @oli-obk said, I would separate out the conversion of `//`  comments to `///` comments. This has clear external value and if there were a PR that just did that, I would say we should review it.

With respect to the other changes, I find that there are some that I

[2019-02-28 21:42] arielb1 commented on #36088
Sure enough, this was fixed in #56044. Closing.

[2019-02-28 21:42] #36088 closed

[2019-02-28 21:57] cramertj opened #58822 "Derives on deprecated items generate deprecation warnings"
The following code generates a warning on nightly and beta but not on stable:
[code]

[2019-02-28 22:00] Centril commented on #58822
Hmm; technically generating warnings seems like correct but annoying behavior (which we don't have to fix but probably should...). Putting `#[allow(deprecated)]` on generated impls seems like a solution?

[2019-02-28 22:04] alexreg commented on #58619
Alright, I give up. You win. I'm still convinced this approach is overly-dogmatic and a tad draconian, but I appreciate you're trying to aim for consistency at the same time, so it's not like I don't understand the alternative viewpoints. That said, I've already made my feelings manifest about how I consider a lack of concern about quality of comments and code formatting to be very sub-par softwar

[2019-02-28 22:10] solson commented on #57563
Are there tracking issues covering the issues in this example? cc @oli-obk

[code]

[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9d8ff4d367845674b4210f68802c08b8)

Resolving the `error` seems like a straightforward extension. I don't think unsizing casts would draw much controversy or require much implementation effort.

The `warning` requires a touch

[2019-02-28 22:12] briansmith commented on #56510
According to https://news.ycombinator.com/item?id=18604194 the performance issue is fixed in Windows itself in the latest (or upcoming) Windows release. However, there is at least one other non-performance reason to prefer this change: https://github.com/rust-lang/rust/pull/56568#issuecomment-466247750.

[2019-02-28 22:12] MaikKlein commented on #58774
Closing this since it seems to adhere to the 'spec'.

[2019-02-28 22:12] #58774 closed

[2019-02-28 22:13] therealbstern commented on #50292
I suppose so.

[2019-02-28 22:13] #50292 closed

[2019-02-28 22:25] denisandroid opened #58823 "Rust stable, macro bomb"
**Rust:**
rustc 1.34.0-nightly (097c04cf4 2019-02-24)
rustc 1.33.0 (2aa4c46cf 2019-02-28)

**PlayGround:**
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=14643a4834e5ae92f13e1a1de5c5becb

(**OUT**) https://pastebin.com/Bv13Lf0M (signal: 9, SIGKILL: kill)

**Eng:**
Accidentally identified "macro bomb".
It completely clogs the computer's RAM, even on a stable version of Rust

[2019-02-28 22:45] jonas-schievink commented on #58823
The second macro arm puts `@RAW;` between each *token* of the input, so the first arm is never actually reached (you can remove it). This means that for every expansion of the second arm, the number of tokens is multiplied by 4. The recursion limit doesn't help in this case before the memory usage grows exponentially.

This also looks like a duplicate of https://github.com/rust-lang/rust/issues/51

[2019-02-28 22:45] #58823 closed

[2019-02-28 23:42] kulakowski commented on #58590
My specific suggestion is to change target_family from Some("unix") to None. This is what the redox configuration does as well.

[2019-02-28 23:49] cup commented on #58590
@kulakowski perhaps you could edit the title and/or OP to reflect that?

reading the OP on its own, it just seems like you used this issue as a platform to advertise Fuchsia - you didnt mention the word `None` in the OP a single time.

[2019-03-01 00:16] cramertj commented on #58814
This is intended. Those functions aren't designed to be stable, ever-- they're compiler implementation details.

[2019-03-01 00:16] #58814 closed

[2019-03-01 00:58] GuillaumeGomez opened #58825 "The "Auto-hide item methods' documentation" option doesn't work"

[2019-03-01 01:28] joshlf commented on #58822
This regression also breaks existing code with `#[deny(warnings)]`.

[2019-03-01 01:35] sanxiyn commented on #51137
i686-unknown-freebsd is available on rustup now.

[2019-03-01 01:45] sanxiyn commented on #48459
The linked FreeBSD bug is closed as fixed. Can this be closed?

[2019-03-01 02:16] euclio opened #58826 "x.py build passing with parse error in file"
Discovered while working on https://github.com/rust-lang/rust/pull/58824.

Notice that travis passed for `x86_64-gnu-llvm-6.0`, but failed for `mingw-check`. It shouldn't pass -- there's a [parse error](https://github.com/rust-lang/rust/pull/58824/files#diff-2bcad7b16b56ef2ebb92f8e60ae33773R562). The build passes locally for me using `./x.py test --bless src/test/rustdoc-ui` but `./build/x86_64-un

[2019-03-01 02:38] davyzhang commented on #58797
I only see this report once and I am pretty new with rust,  I don't understand the message even with the stack information.
I can post the dependencies here
[code]
I am sorry, I know this would be hard for you guys to track it down.  If I found a way to reproduce this bug, I will let you know.

[2019-03-01 02:56] jethrogb commented on #53491
I'm fine with a `take_initialized(&mut self)` (in addition to an into_init), but I think that it should revert the internal state back to `undef`.

[2019-03-01 03:00] shepmaster commented on #53491
https://github.com/rust-lang/rust/issues/53491#issuecomment-437811282

Many of these things have already been discussed in the 200+ hidden comments.

[2019-03-01 03:05] jethrogb commented on #53491
I've been following the discussion for a while, and I might be mistaken, but don't think this point has been brought up before. In particular, the comment you quote *doesn't* suggest to "revert the internal state back to `undef`", but to leave the internal state unchanged, making it equivalent to `ptr::read`. What I'm suggesting is the conceptual equivalent of `mem::replace(self, MaybeUninit::unin

[2019-03-01 04:08] sanxiyn commented on #42680
@daym, can you just run that one test as @Mark-Simulacrum showed?

[2019-03-01 04:16] sanxiyn commented on #38290
Just in case: there is now a functional port of Rust to Minix. https://github.com/ids1024/rust-minix

[2019-03-01 04:57] matklad opened #58827 "No docs for String on stable?"
Hi! Looks like docs for std string methods are missing on stable release?

https://doc.rust-lang.org/std/string/struct.String.html#method.as_bytes

![37906c37-5439-48fd-b536-8562abd30309](https://user-images.githubusercontent.com/1711539/53617277-8d97af80-3bf7-11e9-8c1c-36474ff792be.jpeg)

THe methods section is empty :(

Everything works ok for beta.

[2019-03-01 05:54] bheesham commented on #58234
Triage: since #58539 has been merged, can this be closed?

[2019-03-01 06:51] petrochenkov commented on #58818
I never audited the module search code and don't know how it fits into the larger macro story.
Even without macros it's [pretty inconsistent](https://github.com/rust-lang/rust/pull/55560), so I'd expect issues in macros as well.
I'll investigate.

[2019-03-01 07:15] matklad commented on #58827
Note that the screenshot was taken from iPad. I know checked using Firefox on linux, and the methods are there.

[2019-03-01 07:31] oli-obk commented on #58817
Is the source of your crate available somewhere? Do you use any unstable features? Might be existential type related

[2019-03-01 07:45] scottmcm commented on #53491
Because of the meaning of `undef`, that's equivalent to `read`: https://rust.godbolt.org/z/e0-Gyu

[2019-03-01 08:08] RalfJung commented on #53491
@scottmcm no it is not. With the `read`, the following is legal:
[code]
With the proposed `take`, this would be illegal since `x2` would be `undef`.

Just because two programs generate the same assembly does not mean they are equivalent.

[2019-03-01 08:46] hellow554 commented on #58813
With the exact same compiler and that code I cannot reproduce that ICE. If you happen to reproduce it, please do it like `RUST_BACKTRACE=1 cargo build` or similar and post the result of that please :)

[2019-03-01 09:02] oli-obk commented on #58619
That is not what has been meant by drive-by fixes. Please do not explicitly seek out cosmetic changes to apply to functional PRs. Doing so would increase the amount of work for you, PR authors and PR reviewers, when the purpose of this issue was to achieve the opposite.

Just to be clear, I personally want most of these changes once we can automatically apply them.

[2019-03-01 09:08] hellow554 commented on #58811
nightly-2019-02-01 (no-ice):
[code]

nightly-2019-02-15 (no ICE):
[code]

nightly-2019-02-21 (ICE):
[code]

So the bug was introduced between 146aa60f3...f66e4697a

[2019-03-01 09:25] lfairy commented on #50512
Does this method exist in other languages? I've never seen such a method in OCaml or Haskell, both languages which make extensive use of option types and have been around much longer than Rust has. That should make us doubt whether this is popular enough to be in the standard library.

[2019-03-01 10:08] hellow554 commented on #58827
This is the same for other structs, e.g. [`std::sync::Arc`](https://doc.rust-lang.org/std/sync/struct.Arc.html) (Firefox 64, Windows)

![grafik](https://user-images.githubusercontent.com/921462/53631180-410d9d80-3c12-11e9-8ad2-a8bfaadb6908.png)

@GuillaumeGomez this is (at least for me) very critical! We need a patch for this asap.

[2019-03-01 10:21] CodeSandwich opened #58834 "Usage of boolean negation operator sometimes breaks closure type inference"
The closure implements a trait, which is accepted in a function. Depending on its body the closure type inference sometimes works and sometimes fails and forces user to annotate argument type ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=852633722647b74e5b5ed18261db0b72)):
[code]
I'm not 100% sure that it's a bug, but the inconsistency is alarming.

[2019-03-01 10:35] hellow554 commented on #58834
(If somebody wants to earn some [SO karma](https://stackoverflow.com/questions/54929200/how-do-closures-infer-their-type-based-on-the-trait-theyre-required-to-implemen))

[2019-03-01 10:39] matklad commented on #58827
cc @rust-lang/docs :)

Note that it does work for some people. I wonder if this is some temporary internet caches thing?

[2019-03-01 10:42] jonas-schievink commented on #58827
Looks like a rustdoc problem more than anything. Did you try clearing your caches? I know I have to do that after pretty much every stable release or stuff breaks for me.

cc @rust-lang/rustdoc

[2019-03-01 11:01] csmoe commented on #58610
[code]

[2019-03-01 11:26] GuillaumeGomez commented on #58827
I have tested and I can't reproduce it on my linux's chrome and firefox. So I don't know what's going on and I don't have an ipad to test specifically what's wrong on this platform...

[2019-03-01 11:37] hellow554 commented on #58827
It was indeed a caching problem. Sorry for the noise :/ Although it shouldn't happen IMHO.

[2019-03-01 12:38] jonas-schievink commented on #58827
Yes, it would be nice to find a proper solution for this. I've also opened issues in the past that were just due to a stale browser cache.

[2019-03-01 12:58] oli-obk commented on #49937
Awesome! Thank you

?

There might be more, but I'm fine closing this issue after the known ones are done.

[2019-03-01 13:30] julien1619 opened #58840 "Rustc 1.33 stable panicked on a closure inside a closure"
Rustc 1.33 panicked while compiling a code that was working well on 1.32.

I tried this code:

[code]

This happened: ```error: internal compiler error: src/librustc_mir/borrow_check/nll/universal_regions.rs:744: cannot convert `ReScope(Node(238))` to a region vid```

## Meta

`rustc --version --verbose`:

[code]

Backtrace:
[code]

[2019-03-01 13:31] rust-highfive opened #58841 "`miri` no longer builds after rust-lang/rust#58631"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#58631, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @spastorino, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- no

[2019-03-01 13:33] GuillaumeGomez commented on #58827
We could by changing the name of the script files like docs.rs does. Where could I change it @rust-lang/infra ?

[2019-03-01 13:38] julien1619 commented on #58840
After some testing, this is the lines ```
Box::new(juniper_hyper::graphql(root_node, ctx, req))``` that cause the compiler to crash.

[2019-03-01 13:39] kennytm commented on #58827
Isn't the script path hard-coded in `src/librustdoc/html/layout.rs`?

[2019-03-01 13:49] GuillaumeGomez commented on #58827
It's generated and can be changed (we have options for that in rustdoc).

[2019-03-01 13:53] appaquet commented on #48862
Starting from the iOS implementation in rustc, I got i386 and armv7k for watchos to compile and link in Xcode 10.2 beta 3. It requires quite a few modifications to support the `watchos` platform, but I think it's quite trivial as watchOS is based on iOS. Unfortunatelly, it will require changes in quite a few crates that have conditional compilation on iOS target (cc, compiler-rt, backtrace, etc.).

[2019-03-01 14:05] mcr431 commented on #56900
Sorry for the delay, this completely slipped my mind. Realistically I probably won't get to it this weekend, but I'll try messing around and see if I can get to the root of it.

[2019-03-01 14:11] spastorino commented on #58841
We should now merge my miri and clippy PRs
/cc @RalfJung @oli-obk

https://github.com/rust-lang/miri/pull/647
https://github.com/rust-lang/rust-clippy/pull/3823

[2019-03-01 14:13] kenta7777 commented on #49937
I understand. I'll keep working on this issue until the repetition of ` // FIXME(49937)` codes are reduced.

[2019-03-01 14:19] oli-obk commented on #58841
Already on it ;)

[2019-03-01 14:22] udi0peled commented on #58813
Weird, yesterday I could reproduce it multiple times, now I can't, and I get the set same result as in the playground.

[2019-03-01 14:35] Mark-Simulacrum commented on #58234
No, this is now the tracking issue for the stabilization of those APIs.

[2019-03-01 14:37] Boiethios opened #58843 "Possibly confusing error message when deref/deref_mut are used."
Beginners can be confused when `deref` and `deref_mut` are called implicitely:

- https://stackoverflow.com/questions/47060266/error-while-trying-to-borrow-2-fields-from-a-struct-wrapped-in-refcell
- https://stackoverflow.com/questions/54942045/accessing-two-vectors-in-a-struct-locked-by-a-mutex

In this given code:

[code]

The error message is not the clearest:

[code]

The users could not under

[2019-03-01 14:40] nox opened #58844 "Spurious warnings around uninhabited types with 1.33"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=25adf77e74f612769891852bfeaf237c

Using uninhabited enums for some targets or combinations of crate features are a useful common idiom and this probably shouldn't emit any warning.

[2019-03-01 14:48] udi0peled commented on #58813
OK, I'm managed to recreate the bug by first running almost the same code, but without the problem.
Specifically, first run this code (removed the subtrait `: T2` from `T1: T2`):
[code]

Then running the original problematic code **with** `: T2` subtrait of `T1: T2`, and the backtrace of the bug is this:

[code]

[2019-03-01 14:52] thomasjfox opened #58845 "Rust 1.33 stable fails to compile itself"
Compiling Rust 1.33 with Rust 1.32 on Fedora 29 was fine.
When using the newly created 1.33 compiler to compile Rust 1.33 again, it fails:

[code]

The code in question has been fixed by
https://github.com/rust-lang/rust/commit/b7f030e114186890612872c89498cbc914c0220f#diff-e7f0adcf2688b6a55b1f70d117ed7e17
but I don't know why that fix never made it into the official 1.33 release.

Related issue: h

[2019-03-01 14:58] QuietMisdreavus commented on #56900
I poked around for a little bit the other day, and couldn't reproduce the issue without using the full `include_dir` crate. My hunch (based on what @Michael-F-Bryan said about trying to emit the expanded crate) is that an `include_bytes` is being emitted by one macro, then its output is being processed by another one, so it has to take the time to process all the tokens of the bytes of a large fil

[2019-03-01 15:04] alexreg commented on #58619
Then you definitely meed to clarify what you mean by “drive-by” fixes, because that is the intuitive reading in my opinion. FYI, unsubscribed to this thread already as per above, but can be reached elsewhere.

[2019-03-01 15:15] Milack27 commented on #50512
@lfairy Your point is reasonable. I'm not familiar with either OCaml or Haskell, but I'd like to point out some possible arguments in favor of Option::xor that could be taken into account when comparing Rust to those languages:

1. Rust already has a stable Option::or method, which works pretty much the same way. When users find it in the documentation, they may expect an Option::xor as well. If O

[2019-03-01 15:17] HarrisonMc555 commented on #55900
It is now March 1, 2019, and I can confirm that this is still an issue. Has there been more work on reducing the size of this page?

[2019-03-01 15:17] lerouxrgd commented on #48862
Would it be feasible to add a `codegen-backends` implementation based on [Swift's llvm](https://github.com/apple/swift-llvm) ? (In the same way `emscripten` was added)

[2019-03-01 15:22] QuietMisdreavus commented on #58827
Could we just start adding a `--resource-suffix` in bootstrap with something that matches the version string (or just the latest commit if necessary)? That would ensure that the filename is different so that the CDN wouldn't serve old files to the wrong version's docs.

[2019-03-01 15:45] hellow554 commented on #58813
Indeed! Thank you very much! Incremental bugs are sometimes hard to reproduce.

Bug is also on 1.33.0 stable, but not on 1.34.0-beta1.

[2019-03-01 15:46] oli-obk commented on #58619
Drive-by fixes as I see them, are things that you notice while modifying code. E.g. when changing a function argument one may also change the function's indentation to block style:

[code]

Even though one did not need to change the layout to fit the style guide, this change follows the style guide and one was touching the code anyway.

Similarly, when you're writing code in a file and while tryin

[2019-03-01 15:53] hellow554 commented on #58813
The question is: This is already fixed in nightly. I think this deserved a testcase nevertheless, right?

Here's one if needed

<details>
<summary>src/test/incremental/circular_dependency.rs</summary>

[code]

</details>

[2019-03-01 16:02] kjeremy commented on #58188
Still happening on 1.33.0

[2019-03-01 16:06] kjeremy commented on #58291
Still happening on 1.33.0

[2019-03-01 16:08] alexreg commented on #58619
Okay, that's basically what I meant. Thanks for clarifying.

[2019-03-01 16:12] Centril commented on #50512
[Haskell's standard library has the more general operation `<|>`:](http://hackage.haskell.org/package/base-4.12.0.0/docs/Control-Applicative.html#t:Alternative)
[code]
and `Maybe` is an instance of `Alternative`.

[2019-03-01 16:14] jdm opened #58849 "Huge performance regression in rustdoc between 1/28 and 2/25 nightlies"
When using the 1/28 Rust nightly for a Servo CI job on linux, the job that does a variety of builds and unit tests as well as generates docs for every single dependency took 20 minutes total. After updating to the 2/25 nightly, just the doc generation by itself takes 37 minutes, often causing our CI limit of 60 minutes to be exceeded.

[2019-03-01 16:16] jdm commented on #58849
Looks like the doc generation used to take 6m 28s.

[2019-03-01 16:16] AaronM04 commented on #10184
How does one reproduce this undefined behavior? I tried the example in the comment but the result was `255`, which seems OK to me:
[code]

[2019-03-01 16:17] euclio commented on #58826
So as to not block the linked PR, I've pushed the non-working build here:

https://github.com/euclio/rust/blob/d5c59523588121cf337f2efd70afc031634770a1/src/librustdoc/passes/collect_intra_doc_links.rs#L562

Link to failed travis [here](https://travis-ci.com/rust-lang/rust/builds/102736954).

I also am able to reproduce this on my Mac, so it's not Linux-specific.

[2019-03-01 16:22] Manishearth commented on #10184
Undefined behavior can't be reliably observed that way, sometimes it gives you what you expect but in more complex situations breaks down.

In short, the code generation engine (LLVM) we use is allowed to assume that this doesn't happen, and thus it may generate bad code if it ever relies on this assumption.

[2019-03-01 16:22] nikomatsakis opened #58850 "Compiler Team Steering Meeting"
**This issue exists to describe the compiler team steering meeting and to collect links about it.** It is closed for comments since it's not meant to collect discussion; if you'd like to give feedback about the steering meeting, please feel free to [open a topic in Zulip][z].

[z]: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler
[cal]: https://github.com/rust-lang/compiler-team#me

[2019-03-01 16:23] jonas-schievink commented on #58188
@kjeremy can you try on nightly/beta please?

[2019-03-01 16:29] euclio commented on #58849
I added a new docs pass to check codeblock syntax a few days before the 1/28 nightly. You could try running rustdoc without the `check-code-block-syntax` pass to see if that makes up the difference.

[2019-03-01 16:40] fintelia commented on #56635
Now that the feature is stable, shouldn't this be closed?

[2019-03-01 16:51] gdouezangrard commented on #56167
I can avoid unnecessary clones inherent to the original `entry` API which is nice. But unless I'm mistaken, the current `raw_entry` API seems to hash the keys twice in this simple use case:

[code]

Currently I use the following function to hash once and automatically provide an owned key if necessary (somewhat similar to what was discussed in https://github.com/rust-lang/rfcs/pull/1769):

[code]

[2019-03-01 17:03] fintelia opened #58851 "Improved exhaustive integer matching"
During the implementation/stabilization process for exhaustive integer matching, there was [a request](https://github.com/rust-lang/rfcs/issues/1550#issuecomment-270747503) to support matches of the form:

[code]
It seems that this should be feasible to implement, if the exact structure is constrained enough. Specifically the addition would be useful even if the match expression had to be a single

[2019-03-01 17:24] leonardo-m commented on #58851
This could be handled with a more general value range analysis in the front-end.

[2019-03-01 17:27] cuviper commented on #58845
#57990 backported the fixes in src/bootstrap, but missed those in linkchecker and tidy.

[2019-03-01 18:09] xrl commented on #58817
@oli-obk my crate is not public (it has a lot of private code) but it does have these flags on `lib.rs`:

[code]

I could give you a copy of the code through private means if that helps.

[2019-03-01 18:41] negamartin commented on #47354
I've just hit this issue in my own code, and the problem is reproducible just by copy-pasting the above code into the [Rust playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=67eafd6342edb018cdeb90a4ecdf83d3) in 1.33.0-stable.

I've looked around and found #52966, which was about a similar regression and was closed. If this behavior is intended, then this issue can

[2019-03-01 18:42] boomshroom commented on #50512
class Applicative f => Alternative f where
  empty :: f a
  (<|>) :: f a -> f a -> f a
[code]

[2019-03-01 18:46] alexcrichton opened #58853 "Imported variadic functions passed to procedural macros incorrectly"
In the most recent nightly (I think https://github.com/rust-lang/rust/pull/57760 was likely the cause), some input to a macro like this:

[code]

will actually pass the following as input to the macro:

[code]

which then fails to parse in libraries like `syn`!

[2019-03-01 18:50] myfreeweb commented on #48459
@sanxiyn yes, everything works fine these days :)

Would be nice to have official builds in rustup btw

[2019-03-01 18:54] dlrobertson commented on #58853
@alexcrichton I'll start looking into this ASAP

[2019-03-01 19:06] dlrobertson commented on #58853
FWIW the cause of the extra `...` is because we have to "spoof" the `VaList`, so instead of merely setting the `variadic` member of the `FnDecl` and `FnSig` we add an argument of the type `CVarArgs` to the signature (which when printed is `...`). So I'm betting I missed a chunk of code that tacks on a `, ...` when `variadic` is set.

[2019-03-01 19:35] dlrobertson commented on #58853
@alexcrichton

When adding the following to `syn`s [`dev/main.rs`](https://github.com/dtolnay/syn/blob/master/dev/main.rs)

[code]

I get the following

[code]

Which looks correct. Am I missing something?

[2019-03-01 19:54] alexcrichton commented on #58853
@dlrobertson oh I think you may be triggering syn's string parsing code, to see this in action you can use [this gist](https://gist.github.com/alexcrichton/6c05b08b83817991a6c745bf01cba636), where after cloning and executing `cargo build` you'll see:

[code]

[2019-03-01 20:15] nakacristo opened #58856 "Missing right parenthesis panics the compiler"
I wrote some shitty code here: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d44eb1015f294e937d86b157339d0978
And it broke the compiler. Apparently by reaching supposedly unreachable code of a parsing function.

Some background can be found at https://users.rust-lang.org/t/the-squeeze-challenge/25762/10
As pointed by @cuviper the problem can be reduced to
[code]

[2019-03-01 20:18] jethrogb commented on #58856
regression-from-stable-to-beta

[2019-03-01 20:20] cuviper commented on #58856
Here's the backtrace from the reduced case:

[code]

[2019-03-01 20:25] jethrogb commented on #58856
Further reduced test case:
[code]

[2019-03-01 21:03] Mark-Simulacrum commented on #58845
I'm going to close this -- we don't currently guarantee that the stable compiler can fully bootstrap itself as-is. If this is a significant problem for distros a heads up before the release (i.e., on the beta branch) would be appreciated -- we can fix this much easier there.

(I've also tagged as stable-nominated/accepted so that if there's a point release we can sneak the relevant patch in).

[2019-03-01 21:03] #58845 closed

[2019-03-01 21:08] cuviper commented on #58845
FWIW, here's the extra patch I've added to Fedora:
https://src.fedoraproject.org/rpms/rust/blob/f712684d1b1a4cb46dc963a049920981afc3c9ea/f/0001-Backport-deprecation-fixes-from-commit-b7f030e.patch

[2019-03-01 21:10] nikomatsakis commented on #57640
Async-await status report:

http://smallcultfollowing.com/babysteps/blog/2019/03/01/async-await-status-report/

Relative to my previous comment, this contains the results of the triage and some thoughts about syntax (but not yet a full syntax write-up).

[2019-03-01 21:11] nikomatsakis commented on #50547
Async-await status report:

http://smallcultfollowing.com/babysteps/blog/2019/03/01/async-await-status-report/

---

I wanted to post a quick update on the status of the async-await
effort. The short version is that we're in the **home stretch** for
some kind of stabilization, but there remain some significant
questions to overcome.

## Announcing the implementation working group

As part of this

[2019-03-01 21:21] nakacristo opened #58857 "compiler panic on bad negative bound"
This simple incorrect code makes the compiler to panic.
[code]
Bug on beta version. The stable version shows correctly a syntactic error.

Compiling playground v0.0.1 (/playground)
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/libcore/option.rs:345:21
note: Run with `RUST_BACKTRACE=1` environment variable to display a backtrace.

error: internal compiler error: unex

[2019-03-01 21:32] nikomatsakis opened #58858 "Incorporate RLS bug tracking into compiler team triage"
The general consensus is that the compiler and the IDE are on and forever. We need to make this a reality!

This bug is a sort of "meta bug" to take the steps needed for compiler team to be tracking RLS bugs, helping to resolving RLS issues, etc. I'm not 100% sure what those steps are at this moment.

I've created a [Zulip topic](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/top

[2019-03-01 21:32] nikomatsakis commented on #58858
Nominating for prioritization and discussion at next compile team triage meeting.

[2019-03-01 21:38] Xanewok commented on #58858
Currently, the development and issue tracking is done over at https://github.com/rust-lang/rls. It'd be interesting to share the triage infrastructure but not sure what would be a good approach (keep the issues here, there or mix it somehow?)

[2019-03-01 21:48] petrochenkov commented on #58857
cc @hdhoang @estebank
This looks like a "diagnostic improvement".

[2019-03-01 21:56] estebank commented on #58857
[I missed the `unwrap` in that PR](https://github.com/rust-lang/rust/pull/57364/files#diff-da9d34ca1d0f6beee2838cf02e07345cR5573).

[2019-03-01 22:32] OptimisticPeach opened #58860 "`!Struct` bounds break"
I made a typo. I tried to type this:
[code]
Yet instead I got:
[code]
Which can be summarized to
[code]
I expected it to tell me that it wouldn't be able to use a struct as a type parameter constraint like with this case:
[code]

## Meta
[code]

[2019-03-01 22:34] OptimisticPeach commented on #58856
Woah, how is the compiler even supposed to be able to deal with such malformed syntax?

[2019-03-01 22:37] ExpHP commented on #45268
Is this a thing that can be fixed just by modifying one crate?  Or is it much more complicated (due to e.g. incrementalization, query system, rainbow unicorn dust...)

If it is something a beginner could do, do you have any hints on the proper way to do it?  Any method names you can easily recall?  I guess basically what I need is to be able to get the `DefId` for a particular trait in the module

[2019-03-01 22:43] jonas-schievink commented on #58860
Duplicate of https://github.com/rust-lang/rust/issues/58857

[2019-03-01 22:43] #58860 closed

[2019-03-01 22:50] steveklabnik commented on #36481
Triage: https://github.com/rust-lang/rust/pull/56241#issuecomment-444209030 and https://github.com/rust-lang/rust/pull/56241#issuecomment-444231188

[2019-03-01 22:58] dlrobertson commented on #58853
@alexcrichton Thanks for the example! I'm pretty sure the offending code is [src/libsyntax/print/pprust.rs:2817-2819](https://github.com/rust-lang/rust/blob/master/src/libsyntax/print/pprust.rs#L2817-L2819). My PR should have cut that chunk.

[2019-03-01 23:01] jethrogb commented on #58856
@OptimisticPeach it can throw an error (as it does on stable), it just shouldn't ICE.

[2019-03-01 23:06] jethrogb commented on #58856
Different possibly related bug:
[code]
Backtrace:
[code]
Thanks to @OptimisticPeach for [finding it](https://users.rust-lang.org/t/the-squeeze-challenge/25762/14).

[2019-03-01 23:09] glandium opened #58862 "sys::unix::fs::canonicalize can lead to undefined-ish behavior on Android"
Its code is:
[code]

The problem comes from the pair of calls `libc::realpath`, `libc::free`. Under normal conditions, `libc::realpath` calls `malloc`, `libc::free` corresponds to `free` and everyone lives happily every after.

Now, funky things are funky. Say you have a binary that makes `malloc` and `free` be jemalloc. From rust, `libc::malloc` and `libc::free` then point to jemalloc. But here's

[2019-03-01 23:13] jethrogb commented on #58856
I think that's #58857

[2019-03-01 23:26] jethrogb commented on #58856
@estebank maybe 7451cd8dc0b?

[2019-03-01 23:27] glandium commented on #58862
FWIW, I pulled libc.so from my android phone, and its `realpath` does call `malloc` through the PLT, so the problem may not appear if you try, but I've certainly, in the past, seen libc.so's from android devices that didn't go through the PLT for internal calls.

[2019-03-01 23:52] jethrogb commented on #58840
@julien1619 can you post the full source including Cargo.toml and the module files?

[2019-03-01 23:55] jethrogb commented on #58817
@xrl It might be hard to diagnose this without the actual source input. If you're having trouble reducing the input, you might try an automated tool such as [C-reduce](https://embed.cs.utah.edu/creduce/).

[2019-03-02 00:04] estebank commented on #58856
@jethrogb looks likely.

[2019-03-02 00:12] estebank commented on #58856
I believe I can have a fix shortly.

[2019-03-02 00:18] jethrogb commented on #58375
Unable to reproduce, can't install tarpaulin:
[code]

[2019-03-02 00:21] jethrogb commented on #58375
If you are able to run it, can you run the command verbosely to extract the entire rustc command line? If you then run that command line yourself, does that also ICE?

[2019-03-02 00:22] sanxiyn commented on #48459
Thanks for confirmation! Yes it would be nice to have in rustup.

[2019-03-02 00:22] #48459 closed

[2019-03-02 00:36] GuillaumeGomez commented on #55900
There was but no major improvement for the moment.

[2019-03-02 00:37] GuillaumeGomez commented on #58827
@QuietMisdreavus I did. Look at #58848. :)

[2019-03-02 00:40] jethrogb commented on #58490
Regression from stable to stable (works in 1.30).

Reduced test case:
[code]

[2019-03-02 00:44] Manishearth commented on #58849
cc @quietmisdreavus

[2019-03-02 00:49] ishitatsuyuki commented on #39954
Triage: is this obsolete?

[2019-03-02 00:59] estebank commented on #58856
@OptimisticPeach [gracefully](https://github.com/rust-lang/rust/pull/58863/files#diff-00f584294b3db2ee2cfc1fbfc9dc8b65) :)

[2019-03-02 01:03] Manishearth opened #58864 "Diagnostics for mutating non-DerefMut types are confusing"
[code]

emits

[code]

which is super confusing. Firstly, I have what appears to be two conflicting error messages. The second one tells me to make things mutable, and if I listen to it I get told that things don't need to be mutable. Secondly, the relevant error message (the second one) talks about `&` references which don't exist.

The actual issue here is that `x` is not `DerefMut`, of course.

[2019-03-02 01:07] Manishearth commented on #58864
This is particularly bad for `Pin` where `Pin`'s `DerefMut` implementation depends on `Unpin` being implemented, so you have two layers of introspection to do -- you have to first figure out that the `&`-reference error is talking about `DerefMut`, and _then_ realize that `DerefMut` needs `Unpin`.

@asajeffrey hit this today

[2019-03-02 01:08] varkor commented on #58811
This is fall out from the recent const generics changes.

[2019-03-02 01:14] varkor commented on #58844
What problem are you seeing here? That `let var = /* diverging expression */;` marks `var` as an unused variable? Could you give an example where this isn't reasonable behaviour (i.e. can't trivially be refactored to be avoided)?

[2019-03-02 01:19] varkor commented on #58851
I think this should be moved to the RFCs repository. I certainly wouldn't feel comfortable special-casing certain forms of expression like this, and even a limited form of value analysis is a complex feature. This has come up in the past, but I can't find references to other issues right now.

[2019-03-02 02:30] mark-i-m commented on #39954
That would be ironic

[2019-03-02 02:42] euclio commented on #56705
Fixed by #56407.

[2019-03-02 02:42] #56705 closed

[2019-03-02 03:11] Manishearth commented on #58864
A reduced example for the confusing pin diagnostics:

[code]

([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0c16786d585dc5882d46457b5ec0b641))

[2019-03-02 04:39] Mark-Simulacrum commented on #58849
It looks like the number of patches landing in master between those two nightlies is actually fairly small when constraining to just src/librustdoc. I might have messed this up though.

f573049729 Auto merge of #58232 - ljedrz:HirIdification_continued, r=Zoxc
aadbc459bd Auto merge of #57051 - Eijebong:parking_lot, r=nikomatsakis
fcccf06fc9 Auto merge of #56514 - ollie27:rustdoc_test_libdir, r=Quie

[2019-03-02 05:39] #58716 closed

[2019-03-02 06:33] joshlf commented on #48515
Any progress on this? I ran into it again? Anybody I should consult on this? I'd like to help debug since this is blocking me on some work.

[2019-03-02 06:59] petrochenkov commented on #58490
`#![allow(duplicate_macro_exports)]` mode is implemented on best effort basis, generally unsupported and will be removed in some time.

[2019-03-02 07:01] petrochenkov commented on #58490
Ah, I see, the original issue doesn't have it.
I'll investigate.

[2019-03-02 07:25] LegNeato commented on #57464
With the latest nightly I now get:

[code]

Config:
[code]

Will that be fixed with the newest PR?

[2019-03-02 07:34] #57170 closed

[2019-03-02 07:51] SimonSapin commented on #39954
@ishitatsuyuki Depends what you mean. This issue is not yet at the point where it should be closed because every feature that existed 1.0.0 are now either stable or removed. I’ve just gone through checkboxes and made a couple updates, but there are still some that are unchecked.

As to whether it’s useful, that’s a different question. When the stability mechanism was introduced some months before

[2019-03-02 07:56] SimonSapin commented on #29601
I believe https://github.com/rust-lang/rust/pull/51285 should have closed this. Please reopen or comment if this is not the case.

[2019-03-02 07:56] #29601 closed

[2019-03-02 08:20] SimonSapin commented on #58862
As far as I understand this issue is not about `sys::unix::fs::canonicalize` or even about Rust. The same would happen in a C program that configures jemalloc to provide `malloc` and `free` symbols, right? To me this sounds like a bug in jemalloc and/or that libc.

Or are you saying that using the `free` symbol to deallocate memory allocated inside of libc is never correct, and instead users (incl

[2019-03-02 08:30] nox commented on #58844
What do you mean by trivially? This is a convenient way to represent platform-specific behaviour: have a type an uninhabited enum on some platforms and something useful in others, and then you can write code that abstracts over the two.

This is what the code is in that case:

https://github.com/servo/webrender/blob/89c79c227245e6fb7c447de157058e65b7868189/wrench/src/angle.rs#L10-L73

I also use u

[2019-03-02 08:45] nox commented on #58844
[Upstream](https://bugzilla.mozilla.org/show_bug.cgi?id=1531512) is going to prefix both concerned variables in webrender with an `_`, even though those values *are* indeed used on Windows where `Context` isn't an empty enum.

Not knowing about the fact that empty enums can lead to warnings, I would be myself really confused as to why the variables are prefixed, given they totally look used in the

[2019-03-02 09:20] nikic commented on #58844
@nox Inhabitnedness checks are privacy based, so consuming code will only get these warnings if it "knows" that the type is uninhabited. Maybe you can use something like `pub struct Context { privately_uninhabited: ! }` to solve this?

[2019-03-02 09:30] nox commented on #58844
That is helpful, thanks, I wasn't aware of how visibility affects the inhabitedness check. Closing this issue.

[2019-03-02 09:30] #58844 closed

[2019-03-02 09:35] WildCryptoFox opened #58867 "AsRef/AsMut implementations aren't inlined"
Many `AsRef` and `AsMut` implementations in core do not have `#[inline]` and yet these tiny no-op functions are called from the assembly.

[The following assembly maps to `AsMut<[T]> for [T]`](https://doc.rust-lang.org/nightly/src/core/convert.rs.html#485-496)

Any quick search for `as_ref` or `as_mut` in `convert.rs` shows many instances, some with but many without `#[inline]`.

[code]

**Edit**:

[2019-03-02 09:39] darkwisebear opened #58868 "Unclear unsoundness warning when reborrowing data using late-bound lifetimes across multiple trait definitions"
This is a cross post from the [users forum](https://users.rust-lang.org/t/unclear-borrow-checker-warning-about-unsound-late-bound-lifetimes/25688) where I was redirected to here:

While working on a project I hit a brick wall when designing a more complicated way to reborrow an object so that a different interface is exposed. This is the definition of the types used (stripped down):
[code]
Now, if

[2019-03-02 09:40] oli-obk commented on #58817
cc @alexreg, this seems to be a crash related to impl trait in bindings.

@xrl it's most likely due to a use of impl trait in let bindings. This should help with minimizing the code, since you can scrap any functions that don't have `impl Trait`

[2019-03-02 09:51] james-darkfox opened #58869 "Optimization discrepancy between clang/llvm and rustc/llvm. -O1 vs -Os"
With either O1 or Os clang uses increment. With O1 rustc produces add instructions. With Os rustc produces increment instructions. Is there any reason for this difference? llvm-mca says the instructions perform equally, its just that increment is smaller.

https://godbolt.org/z/VsIcT1

This minor issue might hint that other less minor issues may be present regarding the choices of optimizations.

[2019-03-02 10:36] matthewjasper commented on #58868
It's borrowing itself, that's what "borrow might be used here, when `controller` is dropped" means.

The type of `log` is `<<O as AsWorkspaceController<'_, '_>>::Controller as WorkspaceController<'_>>::Log`, all of the lifetimes are free.

Adding various annotations to the example:

[code]

 `'w: 'x` from the signature of get_log. `'x = 'v` from the bound on line 37.

So `'w: 'v` and so controller

[2019-03-02 10:44] jonas-schievink commented on #58867
You just need `#[inline]`. The LLVM hint wouldn't even be needed at all - `#[inline]` puts the function into all codegen units that reference it, that's all you typically need for small functions to be inlined.

You almostly *never* want `#[inline(always)]`, since it's even respected in debug mode, where it just needlessly impacts compile times.

[2019-03-02 11:09] RalfJung commented on #58841
Miri is fixed upstream, just needs a PR here.

[2019-03-02 11:51] james-darkfox commented on #58867
Thanks @jonas-schievink for the correction.

[2019-03-02 12:02] WolfBookyr opened #58871 "rustc segmentation fault"
I installed rust with `curl https://sh.rustup.rs -sSf | sh`. Everything installed correctly except for rustc: `stable installed - (error reading rustc version)`. Cargo and rustup work perfectly fine (except where they use rustc).

Calling `cargo run` gets stuck with no output and doesn't exit.

Calling `rustc --version` outputs:
`Segmentation fault (core dumped)`

System info:
[code]

Using gdb:
[

[2019-03-02 12:49] synek317 commented on #53010
Have you found any other solution for this?

[2019-03-02 13:22] gibfahn commented on #53010
Yeah, see the first line:

[2019-03-02 13:46] nikic commented on #58869
This is due to https://reviews.llvm.org/D58412, which landed upstream very recently and isn't part of LLVM 8 (which Rust currently uses).

[2019-03-02 13:46] #58869 closed

[2019-03-02 13:59] matthewjasper commented on #57464
Self contained example that still ICEs with AST borrowck on nightly:

[code]

[2019-03-02 14:14] nagisa commented on #58871
If the backtrace is in any way correct, this is caused by some sort of antivirus software. See https://github.com/rust-lang/rust/issues/56736 for a similar issue. Should report to your vendor rather than here.

[2019-03-02 14:26] WolfBookyr commented on #58871
You are indeed correct. Disabling antivirus fixed it. Thanks a lot for the help.

[2019-03-02 14:26] #58871 closed

[2019-03-02 14:45] alexreg commented on #58817
@xrl, impl Trait in bindings is badly broken right now, sorry. I’m going to be reworking it over the coming weeks. I suggest you don’t use it for now.

[2019-03-02 15:04] jackpot51 commented on #42761
It hasn't come up again, so maybe not

[2019-03-02 15:04] #42761 closed

[2019-03-02 15:42] james-darkfox commented on #58869
@nikic Thanks. Just confirmed that llvm7 (two clicks on godbolt) does indeed use add.

[2019-03-02 16:06] #42036 closed

[2019-03-02 16:14] ZerothLaw commented on #58713
I don't think I have the expertise to implement this feature, but I could write some (currently failing) tests for use by the implementor?

(Background, Ran into this exact problem linking mscorlib.dll into executables. Had to write a C++ level wrapper to get it to work.)

[2019-03-02 16:23] coolreader18 opened #58874 "Drop::drop() not called on a panic! when compiling to WASM"
Running 1.34.0-nightly 2019-02-22, but it also happens on stable. Repr here: https://github.com/coolreader18/wasm-no-drop/.

I noticed this with an `Rc<RefCell<_>>`, when I borrowed it mutably and something panicked while the borrow was held, trying to borrow that same RefCell again panicked with "already borrowed: BorrowMutError". This might be a wasm-bindgen error, cause it seems weird that this

[2019-03-02 16:42] Alexander-N opened #58875 "rustdoc seems to ignore `edition2018` attribute"
Running
[code]
with the following content of test.md
[code]
gives me
[code]
The test passes when I uncomment `extern crate clap`.

This is a problem when code blocks in the documentation should get tested, see https://github.com/amethyst/amethyst/pull/1364#issuecomment-455472322 for an example.

## Meta

`rustdoc --version --verbose`:
rustdoc 1.34.0-nightly (aadbc459b 2019-02-23)
binary: rustdoc
c

[2019-03-02 18:02] dbeckwith commented on #55779
Just ran into this on `nightly-2019-02-27` with the serde helper pattern.

[2019-03-02 18:11] lcdr commented on #17151
I ran into this as well. The UFCS syntax is unfortunately not as ergonomic as normal method syntax, it'd be nice if there was a way to use method syntax.

Would it be possible to resolve this by having the subtrait's items shadow the supertrait's items, so that a method syntax call would resolve to the subtrait? The supertrait's items could still be referenced through UFCS.

I realize that changin

[2019-03-02 18:42] ids1024 commented on #58874
When you say wasm, I presume you mean the `wasm32-unknown-emscripten` target?

Panic isn't guaranteed to result in destructors being called; this depends on whether `panic=unwind` or `panic=abort` is used. Normally this is configured in `Cargo.toml`, but some targets may support only abort, which wouldn't result in destructors being run.

That said, there does seem to be an unwinding implementatio

[2019-03-02 19:06] scottjmaddox commented on #53491
I was proposing `take_initialized(self)` instead of `into_initialized(self)`, because I believe the former name more accurately describes the operation. Again, I understand that the `take` typically takes a `&mut self` and `into` typically takes a `self`, but I believe semantically accurate naming is more important than consistently typed naming. Perhaps a different name should be used, though, su

[2019-03-02 19:17] ehuss commented on #58875
I think that is expected.  Crates are only added to the extern prelude if the `--extern` flag is used. Since mdbook doesn't really know about extern crates (https://github.com/rust-lang-nursery/mdBook/issues/706), you'll probably need to keep the `extern crate` lines (or figure out how to pass the correct `--extern` flags to rustdoc).

[2019-03-02 19:26] mjbshaw commented on #53491
`v.write()` (or `v.set()` or whatever it is we're calling it these days)is safe. `v.as_ptr().write()` requires an `unsafe` block, which is kind of annoying. Though I agree about `v.read_init()` vs `v.as_ptr().read()`. `v.read_init()` seems superfluous.

[2019-03-02 20:01] nox commented on #54912
I don't really understand how generic constants can cause issues with unnamed consts, and AFAIK supporting `_` is fully forwards-compatible with generalising `const` to fully accept patterns. Is there any chance this could be stabilised? Many derive macros out there currently generate a difficult-to-guess const name to scope `extern crate` and `use` statements.

[2019-03-02 20:11] prisme60 commented on #50583
Tested OK on Rust 1.33 on my Rasberry Pi 1 on Alpine distribution (musl armhf) with cross-compilation.
Previous versions of Rust were not working.

[2019-03-02 20:58] Olavhaasie commented on #58867
I would like to do this, If no one else has taken it yet

[2019-03-02 21:33] emilio opened #58881 "Building Firefox with rustc 1.34.0-nightly fails with LLVM ERROR: broken function found."
Unfortunately I haven't been able to reproduce outside of the Firefox build system. I assume this is a regression from #58408, cc @alexcrichton.

[code]

[2019-03-02 21:42] kentfredric commented on #58094
I can reproduce a very similar problem (appears to involve the same origin and failing assertion of `syntax::source_map::SourceMap::bytepos_to_file_charpos`) compiling rust-lang/regex@8977e35a8eb9f8e4f27f7bdd0aaf34070a99251c
with `rustc 1.34.0-nightly (02c4c2892 2019-02-26) running on x86_64-unknown-linux-gnu`
and compiler flags:
[code]

For me, setting `mir-opt-level` to 2 or greater is required

[2019-03-02 21:55] tmccombs commented on #58599
I'd like to take a stab at implementing this.

[2019-03-02 22:01] joshlf commented on #58599
Awesome, thanks @tmccombs ! This will unblock a lot of important work :)

[2019-03-02 22:03] joshlf commented on #58599
@alexcrichton On the subject of exposing in `core::ptr`: Is the ban on platform-specific logic in `core` a general one, or just for API-visible elements? If it's the latter, then we should be able to implement the facade in `core::ptr` as well.

[2019-03-02 22:40] bIgBV opened #58882 "`std::Pin` documentation missing example"
I think the [`std::Pin`] documentation is missing an example. Specifically, the [Intrusive linked list] example. The heading contains references to the example and the the heading [Drop guarantee] contains the following line:

This leads me to believe that there is a missing example in the documentation.

[`std::Pin`]: https://doc.rust-lang.org/std/pin/index.html
[Intrusive linked list]: https://d

[2019-03-02 23:08] MightyPork commented on #58882
Was wondering about this too, reading the release notes. Kind of assumed it's "left as an exercise to the reader"

[2019-03-02 23:35] mgostIH commented on #53605
Is there some blocker on this or could this be starting to get stabilized? I'm mostly looking out for a way to define a function from a `u8` array without any indirection but I have no idea whether this is supposed to be supported or not in the design of const fn.

[2019-03-02 23:52] mark-i-m commented on #57959
That sounds plausible, but I'm not 100% sure. If you wanted to do some digging, the borrow checker errors are reported from here IIRC: https://github.com/rust-lang/rust/tree/master/src/librustc_mir/borrow_check/nll/region_infer/error_reporting

I'm sorry I can't be more helpful ATM...

[2019-03-03 00:12] rep-nop commented on #57959
No worries, I'll take a look around and see what I can find, thanks! :)

[2019-03-03 00:18] Matthias247 opened #58884 "async/await: Potentially incorrect lifetime handling when structs with lifetimes are referenced"
The following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=679f4e943b7c216dac7d9134e632e856)) produces a compiler error, even if there doesn't seem to be an obvious lifetime issue:

[code]

The error message is:
[code]

That seems very confusing (or wrong), given that the function doesn't return anything with a lifetime. It works without the loop. An

[2019-03-03 01:28] sfackler commented on #58867
LLVM should normally be inlining in release builds these unless you're using multiple codegen units without LTO.

[2019-03-03 02:04] Matthias247 opened #58885 "async/await: Usage of trait objects reports multiple different lifetimes when only one is used"
The following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=535ed0ffe0d0736a9739b48431c44bcc)) fails to compile:

[code]

Error:
[code]

This is very surprising, since only one lifetime is visible.

Workaround (thanks to @Nemo157 ):

Defining the function as
[code]

will allow compilation.

[2019-03-03 03:44] yodaldevoid commented on #50582
I had some time and decided to perform a git bisect. I looks like this was fixed with fe5710a, and considering the name of the commit, this makes sense. Heck, it even adds a test with a very similar input from issue #50585!

[2019-03-03 03:47] jatsrt commented on #58840
Simple project that causes this:
https://github.com/zenlist/clincl

[2019-03-03 04:59] rohit-136 commented on #25289
@ivolvicente your solution did not work for me on Ubuntu 16.04 LTS. Any suggestion you might have?

[2019-03-03 06:43] mjbshaw opened #58886 "Rust incorrectly accepts unbalanced parentheses"
Rust incorrectly accepts the following code (which is missing a `)`):
[code]

So far this seems to only happen if the code is inside a submodule. Shell script to reproduce:
[code]

My compiler version: `rustc 1.34.0-nightly (0ea22717a 2019-03-02)`

[2019-03-03 07:08] james-darkfox commented on #58867
@sfackler I haven't tweaked the config for codegen units nor LTO. So whatever the default is.

[2019-03-03 07:10] athre0z opened #58887 "ICE in typeck on existential return type in trait"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6988f4162312bdf3adc80228efabb896

[code]

[code]

[2019-03-03 07:20] estebank commented on #58886
Likely introduced in #57944. I'll take a look at it tomorrow.

[2019-03-03 07:46] NN--- commented on #48594
[Nemerle](https://nemerle.org) language has [Named blocks](https://github.com/rsdn/nemerle/wiki/Block) functionality.
It is very useful and convenient.

[return, break and continue](https://github.com/rsdn/nemerle/blob/master/macros/core.n#L102) are implemented as macros using this feature.

[2019-03-03 08:07] coolreader18 commented on #58874
No, wasm32-unknown-unknown, compiled using wasm-pack/wasm-bindgen. Looking through the source code, it seems like the comment [here](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_target/spec/wasm32_unknown_unknown.rs.html#31-34) explains what's going on pretty well. Maybe there could be documentation for this, because this seems like fairly unexpected behavior, especially when most of

[2019-03-03 08:18] oli-obk commented on #58851
I agree, this needs an RFC. I think the relation to generic value arguments and thus integer subtypes is something that should be part of this discussion, too.

[2019-03-03 08:18] #58851 closed

[2019-03-03 10:23] pietroalbini commented on #58840
Bisected, the cause of the regression is https://github.com/rust-lang/rust/pull/55517. cc @nikomatsakis @scalexm

[2019-03-03 10:43] PvdBerg1998 opened #58888 "ICE unexpected type in type_metadata: impl core::future::future::Future"
Latest nightly (`x86_64-pc-windows-msvc`) panics when I run `cargo test` on my codebase using `async await`.

[code]

[2019-03-03 10:44] PvdBerg1998 commented on #58888
[code]

[2019-03-03 10:48] NN--- opened #58889 "String concatenation"
Why Rust implements implement trait add only for:
- [x] String + &str
- [x] String + &String

While it doesn't implement trait add for:
- [ ] &String + &str
- [ ] &str + String
- [ ] String + String
- [ ] &String + &String

[2019-03-03 11:01] matthewjasper commented on #57464
A smaller case:

[code]

[2019-03-03 11:06] bjorn3 opened #58890 "compiletest fails to build using local-rebuild=true + rustc 1.34.0-nightly (0ea22717a 2019-03-02)"
[code]

[2019-03-03 11:42] #53005 closed

[2019-03-03 11:42] #58853 closed

[2019-03-03 12:10] julien1619 commented on #58840
@jethrogb : @jatsrt just did a test case (thanks!).

[2019-03-03 12:11] rchaser53 commented on #58890
maybe this will be fixed in https://github.com/laumann/compiletest-rs/pull/160

[2019-03-03 12:22] jonas-schievink commented on #58888
Can you post the source code, or an example that reproduces this? Is this also happening on older nightlies or did this recently appear?

[2019-03-03 12:42] GuillaumeGomez commented on #58849
It's very certainly because of my minification process. Although, I didn't expect it to have a noticeable impact...

[2019-03-03 12:50] PvdBerg1998 commented on #58888
Only the last nightly. I have no idea what code is causing this. It does not occur when I run `cargo check`, only `cargo run` or `cargo test`, that may be useful to know.

[2019-03-03 12:54] jonas-schievink commented on #58888
The stacktrace also mentions WASM, are you targeting that, and does it happen with other targets too?

[2019-03-03 13:01] PvdBerg1998 commented on #58888
I'm not targeting WASM. I played a bit with how much of my code I can remove until it starts compiling again. This is causing the same error: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b1e77a15da5f42edcd4031dd6af8939f

[2019-03-03 13:02] PvdBerg1998 commented on #58888
It seems this only panics when the functions are implemented as methods, so when you remove the structure it does compile.

[2019-03-03 14:18] jonas-schievink commented on #58888
Great, thanks!

[2019-03-03 14:26] bjorn3 opened #58892 "Generator drop glue jumps from is_cleanup:false -> is_cleanup:true and the other way"
[code]

I only tested this with `-Cpanic=abort`.

Wrong jumps: bb1 -> bb5, bb4 -> bb6, bb5 -> bb2.

Note: made mir dump below using `println!("{:#?}")`, because `rustc_mir::util::write_mir_pretty` doesn't work correctly for shims.

<details>

<summary>Mir for `Instance { def: DropGlue(DefId(2/0:691 ~ core[479c]::ptr[0]::real_drop_in_place[0]), Some([generator@/Users/bjorn/Documents/rustc_codegen_c

[2019-03-03 14:29] bjorn3 commented on #58892
I noticed this, because [cg_clif](https://github.com/bjorn3/rustc_codegen_cranelift) crashed with a verifier error about a jump to an undefined bb. (cg_clif omits `is_cleanup` blocks because it doesn't support unwinding yet anyway)

[2019-03-03 14:40] RalfJung commented on #58841
Fixed by https://github.com/rust-lang/rust/pull/58879

[2019-03-03 14:40] #58841 closed

[2019-03-03 15:01] PvdBerg1998 commented on #58888
The stacktrace in the minimal example is slightly different:
[code]

[2019-03-03 15:08] GuillaumeGomez commented on #58745
I'll take a look.

[2019-03-03 15:10] GuillaumeGomez commented on #58699
Therefore we should try to link to types before modules I assume? I'll see how it comes out.

[2019-03-03 15:11] matthewjasper commented on #58892
<details>

<summary>Pretty printed shim (not fully transformed)</summary>

[code]

</deatils>

[2019-03-03 15:15] bjorn3 commented on #58892
Forgot `-Zdump-mir` existed :)

[2019-03-03 15:24] ebarnard opened #58895 "Use `copyfile` for `std::fs::copy` on MacOS"
`copyfile` on MacOS is similar to `CopyFileEx` on Windows. It supports copying resource forks/alternate data streams, extended attributes, and file ACLs, none of which are copied by the current generic unix implementation.

<details>
<summary>copyfile man page</summary>
    p { margin-top: 0; margin-bottom: 0; } pre { margin-top: 0; margin-bottom: 0; } table { margin-top: 0; margin-bottom: 0; }

C

[2019-03-03 16:01] steveklabnik commented on #58889
Please ask questions on users.rust-lang.org. We try to keep the bug tracker for bugs only. Thanks!

[2019-03-03 16:01] #58889 closed

[2019-03-03 16:42] darkwisebear commented on #58868
@matthewjasper Many thanks for the detailed analysis and explanation. This sounds to me as if this situation cannot really be solved since it is impossible to release 'w early: It must live longer than the result of get_log so that TheLog can safely access &self. At the same time, it has to be shorter than now so that the drop can happen. Is there any method, now or in the future, that might solve

[2019-03-03 16:49] ids1024 commented on #58874
Ah yeah, with `wasm32-unknown-unknown` I'm not surprised it doesn't work.

In theory I think it's expected behavior for unwinding panics to not necessarily be available on all targets (and a library can't rely on it since an application could use `panic=abort`).

But yeah, it doesn't seem to be documented too well. I don't see any mention of unwind vs abort in the documentation for `Drop`, or even

[2019-03-03 16:51] NN--- commented on #58889
Ok.
I can make a PR making these operators available and making sure everything compiles as expected.
Will this PR be accepted ?

[2019-03-03 16:55] #57709 closed

[2019-03-03 17:02] bjorn3 opened #58898 "Rustdoc ommits `default` for `default fn`"
![screenshot_2019-03-03 rustc ty query values value - rust](https://user-images.githubusercontent.com/17426603/53698544-72d35f80-3dde-11e9-904e-59d17ee80a2a.png)

[code]

[2019-03-03 17:19] matthewjasper commented on #58868
Well, you could change the definition of the `AsWorkspaceController` controller trait to get the example to compile:

[code]

Translating the code to GATs should also work once they're implemented, as it amounts to mostly the same thing.

[2019-03-03 17:23] Mark-Simulacrum commented on #55861
I'm going to use the functionality added in https://github.com/rust-lang/rust/pull/58689 instead of a cfg-gate across all of std/test/alloc -- that seems quite a bit cleaner.

[2019-03-03 17:33] sfackler commented on #58867
I remembered that we generally don't want to add `#[inline]` on functions that are already eligible for inlining: #52704.

[2019-03-03 17:41] dvc94ch commented on #58888
Same problem on linux...

[2019-03-03 17:42] petrochenkov commented on #55168
Fixed in https://github.com/rust-lang/rust/pull/58899

I'd prefer to see crater results first.

[2019-03-03 17:42] Mark-Simulacrum commented on #55861
Posted #58900 and unassigning myself. That PR won't fix all of the problems here so it doesn't fix this bug (it doesn't properly inform rustdoc to skip should_panic tests) so it should not close this issue.

[2019-03-03 17:54] oli-obk commented on #58887
probably related to https://github.com/rust-lang/rust/issues/58817

[2019-03-03 17:54] oli-obk commented on #58887
cc @alexreg might not be impl-trait-in-let-binding related after all

[2019-03-03 18:27] darkwisebear commented on #58868
@matthewjasper Incredible, thanks! I've never thought of using free lifetimes in a type bound of an associated type and I've never seen this anywhere.

Maybe such topics (free vs late vs early-bound lifetimes and where and when to use them) might be interesting for the nomicon?

[2019-03-03 18:33] gilescope commented on #57084
I can repro that on the 2018-12-18 build so happy to roll the playground example as a regression test (unless anyone's already done it?).

[2019-03-03 18:39] Alexander-N commented on #58875
Ok, thanks.

[2019-03-03 18:39] #58875 closed

[2019-03-03 18:39] james-darkfox commented on #58867
Thanks @sfackler.  [This comment suggests using ThinLTO in release builds incremental builds disabled](https://github.com/rust-lang/rust/pull/52704#issuecomment-408536474) but obviously that isn't desired as incremental building is very desirable for rapid testing (especially in my case where I need to read the optimized assembly).

[2019-03-03 18:43] sfackler commented on #58867
Incremental ThinLTO works now IIRC.

[2019-03-03 18:46] gilescope commented on #51751
Would some wording like this work:
"yield statement outside of generator literal (Maybe async called from a non-async context?)"

[2019-03-03 20:32] jcape opened #58904 "Blanket impl resolution vs. trait bounds"
I have run into similar errors to #50133, so that may share the same ultimate cause as mine.

I'm having an issue with the `impl<T> From<T> for T` blanket implementation causing conflicts with my own blanket implementation of a `From` trait. For example, if I have a type which implements `AsRef<u8>`, and `From<T: AsRef<[u8]>>`, that blanket implementation conflicts, because my implementation of th

[2019-03-03 21:11] gnzlbg opened #58905 "Rust arrays on C FFI are super confusing"
Arrays are passed to C as a raw pointers, which means that `foo` does not move it, so this example is confusing at best.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7a25fb17a6f38941c4ae3ddf887a8910))

Errors:

[code]

If one does not try to use the moved value, this will silently compile, but `x` will be deallocated as soon as the function returns

[2019-03-03 21:17] alexreg commented on #58887
@oli-obk Ah, good to know. Are you going to tackle this? I'm not sure if the RFC for `existential type` should support this syntax (I suspect not), but it would be nice (for the sake of my upcoming PR) to support `existential type` within impls at an HIR level, at least.

[2019-03-03 21:31] Nemo157 commented on #58888
There’s a good chance it’s related to https://github.com/rust-lang/rust/pull/58077, I’ll try to take a look into it.

[2019-03-03 21:40] jonas-schievink commented on #58904
The second impl could be instantiated with `B = MyType` because of the first impl. This would collide with the blanket impl in `core`, shown in the error message. Specialization could possibly allow this, but right now this is intentionally forbidden.

[2019-03-03 21:40] #58904 closed

[2019-03-03 21:50] Nemo157 commented on #58888
[Reproducer with generators directly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=05134a88c353ee690bb74e91c54a9eed).

[code]

[2019-03-03 22:14] andoriyu commented on #49359
I think it's worth adding things like package and type of test. Type of test: unit test, doc test, integration test.

The package is something like: module for unit test, resource path for doc test (crate::foo::Bar), and filename for integration test.

[2019-03-03 22:24] Nemo157 commented on #58888
I have a fix, just need to find some wifi to open the PR.

[2019-03-03 22:36] gnzlbg commented on #58905
FWIW, my preferred solution to this problem would be to just warn when arrays are not used behind a pointer on foreign function declarations, and maybe ban that in a future edition. This doesn't require any type system changes at all AFAICT.

I would prefer if we would just do that, and call it a day.

However, I imagine that a lot of code will want to update to avoid this warning, or be compatibl

[2019-03-04 00:10] ollie27 commented on #58905
Is this not just a duplicate of #36464.

[2019-03-04 00:39] steveklabnik commented on #37105
It’s been over a year since any update, and almost two years since this issue was originally reported. I’m going to go ahead and close this, @busyjay, if you have a way to reproduce and still care about this, please let me know!

[2019-03-04 00:39] #37105 closed

[2019-03-04 01:57] asomers opened #58907 ""Cargo test" uses a thread pool in 1.33.0"
Previous versions of Cargo would create and destroy a new thread for each test.  Cargo 1.33.0 instead creates a thread pool and reuses the same thread for multiple tests.  This can cause test failures for crates that implicitly rely on Cargo's old behavior for isolation.  I'm not saying that the new behavior is wrong, but it deserves a mention in the release notes.

https://github.com/nix-rust/nix

[2019-03-04 02:06] agalakhov commented on #57563
How about allowing traits like `Add` and `Sub` to be const as well?

[2019-03-04 02:10] Lokathor commented on #57563
I remember hearing about some talk for trait implementations to be able to be declared as a const implementation in the Discord, but I don't have the tracking number for that issue, and I don't even know if that's in an issue in the first place.

So, it's on someone's mind at least, and if you find it please comment here and I'll add it into the list.

[2019-03-04 02:19] Nemo157 commented on #57563
Usage of traits in const context is a currently active RFC: https://github.com/rust-lang/rfcs/pull/2632

[2019-03-04 07:10] rohit-136 commented on #47989
@dcreager  It says "no default toolchain configured" in Ubuntu 16.04 LTS. Any suggestions ?

[2019-03-04 07:40] #37518 closed

[2019-03-04 07:47] ids1024 commented on #58862
I suppose this raises the question: does the C code in Firefox carefully avoid doing things like this?

I don't know if it can be considered a bug in jemalloc, since there may simply be nothing it can do. Nor in bionic, since I don't think anything in the C standard (or probably other standards) would imply it's possible to replace the allocator this way.

Someone more familar with jemalloc and li

[2019-03-04 07:52] james-darkfox commented on #58867
Cool. And enabled by default on at least the latest nightly. Should this be closed?

[2019-03-04 07:56] Xanewok commented on #58765
Fixed in #58807.

[2019-03-04 08:50] #58765 closed

[2019-03-04 09:02] oli-obk commented on #58887
Existential types for associated types in trait impls are already supported and suggested to exist by the RFC. The issue here is probably that I never considered generics in that light.

Or am I misunderstanding what you mean by "this syntax"?

[2019-03-04 09:03] newpavlov commented on #56660
Are source maps part of WebAssembly standard? If not, then I think we should not add them for `wasm32-unknown-unknown` target and instead introduce them only for [`wasm32-web-unknown`](https://github.com/rustwasm/team/issues/38).

[2019-03-04 09:06] aurabindo commented on #56957
Happens on riscv32 no_std as well

[2019-03-04 09:20] tspiteri commented on #58699
Yes I think types should go before modules.

After all it's always possible to use ``[`char`][`std::char`]`` if you actually want to link to the `std::char` module using `char` as the link text.

[2019-03-04 09:48] therealprof commented on #56957
Since 1.33 stable you can do `use panic_semihosting as _;`

[2019-03-04 09:51] nox opened #58910 "Erroneous borrowck error with early returns"
[Playground](
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7a7bb232cf964567d095a10b5c2aae2f)

[code]

[code]

[2019-03-04 09:58] JohnTitor commented on #52790
Thank you @estebank! I'm sorry for the late response. I looked at `parse_impl_item_`, what does `before parse_visibility` mean? Should I add a custom error before [this line](https://github.com/rust-lang/rust/blob/a9da8fc9c267c08cfdb8cf5b39da14f154d12939/src/libsyntax/parse/parser.rs#L6498)?
Uh, I may need time and advice. If it’s too much, I will leave this issue.

[2019-03-04 11:22] nikomatsakis commented on #58910
This, I believe, is the case that we cut out from NLL (what I called "Problem case #3" in my initial blog post) -- specifically, the dreaded "conditionally return borrow". The pattern you have there is:

- Unconditionally create a borrow at point A (in this case, `data_struct`, which borrows `input`)
- Conditionally return that borrow at point B (in this case, via `data_structu.fields.iter_mut()`)

[2019-03-04 11:24] nikomatsakis commented on #58910
The workaround btw is something like this ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=49a5481bb3fbafcf71c697413c838bd3)):

[code]

[2019-03-04 11:31] scampi commented on #58888
For tracking purpose, looks like [`futures-rs`](https://github.com/rust-lang-nursery/futures-rs.git) is also failing with this error:

[code]

[2019-03-04 11:53] pnkfelix commented on #58435
The bors merges in this range were:

% git log  01f8e25...bf669d1 --author bors --format=oneline
bf669d1e3295bc688f71b8c91f48a6beaf895f67 Auto merge of #57435 - Dylan-DPC:fi/compiler-builtins-lock, r=alexcrichton
0b1669d96cee9dec9035a50fdf0a967a68605f98 Auto merge of #57714 - matthewjasper:wellformed-unreachable, r=pnkfelix
7187db619c134697647f96e82111cbcbae337d4f Auto merge of #57891 - michaelwoe

[2019-03-04 11:58] pnkfelix commented on #58435
Initial guesses as to which PR(s) in list above seem most relevant: #57606 ...

(That's assuming that the const-eval bit in the stack trace is the most relevant clue as to the cause of the ICE.) all the others don't seem to touch const-eval.

[2019-03-04 12:01] pnkfelix commented on #58435
But, wait, what am I doing here...

at this point enough time has passed that the current beta is *able* to handle the example without ICE'ing.

This bug does not seem worthy of attempting a backport all the way to stable.

(In other words, the time to attempt a backport would have been prior to when the beta-next was cut from the nightly, which was around a week ago.)

[2019-03-04 12:02] pnkfelix commented on #58435
Oh wait, lets at least add a regression test

[2019-03-04 12:05] nox commented on #48467
I hit this when implementing `inert_derive`.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dcbcd6a9d8e7b989ac3f574044557c64

In my case I can't seem to find a way to tell `rustc` that my `impl ToTokens` value is `'static`.

[2019-03-04 12:37] pnkfelix commented on #58813
Heh, normally when regressions are fixed I tagged them as E-needstest, but I guess we already have a test ready to go here.

[2019-03-04 14:02] Dylan-DPC opened #58914 "Cannot find macro from subcrate"
### Setup:

You have a workspace, with one subcrate. The subcrate contains a macro (which is exported).

The main crate in the workspace uses the subcrate as a dependency, but it cannot resolve the macro by importing it with `use` (the 2018 edition way)

Here is a PoC: https://github.com/Dylan-DPC/macros-workspace-test

Rust version: 1.33.0 (stable)
Edition: 2018

[2019-03-04 14:10] petrochenkov commented on #58914
`use subcrate::macros::foo` -> `use subcrate::foo`.
`macro_export`-ed macros are placed into the crate root rather than into the module they are defined in.

AFAIR, the latter was considered during macro import stabilization, but it was too late for a breaking change that large.

[2019-03-04 14:18] Dylan-DPC commented on #58914
Thanks. Will try this and get back to you

[2019-03-04 14:35] omarabid commented on #42327
So what is the solution to convert the Option NoneError? It seems that, because, it implements the Try Trait, it'll not compile unless you enable using that particular (unstable?) feature.

So basically, you cannot use the ? operator with Option as far as I'm aware?

[2019-03-04 15:08] lilianmoraru commented on #37530
I think this is even more relevant now with `pub(crate)` - I see that currently the visibility is global.

[2019-03-04 15:23] QuietMisdreavus commented on #58849
The only minifier change that landed into rustdoc between those dates was https://github.com/rust-lang/rust/pull/57884. The minifier was actually in place before then.

[2019-03-04 15:40] alexcrichton commented on #58599
Currently it's largely just a "we strongly discorage platform-specific APIs" in libcore, there's already platform-specific pieces to the implementation, especially some math-related pieces on MSVC

[2019-03-04 15:45] alexcrichton commented on #58881
Unfortuntely this probably isn't too actionable unless we can reduce it to the point where we can give it to upstream LLVM

[2019-03-04 15:46] epage commented on #49359
Since libtest tracks test times (at minimum, reporting if its taking too long), it would be nice if that got included in the programmatic output so we can report it to the user, e.g. in JUnit.  Alternatively, we'd have to timestamp the events as we read them.

[2019-03-04 16:43] alexreg commented on #58887
Ah, I was probably thinking of the case of inherent impls... glad these are supported.

[2019-03-04 17:25] TitanThinktank commented on #22176
i just got this error while trying to make a

pub struct WebButton
{
    button: stdweb::web::Element;
}

[2019-03-04 18:06] estebank commented on #52790
It would be before doing `self.eat(&token::Async);` before [this line](https://github.com/rust-lang/rust/blob/a9da8fc9c267c08cfdb8cf5b39da14f154d12939/src/libsyntax/parse/parser.rs#L6477), and if consumed, emitting a custom error and change the `asyncness` of the `FnHeader` in the `Method ` [returned here](https://github.com/rust-lang/rust/blob/a9da8fc9c267c08cfdb8cf5b39da14f154d12939/src/libsynta

[2019-03-04 18:20] cuviper commented on #42327
@omarabid, the operator is stable for use with `Option` or `Result`, but you can't use `Try` as a generic constraint until it's stable. It's perfectly fine to use `?` on an `Option` in a function returning `Option`, as you don't have to involve `NoneError` at all. You can also return a `Result` if you erase types:

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=

[2019-03-04 18:34] cuviper commented on #42327
If we don't want my example to break, `try-trait-v2` will need something like:

[code]

[2019-03-04 19:07] gilescope commented on #57084
I see now there's a run-pass/generator - would it be better in there?

[2019-03-04 19:39] kevincox commented on #46981
I realized that the following issue was only occurring on nightly. However after the latest update this is now occurring on stable as well.

[code]

[2019-03-04 21:04] estebank commented on #48467
A separate situation that would need to be handled is the following:

[code]

where the suggestion would need to be to add `+ 'a` constraint, but currently outputs the general lifetime error:

[code]

[2019-03-04 21:24] #57877 closed

[2019-03-04 22:05] GuillaumeGomez commented on #58699
Oh btw, you can force the resolution by adding the type before hand like `method@len`. I wonder if this is documented somewhere...

[2019-03-04 22:57] GuillaumeGomez commented on #58699
It comes from the compiler directly. We need to re-order how the items are resolved.

cc @rust-lang/compiler

[2019-03-04 23:04] Dylan-DPC opened #58922 "multiple applicable items in scope - type_id"
From a crater run:

[code]

Found this error in the following crates:
[Downcast](https://crates.io/crates/downcast/0.9.2): [crater log](https://crater-reports.s3.amazonaws.com/beta-1.34-1/beta-2019-02-27/reg/downcast-0.9.2/log.txt)

[Findr](https://crater-reports.s3.amazonaws.com/beta-1.34-1/beta-2019-02-27/reg/findr-0.1.5/log.txt): [crater log](https://crater-reports.s3.amazonaws.com/beta-1.34-1/

[2019-03-04 23:22] Dylan-DPC-zz opened #58923 "overflow evaluating Slot<Event> : Send"
From a crater run:

[code]

Affected crates:
[ilp](https://crates.io/crates/ilp/0.2.1) - [crater log](https://crater-reports.s3.amazonaws.com/beta-1.34-1/beta-2019-02-27/reg/ilp-0.2.1/log.txt)

cc author @emschwartz

[2019-03-04 23:24] estebank commented on #58922
This is fallout from the recent change from [`get_type_id` to `type_id`](https://github.com/rust-lang/rust/pull/57834).

[2019-03-04 23:28] TimDiekmann commented on #58160
https://github.com/rust-lang/rust/pull/58750 failed two times in a row because of this. Both failures on jobs with builds > 3hours.

[2019-03-04 23:38] Dylan-DPC opened #58925 "use of deprecated item 'std::sync::atomic::ATOMIC_BOOL_INIT'"
from crater run:

[code]

crates affected:
[lazy-static](https://crates.io/crates/lazy_static/1.2.0) - [crater log](https://crater-reports.s3.amazonaws.com/beta-1.34-1/beta-2019-02-27/reg/lazy_static-1.2.0/log.txt)

@rust-lang-nursery

[2019-03-04 23:51] Mark-Simulacrum commented on #58925
This is intended and expected. Closing.

[2019-03-04 23:51] #58925 closed

[2019-03-05 02:37] topecongiro opened #58928 "`use rustfmt;` or `use clippy;` does not trigger unresolved import in 2018 edition"
Given the following test.rs,
[code]

running `rustc --edition 2015 test.rs` gives the following output:

[code]

however running `rustc --edition 2018 test.rs` does not trigger an unresolved import error:

[code]

which seems strange to me. Tested with the following versions:

[code]

[2019-03-05 02:38] topecongiro commented on #58928
The same thing applies to `use clippy;` as well, so it seems to be related to the `tool_attributes` feature.

[2019-03-05 03:57] grandopener commented on #47168
I think it's worth pointing out that if there is no recommendation, the first thing someone who encounters this problem is going to do is Google their way out of it.  For me, that results in a Stackoverflow post advising the use of `as`.  Letting the compiler recommend `as` with a warning seems like a friendlier path to the same result, and better acclimates people to reading the recommendations f

[2019-03-05 04:15] Matthias247 opened #58930 "async/await produces unspecific "type inside generator must be known in this context" error messages"
While trying to write async/await code I encountered lots of error messages with the description

The error is typically displayed at the callsite of the async function, and it's often very unclear what the actual error is. It often seems like the message might be a compiler bug, but I could either find a bug in my code later on or solve it by moving/refactoring things. However it's a bit frustrat

[2019-03-05 06:44] petrochenkov commented on #58928
Exactly, the imports refer to "tool modules".
The edition difference is due to uniform paths  - "uniform" means that `rustfmt` is resolved in the same way in `#[rustfmt::skip]` and in `use rustfmt;`.
So, this works as expected.

[2019-03-05 06:47] petrochenkov commented on #58928
You can also use a tool attribute in non-attribute context and see what happens:
[code]

[2019-03-05 06:48] sebcrozet commented on #58922
We already fixed this on ncollide. The fix required a breaking change so it was released as ncollide 0.18.
And the ncollide-geometry crate is no longer maintained.

[2019-03-05 06:59] Centril commented on #50512
@Amanieu & @withoutboats: Since you have expressed doubts, can you confirm that you are OK with moving forward with this?

[2019-03-05 07:53] taigua opened #58932 "The Dijkstra's algorithm example in BinaryHeap doc may be wrong?"
https://doc.rust-lang.org/std/collections/binary_heap/

The BinaryHeap doc gave an example that implements Dijkstra's algorithm to solve the shortest path problem on a directed graph. But I found there is a little problem with the implementation.

[code]
Watch this line:
[code]
In the while loop, it returns when encounter goal. But I think it shouldn't return here. There may exists shorter path th

[2019-03-05 08:09] #58932 closed

[2019-03-05 08:44] leonardo-m commented on #47168
"as" doesn't perform overflow tests at run-time in debug builds, so its usage should be minimized and not advised.

[2019-03-05 09:11] stjepang commented on #27800
I published a blog post titled *[Proposal: New channels for Rust's standard library](https://stjepang.github.io/2019/03/02/new-channels.html)* discussing what to do with channels in the standard library.

How should we proceed about resolving this issue?

Bug #39364 is still present, which @stepancheg attempted to fix in PR #42883 but got stuck waiting on removal of `mpsc_select`. Perhaps now is a

[2019-03-05 09:33] SimonSapin commented on #27800
Oh I didn’t realize there was already work blocked on the removal of selection. If you want to send a removal PR feel free to ping me for review. We’re already good to go process-wise.

Replacing the internals of `std::sync::mpsc` and/or deprecating it is also interesting, but not relevant to this issue. It should probably be discussed on internals.rlo and then turned into an RFC.

[2019-03-05 09:44] SimonSapin commented on #57288
As far as I understand this issue applies to the `test` and `proc_macro` crates, independently of `#![no_std]`. I’ve edited the issue description accordingly.

[2019-03-05 09:45] pietroalbini commented on #58922
cc @rust-lang/libs

[2019-03-05 09:53] mati865 commented on #54615
I think it's an issue with rustup proxies:
[code]

[2019-03-05 09:54] stjepang commented on #27800
@stepancheg Would you be interested in giving PR #42883 another shot and removing selection along the way?

For followers of this thread, here's the the last [status report](https://github.com/rust-lang/rust/issues/39364#issuecomment-409622394) on the bug fix.

[2019-03-05 09:56] SimonSapin commented on #58922
This sounds like business as usual when adding / stabilizing new methods on existing standard library types, and upstream already has a work-around. So I’m inclined to close this with no change.

[2019-03-05 10:02] oli-obk commented on #44285
we now have the @rust-lang/wg-mir-opt working group. @spastorino is currently remodelling `mir::Place` as described in https://paper.dropbox.com/doc/Place-2.0-current-PR-status--AYpEHnZVlMVhug5z7XDxiqgbAg-vmbnFv8VkCEuL57QfWWMH

[2019-03-05 10:10] Havvy commented on #51545
This looks like a duplicate of #21906.

[2019-03-05 10:10] Havvy commented on #54663
This looks like a duplicate of #21906. If not, it's a duplicate of #51545.

[2019-03-05 10:11] Havvy commented on #58910
This looks like a duplicate of #21906. If not, it's a duplicate of #51545.

[2019-03-05 10:47] SimonSapin opened #58935 "Tracking issue for `alloc::prelude`"
Its stability was separated from that of the `alloc` crate in https://github.com/rust-lang/rust/pull/58933.

CC https://github.com/rust-lang/rfcs/pull/2480

[2019-03-05 11:59] oli-obk commented on #58610
I'm guessing this is another case of the promotion bug that will be fixed by https://github.com/rust-lang/rust/pull/58784

[2019-03-05 12:18] Centril commented on #58928
Closing per @petrochenkov's notes.

[2019-03-05 12:18] #58928 closed

[2019-03-05 12:18] #58922 closed

[2019-03-05 12:34] pnkfelix commented on #58684
I spent some time narrowing this down to a smaller test case.

I did the narrowing by first cut-and-pasting the `arraydeque` code as a submodule of the crate, and then trimming as much as I could out of that `arraydeque` submodule.

But now that I have something plausible, I'm worried that I may have narrowed it too much. (That, or exposed some fundamental unsoundness in the original code.)

For r

[2019-03-05 12:47] pnkfelix commented on #58684
Hmm. Based on stepping through the execution of `local::LocalKey::with` (&rightarrow; `try_with` &rightarrow; `init`), I wonder if somehow the use of `mem::uninitialized` is creating a value that looks like the tag that is used to represent `Option::None` in the thread local's instance of `GM`, and thus its tickling this code here:

https://github.com/rust-lang/rust/blob/f22dca0a1bef4141e75326caac

[2019-03-05 12:59] oli-obk commented on #58684
Here's a smaller, self-contained example not using thread locals: https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=09537cc61a99276e4bace501fd9eb59f. I can't test it against miri, because miri immediately bails out on the `mem::uninitialized()`

[2019-03-05 13:01] pnkfelix commented on #58684
Yeah at this point I'm assuming that `unintialized` is filling in the `Rc::ptr` field (which is `NonNull`) with a `null`, and that then is treated as an `Option::None` in the `thread/local.rs` code I quoted earlier.

My question now is: Which component in the original composition of crates is at fault here?

[2019-03-05 13:04] oli-obk commented on #58684
When changing it to support miri (by using a union instead of `mem::uninitialized`), it works again: https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=ccc12441024623d4895720b4a11f5c9b

My immediate reaction (as conditioned by @RalfJung) is to say `mem::uninitalized` is at fault, and miri agrees (I'm aware this is a kind of circular reasoning).

[2019-03-05 13:25] nagisa commented on #58684
`ManuallyDrop` is not `MaybeUninit` and therefore must contain valid data. See https://github.com/rust-lang/rust/pull/58780.

[2019-03-05 13:26] pnkfelix commented on #58684
@oli-obk has convinced me that this is not a problem in our std library; it arises because the `arraydeque` is misusing `mem::uninitialized`.

[2019-03-05 13:28] #58684 closed

[2019-03-05 13:50] editicalu opened #58937 "rustc (nightly) unexpected panic on librustc_errors"
# Code
[code]

# Backtrace
[code]
# System information
[code]
[code]

[2019-03-05 14:17] emilio commented on #58881
Ok, I tried to figure out why it wasn't reproducing outside of the build system, and manage to get some STR:

[code]

[2019-03-05 14:24] jonas-schievink commented on #58937
Duplicate of https://github.com/rust-lang/rust/issues/58811

[2019-03-05 14:24] #58937 closed

[2019-03-05 14:38] emilio commented on #58881
v0.5.1 works, v0.5.0 does not.

https://github.com/djg/cubeb-rs/compare/98f5a8b4..d18f114f

cc @djg

[2019-03-05 14:41] emilio commented on #58881
Well, the `cubeb_log!` macro is used in the borked `update_collection` function, so that's something. I'll try to reduce it further.

[2019-03-05 14:58] emilio commented on #58881
Ok, this test-case crashes for me:

[code]

The code is completely unsound of course... Passing a static string into a C variadic function makes no sense. Maybe rustc should warn about that?

[2019-03-05 15:12] emilio commented on #58881
This is the most reduced thing I could come up width;

[code]

[2019-03-05 15:14] pnkfelix commented on #57979
@Centril current pre-disposition of compiler team is to go ahead and backport to beta; see https://github.com/rust-lang/rust/pull/58608#issuecomment-468319994

But we haven't "finalized" that decision; we decided to leave the PR open a week to give people a chance to object asynchronously to the backport.

So, @Centril, are you actually objecting to a backport of PR #58608 ?

[2019-03-05 15:26] pnkfelix commented on #44933
(I am debating about whether the I-hang label applies here. In my head, stack overflow errors are usually just the result of hangs being caught via very crude means...)

[2019-03-05 15:26] Centril commented on #57979
@pnkfelix Yep; I think it is of little value to make things a hard error and then a warning again and I also think the chance of this occurring in the wild is low due to the inference problems per your notes.

[2019-03-05 15:29] pnkfelix commented on #44933
Interestingly, the overflow here doesn't trigger an ICE?

[2019-03-05 15:37] wzssyqa commented on #52666
#58941

[2019-03-05 15:40] rom1v opened #58942 "Does not fail on multiple methods definition"
This obviously fails to compile:
[code]
[code]

But this does not:
[code]
unless you use it:
[code]
[code]

I think it should fail even when we don't use the duplicate function.

[2019-03-05 15:41] alexcrichton commented on #58881
Thanks for the reduction @emilio! I can indeed also reproduce with:

[code]

I'm gonna cc @rust-lang/compiler on this because this actually looks more like a codegen bug on our end than an LLVM bug, and LLVM may have just added more validation or something like that.

[2019-03-05 15:46] emilio commented on #58881
Yeah, that sounds right. Thanks for taking a look Alex!

FWIW, I worked around the bug in Firefox in https://bugzilla.mozilla.org/show_bug.cgi?id=1532645 (by updating the dependency to one that doesn't have the unsound code), so this is no longer blocking anyone, hopefully.

[2019-03-05 15:50] nagisa commented on #58881
looks like bad cidegen to me. dereferenceable attribute is put on an
argumant that has a non-pointer type. As other arguments have no attributes
at all i suspect that we end up setting attributes intended for other
arguments onto the last one.

On Tue, Mar 5, 2019, 17:44 Alex Crichton <notifications@github.com> wrote:

[2019-03-05 16:26] nox commented on #58822
`derive` attributes can only be put on the type but the same people than the ones who control the `deprecated` attribute, so I don't see how that's technically correct. Derives should only ever generate a `deprecated` warning if the trait they derive is deprecated, never because of the type's deprecatedness.

[2019-03-05 16:26] pinconquentin opened #58943 "Memory not freed on container of allocated objects on recent compilers"
Hello,

Here is a sample code, simply filling a Vec by Vecs of integer.

[code]
With recent versions of rustc (> 1.31), the allocated memory seems to not be freed from the system at the end of the test function, as top displays a memory usage of ~300Mo, which is coherent with the memory used by this sample code.

With lower versions of rustc (I used 1.30 and 1.31), this problem does not appear (th

[2019-03-05 16:30] asajeffrey commented on #58822
Just hit this in servo...
[code]
Caused by deprecating a field in a struct.

[2019-03-05 16:45] flier opened #58944 "internal compiler error when evaluate trait associated constants"
<short summary of the bug>

I tried this code:

[code]

I expected to see this happen: `ALIGNMENT` can be used as a constant

Instead, this happened: `rustc` crashed at src/librustc_traits/normalize_erasing_regions.rs:43: could not fully normalize `fn() -> usize {std::mem::size_of::<<bits::LittenEndianUnaligned<T> as bits::MemoryModel>::Item>}`

## Meta

`rustc --version --verbose`:
[code]
Backtra

[2019-03-05 16:49] Centril commented on #58942
cc @petrochenkov

This compiles all the way back to 1.0.0 (tested with godbolt).

[2019-03-05 16:52] Centril commented on #58944
cc @oli-obk @RalfJung

[2019-03-05 16:54] RalfJung commented on #58907
There is indeed a change in behavior, but not the way you suggest: behavior only changed for the case of a machine with exactly 1 core. Previously, it would spawn a thread per test and then basically immediately wait on that thread to finish; now instead it runs the tests in the main thread directly. There is no thread pool.

[2019-03-05 16:55] jonas-schievink commented on #58943
This is exactly what happens. Generally Rust cannot guarantee anything about the allocator's behaviour in this regard (when and how it does caching like this), so this isn't considered a bug.

You can switch back to jemalloc using [jemallocator](https://github.com/gnzlbg/jemallocator) if it behaves better for your application.

Closing since this is an expected consequence of the switch to the sys

[2019-03-05 16:55] #58943 closed

[2019-03-05 16:56] nikomatsakis commented on #53548
I'm marking this issue as **blocking** the async-await stabilization -- if nothing else, we need to investigate it and figure out what is going on.

[2019-03-05 16:57] asomers commented on #58907
Perhaps there are two relevant PRs, because I absolutely do see thread-pool-like behavior.  Just run `strace -e clone cargo test` on an n-core system, on almost any crate, for n > 1.  With Rust and Cargo 1.33.0 there will be n clones.  With older Rust there will be one clone per test.

[2019-03-05 16:57] nikomatsakis commented on #54326
We decided that this bug is **not blocking** stabilization; confusing though it may be, it's not a severe enough "diagnostic fail" to block stabilization.

[2019-03-05 17:00] nikomatsakis commented on #54326
Nonetheless, I've tagged this with E-needs-mentor because it seems eminently fixable, even if not a **blocker**.

[2019-03-05 17:02] bmmoore commented on #56371
@bstrie Where is that policy stated? It would really be quite useful to have rustc promise to be LTO-compatible with a release version of LLVM, or at least ship such a rustc.

[2019-03-05 17:02] petrochenkov commented on #58942
Ugh, `fn check_for_common_items_in_impls` compares `Ident`s (which are not equal if they come from different macros).

I would actually check the intermediate versions of Rust between 1.0 and 1.33, IIRC this error should be impossible in some version range due to how identifiers worked back then.

Slightly more minimized reproduction:
[code]

[2019-03-05 17:08] nikomatsakis commented on #54716
Marking this as **blocking** stabilization of async-await. Obviously, changing the semantics here would alter the semantics of stable code. Moreover, there's a good case to be made that the current semantics are **incorrect**. @cramertj and I (along with a few others) [discussed this in a recent meeting](https://youtu.be/xe2_whJWBC0?t=1820). Our conclusion was that  we effectively wanted a desugar

[2019-03-05 17:09] RalfJung commented on #58907
Ah yes, indeed it's not about the number of cores but the concurrency level -- which defaults to the number of cores.

[2019-03-05 17:10] nikomatsakis commented on #54974
Tagging as **blocking** -- this issue ought to be resolved before async-await can be stabilized, because it is generally surprising and kind of a bug. However, we expect it to get fixed by fixing https://github.com/rust-lang/rust/issues/56238 (see that issue for notes as to why).

[2019-03-05 17:10] nikomatsakis commented on #54716
Tagging as E-needs-mentor as we need to write up some notes on how to alter the desugaring here. One bit I can see being complex is that the HIR presently has no way to "name" a parameter apart from entering a pattern.

[2019-03-05 17:15] oli-obk commented on #58944
Minimal repro:

[code]

This is already fixed in beta according to the playground.

[2019-03-05 17:20] antoinep92 commented on #58943
True (and also true for most programming languages). The exact interaction with the OS is undefined behavior. But, if rust chose to ship and use jemalloc by default, it proves that even if there are no guarantees, there is some interest to optimizing that.

In this spirit it seems interesting to note a regression in the default behavior introduced with rust 1.32. For one of our services, this tran

[2019-03-05 17:22] magnet opened #58945 "internal compiler error: Trying to create type name for unexpected type [debuginfo]"
I get this ICE since `nightly-2019-03-03` (until `nightly-2019-03-05`, i.e today's nightly). I can't test on earlier nightlies due to compilation errors on 3rd party crates *but* the same unchanged code worked fine on nightlies from early February (the only differences are updates to `tokio` and `futures-preview` to adapt to recent changes to the task API).

`mysql_async` is from the `mysql_async`

[2019-03-05 17:26] jonas-schievink commented on #58943
Yes, the global allocator can be swapped out, and alongside jemallocator there's a few community crates that provide either fully custom allocators or instrumentation around the existing allocator. Feel free to explore that and provide your own if you want!

[2019-03-05 17:27] Centril commented on #58944
@oli-obk Do we want to add a test case for this or is the existing one enough?

[2019-03-05 17:31] jonas-schievink commented on #58945
Are you saying this happens when compiling `mysql_async`, or is this happening in another codebase? Are you using async/await?

cc @Nemo157, this might be related to https://github.com/rust-lang/rust/issues/58888

[2019-03-05 17:34] magnet commented on #58945
That happens with another codebase using `mysql_async`. I am using async/await though I am not sure it's related here.
Since it's a debuginfo issue, there's no ICE when compiling with `--release`. When doing so, I fallback to the same compilation errors that happen with `nightly-2019-03-02`. It would seem the ICE results from commits between `nightly-2019-03-02` and `nightly-2019-03-03`.

[2019-03-05 17:41] luser commented on #57632
Note that the Firefox build pipes the output of the actual build tool, so cargo's stdout/stderr will be a pipe, but I still wouldn't expect that to cause this error.

[2019-03-05 17:44] nikomatsakis commented on #55809
@eminence good point, I don't remember anymore =)

[2019-03-05 17:45] nikomatsakis commented on #55809
Marking as **blocking** -- we should be trying to figure out what is happening here, at least, and deciding whether to block on it.

[2019-03-05 17:46] nikomatsakis commented on #55324
Tagging as **blocking** -- this issue ought to be resolved before async-await can be stabilized, because it is generally surprising and kind of a bug. However, we expect it to get fixed by fixing https://github.com/rust-lang/rust/issues/56238 (see that issue for notes as to why).

[2019-03-05 17:53] nikomatsakis commented on #56238
Marking as a **blocker**. We spent quite a lot of time discussing how to fix this ([recorded here](https://youtu.be/xe2_whJWBC0)). The short version is that we will alter the desugaring of `async fn` to capture all the lifetimes that appear in the inputs and so forth. [Some notes here](https://paper.dropbox.com/doc/2019.02.26-impl-discussion-notes--AYvDf8E0F_zb8PiZinRCav4JAg-5v4Q2n9cRn2KYgVyWMphQ#

[2019-03-05 17:57] nikomatsakis commented on #56767
Marking as **not blocking** for stabilization. Obviously we want things to work from core eventually, but it's ok if that doesn't work to start. Moreover, the **major** blocker here is resolving how generator arguments should work -- once that works, it seems clear that we'll be able to solve this.

[2019-03-05 17:58] nikomatsakis commented on #56974
Closing as duplicate of https://github.com/rust-lang/rust/issues/56974.

[2019-03-05 17:58] nikomatsakis commented on #56974
Actually, perhaps this is not entirely a duplicate. Regardless, marking as non-blocking.

[2019-03-05 17:59] nikomatsakis commented on #56974
Marking as **not blocking stabilization** -- obviously we want things to work from core eventually, but it's ok if that doesn't work to start, and I don't believe there are any major design questions at play here (right @cramertj?)

[2019-03-05 18:04] o01eg commented on #58587
Looks like it mostly breaks builds with multiple `build.target`.

[2019-03-05 18:07] nikomatsakis commented on #58885
Tagging as **blocking** -- this issue ought to be resolved before async-await can be stabilized, because it is generally surprising and kind of a bug. However, we expect it to get fixed by fixing https://github.com/rust-lang/rust/issues/56238 (see that issue for notes as to why).

[2019-03-05 18:08] nikomatsakis commented on #57640
Marking this issue as **blocking** for async-await stabilization, at least for the time being.

[2019-03-05 18:12] nikomatsakis commented on #52924
Marking as **blocking** for async/await stabilization. This may be too strong, but this issue certainly prevents us from having the performant sort of futures that we want.

@cramertj had advocated for a simple strategy, [vaguely described here](https://paper.dropbox.com/doc/2019.02.26-impl-discussion-notes--AYvDf8E0F_zb8PiZinRCav4JAg-5v4Q2n9cRn2KYgVyWMphQ#:uid=183911975206456670115188&h2=huge-gen

[2019-03-05 18:15] ckaran commented on #58375
@jethrogb Here is what I have.  Note that I ran `git clean -xdf` to get rid of all generated files before running any of these commands, so they are as clean as I can make them.  If you want me to use some other commands, please give me the exact commands, and I can run them for you.

[code]
 # Meta

[code]

[2019-03-05 18:21] jethrogb commented on #58375
@ckaran I was hoping running tarpaulin verbosely would provide some more info, but unfortunately it doesn't really... Can you provide instructions on how to reproduce (including tarpaulin install) on a clean system, or docker container, or something like that?

[2019-03-05 18:22] nikomatsakis commented on #52924
[Discussed some on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187312-t-compiler.2Fwg-async-await/topic/meeting.202019.2E03.2E05/near/160025573)

[2019-03-05 18:31] nikomatsakis commented on #57017
Marking this as **deferred** -- the problem here ([discussed here on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187312-t-compiler.2Fwg-async-await/topic/generators.20and.20data.20across.20yields)) has to do with how we use an "overapproximation" to decide what data may be inside a generator, at least initially. This is based on the HIR. Only later do we get more precise results when gen

[2019-03-05 18:32] nikomatsakis commented on #58639
Er, I'm going to close this issue, since it's (at least at present) expected behavior, and it's also not particularly related to async-await.

[2019-03-05 18:32] #58639 closed

[2019-03-05 18:33] oli-obk commented on #58944
I have no idea what fixed it. I assume it was an ICE that was fixed, and usually those get a regression test case, too. Not sure if the effort required to pinpoint the fix-PR is worth it

[2019-03-05 18:35] nikomatsakis commented on #55809
Assigning to myself to try and do some investigation.

[2019-03-05 18:39] nikomatsakis commented on #58888
Marking as **blocking** for stabilization; @Nemo157 has a fix in #58906

[2019-03-05 18:40] nikomatsakis commented on #58945
@Nemo157 this looks *vaguely* similar to https://github.com/rust-lang/rust/issues/58888, any chance that your fix might apply here? Can you easily test?

[2019-03-05 18:45] nikomatsakis commented on #58945
I'm marking this as **Blocking** -- it seems like it could be pretty bad. If @Nemo157's PR fixes it, great! If not, we should try to reduce this to a standalone example or at least try to understand what's going on here.

[2019-03-05 18:49] nikomatsakis commented on #58884
The problem here is because of the signature:

[code]

This signature is too strong -- it forces the compiler to assume that when you call `read_single`, it may continue using `*ctx` for the remainder of `'a`. (This is because the `'a` appears *under* the `mut` qualifier, making it invariant.) The signature that we need is really:

[code]

but I think this will cause problems because of the errors

[2019-03-05 18:49] #58884 closed

[2019-03-05 18:54] magnet commented on #58945
For the record I fixed the unrelated compilation errors and confirm my code builds (and runs fine!) with `nightly-2019-03-02`. The ICE starts at `nightly-2019-03-03`.

[2019-03-05 18:58] nikomatsakis commented on #58945
@magnet if you are able to bisect with [cargo-bisect-rustc](https://github.com/rust-lang-nursery/cargo-bisect-rustc), that'd be great!

[2019-03-05 18:58] magnet commented on #58945
@nikomatsakis Cool, I will try! :)

[2019-03-05 18:59] nikomatsakis commented on #58945
In particular, that should be able to narrow it down to a PR

[2019-03-05 18:59] Centril commented on #58944
My interpretation of what you said is that adding a new test case is unnecessary so I'll go ahead and close the issue for now as resolved.

[2019-03-05 18:59] #58944 closed

[2019-03-05 19:00] nikomatsakis commented on #57084
Marking as **blocking** but it seems like @gilescope is all over this

[2019-03-05 19:01] nikomatsakis commented on #58930
Marking as **blocking**. @gilescope is going to try and do some investigation.

[2019-03-05 19:46] acfoltzer commented on #58037
Thinking about this issue some more, and the constant need to be adding `--export-dynamic` to `RUSTFLAGS`, I'm coming around to the idea that we need the ability to mark extern fns and statics as "always exported". This would both address this issue, and prevent all the downsides that come with using `RUSTFLAGS`. Is this something where I should propose an RFC, or is there another forum to discuss

[2019-03-05 19:47] grandopener commented on #47168
Sorry in advance if this seems argumentative or is rehashing old topics, but I'm new here and don't fully understand the advice.  Per @estebank above,

If `as` is not the proper way to explicitly truncate a (potentially) larger type to a smaller type, what is?  I am new here, but to my eyes, typing out `as` is an explicit acknowledgement that you might truncate (and want to, in the case where it's

[2019-03-05 19:49] Zoxc commented on #58930
I'd look into reusing the code which emits the `E0282` error to also emit the error for when a type is required in the generator.

[2019-03-05 19:50] euclio commented on #55335
This is caused by https://github.com/rust-lang/rust/issues/45216. The suggestion is correct if the derive attribute is replaced by `#[allow(warnings)]`.

[2019-03-05 20:03] anyusernameworks commented on #41620
What if we only care about positive float values?

[2019-03-05 20:10] euclio commented on #44995
cc #45216.

[2019-03-05 20:14] petrochenkov commented on #58942
Fixed in https://github.com/rust-lang/rust/pull/58948

[2019-03-05 20:20] petrochenkov commented on #58942
The regression was introduced in Rust 1.29, the error was reported before that.
(This case *became* an error in Rust 1.18 after a long deprecation lint period.)

[2019-03-05 21:27] tbu- commented on #51443
How should I deal with that warning?

Does it only trigger if I create a trait object or otherwise interact with `dyn Trait`? I think I'm doing neither but the warning still triggers.

[2019-03-05 22:00] Centril opened #58951 "ICE with `#![feature(existential_type)]` + closure"
Encountered this when working on test cases for an RFC:
[code]
cc @oli-obk

This seems related to other issues.

[2019-03-05 22:12] dekellum commented on #58886
Thanks for reporting this and fixing, with tests! This can be a bit disconcerting if you dev on nightly, but target some stable (which will then fail to build):  dekellum/body-image@dc78182b66

[2019-03-05 22:20] Thinkofname opened #58952 "reached the type-length limit while instantiating"
I started to get the following error with my nightly builds around two days ago:
[code]
Using `cargo-bisect-rustc` I got the following commit https://github.com/rust-lang/rust/commit/f565cdd6144a72dc81032081d7790f38a4af26b8 and after building rustc manually I got down to this https://github.com/rust-lang/rust/pull/58730 PR.

After poking around my project I found the `keys` method in here https://

[2019-03-05 22:20] cramertj commented on #52924
I think @tmandry is intending to work on this?

[2019-03-05 22:22] cramertj commented on #56974
Yup-- this is an unfortunate restriction, but I think it's not a blocker for an MVP and resolving it requires some more complex investigation into generator arguments + some special-sauce :)

[2019-03-05 22:35] magnet commented on #58945
searched toolchains f3730f9b875b068e29b7e295b7eafd0f4e8c257d through 7dbba3d03c5d3e9fdb96556eac1be49449c41edc
regression in 9cfed5da12bf65212eb9a4ae9141c2f39f995381

[2019-03-05 22:40] Nemo157 commented on #58945
This looks like it should be fixed by #58906 as well then.

[2019-03-05 23:11] MacConsoli opened #58954 "Unexpected panic in rustc at missing `=` in the `-Z unpretty=` variants"
rustc panics at missing `=` in the argument, as in `-Z unpretty=flowgraph` or `-Z unpretty=flowgraph,unlabelled`.

## Meta
[code]

## Backtrace
[code]
`example.rs`:
[code]
---
An appropriate error is given if there is no `main` function or when used as `rustc +nightly -Z unpretty=flowgraph= example.rs`.

Running `rustc +nightly -Z unpretty=flowgraph,unlabelled example.rs` results in the same panic

[2019-03-05 23:13] Dylan-DPC opened #58955 "cannot infer lifetime for type_id"
from a crater run:
[code]

crate affected: data-buffer
Owner: @elrnv
Log:
https://crater-reports.s3.amazonaws.com/beta-1.34-1/beta-2019-02-27/reg/data-buffer-0.4.3/log.txt

[2019-03-05 23:15] Dylan-DPC commented on #58955
cc @rust-lang/libs

[2019-03-05 23:15] Centril opened #58956 "ICE with `impl_trait_in_bindings` when `Wrap`ped"
cc @alexreg @nikomatsakis

While writing test cases:

[code]

Produces:

[code]

Possibly dupe of https://github.com/rust-lang/rust/issues/54600.

[2019-03-05 23:16] elrnv commented on #58955
Thanks for reporting! This should be fixed in data-buffer 0.5, which I published just an hour ago or so.  Since I used `type_id` in the api, it was a breaking change.

[2019-03-05 23:32] alexcrichton commented on #58955
Reduced I believe this looks like:

[code]

Today this [compiles on stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=eeb5ed38bc2f9505853877442d9ba64a) but it [fails to compile on beta](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=eeb5ed38bc2f9505853877442d9ba64a).

The cause of this is almost certainly https://github.com/rust-lang/rust/pull/5

[2019-03-05 23:56] estebank commented on #58088
Duplicate of #21934. CC @pnkfelix as per our conversation in the all-hands, this is something tangential to other things you'll be tackling. I know that this won't happen in the short term, but would you be able to spare cycles to help mentor someone to do the work needed for this when you do start making the changes needed to enable this?

[2019-03-05 23:56] #58088 closed

[2019-03-05 23:59] Mark-Simulacrum commented on #58907
Nominating for libs team -- I expect we'll probably want to not change anything here since the new behavior seems strictly better. However, as a regression, we should discuss.

[2019-03-06 00:21] asomers commented on #58907
I agree that the new behavior is better; Nix shouldn't have been relying on the old behavior.  I just think that the new behavior should've been mentioned in the release notes.

[2019-03-06 00:22] Mark-Simulacrum commented on #58907
Yep, we missed it when compiling the release notes. If you'd like to propose a PR to master with this added to 1.33.0's notes that'd be appreciated!

[2019-03-06 00:27] cuviper opened #58957 "Tracking issue for slice::IterMut::as_slice and vec::Drain::as_slice"
This issue tracks stabilization for 2 methods added in #58924:
- `core::slice::IterMut::as_slice`
- `alloc::vec::Drain::as_slice`

[2019-03-06 00:32] alexreg commented on #58956
Ugh, I really wish people would ignore that feature for now. It’s becoming the new generic-associated-types. It will be completely overhauled when I can finally get around to it, maybe in 2 weeks.

[2019-03-06 00:32] chinedufn opened #58958 "Incorrect span columns for `<` open angle bracket symbol"
This might be an issue for other tokens as well, I just ran into it for `<` open angle bracket.

The spans for the `<` token have incorrect columns. They appear to be one less than what the real value should be.

I've reproduced the issue [in a minimal repository on GitHub](https://github.com/chinedufn/rustc-span-error).

[code]

I'll paste the code below since it's short:

src/lib.rs

[code]

pro

[2019-03-06 00:33] Centril commented on #58956
@alexreg Consider it a test case written for you... ;)

[2019-03-06 01:49] alexreg commented on #58956
@Centril Haha, fair!

[2019-03-06 02:15] dtolnay commented on #58958
I think the compiler is correct here. In your standalone repo, the assertion that is failing is the following one (not the one you commented):

[code]

because the end of ABC is in column 3.

[code]

`ABC` goes from 0 to 3, `<` goes from 3 to 4.

In https://github.com/alexcrichton/proc-macro2/pull/166#issuecomment-469893084:

[code]

`Tag` goes from 33 to 36, `<` goes from 37 to 38.

FYI @alexcric

[2019-03-06 02:32] chinedufn commented on #58958
Ahhh sorry I misunderstood how columns worked. Thanks so much!

[2019-03-06 02:32] #58958 closed

[2019-03-06 02:48] Jon-Davis opened #58960 "Crash on Implementing !Trait, Not Trait: thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src\libcore\option.rs:345:21"
So this probably isn't valid Rust code but it did crash the compiler rather then sending me a warning so I thought I'd at least file a bug. I have a struct Wrapper\<T\> and a trait Releasable, I wanted to implement Releasable on Wrapper in the cases where T implemented Releasable, and in the case where T did not implement !Releasable. Im not sure if this is even valid rust code although I did noti

[2019-03-06 02:53] estebank commented on #58960
Will be fixed by #58861. Duplicate of #58857.

[2019-03-06 02:53] #58960 closed

[2019-03-06 03:23] joshlf commented on #58822
Just hit this in Mundane too. We `#![deny(warnings)]`, so it causes compilation failure.

[code]

[2019-03-06 03:23] nipunn1313 opened #58962 "Parsing bug in 02/22 nightly"
Haven't confirmed if it has been fixed since 02/22

[code]

Seems to only repro inside an inner mod.

Here's a link to a repro
https://github.com/nipunn1313/rustc_parser_bug

[2019-03-06 03:56] Zoxc opened #58964 "error[E0275]: overflow evaluating the requirement is too verbose"
An example from the test suite `src/test/ui/issues/issue-20413.rs`:
[code]

Produces the following output:
[code]

[2019-03-06 04:06] Zoxc opened #58965 "Parallel execution may result in duplicate error messages"
When executing parallel blocks we'll reveal more error messages because we don't immediately stop at the first fatal one. This may lead to duplicate error messages however. For example  `src/test/ui/issues/issue-21946.rs` the from test suite:
[code]

Produces:
[code]

We should look into deduplicating these error messages.

[2019-03-06 06:08] estebank commented on #58962
Introduced in #57944. Will be fixed in #58903. Duplicate of #58886.

[2019-03-06 06:08] #58962 closed

[2019-03-06 06:12] Manishearth commented on #48683
Profile overrides were implemented in https://github.com/rust-lang/cargo/pull/5384

Config profiles were implemented in https://github.com/rust-lang/cargo/pull/5506

We should figure out what the path to stabilization is.

[2019-03-06 06:19] nipunn1313 commented on #58962
Thanks! #57944 looks pretty great. Especially given the test case on the fix https://github.com/rust-lang/rust/pull/58903/files#diff-44324609d226c76463a9b78f62aba74d !!

[2019-03-06 08:34] arniu commented on #50512
@Milack27 @Centril Isn't it what `Option::or` does?

[2019-03-06 09:00] michaelwoerister opened #58967 "Tracking Issue for `self-profile` minimum viable product"
**Goals** for the first usable iteration of `-Zself-profile` are:

- Make the compiler track query invocations and other important function calls (e.g. LLVM related)
  - This means tracking the query/function name (no query keys, arguments yet)
- Reduce the overhead of tracking and profile generation as to not be prohibitive
  - This means emitting events in an optimized binary format
- Write a po

[2019-03-06 09:14] fiso commented on #40269
The use-case for this seems incredibly clear. Am I understanding you all correctly when I interpret the counter-point as being that the meaning of the `_`-symbol would become less clear and coherent? If so then could the problem just be solved by using an alternative syntax?

How about simply:

[code]

Or alternatively, introduce a new symbol that carries no problematic baggage and use that in pla

[2019-03-06 09:55] moriyas1984 commented on #38570
Any update?

I also need some directions to cross-compile to ARMv6 from Ubuntu.

Regards.

[2019-03-06 10:07] moriyas1984 commented on #38570
Sorry, I have understood how to use it.

https://github.com/BurntSushi/ripgrep/issues/676#issuecomment-374058198

This comment told me how I should specify the linker in raspberrypi/tools.

Thank you.

[2019-03-06 10:33] sanxiyn commented on #56888
This continued to be a problem with 1.32.0: https://alioth-lists.debian.net/pipermail/pkg-rust-maintainers/2019-January/004844.html

[2019-03-06 10:53] JCapucho opened #58968 "Compiler bad error message"
I tried this code:
[code]

And was expecting to get an error message something like:

[code]

Instead i got an misleading error:

[code]

[2019-03-06 11:48] Centril commented on #51476
Ping @Kimundi @sfackler @withoutboats :)

[2019-03-06 12:14] athre0z commented on #48515
Would you mind sharing that workaround @joshlf?

[2019-03-06 12:20] nagisa commented on #56888
cc @rust-lang/compiler would be nice to have compiler compilation to fit within 2G or something.

[2019-03-06 13:21] michaelwoerister commented on #56888
Reducing the amount of parallelism in LLVM might help. I think `-Zno_parallel_llvm` would have the effect of never having more than one LLVM module in memory at a time (at least when not using ThinLTO).

[2019-03-06 13:28] bjorn3 opened #58969 "Compiling libcore with -Zlower-128bit-ops broken"
[code]

The u128 lang items are only defined in `compiler_builtins`.

[2019-03-06 14:16] pnkfelix commented on #58499
I'm having difficulty reproducing the problem.

The issue description says that the problem arises on nightly, not stable; but the meta-information presented seems to describe a version of the compiler from the stable channel, not nightly.

I have built the crate successfully against several versions of nightly; all of them compile successfully.

@bsoptei , did you change the source code of the cr

[2019-03-06 14:19] pnkfelix commented on #58499
(its also possible that this problem is somehow connected to reuse of previous build artifacts, which is another factor that can hinder reproduction.)

[2019-03-06 14:41] lqd commented on #57374
As mentioned on Zulip, I have made some progress here (and have notes from the exploratory analysis), but will need some guidance to continue, so unassigning myself until then.

[2019-03-06 14:45] galich opened #58971 "compiler panic"
Nightly compiler started to panic today

[code]

[2019-03-06 15:02] raphaelcohn commented on #43467
I've been trying to use `extern type` to model some variably-sized data that needs to co-operate with a C API.

I've come across an issue where I'd like to define a method which involves casting from various raw pointers, come of which are Sized and some of which are `extern type`. In trying to make the code common, I need to use `T: ?Sized`, but that then creates a problem, as it 'pulls in' all t

[2019-03-06 15:22] jonas-schievink commented on #58971
Duplicate of https://github.com/rust-lang/rust/issues/58888

[2019-03-06 15:22] #58971 closed

[2019-03-06 15:38] pnkfelix commented on #54105
NLL-triage. Marking P-medium.

[2019-03-06 15:49] pnkfelix commented on #57376
NLL triage. Tagging as P-medium, just like #49434.

[2019-03-06 15:52] alexreg commented on #43467
@raphaelcohn I believe the plan is to add a `DynSized`, so you could use `T: DynSized` to include basically all types except extern types. See https://github.com/rust-lang/rfcs/issues/2255 for more info. I'm not the most knowledgeable about this though.

[2019-03-06 15:55] pnkfelix commented on #57700
NLL triage. P-high, assigning to self for initial investigation.

[2019-03-06 15:56] pnkfelix commented on #53598
hey @oli-obk, have you had a chance to look into this yet? Do you think you will be looking at it in the near term, or should we unassign you?

[2019-03-06 16:03] pnkfelix commented on #53159
NLL triage: closing. If we later decide that this idea has merit, we can reopen (or open a fresh issue, or just implement a PR).

[2019-03-06 16:03] #53159 closed

[2019-03-06 16:08] pnkfelix commented on #58178
NLL triage. Seems to me like we still want to investigate the remaining performance gap here. Tagging as P-high.

[2019-03-06 16:12] pnkfelix commented on #58178
Also nominating for discussion at NLL meeting (mostly to see if I can find someone to continue the investigation of the remaining performance gap).

[2019-03-06 16:40] oli-obk commented on #53598
Removed my assignment. Unfortunately I'm running behind on the not-time-critical issues I assigned to myself.

[2019-03-06 17:34] QuietMisdreavus commented on #58745
I took a closer look at this yesterday and today, and found some of the warnings that were in fact spurious - the ones that corresponded to a link that was actually resolved on the item's page. I've opened https://github.com/rust-lang/rust/pull/58972 to fix those.

However, there were some left that were not spurious in the same way. These all tripped a warning because the links can resolve in the

[2019-03-06 17:59] joshlf commented on #48515
It's unfortunately not a general workaround; I just figured out a way to avoid using this feature entirely so it wasn't a problem.

[2019-03-06 18:05] jethrogb commented on #43467
@alexreg yeah so that's the opposite of what @raphaelcohn wants I think :)

[2019-03-06 18:13] johnterickson commented on #49359
@epage / @andoriyu Are one of you planning on proposing a better schema? I like what you're proposing.

[2019-03-06 18:32] RalfJung commented on #53491
I strongly feel that `into_init(ialized)` also semantically is more accurate here -- it consumes the `MaybeUninit`, after all.

[2019-03-06 18:37] JohnTitor commented on #52790
Hmm, I wasn't able to find `token::Async`, can I use `self.eat_keyword(keywords::Async)` instead of this?

[2019-03-06 18:37] estebank commented on #58968
CC @sgrif as per our all-hands conversation, this is something that can be addressed for nightly users using [`rustc_on_unimplemented`](https://doc.rust-lang.org/unstable-book/language-features/on-unimplemented.html).

[2019-03-06 18:49] estebank commented on #52790
@JohnTitor, yes, I was writing it off the top of my head, the correct code is the one you came up with :)

[2019-03-06 18:50] SimonSapin commented on #43467
https://github.com/rust-lang/rfcs/pull/2580 is another proposal in somewhat the same space as `DynSized`. With that implemented, you could use `T: ?Sized + Pointee<Metadata=()>` to restrict a type parameter to types that have thin pointers pointing to them, including extern types.

[2019-03-06 19:19] phil-opp commented on #57270
A patch for fixing this issue was merged to LLVM in [rL354837](https://reviews.llvm.org/rL354837). I'm not sure how closely Rust tracks current LLVM changes and whether it's worth a backport.

[2019-03-06 19:31] pnkfelix commented on #58178
assigning to @csmoe after they pinged me on zulip

[2019-03-06 19:38] estebank commented on #36645
[Current output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2706222537346dc99b32f88afe4f3a50)

[code]

[2019-03-06 19:38] #36645 closed

[2019-03-06 19:40] estebank commented on #38545
Closing as per prior comment.

[2019-03-06 19:40] #38545 closed

[2019-03-06 19:46] estebank commented on #38376
Current output in order:

- [The trait is not in scope](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=ef5d895aebcce8ae91d7bf395c843b3e): fixed

[code]

- [You didn't mean to implement it for the trait object](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=388ba2341327896eda1564494898934f): hint about `Self: Sized`, but we don't suggest `impl<T>

[2019-03-06 19:50] estebank commented on #38124
CC https://github.com/rust-lang/rust/issues/38376

Current status: no change.

[2019-03-06 19:52] estebank commented on #38234
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fe2e4f31e216290ce441b8e5d047fd77):

[code]

[2019-03-06 19:55] estebank commented on #37790
Triage: no change.

[2019-03-06 20:09] DavidPineauScality commented on #38234
This is indeed much better, in the sense that the "returned" `e` is described as being the source of the type error. Took me some time to understand it, though (since I didn't get back to this since then, so I'm still a newbie which is good to provide feedback here imho).

I think it can be considered ok to close this. The only difficulty left here for beginners is to understand that the expected

[2019-03-06 22:32] mattheww opened #58978 "Rustdoc nightly crash with "Cannot create local mono-item""
Current nightly rust is crashing for me if I try to build the documentation of
`cortex-m-rt` with `opt-level = "s"`.

The reported error is:
[code]

The version is `rustdoc 1.35.0-nightly (f22dca0a1 2019-03-05)`.

I haven't been able to show a problem using `cargo +nightly build`.

Steps to reproduce:

[code]

backtrace:
[code]

[2019-03-06 22:43] jonas-schievink commented on #58978
Based on the backtrace this looks like a duplicate of https://github.com/rust-lang/rust/issues/58323, so closing in favor of that. This will be fixed by https://github.com/rust-lang/rust/pull/58605

[2019-03-06 22:43] #58978 closed

[2019-03-06 23:23] varkor commented on #58956
You should add it to:
https://github.com/rust-lang/rust/blob/de4478af91765999f51b2950bea16686ee4cd60a/src/libsyntax/feature_gate.rs#L2023

I'm not sure how much it helps, but it's something.

[2019-03-07 00:36] digitalstreamio opened #58979 "Cross compiling liballoc using cargo-xbuild is broken on nightly"
This used to work fine on nightly up until nightly-2019-01-18-x86_64-unknown-linux-gnu or so. More recent versions are producing compiler errors.

Repro steps:

this will in turn execute

Compiler output/errors:

[code]

[2019-03-07 00:37] alexreg commented on #58956
@varkor Thanks, didn't know about that.

[2019-03-07 00:39] alexreg commented on #43467
@jethrogb It's exactly what he wants, the way I read it. Or maybe he needs both. Regardless, negative bounds for auto traits exist, so e.g. `!DynSized` would work.

[2019-03-07 00:58] digitalstreamio commented on #58979
It seems the following commit is causing problems

"liballoc: apply uniform_paths."
Feb 2
commit 748970dfa9c12c1a09da4ff3ec724e4dbf7e796d

https://github.com/rust-lang/rust/commit/748970dfa9c12c1a09da4ff3ec724e4dbf7e796d#diff-02bad9328a699a220dca897c0457c1dc

[2019-03-07 01:47] thedataking opened #58980 "Segfault when using C compatible variadic functions"
This example prints `test 1 2 3` when compiled and run in debug mode:

[code]

Compiling and running in release mode causes a segfault in [`glibc/stdio-common/vfprintf.c:1286`](https://code.woboq.org/userspace/glibc/stdio-common/vfprintf.c.html#1296) because `ap`  is nul. Enabling debug info in release mode via `Cargo.toml` makes the segfault go away.

## Meta

[code]

[2019-03-07 02:23] scottjmaddox commented on #53491
@mjbshaw Ah, yes, so it is. I did not notice that... Okay, well, in that case I revoke all my previous comments about `set`/`write`. Maybe `set` makes more sense; `Cell` and `Pin` already define `set` methods. The primary difference would be that `MaybeUninit::set` would not drop any values previously stored; perhaps that's still closer to `write`... I don't know. Either way, the documentation is

[2019-03-07 02:40] estebank commented on #25228
#58981 will provide the similar output for the original case as we already do for the prior comment:

[code]

[2019-03-07 02:43] estebank opened #58982 "Mismatched types diagnostic sometimes points at both return type and return statement for the expectation reason"
[The output for](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ace0042d07550c5b32e79be3cd9f0524) the following code is slightly incorrect and shouldn't really point at the value of the `return` statement:

[code]

[code]

[2019-03-07 03:00] dlrobertson commented on #58980
@thedataking thanks for reporting this. The example should probably look more like the following. The example still segfaults (even in debug mode).

[code]

If `a` is used in the function `variadic` the issue does not happen. Essentially we're optimizing `variadic` to the following

[code]

Note the missing `va_start` and `va_end`. I think this is happening because we're hitting [src/librustc_code

[2019-03-07 03:34] estebank opened #58983 "Make `-Z treat-err-as-bug` accept a number of errors to skip"
Allow `-Z treat-err-as-bug` to take a number, in order to make it easier to debug errors that can't be made to be emitted _first_. In my mind, you'd call `rustc -Z treat-err-as-bug 2` on a file with three errors and the first two would be emitted, you'd get the backtrace for the second one, and the third one wouldn't be emitted.

[2019-03-07 03:53] pmccarter commented on #58982
I can look into this.

[2019-03-07 04:11] dlrobertson commented on #58980
@thedataking the code I list in the above example should work with after https://github.com/rust-lang/rust/pull/58985 is merged.

[2019-03-07 05:05] Vociferix opened #58987 "rustc panic: Type parameter `R/#1` (R/1) out of range when substituting..."
Please see [this repo]( https://github.com/Vociferix/io-cache) for more details. Commit 628894b, which is the only commit at this time, as I created the repo specifically for this issue. It's an in progress library with a lot of early experimentation in it.

Below is the compiler and build information. Based on the information, it appears the problem has to do
with rust's in-progress `const` seman

[2019-03-07 06:29] kennytm commented on #43467
@alexreg You could write `impl !Send for Stuff {}` but that doesn't mean `where Stuff: !Send` is a valid bound.

[2019-03-07 06:37] asdetrefle commented on #58394
Would you please describe how to adjust the rust distribution? I could not find any rustup documentation on how to link a specific version of libc

[2019-03-07 07:38] hcpl opened #58988 "Multiple applicable items in scope suggests wrong code for references to trait objects"
Suggestions from E0034 prepend `&` to expressions as a string regardless of whether the result type-checks.

Example:
[code]

Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=97c044b74af4a3798f01b223ca868bd8.

<details>
<summary>Errors</summary>

[code]

</details>
</br>

Notice how in the second case, the suggested code has `&&Spam as &Quux` instead of `&(&Spam

[2019-03-07 07:56] gnzlbg commented on #53491
I think it is worth it to call out again that the only thing that `into_init` asserts is that the value satisfies the _validity invariant_ of `T`, which is not to be confused with `T` being "initialized" in any general sense of the word.

For example:

[code]

Here the return value of `improperly_initialized` is "initialized" in the sense that it satisfies the _validity invariant_ of `T`, but not

[2019-03-07 08:15] gnzlbg commented on #53491
One thing one could also do with `Invalid<T>` and `Unsafe<T>` is have two traits, `ValidityCheckeable` and `UnsafeCheckeable`, with two methods,  `ValidityCheckeable::is_valid(Invalid<Self>)` and `UnsafeCheckeable::is_safe(Unsafe<Self>)`, and have the `Invalid::into_valid` and `Unsafe::into_safe` methods `validity_assert!` and `safety_assert!` on them.

[2019-03-07 08:16] RalfJung commented on #53491
This is correct. OTOH, I feel "initialized" is a reasonable proxy for this in a first explanation.

I feel we can make a reasonable point that this is not properly "initialized". I agree that we need a proper documentation of how these two invariants interact somewhere (and I am not sure what the best place would be), but I also think that most people's intuition will say that `improperly_uninitia

[2019-03-07 08:19] RalfJung commented on #53491
@scottjmaddox

How does `move_init` convey an "assertion" more than `into_init` does?

`assert_init(italized)` has been previously suggested.

However, notice that `read` or `read_initialized` or `as_ptr().read` also don't really say anything about asserting anything.

[2019-03-07 08:41] scottmcm commented on #58969
This feature never got finished; there are all sorts of problems.  Empirically (the types got stabilized) the expectation is that the LLVM backends should just add support; that it's not Rust's problem.

[2019-03-07 09:52] Centril commented on #53491
@gnzlbg Hey that's pretty nifty. I like that this throws the distinction into user's faces in an unavoidable way. It's probably a good teaching moment wrt. "validity" and "safety" that will make folks think twice? `uninit.into_valid().into_safe()` isn't that verbose anyways as compared to `.assume_initialized()` or whatnot. Of course to make this distinction we'll need to find agreement around the

[2019-03-07 10:03] valeriansaliou opened #58989 "PathBuf::exists() consider all paths existing on MacOS 10.14.3 w/ AFS"
Calling PathBuf::exists() on a sub-folder of an existing path will always return `true`, even if the sub-folder does not exist (as seen by Finder and `ls`). This also applies to PathBuf::is_dir() and PathBuf::is_file(). Even weirder, PathBuf::metadata() returns actual meta-data for the non-existant path.

In my setup: target relative path is `./data/store/kv/collection/`; the collection folder doe

[2019-03-07 10:05] valeriansaliou commented on #58989
Actual method containing the code: https://github.com/valeriansaliou/sonic/blob/master/src/store/kv.rs#L236

[2019-03-07 10:27] dhardy commented on #58745
Thanks for looking into this.

The latter issues sound tricky to solve — correct documentation for an item presented differently in two different places. I wonder if `doc` attributes could be made optional depending on which crate the item is being exported from? Ideally here we'd just want a different path for `test_timer` but significantly different docs for `RngCore`.

[2019-03-07 10:31] valeriansaliou commented on #58989
My bad, looks like there was a dangling fd still owned by the process. So, while the path did not exist anymore on the AFS fs, it was still seen as existing as a fd to this path was still open and owned by the same process.

[2019-03-07 10:31] #58989 closed

[2019-03-07 10:39] RalfJung commented on #53491
TBH I feel like having two types is way too verbose.

[2019-03-07 11:24] Centril commented on #53491
@RalfJung Can we dig deeper into that? possibly with some comparisons of examples that you think show the high degree of verbosity?

[2019-03-07 11:38] nicoburns commented on #53491
Hmm... if we are considering more verbose APIs, then

[code]

could work quite well semantically. The first methid returns a token which records your assertion. The second method returns the inner type, but requires you to have asserted it's valid.

I'm not entirely convinces this is worth the extra effort though, as the abstraction might just make people more confused and thus likely to make mist

[2019-03-07 11:48] RalfJung commented on #53491
Fair. `assume_initialized` sounds good to me.

Or maybe it's `assume_init`? That should likely be consistent with the constructor, `MaybeUninit::uninit()` vs `MaybeUninit::uninitialized()` -- and *that* one is slated to be stabilized with the first batch, so we should make that call soon.

@nicoburns I don't see the benefit we'd gain from adding an indirection through a token here.

Well, it is cl

[2019-03-07 12:03] rkruppe commented on #53491
Additionally, the mere presence of `Unsafe<T>` can be misleading (by wrongly implying that all values *not* wrapped in it are safe) unless we adopt a strong widespread convention against having unsafe values outside of this wrapper. This would be a large project, requiring another RFC and broader community consensus. I expect it to be somewhat controversial (@RalfJung gave some good reasons agains

[2019-03-07 12:12] GuillaumeGomez commented on #58745
@QuietMisdreavus and I handled the issue differently: I don't show errors on items that are outside of the current crate and they prevent to read non-local items (so no errors since it's not parsed).

[2019-03-07 12:19] Centril commented on #53491
@RalfJung

If we can have 3-way consistency with the type, constructor, and the `-> T` function that would be even better. As the type doesn't have the `-ialized` suffix I think `::uninit()` and `.assume_init()` is probably the way to go.

Depends... I think `foo.assume_init().assume_safe()` (or `foo.valid().safe()` if one is inclined to be brief) isn't all *that* longer. We can also offer the com

[2019-03-07 12:46] raphaelcohn commented on #43467
@alexreg, @jethrogb @SimonSapin @kennytm Thank you all.
Essentially, I need a bound that says `T: thin pointers`. I think @SimonSapin's solution `T: ?Sized + Pointee<Metadata=()>` would work, but it does seem rather non-intuitive.

[2019-03-07 13:30] Lonami commented on #58532
Is there any reason to keep this open if nobody (including OP) can reproduce it?

[2019-03-07 13:33] #58532 closed

[2019-03-07 13:41] ckaran commented on #58375
@jethrogb Did you get my last comment?  I did as you asked yesterday, adding it as a comment, along with a ridiculously long copied chunk of standard out from re-running tarpaulin (it turns out you need to set `RUST_LOG=trace` to get output from tarpaulin), but I don't see the comment here any more.  I'm hoping that this is just something temporary with GitHub; if not, let me know, and I can re-ru

[2019-03-07 14:43] pnkfelix commented on #58857
triage: P-high. Assigning @estebank

[2019-03-07 14:44] pnkfelix commented on #58856
triage: P-high. estebank is on it so assigning them.

[2019-03-07 14:46] pnkfelix commented on #58822
triage: P-high

[2019-03-07 14:49] pnkfelix commented on #58858
triage: P-high, metabug

[2019-03-07 14:50] pnkfelix commented on #58858
also I'll just note that in practice we've often included NLL bugs in the lists during T-compiler triage, but then I'll often just *skip* them during the review process (explicitly saying that I am skipping them) because I know firsthand that they are being processed at the NLL meeting. I am not sure I'll be able to do the same for RLS, we'll see.

[2019-03-07 14:50] pnkfelix commented on #58858
assigning to self

[2019-03-07 14:53] pnkfelix commented on #58840
triage: P-high.

[2019-03-07 15:20] pnkfelix commented on #58840
assigning to self based on stack trace and related work on region-vid conversion issues.

[2019-03-07 15:28] steveklabnik commented on #58979
My understanding is that xargo is abandoned. Try `cargo-xbuild`?

[2019-03-07 15:33] SimonSapin commented on #43467
Indeed, the RFC also proposes a [trait alias](https://github.com/rust-lang/rust/issues/41517) `pub trait Thin = Pointee<Metadata=()>;` in the `std::ptr` module. But at this point it’s only a proposal.

[2019-03-07 15:34] pnkfelix commented on #57985
discussed at T-compiler meeting. no one present objected to the idea of each tool using its own specialized `MYTOOL_LOG` environment variable.

so we (informally  at least) approve of this change and invite someone to  post a PR for it. we do not believe this requires an RFC.

[2019-03-07 15:36] digitalstreamio commented on #58979
I am using cargo xbuild, but it seems to internally call or reference xargo.  This is the command line that gets executed:

cargo xbuild -p zinc64-rpi --target=aarch64-unknown-none --release

[2019-03-07 15:42] nikomatsakis commented on #58822
I'm currently running a bisection with cargo-bisect-rustc.

[2019-03-07 15:43] pnkfelix commented on #58372
cc #58967

[2019-03-07 15:45] mauricekayser commented on #45492
This issue is not resolved by adding `panic = "abort"` to the crate, because the precompiled libcore is compiled with `panic = "unwind"`. Would it be possible to provide a precompiled libcore with `panic = "abort"`? That would be really useful for `no_std` on Windows.

References:
[No-std Windows DLL linker error](https://users.rust-lang.org/t/no-std-windows-dll-linker-error/15008)
[Missing symbol

[2019-03-07 15:45] nikomatsakis commented on #58822
Regression is tracked to c84e7976423bb910bb5eb5eecffc7e33a897a97f

[2019-03-07 15:51] digitalstreamio commented on #58979
It seems updating cargo-xbuild from 0.5.3 to 0.5.5 fixes the issue. Sorry for the confusion.

[2019-03-07 15:51] #58979 closed

[2019-03-07 15:55] pnkfelix commented on #58822
speculatively assigning to @oli-obk based on @nikomatsakis 's bisection.

[2019-03-07 16:05] oli-obk commented on #58822
This is definitely caused by [this change](https://github.com/rust-lang/rust/pull/58098/files#diff-fe6fbe1c488f33762a812dfee7e5e919L564). We used to just not emit deprecation warnings inside `allow_internal_unstable` code. I'll extend derives to add `#[allow(deprecated)]` to replicate the previous behaviour, but we should probably create something more fine grained some day.

[2019-03-07 16:07] steveklabnik commented on #40269
Given that this pretty clearly requires an RFC, I'm going to give it a close.

[2019-03-07 16:07] #40269 closed

[2019-03-07 16:08] Centril commented on #40269
cc https://github.com/rust-lang/rfcs/pull/2545

[2019-03-07 16:30] Mark-Simulacrum opened #58993 "Crater performance investigation"
This is used as an issue to interact with crater and run performance tests.

[2019-03-07 16:32] Mark-Simulacrum commented on #58993
@craterbot run name=crater-raid-0-ex-1 start=master#f22dca0a1bef4141e75326caacc3cd59f3d5be8e end=master#88f755f8a84df1d9e6b17cf10c96ae8b93481b2e mode=build-and-test assign=aws-3-tmp cap-lints=allow

[2019-03-07 16:38] Mark-Simulacrum commented on #58993
@craterbot run name=crater-raid-0-ex-1 start=master#f22dca0a1bef4141e75326caacc3cd59f3d5be8e end=master#88f755f8a84df1d9e6b17cf10c96ae8b93481b2e mode=build-and-test assign=agent:aws-3-tmp cap-lints=allow

[2019-03-07 16:40] Mark-Simulacrum commented on #58993
@craterbot retry

[2019-03-07 16:42] alexreg commented on #43467
@kennytm It's not? Well, it needs to be!

[2019-03-07 16:46] Mark-Simulacrum commented on #58993
@craterbot retry

[2019-03-07 17:07] jethrogb commented on #58375
@jethrogb no I got nothing. Sounds like GitHub ate your comment unfortunately.

[2019-03-07 17:14] jethrogb commented on #58375
@ckaran no I got nothing. Sounds like GitHub ate your comment unfortunately.

[2019-03-07 17:24] steveklabnik commented on #36927
So, it's been two years. re-reading this issue, it seems that this is working as intended, generally. As such, I'm going to give it a close. Anything that changes here seems big enough to require an RFC, and probably should be pursued through those channels. Thanks!

[2019-03-07 17:24] #36927 closed

[2019-03-07 17:29] steveklabnik commented on #29497
Triage: I'm not aware of any movement on this issue.

[2019-03-07 17:55] leodasvacas commented on #40062
I still think this should be called `remove_eq` instead of `remove_item`.

[2019-03-07 18:00] andjo403 commented on #48184
looks like it is possible to close this

[2019-03-07 18:29] Ericson2314 commented on #43467
For the record, I think we need `Pointee` and `DynSized`. `Thing + ?Sized` still means you are responsible for coming up with the dynamic size and allocation from a `()`, which means panicking, which is no good. Likewise `?DynSized` without `Thin` means you can do unsafe operations, but have no means to ensure the ABI is correct, so generic FFI stuff cannot be written. Both is wonderful, and will

[2019-03-07 18:32] cuviper opened #58996 "LLVM asserts "Cannot get the value bit index of a constant bit" on powerpc64le"
@ajdlinux found this assertion failure building `dist-powerpc64le-linux` in #58991:

[code]

Reproducing this depends on having LLVM assertions enabled, which we don't normally have on CI for `DEPLOY=1` builds.

I was also able to reproduce this with big-endian `dist-powerpc64-linux`.

[2019-03-07 18:44] zachlute commented on #57985
Awesome, I'll look into doing a PR for this shortly, then. Thanks!

[2019-03-07 19:02] adnanademovic commented on #54723
@petrochenkov Should the feature be changed from `"proc_macro_raw_ident"` to something else, like `"proc_macro_lib2"`?

[2019-03-07 19:13] petrochenkov commented on #54723
@adnanademovic
No, the feature names are normally kept during stabilization.

[2019-03-07 19:16] nhynes commented on #54726
I tried adding a custom attribute using `syn` (after a [small patch](https://github.com/dtolnay/syn/pull/591)), but got the error

[code]
using `rustc 1.35.0-nightly (f22dca0a1 2019-03-05) running on x86_64-unknown-linux-gnu`.

lib.rs
[code]

and in the proc_macro crate
[code]

The error is coming from the `extern crate std` emitted during the addition of the prelude.

[2019-03-07 19:18] gnzlbg commented on #29639
no_core is not useless, some crates do not use any lang items and compile just fine (e.g. `cfg-if`), and if these crates aren't `#[no_core]` then we can't use them as dependencies of `libcore`, which means we have to duplicate them. For example, we currently duplicate `cfg-if` in libcore, again in libstd, in stdsimd, and in libc.

If it we make it `#[no_core]` we can just add it as a normal cargo

[2019-03-07 19:42] petrochenkov commented on #54726
@nhynes
This specific error about `extern crate` shadowing is too conservative in this case and can be fixed, but crate-level attribute macros are still generally unsupported.

The recommendation is to make a module and apply the attribute to it instead.

[2019-03-07 20:04] gnzlbg opened #58997 "empty crates depend on libcore"
This crate:

[code]

implicitly contains an `extern crate core` even though it does not use anything from it (not even lang-items).