[2018-09-24 15:59] #41882 closed

[2018-09-24 15:59] steveklabnik commented on #37061
Triage: no changes. @rust-lang/rustdoc , is this a feature that will ever be implemented?

[2018-09-24 16:00] steveklabnik commented on #34713
Triage: this now says `fields omitted`, which works in both cases. Closing!

[2018-09-24 16:00] #34713 closed

[2018-09-24 16:01] steveklabnik commented on #24899
Triage: no comments in over two years. @rust-lang/rustdoc is this something we're interested in pursuing?

[2018-09-24 16:02] steveklabnik commented on #25189
The line number is linkable; it's not quite the same thing. @rust-lang/rustdoc is this a feature we'd consider adding? It seems like a marginal improvement to me.

[2018-09-24 16:02] steveklabnik commented on #26097
Triage: `tango` has you covered, and I don't believe this is going to land in upstream rustdoc any time soon. Closing!

[2018-09-24 16:02] #26097 closed

[2018-09-24 16:03] steveklabnik commented on #29221
Triage: no comments in over three years. This might be an interesting feature, but it is apparently not particularly desired. Closing!

[2018-09-24 16:03] #29221 closed

[2018-09-24 16:03] steveklabnik commented on #28056
Triage: no changes. @rust-lang/rustdoc is this a feature we're interested in pursuing?

[2018-09-24 16:06] steveklabnik commented on #6759
Triage: no changes.

[2018-09-24 16:06] steveklabnik commented on #13414
Triage: there's been no substantial comments on this in the last four years; I don't think this is going to be implemented. Closing!

[2018-09-24 16:06] #13414 closed

[2018-09-24 16:07] steveklabnik commented on #30462
Triage: no idea what the status is here, honestly.

[2018-09-24 16:07] alexcrichton commented on #54474
This was added in https://github.com/rust-lang/rust/pull/49098 and stabilized in https://github.com/rust-lang/rust/pull/53385. Unfortunately we didn't do crater runs at the time, but that's why we do it for beta!

I'll put this on the libs team triage agenda, but given that this is fixed in the most recent versions and only locked projects are getting this it's probably unlikely we'll decide to re

[2018-09-24 16:07] steveklabnik commented on #30462
Triage: no idea what the status is here, honestly. @gnzlbg any update?

[2018-09-24 16:08] steveklabnik commented on #38322
Triage: there's been a *ton* of discussion on this issue, but I have no idea what the current state of it is. can anyone summarize?

[2018-09-24 16:09] steveklabnik commented on #36547
Triage: only going back one release has worked well for us, and I'm not aware of any plans to change this. Closing!

[2018-09-24 16:09] #36547 closed

[2018-09-24 16:10] steveklabnik commented on #30927
Triage: there's been no comments on this issue in two and a half years; we're also pursuing custom test runners, and that would likely fix this issue. As such, I don't think this is very likely to be implemented directly. Closing!

[2018-09-24 16:10] #30927 closed

[2018-09-24 16:10] steveklabnik commented on #22399
Triage: no movement.

[2018-09-24 16:11] arielb1 commented on #30976
@steveklabnik

I think we give trait error backtraces for quite some time, but they are somewhat badly-formatted, so this is somewhat of a diagnostic issue.

[2018-09-24 16:11] steveklabnik commented on #2887
There are now four FIXMEs in that file. No idea if that's few enough for this ticket or not.

[2018-09-24 16:12] steveklabnik commented on #40480
Triage: no changes I'm aware of.

[2018-09-24 16:13] steveklabnik commented on #39685
Triage: no comments in two years; is this still relevant?

[2018-09-24 16:14] steveklabnik commented on #30827
Triage: the final syntax for `deprecated` uses `note` instead of `reason`:

[code]

however, this still reproduces. With no comments in two years, I'm not sure if this will ever be implemented. @rust-lang/lang , is this feature desired?

[2018-09-24 16:14] steveklabnik commented on #41058
Triage: no changes I'm aware of.

[2018-09-24 16:15] steveklabnik commented on #25724
Triage: we have the unstable book as a list of features, though that's not for exactly the same purpose. Regardless, nobody else has wanted this in the past few years, so I doubt it's ever going to be implemented. Closing!

[2018-09-24 16:15] #25724 closed

[2018-09-24 16:17] steveklabnik commented on #33290
Triage: the signature of `run_compiler` hasn't changed. Nobody else has commented in two years. I don't think that an issue being open will help get this issue fixed.

@rust-lang/compiler what do you think?

[2018-09-24 16:17] steveklabnik commented on #40198
Triage: no changes I'm aware of

[2018-09-24 16:19] steveklabnik commented on #1930
Triage: https://github.com/rust-lang/rust/issues/39699 is a duplicate and has more up-to-date info.

RIP one of rustc's last four digit issues. <3

[2018-09-24 16:19] #1930 closed

[2018-09-24 16:21] steveklabnik commented on #3065
Triage: this issue is so old that "new macro system" refers to the macro system that we're about to soft deprecate 😆 🤣

I'm not sure if this is something that is still relevant or will be addressed. The whole feature is describe as a "hack that is likely to be removed."

As such, I'm going to close this. RIP a four-digit issue.

[2018-09-24 16:21] #3065 closed

[2018-09-24 16:41] steveklabnik commented on #6678
Triage: no change in behavior, though the flags have changed:

[code]

[2018-09-24 16:41] steveklabnik commented on #9307
Triage; not aware of any changes here

[2018-09-24 16:42] joshtriplett commented on #30827
I'd like to see this; `deprecated` should work on any declaration.

[2018-09-24 16:43] steveklabnik commented on #6477
Today:

[code]

Closing!

[2018-09-24 16:43] #6477 closed

[2018-09-24 16:46] steveklabnik commented on #9323
Triage: `macro_rules` is not being worked on anymore, with `macro` as its replacement. Given that there's been no substantial comments since 2015, and it still reproduced in 2017, I don't believe this will be changed. Closing.

[2018-09-24 16:46] #9323 closed

[2018-09-24 16:46] Centril commented on #30827
I agree with @joshtriplett.

[2018-09-24 16:47] steveklabnik commented on #9607
Triage: no change.

[2018-09-24 16:47] steveklabnik commented on #10356
Triage: no change

[2018-09-24 16:47] steveklabnik commented on #10379
Triage: no change

[2018-09-24 16:48] steveklabnik commented on #10381
Triage: no change

[2018-09-24 16:48] steveklabnik commented on #10671
Triage: no changes

[2018-09-24 16:48] steveklabnik commented on #10732
Nobody has taken a look and decided in the last year, I'm going to close, as apparently it is not important enough to look into.

[2018-09-24 16:48] #10732 closed

[2018-09-24 16:56] steveklabnik commented on #10971
Triage: apparently PowerShell doesn't make this easy, so I cannot attempt to reproduce. Can anyone else?

[2018-09-24 16:56] steveklabnik commented on #11207
Triage: not aware of any changes here

[2018-09-24 16:57] steveklabnik commented on #11361
Triage: NLL does not fix this.

[2018-09-24 16:58] steveklabnik commented on #11582
Triage: with no comments in years, I don't think this is likely to happen. I'm going to give it a close. If anyone strongly desires this, please let me know, and we can re-open.

[2018-09-24 16:58] #11582 closed

[2018-09-24 17:00] steveklabnik commented on #13794
This doesn't appear to happen today; at least, not with the MSVC toolchain, which is the recommended one. With no comments since 2015, including one that says this may not be a bug, I'm going to give this a close. If this is in error, please let me know!

[2018-09-24 17:00] #13794 closed

[2018-09-24 17:02] steveklabnik commented on #14595
Triage: this is a pain point that we still feel today, especially on Windows. That being said, keeping an issue open to track it isn't really helping; we may or may not change rustdoc to fix this, or a successor to rustdoc might. I don't think this issue is very useful for tracking that, so I'm going to give it a close. Thanks!

[2018-09-24 17:02] #14595 closed

[2018-09-24 17:03] alexcrichton commented on #54236
@oconnor663 the process here is somewhat informal, but after the API has been in nightly for some time it's renominated for stabilization with any open questions, and at that point the libs team all signs off on the stabilization.

To that end it's basically "let this sit for awhile and gain feedback", and then after awhile has passed it can be proposed to be stabilized

[2018-09-24 17:03] steveklabnik commented on #14841
When this issue was opened, we weren't sure what the system for extending rust may be. Plugins are never going to be shown to end-users, and so I don't believe this is ever going to be fixed. Closing.

[2018-09-24 17:03] #14841 closed

[2018-09-24 17:03] steveklabnik commented on #15070
Triage: still no changes. @rust-lang/rustdoc do we ever plan on implementing this?

[2018-09-24 17:05] steveklabnik commented on #15144
Today, this gives

[code]

I'm not sure if this is correct, or planned to change.

[2018-09-24 17:07] steveklabnik commented on #15179
Triage: clearly this tracking issue isn't helpful; we have some interest in a working group that would work on this stuff, and they'll track this in their own ways. Closing.

[2018-09-24 17:07] #15179 closed

[2018-09-24 17:08] steveklabnik commented on #15189
Triage: all of the `//pretty-expanded` comements are tagged with "FIXME: #23616". As such, let's close this as an effective dup of that one.

[2018-09-24 17:08] #15189 closed

[2018-09-24 17:08] steveklabnik commented on #23616
Triage: lots of FIXMEs referring to this issue still remain.

[2018-09-24 17:09] steveklabnik commented on #15599
Triage: no comments in two and a half years, and I'm not aware of any desire to improve `pretty`. I don't think this is likely to be fixed, and so I'm going to close. If you'd like to fix this, please let me know and we can re-open!

[2018-09-24 17:09] #15599 closed

[2018-09-24 17:10] nagisa commented on #4353
This ticket is still useful. That being said, benefits of fixing this are comparatively minor and there are bigger fish to catch.

[2018-09-24 17:12] steveklabnik commented on #15728
Triage: still no changes, but I'm also not aware of any plans to change this. Closing.

[2018-09-24 17:12] #15728 closed

[2018-09-24 17:13] steveklabnik commented on #15819
This is an interesting idea, but has gotten basically no comments in years. I don't think keeping this issue open is helpful, and so I'm going to close. If you'd like to work on fixing this, please let me know and we can re-open!

[2018-09-24 17:13] #15819 closed

[2018-09-24 17:14] steveklabnik commented on #22878
@rust-lang/rustdoc, do we ever plan on implementing this?

[2018-09-24 17:15] alexcrichton commented on #47115
I think I've changed minds now and would be ok if these iterators don't panic. If we choose to not panic I think it makes sense to have an inherent method on the iterator to get the rest of the slice out, and that would do the necessary modulo computation if necessary.

For naming I might advocate going to `chunks_exact` if only to avoid clashing with `ndarray`, trying to head off those regression

[2018-09-24 17:15] steveklabnik commented on #15823
Triage: no changes since my last comment

[2018-09-24 17:16] steveklabnik commented on #16017
Triage: no change

[2018-09-24 17:17] steveklabnik commented on #16103
Triage: no change. @rust-lang/rustdoc do we ever plan on implementing this?

[2018-09-24 17:18] steveklabnik commented on #13366
Triage: ICE not fixed

[2018-09-24 17:19] steveklabnik commented on #13520
Triage: not aware of changes

[2018-09-24 17:20] dtolnay opened #54535 "Reduce size of syntax::tokenstream::TokenTree"
#53902 raised the size of TokenTree from 32 bytes to 40 bytes, resulting in increased max-rss across a variety of benchmarks by up to 6%.

Here are the data structures involved: [**playground**](https://play.rust-lang.org/?gist=7ccf1f3d1fee4aeeacd70d1047da6981&version=stable&mode=debug&edition=2015)

Even among the 32 bytes a lot of those were padding. It should be possible to rearrange a few thin

[2018-09-24 17:21] steveklabnik commented on #13983
Triage: not aware of any changes

[2018-09-24 17:28] steveklabnik commented on #16178
@rust-lang/rustdoc, are we interested in this feature?

[2018-09-24 17:30] steveklabnik commented on #16455
Triage: not aware of any changes. Given that this is solved by proper manifests, and nobody has commented since 2015, i'm going to close this as a duplicate of https://github.com/rust-lang/rfcs/issues/721

[2018-09-24 17:30] #16455 closed

[2018-09-24 17:32] steveklabnik commented on #16502
Triage: no change

[2018-09-24 17:33] steveklabnik commented on #16638
Triage: with no comments since this was filed, I don't think that this issue is relevant anymore. If you still want this, please open a new issue with details that are relevant to today's Rust. Thanks!

[2018-09-24 17:33] #16638 closed

[2018-09-24 17:33] steveklabnik commented on #17462
Triage: this code still does not compile

[2018-09-24 17:34] steveklabnik commented on #17930
Triage: no change

[2018-09-24 17:34] steveklabnik commented on #17893
New error:

[code]

[2018-09-24 17:35] steveklabnik commented on #18030
Triage: this has become a topic lately, but this issue isn't really helping it actually happen. We'd welcome more testing of the standard library, but I don't think this issue is worth it. Closing!

[2018-09-24 17:35] #18030 closed

[2018-09-24 17:35] steveklabnik commented on #18168
@rust-lang/rustdoc is this a feature we plan to implement?

[2018-09-24 17:36] steveklabnik commented on #18671
Triage; with no comments here since 2014, I'm going to give this a close. If you're still running into this today, please let me know!

[2018-09-24 17:36] #18671 closed

[2018-09-24 17:37] arielb1 commented on #54467
This looks like a "soft" deadlock on `normalize_param_env_or_error` caused by implied bounds.

Minified:
[code]

[2018-09-24 17:37] #53569 closed

[2018-09-24 17:37] steveklabnik commented on #17098
Triage: with my questions unaswered since 2015, I'm going to close this. If this is still important, please give me some steps to reproduce!

[2018-09-24 17:37] #17098 closed

[2018-09-24 17:39] jackcmay commented on #52138
I have a recreator here: https://github.com/jackcmay/dynamic_module_segfault

[2018-09-24 17:45] eddyb commented on #54535
@dtolnay Were there APIs on `Delimited`? I think that's a reasonable inline.
Would it also be possible to move `DelimSpan` inside `Delimited`? Or would that not help?

[2018-09-24 17:48] eddyb commented on #33290
I had a branch around, to parse CLI args *much earlier*, maybe I should revive it.

[2018-09-24 17:51] steveklabnik commented on #18084
Triage: this still fails, but gives an error like https://github.com/rust-lang/rust/issues/54390

[2018-09-24 17:52] retep998 commented on #35902
Because codegen unit currently implies object file, this would make object file spam even *worse* of an issue, making https://github.com/rust-lang/rust/issues/53014 occur far more often.

[2018-09-24 17:52] dtolnay commented on #54535
Inlining DelimSpan does not help.

There are five methods on Delimited:

https://github.com/rust-lang/rust/blob/a072d1bca6282d1d2fbec103d12393527eb5a868/src/libsyntax/tokenstream.rs#L46-L81

[2018-09-24 17:52] steveklabnik commented on #18627
Triage: still fails

[2018-09-24 17:52] arielb1 commented on #54467
to detail: `normalize_param_env_or_error` does not try to normalize the param env in some sort of fixed-point computation - that would be hard without lazy normalization or some other major refactor of the trait system. Therefore, it normalizes the param env insided the unnormalized param env.

This means that bounds such as `<<I as Stream>::Error as ParseError<char>>::Output: 'a` are normalized i

[2018-09-24 17:53] eddyb commented on #41058
I started a branch of this but had to lower priority on it.

[2018-09-24 17:54] steveklabnik commented on #18895
Triage: no change since my last comment

[2018-09-24 17:55] steveklabnik commented on #19083
procedural macros are stable; closing!

[2018-09-24 17:55] #19083 closed

[2018-09-24 17:55] eddyb commented on #30827
IIUC, in the current system, by the time stability/deprecation checks run, information about *where* you got something from, is lost (it's transient during name resolution).
cc @petrochenkov

[2018-09-24 17:56] steveklabnik commented on #19156
Since this issue was opened, the build system was completely re-done. I'm going to close; if this still reproduces, please let me know and we can re-open.

[2018-09-24 17:56] #19156 closed

[2018-09-24 17:56] steveklabnik commented on #19393
With no response to @Mark-Simulacrum , I'm guessing this is true. Closing.

[2018-09-24 17:56] #19393 closed

[2018-09-24 17:57] steveklabnik commented on #19475
Triage: no change

[2018-09-24 17:58] eddyb commented on #54535
How does `DelimSpan` compare to what `{open,close}_tt` compute?
Also, `{open,close}_token` could be methods on `DelimToken` itself.
So overall, losing `Delimited` doesn't feel too bad.

[2018-09-24 17:59] eddyb commented on #40177
Blocked on #49219.

[2018-09-24 18:01] steveklabnik commented on #20775
Triage: still fails

[2018-09-24 18:01] steveklabnik commented on #20863
@rust-lang/rustdoc do we ever plan on addressing this?

[2018-09-24 18:02] steveklabnik commented on #21590
Triage: no changes I'm aware of

[2018-09-24 18:03] eddyb commented on #40697
I'd say very much so, and I've been arguing recently that `impl Trait` should desugar to an item *not* parented to a module or a block, and that we should extend HIR's notion of item past AST's.

[2018-09-24 18:03] dtolnay commented on #54535
The `{open,close}_tt` methods are passed in a Span. DelimSpan is where the span passed in comes from.

[2018-09-24 18:04] steveklabnik commented on #21826
Triage: no changes. Given the above list of problems, and no comments since 2015, I'm going to give this issue a close.

[2018-09-24 18:04] #21826 closed

[2018-09-24 18:04] gnzlbg commented on #30462
This was fixed ages ago, and is already available on stable, e.g., `#[cfg(target_feature = "bmi2")]` :)

Thanks for the triage!

[2018-09-24 18:04] #30462 closed

[2018-09-24 18:05] steveklabnik commented on #21956
With no suggestions in the last year, I'm guessing that this is not likely to be fixed. If anyone has ideas, please let me know, and we can re-open!

[2018-09-24 18:05] #21956 closed

[2018-09-24 18:05] steveklabnik commented on #22108
@rust-lang/rustdoc  is this something we intend to pursue?

[2018-09-24 18:06] steveklabnik commented on #22877
Triage: no changes. Is this even fixable?

[2018-09-24 18:07] steveklabnik commented on #22885
Triage: with no comments since 2015, I don't think this is likely to be fixed. If someone wants to tackle this, please do!

[2018-09-24 18:07] #22885 closed

[2018-09-24 18:08] steveklabnik commented on #23165
Triage: no change

[2018-09-24 18:09] steveklabnik commented on #42962
Triage: can't reproduce, so closing. @m4b if you're still seeing this today please let me know!

[2018-09-24 18:09] #42962 closed

[2018-09-24 18:09] steveklabnik commented on #43215
Triage: with no steps to reproduce, we cannot fix this. Closing until we can reproduce.

[2018-09-24 18:09] #43215 closed

[2018-09-24 18:10] steveklabnik commented on #43032
It's been quite a while, and a lot has changed. @Gilnaa if you're still seeing this, please let us know! I'm going to close until then.

[2018-09-24 18:10] #43032 closed

[2018-09-24 18:11] steveklabnik commented on #23545
Triage: no change

[2018-09-24 18:11] steveklabnik commented on #23481
Triage: no change

[2018-09-24 18:12] steveklabnik commented on #24843
Triage: not aware of any tests being added.

[2018-09-24 18:12] steveklabnik commented on #28946
Triage: not aware of any tests added.

[2018-09-24 18:13] steveklabnik commented on #26774
With no substantial comments since 2015, and no response to the 2017 comment asking if this is still an issue, I'm going to close this. Please let us know if you're still seeing this!

[2018-09-24 18:13] #26774 closed

[2018-09-24 18:16] steveklabnik commented on #25362
Triage: are you still seeing this problem? Can anyone reproduce?

[2018-09-24 18:17] steveklabnik commented on #31302
Is this still happening today?

[2018-09-24 18:18] steveklabnik commented on #32703
Neither of these ICE for me today. Closing!

[2018-09-24 18:18] #32703 closed

[2018-09-24 18:19] steveklabnik commented on #32205
This no longer ICEs, and compiles just fine. Closing!

[2018-09-24 18:19] #32205 closed

[2018-09-24 18:19] steveklabnik commented on #31075
Triage: still ICEs

[2018-09-24 18:21] steveklabnik commented on #31943
@apaprocki are you still seeing this today? A lot has changed with the build system since 2016.

[2018-09-24 18:21] steveklabnik commented on #32594
Triage: still overflows.

[2018-09-24 18:26] steveklabnik commented on #34844
This feels like a duplicate of https://github.com/rust-lang/rust/issues/32594

[2018-09-24 18:27] steveklabnik commented on #34123
This appears to be fixed

[code]

as @solson predicted. closing!

[2018-09-24 18:30] estebank commented on #54444
@eddyb mmmm....

In my mind I read this as

[code]

while the latter, being `panic!` it is also `!`, but can terminate (while the `loop` has no side-effects).

You're correct, but I'd love it if we could somehow differentiate when evaluating divergence between "can't return" and "can't return but can panic".

[2018-09-24 18:32] steveklabnik commented on #40247
This example relies on nightly features that were removed:

[code]

Are you still seeing this today? Any chance of an updated test case?

[2018-09-24 18:34] steveklabnik commented on #40274
I am not able to reproduce:

[code]

Is this still happening, @varkor ?

[2018-09-24 18:36] steveklabnik commented on #39451
I cannot either. @busarovalex if this is still happening, please let us know!

[2018-09-24 18:36] #39451 closed

[2018-09-24 18:37] steveklabnik commented on #42577
Without reproduction instructions, we cannot help. Closing!

[2018-09-24 18:37] #42577 closed

[2018-09-24 18:37] steveklabnik commented on #42950
Triage: this still ICEs

[2018-09-24 18:46] steveklabnik commented on #41988
Does this still reproduce today?

[2018-09-24 18:46] steveklabnik commented on #22165
Triage: still reproduces

[2018-09-24 18:47] steveklabnik commented on #22445
Triage: grammar is being moved to the reference. closing!

[2018-09-24 18:47] #22445 closed

[2018-09-24 18:48] steveklabnik commented on #22450
Triage: no change

[2018-09-24 18:49] steveklabnik commented on #22451
Triage: no change

[2018-09-24 18:49] steveklabnik commented on #21673
Triage: no change

[2018-09-24 18:50] steveklabnik commented on #40885
Closing as a duplicate

[2018-09-24 18:50] #40885 closed

[2018-09-24 18:50] steveklabnik commented on #41366
Triage: still ICEs

[2018-09-24 18:51] steveklabnik commented on #41038
Triage: I am not sure how to reproduce this.

[2018-09-24 18:51] steveklabnik commented on #43037
Triage: still ICEs

[2018-09-24 18:52] steveklabnik commented on #21192
Triage: IIRC, we're going back the drawing board again with the box syntax stuff. @pnkfelix ?

[2018-09-24 18:53] cramertj opened #54536 "Prevent issuing an error on type placeholders not present in user code"
The following function issues two separate errors-- one for the user's mistake ("parenthesized parameters may only be used with a trait") and one bogus error ("the type placeholder `_` is not allowed within types on item signatures").

[code]

Errors:

[code]

The second error is misleading and unhelpful here since the user didn't write a type placeholder.

[2018-09-24 18:59] killercup commented on #20863
Wow, it's been two and a half years! Looking back at this, this still seems quite easily fixable by replacing a bunch of divs.

[2018-09-24 19:03] steveklabnik commented on #54527
Is this discussion better had here or on internals?

[2018-09-24 19:03] steveklabnik commented on #54506
Closing as a duplicate of https://github.com/rust-lang/book/issues/1283

[2018-09-24 19:03] #54506 closed

[2018-09-24 19:04] steveklabnik commented on #54500
Please ask questions on https://users.rust-lang.org/, we try to keep the issue tracker for bugs only. Thanks!

[2018-09-24 19:04] #54500 closed

[2018-09-24 19:08] GuillaumeGomez commented on #20863
I'm afraid that the content "flow" would get out of hand: either we reduce sub-elements width or we remove the right side limit (which will end up in reducing sub-elements width in any case). Not really sure this is a good idea...

[2018-09-24 19:10] GuillaumeGomez commented on #18168
Isn't the search efficient enough now? If more search functionalities are wanted, we can always add them though.

[2018-09-24 19:10] GuillaumeGomez commented on #16178
I can add it.

[2018-09-24 19:11] GuillaumeGomez commented on #16103
That is actually a good idea! It's shame I never came across it earlier. Adding it.

[2018-09-24 19:11] vorner commented on #40274
I assume this was meant to be for me?

No, I can't reproduce any more either, the problem (or, all the problems) seem to have gone away. Unless someone else has a still failing example, I guess this can be closed.

[2018-09-24 19:13] GuillaumeGomez commented on #22878
Sounds like a good idea. I'll implement it later on.

[2018-09-24 19:14] GuillaumeGomez commented on #15070
If we do this, we'll have to think **a lot** about how we'll do it (on the UI side).

[2018-09-24 19:15] killercup commented on #20863
Huh? I don't follow, @GuillaumeGomez. This is about changing the markup, not the design?

[2018-09-24 19:21] GuillaumeGomez commented on #28056
This would be very nice to have but I currently don't know how we could do it... The problem is that our pages are already very loaded and that'd add even more content to be able to go through content. Also, not sure the information would be more accessible like this. It'd force to have a very clean documentation through meaningful titles.

[2018-09-24 19:21] GuillaumeGomez commented on #25189
Ids have been somewhat stable for quite some time now, aren't they?

[2018-09-24 19:33] steveklabnik commented on #25189
Not in the source view, right?

[2018-09-24 19:46] arielb1 commented on #54467
Note that this is broken even on older nightlies as long as `#![feature(infer_outlives_requirements)] ` is enabled.

[2018-09-24 19:49] sdroege commented on #47115
Let's go for that then: https://github.com/rust-lang/rust/pull/54537

[2018-09-24 19:50] arielb1 commented on #54467
I'll try to get a fix done later this week.

[2018-09-24 19:54] steveklabnik commented on #40274
Whoops, tab complete messed up, sorry. Yeah, let's close.

[2018-09-24 19:54] #40274 closed

[2018-09-24 19:54] nikomatsakis opened #54538 "`unused_patterns` lint"
As @scottmcm [pointed out here](https://github.com/rust-lang/rust/issues/51087#issuecomment-397918200), the `unused_parens` lints should be extended to also catch unused parentheses in patterns:

[code]

[Play](https://play.rust-lang.org/?gist=9f08276033eab518cd8055ff148c266a&version=nightly)

[2018-09-24 19:54] nikomatsakis commented on #54538
Here are some tips for how to update that lint. These aren't full mentoring notes but they might get you started.

The lint itself is declared here:

https://github.com/rust-lang/rust/blob/3bc2ca7e4f8507f82a4c357ee19300166bcd8099/src/librustc_lint/unused.rs#L258-L262

The meat of it is found in the `check_expr` callback here, which is invoked for every expression:

https://github.com/rust-lang/rus

[2018-09-24 19:55] nikomatsakis commented on #51087
Filed https://github.com/rust-lang/rust/issues/54538 for the unused-patterns lint.

[2018-09-24 19:59] nixpulvis commented on #21192
If your going bac to the drawing board. What's wrong with `box!(...)`? Kinda like `vec![...]`. Just a thought.

[2018-09-24 19:59] nikomatsakis commented on #51087
@ralexstokes

Well, more tests are always good. I see that I did not an absence of tests here. I'm not sure there are any particularly tricky scenarios here, but if you wanted to try to add parenthesis into various existing pattern tests, it seems like it would be good.

Any pointers on documentation? Seems like this should be updated: https://doc.rust-lang.org/reference/expressions/match-expr.htm

[2018-09-24 20:26] OneSadCookie commented on #40247
(After a little work updating Rocket) this works on the latest nightly and can be closed, as far as I'm concerned.

[2018-09-24 20:28] shepmaster commented on #17462
Note that this will be fine once NLL stabilizes:

[code]

Or more idiomatically:

[code]

See also the [canonical answer for this on Stack Overflow](Cannot obtain a mutable reference when iterating a recursive structure: cannot borrow as mutable more than once at a time), which shows how to make it work before NLL.

[2018-09-24 20:35] pawroman commented on #54505
@varkor you've anticipated most of my newbie questions already :) Thanks for that info, very useful! I'm now in the process of stressing my PC with lots of compiling to actually get started.

Skimming the test code I'm really impressed by how easy it is to add "UI" tests for these sorts of things (compile this, expect this error on this line). Snazzy!

That's all great, but do you anticipate I sho

[2018-09-24 20:38] HadrienG2 commented on #54527
Whichever way you like best :wink:

[2018-09-24 20:53] vadimcn commented on #54126
I wonder if [this](https://reviews.llvm.org/D52404) would fix it.

[2018-09-24 21:14] SoniEx2 commented on #52138
Please keep your thread unsafety issues out of this issue.

[2018-09-24 21:32] jerous86 opened #54541 "ICE: "to_immediate: expected Operand::Immediate, got Indirect""
I'm trying to compile a personal project, but the compiler crashes with the following message:
`error: internal compiler error: librustc_mir/interpret/operand.rs:129: to_immediate: expected Operand::Immediate, got Indirect(MemPlace { ptr: Ptr(Pointer { alloc_id: AllocId(14642), offset: Size { raw: 0 } }), align: Align { abi_pow2: 2, pref_pow2: 2 }, extra: None })`

I have no idea how to isolate th

[2018-09-24 21:38] leonardo-m opened #54542 "How to safely initialize an array of Vec with MaybeUninit doc example"
In this page:
https://doc.rust-lang.org/nightly/std/mem/union.MaybeUninit.html

I suggest to add an equivalent example of "how to safely initialize an array of Vecs" using MaybeUninit instead of uninitialized, if possible:

https://doc.rust-lang.org/nightly/std/mem/fn.uninitialized.html

[2018-09-24 21:38] cramertj commented on #54541
Does this mean that you do *not* see the error on stable? Are you able to provide a test case?

[2018-09-24 21:39] eddyb commented on #53792
@tkilbourn in the #fuchsia IRC channel gave me a `rustc -vV` sample:
[code]
This is *definitely* guaranteed to run into problems.

@alexcrichton I wish we could strike a better balance - maybe cache a git hash when, say, last time libcore was dirty, according to Cargo (so everything *had to* be rebuilt anyway)? Or at least cache it on the first build, and keep reusing it forever until that build d

[2018-09-24 21:40] kleimkuhler commented on #54538
I can pick this up. The mentoring notes provide enough for me to get started. I will reach out if I need some help or clarification!

[2018-09-24 21:41] varkor commented on #54505
The issue here is just a diagnostic issue, so checking that we're getting the updated hint is enough. The code in `lowering.rs` is just helpful to see what ranges like `..=` and `..` are desugared into, so you can catch them in `demand.rs` — you shouldn't need to modify anything (apart from the test) outside of `demand.rs`.

It would technically be possible to do something like this, but it would

[2018-09-24 21:43] petrochenkov commented on #9323
This is expected behavior for `macro_rules` macros which are hygienic only for local variables and labels.

Macros 2.0 (`macro`) change this behavior and the example prints "outer".
[code]

Macros 2.0 are deeply unstable and `macro_rules` is still the primary declarative macro system in Rust, so they are worked on in terms of both bugs and occasionally extensions.

[2018-09-24 21:43] cramertj commented on #53792
Yep, they are automated-- the recipe is [here](https://fuchsia.googlesource.com/infra/recipes/+/master/recipes/rust_toolchain.py).

[2018-09-24 21:49] randomPoison commented on #28946
I haven't seen this ICE in a long time, and I'm not working on the code that caused it anymore. Probably makes sense to just close this ticket, though I'll leave that at your discretion.

[2018-09-24 21:52] petrochenkov commented on #10732
This is still an issue, AFAIK.
cc @michaelwoerister

[2018-09-24 22:01] petrochenkov commented on #15728
The first item is fixed, the second item is mitigated by `#[allow_internal_unstable]`.

[2018-09-24 22:02] cramertj commented on #54542
What would the example look like? Something like this?

[code]

cc @RalfJung

[2018-09-24 22:05] DutchGhost commented on #47115
Recently I found myself wanting to iterate over slice in chunks, but starting from the end of the slice, towards the beginning.

for example, I wanted to Iterate ```[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]``` in chunks of 4, starting at the end. I'd like to get `[8, 9, 10, 11]`, `[4, 5, 6, 7]`, and as the remainder, `[1, 2, 3]`.

Currently ```[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11].chunks_exact(4).rev()```

[2018-09-24 22:08] leonardo-m commented on #54542
As arr array length is better to use 50 instead of 5, because Default:default goes up to about 30.

[2018-09-24 22:13] petrochenkov commented on #18084
There's a chance that this will be fixed by `feature(uniform_paths)` on 2018 edition.

[2018-09-24 22:16] petrochenkov commented on #19083
Procedural macros 1.2 are stabilized, but this cleanup of legacy plugins is still not done.
I don't think it makes sense to track it with an issue though.

[2018-09-24 22:18] parched commented on #54527
How do the C compilers handle this?

[2018-09-24 22:28] alexcrichton commented on #53792
@eddyb sounds like a reasonable strategy to me!

[2018-09-24 22:30] QuietMisdreavus commented on #49553
Update: It looks like the odd curly-brace segment of the link is gone, but the links are still broken because rustdoc is still treating proc-macros as functions in their source crate. Not sure what fixed that, but it means one less thing to figure out when fixing this for real.

[2018-09-24 22:40] #54193 closed

[2018-09-24 22:42] petrochenkov commented on #54527
I wonder if it's possible to support custom ABIs through some plugin-based interface.
You write some Rust code describing how the ABI works, then link it proc macro style, then use the new ABI.

(Disclaimer: I have no idea how the current ABI definitions work, and what interface the ABI plugin should have, especially for calling conventions.)

[2018-09-24 22:59] jerous86 commented on #54541
Sorry, I hadn't tested yet with stable. I just did, and with stable (rustc 1.29.0 (aa3ca1994 2018-09-11) running on armv7-unknown-linux-gnueabihf) it also crashes, but now giving a different compiler error:

`error: internal compiler error: librustc_mir/transform/const_prop.rs:619: const index not primitive: (ByRef(Ptr(Pointer { alloc_id: AllocId(12268), offset: Size { raw: 0 } }), Align { abi_pow

[2018-09-24 23:03] eddyb commented on #54527
@petrochenkov It's very close to being pure data, so I would prefer to have it *mostly* be described in JSON, or something like that, if possible. (I've considered it before, albeit not in a purely declarative manner, it's mostly a matter of "resource categorization and allocation")

Everything *other* than calling conventions is already described through [the "datalayout" string](https://llvm.org

[2018-09-24 23:05] cuviper commented on #54481
This appears to be a deliberate change, #51609.
cc @rust-lang/libs

[2018-09-24 23:15] cynecx commented on #54475
This may be a limitation with llvm's alias analysis because of the produced llvm-ir (does rust perhaps emit suboptimal llvm-ir?):

(reduced test-case):

[code]

[2018-09-24 23:17] cramertj commented on #54541
Can you confirm that an older compiler version still works and successfully compiles your code?

[2018-09-24 23:29] fitzgen commented on #54445
How to get involved in the Rust and WebAssembly domain WG: https://github.com/rustwasm/team#get-involved

[2018-09-25 00:09] alexandermerritt commented on #54067
The following code generates a similar result for me:

[code]

The `no_mangle` and struct `Foo` seem to be required, else the ICE is not triggered.

Output

[code]

[2018-09-25 00:37] jerous86 commented on #54541
`rustup install 1.28.0 && rustup default 1.28.0 && cargo build --release`
compiles without errors

[2018-09-25 00:38] eddyb commented on #51575
FWIW this was fixed years ago, nowadays we have the tools to talk about call ABIs.

[2018-09-25 00:39] estebank commented on #54505
There was a similar problem with the `.into()` suggestions, and it was fixed in #47702. Further use of the operator precedence list can be seen in [#47247](https://github.com/rust-lang/rust/pull/47247/files#diff-124df07081a1185b5a4d40cdcf0cf4ffR339) (which introduced the error fixed in the other PR).

[2018-09-25 01:13] Centril commented on #54527
I say let's do it :)

[2018-09-25 01:40] V1shvesh commented on #54197
@brson Still waiting for your reply

[2018-09-25 01:56] frewsxcv commented on #53634
Opened a PR for this: https://github.com/rust-lang/rust/pull/54544

[2018-09-25 02:30] infinity0 commented on #38322
#41555 was the tracking issue and it's closed now.

We are [using --remap-path-prefix in Debian](https://salsa.debian.org/rust-team/dh-cargo/blob/1d0508d8b2a45e3b7c09ac294301c783fd880bd3/cargo.pm#L149) and it works to [make ripgrep reproducible](https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/rust-ripgrep.html).

rustc itself is still not reproducible however, and I don't know w

[2018-09-25 02:32] infinity0 opened #54545 "1.30 beta.7 fails to build on ppc64el, "compiler unexpectedly panicked. this is a bug.""
See https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=ppc64el&ver=1.30.0%7Ebeta.7%2Bdfsg1-1%7Eexp1&stamp=1537786559&raw=0

[code]

[2018-09-25 02:33] infinity0 commented on #54545
The error did not occur on [ppc64 big endian](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=ppc64&ver=1.30.0%7Ebeta.7%2Bdfsg1-1%7Eexp1&stamp=1537793616&raw=0) or [powerpc 32-bit](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=powerpc&ver=1.30.0%7Ebeta.7%2Bdfsg1-1%7Eexp1&stamp=1537793627&raw=0)

[2018-09-25 02:37] SoniEx2 commented on #54520
it shows you can use single characters and stuff?

[2018-09-25 02:43] spamwax commented on #41988
I don't have access to that system anymore, I'll try to test on a VM and see if it's reproducible

[2018-09-25 02:44] infinity0 opened #54546 "1.30 beta.7 const-related tests fails on multiple architectures"
| arch | const-eval/double_check{,2} | const-size_of-cycle | invalid_const_promotion |
|---|---|---|---|
| [armv7-hf](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=armhf&ver=1.30.0%7Ebeta.7%2Bdfsg1-1%7Eexp1&stamp=1537795400&raw=0) | ok |  failed | ok
| [aarch64](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=arm64&ver=1.30.0%7Ebeta.7%2Bdfsg1-1%7Eexp1&stamp=1537799004&raw=0)

[2018-09-25 03:51] GabrielMajeri commented on #54527
The C compilers make a distinction between "different calling conventions" and "same calling convention name, different ABIs".

GCC and Clang support [custom function attributes](https://gcc.gnu.org/onlinedocs/gcc/x86-Function-Attributes.html) which allow one to write `__cdecl __attribute__((ms_abi))` vs `__cdecl __attribute__((sysv_abi))`.

Also, this attribute has no effect on non-x86_64, so eve

[2018-09-25 04:12] SiegeLord commented on #10971
The error from 2016 still happens on Linux.

[2018-09-25 05:15] Havvy commented on #54525
`self` refers to the module that the path is in, not the scope it is in.

Personally, I think of the place of that module in the constant to be `self::_DUMMY::$0::some_mod` and we cannot refer to `$n` paths.

This is definitely also a duplicate of that issue.

[2018-09-25 05:29] hrektts commented on #25362
Sorry for late reply.
The error has been cleared with rustc 1.29.0. However, calculated hash values are different between powerpc (big endian) and x86_64 (little endian). Is it OK? The values are follows:

[code]

[2018-09-25 05:53] sdroege commented on #47115
@DutchGhost That (`rchunks_exact`) wouldn't be very difficult to implement, but IMHO should come together with a `rchunks`, `rchunks_mut`, `rchunks_exact_mut` for consistency.

I'll take a look but let's handle that as a separate issue to not block stabilization of `chunks_exact` by concerns for that new API :)

[2018-09-25 06:57] retep998 commented on #54423
Yep, this was fixed in a more recent nightly.

[2018-09-25 06:57] #54423 closed

[2018-09-25 07:33] hellow554 opened #54550 "Implement `find` for btree_map::Iter"
A Binarytree should be able to find its key in `O(Log(n))` time, instead is uses the linear implementation from the "generic" Iterator.

There should be an implementation of `find` for [`Iter`](https://doc.rust-lang.org/std/collections/btree_map/struct.Iter.html)

[2018-09-25 07:44] Stargateur commented on #54550
Isn't the purpose of [`get()`](https://doc.rust-lang.org/std/collections/btree_map/struct.BTreeMap.html#method.get) ?

[2018-09-25 07:54] hellow554 commented on #54550
Not exactly, but you're pointing at the right direction. You can't use the fact that the btree is binary ordered. I don't think that this will work out. :/

[2018-09-25 08:04] GuillaumeGomez commented on #20863
You add indent for every new sub-item. The space limit will get reached very quickly, that's why I'm not sure this is a good idea for rustdoc.

[2018-09-25 08:07] GuillaumeGomez commented on #25189
In the source view, the ids are literally line numbers.

[2018-09-25 08:11] arturoc opened #54551 "Compiler panics using rls"
While using rls the compiler seems to panic with the following error message:

[code]

[2018-09-25 08:47] rob-solana opened #54552 "panic in Receiver::recv_timeout()"
Receiver::recv_timeout() panics with large values of timeout

I tried this code:

[code]

I expected a blocking receive.

Instead, this happened:
[code]

https://play.rust-lang.org/?gist=4880602aa21f718bd8fa7e4826380218&version=stable&mode=debug&edition=2015

## Meta

rustc --version --verbose
[code]
Backtrace:
[code]

[2018-09-25 08:48] lu-zero opened #54553 "panic on failed dead code analysis"
[playground](https://play.rust-lang.org/?gist=328f9cc0e4ebf8a32a91d7b235dd1127&version=nightly&mode=release&edition=2018)

[code]
I would expect that the constant propagation pass would prune the `println!` and possibly issue a warning about it.

the result instead:
[code]

[2018-09-25 10:10] eddyb commented on #54408
cc @michaelwoerister @tromey I wonder what interaction (path rewriting?) causes this result.

[2018-09-25 10:50] lu-zero commented on #54553
It is also a surprising behavior in 2015, but that is probably due the fact the const-propagation pass and the unreachable code analysis are happening in a way different from clang and gcc.

[2018-09-25 11:53] michaelwoerister commented on #49013
This might be a side effect of ThinLTO which does some mangling of symbols. Maybe a `\0` prefix in the LLVM name could help here? (see https://llvm.org/docs/LangRef.html#identifiers)

cc @alexcrichton

[2018-09-25 12:01] #54429 closed

[2018-09-25 12:03] michaelwoerister commented on #38322
Yes, it's available on stable so I'm closing this issue.

[2018-09-25 12:03] #38322 closed

[2018-09-25 12:10] drewm1980 commented on #53827
@opus111 I am most certainly not a rust expert, but I bet the standard response would be to use the container types in the standard library, i.e. Vec. Depending on the application, increasing the allowable stack size may also be an option.

Is there a standard workaround for this (probably using unsafe for the cast) that works for any fixed size custom type?

[2018-09-25 13:33] hellow554 opened #54555 "Wrong link to rust book in note"
[code]

([Playground](https://play.rust-lang.org/?gist=eb9ebc74259b45a88d8b12ece4bcc023&version=stable&mode=debug&edition=2015))

Errors:

[code]

The note contains a wrong link

    [...]/ch19-04-advanced-types.html#dynamically-sized-types-and-sized

vs

    [...]/ch19-04-advanced-types.html#dynamically-sized-types-and-the-sized-trait

As easy as this fix could be, I grepped for the error and fou

[2018-09-25 14:19] steveklabnik commented on #54555
The second edition is frozen, and so that link will no longer change.

On Tue, Sep 25, 2018 at 9:34 AM Marcel Hellwig <notifications@github.com>
wrote:

[2018-09-25 14:20] steveklabnik commented on #25189
Right, this ticket is asking for

in addition to that.

[2018-09-25 14:21] steveklabnik commented on #28946
Will do :)

[2018-09-25 14:21] #28946 closed

[2018-09-25 14:28] yurydelendik commented on #54408
FWIW, `rustc +nightly hey.rs --crate-type=cdylib -g --emit=llvm-ir -o hey.ll` produces hey.ll that shows that !DIFile entries has the directory field empty (and the filename is relative)

[2018-09-25 14:30] yurydelendik commented on #54408
It is a regression, since +stable has absolute locations, e.g. `!47 = !DIFile(filename: "/Users/travis/build/rust-lang/rust/src/libcore/ptr.rs", directory: "")`

[2018-09-25 14:42] nikomatsakis commented on #53114
@matthewjasper what is the state of this issue now that #53438 landed?

[2018-09-25 14:46] pnkfelix commented on #53448
Discussed with @nikomatsakis. He theorizes it is part of collection of bugs around normalization. Its not really an A-NLL thing. So I'm removing that label.

[2018-09-25 14:48] nikomatsakis commented on #54499
So, we decided to echo existing borrowck behavior here, which *does* require a `mut` for.. no particularly good reason (this is https://github.com/rust-lang/rust/issues/21232, a long-standing issue). I did this as a performance optimization in https://github.com/rust-lang/rust/pull/53258 with the intention that we would expand the handling of immutable variables at some later point.

The simplest

[2018-09-25 14:49] antoyo commented on #54365
Same with `std::thread::spawn(|| { });`.

[2018-09-25 14:52] tathanhdinh commented on #53010
I fall in this problem too :),
@killercup do you know how to fix this?

[2018-09-25 14:54] nikomatsakis commented on #54302
@arielb1 I'm not really sure what your example is meant to illustrate. That said, running that on my branch gives an error:

[code]

This seems like the error I would expect, more or less. We try to use the impl to prove that `for<'a> &'a T: Foo` but we fail to do so (because of the side condition that it adds).

[2018-09-25 14:55] pnkfelix opened #54556 "NLL: diagnostic advising statementizing a block's tail expression."
Spawned off of #21114.

My new brain child for how to address the long standing issue of compiler error messages that seem to be "magically" resolved by adding a semi-colon is to try to improve our diagnostics so that 1. users are told up front about where adding a semi-colon might help and 2. users get an explanation as to why it matters.

[2018-09-25 15:07] pnkfelix commented on #21232
tagging with A-NLL because I think it makes a lot of sense for us to address any potential change in static semantics here as part of the overall NLL effort.

[2018-09-25 15:10] pnkfelix commented on #21232
tagging with NLL-complete under the assumption that the goal will be to start *allowing* one to read from the initialized fields of partially initialized structs.

[2018-09-25 15:16] michaelwoerister commented on #54408
@alexcrichton, could this have to do with https://github.com/rust-lang/rust/pull/53829?

[2018-09-25 15:18] nikomatsakis commented on #54208
@nnethercote two questions:

1. Are you still investigating here?
2. Do you know how the memory usage is distributed between the various dataflow computations?

[2018-09-25 15:19] nikomatsakis commented on #54208
I guess this answers my question:

[2018-09-25 15:26] nikomatsakis opened #54559 "suggesting for traits to import are not prefaced with `crate` in Rust 2018"
Consider this test case in Rust 2018 ([playground](https://play.rust-lang.org/?gist=ca7ad2cd8304f2f7f2323a88f6fc36fa&version=nightly&mode=debug&edition=2018)):

[code]

I get this error:

[code]

I would like to see `use crate::foo::Bar`, however.

[2018-09-25 15:32] killercup commented on #53010
Haven't looked into it yet, @tathanhdinh. I'll ask around and try to come up with an alternative. Until then, you should probably just import structopt directly.

[2018-09-25 15:37] alexreg opened #54560 "Confusing error message for `impl Trait` consts/statics that use generics"
#53542 introduced `impl Trait` bindings in consts and statics (along with let bindings), but of course they cannot be assigned a value of a generic type. The error message is presently a bit confusing:

[code]

Example:

[code]

A message like `cannot assign value of generic type to const or static of opaque type` would be better, I think (unless there's already a suitable error that can be reused

[2018-09-25 15:38] alexreg commented on #54560
In fact, when trying to use a generic-typed const in a fn, the error messages aren't very good either!

[Playground](https://play.rust-lang.org/?gist=d06c547ee421751a089f05aa16343826&version=nightly&mode=debug&edition=2015)

Errors:

[code]

[2018-09-25 15:45] yoshuawuyts commented on #54306
I just tried this out, and something that was unexpected for me was that it `dbg!()` can only take a single value. I think this might be because most other printers I've used to this point support this (e.g. JS `console.log(x, y)`, Rust `println!("{:?}, {:?}", x, y)`, Bash `echo $x $y`).

I didn't see this mentioned in the RFC anywhere, but it's possible this was brought up before and now falls un

[2018-09-25 16:01] SimonSapin commented on #54306
I suppose one alternative to the tuple discontinuity could be to return nothing at all when more than one argument is provided.

[2018-09-25 16:42] jackcmay commented on #52138
Looked like they were related, I'll remove

[2018-09-25 16:49] Mark-Simulacrum commented on #54559
Cc @alexcrichton @eddyb - I think there might already be a similar bug elsewhere, not sure

[2018-09-25 16:56] Xpyder opened #54562 "std::io::Seek's documentation about seeking beyond the end of a stream is confusing"
https://doc.rust-lang.org/std/io/trait.Seek.html
std::io::Seek

I got confused by this line and [wasted some people's time](https://internals.rust-lang.org/t/std-seek/8472) over on internals.rust

so after a little discussion it seems like this might be better wording for those of us who are silly

The hyphen makes it clear “implementation defined” is a known concept (and matches it’s usage elsewh

[2018-09-25 16:56] leonardo-m opened #54563 "Missing self_in_typedefs help message"
This code compiles with recent Nightly:

[code]

If I remove the feature, on Nightly:

[code]

It gives error messages but no suggestion to add the self_in_typedefs feature:

[code]

For some other features Rustc gives such help:

[code]

[code]

[2018-09-25 17:03] matthewjasper commented on #53114
Matching on a mutably borrowed place is now allowed when it could be. Matching on an uninitialized is still forbidden (which is not a regression from AST borrowck).

Never patterns should allow this to be fixed when they're implemented.

[2018-09-25 17:29] estebank commented on #54527
I believe the point is to make it configurable _on our end_, so that adding new `extern` targets can be done purely with metadata, instead of changing `rustc` code. That doesn't mean that developers would be _required_ to come up with their own files for any of the supported calling conventions ("C"/"uefi"), but it would enable them to come up with their own if needed (regardless on wether a `rust

[2018-09-25 17:33] alexcrichton commented on #54481
I've put this on our agenda to discuss, thanks for the cc!

[2018-09-25 18:11] nbari opened #54566 "typo in the cargo login message"
The message that appear when typing `cargo login` has a typo making think there is a new tld `creates.iome`

![Imgur](https://i.imgur.com/Dq3AOEN.png)

[code]

[2018-09-25 18:36] tromey commented on #52452
Yes, we do.  Somewhere also there was a PR that built a local gdb in travis.  Though now that 8.2 is officially out perhaps it isn't too hard to upgrade some config somewhere.

[2018-09-25 18:36] shepmaster commented on #54520
Do you also suggest adding examples using a closure?

I think it would be better to highlight that these functions take a [`Pattern`](https://doc.rust-lang.org/std/str/pattern/trait.Pattern.html), link to that documentation, and show examples of all the [standard library provided implementations](https://doc.rust-lang.org/std/str/pattern/trait.Pattern.html#implementors). This reduces redundancy.

[2018-09-25 18:37] Xpyder commented on #54562
Thanks @shepmaster, I know other projects I've worked with have Easy and Documentation as tags so I wasn't sure if you guys might do the same

[2018-09-25 18:38] shepmaster commented on #54520
Also worth noting that `Pattern` is unstable and there's an [RFC out there to improve it](https://github.com/rust-lang/rfcs/pull/2500) /cc @kennytm .

[2018-09-25 18:39] shepmaster commented on #54562
Yep, they're just actual labels over on the right ;-)

[2018-09-25 18:44] superriva commented on #32859
Is it possible to move away from "-C panic=abort" for i686-pc-windows-gnu target?

[2018-09-25 19:12] GuillaumeGomez commented on #25189
I have difficulties to understand what need it would fulfil...

[2018-09-25 19:14] Centril commented on #54306
The original RFC, https://github.com/rust-lang/rfcs/pull/2173, considered it and dealt with this by giving you back a tuple; e.g. `dbg!(a, b, c) : (typeof(a), typeof(b), typeof(c))`. If we're going to support multiple arguments then I think that is the natural approach. Not returning anything would be surprising imo.

[2018-09-25 19:20] froydnj opened #54569 "aarch64-pc-windows-msvc target needs to treat `extern "stdcall"` like `extern "C"`"
Compiling code like:

https://github.com/jcjones/u2f-hid-rs/blob/ea7244febb010bb8e02c5e01dd6f2b9a0082884a/src/windows/winapi.rs#L22-L49

results in:

[code]

presumably because `rustc` attempts to translate it into an x86-specific ABI, which the AArch64 backend rightly rejects.

`clang` already ignores `__stdcall` for non-x86 targets:

https://reviews.llvm.org/D36105

I'm not completely sure what

[2018-09-25 19:27] SimonSapin commented on #54306
And, to repeat the argument there: if `dbg!(a, b, c) : (typeof(a), typeof(b), typeof(c))` and `dbg!(a, b) : (typeof(a), typeof(b))` etc, should `dbg!(a) : (typeof(a),)` (a one-item tuple)? If not, why not?

[2018-09-25 19:28] jdm commented on #25189
Me too! No need to debate this further; github links to specific revisions work fine.

[2018-09-25 19:28] #25189 closed

[2018-09-25 19:38] Centril commented on #54306
@SimonSapin because if you consider `(a)` then `typeof( (a) ) == typeof( a )`, but if you consider `(a, b, c)` then `typeof( (a, b, c) ) == ( typeof(a), typeof(b), typeof(c) )`, and finally if you consider `(a,)` then `typeof( (a,) ) == ( typeof(a), )`.

I think the consistent thing to do if you want to pass multiple arguments is to consider what the result would be if you removed the prefix `dbg!

[2018-09-25 19:38] nikomatsakis commented on #54332
I'm assigning this to @KiChjang since it is a good follow-up to the work they've been doing

[2018-09-25 19:39] pnkfelix commented on #54528
triage of unassigned milestone issues at NLL meeting, assigning to self

[2018-09-25 19:41] nikomatsakis opened #54570 "handle user type annotations in NLL for complex patterns"
One of the major remaining items for https://github.com/rust-lang/rust/issues/47184 is that we do not handle user-type annotations around "complex patterns", like `let (x, y): (T, U)`. I described my [plan for how to handle this](https://github.com/rust-lang/rust/issues/47184#issuecomment-420041056) in a comment earlier. The basic idea is that a user type annotation should be tracked as not only a

[2018-09-25 19:44] pnkfelix commented on #54570
triage of unassigned milestone issues at NLL meeting, assigning to self

[2018-09-25 19:47] nikomatsakis opened #54571 "nll: respect user type annotations with constants in expressions"
Breaking out from https://github.com/rust-lang/rust/issues/47184 as a subtask:

We need to respect user annotations when referencing constants in expressions. First job: come up with some test cases.

[2018-09-25 19:47] cuviper commented on #54562
Don't worry about that!  It's very easy for developers to misjudge whether such descriptions will make sense to the target users.  Pointing these things out is a great way to contribute to documentation.

[2018-09-25 19:47] alexcrichton commented on #54569
Sounds like a good place to me!

[2018-09-25 19:48] Centril commented on #54563
cc @alexreg and https://github.com/rust-lang/rust/issues/49303

[2018-09-25 19:48] nikomatsakis commented on #54571
Assigning to myself to investigate, write up some instructions, etc

[2018-09-25 19:52] nikomatsakis opened #54572 ""approximate check" for outlives relations can miss matches"
Per [this comment](https://github.com/rust-lang/rust/pull/54453#issuecomment-424053852), the current system for handling outlives obligations relies on an "approximate" match for outlives relations that is actually kind of flawed in some edge cases, which can lead to us overconstraining inference:

Originally, I had intended to fix this by using the "type relation" code from the NLL type checker,

[2018-09-25 19:53] Centril commented on #53114
@matthewjasper so with respect to Niko's table in https://github.com/rust-lang/rust/issues/53114#issuecomment-411879004 how is the situation now?

[2018-09-25 19:57] nikomatsakis opened #54573 "nll should respect lifetime annotations from patterns"
The following test passes NLL, but ought not to:

[code]

As does this one:

[code]

Broken out from https://github.com/rust-lang/rust/issues/47184

[2018-09-25 19:59] matthewjasper commented on #53114
It looks like the table in #53438

[2018-09-25 20:00] nikomatsakis commented on #54573
This ought to be able to re-use the existing pattern ascription nodes in the HAIR. I imagine we will store the substs into [the `user_substs` field](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/struct.TypeckTables.html#structfield.user_substs) and then read them out when constructing HAIR, similar  to what we are doing for ADT expressions:

https://github.com/rust-lang/rust/blob/31789a

[2018-09-25 20:05] nikomatsakis opened #54574 "nll should respect lifetime annotations from multi-segment paths"
This example should not compile:

[code]

But it does =)

[2018-09-25 20:06] Centril commented on #53114
@matthewjasper cheers;

I guess the pressing thing to do is to change `let _ = <unsafe-field>` to X then per "Want"?
The other "discrepancies" are about being more permissive so it can be adjusted later...?

[2018-09-25 20:10] estebank commented on #54563
The `help` needs to be added here

https://github.com/rust-lang/rust/blob/31789a658bb6b6c78da1f2b99a5f169e4e8b983b/src/librustc_resolve/lib.rs#L2998-L3007

You can see [how such a `help` text was added in the past](https://github.com/rust-lang/rust/commit/383a5df58cf29e640b1b77da301825a5abc86ce7#diff-c2552a106550d05b69d5e07612f0f812R997).

[2018-09-25 20:18] Centril commented on #54306
@SimonSapin I inserted the space to make the consistency I'm talking about more clear ;)

I think it is useful to think *specifically* about `dbg!` (rather than other macros...) in terms of what happens when you remove it, because that is how I think it will be used; e.g. you tack on `dbg!` and what tacked it onto gets printed.

For example, one starts out with `let foo = (a, b);`, then one just c

[2018-09-25 20:19] GuillaumeGomez commented on #16178
Actually we can already add data in headers through `--html-in-header` option. Closing it then.

[2018-09-25 20:19] #16178 closed

[2018-09-25 20:41] SimonSapin commented on #54306
I feel strongly about this.

It seems that proposing otherwise was only a reaction to my earlier comment about the discontinuity between the single-arg v.s. multiple args. I’d rather live with that discontinuity than making a trailing comma significant.

[2018-09-25 20:44] SimonSapin commented on #54306
This seems like a *very* artificial example constructed specifically for this argument. I think it is exceedingly rare that the debugged expression just happens to be a tuple literal. The normal case is that you add `dbg!(` and `)` around an expression, not just `dbg!` with parens that just happen to already be in the right place.

[2018-09-25 20:45] nnethercote commented on #54208
@nikomatsakis: I have run out of ideas on this one.

If it helps, here is what the `flow_uninits` looks like, where each line represents a row (i.e. a BB) and shows the number of set bits plus the total number of bits (which is rounded up to the nearest multiple of 64, because `BitSet` uses 64-bit words):
[code]
In other words, it is 25994 x 94976 bits (308.6MB), and the rows start off almost enti

[2018-09-25 20:51] opus111 commented on #53827
@drewm1980 Thanks.  I am also not an expert, but wouldn't a container also be allocated on the stack?  My understanding is that Box or box is how one specifies that memory is not on the stack.

Surely, somebody is using Rust for large objects (e.g. images).  How is it done?  Does one have to be unsafe and call C?

[2018-09-25 20:53] SimonSapin commented on #54481
`char::is_alphanumeric` is only used in munch in a test. The test happened to use `²` as a character where that method was expected to return false, but there doesn’t seem to be a reason why this couldn’t be any other character, like some punctuation. The test is not about alphanumeric-ness, that’s just a `char -> bool` function that happened to be readily available.

I was somewhat ambivalent abo

[2018-09-25 20:53] Centril commented on #54306
If you are not tacking on `dbg!` onto an already existing expression such as `(a, b)` or `(a,)` - which I do agree is the normal case, then it seems to me that `dbg!(a, b);` (note the semi) is being written specifically to write things faster and to save characters (e.g. for ergonomics).

However, writing `dbg!(a,);` seems like a mistake some one made and not something written intentionally; if yo

[2018-09-25 20:57] sfackler commented on #53827
You could use a `Vec` rather than a fixed size array, or use the allocation APIs to have lower level control over initialization if you do need the fixed size: https://doc.rust-lang.org/std/alloc/index.html

[2018-09-25 21:09] tromey commented on #52452
It was #53497, but I'm also talking with Matthias Klose about getting a newer gdb into the Ubuntu toolchain PPA, which would be a lot simpler I think.

[2018-09-25 21:12] daym commented on #34902
Rust 1.22.1 has a reproducibility problem in liblibc's rust.metadata.bin .The symbols in there seems to be shuffled (example: `getutxent`).

[2018-09-25 21:34] arielb1 commented on #54302
BTW, the `has_late_bounds_region` check looks like it happened because I used `is_global` there, and @matthewjasper added an explicit check when he changed the predicate in #48557 to exclude late-bound regions.

[2018-09-25 21:47] QuietMisdreavus commented on #49553
I've opened https://github.com/rust-lang/rust/pull/54577 to make rustdoc properly document proc-macros, but there's a wrinkle that means their re-export is still a little awkward (though it's better than before).

[2018-09-25 21:56] pnkfelix commented on #54556
(It has been duly noted that whatever this diagnostic is, it is not allowed to contain the newly coined word "statementize" or any derivative thereof.)

[2018-09-25 21:58] sgrif opened #54578 "Rust claims that `Ok(T)` is the same as `&T`"
Steps to reproduce:

- Have a function that takes a reference
- Call that function passing an expression using `?`
- Forget an `&`

Example code: https://play.rust-lang.org/?gist=c75cddbb4c5d8a1b63ec11dc3c5bca43&version=stable&mode=debug&edition=2015

Output:

[code]

Expected output:

[code]

[2018-09-25 22:03] sgrif commented on #54578
The error used to be mostly correct at least as recently as 1.26.1 (I don't have 1.27 or 1.28 installed to quickly check), though "mismatched types" read "match arm with an incompatible type". I suspect this regression occurred in whatever commit fixed that bug.

[2018-09-25 22:03] matthiaskrgr commented on #53681
Here are the size change numbers of some tools (sizes in bytes):

| binary | master | inline | diff | delta |
|-|-|-|-|-|
|cargo|12852720|12900008|+47288|+0.36% |
|clippy-driver|5561512|5579672|+18160|+0.34%|
|rls|22212128|22347944|+135816|+0.61% |
|rustfmt|7744464|7768376|+23912|+0.30% |

[2018-09-25 22:30] pawroman commented on #54505
Thanks for your guidance @varkor and @estebank, much appreciated. I have dug into HIR and built-in ranges a bit more.

Decided to check all the built-in range types and concluded they are all affected by this problem, it's not just `RangeInclusive`.

The following test I came up with demonstrates my intended fix (fails with nightly as well as stage 1 compiled from master): https://gist.github.com/

[2018-09-25 22:32] xieyuheng opened #54579 "rust rejects functions of the same type, when a Fn trait bound is used."
(I am on nightly)

when impl Trait is used, it is fine :: https://github.com/xieyuheng/sicp-rs/blob/2d1a7cdae50eb1e7abfa8b01deaf1fa7a6b97072/sicp/src/ch_1_3.rs#L81
[code]
but when trait bound is used :: https://github.com/xieyuheng/sicp-rs/blob/2d1a7cdae50eb1e7abfa8b01deaf1fa7a6b97072/sicp/src/ch_1_3.rs#L58
[code]
I got the following error :: https://github.com/xieyuheng/sicp-rs/blob/2d1a7cdae50eb

[2018-09-25 22:38] Mark-Simulacrum commented on #54579
This isn't a bug; you'll need two separate type parameters/generics for the non-impl trait version.

[2018-09-25 22:38] #54579 closed

[2018-09-25 22:42] xieyuheng commented on #54579
@Mark-Simulacrum
Do you care to explain why  `fn(f64) -> f64 {ch_1_3::cube}` and `fn(f64) -> f64 {ch_1_3::with_sum::inc}` are different types ?

[2018-09-25 22:45] xieyuheng commented on #54579
or the rational behind this "feature" ?

[2018-09-25 22:47] upsuper commented on #54579
It seems that casting to function pointer works:
[code]

It's not clear to me why they cannot be accepted directly. Maybe each function does have different types?

[2018-09-26 00:00] estebank commented on #54505
I think you can match on all of these with something along the lines of (pseudocode):

[code]

[2018-09-26 00:15] petrochenkov commented on #54463
Fixed in https://github.com/rust-lang/rust/pull/54581

[2018-09-26 01:16] #42013 closed

[2018-09-26 01:16] #54471 closed

[2018-09-26 02:16] Mark-Simulacrum commented on #54579
Casting to a function pointer introduces dynamic dispatch, so it's not quite equivalent. Functions each have their own type because there's not really any other type they could have. Generally we direct questions towards users.rust-lang.org or stack overflow.

[2018-09-26 02:36] hallcristobal opened #54582 "Index out of bounds panic when compiling project"
When compiling my project [TPGZ](https://github.com/hallcristobal/TwilightPrincessDebugMenu)
on the branch "crashing" (which just has a lot of irrelevant things commented out) commenting out this array https://github.com/hallcristobal/TwilightPrincessDebugMenu/blob/b629f10f29810c3db4c5205619d71c79e552de1b/src/warping/statics/cave.rs#L53
(and the same similar arrays from the other files in that dir

[2018-09-26 03:02] Mokosha commented on #31302
I don't know I unfortunately donated my PPC machine after moving to a much smaller apartment in the cit. 😕

[2018-09-26 04:58] vladglv opened #54583 "Release builds using AVX code produce incorrect output"
# Code

[code]
# Output

The expected output is
[code]
The actual output is
[code]

# Notes
- The code built in debug mode produces the expected result. This issue only occurs in a release build.
- Using `_mm` instead of `_mm256` results in correct output in both debug and release mode.
- Code using only `_mm` or `_mm256` yields the same performance (I have another piece of code for that. I can pr

[2018-09-26 05:31] yageek commented on #35968
With the merge of #48896, is it supposed to work out of the box?

[2018-09-26 06:32] leonardo-m commented on #54582
Could you create and copy here a minimized example of the problem?

[2018-09-26 06:47] zackmdavis commented on #54578
Related to #52537 (which regressed in #51938, sorry :cold_sweat: ).

[2018-09-26 06:50] eddyb commented on #30827
@petrochenkov Would it be a good idea to integrate stability / deprecation with visibility a bit more?
That is, the result of path / associated item / field / etc. name resolution can be:
* accessible
  * optionally deprecated
* not accessible, because it's:
  * private
  * unstable

And these would compose across the entire import chain to that destination.

However, one complicated aspect is how

[2018-09-26 07:06] sdroege commented on #47115
With that done, how do we go from here to stabilization?

[2018-09-26 07:17] pawroman commented on #54505
Right, that's what I had in mind, but was also wondering if something like a check for [`RangeBounds`](https://doc.rust-lang.org/std/ops/trait.RangeBounds.html) trait would work better.

I guess want to match against built-in range literals though. Here's how I rationalize it: because they are parsed and desugared by the compiler, the check needs to be explicit and hardcode all paths to builtin ra

[2018-09-26 08:04] eddyb commented on #53486
@alexcrichton How does #53829 impact this? Perhaps, for paths starting with `/rustc/<hash>` (if the hash matches the one the compiler "remembers" as its own?) look in the sysroot for sources?

We'd have to make sure this works for *both* `rustup` and distros.

[2018-09-26 08:16] eddyb commented on #54444
@estebank Both "stuck in an infinite loop" and "panics" are *different* from "infinitely *self*-recurses".

What we want to detect is *unguarded* *self*-recursion, that is, when *you forgot* to check some condition that would give you a convergent *or divergent* "base case", that would stop the infinite recursion.

The message of the lint doesn't help my point, it should be more clearly about "inf

[2018-09-26 08:28] nicokoch commented on #54583
shouldn‘t be a ’#[target_feature(enable = "avx2“)]’ in there?

[2018-09-26 08:43] nicokoch opened #54584 "#[target_feature(enable = "avx2")] can be applied to non-functions, but doesn't do anything"
[Playground link demonstrating the problem](https://play.rust-lang.org/?gist=3be94bfbac4854bd5bfa98638d4e6bb6&version=stable&mode=release&edition=2015)

[Playground link when it works](https://play.rust-lang.org/?gist=f54e9bd36a36075b2e0fdd7387b70ecf&version=stable&mode=release&edition=2015)

The compiler should tell me that the annotation will not do anything (in the first case)

[2018-09-26 08:50] drewm1980 commented on #53827
@opus111 for images consider the ndarray crate. The standard libraries, and libraries like ndarray are doing heap allocations internally. They're probably using unsafe{} blocks internally, but it's OK, writers of standard libraries tend to know what they're doing.

Rust, like C, kept the core language very small. Like in C memory allocation is handled in a library, not at the language level. Synta

[2018-09-26 09:00] phansch commented on #54454
This seems to be a duplicate of https://github.com/rust-lang/rust/issues/53505

[2018-09-26 09:15] xieyuheng commented on #54579
I will go to the forum for the question ::
https://users.rust-lang.org/t/rust-rejects-functions-of-the-same-type-when-a-fn-trait-bound-is-used/20746

This is wrong, because the type of functions are function type (arraw type).

[2018-09-26 09:16] arturoc opened #54585 "error building docs for typenum with nightly"
[code]

[2018-09-26 09:26] pnkfelix commented on #54528
Note: This is assigned to me, but I don't actually intend to start working on it there are fewer diagnostic changes in flight. In particular, I at least plan to address #54556 first

[2018-09-26 09:26] levex commented on #54376
This will be fixed by #54568, which checks whether the constraints make sense for the inline assembly.

[code]

Although, it looks like the error message isn't particularly helpful at this point.

[2018-09-26 09:28] michaelwoerister commented on #10732
I tested with the following program:
[code]
Compiling that with `-Ccodegen-units=1` gives me the following `nm` output for the main object file:
[code]
It looks like the `Drop::drop` method and all `drop_in_place` instances are _internal_.

[2018-09-26 09:55] levex commented on #51018
I am unable to reproduce this on a Linux box: https://gist.github.com/levex/c9f77d7721463ddb26e229ef512037a2

Does this still reproduce on macOS?

[2018-09-26 10:14] rkruppe commented on #54583
Looks like a duplicate of #50154 at a glance.

[2018-09-26 10:30] petrochenkov commented on #54472
It actually won't help with regressions here, I've misinterpreted the error messages.

The ambiguities in listed crates are "`macro_rules` definition" vs "macro in module".
They need some disambiguation scheme similar to "`let` variable" vs "item in block", but at module level.
[code]

[2018-09-26 10:42] petrochenkov commented on #10732
IIRC, executables internalize almost everything?
What happens if it's a library?

[2018-09-26 10:58] pnkfelix opened #54586 "NLL: unused_mut lint triggered by `for _ in <unreachable>`"
Consider the following code ([play](https://play.rust-lang.org/?gist=64782aed5cd427f5249c7cba182db7a8&version=nightly&mode=debug&edition=2015)):

[code]

It signals the following diagnostic:

[code]

Which is pretty nonsensical in appearance.

(It almost certainly arises due to a *legitimate* `mut` appeared in the expansion of `for`. We probably just need to check whether a `mut` that has been int

[2018-09-26 11:56] pnkfelix commented on #54586
putting on the RC2 milestone under the assumption that this should be relatively straight-forward to resolve.

[2018-09-26 12:13] d33tah opened #54587 "rustc error: thread 'main' panicked at 'assertion failed: !substs.has_erasable_regions()', librustc_trans_utils/symbol_names.rs:169:9"
rustc version: `rustc 1.27.0-nightly (48fa6f963 2018-04-05)`

example dependencies: `image = "0.20.0"`

Test code:

[code]

**Expected behaviour:** compiler either shows a problem with the code or compilation succeeds
**Actual behaviour:** compiler crashes.

[2018-09-26 12:16] d33tah commented on #54587
Actually, this doesn't happen anymore under `rustc 1.30.0-nightly (4141a4079 2018-09-25)`, so I'm closing it.

[2018-09-26 12:16] #54587 closed

[2018-09-26 12:56] runiq commented on #34511
Triage: https://github.com/rust-lang/rust/pull/53542 has been merged, so the ticky boxes for `{let,const,static} foo: impl Trait` can be checked, I think.

[2018-09-26 13:04] pnkfelix commented on #52701
On the playground currently, I see an ICE on stable, but no ICE on beta or nightly.

Playground links:
 * [stable](https://play.rust-lang.org/?gist=ea44d240129633e1e0a7e1e6d9ac1fcf&version=stable&mode=release&edition=2015)
 * [beta](https://play.rust-lang.org/?gist=e9f96f0849a60b00c8b739e3129fc79e&version=beta&mode=release&edition=2015)
 * [nightly](https://play.rust-lang.org/?gist=da88d48a4c30321

[2018-09-26 13:36] tromey commented on #54434
I'd suggest sending the patch as a PR to the aforementioned libbacktrace repository, then once it lands, also update the libbacktrace in rust-lang-nursery.

[2018-09-26 13:41] hallcristobal commented on #54582
I was able to get this to throw have the same panic
[code]

If you remove the `B` type from `Enum`, it will not panic.
The length of `ARRAY` does not seem to effect it.

Should note this is on a slightly newer compiler (just performed rustup update on my current computer before performing this)
[code]
Backtrace:
[code]

[2018-09-26 13:48] pnkfelix commented on #52701
Did some bisection. Unfortunately we don't have nightlies from nightly-2018-08-{20,21,22,23}-x86_64-unknown-linux-gnu...

But the ICE replicates with nightly-2018-08-19-x86_64-unknown-linux-gnu, and goes away with nightly-2018-08-24-x86_64-unknown-linux-gnu:

More complete transcript in details block:

<details>

[code]

</details>

[2018-09-26 13:51] pnkfelix commented on #52701
And in this details block is the `git log` output covering the commit series between the aforementioned builds of rustc:

<details>

[33mcommit 63d66494aff57411bfec1dd2a3a5f1af900feab6[m
Merge: 5ce5e08606 cd8fcb6140
Author: bors <bors@rust-lang.org>
Date:   Thu Aug 23 22:52:29 2018 +0000

    Auto merge of #53638 - flip1995:clippy, r=nrc

    Update clippy

    r? @oli-obk @Manishearth

[33mcom

[2018-09-26 13:52] michaelwoerister commented on #10732
For a `staticlib` it will be internalized too. For an `rlib` it gets external linkage (like any other trait method would). But is there a way around that? How else would a downstream crate call `drop()`?

[2018-09-26 13:54] pnkfelix commented on #52701
Oh right, its often more useful to filter down to *just* the bors commits, so that we get a high-level view of the PR's that were merged. Here's a new version of the `git log` output with that filter applied:

<details>

`git log --author bors 33b923fd4..63d66494a` produces:

[33mcommit 63d66494aff57411bfec1dd2a3a5f1af900feab6[m
Merge: 5ce5e08606 cd8fcb6140
Author: bors <bors@rust-lang.org>
Date

[2018-09-26 13:57] pnkfelix commented on #52701
Based on skimming over the log in the previous comment, the most likely contender for which commit fixed this bug is most likely f28f648a9699db67b86735f97d609c3dd06f9ded aka PR #53316

[2018-09-26 13:59] pnkfelix commented on #52701
I guess I'll nominate PR #53316 for potential backporting (with the condition that any hypothetical backport should be accompanied by validation that the backported PR actually *is* fixing this bug).

[2018-09-26 14:04] pnkfelix commented on #52701
Hmm. It is also worth noting that the issue fixed by PR #53316, namely Issue #52985, explicitly *refers* to this one, saying that the message is similar but the code is "very different"

Nonetheless, from reading over PR #53316, it seems to me like it really did end up explicitly covering cases like this one here on Issue #52701, and it was just an oversight that it wasn't tagged as fixing it...?

[2018-09-26 14:10] kzys commented on #13698
Probably these need to strip methods that are inherited from hidden methods.

https://github.com/rust-lang/rust/blob/master/src/librustdoc/passes/strip_hidden.rs
https://github.com/rust-lang/rust/blob/master/src/librustdoc/passes/mod.rs#L191

[2018-09-26 14:16] Aloxaf commented on #54454
You are right. Thank you.

[2018-09-26 14:16] #54454 closed

[2018-09-26 14:20] marce11us opened #54588 "'specified instant was later than self' when compiling libc on aarch64 with rust-nightly"
compiling libc fails when compiling on aarch64 with rust-nightly. It works with stable, as well as with nightly on x86_64.

[code]

## Meta

[code]

Backtrace:

[code]

[2018-09-26 14:47] alexcrichton commented on #49013
Yes `ThinLTO` is what manufactures the `rust_panic.llvm.5A8AA348` symbol and that's because it's not listed as `#[inline(never)]` I believe, I'll send a PR to fix that.

[2018-09-26 14:49] Visic opened #54589 "no_std project broken after 9/15 nightly"
The code below compiles using the 9/15 nightly (nightly-2018-09-15-i686-pc-windows-msvc), but fails to compile since then.

----Code---------------------------------------------------------------------
[code]

----Cargo.toml--------------------------------------------------------------------
[code]

----Build Output---------------------------------------------------------------------

[2018-09-26 14:52] alexcrichton commented on #49013
https://github.com/rust-lang/rust/pull/54590

[2018-09-26 14:56] alexcrichton commented on #47115
The next step would be FCP, but this issue is [already in FCP](https://github.com/rust-lang/rust/issues/47115#issuecomment-377531920). It has a blocking concern that would need to be resolved by @SimonSapin to make progress (assuming there's consensus about what to do with panicking)

[2018-09-26 15:05] jonas-schievink commented on #54589
probably caused by https://github.com/rust-lang/rust/pull/54116 and not a bug

[2018-09-26 15:12] opus111 commented on #53827
Thanks drew and steven.  I am trying to avoid putting this object on the stack, because it is too big.  I am surprised to learn that  "to get an object on the heap, you have to first create it (on the stack...and pass it into a library function that does the heap allocation and a copy.".  That doesn't sound very efficient :-(

Thanks for the pointer.  Its not an image, but I'll try ndarray

[2018-09-26 15:37] tromey commented on #52452
FWIW testing locally I can only get failures with gdb 8.2 and later, not 7.11 or 8.1.  Perhaps Ubuntu's "8.1" is actually based on something later.  This may complicate the version check.

[2018-09-26 15:59] alexcrichton commented on #54408
Ok so the change here can be exhibited with this script:

[code]

If you execute that script you see:

[code]

but if you remove `--remap-path-prefix` you see:

[code]

It appears that if upstream crates (like libstd) use `--remap-path-prefix` then their filename is listed as the original relative source file instead of the absolute path name that it had previous to #53829 when it wasn't compiled

[2018-09-26 16:06] Laaas commented on #53487
What parts haven't been implemented?

[2018-09-26 16:29] nagisa commented on #54462
cc @rust-lang/compiler this is probably a soundness issue. I’m not sure if it can be exploited to do bad things to memory, but I marked it as such to be safe.

[2018-09-26 16:47] memoryruins commented on #53827
It appears ``Box::new([-1; 3000000])`` overflows the stack compiled with default debug, but not when compiled with ``--release``.

[``Vec``](https://doc.rust-lang.org/std/vec/struct.Vec.html)'s method [``into_boxed_slice()``](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.into_boxed_slice) returns a ``Box<[T]>``, and does not overflow the stack on either debug or release for me.
[code]
A

[2018-09-26 16:59] eddyb opened #54593 "NLL type-checking ICEs on closure recursing on impl Trait-returning enclosing function."
This compiles as expected:
[code]
This, however, does not, since today (suspecting it's #53542):
[code]
Each inner closure, because it calls its parent function, causes this ICE: "equate_inputs_and_outputs: `impl std::marker::Copy==impl std::marker::Copy` failed with `NoSolution`".
(you only need one of `foo` or `bar`, but I left both in for contrast with the first example)

I suspect each `impl C

[2018-09-26 17:14] tromey commented on #52452
Well, that seems wrong to me now.

The test says:
[code]

And when I update the Dockerfile and run the tests I get:
[code]

I *think* what is happening here is that LLVM is not emitting `DW_AT_enum_class` on these enums.  I'm not sure how to dig this out of the docker build but I saw this while working on #54004, which is why that patch has the `IsFixed` enum stuff.

This applies to the C-style en

[2018-09-26 17:32] Gankro commented on #54470
The value of this seems dubious, considering (iirc) RawVec needs to have two "notions" of capacity (stored vs effective) to make it easier to work with ZSTs, and the whole thing would make code a bit more unclear.

[2018-09-26 17:34] Visic commented on #54589
Thanks for your help @jonas-schievink I wound up needing to add an extern crate for alloc and change some "use" statements around a little. I should have guessed the extern crate because of the "Could not find alloc in {{root}}" message, but the "duplicate lang item" ... "note: first defined in crate std" lead me to assume there was some sort of bug, since I should have no reference to std to begi

[2018-09-26 17:34] #54589 closed

[2018-09-26 18:04] #54131 closed

[2018-09-26 18:18] ehuss opened #54594 "1.31 version nightly"
I noticed the version of nightly is still 1.30, and I was wondering if updating that is waiting for something?  Just slightly confusing, not critical to me.

[2018-09-26 18:29] tromey commented on #52452
I do see some differences with gdb 8.2.  For example:
[code]
Here the `<f64>` is new.  I believe this is due to a gdb change in advance of #54004, changing how Rust enums are represented internally in gdb.

Since Matthias put gdb into the [Ubuntu toolchain PPA](https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test) perhaps instead we can just update to 8.2 and go from there.  I'll give it

[2018-09-26 18:47] steveklabnik commented on #31302
Okay! Sorry to hear that :(

Since nobody else has commented, I'm going to close this issue. If anyone else sees this come up, please let me know!

[2018-09-26 18:47] #31302 closed

[2018-09-26 18:58] Mark-Simulacrum commented on #54594
I think we haven't bumped the beta compiler yet, I'll go ahead and make that PR soon.

[2018-09-26 19:20] fschutt commented on #54508
So my question then is... why isn't it implemented? Or is this the actual bug? Even after https://github.com/rust-lang/rfcs/pull/387 is merged (four years ago?), this still doesn't work, so maybe it's just an issue in the standard library? But you can't impl derive for all possible function pointers:

[code]

This is insane. You can't prepare for any function signature. What I don't get is that it

[2018-09-26 19:37] varkor commented on #54586
This should be fixed in https://github.com/rust-lang/rust/pull/54125, when it's merged.

[2018-09-26 19:58] greaterfool opened #54595 "Rust Nightly, Issue with Diesel 1.3.3 (Won't Compile)"
When trying to build Diesel 1.3.3 using rustc 1.30.0-nightly (4141a4079 2018-09-25), I get the following error:

[code]

[2018-09-26 20:36] shepmaster commented on #53500
The documentation suggests:
[code]

I'd argue this is actively non-idiomatic Rust. It is better to use `flatten`

[code]

I'm bringing this up here because if we can't have good examples, perhaps the feature doesn't carry it's own weight.

[2018-09-26 20:40] shepmaster commented on #53500
The documentation suggests using `identity` to "do nothing among other interesting functions" and "that changes nothing in a conditional" (which are really the same example). I think this is very weak motivation because it cannot be used with a function of different arity:

[code]

[code]

[2018-09-26 20:48] #53121 closed

[2018-09-26 20:48] #53789 closed

[2018-09-26 21:12] nikomatsakis opened #54600 "`impl_trait_in_bindings` fails with `Option<impl Trait>`"
This example ICEs:

[code]

The reason is that the code which chooses when to "reveal" opaque types looks only for opaque types at the top level (and, oddly, it does so only if ordinary unification fails; having code that branches based on whether unification succeeded is in general a bad idea, so we should fix that too):

https://github.com/rust-lang/rust/blob/c7df1f530b8a88f471e60e933868e7ddf456

[2018-09-26 21:14] nikomatsakis commented on #54600
Another relevant example:

[code]

This fails to compile, which seems correct, though I'm not sure precisely what semantics we want.

Alternatively, we may want to encode the `impl Debug` sort of thing as a kind of cast that "obscures" the underlying type? Have to think about it.

[2018-09-26 21:31] withoutboats commented on #54479
We discussed this in the meeting today and decided that it was a bug fix. Package names should not allow spaces.

[2018-09-26 21:31] #54479 closed

[2018-09-26 21:33] tromey commented on #52452
I'm going to put this into the #54004 series to avoid making extra rebasing work for myself.  But first I think we're going to need a way to specify the maximum LLVM version in the tests so we can continue to properly test fallback cases.

[2018-09-26 21:48] Havvy commented on #54555
For this specific case, just fixing it with `sed` is probably a good idea. For future proofing though, perhaps `linkcheck` could be amended to fix that? Though that's probably non-trivial.

[2018-09-26 21:50] Havvy opened #54602 "linkcheck should check links in diagnostics messages"
The linkcheck tool does not check that links emitted by diagnostics messages are correct. E.g. we have at least one wrong link as per issue #54555. It would be useful to have linkcheck be able to check those links.

[2018-09-26 22:03] alexreg commented on #54600
@nikomatsakis I think the second example works exactly as intended (and as the RFC specifies). It's intuitive to me, at least.

You're right about the first example; that's the wrong way to go about it. I didn't see a better approach at the time though, and I forgot about it while solving other issues. The lowering and type checking is basically okay, that said... it's the NLL borrow checking that

[2018-09-26 22:11] Kerollmops commented on #54285
An idea just crossed my mind but why wouldn’t we implement `FromIterator` on a tuple of type `(FromIterator, FromIterator)` which will work only for Iterator of tuples.

`impl FromIterator<T, U> for (X, Y) where X: FromIterator<T>, Y: FromIterator<U> { ... }`

(sorry I am on mobile, I will rewrite this in a couple of hour)

[2018-09-26 23:53] vadimcn commented on #48168
Regarding Python dependency on Linux:  I doubt that any distro will drop Python 2.7 before 2020, even if it might not be the default.  So for the [next year](https://pythonclock.org/)  we could ship LLDB linked to Python 2.7.

Some time after that, Python 2 will start going extinct, so we'll need to switch to Python 3.  Which is going to be a headache, because a new version comes every once in a w

[2018-09-27 00:04] pawroman commented on #54505
All clear now, thanks. I have succeeded in matching all range types and getting the test to pass. Needs some cleanups, but hopefully should be ready for PR soon. I have a few more questions before that though :smile:

I have noticed that most of my code would actually be irrelevant if I re-used functions and constants defined in `clippy`, e.g.:

https://github.com/rust-lang-nursery/rust-clippy/blo

[2018-09-27 00:07] ehuss commented on #54555
I'm a little confused.  This should have been fixed in #53082, unless you are referring to an older version of rustc?

[2018-09-27 00:41] varkor commented on #54505
Unfortunately, there's not much sharing from clippy to rustc. I wouldn't worry about it. If you can encapsulate it easily, it's possible that clippy could make use of the code in rustc instead.

The `std_path` function in `lowering.rs` picks the correct path for `core`/`path` — you should be able to use that.

[2018-09-27 00:44] scottmcm commented on #44495
@rfcbot reviewed

That said, I still lean towards deny here.  I don't think my "WIP reasoning" is a strong argument for warn here, because there obviously aren't any more alternatives that you could be intending to add later.

[2018-09-27 01:16] alexreg commented on #54563
@estebank I noticed there's also `tcx.sess.opts.unstable_features.is_nightly_build()`. I this any different?

[2018-09-27 02:44] petrochenkov commented on #54472
Partially fixed in https://github.com/rust-lang/rust/pull/54605 using subset of the `let` rules described in the previous comment.

[2018-09-27 03:43] wellorange opened #54606 "build.rs"

[2018-09-27 03:43] #54606 closed

[2018-09-27 04:27] kzys commented on #24473
searchindex.js is generated by mdbook, not rustdoc. I think we can close this issue.

[2018-09-27 04:40] qwerty19106 opened #54608 "Regression in Option<NonNull<usize>> memory layout (4 byte -> 8 byte)"
Documentation on [NonNull](https://doc.rust-lang.org/std/ptr/struct.NonNull.html):

But it is false now.

Example code:
[code]

Result:
[code]

Rust version:
[code]

[playground](https://play.rust-lang.org/?gist=4a960cc17e3c6b00541e8ac6c40f4515&version=nightly&mode=debug&edition=2018)

[2018-09-27 05:32] mjbshaw commented on #53491
I'd like to advocate for `MaybeUninit::zeroed` to be a `const fn`. There are some FFI-related uses that I would have for it (e.g. a static that must be initialized to zero) and I believe others might find it useful. I would be happy to volunteer my time to const-ify the `zeroed` function.

[2018-09-27 05:41] Centril commented on #53491
@mjbshaw you'll need to use `#[rustc_const_unstable(feature = "const_maybe_uninit_zeroed")]` for that since `zeroed` does things that does not pass the `min_const_fn` check (https://github.com/rust-lang/rust/issues/53555) which means that `MaybeUninit::zeroed`'s constness will be unstable even if the function is stable.

[2018-09-27 05:49] kennytm commented on #54608
The playground is running on a 64-bit platform which a pointer is 8 byte long. This is only a problem if these returned 8 on a 32-bit platform.

[2018-09-27 06:02] kzys commented on #50023
I agree with @QuietMisdreavus. This issue is not actionable.

Regarding regressions, Rustdoc will have Puppeteer-based tests (#53319) that would allow us to make sure that all features (incl. JavaScript) are working, while we need to write tests first though.

[2018-09-27 06:30] hellow554 commented on #54608
You could have checked that with printing the size of `&u8` ;)

[code]

([Playground](https://play.rust-lang.org/?gist=485e2e713e3c57bed89d36b0ed3e0e1d&version=nightly&mode=debug&edition=2018))

Output:

[code]

[2018-09-27 06:30] hniksic opened #54610 "API user must import trait when API switches from Box<Trait> to impl Trait"
While switching an API from returning `Box<Trait>` to returning `impl Trait` (it was using `Box` only to isolate the class implementing the trait), I noticed an incompatibility. The user of the API is now required to import the trait in order to call method defined by the trait, which slightly reduces the ergonomy of the API.

Take this code, which compiles fine:

[code]

Now, if we just change th

[2018-09-27 06:45] kzys commented on #44687
Seems we already have https://doc.rust-lang.org/1.29.0/, https://doc.rust-lang.org/1.28.0/, ... The only missing part is having a small header on each docs, which can be implemented as a small JavaScript file.

How we can update the JavaScript file? We may be able to generate that from rust-lang/rust's nightly (assuming that the latest nightly includes all stable releases), or have a separate repo

[2018-09-27 07:47] tuxzz opened #54611 "Failed to compile [T; std::mem::size_of::<U>()]"
[This code:](https://play.rust-lang.org/?gist=8804439a7e6e9a03c3ffd664c11389eb&version=stable&mode=debug&edition=2015)

    fn func<T>(x: T)
    where
        T: Copy + Sized
    {
        let _ = [123i32; std::mem::size_of::<T>()];
    }

Compiler raises:

    error[E0277]: the size for values of type `T` cannot be known at compilation time
    --> src/lib.rs:5:22
      |
    5 |     let _ = [123

[2018-09-27 08:13] pietroalbini commented on #54364
@craterbot run name=beta-1.30-2 start=1.29.1 end=beta-2018-09-23 cap-lints=warn

[2018-09-27 08:19] pietroalbini opened #54612 "Not something you need to worry about :)"
Hey, I said you don't need to worry about this! Why are you here???

[2018-09-27 08:19] #54612 closed

[2018-09-27 08:57] Havvy commented on #54555
If it's already fixed, there's no reason keeping the issue open.

[2018-09-27 08:57] #54555 closed

[2018-09-27 09:51] #54463 closed

[2018-09-27 10:00] chernomor commented on #54511
Commit bbf688a8 broke building for msp430, it parent (94eb1760) good. I build both version and check it.
@japaric can you help?

[2018-09-27 10:39] gnzlbg commented on #28728
@SergioBenitez that program does not segfault, it terminates with a stack overflow. This is the correct behavior, since your program just recurses infinitely requiring an infinite amount of stack space, which at some point is going to exceed the stack space available.

[Minimal working example](https://play.rust-lang.org/?gist=5ee571a6398dd1cff260bb12269e935c&version=nightly&mode=debug&edition=201

[2018-09-27 10:56] gnzlbg commented on #53555
We discussed this on IRC a while ago, but I don't see it mentioned here, so it might be worth it to update the OP. We are sure about this: it is, in general, impossible to achieve the same results at compile-time and run-time (on all targets). What `const fn` should do? Probably just implement IEEE arithmetic, fixing the implementation-defined behavior to some behavior in a target independent way.

[2018-09-27 11:13] wzssyqa commented on #52666
@gnzlbg llvm support is official now

[2018-09-27 12:05] jonas-schievink commented on #54359
Can confirm that this still happens on the current nightly.

[2018-09-27 12:05] artemshein commented on #53708
Just got it in my app. Is there a workaround or matching with constants is just broken for now?

[2018-09-27 12:07] tromey commented on #48168
One question is whether we can rely on it being installed.  But maybe we could teach `rustup` to check, if it can't already (I don't know).

I don't think this will change anything here, because even if lldb accepts the Rust plugin, we will probably still want to ship lldb, so that we aren't blocked on making debuginfo improvements.  There's an analogous case for shipping gdb, see #34457.

I'm gen

[2018-09-27 12:13] varkor commented on #53708
@artemshein: I would try to avoid using constants in patterns right now; sorry – I haven't got around to fixing this yet.

[2018-09-27 12:35] #12590 closed

[2018-09-27 12:50] pietroalbini commented on #54612
@craterbot run name=maint-2018-09-27 start=1.29.1 end=nightly-2018-09-27 cap-lints=warn mode=build-and-test p=-1

[2018-09-27 13:01] gnzlbg commented on #52666
Nice! What remains to be done is:

- [ ] update llvm in rust to llvm trunk (we are already closely following it, so this shouldn't be too hard)
- [ ] create target description files for `mips64r6` targets

[2018-09-27 13:55] ishitatsuyuki commented on #44706
Given that most IDEs have moved to RLS, is this still a thing?

[2018-09-27 13:58] ishitatsuyuki commented on #25362
@hrektts Hashes are only guaranteed to be same inside the same process.

It's obviously different between architectures, and it's even allowed to vary between different execution (though I don't know if we implement such randomisation).

[2018-09-27 14:05] nikomatsakis commented on #54538
@kleimkuhler Great! If you have any further problems, please don't hestitate to ping on [Zulip](https://rust-lang.zulipchat.com/) or [Discord](https://discord.gg/rust-lang).

[2018-09-27 14:07] nikomatsakis commented on #51087
Removing P-high marker— though I would definitely appreciate some feedback from the @rust-lang/docs folk on what doc if any they feel is needed for this. Seems pretty minor though.

[2018-09-27 14:09] pnkfelix commented on #53166
visited for triage. @eddyb says "only the lint is missing now."

[2018-09-27 14:12] pnkfelix commented on #53166
assigning to self to see about this lint.

[2018-09-27 14:14] pnkfelix commented on #53834
visited for triage. As far as we can tell, this was fixed by PR #54411.

[2018-09-27 14:14] #53834 closed

[2018-09-27 14:15] pnkfelix commented on #54045
visited for triage. No change in status; plan of record remains as recorded in my previous comment.

[2018-09-27 14:18] pnkfelix commented on #54047
visited for triage. making progress; short term plan should be finished once PR #54530 lands.

[2018-09-27 14:20] pnkfelix commented on #54302
visited for triage. bug seems to be being dealt with, assuming that PR #54401 is eventually deemed as passing muster...

[2018-09-27 14:33] pnkfelix commented on #54327
visited for triage during T-compiler weekly meeting.

Team basically agreed that:
 * This should not be tagged as a regression, under reasoning outlined by @eddyb above
 * This is sort of a duplicate of #43408, except that issue *might* be best off dedicated to correctly implementing the feature (of e.g. using `size_of` in generic const array length contexts)
 * while we may want a separate issue

[2018-09-27 14:36] pnkfelix commented on #54502
triaged at T-compiler meeting. assigning to self to resolve doc issue(s).

[2018-09-27 14:38] petrochenkov commented on #53166
Wait, could someone remind why adding `std` into extern prelude for `no_std` crates is a good idea at all?
In other words, why the last point in https://github.com/rust-lang/rust/pull/54116 was implemented?

The original issue was about imports being able to access crates *not* from extern prelude.
That issue was fixed by implementing the first two points in https://github.com/rust-lang/rust/pull/

[2018-09-27 14:40] pnkfelix commented on #54387
Visited during T-compiler meeting. Tentatively assigning to @eddyb for investigation.

[2018-09-27 14:42] petrochenkov commented on #53166
https://github.com/rust-lang/rust/pull/54116 refers to https://github.com/rust-lang/rust/issues/53166#issuecomment-419265401, but it doesn't list motivation.

[2018-09-27 14:47] nikomatsakis commented on #54464
I'd probably be ok with calling this a WONTFIX for now, though I'd like to think about possible ways to "future proof" things like the recursion depth better. It's worth pointing out that this **particular** regression won't affect **consumers** of the crate, right? Only its original author?

[2018-09-27 14:48] eddyb commented on #54387
cc @RalfJung @oli-obk I can't find anything in the validation code that's reading the wrong thing - it should be able to tell this is a `None`, which has `0` fields.

[2018-09-27 14:50] pnkfelix commented on #54464
discussed at T-compiler meeting. Team is generally leaning towards closing as WONTFIX.

We did discuss various work-arounds (e.g. increasing the limit by +1 or x2... and generalizations thereof, like applying that transform also to user-provided recursion limits).

But in general no one seemed too eager to actually deploy any such "fix", and its not clear whether a better solution is available.

S

[2018-09-27 14:51] varkor commented on #54611
Thanks! This is tracked in https://github.com/rust-lang/rust/issues/43408.

[2018-09-27 14:51] #54611 closed

[2018-09-27 14:51] pnkfelix commented on #54464
(leaving priority unassigned since the priority is somewhat fuzzy, given our leaning towards WONTFIX)

[2018-09-27 14:52] #54610 closed

[2018-09-27 14:52] pnkfelix commented on #54465
visited at T-compiler meeting. Team believes this was an expected outcome, and are closing this as WONTFIX.

[2018-09-27 14:52] #54465 closed

[2018-09-27 14:58] pnkfelix commented on #54466
Closing as WONTFIX based on previously linked reasoning, transcribed below for posterity:

[2018-09-27 14:58] #54466 closed

[2018-09-27 15:05] hniksic commented on #41221
As documented in #54610, I noticed this while removing boxed returns from the [`subprocess` crate](https://github.com/hniksic/rust-subprocess), where I had to update tests after the change of return type from `Boxed<Write>` to `impl Write`. The code in tests was of the kind that one would have _expected_ to keep working; something like:

[code]

Note that the return type was never named - and yet

[2018-09-27 15:07] pnkfelix commented on #54467
visited at T-compiler. P-high.

[2018-09-27 15:10] nagisa commented on #54472
@petrochenkov should we also warn when resolving in favour of `macro_rules!`?

[2018-09-27 15:15] nagisa commented on #54462
Discussed in T-compiler meeting. I will prepare a patch for at least master and beta. Might also make a backport into stable.

After that I’ll keep looking into the underlying issue to see if it can be easily fixed within LLVM.

[2018-09-27 15:16] pnkfelix commented on #54473
closing as duplicate of #53464.

(The only potential T-compiler thing is to improve the diagnostics as alluded to here: https://github.com/rust-lang/rust/issues/53464#issuecomment-414049856 )

[2018-09-27 15:16] #54473 closed

[2018-09-27 15:17] GuillaumeGomez commented on #51468
Seems so! Closing it then.

[2018-09-27 15:17] #51468 closed

[2018-09-27 15:19] infinity0 opened #54614 "1.30.0-beta.7 with LLVM 7 fails debuginfo-gdb tests on all architectures"
Failures here: https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=amd64&ver=1.30.0%7Ebeta.7%2Bdfsg1-1%7Eexp3&stamp=1538038525&raw=0

The same tests worked with LLVM 6

[2018-09-27 15:19] pnkfelix commented on #54477
visited at T-compiler triage. Assigning to self to do initial investigation.

[2018-09-27 15:29] petrochenkov commented on #54472
I don't think so? In all the regressed cases the `macro_rules` resolution is expected, and modularized resolutions are "accidental" - either from globs, or from [`#[macro_export]` planted into the root module](https://github.com/rust-lang/rust/pull/52234).

It's not something deprecated/hacky either - I planned to implement the scoping rules from https://github.com/rust-lang/rust/issues/54472#issu

[2018-09-27 15:31] nikomatsakis commented on #52701
Is this affecting any crates on crates.io etc?

[2018-09-27 15:32] pnkfelix commented on #52701
discussed at T-compiler meeting. I'll take on the task of seeing if a backport of PR #53316 actually fixes #52701 on beta (+ stable)

[2018-09-27 15:39] nagisa commented on #54608
Closing as not-a-bug as per comments above.

[2018-09-27 15:39] #54608 closed

[2018-09-27 16:09] levex commented on #38735
No longer reproduces:

[code]

[2018-09-27 16:29] greaterfool commented on #54595
Resolved. Turns out that Vagrant VMs by default only have like 500mb, which is what caused the error.

[2018-09-27 16:29] #54595 closed

[2018-09-27 16:46] norru opened #54615 "toolchain 'nightly-x86_64-pc-windows-gnu' does not have the binary `rust-gdb.exe`"
This is the affected toolchain:

[code]

Can this be worked around effectively?

[2018-09-27 16:47] SergioBenitez commented on #28728
@gnzlbg Sorry, but you're not correct.

The program segfaults in release mode. That's the entire point; that an optimization results in unsound behavior - that LLVM and Rust's semantics are not in agreement here - that I can write and compile a safe Rust program with rustc that allows me to use uninitialized memory, inspect arbitrary memory, and arbitrarily cast between types, violating the semant

[2018-09-27 16:48] Ekleog commented on #28728
@gnzlbg Well, slightly changing your mwe of optimization away of infinite recursion ([here](https://play.rust-lang.org/?gist=f576b877971ca8380decc2ade256207a&version=nightly&mode=release&edition=2018)), it does generate an uninitialized value of `NonZeroUsize` (which turns out to be… 0, thus an invalid value)

[2018-09-27 16:52] gnzlbg commented on #28728
Are we in agreement that the program has a stack overflow in both debug and release?

[2018-09-27 16:53] rkruppe commented on #28728
I have not inspected the optimizations LLVM does or the generated code for either of the programs, but do note that a segfault is not unsound, if the segfault is all that happens. In particular, stack overflows that are caught (by stack probing + an unmapped guard page after the end of the stack) and don't cause any memory safety problems also show up as segfaults. Of course, segfaults *can also*

[2018-09-27 16:59] SergioBenitez commented on #28728
@rkruppe My program segfaults because a reference to a random memory location was allowed to be constructed, and the reference was subsequently read. The program can be trivially modified to instead write a random memory location, and without too much difficulty, read/write a _particular_ memory location.

@gnzlbg The program _does not_ stack overflow in release mode. In release mode, the program

[2018-09-27 17:03] gnzlbg commented on #28728
So? The only thing that matters is that the example program, which is basically `fn foo() { foo() }`, has infinite recursion, which is not allowed by LLVM.

[2018-09-27 17:03] tromey commented on #54614
Most of these will be fixed by #54004.

`debuginfo/c-style-enum-in-composite.rs` says this:
[code]
...but that isn't actually a valid directive as far as I can tell.

[2018-09-27 17:05] leonardo-m commented on #54594
Why isn't Nightly versions bumped automatically when there's a major point release?

[2018-09-27 17:05] rkruppe commented on #28728
I don't know why you're saying this like it resolves anything. LLVM considering infinite recursion and loops UB and optimizing accordingly, yet it being safe in Rust, is the entire point of this whole issue!

[2018-09-27 17:08] cuviper commented on #54594
The raw version could simply be bumped as soon as beta is branched from it, but then bumping the bootstrap compiler needs to update `stage0` conditionals.

[2018-09-27 17:11] sunfishcode commented on #28728
Author of https://reviews.llvm.org/rL317729 here, confirming that I have not yet implemented the follow-up patch.

You can insert an `@llvm.sideeffect` calls today to ensure that loops are not optimized away. That might disable some optimizations, but in theory not too many, since the major optimizations have been taught how to understand it. If one puts `@llvm.sideeffect` calls in all loops or th

[2018-09-27 17:31] estebank commented on #54563
Nope, if that is available use that one. They should both be the same value.

[2018-09-27 17:33] shepmaster commented on #28728
There's some small difference, but I'm not sure if it's material or not.

### Recursion

[code]

[code]

### Loop

[code]

[code]

### Meta

Rust 1.29.1, compiling in release mode, viewing the LLVM IR.

[2018-09-27 17:37] GuillaumeGomez opened #54616 "[rustdoc] Add possibility to search in a given crate only"
We could add a dropdown menu to the search with the available crates and allow to look only in a given crate.

[2018-09-27 17:37] gnzlbg commented on #28728
I don't think that we can, in general, detect recursion (trait objects, C FFI, etc.), so we would have to use `llvm.sideeffect` on pretty much every call site unless we can prove that the call site won't recurse.

[2018-09-27 17:43] sunfishcode commented on #28728
@gnzlbg That's true, though you could put the @llvm.sideeffects at the entries of functions, rather than at the call sites.

[2018-09-27 17:57] eddyb commented on #34451
I think unsized tuples are implemented now. cc @nikomatsakis

[2018-09-27 18:01] qwerty19106 commented on #54608
Thanks for your response.
I thought that playground is running on a 32-bit platform.

[2018-09-27 18:03] japaric commented on #54511
@awygle @cr1901 @pftbest

Does the msp430 architecture not support atomic loads and stores (and I really mean *atomic*, not single instruction, those usually lower to atomic fence + load / store)? Or is this just an LLVM bug? I enabled atomic loads / stores on msp430 because @pftbest (iirc) asked for it.

In any case, we can undo [these lines](https://github.com/rust-lang/rust/commit/bbf688a84de70

[2018-09-27 18:03] tromey commented on #54614
Perhaps a more targeted fix for the `DW_AT_enum_class` thing is needed for the beta?  I don't know.

[2018-09-27 18:06] nikomatsakis commented on #54499
In terms of how to suppress the false warning, here are a few tips:

The `BorrowCheckContext` has a field `used_muts` indicating the variables and things where a `mut` declaration was **required*::

https://github.com/rust-lang/rust/blob/c9865b1c37f8cb8a257591e6ea0b32a5df1f3d41/src/librustc_mir/borrow_check/mod.rs#L436-L438

So we probably need to add something to that set when we see `a.b = c`. T

[2018-09-27 18:14] estebank opened #54617 "Inaccurate lifetime mismatch diagnostic text"
[code]

[2018-09-27 18:14] FenrirWolf commented on #54542
One gotcha is that the example doesn't even work as-is because `MaybeUninit` isn't `Copy`:

https://play.rust-lang.org/?gist=1d2d5fa2a49bbbbceb8a3b113587f87a&version=nightly&mode=debug&edition=2015

If `MaybeUninit` is intended to be compatible with arrays then maybe that was overlooked?

[2018-09-27 18:17] nikomatsakis opened #54618 "suggesting for traits do not search the "prelude crates""
As [shown in this test case](https://github.com/rust-lang/rust/pull/54603#discussion_r221025575), if you have a crate in the prelude, but you have not imports its trait, and you try to use its methods, you don't get any nice suggestions. This is a shame!

cc @davidtwco

[2018-09-27 18:37] awygle commented on #54511
All loads and stores are atomic on MSP430. There are no fence instructions or atomic instructions. There's no CAS instruction either (as you mention) so we'd have to expand it to turning off interrupts, CASing, then turning them back on (which is kind of silly).

I'm not really clear on what "atomic" vs "volatile" means in the context of Rust, but based on your paragraph above, `singlethread` soun

[2018-09-27 18:58] japaric commented on #54511
Actually, "volatile" was the wrong term to use as it doesn't describe the right semantics. With `singlethread: true` LLVM will lower `Atomic.load` into a [`compiler_fence`] plus the load instruction (I think) and with `singlethread: false` it will lower it into an atomic [`fence`] plus the load instruction. The links to the API have more details on the differences between the two kinds of fences.

[2018-09-27 19:16] petrochenkov commented on #54472
Minimized reproduction for `smpl_jwt` and `off_blockway`:
[code]

[2018-09-27 19:33] awygle commented on #54511
Okay, great - a compile-time fence is exactly the semantics we want here. My vote is definitely for `singlethread: true`.

[2018-09-27 19:45] aturon commented on #53166
@petrochenkov I *think* part of the issue here is that some crates use `#[no_std]` but then *go on to use `std`* based on a feature flag they provide to their clients. I believe this happens today using an explicit `extern crate std`. But the remaining code wants to use paths like `std::mem` rather than `crate::std::mem` etc.

To support this existing pattern, we need *some* way to make `std` avai

[2018-09-27 19:50] AstralSorcerer commented on #54387
I've been looking into this. It seems that the issue stems from [here](https://github.com/rust-lang/rust/blob/master/src/librustc/mir/interpret/value.rs#L34). Specifically, because the niche-filling enum representation is used for `Option<GstRc>` and similar types, and the niche that gets filled is the second field (the `bool`), it is actually the second part of the `ScalarPair` that is defined, n

[2018-09-27 19:51] alexreg commented on #54563
Okay sure. We don't have a `tcx` in this case though, I later realised, so I'll use your original approach! Ready to merge?

[2018-09-27 20:00] Nokel81 commented on #44495
I would lean towards deny for a single if let but warn for multiple if lets because of the set up process that multiple if lets can allow for

[2018-09-27 20:00] lachlansneff opened #54619 ""ld: archive has no table of contents file" when compiling rustc"
I'm running into a strange error when compiling rustc on MacOS 10.14.

[code]

Any help would be appreciated.

[2018-09-27 20:52] FenrirWolf commented on #54542
So would this be a valid example of how to initialize an array of Vecs then?

[code]
https://play.rust-lang.org/?gist=95140594f74290a294a7cea06d37c597&version=nightly&mode=release&edition=2015

[2018-09-27 20:58] leonardo-m commented on #54542
Is it worth adding to the Rust std lib a helper macro like this, to simplify the creation of arrays of noncopy values?

https://crates.io/crates/array-init

[2018-09-27 20:59] matthewjasper opened #54620 "NLL doesn't check user type annotations are well-formed"
For example, this code is accepted with NLL enabled:

https://github.com/rust-lang/rust/blob/f1694eac74216da22b395a5589b8d080ccd5a2ec/src/test/ui/regions/regions-free-region-ordering-caller.rs#L19-L30

cc #47184

[2018-09-27 22:08] #54212 closed

[2018-09-27 22:17] mbrubeck commented on #54542
My code from above was meant to be an entire solution, without any transmuting necessary.  Here's a complete example program:

[code]

[2018-09-27 22:20] alexcrichton commented on #54408
Ah that's perfect! I'll see if I can work up a solution to that soon

[2018-09-27 22:20] FenrirWolf commented on #54542
Ah nice, that's way more concise.

[2018-09-27 22:27] Havvy commented on #51087
The reference is updated. We'll also want to update TRPL though, I think.

[2018-09-27 23:37] mkeeter opened #54625 "Confusing error when missing #[derive(Clone)]"
This is not quite a bug, but it has surprised me twice, so I figured I'd open an issue.

Consider the following code:

[code]

This fails to compile with the error message
[code]

If you add `#[derive(Clone)]` to the `struct` definition, then it works, but that's a weirdly non-local change that's not hinted at by the error.  Could the compiler's error message be more helpful?

[code]

[2018-09-27 23:38] euclio commented on #43466
I'm finding a resolution failure that is puzzling me:

[code]

Neither `bar` nor `baz` resolve.

[2018-09-27 23:44] Centril commented on #51087
Filed in the TRPL repo; closing therefore.

[2018-09-27 23:44] #51087 closed

[2018-09-27 23:48] Centril commented on #54600
Tagging T-lang due to Niko's notes in https://github.com/rust-lang/rust/issues/54600#issuecomment-424872005.

[2018-09-28 01:07] juchiast commented on #54625
The problem is `&T` also implement `Clone`, so `self.clone()` in this context is called on `&Boop`. Therefore it is cloning a reference, not cloning the value.

That is what I know, I have no idea on how to make it better.

[2018-09-28 01:52] mehcode opened #54627 "[1.30 beta] Compiler hangs when compiling primal crate for armv7-apple-ios"
See https://github.com/huonw/primal/issues/19

---

I narrowed the issue down to here: https://github.com/huonw/primal/blob/master/primal-sieve/src/wheel/wheel30.rs#L196-L928 (removing that chunk makes it compile)

[2018-09-28 01:55] Shnatsel opened #54628 "Fastest way to initialize a vector is not documented"
There are at least thee distinct ways to create a zero-filled vector with a certain capacity:
[code]

Despite the latter being the most concise one, other solutions also show up in real-world code. The performance characteristics of these solutions are not obvious, and not documented - at least on the [Vec page in stdlib reference](https://doc.rust-lang.org/std/vec/struct.Vec.html).

This has led

[2018-09-28 02:07] StevenDoesStuffs opened #54629 "SliceIndex not implemented for usize for string slices"
It looks like SliceIndex is implemented for usize for [T] but not &str. Is there a reason why this is? If not, should I submit a PR?

[2018-09-28 02:19] mkeeter commented on #54625
Yup – in the broken state, the type checker finds
- We're returning a `T`
- We've cloning a `&T`, which gives an `&T`
- Oh no!

The unintuitive behavior is that if `#[derive(Clone)]` is provided, then the type-checker solves backwards from
- We're returning a `T`
- `out` must be a `T`
- We can clone `&T` to `T` instead!

I wonder if there's a way to detect this pattern and offer a suggestion in th

[2018-09-28 02:28] #54047 closed

[2018-09-28 02:38] hrektts commented on #25362
@ishitatsuyuki Ah, I misunderstood about it. I thought that it was something like the git commit hash. Thanks for your comment.

Since there is no error anymore, I will close this.

[2018-09-28 02:38] #25362 closed

[2018-09-28 02:58] wzssyqa commented on #51535
Debian's N32 triples support has been merged just only, and maybe you can have a try with
    mips64-unknown-linux-gnuabin32
not
   mips64-unknown-linux-gnu

In Debian with use gnuabin32 instead of just -gnu for n32.

[2018-09-28 03:01] wzssyqa commented on #51535
and Ubiquiti EdgeRouter is endian switchable, I guess you can have a try mips64el.

[2018-09-28 03:41] zackmdavis opened #54630 "fix false negatives in explicit_outlives_requirements"
Niko Matsakis [points out that](https://github.com/rust-lang/rust/pull/53013#discussion_r221053173) the explicit_outlives_requirements lint (from #53013, expected to land soon) should also fire on lifetime-outlives bounds and associated-type-outlives bounds, as illustrated by the following two examples:

[code]

[2018-09-28 05:00] kzys commented on #41000
This line is the cause, as @durka wrote.

https://github.com/rust-lang/rust/blob/1e21c9a297a9fe668d62887a3a6a4add8e717b17/src/libstd/lib.rs#L215

[2018-09-28 05:11] #54028 closed

[2018-09-28 05:30] kzys commented on #18168
+1 for resolving. Rustdoc is not that slow (or our machines are faster, compared to 2014).

For the standard library, [the landing page](https://doc.rust-lang.org/nightly/) now has a small search box.

[2018-09-28 05:36] christianpoveda commented on #54483
I started working on this here https://github.com/christianpoveda/rust/commit/2d93ce6cfdcce9d538644d7e607777d32c33a09d. However, I'm not sure if everything is where it should.

[2018-09-28 05:39] Speedy37 commented on #54628
Shouldn't `vec1.resize(len, 0)` be as fast as `vec!` if `vec1.len()` is 0 in order to provide consistent performance ?
Probably by optimizing `Vec::extend_with` directly.

[2018-09-28 06:38] kennytm commented on #54483
@christianpoveda Looks fine (except all the strange whitespace changes on `src/bootstrap/configure.py`). Next you'll need to

1. add `ENV DIST_REQUIRE_ALL_TOOLS 1` to the tier-1 Linux `Dockerfile`s in `src/ci/docker/dist-*/`
2. add `DIST_REQUIRE_ALL_TOOLS=1` to the tier-1 macOS dist jobs in `.travis.yml`
3. add `DIST_REQUIRE_ALL_TOOLS: 1` to the tier-1 Windows dist jobs in `appveyor.yml`

[2018-09-28 06:49] christianpoveda commented on #54483
Ok I'll do the changes to the dockerfiles and CI configuration files.

PD: the strange whitespaces are [YAPF](https://github.com/google/yapf)'s fault. I'll fix them

[2018-09-28 07:07] christianpoveda commented on #54483
https://github.com/christianpoveda/rust/commit/6028c178c2e165de28f647ec7537fe2c0858bee8

[2018-09-28 07:35] kennytm commented on #54483
We don't really need `DIST_REQUIRE_ALL_TOOLS: 1` for the -alt builds. Anyway, you could prepare a PR now and see how the bots react.

[2018-09-28 08:38] eddyb commented on #53819
More recently, I came to the conclusion that the code is spaghetti because it tried *really hard* to avoid recomputing things, so it ends up with one "qualif" that's modified in a linear pass.

If rewritten into several modular analyses, and one const checker (the only part that would actually emit errors), we can probably have a cleaner setup overall.
And we could even mix polymorphic MIR analysi

[2018-09-28 08:41] eddyb commented on #54491
@alexcrichton @Mark-Simulacrum ^^ is it possible rustbuild wasn't updated to use `--recursive`?

[2018-09-28 09:09] sanmai-NL commented on #53166
@aturon: I question whether those maintainers are set on keeping that pattern or whether they would understand this needs to be fixed. I expect the latter. Again, some breaking change that is acceptable for the 2018 edition?

[2018-09-28 09:17] #53097 closed

[2018-09-28 10:43] petrochenkov commented on #54464
Please no, this cure would be much worse than the disease.
Recursion limit is hit in `polish_notation 0.1.0` in a test that's specifically testing recursion limit, it didn't happen accidentally.

[2018-09-28 10:44] operutka commented on #51535
Thanks a lot. I really appreciate it. I'll try it next week.

[2018-09-28 10:48] eddyb commented on #54387
Ahh, you're right! I don't know why only the second component was special-cased.

[2018-09-28 10:51] eddyb commented on #53486
Right, but we can use it for recording the paths of files in dependencies as well, right?

[2018-09-28 11:03] pnkfelix commented on #54502
discussed with @Centril last night, mainly to find out what sort of documentation they expect to see here. It sounds like they would be satisfied with some sort of note in the Guide for the [2018 Edition](https://rust-lang-nursery.github.io/edition-guide/rust-2018/index.html)...

[2018-09-28 11:31] Thiez commented on #54629
This is intentional. What return type would you expect? You can get bytes with `s.as_bytes()[n]`, but `s[n]` could not (reasonably) return a `char`, because strings are UTF-8 encoded and as such characters have different lengths, to find the 1000th character the implementation would essentially have to do `s.chars().skip(n - 1).next().unwrap()`, so indexing a string would be linear in the length o

[2018-09-28 11:47] varkor commented on #54502
Note that, as far as I can tell, there is no such documentation for any of the other lints whose default level depends on the edition, so if `overflowing_literals` is mentioned in the 2018 Edition Guide, then the others ought to be too.

[2018-09-28 11:49] #54130 closed

[2018-09-28 12:33] Shnatsel commented on #54628
I do not believe that's possible, since `vec![0; len];` requests zeroed memory from the OS at the allocation time. So once you've called `Vec::with_capacity(len);` you cannot go back to the fast path. I'd love to be proven wrong though.

[2018-09-28 12:44] futile commented on #54628
`with_capacity + set_len` -> `vec![0, len]` also sounds like a possible lint for clippy.

[2018-09-28 12:56] appaquet commented on #35968
I'm on 1.29.1 and objects still don't have embedded bitcode by default. As mentioned earlier by @volodg, you can get rust to embed them using `RUSTFLAGS="-Z embed-bitcode"`. But, from what I experienced, you then get into issue where Rust's own libs (compiler_builtins, std) are not compiled with embed-bitcode. Perhaps rebuilding iOS targets using xargo with embed-bitcode would work, but I didn't t

[2018-09-28 12:57] pnkfelix commented on #54502
Following up on @varkor's point: While initiating an attempt to write the documentation, I tried to find *any* discussion of lints in "The Rust Programming Language" second edition.

Maybe my search terms were ill-chosen, but I couldn't find any discussion of them.

I'm not really inclined to spend time trying to document the changes to the default values without having some documentation in place

[2018-09-28 12:58] nagisa commented on #54629
Yes, this is intentional. Closing.

[2018-09-28 12:58] #54629 closed

[2018-09-28 12:59] pnkfelix commented on #54502
The decision of what to do at this point is probably best laid in the hands of the docs team, not the compiler team.

So I'm unassigning myself, reassigning the issue to the docs team, and tagging with I-nominated to try to promote its discussion amongst that team.

[2018-09-28 13:48] Mark-Simulacrum commented on #54491
Seems plausible; I'll try and take a look at it later today.

[2018-09-28 13:50] yageek commented on #35968
I tried to use `xargo` as you proposed but the problem seems to still be here :(

Using this `Xargo.toml`
[code]
Also adding this to `Cargo.toml`:

[code]
I compiled using `xargo build --release --target $TARGET` for all those targets:
- aarch64-apple-darwin
- armv7-apple-darwin
- armv7s-apple-darwin
- i386-apple-darwin
- x86_84-apple-darwin

Then I used `lipo` to create one static library.

I sti

[2018-09-28 13:52] dancrossnyc opened #54637 "Please add retpoline support."
For a project at Google, we need retpoline support. Taylor Cramer suggested I open an issue; my initial search didn't reveal any pre-existing issues that seemed particularly relevant. There was a reddit thread that stalled after identifying some blocking issues (LLD integration, LLVM upgrades, etc) all of which have, I believe, subsequently been addressed. https://www.reddit.com/r/rust/comments/7s

[2018-09-28 14:10] lu-zero commented on #41027
The problem is still here:
[code]

[2018-09-28 14:47] nikomatsakis commented on #54015
@blitzerr has a WIP PR here for this issue https://github.com/rust-lang/rust/pull/54343 (I don't see a link right now)

[2018-09-28 15:13] ErichDonGubler commented on #53010
I was able to fix this by using an explicit import from the `prelude` module in `quicli`:

[code]

Using a glob import (`use quicli::prelude::*`) doesn't seem to have the desired effect, though. I get the following error when attempting to use the glob import like documentation indicates:

[code]

My `rustup show` says:

[code]

[2018-09-28 15:19] StevenDoesStuffs commented on #54629
Since SliceIndex is implemented for ranges for str, I expected it to return the same thing as .get(n..n+1). Would that be wrong (cause unexpected behavior or something)?

[2018-09-28 15:45] csmoe opened #54642 "Cannot import macros from extern crate with `use` in edition 2018"
[code]
Err:
[code]
[playground](https://play.rust-lang.org/?gist=ad478428a2e018819b07ae7e381f662a&version=nightly&mode=debug&edition=2018)

---------

And it's kind of strange that rustc won't complain about unidiomatic `extern crate ...` even `#![deny(rust_2018_idioms)]` in the working one.
cc @petrochenkov

[2018-09-28 15:50] jjpe commented on #38356
The `proc_macro_gen` feature gate pointed me here, but in the check list at the top I see nothing that obviously refers to a (proc_)macro that generating macros. Has this been accounted for?

[2018-09-28 15:55] petrochenkov commented on #54642
This is not an issue in rustc, `clap` just doesn't use `$crate::crate_name!` or `#[macro_export(local_inner_macros)]`, so you have to continue using `#[macro_use]` or to import all the helper macros by yourself:
[code]
or
[code]

[2018-09-28 15:55] #54642 closed

[2018-09-28 16:29] vn971 opened #54644 "typo in std::thread::sleep"
The documentation says: https://doc.rust-lang.org/std/thread/fn.sleep.html
[code]
Is that a typo? The function CAN return early right? (due to the reasons outlined)

<strike> I can make a fixing PR after confirmation.</strike>
UPD: Made a PR as well.

[2018-09-28 16:34] leonardo-m commented on #54637
If Google wants this small part in Rust I'm sure Google could pay someone here for the implementation (assuming Google doesn't have people willing to become expert about Rust enough to create this pull request themselves).

[2018-09-28 16:41] vn971 commented on #54644
Made a PR straight away though.

[2018-09-28 16:43] cuviper commented on #54627
Since this code is fine on other targets, both 32 and 64-bit, I would suspect the fault lies in LLVM codegen.  Note that Rust 1.29 has LLVM 7, whereas Rust 1.30 beta has a snapshot from trunk, early LLVM 8. Can you attach a debugger after it's hung and get backtraces for all threads?

[2018-09-28 16:55] alexcrichton commented on #53486
Perhaps!

[2018-09-28 17:06] eddyb commented on #53486
cc @michaelwoerister

[2018-09-28 17:30] alexcrichton commented on #54381
@eddyb was https://github.com/rust-lang/rust/pull/54116 merged without a solution of what to do for this in Cargo?

[2018-09-28 17:39] eddyb commented on #54381
cc @rust-lang/lang

[2018-09-28 17:46] alexcrichton commented on #38356
@jjpe it's probably best at this time that we spin off dedicated tracking issues for those feature gates, this issue was largely dedicated to the initial wave of stabilizations

[2018-09-28 17:51] alexcrichton commented on #54637
Some simple testing in clang shows that `-C target-feature=+retpoline` may be sufficient in Rust to work here. Does that work for you?

[2018-09-28 17:58] alexcrichton opened #54647 "Crates can't migrate to 2018 edition when they invoke coupled procedural macros"
Procedural macros are often coupled with "runtime crates" which support the various macros that the procedural macro exports. These runtime crates, however, sometimes also want to invoke the procedural macro itself (think `panic!` and libstd, which exports it for users and also defines it itself).

Let's say our runtime crate is called `foo`. The macro today generally expands to paths that look li

[2018-09-28 17:58] alexcrichton commented on #54647
This was first reported at https://github.com/dtolnay/syn/issues/507

[2018-09-28 17:59] eddyb commented on #54647
cc @rust-lang/lang @petrochenkov

[2018-09-28 18:08] joshtriplett commented on #54647
Shouldn't such macros use `$self::MyType` or similar instead? (Does that not work for procedural macros, for some reason?)

[2018-09-28 18:11] mehcode commented on #54627
Generated using (from within `primal`):

[code]

[code]

[2018-09-28 18:12] dtolnay commented on #54647
@joshtriplett the procedural macro and the runtime support live in separate crates, think serde_derive vs serde. You would need some way to specify what crate `$self` would refer to, because in code generated by serde_derive all the types are defined by serde not serde_derive.

[2018-09-28 18:34] petrochenkov commented on #54647
Hack: provide a version of of macro with an extra argument for internal use and replace `::foo` with `crate` if it's used.

[2018-09-28 18:36] petrochenkov commented on #54647
Hack 2: `--extern foo=self` that adds `foo` into extern prelude as an alias to `crate`.

[2018-09-28 18:38] petrochenkov commented on #54647
Or, in general, some way to add a name that's associated with the current crate into extern prelude.

[2018-09-28 18:40] joshtriplett commented on #54647
@dtolnay Ah, I misunderstood the phrase "the crate foo to use its own macros internally".

[2018-09-28 18:40] petrochenkov commented on #54647
Perhaps even `#![crate_name = "foo"]` can be repurposed for that.

[2018-09-28 18:53] eddyb commented on #54637
cc @rust-lang/compiler

[2018-09-28 18:57] mehcode commented on #54627
Ah. Makes sense. Meant to leave this one running for same amount of time but got distracted. It ran for about 25 minutes.

[code]

[2018-09-28 18:59] petrochenkov commented on #54647
`extern crate foo = PATH;` :smile:

[2018-09-28 19:02] cuviper commented on #54627
OK, so threads 4 and 5 are both deep in LLVM.  It will take more digging to figure out *why* they're stuck, but I feel more comfortable blaming the LLVM upgrade for this now.

[2018-09-28 19:05] petrochenkov commented on #53166
@aturon
https://github.com/rust-lang/rust/issues/54647 is a very similar issue to what you are describing, but it cannot be solved by hardcoding in the compiler.
Perhaps we need a way to add custom names into the extern prelude from inside the crate itself, we can even reuse `extern crate` for that.

[2018-09-28 19:54] Mark-Simulacrum commented on #54491
It looks like we are passing --recursive (https://github.com/rust-lang/rust/blob/master/src/bootstrap/bootstrap.py#L681).

[2018-09-28 20:44] eddyb commented on #54647
@petrochenkov wouldn't that create a bit of a "side-effect" in the system?
Or would you be required to place it in the root of another crate?

[2018-09-28 20:56] Havvy opened #54651 "Tracking issue for inclusion of `derive` in lint `unused_attributes`"
The following code emits an unsquelchable warning.

[code]

[code]

~~This warning should have a named lint `unused_derive` that is a part of the `unused` group of lints.~~

This warning should be a part of `unused_attributes`.

[2018-09-28 21:00] petrochenkov commented on #54647
@eddyb
Do you mean `extern crate foo`?
If by side effect you mean that the extern prelude set becomes dynamic and can change in the process of expansion, then yes.
It's not so bad, it's the same thing as `#[macro_use] extern crate ...` adding names into the macro prelude, so it's trivially implementable in the existing infrastructure.
It breaks the uniform import path scheme with canaries though,

[2018-09-28 21:00] Havvy opened #54652 "warning: empty trait list in `derive` should not emit if created by a macro"
The following code should not emit a warning at the call site of the macro:

[code]

Currently, it does:

[code]

[2018-09-28 21:02] petrochenkov commented on #54651
And that name is `unused_attributes`.

[2018-09-28 21:04] Havvy opened #54653 "Warning for empty derive list should say derive modes and not traits"
The warning currently says: "warning: empty trait list in `derive`". This was true before Macros 1.1, but since then, you can derive arbitrary items, not just traits. As such, it should say "empty derive mode list".

[2018-09-28 21:09] Boscop opened #54654 "Rustc panics on nightly with crate interpolate"
[code]
[code]
Any idea why rustc is crashing?
[code]

[2018-09-28 21:13] Boscop commented on #36277
@kzys What can be done is to make docs optional again: https://github.com/rust-lang-nursery/rustup.rs/issues/998
And it **should** be done IMO, to make updating nightlies much faster and because space is limited on Raspberry Pi.
I never used the installed docs anyway, always the online docs.
It's required to have an internet connection anyway to be able to use cargo..

[2018-09-28 21:14] clintfred commented on #54651
[code]
Does not appear to squelch the warning for me...

[2018-09-28 21:29] ErichDonGubler opened #54655 "ICE running `cargo doc` on `typenum` on beta"
I'm getting an ICE trying to run `cargo doc` on https://github.com/paholg/typenum/commit/284f456a707229bdbcac5a951d6e8b138a5abcc3:

[code]

Not sure why this is happening, but it's consistent, so I figured I should report this here.

[2018-09-28 21:37] Havvy commented on #54655
This is a duplicate of #53505

[2018-09-28 21:37] #54655 closed

[2018-09-28 21:38] Havvy commented on #54585
This is a duplicate of #53505

[2018-09-28 21:38] #54585 closed

[2018-09-28 22:19] scottjmaddox commented on #53491
Could implementation/stabilization of this be split into a couple of steps, in order to make the MaybeUninit type available to the wider ecosystem sooner? The steps could be:

1) add MaybeUninit
2) convert all uses of mem::uninitialized/zeroed and deprecate

[2018-09-28 22:30] scottjmaddox commented on #51817
Hey, sorry, just now seeing your response (it was buried in gmail). If you would be willing to submit the PR, that would be awesome!

[2018-09-28 22:54] Boscop commented on #53268
@liigo Yes, having the `fallback` as second argument makes more logical sense because it mirrors the `if else` structure, but this would be a breaking change now :(

[2018-09-29 00:38] petrochenkov commented on #53166
https://github.com/rust-lang/rust/pull/54658 implements this idea by reusing `extern crate` items.

[2018-09-29 00:39] petrochenkov commented on #54647
https://github.com/rust-lang/rust/pull/54658 implements a possible prerequisite (extern crate items adding things into extern prelude).

[2018-09-29 00:42] memoryruins commented on #53491
@scottjmaddox

https://doc.rust-lang.org/nightly/core/mem/union.MaybeUninit.html :)

[2018-09-29 01:03] appaquet commented on #35968
Got a bit further with the xargo path.

My `Xargo.toml`
[code]

My `Cargo.toml`
[code]

I don't kwow if it's required, but from xargo doc, you need explicitly use `extern crate compiler_builtins`, which I added to my lib.rs.

I then compiled with: `RUSTFLAGS="-Z embed-bitcode" xargo build --target $TARGET --release` to compile. Make sure it builds core/std/compiler_bultins. `xargo clean` doesn't c

[2018-09-29 03:42] #52042 closed

[2018-09-29 04:18] GabrielMajeri commented on #54637
I'm no security expert, but from what I can tell from [the LLVM code](https://reviews.llvm.org/D41723), this `retpoline` patch changes the PLT?

Because it just so happens we [have a PR which will disable the PLT by default](https://github.com/rust-lang/rust/pull/54592) and it seems that it might reduce the performance impact of retpoline (or even make it *mostly* unnecessary).
If you also build y

[2018-09-29 04:54] Havvy commented on #38885
The code gives the following compiler output (with a `#[crate_type="lib"]\n\n` prefix)

[code]

There's no warning about an unreachable pattern anymore. As such, proposing this be closed.

[2018-09-29 06:31] Aaron1011 commented on #53945
I've determine that passing `-C opt-level=0` causes the compilation to succeed, while passing `-C opt-level=1` causes it to fail.

I suspect that this issue is caused by an interaction between [LLVM's `Dead Global Elimination` pass](https://github.com/rust-lang/llvm/blob/rust-llvm-release-8-0-0-v1/lib/Transforms/IPO/GlobalDCE.cpp) (which doesn't run with `opt-level=0`)  and the sanitizer. My guess

[2018-09-29 07:07] scottmcm commented on #53224
Did I miss a concise list somewhere of "here's why these but not the other are getting uplifted"?

Part of me feels that, even where I agree with the lints, that a bunch of these ought to be generalized if they'd go into `rustc` itself.  For example, `.step_by(0)` feels like it should be some sort of "what inputs are sane" attribute on parameters that could be checked more generally.  Or things li

[2018-09-29 08:16] boskiv commented on #44931
Does anyone used https://crates.io/crates/caesium?
Is there some instruction how to publish crate there ?

[2018-09-29 08:31] nagisa commented on #54637
We should still support retpolines when @PLT is used. That being said, it seems to me that this is almost entirely a linker’s job (i.e. all of the support is being added to `lld` and I haven’t seen any patches against LLVM itself). This means that implementing this is probably as easy as passing the relevant flags to linker and can be done even now (`-Clink-args`) without any explicit support from

[2018-09-29 08:35] CodeSandwich opened #54663 "Borrow checker extends borrow range in code with early return"
Borrow checker seems to extend mutable borrow of variable to the end of the function in case of an early return of value dependent on the borrow:
[code]
Gives:
[code]
Compilation fails on stable, nightly and nightly with NLL, works on nightly with polonius.
[Try it on Playground](https://play.rust-lang.org/?gist=166bc56651e9f52726237066d06624df)

[2018-09-29 08:59] Centril commented on #54653
I think that is less helpful even if it is more true; I would retain the mention of traits because in almost all cases, `#[derive(..)]` contains a list of traits (and I personally consider it a wart in the language that you can reference anything but traits...).

[2018-09-29 09:03] Centril commented on #54663
cc @nikomatsakis

[2018-09-29 09:58] #54569 closed

[2018-09-29 10:47] flip111 opened #54664 "group use statements in block"
I have this code

[code]
(and more)

I rather write this code
[code]

[2018-09-29 10:49] nikomatsakis opened #54665 "trait permitting extra members"
I've been tinkering locally with a crate called [salsa](https://github.com/nikomatsakis/salsa). Along the way, I noticed that my impl permits me to add extra members. e.g., [I have this trait](https://github.com/nikomatsakis/salsa/blob/36e2b9cdcc01228560f9fb7ffdfadf466d21e60d/src/lib.rs#L26-L32):

[code]

But in my cargo example I can use [this impl](https://github.com/nikomatsakis/salsa/blob/36e2

[2018-09-29 11:00] GabrielMajeri commented on #54665
@nikomatsakis Hi, while playing around with that example I found something interesting:

If I add an

[code]

at the top it does error correctly:

[code]

So at least this seems to be an issue with the new Rust 2018 module system?

[2018-09-29 11:03] petrochenkov commented on #54664
[code]
works right now.

Blocks at module level in general is an open RFC - https://github.com/rust-lang/rfcs/pull/2377.

[2018-09-29 11:03] #54664 closed

[2018-09-29 11:10] flip111 commented on #54664
Sorry i asked about this on irc and looked in docs but couldn't find

[2018-09-29 11:16] GabrielMajeri commented on #54665
I think I've got a minimal repro. Considering a Rust 2018 crate with a library and a binary:

`lib.rs`:
[code]

`main.rs`:
[code]

I can also work around the bug by adding a `use repro::Foo;`

[2018-09-29 11:40] ishitatsuyuki commented on #54628
Clippy thread https://github.com/rust-lang-nursery/rust-clippy/issues/3237 opened.

[2018-09-29 12:12] Speedy37 commented on #54628
Vec::new() then vec.resize(len, 0) can be fast though.

[2018-09-29 12:12] CodeSandwich commented on #54663
Should it be a low priority issue? The broken borrowing flow seems simple and is very hard to bypass when needed.

[2018-09-29 13:16] mchernyavsky opened #54669 "Using `--format=json` with `--nocapture`"
I'm looking for a way to get test results, including stdout/stderr, in json format.

I've tried to use `--format=json` with `--nocapture` and have got an unexpected result, imo.

Example file:
[code]

1. `cargo test -- -Z unstable-options --format=json` output:
[code]

2. `cargo test -- --nocapture -Z unstable-options --format=json` output:
[code]
I expected to see this happen:
* In the 1st case,

[2018-09-29 13:24] DutchGhost opened #54670 "Incorrect borrow issue?"
EDIT: CAN BE CLOSED

Recently I wrote a crate that can convert multiple pointer and reference types into a `Pin` (see https://doc.rust-lang.org/nightly/std/pin/struct.Pin.html). The crate can be found here:
https://github.com/DutchGhost/pinpoint/tree/dev

It provides one trait:
[code]

Along with testing, I stumbled upon a case that did not compile, while perhaps it should?:

[code]

The implement

[2018-09-29 13:47] petrochenkov commented on #30827
@eddyb
Merging visibility and stability into a single thing literally is probably not a good idea.
Visibilities are also important during import resolution and affect how far things are reexported (with globs or not), while stability/deprecation is a single post-processing check not interacting with anything else.
That said, the error "trying to access something unstable" is probably going to be r

[2018-09-29 14:18] pawroman commented on #54505
Thanks for the suggestion for `std_path`, unfortunately I can't really make the association of `FnCtxt` and `LoweringContext`.

It seems to me they are disjoint -- in `driver.rs`: lowering happens in `phase2_configure_and_expand_inner`, whereas typechecking happens in `phase_3_run_analysis_passes`. `std_path` in `LoweringContext` takes `&mut self`:

https://github.com/rust-lang/rust/blob/7e7bc060c

[2018-09-29 15:07] #54563 closed

[2018-09-29 15:07] #54562 closed

[2018-09-29 15:36] panicbit opened #54672 "Rustdoc small screen layout fully qualified name not showing"
The layout for small screens hides the fully qualified name (and associated controls) and leaves some blank space.

Compare `beta 1.30` with `stable 1.29.1`:

![image](https://user-images.githubusercontent.com/628445/46247540-40779d80-c40d-11e8-9703-775eb5ec067a.png)

[2018-09-29 15:44] matthewjasper commented on #53220
Current message

[code]

[2018-09-29 16:05] phaazon opened #54673 "Incorrect information attached to slice::from_ref"
Head over on the official documentation of [slice::from_ref](https://doc.rust-lang.org/std/slice/fn.from_ref.html). There’s a small information bubble that will trigger the following, confusing information:

![img_092918_180315](https://user-images.githubusercontent.com/506592/46247886-2c826a80-c412-11e8-9360-9e37438f9f8e.png)

I think other functions from the `std` have this problem as well and t

[2018-09-29 17:42] #54593 closed

[2018-09-29 18:08] RalfJung commented on #54541
I am afraid it is very hard to do anything without a way to reproduce the problem.

@jerous86 the backtrace is unfortunately not very useful because it lacks line numbers. Could you compile rustc on your machine, with `debuginfo-lines = true` in `config.toml`, and use that to compile your project and get a better backtrace?

[2018-09-29 18:11] RalfJung commented on #54541
@estebank Given https://github.com/rust-lang/rust/issues/54541#issuecomment-424153151 I think the issue is older than that. It seems it already triggered https://github.com/rust-lang/rust/blob/aa3ca1994904f2e056679fce1f185db8c7ed2703/src/librustc_mir/transform/const_prop.rs#L619. That is really old so I do not know how this even worked with 1.28.

[2018-09-29 18:12] GabrielMajeri commented on #38218
@EFanZh The issue is that Rust will generate code for your CPU family, which is the Haswell family.
In theory, AVX is architecturally guaranteed on Haswell, but some CPUs like your Pentium lack it.

Could you try compiling with no flags, and then add `-C target-feature=+avx,+avx2` and confirm that it crashes?

[2018-09-29 18:32] RalfJung commented on #53819
The MIR const qualifier does type-based reasoning on projections of pairs, but the old HIR one not.

[2018-09-29 18:44] macpp opened #54677 "proc_macro::Span::source_file() returns incorrect paths"
in some cases, proc_macro::Span::source_file() returns SourceFile with path "src/main.rs" , even if macro was used in other file/module

how to recreate:

in proc_macro crate:
src/lib.rs
[code]

in test crate
src/main.rs
[code]
src/test.rs
[code]

after using `cargo build` i get following output:
[code]

when span::source_file().path() is invoked on span from `Struct1` or `Enum1` it returns "src/m

[2018-09-29 18:55] RalfJung commented on #54387
Seems like @oli-obk's quest to keep `Undef` contained within the CTFE engine failed at last. :/

However, in this case nothing should even be trying to convert to a `ConstValue`. So I am not sure if that's really the problem.

[2018-09-29 18:57] exscape commented on #46043
I'm getting this warning despite deriving Copy and Clone.

[code]

Error message:

    warning: #[derive] can't be used on a #[repr(packed)] struct that does not derive Copy (error E0133)
     --> src/main.rs:6:23
      |
    6 | #[derive(Copy, Clone, Serialize, Deserialize)]
      |                       ^^^^^^^^^
      |
      = note: #[warn(safe_packed_borrows)] on by default
      = warning: t

[2018-09-29 19:02] retep998 commented on #46043
@exscape That's a bug with `serde_derive`. It isn't noticing the `#[repr(packed)]` and failing to generate a `Serialize` implementation that can work with packed fields.

[2018-09-29 19:09] SimonSapin commented on #27800
Next is landing a deprecation warning.

[2018-09-29 19:23] abonander opened #54678 "CStr unchecked constructor can be a const fn"
The current implementation of `CStr::from_bytes_with_nul_unchecked()` is not valid in a const context, but it can easily be tweaked so that it is:

[code]

[2018-09-29 19:30] CodeSandwich commented on #47627
Since `rustc 1.30.0-nightly (63d51e89a 2018-09-28)` the behavior is consistent, it's always `mod module;`. Is there any way to access the file module's content in proc macro?

[2018-09-29 19:31] RalfJung commented on #53819
@abonander yes. It is too late to gate them in `const`. And they also do less harm there because we can do sanity checks on `const` to ensure they match their given type, which is not possible for `const fn`.

[2018-09-29 19:33] RalfJung commented on #54387
Actually it looks like this is not a `ScalarPair`, but a `Scalar` being undef. At least that's what the line numbers are saying. It does not make much sense though.

[2018-09-29 19:41] #54670 closed

[2018-09-29 20:17] zackmdavis commented on #54651
Implementing this as part of the existing [`UnusedAttributes` pass](https://github.com/rust-lang/rust/blob/eb50e75729bce449272ffb3bfbca2f7234f2ae13/src/librustc_lint/unused.rs#L206) would be complicated by #45216, but it might also be possible to implement where the existing "empty trait list" warning is issued (possibly as a [buffered early lint](https://github.com/rust-lang/rust/blob/eb50e75729b

[2018-09-29 20:48] GuillaumeGomez commented on #54673
No it's actually expected. However, a bit more explanations could be useful? Any idea @QuietMisdreavus?

[2018-09-29 21:01] kzys commented on #36277
In that case, cargo, rustup, or both of them should have the option to not install docs. Rustdoc itself can't do much.

[2018-09-29 22:33] Havvy commented on #54651
I need to make `UnusedAttributes` a buffered early lint for the same thing with `cfg_attr`.

[2018-09-29 22:38] phaazon commented on #54673
What do you mean expected? It’s clearly confusing from a user’s perspective. :)

[2018-09-29 22:47] Havvy opened #54682 "Docs: Hide nightly-only messages on doc.rust-lang.org/nightly-rustc"
When reading the nightly-rustc docs, all the yellow boxes saying they're experimental is entirely noise. It'd be nice to remove them.

[2018-09-29 22:47] Havvy commented on #54682
I'm putting both T-Doc and T-Rustdoc, but I'm not sure which teams this falls under.

[2018-09-29 23:16] steveklabnik commented on #54682
This is a deliberate design decision to inform people of APIs that may exist in the future, and point to where you can request stabilization.

T-rustdoc may or may not want to reconsider this, though, so I won’t close just yet.

[2018-09-29 23:28] Havvy commented on #54682
That makes sense on `core`, `std`, and `alloc`, but `rustc_nightly` is all implementation details. It's placed on literally everything on https://doc.rust-lang.org/nightly/nightly-rustc/syntax/parse/struct.ParseSess.html#method.buffer_lint when there's no reason to expect to be able to use the struct at all in stable Rust. A top level notification that it's the internal docs might not go amiss, bu

[2018-09-29 23:43] retep998 commented on #36277
The real solution here is for `rustdoc` to stop creating so many files! Come up with ways to merge multiple items into a single html file, so crates like `winapi` don't take literal [hours](https://www.reddit.com/r/rustjerk/comments/81elox/wew/) to document.

[2018-09-30 00:00] kzys commented on #44687
How about something like that?

http://rust-pull-request.s3-website-us-east-1.amazonaws.com/44687/std/

- Version picker is in the page itself, inserted by JavaScript (no iframe)
- The picker is sticky, always shown since Rust is evolving fast still.
- The version information is hosted as a static JSON file on doc.rust-lang.org (not implemented)

[2018-09-30 01:00] Mark-Simulacrum commented on #54682
I think it makes more sense to stop shipping nightly-rustc as part of the stable and beta toolchains, presuming we do so today.

Having said that, I could see the usecase for telling rustdoc "this set if features is enabled already" such that we could whitelist rustc_private for the compiler docs.

[2018-09-30 01:45] Aaron1011 commented on #53945
**TL;DR**: As as a temporary workaround, pass `-C opt-level=0`. This issue is caused by an LLVM bug, so it will need to be fixed upstream.

I've now determined that this is definitely an LLVM bug. I've created a minimal reproduction, which only uses Clang and other LLVM tools, here: https://github.com/Aaron1011/llvm_arg_elim

The issue occurs due to the behavior of LLVM's `DeadArgumentEliminationP

[2018-09-30 02:00] zackmdavis commented on #54503
PR for `reason =` is #54683.

@myrrlyn I'm not sure what "use sites" means in this context?

[2018-09-30 02:18] dooblad opened #54684 "No warning given when mutability unnecessary in match arm pattern with mutable reference"
The compiler doesn't notice and/or warn that a mutable reference in a match arm pattern doesn't need to be mutable.

I tried this code:

[code]

I expected to see this happen: The compiler would give a warning, saying that `mut` is unnecessary in the first match arm.

Instead, this happened: The compiler gives no warnings.

## Meta

`rustc --version --verbose`:
[code]

[2018-09-30 04:06] repnop opened #54685 "Inconsistent behavior when comparing function pointers in release"
Playground link: https://play.rust-lang.org/?gist=62d362e2bf72001bd3f3c4a3ed0c842c&version=stable&mode=release&edition=2015

Switching to debug causes it to print both addresses twice (expected behavior), but in release both functions are optimized into one, so `x` and `y` are given the same address. @CryZe took a look at the assembly, and LLVM removed the first comparison (and evaluated it to a c

[2018-09-30 04:08] rep-nop commented on #54685
Also worth noting (pointed out by @memoryruins) that MIRI throws an error in the comparison saying it dereferenced a function pointer.

[2018-09-30 04:12] jens1o commented on #53681
How much faster is it?

[2018-09-30 04:17] #54594 closed

[2018-09-30 04:53] ishitatsuyuki commented on #54685
We run mergefunc pass on release builds. Anyway, can you explain why this is a problem? Rust does not make any guarantee on pointer values.

[2018-09-30 04:58] CryZe commented on #54685
It seems like LLVM starts comparing pointer of bar to bar instead of comparing bar to foo. This very much looks like LLVM is messing up in some way.
![https://cdn.discordapp.com/attachments/273539705595756544/495820067091513347/unknown.png](https://cdn.discordapp.com/attachments/273539705595756544/495820067091513347/unknown.png)
![https://i.imgur.com/dvWMTjE.png](https://i.imgur.com/dvWMTjE.png)

[2018-09-30 04:59] dtolnay commented on #48821
The `const_let` feature gate does not seem to work for field assignment.

[code]

[code]

It suggests adding `#![feature(const_let)]` even though that feature is already enabled.

[2018-09-30 05:29] GabrielMajeri opened #54688 "target-cpu=native should also check all the target-features"
Because LLVM doesn't know what `target-cpu=native` is, we currently [convert this to an actual CPU family name](https://github.com/rust-lang/rust/commit/1fd45a13dee17701fc0aeaa847c1919d485d09fd), relying on the [`llvm::sys::getHostCPUName`](http://llvm.org/doxygen/namespacellvm_1_1sys.html#a2e8cdc0e591685c9156af3d0d4fdae06) function. So if the current CPU's family is Haswell, we convert `target-cp

[2018-09-30 05:38] johnkarasev commented on #36712
just use vec.reverse() and then the standard pop()

[2018-09-30 05:41] johnkarasev commented on #36712
`    pub fn reverse(&mut self) {
        let mut i: usize = 0;
        let ln = self.len();

        // For very small types, all the individual reads in the normal
        // path perform poorly.  We can do better, given efficient unaligned
        // load/store, by loading a larger chunk and reversing a register.

        // Ideally LLVM would do this for us, as it knows better than we do

[2018-09-30 05:41] johnkarasev commented on #36712
`pub fn reverse(&mut self) {
        let mut i: usize = 0;
        let ln = self.len();

        // For very small types, all the individual reads in the normal
        // path perform poorly.  We can do better, given efficient unaligned
        // load/store, by loading a larger chunk and reversing a register.

        // Ideally LLVM would do this for us, as it knows better than we do
        //

[2018-09-30 05:56] dtolnay opened #54689 "ICE on '_ in impl generics"
edition: 2018
rustc 1.30.0-nightly (bb0896af1 2018-09-29)

[code]

[code]

[2018-09-30 06:02] zackmdavis commented on #54689
Duplicate of #52098.

[2018-09-30 06:03] dtolnay commented on #54689
Thanks! Didn't find it with ["is_collecting_in_band_lifetimes"](https://github.com/rust-lang/rust/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+is_collecting_in_band_lifetimes).

[2018-09-30 06:03] #54689 closed

[2018-09-30 06:07] dtolnay opened #54690 "Invalid lifetime syntax in "conflicting implementation" error message"
I noticed error output like the following in the ui tests of #54687.

[code]

The `impl<'_, T>` is not valid syntax. The error message should use `impl<T>`.

[2018-09-30 06:10] #52676 closed

[2018-09-30 06:12] dtolnay commented on #52747
Closing as a duplicate of #52098 because the stacktrace is the same.

[2018-09-30 06:12] #52747 closed

[2018-09-30 06:14] scottmcm commented on #54690
In case it helps, this doesn't seem to happen inside a single module:
[code]
[code]

Also, cc the `impl_header_lifetime_elision` tracking issue: https://github.com/rust-lang/rust/issues/15872

[2018-09-30 07:11] Fedcomp commented on #36712
yeah check if vector size > 0, reverse, pop element. Too much boilerplate isn't it? :)

[2018-09-30 08:14] katyo opened #54691 "Lack initialization of dylib when it built with optimization"
Shared library with constructor function (crate_type = "cdylib"):

[code]

Expected behavior:
The function `myplugin_initialize()` runs on library loading.

Unexpected behavior:
When the crate compiled with --release or when opt-level > 0 the function not runs.

_**NOTE1:** Using ".ctors" instead of ".init_array" as **link_section** gives same result._

_**NOTE2:** Changing **crate-type** from "cd

[2018-09-30 08:47] matthewjasper opened #54692 "NLL doesn't respect user types in closure signatures"
For example, the following code compiles

[code]
cc #47184

[2018-09-30 08:48] qwerty19106 commented on #48821
@dtolnay cc [#52613](https://github.com/rust-lang/rust/issues/52613) [#51251](https://github.com/rust-lang/rust/issues/51251) [54098](https://github.com/rust-lang/rust/issues/54098)
This bug exists from 31 May at least.

[2018-09-30 09:58] levex commented on #50268
Is this not a duplicate of #51130? I get the same LLVM assertion failure.

[2018-09-30 10:00] Havvy commented on #38885
cc @estebank

[2018-09-30 10:07] GuillaumeGomez commented on #54673
I agree, that's why I asked to @QuietMisdreavus how it could be improved (since @QuietMisdreavus is the one who added this feature iirc).

[2018-09-30 10:09] Havvy commented on #54685
@ishitatsuyuki The problem is that they shouldn't produce an `x == y` expression that is false in one statement and then true in the next. They should either always be equal or never be equal, but this code snippet shows that this is not always true.

@rep-nop Can you include the source code from the playground and the compilation results (under release and debug) into your opening comment?

[2018-09-30 10:27] levex commented on #37435
No longer reproduces on `nightly`: https://play.rust-lang.org/?gist=ff40c68f35055c97aaa471149cc23e37&version=nightly&mode=debug&edition=2015

(Fixed by PR #54568)

[2018-09-30 10:39] RalfJung commented on #54387
I am working on a fix.

[2018-09-30 12:13] RalfJung commented on #54542
@mbrubeck One extremely subtle point about your code is the Nice to have no transmute, though `as *mut Vec<u8>` is pretty much the same thing. But yeah, I agree that is correct. Might be nicer to do the `arr.as_mut_ptr() as *mut Vec<u8>` only once? Also I think `arr` should have a type ascribed, inference is not entirely trivial here.

[code]

[2018-09-30 13:59] VictorKoenders opened #54695 "Weird behavior when comparing function pointers"
As per the discussion on [twitter ](https://twitter.com/eddyb_r/status/1046398239950417921)

This piece of code in release mode has weird behavior when comparing 2 pointers twice. This behavior happens only in release mode and does appear on stable.

It looks like a LLVM optimization to me, @eddyb thinks it "*might* be an accidental optimization"

[code]
[code]
[play.rust-lang.org link](https://pl

[2018-09-30 14:03] sfackler commented on #54695
Duplicate of #54685.

[2018-09-30 14:03] #54695 closed

[2018-09-30 14:04] eddyb commented on #54685
(came here from #54695)

According to @rkruppe, this could be caused by constant-folding `&a == &b` to `false` in LLVM (when `a` and `b` are different globals).
IMO this optimization shouldn't apply to functions and/or any `unnamed_addr` globals.

cc @rust-lang/compiler

[2018-09-30 14:10] djc commented on #53336
It looks like the build process is automagically linking in libunwind if installed, which doesn't seem intentional on the part of the build script. Is there some way to prevent this?

@alexcrichton, looks like you've reviewed code in that area, any ideas?

[2018-09-30 14:11] VictorKoenders commented on #54685
`Insanity Is Doing the Same Thing Over and Over Again and Expecting Different Results`

[2018-09-30 14:15] ubsan commented on #54685
This is definitely a bug in LLVM, afaict - this should never be true in C++. It may be that they never set `unnamed_addr` on functions?

[2018-09-30 14:18] VictorKoenders commented on #54685
- Still happens with `no_mangle`
- Still happens with `pub`
- Still happens with `extern "C"`

[2018-09-30 14:25] dtolnay opened #54696 "Miscompile when comparing function pointers"
From rustc 1.4.0 through 1.25.0, the following code compiles and prints `true`. This is the way I would expect it to work.

[code]

---

On 1.26.0 and 1.27.0, compilation emits a warning and we get a segfault at runtime.

[code]

[code]

---

On 1.28.0 the code fails to compile.

[code]

---

On 1.29.0 through rustc 1.30.0-nightly (bb0896af1 2018-09-29) the code compiles but is not correct.

[code

[2018-09-30 14:27] stjepang commented on #44524
Here's a related pet peeve of mine. Currently, this compiles:

[code]

But this doesn't:

[code]

Sometimes requiring `<'_>` and sometimes not requiring it feels inconsistent. We should pick a side: either require it or don't.

[2018-09-30 14:28] rkruppe commented on #54685
@ubsan Yeah Clang doesn't add `unnamed_addr` anywhere as aggressively as rustc, and `unnamed_addr` is the one that allows completely merging the functions (which is required for the comparison to return true).

[2018-09-30 15:11] arielb1 commented on #54696
This emits an `llvm.trap` even in debug mode. cc @RalfJung

[2018-09-30 15:13] arielb1 commented on #54696
Looks like promotion is promoting the equality comparison.

Minified:
[code]

[2018-09-30 15:37] RalfJung commented on #54696
Uh-oh. Yeah we shouldn't promote this. I hope. The segfaults are likely from UB; we fixed "promotion causes UB" by emitting a trap instead for what should be unreachable code... but this reaches that code. :/

Cc @eddyb @oli-obk

[2018-09-30 15:41] rkruppe commented on #54685
I don't see why this would be an LLVM bug. The observed behavior seems perfectly in line with the meaning of `unnamed_addr`: the address is not significant, so address comparisons can evaluate either way. If a frontend does not want that, it shouldn't add `unnamed_addr` to functions whose address is observed. (Not saying that's what rustc should do, if it came down to it I would argue for the curr

[2018-09-30 15:44] RalfJung opened #54697 "Cargo warning during `x.py build`: "the cargo feature `edition` is now stable""
Plenty of lines like the following are printed during a build:
[code]

This is likely caused by these:
[code]

[2018-09-30 15:46] levex commented on #33503
It doesn't seem to reproduce anymore!

[2018-09-30 15:50] matthiaskrgr commented on #54697
The clippy ones are already fixed upstream: https://github.com/rust-lang-nursery/rust-clippy/pull/3242

[2018-09-30 15:53] alexcrichton commented on #53336
Unfortunately I'm not sure where this is getting pulled in, from what it looks like scanning libstd on Linux we shouldn't ever explicitly link to libunwind to pull it in.

[2018-09-30 16:30] frewsxcv commented on #51817
Opened a PR: https://github.com/rust-lang/rust/pull/54700/

[2018-09-30 16:49] RalfJung commented on #54696
This is not as easy as I thought... we can probably easily rule out promoting comparing things of function type (though somehow my first attempt does not work), but when comparing arbitrary types that may *contain* a function, things get much harder.

[2018-09-30 17:33] Boscop commented on #36283
Any update on this?

[2018-09-30 17:48] RalfJung commented on #54696
Fix submitted at https://github.com/rust-lang/rust/pull/54702

[2018-09-30 17:48] xieyuheng commented on #38356
To help stabilizing a macro system,
the author of this RFC decide to use `TokenStream` instead of `AST`,
but `proc_macro` is not stabilized for many years.
can we go one step further to use `CodeString` (or `Code`) ?

This seems is not considered as an alternative by the author of this RFC.

[2018-09-30 17:50] RalfJung commented on #53555
As uncovered in https://github.com/rust-lang/rust/issues/54696, raw pointer comparison is not the only concern -- we also have ti disallow function pointer comparison as CTFE does not support that operation. Does `min_const_fn` handle that?

[2018-09-30 17:55] jjpe commented on #38356
@alexcrichton I'm perfectly fine with that, it's more that in the process of looking at the `proc_macro_gen` feature, it referred me here only to find as good as no mention of it. That's a bit odd to me, so I decided to mention it, at least.

@xieyuheng What would `CodeString`/`Code` even look like i.e. what would its semantics be?
Keep in mind that `TokenStream` is nothing more than the source co

[2018-09-30 18:03] xieyuheng commented on #38356
I know what TokenStream is.

[2018-09-30 18:11] xieyuheng commented on #38356
Since `TokenStream` is so hard to be stabilized,
maybe we can go one step down,
to one level lower then `TokenStream`.

Just like you have to write your own parser for `TokenStream` to get your own `AST`,
the semantics of one level lower,
is to write your own token-lizer to get your own `TokenStream`.

[2018-09-30 18:28] SimonSapin commented on #38356
The extended API for `TokenStream` (with `TokenTree`) is stable in 1.29. Importing function-like proc macros will be stable in 1.30.

[2018-09-30 19:37] Centril commented on #53668
Triage: Remaining work to be done is documenting the changes made. After that we can close this issue.

[2018-09-30 19:43] steveklabnik commented on #54502
Lints are currently in the rustc book.

[2018-09-30 19:54] CodeSandwich commented on #38356
It seems that since `rustc 1.30.0-nightly (63d51e89a 2018-09-28)` it is no longer possible to traverse code inside module in separate file. If you process `mod module;`, you get `TokenStream` containing `mod module;`, WYSISYG.

I understand, that this is necessary in order to preserver spans, hygiene and consistency. Is there or will be any way to work with content of modules in separate files? It

[2018-09-30 20:40] dtolnay opened #54704 "Incorrect suggestion to remove parentheses around if-condition containing break"
[code]

[code]

Rustc 1.30.0-nightly (bb0896af1 2018-09-29) suggests turning `f` into `g`, which changes the meaning of the program.

[code]

[2018-09-30 22:16] Diggsey commented on #54524
This breaks the documentation for all crates which depend on diesel too, unless you run with `--no-deps` 😦

[2018-09-30 22:16] stjepang opened #54705 "ICE: Unable to fulfill trait"
Rust version: `rustc 1.30.0-nightly (bb0896af1 2018-09-29)`

How to reproduce:

[code]

Error:

[code]

[2018-09-30 22:47] marce11us commented on #54588
I updated today to

`rustc 1.30.0-nightly (bb0896af1 2018-09-29)`

and it compiles fine.

[2018-09-30 22:47] #54588 closed

[2018-09-30 23:30] NatureShade opened #54707 "Creating a trait function with a macro using block designator: error: expected `;` or `{`, found `{ ... }`"
Given a simple macro:
[code]

I can use it without problems to define a function:
[code]

I can also use it to define a struct method without problems:
[code]

However when I try to use it to define a default method for a trait it doesn't work:
[code]

It gives an error message:
[code]

If I change the macro to include braces around `$body` it works:
[code]

I have no idea why this happens but I g

[2018-10-01 00:51] #54381 closed

[2018-10-01 01:02] estebank commented on #54505
Left a couple of comments on possible approaches on that commit. The code looks fine.

[2018-10-01 01:36] mjbshaw opened #54709 "Regression from stable: pointer to usize conversion no longer compiles"
The following code [works with Rust 1.29.0](https://rust.godbolt.org/z/whCh54):

[code]

But [it fails with the current beta](https://rust.godbolt.org/z/XEBtsF) ([and nightly](https://rust.godbolt.org/z/iGLhcg)):

[code]

I think this code should still be valid. I don't see any reason for this to be undefined behavior. This is a hack, yes, but it's very useful for FFI-related work.

[2018-10-01 02:19] Amanieu opened #54710 "min_const_fn doesn't take #[allow_internal_unstable] into account"
The `intrusive-collections` crate has a [macro](https://github.com/Amanieu/intrusive-rs/blob/bebd10d4bb6efc9ce6a6e3080703e4f59e7dff59/src/adapter.rs#L174) which defines a `const fn` that may have complex trait bounds. This macro uses `#[allow_internal_unstable]` to allow crates to use this macro without needing to enable any nightly features (just the "nightly" cargo feature on `intrusive-collecti

[2018-10-01 05:47] oli-obk commented on #54696
We don't need to do anything special about aggregates, as their comparisons won't get promoted since they depend on trait impls and aren't builtin.

[2018-10-01 05:57] #54237 closed

[2018-10-01 06:04] dtolnay commented on #54709
This check was added in #51361 so mentioning @oli-obk and @RalfJung. It looks quite intentional and justifiable to reject this code. The same code without the unsafe hack is already disallowed in 1.29.0.

[code]

[code]

I would expect this to be reconsidered after stabilizing #51910. Here is the relevant message on nightly:

[code]

[2018-10-01 06:19] oli-obk commented on #54709
Yea, this kind of constant is very dangerous. I personally don't think there can be a good enough use case to outweigh the problems with it.

You can always use a `*const ()` for FFI, which also makes your intent clearer. Pointers are not integers and treating them like that will get you into trouble not just in Rust

[2018-10-01 06:29] RalfJung commented on #54696
Ah, great. I entirely forgot that this is pre-desugaring so we are seeing binary operators that will become method calls...

[2018-10-01 06:35] RalfJung commented on #54709
Agreed, this was a deliberate change in behavior (and we cratered it, I assume?). The union hack was more of a loophole that we closed.

Now, to be fair, this is a `static` and not a `const`. For `const` there are plenty of examples of such a "pointer disguising as an integer" causing problems. For `static`, however, the situation is less clear: Consts cannot refer to static, so the final value be

[2018-10-01 06:40] RalfJung commented on #54685
Oh this is beautiful. ;) Finally we have a real-life example of pointer comparison being non-deterministic. It's not at all how I expected that example to look, though...

Non-determinism does *not* mean that we have UB, so I do not think there is a huge problem here. But non-deterministic comparison is certainly surprising. It means, for example, that the `PartialEq` implementation for function p

[2018-10-01 06:48] oli-obk commented on #54709
A static can refer to another static's value though. and then we have the same problem.

[2018-10-01 06:49] oli-obk commented on #54709
And I don't think we want to make referring to other statics be dependent on the other static's validity checks succeeding

[2018-10-01 07:38] dtolnay commented on #54653
+1 to @Centril, I would keep calling them traits and it can be a dirty secret that derives can emit whatever they want.

[2018-10-01 07:46] dtolnay commented on #54644
Let's continue with the improvements in #54646, but based on https://github.com/rust-lang/rust/pull/54646#issuecomment-425498308 this sentence was accurate.

[2018-10-01 07:46] #54644 closed

[2018-10-01 07:51] #54566 closed

[2018-10-01 07:55] dtolnay commented on #54551
Some previous discussion in the RLS repo:

- https://github.com/rust-lang-nursery/rls/issues/1032
- https://github.com/rust-lang-nursery/rls/issues/999

[2018-10-01 08:13] dtolnay commented on #54441
Minimized:

[code]

[2018-10-01 08:15] dtolnay commented on #49476
This leak / infinite alloc on invalid syntax needs to be fixed before stabilization: https://github.com/rust-lang/rust/issues/54441.

[2018-10-01 08:39] arielb1 commented on #54685
@RalfJung

What would be a problem would be if LLVM also assumes that equality *is* deterministic and duplicates 2 occurrences of the comparison.

[2018-10-01 08:39] dtolnay commented on #54124
<details>
<summary>And with `#![feature(nll)]` you get an ICE instead:</summary>

[code]

</details>

[2018-10-01 08:41] eddyb opened #54712 "x.py in incremental mode still rebuilds stage0-rustc if stage0-std changed."
That is, `stage0-rustc` appears to lose incremental artifacts.
cc @alexcrichton @Mark-Simulacrum

[2018-10-01 08:41] oli-obk commented on #53555
Well... we do have "function pointers in const fn are unstable" even for casting functions to function pointers.

[2018-10-01 08:42] eddyb commented on #54710
IIRC this is intentional, the solution is probably to change `allow_internal_unstable` to take a list of feature-gates to allow (since here you want `const_fn` *not* `min_const_fn`).
I wanted to do this before I got caught up in Rust 2018 things, I should try to make it work now.
cc @oli-obk

[2018-10-01 08:57] gnzlbg commented on #46043
Is there a bug open for this in serde upstream?

[2018-10-01 09:04] oli-obk commented on #54305
Yea we need to solve this before stabilization. When failing to generate the promoted static we can insert an actual panic.

[2018-10-01 09:07] oli-obk commented on #51910
@crlf0710 what is your use case for casting a raw pointer to an integer? Is there any reason you can't use `*const ()` or something similar?

[2018-10-01 09:09] #50796 closed

[2018-10-01 09:13] gnzlbg commented on #28728
@RalfJung did you try in debug mode? In --release you won't get a stack overflow because all that code is misoptimized away.

---

@sunfishcode

It's hard to tell what the best way forward would be without knowing exactly which optimizations `llvm.sideeffects` prevents. Is it worth it to try to generate as few `@llvm.sideeffects` as possible? If not, then putting it in every function call might be

[2018-10-01 09:31] RalfJung commented on #28728
Sure, but in debug mode LLVM doesn't do the loop optimizations so there is no problem.

If the program stackoverflows in debug mode, that should not give LLVM license to create UB. The issue is figuring out whether the final program has UB, and from staring at the IR I cannot tell. It segfaults, but I do not know why. But it does seem like a bug to me to "optimize" a stackoverflowing program into

[2018-10-01 09:37] RalfJung commented on #54685
@arielb1 Ah right, forgot about that... so, is it UB under LLVM IR to take the address of a function tagged `unnamed_addr`?

True, but it is not clear if there are any. I cannot give a satisfactory definition of LLVM semantics that makes ptr comparison deterministic, but I also was unable to find an example that would demonstrate that it is *not* deterministic.

[2018-10-01 09:41] RalfJung commented on #54709
Oh right, good point. Also, promoted code can refer to statics I assume. Same problem.

So, I think this issue should be closed as "this regression is a bugfix". The work-around is to no longer lie about the actual type of the data stored in that static, and make it e.g. of type `*const usize`.

[2018-10-01 09:51] rkruppe commented on #54685
I see no reason for that and it seems unnecessarily restrictive (again consider function pointers in vtables, their address is taken and must be considered to escape, but the actual address is never observed). It ought to be enough if comparisons, pointer->integer casts, and and anything else that leaks information about the address is undef or poison.

[2018-10-01 09:58] gnzlbg commented on #28728
In C, a thread of execution is assumed to terminate, perform volatile memory accesses, I/O, or a synchronizing atomic operation. It would be surprising to me if LLVM-IR did not evolve to have the same semantics.

The Rust code contains a thread of execution that never terminates, and does not perform any of the operations required for this to not be UB in C. I'd suspect that we generate the same L

[2018-10-01 10:07] RalfJung commented on #54685
Ack -- just taking a reference and calling it is fine indeed.

However, in Rust, with fn ptr comparison being a safe operation, that doesn't really help us all that much.

[2018-10-01 10:09] RalfJung commented on #28728
I was under the impression that you argued above that this is *not* the same bug as the infinite loop issue. It seems I misread your messages then.

Btw, this is not entirely correct -- a loop with a constant conditional (such as `while true { /* ... */ }`) *is* explicitly allowed by the standard, even if it does not contain any side-effects. This is different in C++. LLVM does not implement the C

[2018-10-01 10:12] rkruppe commented on #54685
Yes, for  Rust we may have to stop applying `unnamed_addr` to most functions ☹️

[2018-10-01 10:35] abonander commented on #54441
This might well be my fault, so I'll try to look at it sometime this week.

[2018-10-01 10:47] eddyb commented on #54685
I don't think we should stop using `unnamed_addr`, and aside from this (overly, IMO) aggressive constant-folding optimization, I expect function pointers to behave as boringly as those obtained from `Box::leak`, just that sometimes you might happen to have two pointers to the same *machine code function*, despite them originating from distinct *Rust functions*.

That is, I expect the place where n

[2018-10-01 10:57] eddyb commented on #54685
@arielb1 said:

In terms of "pure operations on SSA values", I think it's reasonable to expect that the same operation applied to the same inputs, would be always deterministic.
Doesn't GVN rely on that? ~~In fact, I'm shocked GVN doesn't hide the constant-folding here.~~

Oh, I figured out why we can even observe the difference! Printing takes a reference, and LLVM doesn't know it's a read-only r

[2018-10-01 11:09] VictorKoenders commented on #54685
Especially if you have the statement `if x == y` being executed twice giving different results. Unless `x` or `y` changes when you compare it (which shouldn't happen, but technically is possible), you'd expect a `std/core` comparison to be deterministic.

[2018-10-01 11:14] RalfJung commented on #54685
That's only true if the operation is, well, deterministic. The game is still open about whether that is the case for pointer comparison (think: comparing one-past-the-end pointers). But those subtleties are likely not an issue here.

Also one could make the same argument about casting a function to a fn ptr, I do not see a good reason why that would be any less deterministic than other operations.

[2018-10-01 11:46] oli-obk commented on #54469
Pointing at the `Bar` is hard. It might be multiple bound spread out through where bounds and generics.

We can change the message to "this generic parameter has nontrivial bounds which is not permitted in const fn"

[2018-10-01 11:50] RalfJung commented on #54685
That's a different case though. Here, both casts are in the same function even. Seems reasonable to expect something deterministic there.

I do not understand what you are proposing then. Also, ptr equality is not the same as equality of the resulting integers. We are talking about comparison at `fn()` type here, not at `usize`. The latter definitely should be deterministic. (However, LLVM has som

[2018-10-01 12:00] gnzlbg commented on #28728
The behavior of non-terminating Rust programs is always defined, while the behavior of non-terminating LLVM-IR programs is only defined if certain conditions are met.

I thought that this issue is about fixing the implementation of Rust for infinite loops such that the behavior of the generated LLVM-IR becomes defined, and for this, `@llvm.sideeffect`, sounded like a pretty good solution.

@Sergio

[2018-10-01 12:01] oli-obk commented on #54560
duplicate of https://github.com/rust-lang/rust/issues/51375 ?

[2018-10-01 12:08] gnzlbg commented on #54469
FWIW I think that the bigger issue is that the message says that the feature is unstable, but doesn't mention how the feature is actually called. I guessed, and happened to guess just fine, but if `min_const_fn` becomes stable at some point, the error should properly mention which features users have to enable for this on nightly.

[2018-10-01 12:14] oli-obk commented on #54045
I'm on it

[2018-10-01 12:42] Mark-Simulacrum commented on #54712
Yes, I believe this is because rustc/cargo will otherwise error on "found a new std" or something like that? I don't quite see how incremental is different from the normal compilation here?

[2018-10-01 12:44] zackw commented on #28728
If I understand the problem correctly, to fix the infinite-loop case, it should be sufficient to insert `llvm.sideeffect` into `loop { ... }` and `while <compile-time constant true> { ... }` where the body of the loop contains no `break` expressions.  This captures the difference between C++ semantics and Rust semantics for infinite loops: in Rust, unlike C++, the compiler is not allowed to assume

[2018-10-01 12:55] gnzlbg commented on #28728
@zackw

I don't think it's that simple, e.g., `loop { if false { break; } }` is an infinite loop that contains a `break` expression, yet we need to insert `@llvm.sideeffect` to prevent llvm from removing it. AFAICT we have to insert `@llvm.sideeffect` unless we can prove that the loop always terminates.

[2018-10-01 12:56] #53676 closed

[2018-10-01 12:56] #22692 closed

[2018-10-01 12:57] #54400 closed

[2018-10-01 12:57] #53634 closed

[2018-10-01 12:57] #54134 closed

[2018-10-01 13:32] mjbshaw commented on #54709
Can they? I thought a static could only refer to another static's address, not its value. Which is pretty different.

[2018-10-01 13:32] mjbshaw commented on #51929
It might be nice to keeps this issue open until `const_needs_drop` is stabilized.

[2018-10-01 13:33] zackw commented on #28728
@gnzlbg

Hm, yes, that's troublesome.  But we don't have to be _perfect_, just conservatively correct.  A loop like

[code]

(from the `std::sync::atomic` documentation) would easily be seen not to need a `@llvm.sideeffect`, since the controlling condition is not constant (and an atomic load operation had better count as a side-effect for LLVM purposes, or we have bigger problems).  The kind of fi

[2018-10-01 13:37] eddyb commented on #54685
@RalfJung I guess the confusing bit that led me to say "integer operations" is that LLVM uses `icmp` for comparing pointers (albeit *without* casting to integers first).
Also, I found [the code responsible for making the decision that the const-fold is valid](https://github.com/llvm-mirror/llvm/blob/eab58e03b0ffda755ab002d42cab00109d281967/lib/IR/ConstantFold.cpp#L1411-L1415):
[code]
So it seems l

[2018-10-01 13:40] oli-obk commented on #54709
Works just fine on stable: https://play.rust-lang.org/?gist=a07a6558a87a86b0ed2e23855f2b4c44&version=stable&mode=debug&edition=2015

This was implemented half a year ago by lifting a bunch of restrictions of the old const evaluator

[2018-10-01 13:46] RalfJung commented on #54685
Ah yes, `icmp` is used for both integer and pointer comparisons. I never even thought about the fact that the `i` might be for "integer". ;)

[2018-10-01 13:49] RalfJung commented on #54709
And [here's an example](https://rust.godbolt.org/z/POdAvo) of how the static it complains about can cause a problem. There's no reasonable way to implement "divide a pointer by 2" in CTFE.

[2018-10-01 13:54] RalfJung commented on #28728
Fair enough. However, as you said, the issue (the mismatch between Rust semantics and LLVM semantics) is actually about non-termination, not about loops. So I think that's what we should be tracking here.

@zackw

What you describe holds for C. In Rust, *any* loop is allowed to diverge. Everything else would just be unsound to do.

So, for example
[code]
is an okay program in Rust (but neither in

[2018-10-01 14:02] froydnj commented on #54190
Since #54529 was merged, we can close this issue, correct?  Or is it being kept open for a "proper" fix?

[2018-10-01 14:06] gnzlbg commented on #28728
It's not only `if /*compile-time condition */`. All control-flow is affected (`while`, `match`, `for`, ...) and run-time conditions are affected as well.

Consider:

[code]

where `x` is a run-time condition. If we don't emit `@llvm.sideeffect` here, then if the user writes `foo(false)` somewhere, `foo` could be inlined and with constant propagation and dead code elimination, the loop optimized in

[2018-10-01 14:07] Ekleog commented on #28728
Everything about this bug sounds to me like it'd be much easier to solve from LLVM than from `rustc`. (disclaimer: I don't really know the code base of either of these projects)

As I understand it, the fix from LLVM would be changing optimizations from running on (prove non-termination || can't prove either) to running only when non-termination can be proven (or the opposite). I'm not saying this

[2018-10-01 14:09] Nemo157 opened #54716 "Unused arguments to async fn are dropped too early"
Unused arguments to `async fn` are not moved into the resulting generator so are dropped before the future runs, here's some example psuedo-code demonstrating this ([full running playground example here](https://play.rust-lang.org/?gist=aecc2e798f99ab191939588a892afc9f&version=nightly&mode=debug&edition=2018)):

[code]

which gives the output:

[code]

I found this [because of a related issue with

[2018-10-01 14:09] QuietMisdreavus commented on #43466
It makes sense to me that ``[`baz`]`` wouldn't resolve - the name in-scope is `Foo::baz` (since it hasn't been pulled in by a `use` statement) so that seems fine to me.

That `Self::bar` doesn't resolve either seems odd. @GuillaumeGomez Does `self` resolution work when written on associated methods?

[2018-10-01 14:09] michaelwoerister commented on #54190
@froydnj That fix/workaround is for a different issue (https://github.com/rust-lang/rust/issues/54291). It's still not possible to link certain `rustc` generated code with LLD because of the dots in symbol names. We work around that for now by using MSVC's linker instead of LLD. The proper fix for this will be a new mangling scheme that does not generate symbols that confuse LLD. See https://inter

[2018-10-01 14:15] Manishearth commented on #43466
`Self` doesn't resolve the same way IIRC, so we'd have to explicitly support it

[2018-10-01 14:28] mjbshaw commented on #54709
Interesting! I wasn't aware of those changes. Thanks for the demo.

I guess I don't really see what's wrong in that example. It fails to compile (which is correct) with a reasonable error message in a reasonable location. Seems okay to me. I don't see why this has to be preemptively prevented by disabling the union transmute hack.

[2018-10-01 14:44] ljedrz opened #54719 "2 of the ui tests fail due to the system language"
The following `ui` tests fail in a non-English Windoze setup:
- [ui] ui\extern\external-doc-error.rs
- [ui] ui\macros\macros-nonfatal-errors.rs

The errors are as follows:

[code]

I didn't catch the stderr of `external-doc-error.rs`, but judging by its applicable stderr file:
[code]
I'm pretty sure it's the same issue.

[2018-10-01 14:45] gnzlbg commented on #28728
@Ekleog that's what @sunfishcode second patch might be about: https://lists.llvm.org/pipermail/llvm-dev/2017-October/118595.html

[2018-10-01 14:49] GuillaumeGomez commented on #43466
As @Manishearth said.

[2018-10-01 15:07] levex commented on #26397
@steveklabnik, @thepowersgang: no longer seems to reproduce:

[code]

[2018-10-01 15:13] jonhoo commented on #43466
This is only tangentially related, but is there any way at all we could help improve the situation for `README`'s that are generated *from* rustdoc with this change? I'm thinking specifically of https://github.com/livioribeiro/cargo-readme/issues/18, though I'm sure there are other cases where the relative links won't resolve. Could we generate absolute links instead based on the `documentation` k

[2018-10-01 15:47] atsampson commented on #52114
I'm seeing the same single test failure with rustc-1.29.1. This test is built with `-Ctarget-feature=+avx`, and I'm building on a CPU that doesn't have AVX (Xeon E5520); it dies with an illegal instruction error when it hits the first AVX instruction (a VPXOR). Should it be disabled on non-AVX machines?

[2018-10-01 15:54] RalfJung commented on #54709
Things get more tricky if the static with the "bad" `usize` is in a different crate than the place where it is used.

Also, if you write e.g. `&(STATIC / 2)` in normal code, it will get promoted to `'static` lifetime. That will cause trouble if the `STATIC` does not follow the rules for const safety.

[2018-10-01 16:30] RalfJung commented on #54709
Still this is probably sth. that *some* team should look at. AFAIK we do not have a team decision on this so far, and it seems prudent to get one. So maybe we should reopen and tag for, eh, T-lang?

[2018-10-01 16:34] nikomatsakis commented on #54538
[I started a thread on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/.2354538.20.20.60unused_patterns.60.20lint), for future reference.

[2018-10-01 16:43] mjbshaw commented on #54709
Yes, but `usize` doesn't have any "bad" values (I'm assuming "bad" means undefined behavior values (e.g. a zero `NonZeroUsize`) or a trap representation (e.g. a signaling NaN)), does it?

[2018-10-01 16:51] alexreg commented on #54560
@oli-obk At the very least, I think it's closely related.

[2018-10-01 16:56] RalfJung commented on #54709
It doesn't at run-time (except for `Uninit` aka `undef`/`poison`, i.e., except for uninitialized data). It has for constant evaluation. See [this blog post](https://www.ralfj.de/blog/2018/07/19/const.html) for some more thoughts on that.

[2018-10-01 17:29] tromey opened #54721 "lldb tests are only run on macOS"
In #54004 I discovered that lldb tests are only run on macOS:
[code]

I think it would be better to test `lldb` and `gdb` based on availability, not build OS.

[2018-10-01 17:30] cramertj commented on #53555
@RalfJung Attempting to define

[code]

with `#![feature(min_const_fn)]` gives "error: function pointers in const fn are unstable".

[2018-10-01 17:41] alexcrichton opened #54722 "Tracking issue for the `quote!` macro in `proc_macro`"
I'm splitting this off https://github.com/rust-lang/rust/issues/38356 to track the `quote!` macro specifically contained in `proc_macro`. This macro has different syntax than the [`quote` crate](https://crates.io/crates/quote) on crates.io but I believe similar functionality. At this time it's not clear (to me at least) what the status of this macro is in terms of how much we actually want to stab

[2018-10-01 17:42] alexcrichton commented on #54722
Ah, and this is also tracking the `proc_macro_quote` feature.

[2018-10-01 17:43] alexcrichton opened #54723 "Tracking issue for `proc_macro::Ident::new_raw`"
This API didn't get stabilized in the initial Macros 1.2 release because we wanted to be conservative. This API is unstable, though, and likely useful to others! This is a tracking issue for the API.

It's not clear to me if there's a blocker for stabilization other than we just wanted to make an explicit decision to stabilize the API.

[2018-10-01 17:44] alexcrichton commented on #54723
This is tracking the `proc_macro_raw_ident` feature

[2018-10-01 17:45] alexcrichton opened #54724 "Tracking issue for `Span::def_site()`"

[2018-10-01 17:47] RalfJung commented on #53555
If we have that in a test, I am happy :)

[2018-10-01 17:48] euclio commented on #43466
Here's another interesting issue:

If you take the module docs in liballoc/rc.rs and remove the ``//! [`Rc`]: struct.Rc.html`` line, you get a bunch of resolution failures. However, I'm having trouble reproducing this in a small example, so I wonder if it's an artifact of how `std` is organized.

[2018-10-01 17:50] alexcrichton commented on #53647
The `proc_macro2` crate should be used for developers which need a working `proc_macro` in all contexts, otherwise there's no current plans to get `proc_macro` working outside the compiler, so I'm going to close this

[2018-10-01 17:50] #53647 closed

[2018-10-01 17:50] alexcrichton commented on #41334
Many features here have been stabilized, so this is likely stale, so closing.

[2018-10-01 17:50] #41334 closed

[2018-10-01 17:52] alexcrichton opened #54725 "Tracking issue for `proc_macro::Span` inspection APIs"
This issue is intended to track a number of unstable APIs which are used to inspect the contents of a `Span` for information like the file name, byte position, manufacturing new spans, combining them, etc.

This issue tracks the `proc_macro_span` unstable feature.

I'm not currently sure what the blockers are for stabilization, but I know there are some! If others would like to fill this in that'd

[2018-10-01 17:55] alexcrichton opened #54726 "Tracking issue for custom inner attributes"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/54726)*

Added in https://github.com/rust-lang/rust/pull/54093 inner attributes are not allowed to be procedural macros right now, and this issue is tracking that feature of procedural macros!

Assistance in filling in this issue would be greatly appreciated!
UPDATE: https://github.com/rust-lang/rust/issue

[2018-10-01 17:58] alexcrichton opened #54727 "Tracking issue for procedural macros and "hygiene 2.0""
This is intended to be a tracking issue for enabling procedural macros to have "more hygiene" than the copy/paste hygiene they have today. This is a very vague tracking issue and there's a *very long* and storied history to this. The intention here though is to create a fresh tracking issue to collect the current state of play, in hopes that we can close some of the much older and very long issues

[2018-10-01 18:01] alexcrichton commented on #54724
This is likely highly related to https://github.com/rust-lang/rust/issues/54727 as well

[2018-10-01 18:14] petrochenkov commented on #54727
To give some background, `feature(proc_macro_hygiene)` tracked by this issue was merged from multiple features (`proc_macro_mod`, `proc_macro_expr`, `proc_macro_non_items`, `proc_macro_gen`) in https://github.com/rust-lang/rust/pull/52121.

So, it's pretty heterogeneous and is not even entirely about hygiene.

[2018-10-01 18:14] petrochenkov commented on #54727
Copypasting what I wrote in https://github.com/rust-lang/rust/pull/52121:

None of these features is blocked on hygiene, except for `proc_macro_gen`.

- `proc_macro_mod` is, IIRC, about expanding inner attributes and expanding non-inline modules (`mod foo;`). I'm not sure why `#[my_macro] mod m { ... }` with outer attribute and inline module is still gated, I'm not aware of any reasons to not stab

[2018-10-01 18:17] petrochenkov commented on #54727
`proc_macro_gen` is more about interactions between `Span::call_site` hygiene (entirely unhygienic) and `macro_rules` hygiene (unhygienic except for local variables and labels).

[2018-10-01 19:04] alexcrichton commented on #38356
Ok this issue is *massive* and has gotten to the point that I don't think it's too useful to keep open any more and track APIs. To that end I've opened https://github.com/rust-lang/rust/pull/54728 which splits this issue into a number of more fine-grained tracking issues:

* https://github.com/rust-lang/rust/issues/54722 - the `quote!` macro
* https://github.com/rust-lang/rust/issues/54723 - `Iden

[2018-10-01 19:04] #38356 closed

[2018-10-01 19:13] scottjmaddox commented on #53491
Nice! So is the plan to stabilize MaybeUninit ASAP?

[2018-10-01 19:35] RalfJung commented on #53491
Next step is to figure out why https://github.com/rust-lang/rust/pull/54668 regresses perf so badly (in a few benchmarks). I won't have much time to look at that this week though, would be happy if someone else could take a look. :D

Also I don't think we should rush this. We got the last API for handling uninitialized data wrong, let's not hurry and screw up again. ;)

That said, I'd also prefer

[2018-10-01 19:40] RalfJung commented on #53491
Oh, and something else just occurred to me... with https://github.com/rust-lang/rust/pull/54667 landed, the old APIs actually protect against some of the worst footguns. I wonder if we could get some of that for `MaybeUninit` as well? It's not blocking stabilization, but we could try to find a way to make `MaybeUninit::into_inner` panic when called on an uninhabited type. In debug builds, I could

[2018-10-01 19:51] cramertj commented on #43466
When building docs with deny warnings on nightly, currently you get a bunch of errors related to intra rustdoc links not being resolvable. It looks like the errors are coming from building docs for the standard library itself.

Can we add something to the Rust CI to check for these warnings, or otherwise disable issuing these warnings when building downstream crates?

Example: <details><p>
[code]