[2018-08-31 04:52] Cyres commented on #53718
@TheDarkula Thank you, I'll start implementing them as soon as #53699 is merged.

[2018-08-31 05:07] earthengine commented on #53448
New error messages:

[code]

[2018-08-31 05:09] earthengine commented on #53469
@oli-obk

I updated #53448 as well.

[2018-08-31 05:56] #51172 closed

[2018-08-31 05:56] #53458 closed

[2018-08-31 05:57] #52783 closed

[2018-08-31 05:57] #53817 closed

[2018-08-31 05:57] #53800 closed

[2018-08-31 06:37] RalfJung opened #53844 "PartialEq example is not symmetric"
With https://github.com/rust-lang/rust/pull/51760 landed, the `PartialEq` documentation now at the same time states

And gives an example that is not symmetric: `b1 == BookFormat::Paperback` typechecks, but `BookFormat::Paperback == b1` does not.

Cc @gnzlbg @GuillaumeGomez @steveklabnik

[2018-08-31 06:46] andreytkachenko commented on #44874
@mikeyhew @withoutboats Thank you for your replies, I'll take a look on `FutureObj`

[2018-08-31 06:57] oli-obk opened #53845 "Optimize miri engine performance for sanity checks of arrays"
The knowledge about all the elements in an array can be used to run a single check instead of running the checks on each element one at a time (suggested in https://github.com/rust-lang/rust/pull/53671#issuecomment-417566432).

This is currently [only done for strings](https://github.com/rust-lang/rust/blob/1114ab684fbad001c4e580326d8eb4d8c4e917d3/src/librustc_mir/interpret/validity.rs#L323), but

[2018-08-31 07:08] RalfJung commented on #53845
I have no idea what you are suggesting here. The array field operand iteration is already quite optimized, so for which cases do you expect performance gains here? For non-integer scalars, we still have to actually check every single element for being valid.

Also we have again the question of when to look for the layout vs. the type.

[2018-08-31 07:48] #52884 closed

[2018-08-31 07:52] mikeyhew commented on #53843
I managed to reduce it a bit more:

[code]

The error goes away if you remove the `Deref` impl for `Pin` altogether. What happens is the final type produced by autoderef is an inference variable (https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/method/probe.rs#L349), causing an error to be raised when `structurally_resolved_type` is called, because that type could have anoth

[2018-08-31 08:00] mikeyhew commented on #53843
My last comment is only for the "type annotations needed" error. I thought the "no method named `poll` found for type `Pin<&mut ()>`" error was also being caused by that, but it looks like it might be separate. Investigating...

[2018-08-31 08:16] mikeyhew commented on #53843
Never mind, looks like the ambiguity error is triggering the "method not found" error. The reason is the `return None` here (https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/method/probe.rs#L351), which makes the caller think that no methods by that name were found. If we remove that early return it should avoid the double error.

[2018-08-31 08:19] RalfJung commented on #53845
Oh, I thought you'd only do this for "full-range scalars".

For anything else, the perf win will be smaller, and I am afraid we'll have to start tearing down those beautiful abstractions and make the code ugly. :/

[2018-08-31 08:55] oli-obk opened #53847 "Nuke the `const_to_allocation` query"
This query is not doing anything anymore and only used in two locations.

Steps for resolving this issue:

1. grep for `const_to_allocation` and remember where the two `tcx.const_to_allocation` calls are
2. remove every mention of it
3. grep for `ConstToAllocation`
4. remove every mentioon of it
5. start building (this takes some time before it hits your use sites, let the computer work in paralle

[2018-08-31 08:58] oli-obk opened #53848 "Merge `Promoted` and `Static` variants of `mir::Place`"
This would allow merging most of the code in https://github.com/rust-lang/rust/blob/1114ab684fbad001c4e580326d8eb4d8c4e917d3/src/librustc_mir/interpret/place.rs#L470

I suggest to create a single variant (Maybe just leave the `Static` variant), but modify the [`Static` struct](https://github.com/rust-lang/rust/blob/83ddc33347cade429fdb47509818e775a67c1af6/src/librustc/mir/mod.rs#L1727) fields for

[2018-08-31 09:00] arturoc opened #53849 "Building for wasm32-unkown-unkown fails to find libLLVM-7.so"
Latest nightly fails to find libLLVM-7.so when linking:

[code]

This is on ubuntu 18.04

[2018-08-31 09:02] csmoe commented on #53839
`ref` is not recommended in edition-2018 https://rust-lang-nursery.github.io/edition-guide/rust-2018/ownership-and-lifetimes/default-match-bindings.html
so instead, that can be fixed with
[code]

[2018-08-31 09:32] RalfJung commented on #53847
We might just have a small helper function in `librustc_mir/const_eval.rs` doing this extraction. Depends on how often it is used, I guess.

[2018-08-31 09:34] jnferner commented on #53849
Getting the following on macOs:

[code]

[2018-08-31 09:36] jeremystucki commented on #53849
Same on CentOS 7.5

[2018-08-31 09:44] csmoe commented on #53848
I'm working on [changing](https://github.com/rust-lang/rust/pull/53247) the representation of `mir::Place`, since that may take some time to be merged, so block this for easing rebase-stuff at first and this issue will be unblocked as soon as the PR merged.

[2018-08-31 10:31] nagisa commented on #53827
Duplicate of https://github.com/rust-lang/rust/issues/28008.

[2018-08-31 11:16] djmcgill commented on #53849
It happens for `thumbv6m-none-eabi` too

[2018-08-31 11:42] fbstj commented on #53849
possibly a result of #53828

[2018-08-31 12:04] gnzlbg commented on #53844
I can fix this in #53386 .

[2018-08-31 12:12] parched commented on #53742
Actually, I think this is just https://github.com/rust-lang/rust/issues/52884, I thought the fix had made it into beta but it hasn't. @alexcrichton, will https://github.com/rust-lang/rust/commit/b0337a81bdda6958d20db1d9944968e505521cf9 go into beta?

[2018-08-31 12:31] Keruspe opened #53852 "Allow user not to install llvm shared object"
Current rust nightly installs `/usr/lib/libLLVM-7.so`. This will cause conflict with the system-provided llvm as soon as llvm 7 is packaged.
It is thus impossible to use the rust-provided llvm in a future-proof way for system packages, making it mandatory to use the system-provided llvm (lacking rust patches).

It would be great to provide a way to use static linking like before (even if that mean

[2018-08-31 12:58] mehcode commented on #37939
This seems to be fixed (in stable). Tried the play link above.

[code]

---

[code]

[2018-08-31 13:38] arielb1 commented on #53843
The problem is that autoderef is [not eagerly executing nested obligations]. The original reason for that is that we can't use the "outer" fulfillment context, while creating a nested fulfillment context felt like it would cause problems (or maybe it did cause a problem back then?).

I'm not sure there's a good reason not to create a fulfillment context and drain it there, only passing the remaini

[2018-08-31 13:45] arielb1 commented on #53843
Now that we have canonoicalization, I'm think a good idea would be to do the autoderef chain in a "canonicalization context", and only apply a deref when we are considering it.

[2018-08-31 13:55] SimonSapin commented on #52963
Ok, this is the second (different) misinterpretation of `ne` (the other being "not equal") reported in this thread, so maybe we should do something about it? As mentioned previously I think that this meaning of "host" only makes sense in the context of networking, but this APIs are not necessarily networking-related. But other than that, maybe `he` is not too bad.

@rust-lang/libs, any thoughts?

[2018-08-31 13:59] RalfJung opened #53853 "Review and improve HashMap's handling of an empty table"
In https://github.com/rust-lang/rust/pull/53804, I fixed the most immediate problem arising from how `HashMap` handles the empty table, but @gnzlbg still (rightly) sees more problems. We still use `1` instead of `NonNull::dangling()` as value for `EMPTY`, and `ptr()` even tests equality with `EMPTY` to return NULL instead. We can't really use non-NULL pointers as [sentinel values like that](https:

[2018-08-31 14:06] #53394 closed

[2018-08-31 14:15] ruuda commented on #53833
Wow, the difference is enormous!

With `codegen-units=1`, I measure no difference between 1.23.0 and 1.24.0:
[code]

1.25.0 is even a bit faster than 1.23.0 now (due to the LLVM upgrade?):
[code]

Although it looks like that advantage has been lost again. 1.26.0 was still fast:
[code]
But 1.27.0 again performs similar to 1.23.0.
[code]
1.28.0 performs similarly to 1.27.0.

Thanks for the suggestio

[2018-08-31 14:29] est31 commented on #53833
There's a tracking issue for codegen unit regressions in #47745 . I think all the issues it links to are kept open.

About the 1.26 -> 1.27 regression, it could probably be narrowed down using rustup and nightlies, and/or cargo-bisect-rustc. Not sure though whether it's worth the effort.

[2018-08-31 14:48] Centril opened #53856 "Tracking issue for RFC 2521, "Unify std::os::raw::c_void and libc::c_void via libcore""
This is a tracking issue for the RFC "Unify std::os::raw::c_void and libc::c_void via libcore" (rust-lang/rfcs#2521).

**Steps:**

- [x] Implement the RFC: https://github.com/rust-lang/rust/pull/53910, https://github.com/rust-lang/libc/pull/1082
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [ ] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilizat

[2018-08-31 14:49] pnkfelix opened #53857 "A run-pass test has conflicting repr hints"
The following code hits the lint that warns about conflicting `repr` hints on a datatype.

https://github.com/rust-lang/rust/blob/c2afca36672a85248f4da3e8db8cdfac198ad4ad/src/test/run-pass/issue-39720.rs#L15-L23

(I'm just filing this ticket so I have something to point at from a PR for #53764.)

[2018-08-31 14:55] petrochenkov commented on #43234
My only large concern with this was performance, namely:
- whether it regresses compilation speed on average.
- whether this regresses compilation speed in important special cases - auto-generated code with large control flow graphs - huge switches, or huge number of branches.

I see there's  some work this direction happens regularly, and there's a dashboard tracking performance, although I'm not

[2018-08-31 15:00] pnkfelix opened #53858 "Various FFI run-pass tests probably should be using `repr(C)` as lint is instructing."
The following run-pass tests cause the `improper_ctypes` lint to fire. It would probably be fine (and trivial) to add `#[repr(C)]` to them.

https://github.com/rust-lang/rust/blob/c2afca36672a85248f4da3e8db8cdfac198ad4ad/src/test/run-pass/extern-pass-TwoU16s.rs#L17
https://github.com/rust-lang/rust/blob/c2afca36672a85248f4da3e8db8cdfac198ad4ad/src/test/run-pass/extern-pass-TwoU32s.rs#L17
https://g

[2018-08-31 15:04] pnkfelix opened #53859 "run-pass/extern-pass-empty is probably a bogus thing to test"
The following code hits the lint that warns about trying to put `#[repr(C)]` on an empty struct.

https://github.com/rust-lang/rust/blob/c2afca36672a85248f4da3e8db8cdfac198ad4ad/src/test/run-pass/extern-pass-empty.rs#L33-L34

(This seems like a bogus test that was caught by working on fixing #53764.)

[2018-08-31 15:04] petrochenkov commented on #53224
@rfcbot resolved naming conventions

[2018-08-31 15:26] kjetilkjeka commented on #52963
Host (`he`) also makes sense in cross compilation context (host vs target) and might be confusing because of this. I think this was mentioned in some previous discussion?

If the name is being changed it should preferably be to something that will resolve all ambigouties, not change some ambigouties for different ones. Due to the abbriviation it is already expected that users will have to look up

[2018-08-31 15:33] nagisa commented on #53852
We probably should link LLVM into the backend shared library statically.

[2018-08-31 15:40] Centril commented on #53686
@petrochenkov

For me it's not the right priority to complicate the grammar of the language and introduce a whole new class of "almost real keyword" to satisfy that desire.

In particular, allowing `try!(expr)` to mean the invocation of `try!` instead of `try expr.not()` means that we take the choice away from us to allow people to omit the braces in the future (not saying that we should necessari

[2018-08-31 15:45] petrochenkov commented on #44524
Can this issue perhaps be split into multiple ones?
I'm not quite sure what exactly is tracked by it right now.

The `'_` and `impl Trait for &Type { ... }` looks good to me, but never set my ticky box due to "define-on-use" for lifetimes, which are not aligned with fundamental priorities of the language as I see them.

Those priorities include reliability of code and its resistance to accidental

[2018-08-31 15:59] alexcrichton commented on #53742
@parched hm a full LLVM update is probably a bit too risky to backport, but backporting the relevant commit to the submodule on beta should work just fine!

[2018-08-31 16:00] durka commented on #44524
@petrochenkov I thought it was already split? `'_` is already stabilized (#48469) and `impl Trait for &Type` is in #15872.

[2018-08-31 16:05] carllerche commented on #53834
@withoutboats Ah, that makes sense, thanks.

[2018-08-31 16:05] pepyakin commented on #53813
Doesn't work for me on macOS by the way.

[2018-08-31 16:10] TheDan64 opened #53861 "Function missing PartialEq when type not explicitly annotated"
Suppose we have an extern function foo for use in FFI. For some reason an explicit type annotation allows use of the PartialEq trait, but no type annotation does not (even though the error message states the type is identical: `unsafe extern "C" fn() -> i32 {foo}`):

[code]

Which errors with:
[code]

[2018-08-31 16:12] alexcrichton commented on #53849
Thanks for the report! This is a duplicate of https://github.com/rust-lang/rust/issues/53813 and should be fixed with the next nightly.

[2018-08-31 16:12] #53849 closed

[2018-08-31 16:15] cheblin opened #53862 "For same type, same trait implementation in different modules, produce 'conflicting implementation for'. Clash across modules boundaries."
[code]

[Compiler on this code](https://play.rust-lang.org/?gist=7bf8178359e95dd782972230f9f313ab&version=nightly&mode=debug&edition=2015) issue following error
[code]

[2018-08-31 16:20] psbrandt commented on #53839
Okay, thanks!

[2018-08-31 16:38] parched commented on #53742
Ok, so that's just https://github.com/rust-lang/llvm/commit/cc4b526cfaaea78902fa0dda9f49982eb170e6ac? Or perhaps just merge @cramertj's original PR to fix this https://github.com/rust-lang/rust/pull/52952 it only has 2 other trivial commits https://github.com/rust-lang/llvm/compare/03684905101f0b7e49dfe530e54dc1aeac6ef0fb...f4130c026163c984bc1b8ef6d75903a62268a698

[2018-08-31 16:44] alexcrichton commented on #53742
Ah yeah the original PR would also work well as a beta backport!

[2018-08-31 17:02] parched commented on #53742
Ok great, thanks, will you or @cramertj resubmit it?

[2018-08-31 17:17] Ericson2314 commented on #53856
OK per what @retep998 was saying, if we can get Cargo to ensure that `use_std` is always used when `std` is used, we can and should avoid putting anything in `libcore`.

[2018-08-31 17:17] Emerentius commented on #53823
The likely culprit is the upgrade from LLVM 4 to 6. The PR was merged on the 10th of Feb. It was fast on the 9th and slow on the 12th.

@estebank The behaviour did hit stable (if only for 2 releases), so does it not need the `regression-from-stable-to-stable` label?

[2018-08-31 17:22] froydnj opened #53864 "provide nightly rust-std for aarch64-pc-windows-msvc target"
`rustup` doesn't appear to know about `rust-std` for `aarch64-pc-windows-msvc`, and poking around on `static.rust-lang.org` suggests that this component isn't being built.  #53173 added the appropriate target to `rustc`, and it'd be great to continue that work by making the standard library readily available.

I'm happy to make the changes myself, but I couldn't find the obvious place to change th

[2018-08-31 17:40] estebank commented on #53823
@Emerentius what do you mean for only 2 releases? Isn't the slowdown present in stable through nightly? Reading the assembly from godbolt it seems to me like there have been some changes but the code causing the slowdown presented in this issue is still there. If that is the case, then it would need that label, but if it was fixed in current stable, then we can close the ticket, as I do not believ

[2018-08-31 18:03] alexcrichton commented on #53742
Oh anyone can! Even you @parched :)

(I probably don't have time to manage this myself)

[2018-08-31 18:31] mark-i-m commented on #41686
The OP mentions some adjusting of documentation. Does anyone know specifically which documentation needs to be adjusted?

[2018-08-31 18:54] cramertj commented on #41686
@mark-i-m [The forge has a section on updating documentation](https://forge.rust-lang.org/stabilization-guide.html#updating-documentation), but I don't think there's much to do here for deprecations other than to make sure that the book / reference / RBE aren't using the feature.

[2018-08-31 19:38] Emerentius commented on #53823
@estebank I mean it was fast in 1.23 stable and slow from 1.25 stable on, so fast for 2 stable releases, then regressed.

[2018-08-31 19:40] Centril commented on #41686
@cramertj @mark-i-m We should probably note this in the [edition guide](https://github.com/rust-lang-nursery/edition-guide) as well.

[2018-08-31 19:47] cwndrws opened #53866 "Json test output formatter should represents "test_count" as a json string instead of a number"
The output of a test suite starting when using the json formatter represents "test_count" as a json string, like so:
[code]
I would expect it to be a number like this:
[code]

[2018-08-31 19:54] thehappycoder commented on #53813
I get this with stable rust too (1.28.0):

[code]

[2018-08-31 19:56] cwndrws commented on #53866
It also seems like "filtered_out" on run finish is also unexectedly a string.

[2018-08-31 19:59] #19603 closed

[2018-08-31 20:04] spastorino opened #53868 "Calling `from` fn on an associated type that is private doesn't warn and compiler end considering the one from From trait"
Let say we have a main.rs with this content ...

[code]

error.rs is ...

[code]

and cmd.rs is ...

[code]

and you get the following error when trying to compile ...

[code]

The code is wrong because the from fn is not public. As soon as you mark it as pub everything works as expected.

Anyway, I'm reporting this because I'd expect a mention in the error report that the from considered by the c

[2018-08-31 20:07] koute opened #53869 "`rust-lld: error while loading shared libraries: libLLVM-7.so` on recent nightly"
Recent `wasm32-unknown-unknown` builds on my Travis started failing with the following error:

[code]

[rustc 1.30.0-nightly (02cb8f2a4 2018-08-29) failed](https://travis-ci.org/koute/stdweb/jobs/422776918)
[rustc 1.30.0-nightly (7061b2775 2018-08-28) worked fine](https://travis-ci.org/koute/stdweb/jobs/422182259)

[2018-08-31 20:09] sfackler commented on #53862
The location of an implementation does not matter. `Bar` implements `Read` in all contexts regardless of what module the `impl Read for Bar` is in.

[2018-08-31 20:11] koute commented on #53869
Looking at the list of commits between `7061b2775` and `02cb8f2a4` this commit look like a possible culprit: https://github.com/rust-lang/rust/commit/3cf6f0db1ab61ed33c585b156a0d5c41279f0810

[2018-08-31 20:11] koute commented on #53869
cc @michaelwoerister

[2018-08-31 20:12] cuviper commented on #53852
This is a consequence of #53245 which started linking LLVM tools dynamically and #53828 which moved libLLVM to the main rustc component to be easily shared.  I believe the codegen-backends are still linked statically to LLVM though.

[2018-08-31 20:13] fitzgen commented on #53813
@thehappycoder `wasm-bindgen` only *just* had all of the features it relies on stabilize, so it is still nightly-only until those newly-stabilized features ride the release trains from nightly -> beta -> stable.

[2018-08-31 20:15] memoryruins commented on #53869
Duplicate of #53813, #53849
Fixed in #53828, which will be in the next nightly.

[2018-08-31 20:16] koute commented on #53869
Ah, my apologies! I searched for the issue, but I didn't look through closed issues. -_-

[2018-08-31 20:16] #53869 closed

[2018-08-31 20:34] denzp commented on #53099
To be honest, I don't understand why `rustc --emit=link --target nvptx64-nvidia-cuda` is using instruction selection code from LLVM when `obj-is-bitcode` is disabled. When it's enabled, it simply stores a bitcode without extra steps.

Currently, there are two main issues you might face when you are trying to produce PTX assembly for a whole `libcore` crate, and both of them are related to `i128` n

[2018-08-31 20:37] memoryruins commented on #53528
|   | ast | #![feature(nll)] |
|-|-|-|
| ``fn get_iter(&self) -> Option<impl Iterator<Item = &u32>> { `` | [error](https://play.rust-lang.org/?gist=3b4af1ac8c197a75090b5ddd546f6408&version=nightly&mode=debug&edition=2015) | [error](https://play.rust-lang.org/?gist=31cc69c0914430c6f2cf957b2588719e&version=nightly&mode=debug&edition=2015) |
| ``fn get_iter(&self) -> Option<std::slice::Iter<'_, u32>>

[2018-08-31 20:49] cuviper commented on #53868
In this context, the compiler thought that you meant `<Cmd as From>::from`, since `trait From` is public and in the prelude.  There is a reflexive `impl From<T> for T` affecting all sized types.

[2018-08-31 21:00] nikomatsakis commented on #53528
Hmm my guess is that this has something to do with the variance of `impl Iterator<Item = &32>` (invariant) vs `Iter<'_, u32>` (variant), but I could be wrong. Nice find @andreytkachenko, thanks for the bug report. We'll see what we can do...

[2018-08-31 21:01] nikomatsakis commented on #52706
Curious, needs some more investigation.

[2018-08-31 21:04] spastorino commented on #53868
Yes, for this case I was suggesting that it could give you a hint saying ... did you forgot to add pub here?.

/cc @nikomatsakis given we've talked about this over Zulip.

[2018-08-31 21:05] RalfJung opened #53871 "Add debug assertions to raw pointer methods testing for unaligned/NULL pointers"
In https://github.com/rust-lang/rust/pull/53783, we document more precisely the rules for the various methods that can be used to access memory through raw pointers. In particular, we clarify that the pointer must be non-NULL and aligned *even when the access has size 0*.

This issue is about helping people find bugs in libstd by adding a `debug_assert!` to all these methods testing that condition

[2018-08-31 21:09] cramertj commented on #53794
Okay, it's not exactly minimal, but I've put together [this repo](https://github.com/cramertj/link-error-repro) containing some scripts and an example project that will reproduce the error. To download the fuchsia SDK, run `.,/clone_sdk.sh`, and to build (and get the error) run `./build.sh`. Let me know if there's anything else I can do help debug this!

[2018-08-31 21:16] thehappycoder commented on #53813
@fitzgen thanks for pointing out. I just noticed that it is using nightly version. I am new to rust, so I have no idea how to rollback to previous nightly version to use as a workaround.

[2018-08-31 21:31] clarcharr commented on #53224
Also this is just one example of where naming conventions might conflict: this post suggests `dropping_copy_types` whereas I suggested `drop_copy_types`. The lint is specifically looking for calls to `drop`, and should explicitly name the function. "Dropping" copy types is completely natural and happens all the time. :p

[2018-08-31 21:33] clarcharr commented on #53224
If people find it reasonable, I have a lot on my plate right now but I could propose another RFC specifically for lint naming conventions with lessons from clippy. I wouldn't necessarily block all uplifts until then but it may be worthwhile to have a larger discussion on this.

[2018-08-31 22:08] memoryruins commented on #53450
Thanks for the report and example @as-cii!
Tagging as A-NLL since it could potentially be fixed with NLL, which also errors currently.
Similar issue #53528

[2018-08-31 23:13] nnethercote commented on #53643
Yesterday, I started looking at rewriting `precompute_borrows_out_of_scope`, and will continue on Monday. It's fiddly getting the algorithm into a nice state, but definitely doable.

[2018-08-31 23:16] Cyres commented on #53718
Added rest of `const_int_conversion` to #53697

[2018-09-01 01:07] #48006 closed

[2018-09-01 02:26] ecstatic-morse opened #53875 "Rustdoc panics on beta and nightly"
# Summary

After adding some functionality to [typenum](https://github.com/paholg/typenum), the compiler panicked while generating documentation on both the `nightly` and `beta` channels. The code compiles and runs successfully on all compiler versions, but docs can only be generated on `stable`.

I'm not sure how to go about generating a reduced test case, so here's a link to the [PR which caused

[2018-09-01 02:29] ecstatic-morse commented on #53875
This is a duplicate of #52873.

[2018-09-01 02:29] #53875 closed

[2018-09-01 02:31] letheed opened #53876 "Missing coercion of function pointer argument"
When using `drain_filter`, passing a function directly I got the following error:

[code]

Workaround is trivial with closure but I was a bit surprised `fn(&Foo)` doesn't coerce to `fn(&mut Foo)`. Any reason that's not allowed?

I've searched the tracker but couldn't find a similar issue, apologies if this is a duplicate.

[2018-09-01 04:02] joshtriplett commented on #53224
I'd like to see `for_loop_over_option` uplifted as well. (Note: Accidentally clicked the checkbox, so I unclicked it.)

[2018-09-01 04:03] cheblin commented on #53862
Could you please point me where I can read get exactly this knowledge. Thank you.

Any way I expected dispatching depends on module used, With function it works.
[code]

[2018-09-01 04:05] joshtriplett commented on #53224
@rfcbot concern infinite_iter

I think the `infinite_iter` lint might be excessively opinionated about desirable style. Looping over an infinite iterator doesn't seem like an inherent problem. On the other hand, an infinite iterator fed to *collect* definitely is.

[2018-09-01 04:06] abonander commented on #39935
@alexcrichton Do we want to support stability on trait impls or not? I remember this being discussed elsewhere but I don't remember the conclusion.

[2018-09-01 04:14] Manishearth commented on #53224
I guess you're talking about cases where you're iterating over a receiver? Yeah, that makes sense.

@clarcharr Yeah, this sounds great! I don't think there needs to be a rush, and we can rename lints in clippy later too in a backwards compat way.

[2018-09-01 05:43] kzys commented on #18419
Then maybe resolving the issue? I personally prefer to keep Rustdoc CommonMark-compatible.

[2018-09-01 05:50] Manishearth commented on #53805
So the clean way to do it would be to add a new pass that visits the entire crate and throws warnings when it doesn't find tests.

However, this means we would be parsing markdown a third time. If we want to avoid that, we can piggyback on the [intra doc links pass](https://github.com/rust-lang/rust/blob/master/src/librustdoc/passes/collect_intra_doc_links.rs)

We parse the markdown [here](https:/

[2018-09-01 06:35] kzys commented on #35483
Note that #35012 has been closed without merging the change. Meanwhile Playground is showing the snippet like below now;

[code]

[2018-09-01 06:43] kzys commented on #35483
As @alexcrichton wrote on #35012, indenting Rust code without parsing would change the meaning of the code. So, can we fix the issue without parsing (or parsing Rust code for indentation is worthwhile?)

[2018-09-01 06:54] matthiaskrgr opened #53879 "diagnostics: can we suggest &* here?"
I spent {way too much} time on this yesterday:
[code]
this code fails to build with
[code]
passing `v` by reference doesn't help either ( `.version(&v)`, the msg is almost identical then).

What fixed this for me in the end was `.version(&*v)`.

Is there a way we could suggest to the user to use `&*` in this example?

the `version` method signature can be found [here](https://docs.rs/clap/2.32.0/c

[2018-09-01 07:25] Havvy commented on #53876
I want to say that this coercion was in Rust before version 1.0, but removed because it caused too much confusion. But my memory of that era is getting fuzzier with each passing year.

[2018-09-01 07:29] matthiaskrgr commented on #53879
Indeed, but in my original code I had a function to generate the version which returned a `String`,

[2018-09-01 07:40] Havvy commented on #53862
From https://doc.rust-lang.org/reference/items/implementations.html#trait-implementation-coherence, second paragraph:

"Two trait implementations overlap when there is a non-empty intersection of the traits the implementation is for, the implementations can be instantiated with the same type."

Your case is the trivial case where there's one type and one trait in each impl, and they both are equiv

[2018-09-01 07:57] Havvy commented on #53827
But #28008 is closed. So we should probably keep one issue open for this. Especially since `box` syntax isn't coming any time soon AFAICT.

[2018-09-01 08:16] aribeironovaes commented on #51947
Hi @japaric ,

Did you figure our how to fix this issue?
I'm trying to run cortex-m-quickstart on a STM32L475 and I'm getting Stuck on the LLVM ERROR: Unexpected anonymous function when writing summary error if debug = true.

Can you let me know if you could successfully run the sample on this version of Cortex M4?

Thanks lot in advance,

Angelo Ribeiro.

[2018-09-01 08:34] jashank commented on #52957
I've run up against this one in nightly f8d34596f 2018-08-30 (while building documentation for `futures-util-preview` at 5cca7072f).

[2018-09-01 09:12] Neurrone opened #53881 "Compiler panick when linking against static library on windows with static-nobundle"
I'm trying to use bindgen to generate bindings to V8, and link statically against it. I've already built V8 statically, and have the .libs stored in an environment variable, which gets used in the following build script.

[code]

This is the output of `cargo build --verbose` with a stack trace:

[code]

[code]

[2018-09-01 09:32] Havvy commented on #53862
Closing because, AFAICT, there's nothing actionable here.

@cheblin If you have any more questions regarding this, feel free to ask them here. Otherwise, you can also ask them in users.rust-lang.org, IRC, Discord, Reddit, etc. etc.

[2018-09-01 09:32] #53862 closed

[2018-09-01 09:36] nikomatsakis opened #53882 "improve error message when"
This example ([playground](https://play.rust-lang.org/?gist=dbf25e623505ebbb9a118b9155107fbc&version=stable&mode=debug&edition=2015)):

[code]

gives this error:

[code]

I think we could do better. For example, we don't explain anything about how `impl Iterator` disallows lifetimes; and I think we can clarify *why* `data is being dropped.

I don't yet have a concrete suggestion, though, have to t

[2018-09-01 09:40] nikomatsakis commented on #53125
So, as discussed, this is ready for stabilization. This is a great candidate for first PRs! The [stabilization guide page on forge](https://forge.rust-lang.org/stabilization-guide.html) gives instructions on how to proceed.

[2018-09-01 09:41] nikomatsakis commented on #53125
Also, we should touch base with the @rust-lang/docs team: what is needed around documentation here?

[2018-09-01 09:42] nikomatsakis commented on #52768
I think we are

[2018-09-01 09:43] nikomatsakis commented on #53882
With respect to impl Iterator, one thing I thought of is this

[code]

But in a way -- in this *particular* case -- it doesn't matter anyway,  as there is nothing you could change that signature too that would work.

[2018-09-01 10:47] nikomatsakis commented on #53695
@matthewjasper [raised an interesting point on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/136281-wg-unsafe-code-guidelines/subject/data-invariants/near/133172831) that I think is worth preserving. In particular, we were discussing how, in MIR, we desugar:

[code]

into something like:

- Evaluate `EXPR` into a temporary `TMP`
- Destructure `TMP` into the pattern `PAT`

But in the case o

[2018-09-01 10:56] Neurrone commented on #37403
Hoping this gets fixed before the 2018 edition, as it is extremely confusing behaviour. Just wasted over an hour trying to understand why it wouldn't find static .libs when I've specified all paths correctly.

[2018-09-01 11:51] derekdreery commented on #53813
For future reference, you can use rustup to install any nightly, for instructions see [the rustup github page](https://github.com/rust-lang-nursery/rustup.rs#toolchain-specification)

[2018-09-01 11:58] pepyakin commented on #53813
Still getting this issue on the latest nightly:

[code]

[2018-09-01 12:06] derekdreery commented on #53813
It seems to work fine for me (on arch linux)

[code]

[2018-09-01 12:32] Cyres commented on #53718
I'm currently rebasing #53697 and testing. Then the first bunch should be ready to merge.

[2018-09-01 13:29] MagnumOpus21 commented on #53331
@Cyres I will do that sir. Was busy with my internship.

[2018-09-01 13:32] Cyres commented on #53331
@MagnumOpus21 If you need help, don't hesitate to ping me here, in Discord (Cyres#8322) or on [StackOverflow](https://stackoverflow.com/users/3131852/tim-diekmann) in the rust chat room.

[2018-09-01 13:43] matthewjasper commented on #53882
I've assigned myself since I've been working on things in this area recently, but other things have come up as higher priority, so I might not get around to this for a few weeks.

[2018-09-01 13:47] MagnumOpus21 commented on #53331
Thank you 😄 @Cyres

[2018-09-01 15:11] opus111 commented on #53827
Just 2 cents from the peanut gallery...  This bug has been around for 3
years.  Surely Rust needs a stable way to allocate large arrays.

On Sat, Sep 1, 2018, 3:58 AM Ryan Scheel <notifications@github.com> wrote:

[2018-09-01 15:38] nagisa commented on #53827
We did make an attempt at solving this with placement-in, but that didn’t work out overall. Same problems are ailing the `box` syntax. An entirely different design is necessary.

[2018-09-01 16:04] Cyres opened #53886 "Is it idiomatic to use `impl<T> From<T> for Option<T>` in argument position?"
See [this question on StackOverflow][2] with no answers so far.

This trait is [implemented since 1.12.0][1]:
[code]

How idiomatic is this as an argument? Consider this example:

[code]

If you see the documentation, it's (more or less) clear (if you know, that this trait is implemented). But if you see the code, you may be confused:

[code]
Is this fine to use or should it be avoided?

  [1]: ht

[2018-09-01 16:08] arielb1 commented on #51157
The OP's issue is just a piece of bad error reporting in AST borrowck, NLL gives the correct diagnostic:

[code]

The second issue is distinct, at it happens because overloaded call lookup uses an algorithm that is almost, but not quite, the same as method lookup. My proposal for rust-lang/rfcs#2147 would fix that.

[2018-09-01 16:15] caitp commented on #53729
Hum, one thing I did want to do seems to not be possible with cfg_attr, or an y other workaround I've tried, short of patching the binary as Servo seems to do  (https://github.com/servo/servo/blob/da8f06b0f9da13cdd3331528d620792e5672eb73/python/servo/build_commands.py#L262-L266)

It would be nice to be able to do something like

[code]

--- but, it doesn't seem to be possible to query the current

[2018-09-01 16:27] nagisa commented on #53886
This is a tracker for the issues in rustc. For support, consider posting your question on [users.rlo](https://users.rust-lang.org/), [stackoverflow](https://stackoverflow.com/), [reddit](https://www.reddit.com/r/rust/), or asking on one of the chat platforms: [#rust on irc.mozilla.org](https://www.rust-lang.org/en-US/community.html#irc-channels), [discord](https://discordapp.com/invite/aVESxV8).

[2018-09-01 16:27] #53886 closed

[2018-09-01 16:56] Centril commented on #53555
@rfcbot resolve implementation
@rfcbot resolve tests

Implementation and tests were added in #53604.

[2018-09-01 16:58] DutchGhost opened #53888 "cargo install cargo-outdated AND cargo install cargo-tree fails on Windows 10"
Running `cargo install cargo-outdated` and `cargo install cargo-tree` on Windows 10 fails with the following message:

[code]

[2018-09-01 17:27] GabrielMajeri commented on #13018
@alexcrichton considering #53080 has been merged, could this issue be closed?

[2018-09-01 17:41] sfackler commented on #53888
Yep, this is not a rust issue.

[2018-09-01 17:41] #53888 closed

[2018-09-01 17:47] GuillaumeGomez commented on #53125
Changes in the books and in the examples I assume. Bad luck that a few members of the docs team aren't available currently...

[2018-09-01 18:08] #52060 closed

[2018-09-01 18:08] #53689 closed

[2018-09-01 18:08] #53847 closed

[2018-09-01 18:12] RalfJung commented on #53847
Happiness meter up :)

[2018-09-01 18:58] parasyte commented on #53813
I agree with @pepyakin It is still not working on macOS.

[code]

[2018-09-01 19:54] petrochenkov commented on #53298
I looked what happens, and the issue is pretty bad.
Basically, `cfg` with any following garbage means "cfg-true" if that garbage is not a well-formed meta-item list (`cfg(nested, nested, nested)`), but can be... well, speculatively parsed as a meta-item without eagerly reported errors (this may happen pretty randomly, like in the example with `concat!("thing")` above).

This includes everything th

[2018-09-01 20:32] BinaryAura opened #53889 "Cargo and Rustc Can't seem to find the alloc crate"
I've been trying to learn more about the internals of rust by implementing data structures. I've been following this [article](https://doc.rust-lang.org/nomicon/vec.html), but it calls for using heap::allocate() rustc says heap is unresolved and I found that the heap module is in the alloc crate but, Cargo can't find it, unlike core, and rustc, says the 'alloc' is unresolved.

[2018-09-01 21:12] mjbshaw commented on #30705
Just in case people find this issue via Google or something and aren't sure how to do this, [this is now supported on stable Rust using a union to perform a transmute](https://rust.godbolt.org/z/F84cyO):

[code]

[2018-09-01 21:36] reillysiemens commented on #45728
I'm using ncurses 6.1 on Fedora 28 and everything appears to be working fine except for test colors. In #48588 @alexcrichton mentioned that

a bit tricky due to how the build works, but we can always tackle that later.

What is the barrier to migrating libtest from `term` to `termcolor`?

For now, it's leaving my test output looking like this.

![why-no-green](https://user-images.githubusercontent

[2018-09-01 21:56] mark-i-m commented on #53555
So since it looks like this will be accepted, would the next step be to try to systematically replace uses of the const_fn feature with this feature? That would allow us to get a preliminary survey of what common user cases are.

[2018-09-01 22:35] GuillaumeGomez commented on #53805
A third option would be to register actions (whatever the kind of an action would be) and then call all actions on a parsed markdown block. Therefore, intra doc links pass would become an action as well and it would allow us to generalise it a bit more. What do you think of it @Manishearth?

[2018-09-01 22:39] johnfercher opened #53890 "Provide a split method which doesn't consume the element used to split"
The [split](https://doc.rust-lang.org/std/primitive.slice.html#method.split) method consumes the element used to split, how you can see in the code below. But in some cases would be nice to move the element to the "first or second slice" like the [split_at](https://doc.rust-lang.org/std/primitive.slice.html#method.split_at) method does, but to **n** slices.

https://play.rust-lang.org/?gist=ea6f88

[2018-09-01 22:45] johnfercher commented on #53836
I would like to help with this issue. May someone give me some informations about how I can help?

[2018-09-01 23:00] stepancheg opened #53891 "Implement human-readable Display for SystemTime"
It's convenient to have a default human-readable representation of timestamp without third-party dependencies.

[2018-09-01 23:05] estebank commented on #53836
@johnfercher I believe one of the uses of `seen_newlines` should be there, which causes the span to be shifter by one for each newline, [possibly this one](https://github.com/rust-lang/rust/pull/52649/files#diff-b1a8cbfd82e0e33a362f270c6cab425eR165).

You should modify [this file](https://github.com/rust-lang/rust/pull/52649/files#diff-281e435541bc22c7246f1f4f81f7f4df) to include the incorrect cas

[2018-09-01 23:45] japaric commented on #50297
Whoops, I'm (very) late to the party.

I have read the blog post but not looked at the rustc implementation and I'm concerned with the presence of `impl Termination` and `String` (see `Testable.name`) in the proposal.

How will this proposal work with the version of `#![no_std]` binaries that's being stabilized for the edition release? Those `#![no_std]` binaries use `#![no_main]` to avoid the uns

[2018-09-02 00:04] petrochenkov commented on #53298
Fixed in https://github.com/rust-lang/rust/pull/53893

[2018-09-02 00:13] IvoWingelaar opened #53894 "Compilation hangs inside a tmux session on Arch Linux due to never-ending `cc` process"
On a fully updated Arch Linux installation certain crates (like `khronos_api v2.2.0`) fail to compile inside a `tmux` session on the current stable release channel:
[code]
Compilation works as expected outside a `tmux` session. I use default `tmux` and `bashrc/profile` configurations. The reason appears to be a never-ending `cc` process invoked by `rustc`. A `cat` on `/proc/<pid of cc>/cmdline` re

[2018-09-02 01:33] djrenren commented on #50297
@japaric : support for the embedded use case has been a goal for me from day one, though I will confess I'm not intimately familiar with it.

The `Testable` trait in the proposal is defined by the testing framework, not the language, so it can definitely be designed without the need for allocation.

As for the `#![no_main]` problem I'm not very familiar with it so I'll have to review a bit, but I

[2018-09-02 01:45] joshtriplett commented on #53224
I think `possible_missing_comma` should be uplifted as well.

[2018-09-02 01:47] zackmdavis opened #53896 "x.py fix"
#53816 (migrating part of the codebase to use `'_` lifetimes in type names) ended up involving quite a lot of manual text-editing labor because, unfortunately, rustfix doesn't work with `x.py`. (You might think that you could run `cargo fix` on an individual crate, but after supplying [missing feature flags](https://github.com/rust-lang/rust/blob/28bcffead74d5e17c6cb1f7de432e37f93a6b50c/src/libsyn

[2018-09-02 02:48] Mark-Simulacrum commented on #53896
Seeing as I believe we'd like to migrate the compiler over to 2018 edition (and probably std?), I think p-medium might be more accurate.

[2018-09-02 03:40] IvoWingelaar commented on #53894
This is fixed by removing the deprecated `hardening-wrapper` package. This issue can be considered closed.

[2018-09-02 03:40] #53894 closed

[2018-09-02 04:39] Neurrone commented on #53691
I have a similar problem, except that the error message says type namespace, and it provides no information I can use for debugging.

[code]

[2018-09-02 05:16] Manishearth commented on #50297
Yeah, cargo-fuzz uses no_main but I thought we had dropped the use case from the original eRFC? (or had considered it low priority).

cargo-fuzz can be _changed_ to be non-no_main with some libfuzzer edits.

[2018-09-02 07:13] Arnavion opened #53898 "Nightly regression from stable - macro_rules macros collide with custom derive attributes"
[code]

On nightly, building https://github.com/Arnavion/derive-error-chain/tree/v0.11.1/derive-error-chain-tests fails with:

[code]

`derive-error-chain` is a custom derive that registers an attribute named `error_chain`

[code]

If the crate that uses the custom derive also has the regular `macro_rules` macro named `error_chain` from the `error-chain` crate in scope, it fails with that error.

[2018-09-02 08:12] leonardo-m commented on #53224
Are some Clippy (or Rustc warnings) good to become errors (instead of warnings) in future Rust versions?

[2018-09-02 10:41] bjorn3 opened #53901 "Incorrect link attibute allowed"
[code]

([Playground](https://play.rust-lang.org/?gist=760c602adc45ca7fe66314eb2b8f6564&version=stable&mode=debug&edition=2015))

Output:

[code]

[2018-09-02 10:45] petrochenkov commented on #53898
Duplicate of https://github.com/rust-lang/rust/issues/53583

[2018-09-02 10:47] #53898 closed

[2018-09-02 14:14] clarcharr commented on #53224
I should add that `iter_step_by_zero` will panic at runtime now, rather than looping infinitely. May not even be worth having a lint for something so specific.

[2018-09-02 15:13] orium commented on #53482
It seems boths types of issues had been fixed.

[2018-09-02 15:26] killercup opened #53905 "Unhelpful help for E0387 "consider changing this closure to take self by mutable reference""
I just got this error message (on current stable, beta, and the nightly mentioned below):

[code]

As you can see it suggests to do no change at all:

[code]

You can reproduce this by checking out <https://github.com/hello-rust/show/pull/45/commits/d495abe606d7f4111c7d2535bb6808c212817865> and running `cd episode/9/rust/pascal/; cargo build`.

<details>
<summary>Rust version</summary>
<pre><code>

[2018-09-02 15:43] leonardo-m commented on #53224
Avoiding one panic caused by zero step sounds good.

[2018-09-02 16:59] darkwater opened #53906 "Always output errors after warnings"
Currently, compiler errors are sometimes output before warnings, which means I'd have to scroll up to view them if there are a lot of warnings. Since errors are more important than warnings, I think they should be immediately visible. In fact, I think warnings such as unused imports are completely irrelevant when the code fails to compile. Besides, the current behaviour is inconsistent and can be

[2018-09-02 17:38] gutsle commented on #47739
@rkruppe Shouldn't Wrapping be the one corresponding to modular semantics? In any case I think the best behavior is what @daxpedda and I suggested but it is only really possible if the checks can be made fast enough.

[2018-09-02 17:52] matthewjasper commented on #53448
Marking with A-NLL since this is an issue with MIR typeck, even though this happens without nll.

[2018-09-02 18:11] Boscop opened #53907 "When using associated_type_defaults: Why do I need to reimplement method with default impl when overriding assoc type default?"
rustc 1.30.0-nightly (02cb8f2a4 2018-08-29)

I'm using `#![feature(associated_type_defaults)]` and getting this error with the code below:

[code]
[code]

Why do I need to reimplement the `process()` method (which has a default impl) when overriding the `Msg` assoc type's default?
Why can't I keep using the default impl?
The `process()` method isn't even using the `Msg` assoc type.

[2018-09-02 18:16] GabrielMajeri commented on #53889
The article you mention hasn't been updated in a while, the functions you are looking for are in the [`std::alloc`](https://doc.rust-lang.org/std/alloc/index.html) module.

[2018-09-02 19:18] CAD97 opened #53908 "Consider adding a `where` bound (that's already present)"
[playground](https://play.rust-lang.org/?gist=8df4d900bd6e3ab5b0f2fbc93d19c66b&version=stable&mode=debug&edition=2015)

[code]

[code]

------

I'm unsure as to whether this is a compiler bug or something I've missed, but at the very least, this error is less than helpful at exposing the actual issue.

[2018-09-02 19:28] CAD97 commented on #46969
Copying over my minimal example from #53908 as another data point ([playground](https://play.rust-lang.org/?gist=8df4d900bd6e3ab5b0f2fbc93d19c66b&version=stable&mode=debug&edition=2015)):

[code]

Here I've added a `Sized` supertrait to my trait to get rid of the `Sized` issue but it still can't determine the required trait implementation to make this work.

[2018-09-02 20:09] IsaacWoods commented on #53856
I'd like to work on this :)

[2018-09-02 21:23] Centril opened #53911 "Tracking issue for RFC 2471, "Add lint warning for inner function marked as `#[test]`""
This is a tracking issue for the RFC "Add lint warning for inner function marked as `#[test]`" (rust-lang/rfcs#2471).

**Steps:**

- [x] Implement the RFC
- [ ] Is there anything left to do?

**Unresolved questions:**

None

[2018-09-02 21:27] Centril commented on #53907
The implementation of associated_type_defaults are not as in the RFC;
I have proposed a change to the design of the defaults in https://github.com/rust-lang/rfcs/pull/2532.

[2018-09-02 21:37] alexcrichton commented on #13018
Technically this is still an issue in that the above function doesn't optimize to nothing, but practically I think it's "fixed enough", so sure!

[2018-09-02 21:37] #13018 closed

[2018-09-02 21:58] Boscop commented on #53907
So what's the current implementation status of `associated_type_defaults`?

I've read your RFC but I still have a question: Would it still require any `impl` of my `DeviceApp` trait that overrides the `Msg` assoc type to also override `process()`?
If yes, why? `process()` makes no assumptions about the `Msg` assoc type.

And even without the `default` groups, I don't see why it would be required t

[2018-09-02 22:13] Centril commented on #53907
No one is working on it because it was clear that a different design was needed.

If yes, why? `process()` makes no assumptions about the `Msg` assoc type.

From my understanding of your code, `process()` makes no assumptions about the underlying types of the associated type defaults. When this is the case, you don't need to redefine `process()`, so this should fit your use case well; in fact, muc

[2018-09-02 23:49] chinedufn commented on #53813
Seems like a number of people (including myself) are still having this issue, can we re-open?

[2018-09-03 01:34] eddyb opened #53912 "[LLVM] Segfault / "llvm::thinLTOInternalizeModule ... Assertion `GS != DefinedGlobals.end()' failed"."
This example (reduced from `rustc_codegen_llvm`) either crashes LLVM or makes it emit an assertion:
[code]

I suspect the `for` loops aren't needed, but the control-flow there affects the bug in finicky ways.

The `llvm` name of the module appears to be important and tied to the fact that we end up emitting `llvm::` in a symbol name (because of the `impl`), which gets mangled as `llvm..` (note the

[2018-09-03 02:00] eddyb commented on #53912
Found the culprit in [`ModuleSummaryIndex::{getGlobalNameForLocal, getOriginalNameBeforePromote}`](https://github.com/rust-lang/llvm/blob/2a1cdeadd3ea8e1eba9cc681037b83f07332763b/include/llvm/IR/ModuleSummaryIndex.h#L1042-L1057):
[code]
LLVM implicitly assumes that `.llvm.` cannot show up randomly in symbol names, and rustc breaks that assumption - but LLVM never checks it, so it shares part of th

[2018-09-03 02:25] Centril commented on #53421
@rfcbot poll compiler Lorem ipsum?

[2018-09-03 02:28] Centril opened #53914 "Testing polling for rfcbot take 2"
Follow up issue to https://github.com/rust-lang/rust/issues/53421.

[2018-09-03 02:28] #53421 closed

[2018-09-03 02:29] Centril commented on #53914
@rfcbot poll lang Lorem ipsum?

[2018-09-03 02:30] joshtriplett commented on #53914
@rfcbot poll cargo Testing polling, please ignore.

[2018-09-03 02:30] cetra3 commented on #47551
I've ran into this issue as well.  What's the status of this?

[2018-09-03 02:31] Centril commented on #53914
@rfcbot poll T-cargo Testing polling, please ignore.

[2018-09-03 02:34] Centril commented on #53914
@rfcbot poll compiler, lang Testing polling, please ignore.

[2018-09-03 02:36] joshtriplett opened #53915 "Testing polling for rfcbot, take 3"
This is a test issue for rfcbot, please ignore.

[2018-09-03 02:37] joshtriplett commented on #53915
@rfcbot poll cargo Test poll, please ignore.

[2018-09-03 02:37] Centril commented on #53914
Let's test the same team again.

@rfcbot poll lang Lorem ipsum?

[2018-09-03 02:37] joshtriplett commented on #53915
@rfcbot poll lang Test poll, please ignore

What happens with a second poll in the same issue?

[2018-09-03 02:42] joshtriplett commented on #53130
@norcalli Ah, I see. That does seem unfortunate.

@eddyb I *think* that `pub use some_crate;` should probably work, by just exporting the crate and not duplicating the existing name from the `extern_prelude`. Would that be possible?

As for the ambiguity in `use rgb::*`, that's a bit harder, but I wonder if we could somehow realize that it's the same `rgb` in both cases?

[2018-09-03 03:26] frewsxcv commented on #52978
Similar issue: https://github.com/rust-lang/rust/issues/48929

[2018-09-03 03:36] nnethercote opened #53916 "Link error in rustc-main: undefined reference to `__floatundisf'"
I just updated to 763d91aa124a4278a68207b644df8c48b39fab45 and when building the compiler I get a link error on rustc-main:
[code]
This is on my Ubuntu 18.04 box, which is pretty ordinary and doesn't have anything special about it.

[2018-09-03 05:01] mcr431 commented on #53728
I've narrowed it down to be between nightly-2017-11-20 and nightly-2017-11-21. I have not locked down the exact commit but just looking at commit logs I'm assuming its this one https://github.com/rust-lang/rust/commit/f50fd075c2555d8511ccee8a7fe7aee3f2c45e14 as its a refactor of memory layouts. Will take a look in the next couple days.

[2018-09-03 05:18] Ekleog opened #53917 "rustdoc intra-rustdoc-linking appears erratic"
I'm running with `rustdoc 1.30.0-nightly (33b923fd4 2018-08-18)`.

At [this line](https://github.com/Ekleog/erlust/blob/master/erlust/src/theater.rs#L27), `TheaterBox` is not turned into a link. However, by its definition at [this line of the same file](https://github.com/Ekleog/erlust/blob/master/erlust/src/theater.rs#L83), I think it should be considered in scope, if my understanding of [rfc1946

[2018-09-03 06:06] Havvy commented on #17151
Refiled as https://github.com/rust-lang-nursery/rust-clippy/issues/3117

[2018-09-03 07:02] joshtriplett commented on #53686
I don't think it's unreasonable to parse `try {` as a try block, and `try!` as the macro, for the sake of compatibility.

I've had multiple people mention that one of the biggest pain points of the Python 2 to Python 3 transition was the change to the "print" function; it's not that people didn't like the new version, it's that it was a lot of work to change code over just to keep working code wor

[2018-09-03 07:15] Centril commented on #53686
@joshtriplett The python 2 / 3 situation doesn't apply to us because folks can combine crates with different editions. Furthermore, for those who do want to migrate, they can easily do so with `cargo fix`; I don't see a since instance in which `cargo fix` would fail to convert `try` to `r#try`. So the work needed to transition with respect to `try!` is just invoking `cargo fix`.

What I realized a

[2018-09-03 08:31] chrysn opened #53919 "doc: Errors during syntax highlighting appear to be fatal"
When building documentation on bindgen-produced Rust files, a possible sight looks like this:

<pre><font color="#EF2929"><b>error</b></font><font color="#FFFFFF"><b>: unknown start of token: \</b></font>
 <font color="#739FCF"><b>--&gt; </b></font>&lt;stdin&gt;:8:1
  <font color="#739FCF"><b>|</b></font>
<font color="#739FCF"><b>8</b></font> <font color="#739FCF"><b>| </b></font>\__________pkt-&g

[2018-09-03 08:34] mathall opened #53920 "ICE: Cannot create local mono-item within future returned as impl trait"
A couple of odd requirements to trigger this one, I'm not sure how to summarize. I've boiled down the case and added comments to the code below, they all mention the circumstances which are necessary to trigger the ICE.

**src/lib.rs:**
[code]

**src/main.rs:**
[code]
## Meta

`RUST_BACKTRACE=1 cargo build`:

[code]

`rustc --version --verbose`:

[code]

[2018-09-03 08:56] pnkfelix commented on #52768
I agree and am going to r+ PR #53865

[2018-09-03 09:03] michaelwoerister commented on #53813
Apparently #53828 did not fix this entirely on Mac OS X.

[2018-09-03 09:03] rkruppe commented on #53912
Why are computers

[2018-09-03 09:09] Procrat opened #53921 "Rust 2018: `cargo fix` doesn't warn about reserved keyword `try`"
I had some old code lying around that still used the `try!` macro instead of the `?` operator. `cargo fix` didn't output any errors or warnings before switching to Rust 2018. After switching, `cargo build` resulted in:

[code]

It sounds to me like `rustc`'s behaviour is actually right here, but `cargo fix`'s is not. Should I be filing this with [rustfix](https://github.com/rust-lang-nursery/rustf

[2018-09-03 09:40] Procrat opened #53922 "Rust 2018: `cargo fix` doesn't remove `extern crate`"
From what I read in the [edition guide](https://rust-lang-nursery.github.io/edition-guide/rust-2018/module-system/path-clarity.html), `extern crate` is now redundant. `cargo fix` didn't remove these statements however, causing the following two errors after switching to Rust 2018 (with uniform paths):

[code]

The second error I got feels like it should have been a warning:
[code]
`cargo fix` shou

[2018-09-03 09:49] withoutboats commented on #53686
I agree with this.`std::try!` is a deprecated API. If enough users want an API with the same functionality, they should create one on crates.io. But we've decided to reserve the `try` as a keyword in 2018, so if they want that crate to work well with 2018 clients, I'd recommend using a different name.

[2018-09-03 11:31] #52768 closed

[2018-09-03 11:39] Boscop opened #53923 "Type error refers to wrong type"
I had this code:
[code]

which caused this error:
[code]

But the actual error was that `mode` is a ref but should be a value, i.e. I should have written `&` before `mode` like:
[code]
(or `let val = match (ap, *mode) {`).

Btw, `ap` and `*mode` are both enum types, only `step` is a f32, so the error that `rustc` is showing is wrong here.

[2018-09-03 12:08] sanmai-NL commented on #53130
@norcalli: Exactly, this is how you find out that implicitness does not pay off in the long term.

[2018-09-03 12:50] hellow554 commented on #53920
Can you do that and edit your post?

[2018-09-03 12:56] droundy commented on #40062
My thinking is that the `remove_by` suggested by @leodasvacas  would sidestep most of the issues here.

[2018-09-03 12:57] Doaxan opened #53924 "1_u32.pow(5) == 1_u32.pow(5) + 64_u32.pow(5) + 128_u32.pow(5) + 192_u32.pow(5)"
Is it normal? In the future, this can cause unpredictable missed errors, as in my case.
`fn main() {
    if 1_u32.pow(5) == 1_u32.pow(5) + 64_u32.pow(5) + 128_u32.pow(5) + 192_u32.pow(5) {
        println!("TRUE?")
    }
}`
cargo build --release
Console Output: TRUE?

[2018-09-03 13:00] petrochenkov commented on #53130
@norcalli @joshtriplett
This is a limitation of the current implementation, not a fundamental issue with uniform paths.
@sanmai-NL
I don't see how implicitness is relevant to that example.

[2018-09-03 13:02] Neurrone commented on #39016
Would love to be able to configure this as well for c++ code.

[2018-09-03 13:16] omni-viral opened #53925 "Linter suggestion breaks compilation"
I define `#![deny(rust_2018_idioms)]` which implies `#![deny(unreachable_pub)]` and I got linter complaining about the `pub use` inside private module while I reexport the symbol at crate level.

[Here is a small example of what I'm talking about](https://play.rust-lang.org/?gist=e23c1eed9bb2a4136c14363061bb9c36&version=nightly&mode=debug&edition=2015)

Looks ok. Let's  do what linter suggests - c

[2018-09-03 13:16] jonas-schievink commented on #53924
If you try it in debug mode, you get this:

[code]

Note that these overflow checks are not used in release mode (as they're very costly), so what you're seeing is likely the result of this overflow.

[2018-09-03 13:17] ishitatsuyuki commented on #53924
Integer overflow is defined as wrapping in release, because checking for them will cause a noticeable slowdown.

It already panic in debug. This is wontfix.

[2018-09-03 13:31] SimonSapin commented on #27812
Why is the 0.1 version number significant? It only means that the crate hasn’t changed much since it was extracted from the standard library.

Regarding the warning, we should probably replace the trait in that crate with a pair of free functions.

[2018-09-03 13:56] kjetilkjeka commented on #52963
Yes this was my exact concern. That's why i suggested to change it to something other than `he` if a change was going to happen. I see now that my comment might be interpreted the other way as well, I'll do a minor edit to fix that.

[2018-09-03 14:14] Boscop commented on #40552
@michaelwoerister But it should be stripped automatically from --release builds!

[2018-09-03 14:27] nagisa commented on #53924
Closing as per comments above.

[2018-09-03 14:27] #53924 closed

[2018-09-03 14:54] michaelwoerister commented on #40552
An RFC would need to cover both debug and release builds.

[2018-09-03 14:59] dtolnay commented on #53481
For those looking for a nightly to use, nightly-2018-08-17 is the newest that does not hit this issue.

[code]

[2018-09-03 15:05] mark-i-m commented on #39412
@isiahmeadows you can do `use foo::bar::some_macro` in the 2018 edition. It is part of the module/macro system changes being stabilized.

Long term IIUC, the plan is to get rid of the attributes altogether (currently, you still need them to export macros).

I strongly prefer not to conflate functions and macros. They are very different.

[2018-09-03 15:31] pnkfelix commented on #52934
Now, having done the minimization, there are two cases to consider:

 1. The `self.hash_expr(&self.cx.body(..).value)` invocations on lines 20 and 23,
 2. The `reg.register_late_lint_pass(Box::new(Thing::new(&reg.sess.target)))` invocation on line 45

I *think* niko has already expressed a little concern about case 1 in [a comment here on the clippy repo](https://github.com/rust-lang-nursery/rust-

[2018-09-03 15:41] pnkfelix commented on #52934
Result of investigating case 1: The reason that the call to `self.hash_expr` is allowed there, AFAICT, is that `self` has an *immutable borrow* somewhere along the path from it to the AST map it borrows, and therefore a `&mut self` still cannot do anything to interfere with the result of the `&self.cx.body(..).value`.

For example, this works: https://play.rust-lang.org/?gist=bd9009010499a92e0cfb9

[2018-09-03 15:44] pnkfelix commented on #52934
I think case 2 is another instance of the same phenomenon: the `Registry` has only an immutable reference to the `Session`, and so the `reg.register_late_lint_pass` does not interfere with the `&reg.sess.target` borrow.

[2018-09-03 15:45] pnkfelix commented on #52934
Hmm I may have spoken too soon for case 2; unlike the previous analysis, changing to `struct Registry<'a> { sess: &'a mut Session }` does not cause the compiler to start rejecting the example. Investigating now.

[2018-09-03 15:48] pnkfelix commented on #52934
Oh, in my minimization, `struct TriviallyCopyPassByRef` carries no references (and has no lifetimes on its type). That might explain why changing the registry to have a `&mut Session` did not cause any errors to trigger.

[2018-09-03 16:43] memoryruins commented on #53879
A similar issue was opened last week on clap's repository https://github.com/clap-rs/clap/issues/1336

[2018-09-03 16:54] zackmdavis commented on #53921
(How we decide to fix this will likely depend on the outcome of ongoing discussion in #53686.)

[2018-09-03 17:02] zackmdavis commented on #53797
The error is emitted during name resolution:

https://github.com/rust-lang/rust/blob/ee73f80dc963707df3b3da82976556d64cac5752/src/librustc_resolve/resolve_imports.rs#L721-L733

To make this rustfix-able, we would want to reformulate the `.help` note as a [structured suggestion](https://rust-lang-nursery.github.io/rustc-guide/diag.html#suggestions) instead. (With the caveat that rustfix can't yet h

[2018-09-03 17:04] zackmdavis commented on #53922
Duplicate of #53797: I just left [a comment with implementation hints](https://github.com/rust-lang/rust/issues/53797#issuecomment-418162399) there.

[2018-09-03 17:17] zackmdavis commented on #53925
The unreachable-pub lint was removed from the 2018-idioms lint group in #52926 because it suffers from the bugs #47816 (which is the cause of the problem in your first example) and #52665, but this change won't be in stable until 1.29 (13 September). Until we have a release candidate, the nightly toolchain might be a better choice for testing out edition-2018 features.

[2018-09-03 17:49] zackmdavis commented on #53686
It's worth noting that Python also had a [builtin zero-configuration migration tool](https://docs.python.org/2/library/2to3.html) that had no trouble with `print` statements. I'm not actually sure what the moral here is. (Some users will complain about _any_ migration work, no matter how trivial?)

[2018-09-03 17:53] alexcrichton commented on #52963
If there's confusion about the short names then I'd personally err on the side of more wordy names and expand out `he` to `host_endian` or (and similar for other names)

[2018-09-03 19:11] GuillaumeGomez commented on #53917
The whole being: it's still under heavy development. But thanks for opening the issue, it'll help us improving it!

[2018-09-03 20:00] HeroicKatora commented on #49270
A mechanism similar to the current suggestions for unscoped methods would suggest itself. With the added difficulty that of course macros are not available through explicit import (or the prelude), I would prefer have the compiler mention which instance of `#[macro_use]` but I don't think this is required in most instances.

The main issue I had with the current mechanism are that the warning beco

[2018-09-03 21:42] tlively commented on #49683
Is there anyone currently working on this? I would love to see this RFC implemented. If there were mentoring instructions available I would take a stab at it.

[2018-09-03 23:15] zackmdavis opened #53934 "disambiguate between multiple suggestions and a single multi-span suggestion; or, JSON error format is not round-trippable"
## Summary

To solve rust-lang-nursery/rustfix#141 (and one can only assume that RLS faces a similar problem), we need to be able to tell the difference between multiple suggestions (of which we likely only want to apply one), and a single suggestion that happens to touch multiple spans. The `DiagnosticBuilder` API supports this distinction by offering separate [`span_suggestions`](https://doc.rus

[2018-09-04 00:12] sunjay opened #53937 "Pointless suggestion for when pattern field is not mutable"
[Rust Playground](https://play.rust-lang.org/?gist=ca84599d211f96bcb072ada7d377231b&version=stable&mode=debug&edition=2015)

[code]

This produces the error:

[code]

The suggestion "consider changing this to `items`" is pointless in that it won't solve the problem.

[2018-09-04 01:14] 0xpr03 commented on #43155
Hitting the same problem here.
Database functions for which I'm currently creating virtual tables and force a connection hand-over instead of the normal pool approach, so I can test against this.
Hit a wall now trying to make parallel statements, leading to a tricky situation of borrowck vs multiple statements when trying to work with parallel tests.
This also prevents the pool cache for statement

[2018-09-04 01:40] csmoe commented on #53923
[code]
your matching arm is incompatible indeed(`&f32` vs `f32`), the error message exactly complained this.
what's your point of `Type error refers to wrong type`?

[2018-09-04 03:12] scottmcm commented on #44524
I propose we cancel this p-FCP for now.  It seems like it's de facto not landing for the edition.  We can wait to gain more experience with additional lifetime elision, [as @stjepang suggested](https://github.com/rust-lang/rust/issues/44524#issuecomment-408456816), before reconsidering it.

A bunch of situation for `impl_header_lifetime_elision` in libcore: https://github.com/rust-lang/rust/compar

[2018-09-04 04:10] pnkfelix commented on #52979
Another potential option: the compare-mode=2018 could run `rustfix` itself, either unconditionally on each input, or as a fallback after an unexpected error or diagnostic mismatch...

[2018-09-04 07:45] ncihnegn opened #53940 "On macOS rust-lld fails for aarch64-unknown-none target"
To reproduce:

     Running `rustc --crate-name kernel8 src/main.rs --crate-type bin --emit=dep-info,link -C opt-level=3 -C metadata=856c7337adaf6150 -C extra-filename=-856c7337adaf6150 --out-dir /Users//Projects/rust/rust-raspi3-tutorial/01_bareminimum/target/aarch64-unknown-none/release/deps --target aarch64-unknown-none -L dependency=/Users//Projects/rust/rust-raspi3-tutorial/01_bareminimum/tar

[2018-09-04 07:51] sanmai-NL commented on #53130
@petrochenkov:
A path that starts with `::` to indicate the next segment refers to an external crate is more explicit than one without `::`. The latter case, the less explicit one, is not supported now. You can indeed go ahead and improve the implementation. And we can keep improving `uniform_paths` until all corner cases are covered. Or we could, hypothetically, stick with the plain and simple `a

[2018-09-04 08:31] oli-obk commented on #53934
I totally forgot about this :/ I've been wanting to fix this in forever.

That won't work in the general case as the suggestions might be two completely different solution paths that require changing independent code. Clippy has such a suggestion.

I propose we change multipart suggestions to each be a single element of the `children` array and have them set their own `children` array with their p

[2018-09-04 09:12] nnethercote commented on #53916
To clarify, the problem doesn't occur when I do this:
[code]
But it does happen when I do this:
[code]

[2018-09-04 09:31] nnethercote commented on #53643
#53916

[2018-09-04 09:32] jasonwilliams commented on #29154
@tromey sorry about that, i was developing on it, it should build now

[2018-09-04 09:44] pnkfelix commented on #52934
One might reasonably wonder: "Wait, what do those examples (case 1 and 2 from [my above comment](https://github.com/rust-lang/rust/issues/52934#issuecomment-418146411)) have to do with two-phase borrows."

I think the best answer to might be for me to just add two tests using revisions to illustrate the cases here, with a revision set like { borrowck=ast, borrowck=mir, borrowck=mir+two-phase-borro

[2018-09-04 10:29] Boscop commented on #53923
Ah right, with `match_default_bindings`, `step` is `&f32`.
I forgot that `match_default_bindings` is always on now..
(I intentionally never enabled that when it was an optional feature, because I want to be explicit instead.)

[2018-09-04 10:29] #53923 closed

[2018-09-04 10:38] alecmocatta opened #53943 "ICE with HRTB and lifetime on subtrait"
I'm using a lifetime parameter on a trait such that I can constrain `Item` to `for <'a> &'a X`. I tried to "encapsulate" the lifetime into a subtrait to avoid [other issues](https://github.com/rust-lang/rust/issues/30472) and got an ICE on stable, nightly and with/without NLL. I suspect this usage should error but I could be mistaken.

[code]

([Playground](https://play.rust-lang.org/?gist=3bd47be

[2018-09-04 10:42] omershlo commented on #51046
funny, I just used this open issue to understand how to solve this error. Please add the above suggestion of calling  the trait. It's extremely helpful.

[2018-09-04 10:58] gnzlbg commented on #50154
So it appears that this won't be fixed in LLVM any time soon, and AFAICT this is not something we can easily warn about in the Rust side of things for the time being :/

[2018-09-04 11:56] oli-obk commented on #53555
@mark-i-m we could start linting crates which use the `const_fn` feature gate but `min_const_fn` would have been sufficient

I want to block stabilization on https://github.com/rust-lang/rust/pull/53851 (don't promote all const fns, otherwise making a function const fn can break runtime code)

[2018-09-04 12:27] PaulGrandperrin opened #53945 "Regression on nightly: /usr/bin/ld: __sancov_guards has both ordered [...] and unordered [...] sections"
Hi, the [fuzzer](https://crates.io/crates/honggfuzz) I maintain is failing to build on the latest nightlies:

The interesting part of the error log seems to be:
[code]

You can find the full log here:
https://travis-ci.org/rust-fuzz/honggfuzz-rs/jobs/424079778

I bisected on my computer the exact rust version that fails and it seems to be related to the LLVM 8 upgrade.

This version works well:
[c

[2018-09-04 12:43] pnkfelix commented on #53937
This is a dupe, probably of #51244. It is definitely fixed in beta and nightly. (i believe the fix was in PR #52242.)

[2018-09-04 12:43] #53937 closed

[2018-09-04 12:46] sunjay commented on #53937
Thanks!

[2018-09-04 12:55] pnkfelix commented on #52934
(I have a test written up, will post a PR soon.)

[2018-09-04 13:07] pnkfelix commented on #53728
*Nota bene* f50fd07 is from PR #45225

[2018-09-04 13:17] tbu- commented on #39492
I don't know how I'd select features from `core`. Is there infrastructure in place that allows crates to do that?

If that's not the case, a PR adding default features to `core` won't have much impact.

[2018-09-04 13:21] oli-obk commented on #39492
You can use `xargo` to build your own `libcore` with any configuration settings you desire (e.g. no landing pads and panic = abort and similar)

[2018-09-04 13:32] guidovranken commented on #53945
I have the same issue.

[2018-09-04 13:33] michaelwoerister opened #53947 "Incremental ThinLTO fails for style-servo and script-servo on perf.rlo"
The compiler seems to open too many files at once:
[code]

I don't know yet how to best fix this:
- Either only use memory mapped files up to some limit and load the rest of the files eagerly,
- or generally limit the number of object files we partition a crate into (something people are asking for anyway).

cc @alexcrichton @Mark-Simulacrum

[2018-09-04 13:37] stjepang commented on #44524
@nikomatsakis

There are also types for which writing lifetimes in parameters is not that helpful:

* `std::pin::PinMut<'_, T>`
* `std::cell::Ref<'_, T>`
* `std::sync::MutexGuard<'_, T>`

All these types are reference types by nature, so it's kind of obvious they contain lifetimes. No need to write them out.

We could argue in the same vein that the lifetime in `&'_ T` is not helpful because we al

[2018-09-04 13:52] michaelwoerister commented on #53947
It would be nice to re-use the `-Ccodegen-units` flag to limit the number of CGUs also in incremental mode. It basically already sets an upper bound for the number of CGUs in regular mode but in incremental mode, the flag is just ignored.

I'm slightly worried though that people have a low number of CGUs set in their `Cargo.toml` -- which would more or less negate the effects of incremental compil

[2018-09-04 14:42] pnkfelix commented on #52979
Reading over #50084, it sounds like there is supposed to already be a `foo.rs.fixed` file present when we expect `rustfix` to be run on the input.

So maybe that is an answer: `compare-mode=2018` should check if there is a `foo.rs.fixed`, and if so, use *that* as its compile input (and then use the usual fallback logic for finding which `.stdout` and `.stderr` to expect). If there is no `foo.rs.fi

[2018-09-04 14:50] PaulGrandperrin commented on #53945
[libfuzzer-sys](https://github.com/rust-fuzz/libfuzzer-sys), which is used by [cargo-fuzz](https://github.com/rust-fuzz/cargo-fuzz) also fails with the same error:
https://travis-ci.org/rust-fuzz/libfuzzer-sys/builds/417491674

[2018-09-04 15:08] ehuss commented on #53934
Just a note, for tools (like IDEs) where you manually apply suggestions, it is not a problem, because the user sees the choices and decides which to use.  So AFAIK in that scenario it is not broken.  I'm not opposed to breaking it, since I can update my tool, but other tool developers may not be aware and changes may affect them.

If you do change the structure, it would be helpful if the PR inclu

[2018-09-04 16:16] oli-obk commented on #53224
@nagisa are your concerns resolved?

[2018-09-04 16:17] oneforall2 commented on #50292
actually no .configure with --libdir=/usr/lib64 does that . But to get it to install to /usr/lib64 or /usr/local/lib64 it can be done with config.toml the lib path can be changed there . But when you try to do a local compile it is hard coded to look in /usr/lib which is extremely frustrating for a multilib(multiarch) . which by the way fedora does hence the lib for 32-bit, lib64 for 64-bit

[2018-09-04 16:26] oneforall2 commented on #50292
@therealbstern  you could have grabbed the build script for rust from slackware current ;)

[2018-09-04 16:37] alexcrichton commented on #53916
I think [this line](https://github.com/rust-lang-nursery/compiler-builtins/blob/5a88717b467ba11880ec8a78e40cecc2c8bfdd36/src/float/conv.rs#L127-L129) may be incorrect. That says that on non-windows x86_64 we should use a C shim but we [fail to compile the C shim](https://github.com/rust-lang-nursery/compiler-builtins/blob/5a88717b467ba11880ec8a78e40cecc2c8bfdd36/build.rs#L268-L274)!

I believe thi

[2018-09-04 18:31] Arnavion commented on #44241
https://github.com/rust-lang/rust/pull/53304 added `Extend<TokenTree>` and `Extend<TokenStream>`

[2018-09-04 18:33] jethrogb commented on #53491
I wanted to document an IRC conversation I had with @sfackler regarding a hypothetical issue that could arise in the future. The main question is whether `mem::zeroed` is a valid in-memory representation for the current implementation proposal for `MaybeUninit<NonZeroU8>`. In my thinking, in the “uninit” state the value is only padding, which the compiler can use for any purpose, and in the "value

[2018-09-04 18:43] Boscop opened #53953 "Idea: impl chains ("else impls") for when other impls don't match"
A lot of the possible `impl` surface of a trait can't be `impl`d in today's Rust because of the restrictions placed on `impl`s.
I think it would be useful to have a way to express `if THIS impl doesn't match, try THAT impl`, [in a chain](https://www.reddit.com/r/rust/comments/9ce1t8/blanket_from_impl_woes/e5asj24/), like in PureScript: https://github.com/purescript/purescript/issues/2315

E.g. in

[2018-09-04 18:51] panicbit commented on #50547
Will the Future/Task API have a way to spawn local futures?
I see that there's `SpawnLocalObjError`, but it seems to be unused.

[2018-09-04 19:09] matthiaskrgr commented on #48029
I added some quick hack to gain some insight where this behavior might be coming
[code]
but it seems when compiling with that patch and `codegen-units=1```` everything is indeed compiled with 1 cgu.

I'm wondering if the std artifacts
[code]
are perhaps taken from the compiler somehow (rustc is built with 16 CGUs iirc)?

[2018-09-04 19:10] MajorBreakfast commented on #50547
@panicbit At the working group we're currently discussing whether it makes sense to include spawning functionality in the context at all. https://github.com/rust-lang-nursery/wg-net/issues/56

(`SpawnLocalObjError` is not entirely unused: `LocalPool` of the futures crate uses it. You're correct, however, that nothing in libcore uses it)

[2018-09-04 19:38] pnkfelix commented on #53764
discussed at meeting. We definitely need to do this before we ship. Probably best to do it even sooner, since it would be good to know about anything it happens to catch

P-high, Edition RC 2.

[2018-09-04 19:42] nikomatsakis commented on #53569
@matthewjasper made a [topic on Zulip to discuss](https://rust-lang.zulipchat.com/#narrow/stream/122657-wg-nll/topic/.2353569.20even.20more.20dangly.20paths)

[2018-09-04 19:44] nikomatsakis commented on #53569
Removing nomination but we do have to settle on a plan

[2018-09-04 19:48] pnkfelix commented on #53528
discussed at meeting. assigning to self to investigate root cause.

[2018-09-04 19:52] pnkfelix commented on #53121
visited at meeting. assigning to niko to try to write up a plan of attack. (Also, we need to decide whether it is really an RC blocker or not)

[2018-09-04 19:55] alexcrichton commented on #53947
Hm I wonder, how does LLD manage this? Presumably it would hit the same issue, right? It seems like it'd be normal for a ThinLTO compilation to handle thousands of object files, which would be bad if it resulted in thousands of fds being open and only working on some machines!

I'm actually not really that familiar with memory maps, but is it possible to close the file descriptor but have the mapp

[2018-09-04 19:55] pnkfelix commented on #52706
assigning to self for preliminary investigation.

[2018-09-04 19:57] oli-obk commented on #53953
This is a feature request to change the language and as such needs an RFC. I suggest you discuss this in the internals forum to figure out the caveats and then open an rfc

[2018-09-04 19:57] #53953 closed

[2018-09-04 19:58] alexcrichton commented on #53813
I'm working on a fix for this and should be able to post it soon

[2018-09-04 19:59] steveklabnik commented on #53813
I'm getting this on Linux too: https://travis-ci.org/intermezzOS/kernel/jobs/424491132#L185

[2018-09-04 19:59] oli-obk commented on #53934
If we change the behaviour, they will just see fewer suggestions, which isn't really breaking.

[2018-09-04 20:06] pnkfelix commented on #47349
discussed in [meeting](https://rust-lang.zulipchat.com/#narrow/stream/122657-wg-nll/subject/weekly.20meeting.20September.204). Going to try to lower priority on this, since its not clear how we should resolve this, and the payoff (to me at least) is not totally clear.

[2018-09-04 20:17] joshtriplett commented on #53130
@mark-i-m To clarify something, `::` still exists in the anchored variant. And absolute paths are not ambiguous.

You can *always* write absolute paths if you want to.

[2018-09-04 20:41] michaelwoerister commented on #53947
It seems that indeed the file descriptor can be closed, at least according to the `munmap()` description [here](http://man7.org/linux/man-pages/man2/mmap.2.html). I'll do a PR tomorrow.

[2018-09-04 21:28] ghost opened #53956 "`cargo build` panics with include_bytes!() of the file itself"
This code looks meaningless, but it's still valid code. However it can cause `cargo` to panic.

[code]

First build is ok. Then call shell `touch main.rs` and build again, `cargo` will crash with:

[code]

Version: `cargo 1.28.0 (96a2c7d16 2018-07-13)`

[2018-09-04 22:37] earthengine commented on #53420
@alexreg

I need answer of the following question:

When should `<() as Lt<'_>>::T` being substituted to `()`? It seems like, for other kind of types (structs, enums, tuples etc), this substitution is done properly, except that in case of `fn` or `FnXXX` this is not.

So I suppose the fix would be in the monorphization. After monorphization the substitution should be done but it didn't, which caus

[2018-09-04 22:50] nnethercote commented on #53916
@alexcrichton: I did the following:
[code]
With this, the submodule is on tip and I have your C shim patch. But then when I build with `./x.py build --stage 2 src/rustc`, it starts with this:
[code]
which takes me back to the original `libcompiler_builtins` revision and the link error (unsurprisingly) still occurs. How can I preserve the `libcompiler_builtins` revision?

[2018-09-04 23:04] varkor commented on #53224
(Reposting a previous comment because rfcbot doesn't take edits into account.)

@rfcbot concern overly-aggressive stylistic lints

Some of the lints discourage patterns that seem reasonable in practice.
- `eq_op`: sensible for integer and boolean types, [but not generic types](https://github.com/rust-lang/rust/issues/53224#issuecomment-412923055).
- `bad_bit_mask`: same concern as for `eq_op`.
- `

[2018-09-04 23:27] earthengine commented on #53420
Found the following code in "/src/librustc/traits/select.rs":

[code]

seems like the following assumsion

[code]

didn't hold in this case so the error is reported.

[2018-09-04 23:38] nnethercote commented on #53916
rkruppe told me on IRC to set `submodules = false` in config.toml. With that in place, it compiles again!

[2018-09-04 23:59] crusty-dave commented on #53415
Is this on anyone's radar screen, it would be nice to get it resolved.

[2018-09-05 00:41] huonw commented on #52808
Reduced slightly:

[code]

[2018-09-05 00:54] earthengine commented on #53420
Or, is the following (/src/librustc/traits/select.rs)

[code]
correct? I mean the following assumsion:

[code]
given the fact that we have trouble to unify `<() as Lt<'_>>::T` with `()`?

[2018-09-05 00:58] bheisler commented on #53099
Thanks for looking into this. Now that the ptx-linker is available, this issue no longer is no longer blocking me. I'd be happy to test out changes if needed, though.

I'm not sure I understand this part:

I wasn't running that command (unless cargo-xbuild uses it behind the scenes), so I'm not sure how that's relevant.

[2018-09-05 02:01] alexreg commented on #49683
@tlively Do you feel you need something more detailed than
https://github.com/rust-lang/rust/issues/49683#issuecomment-378896203? That's fine if so; maybe ping @petrochenkov or get on Discord. :-)

[2018-09-05 03:14] stepancheg opened #53957 "Test to_socket_addr_str_bad is broken on macOS too"
This is the test from rust source repository.

[code]

It says, the test fails on openbsd and bitrig, but it also fails on macOS.

[code]

I guess the reason is this:

[code]

[code]

`194.168.4.100` is an IP address of DNS of my ISP.

So for some reason, macOS decides to resolve string `1200::AB00:1234::2552:7777:1313` using DNS, and on certain ISP this resolution success.

I think rust should ei

[2018-09-05 05:22] Havvy opened #53958 "Invalid crate type should helpfully suggest valid crate type"
Errornous code: <sub>Yes, it's only a single line</sub>

[code]

Current output:

[code]

Expected:

[code]

The change here is that the error is on the value of the attribute and it asks the "did you mean" question that you get when you mistype a variable.

[2018-09-05 06:18] Havvy commented on #53956
[code]

[2018-09-05 07:42] TejasQ commented on #53813
Thanks for your super-fast help, @alexcrichton! 🚀

[2018-09-05 07:54] sanmai-NL commented on #53130
Can vs. must. One way vs. multiple ways. It’s a significant philosophical difference.

[2018-09-05 08:09] phansch commented on #53958
I would like to work on this.

From a first look, I would re-use
https://github.com/rust-lang/rust/blob/b7c6e8f1805cd8a4b0a1c1f22f17a89e9e2cea23/src/libsyntax/util/lev_distance.rs#L15

somewhere around here:
https://github.com/rust-lang/rust/blob/b7c6e8f1805cd8a4b0a1c1f22f17a89e9e2cea23/src/librustc_driver/driver.rs#L1476-L1481

[2018-09-05 08:55] GuillaumeGomez commented on #39952
I have to admit that I don't like the idea... Let's see what others think.

[2018-09-05 09:00] oli-obk commented on #53916
I've been bitten by this before when I created a new checkout of rustc. This setting completely overwrites any changes, even uncommited ones.

Maybe we can change the default to `false`?

[2018-09-05 10:56] JMurph2015 commented on #53505
I can reproduce on both the beta for x86_64-unknown-linux-gnu and the nightly on x86_64-unknown-linux-gnu.
[code]

[2018-09-05 11:07] ishitatsuyuki opened #53961 "rustdoc: Improve the navigation experience"
In the current situation, users navigates either with links from the overview, or by collapsing all descriptions and searching through what they want.

They both have their own problems:
![screenshot_2018-09-05 std option option - rust](https://user-images.githubusercontent.com/12389383/45089271-99be1b00-b146-11e8-9902-37a01fc9ca58.png)

And I often resort to "Find in page" which is bad on accurac

[2018-09-05 12:13] crlf0710 commented on #53834
A more straightforward solution is to always parse the identifier in the sequence
```<ident> !  <lparen|lbracket|lbrace>```

not as a keyword, but as a macro name. I think it is backwards compatible, though it does complicate things a bit.

[2018-09-05 12:58] SimonSapin commented on #44241
Closing as I think https://github.com/rust-lang/rust/pull/53304 would be good enough for https://github.com/servo/servo/pull/18340. @nox, feel free to re-open or comment if you think the more generic form would still be useful.

[2018-09-05 12:58] #44241 closed

[2018-09-05 13:18] shivanth commented on #53826
Can I take this up (Because it has an E-mentor Tab 😄 )?

[2018-09-05 13:44] nikomatsakis commented on #53114
@pnkfelix

Another option: special case matches with a single arm to use the "irrefutable code path":

https://github.com/rust-lang/rust/blob/b0297f3043e4ed592c63c0bcc11df3655ec8cf46/src/librustc_mir/build/matches/mod.rs#L268-L273

[2018-09-05 14:05] RalfJung commented on #53826
I think we should dispatch on the type first, not on the value. We want to validate the value, and hence *not* use it to decide which codepath to take.

[2018-09-05 14:12] mark-i-m commented on #53130
@joshtriplett sorry, I was unclear. What I mean is that it will be much less necessary to write :: prefixes under anchored paths, and users don't need to be aware of the crate root. It can just be an implementation detail.

To me this allows pathes that start with a name to always be "absolute" in use paths, in the sense that they are not relative to the current module. The same is not true of uni

[2018-09-05 14:14] oli-obk commented on #53826
The refactoring is easier if you have a function to call for specific values instead of having to do both refactorings at once. At some point you'll want to execute the bits checking code or the ptr checking code. And these points will be in separate match arms in the type match.

[2018-09-05 14:28] sethwm opened #53965 "rustc: Error messages feel like they're backwards"
This [code snippet] illustrates a problem I've always had with the Rust compiler's error messages:

[code]

The compiler error is:

[code]

Intuitively, for me, `found` and `expected` are swapped.  I expect the function to be the point of reference, and therefore the `expected` value and I expect the call site to be the candidate, and therefore the `found` value.  However it seems reverse.  Above

[2018-09-05 14:40] SimonSapin commented on #53555
I’d be glad to see incremental progress with *any* subset of `const fn` being stabilized, but the `min_const_fn` subset as currently implemented in Nightly seems overly conservative. (More than the initializers of `const` and `static` items in Stable.) I hope we can extend it quickly.

I’ve tried to replace `#[feature(const_fn)]` with `#[feature(min_const_fn)]` in Servo and ran into some limitatio

[2018-09-05 14:47] GuillaumeGomez commented on #53961
We don't have enough space available for a second sidebar. Also, I'm not sure what you proposed is better than the current version. To be clear: I agree on the fact that some UI refactoring would be welcome, but those ones aren't convincing me...

[2018-09-05 14:50] RalfJung commented on #53826
Not sure what you mean, but the "specific value" is a `Scalar`.

This is essentially implementing the [validity invariant](https://www.ralfj.de/blog/2018/08/22/two-kinds-of-invariants.html) (and then some more stuff for const safety, but that's most a detail), which is primarily a type-based property. Ideally, the code is readable as almost a *definition* of validity. Any deviation from an outermo

[2018-09-05 15:03] RalfJung commented on #53491
I see no difference between `NonZeroU8` and `&'static i32` in this regard. Both of these are types where "0" is not [valid](https://www.ralfj.de/blog/2018/08/22/two-kinds-of-invariants.html). So for both of these, `MaybeUninit<T>::zeroed().into_inner()` is insta-UB.

Whether `Option<Union>` can do layout optimizations depends on what validity for a union is. This is not decided yet for all cases,

[2018-09-05 15:04] Centril commented on #53130
I personally don't think this is likely; It seems to me that conflicts with module names and crate names is rather unlikely and that fixing those problems where they occur will also be quite easy.
To me, the prospect of not having to litter code with `self::` seems much more appealing on balance and something that will give larger dividends in practice.

[2018-09-05 15:10] oli-obk commented on #53555
1. Can be solved by removing the bounds from the type and adding it to impls only. Then you can add an `impl<T> Guard<T>` just for the constructor function
2. and 3. This is an intended restriction. I personally don't think it's useful, but there's an argument for allowing to call const fns via function pointers to them. The argument is that we might not want an explicit `const fn` pointer that on

[2018-09-05 15:11] lnicola commented on #53130
Agreed. When porting some stuff, I found `anchored_use_paths` to be a chore with all those `self::` prefixes. I'm on the side of "make the easy things easy, and the hard ones possible". Imagine seeing some Rust code for the first time where a quarter of what's on the first screenfull is a ton of `self::`.

Having paths implicitly start with `self` is natural -- you don't see people write "type .\f

[2018-09-05 15:17] petrochenkov commented on #53130
I'm interested in fully implementing `uniform_paths` because it gives some fundamentally new abilities compared to both current system and anchored paths, like https://github.com/rust-lang/rust/issues/18084 / https://github.com/rust-lang/rfcs/issues/959.
(This doesn't work in the current implementation yet.)

[2018-09-05 15:18] Centril commented on #53555
@SimonSapin

I also hope we will; in particular with control flow and let bindings.

However, as for trait bounds, auto traits, and function pointers it is currently highly unclear what the design should be.

In particular, does `const fn foo<T: Clone>(...) { .. }` mean that `T` has a "`const` implementation" of `Clone` or is any current clone implementation permissible?

Also, does `const fn foo(

[2018-09-05 15:21] mark-i-m commented on #53130
Fair enough. I think we just disagree. I would rather see `self::` than `::`, though I'm not fond of either...

[2018-09-05 15:22] mark-i-m commented on #53555
If a `const fn` is never used at runtime, does it even end up in the binary? How does this work with function pointers exactly?

[2018-09-05 15:29] oli-obk commented on #53555
similar to how it works with generic functions. They end up in metadata and are instantiated where required.

[2018-09-05 15:40] jethrogb commented on #53491
Is this a special case for “unions that have a variant of type ()”? Does the stabilization of this feature implicitly stabilize that part of the Rust ABI? What about a `union` containing `struct UnitType;` or `struct NewType(());`? What about `struct Padded` (below)? What about a `union` containing `struct Padded`?

[code]

[2018-09-05 15:42] eddyb commented on #53696
This is waiting on @nikomatsakis or someone else r+'ing #53707 (crater was clean).

[2018-09-05 15:51] SimonSapin commented on #53555
Yes, but that means anyone can now construct a value (by calling the constructor) that doesn’t make sense and doesn’t have the usual methods. Maybe this is worth the trade-off, but it is a semantic change.

I assume that we’ll find use cases for both, and so we’ll need syntax for opting into one of them. I think the one that is opt-in should be the one that is new, which is the former ("const impl

[2018-09-05 15:55] joshtriplett commented on #53130
On September 5, 2018 8:24:31 AM PDT, Mazdak Farrokhzad <notifications@github.com> wrote:

I think this is a fundamental point worth emphasizing.

`self::` both comes up more often *and* is harder to explain the need for, since it feels like it should be the default (and since in the `absolute_use_paths` variant use paths and expressions have different rules).

`::` should come up much less often.

[2018-09-05 16:02] Centril commented on #53555
@SimonSapin

If it's an internal API maybe y'all can cope with that? But the situation is not ideal, I agree -- hopefully this will eventually change :)

I think I agree with this standpoint, also because I think it is a cleaner solution. However, it will have costs to ergonomics for sure; Particularly if we expect `const fn` to be extremely common (even more common than `fn` is eventually if ever

[2018-09-05 16:07] TimDiekmann commented on #53555
Does this mean you can pass a non-const fn to a const fn as long as you don't call it?

[2018-09-05 16:09] Centril commented on #53555
@TimDiekmann yes, that would be the implication of that design.

[2018-09-05 16:11] aep opened #53968 "static-pie for musl target (remove crt1.o)"
rustc explicitly adds crt1 before passing to the linker, which breaks musl-cross.
for static-pie we need to use rcrt1 instead.

Also i think crt1.o is actually wrong, since that target is supposed to support both dyn and static.

https://github.com/rust-lang/rust/blob/b7c6e8f1805cd8a4b0a1c1f22f17a89e9e2cea23/src/librustc_target/spec/linux_musl_base.rs#L59

any chance we can at least have a rustc a

[2018-09-05 16:11] alexcrichton commented on #53916
@oli-obk perhaps, but we should discuss that its own issue rather than here most likely

[2018-09-05 16:12] oli-obk commented on #53555
We're getting off topic here I think. This issue is about as few features as we can aggree on. Let's take any further discussion into an extra issue that talks about adding function pointes and trait bounds to const fns (or the already existing tracking issues for control flow, let bindings, ...)

[2018-09-05 16:12] alexcrichton commented on #53916
I've opened https://github.com/rust-lang/rust/pull/53969 to fix this

[2018-09-05 16:18] SimonSapin commented on #44732
I was reminded of this by code in this repository. In fact every non-test use would be better off with relative paths being relative to the use site:

[code]

[2018-09-05 16:21] oli-obk opened #53970 "Don't automatically update submodules when running `x.py`"
https://github.com/rust-lang/rust/issues/53916#issuecomment-418551687 noted that the `submodules` setting of `config.toml` is not very discoverable.

I have set it to `false` in all my trees and update my submodules manually, because I've had work destroyed multiple times when I changed submodule contents and `x.py` killed them without asking by force updating the submodule to the commit checked i

[2018-09-05 16:26] SimonSapin commented on #53555
Isn’t it already too late to make `const` the default, and non-constness require opt-in?

That’s fair. As mentioned I’m all for incremental progress over blocking everything. I’m only hoping we can find a second slightly-larger subset of functionality “relatively quickly” after we stabilize `min_const_fn`.

This is the use case I’ve described (for trivial constructors).

[2018-09-05 16:33] petrochenkov commented on #53970
Minus to `3`.
Before https://github.com/rust-lang/rust/pull/49057, when submodule update was slow (especially on Windows), I had to disable it by default and enable when necessary, and it was very very annoying.

[2018-09-05 16:36] mehdishojaei opened #53971 "the new nightly with rust-lld not works on target wasm32-unknown-unknown for crate-type "cdylib""
The new nightly build with `rust-lld` cannot build crate types `cdylib` on `wasm32-unknown-unknown` target.

Error message:
[code]

## Meta

ustc 1.30.0-nightly (1c2e17f4e 2018-09-04)
binary: rustc
commit-hash: 1c2e17f4e3a2070a7f703f51e29c1c388ef703b6
commit-date: 2018-09-04
host: x86_64-apple-darwin
release: 1.30.0-nightly
LLVM version: 8.0

[2018-09-05 16:44] cramertj commented on #53794
Ping @michaelwoerister have you had any luck trying to track this down? If not, is there any possibility we could roll back the original change? This is blocking a number of different issues in Fuchsia. If there's any more information or support I can provide, let me know.

[2018-09-05 16:51] oli-obk opened #53972 "`const fn` taking function pointers and generic args with trait bounds"
continued from https://github.com/rust-lang/rust/issues/53555#issuecomment-418794102 (cc @SimonSapin @Centril )

not really. we have restricted `min_const_fn` to the point where all futures are possible.

# Resolving inconsistencies

I'm proposing that we stabilize function pointers in const fns by not allowing calling them until a future syntax enables us to call them. Below a possible syntax is

[2018-09-05 17:06] SimonSapin commented on #53972
Regarding making const the default, I meant in function definitions. Is anyone seriously proposing that the syntax for various kinds of function pointer types should use different keywords than the syntax for function definitions?

----

[code]

Wait, `const` is not just a modifier for `fn()` types? How does that work?

[2018-09-05 17:12] oli-obk commented on #53972
`const` could be a modifier for any type, making the modified type usable in constants/const fn beyond "just assigning values of it to variables and fields"

I don't understand this statement. Can you elaborate?

[2018-09-05 17:18] SimonSapin commented on #53972
I was initially responding to

https://github.com/rust-lang/rust/issues/53555#issuecomment-418786117

… which seemed to suggest that somehow a type `fn()` could be assumed to be const, and we’d use another keyword for the reverse like `notconst fn()`.

[2018-09-05 17:20] nikomatsakis commented on #53166
@petrochenkov so, just to be clear:

I think that right now if you do `use some_crate::bar`, we will go and search the lib path for `some_crate`, just as we used to with `extern crate`. This presumably is why `std` works, right?

I remember finding that somewhat surprising to start. I expected us only to use the crate names that were given explicitly to rustc via `--extern` for such paths, and to

[2018-09-05 17:26] Centril commented on #53972
(I'm fine with this being discussed here, but whatever else, changes proposed here will absolutely require one or several RFCs... and just to be super clear, I'm wary of doing anything quickly here...)

The idea with such a design (I'm not for such a design atm...) is that you wouldn't have `notconst fn()` so there are certain things you wouldn't be able to express.

This has *large* implications

[2018-09-05 17:31] oli-obk commented on #53972
In that case you couldn't have

[code]

without additionally having some sort of `notconst`. We can have both worlds by requiring `const` on the type even if the field is already `const`, because you're talking about what you want to do with the value.

[2018-09-05 17:32] rpjohnst commented on #53128
Going back to @matklad's comment:

This is actually, IIRC, if not the *main* reason then definitely the *first* reason for adding extern crates to the prelude. Path confusion is fixed in principle without that, but with `std` being as common as it is these mitigations aren't enough to fix it for beginners IMO.

So the two choices in my mind are a) remove `extern crate std` from the crate root to m

[2018-09-05 17:40] rpjohnst commented on #53130
The fact that we still have so many implementation quirks suggests to me that we should be conservative and stick with (a forward-compatible variant of?) anchored paths for now, which already brings most of the wins.

[2018-09-05 17:42] Centril commented on #53128
(There's not a ticky box here for me, but consider it ticked anyways...)

[2018-09-05 17:48] petrochenkov commented on #53166
@nikomatsakis

Yes, right now `use path;` will go and search library directories (unless `uniform_paths` is enabled) and `::path` will always go and search library directories.

These discussions are scattered over several threads, and in one of them a few people, including @eddyb , expressed the desire to disable this directory search, or use it only for crates explicitly passed with [`--extern`

[2018-09-05 17:55] RalfJung commented on #53555
FTR, the issue for all things related to generics, function pointers and trait objects in `const fn` is https://github.com/rust-rfcs/const-eval/issues/1

[2018-09-05 17:56] RalfJung commented on #53972
I thought we have https://github.com/rust-rfcs/const-eval/issues/1 for this discussion...?

[2018-09-05 18:02] aturon commented on #53130
We're getting close to the cut-off point for stabilizations for the Edition, and of course this feature is one of the most important ones remaining to get nailed down.

Based on the commentary in this tracking issue, the previous tracking issue, and various forum posts, I think it's fair to say that **the strong majority of people who have tried *any* variant of 2018 modules prefer it to 2015 modu

[2018-09-05 18:05] ubsan commented on #53130
I personally think that anchored paths are fantastic, and although uniform paths might be a good extension, anchored paths, as the conservative choice, are good to stabilize now.

[2018-09-05 18:06] Centril commented on #53972
@oli-obk

[code]
You have defined `Bar` as `struct Bar(const fn());` -- so `Bar(f)` should imo absolutely be illegal.

[2018-09-05 18:06] nikomatsakis commented on #53130
I think a conservative path makes sense. I think @aturon you more or less summarized my own feelings of indecision pretty well.

[2018-09-05 18:27] nikomatsakis commented on #43234
@rfcbot resolved match-vs-let

I mostly filed this concern to raise https://github.com/rust-lang/rust/issues/53114 to everyone's attention. It's actually a fairly minor point though and we did discuss in lang team so I am going to remove my concern. (Feel free to comment on that issue if you have an opinion about the desired resolution.)

[2018-09-05 18:38] aturon commented on #44690
@nrc Is this stable "enough" for the edition? Can it be removed from the milestone?

[2018-09-05 18:39] nikomatsakis commented on #45667
Actually, I thought we maybe didn't want to permit `'_` in this position, since we had not yet decided on what it means -- e.g., does it mean "some fresh lifetime name" or does it mean `for<'a> T: Trait<'a>`?

[2018-09-05 18:41] joshtriplett commented on #53130
@rfcbot concern forward-compatibility

While I understand the desire to go with the more cautious choice at this phase, I'm not sure that "anchored use paths with forward compatibility" *is* a cautious choice. In particular, of the few concerns I've seen expressed about uniform_paths, the biggest ones have been the cases in which it raises ambiguity errors in cases where they feel it shouldn't. Ef

[2018-09-05 19:12] mixi commented on #53968
In case anyone wants to work at this: Something like this (introducing a flag to make rustc trust the linker to includes the right start files) was discussed and a (at the time working) patch for it proposed at #50105, but was scrapped (the version that eventually landed didn't include that flag anymore) because there was an easier way to fix my issue and there were concerns over adding another ta

[2018-09-05 19:38] omrerdn opened #53974 "Weird Behaviour (Leak in Unclosed Thread)"
Hello i am new in Rust and i have the following code :

[code]
Simple program, as you can see we have 2 different threads , first one sends i32 values to receiver which lives in second thread. So far everything works as expected first one sends then second one writes received values to the console. I executed this program in mac os(10.12.2) and windows 10 with checking the used memory by processes

[2018-09-05 19:41] nikomatsakis commented on #53643
Bumping to RC 2 — important goal, but not an RC blocker.

[2018-09-05 19:41] nikomatsakis commented on #53603
Closing.

[2018-09-05 19:41] #53603 closed

[2018-09-05 19:41] nikomatsakis commented on #53570
Leaving this on the RC milestone — fix is in #53745

[2018-09-05 19:58] cuviper commented on #49807
I've done some investigation on this for Red Hat bugs, and found it to be an issue with GlobalISel.

- rust: https://bugzilla.redhat.com/show_bug.cgi?id=1611597
- llvm: https://bugzilla.redhat.com/show_bug.cgi?id=1625768

If you add `-Cllvm-args=-fast-isel`, or enable optimization so `-fast-isel` is the default, then it works.

[2018-09-05 20:06] cuviper commented on #49807
This also reminds me of #47611, where we needed to *stop* adding an explicit `DW_OP_deref` for LLVM5+ -- maybe GlobalISel didn't get that same behavior change?

[2018-09-05 20:55] parched commented on #53742
Fixed on latest beta. Thank you!

[2018-09-05 20:55] #53742 closed

[2018-09-05 21:09] japaric opened #53975 "`#[deny]` in expansion of proc macro is ignored"
Affects `proc_macro_bang!` and `#[proc_macro_attr]`

### STR

[code]

[code]

Compiling this code succeeds

[code]

[code]

[code]

Compiling the expanded code results in two errors, as expected:

[code]

### Meta

[code]

The name of the expanded function is not a problem. Renaming them to e.g. `foo` and `quux` doesn't change the outcome.

cc @alexcrichton @petrochenkov apologies if this has alre

[2018-09-05 21:11] agalakhov commented on #36342
Stepped into this issue as well. Unfortunately the solution with function wrapper does not work for me as I have to reexport _arrays_.

[2018-09-05 21:15] nrc commented on #44690
Yes!

[2018-09-05 21:17] withoutboats commented on #53130
But we can move in either direction with @aturon's proposal: either we can eliminate `self::` or we can eliminate the ambiguity errors. In general, the forward compatible choice between two incompatible alternatives usually gives you some of the downsides of both, but only temporarily.

[2018-09-05 21:26] alexcrichton commented on #53975
This phenomena is currently intentional and a relatively recent change, specifically this code --

https://github.com/rust-lang/rust/blob/780b0c7bbfacc56f59a729881b5c95cd2c61ff97/src/librustc/lint/mod.rs#L619-L633

which was updated in https://github.com/rust-lang/rust/pull/52467

[2018-09-05 21:39] joshtriplett commented on #53130
@withoutboats I'm not arguing against that. And to be clear, I'm not trying to use advance one or the other alternative here.

I think part of my concern here is that if we're going this route, I'd want to see some additional detail on what precise ambiguity errors would be raised. And I'm concerned that this proposal would involve doing some *additional* work that isn't done (or started) yet, at

[2018-09-05 21:41] mark-i-m commented on #53130
This was my initial reaction too. However, after thinking a bit, my stance has changed: with uniform paths, the "implementation quirks" show up as errors that "there is no name `foo` in `bar`". OTOH, with the forward-compat errors, one would get an error that "`bar` is ambiguous and you should use `::bar` or `self::bar`". The second is vastly better IMHO.

[2018-09-05 21:47] joshtriplett commented on #53130
@mark-i-m Can you clarify the cases you're thinking of here, please? What issue are you referring to?

[2018-09-05 21:53] japaric commented on #53975
Interesting.

On one hand, I like this change because it means I no longer have to sprinkle `#[allow(unsafe_code)]` all over the expansion of my proc macros so that they won't break builds where the user is using `#![deny(unsafe_code)]`.

On the other hand, I was relying on this to prevent a user error. I have this attribute that turns a function into `#[export_name = ".."] pub fn name(..` and was

[2018-09-05 21:53] #53975 closed

[2018-09-05 21:55] KiChjang commented on #53228
I could take a look into this.

[2018-09-05 22:07] aturon commented on #52269
Bumping to RC2 milestone.

[2018-09-05 22:07] aturon commented on #52226
Bumping to RC2 milestone

[2018-09-05 22:10] alexcrichton commented on #52269
@petrochenkov to check on on this issue, I think https://github.com/rust-lang/rust/pull/53913 is evaluating the impact of one strategy for solving this, right? Otherwise I believe the built-in attributes cannot currently be shadowed, even if a macro of such a name is imported? (in that it looks like nightly accepts this:)

[code]

[2018-09-05 22:10] alexcrichton commented on #52226
@petrochenkov hey I was curious to check in on this issue, I believe the current state is that whitelisted attributes are not macro-expanded, even if there's a macro in scope, right?

[2018-09-05 22:19] Redrield commented on #53130
Very little of my Rust code, sprinkled between crates and toy endeavours, uses `self` in `use`. It only happens when it's necessary, and I can't compile with out. The experience shifting to the new module system would be a lot more seamless if I don't need to run rustfix to make my code valid for every file that I work with. That is without addressing the ergonomics issues around `self` pointed ou

[2018-09-05 22:31] aturon commented on #53130
@joshtriplett Mm, that's an excellent point, and I admit that I don't have a firm grasp on the remaining problem cases here. It'd be really helpful to gather them in this tracking issue in the issue description.

To be clear, though, addressing these remaining cases is necessary for either the conservative approach *or* stabilizing uniform paths. I don't see this issue as a deciding factor on whic

[2018-09-05 22:39] petrochenkov opened #53977 "Do not apply `#[macro_use]` to implicitly injected `extern crate std;`, use standard library prelude instead"
Macros like `vec` or `println` are currently automatically available to user code through injected standard library
[code]
`#[macro_use]` puts all the macro names into macro prelude, so they are available in inner modules without additional imports.

It would be good to avoid this, especially given that `#[macro_use]` is going to be gradually deprecated.
We have analogous way to put things into pr

[2018-09-05 22:40] mark-i-m commented on #53130
@joshtriplett Sure. Consider a crate `foo`, which conflicts with module `self::foo`.

Under uniform paths, using a `foo::bar` path may result in a compile error due to:
- `bar` is not found in `foo` because we looked in the wrong `foo` (probably the most common case by far)
- `bar` is the wrong type because there happens to be a `bar` in both, but they have different types
- Perhaps some other unl

[2018-09-05 22:47] petrochenkov commented on #52269
@alexcrichton
Yes, that's right.

[2018-09-05 22:59] joshtriplett commented on #53130
@mark-i-m No, that's definitely not correct! With `uniform_paths`, if you use `foo::bar`, and both the crate `::foo` and the local module `self::foo` exist, you should *always* get an error saying that foo is ambiguous and could refer to either the crate `::foo` or the local module `self::foo`. Those ambiguity warnings are *already* present in `uniform_paths`.

...and now I'm wondering if other pe

[2018-09-05 22:59] petrochenkov commented on #52226
@alexcrichton
They *are* shadowed by macros in scope right now.
[code]

This causes regressions like https://github.com/rust-lang/rust/issues/53583 and https://github.com/rust-lang/rust/issues/53898.

My intention so far is to bump priority of derive helpers so they shadow other macros instead.
Given that introduction of `serde` into scope (`#[derive(Serialize)]`) is closer to the use-site (`#[ser

[2018-09-05 23:14] Arnavion commented on #53690
Changing it to a version that doesn't actually recurse indefinitely:

[code]

doesn't compile for the same reason.

---

Using FutureObj of PinBox of F to erase the type:

[code]

fails with

[code]

---

Changing the async fn to an async block *still* doesn't compile:

[code]

with the same error about evaluating the Send bound.

---

Adding the Send bound on the return type explicitly finally ma

[2018-09-05 23:26] joshtriplett commented on #53130
@aturon Sounds good to me, thank you!

@rfcbot resolved forward-compatibility
@rfcbot reviewed

[2018-09-05 23:26] aturon commented on #53130
Oh, I should further note that the "stable-as-is" anchored paths will only ever exist on the beta channel; we plan on removing the ability to opt in to the new Edition before it hits stable, for our extended beta.

[2018-09-05 23:39] cuviper commented on #44580
I assume you meant `[(); N]`, but this will only work for `usize`.

I think it would make sense to have a special `marker::PhantomConst` allowing *any* `const` type.

[2018-09-05 23:39] mark-i-m commented on #53130
@aturon I didn't realize anyone actually uses the beta channel. I only ever used stable or nightly (if I need to do bare-metal stuff). Do you think it will get the exposure we need there?

----
@joshtriplett Thanks for the correction! That certainly assuages my UX concerns. I still feel that I lean towards anchored paths for the same reasons mentioned before, though (in https://github.com/rust-lan

[2018-09-05 23:45] #53947 closed

[2018-09-05 23:54] aturon commented on #53130
@mark-i-m The extended beta plan is [here](https://internals.rust-lang.org/t/rust-2018-release-schedule-and-extended-beta/8076).

[2018-09-06 00:53] cuviper commented on #49807
I have a potential LLVM fix here: https://bugzilla.redhat.com/show_bug.cgi?id=1625768#c2

[2018-09-06 00:53] shanemikel commented on #32838
Any thoughts on the Composable Allocator API described by Andrei Alexandrescu in his CppCon presentation?  The video is available on YouTube here: https://www.youtube.com/watch?v=LIb3L4vKZ7U (he starts to describe his proposed design around 26:00, but the talk is entertaining enough you may prefer to watch it through).

It sounds like the inevitable conclusion of all this is that collections libra

[2018-09-06 01:07] bheisler commented on #53014
This failure happens for me even when I'm not using incremental compilation (`incremental = false` in the config file and no `-i` argument on the command line).

[2018-09-06 02:09] #30459 closed

[2018-09-06 02:56] talchas opened #53980 "FileDesc should override Read::initializer()"
As it is, due to a comedy of errors, code like `Command::new("head").arg("-c").arg(arg).arg("/dev/zero").output()` is accidentally quadratic if rust reads fast enough to drain the stdout pipe, while
`Command::new("head").arg("-c").arg(arg).arg("/dev/zero").stderr(Stdio::null()).output()` is fine.

Since the first command has to listen to both stdout and stderr, it calls read2 and winds up looping

[2018-09-06 04:05] Ekleog commented on #44580
Hmm… Re-reading the RFC with the latest comments in mind, I'm wondering: would something like this be allowed?

[code]

I can't see it being banned anywhere, but would have thought it'd deserve at least an example.

[2018-09-06 04:32] #53813 closed

[2018-09-06 06:36] dvdplm commented on #53813
For anyone wondering, the osx fix is not on the current nightly – `rustc 1.30.0-nightly (6e0f1cc15 2018-09-05)` – yet.

[2018-09-06 07:07] mehdishojaei commented on #53971
seems duplicated.

[2018-09-06 07:07] #53971 closed

[2018-09-06 07:40] oli-obk commented on #53972
We treat `const fn()` pointers in `const fn` arguments as if it were `fn()` if the `const fn` is called at runtime. I don't see why this would not extend to all other uses of `const fn` pointers.

@RalfJung I'll summarize the findings of this issue in https://github.com/rust-rfcs/const-eval/issues/1 at the end of the week and then close it. I totally forgot about that issue ^^

[2018-09-06 07:59] ytausky opened #53984 "impl Trait with associated type equality constraint fails to resolve when constraint contains associated type of non-parameter type"
The following code fails to compile:
[code]
I get this error message:
[code]
I think this case should work, since `<String as TokenSpec>::Ident` can be resolved at type checking time.

[2018-09-06 08:16] dhardy commented on #39412
The `!` suffix is not technically necessary here, but since this may be the only thing pointing out that it is indeed a macro, seems like a good idea (if feasible and not too late — probably is too late).

But of course if `foo` and `foo!` are two distinct identifiers, they should not both be allowed to exist in the same scope.

[2018-09-06 08:17] sanmai-NL commented on #53128
@rpjohnst:

I miss a motivation for this qualification.

[2018-09-06 09:01] oldtree2008 opened #53985 "Compile rocket hello world project, compile error"
thread 'main' panicked at 'could not initialize thread_rng: All entropy sources failed (permanently unavailable); cause: OS RNG not yet seeded (not ready yet); cause: Resource temporarily unavailable (os error 11)', /cargo/registry/src/github.com-1ecc6299db9ec823/rand-0.5.4/src/rngs/thread.rs:84:17
   Compiling cc v1.0.23
stack backtrace:
   0: std::sys::unix::backtrace::tracing::imp::unwind_backt

[2018-09-06 09:06] #53549 closed

[2018-09-06 09:27] gnzlbg commented on #32838
The current `Alloc` API allows writing composable allocators (e.g. `MyAlloc<Other: Alloc>`) and you can use traits and specialization to achieve pretty much everything that's achieved in Andreis talk. However, beyond the "idea" that one should be able to do that, pretty much nothing from Andrei's talk can apply to Rust since the way Andrei builds the API sits on unconstrained generics + SFINAE/sta

[2018-09-06 09:36] pnkfelix commented on #43234
@bors resolved lifetime-annotations-get-no-respect

We've made progress on #47184 and it seems on track to be fully resolved before the actual release.

[2018-09-06 09:37] pnkfelix commented on #43234
@bors resolved need-perf-comparison-against-incremental

discussion within WG-compiler-nll leads me to conclude that this issue should not block stabilization of NLL.

[2018-09-06 09:39] dotdash commented on #53970
2 should say something like "only update if it's a fast forward" or something along those lines to cover non-linear commit histories.

Personally, I always add changed submodules to the index, temporarily committing changes in the submodule if needed . That stops `git submodule update` from throwing away my changes because my commit is now the own to update to. And as a bonus, `git pull` will comp

[2018-09-06 10:08] RalfJung commented on #53491
My wording was awfully specific because this is literally the only thing that I am pretty sure we have general agreement on. :)  I think we would want to make this dependent on the size only (i.e., all ZSTs would get this), but actually I think this variant shouldn't even be needed and unions will just never get layout optimizations *by default* (but eventually users may be able to opt-in using at

[2018-09-06 10:09] PaulGrandperrin commented on #53945
I progressed a little bit on narrowing down the root cause of the issue.
It's only triggered when using the `thread` sanitizer.
How to reproduce:
[code]
If you use the `address` or `leak` sanitizer or no sanitizers, there is no issues.

[2018-09-06 10:13] gnzlbg commented on #53491
AFAICT that discussion is about the memory representation of unions only, and does not include how the unions are passed through function boundaries and other things that might be relevant for an ABI. I don't think the objective of the UCG repo is to create an ABI for Rust.

[2018-09-06 10:28] oneforall2 opened #53986 "no method named `report`"
libdir: "/tmp/A/build32/rustc-1.28.0-src/build/x86_64-unknown-linux-gnu/stage2/lib"
error[E0599]: no method named `report` found for type `rustc_mir::interpret::EvalContext<'_, '_, '_, Evaluator<'_>>` in the current scope
   --> tools/miri/src/lib.rs:257:17
    |
257 |             ecx.report(&mut e, true, None);
    |                 ^^^^^^

error: aborting due to previous error

For more informat

[2018-09-06 10:33] RalfJung commented on #53491
Well, the objective is to define enough things for interop with C. Things like "Rust `bool` and C `bool` are ABI-compatible".

But indeed, for `repr(Rust)`, I think there are no plans to define a function call ABI -- but that should ideally be an explicit statement in whatever form the resulting document takes, not just an omission.

[2018-09-06 10:38] eddyb commented on #51975
Can't reproduce on nightly. Can you confirm this, @Arnavion?

[2018-09-06 10:41] eddyb commented on #51887
Can't reproduce on nightly. Can you confirm this, @joshtriplett?
(I suspect #52923 fixed this by replacing "the `finalize_import` hack")

[2018-09-06 10:54] Brooooooklyn opened #53989 "compile async await function error"
Error message:
`error: internal compiler error: librustc/infer/region_constraints/mod.rs:659: cannot relate bound region: ReLateBound(DebruijnIndex(1), BrAnon(2)) <= '_#0r`

Backtrace:

[code]

[2018-09-06 10:57] EpicatSupercell opened #53990 "2018 edition - confusing error message when declaring unnamed parameters"
This code works correctly on nightly and stable
[code]
but not on 2018 edition, where it returns the error
[code]

Changing it to `func(_: u8)` solves it.

Is this an intended change?
I couldn't find anything about it in the edition guide.

[2018-09-06 11:12] eddyb commented on #53797
@zackmdavis That's not enough. What needs to happen is the canaries need to be injected in Rust 2015 *before* switching to Rust 2018, and that's where the correct suggestions can be generated, because we know what the user *meant* (in the working Rust 2015 code).

I've been meaning to do this ever since I realized it's actually plausible with the way the canaries are implemented, because we can in

[2018-09-06 11:12] jonas-schievink commented on #53990
Yes, this was done in https://github.com/rust-lang/rust/pull/53612

[2018-09-06 11:30] eddyb commented on #53691
Duplicate of #53484.

[2018-09-06 11:32] jcaudle commented on #53813
Is it because the fox will be in tomorrow's nightly build?

[2018-09-06 12:00] djc commented on #49683
@tlively I'm currently not working on this. Between the stuff that @petrochenkov already wrote here and the earlier implementation attempt I linked from the second comment, I think you should probably have a good starting point to dig in?

[2018-09-06 12:18] #53696 closed

[2018-09-06 12:19] arielb1 commented on #53114
The reason there's an unsafety check in MIR is because of the packed-deref check.

[2018-09-06 12:30] fbernier commented on #53980
https://github.com/rust-lang/rust/pull/53981

[2018-09-06 12:47] oli-obk commented on #53986
You're probably building an old miri version. please use the master branch

[2018-09-06 12:47] #53986 closed

[2018-09-06 13:48] varkor commented on #44580
@Ekleog: as far as I'm aware, const parameter types may not depend on type parameters initially (though it would definitely make sense for an extension). (The implementation is trickier if we allow this, so it makes sense to start with the simplest version.)

[2018-09-06 14:05] pnkfelix commented on #53728
visited at rustc mtg. @arielb1 volunteered to do some more investigation.

[2018-09-06 14:09] QuietMisdreavus commented on #52623
(One Month Later...)

Rustdoc parses out code block commands in `src/librustdoc/html/markdown.rs`, using the `LangString` struct. It processes the `rust`/`ignore`/`no_run`/etc flags in [this function here](https://github.com/rust-lang/rust/blob/35a5541fd90c96564d483eee248daabc6b133de3/src/librustdoc/html/markdown.rs#L597). We would probably want to add in a new field to `LangString` called `editio

[2018-09-06 14:18] nikomatsakis commented on #53675
@petrochenkov what is required to fix this bug? Do we need to land something like #53913?

[2018-09-06 14:27] mark-i-m commented on #39412
Macros live in another namespace. You can have a macro `foo` and a function `foo` and a type `foo` all coexisting.

[2018-09-06 14:29] oli-obk commented on #52849
visited for triage: I think @RalfJung has one more fix in this direction planned?

[2018-09-06 14:30] eddyb commented on #53728
So this is caused by the fact that `Option<(DeviceInfo, T)>` uses a niche encoding, where the (misaligned/packed) `DeviceKind` at offset `1` is being used to encode `None` (with a tag value unused by `DeviceKind` itself), so its LLVM type needs to be equivalent to this:
[code]
But that second `_filler1` tries to use an integer with the same alignment as `T`, which fails because the misalignment/pa

[2018-09-06 14:32] oli-obk commented on #53972
Ok. So there are various ifs here. Summarizing the state by using function pointers as a placeholder scapegoat. The same logic applied to function pointers can be applied to `dyn Trait` and `impl Trait` arguments.

[code]

is legal in stable Rust today. This means that

[code]

cannot be evaluated, because from the signature of `F` we do not know whether `F`'s value is a function pointer to a `con

[2018-09-06 14:34] Centril commented on #53130
@aturon

Does this mean that on RC1, a user will be able to write `foo::bar` even tho there is a local module `foo`?
If so, I'm slightly uncomfortable with the inertia given to keep `anchored_paths`.

[2018-09-06 14:34] petrochenkov commented on #53675
@nikomatsakis
I don't know, I didn't investigate what happens in this case, but #53913 is unlikely to be related.

[2018-09-06 14:38] eddyb commented on #53945
(The regression is nightly-to-nightly and recent, the label must've been an accident)

[2018-09-06 14:45] oli-obk commented on #53972
rereading @RalfJung 's post https://github.com/rust-rfcs/const-eval/issues/1#issuecomment-408403596 it seems we have come to the same conclusion

[2018-09-06 14:45] #53972 closed

[2018-09-06 14:46] RalfJung commented on #52849
Do I? Not that I know of.^^ I consider this done with https://github.com/rust-lang/rust/pull/52626.

[2018-09-06 14:51] oli-obk commented on #52849
Awesome! I'll close this when #52626 is merged

[2018-09-06 14:54] sanmai-NL commented on #53130
@mikeyhew: I would personally not so much consider it a source of bugs, since two modules are unlikely to be API compatible in the first place, so a compilation error will come up. But it is a waste of developer time and limits the ability for novices to get up to speed when they are confused by such things.

[2018-09-06 15:01] Mark-Simulacrum commented on #52623
We'll want to stabilize this shortly so we can probably not bother too much with this.

[2018-09-06 15:37] tromey opened #53997 "rust-lld's rpath lists a directory on the build machine"
I installed nightly and looked at the dynamic section of `rust-lld`:

[code]

There's an entry there for a directory coming from the builder.  However, I think it's bad to do this.  For example, if that directory happens to exist locally by some chance, it could unexpectedly provide libraries required by `rust-lld`.

[2018-09-06 15:47] sanmai-NL commented on #27747
Does this mean `concat()` isn’t usable in a `no_std` module with explicit `std` imports and without the `slice_concat_ext` unstable feature enabled?

[2018-09-06 15:59] eddyb commented on #53130
FWIW the `uniform_paths` canaries (which are used to detect and report ambiguities as errors) are *not tied* to `uniform_paths` name resolution, and we could have them enabled with `anchored_paths`.

Do we want to? If we reach some decision here, let me know to make a quick PR.

[2018-09-06 16:00] SimonSapin commented on #27747
@sanmai-NL That is correct. (Modulo https://github.com/rust-lang/rust/issues/15702, which is a bug and not considered part of the stability promise.)

[2018-09-06 16:02] QuietMisdreavus commented on #52623
Aha, that makes this easier, then. It's not too much bother to add it here - the nightly check is already available - but yeah, it'll need to be stabilized soon enough.

-----

Bonus points: I would personally like to see the edition used in our tooltips, like the ones we have for `compile_fail` or `ignore` doctests. Those are generated in `src/librustdoc/html/markdown.rs`, in [the Iterator impl f

[2018-09-06 16:14] aturon commented on #53130
@eddyb That definitely seems worth trying!  Especially if we can also resolve the issue with `pub use some_extern_crate` leading to ambiguities -- basically wanting to get resolution to notice if the local item and the external crate *are the same thing* and not error out.

[2018-09-06 16:14] jonhoo commented on #53672
I'm confused. Even with
[code]
the syntax
[code]
still does not work?

[2018-09-06 16:16] jonhoo commented on #53672
Ahh, it looks like you *also* need `edition = 2018` in your `Cargo.toml` as outlined in the [transition guide](https://rust-lang-nursery.github.io/edition-guide/editions/transitioning-your-code-to-a-new-edition.html#switch-to-the-next-edition).

[2018-09-06 16:30] alexcrichton commented on #53813
Yes this fix missed last night's nightly but it should be in tonight's nightly!

[2018-09-06 16:35] Arnavion commented on #51975
Looks like it. `rustc 1.30.0-nightly (6e0f1cc15 2018-09-05)` compiles it successfully.

[2018-09-06 16:35] #51975 closed

[2018-09-06 16:55] lqd commented on #43234
For the performance comparison to incremental uses cases @michaelwoerister mentioned, here's a test perf run with the NLL migrate mode enabled by default (that is, simulating opt-in to the 2018 edition in the coming Edition RC): [comparison on perf.rlo](https://perf.rust-lang.org/compare.html?start=b0297f3043e4ed592c63c0bcc11df3655ec8cf46&end=3a8b7311d49570250afdeba6b45e5e7de7bca050).

As Niko men

[2018-09-06 17:10] oli-obk commented on #53986
If you have further problems, feel free to open an issue in the miri repo

[2018-09-06 17:17] nikomatsakis commented on #43234
@lqd

Great, thanks for doing that!

[2018-09-06 17:26] alexcrichton commented on #52226
Ok cool, sounds good to me!

[2018-09-06 17:34] eddyb commented on #45510
@jhod0 Did you mean `impl<F: Fn(f64) -> f64> Integrand for F`?
Because then the error is legitimate and I don't see a way for us to support it, other than having a form of "`impl` specialization" which can support overlaps, by requiring another impl, e.g.:
[code]

[2018-09-06 17:47] denismerigoux commented on #53912
The work around I introduced with the above commit is a proposition of @eddyb and fixes this issue with the segfault.

[2018-09-06 18:05] tromey commented on #29154
Currently it isn't very easy; you can try adding the lldb component to nightly but you'll have to dig around in `~/.rustup/toolchains` to find the executable (this is being fixed in #53973 and/or #48168).

[2018-09-06 18:18] nikomatsakis commented on #53040
Moving to Edition RC 2.

[2018-09-06 18:23] yrp604 opened #54001 "Integer types ‘to_bytes’ and ‘from_bytes’ docs outdated"
For example https://doc.rust-lang.org/std/primitive.u64.html#method.to_bytes

The method is now called {to,from}_{le,be,ne}_bytes and the current tracking issue seems to be #52963

[2018-09-06 18:25] editicalu opened #54002 "Rustc panicked at Box<Any>: impossible case reached"
Rustc panicked at documenting a dependent crate in my project.

## Meta

[code]

[code]

[2018-09-06 18:43] nikomatsakis commented on #52663
Clearly not an RC blocker.

[2018-09-06 18:43] nikomatsakis commented on #52669
Clearly not an RC blocker

[2018-09-06 18:45] nikomatsakis commented on #53114
I think I'll open a separate issue to discuss the unsafefy checker, it seems orthogonal.

[2018-09-06 18:47] nikomatsakis opened #54003 "`let _ = <access to unsafe field>` currently type-checks"
The following example passes the unsafe checker, but probably should not:

[code]

The problem here is that `let _ = foo.x` is a no-op -- `foo.x` is a place expression, and the `_` pattern just plain ignores it. This means that no MIR is generated. The unsafe checker runs on MIR.

But I think that we expect an error here nonetheless.

This is a regression that was introduced in the move to doing u

[2018-09-06 18:49] nikomatsakis commented on #54003
On the topic of doing unsafe checking on HAIR:

@arielb1 and @eddyb pointed out that, in HAIR, we have to be careful because field access can also occur in patterns. But I *think* that this is just a matter of looking for "struct patterns" that refer to packed structs, and checking if they have any ref-bindings within? Still, kind of a pain, not as nice as doing the check on MIR.

This may argue f

[2018-09-06 18:58] arielb1 commented on #54003
I think you are missing a raw pointer there.

[2018-09-06 19:00] arielb1 commented on #43234
@mark-i-m

First, currently we are doing NLL borrow-checking and AST region inference, we would expect things to get faster when AST region inference is done.

Second, there are probably some performance optimizations to be done, but I think that NLL is just doing more things than AST, and so will be slower for any given amount of optimization effort.

[2018-09-06 19:15] eddyb commented on #53130
I just opened #54005 for allowing `use crate_name;` with `uniform_paths`, assuming it's what we want.

[2018-09-06 19:17] joshtriplett commented on #53128
@rfcbot resolved macros

The features needed for this are on track.

[2018-09-06 19:20] japaric opened #54006 "unstable `alloc` crate can be used without feature gates on the 2018 edition"
### STR

This compiles when `edition = "2018"`

[code]

This doesn't compile when `edition = "2015"` because it needs a feature gate.

[code]

### Meta

[code]

[2018-09-06 19:27] Munksgaard commented on #52623
I'd like to take a stab at this tomorrow or the day after :)

[2018-09-06 19:44] withoutboats commented on #53834
We discussed this in lang team today and we agreed to do this: on 2018 stable, `await` should be a reserved word, but the `await_macro` nightly feature will unreserve it so that these macros can be written.

[2018-09-06 19:56] eddyb commented on #54003
IMO this isn't as bad as `match u.void {}` not needing `unsafe`, which is what we've added the dummy accessed for, it actually seems harmless.

[2018-09-06 20:09] arielb1 opened #54008 "rustbuild: rustc_codegen_llvm is recompiled when any rustc crate is changed"
## STR

[code]

This also occurs with `keep-stage0` etc.

## Expected result

Changing `librustc_typeck` requires only the reverse dependencies of `librustc_typeck` to be recompiled.

## Actual result

`librustc_codegen_llvm` is also recompiled. As you can see, this takes twice as much as compiling the reverse dependencies of `librustc_typeck` alone, leading to compilation being 3x slower.

[2018-09-06 20:31] #52849 closed

[2018-09-06 20:35] GuillaumeGomez commented on #52376
Fixed in #53541.

[2018-09-06 20:35] #52376 closed

[2018-09-06 20:35] GuillaumeGomez commented on #53494
Fixed in #53541.

[2018-09-06 20:35] #53494 closed

[2018-09-06 20:39] mark-i-m opened #54009 "rustdoc ICE while compiling im-rs"
[code]

I ran cargo doc on https://github.com/bodil/im-rs at git commit d748deffadb2c2eafc62bf5add9fb31394ea9abe

[code]

[2018-09-06 20:44] frankmcsherry commented on #26186
Just got this today, with what is almost identical to Mark-Simulacrum's reduced version.

[2018-09-06 20:57] pnkfelix commented on #52979
Private experimentation along with discussions with @alexcrichton made me realize that you cannot always get useful `rustfix` results from input source that does not compile.

In the general case, you need to start with something that compiles, and *then* you should be able to see the diagnostics that `rustfix` uses for rewriting the code.

This implies that `compare-mode=2018` is almost certainly

[2018-09-06 21:02] IsaacWoods opened #54010 "No global memory allocator error when testing no_std crate that does link to std"
I have a no_std crate that imports std when testing:
[code]

However, I get this error during testing:
[code]

Allocating on the heap during testing does appear to work, so I'm assuming this is just a case of the warning still being emitted.

[2018-09-06 21:37] nikomatsakis commented on #53686
@petrochenkov

We discussed your comment in the @rust-lang/lang meeting today. As you pointed out, there are basically two reasons that people might want to use `try!`:

- Older code that is not maintained.
- Newer code, where people just don't like `?`.

Older code is not an issue: the migration lints are not on by default, and anyway, they are lints. Such code continues to work as it ever did. I

[2018-09-06 21:44] petrochenkov commented on #53686
@rfcbot resolve `try` is still used

[2018-09-06 22:07] Xe commented on #34869
I ran into this today with a fresh install of rust nightly on a MacBook.

[code]

[2018-09-06 22:13] matthiaskrgr opened #54013 "liballoc: slice benchmarks fail to build"
repo @ c3186914071b71af2c771ec0c0d044a1a8c215c2
````./x.py bench````
[code]

[2018-09-06 22:22] davidtwco opened #54015 "NLL: Improve move error loop detection"
In #53995, errors were deduplicated and generally this kept errors with the improved "previous iteration of loop" diagnostic:

[code]
However, in one case, [liveness-move-in-while.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui/liveness/liveness-move-in-while.rs), the remaining error did not have the improved loop diagnostic.

From @nikomatsakis, in a [comment from that PR (context m

[2018-09-06 22:27] djrenren commented on #50297
Hey all,

As I'm wrapping up my internship and will have less time to work on this, I figured I'd leave some notes for the community on the state of things merged so far and going forward. (I'll still be around, but a full-time job will definitely slow my contributions).

Current Status:
 - `#[test_case]` and `#![test_runner]` are merged
 - No cargo integration currently (though they work just fin

[2018-09-06 22:42] matthiaskrgr opened #54016 "librustc: dispatch and pattern benchmarks fail to build"
repo @ c3186914071b71af2c771ec0c0d044a1a8c215c2
````./x.py bench````
[code]

[2018-09-06 22:44] aturon commented on #53166
We discussed this issue in the lang team meeting today, and arrived at a rough consensus which I'll try to lay out here. cc @rust-lang/lang

- We do *not* search library directories in Rust 2018, *except* for the three currently-stable libraries (`core`, `std`, `procmacro`) which are whitelisted.

- We provide a lint against using `std`, which is normally allow by default, but is deny by default i

[2018-09-06 22:45] aturon commented on #53128
re: the no-std concern, we discussed this in the lang team meeting today and I've posted a summary comment [here](https://github.com/rust-lang/rust/issues/53166#issuecomment-419265401).

[2018-09-06 23:26] phaazon commented on #51540
Hello. I have a similar issue [there](https://twitter.com/phaazon_/status/1037751870075412480).

Code [here](https://github.com/phaazon/luminance-nostd-test/tree/bug/no-std-alloc-oom-unwind).

[2018-09-06 23:26] phaazon commented on #47493
Hello. I have a similar issue [there](https://twitter.com/phaazon_/status/1037751870075412480).

Code [here](https://github.com/phaazon/luminance-nostd-test/tree/bug/no-std-alloc-oom-unwind).

[2018-09-06 23:30] cramertj commented on #53128
@rfcbot resolve no_std-std

I'm happy with the proposed solution of a deny-by-default warning when `#![no_std]` is used, which crate authors can `allow` based on their own optional `std` feature.

[2018-09-06 23:50] cramertj commented on #53794
@michaelwoerister Ugh... I've spent several hours trying to track this down. It seems that something has changed now since I originally tested, and I get the same error unless I change `CARGO_TARGET_RUSTFLAGS` to `CARGO_TARGET_x86_64_FUCHSIA_RUSTFLAGS`. I've pushed this change as long as a change to fix the specific versions of clang and the sdk that are being downloaded so as to prevent further b

[2018-09-07 00:28] earthengine commented on #53420
@nikomatsakis

I see you have been working on #18993 (HRTB). This issue seems to be in the concept "late bound regions" you introduced: `<() as Lt<'_>>::T` is a late bound region, but binding is way TOOOO late in this case and actually being never.

Can you please look into this and tell me when it is supposed to be bound?

(I can see the difficulty here: there is a lifetime but was never specifie

[2018-09-07 01:09] kzvi commented on #53813
I'm still getting this error with `rustc 1.30.0-nightly (a8c11d216 2018-09-06)`.

[2018-09-07 01:30] Mark-Simulacrum commented on #44489
Can @rust-lang/lang assign someone or update us on the current state here? Was this intended to be stabilized in RC? If so we need a stabilization PR ASAP.

[2018-09-07 01:36] Mark-Simulacrum commented on #53686
Can someone assign themselves to this issue? I'm not sure exactly what's involved in making the necessary changes here, so it's hard to estimate the difficulty/scope of this task.

[2018-09-07 01:39] Mark-Simulacrum commented on #53569
@nikomatsakis @matthewjasper @pnkfelix It's not clear to me that this has sufficient momentum or decision-making to land for RC1 -- should this be pushed back to RC2, or is this truly a blocking issue?

[2018-09-07 01:42] Mark-Simulacrum commented on #53159
Moving to RC 2 -- not a blocker.

[2018-09-07 02:07] alexcrichton commented on #53813
Looks like there's at least one more bug to fix -- https://github.com/rust-lang/rust/pull/54018

[2018-09-07 04:03] mqudsi opened #54019 "Suggest `self` instead of `this` if it makes sense"
C++ refugees coming to rust might accidentally use/write `this.foo` where `self.foo` was intended. I'm sure a hint to use `self` instead would be appreciated.

[2018-09-07 04:18] #53916 closed

[2018-09-07 06:06] galich opened #54022 "internal compiler error: unexpected panic with anonymous lifetimes"
I tried this code:

**main.rs**
[code]

**cargo.toml**
[code]

I expected to see this happen: code compiled or error shown.

Instead, this happened: compiler panic

## Meta

`rustc --version --verbose`:
[code]

Backtrace:

[code]

[2018-09-07 06:12] abonander commented on #53974
There's no leak here, you're just changing whether or not the receiver thread can keep up with the sender. The asymptotic memory growth you see in some cases arises purely from the receiver being significantly slower, and thus the sender filling up the queue.

The receiver is going to be the significantly slower half because of those `println!()`s, which involves both formatting and repeatedly loc

[2018-09-07 07:11] SimonSapin commented on #53166
In this new world, how does one achieve the existing pattern that goes like this? `#![no_std] #![cfg(feature = "std")] extern crate std;`

[2018-09-07 07:30] joshtriplett commented on #53166
@SimonSapin `#![cfg_attr(not(feature="std"), no_std)]` might help.

[2018-09-07 07:36] Nemo157 commented on #53166
@joshtriplett the problem with that is you then also need to have

[code]

everywhere (or some similar sort of pattern).

I think what the direct replacement for @SimonSapin’s pattern is `#![no_std] #![cfg_attr(feature = "std", allow(the_lint_aturon_mentions))]`

[2018-09-07 07:50] SimonSapin commented on #51540
I don’t know if unwinding without `std` is supported at all. Consider either adding `std` to your dependency graph or compiling with `panic = "abort"`.

[2018-09-07 08:33] lqd commented on #53482
indeed they are, let's close this

[2018-09-07 08:33] #53482 closed

[2018-09-07 08:33] GuillaumeGomez commented on #54009
Same as #52873. Closing in favor for the other one (but thanks for reporting!).

[2018-09-07 08:33] #54009 closed

[2018-09-07 08:35] michaelwoerister commented on #53912
Sanitizing `:` to `$` and adding a debug assertion would also be a good idea.

[2018-09-07 08:38] GuillaumeGomez opened #54025 "docs: hide undocumented items in trait impls"
More info in #51885.

[2018-09-07 10:11] matthiaskrgr opened #54026 "opt-level: z often worse than s, sometimes worse than 3 on small files"
script to get sizes
[code]
It seems that ````-C opt-level=z```` often fails to reduce size beyond what ````-C opt-level=s````can do, sometimes it's even outperformed by ````-C opt-level=3````.

## sizes of binarys wrt opt level

<details><summary>table</summary>
<p>

| default  | 1       | 2       | 3       | s       | z       |

[2018-09-07 10:13] jnferner opened #54027 "WASM build broken on newest nightly for MacOS"
running `cargo build --target wasm32-unknown-unknown` on `rustc 1.30.0-nightly (a8c11d216 2018-09-06)` returns the following:

[code]

Might be related to https://github.com/rust-lang/rust/issues/53813

[2018-09-07 10:16] japaric commented on #44489
@Mark-Simulacrum

Yes, it would be ideal to have this in RC1 (1.30-beta). If it doesn't make the beta cutoff, could we backport it?

[Stabilization PR](https://github.com/rust-lang/rust/pull/51366)

[Reference PR](https://github.com/rust-lang-nursery/reference/pull/362)

Updating / finishing them up right now.

[2018-09-07 10:28] jonas-schievink commented on #54026
Yeah this has cropped up in the past, for example here https://github.com/rust-lang/rust/issues/49260#issuecomment-375285830, and the embedded WG discussed this here: https://github.com/rust-embedded/wg/issues/69

Maybe it's finally time to adjust LLVM's inlining thresholds to better suit Rust.

[2018-09-07 10:32] matthiaskrgr commented on #54027
I think this might be fixed in the next nightly: https://github.com/rust-lang/rust/pull/54018

[2018-09-07 10:39] GabrielMajeri opened #54028 "Rust generates unaligned loads when unpacking an aligned struct"
While playing around with some complex numbers (structures with two `f64`s), I noticed Rust was generating unaligned loads, so I added the `#[repr(align(16))]` parameter to them. But Rust was still generating unaligned operations.

I redeclared the parameter as a local variable, and it got fixed. It only seems to happen when using a pattern to unpack the fields of an aligned structure.

Minimal re

[2018-09-07 11:01] jnferner commented on #54027
Yeah, that looks pretty relevant. Thanks a bunch!

[2018-09-07 11:01] #54027 closed

[2018-09-07 11:05] pravic opened #54030 "Rustdoc does not render stabilized attributes for associated constants"
For example, [`Ipv4Addr::UNSPECIFIED`](https://doc.rust-lang.org/nightly/std/net/struct.Ipv4Addr.html#associatedconstant.UNSPECIFIED).

Unlike in [`other methods`](https://doc.rust-lang.org/nightly/std/net/struct.Ipv4Addr.html#method.is_loopback) where it renders the version field from `#[stable(since = "a.b.c")]` .

@GuillaumeGomez

cc #44348

[2018-09-07 12:28] sanmai-NL commented on #44690
@nrc: kind reminder to update the opening post with the current progress.

[2018-09-07 12:48] #53228 closed

[2018-09-07 13:34] mark-i-m commented on #53686
Yep, also see https://rust-lang-nursery.github.io/rustc-guide/diag.html#linting-even-earlier-in-the-compiler

[2018-09-07 13:48] pnkfelix commented on #52706
(removing NLL label since the bug is stated as occurring with and *without* NLL.)

[2018-09-07 15:01] bossmc commented on #47551
I've been looking at a proper fix for this and neither of the two paths I proposed above are yeilding simple results:

- LLVM miscalculating the section length:
    * The simple fix I proposed in the upstream issue allows the unwinder to read arbitrary parts of the LOAD segment before bailing, which might have unexpected effects
    * A more complex fix needs to calculate the section length at run

[2018-09-07 15:14] #45797 closed

[2018-09-07 15:14] #52524 closed

[2018-09-07 15:15] #52934 closed

[2018-09-07 15:45] eddyb commented on #49441
I guess this is the same problem I recognized last year (https://github.com/rust-lang/rust/issues/44075#issuecomment-324752149), but now I have a plan.

[2018-09-07 15:51] GabrielMajeri commented on #44580
@Zauberklavier As soon as [this pull request](https://github.com/rust-lang/rust/pull/53645) is done. To quote from it:

[2018-09-07 16:17] sgrif commented on #38356
Given the amount of discussion/traffic this issue gets, does it make sense to move `proc_macro_diagnostic` to its own tracking issue?

[2018-09-07 16:40] mdg opened #54035 "downcast to reference "impossible case reached""
I had some code that was downcasting an owned Box<MyTrait> to a concret owned value. That code worked fine. Today I tried to change it to downcast and then borrow.

I added this code:

https://github.com/mdg/leema/commit/886ca6c0ead2c99b093bf8aaf7881ba1548ac5ff#diff-04a0e2a8850f0ecfdb57f8f00aaea52fR111
I've pushed all this code up to the [downcast-reference-bug branch](https://github.com/mdg/leema

[2018-09-07 17:49] #53298 closed

[2018-09-07 17:58] cuviper commented on #54028
In the debug version of the LLVM IR, only the latter shows an explicit `align 16`.  They both have `dereferenceable(16)` on the argument, but I think that's only size, not alignment.

[code]

[2018-09-07 17:58] opus111 commented on #53827
If Box causes stack overflow, and box is not stable (and isn't coming soon), what is the recommended way to allocate a large block of memory in Rust?

[2018-09-07 18:45] matthewjasper commented on #53469
Now a normal compile error. Closing.

[2018-09-07 18:45] #53469 closed

[2018-09-07 19:04] XOSplicer opened #54038 "ICE when passing slice with const eval length to method"
I tried this code:
[code]
I expected a successful compile, however rustc panicked.
Without the lifetime annotation (only `struct Foo;`) the panic does not happen and it compiles successfully.

## Meta
rust version: rustc 1.28.0 (9634041f0 2018-07-30) running on x86_64-unknown-linux-gnu

playground link: https://play.rust-lang.org/?gist=4f897c3fc9de85f853b16cc0a8c2b562&version=stable&mode=debug&edi

[2018-09-07 19:07] kornelski opened #54039 "Bounds check on const/static arrays are not eliminated"
The compiler is smart enough to eliminate bounds check on a slice from a function argument, but not on a slice from a global array.

Here, as expected, `s[index]` bounds check is eliminated after compiler sees `s.get(index+2)` succeed:

[code]

However, the same code, but with `const` array instead of a slice, does have a bounds check:

[code]

Tested on rustc 1.30.0-nightly (6e0f1cc15 2018-09-05)

[2018-09-07 19:31] matklad commented on #42293
@michaelwoerister could you add a link to https://rust-lang-nursery.github.io/rustc-guide/query.html to the original description? This is what comes up in the search for rust red-green, so it's nice to have links to state-of-the-art docs.

[2018-09-07 19:40] mqudsi opened #54041 "Warn on function call in `unwrap_or(..)` parameter"
I believe the `Result::unwrap_or(..)` has a high potential for causing problems or unexpected behavior to users without previous intimate familiarity with lower-level languages, as it can cause unexpected side effects to take place.

For example, it is completely plausible that someone could write the following and be surprised by the output:

[code]

Where `get_alternative()` could have even more

[2018-09-07 19:56] cramertj opened #54042 "Failed to remove rcgu: no such file or directory"
Discovered when investigating https://github.com/rust-lang/rust/issues/53794. When rustc is run, the following errors result:

[code]

To repro, check out https://github.com/cramertj/link-error-repro/commit/b4b055cadec6caa3aefa908df65e3ac1c2ee7506, grab `rustc 1.30.0-nightly (6e0f1cc15 2018-09-05)`, and run `./clone_sdk.sh && ./build_deps.sh && ./build_bin.sh`. If using a different `rustc`, the ha

[2018-09-07 19:56] cramertj commented on #53794
Encountered https://github.com/rust-lang/rust/issues/54042 when working towards a repro. It may be related.

[2018-09-07 19:58] cramertj commented on #54042
[Full logs are here](https://gist.github.com/cramertj/62a0fca3055d420446beffb488c1c860)

[2018-09-07 20:14] euclio commented on #54041
There is already a [clippy lint](https://rust-lang-nursery.github.io/rust-clippy/master/index.html#or_fun_call) for this exact scenario.

[2018-09-07 20:51] eddyb commented on #38913
What if we did this, but for `libcore`...`libstd`, at stage1? It might be worth it, despite the huge number of tests, and should be a huge improvement when running just a few tests.

(prompted by @dwijnand's comments on Discord about their workflow of changing `librustc` and re-checking only one test - with incremental, most of the time is spent building `libcore`...`libstd`)

[2018-09-07 21:14] Centril commented on #54006
Marking as P-high due to edition urgency.

[2018-09-07 21:31] nikomatsakis commented on #53686
Is anyone working on this issue? I had thought to start on it today but didn't get to it

[2018-09-07 21:32] nikomatsakis commented on #53686
My understanding is that, today, macro invocations are actually still present in the AST. I wonder if we might do this in a different way-- basically by walking the AST post expansion and looking for cases that will become a problem?

[2018-09-07 21:32] nikomatsakis commented on #53686
Ah, this is interesting: this might be a case where the "cross-crate edition hygiene" becomes relevant. In particular, if I use a macro from another crate that uses `try!`.

[2018-09-07 21:35] nikomatsakis commented on #53686
Well, "wait and see" still applies, I suppose

[2018-09-07 21:43] nikomatsakis commented on #53686
If that is true, I can't figure out where from some brief reading of the code :)

[2018-09-07 21:53] nikomatsakis commented on #52534
I think in my ideal world we would recognize, in this case, that the `'static` lifetime is kind of a bad path, and give a quite different error:

[code]

[2018-09-07 21:55] nikomatsakis commented on #52534
We can take the closure out of the equation and think instead of this example:

[code]

This currently gives:

[code]

[2018-09-07 21:58] nikomatsakis commented on #52534
I think I would like potentially a similar error:

[code]

maybe something like that?

[2018-09-07 21:59] eddyb commented on #44580
@newpavlov I assumed constant parameters would be allowed without being used in fields.
The reason type parameters must be used is because of variance, but constants don't have this issue.

[2018-09-07 21:59] nikomatsakis commented on #52534
This suggests our original could've been:

[code]

but somehow this seems kind of "meh". In both cases, there is maybe something *even clearer*, where we talk about "data local to the closure" or "data local to the function", but I can't *quite* see how to say it right now.

[2018-09-07 22:00] nikomatsakis commented on #52534
Talking about where `x` goes out of scope feels a bit like a non-sequitor to me.

[2018-09-07 22:01] cramertj opened #54044 "Cold Structs"
[code]
Is it intentional that this work? If so, what is it supposed to do? [The reference](https://doc.rust-lang.org/reference/attributes.html#function-only-attributes) lists it as a function-only attribute, but I've always known it to work on expressions like loops as well.

[2018-09-07 22:07] Mark-Simulacrum commented on #54041
We have a policy of accepting lints only through RFCs, and, either way, there would be false positives. In some cases I'd imagine it is more friendly to the optimizer to know that both paths will be executed or the function is cheap enough that the call itself might be more expensive.

[2018-09-07 22:07] #54041 closed

[2018-09-07 22:12] withoutboats commented on #44580
@eddyb that's what I recall from the RFC discussion also.

[2018-09-07 22:15] petrochenkov commented on #54044
A lot of attributes (most of them?) are not validated in any way, neither locations, nor syntax.
So, something like this works as well:
[code]
This is a known issue, but I'm not sure there's a single issue about the attribute validation problem in general.

[2018-09-07 22:52] cramertj opened #54045 "Regression in #[allow(deprecated)] for `impl Trait` return type"
The following code compiles on stable but fails to compile on beta and nightly with the warning "use of deprecated item `Deprecated`":

[code]

Error:
[code]

Possibly related to @oli-obk 's refactoring of `impl Trait`?

[2018-09-08 00:17] petrochenkov opened #54047 "Implement some way to run UI tests ignoring run-pass tests"
`run-pass` test were recently merged into UI tests (https://github.com/rust-lang/rust/pull/53860, https://github.com/rust-lang/rust/pull/53992, https://github.com/rust-lang/rust/pull/53994), which is unfortunate in several aspects.

If you are working with diagnostics (changing spans, labels, error messages, etc) or in "compile-fail" area in general, and want to check the result on UI tests, then

[2018-09-08 00:17] petrochenkov commented on #54047
cc @pnkfelix

[2018-09-08 01:03] rbalicki2 commented on #54027
I can confirm this is fixed on `rustc 1.30.0-nightly (fc81e3624 2018-09-07)`

[2018-09-08 01:07] matthiaskrgr commented on #54042
Just got this too (rustc 1.30.0-nightly (fc81e3624 2018-09-07), however my crate use monolithic lto
[code]
I thought this would be a thinlto problem?

[2018-09-08 04:30] WiSaGaN commented on #41646
While I agree with this naming change, I don't agree with moderator implying people are "trolling" when they voice their disagreement.

In Wikipedia, Troll is defined as

The disagreement in this thread may be unpleasant, or sometimes even inflammatory, but we need to have some concrete evidence to prove the *intent* of those messages are "provoking readers into displaying emotional responses and

[2018-09-08 04:48] agnxy commented on #53818
Hi @oli-obk ,
When I was running the test in step 3, or compiled the new test with nightly rustc (rust-lang/rust@fc81e3624), I got errors like this.

error[E0015]: calls in statics are limited to constant functions, tuple structs and tuple variants
  --> mod-static-with-const-fn.rs:24:6
   |
24 |     *FOO.0.get() = 5;
   |      ^^^^^^^^^^^

error[E0658]: statements in statics are unstable (see iss

[2018-09-08 05:41] GabrielMajeri opened #54048 "-C remark=loop-vectorize doesn't point to the source line"
I was trying to use `-C remark` to understand why a loop didn't get vectorized. You can [see the simple example code on godbolt](https://rust.godbolt.org/z/KHuX1A).

[code]

The loop itself isn't very important, the issue is with what the remark message says:

[code]
As you can see, instead of saying something like `at <source_file>:2:5: ...`, it points to a method in the standard library. In this

[2018-09-08 05:44] davidlattimore opened #54049 "Infinite recursion can trigger undefined behavior (I think)"
[code]

If I cargo run this, I get a stack overflow as expected. If I cargo run --release however, I get:
RESULT: 1234567

The else should be unreachable (with input 10). I suspect LLVM is correctly identifying that it will recurse indefinitely, but that it perhaps considers that undefined behavior, so decides that it's free to remove the if statement and just unconditionally return the constant v

[2018-09-08 06:33] #51834 closed

[2018-09-08 07:41] oli-obk commented on #54045
Possible. Is the deprecation checker running on HIR? because we now have a HIR existential type item, and I don't think we're copying lint attributes from the function over to it

[2018-09-08 07:47] oli-obk commented on #53818
These errors are fine. the idea of this issue is to just make sure the code always fails to compile. More errors are fine, too. the const let feature has a bug where even enabling it will still report it. that's not problematic for this issue. Can you add a comment to the test mentioning that this test should never ever succeed?

If you want you can additionally try to minimize the test to somethi

[2018-09-08 07:50] retep998 commented on #41646
Good thing Github now allows people to hide comments rather than deleting them, so going forward we'll be able to benefit from the increased transparency and when actual troll posts are hidden people won't think the moderator team was incorrect in that decision.

[2018-09-08 07:58] nagisa commented on #54049
A duplicate of https://github.com/rust-lang/rust/issues/18785. I’m surprised we ended up closing #18785 without really checking whether the underlying reason is the same. I’ll reopen that issue and close this in favour of that.

Thanks for the report!

[2018-09-08 07:58] #54049 closed

[2018-09-08 08:00] nagisa commented on #18785
I’ll reopen this issue, as the loop issue is somewhat separate from the recursion issue in terms of what parts of LLVM cause the issue to happen.

I investigated the code reported in #54049 and found that there, starting with a code as seen below, will dataflow-propagate a constant value.

[code]

Running this code through the interprocedural sparse conditional constant propagation (`opt -ipsccp f

[2018-09-08 08:47] dhardy commented on #40543
@burdges has a point. Items like the following should be illegal, not merely illegal to try mutating.
[code]

[2018-09-08 08:54] davidtwco commented on #53352
I've spent a little bit of time looking into this and I'm not convinced that it is a problem. It seems like the error got changed in #46531 but the error patterns weren't updated (because they weren't being checked and therefore weren't causing an error).

I think what this currently tests is correct and while there exists a branch of the code today that has the error expected by the patterns, I d

[2018-09-08 09:39] thehappycoder commented on #53813
Finally, I managed to compile on a mac with the latest nightly build of rust!

[2018-09-08 09:43] PSeitz opened #54052 "'rustc' panicked at 'failed to create span for type arguments'"
Hi,
this code leads to a panic in the compiler with cargo clippy:

[code]

I did put the code in a small repo:
- `git clone https://github.com/PSeitz/span_err`
- `cargo clippy` (I don't know how to see all compiler flags from clippy for the rustc command)

note: rustc 1.30.0-nightly (f8d34596f 2018-08-30) running on x86_64-unknown-linux-gnu
note: compiler flags: -C debuginfo=2 -C incremental --cra

[2018-09-08 09:46] PSeitz commented on #54052
Probably related: https://github.com/rust-lang-nursery/rust-clippy/issues/2306

[2018-09-08 09:51] Havvy commented on #54044
I'll add a line saying that the attribute is allowed on other places in the reference. That said, it'd be nice to make it a warning in the 2018 edition, error by default in the 2021 edition, and removed completely in the 2024 edition.

@petrochenkov Having an actual list of said attributes would be useful for said documentation purposes.

@cramertj You can't put attributes on expressions, only sta

[2018-09-08 09:59] Havvy commented on #54019
Likewise from people from JavaScript and also `my` from Perl, although that one sound a lot more unlikely.

[2018-09-08 10:10] di3663 opened #54053 "【std::process::Command]】 cmd/bash console does not show after build with "windows" subsystem on windows"
after add
[code]

[2018-09-08 11:03] koalatux opened #54054 "Slow performance of std::iter::Rev with iterator adapters using std::iter::Iterator::nth()"
The following example shows a benchmark of the iterator adapter `step_by()`. Once using `step_by()` directly on the range and once with a redirection via `rev()`.

[code]

Running this benchmark with the current nightly shows these results:

[code]

`step_by()` makes use of `nth()` of the adapted iterator. A range provides an optimized version of `nth()`, but by using `rev()` we get to use the def

[2018-09-08 11:15] nagisa commented on #18785
My bad. Adding a `@llvm.sideeffect` does help with the issue above. It will still optimise out return to `1234567`, but will also prevent passes further along the pipeline from removing the recursive call to `@bar`.

[2018-09-08 11:52] eddyb opened #54055 "Allow "ABI irrelevant" generics in FFI imports."
For example, a C library might have the following API:
[code]
[code]
However, the use of `c_void` makes it harder to use (having to cast to and from `*mut c_void`) and more error-prone (having no real type safety other than "it's a raw pointer and unsafe to use").

We could, instead, allow this definition:
[code]
This is valid because we can *fully compute* the call ABI for `foo_each_bar::<T>` *wi

[2018-09-08 11:53] #44489 closed

[2018-09-08 11:57] mmoehring opened #54056 "Doc of std::fs::canonicalize does not correspond to behavior"
The doc for canonicalize state that the function will return an error if a component in a path is not a directory.

Using canonicalize on a path with a file component does not return an error for me, e.g.

    fs::canonicalize("./src/../Cargo.toml").unwrap();

works without error.

## Meta
rustc 1.28.0 (9634041f0 2018-07-30)
binary: rustc
commit-hash: 9634041f0e8c0f3191d2867311276f19d0a42564
commi

[2018-09-08 12:08] eddyb commented on #48055
@rkruppe I assume you meant `take` instead of `arg`?
However, I think you need to take into account that `_buf1` *is not live* when the the function returns, and continuation get called. At that point, only a copy of `"hello world"` should be left on the stack.

[2018-09-08 12:27] PSeitz commented on #54052
Edit I'll close this. By the stacktrace it seems to be cause by a clippy plugin:

[code]

[2018-09-08 12:27] #54052 closed

[2018-09-08 12:58] GabrielMajeri commented on #54028
I've been able to get an ever more minimal repro:
[code]

[2018-09-08 13:07] eddyb commented on #54028
Does it work as expected if instead of using `#[repr(align(16))]` you do this?
[code]
If so, then we could use vectors instead of integers for hinting higher alignments to LLVM, for both intra-struct/enum/union padding, and pointers without a LLVM pointee type.

[2018-09-08 13:52] eddyb commented on #54028
I left [a comment](https://github.com/rust-lang/rust/pull/53998/files#r216130264) on #53998, about a potential change that would help here, I think.
That is, we can be less conservative, and preserve knowledge of a higher alignment for fields of locals.

[2018-09-08 14:13] ubsan commented on #54055
This seems like a good idea.

[2018-09-08 14:16] #50337 closed

[2018-09-08 14:16] #53852 closed

[2018-09-08 14:16] #53484 closed

[2018-09-08 14:16] #53691 closed

[2018-09-08 14:44] mjbshaw opened #54059 "ICE compiling the objrs crate"
`cargo --version`: `cargo 1.29.0-nightly (0ec7281b9 2018-08-20)`
`rustc --version`: `rustc 1.30.0-nightly (fc81e3624 2018-09-07)`

Steps to reproduce:
[code]

This is failing when the `objrs` crate attempts to import the `objrs_macros` crate (which is a `proc-macro` crate). That is, if I modify `objrs`'s `lib.rs` file to only contain:

[code]

rustc will ICE.

Backtrace:
[code]

[2018-09-08 15:03] Kixunil commented on #53491
I'm curious to know whether there's some argument against layout-optimizing `Option<Foo>` where `Foo` is defined like this:

[code]

[2018-09-08 15:14] eddyb opened #54060 "Treat closures as `move` when their type escapes their captures' scope."
Unlike previously discussed *inference* of `move` from lifetimes (which has been deemed unfeasible/undesirable), we can completely ignore lifetime bounds and NLL analysis.

*Note: everything discussed here "trivially" doesn't pass lifetime inference/checks currently, so allowing such code to compile should be entirely backwards-compatible.*

<hr/>

Instead, I think we should focus on expressions t

[2018-09-08 15:17] ehuss opened #54061 "Cannot test with stage0"
There was a shortcut for fast testing of std with `./x.py test --stage 0 --no-doc src/libstd`, but it doesn't seem to work as of #53410.  I get the following error:

[code]

I'm guessing the problem is that the synthesized main created by the beta compiler no longer uses the same signatures in the new libtest.  I suspect this is just an unfortunate consequence of this part of the test harness bein

[2018-09-08 15:33] mbrubeck commented on #41646
Please direct comments about moderation to the moderators or to new forum threads.

[2018-09-08 16:03] chrisduerr opened #54062 "Compiler panic when trying to lock `inner` of Mutex"
I've encountered a panic after refactoring my program and trying to compile in an incomplete state.

This is the error I've got:
[code]

This is the minimal code example for reproduction:
[code]
[playground](https://play.rust-lang.org/?gist=5fc3e95c3bd42b3263895ed3efe3b978)

I've looked at a few other issues and haven't found anything similar, so hopefully this is not a duplicate.

[2018-09-08 16:24] crusty-dave opened #54063 "How do I get a mut reference to a *mut c_char (FFI)?"
I am looking to do something like the following:

[code]
However, that returns the following error:

[code]

I don't see a way to do anything like the following:

`        let cur_str: &mut CStr = CStr::from_ptr(str_ptr);
`

The intent is to allocate the memory in the C++ code, and simply allow Rust to populate it.  Ideally I could use _str_max to let Rust know the size so that it wouldn't exceed

[2018-09-08 16:33] kennytm commented on #54059
I suspect this is a duplicate of #52370, but I only count 2 #[proc_macro] and 1 #[proc_macro_attribute] in the repository.

[2018-09-08 16:36] #53576 closed

[2018-09-08 16:52] nagisa commented on #54063
This is a tracker for the issues in rustc. For support, consider posting your question on [users.rlo](https://users.rust-lang.org/), [stackoverflow](https://stackoverflow.com/), [reddit](https://www.reddit.com/r/rust/), or asking on one of the chat platforms: [#rust on irc.mozilla.org](https://www.rust-lang.org/en-US/community.html#irc-channels), [discord](https://discordapp.com/invite/aVESxV8), e

[2018-09-08 16:52] #54063 closed

[2018-09-08 17:09] rpjohnst commented on #54055
I would love to have this sort of thing outside the context of FFI as well- a way to write generic code that's guaranteed not to be monomorphized because it's just passing around pointers.

[2018-09-08 17:28] eddyb commented on #40543
@dhardy Why so? That's not a `static`, there's no `Cell<u32>` *place* in memory, it's just a constant *value*, a "template" for creating the same value.

[2018-09-08 17:56] mqudsi opened #54065 "Detect inverted (type, parameter name) function parameters and suggest fix accordingly"
Each time I switch from programming in (TypeScript, rust) to programming in (C, C++, C#) or vice versa, I end up inevitably writing function parameters backwards. To me, the following message is obviously more than enough:

[code]

as it brings to my attention the inverted signature parameters. However, it occurs to me that this might be an easy (albeit extremely low priority) win to make the comp

[2018-09-08 18:00] mqudsi commented on #54041
@Mark-Simulacrum thanks for the response. Is there a list of what needs to be submitted as an RFC?

[2018-09-08 18:00] crusty-dave commented on #54063
Hi nagisa,

Thanks so much for the reference! I believe it is working correctly, still need some testing.

[code]

I will use the correct forum for questions next time, still learning this stuff...

Thanks again,
-Dave

[2018-09-08 18:01] Mark-Simulacrum commented on #54041
Not that I know of - mostly anything that requires community feedback or needs discussion, I think.

[2018-09-08 18:16] SephVelut opened #54066 "Maybe cache related bug"
Using Clion I was getting "burrowed value does not live long enough" error.

[code]
I sunk an hour trying to figure this one out. Hit compile compile compile compile. Error, error, error. Go out for a bit, leave code completely unchanged. Come back hit compile. Success.. Nothing changed. I don't know what's going on, but I'm guessing it is related to cache. Normally I wouldn't make this an issue w

[2018-09-08 18:30] eddyb commented on #53201
@oli-obk You can use a `BitVector<BasicBool>`, although I'm not even sure it's necessary.
A promoted call ends up as a `Goto`, so you could just skip it based on that?

[2018-09-08 18:48] omrerdn commented on #53974
@abonander thanks for your response, but i still have few questions.

Check this code please, due to asymptotic memory growth(for 10million) i increased backpressure by increasing sleep time to 20 seconds and also i didn't use  println!. ( btw with println scenario, it prints 10 million line in 9 seconds on my mac), so i expect that receiver has sufficient time for handling whole queue(freeing the

[2018-09-08 19:09] SephVelut commented on #54066
Closing until I can reproduce

[2018-09-08 19:09] #54066 closed

[2018-09-08 19:18] abonander commented on #53974
Because this is concurrent code it's highly dependent on the machine. Starting the receiver thread second could give the sender enough of a head start to still outpace it. One thread or another can be preempted randomly by the operating system. They may not be even running simultaneously. I just don't think it's a leak.

The important part with switching to MPSC is that it slows down the sender (p

[2018-09-08 20:36] crawford opened #54067 "Compiler panic when attempting to use non immediate as assembly parameter"
Take the following code:

[code]

Attempting to compile this results in the following:

[code]

I think the compiler should fail with something along the lines of "you attempted to use a complex type (`Option<u32>`) where I expected an immediate".

[2018-09-08 21:58] rkruppe commented on #48055
We discussed on IRC, for the record: LLVM does not shrink the stack frame (by adjusting the stack pointer), not ever for static allocs and only on explicit request (stacksave/stackrestore intrinsics) for dynamic allocas.

[2018-09-09 00:31] ishitatsuyuki commented on #54053
It's not clear what is your desired result, and what's actually happening. Please edit and elaborate in your issue body.

[2018-09-09 03:06] RyanSquared commented on #54053
From the documentation [here](https://msdn.microsoft.com/en-us/library/fcc1zstk.aspx), this is an intended effect. The `windows_subsystem` attribute is for modifying how Windows should treat the binary. In this case, using the `"windows"` subsystem means that your program is not intended to create a console window. You can re-enable this by using `#![windows_subsystem = "console"]`.

[2018-09-09 03:48] mjbshaw commented on #54059
The `objrs_macros` crate only has 1 `#[proc_macro]` and 1 `#[proc_macro_attribute]`. If I comment both of them out, the compiler still ICEs. The `objrs` crate used to compile a couple weeks ago, so this was a fairly recent change.

[2018-09-09 04:45] xpe commented on #50504
@apiraino I'd like to add correction. Here is the proper syntax to use at the top of a file to disable the warning:

[code]

Note the `#!`, per https://doc.rust-lang.org/reference/attributes.html.

[2018-09-09 06:07] qnighy commented on #48055
@eddyb would you help me with design decision? For by-value trait object safety, I need to insert shims to force the receiver to be passed by reference in the ABI. For example, for

[code]

to be object safe, `<Foo as Foo>::foo` should be able to call `<T as Foo>::foo` without knowing `T`. However, concrete `<T as Foo>::foo`s may receive `self` directly, making it difficult to call the method with

[2018-09-09 06:27] Ekleog commented on #39412
This makes me wonder. If I have a crate `mycrate` defining function `foo` and procedural macro `foo`, then if I do `use mycrate::foo`, which one is imported into scope? both? (I'm starting from the idea that some day in the hopefully near future the `-derive` crates and the not-`-derive` crates will be merge-able)

Adding the `!` as something to remove the ambiguity would likely help (in addition

[2018-09-09 06:30] dhardy commented on #40543
But are there any legitimate uses for this? Possibly as part of a compound type I guess, but that would be unusual. A lint may be better then.

Okay, the problematic bit is that one can call `X.set(5);` even though consts do not permit mutation.

[2018-09-09 06:30] Ekleog commented on #44580
@varkor So this means `PhantomConst` proposed by @cuviper cannot exist in the current state of this RFC… right? though latest comments appear to point that there is no need for `PhantomConst` anyway.

[2018-09-09 07:27] eddyb commented on #40543
@dhardy Yeah. IMO, this is in the same category as this:
[code]
Clippy should be linting both this and your example, saying that you're mutating a (field of a) temporary and you *probably* wanted to do something else.
Although it's maybe harder for `Cell::set` (assuming we'd rather not hardcode it in clippy).

[2018-09-09 07:27] Nemo157 commented on #39412
@Ekleog yes, both (along with potentially a module `foo` and type `foo`  as well).

[2018-09-09 07:32] RalfJung opened #54075 "`impl_stable_hash_for!` does not support enums with named fields"
In miri, we are now carrying some hand-written implementations of `HashStable` because the macro `impl_stable_hash_for!` does not support enum variants with named fields, e.g.
[code]
This is rather annoying and also error-prone, e.g. the manual implementations forgot to hash the discriminant.

`impl_stable_hash_for!` should support enums like the above.

[2018-09-09 08:54] #53770 closed

[2018-09-09 09:07] RalfJung commented on #49441
@eddyb What is the deadline for this so that it could actually be an error in the next edition? Seeing https://github.com/rust-lang/rust/pull/54057 makes me think it is already too late.

[2018-09-09 09:42] Manishearth commented on #49441
It's been too late for ages, there's significant work required to make an edition breakage robust.

[2018-09-09 09:51] RalfJung commented on #53491
@Kixunil could you raise that at https://github.com/rust-rfcs/unsafe-code-guidelines/issues/13? Your question really is not related to `MaybeUninit`.

[2018-09-09 10:31] eddyb commented on #49441
@Manishearth Ugh, really? I already have half of it implemented, the hard part is actually warning on Rust 2015, erroring on Rust 2018 is pretty easy.
What if I finish both halves that error on Rust 2018 today? I wish there were less things to do for Rust 2018, and we had noticed enough things in time...

[2018-09-09 10:37] Manishearth commented on #49441
I mean, I _guess_ you could make it work but you need docs and testing and some time for it to bake. And you need the teams to approve this.

The "hard part" about warning on 2015 is precisely the problem, edition migration lints are tricky.

Make it a non breaking backwards compatible lint and we can eventually break it (it's not that major a breakage) or include it in the edition.

[2018-09-09 10:40] chenge opened #54077 "Site doc bug：Rust Programming Book Chinese Version not Accessible"
[code]
Right version seems to be here:

https://kaisery.github.io/trpl-zh-cn/

[2018-09-09 10:59] eddyb commented on #49441
@Manishearth What I'm working is doing the proper checks, which bring type aliases in line with other types, reverting the "force people to remove almost all bounds" approach (which I think was a complete mistake caused by miscommunication).
It looks like a bug fix, and the errors make sense the same way they do for anything but type aliases.

[2018-09-09 11:52] matthiaskrgr opened #54079 "diagnostics: fp single_use_lifetimes: only used in #[derive(Trait)]"
cargo.toml
[code]

src/main.rs
[code]

src/a.rs
[code]

when building, I get
[code]

the

[code]
is what looks sorta wrong.
``rustc 1.30.0-nightly (0198a1ea4 2018-09-08)``

[2018-09-09 12:47] PaulGrandperrin commented on #47953
I tried to reproduce on recent nightly and the bug seems to be gone, so I'm closing.

[2018-09-09 12:47] #47953 closed

[2018-09-09 12:56] PaulGrandperrin commented on #49408
I'm closing because I'm not able to reproduce on recent compiler.

[2018-09-09 12:56] #49408 closed

[2018-09-09 12:58] PaulGrandperrin commented on #49592
The bug is indeed fixed, thanks!!!

[2018-09-09 12:58] #49592 closed

[2018-09-09 13:11] arielb1 commented on #54003
Of course it's not as bad - only one of these is unsound.

[2018-09-09 13:13] PaulGrandperrin commented on #50318
Hi, I know specialization is very experimental and is getting a lot of changes, so it is really not important to fix the issue mentioned here.
But I think it would be nice to assign this issue a "A-Specialization" or "A-Inference" label to be able to easily find it again later as a test-case.
CC @nikomatsakis
Or don't hesitate to close if this test-case has no significant value.

[2018-09-09 13:13] arielb1 commented on #18785
In that case, I don't think there's a bug everywhere outside of rustc - the code before xpSCCP is semantically equivalent to the code after it, and the recursive call removal occurs only because we lack `@llvm.sideffect`.

[2018-09-09 13:17] Centril commented on #49441
I for one really want to take the opportunity to fix this glaring and large hole in the language in Rust 2018.

We fixed the anon types in traits and made it a hard error in 2018 not too long ago, so I think we should be able to do the same with this. We have different people doing different things; so I can for example work on the documentation side of this in the edition guide.

I don't think it

[2018-09-09 13:29] ZhongCitizen opened #54081 "The name abi_blacklist is offensive!"
Too many abi_blacklist, we should change it to abi_blocklist.

Reference:   https://twitter.com/andrestaltz/status/1030200563802230786

Software development still has a lot of terminology with a racist or patriarchal background. Let's change that.

- Blacklist ➡ Denylist
- Whitelist ➡ Allowlist
- Killer app ➡ Beloved app
- Master/slave ➡ primary/replica

Some related code:
https://github.com/rust-

[2018-09-09 13:33] matthiaskrgr opened #54082 "ICE: trait impl with anonymous lifetime"
cargo.toml
[code]

src/main.rs
[code]

src/a.rs
[code]
[code]

[2018-09-09 13:34] estebank commented on #53840
@pramodbisht that would be great!

[2018-09-09 13:58] Mark-Simulacrum commented on #49441
Yes, I don't think it's necessarily too late for lints to be added. However, we don't (I believe) have a great story for "migration" post-migration today which could be a blocker there - I'd want to see this lint as rustfix-able on both 2015 and 2018 codebases for those who migrate early (as we're asking them to).

[2018-09-09 14:00] Manishearth commented on #49441
Honestly I feel like a month is not enough time for this. I worked on the
migration of a lot of the other edition breakages, and invariably it
involved a LOT more work than anticipated. Nobody was on the same page,
nobody had thought through the migration process, and there wasn't compiler
dev input on the feasibility of the lints (let alone on the feasibility of
emitting machine applicable sugges

[2018-09-09 14:04] csmoe commented on #54077
thanks, but it's a rust-www issue, please report there.
https://github.com/rust-lang/rust-www

[2018-09-09 14:04] #54077 closed

[2018-09-09 14:12] mjbshaw commented on #54059
To give some bounds on this: the `objrs` crate compiles with `rustc 1.30.0-nightly (b2028828d 2018-08-16)`. It fails with `rustc 1.30.0-nightly (fc81e3624 2018-09-07)`. I would bisect this with rustup to determine which nightly the issue started with, but [rls's failing build means that rustup can't install nightlies for many of the days in that range](https://github.com/rust-lang-nursery/rls/issu

[2018-09-09 14:15] csmoe commented on #54081
cc https://www.rust-lang.org/en-US/conduct.html

[2018-09-09 14:15] #54081 closed

[2018-09-09 14:19] nikomatsakis opened #54083 "compilation time hit from recent PR"
Sadly, https://github.com/rust-lang/rust/pull/53949 seems to have been [very bad for compilation times](https://perf.rust-lang.org/compare.html?start=0198a1ea45e29af00d92423aa6d2ac876410c3f9&end=004bc5a33cd44cd0896cae917a75488579126da5&stat=instructions%3Au). I think we have to back it out until we find a way to do it more efficiently. :(

cc @estebank

[2018-09-09 14:30] mjbshaw commented on #54059
Derp, I just remembered I could remove the `rls-preview` component. Okay, doing that, I was able to bisect the nightlies:

Last working version: `rustc 1.30.0-nightly (7061b2775 2018-08-28)`
First failing version: `rustc 1.30.0-nightly (02cb8f2a4 2018-08-29)`

[2018-09-09 15:01] di3663 commented on #54053
I mean how can I execute a console program(of courses not hidden) when "windows" subsystem enabled if this is normal result should be (console hidden) on windows.

Yes, when "windows" subsystem enabled, sunprocess spawned with std::process::Command will not show it's console.

[2018-09-09 15:02] eddyb commented on #49441
But does it *really* need to be? What I want to do is figure out a way to measure the breakage. I suspect it's not as bad in practice (I already implemented the second half - the "reverse WF" - and I'm working on getting it up as a PR).

For the record, up to this point I haven't been informed about any *requirement* of automatic migration wrt the edition, for anything that's not universally used.

[2018-09-09 15:02] PramodBisht commented on #53840
@estebank if we collect them first and then emit once then there can be a case where the diagnostic order is different from the present state. Is that okay?

[2018-09-09 15:03] di3663 commented on #54053
thanks for your replies.

[2018-09-09 15:05] Manishearth commented on #49441
I'm pretty sure smooth migration was required in the edition RFC.

If it's uncommon enough that you wouldn't need migration lints, then you
won't need the edition _anyway_, we break stuff like this via future
incompatibility lints all the time. Then it's best to postpone this till
after the edition when folks have more time.

On Sun, Sep 9, 2018, 8:32 PM Eduard-Mihai Burtescu <notifications@github

[2018-09-09 15:12] eddyb commented on #49441
@Manishearth The problem is that while it breaks *somewhat* rare, it breaks *hard*.
It's not rarely used code that does the things being broken, but commonly used code, just *rarely so*.

`serde`, for example, has one or two errors on #54033, that are *trivially* fixable (the error tells you to add a trait bound) - but we *can't really* break the entire ecosystem like that.

[2018-09-09 15:30] Manishearth commented on #49441
If it's too big to break via future incompatibility, then you need good
migration lints, and both I and eddyb are saying that there are issues with
the implementation of those. The lang team isn't really the bottleneck here.

Feel free to discuss it, but _please_ loop in the actual implementors
(eddyb?) during the decision, a lot of the past issues around edition
migration was a lack of communicat

[2018-09-09 15:40] Centril commented on #49441
Hopefully eddyb is in that meeting =P

Important things involving breakage?

My view is that we should try to fix inconsistencies earlier rather than later because delaying it will just make the problem worse; in addition, delaying it also adds more technical debt -- I'd rather aim for having incrementally less and less breakage each edition because problems were fixed early, instead of spreading

[2018-09-09 15:42] Manishearth commented on #49441
Talking more with eddyb there's a chance that we _may_ be able to get away
with this with a very basic suggestion if we use crater runs, fix the
crates we find, and use the edition mechanism.

Its likely this only turns up in a couple large, common crates. Which is
perfect for the edition mechanism since we can just fix it and the old
versions still work.

[2018-09-09 15:53] estebank commented on #53840
That should be fine.

[2018-09-09 16:05] GuillaumeGomez opened #54084 "Remove crate name before keyword"
It seems weird to have `std::const` for example.

[2018-09-09 16:09] #48187 closed

[2018-09-09 16:52] Kixunil commented on #49137
@eddyb Could you give an example of weird inconsistency that might happen? People can already shoot themselves in the foot in unsafe code. I don't see a problem with careful use of `unsafe` when it's really needed.

Why? If LLVM can optimize some functions, what's preventing it from optimizing other functions?

Why one const fn works in miri but not other const fn?

would using `&mut MaybeUninitia

[2018-09-09 17:15] petrochenkov commented on #53481
Fixed in https://github.com/rust-lang/rust/pull/54086

[2018-09-09 17:26] eddyb commented on #49441
Turns out we have a bit of a problem (e.g. all 30 errors from `owning_ref` are like this):
[code]
It's subtle, but there's an implicit `T: Sized`, and if we were able to correctly check type aliases, `Foo<u8>` would compile but `Foo<str>` *wouldn't*. But we can't, and currently, both are allowed.

So my checks that `Foo<T>` and `Box<T>` have equivalent requirements (correctly) catch the currently-

[2018-09-09 17:34] Manishearth commented on #49441
How would you handle `type Foo<T> = (T, u8)` with the implicit bound? If that changes, how do we migrate that?

[2018-09-09 17:45] eddyb commented on #49441
@Manishearth If we leave it implied, that pretty much just means we keep the current behavior where only the type matters, not declared bounds, but specifically wrt `Sized`.
In your case, it'd mean `T` must be `Sized`, but for `type Foo<T> = Box<T>;`, it wouldn't.

[2018-09-09 18:02] retep007 commented on #53920
Possibly related to https://github.com/rust-lang/rust/issues/53468

[2018-09-09 18:06] eddyb commented on #44075
For the record, *it's actually easy*. This is what it looks like on the current compiler:
[code]

Of course, proper reporting is more work, but it's a shame we didn't figure out we can do these checks, in the first place, last year, instead of so close to the edition release (https://github.com/rust-lang/rust/issues/49441#issuecomment-414470068).

[2018-09-09 18:08] matthiaskrgr commented on #54082
turns out the the single_use_lifetimes lint is unrelated, I reduced the code a bit more and updated the heading-

[2018-09-09 19:12] michaelwoerister commented on #54083
Woooooooooooooooooooooowwwwww!! `:)`

[2018-09-09 19:17] michaelwoerister opened #54089 "Make the codegen treat inline fns the same as regular fns in non-opt builds"
See https://github.com/rust-lang/rust/pull/53963#issuecomment-419472343 and following. There's no need to create private duplicates of `#[inline]` functions in debug builds, since we don't even run an inlining pass there.

[2018-09-09 19:40] jebrosen commented on #54001
Note that the "nightly" documentation has the correct information, see https://doc.rust-lang.org/nightly/std/primitive.u64.html#method.to_be_bytes

[2018-09-09 19:40] pferrarezi commented on #44787
I just had this issue on Windows 10 x86_64, with both Visual Studio 2017 and C++ tools for cmake installed.
I solved it by installing [chocolatey](https://chocolatey.org/).
And then installing [Rust Visual Studio ABI](https://chocolatey.org/search?q=rust) by running on terminal:
 `choco install rust-ms`

[2018-09-09 21:20] matthiaskrgr opened #54091 "fn trivial-casts: String.to_string()"
[code]
Currently there is no warning emitted at all.
`rustc 1.30.0-nightly (0198a1ea4 2018-09-08)`

[2018-09-09 21:30] estebank commented on #54083
I feel like I deserve some kind of badge for this ^_^

I'm pretty sure that the [check for margins in every close delimiter](https://github.com/rust-lang/rust/pull/53949/files#diff-1a14c281236eed1dcb52dd68eb43cc7eR94) is to blame. This could be moved to instead collect all the matching delimiter spans and check the left padding _only in the case of mismatched braces_. This should fix the performan

[2018-09-09 21:30] sfackler commented on #54001
Yep, the docs linked in the original post are for the stable release which does not contain the rename.

[2018-09-09 21:30] #54001 closed

[2018-09-09 23:48] matthiaskrgr commented on #54091
I'll try to make this a clippy lint...

[2018-09-09 23:48] #54091 closed

[2018-09-10 01:55] michaelwu opened #54094 "Functions pointers with associated type parameters can't cast to pointers"
[code]

([Playground](https://play.rust-lang.org/?gist=0803ae70e4f8848bf10d3f11174600cc&version=nightly&mode=debug&edition=2015))

Errors:

[code]

Seems like this should work.

[2018-09-10 03:46] ehuss commented on #49803
This is now available on nightly (documentation [here](https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#metabuild)).  Some things that probably should be decided before stabilizing:

- Should there be a structured way to pass metadata directly to the script so it doesn't need to parse the manifest?
- Should there be a more explicit way indicate errors?
- How should `cargo metadata`

[2018-09-10 03:58] SergioBenitez commented on #50297
Happy to expand on that, @djrenren.

#### The Problem

The current implementation makes it impossible, without workarounds or test runner intervention, to write tests that are intended to be run by different runners in a single crate. For example, consider a crate that would like to use both `quickcheck` and `criterion`:

[code]

Under the current plan, this would expand to:

[code]

To run these

[2018-09-10 05:52] CAD97 commented on #50297
I like the idea of `#[test_case(quickcheck::run)]`. Just to strawman out an idea that would allow for running multiple test runners in one go:

[code]

`cargo-test` would allow running specific tests filtering as normal, but also allow filtering by runner if you, say, only wanted to run the `criterion` benchmarks, or wanted to exclude them from your normal test. (For that matter, maybe the same tr

[2018-09-10 07:06] t-milan opened #54096 "binary_search performing more comparisons than necessary"
[code]
gives
[code]

[2018-09-10 08:47] pietroalbini commented on #54045
cc @Mark-Simulacrum @rust-lang/compiler

Beta promotion to stable should happen today...

[2018-09-10 09:17] eddyb commented on #54045
Ideally, the HIR would be nested in such a way that the lints implicitly apply to the existential.

[2018-09-10 09:59] qwerty19106 opened #54098 "Regression in #![feature(const_let)]"
The proof source `main.rs`:
[code]

I compiled it and got this error:
[code]

IMPORTANT! The above code contains #![feature(const_let)] already.
[code]

[2018-09-10 10:15] dhardy commented on #40543
Why rely on Clippy here? As I understand it, Clippy is primarily about style and succinctness, not correctness. If someone is assigning to a temporary field that is very likely incorrect code.

[2018-09-10 10:34] oli-obk commented on #54045
for that we'd either need some form of anonymous modules that fill their items into the outer module, or we'd move the existential type item into the function body (which you were explicitly against), or we'd add a `hir::TyKind::Item` which contains an actual `hir::Item`

[2018-09-10 11:04] CasualX commented on #42966
This issue looks resolved? The error no longer occurs when I try my example in the playground.

However I've no idea when, why or what caused the issue. Can anyone confirm as fixed?

[2018-09-10 11:05] eddyb commented on #54094
Huh, what if you cast it to `fn(_)`? That works, right?

[2018-09-10 11:06] eddyb opened #54099 "warning: type `__` should have a camel case name such as `CamelCase`"
A type with the name `_X` doesn't get a warning, but `__` does.

[2018-09-10 11:07] CasualX commented on #37685
This issue looks resolved? I can no longer reproduce the error in my example in the playground.

[2018-09-10 12:07] ishitatsuyuki commented on #54096
At a quick glance I think this is because it performs ordering comparison as well as equal comparison as two distinct operations. Can you try to differentiate them?

[2018-09-10 12:54] Lythenas opened #54100 "Compiler panics when documenting sub-crate with links to types of super-crate on latest nightly"
When I run `cargo doc` on [this repo](https://github.com/Lythenas/rust-orgmode) (branch refactor-datatypes) I receive an internal compiler error.

Everything works fine on stable (`cargo +stable doc`). Also everything works if I remove the links in the doc comments.

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2018-09-10 13:29] PramodBisht commented on #53359
I think now this can be closed!

[2018-09-10 13:29] #53359 closed

[2018-09-10 13:31] oli-obk commented on #53818
you can just make them match ;) Add all the annotations you need to make the test pass. Whenever someone changes your test, because they fixed other bugs or implemented new features, they'll hopefully look at the comment about the fact that the test should never succeed to compile.