[2020-04-15 16:14] pnkfelix commented on #64260
I already accidentally wrote a note on the related RFC (https://github.com/rust-lang/rfcs/pull/2757#issuecomment-614126309); I just wanted to chime in saying that I have independently encountered the scenario outlined by @U007D [up above](https://github.com/rust-lang/rust/issues/64260#issuecomment-578509401), and that indicates to me that we should consider making `bool::then` take an `FnOnce() ->

[2020-04-15 16:21] mandreyel commented on #71055
@retep998 Thanks for the clarification. In that case this could indeed be implemented for Windows as well.

I suppose the next step would be an RFC?

[2020-04-15 16:22] ecstatic-morse commented on #49146
Constant propagation is a good analogy though. It's another dataflow problem whose transfer function can't be expressed with gen/kill sets, which don't handle copying state between variables. However, constant propagation needs to store the actual value of each variable, but const-checking only needs to store a single bit indicating whether that variable has a custom `Drop` impl or is not `Freeze`

[2020-04-15 16:30] oli-obk commented on #49146
Furthermore, `const X: Option<Foo> = None;` compiles since 1.0, everything else is just a natural extension from that with the new features that const eval has gained.

[2020-04-15 16:40] samrat commented on #71129
@vakaras Since the methods you reference in the issue description are added in #70598, I'm curious-- is there a specific reason to do this refactoring on top of that PR? I was planning on working off of `master` otherwise.

[2020-04-15 16:43] Xaeroxe commented on #44095
At this moment I don't see any reason to go with a range based clamp. Yes, let's add the must_use attribute and work towards stabilization.

[2020-04-15 16:47] varkor commented on #64260
It indicates to me that, if this is such a common scenario, we ought to have a third method to avoid `.flatten()`. However, part of the motivation for these combinators is to avoid having to write `Some` everywhere, which would no longer be the case if the combinators return `Option<T>`.

[2020-04-15 17:07] vakaras commented on #71129
@samrat I would suggest for you to work on top of `master` because it is not clear if that PR will land before you finish your changes.

[2020-04-15 17:56] hdevalke commented on #62208
@michaelsproul no problem if you want to do it, most of the code I wrote was inspired by the implementation of [`TakeWhile`](https://github.com/rust-lang/rust/blob/a5fb9ae5b2ed3cb011ada9dc1e8633aa0927f279/src/libcore/iter/adapters/mod.rs#L1710).

[2020-04-15 18:16] dtolnay commented on #70758
We should consider that this is exactly what ["discarding ownership"](https://blog.rust-lang.org/2017/03/02/lang-ergonomics.html#ideas-implied-borrows) is intended to address. Rather than being super generic as Simon pointed out this can damage type inference, there's nothing wrong with allowing `buf.fill(1)` at the call site even with the non-generic `&T` argument type. In a "discarding ownership

[2020-04-15 18:18] spastorino commented on #70917
Removed nomination as per [pre-triage discussions](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/pre-meeting.20triage.202020-04-16.20.2354818/near/194205565). This was already discussed on last compiler meeting and we'll probably again tomorrow because it's an unassigned regression.

[2020-04-15 18:25] cuviper commented on #70758
FWIW, this is true of slice `contains` too, requiring examples like `v.contains(&30)`.

[2020-04-15 18:33] piegamesde commented on #62965
Until this is resolved: would transmuting from a version of the structs where all fields are `MaybeUninit` be defined behavior?

[code]

[2020-04-15 18:37] tspiteri commented on #32104
With this feature, would it also be possible to link to a file included in the crate inside the `doc(html_root_url)` attribute?

[2020-04-15 18:38] thomcc commented on #62965
Only if the type is `#[repr(C)]`, and even then I'm not sure.

[2020-04-15 18:58] estebank commented on #55779
The issue is here

https://github.com/rust-lang/rust/blob/124144704fa5d3f08563430d5c24abb23da24423/src/librustc_middle/ty/print/pretty.rs#L296-L303

Removing the `!span.is_dummy()` check makes the repro case compile successfully, but it degrades some existing test output:

[code]

an example of the changes:

[code]

I'll see what can be done.

[2020-04-15 19:38] SimonSapin commented on #70758
Consistency with `contains` plus the possibility of that borrowing becoming implicit in the future with discarding ownership sounds convincing to me for having `fill` take `&T`.

[2020-04-15 19:51] retep998 commented on #53014
`/bigobj` is a *compiler* option. The error we're getting is a linker error.

[2020-04-15 20:00] ollie27 commented on #70758
`vec![x; n]` takes `T` by value so I would argue for consistency `fill` should as well. The main advantage is that it only needs `n - 1` calls to `clone()`.

[2020-04-15 20:02] SimonSapin commented on #70758
The motivation for having `fill` in the first place is the cases where it optimizes to `memset`, so I feel that saving one `.clone()` is not a priority.

[2020-04-15 20:08] jkugelman commented on #31436
I thought I could use try blocks to easily add context to errors, but no luck so far.

I wrote a small function that works fine. Notice that `File::open()?` fails with a `std::io::Error` while the following line fails with an [`anyhow::Error`](https://docs.rs/anyhow/1.0.8/anyhow/struct.Error.html). Despite the differing types, the compiler figures out how to convert both to a `Result<_, anyhow::Er

[2020-04-15 20:20] dralley commented on #27800
Is there still any discussion about deprecating ```std::sync::mpsc``` in favor of something based on ```crossbeam-channel```?  I haven't seen any discussion since just after the blog post came out.

[2020-04-15 20:20] Duddino commented on #71150
@rustbot claim

[2020-04-15 20:27] lily-commure opened #71176 "GAT ICEs: different parameter counts, cat_expr Errd, broken MIR, debuginfo"
The following code produces four separate ICEs, including the known #68648.  The behavior is different between release and debug mode.

### Code

[Playground link](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=f65cb5297fbe6a74e65e40fcba511885)

[code]

### Meta

(Environment is the Rust Playground)

[code]

### Error output

<details><summary><strong>Release mode error

[2020-04-15 20:28] CAD97 commented on #31436
@jkugelman

Again,

(Also, you don't need to `Ok` your trailing expression in a `try` block (#70941).)

I think the fact that this continues to show up means that

- Before stabilization, `try` needs to support a type ascription (`try: Result<_,_> {` or whatever) or otherwise mitigate this issue,
- This definitely needs targeted diagnostics for when type inference of a `try` block fails, and
- We

[2020-04-15 20:57] Duddino commented on #71150
I managed to fix this particular issue by just manually checking if the argument is of type `std::pin::Pin<&mut Self>`, and if it is it returns `format!("self: {}", ty);` where ty is the type of the argument (in this case std::pin::Pin<&mut Self>). I'm not sure if there is a better way, I'm going to make a PR tomorrow, if anyone has a better solution, please tell me.

[2020-04-15 20:58] SimonSapin commented on #27800
`std::sync::mpsc` (or at least its public API) is here to stay since it’s `#[stable]`. At most we could make its usage emit deprecation warnings, but what positive outcome would that achieve? That would be to balance against ecosystem churn.

[2020-04-15 21:05] eddyb opened #71177 "libfmt_macros should be renamed to have a rustc_ prefix or moved into librustc_builtin_macros."
For historical reasons we have a crate that looks like it would be part of the standard library, but it's really just a parser for the implementation of `format_args!`.

cc @petrochenkov

[2020-04-15 21:15] Mark-Simulacrum commented on #71177
❤️ I would also deeply appreciate the removal/merge of this crate. It's what I always hit when trying to find the "real" formatting piece of the compiler, and it's essentially never what I want.

[2020-04-15 21:21] Mark-Simulacrum opened #71178 "Spam in PR comments about skipped builds"
In some PRs, though not all, we see 7 (!) skipped checks. These are annoying to scroll through.

<img width="759" alt="image" src="https://user-images.githubusercontent.com/5047365/79390205-4bd1e180-7f3d-11ea-8aab-2c0e15845fc1.png">

I don't think this is a blocker, but would be nice to see fixed. It's also concerning that there appears to be some non-determinism (the above output is from #71147,

[2020-04-15 21:27] steffahn commented on #71150
I’m not just interested in a fix for this particular case. Types that allow dispatch can be arbitrarily nested AFAIK and also I didn’t tag `F-arbitrary_self_types` for no reason - these can be extended. Furthermore the correct way to fix this is probably _not_ to just add code but rather to change ~existing logic that must be somewhere already, for example some code currently _does_ make `self`, `

[2020-04-15 21:28] jonhoo commented on #27800
@SimonSapin I read @dralley's proposal as replacing the internals, not the API, but could be wrong?

[2020-04-15 21:29] elichai commented on #71169
I assume this is the same as: https://play.rust-lang.org/?&gist=485702f1094102226682c7e28f1c848d
[code]

and: https://github.com/rust-lang/rust/issues/43408#issuecomment-391628161

[2020-04-15 21:31] Duddino commented on #71150
Makes sense as if I recall correctly (can't link files rn as I am on my phone) the code literally just checks if the type is (&/&mut)Self and if it is it prints (&/&mut)self otherwise it prints _: Type. A potential fix could be printing (&/&mut)self only if it's the first type of the function

[2020-04-15 21:38] steffahn commented on #71150
Won’t be enough. The first parameter of a trait fn could be of type `Self` without being named `self`. It actually needs to check if it’s a `self` parameter. That information should be retrievable _somewhere_ in the compiler. Furthermore then the rest is easy: First step: check if it’s a `self` parameter. If not: use `_ : {ty}`. If it however is on, then check for the type being `Self` or `&Self`

[2020-04-15 21:46] dralley commented on #27800
Not my proposal just to be clear, I'm just curious as to whether any action items had ever come out of that discussion.

[2020-04-15 21:54] mbrubeck commented on #65512
I have previously suggested adding `FromIterator` to the prelude. [Rationale here.](https://internals.rust-lang.org/t/pre-rfc-add-fromiterator-to-the-prelude/4324)

[2020-04-15 22:18] jendrikw commented on #44265
This would be a major step in emulation of higher-kinded types.

I'm imagining something like this:

[code]

[2020-04-15 22:58] #71114 closed

[2020-04-15 23:01] joshtriplett commented on #65512
I would love to see the following in an updated prelude:

- `Error`
- `TryInfo` and `TryFrom`
- `Path` and `PathBuf`
- `HashMap`, `HashSet`, `BTreeMap`, `BTreeSet`
- `File`

I've based these on things I see imported heavily, and some greps for commonly imported bits of `std` in various projects.

I'm also tempted to request `OsStr` and `OsString`.

[2020-04-15 23:10] RalfJung commented on #62965
With `repr(C)` those two structs have the same field order and offsets, so yes, that would be an option. But with the implicit `repr(Rust)`, the fields might be ordered differently.

[2020-04-15 23:50] Boscop commented on #64260
I think it makes sense to add this third method, and it could be called `and_then`.

[2020-04-16 00:20] eddyb commented on #55779
@estebank Just checking, did you see this? https://github.com/rust-lang/rust/issues/55779#issuecomment-450514323

I don't remember all the details but I found that comment after looking at the context around the code you linked, which seemed vaguely familiar.

[2020-04-16 00:26] steveklabnik commented on #30970
Triage: no idea what the status of this is.

[2020-04-16 00:53] CAD97 opened #71181 "Borrows of packed fields in const fn error for want of an unsafe block even when in an unsafe block"
### [Example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2d594bfb9c8e5b9e67b3bcfe5ff18cee)

[code]

### Error

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-04-16 02:10] #67377 closed

[2020-04-16 02:10] #70689 closed

[2020-04-16 02:10] #55553 closed

[2020-04-16 03:09] helinwang commented on #64496
I got error like
[code]
I don't believe adding type_length_limit helps, since I added a super big limit in `lib.rs` and the error persists:
[code]

[2020-04-16 04:18] AlexApps99 opened #71183 "Support commonly used markdown extensions"
These include:
- [ ] [Task list items](https://github.github.com/gfm/#task-list-items-extension-)
- [x] [Strikethrough](https://github.github.com/gfm/#strikethrough-extension-)
- [x] [Autolinks](https://github.github.com/gfm/#autolinks-extension-)

The reasoning for all of these extensions is that they all have wide use not just in GitHub, but in many applications of Markdown.

[2020-04-16 05:47] #71076 closed

[2020-04-16 05:47] #71077 closed

[2020-04-16 06:17] SimonSapin commented on #65512
@mbrubeck @joshtriplett Do you expect that adding those to `std::prelude::v1` for all editions would cause any breakage? If not, we shouldn’t make things edition-specific gratuitously and this is not the right thread to request additions.

[2020-04-16 06:28] petrochenkov commented on #71177
Unfortunately, `fmt_macros` is also used from `rustc_trait_selection` due to implementation of the `#[on_unimplemented]` attribute, and it's undesirable to introduce the dependency `rustc_builtin_macros` -> `rustc_trait_selection`.

Possible solutions:
- Keep it as a separate crate, rename to `rustc_parse_format`.
- Merge it into `rustc_parse` if it doesn't add extra dependencies (need to check).

[2020-04-16 06:54] RalfJung opened #71184 "GitHub Actions "tools" builder is broken"
In https://github.com/rust-lang/rust/pull/71173, the Azure "tools" PR builder succeeded, but the GHA "tools" builder failed twice because it considers rls and rustfmt broken, [saying](https://github.com/rust-lang/rust/runs/590568656)
[code]
Looks to me like something is wrong with the GHA builder.

Cc @pietroalbini

[2020-04-16 06:56] joshtriplett commented on #71183
I'm not sure if automatically creating `http://` links from domain names is a good idea, so if there's an option to disable that specifically I'd suggest it. The rest all seems fine to me.

[2020-04-16 06:57] RalfJung commented on #71181
Cc https://github.com/rust-lang/rust/issues/27060 (the entire "packed fields reference" situation is still rather sad, this is probably related)

[2020-04-16 07:00] RalfJung commented on #27060
I think the current status is that we still just warn about these references-to-packed-fields. And indeed adding `unsafe` doesn't actually help, it's still UB. What would help is stabilizing https://github.com/rust-lang/rust/issues/64490 and then slowly making the references a hard error.

@rust-lang/lang is that also your plan, and do you have a rough timescale for that?

[2020-04-16 07:19] RalfJung commented on #56098
I cannot reproduce the warning any more, it seems to be fixed.

However, I am not sure if there is a testcase for that.

[2020-04-16 07:46] CAD97 commented on #71181
#61365 is a similar "`unsafe` in `const fn`" issue where union field access had a similar unsatisfiable requirement for an `unsafe` block, but that one appears to have been incidentally fixed at some point.

[2020-04-16 07:49] petrochenkov commented on #65865
Another option is to do "check-run-results" automatically for all `run-*` tests and create the `.run.stderr` / `.run.stdout` files only if the output is not empty.

[2020-04-16 07:49] CAD97 commented on #71181
@rustbot modify labels: +A-const-fn +T-compiler

[2020-04-16 07:53] Duddino commented on #71150
Another issue related to this is when you have a function that has a signature of `fn name(whatever: &Self);` The compiler suggests to implement the function using `fn name(&self){ todo!() };`, but that doesn't work

[2020-04-16 08:05] CAD97 commented on #27060
I hope you mean a hard error when not in an `unsafe` block? (Though I could potentially see emitting a warning even in `unsafe` blocks, because of how easily problematic it can be.) If we _do_ want to make it an error even in `unsafe` blocks, we definitely need `&raw` sooner rather than later so we can start linting against it there as well.

It can be sound to take a reference to a packed member

[2020-04-16 08:07] comex commented on #27060
Strawman: Create an `Unaligned<T>` type; deprecate `#[repr(packed)]` in favor of `Unaligned<T>` plus `#[repr(C)]`.

[2020-04-16 08:24] RalfJung commented on #27060
It is UB even in unsafe blocks. So whether or not there is an unsafe block should make no difference.

The current check already takes that into account, I think.

[2020-04-16 08:25] GopherJ opened #71186 "libtest bench async/await support"
can libtest offer `b.iter_async` to make it possible to run async functions?

[code]

because it seems if we are using `aynsc_std::task::block_on` or other runtime, that may influence the result

[2020-04-16 08:37] comex commented on #27060
Using `packed` for this seems a bit hacky.  After all, if you do a direct load or store of one of the fields, LLVM will generate an unaligned load even though, according to you, everything is actually properly aligned.  In theory that could have a performance cost; in practice, maybe not, but the mismatch suggests that it's not the ideal solution for your use case.

Perhaps there should be a way t

[2020-04-16 08:49] domenukk opened #71187 "List from_be_bytes as Alternative in Transmute Docs"
Many code bases I see use `transmute` to convert raw bytes (`&[u8]`) to `u32`, `f64`, etc. - while they could, and probably should, use `from_le_bytes` or `from_be_bytes`.
The `transmute` docs include a lengthy section about Alternatives, but this obvious one seems to be missing.

[2020-04-16 08:50] RalfJung commented on #27060
It's not, though. The struct itself could be insufficiently aligned. `repr(packed)` sets the required alignment of the struct to `1`, which is the only reason it can leave away trailing padding.

So @CAD97 I think your code is actually wrong.

That's fair. However, my main concern in this issue is to plug the existing soundness hole -- that seems at least mostly orthogonal to developing more ergon

[2020-04-16 09:09] comex commented on #27060
My guess is that @CAD97 manually ensured their packed struct would be placed at an aligned address, by embedding it in a higher-aligned struct or something like that.

[2020-04-16 09:13] RalfJung commented on #27060
That's possible, but then it seems entirely reasonable that you need to add some `unsafe` to promise that you got this right... it's non-trivial.

[2020-04-16 09:13] #71110 closed

[2020-04-16 09:32] alecmocatta commented on #71055
Positional reading/writing on Windows has the unfortunate effect of modifying the file offset cursor. IIRC the [`positioned-io`](https://github.com/vasi/positioned-io/tree/positioned-io-preview) crate has either of two workarounds: storing the cursor explicitly, or using a temporary memory mapping to read data rather than `FileExt::seek_read`.

[2020-04-16 09:55] kinnison commented on #71144
Is there ever a case where traits are the primary interface to a type?  In that context it probably makes sense to include `A::whatever` in the index.

[2020-04-16 10:11] eddyb commented on #69060
IIUC, the last 3 points horizontally (on both black and blue lines) are post-https://github.com/rust-lang/rustc-perf/pull/645:
(looks pretty flat to me)
![image](https://user-images.githubusercontent.com/77424/79444224-9443da80-7fe3-11ea-8031-1106d58d37bf.png)

[2020-04-16 10:40] retep998 commented on #27060
Having to use `Unaligned<T>` would be pretty atrocious in FFI bindings. Large structs full of fields would need every single field's type wrapped in `Unaligned<T>`, and if it was conditional based on something like architecture you'd end up with duplication...

[2020-04-16 10:42] jonas-schievink commented on #71186
Which executor would `iter_async` use? Why is it better than the one in `async-std`?

[2020-04-16 10:45] eddyb commented on #69060
We're not out of the water yet, [this perf diff](https://perf.rust-lang.org/compare.html?start=d2230290f7220e740ec08f4d844bf5951e1b74b8&end=ce1ab355c27faa84f984b15800cd6a65e674b9f2&stat=instructions:u) has a bunch of query count differences (42 for the top ones, `syn-opt` itself looks to be 112) and I'm not sure why it would.

Nothing in https://github.com/rust-lang/rust/compare/d2230290f7220e740e

[2020-04-16 10:45] bitshifter commented on #27060
`repr(packed(n))` supports alignments other than 1, so any `Unaligned<T>` would need to take an alignment value to have feature parity with `repr(packed)`.

[2020-04-16 10:51] Mark-Simulacrum commented on #71184
This is almost certainly not spurious - rustfmt likely needs to update it's version of the autopublished rustc_session crate. I can take a look today at doing so.

[2020-04-16 11:05] RalfJung commented on #71184
Well, it works fine on the Azure runners though (and the PR landed now).

[2020-04-16 11:10] RalfJung commented on #71184
But also  #71159 landed in the mean time... but when the Azure runner ran I don't think it had landed already.

[2020-04-16 11:38] oli-obk commented on #54366
While attempting to fix #70685 I got all of our tests to pass, except for https://github.com/rust-lang/rust/blob/master/src/test/ui/nll/borrowck-thread-local-static-mut-borrow-outlives-fn.rs which references this issue. I have reinstated the current behaviour, but the site of the required change that I suggested above has changed. It's now in the `Rvalue::ty` method.

[2020-04-16 11:56] GuillaumeGomez commented on #71144
I think it makes sense most of the time. I'm just exploring new leads to reduce `search-index.js` size. At some time, we might convert it to wasm. To be tested as well.

[2020-04-16 11:57] GuillaumeGomez commented on #56545
I had the same issue when opening the page... Any idea to reduce the size of this file is very welcome. I opened #71144 recently but not sure we'll go forward with it considering it'd reduce the search usefulness. An idea I had was to rely on wasm. I need to investigate it too.

[2020-04-16 11:59] GuillaumeGomez commented on #71183
Just like @joshtriplett said for **Autolinks**. I'm also not sure to see the point of the **task list one**. However, adding **strikethrough** would be nice.

[2020-04-16 12:00] GuillaumeGomez commented on #55900
Little update: I think I'll investigate wasm at some point and see if it improves the situation. But first, I want to check if there is a way to improve how we store the information in the `search-index.js` file.

[2020-04-16 12:01] RalfJung opened #71193 "Miri: rename "undef" -> "uninit""
For historic reasons, Miri calls uninitialized memory and the value that you get when reading it "undef(ined)". This is potentially derived from LLVM `undef`. However, that is actually a misnomer -- Miri's "undef" is much more like LLVM's `poison`. Also, the docs and user-visible message usually speak about "uninitialized memory/values", and I think that terminology makes much more sense.

We shou

[2020-04-16 12:08] RalfJung opened #71194 "Miri: refactor handling of "uncanonical" AllocIds"
There are (at least) two situations where Miri uses a different `AllocId` for allocations than would be used in already created "global" allocations:
* `extern static` are supported by mapping them to another, existing allocation.
* TLS statics need a different `AllocId` for each thread.

Currently both of these use different systems, and the `extern static` system has some disadvantages like not

[2020-04-16 12:10] RalfJung commented on #71194
Also I noted `const_eval` and `eval_const_to_op` are somewhat confusingly named in Miri. And `const_eval` has a suboptimal interface; @oli-obk can we avoid having to pass the `ty` and somehow compute that from the `gid`?

[2020-04-16 12:10] pietroalbini commented on #71184
I'm pretty sure that's because GHA is using a fork of the toolstate repository in my own account, and updating the data is still broken. Let's see if it turns green once I update my fork.

[2020-04-16 12:12] Mark-Simulacrum commented on #71184
Ah, yeah, that could explain it. Both the Azure and GHA builds failed the exact same way, just GHA considered that a regression (so it failed, as we're in beta week).

[2020-04-16 12:13] pietroalbini commented on #71184
Updated the fork, let's see if it works now.

[2020-04-16 12:15] pietroalbini opened #71195 "Master builder on GHA is failing"
The master builder on GHA is failing with:

[code]

I haven't investigated yet why that's failing.

[2020-04-16 12:15] pietroalbini commented on #71184
Opened https://github.com/rust-lang/rust/issues/71195 to track master failing.

[2020-04-16 12:18] Duddino commented on #71155
@rustbot claim

[2020-04-16 12:25] ollie27 commented on #56545
It might help to convert `search-index.js` into a plain JSON file. I'm pretty sure that `JSON.parse` is significantly faster than trying to compile and execute JavaScript code.

[2020-04-16 12:25] Mark-Simulacrum commented on #71195
The TOOLSTATE_ISSUES_API_URL env variable is getting set to https://api.github.com/repos/rust-lang/rust/issues on azure but just https://api.github.com/repos/pietroalbini/rust-toolstate/issues on GHA.

That won't work as we concatenate `/{}/comments` onto that URL where `{}` is replaced with the PR number (and you don't have ~71k issues on your toolstate repo)

[2020-04-16 12:25] Duddino commented on #71155
Would it be fine if I modified https://github.com/rust-lang/rust/blob/master/src/librustc_parse/parser/diagnostics.rs#L1457-1476 and check if the `try` keyword is used, or is there another way to deprecate a macro

[2020-04-16 12:27] Alexendoo commented on #58987
Example in https://github.com/rust-lang/rust/issues/58987#issuecomment-483758765 no logner ICEs as of #70452

https://github.com/rust-lang/rust/issues/58987#issuecomment-485129849 still ICEs

[2020-04-16 12:31] hsivonen commented on #49897
These were added in #49902.

[2020-04-16 12:31] #49897 closed

[2020-04-16 12:31] Mark-Simulacrum commented on #71186
I think this is major enough that we would need an RFC for it; it essentially means offering some executor in std/test. I suspect, though could also be wrong, that in particular for benchmarking that could be a bad idea (since you'd be benchmarking at least partially your executor, and std's is unlikely to be best-in-class for your specific problem).

[2020-04-16 12:32] #71186 closed

[2020-04-16 12:34] RalfJung commented on #71194
Also I wonder what it would take to avoid layering violations like https://github.com/rust-lang/miri/pull/1284/files#r409513235 (Cc @vakaras). Maybe Miri's `const_eval` should not already to `eval_const_to_op` (then it would not need a `ty` any more either) and instead return both a `ConstValue` *and* the `AllocId` backing that value?

Also proposed new name for `eval_const_to_op` would be just `c

[2020-04-16 12:36] ollie27 commented on #55900
I think this issue should be closed. The original regression caused by #51885 has long since been fixed by #61505. I think we can track specific performance problems in dedicated issues like #56545.

[2020-04-16 12:38] Dylan-DPC opened #71196 "Wrong suggestion of using `+ static` instead of `<'static>` for unions"
Someone had this problem on discord, so creating an issue:

[code]

Rust suggests you to:
[code]

instead it should suggest to use `Test<'static>` and not `<Test + 'static>`

[playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d6a5bd29f891cd5f8621c6fef37c1f95)

[2020-04-16 13:14] huangjiahua commented on #71187
@domenukk I've used `from_le_bytes` and `from_be_bytes` several times in my little project. I want to have a try. Will this code snippet work?
[code]

[2020-04-16 13:19] Ekleog commented on #40174
There are likely much better solutions, but… I've just come across https://github.com/dtolnay/watt ; and… would integrating this into rustc as a secondary backend for use only on platforms where regular proc macros aren't supported be a solution? It wouldn't support all the use cases I think, due to regular proc macros being allowed to eg. interact with the FS, but it should already support a numb

[2020-04-16 13:44] mati865 commented on #40174
@Ekleog is it still an issue after https://github.com/rust-lang/rust/pull/69519?

[2020-04-16 14:04] Mark-Simulacrum commented on #71152
Interesting. Ideally we'd have two separate caches for rustc_llvm and the other crates such that x.py check doesn't affect this... I think.

[2020-04-16 14:30] ljedrz commented on #50928
It appears that some of the remaining progress is blocked on https://github.com/rust-lang/rust/issues/71104.

[2020-04-16 14:42] nikomatsakis commented on #70314
@petrochenkov do you think you'd have time to investigate this regression?

[2020-04-16 14:42] burtonageo opened #71202 "ICE when using const evaluation"
### Code

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8ab924f2417ddc6eee686e4a10ea6558)

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-04-16 15:01] mark-i-m commented on #50928
I think @marmeladema and @eddyb were working on stuff with `LocalDefId`s (#70909) and I have a WIP PR that adds a few more `hir::DefKind`s (#70043)

[2020-04-16 15:06] ollie27 commented on #70758
What would be the advantage to taking `&T` as opposed to `T` by-value?

[2020-04-16 15:09] kinnison commented on #71144
Could we load the search index in the background instead?

[2020-04-16 15:12] cuviper commented on #70758
`&T` lets you borrow an existing value without manually cloning it, including the slight advantage of creating no clones at all for the degenerate case of an empty slice.

[2020-04-16 15:23] SimonSapin commented on #47336
@rust-lang/libs Any thoughts on `Rc::into_raw_non_null` and `Arc::into_raw_non_null`?

[2020-04-16 15:37] nikomatsakis commented on #47809
@anp one thing I feel like I am missing is what the "scope" of this stabilization report covers. I'd like a kind of checklist of the new things that are possible now if we opt to stabilize.

I believe it is:

* `track_caller` can be placed on functions in all locations, and it will influence the results of the `Location` APIs and the output from panics and the like

but I am not sure whether the `

[2020-04-16 15:38] nikomatsakis commented on #49146
OK, I believe it makes sense to adopt the purely value-based option then.

[2020-04-16 15:39] nikomatsakis commented on #49146
I guess we can cover it in the meeting and report back =)

[2020-04-16 15:39] ollie27 commented on #70758
Without something like "discarding ownership" you would have to manually reference it instead.

With by-value we could avoid an extra clone in the likely common case where you no longer need the value and the slice isn't empty.

As far as consistency is concerned [`Vec::resize`](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.resize) also takes `T` by-value.

[2020-04-16 15:49] nikomatsakis commented on #31436
I suspect that the right behavior for try is

* extend the syntax to permit a manual ascription like `try: Result<_, _> { .. }`, `try as Result<>`, or whatever (I think `try: Result` is probably fine? it seems to be the preferred syntax)
* examine the "expected type" that comes from context -- if one is present, prefer that as the result type of a `try`
* otherwise, default to `Result<_, _>` -- th

[2020-04-16 15:55] cuviper commented on #70758
FWIW, I'm not firm on it being `&T` -- it seems pretty reasonable to argue that `fill` is more similar to `Vec::resize` than `slice::contains`.

[2020-04-16 16:05] nikomatsakis commented on #27060
My own personal take:

I am semi-convinced that we should "rethink" raw pointer syntax and try to adopt a new kind of pointer that is raw, non-null, and (probably?) doesn't make the `const/mut` distinction. @withoutboats was pitching `&unsafe` (and `&unsafe T`) as a possible syntax for this, and I don't hate that, though there are parsing ambiguities to consider (`&unsafe { 22 }` being legal synta

[2020-04-16 16:26] stormmq commented on #68532
Also just got this; no idea how to reproduce it and the trace doesn't seem useful:-

[code]

[2020-04-16 16:28] stormmq commented on #68532
If this is referring to the field `buffer`, it's defined as `buffer: [u8; Self::BufferCapacity],` where `BufferCapacity` is defined inside the impl as `const BufferCapacity: usize = 2048;`.

[2020-04-16 16:29] stormmq commented on #68532
Inlining `BufferCapacity` resolves the error, ie changing buffer's definition to `buffer: [u8; 2048]`.

[2020-04-16 16:29] estebank commented on #55779
@eddyb I'd seen that comment, but didn't grok the full meaning of it until I looked at this in more detail.

Is there any reason not to change the `if` to be `if !span.is_dummy() && !callers.contains(&def_id) `? [It seems to me that the entire point of `callers`](https://github.com/rust-lang/rust/blob/124144704fa5d3f08563430d5c24abb23da24423/src/librustc_middle/ty/print/pretty.rs#L333-L348) is pre

[2020-04-16 16:52] Dylan-DPC commented on #49802
@rustbot unassign

[2020-04-16 16:55] #55900 closed

[2020-04-16 16:58] steffahn opened #71209 "Misleading error message originating from the fact that closure types are not inferred being polymorphic over lifetimes. (And related errors in need of improvement.)"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b38bbf2da51154080363926cbb21143d))

Errors:

[code]
Well – “returns a value referencing data owned by the current function” – that’s just _not what is going on here_.

A bit less confusing but still suboptimal IMO are the errors you get when trying to use a closure truly polymorphically:
[code]

([Playgro

[2020-04-16 17:01] jonaskoelker opened #71210 "My program segfaults and/or aborts when I abuse generic_associated_types"
I tried this code:

[code]
(See also https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=05e8a880961163a517c92515c4edff7d)

When I feed this `main.rs` into `rustc` it happily gives me a `main` program. When I run said `main` program, I get `[1]    32118 segmentation fault (core dumped)  RUST_BACKTRACE=1 ./main` from `zsh`. (The `main` program also segfaults without `RUST_BACKT

[2020-04-16 17:19] Ekleog commented on #40174
@mati865 I'm not sure, I've pinged here following a message from IRC that said this happened just today -- don't know for sure the version of the compiler used, so I've just pinged them

[2020-04-16 17:40] petrochenkov commented on #70314
Looks like there's a minimized reproduction in https://github.com/rust-lang/rust/issues/70314#issuecomment-609503969, so yes, I'll try to look at this during this or next weekend.

[2020-04-16 17:44] petrochenkov commented on #71086
Looks like the encoding/decoding change from https://github.com/rust-lang/rust/pull/70215 needs to be reverted.
Reverting should be ok because `emit_unit` and `read_nil` don't do anything anyway (at least when inlined) during metadata encoding and decoding.

The change is trivial, so marking this as E-easy, but if it's not done until the weekend I'll submit the PR myself.

[2020-04-16 17:51] CAD97 commented on #27060
(Yes, my code code ensures the alignment of the packed structs by construction, with a kind of "placement new" that requires proper alignment, and never actually holding an instance of the type on the stack. `packed(N)` wouldn't be enough for this use case, as it includes a structure whose safety alignment is "8+4" (i.e. 4 but not 8), which is not expressible in the type system at all. [The code i

[2020-04-16 17:57] sanbox-irl commented on #71193
@rustbot claim

[2020-04-16 18:43] ecstatic-morse opened #71212 "Static checks for `&mut` in final value of constant with `#![feature(const_mut_refs)]`"
On stable, we prevent users from creating an `&mut` that points to memory inside a `const` by forbidding the creation of mutable references during const-eval. This limitation is only temporary, see #57349. We have a feature flag, `const_mut_refs`, that allows users to create mutable references, but no attempt is made to prevent `&mut` from escaping into the final value of a `const` [like so](https

[2020-04-16 18:43] anp commented on #47809
Good idea! I’ll work on that.

[2020-04-16 18:45] ecstatic-morse commented on #71212
`static mut` is also an interesting case. Should the following compile? I think so, although with my proposal the user would be forced to wrap the initializer of `FOO_MUT` in a `const fn`. This suggests to me that checking for `&mut` in the type of a `const` is not the correct solution.

[code]

[2020-04-16 18:47] ecstatic-morse commented on #71212
Label race XD

[2020-04-16 18:51] nikomatsakis commented on #70460
I'm removing the nomination since I think T-lang doesn't have anything else to say, and I don't think @rust-lang/libs has any objections.

@c3st7n, in terms of implementation work, do you know how to get started?

[2020-04-16 18:51] ecstatic-morse commented on #71212
cc @rust-lang/wg-const-eval @RalfJung

[2020-04-16 19:01] Dylan-DPC commented on #49802
@rustbot assign @Kixiron

[2020-04-16 19:11] scottmcm commented on #71033
I assume this would also be a stepping-stone to allowing `str` to become just `struct str([u8]);`?

@rfcbot reviewed

[2020-04-16 19:13] eddyb commented on #70917
Found where I introduced the breaking change: these were using `push_regions`:
* https://github.com/rust-lang/rust/blob/0d4705b0097a132cbb721095997d91090e8cdb21/src/librustc_middle/ty/outlives.rs#L175-L177
* https://github.com/rust-lang/rust/blob/0d4705b0097a132cbb721095997d91090e8cdb21/src/librustc_infer/infer/outlives/verify.rs#L155-L157

And `push_regions` was ignoring `ty::FnDef`'s substs: htt

[2020-04-16 19:15] coolreader18 opened #71213 "Tracking Issue for `wasi_ext`"
The feature gate for the issue is `#![feature(wasi_ext)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead, open a dedicated

[2020-04-16 19:25] joshtriplett commented on #66740
@withoutboats Those concerns seem reasonable to me, and worth considering. I do, in general, hope that the use cases currently served by `alloc` and `core` and `no_std` are in the future addressed by feature flags and custom compliations of `std`.

Do you believe that we should defer this pair of stabilizations in favor of a better solution?

[2020-04-16 19:33] pietroalbini commented on #71178
Reported this to GitHub, they'll look into it.

[2020-04-16 19:36] pietroalbini commented on #70995
Github enabled the paid subscription in the `rust-lang-ci` organization midway through this build, and that seems to have solved the problem. I'll close the issue when we have a graph with all the jobs starting at the same time.

![Screenshot_2020-04-16 Screenshot](https://user-images.githubusercontent.com/2299951/79498801-2b338580-802a-11ea-8201-017311358409.png)

[2020-04-16 19:39] RalfJung commented on #71117
Sure, why not?
This seems like MIR building might need some non-trivial adjustments.

Hm, I am somehow not seeing this as abuse for assignment... but this goes back to the discussion we had in the assignment issue.

That doesn't sound fine at all! When Miri and codegen differ like that, that is a critical soundness bug in either Miri or codegen.

---

The latest proposal by @jonas-schievink in htt

[2020-04-16 19:41] Dylan-DPC opened #71216 "Convert `search-index.js` into a plain JSON file."
_Originally posted by @ollie27 in https://github.com/rust-lang/rust/issues/56545#issuecomment-614619940_

Opening this issue to gain traction so that someone can work on it (Ready to mentor if possible)

cc @GuillaumeGomez

This issue has been assigned to @euclio via [this comment](https://github.com/rust-lang/rust/issues/71216#issuecomment-614900675).

[2020-04-16 19:42] joshtriplett commented on #65516
I think we should keep the ability to do this.

[2020-04-16 19:46] GuillaumeGomez commented on #56545
I think it's worth a try. I'll test it tomorrow.

[2020-04-16 19:47] scottmcm commented on #71033
Hmm, actually, we talked about this in the lang meeting and Josh checked and UTF-8 encoding units does have a niche that `11111xxx` is never used.  So one possibility would be to add a new `Utf8EncodingUnit` type with that as a validity invariant (like we have a validity invariant on `NonZeroU8), and say that `str` is a newtype over `[Utf8EncodingUnit]`.

However, this proposed change would preven

[2020-04-16 19:54] RalfJung commented on #68364
Inspired by https://github.com/rust-lang/rust/issues/71117 and https://github.com/rust-lang/miri/pull/1330, here is another possible semantics for MIR assignment `place = value`:
* Evaluate the `place` expression to a place value (i.e., a location).
* Retag the `place` to obtain a new tag with unique permission.
* Evaluate `value` expression to a value (i.e., an element of [this enum](https://gith

[2020-04-16 20:12] eddyb commented on #71033
@scottmcm Hmm, so `0xf8..=0xff` are invalid UTF-8 bytes?

I haven't tried it yet but this should work today:
[code]

I'm not sure if we can take advantage of this in any way, but it might be possible to force miri into validating it without any special-casing (just based on the validity range).

[2020-04-16 20:16] Nemo157 commented on #71033
Making even that guarantee would presumably make any use of [`str::as_bytes_mut`](https://doc.rust-lang.org/stable/std/primitive.str.html#method.as_bytes_mut) as UB as it probably is today (I believe that after the proposed changes it would become non-UB to use as long as you fix the bytes before the `&mut [u8]` is dropped, which is something that I would like to have code relying on).

[2020-04-16 20:17] RalfJung commented on #71033
Miri validates `rustc_layout_scalar_valid_range_end` without any extra work. But only by-value, not behind references.

[2020-04-16 20:18] SimonSapin commented on #71033
Can that niche ever be useful? `Option<str>` cannot exist since `str: !Sized`

[2020-04-16 20:27] RalfJung commented on #27060
I agree the entire area of raw pointers needs a lot of work. But I also would like to finally see this soundness hole closed. I am torn between not wanting to rush in an addition that we might regret later, and wanting to do *something* to guide people away from taking references to packed fields (which currently is blocked on there not being anything to guide them *to*). Maybe exposing `&raw` in

[2020-04-16 20:27] matklad commented on #65516
Given that there are already four comments saying "we should allow impls for types that are themselves nested", I feel it would be useful to repeat:

1. Obviously yes
2. The precise rule we want is "function body acts as a downstream crate from coherence point of view for trait impls; for inherent impls, only private visibility (scoped to block/function) is allowed".

[2020-04-16 20:32] SimonSapin commented on #71033
Correct. Those are `0b11111000..=0b11111111`, and per https://tools.ietf.org/html/rfc3629#section-3 all well-formed byte sequences are one of:

[code]

----

(For historical anecdote: Unicode is limited to U+0000..=U+10FFFF because of UTF-16, but the original design of UTF-8 supported up to U+7FFFFFFF (31 bits) with leading bytes `0xf8..=0xfd`: https://tools.ietf.org/html/rfc2279#section-2. I thin

[2020-04-16 20:33] GopherJ commented on #71186
@jonas-schievink I believe any executor can be used, I just don't want to create async runtime in bench iterator, because it will influence the result.

Instead of creating an async runtime in every bench iterator, why not create just one runtime and spawn tasks on it?

[2020-04-16 20:35] GopherJ commented on #71186
Or maybe bencher should be sperated into a crate so that we can use different runtime.

I found one but it's not maintained

[2020-04-16 21:00] euclio commented on #71216
I am willing to work on this.

[2020-04-16 21:06] AlexApps99 commented on #71183
Tasklist would be useful for things like this:

## Currently implemented:
- [x] Implemented thing
- [x] Some other implemented thing
- [ ] Unimplemented thing
- [ ] Some other unimplemented thing

or possibly in the crate root

## Supported features
- [x] Webhooks
- [x] Websockets
- [ ] Websites
- [ ] Other

[2020-04-16 21:07] Dylan-DPC commented on #71216
@euclio go ahead and run `@rustbot claim`.

if you have any issues feel free to ping me here or anywhere else

[2020-04-16 21:08] AlexApps99 commented on #71183
Another noteworthy extension to implement is this:
[Disallowed Raw HTML](https://github.github.com/gfm/#disallowed-raw-html-extension-)
This would prevent the following tags for safety reasons
- `<title>`
- `<textarea>`
- `<style>`
- `<xmp>`
- `<iframe>`
- `<noembed>`
- `<noframes>`
- `<script>`
- `<plaintext>`

[2020-04-16 21:11] JohnTitor opened #71222 "Tiny difference of the diagnostics for generator on some environment"
Follow-up of #71182
Consider this example: https://github.com/rust-lang/rust/issues/67893#issuecomment-612650979

It emits the stderr on my local (x86_64-unknown-linux-gnu):
[code]

But on some other environment on CI, e.g. `dist-i586-gnu-i586-i686-musl` or `Linux test-various`, it emits it with a tiny difference:
[code]

It's ideal to have the same diagnostics on all the environment.

See also:
-

[2020-04-16 21:16] euclio commented on #71216
@rustbot claim

[2020-04-16 21:18] nikomatsakis commented on #70917
@eddyb yeah, I expected to see some code like that -- I agree the behavior was not *intentional*.

[2020-04-16 21:28] #71089 closed

[2020-04-16 21:36] woody77 opened #71224 "Feature Request: saturating_add(Duration) for SystemTime / Instant"
Both `SystemTime` and `Instant` have `checked_add(Duration)`, but no `saturating_add(Duration)`.

This seems like an omission, as when doing math operations on time, a developer has to choose between:

1. allowing for the (hopefully very remote) potential for overflows
1. determining what to do with the `None` case of the `checked_add()`
1. letting it `checked_add(long_duration).unwrap()` panic af

[2020-04-16 22:15] woody77 commented on #71224
However, I just discovered that `impl Add<Duration> for SystemTime` panics on overflow, as it internally is

`self.checked_add(duration).expect("overflow when adding duration......`

https://doc.rust-lang.org/src/std/time.rs.html#534

[2020-04-16 22:23] woody77 opened #71226 "RustDocs for SystemTime and Instant should note that their Add<Duration> implementations panic"
This note: https://doc.rust-lang.org/std/time/struct.SystemTime.html#panics is too deeply buried in the documentation.

### Proposal:

Put a note after the [underlying syscalls](https://doc.rust-lang.org/std/time/struct.SystemTime.html#underlying-system-calls) section in the overall struct documentation that math operations on SystemTime (and Instant) can panic.

[2020-04-16 22:24] steveklabnik commented on #60044
Triage: no changes

[2020-04-16 22:24] steveklabnik commented on #60044
Triage: no changes

[2020-04-16 22:40] eddyb commented on #71033
@SimonSapin That's not the only thing valid ranges do, we also expose them to LLVM.
So depending on what the `str` methods look like, they might be able to take advantage of this to consider the values outside of the range impossible, without using `unreachable_unchecked`.
Specifically, when reading UTF-8 bytes from behind a `&str`.

[2020-04-16 22:59] euclio commented on #71216
It's easy enough to generate a JSON file instead of a JavaScript file, but how do we want to load the JSON file? I'm not familiar with how the search works: can we request the JSON via XMLHttpRequest and then call `addSearchOptions` and `initSearch` asynchronously? We could also [embed the JSON in the HTML via a data block](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-type

[2020-04-16 23:08] alexreg opened #71227 "Error bootstrapping on CentOS"
It looks like the bootstrapper does not use `cmake3` on CentOS (i.e., CMake 3.x) but instead `cmake` (i.e., version 2.x). This results in the error `CMake 3.4.3 or higher is required.  You are running version 2.8.12.2`. The fix would seem to be obvious: check for `cmake3` before falling back to `cmake`.

Relevant section of console output:

[code]

[2020-04-16 23:10] SimonSapin commented on #71033
I suppose LLVM could then eliminate a branch like `str.as_bytes()[0] == 0xff` but I have a hard time imagining a situation where it would come up in practice outside of test cases.

[2020-04-16 23:12] Mark-Simulacrum commented on #71227
I would accept a PR doing what you suggest is obvious.

[2020-04-16 23:21] eddyb commented on #58987
@aedoq Uh oh that's a bug in const generics, type parameters aren't in scope for `const` parameters' types. cc @varkor @yodaldevoid

As for the other examples, I feel like this issue is just a duplicate of #43408.

[2020-04-16 23:22] eddyb commented on #58987
@Alexendoo of course, #70452 only fixed repeat expressions (`[expr; N]`), *not* array types (`[Type; N]`).

[2020-04-17 00:01] wesleywiser opened #71229 "Don't generate unnecessary cleanup blocks for calls that cannot unwind"
Per @nagisa [here](https://github.com/rust-lang/rust/pull/70467#discussion_r409245992):

[2020-04-17 01:36] alexreg commented on #71227
Also, is there a reason that the bootstrapping script uses `python` rather than `python3`?

[2020-04-17 01:46] Mark-Simulacrum commented on #71227
We have a number of fallbacks, but it was my perspective that we should prefer python and fallback to python3, at least for now; I suspect systems may prefer to install to python rather than python3. We work with both 2.7 and 3.

[2020-04-17 02:11] alexreg commented on #71227
Okay, thanks for clarifying. Makes detecting whether `cmake3` exists slightly more annoying, but not a huge deal.

[2020-04-17 02:33] JohnTitor commented on #63526
@rustbot release-assignment

[2020-04-17 02:38] maurer opened #71233 "Coverage is not generated when using lld as linker"
Attempting to build a coverage Rust binary with
[code]
will not actually generate any `.gcda` files.

Both of
[code]
will produce appropriate output.

I was able to trace this down to an issue with `.ctors` / `.init_array` incompatibility. Specifically, `ld.bfd` and `ld.gold` will munge sections to deal with the presence of both `.ctors` and `.init_array` in the same binary; `lld` will not.

Rust

[2020-04-17 03:27] cuviper commented on #71233
The [platform support](https://forge.rust-lang.org/release/platform-support.html) currently says Linux 2.6.18 -- roughly RHEL5, which shipped gcc 4.1.2. Even RHEL6 only shipped 4.4.7, and then RHEL7 would meet your threshold with gcc 4.8.5.

[2020-04-17 03:45] maurer commented on #71233
I thought the kernel revision was in terms of what system calls we needed, not the user space software. Unfortunately, we don't have access to clang internals directly so we can't just re-use their auto-detection algorithm.

Some possible options:

* Declare we require `.init_array` support from our runtime (e.g. use the patch I uploaded). As support for this option, Clang is [dropping autodetect

[2020-04-17 04:15] #69798 closed

[2020-04-17 06:50] joshtriplett commented on #70436
If the calls are returning early, there may not be as much value in minimizing the number of calls.

Also, could we restore the slice afterwards, even if we mutate it as we go? For each call to `write_vectored`, at most one change to the slice needs to occur, so we could easily change it back after that call. That way, we're requiring exclusive access to the slice but giving it back.

[2020-04-17 07:19] #70796 closed

[2020-04-17 07:19] #24843 closed

[2020-04-17 07:19] #28575 closed

[2020-04-17 07:19] #54067 closed

[2020-04-17 07:19] #66868 closed

[2020-04-17 07:19] #67893 closed

[2020-04-17 07:19] #68813 closed

[2020-04-17 07:53] rakshith-ravi commented on #52544
Resurrecting this.

@oli-obk what're the benefits of dereferencing the lhs instead of referencing the rhs?

Also, if I were to go about fixing this, where would I start?

[2020-04-17 08:12] Thomasdezeeuw commented on #70436
I don't quite understand this statement, the whole point of using vectored I/O is minimizing the number of system calls.

I guess we could but are there many cases in which you need to use the buffers after having written them all? I've personally never encountered that.

We could also create an `IoSlices` type that wraps `&mut [IoSlice<'_>]` and take ownership of that to make the ownership part o

[2020-04-17 08:24] RalfJung commented on #71212
[code]
Another interesting question here could be aliasing. Usually mutable references are unique. Does that mean that the following is UB because uniqueness got violated (`FOO` was accessed through a different place between creation and use of `FOO_MUT`)?
[code]

[2020-04-17 08:26] RalfJung commented on #71212
(Also strangely I did not get emailed about the ping above.)

[2020-04-17 08:41] alvardes commented on #27060
If I have a simple packed struct like this:

[code]

And I have 2 variables like that:

[code]

Then will `x == y` on platforms that doesn't support unaligned access? (Some platforms that doesn't support unaligned access just ignores the lowest bits so when reading out the field `c` it will read out field `b` and the first bytes except the last of `c`)

I guess my question is: I get that its unsaf

[2020-04-17 08:51] RalfJung commented on #27060
`repr(packed)` + `derive(PartialEq)` shows a warning:
[code]
This one is probably going on long enough that we can move towards making it a hard error. Is it worth taking small steps here even while there is no proper solution for taking references yet?

[2020-04-17 09:04] RalfJung commented on #27060
If you add `Copy` to the derives, Miri is happy with alignment in the auto-derived code: https://github.com/rust-lang/miri/pull/1343.

[2020-04-17 09:05] nox commented on #66893
I'm not sure this is phrased as best as it could in the documentation, in the sense that callers are definitely allowed to do non-atomic accesses to the underlying value, but they must do so only if they can guarantee that absolutely no other thread will observe a non-atomic access. Does that make sense?

[2020-04-17 11:20] pietroalbini commented on #70995
This was indeed fixed!

![Screenshot_2020-04-17 Screenshot](https://user-images.githubusercontent.com/2299951/79564061-3d570780-80ae-11ea-90f6-9e2f776dbdee.png)

[2020-04-17 11:20] #70995 closed

[2020-04-17 11:44] domibay-hugo commented on #67173
I just stumbled over another **Use Case** affected by this limitation:
https://brave-browser.readthedocs.io/en/latest/installing-brave.html#linux
The new _Brave_ Browser written in _Rust_
https://github.com/brave
is not installable on any Centos Version before Centos8.
It just fails due to the described issue.
[code]
For Publishers this is a quite weighty **Draw-Back** since it limits the Audience

[2020-04-17 11:53] rust-highfive opened #71241 "`miri` no longer builds after rust-lang/rust#70629"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70629, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @anyska, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-04-17 12:20] RalfJung commented on #71241
Miri fix: https://github.com/rust-lang/miri/pull/1344

[2020-04-17 12:22] nikomatsakis commented on #71117
@RalfJung maybe I'm confused -- it seems like if the official semantics are that we have allocated backing storage for `_0`, we would have problems with unsized return values... oh, I see, of course `_0` must always be sized, so it's always possible in principle to allocate that temporary up front.

I guess the key point has to do with retagging the return place -- can you elaborate a bit on why t

[2020-04-17 12:24] nikomatsakis opened #71244 "perf slowdown from #70831 (remove a stack frame from .await calls)"
Post-merge [perf results](https://perf.rust-lang.org/compare.html?start=534a41a32952d36ec73656357777ebbea707aeb4&end=4e4d49d60fd696c4036d438292673a2d7fd34519&stat=instructions:u) are 100% restricted to `await-call-tree`, and it's more clearly >1% now, post-https://github.com/rust-lang/rustc-perf/pull/645 (cc @Mark-Simulacrum).

Presumably we consider that test a stress test and we're fine with the

[2020-04-17 12:25] nikomatsakis commented on #71244
cc @sfackler, author of #70831

[2020-04-17 12:29] nikomatsakis commented on #68364
@RalfJung that model seems very elegant

[2020-04-17 12:31] sfackler commented on #71244
It does seem a bit strange to me that there's a slowdown here - the complexity of the overall code post expansion seems like it should be just about the same as before, right?

[2020-04-17 12:55] eddyb commented on #71244
IIRC, a `poll_with_context` call was replaced with two calls, to `Future::poll` and `get_context`.

That would presumably double type-checking time in an `.await`-heavy function.
I'm actually a bit surprised all of the unsafety isn't contained entirely in the HIR lowering, but I suppose there's several casts involved.

[2020-04-17 13:20] DutchGhost commented on #71210
This might be a dupe of https://github.com/rust-lang/rust/issues/68641 ?

[2020-04-17 13:21] jendakol commented on #27694
Hello, Avast guy speaking here :smiley:

It's shown up that we as an antivirus company have also kinda problem with not-detecting Rust compilers.

The problem is that we need to have files that are signed by known-certificate and the signature is included in the file itself. **Using the method required by macOS and Windows would also be good for us.** Without that, we have a problem with non-detec

[2020-04-17 13:21] comex commented on #27060
Do you by chance have a link to somewhere this was being discussed?  It sounds very churny to me, but I’m curious about the motivations behind it.

[2020-04-17 13:34] Dylan-DPC commented on #71216
turns out @GuillaumeGomez has some progress on this :/ so maybe you can work on a different issue

[2020-04-17 14:15] eddyb commented on #70507
Minimal repro ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d2fa0c783e1410479e3a92586e9719bb)):
[code]

The problem is a method call with uninferred `const` parameter.
AFAIK it corresponds to this FIXME: https://github.com/rust-lang/rust/blob/b2c1a606feb1fbdb0ac0acba76f881ef172ed474/src/librustc_typeck/check/writeback.rs#L673-L674

cc @varkor @yodaldevoid @

[2020-04-17 14:21] eddyb commented on #70507
When the function doesn't reach codegen, we get `delay_span_bug`s elsewhere ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a0f3fba47024677948287d22dc711330)):
[code]
[code]

It's important to note that *this is the same thing*. The ICEs are just a symptom of a `tainted_by_errors` result from `typeck_tables_of`, without an error having been emitted.

[2020-04-17 14:30] pnkfelix opened #71248 "Potential performance regression from new LTO effort after export changes"
Spawned off of https://github.com/rust-lang/rust/pull/71131#issuecomment-614711139

PR #71131 may have injected a performance regression into incremental compilation.  It certainly seemed like it did on the two try runs we did on the PR itself:
 * https://github.com/rust-lang/rust/pull/71131#issuecomment-613741977
 * https://github.com/rust-lang/rust/pull/71131#issuecomment-614926099

So this issu

[2020-04-17 14:36] mbrubeck commented on #65512
The popular [structopt](https://crates.io/crates/structopt) crate has a trait method [`StructOpt::from_iter`](https://docs.rs/structopt/0.3.13/structopt/trait.StructOpt.html#method.from_iter) that conflicts with `FromIterator::from_iter`, so adding the latter to the prelude will break code that calls the former. I'm not sure if this breakage is widespread enough to prevent it from happening withou

[2020-04-17 14:52] mbrubeck commented on #65512
[`structopt`](https://docs.rs/structopt/0.3.13/structopt/trait.StructOpt.html#method.from_iter), [kuchiki](https://docs.rs/kuchiki/0.8.0/kuchiki/traits/trait.TendrilSink.html#method.from_iter), [micromath](https://docs.rs/micromath/1.0.0/micromath/vector/trait.Vector.html#tymethod.from_iter), and [clapme](https://docs.rs/clapme/0.1.15/clapme/trait.ClapMe.html#method.from_iter) have trait methods t

[2020-04-17 15:42] pnkfelix opened #71249 "Tracking Issue for cargo report future-incompat"
This is a tracking issue for the RFC "Cargo report future-incompat" (rust-lang/rfcs#2834).
There is no feature gate for the issue (the changes are not language visible).

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is howeve

[2020-04-17 15:50] estebank commented on #71222
`DefId`s shouldn't be leaked in user output.

[2020-04-17 15:55] GuillaumeGomez commented on #71216
Arf sorry @euclio, didn't see this issue so I commented on the other one... Even though I did it, it'd be awesome if you took a look at the PR: #71250 :)

[2020-04-17 15:57] That3Percent commented on #38751
The need for `Into` rather than `From` has come up for me in a real-world codebase. Here's a simplified motivating example:

[code]

What the trait is trying to express is simple - any `Error` type that can be thrown needs to be convertible to `E` because of the way this trait is going to be used. Presently, this doesn't compile:

[code]

But, there's no straightforward way to fix this since there

[2020-04-17 16:13] JohnTitor commented on #71222
Yeah, other places look like:
[code]

Perhaps we emit `DefId` accidentally in somewhere.

[2020-04-17 16:19] LLFourn opened #71251 "Forced to repeat inherited trait constraints on things other `Self`"
Putting inherited constraints on things other than `Self` causes problems:
[code]
Gives the error:

[code]
The compiler has turned what should a property of `T: CanMul` into a constraint on `T`.
You can work around the issue by repeating the constraint:

[code]
But obviously you shouldn't have to because you've already told the compiler that this is true.

Another example using a HRTB:
[code]

###

[2020-04-17 16:22] jonas-schievink commented on #71251
Duplicate of https://github.com/rust-lang/rust/issues/20671

[2020-04-17 16:22] #71251 closed

[2020-04-17 16:34] cuviper commented on #71233
That kind of goes hand in hand. There's not a unified release for this stuff like in the BSDs, but looking at RHEL5 at least gives a reference of contemporary versions.

Are you sure that version is about _support_? There are much older references to `.init_array` in the GCC sources. I did find [bug 46770](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=46770), "Replace .ctors/.dtors with .init_array

[2020-04-17 16:45] maurer commented on #71233
So, the core problem here is *mixing* `.ctors` and `.init_array`. The loader has supported it for a long time, so either alone would work. However, you want to be able to link the code generated on your system together, which is why clang was detecting gcc versions. If you have a gcc < 4.7, you may generate `.ctors`, which will then cause bad behavior like we're seeing if you link it with `.init_a

[2020-04-17 16:48] estebank commented on #71222
@JohnTitor that makes me think that we probably have some `{:?}` instead of `{}` somewhere.

[2020-04-17 16:53] samrat commented on #71129
Hi, I don't have things working quite yet. But wanted to ask a few questions and get some feedback on what I have so far. (I have called the common trait ConstMachine as @RalfJung suggested)

This is my understanding of what needs to be done as part of the refactoring:
- const_prop and const_eval machines will implement ConstMachine. There will be an impl so anything that implements the ConstMachi

[2020-04-17 16:53] oli-obk commented on #52544
The benefit is that `x < y` expands to `Ord::cmp(&x, &y)`, so if you start out with `x < &y` you get `Ord::cmp(&x, &&y)`, seems better to just do `Ord::cmp(&*x, y)` instead (since `&*` is a no-op that gets easily removed).

I'm not sure how to solve this or whether we should try at all.

[2020-04-17 17:10] cuviper commented on #71233
Ah, I see. If bfd and gold are able to merge these, but lld can't/won't, then can we change behavior based on the linker flavor? I'm not sure if that choice is visible to all codegen, or just the final link.
(I don't see `-Clinker-flavor` in your options, but you might want that...)

I guess this too is a more nuanced statement, about what we're able to support _mixed_ when using lld. Maybe that's

[2020-04-17 17:10] estebank opened #71252 "Calling `.into()` on argument that expects `Into<Type>` gives confusing error"
When calling `(x: Type)::into()` in a fn that expects `Into<Type>` we currently emit:

[code]

We should check whether `T == MultiSpan` and suggest the removal of the `into()` call.

[2020-04-17 17:24] rakshith-ravi commented on #52544
@rustbot claim

[2020-04-17 17:26] remi-blaise opened #71253 "TcpStream struct required for reading and writing"
Good evening,

The [TcpStream struct](https://doc.rust-lang.org/std/net/struct.TcpStream.html) requires to use the same object for reading and writing. This is a problem as you can't do that:

[code]

gives you the error:
[code]

I am missing something or is it a bad design of the language/library?

Thank you for your time,

[2020-04-17 17:28] pietroalbini commented on #71184
After the updated fork this started working again, closing the issue.

[2020-04-17 17:28] #71184 closed

[2020-04-17 17:33] mati865 commented on #71233
`-Clinker-flavor` in this case is set to `Gcc` because LLD is chosen by passing `-fuse-ld=lld` flag to GCC/Clang. This is comfortable since GCC/Clang knows location of all system libraries and how to link them.
For `Lld` flavor I think you not only have to add all system libraries paths but also link the libraries in the right order by adding `-lc -lgcc ...` somewhere.

[2020-04-17 17:34] cuviper commented on #38751
FWIW, you can put `where E: From<Self::Error>` on the trait, or even directly on the type declaration with `#![feature(generic_associated_types)]`, but I think call sites still have trouble with #20671.

[2020-04-17 17:37] jonas-schievink commented on #71253
`Read` and `Write` are also implemented for `&TcpStream`.

[2020-04-17 17:37] #71253 closed

[2020-04-17 17:38] ChrisDenton commented on #49342
The following is my conclusions [based on testing](https://gist.github.com/ChrisDenton/363c2a34d0bcda32b23a833b4c2829db) in Windows 10 version 1909.

* When setting the current directory:
  * the maximum path length is ~258, even if you use the `\\?\` prefix.
  * using `\\?\` prefixed paths will work but may produce seemingly odd results when opening relative file paths.

* When opening files (inc

[2020-04-17 17:39] ChrisDenton commented on #49342
I could more succinctly summarise the above as: Relative paths are not `\\?\` aware.

[2020-04-17 17:41] ecstatic-morse commented on #71212
Ah, that's a good point. In that case, I think we can ignore that example as an argument against the type visitor approach.

Perhaps this is a better example. I believe that things at the top level of a const initializer have a static storage duration. I'm not actually sure whether this is user-observable and guaranteed since rvalue static promotion is pretty aggressive inside constants. `NULL` an

[2020-04-17 18:02] varkor commented on #71126
We've opened an RFC for destructuring assignment: https://github.com/rust-lang/rfcs/pull/2909.

[2020-04-17 18:04] cuviper commented on #67173
It has some components written in Rust, but brave-core is written in C++, based on Chromium.

If Brave wants to support older systems, then they need to build on an older system to get compatible symbol versions. This is a consequence of how glibc and others manage ABI compability, not Rust itself.

[2020-04-17 18:18] pnkfelix commented on #71248
Interesting: I instrumented the first case I was interested in ("is valid cap letter" on `regex`, as noted [here](https://github.com/rust-lang/rust/pull/71131#issuecomment-614710702)), and it reports that in all five of the cases where we are now not reusing the Post-LTO build product, it is because the `exports_all_green` boolean is false; the set comparison test that I was worried about isn't ev

[2020-04-17 18:38] remi-blaise commented on #71253
Good evening @jonas-schievink,
I believe you have closed this issue without giving a satisfying answer.

You say "Read and Write are also implemented for &TcpStream", what I am doing in the example, right?

The problem I am raising is that given I am giving an immutable borrow to a function to read the stream, I can't write in the stream anymore (the language forbids making an mutable borrow while

[2020-04-17 18:44] Mark-Simulacrum commented on #71253
You can do e.g. `(&stream).write_all` or so -- the trait `Write` asks for a `&mut self` so the default is to borrow mutably, but you get the same functionality from a `&TcpStream` in this case.

[2020-04-17 18:58] remi-blaise commented on #71253
@Mark-Simulacrum thank you very much, it is working indeed.
This makes no sense for me, I would never have found it alone. Could you please explain the logic behind this?

[2020-04-17 19:01] Mark-Simulacrum commented on #71253
I would recommend asking further on users.rust-lang.org or a similar forum, people there are likely better able to explain this sort of thing.

Generally speaking though -- TcpStream is backed by a kernel primitive, which is internally synchronized (i.e., writing to it is thread safe) so there's no need to have exclusive access to the TcpStream struct to write to it.

[2020-04-17 19:08] pnkfelix commented on #71248
(My intuition is that we do need the `exports_all_green` computation, and when it is non-green we do need to re-do LTO. After all, the basis of https://github.com/rust-lang/rust/issues/69798#issuecomment-596856956 was that a global symbol in module A was determined to be unused in module B, and thus the global symbol was demoted to a local to A; then a later change to B injected a use of that glob

[2020-04-17 19:10] remi-blaise commented on #71253
So does it make sense it require a `&mut self` from the beginning? It would allow to write `stream.write_all` directly.

[2020-04-17 19:10] pnkfelix commented on #71248
Having said that, I did prototype taking out `exports_all_green`, and with it gone, the regression test for #69798 still passes...

[2020-04-17 19:11] nbp opened #71257 "unwrap branches are not optimized away."
When creating a structure which has a variant type, and that this type is wrapped as an `Option<T>`, the `unwrap` branch cannot be removed by LLVM, even after proving that the only path reachable is the `Some(…)` case and never the `None` case.

I tried this code:

https://github.com/mozilla-spidermonkey/jsparagus/blob/330722aaa4f7c6f39422b7daae7084ea8cbcbead/crates/parser/src/queue_stack.rs#L141-

[2020-04-17 19:17] Mark-Simulacrum commented on #71257
In the trivial case, https://rust.godbolt.org/z/3TaPU2, this doesn't seem to reproduce, so I'm going to go ahead and mark as E-needs-mcve. I suspect that this might be a case of insufficient inlining or something like that.

[2020-04-17 19:36] LucioFranco opened #71259 "Duplicate crate macros failing to differentiate"
Here is a reproduction:

https://github.com/LucioFranco/rustc-duplicate-macro-bug/

I've added comments on how to trigger the bug. But it looks like if we have one crate but two versions imported into the same project. Aka using cargo's rename feature, then rust picks up that if we use one of the macros that the other one even if its from a different version is the same. Commenting out the tower01

[2020-04-17 19:36] LucioFranco commented on #71259
Since, this has been fixed on nightly, I assume we can close it. I thought I'd open for reference reasons.

[2020-04-17 19:48] jonas-schievink commented on #71259
Sounds like something @petrochenkov might know about

[2020-04-17 19:50] maurer commented on #71233
I think that controlling this behavior based on linker-flavor is probably not a great idea because:

* You can try to use `lld` to link legacy object files, which would want `.ctors` output.
* Even with linkers that can deal with a mix of the two sections, this is still a legacy format which we should only be emitting when needed, not by default.

[2020-04-17 19:58] pnkfelix commented on #71248
I suppose if the import map actually reflects the true usage of the symbols in the importing module, then in fact it should not be necessary for us to look at `exports_all_green`.

I'm willing to have a go with a PR that removes it and see how things go.

[2020-04-17 20:02] Protryon opened #71260 "Segfault/Memory corruption in rustc 1.42.0 stable"
### Code

Not included. (will attempt to make a minimal example, main codebase is proprietary)

### Meta

`rustc --version --verbose`:
[code]

### Error output

```(signal: 11, SIGSEGV: invalid memory reference)```

[code]

I only encounter this in `cargo test`, `cargo build` works, but `cargo build --tests` crashes similarly. Removing added tests does not solve the issue. Minimal example incoming

[2020-04-17 20:04] Protryon commented on #71260
I have reproduced in 1.41.0.

[2020-04-17 20:18] ljedrz opened #71261 "Pretty serious perf regressions in opt benchmarks"
It appears that one of the changes today caused [serious regressions](https://perf.rust-lang.org/compare.html?start=2020-04-16&end=8d67f576b56e8fc98a31123e5963f8d00e40611c&stat=instructions%3Au) in some of the opt benches, mostly patched incremental:

[code]

[2020-04-17 20:19] Protryon commented on #71260
I have replicated with `cargo build --verbose --offline --locked` during bisection.

[2020-04-17 20:32] Mark-Simulacrum commented on #71261
868b51be...b2c1a606 is the commit range, but I think this is https://github.com/rust-lang/rust/issues/71248? (That at least seems logical to me).

We should have perf results soonish as they populate in...

[2020-04-17 20:32] petrochenkov commented on #39412
Some status update (copypasted from Zulip https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/decl.20macro.20syntax/near/194354354):

`macro` items have multiple components to figure out before stabilizing, syntactic and semantic:

- `Span::def_site`, pretty far away, requires implementing cross-crate hygiene *at least*, and then formalizing stuff in `hygiene.rs` more carefully, in

[2020-04-17 20:34] petrochenkov commented on #39412
One more issue is expanding fragments like `$e:expr` as token streams rather than AST pieces (this is also mentioned in the top comment and links to https://github.com/rust-lang/rust/issues/26361), but this is equally applicable to `macro_rules` where it should be doable in a (almost) backward-compatible way.

[2020-04-17 20:36] ljedrz commented on #71261
Yes, seems to be the same thing; feel free to close this issue once it's confirmed, I seem to have missed the previous one :stuck_out_tongue: .

[2020-04-17 20:40] Ixrec commented on #42721
https://github.com/rust-lang/rust/pull/68004 should probably be mentioned here. It's obviously not a complete negative bounds feature, and the motivation is largely unrelated, but it's a step in this direction.

[2020-04-17 20:43] Duddino commented on #71187
@huangjiahua maybe you can also add `u32::from_ne_bytes()` as an alternative to `transmute` but without unsafe

[2020-04-17 20:44] Duddino commented on #71187
@rustbot assign @huangjiahua

[2020-04-17 20:57] varkor commented on #70507
This in turn depends on
https://github.com/rust-lang/rust/blob/8d67f576b56e8fc98a31123e5963f8d00e40611c/src/librustc_infer/infer/error_reporting/need_type_info.rs#L226-L233
`need_type_info_err` currently has a lot of special handling for different situations, but maybe we can add in a simple path for consts?

[2020-04-17 21:01] Mark-Simulacrum commented on #71210
Closing as a duplicate, seems likely. Thanks!

[2020-04-17 21:01] #71210 closed

[2020-04-17 21:02] Mark-Simulacrum commented on #53142
I'm going to go ahead and close this as it seems likely that polonius has since changed and in any case it doesn't seem helpful to keep a bug open about it :)

If anything it could be moved to the polonius repo :)

[2020-04-17 21:02] #53142 closed

[2020-04-17 21:09] petrochenkov commented on #71259
No idea how this happened and I don't remember fixing anything similar.

This look like a serious bug, it would be great to bisect this to find out what made it disappear.
Perhaps it was just masked and not really fixed.

[2020-04-17 21:10] petrochenkov commented on #71259
@rustbot ping bisect

[2020-04-17 21:28] Protryon commented on #71260
A bisection has yielded the following panic *preceeding* the segfault:
[code]

[2020-04-17 21:39] estebank commented on #71209
Regarding the last point, it is trying to suggest you to [give `_` a type that carries enough type information for `A` to be resolved](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=970028b5542f259de60353b887ad4bfe).

[2020-04-17 21:46] jonas-schievink commented on #71260
@Protryon Does this also happen on nightly?

[2020-04-17 21:53] #69615 closed

[2020-04-17 21:56] Protryon commented on #71260
@jonas-schievink I haven't tried nightly, but have tried 1.41.0 and 1.42 stable. Once I get a minimal reproducible example I will expand my testing.

[2020-04-17 22:06] JOE1994 commented on #71086
@rustbot claim

[2020-04-17 22:10] Protryon commented on #71260
A different panic was found during further bisection:
[code]

[2020-04-17 22:12] MaskRay commented on #71233
You may read https://github.com/dlang/dmd/pull/10562 about the support of `.init_array` in libc.

[2020-04-17 22:14] Protryon commented on #71260
I have confirmed there is some nondeterminism under exactly equivalent circumstances (using docker to contain builds here):
[code]

[2020-04-17 22:26] jonas-schievink opened #71265 "Consider removing `ProjectionElem::Index`"
It is the only projection element that uses another local besides the place's base local, and requires special care in many circumstances. All other `ProjectionElem`s perform static operations that do not depend on runtime values.

In https://github.com/rust-lang/rust/pull/71003, I initially did not handle this special case, which would have resulted in an unsound optimization. The visitor logic f

[2020-04-17 22:29] robjtede commented on #71259
bisect-rustc points to 15812785344d913d779d9738fe3cca8de56f71d5

[2020-04-17 22:37] eddyb commented on #71265
This has come up before, at least as early as last year's allhands.
So far we've flattened `Place`, that was the other big item, I think.
cc @nikomatsakis

[2020-04-17 22:40] GuillaumeGomez opened #71266 "Add dyslexic font and option to enable it"
It the last [rust survey](https://blog.rust-lang.org/2020/04/17/Rust-survey-2019.html), it appeared that some an issue with the current documentation was for the dyslexic people. We could improve the reading for them by using fonts optimized for dyslexic readers such as:

 * https://www.dyslexiefont.com/en/typeface/
 * https://www.opendyslexic.org/

I think it'd be a nice improvement to allow peop

[2020-04-17 23:01] Protryon commented on #71260
The following code introduces these errors:
[code]

The following does not:
[code]

My prevailing theory is libc version. My docker container has libc 2.19 with Debian Jessie 8.9, while my host has Debian Stretch 9.11 with libc 2.24. Could be other linked libraries. Perhaps it's kernel/docker related? I will continue to investigate.

[2020-04-17 23:35] Protryon commented on #71260
I have confirmed that the exact same docker image passes all expecatations when using the `debian:stretch-slim` docker base image, and fails in the way described in this issue in the `debian:jessie-slim` docker base image with no other changes.

[2020-04-18 00:15] #56898 closed

[2020-04-18 00:27] jonas-schievink commented on #71261
New commit range: https://github.com/rust-lang/rust/compare/868b51be6f29d5b43d37c5d65bac1482d3a50ad8...318726b301db2a0718d05f166d3d6c578273189c

Updated perf: https://perf.rust-lang.org/compare.html?start=868b51be6f29d5b43d37c5d65bac1482d3a50ad8&end=318726b301db2a0718d05f166d3d6c578273189c&stat=instructions:u

Closing in favor of #71248

[2020-04-18 00:27] #71261 closed

[2020-04-18 00:38] CAD97 commented on #31436
Simplest one: if all uses of `?` in a given `Try` block contain the same `Try::Error` type, use that error type for the containing `try` block (unless otherwise bound).

The "(unless otherwise bound)" is, of course, the subtle scary part.

[2020-04-18 00:50] ollie27 commented on #70871
Unfortunately this also affects 1.43 beta.

[2020-04-18 00:54] Mark-Simulacrum commented on #70871
Hm so this will hit stable in less than a week then. Do we consider it high priority enough to try to push through a release ourselves? (e.g. we can temporarily fork or whatever, perhaps only on the beta branch).

I personally lean towards no but wouldn't be opposed to doing so if t-rustdoc wanted to.

[2020-04-18 01:06] vakaras commented on #71129
Also, `ConstMachine` can have more concrete types because most of the associated types are instantiated in the same way in both machines.

I have not anticipated that we can achieve only so little reuse here; sorry, I should have checked this before opening the issue. One alternative maybe would be to put all shared code into the `Machine` trait so that we can avoid the duplication caused by addin

[2020-04-18 01:12] #69911 closed

[2020-04-18 01:12] #71155 closed

[2020-04-18 01:24] JohnTitor commented on #71222
The relevant code is:
https://github.com/rust-lang/rust/blob/ce93331e2cf21ac4b72a53854b105955919114e7/src/librustc_trait_selection/traits/error_reporting/suggestions.rs#L1633-L1648

I don't find any difference between here and similar places yet. @estebank thoughts?

[2020-04-18 01:56] Mark-Simulacrum commented on #10184
I've posted https://github.com/rust-lang/rust/pull/71269#issuecomment-615537137 which documents the current state as I understood it and that PR also moves to stabilize the behavior of the saturating -Z flag.

Given the length of this thread I think if folks feel that I've missed anything in that comment, I would direct commentary to the PR, or, if it's minor, feel free to ping me on Zulip or Disc

[2020-04-18 06:20] josephlr commented on #35016
I've run into the problem @gnzlbg described in https://github.com/rust-lang/rust/issues/35016#issuecomment-409185342 both in `once_cell` and `getrandom`. A minimal implementation in `rustc` could just call [`Path::canonicalize`](https://doc.rust-lang.org/std/path/struct.Path.html#method.canonicalize) before attempting to read the file. This would allow `../foo.rs` to work as a `#[path]`.

[2020-04-18 08:12] nbp commented on #71257
I can reproduce it with the following test case: ( https://rust.godbolt.org/z/t_9kCR )

[code]

In the generated code we see the branch for the assertion, which remove the None case from `pop`. However, the unwrap condition is still present, because the `None` case is mixed with the discriminant type of `Foo`, which lead the generated code to load the the discriminant, and compare it against the `

[2020-04-18 08:17] nbp commented on #71257
I will also note that without the assertion, the case which generate the `None` branch is folded with the unwrap case and panic. However, the `Some` branch still has the extra unwrap test, despite the fact that it would never fail.

[2020-04-18 08:22] RalfJung commented on #71129
Thanks a lot @samrat for giving this a shot!

I don't think we can do that -- that code only works for particular values of these associated consts. IIRC we already have all assoc-type-independent code that can be shared in the `Machine` trait. (Well, except for the `enforce_*` methods. I guess we could move those.)

But I also did not expect this much duplication, this is helping much less than I

[2020-04-18 08:24] RalfJung commented on #71129
I think your current patch [can be improved](https://github.com/samrat/rust/commit/1f1820c#r38580078), but even with that, there is a lot of extra duplication of signatures, when avoiding signature duplication was the entire point of this exercise. Maybe it's just not worth it, at least with the techniques Rust currently offers.

[2020-04-18 09:15] 38569459 commented on #70992
I figured it out! The core crate i'm linking with is built with different code-model and relocation-model. After re-build them with same code-model and relocation-model, everything works.

[2020-04-18 09:15] #70992 closed

[2020-04-18 09:24] mibac138 commented on #64796
Hi, @pickfire. Are you still working on this?

[2020-04-18 10:09] pickfire commented on #64796
No, I was stuck working on this and don't know how to proceed.

[2020-04-18 10:26] mibac138 commented on #64796
Ok, thanks for quick response. I'll take my shot at this.
@rustbot claim

[2020-04-18 10:40] maxeonyx commented on #47336
Have just come across this function, while reading the [source for `Rc`](https://github.com/rust-lang/rust/blob/28742a1146f10a4f09369baad027a464acb7a766/src/liballoc/rc.rs#L327). My 2 cents: At some point(s) after making a `NonNull<T>`, I am going to have to use an unsafe block to dereference it. I am OK with using one more unsafe block (`unsafe { NonNull::new_unchecked(Box::into_raw(b)) }`)  to c

[2020-04-18 10:41] nikomatsakis commented on #71033
I think the utf8 requirement is definitely overkill. I feel like we should try to avoid these sort of complex, "non-local" validity invariants (e.g., the validity of this byte depends on the validity of that byte before it). Actually, I'm curious @RalfJung, are "non-local" validity invariants of this kind common in other places? I can't think of any, apart from references referencing the state of

[2020-04-18 11:00] QuarkNerd opened #71277 "Windows 10 could not compile `winapi`, when trying to use rand crate"
I tried this toml file:

[code]

I expected to see this happen: *explanation*

There to be no compile error related to packages

Instead, this happened: *explanation*

Updating crates.io index
Compiling winapi v0.3.8
error: linking with `link.exe` failed: exit code: 1
error: aborting due to previous error

error: could not compile `winapi`.

### Meta

`rustc --version --verbose`:
[code]

I dont th

[2020-04-18 11:07] QuarkNerd commented on #71277
upping rand version to 0.7.3 gives

error: aborting due to previous error

error: could not compile `getrandom`.
warning: build failed, waiting for other jobs to finish...
error: build failed

[2020-04-18 11:44] QuarkNerd commented on #71277
Sorry, it seems like ive been silly. I recently did a fresh install of windows and skipped over installing microsoft buildtools in a hurry

[2020-04-18 11:44] #71277 closed

[2020-04-18 11:53] NickKolpinskiy opened #71279 "Implement a function that creates a Cow<'_, CStr> from a slice of bytes"
I've been working on FFI-bindings for a C library and I ran into an issue where `CString::new()` would fail if there's a 0-byte.

I was left with three options:
1) Let the users of my crate deal with `NulError`, which makes it less ergonomic, IMO;
2) Just unwrap the Result under the hood and document the possible panic;
3) When `CString::new()` fails, call `CStr::from_bytes_with_nul()` using `NulE

[2020-04-18 11:56] SimonSapin commented on #71033
I think it’s fine to add a **private** `UTF8EncodingUnit` type to libcore if that helps adding a `rustc_layout_scalar_valid_range_end` attribute to it and making `str` be defined as `struct str([UTF8EncodingUnit]);`. However I don’t see a point in making `UTF8EncodingUnit` public (which to me implies a path to eventual stabilization).

[2020-04-18 11:58] pickfire commented on #64796
@mibac138 Do you want me to publish my progress?

[2020-04-18 12:15] RalfJung commented on #71117
Honestly I did not give much thought to unsized return values. How are they supposed to work anyway with a caller-allocated return place?

I think the existing handling of lazily allocating unsized locals (i.e., allocating them on the first write to them, when the size is known) should in principle also work for return values. It's something of a hack, but it works.

It's about retagging *with a p

[2020-04-18 12:29] jonas-schievink commented on #62315
Seems like this is done, right?

[2020-04-18 12:31] ptato opened #71281 "Unexpected panic after opening cargo project with the IntelliJ Rust plugin"
`cargo run` with `RUST_BACKTRACE=1`

[code]

Happened after I opened the folder in IntelliJ for the first time. Deleting the target folder fixed the problem and the panic hasn't come up again. Sorry I don't know more.

[2020-04-18 12:36] jonas-schievink commented on #71281
Presumably a duplicate of https://github.com/rust-lang/rust/issues/70924 then

[2020-04-18 12:36] #71281 closed

[2020-04-18 12:52] Nemo157 opened #71282 "const_err does not trigger on associated constants"
I tried this code:

[code]

I expected to see this happen: Both `FOO` and `Foo::FOO` should trigger `const_err` errors.

Instead, this happened: Only `FOO` was marked with `const_err`

### Meta

Checked on current stable (1.42) and nightly (2020-04-17) on the playground

[2020-04-18 13:01] Duddino commented on #71252
@rustbot claim

[2020-04-18 13:03] phaylon commented on #31436
I hope I'm not being too unconstructive with this post. However, I wanted to contrast @nikomatsakis example with one from a parallel world where `?` doesn't do a forced conversion, and there is no auto-wrapping of the `try` block result:

In this world:
* It's easy to see that both the `try` scope and the `fn` itself result in success without any value. It's also easy to see without even trying th

[2020-04-18 13:07] Nemo157 commented on #71282
This was discussed at https://github.com/rust-lang/rust/issues/67191#issuecomment-570433895 and below, so might be covered by https://github.com/rust-lang/rust/pull/70820 but I didn't really look into the details.

[2020-04-18 13:33] saurik commented on #12859
@mati865 Ok, you know what? I'm sorry.  FWIW, both Ubuntu and macOS Homebrew are shipping SJLJ, which is why I'm still experiencing this bubble of SJLJ whenever I do any tests, as those are the operating systems I normally work with; it turns out you are right: the packages on repo.msys2.org, which is what I'd consider the official decision at this point, are using Dwarf-2.

…and what's weird is t

[2020-04-18 13:35] ayushmishra2005 commented on #70528
@eddyb

As I understood from the description, you are saying that

1) This [errors](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b1d3380c63f1f1b66e5a74f386dfbaaa) should also come for `#! [bad_attribute]`.
2) `#! /usr/bin/end`  should also be considered as valid shebang and Rust compiler will skip this line.

3) no changes for the third scenario:
#!
[bad_attribute]

Plea

[2020-04-18 13:57] mibac138 commented on #64796
@pickfire sure, that'd be great!

[2020-04-18 14:03] saurik commented on #68887
Hello! After a false start of confusing myself on #12859, I've now realized that this is the issue that I'm running into ;P. In my case, this is my "linker" (which is a command, per https://github.com/rust-lang/cargo/issues/8071):

```/path/to/any/clang++ -D_WIN32_WINNT=0x0601 -target i686-pc-windows-gnu  --sysroot /build/mingw32 -B/usr/local/bin/i686-w64-mingw32- "$@"```

The main things to notic

[2020-04-18 14:23] petrochenkov commented on #71259
@robjtede
Thanks!

Before #66364 in this line

https://github.com/rust-lang/rust/pull/66364/files#diff-2b18e583c8286c5f266dcc0aea004e91L426

two `assert_request_eq` macros had the same `source_name` so the second macro hit the cache inside `new_source_file` and returned the string for the first macro instead of its own.

So #66364 indeed fixed the issue and not masked it.

The condition for the te

[2020-04-18 14:24] RalfJung commented on #71033
Hm... I cannot think of an example in mainstream languages. Except, of course, as you say memory and pointers have a very complex and non-local invariant.

Sure. However, `str` does not exist by-value, so in case of `str` this basically means Miri doesn't check anything beyond the reference being dereferencable.

Agreed. Actually having that type and using it in documentation would help.

Well, it

[2020-04-18 14:44] Nemo157 commented on #71033
If `str` is a slice of utf8-encoding-units that would also have to be mentioned as a validity invariant on the `str::as_bytes_mut` function, otherwise the `&mut [UTF8EncodingUnit]` to `&mut [u8]` cast would be unsound.

[2020-04-18 14:55] RalfJung commented on #71033
Sure, `as_bytes_mut` should mention whatever validity invariant we end up with.

[2020-04-18 15:14] jonas-schievink commented on #49227
Closing as fixed. Please let us know if this is still an issue.

[2020-04-18 15:14] #49227 closed

[2020-04-18 15:36] eddyb commented on #70528
@ayushmishra2005 All of those sound correct, yeah

[2020-04-18 15:49] JohnTitor commented on #69654
The ICE no longer occurs with latest nightly, I guess #71049 fixed it. Marked as E-needs-test.

[2020-04-18 16:33] vpzomtrrfrt opened #71290 "unused_parens false positive on addition of blocks?"
In this example:

[code]

rustc throws a warning:
[code]

Removing the parentheses as the message directs causes errors:

[code]

It seems the warning is wrong, unless this is expected to compile

### Meta

`rustc --version --verbose`:
[code]

This also happens on nightly.
[code]

This issue has been assigned to @mibac138 via [this comment](https://github.com/rust-lang/rust/issues/71290#issuecomme

[2020-04-18 16:51] bjorn3 opened #71291 "backend_optimization_level query is also provided for extern crates, but only used for LOCAL_CRATE"
https://github.com/rust-lang/rust/blob/e82734e56b2a50d38e0937d08f559d15dbe8e46b/src/librustc_codegen_ssa/base.rs#L857-L858

@rustbot modify labels: +A-codegen +C-cleanup

[2020-04-18 17:01] #62315 closed

[2020-04-18 17:01] bjorn3 opened #71293 "error: internal compiler error: src/librustc_mir/monomorphize/collector.rs:754: cannot create local mono-item for DefId(15:3 ~ lazy_static[5373]::get[0])"
### Code

[code]

### Meta

This somehow only reproduces with cg_clif using `cargo check`. If I switch to `cargo build` it works fine. If I switch to cg_llvm it works fine.

Originally reported by @l4l at https://github.com/bjorn3/rustc_codegen_cranelift/issues/973.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

<

[2020-04-18 17:02] bjorn3 opened #71294 "error: internal compiler error: src/librustc_mir/monomorphize/collector.rs:754: cannot create local mono-item for DefId(15:3 ~ lazy_static[5373]::get[0])"
### Code

[code]

### Meta

This somehow only reproduces with cg_clif using `cargo check`. If I switch to `cargo build` it works fine. If I switch to cg_llvm it works fine.

Originally reported by @l4l at https://github.com/bjorn3/rustc_codegen_cranelift/issues/973.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

<

[2020-04-18 17:02] bjorn3 commented on #71294
Oops, opened twice.

[2020-04-18 17:02] #71294 closed

[2020-04-18 17:03] ecstatic-morse commented on #62315
Resolved by #69644.

[2020-04-18 17:41] #70917 closed

[2020-04-18 17:57] bjorn3 commented on #71293
I didn't implement check mode in cg_clif it seems.

[2020-04-18 17:57] #71293 closed

[2020-04-18 18:15] samrat commented on #71129
Thanks @RalfJung and @vakaras. I'll table my efforts on this issue for now then-- do let me know if there are any other ideas to move forward with the issue.

[2020-04-18 18:23] benesch commented on #56068
There's an LLVM patch out that adds a `--gc-debuginfo` flag to `lld` that seems to have exactly the desired effect: https://reviews.llvm.org/D74169

Looks to be a ways away from landing, but I tested it on a relatively large Rust project and it was able to reduce an 800MB binary to a 300MB binary (with full debug info). Details in a comment here: https://reviews.llvm.org/D74169#1990180

[2020-04-18 18:35] dwrensha opened #71297 "internal compiler error: no entry found for key"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

[2020-04-18 18:36] dwrensha commented on #71297
Report from cargo-bisect-rustc:

searched nightlies: from nightly-2020-02-10 to nightly-2020-04-18
regressed nightly: nightly-2020-02-16
searched commits: from https://github.com/rust-lang/rust/commit/433aae93e4ef866a1fdfefad136b32ed89acd3e7 to https://github.com/rust-lang/rust/commit/61d9231ff2604a0467987042d9ebf9ff9ea739b5
regressed commit: https://github.com/rust-lang/rust/commit/19288ddfd6b344

[2020-04-18 18:42] NickKolpinskiy commented on #71279
@rustbot modify labels: +T-libs, +C-feature-request

[2020-04-18 18:42] RalfJung commented on #71129
That's okay, thanks for trying!

[2020-04-18 19:04] DeanRoddey opened #71299 "Tracking Issue for 'Janitorial RAII'"
I'm not sure if this is the appropriate place for this but it's the closest I could find. Send me elsewhere if not...

I would like to make the case that Rust is missing a fundamental capability that C++ has which is a very powerful and simple means to avoid logic errors. That is the concept of 'janitorial RAII'. Unlike 'normal' RAII, which Rust has obviously, where an object cleans itself up on D

[2020-04-18 19:05] jonas-schievink commented on #71299
Hi! Large additions to the language or standard library need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2020-04-18 19:05] #71299 closed

[2020-04-18 19:17] jonas-schievink commented on #71297
cc @matthewjasper

Panic happens here:

https://github.com/rust-lang/rust/blob/52fa23add6fb0776b32cc591ac928618391bdf41/src/librustc_mir_build/build/mod.rs#L342-L344

[2020-04-18 19:20] ChiefMilesEdgeworth commented on #65568
I'd be ok with taking this up as a first issue, but I'll need some pointers as to where to look and what these parts should be replaced with.

[2020-04-18 19:29] ChiefMilesEdgeworth commented on #62071
Maybe use [this link](https://doc.rust-lang.org/book/ch04-01-what-is-ownership.html#return-values-and-scope), and instead of saying "owned value", say "non-reference"?

[2020-04-18 19:49] mati865 commented on #12859
I might have not been clear enough. I wanted to say "toolchains running on the Windows natively", Linux distros indeed mostly ship SJLJ based toolchain for i686.

This issue is far beyond https://github.com/rust-lang/rust/issues/68887. It'd require adding rustc argument to switch between DWARF-2 and SJLJ, then you'd have to use [build-std](https://doc.rust-lang.org/cargo/reference/unstable.html#bu

[2020-04-18 20:03] jhpratt commented on #65512
Here's one that may be slightly controversial — remove `std::mem::drop` from the prelude. I can't think of a single instance I've ever used it, and IMO having to explicitly import it would be clearer.

[2020-04-18 20:36] rivy commented on #68887
@alexcrichton , @mati865 , how would I go about asking about adding such a feature when cross-compiling (especially on windows)?

[2020-04-18 21:36] GuillaumeGomez opened #71304 "E0751 explanation is using E0748 error"
Found it in https://github.com/rust-lang/rust/pull/68004

cc @nikomatsakis  @rust-lang/compiler @oli-obk

[2020-04-18 21:50] cjgillot commented on #27242
Since libstd now uses hashbrown, is this still relevant/doable?

[2020-04-18 21:50] cjgillot commented on #45276
I believe this should be closed by https://github.com/rust-lang/rust/pull/69965

[2020-04-18 22:01] cjgillot commented on #45408
Is this still relevant? If yes, could you explain what you mean by "not instantiating anonymous nodes"?

[2020-04-18 22:04] c3st7n commented on #70460
@nikomatsakis I thought I did, my plan was to implement a macro like in @petrochenkov's original PR to add the impl from for each usize/uXX combination, with appropriate target_pointer_width cfg values.

Where I am getting stuck/confused is the portability lint parts. I'm not sure if I am fully understanding them, is the best documentation the RFC (if so, this seems a little odd to me and I would

[2020-04-18 22:09] sfackler commented on #70460
The portability lint has never been implemented.

[2020-04-18 22:12] c3st7n commented on #70460
I think that probably means I would need a fair bit of help to understand this work or for it to be re-assigned. Happy to carry on if someone can give me some pointers.

[2020-04-18 22:18] jhpratt opened #71305 "abs/trunc do not exist on float primitives in core"
I'm trying to get the following code to compile, and was surprised when it didn't.

[code]

Per the documentation, `f32::abs`, `f32::trunc`, `f64::abs`, and `f64::trunc` all _should_ be able to be used in `#![no_std]` environments. They're implemented via intrinsics, so I can't think of any reason they shouldn't be in core.

rustc: (rustc 1.42.0 (b8cedc004 2020-03-09)

[2020-04-18 22:21] Mark-Simulacrum commented on #71305
This was changed in 18ab16b5104403ef7a55a2d241c566e35c5ae57a -- at least for abs -- and AFAIK, that's intentional. The underlying support in LLVM isn't present on all platforms I believe at least as of that commit (I don't believe this has since changed either).

[2020-04-18 22:21] #71305 closed

[2020-04-18 22:24] jhpratt commented on #71305
Welp, I suppose it was worth asking! Hopefully this serves as a signpost if someone else runs across this.

Thanks for the quick reply!

[2020-04-18 22:25] petrochenkov commented on #70460
The portability lint in https://github.com/rust-lang/rust/pull/37423 was different from what the RFC described.
It didn't consider any `#[cfg]`s and only warned if the conversion functions from the non-portable impls were used (on best-effort basis).

[2020-04-18 22:27] benesch commented on #46034
What's the process for stabilizing that flag? It's working great for me, and seems to much better align with expectations of what "no debuginfo" means!

[2020-04-18 22:45] c3st7n commented on #70460
Ok, this is starting to make a lot more sense to me. I completely misunderstood the full scope of the task and thought there were already portability lints that existed but I was just failing to find/understand them. I will do some further reading and make sure I understand the original PR.

[2020-04-18 22:48] vakaras commented on #71129
@samrat Thank you for trying! And sorry for not checking properly how much benefit we can get here.

@RalfJung Shall we close this issue as undoable or would you like to keep it open?

[2020-04-18 22:52] augusto2112 commented on #38885
@rustbot claim

[2020-04-18 23:06] tshepang opened #71307 "failing to build individual tools via x.py"
Running `./x.py build` results in all tools built, even though I asked for one, using the following `config.toml`:
[code]

This issue has been assigned to @mati865 via [this comment](https://github.com/rust-lang/rust/issues/71307#issuecomment-616088232).

[2020-04-18 23:11] estebank commented on #65568
I think what you want to grep for is `pprust` nowadays.

[2020-04-18 23:23] estebank commented on #71252
@Duddino feel free to reach out either on this ticket or on a PR, but be warned that this has the potential to be quite involved. It is a great introduction to how some parts of `rustc` fit together though.

[2020-04-18 23:48] saurik commented on #68887
FWIW, I would argue that the "known path" methods without an explicit override mechanism are "wrong", as the compiler--which you are accepting as a "linker"--is itself providing an override (in the form of --sysroot) in addition to defaulting that to some relative path (meaning I might in fact have a sysroot that came with the compiler that I am explicitly not using), and so if the user is using g

[2020-04-19 00:24] Mark-Simulacrum commented on #71307
Hm, so this was originally only added for the `x.py install` use case (it's even somewhat explicitly specified as such in the docs above `tools =` in config.toml.example).

If chosen tool failed to build the installation fails. If `extended = false`, this
option is ignored.

Did you actually want this to work? (Or just pointing out an inconsistency?)

Generally speaking x.py build without argument

[2020-04-19 00:27] estebank commented on #71297
I think that or-patterns should be disallowed in arguments to begin with.

[2020-04-19 00:29] Mark-Simulacrum commented on #71297
@estebank hm, so at least in principle it seems quite reasonable -- e.g., I might want something like `Result<u32, u32>` to be taken as `Ok(x) | Err(x)`, right?

I don't see why we'd want such an arbitrary restriction; can you elaborate?

[2020-04-19 01:09] spastorino commented on #71265
:+1:, I have this in my todo list. May end tackling it very soon if nobody beats me to do it :smile:.

[2020-04-19 01:17] estebank commented on #71297
@Mark-Simulacrum you're right, I hadn't thought of the possibility of different enough variants having the same type binding.

[2020-04-19 01:21] estebank commented on #71222
https://github.com/rust-lang/rust/blob/2deb39dd1fd7525eedbb9067ca52dfa71eed4fab/src/librustc_middle/ty/print/pretty.rs#L622-L654

CC @eddyb

[2020-04-19 02:40] comex opened #71309 ""try expression alternatives have incompatible types" is confusing wording"
Simple example:
[code]
Compilation result (`rust version 1.44.0-nightly (52fa23add 2020-04-18)`):
[code]

Parts of this diagnostic are great, showing the mismatched types (`u32` and `i32`) and even suggesting a valid possible fix.  But the wording of the error itself is confusing.  What "try expression alternatives"?  I don't see any alternatives.

Taking a glance at the compiler implementation, i

[2020-04-19 03:15] estebank commented on #71309
This is because of the explicit check here

https://github.com/rust-lang/rust/blob/d7c4081b18fbf50f2d260ea893b659aec0b1d84a/src/librustc_infer/infer/error_reporting/mod.rs#L2079-L2089

[2020-04-19 04:00] tshepang commented on #71307
We have the following comment in config.toml.example

# If chosen tool failed to build the installation fails. If `extended = false`, this
# option is ignored.
#tools = ["cargo", "rls", "clippy", "rustfmt", "analysis", "src"]

Needs an update perhaps... it's not so clear?

[2020-04-19 04:39] tshepang commented on #71307
My confusion could also be coming from this snippet, which talks about *building*
[code]

[2020-04-19 04:45] grantperry commented on #70814
I'm getting `unnescessary braces around block return value` from check/clippy
[code]
Is this related or should I create a new issue?

Using Nightly 1.44.0 2020-04-16

[2020-04-19 05:47] benjamin-yin001 opened #71313 "When remove the 5 character limit keywords ?"
When I first time try rust, I was very angry with these keywords: fn, i8 i16 i32...
Rust is not assembly programming language. A little  long keyword can give more readable semantics.

Why not use Golang-like keywords: func int8 int16 int32... ?

[2020-04-19 06:10] ayushmishra2005 commented on #70528
Thanks @eddyb . I would like to pick this issue.

@rustbot claim

[2020-04-19 06:11] memoryruins commented on #71313
Those examples are mostly types, and many type names are not as succinct. There is no 5 character limit on [keywords](https://doc.rust-lang.org/stable/reference/keywords.html). It can definitely take time to adjust to different naming between languages! If you would like help while learning, https://users.rust-lang.org/ is a better place to ask.

[2020-04-19 06:26] vnetserg commented on #58987
This code produces ICE on both stable and nightly:

[code]

[Playground.](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ddb62e1d9800af6dc7902c06aef51925)

Looks related to the issue.

[2020-04-19 07:11] pyfisch commented on #71266
I think including an optimized font for dyslexic readers is a nice gesture but I think readers are better served by setting their preferred font in the browser settings. Rustdoc does not stand out in any way that would warrant adding an additional font while the rest of the websites don't.

On the other hand i would change the maximum line length. [Typographers](https://practicaltypography.com/sum

[2020-04-19 07:36] lcnr commented on #70814
@grantperry is this inside a macro?

[2020-04-19 07:49] grantperry commented on #70814
@lcnr yes it is. Sounds like it's something you already know about?

[2020-04-19 08:03] lcnr commented on #70814
If you are using a proc macro using `quote` then this should be the same issue afaict

[2020-04-19 08:43] matthewjasper commented on #47949
The latest perf results in https://github.com/rust-lang/rust/pull/66703#issuecomment-593002683 are a bit higher than I would like, but I can't see any way to reduce it.

[2020-04-19 09:01] RalfJung commented on #47949
So https://github.com/rust-lang/rust/pull/61430 was marked as fixing this, but actually did not, or why did the issue get reopened?

[2020-04-19 09:03] matthewjasper commented on #47949
#61430 was reverted for being far too large a perf regression.

[2020-04-19 09:04] RalfJung commented on #47949
Oh, looks like it [was backed out due to a perf regression](https://github.com/rust-lang/rust/pull/61430#issuecomment-540175085).

I agree we should avoid perf regressions, but ultimately I think correct compilation is more important than performance... in particular I do think this qualifies as a soundness bug (like all incorrect complications do); there might be unsafe code relying on rustc doin

[2020-04-19 09:35] RalfJung commented on #47949
Here's an [example for why this is a soundness bug](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=066727d2e50405c4703854a1025ce311). `weird_drop::drop` is silly, but it should be correct, and this bug makes it cause UB (as you can see when running this code in Miri).

I'll re-add the I-unsound label.

[2020-04-19 09:41] mati865 commented on #71307
@rustbot claim

[2020-04-19 09:56] #71313 closed

[2020-04-19 10:12] RalfJung opened #71316 "ICE with unleash-miri: mutable allocation in constant"
I tried this code with `-Zunleash-the-miri-inside-of-you`:

[code]
This is a variant of the `mutable_const` test.

I am getting an ICE:
[code]
Cc @rust-lang/wg-const-eval

[2020-04-19 10:31] RalfJung commented on #71316
Hm okay in another case it looks like we are actually [expecting an ICE with miri-unleash](https://github.com/rust-lang/rust/blob/master/src/test/ui/consts/miri_unleashed/mutable_references_ice.rs)? That seems rather extreme though.

[2020-04-19 10:47] RalfJung commented on #71282
Cc @rust-lang/wg-const-eval

I would say this is expected. The error comes from actually computing the const (not some kind of static analysis). Associated consts cannot in general be evaluated eagerly as they could depend on generic parameters, unlike global consts.

You will [still get the error if you actually *use* `Foo::FOO`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018

[2020-04-19 10:54] LeSeulArtichaut commented on #71297
Assigning `P-low` [as discussed as part of the Prioritization-WG process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2371297.20internal.20compiler.20error.3A.20no.20entry.20found)

[2020-04-19 11:36] RalfJung commented on #71129
I [asked on Zulip if someone has an idea](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/Sharing.20code.20across.20trait.20implementations).

[2020-04-19 11:50] ZhangHanDong commented on #46871
I don't think  should implement `Try` for `Option<T>`.

`None` is not an error, it is just a state that may cause errors.

If Option<T> does not implement `Error`, then `try` block does not need `Ok-wrapping`.

from [niko](https://github.com/rust-lang/rust/issues/70941#issuecomment-612167041)

[2020-04-19 11:54] RalfJung commented on #31844
I have a question regarding the RFC text, hopefully this is a good place to ask.

In [the reuse section](https://github.com/rust-lang/rfcs/blob/master/text/1210-impl-specialization.md#reuse), this example is given:
[code]
I wonder how this is supposed to type-check, given that `tmp` has type `Self::Output` and nothing is known about this associated type. The RFC text does not seem to explain that,

[2020-04-19 11:57] ZhangHanDong commented on #46871
Should NoneError implement the Error trait?

[ Niko ](https://github.com/rust-lang/rust/issues/42327#issuecomment-366840247 )

Just a note

[2020-04-19 12:01] RalfJung commented on #37653
I think this is a serious limitation, because it means there is no way to have a partial impl where some items are *not* specializable. I do not see that limitation discussed in the RFC, nor a motivation for why it might be required. It's a big RFC though, so maybe I missed it?

Here is a short [discussion with a use-case](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/Sharing

[2020-04-19 12:08] RalfJung commented on #71129
One rather crude but definitely working approach (suggested by @hanna-kruppe) would be to use a macro to share this code... not sure if @oli-obk would like that though.^^

[2020-04-19 12:23] Luro02 opened #71320 "Implement `From<Cow<'a, B>> for Cow<'static, B>`"
[`std::borrow::Cow`](https://doc.rust-lang.org/std/borrow/enum.Cow.html) should provide a `From<Cow<'a, B>> for Cow<'static, B>` implementation.

Which could be used to make types independent of lifetimes:

[code]

this would error with

[code]

In the above case, one could move the `base` variable out of the block, but this is not always possible or desired.

It would be useful if one could do th

[2020-04-19 12:27] jonas-schievink commented on #71320
It cannot provide this implementation as it overlaps with the `From<T> for T` impl

[2020-04-19 12:27] #71320 closed

[2020-04-19 12:33] hanna-kruppe commented on #71129
Let the record show that I am also skeptical whether this is a good idea, despite pointing out the possibility. I'm not very confident since I'm not familiar with any of the code in question, but this seems like one of those cases where LOC reduction is "penny-wise, pound-foolish" -- it does not seem to help prevent future bugs (only trivial logic and compiler-checked signatures are duplicated), w

[2020-04-19 13:04] RalfJung commented on #71129
This issue is actually motivated by the maintenance burden that we currently have when changing the signatures of methods that are shared by both instances of the trait. Specifically, anything to do with pointers typically has a trivial implementation we want to use everywhere in the compiler, but because pointers *might* be tagged, we cannot just share that code. So specifically for this I feel l

[2020-04-19 13:39] jplatte commented on #49601
I'm running into the same issue with GAT ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=349fc868f6d766c9dc223d15a16d77ca)):

[code]

What's the way forward here?

[2020-04-19 14:00] ChiefMilesEdgeworth commented on #65568
Do you know what in particular I'm looking to replace? There are a lot of places where pprust is used, and I'm not sure which part I'd be taking out.

[2020-04-19 14:50] vorot93 commented on #62633
Anything out there that blocks stabilization?

[2020-04-19 15:17] Amanieu commented on #66740
@jamesmunns In no_std/embedded, have you ever had a need to differentiate out-of-memory situations from other types of panics? If not then I feel that #66741 is probably the "safest" approach to go for since it would be forward-compatible with any future mechanism we decide to have for specifying behavior on OOM (including the one proposed in this issue).

[2020-04-19 15:18] cuviper commented on #31844
Could that default be constrained `where Self: Add<Output = T>`? Or is that a causality loop?

[2020-04-19 16:01] Mark-Simulacrum commented on #58234
I've posted a stabilization PR in #71328.

[2020-04-19 16:17] Mark-Simulacrum commented on #71279
I'm uncertain that std would want to expose an API that dealt with 0 bytes by early truncating, it seems like a pretty odd desire to me (I would personally return an error, I think, and document that it's invalid input).

I do think that an API returning `Result<Cow<CStr>, InteriorNulByte>` could work, though. We'd return the CStr if there was a null byte at the very end, a CString if there was no

[2020-04-19 16:43] #71150 closed

[2020-04-19 17:07] fanzier opened #71329 "`unused_parens` should lint superfluous parentheses on the LHS of an assignment"
I tried this code:

[code]

I expected to see this happen: the compiler should reject this because there are unused parentheses on the left-hand side of the assignment.

Instead, this happened: the code compiled without errors.

### Meta
This bug exists on current stable, beta and nightly.

[2020-04-19 18:05] NickKolpinskiy commented on #71279
It felt a bit awkward to use `Result<T, E>` with the builder pattern. Users would need to call `unwrap()` either after using setters that accept strings or after the final call (which, right now, returns neither `Option` nor `Result`). Maybe this is something I shouldn't have worried about.

I could work on this. But since you said "I do wonder whether that's good to have", do you want to wait for

[2020-04-19 18:11] Mark-Simulacrum commented on #71279
If you don't mind that work being plausibly wasted, then you can work on it and open a PR.

Otherwise someone from libs team will need to chime in, but that can take time.

[2020-04-19 19:21] frantisekhanzlikbl commented on #69446
I also came across this error without using `move` closure:
[code]
Which errors with:
[code]
I'm not sure what the problem is though (because I'm still a novice to Rust and haven't fully wrapped my head around the innter workings of `Future`s yet).
From my understanding, the closure captures `y` by `&mut` reference which is somehow leaked outside of the closure's body.

Is this caused by the expan

[2020-04-19 19:59] NeoRaider commented on #59095
As @eddyb suspected, the `List<T>` code is what triggers the issue in the rustc build. I've reduced the code to the following minimal reproducers:

[code]

[code]

It seems that accessing or referencing any field of a tail-opaque struct past the first element triggers the assertion failure.

[2020-04-19 20:38] CAD97 commented on #70941
ping @withoutboats; we still would like to see full consensus here.

Though I suppose it's a pretty fair bet you're in favor of `try` blocks doing ok wrapping.

[2020-04-19 22:09] guigui64 opened #71335 "Formatting of strings with ANSI escape sequences"
The formatting of strings containing ANSI escape sequences does not behave as expected when specifying a fill/alignment width parameter:

[code]
Will print:
[code]

I expected the second line to match the first one only with the colors difference.

### Meta

`rustc --version --verbose`:
[code]

[2020-04-19 22:30] programmerjake commented on #65512
+1

I've been writing Rust for around 2 years now, and I never realized until now that `drop` was in the prelude -- I've always imported `std::mem` and used it as `mem::drop(x)`. I don't recall ever seeing any code that uses it from the prelude.

[2020-04-19 22:49] NeoRaider commented on #59095
Okay, digging further into this I have come to a few conclusions:

The rustc issue leading to the assertion failure is our attempt to generate a getelementptr instruction, which is invalid for unsized types. By commenting out a few sanity checks, I could get LLVM to emit IR with such an instruction, but it would then fail at a later step.

At this point, I was wondering why the issue only affects

[2020-04-19 22:57] zephyrus00jp commented on #56068
On 2020/04/19 3:23, Nikhil Benesch wrote:

Thank you for the update.

I will investigate the new option to lld and see if it helps me for my
local development of mozilla Thunderbird mailer.

It seems to me that many developers are now so used to fast SSD storage
that they are unaware of binary bloat very well.
If they use old-fashined hard disks, and slow ones at that, they will
notice the problem

[2020-04-19 23:02] #64362 closed

[2020-04-19 23:02] #71222 closed

[2020-04-19 23:27] kornelski commented on #65512
I'm regularly using `drop` from the prelude. It's very handy in `async`/`await` code where it's efficient and sometimes required to explicitly drop stuff before `.await` points.

[2020-04-19 23:50] sfackler commented on #71335
The standard library has no knowledge if the thing that eventually displays a string has a special understanding of particular sequences of characters. `\x1b[31` has a width of 4 as far as it knows.

[2020-04-20 00:08] #71335 closed

[2020-04-20 00:30] MichaelBurge commented on #67046
I notice that the `impl<T> Default for [T; N]` are out-of-order on this page:
https://doc.rust-lang.org/std/primitive.array.html

For example, I see the implementation for 1, then 15, then 0, then 4. It seems like that might be covered by this same issue.

[2020-04-20 00:55] ethanhs opened #71339 "Proc macro attribute with raw identifier causes ICE"
### Code

I have created the following repository with a minimal as I could think of reproduction of the ICE:

https://github.com/ethanhs/Rust-ICE-repro

This was discovered in the wild a while ago (I wanted to reduce it before reporting, sorry for the delay). https://github.com/PyO3/pyo3/issues/743

### Meta

I used the latest nightly version of rustc

`rustc --version --verbose`:

[code]

### Er

[2020-04-20 02:51] jhpratt commented on #65512
@kornelski Is it something that most people use on a regular basis though? Other items in the prelude are used _all the time by a lot of people_.

[2020-04-20 03:31] scottmcm commented on #70887
Regarding naming: I'm in favour of `ilog2` because it's also an operation that would make sense to provide on floating-point numbers.  Precedent: https://graphics.stanford.edu/~seander/bithacks.html#IntegerLogFloat

[2020-04-20 04:28] ecstatic-morse commented on #49146
# Summary

I propose that we stabilize `#![feature(const_if_match)]` with the current semantics.

Specifically, `if` and `match` expressions as well as the short-circuiting logic operators `&&` and `||` will become legal in all const contexts. A const context is any of the following:

- The initializer of a `const`, `static`, `static mut` or enum discriminant.
- The body of a `const fn`.
- The val

[2020-04-20 04:40] retep998 commented on #58713
There's now a bounty for this issue to incentivize someone to work on implementing this feature.

https://www.bountysource.com/issues/70533351-tracking-issue-for-rfc-2627-link-kind-raw-dylib

[2020-04-20 04:43] ecstatic-morse commented on #49146
This is intended to be the stabilization report prior to the FCP. I can't open FCP, however.

[2020-04-20 06:02] programmerjake commented on #70887
Regarding naming: I'm fine with `ilog2` or the much more explicit [`floor_log2`/`ceil_log2`](https://docs.rs/algebraics/0.2.0/algebraics/algebraic_numbers/struct.RealAlgebraicNumber.html#method.checked_floor_log2) like is used in the `algebraics` library I wrote.

[2020-04-20 07:10] rocallahan opened #71341 "Incomprehensible error message involving lifetimes adding extension methods to `dyn Trait`"
I'm defining a trait that adds extension methods to `dyn <another-trait>`:
[code]
Complete example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9918f3c4541601415f65606b4bfa0790

Rust stable and nightly both give
[code]
This is confusing. Obviously, adding a lifetime parameter identical to one already present doesn't seem sensible. Furthermore there is no clue here indic

[2020-04-20 07:28] petrochenkov commented on #71339
Duplicate of https://github.com/rust-lang/rust/issues/59998.

[2020-04-20 08:13] CodesInChaos commented on #67058
I would have preferred having the word `trunc(ate)` in the method name, but it looks like it's too late to change that now.

[2020-04-20 08:27] domibay-hugo commented on #67173
Since the Rust application compiles on Centos6 and Centos7 it indicates that the Rust Code can work with either Versions of the `glibc` Library, but there might be a switch which decides on how to call the `memcpy()` Function
And as all this discussion comes to explain it is not the `glibc` Library which does not let you write an application which is compatible with older `glibc` Versions.
On Cent

[2020-04-20 08:34] GuillaumeGomez commented on #71266
It could be a good start, indeed!

[2020-04-20 08:51] #71339 closed

[2020-04-20 08:58] sanpii opened #71342 "Poor error message when using crate in macro_rules"
Hello,

I wrote a macro and I forget using `$crate`, I wrote `crate` instead. The macro works fine in my lib but when I use it in another crate (or in examples code), I have a compilation error (it’s normal) but the error message doesn’t help me to find the problem.

I tried this code:

[code]

[code]

I expected to see this happen: a message teeling me to use `$crate` instead of `crate` (or maybe

[2020-04-20 09:03] mati865 commented on #67173
@domibay-hugo as said in https://github.com/rust-lang/rust/issues/67173#issuecomment-563353655 there is probably no easy way to tell LLVM to link older symbol (though if you find it many people will be grateful).

Rust does exactly the same thing as other compiler do. Take `memcpy` example from http://www.cplusplus.com/reference/cstring/memcpy :
[code]

[2020-04-20 09:08] kornelski commented on #48671
#68677

[2020-04-20 09:08] kornelski commented on #56700
Still in progress #68677

[2020-04-20 09:13] domibay-hugo commented on #67173
@jonas-schievink
Yes, Rust Applications compile on Centos6
As mentioned I set up an Centos6 Build Host with the `rustup` script to conclude this discussion.
[code]
But now I am completely surprised about the Application Linkage
[code]
Because I see that the **Rust Standard Library** does **NOT require** `GLIBC_2.14` to run.
It just runs fine with `GLIBC_2.2.5` as well.

Even more `hello_world` Cen

[2020-04-20 09:21] mati865 commented on #67173
It just runs fine with GLIBC_2.2.5 as well.

Rust is currently built from CentOS 5: https://github.com/rust-lang/rust/blob/4ca5fd2d7b6b1d75b6cb8f679e8523fb3e7b19e2/src/ci/docker/dist-x86_64-linux/Dockerfile#L1
That way it doesn't pull any too new symbols.

It comes from the system you are building on.
When the linker looks for `memcpy`, glibc on the system you are building on points it to use `mem

[2020-04-20 09:22] kornelski commented on #65512
I use `drop` more often than `try_from`, for example. Probably because one is in the prelude, and the other isn't :)

I think removal of drop is an **unnecessary churn**:

* it has legitimate use-cases, like unlocking mutexes early, explicitly disconnecting mpsc senders, removing ballast from `Future`s.
* it's been used in code examples and the Rust Book.
* it's harmless.
* dropping it would not i

[2020-04-20 09:23] ethanhs commented on #71339
Thanks, sorry for the dupe :)

[2020-04-20 09:23] kennytm commented on #67046
@MichaelBurge the array issue is #40905/#42963, irrelevant to this issue.

[2020-04-20 09:48] taiki-e commented on #71153
Looks like dup of #55997

[2020-04-20 10:16] lcnr commented on #70814
I tried to fix this by checking if the surrounding expression comes from an expansion, but this didn't actually fix this. :thinking: @matklad do you have an idea/can this be fixed in quote?

[2020-04-20 10:24] thepowersgang opened #71344 "`broken MIR` `NoSolution` sized array initialiser with addition in generic tuple destructure"
According to my CI this started 2020-04-16 (https://travis-ci.org/github/thepowersgang/rust_os/builds/675740673) - `nightly-x86_64-unknown-linux-gnu installed - rustc 1.44.0-nightly (d2230290f 2020-04-15)`

## Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-04-20 10:32] pickfire commented on #64796
@mibac138 Err, no need. You have already done more than me, I don't know how to change the `eval_condition`.

[2020-04-20 10:34] matklad commented on #70814
I don't think I am familiar with the code in question @lcnr

[2020-04-20 10:47] domibay-hugo commented on #67173
@mati865
I tried your given C Code on Centos6 and Centos7.
Compiled on Centos6 it runs as well on Centos7.
[code]
But then I found an interesting information at:
https://stackoverflow.com/questions/4032373/linking-against-an-old-version-of-libc-to-provide-greater-application-coverage
so I added to the C Code:
[code]
Now the Linkage is different:
[code]
Since `glibc-2.17` still provides `(GLIBC_2.2

[2020-04-20 10:51] LeSeulArtichaut commented on #71344
`cargo-bisect-rustc` reports a regression in d12f0304839e599d498b3faaa652336b273bdcc8 (PR #70452), cc @eddyb

[code]

[2020-04-20 11:05] mati865 commented on #67173
That is entirely expected, glibc is backwards compatible. It has no forward compatibility though so it won't run on CentOS 6 if you compiled it on CentOS 7.

As said before Rust creates call to `llvm.memcpy`. LLVM converts it to `memcpy` and then glibc points to `memcpy@@GLIBC_2.14`.
There is no issue at Rust side, you have to convince LLVM to use `memcpy@@GLIBC_2.2.5`.

[2020-04-20 11:11] pickfire commented on #68455
@Licenser Are you still working on this?

[2020-04-20 11:17] Licenser commented on #68455
I ported the validator https://github.com/simd-lite/faster-utf8-validator-rs but from what I understand this all falls apart with the stdlib not being able to use CPU native features under the hood?

[2020-04-20 11:18] domibay-hugo commented on #67173
or get rid of OS depending bindings by replacing it by own code ? ...
as the other compiler does which I quoted.

[2020-04-20 11:36] hanna-kruppe commented on #68455
It would need to be gated under runtime CPUID checks or left disabled by default, gated under a `cfg(target_feature=...)` that is only true if users rebuild libstd with those target features enabled (currently an unstable Cargo feature, but should get more accessible in the future). The latter is easy but only helps software that can afford to only run on newer processors, the former faces the cha

[2020-04-20 11:47] nikomatsakis commented on #71117
@RalfJung  Thanks for the explanation, that makes sense.

Regarding unsized return values, it's very much not clear how they should work (who allocates the memory?), so I wouldn't worry about *that*. I think that if we do ever try to implement such a scheme, we can wrestle with it then.

[2020-04-20 11:54] lcnr commented on #70814
Sorry, mb :sweat: meant @dtolnay as he is the owner of `quote`.

[2020-04-20 12:04] mark-i-m commented on #49146
@ecstatic-morse Thank you so much for all your hard work on this issue!

[2020-04-20 12:20] GuillaumeGomez opened #71347 "Emit a warning when a codeblock is using "compile-fail" instead of "compile_fail""
I just found out that a lot of error code explanations were using "compile-fail" instead of "compile_fail". I'm fixing this issue as part of something a bit bigger, however I assume this error is pretty common in rust and that rustdoc should warn people about it.

The big issue here is that since it's not a known tag, rustdoc doesn't recognize the codeblock as a rust one and therefore doesn't test

[2020-04-20 12:22] phaazon opened #71348 "String-based const generics, associated types and where Self clause ICE when implementors are explicitly selected"
Hi,

I was playing with `const_generics` and get ICEd. Basically, I was trying to make a “type-level-string-based” getter, by using a `const &'static str`, using a trait and associated type to get. The trait declaration and implementors **are okay**. However, usage is not, especially when using the trait in a `where Self: _` clause.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-04-20 13:01] Michael-F-Bryan opened #71353 "Type validation mistreats layout errors"
The original problem got fixed by avoiding the broken code paths; this issue now tracks [fixing those code paths](https://github.com/rust-lang/rust/issues/71353#issuecomment-617901923).

### Original issue

In [the `ffi_helpers` crate](https://github.com/Michael-F-Bryan/ffi_helpers) we have a [`Nullable`](https://docs.rs/ffi_helpers/0.2.0/ffi_helpers/trait.Nullable.html) trait which gives you a ge

[2020-04-20 13:24] RalfJung commented on #71353
Cc @rust-lang/wg-const-eval

This is odd, I am indeed responsible for the error but that was back in https://github.com/rust-lang/rust/pull/66147 which has long arrived on stable -- so the error itself cannot be the source of the regression. Would be good to get the regression narrowed down a bit more.

I also don't understand why `==` seems to be needed to trigger this. Might be some interaction

[2020-04-20 13:25] nbp opened #71354 "Fields should not alias Vec content."
I tried this code ( https://rust.godbolt.org/z/GuvQi9 ), which mutates a field while reading the content of a buffer.

[code]

Here the assertion is capable of removing the branches which are within the `pop` function, to make a branch-less function apart from the assertion code:

[code]

However, the generated code still contains a spill of the `len` field of the vector for each pop-ed value whic

[2020-04-20 13:26] jonas-schievink commented on #71353
@rustbot ping bisect

[2020-04-20 13:27] RalfJung commented on #71353
It's not an ICE, but if ICE-breakers also help with other bisects then yes this would be awesome. :)

[2020-04-20 13:41] Michael-F-Bryan commented on #71353
If it helps pinpoint when the error was introduced, my `rustc` is usually within a couple days of the latest `nightly` and I made a release of that crate on 2020-04-07 without hitting any compilation errors.

[2020-04-20 13:47] jannickj commented on #50923
@nicholastmosher any progress?, this is really starting to become annoying :/

[2020-04-20 13:51] nikomatsakis commented on #27060
@comex I don't believe there is a great link, it's an idea that's been quietly simmering. I agree that it is would cause a great deal of churn, and I think we'd want to think very carefully about that aspect of it.

If we were going to pursure this, I think a good idea if we wanted to pursue this would be to try and document the motivations, explore what a "green field" design might look like, and

[2020-04-20 13:58] nikomatsakis commented on #27060
Oops, send that message a bit early. @comex I wanted to add that some of the motivations I can think of would be:

* Ergonomic and safety hurdles around raw pointers: the language doesn't make the "most obvious" thing the correct and performant thing here, which is what we usually attempt to do (e.g., `&raw const x` would generally be better than `&x`, but I predict the latter is what most people

[2020-04-20 14:01] nikomatsakis commented on #38751
There is also a hard-coded limit in the trait system. If you have to solve a goal like `?X: Into<ReturnType>`, we will fail to resolve, but if you have to solve a goal like `ReturnType: From<?X>`, we will potentially succeed and infer a value for `?X`.

So I could see that changing `?` to use `Into` could cause inference failures where none existed before.

I'm inclined to close this issue, myself

[2020-04-20 14:11] nikomatsakis commented on #31436
@phaylon While I appreciate the careful way you wrote that comment, I'm afraid it *is* rather unconstructive. Error conversion is part of `?` and that is not going to change, and, in light of that, ok-wrapping is basically orthogonal from the rest of this discussion.

[2020-04-20 14:12] tspiteri commented on #70887
@scottmcm On the other hand, floating-point numbers currently has `powi` and `powf`, while integers have `pow` not `powi`. So it would be consistent with that to have integer functions called `log` and floating-point functions called something else. (I'm just mentioning this for completeness, I haven't got a preference either way yet.)

[2020-04-20 14:13] nikomatsakis commented on #71033
Actually, @RalfJung, I realize I'm a bit uncertain about how validity invariants interact with borrows -- if I have a local variable that `x: T` that is mutably borrowed, must the validity invariant for type `T` hold at every moment, or only when the borrow is ended (by `x` being used again)? This seems relevant to race conditions and the like.

[2020-04-20 14:13] nikomatsakis commented on #71033
Perhaps better to move that off line =)

[2020-04-20 14:14] RalfJung commented on #27060
Note that a macro has been mentioned during the RFC discussion for `&raw` (https://github.com/rust-lang/rfcs/pull/2582#issuecomment-438850491, https://github.com/rust-lang/rfcs/pull/2582#issuecomment-499845969). One response was that *just* a macro isn't enough, because we need a new MIR operation, and also people didn't want a "magic macro" that directly goes to a MIR primitive.

But I don't thin

[2020-04-20 14:16] senden9 commented on #71353
Regression in nightly-2020-04-17. Looking currently for regression commit between 2020-04-17 and 2020-04-16.

[2020-04-20 14:20] hanna-kruppe commented on #27060
Yes, presumably the new syntax would remain unstable and there's a macro that expands to it (using `allow_internal_unstable`) that gets stabilized sooner. If and when some "proper" syntax for the underlying operation is stabilized later, it becomes a trivial macro any user could have written.

[2020-04-20 14:25] Mark-Simulacrum commented on #38751
I am also inclined to close this -- it seems clear that we cannot change this now anyway.

[2020-04-20 14:25] #38751 closed

[2020-04-20 14:29] tspiteri opened #71355 "powi: Different rounding behaviour between debug and release mode, and across platforms"
**Note:**  *This was deemed a docs issue; see [here](https://github.com/rust-lang/rust/issues/71355#issuecomment-1902618668) for more details.*

The code below tries to print the minimum positive subnormal number in different ways.

[code]

In release mode, this output is given:

[code]

In debug mode, this output is given:

[code]

That is `2f64.powi(-1074)` gives different results for release an

[2020-04-20 14:30] RalfJung commented on #71354
I think this would require making the `Unique` that `Vec` uses internally actually mean something (AFAIK currently it does not). One issue here is figuring out what exactly the semantics of `Unique` in Rust should be, and if we can make it so that it can map to `noalias` in LLVM (which might help here -- that would be a good experiment to make).

The currently proposed aliasing model is [Stacked B

[2020-04-20 14:30] phaux commented on #31436
If `try` functions (with return and throw types) are ever to be considered, then maybe it would be worth to also consider the syntax for ascribing try block to be something similar.

e.g.

[code]

[2020-04-20 14:33] RalfJung commented on #71355
Cc @hanna-kruppe @joshtriplett

This is surprising to me. Does IEEE not specify `powi` behavior? Would be interesting to know what the exact LLVM transformation is that is changing behavior here.

Thanks for bringing this up, at the least this needs to be documented better in the reference (like other floating point subtleties, e.g. https://github.com/rust-lang/rust/issues/55131).

[2020-04-20 14:37] RalfJung commented on #71355
FWIW, Miri prints
[code]
As expected, it matches the debug behavior. However, Miri implements `powi` using host floats when it really should use soft-float emulation, so this result does not actually mean that much. apfloat does not seem to support soft-float emulation of `powi`, though.

[2020-04-20 14:45] leoyvens commented on #50935
Triage: Situation unchanged.

[2020-04-20 14:51] jonas-schievink commented on #65996
Fixed by https://github.com/rust-lang/rust/pull/70156

[2020-04-20 14:51] #65996 closed

[2020-04-20 15:00] cuviper commented on #67173
Use a `*-linux-musl` target if you want to avoid glibc altogether. Otherwise, `*-linux-gnu` is beholden to the glibc's ABI policy, where symbols are versioned to introduce changes, and the latest version is selected at link time.

FWIW, the `memcpy` symbol is a good example where you probably do want the new version when possible, when your deployment targets support it. The old `memcpy` acted lik

[2020-04-20 15:00] CodesInChaos commented on #27060
How about allowing `p.field` on raw pointers, which returns a raw pointer to that field?

[2020-04-20 15:13] hanna-kruppe commented on #71355
LLVM [performs constant folding of this intrinsic using the host libm](https://github.com/llvm/llvm-project/blob/9cf9710bb0d61cb5c27c6e780af6a182cb162bfb/llvm/lib/Analysis/ConstantFolding.cpp#L2224-L2228), but perhaps it performs a different computations? If I'm reading cppreference right, [since C++11 `std::pow` now longer has a pow(double, int) overload but promotes it to pow(double, double)](ht

[2020-04-20 15:19] joshtriplett commented on #66740
Checking Centril's box as he's taking a break from the project.

[2020-04-20 15:19] joshtriplett commented on #66741
Checking Centril's box as he's taking a break from the project.

[2020-04-20 15:20] RalfJung commented on #27060
@CodesInChaos that has been suggested multiple times in [RFCs](https://github.com/rust-lang/rfcs/pull/2582) and IRO discussions. The conclusion was that it would be really confusing if `reference.field` dereferences the pointer but `raw_pointer.field` does not. The two expressions look very similar but would have wildly different types. It's also not how any other language works.

Also this issue

[2020-04-20 15:23] RalfJung commented on #71355
Oh, so LLVM should not use `std::pow` there, it should use some form of `powi`?

[2020-04-20 15:27] hanna-kruppe commented on #71355
I assume that was the intent of the particular casts it already uses, but I don't know if "some form of `powi`" is available in C++11 or if it would have to be re-implemented.

[2020-04-20 15:37] tspiteri commented on #71355
In {GCC,Clang} {C,C++} you could also write `__builtin_powi(f, i)`.

[2020-04-20 15:42] tspiteri commented on #71355
Though at least in GCC, the [documentation] says that `__builtin_powi` does not have correct rounding guarantees: “Unlike the `pow` function no guarantees about precision and rounding are made.”

[documentation]: https://gcc.gnu.org/onlinedocs/gcc-9.3.0/gcc/Other-Builtins.html#index-_005f_005fbuiltin_005fpowi-1

[2020-04-20 15:49] tspiteri commented on #71355
Maybe a comment could be added in the documentation of [`powi`](https://doc.rust-lang.org/std/primitive.f64.html#method.powi) in the same spirit of the comment for [`log`](https://doc.rust-lang.org/std/primitive.f64.html#method.log), changing

“Using this function is generally faster than using `powf`”

to

“Using this function is generally faster than using `powf`, but owing to implementation det

[2020-04-20 15:52] RalfJung commented on #71355
This looks like an LLVM bug, I don't think we should adjust our docs/spec to that.

[2020-04-20 15:56] comex commented on #27060
@nikomatsakis Thanks for the more detailed explanation :)

[2020-04-20 16:12] hanna-kruppe commented on #71354
There's the additional challenge that LLVM currently lacks a sound encoding (other than dropping the aliasing information entirely) of "scoped" noalias information other than `noalias`-on-function-arguments. It's a difficult problem and while a promising approach tailored to C `restrict` might become reality in the medium-term future, I'm not even sure if the approach taken for fine-grained `restr

[2020-04-20 16:17] pickfire commented on #46955
Is this fixed yet?

[2020-04-20 16:21] pickfire opened #71357 "x.py feature parity with cargo (alias)"
`cargo` currently supports `cargo t`, `cargo b` and a few others even though not so discoverable (https://github.com/rust-lang/cargo/issues/6104#issuecomment-589945732).

It would be good to let `x.py` supports the aliases supported by `cargo`, such as `./x.py t`, `./x.py b` and such.

This issue has been assigned to @mibac138 via [this comment](https://github.com/rust-lang/rust/issues/71357#issue

[2020-04-20 16:27] CAD97 opened #71358 "proc_macro does not have a constructor for byte literals"
We have `Literal::string(&str)` for string literals, `Literal::character(char)` for character literals, and `Literal::byte_string(&[u8])` for byte string literals, but no `Literal::byte_character(u8)` for byte literals.

[2020-04-20 16:30] jonas-schievink commented on #63997
Just in case other people run into this being unstable: It's still possible to use function pointers in `const fn` as long as they're wrapped in some other type (eg. a `#[repr(transparent)]` newtype or an `Option<fn()>`):

[code]

[2020-04-20 16:35] chrysn opened #71359 "Regression in usable type complexity: overflow representing the type `...`"
I tried building [the iron example of typed-html](https://github.com/bodil/typed-html/tree/master/examples/iron) (version 810fc820, but it's not changing frequently) the code is heavy with (partially recursive) generic types.

With the latest beta (1.43) or stable (1.42), builds succeed; with nightly, they fail with:

[code]

The iron example is comparatively simple typed-html usage. I've original

[2020-04-20 16:39] RalfJung commented on #71033
@nikomatsakis I think your question is tracked at https://github.com/rust-lang/unsafe-code-guidelines/issues/84 :)

[2020-04-20 16:51] SimonSapin commented on #70460
PR https://github.com/rust-lang/rust/pull/71360 proposes an alternative to this without a portability lint, using instead the same pattern as `std::os`.

[2020-04-20 16:56] gendx opened #71361 "Non-reproducible builds depending on the compiling OS"
[Tock](https://github.com/tock/tock) is an operating system written in Rust for embedded platforms (e.g. Cortex-M, RISC-V). We've been trying to make builds reproducible, with good progress (https://github.com/tock/tock/issues/1666). In particular:
- pinning a version of the Rust compiler,
- using `--remap-path-prefix`,
- using a Cargo workspace,
- using `cargo rustc` to avoid passing custom linke

[2020-04-20 16:57] chrysn commented on #71359
Here's what `cargo bisect-rustc` says about it:

# Regression found in the compiler

searched nightlies: from nightly-2020-04-05 to nightly-2020-04-12
regressed nightly: nightly-2020-04-10
searched commits: from https://github.com/rust-lang/rust/commit/485c5fb6e1bf12cd11a8fac5ee94962e17cff74b to https://github.com/rust-lang/rust/commit/94d346360da50f159e0dc777dc9bc3c5b6b51a00
regressed commit: htt

[2020-04-20 17:00] jonas-schievink commented on #71361
This might be (but doesn't have to be) a Cargo bug, since it generates that hash.

[2020-04-20 17:02] jonas-schievink commented on #71359
Maybe https://github.com/rust-lang/rust/pull/70896?

[2020-04-20 17:12] LeSeulArtichaut commented on #71353
If it regressed in 7f3df57, I guess the only PR that could have caused this is #71141? It might explain why `==` is needed to trigger the error. Otherwise the culprit might be #71149?

[2020-04-20 17:17] jonas-schievink commented on #71353
My guess would've been https://github.com/rust-lang/rust/pull/70566

[2020-04-20 17:18] RalfJung commented on #71353
@senden9 awesome, thanks a lot.

 I am very sure it's not  #71149, that would ICE complaining about bad types in a function call.

I doubt it's https://github.com/rust-lang/rust/pull/71141, that doesn't sound likely to me.

My guess is that it's https://github.com/rust-lang/rust/pull/70566 (Cc @jumbatm), which affects const-prop and what code const-eval gets run on. But still that doesn't explain

[2020-04-20 17:19] RalfJung commented on #71353
Bingo, the `RUSTC_MIRI_BACKTRACE` also points at const-prop:
[code]

[2020-04-20 17:23] Vlad-Shcherbina opened #71362 "Inline asm doesn't complain about invalid clobbers"
### To reproduce

Try compiling the following program:
[code]

### Expected result

It should fail with an error
[code]
Like how gcc and clang do in inline asm in C.

### Actual result

It compiles without an error.

----

Version info:
[code]

[2020-04-20 17:23] RalfJung commented on #71353
So it is probably this call that is failing:

https://github.com/rust-lang/rust/blob/33500a2bbfec4482e0f149eafdeb9e111feeb5fc/src/librustc_mir/transform/const_prop.rs#L534

[2020-04-20 17:25] LeSeulArtichaut commented on #71353
Oops, I meant #70566. I can't even copy-paste correcly 😄

[2020-04-20 17:29] RalfJung commented on #71353
But then it gets weird. We end up here:

https://github.com/rust-lang/rust/blob/33500a2bbfec4482e0f149eafdeb9e111feeb5fc/src/librustc_mir/interpret/operand.rs#L489

and then here

https://github.com/rust-lang/rust/blob/33500a2bbfec4482e0f149eafdeb9e111feeb5fc/src/librustc_mir/interpret/eval_context.rs#L444

And then somehow we end up *evaluating a const* (?!?) even though we just wanted to subst o

[2020-04-20 17:41] mbilker commented on #34538
Considering the nature of this issue, if a panic occurs and the `dbghelp.dll` is the stock DLL included with Windows XP, then `SymInitializeW` is not available, only `SymInitialize`, causing a double panic.

[2020-04-20 17:41] RalfJung commented on #71353
I can see it evaluating `<*mut T as Nullable>::NULL`. That is quite strange because we don't actually know `T`, so this really cannot be evaluated... but somehow we do not have sanity checks that catch this?

[2020-04-20 17:43] mbilker commented on #34538
This was after some testing, if I copied a slightly newer `dbghelp.dll` over into the DLL search path (in my case, the same directory as the executable), then no issues whatsoever. I do need some way to handle recursive locking or follow the old behavior and use a writer count of some sort since that's how `EnterCriticalSection` works.

[2020-04-20 18:36] dtolnay opened #71363 "Regression in spacing of left margin in diagnostics"
[code]

[code]

Notice the extra one column of indentation in front of the pipes. I presume this is unintentional because almost any other error is still printed without such extra indentation; for example:

[code]

The relevant commit range is https://github.com/rust-lang/rust/compare/52fa23add6fb0776b32cc591ac928618391bdf41...dbf8b6bf116c7bece2987ff4bd2792f008a6ee77.
Mentioning @estebank @eddyb

[2020-04-20 18:44] estebank commented on #71363
Could you show the output of `--message-format=json`? The only thing I can think of is that there's a `DUMMY_SP` span that isn't being displayed.

[2020-04-20 18:51] dtolnay commented on #71363
<details>
<summary><code>cargo +nightly-2020-04-20 check --message-format=json | jq</code></summary>

[code]
</details>

[2020-04-20 19:23] dtolnay commented on #70814
Labeling <kbd>regression-from-stable-to-nightly</kbd>. I would consider accepting a workaround in quote if somebody who is not me sends a PR and it is a very simple fix, but really this needs to be fixed in rustdoc / rustc.

[2020-04-20 19:28] cuviper commented on #62633
I guess it could use more in-repo callers? I do see that `rustc_middle` and `rustc_mir` are using `expect_none`, at least. Grepping for `assert.*is_none` shows a lot more possibilities, but maybe some of those would not like the added code to `Debug` the value in the panic message.

[2020-04-20 19:47] jonas-schievink commented on #49679
This appears to be fixed (the binding names are now different, but those still don't cause conflicts, presumably because they're gensym'd, or whatever our equivalent to that is)

[2020-04-20 19:47] #49679 closed

[2020-04-20 19:57] jonas-schievink commented on #49543
The section doesn't seem to be created anymore, so closing

[2020-04-20 19:57] #49543 closed

[2020-04-20 20:06] jonas-schievink commented on #49352
This is fixed.

[2020-04-20 20:06] #49352 closed

[2020-04-20 20:07] estebank commented on #71363
I'm pretty sure it's happening because of this

[code]

It is weird because that file _should_ be accessible to `rustc` in all environments now. I think we can get away with some well placed `if sp == DUMMY_SP { return; }` in a few places.

[2020-04-20 20:10] jonas-schievink commented on #49282
Triage: Not sure if this is still an issue.

Updated libcore SIMD code:

https://github.com/rust-lang/rust/blob/8ce3f840ae9b735a66531996c32330f24b877cb0/src/libcore/ptr/mod.rs#L418-L465

[2020-04-20 20:18] jonas-schievink commented on #49086
This should be filed over at https://github.com/rust-lang/cargo, so closing

[2020-04-20 20:18] #49086 closed

[2020-04-20 20:18] jonas-schievink commented on #49086
Actually this is properly documented now: https://doc.rust-lang.org/cargo/reference/config.html#hierarchical-structure

[2020-04-20 20:24] jonas-schievink commented on #48800
Stage 1 tests are quite reliable now, so closing.

[2020-04-20 20:24] #48800 closed

[2020-04-20 21:54] nikomatsakis commented on #71304
Whoops =)

[2020-04-20 21:55] jonas-schievink commented on #48406
Closing as not-a-bug

[2020-04-20 21:55] #48406 closed

[2020-04-20 22:05] jonas-schievink commented on #48299
This is almost certainly not going to be worth it – the only cases that could be optimized in the `format_args!` macro (while assuming specific implementations in libcore) use literals as formatting arguments, which is useless unless you're just testing out something, in which case it doesn't need to be fast.

As such, closing this issue.

[2020-04-20 22:05] #48299 closed

[2020-04-20 22:07] nikomatsakis commented on #45408
I think it's still relevant, but I'd have to dig more into the code to be sure. An "anonymous node" is a node in the dependency graph that doesn't correspond to a query. They primarily occur in trait selection, if I recall.

[2020-04-20 22:09] LeSeulArtichaut commented on #70814
Let’s try to find the cause of the regression
@rustbot ping cleanup

[2020-04-20 22:15] jonas-schievink commented on #57613
Closing as a duplicate of https://github.com/rust-lang/rust/issues/47851

[2020-04-20 22:15] #57613 closed

[2020-04-20 22:16] #58234 closed

[2020-04-20 22:16] #71086 closed

[2020-04-20 22:18] nikomatsakis commented on #71265
One challenge here is that the borrow checker is kind of smart. For example, this code compiles ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2ddfd8ef7623cab9983310f625ce44c6)):

[code]

The challenge here is that `&mut foos[0].x` cannot be compiled as two separate MIR statements like

[code]

because then it would conflict with the later access to `foos[0].

[2020-04-20 22:21] Dylan-DPC commented on #70814
@rustbot ping cleanup

[2020-04-20 22:23] nikomatsakis commented on #47949
Hmm, yeah, I had forgotten about this.

[2020-04-20 22:28] nikomatsakis commented on #37653
@RalfJung it was a deliberate simplification, but one that I'm still not 100% sure was the right call. The initial version of the RFC had `partial impl` and `default fn` as two distinct concepts. They were merged because it seemed pretty clear that it was going to be confusing somehow, particularly if we had `partial default impl`, but that did imply giving up on the ability to have some things fi

[2020-04-20 22:30] jonas-schievink commented on #47847
Rustup issues should be filed at https://github.com/rust-lang/rustup, but this one doesn't sound particularly actionable

[2020-04-20 22:30] #47847 closed

[2020-04-20 22:31] nikomatsakis commented on #31844
@RalfJung I agree that seems wrong.

[2020-04-20 22:35] nmccarty commented on #71266
@rustbot claim

[2020-04-20 22:42] jonas-schievink commented on #47685
This is basically a duplicate of https://github.com/rust-lang/rust/issues/28179, so closing in favor of that

[2020-04-20 22:42] #47685 closed

[2020-04-20 22:45] jonas-schievink commented on #47670
Closing in favor of https://github.com/rust-lang/rust/issues/44491 / https://github.com/rust-lang/rust/issues/20671

[2020-04-20 22:45] #47670 closed

[2020-04-20 22:49] ctiller opened #71368 "Async execution can get lost during refactoring"
I was recently refactoring some code that originally looked like this:
[code]

bar() was far away from the definition of foo().
I had need to refactor the code so that foo was also async, and so now I had:

[code]

This gives no compiler diagnostic and instead the body of foo is not executed.

[2020-04-20 22:53] joshtriplett commented on #70436
On Fri, Apr 17, 2020 at 01:12:55AM -0700, Thomas de Zeeuw wrote:

Under normal circumstances, I'd expect the kernel to process as much of
a `writev` call as possible. What I'm suggesting is that if `writev`
returns early, such that you have to re-call it in order to finish
writing, then making an additional `write` call before doing so does not
seem likely to cause a problem.

If someone is trying

[2020-04-20 22:56] jonas-schievink commented on #47345
Not our bug, closing.

[2020-04-20 22:56] #47345 closed

[2020-04-20 22:57] jonas-schievink commented on #71368
Why do you create an option and do nothing with it?

[2020-04-20 23:01] ctiller commented on #71368
did I minimize this example too far?... actual code was closer to:
[code]

[2020-04-20 23:04] tmandry commented on #71368
The issue is that `Option<T>` is not `#[must_use]` even when `T` is. We can't change this backwards compatibly, but perhaps adding a warning is possible.

[2020-04-20 23:05] jonas-schievink commented on #71368
Also see https://github.com/rust-lang/rust/issues/67387

(`#[must_use]` is just a warning, so it can be added without breaking code)

[2020-04-20 23:06] mark-i-m commented on #31844
I have a question about procedure: how meaningful is this issue and how meaningful is it for people to try out this feature? As I understand it the current implementation is unsound and incomplete and will likely be completely replaced by chalk or something else. If that's true, should we just de-implement this feature and others (e.g. GATs) until they can be properly redone?

[2020-04-20 23:08] jonas-schievink commented on #47163
Can someone give an update on this? Seems bad if we haven't run these tests for over 2 years.

[2020-04-20 23:12] tema3210 commented on #42327
Isn't try trait is supposed for allowing use `?` operator in functions which retunstry trait implementors?
I just feel that discussion went away from original topic;
Reply to @zserik s last post: The macro you described is pointless - charging return type of function based on build configuration will break every match on function result in every possible build configuration except the only one, re

[2020-04-20 23:13] Avi-D-coder commented on #31844
Please don't de-implement. Broken, unsound and incomplete still allows experimentation.

[2020-04-20 23:13] tmandry commented on #67387
Can we extend this to `Option<T>` as well? See #71368.

[2020-04-20 23:15] programmerjake commented on #31844
Please don't, PyO3 (Python bindings library) currently depends on specialization. See https://github.com/PyO3/pyo3/issues/210

[2020-04-20 23:26] nmccarty commented on #71266
I think in this case, it makes more sense to have the entire base style be swappable with a dyslexic friendly version, doing a bit more than just swapping the font, instead substantially modifying the CSS to implement all reasonable accessibility guidelines, like line height, paragraph width, and what not. To get started, I'm just working on swapping the font and increasing the font size.

[2020-04-20 23:26] jumbatm commented on #71353
We already have a very similar test for Nullable. It's curious that it didn't catch this.

https://github.com/rust-lang/rust/blob/20fc02f836f3035b86b56a7cedb97c5cd4ed9612/src/test/ui/consts/const-eval/ice-generic-assoc-const.rs#L1-L18

Ah, changing the test case to `// build-pass` and adding `#![crate_type = "lib"]` reproduces the error.

[2020-04-20 23:35] est31 commented on #58713
Some information I've gathered:

* The [spec](https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#the-idata-section) can be found here. It's a bit hard to understand in isolation as it's incomplete and some numbers are given in bits and others in bytes. You need to figure this out from other resources (see below).
* We ONLY have to worry about the `.idata` section. Despite the syntax su

[2020-04-20 23:35] AminArria commented on #70814
searched nightlies: from nightly-2020-03-29 to nightly-2020-04-05
regressed nightly: nightly-2020-04-02
searched commits: from https://github.com/rust-lang/rust/commit/a5b09d35473615e7142f5570f5c5fad0caf68bd2 to https://github.com/rust-lang/rust/commit/76b11980ad416c3ad6143504c2277757ecacf9b5
regressed commit: https://github.com/rust-lang/rust/commit/58dd1ce8383aaebcad9b6027b89a316fd868b35c

I gue

[2020-04-20 23:36] Lucretiel commented on #31844
Doesn't a fair amount of the `std` depend on it as well? I though I remembered seeing a lot of specialized internal implementations for vector & string related stuff.

[2020-04-21 00:45] mbilker commented on #34538
There's also some other functions that are not available so I am in the middle of putting in the necessary changes into backtrace-rs so it doesn't attempt to `unwrap` on missing symbols.

[2020-04-21 01:28] hbina commented on #71193
This will be quite a large change, especially if tests needs to be updated too.

[2020-04-21 02:25] shepmaster commented on #70814
I'm sorry, that was my bad for not including that information in the original comment. We already knew the cause of the regression (found in #70717), and the author of the regression is already aware (@lcnr) of the issue, but not yet a fix.

[2020-04-21 03:56] PankajChaudhary5 commented on #61137
I am picking E0696

[2020-04-21 04:00] KrishnaSannasi commented on #31844
@Lucretiel yes, many useful optimizations (especially around iterators) depend on specialization, so it would be a huge perf regression to de implement it.

For example, `FusedIterator` and `TrustedLen` are useless without specialization.

[2020-04-21 04:35] #68523 closed

[2020-04-21 04:35] #71307 closed

[2020-04-21 05:28] nnethercote commented on #66961
#70458 turned out to be over-ambitious, and has been closed. #71323 is the more restrained alternative.

[2020-04-21 05:32] MichaelBurge opened #71371 "Wrapping type in Result<> requires it to be Sized"
In the following code, `foo` is accepted but `bar` is rejected:
[code]
I would expect either both `foo` and `bar` to be rejected, or both to be accepted. Wrapping a type in `Result` shouldn't change whether it must be `Sized`.

### Meta
Tested on Stable and Nightly on the [Rust Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=906be1d3a7454bad484b4d91e5b99b83)
[c

[2020-04-21 06:30] burrbull opened #71373 "Is `LengthAtMost32` really needed in `AsRef/AsMut` impls for array?"
https://doc.rust-lang.org/src/core/array/mod.rs.html#105

What if just remove this constraint in these implementations?

Can this break something?

Same for `Borrow`.

[2020-04-21 07:07] RalfJung commented on #71353
Ah, good catch! Probably it was a mistake to not add `#![crate_type = "lib]"` there in the first place, because built as a binary these `impl` are just dead code.

[2020-04-21 07:09] stephaneyfx commented on #71371
I think this is due to the definition of `Result` which is `enum Result<T, E> { ... }`. Generic type parameters have an implicit `Sized` bound, so there is an implicit `T: Sized` for `Result`.

See how this compiles if we opt out with `T: ?Sized`: [[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=92e36330fc24468472f17b62b41b56b3)]

[code]

[2020-04-21 07:20] MichaelBurge commented on #71371
Since it's not possible to add a `?Sized` constraint to `Result` due to methods like `unwrap`, it seems like this is expected and there's nothing to be changed here. I'll close this.

[2020-04-21 07:20] #71371 closed

[2020-04-21 07:23] RalfJung commented on #71193
I don't think any tests need to be updated. And we're not renaming LLVM, just our own types!

If you are grepping for this, only grep in `src/librustc_middle/mir/interpret` and `src/librustc_mir/interpret`.

[2020-04-21 07:27] rodrimati1992 commented on #71371
What about `foo` though, why would the compiler allow returning an unsized Self in the trait definition?

[2020-04-21 07:47] RalfJung commented on #31844
That's scary, because of the "unsound" parts. The standard library had critical soundness bugs due to using specialization wrong. How sure are you that you do not have the same bugs? Try using `min_specialization` instead, it is hopefully at least less unsound.

Maybe `specialization` should get a warning similar to `const_generics` saying "this feature is incomplete, unsound and broken, *do not u

[2020-04-21 07:52] RalfJung commented on #37653
@nikomatsakis I see. IMO that limitation should be lifted before stabilization, it's rather surprising and frustrating that what seems like a purely syntactic choice makes some interesting specialization use-cases fundamentally impossible. Having `default impl` have both of these effects (enable partial impl *and* make every item overwritable) violates orthogonality and constitutionality, values t

[2020-04-21 07:52] RalfJung commented on #31844
@nikomatsakis

Any idea what the intended code is? I first thought the `default impl` was intended to also set `type Output = Self;`, but that is actually [impossible in the proposed RFC](https://github.com/rust-lang/rust/issues/37653#issuecomment-616116577). So maybe the intention was to have an `Output = T` bound?

[2020-04-21 08:06] Duddino commented on #71252
I've been looking into this for a while now, and my idea was to: Check if there a .into() call, check if the type of self was T and finally check if the argument of the function was Into<T>. However I cannot figure how to get the type of Self. As far as my understanding goes, rustc hasn't yet inferred the type.

[2020-04-21 09:22] Thomasdezeeuw commented on #70436
That can have many causes that change from OS to OS and even from OS version to version, I don't think its worth it to determine the cause for each. But we should still keep the goal of minimising the number of system calls, using `write` followed by more `writev` calls goes against this goal.

The underlying buffers can be reused, so all you'll need to do is `IoSlice::new` which is effectively a

[2020-04-21 09:54] tanis2000 commented on #67782
This is happening to me as well in a project that creates both a binary and libraries. The definition in cargo.toml is like this:

[code]

 Is there any way to tell `cargo build` to ignore the lib part and just build the bin?

[2020-04-21 09:57] gendx commented on #71361
Makes sense. I've filed an issue on Cargo as well to see if the problem is there.

[2020-04-21 10:21] arturoc opened #71375 "Chain iterator adapter changed behavior in nightly"
Recently the `Chain` adapter has been changed to fuse the iterators it holds by destroying them, this introduces a subtle behavior change that is difficult to debug and as far as I see not documented.

For example the following:

[code]

runs correctly on current stable (1.42) but panics in nightly cause the iterator is now fused so it can't be called anymore after it returns None for the first ti

[2020-04-21 10:30] jonas-schievink commented on #71373
See https://github.com/rust-lang/rust/issues/61415

[2020-04-21 10:30] #71373 closed

[2020-04-21 10:53] nox commented on #71354
AFAICT, `-Z mutable_noalias` does merge the 2 decrements, doesn't it?

[code]

[2020-04-21 11:12] Mark-Simulacrum commented on #71375
cc @cuviper @scottmcm

[2020-04-21 11:42] jumbatm commented on #71353
@rustbot claim

[2020-04-21 12:11] #68304 closed

[2020-04-21 12:44] steveklabnik commented on #58154
Triage: this flag is still unstable.

[2020-04-21 12:47] bjorn3 opened #71379 "Only use ByVal values in the proc-macro bridge call ABI"
The current bridge call ABI uses structs that are too big to be passed in registers. This means that they have to be passed at a fixed stack offset according to the SystemV abi for x86_64. This is harder to implement in a codegen backend that normal values passed either in a register, or passing a pointer to the value in a register. While I have a [WIP PR](https://github.com/bytecodealliance/wasmt

[2020-04-21 12:48] steveklabnik commented on #46372
Triage: this still fails to compile.

[2020-04-21 12:49] steveklabnik commented on #53730
Triage: appears this is still a bug

[2020-04-21 12:50] gendx opened #71380 "thread 'rustc' panicked at 'failed to lookup `SourceFile` in new context'"
This seems like a problem with the build cache. Clearing it with `cargo clean` fixed the issue.

### Code

Not sure it matters, but this is compiling the following crate: https://github.com/tock/tock/tree/master/chips/nrf52840.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-04-21 12:55] Rantanen commented on #31844
@RalfJung Any chance `min_specialization` could get documented? I feel it's more risky to use a completely undocumented feature on a crate than one that has known (and possibly unknown) soundness bugs. Neither is good, but at least the latter one isn't just compiler internals.

I couldn't find any mention of `min_specialization` from this tracking issue outside of the #71321 PR - and [according to

[2020-04-21 13:06] RalfJung commented on #31844
I don't know much about that feature either, I just saw the libstd soundness fixes. It got introduced in https://github.com/rust-lang/rust/pull/68970 which explains a few more things about it.

@matthewjasper would it make sense to document this a bit more and ask nightly users of `feature(specialization)` to migrate?

[2020-04-21 13:19] TheAifam5 opened #71381 "[const_generics] Passing unsafe function outside `impl` crashes"
### Code

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c5d3a3135d1f5f27de7dd26bfdae9f7a

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Possible related issue
https://github.com/rust-lang/rust/issues/71382

[2020-04-21 13:19] TheAifam5 opened #71382 "[const_generics] Passing a safe function outside `impl` crashes"
### Code
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=773be47feb4d2457cae6b70f69b3501e

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Possible related issue
https://github.com/rust-lang/rust/issues/71381

[2020-04-21 13:21] varkor commented on #71382
Probably related to https://github.com/rust-lang/rust/pull/71154.

[2020-04-21 13:29] hsivonen opened #71383 "Vec::reserve should use alloc_excess"
When calling `reserve()` on a `Vec` whose capacity is zero, afterwards the `capacity()` method always returns the exact argument that was passed to `reserve()`. Even though the contract of `reserve()` allows `Vec` to make the capacity larger than requested, if the previous capacity is zero, `Vec` does not make use of this. When the underlying allocator is bucketed, rounding to the bucket size neve

[2020-04-21 13:32] hsivonen commented on #71383
Simply allocating for `worst_case` first would result in two allocations in the common case.

[2020-04-21 13:32] zserik commented on #42327
@tema3210 I know. I only wanted to point out that @Lokathor's idea wouldn't generally work in practise. The only thing that might partially work is the following, but only with many restrictions, which I don't think is worth it in long-term:
[code]

[2020-04-21 13:33] hsivonen commented on #71383
For clarity: This is about writing via mutable slice, not by pushing items one-by-one, so the application code benefits from knowing the rounded-to-allocation-bucket capacity and it's not just a matter of `realloc` internals.

[2020-04-21 13:35] haraldh commented on #58520
Hmm, I was more thinking about s.th. like:
[code]
for error *handling* rather than error *reporting*

[2020-04-21 13:41] hanna-kruppe commented on #71354
You're right, it does help. But AFAICT this is because it adds `noalias` to the `&mut _` parameters, which does establish (in this example) that *nothing* can alias the Vec's fields. However, that doesn't help when the Vec isn't stored behind a mutable reference (e.g. it's a local and its address escapes) or if you need to know `vec1[i]` can't alias `vec2[j]` for two separate vectors. Those kinds

[2020-04-21 13:45] Mark-Simulacrum commented on #71383
Seems like a reasonable change to me, let's cc @Amanieu who has been working on the allocator APIs recently I believe.

I suspect a PR would be the best way to fix this, though.

[2020-04-21 13:49] Amanieu commented on #71383
I believe that this has already been done in #70362: `RawVec` will use the excess returned by the `AllocRef::alloc/grow` methods. However the issue is that `GlobalAlloc` doesn't return an excess, so it doesn't do anything with the default global allocator.

[2020-04-21 13:56] JelteF commented on #58520
@Arnavion You could actually use something like this on the `chain` to achieve the pretty printing you talk about (untested code):
[code]

[2020-04-21 13:56] eddyb commented on #69060
One week update, it's pretty stable now, and we can clearly see changes that are several times smaller than the variance used to be:
![image](https://user-images.githubusercontent.com/77424/79874469-13c11780-83f1-11ea-90bf-f6a96164a53f.png)

[2020-04-21 14:05] DarkEld3r opened #71385 "Missing `#[must_use]` attribute on Ord"
All `PartialOrd` functions are marked as `#[must_use]`, but `Ord` functions aren't. Is it an oversight or am I missing something?

[2020-04-21 14:07] RalfJung commented on #69060
So, given that the version number has a measurable impact on performance... (a) I guess this means we'll see a bump in these graphs on each version number bump, and (b) should we do some optimization to find the version number that makes the compiler go fastest? :P

[2020-04-21 14:09] DarkEld3r commented on #71385
Sorry, I have used "go to source" from the documentation and haven't checked the latest sources. Everything is fine: `Ord` functions is marked as #[must_use] too.

[2020-04-21 14:09] #71385 closed

[2020-04-21 14:12] gendx commented on #71361
Closing in favor of https://github.com/rust-lang/cargo/issues/8140. Let's see if there is any issue on the `rustc` side once the `cargo` issue is fixed.

[2020-04-21 14:12] #71361 closed

[2020-04-21 14:15] hsivonen commented on #71383
Is there any chance of this getting fixed? glibc has `malloc_usable_size` and macOS has `malloc_size`, so this information is available. I have no idea how expensive it would be to call these as a matter of routine, though.

[2020-04-21 14:22] leo60228 commented on #35068
I'm not sure of a better place to put this. Is this function guaranteed so that `format!("\"{}\"", x.escape_debug())` returns valid Rust code that represents a value equal to `x`?

[2020-04-21 14:25] eddyb commented on #69060
@RalfJung The version gets in via `-C metadata`, so you could instead just XOR the resulting combined hash with some constant (but let's not, see more below).

I don't think rust-lang/cargo#8073 lets *any* part of the version into `-C metadata`, but I could be wrong.
@ehuss is the person who can answer that best.

<hr/>

So why do we get such wild non-determinism for `syn-opt` and maybe a couple o

[2020-04-21 14:25] gendx commented on #71380
Other instance of this ICE (same project, but different crate): https://travis-ci.org/github/tock/tock/builds/677725676

[2020-04-21 14:35] Amanieu commented on #71383
The proper solution to this is to deprecate `GlobalAlloc` in favor of `AllocRef`, which is the plan of the allocators WG: https://github.com/rust-lang/wg-allocators/issues/48 (cc @TimDiekmann)

If you are looking for a short-term solution then we could add an unstable `usable_size` method to `GlobalAlloc` which would default to a no-op. The `System` allocator would then override this method as app

[2020-04-21 14:49] gendx commented on #70924
The error popped up for me as well (#71380), for example in the following Travis-CI build: https://travis-ci.org/github/tock/tock/builds/677725676

[2020-04-21 14:51] jonas-schievink commented on #71380
duplicate of https://github.com/rust-lang/rust/issues/70924

[2020-04-21 14:51] #71380 closed

[2020-04-21 14:52] Kixiron commented on #42327
@zserik Is it possible that it actually takes a form like this?
[code]

[2020-04-21 14:57] TimDiekmann commented on #71383
Can confirm, that this was changed in #70362.

`alloc_excess` does not exists anymore in [`AllocRef`](https://doc.rust-lang.org/nightly/std/alloc/trait.AllocRef.html). Instead, [`alloc`](https://doc.rust-lang.org/nightly/std/alloc/trait.AllocRef.html#tymethod.alloc) and [`grow`](https://doc.rust-lang.org/nightly/std/alloc/trait.AllocRef.html#method.grow) returns the actual allocated size as [`Memo

[2020-04-21 14:57] zserik commented on #42327
ok, good idea.

[2020-04-21 15:02] leonardo-m opened #71387 "Collect to slice"
This is an enhancement suggestion. Beside the current collect() to collection like Vec, Hash, etc, and the future collect to array:

https://github.com/rust-lang/rust/pull/69985

I find it useful to also collect to a slice when I don't know at compile-time the exact length of the resulting array, but I know an upper bound of its length.

I have adapted the following code from this crate:
https://g

[2020-04-21 15:21] steffahn commented on #70924
Hmm, @gendx I can’t find anything indicating errors behind your ci build link, probably the information updated after a successful rebuild (indicating 37 minutes ago as of now), maybe I just don’t know where to look to get the log with an error. Furthermore, and in risk of repeating myself in this thread, but would you by any change be able to reproduce the panic somehow? Unfortunately, it seems t

[2020-04-21 15:36] spastorino commented on #71202
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2371202.20ICE.20when.20using.20const.20evaluation) and removing `I-prioritize`.

[2020-04-21 16:04] sanbox-irl commented on #60845
Are there no workarounds to this? Currently, I am managing my serialization with Strings (using serde), and then converting to a PathBuf at runtime and back near serialization time. It is not an excellent system, and has failed in multiple ways (forgetting to get the string prepared in time, especially). A possible solution would be a custom serde serializer/deserializer, but I'm not very confiden

[2020-04-21 16:16] gendx commented on #70924
@steffahn indeed, a maintainer re-run the Travis-CI build in the meantime (https://github.com/tock/tock/pull/1776#issuecomment-617231392), so it looks like the log is lost (from this link at least). I kept a snapshot of my filesystem in the state which triggered the crash.

Although I unfortunately can't share this snapshot of my filesystem, I can reproduce it (see my stack trace in https://github

[2020-04-21 16:16] Mark-Simulacrum commented on #71387
I think I'm a little uncertain about passing in `&mut [T]` since that seems prone to "but I don't want to initialize my Ts" -- we'd probably want something like `&mut [MaybeUninit<T>]` though that raises questions as well.

[2020-04-21 16:19] Mark-Simulacrum commented on #71387
I think I'm a little uncertain about passing in `&mut [T]` since that seems prone to "but I don't want to initialize my Ts" -- we'd probably want something like `&mut [MaybeUninit<T>]` though that raises questions as well.

[2020-04-21 16:20] pickfire opened #71388 "Fix suggestion on DerefMut"
I tried this code:

[code]

I expected to see this happen: Suggestion of `*n = ...`, the correct code would be

[code]

Instead, this happened: It did not look at mutable deref value and directly show the suggestion

[code]

Not sure why but I miss `*` quite often.

### Meta

`rustc --version --verbose`:
[code]

[2020-04-21 16:20] pickfire opened #71389 "Fix suggestion on DerefMut"
I tried this code:

[code]

I expected to see this happen: Suggestion of `*n = ...`, the correct code would be

[code]

Instead, this happened: It did not look at mutable deref value and directly show the suggestion

[code]

Not sure why but I miss `*` quite often.

### Meta

`rustc --version --verbose`:
[code]

[2020-04-21 16:39] leonardo-m commented on #71387
I have found collect_slice useful, but I am still unsure if it's worth having in the std lib (while I am sure I want #69985, useful mostly for small arrays) because its usage is not very clean:

[code]

In all my usage cases I don't use collect_slice in the middle of an iterators chain because of memory ownership issues, so I use only at the end of iterators chains like in the above example, and o

[2020-04-21 16:45] gendx commented on #70924
If that's of any help besides the stack trace and the source code (https://github.com/tock/tock/pull/1776/commits/0486784bfc80eea024b668788c6638efec4c0f4a), the following `rustc` commands failed. The directories `/tock-ice/target/debug/incremental` and `/tock-ice/target/debug/deps` contain the following files.

<details><summary><strong>Failing `rustc` commands</strong></summary>
<p>

Caused by:

[2020-04-21 16:45] BookOwl commented on #64668
I can confirm this is still present in Rust 1.41. I would be happy to make a PR to fix this if someone could give me a pointer on where to make the change.

[2020-04-21 16:57] pnkfelix commented on #70314
I have independently reduced the test input into something pretty small; small enough for me to cut and paste into this comment (I hope):

<details>
<summary>Click to see the files for pnkfelix's MCVE test input</summary>

* refinery_macros/Cargo.toml:
[code]

* refinery_macros/src/lib.rs:
[code]

* refinery/Cargo.toml:
[code]

* refinery/tests/mod_migrations/V1__initial.rs:
[code]

* refinery/tes

[2020-04-21 17:01] pnkfelix commented on #70314
My hypothesis is that something has changed in the metadata (spans/hygiene/etc) associated with `ident` (defined by `let ident = syn::Ident::new("V1__initial", proc_macro2::Span::call_site());` ) when it occurs in the context of this macro invocation:

[code]

In particular, in nightly-2020-03-19, it successfully resolves to the module stored at path refinery/tests/mod_migrations/V1__initial.rs; b

[2020-04-21 17:14] nikomatsakis commented on #71368
Nominating for @rust-lang/lang consideration. This is another case where extending `#[must_use]` makes sense, I think -- in particular, an `Option<impl Future>` should warn when it is unused, just as a `impl Future` does.

I was pondering *why* it makes sense, and I think the reason is pretty clear -- an `Option` contains its `T` in a public field and doesn't in any sense try to "abstract over it"

[2020-04-21 17:17] tmandry commented on #71368
From wg-async-foundations triage: marking On Deck, because forgetting to await is a fairly common thing, and part of the learnability story for async/await is making sure you don't do that.

[2020-04-21 17:22] Arnavion commented on #58520
@haraldh Yes, that's true. I'm not a fan of chain introspection (*), but it's a valid use case.

@JelteF That creates a single `String` that can be potentially quite large and is certainly very unnecessary. It's worse than writing `err.chain().skip(1)`.

(*) It *ought* to be done by matching strongly-typed enum variants, like `Error::ReadConfig(inner) if inner.kind() == ...` rather than walking th

[2020-04-21 17:23] pnkfelix commented on #70314
Well I don't know if this breakage was expected; there were some discussions that seem at least tangentially related on PR #69838, such as https://github.com/rust-lang/rust/pull/69838#discussion_r395217057 that imply to me that we were not intending to change behavior in cases like this.

[2020-04-21 17:26] tmandry commented on #71244
Context for wg-prioritization: [here's the benchmark](https://github.com/rust-lang/rustc-perf/blob/master/collector/benchmarks/await-call-tree/src/lib.rs). It's sort of a stress test, but not an unrealistic one in that it only goes 7 levels deep (I'm sure we have some call trees that deep, and maybe with a 3x factor, in Fuchsia, but only a few).

[2020-04-21 17:35] LeSeulArtichaut commented on #71353
Maybe ask @Mark-Simulacrum?

[2020-04-21 17:36] khuey opened #71391 "`fn` that returns a future and contains a single `async` block should be warned to use `async fn` instead"
Something like

[code]

`async fn` is strictly better.

[2020-04-21 17:40] Mark-Simulacrum commented on #71353
Yeah, anything that just needs a fix on beta (and we want an entirely different fix on master) can be a beta-only PR, though likely I should not the reviewer for it.

[2020-04-21 17:45] tmandry commented on #70935
So, using raw text from the program as part of our label feels like a hack. We should try to come up with another way of getting a name (and falling back to a description like "async block" or something if that doesn't work). Failing a good way of doing that, I guess we can scan the program text for newlines and only use it if there aren't any..

[2020-04-21 17:45] ratijas commented on #53120
So, I was just browsing issues, looking for something about macros, and found this one.

Now that we have `pub(crate)` in stable for a long time already, I wonder, shouldn't this issue be closed?

[2020-04-21 17:45] jonas-schievink commented on #71391
Sounds like a good fit for a Clippy lint

[2020-04-21 17:47] Lehona opened #71394 "Compiler suggestions send me into an endless loop"
I tried this code:

[code]

which outputs

[code]

Note the suggestion
[code]

Changing the type of `points` to `&mut [i8]` will simply swap the suggestion to say `From<&[u8]>` is not implemented for `&mut [i8]`, but it is implemented for `&[i8]`, ultimately making me chase my own tail. I have scoured the docs and came to the conclusion that `From<&[u8]>` is not implemented for either of those typ

[2020-04-21 17:58] Mark-Simulacrum commented on #71391
Yeah, I think this is a poor fit for rustc itself for now, so I'm going to go ahead and close -- it seems likely that it could have false positives (in particular such a writing style might be preferred by some people, especially when refactoring).

[2020-04-21 17:58] #71391 closed

[2020-04-21 18:00] steffahn commented on #70924
I see, one important open question however is: which steps are necessary, from a clean start, to get your target directory into the state that the error can happen? Is one/multiple update(s) of the rust nightly version involved? Do you need to do certain changes to certain code which influence things in incremental compilation? Both?

Or are you actually already saying “I can reproduce it” as in:

[2020-04-21 18:02] ThinkChaos opened #71395 "Tracking Issue for `RefCell::take`"
This is a tracking issue for `#![feature(refcell_take)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead, open a dedicated i

[2020-04-21 18:07] cuviper commented on #71375
While the early drop is an observable change, I don't think that's directly your issue. You'd have the same problem if we just fused with a flag or a  `ChainState::Done`. You're using `try_iter()` which only borrows the `Receiver`, and doesn't implement `Drop`. So in this case there's no functional difference between clearing our `Some(iterator)` to `None`, or just ignoring it from a flag.

`Chain

[2020-04-21 18:08] jonas-schievink commented on #71395
@ThinkChaos when was this implemented?

[2020-04-21 18:09] ThinkChaos commented on #71395
@jonas-schievink I'm currently preparing the PR, I needed an issue number for the unstable attribute.

[2020-04-21 18:10] mark-i-m commented on #31844
It seems like there should at least be a warning. It seems like this feature is blatantly broken and dangerous to use in its current state.

[2020-04-21 18:12] jonas-schievink commented on #71395
Ah, okay. Normally tracking issues are opened after the PR has a :+1: from the reviewer.

[2020-04-21 18:14] ThinkChaos commented on #71395
I asked on discord and was told this was ok, I'll know for next time, thanks.

[2020-04-21 18:17] jonas-schievink commented on #71395
It's okay, I was just missing context

[2020-04-21 18:30] #59907 closed

[2020-04-21 18:39] jdm opened #71397 "RUST_BACKTRACE on macOS can trigger crashes"
I'm running macOS 10.15.3. Starting in the 3/26 nightly, running applications and tests that panic with RUST_BACKTRACE=1 frequently results in a segfault:
[code]
The backtrace from this shows libbacktrace:
[code]
Since https://github.com/rust-lang/rust/commit/64a8c8a4932416fd0ec9735db8c1d8ba32542a52#diff-1a7024d46c31d728a04d5e0cafd98df8 merged as part of https://github.com/rust-lang/rust/pull/7038

[2020-04-21 18:42] jdm commented on #71397
I found this as part of Servo's unit test suite, which now has intermittent segfaults in #[shoul_panic] tests on CI with nightlies since 3/26. I've also reproduced this by adding a panic!() in https://github.com/Kethku/neovide/blob/56cc29d47ccbff7cf823a738b3f7f4a31e8af26d/src/window.rs#L150, but I haven't yet been able to create a standalone unit test that demonstrates the issue.

[2020-04-21 18:48] jdm commented on #71397
It looks like the code that is crashing was introduced as part of https://github.com/rust-lang/libbacktrace/commit/4e548e735f9502978ad70d59d6ebe18f55650ee9, which was brought in as part of the submodule update in https://github.com/rust-lang/backtrace-rs/commit/703aeee23862557164e03d638f4088607c6b8758.

[2020-04-21 18:48] tromey commented on #47163
Many tests are still commented out.  On my Fedora 30 system, I get one failure with the system gdb; and when I remove the comments I see:
[code]
(I'm omitting some lldb failures here as not relevant.)

[2020-04-21 19:09] jdm commented on #71397
Here's a standalone testcase that reproduces the problem for me:
Cargo.toml:
[code]

main.rs:
[code]

[2020-04-21 19:21] jdm commented on #71397
I have a suspicion that my testcase only works because of #56068 right now.

[2020-04-21 19:30] tromey commented on #47163
I read through the failures.  However, I tried to re-run the tests against various versions of gdb, and I found I couldn't reliably do this... if I change my `PATH` to point to a newer gdb, `x.py test` seems to run a different number of tests.  I don't know why this happens or what to do about it, but anyway it prevents a full investigation.

Most of these failures occur when gdb prints something

[2020-04-21 19:43] cuviper commented on #71388
Closing as a duplicate -- #71389 has an updated edit and more labels applied.

[2020-04-21 19:43] #71388 closed

[2020-04-21 20:09] pnkfelix commented on #70314
(also, I have confirmed via a local build that PR #69838 is indeed where this was injected. I have not yet dissected which aspect of that PR injected it though.)

[2020-04-21 20:29] spastorino commented on #71244
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2371202.20ICE.20when.20using.20const.20evaluation) and removing `I-prioritize`.

[2020-04-21 20:29] lcnr commented on #71381
Depends on const generics in type dependent paths afaict.

See https://github.com/rust-lang/rust/issues/68400#issuecomment-611681102 for more info.

[2020-04-21 20:34] burdges commented on #31844
I'd think `specialization` could become a synonym for `min_specialization`, but add another `unsound_specialization` feature if necessary for existing projects, like PyO3 or whatever.  It'd save anyone who only uses `min_specialization` considerable effort, but anyone else gets the error message, and can look up here the new name.

[2020-04-21 20:36] cuviper commented on #71290
I think this may apply to any binary op where the left-hand side is an expression that can be a statement without a semicolon, per:
https://github.com/rust-lang/rust/blob/45d050cde277b22a755847338f2acc2c7b834141/src/librustc_ast/util/classify.rs#L14-L25

For example, adding with block expressions also reports unused parens:

[code]

[code]

but removing those gets an error:

[code]

As a workaroun

[2020-04-21 20:39] spastorino commented on #70814
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2371202.20ICE.20when.20using.20const.20evaluation) and removing `I-prioritize`.

[2020-04-21 20:40] spastorino commented on #71344
Assigning `P-high` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2371202.20ICE.20when.20using.20const.20evaluation) and removing `I-prioritize`.

[2020-04-21 21:18] GuillaumeGomez commented on #71266
After thinking about it for a while and based on this comment:

I think it's indeed better not to handle it ourselves and let users handle it in their browsers directly. Closing it then and thanks for the answers!

[2020-04-21 21:18] #71266 closed

[2020-04-21 21:21] asomers commented on #55461
https://cirrus-ci.com/ also offers FreeBSD CI services (and Windows, OSX, and Linux too).

[2020-04-21 21:22] DoumanAsh opened #71403 "Some compile errors within const block of associated constants are not evaluated"
Basically, if you put potential error into const block of associated constant, it doesn't gets evaluated.
Good example is `arithmetic_overflow`.
By default it triggers compilation error, but not when it is within const block of associated constant

Rust playgound sample:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6ae8ce6871821d8fce58cc05dbdd5984

Doubt it is expected

[2020-04-21 21:26] jonas-schievink commented on #71403
Duplicate of https://github.com/rust-lang/rust/issues/71282

[2020-04-21 21:26] #71403 closed

[2020-04-21 21:56] mattheww commented on #64668
The text lives in `src/librustc_error_codes/error_codes/E0432.md`

https://github.com/rust-lang/rust/blob/master/src/librustc_error_codes/error_codes/E0432.md

[2020-04-21 22:09] scottmcm opened #71405 "Lint for #[must_use] on a function that always returns a #[must_use] type"
I saw someone do this on a `try_from` today, so I figured I'd make an issue.

Repro:
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c03ca4925a9ac4ce9fdda4d2165e6892

The `#[must_use]` on the function there is unnecessary because it always returns `Result`, which is itself `#[must_use]`.  So we might consider linting about that.

[2020-04-21 22:22] ppannuto commented on #70924
@hudson-ayers you also ran into this right -- any chance your build is still around?

[2020-04-21 22:26] hudson-ayers commented on #70924
I just saw it on Travis also, it didn't happen on my local machine

[2020-04-21 22:35] tmandry commented on #71093
To expand on what @jonas-schievink said, LLVM seems to be too averse to inlining in this case when `-Oz`.

This makes sense as a general rule, but in this case our closure is only ever getting called from one place. If `app::main::{{closure}}` were inlined into `main`, the panic branch would certainly have been optimized out.

This might be naive, but I suspect you could get pretty far with a simp

[2020-04-21 22:48] davidbarsky opened #71406 "Misleading error message when ambiguity between a function and module is introduced"
Given this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=54b81f2b1faaa57f89be44225cf26963)):

[code]

I expected that `rustc` would indicate that `new()` is not function but `channel(1)` _is_.  Instead, I got:

[code]

A diagnostic along the lines of `new(..)` isn't a function, but `channel(..)` is would be helpful.

### Meta

`rustc --version --verbose

[2020-04-21 22:57] jonas-schievink commented on #61221
This is now a hard error from what I can tell.

[2020-04-21 22:57] #61221 closed

[2020-04-21 23:01] tmandry opened #71407 "Tracking issue for generator code quality"
So far we haven't done many deep dives into the code LLVM produces for generators. I think there's a lot of room for improvement here, both in the compiler and in LLVM.

Issues (please add more as they come up):
- [ ] #71093 unnecessary panicking branch in `foo().await` (vs equivalent `FutureImpl.await`)

Related tracking issues:
- #69826 Generator Memory Usage
- #69663 More precise generator capt

[2020-04-21 23:09] Mark-Simulacrum commented on #71407
@tmandry It'd be good to have a handle on when we expect to close this (e.g., is this an 'active work' type issue or not)

[2020-04-21 23:10] tmandry commented on #62958
In theory I think we can get away with not treating upvars specially, and remapping them to locals immediately, inside the [generator transform](https://github.com/rust-lang/rust/blob/master/src/librustc_mir/transform/generator.rs).

We should also audit any uses of [`upvar_tys`](https://github.com/rust-lang/rust/blob/45d050cde277b22a755847338f2acc2c7b834141/src/librustc_middle/ty/sty.rs#L434) to

[2020-04-21 23:18] estebank commented on #70935
Agree, we should never be using snippets in labels. The change needs to happen in

https://github.com/rust-lang/rust/blob/7b005c5fcb743e97b3cafee951b19fe7e51753c8/src/librustc_trait_selection/traits/error_reporting/suggestions.rs#L1400-L1426

[2020-04-21 23:28] estebank commented on #71252
You can query the in-progress type table with the `HirId` for the expression. You're gonna have an `Expr` with a `kind: ExprKind::MethodCall(method_name, [args including self])`. From the first argument in that variant you can take the first element and get the expression for `foo` in `foo.into()`. Then you can use the `HirId` for that expression to do

[code]

I do not know if we will have popula

[2020-04-21 23:36] estebank commented on #35946
The first case is unchanged. Only improvement I can think of would be to point at `usize` in the return type `Result<(), usize>`.

The current output for the second case is:

[code]

And for the third:

[code]

Note the suggestion to use `ok()`.

Overall I feel quite happy with the current state and feel we can close this after pointing at the return type when having the implicit conversion failur