[2021-08-10 08:57] hellow554 commented on #87813
I managed to recude the code a lot.
The problem is, that the error happens on random.

I'm not sure why or what, but when running it ten times (`cargo clean; cargo build`) it happens maybe once...

[code]

@jonas-schievink would you might pinging the LLVM crew? I don't know what to do here :(

[2021-08-10 09:50] hellow554 commented on #87899
@ATiltedTree it does rebuild the docs for me. If I do `echo hello > doc` before the first build and `echo world > doc` before the second, it will rebuild it and the text will be displayed properly.

Can you show us what you mean and maybe output your compiler version (`rustc -vV`)

[2021-08-10 09:58] sdroege opened #87914 "rustdoc should maybe only consider trait definitions and not trait impls for the search"
See for example https://doc.rust-lang.org/std/?search=fmt . This shows the `Debug::fmt` impl of each of these types, which can easily get quite noisy and make it hard to spot that actually it's the `Debug::fmt` somewhere at the top that is the origin of all the results.

In addition, rustdoc only lists the `Debug::fmt` impls of each of the types but not the `Display::fmt` impl, which is also quite

[2021-08-10 10:09] ATiltedTree commented on #87899
I don't really know what changed since yesterday when I tried this, but it seems to be working now. Weird. The only thing I can remember doing is a reboot, so that might have fixed it?

[2021-08-10 10:09] #87899 closed

[2021-08-10 11:06] HKalbasi commented on #86772
In this [blog post](https://blog.polybdenum.com/2021/08/09/when-zero-cost-abstractions-aren-t-zero-cost.html) author mentions a problem about optimizing by specialization doesn't cover wrapper types so wrapper types aren't truly zero cost. Can trait `AsRepr` solve this problem? I mean, instead of implementing specializations on `u8` directly, implementing it on `AsRepr<Repr=u8>` so wrapper types a

[2021-08-10 11:23] nisimjoseph commented on #87894
hi @nagisa ,
thank you for the detailed response.

I do see all the objects files built to the `deps` folder.
I output all stdout using the `RUSTC_LOG=info`, see the link to the entire output:
https://drive.google.com/file/d/1XUiYva5Ry2q8HnReZFZqTOh5aasKFQ75/view?usp=sharing

[2021-08-10 12:12] nagisa commented on #87894
Here's the relevant part from the logs:

[code]

Do you see the `learn1` binary itself in the `deps` directory?

[2021-08-10 12:17] illicitonion commented on #86772
That's an interesting thought! There have been three iterations of this feature:
1. Just implement `TryFrom`/`TryInto` for enums - that definitely _doesn't_ give enough information about representation to solve that problem
2. Add a new very general trait `IntoUnderlying` and implement it for enums, and potentially other types such as `repr(transparent)` types - that would be a fairly natural basi

[2021-08-10 12:19] Vurich commented on #87479
I feel like you're always going to want to allow `where Self: 'a`, so why not stabilise it with the requirement that you must always annotate and add elision later as a separate RFC? That's what we did for lifetime elision in impl specs (e.g. `impl Trait for &'_ Foo`). This is now, as far as I know, the only remaining blocker for GATs being stabilised so it seems silly to hold that up while we bik

[2021-08-10 12:21] nisimjoseph commented on #87894
I see those files:
[code]

no binary file.

[2021-08-10 12:30] nagisa commented on #87894
So the linker is executed, exits with a success code, but does not produce a binary file (or that binary file is deleted by something else very quickly.)

Just to make sure: Where does your `cc` come from (please provide at least the output of `cc --version` and `which cc`)? What's the output of `rustc --version` and `cargo --version`?

[2021-08-10 13:20] NightMachinary commented on #75833
This happens when installing rust for the first time, if you use use `nightly complete` in the installation options.

[2021-08-10 13:51] nisimjoseph commented on #87894
@nagisa , your last note above `cc` just hit me! I created a custom terminal command called `cc` using Node.js to run it from the terminal at a global level... this command was called instead of the real `cc` command.

I just uninstalled my `cc` and it all working well.

😣 😖

Thank you for the time and insight.

[2021-08-10 13:51] #87894 closed

[2021-08-10 14:02] RalfJung commented on #87891
I'd think the `write_bytes` intrinsic could easily have its type changed to take a `MaybeUninit<u8>`, which would let one solve this problem. The stable function of course cannot be changed, though...

[2021-08-10 14:21] hellow554 commented on #87813
With a custom built llvm (and asserts on) I will now get this error every time 🎉

[code]

[2021-08-10 14:22] jonas-schievink commented on #87813
@rustbot ping llvm

[2021-08-10 14:42] hellow554 commented on #87813
So, I got this:

[code]

The key is to have two identical named extern variables with a different type. They have be called and inlined for this to work.

I'm not sure if bisecting here is helpful because it will probably bisect to the LLVM12 merge. But the LLVM people here on the repo should be able to find something :)

Have fun

[2021-08-10 15:09] haraldh commented on #87813
Still spurious.

[code]

[2021-08-10 16:30] Manishearth opened #87917 "arm-none-eabi (etc) have incorrect repr(C) enum layout (AAPCS vs AAPCS-linux)"
We're building code for a Cortex-M33 running FreeRTOS, and using C/Rust FFI.

The C code is being compiled with:

[code]

The rust code is being compiled with:

[code]

The following enum:

[code]

has a size of 4 on the rust side and 1 on the C side.

The specific choice of Cortex CPU is not relevant here, a reduce testcase that enables us to see the size in a compiler error (so we don't need to

[2021-08-10 16:46] Manishearth commented on #87917
I _think_ this difference matches to the `-mabi=aapcs` vs `-mabi=aapcs-linux` flags on GCC, and GCC is picking different defaults here based on platform.

[2021-08-10 16:50] scottmcm opened #87919 "Tracking Issue for "Overconstraining and omitting unsafe in impls of unsafe trait methods" (RFC 2316)"
This is a tracking issue for the RFC "Overconstraining and omitting unsafe in impls of unsafe trait methods" (rust-lang/rfcs#2316).
The feature gate for the issue is `#![feature(⚠ not yet chosen ⚠)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questi

[2021-08-10 17:07] scottmcm commented on #87675
An `unsafe` method for "get me an arbitrary value that meets the validity invariants but maybe not the safety ones" does sound potentially interesting, but if that's promised I think it should be a new API.  I wouldn't want people to start calling `uninitialized` to get that behaviour, and thus making their code do horrible things on older rusts without a compile-time break.

[2021-08-10 17:21] kellerkindt opened #87920 "Tracking Issue for `Saturating` type"
This is a tracking issue for the RFC "928" (rust-lang/rfcs#928).
The feature gate for the issue is `#![feature(saturating_int_impl)]`.

### About tracking issues

Tracks progress for `Saturating` type analogue to #32463

### Unresolved Questions

 - [ ] What is the MVP for stabilization?
 - [ ] What is the correct impl of `Shl` and `ShalAssign` for `Saturating<signed>`
       https://github.com/ru

[2021-08-10 17:33] eddyb commented on #87917
That comment has been unchanged since #9613 - I guess we don't do enough FFI testing?

[2021-08-10 17:34] Manishearth commented on #87917
lol

perhaps the fix is to make it u8 for `arm/thumb-none`?

[2021-08-10 17:35] eddyb commented on #87917
Maybe we want to make it part of the target specification? Feels very wrong to have architecture names hardcoded in `ty::layout` to begin with.

[2021-08-10 17:35] Manishearth commented on #87917
oh, we can just make it None

[2021-08-10 17:35] Manishearth commented on #87917
Makes sense. Perhaps also a codegen flag.

[2021-08-10 18:39] jackh726 commented on #87750
Minimized a bit
[code]

[2021-08-10 18:49] the8472 commented on #87911
How is this different from other zero-based indexing methods such as `slice[0]` or `slice[0..]`?

[2021-08-10 19:29] davidpdrsn opened #87924 "axum's `handle_error` feature increases compile times significantly"
I was [recently made aware](https://github.com/tokio-rs/axum/issues/145) that axum's [`handle_error` feature](https://github.com/tokio-rs/axum/blob/main/src/routing/mod.rs#L419) significantly increase compile times. You can find a reproduction script [here](https://github.com/davidpdrsn/axum-handle-error-slow-compile).

I'm wondering if this is a known issue in rustc and if there is something I ca

[2021-08-10 19:41] jackh726 commented on #87750
Okay so this works:
[code]
this fails:
[code]

[2021-08-10 20:14] mcy opened #87926 "Diagnostics incorrectly suggest `?Sized` on the wrong bound for some trait methods"
Given the following code: https://godbolt.org/z/rzr5We5Px

[code]

The current output is:

[code]
Ideally the output should look like:

[code]

Note that in spite of referring to `Tr1` as the problematic type, all spans refer to `Tr2`. This only occurs for trait methods.

[2021-08-10 21:12] jreindel opened #87929 "Transient bug. Error asked I submit as bug."
Doing a cross compile build of several included KubOS service and got an error while building one.
entered:
`cargo build -p telemetry-service --target arm-unknown-linux-gnueabihf --release`
as part of a script that runs the build for 11 crates.
stdout:
[code]
Ran the build again and it compiled fine. Did a cargo clean and then built again. Still fine.
### Meta
Using the latest stable version

`rus

[2021-08-10 22:02] bonsairobo commented on #86026
What's the time frame for the final commenting period? I'd like to use this API.

[2021-08-10 22:32] timotree3 opened #87930 "Variable remains borrowed after match despite neither arm resulting that way"
I tried this code:

[code]

Compiling it gives the following error:
[code]

If I add an early return to the `Some` branch, it still errors:

[code]

However if I add an early return to the `None` branch, it compiles:
[code]

Also, if I change it to use an `if`, it compiles:
[code]

I would expect all four versions to compile since the third version compiles.

### Meta

Occurs on the rust playgroun

[2021-08-10 23:01] jackh726 commented on #87750
<details>
<summary>Another even more minimized example</summary>
[code]
</details>

Okay, so ultimately, this ends up being very similar to #80626.

At some point or another, depending on specific variations of this test, we require that `Node<T>` is `Sized`. This is hairy (I'll get to that shortly), but basically, we can't. This is a problem, and we run into a layout error here: https://github.co

[2021-08-11 00:02] steffahn commented on #87790
[code]

[2021-08-11 00:07] Fishrock123 commented on #54726
I'd like this so I can expand a whole bunch of lint rules org-wide from one library attribute line. That'd be quite nicer than the current mess it gives us.

[2021-08-11 00:48] asquared31415 commented on #87929
That is not the latest stable version, that version is over a year and a half old.  The latest stable version is 1.54.0, released on 2021-07-29.  Try updating with `rustup update` and seeing if the bug persists.

[2021-08-11 01:36] #87542 closed

[2021-08-11 01:36] #87549 closed

[2021-08-11 01:36] #70898 closed

[2021-08-11 01:36] #87872 closed

[2021-08-11 02:58] QuineDot commented on #85863
The current direction is for them to remain distinct types.  See
* [This writeup](https://gist.github.com/nikomatsakis/8bfda6c1119727e13ec6e98f33d2b696) for [MCP 295](https://github.com/rust-lang/compiler-team/issues/295)
* And some briefer conversation [in the implementation PR](https://github.com/rust-lang/rust/pull/72493)

I'm not sure within `Fuse` specifically, but `dyn for<'a> Trait<'a>` and

[2021-08-11 03:49] tsoutsman opened #87931 "Position of `assert_eq` affects whether code compiles"
The position of `assert_eq` arguments seems to matter which I assume is a bug as it isn't mentioned anywhere in the documentation.

The following does not compile:
[code]
The following code does:
[code]

I expected both to compile as the arguments are identical.

### Meta

`rustc --version --verbose`:
[code]
I ran this code on Rust playground and it seems to be an issue on stable as well.

[2021-08-11 04:55] echeran opened #87932 "extern crate inside a function scope dependent on that crate causes a stack overflow"
I've been working on a branch where I've made some refactoring changes and I'm working through cargo check errors/warnings/etc. now.  Unexpectedly, one of the errors was from rustc mentioning "overflowed the stack":

### Code

To reproduce:

1. Check out the branch [`uniset-zerovec-rustc-bug`](https://github.com/echeran/icu4x/tree/uniset-zerovec-rustc-bug) in the repo [`echeran/icu4x`](https://git

[2021-08-11 06:20] hellow554 commented on #87932
Your compiler is "very" (3 versions behind) old. There _should_ be no reason to pin to such an old compiler, unless you're using a very specific nightly version, which you aren't.

This error however does also occur on latest stable (1.54.0) as well as nightly. So, ...

@rustbot modify labels: regression-from-stable-to-stable

[2021-08-11 06:49] hellow554 commented on #87932
This is causing the overflow:

[code]

Trying to get rid of serde and bisecting right now

[2021-08-11 07:02] Manishearth commented on #87932
@hellow554 Please don't respond to issues in this way. There are plenty of reasons to pin compiler versions like that, it's not a good idea to presume that someone has no reason to do a thing, and in the case of this issue it seems extraneous.

The reduced testcase is appreciated, however!

[2021-08-11 07:04] Manishearth commented on #87932
@echeran note that adding the use declaration is not the source of the bug; the use declaration uncovers the bug because without the `use` the compiler fails earlier in the pipeline.

@hellow554's reduced testcase also runs on the [playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=42b317ede25fa3e741992a0f1df2e2e1) if needed, btw!

[2021-08-11 07:11] eddyb commented on #87932
cc @petrochenkov

[2021-08-11 07:12] l3utterfly commented on #67390
Ping. This feature would really be helpful.

[2021-08-11 07:29] maurer commented on #87906
We currently use `QueryPerformanceCounter` to implement `Instant` on Windows. [Microsoft](https://docs.microsoft.com/en-us/windows/win32/sysinfo/acquiring-high-resolution-time-stamps#low-level-hardware-clock-characteristics) says that this ticks through suspend, so currently the Unix-like and Windows `Instant` have differing semantics.

[2021-08-11 07:35] hellow554 commented on #51887
Can this issue be closed?
There's probably a testcase for this somewhere in the testsuite ;)

[2021-08-11 07:43] hellow554 commented on #87562
Seems to be a dup of #82290 which already has been fixed.

@JohnTitor can you close this please? :)

[2021-08-11 07:46] hellow554 commented on #87932
For reference: The small error went away with #80182, which seems fine and dandy because that's whats the PR is supposed to do. So there's nothing wrong with the different outputs of stable and nightly :)

[2021-08-11 08:09] matklad commented on #66358
To me, it feels surprising that the name is `raw_get`. I would expect `get_raw`, similarly to `get_mut`|`from_raw`|’into_raw’. Am I missing a reason why this needs to be inconsistent?

[2021-08-11 08:27] faern commented on #67390
It would! But it's currently blocked on #78802

[2021-08-11 08:37] arturoc commented on #85574
I'm getting a similar problem on some rust code after updating stable from 1.53 to 1.54. Will try to find a small example to post but it seems related to use `for<'a> ...` to specify bounds on a trait implementation

[2021-08-11 09:27] datdenkikniet opened #87933 "`Invalid LLVMRustVisibility value!` error on `cargo build` after upgrading from 1.53.0 to 1.54.0"
After upgrading our toolchains from `1.53.0` to `1.54.0`, our bootloader rust crates stopped building.

Instead, the build command produced the error message `LLVM ERROR: Invalid LLVMRustVisibility value!`.

### Code

As these are a closed-source projects I cannot share any code publicly, but it can be shared privately if necessary.

I expected to see this happen: the build to succeed

Instead, th

[2021-08-11 10:48] hlopko opened #87934 "Adding an option to force compiling a crate as PIE (instead of PIC)"
Hi all,

AFAIK we always compile crates (`--crate-type=lib`) in `relocation-model=pic` as PIC (we call `LLVMRustSetModulePICLevel` in https://github.com/rust-lang/rust/blob/master/compiler/rustc_codegen_llvm/src/context.rs#L183). Only when we are building a binary crate we compile using PIE (https://github.com/rust-lang/rust/blob/master/compiler/rustc_codegen_llvm/src/context.rs#L187).

This is a

[2021-08-11 10:56] hellow554 commented on #87531
[code]

<details>
<summary>Backtrace</summary>

[code]
</details>

@rustbot modify labels: -E-needs-mcve

[2021-08-11 10:58] hellow554 commented on #87531
I think this is a dup of https://github.com/rust-lang/rust/issues/62529 and should be fixed by https://github.com/rust-lang/rust/pull/85499

Let's hope it gets merged soon ;)

[2021-08-11 10:58] hellow554 commented on #62529
And yet another one #87531

[2021-08-11 11:04] hellow554 commented on #87933
Looks like a dup of #87813

[2021-08-11 11:26] BoxyUwU opened #87935 "ICE with box syntax and unsized types"
Originally reported by @chengniansun [here](https://github.com/rust-lang/rust/issues/86535#issuecomment-871614379)

### Code

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=34f53f7f617a2baadda6f5cdbb87232c)

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>

[2021-08-11 11:43] m-ou-se commented on #66358
I don't have a strong opinion on it. But I suppose the 'raw' applies to the `UnsafeCell`, not to the return type. So the 'raw' applies to the input rather than the return type: "get from a raw thing" instead of "get a raw thing". So `raw_get` seems fine to me.

@rust-lang/libs-api Any opinions on `raw_get` vs `get_raw`?

[2021-08-11 11:43] hellow554 commented on #87933
You may search whether you have declarations that have the same name, but a different type. I was only able to reproduce the error with that constraint, see https://github.com/rust-lang/rust/issues/87813#issuecomment-896089661

[2021-08-11 11:50] datdenkikniet commented on #87933
All declarations have the same type (`u32`). We do get a different error, so it could be that the issues are related but not strictly the same.

[2021-08-11 11:52] hellow554 commented on #87933
Can you use the https://github.com/kennytm/rustup-toolchain-install-master project to get a "-alt" nightly (which has LLVM assertions enabled) and try to compile your code with it. Does it give you the same result as https://github.com/rust-lang/rust/issues/87813#issuecomment-896072259 ?

[2021-08-11 11:59] matklad commented on #66358
One more thing: we have `get_ptr` in NonNull: https://doc.rust-lang.org/stable/std/ptr/struct.NonNull.html#method.as_ptr. Seems better to use one of ptr or raw, not both.

[2021-08-11 12:04] datdenkikniet commented on #87933
I've tried, but it seems as though the target we compile for isn't (easily?) available that way.

`rustup-toolchain-install-master -a -t thumbv7em-none-eabihf` doesn't work, and I'm not sure how to get it to work. Any guidance?

[2021-08-11 12:27] datdenkikniet commented on #87933
Thank you, now running the `cargo build` worked.

It does seem to be the same issue as in https://github.com/rust-lang/rust/issues/87813#issuecomment-896072259, so apart from the fact that our types are all the same it does seem to be the same issue.
[code]

[2021-08-11 12:35] datdenkikniet commented on #87933
Yes, that sounds good to me! Will do, and thank you for the help

[2021-08-11 12:37] pchampin commented on #87911
@the8472 The porblem is the *name* of the `nth` method, which strongly conveys the idea of ranking (i.e. "first", "second", "third"...) which is a 1-based numbering convention, while that method is actually using the same 0-based numbering convention as all other methods and operators.

In other words, I have no problem with the fact that `s.get(n)` is not returning the n-th element of a slice `s`

[2021-08-11 12:40] JCBurnside commented on #44265
Hi,
I have a question on this proposal. If when GAT's get to be object safe will the following be possible
[code]
and if so what would the syntax look like?

[2021-08-11 12:54] EliseZeroTwo opened #87936 "ICE "Found outer attribute Attribute""
I encountered an ICE while incorrectly inserting a outer attribute above deriving `serde::Serialize` or `serde::Deserialize` inside of a proc-macro. This did not happen with any other derive I tried.

### Code

[code]

### Meta

`rustc +stable --version --verbose`:
[code]

`rustc +nightly --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>

[2021-08-11 12:57] hellow554 commented on #85774
I think a very good mcve was brought up by @dbrgn at https://github.com/rust-lang/rust/issues/85774#issuecomment-857105289.

I think what's going on is that the scope of the macro ends and first was assigned, but not read again. Could that be?

@rustbot modify labels: -E-needs-mcve A-diagnostics C-enhancement D-incorrect  C-bug

[2021-08-11 13:17] JCBurnside commented on #44265
Well problem was i was hoping to store them in a way where i wouldn't need that.  Ie `Vec<Arc<Mutex<dyn SomeDynTrait>>` that could store any implementation if `SomeDynTrait` that wouldn't need it's `Context` type known

[2021-08-11 14:22] hkmatsumoto opened #87938 "Suggest a missing field when the rest of the field is found"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2c9af7b21295b19d151a109261981cd2

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

We already provide a suggestion for similar names, for example, `brav0` is suggested to replace it for `bravo`.
Analogous to that, when the rest of the field (`alpha` & `charlie`) is

[2021-08-11 14:38] RalfJung commented on #87891
Reopening to track adding a test. (That's the standard procedure for this, isn't it?)

[2021-08-11 15:20] pksunkara commented on #73921
Tangential question: What's the path forward to stabilize this? I don't see any other PRs which are tracking this feature.

[2021-08-11 15:52] m-ou-se commented on #71359
Started a Zulip thread here to discuss what to do with this issue: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Type.20complexity.20regression/near/249126680

[2021-08-11 16:00] m-ou-se commented on #80190
We discussed this briefly in the library api team meeting last week, and we'd like to see some concrete use cases. Do you have examples from some Rust crates where this `Option` to `Result::Err` conversion would be used?

[2021-08-11 16:04] drahnr commented on #73921
@pksunkara the PR https://github.com/rust-lang/rust/pull/87173 is probably the next step. Afterwards, this can be closed.

Adding two versions seems excessive compared to the feature provided, the linked PR also contains the motion resultion to use a `Path` as argument https://github.com/rust-lang/rust/pull/87173#issuecomment-892922762

[2021-08-11 16:24] camsteffen commented on #87911
I know what you mean, this has confused me as well. But this is not nearly a strong enough reason to deprecate a method of `Iterator`. The alternatives `get` and `item` are worse IMO because they sound like random access rather than iteration. So I still think `nth` is the best possible name.

[2021-08-11 16:36] pchampin commented on #87911
Mind that I propose to merelt deprecate the name, i.e. deprecate `nth` but add an equivalent method with a better name.

I see how `item` or `get` could give the impression of direct access -- although I would argue that this is not as explicit as what `nth` conveys... But granted, this is a subjective matter...

What about `.after(n)` or `.next_after(n)`?

[2021-08-11 16:48] camsteffen commented on #87800
What is a use case for this?

I don't think this can be justified merely by the existence of `Option::zip`. It seems much less useful. I think `Option::zip` is useful because it functions as a logical AND.

[2021-08-11 17:08] camsteffen commented on #87911
Deprecating such a widely used method is no small matter. You're asking everybody to change their code and learn another method.

Yes quite subjective. To deprecate, we would at least need an alternative that is widely believed to be significantly better.

`after` is too vague. `next_after` is perhaps more clear, but I still prefer `nth` because it's short and simple.

Rust and English are differe

[2021-08-11 17:13] Kixiron commented on #87800
A use case is for turning an option of tuples into a tuple of options, I've ran into needing it a few times

[2021-08-11 17:23] camsteffen commented on #87800
Simply stating what the function does is not a use case. What is the code, what does it do, and importantly what does the alternative look like?

[2021-08-11 17:26] the8472 commented on #87911
You skipped over "zeroth" here. nth(0) just is the 0<sup>th</sup> element which is perfectly consistent with all other zero-based indexing.

[2021-08-11 17:33] Kixiron commented on #87800
My code looked generally like this
[code]
With unzip that'd be this
[code]
The only alternatives to unzip are relatively verbose `match` or `if let` statements

[2021-08-11 18:01] pchampin commented on #87911
And that's indeed a very good thing. I am not questioning that.

Agreed...

... but here I respectfully disagree. In this case, I see a contradiction between the English meaning and the Rust meaning, one that is confusing and could be avoided.

My point being: there is no such thing as "zeroth". Using 0-based numbering does not change the meaning of words such as "first", "second", "tenth", or the

[2021-08-11 18:20] camsteffen commented on #87911
New programmers will mistakenly read `get(1)` as "get first". I think the only reason you are finding `nth` to be more confusing than `get` is that you are more familiar with `get` in code.

[2021-08-11 19:01] camsteffen commented on #87800
Can you give more context? A use case would show how the function might be used in a real life scenario. It should also demonstrate that the usage cannot be easily refactored to something else. There is no way to know how `// Use x and y separately` could be refactored without seeing actual code.

[2021-08-11 19:32] m-ou-se commented on #25053
This doesn't seem to be waiting on a team decision, so removing I-needs-decision. Looks like this is waiting for a concrete proposal to be discussed by the team(s).

[2021-08-11 19:43] m-ou-se commented on #37868
This needs a proposal for moving forward, so we can provide feedback on the proposed solution.

@ChrisDenton Since you're working on the Windows-specific code around environment variables and `Command` recently, I'd like to hear your input on it, if you have an opinion on this issue.

[2021-08-11 20:00] m-ou-se commented on #56889
We discussed this issue in the libs api meeting just now, and agreed that the current behaviour of `write_all` for `Ok(0)` is the right one.

Nope. That could result in an infinite loop if `write()` keeps resulting in `Ok(0)`. E.g. a os/hardware buffer that has no space left. Busy-looping until there is space again (which might take a long time, or might even never happen) is not something we can

[2021-08-11 20:00] #56889 closed

[2021-08-11 20:06] igor-krawczuk commented on #72078
I think I have a related bug, in my case I have something like

[code]

[2021-08-11 21:04] Fishrock123 commented on #70142
Having just been asked if `??` was a mistake when [I wrote it the other day](https://github.com/http-rs/http-client/pull/95#discussion_r686688047), this code:
[code]
I wonder if `??` won't be hard to understand the implications of.

This is, naturally a good spot for result flattening.

My intuition says that `Result::flatten()` should probably do `|v| Ok(v??)` - but I am not sure that is correct,

[2021-08-11 21:41] bk2204 opened #87945 "Insecure behavior in std::process::Command on Windows"
There appears to be a security vulnerability in std::process::Command, specifically on Windows.  The documentation for the `new` function states this:

What this does not say is that these implementation limitations cause the program to be executed from the current directory, even if that is not in `PATH`.  This is a vulnerability and this behavior has been known to be insecure on Unix for many ye

[2021-08-11 22:28] Urgau commented on #87945
You should check out this PR https://github.com/rust-lang/rust/pull/87704

[2021-08-11 22:52] bk2204 commented on #87945
Yes, that would solve the security problem.  It would also end up breaking invoking any batch files or other programs that people are running right now without using a suffix, which would be less desirable.  I"ll make a comment on the PR.

[2021-08-11 23:08] ChrisDenton commented on #37868
Hm, I don't feel too strongly on this but I think resolving using the parent's current directory is more intuitive to me. In Windows the executable must be found before a new process is created which is unlike a fork-exec model that sets up the environment before locating the executable. Perhaps this accounts for my personal expectations.

That said, using the child's path should not be too hard t

[2021-08-11 23:45] oconnor663 commented on #37868
I also prefer the Windows behavior here, though I'm not a Windows user myself. For example, imagine that both `./run.sh` and `./foo/run.sh` exist. Then we could write these two lines:

[code]

I think "the same exe" is much less surprising, given that it's the same `Command` object and that the command path inside is otherwise immutable.

As far as what we can _do_ about it, gosh I don't know. Eve

[2021-08-12 02:24] schungx commented on #72078
I got no error with this:

[code]

Fixed some compilation errors.

[2021-08-12 03:21] abonander commented on #73921
@drahnr please see my concerns about specifying the semantics regarding relative paths, that doesn't appear to have been discussed at all in the linked PR.

[2021-08-12 04:10] osa1 opened #87946 ""reference to packed field is unaligned" in println, but not when the same arg is used elsewhere"
Tried with current master (ccffcafd55e).

This builds without warnings:

[code]

But this generates a "ref to packed field" warning:

[code]

Output:

[code]

Same with similar macros like `writeln`.

My guess is `println` is taking reference of its arguments, to avoid moving. No idea how to fix these warnings or if it's even possible without breaking backwards compat by making `println` move the

[2021-08-12 04:45] indygreg opened #87947 "Rust 1.54.0 optimized compilation overwrites stack variable, causing segfault"
I am able to reliably reproduce a crash on x86_64-unknown-linux-gnu when building in `--release` mode with 1.54.0. The same code and build configuration works properly on 1.53.0.

I'm not a great assembly-level debugger, but I believe the compiler is confused about register/variable aliasing and this effectively leads to corruption of a variable on the stack, which leads to a segfault.

# Rust 1.5

[2021-08-12 04:56] indygreg commented on #87947
Oh, I forgot to mention I can make the bug/crash go away by inserting a `println!("{}", argv)` line at https://github.com/indygreg/PyOxidizer/blob/0ca3236bac944b63ea8506f273b064167e25f47b/pyembed/src/interpreter_config.rs#L592 as well as performing other minor changes to the code in question. This being a provable heisenbug amplifies my theory of a compiler bug and not something wrong in my code.

[2021-08-12 05:17] indygreg commented on #87947
Using the `ccffcafd5 2021-08-11` nightly, I can reproduce this bug with the default configuration and with `RUSTFLAGS="-Z mutable-noalias=yes"` and `RUSTFLAGS="-Z mutable-noalias=no"`. So it doesn't seem to be a mutable-noalias issue.

The memory layout in nightly is the same as 1.54.0: `self` is stored in `rbx` in the crashing frame and is incorrectly overwritten.

[2021-08-12 05:52] rukai commented on #82850
This issue is bothering me too.

To be clear the real annoyance here isnt that a sigill occurs, its that we cant see the tracktraces and panic messages when doing `cargo test`.
But we can see the stack traces just fine when doing `cargo run`.

It occurs on any double panic, so a simpler way to reproduce this is:
[code]

As mentioned by ehuss `cargo test --nocapture` works around the issue, but I t

[2021-08-12 07:19] apiraino commented on #87793
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387793.20thread.20'rustc'.20panicked.20at.20'Stack.20should.20be.20empty.3A.20f.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-08-12 07:50] vandenheuvel opened #87949 "array::IntoIter does not get optimized as well as vec::IntoIter"
I found a situation where creation, conversion into an iterator and consuming the iterator gets optimized for a `Vec`, but not for an array.

[Compiler explorer](https://rust.godbolt.org/z/nPraPsdEr)

The snipped on the left works well; the `abstracted` function compiles down to the same code as the `goal` function. The snipped on the right has the `Vec` usage replaced by an array. The assembler f

[2021-08-12 07:50] apiraino commented on #87933
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387933.20.60Invalid.20LLVMRustVisibility.20value!.60.20error.20on.20.60cargo.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-08-12 07:51] eddyb commented on #87947
If this is a LLVM optimization change, you can try comparing the output from:
[code]

cc @nikic @nagisa

[2021-08-12 07:52] apiraino commented on #87813
Assigning priority based on the discussion for #87933 in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387933.20.60Invalid.20LLVMRustVisibility.20value!.60.20error.20on.20.60cargo.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label +regression-from-stable-to-stable +P-high

[2021-08-12 08:17] apiraino commented on #87709
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387709.20thread.20'rustc'.20panicked.20at.20'region.20constraints.20alrea.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-08-12 08:18] apiraino commented on #87790
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387790.20rustc.20crashes.20with.20.22Aborted.20.28core.20dumped.29.22.20on.20malfor.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-08-12 08:19] M4tsuri commented on #87726
Thank you, I figured it out now. My bad.

[2021-08-12 08:19] #87726 closed

[2021-08-12 08:35] inquisitivecrystal commented on #87406
I had to take a break for a few days, but I'm back at it. I'm hoping I'll be able to have a PR out for people to comment on soonish.

[2021-08-12 08:43] Urgau opened #87951 "`rustdoc --output-format json` assert while documenting the `syn` crate"
### Code

From the `syn` [source code](https://github.com/dtolnay/syn/blob/5f649d407afad37f319ad09fe725bf73d68532ca/src/spanned.rs#L102-L114):

[code]

### Meta

`rustc +nightly --version`
[code]

`rustdoc +nightly --version`
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-12 08:44] pchampin commented on #87911
I happen to teach programming to beginners, and I spend a lot of time repeating to them "`a[i]` and `a.get(i)` are *not* the i-th element of `a`", precisely to help them avoid that mistake. I am quite happy with this rethoric, but it kind of falls apart when it becomes "`it.nth(i)` is not the i-th element of `it`".

As I [tried to explain above](https://github.com/rust-lang/rust/issues/87911#issue

[2021-08-12 08:51] apiraino commented on #87936
@EliseZeroTwo can you please also provide the cargo.toml configuration to reproduce an [mcve](https://en.wikipedia.org/wiki/MCVE) for your issue? thanks

[2021-08-12 09:03] apiraino commented on #87932
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387932.20adding.20a.20use.20declaration.20causes.20rustc.20stack.20overflow.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-08-12 09:06] apiraino commented on #87877
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387877.20Panic.20in.20.60region_scope_tree.60.3A.20.60assertion.20failed.3A.20pre.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high +A-macros

[2021-08-12 09:08] EliseZeroTwo commented on #87936
Sure, sorry for forgetting, here is the mcve: https://gitlab.com/elise/ice-0

But incase you dont want to see the entire project the Cargo.toml for the macro was just:

[code]

And the Cargo.toml of the project to use the macro (and trigger the ICE) was:
[code]

[2021-08-12 09:16] tmpolaczyk commented on #85360
Run into this in 1.54 stable.

[2021-08-12 09:16] apiraino commented on #87825
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387825.20--remap-path-prefix.20doesn't.20map.20paths.20to.20.60.2Epdb.60.20file.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-08-12 09:18] m-ou-se opened #87952 "rust_2021_incompatible_closure_captures lint produces bad formatting"
[code]
suggests:
[code]
It adds `let _ = &a;` on the same line as the `{`. There's also an extra space after the `;` there.

Instead, it'd be nice if it produced:
[code]

[2021-08-12 09:18] m-ou-se commented on #87952
Working on a fix.

[2021-08-12 09:25] RalfJung commented on #87862
I agree this is a good question.

The current implementation creates a pointer that indeed can be used for mutation if all the other concerns are taken care of (i.e., no other references to this `Rc`). But the docs don't currently guaranteed this.

I think this can be fixed with a doc-only PR, though we'd have to involve the libs-API team for signoff.

[2021-08-12 09:26] apiraino commented on #87657
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387657.20ICE.3A.20thread.20'rustc'.20panicked.20at.20'region.20constraints.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-08-12 09:27] m-ou-se commented on #87355
Filed an issue for that: https://github.com/rust-lang/rust/issues/87952

[2021-08-12 09:31] RalfJung commented on #87368
The warning is correct, I'm afraid. `Outer` has an alignment of 1 (since it is `packed`), so it could be allocated at any address, including 7. `Inner` also has an alignment of 1 since it is `packed`; `Intermediate` inherits the alignment from its only field so that's also 1.

So, I don't think there is a false positive here.

[2021-08-12 09:37] #87368 closed

[2021-08-12 09:43] m-ou-se opened #87955 "rust_2021_incompatible_closure_captures suggestion expands macro"
[code]
produces:
[code]

It expanded the `dbg!()` macro. This only happens when the macro invocation is the entire body of the closure.

[2021-08-12 09:44] m-ou-se commented on #87955
cc @rust-lang/wg-rfc-2229

[2021-08-12 09:46] m-ou-se commented on #87955
Working on a fix.

[2021-08-12 09:57] apiraino commented on #87936
Cool, thank you! Here's the result of a bisection: seems to point to PR #82608 cc @Aaron1011

searched nightlies: from nightly-2021-01-01 to nightly-2021-08-11
regressed nightly: nightly-2021-04-12
searched commits: from https://github.com/rust-lang/rust/commit/a836d9b6413d9d593be6c09463ff8c4c70e56599 to https://github.com/rust-lang/rust/commit/a8661245649f3d1c0dc5b23270bdac0bbd2d8f64
regressed co

[2021-08-12 10:01] apiraino commented on #87936
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387814.20Closure.20capture.20immutable.20reference.20when.20mutable.20ref.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-08-12 10:04] jplatte opened #87957 "rustdoc doc(cfg) rendering gets ugly with long cfg expressions"
I think long cfg expressions should be broken across multiple lines. I saw this cause issues [here](https://docs.rs/ruma/0.3.0/ruma/api/index.html):

![Screenshot_2021-08-12_120327](https://user-images.githubusercontent.com/951129/129178699-296b8db6-6acc-4a26-94df-011aae69578d.png)

[2021-08-12 10:04] hyd-dev commented on #87890
The `git rev-list --author=bors@rust-lang.org -n1 --merges --first-parent HEAD` command prints nothing in my shallow clone. There *is* a bors merge commit in my shallow clone though:
[code]
The `git log` command before https://github.com/rust-lang/rust/pull/87532 used to work for me -- I was able to enable `download-ci-llvm` in my shallow clone.

I tried to fetch more commits, and then `git rev-li

[2021-08-12 10:13] #87319 closed

[2021-08-12 10:33] #85895 closed

[2021-08-12 10:35] m-ou-se commented on #87355
Closing this issue then.

[2021-08-12 10:35] #87355 closed

[2021-08-12 10:35] m-ou-se opened #87959 "Stabilize Rust 2021"
- [x] FCP on closure capture changes: https://github.com/rust-lang/rust/issues/88126
- [x] FCP on reserved prefixes: https://github.com/rust-lang/rust/issues/88140
- [x] FCP on force-warn: https://github.com/rust-lang/rust/issues/86516#issuecomment-900382193
- [x] Decide that Rust 1.56 will ship Rust 2021 as stable: [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/268952-edition-2021/

[2021-08-12 10:52] GregAC opened #87961 "Clarification of compiler diagnostic 'no two closures, even if identical, have the same type'"
Consider the following function which returns a closure `impl`

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5d676e682519cae13533bd1d5c82ebd3

This builds and runs providing the following output:

[code]

This seems reasonable at first glance, however consider a changed version:
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=43bdb24

[2021-08-12 10:57] m-ou-se commented on #86516
@rylev @Mark-Simulacrum This needs a decision so we can move forward. If we want to do a full FCP on this before stabilizing the edition, we're going to run a bit low on time soon.

[2021-08-12 11:03] NitinSaxenait commented on #48331
@roblabla Hey, I am working in no_std env and want to send sensors reading as a post request. For that I need readings, is that anyway I can write data to a file in no_std env. Using the [discovery book](https://docs.rust-embedded.org/discovery/index.html) I am able to get reading in itm.txt using itmdump

[2021-08-12 11:07] kornelski commented on #48043
Now TryReserveError is an opaque type.
Besides the error type, were there any other blockers to stabilization?

[2021-08-12 11:22] TimDiekmann commented on #48043
As far as I know, that was the only blocker.

[2021-08-12 11:26] PsychicNoodles opened #87964 "ICE const generic with where clause"
I found a compiler bug when trying out const generics on the nightly compiler. The key part here seems to be the `where [(); T::LENGTH]: Sized` addition as removing that allows it to build with no issues (the where clause is there so the `Container` struct can have a field that takes `T::LENGTH` as a type parameter). I also managed to replicate this in the Rust Playground: https://play.rust-lang.o

[2021-08-12 12:00] Mark-Simulacrum commented on #86516
I had missed the comment from a couple weeks ago -- taking a look now, and nominating for T-lang discussion (to move us toward FCP to stabilize). @m-ou-se what is the timeline on this needing to stabilize if we want to avoid shifting other schedules? I would prefer not to rush with stabilization of course, but knowing how much time we have without bumping things would be good.

Hm. I don't see tes

[2021-08-12 13:00] Kiomarou opened #87968 "Rust is subject.verb(message) thus OOP but can't even do quantum mechanics"
I can't wait for quantum computers. Where the inheritance logic of the universe is unavoidable. Everything is but fractals and entanglement borrows everything at once in solid parent-child inheritance chains.
Duplicating code without inheriting on construction is like breaking the equal conservation of energy rule.

The whole reason a computer works is because it's a stateful object itself. If I w

[2021-08-12 13:01] drahnr commented on #73921
@abonander indeed, I'll document the behaviour on relative paths and which base will be used in detail.

[2021-08-12 13:13] BoxyUwU commented on #87964
can be fixed by writing `Container::<T> { target }` in `fn start`

[2021-08-12 13:37] #87968 closed

[2021-08-12 13:50] toothbrush7777777 opened #87970 "`INT::div_euclid` and `INT::rem_euclid` return incorrect values for negative numerators"
The results of `SIGNED_INT::div_euclid` and `SIGNED_INT::rem_euclid` are always incorrect when `a % b != 0 && a.is_negative()` (where `a` is the dividend and `b` is the divisor).

**I tried something similar to this code:**

[code]

**I expected to see this happen:**
The assert should not fire.

**Instead, this happened:**
The assert fired. The return value is `(2, 32766)` instead of `(1, 1)`.

[M

[2021-08-12 13:57] BurntSushi commented on #87228
For me personally, it feels a little weird to put it in the prelude, especially if it's really just for marketing purposes. Inline assembly is a rarely used feature, so tucking it away into a module feels like the right thing to me.

Of course, making it easy to discover features is important too. My hope is that after inline assembly lands, doing a web search for "rust inline assembly" will (even

[2021-08-12 14:00] toothbrush7777777 commented on #87970
@rustbot label +A-codegen, +T-compiler

[2021-08-12 14:06] Mark-Simulacrum commented on #87890
cc @tlyu

I would have expected the git log and git rev-list to be 'identical', in some sense, so perhaps that's something worth filing upstream as well. But regardless, I am inclined to revert #87532 to fix this issue; it was primarily a 'hopefully more robust' solution and to my knowledge wasn't actually fixing any known bugs, so since it caused a bug seems good to revert it for now...

[2021-08-12 14:12] #87970 closed

[2021-08-12 14:50] m-ou-se opened #87972 "Wrong part colored in diagnostic suggestions after tabs"
[code]
(The second line starts with a *tab*, not with spaces!)

This results in:
<img width="551" alt="Screenshot 2021-08-12 at 16 48 04" src="https://user-images.githubusercontent.com/783247/129217926-0152223b-598c-4610-b04a-7d8441ef0d21.png">

It suggests to add a `'a ` after the `&`, but the green color is not applied to the `'a ` part, but instead to `A: &`, shifted a bit to the left.

cc @est

[2021-08-12 14:59] m-ou-se commented on #87972
![image](https://user-images.githubusercontent.com/783247/129219494-8a200d42-7584-413f-975f-159a3f9c279a.png)

The problem is only with tabs, it seems. It works fine with multi-byte, multi-codepoint, and double-width characters.

[2021-08-12 15:01] ehuss opened #87973 "`unused_imports` suggestion does not remove attributes"
I tried this code:

[code]

I expected to see this happen: The suggestion should suggest removing `use std::fs;` **and** its attributes.

Instead, this happened: The suggestion span does not encompass the attributes.  This causes `cargo fix` to remove the item, and leave the attributes applying to whatever happens to be next.

### Meta

`rustc 1.56.0-nightly (ccffcafd5 2021-08-11)`

See also #5632

[2021-08-12 15:07] steveklabnik commented on #87945
cc @rust-lang/libs

[2021-08-12 15:09] estebank commented on #87972
It works ok when it is a single line, so the problem is likely in the following code not accounting for calls to `replace_tabs`:

https://github.com/rust-lang/rust/blob/6bed1f0bc3cc50c10aab26d5f94b16a00776b8a5/compiler/rustc_errors/src/emitter.rs#L1679-L1689

![Screen Shot 2021-08-12 at 8 09 17 AM](https://user-images.githubusercontent.com/1606434/129221419-43db9464-be0c-4f43-8e00-417c23a3fd7b.png

[2021-08-12 15:21] jesyspa commented on #87935
@rustbot claim

[2021-08-12 15:27] frankosterfeld commented on #86470
I'm seeing this in a macOS Catalina (10.15.6) VM, running in virtualbox (6.1.26) on a macOS Big Sur (11.5.1) host.
When compiling https://github.com/mozilla/dump_syms and dependencies (278 steps), I get this error a few times (maybe 3-4 times in average), every time in another package.

[2021-08-12 15:38] Kiomarou commented on #87968
Don't forget to donate to the future, because Rust and PHP isn't in it:
https://quantum-journal.org/donate/
https://www.boost.org/donate
https://blacklivesmatter.com/survival-fund/
https://lgbt.foundation/donate
https://www.nspcc.org.uk/support-us/ways-to-give/donate

Thanks!

[2021-08-12 15:39] m-ou-se commented on #87973
#87975 fixes this.

[2021-08-12 16:08] m-ou-se commented on #87972
Oh, multi-{byte,column,codepoint} characters do not work fine in a single line:

<img width="733" alt="Screenshot 2021-08-12 at 18 06 22" src="https://user-images.githubusercontent.com/783247/129230262-46a918eb-da49-4306-a137-678077b482be.png">

[code]

[2021-08-12 16:10] m-ou-se commented on #87972
The second line with the `^` or `++++` not aligning might be unactionable, because it depends a lot on the terminal how wide things are:

![image](https://user-images.githubusercontent.com/783247/129230591-dc3c1cfd-bc44-4518-96df-c874c32b0562.png)

But at least the green coloring of `&'stati` can be fixed.

[2021-08-12 16:17] #87859 closed

[2021-08-12 16:17] #86996 closed

[2021-08-12 16:44] steffahn opened #87978 "Incorrect lower bound on size hint for `<[T]>::splitn` if n==0"
I’m creating this issue in order to better document the bug in `std` that #87974 fixes once it’s merged.

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4e85d6a9eb58139aab5641604b52a3a6))

@rustbot label T-libs, A-slice, A-iterators

[2021-08-12 16:44] alecmocatta opened #87979 "ld: file too small (length=0) *.rcgu.o"
I got this error:

[code]

It repeated over mutliple runs of `cargo` but went away as soon as I ran `cargo clean`.

I don't know what triggered it but if I were to guess it would be having pressing ctrl+c before the previous invocation of `cargo run` had returned.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Full output</summary>
<p>

[code]

</p>
</details>

[2021-08-12 16:48] m-ou-se commented on #87313
Working on this now, to make the `"{}", ` suggestion `MachineApplicable` when the argument is a `&str` or `String`.

[2021-08-12 16:51] TOETOE55 commented on #44874
Is that a feature like UFCS(Uniform Function Call Syntax)?

[2021-08-12 16:53] nbdd0121 commented on #87802
@rustbot claim

[2021-08-12 17:05] the8472 commented on #86470
@frankosterfeld assuming the issue doesn't occur on the host system it sounds like a bug in the way that VirtualBox provides timers to the guest.

Anyway, can you provide a backtrace?

[2021-08-12 17:07] m-ou-se commented on #87313
`im 15.0.0` and `structopt 0.3.22` both failed in [the edition crater run](https://github.com/rust-lang/rust/pull/87190#issuecomment-897795398) on this issue. However, in both cases they were using a non-string as panic payload. An `Error` struct in `structopt`, and a `usize` in `im`.

Both of those would have resulted in `panicked at 'Box<dyn Any>'` on failure. So those are cases where this lint

[2021-08-12 17:23] frankosterfeld commented on #86470
Indeed, it doesn't seem to happen on the host (I'll run the build a few more times to be sure). He'res a backtrace:

`thread 'rustc' panicked at 'supplied instant is later than self', library/std/src/time.rs:281:48
stack backtrace:
   0:        0x100afa88e - <std::sys_common::backtrace::_print::DisplayBacktrace as core::fmt::Display>::fmt::h7dac4b58aa11870a
   1:        0x100b9484e - core::fmt::wr

[2021-08-12 17:53] estebank commented on #87972
The underline not aligning due to wide grapheme clusters is a known issue, and somewhat of an impossible problem to solve in a way that covers all terminals, but the coloring we can definitely deal with.

[2021-08-12 19:00] tmandry commented on #87455
Also seen in the latest [crater run](https://crater-reports.s3.amazonaws.com/beta-1.55-1/index.html) (#87749):

- zebra-consensus: https://crater-reports.s3.amazonaws.com/beta-1.55-1/beta-2021-08-01/gh/andrcmdr.zcash-zebra/log.txt
- warp v0.3.1: https://crater-reports.s3.amazonaws.com/beta-1.55-1/beta-2021-08-01/gh/apiraino.warp-mobc-tokio/log.txt
- linkerd: https://crater-reports.s3.amazonaws.com

[2021-08-12 19:18] joshtriplett commented on #87228
"marketing" is an interesting angle I hadn't considered.

Personally, I think these should be in the prelude for a different reason: to make them feel like innate language capabilities. You don't have to import a name from a module to use things like async and await, or closures, or (in the future) generators. I think inline assembly should feel the same way.

[2021-08-12 19:33] yaahc commented on #87945
Seems like @ChrisDenton's PR already solves this and doesn't introduce the breakage that @bk2204 was worried about. I'm assuming we can close this when #87704 merges.

[2021-08-12 19:39] estebank commented on #87972
That would fix quite a few things, but it would also require us to use a completely different approach to printing to the screen than what we do today (we keep a buffer that we dump all at once, so we precalculate all the col/line positions ahead of time).

[2021-08-12 20:25] cuviper commented on #87945
There's potential breakage if anyone depended on any of those implicit paths that #87704 will no longer search. That may still be the way to go -- I'm just saying that it's not entirely worry-free.

[2021-08-12 20:33] indygreg commented on #87947
I was able to isolate this down to a regression in the 2021-05-19 nightly:

* 2021-05-15: good
* 2021-05-16: good
* 2021-05-17: good
* 2021-05-18: good
* 2021-05-19: bad
* 2021-05-20: bad
* 2021-05-21: bad

That means the regression range is somewhere between 3e99439f4..4e3e6db01.

[2021-08-12 20:34] ehuss opened #87987 "ICE: unwrap on an Err `PlaceBuilder`"
Encountered an ICE when building [`yew`](https://crates.io/crates/yew) 0.18.0 on edition 2021.  I have roughly narrowed it down to the following (can probably be reduced further).  Seems to be an issue with closure captures.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

cc @ru

[2021-08-12 20:39] webern commented on #52393
I'm surprised this issue doesn't have more upvotes. Is this issue represented somewhere else where it has more of a following. What I want to do is this:

[code]

[2021-08-12 20:46] tmandry commented on #83190
Also [seen in crater](https://crater-reports.s3.amazonaws.com/beta-1.55-1/beta-2021-08-01/reg/bioyino-metric-0.3.1/log.txt), cc #87749

@rustbot label regression-from-stable-to-beta

[2021-08-12 20:48] glandium commented on #87947
cargo-bisect-rustc should be able to pin that down to a merge commit. https://github.com/rust-lang/cargo-bisect-rustc/blob/master/TUTORIAL.md

[2021-08-12 20:59] ChrisDenton commented on #87945
Indeed. I am happy to change my PR so it's a closer match to the existing behaviour (current directory aside).  This would fix the immediate issue while having the lowest chance of breaking things. This would also allow for a separate decision on removing implicit paths at a later date. Hm, actually that does sound like a good idea.

[2021-08-12 21:02] ehuss opened #87988 "ICE: error with const in 2021 closure capture"
The following ICE was found migrating [`rusb`](https://crates.io/crates/rusb) 0.8.1 to 2021.  I believe it (or something similar) was found in [`object`](https://crates.io/crates/object) 0.26.0 and [`curl`](https://crates.io/crates/curl) 0.4.38.

cc #87426 which was an error on the same line, though I think the cause is slightly different.

Note that I think this is also triggering an incorrect `u

[2021-08-12 21:09] indygreg commented on #87947
`cargo-bisect-rustc` identified commit 4e3e6db011c5b482d2bef8ba02274657f93b5e0d (#84767) as the cause of the regression. The previous toolchain (491cf5561ef) works just fine.

I can probably work on simpler steps to reproduce. Let me know.

cc @scottmcm

[2021-08-12 21:18] the8472 commented on #87906
Note that on linux getting time usually does not involve a system call overhead at all and is dispatched via vdso instead, basically a function call.

That argument doesn't sound strong. If you sleep for a minute, suspend, wake up and have to wait another 30 seconds for the next service update that doesn't seem so bad? [And `Instant`s don't promise wall-time anyway.](https://doc.rust-lang.org/stab

[2021-08-12 21:36] CryZe commented on #87906
SystemTime is not suitable for measuring time, it is allowed to get synchronized and thus can jump around a lot. If the syscall cost is too much then maybe there can be a less expensive version of Instant::now? Otherwise I don't see that as much of a good reason not to correctly handle the OS being suspended.

[2021-08-12 21:36] thomcc commented on #52393
Yeah, you can't put consts in attributes, but it would be very nice. I'm not sure if solving this requires an RFC, but it might.

[2021-08-12 21:38] abonander commented on #51999
For our planned usage of this feature in SQLx we would really prefer either support for formatting or being able to compute panic strings. We can _sorta_ work around it if the panic strings need to be literals but it won't be the greatest.

[2021-08-12 21:52] thomcc commented on #87228
My gut feeling is that inline assembly uses macro syntax might mean that it won't feel like an innate language capability even if it is in the prelude.

I think putting it in a module<sup>1</sup> is the right balance given how rarely it's used, and I say this as someone who uses it frequently, even in its current unstable state.

1: Well, fine so long as it's not a different module for each arch,

[2021-08-12 21:55] the8472 commented on #87906
At least on current x86_64 linux with a TSC clock source neither `SystemTime::now` nor `Instant::now` will incur syscall overheads, both are served via vdso.

Historically windows APIs or CPUs with unreliable TSCs were the ones that incurred higher overheads

If you mean adding a new API that includes times including suspends then yes, that would be nice, but currently that's not portable to all s

[2021-08-12 22:06] nbdd0121 commented on #87947
That PR introduces a MIR pass. Maybe try `-Z mir-opt-level=0` to see if bad codegen persists?

[2021-08-12 22:09] nrc commented on #87313
I think I just hit something similar, I got the following error message:

[code]

But the suggestion doesn't work because `f` does not implement `Display`, only `Debug`. In this case the suggestion would better to be `{:?}`. I'm not sure if we can customise the suggestion based on the type of the argument to `panic!`? Otherwise, I think most of the time it is more likley for `Debug` to be implemen

[2021-08-12 22:10] indygreg commented on #87947
Oh, I realized that when building with cargo I need to use `RUSTFLAGS` + `cargo build` instead of `cargo rustc` to get rustc options (like `--emit=mir`) to work for all creates. I should be able to get some useful data soon...

Also, thanks for that `-Z mir-opt-level=0` suggestion: I'll try that.

[2021-08-12 22:19] m-ou-se commented on #87313
Yeah, the `"{}",` suggestion was more intended as "you need some sort of format string here", which doesn't have to be Display, but that's not reflected well in the message.

I think we can just check if either Display or Debug is implemented and suggest something that works. #87982 looks at the type too to see if the argument is a string. Checking if the type has a trait implemented should be doa

[2021-08-12 22:24] Aaron1011 commented on #87860
@ijackson: Is it possible that you could have compiled the crate multiple times from different working directories (e.g. running `cargo` outside of the project directory), but with the same target directory (specified via `--target-dir`)?

[2021-08-12 22:27] indygreg commented on #87947
My earlier assertion about `cargo +nightly-2021-05-19 rustc --release --features allocator-jemalloc -- --C llvm-args=-opt-bisect-limit=0` implying this was a rustc IR emission issue appears to be incorrect: that command was only impacting compilation of the main crate, not the crate that was being miscompiled.

I'm able to reproduce the issue with `RUSTFLAGS="-Z mir-opt-level=0" cargo +nightly-202

[2021-08-12 22:37] tmandry opened #87991 "BuildHasher is no longer object safe in 1.55"
From 1.55 crater run #87749, [log](https://crater-reports.s3.amazonaws.com/beta-1.55-1/beta-2021-08-01/reg/probabilistic_data_structures-0.1.0/log.txt):

[code]

#86151 added a generic method to the trait, making it no longer object safe.

This only caused one crate in crater to fail, and the source for that crate seems to have been removed from github. Still, I don't think this is technically all

[2021-08-12 22:42] maurer commented on #87906
On systems with VDSO I still don't think this will be a meaningful overhead. If you think it might be too much we can try benchmarking it.

What we have *right now* is a portability hazard. The Windows `Instant` ticks in suspend... if you have a new version of Windows, otherwise it doesn't. The Linux `Instant` doesn't, but they've tried to update it to do so in the past, and might try again if the

[2021-08-12 22:53] indygreg commented on #87947
I'm having difficulty getting reliable results bisecting the LLVM optimization passes. I suspect this is due to something non-deterministic in LLVM? Anyone have any pointers?

Also, the bug goes away with `-C codegen-units=2` or lower. `RUSTFLAGS="-Z symbol-mangling-version=v0 -Z no-parallel-llvm -C codegen-units=3" cargo +nightly-2021-05-19 build --release --features allocator-jemalloc` still rep

[2021-08-12 23:00] the8472 commented on #87906
I wrote *neither [...] nor [...] will incur syscall overhead*. That's a negation, in other words I already called it low-overhead. Where is the disagreement?

I disagree, I see it as the difference between an easy to notice stumbling block that will be taken into account by major libraries because they encounter it on some major platforms vs. a subtle issue which will cause breakage on less popula

[2021-08-12 23:00] thomcc commented on #87991
I think this just needs a `where Self: Sized` on that method, no? Probably was just overlooked during review.

[2021-08-12 23:06] thomcc commented on #48331
`no_std` is portable to systems without files, so no. However, there's probably something on crates.io that you can use. For example, the `libc` and `winapi` crates expose access to common OS apis, and there are crates built on top of them.

[2021-08-12 23:11] tmandry opened #87992 "link error: undefined reference to `<T as core::convert::From<T>>::from'"
From the 1.55 crater run #87749:

[code]

[Full log](https://crater-reports.s3.amazonaws.com/beta-1.55-1/beta-2021-08-01/reg/issue-macros-0.1.4/log.txt)

This doesn't happen in 1.54. I'm not sure what's going on yet, next step is probably to reproduce locally.

[2021-08-12 23:16] thomcc commented on #87961
I think your analysis here is *mostly* right. The thing is it's actually true that no two closures have the same type, even if they don't capture their environment. What's happening is that [closure-to-fn](https://rust-lang.github.io/rfcs/1558-closure-to-fn-coercion.html) coersion is taking place in the first example — they do have different types, but are coerced to a common type.

So, I'm not su

[2021-08-12 23:30] kornelski commented on #48043
# Request for stabilization

I'd like to propose to stabilize this in 1.56.

### Brief summary

`try_reserve()` and `try_reserve_exact()` methods on `Vec`, `VecDeque`, `HashMap`, `HashSet`, and `String`. These methods enable best-effort graceful handling of out of memory errors, especially large allocations on operating systems without virtual memory overcommit, or when using custom allocators tha

[2021-08-12 23:36] indygreg commented on #87947
Well, it looks like the rustc emits quite different LLVM IR between these 2 nightlies, even before it goes into LLVM optimization passes.

nightly-2021-05-18:

[code]

nightly-2021-05-19:

[code]

Here's the command I used to build and capture LLVM IR:

[code]

[2021-08-12 23:38] nbdd0121 commented on #87947
I think that's expected given the `Try` trait was changed

[2021-08-12 23:41] maurer commented on #87906
No disagreement, sorry, I misread your statement.

Here's a [workaround](https://android-review.googlesource.com/c/platform/packages/modules/DnsResolver/+/1787810) for using `quiche` + `tokio` with a timeout on Android.

If `ticks_in_suspend` returned false, and the application needed to tolerate suspend, I don't think it could fix the problem. The most it could do would be to log a warning saying

[2021-08-13 00:01] nbdd0121 commented on #48043
Do we have a way to reserve the possibility of merging `AllocError` and `TryReserveError` into the same type?

[2021-08-13 00:06] kornelski commented on #48043
It could wrap it, or:

[code]

[2021-08-13 00:08] Nicholas-Baron opened #87994 "Suggest `items` be borrowed in `for i in items[x..]`"
Given the following code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5bb0aaa179979e54df877b3aafe9f507
[code]

The current output is:

[code]

Ideally, the output should note that `&v[1..]` is a possible solution to these errors.

[2021-08-13 00:09] Nicholas-Baron commented on #87994
@rustbot label: +D-newcomer-roadblock.

[2021-08-13 00:11] nbdd0121 commented on #48043
If we ended up wanting `TryReserveError` to not distinguish between CapacityOverflow and AllocError, then having `TryReserveError` and `AllocError` as separate type would be unergonomic IMO. On the other hand a type alias would break trait impls.

[2021-08-13 00:22] roxelo commented on #87988
@rustbot claim

[2021-08-13 00:49] oconnor663 opened #87995 "odd compiler error with assert_eq! in unusual corner case, possibly related to missing semicolon in macro definition"
Originally discussed in [this thread on r/rust](https://www.reddit.com/r/rust/comments/p0xgs2/hey_rustaceans_got_an_easy_question_ask_here/h8l247v/). Due to a quirk in how the `assert_eq!` macro is defined, I get a compiler error in code that I think should be compiling successfully. The error is related to an odd-looking-but-arguably-legal missing semicolon:

[code]

Now I wouldn't normally write

[2021-08-13 01:42] indygreg commented on #87947
I'm starting to make headway into reducing the test case.

I'm able to reduce this to the following:

[code]

(This has been pushed to the `rust-crash` branch of https://github.com/indygreg/PyOxidizer.)

What's interesting here is that if I call into a function defined in an `impl<'a> TryInto<pyffi::PyConfig> for &'a ResolvedOxidizedPythonInterpreterConfig<'a>`, we get a crash. But if I pull that

[2021-08-13 02:01] roxelo commented on #87987
The code can be further simplified to:
[code]
The issue seems to be around using type annotation. If a type annotation is included, the right hand side of the let statement should always be read.
[code]

[2021-08-13 02:49] #87917 closed

[2021-08-13 02:49] #87952 closed

[2021-08-13 03:08] tlyu commented on #87890
I think it's possible that the shallow clone is causing the `--merges` predicate to fail. Note the `grafted` decoration in
[code]
The git documentation implies that shallow clones use something akin to the `info/grafts` (fake parentage for commits) facility for shallow clones. Maybe removing `--merges` is sufficient? I'm a bit wary because bors seems to create non-merge commits on occasion (for sq

[2021-08-13 06:43] the8472 commented on #48043
AllocError is unstable, so we could merge them before it is stabilized.

[2021-08-13 06:46] the8472 commented on #48043
In a libs team meeting there was the discussion of having a separate `Vec` type that contains all the fallible methods and cheap conversion methods between the fallible and infallible Vec. If that were implemented then `try_reserve` on what would then be the infallible Vec would be redundant.

So the question would be if that kind of overlap is acceptable to get it stabilized now or whether the se

[2021-08-13 07:02] thomcc commented on #87972
Yeah, it depends on all of: the terminal, the font, the algorithm it uses for character width... In general, the most important thing is not getting it "right" (for some definition of right), it's doing the same thing that the terminal does. Which is intractable without querying it with `\e[6n`, as you said.

(This is a problem I've thought about a great deal...)

That said, I think the tab-specif

[2021-08-13 07:07] arora-aman commented on #87987
`let _: Props = props_2;` Is there a runtime check/ is MIR generated for checking if `props_2 as Props` is valid?

Because if that's the case then we need props_2 to be caputred.

[2021-08-13 07:19] apiraino commented on #87992
@tmandry I was curious to bisect this, but I can't find a code repository for the crate `issue-macro`. Any idea? thanks :)

[2021-08-13 07:29] apiraino commented on #83190
Perhaps related also to #87455? In that issue a [comment mentions]((https://github.com/rust-lang/rust/issues/87455#issuecomment-886782933)) a backport for #87483 could fix that one.

[2021-08-13 07:54] m-ou-se commented on #87972
That already happens. (That's why the char offsets in the output buffer and the source code didn't match.)

[2021-08-13 08:14] thomcc commented on #87972
Oh. I had figured it was just computing the width of the tab wrong, my bad.

[2021-08-13 08:27] GregAC commented on #87961
I guess it depends how verbose you allow the diagnostics to become an extra

or similar could work?

[2021-08-13 08:35] Friz64 commented on #87992
It's `macros` in https://github.com/KaiserKarel/issue-rs.

[2021-08-13 08:48] Urgau commented on #87951
cc @jyn514 @P1n3appl3 @GuillaumeGomez

@rustbot label +T-rustdoc +A-rustdoc-json -T-compiler

[2021-08-13 09:41] m-ou-se commented on #87972
Note that most terminals don't use the font at all for this information:

xterm: https://github.com/ThomasDickey/xterm-snapshots/blob/f8a406455c18ec6f3de1cf2c642f7b7f0312d362/wcwidth.c#L167-L168

rxvt-unicode: http://cvs.schmorp.de/rxvt-unicode/README.FAQ?revision=1.74&view=markup#l1112

Gnome's vte: https://gitlab.gnome.org/GNOME/vte/-/blob/c17e6d12da00a94c3768be6671182a6a039ec0c0/src/vte.cc#L239

[2021-08-13 09:52] kornelski commented on #48043
@the8472 I've tried to use the [`TryVec` type](https://docs.rs/fallible_collections/0.4.3/fallible_collections/vec/struct.TryVec.html) in a large server project, and I found it [*completely unworkable*](https://internals.rust-lang.org/t/feedback-from-adoption-of-fallible-allocations/14502). That approach was a dead-end, and I ended up deleting that branch and staring over with only regular types a

[2021-08-13 10:00] m-ou-se opened #87999 "non_panic_fmt lint suggestion should check what traits are implemented"
As suggested by @nrc in https://github.com/rust-lang/rust/issues/87313#issuecomment-898000387, the `panic_fmt_lint` should suggest `"{:?}"` if the type implements Debug and not Display.

[2021-08-13 10:03] TimDiekmann commented on #48043
The current idea in the allocator WG is to use the `no_global_oom_handling` feature: https://github.com/rust-lang/rust/pull/84266. When this feature is set, all fallible allocations are disabled and only the `try_` variants will be available. This doesn't introduce a new type and is fully compatible.

[2021-08-13 10:05] kornelski commented on #48043
`no_global_oom_handling` is basically only for the Linux kernel and embedded cases. It doesn't satisfy server and application use-cases from the RFC, because it's incompatible with all std-dependent crates on crates.io. It's not an alternative to `try_reserve`.

[2021-08-13 10:14] TimDiekmann commented on #48043
No, it's not an alternative, but it plays together very well. I expect the usual use case to use `try_reserve` in critical section if needed but also use `reserve` (or any method calling it) in the same program. As you pointed out, splitting `Vec` into two types will make this very hard. Splitting `Vec` was also discussed in the allocator WG at Zulip (Can't find the link currently) and ended up wi

[2021-08-13 10:44] kornelski opened #88001 "Conversion of `Box<dyn Error + Send + Sync>` to `Box<dyn Error>` confusingly complains about Sized"
[Playground](https://play.rust-lang.org?gist=69298161b9f89a74838ce718945ff27c)

[code]

The current output is:

[code]

Note that the type coercion of these types is allowed, because it's going from `Send` to non-`Send` type.

The error also happens if you use `err.into()` directly, but the in practice problem typically appears when using the `?` operator.

For usage with `?` the output should loo

[2021-08-13 10:49] Amanieu commented on #87228
I feel ambivalent about this: I am probably one of the bigger users of `asm!` (78 uses over 10 files), but adding an import line for this is really very little effort that I don't mind it. In the end, I am happy with both options.

[2021-08-13 11:24] #87955 closed

[2021-08-13 11:28] apiraino commented on #87992
ah thanks. I've bisected with `cargo test` (because `cargo build` does not trigger the crash and the bisection seems to point to `nightly-2021-08-11` but the tarball is not yet available (will update this comment later).

[2021-08-13 11:41] botahamec commented on #32670
I think panicking whenever the mem file is opened would be a viable solution to this problem

[2021-08-13 11:57] petrochenkov commented on #88001
It's a case of some missing `From`/`Into` impls, IMO.

If `x as Y` works then `Y::from(x)`/`x.into(): Y` should generally work as well (if the conversion is "good" in some sense, lossless, etc).

[2021-08-13 12:00] QuestionDriven opened #88003 ""unused_mut" is not detected when variable type is mutable reference and the referent is mutated"
#### Code:
[code]
([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6f8fbe9c17a4a180fb1aed9e5054ca3a))

#### Current behavior:
no warning

#### Expected behavior:

[code]

[2021-08-13 12:16] npmccallum commented on #87228
I'm a pretty big user of this (at least a few dozen invocations across a bunch of crates). I also don't mind an import line. I suspect that use of this feature is somewhat uncommon and I'd hate to litter the prelude for my minor inconvenience. Anyone who needs this feature knows they need it and can google it. I don't see a reason to advertise it.

I use `TryFrom` a *lot* more and it isn't (yet) i

[2021-08-13 12:32] vks commented on #32670
@botahamec How would you do that? Note that it's possible to create symlinks, as mentioned in the original issue description.

[2021-08-13 12:44] leonardo-m commented on #88003
I think we should search systematically for all similar diagnostic holes/bugs regarding unnecessary muts. I filed two similar things for Clippy, but I think this kind of stuff is better in rustc.

[2021-08-13 12:50] AlvinKuruvilla commented on #85444
Second, this issue op, been having it for a while now. Wondering if there is a fix or a way to change what browser cargo-doc uses?

[2021-08-13 13:02] jplatte opened #88007 "rustdoc: From trait implementation in actix-web 4.0.0-beta.8 is missing from docs"
[This page](https://docs.rs/actix-web/4.0.0-beta.8/actix_web/struct.Error.html#trait-implementations) is missing any mention of [this trait implementation](https://docs.rs/actix-web/4.0.0-beta.8/src/actix_web/error/error.rs.html#63-70) despite there being no `#[doc(hidden)]` attribute on the impl or any of the involved types. I have no idea what might be going on.

[2021-08-13 13:47] Urgau commented on #88007
The trait implementation you are referring to is not missing, in fact it's the [latest](https://docs.rs/actix-web/4.0.0-beta.8/actix_web/struct.Error.html#impl-From%3CT%3E) on "Trait Implementations".

[2021-08-13 13:51] jplatte commented on #88007
Now I'm *really* confused. I went over the page multiple times and found no generic `From` impl except the blanket impl from `std`. I searched for `ResponseError` on the page and it wasn't there in the later parts of the page. I guess I'll close this.

[2021-08-13 13:51] #88007 closed

[2021-08-13 14:35] rylev commented on #86516
This needs to be stable when the edition is stable which is currently planed for 1.56 which will be cut sometime in September.

This indeed works now:

[code]

[code]

I indeed think we have some sort of logical inconsistency here. The `warnings` lint group is composed of all lints that are considered warnings for the current invocation of the compiler (i.e., if I use `-W missing_abi` then `missin

[2021-08-13 14:36] apiraino commented on #85444
@AlvinKuruvilla I think rustdoc opens the system default browser. Also, is this issue specific to Safari? Do you have any other browser installed that you can temporarily set as default to test this?

[2021-08-13 14:45] Stargateur commented on #48043
@kornelski I agree with I don't really care about detail information but I **strongly** think I want to be able to differentiate a `OOM` error from a `too big for isize` error.

[2021-08-13 14:50] Stargateur commented on #48043
@TimDiekmann I think this should be added as a form of a trait to avoid too many `try_` method or maybe a intermediate type that only have failure handling method. I still hate the original choice to not have return an error for `OOM` see my 2017 SO question https://stackoverflow.com/q/44923306/7076153.

[code]

[2021-08-13 16:14] jyn514 commented on #50784
This is not actually a rustdoc bug: you can run `rustdoc --test` on a binary just fine:
[code]
The problem is Cargo doesn't run `rustdoc --test` when you run `cargo test --bin` or `cargo test --all-targets`.

@ehuss could you move this to rust-lang/cargo?

[2021-08-13 16:26] jyn514 commented on #87979
This isn't an incremental issue, so I'd expect this is a bug in cargo and not rustc - @ehuss could you move this to rust-lang/cargo?

(I expect it's a duplicate of https://github.com/rust-lang/cargo/issues/8838 though.)

[2021-08-13 16:48] thomcc commented on #87972
The font is what determines how many characters ligatures (such as ZWJ emoji sequences) render as. So it's definitely relevant here for many terminals, even if they don't explicitly use it in their own computations.

(Also, the relevant unicode standard — UAX#11 — explicitly says they shouldn't use it, which is why I mentioned following what the terminal does is more important than being "right")

[2021-08-13 16:57] #87657 closed

[2021-08-13 16:57] #87651 closed

[2021-08-13 16:57] #87709 closed

[2021-08-13 16:57] #87877 closed

[2021-08-13 17:32] Aaron1011 opened #88013 "Lint on duplicate trait bound"
The following code compiles without any warnings:

[code]

We should lint on the duplicate `Foo` bound.

[2021-08-13 17:46] thomcc commented on #87228
Ultimately, the fact that you'll be able to use it as `core::arch::asm!` is why I don't mind. If it required a separate import line (the way traits do), I'd not be a fan. (That said, this would be terribly inconsistent with how other macros work, so I don't think anybody else would be either)

[2021-08-13 17:50] the8472 commented on #48043
@kornelski

I think that is mostly a limitation of `TryVec` because it doesn't live in the standard library. If they are located in the same crate then you can define interconversion-methods that turn a `&mut Vec` into a `&mut FallibleVec` and vice versa which you can pass to any API expecting those. And of course the owned types can also be turned into each other. And that of course means they ca

[2021-08-13 18:09] joshtriplett commented on #87228
On Fri, Aug 13, 2021 at 10:46:17AM -0700, Thom Chiovoloni wrote:

That feels obtrusive in modules that use many, many asm blocks. That
contributes to that feeling of "not a native Rust language feature" that
I'd like to avoid. You don't have to include a specific header to use
`__asm__` in C.

[2021-08-13 18:42] tmiasko commented on #87992
With `-Clink-args=-Wl,--no-demangle` and extra logging one can determine that undefined symbol is supposed to be provided by the hyper crate. The hyper crate is linked as dylib, at the same time in it was build only as `crate-type = ["lib", "staticlib", "cdylib"]`. The problem seems to be that cdylib is being misidentified by crate locator as dylib.

The issue appears to be pre-existing and merely

[2021-08-13 19:28] ojeda commented on #48043
But what is gained by splitting the types? In particular, if there are safe, cheap interconversion methods, then I assume the types will not guarantee their allocations have been / will be fallible or infallible. Thus the split would be mostly used as a way to namespace methods, right? And, if those names end up being the same for both as you propose, as a fun way to perform method overloading.

W

[2021-08-13 19:44] ehuss commented on #50784
I don't think this is a cargo issue, as I think there are some fundamental issues with how doctests link with the surrounding code, as described above at https://github.com/rust-lang/rust/issues/50784#issuecomment-605521414.  It would be feasible to run doctests on binaries as you mentioned, but not very useful since you wouldn't be able to access any of the code within the binary.

My opinion is

[2021-08-13 19:52] the8472 commented on #48043
You mean enforcing that *other* libraries don't do infallible allocation? Yeah, that's not the goal here. The goal is to split the humongous API surface of `Vec`. Having a separate type and conversion methods makes it easy to isolate the infallible parts locally. Make sure that all your oom-panic-free modules don't contain `Vec<>` or `to_infallible()` and that should be it, the fallible convenienc

[2021-08-13 19:59] Lokathor commented on #48043
If that's not a goal I wouldn't bother with a split at all. Having all allocating methods also have a `try_` variant doesn't meaningfully increase the API surface at all. You just explain *once* what `try_` means and the user is all set.

Compare with integers: Adding a method to all signed integer types is technically affecting 6 different types, but users actually still just think of it as "one"

[2021-08-13 20:00] kornelski commented on #48043
I can't imagine using a global kill-switch `no_global_oom_handling`. My server/application projects have (transitively) *hundreds* of dependencies. I will not be able convince maintainers of every single crate to switch to fallible allocations *everywhere*. Even if a single dependency, even in one place, uses some infallible feature it would stop my whole application from using `no_global_oom_hand

[2021-08-13 20:05] JAicewizard opened #88014 "Replace ! with ~"
I know this wont make it in, there has been a (MERGED!!!) pull requesting suggesting  ! _over_ ~.

However, its confusing as hell, and there is not even a warning against it. ! is also a logical operator, and why would i intend `!x == y` as "invert x and check if equal to y"? It just makes it impossible to read.

Having this operator be `!` only adds confusion about which operator it is. whereas

[2021-08-13 20:12] jonas-schievink commented on #88014
Hi! Additions or changes to the language need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2021-08-13 20:12] #88014 closed

[2021-08-13 20:16] tvercruyssen commented on #62358
What are still the blocking changes keeping this from being stabilized besides possibly a name change?

[2021-08-13 20:41] kornelski commented on #48043
@Stargateur @the8472 The traits and methods you're discussing have already been considered two years ago when [the fallible allocation RFC has been accepted](https://github.com/rust-lang/rfcs/blob/master/text/2116-alloc-me-maybe.md). The RFC opt *not* to provide a separate fallible Vec type, nor add try_ methods for everything, because `try_reserve` is the minimal building block that can be used t

[2021-08-13 20:47] danielhenrymantilla commented on #87877
Thanks @Aaron1011, nice job 🙂

[2021-08-13 21:27] Stargateur commented on #48043
@kornelski and still there seem to be not a consensus "In a libs team meeting there was the discussion of having a separate Vec type that contains all the fallible methods", so I think it's still open in fact, or let just stop for now to wait and just do what we agree on in the RFC ? why are we waiting so ? Why are we talking ?

[2021-08-13 21:36] the8472 commented on #48043
I asked on zulip, [the response](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/alloc.20non-global-oom.20support/near/249408555) was:

[2021-08-13 22:26] LeSeulArtichaut opened #88015 "Locals aren't introduced properly in if-let guards on or-patterns"
I tried this code:

[code]

I expected to see this happen: code compiles successfully

Instead, this happened: the compiler complains about `x` being possibly uninitialized
[code]

This is because each candidate subpattern introduces a different local for `x`.

cc tracking issue #51114.

### Meta

`rustc --version --verbose`:
[code]

[2021-08-13 22:28] rust-highfive opened #88016 "`miri` no longer builds after rust-lang/rust#86492"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#86492, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @hyd-dev, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-08-13 22:52] HKalbasi opened #88017 "Disable unused_must_use for statically known bool values"
In this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=13b6c01bca742a083b0f48fee07b21d3)) compiler with warn `is_prime(x) || continue;` with `unused logical operation that must be used`. However, if we add a `let temp = is_prime(x) || continue;` the `temp` would be always true, if `is_prime(x)` is true it will be short-circuited with true, and otherwise

[2021-08-13 22:52] BurntSushi commented on #87228
@joshtriplett Could you say more about why you want it to feel like an innate language feature? Is it primarily because it feels that way in C?

[2021-08-13 23:52] m-ou-se commented on #87972
That has no influence on how many columns they take up in all of the terminals I linked. The amount of cells taken up is independent of the font in all of those implementations.

And most terminals ignore that information also for rendering and draw the individual codepoints of those sequences separately. But the point here is the amount of columns things take up, not how the visuals inside there

[2021-08-14 00:08] vaniusrb commented on #87924
The problem is not only related to `handle_error` method. There is a relation with the chained methods `route`. In your example code, if you add more 3 routes inside "/user" you will take something close to an infinity loop. After 5 minutes rustc stays processing and consuming more than 24G of memory (and growing).

[2021-08-14 00:16] nbdd0121 commented on #78174
@rustbot claim

[2021-08-14 00:36] thomcc commented on #87972
*Sigh* this argument is ridiculous and very tiring.

You'll have to believe me it matters for some terminals then, ones that render ZWJ emoji sequences as a single glyph. iTerm2 is one, if ligatures are enabled. I believe xterm.js (used in VSCode's integrated terminal) is another. (There are also terminals that treat ligature sequences as if they always take up the same width, I think either alacr

[2021-08-14 01:12] #84931 closed

[2021-08-14 01:52] joshtriplett commented on #87228
@BurntSushi Sure. Off the top of my head, trying to introspect on that feeling: I'm thinking about the mindset associated with one of the types of development that commonly invokes inline assembly: low-level OS/firmware/systems/etc programming. Much like many other compiler attributes that control binary sections, linker attributes, and similar, this feels like something that should have a direct

[2021-08-14 03:37] indygreg commented on #87947
I have reduced the reproduction case considerably and pushed it to a standalone repository: https://github.com/indygreg/rust-crash.

As part of trying to reduce it further by eliminating the use of `unsafe` and a 3rd party library (libpython), I noticed that there was a discrepancy between the definition of one of the C structs.

The Rust definition:

[code]

And the canonical C definition:

[code

[2021-08-14 03:37] #87947 closed

[2021-08-14 03:44] inquisitivecrystal commented on #59306
The PR is up! It's #88019.

[2021-08-14 03:44] ahmedcharles commented on #32408
The RFC doesn't seem to address why this is the case, so simply stating this doesn't really address the feedback.

[2021-08-14 03:46] inquisitivecrystal commented on #87406
The PR is up! It's #88019.

[2021-08-14 04:22] npmccallum commented on #32408
@ahmedcharles I was merely offering it as a data point, not an argument.

I actually came across a case today where the additional instructions after the asm block caused problematic output. The case was where a function needed to be exactly page-sized for a specific hardware use. The author used the fill intrinsic in asm to pad the function size at the end. The additional instructions after the a

[2021-08-14 05:17] indexroot opened #88020 "rustdoc, when I use google translate, that translate the doc as well as the code."
rustdoc, when I use google translate.

the  rust  code and  crates name. translated like this:

![image](https://user-images.githubusercontent.com/13267901/129434881-37c4bd7e-a345-4016-b9d1-ab5c807369d8.png)

the rust-book work well.
I found that using `<code></code> `protect code do not translate.

Could you update the rustdoc  using `<code>` tag to fix it?

[2021-08-14 05:18] HKalbasi commented on #85913
Is my issue #88017 duplicate of this issue?

[2021-08-14 05:19] nbdd0121 commented on #82518
@rustbot claim

[2021-08-14 05:47] osa1 commented on #87437
Do you mean a missing star? Working version:

[code]

I agree that the error message is very misleading.

Smaller repro:

[code]

[2021-08-14 07:24] osa1 commented on #87684
@rustbot claim

[2021-08-14 07:28] inquisitivecrystal commented on #65589
Per #87328, it looks like this can't be solved backwards compatibly. I think a fix might require a change to the coercion rules. In any case, closing this issue.

[2021-08-14 07:28] #65589 closed

[2021-08-14 08:33] osa1 commented on #87684
Fix merged in rust-lang/stdarch, should be fixed after a submodule bump.

[2021-08-14 08:55] osa1 commented on #88015
@rustbot claim

I started debugging this.

Error is generated by MIR borrow checker.

Repro I'm using:

[code]

MIR after promote-consts: (I think this is the MIR used for borrow checking?)

<details>

<summary>MIR</summary>

[code]

</details>

Problematic variable is `_7`. It's only read by `bb4`, which has two incoming edges: from `bb10` and `bb7`. `bb10` initializes `_7` so that's fine. There'

[2021-08-14 09:00] Amanieu commented on #32408
I think this should just be a matter of disabling LLVM's TrapUnreachable option which Rust had previously enabled in an attempt to deal with infinite-looping being considered UB by LLVM.

[2021-08-14 09:01] EFanZh opened #88021 "Unable to specify lifetime bounded impl trait type for associated type"
Compiling the following code ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6915ae160a3039e40866627061fee11b)):

[code]

I got the this error:

[code]

[2021-08-14 09:16] yaymukund commented on #83931
I believe I ran into this using continue. https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3a6a44f02838b0bfb499cbbc09b27604

I don't think it matters anymore whether the match arm is a block expression. Your playground behaves the same with or without braces `{ }`.

[2021-08-14 09:23] SephVelut opened #88022 "ICE const generic and iterator"
[code]

Compiler panics
`error: internal compiler error: compiler/rustc_middle/src/ich/impls_ty.rs:94:17: StableHasher: unexpected region '_#0r`
`thread 'rustc' panicked at 'Box<dyn Any>', compiler/rustc_errors/src/lib.rs:1115:9`

It's the iterator impl that's causing it.
`rustc 1.56.0-nightly (0fa319039 2021-08-12)`
`compiler flags: -C embed-bitcode=no -C debuginfo=2 -C incremental --crate-type b

[2021-08-14 09:35] fourbytes commented on #87924
Have just run into this. I'd argue it's a bit more than 'slow', as @vaniusrb mentioned, with routes chained as in the attached code, the compiler never returns, and running through rust-analyzer/clippy it will continually use memory until the system runs out completely.

[code]

[2021-08-14 09:42] ZettaScript opened #88024 "Incorrect "needless collect" clippy lint"
I tried this code:

[code]

I expected to see this happen: clippy should say to remove the `.into_iter()`.

Instead, clippy said this:

[code]

The fix does not work (because iterating two times is needed to have the right value of `(min, max)`), and does not even compile (I tried `--fix`).

### Meta

`rustc --version --verbose`:
[code]

The same problem happens with stable.

[2021-08-14 09:57] yoshuawuyts commented on #64295
An example usage of this is in [rust-analyzer](https://github.com/rust-analyzer/rust-analyzer/blob/49dbb74a0b4af13e8c83c667fcddb6ff1a931c8d/crates/stdx/src/lib.rs#L149) where it's part of its internal `stdx` crate which contains stdlib extensions.

[2021-08-14 10:01] yoshuawuyts commented on #64295
Perhaps this could be specialized in the case `I::Iterator: ExactSizeIterator` [(ref)](https://doc.rust-lang.org/std/iter/trait.ExactSizeIterator.html)? That way the base case can remains correct regardless of the value of `size_hint`, but if we know the length we can short-circuit.

[2021-08-14 10:17] osa1 commented on #88015
IfLet guards and or patterns seem to be not handled correctly in the pattern match compiler (rustc_mir_build::build::matches). I'm not sure if this is the problem or a symptom, but currently when we split candidates with or patterns into candidates without or patterns we duplicate the `IfLet`. This means the `if let` is lowered twice, as we also see in the MIR in my comment above. I don't understa

[2021-08-14 10:44] Ereski commented on #47384
+1 on this as it basically nukes a clean and reusable `ctor`/`dtor` solution to the problem of running a db server for tests.

[2021-08-14 10:54] ethercrow commented on #87437
Both `|c| "aeiou".contains(*c)` and `|&c| "aeiou".contains(c)` are accepted.

[2021-08-14 11:10] npmccallum commented on #32408
I think that will disable the `ud2` but not the `ret`, no?

[2021-08-14 11:40] roblabla commented on #32408
I feel like that use-case would be better served by `global_asm`, which makes it much easier to reason about what's going on.

[2021-08-14 12:34] npmccallum commented on #32408
At the cost of higher level features such as visibility, namespaces, docs, etc. The last one is the most important. I'd prefer clean documentation about such a strange case versus `global_asm`.

[2021-08-14 12:44] GuillaumeGomez opened #88027 "Invalid font icon for unstable API message"
The unicode character hasn't been changed in ages but we made some changes into fonts recently so the issue might come from there. The issue:

![Screenshot from 2021-08-14 14-41-14](https://user-images.githubusercontent.com/3050060/129446679-0041fe4d-7fb6-44b6-9a68-0add636f2453.png)

It should look like a microscope, not a screen.

[2021-08-14 12:52] jonas-schievink commented on #88024
Clippy bugs should be filed over at https://github.com/rust-lang/rust-clippy

[2021-08-14 12:52] #88024 closed

[2021-08-14 13:54] pnkfelix opened #88029 "x.py tidy forces `use path::{...}` to come after `use path::m::{...}`; makes commits noisy."
(This may be a rustfmt bug, rather than a rustc bootstrap issue. But I just wanted to file it somewhere before I forgot about it.)

Today, if you have:

[code]

and you want to import `rustc_middle::middle::cstore::CStore`, you could write

[code]

But one might rightly think that's overly verbose; why not use a `{...}` block on the first `use`?

But if you try that, and write:

[code]

then x.py

[2021-08-14 14:39] fintelia commented on #32408
What does it even mean to require no instructions after the end of an asm block? Does it have to be the very last thing in the binary? Outside of specific regions that are defined using assembly, the compiler generally has free reign to place any instructions it wants anywhere in the binary.

[2021-08-14 15:49] soc commented on #62358
@tvercruyssen this perhaps?

[2021-08-14 15:52] npmccallum commented on #32408
It means that size of the emitted code is exactly the same as the instructions/intrinsics in the `asm!` block.

No. But when the size of the output matters, it is usually placed into its own section. For example, the fill technique mentioned above produces a function with exactly 4096 bytes. Via `#[link_section]`, it produces a custom section with exactly 4096 bytes. The loader that is parsing tha

[2021-08-14 15:54] ecstatic-morse commented on #88017
Duplicate of #69466.

[2021-08-14 16:53] indygreg commented on #37403
I think I do!

The `pyembed` crate depends on a `libpython`, whose bindings are provided by a separate crate (currently `python3-sys` soon to be `pyo3`). The crate providing the bindings is the one emitting the `cargo:rustc-link-*` lines to link `libpython`.

Here's the wrinkle and my use case. The name of the actual Python library being linked is dynamic. And, the `pyembed` crate's build script n

[2021-08-14 17:47] npmccallum commented on #32408
Here's a full example of the situation. This Rust code:

[code]

Produces this assembly output:

[code]

Note that the stray `ud2` instruction means that the `.custom.section` section is not `4096` bytes like expected.

[2021-08-14 18:29] lnicola commented on #87924
Boxing the inner routes brings down the build time in the example repo from 8 to 0.5 seconds:

[code]

[2021-08-14 19:57] CPerezz opened #88035 "`T: TraitA` doesn't coerce to `impl TraitA` and error messages could explain it better"
**Rustc version: rustc 1.56.0-nightly (ae90dcf02 2021-08-09)**
**`uname -a => Linux arch 5.12.2-arch1-1`**

Given the following Rust code [playground link here](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a5947dd9634030222b10b858942de3f4):

[code]

The current output is:

[code]

First of all, I ignore the internals of the compiler and the trait system in this regard.

[2021-08-14 20:03] jonas-schievink commented on #88035
Sounds like you're looking for the opposite operation here? You have an opaque `impl TraitA` type, but the method signature specifies `Item = T`.

[2021-08-14 20:04] nbdd0121 commented on #88035
The error message seems reasonable to me, since `impl TraitA` isn't `T`.

[2021-08-14 20:48] oconnor663 commented on #44874
Has there been any discussion about `self: &Cell<T>`? That seems especially interesting in that `&Cell<T>` is (as of Rust 1.37) convertible from `&mut T`, so methods taking `&Cell<T>` could be useful in existing programs, without any change in data layout. I understand there's a `Deref` requirement that currently stands in the way, but from the thread above it sounds like people are considering re

[2021-08-14 20:50] nbdd0121 commented on #78171
@rustbot claim

[2021-08-14 21:33] tvercruyssen commented on #62358
If that's what is best, than yea I would be happy to make a PR. But aren't all methods ordered in alphabetical order? This would break that and might confuse people more (when scrolling through the docs looking for a method)?

[2021-08-14 21:51] CPerezz commented on #88035
I raised this since from a user perspective, even the syntax is different, both things refer to "An object that implements `Trait A`" therefore, even if there's no coercion between both things, I would expect a slightly different explanation since for me, both things should refer to the same.

But internally for the compiler, even if the syntax is different, the thing that references is the same.

[2021-08-14 21:56] nbdd0121 commented on #88035
`impl Trait` can be any type that implements `TraitA`, while `T` is a specific generic parameter, with a known bound that `T: TraitA`. So clearly it's invalid to convert `impl Trait` to `T`.

"The `impl Trait` is a sugar of <T: Trait>" analogy only applies when `impl Trait` is in argument position, but not in return position.

[2021-08-14 22:38] usbalbin opened #88037 "ICE when trying to call closure in const fn w feature const_trait_impl"
### Code

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=93d552fbeb987980256c88986d12fa29)

[code]

### Meta

`rustc --version --verbose`:
[code]
### Error output
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-14 22:44] usbalbin commented on #88037
Replacing the call to `f` with just the literal `42` avoids the ICE, instead showing the expected error: [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c21876be0612e59a186fb1e5fd76ad86)

[code]

[2021-08-14 23:44] Amanieu commented on #32408
Workaround: `-Z trap-unreachable=no`

This was originally added as a way to avoid UB for infinite loops, but this is no longer needed thanks to recent LLVM changes. We could consider disabling this by default now.

[2021-08-14 23:48] inquisitivecrystal opened #88038 "Doctests don't run on nonexported `macro_rules!` macros"
At present, doctests aren't run on `macro_rules!` macros that are not annotated with `#[macro_export]`. After #88019, it will become possible to fix this problem. However, doing so will cause tests to run that were skipped previously to run, which will likely cause test failures and may mess up people's CI. It might be helpful to provide some form of warning period first.

The relevant code is her

[2021-08-15 00:04] roxelo commented on #87987
@rustbot claim
I should have a fix later tonight

[2021-08-15 00:58] ibraheemdev commented on #44265
@JCBurnside You can store `Box<dyn SomeDynTrait<Context = Box<dyn SomeOtherTrait>>>` and have `SomeDynTraitWrapper` that wraps an implementor of `SomeDynTrait` and boxes it's `Context`. That is a pretty common pattern.

[2021-08-15 01:00] indygreg commented on #37403
... and a few hours later and I've refactored the `pyembed` crate to no longer depend on `static-nobundle`. I did this by teaching `pyo3`'s build script to read a config file (specified via an environment variable that must be defined outside of `cargo`) which defines (among other things) a list of extra lines to `println!()` from the build script. The `pyo3` build script now emits a _complete_ de

[2021-08-15 01:24] #81092 closed

[2021-08-15 01:40] paulzhang5511 commented on #87924
Boxing the inner routes brings down the build time in the example repo from 60.05 to 28.52 seconds:

[code]

[2021-08-15 02:13] HellButcher opened #88042 "ICE OutputTypeParameterMismatch"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-15 02:57] dtolnay opened #88043 "LLVM crash: Basic Block does not have terminator!"
The following is minimized from https://crates.io/crates/lalrpop, which is regressed as of nightly-2021-08-15.

[code]

[code]

[2021-08-15 03:03] dtolnay commented on #88043
Relevant commit range is https://github.com/rust-lang/rust/compare/5a19ffe1c2b99d9e09706cc286aad1ec0868eddb...8007b506ac5da629f223b755f5a5391edd5f6d01. Of the 9 landed PRs, the ones that look potentially relevant to codegen are #85020 and #83417. @lrh2000 @tmandry @erikdesjardins @oli-obk

[2021-08-15 04:07] dtolnay commented on #88043
I tried all the merge commits in order of merge:

- d0a10b205608ad91280fb10495c18eb1c9110c89: pass
- 32c3f2d6ca1c5271836041ca7ca9b45042d8addd: pass
- c6094fc7b9981d755abeb8c0e866a0f6315b3ec3: pass
- 99efc51dae1dbe9d741707a7ddef84c29e654df5: pass
- fa2692990c05652c7823c8d2afae501a00a69050: pass
- 136eaa1b25d13635b773a481ecab61a3162cb627: pass
- a59e8853148c6a26ed583cccd0f1c3fc50444c9c: pass
- e55c1

[2021-08-15 04:24] ZizhengTai commented on #72110
It seems even with `strip = "symbols"`, cargo still produces larger binaries compared those processed by the `strip` command, at least on macOS. For example, I created a stub project with `cargo new hello`, and enabled stripping in `Cargo.toml`:
[code]
And then:
[code]

Also, without modifying the generated `Cargo.toml`, the `strip` command results in the same final size:
[code]

[2021-08-15 04:31] ZizhengTai commented on #72110
Just realized this is because cargo uses `strip -x` under the hood with `strip = "symbols"` set. What's the reason we are doing this instead of simply `strip`?

[2021-08-15 04:41] nbdd0121 commented on #78132
I'll take a lot at this.

@rustbot claim

[2021-08-15 04:58] jhpratt commented on #62358
The ordering of methods in documentation should have nothing to do with stabilization, as that can be changed at any time.

[2021-08-15 05:01] philipc commented on #72110
It's not using `strip -x`, it's using linker options (`strip = "debuginfo"` uses `--strip-debug`, and `strip = "symbols"` uses `--strip-all`).

[2021-08-15 05:05] ZizhengTai commented on #72110
Not on macOS? https://github.com/calavera/rust/commit/df0fc6daeede7722d631bcb45ed3755eb693580e

[2021-08-15 05:16] Aaron1011 commented on #88043
This passes under Miri, so I suspect that we've exposed an LLVM bug.

[2021-08-15 05:49] dtolnay commented on #88043
Not sure it's an LLVM bug because it seems the IR is broken even before any LLVM passes. I tried:

[code]

Before: https://paste.rs/o7U
After: https://paste.rs/ftk
Diff: https://paste.rs/gWL.diff

The `main::take_until` looks like legitimately broken input IR. Notice the extractvalue insts relocated from the front of bb4 to the end of bb0 (invalidly after the terminator).

What in LLVM is actually

[2021-08-15 07:40] #87978 closed

[2021-08-15 08:07] marcospb19 commented on #79136
I'm closing this because my description about the "issue" was SUPER confusing and innacurate.

[2021-08-15 08:07] #79136 closed

[2021-08-15 09:14] dzmitry-lahoda commented on #79136
@marcospb19 so you cannot read above rust code to be clear what issue is and closing issue is way to ask simpler example you can comprehend?

[2021-08-15 09:20] marcospb19 commented on #79136
@dzmitry-lahoda I saw you deleted an comment, here's a better example:

[code]

I will ask on Zulip about if this was expected to work, maybe I got type aliases wrong all this time, then I'll open another issue, as this one could be resumed to 4 lines of code.

[2021-08-15 09:46] N3xed commented on #87681
Note: It doesn't work at all, even if the macros aren't nested. For example `#[path = concat!("file.rs")]` doesn't work either.

There is also the issue #48250 which is pretty much the same as this. Also the `RELEASES.md` should be changed to reflect that this doesn't work, it currently states that it does:

[2021-08-15 10:27] CPerezz commented on #88035
That makes it clear for me, thanks @nbdd0121. Is there any place I can read more/check why this only works in argument positions but not in return ones?

Closing this issue also.

[2021-08-15 10:27] #88035 closed

[2021-08-15 10:35] #87973 closed

[2021-08-15 10:49] marcospb19 commented on #85748
My thoughts on the unresolved questions:

Every function in `std::fs` is supposed to follow links, except for the ones who contain `link` name in it:
1. `fs::metadata_symlink`
2. `fs::hard_link`
3. `fs::read_link`

Assuming this pattern is consistent in all library stable functions, I'd say `exists()` and `try_exists()` are implemented correctly, they fail if there is a broken link at the path.

I

[2021-08-15 11:20] oli-obk commented on #88043
I think we should do a quick revert and then figure this out without any pressure

[2021-08-15 11:31] oli-obk commented on #88043
the mir changes are

[code]

that seems totally reasonable, so we need to check what codegen_llvm makes of it

[2021-08-15 11:36] oli-obk commented on #88043
I wonder why the goto collapse only happens if the zst assignment is eliminated. it seems like we need to preserve bb4 in mir or inject it in codegen_llvm, but first we should find out why the goto collapse is happening at all

[2021-08-15 11:43] leonardo-m opened #88047 "Copy not implemented for (u32, u32) error"
[code]

Using the last Nightly (this error didn't happen with the Nightly of the precedent day):

[code]

Gives:

[code]

[2021-08-15 12:41] GuilhermeWerner commented on #20267
Another use case is the creation of plugins, where an application can dynamically load the plugins via an extern "C" function, but also be able to use the plugins statically, like a normal rust library.

That way we could disable the dynamic loading function in the plugin, to be able to statically link.

A quick way to solve this is to create two crates, one rlib, with the api in rust, and another

[2021-08-15 13:07] SoniEx2 opened #88048 "confusing error with GATless where on type"
I tried this code:

[code]

I expected to see this happen: We thought it would just... work.

Instead, this happened: It causes this very confusing error:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cc66a98d8a0ef8de029573e6e3135bfa

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-08-15 13:30] SoniEx2 commented on #88048
Ironically, this works today:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=68566a3ea4869427961275309d41af9d

[2021-08-15 13:37] tmiasko commented on #88043
There are no control-flow simplification passes after removal of dead local variables, which is why it didn't happen so far. Still, it seems a bit surprising it wasn't reported earlier:

[code]

[code]

Adding a new cleanup pass before codegen would be one way to address this.

[2021-08-15 13:43] ibraheemdev commented on #88047
This seems to be a `const` issue, because this compiles:
[code]

[2021-08-15 14:01] Aaron1011 commented on #88047
I think this was caused by https://github.com/rust-lang/rust/pull/87375 - cc @fee1-dead

[2021-08-15 14:13] ibraheemdev commented on #88013
Clippy catches this:
[code]
[code]

[2021-08-15 14:14] Aaron1011 commented on #88013
I think it would be useful to uplift this lint into rustc.

[2021-08-15 14:16] ibraheemdev commented on #88013
It catches when multiple syntaxes are being used to specify a bound, but not when the same is being used twice. ie: `fn foo<T: Clone>() where T: Clone` fails, but `fn foo<T: Clone + Clone>()` does not. Should the lint be modified to catch this as well, or should a new lint be created separately?

[2021-08-15 14:17] Aaron1011 commented on #88013
Including both in the same lint sounds reasonable.

[2021-08-15 14:18] fmease commented on #82852
@rustbot modify labels: -F-min_const_generics
(the feature has been stabilized)

[2021-08-15 14:18] ibraheemdev commented on #88013
@rustbot claim

[2021-08-15 15:00] SkiFire13 commented on #88048
Looks like a duplicate of #20671

[2021-08-15 15:55] tinsel-grumble commented on #64839
https://github.com/rust-lang/rfcs/pull/3127 is try for this but yes rust should be reproduce and private by default. they claim will be default but im not trust until i see so

[2021-08-15 16:02] lnicola commented on #87924
@paulzhang5511 Your latest version of the code `check`s in 0.45s for me. Is that the build time? Did you exclude the time to build the dependencies?

[2021-08-15 16:18] r00ster91 opened #88051 "Semantically equal `Ordering` matches generate different assembly"
https://rust.godbolt.org/z/orxr8sffq

I tried this code:

[code]

I expected to see this happen: They both run at the exact same speed and both emit the exact same assembly.

Instead, this happened:
[code]

It appears `b` has far more assembly generated for it which doesn't make sense because semantically `a` and `b` are the same.
`b` is probably slower. Either way, it shouldn't generate this much

[2021-08-15 16:45] kotauskas commented on #32408
Well, non-UB infinite loops aren't the only purpose of `trap-unreachable`, are they? It's still generally useful to have the program halt when it reaches a normally unreachable code branch instead of just executing arbitrary code. Extra safety checks like this never hurt anyone, especially if they have essentially zero overhead when not hit. Having to disable this functionality for a whole crate t

[2021-08-15 16:47] tvercruyssen commented on #62358
If we wanted to use this name instead that would have to happen before stabilization. That would move the method lower in the docs as well.

[2021-08-15 17:01] GuillaumeGomez opened #88054 "Use the "-j" value in the rustdoc-gui tool"
#86692 greatly improved the tool by allowing to run multiple tests at the same time. However, it doesn't take into account the "-j" option but it should.

[2021-08-15 17:01] nbdd0121 commented on #88035
You can check out [RFC 1522](https://rust-lang.github.io/rfcs/1522-conservative-impl-trait.html) and [RFC 1951](https://rust-lang.github.io/rfcs/1951-expand-impl-trait.html).

[2021-08-15 17:05] SoniEx2 commented on #88048
That seems subtly different: this used to work on Rust 1.3.0, whereas that one didn't.

[2021-08-15 17:31] erikdesjardins commented on #88043
I swear half of my PRs break the compiler 😅

I'm excited for what bugs arise when we start using undef for uninitialized consts...

Revert PR: https://github.com/rust-lang/rust/pull/88056

[2021-08-15 17:42] ehuss commented on #87681
Posted #88057 to update the RELEASES, thanks for catching that!

[2021-08-15 17:50] ibraheemdev commented on #87782
This is probably a duplicate, type inference is not very good with trait objects. `let res = ...` makes the type concrete, and it's not coerced correctly.

[2021-08-15 17:50] roblabla commented on #32408
If we want naked functions to guarantee that no extra assembly is generated after the asm, it should be documented and tested. Otherwise, programs would end up relying on an implementation detail that may regress at any time. Currently, all the RFCs and docs guarantee is the lack of extra instructions before the inline asm body, nothing about trailing instructions.

[2021-08-15 18:10] ibraheemdev commented on #79024
Does `where Self: Sized` as in the iterator methods not resolve this issue?

[2021-08-15 18:20] hawkw opened #88059 "`Duration` `fmt::Debug` impl doesn't honor alignment"
It appears that the `fmt::Debug` implementation for `std::time::Duration` ignores alignment/width specifiers.

For example, see this playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d5daccbe4b2e510f4dcee8d85e421b47

I tried this code:

Formatting a `Duration` with alignment/width specifiers (with a `f64` for comparison).
[code]

I expected to see this happen:

Th

[2021-08-15 18:21] hawkw commented on #88059
I'd be happy to work on a PR to change this behavior, provided it's agreed that we would want to honor fill/width/alignment here?

[2021-08-15 18:38] ibraheemdev commented on #67644
Trait was added back in #72459 and `.await` integration is tracking in #67982

[2021-08-15 19:06] 0x182d4454fb211940 opened #88062 "Recursive Closure Fixed-Point Support or Error Message"
I tried this code (reduced from something in real code):

[code]

I expected this to work, but the compiler says: (note: line numbers are inaccurate)
[code]

After some reflection, I think I see the issue. When creating `bar::<main's closure>`, the complier "writes":

[code]

Which then causes the compiler to instantiate this function, for which the closure is different again. So, it has to repeat

[2021-08-15 19:11] rajatpundir opened #88063 "Trailing semicolon design decision to be made optional"
I'm new to Rust but now know a thing or two about ownership and lifecycle.

I am puzzled by the design to skip the semicolon on last expression but not on others. At a glance, this seemed to me same as how the people in Lisp land love their parenthesis.

On the JVM side, I have used Kotlin and it's  a really expressive language as powerful as rust when you consider everything to be an expression.

[2021-08-15 19:20] jonas-schievink commented on #88063
Hi! Additions or changes to the language need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2021-08-15 19:20] #88063 closed

[2021-08-15 19:21] rajatpundir commented on #88063
It's fine. The issue is only symbolic.

[2021-08-15 20:13] Aaron1011 commented on #88062
I believe this should be solved by polymorphization (https://rust-lang.github.io/compiler-team/working-groups/polymorphization/). Since the type parameter `F` is not used in the closure, polymorphization will allow the compiler to avoid instantiating a new copy of the closure for each call.

[2021-08-15 20:14] jackh726 commented on #88042
Closing as duplicate of #62529 (see #85499 for likely fix)

[2021-08-15 20:14] #88042 closed

[2021-08-15 20:30] schneems opened #88065 "Attempting to debug in a iterator's closure without {} gives unhelpful error"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9b9dfd706291c45a1f6a567324b6c860

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I was trying to debug an iterator and added a `println!` call. To my surprise, it caused the compiler to fail and emit MANY warnings. None of them pointed at the real problem which

[2021-08-15 21:47] JohnTitor commented on #81899
Triage: No longer ICE with the latest nightly, I guess #87795 fixed it? Marking as `E-needs-test`.

[2021-08-15 22:25] nbdd0121 commented on #88047
This works:
[code]

[2021-08-15 22:54] cglong opened #88068 "macOS 10.13: `missing cmath members` while building llvm"
### Issue

When building from source using Homebrew on macOS 10.13, I receive a bunch of errors like the following:

[code]

The full error stack is available here: [02.make.log](https://github.com/rust-lang/rust/files/6991105/02.make.log)

### Version it worked on

It most recently worked on: 1.51.0

### Version with regression

1.53.0 (1.52.0 failed as well, but I haven't verified for sure that

[2021-08-15 23:01] jyn514 commented on #88068
This looks like the C++ toolchain on your host is broken - can you compile a normal C++ program that has `#include <cmath>`?

Either way this is unlikely to be a Rust bug, this happens while building LLVM.

[2021-08-15 23:04] cglong commented on #88068
Thank you @jyn514! I'll try a simple program for this. FWIW though, someone [on Stack Overflow](https://stackoverflow.com/a/68113682/165713) faced this same issue so I think this isn't local to my system.

[2021-08-15 23:07] scrabsha commented on #88065
Hi there! I'd like to work on this issue, as it's an error I frequently hit too.

[2021-08-15 23:08] cglong commented on #88068
I just verified that this program builds and runs successfully:

[code]

[2021-08-15 23:20] jyn514 commented on #88068
That stackoverflow answer looks right, I would try some of the things suggested there: https://stackoverflow.com/a/58670035.

Again, this is unlikely to be a Rust bug, so if nothing there works, consider reporting this upstream to LLVM.

[2021-08-15 23:25] cglong commented on #88068
Got it, I'll try these steps! I'll reopen this if the LLVM team believes this might actually be a Rust bug 🙂  Thank you for the fast reply @jyn514!

[2021-08-15 23:48] jyn514 commented on #87951
This is likely a duplicate of https://github.com/rust-lang/rust/issues/83718.

[2021-08-15 23:48] #87951 closed

[2021-08-16 00:19] jzhou76 commented on #88068
I just tried on the latest MacOS (11.5.2) and including `<cmath>` in a plain hello world cpp program triggers those `no member named xxx` errors.

[2021-08-16 00:35] camsteffen commented on #62358
I would prefer that the "wraps" concept is ***not*** extended beyond `unwrap`. The `unwrap` function has a "do it the dangerous way" connotation, and so `wraps` is not really a correlary to `unwrap`. In fact, it could give a false impression that `unwrap` is more idiomatic than it actually is.

I still prefer `eq_some` over `contains`. One reason is that `get_items().contains(x)` is ambigious as t

[2021-08-16 00:56] Aaron1011 commented on #88047
As a side note - all `Copy` impls can be `const` impls, since `Copy` doesn't have any associated items. I don't know if it's worth encoding this into the language in some way, or if we should require everyone to change `impl Copy` to `impl const Copy` as the need arises.

[2021-08-16 01:18] nbdd0121 commented on #88047
What's the implication on `Clone` impls if all `Copy` impls are const? E.g.
[code]
This currently is forbidden (with a very non-intuitive error message of `Clone` is not implemented for `T`). I am not sure if this is intended.

[2021-08-16 02:01] jyn514 commented on #88065
Note that the compiler ignores whitespace - this should say something like "if a closure body contains a statement, it must be surrounded by braces".

@scrabsha I'm not sure exactly how to fix this issue, but there are general instructions in https://rustc-dev-guide.rust-lang.org/, and the relevant code lives in https://github.com/rust-lang/rust/blob/2bd17c1d43bba43412cc2f051323a279d6751e43/compil

[2021-08-16 02:12] ibraheemdev commented on #88047
`Copy` would have to be special-cased for that to work I believe.

[2021-08-16 02:14] ibraheemdev commented on #82168
The code now compiles, this should be closed.

[2021-08-16 02:18] ibraheemdev commented on #81872
A bit pedantic, but wouldn't it make sense for the drop impl for `MutexGuard` to call `unlock`, and the logic to be moved there?

[2021-08-16 02:31] #82168 closed

[2021-08-16 03:04] fee1-dead commented on #88047
I remember some discussion around super traits in the RFC PR. It is undecided, for `trait A: B` whether we enforce

 - `Ty: const B` or just
 - `Ty: B`

with `impl const A for Ty`.

With that, I can't come up with a trivial fix for this issue. `?const Copy` should be used for now, and it will get replaced by const `Drop` in the future.

[2021-08-16 03:13] jyn514 opened #88070 "Tracking Issue for `#![feature(doc_primitive)]`"
This is a tracking issue for using `#[doc(primitive)]`.
The feature gate for the issue is `#![feature(doc_primitive)]`.

This feature is not meant to ever become stable. It is an implementation detail of the standard library.

Due to an oversight when releasing Rust 1.0, this could previously be used without a feature gate. That was a bug: this feature is not useful to anyone other than the standa

[2021-08-16 03:17] js2xxx opened #88071 "Rustc cannot recognize trait bounds"
I replaced lib.rs with this code after creating an empty lib:

[code]

When running `cargo build`, I expected to see this happen: built successfully

Instead, this happened:
[code]

And when I followed the suggestions it offered, it turned into a type mismatch error and wanted me to cancel the borrowing.

### Meta

`rustc --version --verbose`:
[code]

The output of `RUST_BACKTRACE=1 cargo build` i

[2021-08-16 04:19] jyn514 commented on #88038
See also https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/.E2.9C.94.20Doctests.20on.20private.20macros.

[2021-08-16 04:21] jyn514 commented on #88029
@calebcartwright could you move this to rustfmt's issue tracker?

[2021-08-16 04:23] jyn514 commented on #88020
I don't understand the request, sorry. Are you saying it's incorrect that google translates code blocks, not just the documentation? I don't know how rustdoc could prevent that, we don't control google translate.

[2021-08-16 04:27] jyn514 commented on #87961
I think it would be useful to suggest coercing both closures to a function pointer if possible, but I don't think the diagnostic needs to mention function pointers if coercing isn't possible. Diagnostics should only give you as much info as you need to fix the problem.

[2021-08-16 04:28] jyn514 commented on #87929
@asquared31415 well, since it's transient, it won't reproduce either way.

I'm going to close this since it's not clear what went wrong, and we wouldn't know even if it had been fixed. Feel free to re-open if it happens again.

[2021-08-16 04:28] #87929 closed

[2021-08-16 04:30] jyn514 commented on #87911
I find it *highly* unlikely `nth()` will be deprecated, but either way, this doesn't belong in a github issue. Feel free to open a thread on internals.rust-lang.org/ if you think this worth pursuing - it probably doesn't need a full RFC, but it would need at least an FCP, and for that you need to have an alternate suggestion that people are happy with.

[2021-08-16 04:30] #87911 closed

[2021-08-16 04:32] jyn514 commented on #87858
This is not a bug. Think of `missing_doc_code_examples` as a clippy restriction lint: it's not expected or recommended that everyone turns it on. If you don't think it's useful, don't use it.

Did you maybe come across this by enabling `rustdoc::all`? I would be open to removing `missing_doc_code_examples` from that lint group. `clippy::all` also excludes a lot of lints.

[2021-08-16 04:43] jyn514 commented on #87294
It sounds like this has backwards-compability concerns for not much benefit, so I don't think it's a good fit for github issues - consider opening a thread on internals.rust-lang.org/ instead.

[2021-08-16 04:43] #87294 closed

[2021-08-16 04:44] jyn514 commented on #87159
I'm going to close this since it sounds like you're no longer running into the issue. Feel free to reopen if you're still having trouble.

[2021-08-16 04:44] #87159 closed

[2021-08-16 04:45] jyn514 commented on #87063
@purejgleason are you still running into trouble with this?

[2021-08-16 04:49] jyn514 commented on #86578
Closing this since it was implemented.

[2021-08-16 04:49] #86578 closed

[2021-08-16 04:51] jyn514 commented on #86458
This is basically https://github.com/rust-lang/rust/issues/25879 - I'll leave this open so we remember to add a test case, but I expect the fixes to look very similar.

[2021-08-16 04:53] jyn514 commented on #86366
The `cfg(bootstrap)` line has since been removed, so this specific issue has been fixed. https://github.com/rust-lang/compiler-team/issues/439 seems like a decent idea but I don't think it needs its own issue in rust-lang/rust until the MCP has been accepted.

[2021-08-16 04:53] #86366 closed

[2021-08-16 04:54] jyn514 commented on #86184
I'm going to close this since there's a stable workaround.

[2021-08-16 04:54] #86184 closed

[2021-08-16 05:02] jyn514 commented on #85547
@grossag if it helps, the source for fabricate is in https://github.com/rust-lang/rust-installer/tree/5254dbfd25d5284728ab624dca1969d61427a0db, not src/bootstrap.

[2021-08-16 05:05] jyn514 commented on #88071
So this is odd: if you move the Ord bound to the function it works fine: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1bec0846e3c540afc36b436b508947f1

and if you add *both* bounds it *stops working*, which is pretty incomprehensible to me: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fcd4b29d4f01dba3eacaaacb0cdbae5e

[2021-08-16 05:07] jyn514 commented on #88071
This is definitely related to `const_fn_trait_bound`, because removing `const` from the function makes it work fine.

[2021-08-16 05:14] jyn514 commented on #10671
Triage: this now prints
[code]
which is `-256 as u32` and still pretty unhelpful.

[2021-08-16 05:23] jyn514 commented on #13983
@pnkfelix it's kind of unclear to me what this issue is about. Is there some example code I could test that depends on LD_LIBRARY_PATH? `rustdoc --test src/main.rs  --target i686-unknown-linux-gnu` works fine for me locally.

[2021-08-16 05:34] nbdd0121 opened #88074 "Range pattern does not perform type inference"
[code]

currently throws E0029:

[code]

while it should infer the constant to be `<i32 as Zero>::ZERO`.

@rustbot modify labels: +T-compiler +A-inference
@rustbot claim

[2021-08-16 05:50] jyn514 commented on #88074
I don't think this is incorrect. `Zero::ZERO` doesn't refer to a specific constant, it's just an abstract associated constant. `i32::ZERO` works fine.

[2021-08-16 05:51] jyn514 commented on #88074
Hmm, `let x: i32 = Zero::ZERO` does work, though. But `let x = Zero::ZERO` does not. It does seem inconsistent that `let x: i32 = Zero::ZERO` works and `Zero::ZERO ..= 1_i32` doesn't.

[2021-08-16 05:55] amalik18 opened #88076 "String formatting for Hex doesn't work as expected: `{:#02X}` vs `{:02X}`"
I was trying to print a 0 in double precision hex and the following occurred. I brought it up in the Rust discord and was told that it may be a bug.

I tried this code:

[code]

I expected to see this happen:

Instead, this happened:

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-08-16 05:56] nbdd0121 commented on #88074
`Zero::ZERO` is just `<_ as Zero>::ZERO`, so type inference should kick in here. In fact you can write
[code]
and inference works just fine. The issue only happens when used in range patterns.

I am prototyping a fix right now and it seems that the issue is just that E0029 check happens a little bit early (before unification is performed).

[2021-08-16 06:30] Rustinante commented on #62358
+1 on @camsteffen's summary. I think we should do `eq_some` for `Option` and `eq_err` for `Result` based on the foregoing discussions.

[2021-08-16 06:34] thomcc commented on #88076
Yeah, you need `#04X`. The `0x` is counted in the length computation.

[2021-08-16 07:03] jonas-schievink commented on #88076
Yes, this is working as expected

[2021-08-16 07:03] #88076 closed

[2021-08-16 07:05] amalik18 commented on #88076
Oh, okay. Thank you

[2021-08-16 07:27] kit-981 commented on #73628
I think the target should be `aarch64-apple-ios-arm64e` given that `arm64e` is a specific ABI that leverages instructions from the Armv8.3-A ISA. `aarch64-apple-ios` binaries can run on these devices providing they don't exercise parts of the ABI that rely on pointer authentication.

I've managed to build a Rust toolchain on Linux that generates iOS Armv8.3-A binaries where the return addresses ar

[2021-08-16 07:38] apiraino commented on #88043
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388043.20LLVM.20crash.3A.20Basic.20Block.20does.20not.20have.20terminator!) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-08-16 07:39] leonardo-m commented on #88047
It seems this isn't a bug, and nbdd0121 has fixed my code, so should we close this issue down?

[2021-08-16 09:00] tvercruyssen commented on #62358
So do we make a PR to rename `Option::contains` to `Option::eq_some`, `Result::contains` to `Result::eq_ok` and  `Result::contains_err` to `Result::eq_err` ? So that both methods can possibly(?) be stabilized at the same time.

[2021-08-16 09:18] estebank commented on #88065
But also keep in mind that for error recovery, we are free to use the whitespace as a signal. The parser isn't well set up to make it _easy_, but there's a method `SourceMap::is_multiline(&self, Span)` that you can use to see if two different things are on different lines (usually by doing something like `sp1.between(sp2)` to make a new span covering the space between two spans you already have).

[2021-08-16 09:38] selendym commented on #62358
By that you are implicitly assuming that people are unable to read or comprehend documentation - if that were the case, all hope is already lost and this would be the least of our concerns. :)

Just to defend my bikeshed a bit:
- `unwrap` describes an _action_ that might fail with panic if it is not appropriate
- `wraps` describes a _proposition_ that is tested and simply returns the verdict

So t

[2021-08-16 09:41] tvercruyssen commented on #62358
Any sane name will do problem is more like how do we pick the right one. As a name change is seemingly(?) the only thing blocking an otherwise usefull feature from getting stabilized.

[2021-08-16 09:41] wujilingfeng opened #88078 "Will rust get more and more bloated?"
Hello!
I want to learn rust because It's like haskell.
However,I noticed that rust has a large number of developers and the iteration speed is very fast.
I wonder will rust get more and more bloated?
Will more and more engineering features be added?

[2021-08-16 09:54] jonas-schievink commented on #88078
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2021-08-16 09:54] #88078 closed

[2021-08-16 10:24] jplatte commented on #62358
I think `.wraps` might be a nice name for `(Option<T>, impl FnOnce(T) -> bool) -> bool`, i.e. the generalized form of `.eq_some` (assuming that `eq_some`, `eq_ok`, `eq_err` goes through).

[2021-08-16 11:06] Friz64 commented on #88059
Is this related to #87905?

[2021-08-16 11:17] edmorley opened #88079 "Improve suggestion when try_into() From trait bound not satisified due to missing dereference"
Hi!

Whilst working through [Rustlings](https://github.com/rust-lang/rustlings) exercise [try_from_into](https://github.com/rust-lang/rustlings/blob/df25684cb79f8413915e00b5efef29369849cef1/exercises/conversions/try_from_into.rs), I encountered a few confusing compiler messages, particularly once I tried to fix the original issue.

I wasn't quite sure how to phrase the issue title - please rename

[2021-08-16 11:22] crlf0710 commented on #88020
I think he requested that another nesting level element with `code` tag within the currently generated `pre` tag elements.

This also aligns with the behavior at https://spec.commonmark.org/dingus/ .

[2021-08-16 11:29] crlf0710 commented on #87959
cc #85811

[2021-08-16 11:42] crlf0710 commented on #18600
Current tracking issue for this is #65991

[2021-08-16 11:49] HTG-YT commented on #87959
May I help with the third item when it is needed to be implemented?

[2021-08-16 12:30] #88016 closed

[2021-08-16 12:32] eloff commented on #87294
I think Craig is right, a smaller Arc would be best implemented a s a third-party library. I'll go that route.

[2021-08-16 13:05] jyn514 commented on #88020
Ah ok - I'm surprised to hear that since we use pulldown-cmark, which follows the commonmark standard. Someone would have to investigate whether this is specific to rustdoc or whether all tools using pulldown have this issue.

[2021-08-16 14:01] soc commented on #62358
@camsteffen

In what sense is `Option` anything but a collection with either 0 or 1 elements?

Also, the above code is also ambiguous whether it's a vector, a string, a slice, or a set. If the ambiguity was been an issue (it isn't) people would have hit it 15 years ago already (they haven't).

I propose consistency: come up with replacements for the other types too, so that things are properly dis

[2021-08-16 14:13] AlvinKuruvilla commented on #85444
Yes I changed my default browser to brave and now the docs appear correctly

[2021-08-16 14:30] edmorley opened #88081 "Improve suggestion when generic type parameter is missing from struct method definition"
Hi

Whilst working through the Rust Book final project ([Building a multithreaded web server](https://doc.rust-lang.org/stable/book/ch20-02-multithreaded.html#building-the-threadpool-struct-using-compiler-driven-development)), I encountered the following compiler error which could be more helpful.

I was attempting to type out the following `execute()` method definition from here:
https://github.c

[2021-08-16 14:34] m-ou-se commented on #87959
@HTG-YT Can you open that as a (draft) PR? Then we can review it so it's ready to be merged when we get to that point. Thanks!

[2021-08-16 14:37] camsteffen commented on #62358
"equals" is just a simpler concept than "contains" IMO.
1. "this contains a value equal to `x`"
2. "this equals `Some(x)`"

[2021-08-16 16:01] m-ou-se commented on #66358
Note that the existing `UnsafeCell::get` also gives a `*mut T` and does not have `mut` in the name. (The only difference is that `raw_get` takes a `*const Self` instead of a `&Self`.)

Doesn't look like it.

As @dtolnay pointed out during the libs api meetig last week: `raw_` seems like a good convention.

[2021-08-16 16:17] matklad commented on #66358
Aha, now that clicked for me! What we are emphasizing here is that self is a raw pointer: `&Self` vs `*const Self`. Which admittedly is exactly what the docs say, and what m-ou-se pointed out in the comment five days ago, seems like I just needed to read this n+1 time :-)

[2021-08-16 16:50] zseri commented on #83448
A similar error showed up in one of my codebases:
[code]

<details>
<summary><code>run.rs fh</code> snippet:</summary>

[code]

</details>

<details>
<summary>offending snippet</summary>

[code]

</details>

This problem was caused by a change in `indicatif`: https://docs.rs/indicatif/0.16.2/indicatif/struct.ProgressBar.html#method.set_message which, during an upgrade, changed a method signature f

[2021-08-16 17:12] gcoakes opened #88085 "Whole archive modifier for native libraries is not propagated to final output."
With the additional of RFC 2951 (tracking: #81490, implementation: #83507), linking modifiers such as `+whole-archive` are now possible to use for native libraries. However, `+whole-archive` is not propagated to the final output of the build. I've minimally reproduced this issue as best I could [here](https://gitlab.com/gcoakes/minimally-reproduce). It can probably be minimized more with raw calls

[2021-08-16 17:14] mbrubeck commented on #81872
`MutexGuard::drop` takes `&mut self`, so it can't easily call `unlock`, which consumes the `MutexGuard` by value.

[2021-08-16 17:22] ibraheemdev commented on #81872
Ah right, that is problematic.

[2021-08-16 18:12] dcsommer commented on #39699
What are the steps or blockers for enabling ASan on rustc targets beyond `x86_64-unknown-linux-gnu` and `x86_64-apple-darwin`? In particular, I would like to enable ASan for `armv7-linux-androideabi`, `aarch64-linux-android`, `i686-linux-android`, and `x86_64-linux-android`. The [rustc-dev-guide](https://rustc-dev-guide.rust-lang.org/sanitizers.html) doesn't have info for how to go about adding ne

[2021-08-16 18:15] JohnyL commented on #19140
Any news on fixing this?
[code]
Warning:

 --> src\main.rs:3:5
          |
3 |     Close
          |     ^^^^^
          |
  = note: `#[warn(dead_code)]` on by default

  warning: 1 warning emitted

[2021-08-16 18:20] lcnr commented on #78132
@nbdd0121 the reason this happens is because of https://github.com/rust-lang/rust/issues/78132#issuecomment-719744393.

@spastorino already intends to work on this, so it might make sense to talk about this with them to prevent any duplicate work.
The relevant zulip thread is https://rust-lang.zulipchat.com/#narrow/stream/260443-project-const-generics/topic/inline.20consts.20typeck

[2021-08-16 18:43] soc commented on #62358
@camsteffen So it would be `eq_slice`, `eq_string`, `eq_vector` too? I don't think the `Eq` type class is not flexible enough to accommodate that.

[2021-08-16 18:45] camsteffen commented on #62358
No?

[2021-08-16 18:47] soc commented on #62358
Then why the special-casing for `Option`?

The original commit literally had the message "This increases consistency with other common data structures." ... the naming is not a coincidence, it's the point.

[2021-08-16 19:00] Rustinante commented on #62358
@soc if the `Option` is for an underlying container class, it will easily lead to bugs because the one might accidentally confuse the `.contains` for the `Option` and the `.contains` for the underlying container. If you have two kids, why give them the same name?

[2021-08-16 19:05] Rustinante commented on #62358
`Option` is also different from the container classes. It participates in pattern matching in a special way in Rust and denote the **presence** or **absence** of values, while container classes don't. Similarly, the `Result` class has a special place in Rust, it denotes the **success/failure**. I hope we do not conflate them with the container classes.

[2021-08-16 19:13] camsteffen commented on #62358
Why do we have `is_none` instead of `is_empty`? That would be more consistent. Because `Option` is special. `eq_some`, `eq_ok` and `eq_err` are consistent with each other so that's worth something.

[2021-08-16 19:31] Kobzol commented on #88020
I think that using `<code>` is a good idea, not just for translation, but generally for the semantic meaning of the HTML. `<pre><code>` is pretty standard HTML for code blocks.

`pulldown-cmark` [uses `<code>`](https://github.com/raphlinus/pulldown-cmark/blob/master/src/html.rs#L100) and even [rustdoc tests](https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/highlight/tests.rs#L20)

[2021-08-16 20:27] anp opened #88091 "ICEs caused by new `fcntl` call in jobserver dependency on Linux"
We're [currently unable](https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=82662) to update Fuchsia's toolchain to the latest nightly with builds failing due to this ICE:

<details>

[code]

</details>

We think that this error is occurring on our builders due to many concurrent instances of `rustc` exhausting `/proc/sys/fs/pipe-user-pages-soft` which limits the number of pipe pages a user is al

[2021-08-16 20:28] Jake-Shadle opened #88092 "Static variables are not exported when targeting `wasm32-unknown-unknown`"
It appears that #67453 has regressed in nightly, The last working nightly we used was `rustc 1.56.0-nightly (0fa319039 2021-08-12)`, every nightly from `rustc 1.56.0-nightly (5a19ffe1c 2021-08-13)` to the present has failed.

I tried this code:

[code]

I expected to see this happen:

`cargo build --release --target wasm32-unknown-unknown && wasm2wat target/wasm32-unknown-unknown/release/missing_s

[2021-08-16 20:38] dns2utf8 commented on #88054
Currently it runs all the tests at the same time, so we would need to look into how we honour a specific value eg. 3.

[2021-08-16 21:08] eholk commented on #57017
Here's a shorter test case that illustrates the issue. This one is based around `yield`, so it avoids some of the extra syntax introduced by desugaring `await`. It makes the logs a lot easier to follow.

[code]

[2021-08-16 21:41] Kobzol commented on #62839
Thanks for the info, it works with newer GDB (>= 10.1) and this issue can be thus closed.

[2021-08-16 21:41] #62839 closed

[2021-08-16 21:55] SoniEx2 commented on #75861
The current implementation of new_cyclic has UB due to lack of `UnsafeCell<T>` in `ArcInner<T>`.

Specifically, if you spawn a thread with the Weak and spam clone it, like so:

[code]

the spawned thread may get stuck here:

https://github.com/rust-lang/rust/blob/f381e77d3590bc36f09b0d48cffb504f92febf5e/library/alloc/src/sync.rs#L1999

at which point it would have a shared ref to `ArcInner<T>`, an

[2021-08-16 22:13] petrochenkov commented on #88085
`whole-archive` is currently correctly propagated for `static:-bundle` (aka `static-nobundle`) libraries, libraries bundled into `rlibs` however lose their identity entirely and can only be linked as that rlib.

If we want to support that use case, rlibs will need to stop being "just static libraries" containing object files, they'll need to maintain some kind of internal structure to be able to b

[2021-08-16 22:37] jplatte commented on #88007
Turned out I linked the wrong error page, the type where I was expecting the impl to show up was `actix_web::error::Error`¹, a.k.a. `actix_http::error::Error`, which is *not* the same thing as `actix_web::Error`. There the impl really doesn't exist, at least in the same file (which has me very confused how the generics work out in practice but I'm okay with that for now).

¹ which also appears twi

[2021-08-16 22:38] ehuss commented on #88091
The small crater run we just did [here](https://crater-reports.s3.amazonaws.com/pr-87190-2/index.html) ran into a large number of errors due to this.  @alexcrichton What do you think about temporarily reverting the jobserver change until we have a better handle on how to approach this issue?

[2021-08-16 22:42] alexcrichton commented on #88091
Oh dear, thanks for cc'ing me on this!

For some background, the motivation for this change to the `jobserver` crate was https://github.com/rust-lang/cargo/issues/9739 where on Linux a single-page-backed pipe can quickly deadlock based on . This means that previously all the pipes on your system were theoretically susceptible to deadlocking. Now that being said the deadlocking happens when a token

[2021-08-16 23:08] bstrie commented on #87675
Sure, the intrinsic could be exposed via something like `mem::arbitrary`, although I'm not sure if it's more than academically useful, since after all you're still paying the cost of initialization and you'd still have to use `unsafe`.

[2021-08-16 23:19] lqd commented on #88092
@Jake-Shadle I feel/hope https://github.com/rust-lang/rust/pull/88032 will fix it. It should be in the next nightly, so please test it out and let us know :)

[2021-08-16 23:20] bstrie commented on #87228
For people who would like to see `asm` in the prelude, what is your opinion on having `global_asm` in the prelude? Is only the former important enough to warrant it, or do you see them as a package deal?

(Also to reiterate, there is no urgency to this decision as it's not a blocker for stabilizing `asm`.)

[2021-08-17 00:26] kpreid opened #88097 ""Expected type `[closure@...]`, found fn pointer" when unnecessarily `return`ing a closure"
Given [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f194bbd3fb74c407becacd9e6927e0df):

[code]

The current output is:

[code]

Ideally the code would compile successfully, but if that is infeasible, it would be nice if the diagnostic contained a hint to remove the `return`. (It's rather head-scratching that the closure is being converted to a fn poin

[2021-08-17 00:29] kpreid commented on #88097
@rustbot label: +A-closures +A-inference

[2021-08-17 00:42] johnthagen commented on #54981
@vi Do you know if `panic_immediate_abort` can be enabled using [`-Z build-std`](https://doc.rust-lang.org/cargo/reference/unstable.html#build-std) rather than Xargo? Given Xargo has been in maintenance mode for years, it seems like `build-std` would be preferable. If so, would you be able to provide an example on how to enable it in a `build-std` build?

[2021-08-17 00:45] ehuss commented on #87987
@roxelo We found another instance of this `PlaceBuilder` ICE that still fails with #88039 included:

[code]

Found trying to migrate `seed 0.8.0`.

Let me know if you need any more information.

[2021-08-17 00:58] tmandry commented on #73632
Isn't this expected if `staticlib` links in all dependencies and `lib` doesn't? Or were there other differences?

[2021-08-17 01:08] johnthagen commented on #54981
After playing around a bit with this myself, I was able to get this to work by using [`-Z build-std-features`](https://doc.rust-lang.org/cargo/reference/unstable.html#build-std-features):

[code]

[2021-08-17 01:11] ibraheemdev commented on #74331
Should this be closed given that the implementation was never merged?

[2021-08-17 01:17] gcoakes commented on #88085
@petrochenkov, I just tried adding `-bundle` to the build.rs from the description, and I'm still seeing the same behavior. Am I missing something? Also, I wasn't expecting the rlib to be passed separately from the native library. I was expecting the whole rlib would be `+whole-archive` since one of it's dependencies was.

[2021-08-17 01:26] ehuss opened #88099 "array_into_iter does not fire for lazy_static arrays"
I tried this code:

[code]

I expected to see this happen: [`array_into_iter`](https://doc.rust-lang.org/nightly/rustc/lints/listing/warn-by-default.html#array-into-iter) should fire for this.  Or, maybe this shouldn't fail in 2021?

Instead, this happened: Lint does not fire.  When migrating to 2021, this fails to compile:

[code]

`lazy_static` uses a Deref to access the underlying value.  The e

[2021-08-17 01:26] HTG-YT commented on #87959
Alright!

[2021-08-17 01:32] #87846 closed

[2021-08-17 02:12] ThePuzzlemaker opened #88102 "Miscompilation in lalrpop 0.19.6 causes LLVM error in nightly 2021-08-15/16"
### Code

Create an empty binary project, and add `lalrpop = "=0.19.6"` to the `Cargo.toml`. No additional code is necessary.

I expected to see this happen: Program builds.

Instead, this happened: Compiler crashes:
[code]

This is reproducible with a clean build environment. (I originally spotted this in my CI and was luckily able to reproduce it on my laptop). I apologize that I cannot give a b

[2021-08-17 02:22] ibraheemdev commented on #79359
I ran into this issue as well with one of my own traits:
[code]
[code]

Compiles with an explicit `impl Foo for Box<dyn Foo>`.

[2021-08-17 02:39] adlerd commented on #85629
(Since it's been a few months...)
I observed this too on a more recent nightly, still with aarch64-unknown-none-softfloat:
[code]

Does not repro when building release.

This blocks doing things like forcing core to have frame pointers.

[2021-08-17 03:20] ehuss opened #88103 "rust-2021-incompatible-closure-captures trait evaluation overflow error"
While trying to migrate [`sv-parser`](https://crates.io/crates/sv-parser) 0.11.1 to the 2021 edition, the compiler fails with this error:

[code]

It is hard to create a small reproduction, but here is the command to run in that package to reproduce the error:

[code]

I'm not sure if it is feasible to avoid this.  I'm guessing that the lint is doing some kind of trait evaluation that happens to a

[2021-08-17 04:08] ehuss opened #88104 "unused_braces false positive for macro expression."
I tried this code:

[code]

I expected to see this happen: No warning.

Instead, this happened: `unused_braces` warning with a suggestion that causes the code to fail to compile.

[code]

After applying the suggestion:

[code]

Found when trying to run `cargo fix` on [`nphysics2d`](https://crates.io/crates/nphysics2d) 0.24.0.

### Meta

`rustc --version --verbose`:
[code]

[2021-08-17 04:18] #85019 closed

[2021-08-17 04:19] rust-highfive opened #88105 "`rls` no longer builds after rust-lang/rust#87990"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#87990, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Aaron1011, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-08-17 04:23] ehuss opened #88106 "rust_2021_incompatible_or_patterns misses some patterns that fail in 2021"
I tried this code:

[code]

I expected to see this happen: Suggestions should change all `pat` matchers to `pat_param`.

Instead, this happened: The lint misses the first pattern.  That is, after the suggestions:

[code]

But this fails to compile in 2021:

[code]

Found while trying to migrate [`stakker`](https://crates.io/crates/stakker) 0.2.4.

### Meta

`rustc --version --verbose`:
[code]

[2021-08-17 04:35] Jake-Shadle commented on #88092
Hah yes, indeed, `rustc 1.56.0-nightly (0035d9dce 2021-08-16)` made the build go green again, thanks!

I'll close this now, but I guess I am a bit concerned about how this regression could occur since the original PR#67975 included a test specifically for this case, which is still present https://github.com/rust-lang/rust/blob/master/src/test/run-make/wasm-export-all-symbols/verify.js

[2021-08-17 04:35] #88092 closed

[2021-08-17 04:55] jamestmartin commented on #88102
I was able to reproduce this bug with a toolchain that reports itself correctly.

[code]

[2021-08-17 05:07] #74331 closed

[2021-08-17 05:09] chc4 opened #88107 "improper_ctypes_definitions doesn't lint on non-FFI safe fn type construction"
Given the following code:

[code]
[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=55030237a20e0b249ad7d977a8f6f75f)
The current output is:

[code]

Ideally the output should look like:

[code]

Currently, the improper_ctypes_definitions lint will warn only for declarations of extern functions with non-FFI arguments (such as `pub extern "C" fn throw_away_th

[2021-08-17 05:12] chc4 commented on #88107
(The core error in the code is the assumption that `()` would only leave the `a` value uninitialized, and not actually cause parameters to be shuffled due to the first argument size changing, which is correct behavior - I was just surprised that the lint didn't warn me about it, and it seems like an oversight.)

[2021-08-17 06:06] lqd commented on #88092
@Jake-Shadle `wasm32-unknown-unknown` is a tier 2 target, tests are not always run (and if they fail, it doesn't stop a nightly from being released IIRC).

As anecdote, this issue was noticed not because of the wasm tests, but because of miri's tests: they are executed after PRs land (except during "no breaking the tools"-week before release) because a tool can similarly be temporarily broken, but

[2021-08-17 06:35] bjorn3 commented on #73632
`--emit obj` doesn't link in dependencies as it doesn't link at all. It just emits an intermediate object file that would be given to the linker otherwise.

[2021-08-17 07:39] SNCPlay42 commented on #88102
Duplicate of #88043?

[2021-08-17 07:40] PooyaEimandar opened #88108 "Strange behavioral from 'std::env' when calling Rust program from C++ Program"
I port an application from C++ to RUST which is responsible to parse the input arguments and then do some actions.
I tried to call this RUST application from another C++ application via [CreateProcess ](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessa) function.
But something strange happened, I think the lifetime of passing parameters in C++

[2021-08-17 07:52] jsgf opened #88110 "`rustdoc --test --preserve-doctests --no-run` produces empty non-executable files"
I tried this code:

t.rs:
[code]

[code]
Without `--no-run`, this generates (and runs) executables:
[code]
I'd expect the same with `--no-run`.
Instead, with `--no-run` I get empty non-executable files:
[code]
### Meta

`rustc --version --verbose`:
[code]

[2021-08-17 07:53] jsgf commented on #87022
`--no-run` doesn't seem to be working as I'd expect: https://github.com/rust-lang/rust/issues/88110

[2021-08-17 07:55] Jake-Shadle commented on #88092
Ahh right, sorry, forgot wasm32 was still a tier 2, thanks for noticing this and linking the fix!

[2021-08-17 08:16] m-ou-se commented on #88106
If it is a single arm, both `:pat`s get correctly replaced by `:pat_param`:
[code]

But we're not doing any analysis across different arms of a macro rules, so this issue is somewhat expected.

The same happens with
[code]
Where `...` is anything that's currently not a valid expression, but might be in the future.

[2021-08-17 09:03] tvercruyssen commented on #62358
So we make a PR to rename all the `Option` and `Result` methods to `eq_some`, `eq_ok` and `eq_err` and reorder them maybe too ? Or are we still bikesheding names?

[2021-08-17 09:50] ChrisDenton commented on #88108
Yes, processes are separate. Would it be possible to provide an example of this bug? I mean a small C++ program and a small Rust program that shows the problem. This would make it easier to investigate the problem.

[2021-08-17 10:15] michaelwoerister commented on #88085
I can reproduce the issue as described:

- If compiled with `cargo:rustc-link-lib=static:+bundle,+whole-archive=foo` then `libfoo_sys.rlib` will contain `foo.o` but it is linked without `--whole-archive` (and thus `foo.o` won't be linked in).
- If compiled with `cargo:rustc-link-lib=static:-bundle,+whole-archive=foo` (i.e. no bundling) then `libfoo_sys.rlib` will not contain `foo.o` (as expected)

[2021-08-17 10:35] opeik commented on #87858
I enabled the lint since I think it's useful, however, I was surprised by the behaviour. Within a module there may be a few related functions which would be fine referencing an existing example. Not taking that into consideration makes this lint annoying for that use case.

[2021-08-17 10:38] SoniEx2 commented on #63292
re: https://github.com/rust-lang/rust/issues/63292#issuecomment-565766453

so this is why it's unsound to have Arc::borrow_mut with Weak references around... unless we had an Invariant type and Arc::borrow_mut was an impl on `Arc<Invariant<T: ?Sized>>`? (`Arc<Cell<T>>` would also kinda work but `Cell` isn't `Send+Sync` sadly.)

[2021-08-17 11:50] uweigand commented on #85931
(Sorry for the late reply, I've been out on vacation ...)

Thanks for looking into this!   In addition to the ISA document David linked to above, here's the ABI documentation (if needed):
https://github.com/IBM/s390x-abi/releases

And here is the list of assembler constraints supported by GCC for the platform:
https://gcc.gnu.org/onlinedocs/gcc/Machine-Constraints.html
(look for the section "S/390

[2021-08-17 12:02] hkratz commented on #88051
Interesting. Essentially the information that  `Ordering` can only be -1, 0 or +1 is lost in MIR already for `b()` and even after LLVM inlines `cmp()` it cannot clamp down. I think in we could emit different MIR or add a MIR optimization pass which replaces the wildcard match with explicit ones if the wildcard only matches one (or two, three?) constants.

Simpler testcase:
[code]
[Godbolt](https:/

[2021-08-17 12:09] hkratz commented on #88051
@rustbot claim

[2021-08-17 12:44] camsteffen commented on #62358
I think a lang team decision is needed at this point, if arguments have been exhausted.

[2021-08-17 13:01] jyn514 commented on #87858
How could rustdoc tell if you're referencing an existing example?

[2021-08-17 14:02] GTime commented on #25289
The command below help fix this issues on Windows Subsystem Linux
[code]

[2021-08-17 14:29] soc commented on #62358
@Rustinante Is this a conjecture or is there any evidence for that? That is, did any of the languages that went with `contains` regret it later? Or is it a complete non-problem (which is the information I have from F#, Scala, ...).

[2021-08-17 14:31] m-ou-se opened #88113 "Invalid `dyn` suggestions"
In a small crater run for the 2021 edition migrations, a few problems turned up with the suggestions we give for missing `dyn` keywords:

- Invalid suggestion to change `Trait::thing` to `<dyn Trait>::thing` without generic args:
  - https://crater-reports.s3.amazonaws.com/pr-87190-2/try%23d8627d19850b63702b76089d7b055730e9ddca14/reg/biofile-1.10.2/log.txt
  - https://crater-reports.s3.amazonaws.c

[2021-08-17 14:33] m-ou-se opened #88114 "Closure captures migration missing some cases"
In a small crater run for the 2021 edition migrations, a few problems shows up with closures no longer compiling after migration:

  - https://crater-reports.s3.amazonaws.com/pr-87190-2/try%23d8627d19850b63702b76089d7b055730e9ddca14/reg/finality-grandpa-0.14.3/log.txt
  - https://crater-reports.s3.amazonaws.com/pr-87190-2/try%23d8627d19850b63702b76089d7b055730e9ddca14/reg/tantivy-0.15.3/log.txt

[2021-08-17 14:35] #88091 closed

[2021-08-17 14:36] m-ou-se opened #88115 "non_fmt_panics suggestion applied many times when it appears inside a macro_rules"
This showed up in a small crater run for the 2021 edition migrations:

  - https://crater-reports.s3.amazonaws.com/pr-87190-2/try%23d8627d19850b63702b76089d7b055730e9ddca14/reg/image-0.23.14/log.txt
  - https://crater-reports.s3.amazonaws.com/pr-87190-2/try%23d8627d19850b63702b76089d7b055730e9ddca14/reg/mockers-0.21.0/log.txt

The suggestion gets applied for every usage of the macro, resulting in:

[2021-08-17 14:37] m-ou-se commented on #88115
@estebank  Is this a known problem with suggestions inside macro_rules definitions?

[2021-08-17 14:40] m-ou-se commented on #88114
cc @rust-lang/wg-rfc-2229 (This is the issue for the problem I mentioned [here](https://github.com/rust-lang/rust/pull/87190#issuecomment-899882722).)

[2021-08-17 14:44] aaron-cerebras commented on #62358
What’s a conjecture?

[2021-08-17 14:46] andrewsonin opened #88116 "Misleading nightly compiler error message when using incomplete `const_generics` feature"
Given the following code:

[code]

The current output is:

[code]

But `B` is actually annotated with `#[derive(PartialEq, Eq)]` and the code without the last struct definition compiles with no issues.

[2021-08-17 14:49] Rustinante commented on #62358
What’s a conjecture? And I’m not sure I get the point of comparing a specific function name in a different language, does Scala have a function called is_none too?

[2021-08-17 14:52] m-ou-se commented on #88099
I'm guessing this is the same issue as mentioned here: https://github.com/rust-lang/rust/pull/84147#issuecomment-819000436

[2021-08-17 15:07] joshtriplett commented on #86516
This seems reasonable to me. I think we should go ahead and take it as-is. I can also imagine wanting a "force deny" option in the future, but I don't want that to be a blocker for this.

[2021-08-17 15:08] joshtriplett commented on #86516
@rfcbot merge

[2021-08-17 15:09] ZizhengTai commented on #72110
Also checked that on Ubuntu, cargo produces the same sizes of binaries as `strip --strip-all`, but on macOS it uses `strip -x` and produces larger binaries.

[2021-08-17 15:12] Rustinante commented on #62358
Also, speaking of regrets, yes i’m already regretting that we picked the contains name because of the reasons that were mentioned earlier in this thread, the confusion caused by the conflation of Option and containers was what led me to this GitHub issue in the first place. So I think there’s no need to look for further evidence of regrets in other languages…

[2021-08-17 15:19] Hello71 commented on #88091
this isn't *quite* right. the pipe fixes were backported back to 4.4 (the earliest kernel still supported upstream), so you need only upgrade to the latest kernel on your branch, which you should do anyways (see gkh "All users must upgrade").

[2021-08-17 15:20] anp opened #88117 "`rustc_data_structures::jobserver` should fall back to an in-process implementation if no jobserver in environment"
In https://github.com/rust-lang/rust/issues/88091 we discovered a scaling limit on concurrent `rustc` invocations when run outside of a build system that provides a jobserver pipe. In that configuration, the compiler [creates its own pipe](https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/compiler/rustc_data_structures/src/jobserver.rs#L23) for internal thread schedul

[2021-08-17 15:23] Hello71 commented on #88091
this is probably a good idea. pipes are much slower than shm futexes; the only reason to use pipes as semaphores is to maintain compatibility with GNU make or with platforms that don't support shared semaphores.

[2021-08-17 15:23] anp commented on #88091
Yeah if it's showing up in crater then my assumption about being limited to use outside of cargo might have been incorrect.

Appreciate the revert, I also filed https://github.com/rust-lang/rust/issues/88117 as a possible follow-up that might remove this scaling factor entirely.

[2021-08-17 15:25] nikomatsakis opened #88118 "`PlaceBuilder` ICE, Part 2"
#88039 fixed #87987 but this issue still fails:

[code]

Found trying to migrate `seed 0.8.0`.

Let me know if you need any more information.

_Originally posted by @ehuss in https://github.com/rust-lang/rust/issues/87987#issuecomment-899910552_

[2021-08-17 15:25] nikomatsakis commented on #88118
@rustbot assign @roxelo

[2021-08-17 15:33] alexcrichton commented on #88117
Oh FWIW I was originally naively assuming that this would happen internally in the `jobserver` crate itself. There's already an in-process implementation there for platforms that don't have pipes (e.g. wasm IIRC) so that's what I expected to be reused. That being said using doing this all in rustc seems plasusible as well. In general though this probably isn't too necessary since pipe usage isn't

[2021-08-17 15:40] joshtriplett commented on #72110
@ZizhengTai That does seem inconsistent. I *think* we want to use the same behavior as `strip` when we're given "symbols".

[2021-08-17 16:03] anp commented on #88117
That makes more sense! I imagine `rustc` would still need to call a different function than `Client::new`, right?

[2021-08-17 16:03] joshtriplett commented on #87228
@bstrie I personally think the same logic applies to `global_asm`, and it's not like the name `global_asm` is likely to conflict with anything. I don't consider them a package deal, though, and I place more importance on having `asm` in the prelude.

[2021-08-17 16:12] Hoverbear commented on #63084
I was wanting to use this today to create a type like so:

[code]

So that later, on instantiated types, I could access various typeids of these containers, and use it to map Rust types to equivalent SQL types. This is for https://github.com/zombodb/pgx.

There have been no reported issues for several releases, what steps remain towards stabilizing this?

[2021-08-17 16:21] RalfJung commented on #63084
`type_id` (https://github.com/rust-lang/rust/issues/77125) has a bunch of issues which is why its stabilization actually got reverted; not sure if those issues also apply to `type_name`.

[2021-08-17 16:23] estebank commented on #87972
For the purposes of coloring, the fact that ligatures are enabled shouldn't affect how correct the output is *unless those terminals are already buggy independently of what we provide* because we are relying on ANSI codes (on non-Windows environments), which are inline. If those terminals don't handle ANSI codes in between two different characters separated by a color change that happen to have a

[2021-08-17 16:28] Hoverbear commented on #63084
Would you believe I clicked the wrong link in Rustdoc? Sorry.

[2021-08-17 16:31] alexcrichton commented on #88117
Indeed yeah!

[2021-08-17 16:48] thomcc commented on #87972
Sorry, that's not my intention at all. My experience is that the logic here is often spread between both a `wcwidth`-style function and the underlying font rendering/shaping code (which comes from harfbuzz, appkit, etc), and so the existence of one of these doesn't really show that the other doesn't exist (although it seems I was mistaken and in those cases it does not).

By ligatures, I mostly me

[2021-08-17 17:02] estebank commented on #88115
Oh, that definitely looks like an outstanding bug :-/

[2021-08-17 17:05] chazkiker2 commented on #87211
hey @tmandry, I’ve been caught up with some life stuff and just have not had the whitespace to sit down and toy with this.

Sorry for delaying this issue, but I think I’m going to unassign myself for the time being. is that okay?

[2021-08-17 17:06] chazkiker2 commented on #87211
@tmandry maybe this should return to “On Deck”?

[2021-08-17 17:16] davidpdrsn commented on #87924
I'm gonna close this for now since I was able to fix the issues directly in axum. PRs were https://github.com/tokio-rs/axum/pull/198 and https://github.com/tokio-rs/axum/pull/184.

I suppose there still might be a bug in rust, so feel free to re-open if you want.

[2021-08-17 17:16] #87924 closed

[2021-08-17 17:19] calebcartwright commented on #88029
I don't have sufficient permissions on this repo to be able to transfer an issue out, but AFAIK this is operating as expected given that the Rust Style Guide that defines the rules rustfmt implements requires the sort order be ascii-betical

https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/items.md#ordering-of-imports

[2021-08-17 17:35] spearman commented on #39412
Private decl macro shows up in generated docs (`rustc 1.56.0-nightly (0035d9dce 2021-08-16)`)
[code]
`macro1` is shown in generated `cargo doc`, `macro2` is not.

[2021-08-17 17:38] rylev commented on #86516
In the lang team meeting, it was determined that the semantics seem to be correct as they are implemented. `--force-warn $LINT` causes a warning (or more sever level) to be emitted should $LINT be triggered.

The only wrinkle is that `--force-warn warnings` has unclear semantics since the `warnings` lint group doesn't seem to have very clear semantics, and thus we should forbid it for now. I will

[2021-08-17 17:40] Mark-Simulacrum commented on #86516
I would like for us to rename the option to `--min-lint-level`, FWIW, since the option *doesn't* force a warning, but rather raises the minimum lint level. I think `--force-warn` sounds it like it acts as a cap on 'both sides', both --cap-lints warn and --min-lint-level warn, basically, but that isn't actually what it behaves as. And `--min-lint-level lint=warn` seems pretty clear, in contrast, to

[2021-08-17 17:46] oli-obk commented on #88043
The issue was not fixed, it is an LLVM crash on stable as https://github.com/rust-lang/rust/issues/88043#issuecomment-899051774 shows

[2021-08-17 17:48] #88102 closed

[2021-08-17 17:49] ehuss commented on #86516
I believe that is what it does.  That is, if a lint is denied or forbidden, it is lowered to a warning, and if it is allowed it is raised to a warning.

[2021-08-17 17:56] rylev commented on #86516
@ehuss is correct, and I misspoke in the lang team meeting unfortunately.

[code]

[code]

[2021-08-17 18:03] dtolnay commented on #88043
Relabeling regression because https://github.com/rust-lang/rust/issues/88043#issuecomment-899051774 worked in 1.51.0. It bisects to nightly-2021-03-02 (https://github.com/rust-lang/rust/compare/e37a13cc3594004663738bd18d8100e6db9666cf...4f20caa6258d4c74ce6b316fd347e3efe81cf557).

[2021-08-17 18:07] dtolnay commented on #88043
https://github.com/rust-lang/rust/pull/78360 is the only codegen change in that nightly. @tmiasko @wesleywiser

[2021-08-17 18:11] RustyYato commented on #78808
I ran into the same bug today

[2021-08-17 18:21] RalfJung commented on #78186
I had a closer look at `ReentrantMutex` (took a bit longer than expected, sorry for that). It's a tricky one because even with `Pin`, there is no entirely safe way to use this type... this means the invariant we use for the safety proof is much less constrained than it would be in a proper safe API. So I imagined that we would add the following function:
[code]
I hope I got this right and this fun

[2021-08-17 18:27] m-ou-se commented on #88115
That other issue looks confusing because the surrounding `assert!(` and `)` are on separate lines:

[code]

but the error is correct.

(It could suggest removing `format!(` and `)` though instead of adding `"{}", ` though, like the non_fmt_panics lint does.)

[2021-08-17 18:29] m-ou-se commented on #88115
@estebank So I assume there's no existing mechanism for 'deduplicating' suggestions like that, such that they only appear on the first macro invocation or something? :(

[2021-08-17 18:41] scottmcm commented on #61956
I believe this is by-design right now from a lang perspective (see https://github.com/rust-lang/rust/pull/86281#issuecomment-900470361).

The answer for the "array initialization example" is `MaybeUninit::array_assume_init`, tracked in https://github.com/rust-lang/rust/issues/80908

[2021-08-17 18:48] estebank commented on #88115
I believe we have a mechanism to do that, but it might be relying on the `Span` information, and because these spans have different provenance they are considered "different". We could maybe make `rustfix` smarter here instead :-/

What's the timeline for the edition?

[2021-08-17 18:49] Mark-Simulacrum commented on #86516
OK - in that case, name seems fine, though it's not clear to me that the behavior is generally useful; that doesn't seem to preclude stabilization for the targeted use case.

[2021-08-17 18:55] m-ou-se commented on #79524
@rfcbot merge

[2021-08-17 19:08] #87313 closed

[2021-08-17 19:08] #87999 closed

[2021-08-17 19:19] CraftSpider opened #88119 "ICE with `const_impl_trait` + `const_evaluatable_checked`"
Playing around with some more complex possibilities of const traits + checked evaluation, and ran into an ICE. I minimized it as much as I could, but I imagine this may not be the most minimal example.

### Code
Uncomment the lines marked as 'Does ICE' to see the error.

Playground Link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=99ad0a7282faed3143cefa2fdb3111e0

###

[2021-08-17 19:35] m-ou-se commented on #88115
We have 17 days until 1.56 branches off. In 10'000 crates we only ran into this twice though, so it doesn't seem like a big issue; definitely not a blocker.

[2021-08-17 19:38] m-ou-se commented on #88115
It seems to work fine though when the suggestion is to replace `panic!` by `panic_any`, even if it's duplicated six times. I'm guessing whatever makes that work isn't working for inserting `"{}", `, because it's inserting (replacing an empty span) rather than replacing.

[2021-08-17 19:52] m-ou-se commented on #78186
`ReentrantMutex` is a bit of a weird one, because it needs a `const` constructor, but the implementations do require having `init()` called before it's actually used.

A better example is `RwLock`: https://github.com/rust-lang/rust/pull/77865 (Which I apparently forgot about and should probably be merged.)

Yes, `lock()` would no longer be able to guarantee the lock wasn't moved since the last cal

[2021-08-17 19:56] m-ou-se commented on #88115
https://twitter.com/artichokeruby/status/1427720656817332227

[2021-08-17 20:13] jplatte commented on #77898
`min_type_alias_impl_trait` has been removed in #87501, what does that mean for this issue?

[2021-08-17 20:16] camelid opened #88120 "Consider styling clickable go-to-definition links using faint underline"
Basically, we could style the links similarly to Haskell's equivalent to Rustdoc, Haddock. They use a faint underline, and then add background color when the link is hovered:

![image](https://user-images.githubusercontent.com/37223377/129791427-4dfc70d9-6db7-4d92-91a4-b7109440fa55.png)

![image](https://user-images.githubusercontent.com/37223377/129792048-c37d5c80-d27d-481d-9bcf-e6f9a1fa94e1.png)

[2021-08-17 20:22] jackh726 commented on #77898
This is something we probably want `type_alias_impl_trait` to do, so this can stay open.

Also, not sure why I said this requires `impl_trait_in_bindings`...

[2021-08-17 21:33] joshtriplett commented on #87228
@rfcbot merge

In advance of the next time this gets discussed in a meeting, I'd like to use rfcbot to gauge consensus on keeping `asm!` (and `global_asm!`) in the prelude.

I personally believe they should be available without an import, to give them the appearance of a built-in language mechanism (which they inherently have to be).

[2021-08-17 21:47] RalfJung commented on #78186
Yeah I am aware of the general point, but without a concrete example it is hard to tell how relevant that is.

`RwLock` looks to be such an example then; I'll take a look at that when I find some more time.

[2021-08-17 22:14] mati865 commented on #64099
Triage: still present in 2021, [godbolt link](https://godbolt.org/#z:OYLghAFBqd5TKALEBjA9gEwKYFFMCWALugE4A0BIEAZugHZEDKqAhgDbYgCMALOXUYBVAM7YACgA8QAcgAMM8gCse5dq3qhSAVxFFyYzqiIEG1bPUwBhdO20BbeiABM5C5gAyBetgByDgCNsUh4AZnIAB3QRYlN6GztHF0jo2IYvH397IJDucMNsYzimIlZSIgSHJ1cCooYSsqIMv0DgsINS8sqkms6m7xbstryASgN0bVJULhkAUmdQ2YBWACFvdgGIHwA3YJHlgBFZuQBBCO0AgGoaemv0dChWckuA59RnzBGQS4hdAgAvbDPP6A4ExUGXEHYEYjS

[2021-08-17 22:14] bbros-dev commented on #79024
Context: We're prototyping some simple CLI app functionality.  We're following the mini-redis example code where we can.

We've bumped out head on streams, and the need for the crates async-streams, and parallel-streams.

In our experience some `*Iterator` terminology would have helped clarify what streams are.

Given the need for the crates we cited, especially the async-streams RFC, we wonder if

[2021-08-17 22:29] benkay86 commented on #79024
[Rayon](https://docs.rs/rayon) provides a whole ecosystem of parallel iterators on top of a work-stealing threadpool, and is currently the _de facto_ Rust standard for parallel iteration.  But I don't foresee a parallel iterator trait getting into the Rust standard library anytime soon.

Streams are supposed to cover the use case of concurrent iterators only (per my understanding).  Hopefully once

[2021-08-17 22:37] kpreid commented on #88003
If this lint had existed, it would have helped me learn the rules around `mut <ident>` and `&mut` reborrowing faster.

[2021-08-17 22:46] sadmac7000 opened #88125 "Encountered spurious `Does not need to be mutable` warning"
I had the following function in my code:

[code]

Getting rid of the `mut` on the second line and making the `cmd` argument mutable instead resulted in a "Warning: 'cmd' does not need to be mutable" message. Getting rid of the `mut` entirely caused the program to fail to compile due to the mutable references.

I've not gotten a simpler reproducer to behave this way in isolation.

[2021-08-17 22:55] roxelo commented on #88118
The culprit is https://github.com/rust-lang/rust/blob/master/compiler/rustc_mir_build/src/build/expr/into.rs#L332

[2021-08-17 23:27] nikomatsakis opened #88126 "stabilize disjoint capture in closures (RFC 2229)"
# RFC 2229 Stabilization Report

## Links

* [RFC 2229](https://github.com/rust-lang/rfcs/blob/master/text/2229-capture-disjoint-fields.md)
* [Tracking issue](https://github.com/rust-lang/rust/issues/53488) and [project repository](https://github.com/rust-lang/project-rfc-2229/)
* [Reference guide PR](https://github.com/rust-lang/reference/pull/1059)

## Impl blockers

* [x] Fixing various ICEs an

[2021-08-17 23:27] nikomatsakis commented on #88126
cc @rust-lang/lang @rust-lang/wg-rfc-2229

[2021-08-17 23:27] nikomatsakis commented on #53488
Stabilization proposed in https://github.com/rust-lang/rust/issues/88126

[2021-08-17 23:28] nikomatsakis commented on #88126
@rfcbot fcp merge

I propose to merge this. We are trying to keep the wheels moving here to try and meet the 1.56 branch deadline for Rust 2021.

[2021-08-18 00:02] jackh726 commented on #88126
Congrats to @arora-aman, @roxelo, and others who worked on this. Great work.

[2021-08-18 00:31] sadmac7000 commented on #88125
This looks to be caused due to some proc macro shenanigans that we're up to in this code base, hence the difficulty reproducing. Closing.

[2021-08-18 00:31] #88125 closed

[2021-08-18 01:01] tmandry commented on #87934
Please consider [filing a Major Change Proposal](https://github.com/rust-lang/compiler-team/issues/new?assignees=&labels=major-change%2C+T-compiler&template=major_change.md&title=%28My+major+change+proposal%29) for this. I don't expect it to be controversial.

Adding this as a new `relocation-model` option makes sense to me. Implementation should be fairly straightforward in that case. The [rustc

[2021-08-18 03:47] jackh726 commented on #87531
Closing as duplicate of #62529

[2021-08-18 03:47] #87531 closed

[2021-08-18 04:36] opeik commented on #87858
Potentially by looking at the linked item and checking if there is an example present there, instead of the current doc comment.

[2021-08-18 05:00] ohsayan commented on #36887
I think having type params in `fn`s is very useful. For example, think about a situation where:
[code]

So, for the `get_from_bytes` this can be extremely useful: if the user doesn't pass any type param for this fn, then we can just return `Vec<u8>`, else we can return whatever type param was passed:

[code]

I don't see why we want to remove this. The consequence of removing this would be to forc

[2021-08-18 05:50] #82672 closed

[2021-08-18 07:31] Florian-Schoenherr commented on #54283
found this randomly on codetribute lol
@scottmcm can you close this? 😄

[2021-08-18 08:16] hkratz opened #88131 "Thread sanitizer UI test fails on Macos ARM64"
Try on a Apple Silicon Mac:
[code]
Expected result: Test passes.

Actual result: Test fails with:
[code]

@rustbot label +A-sanitizer +A-llvm +O-macos +O-arm

[2021-08-18 08:19] hkratz opened #88132 "Leak sanitizer UI test hangs on Macos ARM64"
Try on a Apple Silicon Mac:
[code]
Expected result: Test passes.

Actual result: Test hangs:
[code]

See also: #88131

@rustbot label +A-sanitizer +A-llvm +O-macos +O-arm

[2021-08-18 08:47] hkratz commented on #88131
Was probably already fixed upstream, see https://reviews.llvm.org/rG8a8fa09cb78af47ad81e933045fc20ddce8482ff. Not sure what the situation for LLVM 13 is.

[2021-08-18 09:37] ChrisJefferson commented on #74384
This seems to work fine in rustc 1.54.0 (a178d0322 2021-07-26)

[2021-08-18 09:42] hkratz commented on #88131
I can confirm that this is fixed in LLVM 13, it passes for me locally with #87570.

[2021-08-18 09:44] hkratz commented on #88132
This problem is still reproducible with LLVM 13.

[2021-08-18 10:01] rylev commented on #86516
cc @joshtriplett and @nikomatsakis to make sure their aware of the fact that --force-warn causes warnings no matter what (and not warnings or worse as was suggested in the lang team meeting).

[2021-08-18 10:43] #87802 closed

[2021-08-18 11:17] michaelwoerister commented on #88085
@petrochenkov, I plan to make a PR with the above fix and some regression tests. However, the fix only covers the `-bundle` case. What do we want to do for the `+bundle` case? I see a few options:

1. Disallow combining `+bundle` with `+whole-archive`
2. Try to emulate the before of `+bundle,+whole-archive` somehow (e.g. by extracting the object files of the static lib and linking them directly).

[2021-08-18 11:35] matklad commented on #87335
An interesting example which I didn't see come up in the RFC text/thread (quick search for `mut`). In today's Rust, `let-else` won't work for a case of rebinding variables. An example here is computing a path in a graph after DFS returns a map of parents:

[code]

Here, `let` won't re-bind curr, it'll shadow it instead (I think we have plans for allowing re-binding behavior in such cases, not sure

[2021-08-18 11:41] rahul-ar commented on #87211
@rustbot claim

[2021-08-18 11:46] joshtriplett commented on #86516
That's not ideal; the semantics I'd expect are "at least a warning", not downgrading deny to warn.

How difficult would it be to change that, to make it a minimum but not a maximum?

[2021-08-18 11:51] joshtriplett commented on #87335
On Wed, Aug 18, 2021 at 04:35:50AM -0700, Aleksey Kladov wrote:

I wouldn't *ever* expect `let` to change what an existing location
refers to, only to make a new binding and shadow any previous binding.

[2021-08-18 11:54] petrochenkov commented on #88085
I don't think this is a right thing to do - a rlib can include its own code and multiple native libraries with different values of the `whole-archive` flag, why should a single `+whole-archive` "win" over the rest of the rlib?

These looks like good near term solutions.

I'd be interested in seeing a design doc describing how to build a rlib in a way allowing to "disassemble" it into parts and lin

[2021-08-18 12:02] b-naber commented on #87930
I'm fairly certain that this behaviour is intended and not a bug. The compiler reborrows in the match expression, so that `&mut node.next` has type `&'a mut Option<&'a mut Node<'a>>`. Why we end up with the region corresponding to `'a` on the reborrow is explained [here](https://github.com/rust-lang/rust/blob/679dea4cc3fbddc6717cc9ee2b5f906f1e538df6/compiler/rustc_mir/src/borrow_check/type_check/m

[2021-08-18 12:10] michaelwoerister commented on #88085
How would this look from a backwards-compatibility point of view? It should be fine because `+whole-archive` isn't stable anyway, right?

[2021-08-18 12:15] matklad commented on #87335
Ah, indeed, I am confused, I was thinking about https://github.com/rust-lang/rust/issues/71126, which is a different feature, I'll edit my comment.

[2021-08-18 12:16] joshtriplett commented on #72110
Submitted https://github.com/rust-lang/rust/pull/88137 to try to address this.

[2021-08-18 12:20] matklad commented on #87335
Hypothetically, we can allow the following (else without let):

[code]

This would be a natural combination of let-else and #71126. While #71126 is still unstable, it might be worth is to think about the interactions between the two. Will the above example just work, or are there any problems with it?

[2021-08-18 12:54] ranma42 commented on #32408
IIUC if the asm block is not marked `noreturn`, the compiler will generate the code for whatever follows the block, including a final `ret`, while if it is marked `noreturn` only a `ud2` is generated (and all of the code is omitted).
Would it make sense to have `options(untrapped_noreturn)` that guarantees that the compiler emits nothing?

[2021-08-18 13:03] petrochenkov commented on #88085
Yes.

[2021-08-18 13:06] ranma42 commented on #32408
Also the (admittedly outdated) [example in the RFC](https://github.com/rust-lang/rfcs/blob/master/text/1201-naked-fns.md#example) used an explicit `intrinsics::unreachable()` after the `asm!` block. Maybe we could avoid automatically inserting the `unreachable` IR instruction and let the developers do it if/when they want the additional protection (since they are manually writing the function, inc

[2021-08-18 13:09] camsteffen commented on #87335
I also [mentioned](https://github.com/rust-lang/rfcs/pull/3137#issuecomment-866801443) this in the RFC. Probably no technical limitation but just readability concerns. I think we can safely wait until let-else and destructuring-assignment have matured before expecting them to procreate (forgive me).

[2021-08-18 13:36] haraldh commented on #32408
@ranma42 Both solutions are way better than any unexpected compiler generated code. I personally expect total control, if I use add the `naked` attribute. Even the Summary of the RFC states "epilogue-free".

If I put that function in a link section, and only that function, I don't expect that link section to contain more bytes than my function. If rust cannot guarantee that, then I will have to sw

[2021-08-18 13:43] jesyspa opened #88138 "Unused import warning in a test could suggest #[cfg(test)]"
Given the following code: [Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8ab3d6b8fab93ac0c34cf822a91664cb)

[code]

The current output is:

[code]

However, the import _is_ actually required for the test.  It would be helpful if the compiler suggested adding `#[cfg(test)]` to `mod test` to fix the issue.  (Thanks to pie_flavor on Discord for pointing out

[2021-08-18 13:53] fintelia commented on #32408
Another option would be to insert the `ud2` instruction only if the function is located in the .text segment. This would potentially catch bugs where execution runs off the end of naked functions, while not creating other issues because the compiler is allowed to place padding instructions between functions in the text segment whenever it wants.

[2021-08-18 13:56] Amanieu commented on #32408
We don't have direct control over the `ud2` instruction, it is inserted by LLVM because the `TrapUnreachable` option is enabled. Removing the `unreachable` IR instruction won't help: LLVM requires that all basic blocks end with a terminator instruction in the IR.

The only way to eliminate it is to disable `TrapUnreachable` by default.

[2021-08-18 13:59] konstantinua00 commented on #15701
another year, another question "what's the current status?"

maybe someone should edit initial comment to add the status there?

[2021-08-18 14:01] rylev commented on #86516
It should be an easy change. I can have a PR soon. Do we need to bring this to the attention of the entire lang time to make a final call on which behavior we want?

@ehuss - this shouldn't matter either way for the cargo fix use case, correct?

[2021-08-18 14:12] konstantinua00 commented on #37179
Is this still an issue?

[2021-08-18 14:32] rylev commented on #86516
Taking a look at what it would take to implement this, and it's unfortunately a little bit more complicated than a trivial change. The issue is that for deny-by-default lints for which we have set --force-warn $LINT we want to deny *unless* somewhere else in the code has changed the lint to a different level.

This leads to a situation where we --force-warn $LINT (which is deny by default) and ano

[2021-08-18 14:32] rylev commented on #86516
Taking a look at what it would take to implement this, and it's unfortunately a little bit more complicated than a trivial change. The issue is that for deny-by-default lints for which we have set --force-warn $LINT we want to deny *unless* somewhere else in the code has changed the lint to a different level.

This leads to a situation where we --force-warn $LINT (which is deny by default) and ano

[2021-08-18 14:34] Mark-Simulacrum commented on #86516
Yes, I can take this on.

[2021-08-18 14:34] ehuss commented on #86516
I can't think of any particular issues.  If a lint is raised to an error, then the code wouldn't compile in the first place, and that is not something `cargo fix` handles.

I spent some time trying to make the future-incompatible warnings use `--force-warn`, but ended up abandoning the effort since there were too many tricky edge cases.  For that kind of use case (you absolutely want a warning for

[2021-08-18 15:07] npmccallum commented on #32408
I'm [not able to reproduce the issue](https://godbolt.org/z/5P76n53Pb) with `clang`. I presume because `TrapUnreachable` is disabled. But I'm not sure how to test that thesis.

Also, it seems that LLVM [has some similar precedent](https://reviews.llvm.org/D66980).

[2021-08-18 15:19] nikomatsakis commented on #84978
Re-opening as we have not made a stabilization decision here. Has there been a Rust reference PR? I drafted a stabilization report in [this hackmd](https://hackmd.io/uTiMV0g4Te6EOMDrn1KfzQ).

[2021-08-18 15:19] nikomatsakis commented on #84978
@triagebot release-assignment

I don't believe @lrh2000 is still pushing this forward.

[2021-08-18 15:19] nikomatsakis commented on #84978
@rustbot release-assignment

[2021-08-18 15:21] nikomatsakis opened #88140 "Stabilize reserved prefixes"
# Reserved prefixes stabilization report

## Links

* [RFC](https://github.com/rust-lang/rfcs/pull/3101)
* [Tracking issue](https://github.com/rust-lang/rust/issues/84978)
* Rust reference PR -- missing?
* [Implementation PR](https://github.com/rust-lang/rust/issues/84599)

## Summary

- `any_identifier#`, `any_identifier"..."`, and `any_identifier'...'` are now reserved
  syntax, and no longer to

[2021-08-18 15:21] nikomatsakis commented on #88140
@rfcbot fcp merge

I propose that we stabilize reserved prefixes. Note that they will not be exposed to stable completely until Rust 2021 is stabilized.

[2021-08-18 15:22] nikomatsakis commented on #88140
@rfcbot concern no-reference-PR

We need to describe these changes in the Rust reference!

[2021-08-18 15:22] gcoakes commented on #88085
@michaelwoerister, the `-bundle,+whole-archive` case is considered a bug, right? Just want to clarify because I think that's what I should have been doing from the beginning, but I just didn't know about it before it was mentioned here.

[2021-08-18 15:22] nikomatsakis commented on #84978
Stabilization proposed in 8

[2021-08-18 15:42] Sl1mb0 commented on #85931
I do have a question/problem, but am unsure exactly what the issue is, and where to begin to look for help. I have added register definitions for `r[0-15]` and `f[0-15]`, and am testing the general purpose register definitions using LLVM's `FileCheck` tool. The only constraint codes I have added so far are `r` and `f`.

[definitions can be found here](https://github.com/Sl1mb0/rust/blob/s390-asm/c

[2021-08-18 15:46] Amanieu commented on #85931
You are missing `#[no_mangle]` on the functions.

[2021-08-18 15:47] Kimundi commented on #57543
Well we could deprecate it and introduce two new functions, one with the +1.0, +0.0, -0.0, -1.0 semantic, and one with the +1.0, -1.0 semantic. Would not be the first time that we have shuffled method names around like that in the std lib.

[2021-08-18 16:07] Sl1mb0 commented on #85931
I added `#[no_mangle]` above both `sym_fn_32` and `reg_i32`; it seems to fix the output for `sym_fn_32`, but nothing changes for `reg_i32`.

Here is the `stderr` after the change:

[code]

[2021-08-18 16:13] uweigand commented on #85931
Well, it's still mangled ... did you add the `#[no_mangle]` inside the `check!` macro that actually emits the function?   See how this is done e.g. in `x86-types.rs`.

[2021-08-18 16:14] estebank commented on #88115
Less than ideal, but I think it is acceptable to go out of the door with this unaddressed. We should fix it soonish regardless.

[2021-08-18 16:21] Sl1mb0 commented on #85931
That fixes that, but of course there's another issue. I'll post more if I end up needing help.

Thanks for the hand-holding. :smiley:

[2021-08-18 17:08] Manishearth opened #88141 "Improve diagnostic for casting `T: ?Sized + Trait` to `dyn Trait`"
Given the following code: ([playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=97f05bb8c204551af955cf27b7e3f8ef))

[code]

The current output is:

[code]

This output is _correct_, however it is not quite clear in the standard mental model people have. In the standard mental model of `?Sized`, in this context people will think `T: Trait + ?Sized` means `T` can be `dyn

[2021-08-18 17:11] ehuss opened #88142 "non_fmt_panic warns on 2021 for external macros"
I've noticed that `non_fmt_panic` will raise a warning in 2021 for external macros in some cases. #87965 silenced the case involving a non-string payload, but there are still warnings for strings with braces.  I don't think there is anything the caller can do to fix the warning (other than silencing it).

I tried this code:

[code]

With the macro defined as either macro_rules or proc-macro:

[cod

[2021-08-18 17:19] m-ou-se commented on #88142
That happens mostly on purpose. In this specific example, there's indeed nothing the user can/should do. But in many similar cases, the user can do `picnic!("{expr}", expr = 1)`. The lint simply warns that the braces make it look like a formatting string (and that it's 'amost' used as one), but isn't used as such. E.g. `assert_almost_eq!(1.0, 2.0, "{}")` is missing an formatting argument, but just

[2021-08-18 17:47] CraftSpider commented on #88119
Update: Further minimized example, the actual value of the constants is irrelevant, it seems the dependent where bounds are the primary issue.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d23e4644de7f168d60ef444233f82671

[2021-08-18 17:49] Amanieu commented on #85931
You need to add it in `check_reg` as well.

[2021-08-18 17:53] wrenger commented on #35119
I am trying to convert my att asm to intel (for use with `global_asm` from 1.56.0-nightly (25b764849 2021-08-04)), but i am not really able to convert the x86 long jump instruction:

[code]

So far i tried: `jmp 0x8:start_high`, `ljmp 0x8, start_high` or `jmp 0x8, start_high`...

Any ideas?

PS: This is very x86 os specific and it may be an llvm problem. So this discussion maybe the wrong place fo

[2021-08-18 18:06] Amanieu commented on #32408
I did a bit of searching in LLVM's code and it seems that `TrapUnreachable` is actually required on some targets because the unwinder requires that call return addresses point within the bounds of the caller function. This requires adding an `ud2` (or equivalent) at the end of a function to ensure the byte after a `noreturn` call is still inside the function.

In conclusion I don't think that we c

[2021-08-18 18:09] dtolnay commented on #87745
FYI @cbeuw @michaelwoerister, since this bisects to #83813. Would one of you be able to take a look?

[2021-08-18 18:25] Stargateur commented on #48731
I don't feel it's a good reason. The same reasoning could be say about slice.

[2021-08-18 18:39] BoxyUwU commented on #86953
[code]
smallerer repro

[2021-08-18 18:51] dtolnay commented on #86161
Added `where Self: Sized` in #88031 in order to preserve object safety of BuildHasher.

[2021-08-18 19:18] joshtriplett commented on #44434
@rfcbot resolve arg0

[2021-08-18 19:18] cbeuw commented on #87745
I thought this is the intended behaviour? The local path is not embedded into a compilation output. Compiler diagnostics should give you the local path

[2021-08-18 19:27] dtolnay commented on #87745
For Buck's use case of `--remap-path-prefix`, I believe we want the remapped path in the diagnostic, rather than original.

Before:

[code]

After regression:

[code]

Context: in a monorepo codebase, all the source files have a canonical path relative to the root of the monorepo. Those are the files that the engineer edits as part of day-to-day development. For rustc invocations though, the paths

[2021-08-18 19:27] roblabla commented on #32408
While this sounds simple on the surface, I believe the difficulty comes from identifying the attributes we can attach to a function definition (`export_name`, `link_section`, `cfg`, `target_feature`, etc...) and figuring out how to translate them to whatever is necessary for the `global_asm!`.

[2021-08-18 19:38] Fishrock123 commented on #87335
Ah, I seem to have missed that think about `destructuring_assignment`, yes that seems like a future possibility, with the above mentioned caveats.