[2020-02-03 05:01] eddyb commented on #68789
It shouldn't, reification results in a shim which should cause miri to stop walking up the stack, as it looks like a non-`#[track_caller]` function calling the `#[track_caller]` function.

A real backtrace is needed (we should really try to get nightly to be built with `debuginfo-level=1` somehow), but I suspect it's a minor bug similar to the one we fixed in `ReifyShim` creation.

[2020-02-03 06:38] #68749 closed

[2020-02-03 08:20] hellow554 commented on #22639
Can't we put a `#[non_exhaustive]` on it and make it stable? :)

[2020-02-03 09:51] bjorn3 commented on #68703
They are compiled, so they get debuginfo.

Could you give an example where it is and isn't counted?

If you derive a trait for a struct/enum then the impls will have the struct/enum definition as span.

Vtable shims?

Likely dropping of locals.

I don't know why that is.

[2020-02-03 09:52] ajpaverd opened #68793 "Tracking issue for `-Z control_flow_guard`"
This is a tracking issue for the flag to enable Windows Control Flow Guard, added in #68180.

[2020-02-03 09:54] #68061 closed

[2020-02-03 11:10] Cogitri opened #68794 "TEXTREL in i686 since 1.41.0"
Hello,

I'm in the process of upgrading Rust to 1.41.0 on Alpine Linux and it appears that a TEXTREL has been introduced in 1.41.0:

[code]

The full build log is located here if it's of interest: https://gitlab.alpinelinux.org/Cogitri/aports/-/jobs/44396

[2020-02-03 11:42] RalfJung commented on #68789
Is this reproducible in Miri? I added some tests there for `track_caller` and function pointers (https://github.com/rust-lang/miri/pull/1162), and everything looked fine to me

[2020-02-03 11:44] RalfJung commented on #68789
[code]
My first guess here would be that const-prop went wrong, Cc @wesleywiser

[2020-02-03 13:13] wesleywiser commented on #68789
@Centril Do I need to pass any flags other than `-Z unleash-the-miri-inside-of-you`? I can't get a repro with your test case.

<details><summary>attempt to repro</summary>

[code]

</details>

[2020-02-03 13:34] Farkal opened #68796 "Large compile times with repetitive trait bound"
I am using wundergraph that generate lot of macro code and it seems rustc have hard time resolving code [here](https://github.com/weiznich/wundergraph/blob/8bc544f278e97dcd94ac87b755fe2b60100de18e/wundergraph/src/macros/query.rs#L212-L273) and [here](https://github.com/weiznich/wundergraph/blob/8bc544f278e97dcd94ac87b755fe2b60100de18e/wundergraph/src/macros/mutation.rs#L494-L531)

I tried this cod

[2020-02-03 13:48] RalfJung commented on #62225
FWIW, this seems to be still happening:
https://github.com/rust-lang/rust/pull/68778#issuecomment-581405243

[2020-02-03 13:52] eddyb commented on #68789
@Centril hang on, isn't this a duplicate of #68178, which https://github.com/rust-lang/rust/pull/68302/commits/19d8527890b59ed25432fbf5a9f1bd75ac814ae2 fixed?
Sadly there's no example of the index out of bounds ICE there, but IIRC  @anp hit it for zero-argument functions (like you have here).

[2020-02-03 14:14] eddyb commented on #68436
Note that the syntax `where SomeType:,` is already supported (empty bound list), and has been checked for WF-ness for a while now (e.g. `where Vec<str>:,` errors instead of being ignored).

However, `where [(); N+N]:,` currently tries to prove `N+N` can be evaluated the same way writing `[(); N+N]` in the body does, instead of requiring it of the caller of the function (which would be the useful b

[2020-02-03 14:36] Centril commented on #68789
@wesleywiser No, just using that flag (on latest master, freshly rebased):

[code]

[2020-02-03 14:37] RalfJung commented on #68789
@Centril would you happen to have LLVM assertions enabled, which @wesleywiser might not?

[2020-02-03 14:45] Centril commented on #68789
The following is the only modifications made to `config.toml`:
[code]

where `gamma-stage1` was built with `clear &&  ./x.py test --stage 1  --bless --pass check src/test/ui/`.

Per @eddyb's advice, I'll try to nuke `build/*/stage1-std` to see if it reproduces.

[2020-02-03 14:48] eddyb commented on #68789
The ICE message betrays the old nightly you're still using, heh.

[2020-02-03 14:49] Centril commented on #68789
Yeah oops; I was forgetting to add `+gamma-stage1` to `rustc`... damn, still tired from tomorrow I guess, sorry for the noise!

[2020-02-03 14:49] #68789 closed

[2020-02-03 14:54] RalfJung commented on #68789
I won't tell anyone about your secret if you also let me use that time machine. :D

[2020-02-03 15:02] shepmaster commented on #61525
I don't feel like it's at the usual amazing quality 😿. My points still appear to exist:

In some magical world, I might hope for something like this (and I'm very flexible in that):

[code]

I tried to address my points via the `note`s.

[2020-02-03 15:32] eddyb commented on #67586
Minimal repro, with `-Zmir-opt-level=2 -Cdebuginfo=2` (https://godbolt.org/z/UdZsnS):
[code]

[2020-02-03 15:59] michaelwoerister commented on #54089
We generate an internal copy per crate (but not per object file). We could probably make use of the `-Zshare-generics` infrastructure for making inline functions available downstream.

I think the tone of this comment is inappropriate. Please keep it civil.

[2020-02-03 16:01] sanxiyn commented on #68262
In LLVM terms, this means emitting [type metadata](http://llvm.org/docs/TypeMetadata.html) and using `llvm.type.test`.

[2020-02-03 16:04] pnkfelix commented on #68372
Since PR #68289 has landed, and there isn't enough information here to reproduce the bug as originally described (and thus I cannot test to see whether it is actually fixed, or create a regression test), I'm going to close this issue under the assumption that PR #68289 did fix the problem here.

[2020-02-03 16:04] #68372 closed

[2020-02-03 16:10] jonas-schievink commented on #54089
Sorry, I didn't mean to come across like that. I was just surprised to see this issue still open, since I though this was already implemented.

[2020-02-03 16:25] chewi commented on #42753
Having been confused by this, it would be helpful but is it still not true that the other crate forgot to implement `PartialEq`? Why wouldn't it? I hit this with `http::uri::scheme::Scheme`.

[2020-02-03 16:52] GuillaumeGomez commented on #61137
@jwhite927 Sure, go ahead!

[2020-02-03 18:41] estebank commented on #68801
What `rustc` version are you running?

[2020-02-03 18:46] estebank commented on #68796
CC https://github.com/rust-lang/rust/issues/65510 https://github.com/rust-lang/rust/issues/42596 https://github.com/rust-lang/rust/issues/40353

[2020-02-03 18:49] estebank commented on #40375
Triage: no change.

[2020-02-03 19:02] Centril commented on #68801
cc @matthewjasper

[2020-02-03 19:13] pnkfelix commented on #67194
To be honest, I'm trying to understand the actual goal here, in terms of how the T-libs team expects ranges to behave.

If it suffices to implement on a set of built-in integer types, then we can just do that right now. Certainly that is a simple approach. But is it actually sufficient, @xfix? Your comment seems to imply it would be...

[2020-02-03 19:17] npmccallum opened #68806 "Stabilize core::arch::*::has_cpuid()"
We currently have an architecture intrinsic:
  - [`core::arch::x86_64::has_cpuid()`](https://doc.rust-lang.org/1.41.0/core/arch/x86_64/fn.has_cpuid.html)
  - [`core::arch::x86::has_cpuid()`](https://doc.rust-lang.org/1.41.0/core/arch/x86/fn.has_cpuid.html)

However, this is part of the larger `stdsimd` feature, the status of which is unclear to me:
https://github.com/rust-lang/rust/issues/48556

C

[2020-02-03 19:18] ecstatic-morse commented on #68784
@rustbot claim

[2020-02-03 19:28] Sushisource commented on #68430
I'm seeing the same thing, at the trait/impl level. I have a macro that wraps `async_trait`:

[code]

If I don't emit the `#[async_trait::async_trait]` attribute, line numbers work fine. If I don't use my macro at all and only use `async_trait`, line numbers work fine. The act of one macro emitting another seems to be the problem.

[2020-02-03 19:28] ecstatic-morse commented on #68784
Your example builds fine for me on 1.41.0 stable when specifying `pnet = ^0.25`. In your build log, it looks like you're building `pnet-0.25.0` but using `pnet-macros-0.21.0`, which did not mark `minimum_packet_size` [as a `const fn`](https://github.com/libpnet/libpnet/blob/63cc046de94bfa01ffac77515755573b9d1e35e2/pnet_macros/src/decorator.rs#L975).

Could you post your `Cargo.lock` here, then del

[2020-02-03 19:48] Aaron1011 commented on #68686
Here's an idea for how to serialize `SyntaxContext` itself:

We could just serialize the entire `HygieneData`, and serialize `SyntaxContext` as just the underlying `u32`. When we deserialize, we would lookup the corresponding `SyntaxContextData` in the *serialized* `HygieneData`. If we've already interned that `SyntaxContextData`, we would map the serialized `SyntaxContext` id to the id in the thr

[2020-02-03 20:29] Centril commented on #68806
See https://github.com/rust-lang/rust/issues/60123. It seems we wanted to remove it?

[2020-02-03 20:49] npmccallum commented on #68806
Thanks, I'll close this and comment there.

[2020-02-03 20:49] #68806 closed

[2020-02-03 20:57] Veetaha opened #68808 "cargo check --message-format json regression of error span data on empty main.rs file"
**Problem**
`cargo check --message-format json` returns invalid span data, particularly `line_end` and `line_start` are set to 0, though [it is guaranteed to be 1-based](https://github.com/oli-obk/cargo_metadata/blob/master/src/diagnostic.rs#L58-L61).
This happens with a completly empty `main.rs` file.

Tested on the following cargo version:
`cargo 1.42.0-nightly (9d32b7b01 2020-01-26)`

Whilst on

[2020-02-03 21:16] npmccallum commented on #60123
I think the larger question that hasn't been answered by this is what to consider safe.

Currently, the Intel Developer Manual states that one must do what `has_cpuid()` does in order to invoke `CPUID`. This is why `__cpuid()` and its siblings are marked as `unsafe` because it is expected that you have to first test for CPU support before calling them. Otherwise, you will trigger a CPU exception.

[2020-02-03 21:18] npmccallum commented on #60123
@gnzlbg Would you consider reopening this issue until we have a way to write safe `CPUID` code?

[2020-02-03 21:30] nikomatsakis commented on #68206
@rpjohnst a good catch for sure, definitely something to think about.

[2020-02-03 21:34] ehuss commented on #68808
Moved to rust-lang/rust, where diagnostics live.

Seems to be caused by #67770, cc @Centril.

[2020-02-03 21:56] hythloday commented on #33375
Thanks Esteban! That is a lot clearer and exactly what I would expect.

[2020-02-03 22:00] Mark-Simulacrum commented on #67194
All tests in libcore do pass with the following diff. Unfortunately, it means that the Hash and PartialEq/Eq impls no longer satisfy the requirement given in https://doc.rust-lang.org/nightly/std/hash/trait.Hash.html#hash-and-eq. It is my opinion that it was almost certainly a mistake to not have a `Idx: PartialEq` bound on the Hash impl for RangeInclusive. I *believe* it may be true that we can u

[2020-02-03 22:02] #68621 closed

[2020-02-03 22:02] #68750 closed

[2020-02-03 22:02] #57581 closed

[2020-02-03 22:14] Veetaha commented on #68808
@Centril additional info:
The regression is also present on the older version of nightly rustc:
`rustc 1.42.0-nightly (b5a3341f1 2020-01-20)`

This was the version I spotted the issue initially, but then updated and rechecked, but it was still present in `cargo 1.42.0-nightly (9d32b7b01 2020-01-26)`.

[2020-02-03 22:15] pnkfelix commented on #68206
(assigning self, since I authored PR #68491)

[2020-02-03 22:36] ollie27 commented on #57581
I noticed that this iterator has been stabilized a `Copy` impl which I assume wasn't intentional so I've submitted #68810 to remove it.

[2020-02-03 22:37] estebank commented on #31701
cc https://github.com/rust-lang/rust/issues/66097

[2020-02-03 23:01] Aaron1011 commented on #68690
It looks like these proc-macros are themselves being generated by a `macro_rules!` macro:

https://github.com/SergioBenitez/Rocket/blob/d0bfd8a3bb9a9b1b2e3848356164c7bf312bf1b5/core/codegen/src/lib.rs#L322-L325

This is the kind of thing that I was previously concerned about: https://github.com/rust-lang/rust/pull/64528#issuecomment-532327335. We're currently relying on having the proc-macro-harne

[2020-02-03 23:02] Centril commented on #68808
Probably caused by https://github.com/rust-lang/rust/pull/67770/commits/20ebb807d523947f5fac710c4ae95ac9730ad995.

[2020-02-03 23:19] berkus opened #68812 "Incorrect code behavior on aarch64"
The following code compiles and works correctly on `x86_64`. However, the same code when compiled for `aarch64` with `opt-level = "s"` does not work.

https://github.com/berkus/mre-write_to
The culprit is the function show() in write_to.rs:44

(one-page version [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6716bf91b5ec219b3e47ee9845817b2f) -- this however is not en

[2020-02-03 23:23] bstrie commented on #29594
The original issue suggests that the `thread_local` attribute in LLVM isn't supported across all platforms, but has platform support improved in the time since this issue was opened? Or do we expect that it will always remain nonportable? (Is there an LLVM tracking issue?)

[2020-02-03 23:28] Mark-Simulacrum commented on #67194
Thinking about my impl more, it won't work -- we can't verify emptiness without PartialOrd/Step, as the three-field nature of RangeInclusive requires that all three fields are used to determine if we're empty (presuming we have not yet called next()).

I believe the property we want is that if `PartialEq(&self, &other) == true`, then `self.next() == other.next()`. It is true that this is satisfied

[2020-02-03 23:30] bstrie commented on #54366
@oli-obk, is a future incompat lint necessary if this feature is still unstable? It doesn't sound like that change would affect stable users.

[2020-02-03 23:31] TheBlueMatt opened #68813 "1.40.0 ICE while reporting ICE"
rustc+cargo 1.40.0 Debian testing packages report the following ICE (which does not go away after a cargo clean):

It can be reproduced by trying to build https://github.com/TheBlueMatt/rust-lightning-bitcoinrpc/tree/2020-02-ice-demo against https://github.com/TheBlueMatt/rust-lightning/tree/2020-02-rustc-ice.

[code]

[2020-02-03 23:39] jonas-schievink commented on #68813
Can you try this on nightly?

[2020-02-04 00:06] CAD97 commented on #67194
Given @Mark-Simulacrum's observation, would adjusting just the `PartialEq` implementation be enough to fix the unsoundness? (Or is the `Hash` impl weaponizable as well?) This wouldn't change the underlying problem of observable specialization, but could potentially fix the unsoundness without breaking the Eq-Hash implication rule.

[2020-02-04 00:22] CAD97 commented on #67194
I think the following diff achieves that:

[code]

Every use of `compute_if_empty` is already next to a use of `is_empty`, and a short circuit if it is empty. So I just made sure each one of them calls `.if_empty()` and short circuits the empty case before `compute_if_empty` is called.

This feels like creating a footgun for the future, but should resolve the immediate issue.

Ultimately, perhaps

[2020-02-04 00:34] estebank commented on #66523
Current output is a slight regression introduced by #68195:

[code]

[2020-02-04 00:35] estebank commented on #66523
Would "cannot fulfill `_: std::marker::Copy`" be a better wording?

[2020-02-04 00:37] Centril commented on #66523
@estebank Maybe "cannot satisfy `_: Copy`" (we use "satisfy" more commonly I think)?

[2020-02-04 00:39] estebank commented on #66444
The code no longer fails since 1.41, an alternative example should be devised.

[2020-02-04 01:03] bstrie commented on #49682
Now that async/await is stable, can anyone reproduce this bug using only those? I gave it a whack (playground [here](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1e37d54f1615358b7fbe2616f55f18e4)) and got the following error message:

[code]

...which suggests at least some degree of mitigation is already implemented.

[2020-02-04 01:14] eddyb opened #68817 "llvm.dbg.value should be used instead of llvm.dbg.declare wherever possible."
*(I'm opening this issue because I can't find a pre-existing one)*

`llvm.dbg.declare` describes the location in memory of a debuginfo variable, whereas `llvm.dbg.value` describes the value itself directly. Today we only use the former, which means that in debug mode, all named variables are placed on the stack, even if they're simple scalars (e.g. integers).

Ideally, we'd use `llvm.dbg.value` in

[2020-02-04 01:23] #60350 closed

[2020-02-04 01:23] #67514 closed

[2020-02-04 01:30] eddyb commented on #68817
Here's a more detailed example of how even simple cases break down:
https://github.com/rust-lang/rust/blob/8417d68de5e063426ab6bb7f383df6117d1beeed/src/test/debuginfo/borrowed-struct.rs#L77-L79
That snippet results in (with `-fast-isel=0`):
[code]
(Note: `$noreg` is effectively `undef`, and `%stack.0` is `stack_val`'s stack slot)

`stack_val_interior_ref_1` should be the same value as `stack_val_r

[2020-02-04 01:32] jonhoo commented on #53945
That's some great detective work @Aaron1011! Did you ever hear anything more back about those patches?

[2020-02-04 01:42] Zoxc commented on #49682
@bstrie [Here's an async example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5fd1bc29e09af04fd6dd0e8cbef61887) which should not compile.

[2020-02-04 01:47] Centril commented on #54883
On 2020-02-04, https://github.com/rust-lang/rust/pull/67668, written by @matthewjasper and reviewed by @pnkfelix, @Centril, @nagisa, @varkor, and @eddyb, landed. The PR finally added the support for or-patterns in MIR building (dynamic semantics, borrow checking, ...). Now, nested or-patterns can actually be used on nightly with `#![feature(or_patterns)]`.

What remains now is primarily hardening

[2020-02-04 02:08] estebank commented on #59074
We now suggest adding `'a` as a bound to the return type:

[code]

after doing that, you get a suggestion to use `move`, which fixes the problem:

[code]

I feel like this is enough to close this ticket, but feel free to ping me if consider that we still need to improve the closure borrow capture errors.

[2020-02-04 02:08] #59074 closed

[2020-02-04 02:30] SergioBenitez commented on #61949
I'm _very_ surprised that this is currently shipping in stable due to the forwards/backward compatibility hazards mentioned by @nikomatsakis. The error message ostensibly introduced by #62849 _is not_ triggered, at least for the `T::Item` case, which means that a lifetime of '`static` is being assumed (and the error message indicates as such). Surprisingly, passing `-Z unpretty=mir` to the compile

[2020-02-04 02:40] tmandry commented on #67651
We hit an instance of this in Fuchsia. Minimal example: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=aee59c397f0d3659921c66d868cf1ff3))

[code]

Gives
[code]
instead of the expected error, which is what you get if you remove the async block:
[code]

[2020-02-04 02:53] Mark-Simulacrum commented on #61949
I believe this is all known information, but unmarking as triaged so that it is seen again by the async WG.

[2020-02-04 03:17] chastabor commented on #66805
I'm having the same issue on rustc 1.41.0 (5e1a79984 2020-01-27) running on x86_64-unknown-linux-gnu
[mdepot.out.txt](https://github.com/rust-lang/rust/files/4151255/mdepot.out.txt)
[main.rs.txt](https://github.com/rust-lang/rust/files/4151260/main.rs.txt)
[Cargo.toml.txt](https://github.com/rust-lang/rust/files/4151261/Cargo.toml.txt)

[2020-02-04 04:22] zhaojiangbin commented on #68784
@ecstatic-morse

Thanks for the quick diagnosis. Now I cannot reproduce it myself either. I don't know how the Cargo.lock file ended up using pnet_macros v0.21.0. I never edit Cargo.lock files by hand. I was able to reproduce the issue with libpnet v0.23.0 and libpnet v0.25.0. But neither contains pnet_macros v0.21.0 as far as I can tell.

In my git repo history, I found the commit where in Cargo.

[2020-02-04 05:06] kennytm commented on #67194
What if we change it back to a two-field struct (rust-lang/rfcs#1980) 🤷‍?

[2020-02-04 05:28] jyn514 commented on #22639
I would find this useful for `NonZeroUsize::from_str()` to distinguish between "0" and an invalid number.

[2020-02-04 06:26] petrochenkov commented on #68690
I'll look at the proc macro serialization order issue this weekend.

[2020-02-04 06:30] zhaojiangbin commented on #68784
Update:

I spoke too soon about not reproducng it myself. It still happens with this commit that I added the benchmark test and dev-dep on criterion. It is not happening with commits prior to this one, and not in other branches.

It looks like the issue is caused by that libpnet yanked version 0.23.0. I had been using this version without updating the registry cache for over a month until two days

[2020-02-04 07:31] xfix commented on #67194
Let me explain what I mean that the specialization is only needed for integer types. `RangeInclusive` has three fields.

[code]

The field `is_empty` is always going to be `None` when `next` or `next_back` was never called. Those methods can only be called when the `RangeInclusive` is an iterator.

[code]

`Step` is only implemented for integer types and is an unstable trait: https://doc.rust-lang

[2020-02-04 09:16] iago-lito opened #68821 "Misleading error when incorrectly using crate as a module."
I had a source file used as a module in my binary crate. At some point, I have decided to turn this file into a second binary crate instead. But I forgot to remove the corresponding `mod` statement in the first crate. It took me a while to figure it out because the error message was very misleading.

Here is the situation boiled down:

`Cargo.toml`
[code]

`src/first_bin.rs`
[code]
`src/second_bin

[2020-02-04 10:48] Kixunil commented on #16507
Some more years later (:D), I randomly found this and I think the reason `join()` is confusing is because it doesn't actually say what's the intent of the code. Let's look at some reasons why would you want to join paths in the first place:

* You have a directory and want to generate a name of file in it. The name should not contain any slashes.
* You have a path supplied to your application and

[2020-02-04 12:50] evnu opened #68822 "rustc generates a lot of LLVM IR when using a match in struct field initialization"
In https://github.com/rusterlium/rustler/issues/299, we detected compile time to increase non-linearly when using a rather simple proc-macro. In https://github.com/rusterlium/rustler/issues/299#issuecomment-579213528, we found that our decoder function results in a lot of IR. We were able to fix the issue in https://github.com/rusterlium/rustler/pull/300 by making a simple transformation for gener

[2020-02-04 13:49] Mark-Simulacrum commented on #67194
I think based on the discussion so far replacing the specialization to be bounded by a new trait that is only implemented for the integer primitives makes sense to me. I think that gets us soundness and is (per what you've said) not breaking for essentially anyone today. It's only breaking if there are (unstable) impls of Step in the wild where the code also wants a `PartialEq` impl on RangeInclus

[2020-02-04 15:07] chastabor commented on #66805
The issue I was running into does not break when I change to nightly:
nightly-x86_64-unknown-linux-gnu (default)
rustc 1.42.0-nightly (212b2c7da 2020-01-30)

[2020-02-04 15:19] aristarh2704 commented on #68599
Ok, it's possible define i686-pc-cygwin-gnu?

[2020-02-04 17:12] jplatte opened #68826 "Trait method has higher precedence than inherent method if autoref is required for the inherent method"
I was very surprised when I found the following outputs "trait method" ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=03ba2cc9209dd4da459865a7e4b66cc4)):

[code]

Up until now I always thought that an inherent method always takes precedence over a trait method of the same name. Is that not true in this case / is this behaviour intended?

This came up in [yew]

[2020-02-04 17:23] axos88 commented on #31670
@ghost

Wouldn't a reader and a writer be able to access the data in this case?

[2020-02-04 18:52] SetTheorist opened #68829 "Wrong first element popped in pop_first() for BTreeSet"
Summary:
When popping elements using pop_first() from a BTreeSet, the first element popped is not the min element, though remaining elements are popped in expected order.

I tried this code:
[code]

I expected to see this happen:
[code]

Instead, this happened: (Note the first result).
[code]
For various subsets of the given inputs I tried, it appears to give the expected behaviour.

## Meta

`rus

[2020-02-04 19:30] Aaron1011 opened #68830 "Spurious 'conflicting implementations' error when specializing a type with a compilation error"
The following code:

[code]

gives the following errors:

[code]

For some reason, the fact that the definition of `BadStruct` has an error (`MissingType` is not defining) causes a 'conflicting implementations' error to be emitted when `BadStruct` has a specialized impl. If `MissingType` is changed to a type which actually exists (e.g. `()`), the 'conflicting implementations' error disappears.

I

[2020-02-04 19:32] aticu commented on #68593
If that's the case, it might make sense to document that constraint on every allocation based API in the standard library, since it should apply to all of them.

[2020-02-04 20:15] jonas-schievink commented on #68829
Thanks for the report! Do you know if this is a recent regression, or did this always happen? cc @ssomers in any case

[2020-02-04 20:16] scottmcm commented on #67194
And there's an open PR to redesign the `Step` trait, which will break all that code anyway.

[2020-02-04 20:17] jonas-schievink commented on #68829
Oh this is nightly-only

[2020-02-04 20:29] SetTheorist commented on #68829
It was there in [rustc 1.42.0-nightly (31dd4f4ac 2020-01-13)], as that is what I was using initially, but I don't know when it appeared before that.

[2020-02-04 20:30] #33375 closed

[2020-02-04 20:30] #47990 closed

[2020-02-04 20:30] #66424 closed

[2020-02-04 20:30] #46683 closed

[2020-02-04 20:30] #57744 closed

[2020-02-04 20:44] ssomers commented on #68829
Well, you expectations are right, and play.rust-lang.org confirms it's not what happens.

[2020-02-04 20:46] ssomers commented on #68829
The implementation is completely wrong. Apparently I did not test this on anything with more than 1 node (11 elements)!?

[2020-02-04 21:06] JohnTitor opened #68833 "Tracking issue for `std::io::{BufReader, BufWriter}::capacity`"
#68558 adds `capacity` methods to `BufReader` and `BufWriter`.

Unresolved questions:

[2020-02-04 21:17] nikomatsakis commented on #67387
Good point. Seems correct that `&Result<...>` isn't obviously "must use".

[2020-02-04 21:34] nikomatsakis commented on #52924
I feel like it would likely be better to create a new tracking issue, rather than inherit all the history from this one.

[2020-02-04 21:47] ssomers commented on #68829
So it's always been wrong (picking the first element from the root node) and it will be right in some future nightly, hopefully day or two from now. Thank you for the clear report.

[2020-02-04 21:50] SetTheorist commented on #68829
Thanks for the rapid response!

[2020-02-04 21:54] nikomatsakis commented on #68364
Let me see if I can rephrase things to make sure I'm following.

First, @eddyb was saying that they wish to be sure that they can copy bytes from the source to the destination without any intermediates in codegen if necessary (i.e., for non-scaler values). One way to do that would be to define the "spec" to carry around a "destination".

But @RalfJung proposed instead that we impose the rule that

[2020-02-04 23:48] lerouxrgd commented on #59732
This compile though:

[code]

[2020-02-05 00:01] eddyb opened #68836 "MBE (macro_rules!) pattern-matching is unnecessarily O(n) even in simple cases."
There are some crates which do something like this (e.g. [`string_cache_codegen`](https://github.com/servo/string-cache/blob/af2c7707e797768660b3db90066b80218dbca6f7/string-cache-codegen/lib.rs#L271-L275)):
[code]
(@nnethercote came across this when profiling `html5ever`'s compilation)

Also, prefixing patterns with `@foo` to create "internal rules" is common.

But the current implementation (AFAI

[2020-02-05 00:02] nnethercote commented on #68836
In the `html5ever` case, the macro has over 1200 patterns.

[2020-02-05 00:08] Mark-Simulacrum commented on #68836
I imagine the "proper" way to do this today is a proc macro, right? Where you can appropriately use a HashMap, for example, for such a macro?

I'm not sure we should dedicate time to fixing this if proc macros do indeed make things much better here (and are 1-1 compatible, hygiene wise, in the relative short term with MBE hygiene stabilization).

[2020-02-05 00:08] maxburke commented on #31100
One of the challenges I have been finding with BufReader is that the stream_position convenience method is implemented with `seek(SeekFrom::Current(0))` which dumps the buffer.

Is it possible to have this case specialized so that getting the current position doesn't cause the buffer to be thrown away?

[2020-02-05 00:09] estebank commented on #38936
Current output:

[code]

Fixed in #68377.

[2020-02-05 00:09] #38936 closed

[2020-02-05 00:17] estebank commented on #9607
Triage: current output:

[code]

[2020-02-05 00:18] estebank commented on #9082
Triage: no change.

[2020-02-05 00:35] estebank commented on #33307
Triage: no change.

Current output:

[code]

[code]

[2020-02-05 00:43] Aaron1011 commented on #67802
A similar instance:

[code]

[2020-02-05 00:44] estebank commented on #39342
Current output:

[code]

[2020-02-05 00:48] joshtriplett opened #68838 "Support for fatal compile_error that suppresses subsequent errors"
If a crate includes something like:

[code]

then it isn't helpful for rustc to report that error but then go on to emit many more cascading errors about failed `use` statements and types that don't exist and similar.

It's especially unhelpful when those additional errors scroll the initial error off the screen.

[2020-02-05 01:38] ehuss opened #68839 "dep-info rmeta path is wrong"
The path to the rmeta file in the dep-info file is wrong.  It is missing the `lib` prefix.

`rustc --emit=dep-info,metadata --crate-type lib foo.rs`

`foo.d` will contain `foo.rmeta: foo.rs`, but I think it should be `libfoo.rmeta: foo.rs` because the filename is `libfoo.rmeta`.

The crate type doesn't matter.  A "bin" type will also emit `foo.rmeta`, but bin types (confusingly) also use `libfoo.r

[2020-02-05 01:45] ryanwarsaw commented on #40543
Hi, I'm a beginner learning Rust and I ran into this issue as well. I see this hasn't had much movement in the last year or so, I would love to contribute towards this I'm just not sure where I need to start. Thanks in advance.

Here is the snippet I was using:

[code]

Interestingly enough if I use `let` it will throw an error:

[2020-02-05 02:01] Mark-Simulacrum commented on #68838
I think making compile_error always immediately fatal makes sense. Since it's unconditional and only useful in cases like this (I believe?), that should be fine.

[2020-02-05 02:04] Centril commented on #68838
That's not the only use case for `compile_error!`. As the [examples](https://doc.rust-lang.org/nightly/std/macro.compile_error.html#examples) show, sometimes you want to error when a specific macro arm is taken which is unsupported. In that case the error shouldn't be fatal. Moreover, when you do emit a fatal error, you don't let other crates compile, which may have errors of their own. So I don't

[2020-02-05 02:10] Mark-Simulacrum commented on #68838
I think it's true that there are cases where it might not necessarily *need* to be fatal, but I don't know that I'd say that they are common, and that the usability impact of an (unnecessary) fatal error is worse than the impact of emitting a fatal error (and potentially losing others errors as a result).

I am not sure what you mean by "don't let other crates compile" -- to my knowledge, Cargo ha

[2020-02-05 02:20] Centril commented on #68838
Hmm; maybe I'm misinformed; I thought a fatal error would prevent Cargo from proceeding to other crates.

Regarding "common" or not, ideally it would be based on some survey. Otherwise it feels like mostly speculation.

Doing `#[cfg(...)] mod reallib;` like that doesn't seem too onerous, particularly if you use https://crates.io/crates/cfg-if ?

A third design would be to add another macro (why I

[2020-02-05 02:35] wesleywiser opened #68841 "MIR inliner ICEs trying to inline async closures"
As @bjorn3 [noted](https://github.com/rust-lang/rust/pull/68795#issuecomment-581898999), the MIR inliner seems to fail when dealing with opaque return types.

Test case:

[code]

Invocation:

[code]

<details><summary>ICE:</summary>

[code]

</details>

[2020-02-05 03:10] CAD97 opened #68843 "mir\interpret\place ice: Layout mismatch when copying!"
With [this patch to rustc](https://github.com/CAD97/rust/tree/0ff88240fd70a273ee6db1144f905b969c6f80b5), I get an ICE compiling stage 1 core:

[code]

As this is an ICE compiling core I'm not exactly sure how to minimize it.

[2020-02-05 03:31] joshlf commented on #44286
Not sure if this was the original intent, but I have a use case for `replace_key` where I need the key back (by value) in certain failure conditions. I have code like:

[code]

Without `replace_key`, I'd need to do `map.entry(key.clone())` instead so that I could still have `key` around by value.

[2020-02-05 03:34] dwrensha commented on #68783
I think #68845 should fix this.

[2020-02-05 04:11] estebank commented on #63598
Current output:

[code]

[2020-02-05 04:11] #63598 closed

[2020-02-05 04:48] ecstatic-morse commented on #68784
I'm closing this since it's not a compiler bug. @zhaojiangbin could open an issue on [rust-lang/cargo]?(https://github.com/rust-lang/rust/) I don't know enough about dependency resolution to say whether cargo is doing something wrong here, but the cargo team will be more knowledgeable.

[2020-02-05 04:48] #68784 closed

[2020-02-05 06:01] petrochenkov commented on #68836
cc @mark-i-m

[2020-02-05 06:19] zhaojiangbin commented on #68784
Opened an issue on cargo: rust-lang/cargo#7866.

[2020-02-05 06:33] #59191 closed

[2020-02-05 07:16] Goirad commented on #64304
@rustbot claim

[2020-02-05 07:38] LukasKalbertodt commented on #68707
@xfix Do you want to implement the new error message? No need to, of course. I'm just asking because you created that other PR.

[2020-02-05 07:41] diwic commented on #59732
@lerouxrgd I believe that also changes the meaning of the function, as the `dummy` function still fails with `s does not live long enough` with your version of `get`.

[2020-02-05 07:59] Centril opened #68853 "Const param as `PatKind::Path` interpreted as a binding instead of being rejected"
[code]

results in:

[code]

but should, similarly to associated constants, result in:

[code]

[2020-02-05 08:55] joshtriplett commented on #68838
@Mark-Simulacrum I don't think we should make `compile_error!` always a fatal error. I would suggest that we introduce a `compile_fail!` or similar.

[2020-02-05 08:56] Centril commented on #68838
I would suggest `fatal_error!(...)` if we want another macro as it makes the distinction more obvious in the name.

[2020-02-05 09:22] rodrimati1992 opened #68855 "Worsened debug build codegen in beta"
The assembly generated in debug builds (-C opt-level=0) worsened for this code that uses an associated constant from a trait.This seems to be caused by the fact that the function is generic,even though the associated constant doesn't depend on the generic parameters of the function.

The code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=83dfb31158166b5ed7a92ca5dd7bb610

[2020-02-05 09:54] Centril commented on #65556
@Xanewok Or-patterns are "fleshed out" now... ;)

[2020-02-05 10:28] lerouxrgd commented on #59732
Hmm, I manage to make it work as follows:

[code]

[2020-02-05 10:51] djc opened #68860 "Improve diagnostics for serializing 'static type from Deserialize<'de>"
With this code:

[code]

We get this error message:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=707cd7c8bdd48c7f2f79ffe4fa211416).)

My colleague came to me yesterday asking me to explain this error/help fix the problem. Eventually, I figured out that method call tries to propagate the lifetime bound and fails because the target doesn't have any l

[2020-02-05 11:04] petrochenkov commented on #68853
This is strange, `fn fresh_binding` had an assert for unexpected things in the binding position, and const parameters should be unexpected if nobody explicitly whitelisted them to behave like this.

[2020-02-05 11:13] diwic commented on #59732
@lerouxrgd So you changed the lookup in `dummy` from a `Cow::Borrowed(&str)` to a `Cow::Owned(String)`, I'm not sure exactly why that makes a difference for the compiler.

Anyhow, what the `'b: 'a` in your version of `get` does, is saying that the lookup key needs to live longer than the duration of the function call. Which should not be necessary.

[2020-02-05 11:29] jonas-schievink commented on #33725
Triage: https://perf.rust-lang.org/ now has lots of `-check` benchmarks. Closing as fixed!

[2020-02-05 11:44] Centril commented on #68853
The relevant code is in `try_resolve_as_non_binding` now (moved in https://github.com/rust-lang/rust/pull/64111). The `span_bug!(...)` should be hit, but for some reason it seems like `DefKind::ConstParam` is not being created when calling `resolve_ident_in_lexical_scope`.

[2020-02-05 12:04] philipc commented on #59732
This works:
[code]

I know nothing about the compiler implementation, but I guess the problem is because the compiler matches `Cow<'static>: Borrow<Cow<str>>` with  `impl<T> Borrow<T> for T`  and infers that they must be the same type (including lifetimes), and then somewhere a diagnostic is showing the wrong lifetimes.

[2020-02-05 12:09] xfix commented on #68707
Nah, not interested currently.

[2020-02-05 12:38] arpj-rebola opened #68862 "Typechecking failure with HRTBs and associated types"
Rust fails to typecheck the following code:

[code]
with error: the trait bound `for<'a> <&'a dirty::Bar as dirty::AaaLt<'a, dirty::Bar>>::View: dirty::Bbb` is not satisfied.

What I am trying to do is the following. I want to have a marker trait `Aaa` that defines some associated types. One of those associated types `View` have lifetime parameters. But generic associated types are not currently a

[2020-02-05 12:50] jonas-schievink commented on #68862
Yeah this is a known issue with HRTB projections, covered by older issues like https://github.com/rust-lang/rust/issues/30472, so closing in favor of that.

[2020-02-05 12:50] #68862 closed

[2020-02-05 14:05] Mark-Simulacrum commented on #68838
I guess -- maybe a good question to ask: why is making compile_error produce fatal errors a bad thing?. Both of you seem to be against the fatal error, but I'm still not entirely clear why. I think it's true that we're trying to move away from fatal errors in general -- but if the proposal is introducing another macro that would fatal error anyway, it seems like there's not much advantage in makin

[2020-02-05 14:46] mark-i-m commented on #68836
I'm personally not in favor of complicating the mbe implementation more. It's already quite hard to understand and reason about, and it has a lot of weird corner cases (i.e. allowing surprising behavior) despite our best efforts. If more time is spent on the mbe implementation, I would say it should be to redo the algorithm from scratch and replace it in the next edition or as after a crater run.

[2020-02-05 15:10] jonas-schievink opened #68864 "25% compile time increase on beta when building async-std"
On my machine, `cargo build` on https://github.com/async-rs/async-std/commit/1d875836a2302681a395ee44512a518f0222da4a finishes in ~6.75s on stable 1.41.0, but takes at least 8.50s on the current beta (1.42.0-beta.2 (3d2613e2c 2020-02-04)), an increase of ~25%.

Recent nightlies are still affected, but my perf improvements in https://github.com/rust-lang/rust/pull/68606 and https://github.com/rust-

[2020-02-05 15:40] jonas-schievink commented on #68864
[code]

[2020-02-05 15:41] jonas-schievink commented on #68864
Commits in that range: https://github.com/rust-lang/rust/compare/41f41b2354778375dc72f7ed1d9323626580dc4d...c2d141df59703393c0c683abc259f9a8c3be041a

[2020-02-05 15:43] mark-i-m commented on #68836
To be more concrete, I think we should focus on `decl_macros`, making them less expressive as needed (more advanced use cases should use proc-macros). Basically, I think we should be able to fully implement the checks from https://github.com/rust-lang/rust/issues/61053 without any hacks or heuristics; the checks should be sound, complete, and as early as possible.

[2020-02-05 17:15] silwol commented on #52897
In Debian, we hit what I believe to be the issue at hand.
I bisected the rustup versions of compilers, and it seems the behavior changed from rustc 1.36 to 1.37. Was this intentional, or maybe triggered by an update of a library used by rustc, e.g. llvm?

The issue surfaced in https://github.com/rust-num/num-traits/issues/151 where the tests worked before and don't work any longer now in mipsel an

[2020-02-05 17:26] alexpdp7 opened #68865 "Please reconsider mips32 "r1" support"
Hi,

In:

https://github.com/rust-lang/rust/pull/48874

, the mips targets were bumped to use the mips32r2 instruction set. There's a few systems being sold today which use cheap mips32-non-r1 chips, like:

https://retrogame300.com/collections/all
https://retromimi.com/products/retro-game-plus

, etc. They use buildroot-derived operating systems, which adds some complexity to adding a new target t

[2020-02-05 17:46] ShaneLillieRAD opened #68866 "map_or Documentation should note that the arguments are eagerly evaluated"
Apologies if this isn't the appropriate repo to raise this issue on, I can close and re-create it wherever would be more appropriate.

It's a small thing, but in the documentation for both std::result::Result and std::option::Option it's noted that the *_or arguments are eagerly evaluated (with a suggestion to use the *_or_else for lazy evaluation) everywhere except for map_or. The behavior isn't

[2020-02-05 18:16] nikic commented on #52897
@silwol I'd expect that minnum/maxnum use libcall legalization on mips, so you're likely seeing libm behavior here. Can you check whether that's the case?

Per the C standard, I believe fmin/fmax should be treating SNaN the same as QNaN (contrary to IEEE754).

[2020-02-05 18:52] emilio opened #68867 "Bad codegen with simple match statement"
The following code:

[code]

Generates the following assembly on Rust Nightly when compiled with `-C opt-level=3`:

[code]

Godbolt link: https://rust.godbolt.org/z/JfkEez

It seems to generate one branch for each case of the statement, when I would've expected it to look more like:

[code]

cc @michaelwoerister @heycam

[2020-02-05 18:54] Leirda01 commented on #50459
This is why you don't get the same error code message: https://doc.rust-lang.org/error-index.html#E0658
I think you should also consider adding `#![repr(proc_macro_non_items)]` before the expression each time you need to use this feature.

[2020-02-05 18:58] emilio commented on #68867
Also cc @nox / @SimonSapin as servo uses this kind of pattern quite a lot too

[2020-02-05 19:01] emilio commented on #68867
I wonder if this affects the built-in `#[derive(PartialEq)]` and so on.

[2020-02-05 19:02] faern commented on #68490
I have implemented the stabilization and documentation changes needed to show people which constant is the preferred one now. I will submit this as a PR in a few days when the unstable version has been out for a bit over a week.

You can find the code here: https://github.com/rust-lang/rust/compare/master...faern:stabilize-assoc-int-consts?expand=1

What parts of it I don't think will be controver

[2020-02-05 19:08] emilio commented on #68867
Seems like `PartialEq` is not affected and manages to do this (I used i32 instead of f32 to avoid floating point instructions): https://rust.godbolt.org/z/DXIbja

[2020-02-05 19:29] nnethercote commented on #68666
This was fixed by #67471, which reverted the regressing code from #66405.

[2020-02-05 19:31] petrochenkov commented on #68838
FWIW, we could add an extra argument to `compile_error`:
[code]
(Inspired by [CMake](https://cmake.org/cmake/help/v3.16/command/message.html), of all things.)

I also think non-fatal is a better default, we've done some significant amount of work making sure that non-fatal errors can be reported without causing a waterfall of follow-up errors in most cases.
We can gather some statistics on the use

[2020-02-05 19:35] emilio commented on #68867
However a manually implemented version of that is: https://rust.godbolt.org/z/fmYvsb

It'd be good to know what kind of code does rustc generate for this case... Does it exploit internals to poke at the representation directly?

[2020-02-05 19:39] HeroicKatora commented on #62111
The term `distance` seems too generic from the standpoint of a mathematical motivation, it is also used in the context of very different metric spaces than the one induced by the L1-norm. I think 'absolute difference' hits the nail on the head and with the given prior art of abbreviations that would make `abs_diff` my clear favorite. Similar to `abs`, `checked_sub` and other functions it doesn't s

[2020-02-05 19:41] Marwes commented on #68666
No, this isn't fixed by #67471 . This is a separate issue (even if the reproductions are really similar).

[2020-02-05 19:54] eddyb commented on #68836
I think that we can get a lot of mileage out of having a "compilation step" that both checks the definition and transforms it into something more amenable to simple and fast pattern-matching.

I agree that we should probably not bolt on such optimizations to the existing implementation, and instead try to include them as part of a simpler implementation.

[2020-02-05 19:55] eddyb commented on #33725
@jonas-schievink @Mark-Simulacrum We still don't benchmark compile times for rustc itself, do we?

[2020-02-05 20:02] matthewjasper commented on #68867
The code that the derive expands to is: https://rust.godbolt.org/z/P3ptVh

[2020-02-05 20:10] is8ac opened #68868 "ICE when type parameter and const generic are in wrong order"
[code]
When a const generic not in curly braces appears before a type parameter, rustc panics.

## Code
[code]
Replacing ` u8: Foo<X, u16>` with `u8: Foo<u32, X>` fixes the problem.
Replacing it with `u8: Foo<{ X }, u16>` produces an informative error message.
Commenting out `0u8.foo();` also prevents the ICE.

This is not urgent, it is merely a matter of uninformative compiler errors.

## Full Lo

[2020-02-05 20:16] nikomatsakis commented on #49287
The reason that lifetimes were not permitted here, as I recall, was some uncertainty about what they should mean (in particular, should `impl Foo<'_>` mean `impl for<'a> Foo<'a>` or what). I am actually still a bit unsure as to my opinion here -- I've seen people expect it to mean both things.

[2020-02-05 20:23] mark-i-m commented on #61053
Sorry! It's been quite a while!

At the time I proposed the lint, I didn't realize it would have false positives. Also, I don't know enough about clippy to know whether it would be able to implement these.

Personally, I think they should be enabled by default (at least some of them can be). However, there is a bit more discussion on #68836 ...

At the very least, I think this work has been really

[2020-02-05 20:26] pcwalton commented on #68867
Might be a good candidate for a MIR opt. I believe LLVM has historically shied away from doing this kind of thing out of compile time concerns.

[2020-02-05 20:29] jonas-schievink commented on #33725
Oh, I see. No, I don't think we do.

[2020-02-05 20:34] estebank commented on #49287
In _this_ case, `impl for<'a> Foo<'a>` wouldn't work, but could you show me a case where it would? I feel that the only case where `impl for<'a> X` is common is for `Fn()` and in that case unnamed lifetimes usually work, and in the case where a named lifetime that hasn't been introduced is used produces the following now (not yet in the latest nightly):

[code]

[2020-02-05 20:56] jonas-schievink commented on #68794
This apparently breaks Android builds, since that forbids text relocations

[2020-02-05 20:57] awakecoding commented on #68794
+1 I am one of the unfortunate winner of a release-blocking CI build failure for Android now that we've upgraded to 1.41.0. We've disabled android-x86 builds for now :(

[2020-02-05 20:59] syntacticsugarglider commented on #29625
What's the status of this? There are a number of F-unboxed_closures issues but this tracking issue doesn't appear to be... well, tracking the issue. I'm currently working with a project that requires erased closure types and supports #![no_std] and SmallBox-style tricks don't really help when I'm writing library code that lacks any information about the maximum size of the closure state.

[2020-02-05 20:59] emilio commented on #68867
Cool, TIL!

So the `unreachable` is key there, and same for putting the `discriminant_value` check outside the match statement... Is there a way to get the discriminant value in stable without forcing `#[repr(u8)]` or such to be on the enum?

[2020-02-05 21:09] SimonSapin commented on #68867
`std::mem::discriminant` is stable and returns something that implements `Eq`

[2020-02-05 21:09] antifuchs commented on #67539
Huh, so. From the behavior I reported in https://github.com/bheisler/criterion.rs/issues/377, it looks like the buggy change made it to 1.41.0 stable, but the fix didn't? My crate's benchmark compilation is currently hanging with what looks like these exact symptoms.

[2020-02-05 21:13] Mark-Simulacrum commented on #33725
I.. am uncertain how that relates to this issue though? (I agree it would be good to do, but seems orthogonal?)

[2020-02-05 21:26] nnethercote commented on #68666
Ok, sorry for the confusion. Just to clarify: there is no rustc regression involved here, right?

[2020-02-05 21:49] emilio commented on #68867
Ah, true! And `std::hint::unreachable_unchecked` as well... That'd work for me, I think (though improvements in the compiler itself to detect this would be awesome).

[2020-02-05 22:13] nikomatsakis commented on #49287
I'm not sure what you mean by "show you a case where it would work", I guess you mean a realistic example where that is what you would want? I don't really have one off the top of my head, but I agree with you it's probably quite a bit less common -- after all, I almost never write `for` bounds in practice.

So yeah,  I pretty much agree it'd be the wrong meaning, and I think it'd even be somewhat

[2020-02-05 22:14] Marwes commented on #68666
No, i looked back a few versions and it was always slow.

[2020-02-05 22:15] rw opened #68870 "Feature request: plain-text rustdoc output format for CLI friendliness"
I do a lot of development on the command line. In particular, I sometimes develop code over an SSH connection (on a remote machine). It would be **very** helpful to not need to start a proxy service that allows me to connect to the machine with a local web browser to look at the documentation for the crates that I write.

I suggest starting with a Markdown output format. I believe this may be simp

[2020-02-05 22:22] Mark-Simulacrum commented on #68870
I believe that this needs an RFC if this is done. However, I will also note that for the most part, the raw documentation is quite readable, and is generally viewable in the source code of crates you depend on, which can for example be found in ~/.cargo/registry/src/github.com-1ecc6299db9ec823/serde-1.0.104 (the hash may change).

It is also possible to copy the docs (e.g.,  `cargo doc && scp -r $

[2020-02-05 22:22] #68870 closed

[2020-02-05 22:22] nikomatsakis commented on #54366
I agree a lint is probably not needed. I'm not sure whether I think @oli-obk's suggested patch is correct (like, I literally haven't looked into it -- it probably is).

[2020-02-05 22:42] #47048 closed

[2020-02-05 22:42] #49078 closed

[2020-02-05 22:42] #53454 closed

[2020-02-05 22:42] #60912 closed

[2020-02-05 23:03] wbl opened #68871 "Trait suggestions ignore visibility"
Every so often the compiler will helpfully suggest importing trait x::y::z to fix a missing method. But the compiler doesn't realize that x::y::z isn't visible, and x::z, or x::y'::z is the import that will work. Is it possible for the compiler in making trait suggestions to be aware of the visibility of the traits it suggests?

This is closely related to [#31323](https://github.com/rust-lang/rust

[2020-02-05 23:05] #68871 closed

[2020-02-05 23:05] wbl commented on #68871
https://github.com/rust-lang/rust/issues/13065 is the original of this

[2020-02-06 00:49] brainlock commented on #68794
I added a minimal repro to my repository here: https://github.com/brainlock/rust-1.41-android-linker-bug-repro, in the hope that it can help debugging this (and because I was curious to dig into this myself :-) ).

You can clone the repo, then

```docker build -t repro  .```

```docker run --rm -it repro bash```

In the container you can run `./repro-min.sh`.

I bisected it using rustup and nightl

[2020-02-06 01:09] Mark-Simulacrum commented on #68794
Conveniently, no rollups!

76a252ea9e7 Auto merge of #67110 - tmandry:bump-compiler-builtins, r=alexcrichton
7de9402b77d Auto merge of #67096 - mark-i-m:fix-rustc-guide-2, r=ehuss
3ff17e7c5fa Auto merge of #67016 - lqd:placeholder_loans, r=matthewjasper
dbbe4f10fa6 Auto merge of #67004 - estebank:issue-66958, r=eddyb
2b0e6d2643e Auto merge of #67003 - cjgillot:corrida, r=Mark-Simulacrum
14195e1f1d

[2020-02-06 01:59] cup opened #68872 "undefined reference to `__imp___acrt_iob_func'"
The "under latest MinGW, cannot link with C code using stdout" issue was closed
today. I tried testing with this:

[code]

https://github.com/rust-lang/rust/commit/58b834344

but I am still getting this type of result:

[code]

@mati865 ?

[2020-02-06 01:59] cup commented on #68872
https://github.com/compass-rs/sass-rs/issues/63

[2020-02-06 02:00] cup commented on #47048
https://github.com/rust-lang/rust/issues/68872

[2020-02-06 02:00] cup commented on #68872
https://github.com/rust-lang/rust/issues/47048

[2020-02-06 02:36] antifuchs opened #68873 "1.41.0: extremely long compile times on some constants"
This is a re-run of #67539: That bug seems to have gotten fixed on nightly, but seems to have missed the window for stable, or something?

Repro case: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ac61ec2c5bdd65e3f5d488e18e457530 - rustc will time out compiling this (run for more than 20 minutes, I haven't seen it finish in my lifetime).

Is this something that will/can b

[2020-02-06 02:50] Mark-Simulacrum commented on #68873
https://github.com/rust-lang/rust/pull/67667 was not beta-nominated, likely because the original bug report was (mis?)categorized as a nightly regression. It appears to be in beta, though, so it should be in stable in ~5 weeks.

I don't believe that we are currently likely to issue a stable point release. However, I have nominated the relevant PR for approval by the compiler team.

Since the bug i

[2020-02-06 02:50] #68873 closed

[2020-02-06 03:04] antifuchs commented on #68873
Thanks so much for the clarification & nominating this. Understandable that new patch releases aren't cut for any old bug. 5 weeks sounds like a reasonable time for a fix - I'll run that one crate's benchmarks on beta/nightly for now (:

[2020-02-06 03:21] Riey opened #68874 "&str slicing using SliceIndex is slow"
# Summary

It seems closure in unwrap_or_else doesn't inlined

https://github.com/rust-lang/rust/blob/a25d58b41b273993c27a2533dc193b799abbf43f/src/libcore/str/mod.rs#L1854
https://github.com/rust-lang/rust/blob/a25d58b41b273993c27a2533dc193b799abbf43f/src/libcore/str/mod.rs#L1921
https://github.com/rust-lang/rust/blob/a25d58b41b273993c27a2533dc193b799abbf43f/src/libcore/str/mod.rs#L1986

I can't m

[2020-02-06 04:09] mortonsc opened #68875 "ICE from associated const in field type of lifetime-parametric struct"
Attempting to build this code generates an ICE ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=f9cf0a356a8b7b02076522826002d97c)):

[code]

The error message, on my machine:

[code]

Looks like it's related to #56445, but the construction that triggers it is different enough that it seems worth posting.

[2020-02-06 04:43] threecgreen commented on #68801
I got a similar panic with rustc 1.43.0-nightly (58b834344 2020-02-05)
[code]

[2020-02-06 04:47] JustAPerson opened #68876 "Poor error message when indexing result of dbg!()"
Consider:
[code]

On nightly (2020-02-05) this yields the error:
[code]

Maybe the `help: to access tuple elements, use` part should either avoid printing the left-hand side of the dot operator, or use the span of the source file like `help: to access tuple elements, use: 'dbg!(1, 3).1'`

[2020-02-06 04:51] kevinastone commented on #68874
Discussion on reddit: https://www.reddit.com/r/rust/comments/ez64g2/why_spos_is_slower_than_ssplit_atpos1/

[2020-02-06 05:21] rust-highfive opened #68878 "`miri` no longer builds after rust-lang/rust#68861"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#68861, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Dylan-DPC, the PR reviewer, and nominating for compiler

[2020-02-06 05:41] eddyb commented on #33725
Alright, I guess this issue is old enough that it bakes in that assumption unnecessarily.

[2020-02-06 05:41] #33725 closed

[2020-02-06 05:49] eddyb commented on #68836
How can you possibly enforce this when macros can take and interpolate arbitrary token streams?!

I thought you were worried about things like ambiguities or compatibility hazards in the *patterns* of a macro, not anything to do with what the macro expands to.

With what I've seen in the wild, I don't see how what you're describing is realistically possible, even with an edition (and an edition wo

[2020-02-06 06:25] norcalli commented on #46698
I've been running into this a lot lately with -O3. *Most* of the variables are optimized out, and our debug build is very slow compared to the release build, so it feels like a blocker for me.

[2020-02-06 07:06] silwol commented on #52897
@nikic I hope I checked this the right way. If not, please give me a hint how / where to try next. The important information here is that it's not the `num-traits` code that fails, but instead there is a doctest inside the project which falls back to `std`'s `min` and `max` implementation if their `std` feature is enabled.
[code]
This behaves exactly the same on Debian `mipsel` and `amd64`.

In co

[2020-02-06 07:29] est31 commented on #52897
@silwol which mips version does your cpu have? E.g. what does running `cat /proc/cpuinfo | grep "model name"` show?

[2020-02-06 07:41] silwol commented on #52897
For checking if the error is reproducible, I started a qemu mipsel VM with `qemu-system-mipsel -M malta …`. `/proc/cpuinfo` doesn't contain a `"model name"` entry here, but instead has this line:
[code]
Regarding the Debian infrastructure, I don't have direct access to these machines. The failing test logs can be found on https://buildd.debian.org/status/package.php?p=rust-num-traits from where yo

[2020-02-06 07:55] silwol commented on #52897
I just looked up the information about the physical machines that built the project. They're all listed with *Processor: Rhino Labs UTM8*. There are machines available with *Processor: LS3A-RS780-1w (Quad Core Loongson 3A)* and *Processor: Lemote 3A ITX-A1101 (Quad Core Loongson 3A)*, but I don't know if there is any way to assign builds explicitly to a specific machine type.

[2020-02-06 07:56] est31 commented on #52897
The `f32::max` [docs](https://doc.rust-lang.org/stable/std/primitive.f32.html#method.max) say:

Which is clearly not the case here.

f32::max itself is only a wrapper of the `maxnumf32` intrinsic, [which maps to](https://github.com/rust-lang/rust/blob/8a87b945b27b5670ac5ed665bbb0fccc1b88a0a0/src/librustc_codegen_llvm/intrinsic.rs#L59) `llvm.maxnum.f32`.

The docs of that LLVM intrinsic [say](https

[2020-02-06 08:05] mati865 commented on #68872
I'll test new nightly soon, in the meantime I have few questions.
What OS are you using?
How mingw-w64 is installed?
Have you tried setting the linker to the external toolchain?

[2020-02-06 08:28] phjeltman commented on #68874
How about adding a #[inline(always)] annotation to the closure, would that work?

[2020-02-06 08:33] rbtcollins commented on #39699
I'm interested in the XRay LLVM support; is this bug a sensible place to talk about that, or should I file a new bug, or an internals discussion ?

[2020-02-06 08:46] brainlock commented on #68794
While rustup-toolchain-install-master compiles ( 😅 ): I see that `https://github.com/rust-lang/rust/pull/67110` upgrades compiler-builtins. I had a look at the commits in compiler-builtins which touch `__rust_probestack`, and I think we can likely narrow it down to https://github.com/rust-lang/compiler-builtins/commit/2566aa663bef6e8ebc6379de81b538b2d6327a9d.

At this point I'm too much out of my

[2020-02-06 09:07] mati865 commented on #68872
I cannot reproduce it using new nightly and steps from https://github.com/rust-lang/rust/issues/47048
Could you also provide steps to reproduce it?

[2020-02-06 09:10] brainlock commented on #68794
Meanwhile, I can confirm that we got the right commit (76a252ea9e7be93a61ffdf33b3533e24a9cf459d):

[code]

[2020-02-06 09:16] mshabab1296 opened #68882 "linking with `link.exe` failed: exit code: 1120"
I am using the following command to istall diesel_cli
**cargo install diesel_cli --no-default-features --features "mysql"**
I installed MySql Connector C 6.1 also I have Visual Studio 2019 in my Windows 10 PC.

error: linking with `link.exe` failed: exit code: 1120
  |
  = note: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.24.28314\\bin\\HostX64\\x86\\lin

[2020-02-06 09:25] kunduzb17 opened #68883 "enum inside the struct"
Below is the example of C++ code , how can I construct the same in rust ?
[code]

[2020-02-06 09:42] Secticide commented on #68883
This can be done by using the following:
[code]
Enums in Rust are fairly close to enum class types in C++ syntactically (but with some extra features). Find more information here:
[Rust book: Chapter 06 - Defining an enum](https://doc.rust-lang.org/book/ch06-01-defining-an-enum.html)

[2020-02-06 09:50] kunduzb17 commented on #68883
But my purpose was to make Enum part of `AddressType` struct,  so that  NONSTANDARD and PUBKEY have same type which is` AddressType::Enum`. In c++ `a` will have value `1` of type ` AddressType::Enum`.

[2020-02-06 10:01] tom-a-wagner commented on #68866
This seems more than easy enough for a first commit.

@rustbot  claim

[2020-02-06 10:09] HadrienG2 commented on #46698
Did you try running your debug builds at an intermediary optimization level of 1 or 2? Tuning my debug builds to opt-level=1 proved to be a good way to resolve the debuginfo vs optimization tradeoff on some of my projects where opt-level=0 is unbearably slow.

[2020-02-06 10:31] Secticide commented on #68883
Do you mean that the struct has the purpose of namespacing? If this is the case you could name the enum like so:
[code]
This gives both enum values the same type and can be used with the following syntax:
`AddressType::NONSTANDARD`
Or do you intent to have other data members within the struct?

[2020-02-06 10:32] lu-zero opened #68885 "Alignment/Memory access problem for the wasm32-wasi target"
[here](https://github.com/lu-zero/testcase-wasi-alloc) a full testcase.

Any alignment over 64bit seems to cause the problem even I would expect `v128` to require 128bit alignment.

[2020-02-06 11:02] jonas-schievink commented on #68883
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-02-06 11:02] #68883 closed

[2020-02-06 11:03] jonas-schievink commented on #68882
Looks like you need to install the mysql libraries into a place where the linker can find them. Consider asking on Diesel's Gitter channel, the people there can probably help.

[2020-02-06 11:03] #68882 closed

[2020-02-06 12:12] #67771 closed

[2020-02-06 12:21] pnkfelix commented on #68878
triage: P-medium, removing nomination tag.

[2020-02-06 12:23] tanriol opened #68887 "provide a way of overriding the MinGW library path"
The recently landed #67429 introduced a heuristic to search for the system MinGW libraries relative to the cross-gcc (used as linker) itself. However, there are systems that do not follow this pattern. For example, on my Gentoo system:
- `/usr/bin/x86_64-w64-mingw32-gcc` is a symlink to `/usr/x86_64-pc-linux-gnu/x86_64-w64-mingw32/gcc-bin/9.2.0/x86_64-w64-mingw32-gcc`
- `/usr/x86_64-w64-mingw32/us

[2020-02-06 12:28] pnkfelix commented on #68813
Once the ICEBreakers-CleanupCrew is announced (which I think will be happening very soon), we should advertise this bug on it (at least the reduction to MCVE part of it); see https://github.com/rust-lang/compiler-team/issues/207

[2020-02-06 12:29] pnkfelix commented on #68813
triage: P-high for initial investigation (i.e. identifying actual severity), removing nomination.

[2020-02-06 12:30] RalfJung commented on #68878
Already fixed on the Miri side: https://github.com/rust-lang/miri/pull/1168

[2020-02-06 12:31] cup commented on #68872
It will take me a while to write it up, so I will do it after work today, thanks

[2020-02-06 12:35] pnkfelix commented on #68794
triage: P-high. Assigning to self. Leaving nominated because I'd like to discuss this at today's meeting.

[2020-02-06 12:35] mati865 commented on #68872
@cup it doesn't have to be minimal. Just list of the steps to hit the error.

[2020-02-06 12:42] pnkfelix commented on #68729
Hmm I hadn't noticed that syntex_syntax had been updated in that manner; I just saw that it has not been maintained in three years (see [their readme](https://github.com/serde-deprecated/syntex))

This problem is [expected fallout](https://github.com/rust-lang/rust/pull/65785#issuecomment-546499161) from PR #65785

[2020-02-06 12:45] pnkfelix commented on #68729
triage: P-low, with intent to close. Leaving nominated because I want to at least discuss 1. whether we need/want to collect data on instances of such breakage, and 2. whether we were too aggressive in deciding that going straight to an error without some mitigating mechanism was too aggressive.

[2020-02-06 12:49] dwrensha opened #68890 "internal compiler error: unexpected lifetime bound"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

The error happens on `nightly` and `beta` but not on `stable`.

[2020-02-06 12:52] pnkfelix commented on #68801
@threecgreen that is great that you can reproduce this bug. Can you provide a code sample for the reproduction, or a link to the source code for your crate where you are seeing it?

[2020-02-06 13:08] pnkfelix commented on #68801
triage: I don't want to assign a priority to this without more information. leaving nominated to ensure I come back to it.

[2020-02-06 13:09] cup commented on #68872
Using Cygwin with these packages:

[code]

I can compile a C library directly:

[code]

but if I try the Rust crate:

[code]

I get this:

[code]

[2020-02-06 13:11] pnkfelix commented on #68684
triage: P-high. Removing nomination. Assigning to self.

[2020-02-06 13:17] kornelski commented on #26454
It also picks up serde's re-export of `Option` instead of `std`'s `Option`.

[code]

[2020-02-06 13:17] pnkfelix commented on #68578
triage: Closing as duplicate (or at least "instance") of #62529

[2020-02-06 13:17] #68578 closed

[2020-02-06 13:18] pnkfelix commented on #62529
Nominating for discussion at compiler team meeting: Do we think we might try to address lazy-norm this year?

[2020-02-06 13:26] mati865 commented on #68872
Probably Cygwin is using non standard path for mingw.
What is your output of `x86_64-w64-mingw32-gcc -print-file-name=crt2.o` and `which x86_64-w64-mingw32-gcc`?

[2020-02-06 13:28] pnkfelix commented on #68550
triage: P-high, assigning to self, removing nomination label.

[2020-02-06 13:30] cup commented on #68872
[code]

[2020-02-06 13:31] pnkfelix commented on #68532
triage: P-high, assiging to self, removing nomination label

[2020-02-06 13:34] yaa110 commented on #68729
syntex_syntax was used in old versions of bindgen crate and is not maintained. So, this issue could be closed. However, this kind of known breakage should be declared in changelog blog posts of rustlang update.

[2020-02-06 13:35] mati865 commented on #68872
Hmm, this should be covered by https://github.com/rust-lang/rust/pull/67429/files#diff-9ca19d99192e8dfc0cb4f0b90eb82c46R1012
Does adding `RUSTFLAGS="-C linker=x86_64-w64-mingw32-gcc"` to your variables help?

[2020-02-06 13:44] pnkfelix commented on #68890
triage : P-medium, removing nomination, adding needs-bisect.

[2020-02-06 13:46] pnkfelix commented on #68890
(the bisection here would be entirely automatable if https://github.com/rust-lang/cargo-bisect-rustc/issues/34 were addressed.)

[2020-02-06 13:47] pnkfelix commented on #68864
@jonas-schievink i figure until we've narrowed to a specific PR, we can keep the needs-bisect tag, right?

[2020-02-06 13:48] pnkfelix commented on #68864
triage: P-high. Removing nomination. Assigning to self. might be good to see if we can extract a case to add to perf.rlo from this.

[2020-02-06 13:52] pnkfelix commented on #68855
@rodrimati1992 out of curiosity, what prompted you to investigate this specific code sequence?

(I'm trying to evaluate the severity of this code-quality regression, and it might help for me to get some idea of how wide-spread the problem might be. There are obviously a couple different features interacting in the example you have provided...)

[2020-02-06 13:54] pnkfelix commented on #68855
triage: leaving unprioritized. Nominating for discussion at today's T-compiler triage meeting.

[2020-02-06 13:57] pnkfelix commented on #68808
triage: P-high. Assigning to self.

[2020-02-06 14:05] threecgreen commented on #68801
I was not able to easily create a small code sample, but [this was the state of my code](https://github.com/threecgreen/vinoteca/tree/crash-demo) when I saw the panic.

[2020-02-06 14:07] cup commented on #68872
I am literally at work now, so as I said originally this will need to wait until after work (or perhaps on lunch). Thanks for the responses.

[2020-02-06 14:10] mati865 commented on #68872
Sure, I'll try to get Cygwin somewhere next week.

[2020-02-06 14:36] tspiteri opened #68892 "example for error code E0565 triggers E0535 instead"
The following example for error code E0565 triggers E0535 instead.
[code]

[2020-02-06 14:58] michaelwoerister commented on #68864
Is this for release or debug builds?

[2020-02-06 15:02] jonas-schievink commented on #68864
This is just a normal `cargo build`

[2020-02-06 15:34] mark-i-m commented on #68836
Admittedly, that one seems like a bit of a stretch, but It seems plausible if we say that you can only use a `tt` metavariable inside a call to a macro. The output of the macro has to be valid rust at some point anyway. Perhaps I'm forgetting something, though?

Most of my concerns are about the patterns, but the fact that a macro can expand to arbitrary things restricts what we can assume about i

[2020-02-06 15:37] nikomatsakis commented on #68794
cc @tmandry, who did the rollup of compiler-builtins, do we know which of the following PRs may have caused the problem

- rust-lang/compiler-builtins#306
- rust-lang/compiler-builtins#309
- rust-lang/compiler-builtins#310
- rust-lang/compiler-builtins#311
- rust-lang/compiler-builtins#312
- rust-lang/compiler-builtins#313
- rust-lang/compiler-builtins#315
- rust-lang/compiler-builtins#317
- rust-

[2020-02-06 15:46] mcy commented on #61815
This seems to be different, because I ran into the same diagnostic with code that, as far as I can tell, is actually correct:
[code]
(i.e., the compiler suggests constraining `Self: T`).

When I turn on const generics, I get
[code]
which I assume is just some array-specific failsafe, since this all works fine when I use `pub struct Ignore<const N: usize>;` instead.

[2020-02-06 15:52] JohnTitor commented on #68890
Bisected roughly: ICE occurred from #67505 but not panicked, panicked from #68034

[2020-02-06 15:53] pnkfelix commented on #68132
discussed at T-compiler triage meeting. Prioritizing as P-low, with intent to close in near term as non-actionable

[2020-02-06 15:57] eddyb commented on #68836
Yeah, `$($foo)*` to interpolate arbitrary Rust syntax.

Why do we now care about *usage*? This is the first time I hear about this, compared to, say, compatibility hazards in terms of an earlier arm succeeding in newer versions.

[2020-02-06 16:04] pietroalbini opened #68895 "Crater runs for 1.42.0"
cc @rust-lang/release

[2020-02-06 16:04] #66244 closed

[2020-02-06 16:05] pietroalbini commented on #68895
@craterbot run name=beta-1.42-1 start=1.41.0 end=beta-2020-02-05 mode=build-and-test cap-lints=warn p=10

[2020-02-06 16:06] pietroalbini commented on #68895
@craterbot run name=beta-1.42-rustdoc-1 start=1.41.0 end=beta-2020-02-05 mode=rustdoc cap-lints=warn p=5

[2020-02-06 16:07] pietroalbini commented on #68895
**Do NOT triage the results in the Crater run without coordinating with the release team!**

[2020-02-06 16:07] #67492 closed

[2020-02-06 16:10] kinseytamsin opened #68896 "proc_macro::LexError doesn't implement std::error::Error"
`LexError`, the error type used by `proc_macro::TokenStream`'s `FromStr` implementation, doesn't implement `std::error::Error`. This makes it very un-ergonomic to work with when trying to use the `?` operator to propagate errors in a function that returns a non-specific error type like `Box<dyn std::error::Error>` or the `Error` type provided by the [`anyhow` crate](https://crates.io/crates/anyhow

[2020-02-06 16:52] jgalenson commented on #66955
I haven't tested it out, but I believe changing remap_path_prefix to TRACKED will cause other problems, as it means the argument's value will be hashed.  Then two builds in different directories that try to use that flag to get the same output will differ as they have different values for that argument.

[2020-02-06 16:57] bjorn3 commented on #68132
:+1: I haven't seen this since I reported this, so it is very spurious or fixed.

[2020-02-06 17:03] alexpdp7 commented on #68865
Note: I just tested that:

[code]

works, allowing me to generate binaries which don't crash on mips32 non-r1. although I'm not so sure about FPU support. If someone comes across this, I documented my whole process for crosscompiling using buildroot, etc. at:

https://github.com/alexpdp7/retrofw2-rust

[2020-02-06 17:26] Xtricman opened #68898 ""if constexpr" and compile-time reflection making meta-programming without macros"
C++ has "if constexpr" to enable conditional compilation, with the type_traits functions, so it can generate code based on properties of a type using normal C++ grammar instead of writing macros, but type_traits are very tricky to implement (usually involving SFINAE or even intrinsics) because C++ currently doesn't have compile-time reflection, SFINAE can't inspect fields of a type.

Rust already

[2020-02-06 17:29] jonas-schievink commented on #68898
This is already covered by `#[cfg]`, `const fn`, and procedural macros. If you need more language features to cover your use cases, they need to go through the [RFC](https://github.com/rust-lang/rfcs) process first, so closing in favor of that.

[2020-02-06 17:29] #68898 closed

[2020-02-06 19:00] #67942 closed

[2020-02-06 19:00] #68785 closed

[2020-02-06 19:00] #67496 closed

[2020-02-06 19:00] #68783 closed

[2020-02-06 19:01] rust-highfive opened #68901 "`clippy-driver` no longer builds after rust-lang/rust#68893"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#68893, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Dylan-DPC, the PR reviewer, and nominati

[2020-02-06 19:20] cup commented on #68872
Running this:

[code]

presents same error in original report. Note before making report I had already
been using `C:\Users\Steven\.cargo\config` with:

[code]

[2020-02-06 19:22] pnkfelix commented on #68813
@rustbot ping icebreakers-cleanup-crew

[2020-02-06 19:29] eddyb commented on #68817
I tried an experiment, namely using inline assembly to keep the input to `llvm.dbg.value` alive.

However, what seems to happen is that a register is used to hold the value, but as soon as that register is needed for anything else (e.g. the return value of a call), the value is gone, and it's not saved anywhere.

Relying on the stack with `llvm.dbg.declare`, as we do today, appears to be the only

[2020-02-06 19:48] eddyb commented on #68817
Long term we might want to handle some of these ourselves, up to and including encoding them into `mir::VarDebugInfo` (constants would be easy to justify, no need to use a MIR local).

[2020-02-06 20:03] vallentin opened #68903 "Command causes subsequent ANSI codes to render incorrectly"
I'm experiencing some odd behavior with ANSI codes and `std::process::Command`. The ANSI codes render differently after having executed a command.

1. In Git Bash using `\u{1b}[2m` (gray/dim) does not render at all, which is understanble as it might not be supported. However, after executing some command, then it renders correctly.
2. On the other hand, in CMD and PowerShell, then after running so

[2020-02-06 20:06] pustaczek opened #68904 "Invalid suggestion on missing lifetime in impl trait associated type"
Trying to elide lifetimes in an associated type of an impl trait causes rustc to emit some suggestions that contain invalid Rust syntax.

**I tried this code:**

[code]

**I expected to see this happen:** an error is emitted, possibly with a suggestion of adding a generic lifetime parameter.

**Instead, this happened:** the suggestion contains invalid Rust syntax, where the lifetime appears as if

[2020-02-06 20:16] mark-i-m commented on #68836
@eddyb I should maybe clarify that when I say "valid rust", I mean syntactically, not semantically (e.g. there may still be type errors etc). Perhaps you can elaborate what you mean? How can this produce arbitrary rust syntax if `$foo` not a `tt` (or else is only used in a macro invocation)? We know what kind of token tree it is otherwise, so it is seems it should not be hard to check that the int

[2020-02-06 20:17] oconnor663 opened #68905 "`is_x86_feature_detected!("avx512f")` fails to build on beta and nightly"
The following program builds and runs on stable but fails to build on nightly:

[code]

Here's the build error on `rustc 1.43.0-nightly (58b834344 2020-02-05)`:

[code]

But note that if I replace `"avx512f"` with `"avx2"`, the error goes away.

[2020-02-06 20:19] Mark-Simulacrum commented on #68905
cc @gnzlbg

[2020-02-06 20:27] pnkfelix commented on #68813
Note that when I had a go at building `rust-lightning-bitcoinrpc` on my Mac laptop, it failed with this message:

[code]

This is due to this line in the source crate:

 (due to [this line](https://github.com/TheBlueMatt/rust-lightning-bitcoinrpc/blob/3243d5efc6198e373006ebac3e8843da7ebd0292/src/main.rs#L254

So if you are on a Mac laptop, it may or may not be worth your effort to investigate this

[2020-02-06 20:36] TheBlueMatt commented on #68813
Oops, right, you'll want to just drop that line. It shouldn't have any other effect, its only there due to (at least previously, based on my super-cursory) libstd calling regular fsync() on OSX, which historically, well, didn't fsync.

[2020-02-06 20:45] pnkfelix commented on #68813
I looked at this a bit more.

I see the ICE on stable and beta.

I do not see the ICE on nightly.

On nightly, I instead get the following error:

<details>
<summary>Click here to see error diagnostics</summary>

[code]

</details>

[2020-02-06 21:05] ehuss commented on #68903
ANSI codes on Windows consoles needs to be enabled, see https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences?redirectedfrom=MSDN.

It is generally recommended to use crates like [termcolor](https://crates.io/crates/termcolor) which handles stuff like this for you.

[2020-02-06 21:29] weiznich commented on #68796
I'm not sure if that's really something that could be minimized to mcve. I've run `cargo expand` on the provided example crate and uploaded the result [here](https://gist.github.com/weiznich/ab9e4bd49451f8674e9fa6a72eb399f1). As github struggles with large files, I cannot directly link to the relevant lines, but there are large repetitive trait bounds from line 20180 to 21671, from 21746 to 23227,

[2020-02-06 21:31] Mark-Simulacrum commented on #68796
A MCVE in this case could still be a very large file, but would ideally not have any dependencies beyond libcore.

See https://blog.pnkfx.org/blog/2019/11/18/rust-bug-minimization-patterns/ for some techniques on that.

[2020-02-06 21:32] Mark-Simulacrum commented on #65510
@eddyb this is the issue I was thinking of in @jonas-schievink's PR that interns the associated items, I think.

[2020-02-06 21:34] estebank commented on #68904
This was fixed in #68583: https://github.com/rust-lang/rust/pull/68583/files#diff-d4a8232a0918ba144fa7f17e2d941851.

It was very recently merged so it should be visible in tomorrow's nightly, I think.

[2020-02-06 21:34] #68904 closed

[2020-02-06 21:36] eddyb commented on #68836
I did mean `$foo` to be a `tt`, yes. For me that makes the whole thing fall apart.

This is getting pretty offtopic but I strongly disagree.
In general it's impossible to check the definition site, so I would focus on macro-aware tooling, including diagnostics, operating after the fact. Something direly missing right now is step-by-step expansion visualization with best-effort pretty-printing.

Re

[2020-02-06 21:38] eddyb commented on #65510
Hmm I doubt that would make a big difference, as the problem is "baked into" `predicates_of` ahead of time.

The stress test even only has 2 associated types.

[2020-02-06 21:39] jonas-schievink commented on #65510
Ah I see. The PR shouldn't affect this case since it only accelerates access to assoc. items, not their bounds.

[2020-02-06 21:39] Mark-Simulacrum commented on #65510
Yes, sorry, I did not mean that as "that PR should fix this" -- I think I misremembered what this issue was talking about.

[2020-02-06 22:13] vallentin commented on #68903
@ehuss I just tested with [termcolor](https://crates.io/crates/termcolor), and it's not an issue using termcolor. So I guess, [console](https://crates.io/crates/console) / [clicolors-control](https://crates.io/crates/clicolors-control) is handling it incorrectly.

However, what confuses me is, why using `std::process::Command` affects it.

Like, using ANSI codes work fine, then I perform `git log`

[2020-02-06 22:15] ArekPiekarz commented on #58520
Here's an issue that may be directly related to `Error::chain()` or to another problem in rustc.

I've tried to use `Error::chain()` on a borrowed `Error` and while refactoring its usage into a smaller function I got a compiler error that my borrow and the borrowed type had to be `'static`.
[code]

I applied the first suggestion until I got to a point where the compiler declared my error didn't li

[2020-02-06 22:19] ehuss commented on #68903
I would guess that git is resetting the console back to defaults (i.e., ansi disabled). If you use `output()`, then git knows it is not connected to a console, and won't do color manipulation.

It might be best to ask these questions on one of the user forums.

[2020-02-06 22:22] vallentin commented on #68903
In relation to that, it makes sense. But I would consider that a bug.

[2020-02-06 23:20] retep998 commented on #68903
I don't think there's any bug here. If you execute an external command and allow it access to your stdin/stdout then it has the ability to mess with your terminal's state. Rust itself does **not** touch console modes nor does it provide any guarantees about whether ANSI escape codes will work and it is entirely up to your program to ensure the terminal is in the right state.

[2020-02-06 23:42] vallentin commented on #68903
If that's the case, then the issue can be closed. But I feel like a side note should be added to the [Command](https://doc.rust-lang.org/stable/std/process/struct.Command.html) and/or [Stdio](https://doc.rust-lang.org/stable/std/process/struct.Stdio.html), to make that more apparent.

[2020-02-06 23:54] jonas-schievink commented on #46205
There's still code referring to this lint, can this be removed now?

https://github.com/rust-lang/rust/blob/442ae7f04026c215a03b155eaaf9cde8bb5cf02a/src/librustc/traits/mod.rs#L79-L84

[2020-02-06 23:54] JustAPerson commented on #50323
Seems to have been resolved. Works fine with a recent nightly to compile @ExpHP's example (in addition, with everything uncommented). Appears to have been fixed a while ago as rustc 2019-09-23 works fine too.

<details>
<summary>cargo +nightly rustc --release -- -Ztime-passes</summary>

[code]
</details>

[2020-02-07 00:38] rodrimati1992 commented on #68855
@pnkfelix
I was experimenting to figure out the best design for a feature I want to add to [structural](https://github.com/rodrimati1992/structural_crates/) eventually,being efficient in debug builds is a plus(but not a hard requirement for me).
The reason I reported this is that if it optimizes fine in non-generic functions,it should also do the same optimization in generic functions(so long as t

[2020-02-07 01:01] tmandry commented on #68794
It could be. Likely the difference is in the attributes of the probestack function (before that change it was a `#[naked]` rust function, afterward it was defined in raw assembly).

@brianlock could you try adding the line `.hidden __rust_probestack` around [here](https://github.com/rust-lang/compiler-builtins/blob/master/src/probestack.rs#L65)?

If that fixes it, it may break it in other environm

[2020-02-07 01:02] Areredify commented on #67509
Are there tests intended for pretty printing? I got the impression that `pretty` folder only tests specific features and bugs, not the form

[2020-02-07 01:03] Michele31415 opened #68912 "Cross compiling from x64 Linux to SPARC Solaris"
It has been suggested to me that all that is needed to produce a rust compiler for SPARC Solaris is

`x.py --target sparcv9-sun-solaris`

However, this is getting me nowhere:

[code]
This is in Ubuntu x64.  What am I doing wrong?

[2020-02-07 01:13] Mark-Simulacrum commented on #68794
cc @Amanieu (though they're on vacation this week I believe) on the inline assembly options as potentially relevant for RFC and if they have thoughts on how to fix it for this case

[2020-02-07 01:52] yaahc commented on #53487
Is the `.backtrace()` function on std::error::Error going to be stabilized at the same time as the `Backtrace` type? I'm currently running into similar problems to what I think `failure` ran into with trying to extract `SpanTraces` from errors and I vaguely want a more generic form of the `backtrace` function that is capable of supporting extracting different types that represent Context other tha

[2020-02-07 03:09] #68866 closed

[2020-02-07 03:09] #68892 closed

[2020-02-07 03:10] rust-highfive opened #68916 "`rls` no longer builds after rust-lang/rust#68907"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#68907, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Dylan-DPC, the PR reviewer, and nominating for compiler te

[2020-02-07 03:10] rust-highfive opened #68917 "`rustfmt` no longer builds after rust-lang/rust#68907"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#68907, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Dylan-DPC, the PR reviewer, and nominating for com

[2020-02-07 05:18] golddranks commented on #56415
@frewsxcv or @clarfon, are you planning on working this feature?

[2020-02-07 06:44] silwol commented on #52897
Thanks @est31 for the hints.
I found [f64::from_bits](https://doc.rust-lang.org/std/primitive.f64.html#method.from_bits) docs mentioning a difference between MIPS and the other platforms in the signaling bit. Also the [fmaxf code](https://github.com/rust-lang/libm/blob/a3a35958deebf0ea9ddf47c929e7e82f63b81a41/src/math/fmaxf.rs) you referenced has a comment telling that sNaN is not handled due to n

[2020-02-07 07:50] crusty-dave opened #68920 "Cannot find a way to create a const array using a trait with associated const"
I would like to get something like the following code to work, but it seems that associated consts cannot currently do it.  The intent here is to be able to define each element of an array as a unique const.  Individually creating structs to do it (like **struct Count** shown in the example) is **not** what I want.

[code]

The above yields the following errors in the Rust Playground:

[code]

Thi

[2020-02-07 08:02] haraldh commented on #58520
try `&(dyn StdError + 'static)` instead of `&'static dyn StdError`

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ebbea99325af683ea357a4b53d3f3bdf

[2020-02-07 08:18] est31 commented on #52897
@silwol yeah there is a fundamental difference between older MIPS targets and newer MIPS targets in that the signaling bit is opposite to IEEE 754-2008 vs follows the standard. But even older MIPS targets follow IEEE 754-1985 which clearly specifies the bit patterns of NaNs (it only doesn't specify the bit pattern distinction between qNaN and sNaN).

@silwol if you have access to a MIPS machine yo

[2020-02-07 08:19] mati865 commented on #68887
cc @alexcrichton
My comment in the PR:

[2020-02-07 08:24] ArekPiekarz commented on #58520
@haraldh I already said I tried that and it worked. The point is - why did the compiler make a wrong suggestion and could it be avoided by changing the implementation of Error::chain()?

[2020-02-07 08:30] haraldh commented on #58520
Even if implemented only for `dyn Error + 'static` the compiler message does not change.

[2020-02-07 08:31] haraldh commented on #58520
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=47ce461c7a8f0d0a44ecb6a3220714ca

[2020-02-07 08:40] haraldh commented on #58520
Nevertheless, I now found a solution for having chain() on the Error trait as well as on dyn Error.

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=682e14eddb0270a6787ab0259966f2d3

This removes the unergonomic:
[code]
and you can now directly do:
[code]

[2020-02-07 08:40] haraldh commented on #58520
Will make a PR soon.

[2020-02-07 09:40] iliakonnov opened #68921 "ICE with proc_macro_attribute on pub(super) function in module"
Compiler panicks when there is function with both `#[proc_macro_attribute]` and `pub(super)` defined in module (not in the root of the crate).

`lib.rs`:
[code]

`m.rs`:
[code]

All following functions successfully does not compile (which is fine):
[code]

[code]
<details>
  <summary>RUST_BACKTRACE=1</summary>

[code]

`RUST_BACKTRACE=full` log is available here: https://gist.github.com/iliakonnov

[2020-02-07 10:34] jonas-schievink commented on #68920
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-02-07 10:34] #68920 closed

[2020-02-07 10:55] jonas-schievink opened #68922 "Rewrite `box_region.rs` to use generator resume arguments"
[`box_region.rs`](https://github.com/rust-lang/rust/blob/3d8778d767f0dde6fe2bc9459f21ead8e124d8cb/src/librustc_data_structures/box_region.rs) makes use of generators, and passes arguments into them via thread-local storage. Now that https://github.com/rust-lang/rust/pull/68524 has landed, this can be rewritten to use generator resume arguments instead, which is much cleaner and possibly also faste

[2020-02-07 11:10] nikomatsakis commented on #66312
The async case is fixed by #68884, I think we should break out the arbitrary self types case into a distinct bug.

[2020-02-07 11:25] jonas-schievink opened #68923 "Generators should be able to implement `for<'a> Generator<&'a mut T>`"
With https://github.com/rust-lang/rust/pull/68524, the `Generator` trait has gained a type parameter for the resume argument. Currently, this parameter will not be inferred to a type with late-bound regions. In some cases, this is required for soundness. For example, this generator stores the resume argument across a `yield`, which means that it can not accept arbitrary lifetimes in it:

[code]

T

[2020-02-07 11:29] ssomers opened #68924 "Benchmarking no longer works after rust-lang/rust#68708"
#68708 suspended the ability to benchmark liballoc (and probably others, but not everything). `x.py bench` (with or without  --stage 0) now lists oodles of errors starting with:
[code]
It's still possible though to build and test benchmarks with say `x.py test --stage 0 --no-doc`.

[2020-02-07 11:45] Mark-Simulacrum commented on #68924
Hm, it could be that some of those Lang items need to be cfg(not(test)) or so.

[2020-02-07 11:48] silwol opened #68925 "Different NaN types on mipsel and mips64el than on most other architectures"
The following tests fail on mipsel and mips64el architectures while succeeding most others.
[code]
It succeeded on mipsel up to stable 1.36.0 rustc, and started failing in 1.37.0 and newer. I'll attempt to use [cargo-bisect-rustc](https://github.com/rust-lang/cargo-bisect-rustc) track down the exact nightly version that introduced the change (might take some time because it's a qemu vm that is rat

[2020-02-07 11:59] dragostis opened #68926 "Slow compilation"
Using nested tuples in this [example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d12245f41b2069f130b33d58a3d16502) leads to painfully long compile times:

[code]

[2020-02-07 13:10] glandium commented on #42524
Is it expected that this doesn't work with --release?

[2020-02-07 13:55] alexcrichton commented on #68794
I would agree with the conclusion that https://github.com/rust-lang/compiler-builtins/pull/328 is the most likely candidate here for a cause of the regression. That being said I have no idea what TEXTREL is, what's happening there to cause it, or how we might fix this.

[2020-02-07 14:31] alexcrichton commented on #68887
My hope is that this would be of far lesser urgency than #67429 because this only affects the startup object files which ideally change far less in the gcc toolchain than the rest of the toolchain. The main issue was that we'd prefer our own import libraries and such, which really was only effective if they came from the same toolchain as the host toolchain, which they rarely did.

[2020-02-07 14:39] luser opened #68931 "Confusing additional warnings when hitting bindings_with_variant_name"
We're working through a Rust training from Ferrous at my company and one of my colleagues wrote some code that hit the `bindings_with_variant_name` warning. A reduced testcase looks like ([on playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=56cdb3e0474225c306c8a1ccd1272e3c)):
[code]

If you build this code you get the good `bindings_with_variant_name` warnings an

[2020-02-07 14:50] SimonSapin commented on #62868
@Zoxc, you were asking about this on IRC. Unfortunately we have no news that is not already described in this issue. If the plugin system is removed from Rust Nightly without a migration path, Servo will be left with a choice of not upgrading past an old Nightly that still has it or abandoning our GC rooting soundness lint.

[2020-02-07 16:33] qm3ster commented on #46651
@ciofeca's solution worked for me on **Windows**
I still had to `mklink ar.exe aarch64-linux-musl-ar.exe` for the moment, not sure how to get `gcc` to ask for the right one.

[2020-02-07 16:40] axos88 opened #68934 "Borrow scope for pattern matches - again"
This issue seems to be similar to [this one](https://stackoverflow.com/questions/23328702/rust-cannot-move-out-of-self-because-it-is-borrowed-error), but the referenced issue #6379, does not solve it:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=76cf184e191d6e161c57dc78c26a18ac
[code]

[2020-02-07 16:48] axos88 commented on #68934
It is also odd that if the pattern guard is removed, the compiler complains about mixing by ref and by move bindings.

[2020-02-07 16:55] axos88 commented on #68934
If `Copy` is added to A, vv is bound by ref, and dereferenced (copied) when returned, then it compiles or not based on wether a match gueard is present.

[2020-02-07 16:56] axos88 commented on #68934
Compiles:
[code]
Doesn't:
[code]

[2020-02-07 17:08] axos88 commented on #68934
Even simpler repro:

[code]

[2020-02-07 17:19] mati865 commented on #68887
It'd be nice to have Rust's MinGW follow latest MinGW release but it's not backwards compatible: https://www.diffchecker.com/mjMudsm6
Although it's worth mentioning the last breaking change to the CRT happened 2 years ago. This means using newer MinGW would increase amount of systems where it just works.

How does `*-linux-gnu` target work in regard of CRT? It doesn't ship startup objects unlike `

[2020-02-07 17:36] pnkfelix commented on #66768
Did this ever work, by the way? This is tagged "needs-bisect", but that won't help if this isn't a regression... (or maybe the bisection is just to identify whether or not this **is** a regression?)

[2020-02-07 17:38] pnkfelix commented on #66768
shots fired!

(I admit I didn't mention them there, in part because I have little experience using them. I should try using them, and maybe try adding my techniques to rust-reduce.)

[2020-02-07 17:46] ckaran commented on #50133
Does anyone know when/if this will be fixed?  I've just stubbed my toe into it, and the only way that I can get around it is to bind to concrete types.  The problem is that due to what I'm writing a newtype wrapper for, this will mean I have around 1300 essentially identical implementations for each and every newtype wrapper that I'm generating.  I can write a code generator in python to speed to

[2020-02-07 17:47] #68878 closed

[2020-02-07 17:52] axos88 opened #68935 "@ bind on enum values does not actually subclass it"
[code]

The compiler should know that `a1` is of type `E::Foo`, therefore it has a field `0: u32`, but it only seems to know that `a1` is of type `E`, which doesn't help.

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=4bfb83f0e4ba02f372f22c425773833c)

[2020-02-07 18:01] jonas-schievink commented on #68935
`E::Foo` is not a type; https://github.com/rust-lang/rfcs/pull/2593 sets out to change this, so closing in favor of that.

[2020-02-07 18:01] #68935 closed

[2020-02-07 18:01] ExpHP commented on #68935
Correct.  Enum variants are not types.  If you want to accomplish something similar to this, you will need to put structs inside the enums.

[code]

Substantial changes to the language such as this go through the RFC process.  An RFC that turns enum variants into types was proposed not too long ago, but has not yet been accepted and appears to be waiting for the lang team to have enough bandwidth

[2020-02-07 18:18] axos88 commented on #68935
Right. I've read about that over a year ago, I thought it had been implemented.

[2020-02-07 18:33] bjorn3 commented on #68922
I can't find any uses of `box_region` anymore: https://github.com/rust-lang/rust/search?q=box_region&unscoped_q=box_region

[2020-02-07 18:37] jonas-schievink commented on #68922
`src/librustc_interface/passes.rs` uses it via the exported macros

[2020-02-07 18:44] WildCryptoFox commented on #66768
@pnkfelix [yes](https://github.com/rust-lang/rust/issues/65934#issuecomment-557792371), there was discussion prior to determining these are separate issues.

[2020-02-07 19:30] alexcrichton commented on #68887
The toolchain used for MinGW has historically been "whatever is on the builders", so it's not strictly kept in sync with something or intentionally held back. It should be updateable at any time!

The non-MinGW targets all rely on the linker to pull in the CRT. None of them work without a preinstalled toolchain, though, whereas one of the purposes of the MinGW toolchain is to work without a preins

[2020-02-07 19:49] tmandry opened #68936 "Tests in panic=abort can hang if test spawns a subprocess"
If a test (running in a subprocess, because panic=abort) spawns a sub-subprocess which inherits its stdout or stderr handles, and the sub-subprocess does not exit when the test does, the test framework will hang. This is because `wait_with_output` waits for all stdio handles to be closed.

Some tests spawn subprocesses, and it can be hard (particularly with panic=abort) to ensure that they are all

[2020-02-07 19:54] rivy commented on #68872
I belive I'm getting the same error here for [x86_64 "coreutils" builds on GHA-CI](https://github.com/rivy/rust.coreutils/runs/432527747).

[code]
[code]
 =>
[code]

(`gcc` call) ...
[code]

All other builds have been completing successfully for a long time (including the `i686-pc-windows-gnu` target).

[2020-02-07 19:58] Arnavion commented on #68860
[(Simplified example)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c2c5bf7b4825832f0719c56ff1d54504)

I don't have an opinion on whether this should be fixed or not, but I just want to clarify this part:

I don't think the error is misleading, rather it is precisely telling you what the problem is. Specifically the second line of the error:

... explains why the borrow

[2020-02-07 20:01] tmandry commented on #68936
IMO, the _ideal_ semantics in this case would be for a test's subprocesses to automatically die when the test exits, but that's [different](https://doc.rust-lang.org/std/process/struct.Child.html) from the semantics of `std::process::Child`. Changing semantics only in test mode is generally a bad idea.

Failing that, we should avoid hanging and/or give a more helpful error message when this situat

[2020-02-07 21:05] Goirad commented on #64304
Looking at other implementations, the only times when this is not a NOP is for `hermit` `vxcode` and `unix` on non-apple variants. In all these cases the code is:
[code]
I am inclined to just change it to a NOP. What was the motivation for the existing logic?

[2020-02-07 21:34] mati865 commented on #68872
@rivy where is MinGW installed on i686 and x86_64 builders?
I need to know location of `gcc` and MinGW libs (`gcc -print-file-name=crt2.o`).

[2020-02-07 23:54] rivy commented on #68872
@mati865 ,

* i686
[code]
- x86_64
[code]

[2020-02-08 00:20] xacrimon opened #68939 "Possible race condition occuring with interaction between std and glibc pthreads"
I tried this code:

https://github.com/xacrimon/dashmap/tree/617a87496f3b66dc4ede971d6198623c7a80ad16

With the command: `RUSTFLAGS="-Z sanitizer=thread" cargo +nightly test -- --nocapture`

I expected to see this happen: TSAN would detect bugs in my code and not scream at std.

Instead, this happened: TSAN started screaming hard at std and pthreads.

### Meta
I am using latest nighly as of report

[2020-02-08 01:23] jonas-schievink commented on #56484
Triage: The `traitobject` crate has still not been fixed (fix still pending in https://github.com/reem/rust-traitobject/pull/6), but this has been a warning for over a year at this point.

[2020-02-08 02:41] Arnavion commented on #56974
I guess what's left is to update the Generator impl of GenFuture to pass the `Context` instead of `()`, update the lowering of `async fn` to get new `cx` from `yield` instead of TLS, and move the whole thing from libstd/... to libcore/... ? Ala https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=eea6daa5f5a3b81fd65a3786f760c084

[2020-02-08 02:58] Areredify commented on #67510
I'll take at least the ast part of it for now

[2020-02-08 03:14] jonas-schievink commented on #56974
@Arnavion yep, I've started to work on that already. Expect a PR next week.

[2020-02-08 04:05] dwrensha commented on #68890
#67148 in particular looks suspicious.
cc @Centril

[2020-02-08 08:41] crlf0710 opened #68948 "Suspicious lifetime inference."
I'm not sure whether there's a duplicate issue. Currently [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e3047d23757ed3a9c2672a5f221511b3) doesn't compile:
[code]
However it seems to me that a new lifetime variable should be introduced by the `_`? Is there any reason behind this current behavior?

@matthewjasper @nikomatsakis

[2020-02-08 08:42] tmiasko commented on #68939
This is a false positive occurring due to the use of an uninstrumented standard library and / or the use of standalone fences in Arc. When using thread sanitizer, I would strongly suggest do at least do the following:

* use `cargo -Zbuild-std` to instrument the standard library
* patch `~/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src/liballoc/sync.rs` as follows:

[

[2020-02-08 08:49] crlf0710 commented on #68948
@rustbot modify labels to +A-borrow-checker +T-compiler

[2020-02-08 08:50] mati865 commented on #68887
@alexcrichton there is another case of nonstandard path. 😔
This time on Windows when MinGW is installed through Chocolatey https://github.com/rust-lang/rust/issues/68872#issuecomment-583664882
I'll check if it is using symlink which we follow but I'm at a loss.

[2020-02-08 08:55] matthewjasper commented on #68948
I guess that you're expecting it to compile because these do:

[code]

It doesn't compile because reborrows and moves of mutable references are treated differently. It was a breaking change to turn a move into a reborrow with the old borrow checker, so the behavior of rust 1.0 had to be preserved here.

[2020-02-08 09:00] mati865 commented on #68872
@rivy there is i686 MinGW installed 🤔.
I think you could either uninstall MinGW or add `C:/ProgramData/Chocolatey/lib/mingw/tools/install/mingw64/bin` in front of your PATH on x86_64 builder.
I'll hopefully come up with a solution before this hits beta.

[2020-02-08 09:20] eddyb commented on #68817
One way we might be able to get some of the wins from `llvm.dbg.value` is, for cases where we wouldn't use the stack if we could use `llvm.dbg.value`, to keep the stack usage but instead of loading from the stack every time the value is used, refer to the original value that was stored on the stack.

So instead of:
[code]
we'd be able to get this:
[code]
(although more likely than integers, this w

[2020-02-08 09:24] crlf0710 commented on #68948
@matthewjasper
Is there any case when turning a move into a reborrow introduces any semantic difference for compile-able programs? This is just a builtin reference after all...

[2020-02-08 09:34] aristarh2704 opened #68949 "Stdin readline not work on unix encoded files."
I try read stdin from unix encoded file on windows line-by-line, but strings readed not properly. On windows program proccess "\r\n", and do not process "\n".

[2020-02-08 09:54] #68949 closed

[2020-02-08 10:09] #68939 closed

[2020-02-08 10:11] smmalis37 commented on #54279
Oh hey I've been mentioned. Yeah that use case is very much artificial, it was part of the Advent of Code, a series of puzzles. The puzzle for day 10 can be found at https://adventofcode.com/2019/day/10, although you'd need to solve part 1 before it reveals part 2 which this was part of. However as you said i could easily just use `split_at_mut` and be fine.

[2020-02-08 10:12] matthewjasper commented on #68948
If both compile then there's no difference between them.

[2020-02-08 10:25] crlf0710 opened #68950 "Strange borrowing issue in inherent async method."
Not sure whether it's a bug, but it is indeed strange...
[code]
`test2` errors with:
[code]

[2020-02-08 10:31] crlf0710 commented on #68950
@rustbot modify labels to +A-async-await +C-bug +T-compiler

[2020-02-08 10:37] crlf0710 commented on #68950
Seems similar to #68759 ....

[2020-02-08 11:36] jdm commented on #68076
Important points for clang's implementation:
* need a known set of allocator functions
* need a way to tag callsites of the allocator functions
* need to notice when the type returned by an allocator is cast to a different pointer type and update the tag
* set the "heapallocsite" metadata on the LLVM call instruction to a MDNode that corresponds to the pointer type of the allocation

[2020-02-08 11:46] Disasm opened #68951 "Compile error due to the wrong literal data type"
I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7558b47acf4942b543c5d8bf5a2808cb)

I expected to see this happen: it should be compiled

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]
The same happens on beta and nightly.

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-02-08 12:14] eddyb opened #68953 "Switch to LLVM{Get,Set}CurrentDebugLocation2."
I'm still not fully sure what's going on, but see https://github.com/llvm/llvm-project/commit/cce47418c93bcd178379fa8c4df5c3327bc19802.

We would probably have to polyfill it on versions that don't have those APIs.

[2020-02-08 12:25] cookieli opened #68954 "Build rustc failed with cc: error: unrecognized command line option ‘-fextra-flag’; did you mean ‘-fexternal-blas’?"
I want to build rustc from source and develop it.Then I use x.py build and it went wrong. Here is the output:
Updating only changed submodules
Submodules updated in 0.02 seconds
    Finished dev [unoptimized] target(s) in 0.09s
Building stage0 std artifacts (x86_64-unknown-linux-gnu -> x86_64-unknown-linux-gnu)
    Finished release [optimized + debuginfo] target(s) in 0.12s
Copying stage0 std from

[2020-02-08 12:45] eddyb opened #68955 "Audit src/rustllvm/RustWrapper.cpp for C APIs that are now in upstream LLVM."
Specifically, functions which are implemented in the oldest supported LLVM version.

We can also consider to polyfill some functions that are available in our fork, but not in some older supported version, using the same name and signature, instead of our own.

cc @alexcrichton @nagisa @nikic @hanna-kruppe

[2020-02-08 13:33] cup commented on #68872
https://github.com/rust-lang/rust/issues/68887

[2020-02-08 13:35] #68954 closed

[2020-02-08 14:17] CDirkx opened #68957 "Using const fn constructor instead of struct expression with large number of constants causes compilation to fail because of large memory allocation."
I have:
- A struct `CodePoint` with a `const fn from(...) -> Self` constructor
- A large number of `CodePoint` constants (42.000+) using the constructor

[code]

Building this leads to:
- Compiler busy for 2min+
- Compiler error trying to allocate 1.2GB:
  `memory allocation of 1207959552 bytes failed`
  even though I have 12GB of unused RAM

Using struct expressions instead of a `const fn` constr

[2020-02-08 14:22] ia0 commented on #61053
No problem :-) I wasn't waiting active follow-up. I guess this is a subject that may take quite some time to settle and depends on the future of MBE and proc-macro.

I'll follow that. Thanks for the link!

Yes, it was also very interesting to me to dig a bit into a small part of the Rust compiler :-)

[2020-02-08 14:23] CDirkx commented on #68957
I know 42.000+ constants is probably not the best idea, but with the struct expression case finishing within 5s I would expect the compiler to be able to handle them, as the const constructor does exactly the same thing.

[2020-02-08 14:49] PoignardAzur commented on #48055
Quick question: has anything been written about the interaction between unsized locals and generator functions?

Eg, since generators (including coroutines and async functions) rely on storing their locals in a compiler-generated state machine, how would that state machine be generated when some of these locals are unsized and alloca-stored?

Some possible answers:

* Unsized locals aren't allowed

[2020-02-08 14:54] faern commented on #68490
The code/docs were changed a bit after I wrote that last comment just above. But the stabilization PR is live now.

[2020-02-08 15:35] Nemo157 commented on #68923
One question is _how_ do you not store the argument in the generator state, it seems like this would require some extra syntax (or inference) to tell the transform not to store it. For example to support something like the async transform you essentially need to construct generators like this:

[code]

[2020-02-08 15:36] rivy commented on #68872
@mati865 , the gcc version occurred to me as a problem, but it looks like it's the 64-bit version ...

[code]

And, that's odd to me, because the 32-bit/i686 build succeeds and the 64-bit/x86_64 build fails.
😕

I'll look toward disabling it in one or both of those builds to see if it allows success.

[2020-02-08 15:56] steveklabnik commented on #40238
Triage: @infinity0 are you still seeing this?

[2020-02-08 16:03] Areredify commented on #67510
Am I correct in that we don't accept any type bounds on the left hand side and suggest moving them into a `where` clause?

[2020-02-08 16:07] steveklabnik commented on #53352
It seems this issue is 100% irrelevant now; this test no longer has these declarations, and seems to be working as expected. Closing!

[2020-02-08 16:07] #53352 closed

[2020-02-08 16:08] steveklabnik commented on #40145
Triage: has anyone seen this error since 2018? Any way to reproduce?

[2020-02-08 16:08] steveklabnik commented on #53590
Triage: no idea what the status of this issue is or if it's useful.

[2020-02-08 16:10] matthewjasper commented on #44265
Added more blocking issues raised by @DutchGhost

[2020-02-08 16:14] matthewjasper commented on #67510
Do you mean is `X<Y<T: SomeTrait>=()>` accepted? I would guess not because the bounds on `T` are already determined by the trait.

[2020-02-08 16:18] jonas-schievink commented on #68923
@Nemo157 Generators already make sure to only capture variables that are actually live across a yield point. This also seems to work with your example (resulting generator state size is 4, so it only contains the state discriminant).

[2020-02-08 16:19] #68190 closed

[2020-02-08 16:34] mati865 commented on #68872
Just noticed I ate `no` word in my previous comment. 😅

@rivy I think i686 build didn't use external MinGW.
X86_64 partially used external MinGW just like it did before my PR.

[2020-02-08 16:35] cup commented on #68872
FYI this seems to have gone off topic. I am unsubscribing, please mention me if you need a reply, thank you.

[2020-02-08 16:48] Nemo157 commented on #68923
The value not actually being stored in the state is an optimization, currently during type checking the values are still assumed to be live across the yield point (and making this be based on the actual data flow may not be wanted as it will mean minor changes to the code can have unintended impacts on what is live across the yield)

[2020-02-08 16:49] est31 commented on #68925
Note that this is a valid bug because it violates what that the [docs of the `min` function](https://doc.rust-lang.org/stable/std/primitive.f32.html#method.max) say:

See also my comments in that thread for some investigations.

[2020-02-08 16:52] jonas-schievink commented on #68923
Are you sure? I couldn't get the witness type to show up in error messages when I tried your example, so I couldn't see what typeck actually considers live, but I'm pretty sure it's already smart enough to ignore variables that are only accessed between two `yield`s.

[2020-02-08 16:54] jonas-schievink commented on #68923
Ah, got it. Looks like you're right: `[generator@src/main.rs:8:15: 13:6 for<'r> {&'r mut bool, ()}]`

[2020-02-08 16:55] frewsxcv commented on #56415
I'm not planning to work it

[2020-02-08 17:42] olegnn opened #68962 "Incorrect raw identifier variable name help suggestion"
Incorrect hint for variable with a similar name defined using raw identifiers
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6214770563a002ca14cd236cc19f14c0))

Errors:

[code]

Should be `help: a local variable with a similar name exists: r#final`

[2020-02-08 18:29] steveklabnik commented on #30709
Triage: given no comments by others since 2016, and the very specific details needed to trigger this, and so much changing over the last years, I'm going to close this one.

[2020-02-08 18:29] #30709 closed

[2020-02-08 18:38] steveklabnik commented on #50822
Triage: this still fails to compile

[2020-02-08 18:38] rivy commented on #68872
Hmm, @mati865 ... I think this discussion is still directly on point. So, if you're happy to continue it here, I'll continue. If you'd like another issue opened, I can do that.

In summary, so far though:

With `gcc` ("gcc.exe (x86_64-posix-seh-rev0, Built by MinGW-W64 project) 8.1.0"; the 64-bit compiler, not multilib) on the path...

- i686-pc-windows-gnu => builds and tests successfully
- x86_6

[2020-02-08 19:09] clarfon commented on #56415
I don't have time at the moment but I'm fine with someone else picking it up. Will modify the OP.

[2020-02-08 19:19] ecstatic-morse commented on #68957
The hot code here is  [`rustc_typeck::check::method::<impl rustc_typeck::check::FnCtxt>::associated_item`](https://github.com/rust-lang/rust/blob/85ffd44d3d86214fc06be4add039e26f85261a2b/src/librustc_typeck/check/method/mod.rs#L471) with 80% of CPU cycles, which does a linear scan to find an associated item with a particular name.

[2020-02-08 19:21] eddyb commented on #50822
I'm closing this as "not a bug", as per https://github.com/rust-lang/rust/issues/50822#issuecomment-404766422.

[2020-02-08 19:21] #50822 closed

[2020-02-08 19:33] timvermeulen commented on #68536
`a` and `b` are obviously wrong, but `value` seems correct to me? The `zip` produces
[code]
so `nth_back(3)` correctly produces `(30, 4000)`.

[2020-02-08 19:51] JohnTitor commented on #68536
@timvermeulen Ah, my bad. Thanks for pointing out!

[2020-02-08 20:17] eddyb opened #68964 "MIR SourceScopes stay around even when all their uses were removed."
We already have a testcase, namely [`simplify_try`](https://github.com/rust-lang/rust/blob/85ffd44d3d86214fc06be4add039e26f85261a2b/src/test/mir-opt/simplify_try.rs), which replaces enough of the original body to make some `SourceScope`s unused.

However, despite no statements/terminators using those scopes anymore, they stick around.
The fact that they're gone is in itself a problem (debuginfo is

[2020-02-08 21:23] jonas-schievink opened #68967 "30-60% perf regression in ctfe-stress"
This happened on 2020-01-11: https://perf.rust-lang.org/compare.html?start=bfd04876b93ad5c013d90bc46937e28b6ee1a3f4&end=1389494ac145a84dba025ff65969f7ab150c3f02&stat=instructions:u

Caused by https://github.com/rust-lang/rust/pull/67000

cc @oli-obk @spastorino

(I could've sworn we already tracked this regression, but apparently not)

![screenshot-2020-02-09-00:03:41](https://user-images.githubus

[2020-02-08 21:25] mati865 commented on #68872
@rivy my PR hasn't changed anything in this regard:
- i686 doesn't use system libraries because they are different arch (x86_64)
- x86_64 would use this MinGW but it's installed into directory that isn't covered by my PR

So my PR doesn't really help here.

Either that GCC is using one of standard paths (covered by my PR) or it ships old enough mingw-w64 not to conflict with Rust shipped one.

[2020-02-08 21:36] c410-f3r opened #68968 "An error should be raised for bad implementations of `Display` in an unit struct context"
This snippet does show an error:

[code]

But the following overflows the stack:

[code]

[2020-02-08 21:40] jonas-schievink commented on #68968
The first one shows

    error[E0277]: `fn(i32) -> Foo {Foo}` doesn't implement `std::fmt::Display`

because you're passing the type constructor function, not an instance of `Foo`. Change it to `Foo(123)` and it also overflows the stack.

The unconditional recursion lint not triggering on `Display` impls is a well known issue tracked (primarily) by https://github.com/rust-lang/rust/issues/57965, s

[2020-02-08 21:40] #68968 closed

[2020-02-08 22:48] Lokathor opened #68972 "Range bound error in match has bad error message when integer literal wraps"
For a match where I'm matching on a `u8`, I put `251..=256` on accident, and then rather than saying that 256 is out of range for `u8`, it decided to wrap 256 to 0 and then error that 251 is lower than the end of the range:
[code]
Clearly this is not a good situation.

[2020-02-08 22:50] dtolnay commented on #54279
I would be inclined to remove these methods. This is an uncommon use case. The algorithm can be implemented in ~20 lines of safe code if you don't mind the bounds checks. I think the amount of benefit we'd deliver by stabilizing these is much less than what it costs to put these fairly complicated names and signatures in front of everyone in the documentation of slices.

[2020-02-08 22:53] eddyb commented on #47809
This example has regressed (including on stable by now): ([playground](
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d5d1dd7fc4b97a199f8501d9cbabcfa0))
[code]
The location reported is now `<::core::macros::panic macros>:3:10`.

In general, we don't track enough information to recover the invocation site, when we have to codegen the MIR cross-crate. @Aaron1011 made me rea

[2020-02-08 23:01] glandium opened #68973 "rust-mingw is missing libssp*"
The GCC compiler that comes with rust-mingw understands `-fstack-protector-strong` and emits stack-protector code, but the build further fails to link with messages like:
[code]

The missing symbol is normally added by `gcc` to the `ld` command line via `-lssp_nonshared -lssp`, when it's passed `-fstack-protector-strong` during linking. Adding `-fstack-protector-strong` via `RUSTFLAGS=-Clink-arg=-

[2020-02-08 23:07] smmalis37 commented on #54279
I'd vote against removing these methods. Even if their use is uncommon they are genuinely useful. They also fit with other `dedup*` methods that are already in std.

[2020-02-08 23:16] glandium opened #68974 "Can't use ASAN with Xcode clang"
When building rust code with `-Zsanitizer=address` and following through with `-fsanitize=address` for C/C++ code that might be compiled by build scripts, the build ends up failing with (using Xcode 11.3 on travis):
[code]

There's probably nothing rust can do about it, so this is more about SEOing for people who might hit the same problem.

[2020-02-08 23:20] eddyb commented on #68855
[code]
How does LLVM even generate such a code sequence? Well...:
[code]

Okay so I guess LLVM doesn't even simplify the CFG when optimizations are off?

<hr/>

Anyway, the MIR differs. This is a constant folding regression.
cc @rust-lang/wg-mir-opt

[2020-02-08 23:36] rivy commented on #68872
Prefixing the parent directory of `gcc` (`C:\ProgramData\Chocolatey\lib\mingw\tools\install\mingw64\bin`) to PATH, as you suggested, also fixed the build, leaving `gcc` available for use. I'm not sure why that works, but I'll go ahead and use that method.

[2020-02-09 00:33] varkor opened #68977 "Revert `compute_const` changes in WF"
See https://github.com/rust-lang/rust/pull/56723/files/03b892860da5aff7a10cf4ca1364dbcacb95bfcd#r376641987. Opening this issue so I don't forget about it.

cc @eddyb

This issue has been assigned to @lcnr via [this comment](https://github.com/rust-lang/rust/issues/68977#issuecomment-601381143).

[2020-02-09 00:51] #67586 closed

[2020-02-09 01:08] Lokathor commented on #54279
As I said, those are implemented in terms of these, so these cannot be removed entirely.

Users of Vec already see this complexity, in Stable, there's no reason that it can't be available to slices too.

[2020-02-09 02:09] shepmaster opened #68979 "Valgrind reports that statx arguments point to unaddressable bytes"
I tried this code:

[code]

I compiled it and ran it under Valgrind:

[code]

I expected to see that Valgrind reported no errors.

Instead, it reports errors:

[code]

### Meta

`rustc --version --verbose`:

[code]

`rustc +nightly --version --verbose`:

[code]

[2020-02-09 02:15] shepmaster commented on #68979
/cc @oxalica (from what appears to be the [original commit](https://github.com/rust-lang/rust/commit/43f398be6d0faaf119150c950133ba4aa0ff42b3))

[2020-02-09 02:54] timvermeulen commented on #68536
The problem seems to be that the specialized version of `Zip::next_back` calls `TrustedRandomAccess::get_unchecked(i)` on both inner iterators [here](https://github.com/rust-lang/rust/blob/master/src/libcore/iter/adapters/zip.rs#L246), which doesn't affect the `len()` of the inner iterators in any way. As a result, the next time `next_back` is called, `next_back` is called on both inner iterators

[2020-02-09 02:57] varkor commented on #68868
I think this should be fixed by https://github.com/rust-lang/rust/pull/68434.

[2020-02-09 03:01] spunit262 commented on #68923
Currently only blocks can prevent typeck from considering a value live across yields. Looks like the check is even before moves are checked, based on which errors are gotten. ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0e9d60cbd0b1bce8e34819d9d0da5eec))

[2020-02-09 04:16] msizanoen1 commented on #62117
@infinity0 The final version of that PR is now merged and has likely changed since the last time you included it. You should update the patch.

[2020-02-09 04:26] eddyb opened #68980 "Consider emitting LLVM DIFile checksums."
We already hash the contents of `SourceFile`s to determine whether the file on disk (if it even exists) still has the same contents, across crates.

I came across [LLVM supporting MD5 and SHA1 checksums](https://llvm.org/docs/LangRef.html#difile) for `DIFile`s, and I'm wondering if it could be useful in a similar way - perhaps debuggers would be able to detect changed sources?

cc @michaelwoeriste

[2020-02-09 05:13] estebank opened #68982 "Suggest correct code for associated fn with type parameters"
#68689 partially addresses #50734, but we need to resugar the predicates to unify the output of a trait obligation with related projection obligations (associated types).

For example

[code]

should be

[code]

[2020-02-09 05:19] ecstatic-morse opened #68983 "Tracking issue for making ASCII ctype inherent methods `const fn`"
This is a tracking issue for making the inherent methods introduced in #46077 into `const fn`. This includes all functions listed in #39658 for both `u8` and `char`, namely:

 * `is_ascii_alphabetic`
 * `is_ascii_uppercase`
 * `is_ascii_lowercase`
 * `is_ascii_alphanumeric`
 * `is_ascii_digit`
 * `is_ascii_hexdigit`
 * `is_ascii_punctuation`
 * `is_ascii_graphic`
 * `is_ascii_whitespace`
 * `is_as

[2020-02-09 05:42] chrissimpkins commented on #68813
# Regression found in the compiler

Possibly associated: https://github.com/rust-lang/rust/issues/66868

I am **not** seeing this regression in:

### Stable
[code]

### Beta
[code]

### Nightly
[code]

## Cargo bisection

searched nightlies: from nightly-2019-10-01 to nightly-2019-11-01
**regressed nightly**: nightly-2019-10-08
searched commits: from https://github.com/rust-lang/rust/commit/421bd7

[2020-02-09 05:52] daboross commented on #35813
Submitted a pull request to fix this! #68985

[2020-02-09 06:19] frostyplanet opened #68987 "rustc: Improve unexpected close delimiter hint"
I found writing rust often confused by missing closing "}" or ")" error message.  when editting large file.  the line number in error message is completely wrong, looking through my code the changes are no where near the line. It takes a long time for me to spot the syntax problem.

[code]

[2020-02-09 07:00] frostyplanet commented on #68987
It turns out a match { }  block missing a line `Ok(_)=> {`,   but the line 1218 in the error message is the last line of file

[2020-02-09 07:11] #45600 closed

[2020-02-09 12:15] dsoronda commented on #48249
I just got same error.

[code]
and got this errors:

[code]

Also, R is an in-memory drive created using ImDisk program.
Copying solution to regular `C:\` and build works.
Also, cargo on `subst` drives also works without issues.

[2020-02-09 12:20] Amanieu commented on #68794
Looking at the objdump output, you can see the difference between the 2019-12-09 and 2019-12-10 nightlies:

[code]

The textrel happens because the `__rust_probestack` has global visibility and can therefore (in theory) be overridden at runtime, e.g. with LD_PRELOAD. This means that the dynamic linker will need to patch the .text section at load time to fix up the call instruction.

As @tmandry su

[2020-02-09 13:05] est31 commented on #64376
Nothing has happened. Pointless to keep this open.

[2020-02-09 13:05] #64376 closed

[2020-02-09 13:09] gnzlbg opened #68990 "VecDeque::new allocates"
I've noticed that `VecDeque::new` allocates. We don't guarantee that it doesn't, but this felt inconsistent with, e.g., `Vec::new`, for which we do guarantee that it does not allocate.

I'm not sure what the appropriate venue is for discussing this, but I think it would make sense to remove the surprise here and guarantee that `VecDeque::new` does not heap-allocate either.

cc @rust-lang/libs

[2020-02-09 13:15] glandium opened #68991 "Intermediate operations on collected Vec prevent type inference"
I tried this code:

[code]

I expected it to compile, considering the only thing `s` can be, here, is a `Vec<u16>`. Without the intermediate `push`, the code compiles.

Instead, this happened:

[code]
### Meta

`rustc --version --verbose`:
[code]

[2020-02-09 13:19] jonas-schievink commented on #68991
I believe this is a known issue with how inherent impls are treated. Not sure if there's already an issue for that.

[2020-02-09 13:51] LukasKalbertodt opened #68995 "Add `with_exact_size` and `with_size_hint` to `Iterator`"
Usually iterator adaptors do a fine job at keeping information about the length of an iterator. But once you throw something like `filter` in your iterator chain, the lower bound is 0, meaning that collecting into a collection can't properly pre-allocate. Also, some iterator adaptors (like `chain`) cannot implemented `ExactSizeIterator` although in many real world cases, the size is perfectly know

[2020-02-09 15:16] nagisa opened #69000 "Suggest how to workaround E0212"
It is not impossible for one to end up with a code that looks like this:

[code]

But fairly unintuitively the compiler rejects this code:

[code]

This can be made to work by specifying the lifetime for the associated type:

[code]

But it is fairly not obvious how to get there. We should suggest a similar transformation in the diagnostic.

cc @estebank

[2020-02-09 15:35] DutchGhost opened #69001 "Constify Pin<&T>::get_ref"
This is an issue for making `Pin<&T>::get_ref` a const fn. This doesn't require any features, and is compatible with rustc 1.33 when Pin was introduced.

[2020-02-09 15:59] calebcartwright commented on #68917
@topecongiro - I've opened https://github.com/rust-lang/rustfmt/pull/4043 to fix this against rustfmt 1.4.11 since I don't think we're ready to start publishing the 2.x version yet.

https://github.com/rust-lang/rustfmt/pull/4022 is also there to fix things on master/2.x

[2020-02-09 16:10] sfackler commented on #68990
https://github.com/rust-lang/rfcs/issues/1173

[2020-02-09 18:53] jonas-schievink commented on #51600
Closing as a duplicate of #34909

[2020-02-09 18:53] #51600 closed

[2020-02-09 18:54] nagisa commented on #68979
Looks genuine, we do indeed pass in 0s to the syscall:

[code]

[2020-02-09 18:58] hexane360 commented on #68995
Should `ExactSize` panic if the underlying iterator fails to yield exactly `size` values? Should `SizeHint` panic if the underlying iterator fails to yield at least `lower` values?

[2020-02-09 19:03] nagisa commented on #68925
The tests pass on actual mips64el hardware (Cavium Octeon II V0.1), as tested with `rustc 1.38.0 (625451e37 2019-09-23)`.

[2020-02-09 19:26] dtolnay commented on #54279
The ones on Vec are simpler signatures, simpler names, and simpler behavior to understand, and serve a somewhat more common use case. So I don't find that those necessarily provide justification for the new slice methods.

Regarding "cannot be removed entirely": they can be removed entirely from the API of the standard library.

[2020-02-09 21:06] glandium commented on #68979
Try valgrind master. It was fixed there.

[2020-02-09 21:08] nagisa commented on #68979
@glandium what was? We do in fact get `EFAULT`ed by the kernel, with or without valgrind.

[2020-02-09 21:13] tmiasko commented on #68979
https://sourceware.org/git/?p=valgrind.git;a=commit;h=2a7d3ae768f9e5b29acd5cb743c3fb13640a391c

[2020-02-09 21:25] glandium commented on #68979
As to why the "dubious" call: https://github.com/rust-lang/rust/pull/65685

[2020-02-09 21:30] shepmaster commented on #54279
Are you talking about only the "complicated" version:

[code]

or also the "simplified" version

[code]

[2020-02-09 21:58] dwrensha commented on #68890
Pre-#67148, we return early with an error here: https://github.com/rust-lang/rust/blob/c64eecf4d0907095928fb36fd3a1dd5fb2d9ff06/src/librustc_parse/parser/ty.rs#L82

Post-#67148, in the corresponding code happens in a call to `parse_paren_comma_sep`: https://github.com/rust-lang/rust/blob/1ad6b5e1e69ad3d3509abd8c041bb9fb2dd86c41/src/librustc_parse/parser/ty.rs#L197-L201
and the parser "recovers" fr

[2020-02-09 22:03] nagisa commented on #68979
Cool. Closing as inactionable.

[2020-02-09 22:03] #68979 closed

[2020-02-09 22:11] Lokathor commented on #54279
I would like to see them put on normal slices so that other crates with vec-like APIs can simply use the slice versions.

But i'm fine with the simple version, since that's what Vec offers.

[2020-02-09 22:13] #67509 closed

[2020-02-09 22:13] #68741 closed

[2020-02-09 22:17] dtolnay commented on #54279
If the intended audience is crates that provide a vec-like API, I really don't think that justifies adding these to slice. It's an uncommon use case and they can write the 20 lines themselves. I don't think providing these methods makes a dent in the actual hard parts of designing and implementing a vec-like type downstream.

[2020-02-09 22:23] ExpHP commented on #68991
This is a well-known limitation of the type-checker.  Basically, the code is type-checked in order.  Normally, thanks to type inference, this is not a big deal, but for method calls it must be possible to resolve the method at the time a method call is seen (to know whether it's inherent or from a trait), otherwise the compiler cannot determine the return type.

See #42333.

[2020-02-09 22:26] jonas-schievink commented on #68991
Closing in favor of that, then

[2020-02-09 22:26] #68991 closed

[2020-02-09 22:47] dtolnay commented on #40062
The current signature is missing a ?Sized bound. Could I ask for a PR to fix the bound and add a test that covers remove_item("...") on a Vec\<String\>? This use case was requested in https://github.com/rust-lang/rust/pull/67727#issuecomment-570660301 and https://github.com/rust-lang/rust/issues/40062#issuecomment-305978259.

[code]

[code]

[2020-02-09 22:49] Aaron1011 commented on #66426
Actually, this does not compile - I didn't use the modified `_Some` function when testing.

[2020-02-09 23:03] chrissimpkins commented on #68875
Source: https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=bd71263c3ae486f4cda40f73e4024821

<details><summary>Stack trace</summary>
<p>

[code]

</p>
</details>

## Cargo bisection

With `cargo-bisect-rustc`

**regression in nightly-2019-07-31**

<details>
<summary>Bisect output</summary>
<p>

[code]
</p>
</details>

[code]

dddb7fca09d Auto merge of #62805 - Xanewok:update-r

[2020-02-09 23:11] brokenthorn commented on #47608
Had similar issue with Rust 2018 and this code:

[code]

and the error was:

[code]

[2020-02-09 23:15] Lokathor commented on #54279
Or just anyone using slices who wants to be able to do this.

Unless your argument is that adding this in the first place to Vec was itself a mistake, then the same methods should be on slices too (the simplified versions that is).

[2020-02-10 00:07] dtolnay commented on #40062
Separately: I am leaning toward removing remove_item. I agree with https://github.com/rust-lang/rust/issues/40062#issuecomment-554486688 and https://github.com/rust-lang/rust/issues/40062#issuecomment-560309989. The currently design involves:

- start with a reference to a value not in the vec,
- use its PartialEq impl to
- do a linear scan,
- remove the first found,
- shift everything after the r

[2020-02-10 00:21] Centril commented on #68354
- On 2020-02-09, the implementation of the feature in https://github.com/rust-lang/rust/pull/68376 landed. The PR was written by @Centril and reviewed by @matthewjasper.

As of now, we don't believe more tests would needed before we stabilize, but if you can think of some, please do add or propose them. What we're waiting now is probably for more time to pass.

[2020-02-10 01:30] #66802 closed

[2020-02-10 03:34] toop opened #69013 "about std output"
I very like the Rust lang, We strongly hope to add syntax to template output：
fn main(){
   let string  = “test”；
   println!("${string}");
   // "test"
   //or
   println!("{string}");
  // "test"
}

[2020-02-10 03:35] chrissimpkins commented on #67158
## Regression found in the compiler

searched nightlies: from nightly-2019-01-01 to nightly-2020-02-01
regressed nightly: nightly-2019-09-29
searched commits: from https://github.com/rust-lang/rust/commit/084beb83e0e87d673d5fabc844d28e8e8ae2ab4c to https://github.com/rust-lang/rust/commit/488381ce9ef0ceabe83b73127c659e5d38137df0
regressed commit: https://github.com/rust-lang/rust/commit/f3c8eba643

[2020-02-10 03:47] Centril commented on #68995
I recall discussing suggesting this to @scottmcm, who was not a fan, in a private setting at one point.
cc also @jswrenn re. https://github.com/rust-itertools/itertools/pull/341.

[2020-02-10 04:00] memoryruins commented on #69013
A RFC for implicit named arguments in formatting macros was accepted in https://github.com/rust-lang/rfcs/pull/2795
Tracking issue  #67984

[2020-02-10 04:20] dwrensha commented on #68890
I opened #69014, which takes the stance that `span_bug()` is no longer appropriate here.

It's possible that there's a better fix that changes the way `parse_paren_comma_seq()` works, but that would require a deeper expertise of how these things are supposed to work than I currently have.

[2020-02-10 04:27] #69013 closed

[2020-02-10 04:46] chrissimpkins commented on #63355
## ICE

Source: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a68dbb4a4b78a06788f6f148c459f4cf

<details><summary>Stack trace</summary>
<p>

[code]

</p>
</details>

### Cargo bisection

[code]

**regression in nightly-2019-08-04**
[code]

[code]

6e0d27d9368 Auto merge of #63059 - Centril:sound-bind-by-move, r=matthewjasper
452087b4bf1 Auto merge of #63242 - pietroalbin

[2020-02-10 05:07] mathstuf commented on #53487
Without a way to easily make the former in the standard library, the latter ends up being common so that `{:?}` formatting Just Works™.

[2020-02-10 05:22] chrissimpkins commented on #62504
In https://github.com/rust-lang/rust/issues/62504#issuecomment-570954560

## ICE

Source: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bf015b5bc8498e649ed450f8413fd08b

<details><summary>Stack trace</summary>
<p>

[code]

</p>
</details>

[2020-02-10 06:53] silwol commented on #68925
I didn't get cargo-bisect-rustc running properly, as it seems to be targeted at compile-time errors, and with the other attepmts (adding `-- test`, or running a script) it always told me that the regression was present in the start version already.
None the less, I bisected manually, and the first nightly which fails in my VM is `nightly-2019-06-08-mipsel-unknown-linux-gnu - rustc 1.37.0-nightly (

[2020-02-10 08:58] est31 commented on #68925
Hmmm indeed c5295ac64a8f2c7aee9cdd13b8fe00b82aff8435 looks very much related. These are the changes in the compiler-builtins repo: https://github.com/rust-lang/compiler-builtins/compare/0.1.15...0.1.16 . These are the changes in libm: https://github.com/rust-lang/libm/compare/0ae442888c7af72c0a335edd43dbbd74c751f119...01bee72a93ebaeea2883d0f963174c2b00d4fe68 . This is the PR that added Rust float

[2020-02-10 09:15] silwol commented on #68925
@est31 Hadn't thought about checking whether it has something to do with build mode. Just tested, it only fails in debug build mode, and succeeds in release build mode.

[2020-02-10 09:47] est31 commented on #68925
Thanks that's consistent with the output of godbolt I linked above, as there the compiler just optimizes out the checks.

[2020-02-10 10:16] LukasKalbertodt commented on #68995
I initially would have said: no, they should not panic. `len()` says it has the same safety guarantees as `size_hint` and `size_hint` stresses that it's basically just for optimization and nothing bad should happen if the returned size is incorrect.

But thinking about it again... maybe checking this might not actually incur any notable performance overhead and be useful. Lets consider the impleme

[2020-02-10 10:32] mati865 commented on #68872
@cup I see what is wrong now.
`/usr/x86_64-w64-mingw32/lib` also exits and contains linker scripts so `/usr/x86_64-w64-mingw32/sys-root/mingw/lib` isn't even checked.
I'll have PR soon depending on what is decided for chocolatey.

[2020-02-10 10:33] jethrogb commented on #64304
Implement the required function `cleanup` without knowing exactly what needs to happen.

Having done some git archeology, it looks to me like the `cleanup` function exists solely for certain platforms where the arguments may be stored on the stack of the main thread. If the main thread exits, that stack may no longer be available so other threads may not reference it.

I think turning it into a no

[2020-02-10 11:30] nox commented on #68867
I've always wanted to write such a peephole optimisation for match expressions over `(T, T)` where all the arms but the last one are `(T::Foo(..), T::Foo(..))` but I didn't have the time to do it yet.

That's a low-hanging fruit and I suspect will bring improvements all across the board but days are still only 24 hours long.

[2020-02-10 11:33] nox commented on #68867
Cf this, too: https://github.com/servo/servo/commit/456c18f767104a6b69dbf41a1e3b6a3cc99800d7

[2020-02-10 11:50] the8472 commented on #68995
For maximal optimization you'd need some sort of `unsafe fn set_trusted_len()` that provides a TrustedLen wrapper.

[2020-02-10 12:17] dbdr opened #69016 "Inconsistent unused warning for local const inside unused methods (but not functions)"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c40b89520638bf949f9fec7577cdb31a))

There is a warning about F being unused in method _unused2, while there isn't about the same situation in function _unused1:

[code]
Local variable g is also not reported as unused in either case. Unless I'm mistaken, F and g are similar in that they are local to the f

[2020-02-10 12:47] Patryk27 opened #69017 "ICE when `yield` is used as an argument to `println!`"
Hi,

[code]
[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=55e65a869e1f5fef64cc4462b1a5a087)

ICEs, on today's nightly, with:
[code]

<details>
<summary>backtrace</summary>

[code]
</details>

This issue has been assigned to @chrissimpkins via [this comment](https://github.com/rust-lang/rust/issues/69017#issuecomment-584310477).

[2020-02-10 13:02] jfrimmel opened #69018 "Incorrect dead-code-warning on enum when using Self"
The following code produces an incorrect dead code warning ("warning: variant is never constructed: `Variant`"), when using the `Self` keyword. When using the enumeration name (`E`), there is no warning.
[code]

Tested versions:
[code]

This issue has been assigned to @matprec via [this comment](https://github.com/rust-lang/rust/issues/69018#issuecomment-584134027).

[2020-02-10 13:03] jonas-schievink commented on #69017
Hmm, const promotion seems to mistakenly think it can promote `yield` expressions

[2020-02-10 13:09] rchaser53 commented on #67653
This issue is resolved, so I close it.

[2020-02-10 13:09] #67653 closed

[2020-02-10 13:11] bjorn3 commented on #68980
Yes, that is the purpose of the hash, see DWARF5 section 6.2.4.1 opcode DW_LNCT_MD5.

[2020-02-10 13:34] eddyb opened #69019 "Choose a naming scheme for codegen debuginfo emission."
Right now it's a mix of `debuginfo`, `dbg` and `DI`.
(`DIFoo` is how LLVM refers to its debuginfo metadata)

I would prefer if we had something consistent, e.g.:
* go full on DWARF and use `dw` and `Dw` as prefixes, followed by DWARF names (e.g. `DwSubprogram` for a function)
  * easier to refer back to the DWARF spec
  * LLVM already uses mostly DWARF concepts, and other formats, like CodeView, h

[2020-02-10 13:36] Centril commented on #69017
cc @rust-lang/wg-const-eval

[2020-02-10 13:44] michaelwoerister commented on #69019
I'm fine with making the naming consistent. I think I prefer using generic `dbg/Dbg` prefixes instead of Dwarf-specific ones. I guess a non-LLVM backend on Windows would not use DWARF?

[2020-02-10 13:47] oli-obk commented on #68967
We knew about this regression in the PR, maybe you remember that discussion. In https://github.com/rust-lang/rust/pull/67000#issuecomment-572584886 I finally came to the conclusion that the reason we regressed perf here is that before that PR we didn't actually evaluate the promoteds, we just created pointers to them. #67000 causes all promoteds to get evaluated immediately when their use site is

[2020-02-10 13:50] RalfJung commented on #61821
@eddyb so basically, `const_prop` should cease to emit warnings on when it is working inside a promoted?
Cc @wesleywiser

[2020-02-10 13:52] oli-obk commented on #68855
I'm guessing this is caused by #67631

[2020-02-10 13:55] #67861 closed

[2020-02-10 13:55] #67926 closed

[2020-02-10 13:56] RalfJung opened #69020 "Duplicate errors for overflowing division / remainder"
When there is an overflowing division or remainder operation that const_prop can detect, the error is duplicated *in release mode only*:
[code]
shows
[code]
This is because `!overflow_check` is `true` in release mode but divison and remainder *still* get overflow checks.

([This test case](https://github.com/rust-lang/rust/blob/4d1241f5158ffd66730e094d8f199ed654ed52ae/src/test/ui/issues/issue-8460

[2020-02-10 13:56] matprec commented on #69018
@rustbot claim

[2020-02-10 14:04] chrissimpkins commented on #69017
searched nightlies: from nightly-2020-02-01 to nightly-2020-02-08
regressed nightly: nightly-2020-02-08
searched commits: from https://github.com/rust-lang/rust/commit/442ae7f04026c215a03b155eaaf9cde8bb5cf02a to https://github.com/rust-lang/rust/commit/a29424a2265411dda7d7446516ac5fd7499e2b55
regressed commit: https://github.com/rust-lang/rust/commit/f8fd4624474a68bd26694eff3536b9f3a127b2d3
source

[2020-02-10 14:07] Centril commented on #65490
- On 2020-02-10, https://github.com/rust-lang/rust/pull/68992 landed. The PR was written by @matthewjasper and reviewed by @Centril. The PR fixed a parser recovery bug wherein `mut x @ y` would make `y` a mutable binding, manifesting as issues https://github.com/rust-lang/rust/issues/67861 and https://github.com/rust-lang/rust/issues/67926.

[2020-02-10 14:09] Lonami commented on #69018
Possible duplicate of # #64362.

[2020-02-10 14:11] jonas-schievink commented on #69017
@chrissimpkins yeah this is caused by resume arguments

[2020-02-10 14:16] RalfJung opened #69021 ""exceeding_bitshifts" lint does not work in associated consts"
The `exceeding_bitshifts` lint should fire on the following code, but it does not:
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=11c45c0bd4b22ff997e69901b3bb0709)
(This testcase now exists in-tree as a FIXME in `ui/lint/lint-exceeding-bitshifts.rs`.)

Cc @oli-obk @wesleywiser

This issue has been assigned to @jumbatm via [this comment](https://githu

[2020-02-10 14:18] oli-obk commented on #69017
In the given rollup I'd guess it's caused by https://github.com/rust-lang/rust/pull/68524 Essentially the issue is that we didn't know there were terminators other than `Call` that assigned to locals.

The fix should be as trivial as making https://github.com/rust-lang/rust/blob/master/src/librustc_mir/transform/promote_consts.rs#L465-L468 handle `Yield` by returning `Err(Unpromotable)`

[2020-02-10 14:37] steveklabnik commented on #43448
Triage: it's unclear to me what would cause this ticket to be resolved.

[2020-02-10 14:40] RalfJung commented on #69020
Basically the same issue also leads to duplicate errors for `Neg`, though that requires associated consts to actually trigger:
[code]
shows
[code]

[2020-02-10 15:01] jonas-schievink commented on #68801
I just caused a lot of these to appear in the async/await tests when changing the HIR lowering of async/await. I've pushed that state as https://github.com/jonas-schievink/rust/commit/1197e62c8573e72c41231dc65d58c9a0efc13ecb. I probably did something wrong in the HIR building code, but a similar issue might be preexisting, which could cause this I guess.

[2020-02-10 15:11] SimonSapin commented on #67194
PR https://github.com/rust-lang/rust/pull/68358 has been merged. Is this issue fixed?

[2020-02-10 15:31] ordian opened #69024 "Missed optimization on fixed-size bytes comparison"
https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=99eabb4a672da50556a9eb7d4f4016e9

cc #62531

The generated assembly calles into `memcmp`, but still slower.
E.g. for `eq` it checks len unnecessarily.
[code]

[2020-02-10 15:35] nikomatsakis commented on #67194
cc @matthewjasper on that topic

[2020-02-10 15:36] Kinrany opened #69025 "Rustdoc: prioritize matches with same casing in search results"
It would be convenient if [the results] for a lowercase `filter` showed exact match `filter` before `Filter`, and vice versa.

[the results]: https://docs.rs/futures/0.3.4/futures/index.html?search=filter

[2020-02-10 15:39] GuillaumeGomez commented on #69025
I can do that but not sure we really want it... People really look for "String" I think, instead they just look for "string" and that's it. You can specialize it by adding "struct:" or "fn:" (the full list is available on the rustdoc help) at the start of your query.

[2020-02-10 15:42] Mark-Simulacrum commented on #67194
Also note that we're landing https://github.com/rust-lang/rust/pull/68835 shortly which fixes the Range inclusive Hash and Eq impls to be the same.

[2020-02-10 15:44] Kinrany commented on #69025
Typing the name with the correct casing is easy, and the behavior of displaying exact matches first should be very clear, so I expect everyone to immediately learn to tune the results when they know exactly what they're looking for.

In other cases any order seems fine, unless looking for types is much more common than looking for functions?

[2020-02-10 15:48] wesleywiser commented on #69019
LLVM on Windows using the msvc toolchain will output [PDBs](https://llvm.org/docs/PDB/index.html).

I think I would also prefer the generic terminology instead of DWARF specific.

[2020-02-10 16:21] WaffleLapkin opened #69028 "Enum size includes sizes of variants that can't be created"
I tried this code:

[code]

I expected `size` test to pass because there is only one value of type `MyPhantomData<i32>` (`MyPhantomData::Always`). However, it fails because the actual size of `MyPhantomData<i32>` is `8`. It's also notable that `MyPhantomData<()>` is actually ZST.

This concrete example may seem strange, but this could also appear in generic code like that:

[code]

I'm wondering i

[2020-02-10 16:45] chrissimpkins commented on #69017
Maybe even simple enough for me! :)

I took a stab at it.  Looks like this does address it.

https://github.com/rust-lang/rust/pull/69032

[2020-02-10 17:09] eddyb commented on #49511
I think merging #66364 should close this issue, because even though I said:

I mean that this is a *prerequisite* to precise hygiene information, but that is a separate concern that affect all serialized `Span`s and should be tracked separately.

[2020-02-10 17:18] jonas-schievink commented on #56974
Opened https://github.com/rust-lang/rust/pull/69033 with the final fix for this

[2020-02-10 17:21] eddyb commented on #61821
You could still have warnings inside a promoted that are *not* from things covered by `Assert`s, but other odd conditions `const_prop` checks.

Basically "this expression will panic at runtime" type warnings shouldn't be emitted from a promoted, others might be fine.

[2020-02-10 17:25] eddyb commented on #68855
The fix was already implemented though! `Instance::resolve` already returns `None` in the problematic cases. *Users* of `Instance::resolve` don't need to special-case anything anymore.

Nor do we ever need to use `UserFacing` just because something might be polymorphic, because the fix is in `Instance::resolve` already, as it has been in `traits::project` for associated types for years.

I left co

[2020-02-10 17:30] eddyb commented on #69019
That's what I meant by `CodeView` FWIW. However, it still exposes that to the IR in DWARF terminology and concepts, and only translates them internally when generating `PDB`s with `CodeView` debuginfo.

Alright, let's hope the bikesheds won't get too bad.

I mean, yes, but it would still have to deal with a DWARF-centric abstraction even if we don't use literally the DWARF names. I guess the case

[2020-02-10 17:38] kpp commented on #56974
This is so cool!

[2020-02-10 18:04] Hirrolot opened #69035 "rustc doesn't infer the default type parameter"
I tried this code:

[code]

I expected to see this happen: the compiler should infer `T<()>`, because this is the default type parameter.

Instead, the error is happened:

[code]
Both the latest stable (1.41.0), beta (1.42.0-beta.3), and nightly (1.43.0) channels produce this error. Is it a bug in type inference?

The playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2

[2020-02-10 18:13] jonas-schievink commented on #69035
Closing as a duplicate of https://github.com/rust-lang/rust/issues/27336

[2020-02-10 18:13] #69035 closed

[2020-02-10 18:31] #67194 closed

[2020-02-10 18:40] ark0f opened #69037 "Smarter derive(Default) for PhantomData"
[code]
But if we implement `Default` without derive:
[code]
Then code compiles successfully.

Can `derive(Default)` be smarter for cases like this?

[2020-02-10 18:41] jonas-schievink commented on #69037
Duplicate of https://github.com/rust-lang/rust/issues/26925

[2020-02-10 18:41] #69037 closed

[2020-02-10 19:01] ecstatic-morse commented on #53718
@rustbot release-assignment

[2020-02-10 19:23] eddyb commented on #51574
I came across over this instance of `cm` today:
https://github.com/rust-lang/rust/blob/e6ec0d125eba4074122b187032474b4174fb9d31/src/librustc_errors/lib.rs#L149

So we might need to do another pass just for easier to miss things like `cm`.

[2020-02-10 19:33] chrissimpkins commented on #69017
@rustbot claim

[2020-02-10 19:55] shepmaster opened #69039 "Using a String as a generator resume argument causes a segfault"
I tried this code:

[code]

I expected to see see the output "Person is Mood", instead, I got a segfault:

[code]

`rustc +nightly-2020-02-10 --version --verbose`:

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-02-10 20:00] grenewode commented on #67983
I am also seeing this issue. For me, it happened after I did something like this:
1. Create a new library project with https://github.com/grenewode/replicate_67983/releases/tag/trait_foo
[code]
2. Build with `cargo build`
3. Refactor `Foo` to be a struct https://github.com/grenewode/replicate_67983/releases/tag/struct_foo
[code]
4. Build with `cargo build` gives this [build log](https://github.com

[2020-02-10 20:01] oconnor663 commented on #68905
Here's the output of `cargo-bisect-rustc`:

searched nightlies: from nightly-2020-01-02 to nightly-2020-02-10
regressed nightly: nightly-2020-02-06
searched commits: from https://github.com/rust-lang/rust/commit/c9290dceee2cb6b882b26ec6e294560e51ef0853 to https://github.com/rust-lang/rust/commit/58b834344fc7b9185e7a50db1ff24e5eb07dae5e
regressed commit: https://github.com/rust-lang/rust/commit/eda

[2020-02-10 20:05] grenewode commented on #67983
This was using ` rustc 1.41.0 (5e1a79984 2020-01-27) running on x86_64-unknown-linux-gnu`

[2020-02-10 20:08] grenewode commented on #67983
This does not occur when I am using `cargo +nightly build`

[2020-02-10 21:02] jonhoo commented on #56925
This would be really handy to have for getting code coverage for doctests. @QuietMisdreavus do you know what is left of the process to land this? Even in its current form it is very useful.

[2020-02-10 21:02] joshtriplett commented on #65447
@haraldh The former should be doable. The latter is a tradeoff that people will need to understand if they statically link glibc, and it's something they already have to deal with if they use `gcc -static`.

[2020-02-10 21:05] jonas-schievink commented on #69039
Heh, looks like my "fix" 392e59500a96be718383e127d38bf74300f521c0 for the miscompilation I found while implementing this wasn't actually sufficient.

Reduced to:

[code]

Looking at the MIR, you can see:

* The first `resume` leads to `bb1`, which stores the resume argument from `_2` in the generator state as `_arg` and advances to the next state (discriminant 3).
* On the next call it resumes at

[2020-02-10 21:05] eloraiby commented on #67983
@grenewode does it happen systematically when you do these steps on rust-stable ?

[2020-02-10 21:47] ecstatic-morse commented on #68957
@rust-highfive claim

[2020-02-10 22:30] thombles commented on #35968
Two years later I can answer this - for deploying to physical devices or creating Xcode archives an empty cmdline is fine, however for App Store submissions Apple performs validation of the clang command line. I’ve put a longer description in this PR, which includes a hacky patch to make it work: https://github.com/getditto/rust-bitcode/pull/7

I’d like to upstream this somehow but the options are

[2020-02-10 22:33] alexcrichton commented on #68887
Sorry I don't know of a great way to fix things, I know very little about MinGW myself.

[2020-02-10 22:41] Joey9801 commented on #54279
FWIW I found a `partition_dedup` method useful [just now](https://github.com/Joey9801/advent-of-code-2019/blob/master/day_10/src/main.rs#L157) when completing an advent-of-code problem, for stably rearranging of a slice like `[a, a, a, b, b, c, c, c]` into `[a, b, c, a, b, c, a, c]`. (I'm sure there's a word for that rearrangement, but can't think of it right now...)

I know it's not a significant

[2020-02-10 22:49] Lucretiel opened #69043 "Feature request: `swap_retain`"
I'd like to propose a version of `Vec::retain` that operates more efficiently because it doesn't try to preserve the ordering of retained elements, similar to `Vec::swap_remove`. Possible names would be `retain_unordered` or `swap_retain` (for parity with `swap_remove`). A simple implementation would look like this, though there may obviously be more efficient / optimizer-friendly versions:

[code

[2020-02-10 23:25] AaronKutch commented on #50133
Is this related with the problem I am having [refactoring the apint crate](https://github.com/Robbepop/apint/issues/41)? I am refactoring some code involving the invariant management type `BitWidth`. There are many functions I want to change their signature to use `TryInto<BitWidth, Error=CrateErrorType>`. When I update the signatures, is enables one ergonomic feature where I can directly input a

[2020-02-11 00:48] tmandry commented on #68794
That's probably the correct fix then, I'm just not 100% sure it will work on all targets . If it fails we should see it in CI, though.

[2020-02-11 01:01] Aaron1011 commented on #68950
This appears to have the same underlying cause as https://github.com/rust-lang/rust/issues/64552 (which @csmoe is working on in https://github.com/rust-lang/rust/pull/68362).

When you write `handler: Box<dyn FnOnce() + 'static>` (or `handler: Box<dyn FnOnce()>`, which desugars to the same thing), the AST lowering doesn't create a lifetime parameter in the created opaque type, since you don't need

[2020-02-11 02:00] #68890 closed

[2020-02-11 02:35] toop commented on #69013
![image](https://user-images.githubusercontent.com/1625023/74207350-35e43e00-4cba-11ea-8b61-8577fbe0b6cc.png)

[2020-02-11 02:40] memoryruins commented on #69013
The feature is not implemented yet :) the best way to stay updated on its progress is to subscribe to the tracking issue.

[2020-02-11 02:48] toop commented on #69013
OK! Thank U!!! Waiting for updates。

[2020-02-11 03:01] nagisa commented on #69043
Not obvious if it indeed would be more efficient. Will likely depend on how many elements are in fact being removed. For cases where `pred` is more often true than not, regular `retain` is likely to be more efficient (due to lower memory throughput and more cache locality).

[2020-02-11 05:08] #62976 closed

[2020-02-11 08:03] Disasm commented on #62779
It seems this issue is no longer present.
`rustc 1.41.0 (5e1a79984 2020-01-27)`

[2020-02-11 08:11] Disasm commented on #60113
Triage: on `rustc 1.41.0 (5e1a79984 2020-01-27)` the issue is still present.

[2020-02-11 09:12] RalfJung commented on #61821
Actually, I think this is not a warning in any meaningful way... trying to evaluate that promoted fails with a hard const-error and produces no result, because of the out-of-bounds access. I does not seem wise to me to *not* report such hard errors.

I am pretty sure the "reaching this expression at runtime" part is *not* from inside the promoted. That one gets raised by const-prop when partially

[2020-02-11 09:23] RalfJung commented on #61821
Also, in latest master a third warning crept in again:
[code]
The third error was added by https://github.com/rust-lang/rust/pull/67000

[2020-02-11 10:03] RalfJung commented on #61821
FWIW, this affects not just array indexing but also div-by-zero. At least the two are consistent. ;)

[2020-02-11 10:17] RReverser commented on #37504
This is a very old and long and it's been a while since I looked at details, but I'd like to point out that

it not entirely true, or at least, not any different from the situation in C / C++.

Aside from references, Rust also has mutable and immutable variables, parameters and so on, just like C / C++ does. So when one says that Rust doesn't have `mut i32` at the type level, same can be said abou

[2020-02-11 10:32] olegnn opened #69052 "Incorrect warning and `type annotations needed` error for types defined using raw identifiers"
This code

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a12ec17055cf3c08f4b6d59b31969dfc))

Gives incorrect warning and error for type declared using raw identifiers:

[code]

[2020-02-11 10:32] olegnn opened #69053 "Incorrect help message for type declared on struct using raw identifier"
This code
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=67fec620c3f519c8b8f8b13f209b0a1e))

Produces incorrect help message:

[code]

[2020-02-11 10:32] olegnn opened #69054 "Incorrect error for type already defined in scope using raw identifiers"
This code

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=73f56a1b4d4ac37801c60b8e8738242d))

Gives incorrect error for type declared using raw identifiers:

[code]

[2020-02-11 10:38] jonas-schievink commented on #69052
These seem correct to me, since `r#` is just an escape for keywords, not part of the actual name. Otherwise `#[no_mangle]` should also create a symbol called `r#something`.

[2020-02-11 10:38] Centril commented on #69052
The type checking error here is correct. You have a type parameter that is passed no argument so it gets an inference variable that is never solved.

As for the warning, can you elaborate on why it is incorrect? It seems like it is responding to the fact that the keyword is lower case, which is correct behavior. If you use `fn r<r#Fn>() {}` the warning goes away.

[2020-02-11 10:40] olegnn commented on #69052
@Centril issue isn't about incorrect type checking but about incorrect messages
[code]
and
[code]

[2020-02-11 10:40] olegnn commented on #69052
should be `r#fn` both

[2020-02-11 10:41] Centril commented on #69052
Oh I see; now I get what you're saying; it's a diagnostics issue, not a behavior issue. Yes, that seems right.

[2020-02-11 10:41] olegnn commented on #69052
I will change type parameter names to make them look more obvious.

[2020-02-11 10:45] Centril commented on #69053
Related: https://github.com/rust-lang/rust/issues/69052 and https://github.com/rust-lang/rust/issues/69054.

[2020-02-11 11:50] hanna-kruppe commented on #69028
Relevant discussion is unfortunately spread over many issues (e.g. https://github.com/rust-lang/unsafe-code-guidelines/issues/79, https://github.com/rust-lang/rust/issues/49298, https://github.com/rust-lang/rust/issues/58374, https://github.com/rust-lang/unsafe-code-guidelines/issues/216, and possibly more). I'll close this as a duplicate of #58374 to avoid even more fragmentation.

[2020-02-11 11:50] #69028 closed

[2020-02-11 11:51] hanna-kruppe commented on #58374
cc https://github.com/rust-lang/unsafe-code-guidelines/issues/79 and https://github.com/rust-lang/unsafe-code-guidelines/issues/216 which also contain relevant discussion.

[2020-02-11 12:04] eddyb commented on #61821
If we want to be clever we could only check promoteds that are still reachable after constant folding + `simplify_cfg`.
Because the `Assert` guarding the use of the erroring promoted would have become unconditional.

Actually, do we have an unconditional `Panic` terminator?

[2020-02-11 12:04] jumbatm commented on #69021
I'd like to take this.

@rustbot claim

[2020-02-11 12:05] matprec commented on #66643
I think this can closed now that https://github.com/rust-lang/rust/pull/66707 is merged.

[2020-02-11 12:34] #66643 closed

[2020-02-11 12:54] Mark-Simulacrum opened #69060 "non-deterministic syn-opt run"
https://perf.rust-lang.org/detailed-query.html?commit=e369f6b617bc5124ec5d02626dc1c821589e6eb3&base_commit=4d1241f5158ffd66730e094d8f199ed654ed52ae&benchmark=syn-opt&run_name=patched%20incremental:%20println

This perf run was expected to be a no-op, but appears to have resulted in slightly less queries being run (2 def_span and 2 metadata reads).

cc @eddyb

[2020-02-11 12:58] jonas-schievink commented on #69039
Hmm, on second thought, it seems weird that `_3` is not put in the generator state at all, I would expect the existing transform infrastructure to handle this. cc @Zoxc

[2020-02-11 13:01] eddyb commented on #69060
This may have been happening a lot, if anyone has the time, going through the history of `syn-opt` runs would be useful.

It's far noisier than it should be IMO, and non-determinism might play a significant role.

[2020-02-11 13:02] krnik commented on #69054
Isn't this error correct by any chance? You defined two generic parameters with conflicting names.

What is the expected error message in such cases?

[2020-02-11 13:33] zonyitoo opened #69061 "SocketAddr from UnixDatagram recv_from missing the last character (on OS X)"
I tried this code:

[code]

Send request with a Python test script:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

Missing the last character.

### Meta

`rustc --version --verbose`:
[code]

### Problem

On OS X, `sockaddr_un` is defined as

[code]

which has one more byte `sun_len` before `sun_path` than Linux's definition:

[code]

This issue also exists in Tok

[2020-02-11 13:50] sfackler commented on #69061
Wow, can't believe this made it 3.5 years without being noticed!

[2020-02-11 13:52] zonyitoo commented on #69061
And I think this problem also exists in FreeBSD: https://www.freebsd.org/cgi/man.cgi?query=unix&sektion=4&manpath=FreeBSD+6.0-RELEASE

[2020-02-11 13:56] michaelwoerister commented on #69019
My main reasoning is that debuginfo in the Rust compiler conceptually does not necessarily mean DWARF, so I would prefer a more generic naming scheme (even though I recognize that in practice things are basically modeled after LLVM which in turn uses DWARF-like concepts).

I don't have strong feelings on this. I just think that there is little that can go wrong when using a more generic naming sch

[2020-02-11 14:29] RalfJung commented on #69021
@jumbatm I have some plans to follow-up on https://github.com/rust-lang/rust/pull/68969 with some cleanup. That might at least partially resolve this issue here. So it's probably best to wait until after that is done.

[2020-02-11 16:27] hirschenberger commented on #68972
I'd like to fix this

@rustbot claim

[2020-02-11 16:32] deeprobin opened #69063 "Make a const fn from Vec::default()"
Why is Vec::new a const fn but Vec::default not?

[2020-02-11 16:35] jonas-schievink commented on #69063
`Vec::default` is a method of the `Default` trait. Const traits and trait bounds are currently being worked on.

[2020-02-11 16:35] #69063 closed

[2020-02-11 16:48] Areredify commented on #67510
We allow repeating bounds in impl blocks though, i.e. this is permitted currently
[code]

[2020-02-11 17:24] manuthambi opened #69064 "Lifetime elision doesn't work right with nested self receivers."
Seems like lifetime elision doesn't work quite right with nested self receivers. The error messages are also misleading. Of course this can be worked around by providing the annotation in the code

[code]

#64325

[2020-02-11 17:34] jyn514 opened #69066 "Iterating through an unbounded range causes a panic"
I tried this code:

[code]

I expected to see this happen: The numbers `2147483646` and `2147483647` should be printed, then the program should exit.

Instead, this happened: The standard library panicked.

Note that it might make sense to panic on overflow instead, but at least 2147483647 should printed first, since it's within the range of `i32`.

[Playground](https://play.rust-lang.org/?version

[2020-02-11 17:41] jyn514 commented on #69066
Note that the following code works as expected:

[code]

[2020-02-11 17:45] #67927 closed

[2020-02-11 17:51] DustinByfuglien opened #69067 "Confusing E0495 error explanation"
Consider example.
The error explanation is very confusing for me:
1. Its not obvious what is the problem and what I can do for solving it
2. There are confusing why Rust explains that '&&Foo' is both expected and found:
[code]

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=32ff6f1912ba199046ac323a7613fbc1))

Errors:

[code]

[2020-02-11 17:51] petrochenkov commented on #69053
I wonder whether cases like this need to be "fixed" at all.
There going to be an endless stream of these issues, basically every diagnostic that reports an arbitrary identifier.

I'm not sure whether https://github.com/rust-lang/rust/pull/68963 alone has the right cost/benefit ratio for merging, let alone changing this everywhere.

[2020-02-11 17:57] petrochenkov commented on #69053
Suggestion №1: Forget about raw identifier after the original tokens are lost (~lexing/parsing/expansion) and never report them.

Suggestion №2: Use an approximate identifier printing routine that may print edition-specific keywords inaccurately, but at least doesn't require keeping precise spans.
Note that even https://github.com/rust-lang/rust/pull/68963 doesn't do edition hygiene correctly, bec

[2020-02-11 18:07] tmandry commented on #68604
Marking as triaged. This issue would benefit from a more minimized example.

[2020-02-11 18:09] Zoxc commented on #69039
Looking at the MIR generated for @jonas-schievink's reduced test case we can see that the writes that should have been to `name1` is instead done to the generator `_1`:

[code]

So this seems to be a problem in MIR construction.

[2020-02-11 18:10] Nokel81 commented on #68604
I try and get a smaller one tomorrow.

[2020-02-11 18:14] nikomatsakis commented on #68197
Some observations:

* There is no `BoxFuture` struct, it's a type-alias
* We could suggest invoking `boxed()` *but* that is a method defined only in the futures crate, which feels a bit awkward to me; I'd rather it were part of libstd
* We *can* suggest `Box::pin(async { .. })` as well ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4e86316d17ad6d277cf9b3c5557

[2020-02-11 18:17] tmandry commented on #68197
marking as OnDeck, since BoxFuture gets used quite often

[2020-02-11 18:33] nikomatsakis opened #69069 "arbitrary self types causes unexpected error messages"
This example:

[code]
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=83f8fd48766d3bcd61212a70b6db86df)

gives the error

[code]

rather than an error because the `Test` trait is not implemented.

This is presumably just a case where improved diagnostics would be good. The [inherent `is_some` method](https://doc.rust-lang.org/std/option/enum.Option.html#m

[2020-02-11 18:48] eddyb commented on #58320
What if... we actually called the function?! And there was a `Formatter` field that the `fmt::Display` impl for `usize` would fill in if a flag was set, and return without printing anything?

[2020-02-11 18:58] eddyb commented on #69019
Having added a couple more debuginfo abstractions in in #68965, I think I'm starting to agree more: we can expose few types, which happen to be semantically very distinct (type/scope/variable/location), and leave most of the naming choice to their constructors (e.g. `dbg_scope_fn` instead of `dw_subprogram`).

And I guess that bare minimal support (`-C debuginfo=1`, just mapping from code ranges t

[2020-02-11 19:05] Nemo157 opened #69071 "rustdoc --check-theme doesn't work with minified theme"
In any crate running `cargo doc && rustdoc --check-theme target/doc/light.css` will emit a bunch of errors. If you take the css file and run it through something like `prettier` to get it to an unminified state then `--check-theme` will work fine.

Testing some manual minification of it one thing it appears to not like is `,` without a trailing space. Joining the `h1, h2,` lines into `h1,h2,` give

[2020-02-11 19:16] tmandry commented on #57478
The way I read the issue, it is about tracking drops more precisely. (What issues duplicate this?)

We should open a separate issue to track improving the error message.

[2020-02-11 19:19] gilescope commented on #65419
@tmandry we can close this one - @ninjasource has fixed this.

[2020-02-11 19:30] #65419 closed

[2020-02-11 19:43] Lucretiel commented on #69043
Even in this case, you still have O(N) copies, vs O(MN) right? If you do a regular `retain` call you're still copying the whole tail of the vector every time you need to drop one of the elements.

[2020-02-11 19:55] incidental-complexity opened #69073 "Clarify "cannot find macro `X` in this scope""
I always forget that program order matters for macro definitions.  In the [example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0e2900e51a17037b753c2c451e12146b), I get the error:

[code]

And inevitably I spend a long time trying to debug it when I eventually remember that for `macro_use`, program order matters.  If the compiler error message provided a hint like "macr

[2020-02-11 20:05] nagisa commented on #69043
Algorithmically you are not required to copy the whole tail every time. As you know that the resulting list will be no larger than the initial one, the algorithm can keep 2 pointers: a write head and the read head & just copy from read head to write head as it iterates through the list.

[2020-02-11 20:13] Lucretiel commented on #69043
Ah, yes, I see your point. So you're trading an O(drops) vs O(tail), where the latter does benefit from cache locality.

[2020-02-11 20:23] RReverser commented on #68560
Ping @alexcrichton @fitzgen?

[2020-02-11 20:30] eddyb opened #69074 "-Cdebuginfo=1 wastefully produces full type descriptions."
This example makes `-Cdebuginfo=1` emit the variant (see [`godbolt` output](https://godbolt.org/z/4YCBzk)):
[code]
Its resulting LLVM IR shows all of these DebugInfo metadata nodes:
[code]

But at `-Cdebuginfo=1`, this is really what we want to see:
[code]

If this doesn't work we can always just use `DINamespace` instead.

<hr/>

IIUC, this specific example is caused from the way we handle inhere

[2020-02-11 20:48] #31701 closed

[2020-02-11 20:48] #66097 closed

[2020-02-11 21:27] LeSeulArtichaut commented on #68697
@rustbot release-assignment

[2020-02-11 22:04] Mark-Simulacrum commented on #58320
That would increase `Formatter` size (though it's only ever on the stack), so doesn't matter in practice that much. I would personally prefer not to go with the stashed approach.

We could switch the `&'a Void` reference to be `*const Void` and use the value of the pointer instead of reading the usize out from behind that reference.

An alternative is to embed the usize (only used for the count of

[2020-02-11 22:14] eddyb commented on #69074
More examples (using `enum Foo` from above):
* `DIGlobalVariable`s from `static`s (see [`godbolt` output](https://godbolt.org/z/ZdjFsb)):
[code]
* `DIGlobalVariable`s from vtables (see [`godbolt` output](https://godbolt.org/z/_vPJy-)):
[code]

However, `clang` generates no debuginfo for this at `-g1` (see [`godbolt` output](https://godbolt.org/z/DXfdJ5)):
[code]

I think we should follow `clang -g

[2020-02-11 22:22] eddyb commented on #58320
I think that's true though, which is why I went with the `show_usize` hack.

[2020-02-11 23:00] Mark-Simulacrum commented on #58320
What's true? That it cannot be the same argument? show_usize implies that it can't, in which case we can do the change that I suggested (simplifying the runtime logic, too).

[2020-02-11 23:05] petrochenkov opened #69078 "LLVM: rustllvm produces unsilenceable warnings on new versions of GCC (9.2.0)"
... which are pretty annoying.
It probably wouldn't be a problem if Cargo didn't cache the warnings and didn't display them on every build, even if `rustllvm` isn't actually built.

Example of the warnings:
[code]

This is fixed in LLVM upstream (https://github.com/llvm/llvm-project/commit/6c2151bf4c829958891e65a4cc396daa6d308eb0), so that commit can be cherry-picked into our LLVM fork.

The commi

[2020-02-11 23:12] Mark-Simulacrum commented on #69078
We might want to hide the LLVM/rustllvm build log from users -- similar to how Cargo hides upstream, non-local, path deps. We'd probably want to stick this behind an option or something like that for those who are compiling LLVM after changing it locally.

[2020-02-11 23:21] eddyb commented on #58320
@Mark-Simulacrum Sorry, no, I mean that the `usize` argument *can* also be used for as a regular argument, which is why `show_usize`'s body is `Display::fmt(x, f)`.

[2020-02-11 23:22] Mark-Simulacrum commented on #58320
Hm, but if you use it for a non-Debug/Display argument (e.g., LowerHex) then you're going to do the wrong thing? So we can't just have one show_usize.... unless we only deduplicate if it's specifically Display/Debug (equivalent for usize)....?

[2020-02-11 23:26] eddyb commented on #58320
I have *no idea* how this works, but this:
[code]
prints:
[code]

[2020-02-11 23:32] Mark-Simulacrum commented on #58320
That expands to, which has a dedicated from_usize field for the same argument. Seems like we generate a separate arg for it...

[code]

The non-LowerHex code also expands to pretty much the same thing, so looks like we don't even deduplicate:

[code]

[2020-02-11 23:42] estebank commented on #69069
This shouldn't be marked as `[requires-nightly]` because the same problem happens with `Pin`, which _is_ stable.

[2020-02-11 23:44] Mark-Simulacrum commented on #58320
The hard part in changing this is that whereas before we could refer to arg0 twice, since both were within the match and it was guaranteed to be a reference, it'll be more painful to do so now -- in particular, we can only evaluate the expression once still (it could have side effects) so we would need a more complicated desugaring if we want to drop `fmt::rt::v1::Count::Param` in favor of always

[2020-02-11 23:44] steveklabnik commented on #47966
Triage: two years later, I think we should close this. Maybe it can be done someday, as @scottmcm points out, but it's unclear when that, if ever, will happen.

[2020-02-11 23:44] #47966 closed

[2020-02-11 23:49] Mark-Simulacrum commented on #58320
[code]

I think this desugaring should work though. It preserves the evaluation order and keeps everything consistent from the perspective of the "real" arguments, I believe.

[2020-02-11 23:56] #68206 closed

[2020-02-11 23:56] #68303 closed

[2020-02-12 00:48] eddyb commented on #58320
@Mark-Simulacrum The problem with that is that the `&[core::fmt::rt::v1::Argument]` is really a `&'static [_]` from promotion (and used to be an explicit `static`), IIUC, so now you'd have a lot of stuff on the stack instead.

[2020-02-12 00:52] Mark-Simulacrum commented on #58320
Hm, interesting. We could have a separate (third) array for just the counts, I guess, and store them as `&[usize]` directly...

[2020-02-12 01:09] eddyb commented on #58320
I mean, I did consider that, but do you want to take the hit of 16 extra bytes on the stack even when not needed?

*However*, if we do that thing we've talked about, where the `fn` pointers are in `'static'` memory while the references to the runtime data are separate, we would have to wrap accesses to the runtime data instead of having a safe `&[fmt::ArgumentV1]`, so the runtime data *could* be a

[2020-02-12 01:13] estebank commented on #68197
I have a PR that suggests the right code for this:

<img width="1269" alt="Screen Shot 2020-02-11 at 5 09 37 PM" src="https://user-images.githubusercontent.com/1606434/74293975-5380ca00-4cf1-11ea-8f2f-76310d5204a1.png">

But if first you try `Box::new`:

<img width="1271" alt="Screen Shot 2020-02-11 at 5 10 12 PM" src="https://user-images.githubusercontent.com/1606434/74294099-bd996f00-4cf1-11ea-9

[2020-02-12 01:25] AaronKutch commented on #64715
Will this fix the problem I am having [refactoring the apint crate](https://github.com/Robbepop/apint/issues/41)? I am refactoring some code involving the invariant management type `BitWidth`. There are many function arguments whose signature I want to change to `TryInto<BitWidth, Error=CrateErrorType>`. When I update the signatures, is enables one ergonomic feature where I can directly input a li

[2020-02-12 01:28] estebank opened #69083 "Detect cases where `Box::pin` was likely intended"
When `BoxFuture` is expected and we supply `Pin::new(async { /* .. */ })`, `Box::new(async { /* .. */ })` or `Pin::new(Box::new(async { /* .. */ }))` we should lead the user in the right direction instead of what we do now:

[code]
[code]
[code]

For the second case we could suggest `Box::into_pin` once https://github.com/rust-lang/rust/issues/62370 stabilizes. The other two cases can be handled w

[2020-02-12 01:29] estebank commented on #68197
Filed https://github.com/rust-lang/rust/issues/69083 for the uncovered cases.

[2020-02-12 02:51] sfackler commented on #69061
I can reproduce this, but weirdly *not* when sending from Rust code, just Python.

[2020-02-12 03:01] oOBoomberOo commented on #69025
I typically look for Struct and Trait much more than a function itself since I sometime forgot some implementation inside that struct.

[2020-02-12 03:14] tmandry commented on #61949
I did some investigating, leaving notes here.

The reason the example [above](https://github.com/rust-lang/rust/issues/61949#issuecomment-551179083) does not emit the new error message is because the compile fails during type _collection_ and never makes it to type _checking_. This is a bug fixed by https://github.com/rust-lang/rust/pull/68884.

With the above patch applied, we now get the new err

[2020-02-12 03:19] sfackler commented on #69061
The problem appears to be that Python sets the socklen_t to just the size up to the last byte of the addr not including the null terminator, and that number gets sent to recvfrom on OSX. I guess we should check if the last byte is a null before ignoring it.

[2020-02-12 03:28] zonyitoo commented on #69061
Hmm, so it is Python's problem? Because in C, `socklen_t` in `sendto` can be calculated by `SUN_LEN` macro.

[2020-02-12 03:35] zonyitoo commented on #69061
Test with C client:

[code]

And Rust server output:

[code]

[2020-02-12 03:37] zonyitoo commented on #69061
[code]

Could be replaced by

[code]

or

[code]

They work the same.

[2020-02-12 05:24] timvermeulen commented on #69066
The `RangeFrom` docs specify that it will currently panic in debug mode, and that this behavior is subject to change.

I'm not sure how intentional it is that the last value is left out, but given that `RangeFrom` only has a `start` field, it can't currently represent the state of just having returned the maximum value from `next`.

[2020-02-12 06:21] tmandry commented on #68916
@Xanewok friendly ping!

[2020-02-12 08:44] michaelwoerister commented on #69074
I think this is a recent regression. Do we know when it was introduced?

A few months ago when I filed https://github.com/rust-lang/rust/issues/64405, this wasn't the case yet.

[2020-02-12 09:33] ling-zhou opened #69087 "Naming Consistency"
We know **Vector** is abbreviated to **Vec**, why isn't **String** abbreviated to **Str**?

About **Reference Counting**, there are **Rc**, **Arc**, and **Weak**, maybe **Wrc** is a better name for **Weak**.

[2020-02-12 09:43] shadiakiki1986 commented on #54361
For future-comers, upgrading to `rustc>=1.38` fixes this

[2020-02-12 09:49] jonas-schievink commented on #69087
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-02-12 09:49] #69087 closed

[2020-02-12 10:10] #68901 closed

[2020-02-12 10:33] eddyb commented on #69074
Ah, weird, it looked like it's been like this forever, thankfully godbolt has all stable version.

In that issue you suggest we should not even be emitting `DISubprogram`, will that still let inlined calls show up on the backtrace? I guess I can cause an ICE on purpose to find out.

It would be good to remove even more than #69080 does right now, because then we might stand a chance to ship debugi

[2020-02-12 10:42] olegnn commented on #69053
@petrochenkov I didn't get a problem - why we can't format all identifiers according to the edition used by current project? It's the only thing which matters, we don't need to know from and how we got this identifier. Even if we import something from, let's say old `hyper` with `edition=2015`, which had `async` module, if we're using `edition=2018`, we should format it `r#async`, and if we're usi

[2020-02-12 11:10] emilio commented on #68867
Yeah, other workarounds for this include https://github.com/servo/servo/commit/8870ae7c9723cf9402c22ba4c75e5406b718ca35 and https://github.com/servo/servo/commit/cfa8aee76821925514d75d8236ee96b42b531159.

[2020-02-12 11:18] boris-kolpackov commented on #38338
I would also like to see this stabilized. My use-case is support for Rust in a build system (`build2`) where I need to know the compiler's target. AFAIK, this option is the only way to obtain this information (but please correct me if I am wrong).

Could we perhaps stabilize the output as "subject to change" in a sense that new values can be added and existing values removed only guaranteeing that

[2020-02-12 12:05] daxpedda opened #69090 "Nightly regression with -Z build-std for wasm32-unknown-unknown"
[code]

<details><summary>Gives this error:</summary>

[code]

</details>

I have narrowed it down to this:
`nightly-2019-12-21`: works
`nightly-2019-12-22`: doesn't work anymore
`nightly-2020-02-12` (current): still doesn't work

It does work with `#![no_std]` though.
Other target I tried that worked: `x86_64-pc-windows-msvc`.
Should I report this here: https://github.com/rust-lang/wg-cargo-std-a

[2020-02-12 12:07] axos88 opened #69091 "[DOC] async-await"
The rust 2018 migration guide promises to be updated once async-await is shipped, but it was not.

https://doc.rust-lang.org/edition-guide/rust-2018/control-flow/async-await-for-easier-concurrency.html

[2020-02-12 12:11] JohnTitor commented on #69091
You should file it in [edition-guide repo](https://github.com/rust-lang/edition-guide/issues), not here.

[2020-02-12 12:11] #69091 closed

[2020-02-12 12:34] jumbatm commented on #61132
@Manishearth @yaahc Did you end up / are you still intending on working on this? It's unassigned and I'd like to take this one, but I just want to make sure I'm not treading on any toes, first.

[2020-02-12 12:35] andrewreds opened #69092 "Rustc crashes with nul byte inside inline assembly"
### Code

#### Fails
[code]

#### Works
[code]

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This issue has been assigned to @euclio via [this comment](https://github.com/rust-lang/rust/issues/69092#issuecomment-585277602).

[2020-02-12 12:44] deeprobin opened #69093 "Compiler Optimization: Bitfields"
# Combine multiple bools to one byte

A [bool](https://doc.rust-lang.org/reference/types/boolean.html) uses one byte of memory.  Why not combine several booleans?  Assuming false is 0 and true 1, you could use the other bits anyway. This is called a [bitfield](https://en.wikipedia.org/wiki/Bit_field).

## Currently, bools are represented like this:
`0 = true`
`1 = false`

## I have tried out how s

[2020-02-12 12:49] jonas-schievink commented on #69093
This would make it impossible to take a reference to a `bool` field. If you want a bitfield, use the `bitflags` crate.

[2020-02-12 12:49] #69093 closed

[2020-02-12 12:55] vi commented on #58374
Maybe it can be opt-in for structs?

[code]

[2020-02-12 12:56] jethrogb commented on #44685
I think the relevant issue is https://github.com/rust-lang/rust/issues/63063

[2020-02-12 12:57] bjorn3 commented on #69074
Inlined calls are determined from `DW_TAG_inlined_subroutine` inside the respective `DW_TAG_subroutine` I believe.

[2020-02-12 12:58] bjorn3 commented on #69074
That would reduce the quality of ICE backtraces reported by the average user.

[2020-02-12 13:36] bjorn3 commented on #64191
The rustc part of this has been merged. This is waiting on cargo support now.

[2020-02-12 14:11] eddyb commented on #69074
Right now we have no debuginfo *at all* AFAIK, but if there was an optional component we could tell people to install it. Or maybe we could take the backtrace they report, and the version, and generate the full backtrace ourselves using the right debuginfo (since all you need is addresses, right?).

[2020-02-12 14:14] lszxb opened #69096 "Rustc overflow its stack when using impl Trait and the struct containing the function itself"
I tried this code:

[code]
Then I got `thread 'rustc' has overflowed its stack`.

### Meta

`rustc --version --verbose`:
[code]

[2020-02-12 14:25] bjorn3 commented on #69074
Forgot that :)

And ASLR bias I think.

It would be nice if a bot could do it.

[2020-02-12 14:58] alexclooze commented on #59003
This also applies in connection with [47133](https://github.com/rust-lang/rust/issues/47133):

[code]

I get warnings about ```struct is never constructed``` and ```associated const is never used``` although they are clearly used multiple times in my code.

But maybe I'm doing something wrong here or getting it wrong as a concept in my head; if so, I'm glad for some pointers and hints :-)

[2020-02-12 15:11] aidanhs commented on #68671
- e.g. see https://dev.azure.com/rust-lang/rust/_build/results?buildId=20796&view=results
 - no precise timeline known

[2020-02-12 15:34] nikomatsakis opened #69098 "Tracking issue for target_feature 1.1 RFC"
This is a tracking issue for the RFC "target_feature 1.1" (rust-lang/rfcs#2396).

## People

*Last updated in Feb 2020:*

* Shepherd: @gnzlbg (person who can help answer tricky questions that arise during implementation)
* Lang team liaison: @joshtriplett (main point of contact from lang team)

## Step

- [ ] Implement the RFC
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide

[2020-02-12 15:46] pnkfelix commented on #66768
@WildCryptoFox the discussion you linked talks about the problem going *away* between nightlies for 2019-11-15 and 2019-11-16. to my eye, that is not an example of this code having worked in the past, but rather makes it an example of an intermittent failure...

(I know at that point it may be in the eye of the beholder...)

[2020-02-12 15:49] Globidev commented on #67623
Is `'a` actually unconstrained ? If we follow the same logic as type parameters then it should be, but that currently compiles fine without any uncosntrained error:
[code]

[2020-02-12 15:50] HeroicKatora opened #69099 "Tracking Issue for `std::cell::{Ref, RefMut}::leak`"
#68712 adds methods to convert `RefCell` guards `Ref`/`RefMut` into references with the lifetime of the underlying cell.

The feature gate for the issue is `#![feature(cell_leak)]`.

### Unresolved Questions

- [ ] Should similar methods be provided for `MutexGuard` and  `RwLockReadGuard`/`RwLockWriteGuard`?
- [ ] Should `unsafe` methods be added to forcefully revert a leak?

[2020-02-12 15:58] Manishearth commented on #61132
Go for it, I want to eventually work on this but if someone else gets there first that's fine

[2020-02-12 16:00] ehuss commented on #69090
It is most helpful if `build-std` bugs are reported at https://github.com/rust-lang/wg-cargo-std-aware or https://github.com/rust-lang/cargo/issues/.

The issue here is that it currently does not know which panic strategy each platform requires, and assumes "unwind".  wasm32 needs the "abort" strategy, which requires the `panic_abort` crate.  You can run with `-Zbuild-std=panic_abort,std`.

This i

[2020-02-12 16:02] euclio commented on #69092
I'd like to work on this.

@rustbot claim

[2020-02-12 16:05] ofek commented on #12393
Has there been any progress on this (RFC)?

[2020-02-12 16:05] jonas-schievink commented on #69090
Closing in favor of rust-lang/wg-cargo-std-aware#29 then

[2020-02-12 16:05] #69090 closed

[2020-02-12 16:06] daxpedda commented on #69090
I just confirmed it, thanks!

[2020-02-12 16:15] oconnor663 commented on #68905
A quick search through https://github.com/search?q=is_x86_feature_detected%21%28%22avx512f%22%29&type=Code turns up at least one other crate that fails to build on nightly for this reason:

[code]

[2020-02-12 17:34] lzutao commented on #69096
Infinite loops I think:
[code]

[2020-02-12 17:53] Zoxc commented on #62649
The problem seems to be that `as_local_hir_id` called from `type_of` is untracked and reveals the `HirId` without adding a dependency. When `Something::foo` is changed from a method to a field, this `HirId` will change without causing `type_of` to be re-executed.

https://github.com/rust-lang/rust/pull/68289 just added a workaround for this, but doesn't really fix the issue.

[2020-02-12 18:09] alexcrichton commented on #68560
I would personally prefer to ensure that wasi-libc for C stays in sync with Rust's libstd, so I think that this is probably best a question for the wasi group as opposed to Rust's libstd specifically.

[2020-02-12 18:20] Matthias247 opened #69101 "Bounds check optimizations are not applied if the accessed slice len is smaller than the upfront checked slice len"
When using a loop and checking exact bounds upfront, vectorized instructions are used:

[code]
[Godbolt](https://godbolt.org/z/MVajmQ)

However when the upfront checks actually tests for a bigger slice size, the same optimizations are not applied:

[code]
[Godbolt](https://godbolt.org/z/CkwKK4)

Since slices of size 2048 are always also at least of size 1024, I would expect the generated code to b

[2020-02-12 18:40] Zoxc commented on #62649
I see 3 ways we can fix this:
- use a query for `as_local_hir_id` to track the dependency
- encode the `HirId` into `DefPathData` so `type_of` receives this information as an argument instead of discovering it through `as_local_hir_id`
- make sure there's a 1:1 correspondence from `DefIndex` to HIR owners (`HirId`'s with `0` as the local item)

[2020-02-12 18:49] ollie27 commented on #69066
Duplicate of #25708

[2020-02-12 18:49] #69066 closed

[2020-02-12 18:51] sdroege opened #69102 "Nightly 2020-02-12 causes segmentation fault in glib testsuite"
`cargo rustc-bisect` blames https://github.com/rust-lang/rust/commit/fc23a81831d5b41510d3261c20c34dd8d32f0f31 from https://github.com/rust-lang/rust/pull/68491 (CC @pnkfelix)

Running `cargo test -- subclass::object::test::test_create` in the [glib](https://github.com/gtk-rs/glib/) bindings crate is enough to reproduce it.

I'll look in more detail later / in the next days, just wanted to get this

[2020-02-12 18:54] memoryruins opened #69103 "ICE: multiple @ bindings of slice patterns, e.g. `[a @ .., b @ ..]`"
### Code

[code]
The ICE only occurs when `b` is used.
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=aad2bcd9ab6d0ab65559d6e139d6bfb7)

### Meta
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>