[2016-04-24 20:40] jooert commented on #15735
Triage: A regression test has been added in #31527; can be closed now.

[2016-04-24 20:53] CasualX commented on #31190
I've just bumped into this function and I'd like to add a consideration:

In C/C++ it happens that you get a fixed size buffer eg `char strbuf[128];` which may be filled up to the brim with characters or ended earlier with a nul terminator. You'd manipulate these buffers with the [`strn*`](http://www.cplusplus.com/reference/cstring/) functions.

These days it is not encouraged to do this, but ther

[2016-04-24 20:59] oconnor663 opened #33183 "Command::env()/env_remove() freeze the parent's environment"
An example:

[code]

This program will run `echo $foo`, which prints an empty line because `$foo` is not defined in the child. But if we delete the line that sets `$UNRELATED_VARIABLE` and run again, we see `FOO IS DEFINED!!!` in the child's output.

The problem is that (at least in the unix implementation) the [`init_env_map` function](https://github.com/rust-lang/rust/blob/91aea5cf87953788477cca

[2016-04-24 21:15] jooert commented on #18651
Triage: As I understand this, the original error has been fixed and so this can be closed, right?

[2016-04-24 21:38] arcnmx commented on #31190
@CasualX what you describe is not really a C string if it is not null terminted, and should not be used as one. Rust's `CStr` type is essentially "a collection of (non-zero) bytes terminated by a zero byte" and not keeping to that rule results in memory unsafety. A `[u8]` or `[c_char]` seems more appropriate for your case, with perhaps a helper function that will construct the smaller slice if it

[2016-04-24 21:55] SimonSapin commented on #31190
@CasualX What you describe sounds like a different abstraction from `CStr` (which is "nul-terminated with no interior nul"). I’d recommend defining a separate struct to build your own abstraction. `CStr` like the rest of the standard library is written in Rust, you can see it here:

https://github.com/rust-lang/rust/blob/master/src/libstd/ffi/c_str.rs

[2016-04-24 21:56] SimonSapin commented on #27739
@bluss I disagree. IMO the common case is summing primitive numeric types. `std` doesn’t need to block on having a fully generic numeric hierarchy to provide that.

[2016-04-24 21:59] Manishearth opened #33185 "ICE: unprintable span"
[code]

gives:

[code]

(no backtrace)

[2016-04-24 23:14] #14109 closed

[2016-04-24 23:15] Manishearth commented on #31645
It landed

[2016-04-25 00:08] CasualX commented on #31190
@SimonSapin

Ah I interpreted Rust's `CStr` as 'be compatible with how C treats strings', but its scope is restricted to just 'nul terminated char arrays'.

I came here because in reading some file formats there's quite a lot of 'fixed length char buffers containing a maybe nul terminated C string' for which I was looking how to easily deal with. A simple scan for nul byte should do the trick, tha

[2016-04-25 00:29] jseyfried opened #33186 "resolve: nonsensical diagnostics for an expression that resolves to a module"
This code:
[code]
produces these diagnostics:
[code]
The suggestion doesn't make sense -- we should instead emit something like "modules are not valid expressions".

[2016-04-25 00:55] eefriedman opened #33187 "ICE in specialization_graph with bound on associated type"
[code]

[code]

[2016-04-25 01:38] paulstansifer commented on #31833
I hit this bug (or a similar one), also, and was able to minimize it pretty far:

[code]

Removing either of the arms of the enum or the `#[derive(Clone)]` fixes the problem. `-Z time_passes` confirms that it is the typechecker that is taking forever.

[2016-04-25 01:44] dustinlapierre commented on #32208
I'm a beginner looking for a good entry level issue to work on and this one caught my eye. What kind of details are needed in the documentation surrounding this issue?

[2016-04-25 02:55] jseyfried opened #33188 "diagnostics: incorrect, redundant "expected/found" parse error"
Compiling the following:

[code]

produces:

[code]

[2016-04-25 03:01] jseyfried commented on #33188
This is not a regression (it is currently an issue on stable).

[2016-04-25 03:50] johnSerrano commented on #32955
Why don't we simply make the code compile? Here is one such version:

    fn main() {
        struct FooVtable {
            destructor: fn(*mut ()),
            size: usize,
            align: usize,
            method: fn(*const ()) -> String,
        }

        // u8:

        fn call_method_on_u8(x: *const ()) -> String {
            // the compiler guarantees that this function is only called

[2016-04-25 04:16] petevine commented on #30688
Adding `-C link-args=-fPIC` to `RUSTFLAGS` is enough to fix the issue. Strange that it still persists though.

[2016-04-25 04:16] #30688 closed

[2016-04-25 04:40] tromey opened #33192 "DWARF regression with `impl` on nightly"
I have a function in an `impl` like:

[code]

With nightly, I get DWARF like this:

[code]

There are a few problems with this.

First, the namespace `{{impl}}` does not seem very useful.  In 1.8 the namespace was named `HasMethods`, after the struct -- this made it quite easy for gdb to find methods associated with a type.

Second, the `{{impl}}` in the linkage_name also seems peculiar.  This is

[2016-04-25 04:43] tromey opened #33193 "extra namespace in DWARF on nightly"
There is a test in our gdb work that has a unit-like struct:

[code]

This is in a crate named `simple`.

In 1.8 this ended up as a struct `Unit` in a namespace `simple`; so in gdb `print` could easily display `simple::Unit`, as that was the name of the type.

In nightly there is an extra namespace:

[code]

... so now the type is named `simple::Unit::Unit`.

I think the 1.8 behavior was preferabl

[2016-04-25 04:43] jseyfried commented on #33118
Related question -- should this compile? (currently, it doesn't)
[code]

Since the type parameter `E` is above the function item `g` in the scope hierarchy (unlike `f`'s locals), we might want to consider `E` to be in the scope of `g`'s body.

Of course, since we can't use the type parameter from `g`'s body, we also might want to consider it to be not in scope. I don't have a strong opinion either

[2016-04-25 04:52] alexcrichton commented on #33183
cc https://github.com/rust-lang/rust/issues/28975, a similar issue

[2016-04-25 05:38] sanxiyn commented on #33192
Yes, this is intentional, and was done in #32293.

As I understand, the PR added a new (hopefully much better) name generation scheme to rustc, and migrated symbol name generation to the new scheme. Debug name generation still uses the old scheme and needs to be migrated.

[2016-04-25 05:50] tikue commented on #22250
@Amanieu just hit the same issue.

[2016-04-25 07:01] rillian commented on #31471
Thanks for the links. I still don't see a way to make this work though. `/DEFAULTLIB` is an option to `LINK` which make executables and dlls, and isn't accepted by `LIB`, the command for creating static libraries.

I think the `/Zl` option is about the run-time library. Maybe it's possible to abuse that for transitive dependencies in object files if it's possible to have more than one? I set up a

[2016-04-25 07:18] retep998 commented on #31471
Really it's just a matter of seeing whether LLVM can do it, since LLVM is what creates our object files, and is also what creates static libraries for us (Rust doesn't use `LIB`).

[2016-04-25 08:00] mitaa commented on #31833
Seems to be fixed on beta, and nightly.

[2016-04-25 08:37] pravic opened #33195 "UdpSocket::set_nonblocking() documented as TcpStream"
http://doc.rust-lang.org/nightly/std/net/struct.UdpSocket.html#method.set_nonblocking

Since 1.9.0

[2016-04-25 08:44] petrochenkov commented on #33188
The first one is correct, `()` can be followed by a next field (`struct S(pub (), u8);`) or operand of type sum (`struct S(pub () + Send);`).
The second one looks like it may be caused by some recent efforts on error recovery in parser, but I'm not sure.

[2016-04-25 09:03] LukasKalbertodt commented on #29451
Seems to be fixed in beta `1.9` and nightly `1.10` :)

[code]

[2016-04-25 09:04] #29451 closed

[2016-04-25 11:14] ruud-v-a commented on #32947
Tests are usually added after the fix to prevent regressing, but I wouldn’t know where to start in order to fix this.

[2016-04-25 12:13] dotdash commented on #32947
LLVM generates a `movaps` instruction which assumes that the value aligned on a 16 byte boundary. This happens because we're calling the memcpy intrinsic specifying a 32 byte alignment. But, the stack slot gets no alignment set, so it gets the default 8 byte alignment and we end up with a misaligned read.

[2016-04-25 12:35] potocpav opened #33197 "Segfault on Nightly in BTreeSet and BTreeMap"
An iterator created by `BTreeMap::range`, `BTreeMap::range_mut` and `BTreeSet::range` can wander off of the underlying data and segfault. It is caused by supplying an upper bound that is lower than the lower bound and there is an element between them.

Code to reproduce: http://is.gd/HoNWLH

tested also locally on `rustc 1.10.0-nightly (b5ba5923f 2016-04-21)`.

The iterator ends when the iterated

[2016-04-25 12:57] Ryman commented on #24745
This error now provides a link to a detailed explanation of [E0117](https://doc.rust-lang.org/error-index.html#E0117) so this issue might be considered fixed?

[2016-04-25 13:17] oconnor663 commented on #33183
Definitely a dupe. I'll close this one.

[2016-04-25 13:17] #33183 closed

[2016-04-25 14:40] pravic commented on #31367
You can use stable as well, I guess:

[code]

[2016-04-25 16:14] julienw opened #33201 "error: the trait `core::marker::Sized` is not implemented for the type `std::error::Error + Sized + 'static`"
The error is not easy to understand for this code:

[code]

(it's also in https://play.rust-lang.org/?gist=3d607f7ee08c09aa7eed9720712ee129&version=stable&backtrace=0)

If I understand properly, the issue is that I should have something like this instead:
[code]
But the error is very misleading.

[2016-04-25 16:23] alexcrichton commented on #33165
Could you perhaps try to get stack traces for when jemalloc starts deteting violations?

[2016-04-25 16:25] #15735 closed

[2016-04-25 17:13] julienw commented on #33201
Full error message:
[code]

[2016-04-25 17:16] julienw commented on #33201
So actually the error is that I have a Trait object that's not behind a pointer (Box or ref). As a result it's not sized even though I use `+ Sized`. Maybe the error message could explain better why it doesn't have a constant size known at compile-time. (damned, every word is important :) )

[2016-04-25 17:41] TimNN commented on #25692
This seems to have been fixed on stable: http://is.gd/P0QUd6

[2016-04-25 17:43] #31997 closed

[2016-04-25 17:48] pravic opened #33202 "ICE with C generic enum"
http://is.gd/DOkUCJ Playground with backtrace

[code]

Versions affected: stable, beta, nightly.

[2016-04-25 18:03] alexcrichton commented on #31833
Yay!

[2016-04-25 18:03] #31833 closed

[2016-04-25 18:09] alexcrichton commented on #27787
cc https://github.com/rust-lang/rust/issues/33197, a case where the APIs currently segfault apparently

[2016-04-25 20:02] CasualX commented on #31190
If a name is what you want, I suggest `NulErr` ;)

[2016-04-25 20:30] tbelaire commented on #33065
Ahg, this might be hard to reproduce.  I just tried it on a different linux box and the minimal example wasn't failing anymore, but the main rot13 branch still was.  This is with nightly 04-10, 04-20, 04-25 all showing that behaviour on my digital ocean droplet.

Does the minimal example compile on other people's machines?

[2016-04-25 20:31] alexcrichton commented on #25692
Yay!

[2016-04-25 20:31] #25692 closed

[2016-04-25 20:40] apasel422 commented on #33197
CC @jooert, @gereeter.

[2016-04-25 21:05] brson opened #33205 "WebAssembly backend for rustc"
With the new MIR->LLVM backend being all but done, and being cleaner than the old trans, we can seriously think about writing yet more backends. A relatively important, and relatively easy target to translate to is WebAssembly.

The right starting strategy per @eddyb is to fork [miri](https://github.com/tsion/miri) and prototype the new backend out of tree.

One interesting point that @kripken bro

[2016-04-25 21:18] michaelwoerister commented on #33193
Yes, definitely seems like a regression.

[2016-04-25 21:20] pnkfelix opened #33206 "Tracking issue for borrows outliving owners with destructors"
This is a tracking issue for a planned fix for issue #31567

Any fix for #31567 is going to be a breaking change; thus, in accordance with existing policy (and draft RFC https://github.com/rust-lang/rfcs/pull/1589 ) I am planning to have the change emit warnings at first, and then after a warning cycle, we can upgrade it to an error.

So, I'm grabbing this issue now while I am working on the fix,

[2016-04-25 21:20] briansmith commented on #29413
What is the current status of things, as far as this bug goes? Now, IIUC, LLVM's unwinding is being used so there's less (no?) reason to embed the DWARF debugging info? If so, then can we get rid of it so that debug=true can be used on optimized builds?

[2016-04-25 21:31] kindlychung commented on #32955
Why does `size` in `Foo_for_String_vtable` depends on whether the cpu is 64bit or 32bit, while in `Foo_for_u8_vtable` it does not?

[2016-04-25 21:33] nagisa commented on #33205
Look at how C’s `goto` is implemented in wasm, maybe? You cannot reloop everything, and while that might result in non-optimal code, I think it might as well be just good enough for a MVP version of wasm. Also see: https://github.com/WebAssembly/design/blob/master/FutureFeatures.md#more-expressive-control-flow

Seeing what early stages wasm still is, I think there’s not much point in pondering abo

[2016-04-25 21:36] michaelwoerister commented on #33192
@sanxiyn is right. This is an area where quite a bit of work is happening at the moment because we are restructuring some things for incremental compilation.

We could also think about handling this case of inherent impls/methods like it's done for object oriented languages, i.e. make the method DIE a child entry of the struct DIE.

[2016-04-25 21:46] petevine commented on #33181
Confirmed with `rustc 1.9.0-beta.1 (37a2869af 2016-04-12)` from the same source which means clang is not a factor.

[2016-04-25 22:20] petevine commented on #33202
Here's a [debug trace](https://gist.github.com/petevine/2b7666e1af775762dd0526d52ebdfe2f) from `rustc 1.9.0-dev (470ca1c3f 2016-04-07)`

[2016-04-25 22:35] nrc opened #33207 "save-analysis: use the def id infrastructure for making fully qualified names"
Rather than using a save-analysis-specific scheme.

[2016-04-25 22:42] pnkfelix commented on #31567
so, just a quick note on some ways @nikomatsakis and I have talked about resolving this:

 * My first instinct was to try to change either `ExprUseVisitor` or `borrowck` to inject the effect of mutating any local binding of type carrying a destructor at the end of its scope.
   * One might think of this as trying to re-create the effect of the `drop` calls that we already explicit emit in the MIR.

[2016-04-25 22:51] kripken commented on #33205
I'm very excited about this! I think compiling directly to wasm is interesting for a language like rust for several reasons:

 * LLVM is obviously a very powerful optimizing compiler. However, that comes at the cost of slower compilation times. Compiling to wasm directly can be a lot faster: We can skip a bunch of IR layers and transformations between them, by having wasm be the input IR to the ba

[2016-04-25 23:04] fgsch commented on #33165
Sure, I will try to get them.

[2016-04-25 23:25] alexcrichton commented on #33145
Ok, after some more investigation, I think I see what's going on now. While the observations here have been, true, they've basically all been red herrings unfortunately. I can safely say that `link.exe` can indeed be run in parallel, it just apparently handles crashes and exits of `mspdbsrv.exe` really badly.

So as a diagnosis, here's what I think is happening:

1. When 32-bit `link.exe` is run,

[2016-04-25 23:30] Manishearth commented on #27266
(Exists in clippy, https://github.com/Manishearth/rust-clippy/wiki#clone_on_copy)

[2016-04-25 23:31] ubsan commented on #33145
Could we just leave `mspdbsrv.exe` running? It seems to me like we are killing it, so... (note, I know nothing)

[2016-04-25 23:40] nagisa commented on #33205
As long as the C API is exhaustive. LLVM C API is suitable for small projects but is very lacking otherwise and we end up doing some of the binding ourselves anyway.

Yes, this is certainly something rust needs. That being said, unwinding in Rust is pretty much always the cold path (unlike, say C++), so, personally, it is fine with me if its not very performant. I’m not sure what else wasm hasn’t

[2016-04-25 23:46] steveklabnik commented on #33145
@alexcrichton well done. wow that's tricky.

[2016-04-26 00:42] jirutka commented on #32713
+1
I’d like to extend `Command`, but I cannot reuse `Output` for return value because I can’t construct `ExitStatus`. :(

[2016-04-26 01:07] vadimcn commented on #33145
Apparently, there is an undocumented environment variable `_MSPDBSRV_ENDPOINT_`, which allows to start multiple instances of `mspdbsrv`. I did a quick test, and it appears to work.
(found here https://codereview.chromium.org/83803003)

[2016-04-26 01:57] retep998 commented on #33145
(13:58:57) WindowsBunnyEngineer: when that build terminates, the mspdbsrv it started will get killed
(13:59:03) WindowsBunnyEngineer: while another build could be relying on it still

[2016-04-26 02:02] tromey commented on #33192
Making the method DIEs children of struct DIEs would work fine for gdb; and it would be a reasonably clear and faithful translation.  So +1 to that.

[2016-04-26 03:51] kripken commented on #33205
Understood. Yeah, I'll make sure the C API provides everything so that Rust doesn't need any extra binding work.

Thanks for the list! Ok, nothing here sounds like a problem. Wasm already has support for some of those (like abort, ctz, etc.), and I can add compiler-rt type support for the others (most are in emscripten's runtime support libraries anyhow, in JS, which can be linked with automatical

[2016-04-26 04:00] kennytm commented on #27336
Note: In case anyone hit the "type macros are experimental" error in 1.8.0, the `type_macros` feature is tracked at #27245 (the wrong number has been corrected in 1.9.0 with #32516).

[2016-04-26 04:41] nrc commented on #33118
@jseyfried well, we get into hygiene questions, but assuming we're only talking about stuff visible due to the definition (i.e., default hygiene rules), then I think macros should follow the same rules as functions, i.e., they don't 'see' the function body at all.

[2016-04-26 05:14] alexcrichton commented on #29413
Does this still reproduce for you? This may have been fixed by https://github.com/rust-lang/rust/pull/31319, and my ["minimal repro"](https://github.com/rust-lang/rust/issues/29413#issuecomment-151671633) seems to work.

[2016-04-26 05:15] alexcrichton commented on #33145
Thanks for the link @vadimcn! For now I've opted to modify our job object management to just "leak" mspdbsrv.exe (basically what @ubsan [mentioned](https://github.com/rust-lang/rust/issues/33145#issuecomment-214562651)), but it's good to have a solution like that in our back pocket.

This has been deployed to the bots, and the current build passed, so let's just pray we never see this again.

[2016-04-26 05:15] #33145 closed

[2016-04-26 05:53] jseyfried commented on #33118
@nrc

Sounds good, I agree. Note that this differs from today's macros, which can see the function body.

[2016-04-26 06:48] aochagavia opened #33213 "save-analysis doesn't dump information about glob imports"
Running `rustc foo.rs -Z save-analysis` on the following code:

[code]

The output is:

[code]

I would expect a line containing information about the imports inserted by the compiler, namely `self::foo::Bar` and `self::foo::Baz`. This used to work in the past.

[2016-04-26 07:01] aochagavia commented on #33213
cc @nrc

[2016-04-26 07:36] #32971 closed

[2016-04-26 07:36] #32881 closed

[2016-04-26 07:36] #33025 closed

[2016-04-26 07:36] #33113 closed

[2016-04-26 07:36] #32374 closed

[2016-04-26 07:36] #33131 closed

[2016-04-26 07:36] #33178 closed

[2016-04-26 10:01] TimNN commented on #30926
I believe this has been fixed (cc #32789).

[2016-04-26 10:38] eddyb commented on #33096
Still need a good  regression test.

[2016-04-26 10:45] eddyb commented on #33205
@kripken Does it at least have byte-level memory access?

[2016-04-26 10:46] oli-obk opened #33216 "value of private type accessible"
The enum `Y` is not re-exported by module `a`, but I can end up accessing a value of it, by embedding the value in the re-exported enum `X`.

[code]

[2016-04-26 10:51] petrochenkov commented on #33216
`enum Y` is marked `pub`, so it's considered accessible by the whole universe even if the type itself is not directly nameable.

[2016-04-26 11:25] GuillaumeGomez commented on #30926
Great! I close it then.

[2016-04-26 11:25] #30926 closed

[2016-04-26 14:44] steveklabnik commented on #32208
@dustinlapierre sorry for taking a while to get back to you. Basically, a note should be added in https://github.com/rust-lang/rust/blob/master/src/doc/book/getting-started.md to mention that you will need a c compiler installed. The bits @retep998 mentioned should be the only exception to that rule, as far as I know.

[2016-04-26 15:02] TomasHubelbauer opened #33219 "Mistake in the Windows command line code in the Rust book"
In the [Getting Started](http://doc.rust-lang.org/book/getting-started.html) section of the Rust book, there's this snippet under [Creating a new Executable and Source Directory](http://doc.rust-lang.org/book/getting-started.html#creating-a-new-executable-and-source-directory):

[code]

On Windows, there's no `mv`, just `move`. The `mv` and other commands are available when one uses Cygwin or simi

[2016-04-26 15:37] froydnj opened #33221 "linking staticlib files into shared libraries exports all of std::"
Consider this toy example:

[code]
[code]

Compile and link:

[code]

With rust 1.8.0, we have:

[code]

which is quite large (2MB!) for such a simple program.  Despite all of `std` being compiled with the moral equivalent of `-ffunction-sections`, adding `-Wl,--gc-sections` does very little to slim down the binary:

[code]

That's only about 400 bytes eliminated, which seems suboptimal.

The prob

[2016-04-26 15:55] ollie27 commented on #33127
I would like to see an easy way to format iterators where you can specify both a format string for each element and a delimiter.

[2016-04-26 16:32] GuillaumeGomez commented on #33219
Want to open a PR to modify it yourself? :)

[2016-04-26 16:36] kripken commented on #33205
@eddyb: Yes, while locals are i32, i64, f32, f64, the load and store operations can load 8, 16, 32 or 64 bytes, and can also load signed or unsigned values for integers. So e.g. `i32.load8_s` loads one byte, sign-extends it to 32 bits, and returns that i32 value.

[2016-04-26 16:39] TomasHubelbauer commented on #33219
I do and I will in a couple of days. :)

[2016-04-26 17:20] durka opened #33222 "UnwindSafe can't be used as an object bound"
You can write `Box<Trait + Send>`, but you can't write `Box<Trait + UnwindSafe>`, despite both being auto traits. Is this intended?

[2016-04-26 18:18] arielb1 commented on #33118
@nrc

That's quite unlike Scheme macros! I think the interaction between macros and `let` is subtle enough and insufficiently-useful that we should not have it.

[2016-04-26 18:26] arielb1 commented on #31567
Surely you mean distinguish between a type that has a destructor and a type that may implement `Drop`? We already do that to forbid destructuring `Drop` structs.

[2016-04-26 18:55] vi commented on #28233
Compiling [this](https://gist.github.com/vi/f1071dacfc75c7f99d906aef07e2f129) with `cargo rustc -v -- -C lto` I get this:

[code]

With `--release` it works.

`rustc 1.10.0-nightly (bd938166d 2016-04-25)`,  i686->i686.

[2016-04-26 19:29] pnkfelix commented on #31567
@arielb1 yes I just meant the more precise analysis needs to use the appropriate predicate (i.e. that the type implements `Drop`), on the appropriate collection of types (plural) according to the l-value expression being borrowed.

[2016-04-26 19:53] arielb1 commented on #31567
@pnkfelix

I think we can just make it that a MIR `drop` conflicts with a loan of an lvalue only if there is a destructor "upstream" of that lvalue and not behind a `&`-reference.

[2016-04-26 19:57] arielb1 commented on #33201
The `+ Sized` being allowed is an implementation bug,

[2016-04-26 21:01] GuillaumeGomez commented on #33219
Great! cc me once done then please. :)

[2016-04-26 21:12] alexcrichton commented on #33221
I'm curious, how do y'all end up doing this? We have a few options in Rust for what's going on here, but it may not quite overlap with what you're doing:

1. First up, you can compile with LTO (`-Clto`) when creating a staticlib. This will internalize as much as possible on the Rust side and LLVM is basically doing `--gc-sections` at that point. This gives me a 194K shared object.

2. Next, if you

[2016-04-26 21:13] alexcrichton commented on #33221
cc @brson, @rust-lang/tools

[2016-04-26 21:15] nrc commented on #33213
cc @jseyfried I wonder if one of the changes to name resolution could have caused this? I can't really imagine how, but it seems the most likely candidate.

[2016-04-26 21:50] alexcrichton commented on #33222
Yeah unfortunately you can't have `Box<A + B>` for arbitrary traits today. The current intention is to have `UnwindSafe` as a super trait rather than `+ UnwindSafe`

[2016-04-26 21:52] alexreg commented on #33222
What do you mean by a 'super trait'?

[2016-04-26 21:55] alexcrichton commented on #33222
Ah sorry, something like:

[code]

[2016-04-26 22:00] froydnj commented on #33221
We compile with `-fvisibility=hidden` and wrap all the system headers we use to ensure that visibility is restored to the default visibility for any symbols in system headers.  We don't have to wrap symbols on Darwin, though; perhaps the compiler ensures things in system headers have the appropriate visibility?

On Windows I believe we don't have to do any of this because the default is to have lo

[2016-04-26 22:01] ubsan commented on #27266
This seems really useful in normal rust, like with <&T>::clone

[2016-04-26 22:26] alexcrichton commented on #32713
I've opened a PR for this over at https://github.com/rust-lang/rust/pull/33224

[2016-04-26 22:28] jirutka commented on #32713
Great, thanks! :+1:

[2016-04-26 22:51] nrc commented on #33118
I'm not aware of exactly how Scheme macros work here. I think I *am* proposing that there should not be interaction between macro definitions and `let` statements. I'm saying that when a macro is declared inside a function body, then it should (effectively) not see the rest of the function body, in the same way that functions inside function bodies don't.

[2016-04-26 23:30] bluss commented on #33222
UnwindSafe is not an arbitrary trait, it's an auto trait.

[2016-04-26 23:34] durka commented on #33222
I mean you can just do the workaround

[code]

but why? What's the difference between `UnwindSafe` and the older auto traits that don't need the workaround?

(The workaround works for any two traits, in fact, so I don't get the `Box<A + B>` restriction at all, but that's an RFC for another day.)

[2016-04-26 23:49] alexcrichton commented on #33222
In the past at least `Send` and `Sync` were special in the compiler, and that may just not have changed. This is basically just a dupe of "arbitrary `A + B` trait objects aren't supported"

[2016-04-26 23:52] durka commented on #33222
OK, closing as "semi-intended wart" I guess.

[2016-04-26 23:52] #33222 closed

[2016-04-27 00:01] #31085 closed

[2016-04-27 00:49] Manishearth commented on #27266
The current policy is no new lints in Rust unless it's really special.

[2016-04-27 02:18] jseyfried commented on #33213
`resolve` constructs `glob_map`, a map from glob import ids to imported names. It looks likely that this issue is due to a problem with `glob_map` construction -- I'll investigate.

[2016-04-27 02:44] nikolay opened #33230 "Support Unums Please"
http://www.johngustafson.net/unums.html
http://www.johngustafson.net/presentations/Unums2.0slides-withNotes.pdf

[2016-04-27 03:32] Aatch commented on #33230
While certainly interesting, unless they get hardware support, language-level support for them is neither required nor appropriate.

If you have a platform that LLVM supports that has unums built in, then feel free to re-open this issue.

[2016-04-27 03:32] #33230 closed

[2016-04-27 03:54] SiegeLord opened #33231 "dep-info + -Z no-analysis no longer ignore extern crates"
Compiling this code:

[code]

With:

[code]

Used to work (and still works with rust 1.7), but recently has started failing (circa rustc 1.10.0-nightly (bd938166d 2016-04-25)) with this error:

[code]

This makes that useful combination of flags no longer work. I suspect `-Z no-analysis` broke again.

[2016-04-27 04:25] nikomatsakis commented on #33118
We have to be careful about backwards compatibility here.
On Apr 26, 2016 3:51 PM, "Nick Cameron" <notifications@github.com> wrote:

[2016-04-27 05:47] retep998 commented on #33219
More specifically, it is only the `cmd` shell which doesn't support `rm` or `mv`. Powershell has aliases for both the `cmd` and `bash` versions.

[2016-04-27 05:54] retep998 commented on #33221
This is a non-issue on Windows with msvc due to symbols only being exported from a DLL if they are marked as `dllexport` or if they are included as part of a `.def` file (unless nothing is specified via those methods in which case everything is exported). Anything which isn't referenced by those exported symbols is stripped by the linker. While Rust doesn't emit `dllexport`, it does emit a `.def`

[2016-04-27 06:19] jseyfried commented on #28514
cc @nikomatsakis

[2016-04-27 06:32] alexcrichton commented on #33221
@froydnj

Awesome, thanks for the info! I was discussing with @brson a bit today about symbol visibility, and our prospects may be bleak in doing something like change by default to hidden visibility (due to backcompat concerns now). In general though it seems that not a lot of thought has gone into the visibility of symbols in Rust beyond "internal or public", and it seems that hidden/protected/d

[2016-04-27 06:57] jseyfried commented on #33118
@nikomatsakis
The current plan is to implement a new, backwards incompatible "`macro_rules_v2`" that can be used alongside the today's `macro_rules` (which would continue to interact with `let` statements).

[2016-04-27 08:30] ranma42 commented on #33147
`config.guess` is used by the `configure` script generated by autoconf, which is probably still very widely used. If you often build GNU projects from source, one of the `./configure` steps you have run has very likely executed `config.guess`, but you never noticed because it is used internally and not explicitly run by the user (this script tries to guess the name of triple of the system which is

[2016-04-27 08:58] TomasHubelbauer commented on #33219
@retep998 Thanks for the note. This is definitely good to know, but I haven't included it in the comment since with `move` you can't go wrong whichever shell you choose on Windows, so this should be beginner friendly.

[2016-04-27 08:58] #33219 closed

[2016-04-27 09:45] conradev commented on #21403
I can confirm this is still an issue, I experienced this with `SkipWhile`.

[2016-04-27 12:13] eddyb commented on #32949
So it appears that the whole "definition scope" isn't used right now, but rather "remainder scope", which is the visibility scope, and the problem, as @michaelwoerister pointed out, is that the initializer scope is nested in it at the MIR level (its parent is the remainder scope), *even though* they're not lexically nested.

[2016-04-27 12:32] nagisa commented on #33147
I tried passing a bunch of varying options to config.sub and none of them omit the `<vendor>`. What I have seen being omitted, though, is `<sys>`… I think.

I also tried some intentionally pathological cases like `x86_64-pear` (where, say, `pear` is a fictional vendor producing fictional apple clones) only for the `config.sub` to produce a `x86_64-pc-pear` where you can't even tell whether `pear`

[2016-04-27 12:37] DanielKeep commented on #33205
A heads up: I have [the beginnings of a WAsm stack](https://gitlab.com/DanielKeep/wasm) floating about.  Thus far, I've got it parsing the text format and interpreting the results.  I'm going through the reference test cases, implementing stuff as I go.  Might possibly be of some use for testing purposes.

[2016-04-27 12:46] eddyb commented on #32433
Non-URL-shortener links:
https://play.rust-lang.org/?gist=c20256b92c48181b8218de2897e89b4b&version=nightly&backtrace=0
https://play.rust-lang.org/?gist=0d58d544a41669c6f0c7d6939834ae46&version=nightly&backtrace=0

[2016-04-27 12:59] pnkfelix commented on #29855
cc me

[2016-04-27 13:03] ranma42 commented on #33147
@nagisa I asked about the best place to discuss the topic [here](https://github.com/rust-lang/rust/pull/31632#issuecomment-184909283) and you replied in the following message.

[2016-04-27 13:28] steveklabnik commented on #33230
Also, features like this need an RFC, and so belong on that repository.

On Apr 26, 2016, 23:32 -0400, James Miller<notifications@github.com>, wrote:

[2016-04-27 13:28] pnkfelix opened #33237 "consider removing/revising test/run-pass/zero-size-type-destructors.rs"
(spawned off of [#rustc IRC discussion](https://botbot.me/mozilla/rustc/2016-04-27/?msg=64993325&page=1))

This test:

  https://github.com/rust-lang/rust/blob/master/src/test/run-pass/zero-size-type-destructors.rs

leverages `#[unsafe_no_drop_flag]`, coupled with a `Drop` impl that deliberately does not attempt to observe whether the value has already been  dropped, to count the number of actual

[2016-04-27 13:53] eddyb commented on #32433
Better tests (comment out `#[rustc_mir]` to see the difference):
https://play.rust-lang.org/?gist=f0370eec3e8c6404483c8392b3bba601&version=nightly&backtrace=0
https://play.rust-lang.org/?gist=fc8c711fae5f3dd3f8fb3542692d8ac8&version=nightly&backtrace=0

[2016-04-27 14:16] pnkfelix commented on #32433
Another interesting difference:

[code]
prints: `2 0 1`

while
[code]
prints: `0 1 2`

[2016-04-27 14:27] eddyb commented on #32433
@pnkfelix I think that's some statement handling, i.e. the outermost `foo` call in the first example doesn't get the drop from `as_temp`.

[2016-04-27 15:02] steveklabnik commented on #19776
Trying this today:

[code]

Has this been randomly fixed?

[2016-04-27 15:26] nikomatsakis opened #33240 "Error Message Overhaul"
PR https://github.com/rust-lang/rust/pull/32756 began a gradual overhaul of our error message formatting. **We would very much like feedback on error messages you think could use improvement**, as well of course as any bugs or other problems with the new error formatting code. Please leave comments!

What follows is a list of known issues we plan to address. Likely many of these will be moved into

[2016-04-27 15:32] ticki commented on #33240
For anyone who want to play around with ideas related to the error formatting, you can use [this](https://github.com/Ticki/termion/blob/master/examples/colors.rs).

[2016-04-27 15:34] arielb1 commented on #30494
duplicate of #30235.

[2016-04-27 15:34] #30494 closed

[2016-04-27 15:35] nikomatsakis commented on #33240
cc @jonathandturner

[2016-04-27 15:37] arielb1 opened #33241 "tuples with unsized tails cause an error when compiled"
## STR

[code]
## Actual Results

Before #32939, this caused an LLVM error

[code]

Afterwards, this causes an ICE (the rustc size is the correct one):

[code]

[2016-04-27 15:41] arielb1 opened #33242 "Tracking issue for unsized types within tuples"
This is the **summary issue** for the `UNSIZED_IN_TUPLE`
future-compatibility warning and other related errors. The goal of
this page is describe why this change was made and how you can fix
code that is affected by it. It also provides a place to ask questions
or register a complaint if you feel the change should not be made. For
more information on the policy around future-compatibility warnings

[2016-04-27 15:41] arielb1 opened #33243 "Tracking issue for object-unsafe non-principal fragments"
This is the **summary issue** for the `OBJECT_UNSAFE_FRAGMENT`
future-compatibility warning and other related errors. The goal of
this page is describe why this change was made and how you can fix
code that is affected by it. It also provides a place to ask questions
or register a complaint if you feel the change should not be made. For
more information on the policy around future-compatibility wa

[2016-04-27 15:41] arielb1 commented on #33201
duplicate of #33243.

[2016-04-27 15:41] #33201 closed

[2016-04-27 15:43] ticki commented on #33240
Could you add the following?

- [ ] Customization of error formatting.
- [ ] Unicode switch.
- [ ] Syntax highlighting.

[2016-04-27 15:51] jonathandturner commented on #33240
@ticki

We'd talked some about maybe a "customization of error colors". What do you mean by error formatting?

Because we want errors to look and feel similar across platforms, the idea here is to pick a way to display the error that's friendly to even non-unicode environments (like default Windows).  We can definitely revisit this one if modern Windows improvements, like Bash on Windows for examp

[2016-04-27 15:55] GuillaumeGomez commented on #33240
I worked on it a while ago for `rustc --explain`. I came to the conclusion that the "best" way to do it would be through rustdoc. It just needs to add an "ascii" (don't know if it's the correct translation) output format. But for that, we need to rework rustdoc source code in order to easily add new output formats.

I'm not sure to understand the issue here. Aren't they translated as whitespaces?

[2016-04-27 15:56] jonathandturner commented on #33240
@GuillaumeGomez the tabs issue is around treating the amount of space we print the tab the same as the amount of space we need to move under the source code to start underlining.  The old code had some logic in there to line them up and we just need to port it over.

[2016-04-27 15:57] GuillaumeGomez commented on #33240
Ok, so it's a port issue. Thanks for the explanation @jonathandturner!

[2016-04-27 16:09] mhintz commented on #33240
One thing that nags me a lot is the amount of space between distinct error messages in the printed console output. Often, because of whitespace in individual error messages, there is more visual whitespace *within* messages than *between* distinct ones. This makes it difficult, when scanning printed console output, to visually distinguish different messages, which makes fast visual parsing of the

[2016-04-27 16:13] jonathandturner commented on #33240
@mhintz Do you have an example of the spacing issue you're talking about?  Also, is this an issue with the previous error message style or the new message style?

[2016-04-27 16:14] ticki commented on #33240
Well, making it possible to define the escapes introducing the various labels.

I thought about using a loosly coloured scheme, to avoid confusion with the labels otherwhere.

[2016-04-27 16:22] Ketsuban commented on #33240
Enum variants are associated items, which has some potentially surprising consequences if you attempt to access them through a `type` alias (including `Self` in trait implementations). Whether that's actually desired behaviour or not is #26264, but in #31168 I observed that the error is strikingly unhelpful.

A better error, I think, would be something like `error: enum variants cannot be accessed

[2016-04-27 16:33] ticki commented on #33240
@Ketsuban Wrong thread?

[2016-04-27 16:36] rjammala commented on #19776
yup, even I disabled elf-tls and it seems to have been fixed.
./configure --disable-elf-tls
$ ./x86_64-unknown-linux-gnu/stage2/bin/rustc --version
rustc 1.10.0-dev (80bff1eea 2016-04-26)

@alexcrichton : Can we close this?

[2016-04-27 16:36] Amanieu commented on #32836
There is a valid use case for using a union to implement a `NoDrop` type which inhibits drop.

[2016-04-27 16:40] Ketsuban commented on #33240
No?

My issue was about an error message which isn't very clear, so I posted it here to garner attention since this is an issue for bringing attention to unhelpful error messages.

[2016-04-27 16:50] mhintz commented on #33240
@jonathandturner Just scrolled through the history over at #32756 and it looks like that PR takes care of my objection about spacing, by reformatting and separating nightly's current output. I also hadn't known about the Dybuk formatter, which looks pretty good (maybe even better than the PR).

I assumed it wasn't on the radar, since it hasn't been merged into nightly yet, and I saw the rustlang T

[2016-04-27 16:53] tamird commented on #19776
Probably needs a test to confirm it doesn't regress.

[2016-04-27 16:56] joshtriplett commented on #32836
As well as invoking such code manually via `drop_in_place` or similar.

[2016-04-27 16:58] alexcrichton commented on #19776
No, this is still an issue. The `--disable-elf-tls` option no longer works (that's a separate issue) and [as I mentioned earlier](https://github.com/rust-lang/rust/issues/19776#issuecomment-123573503) (and [earlier](https://github.com/rust-lang/rust/issues/19776#issuecomment-163732854)) this requires pthread TLS to be used, and by default we use ELF TLS so it's difficult to reproduce.

Running bin

[2016-04-27 16:59] ubsan commented on #27266
Merp :(

[2016-04-27 17:04] steveklabnik commented on #19776
Gah! I didn't realize the flag didn't work; I thought I _was_ using pthread TLS.

[2016-04-27 17:06] alexcrichton opened #33244 "Considering add a #[cfg] option for musl/glibc split"
Right now `target_env` is predominately used to conditionally compile code for differing C libraries like msvc, glibc, musl, etc. On ARM, however, there are two glibc `target_env` annotations, "gnueabi" and "gneuabihf". This then also extends to musl with "musleabi" and "musleabihf". This seems unnecessarily complicated to say "conditionally compile this code when using musl", that is it should on

[2016-04-27 17:06] alexcrichton commented on #33244
cc https://github.com/rust-lang/rust/pull/33189

[2016-04-27 17:09] tamird commented on #19776
@alexcrichton can you cross-link to the `--disable-elf-tls` issue?

[2016-04-27 17:41] xosmig commented on #19986
Hello! I've faced some problem.

[2016-04-27 17:50] nikomatsakis commented on #33118
@jseyfried

I see, I thought that we were talking about the interaction of *today's* macros with `let` statements, not "macros 2.0".

[2016-04-27 17:52] alexcrichton commented on #19776
that'd be https://github.com/rust-lang/rust/issues/32047

[2016-04-27 17:54] nikomatsakis commented on #29638
On Sat, Apr 23, 2016 at 08:00:26AM -0700, Alex Burka wrote:

I meant that cargo features can be used in preference to the facade pattern.

[2016-04-27 18:03] nikomatsakis commented on #33240
On Wed, Apr 27, 2016 at 08:44:19AM -0700, ticki wrote:

I am sort of undecided about whether we want these.  Customization is
a lot of area to stabilize -- we have to select a means of
customization etc, spec it out, support it, etc -- that I would prefer
to avoid, and it seems like a kind of niche request.

But this would be nice.

[2016-04-27 18:04] nikomatsakis commented on #33240
[code]

I am sort of undecided about whether we want these.  Customization is
a lot of area to stabilize -- we have to select a means of
customization etc, spec it out, support it, etc -- that I would prefer
to avoid, and it seems like a kind of niche request.

But this would be nice.

[2016-04-27 18:05] nikomatsakis commented on #33240
I think that for syntax highlighting, I'd prefer to just find keywords and highlight them in bold (something very minimal). We have to be very wary of drawing attention away.

[2016-04-27 18:27] durka commented on #29638
Sorry for being thick... I just don't see what the relation is between
Cargo features and re-exporting things (macros or otherwise).

On Wed, Apr 27, 2016 at 1:55 PM, Niko Matsakis <notifications@github.com>
wrote:

[2016-04-27 18:38] jabagawee opened #33245 "Chaining filter calls on iterators leads to exponentially slower compile times"
Apologies if this is a known problem already. I was working through a fairly simple Project Euler problem to learn some Rust and I think I found an issue (with possibly the type checker?).

I tried this code:

[code]
I expected to see this happen: Compiling this should be pretty fast.

Instead, this happened: Exponential slowdown as I uncomment each filter line one by one

## Meta

`rustc --versio

[2016-04-27 18:39] nagisa commented on #33245
We already know about this issue¹. Thanks for the report!

¹: See https://github.com/rust-lang/rust/issues/22204

[2016-04-27 18:39] #33245 closed

[2016-04-27 18:43] nagisa commented on #33244
The presence of absence of hard float should be denoted inside its own feature instead (`cfg(target_has_hardfloat)` or something).

[2016-04-27 19:08] GuillaumeGomez commented on #33240
@nikomatsakis: More or less than [this](https://github.com/rust-lang/rust/pull/25033#issuecomment-98347752)?

[2016-04-27 19:23] SimonSapin commented on #29638
It can also be useful to re-export things from crates maintained by other people / in other repositories.

[2016-04-27 20:02] nikomatsakis commented on #31567
@pnkfelix and I were talking. I think this can be cleanly integrated into regionck -- in fact, some of the rules that are enforced in borrowck (I suspect) ought to moved to regionck. I'm going to try and tinker a bit here.

[2016-04-27 20:25] bluss commented on #33197
I was just looking at this briefly and I'm reminded the collection can not trust the user-supplied comparison functions (Ord) and thus the fix must be something more involved than comparing the input keys.

[2016-04-27 20:42] potocpav commented on #33197
So it seems we must first compare start to end (if start>end, stop). Then go forward but check for the end of a BTree.

[2016-04-27 20:57] durka commented on #33240
Is #31173 covered here?

[2016-04-27 21:25] rjammala opened #33246 "Compilation errors when building rust with GCC 6.1"
Here is what I get when I clone rust from github and try to build it with GCC 6.1:

[code]

[2016-04-27 21:30] peterhj commented on #29328
Appears to be the same as #23856 and possibly #24010?

[2016-04-27 21:51] Sogomn commented on #18533
I still can't find any resource that explains how to use multiple files. I don't want to create a library - I just want to split my code!

[2016-04-27 21:56] eddyb commented on #32805
This is because of `ConstVal::Float(f64)`, isn't it?

[2016-04-27 22:00] steveklabnik commented on #18533
It works the exact same way. All Rust programs are crates.

[2016-04-27 22:07] jonathandturner commented on #31173
With #33240 this is what I see for @cuviper 's examples:

[code]
[code]
[code]

[2016-04-27 22:14] allan-simon commented on #32320
an other code that seems to trigger the same ICE http://is.gd/bZ6QYu

[2016-04-27 22:21] rkruppe commented on #32805
Yes, there would have to be a `f32` variant and all constant math would have to use 32-bit arithmetic operations when working on that variant.

[2016-04-27 22:25] cuviper commented on #31173
For the `unfound` case, it should have been changed everywhere so you don't get that "unresolved name".  Anyway, it sure looks like they're all splitting correctly - yay!

[2016-04-27 22:38] mrhota commented on #6678
Triage: still here in nightly (using rustup)

[2016-04-27 22:42] Sogomn commented on #18533
Figured it out now. Apparently source files wrap the content implicitly into a module with the same name.

[2016-04-27 22:48] gereeter commented on #33197
I see a few possible options here:

- As @potocpav suggested, add an explicit check for the `start > end` case for well-behaved implementations of `Ord`, then while iterating, check that we don't run past the edge of the tree. It would probably be simplest to panic in the edge-of-tree case, but I suppose stopping would be possible as well. The primary issue I see with this solution is that it may

[2016-04-27 22:53] nagisa commented on #33246
NOTE: I edited you message to format the report.

[2016-04-27 23:06] GuillaumeGomez opened #33247 "Missing help on pattern guard"
One the following [code](http://is.gd/Akc5Xp), suggesting to use `ref` keyword would be very appreciated I think.

[2016-04-27 23:38] danielpclark commented on #33240
Wish this thread was open a few weeks ago.  I once had an error message give me a `rusctc --explain` number which in no way pointed to my actual error.  It turned out I'd left a semicolon on the end of one of my matchers without an explicit return.  I don't remember the exact scenario but I'd assume a mutable variable with a default value was set and the matcher would change it if certain conditio

[2016-04-27 23:47] rillian commented on #33221
Adding `-Clto` to our staticlib build in gecko reduced the number of `T` symbols from 5230, to 280. So this does help a lot.

However, the library filesize went from 5033882 to 6321450.

[2016-04-27 23:49] tromey commented on #33193
In case it matters I see this in beta as well.

[2016-04-27 23:49] alexcrichton commented on #33221
@rillian you're sure optimizations are turned on, right? (e.g. `-O`)

[2016-04-27 23:54] jseyfried commented on #33213
This was caused by #33044, which (correctly) changed the span of the path in a glob import to not include the `::*` suffix.
The span change caused [`sub_span`](https://github.com/rust-lang/rust/blob/a31658de51444d1b5193ac203a1bd7ace5621f93/src/librustc_save_analysis/dump_visitor.rs#L1031-L1032) to be `None` so that the call to `filter_generated` on the following line always returned true.

[2016-04-27 23:57] jseyfried commented on #33213
Unrelated to this issue, but we currently only dump glob-imported names that end up getting used.
@aochagavia, would you prefer we dump all glob imported names, even if they are not used?

[2016-04-28 00:00] rillian commented on #33221
No, that was an unoptimized build. Trying with -O now.

[2016-04-28 00:31] rillian commented on #33221
Ok, in an opt build `-Clto` changes the staticlib file size from 4314802 to 1669346 bytes. Thanks for the hint!

[2016-04-28 00:36] #12834 closed

[2016-04-28 01:05] luqmana commented on #33202
This is not limited to generic enums. Just an oversight in typeck that we allow it to get to trans at all.

[2016-04-28 01:29] durka commented on #33246
Should we fix the code, or just turn off the warning? It looks like miniz.c was imported wholesale from somewhere else...

[2016-04-28 01:50] nrc commented on #33213
Thanks @jseyfried ! The intended behviour is just to have the used names, i.e., the list of names one would use if you wanted to replace the glob import with a list import.

[2016-04-28 02:35] johnfercher opened #33249 "Question about channel."
It's possible create a function with one parameter of channel()?
`
let (tx, rx) = channel();
calc_something(rx);
`
If yes, how may I do that?

[2016-04-28 02:42] Aatch commented on #33249
This is not an appropriate place for this kinds of questions, please use our [User Forums](https://users.rust-lang.org), StackOverflow, or IRC (irc.mozilla.org, #rust and #rust-beginners).

[2016-04-28 02:42] #33249 closed

[2016-04-28 02:43] retep998 commented on #33244
Could we use `target_libc` for choosing between static vs dynamic or release vs debug for the msvc CRT?

[2016-04-28 03:12] durka commented on #33247
Hmm, need to be careful though... if the pattern guard actually consumes the value then you get a bug report for the compiler recommending wrong code: http://is.gd/zGSj9C

[2016-04-28 03:54] jseyfried commented on #33213
Ah, that makes sense.

I was thinking more along the lines of refactoring away a needless qualification or moving a path from one context to another, in which we would want unused names as well.

[2016-04-28 04:52] #32648 closed

[2016-04-28 04:52] #32782 closed

[2016-04-28 07:22] Aatch commented on #29769
Ok, so making the codegen better turns out to be surprisingly complicated. So I'm going to punt that to some future person.

Instead I've focussed on getting the rest of the checks in. The checks for `x/0`, `x % 0`, `MIN / -1` and `MIN % -1` are generated verbatim in the MIR as is the check for `-MIN`.

[2016-04-28 07:44] xosmig commented on #19986
Hello!
I've faced with problems.
To recalc sizes of trees after `split_off` using O(log n) operations, it's necessary to know exact size of each subtree.
So, there are some different solutions:

1) add `size` field to the `LeafNode` structure.

I think, benefits are great.

First, it lets us to do very flexible splits and merges with only O(log n) operations.
Now it's possible to merge trees using

[2016-04-28 08:08] oli-obk opened #33252 "indexing into a constant repeat expression yields repeat value"
The following piece of code errors with `expected usize value for array length, got repeat`. Seems like I ended up forwarding the wrong expression during the computation of a const repeat.

[code]

[2016-04-28 08:53] jonas-schievink opened #33254 ""incompatible type for trait" diagnostic doesn't show where the type comes from"
I was trying to implement `Add`, but got both parameters for `fn add` wrong:

[code]

Error:

[code]

The correct type for `add` would be `fn add(self, rhs: Self) -> Self`, but that's really hard to figure out from the error message. It should mention where the mismatched types come from and issue a suggestion in this case (since the fix is simple).

[2016-04-28 09:10] GuillaumeGomez commented on #33247
Hum... Then maybe an update of the error code explanation would be more appropriate to show the differences between the two cases.

[2016-04-28 10:42] alubbe commented on #33038
Is this something the MIR could help with?

[2016-04-28 11:33] pnkfelix commented on #30947
Could we accept multiple occurrences of `-C link-args=...` and then accumulate them all into one space-separated collection of arguments?

[2016-04-28 11:41] mrmiywj commented on #21927
+1, error message of type mismatch in for loop is not clear.

[2016-04-28 11:46] Kimundi commented on #22250
Hm, totally forgot that I was working on this at some point...

[2016-04-28 12:57] mrmiywj commented on #33247
Hmm, using `ref` keyword is helpful [here](http://is.gd/Akc5Xp).
But in ()[http://is.gd/zGSj9C], what will be helpful except use `&self` in `consume`?

[2016-04-28 13:01] nikomatsakis commented on #33240
Earlier I wrote:

Ever since I wrote this, the wording I used has been bugging me. Even though I still more-or-less feel the same, I feel like saying this is a "niche" request sounds dismissive, which I did not intend. Let me just clarify that what I meant is that I suspect that it's a feature that few would take advantage of, and I'd be happiest if we can just find one output that everyone is rel

[2016-04-28 14:48] eddyb commented on #32966
What you describe seems to be "destination (back-)propagation" aka NRVO.
I wanted to do this, but sadly, it requires some form of static drop analysis, otherwise:
[code]
Turns into:
[code]

[2016-04-28 15:14] GuillaumeGomez commented on #33247
@mrmiywj: That's the point that durka pointed out. So that's why I propose to only change error explanation to reflect both cases.

[2016-04-28 15:33] mrmiywj commented on #33247
You mean that if in the context the ownership will not be taken, it is suggested to use `ref` here?
Hmm, if it's right, I think it's a easy job and I can change the explanation to reflect both cases with some examples. U should not waste time on this dirty job.

[2016-04-28 15:39] GuillaumeGomez commented on #33247
Haha! Please do it if you want. cc me on the PR so I can review it.

[2016-04-28 16:29] pnkfelix commented on #16758
some relevant recent discussion from `#rust-internals` IRC channel: https://botbot.me/mozilla/rust-internals/2016-04-28/?msg=65078367&page=3

[2016-04-28 16:36] KalitaAlexey opened #33259 "use of `Self` outside of an impl or trait [E0411] while inside of an impl"
[code]

failed with

[code]

[2016-04-28 16:43] rillian commented on #33221
See https://bugzilla.mozilla.org/show_bug.cgi?id=1268547 about turning this on for gecko.

[2016-04-28 18:20] nagisa opened #33261 "Tracking issue for JSON errors"
We have a very useful flag `--error-format=json` that’s unstable.

This is a tracking issue for its stabilisation.

cc @nrc

[2016-04-28 18:51] tobytailor opened #33262 "Missing error message"
After some refactoring of quite a large code base I accidentally ended up with code similar to this:

[code]
Which fails with an error at compile time, but no error message nor line indication whatsoever.

Steps to reproduce: https://play.rust-lang.org/?gist=292a681d9c575bf728805b0c24e4e25a&version=stable&backtrace=0

[2016-04-28 20:34] #32655 closed

[2016-04-28 20:51] drrb opened #33264 "Internal Compile Error: thread 'rustc' panicked at 'assertion failed: self.appropriate_rvalue_mode(bcx.ccx()) == ByValue', ../src/librustc_trans/datum.rs:789"
Updating from a nightly version of rust from 2015-10-13 to one from 2016-04-25 on a medium sized codebase, I get an internal compile error.
## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2016-04-28 21:39] naufraghi commented on #22050
Got the same problem (1.8.0):

[code]

Gives the user no hints where to search for the `sin_cos` impl.

If the compiler knows which is the private trait that is missing, an useful message could show that name as @steveklabnik suggested. Even better with the suggested `extern crate`.

[2016-04-28 21:59] nikomatsakis commented on #32959
Discussed in @rust-lang/lang team meeting -- we think it makes sense to reconsider the RFC that makes `!` into a sort of type.

We also should try to find some sort of way to "unregress" this test case in the short term, but I'm not sure what's the best plan there.

[2016-04-28 22:01] pnkfelix commented on #33237
discussed a bit with lang team.

niko pointed out that a `#[unsafe_no_drop_flag]`'ed zero-sized type can have an *idempotent* destructor and be sane. (I had been thinking that no destructors would ever be sane *and* have any visible effects, but an idempotent one that e.g. set a global bit to `true` seems like an exception.)

[2016-04-28 22:27] tqoitc commented on #33264
I received the same error with this code:
[code]
Running with `RUST_BACKTRACE=1` gives
[code]

and my `rustc --version --verbose`:
[code]

[2016-04-28 22:38] pnkfelix opened #33266 "docs: `size_of` is implemented as stride, but claims otherwise"
Discussion of https://github.com/rust-lang/rfcs/issues/1397 with the lang team led to inspection of the documentation for `std::mem::size_of` and `std::intrinsics::size_of`

 * `std::mem::size_of` ([link](https://doc.rust-lang.org/std/mem/fn.size_of.html)) just says "returns the size of a type in bytes."  Understanding what this means (and deciding whether it is true or not) depends on how one int

[2016-04-29 02:27] Aatch commented on #33264
@drrb while a reproduction case has been provided now, your original report didn't supply any usable information in terms of tracking down the problem. Even now it would be nice to know if your code has any similarities to @tqoitc's to help narrow down the issue.

[2016-04-29 02:59] frewsxcv commented on #33246
Worth mentioning that we don't have the latest version in-tree:

https://github.com/richgel999/miniz/blob/master/miniz.c

[2016-04-29 03:05] Aatch commented on #33264
Ok, so assuming that @drrb is also getting the same error, this is due to inline asm support just being generally bad.

We (currently) only support immediate operands for asm inputs, and `D32x4` isn't an immediate, however we don't actually check this until we try and load from the memory location `D32x4

[2016-04-29 05:36] xosmig commented on #19986
@apasel422, what do you think?

[2016-04-29 05:45] huonw opened #33268 "Checked overflow has particularly poor codegen on ARM"
[code]

Compiled with 1.8, `-C opt-level=3 -Z force-overflow-checks --target arm-unknown-linux-gnueabihf`:

[code]

And "in context" (i.e. demonstrating that the extra instructions aren't just because the function is too focused/aren't something that inlining fixes):

[code]

In particular, it seems to me that the following sequence of instructions is pointless:

[code]

It is equivalent to someth

[2016-04-29 06:28] tshepang opened #33269 "explain why the side effects of `peek` matter"
Why does one have to be aware of the side effects? See https://github.com/rust-lang/rust/pull/33016 for the change.

[2016-04-29 06:30] Aatch commented on #33268
What do calls to `checked_*` end up looking like? I'm tempted to say this is an LLVM issue, given that it compiles to basically perfect code on x86.

[2016-04-29 06:41] huonw commented on #33268
Indeed. Clang is similarly poor, so I filed https://llvm.org/bugs/show_bug.cgi?id=27571 .

[2016-04-29 06:41] #33268 closed

[2016-04-29 06:48] huonw commented on #33268
Depending what you do with it, it can be OK, e.g. `x.checked_add(y).unwrap_or(x)` gives:

[code]

(Although it seems like better register allocation could avoid the final `mov`?)

On the other hand, that seems to be a fairly unique special case: most other uses of `checked_add` I tested give bad code generation (as in, have a redundant `cmp`/`movvc`/`cmp` chain).

[2016-04-29 07:20] Aatch commented on #33268
Yeah, it's probably an issue with LLVM's lowering in that case.

[2016-04-29 07:43] mitaa commented on #23912
Is there still some unresolved issue here?

[2016-04-29 08:49] GuillaumeGomez commented on #33269
It is said:

Doesn't sound explicit enough?

[2016-04-29 09:41] tshepang commented on #33269
Why do the side effects matter to the user of the API? What is it that they much watch out for that could affect them negatively?

[2016-04-29 09:48] huonw opened #33270 "-128i8 / -1 emits "attempted to divide with overflow" error multiple times"
[code]

[code]

It's worse if the division is inline in the macro:

[code]

This happens with `%` too. But standalone `let x = -128i8 - 1` only emits "attempted to sub with overflow" once, and it is only emitted 3 times when inside the macro (similarly for `+` and `*`).

[2016-04-29 09:54] huonw opened #33271 ""attempted to X with overflow" message uses shortening for sub and mul, but not addition/division"
[code]
[code]

It's mildly inconsistent, I think that using the real word for all of them (i.e. sub &rarr; subtract, mul &rarr; multiply) would be better.

(See #33270 for the duplication with division and remainder.)

[2016-04-29 12:03] apasel422 commented on #19986
@xosmig This isn't my area of expertise, but I'd recommend opening a discussion thread on https://internals.rust-lang.org/ or submitting a pull request for whichever option is easiest and CCing @jooert and @gereeter. You might also want to take a look at #26227.

[2016-04-29 12:15] dhardy commented on #27739
Can I repeat @SimonSapin 's earlier suggestion (with adjusted terminology)? Mathematically, a binary operator on a set normally has an "identity" element ([see Groups on Wikipedia](https://en.wikipedia.org/wiki/Group_%28mathematics%29)). This adds the bare minimum to make `sum` and `product` work in a fairly generic manner. It does not address other uses of `Zero` (where it sounds more like it is

[2016-04-29 13:54] zakarumych opened #33273 "Implementation with existential lifetime issue"
I believe the next code should compile:

[code]

Because `'static`: `'a` for any `'a`
Or, maybe I missed something?

[2016-04-29 14:02] SCareAngel commented on #33273
Of course if implementation could be rewritten as such `impl<'a, 'b> Trait<'a> for SomeType<'b> {}`. i.e. removing relation between `'b` and `'a`. Than this synthetic example would compile. But it could be impossible in many cases.

[2016-04-29 14:05] oli-obk commented on #33271
"fixed" on nightly: http://is.gd/UXKzgw

[2016-04-29 14:09] oli-obk commented on #33270
It would be easy to remove the non-lint duplication, but then things like

[code]

won't be warned about anymore, because the lint doesn't know about references and dereferencing. (Plus we don't want to implement that now with MIR-powered const eval around the corner)

[2016-04-29 14:39] huonw commented on #33270
What's the motivation for the lint version? It seems like it's a (strict!) subset of the non-lint one.

[2016-04-29 14:39] huonw commented on #33271
Indeed.

[2016-04-29 14:39] #33271 closed

[2016-04-29 14:41] bluss commented on #27739
@SimonSapin Ok but a full numeric hierarchy is not needed. One, Zero is much better than ad-hoc traits. PrimitiveInt, PrimitiveNum, PrimitiveFloat or something like that is not a numeric hierarchy either and would be much better than ad-hoc traits too.

[2016-04-29 14:47] oli-obk commented on #33270
The other one cannot be `deny`'d, and we can't emit lints in trans, because all the lints have already been reported. Once we merge the const evaluators it won't be a subset anymore. Until then there's some duplication.

[2016-04-29 15:37] japaric opened #33275 "`i8::MIN as f32`: warning: attempted to negate with overflow, #[warn(const_err)] on by default"
### STR

[code]

[code]

The "evaluated" expression `-128 as f32` doesn't trigger the warning. But if you expand the definition of `i8::MIN` i.e. `((-1 as i8) << 8 - 1) as f32` you also get a warning.

Neither of these three equivalent expressions should trigger a warning.

### Metadata

[code]

cc @oli-obk might be related to #33214

[2016-04-29 16:00] oli-obk commented on #33275
hmmm... I think const_eval is treating `-1i8 << 7` as `-(1i8 << 7)`, and `1i8 << 7` is `-128`, I'll look into it.

[2016-04-29 16:02] #33213 closed

[2016-04-29 16:05] fgsch commented on #33165
Sorry for the delay. Here's a trace from compiling rust 1.8.0:

[code]

[2016-04-29 16:32] SimonSapin commented on #30849
On IRC about this:

[2016-04-29 16:41] eddyb commented on #30849
It's actually possible to silence the error by adding `#[no_link]` to the macro-only `extern crate bitflags;` (which is what `librustc` does), effectively removing `bitflags` from the scope.

If/when we move name resolution earlier and use it during macro expansion, the macro will actually be imported through the `bitflags` name and the warning wouldn't get triggered.

[2016-04-29 17:14] jonhoo commented on #32600
I believe this is another instance of the same issue:
[code]

Yields:
[code]

[2016-04-29 17:31] Enamex commented on #31459
Would really like this. My scanning reflexes are suddenly cumbersome without the colors. Any updates?

[2016-04-29 18:12] dchammond commented on #22630
Bumping: This issue has not yet been fixed.

[2016-04-29 18:42] xosmig commented on #19986
@apasel422 The main question is "Is this overhead okey or not?". So, who can decide it?

[2016-04-29 19:15] froydnj opened #33278 "support an armv7-android-linuxeabi target"
Firefox for Android compiles its code with `-march=armv7-a -mthumb -mfpu=vfp -mfloat-abi=softfp`.  In `rustc` terms, I think this would be `-C +vfp2,+v7-a,+thumb2`.  AFAICT, this is somewhat different than the `arm-linux-androideabi` target, which appears to not assume the existence of an FPU, and also doesn't compile as Thumb where possible.  When using Rust on Android, we'd like our Rust librari

[2016-04-29 19:41] withoutboats commented on #32600
This seems to be correct, and again it can be by changing `let b = |_| {};` to `let b = |_: &mut _| {};`

[2016-04-29 20:40] timothy-mcroy commented on #32777
I'm working on E0501.

[2016-04-29 20:40] enricostano opened #33280 "Macros not emiting the line they are expanded on in nightly"
I noticed that running `try!()` macro in `main()` doesn't add line numbers in errors.

Code: http://is.gd/m7CFnx

It works fine in `stable` and `beta`, seems a `nightly` regression.

[2016-04-29 20:49] jmesmon commented on #33280
Might be related to #32747.

Appears that warnings/errors emitted by macros no longer are printing the line they were expanded on, and instead are just printing their line of definition twice.

Using this issue as an example:

Nightly gives:
[code]

Beta/stable gives:
[code]

Differing lines:
[code]

[2016-04-29 21:00] Zephilim opened #33281 ""constant expression should not reach expr::trans_def" occurred during test run"
I'm a Rust newbie (well experienced with C++/C#... tho), and I ran into this error whilst running tests with cargo.

Here is a test case that causes this compiler fault to occur:

[code]

... and this is the output (with BACK_TRACE set to 1):

[code]

Some extra info:

[code]

[2016-04-29 21:38] TimNN commented on #33281
Note that the 1.8 and nightly compilers trigger an assertion instead ([playpen](http://is.gd/vEo4KD)):

[code]

[2016-04-29 21:43] TimNN commented on #33281
By the way @Zephilim, you can get multiline code blocks with three backticks (make sure your code starts on a new line):

[code]

Or, to get rust syntax highlighting:

[code]

[2016-04-29 22:08] gereeter commented on #19986
First, note that option one can be slightly optimized by only storing composite sized in internal nodes.

I'm not a big fan of option one - I expect `split_off` to be a fairly rare operation, and slowing down everything else and increasing the memory footprint solely for its benefit does not seem like a good idea. Since we explicitly support large collections (as large as can fit in memory, basica

[2016-04-29 22:14] nagisa commented on #33278
But the `-mfloat-abi=softfp` means not using that FPU at all?

---

Our current nightly has following features enabled for the arm-linux-androideabi triplet: `+v7,+vfp3,+d16`, which means that we already target `armv7` and `vfp3` is one version above the `vfp2`. The only other thing is thumb, which I think could be just added to the current target, if there’s proof android requires it.

[2016-04-29 22:32] alexcrichton commented on #33278
I believe the current ABIs supported by Android itself are [listed here](http://developer.android.com/ndk/guides/abis.html) and although we have not thoroughly documented *what* our Android target is going for, it's defacto been going towards armeabi-v7a.

So in that spirit we should just update our target spec to include Thumb (as mentioned by @nagisa), but I'm also curious about the `float-abi=s

[2016-04-29 22:42] alexcrichton commented on #27705
The libs team discussed this at triage the other day, and the decision was to not move this issue to FCP yet but instead follow the strategy @aturon [proposed earlier](https://github.com/rust-lang/rust/issues/27705#issuecomment-202511878), which is to prototype these APIs in net2 first.

[2016-04-29 22:44] alexcrichton commented on #27717
🔔 This issue is now entering its cycle long **final comment period** 🔔

The libs team is thinking of deprecating these APIs in favor of the `lazy_static!` crate on crates.io, as that should suffice for now for statically allocated synchronization primitives.

[2016-04-29 22:45] alexcrichton commented on #27720
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

The libs team would like to perform one final pass to ensure that all of these arguments have very clearly documented interactions with the underlying arguments and other builder options, but otherwise these seem good for stabilizing!

[2016-04-29 22:46] alexcrichton commented on #30014
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

The libs team basically feels the same way about this as https://github.com/rust-lang/rust/issues/27720, we just want to make sure there's a comprehensive story here.

[2016-04-29 22:47] alexcrichton commented on #27730
The libs team decided to not move these APIs into FCP this cycle because the `NonZero` type is at the heart of all of them, and we're the *least* unsure about `NonZero`.

[2016-04-29 22:48] alexcrichton commented on #27784
🔔 This issue is now entering another cycle long **final comment period** for stabilization 🔔

Given the performance revelations discovered by @BurntSushi we're considering moving these APIs *back* to signatures like:

[code]

The tweaks proposed are:

* Renaming the functions to `write_utf8` and `write_utf16` to avoid conflict with `str::encode_utf16`
* Return a `Result` instead of an `Option` as

[2016-04-29 22:52] alexcrichton commented on #30425
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

The libs team is also considering adding a `Default` impl for `Weak` as well.

[2016-04-29 22:56] alexcrichton commented on #30449
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

[2016-04-29 22:58] alexcrichton commented on #31190
🔔 This issue is now entering its cycle-long **final comment period** for stabilization :bell:

The libs team decided, however, that we should probably return a `Result` here instead of an `Option`

[2016-04-29 22:58] alexcrichton commented on #31399
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

[2016-04-29 22:59] alexcrichton commented on #31767
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

[2016-04-29 23:00] alexcrichton commented on #31767
Ah and as a plan of action the libs team proposes:

* Stabilizing these APIs in 1.10
* Deprecating `compare_and_swap` in 1.12

That way there is always a stable way to do compare and swap!

[2016-04-29 23:02] alexcrichton commented on #32111
🔔 This issue is now entering its cycle-long **final comment period** for deprecation 🔔

The libs team discussed this and concluded:

* The API is somewhat non-conventional by having an `is_*` query taking `&mut self` and mutate state.
* This is different from collections `is_empty` methods in the sense that the signature is different and there is no corresponding `len`
* It's the same as `.peek().

[2016-04-29 23:02] alexcrichton commented on #32281
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

(including https://github.com/rust-lang/rust/pull/33148)

[2016-04-29 23:03] alexcrichton commented on #32312
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

The libs team discussed this and the conclusion was that these APIs have been quite battle-tested in the `unix-socket` crate so although they may not have gotten much use from the standard library we're pretty confident in their APIs.

[2016-04-29 23:03] alexcrichton commented on #32551
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

[2016-04-29 23:04] alexcrichton commented on #33018
🔔 This issue is now entering its cycle-long **final comment period** for stabilization 🔔

[2016-04-29 23:33] froydnj commented on #33278
So there are two different choices for how to pass floating-point arguments on ARM:

* The software floating-point ABI, which dictates that `float` (`f32`) arguments are passed integer registers and `double` (`f64`) arguments are passed paired integer registers.  This is `-mfloat-abi=soft`, and is typically used for chips that don't have an FPU.
* The hardware floating-point ABI, which dictates th

[2016-04-30 00:25] nagisa commented on #33281
I went ahead and reformatted the issue for you.

[2016-04-30 00:35] adelarsq commented on #33246
@alexcrichton Just to know. Any reason to avoid a update for the ```miniz.c``` file?

[2016-04-30 01:55] Manishearth opened #33285 "ccache gcc not found"
I'm building Rust with `--enable-ccache`, it fails at the miniz step:

[code]

[2016-04-30 02:52] japaric opened #33286 "A `rustc` compiled from the `rust-*-src` tarballs can't be used with the `std` binaries from s.r-l.o/dist"
Originally reported [here](https://www.reddit.com/r/rust/comments/4h2ir3/the_crate_std_has_been_compiled_with_rustc_180/)

In the reported case the `rust` package provided by Arch Linux was compiled from [the `rustc-1.8.0-src.tar.gz` tarball](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/rust#n14). Thus their `rustc` binary doesn't have a git commit hash encoded i

[2016-04-30 03:17] brson commented on #33286
I've never considered that it *should* be possible to mix binaries from compilers of different origin - our metadata situation used to be so screwed up that I just assumed it wouldn't be, and I suspect we intentionally made it impossible at some point in the past.

I don't know if even today it's possible. I would assume that e.g. changing cfg values will invalidate the metadata, though perhaps we

[2016-04-30 03:20] brson commented on #33286
After considering it further, I don't see why this shouldn't be possible. This case wouldn't be mixing crates produced by different compilers. It's just reading a complete collection of crates produced by a different compiler.

[2016-04-30 03:23] brson commented on #33286
There may still be some conditional values embedded in the compiler that could influence crate behavior.

Use of unstable features could be one, but that is mostly determined by the version number.

Something like this I think.

[2016-04-30 03:53] petevine commented on #30363
https://github.com/rust-lang/rust/issues/33286

[2016-04-30 03:53] TyOverby commented on #33269
@tshepang If your iterator does things that have side-effects when `next` is called, then `peek` *can* trigger those side-effects.  Similarly, after a peek, calling `next` *won't* trigger side-effects because the next value has already been cached.

This isn't an issue for most iterators, but if you are using iterators as an abstraction over a state machine, then the behavior could be confusing.

[2016-04-30 04:30] tshepang commented on #33269
So this is about custom iterators, not iterators in the stdlib?

[2016-04-30 05:59] nskinkel opened #33287 "Panic on constant index out of bounds in range expression"
### Summary

`rustc` 1.9.0-beta.1 panics when a constant index expression is out of bounds in a range expression.
#### Minimal Code to Reproduce

[code]
#### Expected Behavior

Compilation failure and exit (without a panic). `rustc` 1.8.0 catches this properly without panicking:

[code]
#### Actual Behavior

`rustc` 1.9.0-beta.1 also catches the error but then immediately panics:

[code]
## Meta
#

[2016-04-30 06:43] xosmig commented on #19986
@gereeter
About `rope`: it can be implemented as `BTree` with implicit key. It needs just 2 more usefull methods for BTreeMap: `split_by_number` (splits off the first `number` of ements) and `erase_by_number`.

[2016-04-30 07:00] Zephilim commented on #33281
Ok thanks. I'll close the issue now.

[2016-04-30 07:00] #33281 closed

[2016-04-30 07:03] TimNN commented on #33281
@Zephilim: Please keep the issue open, this looks like a genuine problem! (The fact that it triggers a slightly different error on 1.8 / nightly does not change the fact that this triggers an "internal compiler exception", which should ideally never happen).

[2016-04-30 07:06] TimNN commented on #33281
@Zephilim: Sorry for the confusion, but this appears to be a duplicate of #28104, so keep it closed.

[2016-04-30 07:08] TimNN commented on #28104
At least since 1.8 this produces a slightly different ice:

[code]

[2016-04-30 08:51] xosmig commented on #19986
@gereeter
"First, note that option one can be slightly optimized by only storing composite sized in internal nodes."
Yes, that's great! There are about (a rough estimate, in fact, on average, more) `6 / 7` leafs. So only `1 / 7` of all nodes should contain 1 extra usize. So, only about 1 / 63 n extra usizes. It's nothing, isn't it?
Now the size of `InternalNode` is about `11 * (size_of::<V>() + si

[2016-04-30 08:52] drrb commented on #33264
Thanks @Aatch, I'm not able to post my code, sorry. I can confirm though that I use a bit of inline ASM. I'll have a look and see if I can find any specific similarities to @tqoitc's code.

[2016-04-30 08:56] arielb1 commented on #33286
@brson

The original problem is that the metadata format occasionally changes *between* nightlies, so that `rustc 1.8.0` must not read the metadata created by `rustc 1.8.0 (777777777) 2015-01-01`.

[2016-04-30 08:56] xosmig commented on #19986
@gereeter
If I didn't make any mistake, I am totally assured that each Internal node must contain itself size.

[2016-04-30 08:59] arielb1 commented on #33286
I think we should just compare the commit hash - that means storing it in the tarball.

[2016-04-30 09:26] xosmig commented on #19986
If I didn't make any blunder, I am assured that each Internal node should contain itselfs subtree size.

[2016-04-30 09:40] xosmig commented on #19986
There are some average values above. The worst case is: `(1 / 5)n` nodes and `1 / 6` internal nodes. So `(1 / 30)n` extra usizes, about 2 extra bits per key on a 64-bit architecture and about 1 extra bit per key on a 32-bit architecture.

[2016-04-30 10:20] locka99 commented on #29669
I had this issue too and resetting the value fixed it. I don't know what set the value either - perhaps an add-on did it, or it's a legacy of something Firefox did in the past.

[2016-04-30 10:45] Nercury commented on #33278
I propose to define android target instruction sets and names based on [official ABI list](http://developer.android.com/ndk/guides/abis.html).

I think our android target `arm-linux-androideabi` has evolved so much that the name does not describe it anymore. As far as users are concerned, it  *can only work with `armeabi-v7a` (and up)* ABI.

If we look at the [official list of ABIs](http://develop

[2016-04-30 10:46] aochagavia opened #33290 "Decouple `driver::run_compiler` from configuration parsing"
It seems hacky that if you want to use the compiler as a library you still need to pass arguments like in the terminal, like shown below:

[code]
### Current situation

In `run_compiler`, the `args: &[String]` parameter is processed in the following way:
1. Produce a `getopts::Matches` struct
2. Based on the matches, generate a `config::Options`
3. Based on the matches, parse some extra data not i

[2016-04-30 10:46] aochagavia commented on #33290
cc @nrc

[2016-04-30 11:08] Nercury commented on #33278
@alexcrichton

The usual approach in android-land when working with native code is to compile native code for multiple ABIs and then combine them into single "fat" apk that can work on different devices. Is is also possible to make "split" apks to reduce apk size. But the main point I want to make here that it would be easiest to do that if there was 1:1 mapping between android ABI and Rust target

[2016-04-30 11:29] bluss opened #33291 "Warning on u8 -> char casts; warning: can't cast this type, #[warn(const_err)]"
This is a new warning in recent nightlies, for u8 -> char casts.

[code]

[2016-04-30 11:55] #32840 closed

[2016-04-30 12:04] onodera-punpun commented on #19156
Just ran into the same error...

[2016-04-30 12:45] fgsch commented on #33165
And for a simpler test, running rustc -V.
Let me know if you need anything else and/or want me to try something.

[code]

[2016-04-30 15:18] aochagavia commented on #33213
After the changes, I still can reproduce the issue

[2016-04-30 17:17] dripton opened #33292 ""error: internal compiler error: unexpected panic" when building obsolete code"
I did a rustup to rustc 1.10.0-nightly (8da2bcac5 2016-04-28), and then ran make in my project, without first recompiling a dependency ("num") which had been built under rustc 1.7.0-nightly (81ae8be71 2015-12-09)

rustc gave me an excellent error message describing exactly what was wrong and what I needed to do.  But then it panicked.

[code]

[2016-04-30 17:20] dripton commented on #33292
Note: Once I recompiled the dependency with the latest rustc, the problem went away.  So this bug isn't really causing me any problems.  Just reporting it because rustc asked me to.

[2016-04-30 17:34] zombiemuffin opened #33293 "ICE: "enum pattern didn't resolve to enum or struct None""
Hi everyone,

This code caused a ICE for me.

[code]

The compiler said this.

[code]

The bug doesn't appear in rust stable or beta, only in nightly.

[code]

edit: used minimal example instead of my code.

[2016-04-30 18:17] jonas-schievink commented on #33293
Can you give a self-contained example that reproduces the bug? I can't reproduce this on playpen.

[2016-04-30 18:34] jseyfried commented on #33213
@aochagavia the changes haven't made it into the nighties yet (the current nightly is still 2016-04-28).

If you can reproduce on a more up-to-date local build, could you include the `rustc --version` and the outputted json?

[2016-04-30 18:36] aochagavia commented on #33213
Oops... Sorry, I thought the changes were already in nightly. My bad.

[2016-04-30 18:40] jseyfried commented on #33213
No problem!

[2016-04-30 18:41] vvanders commented on #26264
+1 on this not being very intuitive. Hit to today and took a bit to figure out what's going on.

Being able to fill in partial types would be really nice, or at least a better error message that Enums can't be used with type.

[2016-04-30 18:48] petevine opened #33295 "ICE: unsupported cast [MIR]"
Compiling the `hpack v0.2.0` crate with` rustc 1.10.0-dev (8b1dcf40f 2016-04-29)` on ARM Linux:

[code]

or `curl`:

[code]

This was my first contact with mir and it wasn't peaceful :) Maybe I should have tried a `Hello Mir`, erm `World` instead...

[2016-04-30 19:09] zombiemuffin commented on #33293
Sure:
https://play.rust-lang.org/?gist=2581951edf48845d9374505b6ceaee7e&version=nightly&backtrace=0

[2016-04-30 19:50] nagisa commented on #33292
Note: I took liberty to re-fcrmat the original report.

This seems to be a duplicate of https://github.com/rust-lang/rust/issues/32857. Thanks for the report!

[2016-04-30 19:50] #33292 closed

[2016-04-30 20:00] alexcrichton commented on #33285
This is due to https://github.com/rust-lang/rust/pull/33093, specifically [this line](https://github.com/rust-lang/rust/blob/master/mk/platform.mk#L190). The problem is that --enable-ccache exports `CC="ccache gcc"` and it's ambiguous whether that's a file name with a space in it or two arguments.

[2016-04-30 20:01] alexcrichton commented on #33246
Nah should be fine to update!

[2016-04-30 20:02] alexcrichton commented on #33246
@bors: retry

On Fri, Apr 29, 2016 at 5:35 PM, Adelar da Silva Queiróz <
notifications@github.com> wrote:

[2016-04-30 20:15] jonas-schievink commented on #32857
There might just be an `abort_if_errors` missing here

[2016-04-30 21:13] drbo opened #33297 "Add additional LoopUnswitch and LICM passes"
This is [recommended by LLVM][1] for languages with lots of guards that are rarely executed.  Rust certainly does (mostly array bounds checks, but also `Option::unwrap()` and `Result::unwrap()`).

[2016-04-30 21:24] DemiMarie opened #33299 "Better choice of LLVM optimization passes"
LLVM's `-O2` and `-O3` pipelines are [tuned for C and C++](http://llvm.org/docs/Frontend/PerformanceTips.html#pass-ordering) and Rust can almost certainly do better with a custom ordering.

[2016-04-30 21:25] jonas-schievink commented on #33297
Please only do this if compile time is kept under control somehow...

[2016-04-30 22:19] petevine commented on #33295
More ICEy stuff:

[code]

coming from `parity/ethcore` crate.

[2016-04-30 22:19] petevine commented on #33295
Sorry, wrong button.

[2016-05-01 03:04] Aatch commented on #33295
Minimal reproduction:

[code]

It's the `the_fun as fn(&'a i32)` that is the problem. What happens is that we first reify `the_fun` to a function pointer, then try to cast the function pointer itself. It seems that we don't expect an `FnPtr -> FnPtr` cast in the MIR.

I'm pretty sure that `f as fnty` is only valid when it's a no-op, so we can probably just handle it MIR translation. @eddyb that se

[2016-05-01 03:07] eddyb commented on #33295
@Aatch I added some code to not build noop casts, the lifetimes may be different here though?

[2016-05-01 03:15] Aatch commented on #33295
@eddyb possibly, doing `let f: fn(&'a i32) = the_fun;` first and using `f` in the cast works, so I'd say that lifetimes are the most likely source of difference between the two types in the cast. Do we have a lifetime-ignoring comparison we could use in this case?

[2016-05-01 03:18] eddyb commented on #33295
@Aatch Problem is, you *can't* ignore lifetimes, what if this is a `*const Foo<'a>` to `*const Foo<'b>` cast?
There might be another way to tell that a cast only triggered a coercion, at the HAIR level.
I'm not aware of casts that have both a coercion *and* also do something extra.

[2016-05-01 04:27] Aatch commented on #33295
@petevine do you mind giving a backtrace for that second error and opening a new issue for it (since it's unrelated to the two in the main post).

If you could reduce it to a smaller reproduction, that would be even better.

[2016-05-01 04:27] frewsxcv opened #33302 "rustdoc inlining source in docs"
http://bjz.github.io/cgmath/cgmath/struct.Matrix4.html

<img width="525" alt="screen shot 2016-05-01 at 12 27 23 am" src="https://cloud.githubusercontent.com/assets/416575/14940087/84a185c0-0f33-11e6-9730-717502391617.png">

[2016-05-01 04:42] petevine commented on #33295
There were no backtraces, unfortunately.

Let's clarify one thing though - is turning `-Z orbit` off for a single crate and then resuming the build, ok? That's how I arrived at the latter issue.

[2016-05-01 06:09] Aatch commented on #33295
Actually MIR compilation has been bootstrappable for the compiler for a while now, so trying to use it for more complex codebases is really valuable, since it finds bugs like this.

[2016-05-01 07:55] vadixidav opened #33305 "No impl of Ord for RefCell<T> or Cell<T> when T: Ord"
Title says it all. I am working on it right now. Do I need to create an RFC or can I just send a PR?

[2016-05-01 10:16] klingtnet commented on #33291
I can confirm this:

[code]

[2016-05-01 10:22] eddyb commented on #33295
@petevine The compiler doesn't generate a backtrace even if you set `RUST_BACKTRACE=1`?

[2016-05-01 11:05] petrochenkov commented on #27669
This is fixed in https://github.com/rust-lang/rust/pull/32073 & https://github.com/rust-lang/rust/pull/31920

[2016-05-01 11:06] petrochenkov commented on #22050
This should be fixed in https://github.com/rust-lang/rust/pull/32073 & https://github.com/rust-lang/rust/pull/31920

[2016-05-01 11:08] petrochenkov commented on #24877
This is fixed in https://github.com/rust-lang/rust/pull/32073 & https://github.com/rust-lang/rust/pull/31920

[2016-05-01 11:30] Manishearth opened #33307 "Suggest move closures when a Sync bound is not satisfied through a closure"
[code]

[playpen](https://play.rust-lang.org/?gist=2fa73177cd7f0935cbf9883c8348715d&version=stable&backtrace=0)

This currently gives the error

[code]

If a closure needs to be Sync, we should perhaps suggest that it be made a move closure.

Perhaps we should verify that the closure _can_ be made move (i.e. it is `: 'static` when made move), but I'm not sure how easy that is to do.

We already su

[2016-05-01 11:42] rkruppe commented on #33299
See https://internals.rust-lang.org/t/using-a-custom-optimisation-pass-pipeline/2345 for prior discussion

[2016-05-01 13:24] arielb1 commented on #33307
Why doesn't the `impl Send: Sync` appear on the stack?

[2016-05-01 13:35] Manishearth commented on #33307
Not sure, really.

[2016-05-01 13:59] petevine commented on #33295
That was the case indeed. (both ended in a segfault)

-original message-
Subject: Re: [rust-lang/rust] ICE: unsupported cast [MIR]  (#33295)
From: Eduard-Mihai Burtescu <notifications@github.com>
Date: 01.05.2016 12:22

@petevine The compiler doesn't generate a backtrace even if you set `RUST_BACKTRACE=1`?

---
You are receiving this because you were mentioned.
Reply to this email directly or view

[2016-05-01 14:25] Manishearth commented on #33307
My patch so far

[code]

Still needs to check if the closure is move already or if move-ifying it will have any effect.

[2016-05-01 14:33] petevine commented on #33295
@Aatch
Yeah, that's why I tried it - that whole sentence was a big pun on the word mir. (meaning both peace and world)

[2016-05-01 14:39] arielb1 commented on #32857
duplicate of #33015.

[2016-05-01 14:39] #32857 closed

[2016-05-01 14:41] arielb1 commented on #33015
Problem lines of code:

https://github.com/rust-lang/rust/blob/2a815a26c8ce70e1aede585827c020d9775a8faf/src/libsyntax/errors/mod.rs#L209

[code]

Why is the panic commented? cc @nrc

[2016-05-01 14:46] arielb1 commented on #33307
After not dropping impls:

[code]

[2016-05-01 15:15] antoyo opened #33310 "Rustc compiler freezes when creating a recursive data structure"
Hello.
The following code makes the compiler freezes:

[code]
(the version with `Option<Box<Node>>` works fine, though)

Running `cargo build` takes forever. I use `rustc 1.8.0` on ArchLinux.

Thanks to fix this issue.

[2016-05-01 15:24] rkruppe commented on #33310
Should be fixed on beta and nightly. See also #32326 #32619 #33144 #33180

[2016-05-01 15:38] antoyo commented on #33310
Sorry, I have not found this issue.

[2016-05-01 15:38] #33310 closed

[2016-05-01 15:45] lhecker commented on #25662
@alexcrichton We (@zonyitoo and me) noticed another issue with the current behaviour of `std::panic::catch_unwind`: It assumes that the smallest "scope" in which something can be processed is a thread. Which is why it uses a thread-local variable to count the current number of "active" unwinds, right?
But what if you have a smaller scope like... coroutines? A coroutine can migrate between threads

[2016-05-01 16:17] jonhoo commented on #27800
Correct me if I'm wrong, but doesn't the macro approach also have the drawback that selecting over a dynamic set of channels isn't easily expressible?

[2016-05-01 16:26] zonyitoo commented on #25662
There is one easy solution for this: Don't allow panic in `Drop::drop`!

[2016-05-01 16:33] lhecker commented on #25662
Preventing panics in `drop()` is akin to how C++ works...
The only alternative I see right now is to introduce some additional API which allows us to "register a stack". We could pass a callback to that register method which could be invoked whenever the panic & unwind modules need the panic count. IMHO this would be the least intrusive and most flexible approach right now. Closing down Rust to on

[2016-05-01 17:06] sfackler commented on #25662
@lhecker The concern is a userland context switch in the middle of unwinding? Things should work if you `panic::catch_unwind` in the initial thread and then `panic::propagate` in the new thread when a coroutine is migrating.

[2016-05-01 17:09] sfackler commented on #33305
The implementation for RefCell is not super workable since it would have to either panic or return nonsensical results if the cell is borrowed mutably at the time. An impl for Cell seems like it should be fine though.

[2016-05-01 17:39] birkenfeld commented on #31705
I think this is the same as #32540.

[2016-05-01 17:46] birkenfeld commented on #31496
Current compiler (after fix for #31497) says (last line is new):
[code]

[2016-05-01 17:54] alexcrichton opened #33315 "Spurious failures related to dep_graph.rbml on the bots"
Been seeing a bunch of these recently, gonna link up a few PRs to this to track them all here. @michaelwoerister [here](https://github.com/rust-lang/rust/pull/33225#issuecomment-215819168) thought that this is due to the additions in #33171 which seems plausible to me as a bunch of compilations are now sharing the same incremental directory `tmp`.

cc @arielb1 (pinged on IRC about this)

[2016-05-01 17:56] alexcrichton opened #33316 "Spurious run-make test failure"
Example logs: http://buildbot.rust-lang.org/builders/auto-linux-64-opt-mir/builds/535/steps/test/logs/stdio

[code]

Only instance I know of, but seems bad!

[2016-05-01 18:35] szagi3891 commented on #27800
Best to get rid of the macro select.
I made a working prototype that shows that it is possible:
https://github.com/szagi3891/channels_async-rs/blob/master/examples/select.rs#L76
Without any section unsafe.

[2016-05-01 18:48] birkenfeld commented on #31573
The linked PR adds the information to the long diagnostics, at least.

Note that if you just have an `use module;` then the error message is markedly different:
[code]
I wonder if some consolidation would be in order.

[2016-05-01 19:40] oberien opened #33321 "std::thread Documentation"
[The Thread type](https://doc.rust-lang.org/std/thread/#the-thread-type) in [documentation of thread](https://doc.rust-lang.org/std/thread/) mentions, that

As stated a few lines later in [Spawning a thread](https://doc.rust-lang.org/std/thread/#spawning-a-thread)

Also the documentation of [thread::spawn](http://doc.rust-lang.org/stable/std/thread/fn.spawn.html) says

[2016-05-01 20:36] birkenfeld commented on #29307
Duplicate of #30497.

[2016-05-01 21:46] nrc commented on #33290
SO the motivation for this is that I want it to be very easy to write a drop-in replacement for the compiler. You should be able to write `myrustc` which can be used just like `rustc` on the command line, without having to handle all the command line options. In particular, we should be able to add options to `rustc` without `myrustc` breaking or ignoring them.

I think that works if your `parse_a

[2016-05-01 22:09] nrc commented on #33015
That seems like it should be uncommented. It's a mistake either way, I wouldn't deliberately check-in commented code, but I don't recall if it should be uncommented or just not there. It does seem like we should panic on fatal errors.

[2016-05-02 00:41] tiehuis commented on #33150
Another test case for what appears to be the same error.

[code]

[code]

http://is.gd/yHjQVd

[2016-05-02 02:04] zonyitoo commented on #25662
@sfackler Nope. Not in the middle of unwinding.

As you can see in [here](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/common/unwind/mod.rs#L148), the `f` is the coroutine's callback, what if we transfer the coroutine to a new thread? Yes, the `s` still points to a foreign thread's TLS!!! And after the coroutine is finished, `s.set(prev)` will cause data race!

[2016-05-02 02:07] bstrie commented on #29328
Tagging with A-stability based on durka's comment.

[2016-05-02 02:34] brson opened #33329 "validate target triples before resolving crates"
I stared at this for a while

[code]

before realizing I had typod the target triple. If the target had been validated earlier the error would be more obvious.

[2016-05-02 04:54] #29307 closed

[2016-05-02 05:05] birkenfeld commented on #29121
Current compiler message is slightly different:
[code]
The snippet given for the "candidate #1" seems wrong, shouldn't it present the definition of `into_raw` (or, if that is not available since it's from `std`, nothing)?

[2016-05-02 05:06] alexcrichton commented on #33315
Believed to be fixed in #33317

[2016-05-02 05:06] #33315 closed

[2016-05-02 05:19] alexcrichton commented on #25662
@lhecker, @zonyitoo

This is unfortunately one of the major drawbacks of coroutines in a systems language right now, which is that they don't support native TLS easily. It sounds like this interaction with `PANIC_COUNT` is indeed one location where things can go awry, but it's not the only one use of TLS in the standard library. For example this is also used for poisoning on mutexes. Additionally,

[2016-05-02 05:31] birkenfeld commented on #30391
This appears to be fixed (in nightly at least):
[code]

[2016-05-02 05:37] zonyitoo commented on #25662
@alexcrichton Hmm, unfortunately, switching TLS tables could not solve this problem, because when the switch happens, the current executing context still holds pointers to values in the original TLS (for example, the `s` I mentioned before in [here](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/common/unwind/mod.rs#L148)).

It is not easy to make coroutine compatible with `thread_lo

[2016-05-02 05:52] birkenfeld commented on #28903
Current errors:
[code]

The third error still appears to be unnecessary and therefore confusing.

[2016-05-02 05:56] birkenfeld commented on #28660
The message for the `Add` case is also nicer:
[code]
so this seems fixed indeed.

[2016-05-02 05:58] birkenfeld commented on #28168
Can be closed; the syntax in question is now legal anyway.

[2016-05-02 06:09] birkenfeld commented on #28416
Much trimmer now:
[code]
Not sure if it can be considered fixed though; the `filter` error should probably come before the `map` error.

[2016-05-02 06:19] cramertj commented on #33266
I'd like to take this one if @pnkfelix is alright with it.

[2016-05-02 06:30] birkenfeld commented on #27513
Call is still not present, current location: https://github.com/rust-lang/rust/blob/855fb6192263a5c059325bb4b4e10b55e4e8ddbb/src/librustc/traits/error_reporting.rs#L669

[2016-05-02 06:37] birkenfeld commented on #27384
The `ref` is not suggested anymore, so I guess this can be closed?
[code]

[2016-05-02 06:38] timothy-mcroy commented on #32777
I'll open a PR for E0502 tomorrow.

[2016-05-02 06:49] TyOverby commented on #33269
I don't think that there are any *really* weird iterators in the stdlib, but you can make them using the stdlib very easily.

[code]

Now you have an iterator with a side-effect that will behave weirdly when peeked at.

[2016-05-02 06:51] birkenfeld commented on #26956
Duplicate of #28416, I think.

Output is now better, in any case:
[code]

[2016-05-02 07:32] birkenfeld commented on #26864
Appears to be fixed in latest stable:
[code]

[2016-05-02 07:38] birkenfeld commented on #26380
The note has no code shown anymore in the current version. Can be closed?

[2016-05-02 07:44] birkenfeld commented on #26101
The current error is `error: character literal may only contain one codepoint: '{`

[2016-05-02 07:48] IvanUkhov commented on #26380
I guess so.

[2016-05-02 07:48] #26380 closed

[2016-05-02 08:07] birkenfeld commented on #26170
This is fixed in beta and nightly:
[code]

[2016-05-02 08:11] birkenfeld commented on #26607
Now says "unexpected close delimiter", which I think is good enough. Can be closed?

[2016-05-02 08:17] birkenfeld commented on #25577
This appears fixed (the final note should make it clear):
[code]

[2016-05-02 08:56] birkenfeld commented on #28011
related: #24626, which requests the same for missing methods in impls.

[2016-05-02 09:03] birkenfeld commented on #28981
The "type parameter aliases type" part of this issue is #24354.

[2016-05-02 09:06] lhecker commented on #25662
@alexcrichton I think you misunderstood... Most of the time it's alright if something is using TLS. For instance `thread_rng()` is fine to use TLS as well as for instance `errno`. Both of them use the TLS data inside a "blackbox" method which can't be parked.

The only thing with Rust where TLS is used in a way which **does not** work with coroutines is `std::panic` (even if we wanted to). Reason

[2016-05-02 09:33] #33186 closed

[2016-05-02 09:40] birkenfeld commented on #22692
Current error:
[code]
Not ideal either...

[2016-05-02 10:40] tshepang commented on #33269
Oh, so side effect means doing stuff other than fetch the next value, in your example being writing to stdout?

[2016-05-02 10:53] birkenfeld commented on #22337
New error, but seems still fixed:
[code]

[2016-05-02 10:58] birkenfeld commented on #21927
This is fixed in stable:
[code]

[2016-05-02 11:10] #21927 closed

[2016-05-02 11:11] arielb1 commented on #22337
Yeah. Fixed.

[2016-05-02 11:11] #22337 closed

[2016-05-02 11:12] birkenfeld commented on #21012
Still same error; this is now a standard "does not live long enough" message. Is there anything left to do here?

[2016-05-02 11:12] arielb1 commented on #33269
That's what "side effect" means in this context - the effects of calling a function other than its value being returned.

[2016-05-02 11:13] birkenfeld commented on #20977
Current situation: the original error hasn't changed, but we get a second one that complains about the missing `Item` associated type:
[code]
... which should clear it up. (But probably not if the associated type has a default?)

[2016-05-02 11:15] birkenfeld commented on #20687
Looks fixed?

[2016-05-02 11:16] arielb1 commented on #25577
Looks fixed.

[2016-05-02 11:16] #25577 closed

[2016-05-02 11:18] arielb1 commented on #26956
This looks fixed.

[2016-05-02 11:18] #26956 closed

[2016-05-02 11:19] birkenfeld commented on #20397
Issue seems obsolete now that attributes on stmt/expr are allowed, if experimental.

The remaining case of "expected item after attributes" is when there is nothing afterwards, in which case the span is probably fine.

[2016-05-02 11:20] #28660 closed

[2016-05-02 11:23] Thinkofname opened #33341 "Poor error messages for misplaced documentation comments"
https://play.rust-lang.org/?gist=9f18cc37901879332e989ed2319efca5&version=stable&backtrace=0
[code]

and

https://play.rust-lang.org/?gist=324a76771257c6e5308698c834ad5f6b&version=nightly&backtrace=0
[code]

Due to the fact documentation comments de-sugar into attributes. Not the end of the world but tripped me up when my editor used `/* */` to comment out a block starting with `*` and it broke th

[2016-05-02 11:33] birkenfeld commented on #17632
@dherman's still does, but isn't that correct? The module is not public, neither is the import. If you make the `use tc39::Politics::*` a `pub use`, there is no warning anymore.

[2016-05-02 11:42] birkenfeld commented on #17462
Doesn't look there anything diagnostic-related to do here.

[2016-05-02 11:44] birkenfeld commented on #16065
This is pretty basic material. Nothing to do for diagnostics, I think.

[2016-05-02 11:47] birkenfeld commented on #15142
The better errors for same type names from different crate versions are tracked elsewhere; this issue should be closed as fixed.

[2016-05-02 11:55] birkenfeld commented on #13577
At least the long diagostics for E0432 now reference `self::` and `super::`: https://github.com/rust-lang/rust/pull/33320

[2016-05-02 12:02] birkenfeld commented on #4287
New (and sole) message in nightly:
[code]
Not pretty, but much better than before. Fixed?

[2016-05-02 12:05] birkenfeld commented on #4909
Current message:
[code]
Are these two together clear enough?

[2016-05-02 12:08] birkenfeld commented on #31874
Duplicate of #10876.

[2016-05-02 12:09] birkenfeld commented on #21752
Duplicate of #10876.

[2016-05-02 12:11] birkenfeld commented on #22644
Duplicate of #11962?

[2016-05-02 12:14] birkenfeld commented on #33341
See also #27429.

[2016-05-02 12:19] cybergeek94 commented on #33269
Unexpected side-effects in the stdlib might include blocking and early consumption of values from channel iterators and `Read::bytes()`.

[2016-05-02 12:23] SimonSapin commented on #26170
:+1:

[2016-05-02 12:23] #26170 closed

[2016-05-02 12:24] SimonSapin commented on #22644
Yes, though there is more discussion here.

[2016-05-02 12:29] Thinkofname commented on #33341
Looks like a dup of that, closing this one

[2016-05-02 12:29] #33341 closed

[2016-05-02 12:40] huonw commented on #22776
I think the problem here is (the old) `byteorder`: `.as_ptr` only returns a pointer that is valid for as long as the slice it is called on, and the slice in the original code only lasts until the end of its `let` statement. Thus, the original code actually had a use-after-free bug.

I'm closing since I don't think this is a bug in Rust, and thanks to @romanb for diagnosing and even fixing the prob

[2016-05-02 12:40] #22776 closed

[2016-05-02 12:54] frewsxcv commented on #26864
I'm not sure how easy it is to make a regression test for this...

[2016-05-02 13:35] birkenfeld commented on #32026
This is because the parser looks ahead and wants to have the complete macro beginning - either `macroname! {` or `macroname! ident {`, see https://github.com/rust-lang/rust/blob/0f9ba992910b724bd198a196b5e408785911fdfc/src/libsyntax/parse/parser.rs#L6043

Would it be acceptable to make that function just look ahead one token to match `macroname!` and then commit to parsing a macro invocation?

[2016-05-02 13:40] froydnj commented on #33278
Aligning Rust targets with Android ABI names makes sense to me.

[2016-05-02 13:42] arielb1 opened #33344 "Obligation caching allows for unsound coinductive matching"
## STR

[code]

## Expected Result

This should not compile, as adding `where T: Tweedledum` to `is_ee` demonstrates.

## Actual Result

This typecks and fails on trans. A variant using `: 'static` compiles but is unsound.

## Analysis

The current scheme for within-tree obligation caching checks in a very deliberate (and slow) way that obligations are not satisfied by their parents, but it allows

[2016-05-02 13:51] arielb1 commented on #33344
cc @nikomatsakis

I *think* the best way to fix this would be to move in-fulfillcx caching to the obligation forest and check for cycles in `compress`.

[2016-05-02 14:05] LeoTestard commented on #30923
As of 1.8.0, the following macro compiles on stable:

[code]

I think this issue can be closed.

[2016-05-02 14:06] #30923 closed

[2016-05-02 14:33] #26607 closed

[2016-05-02 14:57] arielb1 commented on #15142
shadowing lifetimes is now illegal.

[2016-05-02 14:57] #15142 closed

[2016-05-02 14:58] arielb1 commented on #16065
Yeah I don't think we would ever fix this, except for the error eventually showing `String` in the path.

[2016-05-02 14:58] #16065 closed

[2016-05-02 15:07] birkenfeld commented on #31871
Looking at the code, the error has to be parsed as
`cannot assign to (captured outer variable in an FnMut closure)`
and not as
`(cannot assign to captured outer variable) in an FnMut closure`
i.e. it the error is just "cannot assign to X", and has no intention of talking specifically about FnMuts.

[2016-05-02 15:26] aochagavia opened #33348 "save-analysis: use a decoupled representation for dumped data"
Currently, the `Dump` trait exposes internal types of the compiler, which is undesirable. It also forces the trait's implementors to write lowering code (as can be seen in the current implementation of `json_dumper`).

### Proposed solution

1. Create a new module in `save-analysis` called `external_data` where the new `*Data` structs will live (they can be moved from `json_dumper`, along with the

[2016-05-02 15:27] aochagavia commented on #33348
cc @nrc

[2016-05-02 15:35] steveklabnik commented on #28168
Yup!

[2016-05-02 15:35] #28168 closed

[2016-05-02 16:03] sezna commented on #22750
This error message did not show up when I had "identical-type" type mismatches..
[code]

my rustc version is  `rustc 1.9.0-nightly (998a6720b 2016-03-07)`.

[2016-05-02 16:09] #33295 closed

[2016-05-02 16:22] alexcrichton opened #33350 "Spurious LLDB debuginfo test failures, "couldn't get the client port""
https://gist.github.com/alexcrichton/e0e6b34dae91356011b07c4dfd571016
http://buildbot.rust-lang.org/builders/auto-mac-64-opt-rustbuild/builds/944

[code]

[2016-05-02 16:26] nikomatsakis commented on #33237
That said, my feeling is that the `#[unsafe_no_drop_flag]` should go away, and that we don't generally support idempotent destructors. For example, it is not allowed to have a `Copy` type that also implementes `Drop`. So I am fine with making it illegal to have `#[unsafe_no_drop_flag]` on a ZST. It'd probably be prudent to check how much code breaks and consider a warning period, though of course

[2016-05-02 17:13] alexcrichton opened #33352 "MSVC: Segfaults with opt-level=3 plus unwinding"
I've encountered two mysterious segfaults with opt-level=3 so far when porting our build system to rustbuild. Cargo tries to optimize aggressively by passing `-C opt-level=3` in optimized mode, but that had to get dialed back to `-C opt-level=2` in two cases.

One is [in compiletest](https://github.com/rust-lang/rust/blob/0eb575c702f56735d8bc6c3d76cb4d9bdeb13e84/src/tools/compiletest/Cargo.toml#L7

[2016-05-02 17:24] alexcrichton commented on #25662
Thinking more on this, the bug pointed out in https://github.com/rust-lang/rust/commit/12c5fc5877f708e8e4df05bf834261f5237ac437 essentially means that any use of TLS is subject to segfaults with coroutines currently. That's unfortunately not the only problem that needs to be solved (e.g. also this business with `PANIC_COUNT`), but no local solution with `PANIC_COUNT` will solve the entire problem,

[2016-05-02 17:24] #25662 closed

[2016-05-02 17:32] alexcrichton commented on #33278
@Nercury yeah I'm inclined to agree, it definitely seems simplest if everything maps 1:1 with the official ABI list.

cc @larsbergstrom, this may involve changing the definition of `arm-linux-androideabi` to be much slower than it is today (e.g. no v7/vfp/etc goodies), but adding a new `armv7-linux-androideabi` target which is the same as today's `arm-linux-androideabi`. Do you know if that'd caus

[2016-05-02 17:58] michaelwoerister commented on #33350
I'm wondering if this is really an error or just some warning that we also get in passing tests.

[2016-05-02 18:04] michaelwoerister commented on #33192
OK, so I made a proof of concept for this and LLVM seems to handle it just fine. However, this approach does not scale to trait implementations as one type can implement multiple methods with the same name from different traits...

I'll implement it this way for inherent impls anyway, for now. Still cleaner than the (now broken) "parallel namespace" solution.

[2016-05-02 18:05] alexcrichton commented on #33350
Hm ok so actually this looks less suspicious than I thought

The error:

[code]

seems odd, because it does show up!

[code]

This may actually be related to the PR at hand (https://github.com/rust-lang/rust/pull/33225), so I'm gonna close this for now, but if it ends up being more spurious we can reopen. Sorry for the noise!

[2016-05-02 18:05] #33350 closed

[2016-05-02 18:14] Don42 commented on #31964
I am running rustc 1.8.0 from debian SID and I get the same error, but
when I set the RUST_BACKTRACE env variable, the proper 'mismatched types' message
is shown.

[2016-05-02 18:52] Manishearth commented on #22750
@sezna it did?

[2016-05-02 18:56] Manishearth commented on #31645
For next batch (probably won't be any time soon):

 - https://github.com/rust-lang/rust/pull/33351

[2016-05-02 19:31] cramertj commented on #32777
I'll open a PR for E0509 today or tomorrow.

[2016-05-02 19:55] GuillaumeGomez commented on #32777
@timothy-mcroy, @cramertj: Thanks to both of you! :D

[2016-05-02 20:00] winks opened #33356 "Please document ./install.sh --help in the release README.md"
Nowhere in README.md it says that `install.sh` has a `--prefix` or `--help` flag.

Yes, I can see this paragraph:
[code]

and I'm not asking for a full documentation in this file - but I think just documenting `--help` would be very good. I even gave `install.sh` a quick glance before using it (including searching for `prefix`) but apparently I didn't look close enough to find this.

[2016-05-02 20:16] birkenfeld commented on #32955
@johnSerrano that drop doesn't seem right for String.

In any case, I don't think there's a use for making this compileable -- it's not meant for readers to write such code.

[2016-05-02 20:28] sezna commented on #22750
@Manishearth I...I have no idea how I missed that. Deleting my comment in shame now.

[2016-05-02 20:29] Manishearth commented on #22750
:smile: it's fileline_note and sometimes gets lost in the output

[2016-05-02 20:31] sezna commented on #22750
@Manishearth I actually do still have something to contribute, although it may not be useful. The reason I thought it didn't output the message is because it didn't the first time, as nalgebra was aliased as "na".

See below.

[code]

I'm not as silly as I originally thought!

[2016-05-02 20:34] Manishearth commented on #22750
IIRC this isn't really possible to fix; how do you tell that two crates are the same?

[2016-05-02 20:38] sezna commented on #22750
Good point. Well, I have nothing more then. Sorry about this little mixup!

[2016-05-02 20:57] japaric commented on #33329
So, I checked this and

we are already doing this. See:

[code]

i.e. validate the target before looking for crates.

The issue here is that `x86_64_unknown-linux-musl` (with underscore) is accepted as a valid target (as `x86_64-unknown-linux-musl`) because of [this function](https://github.com/rust-lang/rust/blob/d80497e628945c3f11ff351030b4c62a8533e01e/src/librustc_back/target/mod.rs#L73-L86) --

[2016-05-02 21:05] michaelwoerister commented on #33192
While implementing this properly, I found another wrinkle in the story:
Rust allows methods not just on structs and enums but also on basic types, pointer- and reference types, slices, etc. LLVM seems to translate that well to DWARF (the subroutine DIEs end up as children of the `DW_TAG_base_type`, `DW_TAG_pointer_type`, etc DIEs) and GDB also does not seem to have a problem with that. However, I'

[2016-05-02 21:48] nrc commented on #33348
@aochagavia if the def id is from the local crate, then it should never return None. I think we can assume that and just unwrap. We do need to make sure we only call with local ids though, it is possible we could get a NodeId from an extern crate (via metadata or something?).

[2016-05-02 22:46] alexcrichton opened #33361 "Spurious timeout starting to run tests on Windows"
http://buildbot.rust-lang.org/builders/auto-win-gnu-64-nopt-t/builds/4063/steps/test/logs/stdio
https://gist.github.com/alexcrichton/cc7b4a7e30cb53268dca0b98779b42cf

Problem at least in the above example is that `stdtest` printed that it was going to run tests and then it just locked up. This may be related to specifically just stdtest, but I know I've seen this before, so wanted to open an issue

[2016-05-03 00:54] Diggsey commented on #33305
What's the problem with panicking? That's what `borrow()` does anyway if there's an outstanding mutable borrow. Given that this is single-threaded, it would be a program error anyway.

[2016-05-03 01:01] rphmeier opened #33364 "ICE: OutputTypeParameterMismatch in failing to resolve associated type as tuple."
I honestly don't really know how to describe this one.
On stable the uncommented version works as expected, although it yields an ICE on both Beta and Nightly.

On all three release channels, the commented portion of the code fails to resolve
`<(PhantomData<A>, PhantomData<B>, PhantomData<C>) as Foo<'a>>::Item` as `(&'a A, &'a B, &'a C)`, although they are the same type.

[code]

The expected beha

[2016-05-03 02:21] #32296 closed

[2016-05-03 03:22] huonw commented on #22750
rustc should be able to handle the aliased case in theory, since it knows the true name/path of a crate (e.g. uses of an `na::Foo` tye can be tracked back to the `nalgebra` in `extern crate nalgebra as na;`).

[2016-05-03 03:24] Manishearth commented on #22750
Oh, right, we have that crate name.

[2016-05-03 03:45] cristianoliveira commented on #32777
Hey guys. I'll take the E0507. Tomorrow I'm going to work on it (Now is almost 1 am here in Brazil :P)

[2016-05-03 04:18] Aatch commented on #33305
@sfackler there is an impl of `PartialEq` for `RefCell<T: PartialEq>`, so `PartialOrd`/`Ord` should behave the same way anyway.

[2016-05-03 04:31] kripken commented on #33205
An initial proposal for a C API for binaryen is at https://github.com/WebAssembly/binaryen/pull/427. Feedback is very welcome.

Note that this is not the basic-block + relooping API yet. That will be a second step.

[2016-05-03 04:37] #3533 closed

[2016-05-03 04:59] Aatch commented on #33364
Removing the higher-ranked lifetimes appears to make it work. Interestingly, the MIR typecheck seems to be picking up the error indirectly, as the warnings disappear once that is fixed.

This is still a bug, but changing the `Wrap` inherent impl to this:

[code]

works.

I assume the reason is that there's no link between the lifetime in the bound on `F` and the one in the impl signature, my guess

[2016-05-03 06:41] birkenfeld opened #33366 "New errors: expected/found types omitted"
I found this when I wanted to see how the new errors look. (If this is still expected to be WIP, let me know and I won't report other such cases for a while.)

In this test case, the "expected/found" notes don't appear:
[code]

[2016-05-03 06:41] birkenfeld commented on #33366
/cc @nikomatsakis

[2016-05-03 06:56] #31221 closed

[2016-05-03 06:56] #30497 closed

[2016-05-03 06:56] #31341 closed

[2016-05-03 06:56] #29088 closed

[2016-05-03 06:57] #33266 closed

[2016-05-03 06:58] birkenfeld commented on #33366
Ah, I can see that this is because both types are "primitive", i.e. bool/char/int/float. In this case `is_simple_error` is true [here](https://github.com/rust-lang/rust/blob/44b3cd8c462a420ab64a44ef8f70c007001a1f44/src/librustc/infer/error_reporting.rs#L545) and `note_expected_found` is not called.

Previously, for these cases the "inner type error" in parens was omitted - which appears to be omit

[2016-05-03 10:15] lhecker opened #33368 "Incompatibility of Rust's stdlib with Coroutines"
#### The issue

`thread_local!` is used in the stdlib, which does not work well with Coroutines. Repeated access to a TLS variable inside a method might be cached and optimized by LLVM. If a coroutine is transferred from one thread to another this can lead to problems, due to a coroutine still using the cached reference to the TLS storage from the previous thread.

#### What is not the issue

TLS

[2016-05-03 13:04] KalitaAlexey opened #33374 "[E0207] if type parameter used only in impl constraints"
[code]

fails with error:
[code]

But this function compiles
[code]

[2016-05-03 13:27] hythloday opened #33375 "Non trait object safe return diagnostic needs improvement"
Here's some illegal code that generates a very reasonable error message:

[code]

Adding a function that references this broken trait changes the error message and is imho quite misleading:

[code]

The error code has changed from something that pinpoints exactly where I went wrong to something unrelated with advice that won't help me see my problem, and highlights the wrong place (the function th

[2016-05-03 13:35] rphmeier commented on #33364
Could you elaborate on why you believe the error message to be correct? It is my understanding that you can destructure tuples in a function or closure's argument list. This function is accepting a tuple as the argument but is not allowing destructuring within the argument list.

[2016-05-03 13:41] sanxiyn commented on #32986
LLVM backport merged in #33226.

[2016-05-03 14:09] sanxiyn commented on #31676
Closing this, as the bug is clearly in stainless syntax extension.

[2016-05-03 14:09] #31676 closed

[2016-05-03 14:09] sanxiyn commented on #32195
Closing this, as the bug is clearly in stainless syntax extension.

[2016-05-03 14:09] #32195 closed

[2016-05-03 14:09] sanxiyn commented on #32196
Closing this, as the bug is clearly in stainless syntax extension.

[2016-05-03 14:09] #32196 closed

[2016-05-03 14:12] tromey commented on #33192
Don't worry too much about what DWARF says.  It's fairly normal to extend DWARF in this way; very little is truly forbidden.

One way to look at it is that you're defining what the DWARF binding for Rust should be.

If you'd rather to back to using a namespace, that would also be fine for gdb.  The main issue here was that the name of that namespace changed from the type's name to `{{{impl}}}`, wh

[2016-05-03 14:18] nikomatsakis commented on #33366
cc @jonathandturner

[2016-05-03 14:38] sanxiyn commented on #33240
It seems to me that macro backtrace is always printed in old format.

[2016-05-03 15:13] nagisa commented on #33368
You could add a yet another way to panic as per https://github.com/rust-lang/rfcs/pull/1513, preferably in a way which circumvents any `catch_unwind`.

[2016-05-03 15:20] jonathandturner commented on #33240
@sanxiyn - we've got macro backtraces on our "to do" list, but we haven't really done much with them yet.

[2016-05-03 15:24] arielb1 commented on #33368
@lhecker

If `catch_unwind` did not run user code within the `with`, would it be better? In that case you still could not switch coroutines during a panic, but you would not have the reference problem.

[2016-05-03 15:26] ticki commented on #33240
When will the next nightly build be released?

[2016-05-03 15:29] jonhoo commented on #33307
@Manishearth: I'd love to see it also spell out which variable is of the non-`Sync` type. In this example, it's obvious, but for more complex examples, it can be tricky to figure out where you accidentally borrowed something (e.g., by using the wrong variable name).

[2016-05-03 15:40] larsbergstrom commented on #33278
@alexcrichton This should work fine for Servo! We already pass a special target triple to Rust different from the native dependencies on a few other ARM platforms, so we have support for mix-and-match in our driver (mach).

[2016-05-03 15:41] lhecker commented on #33368
@nagisa Would that work across crates? I'm also not sure if that would be easier than simply splitting up `catch_unwind` into it's 2 atomic parts.

@arielb1 yeah it would solve the reference problem, but then it would set the `prev` to the wrong thread. I think this could be the easiest solution as long as you make sure that `thread::panicking()` is false before you call `catch_unwind()`. If no ot

[2016-05-03 15:43] alexcrichton opened #33379 "Nightlies are currently broken"
[code]

This is likely related to a mixture of cross compilation and https://github.com/rust-lang/rust/pull/33093

[2016-05-03 15:57] arielb1 commented on #33375
The error message *is* correct - the trait `Foo` is not object-safe, as the method `apply` has no receiver. The impl has nothing to do with it.

[2016-05-03 16:00] arielb1 commented on #33375
Again: your declared a *perfectly fine* trait with a single static method. Then you wrote both a non-matching impl and a non-matching method. rustc reported the method, but not the impl.

[2016-05-03 16:02] arielb1 commented on #33374
This is as per rust-lang/rfcs#447. `<Action<Whatever> as SetValueAction>::execute` must refer to a single method, but there can easily be multiple types that implement `Value` and are valid for `BorrowMut`.

[2016-05-03 16:02] #33374 closed

[2016-05-03 16:25] dfockler commented on #32777
I'll work on E0374 and E0376

[2016-05-03 16:29] hythloday commented on #33375
No dispute that the error message is correct (or at least, not incorrect). My feeling is that it is _unhelpful_ - the code, whether in the presence or absence of `lookup`, is erroneous in the same way, and the error message in the first example is the correct one to emit even in the presence of `lookup`. No changes to `lookup` can be made that will make this code compile, so it's unhelpful to high

[2016-05-03 17:04] nagisa commented on #33368
The RFC requires only one panicking mechanism to be used in the final binary.

If we want to think about that at all we gotta act fast, because 1.9 with a stable `catch_unwind` is being released in 2016-05-26.

Something towards this would be *my* preferred solution, but keep in mind that `thread_local!` itself is a wrapper over many layers of abstractions over TLS (any of which could be used anyw

[2016-05-03 17:18] Manishearth commented on #33307
Yeah, that's a good idea. It shouldn't be too hard to do either.

[2016-05-03 17:41] cramertj commented on #32777
I'll do E0506 next.

[2016-05-03 17:49] GuillaumeGomez commented on #32777
\o/

[2016-05-03 17:55] lhecker commented on #33368
I don't think another panic behaviour is the right choice here @nagisa, since changing the "obversable" behaviour of panic isn't really what coroutine implementations need. Rather the API or the implementation has to change. Maybe I misunderstood your idea though...

Hooking into `thread_local!` would also be my preferred choice if it can be done in a way that doesn't hinder performance. To get a

[2016-05-03 18:07] mbrubeck commented on #33278
The armeabi-v7a API requires VFPv3-D16, so this should be safe to use in the `armv7` target.

This has one downside that may be unavoidable: The Android NDK toolchain uses the target triple `arm-linux-androideabi`, not `armv7-linux-androideabi`.  This means that `armv7-linux-androideabi` will not work for existing crates that assume the rustc target matches the Android NDK target, for example the

[2016-05-03 19:13] ryanq commented on #28419
@nikomatsakis I'm interested in working on this issue to get my feet wet working with rustc. Any pointers/links for where I should start looking? I'll be looking at the source to see what I can find on my own.

[2016-05-03 19:18] petevine opened #33387 "MIR related ICE: Title N/A"
Continuing from https://github.com/rust-lang/rust/issues/33295#issuecomment-215999442 but using a newer rustc (`0eb575c70`):

[code]

RUSTFLAGS = `-C target-cpu=cortex-a5 -C target-feature=+vfp4,+neon -C llvm-args=-force-target-max-vector-interleave=4 -C codegen-units=1 -C link-args=-s -Z orbit`

Error:

[code]

Any suggestions on how to narrow it down welcome.  Please edit the title to reflect th

[2016-05-03 20:08] petevine commented on #33387
Oh, I wasn't aware I could use a non-MIR bootstrapped rustc. I'll try using my special debug build (only a third time it will have been used, lucky?)

[2016-05-03 20:52] alexcrichton opened #33390 "Spurious JSON parsing failure on bots"
http://buildbot.rust-lang.org/builders/auto-win-gnu-32-nopt-t/builds/4079/steps/test/logs/stdio
https://gist.github.com/alexcrichton/997dd9cae99b934f945a01082d99313b
https://github.com/rust-lang/rust/pull/33376#issuecomment-216634970

[code]

I've seen this a few times at this point, not really sure what's going on.

cc @nikomatsakis, @jonathandturner -- the failure message here is unfortunately h

[2016-05-03 21:08] jonathandturner commented on #33390
@alexcrichton - do you have access the output it's failing to parse as json?

[2016-05-03 21:09] jonathandturner commented on #33390
I guess we could dump what we couldn't parse to stdout...

[2016-05-03 21:15] nagisa commented on #33387
Is there a backtrace? (environment variable RUST_BACKTRACE = 1)

[2016-05-03 21:20] drbo commented on #33297
These passes can be disabled by default if they take too much time.

[2016-05-03 21:33] brson commented on #33278
It concerns me that I don't see google defining *target triples* for all their ABI's - as @mbrubeck says they seem to just always use `arm-linux-androideabi` and disambiguate the ABI's some other way. So we're out on a limb defining our own target triples to map to their ABIs.

[2016-05-03 21:49] nikomatsakis commented on #33390
Possibly https://github.com/rust-lang/rust/pull/33313 ?

[2016-05-03 21:49] nikomatsakis commented on #33390
We could certainly dump the full output, yeah.

[2016-05-03 22:08] alexcrichton opened #33391 "Spurious LLDB timeout on bots"
http://buildbot.rust-lang.org/builders/auto-mac-64-opt-rustbuild/builds/975/steps/test/logs/stdio
https://gist.github.com/alexcrichton/18dc31bdc5d063e70621b9fb7c839d46
https://github.com/rust-lang/rust/pull/33128#issuecomment-216675221

I've definitely seen this one quite a few times unfortunately. The LLDB tests will time out and cause the build to fail, not sure why! Let's hope this tracking iss

[2016-05-03 22:09] alexcrichton commented on #33390
That'd probably do it, yeah. In general though it seems like the diagnostic of a failed test could be greatly improved to include things like the process exit code, process stdout/stderr, etc.

@jonathandturner unfortunately there aren't these kind of logs for the tests :(

[2016-05-03 23:11] jonathandturner commented on #33390
Working on a quick fix to dump the failing input

[2016-05-03 23:19] alexcrichton commented on #33390
Another: https://github.com/rust-lang/rust/pull/33376#issuecomment-216692711

(different test this time)

[2016-05-03 23:57] petevine commented on #33387
No trace, obviously.

Ok, my debug build from Apr 7th managed to hit an assertion but it's the same as:

https://github.com/rust-lang/rust/issues/32360#issuecomment-201452408

It's not clear to me if it'd been fixed before that date (`470ca1c3f`) but it's probably not the issue we were looking for.  I'll post a backtrace shortly.

[2016-05-04 00:11] Aatch commented on #33364
@rphmeier ah, I was focussed on the error and missed the fact that the first case works on stable. It's not about whether or not you can or can't destructure in an argument list (you can). The error is about a type-mismatch. The use of higher-ranked lifetimes here isn't correct, and causes the types not match. Why the let-destructuring works on stable is beyond me though.

[2016-05-04 00:42] cristianoliveira commented on #32777
Hey @GuillaumeGomez
It seems that E0507 has been done. Take a look here: https://github.com/rust-lang/rust/blob/44b3cd8c462a420ab64a44ef8f70c007001a1f44/src/librustc_borrowck/diagnostics.rs#L317

Please check the E0507 on the list.

Also, I've verified the entire list and the other seems ok. I just noticed that the E0519 is duplicated. Take a look:

- Here says that it is a Type error:
https://git

[2016-05-04 01:01] petevine commented on #33387
The compilation finished ok without mir so it must be it:

[code]

[2016-05-04 01:05] zonyitoo commented on #33368
I still cannot get the idea behind the `PANIC_COUNT`, because it just allows people to panic inside `Drop::drop` while panicking. But why is that?

If we can remove the `PANIC_COUNT`, and just store a boolean flag in TLS to indicate that whether this thread is panicking, this issue could be solved. I don't know why we need to accept panic in `drop`?

[2016-05-04 01:37] frewsxcv commented on #33379
Cool, glad to see my regression test doing something :)

[2016-05-04 02:44] durka commented on #33356
Where is that quote from exactly? Not in the top-level README.md.

[2016-05-04 03:45] Aatch commented on #33375
@hythloday they're different kinds of errors. The first one is reporting the invalid method in the impl, the second error is actually a trait-object error. Moreover, the error is pointing to where the error is occurring, as that should ideally provide more context. The compiler doesn't know that you actually meant to write `fn apply(&self)` in the trait or if you actually meant to use a different

[2016-05-04 04:21] Aatch opened #33394 "Stable features warning should note the version stabilized, if available."
I use several feature gates in Ramp, two of which are now stable. However, since I use the nightly compiler, I have no idea if they're stable in the stable build of the compiler without going and investigating when they were stabilized. It would be nice if it said which version they were stabilized in so I just have to check which version the stable release is.

[2016-05-04 05:36] sfackler commented on #33368
`PANIC_COUNT` doesn't "allow" people to panic inside drop while panicking - it allows the runtime to determine that has happened so it can abort instead of re-unwinding.

`PANIC_COUNT` is a number stored in TLS, and I'm not sure how changing that to a bool would materially affect the issues here.

[2016-05-04 06:41] lhecker commented on #33368
@sfackler Yeah making it a bool wouldn't solve it probably. But why is this implemented in the "runtime" instead of doing it like C++ with it's `noexcept` destructors? Is there any technical reason for this? And what about the other solutions I listed in the initial comment?

[2016-05-04 06:50] zonyitoo commented on #33368
Well, yes. Changing it to bool won't solve all the problem. But, at least, `catch_panic` will work:

[code]

I think this solution can also fulfill this purpose and `catch_panic` can be used in coroutines now.

[2016-05-04 07:47] Nercury commented on #33278
@brson I guess their idea is that the requested abi carries enough options for `arm-linux-androideabi` to do the job, however those options also include path to the precompiled libraries to use. If we were to follow this, we would need some option for rust to change what precompiled std libraries to use and what "target variant" to produce.

Of course, the "target variant" must match variant used

[2016-05-04 08:03] Nercury commented on #33278
FYI, to cover all performance needs, users would be interested in these targets:

### `arm`

This target is guaranteed to work on all `arm` abi android devices

- No hard-float
- Soft-float ABI calls
- No thumb [some sources say that thumb on armv6 slows down fp calculations](http://stackoverflow.com/a/3311608/1187538)

### `arm-v7a`

This target is guaranteed to work on all `arm-v7a` abi android

[2016-05-04 08:44] MrSpock opened #33395 "Missing support ARM9 (soft-float) or install script error."
I tried to install rust on Arietta G25 board (http://www.acmesystems.it/arietta) and I got following error:
`root@arietta:/home/spock# curl -sSf https://static.rust-lang.org/rustup.sh | sh
rustup: gpg available. signatures will be verified
rustup: unknown CPU type: armv5tejl`

Does rust support ARM with soft-float  like one below  ?:
`root@arietta:/home/spock# uname -a`
`
Linux arietta 4.4.4 #3 Su

[2016-05-04 09:17] nagisa commented on #33368
Because unwind in Rust is always a cold path and we do not want to generate extra drop glue just to accomodate for unwinds from drop glue.

[2016-05-04 09:22] nagisa commented on #33395
Technically, there’s no reason it shouldn’t support it, but practically we do not ship prebuilt binaries for non-armv6/7. You will have to cross-compile rust for the target (and provide the target specification) on your own.

[2016-05-04 09:26] nagisa commented on #33278
I think the float abi should be hard-float by default. It also seems to me like adding a different target for soft-float/hard-float distinction is not very interesting, because one can enable this by using some codegen flag when using the other target.

[2016-05-04 09:52] nagisa commented on #33387
Okay so this is casting

[network::host::Host](https://github.com/ethcore/parity/blob/58fd0175bf2cbd6fb55967bcff337bcbb1522636/util/src/network/host.rs#L319)<[network::tests::TestProtocolMessage](https://github.com/ethcore/parity/blob/58fd0175bf2cbd6fb55967bcff337bcbb1522636/util/src/network/tests.rs#L33)>

to

[io::IoHandler](https://github.com/ethcore/parity/blob/58fd0175bf2cbd6fb55967bcff337bcb

[2016-05-04 09:53] lhecker commented on #33368
Hmm... Your statement sounds reasonable, but is that based on actual benchmarking?

I kind of don't understand that though, because if your destructor can panic, it will one time correctly unwind the thread and one time it will crash the whole program, because the destructor was called as part of a ongoing unwind. I can't say I like that "wonkyness". If you have time: Would you care to point out a

[2016-05-04 10:42] GuillaumeGomez commented on #32777
And the blame says that I am the one who added it haha. Thanks for finding it!

Strange... It corresponds to this [E0519](https://github.com/rust-lang/rust/blob/470ca1c3ff33cd046f71a5453f8f520da4cd387e/src/librustc_lint/types.rs#L350). So I guess the crate error is the "false" one.

However this is a lint error code. I don't know how they're supposed to work... cc @Manishearth

[2016-05-04 10:55] jonas-schievink commented on #33368
@lhecker The compiler's own `DiagnosticBuilder` can panic in its destructor: https://github.com/rust-lang/rust/blob/3157691f963a86776cb7e6a7842f566032890aba/src/libsyntax/errors/mod.rs#L354-L364

[2016-05-04 11:27] Nercury commented on #33278
@nagisa I am re-reading [armeabi-v7a (armeabi-v7a-hard) section], looks like it should be ok to enable Hard-float ABI calls on `arm-v7a`, as long as all linked binaries are using it.

I agree that separate target for hard(er) float does not look practical.

[2016-05-04 12:12] sanxiyn commented on #33111
nickel seems to exhibit an extreme form of this. With nightly-2016-04-29 (which includes #32980), LLVM takes nearly 8x longer.

[code]

[2016-05-04 12:58] funny-falcon commented on #29754
No conclusion here?

Six month discussion of couple of numbers and no conclusion?

SipHash author confirms the issue's objective, and no conclusion?

Even negative conclusion... just some conclusion...

I'm sad.

[2016-05-04 13:33] arthurprs commented on #29754
As a reminder, I posted some results here https://github.com/rust-lang/rust/issues/29754#issuecomment-156211072

[2016-05-04 13:36] ticki commented on #29754
@funny-falcon, don't get me wrong, it is _cryptographically_ secure, but bruteforcing is still very much feasible, due to the modulus being very low.

[2016-05-04 13:45] funny-falcon commented on #29754
@ticki , i'm not understand, what do you mean by "modulus" ? And how you will "bruteforce" 64bit result function with 256 internal state, which result you can't get (cause it is only for internal hash tables)? which is seeded with random 128bit key, and has no "Seed Independent Collisions"?

Do you really understand what are you talking about?

[2016-05-04 13:50] aochagavia opened #33397 "save-analysis: UFCS are not dumped as type references"
### The code

[code]
### CSV dump

As you can see, there is no reference to `Clone`

[code]

cc @nrc

[2016-05-04 13:51] ticki commented on #29754
Oh, it is seeded? Well, sorry. Then it is a non-problem. I thought it wasn't seeded.

[2016-05-04 14:04] aochagavia opened #33398 "save-analysis: don't leak information about constructor ids"
_Note: the paths in this issue assume that https://github.com/rust-lang/rust/pull/33370 is merged_
### Problem

`external_data::StructData` contains a `ctor_id` field that represents the `Id` of the struct constructor. However, this adds no value to the client of the API, since `decl_id` is enough to identify a struct.

Currently, some type references contain a `ref_id` that corresponds to the `ct

[2016-05-04 14:12] Manishearth commented on #32777
No idea what's going on there

[2016-05-04 14:13] SimonSapin commented on #28498
I think this should be reopened with the `B-unstable` label. The RFC is implemented, but the `#[unsafe_destructor_blind_to_params]` attribute is still behind the [`dropck_parametricity`](https://github.com/rust-lang/rust/blob/1.8.0/src/libsyntax/feature_gate.rs#L149) feature gate which points to this as its tracking issue.

`#[unsafe_destructor_blind_to_params]` is used for `Vec` and a number of o

[2016-05-04 14:19] bluss commented on #29754
I wouldn't say no conclusion. My impression of this thread is that there's no problem with implementing the SipHash13 usage. IMO: Only implementation is missing (send a PR).

Don't throw around “*cryptographically secure*”. It is a hash function family designed by cryptographers. They have a paper where the properties and non-properties of their algorithm are described, and why they think it's a g

[2016-05-04 14:20] aochagavia opened #33399 "save-analysis: enum variants are dumped as `VariableRefData` instead of `TypeRefData`"
### Code

[code]

### CSV output

[code]

@nrc is this intentional? I realize an enum variant is not really a type, but I wouldn't say it is a variable ref either.

[2016-05-04 14:21] nikomatsakis commented on #28498
I agree.

[2016-05-04 14:34] plietar commented on #32796
There's a usecase for `#[cfg]` on expressions I find useful :

[code]

allowing multiple backends to be enabled at compile time using cargo features, and choosing one at runtime.
The alternative is to list all 2^N combinations, or use some macro magic to generate them ([I've had to resort to this in order to stay on stable](https://github.com/plietar/librespot/blob/c76b7b4/src/audio_backend/mod.rs

[2016-05-04 14:38] ticki commented on #29754
@bluss, you're right.

[2016-05-04 14:38] GuillaumeGomez commented on #32777
Well... Thanks! :laughing:

[2016-05-04 14:42] aidanhs commented on #32281
I have effectively the same use-case as @sgrif, +1 from me.

[2016-05-04 14:47] cristianoliveira commented on #32777
<img src="http://i.imgur.com/qhMbkGi.jpg" width="200" />
(Sorry guys, I had to use this meme again... :laughing: :laughing:)

[2016-05-04 15:47] KalitaAlexey opened #33400 "Associated type cannot have bound that uses that type"
This works:

[code]

That fails:

[code]

[2016-05-04 15:50] KalitaAlexey commented on #33400
This works:
[code]

[2016-05-04 17:12] alexcrichton commented on #33244
The toosl team discussed this issue at triage and the decision was to name `target_env` as either gnu or musl instead of also gnueabi/musleabi. I'll send a PR shortly

[2016-05-04 17:18] alexcrichton commented on #28224
The tools team discussed this issue during triage yesterday and the conclusion was that while not high priority we would very much like to see this issue fixed! The `--enable-valgrind` option [mentioned by @apasel422 above](https://github.com/rust-lang/rust/issues/28224#issuecomment-138725566) seems like the best fix here, and we'd just want to investigate if that has any runtime impact or affect

[2016-05-04 17:20] alexcrichton commented on #33278
The tools team discussed this issue during triage yesterday, and the decision was to:

1. Add an `armv7-linux-androideabi` target corresponding to the `armeabi-v7a` official ABI
2. Eventually change `arm-linux-androideabi` to correspond to the `armeabi` official ABI
3. Bring other targets (e.g. `i686-linux-android`) in line with the official ABIs

Along those lines, @Nercury could the new target b

[2016-05-04 17:21] alexcrichton commented on #33278
It was also thought that we may not want to change the current `arm-linux-androideabi` target for a cycle or two to ensure we have enough time to message to everyone about the change.

[2016-05-04 17:27] winks commented on #33356
@durka I downloaded https://static.rust-lang.org/dist/rust-1.8.0-i686-unknown-linux-gnu.tar.gz and found it there.
Didn't go out of my way to search where that README comes from.

[2016-05-04 17:29] ollie27 commented on #33244
There should probably also be a good way to distinguish between statically linked musl and dynamically linked musl targets.

[2016-05-04 17:35] ollie27 commented on #33278
Can we even support `armeabi` as it is ARMv5 which I thought didn't have proper atomic support?

[2016-05-04 17:41] alexcrichton commented on #33278
Yes, LLVM has fallbacks which we can rely on.

[2016-05-04 17:45] Manishearth opened #33405 "Long error diagnostics should not show compiletest/highlighting metadata in text mode"
e.g.

[code]

Stuff like ```` ```compile_fail ```` shouldn't show, just the backticks.

cc @GuillaumeGomez @steveklabnik

[2016-05-04 17:59] GuillaumeGomez commented on #33405
I'm on it!

[2016-05-04 18:11] Nercury commented on #33278
Yes, I changed latest name to be armv7, because android's LLVM configured for arm-v7a produces this header:

[code]

Which contains `armv7`, not `armv7a`.

I imagined to make use of rust std lib compiled with this option. However it is removed in latest android abi docs so I don't think we will make use of it.

[2016-05-04 18:38] alexcrichton commented on #33278
Yeah we can enable the "7a" features through LLVM features I think rather than having to communicate it as part of the triple name

[2016-05-04 20:11] nagisa commented on #33368
Implementing nounwind drop glue would simply double the size of binary code used by drop glues. There’s nothing to benchmark here.

One case, as pointed out by @jonas-schievink, would be ensuring that all objects go out of scope in a valid state. You cannot drop a `DiagnosticBuilder` without either emitting or cancelling it, because its a compiler bug otherwise. Similar could apply to something li

[2016-05-04 20:14] lhecker commented on #33368
Aaaah... That makes sense! That's actually a really good argument for panicking drops. Thanks! :blush:

[2016-05-04 20:16] petevine commented on #33111
Apart from being slower, what's the reason for much larger code size it generates? (e.g. a newly bootstrapped `lib` directory weighs at 208M vs 180M normally)

[2016-05-04 20:44] nrc commented on #33399
It's kind of intentional since regular variants are both values and types, so we just picked one. Given struct variants are only types, it might make sense to make all variants types. (Note they aren't actually types, but they are in the type namespace, that might be why I didn't use a Type ref)

[2016-05-04 20:51] cramertj commented on #32777
I'm going to start on E0389.

[2016-05-04 21:33] petevine commented on #33395
Yeah, the soft-float `arm-unknown-linux-gnueabi` should be downgraded to ARMv5.

Meanwhile, @MrSpock, have a look here:
https://github.com/joerg-krause/rust-cross-libs/

[2016-05-04 22:14] petrochenkov opened #33413 "`fn f(*) {}` successfully compiles in method position"
[code]
prints `10` on stable/beta/nightly.

This is the coolest syntax I've seen this year, now I'll always use `*` instead of `self` to save 3 keystrokes.

[2016-05-04 22:37] durka commented on #33413
Lol, this is great. So the `*` token is parsed [here](https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/parser.rs#L4705-4721) and it fabricates a `self` ident so it doesn't have to panic. But if there is no `self` after the `*` then line 4716, which emits the actual error, never executes.

[2016-05-04 22:45] petrochenkov commented on #33413
(I'm auditing parsing/resolution of `self` for hygiene issues, so I'll fix this as well.)

[2016-05-04 22:51] nagisa commented on #33111
For the same reasons it takes longer to compile. I believe that fixing one will fix another.

Then again, MIR already generates more correct code than the old trans on some corner cases. It should cost some bytes too.

[2016-05-04 23:07] cramertj commented on #32777
@GuillaumeGomez Just to check your personal preference-- would you rather review commits prior to squashing (my personal preference) or just have us squash as we go? I personally think it's easier to have things laid out in multiple commits to see what changed over the reviewing process, then squash after review.

[2016-05-04 23:11] GuillaumeGomez commented on #32777
Since it's generally small commits (< 200 lines), I don't really mind. If you didn't squash once everything's done, I'll ask you to do it anyway. So as you prefer. You can squash every time you update or do it at the end. No personal preference here.

[2016-05-04 23:26] alexcrichton opened #33416 "Document that T: Copy + Clone should have "obvious" Clone impl"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1521

[2016-05-04 23:28] alexcrichton opened #33417 "Tracking issue for TryFrom/TryInto traits"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1542

----

To do:

* [ ] Is existing documentation satisfactory?
* [x] https://github.com/rust-lang/rust/pull/56796 Change bounds on `TryFrom` blanket impl to use `Into` instead of `From`
* [ ] (Re)stabilization PR

[2016-05-04 23:43] alexcrichton commented on #32822
The libs team discussed this issue during triage today and the conclusion was that we probably want to do this as it basically means "more code works" at only the slight cost of readability in the docs.

Before this is done, however, we'd like to see a bit of a small survey of the rest of the standard library that this pattern could also apply. For example the `contains` method on slices could lik

[2016-05-04 23:54] cristianoliveira commented on #32777
Hey @GuillaumeGomez I am not sure if we've reached some conclusion... About E0519, Can I remove the crate one?

[2016-05-04 23:56] GuillaumeGomez commented on #32777
I have absolutely no clue. If @Manishearth doesn't know, I think it means we're in trouble.

[2016-05-04 23:58] vi opened #33418 "Diagnostic when trying to use `!` or `?` in trait is confusing."
[code]

[code]

OK, let's try `?`:

[code]

[code]

Why were you expecting `?` then?

[2016-05-05 00:38] #23716 closed

[2016-05-05 00:38] #33275 closed

[2016-05-05 00:38] #33291 closed

[2016-05-05 00:38] #33302 closed

[2016-05-05 00:38] #32214 closed

[2016-05-05 01:52] jethrogb opened #33419 "Document memory usage of sort() family of functions"
Quote from `#rust` IRC:

This is not what I'd expect when I read [“Sorts the slice, in place.”](https://doc.rust-lang.org/stable/std/vec/struct.Vec.html#method.sort). The documentation should be improved by including the memory usage.

[2016-05-05 02:06] cramertj commented on #32777
I'm working on E0212, and have gotten a bit stuck. Does anyone have an idea how to simplify [this code](https://play.rust-lang.org/?gist=e94f1322a6d65cb9174688b01bdd651a&version=stable&backtrace=0) to make it more beginner-comprehensible? I've messed with it a bit and haven't managed get the same error with simpler code.

[2016-05-05 02:15] Aatch commented on #33400
For reference, this works (http://is.gd/7U2Oaa):

[code]

[2016-05-05 02:16] vincom2 commented on #30706
How did you get gdb on OS X to load the necessary pretty-printing scripts?

[2016-05-05 02:31] cramertj commented on #22501
@eddyb Just found this-- what's the current status? Still easy?

[2016-05-05 02:35] cramertj commented on #25574
@eddyb @nikomatsakis Is this still E-easy or similar? I'd be interested in contributing if possible.

[2016-05-05 02:36] eddyb commented on #22501
@cramertj Well, I gave up on trying to remove integer suffixes from the language, before 1.0 I was convinced we could replace them with type ascription.
And the tools I used to automatically check actual impact are beyond rebasing.

One can still clean up existing code by hand, of course.

[2016-05-05 02:38] eddyb commented on #25574
@cramertj The transition to MIR-based constant evaluation should fix this.

[2016-05-05 02:43] alexcrichton opened #33421 "clone_read"

[2016-05-05 02:43] #33421 closed

[2016-05-05 02:43] alexcrichton commented on #33421
oops

[2016-05-05 02:56] shssoichiro commented on #32777
Is it possible that some of these error codes are unreachable? E.g. Any attempts I've tried that resemble the description of E0298 or E0299 are covered by E0308 or E0053.

[2016-05-05 03:26] jbcden opened #33422 "Missing context from Error Handling section of The Book"
In the [Adding Functionality section](https://doc.rust-lang.org/book/error-handling.html#adding-functionality) of the Error Handling guide, a line with `args.flag_quiet` is referenced. This is not a standard method and after doing some googling I found [this post](http://blog.burntsushi.net/rust-error-handling/). It would seem a few sections regarding the creation of a custom `Args` struct were re

[2016-05-05 03:27] benpye commented on #26764
Just to add, this is currently affecting WSL too, after applying the patch given (updated for current master), rust seems to run fine there. I equally can't find any way of specifying not to apply the SHF_ALLOC flag to the section with the LLVM API...

[2016-05-05 03:55] sfackler commented on #33419
The allocations are documented on `sort_by` and `sort_by_key`, but not `sort` for some reason.

[2016-05-05 03:59] timothy-mcroy commented on #32777
@cramertj You can safely take out Foo.get.  It may be worthwhile to also switch Display for another trait, like `pub trait X {}` to make it more general. I'm personally a fan of `bar` vs `foo2`. From there, I think it's pretty concise for an example.

It might be worth mentioning that [Higher Ranked Trait Bounds](https://doc.rust-lang.org/nomicon/hrtb.html) are actually in the rustonomicon and are

[2016-05-05 03:59] jethrogb commented on #33419
For `sort_by_key` it would also be good to know whether it's `2*n*sizeof::<T>` or `2*n*sizeof::<B>` or something else entirely.

[2016-05-05 04:28] durka commented on #33418
The unhelpful answer is "because the same code is used to parse generic type parameters and this part of a trait declaration, so the error isn't detected until we're in too deep"... but it should just give a better message from the beginning.

[2016-05-05 04:37] cramertj commented on #32777
@timothy-mcroy Thanks! BTW, I added Display so I could add a `println` justifying the exercise in `main`.

[2016-05-05 04:38] cramertj commented on #25574
Ah, okay. Thanks.

[2016-05-05 09:27] nox commented on #25053
We need this for FFI with C and C++ too, where it would be nice to be able to tell that some struct fields may change through unknown means.

[2016-05-05 09:40] arielb1 commented on #25053
+1

[2016-05-05 09:43] arielb1 commented on #33400
You can always write the trait explicitly:

[code]

[2016-05-05 09:50] KalitaAlexey commented on #33400
@arielb1 Thanks for workaround, but this is a bug, am I right?

[2016-05-05 10:05] arielb1 commented on #33400
More like a limitation.

The problem is that you can't write
[code]

Because that must be expanded to `T: Trait<<T as Trait<$0>>::A>` for some `$0`, and there is no way to figure out which `$0` to use. The cycle check must forbid that.

We can be smarter there and not do the check for associated types.

[2016-05-05 10:08] KalitaAlexey commented on #33400
I am compiling rustc. I am going to try to fix that.

[2016-05-05 10:23] GuillaumeGomez commented on #32777
@shssoichiro: It's absolutely possible. If you can demonstrate that these error codes are never reached, then they can be commented out (and then please open a PR to do so).

[2016-05-05 10:24] GuillaumeGomez commented on #32777
@cramertj: Nice idea! Don't hesitate to make example longer if it makes the understanding easier.

[2016-05-05 10:26] Manishearth commented on #32777
Beware that there are errors which may become reachable after a refactor (basically, errors which are actual errors but are caught earlier in the pipeline). We don't want to remove errors entirely and replace them with unreachable!() and cause ICEs in the future if things switch around a bit. In such cases the error code shouldn't be commented out, instead it should just be marked as unreachable,

[2016-05-05 12:51] #33037 closed

[2016-05-05 13:13] CodesInChaos commented on #27809
What I don't like about these is that the API hardcodes the assumption that the result has the same length as the input. While that assumption holds for ASCII, it makes it impossible to offer a unicode version with the same signature.

[2016-05-05 13:40] jimmycuadra commented on #31645
I don't think @erickt works on Serde very actively at this point, since he has lots of other duties. Is there another maintainer that should be CCed on this issue?

[2016-05-05 13:44] raphaelcohn opened #33432 "Why can I not use a type alias in #[repr()] on an enum?"
I'd like to use a type alias, in this case `c_int`, as the `repr` of an enum. For example, in this code snippet:-

[code]

(Note, `LOG_KERN` is not yet defined in `libc`, but I'm working on a PR for it). The type alias for `LOG_KERN` is `c_int`, which resolves to `i32` on Mac OS X.

Whilst I can use a `repr` of `i32`, I'd rather not. Whilst in this particular case it's very highly unlikely that th

[2016-05-05 14:12] Manishearth commented on #31645
I was going to start doing serde ups but I haven't had the time and I might not get it for a month.

[2016-05-05 14:30] colonelmo opened #33433 "Panic when piping rustc output to a non existent program"
[code]
Here is the problem:
[code]

[2016-05-05 14:40] steveklabnik commented on #33432
Welcome!

So, in general, question-type things are best posted to https://users.rust-lang.org/ or http://internals.rust-lang.org/ , I would say this leans more internals. We try to keep the bug tracker for bugs only.

However, as it just so happens, [an RFC was opened a few days ago](https://github.com/rust-lang/rfcs/pull/1605) for this exact issue, so I'd suggest you get involved over there!

Tha

[2016-05-05 14:40] #33432 closed

[2016-05-05 15:28] raphaelcohn commented on #33432
Thank you. I'll get on to the RFC...

[2016-05-05 15:49] jonathandturner commented on #33240
@ticki - @alexcrichton is currently working on it.  There was a hiccup in the nightly build that he's looking into.

[2016-05-05 15:50] alexcrichton opened #33434 "Spuroius access violation on Windows"
http://buildbot.rust-lang.org/builders/auto-win-gnu-64-opt/builds/4086/steps/test/logs/stdio
https://gist.github.com/alexcrichton/847ad18aec0a73d342838e5d8ed683a7
https://github.com/rust-lang/rust/pull/33086#issuecomment-217176894

[code]

The exit code 3221225477 is 0xC0000005 in hex which correspond to an access violation. Basically this is a spurious segfault on Windows (I think).

I've seen th

[2016-05-05 15:58] alexcrichton opened #33435 "Spurious rbml failure in incremental tests"
http://buildbot.rust-lang.org/builders/auto-linux-64-opt-rustbuild/builds/983/steps/test/logs/stdio
https://gist.github.com/alexcrichton/df863e77c5c5de902151c189b7319d71
https://github.com/rust-lang/rust/pull/33091#issuecomment-217191997

[code]

Looks like either these files are being read/written concurrently or we've got stale artifacts from previous builds.

cc @michaelwoerister, thoughts?

[2016-05-05 16:06] alexcrichton commented on #33434
Failures like https://github.com/rust-lang/rust/pull/33072#issuecomment-217116368 ([full](https://gist.github.com/alexcrichton/0898428a9112c5aa9496940a4593baa2)) make me think that this is some crazy thing because **rm** segfaulted. I could be wrong though.

[2016-05-05 16:09] alexcrichton commented on #33433
I believe this is a dupe of https://github.com/rust-lang/rust/issues/30972 closed in favor of https://github.com/rust-lang/rust/issues/14505 which is [fixed on nightly](https://github.com/rust-lang/rust/issues/14505#issuecomment-196380065)

[2016-05-05 16:09] #33433 closed

[2016-05-05 16:26] dhardy opened #33436 "ICE in recent rustc version"
I don't know whether this was already reported. I get an ICE when running `cargo test` on [this Pippin version](https://github.com/dhardy/pippin/commit/ea988f0cfee6136749d63fe620a8f38b69600c1e) (also the previous commit, didn't test others).

[Compiler output](https://gist.github.com/dhardy/b811866331223a9eca7eb957bd35134b)

[code]

An older version works fine:

[code]

[2016-05-05 17:08] aturon commented on #25053
Nominating for libs team discussion.

[2016-05-05 18:02] nikomatsakis commented on #28419
@ryanq hmm. That error occurs in the "borrow check" code (`librustc_borrowck`). I think specifically in the `gather_loans` pass, iirc. That pass walks a data structure called a `cmt` (category-mutability-type) that basically breaks down a path. I think from the cmt we could deduce that what you have is an mutable borrow of something that is immutable due to the fact that it is using an overloaded

[2016-05-05 18:42] nikomatsakis commented on #32486
If we had coarse-grained buffering -- ideally, I think, an entire message along with its subsidiary notes and such -- that would be best, right? This interestingly interacted with the new-style error messages as well, in that our current output requires a multi-line regex to match, but emacs at least had trouble because we would flush before all parts were there, and it wouldn't know to reconsider

[2016-05-05 18:52] nikomatsakis commented on #33096
triage: P-low

[2016-05-05 19:56] troplin commented on #27802
IMO 1 byte lookahead is not enough to guarantee that no data is lost in case of error.
Consuming valid subsequences should *not* be allowed because if it continues with an invalid byte, the formerly valid subsequence is invalidated and there's no possibility to "unconsume" it.

If anyone is interested, I've implemented this and other changes to the `std::io`-traits in my crate [`netio`](https://cr

[2016-05-05 20:08] nikomatsakis commented on #33344
triage: P-high

[2016-05-05 20:09] nikomatsakis commented on #33015
triage: P-medium

[2016-05-05 20:12] nagisa commented on #33436
cc @eddyb has Callee in trace.

[2016-05-05 20:13] nikomatsakis commented on #29328
So while it's true that this bug allows you to name the `Output` parameter, in a sense, of the `Fn` traits, which we are normally not permitting, I don't think there is any plan to change the `Fn` traits in a way that would make this a *problem*. Still, an interesting thing.

[2016-05-05 20:13] nikomatsakis commented on #29328
In particular, we are more concerned about the *input argument* types, which may want to become variadic or otherwise change.

[2016-05-05 20:13] nikomatsakis commented on #29328
triage: P-medium

[2016-05-05 20:13] nikomatsakis commented on #29328
Closing as dup of #24010

[2016-05-05 20:13] #29328 closed

[2016-05-05 20:14] nikomatsakis commented on #24010
Note that @durka points out in #29328 this does technically allow one to violate some stability restrictions, but probably not in a way that matters:

[code]

[2016-05-05 20:16] nikomatsakis commented on #33364
triage: P-high

[2016-05-05 20:59] eddyb commented on #33436
My guess is `Callee::trait_method` or `meth::get_impl_method` needs to normalize the substitutions/`TraitRef`.

[2016-05-05 21:33] alexcrichton commented on #30607
Discussion happened on https://github.com/rust-lang/rust/pull/33396, but the conclusion was that we probably don't want to do this, so I'm going to close this.

[2016-05-05 21:33] #30607 closed

[2016-05-05 21:57] jashephe commented on #31682
Are there any recommended work-arounds for this? I just ran into the same problem (entertainingly, with pretty must the exact code posted in the test case). Has there been any progress on an RFC addition?

[2016-05-05 22:35] tbu- opened #33444 "Tracking issue for `Cell::get_mut` and `RefCell::get_mut`"
These methods allow one to obtain a mutable reference to the interior of these cells if you have a mutable reference to the cells themselves.

[2016-05-05 22:56] tbu- commented on #33444
As stated in https://github.com/rust-lang/rust/pull/32565#issuecomment-217109082, I think that a better name for these methods would be `as_mut`.

[2016-05-05 22:59] SnirkImmington opened #33445 "Compiler panic when matching on a reference to an enum with an unsized variant IF the field isn't being used"
The compiler panics when matching on a reference to an enum containing a variant which is unsized **IF** the variable isn't being named.

### Code

I tried this code on the playground and my local machine, on stable and nightly compilers:
[code]
`error: internal compiler error: ../src/librustc_trans/type_of.rs:166: Unexpected tail in unsized_info_ty: registry::types::RegistryData for ty=registry::

[2016-05-05 23:09] jonas-schievink commented on #33445
Duplicate of #32765

[2016-05-05 23:11] SnirkImmington commented on #33445
@jonas-schievink That report doesn't mention hidden values, and it's about trait objects

[2016-05-05 23:26] jonas-schievink commented on #33445
The issue is that the compiler doesn't properly handle unsized enums (which can be created by putting a trait object or a slice directly in them), which can result in errors when you just look at them sharply. All ICEs of this sort have the same message, indicating that it's the same issue: "Unexpected tail in unsized_info_ty". So this actually also seems like a duplicate of #16812

[2016-05-05 23:38] eddyb opened #33446 "Prevent "Target-incompatible DataLayout" LLVM asserts."
Example of such an assertion:
`Assertion 'TM.isCompatibleDataLayout(getDataLayout()) && "Can't create a MachineFunction using a Module with a " "Target-incompatible DataLayout attached\n"' failed.`

It appears that since LLVM 3.7, `DataLayout` is checked for target compatibility, and as `joker-eph` on LLVM's IRC channel on OFTC explains:

The relevant method is `bool TargetMachine::isCompatibleDat

[2016-05-06 00:01] nagisa commented on #33446
Perhaps we should also check that the target with the mismatching datalayout is not built-in and if it is, emit an ICE.

[2016-05-06 00:03] eddyb commented on #33446
@nagisa There's already a check that the built-in datalayouts are identical to the target defaults.

[2016-05-06 01:58] huonw opened #33448 "Lint against leading 0 in integer literals"
A literal like `0111` looks like an octal literal in C, but is actually decimal in Rust (octal would be`0o111`). This is [a footgun](http://stackoverflow.com/q/37062143/1256624), and so seems like something that could be trivially checked for.

(I suppose this could be a "clippy" lint, but that seems like it would lose most of the benefit: it seems to me that most people who encounter this will be

[2016-05-06 02:35] notriddle opened #33449 "Type inference fails in unpredictable ways"
[This works](https://play.rust-lang.org/?gist=90f4a0519b6dc16a9961adbc87c26ab9&version=stable&backtrace=0)

[code]

[This does not](https://play.rust-lang.org/?gist=eb70e71a893d2c60ef0290a5149c6a7c&version=stable&backtrace=0):

[code]

[2016-05-06 04:35] vwim commented on #33436
Getting the same ICE with `rustc 1.10.0-nightly (b5ba5923f 2016-04-21)` while running https://github.com/sebcrozet/ncollide examples.

[2016-05-06 08:06] Ms2ger opened #33452 "const_err warns about casting bytestring to raw pointer"
In particular, `b"TouchList\0" as *const u8`. We can't use `as_ptr()` because it's in a const context.

[2016-05-06 08:33] nikomatsakis opened #33454 "Fuzzing incremental compilation against crates.io packages"
To really have confidence in incremental compilation, we need to do large-scale testing. One specific way to do this is to fuzz against different versions of crates from crates.io. This corresponds to a very particular, and common, workflow:

- `cargo update` to get new packages
- `cargo build` to build with them

The idea here would be to write a tool which iterates over the last N published crat

[2016-05-06 09:17] liigo opened #33455 "foo.bar: should expected `:`"
[code]

Should it expect a `:`?

Full example code:

[code]

[2016-05-06 09:44] oli-obk commented on #33452
whoops

[2016-05-06 09:45] nikomatsakis commented on #31299
I'm assigning this to @arielb1 since I believe that his pending PR (https://github.com/rust-lang/rust/pull/33138) will fix it.

[2016-05-06 09:59] petrochenkov commented on #33455
It should expect `::`, but it's lost from the expected set.
I't not an issue specific for `use`, but a symptom of a more general problem with expected token sets.
There's a long weekend ahead, I'll investigate.

[2016-05-06 10:30] tbu- commented on #25708
There are two ways to go about this:

1. Return the sequence 0, 1, 2, ..., 255, 255, 255, 255, 255, ...
This would make the (0u8..).take(256) work, but gives weird behavior after the first 255.
2. Return the sequence 0, 1, 2, ..., 255, 0, 1, 2, ...
3. Make a breaking change to extend the struct, either only in debug mode or always.

If (1) or (2) is wanted, I can implement it, but otherwise this i

[2016-05-06 10:42] flying-sheep commented on #29503
is this the same for me?

hmm, is this bug affecting me? [my docs](http://flying-sheep.github.io/path-glob/path_glob/trait.Glob.html)

[2016-05-06 11:44] pmarcelll commented on #33379
This wasn't meant to be closed, right? The buildbot failed with the same error message.

[2016-05-06 11:49] JosephSEgan commented on #33454
I'd like to pick this up if possible

[2016-05-06 11:59] oli-obk commented on #33448
There are lots of lints in clippy that would most help new rustaceans. If there were a process to move lints to rustc as long as they have proven themselves as non-opinionated and false-positive-free, then a lot of people could start benefiting from clippy's lints.

[2016-05-06 12:04] oli-obk commented on #33448
One thing speaking against doing this in clippy is that this specific lint needs to be done during parsing, because the ast does not get the string representation of a literal, but only a numeric representation. Clippy would have to use the span to obtain the text and then act on the text.

Alternatively the ast could be changed to represent the original text, and ast -> hir lowering could extract

[2016-05-06 12:04] oli-obk commented on #33448
cc @Manishearth @llogiq

[2016-05-06 12:15] #32953 closed

[2016-05-06 12:29] matklad opened #33458 "Name resolution has changed between 1.7.0 and 1.8.0"
The following program:

[code]

prints `92` with rustc 1.7.0 and `62` with rustc 1.8.0. Is this intentional? I have not found a mention in the release notes. Also [the reference](https://doc.rust-lang.org/reference.html#item-declarations) could be a bit more clear on the scoping rules :)

[2016-05-06 12:38] mrmiywj commented on #33454
Hi, Matsakis. It looks fun, I want to work on this. Actually the workflow you described looks clear, I need more details.

1. Maybe just compile one crate with incremental way and common way, then compare the output and code is better? For your provided workflow, it seems that it should compile a whole project with some crates.
2. To compare the outputs, is there any API provided by rustc to gener

[2016-05-06 12:47] jonas-schievink commented on #33458
cc @jseyfried @nrc

FWIW I think 62 makes more sense, intuitively speaking, but the subtle change is a bit terrifying

[2016-05-06 13:45] llogiq commented on #33448
I don't see a problem with looking at the span of a literal, so we could well develop the lint in clippy, and move it to rustc later.

AFAIR, the core team has expressed they don't want to increase the number of included lints to keep it manageable (and probably also to keep compile time from ballooning :smile:). The longer we go without merging lints into rustc, the more I think of clippy as `-Wa

[2016-05-06 15:15] gmorenz opened #33461 "ICE: FulfillmentError, MismatchedProjectionTypes"
Testcase currently relying on the most recent ncollide and nphysics3d from crates.io. When I get some time later today I'll try to reduce it more.

Code:
[code]

Error:
[code]

[2016-05-06 15:32] #32963 closed

[2016-05-06 15:52] alexcrichton commented on #33379
Well, the intention of #33381 was to fix that message, but clearly it did not work.

[2016-05-06 16:02] alexcrichton commented on #33446
If this is the case, should we just go back to picking it up from LLVM by default, but allowing a specification for a custom one?

[2016-05-06 16:04] Kimundi opened #33463 "LLVM assertion on cross compile to x86_64-pc-windows-msvc"
Attempting to cross compile from 64Bit Arch after doing

[code]

Errors with LLVM asserts:

[code]

Compiler version:

[code]

[2016-05-06 16:06] sebcrozet commented on #33461
I investigated this further and ended up with the following test case independent from ncollide/nphysics. It causes an ICE on both beta (rustc 1.9.0-beta.2 (87cb73304 2016-05-04)) and nigthly (rustc 1.10.0-nightly (8da2bcac5 2016-04-28))( and compiles fine on stable. The ICE will appear with and without `--release`. This might be related to  #33096.

I can try to compile this on master but it will

[2016-05-06 16:07] alexcrichton commented on #33463
I've personally run into this quite a few times locally as well, but I was testing awhile back and found that llvm-mirror/llvm@285cad0e0ce95c97d8834e09f4b98942bfebdc32 fixed it. We'll pick it up on the next LLVM upgrade

[2016-05-06 16:09] bluss commented on #29503
@flying-sheep Yes, it's the same bug.

[2016-05-06 16:09] oli-obk opened #33464 "unresolved import span is wrong"
an arbitrary import of the shape

[code]

will give the following errors and spans:

[code]

The span is always as long as the crate, but starts at the imported element

This can also be used to create an unprintable span:

http://is.gd/83hpg7

[2016-05-06 16:10] Kimundi opened #33465 "Linker error on cross compile to x86_64-pc-windows-gnu"
Attempting to cross compile from 64Bit Arch after doing
[code]

Errors with an linker error:

[code]

Compiler version:

[code]

[2016-05-06 16:12] Kimundi commented on #33465
Actually, this is a dup of

https://github.com/rust-lang/rust/issues/32859

[2016-05-06 16:15] Kimundi commented on #33465
Actually, looking at #32859 in more detail this might be a different issue?

[2016-05-06 16:18] harveyadcock opened #33467 "Some recursive definitions of structs/enums cause compiler to hang"
The following code causes the compiler to loop indefinitely (until the system runs out of memory):

    enum Node {
        Branch(Branch),
        Leaf(Leaf)
    }

    struct Branch {
        value: i32,
        left: Node,
        right: Node
    }

    struct Leaf {
        value: i32
    }

This seems to be a failure of the compiler to recognise when a struct/enum would be infinite in size, i

[2016-05-06 16:18] kindlychung opened #33468 "size hint not taking effect in unzip"
See [here](http://stackoverflow.com/questions/37074656/whats-the-purpose-of-sizehint-in-iteratorunzip/37075146#37075146) and [here](https://www.reddit.com/r/rust/comments/4i59b7/whats_the_purpose_of_sizehint_here/)

[2016-05-06 16:52] jonas-schievink commented on #33467
Duplicate of #32619, #32326, #33180

[2016-05-06 16:59] eddyb commented on #33446
@alexcrichton If we want to build a WASM backend, for example, how could that work without linking LLVM? Do we want to couple target specifications to LLVM in such a way that you need special ones for non-LLVM backends?

[2016-05-06 17:01] alexcrichton commented on #33446
Hm perhaps, yeah. This is kinda just an area where custom target specs aren't exactly intended to be stabilized as how would a wasm backend read and use a custom target spec anyway?

[2016-05-06 17:02] harveyadcock commented on #33467
My previous bug searching is pretty poor, apologies!

[2016-05-06 17:12] alexcrichton commented on #33454
FWIW I've got a script which @jonathandturner has also been working with which is essentially "use cargo to iterate over all crates on crates.io and build them", and that may end up being useful here!

[2016-05-06 17:13] #28040 closed

[2016-05-06 17:19] SeanRBurton opened #33469 "Panic (ICE) in libsyntax/ext/quote.rs"
Using a macro argument (e.g. $x) inside of quote_expr! causes an internal compiler error.
## Testcase

[code]
## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2016-05-06 17:22] mrmiywj commented on #33454
@alexcrichton Hi, could you offer the link of the script? It must be helpful!

[2016-05-06 17:38] alexcrichton commented on #33454
Certainly! I've pushed it up here -- https://github.com/alexcrichton/cargo-apply

It doesn't have much documentation, and it's kinda a big hack, but the gist is:

* First, modify `src/main.rs` (near the bottom) to configure how rustc is run over each crate.
* Next `cargo run --release`
* Wait for `output` to get populated with a bunch of files
* `output/$crate/stdio` is the result for each crate.

[2016-05-06 17:41] alexcrichton commented on #33465
Looks like the wrong linker is being used? The compiler is using "gcc"

[2016-05-06 18:00] #33193 closed

[2016-05-06 18:30] eddyb commented on #33446
@alexcrichton If you use the driver it's all automated.
In a way, it *doesn't make sense* to have target specs for a wasm backend, there's one wasm "target spec".

What do you think about having `librustc_driver` pass some `librustc_trans` validator/elaborator to `librustc_back`?
This would alleviate the need for several options which are currently mandatory, *if* `"llvm-target"` is present, as th

[2016-05-06 18:47] nikomatsakis commented on #33454
Great to see so much interest! I want to point out that there are more opportunities for fuzzing, so whatever we do, it might make sense to try and have some common code with multiple modes. Some other examples I've been thinking about:

- go through git histories and try to compare subsequent commits
- similarly, use git histories to guide random fuzzing; this could be particularly good for detec

[2016-05-06 19:25] bluss commented on #24066
@nikomatsakis Is this not a bug? It seems to be the feature that was discussed in #33108 of lifting trait methods to inherent methods.

[2016-05-06 19:31] jonas-schievink commented on #33449
Might be related to #24066 (explained in more detail in [this comment](https://github.com/rust-lang/rust/pull/33108#issuecomment-213641152))

[2016-05-06 19:45] alexcrichton commented on #33446
Sounds plausible to me!

[2016-05-06 19:50] xen0n commented on #33436
Just bisected this and got

[code]

Surely it regressed during the trans refactoring, but as *none* of the intermediate commits is building it's not exactly sure which change is to blame though. Will help investigating further.

[2016-05-06 21:12] #33379 closed

[2016-05-06 21:55] nagisa commented on #33469
Note: I took liberty to mark-up your report properly.

[2016-05-06 22:01] lhecker commented on #33368
I edited the issue because @alexcrichton finally brought me to my senses regarding the widespread use of TLS in the stdlib. There is actually a specific reason why I always thought that it's not an issue and easily solvable but I'm too emberassed to disclose that dumb idea. :neutral_face:

[2016-05-06 22:14] nagisa commented on #33467
Closing.

[2016-05-06 22:14] #33467 closed

[2016-05-06 22:16] nagisa commented on #33458
Nominating for T-lang discussion.

[2016-05-06 22:31] jseyfried commented on #33458
This was intentional, see #31105.

[2016-05-06 23:06] petrochenkov commented on #23416
For the record: a patch implementing support for method chaining with type ascription https://github.com/rust-lang/rust/pull/33380

[2016-05-07 00:23] nagisa commented on #33458
This likely means that the change wasn’t communicated well enough?

[2016-05-07 00:58] derekdreery opened #33477 "Compiler panic"
Here's the output of the compiler

I'll upload the code I'm working on and link it here.

[code]

[2016-05-07 02:47] cramertj commented on #33454
It seems as though others have expressed interest already, but I'd enjoy helping out if there's space for one more.

[2016-05-07 03:24] eddyb commented on #29769
@Aatch I believe the cleanest solution would be to generalize `FatPtr` to any pair of immediates.
This also removes any boolean casting because a `bool` immediate is an `i1`.

[2016-05-07 05:13] burdges commented on #31844
Is there a way to access an overridden `default impl`?  If so, this could aid in constructing tests.  See [Design By Contract](https://github.com/rust-lang/rfcs/issues/1077) and [libhoare](https://github.com/nrc/libhoare).

[2016-05-07 05:35] dtolnay commented on #33449
Thanks for filing this! Came up in https://github.com/serde-rs/serde/issues/305.

[2016-05-07 05:50] xen0n commented on #33436
I would try to fix this, already did one-liner fix in `trans/callee.rs` according to @eddyb , both `pippin` and the minimal testcase in #33461 passed without ICE. Will prepare the PR later ;-)

[2016-05-07 07:52] #33262 closed

[2016-05-07 07:57] deadalusai opened #33479 ""Private" impl functions can leak out of a module when defined on a public type"
"Private" impl functions can leak out of a module when defined on a public type. This can allow private types to appear as part of a modules' public interface.

Example on playground: [http://is.gd/aGx2MV](http://is.gd/aGx2MV)

In this example, the type `Private` leaks out of `the_module` via the `impl Public<Private>` impl block. It looks like all functions in that block should be inferred to be

[2016-05-07 08:00] deadalusai commented on #33479
[This issue](https://github.com/rust-lang/rust/issues/30476) seems similar.

[2016-05-07 08:24] flying-sheep commented on #29503
thanks. a bit confusing, since that impl is the whole point of my crate :smile:

[2016-05-07 08:54] petrochenkov commented on #33479
Yep, incarnation of https://github.com/rust-lang/rust/issues/30476 (although the example is sufficiently different from those given in #30476), one more example of type inference being too smart.

Private-in-public checker assumes that the type `Public<Private>` and therefore its impls are private, because you can't name it or construct its values outside of its module without using `Private`.
How

[2016-05-07 12:11] #30318 closed

[2016-05-07 12:31] bluss commented on #33468
We should simply remove the `SizeHint` hack since it does not follow the rules for a sensible Iterator impl. Specialization can then be used to implement this even better.

[2016-05-07 14:12] arielb1 commented on #33449
workaround: explicitly specify type parameters rather than leaving them to inference:
[code]

[2016-05-07 14:17] arielb1 commented on #33368
How much code is used by drop glue? It might even be worth it to even do RTTI-based drop glue for unwinding.

[2016-05-07 14:50] rphmeier opened #33481 "Failure to normalize associated type on default impl"
Playground: http://is.gd/QMg2a8

[2016-05-07 15:29] nagisa commented on #33368
@arielb1 I’m not sure if I did it correctly, but it seems like librustc has about 53591 bytes of drop glue. libsyntax = 33031B.

(command used: `objdump -t libblah.rlib | grep '$10drop.' | awk '{ sum += strtonum(gensub(/^0*/,"0x","g",$5)) } END { print sum }'`)

[2016-05-07 15:48] arielb1 commented on #33368
That's small potatoes.

[2016-05-07 15:51] rphmeier commented on #33481
Maybe related to this comment: https://github.com/rust-lang/rust/blob/ffca6c3e/src/librustc/traits/project.rs#L71 and #32205?

[2016-05-07 15:57] nagisa commented on #33368
@arielb1 I wouldn’t call librustc drop-glue intensive, though. Far from it.

[2016-05-07 16:12] rphmeier commented on #33481
seems that this is by design? if so, there should be an error indicative of it.

[2016-05-07 16:17] lhecker commented on #33368
I still do wonder why the binary size would blow up that much though... Since all the "nounwind drop glue" would do is to literally call a single method. Isn't that just one EH entry plus one `call` in the binary? Compared to the size of drop itself I can't imagine this resulting in a 100% size increase.

Well if the exception handling in Rust would be a bit less "cumbersome" as it is now it would

[2016-05-07 16:25] nagisa commented on #33368
If the function (i.e. drop glue) marked as nounwind actually begins unwinding, you have undefined behaviour, therefore you must replace all the occurences of panicking in the nounwind glue with some other non-terminating side effect (e.g. `abort`, `exit`, `unreachable`).

This basically means the compiler would have to generate two kinds of drop glue:

* One as we do currently, which allows unwind

[2016-05-07 16:28] lhecker commented on #33368
Uhm... Why don't you just call abort in `drop()`'s landing pad? C++ does that as well. There is no replacement. It just emits `call _std_terminate` or whatever in the destructor. That's one instruction plus the exception handling data for the landing pad.

[2016-05-07 16:36] petrochenkov commented on #33455
Oh wait, this works on nightly, as expected (fixed in https://github.com/rust-lang/rust/pull/33044, more specifically).
It means there are no problems with expected token sets.

[2016-05-07 16:38] arielb1 commented on #33368
@lhecker

The problem is that *then*, any panic in a destructor will cause the program to `abort`.

OTOH, with the current situation, if there is a `DiagnosticEmitter` on the stack during a panic, the program will abort anyway, so maybe it's not *that* bad.

[2016-05-07 16:41] nagisa commented on #33368
I think they mean we should abort on unwind edges from drop glue that is executed as part of unwinding already.

That’s a fair point. I guess there’s a few factors here:

* `PANIC_COUNT` is/was easier to implement overall and stays all within the library which also provides the unwinding implementation;
* I guess that would mean making the whatever `abort` we use for that a nounwind, which is some

[2016-05-07 16:47] arielb1 commented on #33368
But then won't we need the double drop glue? Either
1) All destructors are `nounwind` - `DiagnosticEmitter` aborts when abandoned.
2) Double-unwinding aborts using TLS - this uses TLS which interacts badly with coroutines
3) Unwinding pushes a stack frame that aborts when unwound past - potential for infinite recursion?
4) Double-panicking works somehow - must figure out how

Doubling up all drop-

[2016-05-07 16:48] lhecker commented on #33368
I'm unfortunately not that familiar with the terminology in this community and I don't really understand what you mean with that. (I'm sorry for that.) But I think @arielb1 understood me correctly.

To say it as plain as possible again: I do like C++'s exception rules for destructors more than Rust's complicated system in `std::panic` (and the unwind module). This means that *any* exception *insid

[2016-05-07 17:02] nagisa commented on #33368
@arielb1 Consider this “annotated” MIR CFG for some code I had from a while ago. Circled in red is the drops executed during the unwind, you can easily add edges to `abort`/`terminate`/etc in MIR (also in red, but lines this time)

![mir_dynamic_drops_3 gv 3 cairo](https://cloud.githubusercontent.com/assets/679122/15093342/d6b3cfbc-148d-11e6-94f2-7276af44515d.png)

The only requirements here are t

[2016-05-07 17:16] alexcrichton commented on #33435
cc @nikomatsakis

[2016-05-07 17:18] corvinux opened #33483 "Running rustc -V binary on SailfishOS 2.0.1.11 (Taalojärvi) (armv7hl) raised Exception"
LOG of whole installation process,  running script  curl https://sh.rustup.rs -sSf | sh  as suggested on https://www.rustup.rs/ is here http://paste2.org/y23WWxCA,

**This is output from journalctrl -f regarding running rustc -V in bash cli**
May 07 18:55:24 Jolla kernel: rustc (13431): undefined instruction: pc=402c8d68
May 07 18:55:24 Jolla kernel: Code: e320f000 e320f000 f2200150 e12fff1e (ec51

[2016-05-07 17:26] rphmeier commented on #31844
Allowing projection of default associated types during type-checking will allow enforcing type inequality at compile-time: http://is.gd/26FHbU

[2016-05-07 18:30] burdges commented on #31844
Just fyi @rphmeier one should probably avoid is.gd because it does not resolve for Tor users due to using CloudFlare.  GitHub works fine with full URLs.  And play.rust-lang.org works fine over Tor.

[2016-05-07 18:31] eddyb commented on #33435
The incremental code should probably use [`OpenOptions::create_new`](https://doc.rust-lang.org/std/fs/struct.OpenOptions.html#method.create_new) instead of just `File::create`, but I still see no reason it could actually cause problems the way it is right now.
Each builder runs in its own directory, right? They each have their own `tmp` and the incremental code removes a file before trying to writ

[2016-05-07 18:35] SimonSapin commented on #31844
@burdges FWIW play.rust-lang.org itself uses is.gd for its "Shorten" button.

It can probably be changed, though: https://github.com/rust-lang/rust-playpen/blob/9777ef59b/static/web.js#L333

[2016-05-07 18:35] arielb1 commented on #33368
That's my option 3 - it is equivalent to there being a nounwind frame wrapping each landing pad.

I think we did not implement it that way because a destructor that e.g. calls a logger that panics could cause infinite recursion. That does not sound like a real problem - I think we should go with it if we do not want double unwinding.

[2016-05-07 18:36] eddyb commented on #33435
Hang on, the problem is that it's trying to load the dep graph at all, which was written by a previous build run? Shouldn't we just nuke `tmp` before each build?

[2016-05-07 21:21] Manishearth commented on #33448
Works in clippy. There are a lot of lints in clippy specifically for newcomers and stuff. That was in fact the original scope/goal, but it has expanded since then.

Also, zero-setup `cargo install clippy` is happening soon, so I suspect clippy to gain more use amognst newcomers.

[2016-05-07 22:04] DanielShaulov commented on #33293
A smaller example:
https://play.rust-lang.org/?gist=37c9205186eeb30e1f465ff733fc24a8&version=nightly&backtrace=1

[2016-05-07 23:06] petevine commented on #33483
If it doesn't happen with the `arm-` triple, the ARM part you're running this on probably doesn't have NEON.

If it still does, run the command in gdb and post the output.

[2016-05-07 23:10] eddyb opened #33490 "Expressions in block tail supposed to outlive block variables dropped early."
Found while investigating the remaining wrong case in #32433. Effectively use-after-free.

Can be used to cause a segmentation fault (check out on [playpen](https://play.rust-lang.org/?gist=27e782c076159255e6c142acc310c1bd&version=nightly&backtrace=0)):

[code]

The `Fine` pointee drops before the `Evil` holding of the pointer, and in between those the destructor of `Dirty` overwrites the same hea

[2016-05-07 23:10] eddyb commented on #32433
Here's my latest testcase: https://play.rust-lang.org/?gist=7da9d41eee66dabeeaa62454f885da6b&version=nightly&backtrace=0
It prints `1 0` correctly (short-lived temporary in tail dropped before variable).
However, MIR, even with the initial fix in #33239, prints `0, 1`.

The problem appears to be that the short-lived `Foo(1)` has `temp_lifetime: Some(CodeExtent(7/Misc(6)))`, where `7` is the ID of

[2016-05-07 23:43] #33285 closed

[2016-05-07 23:43] #27361 closed

[2016-05-07 23:43] #33321 closed

[2016-05-07 23:43] #30416 closed

[2016-05-07 23:43] #33405 closed

[2016-05-08 01:09] petevine commented on #33181
It seems the default `opt-level=3` used by this project was to blame. Neither `2`, nor `z` produce the crashing binary.

@eddyb Did something happen between rust 1.8 and 1.9, either in the bundled LLVM or rustc that would affect the highest level of optimisations?

[2016-05-08 01:15] petevine commented on #32359
@ogham I've traced the issue down to `opt-level=3` used in exa's `Cargo.toml`. Until this is properly fixed, I suggest downgrading to `opt-level=2`.

[2016-05-08 01:34] petevine commented on #33181
cc @michaelwoerister

[2016-05-08 02:49] jethrogb commented on #32486
Note that on Windows, even full per-process buffering and stdout-locking of “rich text" (a string abstraction which includes formatting information which on Windows would be configured at the right time) is not sufficient; there might be multiple processes outputting colored text at the same time, and the color configuration and console output functions are not synchronized. A Windows-compatible s

[2016-05-08 03:06] brson commented on #21889
This is easy to do on Unix, since files can be deleted or moved while they are running.

In thinking about how both rustc and rustup use current_exe, it seems like it would be easy to influence what code they run by changing file at that path, particularly with rustup, which will actually execute it during uninstallation.

At the same time, when I think of bugs that could lead attackers to cause a

[2016-05-08 03:53] petevine commented on #32272
I've just been able to complete this compilation with `LTO` enabled for the first time by using `opt-level=z`. That would suggest the highest level is currently broken on ARM in [more](https://github.com/rust-lang/rust/issues/33181#issuecomment-217681516) than one way.

[2016-05-08 06:32] deepak opened #33495 "docs: a better guessing game after learning more"
after completing the [guessing game](https://github.com/rust-lang/rust/blob/01d76099f261abe50342d9261fad618c5323274b/src/doc/book/guessing-game.md) had some questions and suggestions for improvement:

- refactor into smaller functions
- document code and generate docs
- print secret only for debug target not for the optimized build
- write tests
- write benchmarks

for sure, am missing a lot of ot

[2016-05-08 09:09] birkenfeld commented on #23069
In current nightly, the second example compiles fine, in inconspicuous time. Seems to be fixed?

[2016-05-08 09:12] birkenfeld commented on #22761
Seems reasonable to close this in favor of the more specific issue?

[2016-05-08 09:22] birkenfeld commented on #20936
The actual tests deep-vector.rs and deep-vector-2.rs have been removed from the tree in the meantime. Compile times are unchanged (here, 24s for deep-vector.rs).

[2016-05-08 10:51] jonas-schievink commented on #20936
I'm guessing this is also partially responsible for jonas-schievink/rustasm6502#4

[2016-05-08 11:21] raphaelcohn commented on #31036
Just found this thread and I've got a quick observation on `sh` on BusyBox (I'm the main developer of [shellfire](https://github.com/shellfire-dev/shellfire)). One of my goals with shellfire was to allow minimal dependencies for installation.

There's two variants of `sh` on BusyBox: an `ash` (Almquist) derived one, and `hush`. `hush` is a bit... weird, but is used by some folks because, IIRC, it

[2016-05-08 11:50] #33244 closed

[2016-05-08 12:09] petevine commented on #32272
FWIW, unlike previously, at `opt-level=3` it currently manages to print an error message:

`Call parameter type does not match function signature!`

[2016-05-08 12:33] sanxiyn commented on #30841
This seems fixed by #32732.

[2016-05-08 12:33] #30841 closed

[2016-05-08 12:33] sanxiyn commented on #31315
This seems fixed by #32732.

[2016-05-08 12:33] #31315 closed

[2016-05-08 13:58] #25730 closed

[2016-05-08 15:02] steveklabnik commented on #33495
Hey @deepak ,

Thanks for this! I do think that some expansion of this would be neat, and specifically, refactoring it after Syntax and Semantics makes a lot of sense.

But, I'm not making major additions or changes to the book right now, because I'm doing a second edition that's completely re-written. So, if you (or anyone else) wants to improve the book in this way, I'd be happy to help edit and

[2016-05-08 15:02] #33495 closed

[2016-05-08 15:17] jgallag88 opened #33497 "Compiler panics when 'data-layout' field is missing in LLVM target json"
When I upgraded my compiler to the most recent nightly, I found that my project no longer compiles. Instead, rustc panics, producing this error:

[code]

As the panic message indicates, the target I was supplying was missing the 'data-layout' field:

[code]

I added `"data-layout": "e-m:e-p:32:32-f64:32:64-f80:32-n8:16:32-S128"` to the target, and everything builds once again. The requirement that

[2016-05-08 15:18] GuillaumeGomez opened #33498 "ICE: only string and byte strings supported in compare_values"
[code]

I had this error on [play.rust-lang](https://play.rust-lang.org/) on release, beta and nightly.

[2016-05-08 15:25] jonas-schievink commented on #33498
Backtrace:
[code]

[2016-05-08 16:13] #32555 closed

[2016-05-08 16:13] #33416 closed

[2016-05-08 16:41] corvinux commented on #33483
[root@Jolla ~]# cat /proc/cpuinfo
Processor	: ARMv7 Processor rev 4 (v7l)
processor	: 0
BogoMIPS	: 13.53

processor	: 1
BogoMIPS	: 13.53

Features	: swp half thumb fastmult vfp edsp neon vfpv3 tls
CPU implementer	: 0x51
CPU architecture: 7
CPU variant	: 0x1
CPU part	: 0x04d
CPU revision	: 4

Hardware	: QCT MSM8930 CDP
Revision	: 300000
Serial		: 0000000000000000

I've installed Nightly Build:
[roo

[2016-05-08 17:04] corvinux commented on #33483
[root@Jolla ~]# rustc --help
Segmentation fault
[root@Jolla ~]# rustc -V
Segmentation fault
[root@Jolla ~]#

[2016-05-08 17:39] Manishearth opened #33499 "ICE with ref pattern on integers"
[code]

[playpen](http://is.gd/To9W0x)

This causes an ICE at `error: internal compiler error: ../src/librustc_trans/_match.rs:944: only string and byte strings supported in compare_values` on stable, beta, and nightly.

It goes away if you swap the match arms.

[2016-05-08 17:41] jonas-schievink commented on #33499
Duplicate of #33498

[2016-05-08 17:44] #33499 closed

[2016-05-08 17:52] Manishearth commented on #33498
This seems to be because `(0, ref y)` is not considered scalar?