[2022-09-02 04:56] jsha commented on #98413
I have a branch in progress and would love some eyes on it just to check I'm going in the right direction:

https://github.com/rust-lang/rust/compare/master...jsha:rust:static-files?expand=1

https://rustdoc.crud.net/jsha/static-files/std/io/trait.Read.html

Basically everything static (Unversioned + InvocationSpecific) now gets written to static.files/, which should make it simpler for docs.rs to

[2022-09-02 06:33] nikic commented on #96152
The codegen test in this case would be an x86 assembly codegen test. The LLVM IR cannot be the same, because all of those have different semantics (in terms of provenance).

[2022-09-02 07:47] xFrednet commented on #54503
Hey @Mark-Simulacrum, is there something I can do to move this forward? :upside_down_face:

[2022-09-02 08:11] Kixunil commented on #63292
I think regarding these safety issues it'd be better if people explicitly used `UnsafeCell` to signal the intent. Not allowing shared mutability may allow some future optimizations and we already have a construct for shared mutability.

[2022-09-02 08:19] RalfJung commented on #96152
The last two should be identical in terms of provenance?

[2022-09-02 08:37] ChrisDenton commented on #101134
Ah, I tried:

`cargo +nightly build -Z build-std=core,panic_abort,alloc,std --target x86_64-pc-windows-msvc`

And `__CxxFrameHandler3` was not linked. So I think you're right.

[2022-09-02 09:03] Kixunil opened #101316 "The documentation of `Vec` contradicts itself regarding `with_capacity`"
### Location

https://doc.rust-lang.org/std/vec/struct.Vec.html

### Summary

In section [Guarantees](https://doc.rust-lang.org/std/vec/struct.Vec.html#guarantees) the documentation says:

However in [`Vec::with_capacity(n)`](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.with_capacity) it says:

And

These clearly contradict each-other. I guess it's better for performance to not guarant

[2022-09-02 09:40] RalfJung commented on #86299
https://github.com/rust-lang/rust/pull/99102 made some progress here (Cc @JakobDegen).

One thing I am a bit confused by is that the transition from "conditional drop + implicit abort-on-unwind" to making both of these *explicit* seems to happen atomically when doing from analysis MIR to runtime MIR, but AFAIK these are two separate passes. So what do we say about the MIR in between those passes?

[2022-09-02 09:46] nikic commented on #101082
https://reviews.llvm.org/D133192 for improved LICM promotion. Still needs to be combined with canonical GEPs to work.

[2022-09-02 10:00] JakobDegen commented on #86299
My current approach is basically that we say nothing, and that the fact that this atomic transition occurs over two implementations of `MirPass` is an implementation detail. In practice, what this means is that there is no expectation that these passes can be reordered or that executing some but not others won't cause breakage. That's not ideal, but I think the way to fix this is to have fewer sem

[2022-09-02 10:48] hkBst opened #101319 "Constructing a simple HashSet<char> requires RandomState type annotation"
I tried this code:

[code]

I expected to see this code to compile, just like this code does:
[code]

Instead, this happened:

[code]

I can fix it by including a type annotation for the RandomState:
[code]

But since
[code]
I do not think I should need to do this.

### Meta

`rustc --version --verbose`:
[code]

[2022-09-02 11:40] In-line opened #101321 "Rustc panic "no label after fn" on invalid struct with Serde"
I tried this [code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c16a39e1cd58a77243e62f9faad8702c):

[code]

I expected to see this happen: Compilation error

Instead, this happened:
[code]

### Meta

[code]

</p>
</details>

[2022-09-02 11:42] RobFosterNYC commented on #101117
My friend fixed it.
It seems a long long time ago I installed the Rust extension and when I uninstalled it because it got deprecated,
some files were still left behind for some weird and odd reason.

I left the Rust Analyzer installed as Rust website says to have it installed as well as many videos I have come across.
It works now because a friend of mine came over and fixed it.
He has way more ex

[2022-09-02 11:42] In-line commented on #101321
Not reproducible on beta or nightly. Not sure, if I need to close this.

[2022-09-02 12:07] rbtcollins commented on #86442
The breaking change was the change in possible match values ErrorKind from exhaustive, to non-exhaustive. Thats part of the signature is it not?

It is true that Other wasn't removed, but even with no change to return values, this would be breaking, because non-exhaustive is an attribute of the enum type.

I'm pulling on this thread because I think its important that this be classified as a breaki

[2022-09-02 12:35] SkiFire13 commented on #101319
When just `HashSet` is used it means to infer `HashSet<T, S>`, i.e. the `S` is also inferred. Default generic types are not used when doing inference. If you want to have the `T` inferred but not anything else then you can specify `_` as its type, like so:

[code]

That said, it would be nice if default generic types played some role in type inference since most of the time they are the correct an

[2022-09-02 12:40] ehuss commented on #101316
I believe this is being worked on in #99790. Can you take a look at that PR and comment over there if it still seems unclear?

[2022-09-02 12:52] Mark-Simulacrum commented on #54503
I think the lang team will need to discuss the best path forward; it might be worth [proposing a design meeting](https://github.com/rust-lang/lang-team/issues/new?assignees=&labels=meeting-proposal%2C+T-lang&template=meeting-proposal.md&title=%28My+meeting+proposal%29) to give the discussion a dedicated time, particularly if you're willing to put together a summary of the current design and the op

[2022-09-02 12:55] fee1-dead commented on #92476
@TiagoCavalcante: implementation has been stalled for more compiler related work to make this as easy to maintain as possible.

[2022-09-02 13:07] est31 commented on #34596
@pnkfelix I agree this should be closed in favour of the RFC and its tracking issue.

[2022-09-02 13:10] Kixunil commented on #101316
Heh, was trying to find an issue but didn't think of looking at PRs. Will keep open until that merges.

[2022-09-02 13:12] RalfJung commented on #34596
Is there something tracking the process of turning all existing future-incompatibility warnings into warnings that show up in the FCW report?

[2022-09-02 13:36] #97241 closed

[2022-09-02 13:36] rust-highfive opened #101324 "`miri` no longer builds after rust-lang/rust#101318"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#101318, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @GuillaumeGomez, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-09-02 14:22] b-naber commented on #101280
@rustbot claim

[2022-09-02 14:50] hkBst commented on #101319
@SkiFire13, thanks for the explanation and for the workaround; `HashSet::<_>` is a lot more acceptable than `HashSet::<_, std::collections::hash_map::RandomState>`.

Apparently by doing `HashSet::<_>` you assert that the unmentioned parameters have their default value, whereas if you do not mention any type parameters at all, then defaults are ignored and so all type parameters must be inferred fr

[2022-09-02 14:51] jyn514 commented on #101286
this is an old nightly, does this still reproduce on the latest nightly?

[2022-09-02 14:58] spastorino commented on #100615
I'm not sure what would be wrong after @cjgillot change. I think this is exactly the support Camille has added. If you use `#![feature(anonymous_lifetime_in_impl_trait)]` the example compiles and if you don't the error points to the anonymous lifetime and tells you that you would need the feature flag to support such case.

[2022-09-02 15:35] SkiFire13 commented on #101319
Not exactly, to break code you also need to change the existing `impl`s to also be generic over the new generic parameter, and that's generally regarded as a breaking change.

[2022-09-02 15:37] dtolnay commented on #86442
@rbtcollins it sounds like you've said a couple times you think `std::io::ErrorKind` got changed from being exhaustively matchable to not being exhaustively matchable. That is not the case. `ErrorKind` has never been exhaustively matchable in stable code in any existing release of Rust.

[2022-09-02 16:15] rbtcollins commented on #86442
@dtolnay ahha. I had misremembered how the change happened. Thank you for helping me get clear on it.  Sorry @ClementNerma for the unneeded contention.

[2022-09-02 16:19] cjgillot commented on #100615
Added an explanation in https://github.com/rust-lang/rust/issues/85417#issuecomment-1234812068.
TLDR: I proposed to allow this syntax, we made a feature gate instead, and I forgot to put back the suggestion.

[2022-09-02 17:00] ijackson commented on #86442
I would like to clarify once again that the `Other`->`Unrecognized` change, which did in practice cause things to go wrong for a significant number of people, regardless of what kind of breakness we decree it to have had, *has already happened and is not part of this FCP*.

What we are proposing to stabilise now is *just the ability to name the additional `ErrorKind`s* (`IsADirectory` etc.) which

[2022-09-02 17:00] laralove143 opened #101334 "unused_crate_dependencies false positives for dev-dependencies added for Doctests"
I tried this code:

[code]
[code]

I expected to see this happen: *No warning since once_cell is used in the Doctest*

Instead, this happened: *The warning is still emitted*

### Meta

`rustc --version --verbose`:
[code]

[2022-09-02 17:47] amanjeev commented on #101281
I think the pointed out part is using those ascii characters (| and /). I feel that having at least the function name that the error is talking about would be beneficial.

If you think the hint I suggested does not add more value, thats fine.

[2022-09-02 17:48] ijackson commented on #86442
What we are proposing to stabilise now is precisely the `ErrorKind`s listed in this table.

I have included the Unix and Windows errno values that map to these kinds.  We are stabilising these mappings, but if we have missed some errors that ought to be categorised into these kinds and are currently `Uncategorized`, I think we could add those mappings later and it would be at worst a minor functio

[2022-09-02 18:02] nikomatsakis opened #101336 "Commit to safety rules for dyn trait upcasting"
This issue proposes a resolution to the last outstanding question blocking `dyn` upcast. It is also available on [the initiative repository](https://rust-lang.github.io/dyn-upcasting-coercion-initiative/design-discussions/upcast-safety-3.html).

## Background

We are trying to enable "upcasts" from a `dyn Trait` to its supertraits:

[code]

The key factor for these upcasts is that they require adj

[2022-09-02 18:04] compiler-errors commented on #101321
Yeah, if it's not reproducible on beta or nightly then it's fixed. I'll close this, thanks for reporting!

[2022-09-02 18:04] #101321 closed

[2022-09-02 18:06] nikomatsakis commented on #101336
I am nominating this for @rust-lang/lang decision and I am also cc'ing @rust-lang/wg-unsafe-code-guidelines.

This decision is the sole remaining blocker for stabilizing dyn upcasts.

I would probably move to merge now, but I would particularly like some quick feedback on @RalfJung's concern here:

The fact that the current proposal is not a 2-way door gives me some pause and I am considering whet

[2022-09-02 18:07] nikomatsakis commented on #101336
also cc @crlf0710, the person driving this initiative

[2022-09-02 18:09] Enselic opened #101337 "Support for showing explicit enum discriminant values in rustdoc"
Currently, enum discriminant values are not included in the HTML output. The code

[code]

renders like this:
<img width="353" alt="187080081-aa71e5f4-8304-4574-8de1-a16a7aefccd4" src="https://user-images.githubusercontent.com/115040/188211722-21f88777-3404-44b6-b87d-9ae1f8e902cd.png">

However, it is easy to imagine a public API where the discriminant value matters. For example, some lib code cou

[2022-09-02 18:40] #101324 closed

[2022-09-02 19:06] GuillaumeGomez commented on #98413
Your approach seems a bit complex. I would have done it as follows: generate static files and their hash first, then save this value into a struct stored somewhere and then use it when generating the template files. Like that it wouldn't require too much changes and would still work out easily.

The downside with the hash approach is that it's tricky to know what the new files are since you need t

[2022-09-02 19:36] dsherret commented on #93522
I was using `paths` to get the fully resolved name of types by their id. Within the past two months it seems this has gotten really unstable. For example, doing something like...

[code]

...will now only have the `Main` enum in `"paths"` and not also `Expr`, though this previously included both. I guess it has something to do with the cache.

[2022-09-02 19:48] GuillaumeGomez commented on #98413
The order of files is known ahead of time so there shouldn't be too much complexity normally? But maybe I'm missing something obvious.

Also, do we know if there are users relying on the replaced cli options apart from docs.rs?

I guess it can be short if no ones uses this option indeed.

[2022-09-02 20:08] jyn514 commented on #98413
Docs.rs uses this option. It's ok if docs.rs removes it, but we need advance notice (cc @rust-lang/docs-rs) and to know what we should replace it with.

[2022-09-02 20:59] jsha commented on #101337
One of the most common situations where the enum discriminants should be documented is when using IntoPrimitive/TryFromPrimitive, as mentioned in the example from https://github.com/Enselic/cargo-public-api/issues/121.

[code]

One way to achieve the desired effect for this subset of primitives would be to add to the TryFromPrimitive derive macro so that it adds a `#[doc()]` attribute to each enum

[2022-09-02 21:03] jsha commented on #85444
Thanks for the details, @Enselic! Given that, I don't think we can work around it in rustdoc. We rely heavily on external files, and inlining everything would be a performance problem for viewing the docs on the web. It would also be a size problem for locally-generated docs.

Perhaps we could have `cargo doc --open` and `rustup doc` detect if the system browser is Safari, and if so try Firefox in

[2022-09-02 21:08] #99866 closed

[2022-09-02 21:08] #97755 closed

[2022-09-02 21:08] rust-highfive opened #101344 "`miri` no longer builds after rust-lang/rust#101333"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#101333, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-09-02 21:11] RalfJung commented on #101344
Ah damn it, we keep getting broken so there's still no nightly with Miri. :(

[2022-09-02 21:24] RalfJung commented on #101344
Building std now ICEs on windows...?
[code]
The same target works fine on my system, so it is host-specific. Sounds like one of the PRs in that rollup is buggy...

[2022-09-02 21:26] jsha commented on #98413
The `--emit` option, right? That should continue to work with my branch.

To make sure I understand how it works, is this summary accurate?

The first time a new toolchain is installed, rustdoc is called on a dummy crate with `--emit=unversioned-shared-resources,toolchain-shared-resources`, which gets the fonts and the static JS/CSS. These are stored somewhere such that they can be served under `/

[2022-09-02 21:28] compiler-errors commented on #101344
@RalfJung do you have a stack trace for that ICE?

[2022-09-02 21:36] RalfJung commented on #101344
Nope, I cannot reproduce so all we got is the [log from CI](https://github.com/rust-lang-ci/rust/runs/8162177487?check_suite_focus=true).

[2022-09-02 21:53] RalfJung commented on #101344
Miri CI [cannot reproduce either](https://github.com/rust-lang/miri/runs/8164293007?check_suite_focus=true), not even in a Windows host. It's a 32bit host though.

Would be great if someone with an x86_64 windows host could try to clone the Miri repo and do `./rustup-toolchain HEAD && ./miri test`.

[2022-09-02 22:11] newpavlov opened #101346 "Incorrect handling of lateout pairs in inline asm"
(issue is loosely owned, in terms of P-high tracking, by @wesleywiser and @pnkfelix keeping their eyes on https://github.com/llvm/llvm-project/issues/57550)

### Updated bug description
The following Rust function:
[code]
Gets compiled into this obviously incorrect assembly:
[code]
Godbolt link: https://rust.godbolt.org/z/Yb9v7WobM

LLVM incorrectly reuses register for a pair of `lateout`s if it c

[2022-09-02 22:12] GuillaumeGomez commented on #98413
I was talking about the `--resource-suffix`. If you were never talking about this option, I completely misunderstood you. ^^'

:+1:

[2022-09-02 22:25] jsha commented on #98413
@GuillaumeGomez said:

Indeed, earlier in this thread I talked about potentially deprecating `--resource-suffix`. @notriddle also mentioned `--emit`. Both are relevant, though after poking at it some more I have concluded my branch cannot completely deprecate `--resource-suffix`. The "dynamic" JS still (probably) needs it: sidebar-items, implementors, crates, and search-index.

We could eventually

[2022-09-02 22:58] aliemjay opened #101350 "ignored regions constraints when normalizing user-provided types"
This compiles after full NLL (>= 1.64) but it shouldn't:
[code]

HIR typeck unconditionally normalizes user-provided types modulo regions, so it's not NLL's fault this time :)

@rustbot label regression-from-stable-to-stable T-compiler T-types

[2022-09-02 23:07] BGR360 opened #101351 "rustc should suggest trait bounds when attempting to use associated items on generic parameters."
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b51b816199abf5c9e31ee9252d86d6a2)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

It already does this for trait methods ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b5f4ff4ab39fe7d78aff24119cb2002e)):

[cod

[2022-09-02 23:09] Globidev commented on #101297
I tried to get my hands dirty and used `cargo-rustc-bisect` on this and it seems that the regression appeared on `nightly-2022-08-06` with cdfd675a63090182fd1c5f2ff58d8eaa115da156

Not sure if that helps. I don't think I can diagnose things much further 😅

<details>
    <summary>cargo bisect-rustc output</summary>
[...]

searched toolchains nightly-2022-06-24 through nightly-2022-08-31

**********

[2022-09-02 23:19] compiler-errors commented on #101205
Also, correct me if I'm wrong, but doesn't replacing `_ident` with `_` change the drop behavior? I don't know if we should suggest this given that it changes semantics.

[2022-09-02 23:21] compiler-errors commented on #100469
This is fixed.

[2022-09-02 23:21] compiler-errors commented on #101126
This was fixed.

[2022-09-02 23:21] #101126 closed

[2022-09-02 23:23] compiler-errors commented on #101119
@proohit, I think I may have fixed this, but is there a way you could share a sample of code that actually is complete? I don't know all of these structs that you're using, and reverse-engineering this is proving difficult.

[2022-09-02 23:25] wonchulee commented on #100717
@davidtwco

I'm still working on `rustc_builtin_macros` and will submit a pr shortly.

[2022-09-02 23:25] tmandry commented on #101344
We're seeing a related-looking issue on Fuchsia on the same commit:

https://logs.chromium.org/logs/fuchsia/buildbucket/cr-buildbucket/8804097715115352817/+/u/build/failure_summary

[code]

[2022-09-02 23:31] compiler-errors commented on #100981
I'm gonna close this due to

and

feel free to reopen an issue if you're able to reproduce this issue, and a code sample would be extra useful if so.

[2022-09-02 23:31] #100981 closed

[2022-09-02 23:35] rust-highfive opened #101352 "`miri` no longer builds after rust-lang/rust#97802"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#97802, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Enselic, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-09-02 23:39] compiler-errors commented on #100306
I'm pretty sure this is fixed, please re-open an issue if you see this again, since I am unable to test the incomplete code you provided.

[2022-09-02 23:39] #100306 closed

[2022-09-02 23:40] compiler-errors commented on #100219
Closing since this no longer ICEs on nightly.

[2022-09-02 23:40] #100219 closed

[2022-09-02 23:55] Ben-Lichtman opened #101353 "Fix messaging around what is and isn't a "slice" AKA. stop using "slice" to mean &[T]"
## **Slices - Why the messaging is wrong / confusing and needs to be clarified**

In my experience teaching newbies about slices (mostly on the community discord and in person) there has always been a speed-bump in the learning process, and that's slices.

The way we talk about slices is confusing and ambiguous - we first (incorrectly) teach that `&[T]` is called a slice, but then later when we in

[2022-09-03 00:01] frewsxcv opened #101354 "Replace `std::io::lazy::Lazy` with `std::cell::LazyCell`?"
Could [`std::io::lazy::Lazy`](https://github.com/rust-lang/rust/blob/7c98d2e63f732682b057c8c453b08f9e12b262e6/src/libstd/io/lazy.rs) be replaced with [`std::cell::Lazy`](https://doc.rust-lang.org/nightly/std/cell/struct.LazyCell.html)? What does the former offer that the latter doesn't already have?

[2022-09-03 00:06] kpreid commented on #101353
In my opinion,

* The documentation in `primitive.slice.html` is the most important thing to clarify, because it's the most common place people look for what _should_ be a _precise_ definition when they want clarity.

* It isn't very harmful to say “slice” casually when talking about inputs and outputs of functions; it's routine to talk about operating on `T` when the operation takes a `&T` or `&m

[2022-09-03 01:04] nikomatsakis commented on #101336
OK, I've adjusted the proposal slightly so that the validity invariant is now word-aligned, non-null. This is consistent with other pointer-like values and offers us more room for future change if needed.

As such, I am ready to ...

@rfcbot fcp merge

[2022-09-03 01:20] ehuss opened #101356 "E0004 non-exhaustive patterns suggestion has unqualified enum variant"
Given the following code:

[code]

The current output is:

[code]

The problem with the suggestion is that it suggests `Variant2` without the `Foo::` prefix. Ideally the suggestion should be:

[code]

The current suggestion does not compile.

[code]

[2022-09-03 02:09] compiler-errors commented on #101354
#77154

[2022-09-03 02:15] frewsxcv commented on #101354
Oh I'm linking to an old git SHA oops. It's already gone

[2022-09-03 02:15] #101354 closed

[2022-09-03 03:14] casey opened #101358 "Odd result from Path::components on Windows"
This might be a bug, or this might just be me not understanding how Windows UNC paths work.

When I call this:

[code]

I get:

[code]

This seems very odd! The `bar` component is truncated, and `//foo/ba` is the prefix, followed by a root dir, followed a normal `r` component.

It seems like the way this path is broken into components on Windows has changed since an old release. I have a path clea

[2022-09-03 03:14] Rageking8 commented on #101205
Oh, then maybe we shouldn't change the suggestion after all.

[2022-09-03 03:32] cr1901 commented on #67819
After patching/accounting for inline asm syntax changes locally and bisecting, my issue _as described_ is fixed by 599a03c9b590aea4f5be933f56bf6c254794e105.

This is an LLVM bump, so out of curiosity I bisected to find the relevant [patch](https://reviews.llvm.org/D117223?id=399927) by @nikic which fixes the bloat (I can't find LLVM commit 4796b4ae7bccc7b75a26b666fbd554c49b274404 on Github). Even

[2022-09-03 03:32] #67819 closed

[2022-09-03 03:41] saethlin commented on #101344
I'm unable to reproduce the ICE with `./miri test` on
[code]

[2022-09-03 03:48] #101066 closed

[2022-09-03 04:04] talchas commented on #101346
Yeah, the 32-bit cpuid implementation at <https://doc.rust-lang.org/src/core/up/up/stdarch/crates/core_arch/src/x86/cpuid.rs.html#62> is compiling to something wrong. This is compiling to
[code]
on `rustc 1.63.0 (4b91a6ea7 2022-08-08)`
which of course does actually clobber %ebx, because apparently a `lateout` register can overlap an explicitly-chosen `inlateout` register. I don't know if that's an

[2022-09-03 04:10] newpavlov commented on #101346
Yeah, after your post in the RustCrypto issue I also tried it in godbolt and got the same weird assembly: https://rust.godbolt.org/z/4z9nrY1Eh

Rust:
[code]
Generated assembly which is obviously wrong:
[code]
Bad news is that on x68-64 we [get](https://rust.godbolt.org/z/fY5YhxzEe) the same wrong assembly:
[code]

[2022-09-03 04:21] talchas commented on #101346
It's supposed to pick a different register and save it there, and that both should work (with proper clobbers) and should be better than pushing to the stack. Changing it to `out(reg) ebx,` works in godbolt, though I can't swear that it is guaranteed as opposed to just avoiding this example. `out(reg) ebx, lateout("eax") eax,` does still work, so it presumably still won't be able to conflict with

[2022-09-03 04:28] talchas commented on #101346
<https://rust.godbolt.org/z/Gr1ve77a6> suggests that it might be that LLVM considers _unused_ lateout arguments to be fair game to delete along with the clobber.

[2022-09-03 04:31] newpavlov commented on #101346
I think the issue is with incorrect use of `lateout(reg) ebx,` together with `inlateout("eax") leaf => eax,`. Because of the `late` specifiers LLVM assumes that it's legal to use for both these registers (i.e. it assigns `{0}` to `eax`).

[2022-09-03 04:41] talchas commented on #101346
Yeah, the thing is that that doesn't really make sense in general - `lateout(reg) ebx, lateout("eax") eax` (which still fails) really shouldn't be able to assign them to be the same register any more than it could for `lateout(reg) x, lateout(reg) y`.

[2022-09-03 04:48] Enselic commented on #101352
Fixed by https://github.com/rust-lang/miri/pull/2532

[2022-09-03 04:57] newpavlov commented on #101346
Indeed, LLVM does something weird with `lateout` registers when one of them does not get used.

https://rust.godbolt.org/z/3e6MzzWfa

Rust:
[code]

Assembly:
[code]

[2022-09-03 05:01] talchas commented on #101346
That one is probably just `pop arbitrary_register` - it needs to have push/poped _something_ around the asm for stack alignment reasons since it isn't marked nostack.

[2022-09-03 05:06] newpavlov commented on #101346
You are right. A better example, which probably can be used as minified demonstration of the issue: https://rust.godbolt.org/z/dfP4s9dG7
[code]
[code]

[2022-09-03 05:14] newpavlov commented on #101346
Either way, the `late` specifiers do not make much sense in the case of CPUID intrinsics and I think they should be simply removed. We only need one scratch register to cache EBX, which is not EAX, EBX, ECX, or EDX.

[2022-09-03 05:40] MomoLangenstein opened #101363 "Constructing tuple variant with static ref in const gives unhelpful "temporary value dropped while borrowed" error"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=faa286146f7760bc7c1be85eaac73f9d

[code]

The current output is (both on stable, beta, and nightly):

[code]

It is, however, possible to get this code to compile by using the struct initialiser syntax for the tuple variant:

[code]

Given that this initialiser isn't used very often, it took me a whil

[2022-09-03 05:54] ChrisDenton commented on #101358
This is indeed a bug. But it's also a bit of an edge case. It's not entirely obvious what the correct behaviour should be as technically speaking it's not a well formed path. The prefix is one place where Windows (sometimes) cares about the number and type of slashes.

Anyway, the old behaviour was:

[code]

Which is also wrong (it changes the prefix type), but maybe less wrong than it currently i

[2022-09-03 06:08] Nilstrieb commented on #101344
This does look like my PR causes this.

[2022-09-03 06:33] comex commented on #101346
For what it's worth, the original `asm!` block seems to me like it would misbehave if `{0}` happened to be assigned as `ebx` itself.  Why does it do this backup and restore rather than just specifying `ebx` as a clobber?

But that's not what's happening here, so it does seem like LLVM is miscompiling the code.

[2022-09-03 06:57] talchas commented on #101346
You can't specify `ebx` as a constraint because LLVM uses it internally for something (maybe exactly this plt cache? I forget) and doesn't handle clobbers of it like a sane compiler (iirc you get compile errors sometimes).

[2022-09-03 07:14] talchas commented on #101346
That said, I'm not sure that that's true anymore - while I vaguely recall some sort of error along those lines, I can't trigger one from the PLT usage of `ebx`. <https://github.com/rust-lang/rust/issues/90083> doesn't give details and I can't find them quickly re LLVM/clang.

[2022-09-03 07:34] compiler-errors commented on #101226
@not-rusty can you please provide more detailed instructions on how to reproduce this?

[2022-09-03 07:41] RalfJung commented on #101352
Duplicate of https://github.com/rust-lang/rust/issues/101344.

[2022-09-03 07:41] #101352 closed

[2022-09-03 07:43] RalfJung commented on #101344
Yeah when I wrote that, the other PR had not landed yet. ;)

[2022-09-03 07:47] RalfJung commented on #101344
Hm, that is odd. Not sure what the tools builder does differently, maybe it has debug assertions enabled?

The line number in the ICE is so bad due to https://github.com/rust-lang/rust/issues/100696.

[2022-09-03 07:58] RalfJung commented on #101336
I am not sure if that is true -- there could be code *relying* in this safety invariant. Extreme case -- this fn is currently sound:
[code]
This relates to that question about "type system invariants with wiggle room" that you keep getting back to. :)

[2022-09-03 08:25] ChrisDenton commented on #101352
This doesn't look like a duplicate?

https://github.com/rust-lang-ci/rust/runs/8164066860?check_suite_focus=true#step:25:7879

[code]

[2022-09-03 08:30] RalfJung commented on #101352
Yeah there are multiple things breaking Miri, but having multiple issues with the exact same title does not help.

That other breakage already has a PR starting to fix it. And since the ICE does not happen on Miri CI we can probably even land it...

[2022-09-03 09:02] tschuett opened #101370 "lld-wrapper fails again"
I tried this code:

[code]

and this happened:

[code]

I expected to see this happen: it would compile my crate.

Instead, this happened: lld failed.

### Meta

`rustc --version --verbose`:
[code]

[code]

https://github.com/rust-lang/rust/pull/100200 fixed the problem that I reported in https://github.com/rust-lang/rust/issues/97755.  There seems to be a new problem with an unknown linker name.

[2022-09-03 09:16] the8472 commented on #101353
I don't think it's *wrong*. The english language has this common pattern where a base word forms a large category covering many related things. That category may have a central example but also contain some more tangential things.
If you want to name something more specific you need to glue on some extra qualifiers. Some people use dashes to make it clear that something is a phrase-word like mutab

[2022-09-03 09:16] Xiretza opened #101371 "Bad diagnostics when expression followed by call is instead parsed as statement followed by parenthesized value"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=424c13966bd147553adbb7c2359b73f1

[code]

The current (1.63.0 and nightly-2022-09-02) output is:

[code]

Ideally the output should include a hint like this, as is already the case for binary operator expressions instead of call expressions (e.g. `if ... { ... } else { ... } + 3`):

[code]

[2022-09-03 09:29] petrochenkov commented on #101370
@tschuett
Could you post the list of files in the `gcc-ld` directory in Rust distribution?

[2022-09-03 09:31] tschuett commented on #101370
I found in the clang invocation:
[code]

[code]

[2022-09-03 09:34] petrochenkov commented on #101370
It looks like maybe clang replaces `argv[0]` and changes it from `ld64.lld` to `ld64` when calling lld-wrapper?

[2022-09-03 09:36] petrochenkov commented on #101370
I can't confirm whether that's the case right now, but if that's true then the fix would be as simple as adding the `"ld64"` alternative to `fn get_lld_flavor` in lld-wrapper.

[2022-09-03 10:02] tschuett commented on #101370
Apple ships its linker as `ld`. I couldn't find a `ld64` file.

[2022-09-03 10:08] Rageking8 opened #101373 "Suggest arithmetic promotion conversion using `as` where appropriate"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should suggest using `as` to do a promoting conversion  (i.e. convert one of the type to something of a larger size, e.g f32 -> f64) if it can resolve the error at hand, where appropriate. On the other hand, I think the second help in the current diagnostics showing other types implementing the trait `Add<Rhs>` i

[2022-09-03 10:26] proohit commented on #101119
@compiler-errors, I wasn't able to create a smaller example, as the error did not show up and I don't know which path exactly causes that behaviour. But I prepared an environment of the actual code in this branch ([proohit/rust-argon2-wasm/rust-lang/rust/#101119-mcve](https://github.com/proohit/rust-argon2-wasm/tree/rust-lang/rust/%23101119-mcve)), in that I tried to trim any excess code. Please s

[2022-09-03 10:28] Rageking8 opened #101374 "Slightly extend help diagnostic for immediately invoked closure"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3502f70964f7f5e0955eeb83e22286ca)

[code]

The current output is:

[code]

Ideally the output should suggest adding parentheses around the closure before calling it, since that suggestion is already present if the return value of the closure is wrapped in braces, as shown below.

[code]

Outpu

[2022-09-03 10:46] gimbles commented on #101286
`cargo install bottom` runs fine on latest nightly today (3/Sep/2022) on x64 Linux

[2022-09-03 11:02] joboet opened #101375 "`print!` does not work after shutdown if no previous print occurred"
I tried this code:

[code]

#### I expected to see this happen:
The code should print "hello, world!", which it does if any `print` statement occurred before it (see the [test](`src/test/ui/runtime/stdout-during-shutdown.rs`)).

#### Instead, this happened:
Nothing is printed to standard output.

The bug is in the cleanup function that disables buffering during shutdown:
https://github.com/rust-la

[2022-09-03 11:03] joboet commented on #101375
@rustbot label +T-libs

[2022-09-03 11:03] amarao opened #101376 "panicked at 'Box<dyn Any>', compiler/rustc_errors/src/lib.rs:1425:13"
### Code
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-09-03 11:20] asensio-project opened #101377 "[Regression] GlobalValue with DLLImport Storage is dso_local!"
Hello,

I was trying to compile the [uefi crate](https://github.com/rust-osdev/uefi-rs), but I can't compile it with nightly-2022-09-02. The previous nightly works fine.

I get:
GlobalValue with DLLImport Storage is dso_local!
ptr @_ZN4core7unicode12unicode_data11white_space14WHITESPACE_MAP17h76c794c1a16111d0E
LLVM ERROR: Broken module found, compilation aborted!

Maybe, the pr that broke it is #1

[2022-09-03 11:33] tschuett commented on #101370
I believe the issue is with the usage `file_stem()`in the PR, see:
https://doc.rust-lang.org/stable/std/path/struct.Path.html#method.file_stem

[2022-09-03 11:39] leonardo-m commented on #101373
Generally the usage of "as" should be discouraged, unless strictly necessary. The second and third case don't need "as", the compiler can suggest instead:

    println!("Ex 2 : {}", f64::from(a) + c);
    println!("Ex 3 : {}", f64::from(a) + c);

The first case too could use a f32::from(a), but the a is assumed of type i32 because of compiler limitatations regarding polymorphic literals handling.

[2022-09-03 11:41] upsuper commented on #46213
So this could potentially regress accessing data of `Cow` with slice / str.

Currently, for code like
[code]
the compiler generates optimized code:
[code]
i.e. without check of the tag.

But if we optimize `Cow` to take advantage of the non-nullness of ptr, the ptr and len fields would no longer align across the two variants, and it would need to always do an extra tag check for accessing data.

[2022-09-03 11:59] amarao commented on #101376
(update, I've reproduced it on smaller example)

[2022-09-03 12:40] 64kramsystem opened #101379 "Dead code not detected"
In a project of mine, some dead code is not detected.

It's considerably time consuming to provide a minimal test case, because I'd have to progressively rip out all the functions in the codebase, hoping that, in the meanwhile, the bug still reproduces; for this reason, I'm providing the steps required to reproduce the problem, which is deterministic.

Perform the following steps:

[code]

The cur

[2022-09-03 12:55] uselessgoddess opened #101380 "Different behavior of lifetimes with aliases"
I tried this code:
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ad21ff588d5588bec14d4d9b9f7d114e)
[code]
But this leads to a compilation error in the second case
[code]
I don't understand why this is happening. Is this an error or is it expected?

[2022-09-03 13:02] uselessgoddess commented on #101380
<details>
<summary>Also, if you annotate F as `'static`. We get a similar mir:</summary>

[code]
</details>

[2022-09-03 13:11] #101286 closed

[2022-09-03 13:14] ChrisDenton commented on #101379
Prefixing with an underscore silences the dead code lint. This is intended behavior, see https://doc.rust-lang.org/rustc/lints/listing/warn-by-default.html#dead-code

[2022-09-03 13:32] newpavlov commented on #101346
Trying to clobber `rbx` in the usual way currently results in the following compilation error:
[code]
Honestly, it's quite annoying and I wish we did not have such exception.

[2022-09-03 14:25] wwylele commented on #101380
My guess:

The aliases are expanded to the following:
[code]
So `foo` and `bar eventually become
[code]

[2022-09-03 14:50] 64kramsystem commented on #101379
Uh! I didn't know that. Sorry :grimacing:

[2022-09-03 14:50] #101379 closed

[2022-09-03 15:28] Mark-Simulacrum commented on #100327
@craterbot run name=beta-1.64-3.1 start=1.63.0 end=beta-2022-09-01 mode=build-and-test cap-lints=warn p=1 crates=https://crater-reports.s3.amazonaws.com/beta-1.64-3/retry-regressed-list.txt

[2022-09-03 15:45] glts commented on #61796
This issue is likely to get more exposure now with the .1 release of Ubuntu LTS 22.04.

Anybody who installs Rust on plain Ubuntu now will not be able to view local documentation with `rustup doc --book` or `rustup doc --std`.

[2022-09-03 17:04] SimonSapin commented on #46213
The code above does check the tag since the length field is at different offsets in the two variants, though the `8*rax` multiplication makes the offset computation branchless.

With a more compact `Cow<str>` representation the length will be at the same offset so the code accessing it will be even simpler. It’s accessing the pointer field that will regress and require a branch:

https://play.rust

[2022-09-03 17:21] LukeMathWalker opened #101383 "Distribute documentation in JSON format via rustup for toolchain components"
# Problem

It is currently not possible to access the JSON version of the documentation for crates bundled with the toolchain (`core`, `alloc`, `std`, etc.) via the same mechanism used for "normal" crates:

[code]

This is due to the fact that those crates are pre-compiled.

# Proposed solution

`rustup` already bundles the HTML version of the documentation for those crates.
We can start bundling

[2022-09-03 17:35] Jerrody opened #101384 "[`WINDOWS`] Crate regression `glutin`. Expected `X` found `Y`."
Platform: `Windows 10`
Toolchain: `stable`/`nightly`

Crate version:
`glutin` 0.2x.x

Mentioned in:
https://github.com/rust-windowing/glutin/issues/1454
https://github.com/rust-windowing/glutin/issues/1455

Error:
[code]

## Meta
`stable`:
[code]
`nightly`:
[code]

[2022-09-03 17:46] ChrisDenton commented on #101384
I think this is unlikely to be caused by the Rust compiler. The most likely explanation would be the crate you're using has switched from winapi to windows-sys.

[2022-09-03 17:46] Jerrody commented on #101384
But I don't understand why this happens in version `0.26.0`.

[2022-09-03 17:47] ChrisDenton commented on #101384
You would have to ask them that.

[2022-09-03 17:48] Jerrody commented on #101384
Damn. Alright, I think that this issue is not relevant. I close it.

[2022-09-03 17:48] #101384 closed

[2022-09-03 18:06] steffahn commented on #101376
Error -> ICE
regression in 1.63 @rustbot label regression-from-stable-to-stable

[2022-09-03 18:06] QuineDot commented on #101376
[Reduced example (stable, nightly, beta).](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4b05532b0ac1b0baebe3fd350fdcebca)
[code]
[There's no ICE on 1.62.](https://rust.godbolt.org/z/xvrEjnsf4)

[2022-09-03 18:16] steffahn commented on #101376
searched nightlies: from nightly-2022-05-01 to nightly-2022-07-01
regressed nightly: nightly-2022-05-19
searched commit range: https://github.com/rust-lang/rust/compare/4c5f6e6277b89e47d73a192078697f7a5f3dc0ac...cd282d7f75da9080fda0f1740a729516e7fbec68
regressed commit: https://github.com/rust-lang/rust/commit/a084b7ad35adb508bd2e053fc2a1b9a53df9536c

<details>
<summary>bisected with <a href='http

[2022-09-03 18:17] joshlf commented on #69835
Is there a reason that these functions aren't `const fn`s?

[2022-09-03 18:18] compiler-errors commented on #101376
@rustbot claim

[2022-09-03 18:37] aDotInTheVoid commented on #101383
@rustbot modify labels: +A-rustdoc-json +T-rustdoc +T-infra

[2022-09-03 19:00] Eugeny commented on #99975
This error is forcing me to actually clean up my messy code, _unacceptable_ 🍋

[2022-09-03 19:27] nicholasbishop commented on #101377
Confirmed with `cargo-bisect-rustc --with-src --preserve --start 2022-09-01 -- build --target x86_64-unknown-uefi` that https://github.com/rust-lang/rust/pull/100537 is where it starts failing:

searched nightlies: from nightly-2022-09-01 to nightly-2022-09-03
regressed nightly: nightly-2022-09-02
searched commit range: https://github.com/rust-lang/rust/compare/9243168fa5615ec8ebe9164c6bc2fdcccffd

[2022-09-03 19:46] oxalica commented on #46213
It's possible to eliminate that branch via `CMOVE`. Not sure why LLVM refuse to do that currently.
But it's definitely not blocked by niche-filling.

[2022-09-03 20:13] uselessgoddess commented on #101380
This seems to be the truth.

[code]
and
[code]
this is confirmed

[2022-09-03 20:20] thomcc commented on #101300
Related to (possibly dupe of) https://github.com/rust-lang/rust/issues/99668.

[2022-09-03 20:23] archuser555 opened #101390 "Why i love rust?"
I like rust? Why? Also why rust are hard? And why did i love rust?

[2022-09-03 20:27] nikic commented on #101300
Yeah, this shouldn't be happening. Based on the symbol names, the atomic load or store seems to get lowered to atomic CAS at *some* point.

[2022-09-03 20:31] nikic commented on #101300
Indeed: https://llvm.godbolt.org/z/TvjP1on6f

[2022-09-03 20:31] thomcc commented on #101300
There's no __sync equivalent to plain load/store, so I believe this is to force going through libcalls on targets where you'd need to take a global lock around all access to support RMWs (which I guess LLVM assumes we might want to support).

[2022-09-03 20:38] Lokathor commented on #99668
load/stor appears to still not work with ARMv4T, though it should

See https://github.com/rust-lang/rust/issues/101300

[2022-09-03 20:38] thomcc commented on #101300
This is a lot like the current situation for [compiler_fence](https://github.com/rust-lang/rust/issues/62256) -- on some embedded targets llvm seems to consider __sync to be a good fallback: https://github.com/llvm/llvm-project/blob/9905dae5e18cd55ee6bb8678c95fed940ded1ef9/llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp#L3937-L3939

[2022-09-03 20:56] CAD97 commented on #101336
I just want to note that with `feature(ptr_metadata)`, the safety and validity invariants of the metadata part of `*const dyn Trait` must be the same as the safety and validity invariants of `<fn std::ptr::metadata::<dyn Trait>>::Output`. (This type is currently spelled [`std::ptr::DynMetadata<dyn Trait>`](https://doc.rust-lang.org/nightly/std/ptr/struct.DynMetadata.html).) This is a necessary for

[2022-09-03 21:19] nikic commented on #101300
Ah, I see the problem. These are seq_cst atomic load/stores, but apparently thumbv4t has no dmb instruction, so it's not possible to lower atomic load/store with stronger than monotonic ordering natively. Thus we get libcalls even with the `+atomics-32` feature.

This does look correct to me, and it also looks like this is not new LLVM 15 behavior either. So to clarify, did this code (using these

[2022-09-03 21:29] QuineDot commented on #101380
Yes, in that context (type aliases), `dyn Trait` has an implicit `'static` lifetime while `&'a mut dyn Trait` has an implicit `'a` lifetime.  See the RFCs [linked from this part of the reference.](https://doc.rust-lang.org/reference/lifetime-elision.html#default-trait-object-lifetimes)

[2022-09-03 21:43] matheus-consoli commented on #91762
this code now compiles if we specify the `Functor::fmap` type parameters

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3f65783de119c3014896341fa62c87ea)

[2022-09-03 21:49] QuineDot opened #101393 "Suggest `Struct::<'_>` instead of `Self` when lifetime does not match"
Heads-up: [PR 100976](https://github.com/rust-lang/rust/pull/100976) probably fixes this but I still felt its own issue was warranted (and didn't find an existing one).

---

[Given the following code:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0bf33196179908c605f448226b34ea53)

[code]

The current output is:

[code]
Ideally the output should look like:

[code]

Progr

[2022-09-03 22:02] Lokathor commented on #101300
Ah, I should be more clear: This code is all new code, and I have never before even attempted to use `Atomic*` types on this target.

However, I was told by both [Ralf](https://github.com/rust-lang/unsafe-code-guidelines/issues/347#issuecomment-1176584914) and [m-ou-se](https://github.com/rust-lang/unsafe-code-guidelines/issues/347#issuecomment-1176586417) that plain loads are stores are "effectiv

[2022-09-03 22:15] Lokathor commented on #101300
On advice `thomcc` I tried other orderings:
* for load/Acquire and store/Release it still calls functions.
* for all ops Relaxed it did not call functions.

[2022-09-03 22:31] Lokathor commented on #101300
- Using load(Acquire)/store(Release) would be correct for this code, but still emits the library calls.
- Relaxed doesn't emit library calls, but might be reordered incorrectly (non-atomic access can move past the atomic changes).
- Adding calls to `compiler_fence` to prevent that should be fine here, except that hits [#62256](https://github.com/rust-lang/rust/issues/62256) and becomes a library c

[2022-09-03 22:33] PeakKS opened #101398 "Lack of warning for getting pointer on a temporary CString declared in array"
Given the following code:

[code]

There is no error / warning reported, but the string is invalid. If I was to try to pass this variable to the InstanceCreateInfoBuilder in ash for example I would get an `ERROR_LAYER_NOT_PRESENT`.

I was able to fix my code by splitting that expression as shown:
[code]
While testing before writing this error report I noticed that if I have that new code alongside

[2022-09-03 23:18] str4d commented on #100717
Working on `rustc_codegen_cranelift`.

[2022-09-03 23:25] QuineDot commented on #101353
Historical note: Before DSTs, `&[T]` were called slices and there was some transition period before `[T]` were called slices ("dynamically sized arrays", "unsized slices", et cetera). [1](https://github.com/rust-lang/rust/issues/9077) [2](http://smallcultfollowing.com/babysteps/blog/2013/11/26/thoughts-on-dst-1/) [3](https://github.com/rust-lang/rust/issues/13716) [4](https://github.com/rust-lang/

[2022-09-03 23:47] Ben-Lichtman commented on #101353
Aside, but your link "4" mentions calling &[T] a "borrowed slice", which I think is quite a good name and one that I didn't mention in the OP

[2022-09-03 23:54] mx00s opened #101400 "Tracking Issue for const_unicode_case_lookup"
Feature gate: `#![feature(const_unicode_case_lookup)]`

This is a tracking issue for making `char::is_lowercase` and `char::is_uppercase` const.

### Public API

-    https://doc.rust-lang.org/nightly/core/primitive.char.html#method.is_uppercase
-    https://doc.rust-lang.org/nightly/core/primitive.char.html#method.is_lowercase

Example:

[code]

### Steps / History

- [x] Implementation: #101401

[2022-09-03 23:58] compiler-errors commented on #101297
cc @spastorino ^

[2022-09-04 02:33] ptdecker commented on #85444
I have developer menus enabled but am experiencing the same issue.  There is also someone on StackOverflow who has put it up as a question:  [link](https://stackoverflow.com/questions/73559476/cargo-doc-run-does-not-load-the-doc-in-safari-properly).  Attached is a screenshot.

![safarierror](https://user-images.githubusercontent.com/537053/188294530-1f75fcaf-f522-4fc7-bffb-f44aabf24d69.jpg)

[2022-09-04 04:48] taiki-e commented on #101300
FWIW, whether this works or not actually seems to depend on compiler optimizations. (In cases where `Atomic*::{load,store}` cannot be inlined enough, libcalls will still be generated: https://github.com/taiki-e/portable-atomic/pull/36#issuecomment-1236248209)

[2022-09-04 05:14] #99875 closed

[2022-09-04 05:14] #100278 closed

[2022-09-04 05:14] #101051 closed

[2022-09-04 05:14] #101047 closed

[2022-09-04 05:17] Lokathor commented on #101300
Ah yes, i hadn't considered. For this platform, I always use opt-level = 3 for all builds.

[2022-09-04 05:38] compiler-errors commented on #101390
@archuser555, thanks for the feedback but this isn't really an issue for the rust-lang/rust repo. Have fun using Rust!

[2022-09-04 05:38] #101390 closed

[2022-09-04 06:08] coderedart commented on #83788
just wanted to know if this affects https://github.com/rustwasm/team/issues/291 where we can't compile c/cpp binding crates to `wasm32-unknown-unknown` yet. eg: `sdl2-sys` or `zstd-sys` etc..

[2022-09-04 07:51] Liamolucko commented on #83788
Yes - adding the `"wasm"` ABI would allow `wasm-bindgen` to switch to it, and then the `"C"` ABI should be able to be fixed to match `clang` since there wouldn't be anything relying on it. That would fix the ABI-incompatibility issue.

A different way to fix it would be to change `wasm-bindgen` to generate code which works the same no matter whether the current, incorrect `"C"` ABI or the standard

[2022-09-04 07:55] #100834 closed

[2022-09-04 07:55] #101121 closed

[2022-09-04 08:58] JulianKnodt commented on #98931
@TimJentzsch
After some discussion about it, it would make sense to add a warning that if the parameter is missing but has a default, it still needs to be explicitly specified. Instead, what you may be able to do is have two constructors, one specifically implemented for your default:
[code]

And one generic one:
[code]

While it is less elegant to have 2 separate constructors with different names

[2022-09-04 12:23] arniu commented on #80552
The chunks are slices and do not overlap.

So the name `chunks_by` / `chunks_by_mut` is a better one.

[2022-09-04 12:27] Alexendoo commented on #101243
Fixed by #101217

[2022-09-04 12:27] #101243 closed

[2022-09-04 12:29] arniu commented on #80552
The chunks are slices and do not overlap.

So the name `chunks_by` / `chunks_by_mut` is a better one.

[2022-09-04 12:34] epbuennig opened #101405 "rustdoc: doctest compilation failure for item without code block"
`rustdoc` will attempt to compile a doc test for the following code, resulting in a failed doctest compilation:
I encountered this while writing verbatim docs for options using the `clap` derive API.

Steps to reproduce:
1. Add this to `src/lib.rs`
[code]
2. Run `cargo t --doc`

**Expected result**: no doctest is compiled for `fn main`, as it has not code blocks
**Actual result**: a doctest failur

[2022-09-04 12:50] RalfJung commented on #101336
FWIW, for soundness of those functions, it is enough for the safety invariants to be the same. They don't have to have the same validity invariants.

At least on raw pointers I don't think we should have `dereferenceable` or any reborrowing, that would effectively make the validity invariant that this must point to actual memory.

So the raw ptr vtable type would be more like `&'static [usize; 0]`

[2022-09-04 13:18] zesterer opened #101406 "Compiler freeze"
I'd like to give a more descriptive name to this issue, but unfortunately I don't know enough about the internals of rustc to be more useful. To my uneducated eye, it seems like the Rust is choking on the obligation produced by the `where` bound on the `Bar` implementation.

I can't fully confirm that this is caused by GATs, but removing the generic lifetime on `Bar::Ctx` results in the compiler g

[2022-09-04 13:34] 0x53ee71ebe11e commented on #100800
Anything? Not even anyone adding the appropriate tags? I can't do that myself.

[2022-09-04 14:14] damooo commented on #99492
I got the same eror for a custom struct saying `implementation of RepDerefLayer` is not general enough` in an async block, with following note.

[code]

Essentially it says not general enough over lifetime param in a BoxError `Box<dyn StdError + Sync + std::marker::Send>`, where in original type definition, it as type alias with a `+'static` bound on `dyn Error`. Error happens at high level of cod

[2022-09-04 14:18] WaffleLapkin commented on #101284
@rustbot claim

[2022-09-04 14:19] yenicelik commented on #53827
yeap, issue still persists

[2022-09-04 14:24] WaffleLapkin commented on #101284
So, it seems that there are 3 warnings in this category and the issue only affects the closure one:
- `array_into_iter` is not affected because it checks that auto-ref happens, which doesn't in rust 2021
- `non_fmt_panics` is not affected because the linted code simply doesn't compile in rust 2021
- `rust_2021_incompatible_closure_captures` is affected

[2022-09-04 14:35] str4d commented on #100717
@wonchulee whoops, I had searched the history of this PR for `rustc_codegen_cranelift` to check no one was working on it, but forgot to do the same when I switched to `rustc_builtin_macros`. I've opened #101408 with the work I've done so far to migrate (almost all of) `rustc_builtin_macros::asm`; I'll leave it there and move to something else.

[2022-09-04 14:42] WaffleLapkin commented on #101284
`Arc` seems to be needed, because `Vec` is marked with `#[rustc_insignificant_dtor]` and the lint wants a significant `Drop` impl 😅

MRE:
[code]

[2022-09-04 14:45] str4d commented on #100717
Working on `rustc_trait_selection::traits::error_reporting::suggestions`.

[2022-09-04 15:03] ehuss commented on #101405
Unfortunately this is a known issue.  The line `*      - show changes` is an indendent code block according to commonmark rules. All code blocks are treated as rust code blocks, and all rust code blocks get tested.  I don't think in this case you'll be able to indent the text to line up visually.  You could perhaps use nbsp whitespace or something like that, but that might not render well in an ed

[2022-09-04 15:03] #101405 closed

[2022-09-04 16:27] damooo commented on #99492
For each type alias with a dyn object in it's definition explicitly marked with `+'static` lifetime, It raises a implementation not general enough , suggesting that it should be implemented for 'a bound. This happens when resultant future is required to be `Send`.

[2022-09-04 16:43] alice-i-cecile commented on #98931
That's an okay (if inelegant) workaround for now. Is it impossible / impractical to make this default value inferred?

[2022-09-04 17:09] nicholasbishop commented on #101377
Here's a slightly reduced test case:

[code]

[code]

Build output:
[code]

It seems the issue here is the switch from PIC to static for the reloc model in the UEFI targets. I will put up a PR to switch it back.

[2022-09-04 17:25] PFAhard opened #101415 "thread 'rustc' panicked at 'no entry for node id: `NodeId(139092)`', compiler\rustc_ast_lowering\src\lib.rs:523:55"
### Meta

I don't know if it compiles with the stable version because the code uses unstable features. Also doesn't seem relevant to the code, because reverting to the last successful commit doesn't work either.

`rustc --version --verbose`:
[code]

command:

[code]

### Error output

[code]

### Error output

[code]

### Error output

[code]

[2022-09-04 17:48] JulianKnodt commented on #98931
I think currently there is no movement to do so, because it would lead to a mismatch between inferred consts and inferred type, neither of which is inferred on an `impl`. I also personally feel that in this case inference to the default makes sense and is intuitive, but I can't make the change on my own, it would require an MCP as @fmease says

[2022-09-04 17:50] uarif1 commented on #100673
I have created a PR with the documentation https://github.com/rust-lang/rust/pull/101416/commits

[2022-09-04 18:09] No-one-important commented on #101286
no I doesn't sorry I hadn't realised it was an old version

[2022-09-04 18:09] WaffleLapkin commented on #96283
I want to propose to stabilize these methods! (can someone open an fcp?)

# Stabilization report

## Implementation History

- Initially these methods were implemented in https://github.com/rust-lang/rust/pull/95643
- The only unresolved question raised since then is whatever to allow calling these methods on pointers to unsized types. I propose to resolve this to "yes, we should actually", this w

[2022-09-04 18:13] jsha commented on #85444
@ptdecker try this:

[code]

This starts a web server locally that serves the generated documentation, then opens it in your default browser (presumably Safari). If that works, it might be another way we can work around the issue for Safari users.

[2022-09-04 18:19] WaffleLapkin commented on #96284
I want to propose to stabilize these methods! (can someone open an fcp?)

# Stabilization report

## Implementation History

- Initially these methods were implemented in https://github.com/rust-lang/rust/pull/95643
- The only unresolved question raised since then is whatever panicking in `is_aligned_to` on non-power of two align is acceptable.

## API Summary

[code]

## Experience Report

https:

[2022-09-04 18:57] mystor commented on #90765
I noticed an issue with this feature while working on the bridge, and opened a PR to fix it (#101414), so it should be fixed shortly.

Effectively, because `expand_expr` allows running proc macros recursively, it made the re-use of the same thread for multiple macro invocations more visible in a way which probably isn't desirable. The fix in that bug for now is to use a cross-thread executor for n

[2022-09-04 19:10] compiler-errors commented on #101415
@PFAhard if you can provide code, that would be appreciated. Otherwise it's pretty difficult to investigate this.

[2022-09-04 19:37] compiler-errors commented on #101415
Anyways I am suspicious this is the same issue as #101297

[2022-09-04 20:00] QuineDot commented on #99430
@ryanavella Subpatterns are enough.
[code]

[2022-09-04 20:33] rerz opened #101421 "thread 'rustc' panicked at 'assertion failed: `(left == right)` when calling a trait method with more generic arguments than expected (nightly)"
### Code
[code]
Repros on the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e7e689a8eec4e4a817ae9b33818e4279)/current nightly. But works (gives an error about mismatched number of generic arguments) on stable and beta. s/o to @memoryruins for the minimal example.

### Meta
`rustc --version --verbose`:
[code]

### Error output

<details><summary><strong>Backt

[2022-09-04 20:34] #101376 closed

[2022-09-04 20:46] SNCPlay42 commented on #101421
@rustbot label regression-from-stable-to-nightly

[2022-09-04 20:46] lovasoa commented on #54363
Another problem that arises from this issue that I think hasn't been mentioned here is when the proc-macro is re-exported.
If we have crate a which contains a proc-macro, and a crate b that depends on a and re-exports the macro, then the code that depends on b will not have the `::a` in scope, and this will result in hard-to-troubleshoot issues, since users of `b` don't even know about crate a.

[2022-09-05 00:31] compiler-errors commented on #101406
Setting the recursion limit to be very small makes this complete within a reasonable time frame. This can also be kinda replicated without GATs like so:

[code]

(The code isn't exactly the same -- but that's another way of getting it to hang in the same way)

[2022-09-05 01:08] QuineDot commented on #100800
@rustbot label +A-closures +F-type_alias_impl_trait +requires-nightly

[2022-09-05 01:44] jhpratt commented on #54363
Completely forgot about this issue. Basically there were two reasonably significant issues with the approach I wanted to take that would need to be addressed for any solution.

- How are ambiguities between multiple versions resolved? It is perfectly legal to have multiple (incompatible) versions of a crate as dependencies.
- Ditto for crates of the same name from different registries? While crate

[2022-09-05 04:16] #100696 closed

[2022-09-05 04:51] kurikomoe opened #101430 "rustc nightly(289279de1 2022-09-04) ICE for tokio+warp"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Cargo.toml

[code]

I reproduced this on my Manjaro `Amd 5900x` PC as well as centos 7 `Intel(R) Xeon(R) Gold 6230 CPU` server

stable rustc is ok
[code]

[2022-09-05 06:28] gimbles commented on #101363
Uhm... I don't think that should even be *possible* that one initialization syntax works and the other doesn't, especially in this case. I feel like this might be an actual compiler bug rather than *just* a diagnostic issue. :P

[2022-09-05 06:33] lovasoa commented on #54363
@jhpratt
I think I don't understand where the problem is. If a proc macro could use `$crate`, it would refer to its accompanying library crate, which is unique.

[2022-09-05 06:39] SimonSapin commented on #54363
Is it unique? As far as I understand "accompanying library crate" is not a concept that really exists in rustc or ever cargo. It’s just a convention.

[2022-09-05 06:39] jhpratt commented on #54363
What if the proc macro is re-exported from a third crate? The problem is not as simple as you'd think. What if you want to reference some arbitrary crate? I have a proc macro that needs `::serde`, but that's not my crate.

[2022-09-05 08:21] Nemo157 commented on #54363
Something I've long thought about is the ability to explicitly declare `runtime-dependencies` for a proc-macro. That would forward-declare a crate that the macro will generate code to reference (and so avoid dependency loops), and somehow give it some `TokenTree` through which it can refer to the crate in the generated code.

[2022-09-05 08:22] nikic opened #101438 "fatal: detected dubious ownership in repository at '/checkout'"
Running `sudo src/ci/docker/run.sh x86_64-gnu` on Fedora 35, I get the following error:
[code]
Not sure why this started happening now, it used to work fine...

[2022-09-05 08:49] Rageking8 opened #101440 "Add help suggestion for semicolon used inside struct declaration"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5824f90029ac83289d17598d474a12b5)

[code]

The current output is:

[code]

Ideally the output should suggest replacing the `;` with `,` since a suggestion already exist for an incorrect semicolon usage at the end of the struct declaration (after the closing brace).

[2022-09-05 09:19] #101205 closed

[2022-09-05 09:35] MarinPostma opened #101441 "Failed to extract DefId: local_def_id_to_hir_id"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-05 09:36] MarinPostma commented on #101441
This seems to be specific to 1.63, I could not repro on 1.62.1, nor on the latest nightly.

similar to https://github.com/rust-lang/rust/issues/93633

[2022-09-05 09:54] dvdhrm commented on #101377
It feels wrong to produce executables with `DLLImport` annotations, knowing that UEFI loaders will never read `.idata` sections. While technically they could, I am not aware of any such implementations and the spec clearly states `All other linkage to and from an UEFI image is done programmatically`.

So I think there is some bug hiding somewhere. However, reverting to PIC to get things working is

[2022-09-05 09:57] MarinPostma commented on #101441
`cargo clean` and rebuild solved the issue

[2022-09-05 10:06] robertbastian commented on #73083
Can this be reopened? Const indexing on array and slice was only implemented for single indices, but there doesn't seem to be a technical reason why this wouldn't work for ranges as well. Currently this requires dropping down to pointers and transmutes, which is pretty messy.

Const traits still haven't landed, and don't seem to be close.

[2022-09-05 10:15] tspiteri opened #101443 "release notes for 1.62.0 did not mention const_extern_fn stabilization"
In version 1.62.0, `const_extern_fn` was stabilized for the `"Rust"` and `"C"` ABIs but I couldn't find an item in the release notes.

For what it's worth, the [reference version 1.62.0](https://doc.rust-lang.org/1.62.0/reference/items/functions.html#const-functions) is updated from [version 1.61.0](https://doc.rust-lang.org/1.61.0/reference/items/functions.html#const-functions) to reflect this st

[2022-09-05 10:33] alercah commented on #54363
All that's needed is hygiene to ensure that crates are looked up in the
context of the macro, not the call site.

On Mon., Sep. 5, 2022, 02:40 Jacob Pratt, ***@***.***> wrote:

[2022-09-05 10:45] matklad opened #101444 "Semantics of control flow operators (return, continue, `?`) in async blocks is severely underdocumented"
As a novice Rust programmer, I was quite surprised that the following works:

[code]

I don't remeber reading that in any kind of docs, and looking at the

* async book https://rust-lang.github.io/async-book/01_getting_started/04_async_await_primer.html
* async keyword https://doc.rust-lang.org/stable/std/keyword.async.html
* return keyword https://doc.rust-lang.org/stable/std/keyword.return.html

[2022-09-05 10:51] steffahn commented on #101421
Regressed in db00199d999dae0e549ff11cfed6d7dee3d4583c (nightly-2022-09-02), presumably #100838, though @compiler-errors seems to have already made the connection to that PR anyways :-)

[2022-09-05 11:13] eddyb opened #101446 "Consider uploading RA LSIF data to sourcegraph, from bors builds."
Sourcegraph [supports what they call "Precise code navigation"](https://docs.sourcegraph.com/code_navigation/explanations/precise_code_navigation) using data from tools such as `rust-analyzer`, and there's even convenience tools like https://github.com/sourcegraph/lsif-rust-action for uploading such data from CI.

I don't personally use sourcegraph yet, and have been relying a lot on the GitHub Co

[2022-09-05 11:15] jyn514 commented on #101446
cc @rust-lang/rustdoc this would be a good alternative to rustdoc's go-to-definition feature

[2022-09-05 11:16] Mark-Simulacrum commented on #101438
@nikic You may need to set NO_DOWNLOAD_LLVM_CI; on CI we disable the git safety check here - https://github.com/rust-lang/rust/blob/master/src/ci/run.sh#L22

I guess that's not running for you, maybe because Fedora uses podman rather than docker and the user IDs at some level do match?

[2022-09-05 11:25] GuillaumeGomez commented on #101446
If it can be integrated into rustdoc, why not.

[2022-09-05 11:32] Nemo157 commented on #54363
It's not just hygiene. The proc-macro is built for a different target, so it will have to do something similar to how a crate depending on a proc-macro crate implicitly creates a different kind of dependency edge. And having it just naïvely depend on the runtime crate creates dependency loops if the runtime crate then depends on the macro crate to re-export it. That's why I think it needs some way

[2022-09-05 11:34] alercah commented on #54363
Yeah, that's the hard part. The name lookup is the part that is not hard.

[2022-09-05 11:56] BichuGeorge opened #101448 "How to connect Postgresql to Rust in Vscode?"
use postgres::{Connection, TlsMode};

This line of code giving the below error:
use postgres::{Connection, TlsMode};
  |     ^^^^^^^^ maybe a missing crate `postgres`?

Tried writting prostgres = "1.4.0" under Dependencies in Cargo.toml.... not working.

[2022-09-05 11:56] DzenanJupic opened #101449 "declarative macro does not match literals recursivly"
I tried this code [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b5e8ba31532071868ddbf28f0c490e53):

[code]

I expected to see this happen:
The output should be
[code]

Instead, this happened:
The output is
[code]

### Meta

`rustc --version --verbose`:
[code]

(also happens on stable)

[2022-09-05 12:15] GuillaumeGomez commented on #101446
I guess we would just keep the source code rendering for the code examples in the docs and generate sourcegraph instead of the source code pages indeed. Potential issues we need to check at this point (that I can think of) would be:

 * Maintenance (what happens if something breaks or if a new features is needed).
 * Integration with rustdoc
   * In term of UI/UX (This is the biggest potential iss

[2022-09-05 12:16] WaffleLapkin commented on #54363
So, `runtime-dependencies` would create a pseudo-crate which depend on all the `runtime-dependencies` and make `$crate` output by the macro refer to it? That sounds nice, although the pseudo-crate will still need special handling all the way down, since nothing can depend on it (otherwise there will be a cycle if _it_ depends on something).

----

Another way is to move macro definition to the nor

[2022-09-05 12:19] thomcc commented on #53020
I tried to use this just now in some code wanting to assert that some struct definition was correct at compile time. (It failed, but I writing it that way was probably expecting too much of const eval, and I was able to rewrite it without this).

Anyway, initially my `assert!(a.guaranteed_eq(b))` failed and when this happened I was left wondering if it was because my code sucked (and the struct de

[2022-09-05 12:23] matklad commented on #48594
Hm, is it intentional that `async` blocks use `return` while sync blocks use `break`?

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=db815319f8eb5cee0f7be84854b4bd5e

[2022-09-05 12:26] Nemo157 commented on #54363
I can confirm this works just fine for expression macros, I use it in `stylish` to get a re-exportable `format_args!` proc-macro.

[2022-09-05 12:27] steffahn commented on #101441
@rustbot label A-incr-comp

[2022-09-05 12:31] steffahn commented on #101441
might be a duplicate of https://github.com/rust-lang/rust/issues/100521#issuecomment-1229281234

[2022-09-05 12:32] steffahn commented on #101430
@rustbot label A-incr-comp

[2022-09-05 12:34] ehuss commented on #101449
I believe this is the intended behavior of macros.  Once matched with `$literal`, the AST fragment becomes opaque and cannot be deconstructed to match as you expected. More about this can be found in the [Transcribing](https://doc.rust-lang.org/reference/macros-by-example.html#transcribing) section which goes into more detail of this behavior.

[2022-09-05 12:39] nikic commented on #101438
Hm, maybe this is because I ran with `sudo`. I just tried again without and it worked fine. I could have sworn that `sudo` was needed...

[2022-09-05 12:49] #101284 closed

[2022-09-05 12:49] #101119 closed

[2022-09-05 12:52] steffahn commented on #101058
likely @rustbot label A-incr-comp

[2022-09-05 12:52] bjorn3 commented on #101446
I would prefer if the rustdoc pages shipped in the rust-doc component don't have any external dependencies, like sourcegraph. The primary reason to use the rust-doc component is offline usage I think. Using sourcegraph is incompatible with this.

Also we already have goto definition inside rustdoc source pages behind an unstable feature. I would prefer extending this over replacing it with sourceg

[2022-09-05 12:53] GuillaumeGomez commented on #101446
Oh, I thought we could generate source graph pages to be used locally. Did I misunderstood maybe?

[2022-09-05 12:54] steffahn commented on #101036
So this issue requires the `generic_const_exprs` feature to reproduce on nightly? If yes, I’d like to tag it accordingly :-)

[2022-09-05 12:56] steffahn commented on #101268
Regressed in #89862, fixed in 7e2733bb1dd9afe5fd20370ca4d539d42ac50419 (which contains #98610); probably a duplicate of #98598.

[2022-09-05 13:02] bjorn3 commented on #101446
AFAIK sourcegraph is a hosted service to which you can upload analysis data. You can also self-host it, but it needs a full database (both postgresql and redis) and a webserver. I think it also needs docker.

[2022-09-05 13:39] est31 commented on #48594
Yeah it seems a bit weird at first impression, but IMO they are closer to closures than to sync blocks.

Like closures, `async` blocks are decoupled from the function's normal control flow, they can't interact with it. In other words, `async` blocks, like closures, are not ran when they are being declared, but when they are being evaluated.

This will print bar and then foo:
[code]

This evaluatio

[2022-09-05 13:41] #101268 closed

[2022-09-05 13:42] mindstorm38 commented on #101094
This one makes no sense

[2022-09-05 14:14] ChayimFriedman2 commented on #101440
@rustbot claim

[2022-09-05 14:19] asensio-project commented on #101448
Can you show the output of :
```$ rustc --version ```

and your Cargo.toml.

[2022-09-05 14:29] asensio-project commented on #101448
If you are using the 2015 edition of rust (check your Cargo.toml) you need to add ```extern crate postgres;``` or change to a newer edition of rust, for example: 2021 (the latest).

[2022-09-05 14:31] tjallingt commented on #73933
The current PR trying to remove the hack is https://github.com/rust-lang/rust/pull/93275.
With https://github.com/rust-lang/rust/pull/94063 as an alternative that keeps the hack for the `rental` crate.

[2022-09-05 14:49] lcnr commented on #45945
this is a duplicate of #99940 which has more information about this bug, closing in favor of that one

[2022-09-05 14:49] #45945 closed

[2022-09-05 14:51] lcnr commented on #100712
probably a duplicate of #99940

[2022-09-05 15:23] MaderNoob opened #101453 "`'static` lifetime requirement on generic in order for container type to implement `'static` when using `PhantomData`"
I tried this code:

[code]

I expected the code to compile without any errors, since `Marker` doesn't really hold a `T`, so it doesn't matter if `T` is `'static` or not for `Marker` to be `'static`.

Instead, i got a compilation error:
[code]

### Meta

`rustc --version --verbose`:
[code]
</details>

This was also tested on stable and the result was the same. The stable version information:
[code]

[2022-09-05 15:46] cjgillot commented on #97959
Closing as duplicate of closed https://github.com/rust-lang/rust/issues/97698.

[2022-09-05 15:46] #97959 closed

[2022-09-05 15:48] cjgillot commented on #97902
Closing as duplicate of closed https://github.com/rust-lang/rust/issues/97698.

[2022-09-05 15:48] #97902 closed

[2022-09-05 15:48] cjgillot commented on #97885
Closing as duplicate of closed https://github.com/rust-lang/rust/issues/97698.

[2022-09-05 15:48] #97885 closed

[2022-09-05 16:28] steffahn commented on #101453
It’s working as intended with `PhantomData`. If I recall correctly, there’s some long-term plans to try allowing the type `fn() -> T` to be `'static` though, regardless of `T`’s lifetime. Not a trivial endeavor at all, since it’s easy to run into unsound language design when working with lifetime bounds, especially around implied bounds; if such developments come to fruition however, then you’d be

[2022-09-05 16:48] spcan opened #101458 "Invalid instruction when using MCR instruction in inline assembly (ARMv8m)"
I tried this code:

[code]

config.toml file:
[code]
I expected to see this happen:

Correct compilation of the MCR instruction. This instruction is a valid ARMv8m instruction available in thumb mode. It moves a register's value and some operands into a coprocessor.

Instead, this happened:

[code]

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</deta

[2022-09-05 16:49] dvogel opened #101459 "Phrasing of E0507 is ambiguous with regards to moved variables"
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cf3bd67f07db7324126bcade4e68471f

[code]

The current output is:

[code]

This phrasing has favored brevity over clarity, overloading the captured variable name:

The comma is easy to miss but it is doing a lot of the work here. I believe there are multiple valid English-language interpretations of t

[2022-09-05 16:50] spcan commented on #101458
Same thing happens when using `mcr2` instruction

[2022-09-05 16:56] spcan commented on #101458
Using this alternative inline assembly also fails
[code]

[2022-09-05 17:15] taiki-e commented on #101458
The 4th and 5th should be coprocessor registers. Like:

[code]

[2022-09-05 17:18] saethlin commented on #101448
Is this a typo in GitHub, or in your Cargo.toml?

[2022-09-05 17:20] asensio-project commented on #101448
In your main file, like src/main.rs

[2022-09-05 17:21] asensio-project commented on #101448
Before importing the library.

[2022-09-05 17:23] spcan commented on #101458
Thanks, fixed.

It's always the little details

[2022-09-05 17:23] #101458 closed

[2022-09-05 17:25] #96655 closed

[2022-09-05 17:48] WaffleLapkin commented on #54363
But rustc could do a similar(-ish) trick for them, I think. We "just" need to design and implement it.

[2022-09-05 18:27] jsha commented on #101446
This is really cool! I think one of the big questions for jump-to-definition support in rustdoc is "why can't why use rust-analyzer for some of this?" Part of the answer has been that rust-analyzer needs to run live, and we want rustdoc output to work on a "basic" web server that only knows how to serve files (or on file:/// URLs).

SourceGraph uses [Language Server Index Format (LSIF)](https://gi

[2022-09-05 18:35] GuillaumeGomez commented on #101446
Yes I'll mention it too!

[2022-09-05 18:44] MaderNoob commented on #101453
Ok thanks for the help

[2022-09-05 19:12] #101453 closed

[2022-09-05 19:32] RalfJung commented on #48594
Those are completely different pieces of code? The `async` one already [works on stable since forever](https://godbolt.org/z/c5n1zjKn7). I don't see how that even has anything to do with `break`.

[2022-09-05 19:35] jyn514 commented on #48594
break vs return [has already been discussed at length](https://github.com/rust-lang/rust/issues/48594#issuecomment-369524786). Let's please not bikeshed this further unless new information comes to light.

[2022-09-05 19:38] TaKO8Ki commented on #100427
#101261

[2022-09-05 19:38] #100427 closed

[2022-09-05 21:01] matklad commented on #48594
It does seem to me that interaction between async blocks and labeled blocks is novel information. This isn't covered in [stabilization report](https://github.com/rust-lang/rust/issues/48594#issuecomment-1186213313). There is a bit of discussion [here](https://github.com/rust-lang/rust/issues/48594#issuecomment-633061066) which culminates in

which update didn't seem to happen. Certainly, this wasn

[2022-09-05 21:26] afetisov commented on #48594
It's not more weird than the fact that we have separate `return` and `break` operators to begin with, even if both "mean the same thing" of returning from a block. We just have a special syntax for the toplevel block, because it's so common and so familiar to programmers.

The `break` on blocks is chosen by analogy with `break` from `loop`. `return` from an `async` block is chosen by symmetry with

[2022-09-05 21:48] steffahn commented on #101459
Yes, that’s the crucial information to understand the error message correctly in my opinion, too.

---

I don’t like either of the “improvements” you suggested, in particular it must still say “`Fn` closure” in my opinion.

---

Regarding analysis of the current phrasing, I would interpret

as

i.e.

and go with the “[there is] an implicit variable of the same name `b` existing inside the closure”

[2022-09-05 22:06] matklad commented on #101446
cc @tjdevries

[2022-09-05 22:35] paolieri commented on #48920
Since rustc 1.61, the following code is not giving a compile-time error:

[code]

If I uncomment the last line, the compile-time error shows up.
Is this right? I would expect the compile-time error to show up in both cases (this is what happens for rustc < 1.61).

[2022-09-05 22:36] asensio-project commented on #101448
Sorry, I didn't view the typo.
Thanks for reporting it.

[2022-09-05 23:42] xxchan opened #101465 "type parameter out of range when substituting"
### Code

[code]

The source code is here https://github.com/risingwavelabs/risingwave/blob/xxchan/bump/src/storage/src/hummock/state_store.rs#L445

The error can be seen here https://buildkite.com/risingwavelabs/pull-request/builds/7684#01830ff8-131b-4859-b1f7-c715704e5540

https://github.com/risingwavelabs/risingwave/pull/5119

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error out

[2022-09-05 23:49] dtolnay commented on #99301
Hello from https://github.com/dtolnay/thiserror/issues/185. I noticed it can be problematic for macros that `Provider` and `Error` both have a method named `provide`. I know this has been the case for other traits (`Display` and `Debug` both have a `fmt` method, for example) but one thing that makes the situation worse for `provide` is that we're commonly forced to rely on autoref in order to call

[2022-09-06 00:29] dtolnay commented on #54363
https://github.com/rust-lang/rust/issues/54363#issuecomment-1236685409 is along the lines of what I would want in pretty much all of my macro libraries. Something like:

[code]

[code]

In terms of the Cargo build graph, this *does not* say `serde` needs to finish (or even start) building before `serde_derive` can start building, unlike ordinary `dependencies`. It says `serde` needs to finish buil

[2022-09-06 00:35] scottmcm commented on #96284
I think the unresolved question needs an answer, not just a mention.

As I brought up [earlier](https://github.com/rust-lang/rust/issues/96284#issuecomment-1221439030), I think it'd be really nice to have a type for valid alignments.  The other two options are both unfortunate, IMHO: needing to `assert!(align.is_power_of_two())` in something that would otherwise be a trivial bit of code, or just g

[2022-09-06 01:03] scottmcm commented on #48594
`return` from `async { }` is because they're really closures, not blocks -- it produces something that *will run later*, not something that runs immediately like normal blocks or loops do.

You're better thinking of `async { BODY }` as `(async || BODY)()` than as a block at all.

[2022-09-06 02:45] #101375 closed

[2022-09-06 04:28] BichuGeorge commented on #101448
C:\Users\bichu>rustc --version
rustc 1.63.0 (4b91a6ea7 2022-08-08)

Cargo.toml

[package]
name = "postgres"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[2022-09-06 04:41] jhpratt commented on #54363
@Nemo157 @dtolnay Love it. Both questions/problems I stated are inherently resolved by using `Cargo.toml`, which is something I honestly never considered.

[2022-09-06 04:49] trevyn commented on #96346
@raiyansayeed are you still working on this?

[2022-09-06 05:03] programmerjake opened #101469 "pthread_exit no longer works in panic=abort"
I tried this code:
https://rust.godbolt.org/z/M5Pz1rjnd

[code]

I expected to see this happen: exits with exit code 0 as documented for `pthread_exit`

Instead, this happened: aborts with double panic

### Meta

`rustc --version --verbose`:
[code]

sorry, i can't figure out how to get a backtrace from godbolt.org, it doesn't seem to allow setting environment variables.

This bug serms to be cause

[2022-09-06 05:11] programmerjake commented on #101469
i expect this to work because `pthread_exit` is supposed to do a force-unwind, which [RFC 2945](https://rust-lang.github.io/rfcs/2945-c-unwind-abi.html) (specifically referenced by #96959) states:

[2022-09-06 05:28] ehuss commented on #48594
This seems to have landed without a documentation PR being open.  Usually there should be documentation ready before the feature is stabilized. Was there something that I missed? The documentation checkbox was marked, but I don't see where that documentation was posted.

Can someone please follow up on that?

[2022-09-06 06:19] nbdd0121 commented on #101469
The RFC defines force unwind as undefined behaviour when it cross non-POF, which your example does.

[2022-09-06 06:58] compiler-errors commented on #101465
Minimized:

[code]

The logic in `opt_suggest_box_span` is _super_ broken. First, we're calling it on non-error paths (which is probably inefficient), it's throwing away the non-`Self` substs on the predicates it's checking, it doesn't really make sense why it works at all, etc. I am going to totally rewrite that logic.

@rustbot claim

[2022-09-06 07:08] oli-obk opened #101470 "const prop missing diagnostic with unrelated changes"
Since rustc 1.61, the following code is not giving a compile-time error:

[code]

If I uncomment the last line, the compile-time error shows up.
Is this right? I would expect the compile-time error to show up in both cases (this is what happens for rustc < 1.61).

cc @oli-obk

_Originally posted by @paolieri in https://github.com/rust-lang/rust/issues/48920#issuecomment-1237506737_

[2022-09-06 07:42] RalfJung commented on #48594
I don't agree, they are entirely orthogonal. However, you need to think of async blocks as "closures without arguments", or "thunks" in PL speak. A thunk is a suspended computation, i.e., a computation that can be continued later. Calling them async "blocks" is indeed confusing since it makes them sound like regular blocks, which they are not:
[code]
The 2nd println is never executed.

Once you us

[2022-09-06 08:11] steffahn commented on #101470
@rustbot label A-lint, regression-from-stable-to-stable

For context, the “error” pre-1.61 is the deny-by-default `unconditional_panic` lint
[code]

Bisection points to regression in #94934.

[2022-09-06 08:21] #100755 closed

[2022-09-06 08:51] Amanieu opened #101474 "hashbrown tests crash on wine"
When running `cargo test --target x86_64-pc-windows-gnu` on a Linux system with Wine installed, the tests crash with:
[code]

Bisecting points to https://github.com/rust-lang/rust/commit/92086258e30ae59610a1b1097d97227377db0ada, I suspect the root cause might be https://github.com/rust-lang/rust/pull/101325.

cc @ChrisDenton

[2022-09-06 08:57] Amanieu commented on #101474
I couldn't get a proper backtrace due to a different bug (in wine, not in rust) where winedbg fails to parse our debuginfo and crashes.

[2022-09-06 08:59] Dajamante commented on #101470
@rustbot claim

[2022-09-06 09:26] ChrisDenton commented on #101474
Ah, I think this is to do with the use of a pseduo-handle instead of a real handle (which is unsupported in WINE). I'll patch asap.

[2022-09-06 09:54] asensio-project commented on #101448
OK, you only have to add the dependence, on the [dependencies] section in your Cargo.toml. Here is an example of a Cargo.toml with the postgres dependence:

[code]

Then you can write your app in src/main.rs or if you are writing a library in src/lib.rs.
Does it work for you @BichuGeorge?

[2022-09-06 10:35] Rageking8 opened #101477 "Recover from typo where `==` is used in place of `=`"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=39a6278bf8d8f0bcb98ced9b5f321a1b)

[code]

The current output is:

[code]

Ideally the output should suggest replacing the `==` with `=` where appropriate as the suggestion for incorrect usage of `=` in place of `==` already exist.

[2022-09-06 11:09] RalfJung commented on #53020
We probably want to use a simpler type for the intrinsic (to make that easier to implement), but I am generally on-board with changing the type of the public functions here.

[2022-09-06 11:34] BichuGeorge commented on #101448
Worked for me when I gave postgres = "0.14.0"...

[2022-09-06 11:37] korejan opened #101480 "std library compile errors for uwp-windows-msvc targets"
Building std library (-Zbuild-std) with nightly for uwp-windows-msvc targets has been failing with compile errors since around after 02/06/22

[code]

I expected to see this happen:

Last successeful build on 02/06:

https://github.com/korejan/ALVR/runs/8154433510?check_suite_focus=true

Instead, this happened:

Lastest failed build:

https://github.com/korejan/ALVR/runs/8204519566?check_suite_foc

[2022-09-06 11:59] ChrisDenton commented on #101480
Thanks for the report! I've submitted a fix (linked above).

[2022-09-06 12:05] asensio-project commented on #101448
So, it's fixed, or you need something more?

[2022-09-06 12:45] programmerjake commented on #101469
show me the live variables with a `Drop` impl or the `catch_unwind`-style call...those are the two conditions in the RFC for a frame to not be a plain-old-frame. The code I wrote has neither of those, so should be a plain-old-frame.

[2022-09-06 13:20] jyn514 commented on #48594
@ehuss https://github.com/rust-lang/reference/pull/1263

[2022-09-06 13:46] #100631 closed

[2022-09-06 13:46] #101421 closed

[2022-09-06 14:19] lqd commented on #101370
This is not happening only on osx. I can reproduce this.

The path is correct and unchanged by clang, but it's indeed the `file_stem` call that trims too much on unixes because of the weird executable name with a dot.

I'll fix it.

[2022-09-06 14:29] apiraino commented on #101350
bisection results seems to point to https://github.com/rust-lang/rust/pull/95565 (quite big pack of changes) cc @jackh726

searched nightlies: from nightly-2022-05-01 to nightly-2022-09-05
regressed nightly: nightly-2022-06-08
searched commits: from https://github.com/rust-lang/rust/commit/50b00252aeb77b10db04d65dc9e12ce758def4b5 to https://github.com/rust-lang/rust/commit/5435ed6916a59e8d5acba214

[2022-09-06 16:00] m-ou-se commented on #91079
Thanks for the clarifications. :)

The names `maximum` and `maximumNumber` from the standard are also a bit confusing, although at least the "number" part clarifies a bit that it tries its best to return a number instead of NaN. ^^'

I agree it's a shame that we already have our current `max` method doing what it does. I'm not entirely sure we should deprecate such a common method, but it is a tem

[2022-09-06 16:09] Rageking8 opened #101487 "Recover from incorrect placement of `const`, `mut`, `&`, `*`"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=76abd80a50e7c8c4335a9a6d91612d9a)

[code]

The current output is:

[code]

Ideally the output should inform the user that for `&` and `*` it goes in front of the keyword or variable and for the `&mut` placed after the variable, a suggestion should be emitted to switch the position of those 2 t

[2022-09-06 16:16] aDotInTheVoid opened #101489 "Rustdoc-Json: Store number of fields for tuple struct"
In my mind what should happen to `Struct` is we put `fields` in `StructType`, eg

[code]

That way we only show the position of `#[doc(hidden)]` in the tuple case where it's relevant.

If that sounds good I'll send a follow up PR

_Originally posted by @aDotInTheVoid in https://github.com/rust-lang/rust/issues/101462#issuecomment-1237964119_

@rustbot claim

@rustbot modify labels +A-rustdoc-json

[2022-09-06 16:24] chenyukang commented on #101477
@rustbot claim

[2022-09-06 16:49] Rageking8 opened #101490 "Invalid help suggestion when `vec` macro incorrectly used without `!`"
Given the following code:

[code]

The current output is:

[code]

Just for some context this is the current error message for the stable and beta versions:

[code]
Which is also not ideal as for the other std macros AFAIK (only checked a few), incorrect usage (i.e. without the `!`) will lead to a help suggestion informing the user to include a `!` to invoke a macro (e.g. `print`, `println`).

Hen

[2022-09-06 17:20] lukas-code commented on #101490
Did not bisect, but this is probably caused by #100334.

[2022-09-06 17:23] apiraino commented on #101490
LOL at the new suggestion

anyway, yes confirmed the bisection points to a rollup merge with contains #100334 cc @TaKO8Ki

searched nightlies: from nightly-2022-07-13 to nightly-2022-09-06
regressed nightly: nightly-2022-08-11
searched commit range: https://github.com/rust-lang/rust/compare/34a6cae28e7013ff0e640026a8e46f315426829d...29e4a9ee0253cd39e552a77f51f11f9a5f1c41e6
regressed commit: https:

[2022-09-06 17:51] nbdd0121 commented on #101469
The RFC says:

Unwinding through `"C-unwind"` in `-Cpanic=abort` is defined to cause an abort according to my reading of the RFC (not saying that it's correct, but it's my reading of the RFC), so the frame is not trivially deallocated and thus not POF.

[2022-09-06 18:39] Aandreba commented on #80437
I really don't know what the problem is, the case has been clearly made.

- Makes regular code more readable
- Signals the intent to move the value from the box instead of copying it
- It avoids the non-standard use of `*` on boxes
- It makes functional code more readable (`Box::into_inner` v. `|x| *x`)

If these are not considered valid points for the stabilization of `into_inner`, there's honest

[2022-09-06 18:41] RalfJung commented on #101344
Not sure how related they really are, the original ICE is some kind of out-of-bounds slice access within rustc itself...
Could someone try upgrading Miri to current git master? Miri CI passes with latest rustc, after all...

[2022-09-06 18:49] BatmanAoD commented on #101469
@nbdd0121 That would make every use of `"C-unwind"` a non-POF. I'm pretty sure that wasn't the intent... but you're right that the verbiage implies the opposite.

[2022-09-06 18:49] nikomatsakis commented on #65991
This is blocked on lang decisions, and @crlf0710 has a stabilization PR ready to go

[2022-09-06 18:53] BatmanAoD commented on #101469
This paragraph below makes explicit that `"C-unwind"` frames can be POFs:

[POF-definition]: https://github.com/rust-lang/rfcs/blob/master/text/2945-c-unwind-abi.md#plain-old-frames
[unresolved-questions]: https://github.com/rust-lang/rfcs/blob/master/text/2945-c-unwind-abi.md#unresolved-questions

[2022-09-06 18:54] nikomatsakis commented on #101081
Per discussion in rust-lang/lang meeting today, we are re-nominating this for @rust-lang/types consideration.

[2022-09-06 18:56] nikomatsakis commented on #95152
Removing nomination. Next step seems to be somebody trying to make an implementation or at least a concrete proposal for lang review.

[2022-09-06 19:00] scottmcm commented on #100954
I think this rule makes the most sense to me.

After all, as you said, one can do
[code]
which I think is fine.

Or, more generally, I think that `repr(transparent)` on a one-field struct should always work, since it does on single field of generic type.

[2022-09-06 19:07] scottmcm commented on #64102
We discussed this in the @rust-lang/lang meeting today, and agreed that *from a lang perspective* this is fine to exist, because a conforming implementation can have it do nothing at all.  (Thus it being in `std::hint`.)

---

I would say it doing something useful is, like with `inline`, a quality-of-implementation issue, and up to compiler to decide how much effort is appropriate to spend on havi

[2022-09-06 19:09] luqmana commented on #101209
Seems to work fine adding to `.cargo/config.toml`:
[code]

[code]

Though, you might want to move those rustflags to be target specific because the ones in `[build]` may apply to all rustc invocations (including any build.rs scripts, proc macros, etc). (See https://doc.rust-lang.org/cargo/reference/config.html#buildrustflags)

[2022-09-06 19:10] Aandreba commented on #80437
Regular pointer dereferencing (where you get a copy of the value pointed too) is very much standard.
Boxed pointer dereferencing (where you may get a copy of the value or take ownership of it) is very much non-standard.

[2022-09-06 19:14] azriel91 commented on #80437
It can provide clarity / intent. My mind more readily maps:

* `into_inner` as "getting the data from inside this thing", and
* `*x` first maps to "dereference this thing, which may be a `Deref::Target`", before "get the thing"

[2022-09-06 19:15] Aandreba commented on #80437
What I mentioned on [my previous list](https://github.com/rust-lang/rust/issues/80437#issuecomment-1238519736).

Also, not all additions to the standard library should be new features, having convenince function in it is quite usefull. If we didn't have convenience functions, 90% of the methods for `Option` and `Result` wouldn't exist (you can do basically all of them with regular pattern expressi

[2022-09-06 19:20] BurntSushi commented on #80437
What I meant is whether it gives any new powers. It sounds like the answer to that is no.

Well... Yes? But it's also important to know whether an addition is about a new feature or whether it's about a convenience.

When I proposed stabilizing this, I believe I was under the impression that it was a new feature. That is, that it lets you do something you couldn't do before. But it looks like that

[2022-09-06 19:23] kaimast commented on #70530
I also use this to remove all entries within a specific range. I probably would would not need `drain_filter` if there was a `drain` function that took a range...

[2022-09-06 19:26] WhyNotHugo commented on #98699
Has there been any discussion on `impl std::io::Write for std::os::unix::io::OwnedFd`?

[2022-09-06 19:29] compiler-errors commented on #101081
searched nightlies: from nightly-2022-06-01 to nightly-2022-09-06
regressed nightly: nightly-2022-06-26
searched commit range: https://github.com/rust-lang/rust/compare/fdca237d5194bf8a1c9b437ebd2114d1c2ba6195...20a6f3a8a8ce5ae18d06b12cd7904bc5294ca753
regressed commit: https://github.com/rust-lang/rust/commit/00ce47209dfdd8ef8871c6ec804f0e0e04d10702

<details>
<summary>bisected with <a href='http

[2022-09-06 19:43] zachs18 commented on #79499
If I remove `derive(PartialOrd, Eq, Ord)` from `struct String` (i.e. manually implement them, like `PartialEq` already was), then I don't get the `This stability annotation is useless` error anymore, so I think the error might be coming from a derive macro instead of the struct declaration itself.

---

Specifically, for this code (outside of stdlib, because IDK how to `cargo expand` inside stdlib

[2022-09-06 20:09] Aandreba commented on #80437
It just unacceptable the way dereferencing boxes works, it breaks standard by making an exception for a specific type, and that type only. If I have a `Box<i32>`, I'll never know if the value has been copied or taken, and even though I know that under the hood this matters very little, not knowing the exact way your code works is a recipe for disaster and a rabbit hole we should not go down.

What

[2022-09-06 20:28] sunfishcode commented on #98699
I'm not aware of any. One way to do this today, if you're on Unix and know you're doing `write`'s, might be to use `std::fs::File` instead of `OwnedFd`. Does that sound like a reasonable approach, or do you think it'd be valuable to have something else that can do `Write`?

[2022-09-06 20:55] matthiaskrgr opened #101505 "regression: hang with -Zsave-analysis"
### Code

I tried this code:

[code]

with rustc `rustc 1.65.0-nightly (c07a8b4e0 2022-08-26)` this runs in a couple ms:
`rustc ./a.rs  --crate-type=lib  -Zsave-analysis  -Ztime=yes -Ztime-passes=yes`

with rustc `rustc 1.65.0-nightly (3c7278846 2022-09-06)` this seems to hang somewhere in `save-analysis`

[code]
( I killed the process after waiting for 5 minutes :upside_down_face: )

[2022-09-06 20:57] matthiaskrgr commented on #101505
reduced:
[code]

RIP `-Zsave-analysis`

[2022-09-06 21:04] djc commented on #97858
FWIW, I have a case where this (at least it looks similar) happens all the time on stable and on nightly, including after `cargo clean`. Branch here: https://github.com/InstantDomain/instant-xml/tree/ice-2. To reproduce, just run `cargo test`. Running `CARGO_INCREMENTAL=0 cargo test` makes it work correctly.

[code]

<details>
<summary>All the compiler output</summary>
thread 'rustc' panicked at '

[2022-09-06 21:05] #92945 closed

[2022-09-06 21:05] #101027 closed

[2022-09-06 21:05] #101356 closed

[2022-09-06 21:05] #101440 closed

[2022-09-06 21:13] matthiaskrgr commented on #101505
I think this is caused by https://github.com/rust-lang/rust/pull/101228  cc @nnethercote

[2022-09-06 21:20] chbaker0 commented on #96554
I rewrote the issue description to be more clear.

Using a different configuration for different stages is supported?

[2022-09-06 21:21] steffahn commented on #97858
@djc Your “All the compiler output” section is not formatted properly. Make sure to wrap things into a code block. It might necessary to leave an empty line between the ```` ``` ```` for the code fences and lines with HTML tags for `<details>`.

Regarding triage, I wouldn’t know how to tell whether or not the reproduction you have is *actually “the same”* issue as this one, so perhaps opening a ne

[2022-09-06 21:22] conradludgate commented on #80437
If the goal is to work on consistency, I would much rather we focus efforts on a DerevMove trait and not this method. As it stands, the implementation of this function is just `*boxed` which anyone can write.

[code]

Not as nice as being in std, but it's not much overhead if you really want a function that imitates this behaviour.

[2022-09-06 21:34] Aandreba commented on #80437
A big part of the standard library are functions that could had been written manually (see `Option` and `Result` methods). Also, what downside could stabilizing `into_inner` have? As far as I see, none, and similar functions exist for other types (like all the cells).

[2022-09-06 22:33] BurntSushi commented on #80437
Decision paralysis. There is already a way to utter `Box::into_inner` in Rust and that's `*`.

I don't think anyone is happy about `Box` being "special." So I mean, like, yeah, we're all on the same page there. That doesn't mean we should add `Box::into_inner`.

Are you saying `*x` where `x` is a `Box<T>` is incorrect? I'm confused. I thought we just established that this method was about clarity/

[2022-09-06 23:05] programmerjake commented on #101469
it's defined to cause an abort only for *non-forced* unwinds, forced unwinds are specifically specified to work despite panic=abort:
https://github.com/rust-lang/rfcs/blob/master/text/2945-c-unwind-abi.md#interaction-with-panicabort

"C-unwind"` ABI boundary, but the Rust code is compiled with `panic=abort`, the
unwind will be caught and the process aborted.

[2022-09-06 23:30] chbaker0 commented on #96554
OK, this seems to work...

First, with a `config-stage0.toml` that points to the non-LTO llvm-config:
`x.py build --stage 0 compiler/rustc --config config-stage0.toml`

Next, with a `config.toml` that points to the production llvm-config:
`x.py build --keep-stage 0 --stage 2 library/std`

test and install also work.

[2022-09-06 23:56] BatmanAoD commented on #101469
I think @nbdd0121 is right that the definition of POF is somewhat confusing here. But certainly this _should_ be considered a POF. "POF-ness" should never depend on the `panic` mode or the ABI string. These are worth calling out in a future RFC, presumably one where we define how `longjmp` works. I've posted about this before on the Inside Rust blog, complete with [an alternate definition of POFs]

[2022-09-07 01:03] nnethercote commented on #101505
Clearly a well tested feature :P   I'll take a look.

[2022-09-07 01:25] zjp-CN opened #101510 "match ergonomics on `&&str` is weird"
[code]
is not allowed, which seems an unmentioned exception wrt [RFC2005: match-ergonomics](https://rust-lang.github.io/rfcs/2005-match-ergonomics.html). Is there a reason for it?

BTW for slice, this is allowed:

[code]

I've listed some related code snippets on [the forum](https://users.rust-lang.org/t/match-ergonomics-on-str-and-type-inferred-on-its-branch) if someone is interested.

[2022-09-07 01:54] glandium opened #101511 "Using a shebang-less script as a linker doesn't work anymore on Linux"
STR:
- `cargo new foo`
- `cd foo`
- `echo exit 42 > linker`
- `chmod +x linker`
- `RUSTFLAGS="-Clinker=$PWD/linker" cargo +nightly build`

Actual result:
[code]

With 1.63:
[code]

This is a regression from #95026. What's going on is that before that merge, the linker was executed via `posix_spawnp@GLIBC_2.2.5`, and after, it's executed via `posix_spawnp@GLIBC_2.15`. The difference between the two

[2022-09-07 01:56] nnethercote commented on #101505
The old code looked like this:
[code]
The new code looks like this:
[code]
because `seg.res` is no longer optional.

The infinite recursion happens because the `get_parent_node` call returns a `parent_node` that is the same as the `hir_id`. When I printed that ID out it looks like this:
[code]
An easy fix is to check if `parent_node` is the same as `hir_id` and return `Res:Err` if so. But I don't

[2022-09-07 01:58] Mark-Simulacrum commented on #101511
This would happen with anything using Command, right? Not just rustc/cargo.

[2022-09-07 01:59] Mark-Simulacrum commented on #101511
Nominating for libs-api to consider whether we want to workaround this by implementing the re-execution ourselves; my feeling is no but it is a regression so I think worth asking.

[2022-09-07 02:01] glandium commented on #101511
It only happens when using libstd-*.so from the newer rustc builds, or when building with any rustc against an old glibc.

[2022-09-07 02:03] glandium commented on #101511
That is, if you build some random crate that uses Command with any version of rustc, the behavior depends on whether the libc used for the crate compile is < 2.15 or not, not whether rustc is 1.64 or not.

[2022-09-07 02:04] glandium commented on #101511
rustc 1.64 itself is affected by the change because it's built with a newer glibc, while older versions of rustc were built with an older glibc.

[2022-09-07 02:05] jyn514 opened #101512 "Spans for nested macro invocations are lacking"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=58e18e1a59570b289fca4a2b015cf638

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

In this small macro, the problem isn't too hard to figure out, but I gave up on figuring it out for the original code before the minimization: https://github.com/rust-lang/rust/blob/

[2022-09-07 02:05] glandium commented on #101511
Note that it might be worth reviewing what other functions from glibc used by rustc/cargo have changed and how, because there might be subtle changes like this hidden somewhere.

[2022-09-07 02:11] Mark-Simulacrum commented on #101511
Ah, that makes sense. It seems likely that folks might bump their build environments to a newer glibc since we only support newer ones now, so I think I'll still leave this nominated, but it's good if it affects few users in practice.

T-compiler may want to do that checking as you suggest and consider a (temporary, perhaps with a future compat warning?) fallback, separately from any decisions by

[2022-09-07 03:17] #100521 closed

[2022-09-07 03:17] #101297 closed

[2022-09-07 03:17] #101480 closed

[2022-09-07 03:33] dvogel commented on #101459
I think the error message as you've rephrased it is an improvement over the one I ran into. I definitely like the `FnOnce` mention being a `note` rather than a hint directly in the error because sometimes the user won't also be the author who chose the closure type. That was the case for me when I ran into this. I was using [this method from gtk-rs](https://gtk-rs.org/gtk3-rs/stable/latest/docs/gt

[2022-09-07 05:40] BichuGeorge commented on #101448
fixed. Thanks for the reply.

[2022-09-07 05:44] matthiaskrgr opened #101517 "linking fails with -Cdebuginfo=2"
I tried this code:

[code]
This code compiles and "runs" as with ``. `-Cdebuginfo=1` but with `-Cdebuginfo=2` we get a linking error which seems a bit surprising:
[code]

### Meta

`rustc --version --verbose`:
[code]

bjorn3 on [zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/debuginfo.3D2.20breaks.20linking)
[code]

[2022-09-07 05:56] bjorn3 commented on #101517
Copying from zulip:

[2022-09-07 06:21] oxalica commented on #87335
The current proposal-ed syntax accepts no pattern in the `else` branch. This makes it unhelpful with another common pattern,
[code]
We may workaround by `let Ok(val) = (...).map_err(|e| /* use e */) else { return; }` but it is 1. ugly, 2. fail to compile if both `Ok` and `Err` branches take ownership of some variables.

Note that [Idris has a similar syntax](http://docs.idris-lang.org/en/latest/tu

[2022-09-07 06:39] Eugeny commented on #87335
IMO at that point it's easier to just `let x = match ...` with a deviating Err branch

[2022-09-07 07:04] glandium commented on #101474
I'm observing similar crashes on whatever version of Windows Server is used on Firefox CI.

[2022-09-07 07:09] ChrisDenton commented on #101474
A fix has been posted. Just pending approval.

[2022-09-07 07:12] black-puppydog commented on #74365
Just to add my two cents: the (unrelated, kinda) error being highlighted is not the main reason I came here to search for this issue.
I'm more concerned with diffs & code review. Allowing a trailing comma will produce shorter, more meaningful and more readable diffs, which in turn reduces mental load on code reviewers.

I thus think that allowing trailing commas (as in function calls for example)

[2022-09-07 07:15] djc opened #101518 "ICE: panicked at 'forcing query with already existing `DepNode`'"
### Code

For now I only have a branch, which can be found at https://github.com/InstantDomain/instant-xml/tree/ice-2. To reproduce, run `cargo test` with either stable (currently 1.63.0) or nightly. Using `CARGO_INCREMENTAL=0` makes the problem go away. `cargo clean` doesn't help.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong

[2022-09-07 07:18] djc commented on #97858
Thanks, filed #101518 for my issue.

[2022-09-07 08:31] oli-obk commented on #101344
on it

[2022-09-07 08:39] #98294 closed

[2022-09-07 08:50] WhyNotHugo commented on #98699
I have an `OwnedFd` to start with. This is more of a convenience that strictly necessary, but I also think it makes sense for `OwnedFd` to be `Write`, rather than requiring it to be converted into a `File` in order to do any IO.

[2022-09-07 09:26] jonaspleyer opened #101523 "Compiler Panic: Nightly: Trait Bounds?"
### Description
Hi everyone!
I found a compiler error in the nightly rustc compiler. I was unsure about the title but could not come up with a better phrase. I also tried to follow the [bug-minimization-patterns](http://blog.pnkfx.org/blog/2019/11/18/rust-bug-minimization-patterns/) to the best of my ability.
Since this is my first contribution feel free to critique where I could do better.
Thank

[2022-09-07 09:34] jonaspleyer commented on #101523
Sorry for the issue report. The bug was fixed by upgrading to a more recent nightly version.
[code]

[2022-09-07 09:34] #101523 closed

[2022-09-07 10:41] lqd commented on #101518
Minimized:

[code]

godbolt shows it ICEs as far back as [1.42.0](https://rust.godbolt.org/z/9vTd8r6nM) from 03/2020.

[2022-09-07 10:43] b-naber commented on #99940
Not sure how similar this is to your approach, but I previously tried to fix this by changing the `intercrate` flag and got errors during a bors run, which I wasn't able to solve: https://github.com/rust-lang/rust/pull/86360

[2022-09-07 10:59] cjgillot commented on #101518
Thanks for the MCVE.  I suspect an issue with `AllocId`, like most issues that feature the same exact ICE.  Working on a refactor to get this unstability out of the way.

[2022-09-07 11:24] steffahn commented on #101518
Ah, damn, I just minimized it, too xD

Looks [roughly the same](https://godbolt.org/z/v9a1b3nG7).

[2022-09-07 11:25] steffahn commented on #101518
@rustbot label S-bug-has-mvce

Note that it only ICEs with incremental compilation turned on (hence e.g. it *doesnt* reproduce on the playground.

[2022-09-07 11:55] bjorn commented on #62358
What about `has_value` instead?

[2022-09-07 11:58] RalfJung commented on #101344
Turns out the strange Windows-only ICE was caused by a buggy debug assertion:

https://github.com/rust-lang/rust/blob/58286b8f310c4884e250ed622e8678c5f2dff666/compiler/rustc_middle/src/mir/mod.rs#L1481

[2022-09-07 12:34] gifnksm opened #101531 "Rustdoc-Json: `link` may be set to the ID of the item containing the link target"
`link` field contains wrong IDs for some kind of items.

Items for which no independent HTML is generated (link target URL is  `<parent_kind>.<parent_name>.html#<kind>.<name>`) appear to have incorrect IDs.

I tried this code:

[code]

[code]

I expected to see this happen: `links` contains the IDs of link targets

[code]

Instead, this happened: `link` contains the ID of the items containing the

[2022-09-07 12:54] matthiaskrgr commented on #101518
This is probably a duplicate of https://github.com/rust-lang/rust/issues/83085

[2022-09-07 12:55] RReverser opened #101532 "Most dead code warnings don't work inside `const _`"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

What's surprising is that adding `pub` changes the output to the expected one, even though `pub` doesn't make any meaning on `const _: ()`:

[code]

It's also interesting that the logic matches what happens with functions. For example, in:

[code]

the function `foo` itself and also onl

[2022-09-07 12:55] RReverser opened #101533 "Most dead code warnings don't work inside `const _`"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

What's surprising is that adding `pub` changes the output to the expected one, even though `pub` doesn't make any meaning on `const _: ()`:

[code]

It's also interesting that the logic matches what happens with functions. For example, in:

[code]

the function `foo` itself and also onl

[2022-09-07 12:59] RReverser commented on #101533
Accidentally created a duplicate during
![image](https://user-images.githubusercontent.com/557590/188883738-14e6937c-bcf7-4b38-90f4-0e4904fef35d.png)

[2022-09-07 12:59] #101533 closed

[2022-09-07 13:53] arniu commented on #62358
[code]

[2022-09-07 14:38] infiniteregrets opened #101537 "ICE: when using Path::from(format!(...))"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-07 14:45] m-ou-se commented on #101511
I also think the answer should be "no", but agree it's worth calling out in release notes or similar.

[2022-09-07 14:52] Nilstrieb commented on #101537
Hi, thank you for your report! Do you have a full example for reproducing the ICE? I can't get your example to compile in ways that crash the compiler.

[2022-09-07 14:54] Lokathor commented on #98326
This is probably an example of a case where you should first use `copied()`, and then chunk it, and then you turn that array into a simd type for the work, before possibly turning it back at the end of your loop.

And the change into and out of simd form will have a cost, so you'll want to ensure you're doing enough work inside each loop pass or it might exceed the cost of the scalar only code.

[2022-09-07 14:56] Nilstrieb commented on #101532
Trying a few more ```rust
fn main() {
    let x = { struct S; }; // WARN
    let _ = { struct S; }; // WARN
    const CX: () = { struct S; }; // NO WARN
    const _: () = { struct S; }; // NO WARN
    static SX: () = { struct S; }; // NO WARN
    static _SX: () = { struct S; }; // NO WARN
}
[code]

[2022-09-07 15:10] cuviper commented on #101511
Especially given https://github.com/rust-lang/rust/issues/101511#issuecomment-1238823812, that users who link against newer glibc were _already_ getting the new behavior, I don't think we should change to preserve the old.

[2022-09-07 15:34] wh201906 commented on #91651
I don't know...

[2022-09-07 15:38] pierwill commented on #100717
I can help with `rustc_middle`!

[2022-09-07 15:38] SamB commented on #59154
Did anyone talk to the MinGW and/or GCC people about the ABI issue yet? If so, links to relevant conversations would be good.

[2022-09-07 15:46] pabigot opened #101539 "incorrect diagnostic on irrefutable while-let with break"
Reviewing https://github.com/rust-lang/rust/issues/87335#issuecomment-1238970455 after finding a need for a `while-let` loop that provides access to an else pattern I crafted [this program](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=568083e3e5861a1f02b7d8434a27ccba):

[code]

The rustc diagnostic output is:

[code]

while the application output is:
[code]

Ideally the

[2022-09-07 15:46] aDotInTheVoid commented on #100961
`StructField` isn't just used for struct's, but also variant fields

[2022-09-07 15:49] aDotInTheVoid commented on #81359
- [ ] Tests with `--document-private-items` and `--document-hidden-items`

[2022-09-07 15:50] compiler-errors commented on #101539
Why not use a `loop` here?

[2022-09-07 15:57] pabigot commented on #101539
Yes, that's a perfectly reasonable alternative; that the diagnostic is incorrect still seems worth reporting.

[2022-09-07 15:59] compiler-errors commented on #101539
Ah, didn't read the notes below the main diagnostic.

While I do agree that the pattern is irrefutable and we probably shouldn't change that, I think all we need to do is remove the `this pattern will always match, so the loop will never exit` note if we see a control flow operator in the body of the `while`.

[2022-09-07 16:01] the8472 commented on #98326
yeah that was just an example to illustrate that the default implementation is suboptimal and we'll need optimized implementations on most linear-memory sources and length-preserving adapters.

[2022-09-07 16:04] pabigot commented on #101539
Agree, the diagnostic of `irrefutable` is appropriate, it's the "loop will never exit" that's incorrect.  Note that in this case the control flow operator is in a match arm expression, not the body of the `while`.

[2022-09-07 16:04] Lokathor commented on #98326
Mm, yeah.

Myself I would imagine using this most on iterators that *aren't* linear memory sources, and "the point" would be to have a clean and unified way to turn some crazy data source into simple SIMD chunks.

[2022-09-07 17:23] Rageking8 opened #101540 "Add note that struct declaration within a struct is not allowed"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=315eebe54e77975ce15aa5c838346785)

[code]

The current output is:

[code]

Ideally the output should include a note informing the user that the declaration of another struct within a struct is not allowed and they should use separate declarations. (Wording might need a bit of tweaking).

[2022-09-07 17:30] Manishearth opened #101541 "Deprecate and rename native-endian functions"
In Rust we use three abbreviations for endianness: We use LE for little-endian, BE for big-endian, and NE for native-endian ("the endianness of the system we are running on")

So for example, we have [`i8::from_be_bytes()`](https://doc.rust-lang.org/stable/std/primitive.i8.html#method.from_be_bytes), [`i8::from_le_bytes()`](https://doc.rust-lang.org/stable/std/primitive.i8.html#method.from_le_byte

[2022-09-07 17:31] Manishearth commented on #101541
Ah, wait, I should file this on https://github.com/rust-lang/libs-team

[2022-09-07 17:31] #101541 closed

[2022-09-07 17:33] Manishearth commented on #101541
https://github.com/rust-lang/libs-team/issues/99

[2022-09-07 17:38] marmeladema commented on #79246
Closing this issue now that we are at LLVM 15.

[2022-09-07 17:38] #79246 closed

[2022-09-07 18:21] Rageking8 opened #101542 "Add help suggestion for object instance mistakenly used with associated function"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=82358abd1b1a8b847ad47e9ba1429510)

[code]

The current output is:

[code]

Since methods are called using an object instance, there is a chance that an associated function will be mistakenly called using an object instance. Therefore, the ideal output would suggest changing the object instance

[2022-09-07 18:36] jackh726 commented on #101406
Yes, this is not a GATs bug, but more of an associated types bug. There are some related issues (that I don't have links to right now). IIRC, the problem stems from using the associated type in the impl where clauses - we try to normalize that and get in a loop.

[2022-09-07 18:54] #101344 closed

[2022-09-07 19:01] JustForFun88 opened #101543 "Bug in `#[should_panic]` `test` attribute"
I tried this code [play.rust-lang.org](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=31430a2662a4a9ce33f6415c57ea111d):

[code]

I expected to see this happen:

[code]
Instead, this happened:

[code]

It is the same in all current stable, beta and nightly.

[2022-09-07 19:32] colt-browning commented on #101543
Well, the string "should panic0123456789" contains the substring "should panic".

[2022-09-07 19:52] matthiaskrgr commented on #101517
Closing again as per comment: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/debuginfo.3D2.20breaks.20linking
:upside_down_face:

[2022-09-07 19:52] #101517 closed

[2022-09-07 21:17] #101474 closed

[2022-09-07 21:30] xd009642 opened #101546 "Nightly ICE: no errors encountered even though `delay_span_bug` issued"
So a hello world-esque warp example now ICEs on nightly rust. I'm not sure if the error is down to the incremental compilation warning or the MIR based error output. The errors are pretty wordy... I've also included the full backtrace

### Code

Cargo.toml

[code]

[code]

### Meta

`cargo +nightly --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong>

[2022-09-07 22:16] compiler-errors commented on #101546
This should be fixed by #101437

[2022-09-07 22:19] xd009642 commented on #101546
Ah yeah I can see from the PR it's the same issue. Awesome :tada:

[2022-09-07 22:19] #101546 closed

[2022-09-07 23:00] infiniwave opened #101548 "no errors encountered even though `delay_span_bug` issued"
The compiler panics while compiling, both for debug and release. `cargo check` does not find any errors. The code compiles on stable except for the nightly-only features.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-07 23:40] #101489 closed

[2022-09-07 23:51] compiler-errors commented on #101548
This should be fixed by https://github.com/rust-lang/rust/pull/101437

[2022-09-08 00:50] yvt commented on #101107
Can't reproduce anymore as of `nightly-2022-08-27` nor find any other reproducers.

[2022-09-08 00:50] #101107 closed

[2022-09-08 00:51] andres-hurtado-lopez opened #101553 "mysql async breaks compiler by during compiling connection string"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-08 02:04] andres-hurtado-lopez commented on #101553
Yup all Fixed after update:

   Compiling update_google_sheet v0.1.0 (/home/andresh/Projects/update_google_sheet)
    Finished release [optimized] target(s) in 6.59s

[2022-09-08 02:04] #101553 closed

[2022-09-08 02:21] #46213 closed

[2022-09-08 03:02] lomotos10 opened #101557 "generic_const_exprs: ICE when converting into type related to trait's internal generic const"
### Code

[code]

Note: ICE does not occur if either of the two lines in `f()` is replaced with `todo!()`; i.e.
[code]
or
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace for first panic</strong></summary>
<p>

[code]

</p>
</details>

<details><summary><strong>Backtrace for second panic</strong></summary>
<p>

[code]

</p>
</deta

[2022-09-08 06:46] oxalica commented on #96992
Maybe we could stabilize this? Note sure what I could do next. @rust-lang/libs-api

[2022-09-08 07:23] reez12g commented on #101306
@rustbot claim

[2022-09-08 07:46] crlf0710 commented on #89515
Seems this is just a diagnostics issue? Better error message is needed here, and "type annotations needed" is not actually correct.

[2022-09-08 08:01] #101370 closed

[2022-09-08 08:42] apiraino commented on #101470
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101470.20const.20prop.20missing.20diagnostic.20with.20unrelated.20changes)).

@rustbot label -I-prioritize +P-high T-compiler

[2022-09-08 08:45] apiraino commented on #101346
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101346.20Potential.20miscompilation.20on.20i686.20of.20chacha20)).

@rustbot label -I-prioritize +P-critical T-compiler

[2022-09-08 10:05] RalfJung opened #101567 "Missed enum layout optimization with two NonZeroU64 in an enum"
The `Provenance` type defined here is [24 bytes in size](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7a3f56a0785aa4888ca3109fa5831a41):
[code]
However, it should be possible to encode `Provenance` in 16 bytes: e.g. `(0usize, 0suize)` could encode `None` and `(0usize, 1usize)` could encode `Wildcard`.

In Miri, a [slight variant of this](https://play.rust-lang.org/?vers

[2022-09-08 10:18] makr11st commented on #65818
Hi All, I was wondering if there was any progress in the recent months with this issue?

[2022-09-08 11:49] 5225225 opened #101570 "`mem_uninitialized` future-compatibility warning"
This is the **summary issue** for the `mem_uninitialized`
future-compatibility warning and other related errors. The goal of
this page is describe why this change was made and how you can fix
code that is affected by it. It also provides a place to ask questions
or register a complaint if you feel the change should not be made. For
more information on the policy around future-compatibility warning

[2022-09-08 11:53] 5225225 commented on #101570
Note: I'm making this now to register the number so I can add it to the implementation PR (https://github.com/rust-lang/rust/pull/100342), the exact places where this will lint on is not finalized, but what's described here is what's currently implemented.

Also, I diverged from the template at the end, I suppose the wording here is okay? This *is* the only FCW that will never actually become a ha

[2022-09-08 12:03] bstrie commented on #63063
Is this feature a blocker for async trait methods? If so, and with GATs (seemingly) nearing stabilization, this would be the last big piece to unblock that work.

[2022-09-08 12:44] WalterSmuts opened #101571 "Implementing Multiplication without explicit coersion is Impossible"
I want to [implement multiplication] on a struct that works with all permutations of owned, shared, and mutable references.
[code]

I expected to have to implement `std::ops::Mul` for my `Foo` struct. I realised that means we're consuming the `Foo` struct so instead I implemented it on `&Foo`.  This works for the `&` and owned structs although I have to add an explicit `&` operator to to the owned

[2022-09-08 13:01] MichaelMauderer opened #101572 "`type_alias_impl_trait` fails to correctly resolve bounds."
### Code

I tried this code:

[code]

This produces the following error:

[code]

### Version it worked on

It most recently worked on `nightly-2022-05-14`.

### Version with regression

The first failing version is `nightly-2022-05-15`.

cargo-bisect-rustc points to a7d6408b05912396618dfdcc9cc713d3ace2aa9a regressed commit.

[2022-09-08 13:36] nikomatsakis commented on #101336
@RalfJung

Ah, yes, you're correct, but ... hmm. This is equally true of the validity and safety invariants, right? The example you gave was code assuming that the vtable was not NULL, but that's actually guaranteed to be true because of the *validity* invariant (the safety invariant further refines that to "vtable must be valid" (which we don't precisely define, but anyway).

On the topic of what

[2022-09-08 13:58] Aandreba commented on #80437
Not in the sense that it produces incorrect code.

[2022-09-08 13:59] Aandreba commented on #80437
Why would `DerefMove` be better than `into_inner`?

[2022-09-08 14:00] Aandreba commented on #80437
The same argument could be made for number conversion. Do I use the `Into`/`From`/`TryInto`/`TryFrom` traits or do I use the `as` keyword?

[2022-09-08 14:04] oli-obk commented on #91601
Triage: not a blocker for stabilization, as workarounds exist. Definitely a bug we should fix though.

[2022-09-08 14:14] CAD97 commented on #101336
To concur and state explicitly: if we want to allow dangling `*const dyn Trait`, this is necessary, as the concrete "hidden" pointee type does not exist.

(Definitely not an immediate question, but I wonder if we can't make `ptr::null`/`dangling` work by generating vtables for `!`; it might even be possible to just have a single shared `!` vtable (per compilation unit) with enough supertrait point

[2022-09-08 14:18] npmccallum commented on #80437
@Aandreba `From` and `as` do different things. `From` is lossless. `as` is potentially lossy.

[2022-09-08 14:54] pnkfelix commented on #101346
Does the change that landed in rust-lang/stdarch#1329 resolve this? (In other words, do we just need to pull in those changes in some manner to resolve this issue?)

Or is there something else that will need to happen?

[2022-09-08 14:55] BurntSushi commented on #80437
I wasn't making an argument though. You asked for a _cost_. I gave you one. Do we have other "decision paralysis" costs in the standard library? Yes! Absolutely! There's a difference between the questions "what are the downsides" and "should we do this." You said, "Also, what downside could stabilizing into_inner have?" Which is clearly an instance of the former, not the latter.

Otherwise, this c

[2022-09-08 14:55] pnkfelix commented on #101346
also, given that this is a P-critical issue that affects 1.57 and later: Should we be talking about beta backports of the changes associated with fixing this?

[2022-09-08 14:59] Aandreba commented on #80437
That's true. The point I'm trying to make is that I don't see how the decision paralysis cost outweighs the benefit in code readability. And it's also a very small decision for which you'll have a goto answer by the second time you encounter it.

[2022-09-08 15:48] chenyukang commented on #101542
@rustbot claim

[2022-09-08 16:26] RalfJung commented on #101336
Agreed, that is a meaningless definition.

What I proposed is to say that it must be a valid vtable *for the given trait*, for an arbitrary type. We need it to be for the right trait so that vtable lookups for upcasts and dyn method dispatch will work.

[2022-09-08 16:26] andres-hurtado-lopez opened #101581 "error: internal compiler error: no errors encountered even though `delay_span_bug` issued broken MIR in DropGlue(DefId(2:2767 ~ core[178b]::ptr::drop_in_place)"
### Code

[code]

[code.zip](https://github.com/rust-lang/rust/files/9528613/code.zip)

### Meta

`rustc --version --verbose`:
[code]

### Error output

258 |     std::fs::write( "email_carmelita.html", cuerpo );
    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    |
    = note: this `Result` may be an `Err` variant, which should be handled

warning: structure field `API_KEY` should hav

[2022-09-08 16:31] RalfJung commented on #101336
Validity invariants are an op.sem / UB thing, which means they are whole-program questions: does this program (when interacting with a given environment for I/O) have UB, yes or no? On that level, weakening the validity invariant is always backwards-compatible since it makes fewer programs UB.

Weakening becomes a problem when considering individual *functions*, which usually only makes sense for

[2022-09-08 16:37] oxalica commented on #101567
Wouldn't it cause severe performance issue for enum with a number of variants? It makes a single-variant check `matches!(enum, Variant)` load and compare multiple fields (up to `O(number_of_niches)`). It also disables jump table optimization.

It's really a trade-off instead of an optimization.

[code]

[2022-09-08 16:46] RalfJung commented on #101567
It optimizes space usage, but overall I agree it's a tradeoff. We might want attributes like `repr(compact)` or so.

[2022-09-08 16:58] compiler-errors commented on #101581
This is fixed by #101437

[2022-09-08 17:00] msrd0 opened #101582 "False positive `dead_code` lint"
Source Code: https://github.com/msrd0/cargo-doc2readme/tree/a176ccc8f5d9b201b1f39599f797f33280f72c49

This shows a false-positive `dead_code` warning, both with Rust 1.63.0 from ArchLinux packages as well as with Rust 1.65.0-nightly (646e9a0b9 2022-09-02) from rustup:

[code]

When renaming the function however, the code no longer compiles, and the part that doesn't compile is also not unused. Thi

[2022-09-08 17:07] xNxExOx opened #101583 "is still repeating at this depth when missing $ before `(`"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2170c66f0413032a3b07da1066131517

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Theoretically `(...),*` suggest it should suggest repeating block, but I have no clue how to write such diagnostic, so feel free to say it would be bad, because it would be causing f

[2022-09-08 17:11] nbdd0121 commented on #101469
I discussed this yesterday with @bjorn3 about this. The problem is that, for a `nounwind` function that calls a "C-unwind"` function, with otherwise no destructors, will have to:
* Abort for an unforced unwind (Rust panic or foreign exception);
* Do nothing for a forced unwind.

In order to satisfy the first requirement, we have to insert landing pads to `"C-unwind"` call-sites to abort the progra

[2022-09-08 17:35] cramertj commented on #99104
@rfcbot concern early-storage-dead-of-stack-value

After some further thought, I think that allowing this is not any easier than solving the more general problem of early stack re-use / StorageDead marking. In fact, it is somewhat more challenging in that the resulting rule would be directly observable from *safe* Rust code. Consider this example:

[code]

In this case, I believe we *have* to cont

[2022-09-08 18:21] BatmanAoD commented on #101469
Yes, and that's exactly why we defined it that way! 😁

...even after https://github.com/rust-lang/rust/pull/92845? Dang.

Maybe I'm not understanding the question, but forced unwind is, effectively, exactly like `longjmp`. As long as the stack frames are deallocated, the unwinding is "correct".

@Amanieu @nbdd0121 @bjorn3

[2022-09-08 18:22] CAD97 commented on #101336
This isn't quite my experience. While this is a common (and probably better) style, I've also seen code which instead of stating the preconditions, states the weakenings. So instead of "the pointer's vtable pointer must be aligned and non-null," something along the lines of "the pointer's vtable pointer is not required to point to a valid vtable." An example might be

[code]

This kind of weakenin

[2022-09-08 18:24] #97104 closed

[2022-09-08 18:24] #101477 closed

[2022-09-08 18:30] talchas commented on #101346
That change should resolve this, yes.

[2022-09-08 18:45] BatmanAoD commented on #101134
@ChrisDenton Does that solve your issue, or do you still consider this a bug?

[2022-09-08 18:58] bjorn3 commented on #101469
With longjmp you know the exact place to jump to because it is passed in as argument. With forced unwind, you unwind the stack to find the right location and depending in the platform and language destructors will still run. As for windows where longjmp is implemented using forced unwind, I believe unwind tables are mandatory.

[2022-09-08 19:04] cppforliving opened #101585 "Returning [i128::MIN; 1] from a function actually returns [0i128; 1]"
Array created using repeat expression `[i128::MIN; 1]` and returned from a function actually returns `[0i128; 1]`.
Interestingly the problem does not happen when using the list syntax `[i128::MIN]` to create the array.

I tried this code:

[code]

I expected to see this happen: the second `assert_eq` should pass

Instead, this happened: the second `assert_eq` fails screaming that
[code]

### Meta

[2022-09-08 20:24] nikomatsakis commented on #101336
@RalfJung

Hmm, this is probably off-topic, but I'm not sure I buy this distinction you are trying to draw. It seems like unsafe code authors and the compiler are equally capable of optimizing layouts and other things based on validity invariants. As a silly example, maybe we're doing some kind of hand-rolled type that we want to exploit the niche just like `Option<*const dyn Foo>` would:

[code]

[2022-09-08 21:01] BatmanAoD commented on #101469
@bjorn3 I'm not sure that's correct. Forced unwinds can't be "caught" (by definition), so either the "exact place to jump to" is the thread boundary (in the case of `pthread_cancel` et al.) or the unwind is in fact a `longjmp` (MSVC).

Regardless of the language, running destructors for a forced unwind is UB. This is why we require frames that can be force-unwound to be POFs.

[2022-09-08 21:02] matthiaskrgr opened #101588 "rustc lost compiler flag information in its backtrace"
Noticed while digging around in incremental compilation bugs:
I run something like `rustc 101518-1.rs  -Cincremental=/tmp/a -Zincremental-verify-ich=yes    --crate-type lib`

rust `1.58.0` would print the flags that caused the ICE like this:
[code]

while `1.60.0` would print it like this:
[code]

The problem here is that `-Z incremental-verify-ich=yes` somehow became `-Z incremental` between 1.58

[2022-09-08 21:04] 5225225 commented on #101585
I wonder if https://github.com/rust-lang/rust/blob/87788097b776f8e3662f76627944230684b671bd/compiler/rustc_codegen_ssa/src/mir/rvalue.rs#L90-L94 is at fault here.

[2022-09-08 21:05] saethlin commented on #101585
Compiling this:
[code]
with `-Cno-prepopulate-passes -Copt-level=0 --emit=llvm-ir`
Yields:
[code]
Which does not seem right. We shouldn't be emitting a memset to 0 there.

[2022-09-08 21:10] mcbridejc opened #101589 "Rust compiler crash - cannot relate bound region - when passing wrong argument type to plotters"
I accidentally stumbled upon this crash with nightly. When reverting to stable, it outputs an error message because I am passing the wrong argument type to `chart.draw_series`.

### Code

Full project which causes the crash here: https://github.com/mcbridejc/rust-crash-demo-20220908

[code]
### Meta

The code is incorrect, and on stable rust, I get the following error output:

[code]

`rustc --ver

[2022-09-08 21:11] saethlin commented on #101585
This program hits an LLVM assertion if compiled with an LLVM that has assertions enabled:
[code]

[2022-09-08 21:15] sunfishcode commented on #98699
I can see the utility, but there is also the question of the overall API shape. Not all file descriptors support `write(2)`, though one might say the worst that happens is you get `EBADF` or `EINVAL`, though if you say that's ok, then there's a question of what *other* operations `OwnedFd` should implement, and it's not clear where the boundary should be.

There has also been some discussion about

[2022-09-08 21:24] compiler-errors commented on #101589
@mcbridejc please update your nightly build, this should be fixed

[2022-09-08 21:38] mcbridejc commented on #101589
Oh so it is. Apologies for the noise.

[2022-09-08 21:38] #101589 closed

[2022-09-08 21:48] cjgillot commented on #101582
You crate has 2 targets: one library at `lib.rs`, and one binary at `bin.rs`, that are compiled separately.  The reported code is used by the library target, but not by the binary target.  The compilation for the binary target correctly reports it as dead.  This is intended behaviour.

[2022-09-08 21:48] #101582 closed

[2022-09-08 22:12] msrd0 commented on #101582
Oh wow so the binary target actually compiled the same code twice. Never thought that might happen, but makes total sense now that I think about it.

[2022-09-08 22:23] bjorn3 commented on #101469
AFAIK the personality function can catch forced unwinds. You just aren't supposed to do this in user code. I think libc does catch it to end unwinding at the end of the thread stack, but I haven't checked this. To find this catch at the end you need to unwind the stack using unwind tables.

[2022-09-08 22:28] andres-hurtado-lopez commented on #101581
After updating to :

rustc 1.65.0-nightly (c2804e6ec 2022-09-07)
binary: rustc
commit-hash: c2804e6ec2c29a5c7368600ea173b890e2655c3d
commit-date: 2022-09-07
host: x86_64-unknown-linux-gnu
release: 1.65.0-nightly
LLVM version: 15.0.0

Compiled again and still the same issue. So what I finally did was to downgrade from TOKIO and it finally the compiler stopped chrashing:

`diff --git a/Cargo.toml b/

[2022-09-08 22:28] #101581 closed

[2022-09-08 22:32] ehuss commented on #101588
Apologies, I accidentally broke this in #92310.  I'll post a fix.

[2022-09-08 23:27] jackh726 commented on #90808
I'm going to go ahead and close this. As said in previous comment, not sure what is actionable here.

[2022-09-08 23:27] #90808 closed

[2022-09-08 23:58] saethlin opened #101596 "ICE due to invalid unsizing &B -> [u8]"
### Code
https://crates.io/crates/mwatch-sdk-core version 0.1.0
~~The actual bug appears to be in stm32l432xx-hal but I can't seem to build that on its own.~~ It just needs certain combinations of features.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2022-09-09 00:02] saethlin opened #101597 "ICE: Broken MIR in DropGlue + no errors even though delay_span_bug issued"
### Code

https://crates.io/crates/vujio version 0.1.3
(yes the error says it's from compiling wgpu, but I can't get just that crate to ICE)

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-09 00:04] saethlin commented on #101597
Oops this might be a duplicate of https://github.com/rust-lang/rust/issues/101548, I'll keep an eye out to see if it is fixed by https://github.com/rust-lang/rust/pull/101437

[2022-09-09 00:12] Havvy commented on #67264
Does this stabilize using range patterns in slice pattern subpatterns at toplevel? Currently, a slice pattern of `[1, 2.., 3]` doesn't work and it says to require this feature. Furthermore, there is no open tracking issue for it. If not, we should open an issue for it. And if so, does everybody checking their box understand that?

---

Relatedly, I'm currently working on the documentation PR for t

[2022-09-09 00:16] compiler-errors commented on #101596
searched nightlies: from nightly-2022-06-01 to nightly-2022-09-08
regressed nightly: nightly-2022-08-30
searched commit range: https://github.com/rust-lang/rust/compare/ce36e88256f09078519f8bc6b21e4dc88f88f523...bc4b39c271bbd36736cbf1c0a1ac23d5df38d365
regressed commit: https://github.com/rust-lang/rust/commit/bc4b39c271bbd36736cbf1c0a1ac23d5df38d365

<details>
<summary>bisected with <a href='http

[2022-09-09 00:18] saethlin commented on #101597
Yes, this is fixed.

[2022-09-09 00:18] #101597 closed

[2022-09-09 00:18] compiler-errors commented on #101596
No idea what change from #101152 could have caused this -- maybe #100239?

[2022-09-09 00:20] tmandry commented on #99104
This builds on the generator drop tracking work, which makes it so you don't have to declare bindings in a nested scope anymore to satisfy the type checker. It does this by approximating some MIR analysis in HIR, but doesn't work at all for `Copy` types.

For generator layouts we check if a reference to a local has been taken before an await point. If it was we never reuse its storage. One approac

[2022-09-09 00:24] saethlin commented on #101596
Looks like it. I did a `git revert 3ea5456366170f2b39bd77070c00c632537ec591 -m 1` and now I have a rustc that doesn't ICE on the above crate.

[2022-09-09 00:31] compiler-errors commented on #101363
I haven't looked too much in to this, but I would guess it's because `TupleStruct(x, y, z)` is treated more like a function call than a struct constructor expression, and it's very likely (I would even guess in backwards-compatible terms) to make the former act like the latter, I think..

It might be worth experimenting, but certainly any fix would need some root-cause explanation and a crater run

[2022-09-09 00:35] compiler-errors commented on #101281
This error now looks like:

[code]

Is that better?

[2022-09-09 00:44] Amanieu commented on #101346
The issue affects all uses of `asm!` where `lateout` operands are used. As far as I can tell `cpuid` is the only one that is affected in the standard library, but uses of `asm!` in other crates could also be affected by this bug.

[2022-09-09 01:47] BGR360 opened #101601 "rustc thinks a lifetime bound is necessary when passing an associated type into a nested call"
No idea how to more effectively describe this problem in the title. Open to suggestions.

The following code fails to compile on stable (1.63.0) and nightly ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5db2d15b51d423f1053a9d570db4a654)):

[code]

[code]

Removing the call to `Self::bar` makes the code compile just fine. It only fails when you try to call `b

[2022-09-09 01:49] BGR360 commented on #101601
@rustbot label +T-compiler

[2022-09-09 02:13] BGR360 commented on #101601
And it gets even weirder! Let's say you do what rustc asks and add the `T: 'a` bound. Then if you add another field to the type that normally implies certain lifetime bounds (like `field: &'b &'a ()` normally implies that `'a: 'b`), the compiler suddenly can't infer those relationships / makes the user specify them manually! ([playground](https://play.rust-lang.org/?version=stable&mode=debug&editi

[2022-09-09 02:13] AaronKutch commented on #67264
Can `0u8..` be changed to iterate all the way to `u8::MAX` or has that ship already sailed? (0u8..).contains(&255) fortunately works, but I find it very strange that the iterator would not produce 255 when 255 is contained in `0u8..`. Every other `a..` like construct currently in the language or in my crates gets all the elements contained.

[2022-09-09 02:23] jhpratt commented on #67264
@AaronKutch How is that in any way related to this feature?

[2022-09-09 04:18] HZzz2 commented on #100000
🦀🦀🦀

[2022-09-09 04:20] ChrisDenton commented on #101134
Yes, I have a workflow that works and I don't think this issue is tracking anything useful. So I'll close this now.

[2022-09-09 04:20] #101134 closed

[2022-09-09 04:20] Wyvern commented on #101370
The `-Zgcc-ld=lld`problem still exists, but the error changed to `rust-lld: error: library not found for -lcrt1.10.6.o` on macos. Need more investigation..

[2022-09-09 05:29] pierzchalski commented on #62924
@BurntSushi @dtolnay @joshtriplett is there any potential next step here? This _seems_ like an unusually long wait for FCP.

[2022-09-09 08:14] davidtwco commented on #101109
cc #100717

[2022-09-09 08:18] davidv1992 opened #101605 "Incorrect byte ordering SockAddrV6 flowinfo"
According to the gnu libc documentation sockaddr_in6::sin6_flowinfo is provided in network byte ordering (see https://www.gnu.org/software/libc/manual/html_node/Internet-Address-Formats.html), as is consistent with the other fields in sockaddr_in6 which appear directly in the ipv6 header.

However, the rust's standard library SocketAddrV6 implementation does not do any conversion from network byte

[2022-09-09 08:20] davidv1992 commented on #101605
Additional note: RFC2553, although specifying the sin6_flowinfo field as existing, does not seem to contain information on byte ordering of it's content. (see https://www.rfc-editor.org/rfc/rfc2553#section-3.3)

[2022-09-09 08:55] apiraino commented on #101585
This appeared in `1.43.0`. Until `1.42` the sample would code emit a compile error ([godbolt link](https://rust.godbolt.org/z/Pneo6P87G)), maybe that would shadow the error?

A bisection between those two stable releases points to a group of old PR but I can't really pinpoint one :/
[code]

[2022-09-09 09:06] #99179 closed

[2022-09-09 09:06] #101443 closed

[2022-09-09 09:15] 0x53ee71ebe11e commented on #100800
I'm not so sure this is the case. This bug doesn't necessarily lead to a compile error, but actually changes the semantics of the code.
To make this more clear, I modified the example a bit:

[code]
which prints
[code]

[2022-09-09 09:27] RalfJung commented on #101336
If by "any such value" you mean "anything that satisfies the validity invariant", then that is exactly the case I mentioned where the documentation explicitly or implicitly references the validity invariant. If it instead said "anything that satisfies the validity invariant as it is defined in Rust 1.65", then that would be unambiguous and weakening the validity invariant later would not be a prob

[2022-09-09 10:13] oli-obk commented on #100800
OK, that is very wrong obviously. Thanks!

[2022-09-09 10:16] s1ck commented on #79995
@DrMeepster what are the plans on getting this stabilized?

[2022-09-09 11:06] y86-dev opened #101608 "Error conversion with `!`"
I tried this code:

[code]

I expected to see this happen: successful compilation because of the blanket `impl<T> From<!> for T`

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

I cannot really make sense of the error message, as it complains about a missing `From`  impl. Maybe this is an issue with the `Try` implementation (`try_trait_v2` does not change the error)

[2022-09-09 11:58] 5225225 commented on #101585
[code]

fails even under 1.26. And before that, i128 didn't even exist. So this has been a problem since 128 bit ints were introduced, as far as I can see.

[2022-09-09 13:11] yshui opened #101610 "`-Zexport-executable-symbols` alone does not export symbols"
I tried:

[code]

building with:

`rustc -Zexport-executable-symbols --crate-type bin`

I expected to see this happen:

    `exported` is in the list of dynamic symbols

Instead, this happened:

    no symbol is exported

in addition, this test case here: https://github.com/rust-lang/rust/blob/98f3001eecbe4cbd091c10ffab45b4c164bb507b/src/test/run-make/export-executable-symbols/Makefile#L10

is ins

[2022-09-09 13:14] yshui commented on #101610
the test should have at least used `nm -T`, but i am not an expert on these tools.

[2022-09-09 13:17] yshui commented on #101610
seems like an additional `-C link-arg=-rdynamic` is needed.

[2022-09-09 13:32] aDotInTheVoid commented on #101531
@rustbot modify labels: +A-rustdoc-json +T-rustdoc

[2022-09-09 14:00] kornelski commented on #73987
I agree it's a trap, but at the same time if `*` magically temporarily preserved "raw-pointerness" of the value, then it would be inconsistent with:

[code]

I'm already spooked by `&*` cancelling each other in a special way, but at least in safe rust that's inconsequential.

So having a dedicated operator for a raw deref (`->`) or pointer offset (`~`) would be better: https://faultlore.com/blah/f

[2022-09-09 14:14] RalfJung commented on #73987
It's not inconsistent since these are completely different programs! Let's think more carefully about places and values to make sense of all this. Let's make the place-to-value coercions explicit; I will use `__load(place)` to write the value expression that denotes the value stored in the place. In particular when `x` is a local variable, then `x` is a place expression denoting the address of the

[2022-09-09 14:14] #66173 closed

[2022-09-09 14:18] pnkfelix commented on #67799
discussion seemed like it ended shortly after @jyn514  suggested the change:

this is either waiting on that work item, or its S-ready-to-stabilize, from what I can see, but I cannot tell which.

[2022-09-09 14:22] GuillaumeGomez commented on #67799
More like no one came back to it since then. I'll take a look next week I think.

[2022-09-09 14:23] juancampa commented on #46016
The way I've worked around this is by replacing the `print`/`println`/`eprint`/etc macros with fallible versions. I just put this at the top of `main.rs`
[code]

[2022-09-09 14:24] pnkfelix commented on #69826
Visiting during T-compiler backlog bonanza. This isn't the same kind of "tracking issue" that we associated with the C-tracking-issue label (in terms of a specific feature being designed)

@rustbot label: +metabug -C-tracking-issue

[2022-09-09 14:32] amanjeev commented on #101281
Thank you! I think this is better. Are you ok with this change?

[2022-09-09 14:33] pnkfelix commented on #70401
Visited during T-compiler [backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-09-09.20compiler-team.23484.20backlog.20b'za/near/297985391)

It sounds like this is either ready to stabilize as is (with a shift from a `-Z` option to something stable), or it should move into something that is specified as part of of the t

[2022-09-09 14:35] Noah-Kennedy commented on #79995
I'm pretty interested in seeing this stabilized as well.

[2022-09-09 14:35] oli-obk commented on #69826
This is now being tracked as a github project: https://github.com/orgs/rust-lang/projects/21/views/1?layout=board

[2022-09-09 14:39] pnkfelix commented on #71407
Visiting during T-compiler backlog bonanza. This isn't the same kind of "tracking issue" that we associated with the C-tracking-issue label (in terms of a specific feature being designed)

@rustbot label: +metabug -C-tracking-issue

[2022-09-09 14:40] Thomasdezeeuw commented on #69826
@oli-obk that link is either incorrect or the project is private, in either case it doesn't work

[2022-09-09 14:44] pnkfelix commented on #71515
Visited during T-compiler backlog bonanza.

The work that @lqd is doing for rust-lang/compiler-team#510 are meant to be the final steps to unblocking turning lld on by default for Linux.

@rustbot label: S-tracking-impl-incomplete

[2022-09-09 14:50] pnkfelix commented on #71520
Visited during T-compiler backlog bonanza.

The work that @lqd is doing for https://github.com/rust-lang/compiler-team/issues/510 are partly blocking this, but I am also not sure whether there are other blocking issues. (It sounds like #81408 may be a blocking issue, for example.)

(Furthermore, we are not certain we even will *want* lld to be the default on x64 msvc windows.)

@rustbot label: S-t

[2022-09-09 14:50] infiniwave commented on #101548
With the fix it now builds on last night's nightly build.

[2022-09-09 14:50] #101548 closed

[2022-09-09 14:59] oli-obk commented on #66426
The diagnostic for

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f2c2820697c0e1a206b137a6507eb385)

is now

[code]

[2022-09-09 15:00] oli-obk commented on #66426
I don't believe there is anything left to do here. Please open a new issue if there are issues beyond the failure to infer the type

[2022-09-09 15:00] #66426 closed

[2022-09-09 15:01] pnkfelix commented on #73908
Discussed in T-compiler [backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-09-09.20compiler-team.23484.20backlog.20b'za/near/297991504)

Seems like Ci support might be the main known thing blocking pushing this up to Tier 1 support. Which is awesome! (But still, that is an implementation step that remains incomplete.)

[2022-09-09 15:05] tarcieri commented on #73908
GitHub recently added support for [self-hosted M1 runners](https://github.blog/changelog/2022-08-09-github-actions-self-hosted-runners-now-support-apple-m1-hardware/)

GitHub-hosted M1 runners are on their roadmap: https://github.com/github/roadmap/issues/528

[2022-09-09 15:18] the8472 commented on #85410
A remaining issue is that the methods are in the wrong place, they need to be moved to the os::linux module since they're linux specific and not available on other unixes.

[2022-09-09 15:19] Rageking8 commented on #101490
The regression that causes the compiler to emit the invalid help suggestion is fixed by #101502
Hence, the current output error message is:
[code]
However, as mentioned in the top of this issue, it is still not ideal.
Therefore, "suggest adding the `!` when invoking the `vec` macro incorrectly as with other macros." this part still needs to get implemented.

[2022-09-09 15:30] oli-obk commented on #69826
hmm

Looking how to fix that, sorry

[2022-09-09 15:30] kris-nova commented on #85410
Thank you for the context. I'll see if I can't make a contribution to move them to the Linux specific module.

Do you know if there are any other outstanding items that would need to be addressed before this can move to FCP?

[2022-09-09 15:31] WalterSmuts commented on #101571
Asked [question on reddit](https://www.reddit.com/r/rust/comments/x9sru2/implementing_multiplication_api_without_explicit/) and didn't receive any workarounds. The biggest issue is that the rust compiler seems to indicate that the operation is not implemented at all. If there is some reason that `&mut` to `&` coercion is unsafe to do I'd suggest adding a check to see if the trait is implemented fo

[2022-09-09 16:04] kornelski commented on #74265
@steffahn these methods could be named `cast_mut()` and `cast_shared()` (or is it `const`?), alluding to `ptr::cast()` that is the replacement for the `as` operator. In types like `slice.as_ptr()` and `vec.as_ptr()` this method changes the type, but not shared/mut status.

[2022-09-09 16:11] kornelski commented on #73987
You're looking at this from a very low-level perspective — no doubt technically correct one, but I mean it from more layman perspective. It requires having a more low-level mental model of the language. For novice Rust users used to higher-level and GC languages it's already weird that `x().foo()` and `let tmp = x(); tmp.foo()` are semantically different.

[2022-09-09 16:14] RalfJung commented on #73987
If you are using raw pointers, then I don't think you can avoid learning about places and values. (Believe me, it can get a lot more low-level than that. ;)

The comparison with high-level/GC languages makes little sense since those languages don't have the features we are discussing here.

[2022-09-09 16:44] Rageking8 opened #101618 "Add help for missing `(` / `{` or incorrect overload delimiter in decl macros"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=90aaf595a885b4072bd9b8a4a2ff028c)

[code]

The current output is:

[code]

Out1: Ideally the output should include a help suggestion to wrap the macro lhs with parentheses or braces (not sure which is more idiomatic, or it depends on use case)(don't think `[]` should be suggested in any use ca

[2022-09-09 16:57] fishycs commented on #101351
@rustbot claim

[2022-09-09 17:18] HKalbasi commented on #101567
Why `O(number_of_niches)`? Isn't two field enough? Every value for the second field is a niche, so the example can be:
[code]

[2022-09-09 17:28] Kixiron opened #101621 "Windows Mutex implementation should be reevaluated on modern Windows targets"
Currently the windows `Mutex` implementation has [this comment](https://github.com/rust-lang/rust/blob/98f3001eecbe4cbd091c10ffab45b4c164bb507b/library/std/src/sys/windows/locks/mutex.rs#L7-L8) at the top talking about its locking approach (using `SRWLock` instead of `CriticalSection`) with the justification that `SRWLock` performs better on Windows 7 and Windows 8.
However, in the (seven) years s

[2022-09-09 17:32] kpreid opened #101622 "Poor recovery from `pub let x = ...`"
Given [the following code:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f62e9c6ce061d4d5268d9fecd91a802e)

[code]

The current output is:

[code]

The latter two errors are redundant and confusing given the first. It seems like the compiler is trying to recover by parsing the tokens following `pub` as an _expression_, thus disallowing `let`, but there's no obvious reaso

[2022-09-09 17:36] yshui opened #101623 "ICE: no type for node"
### Code

I tried this code:

[code]

### Version

searched nightlies: from nightly-2022-08-18 to nightly-2022-09-09
regressed nightly: nightly-2022-08-23
searched commit range: https://github.com/rust-lang/rust/compare/c0941dfb5a7d07ef2d70cc54d319669d9d6f6c01...015a824f2dffe32707fceb59c47effaf7b73486c
regressed commit: https://github.com/rust-lang/rust/commit/0b71ffca18a9f4a9515773b2c23d13f501d1e

[2022-09-09 17:36] yshui commented on #101623
Regression introduced in: https://github.com/rust-lang/rust/pull/100654

[2022-09-09 17:56] Rageking8 commented on #80070
Already fixed

[2022-09-09 18:02] FedX-sudo opened #101625 "Internal Compiler Error (maybe a clap.rs issue)"
Hi, I was working on a minum-viable clap.rs application when I found the following compiler level error. It occers in several configurations of a clap.rs program. I am running NixOS 22.10, but have also tried it in a containerized Arch Linux with the same result. I have even tried diferent Cargo and Clap versions to no avail. If you want more info, please let me know!
### Code

[code]

### Meta

`

[2022-09-09 18:18] ChrisDenton commented on #101621
For background, there's some [old history here](https://docs.microsoft.com/en-us/archive/msdn-magazine/2012/november/windows-with-c-the-evolution-of-synchronization-in-windows-and-c). Firefox and Chrome switched to SRWLOCK [circa 2017](https://bugzilla.mozilla.org/show_bug.cgi?id=1364624).

It would be good to have some modern benchmarks.

[2022-09-09 18:25] Rageking8 opened #101626 "Edge case does not suggest changing invalid `public` with `pub`"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=30d2fb5d1b3b7cbfd0f9d377e0d0a11f)

[code]

The current output on stable 1.63.0:
[code]

The current output on Beta version 1.64.0-beta.6 (2022-09-09 25912c09710a2de2a97b):
[code]

The current output on Nightly version 1.65.0-nightly (2022-09-09 1d37ed661a6922e7a167):

[code]

Since #99903 ( cc

[2022-09-09 18:35] Zerowalker commented on #67939
so `ThreadId` has no relevance to the actual id of the thread given by the OS?

[2022-09-09 18:46] Rageking8 opened #101627 "Extend invalid keyword usage help diagnostic"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8e2870afd3c4aef8d1e1fc5ea5f1ceb0)

[code]

The current output is:

[code]

There are multiple similar issues and all of them are merged (#99903 #99751 #100140). Hence, I think we should extend such behavior to all relevant rust keywords. Additional details are listed below:

1. `module` -> `mo

[2022-09-09 19:00] thomcc commented on #67939
It does not. The OSes may a thread's ID after it terminates (and also many OSes have multiple things that might be called the thread id).

[2022-09-09 19:03] thomcc commented on #67939
FWIW our documentation on this gives a guarantee that we never reuse these: https://doc.rust-lang.org/nightly/std/thread/struct.ThreadId.html

[2022-09-09 19:05] finalchild commented on #100717
Working on `rustc_ast_passes`!

[2022-09-09 19:26] mikebenfield commented on #101567
There's even more generality. You don't even need the second field to have any "invalid values" at all. Even if the original enum had only one `NonZeroU64` it would work:

[code]

[2022-09-09 19:35] Voultapher opened #101628 "In-place optimisation in IntoIterator can lead to memory leak"
I tried this code:

[code]

I expected to see this happen:

The drop implementation for `New(11)` and `New(22)` is called.

Instead, this happened:

Everything that was mapped and the allocation was leaked.

### Meta

`rustc --version --verbose`:

[code]

I discovered this issue when I learned that `IntoIterator` re-uses a `Vec` allocation if possible. Which prompted me to read the code. Running t

[2022-09-09 19:36] Voultapher commented on #101628
Tagging @steffahn because of your work on #85873 and the associated PRs.

[2022-09-09 19:50] compiler-errors opened #101630 "Make RPITIT work across crates"
I'm pretty sure that these don't work cross-crate yet. If they do, then a test addition would at least be helpful.

1. Serialize and deserialize the results from the `compare_predicates_and_trait_impl_trait_tys` query like other `separate_provide_extern` queries.
2. Add a UI test with an aux-build crate.

[2022-09-09 19:56] Jules-Bertholet commented on #101608
This doesn't exist? It would conflict with `impl<T> From<T> for T`

[2022-09-09 20:00] ChrisDenton commented on #101621
cc @m-ou-se for tips on benchmarking mutex implementations.

[2022-09-09 20:12] steffahn commented on #101628
I haven’t looked at the code yet myself to figure out what’s going on. In the meantime, I think that bisecting what changes were relevant for the regression 1.47 to 1.48 on one hand, and the point between 1.51 and 1.52 that appeared to have fixed the double-free (but introduced or kept (hard to tell with the abort) the memory leak) could be interesting. @rustbot label E-needs-bisection. ^^

[2022-09-09 20:23] leo848 commented on #100000
🏳️‍🌈❤️🦀❤️🏳️‍🌈

[2022-09-09 20:24] nikomatsakis commented on #101336
@RalfJung I updated the text to read:

[2022-09-09 20:30] nbdd0121 commented on #101336
Can we explicitly leave the validity invariant as something to be specified in the future? i.e. producers of fat raw pointers would be required to satisfy the entire safety invariant as the validity invariant, but consumers of them should not rely on it.

[2022-09-09 20:31] cuviper commented on #101567
Related, if you have:

[code]

This does niche to 16 bytes, but `Option<Provenance>` is still 24 bytes -- one could imagine finding the other niche for `None`. However, the compiler only ever tracks one *largest* niche AFAIK, and forgets about others.

[2022-09-09 20:35] y86-dev commented on #101608
I thought this was the impl: https://doc.rust-lang.org/src/core/convert/mod.rs.html#574-578

However I did not see the `#[rustc_reservation_impl]` (this was not visible in the rustdoc, leading to my confusion). #64715 is the related issue, if anyone is interested.

Going to close this as this should be tracked by the other issue.

[2022-09-09 20:35] #101608 closed

[2022-09-09 21:24] aDotInTheVoid commented on #101531
@rustbot claim

[2022-09-09 21:35] eholk commented on #101135
Agreed, drop tracking is still a significant improvement over the status quo and should be compatible with any fixes we do here. That said, I'd really like to fix this issue as well.

This will need some work in the MIR side of things, since that is where the more conservative treatment of borrowing comes from. On the typeck side, I think drop tracking is naturally more precise, but we've had to m

[2022-09-09 21:41] cuviper commented on #101438
I changed it recently for podman in #100930, but that's not supposed to have any effect if you're root (like sudo).

[2022-09-09 21:41] notgull commented on #95439
I support this, although I think it should be explicitly marked as a "`static mut` killer" in the documentation.

[2022-09-09 21:55] compiler-errors commented on #101630
hold up, claiming this for now as I rework some stuff.

[2022-09-09 22:02] thomcc commented on #101621
SRWLOCK was still faster in win10 when I checked a while ago (using a modification of the parking_lot benchmarks (which themselves are a port of webkits mutex benchmarks). This was with InitializeCriticalSection rather than one of the initializers that configures a spin count, so that may impact things.

FWIW, CRITICALSECTION doesn't have a static initializer (AFAIK), and can't be moved (according

[2022-09-09 22:54] steffahn commented on #101628
Doing the bisection. First one is `nightly-2020-09-04`
[code]

second one is `nightly-2021-04-03`
[code]
@rustbot label -E-needs-bisection

[2022-09-09 22:57] steffahn commented on #101628
So that’s likely #70793 and #83629. Let me tag @the8472 who might be more familiar with the code at hand since they were involved with both PRs :-)

[2022-09-09 23:04] steffahn commented on #101628
I’m not sure if I’m reading the PR description of #83629 correctly as in that this leak might be intentional? (If it *is* intentional, I haven’t understood the rationale yet though…)

[2022-09-09 23:31] tczajka commented on #101234
In the first code example, is the inner match in a "context where a statement is permitted"? I wouldn't think so, since the [reference](https://doc.rust-lang.org/stable/reference/statements.html#expression-statements) says:

whereas this inner match expression is not a component of a block.

Hence I would think this shouldn't be ambiguous, it's unambiguously an expression context.

[2022-09-09 23:45] BGR360 commented on #101351
@fishycs and I paired on this today. Didn't really figure out a way forward yet, but here's some breadcrumbs for the next lucky contestant.

The error message we were originally seeing is produced during `astconv` in `complain_about_assoc_type_not_found`:

https://github.com/rust-lang/rust/blob/1d37ed661a6922e7a167609b8cd7eb31e972b19b/compiler/rustc_typeck/src/astconv/errors.rs#L223

On nightly (a

[2022-09-10 01:35] JakobDegen commented on #101336
I feel fairly strongly that such documentation is unconditionally wrong and needs to be fixed. This would include @nikomatsakis 's:

Yes. I also feel very strongly that this needs to be the case. As a matter of fact, I'd even consider "the assumptions an API may make when nothing is explicitly stated" a good candidate for the definition of "safety invariant."

The documentation should imo avoid us

[2022-09-10 01:49] Ben-Lichtman commented on #96097
Looks like sometime in the last few months there has been a regression which has caused `MaybeUninit::array_assume_init` to compile to a memcpy to a second array in some circumstances, instead of just a cast.

The following code should cause this behavior on the current nightly compiler:

[code]

[2022-09-10 01:51] #101358 closed

[2022-09-10 01:51] #101585 closed

[2022-09-10 01:54] Ben-Lichtman opened #101636 "Codegen regression in unstable MaybeUninit::array_assume_init"
Looks like sometime in the last few months there has been a regression which has caused `MaybeUninit::array_assume_init` to compile to a memcpy to a second array in some circumstances, instead of just a cast.

The following code should cause this behavior on the current nightly compiler:

[code]

This creates the array on the stack, fills it with zeroes, creates a second array on the stack and mem

[2022-09-10 01:56] Ben-Lichtman commented on #101636
Tracking issue: https://github.com/rust-lang/rust/issues/96097

[2022-09-10 02:03] Ben-Lichtman commented on #101636
Just realised that I misread the codegen. Please disregard :(

[2022-09-10 02:03] #101636 closed

[2022-09-10 02:30] chenyukang opened #101637 "Add help message for static method call of a struct"
[code]

Current output:

[code]

Expect to have a tip from Levenshtein algorithm.

[code]

[2022-09-10 02:35] chenyukang commented on #101637
From the code path, we actually find out `Demo` with Levenshtein algorithm
https://github.com/rust-lang/rust/blob/395e56f39849defec8d6941f76625d286a6e5ddc/compiler/rustc_resolve/src/late/diagnostics.rs#L526

But didn't add suggestion right in this scenario.

[2022-09-10 02:58] Ben-Lichtman opened #101638 "Codegen: outlined function inhibits optimizations on arrays"
I tried this code:

[code]

I expected to see this happen:
The line `let a = a;` should be optimized away into nothing (or potentially even more could be optimized away).

Instead, this happened:
Space for a second array is allocated on the stack and a memcpy is used to move one array into the other despite them being identical

The memcpy goes away if the outlined function is allowed to inline, o

[2022-09-10 04:37] TehPers commented on #80437
I also think that this function is better served in a more generic `DerefMove` trait, which would allow for a more widely usable version of `into_inner`. Because of that, I'm not sure that `Box::into_inner` is any better than, for example, a `DerefMove::deref_move` function. The biggest reason I want this is for convenience during function chains (in particular, `.map(Box::into_inner)`), but that

[2022-09-10 05:33] dzyphr commented on #87894
LOL I made the exact same command, I guess we cannot have nice things and have rust work properly haha. anyways thanks this is a weird edge-case to run into

[2022-09-10 06:04] RalfJung commented on #101567
Yeah, that is the case we need for Miri. But I figured we would start with the one where it is all a single enum as that should be easier?

[2022-09-10 06:24] cuviper commented on #101567
Hmm, actually the `Wildcard` variant would consider the unused niche to be just padding, so all bits are valid -- no longer niche.

[2022-09-10 07:39] #92158 closed

[2022-09-10 07:45] Ben-Lichtman commented on #101638
Here's a version that's slightly closer to the real-world scenario where I encountered this - I was transmuting a MaybeUninit array into an init array: https://godbolt.org/z/EKrz9nhz4

[2022-09-10 07:54] Andy-Python-Programmer opened #101640 "rustc panicked when trying to compile `once_cell`"
Compiler panic when it was trying to compile the crate `once_cell`:

[code]

[2022-09-10 08:04] Voultapher commented on #101628
Looking at the code, this leak seems relatively easy to avoid. Assuming that dropping the`New` elements while unwinding will itself not panic. I'm guessing the comment you reference relates to something else.

Also any idea why and how `Old(55)` gets dropped?

[2022-09-10 08:46] jsimmons commented on #91079
I'm not sure it's a good idea to deprecate max/min with their existing names given that the segment of code which is likely to care about the difference in semantics between 2008 and 2019 is rather small. It's not exactly an upgrade for people using the API, just different. So lots of downstream churn for no advantage.

Seems like it would be better just to flip to the new semantics with an editio

[2022-09-10 08:49] Ben-Lichtman commented on #101638
I believe that due to this, there is no way to turn a `[MaybeUninit<T>; N]` into a `[T; N]` without a memcpy?

[2022-09-10 08:53] SkiFire13 commented on #101628
The relevant piece of code seems to be this one:

https://github.com/rust-lang/rust/blob/cedd26b1ea066fe243b82b0f78e37066c6f4d789/library/alloc/src/vec/in_place_collect.rs#L201-L203

Where `forget_allocation_drop_remaining` is defined here:

https://github.com/rust-lang/rust/blob/cedd26b1ea066fe243b82b0f78e37066c6f4d789/library/alloc/src/vec/into_iter.rs#L110-L124

So what happens is:
- all the el

[2022-09-10 08:57] the8472 commented on #101628
`drop_in_place` keeps going and then rethrows the panic. That's because it replicates the [default drop behavior for slices](the way default drop behavior).

Yeah, to fix the double-drop in #83618, this was the simplest solution that didn't require any extra parts. And if you're panicing in drop then leaks are allowed behavior. Avoiding them is more a QoI thing.

[2022-09-10 09:00] ChrisDenton commented on #58713
I see tests for `#[link_ordinal]` but are there any tests for using `#[link_name]` on functions? I can't recall where we're at in terms of supporting it but it should ideally either work or be a compiler error.

[2022-09-10 09:05] gimbles commented on #101626
Can you please add the Rustc versions?

[2022-09-10 09:05] the8472 commented on #101628
A bigger concern imo is, well... panic-safety. If the `Vec` and the `IntoIter` exist at the same time then you need to be really sure that panics can only occur *after* the IntoIter has given up the allocation. If a panic occurs between materializing the `Vec` and before calling `forget_allocation_drop_remaining` then you get double-frees.

[2022-09-10 09:07] gimbles commented on #101626
[Note that I don't think this should have happened at all, I wrote tests for the changed diagnostic suggestions]

[2022-09-10 09:07] SkiFire13 commented on #101628
The idea was to create it right before calling `forget_allocation_drop_remaining`

[2022-09-10 09:22] nikic commented on #101638
The the second case (with MaybeUninit) the problem is a lifetime.start between the call and the memcpy, preventing call slot optimization. This should be relatively easy to support.

The first case is significantly harder, because there are writes to the memory before it is passed to the call, which call slot optimization currently doesn't support at all.

[2022-09-10 09:30] mati865 commented on #58713
Pasting my comment from https://github.com/rust-lang/rust/issues/99916#issuecomment-1224334115 so it hopefully doesn't get lost:

Essentially it allows getting rid of raw-dylib hack that I authored and ricobbe pushed across the finish line in https://github.com/rust-lang/rust/pull/90782 (it also allows us to use LLD without breaking ld.bfd but that's another topic) and using the same code path as

[2022-09-10 09:34] MathieuDutSik opened #101651 "Compilation on Xeon E5-2650 computer"
### Problem

I am trying to compile some rust code on a relatively old computer (that is "Intel(R) Xeon(R) CPU E5-2650 v2 @ 2.60GHz").
When compiling, I get the following error: **Error: no such instruction: `shrx %rsi,%rax,%rax'**.
The rust compiler was set up with **curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
**.

I understand that the processor is now 10 years old but still,

[2022-09-10 09:36] the8472 commented on #101628
That could work. At least I'm not seeing anything that would go wrong with that given current implementations. The question is whether it's worth it adding yet another unsafe wrinkle to this goldberg machine.

[2022-09-10 09:36] #101377 closed

[2022-09-10 09:36] #101531 closed

[2022-09-10 09:36] #101588 closed

[2022-09-10 10:09] NiklasJonsson commented on #84447
I was hoping to get back to this after vacation but I haven't had the time and I likely won't in the near future. I've converted some of the modules to use the stable hash containers but there is a decent amount left so it is probably possible to have multiple people working on this, assuming some coordination.

There are two outstanding PRs from me that I will finish up. The first is https://gith

[2022-09-10 11:07] Timmmm commented on #74895
Jinx!

[2022-09-10 11:11] finalchild commented on #101109
This looks important since translation files with some mistakes should not crash the compiler.

[2022-09-10 11:12] CrendKing opened #101645 "Parent process with "windows" subsystem can't properly create console child process"
I tried this code:

App P:
[code]
App C:
[code]

Build this in Windows.

#### I expected to see this happen:

Since `P` has "windows" subsystem, it will create no console window (i.e. no conhost.exe process). Since `C` is a console app, when the process is created, I expect to see one console window that prints "Hello World" infinitely.

#### Instead, this happened: *explanation*

App `C` creates

[2022-09-10 11:20] the8472 opened #101646 "Compiling rustc with -Zrandomize-layout triggers assert in rustc_codegen_llvm/src/type_of.rs"
#101339 aims to enable -Zrandomize-layout in CI. Attempting to merge it results [in this build failure](https://github.com/rust-lang/rust/pull/101339#issuecomment-1242688785).

It reproduces locally by checking out merge commit 7613125631f18e024b670e1764b3eeeca257045e and running `./src/ci/docker/run.sh x86_64-gnu-llvm-13`.

With `RUSTC_LOG=rustc_codegen_llvm::type_of=debug` I get

[code]

CC @Kix

[2022-09-10 11:30] crlf0710 commented on #99551
Did a roughly bisect on the pre-built nightly compilers:
[code]
Seems it got fixed between 20ffea6938b5839c390252e07940b99e3b6a889a..f22819bcce4abaff7d1246a56eec493418f9f4ee range. And the llvm 15 update is between them.

[2022-09-10 11:46] Timmmm commented on #71684
☝️ I added a PR to at least document why it is deprecated so users can make up their own minds. I definitely care less about Cygwin and Mingw results being possibly unexpected than having to add a whole third party crate just for this.

[2022-09-10 12:05] ChrisDenton commented on #101645
I think this will need a T-libs-api decision as the current documentation for [`Command::stdout`](https://doc.rust-lang.org/std/process/struct.Command.html#method.stdout) (and stdin/stderr) is:

I would guess that this "inherit by default" is why it's implemented the way it is. But perhaps there's some wiggle room with what it means to inherit handles that don't exist so we can change it. In eithe

[2022-09-10 12:07] rust-highfive opened #101649 "`miri` no longer builds after rust-lang/rust#101483"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#101483, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @oli-obk, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-09-10 12:14] CrendKing commented on #101645
That's exactly my point. If there nothing to inherit in the first place, just inherit nothing. The current behavior (`INVALID_HANDLE_VALUE`) is simply wrong. I believe changing it doesn't violate the current specification.

[2022-09-10 12:21] Voultapher commented on #101628
I think the issue will be type confusion. Which is what I initially looked for. If dropping those remaining Old elements panics, it would drop Olds as News. I think a simpel drop guard before forget_ should do the trick.

[2022-09-10 12:22] CryZe commented on #91079
That's "not true", as ARM has instructions for both 2019 behaviors as seen here: https://gist.github.com/CryZe/30cc76f4629cb0846d5a9b8d13144649

What's interesting to me though is that LLVM compiles the current behavior to `FMINNM / FMAXNM`, even though that's not matching the 2008 standard. The ARM documentation states that these instructions behave differently based on the value in the `AH` regi

[2022-09-10 12:22] SOF3 commented on #65442
Reproduced with a more minimal example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=319e66180308bede359b022cda8ed0bf

[code]

[code]

[2022-09-10 12:37] Hocuri opened #101650 "Using the format!() macro with an async function makes the whole Future non-Send"
**I tried this code:** (minimal reproducible example; for the actual code see https://github.com/deltachat/deltachat-core-rust/pull/3591)

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d20021c1f59736781ee3641d50797820)

Note that we are using,
[code]
in a context where the Future needs to be `Send`; only this line without the `string_builder` seems not

[2022-09-10 12:37] nikomatsakis commented on #101336
Hmm, I think we should move the discussion about whether people can/will say "accept anything that meets the validity invariant" somewhere else, as I think it's independent of this particular issue.

With respect to the question of leaving the validity invariant unspecified: I'd prefer not to. I think we need to make decisions at some point. However, we could make this a "recommendation" to be fin

[2022-09-10 12:38] fmease commented on #101109
First real-word case (I think): #101640.

[2022-09-10 12:42] Hocuri commented on #101650
Notes:
- Maybe this can be fixed with https://github.com/rust-lang/rust/issues/99012
- See https://github.com/rust-lang/rust/issues/82696, an issue about improving the error message.

I'll guess this is
@rustbot label +T-libs

[2022-09-10 13:00] jsimmons commented on #91079
I'm not sure that gist is really correct. The arm docs for FMINNM state.

"NaNs are handled according to the IEEE 754-2008 standard. If one vector element is numeric and the other is a quiet NaN, the result that is placed in the vector is the numerical value, otherwise the result is identical to FMIN (scalar)."

-------- Original Message --------
On 10 Sep 2022, 14:22, Christopher Serr wrote:

[2022-09-10 13:01] ehuss commented on #101651
Transferred to rust-lang/rust, as this is a compiler issue.

It looks like it is selecting the bmi2 instructions. I do no think those should normally be activated with `x86_64-unknown-linux-gnu`.  Can you make sure that there aren't any flags being set, like `-Ctarget-cpu` or `-Ctarget-feature`?  Does this happen with a simple hello-world program?

[2022-09-10 13:13] CryZe commented on #91079
That's correct. The difference in behavior is in the handling of -0 and +0. That's where the alternative floating point extension comes (switches from 2019 mode to 2008) in. The difference in NaN behavior is supported by ARM as `FMAX` and `FMAXNM`.

[2022-09-10 13:27] tschuett opened #101653 "-Z gcc-ld=lld fails again"
I tried this code:

[code]

I expected to see this happen: it builds my crate.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

I found in the invocation of `cc`

[code]

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

See https://github.com/rust-lang/rust/pull/101504#issuecomment-1242726753.

[2022-09-10 13:35] tschuett commented on #101653
https://github.com/rust-lang/rust/pull/100200 introduced the target parameter

[2022-09-10 14:37] Rageking8 commented on #101626
@gimbles I have retested the above code snippet against the current stable, beta and nightly version (I have added the version numbers above) of the compiler in the official rust playground and the regression still persist.

Not sure if this only occurs on the rust playground although I highly doubt it. Maybe you could look into this as the implementation of that diagnostics improvement is written

[2022-09-10 14:45] Rageking8 commented on #101626
Not sure if this is the cause but maybe the test you wrote in #99903 is slightly different to the above code snippet as the test uses the wrong `public` keyword in the top-level. However, the above code snippet uses the incorrect `public` keyword inside of a user-defined module. Hence, this may lead to a PR that potentially causes a regression in the recovery of `public` -> `pub` to not trip off a

[2022-09-10 14:50] eddyb commented on #101446
To be clear, I believe `rustdoc` is mostly off-topic for this issue.

I made this issue about *better supporting Sourcegraph*, as a *3rd party service*.

That is, if Rust users are *already using* Sourcegraph, or considering using it, having the LSIF data automatically provided to it would greatly increase the usefulness of that service.

I don't see a strong connection to `rustdoc`, other than *p

[2022-09-10 15:12] kurikomoe commented on #101430
The issue is fixed.

[code]

[2022-09-10 15:12] #101430 closed

[2022-09-10 15:19] nicholasbishop opened #101656 "Investigate why the UEFI targets produce executables with `DLLImport` annotations"
This is a followup to https://github.com/rust-lang/rust/issues/101377.

_Originally posted by @dvdhrm in https://github.com/rust-lang/rust/issues/101377#issuecomment-1236787580_:

It feels wrong to produce executables with `DLLImport` annotations, knowing that UEFI loaders will never read `.idata` sections. While technically they could, I am not aware of any such implementations and the spec clear

[2022-09-10 15:44] CryZe opened #101658 "Most aarch64 register classes aren't available"
I tried this code:

[code]

I expected to see this happen: It compiles

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-09-10 15:45] Rageking8 opened #101659 "Extend macro invocation without the `!` typo help suggestion for all user-defined macros"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d7c319a7f8606ba49e50bfab044d86a6)

[code]

The current output is:

[code]

Ideally the output should contain a help note which suggests adding a `!` for macro invocation.

Note: if the above code snippet is changed slightly to (added `_` prefix to the macro name and invalid invocation name): [

[2022-09-10 15:57] winxpqq955 commented on #101211
@rustbot claim

[2022-09-10 16:36] Anders429 commented on #100177
@robinhundt were you able to find any workaround for this? I'm running into this exact same issue, and I can't find a way to work around it while still expressing the relationships between the traits that I want to express.

[2022-09-10 16:36] TheOddGarlic commented on #100717
I'm currently battling issues with my dev environment, and school has just started. If someone is interested in continuing my work on #100854 then I'm down for it, but I'm still working on it

[2022-09-10 16:46] CryZe commented on #91079
I ran it on both qemu and actual hardware to confirm that what I said above is indeed true and FMAXNM is indeed following the 2019 semantics and LLVM emits the wrong instruction:

![https://i.imgur.com/TxCndLb.png](https://i.imgur.com/TxCndLb.png)

[code]

[2022-09-10 16:53] jsimmons commented on #91079
It does not follow the 2019 semantics for NaN though? Or am I mistaken about what 2019 says. e.g it should be returning NaN if either argument is NaN. As opposed to 2008 semantics where it returns the *other* value if either argument is NaN.

-------- Original Message --------
On 10 Sep 2022, 18:46, Christopher Serr wrote:

[2022-09-10 16:55] CryZe commented on #91079
The 2019 standard has both NaN absorbtion (`maximumNumber`) and NaN propagation (`maximum`). I'm saying that Rust's `f32::max` maps to `FMAXNM` on ARM, which does the 2019 `maximumNumber` instead of the 2008 `maxNum`.

[2022-09-10 17:12] paul-soporan opened #101660 "[ICE] [Nightly] Compiler panicks on anonymous lifetime in `impl Trait`"
### Code

[code]

This is the most minimal example I could come up with. It works if I get rid of the `: &str` in `baz: &str`.

### Meta

`rustc --version --verbose`:
[code]

### Error output

(The full output is in the backtrace section)
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-10 17:16] paul-soporan commented on #101660
Looks like the following crashes too, so the closure isn't actually required:
[code]

[2022-09-10 17:29] #83375 closed

[2022-09-10 18:08] compiler-errors commented on #101351
So I think we currently have issues with doing more involved suggestion during this place in astconv because of cycles -- when we're suggesting a "add `<T: Trait>`" for a method, it's easier to do because that can only happen inside the body of a function.

[2022-09-10 18:14] compiler-errors commented on #101659
This is because there's a built-in `#[test]` macro.

[2022-09-10 18:57] clarfonthey commented on #96097
Another thing worth asking: why not have methods directly implemented on arrays? You'd still need some form of `uninit_array`, but instead of `MaybeUninit::array_assume_init(arr)`, you'd just do `arr.assume_init()`, and the implementation is on `[MaybeUninit<T>; N]`.

This seems possible specifically because the types exist in core, but open to other interpretations.

I also suggested perhaps just

[2022-09-10 19:08] Rageking8 commented on #101659
Oh, oops totally forget about that.

[2022-09-10 19:31] lqd commented on #101653
I managed to find an old x64 mac, Xcode 13 on OS 11.6.1, and can reproduce the issue there, so I'll try to look into it.

[2022-09-10 19:39] compiler-errors commented on #101659
No worries, but there should be no reason why we can't suggest a user-provided macro here (or at least nothing comes to mind, but maybe I will discover why and report back here).

[2022-09-10 19:41] tschuett commented on #101653
[code]

There is a `crt1.10.6.o` file on my system, but it is not a library.

[2022-09-10 19:41] lqd commented on #101653
`nightly-2022-09-02` does not reproduce the issue, so it may be a different change from #100200 which landed in the following nightly

[2022-09-10 19:50] compiler-errors commented on #101281
I'm gonna close this issue as completed then, please re-open an issue if you continue to find this error message confusing!

[2022-09-10 19:50] #101281 closed

[2022-09-10 20:20] #99551 closed

[2022-09-10 20:42] aDotInTheVoid commented on #101201
Turn out the actual culprit is adding extra trait impls:

https://github.com/rust-lang/rust/blob/14636887008d9ee67a12b4f05f1e404ed1d64579/src/librustdoc/json/mod.rs#L273

Removing this fixes all tests for `jsondoclint`, and fails none of the current tests, but I thinks thats more of an inditement of the test suite than anything else.

[2022-09-10 21:09] compiler-errors commented on #101659
Actually might leave this to someone else, got a lot on my plate atm.

[2022-09-10 21:11] Nilstrieb opened #101662 "Bad diagnostics from RPITIT"
Given the following code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5feefeb56e42f34ef509dcb7009485cc)

[code]

The current output is:

[code]
The problem here is that `(): OnlySized<T> where T: Sized`, but `[u8]: !Sized`, therefore `(): !OnlySized<[u8]>`

The `doesn't have a size known at compile-time` pointing at `()` is quite confusing, since `(): Size

[2022-09-10 21:11] Nilstrieb commented on #101662
@rustbot label F-return_position_impl_trait_in_trait

[2022-09-10 21:16] Nilstrieb opened #101663 "RPITIT return is not checked for well-formedness"
I tried this code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=23a96cb2e1bd40679c82c49c27b70eda)

[code]

I expected to see this happen: Code fails to compile, as these two return types are not well-formed

Instead, this happened: Compiles, but actually implementing the types will error

### Meta
`rustc --version --verbose`:
[code]

[2022-09-10 21:16] Nilstrieb commented on #101663
@rustbot label F-return_position_impl_trait_in_trait

[2022-09-10 21:31] nikic commented on #91079
@CryZe I think your comments are causing unnecessary confusion here. IEEE-2008 leaves the behavior for signed zero unspecified (either operand may be returned). An instruction that follows IEEE-2019 signed zero behavior also conforms to IEEE-2008 -- just not the other way around. LLVM is correct to use FMAXNM to lower `llvm.maxnum`. There is no "wrong instruction" being used.

[2022-09-10 21:34] CryZe commented on #91079
Yeah you are right I was under the impression that it actually specified it to choose either the first or second operand, but it seems like it's implementation defined in the 2008 standard, the C standard, technically in Rust and in LLVM. I adjusted my list to reflect that.

[2022-09-10 21:39] fmease commented on #101627
Personally, I find this a bit excessive. I'd argue that it is very unlikely that anybody (be it an absolute beginner or a highly proficient long-term user) would accidentally write those suggested lengthy identifiers (“long versions”) instead of the actual keywords. Especially since all of these except `extern` are the most basic and most well-known keywords in Rust which are taught in the very be

[2022-09-10 22:15] aliemjay commented on #101601
This root cause #98852. #100976 will improve the diagnostics  by suggesting replacing `Self` with the the type name.

Consider closing it as a duplicate of either #98852 or #101393.

[2022-09-10 22:37] jannic commented on #101640
To reproduce this, try to build `once_cell` for an architecture which doesn't have `std`. Eg:
[code]
This was with version `1.65.0-nightly (646e9a0b9 2022-09-02)`.

For comparison, with stable rust 1.63.0, the error is:
[code]

[2022-09-10 22:38] mejrs opened #101665 "ICE in RPITIT trait methods with default bodies"
Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=95b25b789dd17b93633a44127d4bd7d4

### Code

[code]

<details><summary><strong>Backtrace</strong></summary>

[code]

</details>

[2022-09-10 22:38] mejrs commented on #101665
@rustbot label F-return_position_impl_trait_in_trait

[2022-09-10 22:56] chenyukang commented on #101626
This may related to my PR:
https://github.com/rust-lang/rust/pull/100188

[2022-09-10 23:22] jyn514 opened #101666 "Give a better error message when a query isn't supported for a local / external crate"
@richkadel made a great start on this in https://github.com/rust-lang/rust/pull/83367, but it would be nice to explain the `local`/`external` distinction in the panic message; "unsupported by crate" is unhelpful. This is an ICE targeted at compiler developers so IMO it can be pretty much as long as we want.

Currently the error looks like this:
[code]

I wrote up this description while helping som

[2022-09-10 23:38] chenyukang commented on #101626
@rustbot claim