[2019-07-04 16:28] nikic commented on #62342
Bugpoint reduced:

[code]

[2019-07-04 16:42] nikic commented on #62342
LLVM bug report: https://bugs.llvm.org/show_bug.cgi?id=42512

[2019-07-04 17:09] withoutboats commented on #62321
Why can't `x` be pinned in the location it is at at `size_of_val`? To my naive perspective, it seems like the problem is with await doing an actual memcpy move, instead of merely conceptually consuming the value?

[2019-07-04 17:12] withoutboats commented on #62149
Update regarding blockers:

The two high level blockers have both made great progress and might actually both be finished (?). More info from @cramertj @tmandry and @nikomatsakis about this would be great:

* The multiple lifetimes issue should have been fixed by #61775
* The size issue is more ambiguous; there will always be more optimizations to do, but I think the low hanging fruit of avoiding

[2019-07-04 17:25] Aaron1011 opened #62382 "Unhelpful span in async type inference error"
The following snippet [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1af2816e9147c55126a2658e46f1453e):

[code]

Gives the following error message:

[code]

This error is due to the unknown type of `a`. However, nothing in the span indicates that this is the case, making it extremely unclear what the proper fix is.

[2019-07-04 17:36] Nemo157 commented on #62370
There are currently 2 _unambiguous_ stable ways to convert a `Box<T>` into a `Pin<Box<T>>` without additional inference constraints

[code]

Also, at the moment `let bar = Pin::from(foo);` works because there is only one trait implementation that can satisfy that call, but because `Pin` and `Box` are `#[fundamental]` it's possible for an external library to add an additional `From` implementation

[2019-07-04 19:57] cramertj commented on #62318
@Centril IMO this is something of a libs question since it interacts with the behavior of libtest and custom test harnesses.

[2019-07-04 20:14] gnzlbg opened #62385 "Trait resolution fails with incorrect error when using functions as input parameters"
This works ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e0fd0844e20c87b6e28c8e246aad154c))
:

[code]

but this fails ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=eb1c03e73ae9b722fb8af8b8f60482cb)):

[code]

with

[code]

I'm not sure if this is by design or not (AFAICT the trait bound is satisfied), but the error mes

[2019-07-04 20:19] Aaron1011 opened #62386 "Invalid suggestion when attempting to call async closure"
The following snippet:

[code]

produces the following error:

[code]

However, applying this suggestion doesn't actually fix the error. Instead, it simply causes a new suggestion to be produced - this time with three parentheses (e.g. `(((`) instead of two.

[2019-07-04 20:29] jonas-schievink commented on #62385
This is expected, since `u0` doesn't have type `fn(f32) -> f32`, since every function item gets its own anonymous type (like closures). These types will coerce to the corresponding function pointer type (`fn(f32) -> f32` here), but that coercion only kicks in when there's a known expected type to coerce to.

[2019-07-04 20:54] matthiaskrgr opened #62387 "diagnostics: suggest iter_mut() where trying to modify .iter()'ed vector elements inplace"
code:
[code]

The code gives the following not-very-helpful warning:
[code]

trying to use
[code]
and a none-mutable vector just causes more errors
[code]

The actual fix is to use `iter_mut()` instead of just `iter()`:

[code]

It would be very helpful the compiler could suggest `iter_mut()`!

[2019-07-04 20:54] matthiaskrgr commented on #62387
@rustbot modify labels A-diagnostics

[2019-07-04 20:56] Lokathor commented on #57288
Tracking issue note: `alloc` just became stable (1.36) and you need to say `extern crate alloc;`, so it can go in the issue list now I guess.

At the same time, you _don't_ need to say `extern crate core;` if you're using normal rust code any more, so `core` can be removed from the list.

[2019-07-04 21:14] gnzlbg commented on #62385
Ah! So that's what's the ` {main::u0}` in the `fn(f32) -> f32 {main::u0}` is!

I think this error could use a note, explaining that the `fn(f32) -> f32 {main::u0}` is an anonymous type, different from `fn(f32) -> f32`, but that it can be coerced into `fn(f32) -> f32`, although this coercions are not triggering here.

Maybe suggest using `.. as fn(f32) -> f32` here to trigger the coercion.

cc @est

[2019-07-04 21:15] pietroalbini opened #62389 "Crater runs for Rust 1.37.0"

[2019-07-04 21:15] #61401 closed

[2019-07-04 21:16] pietroalbini commented on #62389
cc @rust-lang/release

@craterbot run name=beta-1.37-1 start=1.36.0 end=beta-2019-07-04 mode=build-and-test cap-lints=warn p=10

[2019-07-04 21:16] pietroalbini commented on #62389
@craterbot run name=beta-1.37-rustdoc-1 start=1.36.0 end=beta-2019-07-04 mode=rustdoc cap-lints=warn p=5

[2019-07-04 21:45] RalfJung commented on #62357
Slices are one context in which one could conceivably create an unaligned raw pointer:
[code]
Thanks to @Shnatsel on Zulip.

[2019-07-04 22:06] Aaron1011 opened #62391 "Pin docs should mention pitfalls of generic code"
The [pin module docs](https://doc.rust-lang.org/beta/std/pin/index.html) currently have a note about implementing `Future` combinators:

However, this can be tricky in the presence of generics. Consider this code.

[code]

Here, we have an enum `DubiousDrop`, whose destructor changes the enum variant. This type is slightly contrived but is perfectly safe (in fact, the entire containing module is s

[2019-07-04 23:14] petrochenkov commented on #62325
Fixed in https://github.com/rust-lang/rust/pull/62393

[2019-07-04 23:45] alexreg commented on #62364
@imbrem Probably not the easiest. :-) I'm going to look at solving this, but maybe take a look at what I do if you like.

[2019-07-05 01:07] Aaron1011 commented on #61863
I think the most straightforward way to resolve this would be to try to 'recover' from the cycle error, and see if processing any other items allows us to constraint the existential type. Unfortunately, [the docs state](https://rust-lang.github.io/rustc-guide/queries/query-evaluation-model-in-detail.html) that cycle recovery was removed.

[2019-07-05 01:58] retep998 commented on #56533
Definitely the former because `std` supports Windows 7 as a tier 1 platform. Considering you can use a third party crate for unix domain sockets on windows as is, there is very little reason to put them in `std`.

[2019-07-05 02:44] aohan237 opened #62394 "future doc in doc.rs still use await!"
it supposed to be .await?

https://doc.rust-lang.org/std/future/trait.Future.html

[2019-07-05 02:58] Mr-Byte opened #62395 "Const generics with function pointers produces linker error."
When attempting to compile a program using const generic function pointers, I get the following linker error:

[code]

Source:
[code]

I'm not sure what the intended behavior should be here, but I was expecting to be able to call the function that I passed as a const generic parameter, which the compiler seems to accept as valid, but is failing during the linking step.

[2019-07-05 03:15] #56099 closed

[2019-07-05 03:26] sfackler commented on #62394
This is already fixed on nightly: https://doc.rust-lang.org/nightly/std/future/trait.Future.html

[2019-07-05 04:50] tkaitchuck commented on #62079
@KellerFuchs

That simply is not true. If an attacker can induce values to be hashed and see the resulting hashes. They can simply brute force partial collisions. No hashing algorithm can protect against this.

[2019-07-05 07:10] KellerFuchs commented on #62079
@tkaitchuck Yes, that's what “doesn't provide a meaningful advantage” means: the adversary cannot distinguish it (up to some negligible advantage, here it's IIRC 2⁻⁶⁴) from a random oracle, and so cannot do better than a generic brute-force attack.

That's the essence of what security claims in cryptography are, and you might want to familiarise yourself with that field before pushing for the incl

[2019-07-05 07:49] aohan237 commented on #62394
ok. i thought new release come out, so the doc will be upgraded too.

any way, you know that will be good

[2019-07-05 07:49] #62394 closed

[2019-07-05 08:23] nico-abram commented on #27747
Is there any way to use join in a no_std enviroment using alloc?

[2019-07-05 08:29] Centril commented on #62266
This is also painful for the person doing rollup ops most of the time (me). =P

[2019-07-05 08:29] RalfJung opened #62397 "Get rid of uses of mem::uninitialized"
https://github.com/rust-lang/rust/commit/007d87f1719e2fcf2ff36aef8b6dc866fa276386 added a bunch of `allow(deprecated)` because there are still a few places where we use `mem::uninitialized`. These should all be fixed, to remove the `allow` (and hopefully prevent other deprecated methods from being used there).

* [x] SGX
* [x] libterm
* [x] librustc_codegen_llvm
* [x] std::io::util
* [ ] CloudAbi

[2019-07-05 08:30] hellow554 commented on #62375
For the record: has been fixed in 6c22051411208f8f54bd1d85377c327a1e949712 #60073

[2019-07-05 08:31] Centril commented on #62386
Labeling as deferred since async closures are not getting stabilized in the MVP.

[2019-07-05 08:32] Centril commented on #62391
cc @RalfJung @withoutboats

[2019-07-05 08:34] RalfJung opened #62398 "allow(deprecated) is too coarse-grained, should take a path"
https://github.com/rust-lang/rust/commit/007d87f1719e2fcf2ff36aef8b6dc866fa276386 added `allow(deprecated)` in a few places because `mem::uninitialized` is still used. Unfortunately, this allows *all* deprecated methods, so by the time someone gets around to fix that, other uses of deprecated methods could have crept in.

It would be much better if that could be `allow(deprecated(mem::uninitialize

[2019-07-05 08:34] crone123 commented on #62375
Ok thank you !
I forgot the "let" before the Some(_), I think it's the reason why it's doesn't works.

[2019-07-05 08:50] Centril commented on #62398
In most of these cases the `allow(deprecated)` lint check directive was applied on a specific statement or it was applied inside small tests. Only in the case of sgx and cloudabi was `#![allow(deprecated)]` applied inside a larger whole module. This is due to the highly specialized nature of the libstd codebase in terms of platform support.

I would like to see stronger justification for changing

[2019-07-05 08:53] petrochenkov commented on #62398
Me? https://github.com/rust-lang/rust/pull/61879#issuecomment-508413106

Deprecation lints reported early (e.g. in https://github.com/rust-lang/rust/pull/62042) don't currently have have the necessary infra to suppress them locally and have to be `allow`ed at the crate level.

[2019-07-05 09:02] petrochenkov commented on #62398
I don't think this problem is specific to rustc.
Some uses of deprecated features are hard to get rid of, or maintainer may lack resources for any non-trivial work, and it may take weeks or months to address and they have to be `allow`ed in the meantime.
At the same time, you want to be aware of other new deprecations, that may be trivial to fix.

I'd prefer a feature name, or something like that.

[2019-07-05 09:02] Centril commented on #62398
But in these specific cases these deprecation lints are not reported early, right? (Otherwise they would have had no effect in the `#[allow(deprecated)]` cases in the referenced commit.)

While from a complexity perspective (compiler + user facing) an extension to `allow(...)` is not too large, on first inspection it seems to me that what seems like a compiler bug should be fixed before considerin

[2019-07-05 09:07] petrochenkov commented on #62398
Hm, the only `allow`s I see in that PR are at the crate level (namely, in doc tests - each doc test is built as a separate crate).

[2019-07-05 09:14] Centril commented on #62398
That's strange, the commit aforementioned has e.g.:
[code]

No doubt, but using `#[allow(deprecated)]` on the function or statement level seems like a decently an adequate way of achieving this even if it requires some copy pasting. It's not as fast as `#![allow(deprecated(path::to::thing))]` but it at least encourages you to fix some of the easy ones sooner.

I'm against any mention of feature na

[2019-07-05 09:18] smarnach opened #62400 "Confusing diagnostic for lifetime mismatch"
This [came up on StackOverflow](https://stackoverflow.com/q/56897524) today. In reduced form, this function
[code]
results in this error message
[code]
([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b0a4d9db4b8d07542f9fd6e7e72049c6))

The error message tags a _single_ type and claims it is two types with different lifetimes, which is not really helpful in un

[2019-07-05 09:22] petrochenkov commented on #62398
Ah, we are talking about different PRs, I was talking about https://github.com/rust-lang/rust/pull/62042.

[2019-07-05 09:26] raindev commented on #43468
This doesn't seem to be a Rust bug per se. Maybe the situation can be detected by cargo to produce a better error message. Having some sort of FAQ for common pitfalls like this in the installation section of the website might be a good idea as well.

[2019-07-05 09:49] eddyb opened #62401 "Group all ABI tests."
There are a bunch of run-pass tests that should be in `run-pass/abi` (or some other directory if anyone has a better suggestion), and many of them are mentioned here: https://github.com/rust-lang/rust/blob/baab1914ec9a9742776a8147780947b48fddf54d/src/test/run-pass/abi-sysv64-arg-passing.rs#L7-L23
You can also look for tests that mention `rust_test_helpers` - most of the functions from that C libra

[2019-07-05 09:50] RalfJung commented on #62398
@petrochenkov ah right, it was you. :) Sorry.

Another instance of (the equivalent of) a crate-level `allow`:

https://github.com/rust-lang/rust/blob/baab1914ec9a9742776a8147780947b48fddf54d/src/libstd/lib.rs#L208

If we had finer-grained control, that could have been
[code]

Generally, when updating rustc (even for your own crate) I feel it can be hard to find all the right places for where to lo

[2019-07-05 09:57] RalfJung opened #62402 "`x.py build --warnings deny` does not fail despite warnings"
I patched libstd and wanted to be sure it builds without warnings, so I did:
[code]
However, this build succeeded despite there being warnings:
[code]
I have `deny-warnings = false` in my `config.toml`, but that shouldn't render `--warnings` unusable (at least, the help for `--warnings` does not say anything like that). In fact, it seems like the flag would be a NOP anyway with `deny-warnings = tr

[2019-07-05 09:58] Centril commented on #62398
@RalfJung In the interim, `deprecated_in_future` is rustc specific so we can allow this in an unstable fashion just for rustc internals without an RFC.

[2019-07-05 10:00] RalfJung commented on #62398
Not sure what you mean? That lint can also be used by user crates.

But user crates can indeed not mark items as "deprecated in the future". Still, I don't know what it is you are proposing.

[2019-07-05 10:06] pnkfelix commented on #62400
This is what you get if you go to full blown NLL (not migration mode) ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=90e4ffb5cfe4c67633501a834689a275)):

[code]

yields:

[code]

[2019-07-05 10:10] pnkfelix commented on #62400
tagged as NLL-fixed-by-NLL based on the improvement to the diagnostic itself.

[2019-07-05 10:11] SimonSapin commented on #27747
@nico-abram I believe there is none today, since liballoc does not have a prelude that gets implicitly imported.

I a previous comment, I wrote:

This is however an improvement in that the new helper trait does not need to be in scope for the inherent methods to be used. In particular, it does not need to be in the prelude.

https://github.com/rust-lang/rust/pull/62403 implements this.

[2019-07-05 10:17] Centril commented on #62398
I'm not really actively proposing it, but if you want to... we can add a rustc internal unstable feature gate under which you can do `allow(deprecated_in_future(mem::uninitialized))` .

[2019-07-05 10:22] withoutboats commented on #62391
I don't see any undefined behavior here. Mutating a pinned value is perfectly legal.

[2019-07-05 10:29] smarnach commented on #62400
@pnkfelix My understanding has been that the assignment triggers an implicit reborrow, so it is equivalent to `*x= &mut **x;`, and the reborrow does not live long enough. If this understanding is correct, the new error message does not fully address this issue, but I may very well be wrong here.

[2019-07-05 10:40] eddyb commented on #62272
On the PR I explained why I think we should fix this *even if* we want to ban loops: https://github.com/rust-lang/rust/pull/62274#issuecomment-508714495

[2019-07-05 10:54] pnkfelix commented on #62400
@smarnach The reborrow doesn't have to be short-lived. The lifetime-inference system might well give it a sufficiently long lifetime to ensure it remains valid at its destination.

I am still puzzling over this example and some variants thereof.

Namely, this one (which we currently accept) scared me at first:

[code]

since that ends up with an array that, at least in terms of its memory, holds t

[2019-07-05 10:58] Centril opened #62404 "`const fn` allows unreachable calls to non-`const` fns"
E.g. the following compiles on stable:
[code]

@eddyb notes that this is because we do a "semantic check" and that `f();` is not linked in the CFG.

However, it seems to me that the basic blocks should be there (tho I haven't checked yet...) so you can visit the call to `f();` and ban it.

cc @oli-obk

[2019-07-05 11:00] eddyb commented on #62404
Everything is allowed in dead code - control-flow, loops, pointer ops, etc.
@rust-lang/lang might want to discuss it further but IMO this is okay.

[2019-07-05 11:12] Centril commented on #62404
cc https://github.com/rust-lang/rust/issues/62272 https://github.com/rust-lang/rust/pull/62274

[2019-07-05 11:25] crlf0710 commented on #35785
Using nightly 2019-07-04, we can confirm that this issue is fixed. (I'm using Chinese version of Visual Studio).

[2019-07-05 11:27] Mark-Simulacrum commented on #62402
Fixed in https://github.com/rust-lang/rust/pull/62406

[2019-07-05 11:29] Centril commented on #62318
@cramertj libtest seems primarily under under T-dev-tools right now and `#[should_panic]` is an attribute [known by the language](https://github.com/rust-lang/rust/blob/088b987307b91612ab164026e1dcdd0129fdb62b/src/libsyntax/feature_gate.rs) (hence T-lang), and it is documented as such in the reference. Custom test frameworks are also not a libs team issue as far as I know.

[2019-07-05 12:33] orlp opened #62408 "O(1) time {Vec,VecDeque}::truncate for trivial drop types and VecDeque::truncate_front"
Currently both `Vec`s and `VecDeque`s `truncate` implementations just call `pop_back()` in a loop. When `std::mem::needs_drop::<T>()` is `false` this is pretty inefficient.

Now LLVM *does* [optimize away the loop on `-O3` for `Vec::truncate`](https://rust.godbolt.org/z/WBV3MA), however [this does not happen for `VecDeque::truncate`](https://rust.godbolt.org/z/80GGwx).

Despite [previous complaint

[2019-07-05 12:54] MortenLohne commented on #62348
_Thank you_, I thought I would never find any information.

[2019-07-05 12:54] #62348 closed

[2019-07-05 13:11] Izzeri opened #62410 "Add a way to signal that a snippet is UB/bad in rustdoc"
Reading the docs for [MaybeUninit](https://doc.rust-lang.org/std/mem/union.MaybeUninit.html) I noticed that the code snippets that contain code that lead to UB are only identified by comments inside the snippet. This feels like a potential source of copy-paste errors. Maybe there could be a way to highlight a code snippet in a bright red or something to make readers wary that this code should neve

[2019-07-05 13:13] smarnach commented on #62400
@pnkfelix I was mainly replying to your (striked out) comment about moving out of the outer reference – I don't think the assignment results in a move, but rather in a reborrow.

If we name the lifetimes `&'a mut &'b mut T`, the reborrow can only live for the intersection of `'a` and `'b`, so the NLL error message is probably correct, but if even you find it puzzling there may still be room for im

[2019-07-05 13:21] Centril commented on #62410
Sounds like a nice idea!

cc @RalfJung

[2019-07-05 13:25] RalfJung commented on #62402
Wow, so fast. :-)

[2019-07-05 13:29] RalfJung commented on #62410
Yes, I like it. :)

We *do* mark them `no_run`. But that does not seem to be reflected in any way.

[2019-07-05 13:50] pnkfelix opened #62411 "Tracking issue for `indirect_structural_match` compatibility lint"
This is the **summary issue** for the `indirect_structural_match` future-compatibility warning and other related errors. The goal of this page is describe why this change was made and how you can fix
code that is affected by it. It also provides a place to ask questions or register a complaint if you feel the change should not be made. For more information on the policy around future-compatibility

[2019-07-05 13:53] pnkfelix commented on #62411
spawned off of tracking issue #31434, compiler issue #62307, and compiler PR #62339

[2019-07-05 14:13] kankri opened #62412 "Panic in <rustc_mir::monomorphize::item::InstantiationMode as core::fmt::Debug>::fmt"
Got this error when running `cargo build`:

[code]
The same command had been successful before, until it started failing consistently. `cargo clean` gave this error:

[code]
I noticed "rls.exe" had that DLL loaded:
[code]
Next steps:
* kill 20664
* `cargo build`: still fails the same way
* `cargo clean`: no errors
* `cargo build`: still fails the same way
* exit VS Code to avoid new RLS processes

[2019-07-05 14:55] cyphar commented on #62314
I just found another problem this causes -- `File::try_clone` will fail with `EBADF` on `O_PATH` files because `FIOCLEX` doesn't work on `O_PATH` file descriptors. The patch to fix this issue is literally just:

[code]

I can submit a PR for this if that would be acceptable?

[2019-07-05 14:56] cyphar commented on #62314
@sfackler

I just found another problem this causes -- `File::try_clone` will fail with `EBADF` on `O_PATH` files because `FIOCLEX` doesn't work on `O_PATH` file descriptors. The patch to fix this issue is literally just:

[code]

I can submit a PR for this if that would be acceptable?

[2019-07-05 15:23] 17cupsofcoffee commented on #62410
The Rust book handles this by tinting the background of the code sample red and displaying an icon in the top corner: https://doc.rust-lang.org/book/ch02-00-guessing-game-tutorial.html#comparing-the-guess-to-the-secret-number

[2019-07-05 15:26] lzutao commented on #60446
Those methods above is not const anymore. We have to make `f*::from_bits` const
to mark above methos as const.
Also see https://github.com/rust-lang/rust/pull/58756#issuecomment-488391942.

[2019-07-05 15:26] tkaitchuck commented on #62079
@kellerFuchs
I am quite familiar with security claims. There is more going on here. It is useless to prove an adversary can not distinguish it from random, if you reveal to them the output. Even the most secure hash function with a perfectly random seed will leave you open to DoS.

Consider a (bad) hashTable that decides to rehash after N consecutive collisions. If a attacker can just observe the

[2019-07-05 15:31] #62118 closed

[2019-07-05 15:31] #62214 closed

[2019-07-05 15:31] #62288 closed

[2019-07-05 15:31] #62382 closed

[2019-07-05 15:31] #62312 closed

[2019-07-05 15:43] sfackler commented on #62314
Sure

[2019-07-05 16:06] ryzhyk commented on #62353
@eddyb , @nagisa , thanks for your help, and sorry about the delay.  I don't have direct access to this system, and need others' help to try these things out. Let me get back to you with answers to your specific questions as soon as I get them.

It turns out the setup is even more complicated: it's cargo invoked from bazel running on Centos 7.4, inside a VM, inside a chroot sandbox, on Cento 7.2.

[2019-07-05 16:33] Centril commented on #49683
Stabilization has been done.

Documentation issue is https://github.com/rust-lang-nursery/reference/issues/631.

Everything that needs to be done on rust-lang/rust is done so I'm closing this issue as a result.

[2019-07-05 16:33] #49683 closed

[2019-07-05 16:43] RalfJung commented on #62410
That's for things that don't compile though, not for things that compile but cause UB.

[2019-07-05 16:50] RalfJung commented on #62061
Okay, `uninit` is gone for good. :-)

`init` stiill exists, but is deprecated. Progress on this issue will require deciding if we want to go with a minimal-mutable-references-for-CTFE (and killing `init`), or *using* `init` for `MaybeUninit::zeroed` until CTFE got power powerful.

Also @oli-obk is on vacation so we should probably wait until they are back.^^

[2019-07-05 16:54] Mark-Simulacrum opened #62415 "Random lines of code(?) printed into azure logs"
Some sample logs:
 * https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/2418/logs/166 has:
[code]
[code]
[code]

cc @rylev @johnterickson @ethomson

[2019-07-05 17:00] ExpHP opened #62416 "Document whether dereferencing a raw pointer requires alignment"
I am referring to the following operation, built into the language:

[code]

I checked all over:

The [pointer primitive docs](https://doc.rust-lang.org/std/primitive.pointer.html) don't mention alignment.

The [`std::ptr` module](https://doc.rust-lang.org/std/ptr/index.html) states:

This is clearly banking on the fact that every function is documented, but raw pointer dereference is a built-in o

[2019-07-05 17:05] Centril commented on #62061
I'm strongly in favor of killing `init` and going with mutable references as the cleaner and principled approach (which is consistent with the principled approach we've taken thus far with `const fn`). As aforementioned it's also a good incentive to get `&mut place/T` working in `const fn` which seems more important.

[2019-07-05 17:17] Mark-Simulacrum commented on #62415
All of these have `r? @<gh username>` in the environment variable section. There are hundreds more, at least. There's probably other patterns but I just haven't found them because it's somewhat painful to look (they are semi-random strings, after all).

https://dev.azure.com/rust-lang/rust/_build/results?buildId=1367&view=logs&jobId=0e47216c-a892-589a-a5b3-5fa9021bc5b1
https://dev.azure.com/rust-l

[2019-07-05 17:19] tarcieri commented on #62079
@tkaitchuck this will be my last response on this issue as I feel like your hash function is a distraction from the real issue at hand, and for that reason I'll keep it brief.

The core idea of hashDoS is applying traditional cryptanalysis techniques to non-cryptographic hash functions, and then leveraging those attacks to generate multicollisions. If we look at how the attacks on MurmurHash2 and

[2019-07-05 17:19] 17cupsofcoffee commented on #62410
Yeah, it's not exactly the same thing (although they also use the same sort of formatting for code that panics/exhibits undesirable behaviour, which is a bit closer) - just thought it was a good example of what this kind of feature could look like.

[2019-07-05 17:23] alexreg commented on #62364
Turned out to be far easier than thought, though identifying the solution wasn't so straightforward perhaps... PR fix upcoming.

[2019-07-05 17:41] nagisa commented on #62353
POSIX standard requires that all functions are thread-safe, except for a short list of exceptions as seen in [this subsection of the standard](https://pubs.opengroup.org/onlinepubs/9699919799/functions/V2_chap02.html#tag_15_09_01). `readlink` is not within a list of such functions.

[2019-07-05 17:42] ethomson commented on #62415
A quick glance at the first output suggests to me that it's not random code, nor is it in the logs (at least not due to log pollution).  That's the commit message and it's actually in the _environment_.

We set `BUILD_SOURCEVERSIONMESSAGE` to the source version's commit message.  It looks like we're not splitting newlines correctly.  If this makes sense given what you're seeing, I'll make sure tha

[2019-07-05 17:43] nikomatsakis commented on #60414
@jonas-schievink good catch -- actually I think the lines you found are the ones I *meant* to direct you to in the first place. I see you have some other problems on the PR, looking now.

[2019-07-05 17:49] nikomatsakis commented on #53613
There is a variant of this problem that was revealed in #62221. If you write `T::Item`, and we expand that (in type-checking) to `<T as Foo<'a>>::Item`, the `'a` is overlooked as well ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=21a3567255a2d0c49e28d39d58f1949a)):

[code]

[2019-07-05 17:50] Mark-Simulacrum commented on #62415
I think that makes some sense -- but e.g. in https://dev.azure.com/rust-lang/rust/_build/results?buildId=1249&view=logs&jobId=1e2ea934-bbbb-565e-7dc4-298083bc67af

I have the following which looks like the `r?` line is just.. separate from any relevant environment variable. Unless I misunderstood, I would expect any commit message lines to be after `BUILD_SOURCEVERSION_MESSAGE` -- not scattered th

[2019-07-05 18:07] tkaitchuck commented on #62079
Yes. This has gotten off topic. Please post any comments in terms of what you would like to see here: https://github.com/tkaitchuck/aHash/issues/10

[2019-07-05 18:08] nikomatsakis commented on #62284
So this is tied to cycles amongst impl Trait. The problem arises because we need to know the hidden type of `bar`, which in turn is tied to the hidden type of `foo`, in order to figure out the whether the result will be cyclic. The easiest workaround here is to desugar to something that returns `impl Future + Send`:

[code]

[2019-07-05 18:10] nikomatsakis commented on #62284
It's tricky but not impossible to imagine a more flexible handling of auto traits and leakage. We've discussed it before and it's probably a good idea. But I think it's pretty orthogonal from async-await.

Therefore, **presuming that we want to keep our current desugaring**, I think that we should probably consider this as non-blocking -- but it's definitely something to add to the list of "surpri

[2019-07-05 18:23] That3Percent commented on #58809
I'm seeing what seems like a similar issue. Here's a different approach to get overflow.

[code]

This however works...
[code]

[2019-07-05 18:30] nikomatsakis commented on #62284
It's actually sort of mysterious to me that this example builds at all. For example, in trying to convert this recursive async fn to something that builds:

[code]

The only thing I could find which works is to use a `Box<dyn Future>` return type:

[code]

Any other setup (including, say, [this one that uses `Box::pin`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c4936

[2019-07-05 18:31] nikomatsakis commented on #62284
I guess that the reason the original example sidesteps these problems is because `foo` never *awaits* the return type of `bar()`, so it never appears in the generator type.

[2019-07-05 18:32] RalfJung commented on #62416
Alignment is definitely required.

I think the reason why it is not said anywhere is because `*` on a reference and a raw pointer are *the same operation*. That operation requires alignment, as is mentioned a lot when talking about references. Since it is the same operation, "of course" it also requires alignment when working on a raw pointer.

But you are right, this should probably be documented

[2019-07-05 18:36] nikomatsakis commented on #61949
As I pointed out in #53613, there is a more dangerous variant of this involving projections:

[code]

[2019-07-05 18:38] nikomatsakis commented on #61949
There are some forward compatibility concerns here. In particular, callers can (somewhat incorrectly) assume that the returned futures are `'static`. In other words, the callee is committing to returning a future that does not capture `'a` in these examples -- right now, that typically means `callee` doesn't compile, but it could happen that the callee *happens* to compile, and then callers would

[2019-07-05 18:40] nikomatsakis commented on #61949
The bug involving `Self` is rather straightforward (but grungy) to fix. It's also possible for us to, temporarily, just create an error if you return a type mentioning `Self` in an `async fn`.

But fixing the `T::Item` case is rather more complex. We don't know *until type-checking* that `T::Item` resolves to `<T as HasItem<'a>>::Item`. And, if I had my druthers, we might not know until *even late

[2019-07-05 18:58] RalfJung opened #62420 "align_offset guarantees"
The [documentation for `align_offset`](https://doc.rust-lang.org/nightly/std/primitive.pointer.html#method.align_offset) says

It does not give any details of when it might not be possible to perform the alignment. My reading of that is that the user must always be prepared for failure to happen. In accordance with that, a while ago I adjusted the [docs for `align_to`](https://doc.rust-lang.org/ni

[2019-07-05 19:07] johnterickson commented on #62415
Good news - I know what the issue is!
Bad news - I am pretty sure I wrote it 😬

[code]
This will take the out of printenv as a list of lines and then sort the lines.  When an environment variable has multiple lines, then ` | sort` will tear those lines from each each and sort them alongside the names of variables.

I think I had reported this as "bug" to @willsmythe only for him to explain the abo

[2019-07-05 19:09] Mark-Simulacrum commented on #62415
Sounds good. I'm downgrading this to P-low on our end as it doesn't seem like all that bad for us. Thanks for investigating so quickly!

[2019-07-05 19:48] willsmythe commented on #62415
One way you could fix ...

[code]

[2019-07-05 20:40] nikic commented on #62342
Fixed upstream via https://github.com/llvm/llvm-project/commit/a2a09cb60608f26cec1a345fcf817a94020cf525.

[2019-07-05 20:44] pnkfelix commented on #62336
And yet the type `[NoCopy; 0]` is itself non-copyable... right? ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=66485ff2761e555ae7673ddaf032aa74)).

seems like something that's been decided in an ad hoc manner in each case, rather than having a consistent policy, no?

[2019-07-05 20:51] RalfJung commented on #62420
Turns out that fixing https://github.com/rust-lang/rust/pull/61339 to work fine with Miri does not even change the generated assembly; looks like LLVM can just optimize away the extra check for `max_value`.

That takes the time pressure of this discussion, that PR can land without having to reach any conclusion here. The discussion still seems to be worth having though!

[2019-07-05 21:52] #62116 closed

[2019-07-05 21:52] #62350 closed

[2019-07-05 21:52] #62402 closed

[2019-07-05 21:59] cyphar commented on #62314
PR is here: #62425.

[2019-07-05 22:02] imbrem commented on #62364
@alexreg nice! I'll probably have a look when I have more time on the weekend. Also are those Silmarils in your profile picture?

[2019-07-05 22:17] KellerFuchs commented on #62079
Yes, when rehashing a table, one should select a new random key (hence the term rehashing...).
In general, it is off course entirely possibly to use a perfectly-fine hash function insecurely (as your example shows).

Nobody in this discussion claimed the opposite, or that `std::hash::Map` should use a bad collision mitigation mechanism, so I'm not sure who or what you believe to be answering.

Thi

[2019-07-05 22:19] Centril commented on #62336
@pnkfelix A very good point! It seems pretty inconsistent indeed.

[2019-07-05 22:32] Centril opened #62426 "Cleanup: Consistently use `Param` instead of `Arg`"
For example, ideally [`fn visit_arg`](https://doc.rust-lang.org/nightly/nightly-rustc/syntax/visit/trait.Visitor.html#method.visit_arm) would be named `fn visit_param` since this is about formal parameters (in function signatures and from the POV inside the function body) instead of actual arguments (the values you pass to functions).

The type [`Arg`](https://doc.rust-lang.org/nightly/nightly-rus

[2019-07-05 22:32] Aaron1011 commented on #59667
As a temporary workaround, we could try doing something similar to the [fragile](https://docs.rs/fragile/0.3.0/fragile/) crate. At runtime, we would inspect `-Z threads`:

1. If `-Z threads` > 1, we use a normal `Mutex`.
2. If `-Z threads = 1`, we use a 'fake' mutex - a type which implements `Send`/Sync`, but panics if used on any thread other than the one which created it. Since only one thread s

[2019-07-05 23:53] rickvanprim opened #62427 "Derive Copy/Clone on generic Union working incorrectly."
The following code reports an error about the value being moved:
[code]

While the following code works as expected:
[code]

[2019-07-06 02:28] alexreg commented on #62364
@imbrem Sure. The actual change itself is mainly just removal of a few lines that I'd inserted in a previous PR. Most of the PR will be tests heh.

And yep, the Silmarils with one of the Two Trees. :-)

[2019-07-06 03:01] andymac-2 opened #62430 "ICE: Rust spins when referencing associated types in `where` clause"
The following code broke the the text editor I was editing it in:

## Version

rustc 1.35.0 (3c235d560 2019-05-20)

## Minimal test case:

[code]

## Output:

`rustc` will print any errors that occur, but will still try to compile, hanging indefinitely at the build stage and consuming all system memory.

## Expected output:

Compilation failure.

[2019-07-06 03:03] johnwaltonvi commented on #25289
getting this error on Noria DB compiling at "noria-server"

[2019-07-06 06:09] frewsxcv commented on #62358
Are these functionally equivalent?

[code]

[code]

[2019-07-06 06:16] #62251 closed

[2019-07-06 06:16] #62375 closed

[2019-07-06 06:27] ecstatic-morse commented on #62427
This seems like a duplicate of of #41481?

[2019-07-06 06:36] scottmcm commented on #55286
It's awesome seeing how much better things like `Chain::size_hint` are with saturating, since it now figures out sometimes that it can't overflow and removes the saturating-ness 🙂

If you have available time, consider having LLVM fold `uadd.sat(a, b) == 0` into `or(a, b) == 0`.

[2019-07-06 06:53] scottmcm opened #62433 "Something weird with const generic resolution in macro_rules"
This works, so const generic resolution works through macros (https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e93e583bc759379eae9dac80ed011361)
[code]

This also works, so const generics work in a where guard (https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cde12aadff1355221b94beef0782da9c)
[code]

But if I combine those together, all of a sudden i

[2019-07-06 08:05] nikic commented on #55286
@scottmcm Do you have an example where the `uadd.sat(a, b) == 0` pattern turns up in practice?

[2019-07-06 08:18] RalfJung commented on #62347
Miri upstream CI passes now, but only because I disabled a bunch of tests. I felt that was the better alternative, compared to not being able to land *any* update in Miri until a fix happens on the rustc side.

But this means we shouldn't update the in-tree Miri tool yet.

[2019-07-06 10:08] c410-f3r commented on #61338
Does not ICE anymore. I wonder what happened

[2019-07-06 10:12] petrochenkov commented on #62433
Probably related to https://github.com/rust-lang/rust/issues/58307.
The workaround should be passing const generic names to `macro_rules` like local variable names would be passed.

[2019-07-06 11:10] utter-step opened #62439 "1.65x performance regression from 1.35.0 to 1.36.0"
Seeing ~2x (46ms vs 28ms) performance regression after updating 1.35.0 to 1.36.0 (probably due to new HashMap implementation?).

**Steps to reproduce**

1. Clone this repo: https://github.com/utter-step/advent-2018
2. `rustup override set 1.35.0 && cargo build -p day-6 --release`
3. measure `APP_PART=one APP_INPUT_FILE=day-6/full.txt target/release/day-6`, `APP_PART=two APP_INPUT_FILE=day-6/full.t

[2019-07-06 11:25] peterjoel opened #62440 "Size of `fn` can be either 8 or 0"
There is a discrepancy on the size of a `fn`, depending on if you treat it generically or not:

[code]

I would expect all of these to have the same size.

-----

Tested in Rust 1.36.0

[2019-07-06 11:31] scottmcm commented on #61415
No-expanded-surface area (https://github.com/rust-lang/rust/issues/61415#issuecomment-497922482) PR up at https://github.com/rust-lang/rust/pull/62435

[2019-07-06 12:13] utter-step commented on #62439
Extracting keys to vec before iteration solves the problem for part two, so I'd assume that iteration HashMap is significantly slower in 1.36 than it was in 1.35

snippet 1:
[code]

1.35.0: `11.7 ms ± 857 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)`
1.36.0: `22.6 ms ± 156 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)`

**1.93x** time ratio

snippet 2:
[code]

1.35.0: `11 ms

[2019-07-06 12:20] Centril commented on #62440
This is expected behavior.

Note that the function `fn foo() {}` is *not* of a function pointer type, indeed when you type check:
[code]
this will error with:
[code]

Notice in particular that the compiler says the found type is `fn() {foo}` and not `fn()`.
This is the compiler's way of representing the *unique* *zero sized type* that corresponds to the function.
This is akin to how closures also

[2019-07-06 12:27] RalfJung commented on #62347
PR fixing things for Miri: https://github.com/rust-lang/miri/pull/830. Blocked on https://github.com/rust-lang/rust/pull/62441.

[2019-07-06 12:28] RalfJung commented on #62439
Cc @Amanieu for hashbrown

[2019-07-06 12:44] peterjoel commented on #62440
Thanks for the explanation!

[2019-07-06 12:44] #62440 closed

[2019-07-06 13:23] bjorn3 opened #62445 "Build with clean incremental cache slower than without incremental compilation"
[code]

[2019-07-06 13:32] gnzlbg commented on #59302
In https://github.com/rust-lang/libc/pull/1327, a `#[cfg(target_env = "dyn_musl")]` or similar was proposed to support both statically and dynamically linked musl environments. I don't know if that would be a good way to make progress here though.

How do other run-times deal with this ? Is it possible to statically link glibc and others into Rust binaries ? Maybe we need a `#[cfg(target_env_linka

[2019-07-06 13:38] gnzlbg commented on #53491
Could we add a `MaybeUninit<T> -> NonNull<T>` method to `MaybeUninit` ? AFAICT the pointer returned by `MaybeUninit::as_mut_ptr() -> *mut T` is never null. That would reduce the churn of having to interface with APIs that use `NonNull<T>`, from:

[code]
to:

[code]

[2019-07-06 14:16] mati865 commented on #59302
AFAIK musl is the only target which you can link statically and dynamically at same time.

Duplicating target_env is easy but for me it sounds like a bad workaround because user would have to install 2 toolchains that have exactly the same libs and the only difference comes to `target-feature=-crt-static`.
With static nobundle it would be third 99% identical toolchain.

Ideally they should use sin

[2019-07-06 14:27] nikita-fuchs commented on #62342
Thank you @nikic , what does that mean for our case? As I'm not particularly familiar with LLVM and it came bundled with rust anyway I think, how do we obtain the latest fix? Just manually install/upgrade LLVM ?

[2019-07-06 14:35] bwesterb opened #62446 "Unnecessary copy when constructing arrays from returned arrays?"
I want to construct a big array by concatenating smaller arrays returned by other functions. As a simple example:

[code]

Rust nightly [generates a call to memcpy](https://godbolt.org/z/XeVwFj).

Is there a way to prevent this memcpy?  Am I missing obvious other way to write this function?

Of course one could rewrite the called function `f` to take a `&mut [u64]` instead of returning the array,

[2019-07-06 14:41] Cogitri opened #62447 "build fails with error[E0463]: can't find crate for `rustc_macros` which `rustc` depends on in rustc_llvm"
Hello,

We hit this while compiling rust 1.35.0 -> rust 1.36.0 on x86. This is for the distro package for Alpine Linux. Please note that we're compiling against our own triplets, in this case it's for i586-alpine-linux-musl, see the definition here: https://gist.github.com/6bae5fdcf6bb5a95b3b779ceb2dd79f7

I'm pretty sure that that error is on us - but the error message doesn't really help me solv

[2019-07-06 14:44] mati865 commented on #62342
@nikita-fuchs Rust have to build against LLVM with the fix.

[2019-07-06 15:45] carado commented on #61338
Can confirm it still ICE's with the latest nightly both in my little testing crate, and my larger project.
The lack of ICE on the playground is very weird. Even copying my testing crate's code exactly doesn't make the ICE occur, even though both the playground and my computer run rustc `481068a70 2019-07-05`.

[2019-07-06 15:56] nikita-fuchs commented on #62342
@mati865 any idea/estimate on when this might happen?

[2019-07-06 16:32] estebank commented on #62430
There seems to be some kind of loop when evaluating `try_print_visible_def_path`:

[code]

[2019-07-06 16:47] zackmdavis commented on #46944
This was fixed in #55432.

[2019-07-06 16:47] #46944 closed

[2019-07-06 16:51] zackmdavis commented on #46873
This is fixed now.

[2019-07-06 16:51] #46873 closed

[2019-07-06 17:05] est31 commented on #48781
@matklad nice idea. It should work actually. You should try to make a PR and check whether the `issue-43057.rs ` unit test breaks or not.

[2019-07-06 17:15] Centril commented on #62254
For now, I'm working on the syntactic aspect of supporting `..` as a valid pattern syntactic pattern.

[2019-07-06 17:35] utter-step commented on #62439
Here is reduced reproduction of the case:

[code]

1.35.0:
[code]

1.36.0:
[code]

[2019-07-06 18:46] rickvanprim commented on #62427
Seems fair @ecstatic-morse .  Also looking at #56008 was useful for me.

[2019-07-06 18:46] #62427 closed

[2019-07-06 19:05] Centril commented on #62149
I believe so, and some others were also closed recently; but [there are other blocking issues](https://github.com/rust-lang/rust/labels/AsyncAwait-Blocking).

There's a dropbox paper with a list of things we wanted to be tested and there's https://github.com/rust-lang/rust/issues/62121. Other than that I'll try to re-review the areas I think are under-tested ASAP. That said, some areas are now pre

[2019-07-06 21:10] arielb1 commented on #62211
This has the same root cause as #33017, so this is still not *quite* solved at the root.

[2019-07-06 21:47] #59597 closed

[2019-07-06 21:58] arielb1 commented on #33017
So I think this is "fixed-by-chalk", but this is fixed-by-chalk in a way that breaks specialization (cc @rust-lang/wg-traits).

Let's have a more easy-to-understand version of the problem:
[code]

The problem is the following:
1. wfchecking our impl needs to prove the where-clause, which in the environment is `Γ, T: Sized ⊢ <T as Foo>::Bar: From<Self>`.
2. `i32: From<Self>` holds by `VtableImpl` (

[2019-07-06 22:06] mjbshaw commented on #53718
Some of these could be made `const` today without conditionals. For unsigned:
- `overflowing_div`
- `wrapping_div`
- `wrapping_div_euclid`
- `wrapping_rem`
- `wrapping_rem_euclid`
- `overflowing_div`
- `overflowing_div_euclid`
- `overflowing_rem`
- `overflowing_rem_euclid`
- `div_euclid`
- `rem_euclid`
- `is_power_of_two`

For `u8`:
- `is_ascii`

[2019-07-06 22:35] mjbshaw commented on #53718
Also, `wrapping_neg` and `overflowing_neg` should be updated in the OP. Both were made `const` in #58044

[2019-07-06 22:40] mati865 commented on #62342
@nikita-fuchs when somebody tests the fix, backports it to Rust's LLVM fork and updates LLVM fork in Rust repo.

[2019-07-06 23:06] BatmanAoD commented on #39657
This may be related to #59062 and #38641, which have the same error message and also involve `extern` functions.

I have a fourth example of code that triggers this assertion failure here:

https://gist.github.com/rust-play/d065ae0e5e47281564b83390a93f46e8

[2019-07-06 23:41] Lokathor opened #62454 "typo in `core::arch::x86_64::_mm_add_epi64` formatting"
<https://doc.rust-lang.org/core/arch/x86_64/fn._mm_add_epi64.html>

The `b` var is written with an opening double quote instead of an opening backtick.

[2019-07-07 00:22] ra-kete commented on #62031
I had the same issue and it looks like this is not a problem with Rust but with the vscode Remote extension. They employ a file watcher that listens to file events to be notified about changes to files in an opened folder. Somehow that locks the files and causes permission errors.

You can work around the compiler warnings by either configuring the file watcher to use polling instead of events or

[2019-07-07 02:41] alex opened #62456 "ICE: index out of bounds with const generics"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4011d663cd9929c5ab2319beda510a6a

[code]

[code]

[2019-07-07 02:55] AdmiralDollBug commented on #62031
@ra-kete That works. Thank you a lot!

[2019-07-07 02:55] #62031 closed

[2019-07-07 03:02] ecstatic-morse commented on #62446
What you're looking for is commonly known as "named return value optimization". It's currently not implemented in rust but progress is being tracked in #32966.

In the meantime, if you are willing to take an out-param (`&mut [u64; 80]`), it's not too hard to convert to an array reference with an arbitrary size and offset. I've used [`arrayref`](https://docs.rs/arrayref/0.3.5/arrayref/) for this pu

[2019-07-07 04:43] #59802 closed

[2019-07-07 04:45] galich commented on #29494
Same problem here, we can't use `std::process::Command` to run something like:

[code]

[2019-07-07 07:41] RalfJung commented on #53491
This is correct.

Generally (and I think I've seen @Gankro say this), `NonNull` works fairly well "at rest" but when actually using pointers one wants to get to a raw pointer ASAP. That's just much more readable.

However, adding a method that returns `NonNull` seems fine. What should it be called though? Is there precedence?

[2019-07-07 07:56] RalfJung commented on #62391
There is no known way to break the pinning guarantees in safe code, and that would indeed be a soundness bug.

As @withoutboats said, you code is fine. However, I can see how the wording in the pinning docs might be a bit confusing here. I also don't have a good idea for how to improve them though.

What is not allowed is to invalidate the storage of a *pinned type*. That is not the same as invali

[2019-07-07 07:56] RalfJung commented on #53491
Cc https://github.com/rust-lang/rust/pull/62451

[2019-07-07 08:08] SimonSapin commented on #53491
There’s precedent with https://github.com/rust-lang/rust/issues/47336 but the name is not good and I’m not sure we’re gonna stabilize this method.

[2019-07-07 09:00] nikic commented on #62446
LLVM isn't very good at optimizing away memcpy's. I think it would be possible to eliminate one of the memcpy's by extending call slot optimization to work with a destination that is a GEP of alloca.

[2019-07-07 12:28] DutchGhost commented on #33017
A PoC to show the unsoundness of this. It's a use-after free by `copying` a String:
[code]

[2019-07-07 14:23] ia0 commented on #61053
# Status

## Implementation

#62008 implements the `meta_variable_misuse` lint with the following checks at macro definition:
- Meta-variables must not be bound twice in nested macro definitions (this is already an error at top-level)
- Meta-variables must not be free
- Meta-variables must repeat at least as many times as their binder
- Meta-variables must repeat with the same Kleene operators as

[2019-07-07 14:30] fredpointzero opened #62466 "Increase the arity of tuple with automatic implementation of std traits"
Currently up to 12-ary tuple have common traits implemented (PartialEq, Eq, ...).

(see https://github.com/rust-lang/rust/blob/master/src/libcore/tuple.rs)

In my case, I need to have more than that (I currently use 32, but it may be more).

In the end, I expect the tuple to have those traits implemented, and if not, having a way to implements them.

So, it can be either:
 - Increasing the maximum

[2019-07-07 15:22] cup commented on #61978
@jonas-schievink looks like that was merged:

https://github.com/rust-lang/rust/pull/59800#event-2464425701

I will be interested to see the Nightly result later today:

https://forge.rust-lang.org/other-installation-methods

[2019-07-07 15:57] czipperz opened #62471 "Automatically add crate to workspace with `cargo new`"
I think it would make sense if there was a flag to `cargo new` such as `--workspace` that would add the new crate to the workspace.  There is already workspace detection:

[code]

So it probably wouldn't be too hard to have a way to automate the step of

[2019-07-07 16:08] est31 commented on #61978
@cup no need to wait for nightlies, the built artifacts are already being uploaded to public servers. This gives us the following size impact of #59800 :

| file name | dbeed58adee2ef046b46b252980f86672f9bfc4c (prior to #59800 merge) | dd2e8040a35883574ae0c4cc7a4e887ecb66469c (after #59800 merge) |
| - | - | - |
| rustc-nightly-x86_64-unknown-linux-gnu.tar.gz | 122 073 207 | 100 939 501 |
| rust-s

[2019-07-07 16:21] peterjoel commented on #44580
Can I expect code like this to compile in the future?

[code]

[2019-07-07 16:22] matthewjasper commented on #60548
Changed labels now that this compiles successfully on beta.

[2019-07-07 16:26] cup commented on #61978
@est31 the size is now larger, increased by 57%:

[code]

That is... disappointing to say the least.

[2019-07-07 16:46] gnzlbg commented on #58794
What's the status of this FCP ? The 12 week grace period expired a couple of weeks ago with little to no progress. The only documented concern is a lack of a documented replacement. I've documented two replacements here: https://github.com/gnzlbg/cffi-panic . These contain building and working examples of how to properly wrap horribly designed C APIs such that they can be used in Rust->C->Rust FFI

[2019-07-07 17:02] czipperz commented on #61356
@Centril would you mark this as a tracking issue please?

[2019-07-07 17:09] Zoxc commented on #61978
@est31 `rust-std` also includes the compiler crates, and with https://github.com/rust-lang/rust/pull/59800 there's duplication for these as the same code is included in the rlibs and `rustc_driver`'s dylib.

[2019-07-07 17:10] gnzlbg commented on #52976
Right now, `Box<T, A>` is not a thing: we only have `Box<T>`, which is a wrapper over `Unique<T>` which is indeed transparent. I think `Box<T>` not being transparent is a serious bug.

I understand the motivation of extending `Box<T>` to support `Box<T, A>` in the future. That's compatible with `Box<T>` being `repr(transparent)`, it just constraints `A` to be a ZST.

I understand the desire to all

[2019-07-07 17:30] Centril commented on #62471
This should be filed over at https://github.com/rust-lang/cargo/issues/.

[2019-07-07 17:30] #62471 closed

[2019-07-07 17:40] czipperz commented on #62471
Brilliant it's already in motion over there https://github.com/rust-lang/cargo/issues/6378

[2019-07-07 18:23] q66 commented on #61182
can no longer reproduce this on 1.36

[2019-07-07 18:24] #61182 closed

[2019-07-07 18:32] #34079 closed

[2019-07-07 18:32] #49912 closed

[2019-07-07 19:12] MSxDOS commented on #55721
This is ridiculous that such code even [compiles](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=f64fcc3dfdbe277d45bbaf1d1bef92c9):
[code]
I just spent more than an hour figuring out what was wrong with my code because I accidentally defined one of my values as `const` while trying to mutate it and Rust didn't even give a warning when it would throw an error if it was a

[2019-07-07 19:40] smaeul commented on #59302
The two [relevant target attributes](https://github.com/rust-lang/rust/blob/9210359b18185f46af9c0f30cc3d2678394930ef/src/librustc_target/spec/mod.rs#L694) are `crt_static_respected` and `crt_static_allows_dylibs`.

For glibc (and all other non-musl unix-like platforms), `crt_static_respected` is false, so the `-C target-feature=+crt-static` option is ignored by the backend and still dynamically li

[2019-07-07 19:46] Cogitri commented on #59302
Fwiw Alpine Linux ships a similar patch (although we don't use crt-static for pur distro packages). Good to know what's the status on that, thanks.

https://github.com/alpinelinux/aports/blob/master/community/rust/musl-fix-static-linking.patch

[2019-07-07 19:53] gnzlbg commented on #59302
Many production users rely on this feature, so we are kind of constrained on not breaking this. If the only way to achieve that is have a second set of targets, then that's the way it is.

[2019-07-07 20:06] timvermeulen commented on #53485
Something else to ponder: the closure parameter of `is_sorted_by` has the return type `Option<Ordering>`, which is a little awkward – it seems only useful for when you want to call `PartialOrd::partial_cmp` from it, but it's doubtful how common that will be given that we also have `is_sorted` and `is_sorted_by_key`.

Let's look at how the return value of the closure affects the outcome of `is_sort

[2019-07-07 20:13] smaeul commented on #59302
What about shipping `libc.a` alongside rust, like we already do for `crt*.o`? Then we could link it `static-nobundle` from `liblibc.rlib` instead of bundling it inside. And then if we only add a `-L` for that directory to the linker args when cross-compiling, it would work properly for the native case as well. (And distro packagers could simply `rm` rust's copy of `libc.a` instead of patching).

[2019-07-07 20:22] mjbshaw commented on #43467
Are the "Unresolved questions" in the OP still blocking this from stabilization? Are there any other unresolved questions or issues that are also blocking this?

[2019-07-07 20:25] gnzlbg commented on #59302
I think I would prefer something that also works great for distro packages. While they could tune things when packaging, a distro that uses musl as its stdlib, will have users that might install rust via rustup, and they will want their "default" rust target to dynamically link the system musl, instead of doing something else, right?

[2019-07-07 20:41] smaeul commented on #59302
Yes. That's why most (all except Void) musl distributions ship distro-specific targets (usually matching their `$CHOST`) that default to dynamic linking. On the other hand, the "static by default" semantics of the current official musl targets are well documented, and `x86_64-unknown-linux-musl` is already available in rustup.

The two feasible solutions I can think of are:
1. Introduce new target

[2019-07-07 21:11] duester commented on #35785
For me, it still does not work even with nightly build (1.38 x86_64-pc-windows-msvc). I try to compile a Hello world project in Intellij Idea but always get the exception:
[code]

[2019-07-07 21:34] cuviper commented on #53485
You can already kludge things like that with `Ordering` if you really want. I think that's mostly OK, but perhaps there would be room for a more generic name like `compare_by`, or maybe `all`/`any` analogues on `&Item` pairs. See also `is_partitioned()` that I've proposed in #62278.

[2019-07-07 23:02] GinjaNinja32 opened #62479 "Specific code layout can cause link failure with lto=true"
This is the same code layout as #59137, with slightly more of my actual code - turns out that's not the only issue preventing me from using LTO.

I have a three-crate workspace; only two of these crates are relevant for this issue (if the code *ran*, the third would be relevant).

- `parent`, a binary, depending on `shared` and `libloading`, using the latter to load `child`
- `shared`, a library,

[2019-07-07 23:30] ZeGentzy commented on #62059
I've just bumped into this issue when trying to build glutin's docs.

https://termbin.com/oo0y
[code]

Hoping this gets raised.

[2019-07-07 23:31] Undin opened #62480 "Internal compiler error with labeled break inside closure"
**Toolchain version**: rustc 1.38.0-nightly (dfd52ba6a 2019-07-06)

The following code produces internal compiler error
[code]

<details><summary>backtrace</summary>
<p>

[code]

</p>
</details>

[2019-07-07 23:36] KodrAus opened #62482 "Tracking issue for debug_map_key_value"
This is a tracking issue for `debug_map_key_value` (https://github.com/rust-lang/rfcs/pull/2696)

**Steps:**

- [x] Implement the RFC (#60458)
- [x] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [x] Stabilization PR ([see instructions on rustc-guide][stabilization-guide]) (https://github.com/rust-lang/rust/pull/68200)

[stabilization-guide]: https://rust-lang.github.io/rust

[2019-07-07 23:39] czipperz commented on #59838
So should we update the README?  It currently says:

Maybe it should be revised to:

[2019-07-08 00:45] gautammohan commented on #60876
Is this issue currently being worked on? I'm interested in contributing.

[2019-07-08 00:49] czipperz commented on #62370
Well there's also `Box::pin(foo)` right?

[2019-07-08 00:52] czipperz commented on #62370
Mmh but that takes a `T` and wraps it into `Pin<Box<T>>`.  I think with that context `Box::into_pin` makes a lot of sense.

[2019-07-08 01:33] #57724 closed

[2019-07-08 01:39] lzutao opened #62486 "The total Rust archive size has intensified recently"
**Edit**:

The total Rust archive size has intensified recently.

[code]

[code]

Is this a regression caused by #59800 ?
cc @Zoxc (for the PR), @Centril (infra team)

[2019-07-08 01:41] lzutao commented on #62486
@rustbot modify labels: I-heavy T-infra

[2019-07-08 03:00] scottmcm commented on #62466
I suspect that this will be like the requests to raise the limits on arrays: the answer will be that they won't be raised until a language feature is added to allow the limit to be removed entirely.

[2019-07-08 04:57] #60736 closed

[2019-07-08 06:00] scottmcm commented on #35428
Over in https://github.com/rust-lang/rust/pull/61366#issuecomment-497671528, @SimonSapin asked for other possibilities, so here's something I tried out today: https://github.com/rust-lang/rust/compare/master...scottmcm:is_empty-alternative?expand=1

It moves `is_empty` to a new trait that depends on a `size_hint` being `lower > 0 || upper == Some(0)`, which it implements automatically for `ExactSi

[2019-07-08 06:16] scottmcm commented on #55286
@nikic The place I ran into it was https://github.com/rust-lang/rust/issues/35428#issuecomment-509090030, trying to figure out whether a `Chain` is empty based on its `size_hint`.  Simple godbolt demo: https://rust.godbolt.org/z/gKKzIu

(Something other than `or` could be fine too; I just picked that because LLVM folds `x == 0 && y == 0` into `(x | y) == 0`, so thought it seemed reasonable.)

But

[2019-07-08 06:33] Patryk27 commented on #62480
Simplified, FWIW:
[code]

[2019-07-08 06:45] Lokathor opened #62488 "typo in `core::arch::x86_64::_mm_prefetch`"
Should be `hierarchy`

[2019-07-08 07:19] phil-opp commented on #57270
There is now a (work in progress) pull request to update Rust to LLVM 9 at https://github.com/rust-lang/llvm-project/pull/19. GitHub doesn't display all commits, so I'm not 100% sure that it contains https://github.com/llvm/llvm-project/commit/2f055f026ad76f3503c7c40c40f4b71594adbe55, but I see no reason why it shouldn't.

[2019-07-08 07:43] dwjbosman commented on #25997
I am facing the same problem. I am using Theia cppdebug extension. It uses rust-gdb in interpreter=mi mode. With debugging enabled I see that it runs MI commands:

`-var-create - * "mystruct" `

and sends back

`^done,name="var1",numchild="0",value="{...}",type="struct Foo",thread-id="1",dynamic="1",has_more="1"`

As a consequence the GUI shows "{...}". How did you solve this? How can I get the de

[2019-07-08 07:49] gnzlbg commented on #54726
This broke stdsimd, which uses `#![rustfmt::skip]` as an inner attribute. I thought inner tool attributes were ok, but since recently they fail (playground)[https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e0cee9e1b9a9c8a7aba84b7cd700e184]:

[code]

[2019-07-08 08:04] Lokathor opened #62490 "`core::arch::x86_64::_mm_shuffle_ps` input doesn't match official docs"
[x86_64::_mm_shuffle_ps](https://doc.rust-lang.org/core/arch/x86_64/fn._mm_shuffle_ps.html) (and by extension [x86::_mm_shuffle_ps](https://doc.rust-lang.org/core/arch/x86/fn._mm_shuffle_ps.html)) have `i32` as the mask type, but the [intel intrinsics guide](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_shuffle_ps&expand=5190) lists `unsigned int` as the mask type.

This i

[2019-07-08 08:10] scottmcm commented on #41079
On usize vs isize, slices can't use offset_from in part because they know that usize is ok:

https://github.com/rust-lang/rust/blob/db592f4627251cfd8571a05cf8e06a56be9470c2/src/libcore/slice/mod.rs#L2998-L3008

I can't ever see a reason I wouldn't know the relative orders of the pointers using this, so leaving perf on the table in order to return `isize` makes me sad.  Any good ideas for a name?

[2019-07-08 08:31] hellow554 commented on #62490
Hey @Lokathor 👋

I (I think we all) very much appreciate the work you are doing by looking at the docs and finding unsound things. What about opening a PR and fixing them immediatly (some of them could be done by using the github editor)? It's a very great opportunity to make Rust a better programming langauge.

If you feel like it, please open a PR and reference this issue with one of the [closin

[2019-07-08 08:42] crlf0710 commented on #35785
@duester Could you execute `rustc --version` and see what that outputs?

[2019-07-08 08:54] kper commented on #62426
Can I work on this?

[2019-07-08 09:19] Lokathor commented on #62490
I am well aware of how GitHub works :D unfortunately for us all, I only have so much programming time. I've been busy at work safe wrapping all these intrinsics for my own lib, which is why I'm filing bugs on them as they come up. However, in my experience, filing even a single PR to this repo is rather involved and so I've mostly given up on doing it.

As to this _particular_ issue, it's a change

[2019-07-08 09:24] nikic commented on #62490
I believe this was changed recently because Intel's definition is wrong. See https://github.com/rust-lang-nursery/stdsimd/issues/522.

[2019-07-08 09:32] Lokathor commented on #62490
ah lovely. of course the guide is wrong :P

well, then consider this a minor documentation issue. the function should simply explain that it doesn't match the spec and why and such.

[2019-07-08 09:41] hellow554 commented on #59716
Can this be closed? Test was added in #60697 and ICE was fixed in #59723 so there should be no need to let this thing open, or am I wrong?

[2019-07-08 09:44] alessandrod commented on #58375
I ran into this a couple of days ago trying to enable code coverage for https://github.com/alessandrod/nuts so I decided to take a stab at it. This is the first time I look at the compiler so apologies if what follows is inaccurate and a waste of your time. 🙏

I took @jethrogb's test case and reduced it a bit further: (I've also made a test case for it: https://github.com/alessandrod/rust/blob/12e

[2019-07-08 10:05] petrochenkov commented on #54726
@gnzlbg
"Since recently" here is 1.29, this feature gate was introduced before stabilization of tool attributes.
So, inner tool attributes were never available on stable.

[2019-07-08 10:08] #59716 closed

[2019-07-08 10:13] csmoe commented on #62426
@rustbot assign @kper

[2019-07-08 10:14] gnzlbg commented on #54726
Weird, this started erroring this week.

[2019-07-08 10:24] csmoe commented on #62426
@kper you can assign to yourself with `@rustbot claim`.

[2019-07-08 10:25] kper commented on #62426
@rustbot claim

[2019-07-08 10:26] djc commented on #58375
@alessandrod great work! The best way to get this reviewed is probably to post this as a PR anyway -- just mention in the description that this is your first and reviewers will no doubt treat you gently.

[2019-07-08 10:27] kper commented on #62426
@rustbot kper

[2019-07-08 10:29] csmoe commented on #62426
@kper it's already "assign"ed to you.

[2019-07-08 10:35] Zoxc commented on #62486
Yes, this is an expected regression by https://github.com/rust-lang/rust/pull/59800.

[2019-07-08 11:18] petrochenkov commented on #54726
@gnzlbg
I've just realized this is caused by https://github.com/rust-lang/rust/pull/62133.

Previously `#![feature(custom_inner_attributes)]` was implicitly enabled by `#![feature(custom_attributes)]` or `#![feature(rustc_attrs)]`, but the linked PR removed that because `custom_attributes` is being retired and `rustc_attrs` changed its meaning.

[2019-07-08 11:33] VitalyAnkh opened #62492 "Doc: issue about const_generic_impls_guard link return 404"
The issue link (https://github.com/rust-lang/rust/issues/0) in std doc page https://doc.rust-lang.org/nightly/std/array/trait.LengthAtMost32.html returns 404. Is this issue number mistaken? I suppose that the No.0 issue of rust is talking about const generics is a little ridiculous.

[2019-07-08 11:45] lilydjwg commented on #61978
Hi, I have a question. What needs those rlib files in rust-std? Can I remove those rlib files from rust-std and have most crates build as normal?

It's 109MiB larger now and it'll take me four more minutes to download (what's worse, I can't watch online videos meanwhile)....

[2019-07-08 11:48] c410-f3r commented on #61338
Maybe some compiler flag? Not sure if playground uses `rustup`.

cc @shepmaster

[2019-07-08 11:50] VitalyAnkh commented on #62492
Oh, some smart guy tells me this means there is no accordingly issue. I see.

[2019-07-08 11:50] #62492 closed

[2019-07-08 12:03] #57492 closed

[2019-07-08 12:10] shepmaster commented on #61338
The playground attempts to build each night, [but it sometimes fails](https://travis-ci.com/integer32llc/rust-playground/builds). You can always review exactly what version you are using in the channel dropdown:

![image](https://user-images.githubusercontent.com/174509/60808783-1cdd4280-a157-11e9-9ec9-d39f304bbb6b.png)

For what it’s worth, I don’t see the [reduced example](https://github.com/rus

[2019-07-08 12:14] phil-opp commented on #56546
I think it would be more intuitive to also hide functions with default implementations when they're not overridden. Yes, they're technically documented since there is some documentation on the default implementation, but there is no "overridden" documentation inside the `impl` block.

Consider the following example on why the current behavior is confusing:

[code]

The generated docs look like thi

[2019-07-08 12:24] Freyskeyd commented on #62426
Hello,

I'm searching for a simple issue to start with, after reading this I think I can help but I've some question.

How can I define which part must be replace ?

thank's

[2019-07-08 12:50] mati865 commented on #62486
See also https://github.com/rust-lang/rust/issues/61978

[2019-07-08 12:53] pnkfelix commented on #61711
(seems to me like the `use b::alias; `line is not necessary to reproduce the bug?)

[2019-07-08 12:53] est31 commented on #61978
There are some generic bloat problems that Rust has like https://github.com/rust-lang/rust/issues/46477 which increase binary size which probably play into Rust's large platform size, too.

[2019-07-08 13:10] soc commented on #62358
Not quite, due to the requested variance changes.

[2019-07-08 13:11] cup commented on #61978
https://github.com/rust-lang/rust/issues/62486

[2019-07-08 13:25] Freyskeyd commented on #62357
Hello!

I would like to work on this one :)

[2019-07-08 13:33] c410-f3r commented on #61338
Thank you very much, @shepmaster

It is clear now that incremental compilation is the source of this behavior.
To make a successful compilation with cargo, it is possible to use, for example, `CARGO_INCREMENTAL=0 cargo build`.

[2019-07-08 13:42] est31 commented on #62486
This contains justification of the change: https://github.com/rust-lang/rust/pull/56987#issuecomment-448786853

This contains suggestions on decreasing the size: https://github.com/rust-lang/rust/pull/56987#issuecomment-448985578

[2019-07-08 13:46] Freyskeyd commented on #62357
@rustbot claim

[2019-07-08 13:50] mati865 commented on #61978
Before #59800 a lot of symbols were placed into shared libs and duplication wasn't an issue.
Many of those shared libs were replaced by static ones (`.rlib`) which has benefits (better performance, simplification of Rust internals) and downsides (duplicated symbols, bigger size).

Using `.tar.xz` archives instead of `.tar.gz` reduces download size of `linux-gnu` std by 30 MiB at the expense of ext

[2019-07-08 13:53] pnkfelix commented on #61711
Here is a shell script to compile the files using `rustc` itself (so we get `cargo` out of the way) and run the compile of `c.rs` under `gdb`:

[code]

[2019-07-08 13:55] pnkfelix commented on #61711
and the backtrace from `gdb` gives us a pretty good hint as to where we might be infinite-looping:

[code]

(and so on, for at least 15,000 stack frames...)

[2019-07-08 14:01] pnkfelix commented on #61711
(prior to rust 1.35.0, it seems like we might have infinite looped here with no stack overflow. Not 100% sure of that yet; and this test case currently relies on 2018 edition, so its not easy to go back to earlier than 1.31.0)

[2019-07-08 14:12] alexcrichton commented on #62408
To clarify, all previous cases are *purely* -O0 optimizations. If this doesn't optimize at higher optimization levels then we can of course change the code to fix that. If this is *only* a -O0 optimization then that's different.

[2019-07-08 14:19] orlp commented on #62408
@alexcrichton I just tested it and the `Vec::truncate` operation also doesn't optimize away on `opt-level=1`, only 2 and higher.

[2019-07-08 14:28] alexcrichton commented on #60419
@Zoxc do you intend to hold off on stabilization of this feature until that issue is resolved? That seems like a nice feature to have, but something we could always add after the fact.

[2019-07-08 14:34] GuillaumeGomez commented on #56546
@phil-opp Can you open a specific issue about this one please? (and ping me on it)

[2019-07-08 14:50] pnkfelix commented on #61711
Also, you can inline the contents of crate a into crate b and preserve the erroneous behavior:

[code]

[code]

[2019-07-08 14:53] cup commented on #61978
@mati865 thank you for the detailed response.

However this part is concerning:

that seems to be "cutting at the branches rather than cutting at the root". To
compare Go 1.12.6 is 118 MB:

https://dl.google.com/go/go1.12.6.windows-amd64.msi

Then Rust is 297 MB:

https://s3-us-west-1.amazonaws.com/rust-lang-ci2/rustc-builds/dd2e8040a35883574ae0c4cc7a4e887ecb66469c/rust-nightly-x86_64-pc-windows-g

[2019-07-08 15:20] awestlake87 commented on #61994
Yeah, I'm not sure I like that change. I always liked that potentially expensive operations like clone() were explicit and searchable. Also, I usually think of `.into()` and `::from` as a move, not a copy, since it consumes the callee.

In C++, it's extremely easy to make copies accidentally and while `impl From<&String> for String` might be reasonably harmless, I feel like an `impl <T: Clone> Fro

[2019-07-08 15:22] myrrlyn commented on #54503
I apologize for my absence on this issue.

My standing question was "how should the `reason` value be used in the diagnostic", and it appears that the simplest answer is the one you provided: "put it in a `note` item". I have no firm attachment to rendering it as `reason: User text here`, and if prior art exists for `note: User text here`, then that is perfectly fine.

[2019-07-08 15:22] est31 commented on #53491
Has the crater run mentioned in https://github.com/rust-lang/rust/pull/60445#issuecomment-488818677 happened?

The idea of 3 months of available time that @centril [mentions](https://github.com/rust-lang/rust/pull/60445#issuecomment-488626308) doesn't materialize for people who want to be warning-free on all of beta, stable and nightly. 1.36.0 has been released less than a week ago and nightly is

[2019-07-08 15:39] est31 commented on #53491
Deprecation warnings aren't always isolated to the crate responsible for them. E.g. when a crate exposes a macro that uses `std::mem::uninitialized` internally, usages by third party crates still invoke the deprecation warning. I noticed this today when I compiled one of my projects with the nightly compiler. Even though the code doesn't contain a single mention of `uninitialized`, I got the depre

[2019-07-08 15:40] mati865 commented on #61978
It's not the solution by any means, I just wanted to make people aware of better compressed archives.

seems too much.

Yes, it's concerning for sake of the completeness there is another big compiler.
Official [LLVM .tar.xz Linux archive](https://releases.llvm.org/8.0.0/clang+llvm-8.0.0-x86_64-linux-gnu-ubuntu-18.04.tar.xz) is 325 MiB and for [Rust commit dd2e8040a35883574ae0c4cc7a4e887ecb66469c](

[2019-07-08 15:53] lovasoa opened #62495 "The "reached type-length limit" error is not very helpful"
This issue is close to  #58952, but I think it's different. Feel free to close it if I'm mistaken.

### The issue

Here is the code I am trying to compile: [lovasoa/seamcarving @ f6be585](https://github.com/lovasoa/seamcarving/tree/f6be585a9f21171c8fc15dcca5218c0b761b5cfa).
The compilation fails with :

[code]

The issue probably comes from my code, since I use a lot of nested iterators, but it is

[2019-07-08 16:00] MehrdadKhnzd commented on #50547
Hello there! When we have to expect the stable release of this feature? And how can I use that in nightly builds?

[2019-07-08 16:01] lovasoa commented on #62495
The type that reaches the limit seems to be the one of [this iterator](https://github.com/lovasoa/seamcarving/blob/f6be585a9f21171c8fc15dcca5218c0b761b5cfa/src/seamfinder.rs#L46-L51)

[2019-07-08 16:02] benesch commented on #60652
This also started happening to me after upgrading my toolchain to Rust 1.36 and performing a non-clean `cargo build`. The ICE would be triggered when trying to build a project that had a git dependency upon https://github.com/MaterializeInc/rust-rdkafka. In a particularly confusing turn, the ICE would disappear when depending on *any* other SHA in rust-rdkafka, including a SHA that made literally

[2019-07-08 16:05] alexcrichton commented on #60987
Ok in an attempt to prod this again, I'd like to propose that this feature is stabilized in an effort to stabilize [pipelined compilation](https://github.com/rust-lang/rust/issues/60988). Given the discussion here I would propose a different stabilization path than the one I [mentioned above](https://github.com/rust-lang/rust/issues/60987#issuecomment-502228452), namely:

* If `--color always` is

[2019-07-08 16:08] gnzlbg commented on #52652
Is there an RFC or a PR specifying the semantics of this change ?

From reading the conversations, `extern` functions are required to abort in case of a panic, but this isn't necessarily the same as, e.g., guaranteeing that the semantics are equivalent to wrapping each `extern` function in a `catch_unwind`, and then aborting in case of a panic.

For example, can:

[code]

be optimized into

[code]

[2019-07-08 16:33] nikomatsakis commented on #60987
@rfcbot fcp merge

I am going to propose that we stabilize @alexcrichton's proposal, where `--color=always` affects the rendering of JSON output:

[2019-07-08 16:37] gyakovlev opened #62496 "install.sh miplaces codegen-backends directory with libdir = "/lib/something""
opening here for visibility
original issue here https://github.com/rust-lang/rust-installer/issues/93

if someone passes `libdir = "lib/rust-1.x.x"` via config.toml
install.sh misplaces codegen-backends directory, because `/lib` path is treated as a special case.

this code here at fault:
https://github.com/rust-lang/rust-installer/blob/5afc0089f282570f2c39b4345d2706bf97e3d84b/install-template.sh#

[2019-07-08 16:59] nikomatsakis commented on #60987
@rfcbot fcp cancel

On second though, I'm going to cancel this proposal because I feel like it is mildly backwards incompatible, since `--color` and JSON output can already be combined.

[2019-07-08 17:05] nikomatsakis commented on #60987
@rfcbot fcp merge

Instead I am going to propose the we stabilize @alexcrichton's [original proposal](https://github.com/rust-lang/rust/issues/60987#issuecomment-502228452).

Key points:

- `--json-rendered` is the flag for controlling details of how json output is rendered. It is not expected to be encountered by most users.
- It accepts a small set of strings initially, as described by @alexcric

[2019-07-08 17:35] dflopi commented on #25289
Hi guys, try
sudo xcode-select --reset

worked for me.

[2019-07-08 17:47] cramertj commented on #62284
@nikomatsakis Right-- the point here is that there shouldn't be a cycle at all, because the value that appears inside the generator is not the future type itself, but the type `Pin<Box<dyn Future<...> + Send>>`.

[2019-07-08 17:57] maroux commented on #62276
Still happening on `1.38.0-nightly (6e310f2ab 2019-07-07)` :/

[2019-07-08 18:14] pietroalbini commented on #62276
Oh, this is concerning, we'll need to look into it a bit more. Thanks for the update.

@rustbot modify labels: regression-from-stable-to-beta -regression-from-stable-to-nightly

[2019-07-08 18:38] kper commented on #62426
I tried to begin with the renaming and I have been wondering how aggressive I should rename? It is kind of hard for me to see when I have real arguments or parameters. My first try (Commit 6c9051c as referenced above) led to extremely a lot of change. Can I have some feedback?

In addition, I noticed that the issue has a "blocked" label. Should I therefore wait until #61856 is finished?

[2019-07-08 18:51] nikomatsakis commented on #62149
I am fine with destabilizing `async unsafe fn`, though I am skeptical of us winding up with a different design than the present one. But it seems wise to give us time to figure that out!

[2019-07-08 18:51] MajorBreakfast commented on #50547
@MehrdadKhnzd https://github.com/rust-lang/rust/issues/62149 contains information about the target release date and more

[2019-07-08 19:00] petrochenkov commented on #44692
Accidentally fixed in https://github.com/rust-lang/rust/pull/62476.

[2019-07-08 19:00] phil-opp opened #62499 "rustdoc: Trait methods with default implementations are never hidden"
## Background

Rustdoc currently hides implementated trait methods behind a _"Show hidden undocumented items"_ switch, unless a new doc comment was supplied on the method implementation. For example, consider this code:

[code]

The generated documentation looks like this:

![image](https://user-images.githubusercontent.com/1131315/60833563-c99eda80-a1be-11e9-8e8d-f4788d427226.png)

Only the `bar`

[2019-07-08 19:00] phil-opp commented on #56546
@GuillaumeGomez Sure! I opened https://github.com/rust-lang/rust/issues/62499 for this.

[2019-07-08 19:01] petrochenkov commented on #52363
Fixed in https://github.com/rust-lang/rust/pull/62476

[2019-07-08 19:01] Centril commented on #62426
I think that's a good idea.

This looks largely right, tho I didn't look at `parser.rs`. In general, if something refers to things a function accepts rather than the expressions (or types when it's about type args) passed into them, then they are parameters and not arguments.

Please also avoid running `rustfmt` on the code as that will make everyone else have to rebase and it makes it harder to r

[2019-07-08 19:04] tmandry commented on #62321
@Matthias247 #59087 tracks the problem of borrows disabling optimizations _in general_. In order to fix this general problem, we probably need

1. Smarter dataflow analysis that tells us when no more borrows _or pointers of any kind_ exist (e.g. similar to what the borrow checker is doing, but stricter so we don't make unsafe code UB)
2. To inline functions in MIR, so we can apply our analysis (1)

[2019-07-08 19:11] tmandry commented on #62321
@withoutboats Yes, that would work, and it might be easier than the solution I'm describing. We can't do this with a desugaring today, though. @cramertj tried to do something like this with `drop_in_place`, but it requires the original binding to be mutable: https://github.com/rust-lang/rust/issues/59123#issuecomment-501472787

[2019-07-08 19:14] nikomatsakis opened #62500 "move async unsafe fn to distinct feature gate"
Per @Centril's [comment](https://github.com/rust-lang/rust/issues/62149#issuecomment-508947381), we want to move `async unsafe fn` to its own feature gate:

This issue has been assigned to @delan via [this comment](https://github.com/rust-lang/rust/issues/62500#issuecomment-509460671).

[2019-07-08 19:15] nikomatsakis commented on #62149
I created https://github.com/rust-lang/rust/issues/62500 for moving `async unsafe fn` to a distinct feature gate and listed it as a blocker. We should probably create a proper tracking issue as well, I guess.

[2019-07-08 19:21] petrochenkov commented on #62127
Not a regression, the issue reproduces on Rust 1.30 already (the release that stabilized procedural macro attributes).

Minimized example:
[code]

As described above, the behavior is expected - the test harness uses the built-in `#[main]` attribute which becomes ambiguous if any other attribute named `main` is in scope.

[2019-07-08 19:21] #62127 closed

[2019-07-08 19:27] Centril commented on #62500
Mentoring instructions:

1. In `libsyntax/parse/mod.rs` there's a `struct ParseSess`. To it, you want to add: `pub async_unsafe_spans: Lock<Vec<Span>>,` and then modify `fn with_span_handler` as well in the same file.

2. In `libsyntax/feature_gate.rs` you want to add a new `active` feature gate to the bottom (see the `async_closure` example) and then modify `check_crate` (also see `async_closure_

[2019-07-08 19:29] tmandry commented on #59087
The size growth in this issue now goes away when the `size_of_val` calls are replaced with an empty `println!()` (this was #59123). However, I think we should leave this issue open to track the general behavior that borrowing a future and then awaiting it causes us to double-allocate space for it, with #62321 tracking the specific case of `size_of_val`.

[2019-07-08 19:31] joshtriplett commented on #58794
The 12-week pseudo-deadline was intended to ensure forward progress, learning from the last time this came up. It had that desired effect, and generated an RFC, [RFC 2699](https://github.com/rust-lang/rfcs/pull/2699), which is currently in progress. (@Mark-Simulacrum, could you please add a link to that RFC in the top post of this issue?) Thus, the status is currently "let's make sure that RFC con

[2019-07-08 19:39] Centril opened #62501 "Tracking issue for `#!feature(async_unsafe)]` (RFC 2394)"
This is a tracking issue for `#![feature(async_unsafe)]` (rust-lang/rfcs#2394).
The feature gate provides the `async unsafe fn` syntax.

**Steps:**

- [ ] Split the feature gate (https://github.com/rust-lang/rust/issues/62500)
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-guide][stabilization-guide])

[stabilization-gui

[2019-07-08 19:39] Centril commented on #62500
The tracking issue to use is https://github.com/rust-lang/rust/issues/62501.

[2019-07-08 19:45] cramertj commented on #62321
This is one of the reasons I've been pushing for `let mut` to be a deny-by-default lint rather than a hard error.

[2019-07-08 19:54] Serentty commented on #48593
I would definitely be against requiring pointers to be at least 32 bits, as there are all sorts of platforms that I'd love to develop for in Rust which have pointers smaller than that. However, I can't think of a single ISA with pointers smaller than 16 bits, as all of the popular 8-bit chips use two bytes for addresses. For that reason, I would be _okay_ with requiring pointers to be at least tha

[2019-07-08 19:54] thomcc opened #62502 "Consider moving std::error::Error to `alloc`"
Now that `alloc` is stable, this is a somewhat visible omission from `no_std` contexts.

In practice, it being in `std` means that library crates that would otherwise be `no_std` (+ `alloc`) compatible which expose some sort of error type have to either:
1. Skip implementing `std::error::Error` for their error type, giving up error ergonomics for users regardless of whether or not they care about

[2019-07-08 20:03] pnkfelix commented on #61711
Okay I think I have a solution for this. Hope to post PR today or tomorrow.

[2019-07-08 20:13] cramertj commented on #62149
I'm strongly skeptical that we'll reach a different design for `async fn` and am surprised by the decision to not include it in the initial round of stabilization. I have written a number of `async fn`s that are unsafe and will make them `async fn really_this_function_is_unsafe()` or something, I suppose. This seems like a regression in a basic expectation that Rust users have in terms of being ab

[2019-07-08 20:16] nikomatsakis commented on #62149
@cramertj seems like we ought to discuss! [I created a Zulip topic for it](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/async.20unsafe.20fn), to try and keep this tracking issue from getting too overloaded.

[2019-07-08 20:16] maroux commented on #62276
May have been [rust-installer](https://github.com/rust-lang/rust-installer/issues/95) actually .. Double checking.

[2019-07-08 20:26] gnzlbg commented on #58794
This soundness hole was reported years ago. The lang team knows that it introduces undefined behavior on all `extern` functions in the presence of panics, and that this causes us to misoptimize user programs. Delaying the fix for years due to a single (or a couple) of crates which knowingly decided to exploit undefined behavior is a horrible attitude toward all other Rust users. Continuing to sile

[2019-07-08 20:41] mati865 commented on #62276
`rust-src-nightly.tar.gz` is also affected, does that mean src is now generated from Windows or this is broken even more than it seems?

[2019-07-08 20:43] Centril commented on #58794
What we said was:

----------------

I disagree with this description. @gnzlbg's repository is both well documented and it does not seem "incredibly onerous" at all and if you have numerous callbacks it seems to me that things could be automated through code generation (e.g. a bindgen-like approach).

I don't think "at all costs" applies here. @gnzlbg has kindly stepped up to provide a solution wh

[2019-07-08 20:51] Aloso opened #62504 "ICE (const generics) with const generics in trait"
[code]

When executed in the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e8c275dc351609a479edbdb2e663e0ba):

<details>
<summary>Compiler output</summary>

[code]

</details>

**EDIT**: Here's the updated [playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e8c275dc351609a479edbdb2e663e0ba) and the new stack trace as of

[2019-07-08 20:55] LucioFranco opened #62506 "ICE on generator type check with a must_use type"
ICE is happening on code that awaits a future that has a `Output` type that is `must_use`.

Original code:

[code]

https://github.com/LucioFranco/clique/blob/fbd960b92a2df78c020c94dee565df2d03cf6291/src/consensus/mod.rs#L93

Fix:

[code]

ICE MIR Error:

[code]

Rustc version:

[code]

Full Backtrace:

[code]

[2019-07-08 21:05] BatmanAoD commented on #58794
Another consideration is that even in the case of `mozjpeg-sys`, the library that motivated the decision to hold off (for the second time) on stabilizing the `abort` behavior, the crate still [exhibits problematic behavior](https://users.rust-lang.org/t/porting-mozjpeg-to-rust-10k-gig/28899/13?u=batmanaod) (possibly due to `nounwind`):

Aborting would be strictly better here, even without a guaran

[2019-07-08 21:08] BatmanAoD commented on #58794
Additionally, @kornelski, the author of that crate, wrote:

If I understand this correctly, it means that `mozjpeg-sys` would be useful and usable even if it aborted on errors, although that would not be ideal.

[2019-07-08 21:13] clarfon commented on #62502
I think that longer term offering it in `core` is best, but allowing it in `alloc` in the meantime is a good idea.

[2019-07-08 21:13] mjbshaw commented on #58794
I think that it means that as long as the unwind vs abort behavior is controllable by the binary, then it's acceptable. For some binaries aborting on a JPEG error is okay, but for others it is acceptable.

[2019-07-08 21:37] petrochenkov commented on #62048
PR for crater - https://github.com/rust-lang/rust/pull/62507.

[2019-07-08 21:44] tmandry opened #62508 "Drop with guaranteed move elision"
Today, calling `drop(_1)` results in the following MIR:

[code]

We could instead inline this directly to a MIR drop, with no move. This makes it simpler to do some optimizations in MIR.

[2019-07-08 21:52] cramertj commented on #57951
cc @estebank

[2019-07-08 21:52] cramertj commented on #58017
ping on this, which still reproduces.

[2019-07-08 22:11] tmandry commented on #62321
Actually, could we "inline" `size_of_val(&x)` to `size_of::<T>()`, even though `T` is not nameable in the surface syntax? That would be a pretty clean solution that sidesteps issues with monomorphization. cc @eddyb

[2019-07-08 22:12] pietroalbini commented on #62276
This is caused by the Azure migration, as it started happening right after we switched nightlies production to it. The initial hypothesis was that git's `core.autocrlf` on Windows was the culprit, but that landed days ago so we need to look deeper :/

[2019-07-08 22:15] pietroalbini commented on #62276
The source tarball is generated by all the dist builders and uploaded each time, so the last dist builder to finish will be the one producing the final tarball. I think we see the error there just because our slower builders are all Windows at the moment.

[2019-07-08 22:28] pietroalbini commented on #62276
Assigning myself to investigate in the next few days.

[2019-07-08 22:28] tmandry commented on #62508
`await` is my primary motivation here, but I'm sure there are others. Today, `foo.await;` translates to roughly

[code]

Implicit drops at the end of scope are lowered directly to MIR drop. Because this does not involve moving, the invariants around `Pin::new_unchecked` are satisfied. However, if we could write it like this:

[code]

and calling `std::mem::drop(foo)` was guaranteed not to move `fo

[2019-07-08 22:40] tmandry commented on #61015
It seems we can emit `StorageDead` in all the cases we care about optimizing. However, there are some very measurable compiler performance hits to doing so (see [this comparison](https://perf.rust-lang.org/compare.html?start=004c549a73122a9867de4f64ac727deb95d426a5&end=faed5e266ce824ddee6fff7bd061d96f7795efbc) for what happens when we enable `StorageDead` along unwind paths for all functions). Ign

[2019-07-08 22:44] tmandry commented on #59087
Here's the solution I mentioned in https://github.com/rust-lang/rust/issues/62321#issuecomment-509351959:

1. Smarter dataflow analysis that tells us when no more borrows _or pointers of any kind_ exist (e.g. similar to what the borrow checker is doing, but stricter so we don't make unsafe code UB).
2. If we want to handle cases like `foo(&x)`, we'll need to inline those functions in MIR so we can

[2019-07-08 23:05] tmandry commented on #59087
I meant to say: Right now I prefer the approach of getting rid of the move in `await`, unless we hit some unforeseen problem with it.

Resolving the general problem of borrow-then-move would be nice, but it doesn't seem like the most bang for our buck at this point.

[2019-07-08 23:48] petrochenkov commented on #61733
[code]

[2019-07-08 23:50] tmandry commented on #62321
An alternative to inlining is to eliminate the move in `await`, sidestepping this issue altogether. See https://github.com/rust-lang/rust/issues/59087#issuecomment-509419123.

[2019-07-09 00:10] tmandry commented on #62149
Regarding future sizes, the cases that affect every `await` point are optimized. The last remaining issue that I know of is #59087, where any borrow of a future before awaiting can double the size allocated for that future. This is pretty unfortunate, but still quite a bit better than where we were before.

I have an idea of how to fix that issue, but unless this is way more common than I realize,

[2019-07-09 00:21] tmandry commented on #62508
I would guess that adding this guarantee to `std::mem::drop` is going to require an RFC (cc @rust-lang/lang). If so, let's define a separate unstable function that we can make the guarantee for. As long as we can invoke it from HIR lowering, that would unblock the case I care most about.

[2019-07-09 01:21] #60977 closed

[2019-07-09 01:56] aloucks commented on #43244
The `drain_filter` terminology makes the most since to me. Given that we already have `drain` to remove all items, selecting which items to remove would be a `filter`. When paired together the naming feels very consistent.

The fix for the double-panic soundness issue leaves the remainder of the `Vec` in-tact in the event of a panic in the predicate. The items are back-shifted to fill the gap, but

[2019-07-09 01:59] Lokathor commented on #62502
@clarfon core doesn't have Box

[2019-07-09 02:20] delan commented on #62500
@rustbot claim

[2019-07-09 03:05] Centril commented on #62504
cc @davidtwco

[2019-07-09 03:16] joshlf opened #62512 "Where clause causes type checking to spuriously fail"
I have the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d0008e38e2daa9c21ff2acc813d67c83)):

[code]

I would expect this to compile, but Rust seems confused by the fact that, in the `<T as Bar>::baz` implementation, the `F` type parameter is both `Foo<Self::Input>` and `Foo<T>` (`T` and `Self::Input` are the same type) and complains that it e

[2019-07-09 03:31] tmccombs commented on #43244
The problem with the `drain_filter` terminology, is that with `drain_filter`, there are really two outputs: the return value, and the original collection, and it isn't really clear which side the "filtered" items go on. I think that even `filtered_drain` is a little more clear.

[2019-07-09 03:34] eddyb commented on #62321
Isn't there a `SizeOf` in MIR already? If it's not a nulary operator, you can add it as one.

And, yes, you can totally name the type. During and after typeck, that type parameter of `size_of_val` has a type applied to it in the caller (starts out as inference variable, and is resolved to some type during typeck).

(The reason you want a `SizeOf` in the MIR is intrinsics are not lang items and it'

[2019-07-09 03:40] eddyb commented on #59087
It would be so much easier to do that drop in place *and* have borrowck understand the value is no longer accessible, if we were desugaring `await` in MIR building.
We can probably use an intrinsic for this. I think `move_init_val` has similar special handling?

[2019-07-09 04:14] aloucks commented on #43244
[`Vec::drain`](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.drain) sets a precedent. You specify the range of the items that you want to _remove_.  [`Vec::drain_filter`](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.drain_filter) operates the same way. You identify the items that you want to _remove_.

[2019-07-09 06:20] #55872 closed

[2019-07-09 06:22] kper commented on #62401
@rustbot claim

[2019-07-09 07:07] kper commented on #62401
Is there a way to test if its still working?

[2019-07-09 07:33] hellow554 commented on #62502
true, but Box is only used for `downcast`, so that could live in alloc and the rest maybe in core? :/ not sure how to do that though.

[2019-07-09 07:45] HyeonuPark commented on #55422
I think this method is only reasonable only if we don't have `MaybeUninit` in stable. Practically we use `ManuallyDrop` when we need untagged `Option`, because we don't have any other way to prevent accidentally dropping invalid data. But now we have `MaybeUninit` in stable which exactly is for this purpose.

Is there some use case that can't be reasonably expressed using `MaybeUninit`?

[2019-07-09 08:09] GuillaumeGomez commented on #56546
Thanks! :)

[2019-07-09 08:10] GuillaumeGomez commented on #62499
I'll make the PR to change this behavior and then we'll see what others think about it.

[2019-07-09 08:12] josephlr opened #62516 "libstd: Drop RHEL 5 support, Increase Minimum kernel version to 2.6.27"
The docs currently claim that the minimum Linux kernel version for `libstd` is 2.6.18 (released September 20th, 2006). This is because RHEL 5 used that kernel version. However, RHEL 5 entered ELS on March 31, 2017.

Should we continue to support RHEL 5 for `libstd`, or should we increase the minimum Linux Kernel version to 2.6.27 (2nd LTS) or 2.6.32 (RHEL 6, 3rd LTS)? [List of the relevant kernel

[2019-07-09 08:25] dnrusakov commented on #57012
@Centril Are there any news on `never type` stabilization?

[2019-07-09 08:34] hackerer1c opened #62517 "async fn with elided lifetime causes rustc panic"
Code to reproduce:

[code]

and then run `cargo check`... (with full backtrace)

[code]

This also reproduces when `&str` is replaced with `&_` (where `_` is any type), but does't reproduce with `&'static _`.

[2019-07-09 08:38] hackerer1c commented on #62517
This situation also reproduces:

[code]

[2019-07-09 08:49] pnkfelix commented on #57964
Hey lets start closing some of these that are fixed now that NLL is on for all editions in stable!

[2019-07-09 09:19] TjeuKayim commented on #61951
I also experienced this bug. It was resolved after updating from 1.35.0 to 1.36.0.

[2019-07-09 09:34] pnkfelix commented on #57964
oh wait:  we cannot close the ones that correspond to errors-downgraded-to-warnings I think, because most of those are soundness issues, and we probably need to wait until we stop the downgrading-to-warnings before we close all those issues. :cry:

[2019-07-09 09:36] pnkfelix commented on #33071
Now that NLL is stably deployed for all editions, closing as fixed.

[2019-07-09 09:36] #33071 closed

[2019-07-09 09:51] pnkfelix commented on #42574
reading [this comment](https://github.com/rust-lang/rust/issues/42574#issuecomment-307526569) more carefully, now I *too* am wondering why we accept the above but not the original example.

Stranger still, (depending on your POV), we *still* reject variants like this:

[code]

What type are we inferring for `d` that lets it pass up above, but not below...?

[2019-07-09 09:56] kleisauke commented on #58277
It look like this is fixed with https://github.com/rust-lang-nursery/compiler-builtins/commit/752e35a11f2e7eb29df84668bef0945e75cf3eb5 which is available within Rust 1.36.0 (https://github.com/rust-lang/rust/pull/60841).

Note that the above mentioned workaround only needs to be applied to Rust 1.35.0 and 1.34.0, otherwise it will cause linker errors. See for example:
https://gitlab.gnome.org/GNOM

[2019-07-09 10:23] pnkfelix commented on #62203
ICE was injected between nightly-2019-01-03 (ec194646f 2019-01-02) and nightly-2019-01-04 (c0bbc3927 2019-01-03).

We did not have many PR's merged in that time frame, just these:

[code]

Based on past experience, I'm guessing this is due to the Universes PR #55517.

[2019-07-09 10:50] pnkfelix commented on #62203
I'm going to take a shot at just turning the current `span_bug!` call into a `tcx.delay_span_bug` and see where that gets us.

[2019-07-09 10:59] pnkfelix commented on #58694
This seems like it was fixed. Going to bisect and see if a corresponding test was already added at time it was fixed.

[2019-07-09 11:01] pnkfelix commented on #58694
Fixed between nightly-2019-05-25 (dec4c5201 2019-05-24) and nightly-2019-05-26 (f49269398 2019-05-25)

[2019-07-09 11:05] pnkfelix commented on #58694
Oh, I fixed this back in PR #61118, which was part of rollup #61150, but I didn't notice that #60654 was a duplicate of #58694.

[2019-07-09 11:06] hellow554 commented on #58694
@pnkfelix it is **not** really fixed. It doesn't crash anymore with the above code, but it still ICEs with the feature gate: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=af9b0ea8d2326eb3f52bcf5d4dcb6f77)

[2019-07-09 11:07] pnkfelix commented on #58694
well its not a regression-from-stable-to-stable, in any case. (It seems like that tag was added in error.)

[2019-07-09 11:10] duester commented on #35785
@crlf0710
[code]

[2019-07-09 11:11] pnkfelix commented on #58694
I'm going to open a fresh issue to track the problem with the feature gate enabled, because the comments in #58694 and #60654 make it hard to tell which bug (the ICE without feature-gate vs the ICE with feature-gate) is being discussed.

[2019-07-09 11:16] pnkfelix opened #62521 "lifetime-parametric GATs cause ICEs (with feature(generic_associated_types))"
Many people playing with `#[feature(generic_associated_types)]` have noticed that they break very easily when you attempt to use a lifetime formal parameter.

Examples follow

## ICE: Region parameter out of range

#62326 ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1f746eb41c0bf5be7e9257e988955aed)):

[code]

#58694 ([play](https://play.rust-lang.org/?version=n

[2019-07-09 11:17] pnkfelix commented on #60654
(the remaining bug, when the feature gate is enabled, is tracked in issue #62521)

[2019-07-09 11:17] pnkfelix commented on #62326
(the remaining bug, when the feature gate is enabled, is tracked in issue #62521)

[2019-07-09 11:18] pnkfelix commented on #58694
(the remaining bug, when the feature gate is enabled, is tracked in issue #62521)

[2019-07-09 11:22] SimonSapin opened #62522 "Is Rc’s and Arc’s data_offset correct?"
In the implementation of `Arc`, we find:

https://github.com/rust-lang/rust/blob/09ab31bc64f4ede9f9498440cb4225c173767c1e/src/liballoc/sync.rs#L258-L269

https://github.com/rust-lang/rust/blob/09ab31bc64f4ede9f9498440cb4225c173767c1e/src/liballoc/sync.rs#L2288-L2304

(And similarly in `rc.rs` with `struct RcBox`.)

Note the comment: `Because it is ?Sized, it will always be the last field in memory

[2019-07-09 11:23] pnkfelix commented on #62521
(also copying labels from the issues in the description)

[2019-07-09 11:29] #62326 closed

[2019-07-09 11:30] pnkfelix commented on #58694
closing as fixed as remaining bug is in #62521

[2019-07-09 11:30] #58694 closed

[2019-07-09 11:41] SimonSapin commented on #27747
@BurntSushi, impl coherence rules do not allow this impl outside of the crate that defines the trait:

[code]

You would need separate impls `for [BStr]`, `for [BString]`, etc.

FWIW, not having this benefit is rather typical of functionality defined outside of the standard library.

[2019-07-09 11:59] shepmaster commented on #43244
I’m of the opinion that this is already true for `Iterator::filter`, so I’ve resigned myself to having to look at the docs / write a test whenever I use that. I don’t mind the same for `drain_filter`.

---

I wish we had picked Ruby’s `select` and `reject` terminology, but that ship has long since sailed.

[2019-07-09 12:05] dwrensha opened #62524 "compiler panic: "byte index 10 is not a char boundary""
[code]

Found with the help of [libfuzzer-sys](https://github.com/rust-fuzz/libfuzzer-sys).

[2019-07-09 12:10] pnkfelix commented on #33364
since this is blocked on lazy normalization, lets CC #60471

[2019-07-09 12:13] Keruspe opened #62525 "missing symbol in codegen backend when built with llvm-libunwind"
When enabling llvm-libunwind, I get this error while building stage2 compiler:

[code]

@petrhosek Do you maybe have an idea as you seem to have worked the most on this?

[2019-07-09 12:37] RReverser commented on #52976
I'm absolutely still in favour of this change, but the backpressure was hard when I raised the issue. Did it change / can we agree allocators to be limited to `PhantomData<...whatever...>` or any other ZST now?

[2019-07-09 12:40] gnzlbg commented on #52976
FWIW, we don't even have to apply the `repr(transparent)` attribute to `Box<T>`, we just need to guarantee that `Box<T>` is layout compatible with `*mut T` under certain conditions. That can be simply done in the documentation of `Box<T>` for the time being.

[2019-07-09 12:42] petrochenkov commented on #61733
Proposed resolution:
- Use the token-based model, but without reparsing the whole world after expanding a single macro.
- Introduce the notion of "reparse context" of a macro invocation including the invocation itself and some of its neighbouring tokens.
Only tokens from the reparse context are reparsed after the macro invocation produces tokens.

### Non-eager expansion

When doing a regular macr

[2019-07-09 12:56] RReverser commented on #52976
Well, it can't because it's not guaranteed by the compiler at all (even if happens to be compatible on popular platforms).

[2019-07-09 13:04] gnzlbg commented on #52976
That doesn't make any sense.

If the Box documentation says that Box is guaranteed to have the same layout as a *mut T, and the compiler violates it, the compiler has a bug.

[2019-07-09 13:06] pnkfelix opened #62529 "ICE field: higher-rank trait bounds (HRTB) hit OutputTypeParameterMismatch in librustc/traits/codegen"
I have seen many OutputTypeParameterMismatch ICEs  filed, so I decided to try to make a single representative issue for all of them.
 * Its possible that not all of these share the same root cause. But until I see a more fine grain way to categorize them, I'm going to at least try to track them in a single place.

#60070

#57485

#53420

#52812

#50886

#48112

#42950

#33364

https://github.com/r

[2019-07-09 13:07] RReverser commented on #52976
Yeah, but documentation currently doesn't say that, and merely writing that down won't guarantee that it actually works that way everywhere :)

[2019-07-09 13:08] RReverser commented on #52976
I'd much rather have a strict `#[repr(transparent)]` so that this guarantee would derive naturally, and future extensions to `Box` would be constrained to adhere to it too.

[2019-07-09 13:14] gnzlbg commented on #52976
Hence this proposal.

Of course not, that would need to come with tests, but AFAIK the compiler currently gives structs with default layout and a single field the same layout as that field on all platforms that Rust currently supports.

That would prevent extending Box with an allocator type parameter, which is something that we want to do, and an entire working group is trying to solve. Since `re

[2019-07-09 13:21] SimonSapin opened #62530 "Account for coercions in trait resolution?"
This came up in https://github.com/rust-lang/rust/pull/62528, see “Joining strings with `char`”.

Reduced test case:

[code]

Output: (Identical in rustc 1.36.0 (a53f9df32 2019-07-03) and rustc 1.38.0-nightly (78ca1bda3 2019-07-08).)

[code]

In the `takes_str(&string)` call, the type of the `_x` parameter is known to be `&str`. `&String` can be coerced through auto-deref.

In the `takes_type_para

[2019-07-09 13:25] SimonSapin commented on #27747
@Dr-Emann I realize it’s two years later, but: https://github.com/rust-lang/rust/pull/62528

[2019-07-09 13:38] RReverser commented on #52976
It wouldn't prevent it, just constraint to using ZST as an allocator parameter, which is what I suggested originally and you seemed to support above as well?

[2019-07-09 13:38] tesuji opened #62531 "Missed optimization on array comparison"
The godbolt link: https://godbolt.org/z/dc9o3x

I think this snippet should just return `true`:
[code]

The generated asm with `opt-level=3`:
[code]

[2019-07-09 13:44] gnzlbg commented on #52976
We want to support non zero-sized allocator parameters, and this is incompatible with that.

I support guaranteeing that `Box<T>` has the same layout as `*mut T`. As mentioned, supporting non ZSTs allocators would be a backward incompatible change if `Box<T>` is made `repr(transparent)`, so we can't make it `repr(transparent)`.

[2019-07-09 14:17] RReverser commented on #52976
Okay, I guess I misread

as encouragement of supporting only ZST A's.

[2019-07-09 14:29] clarfon commented on #62502
It would require changes to how the language works, yes. But it'd be doable long term.

[2019-07-09 14:54] rkruppe commented on #62522
If this were user-facing code it would be a clear case of "no that's not specified, don't assume that". However, I believe rustc does currently honor this assumption and libstd can of course rely on rustc implementation details. @eddyb would know best.

Note that because unsizing happens with "reorganizing" the struct, the struct with a sized T has to be laid out "as if unsized" from the start. Fo

[2019-07-09 15:12] pnkfelix commented on #59159
@andrewchambers 's [complaint above](https://github.com/rust-lang/rust/issues/59159#issuecomment-497901552) included the question:

And the answer is Yes. In particular, the timeline in the issue [description][desc] includes a bullet from 2019-03-06, describing the [crater run][] we did as part of investigating whether to add the diagnostic detecting violations of the 2 phase borrows restriction.

[2019-07-09 15:14] SimonSapin commented on #62522
Ah that’s a good point. The constraint that layout cannot change while unsizing is probably enough indeed.

[2019-07-09 15:54] jdm commented on #39016
It would make sense to transfer this issue to https://github.com/rust-lang/libc now that the responsible code is in that repository, but I don't have the permissions to do so.

[2019-07-09 16:01] RalfJung commented on #62347
@lzutao Miri master got broken again, [CI is failing](https://travis-ci.com/rust-lang/miri/jobs/214314790). Do you want to try to fix that?

[2019-07-09 16:11] mati865 commented on #62531
I think there are 2 issues:
- `to_ne_bytes` is not const fn
- `if cfg!` is not const fn

See this modified example: https://godbolt.org/z/86WRHF

[2019-07-09 16:15] carado opened #62536 "ICE: "can't hash a TyVid" when failing to infer a const generic"
A clean rust project on the latest nightly rustc with just this `src/main.rs`:
[code]
produces the following error on cargo check/build:
<details>

[code]
</details>

The error is most likely caused by the inability to deduce the value of the const generic parameter `N`; when it is made clear (with, say, `let x: S<_, {3}> = f(0u8);`) the ICE no longer occurs.
Thus the expected behavior is probably

[2019-07-09 16:16] lzutao commented on #62531
I may misunderstand but in the C version, does clang require similar condition to optimize code?

[2019-07-09 16:19] lzutao commented on #62347
I believe #62403 broke miri. Hopefully I get time to fix it?

[2019-07-09 16:19] Centril commented on #57012
@dnrusakov Still the same as before; see https://github.com/rust-lang/rust/issues/57012#issuecomment-460740678 and https://github.com/rust-lang/rust/issues/57012#issuecomment-467889706. I think the main blocker now is the future proofing some sort of perma-unstable reservation hack. I'm not familiar with those parts of the compiler to do that, but maybe @eddyb or @arielb1 can.

[2019-07-09 16:21] mati865 commented on #62531
[code]
Those are preprocessor directives and are handled at compile time so their Rust equivalent would be:
https://godbolt.org/z/Ou1bTH
[code]

[2019-07-09 16:26] Centril commented on #62522
We should probably add a comment to that effect so "don't assume that" is clearer to everyone.

[2019-07-09 16:27] lzutao commented on #62531
https://doc.rust-lang.org/nightly/std/macro.cfg.html states that `cfg!` macro:

[2019-07-09 16:35] RalfJung commented on #62347
Should be an easy fix by making Miri not use that trait explicitly. It's yours!

[2019-07-09 16:51] #62107 closed

[2019-07-09 16:54] mati865 commented on #62531
Good point, those two are equal:
https://godbolt.org/z/V7Iuoo
[code]

I don't know enough about const and I could be totally wrong but I think in the first case `if cfg!` expands to something like:
[code]
It cannot make `arr` constant because https://github.com/rust-lang/rust/issues/49146 is not yet complete.

[2019-07-09 16:58] gnzlbg commented on #39016
cc @alexcrichton @retep998 @newpavlov - please review the libc C PR at: https://github.com/rust-lang/libc/pull/1433 - I'm not sure how this will interact with linking libc both via libstd and crates.io, what happens if the features are different in each, what happens if the binary is `#[no_std]` and no libstd is linked, etc.

[2019-07-09 17:03] pietroalbini commented on #61165
Discussed this with Microsoft, they're going to follow up privately with us on that. Demoting to P-medium.

[2019-07-09 17:10] pietroalbini commented on #62266
Discussed this at the infra meeting, we're ok merging a patch for this.

@rustbot modify labels: -I-nominated

[2019-07-09 17:11] CAD97 commented on #55422
@HyeonuPark `ManuallyDrop` is for a place that is valid 99.99% of the time, or just needs its drop glue to be skipped. To this end, it derefs to its target so you can use `&ManuallyDrop<T>` as `&T`. Of _important_ note is that while `ManuallyDrop` is allowed to be in a logically invalid state (i.e. a dropped value that needs to not be reused), it _is not allowed_ to be in a physically invalid bit

[2019-07-09 17:11] nikomatsakis commented on #60424
[Discussed in meeting today](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/meeting.202019.2E07.2E09/near/170471274). Adding the "unclear" tag: this one is tricky to fix and it's not clear that it should block stabilization. It would definitely be good to have, though. In particular, it seems unlikely to be a forwards compatibility issue, since this is basically a

[2019-07-09 17:29] lzutao commented on #62276
Relevant:
* https://help.github.com/en/articles/configuring-git-to-handle-line-endings
* https://git-scm.com/docs/git-config
* https://stackoverflow.com/questions/1967370/git-replacing-lf-with-crlf

[2019-07-09 17:35] nikomatsakis opened #62539 "diagnostic for naive recursive async functions is really unfriendly"
The following Rust source ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=137001df1ae7afa5b2b4b0fe649b8ed6)):

[code]

gives the error:

[code]

We could be a lot clearer.

[2019-07-09 17:36] gilescope commented on #62539
@rustbot claim

[2019-07-09 17:38] nikomatsakis commented on #62284
[Discussed in meeting today.](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/meeting.202019.2E07.2E09/near/170472412) Filed https://github.com/rust-lang/rust/issues/62539 to try and improve diagnostics for the *naive* case. I am marking as "unclear" because it might be good enough for stabilization purposes to document the correct workarounds (rust-lang/async-book

[2019-07-09 17:38] janka102 opened #62540 "ICE with turbofish "no type for node""
Compiler panics when using turbofish and `.parse()`

I tried this code:

[code]

I expected to see this happen: show a warning/error

Instead, this happened: compiler panic'd

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2019-07-09 17:41] nikomatsakis commented on #62539
I think an error like

[code]

[2019-07-09 17:42] nikomatsakis commented on #62539
I suspect we can intercept that "opaque type" error and check on the [`origin`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/infer/opaque_types/struct.OpaqueTypeDecl.html#structfield.origin) field of the opaque type, looking for [`AsyncFn`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/hir/enum.ExistTyOrigin.html#variant.AsyncFn)

[2019-07-09 17:42] withoutboats commented on #62539
In addition to adding specific output for async fn, it would also be good to stop outputing "self-referential type" in any context, and instead use "recursive type" as this error message does at one point. Nowadays, "self-referential" is used very often to mean they have references pointing into themselves, rather than how it is being used here, and someone who googles it will get very unhelpful r

[2019-07-09 17:42] janka102 commented on #62540
Seems similar to #60989, so closing this for now

[2019-07-09 17:42] #62540 closed

[2019-07-09 17:44] Centril commented on #62506
cc @tmandry @Aaron1011 @matthewjasper

[2019-07-09 17:44] nikomatsakis commented on #62506
Could *plausibly* be related to https://github.com/rust-lang/rust/pull/61572 -- but that's basically a total guess on my part.

[2019-07-09 17:44] petrochenkov commented on #61733
What stops working:
[code]

[2019-07-09 17:47] gilescope commented on #62506
Going to have a crack at repro and minimising.

[2019-07-09 17:51] petrochenkov commented on #61733
What starts working:
[code]
Semicolon-less macro statements can now expand into multiple statements.

[2019-07-09 17:53] nikomatsakis commented on #61949
An example of something which compiles now but I think should not (and would not, if this were fixed):

[code]

the problem here is that the type of `x` should be `Foo<'bar>` -- i.e., it should be constrained to the lifetime of `bar`, but it is actually `Foo<'static>`.

[2019-07-09 17:57] ExpHP commented on #62524
Unable to reproduce. Can you share the `main.rs` file?

[2019-07-09 17:57] ExpHP commented on #62524
oh, never mind

[2019-07-09 18:00] petrochenkov commented on #61733
Interesting cases that work now and keep working:
[code]
In the "reparse everything" model this would expand into `fn foo() -> u8 { { 0 } ; }` and `{ 0 }` would stop being a trailing expression.
However, we do not reparse everything, only the current node (https://github.com/rust-lang/rust/issues/61733#issuecomment-509626449)!
So we get two statements after the expansion - `[Stmt({ 0 }), Stmt(;)]`

[2019-07-09 18:14] ytitov commented on #50133
I would like to add that I would love a solution for this.  I constantly use the `From` trait, but there are cases where `TryFrom` is more appropriate

[2019-07-09 18:22] nikomatsakis commented on #53613
[I left some notes in this Zulip topic](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/.60Self.60.20and.20.60'static.60.20.2361949/near/170476808) that explain one way to fix this problem. The idea is basically to detect `Self` during lowering and take it into account.

[2019-07-09 18:24] nikomatsakis commented on #61949
I left some notes on how to fix this on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/.60Self.60.20and.20.60'static.60.20.2361949/near/170476808)

[2019-07-09 18:37] davidtwco commented on #61949
@rustbot claim

[2019-07-09 18:46] ExpHP commented on #62524
[code]

There's two slicing operations in `find_width_of_character_at_span`. I'm trying to figure out how a non-boundary index could be appearing in there... maybe `unexpected_try_recover` is calling `next_point` with a span that begins at index 10? (where does this come from? `Parser.prev_span`?)  Building a debug compiler to check those log statements...

[2019-07-09 19:11] kankri commented on #62412
Just a quick update: I fixed some of my errors in the source code and then reintroduced the `scopequard::defer!{}` I had commented out, but `rustc` was not panicking any more. Unfortunately I didn't save the exact source file which was causing the dump originally.

[2019-07-09 20:21] nikomatsakis commented on #62539
It looks like the error is issued here:

https://github.com/rust-lang/rust/blob/b8ec4c4d11ede0fba333a0474ed473dbe82aacf1/src/librustc_typeck/check/mod.rs#L1317-L1331

That function is invoked from here:

https://github.com/rust-lang/rust/blob/b8ec4c4d11ede0fba333a0474ed473dbe82aacf1/src/librustc_typeck/check/mod.rs#L1379-L1384

In that caller's location, we can access the argument to the [`Existen

[2019-07-09 20:36] nikomatsakis commented on #61949
OK so having thought this over I have come to the conclusion that the *right* behavior here is to give an error if people use `Self` or `T::Foo` projections from within an `impl Trait` such that they wind up "inheriting lifetimes". It's not an ideal solution but it'll permit many uses while forbidding the cases that are causing trouble and giving us time to fix properly.

The way I think we should

[2019-07-09 20:58] timvermeulen commented on #53485
Good point!

I think the more generic way to do this would be to create an iterator over pairs of consecutive elements and then call `all` on that. We would still probably want an `is_sorted_by` method, though, and I think it would still benefit from having its closure parameter return a `bool`.

[2019-07-09 21:37] dwrensha commented on #58094
With the help of [libfuzzer-sys](https://github.com/rust-fuzz/libfuzzer-sys), I've found a tiny test that reproduces this crash on Linux and Mac:

[code]

[2019-07-09 22:03] #60414 closed

[2019-07-09 22:08] Aaron1011 commented on #62506
I believe this is fixed on the latest nightly

[2019-07-09 22:15] LucioFranco commented on #62506
@Aaron1011 You are right, just updated to latest nightly and I can confirm that it's now working. Thanks. Gonna close this.

[2019-07-09 22:15] #62506 closed

[2019-07-09 22:16] cuviper opened #62543 "Tracking issue for Iterator::partition_in_place"
[code]

`feature = "iter_partition_in_place"`

ref: #62278

[2019-07-09 22:17] cuviper opened #62544 "Tracking issue for Iterator::is_partitioned"
[code]

`feature = "iter_is_partitioned"`

ref: #62278

[2019-07-09 22:34] andrewchambers commented on #59159
Thank you for following up, I appreciate it.

[2019-07-09 22:57] dwrensha opened #62546 "internal compiler error: Error constructed but not emitted"
I see the following error on the `beta` and `nightly` channels, but not on `stable`:
[code]

Found with the help of [libfuzzer-sys](https://github.com/rust-fuzz/libfuzzer-sys).

[2019-07-09 23:53] HyeonuPark commented on #55422
@CAD97 I agree `ManuallyDrop` is useful, but not sure about `ManuallyDrop::read()`. Isn't this thread for stabilizing this method? Is there some use case that can't be reasonably expressed using `MaybeUninit`?

[2019-07-10 01:01] CAD97 commented on #55422
@HyeonuPark The main use case is for in `Drop::drop(&mut self)` and you want to consume one of your members by value, usually because of a strict API that you're wrapping.

[2019-07-10 01:13] abonander commented on #42788
I second the proposal for `&mut [MaybeUninit<u8>]` especially since the API design with `MaybeUninit` seems to be going in that direction anyway; there's just a few methods that I think need to be added to make this work nicely:

[code]

Then implementations that don't read the buffer can override `read_uninit()`  and use `MaybeUninit::as_first_ptr()` to pass it to a syscall *or* copy to it from a

[2019-07-10 01:53] #62263 closed

[2019-07-10 01:53] #62059 closed

[2019-07-10 01:53] #60368 closed

[2019-07-10 02:13] novacrazy commented on #62536
I get the same ICE for this code:

<details>

[code]
</details>

which does give the explicit type, so it's not (entirely) a deduction thing.

Something to note: RLS gives a very crude warning of `array lengths can't depend on generic parameters` in the `new` method, at `[value; N]`. Perhaps it has something to do with that.

Entire build log:

<details>

[code]
</details>

[2019-07-10 02:14] Aaron1011 commented on #62395
Possibly related: The following code:

[code]

produces some strange errors:

[code]

[2019-07-10 02:14] Cldfire opened #62552 "Paragraphs in block doc comments are broken"
I returned to a crate of mine for the first time in quite a while and was perplexed to see that all of the paragraphs in my doc comments were gone, and instead had been turned into line breaks (so all of the paragraphs were squashed together).

Upon investigation I discovered that this was due to my usage of block doc comments (`/** */`) rather than the more common `///` style. It occurs on both t

[2019-07-10 02:17] shepmaster commented on #50291
Chiming in that this confused me as I was preparing for a Rust training session, where I expect it would confuse the students even more.

[2019-07-10 02:28] Stargateur opened #62553 "CString::into_raw() trigger miri"
[code]

This simple code should not trigger any error, except a leak of course. But miri report an error before:

[code]

First, I suspected a miri bug but look like the code of `CString` could be the problem, I don't really understand the code of the [`into_inner()`](https://github.com/rust-lang/rust/blob/e7efdf1c33c699def0e594f03337efc78120bd9c/src/libstd/ffi/c_str.rs#L601) call by [`into_raw()`

[2019-07-10 02:40] dwrensha opened #62554 "ICE: thread 'rustc' panicked at 'capacity overflow'"
I'm seeing the following error on the `nightly` channel, but not on `stable` or `beta`:

[code]

Found with the help of [libfuzzer-sys](https://github.com/rust-fuzz/libfuzzer-sys).

[2019-07-10 02:41] norcalli commented on #31436
@shepmaster I agree with the type inference. Funnily enough, though, I tried your exact code with a somewhat naive `try_` implementation and it works fine: https://github.com/norcalli/koption_macros/blob/4362fba8fa9b6c62fdaef4df30060234381141e7/src/lib.rs#L23

[code]

works just fine.

[2019-07-10 02:46] shepmaster commented on #62553
/cc @RalfJung

[2019-07-10 02:47] shepmaster commented on #62553
The code in question:

https://github.com/rust-lang/rust/blob/78ca1bda3522b14bc033/src/libstd/ffi/c_str.rs#L605

[2019-07-10 02:54] shepmaster commented on #31436
Yes, but your macro invocation returns a `String`, not a `&str`, requiring ownership. You don't show the surrounding code, but this will fail because we don't have ownership of the `Config`:

[code]

[code]

It also unconditionally allocates a `String`; I used `unwrap_or_else` in this example to avoid that inefficiency.

[2019-07-10 03:16] Stargateur commented on #62553
[code]

Should be ok for me but it's still trigger miri

[2019-07-10 03:43] tmandry opened #62556 "wasm test failures do not contain error messages"
When our tests fail in bors on a wasm target, there is no error message except `RuntimeError: unreachable` ([example](https://dev.azure.com/rust-lang/rust/_build/results?buildId=2616)). There is nothing to print the panic message to the console.

I think this could be fixed by adding [console_error_panic_hook](https://github.com/rustwasm/console_error_panic_hook) as dependency somehow, but I'm not

[2019-07-10 03:55] dwrensha commented on #61858
I'm seeing the same behavior on the following programs:
[code]

and
[code]

These were found with the help of [libfuzzer-sys](https://github.com/rust-fuzz/libfuzzer-sys).

[2019-07-10 04:07] howaboutsynergy commented on #27189
That [workaround](https://github.com/rust-lang/rust/issues/27189#issuecomment-123385928) is still true today:
[code]
all it does is just call `panic!()` when the error number is == `val`
this shouldn't cause any delays unless `RUST_BACKTRACE` env. var. is set to `1` or `full`.

<details>

`src/librustc_errors/lib.rs`
[code]

</details>

<details><summary>

example:
`cargo rustc --color=always -v -

[2019-07-10 04:50] lzutao commented on #62531
Interesting, If I look at MIR output, I think it already have enough information:
[code]

[2019-07-10 06:16] crlf0710 commented on #35785
@duester
That's a little strange. Could open "x64 Native Tools Command Prompt for Visual Studio 2019" from start menu, and execute the following command:
[code]
And see whether the output is English?

If the output's not in English, would you mind open "Visual Studio Installer" from start menu, choose "Modify" for the corresponding Visual Studio edition, and in the Language packs tab, install the

[2019-07-10 07:25] RalfJung commented on #62553
On a first glance this looks like an issue I have seen before, where the problem is that `mem::forget` is a normal function call. So the `std::ptr::read(&self.inner)` creates a raw pointer and reads from it, but then the original pointer `self` gets used again, which invalidates the raw pointer. So this is basically the same as
[code]

[2019-07-10 08:21] mati865 opened #62558 "Tools are not available on cross compiled platforms since #61861"
Moved from https://github.com/rust-lang/rust-clippy/issues/4267

#61861 was merged in #61962, since then Rustfmt fails to build when cross compiling which is the case for almost all non Tier 1 platforms.
Clippy and RLS are failing with similar error.

Error on `aarch64-unknown-linux-gnu`:
[code]
https://api.travis-ci.com/v3/job/209363492/log.txt

@rustbot modify labels: T-dev-tools A-rustbuild

[2019-07-10 08:22] mati865 commented on #62558
@rustbot modify labels: T-dev-tools A-rustbuild

[2019-07-10 08:29] Manishearth commented on #62558
Why does Clippy depend on rustfmt? We only have it in our Travis tests, and even then a test-fail shouldn't cause an unshipped tool

[2019-07-10 08:35] mati865 commented on #62558
Modified issue description, it depends on `fmt_macros` but the error is basically the same.

[2019-07-10 08:57] gilescope commented on #62506
minimised repro here: https://github.com/gilescope/clique/tree/repro
(more minimising to come)

[2019-07-10 08:58] gilescope commented on #62506
Even better, not needed.

[2019-07-10 08:58] eddyb commented on #62401
@kper look at the number of tests reported by `./x.py test --stage 1 src/test/run-pass`.
They should be identical before and after the move.

[2019-07-10 08:59] #62325 closed

[2019-07-10 09:10] abonander commented on #62530
Related to #39801? (Similar situations it seems, like trait resolution should attempt deref coercion before erroring)

[2019-07-10 09:16] danielhenrymantilla commented on #62553
What about:

[code]

[2019-07-10 09:22] RalfJung commented on #62553
That's basically a transmute, but with even fewer compiler-level checks. At that point I'd just recommend transmuting `self` to `Box<[u8]>`.

[2019-07-10 09:25] gnzlbg commented on #52976
@RReverser

@Lokathor pointed out, that this "implementation detail" is "documented" in the [`repr(transparent)` RFC](https://github.com/rust-lang/rfcs/blob/master/text/1758-repr-transparent.md#detailed-design):

`Box<T>` is not user code, but part of the implementation, so it could rely on this, and document that, at least for `Box<T>` this will always hold.

[2019-07-10 09:53] gnzlbg commented on #51540
Can someone explain how this API fits with `GlobalAlloc` ?

AFAICT, it is not part of the `GlobalAlloc` trait. Allocators can return `ptr::null_mut()` if an allocation cannot be satisfied, and the `GlobalAlloc::alloc` documentation calls out that this isn't necessary due to OOM (https://doc.rust-lang.org/1.29.1/std/alloc/trait.GlobalAlloc.html#errors).

In C, `errno` can be used to query whether `

[2019-07-10 09:59] gnzlbg commented on #51540
Maybe this API has nothing to do with OOM, or error handling in general, and it is supposed to just be called by code that wants to terminate the process if any allocation error happens ?

If so I find the name a bit misleading, and I still don't know how can an implementer of this API be able to to anything better than printing "An allocation error happened for this Layout", without any specific

[2019-07-10 10:09] pnkfelix commented on #60070
closing as duplicate of #62529, which is where I will try to track future instances of this field of ICE.

[2019-07-10 10:09] #60070 closed

[2019-07-10 10:09] pnkfelix commented on #57485
closing as duplicate of #62529, which is where I will try to track future instances of this field of ICE.

[2019-07-10 10:09] #57485 closed

[2019-07-10 10:11] pnkfelix commented on #53420
(duplicate of #62529, which is where I will try to track future instances of this field of ICE.)

[2019-07-10 10:11] pnkfelix commented on #52812
closing as duplicate of #62529, which is where I will try to track future instances of this field of ICE.

[2019-07-10 10:11] #52812 closed

[2019-07-10 10:19] pnkfelix commented on #50886
closing as duplicate of #62529, which is where I will try to track future instances of this field of ICE.

[2019-07-10 10:19] #50886 closed

[2019-07-10 10:19] pnkfelix commented on #48112
closing as duplicate of #62529, which is where I will try to track future instances of this field of ICE.

[2019-07-10 10:19] #48112 closed

[2019-07-10 10:20] pnkfelix commented on #42950
closing as duplicate of #62529, which is where I will try to track future instances of this field of ICE.

[2019-07-10 10:20] #42950 closed

[2019-07-10 10:20] pnkfelix commented on #33364
closing as duplicate of #62529, which is where I will try to track future instances of this field of ICE.

[2019-07-10 10:20] #33364 closed

[2019-07-10 10:22] pnkfelix commented on #30860
closing as duplicate of #62529, which is where I will try to track future instances of this field of ICE.

[2019-07-10 10:22] #30860 closed

[2019-07-10 10:24] pnkfelix commented on #29997
closing as duplicate of #62529, which is where I will try to track future instances of this field of ICE.

[2019-07-10 10:24] #29997 closed

[2019-07-10 10:38] pnkfelix commented on #62529
There is a good chance that all of these would be resolved by implementing lazy normalization, #60471

[2019-07-10 10:59] pnkfelix commented on #32655
(hmm it seems like this was fixed, but I'm not clear what PR actually fixed it. In particular, PR #32671 never landed...)

[2019-07-10 11:15] pnkfelix commented on #32655
well bisection indicates it was fixed (in the sense that we started issuing the lint even when the custom attribute was hidden) between nightly-2016-04-28 (cda7c1cf2 2016-04-27) and nightly-2016-05-07 (62e2b2fb7 2016-05-06).

rustup says we don't have prebuilt distributions for the dates between those two points.

... oh, maybe I should try looking at the slew of commits from LeoTestard referencin

[2019-07-10 11:24] pnkfelix commented on #56254
Just a quick note: If we are still interested in gathering data about how much code was affected by adding the restriction to two-phase borrows, one source of data I had not considered is the set of commits that land that reference the lint's tracking issue #59159

(I count thirteen commits as of today that reference the lint issue.)

It won't be a complete list, of course, but it is a different d

[2019-07-10 11:33] duester commented on #35785
@crlf0710, thanks! The hint about installing the English language pack has made the previous error disappear. But now I have another message while running in Idea:
[code]

I haven't changed the path to the std library, it's looks like `C:\Users\m.dyuster.TCSBANK\.rustup\toolchains\stable-x86_64-pc-windows-msvc\lib\rustlib\src\rust\src`

[2019-07-10 11:46] RReverser commented on #52976
Fine by me - not the outcome I initially hoped for, but it does the trick and reaches same goal anyway :)

[2019-07-10 12:07] dwrensha commented on #61858
Another program that I also observe to make `rustc` run out of memory:
[code]

[2019-07-10 12:16] SimonSapin commented on #53491
What are the remaining concerns blocking stabilization of the rest of the methods? Doing everything through `*foo.as_mut_ptr()` gets very tedious, and sometimes (for `write`) involves more `unsafe` blocks than necessary.

[2019-07-10 13:11] KrishnaSannasi commented on #53491
@SimonSapin To emulate `write`, you could replace the whole `MaybeUninit` with no unsafe using `*val = MaybeUninit::new(new_val)` where `val: &mut MaybeUninit<T>` and `new_val: T` or you could use `std::mem::replace` if you want the old value.

[2019-07-10 13:16] RalfJung commented on #62347
Hooray, https://github.com/rust-lang/rust/pull/62441 landed! Looks like this is blocked on a serde update now, judging from https://travis-ci.com/rust-lang/miri/jobs/214779163.

[2019-07-10 13:24] nagisa opened #62559 "Rustdoc should not fail to generate documentation when deep types are involved"
Ref. https://github.com/rust-lang/rust/issues/62059

To fix the referenced issue we raised the recursion limit, however if there is a type that exceeds this limit again, we will start failing to generate documentation for the crate in question and all the dependent crates using these deep types again.

rustdoc uses the regular trait selection mechanism to check for auto-traits, so it is not too ea

[2019-07-10 13:41] crlf0710 commented on #35785
Yes, this is the same error as before, it's because you didn't install windows sdk. Choose the newest one in the visual studio installer too.

[2019-07-10 13:57] danielhenrymantilla commented on #62553
Isn't transmuting `T` to `MaybeUninit<T>` always valid?

[2019-07-10 14:08] RalfJung commented on #62553
There's in fact a safe method for it, called `MaybeUninit::new`. ;)

But my suggestion does not involve `MaybeUninit`.
[code]

[2019-07-10 14:09] SimonSapin commented on #51540
@gnzlbg I’m having a hard time understanding the first of your last two messages. This attribute has nothing to do with querying information from the allocator.

When an allocation fails (which in `GlobalAlloc::alloc` is represented by returning null), APIs like `Vec::push` that don’t want to propagate that failure to their caller can instead call `std::alloc::handle_alloc_error(layout: Layout) ->

[2019-07-10 14:28] Centril commented on #62553
While using `mem::transmute` + comment seems like the better option in the interim, my long-term preference here would be to just remove the check that doesn't let you destructure `Drop`-implementing types as discussed in https://internals.rust-lang.org/t/pre-rfc-destructuring-values-that-impl-drop/10450.

[2019-07-10 14:29] mathstuf commented on #50297
Apologies if this is the wrong place for this, but it seems to be the furthest along the road I've traveled in search of skipping tests by detecting support for what is being tested at runtime. Basically something like `#[ignore(lacks_support)]` where `fn lacks_support() -> bool` (or maybe `-> Result<(), String>` to give a reason support is missing) is a function within the relevant scope. My use

[2019-07-10 14:29] Centril commented on #62552
@Cldfire Could you try bisecting the regression to an old Rust version to see when it about happened?

[2019-07-10 14:36] gnzlbg commented on #51540
Thanks for the explanation.

I'm still trying to fill in the blanks about how `std::alloc::handle_alloc_error` is supposed to print the allocation error message without knowing anything about the allocator. As in, if we were to go from `Box<T>`/`Vec<T>` to `Box<T, A>`/`Vec<T, A>`, how is `handle_alloc_error` supposed to know which `A` was used for the allocation ?

Or is the intent to only use thi

[2019-07-10 14:43] Ekleog commented on #62149
@cramertj (Reminder: I do use async/await and want it to stabilize ASAP) Your argument sounds like an argument for delaying stabilization of async/await, not for stabilizing `async unsafe` right now without proper experimentation and thought.

Especially as it wasn't included in the RFC, and will potentially trigger another “impl trait in argument position” shitstorm if it was forced out this way.

[2019-07-10 15:03] RalfJung opened #62562 "serde no longer builds with latest rustc (master)"
Looks like something that landed in the commit range https://github.com/rust-lang/rust/compare/0b680cfce544ff9a59d720020e397c4bf3346650...d4e15655092d1bdae79619eb0ff2c3cb5468fc36 broke [building serde](https://travis-ci.com/rust-lang/miri/jobs/214779163):
[code]
I would try to reproduce locally but `rustup-toolchain-install-master` takes many hours to download rustc+libstd currently. (This bug is

[2019-07-10 15:07] Cldfire commented on #62552
Yeah, I plan on investigating this and putting a PR together today.

[2019-07-10 15:10] RalfJung commented on #62189
Should this be marked regression-from-stable-to-beta now?

[2019-07-10 15:11] Mark-Simulacrum commented on #62562
This is https://github.com/rust-lang/rust/pull/62393 almost certainly. @petrochenkov plans to investigate.

[2019-07-10 15:16] SimonSapin commented on #51540
The message that libstd prints is [`"memory allocation of {} bytes failed", layout.size()`](https://github.com/rust-lang/rust/blob/d4e15655092d1bdae79619eb0ff2c3cb5468fc36/src/libstd/alloc.rs#L202) regardless of the allocator type. It doesn’t print more information than that. I am not aware of any plan or request to make it print more than that (before yours today, if we take this as a feature req

[2019-07-10 15:25] gnzlbg commented on #51540
I think I misunderstood what the API was for. I thought this was an API for printing **why**, as in, the reason, an allocation failed.

Instead, it appears to be for printing within libstd an error message saying that an allocation attempt for some layout failed, and that's it. Since the API is public and stable, downstream crates can use it to print the same error message that libstd does.

What

[2019-07-10 15:44] Mark-Simulacrum opened #62563 "test triagebot issue body commands"
This appears to work in a test repo (https://github.com/foreign-rust-tester/triagebot-test/issues/6) but didn't work earlier today (https://github.com/rust-lang/rust/issues/62558).

@rustbot modify labels: T-dev-tools A-rustbuild

[2019-07-10 15:45] #62563 closed

[2019-07-10 15:46] shepmaster commented on #50297
@mathstuf I think [Is there a simple way to conditionally enable or ignore entire test suites in Rust?](https://stackoverflow.com/q/50565893/155423) and [Is it possible to conditionally enable an attribute like `derive`?](https://stackoverflow.com/q/42551113/155423) cover your needs if it's statically determinable, like a feature flag.

[2019-07-10 15:50] SimonSapin commented on #51540
I’m not sure if you mean `handle_alloc_error()` or `#[alloc_error_handler]` when you say “the” API.

libstd’s implementation of `handle_alloc_error` (which you can think of as being provided through `#[alloc_error_handler]` by libstd, though it isn’t literally) aborts the process even if `panic!` would unwind the thread.

`#[alloc_error_handler]` can only be used when libstd is not used. It exists

[2019-07-10 15:58] #62307 closed

[2019-07-10 15:58] mark-i-m commented on #51540
In my case, I'm using `alloc_error_handler` to trigger the OOM killer in my OS kernel. The ability to customize the behavior of an OOM is important in `no_std` settings.

[2019-07-10 16:02] mathstuf commented on #50297
Using a `build.rs` to determine it is probably sufficient for now (though the Rust bindings for performing these checks is what is being built…so that seems awkward…unless tests can have their own `build.rs`?), but I think other things also fit under this umbrella. This also has precedent in other test frameworks (e.g., pytest has [support for skipping](https://docs.pytest.org/en/latest/skipping.h

[2019-07-10 16:02] duester commented on #35785
@crlf0710, thank you again. Now it's compiling and running. I'm happy ;)
Just out of curiosity: was I supposed to know in advance that I would need an English lang pack and a Windows SDK?

[2019-07-10 16:07] gnzlbg commented on #51540
@mark-i-m

How are you querying that the error is an OOM ? Or which allocator it originated from ?

---

@SimonSapin

Yes, that's what I meant.

Sounds to me that this problem could be solved with an `#[abort_handler]` instead. Although @mark-i-m has other interesting uses for the `alloc_error_handler`.

[2019-07-10 16:36] ecstatic-morse commented on #62531
@mati865 Whether a function is marked `const` at the source level has no effect on whether or not it can be optimized by LLVM. Even if `to_ne_bytes` was not `const`, inlining and const propagation could conceivably reduce this to a constant.

[2019-07-10 17:03] RalfJung commented on #62522
We should! See https://github.com/rust-lang/unsafe-code-guidelines/issues/90.

[2019-07-10 17:09] RalfJung commented on #53491
@est31 these are good points. I'd be fine pushing back deprecation by a release or two.

Any objections?

[2019-07-10 17:15] mathstuf commented on #50297
Actually, `build.rs` would completely break for cross-compiling because what matters is the target machine's feature set, not the host machine's, so runtime-determined skipping still seems very relevant to me in the wider ecosystem.

[2019-07-10 17:21] RalfJung commented on #61015
If we don't emit `StorageDead`, that basically means there is an implicit `StorageDead` when the function returns. That seems fine for me.

https://github.com/rust-lang/rust/issues/42371 is a real problem IMO, but likely unrelated.

[2019-07-10 17:23] CAD97 commented on #62149
An alternative design, though one that definitely requires complicated extensions: `async unsafe fn` is `unsafe` to `.await`, not to `call()`. The reasoning behind this being that _nothing unsafe **can** be done_ at the point where the `async fn` is called and creates the `impl Future`. All that step does is stuff data into a struct (in effect, all `async fn` are `const` to call). The actual point

[2019-07-10 17:38] danielhenrymantilla commented on #62553
This leads to @Stargateur 's suggestion, which seems to trigger Miri nevertheless.

This indeed solves the problem here, but I was wondering about the more general pattern (See [this URLO post](https://users.rust-lang.org/t/blog-post-breaking-news-non-lexical-lifetimes-arrives-for-everyone/29714/8)):

what if, for instance, `CString` had a second non ZST field: needing to extract an unaliased poin

[2019-07-10 17:39] mark-i-m commented on #51540
@gnzlbg

In my system, the global allocator is the only place where an alloc error can be triggered in kernel mode, so the handler always knows it is an OOM (failures due to fragmentation are functionally the same, so they should also trigger the OOM killer/compaction daemon/swapping). `handle_alloc_error` just calls into the memory manager, which has access to the allocator anyway.

I haven't rea

[2019-07-10 17:40] retep998 commented on #35785
Please feel free to point out places where Rust tells you to install Visual Studio but does not tell you to install the Windows SDK, so that we can fix those places.

It might still be worth implementing the text encoding version of the fix for people who don't have the English language pack, though I really wish we could just get unicode output out of VS without having to specify a language.

[2019-07-10 18:00] cramertj commented on #62149
I believe that an effects-based `unsafe Future` trait is not only out of reach of anything we know how to express in the language or the compiler today, but that it would ultimately be a worse design due to the additional effect-polymorphism that it would require combinators to have.

It's true that since an `async fn` can't run any user code prior to being `.await`ed, any undefined behavior would

[2019-07-10 18:08] GuillaumeGomez commented on #62410
Normally, it's up to the person writing the doc to precise such a thing. I'm afraid that if we add it, some code blocks that should have it will have it, but a lot others won't have it. And since doc readers will be used to see this UI element for this kind of code blocks, they won't pay attention and then troubles will start.

Not sure if I was clear enough?

[2019-07-10 18:22] derekdreery commented on #44095
Maybe this could go in the next edition, if it will break stable code?

[2019-07-10 18:30] ecstatic-morse commented on #53819
I've been having some zulip conversations with @eddyb regarding dataflow-based const qualification. I'd like to help drive this forward so I'm sharing my current thoughts on the issue.

A problem quickly arises when trying to fit const qualification into the existing dataflow framework: namely, how to handle a definition of one local that has a data dependency on another (e.g. `_1 = _2`). We'd lik

[2019-07-10 18:41] nikomatsakis opened #62566 "include material on async fn in the Rust reference"
This is a "rust-lang/rust" placeholder for https://github.com/rust-lang-nursery/reference/issues/634, since that exists in another repo/org.

[2019-07-10 18:50] fabianvdW opened #62567 "Compile times suddenly extremly high"
Since one of my latest changes to my project, the compile times have been extremly high (jumping to >1min from about 15secs).

I tried compiling the lib of this crate (it is to large to post here):
https://github.com/fabianvdW/ChessInRust
with `cargo build--release --lib`

Compiler output for release build:
[code]

Note that this is with `lto=true`

Time to investigate with `-Ztime-passes in night

[2019-07-10 19:00] saleemjaffer commented on #57431
@pnkfelix I was actually working on #59808. I have some time now and can pick this up again!

I actually figured out where in the code the complier inferred a `&X` for `ref_term`. But again do we want to do the short term or the long term solution?

[2019-07-10 19:01] saleemjaffer commented on #62022
@chansuke Are you still working on this? If not I can pick it up :)

[2019-07-10 19:06] Ekleog commented on #62149
@cramertj The fact you're even having to argument for this (and I'm not suggesting I think the current solution is a bad one, or that I have a better idea) means, to me, that this debate should be at a place people who care about rust should follow: the RFC repository.

As a reminder, a quote from its readme:

I'm not saying any change to the current design will happen. Actually, thinking about it

[2019-07-10 19:38] mjbshaw commented on #54890
It's been 9 months since this was implemented. Can this be stabilized now?

[2019-07-10 19:47] cramertj commented on #62567
What was the change that caused the increase?

[2019-07-10 19:56] joshtriplett opened #62569 "Should Rust still ignore SIGPIPE by default?"
Back in 2014, the Rust startup code (which runs before main) started ignoring SIGPIPE by default: https://github.com/rust-lang/rust/pull/13158

This dates back to when Rust had a runtime and a green-threads implementation, and more magic handling of I/O. The pull request mentions that it "brings the behavior inline with libgreen".

This doesn't seem to be documented anywhere, as far as I can tell;

[2019-07-10 19:58] fabianvdW commented on #62567
I don't know. I can't pinpoint what exactly does it, but it definitly was [this commit](https://github.com/fabianvdW/ChessInRust/commit/563754658c120e5429e5f2d8eca6351c9bf43057).

There is nothing really happening, just a new Struct and some some changes to old structs and arguments of functions. I am a newbie, so I don't know what could potentially be dangerous, but the one thing I would say is t

[2019-07-10 20:03] Centril commented on #53491
We've already said in the 1.36.0 release blog post:

As such, I think we should avoid flip-floppery on this one as that does not send a good message and it is confusing. Moreover the deprecation date should also be widely known given that it has been mentioned in the blog post.

[2019-07-10 20:08] SimonSapin commented on #53491
It maybe be late to go back on the deprecation of `uninitialized`. But maybe we could decide on a policy to only emit deprecation warnings in Nightly after the replacement has been on the Stable channel for some time?

For example, Firefox compromised on [requiring a new Rust version two weeks after its release](https://wiki.mozilla.org/Rust_Update_Policy_for_Firefox).

[2019-07-10 20:13] shepmaster commented on #53491
I disagree that a mention of a data in a blog post is such an iron-clad degree. It's in a repo and we can submit an edit.

"flip-floppery" is a bad thing, but *changing our minds based on data and feedback* is not that.

I don't much care one way or the other about the actual decision, but I don't believe that people will be confused by the proposal. Those that have seen the blog post or the depre

[2019-07-10 20:18] RalfJung commented on #53491
Fully agreed. I don't see a bad message being sent by saying "hey, our deprecation schedule was a bit too aggressive, we moved things back by a release". In fact IIRC I mentioned during landing the stabilization PR that the precedent is to deprecate 3 releases in the future and not 2, but for some reason we went with 2. Three releases means 1 entire release between stable-gets-released-with-the-de

[2019-07-10 20:30] Centril commented on #53491
I will agree to 1.39 but no later than that. You will also need to update the release notes in addition to the blog-post.

[2019-07-10 20:34] nikic commented on #62567
Perf shows 50% spent in DSE with 25% in PointerMayBeCaptured. Sounds like https://bugs.llvm.org/show_bug.cgi?id=37588. There's a few sources of quadratic behavior in DSE that don't seems to have any simple solution. In the meantime, try to avoid doing a huge amount of stack allocations...

[2019-07-10 20:35] nikomatsakis commented on #62566
I am taking a first pass at this.

[2019-07-10 20:37] seanmonstar commented on #44109
It looks like the only left is the stabilization PR? I can make one if so.

[2019-07-10 20:38] nikomatsakis commented on #62149
I am writing a first pass at reference material for the book. Along the way, I noticed that the async-await RFC says that the `?` operator's behavior has not yet been determined. And yet it seems to work fine in an async block ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ba95c1f8dfba8f33240a56bfe243ac20)). Should we move that to a separate feature gate? Or

[2019-07-10 20:41] nikic commented on #62567
Good news! Your case is fixed in LLVM 9, likely by https://reviews.llvm.org/rL357257. So this issue will resolve itself when the LLVM 9 update lands.

[2019-07-10 20:41] fabianvdW commented on #62567
Dropping the stack allocations would be a major performance drop :/

[2019-07-10 20:41] Centril commented on #44109
@seanmonstar I'm not sure about the design yet (e.g. I'm not convinced `#[non_exhaustive]` is the better design as compared to `struct A { field: u8, .. }`) so it's not time for a stabilization report and at any rate some language team member should review the tests and write a report before we stabilize.

[2019-07-10 20:41] fabianvdW commented on #62567
Great! :D When will it land? Is it in the next offical release? :D

[2019-07-10 20:44] cramertj commented on #62149
Yes, it was discussed and resolved along with the behavior of `return`, `break`, `continue` et. al. which all do "the only possible thing" and behave as they would inside of a closure.

[2019-07-10 20:50] seanmonstar commented on #44109
@Centril a [stabilization report](https://hackmd.io/s/S1et9oSnV) is mostly done above.

[2019-07-10 20:53] joshtriplett commented on #62569
I'm not sure if the @rust-lang/libs team is the right team for this; suggestions welcome if another team would be the right owner for "behavior of Rust at application start-up".

[2019-07-10 21:07] Centril opened #62570 "Async blocks are leaky about wording wrt. `?` in diagnostics"
E.g. consider:

[code]

which yields the diagnostic:

[code]

Ostensibly the user might think of `fn foo` as "the function" but it is in fact the `async` block that is "the function" here. That seems like something which would confuse users who are not familiar with the lowering and whatnot (most users).

[2019-07-10 21:09] lzutao commented on #34761
#62568 will remove support for `#[unsafe_destructor_blind_to_params]` attribute.

[2019-07-10 21:13] Centril commented on #44109
That seems like a good start aside from possible changes that need to be made. I'll (or someone else will) talk to @davidtwco to make necessary changes and elaborations once the team has given initial clearance for stabilization.

[2019-07-10 21:56] spunit262 commented on #62553
@danielhenrymantilla
`ManuallyDrop` would be more appropriate than `MaybeUninit` as it more correctly documents what you're doing. Also both `MaybeUninit` and `forget` use `ManuallyDrop` internally.
[code]

[2019-07-10 22:05] bobbobbio opened #62571 "rustdoc crashes parsing strange doc-comment on 1.36"
After upgrading to 1.36 rustdoc is crashing like this when run on my crate:
[code]

It doesn't produce the line that caused it to crash and the crate is quite large.

It seems to correspond with perhaps this issue in pulldown-cmark:
https://github.com/raphlinus/pulldown-cmark/issues/306

[2019-07-10 22:35] bobbobbio commented on #62571
by process of elimination I determined this was the offending doc-comment:
[code]

[2019-07-10 22:40] petrochenkov commented on #62562
Minimized and reproduced.

https://github.com/rust-lang/rust/pull/62393 broke something unexpected - macro encoding in metadata, which is *also* done through pretty-printing at the moment (note that this is not a proper way to encode macro definitions, we don't have cross-crate hygiene due to this).

Nested macros in particular become broken in metadata:
[code]

I still need to investigate why exa

[2019-07-10 22:42] tmandry opened #62572 "Pretty-printing support for Rust generators"
Support printing Rust generators in a way that looks more like enums. Generators (as of #59897) are represented in Rust as variant layouts with some extra fields on the outer layout. These extra fields (which are upvars, captured from the environment of the generator closure) seem to cause printing to become less pretty.

Today printing a Rust generator from `rust-gdb` looks like this:

`
$2 = gen

[2019-07-10 22:46] daboross opened #62573 ""overflow evaluating the requirement" documenting synstructures in rustdoc beta, but not rustdoc stable nor rustc beta"
I'm in a project which depends on both `syn` and `synstructures` crates. Using rustc `1.37.0-beta.2` or `rustc 1.38.0-nightly (78ca1bda3 2019-07-08)`, I can no longer document this crate with its dependencies.

The following error occurs:

[code]

To reproduce, create an empty new project, and add the following dependencies:

[code]

Running `cargo +stable doc` with rust 1.36.0 succeeds, but runni

[2019-07-10 23:07] its-pointless commented on #62558
only way i got it to build cross tools was from example in original post copying librustc_macros-97bf1e9c420f9886.so over librustc_macros-2f4546e1163449fb.so
this and suddenly rust nightly std library doubling in size... fun times.

[2019-07-10 23:24] Centril commented on #62573
cc @nagisa

[2019-07-10 23:27] sfackler commented on #62569
If we stop ignoring SIGPIPE by default, we will break back compat for every socket server written in Rust, right?

[2019-07-10 23:35] Centril commented on #62569
Why this and e.g. not an attribute on `fn main() {`? (As a general rule, I think having program semantics defined as much as possible by the source code is preferable to flags since it makes things more standalone.)

[2019-07-10 23:36] joshtriplett commented on #62569
@sfackler Right now, we have inconsistent behavior, where your socket server will also break if you ever write `main()` in any language other than Rust, and turn your code into a library. That flies in the face of one of Rust's greatest strengths: "we don't have a runtime". I discovered this when looking over the pre-main startup code.

At the very least, we need to *document* that we ignore SIGPI

[2019-07-10 23:57] petrochenkov commented on #62562
Fixed in https://github.com/rust-lang/rust/pull/62574.

[2019-07-11 00:00] tmandry opened #62575 "Better greedy layout computation for generators"
I've been thinking about a new approach for computing the layout of generators, since I merged #59897. Actually, I've been thinking about it before that, but the approach there felt a bit safer to start with.

The idea is that we use the struct layout computation, rather than the enum computation, as a starting point, and add in the fact that fields can overlap. The basic algorithm is simple:

- W

[2019-07-11 00:09] ePirat opened #62576 "Cross-compile to windows using clang fails"
Trying to cross-compile to Windows (`x86_64-pc-windows-gnu`) with clang and lld fails as it tries to use the `--enable-long-section-names` which lld does not have.

[code]

[2019-07-11 00:09] nagisa commented on #62573
Duplicate of https://github.com/rust-lang/rust/issues/62059.

[2019-07-11 00:09] #62573 closed

[2019-07-11 00:14] JohnTitor commented on #49919
This seems no longer reproduced in [the latest stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c63e18a3a38b42850911d0068aaab38b) (also beta and nightly).

@rustbot modify labels: +E-needstest

[2019-07-11 00:50] Cldfire commented on #62552
Update: I've pinpointed the cause of the issue to #60140 (commit 303016485b63aeeaa4ad00a2102150badad3b289). The broken behavior was introduced by the upgrade to pulldown-cmark 0.4.1.

I looked over the commit and nothing stood out to me as being the potential cause, which implies that the issue is within pulldown-cmark itself. In any case, I don't really have the time to go digging deeper into the

[2019-07-11 01:00] tmandry commented on #62506
I think a regression test would still be a good idea.

[2019-07-11 01:05] Aaron1011 opened #62579 "ICE: "non-Scalar ConstValue encountered in super_relate_consts" with const generics"
The following code:

[code]

Produces an ICE:

[code]

[2019-07-11 01:14] Cldfire commented on #62552
I investigated a little more and found out that this issue appears only when I have whitespace in the blank lines between paragraphs (something that my editor sometimes leaves due to how it handles indentation).

Let's work from this example.

[code]

Documenting this results in:
![image](https://user-images.githubusercontent.com/13814214/61014593-3bf5f300-a356-11e9-8b78-2894b86b9802.png)

Correct

[2019-07-11 01:55] clarfon commented on #44109
@Centril It was originally decided in the RFC to not add extra syntax for this, and so the RFC process then decided that an attribute was better. The reasoning is that, if you want to add extra syntax for it, the attribute can simply be deprecated; syntax changes cannot.

I feel like stabilising now as-is is *much better* of a solution than delaying because the syntax isn't as preferred.

[2019-07-11 02:01] ehuss commented on #62552
I do not think so.  My reading of the commonmark spec is that a "blank line" may contain spaces.  I have filed https://github.com/raphlinus/pulldown-cmark/issues/370 for this issue.

[2019-07-11 02:30] #62273 closed

[2019-07-11 02:30] #62165 closed

[2019-07-11 02:43] joshlf opened #62581 ""Cycle computing supertraits" error could be more helpful"
Consider the following code:

[code]

Trying to compile it, we get the following error:

[code]

To most programmers, this just looks like Rust won't let you have a trait bound which depends on an associated type in the trait being defined. That's what I thought for a long time. But that's not actually true - what's actually going on is that in order to figure out which `F` is being referred to in

[2019-07-11 02:47] ngolin opened #62582 "rustc wrongly reports conflicting implementation"
**`String` is not a `Copy`, there should be no conflicts.**
[code]

[code]

[2019-07-11 02:50] #62582 closed

[2019-07-11 02:50] ngolin commented on #62582
I missed the note at the bottom.

[2019-07-11 02:55] Stargateur commented on #62553
So we have 2 clean solutions that doesn't trigger miri what do we pick ?

[2019-07-11 03:00] Cldfire commented on #62552
Cool, thanks!

[2019-07-11 03:11] Centril commented on #44109
I'm aware of what the RFC decided. They are however not final and subject to change.

While reading the discussion on the RFC I found the arguments in favor of an attribute to be unpersuasive whereas I find `..` to be natural from a consistency POV in that it is unsurprising given how pattern matching syntax already works.

I also agree in particular with @glaebhoerl:

I also agree with @petrochen

[2019-07-11 06:25] hellow554 commented on #62571
Excuse me? What kind of bug is this? ^^ Thanks for finding. I managed to reduce it to this:

[code]

`cargo doc` then gives me:

[code]

[2019-07-11 06:36] hellow554 commented on #62571
This is an issue in the pulldown-cmark parser and I **think** it has already been fixed in https://github.com/raphlinus/pulldown-cmark/commit/238d827fb6b2d1347605424e234a404b89a39f47

@raphlinus are you planning to release a version 0.5.3 soon so rustdoc can use that to fix this issue?

[2019-07-11 06:45] hellow554 commented on #62571
@Centril Are there any plans of introducing a new tag, a la S-waiting-for-upstream? This could be useful for LLVM issues and this one in particular? What do you think? Can you bring in that idea to the next Rust meeting?

[2019-07-11 06:50] raphlinus commented on #62571
We can release an 0.5.3 soon. The other thing I probably want to get in is https://github.com/raphlinus/pulldown-cmark/issues/356 (just the main emphasis, not the table stuff), but we don't have a patch for that yet. I'll see what I can do.

[2019-07-11 07:55] gbenattar commented on #62562
Can we get an update? I

[2019-07-11 08:06] dtolnay commented on #62562
It will take a day or two for the bug to be fixed in nightly. I would recommend using an older nightly for now; *nightly-2019-07-10* or older should work.

[2019-07-11 08:11] AlterionX commented on #62562
https://github.com/serde-rs/serde/issues/1568 actually, one more day before that, __nightly-2019-07-09__

[2019-07-11 08:13] #62236 closed

[2019-07-11 08:13] #62314 closed

[2019-07-11 08:13] #44692 closed

[2019-07-11 08:13] #52363 closed

[2019-07-11 08:13] #30786 closed

[2019-07-11 08:14] dtolnay commented on #62562
nightly-2019-07-10 does work. The version reported by the compiler binary is off by one. The first broken nightly is nightly-2019-07-11 which contains "rustc 1.38.0-nightly (cd2cd4c96 2019-07-10)".

[2019-07-11 08:20] AlterionX commented on #62562
Ah, okay, my bad.

[2019-07-11 08:25] eddyb commented on #62350
@aosmond @Gankro Do you need this fixed on beta as well, btw?

[2019-07-11 08:32] duester commented on #35785
@retep998, sorry, seems I was a bit inattentive. Now I double-checked: after starting rustup-init.exe the screen info says, I should assure that I have Windows SDK installed. So my fault, nothing to fix there :) Thanks.

[2019-07-11 08:35] matthijskooijman commented on #60019
I also ran into this issue and traced it a bit more. I've found https://github.com/paholg/typenum/pull/115 which seems related, but is not (symptoms are different and the patch does not help). I've also found that replacing the `libllvm7` package with the [one from Debian](https://packages.debian.org/buster/libllvm7) fixes the problem, so this is *probably* a Raspbian-specific problem.

[2019-07-11 08:58] KodrAus commented on #62482
So I’m using this feature to [provide an adapter between `serde::Serialize` and `fmt::Debug`](https://github.com/KodrAus/serde_fmt) that naturally preserves formatting flags and stays aligned with any changes to `std::fmt`.

[2019-07-11 09:01] pnkfelix commented on #60431
Discussed with [eddyb on zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/.2360431.20failed.20to.20get.20layout.3B.20field.20is.20proj.20.60.3CA.20as.20T.3E.3A.3AU.60/near/170610803); they identified the cause and a fix pretty readily. Working on putting in the fix now.

[2019-07-11 09:26] theduke commented on #62570
I ran into this.

It's much more confusing if the outer function actually returns a result.

This is bad enough that it imo should be considered `AsyncAwait-Blocking`.

[code]

[2019-07-11 10:14] gilescope commented on #62506
Ok - I can do that

On Thu, 11 Jul 2019 at 02:02, Tyler Mandry <notifications@github.com> wrote:

[2019-07-11 10:16] eddyb commented on #62149
`let f = unsafe { || {...} };` is also safe to call and IIRC it's equivalent to moving the`unsafe` to inside of the closure.
Same thing for `unsafe fn foo() -> impl Fn() { || {...} }`.

This, to me, is precedent enough for "the unsafe thing happens after leaving the `unsafe` scope".

[2019-07-11 10:35] ralfbiedert opened #62589 "Wrong linker order on Linux produces error."
**Background**

_Same background as #62588._

We have a Rust project (lets call it `dylib`) where we want to produce a shared library (.dll, .dylib, .so) for various platforms. As part of the build process we also want to verify the provided headers match the library.

To do that we have a separate project `dylib_test`, where we extract C doc tests into individual `generated_nnn.c` files, produce

[2019-07-11 11:28] faern commented on #62149
The same holds for other places. As previously pointed out, `unsafe` is not always where the potential UB would be. Example:
[code]

[2019-07-11 11:35] pietroalbini commented on #62276
The fix should've landed in today's nightly. Thanks everyone for reporting this!

[2019-07-11 11:36] withoutboats commented on #62149
It just seems like a misunderstanding of unsafe to me - unsafe doesn't mark that "an unsafe operation occurs inside here"- it marks "I am garanteeing that I uphold the necessary invariants here." While you could be upholding the invariants at the await point, because it involves no variable parameters, its not a very obvious site for checking that you uphold the invariants. It makes much more sens

[2019-07-11 11:45] Mark-Simulacrum commented on #57017
FWIW it took me ~30 minutes or so to decide that this was likely a compiler "bug" with async/await, after spending 10-15 minutes reducing the amount of code I had added to just one match statement. The errors are long -- and largely unintelligible. I'm not sure if I'd call this a blocker, but I would say that if it's not fixed, we should definitely include it in a FAQ section of "common errors" or

[2019-07-11 12:00] BurntSushi commented on #62569
I agree that we should do something about this. I don't think we can change the current default behavior because of backcompat concerns, as @sfackler mentioned, but the current status quo is that nominal command line applications start out of the gate as broken, and it's a fairly subtle issue to fix. Firstly, if you're using `println!` and have enough output to exceed stdout's default buffer size,

[2019-07-11 12:10] eddyb commented on #62486
My own suggestion: https://github.com/rust-lang/rust/pull/59800#issuecomment-503990460 - reproduced below:

We would have to either include MIR for everything and codegen at the end (potentially subopyimal) or just throw away the .rlib and somehow require the final .so crate to be linked in order to use anything from the component crates.
For the latter, it could be as simple as a check like "at l

[2019-07-11 12:35] glebpom commented on #57820
Any updates with this issue? Have the same problem

[2019-07-11 12:42] pnkfelix commented on #62562
triage: P-high, has PR (#62574), assigning to @petrochenkov and removing nomination.

[2019-07-11 12:43] matthijskooijman commented on #60019
I reported a bug at https://bugs.launchpad.net/raspbian/+bug/1836203

[2019-07-11 12:47] pnkfelix commented on #62554
triage: P-medium. Leaving nominated so that team double-checks that priority assignment.

[2019-07-11 12:50] pnkfelix commented on #62524
@ExpHP do you mean you were using `RUST_LOG` and not seeing debug output?

If so, that is because the environment variable name under `rustc` was changed to `RUSTC_LOG`. (I make this mistake pretty much every day due to muscle memory.)

[2019-07-11 12:51] kylone commented on #60958
There have been several questions about why stringVariable.asRef() no longer compiles, particularly with developers using older pinned versions of libraries.

It certainly looks like there was an awareness that this change was going to cause some pain, but there was no mention of the type of errors in the 1.36 announcement or release notes that I saw. I also spent some time looking for documentati

[2019-07-11 12:52] pnkfelix commented on #62524
triage: P-medium. Removing nomination.

[2019-07-11 12:57] pnkfelix commented on #62524
This was broken between 1.15 and 1.16, but those are so old and the nature of the ICE itself has changed from 1.28 to 1.29, so I do not think bisection would be worthwhile.

[2019-07-11 13:03] pnkfelix commented on #62546
triage: P-high, because errors being swallowed, even in the presence of other errors, scares me a bit.

[2019-07-11 13:08] BurntSushi opened #62586 "improve documentation for AsRef/AsMut"
`AsRef`/`AsMut` is fairly common source of changes that result in breaking others' code. Most such changes occur by adding additional `AsRef`/`AsMut` impls, which in turn break type inference that users are unwittingly relying on. According to [Rust's API evolution](https://rust-lang.github.io/rfcs/1105-api-evolution.html), this is, strictly speaking, allowable breakage.

Almost all such instances

[2019-07-11 13:09] eddyb commented on #53819
I would prefer a fixpoint/saturation mechanism, that dyanmically checks the monotonicity here, instead of assuming it and risking some kind of subtle bug.

I'm working on a little library for doing memoized DFS with cycle-handling, coincidentally, maybe we should use that instead of implicit assumptions?

[2019-07-11 13:09] pnkfelix commented on #61562
@Mark-Simulacrum does this need to be tagged T-compiler? Seems like a pure rustdoc issue to me, but maybe I misunderstand?

[2019-07-11 13:11] pnkfelix commented on #61560
triage: P-high.

[2019-07-11 13:22] Mark-Simulacrum commented on #61478
Confirmed that this was fixed before stable, I'm actually going to close since re-regressing here seems highly unlikely (and hopefully tests were added in the underlying crate that was the cause of this).

[2019-07-11 13:22] #61478 closed

[2019-07-11 13:23] pnkfelix commented on #62364
Fixed by #62364

[2019-07-11 13:23] #62364 closed

[2019-07-11 13:24] smarnach commented on #60958
The stability commitments are explained in [this blog post](https://blog.rust-lang.org/2014/10/30/Stability.html#what-are-the-stability-caveats), which I linked in an earlier comment in this thread. I agree that this information deserves a more prominent location.

[2019-07-11 13:27] Mark-Simulacrum commented on #60958
Specifically AsRef will be hopefully better documented soon (#62586); we've mostly hesitated from doing so in the past because there's technically a ton of possible breakage that users might encounter that is similar to this -- any impl, method added may cause conflicts downstream. I do agree that some way of saying "here's how to fix that" would be great, or at least pointing users at what we alr

[2019-07-11 13:27] pnkfelix commented on #62305
Fixed by PR #62417

[2019-07-11 13:27] #62305 closed

[2019-07-11 13:33] lzutao commented on #62364
I think it is #62417.

[2019-07-11 13:35] #62562 closed

[2019-07-11 13:36] pnkfelix commented on #61960
Unassigning self; I still think this is important, but I'm not going to be able to address it, at least not until I return from leave in September.

[2019-07-11 13:48] pnkfelix commented on #61624
I continue to have the impression that  if you use stable Rust, it will be used on all of your crates, and therefore you won't hit this bug. (don't get me wrong; I've commented elsewhere, rust-call bug #34901 in particular, where I do worry about impact on downstream crates from upstream crates using certain features that have bugs)

But I still think this only warrants P-medium.

Reclassifying as

[2019-07-11 13:49] ExpHP commented on #62524
@pnkfelix : Thanks. Unfortunately, I did guess the name of `RUSTC_LOG` after `RUST_LOG` didn't work, and all it showed me was this:

[code]

I set `debug = true` in my `config.toml` before building, and didn't see anything else in there.  (I recall that `debug!` and `trace!` used to be [explicitly mentioned in the comment for `debug-assertions`](https://github.com/rust-lang/rust/blob/19714f55ee70f

[2019-07-11 13:58] pnkfelix commented on #61539
pre-triage stray thought: While I worry about trying to change compiler behavior based on a dynamically detected linker version, I would have fewer objections to use such detection *just* to drive the emission of a diagnostic warning. Where said diagnostic tells people to take one of the aforementioned steps to work around the bug.

nominating for discussion at T-compiler meeting.

[2019-07-11 14:01] pnkfelix commented on #61323
nominating to try to find someone to investigate this.

[2019-07-11 14:13] nikomatsakis commented on #62546
Perhaps @estebank might be a good candidate to investigate?

[2019-07-11 14:18] alexcrichton commented on #62569
I personally agree with @sfackler that I don't think we can really change any defaults due to backwards-compatibility reasons. AFAIK this really only affects one thing which is unix-y CLI applications. Any portable CLI application to Windows cannot rely on the existence of SIGPIPE and almost all non-CLI applications I imagine want to receive errors instead of SIGPIPE to handle. That feels, to me,

[2019-07-11 14:33] npmccallum commented on #29602
Does anyone know how to represent the LLVM `token` type with this feature?

[2019-07-11 14:38] ralfbiedert opened #62588 "Inconsistent `#[link(name = "")]` resolution on Windows"
**Background**

We have a Rust project (lets call it `dylib`) where we want to produce a shared library (.dll, .dylib, .so) for various platforms. As part of the build process we also want to verify the provided headers match the library.

To do that we have a separate project `dylib_test`, where we extract C doc tests into individual `generated_nnn.c` files, produce a `generated.rs` file that kno

[2019-07-11 14:38] alexcrichton commented on #62588
Thanks for the report! I"ve transferred this issue to the rust-lang/rust repository since this is more about the output filenames of rustc than anything to do with Cargo

[2019-07-11 14:39] alexcrichton commented on #62589
Thanks for the report! I've transferred this issue to rust-lang/rust since rustc is the one generating the linker command, not Cargo

[2019-07-11 14:46] Janonard commented on #61560
What does issue say? Do I as a crate owner have to worry about something?

[2019-07-11 14:50] nikomatsakis commented on #60987
(I tagged @michaelwoerister while they're on PTO)

[2019-07-11 15:01] Mark-Simulacrum commented on #61560
Presumably, the crates listed here are broken on current stable (1.36+) but this has not been verified. Someone will probably investigate soon and assign this to someone concrete to resolve.

[2019-07-11 15:19] draganmladjenovic commented on #57820
Adding "-C", "link-args=-lgcc" to re-add libgcc removed by -nostdlib to rustargs fixes the problem, at least for the simple hello world. Or you could implement __bswapsi2 yourself.  I'm guessing that openwrt toolchain targets mips32 as opposed of mips32r2, so it requires "libcall" for bswap. Hope it helps.

[2019-07-11 15:20] withoutboats commented on #62149
So its not the case that every design decision needs a whole RFC, but we've been working on trying to provide more clarity and structure on how decisions are made. The list of major decision points in the opening of this issue is an example of that. Using the tools available to us, I'd like to take a stab at a structured consensus point around this issue of unsafe async fns, so this is a summary p

[2019-07-11 15:20] withoutboats commented on #62149
@rfcbot ask lang "Do we accept stabilizing async unsafe fn as an async fn which is unsafe to call?"

[2019-07-11 15:21] withoutboats commented on #62149
I have no idea how to make a poll with rfcbot but I've nominated it at least.

[2019-07-11 15:44] Centril commented on #62149
@withoutboats

Thanks for the write-up. The discussion has me convinced that `async unsafe fn` as it works in nightly today behaves right. (Tho some tests should probably be added since it looked sparse.) Also, could you please amend the report at the top with parts of your report + a description of how `async unsafe fn` behaves?

[2019-07-11 15:46] JulianGindi commented on #62397
Going to take a stab at addressing this issue

[2019-07-11 15:54] JulianGindi commented on #62397
Actually looks like some of this was already handled.

[2019-07-11 15:55] #51069 closed

[2019-07-11 16:26] Manishearth opened #62590 "Regression with macros in types on serde_derive"
serde_derive 0.0.94 compiles just fine with 2019-06-06's nightly, but is broken with 2019-06-11:

[code]

<details>

[code]
</details>

Something weird is going on with that macro.

cc @dtolnay @eddyb

[2019-07-11 16:27] gnzlbg commented on #29602
This feature only lets you link a rust function to an LLVM intrinsic function, but it doesn't let you use types that aren't available in Rust. So if you can't represent it with a Rust type, you can't do so with this feature, and might need to either add a rustc intrinsic, or a rustc type. Adding intrinsics is usually easier.

[2019-07-11 16:28] matthiaskrgr commented on #62590
Looks like https://github.com/rust-lang/rust/issues/62562 ?

[2019-07-11 16:28] phaylon commented on #62149
As someone not paying too close attention, I would agree and think the solution here is good documentation.

I might be off the mark here, but given that
* futures are combinatorical by nature, it's fundamental that they are composable.
* await points inside a future implementation are generally an invisible implementation detail.
* the future is very distant from the execution context, with the a

[2019-07-11 16:29] Manishearth commented on #62590
https://github.com/rust-lang/rust/issues/62562

[2019-07-11 16:29] #62590 closed

[2019-07-11 16:43] RalfJung commented on #54385
@Mark-Simulacrum AFAIK this bug here is specifically about associated types, unlike https://github.com/rust-lang/rust/issues/42940. Why did you close?

[2019-07-11 16:58] #61711 closed

[2019-07-11 17:12] Eijebong opened #62591 "rust-cssparser doesn't compile anymore, complaining about `syn::Token!`"
The latest nightly doesn't compiler [cssparser](https://github.com/servo/rust-cssparser). The error message is the following:

[code]

The macro does [exist](https://docs.rs/syn/0.15.39/syn/macro.Token.html)

I've seen this issue in serde_derive too (and I've been told it happens in phf)

[2019-07-11 17:17] VictorKoenders commented on #62591
[code]

[code]

Cargo.toml
[code]

Main.rs
[code]

<details><summary>Output</summary>
[code]

</details>

[2019-07-11 17:17] lzutao commented on #62591
Dup of #62590. Should be fixed by tomorrow nightly.

[2019-07-11 17:19] Eijebong commented on #62591
Oh, thanks. For some reasons I couldn't find any issue with that. I'll close this :)

[2019-07-11 17:19] #62591 closed

[2019-07-11 17:43] Mark-Simulacrum commented on #54385
I got the impression that the underlying bug is the same. But perhaps not. Reopening.

[2019-07-11 17:50] kper commented on #62401
@eddyb ok, the results look good. Can you check?

[2019-07-11 18:02] Centril commented on #62571
Added to T-release agenda.

[2019-07-11 18:31] ehsanul commented on #60958
While I understand this type of breakage is acceptable and falls within stability guarantees, would it have made sense to first release a warning/deprecation notice for one or two releases prior to the actual change?

[2019-07-11 18:35] nikomatsakis commented on #61631
Clarification question:

When we last discussed this in the @rust-lang/lang meeting, the conclusion was that this was roughly the expected behavior -- except for the bug around `Self`. This is roughly what @eddyb outlined in [this comment](https://github.com/rust-lang/rust/issues/61631#issuecomment-506409368). This is still the case, right?

In which case, what we need to do is fix the bug around

[2019-07-11 18:36] seanmonstar commented on #62411
I've noticed this warning suddenly being triggered on this code using the `http` crate:

[code]

There is a `derive(PartialEq, Eq)` on the [`struct Method`](https://github.com/hyperium/http/blob/cece1b8aadf7d98d5ae658b2183d2f066d5b5979/src/method.rs#L44) definition, so is that a false positive?

[2019-07-11 18:52] CAD97 commented on #62149
Given that the `unsafe`ness is before the `async`ness in this "early unsafe", I'd be much happier with the modifier order being `unsafe async fn` than `async unsafe fn`, because `unsafe (async fn)` maps much more obviously onto that behavior than `async (unsafe fn)`.

I'll happily accept either, but I strongly feel that the wrapping order exposed here has the `unsafe` on the outside, and the order

[2019-07-11 18:54] nikomatsakis commented on #62175
Discussed in @rust-lang/lang meeting and @joshtriplett will try to follow up with this as well as rust-lang-nursery/reference#607.

[2019-07-11 18:57] nikomatsakis commented on #62336
Discussed briefly in the @rust-lang/lang meeting. We need to schedule some time to get into structural match. But, in the meantime, a useful step would be to do a crater run that *tries* to remove the `[Foo; 0]` case and see whether it has any effect.

[2019-07-11 18:59] joshtriplett commented on #58794
@Centril

Those tools don't exist today, and I don't think that's going to change in the immediate future. So, this can't be automated today.

I never said "at any cost". We're currently working to produce a solution.

The simplest solution would simply be an attribute to turn off the "nounwind" LLVM attribute on an extern function, to address undefined behavior. There's a lot of discussion on how

[2019-07-11 18:59] nikomatsakis commented on #62336
I don't know @pnkfelix whether you'd have time to do that before you leave, but for anyone else who might have an interest, you could take a look at https://github.com/rust-lang/rust/pull/62339 which adjusted this code and try to build a test PR from that.

[2019-07-11 19:31] sfackler commented on #60958
There's no infrastructure to do that currently AFAIK.

[2019-07-11 19:45] ExpHP commented on #62524
Okay, I did the following evil, evil thing:

<details>
<summary>Pure evil, do not open</summary>

[code]

</details>

And acquired the following backtrace of when the span was first constructed:

[code]

It also gets constructed a second time:

<details>
<summary>Second backtrace</summary>

[code]

(the region of the backtrace that differs between the two is items 22-29 in the first one, or 22-25

[2019-07-11 19:54] In-line opened #62597 "Barely noticeable compiler suggestion"
[code]

Compiler error:
[code]

I think it's better to improve this note
[code]
So it's more noticeable and readable.

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7384234185f560e9c2e27f9566918f57)

[2019-07-11 20:07] BurntSushi commented on #58794
**Moderation note:** Let's please try to keep our cool folks. It's understandable that some may feel disappointed here---which is a totally valid thing---but let's keep commentary more productively focused instead of accusing others of malice.

[2019-07-11 20:10] pnkfelix commented on #62524
@ExpHP I’m not familiar with `RUSTC_LOG=trace`

I tend to list module paths in my own use of RUSTC_LOG; did you try that? You can see an example in the transcript I gave in my comment above

[2019-07-11 20:11] estebank commented on #62546
The error that is not being emitted is

[code]

Looking.

[2019-07-11 20:14] ExpHP commented on #62524
Oh.  (I'm so used to `$` prompts I didn't notice you included the command!).  Yeah, that was the issue.

[2019-07-11 20:20] RalfJung commented on #62397
The SGX and libterm and codegen ones have been handled. CloudAbi and `std::io::util` remain open as far as I can see.

[2019-07-11 20:24] pnkfelix commented on #62411
@seanmonstar is everything that is recursively teachable from that structure also a `#[structural_match]`

(I have been wondering if there may be subtle cases where this warning arises that are instances of there not being “turtles all the way down”)

[2019-07-11 20:26] RalfJung commented on #53491
Submitted PR for changed deprecation schedule: https://github.com/rust-lang/rust/pull/62599.

[2019-07-11 20:34] glebpom commented on #57820
It works, thanks!

[2019-07-11 20:39] seanmonstar commented on #62411
I noticed the warning says `Box` isn't, and one of the variants is `Box<[u8]>`... That'd be the long-extension variant. I guess a structural match would almost never be true as the pointers would differ... Though, we don't have any constants of that variant and any parsing will *always* use the constant if it's a match.

So while I guess *technically* in correct, in this case a structural match wo

[2019-07-11 20:49] alexreg commented on #61631
@nikomatsakis What exactly are you referring to as "expected behaviour" here? That using later type params in defaults for earlier ones is disallowed?

For sure, there's a bug with `Self` though, yep...

[2019-07-11 20:50] alexreg commented on #61631
@eddyb left some general guidance for me on Discord, which may be enough for me to tackle this along with his above comment:

hmmm
so the problem is entirely localized within  https://github.com/rust-lang/rust/blob/master/src/librustc_resolve/lib.rs#L2492-L2502
walk_item ends up calling visit_generics

[2019-07-11 20:52] withoutboats commented on #58520
I think a few changes are needed before this can be stabilized:

1. First, we need to actually reach a consensus about whether we have both of these APIs. I've been consistent that I think the changes made to failure regarding this issue since I stopped maintaining it are a mistake: we should have one iterator which begins with self and calls cause until it returns None. If users want to skip the

[2019-07-11 21:14] Centril commented on #62500
I was convinced not to feature gate this after all (see https://github.com/rust-lang/rust/issues/62149#issuecomment-510541229). Sorry about the noise!

[2019-07-11 21:14] #62500 closed

[2019-07-11 21:17] dtolnay commented on #62562
Pinning for visibility until a new nightly is out.

[2019-07-11 21:21] Centril commented on #62501
I was convinced not to feature gate this after all (see #62149 (comment)). Sorry about the noise!

[2019-07-11 21:21] #62501 closed

[2019-07-11 21:23] tcharding opened #62601 "Meaningless usage of comment decorators"
We have a number of places in the code base that use 'comment decorators' i.e. from `rustlib/src/rust/src/libcore/option.rs`
[code]
This adds no extra meaning to the code and is totally specific to the developer that wrote it.  We should remove this sort of thing :)
[code]

This issue has been assigned to @sd234678 via [this comment](https://github.com/rust-lang/rust/issues/62601#issuecomment-5189

[2019-07-11 21:25] llogiq opened #62602 "warn on running benchmarks in debug mode"
libtest-generated benchmark code should issue a warning when benching code that was compiled in debug mode, as this is likely not the intended outcome. At worst the user will be like "gee thanks, Rust, I already know", but at best it will save a lot of time.

## How to reproduce

* Create a benchmark
* Compile with `rustc --test my_benchmark.rs`
* Run with `./my_benchmark --bench`

## Desired outc

[2019-07-11 21:32] icefoxen commented on #54361
It *looks* like this is finished and can be marked as stabilized, and so incorporated into the next stable release.  Is there anything I can do to help with that?

[2019-07-11 21:41] DutchGhost commented on #61631
Discussed on discord with @alexreg I would make this comment to raise some awareness.

As I showed in my comment here: https://github.com/rust-lang/rust/issues/61631#issuecomment-504157673 , this issue isn't solely about the `Self` being able to compile when it shouldn't, but also about reference types and wrapped references showing the exact same wrong behaviour.

I'd argue the latter should get

[2019-07-11 22:20] gnzlbg commented on #58794
I wanted to apologize. I was called out by using the unconstructive word malice [here](https://github.com/rust-lang/rust/issues/58794#issuecomment-509378536). In that sentence, by us, I meant rustc, the tool, as in, it would be "evil" for rustc to continue emitting `nounwind` if we aren't going to land a fix for this soon.

@joshtriplett I agree with you about just trying to remove `nounwind`. The

[2019-07-11 22:21] nikomatsakis commented on #61631
Here is a [summary comment from the last discussion we had on this topic](https://github.com/rust-lang/rust/pull/46785#issuecomment-363219662). [This comment](https://github.com/rust-lang/rust/pull/46785#issuecomment-364255148) then covers the lang-team reasoning about the rules and some specific examples. The TL;DR is that, while it is true that you can get errors at use-sites that could've been

[2019-07-11 22:33] nikomatsakis commented on #61631
I opened https://github.com/rust-lang-nursery/reference/issues/636 to document the intended behavior here -- this does not include the bugs around `Self`, though.

[2019-07-11 22:37] nikomatsakis commented on #61888
this is indeed intended behavior. I am therefore closing in favor of this bug on the reference repository https://github.com/rust-lang-nursery/reference/issues/637. Thanks!

[2019-07-11 22:37] #61888 closed

[2019-07-11 22:55] nikomatsakis commented on #61553
@MageSlayer sorry for being slow to get back to you. The conclusion of this issue is that the current behavior -- at least from rustc's point-of-view -- is expected. Distinct `metadata` means distinct types.

It's true that we don't really have strong support for handling exceptions across dylib boundaries. That might be an interesting thing to try and address, but that would be a new feature, and

[2019-07-11 22:55] #61553 closed

[2019-07-11 22:56] JulianGindi commented on #62397
Ah, gotcha. Will take a crack at it. Thanks!

[2019-07-11 23:06] delan commented on #62121
as discussed in #62518, I can do some `async unsafe fn` tests starting with

[2019-07-11 23:31] nikomatsakis commented on #57893
We discussed this in depth at [today's lang team meeting](https://paper.dropbox.com/doc/T-Lang-Meeting-2019.07.11--Agsvu03FSbAtkpN1VlKNgKd~Ag-hWybfJJYYpBkLF83aMAsi#:uid=111004718576719464193628&h2=coherence-soundness-problem). We enumerated a few possible solutions to the problem.

## The problem

Presently, if you have an object-safe trait `Object`, the compiler 'auto-generates' an impl like

[co

[2019-07-11 23:32] nikomatsakis commented on #57893
We explored three possible solutions.

The most obvious is to "give up on coherence". Actually we didn't go into this in depth; @arielb1 felt that it cannot be made sound, and I'm inclined to agree. I think [this Zulip chat](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/.2357893.20coherence.20and.20traits/near/169073560) contains more details.

[2019-07-11 23:42] nikomatsakis commented on #57893
The next solution was modifying the rules around object safety such that the trait `Object` is not considered "object safe". The idea would be roughly that a trait is not "object safe" if there is some impl that could apply to the object. This was somewhat inspired by https://github.com/rust-lang/rust/issues/50781 -- which is a rather different, but also concerning, soundness hole around object ty

[2019-07-11 23:50] nikomatsakis commented on #57893
The final solution we considered was to suppress the "auto-generation" of the `dyn Foo: Foo` impl *if* there exists some user-given impl that might apply to `dyn Foo`. The idea then is that `Foo` is object-safe *but* if you supply an overlapping impl, that's the impl we're going to use.

This has some interesting potential to offer. It might serve as a replacement for the `where Self: Sized` hack

[2019-07-12 00:15] EricRahm commented on #62276
@pietroalbini Just a note, you might want to spin up a beta build as well. `rust-src-beta` was affected by this as well.

[2019-07-12 01:02] estebank commented on #61858
The original report is caused due to `Parser::expected_tokens` growing unbounded in a bad parser code path, in part due to it being a `Vec` and not a `FxHashSet` (which it can't be at the moment). Now that I have a clue at what causes the behavior, I'll dig deeper for the trigger.