[2022-04-23 10:53] Badel2 commented on #96335
searched nightlies: from nightly-2022-04-01 to nightly-2022-04-22
regressed nightly: nightly-2022-04-17
searched commit range: https://github.com/rust-lang/rust/compare/3f391b84552f210adec7893b50c5da74f9362ae4...878c7833f6c1ff10e2fd89074e5bd4ef5ff15936
regressed commit: https://github.com/rust-lang/rust/commit/07bb916d44a66d2caba427c7ee132bbeb245977b

<details>
<summary>bisected with <a href='http

[2022-04-23 11:32] Nilstrieb commented on #96327
@rustbot claim

[2022-04-23 11:48] oli-obk commented on #96335
A `bug!` invocation should be replaced by `delay_span_bug` and producing an error type as the adjustment result

[2022-04-23 12:46] Wandalen commented on #70263
Hi! Problem I encountered looks somehow related to the bug. Maybe you can suggest a workaround?

That [solution work](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0a494f286e7dbe667f0afabc19733134). But compiler throws exception "implementation of `ReactorInterface` is not general enough" if ReactorInterface has a mutable associated function then. [Please have a look](htt

[2022-04-23 13:46] SkiFire13 commented on #70263
@Wandalen I think that error is right. The problem in your code is that you're relying on covariance to convert an `HashMap<usize, Box<HandlerOfEventDyn>>` to a `HashMap<usize, Box<HandlerOfEventDynWithLifetime<'a>>>`, but the mutable version returns a mutable reference, which is invariant.

If this was allowed you could put a `Box<HandlerOfEventDynWithLifetime<'a>>` inside the map, even though it

[2022-04-23 14:39] thechampagne opened #96338 "regex should be part of the standard library and many others !"
I believe that regex and many other crates should be native, e.g., `http client`. I heard that  the standard library supposed to be minimal but, come on 😐 I don't want to use 1 crate and end up with tens of dependencies of a "thing" that should be native.

[2022-04-23 14:53] trrk opened #96339 "E0207 occurs even though the generic type is bound as an associated type"
I tried this code:

[code]

I expected to see this happen: Compilation completes without error.

Instead, this happened: E0207 occurs.
[code]
Since U is bound as an associated type of T, it appears to be compilable code. As shown below, E0207 does not seem to occur when the trait T has no lifetime parameter
[code]

This may be related to #67623. The intent of the post seems to be different than mi

[2022-04-23 15:10] clarfonthey commented on #34261
I definitely would be in favour of there being some mechanism to embed *compiled* LaTeX typesetting instead of relying on runtime-level parsing. Right now, there is a crate for this that uses an embedded JS runtime to compile KaTeX: https://github.com/xu-cheng/katex-rs

If this isn't something that's provided natively, it would be nice if there were some way to add custom markup to rustdoc via som

[2022-04-23 15:10] Wandalen commented on #70263
Thanks @SkiFire13. If so what is proper solution of the [problem](https://users.rust-lang.org/t/hrtb-problem-workaround/74565)? I am aware about variance, not sure it should work like you explain `Box<HandlerOfEventDyn>` and `Box<HandlerOfEventDynWithLifetime<'a>` is *the same* type. My understanding is so that compiler should spell `'a` as `any lifetime` in the context. Removing aliases of types

[2022-04-23 15:17] NobodyXu commented on #96306
I just tried to reproduce this on my own x86_64 linux box by running:

[code]

however, all tests passed without problem...

But the test running on github action still failed on powerpc64le

[2022-04-23 15:18] danielhenrymantilla commented on #70263
It is not the same type. Removing the type alias, but imagining some trait alias `Trait<'lt>` to reduce it to one generic lifetime parameter, we have:

  - `dyn for<'any> Trait<'any>` for your `HandleOfEventDyn`,
  - `dyn Trait<'a>`, for some specific `'a`, for your `HandlerOfEventDynWithLifetime<'a>`

The former represents an erased type that satisifies the `Trait` contract for each and every lif

[2022-04-23 15:29] Nilstrieb opened #96340 "Rustc hangs when resolving trait bounds"
I tried this code:
https://github.com/Nilstrieb/dilaria/tree/5bd2554c9f8c887275a9edd59a19af7843fd3aa8

I expected to see this happen: Code compiles

Instead, this happened: Code hangs

`rustc --version --verbose`:
[code]

I tried running the same code with `-Zchalk`, but it ICEd somewhere.

It seems to be coming from `dbg-pls` which generates trait bounds for each contained types, leading to loads

[2022-04-23 15:36] Nilstrieb commented on #96340
I will minimize this further later

[2022-04-23 15:45] cjgillot opened #96341 "Gather body owners in `hir_module_items` and `hir_crate_items`"
Functions, constants and statics have an associated `hir::Body` and are known as *body owners*.  Typechecking and MIR generation work by iterating over all the body owners in the crate. This iteration traverses the full HIR.

The objective is to avoid repeated traversal of the full HIR by reusing the traversal done by `hir_module_items` and `hir_crate_items` query.  The secondary objective is to r

[2022-04-23 15:49] jyn514 opened #96342 "`--exclude` is broken for individual files"
[code]

This is harder to fix than it looks - if you try something simple like
[code]
you end up skipping the whole suite:
[code]

I think the proper fix for this involves adding support in compiletest itself :( by passing `--exclude p` for each `is_valid_test_suite_arg` in `config.exclude`.

@rustbot label +A-rustbuild +A-testsuite +C-bug +E-hard

[2022-04-23 15:57] jyn514 opened #96343 "Consider warning on `--exclude src/tools/tidy` if the exclude isn't used"
Not quite sure how to implement this, but it seems like a nice QoL thing.

[2022-04-23 16:09] cjgillot opened #96346 "Forbid lowering the same `NodeId` multiple times"
During AST->HIR lowering, the method `lower_node_id` is tasked to transform `NodeId`s that identify AST nodes into `HirId`s that identify HIR nodes.  This method maintains a `node_id_to_local_id: FxHashMap<NodeId, hir::ItemLocalId>` to remember this mapping.

However, this mapping is not entirely useful, and mostly exists (1) to make the developer's life easier, (2) to lower resolutions to local b

[2022-04-23 17:10] Wandalen commented on #70263
I see. `dyn for<'any>` could be used only on places where trait should be, In a struct as a field `dyn Trait<'a>` could only be used.

Attempts to eliminate either of the types fail. What is a proper solution.

I am thinking about using pointer instead of reference in here:
[code]

But even if it will remove the blocker, I don't feel it's a nice workaround.

Other thoughts I have using `dyn` more

[2022-04-23 17:41] gimbles commented on #96338
A dependency is simply a library shared between developers.

The standard library itself is also a dependency. Adding networking and regex utilities into the standard library would not "reduce" dependencies.

It'll just shift them from crate registries [crates.io] to the mainstream std.

Normal dependencies are just as native as the standard library my friend 😄

[2022-04-23 18:04] thechampagne commented on #96338
native means here, `part of the standard library`.

I'm aware that `would not "reduce" dependencies.` but such a utilities should be included into the standard library for its importance.

[2022-04-23 18:08] matthiaskrgr commented on #96225
Is this still reproducible? I didn't get the ICE, maybe theres some extra flags needed?

[2022-04-23 18:27] kckeiks commented on #96346
@rustbot claim

[2022-04-23 18:28] kckeiks commented on #96341
@rustbot claim

[2022-04-23 18:50] Badel2 commented on #96225
The playground seems to reliably reproduce it. And I can reproduce it sometimes using `cargo-bisect-rustc`:

[code]

But that is not always reliable. Given that the error message is "SourceNotAvailable", I guess this is related to how the toolchain is installed (the rust-src component?). Because at one point I tried the latest nightly with cargo-bisect-rustc and it did not ICE, but some days later

[2022-04-23 18:54] SkiFire13 commented on #96338
This is not the first time that this question came up and a quick google search should give you tons of results. See for example:

- https://internals.rust-lang.org/t/expansion-of-standard-library/10475
- https://blog.nindalf.com/posts/rust-stdlib/
- https://www.reddit.com/r/rust/comments/gyyw80/does_anyone_feel_rusts_std_library_isnt_as/

just to name a few, but there are many others.

To sum up

[2022-04-23 19:35] LegionMammal978 commented on #69835
The safety documentation on these functions is somewhat inaccurate. It states:

But the size of a custom slice DST is not necessarily the sum of the size of its prefix and the size of its slice tail. If the alignment of the prefix is greater than the alignment of the slice type, the compiler will insert additional padding following the slice, which is counted in the full DST size.

I stumbled on t

[2022-04-23 19:46] estebank commented on #96291
@TaKO8Ki the second commit in https://github.com/rust-lang/rust/pull/96347 uses multipart suggestions, which will likely make the "find where to put the `&mut `" easier. The "looking at the method definition `self` receiver and figure out the type of the expression to see if `&` or `&mut ` should be added" would remain the same.

[2022-04-23 19:50] Yuri6037 opened #96349 "Cargo caused complete breakage of 4 pipelines"
A week ago Cargo dropped allowed_fail field in the test JSON output: https://github.com/rust-lang/rust/commit/6562069ebef1097109d315e50cf9929a30e86811.

This breaking change was never announced and caused 4 pipelines on GitLab to fail due the now missing field.

In the future I think rust should announce such breaking changes before committing the changes.

[2022-04-23 20:02] thechampagne commented on #96338
**I'm hoping that it could be rich as golang standard library** 👀

[2022-04-23 20:33] estebank commented on #96262
@asquared31415 has it exactly right, this would require us to be able to specify "this `usize` is a value between `0` and `3` exclusive", which the type system isn't powerful enough to do yet. const generics could potentially get us closer to that, but I don't think the `%` operation will be able to be expanded to leverage that due to backwards compatibility.

[2022-04-23 20:35] joshtriplett commented on #96349
`allow_fail` was a nightly-only feature. However, it looks like stable Rust emitted `allow_fail: false` on tests, rather than omitting the `allow_fail` attribute. In general, we shouldn't let nightly-only features affect stable output when not used, for exactly this reason.

@Yuri6037 To confirm, your pipelines were depending on the presence of `allow_fail: false` in the output?

[2022-04-23 20:37] Yuri6037 commented on #96349
Thanks, yes indeed the pipelines depends on a tool which did require the presence of allow_fail for serde decoding. When this field was dropped the tool started to emit errors in all pipelines using it.

[2022-04-23 20:39] camelid commented on #75341
Perhaps an easier solution (which would only solve part of the problem) would be to invoke rustc's API rather than invoking it as the `rustc` binary. This would also probably help with #81070 (see https://github.com/rust-lang/rust/issues/81070#issuecomment-1005314257).

[2022-04-23 20:42] joshtriplett commented on #96349
@Yuri6037 We shouldn't do breaking changes at all, with or without announcements. https://github.com/rust-lang/rust/pull/93416 was not known to be a breaking change when it was made; it was assumed to be the removal of a nightly feature, which wouldn't be subject to any stability guarantee. I would guess that nobody caught that `allow_fail: false` was being emitted as part of stable output.

[2022-04-23 20:48] Yuri6037 commented on #49359
I have a bunch of pipeline on GitLab for my open source organization (BlockProject 3D) which uses the json formatting for `cargo bench`, `cargo test` and `cargo clippy`.

Some of these pipelines run every day.

I've built a tool to integrate with cargo based on `rust-gitlab-ci`: https://gitlab.com/TobiP64/rust-gitlab-ci. My tool is named `cargo-gitlab` and automatically runs `cargo test`, `cargo b

[2022-04-23 21:08] anuvratsingh commented on #96049
Wasn't able to resolve this, but here are some resources shared by jyn514
1. https://discord.com/channels/442252698964721669/487245758739906560/964730715222732800
2. https://rust-lang.zulipchat.com/#narrow/stream/122652-new-members/topic/impl.20Step.20for.20Profile

[2022-04-23 21:12] MultisampledNight commented on #96338
How important something is depends on the view, unfortunately. For example, let's take the HTTP request. Somebody writing a desktop client for an app might find it useful — but for everyone else, people writing software for the embedded, WASM and computational domains for example, it's a huge load of unnecessary compile time and also toolchain size.

[2022-04-23 21:26] SUPERCILEX commented on #96274
Good to know, thanks.

That's the critical distinction I'm referencing. I agree with you that there's no difference from the sequence-of-AbstractBytes perspective, but one version involves a copy whereas the other does not which makes a huge difference from the practical what-I-want-to-happen perspective. The whole point of having a buffer of MaybeUninits is to avoid unnecessary writes to memory.

[2022-04-23 21:39] ehuss commented on #96349
`--format json` is also unstable, so I don't think this is a stable change.

[2022-04-23 21:45] PrestonFrom commented on #96335
I think this is still open and it looks like a fun problem to dig into. Please let me know if I should let someone else work on it though please!

@rustbot claim

[2022-04-23 21:47] nagisa commented on #96349
I tagged this `requires-nightly` given that everything so far points at this requiring a nightly. We can remove the tag if the issue author can confirm that they were seeing this with a stable compiler and without `RUSTC_BOOTSTRAP=1`-like workarounds and detail how.

[2022-04-23 21:52] Nilstrieb commented on #96340
And it's properly minimized now!

[2022-04-23 22:21] nagisa opened #96351 "The iterator documentation lacks guidance for implementers of iterators with side-effects"
Today the standard library implementation of the defaulted iterator methods as well as various transformers are developed under an assumption that there are basically two kinds of valid iterators:

1. Side-effect free iterators (these are very nice and easy to optimize :partying_face: :tada:);
2. Iterators with side effects where all the side effects will be observed no matter how you process it (

[2022-04-23 22:27] CAD97 commented on #69835
Well, the padding is statically sized, so in that sense, it's part of the statically sized prefix.

I also agree that there should be a fallible way to query layout information from pointer metadata, and have an experimental PR open to determine the cost of making size_of sound to call for arbitrarily sized slice tails (by saturating).

[2022-04-23 22:29] nagisa commented on #96338
Closing, as this is not the right venue to have this discussion. A proposal of this scope [warrants an RFC](https://github.com/rust-lang/rfcs#when-you-need-to-follow-this-process). If you think you have an idea on how to approach including such functionality to the standard library, I suggest you to submit an RFC. Otherwise I don't really see how this can be actionable given the outcome of the pre

[2022-04-23 22:29] #96338 closed

[2022-04-23 22:35] nagisa commented on #96306
Marked this as I-unsound though I don’t really have a definite culprit here. Historically these sorts of problems have been caused by calling convention mismatches, codegen failures or some other similarly scary and “has potential to cause other code to break much more terribly” problem.

[2022-04-23 22:36] nagisa commented on #96306
You used a 32-bit PPC target here. Does this reproduce with a `powerpc64le` target?

[code]

[2022-04-23 23:24] the8472 commented on #96351
Do you mean we should give a naive implementation for each defaulted method in terms of `next()` and say that overridden impls should be ~equivalent to it?

😙 ♬♪♫

[2022-04-24 01:11] LegionMammal978 commented on #69835
In what sense is it statically sized? Consider this test program ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=20b5c7afd23b46cda259266c309296cf)):
[code]
You can adjust the size of the prefix. With a 4-byte prefix, this is the output:
[code]
These are the differences between the `PREFIX + len` and the total `size` for each `len`. Clearly, this padding is de

[2022-04-24 01:43] aosemp opened #96354 "rust compile crash at wirefilter"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-24 02:02] aosemp commented on #96354
sorry, seems duplicate #94998, fixed in #95020.

and tested build okay in rustc 1.62.0-nightly (de1026a67 2022-04-23)

[2022-04-24 02:02] #96354 closed

[2022-04-24 02:13] NobodyXu commented on #96306
Thanks for pointing this out again!

With the updated command, I was able to reproduce that.

[2022-04-24 02:15] NobodyXu commented on #96306
Now I was also able to reproduce it using this:

[code]

And it gives me `0` using `cross +nightly run --release --target powerpc64le-unknown-linux-gnu`.

[2022-04-24 03:31] gimbles commented on #96338
Late to the party, but this will push people into a single HTTP(S) client, while the person might benefit from using another crate depending on their use-case.

For eg. For size-efficient and sync tasks, `ureq` is a much better option than the fatter `reqwest`.

But when you're not in size constraints and want to perform concurrent requests, `reqwest` is a much more suitable option

Diversity in t

[2022-04-24 05:13] wdanilo opened #96357 "Rustc does not know that two structs have the same size, while it should."
Hi, let's consider this code:

[code]

It does not compile:

[code]

But this one compiles fine:

[code]

This one compiles fine too:

[code]

I believe the transmute one should compile. Rustc version: rustc 1.62.0-nightly (8f36334ca 2022-04-06).

[2022-04-24 06:12] vramana commented on #81311
The problem appears to be with generate href for the undocumented item in `href_from_span` (context.rs)
  We recieve krate variable as ExternalLocation::Unkown.

https://github.com/rust-lang/rust/blob/8834629b861cd182be6b914d4e6bc5958160debc/src/librustdoc/html/render/context.rs#L327-L338

This in turn is caused may be incorrect Cache population. `populate` (cache.rs)

https://github.com/rust-lang

[2022-04-24 06:18] Yuri6037 commented on #96349
The actual program being tested builds in stable rust. However the test command uses unstable features to access the JSON output formatting.

[2022-04-24 06:55] joshtriplett commented on #96349
@ehuss Thanks for the clarification!

[2022-04-24 07:21] Wandalen commented on #70263
Is [that](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ce7b034a0d5989b64fdf13073311fc4a) proper solution to use pointers instead of references?

[code]

[2022-04-24 07:38] KodrAus commented on #74465
@cuviper Another way to look at it is that `Once` is `OnceLock<()>`, which is my personal preference because it means we can deprecate `Once` altogether.

[2022-04-24 07:47] CAD97 commented on #69835
Ah, right, there *is trailing* padding to the alignment. I just read your comment wrong the first time.

And also, if it's `#[repr(Rust)], it's good to reiterate that there are formally no layout guarantees anyway, so the compiler is within its rights to do wackier things if it wanted to.

<details><summary>The trailing slice is always at the same offset.</summary>

[code]

prints all 4s.
</detail

[2022-04-24 08:22] PeterWrighten commented on #96335
I also found this issue in that version's nightly rustc. I consider that is a nontrival problem worth digging into. @rustbot

[2022-04-24 08:38] SimonSapin commented on #74465
If you mean soft-deprecation in docs, why not. But making `Once` emit a deprecation warning to push its existing users to migrate to `OnceLock` would create churn. For what benefit? Since `Once` is `#[stable]` so we can’t actually remove it.

[2022-04-24 08:41] oli-obk commented on #96357
I don't think we're going to support this any time soon. The way we check whether a transmute is possible is by computing the arguments' sizes and comparing them. If those sizes depend on a generic parameter, then the size computation simply fails, it doesn't return a "generic size"

While we could have a separate "structural" size comparison logic, that may diverge from the actual size computatio

[2022-04-24 08:44] cjgillot opened #96358 "Stop keeping metadata in memory before writing it to disk"
`rustc_metadata` encodes all the crate information into an in-memory buffer in `EncodedMetadata`.  This in-memory buffer is then passed around to be written to disk, as an `rmeta` file in `rustc_interface::encode_and_write_metadata` and/or in an `rlib`/`dylib` by codegen.  Codegen wraps metadata into an object file using the `object` crate to be nice to linkers that will manipulate the `rlib`/`dyl

[2022-04-24 08:53] vramana commented on #87048
@rustbot claim

[2022-04-24 08:57] SkiFire13 commented on #70263
@Wandalen it depends on how you create `Event1` and what should its raw pointer fields represent.

Anyway since your question isn't related to this issue I suggest you to open a thread on https://users.rust-lang.org/ or ask on the community discord server.

[2022-04-24 09:09] Wandalen commented on #70263
Sure. Thanks.

[2022-04-24 09:44] NobodyXu commented on #96306
This is the assembly I get:

[code]

[2022-04-24 10:10] rise0chen opened #96360 "`dyn XXX` had impl `Debug`, but `dyn XXX + Send` can't Debug."
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0dcd92866964b1210b9b7ba9d182b632

[2022-04-24 10:27] m-ysk commented on #96358
@rustbot claim

[2022-04-24 11:23] matthiaskrgr commented on #92495
:thinking:  looks like this is fixed with `rustc 1.62.0-nightly (de1026a67 2022-04-23)`

[2022-04-24 11:24] matthiaskrgr commented on #92495
maybe fixed by https://github.com/rust-lang/rust/pull/93970 or https://github.com/rust-lang/rust/pull/96281

[2022-04-24 11:56] Xiretza commented on #61949
#91403 was reverted, I think this should be reopened.

[2022-04-24 12:12] LegionMammal978 commented on #69835
That makes sense wrt. `repr(Rust)`; I was mainly surprised to learn that this trailing padding can exist also in `repr(C)`. The safety comments on these functions are the only real mentions of an "unsized tail", so I'd assumed that the tail is placed fully after and independently of the prefix. Even in `repr(Rust)`, every field in the prefix must have a fixed offset, so padding is the only thing t

[2022-04-24 12:47] bjorn3 commented on #96358
Preferably only do this if either need_metadata_file or should_codegen().

[2022-04-24 13:59] nico opened #96362 "fix rustc build with llvm head"
building rust started failing like so:

[code]

Need to update rust code to work after https://reviews.llvm.org/D124216 (createAddressSanitizerFunctionPass, createModuleAddressSanitizerLegacyPassPass removal, https://reviews.llvm.org/D123882 populateThinLTOPassManager removal).

https://github.com/rust-lang/rust/commit/6234a5694936cb0f7c9a3fb456ae4c0aeee69f11 has a related example.

@nikic Do you

[2022-04-24 14:01] nikic commented on #96362
There's a patch for this at https://github.com/rust-lang/rust/pull/96215.

[2022-04-24 15:14] eds-collabora commented on #96243
I don't think this is the case. If I reword my example as follows:

[code]

Then we still get the same `R: 's` bound being suggested. That means that the type `dyn Womble<R> + 's` does not have the lifespan `'s` unless `R: 's`, but now `R` is no longer a generic parameter on any type, it's only a generic parameter on a trait.

RFC 1214 continues:

so it's not clear that that rule is of an "if and

[2022-04-24 16:29] itsVyasi commented on #87335
I'm not sure that is a simple desugar, since snippet 2 isn't guaranteed to be the entire following block. I.e.
[code]
would need to be
[code]

I think the current design is more intuitive, especially since the `else` in let-else is buried in the `let` statement and could be overlooked, whereas other divergent statements are visible at the head of the line: `return`, `loop`, `while true`, `panic!()

[2022-04-24 17:27] nagisa commented on #96351
I don't have a strong opinion as to what the default implementation looks like. I think it is perfectly fine for libstd to have specializations when it knows iterators don't have side-effects for example (e.g. much like what it does with `TrustedRandomAccess` today.) However we definitely should be documenting how the overriden methods should behave, so that there isn't any gray areas when we do a

[2022-04-24 17:57] ijackson opened #96364 "Un-emitted error (in very proc-macro-heavy situation)"
### Code

I'm afraid I don't have time now to minimise this.  Steps to reproduce:

 1. `git clone https://salsa.debian.org/iwj/otter`
 2. `cd otter`
 3. `git checkout origin/wip.ice.unemitted-syntax-error` # b87daaac3f524bccb338d7da1491f439a983c3c0
 4. `cargo build -p otter-api-tests`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details>

<summary><strong>Backtrace</s

[2022-04-24 17:58] ijackson commented on #96364
@rustbot modify labels +E-needs-mcve +regression-from-stable-to-nightly

[2022-04-24 17:58] compiler-errors commented on #96360
You need to implement `Debug` for `dyn ConnectionDriver + Send`, which in this usage acts as a distinct type from `dyn ConnectionDriver`.

[2022-04-24 18:51] the8472 commented on #93058
Shouldn't the JS also be changed to strict mode to ensure that all variables actually are declared via keywords?

[2022-04-24 18:56] MendyBerger commented on #92495
@matthiaskrgr still getting an internal compiler error in playground

[2022-04-24 19:00] lcnr commented on #76560
The relevant issues for this are tracked in https://github.com/rust-lang/project-const-generics/issues?q=is%3Aissue+is%3Aopen+label%3AC-design-docs+label%3AA-generic-exprs

it's still going to take a while until we're close to stabilization here[^1], going to update the tracking issue though.

[^1]: to a large part because cg currently isn't the main focus of either myself or the compiler team

[2022-04-24 19:05] matthiaskrgr commented on #92495
oh hmm, I see. Not sure what I tested in the morning then... :smile:

[2022-04-24 19:06] lcnr commented on #76001
yes, `asm!` should probably also use `InlineConst` instead of ordinary anon consts. @Amanieu please ping me on zulip if that's something you want to look into. Don't have too much time rn but want to really clean up the story wrt constants in rust.

[2022-04-24 19:07] matthiaskrgr commented on #92495
But it looks like the ICE changed a bit, from many
[code]

to

[code]

[2022-04-24 19:16] #90315 closed

[2022-04-24 19:16] #96011 closed

[2022-04-24 19:56] cjermain opened #96365 "Missing rust-gdb pretty printer for cdylib shared objects"
### Problem
Debugging in `rust-gdb` with a shared object library does not activate pretty-printers supplied by `rustup`.

Running `cargo build` with  `crate-type` of `bin` or `lib` results in a `.debug_gdb_scripts` section on the target or library, allowing [`rust-gdb`](https://github.com/rust-lang/rust/blob/5cdab3a8db1dc2326737c1a1d48e838a8b8e55d7/src/etc/rust-gdb) to [auto-load](https://sourcewa

[2022-04-24 21:34] AronParker opened #96368 "`EncodeWide` should implement `FusedIterator`"
[`EncodeWide`](https://doc.rust-lang.org/std/os/windows/ffi/struct.EncodeWide.html) iterates over `Wtf8CodePoints` (which point to a slice of bytes in memory). When the code points expire (no more bytes available in the slice), there is no chance of the iterator ever returning more `u16` values. Therefore, `EncodeWide` should implement `FusedIterator`.

[2022-04-24 21:48] simbleau commented on #90739
Confirmed.

[2022-04-24 21:48] #90739 closed

[2022-04-24 21:52] matthiaskrgr commented on #96299
Is this still reproducible?

[2022-04-24 22:49] compiler-errors commented on #96360
I can probably implement a better error message for this, though...

[2022-04-24 22:51] ChrisDenton commented on #96368
It is currently fused in practice and I don't think there's a good reason to change that in the future. This would technically be an API change but one that should have no negative impact to existing code.

Which is the long winded way of saying I agree.

[2022-04-24 23:13] AronParker commented on #96368
Thanks for the quick response! I realize that this is an API change but didn't feel it'd warrant a "feature suggestion". I guess for now I'm just throwing the idea out there.

[2022-04-24 23:22] ChrisDenton commented on #96368
This is a great idea and I'd be happy to see a PR that implements it. I was just ticking off a checklist. It's not a breaking change and it is useful, so implementing it should not be at all controversial.

[2022-04-24 23:29] AronParker commented on #94743
Finding `cmd.exe` can be done by inspecting the `ComSpec` Environment variable, which points to `cmd.exe`.

We don't have any existing machinery to deal with the Windows Registry in the Rust standard library at the moment do we? So to access it we would need to import more libraries or use a different program such as `REG`. Using the registry APIs would be the cleanest approach though.

[2022-04-24 23:31] AronParker commented on #96368
Sounds good, I'll get to it tomorrow!

@rustbot claim

[2022-04-24 23:32] bentongxyz commented on #96049
HI, is it okay if I try to work on this?

@rustbot claim

[2022-04-24 23:32] bentongxyz commented on #96049
HI, is it okay if I try to work on this?

@rustbot claim

[2022-04-24 23:47] SUPERCILEX commented on #86302
How does one initiate the FCP? Or are there any blockers?

[2022-04-24 23:49] scottmcm commented on #96357
I agree this isn't a bug.  I expect that anything that happens in this direction will happen as part of https://github.com/rust-lang/project-safe-transmute -- which will probably include various "still `unsafe`, but more checked" features.

[2022-04-25 00:08] ChrisDenton commented on #94743
True. Though we may need a fallback if that's not available for some reason. Also we'd need to consider if using the environment for this could be a security risk in some scenarios. Possibly not, but it's worth considering before implementing.

Yeah, we don't currently use any registry APIs so those would need to be added. And there would also be a fair amount of effort to ensure the logic for res

[2022-04-25 00:10] scottmcm commented on #96262
I think I'm actually just going to close this, as expected behaviour that's unlikely to change.  Having this would essentially amount to bringing back typestate, which would be a massive change.

Note that this is *far* from the only place where Rust uses type-level logic instead of full-details-of-where-the-value-came-from logic.  This is why `while true {}` and `loop {}` have different results i

[2022-04-25 00:10] #96262 closed

[2022-04-25 00:13] scottmcm commented on #96368
Note that, procedurally, a new trait impl is insta-stable so will need a `T-libs-api` FCP.

(That's totally ok, just wanted to note it.)

[2022-04-25 00:21] scottmcm opened #96373 "Tracking Issue for experimental `yeet` expressions (`feature(yeet_expr)`)"
This is a tracking issue for *experimenting* with the ["throw expression" idea from RFC#0243](https://rust-lang.github.io/rfcs/0243-trait-based-exception-handling.html#throw-and-throws).
The feature gate for the issue is `#![feature(yeet_expr)]`.

This has not, as yet, had an RFC, and probably cannot be stabilized without one.  Currently the primary purpose of the feature is to ensure that redesig

[2022-04-25 00:34] scottmcm opened #96374 "Tracking Issue for `ops::Yeet` (`feature(try_trait_v2_yeet)`)"
Feature gate: `#![feature(try_trait_v2_yeet)]`

This is a tracking issue for standard library editions related to https://github.com/rust-lang/rust/issues/96373, which for now means the `ops::Yeet` struct and related `impl`s.

It currently exists **experimentally** and likely needs an RFC before stabilization -- at the very least it will not stabilize under the name `Yeet`.  Please try this out an

[2022-04-25 00:40] #95097 closed

[2022-04-25 00:40] #96072 closed

[2022-04-25 00:40] #96362 closed

[2022-04-25 01:15] rise0chen commented on #96360
I think it should auto implement `Debug` for both `dyn ConnectionDriver + Send` and `dyn ConnectionDriver + !Send`.

[2022-04-25 01:56] rise0chen commented on #96360
`impl Foo for dyn Bar + Send {}` have a High priority.
`impl Foo for dyn Bar {}` have a Low priority.
And, `dyn Bar + !Send` auto impl Foo by `impl Foo for dyn Bar {}`

[2022-04-25 02:24] wwylele commented on #96360
I think the problem here is that `dyn A+B` isn't a subset of `dyn A`. They are distinct types. This is different from trait bounds, where `T: A+B` is a subset of `T: A`. For trait bounds, we can implement something for `A` and expect it to be implemented for `A+B`; or if we want to have a different implementation for `A+B`, we have specialization for that. We probably need to overhaul the entire `

[2022-04-25 04:53] PrestonFrom commented on #96335
@oli-obk @PeterWrighten @Badel2
I have opened a PR that I believe addresses the ICE. I think I pretty much implemented what Oli described, but I'm a little unclear as to whether this is the actual solution or is the fact that there's an adjustment on a never type at all the real bug?

I also wasn't able to reduce the minimal error case much beyond what Badel2 posted. Do you happen to have a simple

[2022-04-25 05:15] compiler-errors commented on #96335
@PrestonFrom I'm assigned to your PR, and looked into this issue really quickly. So this is due to the new argument type compatibility algorithm implemented in #92364 (cc: @jackh726). The [`check_compatible`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/check/fn_ctxt/checks.rs#L277) inner function is calling [`check_expr_kind`](https://github.com/rust-lang/rust/blob/mast

[2022-04-25 05:31] matthiaskrgr opened #96381 "rustdoc: ice: cannot relate region: LUB(ReErased, ReFre..."
### Code
`./src/test/ui/did_you_mean/replace-impl-infer-ty-from-trait.rs`
[code]

### Meta

`rustc --version --verbose`:

This was introduced between  18f314e7027fe7084aaab8620c624a0d7bd29e70 (no ice) and 1f631e8e93681ddc6e62d6ba6065cac7c449534c (ice)

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-25 05:53] compiler-errors commented on #96381
This is my fault in #95395. I'll try to handle regions better here.

[2022-04-25 05:57] #95924 closed

[2022-04-25 05:57] bugadani commented on #95924
Thanks, this has been fixed now.

[2022-04-25 05:57] PrestonFrom commented on #96335
@compiler-errors Thank you for the background! That helps a lot to clarify things. I clearly need to do a lot more reading.

[2022-04-25 05:58] PeterWrighten commented on #96335
Yeah, I also just have a simple ICE from rustc. But there has been some expositions from @compiler-errors , so I think maybe this issue would be solved in the future.

[2022-04-25 07:00] tmfink commented on #96328
@petrochenkov yes, that was exactly the issue!

It seems that the build script prints:
[code]

which are "greedily" expanded into linker arguments.

I (incorrectly) assumed that `rustc` would track static and dynamic objects separately and put all of the dynamic linking arguments (like `-lz`) at the end. After thinking more, I realize that it may not make sense for `rustc` to try to reorder linker

[2022-04-25 07:05] #96060 closed

[2022-04-25 07:15] rise0chen commented on #96360
I think it is a similar problem.
[code]

[code]

[2022-04-25 07:24] petrochenkov commented on #96328
Since the order of libraries is significant, rustc tries to preserve it.
It doesn't always happen, for legacy reasons, but we are at least trying to fix that.

Cargo also preserves the order, from my experience, but it's better to ask cargo maintainers whether are any corner cases.

[2022-04-25 07:26] maltekliemann commented on #96299
Yes, unfortunately, the problem persists with this setup:

[code]

[2022-04-25 07:27] oli-obk commented on #96357
I'm going to close this issue as I think it's not actionable presently

[2022-04-25 07:27] #96357 closed

[2022-04-25 07:30] petrochenkov commented on #73319
As experiments in https://github.com/rust-lang/rust/pull/94962 showed "never deduplicating" is also not a safe choice, because whole-archive libraries will produce errors if not deduplicated, and rustc has to use whole-archive by default in some cases, at least currently.

[2022-04-25 07:31] petrochenkov commented on #73319
So I think we should use deduplication by default, especially given that currently things are "more deduplicated than not", but should not make this change until a stable `dedup` modifier is available to explicitly disable the deduplication when needed.

[2022-04-25 07:41] LHolten commented on #87335
I did intend for snippet 2 to be the entire block. So your example would **always** desugar to this:
[code]
It needs to be clear that desugaring is a one way operation. In this case it is possible to turn every `let else` into an `if let else`, but it is not possible to turn every `if let else` into a `let else`.

This is exactly the same as the current design.
Actually, the current design with di

[2022-04-25 07:47] petrochenkov commented on #96328
I wouldn't want to specify *precise* details for rustc, due to those legacy issues and because in rustc we want to deduplicate the linked native libraries more aggressively.
So what we want to preserve is not the specific order, but rather dependencies between libraries.

But in simple cases like
[code]
(no duplicates or anything), it's obvious that we'll need to infer dependencies as `a <- b`, `b

[2022-04-25 07:50] Eugeny commented on #87335
IMO this breaks the principle of _locality_, where the effects to control flow are represented by local curly braces.

I.e. here I _know_ that the `foo` call is a static part of the function body since it's in the function body's block.

[code]

and here it's affected by some condition since it's in the `if` block:

[code]

But with your desugaring, the first snippet immediately becomes ambiguous

[2022-04-25 08:00] aminya commented on #92133
Here is the solution I have found for this issue:

[code]

[2022-04-25 08:10] LHolten commented on #87335
You could say the same for the question mark operator `?`.
It is very small, it is not located at the start of a line and it affects control flow in the same way.

[2022-04-25 08:44] SparrowLii commented on #79191
@JakobDegen I'm interested in this, too. Have you done some work? If not, I should be able to submit a PR soon

[2022-04-25 09:01] Eugeny commented on #87335
I've done some self-reflection and I think the actual thing that bugs me is that it's introducing a brand new control flow concept.

The current control-flow-breaking "early return" actions we have are:

* Exit function: `return`, `panic` and `?`
* Exit loop body: `break`

The alternate let-else desugaring introduces the new concept of "exiting the current code block but not the function".

If the

[2022-04-25 09:51] LHolten commented on #87335
I agree with your analysis. The reason I think this should be the default for a `let else` binding, is because it is precisely the current code block that requires the variable to be bound. Execution can continue after the current block and I think it should.

Since it probably requires a lot of testing to figure out if I am right that this is asked for. Why not continue stabilising the current de

[2022-04-25 10:14] #95178 closed

[2022-04-25 10:27] arnauorriols commented on #90907
Here's another case I believe related to this issue, or at least another case derived from the "only one remaining applicable impl" desig: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7c1a2e56a4ccb316bd7480494c44225c

[2022-04-25 13:54] nico commented on #96362
It builds now, but at least on our bots, src/test/ui/numeric/numeric-cast.rs fails with trunk LLVM: https://ci.chromium.org/ui/p/chromium/builders/try/linux_upload_clang/2200/overview => https://logs.chromium.org/logs/chromium/buildbucket/cr-buildbucket/8815915618951615473/+/u/package_rust/stdout?format=raw

[code]

(And many more lines of output before that.)

[2022-04-25 14:17] matthiaskrgr commented on #96299
Ok, it looks like this is actually an incremental compilation issue which only appears with --edition=2021, very interesting :smile:

`rustc 96299.rs  -Cincremental=incr -Zincremental-verify-ich=yes --edition=2021`

[2022-04-25 14:19] skydig opened #96394 "powerpc-unknown-linux-gnuspe illegal instruction"
@alexcrichton
I use following command to build std for powerpc gnuspe,

cargo build -Z build-std --target=powerpc-unknown-linux-gnuspe

and run under target, crash is as following,

Program received signal SIGILL, Illegal instruction.
0x204f2610 in core::sync::atomic::atomic_compare_exchange::hdd78233f59efc1d2 ()
at /usr/share/rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/src/rust

[2022-04-25 14:23] nikic commented on #93036
This still requires ConstraintElimination to be enabled on the LLVM side. If it is, then this will land with the LLVM 15 upgrade in ~August.

[2022-04-25 14:24] matthiaskrgr commented on #96299
Probably a duplicate of https://github.com/rust-lang/rust/issues/95271
I'll
@rustbot prioritize
since this is just normal looking code that causes broken mir and is reproducible on stable `1.60`, beta and nightly.

[2022-04-25 15:17] kekeimiku commented on #93050
Want this feature, for example the following use case feels very convenient
`.filter(|v:&Result<Vec<usize>>| v.is_ok_and(|x| !x.is_empty()))`

[2022-04-25 15:44] eholk commented on #95521
@michaelwoerister did some work on this with #95011, although it doesn't look like that one covers combinators like `select!` and `join!`.

@rustbot label +AsyncAwait-Triaged

[2022-04-25 15:45] gheoan commented on #29639
Should I be opening bug reports related to my use of `no_core`? I've seen confusing diagnostic messages and ICEs.

[2022-04-25 16:07] eholk commented on #96084
We discussed this in triage today. It seems like the issue is probably that `MaybeBorrowedLocals` is being too conservative. Once it finds a borrowed local, it stays live until it finds a `StorageDead` instruction, and these get inserted at the end of the scope. It seems like once we move out of a local, we should be able to mark that as `StorageDead`, instead of waiting until the end of the scope

[2022-04-25 16:09] matthiaskrgr opened #96395 "ICE: glacier fixed/82079.rs with -Zmir-opt-level=3: failed to normalize [closure@./82079.rs:13:25: 13:46]"
### Code

This ice'd previously in https://github.com/rust-lang/rust/issues/82079 and was fixed by https://github.com/rust-lang/rust/pull/91255 but now it ICEs again with `-Zmir-opt-level=3`

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-25 16:10] tarcieri commented on #71224
Came across this issue and was also thinking that if there were a `SystemTime::MAX`, it could be implemented (even in end-user code) as `.checked_add(duration).unwrap_or(SystemTime::MAX)`.

[2022-04-25 16:11] tmandry commented on #96084
In #60187 I think I attempted making a MIR building change that caused `StorageDead` to be emitted earlier. The performance hit was unacceptable for all functions, but there was discussion about doing this for only generators. I can't remember where exactly we landed on that, but I don't see a diff in the MIR building code of the final PR. So maybe that's the thread to pick up again from here.

[2022-04-25 16:24] eholk commented on #96128
Thanks for the report! It sounds like at the very least we could do better with the diagnostic here and add an explicit hint to add a `Send` bound. Beyond that, I think we'll need to do some more investigation to see what the compiler's doing and whether that's incorrect. The part about a free function working while the closure doesn't is especially weird.

It'd be nice if we could get a repro wit

[2022-04-25 16:36] dns2utf8 opened #96396 "[rustdoc] query symbol docs on the CLI"
Hi all

I saw this feature in this [haredoc announcement](https://harelang.org/blog/2022-04-25-announcing-hare/#haredoc) so I propose a similar function for rustdoc (or a cargo plugin).

Looking forward for your ideas :)

## Query

For the current project one could query like this, maybe the `crate::` should be prefixed always.

[code]

For deps one would issue commands like this:

[code]

## Resu

[2022-04-25 17:19] apiraino commented on #96364
API documentation [at this link](https://github.com/abilita-org/apprendo-webapp/wiki/API_collection#post-collectionsshare)

[2022-04-25 17:23] dvc94ch commented on #56371
Looking into this, I noticed that while lldb-preview shipped for a while, it was dropped at some point during the llvm 9 upgrade. So actually shipping lldb and having a commitment from the rust team to not just drop it when convenient would be nice. At least lld seems to be shipped reliably.

[2022-04-25 17:47] nico commented on #96362
Hm, someone on #94322 says "https://github.com/rust-lang/rust/pull/94327 should help with this specific instance", but that's been merged a while ago. So I guess #94322 covers something more general than the specific instance fixed by that change.

If the test doesn't consistently pass, the failure is understood, and a fix won't happen soon, maybe that test should be disabled for now?

[2022-04-25 18:23] jsha opened #96399 "rustdoc: search no longer accepts `!` as part of query"
Steps to reproduce:

1. Visit https://doc.rust-lang.org/nightly/std/string/trait.ToString.html?search=panic!

Expected result:

All versions of panic (that are macros) appear.

Actual result:

Query parse error.

Compare vs stable: https://doc.rust-lang.org/stable/std/string/trait.ToString.html?search=panic!

I think this is just a matter of accepting `!` in the eBNF grammar and also the JS-implem

[2022-04-25 18:33] GuillaumeGomez commented on #96399
Good catch! I'll send a fix tomorrow.

[2022-04-25 18:56] notriddle commented on #96399
`!` on its own is not a macro. It's a primitive, and `Foo<!>` is a valid thing that should work. Sure, that's technically an unstable feature, but it makes more sense to ensure it works right now instead of trying to fix it later.

[2022-04-25 18:58] #50007 closed

[2022-04-25 19:00] GuillaumeGomez commented on #96399
Let's consider it valid as long as it ends the ident to simplify things then. That would make `!` and `macro!` valid while erroring for `any!thing` or `!!`.

[2022-04-25 19:02] petrochenkov commented on #92102
Fixed in https://github.com/rust-lang/rust/pull/95604.

[2022-04-25 19:02] #92102 closed

[2022-04-25 19:11] camelid commented on #96399
I've been meaning to suggest this for a while, so definitely a thumbs up from me :)

[2022-04-25 19:38] nyanchor opened #96403 "rust:1.60.0-buster docker container is unable to build prost-types"
I'm trying to build a docker image for a grpc server I'm working on. Everything works when I build the release binary locally but using the latest docker image fails. Here is a snippet of my Dockerfile.

I tried this code:

[code]

I expected to see this happen: *Building the binary locally works but not in the docker container*

Instead, this happened: *The compilation fails with the following er

[2022-04-25 20:09] nico commented on #96362
@chbaker0 too :)

[2022-04-25 20:36] the8472 commented on #96403
I don't see how that's a bug? The crate tries to build a native dependency and some build requirements aren't available in the image used. If the docker image doesn't guarantee that they are then you need an additional step in the Dockerfile to add them.

[2022-04-25 21:12] Dirbaio opened #96406 "TAIT: hidden type cannot be another opaque type from the same scope"
I wanted to write a function that statically allocates an `async fn` future: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c94b09d28daffb9b2a3d44d97c754a74)

[code]

This fails with the following error:

[code]

One workaround is to move the `Fut` to the top level, but that's undesirable because it makes the entire file to be the defining scope, which interf

[2022-04-25 21:14] yungkneez opened #96407 "./x.py dist fails to build in an offline environment"
When trying to build in an offline environment (eg: where crates.io is accessible only through a proxy or mirror), `./x.py dist` fails with:
[code]

I have cargo configured to use the proxy in `~/.cargo/config`, but this seems to have no affect.

### Code

I tried this code:

[code]

I expected to see this happen: A successful build

Instead, this happened: An unsuccessful build

### Version it wo

[2022-04-25 21:27] dbeckwith opened #96408 "Rustdoc produces strange output for `pub use ::foo;` items"
`cargo doc` produces some strange-looking documention for the following code:

[code]

The produced documentation for the `foreign` module in this crate looks like:

I'm not sure why the `{{root}}` parts are there, I guess they're indicating the leading `::` from the crate paths in my `use` statements but I feel like they should just render like the normal Rust syntax:

### Meta

`rustc --version

[2022-04-25 21:30] dbeckwith commented on #96408
duplicate of #95873, my bad

[2022-04-25 21:30] #96408 closed

[2022-04-25 21:35] yaahc commented on #74465
I know we can't really remove it from the compiled library, but I still do like the idea of eventually removing the ability to call deprecated APIs in newer editions. The benefit in my mind being keeping the language surface area as small as possible. I think there is a significant cost in having multiple ways to do the same thing, if people can use `Once` or `OnceLock<()>` to do the exact same th

[2022-04-25 21:42] josephlr commented on #69250
See #40710

[2022-04-25 22:32] nbdd0121 commented on #74465
How about making `std::sync::Once` `Once<T = ()>`?

[2022-04-25 22:55] #96403 closed

[2022-04-25 23:08] cuviper commented on #74465
We still do have to maintain the old stuff, even if it's inaccessible from newer editions.

[2022-04-25 23:21] EliasHolzmann opened #96413 "std::fmt: Precision via asterisk does not fit documentation when using named or explicit positional arguments"
From the documentation on `std::fmt`, section "Precision" (highlighting in bold by me):

The bold part does not fit the current behavior. Consider the following snippet:
[code]
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3ddd7a47216da3385d0476ee4b5a60bb)

According to the documentation, one would expect this program to output `2.0 foobar`. Instead, ru

[2022-04-26 01:02] cjermain commented on #96365
@tromey, I noticed you have experience in this area. Any thoughts on this, or who might be the right person?

[2022-04-26 01:05] ehuss commented on #96407
Are you setting `vendor=true` in `config.toml`?  That will use the vendored packages that come with source tarball.  I would also recommend to let `x.py` create the `.cargo/config.toml` with the appropriate vendor settings.

[2022-04-26 03:17] coolreader18 commented on #81513
I'm looking into adding a `{size,align}_of_val_from_metadata<T>(<T as Pointee>::Metadata)` intrinsic, which I discovered only after I implemented it was suggested by @SimonSapin in code comments in 5ade3fe32c8a742504aaddcbe0d6e498f8eae11d. I have a working intrinsic, but I'm wondering what the best way to expose it is. My first thought was `Pointee::size/align_of(Self::Metadata)`, but I'm not sure

[2022-04-26 04:37] jiangzhe opened #96417 "Inconsistent behavior of borrow checker against method and function calls with &mut and &."
I tried this code:

[code]

I expected to see this happen: all cases failed to compile.

Instead, this happened: Method call in case 2 succeeded, but function failed.

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

[2022-04-26 04:48] #95030 closed

[2022-04-26 04:48] #96335 closed

[2022-04-26 05:35] SKTT1Ryze opened #96418 "Why not with<F, R>(...)->R where F: FnOnce(&staticT) -> R {...}"
https://github.com/rust-lang/rust/blob/9ea4d4127fa2c7e99d31a4a8a59227c9874d61dc/library/std/src/thread/local.rs#L415-L423

I think following is better:
[code]

Also in `try_with`

[2022-04-26 06:49] CAD97 commented on #69835
What about `Layout::for_value_raw`? The feature is `layout_for_ptr`, and my original pre-PR draft used `Layout::for_ptr`, but that has a high chance of being misread as the layout to store the pointer, rather than for the pointee. Otherwise, I think I fully agree, but without a good name for the `Layout` function, keeping the parallel between `of_val`[`_raw`] and `for_value`[`_raw`] seems benefici

[2022-04-26 07:22] codecheck01 opened #96423 "unresolved external symbol _DllMain"
### Code

I tried this code:

[code]
[code]

[code]
[code]

It seems like `#[no_mangle]` is not working anymore.

### Version it worked on

`rustc --version --verbose`:
[code]

### Version with regression

`rustc --version --verbose`:
[code]
</p>
</details>

[2022-04-26 08:19] bjorn3 commented on #74465
That is unfortunately a breaking change. Generic param defaults only work in some cases but not others. Don't remember exactly when they do and when they don't work though.

[2022-04-26 08:32] Manishearth commented on #96223
n.b. I would like to get this backported into the beta in time for a release, if possible, this breaks code in ways that I'm not sure can be worked around. cc @rust-lang/release

Going to try and see if I can come up with a reduced testcase.

[2022-04-26 08:38] WaffleLapkin commented on #81513
@coolreader18 wouldn't such functions restrict our ability to implement thin pointers in the future?

e.i. a DST type may want to have `Metadata = ZST` and store the size in itself.
[code]
In this case the metadata does not have sufficient information to implement `size_of` or `layout` that you propose.

[2022-04-26 08:48] Manishearth commented on #96223
I got it somewhat minimalized to an independent rust file:

<details>

[code]

</details>

[2022-04-26 08:54] Manishearth commented on #96223
Adding an ` impl<'a: 'de, 'de> Deserialize<'de> for CodePointSet<'a> {}` causes the ICE to go away

[2022-04-26 09:03] RalfJung commented on #96274
I think I see what you mean, but I disagree. The following two functions are contextually equivalent, which means they are as equivalent as things can get in a programming language:
[code]
But program equivalence is undecidable (think: halting problem), so it can easily happen that the optimizer treats one different from the other. When that happens, we should fix the optimizer, nor design our lib

[2022-04-26 09:14] petrochenkov commented on #96423
Probably another issue with stdcall symbol name mangling uncovered by https://github.com/rust-lang/rust/pull/95604.

cc https://github.com/rust-lang/rust/issues/50176 https://github.com/rust-lang/rust/issues/67399 https://github.com/rust-lang/rust/issues/17806
cc @nbdd0121

[2022-04-26 09:18] stephanemagnenat commented on #88643
I just encountered a similar ICE with a slightly different source code (in the context of building a task planner). Here is the minimized code in [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b39ec6a06110a37248527c7b4c9e106a):
[code]

[2022-04-26 09:39] SimonSapin commented on #74465
If deprecation is tied to an edition and there’s a rustfix migration, that sounds fine. It’s new deprecation warnings in existing code just by upgrading the toolchain that I feel are probably not worth the unexpected churn if it’s only to simplify std learnability.

[2022-04-26 09:50] lqd commented on #96223
As a quick test hack: if one bails out of the suggestion when there are escaping bound vars, this code would emit "error[E0277]: the trait bound `for<'de> CodePointSet<'de>: Deserialize<'_>` is not satisfied".

[2022-04-26 09:51] SimonSapin commented on #81513
Could such a DST be "unsized" from a raw pointer? This works today:

[code]

[2022-04-26 10:05] WaffleLapkin commented on #81513
It can:
[code]
`size_of_val_raw`'ing that would be UB though.

[2022-04-26 10:14] #93927 closed

[2022-04-26 10:27] oli-obk commented on #96406
One further way to break the connection would be to use an identity function that just passes the value through but makes it opaque:

[code]

[2022-04-26 10:32] SkiFire13 commented on #96418
Your proposal would allow the caller to store the `&'static T` somewhere, even after the current thread has stopped and the thread local is not valid anymore. Fundamentally `'static` is the wrong lifetime there, because the lifetime of a thread is not `'static`.

[2022-04-26 11:10] ABouttefeux commented on #83158
@kckeiks I am not working on that please go ahead. Sorry for not responding sooner.

[2022-04-26 11:17] nbdd0121 commented on #96423
Hmm, seems that we would have to replicate the name decoration scheme in Rust?

[2022-04-26 11:51] jcornaz opened #96429 "thread 'rustc' panicked at 'no entry found for key', src/librustdoc/passes/collect_intra_doc_links.rs:986:16"
### Code

Here is a complete (minimized) reproducer: https://github.com/jcornaz/rustdoc-bug-reproducer

It can be reproduced with a workspace with two crates "a" and "b" where:
* The crate "a" depends on the public (crates.io) crate `rapier2d` and its code is: `pub extern crate rapier2d`.
* The crate "b" depends on the workspace crate `a` and its code is: `pub extern crate a; pub use a::*;`

With

[2022-04-26 12:32] jackh726 commented on #96223
I'm a bit mixed on whether we should backport a fix here. One on hand, the actual fix here should be very small and relatively safe (it only occurs in the error path). On the other hand, this doesn't break *working* code.

@ricked-twice had some changes that were pretty minimal (returning if `no_bound_vars` is None. That might make sense to backport. There are bigger changes to the code that I ask

[2022-04-26 12:34] Manishearth commented on #96223
Yeah, sorry, I made that comment before I realized that there was indeed a fix for the issue :smile:

I don't think we need to backport as strongly. But I do feel the smaller bugfix would be worth attempting to backport.

[2022-04-26 12:36] jackh726 commented on #96223
Like I said, I think the backport is relatively safe. But not sure it motivates a point release on its own. We can start with the small PR and let compiler team and release team decide how to proceed.

[2022-04-26 13:01] SKTT1Ryze commented on #96418
Thanks for your patience.

[2022-04-26 13:01] #96418 closed

[2022-04-26 13:18] Mark-Simulacrum commented on #95983
@craterbot run name=beta-1.61-3 start=1.60.0 end=beta-2022-04-26 mode=build-and-test cap-lints=warn p=1 crates=https://crater-reports.s3.amazonaws.com/beta-1.61-2/retry-regressed-list.txt

[2022-04-26 13:55] Mark-Simulacrum opened #96434 "[regression] println borrow check errors"
* https://crater-reports.s3.amazonaws.com/beta-1.61-2/beta-2022-04-18/gh/Acrylic125.rust-tutorial/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.61-2/beta-2022-04-18/gh/DreamLarva.learn-rust/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.61-2/beta-2022-04-18/gh/Francososa.threads/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.61-2/beta-2022-04-18/gh/Jaco26.rust_chess/

[2022-04-26 13:58] Mark-Simulacrum opened #96435 "[regression] ambiguity libc/ffi/os::raw for c_ types"
* https://crater-reports.s3.amazonaws.com/beta-1.61-2/beta-2022-04-18/reg/jimage-0.2.3/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.61-2/beta-2022-04-18/reg/snap7-rs-1.142.0/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.61-2/beta-2022-04-18/reg/jerk-0.2.2/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.61-2/beta-2022-04-18/reg/tomcrypt-0.1.0/log.txt

Introduced by h

[2022-04-26 14:14] shepmaster commented on #96074
Perhaps copy-paste from the [tui crate's docs](https://docs.rs/tui/0.18.0/tui/index.html#layout):

[code]

[`constraints`](https://docs.rs/tui/latest/tui/layout/struct.Layout.html#method.constraints) is

[code]

[2022-04-26 14:14] petrochenkov commented on #96435
One reasonable fix is to stabilize these types in `std::ffi`.
They are the same types as stable types in `std::os::raw` just exposed from a different (but also stable) location in the same crate.

(That said, glob vs glob is an acceptable breakage according to the library policy.)

[2022-04-26 14:22] shepmaster commented on #96074
My original justification was not uniformity, but to allow passing byte strings to `impl Into<Vec<u8>>` arguments which is somewhat common with FFI code.

Amusingly, the TUI example code is _improved_ by this change (IMO):

[code]

[2022-04-26 14:43] nrc commented on #83701
This had actually been done. I've edited the OP to strikethrough this point

[2022-04-26 14:46] nbdd0121 commented on #74465
It wouldn't break anything if we just change the struct, but we can't change `new` from `impl Once` to `impl<T> Once<T>` because default type parameters won't affect type param fallback.

[2022-04-26 15:03] khuey opened #96438 "Wrong fix suggested for missing as_mut in the presence of RefCell<Option<>>"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d77c477c52217e25856306f659a26e42

[code]

The current output is:

[code]

There are two separate issues here:

1. The suggested `as_ref` is in the wrong place and should be after the `borrow_mut()`, not after the `unwrap()`.
2. The suggested `as_ref` really should be an `as_mut`

[2022-04-26 15:21] araruna commented on #96225
I'm currently using rustc 1.62.0-nightly (055bf4ccd 2022-04-25) and from the 10 times I tried executing the code, all of them generated an ICE.

[2022-04-26 15:21] antonromanov1 opened #96439 "Why assert does not provide backtrace in gdb?"
Why when the assert falls, assert! in rust-gdb, an Inferior process exited with code occurs and it is impossible to get a backtrace and walk around it (how can this be done with assert in libc)?

Rust's assert:
[code]
one can get this in `rust-gdb`:
[code]
And in C:
[code]
You get this:
[code]

[2022-04-26 15:23] jcdyer commented on #90180
Works in 1.59 and up.

[2022-04-26 15:23] #90180 closed

[2022-04-26 15:24] colin-grapl opened #96440 "Unhelpful error when using the new module file layout"
Given a project layout:
[code]

I was attempting to export the protocol module.

[code]

The current output is:

[code]

The extended output makes a similar recommendation.

Ideally the output should look like:

[code]

This is apparently the style suggested in the docs.
https://doc.rust-lang.org/reference/items/modules.html

Here's my compiler verison.
`rustc -V`
`rustc 1.60.0 (7737e0b5c 2022-04-

[2022-04-26 15:27] MikailBag commented on #96439
It seems that `rust-gdb` should automatically set breakpoints on `rust_begin_panic` or provide simple command for it, e.g. `catch-panics`

[2022-04-26 15:31] joshtriplett commented on #96435
That would be a fast stabilization, but given that they're rather simple types, that seems potentially reasonable.

[2022-04-26 15:37] nrc commented on #83701
I would like to stabilise this feature.

This comment is meant to be a stabilisation report. It is perhaps a little earlier in the stabilisation process (there is no PR yet) because I want to get lang team input on an important question, and that basically answers the 'should we stabilise' question. Details below.

## What is being stabilised?

The ability to specify types at the call site (using

[2022-04-26 15:40] Mark-Simulacrum commented on #96435
If we were to stabilize, presumably we'd do that on master and back out the PR from beta? I am reluctant to backport a stabilization to fix this (particularly a fast one, as you mention).

[2022-04-26 15:40] joshtriplett commented on #96074
If we think we can improve inference in the compiler to avoid this, then this does seem worth reverting on beta.

cc @rust-lang/wg-traits @rust-lang/compiler; does this seem fixable through better inference?

[2022-04-26 15:44] mkeeter commented on #92295
I ran into this with nested modules, which is a case where the warning message is more confusing / genuinely wrong.

[code]

[code]

The warning message says that nothing is re-exported, which is false, since `hi()` can be called from `main()`!

[2022-04-26 15:45] joshtriplett commented on #83701
It seems reasonable to me to allow omitting the impl Trait parameters in a turbofish; we could always make their specification optional in the future.

T-lang, shall we allow turbofish for standard generic type parameters in a function that also has impl Trait parameters?

@rfcbot merge

[2022-04-26 15:53] ehuss commented on #96440
I don't think the new style recommendation encourages using inline modules, and I haven't seen any style guides that recommend that either.  I think the current recommendation is correct (to recommend adding `src/protocol.rs`).   Can you say more about where you've seen that recommended, or why you think that would be better?

[2022-04-26 16:03] estebank opened #96442 "More accurate suggestion for missing binop trait bounds"
https://github.com/rust-lang/rust/pull/94034#discussion_r858878655

We currently emit

[code]

but it should be

[code]

[2022-04-26 16:04] #92347 closed

[2022-04-26 16:04] #93744 closed

[2022-04-26 16:30] estebank commented on #96074
The only problem I see is that *changing* inference to get these to work might be doable, but not necessarily in the right way, which scares me because it would necessarily mean having a more lenient version of [`evaluate_candidate`](https://github.com/rust-lang/rust/blob/b04c5329e1e145fb2fb46c5a7e775638712b03aa/compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs#L162) or [`cand

[2022-04-26 16:40] yaahc commented on #96074
:+1: for revert and re-evaluate, @shepmaster correct me if I'm wrong but there's no urgency here, correct?

I do think this might fall within the set of changes that we'd potentially just allow breakage on, similar to https://github.com/rust-lang/rust/pull/75180 where we manually updated all the crates identified by crater.

Additionally, I'm wondering if https://github.com/rust-lang/rfcs/pull/324

[2022-04-26 16:49] estebank commented on #96074
Looking at [`candidate_should_be_dropped_in_favor_of`](https://github.com/rust-lang/rust//blob/ec667fbcfcd29e2b5080f6be04e229356b27e600/compiler/rustc_trait_selection/src/traits/select/mod.rs#L1710-L1775), it seems like right place for https://github.com/rust-lang/rfcs/pull/3240 (or similar) mechanism to be implemented.

[2022-04-26 16:50] jackh726 commented on #96074
(fair warning, I've only skimmed this thread)

Interestingly, I think this might be a similar "problem" to the one that gets discussed with Chalk with the SLG vs recursive solver (some background: https://rust-lang.github.io/chalk/book/recursive.html#recursion-and-completeness). Without going into specific details, I think committing to a "smarter" inference here has practical effects in an eventu

[2022-04-26 16:59] wesleywiser opened #96443 "link.exe "unresolved external symbol" regression on recent nightly"
### Code

`windows-rs` fails to compile with a recent nightly.

[code]

I expected to see this happen: compilation succeeds.

Instead, this happened: compilation fails.

---

`cargo-bisect-rustc` reports:

Regression in 18b53cefdf7456bf68937b08e377b7e622a115c2

searched nightlies: from nightly-2022-04-10 to nightly-2022-04-26
regressed nightly: nightly-2022-04-26
searched commits: from https://git

[2022-04-26 17:00] nbdd0121 commented on #96443
Duplicate of #96423

[2022-04-26 17:01] #96443 closed

[2022-04-26 17:07] Kestrer commented on #90765
FYI: allowing `expand_expr` to expand to _any_ arbitrary expression would be unsound, because `unsafe` macros rely on their output not being tampered with for soundness. Take for example this innocuous-looking proc macro:

[code]

By combining it with a safe macro that emits `unsafe` like [`pin_utils::pin_mut`](https://docs.rs/pin-utils/latest/pin_utils/macro.pin_mut.html), one can violate pinning

[2022-04-26 17:17] danielhenrymantilla commented on #90765
Or a simpler albeit more conceptual example:

[code]

[code]

  - (where I am using `match!` as the shorthand for eager expansion, but feel free to imagine it being a combination of `expand_into` + a `helper` if `match!` is not clear).

[2022-04-26 17:24] dtolnay commented on #96434
I'll fix this.

[2022-04-26 17:27] yungkneez commented on #96407
Thanks! I hadn't tried this originally but am still unable to build. Full steps are below:
## Clear local cache
`rm -rf ~/.cargo/registry ~/.cargo/git`

## Clone & initialize repo
[code]

## Initialize vendored crates
`cargo vendor --respect-source-config`
### Added vendor source to ./cargo/config.toml
`./x.py setup user`
### Set build.vendor flag = true in config.toml

## Disconnected from networ

[2022-04-26 17:36] shepmaster commented on #96074
None that I know of.

The only downside is that I used the original PR as a way to show someone "look how easy it is to submit changes to Rust" 😉

[2022-04-26 17:39] kpreid commented on #49112
I thought I'd help out by retyping (and modernizing) the code and error from the original screenshot:

[code]

This produces the following warnings (on stable 1.60.0):

<details><summary>Warnings</summary>

[code]

</details>

That is, the stated problem still reproduces. However, thinking about what's going on here, this code is hazardous and should be improved: **the macro is evaluating `$item`

[2022-04-26 18:28] estebank commented on #96074
I came up with the following unprincipled hack: https://github.com/rust-lang/rust/pull/96446

Doing anything like this would in effect turn both `Vec` and `AsRef` into `lang_items`. I didn't see the mechanism that https://github.com/rust-lang/rfcs/pull/3240 proposes for setting the edition on the `impl`, but whatever does that (an attribute?) would be something that'd have to be able to [express t

[2022-04-26 18:47] petrochenkov commented on #96429
Fixed in https://github.com/rust-lang/rust/pull/96447.

[2022-04-26 18:47] ojuliomiguel commented on #25289
Thanks, man! This helped a lot on ubuntu 20.04 lts

[2022-04-26 19:06] keepsimple1 opened #96448 "doc for slice get() is not clear about negative index"
https://github.com/rust-lang/rust/blob/082e4ca49770ebc9cb0ee616f3726a67471be8cb/library/core/src/slice/mod.rs#L318-L322

This doc for `get()` does not talk about what happens if the index is negative. Based on the existing doc, the method should return `None` as the index is out of bounds. But in reality:

- Compile will fail if the index is const (i.e. known at compile time).
- Will cause panic a

[2022-04-26 19:12] SNCPlay42 commented on #96448
The only implementors of `SliceIndex` are `usize` and ranges of `usize`, so it's *not possible* to index a slice (or call `get`) with a negative index.

[2022-04-26 19:16] keepsimple1 commented on #96448
The problem is that what `not possible` means here.  When the index is not const, rustc compiler will not reject the code. Instead, runtime will panic.

here is the simple example in Rust playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=dbff291a9fe98750d3d4e5cb70314b57

[2022-04-26 19:18] DropDemBits opened #96449 "Incremental ICE in `exported_symbols` query"
### Reproduction steps

On repo <https://github.com/DropDemBits/turse-rs>:

[code]

### Meta

`rustc --version --verbose`:
[code]

Also hit on `rustc 1.61.0-beta.4 (69a6d12e9 2022-04-25)` and `rustc 1.60.0 (7737e0b5c 2022-04-04)`

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

Truncated to fit under character limit, see [rustc_backtrace.txt](https://github.co

[2022-04-26 19:22] ehuss commented on #96407
`vendor=true` needs to be set before going offline and before running `x.py.  `x.py` takes care of properly vendoring everything with all the different workspaces.  Running `cargo vendor` manually won't work, because of things like rust-analyzer which are in a different workspace. The only steps you should need to take before going offline are:

1. Clone the repo
2. Copy config.toml.example to con

[2022-04-26 19:59] Dylan-DPC commented on #96407
removing nomination since this seems more like a user issue.

[2022-04-26 20:00] cmpute commented on #85122
I vote for adding `exact_div` into the library! It could be heavily used in integer factorization and other applications. I'm also developing a checked version of exact division in my crate. I think `unchecked_exact_div` or `unchecked_div_exact` will be good names.

Besides, I'm also thinking about a shorter name for `unchecked_`, something like `raw_add`, `raw_shl` may be easier to type?

[2022-04-26 20:05] keepsimple1 commented on #96448
thanks for pointing out the difference between the debug build and the release build. This difference is surprising to me. I also realized that the panic was directly due to the `usize` underflow, although it impacts the `get()` interface.

[2022-04-26 20:09] compiler-errors commented on #96448
Well, it equally affects any function that takes an unsized integer.

[2022-04-26 20:33] keepsimple1 commented on #96448
Out of curiosity, what is the reason for different behaviors in Debug mode and Release mode regarding `usize` underflow?

[2022-04-26 21:01] willcrichton commented on #96442
I will take a stab at this soon. I am fairly certain I know how to do it -- there's an `Expectation` type that describes the expected return type, and if that expectation exists, we can use it to bound `Output=<Expectation>`.

I tried implementing that today. This is the core change: https://github.com/willcrichton/rust/commit/e6529396c29240aabd3ca612540acad5f721dc97#diff-ea6f9d55e90333a1f5fc5e202

[2022-04-26 21:03] nellshamrell commented on #88982
I created a Docker development environment and sample application which replicates this issue https://github.com/nellshamrell/reproducible_build_basic_exp (it does still require a Windows workstation with Docker installed)

[2022-04-26 21:19] Milo123459 opened #96452 "Various crates fail to compile with `-C target-cpu=native` (illegal instruction)"
<details>
<summary>Error</summary>

[code]

</details>

I'm using the latest Rust (1.60.0) and this is running on Ubuntu 20.04 in a GitHub actions workflow. I've had this issue with other crates (sqlx) but those have seemed to just fix themself. This one seems to be persistent and wasn't occurring earlier (without any CI changes).

[2022-04-26 21:27] yungkneez commented on #96407
Understood. I appreciate you taking the time to explain the procedure!

I think I've identified the problem:
I followed your steps as above but before running `./x.py help`, I started Wireshark to see what was going on. I noticed that when it tries to download the necessary crates, it tries to resolve `crates.io` via DNS instead of using the proxy configured in `~/.cargo/config`. This is confirmed

[2022-04-26 21:42] coolreader18 commented on #81513
Hum, true. Alignment would be nice to be able to know from the metadata alone, at least, would custom DSTs have a reason not know that?

[2022-04-26 21:47] compiler-errors commented on #96448
I believe this RFC explains some of the rationale: https://github.com/rust-lang/rfcs/blob/master/text/0560-integer-overflow.md

Thanks for the issue report, but I'll close this since it's clear this isn't a problem with slice method documentation.

[2022-04-26 21:47] #96448 closed

[2022-04-26 21:52] nsunderland1 commented on #84566
Another example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cb829e88ed7b85f4d0bc0b6fc2b6f388

[code]

The full output is this:

[code]

This case doesn't suggest fixing the path separator at all, which is super confusing.

[2022-04-26 21:58] ehuss commented on #96407
Using a proxy seems like a bit of a different issue than pre-fetching dependencies with `cargo vendor`.  You may also be better served by downloading the [source tarballs](https://forge.rust-lang.org/infra/other-installation-methods.html#source-code) instead of trying to vendor things yourself.

I would check that the proxy configuration is set up correctly, as it looks like it isn't being picked

[2022-04-26 22:06] qutesy opened #96453 "suggest calling Self::associated_function()"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=72d0a7426f82aeca7615c923eb4d2da4

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-04-26 23:26] DunnNDusted commented on #91930
Hi, I followed the link from the `unwrap_or()` method, but don't see it included among the methods noted, is this exclusion a mistake...?

[2022-04-27 00:18] tmandry commented on #94003
Reading into the cargo bug some more, I found some options that would help.

- https://github.com/rust-lang/cargo/issues/9453
- https://github.com/rust-lang/cargo/issues/9452

Either would allow us to configure the flags passed to build scripts, one using the "normal" RUSTFLAGS for that target as I understand it, and the other using a dedicated section in `.cargo/config`.

The simplest change that

[2022-04-27 00:32] yungkneez opened #96456 "`./x.py` fails to bootstrap if `build.vendor` is set in `config.toml`"
# Steps to reproduce:
## 1. Clone the repository
[code]
## 2. Modify `config.toml` to set `build.vendor` = `true`

## 3. Start the bootstrap:
[code]

I expected to see this happen: `x.py` builds the bootstrap and runs the subcommand

Instead, this happened:
[code]

# Cause
`rust-analyzer` is not checked out in `src/bootstrap/bootstrap.py`:
https://github.com/rust-lang/rust/blob/082e4ca49770ebc9cb0

[2022-04-27 01:49] Dirbaio opened #96460 "impl trait: code that doesn't constrain a RPIT infers `()`?"
[code]

The above code [[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0d8346c6feac6e3c2509e80c1afe7260)] fails on stable with the following error, but compiles on nightlies after #94081 . It seems to me it shouldn't, the type is not constrained at all.

[code]

It seems to be inferring the opaque type to be `()`. For example, if you change it to `impl Future

[2022-04-27 01:58] jnordwick commented on #86715
I was the one that made this request originally I think. Please remember that I might not know what I really want. I tend to know what I wont in dev topics I'm familiar with but rust is still a convoluted mess in my head.

This request come from two things:
1- For returned value or anything exposed written in the crate, it can be very difficult and time consuming for someone learning or not alread

[2022-04-27 01:59] compiler-errors commented on #96460
I think this is a side-effect of fallback rules

[2022-04-27 02:01] Zoybean opened #96461 "`[T; N]` has no definite size"
Given the following code: [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3f24985e39b0cf535c15dcb9f10bc562)

[code]

The current output is:

[code]

This output mirrors the error for slices, "a value of type `[i32]` cannot be built since `[i32]` has no definite size", and I suspect this was over-corrected in error.
I don't know what the best hints would be

[2022-04-27 02:09] pnkfelix opened #96462 "Windows 32-bit shell: x.py fails (in hard to dissect fashion) during LLVM build"
I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

Actual log, which you would have to dissect to see the actual problem: https://gist.github.com/pnkfelix/4dd2aba17632cccf2803f5f5cda7dba6

The actual problem is that my command prompt had started up using Visual Studio's 32-bit (x86) mode.

But that choice of mode does not influence what Rust does f

[2022-04-27 02:10] jiby-aurum opened #96463 "Compiling for wasm64 fails"
`cargo +nightly build --target wasm64-unknown-unknown -Zbuild-std` fails with the following error

[code]

[2022-04-27 02:12] jiby-aurum commented on #96463
@alexcrichton maybe something I am doing wrong, it used to work a couple of months ago on my intel Mac, but fails on currently nightly on my m1 Mac

[2022-04-27 02:52] pnkfelix opened #96464 "windows: x.py test failure from codegen test suite"
I tried this code:

https://gist.github.com/pnkfelix/343528a3da2000880b370a22b6010b99

(i'll fix this in a second, I need to switch to a machine with an interface I can use effectively.)

[2022-04-27 03:06] udoprog opened #96465 "GAT combined with HRTB doesn't work and has confusing diagnostics"
I tried this code:

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9253295e89a1d8acba4ed1840ddde70b)

I expected to see this happen: Since the GAT has the `Self: 'this` bound I'd expect `T` as being part of `Struct<T>` which is `Self` to outlive `'this` and compile.

Instead, this happens and we get a (confusing) lifetime error which proposes to add a

[2022-04-27 03:16] yungkneez commented on #96407
You've given me some ideas as to where I can look for what's causing this and possible solutions.

To better capture the scope of the problem and what could be done, I'm going to close this issue for now, go over those ideas, and open a new issue if need be.

Thanks!

[2022-04-27 03:16] #96407 closed

[2022-04-27 03:42] #87181 closed

[2022-04-27 03:42] #96381 closed

[2022-04-27 03:42] #95873 closed

[2022-04-27 03:42] #96277 closed

[2022-04-27 03:42] #96399 closed

[2022-04-27 04:54] oli-obk commented on #96460
😱 oh no. I tried to avoid doing more implicit fallback. I think i can undo this accidental stabilization in a beta backportable way

[2022-04-27 05:01] devnexen opened #96467 "Tracking Issue for socket `set_mark`"
This is a tracking issue for the socket `so_mark` new function

### Public API

[code]

- [x] Implementation: #...
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

[2022-04-27 05:36] digama0 commented on #87335
@joshtriplett Could the OP be updated to point to the reference PR (rust-lang/reference#1156) and the stabilization PR (#93628)? They both seem to be waiting on this issue to be merged first.

[2022-04-27 05:57] tmccombs opened #96469 "Tracking Issue for mutex_unpoison"
Feature gate: `#![feature(mutex_unpoison)]`

This is a tracking issue for functions to clear the poisoned flag on `Mutex` and `RwLock`.

### Public API

[code]

### Steps / History

- [x] https://internals.rust-lang.org/t/unpoisoning-a-mutex/16521
- [x] Implementation: #96422
- [x] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-04-27 06:20] DropDemBits commented on #96449
Smaller diff:

[code]

[2022-04-27 06:56] Garcia101 opened #96470 "Conditionally obtaining a function, then calling, emits suboptimal indirect calls (that can be direct)"
This seems more like an LLVM issue?

https://rust.godbolt.org/z/TEncx3h5G

The simplest case of this issue is that, when conditionally choosing a function pointer (or closure), then calling it, the codegen will emit code to obtain one of the branches, then indirectly dispatch to the function pointer (as opposed to using a direct call).

For small functions, this codegen is noticeably worse, as the

[2022-04-27 08:13] WaffleLapkin commented on #81513
You could make the same argument as with ```Thin``` `Array`/`Slice`, but with a trait object, and then alignment is also only known from the value. Here is a gist that [demonstrates the same pseudocode, but with trait objectts](https://gist.github.com/WaffleLapkin/3f7ce31a97e6bded631c316a56838c15).

I think we may have a trait like this though:
[code]

[2022-04-27 08:22] #9607 closed

[2022-04-27 08:31] a1phyr opened #96472 "Codegen feature are no longer recognized by rustc"
On stable, giving additional codegen features to rustc works as expected, for example:

[code]
On beta and nightly, compiling with the same options works too, but warns that the feature is not recognized.

[code]

Target features work well.
This *may* be caused by #95202.

### Version it worked on

It most recently worked on: 1.60

### Version with regression

Beta (1.61)

`rustc --version --verbo

[2022-04-27 09:11] Manishearth commented on #86715
So the thing is, multi-crate search _does_ work already, I think the problem may be in y'alls setup? For example, see https://unicode-org.github.io/icu4x-docs/doc/icu/index.html , you can search any of the in-workspace crates. We generate this with `cargo doc` at the workspace root.

[2022-04-27 09:30] GuillaumeGomez commented on #86715
There is also the case where you have generated docs for the crates in your workspace and not for their dependencies but still want to be able to look through them when running a search. Then when a search result for an "outside" crate shows up, the link will target the website where this doc is.

[2022-04-27 09:52] joshtriplett commented on #96435
@Mark-Simulacrum Yeah, reverting the PR on beta seems fine for now.

[2022-04-27 10:11] bjorn3 commented on #96470
This also happens for x86_64-unknown-linux-gnu.

[2022-04-27 10:18] bjorn3 commented on #96439
In C `assert()` causes a SIGILL which is trivial to catch for a debugger. In rust it unwinds the stack and exits with exit code 101. In C++ exceptions are a lot more common and don't generally indicate fatal errors. For this reason gdb doesn't break on exceptions by default. Gdb has a `catch throw` command to catch any thrown exception, but this seems to only work for actual C++ exceptions and not

[2022-04-27 10:20] bjorn3 commented on #96394
What cpu are you trying to run it on? I suspect your cpu doesn't support an atomic instruction LLVM emits.

[2022-04-27 10:39] sunfishcode commented on #87074
@dtolnay https://github.com/rust-lang/rust/pull/96195 has now landed, giving the `OwnedHandle` `TryFrom` impls dedicated error types with `std::error::Error` impls.

[2022-04-27 10:52] SypoolProtocol commented on #65816
I think we just need a raw pointer here, does not really need a NonNull wrapper over it since we probably would also make it as a raw pointer.
And I don't think we should make it an associated function, it should consume a vector in a method way.

[2022-04-27 10:53] WaffleLapkin commented on #94418
@plagerweij

https://doc.rust-lang.org/std/primitive.never.html

`!` is useful because it can be coerced to any type (in this case to `String`) passing just `error` doesn't work because while `!` can be coerced, the function that returns `!` can't be coerced. So by introducing a closure you introduce a coercion site.

[2022-04-27 11:31] MolecularMatters opened #96475 "Wrong and missing information in PDB file"
With both Rust 1.60 stable as well as the latest nightly (rustc 1.62.0-nightly (082e4ca49 2022-04-26)), rustc currently does not emit correct S_OBJNAME records and LF_BUILDINFO records into the PDB on Windows.

Steps to reproduce:
* cargo new repro
* cd repro
* cargo build
* dump the PDB using either DIA2Dump or llvm pdbutil

S_OBJNAME:
The S_OBJNAME record is stored in the PDB for each module str

[2022-04-27 11:39] str4d commented on #88891
I also just encountered what I believe to be this issue (same ICE location). I've encountered two separate bugs):

- Check out https://github.com/zcash/halo2/commit/5f867336eb74307a1114b26b33ab083a079e8e86
- Change `rust-toolchain` to `1.56.1` (I was bumping MSRV from 1.51 to 1.56.1 when I encountered the bug).
- Run `cargo fix --edition` without running a `cargo clean` (so this one likely has som

[2022-04-27 11:44] kraktus commented on #96287
Testing the snippet above in playground with latest nightly does not compile as expected but does not crash anymore.

[2022-04-27 11:48] str4d commented on #88891
I tried to reproduce the above issue against several toolchain versions:
- 1.55.0 - No, returned an error because edition 2021 was unstable in this toolchain.
- 1.56.0 - Yes, hits above ICE.
- 1.56.1 - Yes, hits above ICE.
- 1.57.0 - No, works fine.
- 1.58.0 - No, works fine.
- 1.59.0 - No, works fine.
- 1.60.0 - No, works fine.

So this issue may have been fixed inadvertently, or is a duplicate o

[2022-04-27 12:22] aliemjay commented on #96465
Here is a reproduction without GAT:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0b67f00ab31d29fea792890947646164

[2022-04-27 14:20] niklasf commented on #93857
Some updates:
* The final comment period of the RFC has concluded (https://github.com/rust-lang/rfcs/pull/3228#issuecomment-1052632340).
* The implementation has been completed and merged (#93858).
* According to https://github.com/rust-lang/rust/issues/58590#issue-412329481, Fuchsia has no process hierarchy. It seems sensible to do nothing for now (same as for `CommandExt::groups`). Eventually #5

[2022-04-27 14:32] alexcrichton commented on #96463
I opened https://github.com/rust-lang/rust/pull/96477 to fix this, no fault of yours and this is just something that was missed during the last LLVM update

[2022-04-27 14:44] matthiaskrgr commented on #96287
hm, how are you running rustdoc in the playground?

[2022-04-27 15:11] tstj commented on #81842
I agree, currently there is PR for changing the stable sort, which looks complex, too.
Also, GrailSort is always slower than the current stable sort, mostly 1.5 to 2 times slower and in the best case of the current stable sort GrailSort is more than 10 times slower. The current stable sort can be easily optimized to use stable in place Symmerge for cases where the arrays to merge have very differe

[2022-04-27 15:16] yoroto opened #96479 "Build failure in x86 container on M1 chips"
When creating a release build of https://github.com/rust-lang/regex in an x86 Linux container on M1, I received the following error:
[code]

Toolchain version: 1.60.0.

It worked fine with native MacOS environment on M1. The build failure only happen in x86 container:
[code]

The same issue has been[ raised in the regex repo](https://github.com/rust-lang/regex/issues/851), but Andrew thought this

[2022-04-27 15:39] ehuss commented on #96472
This is caused by #87402 which contains some motivation for displaying a warning.

[2022-04-27 16:15] kraktus commented on #96287
my bad, overlook it was a rustdoc issue.

[2022-04-27 16:48] Garcia101 commented on #96470
(Regarding the last comment, for clarification, this occurs for all targets, it is not target dependant)

[2022-04-27 17:07] Urgau commented on #96472
The warnings reported by @bjorn3 are the symptom of an unrelated bug in the `--check-cfg` implementation, specifically target features are handle in different way inside the compiler that had made `target_feature` (the cfg) being recognize as a known cfg condition name in all targets that have at least one target feature but it seems that for `wasm32-unknown-unknown` the compiler doesn't get any `

[2022-04-27 17:15] Acciente717 commented on #95871
Thank you for your investigation. I will also try to minimize the example.

[2022-04-27 17:19] joshtriplett commented on #48594
Preliminary summary of the current state:

There's a stabilization report from 2018: https://github.com/rust-lang/rust/issues/48594#issuecomment-421625182

One concern it raised is still valid: there's a FIXME in https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/src/test/ui/for-loop-while/label_break_value.rs

We'd like to ask for a fresh summary and stabilization rep

[2022-04-27 17:24] archer884 commented on #86442
That this feature exists is annoying getting annoying in my everyday work, because my editor will suggest that I use (for instance) `InvalidFilename` and then turn around and tell me I'm not allowed to use "InvalidFilename" because the feature isn't stabilized. I rarely express the opinion that an unstable feature is somehow harmful but, in this case, I'm starting to feel it's time to "act" or get

[2022-04-27 17:26] joshtriplett commented on #49804
Is there still someone able to provide mentorship for implementing this?

Is there still someone available to try implementing this?

[2022-04-27 17:26] davidbarsky commented on #49733
Note from backlog bonaza: This feature is perma-unstable. The Lang Team is not in any rush to remove this feature, but if a new stabilization-track feature appears that overlaps with `box_syntax`'s functionality, we will start to look at removing `box_syntax`.

[2022-04-27 17:36] matthiaskrgr opened #96485 "miri reports allocation of size 0 in in Thinbox::new()"
I tried this code:

[code]

`cargo miri run`
[code]

Technically miri already shows that the code is `unsafe`-wrapped. Maybe it needs some special handing of `Thinbox`?

`miri 0.1.0 (a71a008 2022-04-25)`

[2022-04-27 17:39] joshtriplett commented on #50297
This experiment has been open since 2018. It doesn't look like there's been recent development activity on it.

I'm going to close this for now. If someone wants to restart this effort, one start would be a lang MCP for a general mechanism for collecting an array of items of the same type from across the program, based on attributes. That mechanism would be generally useful for various things, inc

[2022-04-27 18:06] VisualEhrmanntraut opened #96486 "Nightly: LTO with share-generics causes undefined symbols when using build-std"
### Meta

`rustc --version --verbose`:
[code]

Enabling thin LTO causes a few undefined symbols:
<details><summary>Compiler Output (click)</summary>
<p>

[code]

</p>
</details>

While on full LTO it's even worse:
<details><summary>Compiler Output (click)</summary>
<p>

[code]

</p>
</details>

This wasn't happening a few versions back, but currently not sure since which version this broke.
As a t

[2022-04-27 18:12] piegamesde opened #96487 "Increased code size due to unneccessary memcpy call in MaybeUninit::assume_init"
After updating the compiler toolchain, I noticed that my binary got about 100 bytes larger. In my extremely size constrained environment, this is an increase of 5%. After a lot of minimizing, I tracked the main increase down to `MaybeUninit::assume_init`. It adds a new `memcpy` call. As far as I can tell, the code is moving the value on the stack a few bytes around, which is pointless (alignment s

[2022-04-27 18:12] joshtriplett commented on #96074
We discussed this in today's @rust-lang/libs meeting.

Could we get a revert PR, please? We can then mark that as beta-nominated/beta-accepted.

[2022-04-27 18:25] joshtriplett commented on #96045
This seems like an extremely compelling argument.

[2022-04-27 18:25] joshtriplett commented on #96045
We discussed this in today's @rust-lang/libs meeting, and while we don't think this is anywhere near serious enough to warrant a stable backport, it's worth fixing to round again.

[2022-04-27 18:30] newpavlov commented on #96045
@joshtriplett
Have you discussed which rounding mode we should use?

[2022-04-27 19:14] nicopap opened #96488 "ICE on iterator closure with bevy advanced type alias"
### Code

Sorry, I simply cannot create a minimal example, given it seems to result from an interaction with [bevy's](https://github.com/bevyengine/bevy) `Query` type and associated types (which is far from trivial to reproduce).

You'll get a link instead:
* The reproduction repo: https://github.com/nicopap/bevy/tree/ice-reproduction (branch: ice-reproduction)
* The diff between the working code

[2022-04-27 19:19] estebank commented on #9607
For posterity, this is what it looks like now:

[code]

[2022-04-27 19:21] shepmaster commented on #50297
What about replacing stdout / stderr like the built in test framework? Using something like [inventory](https://docs.rs/inventory/latest/inventory/), I've gotten good enough support for collecting an array of items for my own nascent test framework. What I don't have is a good way to prevent parallel tests from combining output.

[2022-04-27 19:29] oli-obk commented on #96485
This looks like a bug in thinbox. Box and Vec don't go into the allocator at all for zsts

[2022-04-27 19:49] joshtriplett commented on #52331
One proposed design:

- Make `kind` panic
- Add new methods for `windows_kind` and `redox_kind`, which return an `Option` of a non-exhaustive enum.
- Possibly mark `kind` as deprecated, if that wouldn't produce too many warnings in the ecosystem. (If it would, mark it as deprecated_in_future.)

[2022-04-27 19:50] joshtriplett commented on #52331
Also, we're going to need someone willing to do the design and implementation work here.

[2022-04-27 19:51] jackpot51 commented on #52331
@joshtriplett I will implement whichever design has the highest chance of being upstreamed.

[2022-04-27 19:58] shepmaster commented on #96074
Opened #96489

[2022-04-27 20:06] joshtriplett commented on #96045
https://github.com/rust-lang/rust/pull/96051#issuecomment-1111346641

[2022-04-27 20:07] lilyball commented on #62280
Can we implement `OneSidedRange` for `RangeFull` as well? I'd like to be able to say `self.slice.take(..)` as a shorthand for `std::mem::swap(&mut self.slice, &[])` (or I suppose for `self.slice.take(0..)`). This doesn't fit the naming `OneSidedRange` or the description that says the range is unbounded on one side[^1], but I don't see any reason why `RangeFull` should not be usable here.

[^1]: Te

[2022-04-27 20:29] the8472 commented on #96486
You can use [cargo-bisect-rustc](https://github.com/rust-lang/cargo-bisect-rustc) to narrow it down.

[2022-04-27 20:35] Milo123459 commented on #96452
This seems to have fixed itself now. However I don't think this should be closed.

[2022-04-27 20:38] autumnblazey opened #96491 "`split-debuginfo` documentation contradiction"
On [`rustc` documentation](https://doc.rust-lang.org/rustc/codegen-options/index.html#split-debuginfo), it says that `split-debuginfo` is `packed` by default. On [`cargo` documentation](https://doc.rust-lang.org/cargo/reference/profiles.html#split-debuginfo), it says that `split-debuginfo` is `unpacked` by default. Is this an accidental contradition or one of them was left outdated, or is there so

[2022-04-27 20:52] SylvainDe commented on #96491
When you "default", do you mean "default for Windows MSVC and macOS" ?

From what I can find in the history, the following changes are relevant:

- https://github.com/rust-lang/rust/commit/a124043fb019d46621c8b4b87dafb75d07cf78be#diff-6e9a08e032c83ccfc4b967a192b6d38c932eaaf6a153027bd79365830e4d7139 (28 Jan 2021)

 - https://github.com/rust-lang/cargo/commit/a4f0988ef87c1dedbeef3d39a85f3caf9241d6e7

[2022-04-27 21:12] mcvicuna commented on #96219
using commit e0b1a8a9dfb3c34342115a1ad516a92816c7af7e from https://github.com/sashinexists/better-twitter-archiver
rustc --version --verbose
[code]
cargo check
[code]

Doesn't seem to reproduce it.  Is there a different commit that causes the ICE?  Any differences in dev env you can think of that might aid in reproducing it?

[2022-04-27 21:20] glennpratt commented on #94902
This is the only conversation I could find on this topic so far, but that's surprising to me:

https://internals.rust-lang.org/t/improved-type-inference-for-operators/5393/4

I guess it might be a challenge if there are multiple implementations of the required trait (like `Div<f64>` in this case).

[2022-04-27 21:21] the8472 commented on #92174
The linked LLVM issue was closed and the commit that closed it can be found in the current [rust-lang/llvm-project](https://github.com/rust-lang/llvm-project/commit/0c6979b2d64d97298671ba7ed44d1446c9f302cf) tree, so it should be available on nightly.

But the reproducer still shows the panic [on godbolt](https://godbolt.org/#z:OYLghAFBqd5TKALEBjA9gEwKYFFMCWALugE4A0BIEAZgQDbYB2AhgLbYgDkAjF%2BTXRMiA

[2022-04-27 21:29] glandium commented on #49733
Would it be worth renaming the feature to make its status clear? (something like box_syntax_deprecated). Or adding warnings?

[2022-04-27 21:36] glennpratt commented on #94902
Also, I don't think Rust would infer this type anyway, but it gives a clearer error message without the try anyway.

[code]

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a0554dc4cbac7ac83fd56ecc8cdfae97

[2022-04-27 21:39] nwn commented on #49804
I would be interested to try implementing this, but would defer to the previous implementer if they are still interested.

[2022-04-27 21:44] Manishearth commented on #50297
Honestly at this point I would strongly argue for my original proposal, which was a more proc-macro-esque API that would require minimal changes to the compiler and farm out all the hard stuff to libraries. The main thing that `cargo test` gets that you can't on your own is not endpoint-collection (you can do that with a macro), it's cargo being able to figure out the correct rustc invocation.

I

[2022-04-27 21:45] memoryruins commented on #86442
@archer884 considering there are other unstable APIs in std, that seems more like an issue for editor plugins rather than motivation to stabilize or remove this nightly feature. Ideally completions would hint if something is unstable or hide them entirely (either on stable toolchain or configured to hide). There are open issues to improve this situation in `rust-analyzer`  and `intellij-rust`, suc

[2022-04-27 21:46] ehuss commented on #96491
The default for `rustc` is different from `cargo`.

[2022-04-27 21:52] matthiaskrgr commented on #96169
Also reproducible in miri:
[code]

[2022-04-27 22:09] autumnblazey commented on #96491
hmm, I did not check Windows but since i am on a macOS machine I only looked at that, as it was the only one relevant to me

ah, if this is the case that would make sense, so calling cargo would yield a different result than calling rustc directly if I understand correctly

[2022-04-27 22:12] theJasonFan commented on #90594
FWIW, I have run into this issue multiple times and have observed that this error may happen when modules are re-factored and moved around.

e.g. I believe I have hit this error when I do something like: move a module `crate::foo` in `/src/foo.rs` to some other location, say, `crate::bar::foo` implemented in `/src/bar/foo.rs` and recompile with `cargo`.

[2022-04-27 22:35] superatomic commented on #86442
As I mentioned [here][prev-desc], this affects my Rust code itself, independent of my IDE. Functions such as [`std::fs::read_to_string`](https://doc.rust-lang.org/std/fs/fn.read_to_string.html) are able to return errors (on stable) that are a part of the `io_error_more` unstable API, but they can't be directly matched against (except with a wildcard match) because they are unstable. But I can call

[2022-04-27 23:39] DropDemBits commented on #96449
Smaller reproduction
Compile as-is, then compile with lines 3 and 8 uncommented.
[code]

[2022-04-28 01:25] memoryruins commented on #86442
@superatomic apologies if I wasn't clear. I was addressing a general (not unique to this feature) issue about editor suggestions of unstable parts in std, but I wasn't implying what should be done with `#![feature(io_error_more)]`. As you and others note, there are issues specific to this feature that motivate actions such as stabilization.

[2022-04-28 01:39] Garcia101 opened #96497 "Unobservable vec, and arrays writes always always emit for size >= 3"
While revealing that dead `Vec<_>` writes always emit, to someone else, I decided to look into this for arrays.

It seems that, for any `[T; N]`, such that T is not a ZST or enum with a single possible value, and 3 <= N, then array writes are always emit. This applies to allowing emitting redundant memcpys, memclrs, memfills, and all related operations.

https://rust.godbolt.org/z/7vrT5xnxq

As fo

[2022-04-28 01:51] nicholasbishop opened #96498 "i686-unknown-uefi rust-lld error: symbols.o is not compatible with SEH"
### Code

I tried this code: https://github.com/nicholasbishop/uefi-ia32-bug-repro

Build with `cargo +nightly build --target i686-unknown-uefi`

With recent nighties it fails to link:

[code]

This issue does not occur with `x86_64-unknown-uefi` or `aarch64-unknown-uefi`.

### Bisect

searched nightlies: from nightly-2022-04-24 to nightly-2022-04-28
regressed nightly: nightly-2022-04-26
searched

[2022-04-28 02:04] tami5 commented on #77404
What is blocking this feature? advance_by is super useful.

[2022-04-28 04:17] thomcc commented on #96485
I don't mind taking it, but won't have time until Monday evening. If someone wants to grab it before then feel free.

[2022-04-28 04:17] #96368 closed

[2022-04-28 04:17] #96461 closed

[2022-04-28 05:24] wvwwvwwv commented on #95719
Now, I understand that the code should not compile since `g.get()` borrows data from the stack of `wrap`, thus the returned `impl Future` is not `Send`. However, the error message is still weird...

[2022-04-28 05:41] srleyva commented on #95463
@rustbot claim

[2022-04-28 06:32] petrochenkov commented on #96498
cc @nbdd0121

This may potentially be reproducible with `i686-pc-windows-msvc` too.

[2022-04-28 06:36] skydig commented on #96394
@bjorn3  its P1010
how to disable atomic support?

[2022-04-28 06:39] jplatte commented on #96074
I think making inference even 'smarter' is just going to lead to more code that implicitly relies on certain impls *not* existing, which will ultimately prohibit more impls from being added because some ambiguities just cannot be resolved cleanly.

I would much rather see existing code that relies on there's-only-one-impl-for cleverness start raising future-incompat errors. Maybe we could even hav

[2022-04-28 06:47] #96068 closed

[2022-04-28 06:54] JesseAtSZ opened #96504 "How to get parameters when starting the program?"
My code looks like this:
[code]
The startup parameter is a file path with *, which is expected to obtain the file path with *, but env:: argsos helps me convert it into a real path. What should I do to directly obtain the path with *?

[2022-04-28 07:17] jedel1043 commented on #49804
Please do so! I'm somewhat busy nowadays, so I'd prefer leaving this work to someone who can dedicate their full attention to it :)

[2022-04-28 07:23] jiby-aurum commented on #96463
@alexcrichton good to know, thanks for the quick response 👍

[2022-04-28 07:37] hellow554 opened #96506 "Link for source of is_x86_feature_detected is broken"
IIRC there is a broken link checker, but somehow it doesn't catch this case:

https://doc.rust-lang.org/std/macro.is_x86_feature_detected.html

![grafik](https://user-images.githubusercontent.com/921462/165701381-b75e3674-54fd-4903-83c1-3cc903061d3f.png)

https://doc.rust-lang.org/1.60.0/src/std_detect/detect/arch/x86.rs.html#18-197 which is a 404

@rustbot modify labels: A-docs

[2022-04-28 07:39] hellow554 commented on #96506
Also, all source links of the macros in https://doc.rust-lang.org/nightly/std/arch/index.html are broken as well.

[2022-04-28 08:03] bjorn3 commented on #96394
It seems to be running an e500 cpu core produced by nxp which according to the reference manual supports atonic instructions. Could you use the disassemble command in gdb to show the exact crashing instruction? As for disabling atomic usage you need to change the target spec or provide a custom one in json format. Also note that any library that depends on atomics will not compile in that case. We

[2022-04-28 08:09] TheNeikos commented on #96270
A test case without actix and the trait:

[code]
Error still is:

[code]

The issue seems to arise from the type alias and `impl Trait` as its return type. Since if you inline it, you get a good error message:

[code]

[2022-04-28 08:11] nikic commented on #96470
Upstream issue: https://github.com/llvm/llvm-project/issues/55160

[2022-04-28 08:37] wvwwvwwv commented on #95719
Also, wouldn't it be weird?

[code]

I understand that the above code block is `!Send` because the closure captures `&self` reference which is local to the stack, but since the code block is `asynchronous`, it is guaranteed that the value of `&self` is only evaluated once the `async move` block is `pinned`, and therefore the code block can actually be sent!

[2022-04-28 08:59] jacobbramley commented on #95871
I have a couple of findings this morning:
* A simpler type doesn't work because the compiler inlines the constant. Ok, not a big problem.
* More usefully, I've found the actual trigger for this: putting the function inside a module.

That reduces it to a very simple, single-file test case:

In a brand new project (`cargo new --lib ...`):

#### `src/lib.rs`
[code]

#### `.cargo/config.toml`
[code]

[2022-04-28 10:40] ohno418 commented on #96176
I'd like to work on this.

@rustbot claim

[2022-04-28 10:46] apiraino commented on #96498
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396498.20i686-unknown-uefi.20rust-lld.20error.3A.20symbols.2Eo.20is.20not.20c.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-04-28 11:04] leonardo-m commented on #96504
This is better asked in a users forum...

[2022-04-28 11:08] apiraino commented on #88935
Pending any new comment, I'm inclined to close this: not sure about the current status.

[2022-04-28 11:09] conradludgate opened #96512 "Internal Compiler Error on stable (Broken MIR)"
### Code

There's only so much that I can share. The code that seems to be erroring is similar to

[code]

### Meta

`rustc --version --verbose`:
[code]

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-28 11:11] conradludgate commented on #96512
I've discovered that destructuring the enum variant outside of the async block fixes the issue

[2022-04-28 11:15] conradludgate commented on #96512
Minimal repro: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9ffdec06b38e6986b37aa92e9d2955f3

[2022-04-28 11:15] Nugine commented on #75401
It is possible to convert a const rust string to a const c string at compile time now. (`&str` -> `*const c_char`).
<https://github.com/Nugine/const-str/blob/master/const-str/src/__ctfe/cstr.rs>
<https://docs.rs/const-str/0.3.1/const_str/macro.raw_cstr.html>

[2022-04-28 11:32] pietroalbini commented on #96229
Also hit this due to https://github.com/rust-lang/rust/issues/96362#issuecomment-1108609893 on my local machine...

[2022-04-28 11:47] lcnr opened #96514 "the type of `ProjectionElem::Field` is not correct wrt subtyping"
[code]
should compile but errors with
[code]
looking at the mir of `foo` it becomes clear why that happens:
[code]
notice that in `_2 = (_1.0: fn(&())); ` the type of `_1.0` is actually `for<'a> fn(&'a ())`.

Possible ways to fix this are:
- correctly deal with subtyping when sanitizing field projections, note that they cannot just always be covariant.
- change the type of the field to be the actu

[2022-04-28 11:49] lcnr commented on #96514
@rustbot assign

intend to work on this myself

[2022-04-28 11:55] yodaldevoid commented on #48054
An RFC being accepted just means the feature *can* be implemented, not that it *has* been implemented. It doesn't even mean that implementing it is a priority.

I believe there has been more discussion of this RFC over at #34537 as well as other issues that I can't seem to track down right now.

[2022-04-28 11:57] hellow554 commented on #96512
@conradludgate amazing that you did reduce your testcase like that.
I removed the external dependecy to tokio and silenced the unused warning:

[code]

Regressed in rollup #91555 probably in #91450

[2022-04-28 12:13] tmiasko commented on #96512
Reduced a bit more (requires an edition with precise captures, I think):

[code]

[2022-04-28 12:36] bentongxyz commented on #96049
Hi @jyn514, I would like to ask you a few questions, hope you don't mind! I'll be very succinct.

Right now, I managed to `impl Step for Profile`, so that if i run `./x.py setup -h -v`, it prints:

[code]

The paths under 'Available paths:' are dynamically generated by getting all `toml` files under 'defaults' folder.

However, I have trouble proceeding because the `setup` subcommand's current beh

[2022-04-28 12:56] #96504 closed

[2022-04-28 12:58] GuillaumeGomez commented on #96396
I think it would be a nice idea indeed. :)

[2022-04-28 14:32] oli-obk commented on #95538
Backported in https://github.com/rust-lang/rust/pull/96367

[2022-04-28 14:32] #95538 closed

[2022-04-28 14:37] petrochenkov commented on #81633
Fixed in https://github.com/rust-lang/rust/pull/96521.

[2022-04-28 14:58] ser-vasilich opened #96522 "println! have different behave for similar data"
fn main() {
    let a=-1.14;
    let b=a+1.0;
    println!("{}",a);
    println!("{}",b);

    println!("{:.18}",a);
    println!("{:.18}",b);
}

Standard Output

-1.14
-0.1399999999999999
-1.139999999999999902
-0.139999999999999902

[2022-04-28 15:00] wesleywiser commented on #44285
Discussed in the "backlog bonanza" in this week's compiler team triage meeting. While the info contained in this issue is useful, most of the MIR opt work in the last two years has been happening elsewhere and it's not clear what this is actually tracking. We are therefore closing this issue.

[2022-04-28 15:00] #44285 closed

[2022-04-28 15:37] jyn514 commented on #96049
This is a great point. I agree it should stay as the profile name. I think I mislead you in the original description, sorry - we already hard-code the possible profiles in `enum Profile`, so we can just loop through `Profile::all()` and register all those paths with `should_run.alias(profile)`: https://rust-lang.zulipchat.com/#narrow/stream/122652-new-members/topic/impl.20Step.20for.20Profile/near

[2022-04-28 16:07] mcvicuna commented on #89431
Using the code from https://github.com/solana-labs/solana/archive/refs/tags/v1.6.8.tar.gz

rustc --version --verbose
[code]
cargo build --package solana-frozen-abi
[code]
also tried with 1.52.1 even though the logs show it was a -dev version.
[code]
cargo build --package solana-frozen-abi
[code]
Is there any other info you can provide that might help to reproduce this?

[2022-04-28 16:07] cjgillot opened #96524 "Refactor the query system to reduce the amount of macro-expanded functions"
The current implementation of the query system relies on a lot of macro-expanded functions.
This issue tracks perspectives to reduce this use of macros.

The objective of this issue is to have the macros expand to a self-contained description of the query, instead of breadcrumbs in several files.

- [x] Remove `opt_remap_env_constness` from `rustc_query_impl` (https://github.com/rust-lang/rust/pul

[2022-04-28 16:22] sciguy16 opened #96525 "ICE in missing lifetime diagnostic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Expected `rustc +stable test.rs --edition 2021`

[code]

### Error output `RUST_BACKTRACE=1 rustc +nightly-2022-04-27 test.rs --edition 2021`

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-28 16:45] m-ou-se commented on #95969
As indicated on the [issue templates](https://github.com/rust-lang/rust/issues/new/choose), it's usually best to discuss feature requests on https://internals.rust-lang.org/ rather than opening an issue for them.

[2022-04-28 16:50] sciguy16 commented on #96525
`cargo bisect-rustc --regress=ice` puts the regression somewhere between `nightly-2022-04-17` and `nightly-2022-04-18`

[2022-04-28 17:28] Slixe opened #96526 "Random internal compiler error appeared"
I tried to compile after a big change (~300 lines in my project), and I had an internal compiler panic, I had it several times in a row.
I'm using tokio by the way.

### Version
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-28 17:37] NinoScript commented on #96522
That looks fine to me, [floats have finite precision](https://docs.microsoft.com/en-us/cpp/build/why-floating-point-numbers-may-lose-precision), and that happens in all programming languages I've used.

Are you expecting something different?

[2022-04-28 18:06] sciguy16 commented on #96525
Ran cargo bisect again to get the commit info:

searched nightlies: from nightly-2022-04-17 to nightly-2022-04-18
regressed nightly: nightly-2022-04-18
searched commit range: https://github.com/rust-lang/rust/compare/878c7833f6c1ff10e2fd89074e5bd4ef5ff15936...ec77f252434a532fdb5699ae4f21a3072d211edd
regressed commit: https://github.com/rust-lang/rust/commit/1ec2c136b35bd4660cba778346f8df7daf2ab173

[2022-04-28 18:27] cjgillot opened #96529 "Only determine impl-trait desugaring kind once"
`impl-trait` can either be desugared as a generic parameter (universal), as an opaque type (existential), or forbidden.  This desugaring is currently on the AST in two places: `def_collector` and `ast_lowering`.  The two logic are not consistent with one another.  When this happens, `ast_lowering` is right.

`dyn Trait<T: Bound>` sometimes desugars to `dyn Trait<T = impl Bound>`, and sometimes doe

[2022-04-28 18:47] craigfay opened #96530 "Unexpected Panic While Using Struct Update Syntax On Cloned Struct Reference"
## Description
ICE occurs when attempting "spread" a cloned a struct reference using [struct update syntax](https://doc.rust-lang.org/stable/book/ch05-01-defining-structs.html#creating-instances-from-other-instances-with-struct-update-syntax).

### Code

[code]

### Meta

[code]

### Error Output

[code]

## Error Output With Backtrace

[code]

[2022-04-28 18:55] Acciente717 commented on #95871
That's an incredible finding. I successfully reproduced the minimal buggy example in my environment. Neither did I find anything different in the LLVM IR except `!dbg`.

[2022-04-28 19:17] satmandu commented on #88935
This is resolved on newer versions of rust, at least with 1.59. Sorry for not getting back to you on this.

[2022-04-28 19:17] #88935 closed

[2022-04-28 19:27] kckeiks commented on #96524
@rustbot claim

[2022-04-28 19:34] randomicon00 commented on #96529
@rustbot claim

[2022-04-28 19:40] mcvicuna commented on #96364
using:
[code]
Here are 3 different single lines that cause the ICE:
[code]
[code]
[code]
[code]

[2022-04-28 19:54] Milo123459 commented on #96452
Now this is happening with `tungstenite v0.17.2`

<details>
<summary>Error</summary>

[code]

</details>

[2022-04-28 19:56] hamza1311 opened #96532 "Doc tests cannot be run on wasm32-unknown-unknown target using `doctest-xcompile` feature."
Doc tests cannot be run on wasm32-unknown-unknown target using `doctest-xcompile` feature.

Rustdoc tries to create a temporary directory on a target where there is no file system available and fails

## Steps to re-produce
1. Create a cargo project with the following structure:

<details>

<summary>
<code>src/lib.rs</code>
</summary>

[code]

</details>

<details>
<summary>
<code>Cargo.toml</code

[2022-04-28 20:07] matthiaskrgr commented on #96512
Looks like a duplicate of https://github.com/rust-lang/rust/issues/96299 and https://github.com/rust-lang/rust/issues/95271

[2022-04-28 20:43] lqd commented on #96512
These started ICEing in `nightly-2020-12-13` ([GH range](https://github.com/rust-lang/rust/compare/2225ee1b62ff089917434aefd9b2bf509cfa087f...7efc097c4fe6e97f54a44cee91c56189e9ddb41c)), with #79553 looking very likely.

[2022-04-28 20:57] scottmcm commented on #76001
Random idea I just had: what if `?` was special in inline consts?  I don't think it ever makes sense for `?` inside a `const{}` to return from the enclosing function -- it might not even be possible.

So we could potentially have `const { "foo".parse()? }` mean the same as `const { "foo".parse().unwrap() }`, with the error case giving a compilation error.

*Usual disclaimer: this is an unbaked ide

[2022-04-28 21:20] sciguy16 commented on #96525
Ran the bisection again on recent commits that haven't reached nightly yet, and it looks like this has been fixed by #91557

Would it be worth adding this example to the test suite?

[2022-04-28 21:47] est31 commented on #81262
There have been a [bunch of performance improvements](https://nnethercote.github.io/2022/04/12/how-to-speed-up-the-rust-compiler-in-april-2022.html) for macro expansion, so I've decided to check whether the issue still exists, first with a nightly adjacent to the filing of this bug, and then a recent one.

I used commands like `time rustc +nightly-2022-01-28 --cfg 'feature="32-column-tables"' --cf

[2022-04-28 21:58] #95305 closed

[2022-04-28 21:58] #96157 closed

[2022-04-28 22:01] est31 commented on #81262
FTR it's been [replaced by a proc macro](https://github.com/diesel-rs/diesel/commit/632dbb04a5759a2be2f8ae42e9e32432e847b4c1) but apparently speed wise it's not any better.

[2022-04-28 22:10] ricobbe opened #96534 "raw-dylib feature does not support all cases for stdcall functions on i686-pc-windows-*"
Contrary to our original expectations, when an i686 DLL exports a stdcall function, the function's name can appear in the library's export table in one of several different ways.  I don't know if this list is exhaustive, but I've seen the following variations:
* `_exported_function@8` (i.e., with leading underscore and trailing argument-list size)
* `exported_function@8` (trailing size only)
* `ex

[2022-04-28 22:15] ricobbe commented on #58713
Quick note to let folks know that I'll be leaving Microsoft effective tomorrow (April 29) and thus need to hand this project over to others.  I've created issues for the outstanding issues that I'm aware of: #93842 and #96534.

It's not yet clear how much time and effort I'll be able to spend on this project going forward; it probably won't be much.  I'm also not entirely sure if I'll continue to

[2022-04-28 22:47] thomcc commented on #96045
Not that it's particularly important, this is not really accurate. That is, the character *does* exist, but according to https://www.unicode.org/reports/tr25/ U+03BC should be preferred, and the dedicated micro character is mostly present for compatibility:

[2022-04-28 23:05] djmcgill commented on #63291
I'm not proposing it be put into this RFC, but there's a similar niche for this kind of api for `RefCell` to be able to create `Rc<RefCell<MaybeUninit<T>>>` (and from there `Rc<RefCell<T>>`, and also for the various other heap smart pointers).

Currently you can do this with `zeroed` thanks to unstable implementation details so maybe best to leave this until somebody proposes changing the implemen

[2022-04-28 23:31] repnop opened #96535 "Confusing error when metavariable expressions are used outside of reptitions"
Currently when a metavariable expression is used outside of any repetitions, it produces a somewhat cryptic error message instead of saying its not within a repetitions, example:

[code]
[code]

[2022-04-28 23:33] lqd commented on #96526
Could be the same as #96319

[2022-04-29 00:57] George-lewis commented on #96438
I think I might be able to take this one. Was investigating it a bit yesterday, will post a pr shortly

[2022-04-29 02:50] BoxyUwU opened #96540 "regression from error on elided lifetime in path in `-> impl Trait<...>`"
### Code

I tried this code:

[code]

I expected to see this happen: it compile

Instead, this happened: it didnt

[code]

### Version it worked on

It most recently worked on Rust 1.60 and this nighty:
[code]

### Version with regression

`rustc --version --verbose`:
[code]

### cargo bisect
searched nightlies: from nightly-2022-04-26 to nightly-2022-04-29
regressed nightly: nightly-2022-04-29
se

[2022-04-29 03:28] asquared31415 commented on #96530
This doesn't reproduce on 1.60 stable, 1.61 beta, or 1.62-nightly-2022-04-28

[2022-04-29 04:28] erikdesjardins commented on #96497
For `[T; N]`, this is because we don't add lifetime markers to by-move arguments passed indirectly: https://rust.godbolt.org/z/vjd78n38a.

I believe we should be adding a `lifetime.end` marker at the end of the function.

(Note that `byval` also fixes this, but it should be avoided it because it changes the ABI in a way that limits optimization potential, by requiring the argument to be in a speci

[2022-04-29 04:52] Kixunil commented on #63291
@djmcgill is there any issue with calling `RefCell::new(MaybeUninit::uninit())`?

[2022-04-29 05:42] Ryan1729 opened #96541 "Suggest updating type alias in this case where it causes a compile error"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=dc49c7cda737c71feb919490edfa4578)

[code]

The current output is:

[code]

The following code compiles: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4c30922ee1d652a8df907b24616a0b8d)

[code]

As does entirely removing the type alias: [playground](ht

[2022-04-29 05:46] Ryan1729 commented on #96541
FWIW, [here's an example](https://users.rust-lang.org/t/different-result-with-type-alias-than-same-thing-typed-out/31206) of someone else finding the fact that type alias lock any elided lifetimes to `'static` confusing.

[2022-04-29 05:46] oli-obk commented on #96364
Thanks! Those minimized versions are great. I guess someone already fixed this ICE, and I'm assuming there are now tests for it, but I don't know. I guess we could search in the test suite for anything reporting the emitted error that looks like a repro of this issue and then close this issue

[2022-04-29 05:52] nnethercote commented on #81262
Ignoring the internals of macro matching for a moment: `__diesel_for_each_tuple` is quadratic in the number of columns. Look at `tuples.rs`. The following list shows how many lines of the file account for the different column configurations:
- 16 columns: 174 lines
- 16,32 columns: 602 lines
- 16,32,64 columns: 2222 lines
- 16,32,64,128 columns: 8529 lines

The growth in lines is slower than the g

[2022-04-29 06:15] lcnr commented on #76001
I would expect this to be to case. Inline consts should behave similar to closures in that regard.

[2022-04-29 07:06] skydig commented on #96394
@bjorn3
thanks， i paste assemble code,

Program received signal SIGILL, Illegal instruction.
0x2060d610 in core::sync::atomic::atomic_compare_exchange::hdd78233f59efc1d2 ()
    at /usr/share/rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/library/core/src/sync/atomic.rs:2643
2643    in /usr/share/rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/librar

[2022-04-29 07:06] inquisitivecrystal commented on #96540
Simplified reproduction:

[code]

In other words, this isn't specific to `PhantomData`.

[2022-04-29 07:27] lcnr commented on #96514
also add a test for
[code]

[2022-04-29 07:40] weiznich commented on #81262
My guess is that some non-linearity is caused by [this](https://github.com/diesel-rs/diesel/blob/0757e7f8d77271a73152e06060c93a0fd5020cc8/diesel/src/type_impls/tuples.rs#L511-L560) macro. That one is internally called by `__diesel_for_each_tuple!` and has some non-linear behaviour by itself. Simplifying this macro would be possible by restructuring the where clauses there, but that leads to a non-

[2022-04-29 08:03] #96423 closed

[2022-04-29 08:14] tstj opened #96545 "Documentation for log functions is mixed up for all integer and unsigned integer types"
See for example for the types [`u32`](https://doc.rust-lang.org/std/primitive.u32.html#method.log2) and [`i32`](https://doc.rust-lang.org/std/primitive.i32.html#method.log2) and the function `log2`.

For `u32::log2` we can read:

For `i32::log2`:

The word `negative` only makes sense for `i32` and not for `u32` but it's exactly written the opposite. So, it's missing where it's important and it's w

[2022-04-29 08:34] bjorn3 commented on #96394
Looks like the e500 cpu doesn't support lwsync and needs the sync instruction instead. Does it work if you use `RUSTFLAGS="-Ctarget-cpu=e500`? According to https://reviews.llvm.org/D76614 that should cause LLVM to use sync instead of lwsync.

[2022-04-29 08:47] mortenlj commented on #96394
I have a similar problem (or maybe the same?), but the disassembly seems to differ (I haven't used gdb much, so I'm not entirely sure I understand how to read it):

<details>
<summary>gdb output</summary>

[code]

</details>

[2022-04-29 08:58] sciguy16 commented on #96525
Confirmed this is fixed in nightly-2022-04-29

[2022-04-29 08:58] #96525 closed

[2022-04-29 09:06] hellow554 opened #96547 "unused_mut warning in macro invocation, although mut is needed in other invocation"
### Code

I tried this code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e7ac1f9f412334732cf8e86725842b9d)):

[code]

The current output is:

[code]

Ideally the output should look like:

No warning

---

The problem is, that when I remove the `mut` the second `check_ok_fun!` won't work anymore.

[2022-04-29 09:12] jacobbramley commented on #95871
This reproduces with the following `rustc` command:
[code]
That generates `librepro.rlib`, with the `r9` bug.

What's odd is that emitting anything else (other than `metadata` or `dep-info`) makes the bug disappear _from every output_ (including `librepro.rlib`). Even `--emit=obj,link` is sufficient to get correct code generation for this test (in both the `.o` and the `.rlib`). Those flags don't

[2022-04-29 09:31] apiraino commented on #96452
@Milo123459 can you provide a bit more insights on how to reproduce? I've tried creating a new project (target `x86_64-unknown-linux-gnu`), importing the `url` crate and compiled with `RUSTFLAGS="-C target-cpu=native" cargo build` (which didnt raise any issue but easily also not the correct way to reproduce your issue).

Thanks!

@rustbot +E-needs-mcve

[2022-04-29 09:48] gimbles commented on #96245
But..there's no point?

It's a bug in WSL(2), I don't think that we can fix it from Rust's side.

So I believe that this *should* be closed

[2022-04-29 09:57] bjorn3 commented on #96394
It is possible the gdb version you are using doesn't know how to disassemble lwsync. I don't know exactly what the encoded version of it is though.

[2022-04-29 10:12] mortenlj commented on #96394
Seems likely. I have GNU gdb (GDB) 8.0.1, which is the latest version available in the package manager (using optware-ng), but apparently quite old.

[2022-04-29 11:58] #96435 closed

[2022-04-29 11:58] #96498 closed

[2022-04-29 12:24] nyvs opened #96550 "ICE when migrating from diesel 1.4 to 2.0.0-rc.0"
### Code

Was trying to migrate from diesel 1.4 to 2.0 ...
I don't have time to provide a minimal example now, but will try if it turns out that it'd be useful.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-29 12:53] mortenlj commented on #96394
I tried building with `RUSTFLAGS="-Ctarget-cpu=e500"`, and my example now works. :tada:

[2022-04-29 12:54] skydig commented on #96394
@bjorn3
thanks
using RUSTFLAGS="-Ctarget-cpu=e500" ， generated bin file has no lwsync instruction now( I  use objdump to check)， but with sync instruction.
when I have chance to run  generated bin under target， I will tell you the result

[2022-04-29 12:58] pietroalbini commented on #96362
Opened https://github.com/rust-lang/rust/pull/96551 to try and remove the nondeterminism based on the path length, which should alleviate the problem (it fixed the `numeric-cast.rs` tests at least).

[2022-04-29 13:42] wwylele commented on #96547
Diagnostics is done after macro expansion, on per-invocation basis. This is why macro is a legit and heavy user of `#[allow(...)]` annotation to silent harmless diagnostic warnings.

[2022-04-29 13:51] wwylele commented on #96522
Just to explain this better, let's add a third print of the "expected result" `let c=-0.14`
[code]
[code]
As you can see, `println!` prints `-0.14` fine. The problem here is that in the float universe, `-0.140000000000000013` is a closer to `-0.14` than `-0.139999999999999902` is, so the former is chosen as the canonical representation of `-0.14`. `let b = a+1.0;` Unfortunately doesn't land on tha

[2022-04-29 14:06] oli-obk opened #96552 "Experiment: try out removing opaque types from typeck expectations"
https://github.com/rust-lang/rust/commit/a721052457cf513487fb4266e3ade65c29b272d2 made type-alias-impl-trait different from return-position-impl-trait.

[code]

does not compile while the equivalent return-position-impl-trait program compiles:

[code]

We should figure out what we actually want here and whether we can go even further and just remove opaque types from Expectation entirely. Things t

[2022-04-29 14:08] dertin opened #96553 "clippy generated broken code in a particular case where .to_owned().to_string() is used on the same variable within a block."
I tried this code:

[code]
command used
[code]

I expected to see this happen:
[code]
[code]

Instead, this happened:

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

`cargo +nightly clippy --version`:
[code]

[2022-04-29 14:52] chbaker0 opened #96554 "Support using different LLVM build for stage0 and stage1+ when bootstrapping"
rustc can be linked against a custom LLVM build: https://github.com/rust-lang/rust/blob/master/config.toml.example#L672

My project uses its own build of LLVM and Clang. The first stage only supports code gen for the host platform, and is built as native libraries. The final stage supports all targets, but is built with LTO so the LLVM libs have bitcode.

Our Rust build is configured to use our cu

[2022-04-29 14:52] chbaker0 commented on #96554
@rustbot label +C-feature-request +A-rustbuild

[2022-04-29 15:22] bentongxyz commented on #96049
Hi @jyn514, so i implemented `should_run` using `.alias` like so (excerpt):
[code]
It works for profile `codegen`, `user` and `tools`, but failed the assertion below for `compiler` and `library`, because the paths do exist:

[the assertion:](https://github.com/rust-lang/rust/blob/0fea00759fea1b25a60d2b729f61c885399bda83/src/bootstrap/builder.rs#L370-L374)
[code]

I could make an exception for `com

[2022-04-29 15:38] sciguy16 opened #96555 "Incorrect syntax on suggestion to make pub function async with E0277"
Given the following code:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0db76b4ce2ff53636126640d313e2b91

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Tested on rustc 1.60.0 stable and nightly-2022-04-29

[2022-04-29 15:45] sciguy16 commented on #96555
This looks like the section of code responsible for the message:

https://github.com/rust-lang/rust/blob/683c582c1e88c573c454b7fa6f00bc6647421864/compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs#L1100-L1108

[2022-04-29 15:53] Jake-Shadle commented on #93476
It seems this issue has regressed recently? Hitting the same ICE on [docs.rs](https://docs.rs/crate/crash-handler/0.1.0/builds/550382).

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-29 16:23] Milo123459 commented on #96452
I'm not directly using the crate. Also, it happens every now and then. Very flakey.

[2022-04-29 16:36] jyn514 commented on #96049
@bentongxyz I think just removing the assertion altogether is ok.

[2022-04-29 16:51] petrochenkov commented on #93476
@Jake-Shadle
The recent regression should be fixed by https://github.com/rust-lang/rust/pull/96447, most likely.

[2022-04-29 17:06] ser-vasilich commented on #96522
For me not fine.
See the next example. Only default format out not similar result.

fn main() {
    let a=-1.14;
    let b=a+1.0;
    println!("Default not same:");
    println!("{}",a);
    println!("{}",b);

    for i in 1..20 {
      println!("Same:");
      println!("{:.1$}",a,i);
      println!("{:.1$}",b,i);
    }
}

Default not same:
-1.14
-0.1399999999999999
Same:
-1.1
-0.1
Same:
-1.14
-0.

[2022-04-29 17:10] mcvicuna commented on #95793
This was fixed in commit dd38eea722c1f6f970a314435533e91cc2c14ffb of nightly-2022-04-08 and the test triggers the same ICE in nightly-022-04-07:
[code]

[2022-04-29 17:11] ser-vasilich commented on #96522
I expected similar behavior: different in 1 digit.
I know programming language which out adequate result:

[2022-04-29 17:15] ser-vasilich commented on #96522
Why does only default formatting has not similar results?

[2022-04-29 17:26] tmiasko commented on #96452
Is this a clean build or with potentially cached artifacts? If the latter, using `-C target-cpu=native` might crash the compiler during compilation when attempting to execute a procedural macro compiled for a different CPU.

[2022-04-29 17:31] Milo123459 commented on #96452
Cached artifcats.

[2022-04-29 18:01] TonalidadeHidrica commented on #93281
Hi, I found very similar issue to this issue.  I got `this expression has type Option<...>`, which @camsteffen referred to as a result of desugaring.  Interestingly, tweaking a code a bit gets rid of this wired hint.  Hope that it would help discovering the cause of the error.

This code causes an error:
[code]
[code]

We can modify the code as follows, then the wrong annotation persists:
[code]
B

[2022-04-29 18:53] the8472 commented on #96554
Wouldn't first building stage 0 then setting the option via environment variable and using `--keep-stage 0` get the same effect?

[2022-04-29 19:25] sakex opened #96561 "Linker error when compiling nalgebra with `const_fn_floating_point_arithmetic` and `generic_const_exprs`"
Symbols not found when compiling `nalgebra` on Mac (nightly-2022-03-12) with features. Also won't compile on the playground

[code]

I tried this code:

[code]

[link to the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e29179f1463fce52fb2d1891e99692aa)

I expected to see this happen: *Compile*

Instead, this happened: *Got a linker error*:

## /!\ Removing t

[2022-04-29 19:34] wwylele commented on #96522
The default printing is "print enough precision such that when you copy it back as a code (i.e. do a float -> string -> float roundtrip), it still ends up the exact float"

If we cut the default precision of `-1.14 + 1.0` short to just `"-0.14"`, the round trip will be

`-0.139999999999999902` -> `"-1.14"` -> `-0.140000000000000013`

You end up with a different number through the roundtrip

`-1.14

[2022-04-29 19:47] Mark-Simulacrum commented on #96554
I'm not sure I understand this - the LLVM used by the stage0 (typically beta) compiler isn't affected by the config.toml llvm options, it's not something we compile during the build.

All compilers built from source should understand the same llvm version range, so I'm not following why things don't just work if you specify your thinlto-compiled llvm. We compile the LLVM with PGO on a subset of ou

[2022-04-29 19:50] sakex commented on #96561
The bad call is:

[code]

I replaced it by creating an empty matrix and manually copying the elements:

[code]

It did fix the issue (the code might be unsound I need to test it)

[2022-04-29 20:00] nbdd0121 commented on #76001
Currently the only difference between these is that `InlineConst` shares the same typechecking context with the containing item, while `AnonConst` has its own typechecking context. For `asm_const` I don't think type inference is needed (it's restricted to integer anyway), so there are little value switching it to use `InlineConst`.

Currently inline const can't reference to generic params; this is

[2022-04-29 20:22] chbaker0 commented on #96554
Our LLVM libs are bootstrapped like so:
1. Build LLVM & Clang using stage 0 C++ toolchain producing stage 1 toolchain
2. Build LLVM & Clang with PGO enabled using stage 1 toolchain
3. Run stage 2 (instrumented) toolchain, collect profiling data
4. Build LLVM & Clang with thinlto enabled using stage 2 toolchain and profiling data

We take LLVM near trunk, so it's a newer version than the official R

[2022-04-29 20:27] camuward commented on #96486
This occurs for me on `1.62.0-nightly (2022-04-28)` compiling for `x86_64-pc-windows-msvc`, but only when both **build-std** and **share-generics** are enabled. I think share-generics is enabled by default in nightly where opt-level < 2, thus using a higher optimization level or adding `-Zshare-generics=n` prevents the issue.

<details><summary><code>cat ~/.cargo/config.toml</code></summary>

[cod

[2022-04-29 20:39] Amanieu commented on #76001
Note that asm also uses `AnonConst` for `sym` operands, specifically to capture the symbol name of a potentially generic function.

The reason I am asking about `InlineConst` is that I'm getting compile errors with `asm!` and `#![feature(generic_const_exprs)]` that I'm not getting with inline consts. [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=dcece98cfde2

[2022-04-29 20:55] Mark-Simulacrum commented on #96554
The compiler in build/x86.../stage0/bin/rustc isn't affected by any LLVM-related config.toml options, it's just an input into the bootstrap process (equivalent to the stage0 C++ toolchain, I think). If you want it to be built with a different LLVM, you'd need to obtain a compiler built with that different configuration. If you're using static.rust-lang.org binaries, then those will come with (some

[2022-04-29 20:58] chbaker0 commented on #96554
I think I was misleading. I don't want the stage0 _toolchain_ to be built with a different LLVM. I want the stage0 _artifacts_ to be built with a different LLVM (i.e. LLVM 15 w/o LTO), then the stage1+ _artifacts_ to be built with yet another LLVM (15 w/ LTO).

[2022-04-29 21:06] Mark-Simulacrum commented on #96554
Why do you want stage0 artifacts (i.e., stage1/bin/rustc) to be built (I assume you mean **linked**) with a non-LTOd LLVM but further stages linked against an LTO'd LLVM?

The stage0 artifacts (stage1/bin/rustc) being *built* with an LLVM you supply isn't really possible for rustbuild to affect, that's something the `rustc = ` config.toml parameter controls (i.e., the bootstrap compiler you provid

[2022-04-29 21:11] nbdd0121 commented on #76001
Oh, you are right, there are indeed some differences when `generic_const_exprs` is enabled. It'll probably be easier to switch it to `InlineConst` then, even though type inference is not needed. We can probably just use `InlineConst` for everything that are just values and don't feed back into the type system for `AnonConst` for everything else then.

[2022-04-29 21:19] chbaker0 commented on #96554
Official stage0 (beta) toolchain: codgen backend is linked against LLVM 14

Custom LLVM LTO build: LLVM 15 built using LLVM 15, containing LLVM 15 bitcode
Custom LLVM non-LTO build: LLVM 15 built using LLVM 15, containing native code

LLVM bitcode is not generally forwards-compatible. If the official toolchain tries to read the LLVM LTO libs, it will often choke (which I've confirmed by experience

[2022-04-29 21:22] aliemjay opened #96564 "type-alias-impl-trait with lifetime param can't be used in fn input"
I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f758d0536248cf9a970114bf75257429

[code]

I expected to see this happen: *program compiles*

Instead, this happened:
[code]

Same code compiles if type params are used instead:
[code]

### Meta

Nightly playground : 1.62.0-nightly (2022-04-28 e85edd9a844b523a02db)

<details><summary>Backtrace</summary>
<p>

[2022-04-29 21:27] the8472 commented on #96554
Right, `--config` would also work.

[2022-04-29 22:11] nbdd0121 commented on #76001
I tried to make asm consts `InlineConst`, but find it's quite problematic for `GlobalAsm` -- `InlineConst` typechecks with the outer item but `GlobalAsm` doesn't have one. Although `GlobalAsm` wouldn't have any generics so it wouldn't be a problem to keep them `AnonConst` while switching `InlineAsm` to `InlineConst`, having a discrepancy between them feels wrong to me...

[2022-04-29 22:27] #95477 closed

[2022-04-29 23:05] alex-semenyuk commented on #96545
@rustbot claim

[2022-04-29 23:55] nicholasbishop commented on #96498
Thanks for the quick fix!

[2022-04-30 00:45] #95325 closed

[2022-04-30 00:45] #96540 closed

[2022-04-30 00:47] aliemjay commented on #96564
Simpler:
[code]

[2022-04-30 01:14] aliemjay opened #96569 "poor diagnostics when type-alias-impl-trait appears in impl"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=38b4af731292bf171e1011d9e54abd70

A type alias with at least one lifetime or type parameter:

[code]

The current output is:

[code]

Ideally the output should look like when the type alias has no lifetime of type paramters:

[code]

These diagnostics where introduced in #95973. cc @oli-obk.

@rustbo

[2022-04-30 01:15] CAD97 commented on #87586
I think ```` ```rust,ignore ```` *should* behave identically to `#[ignore]`; that is, they should actually be checked to compile, but not run unless you pass `--ignored`. That this *isn't* checked to compile I personally think is a bug, though one I don't think we can fix.

My ideal state of the world:

| doc codeblock tag | test attribute | compile | run |
| -- | -- | -- | -- |
| ignore | ignore

[2022-04-30 01:18] CAD97 commented on #63193
Posting this here as well as #87586, since it's highly relevant to the OP here as well:

I think ```` ```rust,ignore ```` *should* behave identically to `#[ignore]`; that is, they should actually be checked to compile, but not run unless you pass `--ignored`. That this *isn't* checked to compile I personally think is a bug, though one I don't think we can fix.

My ideal state of the world:

| doc

[2022-04-30 01:21] CAD97 commented on #82715
Posting this here as well as #87586, since it's highly relevant to the OP here as well:

I think ```` ```rust,ignore ```` *should* behave identically to `#[ignore]`; that is, they should actually be checked to compile, but not run unless you pass `--ignored`. That this *isn't* checked to compile I personally think is a bug, though one I don't think we can fix.

My ideal state of the world:

| doc

[2022-04-30 02:29] CAD97 opened #96570 "rustdoc source pages hang Android Chrome for a significant period while loading"
It's actually gotten better recently, in that smaller source pages sometimes work (up to ~500 source lines I've seen work) but it's still a noticeable issue that hits me whenever I hit the source link.

I've reported this via the [Chrome "Send Feedback"](https://support.google.com/chrome/answer/95315?co=GENIE.Platform%3DAndroid&oco=1) link, but I don't think that creates anything trackable by the

[2022-04-30 03:49] Dirbaio opened #96572 "TAIT: "unconstrained opaque type" error even if it's constrained"
This is allowed:

[code]

But this isn't:

[code]

It seems strange to me that adding code causes a type that was previously properly constrained to not longer be so. I'm not sure if it's a diagnostics issue, or if it should indeed be allowed...

See [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2b4b6e459c97c4a07fdcd20e79cdf5b7)

rustc 1.62.0-nightly (a707f4

[2022-04-30 04:04] sebastienblanchet commented on #95988
New here and willing to give this a shot.

@rustbot claim

[2022-04-30 05:38] kaimast commented on #96225
I think I see this issue too. I also had to go back to 2022-04-18 to be able to compile my code.

[2022-04-30 08:05] mati865 commented on #96553
Could you report it to Clippy instead? Here is the repo: https://github.com/rust-lang/rust-clippy

[2022-04-30 08:24] nikic commented on #96274
Upstream fix landed in https://github.com/llvm/llvm-project/commit/1881711fbb7b0cd1b8d492b3ca4b70ce75824030.

[2022-04-30 09:13] conradludgate commented on #96512
If no one is yet investigating this, I'd like to pick it up

[2022-04-30 09:34] GuillaumeGomez commented on #93058
@fmease: So a few things remain to be done:

 * Move callback to the `() => {}` syntax.
 * Use "strict" as suggested by @the8472
 * Add a lot more eslint lints.

Do you want to divide the work with me? :)

[2022-04-30 11:19] Amanieu commented on #76001
I think just leaving `GlobalAsm` as an `AnonConst` is fine. Would it help to use a separate `hir::GlobalAsm` struct instead of reusing `hir::InlineAsm`?

[2022-04-30 11:50] apiraino commented on #95871
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2395871.20Wrong.20code.20generation.20in.20core.20library.20with.20ROPI-RWPI.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-04-30 14:27] JanBeh opened #96577 "#[repr(transparent)] in sys::windows::os_str::Slice"
I noticed that the [`sys::windows::os_str::Slice`](https://github.com/rust-lang/rust/blob/013fbc61877c8b1ca964274f171bd79952247fc3/library/std/src/sys/windows/os_str.rs#L46-L49) type is *not* `repr(transparent)` while [`sys::unix::os_str::Slice`](https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/os_str.rs#L26-L29) is. However, they are [required to have a transparent represent

[2022-04-30 14:53] steffahn opened #96579 "Desuraring of destructuring assignment has subtle effects on drop-order / scopes of temporaries"
For example
[code]
Output:
[code]

<hr>

I came across this by reading [the reference](https://doc.rust-lang.org/stable/reference/expressions/operator-expr.html#destructuring-assignments):

The difference between
[code]
and
[code]
is that in the former case, temporaries in `EXPR` are dropped _after_ the surrounding statement is evaluated, while the latter case has them dropped right after the `let

[2022-04-30 16:27] steffahn commented on #96579
The drop order is also relevant in the (more common) case where the destructuring assignment makes up its own statement (i.e. it’s not part of a larger expression):

[code]
Output:
[code]

(The proposed change would make the second case behave like the first one, dropping the `L` value as part of assigning to `x` before dropping the temporary `M` from the `&M` expression.)

[2022-04-30 16:44] apps4uco opened #96583 "'rustc' panicked at 'DefId::expect_local: `DefId(21:256 ~ midi_io[b6c0]::parser::midi_codec)` isn't local'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-30 17:09] bentongxyz commented on #96049
Hi @jyn514, I have made PR #96584, please review at your convenience, much thanks!

[2022-04-30 17:19] steffahn commented on #96579
@rustbot label +T-lang

[2022-04-30 17:32] JustinTRoss opened #96585 "Upon first use: `Couldn't create a temp dir: No such file or directory (os error 2)...`"
I tried this code:

[code]

I expected to see this happen: Success of some sort.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-04-30 17:50] ChrisDenton commented on #96577
Note that making the Unix version transparent was a relatively recent change (May of last year). The [reason](https://github.com/rust-lang/rust/pull/84967#discussion_r631905868) given was:

[2022-04-30 18:16] JustinTRoss commented on #96585
🤦 This resolves if you just manually create `/Users/username/.tmp` folder:

[code]

[2022-04-30 18:16] #96585 closed

[2022-04-30 19:40] JohnTitor commented on #92305
Triage: This is no longer ICE with the latest nightly, since #96548 (presumably #96516). Marked as `E-needs-test`.

[2022-04-30 20:06] SUPERCILEX commented on #96274
Woohoo!

---

@RalfJung I've been mulling this one over and I think the fundamental disagreement centers around `MaybeUninit` being about creating a bunch of uninit bytes vs. `MaybeUninit` being a performance tool to avoid wasted instructions.

From the performance perspective, this is wrong. `[MaybeUninit::uninit(); N]` is (non-obviously) the intent to copy uninit bytes N times whereas `uninit_ar

[2022-04-30 20:38] apps4uco commented on #96583
There was an error in the original code in the main project

[code]
Where in the included crate it is defined as
[code]
Codec is defined in the rcodec crate

its defined as

<https://docs.rs/rcodec/1.0.1/rcodec/codec/trait.Codec.html>

I managed to create a small test case of 2 crates. Unzip, cd to compiler_bug and run cargo build

[compiler_bug.zip](https://github.com/rust-lang/rust/files/8597781

[2022-04-30 20:49] Badel2 commented on #96225
I opened a pull request with a one line change that may fix this, but I have no way to reproduce it locally (compiling the example code works fine even without the changes of that pull request). The playground can still reproduce the issue as of nightly 2022-04-29, so we can use it to check if this issue is really fixed after that pull request is merged.

[2022-04-30 21:24] #96292 closed

[2022-04-30 22:47] thatzopoulos commented on #90679
Hello @InfRandomness, I'd like to claim this issue if you're interested in releasing it.

[2022-04-30 22:52] SorteKanin commented on #74970
I'd really like this as writing `pub(crate)` everywhere in my application really hurts readability.

[2022-05-01 02:03] inquisitivecrystal commented on #96540
Since this has been fixed now and we never received any reports outside of bevy, I'm going to go ahead and retroactively mark this as P-high. I had suggested [P-critical on the assumption that this would hit a lot more code](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396540.20regression.20from.20error.20on.20elided.20lifetime.20in.20path),

[2022-05-01 04:37] DrMeepster opened #96594 "Const generics in enum discriminants cause an ICE"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-01 04:38] matoro commented on #39900
Hi, curious if this has been looked at?  I am on a platform that has issues with the -O3 in the default cmake release and need to lower the optimization level but can't.  The issue is not specific to openbsd.

[2022-05-01 04:53] psionic12 commented on #76560
Is there anyway I can do something like this in nightly?
[code]

[2022-05-01 04:55] clarfonthey commented on #76560
Nope, there's currently no way to bound const generics. The best you have right now is to change the type of the generic to affect the bound.

[2022-05-01 05:18] cjwcommuny opened #96595 "Associated constants error: unconstrained generic constant"
The following code:

[code]

cause an error:

[code]

If we add the constrait to the trait:

[code]

It causes another error:

[code]

## Version

[code]

## Related Issues

- [feature(generic_const_exprs)](https://github.com/rust-lang/rust/issues/76560)

[2022-05-01 06:42] RalfJung commented on #96274
In Rust we never *guarantee* the performance of anything, at least not in the same sense that we guarantee that `1+5` evaluates to `6`. Performance is always best-effort. This is like in C. You write a program, and it has a certain set of allowed behaviors; the compiler then does its best to implement one (or several) of those behaviors with the best performance it can achieve.

Sometimes it is to

[2022-05-01 06:57] ken-matsui commented on #96555
@rustbot claim

[2022-05-01 07:38] conradludgate commented on #96512
So far, I've found 2 issues that cause this behaviour.

The first is that it's having trouble in this context to get the field type of the single variant enum: https://github.com/rust-lang/rust/blob/61469b682c2b0bf9cebc4622f1859e2bb3b7ebca/compiler/rustc_borrowck/src/type_check/mod.rs#L822

Fix is easy,
[code]

The second issue is that the MIR is being badly formed. Looking at the traces, I see
[c

[2022-05-01 07:52] RalfJung commented on #71117
I am imagining that comparing pointers at pointer type should be equivalent to `ptr1.addr() == ptr2.addr()`. I don't think we can afford distinguishing between those operations, that is just too surprising.

Would it? How would the StorageLive/StorageDead make that work? Deinit doesn't affect address equality, only (de)allocation does (and Storage\* is (de)allocation for stack variables).

[2022-05-01 08:30] brkydnc opened #96598 "Rust compiler unexpected panic on 1.62.0-nightly"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-01 08:49] brkydnc commented on #96598
I don't exactly know how much detail I should be giving about the code. If the current snippet is not adequate, I can expose more of it.

[2022-05-01 09:17] brkydnc commented on #96598
I noticed that the `handle()` function's host parameter's type is wrong. It should have been `host: Member<Host>`, instead of `Member<Self>`.
[code]

I also noticed that I skipped the `host_client: &mut Client` argument in the `Guest::handle()` call inside the `select!`
[code]

Currently, the code has 2 errors. When I fix them, the code compiles straightaway. When I fix only one of them, the compi

[2022-05-01 09:22] InfRandomness commented on #90679
Sorry about that 😀
Gave it a try but got sidetracked and wasn't really interested in doing it anymore

[2022-05-01 09:31] WiSaGaN commented on #44265
Is it too late to get in 1.62 stable (June 30)?

[2022-05-01 09:40] Folyd commented on #93058
Sure, I'd love to. 😸

[2022-05-01 10:37] GuillaumeGomez commented on #93058
Then pick one thing and go ahead. :)

[2022-05-01 11:44] bluss commented on #93367
I had this case in matrixmultiply that triggers the warning:

[code]

I believe the code was problem-free because all usage of `Ptr<T>` were in the form of either `Ptr<*const X>` or `Ptr<*mut X>`. I can avoid the warning by duplicating some definitions and going with something like `Ptr<T> { *const T }, PtrMut<T> { *mut T }` instead.

Would it be ok to assume that this code doesn't change meaning

[2022-05-01 16:13] nbdd0121 commented on #85836
FYI this should work with #96557

[2022-05-01 16:23] Folyd commented on #93058
Ok, I pick this one.

[2022-05-01 16:35] jsha commented on #85138
I like @camelid's suggestion to only show when a trait is _not_ object safe, since that's the more unusual condition. If we do that, it doesn't fit logically under "Implementors" anymore. If we proceed with only marking non-object-safe traits, here are a couple of ideas:

 - Add a section after the top-doc, but before "Implementors", called "Object Safety", and put the text there.
 - Add informati

[2022-05-01 16:47] mmirate commented on #44265
Unless [this blogger](https://sabrinajewson.org/blog/the-better-alternative-to-lifetime-gats) is wrong, GATs in their current form still have a crippling limitation relative to HRTBs. Is it too late to halt the assembly-line and fix this problem?

[2022-05-01 17:44] leonardo-m opened #96606 "[Diagnostic ER] Missing unnecessary parentheses warning"
rustc could give a unnecessary parentheses warning here:

[code]

[2022-05-01 18:37] lunabunn commented on #90850
This would allow me to shed my dependency on `unsafe_any`. What's the state of this feature? Is it ready for an FCP?

[2022-05-01 18:52] hamza1311 commented on #62290
What's the current status of this issue? According to the description, it says only the stabilization is left. How can one help push this to stabilization?

[2022-05-01 19:07] saethlin opened #96608 "ICE in Miri: "primitive read failed for type", due to reading a Boxed slice with an allocator?"
Unclear if this is a Miri issue or a rustc issue, but it looks to me like the issue is squarely in the CTFE code so I'm reporting it here.

I'm trying to improve on the experimental PR to use `Box` to implement `Vec`: #96607 and I'm using `miri-test-libstd` to see how things are going. I've gotten all the way to running tests, but I immediately ran into an ICE:
[code]
This can be reproduced by run

[2022-05-01 19:10] ibraheemdev commented on #90850
Now that `{Option, Result}::unwrap_unchecked` are stabilized, I wonder if there is much benefit to these methods.

[2022-05-01 19:44] oli-obk commented on #96608
Possibly related to nonzst allocators ICEs everywhere?

May get fixed by https://github.com/rust-lang/rust/pull/95576

[2022-05-01 19:45] talbenari1 opened #96611 "Compiler emits invalid help diagnostic when unused import is found in test module"
Given a `#[cfg(test)]`-annotated module that contains an unused import, like so: ([Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8d48e5cb7cee8e5f4710a54eb54cb3a1))

[code]

The compiler outputs a warning and corresponding help message like this:

[code]

Obviously the `help` is erroneous because the annotation it's recommending is already there. I assume

[2022-05-01 19:58] Swatinem opened #96613 "Tracking Issue for `slice_range_of` returning the `Range` of a sub-slice/str"
Feature gate: `#![feature(slice_range_of)]`

This is a tracking issue for `slice/str::range_of`, which returns the `Range` of the sub-slice/str within `self`.
The resulting `Range` can be used with `get` to yield the exact same slice again, completing a roundtrip.

I originally proposed the feature here: https://internals.rust-lang.org/t/proposal-get-range-of-sub-slice/16556

### Public API

[code

[2022-05-01 20:13] ken-matsui commented on #96611
@rustbot claim

[2022-05-01 20:48] clarfonthey commented on #85122
I don't think that "raw" is a good naming scheme, since in general, you should *not* be using these primitives directly. In general, they should be hidden behind other methods that are safe to call. So, I would say that the "unchecked" naming is, at best, not descriptive enough, and that "raw" would be further from the goal of being descriptive.

[2022-05-01 20:53] TheButlah commented on #95268
Related: https://sabrinajewson.org/blog/the-better-alternative-to-lifetime-gats

[2022-05-01 21:36] DrMeepster commented on #96608
@rustbot claim

[2022-05-01 22:18] JohnTitor commented on #96550
#94391 might have a fix for this, could you check on beta or nightly?

[2022-05-01 23:29] yoav-lavi opened #96618 "Functions returning `BoxFuture` have no warning when the future is unused"
**I tried this code:**

[code]

**I expected to see this happen:**

Normally, the `unused_must_use` lint would warn regarding the unused future. In this case there's no warning (perhaps because the original function has no warning, but since there's a blanket warning for `async` functions I'd expect one here).

**Instead, this happened:**

No warning was emitted

### Meta

`rustc --version --verbo

[2022-05-01 23:48] thatzopoulos commented on #90679
@rustbot claim

[2022-05-01 23:56] yoav-lavi commented on #96618
Apparently this is a duplicate of https://github.com/rust-lang/rust/issues/67387, closing

[2022-05-01 23:56] #96618 closed

[2022-05-02 00:40] Petruha04 opened #96620 "Link.exe fatal error lnk1181 non-UTF-8 output"
Can't compile "hallo world" (main.rs) :(
VS build tools 2019.
rustc --version
rustc 1.60.0 (7737e0b5c  2022-04-04)
Windows 7 x64
---
fn main() {
    println!("Hello, world!");
}
---
Screenshot:
[https://drive.google.com/file/d/1hZiVjDHa-B8755k1C3q8SoMb22y4oIi_/view?usp=sharing](https://drive.google.com/file/d/1hZiVjDHa-B8755k1C3q8SoMb22y4oIi_/view?usp=sharing)

[2022-05-02 00:58] Stargateur commented on #44265
@mmirate Unless I miss taken I don't see how why can fix this problem without add or change syntax of HRTB. Or we could make it compile in the future. It's allowed for code that doesn't compile to compile with greater version of Rust as long as it's safe code. For both case I don't see a reason to wait. It's just a limitation.

[2022-05-02 01:11] ChrisDenton commented on #96620
[LNK1181](https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-error-lnk1181?view=msvc-170) means that the filename cannot be found.

In this case it looks like the missing filename is named "kernel32.lib".

Do you have the Windows SDK installed? For example, this is what you need to select in the Visual Studio Installer for the Windows 11 SDK:

![windowssdk](https://user-i

[2022-05-02 01:12] QuineDot opened #96621 "Standard file descriptor checks cause abort on startup with strict rlimit"
### Cause

[PR 75295](https://github.com/rust-lang/rust/pull/75295) added polls to the standard file descriptors on startup; if they are closed, it attempts to reopen them to `/dev/null`.  If [`RLIMIT_NOFILE`](https://man7.org/linux/man-pages/man2/getrlimit.2.html) is too low, the polling (or opening) will cause an abort.

[Reported by @edre on URLO; diagnosed by @cuviper.](https://users.rust-lang

[2022-05-02 02:03] Permik commented on #95228
Please forgive me for chipping in my 2¢ on the name bikeshedding.

There's been many mentions on what to name the action when you "magically" create a suitable provenance. I think we already have a perfectly suitable name for it, **inference/infer**.
I think that `infer_provenance` could succinctly imply that something automagical/intelligent is taking place. The infer word in itself is not absolu

[2022-05-02 02:07] andylizi opened #96623 "`global_asm!` sym operands emit functions without function body"
### Summary

If a function is only referenced by a `sym` operand in `global_asm!`, the definition/body of that function will not be emitted by the compiler, and the linker will fail with `unresolved symbol` error.

### Reproduction

Save the following code as `example.rs`:  (https://rust.godbolt.org/z/4jbf3eWjb)
[code]
<sup>(`.global _start` is there to stop the linker from pruning unreachable cod

[2022-05-02 04:25] #96595 closed

[2022-05-02 04:27] Zoybean opened #96625 "Suggest similar names for types, macros and modules"
Given the following code: [Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5d4a3524fa5a37cf0fb9f3aee1c38e48)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Currently, when a crate, function, method, or enum variant is not found, similar-named items will be shown as hints. However, when a type, module, or macro is miss

[2022-05-02 04:29] Zoybean commented on #96625
Potentially related issues: #95462, #48676

[2022-05-02 05:49] ChayimFriedman2 commented on #95228
@Permik But to "infer" something is to understand it based on implicit data/reasoning. Provenance is explicit. Each pointer has provenance, it's just invisible. It's somewhat orthogonal to how we get the length out of a slice pointer: we don't infer it, we just extract it, as it's already sitting there. In the same way, you can look at every pointer as a pair of (address, provenance).

[2022-05-02 05:52] #71088 closed

[2022-05-02 05:52] #95427 closed

[2022-05-02 05:52] #96413 closed

[2022-05-02 05:52] #96545 closed

[2022-05-02 06:42] lcnr commented on #93367
:+1: adding a definitely not `Send` field to `Ptr` was imo the right way to silence the lint.

This code would have otherwise changed in the future as currently `Ptr<&T>` implements `Send` but will not implement `Send` once/if we land #85048.

[2022-05-02 07:55] #96547 closed

[2022-05-02 08:02] iago-lito commented on #95228
If it's exactly here but invisible, and we are just making it something tangible instead of something hidden, what about `reify_provenance()`?

[2022-05-02 08:21] ken-matsui commented on #94879
@rustbot claim

[2022-05-02 08:41] ChayimFriedman2 commented on #95228
But we don't make it more visible (or "real") than what it was, we just copy the provenance. of a pointer to a new pointer. So `with_provenance()` would be good if the method was on `usize` and taking a pointer, but because it's the opposite `with_addr()` is an appropriate name.

[2022-05-02 08:41] psionic12 commented on #50186
Currently, the implementation use  `Cell::get()` to get the original value,  which makes a copy, is it reasonable to use `MaybeUninit` or `UnsafeCell::get()` to avoid the copy, since a value will be set back after all?

[2022-05-02 09:29] m-ysk commented on #88038
@rustbot claim

[2022-05-02 09:47] nyvs commented on #96550
I had tried nightly with the same outcome

[2022-05-02 09:50] nikic commented on #96152
We're missing this fold: https://alive2.llvm.org/ce/z/eKRvKm This is missed both on the InstCombine and the DAGCombine level.

[2022-05-02 10:30] tmiasko commented on #96512
Yeah, it looks like constructed MIR is incorrect.

One issue seems to be in `to_upvars_resolved_place_builder`, towards the end it has to rebase projections on top of a capture. First it has to remove the captured prefix, and the implementation makes the assumption that the number of projections in HIR and MIR will coincide. In the HIR downcasting is part of field projection, in the MIR those are

[2022-05-02 10:36] danielhenrymantilla commented on #50186
@psionic12 perf-wise, a `mem::replace` cannot be less expensive than a `Copy` (the original copy is still there; and there is potentially a second write unless elided out). API-wise, remember that `.set_with()` can be re-entrant, so the nested call still needs to see a well-formed value 😬. So, a `MaybeUninit`-based approach, on top of requiring a change to all `Cell`s so that they wrap a `MaybeUni

[2022-05-02 10:40] conradludgate commented on #96512
I also just noticed the Downcast issue. In my traces, I do see the variant projection using this Downcast for just a single variant, and the suspect PR changes does seem to ignore all Downcast projections

[2022-05-02 10:41] conradludgate commented on #96512
Should the fix be
1. Keeping Downcast and truncation the capture correctly
2. Making the single variant capture not use Downcast

[2022-05-02 10:53] dhardy commented on #44265
Quite an interesting (deep) article. But as far as I can tell the problems are entirely due to the (overly lax?) interpretation of `for<'a>` and nothing to do with GATs, hence this is something that can be fixed or worked around later.

<details>
The core problem is apparently this:

[code]
But `for<'a> I::Item<'a>: Debug` fails when we substitute `'a = 'static`.

Back up a minute: does `for<'a>`

[2022-05-02 10:54] Petruha04 commented on #96620
Thank You!
No. SDK was not installed. I will try to add it.

[2022-05-02 10:56] psionic12 commented on #50186
I'm sorry I forgot the `re-entrant` thing, if someone somehow needs to access the cell again in `f()`, bad things happens :(, thanks for pointing out.

[2022-05-02 10:57] #96620 closed

[2022-05-02 10:57] chnlkw opened #96631 "rustc 1.62-nightly got Internal Compiler Error when compiling "trait FromAll = for<T> From<T>""
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-02 11:09] HKalbasi opened #96632 "Suggest `as _` when type coercion is not allowed"
I was working on some code which here is a minimized equivalent: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f6bcb9831f819220401cdae0576340fc))
[code]
Which doesn't compile:
[code]
At first I thought it is a compiler bug/limitation, but after reading about type coercions, it seems like it is working as intended. It would be great if compiler suggest adding

[2022-05-02 11:16] m-ou-se opened #96633 "Building rustc on FreeBSD 13 fails"
On a fresh (x86-64) FreeBSD installation, running `./x.py build library/std` results in a segfault:

[code]

[2022-05-02 11:16] tmiasko commented on #96512
@arora-aman or @roxelo might be in a better position to give advice here.

I think we should keep and / or add downcast where they are currently missing (e.g., when constructing the closure), and fix how projections corresponding to captured prefix are removed. As far the latter aspect is concerned, I think the issue is in the following lines (`capture.place.projections` are HIR projections which

[2022-05-02 11:40] jnordwick commented on #86715
I don't generate documentation locally. I didn't realize people did that or
how search and serving the pages happens then. I just use what is online
and usually linked from a projects homepage or docs.rs. It odeon't really
work on there it seems. For example, if I go to the tungstenite docs:
https://docs.rs/tungstenite/0.17.2/tungstenite/?search=write_all and search
for `write_all` nothing shows u

[2022-05-02 11:48] wdanilo opened #96634 "Rustc "overflow evaluating the requirement" while it should work."
Consider this code:

[code]

Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9014c0167fc65f14c8a2668428fc5df4

It gives the error:

[code]

Which does not make sense. Let me explain:
1. We do `MyVisitor{}.visit(&Ast::Null)`, which requires a bound `MyVisitor: Visit<Ast>`.
2. This bound is implemented (`impl<T> Visit<Ast> for T`), so another bound to be checked i

[2022-05-02 11:50] johnroyer commented on #20866
The file below, published at 2022-01-13, is convert via Epubor. Download if you need.

https://s3.ap-northeast-1.amazonaws.com/assets.blog.zeroplex.tw/2022/2022-01-13-The-Rust-Programming-Language.epub

[2022-05-02 12:25] Manishearth commented on #86715
Yeah, that's a deliberate choice in docs.rs, otherwise your search space would be extremely polluted and search would be much slower.

[2022-05-02 12:28] GuillaumeGomez commented on #93058
Then I'll do "use strict" next.

[2022-05-02 12:45] nikic commented on #96152
https://reviews.llvm.org/D124763 for the InstCombine fold (which does not actually help here, this needs to happen on DAGCombine level).

[2022-05-02 13:15] skrap commented on #95866
OK, so we just need to bump the libc version in rust.  Unless someone objects, I'll submit a PR to rust later today to bump the libc version.

[2022-05-02 13:47] aruiz opened #96637 "Building a powerpc 32bit be #[no_std] crate fails to link due to `memcpy` and other libc symbols"
I am trying to write bootloader code for an OpenFirmware/PowerPC environment. This environment runs on 32bit big endian by default.

When trying to build this crate:
https://gitlab.com/aruiz/of-rs/-/commit/92313671f4698d1cf536e08f49b1986f3c7b4ae9

I am using the following config:
[code]
When building I am getting the following output
[code]

I am not sure why a #![no_std] crate would have to link

[2022-05-02 14:01] flip1995 opened #96638 "ICE on checking function arguments"
PR introducing this ICE: #92364
cc @jackh726

Line producing this ICE:
https://github.com/rust-lang/rust/blob/b6c87c555f3b664f558d137d5f7696a07488157e/compiler/rustc_typeck/src/check/fn_ctxt/checks.rs#L430-L432

My attempt at an explanation: https://github.com/rust-lang/rust/pull/92364#discussion_r862811543

First discovered by Clippy's integration tests: https://github.com/rust-lang/rust-clippy/r

[2022-05-02 14:16] jyn514 commented on #86715
I don't think this is true, it's just that no one has come up with a good way to use the search index from another crate. (I think Guillaume mentioned just concatenating the scripts at some point? but we need some way of doing that that doesn't involve 300 fetches from S3.)

[2022-05-02 14:23] Manishearth commented on #86715
I vaguely recall discussions ages ago about this, but I may be misremembering.

Perhaps it should be an option during search, but I really don't think this should be the default.

[2022-05-02 14:30] nikic commented on #96152
https://reviews.llvm.org/D124772 is the DAGCombine fold -- which also doesn't actually help here, because demanded bits simplification interfered and reduces the width of the xor.

[2022-05-02 14:33] saethlin commented on #96632
I agree that the compiler should help here, but I don't think it should be suggesting `as _` or it shouldn't be a blanket "anywhere coercion isn't allowed".

I'm definitely biased, but I have a knee-jerk reaction against `as _`. There is no coercion between `&T` and `*mut T` because it may be UB to mutate through such a pointer, but if the compiler suggests that you as-cast your way there it's hel

[2022-05-02 15:03] jplatte opened #96640 "explicit_outlives_requirements lint triggers in macro-generated code"
This was originally a clippy issue until I noticed it's actually a builtin lint, so here's clippy's issue form filled out 😄

### Summary

The `explicit_outlives_requirements` lint seems to fire in macro-generated code, where it would be extra work to elide these. Saw this happen in CI for Ruma: https://github.com/ruma/ruma/runs/6258852689?check_suite_focus=true

### Lint Name

explicit_outlives_re

[2022-05-02 15:04] jyn514 commented on #96633
@m-ou-se it looks like the generated compiler has some codegen issue - does `build/x86_64-unknown-freebsd/stage1/bin/rustc --version` work?

[2022-05-02 15:12] m-ou-se commented on #96633
Yeah that works. That shows `rustc 1.62.0-dev` as expected.

[2022-05-02 15:13] m-ou-se commented on #96633
Running it with `--print cfg` instead of `--version` segfaults though.

[2022-05-02 15:28] wdanilo commented on #96634
This can be related: https://github.com/rust-lang/rust/issues/39959, and consequently this as well: https://users.rust-lang.org/t/type-recursion-when-trait-bound-is-added-on-reference-type/74525

[2022-05-02 15:30] jyn514 commented on #96633
Ok. I think it's unlikely to be a build system issue - maybe some target-specific codegen is buggy? I'm not sure how to help further.

[2022-05-02 16:11] marcgalois commented on #93333
Is the intention that generic functions will be allowed as `sym` operands (#96330) when `asm_sym` is stabilized? Or will that remain as a nightly-only feature?

[2022-05-02 16:20] jsha commented on #86715
@jnordwick said:

This is a useful example, since you were probably looking for [std::io::Write::write_all](https://doc.rust-lang.org/nightly/std/io/trait.Write.html#method.write_all) from the stdlib docs. We've definitely talked before about making docs.rs search also search in stdlib. I can't recall exactly where (Zulip?). But I think it's a great idea, and if we're looking at expanding what's s

[2022-05-02 16:22] jackh726 commented on #96638
Info: Does this ICE only occur in the error path?

Not sure what's going on exactly. The index *should* only be less than than the provided args length: https://github.com/rust-lang/rust/blob/542898328637b31412d91b882ce0dc4b85ad54e6/compiler/rustc_typeck/src/check/fn_ctxt/arg_matrix.rs#L145

I think the code in `arg_matrix` is wrong. I think we're missing a "mapping" back to the original provided

[2022-05-02 16:23] jyn514 commented on #86715
If rustdoc *just* built the search index for dependencies, that would probably not be too bad. But currently, it's inseparable from "generate all documentation for this crate", which would be much more expensive (just from io!) and use up a lot of our instance storage on temporary files that immediately get deleted.

[2022-05-02 16:26] bstrie commented on #60705
Now that RFC https://github.com/rust-lang/rfcs/pull/3224 has been merged to resolve the suffix question, are there any implementations that still need updating in order to handle `.` and `$` suffixes? If not, shall we revive https://github.com/rust-lang/rust/pull/89917 for making v0 the default?

[2022-05-02 16:39] aruiz commented on #96637
I just tried using a custom target spec reaching the same results:
[code]

[2022-05-02 16:49] m-ou-se opened #96643 "Building and testing rustc on *BSD fails on -C split-debuginfo"
`-Csplit-debuginfo` is passed on at least NetBSD and FreeBSD when testing rustc, but that results in an error saying that the option is not yet stable.

`bootstrap/builder.rs` enables unstable options on Linux and Windows, but not on other platforms:

https://github.com/rust-lang/rust/blob/879fb425960798a79042b3b2a850d1262b7a91e8/src/bootstrap/builder.rs#L1408-L1415

[2022-05-02 17:13] ChrisDenton commented on #96637
IIRC `memset`, `memcpy`, etc are core functions required by Rust to do practically anything involving memory. These are usually provided by platform libraries because, for performance, it's so important to use functions that are well optimized for that platform.

If the toolchain does not provide them then the [compiler_builtins](https://crates.io/crates/compiler_builtins) crate can be used. The "

[2022-05-02 17:40] aruiz commented on #96637
I did try including compiler_builtins before but did not try features = ["mem"]

That, indeed did the trick! Thanks @ChrisDenton !!!!

[2022-05-02 17:40] #96637 closed

[2022-05-02 17:55] Lokathor commented on #93333
I would expect a particular monomorphism of a generic function to be legal, but not that a generic function itself is legal without the generics being specified.

[2022-05-02 17:56] bluss commented on #93367
Ok, thank you. I think looking at it long term, that I would want to remove that workaround later. I understand why this is a warning now, but it doesn't and won't break any of code related to that crate, and then in the future Rust, the original code is a good way to express what was intended already(!) IMO. Just a minor update to what the code means, but an update that didn't change the meaning

[2022-05-02 18:03] estebank commented on #74970
@SorteKanin you can write `crate fn foo` instead. `pub(crate)` is the 2015 edition style, but after 2018 you can write `crate` directly.

[2022-05-02 18:04] jhpratt commented on #74970
@estebank The syntax is unstable, not gated on an edition.

[2022-05-02 18:09] cjgillot opened #96644 "Simplify universal impl-trait collection during lowering"
During lowering (`rustc_ast_lowering`), universal impl-trait are desugared to extra generic parameters to the current item, and their bounds added to the where clause.
[code]
becomes
[code]

This is done by carrying two vectors inside `ImplTraitContext::Universal`.
These vectors are only created by `add_implicit_generics` method, and references to them are passed around.
We should prefer having th

[2022-05-02 18:15] DzenanJupic opened #96645 "Random `lifetime may not life long enought` from other part of the code"
I just stumbled across a weird and inconsistent behaviour, that seems unreasonable to me.

The project I'm working on is a big company project (closed source) with quite some files. While fixing a bug and editing one line in one module (`src/dispatcher/compiler/module_range.rs`) the compiler suddenly decided to reject the code of a function from a completely different module (`src/services/module_

[2022-05-02 18:15] DzenanJupic commented on #96645
Could be closed immediately if not of value.

[2022-05-02 18:25] DzenanJupic commented on #96645
I can recreate it again. I don't know what the cause is. Seems to happen randomly. I just checked the code (not mine) and it seems like the lifetimes are actually incorrect, so it was a false negative. Fixing the lifetimes of `get_module_state` worked for now.

[2022-05-02 18:32] marcgalois commented on #93333
Does that mean that something like:

[code]

would or wouldn't be legal? (In that `blarg` specifies a specific monomorphism of `func`, although exactly which monomorphism is determined by the type arguments to `blarg`.)

[2022-05-02 18:37] estebank commented on #74970
That's what happens when you spend too much time in nightly, you lose track of things. Thanks for the correction!

[2022-05-02 18:59] estebank commented on #96638
Interestingly enough, the resulting output if changing a few indexing operations with `.get(idx)` is quite sane:

<img width="665" alt="Screen Shot 2022-05-02 at 11 58 19 AM" src="https://user-images.githubusercontent.com/1606434/166308312-66e64086-70e3-4a33-9578-d81cbf6932b3.png">

I'll put up a PR to address the immediate ICE, but we can leave this ticket closed for further inspection of the log

[2022-05-02 19:13] Amanieu commented on #93333
It will eventually be legal. It doesn't currently work yet due to issues with the implementation in the compiler.

[2022-05-02 19:27] alex-semenyuk commented on #96643
@rustbot claim

[2022-05-02 20:12] Badel2 commented on #96583
Run into this while fuzzing, minimized test case:

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>

[2022-05-02 20:30] CAD97 commented on #93602
Given that this no longer occurs, I'm going to go ahead and close this.

[2022-05-02 20:30] #93602 closed

[2022-05-02 21:57] estebank commented on #96638
When fixing the underlying issue, the logic changes from #96646 should be reverted, while keeping the regression test.

https://github.com/rust-lang/rust/pull/96646#issuecomment-1115339983

[2022-05-02 22:07] mareksom opened #96654 "internal compiler error: min_const_generics resolve check didn't stop compilation"
### Code
`src/main.rs`
[code]
`Cargo.toml`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

`$ cargo build`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

`$ RUST_BACKTRACE=1 cargo build`
[code]

</p>
</details>

[2022-05-02 22:27] kupiakos commented on #50784
Got bit by this today: I have a private `util` module deep in a crate. However, I'd still like to provide testable examples to the in-crate users of this module. There's no way to do this, since rustdoc was initially designed with the idea of "document this public Rust API" and not "document this Rust code". `rustdoc` needs a paradigm shift here to make doctests consistently useful. Documenting mo

[2022-05-02 22:31] bbigras opened #96655 "thread 'rustc' panicked at 'Found unstable fingerprints for mir_borrowck"
No idea if it's related to https://github.com/rust-lang/rust/issues/84970 if the compiler still asked me to fill out a bug report.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-02 23:33] djkoloski commented on #96640
Here's a minimized repro:

`Cargo.toml`
[code]

`lib.rs`
[code]

This trips the lint on a generated bound in serde:

[code]

Since the `'a: '__a` bound is technically unnecessary due to `&'__a &'a String`.

[2022-05-03 00:00] koobs commented on #96633
Ping @t6 @pkubaj @MikaelUrankar

[2022-05-03 00:52] notgull commented on #78485
Should there be an owned variant of this type? As in, uses `Box<[MaybeUninit<u8>]>` instead of a slice reference.

[2022-05-03 04:22] PrestonFrom commented on #94878
I'm still pretty new, but I'd like to take a stab at this. If it would be more appropriate for something with more experience, though, I'm happy to be un-assigned.

@rustbot claim

[2022-05-03 05:28] gheoan opened #96661 "Output type of indexing op. wrongly inferred in custom libcore"
I tried this code:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=42c97cceb10fc5cb71915f95d28a2956

<details>
  <summary>Click to show 100 lines of code</summary>

[code]
</details>

I expected to see this happen: code compiles without errors.

Instead, this happened: the output type of the Index operation is incorrectly inferred as i32.

[code]

Affects both v1.56 and ni

[2022-05-03 05:56] Chris00 commented on #83014
Here is [another example of such a situation](https://users.rust-lang.org/t/lifetime-bounds-of-associated-functions/75026/4) inspired by a real life™ situation.

[2022-05-03 07:07] Darksonn commented on #78485
@notgull I don't think there's any value in that. This just exists so the `Read` trait can use it.

[2022-05-03 07:38] nrc commented on #78485
It's something we may want for the async work (where completion IO systems want to take logical ownership of the buffer), but it doesn't need to block anything on the sync side (and we'd probably want a trait for it rather than forcing the user to commit to a specific storage strategy).

[2022-05-03 07:49] oli-obk commented on #53092
This `CONST_BUG(0)` call, because `Bug` a ZST, does not ask the `CONST_BUG` constant for the closure type it transmuted (the constant doesn't know about it anymore), but gets the ZST hidden type of `type Bug`, which is the closure from `make_bug`.

That closure has a constraint that `CONST_BUG` does not satisfy.

This constraint is only noticed in RevealAll mode in codegen, which then ICEs because

[2022-05-03 07:51] armanriazi commented on #91561
Try to use  .as_mut() it would be fix it

[code]

[2022-05-03 07:52] oli-obk commented on #55997
We should make the cycle diagnostic point at the `assert_send` call. Other than that, this issue works as intended for now

[2022-05-03 07:57] oli-obk commented on #63205
We fixed the only sub-issue of this and are generally fairly on top of the diagnostics around type alias impl trait

[2022-05-03 07:57] #63205 closed

[2022-05-03 08:00] oli-obk commented on #64445
This is supported since https://github.com/rust-lang/rust/pull/94081 and we have tests for it

[2022-05-03 08:00] #64445 closed

[2022-05-03 08:04] oli-obk commented on #86733
Yea, I think the only way to fix this is to add a new field to https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/struct.BorrowCheckResult.html that maps from opaque type def ids to spans and use that when reporting the unconstrained diagnostic.

[2022-05-03 08:15] oli-obk commented on #72793
Seems to be fixed again

[2022-05-03 08:17] oli-obk commented on #77989
This works now, and I expect this to keep working, as there's no implementation reason to forbid it and no language reason that I know of. Theoretically all functions could just be constants that return an `impl Fn()` type 😆

[2022-05-03 08:18] sebschmi commented on #96340
Possibly related, my crate [traitgraph 0.10.0](https://crates.io/crates/traitgraph/0.10.0) does not build with current nightly (bed05e996 2022-05-02), failing also with a "cycle detected"

It does build on stable 1.60.0 and beta though.

[2022-05-03 08:19] oli-obk commented on #86731
It seems fine to me under the full type-alias-impl-trait feature as implemented. I think we should just close this issue and keep allowing the example

[2022-05-03 08:21] oli-obk commented on #86732
I think we should just keep allowing this.

[2022-05-03 08:22] oli-obk commented on #86793
This compiles just fine now and we have tests for it

[2022-05-03 08:22] #86793 closed

[2022-05-03 08:23] oli-obk commented on #89008
Compiles just fine now.

[2022-05-03 08:24] oli-obk commented on #89008
@jackh726 I guess this issue can just be closed if there's a test already?

[2022-05-03 08:24] Edgeworth opened #96664 "Regression in nightly-2022-05-01 relating to trait objects"
### Code

When updating from nightly nightly-2022-04-30-x86_64-unknown-linux-gnu to nightly nightly-2022-05-01-x86_64-unknown-linux-gnu, some code that previously compiled stopped compiling. Here's the basic idea of it:

[code]

I expected to see this happen: compiles

Instead, this happened:
[code]

This code previously compiled, and the code already does what the advice of the error message sugg

[2022-05-03 08:25] oli-obk commented on #89952
This is fixed now

[2022-05-03 08:26] Nilstrieb commented on #96340
I don't think it's related, this issue is broken on stable as well.

[2022-05-03 08:35] sebschmi opened #96665 "cycle detected when computing the super predicates of `...`"
### Code

I tried this code:

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b12a9e880f38a2395e0a784faa943eea)

(this example was created by stripping down https://crates.io/crates/traitgraph/0.10.0)

I expected to see this happen: it should build on nightly as it does on beta and stable

Instead, this happened:

[code]

### Version it worked on

It m

[2022-05-03 08:36] #96225 closed

[2022-05-03 08:36] #92305 closed

[2022-05-03 08:36] #94879 closed

[2022-05-03 08:43] est31 commented on #86793
Oh, you are right it was actually a bug that is now fixed. I confused that with another mismatch error which still exists (If you add `fn baz() -> impl Trait { S }` and `v.push(baz());` to the example above, it compiled).

[2022-05-03 09:09] Manishearth commented on #96223
@ricked-twice is there anything I can help with here?

[2022-05-03 10:15] udoprog opened #96669 "Lending iterator through GAT / HRTB implies unexpected lifetime despite being 'static"
I tried this code:

[code]

Since `next` returns an associated type with a `'static` constraint, it seems like the associated type could be assumed to not have a lifetime associated with the `Iterator` that produces it and allow the program to compile.

Instead some lifetime constraint I can't wrap my head around is present, resulting in the above error.

### Meta

`rustc --version --verbose`:
[co

[2022-05-03 10:31] oli-obk commented on #96572
I don't think we can really allow this. No pattern but a straight up binding is a valid pattern for an opaque type. If you actually give that pattern a type

[code]

then we get a lot of ICEs from borrowck. The interesting ones are

[code]

These happen because we assume that if a pattern type checks, that we can actually destructure the thing that was moved into the pattern. Unfortunately for opa

[2022-05-03 11:11] sebschmi commented on #96665
@inquisitivecrystal I added an mcve

[2022-05-03 12:41] petrochenkov commented on #81490
@krasimirgg
The change is intentional, before https://github.com/rust-lang/rust/pull/93901 rustc added `--whole-archive` to static libraries in some (semi-random) cases.
After https://github.com/rust-lang/rust/pull/93901 we are no longer doing that, and the documentation was updated to mention that, and the release notes will mention it too.

The fix is (usually) to reorder the native libraries to

[2022-05-03 12:43] apiraino commented on #96487
Assigning priority as discussed in the [Zulip thread](https://github.com/rust-lang/rust/issues/96487) of the Prioritization Working Group.

@piegamesde thanks for the details. Do you happen to have the time to [run a bisection](https://github.com/rust-lang/cargo-bisect-rustc) on the target platform you're using (`riscv32i-unknown-none-elf`) and pin the exact commit the regression started? That wou

[2022-05-03 12:58] NickHu opened #96672 "Rust 1.60 segmentation fault related to const generics"
### Code

I tried this code:

[code]

I expected to see this happen: successful compilation

Instead, this happened:

[code]

### Version it worked on

It most recently worked on ([`nix build  github:homotopy-io/homotopy-rs?rev=5ba852c72a3e552d3668233a14fd9769dea0797e`](https://github.com/homotopy-io/homotopy-rs/commit/5ba852c72a3e552d3668233a14fd9769dea0797e)):

[code]

### Version with regressio

[2022-05-03 13:08] krasimirgg commented on #81490
@petrochenkov I agree. This example is a bit different: there is just 1 native library and a reference from an rlib to it. The problem is with the relative order between an rlib and its native lib dependency. The general instance of this problem is something like: anytime something uses a picky linker with an rlib -> native dependency, they risk backward reference errors and will have to fall back

[2022-05-03 13:19] piegamesde commented on #96487
I already did a preliminary bisect, hence the date range above. I could not get any closer because my code did not compile during the days in between. This was before minimization though, I will try again with the smaller code and hope that it will keep compiling. However, I due to the tooling I use the best granularity I will be able to provide will be nightly builds and not individual commits.

[2022-05-03 13:27] petrochenkov commented on #81490
Nothing in https://github.com/krasimirgg/native-libs-order-example indicates that libbar.rlib depends on libfoo.a though.
Rustc does preserve dependencies when they are specified, typically bar.rs would have a `#[link(name = foo)]` in its source code or `println!("cargo:rustc-link-lib=foo");` (*) in its build script.
But if dependencies are not specified, then rustc is free to put libraries in any

[2022-05-03 13:33] petrochenkov commented on #81490
Rustc is not the right abstraction level for that, IMO, since it's not aware of dependencies between libraries unless they are specified externally.
As I understand Bazel/rules_rust is a replacement of cargo, so it should be aware of all the dependencies, and can either pass `-l` options when building rlibs to register dependencies, or to order the final command line while preserving dependencies.

[2022-05-03 13:43] apiraino commented on #96487
ok thank you so much. being able to single out the nightly is probably enough

(and I have fixed the link, thanks for the notice)

[2022-05-03 13:49] krasimirgg commented on #81490
Thank you very much! What I was missing was this way to instruct rustc to say an rlib depends on a native library at the time of building the rlib (with the -bundle modifier):

I think Bazel/rules_rust wasn't doing this properly in all cases, and because previously rustc was always using `--whole-archive` for native deps we didn't notice these problems until now. I'll look into adapting rules_rust

[2022-05-03 13:57] apiraino commented on #96299
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396299.20Destructuring.20assingment.20in.20closure.20causes.20.22broken.20M.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-05-03 14:15] apiraino commented on #96672
A bit of reducing could help here. ideally we want to be able to reproduce.

@rustbot label +O-wasm

tagging also
@rustbot ping icebreakers-cleanup-crew

[2022-05-03 14:38] rich-g commented on #79640
Is there any update on this? Is this simply a matter of adding `--enable-profiler` to the Dockerfile, or are there other pieces missing too?

[2022-05-03 15:18] apiraino commented on #96306
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396306.203.2E2_f32.20formatted.20as.200.20on.20powerpc64le) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-05-03 16:23] Manishearth commented on #96223
Yeah I think we can land the simple fix with the testcase at least.

(Maybe still worth backporting; a coworker is hitting this bug in a context where it's not clear if there's a missing trait)

[2022-05-03 16:27] nicbn commented on #91521
Also noticed this. Ideally the parameter passed-by-value should behave as pass-by-reference if it is being passed as a pointer.

Example with just three words: https://rust.godbolt.org/z/Yh4993qvd
Using parameters with references: https://rust.godbolt.org/z/roWsc5bY9

[2022-05-03 16:52] roy-ganz opened #96675 "Improve documentation of std::process::Command"
I tried to run the following bash command using `std::process:Command`:

[code]
It failed at first because I can't use `<` as an argument. Instead I had to use the `stdin` method.
From the documentation that was not clear to me.

I think the documentation should mention explicitly that redirections cannot be done with
[code]
but require
[code]

[2022-05-03 17:27] nikomatsakis commented on #83701
@rfcbot reviewed

I think it makes sense to stabilize this as-is -- I'm not sure how I think that APIT should be modeled in the future (e.g., as early- or late-bound type parameters, for example) but this seems like it leaves space for all options.