[2020-07-30 22:01] nikomatsakis commented on #39685
I'm sort of inclined to close this issue though, since I think we're not going to convert to EBBs.

[2020-07-30 22:04] CryZe commented on #74947
A lot of indexing is done via macros, maybe moving the indexing into a few functions would ensure that there's less location information (which LLVM should then be able to inline away).

[2020-07-30 22:06] nikomatsakis commented on #57325
@djozis

I think you can interpret my comment as "this is a language wart and I would be interested in trying to see if we can get away with changing the rules here". That said, backwards compatibility may make that impossible. (We could *possibly* use something edition-gated, haven't thought much about it.) In any case, this would require an RFC in my opinion, so I'm going to close this issue as

[2020-07-30 22:06] #57325 closed

[2020-07-30 22:06] Mark-Simulacrum commented on #74947
I recall @anp doing some benchmarking on the size regressions and we measured them to be less than 1% on librustc(?) -- but I could definitely see code that indexes more having a greater regression. @anp, did we leave behind any flag to disable the track caller feature?

I guess you'd need to recompile libstd regardless, since track_caller is compiled into those artifacts. But maybe we could ship

[2020-07-30 22:07] nikomatsakis commented on #57325
@ChaseElectr please refer to RFC 1214 for justification and reasoning.

[2020-07-30 22:16] est31 commented on #74947
@RReverser have you enabled console_error_panic_hook or is it disabled? If the feature is disabled, it's possible that the info is all gone.

[2020-07-30 22:18] Plecra opened #74962 "Is RawVec still necessary?"
While reading the implementation of RawVec, I was struggling to distinguish it from a `Box<[MaybeUninit<T>]>`. Is there a significant difference in the API?

I ask because, if they are interchangeable, I think writing the implementations based on `Box` would be worthwhile:

- I'd expect it to reduce the `unsafe` code in `Vec` etc.
- It'd also make the code much more readable. By using the types to

[2020-07-30 22:31] est31 commented on #74947
Doesn't work, just checked it. See also https://github.com/rustwasm/team/issues/19

[2020-07-30 22:33] jackh726 commented on #74865
Yes, that could work.

[2020-07-30 22:41] KodrAus commented on #71831
Since the implementation PR was closed (just due to inactivity) we don't really have a feature to track here. I'll go ahead and close this one now, but if #71832 returns in some form then feel free to re-open!

[2020-07-30 22:41] #71831 closed

[2020-07-30 22:43] francesca64 commented on #74427
@Mark-Simulacrum

https://github.com/rust-lang/rust/pull/73086#issue-429824619 suggests that it "probably also created incorrectly optimized artifacts", though things indeed still build fine. That said, this does result in *a lot* of messages, i.e. in a largish project I'm seeing it 719 times, which makes it difficult to read any other build output. So at the very least, it's a substantial user ex

[2020-07-30 22:55] anp commented on #70580
For reference, I think the place to branch would probably be in https://github.com/rust-lang/rust/blob/1fb612bd15bb3ef098fd24c20d0727de573b4410/src/librustc_mir/interpret/intrinsics/caller_location.rs#L54-L81 where the actual values are allocated. I don't think we want to modify the ABI of track_caller functions since that will make things more complicated for dylibs but I could be wrong.

[2020-07-30 22:56] anp commented on #70580
Also worth noting that if we leave the ABI unaffected then a libstd without track_caller would only be needed for users who really need to squeeze the size, rather than a requirement for anyone compiling without the locations.

[2020-07-30 22:59] anp commented on #74947
@Mark-Simulacrum https://github.com/rust-lang/rust/issues/70579?

The [mitigation hasn't been implemented yet](https://github.com/rust-lang/rust/issues/70580). IIRC there'd be some nuance to implementing the flag as described in the RFC but it should be straightforward to implement the all-or-nothing version. I added a [comment on implementation options](https://github.com/rust-lang/rust/issues/70

[2020-07-30 23:18] #73840 closed

[2020-07-30 23:29] alexcrichton commented on #74947
Further bisection, aka building rustc before/after, shows that https://github.com/rust-lang/rust/pull/65973 looks to be the cause of this regression. Locally using my own rustc the size of the wasm binary coming out of rustc jumps from 534k to 622k (and libstd has debuginfo enabled). I wasn't able to match the nightlies exactly but they similarly regressed ~100k around those nightlies too.

[2020-07-30 23:43] sHaDoW-54 opened #74964 "Add a "clear terminal" function to standard."
I haven't found a way to easily clear the console without using an external crate. Using the `print!("\x1B[2J");` macro feels like a hack and doesn't always work. This is something that other languages have by default, so I don't see why there shouldn't be a cross platform implementation for clearing the terminal/console in standard?

I am aware that this exist, but it looks ~~ugly~~ unappealing.

[2020-07-30 23:56] KodrAus commented on #62280
Since the linked implementation PR is closed (just due to inactivity) we don't really have an issue to track yet. I'll go ahead and close this one, but if #62282 resurfaces in the future we can re-open!

[2020-07-31 00:01] foutrelis commented on #74657
This Dockerfile reproduces the issue with `docker build -t rust-issue-74657 .; docker run -it --rm rust-issue-74657`:

[code]

[2020-07-31 00:30] Lokathor commented on #65512
Error I'm sure breaks someone.

HashMap and HashSet probably break people as well.

[2020-07-31 01:52] epage commented on #74931
Looks like my CI saw a stack overflow on Windows as well

https://dev.azure.com/crate-ci/crate-ci/_build/results?buildId=1015&view=logs&jobId=f2aa1cb7-ddd8-5e13-2793-3e55ac100c6d&j=f2aa1cb7-ddd8-5e13-2793-3e55ac100c6d&t=5a4762e8-c879-51cf-cd2f-a8a50b37302f

[2020-07-31 02:20] #71060 closed

[2020-07-31 02:30] cwfitzgerald commented on #74919
Thanks for trying it! Will check on linux tomorrow, but silly question, did you test the exact commit, as the commit immediately after the referenced one refactors the code so it compiles.

[2020-07-31 02:50] ehuss commented on #55769
This should be fixed on the latest nightly (2020-07-31) via https://github.com/rust-lang/cargo/pull/8540 and https://github.com/rust-lang/rust/pull/74923.

[2020-07-31 02:50] #55769 closed

[2020-07-31 03:30] SNCPlay42 commented on #74961
MCVE:

[code]

[2020-07-31 03:45] SNCPlay42 commented on #74961
Looks like this is a duplicate of #72651.

[2020-07-31 04:10] lzutao commented on #74919
Yeah, I can reproduce it with gfx-rs/wgpu-rs@9a9bf53 .

[2020-07-31 06:06] jhpratt opened #74970 "Make `pub` in a binary be equivalent to `pub(crate)`"
<sup>(copy-pasting from [IRLO](https://internals.rust-lang.org/t/should-pub-in-a-binary-be-equivalent-to-pub-crate/12821))</sup>

Consider the code snippet

[code]

`cargo check` reports no errors or warnings. However, the same snippet using `pub(crate) fn foo()` gives a warning:

[code]

Given that binaries can't be used in anything else (as far as I'm aware?), would it make sense to treat `pub`

[2020-07-31 07:17] smmalis37 commented on #67830
Minimized further

[code]

[2020-07-31 07:39] oli-obk commented on #39685
Yea, let's close this issue, we can always crate mir optimizations that replace non-panicking intrinsics with some MIR statement logic if that is reasonable to do.

[2020-07-31 07:39] #39685 closed

[2020-07-31 07:43] oli-obk commented on #74931
lol I recently (two days ago) looked at `collapse_goto_chain` and went "oh this could stack overflow, why is this not a loop".

I'll fix this without inserting more stacker invocations

[2020-07-31 08:01] RalfJung commented on #73255
Cc @rust-lang/wg-const-eval (which I think never happened for this feature or the PR)

[2020-07-31 08:12] bjorn3 commented on #74970
A dylib loaded by the binary could lookup the symbol using `dlsym` if it was `#[no_mangle]` I think.

[2020-07-31 08:12] bugadani commented on #74938
In fact, this has nothing to do with slices: https://rust.godbolt.org/z/7oG6qE change from 3 to 4 (or other powers of 2) to see everything optimized away.

[2020-07-31 08:31] lzutao commented on #74938
There are no optimization in GCC and Clang: https://godbolt.org/z/M88ndP
[code]

Should `foo` be optimized to only return true?

[2020-07-31 08:41] lzutao commented on #74938
So this is more as LLVM part: @rustbot modify lables: +A-LLVM
Of course this might be improved with MIR-opt. But how hard it would be? I don't know.

[2020-07-31 08:45] bugadani commented on #74938
What's interesting is that the power of 2 optimization is done by rustc somewhere - the same MIR is translated to radically different LLVM-IR when N is 2^n.

Trying to find where this happens without knowledge of the compiler is rather difficult, though :)

[2020-07-31 08:47] lzutao commented on #74938
Clang could do that, change `N=4` in my snippet about to see. But still GCC doesn't do that.

[2020-07-31 09:00] nikic commented on #74938
https://github.com/llvm/llvm-project/blob/63d3aeb529a7b0fb95c2092ca38ad21c1f5cfd74/llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp#L311 needs to set a nuw flag. Then it will probably fold.

[2020-07-31 09:22] leonardo-m opened #74973 "[ICE] with lto on latest nightly"
I get an ICE compiling this code:
[code]
With:
[code]

[2020-07-31 09:24] maekawatoshiki commented on #73904
I'd like to work on ``sys/wasi``.

[2020-07-31 09:29] weiznich commented on #74868
Due to time constraints I'm not able to work on a MCVE by myself. If someone needs information about diesel/wundergraph I'm happy to help.

[2020-07-31 09:33] maekawatoshiki commented on #73904
I'd like to work on ``sys/hermit.rs``

[2020-07-31 09:41] jonas-schievink commented on #74970
You can build multiple crate types at once. Then this would break any non-binary crate types that are built at the same time.

What about just changing the lint instead? It could check if the only crate type being built is a binary, and then treat only `fn main` as the initially used function.

[2020-07-31 09:46] jonas-schievink commented on #74973
Cannot reproduce, please provide more info and the ICE message.

[2020-07-31 09:46] Nemo157 commented on #74970
[code]

So this could only apply to _binary targets_, not the crate-type `bin` (if you have a library target that is set to be something like `["bin", "staticlib"]`).

[2020-07-31 09:48] tshepang commented on #59105
Just bumped onto this with `./x.py doc`
[code]
Am now running same command with `rust.incremental = false`, just in case that will avoid the fail.

[2020-07-31 09:50] oli-obk commented on #74933
Hmm.. I would not have expected that code to have to change, since the failure seems to try to make the anonymous lifetime on `&mut self` in the `index_mut` method match `'a`, which it should not. I think your patch is sound, but touching the "wrong" thing. Basically now we are creating new lifetimes for the index, when I would have thought that the container type's reference's lifetime needs adju

[2020-07-31 10:00] bjorn3 opened #74975 "Record passed args in Command even on platforms not supporting process spawning"
This would be useful when running a program that normally executes a different program at the end for example `wasm32-wasi`. If the program debug prints the `std::process::Command` on errors that would make it easy for the end user to run the command outside of the wasi sandbox themselves. In my particular case I compiled rustc for wasi and want to copy-paste the linker invocations once all object

[2020-07-31 10:05] bugadani commented on #74938
Cool. So if I understand correctly, the following is happening:

The bounds check boils down to basically `(length / N) * N <= length`.
This can be transformed to `length - length % N <= length` (fair enough)
This is further transformed to (as the llvm ir shows) `length % N <= length;` (I don't see how this transform is equivalent, but OK)

And for some reason, LLVM can't seem to deduce that this

[2020-07-31 10:29] tshepang opened #74976 ""x.py doc --stage 0" fails with compiler-docs enabled"
Just bumped onto this with `./x.py doc`, even after `./x.py clean`:
[code]
Here is my config.toml
[code]

_Originally posted by @tshepang in https://github.com/rust-lang/rust/issues/59105#issuecomment-667036879_

[2020-07-31 10:55] yoshuawuyts commented on #72470
We've been running into this error using Windows MSVC on our work codebase. I've been able to pin down the regression to the Rust 1.44.0 which was part of https://github.com/rust-lang/rust/pull/69033. We've not observed this error occurring on Linux, MacOS, FreeBSD, or Windows-GNU.

cc/ @jonas-schievink

## Error

[code]

After this error the usual error of `Instruction does not dominate all uses!

[2020-07-31 11:08] teythoon commented on #71912
Similar, if you have multiple `impl` blocks for a type, their anchors are called `impl`, `impl-1`, ... which is also unpredictable.

[2020-07-31 11:25] jjpe commented on #68354
@niko I've taken a quick look at what's involved in writing such a stabilization PR.
I'm willing to do it, but I don't have the time at this precise moment for all of it.

Is there a possibility to perhaps have 2 or more people share the honor and responsibility?
Or would the communication overhead act as noise and drown out the signal in such a case?

[2020-07-31 11:50] RReverser commented on #74947
I'd imagine it would be useful for any targets that use `opt-level = "s" / "z"`, but if that's infeasible, Wasm could be a good start I guess.

More generally, could there be a way to tie this feature to the `debuginfo` knob? It seems reasonable to assume that users who disable line/column location info in debug sections, don't care much about line/column info in other places either.

[2020-07-31 12:11] leonardo-m commented on #74973
It just crashes (like when there's a stack overflow, but it doesn't give a stack overflow error message). I will try other things.

[2020-07-31 12:13] ohsayan opened #74978 "Implementing fmt::Display for non-existing variant compiles without any error"
**I tried this code:**

[code]

**I expected to see this happen:** There should've been a compilation error

**Instead, this happened:** The program compiled successfully

### Meta

Used rustc 1.45.1, on the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=58d1494c2403e1865fa2ec3f715df6af)

[2020-07-31 12:15] jonas-schievink commented on #74978
That is a wildcard pattern that binds the value to the variable `Key`. Closing since this is working as expected.

[2020-07-31 12:15] #74978 closed

[2020-07-31 12:17] ohsayan commented on #74978
So this is an expected outcome?

[2020-07-31 12:25] mati865 commented on #74973
Doesn't reproduce for me either using the same commit hash with windows-gnu.

@leonardo-m can you run it inside gdb or lldb? You will have to use full path to rustc binary (`~/.rustup/toolchains/nightly-x86_64-pc-windows-gnu/bin/rustc.exe`) because of Windows limitation.

[2020-07-31 12:27] #74886 closed

[2020-07-31 13:59] davidtwco commented on #74745
I've not been able to reproduce this on the latest nightly, I've bisected it to have been fixed in 2020-07-15 (report used 2020-07-11), probably by #74272; I've filed #74980 with a regression test.

[2020-07-31 14:06] kpp commented on #74745
Me neither.

[2020-07-31 14:08] jyn514 commented on #74976
If you pass `--stage 1` does it work? The default was recently changed to 0 so that might have uncovered a latent bug.

[2020-07-31 14:28] jhpratt commented on #74970
Changing the lint would certainly be sensible if totally merging the behavior causes issues. I believe this affects any item, not just functions. It would probably be worth checking whether any other lints have the same type of behavior.

[2020-07-31 14:37] pnkfelix commented on #74384
@rustbot ping llvm

[2020-07-31 14:40] pnkfelix commented on #74384
self-assigning to 1. verify this is an LLVM bug and if so, 2. isolate .bc file that we can use to file bug against LLVM itself.

[2020-07-31 14:51] pnkfelix commented on #74551
self-assigning to investigate whether its reasonable to replicate this atop GCC build farm or not

[2020-07-31 15:10] jonas-schievink commented on #72470
prisma-engines has multiple C dependencies (libsqlite, zlib, libgit2), which means that cross-compiling it rather painful (from Linux to Windows, that is). I did further reduce the code posted by @pnkfelix above though, removing tokio's proc. macros in the process: https://github.com/jonas-schievink/llvm-error

I'll try to reduce that down further.

[2020-07-31 15:33] nbdd0121 commented on #74933
@oli-obk This issue is not related to anonymous lifetime actually, if you spell out the lifetime explicitly it's still the same. The root cause has been identified and that line actually *is* the culprit, a detailed analysis can be found in #74960.

[2020-07-31 15:34] tshepang commented on #74976
@jyn514 that worked

[2020-07-31 16:33] leonardo-m commented on #74973
I guess it's a problem in my installation, so I close this issue down, and sorry.

[2020-07-31 16:33] #74973 closed

[2020-07-31 17:25] nbdd0121 commented on #74962
Currently `Box<[MaybeUninit<T>]>` is constructed using a RawVec. https://doc.rust-lang.org/1.45.1/src/alloc/boxed.rs.html#277-279

[2020-07-31 17:35] nbdd0121 commented on #74964
This is invalid. Not C/C++, Go, Java, Python or most languages.

The only language I am aware that have built-in clear function is JavaScript, but that's mostly because when API of `console` was originally designed, it's used by browsers which control the presentation of console messages. This is not true for CLI.

[2020-07-31 17:49] rodrimati1992 commented on #74933
I added a couple of examples of workarounds that allowed the function to compile, with the same signature.

[2020-07-31 18:07] ehuss commented on #74976
Fixing this properly looks like it will be quite tricky.  Some of the complexity stems from the fact that the `rustc` wrapper does not set the sysroot without a `--target` flag, which is what happens when running `cargo doc` (see [here](https://github.com/rust-lang/rust/blob/62f9aa94c0d0312544589bed78679d85646d4e62/src/bootstrap/bin/rustc.rs#L83-L88)).  However, the `rustdoc` wrapper always sets t

[2020-07-31 18:12] Mark-Simulacrum commented on #74962
`Box<[MaybeUninit<T>]>` doesn't have a vec-like API, nor should it I think (at least, it feels like the wrong fit to me). RawVec is similar at the low level but conceptually rather different, I wouldn't want to rewrite things from it to `Box<[MaybeUninit<T>]>`, which is much more verbose and IMO clunky.

[2020-07-31 18:12] #74962 closed

[2020-07-31 18:30] Mark-Simulacrum commented on #74976
I suspect that rustdoc always setting the sysroot might in fact be a bug, or at least unintentional - it seems like the two should be the same probably?

[2020-07-31 18:36] eggyal commented on #74916
Appears to be an exponential explosion in thin LTO pass, presumably because the `ForEach` visitor functions are being recursively inlined.

[2020-07-31 18:42] daboross commented on #74970
In this case, `#[no_mangle]` itself should mark the function as used, so I don't think this would present any problems. The following library compiles without warnings on stable rustc:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dd1001dc870f59c2274d0d80636ccb7b))

[2020-07-31 19:10] steveklabnik commented on #49756
Triage: that's still the output today.

[2020-07-31 19:12] eggyal commented on #74916
I've reduced the example to the following, which can perhaps be minimized further:

[code]

[2020-07-31 19:18] lcnr opened #74985 "Tracking Issue for slice::array_chunks"
The feature gate for the issue is `#![feature(array_chunks)]`.

Also tracks `as_(r)chunks(_mut)` in `#![feature(slice_as_chunks)]` -- these were FCPed starting at https://github.com/rust-lang/rust/issues/74985#issuecomment-2769963395 below.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant

[2020-07-31 19:28] ollie27 commented on #74970
It would make sense to do this for `staticlib`s and `cydlib`s as well.

[2020-07-31 19:43] georgio commented on #74747
I would like to give this a shot when #74726 is merged

[2020-07-31 20:08] #65918 closed

[2020-07-31 20:23] georgio commented on #62490
@rustbot claim

[2020-07-31 20:31] oli-obk commented on #74747
Once the PR is merged, before you work on anything, please post here which libs you are going to work on so that you don't conflict with others who are doing the same

[2020-07-31 20:39] sHaDoW-54 commented on #74964
@nbdd0121
I believe that C# and F# have the `System.Console.Clear();` command.

Also other languages such as Python, Go, have similar commands that clear the output for specific OS's.
[code]

The general pattern is that these languages have clear and *concise* ways of clearing the terminal, and you shouldn't have to write out `assert!(Command::new("cls").status().or_else(|_| Command::new("clear"))

[2020-07-31 20:57] lcnr commented on #64494
Looking at the original example:

[code]
From what I know we do not reason about generic consts, so `T::VAL == 5` and `T::VAL == 6` will remain opaque during coherence checking (causing this example to fail). I will go ahead and mark this as `E-needs-test` so we don't accidentally allow this in the future and then close this.

I do not think reasoning about generic consts is something we wan to do

[2020-07-31 21:06] est31 commented on #74947
Just tried it again, disabling console_error_panic_hook plus running wasm-snip on the un-wasm-opt'd binary (followed by wasm-opt) reduces the wasm file size significantly compared to the baseline. However, there is still a regression between 1.40 and 1.41, probably due to std increases?

[code]

[2020-07-31 21:07] xldenis commented on #74938
@bugadani, what's weird is that if you feed this IR straight into llc it does optimize it away: https://rust.godbolt.org/z/o6d6nM. Are we not calling a magic pass on the IR in rustc?

[2020-07-31 21:11] nikomatsakis opened #74990 "Tracking Issue for "C-unwind ABI", RFC 2945"
This is a tracking issue for the RFC "C-unwind ABI" (rust-lang/rfcs#2945).

The feature gate for the issue is `#![feature(c_unwind)]`.

This RFC was created as part of the ffi-unwind project group tracked at https://github.com/rust-lang/lang-team/issues/19.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting t

[2020-07-31 21:11] joshtriplett commented on #55614
On Thu, Jul 30, 2020 at 08:10:36AM -0700, Martin Algesten wrote:

Needs to call bind before calling listen. The current "bind" constructor
does both, and I was suggesting a new constructor that still did both
but had an additional parameter for the argument to listen. If you want
to separate the two, you'd need some kind of type for a "bound but not
yet listening" socket. That could be useful, for

[2020-07-31 21:13] RReverser commented on #74947
I didn't even notice that that codec has it enabled by default, we should disable it 🤦‍♂️ But yeah, as you said, ~same regression remains regardless.

Btw, why is there `n/a     pkg/squooshhqx_bg.wasm` in 1.40? Could these files not be produced or some other reason?

[2020-07-31 21:16] RReverser commented on #74947
Oh, also note that you're using `-O3` not `-Os` - probably the reason why output files in 1.40 in your experiment are larger than mine, even after wasm-snip.

[2020-07-31 21:26] Shnatsel commented on #47384
This issue is still present for me. It occurs in release mode both with and without LTO. Using `#[link_section = "foo"]` doesn't help. Actually using the static in some other code does preserve it.

Comment out the `println!` with a function call to reproduce: https://github.com/Shnatsel/rust-audit/blob/master/hello-auditable/src/main.rs

Code I'm using for the static: https://github.com/Shnatsel/

[2020-07-31 21:47] est31 commented on #74947
Yeah wasm-pack hangs in the wasm-opt step for minutes. Eventually I just aborted it. Files were generated but no idea whether they were functional or not, so I excluded them.

Good point! Personally I prefer -O3 because most times I've experienced that -Os creates barely smaller binaries and in fact sometimes -O3 created smaller ones probably because of some optimization. Same here, there is barel

[2020-07-31 21:54] zeldin commented on #74551
Here's a datapoint for you:

I have exactly the same issue on Linux/PPC64 (big endian) with rust 1.44.1.  Reverting e82ec23 fixes the problem for me as well.

[2020-07-31 21:56] mati865 commented on #74964
Most of these are not even language clear functions (you can call external command in Rust as well).
Aside from that calling them like that is bad practice: http://www.cplusplus.com/articles/j3wTURfi/

[2020-07-31 22:03] katie-martin-fastly commented on #74990
Hello! I would be interested in helping implement this RFC. :raising_hand:

(cc: @aturon)

[2020-07-31 22:11] surma commented on #74947
It takes up to 20 minutes on my MBP. But the resulting binary is smaller and functional. We actually needed to do this to avoid seeing [100% CPU usage for multiple minutes in Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=974804) 😅

[2020-07-31 22:13] lcnr commented on #73683
Closing as I expect this to be fixed, in case the issue persists don't hesitate to open a new issue.

[2020-07-31 22:13] #73683 closed

[2020-07-31 22:18] sHaDoW-54 commented on #74964
@mati865  If not system functions, then what would you recommend?

[2020-07-31 22:18] KodrAus commented on #63292
Since this is an unsafe, unchecked, optimization API, updating the docs to mention being careful around variance with some examples of what to watch out for seems like enough to me.

[2020-07-31 22:45] mati865 commented on #74964
@sHaDoW-54 [platform specific APIs](https://stackoverflow.com/a/39762968/5940067) are generally better solution but even they suffer from portability issues, for an example WinAPI doesn't clear terminals from Git For Windows and Cygwin/MSYS2.

Those are just some of the reasons why most of programming languages don't support that in their standard libraries and ones that provide it (developed by M

[2020-07-31 22:46] jonas-schievink commented on #72470
I have now pushed a 2-file repro. I'll leave the rest to our LLVM experts.

[2020-07-31 22:48] sHaDoW-54 commented on #74964
@mati865 Is there some sort of universal solution being created, or is that virtually impossible?

[2020-07-31 23:03] georgio commented on #70953
I'm trying to work on this. Is there some sort of template we are targeting?

My proposed solution is adding something like
`pub fn try_print_query_stack_head(handler: &Handler) {...}`
somewhere around here https://github.com/rust-lang/rust/blob/86c0b85da98a3c69e0fc9014e36e1c88bd3ae8d7/src/librustc_middle/ty/query/plumbing.rs#L127

[2020-07-31 23:06] mati865 commented on #74964
I'm not aware of such solution. It may be possible to create it but with that amount of pitfalls it's surely not an easy thing.

Also obvious thing not mentioned by the previous article is redirecting streams. Stupidly simplified example:
[code]

[2020-07-31 23:40] Lonami commented on #74978
Yes, it's expected, and the compiler already warns it's unreachable. This is probably an indication that something does not behave as expected.

[2020-08-01 01:32] ohsayan commented on #74978
@Lonami Right. Makes sense. But this seemed a little ambiguous to me as we already have `_` for wildcards.

[2020-08-01 02:03] est31 commented on #74970
Ideally it would be cool to go even further, to have unused lints across crates. Many crates are only used by crates inside the same project, and their pub items may or may not be used by those crates. I've built something based on save-analysis a while ago but discontinued its development. https://github.com/est31/warnalyzer

[2020-08-01 02:03] steffahn opened #74997 "Misdocumented `move` keyword: `move` closures are *not* “represented by the FnOnce trait”"
https://doc.rust-lang.org/std/keyword.move.html states:

The second half of the second sentence is plain wrong and [causes confusion](https://users.rust-lang.org/t/move-and-impl-fn/46660).

@rustbot modify labels: T-doc, T-libs, C-enhancement. (Is tagging T-doc [still reasonable](https://blog.rust-lang.org/inside-rust/2020/03/27/goodbye-docs-team.html)?)

This issue has been assigned to @poliorcet

[2020-08-01 02:05] pnkfelix commented on #74498
Filed https://bugs.llvm.org/show_bug.cgi?id=46943 with LLVM upstream.

[2020-08-01 02:10] pnkfelix commented on #74498
The only remaining question on our end is if we should, for the short term, change that `range.rs` code to not used an `unchecked_add`, in order to (hopefully) bypass the misoptimization here.

(That, or try to figure out a patch to LLVM to fix the bug on their end.)

[2020-08-01 02:16] qiujiangkun opened #74998 "Bug when parsing complicated comma-separated(and other separations) macro"
I was trying to reverse a series of comma-separated elements. I tried this code:
[code]

I expected to see this happen:
In this example, test1 is one that I got from [stackoverflow](https://stackoverflow.com/questions/42171483/how-to-recursively-take-the-last-argument-of-a-macro/42174800#42174800), but it only supports space as separatiion. So I modified test 1 to support comma.

Instead, this hap

[2020-08-01 02:48] rust-highfive opened #74999 "`miri` no longer builds after rust-lang/rust#74994"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#74994, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-08-01 02:49] qiujiangkun commented on #74998
I reviewed my code. It may be this comma that results in compiling failure.
[code]
I would use `$(, $rest:ident)*` instead. However, it's not supported as I thought

[2020-08-01 04:17] tmandry commented on #42869
Unless I'm somehow mistaken, it seems that one tool that doesn't support UNC paths is rustc itself: I tried to pass a UNC path to `--extern` and it claimed the path didn't exist until I trimmed off the `\\?\`.

[2020-08-01 04:34] #74636 closed

[2020-08-01 05:09] jgarvin opened #75001 "Error messages confusing trying to return errors across threads"
Compiling:

[code]

Gives:

[code]

Since this is the frequently suggested idiom for being able to return any kind of error, it can be surprising to users that it doesn't seem to work for threads other than the main thread. It could suggest adding Send, and then users can quickly run into another problem:

[code]

Where they will get the error:

[code]

Which is confusing even for people who know

[2020-08-01 05:25] oli-obk commented on #70953
You could also add a `num_frames: Option<usize>` argument to `try_print_query_stack` that makes it stop after that number of elements (if any). This way you can just adjust a few invocation sites instead of having to build a new function that does almost the same.

[2020-08-01 05:49] pawanbisht62 commented on #74747
As they are independent, we can make changes on multiple files right? If yes then I'll work on first 8 libs (librustc_ast
 librustc_ast_lowering
 librustc_ast_passes
 librustc_ast_pretty
 librustc_builtin_macros
 librustc_codegen_llvm
 librustc_codegen_ssa
 librustc_data_structures)
And will raise 2 PRs and will pick new libs accordingly if we will left with some.
Thanks

[2020-08-01 06:10] jhpratt commented on #74970
@est31 How would that work compiler-wise? My understanding is that workspaces are entirely a creation of cargo, and is no different than two unrelated crates to rustc.

[2020-08-01 06:54] #70584 closed

[2020-08-01 07:15] est31 commented on #74970
@jhpratt it's a level above the compiler, kinda like cargo-udeps. It requires save-analysis of all crates in the workspace as input. in order to support "go to places that use this", save analysis contains (thing_a -> thing_b) relationships when e.g. the thing_a function uses the thing_b function. the tool uses that info to find things that aren't used by anything else. It currently only supports

[2020-08-01 09:12] smallB007 commented on #33674
Yes, still the same problem as @golddranks. 3 years later... I'm speechless...

[2020-08-01 09:15] smallB007 opened #75002 "LLDB is not able to find default source location"
https://github.com/rust-lang/rust/issues/33674<< Still happening in 2020!!!

[2020-08-01 09:25] #60735 closed

[2020-08-01 09:56] georgio commented on #70953
Great idea, thanks. I assumed that we might break a lot of other functions by changing the signature of `try_print_query_stack`, turns out it's only being called twice. Will confirm after running tests.

[2020-08-01 11:57] Lonami commented on #74978
Binding it to something (a proper name) will let you use it, while `_` does not, even if both bind to "everything".

[2020-08-01 12:26] Amanieu commented on #27794
Reopening since we only deprecated the methods instead of removing them. I'd say give it about 2 weeks then remove them.

[2020-08-01 13:05] jonas-schievink commented on #40665
https://github.com/rust-lang/cargo/issues/4056 has since been closed. Is this still an issue?

[2020-08-01 13:08] ensc opened #75011 "rustdoc page styles are broken with Waterfox"
https://docs.rs does not work with Waterfox because it relies on the non-standard `disabled=""` Attribute in the theme `<link>` tags:

[code]

Without "disabled" support (which is the case with Waterfox), all three links will be enabled and will make the (imo unreadable) "ayu" the active one.

Accordingly https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link this attribute requires very r

[2020-08-01 13:13] jonas-schievink commented on #75002
No reason to open a duplicate. You will need to provide more info if you want to see this fixed.

I also suggest toning down your language a bit, most people working on Rust do this in their free time, and it isn't exactly motivating to have people complain like that.

[2020-08-01 13:13] #75002 closed

[2020-08-01 13:13] lzutao opened #75006 "Tracking issue for dropping python2 support"
In https://github.com/rust-lang/rust/pull/74905#issuecomment-667528649, @Mark-Simulacrum said that:

I open this issue to track when we drop python2 support.
<details>
    <summary>Some info about Python versions in some Linux distros</summary>

[![Packaging status](https://repology.org/badge/vertical-allrepos/python.svg)](https://repology.org/project/python/versions)
</details>

---

Current stat

[2020-08-01 13:33] sunfishcode commented on #73432
Refactoring libc do do the libpreopen initialization lazily is tricky because once user code is running, it may have renumbered the file descriptors, which would break the way libpreopen currently discovers them.

I've now submitted https://reviews.llvm.org/D81689 which is a patch to wasm-ld which allows it to DCE the `__wasilibc_populate_libpreopen` constructor when it isn't needed.

[2020-08-01 13:59] nikomatsakis commented on #74990
Hey @katie-martin-fastly, that's great news! I'm going to assign you to the issue for now:

@rustbot assign @katie-martin-fastly

One thing to mention is that most Rust compiler development discussion takes place on the [rust-lang zulip](https://rust-lang.zulipchat.com/), and this project in particular is chatting in `#project-ffi-unwind`. I or @Amanieu are probably reasonable people to ping with

[2020-08-01 14:30] jyn514 commented on #75011
This is a rustdoc issue, not docs.rs. I transferred to rust-lang/rust.

[2020-08-01 14:30] jyn514 commented on #75011
Can you give an example page where this happens?

[2020-08-01 14:40] aloucks commented on #53487
One minor nit: Perhaps `RUST_STDLIB_BACKTRACE` would be better than `RUST_LIB_BACKTRACE`. When I first saw this I found myself asking the question "is this something library authors are supposed to honor or otherwise deal with". I'm pretty sure the answer is "no" and the suggested name makes that more obvious.

[2020-08-01 14:48] ensc commented on #75011
It happens with every crate on https://docs.rs   E.g. https://docs.rs/griddle/0.3.1/griddle/  (randomly selected by "I'm feeling lucky")

[2020-08-01 14:58] jyn514 commented on #75011
I don't see it on https://docs.rs/postgres/0.17.0-alpha.2/postgres/. So it looks like it might have been introduced as part of the Ayu theme, cc @Cldfire

[2020-08-01 14:59] jyn514 commented on #75011
Would the fix be as simple as changing `disabled=""` to `disabled`?

[2020-08-01 15:04] jyn514 commented on #75011
Hmm, this looks like the relevant code, but it uses `disabled`, not `disabled=""`.

https://github.com/rust-lang/rust/blob/0e89f50f6e937349233db1c52af2b33c683782e6/src/librustdoc/html/layout.rs#L172-L186

[2020-08-01 15:07] ensc commented on #75011
@jyn514  yes; the postgres link is ok (seems to be generated by rust-1.41).  It affects probably crates which were uploaded recently.

Trying to change `disabled=""` to `disabled` in Webdeveloper does not seem to have any effect.   The `disabled` Attribute is probably not supported at all by Waterfox; the browser is based on Firefox 56 and `disabled` requires version 68 at least.

[2020-08-01 15:09] jyn514 commented on #75011
https://rust-lang.github.io/rfcs/1985-tiered-browser-support.html#supported-browsers

The latest ESR of firefox is 68: https://www.mozilla.org/en-US/firefox/68.0esr/releasenotes/

So I'm inclined to close this as wontfix.

[2020-08-01 15:10] jyn514 commented on #75006
This should be an MCP. I don't think we should drop python2 at all, in many distros `python` still mean python2.

[2020-08-01 15:12] lzutao commented on #75006
But how long should we support python 2?

[2020-08-01 15:13] matthewjasper commented on #74868
This is probably due to #73452 allowing cycles to be detected earlier. #73905 fixes this, but isn't suitable for a backport, so I'll open a PR that only includeds the relevant commit.

[2020-08-01 15:14] snyball opened #75012 "Segmentation fault in rustc"
### Code
I haven't managed to trace it to anything.

### Meta
The bug does not exist in the nightly compiler:

`rustc +nightly --version --verbose`:
[code]

But was found using this compiler:
`rustc --version --verbose`:
[code]

### Error output

Backtrace retrieved with `gdb -p (pidof rustc)`, as `RUST_BACKTRACE=1` doesn't print anything.

<details><summary><strong>Backtrace</strong></summary>
<p

[2020-08-01 15:15] ensc commented on #75011
Accordingly https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link#Browser_compatibility is is not supported by Safari either (which is in your list).

As already noted, page above says about this attribute "Deprecated. Not for use in new websites."

[2020-08-01 15:17] jyn514 commented on #75006
That should be part of the MCP.

[2020-08-01 15:17] Mark-Simulacrum commented on #75006
IMO it is somewhat premature to consider dropping python 2 (or even when to drop it). Right now continuing to support it is essentially painless - we don't have much python code, and the code we do have is relatively rarely edited in a major way (nor would I want to edit it).

[2020-08-01 15:18] Mark-Simulacrum commented on #75012
Can you provide the code that caused this?

[2020-08-01 15:21] snyball commented on #75012
@Mark-Simulacrum I'm going to try a `git-bisect` on my project to nail it down.

[2020-08-01 15:40] SherlockGy opened #75013 "Is Rust restricted by Export Administration Regulation (EAR)？"

[2020-08-01 15:42] jonas-schievink commented on #75013
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-08-01 15:42] #75013 closed

[2020-08-01 15:53] snyball commented on #75012
@Mark-Simulacrum I've found the commit, and the offending code:

[code]

But I haven't managed to extract it into a short example that compiles and causes the segmentation fault.

[2020-08-01 16:49] Amanieu opened #75017 "Tracking Issue for Vec::spare_capacity_mut"
The feature gate for the issue is `#![feature(vec_spare_capacity)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead, open a

[2020-08-01 16:52] RReverser commented on #74947
Btw, I think that another reason is that `wasm-snip` can only remove dead code, but not dead data, because by the time Wasm is produced, the data sections are flattened. This is a known issue for many post-optimisation tooling, and the only way to fix this would be on compiler side before Wasm is linked together.

[2020-08-01 17:02] Nemo157 commented on #75011
Changing styles appears to work fine on recent mobile and desktop Safari, so if it's not supported, it's not supported in a way which doesn't break anything.

[2020-08-01 17:05] fabianvdW opened #75018 "Build script not using the same target features as the actual binary"
Not sure if this is an actual issue with Rust, it might be cargo's fault.
When I try to cross-compile my binary from Windows to the Linux-musl target the build script does not use bmi2, whereas the binary uses bmi2.
I tried this code:
`src/build.rs`
[code]
`src/main.rs`
[code]

I expected to see this happen: If no `RUSTFLAGS` specified, output should be false, false. If compilation with bmi2 targe

[2020-08-01 17:14] jonas-schievink commented on #75018
The build script is built for and run on the host, so its `target_feature` actually indicates what the build machine supports. `-Ctarget-cpu` will only affect code that is built for the target machine, not the host. Inside the build script, you can use the `CARGO_CFG_x` environment variables that Cargo sets.

[2020-08-01 17:14] #75018 closed

[2020-08-01 17:25] Mark-Simulacrum commented on #75012
We can help minify, most likely, but something that can be compiled is likely necessary to start on that.

[2020-08-01 17:34] #75011 closed

[2020-08-01 17:52] bugadani commented on #13926
Note: a `clone()` call is enough to work around this issue: https://godbolt.org/z/a1jb4h

[2020-08-01 18:14] bugadani commented on #27130
I don't know how helpful this is, but it looks like rustc really likes to math patterns: https://rust.godbolt.org/z/TP9zKc

[2020-08-01 18:30] ensc commented on #75011
Nevertheless, it is bad to rely on deprecated and proprietary extensions and break websites completely.

[2020-08-01 18:38] jyn514 commented on #75011
@ensc I understand your viewpoint and I realize this is frustrating. However the rustdoc team has limited time and resources, and we have to choose how to spend it. If you have ideas how to fix this feel free to make a PR and I would be happy to review it.

[2020-08-01 19:22] fabianvdW commented on #75018
`CARGO_CFG_TARGET_FEATURE` does not contain "bmi2" when I try with `target x86_64-unknown-linux-musl`, but it does contain it for normal host target.

[2020-08-01 19:33] leonardo-m opened #75024 "panic_bounds_check with for on an interval closed on the right"
This bug report is similar to others but in my opinion sufficiently different. This code:
[code]
Using `rustc 1.47.0-nightly cfc572cae 2020-07-30` contains a panic_bounds_check:
[code]
While the same code with ".. N + 1" instead of "..= N":
[code]
Contains no panic_bounds_check (and gets vectorized):
[code]

[2020-08-01 19:42] leonardo-m commented on #72762
nonzero_uX are now useless, we can define NonZeroUX::new().unwrap() in constants.

[2020-08-01 19:48] jonas-schievink commented on #75018
That might be a Cargo bug, not sure

[2020-08-01 19:50] fabianvdW commented on #75018
Is the correct course of action now for me to open an issue on the cargo repository?

[2020-08-01 20:12] Storyyeller opened #75025 "Confusing error message for misplaced lifetime annotation in reference"
I recently forgot where in a mutable reference the lifetime goes, and got a confusing wall of error messages. Out of the six error messages produced, only the fifth hints at the actual problem, with the rest being misleading.

I think the error messages in this case could be improved in case a newcomer runs into this issue in order to avoid leading them down a false path of trying to figure out tr

[2020-08-01 20:21] jonas-schievink commented on #75018
Either that or ask about this on the forum (or on Zulip)

[2020-08-01 20:32] SNCPlay42 commented on #75025
Duplicate of #73568

[2020-08-01 20:43] #74931 closed

[2020-08-01 20:44] lcnr opened #75027 "Tracking Issue for slice::array_windows"
The feature gate for the issue is `#![feature(array_windows)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead, open a dedic

[2020-08-01 21:52] alexheretic commented on #72213
This is still occurring, the panic seems to come from [this line in `AutoTraitFinder::find_auto_trait_generics`](https://github.com/rust-lang/rust/blob/8eb7c58dbb7b32701af113bc58722d0d1fefb1eb/src/librustc/traits/auto_trait.rs#L203).

_Updated info_:

 `rustc --version --verbose`:
[code]

### Error output

[code]
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-01 22:01] fabianvdW commented on #75018
For future reference: Reading the env variable was the correct way to go, just make sure to `cargo clean` before ;)

[2020-08-01 22:12] snyball commented on #75012
@Mark-Simulacrum The issue appears to be resolved in:
[code]
Be it upstream in LLVM or in rustc itself.

[2020-08-01 22:53] Mark-Simulacrum commented on #75012
Okay, I'm going to give this a close since it sounds like it's fixed on stable at least.

[2020-08-01 22:53] #75012 closed

[2020-08-01 23:50] matthew-mcallister commented on #53120
I just wanted to check on when this feature might be stabilized and am surprised and disappointed that there are plans to remove it. I've been using it on a day-to-day basis since not long after it was added and I'm hardly bothered by any of the issues discussed above. I still haven't written anything resembling `crate ::path`, for example, and probably never will since I never touch the `::path`

[2020-08-02 00:04] joshtriplett commented on #53487
@aloucks That seems like a good idea to me.

[2020-08-02 00:50] cardoe commented on #71009
Looks like this has some interaction with #38338.

[2020-08-02 00:52] cardoe commented on #71009
So @Mark-Simulacrum, if I'm working on targets for compiling code as bare metal Xen targets and I have those as JSON files is the suggestion that I have to build a custom rustc to get that support if the JSON files go away or get them added into the compiler?

[2020-08-02 00:54] Cldfire commented on #75011
@ensc I apologize for the problem I created here with my PR! It's never fun to have one's setup broken by changes made elsewhere, and for that I am sorry.

I was actually unaware that the `disabled` attribute on `link` elements is discouraged from use, so thank you for bringing that to our attention here, I appreciate it.

As others in this thread have made clear, the browser support target around

[2020-08-02 01:02] cardoe commented on #71009
Also interacts with #32819.

[2020-08-02 01:04] #62195 closed

[2020-08-02 01:22] SergioBenitez commented on #54725
Not to advocate in either direction, but this is already possible today, without `Span::parent()`:

[code]

[code]

[2020-08-02 01:29] gdhuper commented on #74747
If no one else is planning on tackling the following:
- [ ] librustc_session
- [ ] librustc_span
- [ ] librustc_symbol_mangling
- [ ] librustc_target
- [ ] librustc_trait_selection
- [ ] librustc_traits
- [ ] librustc_ty
- [ ] librustc_typeck
- [ ] compiletest
I would like to take a stab. Thanks

[2020-08-02 01:34] Mark-Simulacrum commented on #71009
No, the suggestion is that you use a nightly compiler when using such targets (or, yes, get them added to the compiler, as tier 3 to start).

[2020-08-02 01:37] georgio commented on #74747
I could take care of the remaining files:

- [ ]   librustc_ast
- [ ]   librustc_data_structures
- [ ]   librustc_driver
- [ ]   librustc_errors
- [ ]   librustc_expand
- [ ]   librustc_hir
- [ ]   librustc_incremental
- [ ]   librustc_infer
- [ ]   librustc_interface
- [ ]   librustc_lint
- [ ]   librustc_metadata
- [ ]   librustc_middle
- [ ]   librustc_mir
- [ ]   librustc_mir_build
- [ ]   lib

[2020-08-02 02:23] nishantc1527 opened #75034 "On Linux, You Have To Manually Change The Shebang On x.py From Python To Python3"
Currently, this is the first line in ```x.py```.

    #!/usr/bin/env python

However, on linux since it is ```python3``` by default when you install python (at least on centos), I have to manually change it to this every time I clone this repository.

    #!/usr/bin/env python3

Is there some way that there is an automated way to detect this? If not, maybe you can update the docs because it took m

[2020-08-02 02:42] lzutao commented on #75034
Do you mean that by default CentOS use python as python3?

[2020-08-02 03:01] Mark-Simulacrum commented on #75034
There is unfortunately not a universal python shebang - windows never has python3 IIRC, and Ubuntu at least doesn't by default have a python these days.

If you have concrete proposals on how to make this work, I would love to hear them - a compiler team MCP is the way to go to propose such a change.

[2020-08-02 03:28] MSxDOS opened #75035 "Loops with inclusive ranges produce horrible assembly"
This:
[code]
on 1.42:
[code]

on 1.43 and above:
[code]
https://godbolt.org/z/n63seh

[2020-08-02 03:47] #61292 closed

[2020-08-02 03:47] #74343 closed

[2020-08-02 03:50] JulianKnodt commented on #48994
I don't know if this issue is dead or not, but I was wondering if this could be solved by creating a newtype that optimistically allocates capacity for the vec, such as [this][playground]?

[playground]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=use%20std%3A%3Aiter%3A%3AFromIterator%3B%0A%0Apub%20struct%20AssumeFilled%3CT%3E(T)%3B%0A%0Aimpl%3CT%3E%20FromIterator%3CT%3

[2020-08-02 06:23] JulianKnodt opened #75039 "Derived traits show up when const-generics ordered improperly"
I tried this code:

[code]

I expected to see this happen: It should've errored out, only complaining about incorrect order of types and consts.

Instead, this happened: It also caught the derive statement in the error:

### Meta

I ran this on playground with nightly and beta:
[code]

There is no backtrace since it returns a valid error, but the error is just unexpected. The error outputs are as

[2020-08-02 06:29] hyd-dev commented on #46345
My CI on GitHub Actions failed possibly because `test` failed to spawn a new thread :tired_face::
https://github.com/hyd-dev/rust-hut/runs/936920689

[2020-08-02 06:41] lcnr commented on #75039
I don't know if there is something that we can do here :thinking:

`derive(Debug)` for example extends to
[code]
Which then correctly also causes an incorrect param order error.

[code]
also results in
[code]

[2020-08-02 06:46] yvt opened #75040 "Invalid suggestion for missing lifetime specifier"
I tried this code:

[code]

I expected to see this happen: Compilation failure with reasonable diagnosis

Instead, this happened: The compiler suggested adding `<'a>` before `trait`, which is syntactically invalid.

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-08-02 07:31] bugadani commented on #75035
Probably caused by [#68835](https://github.com/rust-lang/rust/pull/68835/)

As a workaround, `(0..=7).for_each(|_| { f(); })` seems to be optimized.

[2020-08-02 08:12] mati865 commented on #75034
@nishantc1527 You can either use `python3 x.py` or set python3 as the default version using this official guide: https://developers.redhat.com/blog/2018/11/14/python-in-rhel-8/

[2020-08-02 08:24] K900 commented on #75034
`#!/usr/bin/env python3` should be a universal shebang for Python 3 specifically - I'm not aware of any distributions that actively _remove_ the `python3` symlink, and the Windows launcher [understands it as well](https://docs.python.org/3/using/windows.html#shebang-lines).

[2020-08-02 08:27] mati865 commented on #75034
@K900 Rust supports both Python 2 and Python 3.

[2020-08-02 08:35] leonardo-m commented on #75035
See also #75024

[2020-08-02 09:44] leonardo-m opened #75042 "[ER] Possible basic panic_bounds_check left after Vec::resize_with"
I don't understand this situation much. This code:
[code]
With `rustc 1.47.0-nightly cfc572cae 2020-07-30` gives the asm:
[code]
That contains panic_bounds_check. If I compile only of those functions the panic_bounds_check go away.

[2020-08-02 10:10] tblah commented on #62117
@infinity0 sorry for taking so long to get back to you. I wanted to at least reproduce the issue and come back with something concrete but I am having some trouble.

On my machine just the LLVM build under QEMU is taking several days so I have not been able to reproduce your issue yet. I see your builds completed after a few hours. My machine isn't *that* slow.

What QEMU version and configuration

[2020-08-02 11:27] chansuke commented on #73904
I'd like to work on `sys/cloudabi`

[2020-08-02 11:35] myfreeweb opened #75045 "Compiling crate `fixed` for thumbv6m-none-eabi with opt-level=s spins endlessly in llvm::SelectionDAG::Combine"
Clone https://gitlab.com/tspiteri/fixed and apply:

[code]

Run `cargo build --target=thumbv6m-none-eabi` — looks like rustc is hanging forever, LLVM is not making progress (see backtrace).

(e.g. thumbv7m is fine, not using size opt is fine too, but this combo specifically hangs LLVM)

### Meta

`rustc --version --verbose`:
[code]
(same on stable)

<details><summary>Backtrace</summary>
<p>

[code

[2020-08-02 11:44] xldenis commented on #74938
I've submitted a patch to LLVM adding this optimization: https://reviews.llvm.org/D85092

[2020-08-02 11:46] lzutao commented on #74938
Anyone want to file a bug against GCC? I registered an account two days ago but they hasn't accept to create my account yet.

[2020-08-02 12:05] LionsAd commented on #43122
I like how libfringe does it where the initial input (resume arguments) to the generator are specified as part of the closure:

[code]

[2020-08-02 12:19] Alexendoo commented on #74199
Fixed by #74991

[2020-08-02 12:19] #74199 closed

[2020-08-02 12:21] lcnr commented on #74199
This shouldn't error, will open a new issue for that

[2020-08-02 12:23] lcnr opened #75047 "expressions in the type of const params can cause cycle errors"
[code]
This results in
[code]

[2020-08-02 12:24] lcnr commented on #75047
This should compile. Some more details on why this is happening, see https://github.com/rust-lang/rust/issues/74199#issuecomment-660525321

[2020-08-02 12:35] smallB007 commented on #75002
"most people working on Rust do this in their free time"
And again that crap, I'm doing it for free so don't expect any quality from it.

[2020-08-02 13:17] Aaron1011 opened #75050 "Allow showing backtraces from proc-macro panics"
Currently, rustc always hides the panic backtrace when a proc-macro panics:

https://github.com/rust-lang/rust/blob/1e9913807841153729f92e438e6189184cbf561f/library/proc_macro/src/bridge/client.rs#L308-L322

It would be useful to able to set an environment variable or command-line argument to override this behavior.

[2020-08-02 13:28] matthiaskrgr opened #75051 "hang: issue-55608-captures-empty-region.rs with -Zmir-opt-level=2"
### Code
`./src/test/ui/impl-trait/issues/issue-55608-captures-empty-region.rs`
[code]

### Meta
repo @ 12799ad60ca66b664699a0145f5ac5ccc399d4b8

### Error output

Rustc simply hangs when running
``build/x86_64-unknown-linux-gnu/stage1/bin/rustc ./src/test/ui/impl-trait/issues/issue-55608-captures-empty-region.rs  -Zmir-opt-level=2``

Edit: `perf top` while rustc is crunching on the hang:

[code]

[2020-08-02 13:40] matthiaskrgr commented on #75051
cc @oli-obk  ?

[2020-08-02 13:48] ijackson commented on #31436
I'm keen to see this stabilised.  Having read this thread, and #70941, I think the summary should be updated as follows:

1. "resolve whether catch blocks should "wrap" result value" should be ticked, "Resolved as **yes**"

2. New concern added about these inference problems.  Perhaps something like:
    - [ ]  Ergonomic difficulties due to problems with type inference.

ISTM that this last concer

[2020-08-02 13:49] Diomendius opened #75052 "Wrapper/glue functions such as std::fs::FileType::is_file are not always inlined"
This function should compile to the exact same assembly as `FileType::is_file` itself, but doesn't: ([godbolt.org link](https://godbolt.org/z/E9Kocv))
[code]
[code]

`FileType::is_file` is only 2-3 instructions and should surely meet the inlining threshold. Other functions such as `std::fs::Metadata::ino` (provided by `std::os::unix::fs::MetadataExt`) are also not inlined, despite `ino()` being ju

[2020-08-02 13:50] matthiaskrgr opened #75053 "ICE: glacier 65918.rs with -Zmir-opt-level=2"
### Code
Code is from glaciers  65918.rs, original ticket:  https://github.com/rust-lang/rust/issues/65918
The code still ICEs when checking with `-Zmir-opt-level=2`
[code]

### Meta

repo is @ 12799ad60ca66b664699a0145f5ac5ccc399d4b8

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-02 14:05] Mark-Simulacrum commented on #75052
FileType::is_file, being non-generic and not marked `#[inline]`, is not codegen'd into the final binary today which makes it impossible for LLVM to inline it.

[2020-08-02 14:08] #70382 closed

[2020-08-02 14:58] Mark-Simulacrum commented on #75006
I am going to close this -- if someone wants to propose that we drop python 2 sooner, they should file a compiler team MCP.

[2020-08-02 14:58] #75006 closed

[2020-08-02 15:19] MSxDOS commented on #75035
@rustbot modify labels: C-enhancement I-slow

[2020-08-02 15:52] Mark-Simulacrum commented on #74801
AFAICT, this is not trying to compile rustc 40+ times, it's just the tests for each rustc crate -- building those will always fail if a dependency like crossbeam-utils is failing to compile.

I'm not sure what behavior is expected from no-fail-fast, though -- I don't think we have a good way of differentiating the different kinds of `cargo test` failures (i.e., unit test failure from "could not bu

[2020-08-02 16:27] truchi opened #75061 "Glob import with auto-derive"
I tried this code:

[code]

I expected this code to work the same as:
[code]

Instead, this happened: :cry:

### Meta

`rustc --version --verbose`: (Same on stable btw)
[code]

<details><summary>Backtrace</summary>
<p>

[code]
</p>
</details>

[Question on users](https://users.rust-lang.org/t/glob-import-with-auto-derive/46754)

_Hope this helps!
Below 20 IQ Rust noob_
:heart:

[2020-08-02 16:31] jhwgh1968 opened #75062 "[Nightly ICE] Deep in proc macro: panicked at 'empty field list in the map'"
### Code

It is very finicky to reproduce. [This GHE branch](https://github.com/jhwgh1968/rhai/tree/nightly_ice) is as minimal as I could get without significantly changing the structure of the macro or having other errors cover it up. Apologies for the mess!

**Updated 2020-08-04**: I got it down to a total of only 130 lines of code. Please review the improved `cargo expand` output below.

Instru

[2020-08-02 17:17] SNCPlay42 commented on #75040
Duplicate of #74264

[2020-08-02 17:21] oli-obk commented on #75051
O_o yea, I'll have a look

[2020-08-02 17:25] Cldfire commented on #75011
Opened #75063 which will fix this problem for you @ensc :smile:

[2020-08-02 18:08] CodesInChaos commented on #51999
Should the error include a stack trace? Otherwise trouble shooting panics that happened deep inside a const fn might be difficult to diagnose. (I don't think this is needed at release, but should be considered as a later enhancement)

[2020-08-02 18:19] oli-obk commented on #51999
We already emit a stack trace: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b0f5cc58e32119df1f116595783db08e

[code]

[2020-08-02 18:25] joshtriplett commented on #31436
Type ascription has a number of issues (syntactic and otherwise), and seems unlikely to get implemented soon, let alone stabilized; blocking `try` blocks on type ascription syntax doesn't seem appropriate.

A fallback to `Result` might help, but doesn't solve the type inference problems with error types: `try { expr? }?` (or in practice more complex equivalents) have effectively two calls to `.int

[2020-08-02 18:49] JohnTitor commented on #74734
I believe this is duplicate of #73886.
Maybe we should backport #73965 to beta? cc @davidtwco and @estebank

[2020-08-02 18:56] davidtwco commented on #74734
It probably wouldn't hurt to nominate and discuss at the weekly meeting.

[2020-08-02 19:57] nishantc1527 commented on #75034
If there isn't an automated way to detect this (at least I can't thing of anything), then can the team update the documentation on how to install rust from source? It took me a while to figure out what was happening, and I believe someone smarter than me (which includes a lot of people) can get confused to.

[2020-08-02 20:31] repnop opened #75072 "Allow specifying function alignment"
I've been recently writing a kernel for the RISC-V architecture, using strictly as much Rust as I can get away with and during which I've run into the need to have certain functions aligned to specific byte alignments (ex. any function placed in `mtvec` MUST be 4 byte aligned), and while I can seemingly accomplish this using `asm!(".align <alignment>")` I think it would make sense for that to be a

[2020-08-02 20:50] iav opened #75073 "building on arm64 hardware under armv7 qemu emulation want to use wrong platform"
I use arm64 hardware to make armv7 and aarch64 platform docker containers with rust project inside.
To get armv7 on aarch64 platform used qemu emulation via docker buildx.
rust 1.44 works as should. Started from 1.45 it brokes:

[code]
start on aarch64: `docker buildx build --platform linux/arm/v7 --progress plain .`
output:
[code]
How it looks like for rust:1.44
[code]

Seems rust 1.45 wrongs whe

[2020-08-02 21:05] jamesmunns opened #75074 "Cargo Build hangs forever with recent nighlies"
With the following steps, I see the build hang indefinitely. This caused a 6 hour CI timeout for the nrf-rs organization. This does not happen with the stable/beta CI jobs, and did not happen previously with nightly. The following is a minimal repro of the CI steps of https://github.com/nrf-rs/nrf-hal/pull/189.

[code]

[2020-08-02 21:08] jonas-schievink commented on #75051
Wild speculation: https://github.com/rust-lang/rust/issues/75074 might have the same cause

[2020-08-02 21:10] JulianKnodt commented on #75039
It looks like it would be resolved once the issue around allowing types with defaults after consts is changed, will check back on it after that then

[2020-08-02 21:12] jonas-schievink commented on #75074
[code]

yep, same issue as https://github.com/rust-lang/rust/issues/75051

[2020-08-02 21:33] ehuss commented on #53797
Another example, encountered by a user:

[code]

Does not generate any errors/warnings, but fails to compile on 2018.

[2020-08-02 21:41] jonas-schievink commented on #75074
Reduced to just:

[code]

[2020-08-02 21:58] Shnatsel opened #75075 "No way platform-independent way to `include_bytes!` data generated by a build script"
Build scripts place their output in a folder created by Cargo. The path to it is passed in the environment variable `OUT_DIR` both to the build script and the main code. Since the file is placed in the directory, we need to add the path separator and then the name of the file. There seems to be no way to call `include_bytes!` with a platform-agnostic path separator, inserting `/` or `\` depending

[2020-08-02 22:05] retep998 commented on #75075
Can you use a build script to use `cargo:rustc-env` to set your own environment variable that contains the full path using the host specific path separators and whatnot?

[2020-08-02 22:08] Shnatsel commented on #75075
I'll try it. Thanks for pointing this out!

[2020-08-02 22:08] rodrimati1992 commented on #75075
You can use cfg-ed macros to pass conditional string literals to `concat!`
(I can't say if this code specifically is good enough for cross-platform support)
[code]

[2020-08-02 22:14] mati865 commented on #75075
`/` should work on Windows, if it doesn't then that is the issue.

[2020-08-02 22:22] Shnatsel commented on #75075
The `build.rs` trick worked, thanks!

I did that, but that only look at the _target_ platform and should break when the host platform is different (i.e. when cross-compiling).

`include_bytes!` is [explicitly documented](https://doc.rust-lang.org/stable/core/macro.include_bytes.html) to use platform-dependent separators. The documentation doesn't say anything about `/` working on Windows. If `incl

[2020-08-02 22:38] retep998 commented on #75075
On Windows if `OUT_DIR` for whatever reason uses `\\?\` paths then using `/` as the separator *will* break. While it is nice to *support* `/` in paths as much as we can, we should be pushing to ensure code always uses the correct separator for the platform.

[2020-08-02 23:04] mati865 commented on #75075
Oh that's a bummer, I thought the same parsing here would apply as for [`std::path::Path`](https://doc.rust-lang.org/std/path/struct.Path.html) which allows to use both separators on Windows.

[2020-08-02 23:06] retep998 commented on #75075
Well it *is* the same parsing. Concatenating `foo/bar` onto a `Path` that starts with `\\?\` on Windows also runs into the exact same issue.

[2020-08-02 23:13] CryZe commented on #75075
Could it make sense for the include_*! macros to allow syntax like `include_bytes!(env!("OUT_DIR") / "myfile")`?

[2020-08-02 23:55] #62490 closed

[2020-08-02 23:55] #74745 closed

[2020-08-02 23:55] #74883 closed

[2020-08-03 00:39] ijackson commented on #73413
Hi.  I accidentally used one of these functions, I think because I was reading the docs for `str` :-).  So, I conclude that they're useful.

I'd like to see them stabilised.  Since the docs tickbox was unticked I looked at the docs, and I have I made an MR for some slight docs wording improvements: https://github.com/rust-lang/rust/pull/75078

I think this is probably ready for stabilisation.

@lz

[2020-08-03 01:26] lzutao commented on #73413
I think it is a bit soon to stabilize this feature. It is about one month after the feature is merged and appeared on nightly.
But yeah, you could send a PR to propose stabilize this feature, but it should include real usecases?

[2020-08-03 01:47] jyn514 opened #75080 "Tracking Issue for intra-doc links in libstd"
This is a tracking issue for switching libstd to intra-doc links (rust-lang/rfcs#1946, https://github.com/rust-lang/rust/pull/74430#issuecomment-664693080).

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant

[2020-08-03 01:50] #50264 closed

[2020-08-03 01:54] JohnTitor commented on #74954
Triage: The nightly failure is fixed by #74963, waiting on 1.45.2 release for stable one.

[2020-08-03 02:02] JohnTitor commented on #74702
It's fixed by #74963. I'm going just to close this as fixed.

[2020-08-03 02:02] #74702 closed

[2020-08-03 02:07] dtolnay commented on #55214
For the public API I would prefer this implemented using dedicated IntoKeys and IntoValues iterator types. They can be implemented internally as wrappers around Map\<IntoIter\<K, V\>\> if that simplifies things.

[2020-08-03 02:12] #75040 closed

[2020-08-03 02:14] JohnTitor commented on #74539
The stable fix is reverted, and the nightly one is also but #74963 introduced another fix. I keep this open when that PR is beta-nominated, just in case.

[2020-08-03 04:29] Diomendius commented on #75052
I was under the impression that only applied to cross-crate inlining, but looking at this with fresh eyes, I see that `std` is, in fact, a crate. `Vec::is_empty` is generic, which I didn't pay attention to before, so that explains the discrepancy.

I also did not find when searching earlier that this issue is mostly a duplicate of #37538, except that the functions in question are in `std` in this

[2020-08-03 04:31] nnethercote commented on #74865
Is there a clear path forward for this? I'm happy to help but I know nothing about Chalk...

[2020-08-03 06:02] denisvasilik commented on #75080
Hi @jyn514, I would like to work on the following files:

- library/core/src/time.rs
- library/core/src/cmp.rs
- library/core/src/borrow.rs

[2020-08-03 06:34] jhpratt opened #75087 "Mapping and collecting an owned `Vec` to an item with the same size should reuse its allocation"
[code]

As it stands currently (on both stable and nightly), a new `Vec` is created in memory. As the source and target types are the same size in memory, I see no reason the compiler couldn't just map the value in-place, returning the same allocated ref (but with different semantics).

The commented out line is to indicate what I think _should_ be the case for a trivial case where memory represen

[2020-08-03 06:47] Manishearth commented on #75080
Go for it!

[2020-08-03 07:01] leonardo-m commented on #75087
On the topic:
https://www.joachim-breitner.de/blog/610-Adding_safe_coercions_to_Haskell

http://research.microsoft.com/en-us/um/people/simonpj/papers/ext-f/coercible.pdf

[2020-08-03 07:03] WaffleLapkin opened #75088 "Rustdoc fails to compile compilable crates with `#![feature(type_alias_impl_trait)]`"
I was trying to use `#![feature(type_alias_impl_trait)]` in my crates, but I've recently found out that `rustdoc` fails to compile their doc (though `cargo build` compiles them just fine)

First example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=33472fd70f3cf6bdb5523deb807e925b)):

[code]

`cargo doc` error:

[code]

Second example ([playground](https://

[2020-08-03 07:04] osa1 opened #75089 "staticlib for wasm32 targets have missing dependencies"
[code]

(I asked this on Zulip 4 days ago but got no answers, and I think this is a bug somewhere in the toolchain, so posting here with more details)

A "staticlib" should include all dependencies of the Rust crate and should be linkable with libraries and executables generated by other languages. However it seems like this currently does not hold.

Here's an [example][1]. To run, make sure you h

[2020-08-03 07:34] oliver-giersch opened #75091 "Tracking Issue for [*const T|*mut T]::set_ptr_value"
The feature gate for the issue is `#![set_ptr_value]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead, open a dedicated issu

[2020-08-03 08:39] pietroalbini commented on #72579
This was fixed!

[2020-08-03 08:39] #72579 closed

[2020-08-03 08:39] pietroalbini commented on #73038
This was fixed!

[2020-08-03 08:39] #73038 closed

[2020-08-03 08:49] pietroalbini opened #75096 "Assertion `MFI.isCalleeSavedInfoValid() && "CalleeSavedInfo not calculated"' failed on AArch64"
The `debuginfo/function-arguments-naked.rs` test is failing on AArch64's CI:

[code]

[2020-08-03 08:50] pietroalbini commented on #75096
@rustbot ping arm

[2020-08-03 08:51] pietroalbini commented on #73039
This doesn't seem to happen on CI anymore!

[2020-08-03 08:51] #73039 closed

[2020-08-03 09:06] #75074 closed

[2020-08-03 09:06] #75051 closed

[2020-08-03 09:11] osa1 commented on #75089
I just updated the reproducer to pass `-Ccodegen-units=1` to core, std, compiler_builtins and the main crate, to make it easier to find the symbols I'm looking for. If you run `./build.sh` as before you'll now see the `GOT.func` import in the only `.o` file for the main crate.

[2020-08-03 09:23] mati865 commented on #75096
Just like with every LLVM update it might fix itself or get worse after https://github.com/rust-lang/rust/pull/73526

[2020-08-03 10:26] 0dvictor commented on #64191
I apologize for the long delay in continuing this work. PR #75094 is created to allow generating a single object file for a crate.

Performance was measured by compiling `rustc` itself:

|   | `-Ccodegen-units=1` | [DEFAULT] | `-Zcombine-cgu` |
| --- | ---: | ---: | ---: |
| raw comp time (second) | 987 | 294 | 303 |
| relative perf to `-Ccodegen-units=1` (%)  | *100* | 29.79 | 30.70 |
| relative

[2020-08-03 11:09] GuillaumeGomez commented on #74515
I think that "true" and "false" are the two only cases for primitives where we should check for values.

[2020-08-03 11:43] jyn514 commented on #75088
Both your examples work for me on master. This is a duplicate of https://github.com/rust-lang/rust/issues/65863 which was fixed in https://github.com/rust-lang/rust/pull/73566. Can you try updating nightly?

[2020-08-03 11:53] ssomers commented on #74834
Let's say we want to insert in a full node (len() = CAPACITY = 2B-1) at edge-index IN (which is in 0..=CAPACITY), and we accomplish this by splitting the node at kv-index S (which is in 0..CAPACITY), moving the element (key/value pair) at kv-index S into a parent node, keeping the S elements on the left in the left node, and moving the (CAPACITY-S-1) elements on the right to a new right child. The

[2020-08-03 11:55] yoshuawuyts opened #75100 "Fix rustdoc hack allowing async-std docs to build"
Original issue surfaced in: https://github.com/async-rs/async-std/pull/845 by @dignifiedquire. It appears that sometime after `2020-05-01` nightlies are no longer able to build  `async-std` docs. https://github.com/rust-lang/rust/pull/73566 appears to be a likely cause for this regression.

We use a fairly elaborate macro to generate docs, so we're not particularly surprised that a big refactor ma

[2020-08-03 11:59] jyn514 commented on #75100
The errors are the same ones as for https://github.com/rust-lang/rust/pull/43348. They show up for `async-std` because all their functions are async, so rustdoc tries to infer the return type by type-checking the body. This didn't happen before #73566 because rustdoc didn't consider `async fn` to return an `impl Trait`.

https://github.com/rust-lang/rust/pull/73566#issuecomment-667978932

[2020-08-03 12:02] hanna-kruppe commented on #75072
For context, how is this requirement addressed by C toolchains?

[2020-08-03 12:03] jyn514 commented on #75100
Copy/pasting from the PR:

There's not a good way to fix this. We could revert, but then we lose the fixes to intra-doc links and they'd be permanently unstable again.

Maybe we could have a reachability pass for rustdoc that's separate from the one for rustc? #73566 (comment) That's going to require a lot of work though, it's not a quick fix. And I don't know if it would actually do what I want.

[2020-08-03 12:08] WaffleLapkin commented on #75088
@jyn514 Oh. I've run `rustup update` yesterday, but it didn't update `nightly` for some reason (probably missing `rustfmt`?)

Yes, update of the nightly compiler fixed the issue for me, sorry for bothering

[2020-08-03 12:08] #75088 closed

[2020-08-03 12:17] hanna-kruppe commented on #75087
I don't expect *compiler* optimizations can reasonably address either the transmute case nor the case where some non-trivial transformation happens but memory layout stays the same, but perhaps library code can help. The transmute scenario is probably most reliably addressed by https://github.com/rust-lang/rfcs/pull/2756 plus (plus the results of the Safe Transmute project group (https://github.co

[2020-08-03 12:20] lcnr commented on #75100
So a minimal repro for this would be something like the following?
[code]

[2020-08-03 12:23] jyn514 commented on #75100
No, that's not right - that errors on the function signatures, not the function bodies:

[code]

This error is because rustdoc is type checking the function bodies.

[2020-08-03 12:24] jyn514 commented on #75100
A minimal repro is
[code]

[2020-08-03 12:29] lcnr commented on #75100
Ah, and a more realistic example would probably be:
[code]
Thanks :heart:

[2020-08-03 12:46] repnop commented on #75072
Using https://c.godbolt.org/z/E7ETx8 to verify, it looks like both GCC and Clang support using `__attribute__((aligned(<alignment>)))` to specify function alignment on a per-function basis

[2020-08-03 12:55] jyn514 commented on #75100
@GuillaumeGomez I'm not sure why I don't know why https://github.com/rust-lang/rust/blob/780d6cb1408717f968a21d627cc34c8ffa7f6fe8/src/librustc_privacy/lib.rs#L791-L797 is there currently so I'm afraid to change it. Maybe this is a hack for some specific call of `privacy_access_levels` and we can fix it for `privacy_access_levels` generally and only pessimize that call?

[2020-08-03 12:58] GuillaumeGomez commented on #75100
I think it might be interesting to ask the compiler team before doing anything in here. They might have a solution we didn't think about. :)

[2020-08-03 13:28] JamieCunliffe commented on #75096
The test is causing an infinite loop due to the link register being updated during the call to zzz, that call is causing the link register to be the ret instruction after that call, the ret instruction then returns to the link register causing an infinite loop. Normally before the call the link register would be saved and then restored after the call, however due to this being a naked function tha

[2020-08-03 13:45] steveklabnik commented on #46217
Hi there! It has been a long time, and there's few details in this bug. I'm going to give it a close, but if you're still seeing this issue, please open a new bug with the exact commands you're trying, error messages, and other context. Thanks!

[2020-08-03 13:45] #46217 closed

[2020-08-03 13:50] jdahlstrom commented on #13231
The following code ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f805f333be07fc8ab5b9e6c60ddec1dc)) is rejected by the compiler because `Something` is not implemented for the type `dyn std::error::Error + std::marker::Send + std::marker::Sync + 'static`. Providing an explicit impl makes the code compile. This is probably a bug?

[code]

[2020-08-03 13:57] Amanieu commented on #75096
The test is definitely incorrect. Using anything other than inline asm in a naked function is UB.

[2020-08-03 14:11] jackh726 commented on #74865
@nnethercote yes

So, the first thing to do would be to add a `TypeFromEnv(Ty<'tcx>)` variant to `PredicateAtom`, which is only used for Chalk. It would be lowered to Chalk's `FromEnv(FromEnv::Type)`, like [here](https://github.com/rust-lang/rust/blob/c186aed59ab590eb586751afaf6b9e0ea9b78099/src/librustc_traits/chalk/lowering.rs#L161).

Then, you would essentially have to [add those predicates](ht

[2020-08-03 14:33] jyn514 commented on #75100
Ping @rust-lang/compiler - does anyone know why `OpaqueTy` is special-cased in `rustc_privacy`? It causes rustdoc to try and type-check function bodies for `fn f() -> impl Trait`. Backtrace at https://github.com/rust-lang/rust/pull/73566#issuecomment-653689128.

The following patch does _not_ fix it, but that might just be because I'm not understanding `EmbargoVisitor`:

[code]

[2020-08-03 14:45] jethrogb opened #75109 "Check submodule commit provenance in CI"
Currently, when any changes are made to a submodule in the Rust repository, rustbot adds a warning comment but it's up to the reviewer to check all the changes.

One of the things that should always be true of a submodule commit (at merge time in the Rust repo) is that it should already be merged in an upstream branch. This can be checked in an automated fashion during CI by checking the commit ag

[2020-08-03 14:59] oli-obk commented on #29608
This has been solved together with #49146

[2020-08-03 14:59] #29608 closed

[2020-08-03 15:11] #74964 closed

[2020-08-03 15:14] osa1 commented on #75089
<details>

<summary>Full MIR</summary>

[code]

</details>

<details>

<summary>Full LLVM</summary>

[code]

</details>

I think this import line is coming from this MIR line:

[code]

In LLVM:

[code]

I think this basically stores address of the `fmt` method of `Display` impl of `i32` in a local.

[2020-08-03 15:25] 95th opened #75112 "multiple mutable borrow error with get_mut"
I tried this code:

[code]

I expected to see this happen: Code should compile because the latter `get_mut` calls don't overlap with preceding ones.

Instead, this happened: Got following error
[code]

It works if I comment the if condition inside the second `if let`:

[code]

if I comment the last `if let`, then also it works:
[code]

So there are still multiple mutable borrows but it works for t

[2020-08-03 16:05] Manishearth commented on #75100
Worth remembering: rustdoc does not care one bit about what the actual type of an impl Trait is, aside from the trait itself, which should already be known since that's explicitly specified (via trait or via the async keyword). So it should theoretically be possible to make this work without solving item bodies.

[2020-08-03 16:34] Nemo157 commented on #75100
(Though it _might_ be nice if rustdoc indicated leaked auto-traits, which would require knowing the concrete type).

[2020-08-03 16:37] jyn514 commented on #75100
@Nemo157 knowing the type and allowing type errors are mutually incompatible. So even theoretically it would only be possible if there were no type errors, and it would be a _very_ delicate balance trying to only run typeck if we knew it would succeed.

[2020-08-03 16:38] Manishearth commented on #75100
Oh, another thing I should note: `everybody_loops` had a bunch of problems with impl Trait back in the day, I kinda expected there to be something similar with rustdoc's new item-bodies skipping approach but when we were working on it I was unable to construct an example (looks like `async` lets you produce one). But it's worth perhaps looking at whatever everybody_loops did to fix this issue.

[2020-08-03 16:40] jyn514 commented on #75100
everybody_loops skipped the pass entirely, which would still give type errors like we do now. The only thing that changed is that `async fn` is now considered an `impl Trait` where it didn't before.

[2020-08-03 16:44] Manishearth commented on #75100
@yoshuawuyts one thing I don't understand: Is this a new error on your CI, or was your CI broken before but ignored? I'm surprised this was only caught now given that the nightly that broke it was months ago, and y'all seem to be running the doc CI run on nightly.

[2020-08-03 16:50] estebank commented on #75100
Can we confirm that this hasn't reached beta as well?

[2020-08-03 16:50] yoshuawuyts commented on #75100
@Manishearth We've been having some unrelated issues with ARM builds on our CI. That took a while to investigate and eventually disable. My guess is that that's been masking this issue.

That said I haven't done much work on `async-std` recently, so I may not be completely up to date.

[2020-08-03 16:54] Manishearth commented on #75100
Ah, makes sense, thanks.

@estebank It should have hit beta, but the stack of patches that has landed after this depending on it makes it hard to revert, and we should probably just fix it instead.

[2020-08-03 17:44] alexcrichton commented on #74657
It looks like I've configured my system for `ld` to be `ld.gold`, which is why I was unable to reproduce. I'm able to reproduce this on Ubuntu 20.04 with your above `Dockerfile`, but it can also be minimized to:

[code]

Is this an issue with `LLVMgold.so` not being compatible with `ld.bfd`? Given that this is so specific to the linker and the reduction is so small, this seems like a linker bug. I

[2020-08-03 18:12] matklad commented on #53120
Does this mean that we also don't enable "unreachable pub" lint (`mod private { pub fn f() {} }`)?

[2020-08-03 18:22] SiebenCorgie opened #75117 "double free in tcache2 or segfault when using Vec in async"
Hi,

I recently started to try my luck with async code via [smol](https://crates.io/crates/smol). However, I a strange bug when using vectors in smols async context, where my program crashes with

`free(): double free detected in tcache 2` or a segfault

This is the code, a description follows below:
[code]

## Description
I currently try to build some kind of async execution DAG (async_graph). Th

[2020-08-03 18:32] jonas-schievink commented on #75117
Please make sure this is a bug in Rust and not in the unsafe code in async_graph or smol

[2020-08-03 18:35] tmiasko commented on #75117
There is a single and incorrect use of unsafe in async_graph:

[code]

[2020-08-03 18:40] SiebenCorgie commented on #75117
Okay that seams to be the reason then, sorry for the inconvinience. I thought I'm sure that the bug originates outside of async_graph:

Thanks!

[2020-08-03 18:40] #75117 closed

[2020-08-03 18:49] ehuss commented on #73921
cc #74690, where the ability to register the usage of an environment variable was added.  I would suspect adding support for tracking files could use a similar mechanism. I'm not sure if this specifically needs to use a macro, or if a function call would be sufficient (`tracked_env::file(...)`?  `tracked_env::path(...)`?).

[2020-08-03 19:06] jyn514 commented on #75100
No, it hasn't. I made sure I didn't r+ on everybody_loops until the beta release.

[code]

[2020-08-03 19:34] steveklabnik commented on #63357
Triage: it's been a year. If anyone is interested in implementing this and doing benchmarks, please send in a pull request if it is indeed better than the map. Thanks.

[2020-08-03 19:34] #63357 closed

[2020-08-03 19:44] molenzwiebel commented on #39034
Hey there! I've been wanting to get my feet wet with rustc, figured I'd start to see if I can fix this issue.

From what I can see, there's several options that would mitigate this issue:
- **Mark all variants of a mutable reference to an enum passed to foreign functions as constructed _while visiting the foreign def_.** This would work, but extra care would need to be taken to ensure that this on

[2020-08-03 19:48] petrochenkov commented on #73921
The bare minimum would be ability to add file paths to dependencies.

However, it would be significantly more useful to also have ability to load the file into a token stream and create a source map for it, so all the spans are assigned properly.

[2020-08-03 19:48] Manishearth commented on #75100
Oh, right!

[2020-08-03 20:16] rodrimati1992 opened #75118 "ICE when coercing `NonNull<[T; 0]>` to `NonNull<[T]>` in const fn"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-03 20:50] rodrimati1992 commented on #75118
@jonas-schievink
Is it a regression from stable to beta if it doesn't compile on stable?

I added this to the original comment:

On rust stable 1.45.1, it causes this compilation error instead:
[code]

[2020-08-03 20:54] scottmcm commented on #46420
This is now also fixed by https://github.com/rust-lang/rust/pull/72820, which removed this fold in InstCombine

[2020-08-03 20:55] jonas-schievink commented on #75118
Yes, the error message regressed. I don't know if the code is supposed to compile on beta or if it should still fail with the same error, but an ICE is a regression either way.

[2020-08-03 21:14] molenzwiebel commented on #68408
These seem to have been fixed. The above playground link has no warnings.

[2020-08-03 21:16] elslooo commented on #63037
I agree that this makes some function signatures unnecessarily verbose. For example:

[code]

... becomes ...

[code]

However, given the nuances of async functions (specifically: the referenced values must survive every state of the FSM), one could argue that showing these lifetimes in the docs might be useful(?).

It's obviously not the worst problem on earth, but could someone at least shed som

[2020-08-03 22:34] nikomatsakis commented on #70797
I'm curious whether this example, rewriting to a match, helps with polonius:

[code]

[2020-08-03 22:51] nbdd0121 commented on #75112
[code]

[2020-08-03 23:01] nbdd0121 commented on #75087
[`Vec::map_in_place`](https://doc.rust-lang.org/1.3.0/collections/vec/struct.Vec.html#method.map_in_place) was unstable before Rust 1.2.0, deprecated in Rust 1.3.0 and removed since.

You might want to use something like https://docs.rs/map_in_place.

[2020-08-03 23:06] nbdd0121 commented on #75072
I believe you would need to use assembly for interrupt handlers because naked functions don't work as intended anyway.

[2020-08-03 23:07] JohnTitor commented on #75118
I think this unwrap causes the failure:
https://github.com/rust-lang/rust/blob/829d69b9c6bfc535a92fc290ec9391a0d5af6c81/src/librustc_mir/transform/qualify_min_const_fn.rs#L196

So, my thought is we shouldn't unwrap here and return `Err` instead if it's `None`. @oli-obk is this correct?

[2020-08-03 23:20] steffahn opened #75123 "Confusing (incorrect) suggestions on method not in scope."
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=68b966324d4bee4062db44c04e45227e))

Errors:

[code]

This error message is way too long and contains misleading information (I’m referring to those `the method is available for` lines) and it is non-trivial to spot the essential part, that is:
[code]

For example, here’s a confused user: https://users.rus

[2020-08-03 23:31] #74472 closed

[2020-08-04 00:05] flowbish opened #75125 "Program crashes with #[track_caller] applied to main()"
### Code

[code]

### Meta

Crash occurs in both 1.46.0 beta and in current nightly.

`rustc --version --verbose`:
[code]

[code]

### Error output

[code]

[2020-08-04 00:11] jhpratt commented on #75087
@nbdd0121 Nice find. That's actually pretty much the exact API that I'd love to have, and I think the performance difference (allocations specifically) show that it would be a sensible addition. Of course, rustc could also accomplish this with specialization, but `Vec::map_in_place` is both clearer and would provide guarantees. While it would panic back then, similar checks to `transmute` could ta

[2020-08-04 00:33] flowbish commented on #75125
I made the false assumption that this was rustc crashing, but it's actually the binary that crashes upon running it.

[2020-08-04 00:40] Mark-Simulacrum commented on #75125
Cc @anp

We probably just want to ban track caller on main (and maybe any lang item function?)

[2020-08-04 01:05] jyn514 commented on #75100
Ok, the cause of this is _different_ from in the original PR. My suspicion is that the original `OpaqueTy` thing is still an issue that's being covered up by this though.

[code]

I added `typeck::check_crate` because otherwise some queries would panic if there was an invalid type: https://github.com/rust-lang/rust/pull/73566#issuecomment-656954425, https://github.com/rust-lang/rust/pull/73566/com

[2020-08-04 01:13] Dylan-DPC commented on #75100
(nominated so prioritisation discussion not required)

[2020-08-04 01:34] nbdd0121 commented on #75087
What you have is not safe.
[code]

Miri gives:
[code]

[2020-08-04 01:38] jhpratt commented on #75087
Right. You'd want to call `drop` on the `T` value, at the least. I'm personally not familiar enough with `unsafe` to create a rock-solid implementation — my goal was just to create a baseline for others to work from if they want to. How to avoid the behavior you found…I'm not sure.

[2020-08-04 01:48] #73591 closed

[2020-08-04 02:02] jyn514 commented on #75100
I special cased the behavior for `rustc_privacy` for rustdoc in https://github.com/rust-lang/rust/pull/75127 and that seems to be working. So the only issue left is to find a way to avoid running `rustc_typeck::check_crate` without an ICE: https://github.com/rust-lang/rust/issues/75100#issuecomment-668316246

[2020-08-04 02:09] jyn514 commented on #75100
I think the relevant code is https://github.com/rust-lang/rust/blob/f07100afc8650101ac924d728521e1a5d0ce9080/src/librustc_typeck/lib.rs#L324-L333. cc @matthewjasper - how hard would that `FIXME` be to fix?

[2020-08-04 02:09] RDambrosio016 opened #75128 "Generate intra-doc links for crates in scope"
Currently its not possible to easily link to a crate which is in scope in rustdoc. Something such as
[code]
would be nice. It seems rustdoc explicitly does not do this currently. See:
https://github.com/rust-lang/rust/blob/master/src/librustdoc/passes/collect_intra_doc_links.rs#L493

[2020-08-04 02:12] jyn514 commented on #75128
@RDambrosio016 I can't replicate.

[code]
![image](https://user-images.githubusercontent.com/23638587/89245261-71f7bc00-d5d6-11ea-9bb8-8126868e2bed.png)

[2020-08-04 02:19] jyn514 commented on #75100
It appears it goes all the way back to 2013 🤦 2ea52a38e59b85b4b6998661b38425ce29839aed

[2020-08-04 02:21] RDambrosio016 commented on #75128
Ah my bad, i did not actually verify that my crate in fact depends on it. And it does not at second glance, that was my fault, i will close this as resolved 🙂

[2020-08-04 02:21] #75128 closed

[2020-08-04 02:34] jyn514 commented on #75100
For context, this is the query that ICEs if rustdoc doesn't run typeck::check_crate:
https://github.com/rust-lang/rust/pull/73566#issuecomment-656954425

[2020-08-04 03:47] andersk commented on #70797
@nikomatsakis The version with `match` has the same results as the version with `if`. (Works on 699f83f52 2020-03-29 `-Z polonius`, fails on 211365947 2020-03-30 `-Z polonius` and 81e754c35 2020-08-02 `-Z polonius`.)

[2020-08-04 03:48] #48852 closed

[2020-08-04 04:36] RDambrosio016 commented on #75080
Many of these links can be brute force replaced using a regex, for items such as `... ../../std/stuff/something.Item.html` it can be brute forced with `(\[.*\]: )\.\.\/\.\.\/std\/(\w*)\/(\w*)\.(\w*)\.html[^#]`, then replacing with `$1std::$2::$4\n`, many more like method ones can also be knocked out using regex replacement, that regex alone can knock out 384 links. So that might be something worth

[2020-08-04 04:39] RDambrosio016 commented on #75080
Method links (105) can be caught with `(\[.*\]: )\.\.\/\.\.\/std\/(\w*)\/(\w*)\.(\w*)\.html#method\.(\w*)` and replaced with `$1std::$2::$4::$5\n`

[2020-08-04 04:50] dtolnay commented on #13231
That is the correct behavior @jdahlstrom. std::io::Error does not get a Something impl because it holds something that does not necessarily implement Something. In general you would only get the auto trait impl if all the fields are known to implement that auto trait.

For example:

[code]

[2020-08-04 05:03] RDambrosio016 commented on #75080
Intrinsics furthermore has a lot (~80) of special ones which match `(\[.*\])\(\.\.\/\.\.\/std\/(\w*)\/(\w*)\/\w*\.(\w*)\.\w+\)` which can be replaced with `$1(std::$2::$3::$4)`. There is another small use of this but with `../../std/module/stuff` which can be matched with `(\[.*\])\(\.\.\/\.\.\/std\/(\w*)\/\w*\.(\w*)\.\w+\)` and replaced with `$1(std::$2::$3)`

[2020-08-04 05:09] lcnr commented on #75125
@rustbot claim

[2020-08-04 05:11] lcnr commented on #75125
Same with `#[naked]`:
[code]

[2020-08-04 05:47] Manishearth commented on #75080
Go ahead and try the regex approach, if there are conflcits we can try and resolve them.

[2020-08-04 05:56] RDambrosio016 commented on #75080
I ran all replacements, then ran `./x.py test src/tools/linkchecker library/std`, and there were no warnings. So i assume all of them worked correctly, however from my convo with @jyn514 some should not really work because they are fundamentally broken? so i am not quite sure if that is not the case or if testing is not working for me.

[2020-08-04 06:04] susugagalala opened #75131 "error while building rust on macOS x86_64: src/zlib/gzlib.c: implicitly declaring library function 'snprintf'"
[code]

[2020-08-04 06:24] susugagalala commented on #75131
Based on the master branch on github.com/rust-lang/rust checked out on 20070804:
./build/x86_64-apple-darwin/stage1/bin/rustc -V
rustc 1.47.0-dev

[2020-08-04 06:24] scottmcm commented on #48111
To anyone following this tracking issue, I've made a PR to request stabilization of these methods: #75132

[2020-08-04 07:56] oli-obk commented on #75118
Yes, return an error mentioning that unsizing is only allowed for references right now.

[2020-08-04 07:57] Manishearth commented on #75080
I'm not sure which ones you think will be broken.

[2020-08-04 08:11] Nemo157 opened #75135 "`--message-format json` doesn't apply to rustdoc coverage output"
I tried this:

[code]

I expected to get a json message containing the coverage information, but instead I still got a table.

Then I tried this:

[code]

and it _did_ output a json message, but that message is missing a `reason` key to identify it within the greater message stream when combined with `--message-format json`.

[2020-08-04 08:32] est31 commented on #75135
Yeah it's part of a larger problem. For example, rustdoc also doesn't pass on json params to the sub compiler invocations it performs when doing doctests. And it has a bunch of `eprintln!` sprinkled across the codebase, all not abiding the json format.

[2020-08-04 08:44] lcnr commented on #72787
This now fails with
[code]
We should add this as a regression test to check the error messages once const wf bounds are implemented, marking `E-needs-test`

[2020-08-04 09:02] GuillaumeGomez commented on #63037
I think it's the expected behaviour. However we can discuss about removing the elided lifetimes. In this case it's not really useful...

[2020-08-04 10:03] susugagalala commented on #75131
I got the same error while building the stable 1.45.2 branch. What gives?

[2020-08-04 10:38] #74542 closed

[2020-08-04 10:51] jdahlstrom commented on #13231
@dtolnay Ah, of course. Thanks.

[2020-08-04 11:20] the8472 commented on #75087
I have a PR for this, but it regresses compile times and I haven't had the time yet to dig into why. #70793

[2020-08-04 11:22] yoshuawuyts commented on #72470
I've filed two test cases on the repro:

- switch the channel impl: https://github.com/jonas-schievink/llvm-error/pull/1
- switch the block_on impl: https://github.com/jonas-schievink/llvm-error/pull/2

It seems that switching the channel impl makes the error disappear. Whereas switching the block_on impl keeps it. According to @jonas-schievink in https://github.com/jonas-schievink/llvm-error/pull

[2020-08-04 11:23] hellow554 commented on #68408
searched nightlies: from nightly-2020-01-26 to nightly-2020-08-03
regressed nightly: nightly-2020-05-03
searched commits: from https://github.com/rust-lang/rust/commit/7f65393b9abf5e70d0b9a8080558f17c5625bd40 to https://github.com/rust-lang/rust/commit/f05a5240440b3eaef1684a7965860fab40301947
regressed commit: https://github.com/rust-lang/rust/commit/dae90c195989b09475b6c0225a3018cbd7afa587

<deta

[2020-08-04 11:40] GuillaumeGomez commented on #75135
`--message-format` isn't the option you're looking for. You want `--output-format json`.

[2020-08-04 12:29] jyn514 commented on #75080
Associated items anywhere other than documenting the associated item itself (#74489)

[2020-08-04 12:31] jyn514 commented on #75080
You can check by manually introducing a broken link and see if it's caught. If so, the tests are working :) I recommend `--keep-stage 0 --keep-stage 1` for that so you don't have to rebuild the compiler.

[2020-08-04 13:04] Nemo157 commented on #75135
@est31 well, uh, it's a bit complicated now, `--message-format json` _was_ translated into `--error-format json` previously; but for a while now `cargo` has been unconditionally running the compiler with something like `--error-format json --json=diagnostic-rendered-ansi` and then using `--message-format json` to determine whether to just re-emit those json messages after stripping the rendered-an

[2020-08-04 13:09] jyn514 commented on #74515
Closing as wontfix: https://github.com/rust-lang/rust/pull/75101

[2020-08-04 13:09] #74515 closed

[2020-08-04 13:24] wesleywiser opened #75141 "Optimize `matches!()` invocations at the MIR level"
Right now, `matches!()` generates MIR that sometimes has more branches than required. As an example:

[code]

generates this MIR:

[code]

Notice blocks `bb0`, `bb1`, `bb2` and `bb3` which we could transform into something like this:

[code]

There may be a compile-time win since we can hand LLVM less code but the optimization would have to be implemented to be sure.

cc @rust-lang/wg-mir-opt

[2020-08-04 13:26] pnkfelix commented on #74498
To be clear: my thinking is that we could change the `range.rs` and/or `Step` code to use `wrapping_add` rather than `unchecked_add`.

That way, we shouldn't generate any overflow checking code, so I wouldn't expect any significant performance hit.

At the same time, I'm not really a big fan of putting in such narrowly targetted hacks to work around LLVM bugs, especially ones that have been confir

[2020-08-04 13:27] Mark-Simulacrum opened #75142 "Crater runs for 1.46"
**Note**: Please do not conduct triage on these runs with syncing with a release team member first. Thanks!

[2020-08-04 13:27] Mark-Simulacrum commented on #75142
@craterbot run name=beta-1.46-1 start=1.45.2 end=beta-2020-07-24 mode=build-and-test cap-lints=warn p=10

[2020-08-04 13:28] Mark-Simulacrum commented on #75142
@craterbot run name=beta-1.46-rustdoc-1 start=1.45.2 end=beta-2020-07-24 mode=rustdoc cap-lints=warn p=5

[2020-08-04 13:31] pnkfelix commented on #74498
(having said that, this bug does seem to serve as evidence that our code is *probably* executing an overflowing addition via `unchecked_add`. Even though that "merely" generates poison under this particular codegen path (that should be unused and thus won't cause UB), strictly speaking, it **is** a violation of the contract written for Rust's [`unchecked_add`](https://doc.rust-lang.org/std/intrins

[2020-08-04 14:06] oli-obk opened #75144 "Optimize `if` conditions with integer equality to matches on the integer"
If we generate the MIR for

[code]

we get something like

[code]

which we could also write as

[code]

(plus move the `StorageDead` to the beginning of `bb2` and `bb3`). The same goes for `!=` (`Ne`).

cc @rust-lang/wg-mir-opt

[2020-08-04 14:06] oli-obk commented on #75141
Oooh, while wondering why you didn't suggest

[code]

I realized that this is a common thing, too if you do `if x == 42`, so... https://github.com/rust-lang/rust/issues/75144

[2020-08-04 14:16] davidtwco commented on #60607
Opened #75145 to resolve this using @matthewjasper's earlier work.

[2020-08-04 14:17] davidtwco commented on #61019
Opened #75145 which fixes this.

[2020-08-04 14:26] wesleywiser commented on #75141
Oh yeah, even better. I just trying to match the existing semantics as closely as possible.

[2020-08-04 14:42] tanriol commented on #74456
I haven't looked in the protocol crate yet, but the numbers I've seen from println-based debugging look really big
[code]

One of the (much smaller!) predicates causing this looked like

<details><summary>this</summary>

[code]

</details>

[2020-08-04 15:29] denisvasilik commented on #75080
Hi @RDambrosio016, could you do that for time.rs cmp.rs and borrow.rs as well? It's great to have a more automated variant.

[2020-08-04 15:49] nanpuyue commented on #27709
Add `Ipv6Addr::to_ipv4_mapped`: #75019

[2020-08-04 15:56] RDambrosio016 commented on #75080
@denisvasilik not quite sure what you mean by do it for those files, as far as i can see all of the replacements in those files work. I identified another pattern of `../../std/module/index.html`, which can be matched with `\.\.\/\.\.\/std\/(\w*)\/index\.html` and replaced with `std::$1`, as well as `../../std/primitive.primitive.html` which can be matched with `\.\.\/\.\.\/std\/\w*\.(\w*)\.html`

[2020-08-04 16:44] DzenanJupic commented on #29599
I also had that problem and just wrote and published a crate that provides a working solution:
https://crates.io/crates/concat-idents
https://github.com/DzenanJupic/concat-idents

The syntax is a bit different from the std-solution:
[code]
But it works and can be used to, for example, generate tests:

[code]
In this case, the last two lines would expand to:
[code]

As long as the resulting identif

[2020-08-04 16:50] sdroege commented on #29599
That sounds very similar to the [paste](https://crates.io/crates/paste) crate

[2020-08-04 17:05] Soveu opened #75153 "ICE when using a const fn with an if statement as an array length"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
The bug also does occur in beta version.
Stable versions do not support `if` statements inside `const fn`

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-04 17:15] tmandry commented on #72651
A smaller MVCE is in https://github.com/rust-lang/rust/issues/74961#issuecomment-666893845

[2020-08-04 17:16] tmandry commented on #74961
Thanks @SNCPlay42! Going to close this as a duplicate, I've added the MVCE here to #72651.

[2020-08-04 17:16] #74961 closed

[2020-08-04 17:18] pnkfelix opened #75154 "support for boostraping on linux with `target = ["x86_64-unknown-linux-gnu", "x86_64-pc-windows-msvc"]`"
Spawned off of https://zulip-archive.rust-lang.org/131828tcompiler/10990bootstraponlinuxwsupportforcrosscompilingtowind.html

After being reminded that one can install the stdlib for windows-msvc on a Linux host, that led me to ask whether one could build that artifact locally.

I tried to do so, but failed. You can see the results of some questions I asked and suggestions made in response at the

[2020-08-04 17:22] tmandry commented on #74906
Related to #72651. Not going to mark as a duplicate yet, since the MVCE is quite different.

[2020-08-04 17:41] Kixiron opened #75156 "x.py expects python3.exe on Windows"
Seems to be the root cause of #72523, @Rdambrosio016 also encountered a similar (but less dramatic) issue. On windows it seems that x.py expects an executable of python3 to be named exactly python3.exe and will encounter varying errors while spawning internal python processes when these conditions are not met

[2020-08-04 17:43] RDambrosio016 commented on #75156
Yes, x.py does not work if you install python then use `py`, it only works if you use `python3`.

[2020-08-04 18:13] Soveu opened #75158 "ICE on gigantic arrays"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

The ICE seems to appear on 1.39 and later
Also it looks like it is similar to #71699, but crashes in different place

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-04 20:05] poliorcetics commented on #74997
@rustbot claim

Yes, it allows for easy searching of doc issue (at least for me), with `label: T-doc`.

[2020-08-04 20:38] denisvasilik commented on #75080
I had troubles with files located under `library/core`. I guess it has something to do with the caveats mentioned above, which states that intra-doc links from core to std are not possible.

[2020-08-04 20:40] RDambrosio016 commented on #75080
Yeah a fair amount of these replacement may be broken, but the goal of this is to overall reduce the amount of changes needed to be done.

[2020-08-04 20:59] canova commented on #55214
Thanks for the answer @dtolnay! Created a PR for this and added you as a reviewer. Would you mind taking a look at it when you have time?

[2020-08-04 21:31] #75118 closed

[2020-08-04 21:40] lcnr commented on #74634
So we probably fail here because we call `const_eval_resolve` with a `ConstKind::Infer` which get's canonicalized to a `ConstKind::Bound`.

All of that seems correct to me :thinking: Is it possible that we should treat `ConstKind::Bound` similar to `ConstKind::Param` and "just" return `TooGeneric` here?

[2020-08-04 22:01] JohnTitor commented on #74954
So, the failure has been "fixed" in the both versions, I'm going to close this. If I have missed something, please re-open it :)

[2020-08-04 22:01] #74954 closed

[2020-08-04 22:05] JohnTitor commented on #74539
We don't backport the fix in favor of this comment: https://github.com/rust-lang/rust/pull/74557#issuecomment-668660597
So I'm just going to close this as fixed.

[2020-08-04 22:05] #74539 closed

[2020-08-04 22:09] steveklabnik commented on #75156
Very odd; I use "python x.py" on Windows just fine.

[2020-08-04 22:14] JohnTitor commented on #74641
I'm going to close this issue as the above PR was reverted.
@estebank If you have any ideas for improving the diagnostics introduced by #74963, I'm happy to see another issue pointing it out <3

[2020-08-04 22:14] #74641 closed

[2020-08-04 22:57] scottmcm commented on #48117
@CAD97 Yes, I think there's still essentially the same problem -- the Invariants section still has `None` for both unreachable (`steps_between(1, 0)`) and overflow (`steps_between(0_u128, 1<< 127)`).

So if this is used for `size_hint`, then getting `None` back from `steps_between` means you're stuck returning `(0, None)`, when you'd rather be able to return either `(0, Some(0))` or `(usize::MAX,

[2020-08-04 23:47] georgio commented on #74747
Hey everyone, I would like to apologize for not being able to carry this through at the moment. My country was rocked by a massive explosion and I have to be on the ground to help. I wouldn't mind getting back to this as soon as things calm down a bit but if you're short on time I would suggest that someone else takes care of my part of the issue.

[2020-08-04 23:58] gdhuper commented on #74747
Hey @georgio, so sorry to hear that. I can take care of the rest.

[2020-08-05 00:16] jhwgh1968 commented on #75062
I have reduced this reproducer from about 500 lines of code total to 130 lines total. There are more syntax errors in it now, but the panic still triggers before them.

Most of the other things I could change create an error that short circuits the compiler before the panic could trigger.

[2020-08-05 00:20] georgio commented on #74747
@gdhuper thank you very much. I really appreciate it.

[2020-08-05 01:35] JohnTitor commented on #74947
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374947.20WebAssembly.20size.20regression.20between.201.2E4.E2.80.A6) and removing `I-prioritize`.

[2020-08-05 01:36] JohnTitor commented on #75125
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375125.20Program.20crashes.20with.20.23.5Btrack_caller.5D.20ap.E2.80.A6) and removing `I-prioritize`.

[2020-08-05 01:42] JohnTitor commented on #74427
Removing `I-prioritize` as this is waiting on backport (but it seems we missed it on 1.45.2?) and already fixed in beta and nightly ([related discussion on the wg-prioritization](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374427.20Rust.201.2E45.2E0.20aarch64-apple-ios.20generates.E2.80.A6)).

[2020-08-05 01:54] JohnTitor commented on #75045
Let's ping relevant teams.
@rustbot ping arm

[2020-08-05 01:55] JohnTitor commented on #75045
And LLVM group...
@rustbot ping llvm

[2020-08-05 02:10] JohnTitor commented on #75062
Let's get a MCVE and bisect the culprit PR.
@rustbot ping cleanup

[2020-08-05 02:29] JohnTitor commented on #75073
This is related to ARM platforms.
@rustbot ping arm

[2020-08-05 03:02] jyn514 commented on #73829
... I think I found why this is broken. Oops. https://github.com/rust-lang/rust/blob/e25a67fa6cbfacea80f5579149299f842775be79/src/librustdoc/passes/collect_intra_doc_links.rs#L830-L837

[2020-08-05 03:04] #75125 closed

[2020-08-05 03:35] JohnTitor commented on #66768
I cannot reproduce the ICE with https://github.com/Andlon/ice_testcase or https://github.com/rust-lang/rust/issues/66768#issuecomment-568478614 since 1.44.0, it compiles fine instead.
Note that we have to tweak the dependencies of `ice_testcase` like:
[code]
Otherwise, cargo cannot resolve the deps.

I'm going to mark this as `E-needs-test` since we could say it's now fixed, even though we didn't

[2020-08-05 03:59] steffahn commented on #66768
that’s not too much effort, here we go:

searched nightlies: from nightly-2020-02-01 to nightly-2020-08-05
regressed nightly: nightly-2020-04-16
searched commits: from https://github.com/rust-lang/rust/commit/edc02580e4e80476ac1ded2cc1008eaf8b8400e6 to https://github.com/rust-lang/rust/commit/d2230290f7220e740ec08f4d844bf5951e1b74b8
regressed commit: https://github.com/rust-lang/rust/commit/d12f03

[2020-08-05 04:02] jyn514 commented on #73829
Removing that override gives a `BorrowMut` error. Investigating now.

[2020-08-05 04:27] JohnTitor commented on #66768
Thanks @steffahn!

So, this part fixes the issue, I believe: https://github.com/rust-lang/rust/pull/70452/files#diff-53aef089a36a8e2ed07627fc8915fe63R1763

[2020-08-05 05:12] ds84182 commented on #75035
Seems like the following generates good assembly:
[code]

I don't think this matches the behavior of inclusive ranges 1:1, but it seems that using a current value + counter pair optimizes correctly.

[2020-08-05 05:19] denisvasilik commented on #75080
Here's another regex slightly modified to match `core` and `std`.
Example matches:

    [`Add`]: ../../std/ops/trait.Add.html
    [`GlobalAlloc`]: ../../core/alloc/trait.GlobalAlloc.html

Regex: `(\[.*\]: )\.\.\/\.\.\/(core|std)\/(\w*)\/(\w*)\.(\w*)\.html[^#]`
Replace: `$1$2::$3::$5\n`

[2020-08-05 05:59] denisvasilik commented on #75080
I saw that I cannot reference `std` in time.rs. For example I tried to do the following replacements:

     [`ops`]: ../../std/ops/index.html
     [`ops`]: std::ops (results in unresolved link)
     [`ops`]: core::ops (results in unresolved link)

If I add `use create::ops` it works, but I get a warning, because that import is just used for documentation. Is there another way to handle this or sho

[2020-08-05 08:35] mati865 commented on #71062
This happens only when targets in `config.toml` differ from targets in command line.

[2020-08-05 09:22] xldenis commented on #74938
^ as you can see above this optimization has landed in LLVM master, so whenever LLVM is bumped we should get this for free.

[2020-08-05 09:32] lzutao commented on #74938
Does it land with LLVM 11?

[2020-08-05 09:39] xldenis commented on #74938
it's not in RC-1 which was released a week ago, I don't know if they will include it in a future release candidate or not.

[2020-08-05 10:12] pickfire opened #75186 "Hide Cow implementation details"
[Cow](https://doc.rust-lang.org/stable/alloc/borrow/enum.Cow.html) is implemented with implementation details, can we add additional layers on top of it to allows other Cow ripoffs such as https://github.com/maciejhirsz/beef to easily become a Cow drop-in replacement without changing anything?

Currently, `Cow` is accessed through the fields directly, we could add additional methods to access thos

[2020-08-05 10:44] gretingz commented on #37572
If ``TrustedLen`` would require ``ExactSizeIterator`` to be implemented correctly, it would be possible to have the following impl for ``Skip``:

[code]

Implemented correctly for type ``I`` means that ``I.size_hint().1 == Some(I.len())``. Since the length of ``I`` must be an ``usize``, ``Skip<I>`` can calculate its own exact length.

[2020-08-05 10:54] lcnr commented on #75153
This is a lot more related to const generics, see #71922, #67945 and #56445

[2020-08-05 11:24] Aaron1011 commented on #75062
Minimized:

[code]

[2020-08-05 11:32] RalfJung commented on #74265
With https://github.com/rust-lang/rust/pull/75152, the allocator trait started making use of this.

[2020-08-05 11:33] petrochenkov commented on #75062
https://github.com/rust-lang/rust/pull/74211 is the likely cause.

[2020-08-05 12:15] jyn514 commented on #75080
Use `crate::ops` in the link instead:
[code]
Intra-doc links follow (almost) exactly the same rules as normal name resolution.

[2020-08-05 12:37] pickfire opened #75191 "Suggest macro import"
I tried this code:

[code]

I expected to see this happen: compiler should suggest importing `Component` from `specs` (it is in Cargo.toml).

Instead, this happened: compiler say cannot find macro 'Component' but did not suggest importing it like other functions
[code]

### Meta

`rustc --version --verbose`:
[code]
Also not available in stable.

[2020-08-05 13:03] pnkfelix commented on #74551
@zeldin when you say "exactly the same problem", are you also attempting to build firefox and seeing this failure on teh `gkrust` crate?

Or do you have a smaller example test case to illustrate the problem on Linux/PPC64?

[2020-08-05 13:41] matklad commented on #65512
As far as my understanding goes, adding *types* (as opposed to traits) to the prelude is not a breaking change. Prelude is shadowed by glob and explicit imports.

[2020-08-05 13:49] zeldin commented on #74551
@pnkfelix Yes, I'm attempting to build firefox, and getting the SIGSEGV building `gkrust`.  After rebuilding rust 1.44.1 with `e823c23` reverted, I can compile firefox without problems.  I have not been able to reproduce the issue with a smaller test case.

[2020-08-05 13:57] npmccallum commented on #72016
One of the things I still think might be missing in the current implementation is either `noclobber` outputs or a memory operand. These are extremely handy when implementing functions that are supersets of an existing ABI. For example, a function which has the x86_64 SYSV ABI but also passes in arguments in `r10-r15`.

I can do this today (this is a real function I'm writing):

[code]

However, th

[2020-08-05 14:10] shepmaster commented on #61165
Although we might need to configure something similar for GHA?

[2020-08-05 14:13] Mark-Simulacrum commented on #59637
With GHA, we should now have capacity to do this on CI. I will be posting a PR doing so soon.

[2020-08-05 14:15] Amanieu commented on #72016
I don't understand what you are trying to do. `handler` is `extern "C"` and therefore uses the SysV ABI which requires `r12-r15` to be preserved since they are modified by the asm code.

[2020-08-05 14:22] lzutao commented on #75186
Currently Rust has no way to change publicity of enum variants. Doing so right now is a breaking change.

[2020-08-05 14:25] pnkfelix commented on #74551
@zeldin okay, thanks. While I was hoping you'd have a smaller test case, the info you have given is nonetheless very helpful, since I think I'll have an easier time investigating this on PPC64, which is (I believe) a higher tier platform than SPARC Solaris. (At the very least, PPC64 has `rustup`-support...)

[2020-08-05 14:54] bjorn3 opened #75193 "Local path of sysroot dependencies gets used in debuginfo when rust-src is installed"
[code]

I expected to see this happen: The `/rustc/...` path is used for the inlined `_mm_pause` function just like all parts of libcore that are not getting inlined in the current crate.

Instead, this happened:

The local path `/home/bjorn/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src/libcore/../stdarch/crates/core_arch/src/x86/sse2.rs` is used in the debuginfo:

[c

[2020-08-05 15:29] pickfire commented on #75186
I am not saying changing publicity of Cow variants, I am just saying soft deprecate it (still usable) in favor of function rather than enum variants to hide implementation details, so it should only just emit a warning, breaking change can be done during editions. Even though beef may be more efficient, it does not have the ergonomic of structural match (`match cow`) and also not being able to be

[2020-08-05 15:32] lzutao commented on #75186
Std Cow is good enough. Maybe documents it for anyone cares about extreme performance.

[2020-08-05 15:40] RalfJung commented on #74696
Hm, that also sounds like a reasonable idea. Even as a warning it would be quite annoying after all. We should just try to ensure that we don't warn *less* than we would if things would not have gotten promoted.

But then we should do the same for the lints originating from ConstProp:
[code]
This says
[code]

[2020-08-05 15:47] nikomatsakis commented on #68354
@jjpe seems like that would be fine to me, if somebody else wants to help out!

[2020-08-05 16:06] #72787 closed

[2020-08-05 16:57] rodrimati1992 opened #75196 "Tracking Issue for const `core::str::from_utf8_unchecked`"
This is a tracking issue for `const fn core::str::from_utf8_unchecked`, made const in https://github.com/rust-lang/rust/pull/75157 .
The feature gate for the issue is `#![feature(const_str_from_utf8_unchecked)]`.

### Steps
- [x] Merge the implementation PR https://github.com/rust-lang/rust/pull/75157
- [x] Final Comment Period (FCP)
- [ ] Stabilization PR (#86213)

[2020-08-05 17:14] npmccallum commented on #72016
@Amanieu

I'm trying to preserve a CPU state for later evaluation before it is erased. This handler is a callback from a vDSO function provided by the Linux kernel ([in the current SGX patches](https://lkml.org/lkml/2020/7/16/623)). It is called immediately after an SGX enclave exit to provide a way to capture the CPU state from the exiting enclave.

This might seems like a niche use case, but rea

[2020-08-05 17:22] Alexendoo commented on #70948
Hi @jakevossen5, are you still working on this issue?

[2020-08-05 17:27] Alexendoo commented on #71252
Hi, are you still working on this issue @Duddino?

[2020-08-05 17:30] bjorn3 commented on #72016
You must write the whole function in assembly using a `global_asm!` block. If you use a function and then put an `asm!` block in there, the compiler is allowed to overwrite **any** register before entering the `asm!` block.

[2020-08-05 17:30] Alexendoo commented on #52544
Hi, are you still working on this issue @rakshith-ravi?

[2020-08-05 17:31] Alexendoo commented on #70381
Hi, are you still working on this issue @amadeusine?

[2020-08-05 17:32] npmccallum commented on #72016
@bjorn3 Yes, that works today. But I'm pointing out a legitimate usage pattern that people will work around in less than desirable ways if it is not solved. This problem will be greatly exacerbated when `asm` is stabilized but `global_asm` isn't.

[2020-08-05 17:33] #69018 closed

[2020-08-05 17:35] Alexendoo commented on #49638
Hi, are you still working on this issue @Prabhakar-17?

[2020-08-05 17:36] npmccallum commented on #72016
@bjorn3 Also, `global_asm` is undesirable for other reasons. Things like mangling and documentation come to mind.

[2020-08-05 17:40] bjorn3 commented on #72016
You could use a `#[naked]` function combined with a `asm!` block that contains `mov` instructions to move the registers to the destination you want. You can't write any rust code in the function then though.

The problem is that using `asm!` without `#[naked]` will **never** work for your use case. You need to implement a custom calling convention in the compiler to be able to write this without `

[2020-08-05 17:40] Amanieu commented on #72016
As @bjorn3 said, your code is incorrect and does not do what you think it does. The [RFC](https://github.com/rust-lang/rfcs/blob/master/text/2873-inline-asm.md#rules-for-inline-assembly) clearly states that:

This means that your `asm!` is simply writing undefined values to your struct. The fact that these undefined values happen to be the input values of your function is a coincidence: the compil

[2020-08-05 17:43] Alexendoo commented on #49660
Hi, are you still working on this issue @ryzokuken?

[2020-08-05 17:43] Amanieu commented on #72016
Regarding your other question about writing to struct fields, this can be done using `const` operands and the [`offset_of!`](https://github.com/Gilnaa/memoffset) macro (make sure you enable the `unstable_const` feature).

[2020-08-05 17:58] npmccallum commented on #72016
Understood. In fact, I [recently fixed](https://github.com/rust-lang/rust/pull/74105) `rustc`'s incorrect code generation for `#[naked]` precisely because I needed this. I'm happy to use `#[naked]`. But we still need a way to get the **offset** into the assembly. And that has to come from outside and we shouldn't use a register for it.

[2020-08-05 18:03] Alexendoo commented on #31060
Hi, are you still working on this issue @nrabulinski?

[2020-08-05 18:06] Duddino commented on #71252
No, feel free to claim it if you want

On Wed, 5 Aug 2020, 19:28 Alex Macleod, <notifications@github.com> wrote:

[2020-08-05 18:09] spastorino commented on #72213
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2372213.20rustc.20panic.20when.20running.20.60cargo.20doc.60.20in.E2.80.A6) and removing `I-prioritize`.

[2020-08-05 18:11] jplatte commented on #70564
Would it be feasible to make this work without fundamentally changing the desugaring? I.e. somehow "ignore" the non-exhaustiveness of the struct (and privacy of implicitly-copied / -moved fields) when it is used with FRU?

[2020-08-05 18:13] spastorino commented on #75158
Assigning `P-low` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375158.20ICE.20on.20gigantic.20arrays) and removing `I-prioritize`.

[2020-08-05 18:15] spastorino commented on #75073
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375073.20building.20on.20arm64.20hardware.20under.20armv7.20.E2.80.A6) and removing `I-prioritize`.

[2020-08-05 18:16] spastorino commented on #75045
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375045.20Compiling.20crate.20.60fixed.60.20for.20thumbv6m-no.E2.80.A6) and removing `I-prioritize`.

[2020-08-05 18:16] npmccallum commented on #72016
I'm aware of those problems. I wrote up this quickly hoping you would get the gist. But it feels to me like you're picking apart ancillary issues rather than the core one: we need a **usable** way to get the offset of fields into the assembly from "outside".

I've already read through the entirety of the `offset_of!` crate. It is a very clever, but unsustainable hack for what is obviously a missin

[2020-08-05 18:17] jplatte commented on #70564
Also either this or #63538 should probably be closed as a duplicate.

[2020-08-05 18:18] spastorino commented on #75062
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375062.20.5BNightly.20ICE.5D.20Deep.20in.20proc.20macro.3A.20panic.E2.80.A6) and removing `I-prioritize`.

[2020-08-05 18:23] steveklabnik commented on #59015
Triage: no changes

[2020-08-05 18:30] jakevossen5 commented on #70948
So sorry for the lack of communication on this. I am, have gotten a bit busy this summer but have some stuff wrapping up and hope to get it done soon. If this is blocking or causing problems, then someone else can take it but if not I would still like to work on this.

[2020-08-05 18:32] amluto commented on #72016
(vDSO maintainer here.)

Indeed.  @npmccallum, your example doesn't work in GCC either unless you play horrible attribute games.  If you're going to write a function with a custom calling convention, write the entire function in asm.  There is a time and a place for inline asm, and this isn't it.

Even for context switching, trying to play these kinds of games with inline asm is not worth the pain

[2020-08-05 18:47] npmccallum commented on #72016
@amluto It is my intent to do this with `#[naked]` as I've already outlined above. That still doesn't solve the problem of how to get field offsets into the assembly.

Ironically (since you're the vDSO maintainer), the thing that makes writing this whole function as assembly difficult is that I asked for a `misc` parameter on the SGX vDSO function and it doesn't appear that I'm going to get it. So

[2020-08-05 19:40] jyn514 opened #75197 "Document type-based search"
I find this really useful, but it's very difficult to find information on it anywhere.

Example of type-based search: https://users.rust-lang.org/t/a-year-in-rust-and-i-still-cant-read-the-docs/46872/20

[2020-08-05 19:41] jyn514 commented on #75197
This would be a good first issue. The documentation should go somewhere in https://github.com/rust-lang/rust/tree/master/src/doc/rustdoc/src.

[2020-08-05 19:44] npmccallum commented on #72016
@Amanieu FYI, the crate you recommended:
1. Doesn't compile in the released version.
2. No longer appears to produce `const` output with any combination of features.

Therefore, I don't see any way to get the offset of a field into assembly at all.

[2020-08-05 19:51] ryzokuken commented on #49660
@Alexendoo I'm sorry, I couldn't do it. Please feel free to reassign this.

[2020-08-05 19:56] #68042 closed

[2020-08-05 20:24] spastorino commented on #74868
Should we assign this issue to @matthewjasper given that they will work on a backport?.

[2020-08-05 20:40] Mark-Simulacrum opened #75198 "full-bootstrap builder doesn't test anything"
It's clocking in at 20 minutes and seems to be doing nothing -- I suspect that this might be a result of @jyn514's changes to x.py defaults but have not confirmed.

We should fix this.

[2020-08-05 20:48] jyn514 commented on #75198
(link to the PR: #73964)

[2020-08-05 21:06] infinity0 commented on #34902
I didn't get around to looking into the above issues in more detail, but I just noticed that [tests.r-b.org for rustc](https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/rustc.html) has been showing "reproducible" for 1.44.1 including under varying build paths (unstable, experimental)!

1.45.0 is in-progress and we should have results in just a few more days.

[2020-08-05 21:13] Alexendoo commented on #49660
No worries @ryzokuken

@rustbot release-assignment

[2020-08-05 21:17] Alexendoo commented on #71252
@rustbot release-assignment

[2020-08-05 21:21] Alexendoo commented on #70948
No problem @jakevossen5, it's not blocking anything I'm just checking claimed issues to see if people are still interested in working on them

[2020-08-05 21:23] 5M1Sec commented on #74747
I will take care of `librustdoc`, then every task is claimed if I am not mistaken.
Stay safe.

[2020-08-05 21:28] nikomatsakis commented on #31436
@ijackson thanks for taking the initiative to summarize the current state. I think you're correct that there are various ways we could improve on try blocks, but one of the problems is that we're not sure which one to do, in part because each solution has its own unique drawbacks.

With regard to type ascription, though, I do feel like the implementation challenges there aren't that difficult. Tha

[2020-08-05 21:30] nikomatsakis commented on #53797
I think at this point we can close this bug -- we're not probably going to go back and make more changes here, the transition code seems to have worked "well enough". (On the other hand, we could leave it open to collect more examples that we may someday go back and fix, I suppose.)

[2020-08-05 21:41] nikomatsakis commented on #75100
I don't know how hard that FIXME would be to fix -- we've been making steady progress here, I would guess that it's doable. I know @eddyb has been on a bit of a mission lately to remove those fatal panics and things.

[2020-08-05 21:45] nikomatsakis commented on #53120
Heh, I've been having second thoughts as I read through various of rustc code and see `crate` in use, and I imagine that those cases were all `pub(crate)`... would probably be worth doing the transition experimentally just to see how the diff makes me feel. I remember feeling sad about it for chalk when we moved it from nightly to stable, though I think now that I'm used to it it hasn't bothered m

[2020-08-05 21:59] amluto commented on #72016
Rust should IMO definitely gain a way to do memory access (along the lines of gcc's "m" and "rm").

But I really dislike `naked`.  Many years ago I wrote some ISRs in `naked` C, and I felt very l33t.  But even back then I didn't actually think that `naked` deserved to work, and I like it even less now.  It seems very hard to make `naked` have actual semantics -- somehow it's supposed to replace th

[2020-08-05 22:11] #64494 closed

[2020-08-05 22:19] CasperN commented on #55042
Bump, please consider reopening this.

[code]
is 20 characters shorter than
[code]

[2020-08-06 01:02] nbdd0121 commented on #75042
This generates some more bizarre code:
[code]
generates code for `assert_eq!`:
[code]

This is likely a LLVM bug.

@rustbot modify labels: +A-codegen +A-LLVM +C-enhancement +I-slow +I-heavy

[2020-08-06 01:05] comex commented on #72016
If you use `#[naked]`, you cannot use memory operands in any case.  To quote the GCC manual (emphasis added):

`#[naked]` in Rust has not been stabilized or fully specified, but it's best to assume it has the same restrictions.  It really ought to enforce them.

As an exception, it should be fine to use `const` operands in naked functions, since they are just expanded to a constant integer in the

[2020-08-06 01:22] comex commented on #73394
So, stabilizing this will allow `memoffset` to work without UB, but making it work as a constant expression will require two other features:
- `const_raw_ptr_deref`, since using the raw ref macros to go from a raw pointer to a raw pointer still requires a dereference operator: `ptr::raw_const!((*ptr::null::<Struct>()).field)`
- Some way to convert the resulting pointer into a `usize`: either `cons

[2020-08-06 01:55] pickfire commented on #75186
There are quite a few drop-in replacement for standard library. For example, hashbrown (merged), parking-lot, crossbeam, dashmap, async-std. They mainly exists because of the performance/ergonomics for the stuff in standard library could be improved. However, beef is not as straightforward and could not be a drop-in replacement because of the public API exposed for Cow, which is an enum is hard to

[2020-08-06 04:00] sanxiyn commented on #34902
We should use individual issues tagged A-reproducibility going forward. Closing.

[2020-08-06 04:00] #34902 closed

[2020-08-06 04:28] lzutao commented on #75186
Unlike hashbrown and other crates you mentioned, Cow has low usage in the wild.
Many cases I see that one could use it (in returned position) but they've just use Owned value for simpleness.

We could reduce Cow memory usage like beef::Cow by teach rustc to leverage padding field for enum tagging.
It could be a win for Result enum cases too.
However I don't know how complicated it is. That's quest

[2020-08-06 04:43] djrenren opened #75208 "Typechecker doesn't honor Deref as a trait bound on references"
I tried this code:

[code]

I expected to see this happen: Successful typechecking

Instead, this happened:
<img width="723" alt="image" src="https://user-images.githubusercontent.com/634666/89491662-c12c2100-d77d-11ea-990a-81123c62194b.png">

It seems the typechecker can't see that the Deref trait constrains the type of `*&p`. The typechecker thinks that we're trying to return `T` but we know tha

[2020-08-06 05:14] djrenren commented on #75208
Further reading up on the dereferencing operator makes it seem like this is intended (or at least specified) behavior, because `*x` is only semantically equivalent to `*Deref::deref(&x)` for non-pointer types ([ref](https://doc.rust-lang.org/reference/expressions/operator-expr.html#the-dereference-operator)).  but since there's [an impl for `&'_ [T]`](https://doc.rust-lang.org/std/ops/trait.Deref.

[2020-08-06 05:20] TimDiekmann commented on #74265
Especially with `AllocRef` using it, it would come in handy if we could also add

[code]

If we want this I'd make a PR.

[2020-08-06 05:39] nbdd0121 commented on #75186
This is not achievable I believe, because padding can be written to freely by codegen.

[2020-08-06 05:40] djrenren commented on #75208
Found the culprit: https://github.com/rust-lang/rust/blob/39d5a61f2e4e237123837f5162cc275c2fd7e625/src/librustc_typeck/check/place_op.rs#L21-L23

It seems we could solve this problem by resolving the impl of Deref first, then emitting that type (with no adjustments to the IR). However, maybe this is just too expensive and not worth it. Thoughts?

[2020-08-06 05:45] nbdd0121 commented on #75208
Sound plausible, but as you said this could potentially be expensive. I am not sure if this would needs a lang-team approval though. cc @nikomatsakis

@rustbot modify labels: +A-traits +T-lang

[2020-08-06 05:46] lzutao commented on #75186
Also unsafe code and MaybeUninit types.

[2020-08-06 05:46] marcospb19 commented on #74319
I ran into the same issue again.

This did not compiled:
[code]

But this did:
[code]

The signature:
[code]
---

I'm out of context, are there any other other opened issues referencing this problem?

Will [Polonius](https://github.com/rust-lang/polonius) be able to fix it?

[2020-08-06 05:51] nbdd0121 commented on #74319
No. As I mentioned earlier, the desugared code will use a mutable borrow before an immutable one, so this code should not compile, otherwise it is unsound in general. To make NLL work across autoderef would likely be a langauge-level major change because the compiler'll need to move the location of autoderef.

[2020-08-06 05:59] chansuke commented on #75080
Thank you for the detailed explanation. I would like to work on:

- library/core/src/mem/manually_drop.rs
- library/core/src/mem/maybe_uninit.rs

[2020-08-06 06:23] rocallahan commented on #64552
I spend hours trying to figure out an instance of this today :-(. My case minimized to
[code]
I eventually figured out how to work around it by boxing the stream to hide its inferred type:
[code]

[2020-08-06 07:23] RalfJung commented on #74265
Seems reasonable to me -- @Amanieu what do you think?

[2020-08-06 07:52] RalfJung commented on #73394
In the const lang-team meeting with @rust-lang/wg-const-eval we did make some plans towards unconst operations, but nothing has happened since then I think. See [the meeting notes](https://hackmd.io/7BPJmbPuTRKLzNZ5cEQ5MQ#what-are-open-questions-about-unsafe-const-fn).

[2020-08-06 08:48] RalfJung commented on #28728
Something is moving on the LLVM side: there's a proposal to add a function-level attribute to control progress guarantees. https://reviews.llvm.org/D85393

[2020-08-06 09:02] Nemo157 commented on #75186
Isn't that only struct padding? It seems like enum padding used to normalize the size of variants is different and must be retained in general (since it's only padding for some variants, and contains data in others). Which means that it should be possible to use as a niche.

[2020-08-06 09:10] psumbera commented on #74551
Just for record. Since there is no ASan for SPARC I have tried to run problematic rustc command with enabled ADISTACK and ADIHEAP (https://docs.oracle.com/cd/E37838_01/html/E61021/sysauth-adistack.html).

There is no difference with enabling or disabling them:

[code]

[2020-08-06 09:18] Nemo157 commented on #75186
(previously very briefly discussed at https://github.com/rust-lang/rust/issues/46213#issuecomment-394388912)

[2020-08-06 09:50] TimDiekmann commented on #74265
An alternative name would be `as_raw_ptr` to avoid confusion with `as_ptr`, which already returns `*mut T`.

[2020-08-06 09:59] mrclean71774 opened #75216 "Possible CString eq bug"
Not sure if this is the intended behavior or not.  It definitely is not the behavior I was
expecting.  While they are technically different, I assumed that a type made for foreign
function interface would stop at the first nil.

Sorry for wasting your time if this is not a bug and thank you all for your hard work on
an excellent language.

[code]

([Playground](https://play.rust-lang.org/?version=

[2020-08-06 10:04] jonas-schievink commented on #75216
The docs say:

So this seems to work as expected

[2020-08-06 10:15] mrclean71774 commented on #75216
Alright then I wasn't sure if the docs meant null bytes 'in' as in ['s', 't', '\0', 'n', 'g'] or at the end
as well.  The offending string came from Vulkan, so I blame my GPU.

[2020-08-06 10:32] #75216 closed

[2020-08-06 12:38] infinity0 opened #75219 "1.45.0 regression macro-related ICE on 32-bit arm/ppc in tests"
Didn't try on 1.45.2 yet but the failures seem unrelated to the things mentioned in the release notes.

[armel log](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=armel&ver=1.45.0%2Bdfsg1-1&stamp=1596692850&raw=0), [armhf log](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=armhf&ver=1.45.0%2Bdfsg1-1&stamp=1596690844&raw=0)

[code]

[2020-08-06 12:39] infinity0 commented on #75219
example:

[code]

[2020-08-06 12:48] infinity0 opened #75220 "1.45.0 regression asm-related ICE in tests on non-x86"
e.g. [s390x](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=s390x&ver=1.45.0%2Bdfsg1-1&stamp=1596694002&raw=0) [mips64el](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=mips64el&ver=1.45.0%2Bdfsg1-1&stamp=1596677047&raw=0) [ppc64](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=ppc64&ver=1.45.0%2Bdfsg1-1&stamp=1596665731&raw=0)

[code]

CC @Amanieu

[code]

[2020-08-06 13:34] infinity0 commented on #75219
Upon further investigation it seems that these failures also occur on [32-bit powerpc](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=powerpc&ver=1.45.0%2Bdfsg1-1&stamp=1596667509&raw=0) so not arm-specific.

[2020-08-06 13:36] infinity0 commented on #75219
Most (possibly all) of the error messages contain `thread 'rustc' panicked at 'assertion failed: self.ptr <= self.end', /usr/src/rustc-1.45.0/src/libstd/macros.rs:13:23`, @jonas-schievink can you please add the relevant tags?

[2020-08-06 13:41] xuzhenyu69 opened #75221 "Can rust realize cpp-like void* that pointer to any type of data type"

[2020-08-06 13:42] #75221 closed

[2020-08-06 13:43] calebcartwright commented on #74443
Can this be closed now?

[2020-08-06 13:45] jonas-schievink commented on #75219
Isn't that just pointing to one of the `panic!`-family macros?

[2020-08-06 13:48] tmiasko commented on #75219
The failing assertion looks like an issue that was fixed by #73237.

[2020-08-06 14:21] #59311 closed

[2020-08-06 14:24] infinity0 commented on #75219
@jonas-schievink from the history of some of those tests, they were moved from run-fail so I think panicing is the desired behaviour, however it appears in this case the panic is causing an ICE rather than "failing successfully".

@tmiasko OK thanks, I'll backport that and see if it solves the problem.

[2020-08-06 14:27] jonas-schievink commented on #75219
This is a metadata panic, actually

[2020-08-06 14:48] nagisa opened #75222 "Confusing type hints with per-method where-bounds"
The following code:

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2fe932e57a6ca751fd9f7bf1288f67da)

outputs the following error:

[code]

The `note` in this error is confusing as it only leads further away from the solution and is also difficult to read. In particular it is talking about trait bounds, but the `<&Peach as Fruit>::Error = _` presented

[2020-08-06 14:54] infinity0 commented on #75220
the pretty asm test was fixed in #73308 but the other two problems still remain

[2020-08-06 14:55] scottconstable commented on #74632
To summarize where we stand now, we have committed a patch to address the slowdown in the LVI LFENCE insertion algorithm. Krzysztof has committed several patches on the RDF side that reduce but may not completely eliminate the overhead for live variables analysis (see https://bugs.llvm.org/show_bug.cgi?id=46808). Maybe it would be good to take stock of where we stand right now with the compile tim

[2020-08-06 15:29] pnadon commented on #71193
I've done the initial renames, however outside of the two directories (`src/librustc_middle/mir/interpret` and `src/librustc_mir/interpret`) we had initially planned to work within, there are changes made in the following files:

1. `src/librustc_codegen_llvm/consts.rs`, lines {44, 52, 77, 455, and 483}, which all contain the `inspect_with_undef_and_ptr_outside_interpreter` function and thus must

[2020-08-06 15:31] oli-obk commented on #71193
clippy is not a submodule anymore. You can do these renames either here or in clippy as you prefer

[2020-08-06 15:33] pnadon commented on #73904
I apologize for this, but I should probably give up my responsibilities for `sys/wasi`, as I am busy with another issue.

I may take up the task again once I am finished with the other issue.

[2020-08-06 15:33] pnadon commented on #71193
Sounds good!

[2020-08-06 15:37] jyn514 commented on #75100
Another option since beta is coming up in ~3 weeks is to just eat the ICE and say that error -> ICE is better than working code to error :/ and then go back and fix the root cause later. The only ICE is from invalid code:

https://github.com/rust-lang/rust/blob/0f5be70ea4c3ec4544cdeb80e3138832e15815f9/src/test/rustdoc-ui/infinite-recursive-type.rs#L1-L4

[2020-08-06 15:43] spastorino commented on #75100
Assigning `P-critical` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375100.20async-std.20docs.20no.20longer.20build.20on.20recen.E2.80.A6).

[2020-08-06 15:54] pnadon commented on #71193
Upon further inspection it does not seem as though there are any references to the above functions within the Miri repository.

[2020-08-06 16:05] amluto commented on #72016
I don't see why Rust should emulate GCC here.  GCC's behavior is IMO utterly useless.  If the only valid thing to put in a naked function is asm without operands, then I see no reason to use a naked function at all.  Top-level `asm` or a real asm file seems just as powerful and less error-prone.

I'm suggesting that naked functions would be genuinely useful if they could contain a real body writte

[2020-08-06 16:07] xjkdev commented on #62640
I had a similar issue too.
Without type inference in `foo`, when calling `foo` twice, this code compiles.
[code]
However, if I leave `state` in `foo` to be type inferred, compiler complains a borrow-after-move error.
[code]

I dug into Mir of both code snippet, and found out that the type of `state` in the second code had expectedly inferred as `&mut i32`. In my opinion, there may be a bug in borr

[2020-08-06 16:10] RalfJung commented on #71193
That's great, it makes the rename easier. :)
Does your list contain all uses of "undef" in `src/librustc_middle/mir/interpret` and `src/librustc_mir/interpret`?

"initializedness" is awkward, so they should probably be reworded. But from what I can see there is just one occurrence of "definedness" left in the Miri folders:
[code]
I'd make this "an entire range of initialization bits" or so.

[2020-08-06 16:13] bjorn3 commented on #72016
Rust depends on LLVM, which is emulating GCC. This means that the inline asm implementation in Rust is unable to do anything that GCC doesn't allow.

[2020-08-06 16:13] cuviper commented on #74443
Yes, thanks!

[2020-08-06 16:13] #74443 closed

[2020-08-06 16:19] pnadon commented on #71193
Thank you for catching that, I'll look into it!

[2020-08-06 16:35] Nemo157 opened #75225 "rustdoc doesn't show explicit elided lifetimes in function signatures"
I tried this code:

[code]

I expected to see this happen: the documentation to show the explicit elided lifetime

Instead, this happened: the lifetime disappeared (https://docs.rs/tokio/0.2.22/tokio/net/struct.TcpStream.html#method.split)

If anything, to go with Rust 2018 idioms it seems like rustdoc should be _adding_ this explicit elided lifetime if it was left implicit.

### Meta

[code]

[2020-08-06 16:38] xacrimon commented on #48556
Is there any word on when we can stabilize instrinsics like https://doc.rust-lang.org/core/arch/x86_64/fn.cmpxchg16b.html ?
I am running into some issues implementing some lockfree algorithms without it.

[2020-08-06 16:56] pnadon commented on #71193
Miri builds successfully, I have double-checked my search through both directories and all references to "undef" refer to "undefined behavior" which (unless I'm wrong) is unrelated.

I have also changed the last remaining "definedness" to the recommended change.

If this all looks good I will open a PR with my changes.

[2020-08-06 17:09] Amanieu commented on #74265
I don't particularly care for the name bikeshed but I agree that this method would be useful.

[2020-08-06 17:10] tmiasko commented on #40156
The `Sender` is `!Sync` so the attached code is unsound and introduces a data
race by using a single sender from multiple threads without synchronization:

[code]

[2020-08-06 17:28] RalfJung commented on #71193
It sounds great, please open a PR. :)

[2020-08-06 18:14] comex commented on #72016
It is definitely an awkward design inherited from GCC.

There are a few inherent advantages of naked functions over top-level `asm`:
- They can be dead-code eliminated if unused.
- They can be generic, and they can reference their generic parameters in `const` operands, which amounts to rudimentary sort of templating system for asm functions.  It might be possible to enhance this in the future.
-

[2020-08-06 18:20] Amanieu commented on #72016
We have a special `sym` operand type specifically for this.

Also note that it should be possible to add support for both `sym` and `const` operands to `global_asm!` (and in fact I've mentioned this before as an obvious next step for the inline asm project group).

[2020-08-06 18:52] nbdd0121 commented on #75225
@rustbot claim

[2020-08-06 18:54] Amanieu commented on #75220
Fixed by #75227.

[2020-08-06 19:41] programmerjake commented on #72016
An additional benefit: the compiler handles name mangling and doesn't require an additional `extern` function declaration to be able to call it.

[2020-08-06 19:42] Arm1stice opened #75229 "ICE on save_anlaysis signature generation for StructVariant in Enum"
### Code

[code]

### Meta

[code]
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-06 19:43] Arm1stice commented on #75229
Probably needs the A-save_analysis label

[2020-08-06 19:51] programmerjake commented on #72016
For the next ISA that gets the new inline assembly, can that be PowerPC64? We ([Libre-SOC](https://libre-soc.org/)) are building a Libre-licensed PowerPC64LE CPU/GPU that uses Rust for a lot of the software we're writing. One thing we're currently using `llvm_asm!` for is testing our processor's instructions against a POWER9 server using [`power-instruction-analyzer`](https://salsa.debian.org/Kaza

[2020-08-06 20:02] programmerjake commented on #72016
Libre-SOC can potentially help fund implementing PowerPC64 inline assembly.

[2020-08-06 20:06] Amanieu commented on #72016
Adding support for a new architecture is actually quite straightforward since most of the work is already done in LLVM. You only need to make 2 changes:
- Add the register definitions to `src/librustc_target/asm/`.
- Add lowering to LLVM asm to `src/librustc_codegen_llvm/asm.rs`.

Have a look at #73214 which added inline asm support for Hexagon.

[2020-08-06 20:15] staring-frog commented on #46597
@DevQps sorry for terribly late reply (had a car crash). I haven't been using Rust and now I have no idea.

[2020-08-06 20:16] programmerjake commented on #72016
Sounds good! PowerPC seems likely to be quite a bit more complex since it has lots of weird SIMD registers and condition registers, so it is probably closer to x86 in complexity.

[2020-08-06 20:23] programmerjake commented on #72016
Created a tracking bugreport on Libre-SOC's bugtracker: https://bugs.libre-soc.org/show_bug.cgi?id=451

[2020-08-06 20:53] npmccallum commented on #72016
Agreed. I want to help here.

I took a stab at [writing an RFC](https://github.com/npmccallum/rust-rfcs/blob/naked/text/0000-constrained-naked.md). It needs more work, but I'd like to at least shop it around a bit first. Please let me know where I'm suggesting stupid things.

I think with the RFC above and a compiler-provided `offset_of!()`, we could be pretty close to something that's very usable

[2020-08-06 21:19] clehner opened #75230 "SIGILL in rustc_mir::interpret::intrinsics::numeric_intrinsic (clrldi) on PowerPC"
Hello,

I am unable to compile tokio due to rustc exiting with SIGILL. It appears to be related to the CPU instruction `clrldi` in the function `numeric_intrinsic` in file `src/librustc_mir/interpret/intrinsics.rs`.

### Meta

`rustc --version --verbose`:
[code]
`grep cpu /proc/cpuinfo`:
[code]

I get this error with rustup's stable and beta toolchain on powerpc-unknown-linux-gnu, and also with De

[2020-08-06 21:21] JohnTitor commented on #75131
Could you double-check that you have installed the dependencies and try to run `x.py clean` then re-build? https://github.com/rust-lang/rust#building-on-a-unix-like-system
I think it depends on your toolchains and you may be using stuff that we don't expect (actually, our macOS builders on pipelines build successfully).

[2020-08-06 21:34] kaimast commented on #68838
To add my two cents to this:

The [documentation](https://doc.rust-lang.org/std/macro.compile_error.html) currently states that `compile_error!` is _"the compiler-level form of panic!, but emits an error during compilation rather than at runtime"_.
I assumed that it would abort compilation just like `panic!` aborts execution. I think the behavior either needs to be changed as requested or, at leas

[2020-08-06 21:35] cuviper opened #75231 "`*a == *b` moves when dereferencing &Rc<RefCell<dyn Trait>>"
This bug report comes from a question in the users forum:
https://users.rust-lang.org/t/attempting-to-contain-an-rc-refcell-sometrait-in-an-enum-field-with-clone/46913

They had a problem with `#[derive(PartialEq)]` on an enum where one variant contains `Rc<RefCell<dyn Trait>>`, and there is a manual `PartialEq` for that `dyn Trait`. I looked at the macro expansion to see that it matches `ref` pat

[2020-08-06 21:52] comex commented on #72016
Ah, I see.

Possible, yes, but only by changing LLVM, since LLVM IR module-level assembly doesn't support operands and the alternative of pasting symbol names into the asm string wouldn't be sufficient to tell LLVM the target symbols must not be dead-code-eliminated.

[2020-08-06 21:59] Amanieu commented on #72016
It's just a matter of marking any symbols referenced by `global_asm!` as `#[used]`.

[2020-08-06 22:03] comex commented on #72016
@npmccallum

Nice!  I think that's already in shape to submit as an RFC PR.  I have some nits but will save them for that.

@Amanieu

Oh… you're right.  I was thinking that that would prevent the target from being eliminated even if the user was itself eliminated, but module-level inline assembly *can't* be eliminated as unused in the first place.  Welp, ignore me.

[2020-08-06 22:10] comex commented on #48556
Would stabilizing `AtomicU128` (theoretically tracked in #32976) satisfy your use case, or is there some reason you specifically need the x86 intrinsic?

[2020-08-06 22:11] camsteffen commented on #36861
Is there a way to handle this case that is cleaner than `path.parent() == Some(Path::new(""))`?

[2020-08-06 22:23] programmerjake commented on #72016
[&euro;400 of funding available!](https://users.rust-lang.org/t/twir-call-for-participation/4821/327?u=programmerjake)

[2020-08-06 22:35] xacrimon commented on #48556
That would do it as long as it has weak compare and exchange or compare and swap. I really just need a 128 bit compare and swap to fit a pointer a refcount. How is that implemented on archs like spark and ppc that don't support it that easily. LL/SC?

[2020-08-06 22:35] programmerjake commented on #72016
I agree, nice RFC! It looks reasonable to me.

[2020-08-06 22:36] Amanieu commented on #48556
`AtomicU128` will only be available on targets that support it. AFAIK that's only x86_64 and AArch64.

[2020-08-06 22:38] xacrimon commented on #48556
Ah, it could be theoretically implemented with doublewidth LL/SC on other architectures I think. Is that a possible thing to do?

[2020-08-06 22:40] Amanieu commented on #48556
Only AArch64 has 2x64-bit LL/SC.

[2020-08-06 23:10] jyn514 commented on #39726
FWIW, both @GuillaumeGomez and I agreed this would be a great improvement to rustdoc.

[2020-08-06 23:11] jyn514 commented on #39726
In an ideal world, we'd have go-to-definition in the source viewer ... but that's a [much larger project](https://github.com/rust-dev-tools/cargo-src).

[2020-08-06 23:14] jyn514 opened #75235 "Warn when a match can be made more specific"
Consider the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=59da5b9ce51cfbcbf13a1f4394e1ab99)):

[code]
This code gives no warnings. However, the `as_usize()` method is entirely useless, because the match can be rewritten to be more specific:
[code]
The compiler should give a warning in such a case.

[2020-08-06 23:15] jyn514 commented on #75235
To be clear, the warning should be a suggestion to change `x => x.as_usize()` to `E::B(x) => _`. The warning about `as_usize()` will show up automatically after that.

[2020-08-06 23:31] syntacticsugarglider commented on #74456
(copy-paste from [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/investigating.20obligations.20blowup/near/206206780))

at this point I think what's happening is that normalization generates a bunch of extra obligations. i'm getting output for example "with 885017 obligations" from here: https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_trait_selection/traits/

[2020-08-07 00:50] infinity0 commented on #75219
@tmiasko thanks, backporting #73237 directly on top of 1.45.0 seems to fix these failures. I also had to include 5ceff6b96af9a21e044545b9e064433feccaf659.

[2020-08-07 00:50] #75219 closed

[2020-08-07 00:53] infinity0 commented on #75220
@Amanieu thanks for the quick fix! Works over here on the Debian build machines.

[2020-08-07 01:10] nnethercote commented on #57374
I hit this today working on the compiler, calling a function with this signature:
[code]
I had no idea what "Bad higher ranked subtype error" meant, so I googled and found this issue, and concluded it was somehow related to lifetimes. After some experimentation I got this signature to work:
[code]
So it was a happy ending, but there was some wailing and gnashing of teeth along the way.

[2020-08-07 02:23] amluto commented on #72016
That looks decent if quite limited, except for one giant nit.  You say:

I suspect there are a few legitimate use cases for this, but I think you've ruled out almost all the useful cases.  For example, I don't think one could validly write an x86 interrupt handler or an SGX vDSO handlers while satisfying this requirement.  I would suggest fixing it by adding a companion feature and changing the wo

[2020-08-07 02:40] lzutao opened #75239 "Printing function address is confusing due to per-function ZST "singleton type""
I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=61fe688172759b7756e84751557e39ea

[code]

*I expected to see this happen*:
The compilation succeed or guide me to
 - (1) cast the `fn` to `*const ()` with `as`.
 - (2) borrow the `fn`: `&size_of::<Left>`. But in this case the addresses printed are the same (what?).
[code]

*Instead, this happened*:
Cryptic

[2020-08-07 02:40] comex commented on #72016
I like that idea.  Bikeshed: how about `extern "unknown"`?  With `"asm"` I'm worried people might think 'it has `asm!` in it so I need `extern "asm"`', or something like that.

[2020-08-07 02:55] programmerjake commented on #72016
me too!

I think `unspecified` is better than `unknown`, since `unknown` implies that no one knows what the calling convention is, whereas `unspecified` implies that you just aren't telling the compiler. Another probably even better option might be `custom`.

[2020-08-07 03:04] programmerjake commented on #72016
@npmccallum

I think you should just open a draft pull request with what you have now, then, once you finish filling in all the TBD sections, change it to a non-draft. This will allow us to critique your RFC there instead of filling this issue with comments that are borderline offtopic. Additionally, when more people come to look at your RFC, they will be able to see our comments instead of the co

[2020-08-07 03:04] #74829 closed

[2020-08-07 03:04] #74885 closed

[2020-08-07 03:04] #75062 closed

[2020-08-07 03:13] periodicaidan opened #75240 "Directly passing Rc::clone(...) to a function expecting Rc<dyn Trait> produces unexpected type error"
### Summary

Given some struct `S` that implements a trait `T`, attempting to pass `Rc::clone(&s)` (where `s` has type `Rc<S>`) as an argument that should have type `Rc<dyn T>` produces the compiler error, "expected trait object `dyn T`; found struct `S`". However, passing simply `s`, or storing the cloned `Rc` in a variable and passing that, produces no such error.

### Example

Below is a trivia

[2020-08-07 03:36] nikki-nn4 commented on #74442
I don't quite understand fmt internals, but _Make fmt::Arguments::as_str() return a 'static str._ seems unnecessarily restrictive. And it breaks [runtime-fmt](https://crates.io/crates/runtime-fmt) which depends on hidden apis e.g. Arguments::new_v1

[2020-08-07 03:57] Hyuuko commented on #62640
I think that is because when you specify the type, **reborrow occurs**. When you don't specify the type, the mutable reference will be moved into the function.

[2020-08-07 04:11] jgarvin opened #75241 "--pretty=expanded does not include macro definitions"
macro_rules macro definitions are not included in the pretty output, they seem to just disappear. I suspect this has something to do with macro_rules technically looking like a macro invocation despite being defined in the compiler, so the "expansion" of a macro_rules definition is to disappear. As you might imagine, macros that generate macros can be one of the more painful things to debug, so th

[2020-08-07 04:43] lzutao commented on #74442
`Arguments` cannot be generated at runtime because it cannot safely be done. So `as_str` returns `&'static str` makes sense.

[2020-08-07 04:49] Hyuuko opened #75242 "Compiles error when call the closure that need type inference with `&mut *b` twice"
I tried this code:

[code]

I expected to see this happen:
[code]

I modify it to:
[code]
Then I type `rustc --emit=mir .\src\main.rs` to generates `main.mir` and found that mir of `f1` and `f2` are exactly the same. The `foo(b);` in `f1` and `foo(&mut *b);` in `f2` both pass the reborrow of `b` into the function. However, the previous code failed to compile.😢

Instead, this happened:
[code]

###

[2020-08-07 04:51] #74999 closed

[2020-08-07 05:06] petrochenkov commented on #75241
Could you give a reproduction?
Macro definitions *are* printed, I've just checked on a simple example.

[2020-08-07 05:29] rakshith-ravi commented on #52544
Hey @Alexendoo. I've been meaning to fix this up. I've reached a point where I know exactly how to fix this as well. I just haven't found the time to fix this. Feel free to take it up, considering I wouldn't be having the time to work on this in the forseeable future.

[2020-08-07 05:42] joshtriplett commented on #31436
On Wed, Aug 05, 2020 at 02:29:06PM -0700, Niko Matsakis wrote:

As I recall, the primary concern was that allowing type ascription
everywhere would be a substantial grammar change, and potentially a
limiting one. I don't recall the full details, just that the concern was
raised.

[2020-08-07 06:00] JulianKnodt opened #75243 "Tracking Issue for `array_map`"
The feature gate for the issue is `#![feature(array_map)]`.

### Public API

[code]

### Steps / History

- [x] Implement it:  #75212
- [ ] Add in place optimization for same size & alignment (?)
- [x] FCP
- [ ] Stabilization PR #87174

### Unresolved Questions

How should order be documented/allowed for map? See https://github.com/rust-lang/rust/pull/75212#discussion_r468234354 for discussion.

[2020-08-07 06:12] Manishearth opened #75245 "Rename "important traits" to something better"
A lot of the feedback on https://internals.rust-lang.org/t/feedback-on-important-traits-rustdoc-feature/12752  had better suggestions for the "important traits" feature.

Some options were:

 - Featured traits
 - Key traits
 - Notable traits

My personal preference is for "notable traits" because "important" is a much stronger value judgement whereas "notable" basically means "we thought you shoul

[2020-08-07 06:40] #68874 closed

[2020-08-07 06:41] Amanieu commented on #72016
Discussion on naked functions should probably continue on one of these:
- `#[naked]` tracking issue #32408
- https://github.com/rust-lang/rfcs/pull/2774 a PR to update the naked function RFC.

[2020-08-07 07:53] xjkdev commented on #62640
@Hyuuko As far as I know, when calling functions or closures, the default behavior is to reborrow references into parameters. If the reference had been moved, it seems like a bug or a rare behavior to me. Is there any document addressing this move behavior?

[2020-08-07 07:55] dingxiangfei2009 commented on #72956
@tmandry I am interested in solving this issue or the related issue that you mentioned. I am still fresh in the desugaring process, so I would like to receive your mentoring instruction, if this issue has not been taken. Thank you!

[2020-08-07 08:09] GuillaumeGomez commented on #75245
I don't have strong feelings here but I think "Notable traits" is the best proposition out of the three.

[2020-08-07 08:12] GuillaumeGomez commented on #39726
Both are kinda independent, but having go-to-definition would definitely be a huge improvement for the doc sources overall. That's in loooooong TODO list and I hope to be able to get to it at some point.

[2020-08-07 08:16] RalfJung opened #75247 "rustc-dev does not contain enough to link against rustc libraries"
Ever since https://github.com/rust-lang/rust/pull/72000, it is not sufficient to install `rustc-dev` to obtain a toolchain where one can link against private rustc libraries (for tools like Miri or Clippy). One has to also install `llvm-dev`. This subverts the purpose of `rustc-dev`; from what I can see, that package on its own is basically useless now.

[2020-08-07 08:19] RalfJung commented on #75247
This is a duplicate of https://github.com/rust-lang/rust/issues/72564 which was closed as "expected breakage". IMO it makes sense to keep this open as there's clearly a bug here -- most of `llvm-tools` is useless for me, all I need is that one library to link against. And conversely, installing `rustc-dev` should be sufficient.

Maybe it would make sense to move that library to `rustc-dev`? If not

[2020-08-07 08:36] #75220 closed

[2020-08-07 08:36] #74034 closed

[2020-08-07 08:36] #74851 closed

[2020-08-07 08:42] Mark-Simulacrum commented on #75247
The problem is that (AFAIK) we can't duplicate the library without preventing installation of both. Currently llvm-tools-preview is much smaller than rustc-dev, and more likely for end users to install.

I see a couple of options:
 * Move the llvm file required to a core component, even though it's not actually needed
 * Move the llvm file to it's own component, asking both llvm-tools-preview and

[2020-08-07 09:21] lcnr commented on #75231
Is this a duplicate of #31740?

[2020-08-07 10:27] RalfJung opened #75251 "Tracking Issue for const MaybeUninit::as(_mut)_ptr (feature: const_maybe_uninit_as_ptr)"
This is a tracking issue for const `MaybeUninit::as(_mut)_ptr`.
The feature gate for the issue is `#![feature(const_maybe_uninit_as_ptr)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale

[2020-08-07 10:55] RalfJung commented on #72327
Is this related to or a duplicate of https://github.com/rust-lang/rust/issues/73288? Botha re about x87 floating point weirdness, from what I can tell.

[2020-08-07 11:07] RalfJung commented on #53605
In the const lang-team meeting with @rust-lang/wg-const-eval we did make some plans towards unconst operations, but nothing has happened since then I think. See [the meeting notes](https://hackmd.io/7BPJmbPuTRKLzNZ5cEQ5MQ#what-are-open-questions-about-unsafe-const-fn). The first step would be an RFC specifying what "UB during CTFE" means.

[2020-08-07 11:31] Plecra commented on #65798
The `DoubleEndedIterator` implementation seems counter-intuitive to me. I was under the impression that the trait was typically implemented where it could be done in a zero-cost way, like how slices are required to track their length anyway. Many of the `std` iterators could implement more of the iterator traits if they just tracked more state.

Is the `DoubleEndedIterator` implementation particul

[2020-08-07 11:31] RalfJung commented on #74939
That's not entirely correct. It will at some point be possible to create out-of-bounds raw pointers in const-eval (it might be possible already with enough hacks, I am not sure). Once that is possible, a pointer could be offset enough such that it is NULL at run-time but still non-NULL when checked during CTFE -- we cannot know if out-of-bounds pointers are NULL as that depends on their concrete b

[2020-08-07 11:33] RalfJung commented on #75196
This is an unsafe operation and thus likely also blocked on https://github.com/rust-lang/const-eval/issues/14.
Cc @rust-lang/wg-const-eval

[2020-08-07 11:40] canova opened #75252 "Implicit lifetimes of type parameters does not work"
This code should work:

[code]
([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8fe7cb7c98d5eeb7192763ebb7d92fc4))

Because, even though we don't assign `'a` lifetime to `K` and `V`, since we have `&'a K` `&'a V` in the signature, that lifetime should be implicitly assigned to them instead. Currently that does not compile and we get this error below:

[code]

[2020-08-07 11:47] jonas-schievink commented on #75252
I don't think this is supposed to work, implied bounds only work on impls

[2020-08-07 11:49] jyn514 commented on #75245
I agree 👍 , "featured traits" might be confused with cargo features and "key traits" has different connotations in my mind.

[2020-08-07 12:01] RalfJung commented on #75034
Cc https://github.com/rust-lang/rust/issues/71818: latest Ubuntu also does not have `python` any more by default, it seems.

So longer-term, I think it is clear that this should become `python3` eventually, as more and more distros no longer install Python 2 by default. The question is when is the right time for Rust to switch its shebang.

[2020-08-07 12:01] RalfJung commented on #71818
I think https://github.com/rust-lang/rust/issues/75034 is a duplicate of this.

[2020-08-07 12:03] RalfJung commented on #75109
FWIW, we have used this technique of merging no-yet-upstream-merged submodule updates into rustc master in the past in Miri. That was quite helpful when disentangling a mess of mutual dependencies. But we haven't done that in a while so I think these days we could live without being able to do that.

Cc @rust-lang/miri

[2020-08-07 12:04] RalfJung commented on #75156
Is this the Windows version of https://github.com/rust-lang/rust/issues/75034?

[2020-08-07 12:08] K900 commented on #75034
An alternative option would be to provide some sort of a wrapper script (`./x.sh`?) that effectively just does

[code]

[2020-08-07 12:19] clehner commented on #75230
More info about the CPU instruction `rldicl`:
[Documentation from IBM](https://www.ibm.com/support/knowledgecenter/en/ssw_aix_71/assembler/idalangref_rldicl_rletdword_instrs.html) says: "This instruction is defined only for 64-bit implementations. Using it on a 32-bit implementation will cause the system illegal instruction error handler to be invoked."

PowerPC User Instruction Set Architecture B

[2020-08-07 12:29] jyn514 opened #75254 "rustdoc: --show-coverage should show per-item, not per-file"
Currently, `--show-coverage` looks like this:
[code]
However, this isn't particularly helpful to the crate author - they know _some_ docs are missing, but not which ones. So it's hard to add the missing docs. It would be great if instead rustdoc showed this info per-item instead of per-file so you could tell which items were missing docs.

Originally reported in https://github.com/rust-lang/docs.r

[2020-08-07 12:32] jyn514 commented on #75254
Since this is nightly only there's no concern about backwards-compatibility, but it might also be nice to make this toggle-able with `--show-coverage=files` or `--show-coverage=items`.

[2020-08-07 12:38] xldenis commented on #74938
This will be solved in LLVM 12 as my commit missed the cutoff (it was before the issue was even filed)

[2020-08-07 12:43] GuillaumeGomez commented on #75254
I was thinking about the same thing: adding a "coverage level". I'm still think that we should rely more on the rustdoc warnings for this though (there is the `doc_missing` lint after all).

[2020-08-07 12:54] mati865 commented on #75156
@RalfJung it's entirely different. This issue is some kind of user environment issue.

There is no `python3.exe` in official Python packages for Windows:
[code]
Also tried official Python installed in Windows virtual machine and there is no `python3.exe` whatsoever.
MinGW python installed with MSYS2 provides both `python.exe` and `python3.exe`.

[2020-08-07 12:55] RalfJung commented on #75156
Oh I see. But if `python3` is the standard name on Linux for the Python 3 executable, then why do they use a different name on Windows...?

[2020-08-07 13:07] mati865 commented on #75156
🤷‍♂️ I'm not involved with the upstream Python 😄

[2020-08-07 13:08] RalfJung commented on #75156
IMO it would be good if someone who actually uses Python on Windows could bring this to their attention in their bugtracker. :)

[2020-08-07 13:15] jyn514 opened #75256 "There should be a rustdoc equivalent of RUSTFLAGS_NOT_BOOTSTRAP"
`RUSTDOCFLAGS` is completely ignored and RUSTFLAGS_NOT_BOOTSTRAP passes it to both rustc and rustdoc, which makes things harder to use (e.g. it recompiles libstd when it doesn't need to).

[2020-08-07 13:29] #70090 closed

[2020-08-07 14:00] protonesso opened #75258 "Cannot build fabricate/rust-installer"
Hi, I'm building my own Rust distribution (for my purposes). I've patched the compiler (rust-installer is untouched) and tried to run:
[code]
But it failed to build even for my host! (`x86_64-unknown-linux-gnu`)
Here's the output:
[code]
and other one
[code]

Rust version:
[code]

[2020-08-07 14:02] Mark-Simulacrum commented on #75258
Can you provide a link to the sources you're trying to build? What patches have you applied? It would also be helpful to see the whole output.

[2020-08-07 14:48] retep998 commented on #74875
This excerpt from MSDN might be relevant:

[2020-08-07 15:26] cuviper commented on #75231
I suppose it is a dupe, or at least close enough that it's probably the same root cause. The context is a little different here, since it came up as part of a derived implementation, which makes it even more troublesome.

BTW, changing the parameters to `&Rc<dyn Trait>` also fails the same way, so I guess that's a further reduction. Same for `&Box<dyn Trait>`, more like #31740, but it may be impor

[2020-08-07 15:29] cuviper commented on #31740
#75231 has a new example with `Rc` instead of `Box`, and this one came from a derived `PartialEq`.

[code]

[2020-08-07 15:30] #75231 closed

[2020-08-07 16:09] nbdd0121 commented on #75252
Actually I tested that example again and found that it does not work for both HashMap and BTreeMap, so that example is actually not a MCVE. So I created this MCVE from the original example:
[code]

`A` and `B` are identical, except that `impl<'a, T> C for &'a A<T>` does not have `T: 'a`. But for `&'a A<T>` to be well-formed, `T: 'a` must be implied. So they should perform the same?

[2020-08-07 16:25] jyn514 commented on #58699
@Manishearth and I discussed this again and decided it would be less surprising than the current behavior (@Manishearth himself made the same mistake in https://github.com/rust-lang/rust/pull/74470!) So I plan to implement this sometime soon.

[2020-08-07 16:31] protonesso commented on #75258
My patches: https://github.com/ataraxialinux/rustie/tree/master/stuff

[2020-08-07 16:41] cuviper commented on #65798
I think it would be strange if `array::IntoIter` *didn't* implement `DoubleEndedIterator`, as it would be deficient compared to slice and `Vec` iterators. There are plenty of standard iterators that already track extra state to support reversing -- e.g. `FlatMap` would both be a lot simpler if it didn't need that.

[2020-08-07 17:33] dmitry-zakablukov opened #75263 "Source file names are included into a release binary even if abort upon panic is enabled"
Good day!

I have found, that if a library contains code that may panic (slices, unwraps, etc.), then a filename of such source file will be included in a binary. Release build doesn't change this behavior, neither debug symbols stripping do.

I have tried to turn on "abort" for panic in release profile. Even though this resulted in a smaller binary size, it doesn't wipe out source file names from

[2020-08-07 17:43] TimDiekmann opened #75264 "Performance: `Layout::align()` can assume, that the alignment is a power of two"
An alignment is guaranteed to be a power of two. However without intrinsics it's not possible to use this guarantee when constructing a new `Layout` from an old one only changing the size. For testing I used the following code:

[code]

`dynamic_fast` assumes, that the alignment returned from `Layout` is a power of two. This results in [this assembly](https://godbolt.org/z/crEqz5):

[code]

While

[2020-08-07 17:48] Prabhakar-17 commented on #49638
@Alexendoo sorry, didn't find time to work on this one. if someone else is willing to pick it up please go ahead otherwise I will have time next weekend.

[2020-08-07 19:23] pnkfelix commented on #75100
Also, keep in mind that yet another option, which I think is similar (but maybe less risky), is to revert PR# #73566, with the intention of relanding a more robust version of the change once the bugs are ironed out. (The presentation given in an earlier comment's [discussion of a revert](https://github.com/rust-lang/rust/issues/75100#issuecomment-667984836) made it sound to me like it was a decisi

[2020-08-07 19:24] Moongoodgirl commented on #60447
I wonder if this is related to #57728? By the way, for that reason, don't run Rust things with `<&-`.

[2020-08-07 19:28] alex-700 commented on #72895
@CDirkx

There is another revision of the `hybrid_bitset` approach.
[code]

I dropped `is_ascii()` check, because we can consider that `LOOKUP` has an infinite number of leading zeros in the binary notation.

[2020-08-07 19:41] the8472 commented on #75243
A possible followup optimization: Perform this in place when `size_of::<T>() == size_of::<U>() && align_of::<T>() == align_of<U>()`, which can be checked at compile time. Together with RVO that might save a lot of extra stack space on large arrays.

[2020-08-07 20:01] jyn514 commented on #75100
We _could_ revert that PR, but then we'd have to revert every follow-up PR and re-open every issue that depends on it.

- https://github.com/rust-lang/rust/issues/75088
- https://github.com/rust-lang/rust/pull/73101
- https://github.com/rust-lang/rust/issues/71820
- https://github.com/rust-lang/rust/issues/71104
- https://github.com/rust-lang/rust/issues/65983
- https://github.com/rust-lang/rust/i

[2020-08-07 20:03] youknowone opened #75268 "Slicing after [u8]::first performs unnessessary bound check"
Playground link: https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=2e2d548aa3a7b89bfb074456d971450d

[code]
This slice always exists because of the branch, but it performs bound check.

Real case: https://github.com/RustPython/RustPython/pull/2077

[2020-08-07 20:20] eggyal commented on #74771
@rustbot modify labels to +A-runtime +O-macos

[2020-08-07 20:23] eggyal commented on #74640
Could #74771 be the issue underlying this?

[2020-08-07 20:33] jgalenson opened #75269 "Building cargo itself is non-reproducible"
My nightly script that builds rustc to check that its builds are reproducible recently discovered that the cargo binary differed.  A git bisect pointed to f6855eacd1544cea34134dfdb7c7f426e5b0442a, which updates cargo.  Bisecting that revision range led to rust-lang/cargo@0e26eae5c1c3928e65921c40a667248338a2a92b.

I can verify this by checking out cargo, making an exact copy of it in a different di

[2020-08-07 20:39] jonas-schievink commented on #75269
cc @ehuss

This might be a Cargo issue given that patch.

[2020-08-07 20:45] ollie27 commented on #75156
FWIW I've been running `py x.py` on Windows for ages with on issues. I don't have any `python3.exe`. I'm also not running in an MSYS2 environment.

As far as I can tell `x.py` doesn't care what your python binary happens to be called. I've just tested and even `pypy3.exe` works.

@Kixiron or @RDambrosio016 could you provide instructions for reproducing whatever issue you are having?

[2020-08-07 21:09] infinity0 commented on #34902
OK, well results for 1.45.0 say "unreproducible" again, and the auto-generated diff did not complete after 2 hours. Shall I open an issue for CI integration tests on this? If I understand correctly there are concerns about it taking up too much resources, or something.

[2020-08-07 21:11] poliorcetics commented on #75080
I'll take `library/std/src/path.rs`.

[2020-08-07 21:31] Frizi commented on #75268
Interestingly, following code seems to be properly optimized
[code]

[2020-08-07 21:39] rodrimati1992 commented on #75268
Another way to write that:
[code]
Before Rust 1.42.0:
[code]

[2020-08-07 21:56] tmiasko commented on #75230
Related LLVM bug report https://bugs.llvm.org/show_bug.cgi?id=46683.

[2020-08-07 23:29] matthiaskrgr opened #75273 "--cap-lints does not downgrade lint levels for subsequent lint control flags"
I order to silence all lints but one when using clippy, I can do something like `cargo clippy  -- -Aclippy::all -Wclippy::redundant_clone` however this does not work when a crate denys clippy lints!

Thus I tried to override the lint level to `warn` with `cargo clippy --  --cap-lints warn -Aclippy::all -Wclippy::redundant_clone` but the `-Aclippy.. -Wclippy..` flags do not affect messages that wer

[2020-08-08 00:21] jyn514 commented on #75100
I have an _extremely_ hacky fix for this in https://github.com/rust-lang/rust/pull/75127. Hopefully it will be enough to unbreak async-std before the beta release and then the compiler team will have more time to work on a more principled fix.

Anyone on compiler team want to review?

[2020-08-08 01:11] JohnTitor commented on #35941
I'm going to close this in favor of #72331 which implemented `cenum_impl_drop_cast` and #73333 which is tracking it. Feel free to re-open if I'm missing something.

[2020-08-08 01:11] #35941 closed

[2020-08-08 01:29] nu8 commented on #22529
https://github.com/rust-lang/rust/issues/52852
https://github.com/rust-lang/rust/issues/4287

[2020-08-08 01:30] nu8 commented on #36827
https://github.com/rust-lang/rust/issues/52852
https://github.com/rust-lang/rust/issues/4287

[2020-08-08 01:30] nu8 commented on #38591
https://github.com/rust-lang/rust/issues/52852
https://github.com/rust-lang/rust/issues/4287

[2020-08-08 01:30] nu8 commented on #4287
https://github.com/rust-lang/rust/issues/52852
https://github.com/rust-lang/rust/issues/4287

[2020-08-08 01:31] nu8 commented on #4363
https://github.com/rust-lang/rust/issues/52852
https://github.com/rust-lang/rust/issues/4287

[2020-08-08 01:31] nu8 commented on #52852
https://github.com/rust-lang/rust/issues/52852
https://github.com/rust-lang/rust/issues/4287

[2020-08-08 01:31] a-malyshev commented on #25289
for me (on Ubuntu), referencing lstdc++ made the magic.

Passing `RUSTFLAGS='-Clink-arg=-lstdc++'` (or changing configs accordingly) along with cargo commands can help.

[2020-08-08 01:32] clehner commented on #75230
@tmiasko thanks for the pointer. That looks like it may be the same underlying issue, in LLVM. As they reported not having the issue when using `-O2`, I tried changing the optimization level here. That makes my example program run, but I think that is just because the code path is optimized away entirely. After expanding the program to depend on input to ensure that `reverse_bits` is executed, unf

[2020-08-08 01:33] nu8 commented on #52852
I have linked a bunch of essentially duplicate issues, because I feel this is an
important problem. Because of this problem, Rust type checking is undecidable:

https://typing-is-hard.ch#rust

[2020-08-08 01:34] nu8 commented on #4287
I have linked a bunch of essentially duplicate issues, because I feel this is an
important problem. Because of this problem, Rust type checking is undecidable:

https://typing-is-hard.ch#rust

[2020-08-08 01:35] JohnTitor commented on #54510
Triage: #57827 is already "reverted" in https://github.com/rust-lang/rust/commit/6fae7db65d5f772cfbf116fbb9e5944447725289#diff-1910500d7497a3476e28b7c81e4954faR5 and we're on LLVM 10 now. I think there's nothing more we could do here? Closing.

[2020-08-08 01:35] #54510 closed

[2020-08-08 01:48] #47429 closed

[2020-08-08 01:49] rust-highfive opened #75274 "`miri` no longer builds after rust-lang/rust#75048"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#75048, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @eggyal, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-08-08 01:50] infinity0 commented on #68973
@mati865 Can you clarify what is supposed to work? Direcctly out-of-the-box, or adding `-lssp` to `RUSTFLAGS`? I am trying to cross-compile to target x86_64-pc-windows-gnu from host x86_64-unknown-linux-gnu, and getting the same error. Adding `-lssp_nonshared -lssp` into rustbuild's `builder.rs` as a patch gives me the same error as above:

[code]

I am using gcc-mingw-w64-x86-64-win32 with the wi

[2020-08-08 01:57] eggyal commented on #75274
Is https://github.com/rust-lang-ci/rust/runs/960062076#step:23:34066 the failing test at issue?

[2020-08-08 01:59] eggyal commented on #75274
Is https://github.com/rust-lang-ci/rust/runs/960369368#step:23:34066 the failure at issue?

[2020-08-08 02:02] Mark-Simulacrum commented on #75274
No, that builder is in the auto-fallible section. The problem is here:

[code]

We probably want to put a  `#[cfg(not(miri))]` on the llvm_asm in black_box. @RalfJung, I presume that's fine for miri? We don't want some sort of "black box intrinsic" I think since there's nothing for miri to really do

[2020-08-08 02:06] eggyal commented on #75274
For future reference, where did you see that log?  All the other CI tests that I can see passed.

[2020-08-08 02:15] Mark-Simulacrum commented on #75274
Issues like this one are "toolstate" issues; they're autofiled when tools break in the tools builders. That breakage, however, does not actually fail the builder, instead it just files this issue. This is because miri (and the other tools using this system) are out-of-tree, managed via submodules, and we don't want to be updating the submodules in more than one PR at a time generally speaking (tha

[2020-08-08 02:19] eggyal commented on #75274
Understood.  But to follow-up and fix, seeing the failing log (which you quoted above) is obviously helpful!  I can see that the test is failing on the [toolstate page](https://rust-lang-nursery.github.io/rust-toolstate/) but I can't see how to find that log?  Just wondering how I can find it in future.  Is it publicly available?  Couldn't the issue/comments that rust-highfive creates link to it?

[2020-08-08 02:24] infinity0 opened #75275 "-Csave-temps=on doesn't actually save anything"
#42864 doesn't work. I need it to debug a linker failure, to re-run the linker command. But the tempdir isn't there even when I pass `-Csave-temps=on`.

@slo1 @Mark-Simulacrum

[2020-08-08 02:24] eggyal commented on #75274
Got it, thanks.

[2020-08-08 02:33] infinity0 commented on #75275
Work around:

[code]

[2020-08-08 02:38] JohnTitor commented on #74734
The fix is backported to beta, closing.

[2020-08-08 02:38] #74734 closed

[2020-08-08 02:45] infinity0 commented on #68973
It seems that adding `-lssp` to `windows_gnu_base.rs` in `late_link_args` works. This results in it being passed after `-Wl,-Bdynamic` which is what is needed. Adding `-lssp` simply to `RUSTFLAGS` puts it before any `-Wl,-Bdynamic` that rust adds, and I suppose we don't want to stick `-Wl,-Bdynamic` in `RUSTFLAGS` because it will affect both static and dynamic builds, and we can't switch it back a

[2020-08-08 02:52] SOF3 opened #75277 "Suppress warnings caused by todo!()"
`todo!()` is often used to quickly fill expressions that the developer currently does not have time/want to finish. However, use of `todo!()` often leads to the `unreachable_code` warning since it panics and the subsequent is not executable.

It is currently possible to suppress this warning at the crate level, `#![allow(unreachable_code)]`, but this would result in suppressing legitimate unreacha

[2020-08-08 03:00] infinity0 commented on #68973
To be clear, Debian enables stack protector via CFLAGS. This is picked up by the `cc` crate, when it compiles `backtrace-sys` etc, which makes its way into `std` thereby causing this failure.

[2020-08-08 03:05] Mark-Simulacrum commented on #75275
Hm I am seeing the directory stick around at least, though on a trivial hello world file it is empty. I'm not sure yet if that's expected...

[2020-08-08 03:33] DemiMarie commented on #4287
The best option I can think of is to report an error if type checking takes too long.

[2020-08-08 04:05] infinity0 commented on #75275
I also tried a hello-world example but when passing `-Clink-arg=xxx` to force a linker failure, didn't notice any "/tmp" paths in the command output, so assumed it didn't need temp files. You can probably trigger it by running `RUSTFLAGS=-Clink-arg=xxx ./x.py build` or something.

[2020-08-08 04:08] infinity0 commented on #75275
Ah, the problem possibly is that the directory is only saved when rustc doesn't fail.

[2020-08-08 04:15] cuviper commented on #60608
This one isn't actually to mapping `Vec` indexes, but rather `param.index`, which isn't always the same.

The other examples and more are converted in #75278.

[2020-08-08 05:16] lcnr opened #75279 "Use revisions to test `min_const_generics`"
cc #74878

#74877 implemented `feature(min_const_generics)` which is split off from `feature(const_generics)`.

As these two features have some meaningful differences it is desirable to run try and run all const generics tests with both features.

This can be done using`revisions`. Some tests were already updated in #74877: https://github.com/rust-lang/rust/blob/f9c2177ddc605f9c75ca1a3e6ddb33835b8

[2020-08-08 05:21] olotenko commented on #28728
I am not sure why everyone (here and on the LLVM threads) seems to be emphasizing the clause about forward progress.

The elimination of the loop seems to be a direct consequence of a memory model: computations of values are allowed to be moved about, as long as they happen-before the use of the value. Now, if there is a proof there can be no use of the value, it is the proof that there is no happ

[2020-08-08 05:58] #75096 closed

[2020-08-08 05:58] #75225 closed

[2020-08-08 06:07] nbdd0121 commented on #75264
We could make assume const, similar to likely/unlikely in #73778.

[2020-08-08 06:12] nbdd0121 commented on #75277
`todo!()` gives a `!` and considering the code after it reachable would basically just mess up the reachability analysis. If you intend to fill it later, why would a warning do any harm?

[2020-08-08 06:27] TimDiekmann commented on #75264
It's possible to bypass this with `core::hint::unreachable_unchecked()` which is also stable:

[code]

which results in the [same assembly](https://godbolt.org/z/jxdvfh) as using `assume()`:

[code]

[2020-08-08 06:29] nbdd0121 commented on #75240
This is expected behaviour.

* Firstly you need to know that `Rc<Poem>` can converted to `Rc<dyn Readable>` by unsize coercion. However, `&Rc<Poem>` cannot be converted to `&Rc<dyn Readable>` via unsize coercion (this is double pointer already).
* Secondly, when you write `Rc::clone`, you actually ask for `<Rc<_> as Clone>::clone`, which involves type inference. Because coercion is not performed w

[2020-08-08 06:34] nbdd0121 commented on #75264
Ah indeed, and `core::hint::unreachable_unchecked` is unstably const already (#74459), so we can use that. But it wouldn't hurt to make `assume` unstably const anyway.

[2020-08-08 06:34] jyn514 commented on #74920
I'm going to close this because it's not a bug in rustdoc. Rustdoc does not guarantee the relative paths of URLs, if you want links to always work use intra-doc-links.

[2020-08-08 06:34] #74920 closed

[2020-08-08 06:42] TimDiekmann commented on #75264
I never understood, why we have `unreachable_unchecked` **and** `assume` as one could be implemented using the other. But, yes, it wouldn't hurt to make it const :wink:

[2020-08-08 06:43] simonbuchan commented on #47429
This single fix is likely to have the biggest positive effect on my use of Rust since async/await. Thank you so much!

[2020-08-08 06:45] nbdd0121 commented on #75264
That's simply because LLVM has an `assume` intrinsic (https://llvm.org/docs/LangRef.html), so there is a Rust version of it. Semantically `unreachable_unchecked` is more versatile but that would probably require LLVM to do some transformation to turn it into assume.

[2020-08-08 06:45] jyn514 commented on #74096
Duplicate of https://github.com/rust-lang/rust/issues/74031?

[2020-08-08 07:13] mati865 commented on #68973
@infinity0 I think `RUSTFLAGS=-Clink-arg=-lssp_nonshared -Clink-arg=-lssp`should work just fine.
This issue is about missing libssp from `rust-mingw` component which affects only Windows hosts.

[2020-08-08 07:37] RalfJung commented on #73722
There's no bug here, this is expected comparing function pointers should behave the same with or without the `usize` cast.

What is more surprising is that they print the same. This indicates that comparison is non-deterministic... which is rather problematic indeed, and could break plenty of LLVM optimizations.

[2020-08-08 08:03] RalfJung commented on #73722
Indeed this can be turned into a demonstration of non-deterministic comparison:
[code]
The second assertion fails, the first passes (in release mode on 1.45.2). That's no good. In principle this could lead to a soundness bug, though I am not sure if that can be actually done in practice.

Cc @rust-lang/wg-unsafe-code-guidelines @rust-lang/lang

[2020-08-08 08:09] RalfJung commented on #75274
There is no way Miri can support inline assembly, so yeah, a `cfg(miri)` sounds about right. I will submit a PR.

I hope that black_box was not added for soundness reasons; see https://github.com/rust-lang/rfcs/pull/2360 for a discussion on why that does not work.

[2020-08-08 08:15] RalfJung commented on #4287
(Rust typechecking being undecidable is not really a bug -- with a trait system as expressive as ours, this is to be expected.)

[2020-08-08 08:40] RalfJung commented on #28728
This statement is correct only if that computation is guaranteed to terminate. Non-termination is a side-effect, and just like you may not remove a computation that prints to stdout (it is "not pure"), you may not remove a computation that does not terminate.

[2020-08-08 08:52] eggyal commented on #75274
If by that you mean "to avoid UB", then no it certainly wasn't.  TCO of the `__rush_begin_short_backtrace` frame is sound, one just gets a full rather than short backtrace.

[2020-08-08 08:54] RalfJung commented on #75274
Yes that looks like a valid use of black_box, good. :)

[2020-08-08 09:09] reuvenpo commented on #47429
Awesome! I'm happy to see this finally fixed :D
Thanks to everyone who had a part in this fix :)

[2020-08-08 09:19] TimDiekmann commented on #74265
This issue now also tracks `NonNull::<[T]>::as_mut_ptr()`. I can't edit the OP as I'm not a collaborator of this repository.

[2020-08-08 09:20] lf- opened #75283 "ICE on function definition in extern blocks"
Hi! I encountered this ICE while putting bad code into my compiler while learning FFI for the first time. It also reproduced on stable 1.45.2, with the different location:

`thread 'rustc' panicked at 'index out of bounds: the len is 13 but the index is 25', /rustc/d3fb005a39e62501b8b0b356166e515ae24e2e54/src/librustc_hir/definitions.rs:347:9`

### Code

[code]

### Meta

`rustc --version --verbos

[2020-08-08 10:11] kinnison commented on #75247
Adding component interdependencies will be very difficult at this time.  Not impossible; but if we want to do it we'll need to organise quite a bit.  How large is this particular LLVM file?  If it's not more than a few megabytes (i.e. less than 10) it may make sense to move it to a more core component such as rustc for minimum pain right now.  However if it's large then that is less good.

Another

[2020-08-08 10:17] RalfJung commented on #75247
The current solution of installing `llvm-tools` alongside `rustc-dev` manually is not horrible for Miri; we have a script to automate that anyway. So resolving this is not urgent.

But I think this is still worth tracking, i.e., I disagree with the old issue being closed. Hence me opening a new one.

[2020-08-08 10:21] nikic commented on #75268
Based on a local test #74533 fixes this issue as well.