[2020-03-12 20:34] Mark-Simulacrum commented on #69953
Yes, I think it's true that we could catch this -- I'm less concerned about the "how to know this will happen," but more concerned about the fact that keeping code around to support self-bootstrap may not be viable in all cases (e.g., we used to and perhaps still use bootstrap libtest in compiletest or something like that).

OTOH, I believe it is true that such a check would push us to make sure t

[2020-03-12 20:40] thomasjfox commented on #69953
A similar issue has already been discussed previously:
"Rust 1.33 stable fails to compile itself" https://github.com/rust-lang/rust/issues/58845

Either way, the linked patch fixes the (trivial) issue.

Rust 1.42.0 compiles all the crates I've stored locally, good job with the release!

[2020-03-12 20:40] Dangthrimble opened #69962 "Problem installing Rust and running cargo on Windows 10 64-bit - wrong directory in path"
Today I followed the instructions for installing Rust on my Windows 10 64-bit PC. During the install it created the '.rustup\toolchains\stable-x86_64-pc-windows-msvc' directory then complained it couldn't find '.rustup\toolchains\stable-i686-pc-windows-msvc'. I created the latter and the install completed.

`rustup --version` works fine (rustup 1.21.1) but when I run `cargo --version` I get an err

[2020-03-12 20:44] cuviper commented on #69953
#68019 switched that to in-tree libtest, but lang differences still apply, like this paren warning.

@thomasjfox yeah, I thought I had suggested such a distcheck before... just need someone to get around to it, I guess, assuming we have a little bit of CI budget for the task.

[2020-03-12 21:19] jonas-schievink commented on #55979
The workaround of setting `LD_LIBRARY_PATH` sometimes breaks programs by making them load an incompatible library. It also seems no longer necessary on the current nixpkgs version.

[2020-03-12 23:13] cuviper commented on #68714
I just discovered the giant comment in commit 8b9c5396ca574fad9cc7b51d16c8c96e0ae74632, which is describing nearly the same issue. Perhaps better propagation of the library path will help improve that too.

[2020-03-13 00:34] Nadrieril commented on #69930
On a scale from 1 (only a few lines of code) to 5 (in-depth refactor), I'd expect 2-3 because it goes a bit against the grain of the uniformity of the exhaustiveness algorithm. It would be very easy to just detect uses of the `_` pattern for a type with the `#[rustc_exhaustive]` attribute. It's more painful to detect only those uses of `_` that occur after another concrete pattern.

The simplest i

[2020-03-13 00:42] varkor commented on #69930
I'm a bit dubious about how this would work in practice, because you're effectively special-casing the top level of pattern matching. Additionally, I'm not convinced that it's common to have data types which you _always_ want to exhaustively match on. If you want to do an exhaustive match, I think comments telling future contributors not to add a wildcard is enough, and it can be left to the revie

[2020-03-13 01:10] davidlattimore commented on #69798
From `git log abc3073c9..6d69caba1`, and without really knowing what's going on, 49c68bd53f90e375bfb3cbba8c1c67a9e0adb9c0 seems likely to me. It mentions removing MIR Drop terminators that will never be reached.

[2020-03-13 02:07] davidlattimore commented on #69798
Seems my guess was wrong. I ran cargo-bisect-rustc (neat command BTW). It reported the regression with commit d28560e660168b30af3b58167094aeb299bc2b58

[2020-03-13 03:49] Aaron1011 commented on #68841
The immediate cause of this is the fact that we call `with_reveal_all` during inlining:

https://github.com/rust-lang/rust/blob/54b7d21f59a363e53eb1c31d76b40af2ff99321c/src/librustc_mir/transform/inline.rs#L76

If we do this, we should also be normalizing the substs we pass to `Instance::resolve`, so that we reveal any opaque types. However, it looks like the opaque type occurs within a binder (du

[2020-03-13 05:32] Nugine opened #69970 "reordering type parameters causes const generics ICE"
### Code

[code]

### Meta

`rustc +nightly --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-13 05:46] slightlyoutofphase commented on #69943
FYI, this kind of thing compiles fine and does exactly what you expect it to do as long as you're not explicit about the constraints _inside_ the function body, and let the return type be inferred from what you've already declared it as.

[Here's a working playground link of your code,](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=83248eb79014ac860d145b6c9988ccbe) whe

[2020-03-13 05:49] comex opened #69971 "Unnecessary 'cannot bind by-move with sub-bindings' with `bindings_after_at`"
The following code [(playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fd86d6194ad9c73b31e4e9032e782d62) attempts to move a struct while using a sub-binding to copy one of its fields:

[code]

On nightly, it produces two errors:

[code]

However, it would be sound to allow this, since it's equivalent to copying the field before or after moving the struct.

[2020-03-13 05:57] SummerGram commented on #69844
Hi,
I would like to work on this issue.

[2020-03-13 06:13] contrun commented on #68437
Please give more context on this. I am not sure the error message of which test should be improved.

[2020-03-13 06:38] cksac commented on #69943
@slightlyoutofphase thanks, that works if no using `let` and `method call`. below will also fail to compiles

[code]

[2020-03-13 07:12] JohnTitor commented on #56229
It's still an ICE, note that we should build/run the snippet to check it ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=179337c2ff3cebb633e8c7720da1e46b)).

[2020-03-13 07:33] JohnTitor commented on #69970
It doesn't require feature flag.

[2020-03-13 08:28] sify21 opened #69972 "["the book" docs] the content of chapter 14.3 "Cargo Workspaces" is misleading about the "cargo new" command and the relationship of workspaces and crates"
In chapter 14.3, It's been said at the beginning that "A workspace is a set of packages".

However, following example says "we’ll create the adder binary crate by running cargo new", which is wrong because we're actually creating a package named adder containing one crate.

Similarly, the title "Creating the Second Crate in the Workspace" is better to be  renamed "Creating the Second Package in th

[2020-03-13 08:41] korken89 commented on #41775
Hi we hit this bug in the `stm32l4xx-hal` (https://github.com/stm32-rs/stm32l4xx-hal/pull/92), when the following code was added: https://github.com/stm32-rs/stm32l4xx-hal/blob/d3358d8de93251409033ac7bef9e3269adb97a0f/src/crc.rs#L138

Is there a known workaround for this?

[2020-03-13 09:09] JohnTitor commented on #69972
Hi @sify21, issue about "the book" should be reported to https://github.com/rust-lang/book, could you re-open there?

[2020-03-13 09:30] sify21 commented on #69972
ok

[2020-03-13 09:31] #69972 closed

[2020-03-13 10:54] Nadrieril commented on #69930
We may not need to special-case the top-level. For example, I would expect the following to trigger the lint:
[code]

[2020-03-13 11:17] oli-obk commented on #69908
This issue exists since 1.33: https://rust.godbolt.org/z/iktZhE

Simpler example:

[code]

I think we can lift this restriction entirely if the borrow is of a named local or isn't in a return expression.

[2020-03-13 11:17] oli-obk commented on #69908
cc @rust-lang/wg-const-eval

[2020-03-13 11:43] eddyb commented on #68437
@contrun This is more of the kind of issue opened to avoid forgetting about finishing some work, sorry for the confusion.

That is, this is @varkor leaving a TODO to themselves about improving the diagnostics from #68434.

[2020-03-13 12:02] contrun commented on #68437
Ok. I see. Thanks for the explanation.

[2020-03-13 13:03] oli-obk commented on #69574
Ok, so basically, when a lifetime error occurs, we should rerun the promotion check with const rules enabled, and if they succeed, suggest to insert an intermediate constant. Additionally, due to the fact that we don't have `const {}` blocks or generic constants, explain this limitation in the presence of generics in the to-be-promoted code.

[2020-03-13 13:17] eddyb commented on #41337
We could make this work the same we did for SIMD intrinsics:
https://github.com/rust-lang/rust/blob/54b7d21f59a363e53eb1c31d76b40af2ff99321c/src/librustc_mir/transform/promote_consts.rs#L219-L238

cc @Amanieu @oli-obk @ecstatic-morse

[2020-03-13 13:17] eddyb commented on #42974
Fix might be easy, see https://github.com/rust-lang/rust/blob/54b7d21f59a363e53eb1c31d76b40af2ff99321c/src/librustc_mir/transform/promote_consts.rs#L219-L238.

[2020-03-13 13:45] hanna-kruppe commented on #41337
Note that the current proposal for inline assembly includes `const <expr>` operands that explicitly are constant expressions, and [the prototype implementation treats them more or less as you describe](https://github.com/rust-lang/rust/pull/69171/commits/934ac1ca1eac86254c9592c903dcdc9ee10fdee4). I don't think it's worth doing the same for "legacy" inline asm.

[2020-03-13 13:59] eddyb commented on #41337
Oh, nice, for some reason I expected if that were the case we'd get a comment on these issues stating it, I should've checked first.

[2020-03-13 15:18] he32 commented on #65862
I've been continuing to track new rust releases, and now that it's cross-compileable again, I've made a new attempt with 1.41.1 and the internal LLVM, and I can no longer reproduce the problem; the rust build completes successfully, and the cross-built compiler can compile itself natively.

Therefore I'm closing this issue.

[2020-03-13 15:18] #65862 closed

[2020-03-13 15:22] slightlyoutofphase commented on #69943
Yeah, I guess that kind of direct "passthrough" where both functions have exactly the same generic constraints and the second one returns the result of the first doesn't work yet.

I feel like that's not a huge issue probably, though. The sort of syntax that does compile, i.e. the `let b = bar_ret(Foo::<5>, Foo::<3>);` is IMO likely the more common way of using const generics.

[2020-03-13 15:23] CAD97 commented on #35729
Is there any chance of providing a way of implementing `SliceIndex` in the future (or telling the coherence checker that the impls won't be expanded)? Because as it stands, it's impossible to have a custom index type and support indexing `str` by `ops::Range*` of the custom index type.

[2020-03-13 15:24] kdy1 commented on #48582
@Centril  Sorry for delay. I can't..

[2020-03-13 15:24] #48582 closed

[2020-03-13 15:35] Keruspe commented on #69953
1.42.0 compiles 1.42.0 just fine here if `deny-warnings = false`

[2020-03-13 15:37] Keruspe opened #69975 "1.43.0-beta cannot bootstrap itself"
Seems to be a cargo issue: `error: unknown `-Z` flag specified: config-profile`

Maybe cargo 0.44.0 should just ignore this flag with a warning instead?

[2020-03-13 15:42] eddyb commented on #68437
That said, if @varkor is too busy to work on this, you could talk to them on Discord or Zulip to see what their plans were to turn this into a mentored issue.

[2020-03-13 16:15] najamelan commented on #64496
I can't reproduce this  on rustc 1.43.0-nightly (c20d7eecb 2020-03-11) anymore. Stable 1.42 still has the issue...

[2020-03-13 16:28] slightlyoutofphase commented on #69943
Actually, wait, I was wrong, there's a way to make this work so that you're even able to call `bar_ret` from `bar_ret_2` exactly like in your last comment. You just need to declare a type alias like this:

`type MaxFoo<const N: usize, const M: usize> = Foo<{ max(N, M) }>;`

[Here's a working playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b1b060ef82fd7cf3a

[2020-03-13 17:00] est31 opened #69977 "panic location points to start of call chain instead of expect call"
In call chains, the newly stabilized feature to make panics point to useful locations doesn't report the actual call site of the expand/unwrap call, but to the start of the call chain.

[code]

It should rather point to the expect/unwrap instead. You can have multiple such expects/unwraps in your chain.

Edit: happens on latest nightly as well as on the 1.42.0 stable release.

[2020-03-13 17:00] est31 commented on #47809
cc #69977

[2020-03-13 17:02] bjorn3 opened #69978 "Wrong suggestion to call a function already called"
[code]

@rustbot modify labels:+A-diagnostics +D-confusing

[2020-03-13 17:14] Centril commented on #69977
cc @eddyb @anp

[2020-03-13 17:25] Centril commented on #69978
Could you provide a snippet to reproduce the problem?

[2020-03-13 17:38] bjorn3 commented on #69978
[code]

should reproduce this.

[2020-03-13 17:45] davepacheco opened #69980 "`rustc --explain E0117` confusingly refers to `Drop` trait"
The detailed help for compiler error E0117 opens with this summary:

The rest of the help output correctly (and clearly -- thank you!) explains what happened -- namely, that the user tried to violate the orphan rules for trait implementations.  However that first line is confusing since it's apparently unrelated and wrong.

Here's a simple chunk of code that generates error E0117 (as expected):

[

[2020-03-13 17:57] Patryk27 commented on #69943
Using a type alias is exactly what the [original RFC](https://github.com/rust-lang/rfcs/blob/master/text/2000-const-generics.md#equality-of-two-abstract-const-expressions) proposes to solve this issue.

[2020-03-13 18:11] autumnontape opened #69982 "E0597 sometimes appears instead of E0373 in cases where the solution is to add `move`"
This caused me a lot of grief when I was first learning Rust a few years ago, and now a friend is learning the language and has run into the same problem.

In my case, I had learned about `move` earlier, but it hadn't stuck with me because I hadn't understood closures' relationship with borrowing. In their case, they hadn't learned about `move` at all yet. In both cases, it took hours before we as

[2020-03-13 18:18] davepacheco opened #69983 "help text for `Send` trait bound mismatch is misleading"
This is a small issue but it cost me a fair bit of time and I thought an improvement here could help other new users.

Summary: when a caller tries to invoke a function with a trait bound that includes `Send`, but the caller's value is not `Send`, the error message says:

The problem here isn't (necessarily) that `T` cannot be sent between threads safely, but more precisely that the function expec

[2020-03-13 18:25] Centril commented on #69971
So the only interaction with `#![feature(bindings_after_at)]` here is that you're now allowed to mention bindings after `@`. The feature gate does nothing beyond removing a call to [`check_legality_of_bindings_in_at_patterns`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir_build/hair/pattern/check_match/fn.check_legality_of_bindings_in_at_patterns.html) which raises an error on any bind

[2020-03-13 18:27] slightlyoutofphase commented on #69943
Is it a purely technical limitation currently that it doesn't work with the "direct" use of `max` in the return type, then?

I can't imagine it's intentional when it seems like most people would basically expect the direct use to amount to being completely equivalent to the alias in practice.

[2020-03-13 18:33] eddyb commented on #60705
Updating the RFC's "v2" to "v0" as per https://github.com/rust-lang/rust/pull/57967#issuecomment-463596992 (should've done it back then).

[2020-03-13 18:33] xttjsn commented on #66617
Failed to reproduce the fix at [https://github.com/rust-lang/rust/commit/8aa9d2014f4e5258f83b907e8431c59a33acdae7](8aa9d20) 2020-02-21. Some attempts that I've tried:
[code]
It hasn't completed but I have waited for about 2 mins. So far `LLVM_module_optimize_function_passes` seems to be where the problem is.

[2020-03-13 18:53] nikomatsakis commented on #49708
I'm not really sure how we could do that without some kind of trait bound, unless the intent is to not permit generics to be bound to extern types. In particular, you could have `fn foo<T: ?Sized>(x: T) { let y = &x; ... }` today, so we'd have to exclude that `T` is an extern type somehow.

[2020-03-13 19:04] CAD97 commented on #49708
Well, not that exact formulation, as `error[E0277]: the size for values of type `T` cannot be known at compilation time` for `note: all local variables must have a statically known size`/`help: unsized locals are gated as an unstable feature`.

What is allowed is `unsafe fn foo<T: ?Sized>(x: *const T) { &*x; }`. If we want to get _super_ language lawyer-y about it, we could say that a reference to

[2020-03-13 19:39] autumnontape commented on #69982
There are other kinds of error that can appear in cases like this, such as E0506 in the case below. My feeling is that adding `move` should be suggested always or almost always in cases where a borrow involved in the error is the result of a closure capture.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8602116d14e892556b60f6aa6f001f1d))

Errors:

[

[2020-03-13 20:40] eddyb commented on #60705
I've just submitted the last patch, "[[PATCH] Support the new ("v0") mangling scheme in rust-demangle.](https://gcc.gnu.org/pipermail/gcc-patches/2020-March/542012.html)", to the `gcc-patches` mailing list (yes, the demangler used by `binutils` and `gdb` is in `libiberty`, the main copy of which is in GCC - would've been much easier to contribute to it otherwise, *oh well*).

If everything goes we

[2020-03-13 21:21] eddyb commented on #69977
This is because of the `Span` of the call is the whole expression.
Diagnostics also run into this, but at least there you can see the whole range, not just the starting point.
We could make `core::panic::Location` keep a range but that would increase its size.

For method calls, it would be ideal to point to the method identifier, but propagating that information through MIR might be non-trivial.

[2020-03-13 21:54] mbilker commented on #34538
In a previous issue regarding Windows XP fallback implementations, MrAlert did this a little bit lower-level so it is definitely possible [1].

[1] https://github.com/rust-lang/rust/issues/26654#issuecomment-119450378

[2020-03-13 22:09] mbilker commented on #34538
Though, after looking at that implementation again, I would not use it because the keyed events APIs are undocumented.

[2020-03-13 22:24] #69395 closed

[2020-03-13 22:24] #58490 closed

[2020-03-13 22:24] #60390 closed

[2020-03-13 22:24] #62504 closed

[2020-03-13 22:24] #67739 closed

[2020-03-13 22:24] #69092 closed

[2020-03-13 23:41] Tom-Phinney commented on #49434
See also [Avoiding "mutably borrowed" with std::mem::replace()](https://users.rust-lang.org/t/avoiding-mutably-borrowed-with-std-replace/39411)

[2020-03-13 23:49] NicholasSterling commented on #49434
This came up with `std::iter::repeat_with()` in a case where the provided closure calculates the new state based on the old state:
https://users.rust-lang.org/t/avoiding-mutably-borrowed-with-std-replace/39411

[2020-03-14 00:34] varkor commented on #68437
The idea is essentially this. We currently emit errors telling the user that the generic arguments they provide are in the wrong order: https://github.com/rust-lang/rust/pull/68434/files#diff-5df0144261224cec2047029de05fa827R107
However, what we'd like to do is suggest reordering the parameters, and let rustfix automatically apply the suggestion.

I don't have the bandwidth to work on this at the

[2020-03-14 00:44] wesleywiser commented on #66402
Using `cargo-bisect-rustc`, I discovered that this was fixed two days later in `nightly-2019-11-15`. It looks like #66378 was responsible for fixing this.

[2020-03-14 01:27] contrun commented on #69980
I just checked the only place out of sync is the description in the markdown file. I created a pr for that. https://github.com/rust-lang/rust/pull/69991

[2020-03-14 02:02] #64224 closed

[2020-03-14 02:02] #64222 closed

[2020-03-14 02:24] kornelski commented on #56700
This is still a problem, and it still hurts new users ([today's example](https://users.rust-lang.org/t/demo-of-a-viable-beginners-process-for-constructing-a-simple-functional-program/39448/10?u=kornel))

[2020-03-14 02:26] ayushmishra2005 commented on #61137
@GuillaumeGomez I am picking E0693. I will link PR, once it is done.

[2020-03-14 02:50] kornelski commented on #68677
Still not up to date after 1.42 release: https://doc.rust-lang.org/robots.txt

[2020-03-14 03:23] Ralith opened #69994 "fn item can't coerce to trait object when a trait bound has a lifetime parameter"
[code]

fails to typecheck with the errors:

[code]

If `Trait` does not have a lifetime parameter, or if `func::<i32>` is replaced with `|x| func::<i32>(x)`, the example compiles successfully.

### Meta

`rustc --version --verbose`:
[code]

[2020-03-14 03:37] Globidev commented on #69994
I tried to understand what rustc was doing here by implementing the `Fn*` traits on nightly:
[code]
and this yields a similar error

It would compile if what was generated was more along the lines of
[code]
But I'm not sure I really know what that would imply

[playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=a003f4737f34dac9f011c0f1e224c511)

[2020-03-14 05:10] #69672 closed

[2020-03-14 05:45] s97712 commented on #58554
I using std::panic::set_hook capure and filter errors

[2020-03-14 08:19] RalfJung commented on #66151
git2-rs [needed some adjustment](https://github.com/rust-lang/git2-rs/commit/d70b64599a080ea91f6052cb234a4a485f5dcdff) to work even with the minimal checks that have already landed, which is good enough for now but even those adjustments will nut suffice once we properly check enums. The reason for this is that [ctest uses `mem::uninitialized()`](https://github.com/gnzlbg/ctest/issues/90) to test

[2020-03-14 09:56] Centril commented on #53275
Thanks, cc @JohnTitor

[2020-03-14 10:14] ayushmishra2005 commented on #61137
@GuillaumeGomez next I am picking E0634. I will link PR, once it is done.

[2020-03-14 10:58] danielhenrymantilla commented on #69994
This seems related to:

[code]

failing because even if the `where` clause on `'a` is met for all lifetimes `'a`, Rust still considers that the hrtb signature does not match / typecheck.

[2020-03-14 11:02] RalfJung commented on #69855
Blocked on https://github.com/rust-lang/rust/pull/69999

[2020-03-14 11:09] petrochenkov commented on #47358
I'll close this in favor of https://github.com/rust-lang/rust/issues/55414 where the discussion regarding cases like this case is happening.

[2020-03-14 11:09] #47358 closed

[2020-03-14 11:27] petrochenkov commented on #59011
This works as expected.

*Both* `macro x`s are in scope when we are resolving `x!()`.
The first one is in scope because macros 2.0 provide *definition site* hygiene (so stuff like [this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a6102ea66b540b34af80a749347c25c8) works) and it's in scope at definition point of `macro y`.

In the first example the inner `macro x` shado

[2020-03-14 11:27] #59011 closed

[2020-03-14 12:20] petrochenkov commented on #63882
Diagnostic improvements strike again:
https://github.com/rust-lang/rust/blob/42ce9b4e9054d63c8f352f994e2d5dae7d04130f/src/librustc_resolve/lib.rs#L2186-L2191

[2020-03-14 12:29] Mark-Simulacrum commented on #68677
AFAICT, the relevant change has not yet made it into stable, but is in beta and nightly. I expect that means that we should get the robots.txt file populated appropriately in roughly 6 weeks. Closing this as fixed for now, if it's still wrong after 1.43 is released we can reopen (though ideally on rust-central-station, and not here, as remaining work should happen there).

[2020-03-14 12:29] #68677 closed

[2020-03-14 12:58] petrochenkov commented on #63882
Fixed in https://github.com/rust-lang/rust/pull/70000.

[2020-03-14 13:59] eddyb commented on #61486
These tests fail with `-Zsymbol-mangling-version=v0`:
[code]

Maybe we should start adding revisions that use `-Zsymbol-mangling-version=v0` to all const generic tests and FIXMEs pointing to this issue for the ones that don't work?

<hr/>

More specifically, what I did to test this was replace `Legacy` with `V0` here: https://github.com/rust-lang/rust/blob/42ce9b4e9054d63c8f352f994e2d5dae7d04130f/

[2020-03-14 14:09] petrochenkov opened #70001 "[x86_64-pc-windows-gnu] Nightly regression: `rustc` hangs on multiple tests from the UI test suite"
This is a regression from the last couple of days.
Looks like the compiler `WaitForSingleObject` for something forever.
Curiously, the run with `-Z time-passes` completes successfully.
I'll investigate in more detail.

The list of tests:
[code]
All of the tests are supposed to report errors.

[2020-03-14 14:21] petrochenkov commented on #70001
Here's the backtrace:
[code]

[2020-03-14 14:24] petrochenkov commented on #70001
Looks like this is caused by the recent unwinding changes.

cc https://github.com/rust-lang/rust/pull/67502 @Mark-Simulacrum @Amanieu @mati865

[2020-03-14 14:28] petrochenkov commented on #70001
Toolchain version on which this reproduced:
[code]

[2020-03-14 14:44] Amanieu commented on #70001
Does this happen with stage 1 rustc or stage 2 rustc?

[2020-03-14 14:46] petrochenkov commented on #70001
Stage 1, e.g.
[code]

I'll check stage 2 now.

[2020-03-14 14:58] petrochenkov commented on #70001
(https://github.com/rust-lang/rust/pull/67502 is confirmed to be the cause, removing `E-needs-bisection`.)

[2020-03-14 15:00] Amanieu commented on #70001
I have a pretty good idea of what the problem might be. I'm traveling right now but I'll try to have a PR up by tonight.

[2020-03-14 15:20] oli-obk commented on #31434
CTFE forbids comparing pointers for equality, since two pointers being unequal may arbitrarily change to the two pointers being equal depending on various factors (e.g. different constants sharing the same memory or not depending on whether they were instantiated in the same crate).

Should we thus also exclude raw pointers from `#[structural_match]`?

[2020-03-14 15:30] petrochenkov commented on #70001
The issue doesn't reproduce with a stage 2 compiler.

That's great news long term, but broken stage 1 still makes any compiler work involving testing hard.

[2020-03-14 15:52] crlf0710 opened #70002 "Update to Unicode 13."
Now that Unicode 13 is released, maybe we should bump the unicode version.

[2020-03-14 15:55] jonas-schievink commented on #70002
https://github.com/rust-lang/rust/pull/69929

[2020-03-14 15:59] eddyb commented on #61486
I've just noticed a potential issue with the syntax:
[We support `p` after the "basic type"](https://github.com/alexcrichton/rustc-demangle/blob/c4e3ab004edda9fbe5e2d8149d2b62c10668d10b/src/v0.rs#L946-L947) (currently only unsigned integers).

As a type, `p` means "placeholder" and is printed as `_`.
This is useful for e.g. a `static` inside a generic `fn`, because it doesn't depend on the `fn'`s

[2020-03-14 16:06] eddyb commented on #60705
Potential change we might want to make to const value mangling: https://github.com/rust-lang/rust/issues/61486#issuecomment-599085848.

The tricky aspect is whether we change the way `_: usize` is encoded today, from `jp` to `p`, or we leave it as-is so that demanglers can keep working unchanged.

[2020-03-14 16:14] varkor commented on #68977
Assigning to myself so I don't forget, but I'm not sure I'll be able to get to this very soon, so if someone else wants to take it, you're welcome to.

[2020-03-14 16:43] #69957 closed

[2020-03-14 17:23] Amanieu commented on #70001
@petrochenkov I don't have a Windows machine to test on right now, but can you try marking `do_try` and `do_call` with `#[inline(never)]` in src/libstd/panicking.rs to see if that fixes the issue?

[2020-03-14 17:26] est31 commented on #70002
@jonas-schievink That PR is missing https://github.com/rust-lang/rust/blob/9e6fb538f9254884ca9f958fdce413d6c3f2016c/src/librustc_parse/lexer/unicode_chars.rs

newest list is https://www.unicode.org/Public/security/13.0.0/confusables.txt

See also  #51080

[2020-03-14 17:54] petrochenkov commented on #70001
@Amanieu

It does!
Thanks for a workaround.

[2020-03-14 18:01] Mark-Simulacrum commented on #70002
cc @estebank @rust-lang/wg-diagnostics re:confusables list

[2020-03-14 18:27] est31 commented on #70002
It's a bit tough because that list isn't automatically generated, or it has been at a point in the past but since then it has been manually edited and changed. Those amendments are valuable and should not be lost by an automatic regeneration. One could think about having two lists though, one automatically generated, the other with the rust-specific edits/improvements.

[2020-03-14 18:33] petrochenkov commented on #68853
Fixed in https://github.com/rust-lang/rust/pull/70006.

[2020-03-14 18:39] petrochenkov commented on #46079
Treatment of ambiguity items was changed in https://github.com/rust-lang/rust/pull/57199.
Now they do not result in `Def::Err` and are mostly treated as their primary item (modulo reporting ambiguity errors), this corresponds to the second of the "possible solutions".

This means that the original reproducer now reports an error because `V` in the pattern is treated as a variant `E1::V`.

The only

[2020-03-14 19:07] petrochenkov commented on #69301
The `futures` crate doesn't use `$crate`, it uses `::futures` literally.

So this is not an issue in `rustc`, closing.

[2020-03-14 19:07] #69301 closed

[2020-03-14 19:19] petrochenkov commented on #67778
Further reduced:
[code]

[2020-03-14 19:44] ecstatic-morse commented on #54384
Yep. It'll be a few days, however.

[2020-03-14 19:55] rust-highfive opened #70007 "`clippy-driver` no longer builds after rust-lang/rust#69076"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#69076, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritizati

[2020-03-14 21:28] kpp commented on #64496
I can't reproduce this on rustc 1.43.0-nightly (564758c4c 2020-03-08) either.

[2020-03-14 21:33] petrochenkov commented on #67778
Fixed in https://github.com/rust-lang/rust/pull/70011.

[2020-03-14 21:56] GuillaumeGomez commented on #66632
Indeed! Thanks for the info @contrun !

[2020-03-14 21:56] #66632 closed

[2020-03-14 22:01] GuillaumeGomez commented on #61137
@ayushmishra2005 Sorry, completely fell behind. Updating the issue. Thanks a lot for working on this issue! :)

[2020-03-14 22:34] lcnr commented on #66359
used in https://www.reddit.com/r/rust/comments/f5nw1o/why_does_rust_infer_when_the_generic_type_cannot/

[2020-03-14 22:48] daboross commented on #62220
Looks like this was fixed at some point. The following minimal example ICEs on nightly-2019-06-26, but doesn't on nightly-2020-03-11:

[code]

[2020-03-14 23:59] Aaron1011 commented on #67893
This no longer ICEs on the latest nightly.

[2020-03-15 10:05] lcnr commented on #69970
I am currently working on this

[2020-03-15 10:45] lcnr commented on #69970
@varkor, my first idea was to fix this ICE locally by offsetting `i` in line 1318 for each wrongly placed const param.

https://github.com/rust-lang/rust/blob/7cdbc87a49b0b705a41a004a6d486b0952521ae7/src/librustc_typeck/collect.rs#L1291-L1318

This only moves the error further back.

https://github.com/rust-lang/rust/blob/7cdbc87a49b0b705a41a004a6d486b0952521ae7/src/librustc/ty/subst.rs#L544-L561

[2020-03-15 12:55] hniksic opened #70019 "Spurious warning when cloning `Copy` member of packed struct"
I expected the following code to compile without warning:

[code]

However, with Rust 1.41 it warns:

[code]

Without `clone()` the warning is correct because `println!()` takes the a reference to the packed value and passes it to the formatting mechanism, which can cause unaligned access. However, I would expect `clone()` to copy the underlying value  and pass that to `println!`.

I am aware that

[2020-03-15 13:00] jonas-schievink commented on #70019
I think the problem here is that `clone` takes `&self`, and that reference might be unaligned, which is unsafe.

[2020-03-15 13:08] Centril commented on #67893
Let's see if we can shrink https://github.com/gilescope/rust-async further so that we can add a test.

@rustbot ping cleanup

[2020-03-15 13:14] hniksic commented on #70019
@jonas-schievink That is acknowledged in the second-to-last paragraph of the description. The`clone()` implementation is not supplied by the user, it is provided automatically. Since Rust knows how to copy the value safely and without warning, shouldn't it be able to clone it the same way?

[2020-03-15 13:17] jonas-schievink commented on #70019
If you call `clone`, you implicitly create a reference to the value, and then it's already too late since the reference might not be properly aligned, which is UB

[2020-03-15 13:45] akiross opened #70021 "Compiler error wrongly suggests to borrow"
We noticed that if a `HashMap<&str, T>` is instanced and a get is performed using `String` as a key, the rust compiler suggests to use a reference `&String` instead, but that solution won't compile.

For example, given this code
[code]
<version>
[code]
<backtrace>
[code]

[2020-03-15 13:50] Amanieu opened #70022 "Statics don't support alignments larger than the page size"
Example code:
[code]

Output:

[code]

I am not sure about other platforms, but in the case of Linux this happens because the [ELF loader](https://github.com/torvalds/linux/blob/master/fs/binfmt_elf.c) in the kernel ignores the `p_align` field of the ELF program headers and assumes page-alignment instead.

[2020-03-15 13:54] hniksic commented on #70019
That is the case for user-provided functions, but `u64::clone` is an intrinsic provided by the compiler. For `Copy` types, `Clone` simply copies the value, so cloning is exactly as safe as copying.

[2020-03-15 13:56] sfackler commented on #70019
No, it is not: https://doc.rust-lang.org/src/core/clone.rs.html#181-186

[2020-03-15 14:13] hniksic commented on #70019
@sfackler I stand corrected, but note that `clone` is still provided by Rust, not by the user. The implementation does the same kind of copying that `foo.memb + 0` would do, right?

[2020-03-15 14:18] #65437 closed

[2020-03-15 14:18] #67360 closed

[2020-03-15 14:18] #55853 closed

[2020-03-15 14:18] #69980 closed

[2020-03-15 14:33] hanna-kruppe commented on #69946
Aside: LLVM also supports emitting object files into memory (just pass a `raw_string_ostream` instead of a `raw_fd_ostream`), so if this feature gets implemented for cranelift codegen and helps there, it might help LLVM codegen too.

[2020-03-15 15:09] steveklabnik commented on #11207
Great! Let's close in favor of those.

[2020-03-15 15:09] #11207 closed

[2020-03-15 15:10] steveklabnik commented on #39610
Okay, looks like we're passing then! Giving this a close unless anyone else can reproduce.

[2020-03-15 15:10] #39610 closed

[2020-03-15 15:12] steveklabnik commented on #38540
Okay! No worries. I'm going to close this then, if you or anyone else can reproduce this issue, let me know and we'll re-open!

[2020-03-15 15:12] #38540 closed

[2020-03-15 15:15] bjorn3 commented on #69946
We may want to only do this when the total size of all codegen units is below a certain threshold to reduce max-rss for big crates like `script` and `rustc`. (Assuming that LLVM performs the archive building in a streaming way like cg_clif.)

[2020-03-15 15:20] varkor commented on #69970
I think the _right_ fix for this would be to make sure we can handle generic parameters in any order — there's no technical reason the parameters should be in a fixed order; it's just historical. This would involve doing what you started with, and fixing each problem in turn. However, I don't know how many things still rely on this order, so it could be an involved task.

For a shorter-term fix, w

[2020-03-15 16:00] bjorn3 opened #70025 "Rustdoc doesn't show src button for many functions in the rustc docs"
https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/hir/map/struct.Map.html

![image](https://user-images.githubusercontent.com/17426603/76705195-77637100-66de-11ea-93cd-6d28b229d89f.png)

[2020-03-15 16:13] bjorn3 commented on #70025
@rustbot modify labels:+A-rustdoc

[2020-03-15 16:18] najamelan commented on #55938
I think this is broken as of stable 1.41 (haven't double checked version exactly), which is a regression. It broke my CI on stable... It is a little annoying to work around. You must not use a cargo feature to turn this on, lest `--all-features` now doesn't work anymore on stable and you must always run rustdoc with `cargo +nightly doc`.

@yandros posted a workaround for avoiding enabling with a f

[2020-03-15 16:46] kpp opened #70026 "Infinite recursion resolves in a non-failing program"
I tried this code:

[code]

I expected to see this happen: stack overflow in both debug and release mode. Or at least some kind of an error.

Instead, this happened:

Stack overflow in debug:

[code]

A non-failing but not valid program in release: https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=796b538d2a378aa6b93c58d139b8907d

### Meta

`rustc --version --verbose`:

Sin

[2020-03-15 16:50] jonas-schievink commented on #70026
Duplicate of https://github.com/rust-lang/rust/issues/28728

[2020-03-15 16:50] #70026 closed

[2020-03-15 16:54] kpp commented on #70026
Thanks!

[2020-03-15 17:02] varkor opened #70027 "rustdoc has incorrect spacing for `repr` attributes"
See https://github.com/rust-lang/rust/pull/69686/files#diff-21534ccecd1da87ab2d0cbabae0ca694R19 for an example.
[code]
There should not be a space between `align` and the opening parenthesis.

[2020-03-15 17:02] steveklabnik commented on #49494
This no longer reproduces due to changes in the crates used. @spease if you're still seeing this, please let me know how to reproduce this bug. Until then, I'm gonna give this a close. Thank you!

[2020-03-15 17:02] #49494 closed

[2020-03-15 17:27] #69855 closed

[2020-03-15 17:35] kpp commented on #70026
@jonas-schievink Which kind of UB is it? "Invoking undefined behavior via compiler intrinsics."?

[2020-03-15 17:54] jonas-schievink commented on #70026
It's a bug in rustc/LLVM

[2020-03-15 18:57] staktrace commented on #69933
I used `cargo bisect-rustc` to narrow the range to dd155df0a..158127853

[2020-03-15 18:58] staktrace commented on #69933
Therefore regression from #66364, cc @Centril

[2020-03-15 19:02] Centril commented on #69933
cc @eddyb @petrochenkov

[2020-03-15 19:10] joshlf opened #70030 "Failure to unify concrete type with associated type"
I tried [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d2e06fa09bf3b1123cc6e62e1a31c595):

[code]

I expected to see this happen: It compiles properly

Instead, this happened: It fails with the following error:

[code]

However, if I un-comment the code labeled "Compiles" above, which simply wraps the same expression in a bare function, it compiles successfully

[2020-03-15 19:11] eddyb commented on #69933
I'd say this is a pre-existing save-analysis bug that was exposed by #66364.

`rustc_save_analysis::span_utils::SpanUtils::sub_span_of_token` should handle source files missing, which might require `retokenize` to return `Result`.

[2020-03-15 20:01] cynecx opened #70031 "Suboptimal diagnostics with closure return type (type-mismatch)"
[code]
Compiler:
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3edfbadcd8f9c9363d6f402bb3818fcb

`rustc 1.43.0-nightly (c20d7eecb 2020-03-11)`

The diagnostic is at first very confusing because the span doesn't seem to be right, as the type mismatch has nothing to do with `v.iter()`. In my opinion the correct diagnostic would be to span the entire closure.

[2020-03-15 20:04] TheViolence commented on #69933
Same here:

## Code
[code]

## Meta
[code]

## Output
[code]

[2020-03-15 20:40] #46079 closed

[2020-03-15 20:40] #68853 closed

[2020-03-15 20:40] #67778 closed

[2020-03-15 21:08] eddyb commented on #69933
Actually, this doesn't have to fail at all either, it's just hardcoded to non-external files:
https://github.com/rust-lang/rust/blob/e0f5df017368dc3f7cb458fc6d5a5e0420e1d2e5/src/librustc_parse/lexer/mod.rs#L49-L54

Before checking for the source, it would need to do this:
[code]
And then something like this to handle both local and external sources: https://github.com/rust-lang/rust/blob/e0f5df017

[2020-03-15 22:54] jonas-schievink commented on #57972
I think I can say fairly confidently that `OnMove` is not going to happen. It has been discussed and rejected many times in the past already.

It looks like supporting this for self-referential generators would run into https://github.com/rust-lang/rust/issues/63818 too, so limiting it to movable generators seems like the only option. A simplification would be to first limit it to `Copy`able gener

[2020-03-16 00:11] davepacheco commented on #69980
Thanks!

[2020-03-16 01:17] qnighy commented on #70019
Your code is equivalent to `Clone::clone(&f.memb)`. The problem is that even `let x = &f.memb;` is UB.

[2020-03-16 01:49] dtolnay commented on #63221
I think it's worth considering the following fourth approach, not that I necessarily think it's the best one but it is missing above.

### Alternative 4: Prepending outer attributes as inner

[code]

This is analogous to how `#[attr] mod m {}` ⟷ `mod m { #![attr] }` are interchangeable.

Compared to alternative 3, this is less likely to make existing proc macros "work by accident" but it enables m

[2020-03-16 02:12] Centril commented on #70019
Closing as not-a-bug.

[2020-03-16 02:12] #70019 closed

[2020-03-16 02:57] oberien opened #70035 "OOM (huge memory usage) during release compilation with include_str of 100MB"
When compiling a project of mine, my PC with 32GB of RAM went OOM. I reduced the problem to the following code:

[code]

Compiling this code with `/usr/bin/time -v cargo build --release` shows a maximum resident RAM usage of 16GB if testdata is generated with `python -c "print('foo bar baz qux 1337 42\n' * 4_500_000)" > testdata` (103MB). In debug mode, only 1.3GB RAM are used. It doesn't matter i

[2020-03-16 06:22] #69559 closed

[2020-03-16 07:38] dylanmckay commented on #44052
The AVR backend has now been enabled as an official LLVM target :tada:

[2020-03-16 07:41] FrankvdStam commented on #44052
Nice! Thanks for all the effort you're putting into this.

[2020-03-16 09:18] jmlMetaswitch commented on #62924
Can we also get `take` forms that remove the entry at the same time? They are particularly useful in algorithms that repeatedly process the max/min and may add entries during that processing. I think that suggests (from the above) `max_key_value`, `max_entry`, `take_max_key_value` and the equivalent for `min`.

[2020-03-16 09:48] JTKBowers opened #70037 "Internal compiler error after a trait/struct rename."
Rustc segfaults after a trait/struct rename.

I tried this code:
## Reproducing
This bug only seems to occur when changing from one version of code to another. Both code snippets compile successfully with a clean build.

1.  `cargo new rustc-repr`
1. Add the following to `main.rs`:
[code]
1. `cargo run`
1. Change main.rs to contain:
[code]
1. `cargo run`

I expected to see this happen: Code compil

[2020-03-16 10:23] main-- commented on #70035
Automated testing:

[code]

[code]

[2020-03-16 10:24] Zoxc commented on #69596
Fixed by https://github.com/rust-lang/rust/pull/68944.

[2020-03-16 10:24] #69596 closed

[2020-03-16 10:33] jonas-schievink commented on #70035
Duplicate of https://github.com/rust-lang/rust/issues/52380

[2020-03-16 10:35] ssomers commented on #62924
I didn't add those back then because I thought they were intended to be, used through the entry API. But [using that in practice](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8efc36c4d0a2440d17b68faa7c2a988b) seems more complicated than I would want. There's no entry concept in BTreeSet, so `pop_X` seemed the only option there.

I wouldn't start mixing the naming scheme

[2020-03-16 10:39] jonas-schievink commented on #70037
Duplicate of https://github.com/rust-lang/rust/issues/62649

[2020-03-16 10:39] #70037 closed

[2020-03-16 11:01] mati865 commented on #70022
Slight offtopic but windows-gnu `rustc 1.43.0-nightly (c20d7eecb 2020-03-11)` hangs trying to compile this code:

<details>
<summary>Stack</summary>

[code]

</details>

[2020-03-16 11:44] #70001 closed

[2020-03-16 11:54] oberien commented on #70035
I don't think, that this is the same bug. Reproducing the case in #52380 with the 100MB file only results in "only" 670MB RAM being used ("for comparison, include_str just with a hello-world requires 670MB"). Compiling a plain hello world takes 115MB of RAM. While this means that including a file increases the RAM usage by roughly 5 times that file's size, it's nowhere near the factor of 160 times

[2020-03-16 12:01] jonas-schievink commented on #70035
I'm pretty sure they're caused by the same thing though. This one does look like a pretty hefty regression though, so reopening.

[2020-03-16 12:58] ssomers commented on #62924
In the rust code base, there's only one use of this new API: [`last_entry`](https://github.com/rust-lang/miri/blob/master/src/shims/fs.rs#L59). But anyone could have a `feature(map_first_last)`, so not something I'd want to change without blessing.

By the way, that use would be slightly simpler if we had a `last_key` too. Should we? Is `last_key` trivial while `pop_last` would be worth while?

[2020-03-16 13:28] ghedo opened #70041 "ICE when building docopt with rustc nightly on Travis CI"
As of rustc 1.43.0-nightly (45ebd5808 2020-03-15) the Travis CI builds of https://github.com/cloudflare/quiche are failing due to rustc crashing. The crash happens when building the `docopt` crate, which is a dependency of one of quiche's subcrates.

Unfortunately I wasn't able to reproduce this locally, so I can't try the latest master or try to prepare a minimal reproducer, but I can reproduce t

[2020-03-16 13:31] ghedo commented on #70041
FTR, the docopt crate was last updated almost a year ago, so this is not due to some new code there https://crates.io/crates/docopt

[2020-03-16 13:49] ssomers commented on #62924
And then there's the "_key_value" suffix. `get_key_value` was added recently next to `get` (which returns only the value), and it obviously needed some different name. Plain `last` or `max` returning key and value, next to the mutable `last_entry` or `max_entry`, seemed overly terse and somewhat inconsistent, so it got the same "_key_value" suffix.

But `pop_last` or `pop_max` doesn't have that te

[2020-03-16 14:19] arthurprs commented on #67266
I think this can be closed now that #69858 is merged.

[2020-03-16 14:49] #67266 closed

[2020-03-16 14:59] Centril commented on #70041
Let's see if we can shrink the input to something suitable for a regression test.

@rustbot ping cleanup

Also cc @Zoxc

[2020-03-16 15:13] Zoxc commented on #70041
This seems to be an issue with https://github.com/rust-lang/rust/pull/68944. It could be we're calling `hir_owner` with something that isn't an HIR owner, in which case it should be changed to return `None` instead of panicking. It's odd that it can't be reproduces though.

[2020-03-16 15:18] najamelan commented on #55938
Further breakage comes with `cargo test`. If using the workaround posted by @yandros, `rustdocflags` will be enabled for doc tests, so `cargo test` will no longer work on stable.

[2020-03-16 15:31] Zoxc commented on #70041
I can reproduce it by `cargo build` on https://github.com/docopt/docopt.rs.

[2020-03-16 15:47] pnkfelix commented on #70021
According to [godbolt](https://godbolt.org/z/FFmj46), we started making this misleading suggestion back on Rust version 1.18.

(The code will compile if you use `&*s`.)

Interesting, Rust [version 1.17](https://godbolt.org/z/XPzRYC) uses a different suggestion strategy that does, by change, hit a suggestion that would work:

[code]

[2020-03-16 15:53] ghedo commented on #70041
I just realized I wasn't actually using rust nightly when I tried to reproduce locally :man_facepalming: so that explains that...

[2020-03-16 15:57] GuillaumeGomez commented on #51743
This diagnostic issue is still present. Should we open an issue for it? Meanwhile, I'll reopen the issue with a different title (please close it when the other "clean" issue) has been open.

[2020-03-16 16:27] Minty-He opened #70044 "(maybe) found a bug within borrow checker"
I tried this code:

[code]

I expected to see this happen: print 1 then 0.

Instead, this happened: compile error

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-03-16 16:31] steffahn opened #70045 "Type Parameter Name becomes “_” in Part of Error Message"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bc4501ab19de8c78f0c5326351412108))

Errors:

[code]
Above, note the “consider giving `x1` the explicit type…” part of the error message, where it mentions `E`, but in the type we only have a `_`.

In a more straightforward case (without the array) the error message is
[code]
which makes a lot more sense,

[2020-03-16 16:54] steffahn commented on #70045
Further examples might include:
[code]
where it is not 100% clear from the hint, that only first `E` is meant, and that they are different.

Or even worse:
[code]
which gives:
[code]

[2020-03-16 16:59] Manishearth commented on #51743
I don't think it's helpful for triage or in general if the issue text and discussion is still focused around the former. Anyone can open the diagnostics issue as a separate one if they wish.

[2020-03-16 16:59] #51743 closed

[2020-03-16 17:03] GuillaumeGomez commented on #51743
Opening a new issue with just saying "the diagnostic is bad" didn't seem very helpful to me considering that it might be very tricky to fix in here. So I was hoping someone with more insight knowledge might open another issue with some ideas in order to, if not starting a debate, propose an better diagnostic. Anyway, I'll open the issue with just "the diagnostic is bad" then to not lose track of i

[2020-03-16 17:03] M-PC commented on #51743
Close it, thank you

On 17 Mar 2020 1:01 a.m., "Manish Goregaokar" <notifications@github.com>
wrote:

[2020-03-16 17:06] GuillaumeGomez opened #70047 "Bad diagnostic for match ergonomics"
This is a reopening of https://github.com/rust-lang/rust/issues/51743 to not lose track of the diagnostic issue which still remains to this day.

Match ergonomics can create quite confusing errors.

For instance:
[code]
([playground](http://play.rust-lang.org/?gist=60bcff8572f84305326419697eb11df6&version=stable&mode=debug))
gives the following error message:
[code]

This error message is not even

[2020-03-16 17:34] Centril commented on #70044
cc @nikomatsakis @lqd @matthewjasper

[2020-03-16 17:40] Centril commented on #70045
cc @estebank

[2020-03-16 17:41] jonhoo commented on #69785
@nikomatsakis Interestingly enough, an inherent method like that does not reproduce the issue, so it appears the existential type in associated type position is also needed.

[2020-03-16 17:43] Centril commented on #70047
Diagnostic on nightly:
[code]

[2020-03-16 17:44] Centril commented on #70047
Do you have any suggestions as to what the error message should say in the best of worlds?

[2020-03-16 17:55] varkor commented on #70047
I imagine some of these confusing errors are really due to https://github.com/rust-lang/rust/issues/64586. I think we should try to fix that one.

[2020-03-16 18:07] dtolnay commented on #70041
Minimized:

[code]

[code]

[2020-03-16 18:18] connorskees opened #70050 "Negative numbers are not correctly identified as literals inside macros"
Negative numbers are no longer parsed as literals when used as a parameter to a macro inside a macro. This appears to be a regression from stable to nightly.

According to cargo-bisect-rustc, https://github.com/rust-lang/rust/pull/69023 is responsible (thanks to @jebrosen for helping with this on the Rust discord)
Specifically, the changes to [this function](https://github.com/rust-lang/rust/pull/

[2020-03-16 18:28] jebrosen commented on #70050
Strange, with `58b834344 2020-02-05` I can compile this successfully. Here's my `cargo-bisect-rustc` report, after originally narrowing it down from `2020-01-25` to `2020-02-14`:

[code]

My reason for interest in that particular line is that it appears to be the only change that isn't related to `async` or `const`, but it *is* related to literals.

[2020-03-16 18:31] jonas-schievink commented on #70050
cc @Centril

[2020-03-16 18:44] Centril commented on #70050
Note to self: "this function" refers to `pub fn can_begin_literal_or_bool(&self) -> bool`.

[2020-03-16 18:59] M-PC commented on #70050
It changes, and fixing

On 17 Mar 2020 2:45 a.m., "Mazdak Farrokhzad" <notifications@github.com>
wrote:

[2020-03-16 19:51] rust-highfive opened #70055 "`miri` no longer builds after rust-lang/rust#67133"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#67133, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @oli-obk, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-03-16 20:16] GuillaumeGomez commented on #70047
I think a "bigger" error message explaining what the compiler did and what the user needs to do precisely here might be required.

[2020-03-16 20:43] Aaron1011 commented on #64926
@Centril: In https://github.com/rust-lang/rust/pull/64906#issuecomment-537589127, you said:

Since this PR was merged, https://github.com/rust-lang/libc/pull/1536 was merged, which takes advantage of this feature. Do you still want an RFC prior to stabilization? If so, I'd be happy to start writing one up.

[2020-03-16 21:05] H2CO3 commented on #44052
Very cool!

[2020-03-16 21:14] pnkfelix commented on #53957
I switched ISPs recently and I am now observing this problem on my local MacOS development box.

Needless to say, it is annoying.

I want to try to reconstruct the history of how we even got here.
 * At some point, this test was added as part of PR #23097, which replaced a `rsplitn(2, ':')` call deep in the guts of some addr parsing logic with `rsplitn(1, ':')`, with the claim that this would stop

[2020-03-16 21:19] pnkfelix commented on #53957
Perhaps most importantly, the conversion in question does not return `Err` as far back as Rust 1.2.0 for me (`rustup` for some reason does not let me download versions 1.0.0 nor 1.1.0). I suspect this continues to be the same ISP dependent behavior.

[2020-03-16 21:30] pnkfelix commented on #53957
The next question I have is: Why isn't this invalid input causing an error prior to the attempt to do a DNS resolve?

Interestingly, the original test case filed in issue #23076 does seem to behave as expected on my MacOS machine: an attempt to evaluate  `UdpSocket::bind("1200::AB00:1234::2552:7777:1313:34300")` returns `Err(Os { code: 49, kind: AddrNotAvailable, message: "Can\'t assign requested

[2020-03-16 21:41] stepancheg commented on #53957
Some context: my provider had a "feature": it resolved any DNS name to its own name, so opening a website with misspelt name opens a page with lots of ads.

See the `dig` output above: it was the DNS server who successfully resolved the name `random::junk`, not the macOS.

A user cannot bind a socket to a non-local address if I got your comment correctly, that's expected behavior.

[2020-03-16 22:01] mimoo commented on #59125
any timeline on when this will be fixed? (Our current solution for LeakSanitizer to ignore this issue is to have backtrace in a suppression file.)

[2020-03-16 22:29] Centril commented on #70047
@GuillaumeGomez That's not really actionable as a specification I could go implement though. Could you try to take the diagnostic on nightly and adjust it to your preference?

[2020-03-16 23:52] aklitzke opened #70059 "Must use type parameter on struct to use in impl"
### Code

Lets say I have a trait which doesn't require any reference to a `Self`:

[code]
and I want to use this trait in an impl, but don't need an instance of it in a struct anywhere:
[code]

[The code fails to compile](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=64ef6ef6609a57e655bfbb8b6e26f911), complaining that `Kid` is unconstrained. However, `Kid` _is_ utilized

[2020-03-17 00:03] jonas-schievink commented on #70059
Language changes like this need an RFC, so closing in favor of that.

[2020-03-17 00:03] #70059 closed

[2020-03-17 00:05] aklitzke commented on #70059
If anyone else runs into this, it looks like a slightly better solution is to use [PhantomData](https://doc.rust-lang.org/beta/std/marker/struct.PhantomData.html).

[2020-03-17 00:31] andll opened #70060 "Pattern matching on constant in nested macro invocation"
I am not sure if this is bug or known issue, but I came across strange behavior when trying to match constant expression in macro:
[code]
This code works just fine, as expected - it matches constant 0 and prints "_0"

However, if the same thing invoked through nested invocation, it does not longer work:
[code]

Error I get is this:
[code]
Is this a known behavior? Is there way to pattern match `0`

[2020-03-17 00:56] varkor commented on #64586
@Centril pointed out that currently, `y` acts differently to `mut y` in patterns, with respect to references (which is absurd). Under my proposed behaviour, the following:
[code]
would not type-check, because `mut y` would have type `&u32`, but unfortunately it does. I'm not sure how much can be done in light of this.

[2020-03-17 01:03] antoyo commented on #70047
@Centril:
Something along those lines (probably adjusted to take match ergonomics into account, though) that you can get by [adding the `*` to disable the match ergonomics](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=271c48d29f0e84d9752cd3988195827e) and you get an error that gives a better hint at what to fix:
[code]

[2020-03-17 02:26] Centril commented on #70047
I did some quick investigation of strategies to fix this issue. Unfortunately, the way the type checker is setup today, `check_expr_path` does not care about the input expected type and is only in synthesis mode (in bidirectional type-checking terms). It is when type checking the `Some(_)` expression (where `_` is a hole for the `value` path expression) that the actual type error occurs, and so we

[2020-03-17 04:42] Aaron1011 opened #70065 "Confusing error message with `str::parse`"
The following code:

[code]

gives the following error message:

[code]

The bound `(): std::str::FromStr` appears seemingly out of thin air. We should explain where the type `()` and trait `std::str::FromStr` come from.

The `()` appears to be produced by never-type fallback, which was quite surprising to me.

[2020-03-17 05:23] #69485 closed

[2020-03-17 05:23] #63882 closed

[2020-03-17 06:08] BartMassey commented on #43244
But… it *has* to be named `draintain()`! No other name is as beautiful!

[2020-03-17 06:33] Centril opened #70069 "Possibly improve the `err.stash(...)`ing API's macro friendliness"
E.g. consider implementing https://github.com/rust-lang/rust/pull/69537#issuecomment-593082200 at some point. Right now, we will allow overwriting a stashed diagnostic, so when combined with macros, the diagnostics after the first one will be of worse quality.

[2020-03-17 06:48] dakom opened #70070 "error when compiling with --allow warnings and --target wasm32-unknown-unknown"
When I set `RUSTFLAGS="--allow warnings"` and try to `cargo build --target wasm32-unknown-unknown` I get the following error:

[code]

rustc 1.43.0-nightly (564758c4c 2020-03-08)
cargo 1.43.0-nightly (bda50510d 2020-03-02)

[2020-03-17 06:57] dakom commented on #70070
Workaround in the meantime is to add `quiet` feature and `#![cfg_attr(feature = "quiet", allow(warnings))]`

[2020-03-17 07:12] larkbyte commented on #70044
this snippet compiles with `-Zpolonius`

[2020-03-17 10:39] jonas-schievink commented on #70070
Cargo looks for these strings in the output, which you've disabled:

[code]

Closing since this is an issue with Cargo.

[2020-03-17 10:39] #70070 closed

[2020-03-17 10:47] eddyb commented on #69074
I've decided, in the interest of getting something merged, to not try to do everything in #69080.

Which leaves out:
* moving the type-related fields in `CrateDebugContext` (`created_enum_disr_types` and `composite_types_completed`) into `TypeMap`, and adding an `Option` around `RefCell<TypeMap<'a, 'tcx>>`, to make it impossible to generate type debuginfo unless the debuginfo level is 2 (so instea

[2020-03-17 11:17] Marwes commented on #68666
Seeing what looks like this issue in futures heavy code as well. Root issue is that there are just too many obligations generated, nothing can be done to `ObligationForest` itself to speed this up, I think. Selection just need to generated fewer obligations, or at least they must be memoized better.

[2020-03-17 12:59] GuillaumeGomez commented on #70047
This completely goes against the primary purpose of the match ergonomics: making pattern matching borrows simpler. :-/

I don't know how to improve things efficiently considering how complex this would be...

[2020-03-17 13:10] antoyo commented on #70047
What about checking in which context (i.e. expected type) the auto-ref value is used and say something like:
[code]
?

[2020-03-17 14:59] pnkfelix commented on #53957
Yes, thank you @stepancheg for [that clarifying note](https://github.com/rust-lang/rust/issues/53957#issuecomment-599770871).

I think the choices in front of us are roughly as you stated in the [description](https://github.com/rust-lang/rust/issues/53957#issue-357049706): either:
 *  we should disable the test (on MacOS alone, or on all targets),
    *  potentially coupled with adding a different

[2020-03-17 15:19] lcnr opened #70076 "`unused_parens` is not emitted when used in macro."
[code]
and
[code]
does not have any warning while
[code]

emits `unused_parens`.

I expect the first two snippets to also cause this warning.

[2020-03-17 15:23] jonas-schievink commented on #70076
[Yes!](https://github.com/rust-lang/triagebot/wiki/Labeling)

[2020-03-17 15:56] lcnr commented on #70076
@rustbot modify labels: +A-diagnostics, +P-low, +A-macros

[2020-03-17 16:10] DutchGhost opened #70078 "rustc crash on stable"
I tried this code:

[code]

I expected to see this happen: This program should compile, and probably crash at runtime

Instead, this happened: rustc crashes with `exit code: 0xc0000374, STATUS_HEAP_CORRUPTION)`, `(exit code: 0xc0000005, STATUS_ACCESS_VIOLATION)`, and `(exit code: 0xc0000409, STATUS_STACK_BUFFER_OVERRUN)`. Each time I run `cargo build`, rustc exits with one of those 3 statuses.

Oh

[2020-03-17 16:15] Aaron1011 commented on #70078
On `beta` and `nightly`, this gives the following error:

[code]

[2020-03-17 17:14] mbilker commented on #34538
@RalfJung I decided to follow your advise and threw together a PoC using a wrapper around `ReentrantMutex` as a fallback when SRW functions are not available using a similar method to what the Windows' `Mutex` implementation is doing.

https://github.com/mbilker/rust/tree/srwlock-compat-mutex
https://github.com/mbilker/rust/commit/9d5febc9bd8336e1515347ea892e9339a461e076

[2020-03-17 17:19] tmandry commented on #68523
Ping. @estebank, is this something you can continue to mentor? @Nokel81, are you still interested in working on this?

[2020-03-17 17:22] jonas-schievink commented on #70078
This issue looks like https://github.com/rust-lang/rust/issues/67946, which was fixed by https://github.com/rust-lang/rust/pull/69379, so closing as fixed.

[2020-03-17 17:22] #70078 closed

[2020-03-17 17:33] tmandry commented on #66107
Ping. @gilescope are you interested in continuing to work on this, or should I un-assign?

[2020-03-17 17:45] Nokel81 commented on #68523
I am still interested in working on this.

[2020-03-17 17:59] tmandry commented on #69938
Seems related to #67651, and may be fixed by #68884.

[2020-03-17 18:21] tmandry commented on #69781
One idea is to leave the output as-is, but add an async "badge" next to any function which returns `impl Future` (either because it is `async fn` or because it's explicit in the return type). This would help async functions stand out more visually.

And maybe you could click/hover over the badge to see the desugared signature of `async fn`s?

[2020-03-17 18:23] RalfJung commented on #34538
@mbilker nice, that is somewhat like what I had in mind. :)

I imagine the underlying "reentrant mutex" can be shared with the `Mutex` implementation, to avoid duplicating all that `kind` logic? Basically, a Windows `Mutex` could just be a wrapper around `RwLock` that only exposes write locks. (That is effectively how they are already implemented on Windows Vista+: they use `AcquireSRWLockExclusiv

[2020-03-17 18:24] DutchGhost commented on #70078
And what about the ICE? has *that* been fixed as well?

[2020-03-17 18:24] s3bk opened #70082 "Incorrect error message location"
I tried this code:
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=75e5444eec728a631e6c26a532acce63))

The error message:
[code]

I expected to see this happen: The error is reported on the line for `y`.

Instead, this happened: The error is reported for the closure…

### Meta
Nighty, Beta and Stable affected.

[2020-03-17 18:27] #62825 closed

[2020-03-17 18:27] #69613 closed

[2020-03-17 18:29] bjorn3 commented on #70082
@rustbot modify labels: +A-diagnostics +C-bug +D-incorrect

(someone other than the issue creator do this?)

[2020-03-17 18:31] tmandry commented on #66709
I think the constraint you're talking about is that multiple tasks cannot expect to be woken by the same `Waker`. Is that right?

If so, in what kind of situation does that arise? Normally you get a `Waker` from the `Context` your future is getting polled with, and that waker is specific to the task. Is this a situation where you have a shared data structure between many tasks, and wanted to use a

[2020-03-17 18:35] NickeZ commented on #69781
I just think it is important that it stands out more. I would prefer if it is clearly visible on the right side because that is where the return type is. But first I guess we should decide if this is something we want to solve at all. Maybe nobody else has this problem.

Functions implemented with returning Futures are not a problem, you see immediately that they return a future by looking at thei

[2020-03-17 18:38] jonas-schievink commented on #70078
It should, since this code is rejected before hitting codegen

[2020-03-17 18:42] sdroege commented on #66709
In this case the situation was the websocket implementation in `tokio-tungstenite`. It implements the websocket protocol on top of some `AsyncRead + AsyncWrite`. The socket can then be split into a receiver (`Stream`) and sender (`Sink`), which can be handled by separate tasks.

Now the problem is that the receiver can receive a `Ping` message, for which it then automatically sends a `Pong` respon

[2020-03-17 18:54] Marwes opened #70083 "Overflow evaluating the requirement"
I tried this code:

[code]

I expected the code to compile, or at least fail with a better error message.

Instead, this happened: rustc fails with a seemingly infinite loop when evaluating the `Send` requirement.

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-03-17 19:02] lcnr opened #70084 "`unused_parens` never checks expressions behind references"
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4f7d927326c626229ddbc94b96fc2e71)

@rustbot modify labels: +A-diagnostics, +A-macros, +T-compiler

[2020-03-17 19:33] jonas-schievink commented on #68923
Blocked on https://github.com/rust-lang/rust/issues/69663

[2020-03-17 20:03] jonas-schievink commented on #13926
That will never hit codegen, it's just an optimization hint for LLVM.

This issue does still reproduce with this code though:

[code]

LLVM IR:

[code]

(this originally showed up in https://github.com/rust-embedded/cortex-m/pull/202)

[2020-03-17 20:19] jonhoo commented on #65863
A brief update — I asked the nice people over at docs.rs to run some queries over their failed build logs, and here are crates where this issue shows up:
[code]
[code]
So looks like this isn't _too_ widespread yet, but it's clearly something that "real" crates are running into :)

[2020-03-17 20:24] LukasKalbertodt opened #70086 "Tracking Issue for `Option::zip` and `Option::zip_with` (feature `option_zip`)"
This is a tracking issue for `#![feature(option_zip)]` which was introduced in #69997.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature

[2020-03-17 22:07] Shoeboxam commented on #24346
I don't get line numbers or filenames in tracebacks from my [lib] crate on Mac 10.14.6, Rust 1.42.0. I am building the crate with `cargo build`, so the debuginfo should be included. I am not modifying the profiles in Cargo.toml in any way. There are no .dSYM files in `/target/debug/deps/`, but there are .dSYM files in `/target/debug/build/[package-name]-[hash]/`.

With the same code-
I get debuggi

[2020-03-18 00:18] jjpe commented on #68354
When could this feature potentially be stabilized, assuming no (major) issues are found?
I ask because I would like to optimize a derive-style proc-macro crate I'm writing. Currently the generated code contains a match on 2 by-ref bindings, but performing the optimization would result in one by-ref and one by-move binding in a single match.

Of course the response might be "just use another contro

[2020-03-18 01:27] #70007 closed

[2020-03-18 01:31] ehuss opened #70090 "Ungreat change to doctest test names"
Doctest test names have changed due to #66364.  Doc comments that pass through a macro defined in another crate now seem to report a different span.

[code]

running with `cargo test --doc` previously looked like this:

[code]

Now the test names look like this:

[code]

Frankly, neither are particularly great.  It would be nice if the test name used the span from where the macro was invoked, not

[2020-03-18 01:59] Coder-256 commented on #64460
Is there anything blocking this from stabilizing?

[2020-03-18 02:10] jsgf opened #70093 "Add option to allow #[link] directives to be ignored"
In a non-Cargo build system (eg Buck) dependencies on native libraries are already defined in the build system. As such the build system will automatically put those libraries on the link line, which means that rustc should not do so. It would be nice to have an option to allow this (proposal: `-Zlink-native-libraries=yes/no`, to be stabilized as `-Clink-native-libraries=yes/no`).

Idea mentioned

[2020-03-18 08:00] Kixunil opened #70096 "impl Copy for core::iter::Once?"
I just hit a situation in which it'd be useful for `core::iter::Once` to impl `Copy` because I need the iterator to be restartable. Is there any good reason to not implement it? This change seems too trivial for RFC, but let me know if I'm wrong.

In case it's decided for `Copy` to be added, I'm willing to make a PR, but writing an RFC for such thing would be too much for me.

[2020-03-18 08:26] matthiaskrgr commented on #70090
This also affects normal backtraces :(
Just got this rather unuseful backtrace while bootstrapping:
[code]

[2020-03-18 09:15] kerryeon opened #70097 "Compile "docopt": thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
When compiling the programs with the crate "docopt" in nightly, I ended up with a rustc panic.

just within Cargo.toml,
[code]

The panic looks like:
[code]

This only happens on nightly, not on stable or beta.

[2020-03-18 09:16] jeswin opened #70098 "no_mangle causes compilation errors with async-await on armv7-linux-androideabi and aarch64-linux-android targets"
Adding the no_mangle attribute to a function which contains an await results in a compilation error on armv7-linux-androideabi and aarch64-linux-android targets. Removing the no_mangle attribute fixes the issue (though that's not a solution).

[code]

I expected to see this happen: library should get compiled successfully.

Instead, I get the following error:

[code]

### Meta

The error exists in

[2020-03-18 09:27] lzutao commented on #70097
Dup of #70041

[2020-03-18 09:28] #70097 closed

[2020-03-18 09:56] brain0 commented on #67939
Shouldn't this at least guarantee that a valid id is never 0?

[2020-03-18 11:13] sfackler commented on #70096
We generally do not allow iterators to be copy because it can easily cause confusing behavior as an implicit copy is mutated while the "original" is not. `iter::Once` is already `Clone`, which should be fine to restart it as needed I think.

[2020-03-18 11:20] Mark-Simulacrum commented on #67939
Why would you expect such a guarantee?

We could clearly make it, but it seems a bit odd to me for us to do so...

[2020-03-18 11:44] brain0 commented on #67939
Such a guarantee would allow storing the equivalent of `Option<ThreadId>` in an `AtomicU64`.

I have a case where I need to avoid some recursive operation: So, a thread starts the operation (by executing an `FnOnce()` pass from outside) and saves its thread id. If the same thread performs the same operation again recursively, I panic. If another thread does it, I park the thread. In this case, `0`

[2020-03-18 12:06] jeswin commented on #70098
Hi @jonas-schievink, Not sure if this is minimal enough, but I've created a repo to demonstrate the issue at https://github.com/jeswin/rust-lang-issue-70098-mcve

Please note that build.sh requires cargo-ndk to build.

[2020-03-18 12:06] Kixunil commented on #70096
Hmm, good point, so we're trading one confusion (implicit copy) for another confusion (`Clone` looks more expensive than `Copy`), but maybe the former is worse than the latter?

[2020-03-18 12:18] RalfJung commented on #70022
Isn't this technically speaking unsound, because we fail to respect the type's alignment requirement?

Maybe `align` should just reject anything bigger than the page size, as a stop-gap fix at least.

[2020-03-18 12:23] jonas-schievink commented on #70022
Hmm, is it unsound if rustc is doing the right thing, but the OS isn't?

[2020-03-18 12:27] RalfJung commented on #70022
Well it's still unsound, it's just not clear if it is a rustc bug or a linker bug.
But even if it is a linker bug, we should either work around it or forward it upstream.

[2020-03-18 12:35] kamadak opened #70102 "Macro's literal specifier causes a compilation error when `-` is not followed by a literal."
The literal specifier in a marco matches with `-? LiteralExpression` (See <https://doc.rust-lang.org/reference/macros-by-example.html>).
Consider the case where it encounters a `-` not followed by a `LiteralExpression`.  I expect that the rule does not match and the next rule is tried.  However, I get a compilation error.

I tried this code:

[code]

I expected to see this happen:
- compilation su

[2020-03-18 12:41] Centril commented on #68354
So this feature hasn't seen any dogfooding inside the compiler itself, and I don't know what the testing situation in the ecosystem is like. However, the `src/test/ui` testsuite is extensive, so maybe that is enough. If @matthewjasper thinks this is good enough we could probably stabilize in 1.44.

[2020-03-18 12:45] jonas-schievink commented on #70102
Non-Terminals in macros are parsed greedily, so when the parsing fails an error is emitted and the next rule isn't tried. This is expected behavior of the `macro_rules` macros, so closing. (there are some other old bugs about this, but I can't find them at the moment)

[2020-03-18 12:45] #70102 closed

[2020-03-18 12:50] Artoria2e5 commented on #29494
The new link is at https://docs.microsoft.com/en-gb/archive/blogs/twistylittlepassagesallalike/everyone-quotes-command-line-arguments-the-wrong-way.

How exactly is it wrong? This appears to be a pretty good inverse of [the same function implemented in .NET CoreFX](https://github.com/dotnet/runtime/blob/90a2d87/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L810).

[2020-03-18 12:50] kamadak commented on #70102
Thank you for the explanation.

[2020-03-18 12:57] Mark-Simulacrum commented on #67939
I think I would personally prefer to avoid using NonZero in this API. I'd suggest manually doing so in the consumer of the API, perhaps assigning u64::MAX instead of 0 as the sentinel for None.

[2020-03-18 13:12] Centril commented on #70090
cc @eddyb @petrochenkov

[2020-03-18 13:29] brain0 commented on #67939
Without any guarantee that a thread id cannot be `u64::MAX` that is not a good idea. And the current state is "there are no guarantees".

[2020-03-18 13:34] Mark-Simulacrum commented on #67939
Well, sure, I guess, though realistically it's the sort of thing that would be fine to do IMO and panic on -- you're almost certainly not going to hit that.

I'm not opposed to accepting this, I guess -- would you be willing to file a PR changing the API as you've suggested?

[2020-03-18 14:01] brain0 commented on #67939
I always prefer a static guarantee (`as_u64` returning a type that guarantees an invariant) over "almost certainly fine".

Sure, I can do that. But I still don't quite understand yet why you don't like it the idea.

[2020-03-18 14:05] Mark-Simulacrum commented on #67939
It's not really that I don't like it -- I think you've convinced me that it can be useful and is pretty minimal -- but I was uncertain about making the guarantee going forward. But thinking about it more, 64 bits should be more than enough that we shouldn't need to worry about the zero being lost to us if we make the guarantee.

[2020-03-18 14:50] kpp opened #70104 "Unused pub fn in a private module triggers warning"
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6047c165fa563d155cfed7300d366387

I expected to see this happen: no warnings

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-03-18 14:53] Centril commented on #70104
This seems like correct behavior to me; the function could never be reached outside the crate, and it's not used inside the crate, so it is dead code.

[2020-03-18 14:57] kpp commented on #70104
However it is reachable inside the crate and is used in `#[cfg(test)]` crate. Without `pub` it is unreachable, with `pub` it triggers warning, with `#[cfg(test)]` it looks ugly`.

[2020-03-18 14:59] Centril commented on #70104
Being reachable inside the crate is not a sufficient condition. It must also be used inside the crate by something that is not itself dead code, and here it is not.

[2020-03-18 15:09] kpp commented on #70104
So is it a well documented and known behaviour?

[2020-03-18 15:17] Centril commented on #70104
Well it's know and expected behavior; well documented idk...

[2020-03-18 15:26] kpp commented on #70104
Thanks!

[2020-03-18 15:26] #70104 closed

[2020-03-18 15:31] gmlove opened #70108 "performance issue for musl binary built by rust"
It seems there is performance issue for the built musl binary. To reproduce this, I created a simple crate as below:

[code]

[code]

If I build the crate for target x86_64-unknown-linux-gnu, the program can get benefit from multi threading.
The output on my machine was(built by `cargo build --release` on my ubuntu os):
[code]

But for target x86_64-unknown-linux-musl, the performance under multi

[2020-03-18 15:41] Mark-Simulacrum commented on #70108
I would recommend directing questions like this to users.rust-lang.org, and asking here (which we try to keep solely to bugs) only if investigation indicates this is a problem with the compiler or standard library. My initial guess it that the libc musl uses is slower (for malloc -- especially multithreaded alloc), on average, than glibc.

[2020-03-18 15:41] #70108 closed

[2020-03-18 16:01] aidanhs commented on #69823
To be more explicit - it's not likely that the infra team will have a chance to proactively look into this.

As stated above, we would be looking for help on understanding:
 - how does this affect our CI times
 - how much of a 'significant bit' is this check (i.e. how often would this catch something that the current check wouldn't)

[2020-03-18 17:10] rocurley opened #70113 "Underflow appears to be treated as undefined behaviour"
I tried this code:

[code]

I expected to see this happen: Either a panic from underflow, or some huge weird result from underflow wrapping.

Instead, this happened: `mul1` and `mul2` appear to have been compied down to imul: [Godbolt](https://godbolt.org/z/KgR9dJ). This is only a valid optimization if underflow is treated as undefined behavior.

### Meta

`rustc --version --verbose`:
[code]

[2020-03-18 17:13] afinch7 opened #70114 "ICE when casting negative discriminant enum values to anything less than bit width"
Compiling this code on [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5d837277ab57f55258ef488c9bd7d3b3):
[code]
results in ICE. Casting to anything smaller than `usize`/`isize`(`u32`, `u16`, `i16`, `u8`, `i8`, etc) also results in ICE. Casting to anything same size or larger(`u128`, `i128`, `u64`, `i64`, etc) works fine. Positive discriminant values also work

[2020-03-18 17:27] JohnTitor commented on #69489
I just tried removing `impl_self_ty` fully, it seems to work well: https://github.com/JohnTitor/rust/commit/e30534d5787dd54baa6309b86504e53d1355f2bf

Could I submit this patch?

[2020-03-18 17:30] Centril commented on #69489
cc also @nikomatsakis ^---
Error messages are improved at least. :)

[2020-03-18 17:30] GuillaumeGomez opened #70115 "Ugly error reporting on binary operation between two condition flows"
The following code:

[code]

gives the following error:

[code]

This is clearly sub-optimal. The code can be fixed by wrapping the first if condition in `()`.

[2020-03-18 17:51] lzutao commented on #70113
Try with debug build. It will panic on underflow.

[2020-03-18 17:51] eddyb commented on #69489
@JohnTitor In suggestions you probably don't need `normalize_ty` either, AFAICT it's just used to print the type of the `impl`.

[2020-03-18 17:53] rocurley commented on #70113
Just realized that this behavior is actually correct: the "huge weird result" itself overflows, yielding the same result as doing the multiplication normally. If I try something that actually _should_ yield different results, it does:
[code]

[2020-03-18 17:53] #70113 closed

[2020-03-18 17:57] Aaron1011 commented on #64650
The error is better on nightly:

[code]

but still contains the spurious "mismatched types" error.

[2020-03-18 18:04] Centril commented on #63255
Today you get:
[code]
...which seems good enough.

[2020-03-18 18:04] #63255 closed

[2020-03-18 18:08] JohnTitor commented on #69489
@eddyb You're right, thanks! I'd like to submit a PR if you could do further reviews :)

[2020-03-18 18:41] eddyb commented on #70090
@matthiaskrgr What you're describing is entirely in the opposite direction, `<::std::macros::panic macros>` is the old (and arguably bad) kind of `Span` that's impossible to get anymore.
I've hidden your comment to focus on the reported issue.

[2020-03-18 18:44] kornelski commented on #29494
I'd like something like `.arg_raw()` that just injects an argument without any escaping.

* Should it have a more scary name? `.arg_arbitrary_code_execution_vulnerability_if_you_dont_properly_escape_this_yourself()`?

* Is it acceptable for this method to surround the unescaped argument with spaces? Is there any command that cares if there is a space between exe and the args? e.g. `foo.exe/arg` is

[2020-03-18 18:48] eddyb commented on #70090
@ehuss That makes sense, we have a way to get the outermost invocation, that is used by `file!()`/`line!` and `#[track_caller]`:
[code]

We'd just need to use this in `rustdoc`.

[2020-03-18 18:49] lcnr commented on #69913
@rustbot claim

[2020-03-18 19:04] Artoria2e5 commented on #29494
This should not be that bad in CreateProcess, since it does not really make it less safe than the default escape. We are not escaping for cmd, which actually has metacharacters for pipes and semicolons.

[tbd]

[2020-03-18 19:10] Centril commented on #69611
Closing as expected breakage and "wontfix".

[2020-03-18 19:10] #69611 closed

[2020-03-18 19:36] pnkfelix commented on #70114
[godbolt](https://godbolt.org/z/KnacBd) indicates that this was injected in Rust 1.40

[2020-03-18 19:38] Centril commented on #70098
@rustbot ping llvm

[2020-03-18 19:39] Centril commented on #70098
@rustbot ping cleanup

[2020-03-18 19:43] Centril commented on #70090
cc @GuillaumeGomez

[2020-03-18 19:47] Centril commented on #70090
cc @rust-lang/rustdoc

[2020-03-18 19:47] spastorino commented on #70090
Removed `T-compiler` label, left nomination for `T-rustdoc` to decide about this issue. cc @rust-lang/rustdoc

[2020-03-18 19:51] spastorino commented on #70055
Removing nomination, leaving this up to @RalfJung

[2020-03-18 20:04] spastorino commented on #70035
@rustbot ping cleanup, would be nice to find why it regressed so bad between 1.40 and 1.41.

[2020-03-18 20:05] spastorino commented on #70035
@triagebot ping cleanup

[2020-03-18 20:05] spastorino commented on #70035
@rustbot ping cleanup

[2020-03-18 20:10] haraldh opened #70117 "rustc segfault"
### Code
[Steps to reproduce are in this comment](https://github.com/rust-lang/rust/issues/70117#issuecomment-601196305)
[and in this comment](https://github.com/rust-lang/rust/issues/70117#issuecomment-624312001)

### Meta

`rustc --version --verbose`:
[code]

and

[code]

### Error output

gdb backtrace with 1.42.0
[code]

gdb backtrace with 1.43.0-nightly (c20d7eecb 2020-03-11)
[code]

[2020-03-18 20:10] spastorino commented on #69952
@rustbot ping cleanup

[2020-03-18 20:11] haraldh commented on #70117
[code]

[2020-03-18 20:15] haraldh commented on #70117
oops, corrected backtrace of nightly.. pasted the stable output again.

[2020-03-18 20:22] Amanieu commented on #70022
The bug is arguably in the kernel. But even if we get this fixed upstream, we still need to support a large range of existing kernel versions.

Also, I just tested this on `x86_64-pc-windows-gnu` and the same issue also occurs. In this particular case it might be a linker issue though since unlike ELF, the PE section alignment is set to 4KB (which is wrong).

[2020-03-18 20:42] #68132 closed

[2020-03-18 20:42] Centril commented on #68132
Closing per "very spurious or fixed".

[2020-03-18 20:50] lord opened #70120 "Internal compiler error when using associated type from higher ranked trait"
Apologies if this is already reported somewhere; couldn't find it during a quick search.

Getting an internal compiler error for this code ([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=46bc4c30cb87325d092831d8cb2bf7a0)):

[code]

The error reads:

[code]

Tested in `1.42.0`, `1.43.0-beta.1`, and `1.44.0-nightly (2020-03-17 7ceebd98c6a15ae30e77)`

[2020-03-18 20:54] ragnese commented on #69781
I really believe the most sane and obvious answer is to remove the `async` keyword from the front and always display the "true" return type as `impl Future<[...]>`.

`async` and `.await` are syntactic sugar after all, and downstream consumers of your fabulous library really don't care if you chose to use that syntax or not. Just like they don't care if you used an `if-else` or a `match` inside you

[2020-03-18 20:58] ragnese commented on #66751
Question: Does rustdoc (generally) de-alias when the type is private? Or will it sometimes show a private type alias?

[2020-03-18 21:44] Alexendoo commented on #70120
[code]

[2020-03-18 22:02] jonas-schievink opened #70121 "ICE with lifetime-generic type alias impl trait"
[code]

gives:

[code]

My guess is that this has the same underlying cause as https://github.com/rust-lang/rust/issues/56445, but this one doesn't involve associated consts or arrays at all, so it might be different still.

[2020-03-18 22:07] chrissimpkins commented on #69952
bisect-rustc:

searched nightlies: from nightly-2019-09-01 to nightly-2020-03-10
regressed nightly: nightly-2019-10-28
searched commits: from https://github.com/rust-lang/rust/commit/fae75cd216c481de048e4951697c8f8525669c65 to https://github.com/rust-lang/rust/commit/95f437b3cfb2fec966d7eaf69d7c2e36f9c274d1
regressed commit: https://github.com/rust-lang/rust/commit/b7176b44a203322c834302f3b515f8c1

[2020-03-18 22:20] Aaron1011 commented on #64552
Another instance of this (partially minimized from https://github.com/tokio-rs/tokio/issues/1835):

[code]

gives:

[code]

This error is particularly unhelpful because it doesn't even mention that the `Send` requirement is the root cause.

[2020-03-18 23:35] ChrisGreenaway opened #70124 "Rustc panic: Option::unwrap() on None at src/librustc/hir/mod.rs:81:37"
### Code

Sorry to not provide something more precise, but this was reported to me by Travis here: https://travis-ci.com/github/ChrisGreenaway/cargo-local-registry/jobs/299634154

You can reproduce it with:
[code]

But it looks like the problem was caused by some code in the docopt crate.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace<

[2020-03-18 23:51] jonas-schievink commented on #70124
duplicate of https://github.com/rust-lang/rust/issues/70041

[2020-03-18 23:51] #70124 closed

[2020-03-18 23:53] miggazElquez commented on #63646
The problem is fixed on 1.42, but is back on the beta 1.43 and on nightly :
https://rust.godbolt.org/z/vJHfta

[2020-03-19 00:06] KarlK90 commented on #70035
Running `cargo-bisect-rustc` revealed a likely regression in [01a46509a4c2dc430ebebf940a26232fdaeeba81](https://github.com/rust-lang/rust/commit/01a46509a4c2dc430ebebf940a26232fdaeeba81) which is a [rollup of 5 commits](https://github.com/rust-lang/rust/pull/67455)

This is the slightly cleaned up output using the script from @main--

[code]

[2020-03-19 01:06] dancojocaru2000 commented on #23818
The main problem about `print!` not flushing is when combining it with `read!` from the `text_io` create.

Considering this snippet of code:
[code]

The expected behaviour is this:
[code]

What actually happens is this:
[code]

C++ buffers `std::cout`, however it ties it to `std::cin` so that `std::cout` is flushed before `std::cin` reads any data, which solves this problem. This is not possible i

[2020-03-19 01:43] frol commented on #23818
@dancojocaru2000

Sorry, what are those reasons? It seems that in this particular case a special flush+read function/macro is a good bet, so it can be even part of the `text_io` crate.

[2020-03-19 01:50] dancojocaru2000 commented on #23818
`print!` is just a macro for dumping stuff into `stdout`, and it has no connection to anything else (_I would assume_). A flush+read fn/macro would unnecessarily do two things in one package, restricting flushing only to the case where a read is required.

Having the option to print and flush in one macro, unbounded from needing to also read, seems like a good addition to the language.

[2020-03-19 02:20] crawford opened #70125 "[const_generics]: encountered bad ConstKind in codegen"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This issue has been assigned to @lcnr via [this comment](https://github.com/rust-lang/rust/issues/70125#issuecomment-602041732).

[2020-03-19 02:26] sunjay opened #70127 "Misleading error message for closure lifetime mismatch"
Here's a fairly minimal reproduction of the code I was working with: ([Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=86a9401a58692c0066ef248a8ceafe62))

[code]

The idea is that we want to define a function `foo` that takes a function and returns a new function by calling `bar`. The function `bar` also takes a function and returns a new function. In this

[2020-03-19 03:33] #64197 closed

[2020-03-19 03:33] #69815 closed

[2020-03-19 03:33] #70027 closed

[2020-03-19 03:35] rust-highfive opened #70128 "`clippy-driver` no longer builds after rust-lang/rust#70118"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70118, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @pietroalbini, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioriti

[2020-03-19 03:35] rust-highfive opened #70129 "`rls` no longer builds after rust-lang/rust#70118"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70118, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @pietroalbini, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-03-19 04:47] rumajo commented on #66067
This is not fixed for me on the latest nightly (2020-03-18). The bad error message doesn't seem to appear when the modules are declared and used in a single file, which is what the playground link by @contrun does.

[2020-03-19 05:43] Aaron1011 commented on #70121
This appears to be due to a bad interaction between https://github.com/rust-lang/rust/pull/66178 and associated type projections involving lifetimes.

When we normalize the function signature during type-checking, we project `<&'a () as Tr>::Item` to `Successors<'_#0r>`. We then convert `'_#0r` back to the 'generic' region for `Successors`, which is `'a`.

However, this `'a` is a distinct early bo

[2020-03-19 06:52] retep998 commented on #70022
For `pc-windows-msvc` it fails to link with `fatal error LNK1164: section 0x6 alignment (8192) greater than /ALIGN value`. If I add `-Clink-arg="/ALIGN:1048576"` then it links. If I test it, it overflows the stack. If I lower the alignment to just 0x10000 and do `/ALIGN:65536` then it crashes and a debugger tells me `Unhandled exception at 0x00007FF6EC990064 in aligntest.exe: 0xC0000005: Access vi

[2020-03-19 07:06] Amanieu commented on #70022
@retep998 Can you open a separate issue for the stack probing? In the meantime, try running the test program with the local and `Box` lines commented out to see if just the static is aligned properly with `-Clink-arg="/ALIGN:1048576"`. We should see if the Windows loader actually respects the alignment value in the executable.

[2020-03-19 07:19] cr1901 opened #70135 "Incorrect explanation for error E0117"
As of commit 1e5450d, the detailed explanation for error E0117 begins with:

[code]

The "The `Drop` trait was implemented on a non-struct type" sentence appears to be meant for E0120, but accidentally got included as part of the E0117 text.

I'm not sure how upstream wants to proceed here, but note that the example `impl Drop for u32 {}` _will_ [trigger](https://play.rust-lang.org/?version=stable

[2020-03-19 07:23] Kixunil commented on #70096
Yes, I know that, it's just that it may not be immediately apparent to the reader not seeing the type whether it actually has trivial implementation - the reason Rust distinguishes between `Copy` and `Clone` in the first place.

Anyway, it seems to me that if all iterators don't implement `Copy`, then this should actually be `impl Copy for $iterator`, which may require RFC and so this issue should

[2020-03-19 07:33] mbilker commented on #34538
@RalfJung It is using the `ReentrantMutex` code from `Mutex`.

https://github.com/rust-lang/rust/blob/57e1da59cd0761330b4ea8d47b16340a78eeafa9/src/libstd/sys/windows/mutex.rs#L152-L184

[2020-03-19 08:17] RalfJung commented on #34538
What I meant is that all of this code is now essentially duplicated:

https://github.com/rust-lang/rust/blob/57e1da59cd0761330b4ea8d47b16340a78eeafa9/src/libstd/sys/windows/mutex.rs#L48-L150

[2020-03-19 08:26] RalfJung commented on #70114
Thanks for the report!

Please always include the ICE message. This time, it seems to be
[code]

[2020-03-19 09:14] #69558 closed

[2020-03-19 09:14] #62618 closed

[2020-03-19 09:14] #62619 closed

[2020-03-19 09:14] #63238 closed

[2020-03-19 09:14] #66100 closed

[2020-03-19 09:14] #69533 closed

[2020-03-19 09:22] Nemo157 opened #70142 "Tracking Issue for Result::flatten (`result_flattening`)"
This is a tracking issue for the `Result::flatten` API.
The feature gate for the issue is `#![feature(result_flattening)]`.

[code]

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussi

[2020-03-19 09:29] SimonSapin commented on #65798
My previous comment was saying that we cannot stabilize a `struct IntoIter<const N: usize, T> {…}` *type* without definitely relying on const generics, because the const parameter is visible in that signature. Adding a `where [T; N]: LengthAtMost32` bound is not enough, unlike for trait impls.

---

Additionally, cross-posting from https://github.com/rust-lang/rust/pull/65819#issuecomment-60087214

[2020-03-19 09:35] retep998 commented on #70022
@Amanieu It outputs `0x7ff7cf4e2000` so the static is not aligned for `pc-windows-msvc` either.

[2020-03-19 09:50] retep998 opened #70143 "Alignment greater than page size locals can cause invalid access exceptions."
Forked from https://github.com/rust-lang/rust/issues/70022

Minimal example
[code]
Aligning the stack is done *after* the stack probe. Because stacks grow downwards and aligning the stack shifts it downwards, it can cause the end of the stack to extend past the guard page and cause invalid access exceptions *or worse* when those sections of the stack are touched.

Only confirmed that this occurs o

[2020-03-19 09:52] Amanieu commented on #70143
This is most likely an LLVM bug.

[2020-03-19 09:54] Amanieu commented on #70022
I can see two options here:
- Ban `static`s with alignment greater than the page size.
- Ban *all* alignments greater than the page size on `#[repr(align)]`.

[2020-03-19 09:57] retep998 commented on #70022
Interestingly, it appears that what is actually happening is rust is specifying the section alignment as 8192. If I just pass `/ALIGN:8192` it is enough to hide the linker error, so it's not even a Windows loader issue, it's literally rust telling the linker it only need 8192 as the alignment. So there's definitely a bug in Rust and it's *possible* that once the bug is fixed it won't actually be a

[2020-03-19 09:59] retep998 opened #70144 "Statics aligned to greater than a page cause linker error"
`link.exe` requires that the alignment of any section is less than or equal to the `/ALIGN` value. Statics with an alignment of 8192 or greater cause the section to have an alignment of 8192 (but not greater which is the cause of https://github.com/rust-lang/rust/issues/70022), but `link.exe` has a default `/ALIGN` of 4096 causing `fatal error LNK1164: section 0x6 alignment (8192) greater than /AL

[2020-03-19 10:09] Amanieu commented on #70022
It seems that the [PE format](https://docs.microsoft.com/en-us/windows/win32/debug/pe-format) can't actually handle sections with an alignment of more than 8192 (search for `IMAGE_SCN_ALIGN_8192BYTES`).

[2020-03-19 10:15] mbilker commented on #34538
Ah yeah true. I now have `Mutex` using `RWLock` but will need to run the test suite to ensure this works alright. I also discovered the Windows `Condvar` implementation uses `SleepConditionVariableSRW` so that will need to be corrected to use `SleepConditionVariableCS`.

[2020-03-19 10:32] retep998 commented on #70022
Oh, well in that case I suppose everything is terrible. Statics aligned to over a page should definitely just be forbidden then. Also any sort of automatic promotion of a local or constant to a static. I don't think we need to ban those large alignments *in general* though, although there's very rarely a reason to use them. Perhaps feature gate all alignments over a page?

[2020-03-19 10:45] hanna-kruppe commented on #70022
If we can get away with it (crater run), I would prefer to ban/feature-gate alignment > 4096 entirely since it's a simpler rule than a list of places where types with huge alignment can't be used. I don't expect there are use cases for them that avoid the specific restrictions you mentioned. If you require larger alignment for a *heap allocation*, you can allocate it yourself even on stable. That'

[2020-03-19 11:22] sfackler commented on #70096
Yes, implementing Clone for iterators would be a major change IMO.

[2020-03-19 11:44] #70096 closed

[2020-03-19 11:56] gparker42 commented on #68974
You're missing the asan runtime library, something like `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/clang/10.0.0/lib/darwin/libclang_rt.asan_osx_dynamic.dylib` .

The linker drivers in `clang` and `swiftc` know how to find this file, but rust's linker driver does not.

[2020-03-19 12:54] GuillaumeGomez commented on #70090
Well, using what @eddyb suggested seems like the best thing to do.

[2020-03-19 13:11] korken89 commented on #63084
Hi, is there a stabilization issue for this `const`-ification?

[2020-03-19 13:17] gmlove commented on #70108
Yes, looks like memory allocation is a problem for musl. After I change the program to below:

[code]

The result for musl is :
[code]

while for gnu is:
[code]

Thanks Mark-Simulacrum

[2020-03-19 13:27] spastorino commented on #70129
Removing nomination and leaving this up to @Xanewok.

[2020-03-19 13:28] spastorino commented on #70117
@haraldh can you share the code that causes this issue?.

[2020-03-19 13:41] pietroalbini opened #70147 "Crater runs for Rust 1.43.0"
cc @rust-lang/release

[2020-03-19 13:42] pietroalbini commented on #70147
@craterbot run name=beta-1.43-1 start=1.42.0 end=beta-2020-03-12 mode=build-and-test cap-lints=warn p=10

[2020-03-19 13:43] pietroalbini commented on #70147
@craterbot run name=beta-1.43-rustdoc-1 start=1.42.0 end=beta-2020-03-12 mode=rustdoc cap-lints=warn p=5

[2020-03-19 13:44] spastorino commented on #70117
triage: we couldn't decide the priority of the issue due to the lack of code. Left nomination so we can check again once we have the code that triggers the issue.

[2020-03-19 14:02] haraldh commented on #70117
@spastorino:
[code]

[2020-03-19 14:24] nikomatsakis commented on #70041
@rustbot assign @Zoxc

[2020-03-19 14:24] pnkfelix commented on #66402
closing as fixed by PR #66378

[2020-03-19 14:26] pnkfelix commented on #66402
@wesleywiser points out this may need a regression test. Reopening, re-prioritizing as P-medium and marking E-needstest.

[2020-03-19 14:26] Lesiuk opened #70148 "LLVM generates incorrect code with -Zprofile"
Instructions to reproduce:
- `git clone git@github.com:servo/html5ever.git`
- `cd html5ever/markup5ever`
- `CARGO_INCREMENTAL=0 RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Cinline-threshold=0" cargo check`
- The build script of `markup5ever` segfaults.

The actual function with the bug is an instance `std::panicking::try` in the proc_macro2 crate.

The cause seems to be an LLVM bug.

[full gist](https

[2020-03-19 14:28] Mark-Simulacrum commented on #70148
cc @Amanieu, perhaps related to #67502

[2020-03-19 14:29] spastorino commented on #68905
@rustbot assign @Amanieu

[2020-03-19 14:30] Mark-Simulacrum commented on #70148
Is there a reason you're passing -Zno-landing-pads? I believe in ~all cases you should either be doing -Cpanic=abort today, no-landing-pads is likely to lead to problems... but it would be odd for that to lead to trouble in the compiler I think

[2020-03-19 14:30] Lesiuk commented on #70148
Yes. I just updated my description of the issue. Bissect found this PR.

[2020-03-19 14:31] Lesiuk commented on #70148
Those flags are recommended by mozilla's grcov tool:
https://github.com/mozilla/grcov

[2020-03-19 14:32] Amanieu commented on #70148
Does this problem still happen with `-C panic=abort` instead of `-Z no-landing-pads`?

[2020-03-19 14:35] Amanieu commented on #70148
`-Z no-landing-pads` will cause `catch_unwind` to be optimized away with the new implementation. This is why the runtime can't initiate a panic: it can't find a catch for the exception.

I would recommend either using `-C panic=abort` or just removing `-Z no-landing-pads`.

[2020-03-19 14:35] Lesiuk commented on #70148
Changed my RUSTFLAGS to
`-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Coverflow-checks=off -Zno-landing-pads` and it still crashes.

[2020-03-19 14:35] pnkfelix commented on #70117
@rustbot ping cleanup-crew

[2020-03-19 14:36] pnkfelix commented on #70117
@rustbot ping cleanup

[2020-03-19 14:36] Lesiuk commented on #70148
Changed my RUSTFLAGS to

and still crashes.

[2020-03-19 14:36] nikomatsakis commented on #70117
[The steps to reproduce are here](https://github.com/rust-lang/rust/issues/70117#issuecomment-601196305)

[2020-03-19 14:41] pnkfelix commented on #70117
[Discussed](https://zulip-archive.rust-lang.org/131828tcompiler/23763weeklymeeting2020031954818.html#191121536) in T-compiler meeting. Prioritizing as P-high for the initial investigation into what's going on. (It may or may not deserve a higher or lower priority once we figure out where the segfault is coming from...)

[2020-03-19 14:43] pnkfelix commented on #70120
I think this falls under bucket issue #62529

[2020-03-19 14:47] pnkfelix commented on #70120
[Discussed](https://zulip-archive.rust-lang.org/131828tcompiler/23763weeklymeeting2020031954818.html#191122636) in T-compiler meeting. Dupe of #62529. Downgrading to P-medium.

[2020-03-19 14:52] haraldh commented on #70117
[code]
could be replaced with
[code]

[2020-03-19 15:27] lcnr opened #70152 "use of undeclared lifetime emits incorrect help message"
In case there is an undeclared lifetime in an ADT deriving `Eq` a wrong help message is emited
[code]
causes the following error

[code]

thx, bye

[2020-03-19 15:31] spastorino commented on #54785
Closing this as non actionable as per comment from last triage meeting. If someone wants to provide an MCVE and something that is more actionable, please feel free to comment and we can reopen this issue.

[2020-03-19 15:31] #54785 closed

[2020-03-19 15:33] lcnr commented on #70152
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e320116b13b1bc736651defba5f2fe93

[2020-03-19 15:37] haraldh commented on #70117
updated the branch again, so the assembler code compiles with more toolchains

[2020-03-19 15:59] adrian5 opened #70154 "Odd doc wording for std::io::Read::read_vectored"
I'm not sure what exactly it's trying to express, but it looks like an oversight.

[2020-03-19 16:08] #70055 closed

[2020-03-19 16:09] Fi3 commented on #70125
Got same error with:
[code]
It seems unrelated to the type of the const

[2020-03-19 16:17] CDirkx opened #70155 "RangeInclusive cannot be used in const generics."
All range types except `RangeInclusive` can be used in const generics:

[code]
This [compiles](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fc43f8e353ac76d4f061ca7091307e65) (on nightly), while the following [does not](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=257007d2880c3db1196d2fe5bc27fc14):
[code]

This is because `RangeInclusive` does

[2020-03-19 16:33] bjorn3 opened #70157 "Suggest installing rustc-dev when rustc_* crate can't be found on nightly"
The current error message `can't find crate ...` is not very helpful. Suggesting installation of `rustc-dev` would avoid things like https://github.com/rust-lang/miri/pull/1241#issuecomment-601277375.

[2020-03-19 16:46] Kubikx opened #70158 "crosscompiling from x64 to i686 fail for crate macro_rules_attribute"
### Example
https://docs.rs/macro_rules_attribute/0.0.1/macro_rules_attribute/#example

I found out about the issue after new team member joined and could not compile the the project
we later identified that the cause is that he have `nightly-x86_64-pc-windows-msvc` as default
using:
`cargo build --lib --release --target=i686-pc-windows-msvc --verbose`
causes:
[code]

we verified it on multiple ve

[2020-03-19 16:54] Nemo157 commented on #70158
This appears to happen whenever you re-export from a renamed `proc-macro` crate while cross-compiling. Minimal copy-pastable reproducer (pasting the `{}` delimited block into `sh` should work):

[code]

[2020-03-19 16:57] jonas-schievink commented on #70158
This was an issue before, but I thought it was already fixed?

[2020-03-19 16:59] jonas-schievink commented on #70158
Ah, it's a duplicate of https://github.com/rust-lang/rust/issues/56935

[2020-03-19 16:59] #70158 closed

[2020-03-19 17:00] Nadrieril commented on #42300
If I'm reading [this commit](https://github.com/rust-lang/docs.rs/commit/ccac550ad6953fef75057d0ed24b58f145da7fe4) correctly, it appears that docs.rs does it now. This is not documented anywhere though, as far as I can see.

[2020-03-19 17:14] ark0f opened #70160 "Cycle is not dectected"
I tried this code:

[code]

I expected to see this happen: `error[E0391]: cycle detected when processing` (tested on stable 1.42.0)

Instead, this happened: successful compilation

### Meta

`rustc --version --verbose`:
[code]

I've also checked it on playground with nightly 1.44 and got the same behavior.

[2020-03-19 17:18] Mark-Simulacrum commented on #70160
This is likely because `u8::MAX` now resolves to the inherent constant, https://doc.rust-lang.org/nightly/std/primitive.u8.html#associatedconstant.MAX.

If you change the code to explicitly reference the IntegerMax trait then the cycle error does occur.
[code]

[2020-03-19 17:18] #70160 closed

[2020-03-19 17:19] Nadrieril commented on #42300
Apparently that's not enough to not need `html_root_url` sadly; [that seems to depend](https://github.com/rust-lang/api-guidelines/commit/e8ca2598f15a48928de2781759c1994e04fb1a0f) on https://github.com/rust-lang/rust/issues/42301

[2020-03-19 17:29] haraldh commented on #70117
are you guys able to reproduce this, or is this only happening with my kernel+glibc+whatever combination?

[2020-03-19 18:26] eddyb commented on #69060
Something suspicious when looking at the query view is one less of each `metadata_decode_entry and def_span`. That should be impossible in many situations, yet it shows up.
Something is triggering slightly different compilation and *I'm dying* to know what.

It's possible all benchmarks are affected and `syn-opt` just has the biggest swing.

[2020-03-19 18:32] eddyb commented on #69060
@wesleywiser is pointing out this effect of one less of each `metadata_decode_entry` and `def_span` also affects [`cranelift-codegen-debug` clean incremental](https://perf.rust-lang.org/detailed-query.html?commit=6724d584b8e3b5fa5e06466d1e900cdd60953707&base_commit=57e1da59cd0761330b4ea8d47b16340a78eeafa9&benchmark=cranelift-codegen-debug&run_name=clean%20incremental) (and probably other crates as

[2020-03-19 18:33] spastorino commented on #53881
Closing this as per comment from last triage meeting. If someone wants to provide an MCVE and something that is more actionable, please feel free to comment and we can reopen this issue.

[2020-03-19 18:33] #53881 closed

[2020-03-19 19:32] Mark-Simulacrum commented on #67058
I plan to post a PR soon with the renaming to `to_int_unchecked`, possibly including a stabilization with that (since we often rename and stabilize in one go I think and it seems unlikely that waiting would help).

[2020-03-19 19:38] eddyb commented on #68977
WF is also missing something like this for `ty::ConstKind::Infer`: https://github.com/rust-lang/rust/blob/3c6f982cc908aacc39c3ac97f31c989f81cc213c/src/librustc_trait_selection/traits/wf.rs#L556-L593

Fixing this might require `Predicate::WellFormedConst`, which I thought would replace `Predicate::ConstEvaluatable` but now I'm less sure it would.
It shouldn't hurt to have both at once and we can de

[2020-03-19 19:43] lcnr commented on #68977
@rustbot clain

[2020-03-19 19:49] Amanieu commented on #70148
Minimal reproduction:
- Clone rust-lang/libc
- `RUSTFLAGS=-Zprofile CARGO_INCREMENTAL=0 cargo check`

Output:
[code]

cargo-bisect-rustc points to e2223c94bf433fc38234d1303e88cbaf14755863 as the source of the regression, which seems a bit surprising.

[2020-03-19 19:52] Amanieu commented on #68905
PR to update the submodule is here: #70151

I will need to be backported to beta.

[2020-03-19 20:03] Amanieu commented on #67058
Proposing to merge this with the name `to_int_unchecked`.

@rfcbot fcp merge

[2020-03-19 20:08] demurgos commented on #30472
I think this issue is related to an error I encountered when trying to use the `Iterable` trait example [from the Generic Associated Types (RFC 1598)](https://rust-lang.github.io/rfcs/1598-generic_associated_types.html).

The trait is defined as follow:
[code]

I implemented it for a vector of booleans:
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=69

[2020-03-19 20:16] Mark-Simulacrum commented on #70148
I'm not familiar with -Zprofile -- but I agree that seems like a surprising trace. It's not implausible that there's some bug introduced by that, though, given the heavy use of unsafe code in BTree...

Maybe we could get a stack trace on the SIGSEGV?

[2020-03-19 20:38] Dylan-DPC commented on #48496
The above code now compiles on both stable and nightly  ([playground with stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018))

[2020-03-19 20:41] Amanieu commented on #70148
[code]

It does look related to the BTree stuff.

[2020-03-19 20:44] Dylan-DPC commented on #48496
Closing this. If the error still occurs, feel free to reopen it :) Thanks for contributing

[2020-03-19 20:44] #48496 closed

[2020-03-19 20:44] jonas-schievink commented on #70148
cc @ssomers

[2020-03-19 21:01] JulianKnodt opened #70167 "ICE with Const Generics cast of self in supertrait list"
I was writing some generic code over vectors using the under-construction feature of const generics, and had a circular chain of super-traits that required me to cast the Self type to the trait as can be seen in the `Div` supertrait requirement. I believe that is causing the MIR error.
I think this may be related to #66906 but it is subtly different so I'm putting the issue up regardless.

### Cod

[2020-03-19 21:19] ssomers commented on #70148
#69776 introduced extra calls to Handle::into_node (the function that the profiler is trying to talk about) in case of panic, that would come into play in should_panic test cases (that are excluded by Miri, and don't count on me knowing exactly what happens there). So you might want to try excluding the bunch of should_panic test cases in liballoc/tests/btree/map.rs

[2020-03-19 21:27] Amanieu commented on #70148
Nevermind that's a false positive. It seems that `-Zprofile` requires `-Ccodegen-units=1` to work properly. The issue is unrelated to the btree code.

[2020-03-19 21:45] steveklabnik commented on #26309
Triage: I don't think anything has changed here.

[2020-03-19 21:46] JohnTitor commented on #54503
Here's the initial work of `expect` lint level: https://github.com/JohnTitor/rust/tree/lint-expect

The remaining thing is to trigger the `expectation_missing` lint but I have no idea how to implement. If someone could do, feel free to steal something from there. Or I'm happy to continue the work if someone could mentor me :)

[2020-03-19 22:42] eddyb opened #70168 "Potential WF unsoundness: predicate_obligations doesn't check compute's return type."
`WfPredicates::compute` returns `false` if it can't make progress on an inference variable, and the original obligation should be retried later.
*However*, `wf::predicate_obligations` doesn't check that return type and may (incorrectly) return no obligations.

On #70107 I suggested this:

I'm pretty sure now that it would've prevented this bug.

<hr/>

Looking at the users, only `wfcheck` uses thi

[2020-03-19 22:50] lcnr commented on #70168
#70107 changes the return type of `compute` to a `Result` and discards it using `let _ = self.compute(ty)`. Might cause us to be slightly more cautious in the future.

[2020-03-19 22:51] Amanieu commented on #70148
OK I think I've narrowed it down to an LLVM bug in the way the gcov instrumentation is inserted.

[full gist](https://gist.github.com/Amanieu/8b809982906bf291133a72363d3662ee)

This LLVM IR is generated:
[code]

So basically the initialization of `%rcx` is getting skipped by the incorrect landing pad, which in turn causes the crash.

[2020-03-19 22:53] jonas-schievink commented on #70148
Unnominating since this requires an unstable compiler flag to trigger

[2020-03-19 23:00] Amanieu commented on #70148
Instructions to reproduce:
- `git clone git@github.com:servo/html5ever.git`
- `cd html5ever/markup5ever`
- `CARGO_INCREMENTAL=0 RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Cinline-threshold=0" cargo check` (NOTE: `-Cdebuginfo=0` will cause the bug to no longer trigger)

The actual function with the bug is an instance `std::panicking::try` in the proc_macro2 crate.

[2020-03-19 23:39] eddyb commented on #70168
I'm working on a fix that makes `WfPredicates::compute` itself never bail out, so the check is done in `wf::obligations`, hopefully that will also work nicely for consts.

[2020-03-20 00:31] cr1901 opened #70171 "Misleading error message when trying to implement From?"
Consider the following program, which deliberately fails to compile because it is missing a `U: Copy` bound on `do_stuff`:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2b0d436407634a50ca4abaa0009f5855))

Errors:

[code]

I would expect an error suggesting that I constrain the trait bounds on `do_stuff` further with `U: Copy`. However, the diagnosti

[2020-03-20 02:11] staktrace commented on #69933
So what are next steps here? I don't know what rustc's policy is with respect to regressions, is the regressing patch author responsible for fixing the regression?

[2020-03-20 02:47] eddyb commented on #29635
So here's a fun bug due to lacking validation:

`a.rs`:
[code]

`b.rs`:
[code]

I think the rule we should enforce is that `#[fundamental]` types have *at least* one type parameter, as *only* types can be *local* (e.g. constants are only ever "builtin", parameters or projections).

[2020-03-20 04:05] shika-blyat commented on #66636
Are you still working on it @loris-intergalactique ?

[2020-03-20 04:15] thecodewarrior commented on #69933
I can confirm that downgrading to `nightly-2020-03-09` fixes the issues in the vscode plugin.

[2020-03-20 04:28] spastorino commented on #69952
cc @matthewjasper

[2020-03-20 04:37] andrewreds commented on #44034
A different approach. What do people think?

Stateful Macros
---------------------

(I need better names, syntax etc. But the idea should be there)

Have a "stateful macro", which is a compile time struct.

Things run in 3x main steps:

1. The stateful macro object is initialized with the new!() call

[code]

2. The stateful macro object can have procedural macros called off it

[code]

3. The mac

[2020-03-20 05:45] eddyb commented on #69933
Sorry, I'll go implement https://github.com/rust-lang/rust/issues/69933#issuecomment-599264912 now.

[2020-03-20 06:15] Lesiuk commented on #70148
`-Cdebuginfo=0` basically disables `-Zprofile` because no gcov files are generated. This miscompilation is kinda sad because mozilla's grcov is the most reliable coverage tool for rust. And if you want to have your rust application very well tested coverage is kinda important.

[2020-03-20 07:12] Amanieu opened #70173 "Tracking Issue for LLVM-style inline assembly (`llvm_asm`)"
This is a tracking issue for the RFC "2843" (rust-lang/rfcs#2843).
The feature gate for the issue is `#![feature(llvm_asm)]`.

This issue tracks the legacy inline assembly macro `llvm_asm!` which more-or-less maps directly to LLVM's internal representation of inline assembly.

There is currently no plan for stabilizing this macro, but there is a proposal to replace it with the new inline assembly

[2020-03-20 08:47] 12101111 commented on #69525
This issue is not ARM only, `rust-docs` of all non tier1 platforms is disable on dist CI builders in https://github.com/rust-lang/rust/commit/bd286413443c31c99330358967fb0159de8a3589
If the the documentations have no difference on each linux target, we can let `rustup` download `rust-docs` from `x86_64-unknown-linux-gnu`

[2020-03-20 09:17] LeSeulArtichaut commented on #69952
@rustbot modify labels: -E-needs-bisection

[2020-03-20 10:44] mati865 commented on #70117
Backtrace:
[code]
https://github.com/rust-lang/rust/pull/68663 looks suspicious and I sort of confirmed it: `nightly-2020-01-31` works fine but `nightly-2020-02-01` crashes.
cc @alexcrichton
First broken nightly

[2020-03-20 11:05] loris-intergalactique commented on #66636
Hi @shika-blyat, I do but I have been having some issues working with the compiler. Should I let this issue go, unassign myself and take the time to learn step by step how the compiler works before ?

[2020-03-20 11:09] loris-intergalactique commented on #66636
Plus I'll be watching this issue and learn !

[2020-03-20 12:09] hobofan commented on #40273
This seems to be related: https://github.com/rust-lang/rust/issues/14475

[2020-03-20 12:14] Amanieu commented on #70148
Upstream bug: https://bugs.llvm.org/show_bug.cgi?id=45261

[2020-03-20 12:38] alexander-jackson opened #70178 "ICE when compiling or checking docopt crate"
Updated to the latest `nightly` compiler and did a fresh compile of one of my projects, which failed with this error when processing `docopt`. Minimal working example exists of just `docopt` in the `Cargo.toml`.

### Code

[code]

### Cargo.toml

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

### Backtrace

[code]

[2020-03-20 12:44] jonas-schievink commented on #70178
duplicate of https://github.com/rust-lang/rust/issues/70041

[2020-03-20 12:44] #70178 closed

[2020-03-20 13:21] hatoo opened #70179 "On macOS, try `getentropy()` before opening `/dev/urandom`?"
# Background

Hi, I'm developing a HTTP load generator called [oha](https://github.com/hatoo/oha). The application often exceeds the number of open file limit and then, tokio runtime crashes because it tries to open `/dev/urandom` to generate random on macOS.

https://github.com/hatoo/oha/issues/23

# issue

On macOS, according to https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/r

[2020-03-20 14:01] eddyb opened #70180 "const generic inference variables not properly tracked by traits/fulfill."
I've come up with this example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a41f58bf013052f440d7c68dd3d1f4a5)):
[code]

My understanding is that the error is caused by the `[$T; $C]: Foo` obligation being `stalled_on` on just `$T` (which means it's not retried when `$C` is unified with `4`), whereas it should be stalled on both `$T` and `$C` so that it's r

[2020-03-20 14:05] LeSeulArtichaut commented on #70117
@rustbot modify labels: +regression-from-stable-to-stable

[2020-03-20 14:09] alexreg opened #70182 "Fatal error when running `./x.py test` without `.git` directory"
When running `./x.py test` without a Git repo (i.e., no `.git` directory), I get the following:

[code]

Apparently this is due to tidy/rustfmt. (Thanks to @Mark-Simulacrum for this suggestion.) So, if I add `--exclude src/tools/tidy` to the command line, it all works. However, it would be nice if it could handle no `.git` directory automatically.

CC @pnkfelix

[2020-03-20 14:11] rylev commented on #51711
I cannot reproduce this. Note that the commit-hash from the nightly version available through rustup is not the same as the one in the original issue post.
[code]

[code]

This produces the correct error:
[code]

[2020-03-20 14:21] eddyb commented on #70180
Note to self: the PR fixing this should also test this example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3c141838978fef4cea8ff4cec4b96635)):
[code]

The reason for this is that this second example has the type and const inference variables in different generic args of `Foo`, meaning fixing it *also* requires changing this to `has_infer_types_or_consts`:

[2020-03-20 14:28] Mark-Simulacrum commented on #70182
This is coming from the recently added untracked files check; my guess is we should simply skip it if we're not in a git repository rather than panicking.

[2020-03-20 14:29] carols10cents commented on #69900
Yes, closing as duplicate.

[2020-03-20 14:29] #69900 closed

[2020-03-20 14:47] disconnect3d opened #70183 "rustc --crate-type flag should display valid values"
Hello,

When we provide wrong value for the `--emit` flag, we will get a list of valid values. This is not the case for `--crate-type` flag, which should also display valid values.

The `--emit` example:
[code]

The `--crate-type` example:
[code]

Versions:
[code]

I have also tested this on rustc 1.42.0 and it is the same.

[2020-03-20 14:52] jeswin commented on #70098
If it's of any use, I tested it with rustc 1.39 and got the same error. I'll be happy to help in any way - should you require.

[2020-03-20 14:54] dvdplm commented on #51711
Let's close this. :)

[2020-03-20 14:54] #51711 closed

[2020-03-20 15:01] RalfJung commented on #70148
Miri has supported panics for a while now. If there are still panic tests excluded by Miri, that's a bug. Do you have an example of such a test?

[2020-03-20 15:12] jdm opened #70185 "Importing modules from inside include! no longer works"
This code works in the 2020-03-19 nightly:

build.rs:
[code]

lib.rs:
[code]

The resulting OUT_DIR looks like:
[code]

With the 2020-03-20 nightly, this crate generates the following output:
[code]

I suspect either https://github.com/rust-lang/rust/pull/68941 or https://github.com/rust-lang/rust/pull/66131.

[2020-03-20 15:12] RalfJung commented on #70179
Miri would also like that, because it is easier to emulate. :)

[2020-03-20 15:14] DenSA-Inc opened #70186 "Consider adding #[must_use] to std::process::Child"
I fixed a bug that was caused by not calling `.wait()` on a `std::process::Child`. See [the issue](https://github.com/denisidoro/navi/issues/267) for the details. I'm not exactly sure how the bug manifested itself, but I noticed that not waiting for the child process whose stdin or stdout is inherited from the parent process can lead to weird behavior.

That's why I suggest to add `#[must_use = "t

[2020-03-20 15:15] alexcrichton commented on #70117
@mati865 that looks like a blocked thread, not a segfaulting threading. You'll likely want to get the backtrace of all threads if you're seeing a crash, and the ones that aren't blocked in pthreads are likely the ones segfaulting.

Or if it is indeed segfaulting in pthreads, it would be good to confirm that by inspecting the instruction to see what the faulting instruction was, since that could hi

[2020-03-20 15:16] lcnr commented on #70167
minimized:
[code]

[2020-03-20 15:17] SimonSapin commented on #70185
Regression range: https://github.com/rust-lang/rust/compare/f509b26a7...f4c675c47

Merge commits in that range:

* Auto merge of https://github.com/rust-lang/rust/pull/69402 - GuillaumeGomez:extend-search, r=kinnison
* Auto merge of https://github.com/rust-lang/rust/pull/70137 - RalfJung:miri, r=RalfJung
* Auto merge of https://github.com/rust-lang/rust/pull/66131 - eddyb:local-def-id, r=petrochen

[2020-03-20 15:19] jonas-schievink commented on #70185
probably cause: https://github.com/rust-lang/rust/pull/69838

cc @Centril

[2020-03-20 15:22] jdm commented on #70185
Looks like this should be fixed by https://github.com/rust-lang/rust/pull/70184?

[2020-03-20 15:23] Centril commented on #70185
@jdm Yeah that should fix it.

[2020-03-20 15:23] eddyb commented on #70167
Looks like maybe constants in trait paths don't get their type correctly?
cc @varkor @yodaldevoid

[2020-03-20 15:28] mark-i-m commented on #70173
cc https://github.com/rust-lang/rust/pull/68404

[2020-03-20 15:36] varkor commented on #70180
I've definitely noticed problems with inference involving consts before, but wasn't able to pin down where the issue was stemming from. It would be great if this could be addressed once and for all.

[2020-03-20 15:56] lcnr commented on #66906
@rustbot claim

[2020-03-20 16:20] lzutao opened #70191 "Merge two impl BufReader blocks"
Can we merge two impl block?
https://github.com/rust-lang/rust/blob/f4c675c476c18b1a11041193f2f59d695b126bc8/src/libstd/io/buffered.rs#L107-L109
Currently there is no way to create a `BufReader<R>` where R not impl Read trait.

[2020-03-20 16:30] Mark-Simulacrum commented on #70191
Why do you want such a BufReader?

[2020-03-20 16:46] spacejam opened #70192 "ICE compiling docopt v1.1.0 with rustc f509b26a7 2020-03-18 with sanitizer=address"
I will fill out more info if I have time, but at the moment I do not, and I'd prefer not to lose track of this.

   Compiling docopt v1.1.0
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/librustc/hir/mod.rs:81:37
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

error: internal compiler error: unexpected panic

note: the compiler unexpect

[2020-03-20 17:05] rylev commented on #50687
This still needs a more minimal reproduction. I can't get `tokio_reactor` to build using any of the compilers that are problematic. The reproduction should show what is happening from including `tokio_reactor` that causes this issue.

[2020-03-20 17:18] jonas-schievink commented on #70192
duplicate of https://github.com/rust-lang/rust/issues/70041

[2020-03-20 17:18] #70192 closed

[2020-03-20 18:02] ssomers commented on #70148
Never mind, I excluded should_panic tests when testing myself, since I don't know how to run them successfully.

[2020-03-20 18:15] matthewjasper commented on #69971
This is the same as
[code]

[2020-03-20 18:21] cramertj commented on #70022
It seems reasonably likely to me that *someone* at *some point* will want to use a value aligned to >4KiB targeting a specific platform where they know the exact page size. Banning larger alignments is certainly forward-compatible with that, but it might not be a bad idea to think ahead as to how we want to handle that case.

[2020-03-20 18:36] steveklabnik commented on #50759
Today's nightly gives:

[code]

https://godbolt.org/z/bStGNJ

[2020-03-20 18:53] hanna-kruppe commented on #50759
No real difference as far as I can tell. It still has the 16 separate bounds checks at the start.

[2020-03-20 18:58] Amanieu commented on #70022
We could define the max alignment in the target spec. However we would need to move the check later on in the pipeline since AFAIK the parser doesn't have access to the target spec.

[2020-03-20 19:02] #55099 closed

[2020-03-20 21:50] garrettmaring commented on #56590
Is there a known workaround for this? I am still seeing this issue with 1.44.0-nightly.

[2020-03-20 22:21] #53871 closed

[2020-03-20 22:25] Centril commented on #69971
I tried to change this to:
[code]
in MIR lowering by adjusting the visiting order in two places, but that didn't change the outcome. Perhaps that's because of the treatment of `_`?

At any rate, guaranteeing the visiting order here seems suboptimal wrt. for example making `x @ y` a true intersection pattern and `y` before `x` seems contrary to LTR reading order.

[2020-03-20 23:28] manpat commented on #69597
Woah that seems much better
I was under the impression nll was enabled by default as of 2018 but it seems I was mistaken?

[2020-03-21 00:02] est31 commented on #46439
See also https://github.com/rust-lang/backtrace-rs/issues/189

[2020-03-21 01:52] syntacticsugarglider commented on #29597
What's going to replace the support for custom lints provided by lint plugins? Some sort of alternative seems like a good idea.

[2020-03-21 02:34] eddyb commented on #22519
I am not sure which issue is the canonical one for `T::X::Y::Z`, but I found this one.

@nikomatsakis So I was thinking about the lazy normalization approach and what you'd need to encode in the typesystem. To handle everything supported today, this would work:
* `self_ty: Ty` (`T` in `T::X` aka `<T>::X`)
* `assoc_name: Ident` (`X` in `T::X`)
* `scope: DefId` (the definition with a `T: Trait` boun

[2020-03-21 04:10] lzutao commented on #70191
I do not want that BufReader. I just ask could we merge two impl blocks?

[2020-03-21 06:23] lzutao opened #70206 "When suggesting an typo type, do not display whole type body."
For example, consider this snippet ([playground]):

[playground]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ebfaca372ca9f94fceb7e1d418c6c272

[code]

Currently rustc errors:

[code]

I would like it to highlight only the type name:

[code]

Related issue on clippy: https://github.com/rust-lang/rust-clippy/issues/5284

[2020-03-21 06:40] Centril commented on #70206
Sounds like a good improvement. This should be as easy as replacing the relevant `span` with `sm.def_span(span)`.

[2020-03-21 07:12] SimonSapin commented on #29597
At this point there is no replacement. See https://github.com/rust-lang/rust/issues/62868 for some discussion of this.

[2020-03-21 07:30] lzutao opened #70208 "./x.py failed"
[code]

cc @pietroalbini @Mark-Simulacrum

[2020-03-21 07:40] zhaihj opened #70210 "`expected type, found variant` in const generics"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=682a416e268d37b79113d7d847ef2103))

I expect this code works. However the first call fails while the second works well.

Errors:

[code]

meta:

`rustc --version --verbose`: rustc 1.44.0-nightly (f509b26a7 2020-03-18)

[2020-03-21 07:46] #39608 closed

[2020-03-21 07:46] #56974 closed

[2020-03-21 07:46] #58319 closed

[2020-03-21 07:46] #70050 closed

[2020-03-21 07:46] #65131 closed

[2020-03-21 07:55] Centril commented on #70185
https://github.com/rust-lang/rust/pull/70184 has landed now. @jdm can you confirm on the next nightly whether the issue was fixed for y'all?

[2020-03-21 08:40] tiannian commented on #67513
Type arguments in GAT seems not yet implemented. Is this feature being implemented?

[2020-03-21 08:51] Centril commented on #70208
I've hit this many times, and using `rm -rf build/bootstrap` fixes the issue for me.

[2020-03-21 08:53] eddyb commented on #70167
Initially I thought this was about bounds but no, this also fails: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5e7acc1c0b30a33b6df66869fe47296a))
[code]

[2020-03-21 08:58] eddyb commented on #70167
I believe this code is responsible: https://github.com/rust-lang/rust/blob/5f13820478907b09d50baf74f3ff2b78499ecd6c/src/librustc_typeck/collect/type_of.rs#L285-L287

And the problem is that this doesn't handle associated types which need the same treatment: https://github.com/rust-lang/rust/blob/5f13820478907b09d50baf74f3ff2b78499ecd6c/src/librustc_typeck/collect/type_of.rs#L259-L261

[2020-03-21 09:04] eddyb commented on #70167
Alternatively, instead of using `path.res` to get the `DefId`, maybe we could use the `Res`olution from the segment we found the const parameter in?
I believe nowadays we have per-segment resolutions, which would avoid breaking GATs in the future.

Actually, I expect `Struct::<N>::method::<M>()` is also broken, let's try it... Yupp: ([playground](https://play.rust-lang.org/?version=nightly&mode=de

[2020-03-21 09:36] eddyb commented on #69933
I'm not sure why the original reproduction seemed so daunting, it triggered the bug as expected.

I was also able to reproduce it on the problem crate itself:
[code]
and it succeeds with this (which is my local build including #70172):
[code]

`glean` also gets past the ICEs, but I can't easily do a full build because build scripts failed.

[2020-03-21 09:55] lzutao commented on #70208
Unfortunately, that doesn't help. I got the same error again after removing entire `build` dir.
I think I find the problem. `x.py` does not encounter for `CARGO_BUILD_TARGET` env
(which I set in my `~/.profile` file).

[2020-03-21 09:56] lzutao commented on #70208
Hence the bootstrap should be in `build/bootstrap/x86_64-unknown-linux-gnu/debug/bootstrap`
rather than `build/bootstrap/debug/bootstrap`.

[2020-03-21 10:04] lzutao commented on #70208
This line: https://github.com/rust-lang/rust/blob/5f13820478907b09d50baf74f3ff2b78499ecd6c/src/bootstrap/bootstrap.py#L659
We may need to remove `CARGO_BUILD_TARGET` in `x.py`. Or support it properly.

[2020-03-21 10:21] lcnr opened #70217 "ICE with explicit const params in method call."
split from https://github.com/rust-lang/rust/issues/70167

comment by @eddyb

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=58fc49205abf2b2c2121f3275ab6d52d)

This fails with
[code]

[2020-03-21 10:46] Amanieu commented on #64126
I tried to reproduce this with the latest nightly but wasn't able to. Can you check on your end to see if this issue is fixed?

[2020-03-21 10:53] eddyb commented on #70217
cc @varkor @yodaldevoid

[2020-03-21 11:09] SkiFire13 commented on #69455
It gets even more misleading if you use `xs` before that addition. For example:

[code]

This gives the following error:

[code]

This doesn't even report the line where the actual error is which is even more misleading. Imagine if there were several other lines between line 3 and 4.

[2020-03-21 11:11] #68905 closed

[2020-03-21 11:11] Mark-Simulacrum commented on #70191
Looking at the implementation, both new and with_capacity make use of the Read impl, so we can't just not have it. I suspect we can't merge the latter methods in for backwards compatibility reasons anyway (someone could be working with fully generic bufreaders).  If you want to pursue small cleanups like this I would recommend filing pull requests directly.

I'm going to close this, if you want to

[2020-03-21 11:11] #70191 closed

[2020-03-21 11:12] rust-highfive opened #70220 "`miri` no longer builds after rust-lang/rust#70211"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70211, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-03-21 11:13] LeSeulArtichaut commented on #70217
@rustbot modify labels: +I-ICE +A-const-generics +F-const-generics

[2020-03-21 11:14] LeSeulArtichaut commented on #70217
@rustbot modify labels: +I-ICE +A-const-generics +F-const-generics +C-bug

[2020-03-21 11:17] LeSeulArtichaut commented on #70217
@rustbot modify labels: +I-ICE +A-const-generics +F-const_generics +C-bug

[2020-03-21 12:34] Mark-Simulacrum commented on #70208
I personally consider this a "user error" in some sense, in that there's a bunch of cargo flags you can set (either in .cargo/config or environment) that'll break x.py -- I don't think we should be removing them ourselves, personally, since it seems like it's hard to be sure that they're really not necessary. I would also not want to support them, though...

However, with `CARGO_BUILD_TARGET` spec

[2020-03-21 12:42] jonas-schievink commented on #70210
You need to do `baz::<{Foo::bar}>();` as documented in the RFC

[2020-03-21 12:42] #70210 closed

[2020-03-21 13:00] lcnr opened #70225 "constant as trait param results in incorrect dead code warning"
I tried this code:

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=903adb8ad5e21e40066ff5f51d4941ef)

I expected to see this happen: no `dead_code` warning is emitted.

Instead, this happened:

[code]

[2020-03-21 13:10] lcnr commented on #70125
@rustbot claim

[2020-03-21 13:36] M1cha commented on #64126
I can't reproduce it anymore either. My hope is that it actually got fixed and it's not just that it coincidentally stopped causing a crash.

[2020-03-21 13:39] Amanieu commented on #64126
I'm going to close this issue unless someone can reproduce this with the latest compiler.

[2020-03-21 13:39] #64126 closed

[2020-03-21 15:33] RalfJung opened #70230 "Idea: guaranteed-zero padding for niches"
As suggested [here](https://github.com/rust-lang/unsafe-code-guidelines/issues/174#issuecomment-599160855), one option to gain more layout optimizations would be (either for all `repr(Rust)` types or with per-type opt-in) to change the handling of padding.

Right now, padding bytes may contain arbitrary data, and can be omitted when copying as they are "unstable" in a typed copy. Instead, we could

[2020-03-21 16:12] petrochenkov commented on #68921
Fixed in https://github.com/rust-lang/rust/pull/70233.

[2020-03-21 16:40] JelteF commented on #69161
I've been doing a bit of digging in the type checking code and I've found the core problem of this bug:

This [piece of code that checks for `illegal_sized_bound`](https://github.com/rust-lang/rust/blob/98803c182b2ba6ef5dccb6bf501958249295eac0/src/librustc_typeck/check/method/mod.rs#L212-L215), should be checked somewhere in the [`consider_candidates`](https://github.com/rust-lang/rust/blob/98803c

[2020-03-21 16:41] #69970 closed

[2020-03-21 17:10] q2p commented on #53188
As I understand `if` / `match` in const functions is now implemented.
Can `unreachable_unchecked` be made `const fn` now?

[2020-03-21 17:31] contrun commented on #69455
@SkiFire13 Thank you for your additional information.
The root cause of this problem is that rust in unable to resolve `u64` as `Add<_>` where `_` is the rhs of `+`. Rust tries to call `need_type_info_err` which only accepts the error type `u64` and the error span as parameters. Rust then tries to find all possible location of the error type in the body. When it finds a closure of type `u64`, it w

[2020-03-21 17:31] eddyb commented on #70230
LLVM has no concept of "padding" outside of "first-class aggregates", which we only use for multiple (well, 2) return values (via `ScalarPair`), and nothing else (no values in functions, no global initializers).

As long a type is `Abi::Aggregate`, and it's not copied by explicit field-by-field accesses, LLVM only sees a `memcpy` (so size and alignment), *nothing else*.

[2020-03-21 18:01] RalfJung commented on #70230
I don't know what you mean. When I define a `struct`/`union` in LLVM, won't it add padding in between the fields?

LLVM is permitted to turn a copy of struct-type into a field-by-field copy, and AFAIK we had examples where it did that? This is the kind of transformation that becomes illegal with "zero-padding" (unless we somehow already know that the target memory is zero, e.g. because it is alrea

[2020-03-21 18:01] petrochenkov commented on #62767
...which was exactly the case here!
Thank you for reporting.

Fixed in https://github.com/rust-lang/rust/pull/70236.

[2020-03-21 18:29] woshilapin commented on #70098
Using the repository @jonas-schievink provided, I couldn't reproduce the bug. I'm building on a MacOS Catalina 10.15.3 and I tried Rust stable (`rustc 1.42.0 (b8cedc004 2020-03-09)`) and Rust beta (`rustc 1.43.0-beta.1 (4a71daf1c 2020-03-11)`).

[2020-03-21 18:35] petrochenkov commented on #58818
This was fixed by https://github.com/rust-lang/rust/pull/69838, I'll add a test.

[2020-03-21 18:39] bjorn3 commented on #70230
What would be the overhead of the actual zeroing of the padding? Especially for cg_clif, which barely performs any memory optimizations I imagine this will have a significant overhead. The only memory optimization performed by cg_clif results in a ~15% improvement. However that optimization is currently so dumb that I think zeroing padding will prevent performing this optimization.

[2020-03-21 18:42] RalfJung commented on #70230
Assuming the backend does naive copying (i.e., it always copies the entire struct and doesn't try to be clever by only copying the fields and ignoring padding), then the only overhead is in the constructor: `Struct { f1, f2 }` would have to compile to code that also writes zeroes to padding between the fields.

[2020-03-21 18:47] korken89 opened #70239 "Place &str in specific linker sections"
In the usecase I am working on I want to store the string from `core::any::type_name` in a specific linker section to create an instrumentation tool for Embedded Rust micro controllers.
If the string is placed in `.rodata` it does not affect the tool, but when having only a few kB of memory storing these strings in the actual micro controller is a huge price to pay.
Rather only the generated ELF f

[2020-03-21 19:11] bjorn3 commented on #70230
Yes

That is exactly what I am afraid of having a >5% overhead on compile time and, when not using optimizations, runtime. Especially for enums it may result in a lot more stores being generated.

[2020-03-21 19:15] bjorn3 commented on #70230
Also at for the mir returned by `instance_mir`, the constructor is desugared into individual field assignments. This means that you either have to zero the full local in the prelude, or you have to do a complex analysis to find which bytes will be overwritten later. For the later you can't just take the field offsets, as different enum variants may have different padding.

[2020-03-21 19:48] RalfJung commented on #70230
I was thinking of struct padding only so far, where it should be pretty trivial to write some zeroes between the fields.

But I also don't see the issue with enums. In a constructor, the enum variant is statically known. So you just look at the fields of the initial variant, and zero the gaps between them.

[2020-03-21 19:57] chrissimpkins commented on #69134
merged to master

[2020-03-21 20:04] bjorn3 commented on #70230
I guess zeroing during the codegen of `SetDiscriminator` will work. That will unnecessarily duplicate zeroing in some cases though.

Not much, but given the huge speed win of the very very dumb memory optimization I implemented (bail out on address taken, more than one store possibly preceding a load, ...) I expect the cost to be relatively high. I can try to benchmark it for cg_clif though.

[2020-03-21 20:13] #69134 closed

[2020-03-21 20:18] calebmer opened #70243 "Rust compiler panic"
The Rust compiler panicked with the following message. I’m not planning on taking the time to create a minimal repro, so you can immediately close if you’d like. Don’t know how useful just sharing a panic. message is.

[code]

[2020-03-21 20:23] calebmer commented on #70243
A little bit more information, if I take this code:

[code]

…and remove `#[harness::test]` it compiles without error. Here’s the implementation of my harness macro:

https://gist.github.com/calebmer/752055b54d3573435048a41c6fd609e8

[2020-03-21 20:34] calebmer commented on #70243
Expanding the error message:

[code]

…and zooming in on:

[code]

…the type `found: <column::Column<select_tests::test::Table, types::I32Type> as selection::Selection<'_, select_tests::test::Table>>::Data` should resolve to `i32`.

[2020-03-21 20:39] calebmer commented on #70243
This code is probably relevant. It’s doing some admittedly weird things:

[code]

[2020-03-21 20:53] Centril commented on #70243
Probably a duplicate of https://github.com/rust-lang/rust/issues/62529.

[2020-03-21 21:13] calebmer commented on #70243
I’m able to get this code working by changing `map` to:

[code]

[2020-03-21 22:11] woshilapin commented on #52893
Thanks to the Rust playground provided by @pierreN, I was able to reduce a little bit more the example, removing a bunch more generic constraints, some functions, some useless body functions.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c62b7e648247d70f210930efeb42fb10

[2020-03-21 22:17] jplatte opened #70247 "RELEASES.md section for 1.10 contains an entry concerning a nightly feature"
`concat_idents!` is unstable [to this day](https://github.com/rust-lang/rust/issues/29599), but `RELEASES.md` has this to say about Rust 1.10:

The release notes shouldn't really be talking about changes to unstable features, right?

[2020-03-21 22:23] Mark-Simulacrum commented on #70247
Yes, they shouldn't be, this was likely just an oversight at the time. We would be able to accept a PR nixing the entry, I think, even if there's probably not much point (given that 1.10 is quite old at this point).

[2020-03-21 22:42] Arnavion opened #70251 "std::env::vars() panics on any non-utf8 env var, feels like a footgun"
Consider some code that is looking for an env var that it knows should be valid UTF-8. It would be tempted to use `std::env::vars()` for this:

[code]

(It doesn't know the exact name of the env var, hence the need to enumerate every env var and test the key with `cond`, rather than just using `std::env::var()`.)

But this will panic if an unrelated env var that isn't convertible to `String` happe

[2020-03-21 23:17] JOE1994 opened #70252 "Different compiler warnings when building same project in Ubuntu/Windows"
When building [`MIRI`](https://github.com/rust-lang/miri) in Windows & Ubuntu,
I observed that `rustc` emits a **warning** in Windows, but not in Ubuntu.
I expected to see same error messages from `rustc` in both Windows & Ubuntu.

I used the same versions of `rustc` and `MIRI` in both Windows and Ubuntu.
* rustc : `rustc 1.44.0-nightly`
* latest commit of `MIRI` that I used : https://github.com/r

[2020-03-21 23:22] jonas-schievink commented on #70252
That's because there's a `#[cfg(target_family = "unix")]` block just below it

[2020-03-21 23:22] #70252 closed

[2020-03-21 23:57] RReverser opened #70255 "Weird error for mutable references in a loop"
I tried this code:

[code]

I expected to see this happen: code successfully compiles because mutable reference is used only temporarily in an `if` block.

Instead, this happened: Rust fails to compile with an error.
[code]

Without `noop` it also fails, although with slightly different error:

[code]

Error:

[code]

### Meta

`rustc --version --verbose`:
[code]
(although reproduces in all Rust v

[2020-03-22 00:37] upsuper commented on #70230
Another potential optimization is that if reading the padding is undefined, the compiler might be able to utilize it to vectorize some writing even if such writing would overwrite the padding area, but if pading is defined to be zero then such optimization may be less feasible.

Not sure whether that's something really happening, though.

[2020-03-22 00:45] Centril opened #70256 "Equality constraints on associated constants"
We currently do not support any way to constrain an associated constant as needing to be equal to some constant value. The natural way to achieve this would be to, by analogy with e.g., `Foo<0>`, also allow `Foo<ID = 0>`. The same disambiguation rules would apply as for `Foo<X>` in terms of when a block `{ ... }` is needed, e.g., `Foo<ID = { N + 1 }>`.

In compiler internal terms, we would redefin

[2020-03-22 00:46] Centril commented on #70256
I've assigned myself, as I will be fixing the parser / lowering aspects of this to start with.

[2020-03-22 00:57] rodrimati1992 commented on #66057
Here is a minimized version of this error:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=88c617f0e3c7a5edc0734dfe9c8e3e6c
[code]
[code]

[2020-03-22 00:57] #70041 closed

[2020-03-22 00:57] #70114 closed

[2020-03-22 00:57] #53957 closed

[2020-03-22 00:57] #58818 closed

[2020-03-22 00:57] #70208 closed

[2020-03-22 00:59] eddyb commented on #70230
Only if you use those types as "first class aggregates", as in, by-value.
Oh and `Abi::Scalar` pair should be fine since we use it only when there is no padding after the scalar, so only `Abi::ScalarPair` and `Abi::Vector` lose padding (outside of non-Rust call ABIs).

When used for field access only, like we do, it's just a silly way to specify a field offset, nothing more.

`llvm.memcpy` calls d

[2020-03-22 01:12] eddyb commented on #69282
Ironically, the benefit from this is pretty minor, and it'd be trickier to implement than today, because the param attributes aren't kept cross-crate, so they need to be encoded some other way.

Probably a decent way would be to add a `Lazy<BitSet>` to this, I guess? https://github.com/rust-lang/rust/blob/c6b172f7885cb83842fa15e4b0e2ff1647aebb40/src/librustc_metadata/rmeta/mod.rs#L327-L331

[2020-03-22 01:31] eddyb commented on #70125
Reduced:
[code]

Looks like a normalization failure to me, but that shouldn't happen for `{3}`.

[2020-03-22 01:39] eddyb commented on #70125
So I found the bug, this is just outright missing `fold_const`:

But also, it's worrying that this is missing for consts (even if it's not relevant here):
https://github.com/rust-lang/rust/blob/c6b172f7885cb83842fa15e4b0e2ff1647aebb40/src/librustc_trait_selection/traits/project.rs#L321
https://github.com/rust-lang/rust/blob/c6b172f7885cb83842fa15e4b0e2ff1647aebb40/src/librustc_trait_selection/trai

[2020-03-22 01:45] eddyb opened #70258 "Terminology: prefer "outside inference" to "after typeck" (or worse "during codegen")."
Example offenders:
https://github.com/rust-lang/rust/blob/a03921701cdfe0b2c5422240f3ae370ab21069f1/src/librustc/ty/normalize_erasing_regions.rs#L18-L20

https://github.com/rust-lang/rust/blob/c6b172f7885cb83842fa15e4b0e2ff1647aebb40/src/librustc_trait_selection/traits/codegen/mod.rs#L18-L19

None of this is particularly true anymore (not that it was great when it used to be true), especially since

[2020-03-22 02:38] Matthias247 commented on #66709
I think that is a library limitation, not a `Future` one. Most libraries already enforce that their types can only be used by a single task at a time by required a `&mut self` reference. Of course you could start polling there, and then hand over the poll to another task - which would lead the first task never to get notified. But I can't see a good reason why anyone would do it and expect it to w

[2020-03-22 03:49] jeswin commented on #70098
Hi @woshilapin, sorry I forgot to mention - my build environment was Linux 64-bit; Ubuntu 19.10 specifically.

[2020-03-22 04:08] #70128 closed

[2020-03-22 05:03] sfilargi opened #70260 "Optimizer optimizes away empty infinite loop?"
I am trying to bring up a bare metal STM32 from scratch.

My code is super simple
[code]

This works fine. And if I disassemble it, I see:
[code]

So the infinite loop is fine.

Now if I modify it just a bit and add a "main" function. I.e.
[code]

If I disassemble the code I see the loop is gone:

[code]

Notice the `udf`.

My cargo config is:

[code]

[2020-03-22 05:04] memoryruins commented on #70255
The code is currently accepted under rustc's nightly flag `-Z polonius` (as Centril has already tagged), and appears similar to other some of the other issues tagged as `NLL-polonius`,
e.g. #51545 and #54663

[2020-03-22 08:07] eddyb commented on #63063
I just came across an implementation oddity - this compiles ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=80d6aa5f1cb7f091e610a9ed1f627aa0)):
[code]

However, the [type parameter](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=08f3f9a0370664cc26c1288410d3b7bb) and [lifetime parameter](https://play.rust-lang.org/?version=nightly&mod

[2020-03-22 08:14] comex opened #70262 "HRTBs: lifetime "does not appear in the trait input types""
Consider this code:
[code]
The bound is intended to match functions roughly of the form
[code]
However, rustc rejects `foo` with this error:
[code]

The `rustc --explain` output points to issue #33685, which had to do with declarations where a lifetime appeared in a function's return type and nowhere else, like:
[code]
In that issue, @nikomatsakis wrote:

My example is different, though, in that t

[2020-03-22 08:29] comex commented on #70262
Just found #49601 which this seems to be a dupe of.

[2020-03-22 08:29] #70262 closed

[2020-03-22 08:35] comex opened #70263 "HRTBs: "implementation is not general enough", but it is"
[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dd8b42df59f46cea2ed646339ad1d024)
[code]
produces:
[code]
But clearly it actually is implemented for any lifetime.

[2020-03-22 09:57] PieterPenninckx opened #70265 "E0308 because `Self` is not equivalent to concrete type in constructor (lifetime mismatch)"
I tried this code:

[code]
I expect this code to compile without error because I would assume that `Self` is equivalent to `S` in this case. I expect this equivalence because `Self` is used as an alias of `S` in the body of a function and lifetimes cannot be annotated in function bodies.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

Same behaviour with the nightl

[2020-03-22 10:53] lzutao commented on #70265
The error is legit and right.

[2020-03-22 10:54] lzutao commented on #70265
Self is not the same as type name.

[2020-03-22 11:26] ArekPiekarz commented on #70260
This is a known LLVM issue https://github.com/rust-lang/rust/issues/28728

[2020-03-22 11:55] #70260 closed

[2020-03-22 11:59] RalfJung commented on #70230
Oh I see, so LLVM itself couldn't even do the "replace copy of struct by copy of fields skipping padding" transformation, because it does not know which fields are padding. Nothing would have to change here for guaranteed-zero padding.

---

Btw, with nightly features we can already "manually" zero-pad a `struct`, and layout optimizations can exploit that:
[code]
[Playground](https://play.rust-lan

[2020-03-22 12:09] GuillaumeGomez commented on #26309
Definitely didn't. I start I'll start over from start when I'll get back to it.

[2020-03-22 12:14] lzutao commented on #70265
In the impl block, `Self` is alias for `S<'a>`, not `S` alone.
Anyway, this maybe a duplicate of #66176.

[2020-03-22 12:39] RReverser commented on #70255
Oh, you're right, the reduced example in #54663 and mine match almost exactly, so I'll close this issue to avoid the noise.

It's first time I hear about polonius TBH, is there anything to read about timeline and differences with current NLL implementation?

[2020-03-22 12:44] eddyb opened #70271 "Consider limiting #[rustc_args_required_const(...)] to intrinsics."
I've just been made aware that functions like this exist: https://github.com/rust-lang/stdarch/blob/abe96ca3b87fcca6aa1dfcefd40d8c8d92d2e673/crates/core_arch/src/x86_64/avx2.rs#L28-L34
[code]

I was under the impression that `#[rustc_args_required_const(...)]` would be used primarily for intrinsics (including the behind-`rustc`'s-back imported LLVM intrinsics), and maybe unstable implementation de

[2020-03-22 12:58] jonas-schievink commented on #70265
Yeah, this is working as intended, so closing.

[2020-03-22 12:58] #70265 closed

[2020-03-22 13:18] jendrikw opened #70273 "ICE when using const generics with associated items"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This issue has been assigned to @lcnr via [this comment](https://github.com/rust-lang/rust/issues/70273#issuecomment-602208970).

[2020-03-22 13:24] jonas-schievink opened #70274 "Better diagnostics when calling "ouroboros method""
This code gives a somewhat hard to understand error message:

[code]

[code]

The error is correct, as `ouroboros_me` stores a self-reference in `s`, but it also happens when not doing that purely due to the method signature. That's also correct, but users frequently write such a method accidentally and are then left to wonder why the variable stays borrowed for seemingly no reason.

It would be g

[2020-03-22 13:26] memoryruins commented on #70255
The following posts go a bit in depth on polonius (https://github.com/rust-lang/polonius)
- http://smallcultfollowing.com/babysteps/blog/2018/04/27/an-alias-based-formulation-of-the-borrow-checker/

- http://smallcultfollowing.com/babysteps/blog/2019/01/17/polonius-and-region-errors/
- http://smallcultfollowing.com/babysteps/blog/2019/01/21/hereditary-harrop-region-constraints/

As for timeline, I

[2020-03-22 13:27] jendrikw commented on #70273
managed to reduce the test case a bit.

[2020-03-22 13:39] jendrikw commented on #70273
Also happens for this code using a function instead of an associated type:

### Code
[code]

### Error output
[code]

[2020-03-22 14:26] lcnr commented on #70273
@rustbot claim

[2020-03-22 15:01] steveklabnik commented on #44034
To me, it feels like:

1. properly supporting this feature means adding a new API
2. a new API would have a large surface area
3. this means that this should go through the RFC process.

[2020-03-22 15:40] aleksator commented on #66636
I think the suggested message is overly verbose. If we are to change it, let's do with something succinct: `if this is intentional prefix it with an underscore`.
The whole message would then look like:
[code]

This has the advantages of conveying that not using the variable was most likely not intentional, suggests a fix if it was, and being brief at the same time.

Feedback on keeping it short in

[2020-03-22 15:41] lcnr commented on #70273
initial example fixed by #70223,
associated function fixed by #70276

[2020-03-22 16:48] PieterPenninckx commented on #70265
For people reading this in the future: in contrast to what I initially believed, lifetimes _can_ be annotated in function bodies (at least in certain cases), as illustrated in the following code which compiles:

[code]

With this knowledge, the error indeed makes sense to me.

[2020-03-22 16:56] olehmisar opened #70278 "`std::error::Error::source` documentation example uses deprecated `description` method"
https://doc.rust-lang.org/std/error/trait.Error.html#method.source.

The documentation example contains the deprecated `std::error::Error::description` method in the `main` function:
[code]
This is probably a mistake as `get_super_error` returns a `struct` that `impl`ements the `std::fmt::Display` trait which should be used instead of the deprecated `std::error::Error::description` method. So, thi

[2020-03-22 17:00] yunfengsay opened #70279 "stop runing when use std::mem::replace"
I tried this code:

[code]

I expected to see this happen: *print println content*

Instead, this happened: *not running after when  turn to std::mem::replace*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-03-22 17:10] jonas-schievink commented on #70279
Those indices are out of bounds of `map`. Please post help posts like this at https://users.rust-lang.org/, this is a bug tracker.

[2020-03-22 17:10] #70279 closed

[2020-03-22 17:11] jonas-schievink commented on #70278
This was fixed by https://github.com/rust-lang/rust/pull/70218

[2020-03-22 17:11] #70278 closed

[2020-03-22 17:34] tirr-c commented on #70127
More minimal repro:

[code]

The root cause is that a concrete lifetime can't be used when a bound lifetime parameter is expected. If we use `mixed` function below, it works:

[code]

[2020-03-22 18:37] #66906 closed

[2020-03-22 18:37] #69933 closed

[2020-03-22 18:37] #70167 closed

[2020-03-22 18:37] #70247 closed

[2020-03-22 18:38] rust-highfive opened #70280 "`rustfmt` no longer builds after rust-lang/rust#70275"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70275, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-03-22 19:04] eddyb commented on #70167
@varkor @yodaldevoid If you look at this later btw, my comment above (https://github.com/rust-lang/rust/issues/70167#issuecomment-602016539) still isn't addressed, but I haven't made an issue yet about it.

[2020-03-22 19:08] shika-blyat commented on #66636
https://github.com/rust-lang/rust/blob/5f13820478907b09d50baf74f3ff2b78499ecd6c/src/librustc_passes/liveness.rs#L1568

I think this is the involved line.

[2020-03-22 19:10] shika-blyat commented on #66636
I'd be interested to make this contribution (i think i'm able to do it 😄), but i don't know if i should wait for some kind of confirmation.

[2020-03-22 19:11] aleksator commented on #66636
Yeah, that's why I asked about the exact wording before submitting the PR

[2020-03-22 19:23] SimonSapin commented on #70185
Confirmed fixed in `nightly-2020-03-22` https://community-tc.services.mozilla.com/tasks/KSO29SSUQyaUgw_WyYnkgg/runs/0/logs/live/https%3A%2F%2Fcommunity-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FKSO29SSUQyaUgw_WyYnkgg%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L367

Thanks for the quick response!

[2020-03-22 19:23] #70185 closed

[2020-03-22 19:38] jonas-schievink commented on #63802
This is working fine now!

[2020-03-22 19:38] #63802 closed

[2020-03-22 20:09] retep998 commented on #29494
Specifying an arbitrary command line should be completely safe. The only way you could cause unsound behavior is if the spawned process has a bug in its command line parser, which isn't Rust's problem.

Just add a windows specific method to let users specify the full command line themselves, and that's all `libstd` *needs* to do to enable spawning those quirky processes with `Command`.

[2020-03-22 21:15] CWood1 commented on #34537
Is there a recommended workaround/method for inspecting private fields of structs in tests? I have, loosely speaking, the following:

[code]

A depends on a whole tree of private types only in the B package (so returning member vars is also pretty impractical), and I'm trying to access A for inspection in the unit tests in the A module. Is there a simple way, to avoid this error, before it becomes

[2020-03-22 21:27] KrishnaSannasi commented on #70230
@RalfJung We can get even simpler, just use an enum!

[code]

[2020-03-22 21:30] macpp commented on #29597
After reading this comment (in #62868) i wanted to check if `cargo rustc -- -Zunpretty=hir,typed` could be easily modified for similar purpose. If pretty printed hir could be parsed by syn, and contained additional information that is usefull for lints, then maybe it could be replacement for  plugin api.
I was bored , so i created small proof of concept (rustc fork: https://github.com/macpp/rust/t

[2020-03-22 21:33] oli-obk commented on #53188
yes. Basically you just need to add the `rustc_const_unstable` attribute to the intrinsic and wrapper function. This is documented at https://rustc-dev-guide.rust-lang.org/stability.html?highlight=rustc_const_un#rustc_const_unstable Let me know if anything is unclear (in which case we should update the guide)

[2020-03-22 21:45] RalfJung commented on #70230
@KrishnaSannasi indeed, [that works just as well](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dfe6bac4c08d2984dedae58b35bf9350). Nice catch :)

[2020-03-22 21:46] eddyb opened #70285 "Replace calls to has_local_value with needs_infer."
The only difference between the two is that "fresh" variables (a predecessor of the "canonical query" system) are considered `needs_infer`, despite not really taking part in inference.

I think that even without changing/replacing the "freshening" system at all, we can make "fresh" variables not `needs_infer`, removing the need for `TypeFlags::KEEP_IN_LOCAL_TCX` and `has_local_value` (which only e

[2020-03-22 22:37] eddyb commented on #68420
If this is using `ty::AdtDef::all_fields`, we might want to audit its other uses, just came across a call to it in `struct`-only code, it should probably not exist, as it seems easy to misuse.

[2020-03-22 22:48] eddyb commented on #68013
[code]

Judging by this, I'd say this isn't that scary, since it ICEs while trying to check the validity of the `CoerceUnsized` impl.

But also, `&T` never implements `Unsize`, so this could never compile even if the checking was buggy, is `Rc<Cell<&T>>` the intended example, or is that one too many indirections?

[2020-03-22 22:52] eddyb opened #70287 "Consider printing the query stack on ICE, even without RUST_BACKTRACE."
It's valuable information, including to the user, since it may point to a very specific part of the code (before they even report the ICE to us), and it's always available (even without debuginfo).

We could even print the query stack like a set of diagnostic messages, highlighting the span that was provided with `tcx.at(span)` (if any) - I guess we have the code for it, for query cycles?

cc @rus

[2020-03-22 23:51] anp commented on #69977
In the course of working on track_caller I've actually wondered whether `core::panic::Location` would be better implemented internally as containing a span, and then using *handwaving intrinsic magic* to implement the file/line/col information on top of that. A bonus would be the ability to implement `location-detail-control` from the RFC and e.g. eliminate the filename strings without losing uniq

[2020-03-22 23:58] anp commented on #47809
Checking in and it looks like #68941 has merged, @Aaron1011 is there a PR I can follow for the MIR-serialized-hygiene-info?

[2020-03-22 23:58] comex commented on #70263
Update: This appears to only affect closures.  It works for `fn`s:

[code]

as well as for a type with `FnOnce` manually implemented for it:
[code]

[2020-03-23 00:00] eddyb commented on #69977
The "*handwaving intrinsic magic*" would much easier go into the `Location` value itself rather than having some generated side-tables or whatever.
Anyway, we could add an "end" line/column pair, I wonder if that would slow anything down.

[2020-03-23 00:07] comex opened #70290 ""type annotations needed" in signature with HRTB"
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=da3e2bffa666c55c2d7f099587c57cd4)
[code]

produces:
[code]

Note that this error occurs when defining the function, not calling it.  There is nowhere to add type annotations, so the error makes no sense.  This code should presumably be accepted, since both of the bounds are accepted individually.

[2020-03-23 00:13] comex opened #70291 ""bad placeholder type" ICE regression"
[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a847e6a14f3f751d2897d674434f4a9d)
[code]
On stable this produces an error that "the type placeholder `_` is not allowed within types on item signatures".

On nightly (current version on play.rust-lang.org), however, it produces an ICE:
[code]
Attempting to call the function results in a different ICE:
[code]

[2020-03-23 00:15] comex commented on #70263
In fact, we can make closures work by adding an extra bound:
[code]
On the other hand, if we instead add `F: FnOnce(&'static i32) -> &'static i32`, the error is still there.  So the extra bound is presumably affecting how the type of the closure is inferred.

And if I add both extra bounds... I get a type error in the function definition!?  Just filed that as #70290.

[2020-03-23 00:17] Aaron1011 commented on #47809
@anp: The next step is https://github.com/rust-lang/rust/pull/70077, which is currently in the merge queue. I plan to open an WIP PR for hygiene serialization fairly soon.

[2020-03-23 00:25] comex opened #70292 ""escaping bound vars in predicate" with associated_type_bounds, HRTB"
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1deecc813d323e46737aef56df8de25e)
[code]
produces:
[code]

This does not happen if written out in this form, even though I think it should be equivalent:
[code]

May or may not be related to #70263.

[2020-03-23 01:04] anp opened #70293 "`#[track_caller]` should inherit through specialization ancestors, too?"
The current implementation of `#[track_caller]` allows trait methods to have the annotation, including at their definition site. When applied in a trait definition, the attribute has effect on all impls. @eddyb [raised the question in code review](https://github.com/rust-lang/rust/pull/69251#discussion_r396162587) of whether you should also be able to add the attribute without adding an implementa

[2020-03-23 01:06] anp commented on #47809
A question came up in code review re: the attribute's behavior in traits with specialization, I filed [an issue for follow-up](https://github.com/rust-lang/rust/issues/70293) since specialization is unstable and no currently planned uses of the attribute require an answer.

[2020-03-23 01:08] anp commented on #69977
Looks like the fix for this is being tracked in https://github.com/rust-lang/rust/issues/68686, am I correct?

[2020-03-23 01:09] anp commented on #47809
https://github.com/rust-lang/rust/pull/69251 is in the merge queue, implementing the attribute in traits.

[2020-03-23 01:28] eddyb commented on #70293
To be clear, what I was thinking of is something like this:
[code]

IIUC (and I suppose you could add a testcase like this), the current implementation results in the "final" method not being `#[track_caller]`, only the `T != ()` "default" will have it.

And my suggestion was that long-term we might want "final" to get `#[track_caller]` from specializing "default".

The implementation might not be

[2020-03-23 01:31] anp commented on #70293
Hm, I see yeah. This "just works" for default trait impls/overriding trait impls right now, so I imagine the trick would be to run `should_inherit_track_caller` in a loop on specialization ancestors?

[2020-03-23 01:32] Centril commented on #70292
cc @alexreg

[2020-03-23 01:45] alexreg commented on #70292
@Centril Interesting. Is this (should this be) even supported right now? My point is, you can't do this just by concatenating where bounds, so...

[2020-03-23 01:56] Centril commented on #70292
Minimized
[code]

[2020-03-23 05:19] comex commented on #63741
In addition to a suggestion, the compiler could have better error recovery.  Currently, the following produces errors on both the first and second line; it should only error on the first line:
[code]

[2020-03-23 07:27] CreepySkeleton commented on #54140
I've reimplemented `Diagnostic` on stable - at least, the error-reporting part - in [`proc-macro-error`](https://crates.io/crates/proc-macro-error). It delegates to `proc_macro::Diagnostic) on nightly and fallbacks to hand-made errors' render on stable.

If anybody is interested, you are welcome to check it out.

[2020-03-23 07:30] Kixunil commented on #66636
@aleksator I like that wording. It's not as helpful for beginners in programming as the other was, but maybe it's safe to assume that most Rust devs aren't beginners in programming. Might be fun to have an opt-in plugin/wrapper/mode/whatever for the complete beginners one day in the future.

[2020-03-23 07:48] SolraBizna commented on #69525
Given the relatively low demand for non-tier-1 doc packages, I would be happy if rustup were just a little smarter about this. Ideally, `rustup doc` ought to say something like "documentation is not built for non-tier-1 targets". Perhaps it could also be extended to automatically download and use the documentation for an "equivalent" tier 1 platform, or maybe to steer the user toward instructions

[2020-03-23 08:01] jeswin commented on #70098
@woshilapin Could you also post the llvm and ndk versions you were able to use successfully?

[2020-03-23 08:31] matklad opened #70301 "String::push_str invalidates interior references even when it does not reallocate"
To my knowledge, the following code is intended to be legal:

[code]

However, Miri currently flags this as UB.

I believe this is #60847, but for `String`. Discovered while writing [this post](https://matklad.github.io/2020/03/22/fast-simple-rust-interner.html).

cc @RalfJung

[2020-03-23 08:58] niklasad1 opened #70302 "ICE when compiling `docopt` on rustc 1.44.0-nightly (f509b26a7 2020-03-18)"
### Code

I tried to build https://github.com/docopt/docopt.rs/commit/be4aaf229ef9a8e63ff7c2b0e7f3cd29517cf16a then `rustc` panicked.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-23 09:05] SrTobi opened #70303 "GAT: the type `[type error]` has an unknown layout"
### Code
Sorry, was not able to make it smaller:
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-23 09:07] #70179 closed

[2020-03-23 09:07] #62767 closed

[2020-03-23 09:07] #70206 closed

[2020-03-23 09:07] #70125 closed

[2020-03-23 09:10] SrTobi opened #70304 "GAT: open drop from non-ADT `[type error]`"
Basically same as #70303 but with different error location

### Code

Only difference to #70303 is that `doc` in the test function is of type `impl Document` and not `DocumentImpl`.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-23 09:25] woshilapin commented on #70098
Not sure of what I'll provide but if I remember correctly, version of LLVM would be the same as version of `clang`, right?

[code]
For NDK, I downloaded it testing the current issue so it's pretty recent. I have a `source.properties` file in the NDK folder that seems to give this information.

[code]

Please tell me if some other information is needed (and how to get them maybe since I'm not an An

[2020-03-23 09:26] aleksator commented on #66636
Submitted a PR , adding a comma that should have been there:
`if this is intentional, prefix it with an underscore`

[2020-03-23 09:40] VecrsIssues opened #70306 "Clippy generating non-user-code warning when using generator implemented futures."
I ran this code under Clippy:

[code]

I expected to see this happen: no lints generated.

Instead, this happened: Clippy produced this lint:

[code]

If you want to reproduce, you can use the Clippy tool on the playground here: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d343f2d15d5de2e2ac222c73a9680a0b

[2020-03-23 09:41] RalfJung commented on #70301
Yeah this looks pretty similar. `String` uses `Vec` under the hood though, so I wonder why the issue still exists here.

Looks like `push_str` is implemented via `extend_from_slice` -- and indeed, this errors, too:
[code]

[2020-03-23 09:45] michaelwoerister commented on #68349
I think the entirety of LTO should be implemented in the specific backends. It makes no sense to me to have it in the backend *interface*.

[2020-03-23 09:56] eddyb commented on #70125
@varkor @yodaldevoid @wesleywiser @oli-obk For the record, what I described above (https://github.com/rust-lang/rust/issues/70125#issuecomment-602133708) isn't fixed, just worked around.

[2020-03-23 09:57] VecrsIssues commented on #70306
A solution could be to apply `#[allow(unused)]` directly in front of the offending variable, and remove the leading underscore, like so: `...#[allow(unused)] task_context...`.

[2020-03-23 10:04] sdroege commented on #66709
That would make the library bound to a single async runtime unfortunately. There's no generic API for spawning tasks yet, so what is currently done seems like the best solution possible.

That's definitely true, like the current solution in `tokio-tungstenite` shows. But as this affects a majority of cases for now it might make sense to still document this somewhere? Basically saying that right no

[2020-03-23 10:06] hanna-kruppe opened #70307 "Closure #[target_feature] only checked during codegen"
I tried this code:

[code]

I expected to see this happen: error because the target feature does not exist and the closure is not `unsafe`.

Instead, this happened: the errors does not happen unless the closure is called in `foo` *and* `foo` is codegen'd. That is, I can get the expected errors by uncommenting the `f();` line and running e.g. `cargo build`. but `cargo check` / `rustc --emit metadat

[2020-03-23 10:07] hanna-kruppe commented on #70307
I believe this is because `rustc_passes::check_attr` does not inspect target features on closures, as pointed out by @LeSeulArtichaut in #69274.

[2020-03-23 10:47] bjorn3 commented on #68349
The linker code knows that when LTO is enabled, object files should be removed from rlibs before executing the linker. It only keeps the bitcode in that case.

[2020-03-23 11:00] jonas-schievink commented on #70302
duplicate of https://github.com/rust-lang/rust/issues/70041

[2020-03-23 11:00] #70302 closed

[2020-03-23 11:07] lcnr commented on #63695
this probably depends on  https://github.com/rust-lang/rust/issues/70125#issuecomment-602133708

[2020-03-23 11:31] thomthom commented on #40973
Not sure if this applies to this issue, but it sounded similar. I stumbled across this issue while trying to figure out why we would suddenly start o crash in our C++ application that embedded the Ruby interpreter.

Turns out that we needed to have `/EHs` set - telling the compiler to assume that functions declared as `extern "C"` may throw. With this the compiler unwinds the stack correctly when

[2020-03-23 11:37] sfackler opened #70308 "IoSlice and IoSliceMut should be Sync and Send"
Since they contain `*mut u8` on many platforms, they are neither `Sync` + `Send` by default, but they're semantically just slices so they should!

[2020-03-23 11:41] RalfJung commented on #70301
The problem is in this line:

https://github.com/rust-lang/rust/blob/8ff785011be6625e32afceee3a08e5cff7470feb/src/liballoc/vec.rs#L2125

The `get_unchecked_mut` here is a slice method, so this creates a slice covering the entire `Vec`, which overlaps with the mutable reference created before and thus invalidates it.

[2020-03-23 11:44] loris-intergalactique commented on #66636
Hi @aleksator, thanks for this ! May I ask how did you test it, and how did you use x.py ?

My problem when working on this issue was not to find the location of the message that was solved with a quick grep, but on the underlying tests. Each time I compiled it, I stumbled upon compilation errors that were not really linked to what I changed, it really slowed down the process.

[2020-03-23 11:48] RalfJung commented on #70301
It shouldn't be too hard to locally fix this, but that duplicates some code and there are some other uses of `get_unchecked_mut` in `vec.rs`. Ideally, this would all use raw slices to avoid making any uniqueness promises. But without https://github.com/rust-lang/rust/issues/60639, raw slices are not very useful.

[2020-03-23 11:57] RalfJung commented on #70301
Here's a possible fix:
[code]

[2020-03-23 12:09] aleksator commented on #66636
@loris-intergalactique My whole process to solve this issue was:

I searched for all occurrences of previous warning message using search and replace feature of my editor in the project folder, and then pressed "replace all".

For testing things locally, I run:
`./x.py build -i stage1`
The resulting compiler was added to my toolchain list like this:
`rustup toolchain link stage1 build/<host-triple

[2020-03-23 12:27] SimonSapin commented on #67058
Renaming sounds fine. I’d just like to point out that we may want multiple float-to-int conversion methods (with different semantics) in the future: https://internals.rust-lang.org/t/pre-rfc-add-explicitly-named-numeric-conversion-apis/11395

[2020-03-23 12:30] loris-intergalactique commented on #66636
Awesome, thank you ! I know what I did wrong now 👍

[2020-03-23 12:35] aleksator commented on #66636
@loris-intergalactique What was that? Maybe we can submit a PR to the documentation to make things clearer.

[2020-03-23 12:39] #68714 closed

[2020-03-23 12:39] #68921 closed

[2020-03-23 12:39] #69243 closed

[2020-03-23 12:40] lcnr commented on #63695
@rustbot claim

[2020-03-23 12:40] rust-highfive opened #70310 "`clippy-driver` no longer builds after rust-lang/rust#70305"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70305, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritizatio

[2020-03-23 12:53] loris-intergalactique commented on #66636
I think that my issues are on me on this one 😃
- I built the wrong things, spending my time watching LLVM compilation logs
- I wanted to use HIR data types and got too far in the docs
- I mistakenly thought that the section "[creating a rustup toolchain]" was not useful for my case

I learned a lot of things along the road ! 😄

[creating a rustup toolchain]: https://rustc-dev-guide.rust-lang.org/b

[2020-03-23 13:06] bjorn3 opened #70312 "Type mismatch between match arms pointing at incorrect place"
[code]

[code]

The ``expected struct `std::vec::Vec`, found `()` `` should point at the whole `for`, not the `0..*count` part.

@rustbot modify labels: +A-diagnostics +D-incorrect

[2020-03-23 13:06] bjorn3 commented on #70312
Happens with `1.44.0-nightly (2020-03-22 d1e81ef234ff5c2e0e3a)` and `1.42.0`.

[2020-03-23 13:21] kydos opened #70313 "WakerSet should be pub as opposed to pub(crate)"
The WakerSet seems like a very useful abstraction for those writing libraries upon async_std. Any specific reasons why it is not public for the async users? We'd very much see usage of this for some of our async abstractions.

Beside this, great work on async-std!

[2020-03-23 13:22] jxs opened #70314 "file not found for module"
Hi,
I have a [crate](https://github.com/rust-db/refinery) that [CI](https://app.circleci.com/pipelines/github/rust-db/refinery/312/workflows/ffc62d83-b920-40f4-960b-d5b607e6ef3a/jobs/4661) fails for all the tests on the latest nightly with the following output:

[code]
the refered code is [here](https://github.com/rust-db/refinery/blob/master/refinery/tests/mod_migrations/V1__initial.rs#L5) and th

[2020-03-23 13:26] jonas-schievink commented on #70313
Wrong repository. async-std is not part of the Rust project.

[2020-03-23 13:26] #70313 closed

[2020-03-23 13:28] jonas-schievink commented on #70314
Which version are you on? Your "CI" link requires a login.

Probably a duplicate of https://github.com/rust-lang/rust/issues/70185 and you need to wait for the nightly version to update.

[2020-03-23 13:34] bjorn3 commented on #70230
I am currently trying to implement zero padding on `SetDiscriminator` and I already got a miscompilation for `FieldPlacement::Arbitrary`. This suggests that it is non-trivial to write code to find the padding.

[2020-03-23 13:45] RalfJung commented on #70230
It should be easier for structs though, right? As mentioned before, I mostly had structs in mind, where padding is much simpler than for enums.

It may make more sense to say that `Deaggregator` actually has to respect zero-padding in its lowering -- with per-field initialization, the necessary information is already mostly gone and would have to be carefully reconstructed.

[2020-03-23 13:48] bjorn3 commented on #70230
The enum variant is as hard as the struct variant if you take the route of zeroing during SetDiscriminant. I just used layout.for_variant().

[2020-03-23 13:50] retep998 opened #70316 "i686-pc-windows-gnu fails to link on appveyor"
[code]
Using `image: Visual Studio 2017`. No environment changes other than installing Rust itself.

[2020-03-23 13:51] RalfJung commented on #70230
Not struct variants. Structs. as in `struct Foo { field1: type1, field2: type2 }`.

[2020-03-23 13:54] bjorn3 commented on #70230
Yes I meant structs. "struct variant" as in the variant of zeroing codegen for structs. I can understand the confusion though. By the way, turns out I was zeroing scalars as they get FieldPlacement::Arbitrary without fields.

[2020-03-23 14:07] RalfJung commented on #70230
But there is no `SetDiscriminant` for structs, is there?

[2020-03-23 14:08] RalfJung commented on #70230
Also, for your `LayoutDetails` troubles, this could be helpful: https://github.com/rust-lang/rust/pull/69901

[2020-03-23 14:18] bjorn3 commented on #70230
I thought there was a `SetDiscriminant` to finalize the construction of every aggregate, even for structs. Something with partial initialization and borrowck. I guess I will try to zero during the function prologue instead.

[2020-03-23 14:18] eddyb opened #70317 "Missing visit_const/fold_const when visit_ty/fold_ty exists and consts are relevant."
For visiting, I've identified these two examples:
https://github.com/rust-lang/rust/blob/5aa8f199c398644d9fc2bb9ac8cffd14f985686d/src/librustc/traits/structural_impls.rs#L256-L274

https://github.com/rust-lang/rust/blob/5aa8f199c398644d9fc2bb9ac8cffd14f985686d/src/librustc/ty/fold.rs#L976-L990
(the latter would need to handle `ty::ConstKind::Unevaluated` the same way `ty::Projection` is handled, a

[2020-03-23 14:19] RalfJung commented on #70230
I don't think this is a task for codegen. MIR has to make it clear when zeroing is necessary. That is the case when `Aggregate`

[2020-03-23 14:35] eddyb commented on #70230
Part of the plan to get rid of the `Deaggregate` pass, btw, was to indicate full initialization with `SetDiscriminant` (which could be renamed to `FinalizeVariant` or something).

You could make `Deaggregate` keep `SetDiscriminant` to be able to access it in codegen.

[2020-03-23 15:04] anp commented on #47809
Support for the attribute in traits has landed, currently working on landing Index(Mut) support in #70234.

[2020-03-23 15:31] tirr-c commented on #70312
#70031 seems similar.

[2020-03-23 15:32] Thomasdezeeuw commented on #43466
I don't if this is already on someone's radar but, linking to re-exported macros doesn't work at the moment. Simple test case:

In `Cargo.toml`:
[code]

[code]

It fails with the following:

[code]

Versions:
rustc 1.43.0-nightly (564758c4c 2020-03-08)
cargo 1.43.0-nightly (bda50510d 2020-03-02)

[2020-03-23 15:35] bjorn3 commented on #70312
Thanks. That indeed looks similar.

Duplicate of #70031.

[2020-03-23 15:35] #70312 closed

[2020-03-23 15:59] Licenser opened #70321 "Hard to understand lifetime error when return value and argument do not align"
I tried this code:

[code]

I expected to see this happen:

An error pointing to a bad lifetime around the return value of the function.

Instead, this happened:

An error pointing to `args` that isn't involved in the error.

[code]

### Meta
`rustc --version --verbose`:
[code]

runnambe example https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1ea701eca44f1cdc41a27073d1b7665

[2020-03-23 16:09] jyn514 commented on #43466
@Thomasdezeeuw this is https://github.com/rust-lang/rust/issues/65983

[2020-03-23 16:21] estebank opened #70323 "Regression on privacy field of struct used in `..some_struct` syntax"
In a recent PR #69942 I made a change to unify the wording of multiple privacy errors, but [accidentally regressed the following case](https://github.com/rust-lang/rust/pull/69942/files#diff-545c4dd451e64756495b0adf2f3f23aa):

[code]
used to be
[code]

This one change needs to be reversed while keeping the rest.

[2020-03-23 16:24] estebank commented on #70321
[With `#![feature(nll)]` enabled, the output is](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=87588f9f9aac4172cd6222be55c9cf1f):

[code]

[2020-03-23 16:41] bjorn3 commented on #70230
The cost of zeroing the padding seems to be less than I expected. Both during `SetDiscriminant` (enum only) and during the prologue (adt only) it doesn't seem to have a negative impact. In fact it seems to slightly improve performance. I don't know if this just my computer warming up (the benches with padding happened to be sorted later alphabetically) or if it is caused by for example the store t

[2020-03-23 17:04] bjorn3 commented on #70230
Full benchmark details:

[code]

`arbitrary` => For the `SetDiscriminant` version: Don't ignore padding for `FieldPlacement::Arbitrary`.
`release` => Run the memory optimization.
`prologue` => Zero in the function prologue instead of during `SetDiscrimintant`.
`enum_too` => For the prologue version: Don't ignore enums.

[2020-03-23 17:05] matthiaskrgr commented on #70280
In order to fix this, it looks like we'd need to bump the `rustc-ap` deps to `648.0.0`.
I tried doing that but I got stuck when I tried updating `rustc-ap-syntax` which was last updated a month ago and does not provide `648.0.0`. https://crates.io/crates/rustc-ap-syntax

[2020-03-23 17:19] Centril commented on #70292
Desugared version for reference: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e52885892c45f3ab84d4f5d75ad46414

[2020-03-23 17:21] staktrace commented on #69933
Thank you for the fix! At the moment using rustup to pull a nightly still gives me an older nightly (due to newer ones missing various components) but once I can get a nightly with the fix I'll report back whether or not it solved my original issue.

[2020-03-23 17:46] oli-obk opened #70327 "Print comments in MIR dumps aligned to the longest line"
The comments in the following snippet should be aligned, otherwise they are hard to read, especially in larger blocks with lots of indentation changes.

[code]

[2020-03-23 17:47] oli-obk opened #70328 "Constants in MIR dumps are too verbose"
As an example take

[code]

We should trim some of that away and consider printing terminators in a multiline block format so multiple constants occurring in them are printed in a readable way

[2020-03-23 17:50] Ekleog commented on #51107
I guess it's too late, but IMO a compelling argument for that change would have been that `Duration::from_nanos(d.as_nanos())` does not compile.

That said, now that it's stable, I guess changing it even in a new edition would basically not be doable?

[2020-03-23 17:52] oli-obk opened #70329 "ty::Const pretty printing does not handle aggregates"
If one has e.g. a tuple constant with value `(5, 6)` it won't be printed that way, but instead just show a `ConstValue::ByRef` (or dump the raw const memory in case of MIR dumping).

We should permit the pretty printer to walk aggregates in general and only fall back to raw dumping if the const memory is not valid for the type at hand.

The entry point for implementing that is https://github.com/r

[2020-03-23 18:08] bjorn3 commented on #70329
https://github.com/oli-obk/priroda/blob/3ae5edc85db1c7d0b4ecb35c5cd739bb8b3254ce/src/render/locals.rs#L182-L236 is the implementation of this in priroda. It only handles `TyKind::Adt` though.

[2020-03-23 18:47] #70220 closed

[2020-03-23 18:56] mlodato517 commented on #70323
Hi! Could I give this issue a shot?

[2020-03-23 19:14] tirr-c commented on #70082
More minimal repro:

[code]

The closure just needs to be exist anywhere inside `main`. Even this code reports the same error:

[code]

[2020-03-23 19:20] jeremystucki commented on #70323
I am sorry @mlodato517. I forgot to claim the issue

[2020-03-23 19:21] mlodato517 commented on #70323
No worries :-)

[2020-03-23 19:24] tpn-station commented on #49773
I get this when compiling files stored on WSL2, but running cargo on windows. So running on windows and compiling on this path:
[code]

[2020-03-23 20:04] WaffleLapkin opened #70333 "rustc compiles function that is never used"
`rustc` seems to compile never used functions in traits:
[code]
Generates a lot of "panic" asm ([godbolt](https://godbolt.org/z/8ksG7P)).

I expected not to see unused functions in asm, but they are there.

This also happens when using lib with a similar (never used) trait.

## Steps to reproduce
1. create `lib` and `bin` crates:
   `cargo new --bin neverbin && cargo new --lib neverlib`
2. fill `.

[2020-03-23 20:09] Mark-Simulacrum commented on #70333
cc @rust-lang/wg-mir-opt perhaps?

[2020-03-23 20:12] solb commented on #66265
I agree that the proposed workaround does not work. I'm still stuck on Rust 1.36 because of this change, but I've prototyped the following workaround to remove the `--version-script` linker flag:

1. Paste the following wrapper script into a file (named `cc`, for instance):
[code]

2. Make the script executable: `$ chmod +x cc`

3. When compiling the *library*, tell rustc to use this wrapper scrip

[2020-03-23 20:17] eddyb commented on #70333
Here it is [on playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3c882c8887a7e59a941892545d9f8c06) - you can press the ASM button etc.

I forget why the fact that these are actually unused, doesn't factor into whether this should compile or not, I wonder if this, once upon a time, fixed `impl Trait`.

The problem with traits is it's almost impossible to figure out

[2020-03-23 20:20] eddyb commented on #70333
Ah, [for some reason both functions need `#[inline]`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2c35dde44cd17c90038abe62f345ae31).

@WaffleLapkin Out of curiosity, would that be a suitable workaround? We should keep this issue open, probably, but a fix might be hard or effectively impossible, so maybe you could use the workaround.

[2020-03-23 20:32] andjo403 commented on #55054
seems like this is not fixed.
see https://rust.godbolt.org/z/D_z3TX

[2020-03-23 20:35] WaffleLapkin commented on #70333
@eddyb well, I was trying to copy std's approach with `#[inline(never)]` panic-fns to reduce code bloat. But since it doesn't work well, I think I'll just move `panic!()` to the trait's fn itself. That is not so critical to me.

[2020-03-23 20:39] eddyb commented on #70333
@WaffleLapkin `libstd`'s approach *assumes* you will need to panic, it's only a good idea to do that in other situations if you're using LTO (if it even works to remove the panic).

There's even code like this where it switches between `#[inline(never)]` and `#[inline]`: https://github.com/rust-lang/rust/blob/55299b2ba99432d10f925cd28ff52fe397577371/src/libstd/panicking.rs#L362-L366

[2020-03-23 20:40] nikic commented on #55054
@andjo403 It's fixed in LLVM 10, while Rust is still on LLVM 9.