[2022-07-05 15:54] MANM-ANMM opened #98940 "fs metadata : path "..." considered existing [Windows MSYS2]"
The path "..."

I tried this code:

[code]

I expected to see this happen:
`false`
I checked with this:
[code]

Instead, this happened:
`true`

More detail using metadata function

[code]
[code]

### Meta

I use rust via MSYS2.
`rustc --version --verbose`:
[code]

[2022-07-05 15:59] MANM-ANMM opened #98942 "fs metadata : path "..." considered existing [Windows MSYS2]"
Path::exists return true for the path "...", which does not relate to any file.

I tried this code:

[code]

I expected to see this happen:
`false`
I checked with this:
[code]

Instead, this happened:
`true`

More detail using metadata function

[code]
[code]

### Meta

I use rust via MSYS2.
`rustc --version --verbose`:
[code]

[2022-07-05 16:00] #98940 closed

[2022-07-05 16:19] VictorKoenders commented on #98032
This seems to still be an issue in `rustc 1.62.0 (a8314ef7d 2022-06-27) running on x86_64-pc-windows-msvc`

[2022-07-05 16:40] ChrisDenton commented on #98942
We currently defer to the OS to resolve paths. The only way to fix this would be to handle cases such as these ourselves.

[2022-07-05 17:08] aliemjay commented on #97104
Sorry, I've clearly missed the notification :sweat_smile:. I think you already know the answer given that you've just pushed a fix :).

[2022-07-05 17:08] yoshuawuyts commented on #89379
Now that https://github.com/rust-lang/rust/pull/94119 has been merged to stabilize this, can we close this issue?

[2022-07-05 17:09] smmalis37 opened #98947 "Writing a sufficiently large string to a git bash pipe on windows regressed in 1.62"
### Reproduction steps:
1. Be on windows.
2. `cargo new --bin something`
3. replace main.rs with [main.txt](https://github.com/rust-lang/rust/files/9048190/main.txt) and rename it back to main.rs.
4. Open git bash
5. Run `cargo run | cat`

I expected to see this happen: my really long string gets printed twice, followed by a clean exit

Instead, this happened: some amount of my really long string

[2022-07-05 17:11] andylizi commented on #89379
Only `from_fn` is stabilized, `try_from_fn` is still unstable.

[2022-07-05 17:18] RalfJung commented on #66151
OTOH there's a lot of code that uses `mem::uninitialized` on some generic type `T`. We'll never know for sure whether such code is UB. So in terms of future compatibility I'd rather get rid of `mem::uninitialized` entirely, either in some future edition or (if we can) on all editions. But anyway, that's another discussion -- that's https://github.com/rust-lang/rust/issues/98862.

[2022-07-05 17:23] jstarks commented on #98947
@ChrisDenton, I believe this must be because git bash (cygwin? msys?) is opening pipes between processes with `FILE_FLAG_OVERLAPPED`.

In my original bug report, I suggested calling `GetOverlappedResult` once if `NtReadFile` returned `STATUS_PENDING`, since that will at least resolve the pending IO correctly in the case where the file is not being used for other IOs concurrently. This would cover

[2022-07-05 17:45] JarredAllen opened #98948 "Non-descriptive error when building something which requires alloc on a platform which doesn't have it"
When building a crate which requires alloc for a target which doesn't have alloc, the resulting error message just says that the build requires alloc and alloc isn't found/linked.

The current output is:

[code]

This is less than helpful in the case where the dependency on alloc is coming from a dependency, as it does not help pin down where it comes from. In this case, ideally the output should

[2022-07-05 18:14] RalfJung commented on #66151
Yeah that would be great. Basically `is_multi_variant` needs to use something like this to count the definitely existing variants
[code]
and then `definitely_inhabited` needs to say (in particular) that `usize` is definitely inhabited.

[2022-07-05 18:15] kadiwa4 commented on #98769
To clarify: woff files work just fine (even in combination with woff2 files), but they aren't shipped with rustdoc anymore.

Indeed, removing the `<link>`s you mentioned gets the fonts to work again! As soon as it encounters one of those tags, it seems to "curse" that specific browser tab (it refuses to load the woff2 files ever again in that tab).

[2022-07-05 18:19] Hiten-Tandon commented on #64295
Function should be renamed to related_by, because, in the function we're not checking for equality, rather we're checking for relation between the values of the two iterators.

[2022-07-05 18:35] 5225225 commented on #66151
That can be future work after #98919 is merged, I assume?

I assume we don't know if it's inhabited for generic/extern type reasons, I suppose? Looks like we don't really know much about the type's layout at that point.

[2022-07-05 18:36] yaahc commented on #89780
Am I right in thinking that this doesn't just apply to futures that return `Result` but that the more general property is that it is incorrect to poll futures that have returned "Ready"? In other words, the question is not pending vs. errored, but rather pending vs. complete.

[2022-07-05 18:41] RalfJung commented on #66151
It's independent, so you can work on it in parallel if you don't want to wait for the decision process in https://github.com/rust-lang/rust/pull/98919.

Yeah, the safe fallback in `definitely_inhabited` is `false`. Currently it behaves as if that function *always* returned `false` but we can do better than that.

[2022-07-05 18:44] importcjj opened #98952 "Two closures resolve to the same concrete type."
I tried this code:

[code]

I expected to see this happen: *compiler error: mismatched types*

Instead, this happened: *compile passed*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-07-05 19:05] CryZe commented on #98952
I might be wrong on this, but it might be that since they are not capturing anything, they basically become `fn() -> String` which would then mean that they end up being the same type afterall.

[2022-07-05 19:39] CAD97 commented on #98862
Doing `unreachable_unchecked` in the future when optimizations notice the UB seems close enough to breaking in the future to justify a future-compat lint to me. But we could just as well make a new category of lints-surfaced-in-depencencies that doesn't have the "we *will* make this fail to compile (eventually)" implication.

[2022-07-05 19:41] Lokathor opened #98955 "API Request: pointer::[op]_assign"
It is often the case that you want to edit a pointer that you've got during a loop. In this case you need code like

[code]

However, the same as we've got `Add::add`, we also have `AddAssign::add_assign`. Adding to pointers is `unsafe`, so we can't provide the AddAssign trait impl directly, but we can provide a method of the same name (as we already did with `add`).

[code]

Similarly, `sub` and

[2022-07-05 19:42] BoxyUwU opened #98956 "new generic_const_exprs cycle just dropped"
the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=73665d949cd16a9d65eb2d445a870389)
[code]
cycles with:
[code]

This is noticably different than most generic_const_exprs cycles as this is caused by the `tcx.param_env` query normalizing the paramenv which requires equating the two `N + 1` anon consts in order to normalize `<T as Trait<{ N + 1 }>>::Assoc`

[2022-07-05 19:47] compiler-errors commented on #98952
Yeah, they're probably being coerced to `fn() -> String`.

[2022-07-05 19:49] 5225225 commented on #98862
Do we have any precedent for "this is a FCW for something that won't *stop compiling*, but will panic"? Is that a reasonable thing to warn for in dependencies?

I agree that it doesn't quite feel like a FCW, since it would be there forever, and it wouldn't be a *future* warning once we make it panic. Like, we'd warn about mem::uninit<char> but the warning is "this panics right now".

So maybe a FC

[2022-07-05 19:53] zeevm opened #98958 "enable ConstProp pass based on MIR opt level"
ConstProp is currently always on, a leftover from when the pass was used for linting as well.

As the lint is now separated, ConstProp::is_enabled() should depend on opt level.

[2022-07-05 20:06] cjgillot commented on #84447
The lint exists since https://github.com/rust-lang/rust/pull/89558, and has allowed on all compiler crates as `rustc::potential_query_instability`.
We now need to stop allowing it in the compiler.

Steps, for each crate except `rustc_data_structures`:
- remove the `allow(rustc::potential_query_instability)` in `lib.rs`;
- replace the `FxHash{Map,Set}` by `FxIndex{Map,Set}` where necessary.

Please

[2022-07-05 20:12] zeevm commented on #98958
@rustbot claim

[2022-07-05 20:14] zeevm commented on #98958
@rustbot label A-mir-opt

[2022-07-05 20:19] withoutboats commented on #89780
(NOT A CONTRIBUTION)

Yea, that's correct.

It's just we don't have a need for an early return operator for the successfully completed case. But since we do have a need for both completed with error and pending, an important distinction about the pending case is they need to be left in a state to be called again and pick up where they left off.

[2022-07-05 20:19] rdzhaafar commented on #97533
I don't have time to work on this, unfortunately. I did get all the errors to show up in the same error message, will paste the code here when I get to my computer.

@rustbot release-assignment

[2022-07-05 20:22] zombiepigdragon commented on #98926
I've also failed to reproduce a crash on Arch Linux, same nightly version.

[2022-07-05 20:31] #79467 closed

[2022-07-05 21:13] Bryysen commented on #97533
Thanks for the effort. I have a bunch of spare time going forwards so I can pick up where you left off

[2022-07-06 01:00] RalfJung commented on #96169
I cannot reproduce the original example any more. And in fact `main` is empty so I don't think Miri even did anything. The backtrace points to ConstProp, which would make this a rustc bug, not a Miri bug. Not sure if there is anything actionable here.

The [second one](https://github.com/rust-lang/rust/issues/96169#issuecomment-1111519550) still ICEs.

[2022-07-06 01:02] RalfJung commented on #96169
@bjorn3 do you know the codegen behavior of `<` on wide pointers? Does it do anything with the metadata?
(`==`/`!=` also compares the metadata, as far as I know).

[2022-07-06 01:15] RalfJung commented on #96169
Actually [testing indicates](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d474c0ce8d0ac533ac04055f64972df7) that it is... lexicographic?!?

[2022-07-06 01:50] #66268 closed

[2022-07-06 01:53] #44293 closed

[2022-07-06 01:53] #96185 closed

[2022-07-06 01:53] #97733 closed

[2022-07-06 01:57] workingjubilee commented on #15398
That PR was merged so I am closing this on the presumption that it is happening just fine now and that if we need followups on that PR it can be tracked in another issue.

[2022-07-06 02:06] zirconium-n commented on #98934
Vec::retain is a mistake and should not be followed. I prefer keep 'retain' only with '&mut' signature.​

[2022-07-06 02:13] workingjubilee commented on #38349
Hmm. Interesting, now becomes

Rust MIR:

[code]

LLVMIR:

[code]

x86 assembly:

[code]

The MIR emitted is identical, however, so it has to be regarding how we are handling Results of particular sizes or shapes during lowering of them, somewhere in cg_ssa or cg_llvm.

[2022-07-06 02:16] workingjubilee commented on #4353
Closing per the same judgement as this sibling issue: https://github.com/rust-lang/rust/issues/26600#issuecomment-1059263429

[2022-07-06 02:16] #4353 closed

[2022-07-06 02:21] workingjubilee commented on #43894
Requesting an update from someone who has a SPARC machine (preferably made of hard silicon, not QEMU, to be precise): We are 5 years out from this being opened. A lot has changed, in both LLVM and Rust. Does this issue persist? If yes, updates on the recent shape of recent errors would be great.

[2022-07-06 02:37] workingjubilee commented on #18072
This situation can be generated by safe Rust code. In that sense, while it a priori does not make sense, we should error here, not miscompile. That is, if there is a problem, it is not in trying to allocate more space than our address space can contain, it is that we may **fail** to try to allocate too much space and crash the program at this point, instead getting some sort of incorrect behavior

[2022-07-06 02:46] workingjubilee commented on #46046
liballoc_jemalloc is no longer a core component of the Rust runtime, instead being used as a library by the Rust compiler.

[2022-07-06 02:46] #46046 closed

[2022-07-06 03:10] workingjubilee commented on #49766
Compiling from x86_64-unknown-linux-gnu to
- x86_64-unknown-linux-gnu
- x86_64-apple-darwin (cross)

No repro with `Ctarget-cpu=sandybridge` or `-Ctarget-cpu=znver3` (native).
Closing, but feel free to bring this back if it repros on another x86_64-apple-darwin host.

[2022-07-06 03:10] #49766 closed

[2022-07-06 03:20] workingjubilee commented on #48426
I agree that this issue is not "pulling its weight" and it is grounded on a somewhat shaky basis. There has been some fussing about with the ABI recently in order to undo performance regressions that were induced by previously trying to play too many games with LLVM's understanding of the code, see https://github.com/rust-lang/rust/issues/85265

There is almost certainly some profit to be had, but

[2022-07-06 03:20] #48426 closed

[2022-07-06 03:36] workingjubilee commented on #55876
No repro as of
[code]

[2022-07-06 03:36] #55876 closed

[2022-07-06 03:52] workingjubilee commented on #49198
Needed to update this code slightly for dyn Trait syntax, but assuming the "if `foo()` calls `bar2()`" means

[code]

The difference is now
[code]
comparatively negligible:
[code]

Seems to be fixed.

[2022-07-06 03:52] #49198 closed

[2022-07-06 03:59] workingjubilee commented on #42853
My apologies, but this issue was opened when LLVM 4.0 was the latest LLVM release, and it lacks an MVCE to repro it from. Rust is now on LLVM 14... I am assuming this is either fixed or the assumptions are so dated that the issue itself would need starting again from first principles.

[2022-07-06 03:59] #42853 closed

[2022-07-06 04:01] workingjubilee commented on #56089
Checking in: Is this still an issue in 2022?

[2022-07-06 04:09] workingjubilee commented on #57622
As rustc has evolved to be much more loosely coupled to its codegen backends, and as such a loosely-coupled front-end it really should not be in the business of replacing existing code-emission analysis tools, I am closing this per the reasoning I elaborated on further over here: https://github.com/rust-lang/rust/issues/66268#issuecomment-1175687091

[2022-07-06 04:09] #57622 closed

[2022-07-06 04:12] Cassy343 commented on #25860
I feel like the issue here isn't fundamental to variance or implied bounds. Let's look at the two more recent examples of this problem.

From @arielb1
[code]

And from @lcnr
[code]

In both examples, the invalid cast is in the transition from `foo2` to `foo3`. The thing that both these examples have in common is that a guarantee given by the implied bound is erased by the cast. In the first exampl

[2022-07-06 04:16] InfRandomness commented on #97422
@rustbot claim

[2022-07-06 04:19] importcjj commented on #98952
Ok, Where can I find some documentation to help me understand this?

[2022-07-06 04:24] workingjubilee commented on #85872
What's really weird is that on `-C opt-level=2 --emit=llvm-ir -Cdebuginfo=0`, it looks like this:

[code]

But for `-C opt-level=2 --emit=llvm-ir -Cdebuginfo=0`, we get this:

[code]

[2022-07-06 04:26] importcjj commented on #98952
Thank you!

[2022-07-06 04:26] #98952 closed

[2022-07-06 05:10] workingjubilee commented on #68484
So, `read()` is now spelled `assume_init_read()` but otherwise this seems to work for almost the same disparity. Around 9 times.

[code]

However, you claim that this cannot be black boxed away. I took a look at the generated assembly, and it seems rustc and LLVM take a look at the first array and just constant evaluate the entire thing into the binary in the first case. That means it just reads a

[2022-07-06 05:24] rdzhaafar commented on #97533
@Bryysen

Perfect! My changes are [in this fork](https://github.com/rdzhaafar/rust/tree/improve-enum-diagnostic)

Basically I've factored out the duplicate-checking code into a separate function in rustc_typeck/check/check.rs. I've also added a couple of derive macros to make sure that `Discr<>`'s can be used in a hashmap.

The code now displays all duplicates in one message. What I haven't figure

[2022-07-06 05:59] anuraaga opened #98969 "Wasm export names cause duplicate symbols failure with libc non-exported names"
I tried this code:

[code]

I expected to see this happen: Building for `wasm32-wasi` works

Instead, this happened: Build fails with duplicate symbols

[code]

### Meta

I can use different names for the functions but it can make the host more complicated when supporting other wasm compilers like TinyGo where the names for allocation functions can't be changed. It would be nice to be able to use

[2022-07-06 06:02] kons-9 commented on #98830
Thank you for mentering!
From the above exchange, I thought I could write code like this.
[code]
Is this understanding correct or incorrect?
(I've never used resume_unwind that way, so I'm not sure. but it can stop running without panic message like std::process::exit and if needed, we can get imformation about error message.)

[2022-07-06 06:15] PrestonFrom commented on #93883
@oli-obk The PR adding more context (https://github.com/rust-lang/rust-clippy/pull/8981) was merged into clippy last week. Is this what you were looking for in terms of adding context or would you like more added?

[2022-07-06 07:24] PrestonFrom commented on #93883
@oli-obk Great! Is the next step moving uplifting or is this a good time to pause and wait for feedback from the community on how useful/confusing the lint is?

[2022-07-06 07:43] kellerkindt commented on #98934
Done :)

[2022-07-06 07:45] flip1995 commented on #93883
I'd suggest to wait for a release cycle to get feedback on the lint.

[2022-07-06 07:48] PrestonFrom commented on #93883
That makes sense! To make sure I don’t forget to come back to this, Would that mean waiting until 1.63 or 1.64? Or am I misunderstanding what a release cycle is?

[2022-07-06 07:52] flip1995 commented on #93883
The current nightly is 1.64, see https://forge.rust-lang.org/#current-release-versions

This would mean to wait until the current nightly is 1.65, which on 2022-08-11

[2022-07-06 07:52] flip1995 commented on #93883
However you can start with the uplifting work a bit earlier, so that the uplifted lint will get into 1.65 right away.

[2022-07-06 07:55] PrestonFrom commented on #93883
Thank you for the explanation!

[2022-07-06 08:17] lcnr commented on #44454
another repro for the same issue
[code]

[2022-07-06 09:45] ljedrz commented on #66617
Can't reproduce in current stable (`1.62.0`).

[2022-07-06 09:48] workingjubilee commented on #97608
This seems to have been fully resolved for now.

[2022-07-06 09:48] #97608 closed

[2022-07-06 09:53] apiraino commented on #98890
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398890.20Incremental.20compilation.20bug.20with.20.60async.20fn.60.20method.20c.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-07-06 10:02] workingjubilee commented on #89742
The cited issues regarding binary weight or speed are important, but this only ever controlled a purely advisory instruction, unfortunately, so in a sense these results are "not broken". LLVM always was deciding to multiply the advisory impact of this on its own inlining heuristics by some value, possibly 1, and now LLVM has decided to multiply this directive by 0 instead.

It also seems that the

[2022-07-06 10:07] workingjubilee commented on #61088
These are now identical due to recent changes to LLVM's pass manager, making this functionally a duplicate of the other issue on what to do with `-Cinline-threshold`.

[2022-07-06 10:07] #61088 closed

[2022-07-06 10:12] nikic commented on #68484
I believe the problem here is that LLVM doesn't know that the accesses to `s.len` and `s.array` do not alias. We don't tell it, and this fact is very hard to recover through analysis in this example.

[2022-07-06 10:21] nikic commented on #85872
The reason why the second call makes a difference is that IPSCCP is no longer able to propagate the slice length into various functions early.

[2022-07-06 10:22] apiraino commented on #97217
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397217.20Codegen.2Fallocator.20regression.20from.201.2E60)).

@rustbot label -I-prioritize +P-high

[2022-07-06 10:45] apiraino commented on #98932
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398932.20Regression.20from.201.2E61.20to.201.2E62)). Tagging PR #95776

@rustbot label -I-prioritize +P-medium

[2022-07-06 10:49] apiraino commented on #98932
Before the regression, the sample code reported a compile error:

<details> <summary> error summary</summary>

[code]

</details>

[2022-07-06 11:14] lqd commented on #98932
so the ICE is from #95776, cc PR author @cjgillot

[2022-07-06 11:16] bjorn3 commented on #38349
There is no `testq` and `setne` in case the `Ok` variant is an `u64` and the `Err` variant an `i64` and in case it is the other way around, however there is a load and store as `Result` is passed by reference. If both are an `u64` or both `i64`, the `Result` is passed by value in two registers and it fails to optimize the `testq`/`setne` away.

[2022-07-06 11:20] bjorn3 commented on #15398
It doesn't get inlined. I think the body of `transmute_copy` is too big. https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=1bb23b8a0df94e2aef6ea204baf6237d

[2022-07-06 11:21] edmorley commented on #88430
I encountered this too.

My use-case is wanting to test a panic error message that contains an absolute path (which must be absolute due to the nature of what the error is trying to convey) which will vary based on what machine ran the test.

Since `should_panic` does not support globs/regex, I'm not able to test the whole error message, only the part up to the absolute path (or the part after it,

[2022-07-06 11:21] bjorn3 commented on #96169
Indeed. This is the actual implementation: https://github.com/rust-lang/rust/blob/5b8cf49c51833ee5d27ae2e8e179337dbb9f14d7/compiler/rustc_codegen_ssa/src/mir/rvalue.rs#L625-L639

[2022-07-06 11:27] Rexagon commented on #98932
Slightly smaller example which successfully compiles on 1.61 and failed with ICE on 1.62:
[code]

[2022-07-06 11:39] jyn514 commented on #98830
@kons-9 exit is fine to keep using when we're not running tests. Otherwise that looks broadly correct. The magic built-in to replace `(test)` with is `cfg!(test)`: https://doc.rust-lang.org/stable/std/macro.cfg.html

I would put this in lib.rs or utils.rs, no need to add a new file just for one function.

[2022-07-06 11:40] jyn514 commented on #98830
Ah, I missed that Mark suggested resume_unwind earlier - ok, that's fine to use, it will make sure tempfiles are deleted and that sort of thing.

[2022-07-06 12:38] t1m0thyj commented on #98947
Thanks for fixing the issue quickly. 😀 When the PR that fixes this issue is merged, will a patch release 1.62.1 be published? 🙏 Or will we have to wait for a fix in 1.63?

[2022-07-06 12:41] conradludgate opened #98974 "Awkward pattern matching error "cannot be named the same as a tuple variant""
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4afb15166fa46eb6f2eaf2ba053d9501

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

One of my colleagues who is new to Rust is familiar with the idea behind pattern matching, but was not aware of all the syntax required to make it work. They made a best guess using

[2022-07-06 12:45] kons-9 commented on #98830
Thank you for your reply!

Copy that!

I am going to use #[cfg(test)] in that code, but would cfg!(test) be better? (you might have suggested this macro because of my code. )

[2022-07-06 13:00] nikic commented on #85872
I would probably blame this one a LoopDeletion/SROA interaction. LoopDeletion leaves behind this code:
[code]
And SROA runs directly afterwards, before the phi has been folded, so we don't know that the GEPs actually access constant offsets.

Possibly the backedge-breaking in LoopDeletion should also perform some folding, or we need a phase ordering change.

[2022-07-06 13:14] nikic commented on #85872
Or possibly IndVars should already be replacing the PHI. Just remembered that we have the replaceLoopPHINodesWithPreheaderValues() transform, which seems like it should be taking care of this.

[2022-07-06 13:33] RalfJung commented on #25860
Indeed. So implied bounds are clearly fundamental to the problem.
And what's happening here isn't a cast, it's subtyping, hence the relation to variance.

[2022-07-06 13:35] jyn514 opened #98976 "rustdoc -Z help and -C help are still broken"
I tried this: `rustdoc -Zhelp`

I expected to see this happen: A list of unstable options

Instead, this happened:
[code]

The options need to be built *after* checking for help, not before.
https://github.com/rust-lang/rust/blob/0567674460504d916c254696e1b25082f72a66bf/src/librustdoc/config.rs#L338-L355

cc @GuillaumeGomez

### Meta

`rustc --version --verbose`: 0567674460504d916c254696e1b25082f7

[2022-07-06 13:46] Cassy343 commented on #25860
The point I was trying to get across was that it wasn't an insurmountable problem with implied bounds and variance, rather I think it is fixable by incorporating implied bounds into variance in a way. I'm spitballing here because I have no formal experience with this stuff, but is it not possible to add a check along the lines of "T is a subtype of U only if the implied bounds associated with T im

[2022-07-06 14:12] RalfJung commented on #25860
Oh, sure. The question is just how to actually implement that. :)

[2022-07-06 14:23] m-ou-se commented on #89780
I've started an FCP on https://github.com/rust-lang/rust/issues/70922 to see if there's consensus on stabilizing the `ready!()` macro.

[2022-07-06 14:24] matthiaskrgr commented on #96169
Example #1 still crashes with -Zmir-opt-level=4 as noted in the title, reopening.

[2022-07-06 14:51] obeis commented on #98974
@rustbot claim

[2022-07-06 14:51] RalfJung commented on #96169
D'oh, I should read what you are saying, sorry...

[2022-07-06 14:57] Bryysen commented on #97533
@rustbot claim

[2022-07-06 14:58] obeis commented on #98974
@rustbot claim

[2022-07-06 15:10] #98167 closed

[2022-07-06 16:05] jsha commented on #98769
Thanks for testing that! That confirms my suspicion: the problem isn't woff vs woff2, but that the `<link rel="preload" ...>` causes Safari to load the woff2 font with the `crossorigin` attribute, which [is needed for preloading fonts](https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types/preload#cors-enabled_fetches). But `crossorigin` doesn't really make sense for local files (`file:///`

[2022-07-06 16:24] y21 commented on #87862
Reading through this again:

Is the weak count actually relevant here? Seems fine to me to have any amount of weak references, given that they first have to be upgraded to an `Rc` before you can do anything with the `T` (and upgrading the `Weak` to an `Rc` would then violate the `strong_count == 1` safety requirement).

[2022-07-06 16:34] jsha commented on #98929
This seems like a good idea to me! Can you link to some real world crates with examples of complex const values (especially structs) so we can see if the proposed display works well for them? I'm thinking maybe structs should be split out onto multiple lines. AFAIK there is nowhere else in rustdoc that we try to cram them onto a single line and it seems like it could get crowded fast.

[2022-07-06 16:53] jsha commented on #98929
Oh, also, I think this is the main question:

Or to put it another way: should we display what the doc author wrote, or what the compiler sees?

For instance, say the doc author writes:

[code]

Should the docs show:

 - `pub const EMPTY: MyThing = MyThing::default()`, or
 - `pub const EMPTY: MyThing = MyThing { x: 0, y: 0, z: 0, name: "" ... }`

[2022-07-06 16:57] nikic commented on #97428
Closing this as the beta backport has happened.

[2022-07-06 16:57] #97428 closed

[2022-07-06 17:10] yaahc commented on #91946
I don't think that necessarily means we should copy the existing API, we have a history of breaking patterns that we consider to have been mistakes, such as `Arc<dyn Error>` implementing `Error` whereas `Box<dyn Error>` instead impls `From<E: Error>` which precludes the possibility of it also implementing `Error`.

While the ship has certainly sailed for `new` and we will have to deal with explici

[2022-07-06 17:19] dhduvall commented on #43894
@binarycrusader and I have both moved on from Oracle. I don't know for sure about him, but I certainly don't have access to a SPARC machine anymore; I'm sorry. @alanc, I don't suppose there's any remaining internal need/support for Rust on SPARC, is there?

[2022-07-06 17:37] estebank opened #98982 "Detect type mismatch due to loop that might never iterate"
Given

[code]
the current output is
[code]

If a `return` statement is present in the tail expression, and that tail expression is a loop, it should provide more information for newcomers:

[code]

[2022-07-06 17:42] alanc commented on #43894
We still require Rust on SPARC in order to build Python Cryptography, GNOME, & Firefox for Solaris.  @psumbera is the current maintainer of the Rust packages in Oracle Solaris.

[2022-07-06 17:51] workingjubilee commented on #35968
@thombles makes [a good point here](https://github.com/getditto/rust-bitcode/issues/27#issuecomment-1159827103):

I'd also take "Xcode 15 is announced", on the assumption that if anything goes awry we'll hear about it by then, but if anyone wants to reap this issue before then, they're welcome to it.

[2022-07-06 18:01] thomcc commented on #91946
So, yeah we could do some clever stuff in the impl to make it faster for `E: Error + Send + Sync + 'static`. Rather than `Box<(ErrorKind, Box<dyn Error + ...>)>` we could do `ThinBox<(ErrorKind, dyn Error + ...)>` (tuples for exposition only, currently we use a struct and would use one for this too).

I would be happy to implement this if we decided to go this route, but I don't think this is wort

[2022-07-06 18:14] JanBeh commented on #98905
Instead of seeing the cause of the problem in `Cow`s `AsRef` implementation (as assumed in my original post), the real cause might also be seen much deeper here:

[code]

See @QuineDot's [post on URLO](https://users.rust-lang.org/t/smart-pointer-which-owns-its-target/77686/40?u=jbe). Following his reasoning, many occurrences of `P where P: impl AsRef<Path>` should rather be `&P where P: impl ?Size

[2022-07-06 18:32] workingjubilee commented on #50890
`mips64-openwrt-linux-musl` now exists, which offers a template to follow that satisfies most of the requirements here, and adding new targets has a fairly well-defined process. Thus I am going to close this.

[2022-07-06 18:32] #50890 closed

[2022-07-06 18:56] m-ou-se commented on #91946
The problem is that such an api taking a string literal will be relatively inefficient, because we cannot specialize on the `'static` lifetime, meaning that this will have to copy the entire string into a new allocation.

I believe this is exactly what @joshtriplett wanted to avoid with his proposal: to make sure it's only used for `other(some_underlying_error)` and not for `other("some literal me

[2022-07-06 19:35] GuillaumeGomez commented on #98976
Thanks for the feedback. I'll send a fix as soon as possible.

[2022-07-06 19:52] ismell opened #98988 "fs::read_to_string panic when reading from sysfs file"
I tried this code:

[code]

From https://source.chromium.org/chromiumos/chromiumos/codesearch/+/main:src/platform2/resourced/src/power.rs;l=103 The code reads a `status` entry in `sysfs`. I suspect this `sysfs` entry doesn't have the `lseek` syscall implemented.

I expected to see this happen: I expected a failure result to be returned by `read_to_string` because lseek returned an error.

Instead,

[2022-07-06 20:04] scottmcm commented on #93050
I really like the argument that `is_` implies `&self`, whereas some of the other names (`and_if`, etc) imply `self`.

So I think the two questions are tied together.

[2022-07-06 20:13] joshtriplett commented on #93050
Meanwhile, let's gauge consensus on adding this method orthogonally to whether it takes `self` or `&self`.

I'm going to FCP this and immediately raise a blocking concern. I intend to leave the concern until we see how the by-value version works out in practice (ideally via a draft of the aforementioned PR).

If you would approve this either way, or if you would approve whichever version makes for

[2022-07-06 20:13] ismell commented on #98988
This is an strace from a working sysfs file:
[code]

Looks like we always do an `lseek`.

[2022-07-06 21:04] pierwill commented on #98896
@rustbot label +T-compiler +A-mir

[2022-07-06 21:49] wesleywiser commented on #84605
The stability of `-Cinstrument-coverage` is scoped so that the exact process of instrumentation and result generation are not specified. As such, I think it's reasonable for us to evolve the feature in ways that makes it generally more useful, even if it does change the coverage data in some way.

[2022-07-06 21:53] jrose-signal commented on #47506
Poking this old issue because having an option to force this, even if it isn't the default, would be very beneficial for running a test suite under miri, which tracks all memory allocated over the lifetime of a program.

[2022-07-06 22:11] m-ou-se opened #98990 "#[deprecated] lint doesn't trigger when overriding deprecated method"
This doesn't give any warnings, even though std::error::Error::description is deprecated:
[code]

It seems like this is a deliberate decision:

https://github.com/rust-lang/rust/blob/3dcb616888aac50d55160b025266d555dad937d9/compiler/rustc_passes/src/stability.rs#L763-L764

Substituting that first `None` for `Some(impl_item_ref.id.hir_id())` makes it work.

Doing so results in the lint triggering i

[2022-07-06 22:23] m-ou-se commented on #98990
cc @rust-lang/libs-api, should the #[deprecated] lint trigger here or not?

[2022-07-06 22:38] clarfonthey commented on #84605
Notes for implementing the recommended changes, since it's actually pretty approachable for anyone who hasn't touched the compiler before. Besides the trivial changes to from `no_coverage` to `coverage` + the extra tests, there's actually not much to do.

To make sure only `#[coverage(off)]` disables coverage, you'll need to modify `rustc_typeck/src/collect.rs` to check the attribute parameter bef

[2022-07-06 22:50] #95492 closed

[2022-07-06 23:02] est31 opened #98992 "Migrate all rust-lang code to edition 2021"
8 months after the 2021 edition release, there are still many mentions of the 2018 edition on the official rust-lang organization according to [this](https://grep.app/search?q=edition%20%3D%20%222018%22&filter[repo.pattern][0]=rust-lang&filter[lang][0]=TOML) search.
I wonder if it might be a good idea to migrate them to the new edition or to keep them as is. Some probably can't be migrated due to

[2022-07-06 23:07] jakoschiko commented on #93050
This reminds me of the let-expression RFC #3159. It would allow to write this:
[code]

[2022-07-06 23:54] Dirbaio opened #98993 "tait: "cycle detected when computing type" when using transmute."
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5f6e386bb5169b784bc4940e10b0d464)

[code]

gives

[code]

I find it quite confusing that the transmute is not allowed. They're the same type after all.

@rustbot label A-impl-trait F-type_alias_impl_trait

[2022-07-07 00:10] fprasx commented on #98955
I would be willing to implement this is it's deemed worth it!

[2022-07-07 00:25] sehz commented on #98903
[code]

That didn't help.

[2022-07-07 03:05] CAD97 opened #98996 "--explain E0120 constrained much more than how it's emitted"
### Location

https://doc.rust-lang.org/nightly/error-index.html#E0120

### Summary

E0120 says

The inline note is

(Bonus: --explain should include unions as allowed.)

However, E0120 is emitted for impl target types which are fundamental types but not trait objects:

[code]

[code]

(see also #36061; E0210 should probably be preferred here and suppress E0120)

[code]

(E0117 should probably be

[2022-07-07 03:07] CAD97 commented on #36061
Current output:

[code]

I personally think E0210 should be the emitted error here.

[2022-07-07 03:23] abonander opened #98997 "False-positive "temporary dropped while borrowed" involving return-position impl Trait"
I'm getting a "temporary value dropped while borrowed" error from code that I otherwise would expect to compile:
[code]

[code]

This is a revised version of my original attempt, which fails due to https://github.com/rust-lang/rust/issues/64477#issuecomment-531920026 ([Playground link](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=59a34a8a7329210fc30fcd78fa94f98c)). After r

[2022-07-07 03:59] estebank commented on #89196
Current output:

[code]

[2022-07-07 04:00] estebank commented on #90950
Current output

[code]

[2022-07-07 04:14] chong opened #98999 "mips -nan2008 feature miss"
I want to use rust wrap prebuild mipsel binary library, but the private library was compiled with gcc flags -mnan=2008,
  llvm feature +mnan2008 was disabled  and rust std library was build with mnan=legacy ,  so the final link failed.

I tried follow:
rustc --target=mipsel-unknown-linux-gnu  -C target-feature=+crt-static,+nan2008 -C linker=mips-linux-gnu-ld  -C link-args=--sysroot=/sdk/mips-linux

[2022-07-07 06:27] fee1-dead commented on #84447
@rustbot claim

[2022-07-07 07:20] leonardo-m commented on #98926
As it sometimes happens, the last Nightly doesn't have this problem, so I close this issue down. I'll reopen it the problem reappears in future.

[2022-07-07 07:20] #98926 closed

[2022-07-07 07:42] LeeeWee opened #99006 "clone bug in rustc_index::bit_set::BitSet"
In the following code from rust/compiler/rustc_index/src/bit_set.rs, self.words should resize with from.words.len() instead of from.domain_size.

[code]

Otherwise, this function will panic when calling 'copy_from_slice' because of the mismatched slice length.

[2022-07-07 08:09] michaelwoerister commented on #98890
Let's keep this open until the backporting situation of the fix is clarified.

[2022-07-07 08:32] juliankrieger commented on #78964
I'm afraid I don't quite understand, can you provide a tiny example that works with `no_run`? Thanks!

[2022-07-07 08:40] eddyb commented on #98990
*(reposting https://github.com/rust-lang/rust/pull/98991#issuecomment-1177257829 here as well)*

I'm not sure what happened here, but the lack of tests for this is worrying (and may explain how this happened, if it was accidental).

[2022-07-07 08:47] nnethercote commented on #82523
@kandersonpeng Not sure if this helps, but @scottmcm taught me a neat trick recently: you can use `&{self.x}` to get a reference to an aligned field. It actually does a move of `self.x` into a temporary and therefore requires that `self.x` impl `Copy`.

[2022-07-07 08:57] kellerkindt commented on #98934
@ivan770 Do you think there are further changes needed?

[2022-07-07 08:59] ivan770 commented on #98934
Signature looks good now, can't say anything about trait bounds though.

[2022-07-07 09:16] schreter commented on #97540
BTW, in our project, we also noticed performance degradation because of this regression (small 16B `Result`s returned via the stack instead of registers), so I vote for a quick fix. Ideally, all return values of up to 16B size should be returned in registers (at least on x64 and arm64 and at least for integer/pointer values, not sure about floats and the like). Thanks.

[2022-07-07 09:28] apiraino commented on #98679
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398679.20Heap.20allocation.20in.20Box.20optimized.20out.20with.20rustc.201.2E60.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-07-07 09:32] krasimirgg commented on #44293
We started seeing a strange error to find the `proc-macro` crate during stage1 bootstrapping starting at this rust commit https://github.com/rust-lang/rust/commit/0a7f2c3a025c8bab1e10ccec6208a4c19b057b26.
The command we're using is `python3 x.py build library/std compiler/rustc src/tools/cargo`.
The errors look like this:
[code]
This is currently affecting our experimental rust + llvm@head build b

[2022-07-07 10:08] gimbles commented on #95996
cc @pietroalbini Any idea re this? :)

[2022-07-07 10:41] oli-obk commented on #89810
This has been resolved

[2022-07-07 10:41] #89810 closed

[2022-07-07 12:47] jyn514 commented on #78964
@juliankrieger
[code]
"#]
[code]

[2022-07-07 12:50] jyn514 commented on #95996
@gimbles here's where the code for mingw check lives: https://github.com/rust-lang/rust/blob/a8ede1248d837bc2ecdc99b00e45ec378c3fd156/src/ci/docker/host-x86_64/mingw-check/Dockerfile#L44-L45
that job is also run on a full merge (bors r+) so it should be enough to only modify that.

[2022-07-07 12:54] pca006132 commented on #93265
For arm, we can override the weakly linked `__aeabi_memcpy` function to use an implementation suitable for the specific application, e.g. optimize for speed/space. Wondering if it is possible to override `memcpy` for other targets.

[2022-07-07 13:05] Iron-E commented on #74465
@mqudsi you could do this:

[code]

[2022-07-07 13:57] Mark-Simulacrum commented on #80471
I don't think this is fixed yet. We mention the Box, but where the Box comes from is still pretty opaque -- we should likely point at or say something about the enum variant.

Saying that `Box<Nat>` must be derive(PartialEq, Eq) is also pretty nonsensical, as that's not something you can do -- `Box<T>` could be, though.

[2022-07-07 14:01] apiraino commented on #98437
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398437.20.60for.3C'a.3E.20.26'a.20T.3A.20'a.60.20and.20closures.20regressed)).

@rustbot label -I-prioritize +P-critical

[2022-07-07 14:34] 12101111 commented on #98903
mcve: https://github.com/12101111/rust-mcve-98903

To reproduce on  node-bindgen, run `cd node-bindgen/examples/array && cargo build`

How to fix it:

[code]

[2022-07-07 14:35] hudson-ayers commented on #61088
Are they now identical in that both do nothing? Or they both work the way that `llvm-args=-inline-threshold` used to work?

[2022-07-07 15:00] lyming2007 commented on #97687
@rustbot claim

[2022-07-07 15:11] nikic commented on #85872
https://reviews.llvm.org/D129214 and https://reviews.llvm.org/D129293 together should fix this.

[2022-07-07 15:57] JanBeh commented on #98905
Note that `Rc` and `Arc` behave consistent to `Cow`:

* [`impl <T: ?Sized> AsRef<T> for Rc<T>`](https://github.com/rust-lang/rust/blob/20dd6930134d07a5ef90393a040a1594ac8d714c/library/alloc/src/rc.rs#L2671-L2676)
* [`impl<T: ?Sized> AsRef<T> for Arc<T>`](https://github.com/rust-lang/rust/blob/20dd6930134d07a5ef90393a040a1594ac8d714c/library/alloc/src/sync.rs#L2736-L2741)
* [`impl<T: ?Sized + ToOwn

[2022-07-07 16:06] mqudsi commented on #74465
@Iron-E yes, it's possible directly with `OnceCell` but you're back to using a helper function to wrap the `get_or_init()` logic, which is what `Lazy<T>` is supposed to help avoid.

[2022-07-07 16:56] estebank commented on #89418
Taking a quick peek at this again, it feels like we should probably identify bounds like `Vec<T>: Copy` that trivially/always unsatisfiable and be clear about it with something along the lines of "this bound cannot be satisfied (because `Vec<T>` is never `Copy`)". What do you think @eddyb?

[2022-07-07 17:03] pierwill opened #99021 "MIR: Compute always live locals more efficiently"
See FIXME below:

https://github.com/rust-lang/rust/blob/20dd6930134d07a5ef90393a040a1594ac8d714c/compiler/rustc_mir_dataflow/src/storage.rs#L4-L10

@rustbot label +T-compiler +A-mir

[2022-07-07 17:04] pierwill commented on #99021
@rustbot claim

[2022-07-07 17:46] Iron-E commented on #74465
True… but if you have so many arguments it's probably better to use something like [`clap::Parser`](https://docs.rs/clap/latest/clap/trait.Parser.html) anyway. `Lazy::new(|| Args::parse())` could probably do whatever is needed and more.

I don't see any issue with `Lazy::set` fwiw (not that my opinion is that important!), I just wanted to show how one could already accomplish similar effects by mo

[2022-07-07 19:24] estebank commented on #36061
I personally feel like having both E0210 and E0120 here is fine, although maybe we should modify E0120 to point at the type param def span. Other than that, the verbosity caused by this specific case isn't terrible, I think. We should also tweak the [wording for the E0120 entry](https://doc.rust-lang.org/nightly/error-index.html#E0120) because it only accounts for trying to do this on a trait dire

[2022-07-07 19:27] CAD97 commented on #36061
See https://github.com/rust-lang/rust/issues/98996

[2022-07-07 19:53] scottmcm commented on #80437
To me that's not a justification for `Box::into_inner`, though.  It's just another manifestation of the long-wished-for (https://github.com/rust-lang/rfcs/pull/178) `DerefMove`, as a way to remove this special-❄ behaviour from `Box`.

Because if this *was* a general operator that could be used by other types, then yes, it too would have a functional form.

[2022-07-07 20:13] dtolnay commented on #80437
I think this as a justification for `Box::into_inner` misses the point of why those forms exist in the other cases. They exist because we need people to be able to **define** the behavior of deref or logical negation for their type. A trait impl is the language's obvious way to define behavior for a type, to the point where it would be silly to build defining behavior of operators on some other be

[2022-07-07 20:16] dtolnay commented on #80437
I think this is more compelling than the situation currently described in #98523. Getting a good example along these lines into the documentation would resolve https://github.com/rust-lang/rust/issues/80437#issuecomment-1150255531.

[2022-07-07 20:22] dziggas opened #99029 "GAT + Generic Const Exprs causes "unexpected bound ty in binder: BoundTy""
Hello!
I realize this is the bleeding edge, but I ran into the following compiler bug. If this has already been reported, please link and close - I couldn't quite figure out how to classify this one, so my searching could have been ineffective.

Minimal verifiable example can be found here:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f3b20235fecb30defc4ae3b99b5abbdb

#

[2022-07-07 21:14] eddyb commented on #89418
@estebank Sounds plausible, but you might want to check with @rust-lang/types with regards to bounds that can be solved independent of generics - I vaguely remember that many years ago there were some plans around them, or at least certain subsets (including at least one feature gate - maybe it involved the word "trivial"?).

[2022-07-07 21:18] jackh726 commented on #99029
This is #98702

[2022-07-07 21:18] #99029 closed

[2022-07-07 21:57] nagisa commented on #88737
Woah. I can’t believe it is only now that I’m seeing this. This sounds like something we should definitely look into fixing and seeing just how many of the issues this would end up resolving on the relevant platforms.

I believe that this sort of scenario is something that will come up as platform implementations approach some level of maturity. macOS, for example does not use the `__dso_handle` e

[2022-07-07 22:21] petrhosek commented on #56089
I don't think so, it should be safe to close this.

[2022-07-07 22:45] estebank commented on #98241
CC https://github.com/rust-lang/rust/issues/96999

If we fix that one, then we could close this one (as you'd be suggested the right thing after one additional error).

[2022-07-07 23:10] eholk commented on #57017
Ugh, so it looks like this isn't actually fixed yet. [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0be40bc89043f7f23bd77c67b74a4f25)

[code]

Output:
[code]

[2022-07-07 23:36] #97914 closed

[2022-07-07 23:36] #70408 closed

[2022-07-07 23:36] #98830 closed

[2022-07-08 01:18] CAD97 opened #99035 "`$$crate` unexpectedly fails to defer which crate `$crate` refers to"
`$$` was stabilized in #95860 for 1.63.

I tried this code:

[code]

#### I expected to see this happen:

My intuitive expectation comes from expanding the macros as following:

[code]

`lib` provides a macro whose expansion is specified to contain `$$ crate`; this seemingly should behave as writing `$crate` in the crate where the macro is expanded; i.e., `main.rs` should be printed.

#### Instead

[2022-07-08 01:20] CAD97 commented on #83527
`$$crate` may be surprising: #99035

[2022-07-08 01:56] Xuanwo commented on #91789
IMHO, we need a proposal to discuss adding `reserve` for `BTressSet` and `LinkedList` first.

[2022-07-08 02:04] CAD97 opened #99037 "$crate in a macro pattern behaves oddly"
It is my opinion that this should not have been allowed in the first place, and should be forward-compat deprecated for eventual removal.

I tried this code:

[code]

#### I expected to see this happen:

A compiler error. Likely,

[code]

#### Instead, this happened:

The macro compiles without any errors. Calling such a macro is difficult:

[code]

The following illustrates what is going on here:

[2022-07-08 02:06] TennyZhuang commented on #91789
BTreeSet and LinkedList are pointer-based data structure, which means that they can't benefit from batch allocation. The reserve method on them is exactly same as just allocate one by one, but will make the code much more complicated (we have to introduce placeholder nodes for that).

[2022-07-08 02:06] CAD97 commented on #99037
Related: https://github.com/rust-lang/rust/issues/99035 is another issue resulting from `$crate`'s treatment as a glued token rather than a reserved metevariable/binder.

[2022-07-08 02:06] CAD97 commented on #99035
Related: https://github.com/rust-lang/rust/issues/99037 is another issue resulting from `$crate`'s treatment as a glued token rather than a reserved metevariable/binder.

[2022-07-08 02:06] Stargateur commented on #91789
ah I get fouled by https://doc.rust-lang.org/src/core/iter/traits/collect.rs.html#379

these two collections probably need something like `try_push()` instead.

[2022-07-08 02:15] Mark-Simulacrum commented on #99035
Nominating for T-lang to make a call on whether we should do anything here before 1.63 releases, since there's a relatively short time window there.

[2022-07-08 02:17] #97956 closed

[2022-07-08 02:24] glandium commented on #86369
Stumbled upon these functions today. Considering the concerns, would it be worth removing the current implementation?

[2022-07-08 02:31] gimbles commented on #95996
Awesome, thanks!

[2022-07-08 02:40] gimbles commented on #95996
Should be resolved by #99040

[2022-07-08 02:47] philpax commented on #93050
Hi - not sure what the best way to show support for this is, but weighing in to say that I'd very much appreciate this (or some variant of it, like the language extension proposed above.)

I am working with an ECS that lets me retrieve components through an `Option`; I find myself needing to evaluate predicates against those components reasonably often (e.g. `get(tags).map_or(false, |t| t.contains

[2022-07-08 02:51] #98999 closed

[2022-07-08 02:53] sehz commented on #98903
That worked!  Thanks for all the help.  Mark as resolved

[2022-07-08 02:53] #98903 closed

[2022-07-08 03:52] joshtriplett commented on #82901
LGTM

@rfcbot merge

[2022-07-08 04:07] frank-king opened #99041 "Maybe incorrect parsing of doc tests"
Here is a fragment from some bindgen-generated code:

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4889086001ed72201de53fc29d6e3ccd).

I expected to see this happen: *when running `cargo test`, there is no tests to execute*.

Instead, this happened:
[code]

Acutally, it is caused by this line,
[code]
If removing it, then there is no doc tests.

It h

[2022-07-08 04:09] thomcc commented on #88737
So this is actually much more broken than this issue lets on. I've had doing a writeup on it on my TODO for a bit now, so I guess it's time. The TLDR is:

1. The case in this issue (where only part is unloaded) is busted but we probably don't want to support it anyway. If we fix the bug in this issue, it will become very rare, as dlclose impls will often just skip a lib which has registered a TLS

[2022-07-08 04:20] thomcc commented on #88737
To be clear, I think this is good behavior, and why we fix code here to pass in the right __dso_handle. `dlclose` is fundamentally broken in the face of thread local destructors. I mean, ow is it supposed to work? None of the options of seem good: wait for the thread to join (it might never join), destroy the object early (difficult to do on the right thread, it deadlock or race, ...), etc

[2022-07-08 04:45] ehuss commented on #99041
I think this is expected behavior.

The line `*                    | Yes, ` is rendered in markdown as a bullet list with an indented code block. All code blocks default to the "rust" language in rustdoc, and all rust codeblocks are tested by default.

There are several issues about this, such as #63193 for adding a control over that, and #88590 for providing better error messages.

[2022-07-08 06:33] frank-king commented on #99041
Are there any ways to ignore all the doc tests in a mod? Like `#[cfg_attr(doctest, ignore)]` (I have tried, but it didn't work).

[2022-07-08 06:47] Aandreba commented on #80437
Isn't `Box::into_inner` more readable than dereferencing? I think `into_inner` indicates the value will be moved instead of copied quicker.

[2022-07-08 07:43] qwfy opened #99049 "Maybe offset-by-one error in compilation error message"
The following (maybe incorrect) error message is given by the compiler:

[code]

when compiling the code:

[code]

Shouldn't the message labeled "LOOK HERE" be `fn type_info(&self) -> DB::TypeInfo;` ?

[code]

[2022-07-08 08:53] StephanvanSchaik opened #99051 "unexpected error E0277 from interaction between axum and pulldown-cmark"
This looks like a compiler error to me, but I am not 100% sure as I have not been able to reproduce the issue outside of this specific interaction between axum and pulldown-cmark.

I am using the following dependencies (sorry, I couldn't figure out how to produce this outside of axum + pulldown-cmark so far):

[code]

I minimized the problem to the Rust code below:

[code]

This compiles when comm

[2022-07-08 09:06] HgAmiui9 commented on #98955
GOD GUY!

[2022-07-08 10:03] #67644 closed

[2022-07-08 10:19] InfRandomness commented on #97422
👍

[2022-07-08 11:09] bjorn3 commented on #95679
Should this have the spurious label?

[2022-07-08 11:57] 5225225 opened #99053 "Add panics inside calls to transmute that can't possibly be valid"
It would be good to be able to detect things like `(u16, u8) -> NonZeroU32`, or if you have enums with disjoint tags.

I'm not proposing that u8 -> bool panics, as there is at least one value u8 that results in a valid bool.

This needs some level of symbolic execution or something, unlike the mem::uninit and mem::zeroed checks that this inspired by.

That being said, a basic case of "for each byt

[2022-07-08 12:15] StephanvanSchaik commented on #99051
After looking a bit more closely at the definition of `Parser` in pulldown-cmark, I have managed to narrow it down to the following example (which no longer uses pulldown-cmark):

[code]

So the culprit/one of the culprits seems to be `BrokenLinkCallback`.

[2022-07-08 13:23] soerenmeier commented on #86369
I once made a commit with possible alternatives but wasn't sure about if the implementation should not be generic over `T: AsRef<[u8]>`. That would allow to return different lifetimes for example for `Cursor<&'a [u8]>` so the function could look like `fn split(&self) -> (&'a [u8], &'a [u8]);`. That was one concern raised in https://github.com/rust-lang/rust/issues/86369#issuecomment-927124211.

My

[2022-07-08 14:31] ehuss commented on #99041
Sorry, I don't know of any workarounds other than disabling comments in bindgen or blocklisting the offending items.

[2022-07-08 14:53] compiler-errors commented on #99051
@StephanvanSchaik does it compile if you add a +Send bound to that dyn type?

[2022-07-08 15:08] StephanvanSchaik commented on #99051
@compiler-errors No, it still results in the same error:

[code]

However, separating it into its own (async) function with and without `+ Send` seems to work fine:
[code]

[2022-07-08 15:11] ehuss commented on #84673
Thanks @davidtwco!

I posted https://github.com/rust-lang/cargo/pull/10833 to fix Cargo's tests.

I'd like to discuss how this interface works in Cargo.  I'm wondering if we should provide any sort of option to allow the user to force the width over the auto-detected version?

Currently Cargo has the [`term.progress.width`](https://doc.rust-lang.org/cargo/reference/config.html#termprogresswidth) c

[2022-07-08 16:20] yaahc commented on #67644
:+1:, David went and tagged the PR

[2022-07-08 16:26] yaahc commented on #96024
https://github.com/rust-lang/rust/pull/98912 updates the `request_*` functions to have an APIT (arg position impl trait) parameter instead of a standard generic parameter to remove unnecessary inferred parameters while turbofishing.

Callers change:

[code]

[2022-07-08 16:59] jonas-schievink opened #99060 "Poor diagnostic: "length depth must be less than 0", but it mustn't"
[code]

errors with:

[code]

However, passing `-1` as the depth is rejected with:

[code]

[2022-07-08 17:02] pro465 opened #99061 "unhelpful `drop check cycle encountered` errors on recursive enums with boxes"
I tried this code:

[code]

I expected to see this happen: *just error messages about infinite sized `List`*

Instead, this happened: errored out as
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-07-08 17:35] mutantbob commented on #98167
I just updated to nightly-2022-07-08 and some weirdness I was seeing with `ufmt` seems to have been fixed.
Under nightly-2022-05-10 I would see this in the serial log:
`start FIFO length = 00e@@⸮`
Under nightly-2022-07-08 I get
`start FIFO length = 307208 ; %16=8`

It also fixed the problems I was having with the st7789 crate that led me to file this bug.

[2022-07-08 17:55] #98786 closed

[2022-07-08 18:07] estebank commented on #45256
#98580 will lint against this as warn-by-default.

[2022-07-08 18:16] ChrisDenton commented on #88737
The Windows side of things is something I have been meaning to go into more when I have some time to really grapple with it. However, I feel like Windows is different enough that I would need to provide quite a bit of background information to avoid misunderstandings. For now I've quickly dashed off an overview, though it doesn't really go into all the details. It may also contain errors, but I ho

[2022-07-08 18:22] DesmondWillowbrook commented on #97982
@rustbot claim

[2022-07-08 18:23] DesmondWillowbrook commented on #97982
Oh, it seems there's already an active PR for this. Sorry!

[2022-07-08 19:19] NiklasJonsson commented on #84447
It seems like no one is assigned to this and I'd like to give it a try so assigning myself.

@rustbot claim

[2022-07-08 19:33] EdorianDark commented on #96710
Would it possible to change the behavior of ``round`` to one of these functions or would that be a breaking change?
That would fix bugs like [55107](https://github.com/rust-lang/rust/issues/55107).

[2022-07-08 20:04] ids1024 commented on #90809
It looks like it isn't strictly guaranteed by [POSIX](https://pubs.opengroup.org/onlinepubs/9699919799/functions/exec.html) that this will always be the case on program start?

Linux seems to do this so file descriptors 0, 1, and 2 will exist after exec. But it's not technically guaranteed.

[2022-07-08 20:15] the8472 commented on #90809
Std [tries to ensure](https://github.com/rust-lang/rust/blob/45263fc66d253f762b3880764ae48611a25bf887/library/std/src/sys/unix/mod.rs#L50-L56) that standard file descriptors are open at startup. There are ways those assumptions may be violated, but they involve non-Rust code (in which case we just blame that), `unsafe` or [libraries that ought to be unsafe](https://docs.rs/nix/latest/nix/unistd/fn

[2022-07-08 20:17] sunfishcode commented on #90809
With Rust 1.61.0, std now provides `'static` references:

https://blog.rust-lang.org/2022/05/19/Rust-1.61.0.html#static-handles-for-locked-stdio

When the io_safety feature is available, you can call `as_fd()` on these to obtain a  `BorrowedFd<'static>` without any `unsafe`.

 @ijackson Does that meet your needs?

[2022-07-08 20:36] #98608 closed

[2022-07-08 20:36] #98604 closed

[2022-07-08 20:50] AngelicosPhosphoros commented on #78485
Can we put this struct into `core` crate? It can be useful for no_std implementations of `getrandom` or other things.
Am I right that this struct never allocates?

[2022-07-08 21:00] #98272 closed

[2022-07-08 21:50] tamird opened #99069 "Tracking issue for integer_atomics"
Tracking https://github.com/rust-lang/rfcs/pull/1543.

[2022-07-08 22:01] NiklasJonsson commented on #84447
`compiler/rustc_session/src/config.rs` has this code that fails when enabling the lint:
[code]
which seems fine enough as it just creates a new hashmap in-place with the mapped values and keys, assuming `f` doesn't have side-effects, which I don't think it can as it is `Fn`. But we want to replace this, which should be straight-forward but the file also has this code:
[code]
which makes use of `ge

[2022-07-08 22:06] jsenkpiel-godaddy commented on #61053
This issues is still mentioned in these docs: https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#meta-variable-misuse

[2022-07-08 22:08] Fishrock123 commented on #61053
This issue is still referenced to by these docs: https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#meta-variable-misuse

[2022-07-08 22:35] rtrevinnoc commented on #74465
Hello :) I am sorry if this is not the right place to post this, but could you help me figure out what is the current API? Importing Lazy as such seems to not work anymore. For reference, I am using `rustc 1.64.0-nightly`. Thank you very much beforehand

[code]

[2022-07-08 22:44] rusty-snake commented on #74465
Read the comments above or look at the documentation (it has a search feature).

`std::lazy::Lazy` got renamed and moved to `std::cell::LazyCell`.

[2022-07-08 22:47] Iron-E commented on #74465
When you search the docs it brings up [the former](https://doc.rust-lang.org/std/lazy/struct.Lazy.html) :)

[2022-07-08 22:48] rusty-snake commented on #74465
The docs you linked say

If you use a nightly compiler you need nightly docs.

[2022-07-08 22:50] rtrevinnoc commented on #74465
Thank you very much, I couldn't find it. I'm so sorry for the disturbance, I should've looked at the nightly docs

[2022-07-08 23:17] #98922 closed

[2022-07-08 23:52] danielhenrymantilla commented on #57017
I'm a bit confused by _what_ is the part considered problematic and deemed fix-worty.

`match` / `if let` semantics state that temporaries be dropped / "go out of scope" at the end of the `match` / `if let` block.

So `match client.status() {…` becomes:

[code]

which can be further simplified down to:

[code]

So the problem in this issue becomes that of `temporary` above crossing a `yield`/`.awa

[2022-07-08 23:56] jannic opened #99071 "Nightly stops to accept registers r8-15 on thumbv6m"
### Code

I tried this code: (with `--target thumbv6m-none-eabi`)

[code]

I expected to see this happen: Code compiles, resulting code should be something like:
[code]

https://godbolt.org/z/c4Y49qz7q

Instead, this happened: Compilation fails with error message:
[code]

https://godbolt.org/z/b6cnG4nM3

### Version it worked on

It works on both 1.62.0 and 1.63.0-beta.4, and all other stable vers

[2022-07-08 23:58] Aegrithas opened #99072 "ICE with probably recursive opaque types and closures"
Messing around with a Haskell-like implementation of `fix` , I encountered two presumably similar ICEs
(would think they're the same, but the error messages are obviously different). The other one is [here](https://github.com/rust-lang/rust/issues/99073).

I'm pretty sure this should be an error, based on the reasoning that `fix` returns an opaque type, so, while the output of `fix` *might* be `G`

[2022-07-08 23:59] Aegrithas opened #99073 "ICE with probably recursive opaque types and closures"
Messing around with a Haskell-like implementation of `fix` , I encountered two presumably similar ICEs
(would think they're the same, but the error messages are obviously different). The other one is [here](https://github.com/rust-lang/rust/issues/99072).

I'm pretty sure this should be an error, based on the reasoning that `fix` returns an opaque type, so, while the output of `fix` *might* be `G`

[2022-07-09 00:04] jannic commented on #99071
Related:
- https://github.com/rust-lang/rust/pull/90736
- https://github.com/rust-lang/rust/pull/90796

But both commits should be part of current stable, so those don't explain the regression.

[2022-07-09 01:08] Amanieu commented on #99071
This was an intentional change to fix `asm!` on Thumb1 targets (including thumbv6m since it doesn't support most of the 32-bit thumb instructions). If you need to use the high registers then you should set their value yourself and mark them as clobbered.

[2022-07-09 01:54] Dirbaio commented on #99071
@Amanieu The intended behavior is it should be rejected? It is accepted in stable even though it's been rejected in nightly for months. Perhaps the bug is it's accepted in stable when it shouldn't be?

[2022-07-09 01:58] Amanieu commented on #99071
Yes, this should be rejected. It is strange that this is being accepted on beta/stable, I'm not sure what could possibly be causing that...

[2022-07-09 01:58] #98539 closed

[2022-07-09 02:03] Amanieu commented on #99071
OK I see what the problem is: `sess.target_features` only includes unstable target features on nightly builds, and the condition for the high Thumb registers only triggers when the unstable `thumb_mode` target feature is enabled.

[2022-07-09 02:23] compiler-errors commented on #99073
This regressed in #94081

[2022-07-09 02:24] compiler-errors commented on #99072
This regressed in #94081

[2022-07-09 02:31] frank-king commented on #99041
Sigh. I think I'd better manully edit the generated code to pass the tests.

[2022-07-09 02:38] Aegrithas commented on #99072
Are you sure? #99073 definitely looks like it, but this one only only gets triggered by code outside the recursive function (remove the `f()` in `main` and you get #99073).

[2022-07-09 02:44] zhoukezi opened #99076 "unreachable variable is marked unused incorrectly"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=df9f3e9899dffdea28a8b4ad334046d2)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

`v` and `i` are marked as unused, but are actually used in `v.push(i)`. `rustc` also suggests removing the `mut` before `v`, which will not compile if `v.push(i)` is reachab

[2022-07-09 03:10] compiler-errors commented on #99072
@Aegrithas, yes, both of these are due to the same root cause. #99073 triggers simply because it never gets to codegen'ing a call to the returned opaque fn.

[2022-07-09 03:13] Aegrithas commented on #99072
Okay. Should I mark these as duplicates or something, or is it fine to leave them be?

[2022-07-09 03:14] compiler-errors commented on #99072
I will close this one as a duplicate, since the repro you produced in #99073 is a bit easier to debug IMO. Thanks for reporting these two issues.

[2022-07-09 03:14] #99072 closed

[2022-07-09 04:35] danobi commented on #93506
@rustbot claim

[2022-07-09 04:49] andylizi commented on #78485
I'd imagine this would be blocked by #48331.

[2022-07-09 05:22] DrMeepster commented on #78485
There's no reason that this isn't in core other than the fact that the module `core::io` doesn't exist yet. It doesn't rely on anything else in `std::io`.

[2022-07-09 05:47] compiler-errors commented on #99073
I was able to "weaponize" this into a transmute, lol:

[code]

So the issue here is that, at least in the case of RPITs, we are not checking for opaque type mismatches in closures correctly.

The closure, in this example, is able to incorrectly constrain `test::{opaque}::<i32> == u32` even though in the enclosing function, we define `test::{opaque}::<T> == T`. During mir borrowck, we never check t

[2022-07-09 06:06] #98958 closed

[2022-07-09 06:32] joshtriplett commented on #62924
Shall we stabilize these methods?

@rfcbot merge

[2022-07-09 06:51] gimbles commented on #99076
They *aren't* used though. Since any code following the unreachable call is unreachable, hence leaving them unused and leaving the mutability unused. The diagnostics don't seem particularly wrong?

I might be missing your point though.

[2022-07-09 07:37] compiler-errors commented on #99049
Hi @qwfy, this is an old version of Rust. Do you mind checking if this reproduces on the current version of 1.62? Also, is the code sample you provided complete? It doesn't really look related to the errors you provided.

[2022-07-09 07:44] compiler-errors commented on #99051
Sorry for taking a bit to get back to you @StephanvanSchaik. So it turns out the code _does_ compile when you add `+ Sync`, too.

I think that's because `axum::Handler` requires whatever function it's being made from to be `+ Send + Sync`: https://docs.rs/axum/0.2.8/axum/handler/trait.Handler.html#impl-Handler%3CB%2C%20(T1%2C)%3E

So going back to your original code, something inside of the body o

[2022-07-09 08:03] 5225225 opened #99080 ""The following types implement trait..." suggets crate private items, if inside macro."
There are two crates here, `library` and `consumer` (which depends on `library`).

library:
[code]

consumer:
[code]

The current output is (when running `cargo check` on `consumer`):

[code]

Ideally the output should look like:

[code]

We should not be suggesting private types to users, since macro hygiene *does* mean they can't write `library::PrivateMeow`

This is on the latest nightly, `rust

[2022-07-09 08:26] jannic commented on #99071
BTW, the current stable behavior looks very sensible: Only registers r0-6 (r7 is used as the frame pointer) are assigned automatically when specifying the register class `reg`, so one can be sure that an assigned register can be used with every assembly instruction, even on cortex-m0 where the high registers can only be used on a small subset of instructions.
But if the user needs more registers,

[2022-07-09 08:32] compiler-errors commented on #98997
So I only have a cursory understanding of how this works, but I think the problem has to do with the way we calculate "type outlives lifetime" relationships for Return position `impl Trait` (RPIT).

Specifically, this is an interaction between a few things:
1. Argument position `impl Trait` is treated like a type generic argument, so we can think of `fn takes_display` more like: `fn takes_display<

[2022-07-09 08:38] JanBeh commented on #98905
Using `.borrow()` as a generic way to go to the borrowed type may introduce a need for extra type annotations in some cases. That may be one reason why `Cow<'_, T>` implements `AsRef<T>`, despite the inconsistencies (in regard to `&`) that arise from it.

[2022-07-09 08:50] qwfy commented on #99049
@compiler-errors Yes, it is still present in 1.62. I've created a cargo project to reproduce the issue (just 3 lines of code).

The cargo project: https://github.com/qwfy/bug-reports/tree/master/gh99049-rust-offset-one-error-msg

The error message: https://github.com/qwfy/bug-reports/blob/f054a4effb94f95d5c724a9664a5fa92d98d01b2/gh99049-rust-offset-one-error-msg/src/lib.rs#L36

[2022-07-09 08:58] compiler-errors commented on #99049
Thanks for the reproduction, the sample you provided in "when compiling the code" in the issue above was not complete, but the cargo project you linked was. Anyways, I fixed this already in #98506, which is currently in nightly. The new output renders without those faulty suggestions.

[2022-07-09 09:13] pro465 commented on #99061
@rustbot label +A-diagnostics +A-destructors

[2022-07-09 09:16] #99049 closed

[2022-07-09 09:53] JulianKnodt commented on #98931
@fmease can we move these to one issue, and I can try to fix it? I didn't realize this didn't work

[2022-07-09 09:56] #96169 closed

[2022-07-09 09:56] #98974 closed

[2022-07-09 11:26] RalfJung commented on #99069
It'd be good to list the APIs that are covered by this tracking issue, and copy any open questions that have been noted in the RFC of the previous tracking issue.

[2022-07-09 11:32] CosmicSpaceGoose commented on #79532
Hi,
I'm hitting the same warning on Windows7 + MinGW. It had appeared after I moved `$CARGO_HOME` and `$RUSTUP_HOME` to custom location. WA with deleting `target` folder helps until project is rebuilted again.
Toolchain `rustc 1.64.0-nightly (06754d885 2022-07-08)`

[2022-07-09 11:54] bjorn3 opened #99083 "Bootstrap: Initialized submodules no longer eagerly updated by running x.py"
`maybe_update_submodules` should already do this, but https://github.com/rust-lang/rust/blob/c4693bc946729393c087fb120af566395915d19d/src/bootstrap/lib.rs#L628-L635 hasn't been kept in sync with the removal of identical functionality from x.py. Also rust-analyzer is only updated when vendoring is enabled.

[2022-07-09 13:19] RalfJung commented on #61015
@tmandry  What is the current status of this? It looks like this needs a special exception to be added to what https://github.com/rust-lang/rust/pull/99050 says? Also Cc @JakobDegen

`Drop` is meant to call a destructor, which generally has nothing to do with actually deallocating the underlying storage, so I still think it is a bad idea to conflate those two operations. If this is just a question

[2022-07-09 13:51] RalfJung opened #99085 "MIR contains StorageDead for locals that have never ben live"
If I change [this function](https://github.com/rust-lang/rust/blob/e685530b076f6cb0e1db35bd6964ba0603de8efd/compiler/rustc_const_eval/src/interpret/eval_context.rs#L887) to trigger an error when using StorageDead on a local that is already dead, that shows that we do generate MIR with redundant StorageDead. I am not sure if we should consider this a bug, but given that we consider redundant Storag

[2022-07-09 13:57] RalfJung commented on #98896
Ah, I think I just reported the same problem: https://github.com/rust-lang/rust/issues/99085.

[2022-07-09 13:57] RalfJung commented on #99085
https://github.com/rust-lang/rust/issues/98896 contains an example of such MIR.

[2022-07-09 13:57] #99085 closed

[2022-07-09 15:02] fmease commented on #98931
@JulianKnodt The thing is – if I remember correctly – that this issue / feature isn't a trivial one to fix / implement and that it first requires some design work / large architectural changes to rustc's inference engine. This topic has already been discussed somewhere sometime ago (sadly I can't link to anything). There might also be concerns abound backward compatibility and inference ambiguitie

[2022-07-09 15:34] matthiaskrgr commented on #99083
I think this was caused by https://github.com/rust-lang/rust/pull/97513

[2022-07-09 15:42] xFrednet commented on #54503
# Stabilization Report RFC 2383

Hey @nikomatsakis, with the `#[expect]` implementation done, I'd like to propose stabilizing this feature. I've crated two stabilization PRs, one updating the documentation and one removing the feature from rustc:
* #99063
* https://github.com/rust-lang/reference/pull/1237

## Summary

The RFC 2383 adds a `reason` parameter to lint attributes and a new `#[expect()]

[2022-07-09 15:50] camsteffen commented on #93050
Here you go! #99087

[2022-07-09 16:13] arniu commented on #62358
How about `map_or_default`?

[2022-07-09 16:33] CryZe commented on #54503
This does not seem to address the unresolved question regarding the name of the attribute. `#[expect]` is in my opinion too generic of a name. You for example might want to use `expect` on tests or maybe even normal functions to check for pre- and post-conditions: `#[expect(arg > 0)]`. Also I could see `expect` on branches where you want to annotate hot and cold paths or something. For a niche att

[2022-07-09 17:08] gimbles commented on #98458
![image](https://user-images.githubusercontent.com/93856041/178115840-c69eef01-f22e-4be4-85e4-70bd0b59a136.png)

Can confirm, builds OK on locally built.

# Meta

![Uploading image.png…]()

[2022-07-09 17:41] joshtriplett commented on #93050
Looks to me like by-value improved the vast majority of cases.

[2022-07-09 17:42] ehuss opened #99089 "rustdoc: unterminated string with inner attributes"
When an inner attribute has a string which spans multiple lines, `rustdoc --test` will complain about it being unterminated.

I tried this code:

[code]

(Note: The backslash doesn't matter.)

I expected to see this happen: `rustdoc --test` should run successfully.

Instead, this happened: `rustdoc --test` fails with:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-07-09 17:49] fmease commented on #98931
It would probably also require a major change proposal (MCP) or an RFC.

[2022-07-09 17:52] compiler-errors commented on #99080
@5225225, this only happens with `macro` items and not `macro_rules! global_meow`?

[2022-07-09 17:52] CosmicSpaceGoose opened #99090 "I/O error: operation failed to complete synchronously [Windows7,MinGW]"
Program crashing with segfault when reading stdin

### Code

[code]

### Output

[code]

### Version where it works

[code]

### Version with regression

[code]

Might be important that it's a Windows7 without latest updates and MinGW.
MinGW gonna drop Win7 support 'til end of the year. What is the plan for rust in such case?

[2022-07-09 17:55] 5225225 commented on #99080
I included examples of `macro` and `macro_rules!`, and it seems to happen for both (see: `library::global_meow_rules!`)

[2022-07-09 17:56] compiler-errors commented on #99080
Oh, my bad. I didn't read closely, my eyes just went directly to the macro item. Sorry. :sweat_smile:

[2022-07-09 18:03] ChrisDenton commented on #99090
This should be fixed by #98950.

The future of Rust's stdlib support for Windows 7 is currently uncertain. It will likely be supported at least until January next year but beyond that is unknown at this time.

[2022-07-09 18:06] compiler-errors commented on #99080
For the record, this is not a macro problem. See [this example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=11d6f2dfca627f8cba7c6cba2a3e7cb7) that does not use macros:

[code]
(uses a doc comment to emulate two crates)

The reason is that [`InferCtxt::find_similar_impl_candidates`](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_trait_selection/traits/error_re

[2022-07-09 18:08] booleancoercion commented on #95795
@yuvaldolev It's been 3 months - are you still working on this? If not, I'd like to claim it instead.

[2022-07-09 18:10] kekeimiku commented on #93050
Suddenly it feels like having map_or is enough, it seems unnecessary to make Option Result more bloated if it's just for readability without any other advantages.
   (please feel free to ignore my statement

[2022-07-09 18:39] CosmicSpaceGoose commented on #99090
Oh, so that's the fix. Great. I'm fine to close this issue.

[2022-07-09 18:43] ehuss commented on #54503
In reviewing the documentation PR, I was a bit confused by the behavior of:

[code]

This not only generates the `unused_variables` lint, but *also* generates the `unfulfilled_lint_expectations` lint. Why would changing the level (with `warn`, `forbid`, or `deny`) after the `expect` attribute cause it to be unfulfilled?  The `unused_variables` lint *is* being generated, so why would it not be fulf

[2022-07-09 18:47] #99090 closed

[2022-07-09 19:00] rhysd opened #99092 "Duplicate 'upstream crates may add a new impl of trait' notes on inter-crate ambiguous impl of traits"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-07-09 19:00] rhysd commented on #99092
I'll make a PR for fixing this.

[2022-07-09 19:08] compiler-errors commented on #99092
Haha, I was already working on one before I saw that message below, but I'll throw away my changes.

@rhysd, I recommend using a `FxIndexSet` to track the inter-crate ambiguity causes. That's what I was gonna try.

[2022-07-09 19:19] JulianKnodt commented on #98931
Chalk currently has no way to handle generic consts, and I was working on adding that (altho I got sidetracked and haven't actually put in work to get it closer to working), but it would still be nice to track these issues under `const-generics` or `const_generics_defaults`

[2022-07-09 19:35] rhysd commented on #99092
@compiler-errors Ah, I'm sorry for interrupting your work... I was thinking to remove duplicates from notes after making messages as `String`. But your approach would be better. I'll try it.

[2022-07-09 19:55] compiler-errors commented on #99092
No you did not interrupt, I just didn't see your comment saying that you were interested in doing the change yourself. Thanks for contributing.

[2022-07-09 20:23] workingjubilee commented on #68484
That would make this a duplicate, effectively, of https://github.com/rust-lang/rust/issues/16515, no?

[2022-07-09 21:53] Stargateur commented on #98650
same for me, I often work on windows but use cygwin that doesn't have any problem with the change.

[2022-07-09 22:27] qiqjiao commented on #79854
What's the status now? Seems the cygwin support was asked many years ago in other threads. I'm installing a python package in cygwin, that thing depends on cryptography, which depends on a rust compier.

[2022-07-10 00:04] arniu commented on #93050
Why not add `map_or_default` / `map_err_or_default`?

[2022-07-10 01:06] pro465 commented on #99061
@rustbot label +T-compiler

[2022-07-10 03:37] jyn514 opened #99104 "Holding a non-Send Copy type across a yield should be allowed"
For non-Send types with trivial drop, we still consider them held across the generator, even with `-Zdrop-tracking`:
[code]
There's no reason to do this; `*const T` has no drop impl and it's not possible to read or write it if it's not explicitly used after the yield.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/98754#discussion_r911642976_

[2022-07-10 03:37] jyn514 commented on #99104
cc @tmandry, not sure if people have explicitly thought about this or it just happens to be forbidden by the current implementation.

[2022-07-10 07:36] MasterPtato opened #99106 "Nested macros called with "constant" fragments can't capture said fragments as "constant""
### Context
This is a bug related to the unstable feature [macro metavariable expressions](https://github.com/rust-lang/rust/issues/83527).
### Issue
Nested macros called with "constant" fragments from within another macro don't keep that "constant" status for the inner macro call.

[code]
Working example: [Rust Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5

[2022-07-10 08:09] 5225225 commented on #99076
It might be good to not warn about unused variables like this *if* we are already warning about the unreachable code. No point warning a ton for everything that happens to be after a temporary `todo!()`, to be honest. Though if you silence the unreachable code warning, it might then be worthwhile to add these as their own warnings. Not sure.

Maybe add these as 1 line notes to the unreachable code

[2022-07-10 08:48] mintty commented on #79854
First attempt (python x.py):
...
Building rustbuild
error: manifest path `/cygdrive/c/tmp/rust/src/bootstrap/Cargo.toml` does not exist
failed to run: /cygdrive/c/tmp/rust/build/i686-pc-windows-gnu/stage0/bin/cargo build --manifest-path /cygdrive/c/tmp/rust/src/bootstrap/Cargo.toml

but the file does exist

Second attempt (./x.py):
...
   Compiling cc v1.0.73
error: linker `i686-w64-mingw32-gcc` n

[2022-07-10 08:51] WaffleLapkin opened #99108 "Tracking Issue for arithmetic and certain bitwise ops on `AtomicPtr`"
Feature gate: `#![feature(strict_provenance_atomic_ptr)]`

This is a tracking issue for arithmetic and certain bitwise operations on `AtomicPtr`.
As part of the strict provenance experiment  #95228.

This feature adds arithmetic (`add`, `sub`) and bitwise (`or`, `end`, `xor`) atomic operations for `AtomicPtr` in order to replace uses of `AtomicUsize`-but-actually-a-pointer to preserve provenance i

[2022-07-10 09:10] WaffleLapkin commented on #96283
@Gankra actually, I think allowing these methods take pointers to DST unlocks a lot of abilities for custom DSTs. In particular `byte_sub` is required to implement `Arc::from_raw` (as it accepts a possibly fat pointer to `T` that needs to be offseted back to `ArcInner<T>`).

[2022-07-10 09:39] DanielT opened #99111 "Rust allocates stack space for constant arrays, overflowing the stack"
I wrote a function that works with a fairly large array of constants.
On windows it crashed with "(exit code: 0xc00000fd, STATUS_STACK_OVERFLOW)"

I subsequently minimized my code to the following:

[code]

Obviously, this function should not be smashing the stack.

In Godbolt I see the following assembly output for my test function
[code]

Rust is allocating space for the entire array of constant

[2022-07-10 09:45] obeis commented on #98938
@rustbot claim

[2022-07-10 09:53] nikic commented on #99111
Are we talking about unoptimized builds here? I don't see a stack allocation with optimization: https://rust.godbolt.org/z/v3Tj664oK

[2022-07-10 09:56] DanielT commented on #99111
The test case for my code fails.
I believe `cargo test` builds without optimization, so yes.
But for that reason the unoptimized assembly matters to me as well - it doesn't need to be fast, but it can't overflow the stack.

[2022-07-10 09:57] ChrisDenton commented on #99111
You probably want to use a `static` rather than a `const`. A `static` is embedded in the binary's data section whereas a `const` is semantically like copy-pasting the array inline (but which may be optimized to something better).

[2022-07-10 10:00] 5225225 commented on #99111
I wonder if it would be worth adding a warning for cases like this?

As in

[code]

[2022-07-10 10:04] DanielT commented on #99111
Thanks for the suggestions.
I think a warning in this case would be very helpful: I had no idea that this behavior existed for `const` and just assumed that a constant should be declared as `const`.

[2022-07-10 10:16] WalterSmuts commented on #98931
@JulianKnodt Please can you fix this! IMO this is such a sore finger in rust language.

FYI, this probably needs to go hand-in hand with default generic type inference too. For example see the following code on normal generic (non-const generic) types:
[code]
The fact that rust behaves like this for normal generic default types is why https://github.com/rust-lang/rust/issues/83687 was closed.

[2022-07-10 10:29] mati865 commented on #79854
It builds fine in MSYS2 so there should be no problem with Cygwin.

This is unexpected, seems Cygwin path was passed instead of Windows path.
Maybe because of Python? In that case using native Windows Python would solve the problem.

This output doesn't contain the root cause of the failure. You should look higher up in the terminal (or even paste whole output somewhere) and if there is nothing in

[2022-07-10 10:32] xFrednet commented on #54503
True, I've asked in PRs etc what others thought and in general, it was a: "let's keep it like this for now". At first, I also was a bis skeptical and favored a name like `#[expect_lint()]`. But by now I prefer `#[expect]`. That is just my opinion though, so I'm open to other suggestions and a related discussion :upside_down_face:

---

The `#[expect]` attribute works like every other lint attribut

[2022-07-10 10:33] mintty commented on #79854
Maybe, but for building a cygwin package a cygwin toolchain is essential.

[2022-07-10 11:07] mati865 commented on #79854
Ah, I know what it is. I think all Cygwin packages do use UNIX style paths but native Windows applications use only Windows style paths. So there are two problems here:
- Cygwin tools pass UNIX style paths to Rust but it cannot understand them
- Rust then passes Windows paths to Cygwin tools (like the linker) which they cannot understand AFAIK

So to do it that way you'd need to convert paths usin

[2022-07-10 11:09] Kampfkarren opened #99115 "The trait `T` is not implemented for `impl Future<Output = impl T>` does not suggest `.await`"
Given the following code:

[code]

The current output is:

[code]

The solution to this is replacing `returns_my_trait()` with `returns_my_trait().await`, but this is not suggested by the error.

[2022-07-10 11:27] #85204 closed

[2022-07-10 11:35] #95334 closed

[2022-07-10 12:31] gimbles commented on #97222
Minimized reproducible from k2_tree -> https://gist.github.com/gimbles/d43c181534fc4bd022abe98ca328039c

[2022-07-10 12:35] Enselic commented on #85444
This is caused by Safari disallowing by default to load external files from disk such as `../rustdoc.css`. When Develop Menu is enabled, this restriction is lifted. Manually inlining the CSS into `index.html` is another way to make the styling work.

[2022-07-10 12:56] gimbles commented on #97222
I *think* I will be able to bisect this, but cargo-bisect-rustc does not have a segmentation fault regression, so might take a while doing this by hand. =)

[2022-07-10 12:58] gimbles commented on #97222
Current status of doing some hand bisection ->

Works OK on nightly-2021-10-23! Currently incrementing the version and checking if it works on a later version

[2022-07-10 13:11] Badel2 commented on #99111
Running clippy on the example code prints this warning:

[code]

[2022-07-10 13:20] gimbles commented on #97222
Appx. guess right now is something in between 2022-01-10 and 2022-02-01

[2022-07-10 13:42] DanielT commented on #99111
That seems to have come from the simplification of my code.
The original code has an array of 877 individually rather large objects, and the total size of the array was also somewhat smaller- the crash happened when the recursion went far enough.

I don't know whether clippy is using the number of elements or the total size of the data as the trigger for the warning, but the limit seems to be too

[2022-07-10 14:12] 5225225 commented on #99111
Ah, so the issue is that rust basically puts all local variables as defined at the top of the scope?

so if, at any point, you have a local that uses 256KB of stack, *all* recursion will use that

[2022-07-10 14:25] DanielT commented on #99111
@5225225  I'm not sure I understand your question here, sorry.
Nothing about this bug has anything to do with scope (as far as I can tell).
The issue is that rust allocates stack space for const arrays at all, and (if this is valid / not fixable) that there was no warning about it.
Once a function reserves a large amount of stack, this reservation is multiplied by the recursion depth, leading to a

[2022-07-10 14:27] leonardo-m commented on #82378
See also:
https://ruby-doc.org/core-2.7.0/Integer.html#method-i-5B-5D

[2022-07-10 14:44] #94345 closed

[2022-07-10 14:44] Mark-Simulacrum opened #99116 "Crater runs for 1.63"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2022-07-10 14:56] CAD97 opened #99117 "Perf: investigate manual inlining in layout.rs"
Due to how many different times the layout code is instantiated, seemingly inconsequential changes can have noticeable impact on compile perf.

It may be beneficial to investigate some manual inlining (open coding) of code in the layout code (e.g. replacing `?` and other option/result combinators with `match`/`return`) to reduce the amount of IR LLVM has to deal with.

[2022-07-10 15:49] Enselic opened #99118 "rustdoc JSON: Support for `&dyn for<'a> Trait<'a>`"
If we generate rustdoc JSON for this **lib.rs**:

[code]

with the command:

[code]

we will get this rustdoc JSON in **doc/lib.json** for the function input parameters:

[code]

as can be seen, the `for<'a>` part is absent. Info about that the `dyn` keywoard is used is not present either, unless one looks up `0:1:1565`, in which case I guess it can be deduced that `dyn` is used. But it would be n

[2022-07-10 16:26] camden-smallwood commented on #62358
I can't find an `Option::map_or_default`, but I would assume from the implication of the name that it would make it so that I no longer have to explicitly supply `false`. The lambda is still there however, making the logic still appear indirect and not exactly solving the problem at hand:

I have an `Option<T>` stored in a variable `x`. I want to check if this `x` has a value of `Some(T)` and comp

[2022-07-10 16:51] obeis opened #99120 "Internal compiler error `error: could not compile rustdoc`"
After pulling master branch to this commit
[code]
I am not able to build the compiler

### Error
[code]

[2022-07-10 16:52] jsha opened #99121 "rustdoc: sidebar items not shown on crate page on docs.rs"
On docs.rs pages, until recently, the crate page (the top of the hierarchy for a crate) would show structs, enums, traits, etc in the sidebar, in addition to the page contents:

https://docs.rs/rustls/0.20.6/rustls/index.html

<img src="https://user-images.githubusercontent.com/220205/178153876-f6bcd9f0-10dd-4fdf-96d8-946411e1fbc0.png" width=200>

In more recently built pages, it doesn't:

<img sr

[2022-07-10 17:26] jannic opened #99122 "ICE after cast to `*const _`"
### Code

[code]
https://godbolt.org/z/dYEEEMddq

### Meta
`rustc --version --verbose`:
[code]

Also happens with nightly, but not with stable (1.62.0)

### Error output

[code]
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-10 17:34] jannic commented on #99122
@rustbot modify labels: +regression-from-stable-to-beta

[2022-07-10 17:41] JulianKnodt commented on #98931
Hmmmm, I didn't realize that generic default types also behaved that way, but it might be worth it to just add a note to the error message.

[2022-07-10 17:58] mintty commented on #79854
I'm only interested in cygwin target. I have no capacity to work on your build, anyway. I was just reporting as I think (quoting from above)

[2022-07-10 18:35] mati865 commented on #79854
This statement is not true when it comes to the compilers though.

[2022-07-10 18:36] memoryruins commented on #96231
nightly's codegen has improved

[code]

[code]
`rustc 1.64.0-nightly (06754d885 2022-07-08)`

[2022-07-10 18:48] hardskulls commented on #87335
Why not extend `?` operator? Some people already mentioned it here. I mean it's purpose is to get the wanted type and unwrap it or to return unwanted if something goes wrong.
It could be from something simple like:

[code]

To a more complex syntax like:

[code]

Where all types are variants of single enum and which would be read as "If the wanted type is not present, break the loop with types 1-3

[2022-07-10 18:58] ouz-a commented on #68538
This doesn't ICE anymore

[2022-07-10 19:26] #98894 closed

[2022-07-10 19:26] #98897 closed

[2022-07-10 19:29] compiler-errors commented on #99122
searched nightlies: from nightly-2022-03-01 to nightly-2022-07-02
regressed nightly: nightly-2022-05-28
searched commit range: https://github.com/rust-lang/rust/compare/490324f7b29d5f1a1e063a563045d790091ed639...ebbcbfc236ced21d5e6a92269edb704692ff26b8
regressed commit: https://github.com/rust-lang/rust/commit/56fd680cf9226ab424f88d4e3b43c5e088d17f19

<details>
<summary>bisected with <a href='http

[2022-07-10 19:29] compiler-errors commented on #99122
Anyways I put up a fix in #99124.

[2022-07-10 19:52] itsliamegan opened #99125 "Indexing by a borrowed type could suggest dereferencing"
When indexing a `Vec` by an `&usize`, the error message was somewhat non-specific. I looked at the types and figured out that I just needed to dereference the borrowed value but it might've been helpful to have that more apparent. I'm sure the same error occurs in more general cases, but this is the specific one I encountered it in.

Here's [an example](https://play.rust-lang.org/?version=stable&m

[2022-07-10 20:03] compiler-errors commented on #99125
I think this is a dupe of #96678

[2022-07-10 20:05] itsliamegan commented on #99125
I didn't find that with my initial search, but indeed it is! :+1:

[2022-07-10 20:05] #99125 closed

[2022-07-10 20:13] compiler-errors commented on #96678
This got reported again in #99125, @TaKO8Ki are you still working on this?

[2022-07-10 20:25] c410-f3r commented on #99106
Happens with or without `$$`.

[code]

@rustbot labels +A-macro

[2022-07-10 20:45] JakobDegen commented on #96231
Very nice

[2022-07-10 20:45] #96231 closed

[2022-07-10 21:00] danielhenrymantilla commented on #86027
FWIW, I have submitted https://github.com/rust-lang/rust/pull/99032 which offers one way to fix or at least palliate this

[2022-07-10 22:03] jyn514 commented on #53650
Ok, I was able to reproduce this - the issue is that the sysroot is losing .rlibs somehow. Here is the crate that's loaded after `build compiler/rustc`:
[code]
and here is the sysroot after running tests:
[code]
I think what's going on is that x.py deletes everything in `build/stage2` when creating the sysroot for the tests, which would make this is a duplicate of https://github.com/rust-lang/rust

[2022-07-10 22:15] nnethercote commented on #99117
Another idea: `Layout::from_size_align` does two checks. One for alignment, one for size. I think the places where it was used in #95295 only need the size check. So an alternative unsafe version of `Layout::from_size_align` that does just the size check might help.

[2022-07-10 22:16] jyn514 commented on #44293
@krasimirgg `build compiler/rustc` implies `build library/std`; there should be no reason to use both in the same command. The error you're running into is since https://github.com/rust-lang/rust/pull/95502 only `std` is being built, instead of all standard library crates (proc_macro doesn't depend on std).

That said, this is still a bug, `compiler/rustc` should be building the crates it cares ab

[2022-07-10 22:17] jyn514 opened #99129 "`x build library/std compiler/rustc` gives an error that proc_macro isn't built"
We started seeing a strange error to find the `proc-macro` crate during stage1 bootstrapping starting at this rust commit https://github.com/rust-lang/rust/commit/0a7f2c3a025c8bab1e10ccec6208a4c19b057b26.
The command we're using is `python3 x.py build library/std compiler/rustc src/tools/cargo`.
The errors look like this:
[code]
This is currently affecting our experimental rust + llvm@head build b

[2022-07-10 22:17] jyn514 commented on #99129
https://github.com/rust-lang/rust/issues/44293#issuecomment-1179810163

[2022-07-10 22:19] jyn514 commented on #99129
Ok, I think I see the issue: `StdLink` is cached between the invocations, because we don't invalidate the cache when `self.crates` changes. Should be easy to fix, working on it now.

[2022-07-10 22:56] jyn514 opened #99135 "Run `x test --stage 1` in CI"
Similar to https://github.com/rust-lang/rust/issues/95996, we expect contributors to run this frequently, so it should be tested in CI.

@eddyb suggested using the defaults in https://github.com/rust-lang/rust/blob/7443cc2bd66a79aa5a624e11b9b0172e56c2da48/src/bootstrap/defaults/config.compiler.toml#L1 but I'm a little hesitant to do that because some of them are *very* wrong for CI (e.g. `download

[2022-07-10 23:01] jyn514 commented on #98797
cc https://github.com/rust-lang/rust/pull/98793#pullrequestreview-1027622424, we've been meaning to do this for a while

[2022-07-10 23:04] eddyb commented on #99135
To be clear, I was mistakenly under the impression that *only* stage1 tests were ran for PR CI.
But I could see how that may be an issue for `ignore-stage1` tests (though, is it easy to *only* run those in stage2?).

[2022-07-10 23:06] jyn514 commented on #99135
ah yeah no, we currently run `x test --stage 2` in PR CI. I think it might make sense to only run `--stage 1` now that you mention it though! would be a lot faster and in practice there are very few tests that only fail in stage 2.

not currently, no - I think it wouldn't be impossible to add to compiletest though, it already does filtering and parses the headers, so it should be possible to combi

[2022-07-10 23:17] Mark-Simulacrum commented on #99116
@craterbot run name=beta-1.63-1 start=1.62.0 end=beta-2022-07-10 mode=build-and-test cap-lints=warn p=1

[2022-07-10 23:17] Mark-Simulacrum commented on #99116
@craterbot run name=beta-1.63-rustdoc-1 start=1.62.0 end=beta-2022-07-10 mode=rustdoc cap-lints=warn p=1

[2022-07-10 23:36] jyn514 commented on #97481
This looks suspicious: https://github.com/rust-lang/rust/blob/c396bb3b8a16b1f2762b7c6078dc3e023f6a2493/src/bootstrap/builder.rs#L723-L727
https://github.com/rust-lang/rust/issues/93033

[2022-07-10 23:42] scottmcm commented on #99117
[`mem::ValidAlign`](https://github.com/rust-lang/rust/blob/c396bb3b8a16b1f2762b7c6078dc3e023f6a2493/library/core/src/mem/valid_align.rs#L5-L12) represents the alignment check in the type system, so I think it could even be safe but still only have the one check.

[2022-07-10 23:43] CAD97 commented on #99117
If only tidy hadn't slowed me down I could've posted the PR before you said that 😛

[2022-07-10 23:49] #97324 closed

[2022-07-11 00:22] jyn514 commented on #97481
Oh, this might just be because we create a `.cargo/config.toml` file that uses vendored sources? @the8472 if you delete `.cargo`, does it fix your issue? (Trying to test this locally, but `cargo vendor` is painfully slow unfortunately ...)

[2022-07-11 00:27] RalfJung commented on #86027
(Replying here since it's not what the PR does.)

I would be rather opposed to that. I think we want to specify vtables in a way that it becomes *entirely impossible* for Rust code to actually generate a valid vtable -- any attempt of doing so will yield UB. vtables are "magic" and recognized by the Abstract Machine and that magic can not be replicated just by putting the same bits into some other

[2022-07-11 00:34] jyn514 commented on #97481
I wasn't able to replicate this.

[2022-07-11 00:36] jyn514 commented on #96462
How can we detect that the command prompt is using 32-bit mode?

[2022-07-11 00:38] jyn514 commented on #94003
I think `-Ztarget-applies-to-host` works today (you can pass it with CARGOFLAGS). You could also try setting `MAGIC_EXTRA_RUSTFLAGS`, I believe those apply to build scripts: https://github.com/rust-lang/rust/blob/471fa05fef0b09e0430a80e3d7f205ef19fc4a86/src/bootstrap/bin/rustc.rs#L156

I'm going to close this since it's not an issue with bootstrap itself.

[2022-07-11 00:38] #94003 closed

[2022-07-11 00:40] jyn514 commented on #91581
I'm going to close this since we haven't heard back - feel free to reopen if you're still running into trouble.

[2022-07-11 00:40] #91581 closed

[2022-07-11 00:42] jyn514 commented on #90921
Hmm, I wonder if https://github.com/rust-lang/rust/issues/13983 is related.

[2022-07-11 00:44] jyn514 commented on #85047
I'm going to close this since I haven't been able to reproduce. In practice this should have much less of an impact than it used to since we download LLVM most of the time.

[2022-07-11 00:44] #85047 closed

[2022-07-11 00:45] jyn514 commented on #84742
lol I opened this same issue again because I forgot about this one https://github.com/rust-lang/rust/issues/97338

[2022-07-11 00:45] #84742 closed

[2022-07-11 00:47] jyn514 commented on #89490
Implemented in https://github.com/rust-lang/rust/pull/95504.

[2022-07-11 00:47] #89490 closed

[2022-07-11 00:48] jyn514 commented on #88221
I'm going to close this since it looks like an upstream LLVM issue.

[2022-07-11 00:48] #88221 closed

[2022-07-11 00:53] jyn514 commented on #80541
I think this happens because cg_clif is in a different workspace.

[2022-07-11 00:54] jyn514 commented on #79562
The sccache changes have been merged.

[2022-07-11 01:09] workingjubilee commented on #43517
That LLVM bug is now tracked at https://github.com/llvm/llvm-project/issues/29546 and appears to have had no motion on it in the past 5 years.

Assembly in the initial comparison cases remains identical per https://rust.godbolt.org/z/rWYesEaxq
No other changes, as far as I can tell.

[2022-07-11 01:15] #98693 closed

[2022-07-11 01:15] #99092 closed

[2022-07-11 01:18] workingjubilee commented on #43517
This was nominally resolved on our end, but was left open in the possibility that the LLVM issue was going to be resolved, so as to remove the "temporary" workaround. However, if we wish to track LLVM-side bugs that are not currently an impact on us, but may allow upgrades later, then I believe we may wish to consider tracking them in another form than an issue on the GH tracker, as they are "not

[2022-07-11 01:18] #43517 closed

[2022-07-11 01:31] workingjubilee commented on #61440
Checking reports for newer versions like [Debian Bullseye](https://buildd.debian.org/status/package.php?p=cargo&suite=bullseye), the current stable release, buildd appears to pass this for remaining `mips*` architectures. Closing on the assumption that this was cleared.

[2022-07-11 01:31] #61440 closed

[2022-07-11 01:50] workingjubilee commented on #18297
This is `-Copt-level` dependent.
[code]

So we do not appear to emit any such annotation on `static`s. Instead, it seems that LLVM is capable of inferring `local_unnamed_addr` via analysis.

[2022-07-11 01:58] workingjubilee commented on #42666
From the current state of this bug report, I am not sure where I would begin with reproducing this today in order to resolve it. The way we handle allocators in particular has changed enough since this was opened that I am hesitant to draw conclusions.

[2022-07-11 02:00] Mark-Simulacrum commented on #79562
I think at this point this issue can be closed; we've long had PGO for x86_64-unknown-linux-gnu, and are in the process of adding it to Windows (https://github.com/rust-lang/rust/pull/96978).

https://github.com/rust-lang/rust/issues/79442 is a better issue here regardless, with a much more complete task list.

[2022-07-11 02:00] #79562 closed

[2022-07-11 02:13] workingjubilee commented on #53627
Current codegen with an equivalent [Godbolt](https://rust.godbolt.org/z/sne4Pb1qY):

[code]

which matches with the objdump of a cargo project I did just to check:

[code]

Appears to be resolved.

[2022-07-11 02:13] #53627 closed

[2022-07-11 02:20] dralley commented on #71723
Just pointing this out, https://github.com/rust-lang/rust/issues/75791 which was closed as a duplicate provides a much more straightforward example that doesn't involve async

[2022-07-11 03:14] workingjubilee commented on #48254
I am not sure what the proposed improvement is here, either.
On recent versions, everything seems much different, see this [Godbolt](https://rust.godbolt.org/z/fxq6K6aaz):

[code]

Nonzero number of quads, but less. Everything in the actual code seems to be using `rip`-relative addressing with `lea`, and it loads both things at a time before proceeding.

However, the dizzying array of stuff with t

[2022-07-11 03:29] Lokathor commented on #90957
The RFC says that the `asm!` "must not contain any other options except `att_syntax`", but the `raw` option should also be permitted.

[2022-07-11 03:44] workingjubilee commented on #30041
A Godbolt with more comparative data: https://rust.godbolt.org/z/cs69hPnT6
Tonight, the "good" functions no longer have problems.
bad3 is gone.
bad1 and bad2 now merge as a function because they generate the same code.

[code]

This seems to be true of **both** rustc and clang.

The unoptimized LLVMIR currently looks like
[code]

It might be useful to figure out why bad3 and most of the "good" one

[2022-07-11 04:20] BlaCoiso opened #99143 "Big file size regression on Windows"
Binary sizes on the latest nightlies are significantly larger than on stable and some previous nightly versions. This is caused by some extra sections in the binary and also an increase in the text and data sections
Stable (1.62.0):
[code]
Nightly (1.64.0-nightly c396bb3b8):
[code]
### Code

I tried this code:

[code]

I expected to see this happen: small binary size (143 360 bytes on 1.62.0)

Ins

[2022-07-11 04:20] jyn514 opened #99144 "Run compiler doctests in CI"
Right now these are only ever run locally, which means they often break. We should run these in CI.

See https://github.com/rust-lang/rust/issues/99144#issuecomment-1269609271 for mentoring instructions.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/issues/95994#issuecomment-1097487862_

[2022-07-11 04:23] jyn514 commented on #99144
Maybe `x86_64-gnu-aux` is a good place? That has some existing "misc tests", and already builds stage 2 rustc, so shouldn't slow down the builder too much.

[2022-07-11 04:42] jyn514 commented on #76720
Wait, I'm confused again. Why does the metadata matter other than the incremental cache? I think bootstrap already invalidates the cache somehow when you rebuild rustc, which is why libstd gets rebuilt when you modify the compiler?

Is there anyone *not* using `incremental = true` that's been hitting this issue?

[2022-07-11 05:58] MasterPtato commented on #99106
Interesting. In that case, it has nothing to do with nested macro definitions or [macro metavariable expressions](https://github.com/rust-lang/rust/issues/83527), just nested macro calls.

I went ahead and simplified the example:
[code]

Working example: [Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b0f6158f5fb62cf994e9098aebdbb8a9)
### Expected output
[

[2022-07-11 06:15] qiqjiao commented on #79854
Compilers translate source code to machine code. It doesn't involve low level OS specific things like the device drivers. I don't see why this particular compiler is special. No official support of cygwin rust compiler package is understandable, but not even be able to build from source code is hard to understand.

[2022-07-11 06:37] #99129 closed

[2022-07-11 06:45] mati865 commented on #79854
No matter if its C++ or Rust, std library is all about using OS specific code to give users cross-platform and easy to use abstractions though.

[2022-07-11 06:48] mati865 commented on #79854
All the errors in this issue are about the paths, you can take any Win32 native application and it won't be able to take or output UNIX paths used by Cygwin because Win32 API itself doesn't support these paths.

[2022-07-11 06:53] arniu commented on #62358
@camden-smallwood `if x == Some(y) { ... }` works

[2022-07-11 07:26] obeis commented on #99120
Fixed by running `./x.py clean`

[2022-07-11 07:26] #99120 closed

[2022-07-11 07:47] mintty commented on #79854
I guess something in the Rust build scripts is confused by the cygwin environment, misinterpreting it as a Windows environment and thus using wrong path syntax. It should be easy to find that place for those familiar with the build scripts.

[2022-07-11 08:13] ChrisDenton commented on #96462
cc-rs is able to detect when there's a mismatch between the requested target and the environment. So it may be possible to use `cc::windows_registry::find_tool` to correct the environment enough to keep llvm happy. I've not tried it though.

[2022-07-11 09:49] Ygg01 commented on #91249
Damn, wish this was the default macro usage.

Looking at:
[code]
Anyway, is there ever a logical reason to write `pub fn` in a  macro without wanting to bypass hygiene rules?

[2022-07-11 11:33] Mark-Simulacrum commented on #99144
Seems okay. Any test builder under 2 hours right now on Linux is probably fine.

[2022-07-11 11:42] TaKO8Ki commented on #96678
@compiler-errors I have recently started working on it again and will create a pull request as soon as possible!

[2022-07-11 11:55] reez12g commented on #99144
@rustbot claim

[2022-07-11 12:40] Amanieu commented on #93050
If we do decide to go with that then the docs should have an example using `.as_ref()`.

[2022-07-11 13:14] operutka commented on #96486
Is there anyone still having this issue? For me the problem disappeared with nightly-2022-06-17.

[2022-07-11 13:19] jyn514 commented on #99144
@reez12g see https://github.com/rust-lang/rust/pull/99040 for an example of something similar

[2022-07-11 13:58] BurntSushi commented on #62924
The naming here looks a tad unfortunate. For example, I'd expect `BTreeMap::first_key_value` to just be `first`, which matches `pop_first`. I suppose `first_key_value` is consistent with `get_key_value`, since `get` just returns the value. Presuming we don't want to add a `first` that only returns the value _and_ a `first_key_value`, I suppose going with `first_key_value` here is the better choice

[2022-07-11 14:57] #97850 closed

[2022-07-11 15:21] danielhenrymantilla commented on #91249
We could imagine something like:

[code]

which defines the struct `Foo`, as well as a `Foo!` constructor. If the `Foo!` constructor is used from a downstream crate, then the `new()` it calls would need to be `pub`.

Oftentimes `macro_rules!` macros which want to do this thus use:

[code]

which is less clean and actually brittle if multiple macros pick the same `__new()` name and collide. Hygiene

[2022-07-11 15:41] karx1 commented on #87800
I needed this today, I have:
[code]

However, I need to use the focused and the framed window separately, which is where `unzip` would have come in handy.

[2022-07-11 15:43] Amanieu commented on #87800
Proposing stabilization of `Option::unzip()`:

[code]

@rfcbot merge

[2022-07-11 15:53] steffahn opened #99158 "Implied bounds of function are not enforced if you don't call it directly. (But you can call it indirectly...)"
I would be surprised if this wasn’t a known issue, presumably I might have even looked at it myself in the past… I’m not able to find it though at the moment using keywords from this title on `I-unsound` issues, so let me file this anyway… _(and in case it’s indeed a duplicate, I at least gain an appropriately named closed issue so I can better find this in the future)_.

---

Here’s the code
[cod

[2022-07-11 16:03] fee1-dead commented on #99115
@rustbot claim

[2022-07-11 16:04] 5225225 commented on #99158
This looks similar to `fake-static`'s case, which is

[code]

That's tracked in https://github.com/rust-lang/rust/issues/25860

[2022-07-11 16:13] steffahn commented on #99158
Hmm… but I don’t think there’s variance at play in this example (I’ll write up a version where everything is invariant shortly); though I’d have to look through the whole thread there to double-check whether the issue still claims that variance is *necessary*.

First, here’s confirmation that the code in this issue does (in slightly modified form) successfully trick the compiler all the way since

[2022-07-11 16:19] veber-alex commented on #99158
Is the issue here specific to `PhantomData` ?
It seems to rely on it's ability to create instances of itself with illegal lifetimes.

[2022-07-11 16:21] steffahn commented on #99158
Nevermind, variance seems to play a role after all, this doesn’t work with something like `&'static Cell<&'a ()>`.

[2022-07-11 16:24] steffahn commented on #99158
What threw me off was that you can get fairly explicit with the lifetimes
[code]

---

Oh well, so this is pretty clearly a duplicate of #25860 after all :-)

[2022-07-11 16:36] Lokathor commented on #90957
Also, having people put `noreturn` on a thing that generally does return is very confusing design, but the FCP for that is over so I don't expect a bigger update like that.

[2022-07-11 16:39] RalfJung opened #99160 "Should we allow StorageLive on a live local?"
Currently, we disallow `StorageLive` being called on a local that is already live (both in Miri, and in the MIR docs). This was originally motivated by some very vague wording in LLVM making it unclear whether LLVM would behave properly when there are multiple `lifetime.start` without intermediate `lifetime.end`.

However,  LLVM has in the mean time clarified that such a redundant `lifetime.start`

[2022-07-11 16:43] ehuss commented on #99143
This seems to be due to #98350, cc @pcwalton.

[2022-07-11 16:48] czipperz commented on #93050
I'd like `is_none_or`.  I have a code block like this:

[code]

it could instead be:
[code]

[2022-07-11 16:50] RalfJung commented on #66151
For the aggregate one, I went over *every single crate* (not the GH projects), identified the root cause as well as I could, and made bug reports to notify the author of the regression. See [this analysis](https://github.com/rust-lang/rust/pull/71274#issuecomment-683937298) and the backlinks just above.

If someone is willing to do that for arrays, that might allow such a PR to land for arrays as

[2022-07-11 17:29] compiler-errors commented on #99060
Am I mistaken or is this fixed on nightly?

[2022-07-11 17:51] workingjubilee commented on #97540
I would sincerely appreciate it if this was quantified in some manner or if you could give a more complex example. It's not that I don't think you are correct, it's just that unfortunately the quickest fix is to simply revert the changes that regressed this outright. But reverting the changes will simply regress the performance in **other** areas, and the losses there were quite significant.

That

[2022-07-11 18:11] nbdd0121 commented on #97540
It's the rustc that makes return value indirect, instead of LLVM.

[2022-07-11 18:13] nikic commented on #97540
The ABI is decided by rustc here, not LLVM. If rustc tells LLVM to use an sret argument, then it must do so.

Returning an i64 pair in an XMM register is also a bad idea because it requires GPR to XMM moves, even if we ignore issues related to the target-feature dependence of XMM registers.

[2022-07-11 18:26] mintty commented on #79854
This composes os.path.join(self.rust_root, "src/bootstrap/Cargo.toml") which works fine in cygwin, with cygwin python.
So probably elf.rust_root contains a Windows path already.

[2022-07-11 18:57] jonas-schievink commented on #99060
Ah, it looks like you have to invoke the macro for the error to happen. Updated the example to reflect that.

[2022-07-11 19:25] RalfJung commented on #66151
Yeah, crossbeam doesn't even have branches for its old versions... they might not even be able to publish fixes for them any more. I wonder if we could get them to at least yank all the old version?^^

FWIW here's what I wrote about crossbeam when we landed the aggregate check (that was in 2020):

crossbeam-epoch 0.7.2 and 0.8 are fixed by depending on memoffset 0.5; this, too, is semver-compatibl

[2022-07-11 19:38] mati865 commented on #79854
No, it's created using relative paths to Python file and then normalised: https://github.com/rust-lang/rust/blob/9fb32dc924653e35950f17c8d91793c9ca983d03/src/bootstrap/bootstrap.py#L846

[2022-07-11 19:40] schreter commented on #97540
@workingjubilee Yes, we need to quantify this, but it's not that trivial. Our project is fairly big and the benchmark directly or indirectly touches 200K+ LOCs of our code and likely millions of LOCs of code from other crates, so it's not easy to quantify. I'd estimate the average performance loss 5% across the board from 1.60 -> 1.62.

We do use quite a few functions returning `Result`s in tight

[2022-07-11 19:57] #98616 closed

[2022-07-11 19:57] #98726 closed

[2022-07-11 20:13] bjorn3 commented on #68538
[code]

now crashes with

[code]

cc @RalfJung I think this is caused by your PR to remove unsized locals support from miri.

[2022-07-11 20:22] RalfJung commented on #68538
Hm yeah seems related -- but shouldn't that code be rejected? It has an unsized local, not just an unsized argument, so the `unsized_fn_params` feature flag is not enough.

[2022-07-11 20:40] bjorn3 commented on #68538
Where is the unsized local? `s` is an unsized argument, not an unsized local and `s[0]` evaluates to a sized value.

[2022-07-11 22:53] brpandey opened #99167 "Panics when I import a submodule"
### Code

I am writing a radix_trie --> https://github.com/brpandey/radix_trie

After placing a thread on the rust forum -> https://users.rust-lang.org/t/handling-multiple-mutable-borrows-but-to-different-struct-fields/78135

I added some functionality to incorporate view structs. I checked in these changes yesterday.

Today, I am just trying to simply move any functionality that touches NodeView

[2022-07-11 23:08] brpandey commented on #99167
Just upgraded to 1.62.0

rustc --version --verbose
rustc 1.62.0 (a8314ef7d 2022-06-27)
binary: rustc
commit-hash: a8314ef7d0ec7b75c336af2c9857bfaf43002bfc
commit-date: 2022-06-27
host: x86_64-unknown-linux-gnu
release: 1.62.0
LLVM version: 14.0.5

and not getting this error.

Will check again before I close this issue

[2022-07-11 23:28] brpandey commented on #99167
No longer running into compiler bug after upgrade Rust from 1.57 to 1.62.  Closing

[2022-07-11 23:28] #99167 closed

[2022-07-11 23:36] bholley commented on #42666
@workingjubilee

If you're interested in fixing this on the rustc/llvm side, I'd be happy to connect you to a Firefox engineer who can verify that the issue still reproduces and if so, help you do so.

[2022-07-11 23:56] eholk commented on #57017
I think that's a good way of looking at it.

As you point out, @danielhenrymantilla, technically `temporarily` does live across the await point. But users find this surprising and it's not observable (other than in the generator type) if we end the borrow earlier, so we'd like to have rules that allow this program to work.

[2022-07-12 00:10] arbaregni commented on #57966
I solved this by copy-pasting 💀

[2022-07-12 01:29] Jay-Madden commented on #83871
Agreed, this would be very useful

[2022-07-12 02:44] lyming2007 commented on #98818
why there are different errors in the Linux system?
[code]

[2022-07-12 02:57] lyming2007 commented on #98565
Did you mean the ideal output should like:
[code]
?

[2022-07-12 03:09] #93506 closed

[2022-07-12 03:09] #97059 closed

[2022-07-12 03:09] #98976 closed

[2022-07-12 03:09] #99089 closed

[2022-07-12 03:09] #61525 closed

[2022-07-12 03:15] danobi commented on #93322
@rustbot claim

[2022-07-12 03:52] kennystrawnmusic commented on #74465
Attempting to `use core::lazy::OnceCell` in a kernel project is throwing an “unresolved import” error at the moment despite the documentation stating that it’s in the core library, forcing me to fall back on the `conquer_once` implementation at the moment — any idea when this will get fixed?

[2022-07-12 04:45] dralley commented on #68455
@hkratz How did that go?

[2022-07-12 05:14] mbartlett21 commented on #74465
@kennystrawnmusic
If you look a few comments up, you will see that it was renamed to `core::cell::LazyCell`.
Since you are running nightly, you can either look at your local docs or the [nightly docs on doc.rust-lang.org](https://doc.rust-lang.org/nightly/core/cell/struct.LazyCell.html) to find that it is there.

[2022-07-12 05:34] Cerber-Ursi commented on #98565
Not sure, to be honest. This might event not be E0576, since the problem is not that "something wasn't found for the type" - it's "there's no type to search in".

[2022-07-12 05:40] nnethercote commented on #82775
I'm very late to the party, but is `assert_not_matches` worth considering? It came up in [a tweet](https://twitter.com/nnethercote/status/1546673539214118912):

That tweet was inspired by some real code I wrote today.

[2022-07-12 06:58] joshtriplett commented on #80218
@rfcbot merge

[2022-07-12 07:25] StephanvanSchaik commented on #99051
No worries, your comment is much appreciated actually, as it is very insightful. Yes, it compiles fine when adding `+ Sync`.

The link you shared is actually very helpful as it mentions that one can use the `debug_handler` macro from the `axum-macros` crate to debug these kind of issues, I wish I had known that before. I also found out that rust-analyzer seems to point out this issue (I don't reme

[2022-07-12 08:17] oli-obk opened #99170 "remove box special handling from cranelift"
https://github.com/rust-lang/rust/blob/b3f4c3119957aa0a250cab08ab586b7a9a680ef1/compiler/rustc_codegen_cranelift/src/base.rs#L813 is still doing some special handling for `Box`, even though there are no more `Deref` for boxes at codegen time anymore. The special handling can be removed without replacement. For sanity it may be replaced by an assertion that the type is never `Box`.

[2022-07-12 08:18] ritikBhandari commented on #99170
Hi,
Can I take up this issue?

[2022-07-12 08:19] oli-obk commented on #99170
of course! you can claim this issue by using the command mentioned in https://rustc-dev-guide.rust-lang.org/rustbot.html?highlight=claim#issue-claiming

[2022-07-12 08:22] chiquidev commented on #96259
Good afternoon, I'm having the same issue, any solutions?

[2022-07-12 08:23] ritikBhandari commented on #99170
thank you @oli-obk !

[2022-07-12 08:23] ritikBhandari commented on #99170
@rustbot claim

[2022-07-12 09:45] mjul opened #99173 "Compile panic in nested empty proc_macro"
I wrote two proc_macros in the same crate, one calling the other.
When the inner macro, named `ignore` in the example below, is invoked by the outer macro in the
example, `this_fails`, the build panics.

### Code

File `metamodel_macros/src/lib.rs` in a proc_macro crate named `metamodel_macros`:

[code]

File `metamodel_tests/src/lib.rs` in a normal library crate named `metamodel_tests`:

[code]

[2022-07-12 10:04] yerke commented on #96479
Just hit this issue as well. Also in Docker on an M1 in an x86 container. Also with `regex-syntax`.

[2022-07-12 10:30] MichaelRawson opened #99175 "`rustc` hangs on structure parameterised by lifetime and recursive trait."
`rustc 1.62.0 (a8314ef7d 2022-06-27)` stable hangs on the following snippet. Also seems to hang nightly/beta, and stuff further up the chain like rust-analyzer and clippy.

[code]

There is a genuine use-case for this pattern, but it is a bit involved. I am happy to help get this fixed, and thank you for the hard work developing the compiler! Suggestions for workarounds very welcome in the meantim

[2022-07-12 10:50] shamil-gadelshin commented on #96320
I have a similar error:

[code]

[2022-07-12 11:49] RalfJung commented on #66151
Another possible avenue that has been discussed is to give up on trying to *fix* old code (or getting people to fix it, by raising panics) and instead switch to mitigation mode, by reducing the amount of UB.  We could make `mem::uninitialized` synthesize a bitpattern that is actually valid at the given type (and keep the panic if the type is uninhabited). This would not fully fix UB due to `derefe

[2022-07-12 12:14] yoshuawuyts commented on #70887
I think the next step to take here would be to implement these methods on the `NonZero` types, and then write a stabilization report. We can probably also just go through the stabilization process for these methods on their own, but it'd be nice if we rounded out the full feature set first.

As part of the stabilization report we probably should raise the point on naming, as that's the only unsett

[2022-07-12 13:01] nikic opened #99179 "Enable eager checks for memory sanitizer"
The memory sanitizer supports "eager checks", which will check initialization for noundef parameters and return values. It can be enabled by passing true as the fourth parameter to MemorySanitizerOptions. The corresponding clang option is `-fsanitize-memory-param-retval`. Not sure whether we need an option or can just unconditionally enable it.

[2022-07-12 13:13] RalfJung opened #99180 "MIR building optimizes away some place expressions around "_" patterns even with -Zmir-opt-level=0"
Consider the following code -- the comments say it all:
[code]
Here is the mir-opt-level=0 MIR for this:
[code]
Currently, MIR building "loses" the entire place expression somewhere, *even though that place expression could cause UB*. IMO that is a bug. Can we change MIR building to preserve the place expressions?

We could have a `EvalPlace` MIR statement that just computes a place expression and

[2022-07-12 13:39] xFrednet commented on #54503
Now I fully understand the confusion. A level like implementation feels natural to me, but I've also implemented it, so take that with a grain of salt.

I feel like the hierarchy still (kind of) works. A lint expectation is basically an allow, which is stricter (as it requires the lint emission), but at the same time less than a warning as it usually suppresses a lint emission. `#[expect]` can be

[2022-07-12 13:44] RalfJung commented on #66151
PR for the `0x01` filling is up at https://github.com/rust-lang/rust/pull/99182.

[2022-07-12 14:00] BlaCoiso commented on #99143
This was built with `rustc +nightly main.rs -C opt-level=3 -C target-cpu=native`, although the same thing happens with `cargo +nightly build --release`

[2022-07-12 14:22] Ygg01 commented on #91249
So what would be best venue to discuss `decl macros` is Github preferred or Zulip or Discourse?

[2022-07-12 15:02] BlaCoiso commented on #99143
Just checked, this regressed between `nightly-2022-07-09` and `nightly-2022-07-10`

[2022-07-12 15:20] SkiFire13 commented on #99180
This doesn't even need the `unsafe` block, see #80059

[2022-07-12 15:43] RalfJung commented on #99180
Yeah that's what I mentioned in the last paragraph about THIR unsafety checking.

[2022-07-12 15:46] RalfJung commented on #80059
IMO we should fix this by having a special MIR statement for "evaluate this place and then discard the result (without place-to-value conversion)". Alternatively this can be expressed by using `&raw const <place expr>` and storing the result in an unused temporary, but that seems a bit too hacky?

This would also help with Miri's https://github.com/rust-lang/miri/issues/2360.

[2022-07-12 16:03] RalfJung commented on #87675
I am taking another shot at something like this in https://github.com/rust-lang/rust/pull/99182, with a slightly different approach than https://github.com/rust-lang/rust/pull/87032:
- We keep all the existing panics. Things only change for uses of `mem::uninitialized` that do *not* (yet) panic. The general thrust currently is towards having panics in *more* cases, though not everyone is happy wit

[2022-07-12 17:12] nikomatsakis commented on #66080
@rfcbot reviewed

[2022-07-12 17:17] joshtriplett commented on #93333
Shall we stabilize `sym` in `asm!`?

@rfcbot merge

[2022-07-12 17:18] joshtriplett commented on #93333
Shall we stabilize sym in asm!?

@rfcbot merge

[2022-07-12 17:52] joshtriplett commented on #89742
We discussed this in today's @rust-lang/lang meeting. We feel that anything *other* than `inline(always)` makes no guarantees at all, and any kind of hints like this command-line option are outside lang's purview; this is entirely a question of compiler optimization.

[2022-07-12 17:59] joshtriplett commented on #99035
Speaking for myself only: I think for the macros-writing-macros case, it makes more sense to me that `$$crate` should turn into `$crate` at the site of expansion, so whatever macro *invokes* that macro should be the one whose `$crate` is used.

[2022-07-12 18:05] eddyb opened #99188 "Missing caching for HRTB projection equality bounds (`for<'x> T: Trait<'x, Assoc = ...>`)."
*Originally reduced from a production application using the `tower` crate - see @fasterthanlime's [reduced repro repo](https://github.com/fasterthanlime/tower-quadratic) for more background (though note that it exhibits several other failure modes as well)*
[code]

The above example currently takes an exponential amount of time to compile, based on the type depth:
[code]

With every extra type lay

[2022-07-12 18:35] TobiasDeBruijn commented on #75335
Could crosscompiling for MacOS be a solution? Had thread with @Kobzol on Reddit regarding this. A couple solutions could be to:
- Build and run the tests on a Linux host with a crosscompilation environment and a compatibility layer to run them (if it's possible)
- Build on Linux, run on a mac; always
- Build on linux, run on a mac only for 'non-releases'
With the last one you test something else t

[2022-07-12 18:47] eddyb commented on #99143
That's pretty worrying, because [we don't set e.g. `Debug Info Version` with debuginfo disabled](https://godbolt.org/z/KE85Wz6zG), and the plausible bug that #98350 introduced is that `Dwarf Version` would always be set *when debuginfo is enabled* (i.e. it's exactly as unconditional as `Debug Info Version`).

<hr/>

Took a look through the PRs that landed in the latter, and aside from #98350, only

[2022-07-12 19:01] ehuss commented on #99143
I already ran cargo-bisect-rustc, that's how I came to the conclusion in https://github.com/rust-lang/rust/issues/99143#issuecomment-1180634053 that it was #98350. Sorry if that wasn't clear.

[2022-07-12 19:04] Lucretiel opened #99190 "`async fn` doesn't compile if it includes at least two generic lifetimes and at least one `'static` lifetime"
I tried this code:

[code]

I expected to see this happen: It compiles successfully

Instead, this happened: *explanation*: It fails to compile with this error message:

[code]

### Details

This bug appears on *any* async function that includes at least two generic lifetimes and at least one concrete (`'static`) lifetime. Some additional examples:

[code]

- It doesn't appear to matter what order

[2022-07-12 20:34] jackh726 commented on #99188
This is weird. I think this is one of those cases where I wish we had between logging tools for capturing how traits are solved.

What are the projection predicates that we *try* to cache? Probably add a debug call to `from_poly_projection_predicate` and then  aggregate all those?

I wonder if this is caused by the `for<'x> T: Trait<'x, A = (), B = (), C = (), D = ()>` bound. I could see a world w

[2022-07-12 20:54] fasterthanlime commented on #99188
I've noticed a _lot_ of tracing usage in `rustc` is just "log events" (`debug!("something happened");`) rather than spans (`let span = debug_span!("doing something"); let _guard = span.enter()` or the `tracing::instrument` macro). This makes it hard to track parent/child relationships.

When I started looking into this, I adjusted the `rustc_log` crate to start sending spans [jaeger](https://www.j

[2022-07-12 20:59] dpaoliello commented on #96534
FYI, I've managed to get an implementation of the `import_type_name` feature working and have re-created the MCP: https://github.com/rust-lang/compiler-team/issues/525

[2022-07-12 21:23] c410-f3r commented on #99035
https://www.youtube.com/watch?v=roRQ2mNwMMQ

[2022-07-12 21:34] Mark-Simulacrum commented on #99035
Going to tag as a regression so it gets tracked appropriately as something that needs work before the next release.

[2022-07-12 21:43] jackh726 commented on #99188
Well, I think we're getting better at adding in `tracing::instrument` annotations. It's slow moving, thought.

I have wanted to try out https://pernos.co/ for myself. Niko has tried it and liked it. Haven't convinced myself it's worth the expense right now.

Anyways, if you'd like to find some time to chat in sync about this, maybe that could work. It's hard to know exactly where to start probing

[2022-07-12 22:58] yanchen4791 commented on #96848
My understanding to "any code following this expression is unreachable" is that any code after `panic!("unreachable!!")` statement is unreachable. The `panic!("unreachable!!")` statement is still reachable, since it will be evaluated first as a parameter for `unreachable!()` statement. So `panic!("unreachable!!")` will be called first.

[2022-07-12 23:05] mikebenfield commented on #96181
This diagnostic will be triggered if you use the compiler option `-Zinline-mir`. This is also the case for a number of other scenarios, like if you use the explicit method `shl` instead of the operator, and it applies to other operations like `Add`.

I suspect the right way to handle this is to just do nothing until MIR inlining is enabled by default, and then possibly change the attribute in oper

[2022-07-12 23:15] DWesl commented on #79854
Cygwin often (but not always) can understand and use Windows-style paths just fine; the problems I've run into have mostly been of the "Windows executable doesn't understand Cygwin-style path" variety (although that's started to change recently; I'm seeing more `/path/to/pwd/C:/path/to/somewhere`-related failures).

The first question that occurs to my is why the build wants to use `i686-w64-mingw

[2022-07-12 23:26] saethlin commented on #66151
While we cannot synthesize a known-valid value for references in general, we can for slices. I think that would remove old versions of `hyper` from crater at least. And if people want to continue using those that's fine, they can upgrade at some point and get their perf back.

[2022-07-12 23:27] mati865 commented on #79854
As I already said there is no Cygwin target right now so you have to add it first to build Rust as Cygwin application.

As for the build system detection or MinGW you can override it with `--build <triple>`, `--host <triple>` and `--target <triple>`. After Cygwin targets are added.

[2022-07-12 23:27] steffahn commented on #99035
Is this supposed to say `lib.rs`? (I haven’t tested the behavior, but you appear to be trying to describe two code examples with *different* behavior.)

[2022-07-12 23:39] clarfonthey opened #99195 "`overflowing_literals` should have an option for "ignore signed overflows""
I have recently been working with code where using the two's complement form of signed literals is useful, but this doesn't mesh very well with the `overflowing_literals` lint.

Here's a simplified example:

[code]

Right now, with the `overflowing_literals` lint, `good_signed`, `bad_signed`, and `bad_unsigned` will all be marked as overflowing. To avoid `good_signed` being marked as invalid, I ha

[2022-07-12 23:43] danielframpton opened #99196 "LLVM crash/assertion failure in LazyCallGraph when compiling in release mode"
Updating to a new version of rustc (1.59) triggers a segfault when compiling in release mode targeting x86_64/Linux.

By building a version of rustc with LLVM assertions I see the following assertion failure for the crate that was failing:

[code]

The bug can be worked around by changing codegen units.

[2022-07-12 23:44] CAD97 commented on #99035
@steffahn oops, yes, you're correct. (I'll triple check when I get a chance but yes, the current behavior is that the `$crate` glued ident uses the span of the `crate` token.)

[2022-07-13 00:24] tmandry commented on #99085
@RalfJung did you mean to close this?

[2022-07-13 00:38] JakobDegen commented on #98896
@vakaras I'd also be interested to know if you have a reason for wanting this. I can't think of any real benefits myself, but I totally might be missing something

[2022-07-13 00:47] RalfJung commented on #99085
Yeah, it's a duplicate of https://github.com/rust-lang/rust/issues/98896.

[2022-07-13 01:24] clarfonthey commented on #79640
Potential duplicate of #79556?

[2022-07-13 01:29] clarfonthey commented on #79556
Ran into something similar to this after trying to test some code via `cross`. If I'm understanding correctly, *all* tier-2 and below targets don't have support for `profiler_builtins`. That includes not only the MUSL targets, but targets for architectures other than x86_64, aarch64, and i686.

[2022-07-13 01:30] kobehz commented on #79556
你的邮件已收到了，有急事请电话联系。有时间我会给你详细回复.....

[2022-07-13 01:34] clarfonthey commented on #79121
So, I commented on #79556 which seems to be the primary issue tracking this, but since this issue hasn't been closed yet, I figured I'd state this here for visibility.

A large number of targets seem to not support `-Cinstrument-coverage` out of the box due to the lack of a `profiler_builtins` crate, failing with a message along the lines of:

[code]

After trialing multiple targets on `cross`, it

[2022-07-13 01:36] JakobDegen commented on #99160
To be clear, for now I don't have a real reason for wanting this besides that it seems like unnecessary UB. I don't know of an optimization that is affected by this in either direction - will think about it though.

[2022-07-13 02:58] tmandry commented on #61015
It looks like the approach in #60840 was generalized to [consider all locals that were moved](https://github.com/rust-lang/rust/blob/1517f5de01c445b5124b30f02257b02b4c5ef3b2/compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs#L276) as not requiring storage. This is only done if the local is proven not to be aliased at the point it was moved. The check is done for both statements and terminat

[2022-07-13 03:10] tmandry commented on #79556
It definitely works for Fuchsia since we use it there. But we also build our own toolchain. This is probably (at least in part) an issue with the way the official distribution for those targets is configured and built.

[2022-07-13 03:16] tmandry commented on #79121
@clarfonthey Thanks for bringing this up, I [responded](https://github.com/rust-lang/rust/issues/79556#issuecomment-1182714579) on that issue.

I'm also going to close this issue, since the feature has now been stabilized. Issues with the feature can be tracked using the label, [A-code-coverage](https://github.com/rust-lang/rust/labels/A-code-coverage).

[2022-07-13 03:16] #79121 closed

[2022-07-13 03:24] #41038 closed

[2022-07-13 03:27] NobodyXu commented on #43122
Pinging, is there any update to its stablization?

[2022-07-13 05:39] tb0513 opened #99200 "https://tb0513.github.io/jump"
https://tb0513.github.io/jump

[2022-07-13 06:25] Rudxain opened #99201 "Redundant `if else` doesn't trigger warning"
Given the following code:
[code]

The current output is:
[code]

Ideally the output should look like:
[code]
`rustc` shows warnings when there are unused variables and imports, so why not show a warning for something as trivial as a redundant branch?

I tried searching for a duplicate Issue, but didn't find anything.

Tested in 2021 stable edition

[2022-07-13 06:29] FibreFoX commented on #79640
@clarfonthey similar but no duplicate, because the other issue targets MUSL, this is ARMv7-specific 😸

[2022-07-13 06:50] clarfonthey commented on #79640
Right, but the root cause appears to be an issue with the releases provided for tier 2 crates, which affects both.

[2022-07-13 07:01] 5225225 commented on #99179
If there's not a big performance hit, and it just changes behavior, then I think we should just unconditionally enable it, saves people the hassle of needing to know to enable that flag in CI as well if you want the better checks.

In any case, I'll try and implement this, we can probably get away with not changing the rust code side at all, and just always passing `EagerChecks` to be `true`.

[2022-07-13 07:14] 5225225 commented on #99201
https://github.com/rust-lang/rust-clippy has this, as https://rust-lang.github.io/rust-clippy/master/index.html#if_same_then_else . So if we wanted this lint in rustc itself, it would basically just be taking that lint.

[2022-07-13 07:30] Rudxain commented on #99201
Thank you for the info, I didn't know Clippy had this. Should I close the issue, or wait for more comments?

[2022-07-13 07:41] ToiletCommander commented on #98909
Would like to add a certain use case other than my small examples,
See the second proposal of Axum's issue 1116, https://github.com/tokio-rs/axum/issues/1116

[2022-07-13 07:58] Dylan-DPC commented on #99200
closing as spam

[2022-07-13 07:58] #99200 closed

[2022-07-13 08:31] mkmostafa commented on #56167
Is there any chance to get something similar to that for BTreeMaps as well also as an unstable feature for the moment until a final decision is made?

There was a mention of BTreeMaps  #in  https://internals.rust-lang.org/t/pre-rfc-abandonning-morals-in-the-name-of-performance-the-raw-entry-api/7043

The API for BTreeMap is much the same except everything about hashing is removed. It’s possible it

[2022-07-13 08:40] tjallingt commented on #84837
This can happen "naturally" when trying to mutate nested arrays:

[code]

[code]

Not sure if there is a more idiomatic way to write that code that avoids this but it feels like this should just work.

At least it helpfully suggest to call `.into_iter()` or `.iter()` which will fix the problem.

The same code using `Vec` will not have this suggestion:

[code]

[code]

[2022-07-13 08:44] audunska commented on #96645
For what it's worth, I haven't seen this since upgrading to the 1.63 beta.

[2022-07-13 08:47] BoxyUwU opened #99205 "defaults on `GATs` emit an error but function correctlyish"
I tried this code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=046796c21ebf3085d085609134bdd5f8)
[code]

I expected to see this happen: It not work correctly as if you remove `#![allow(invalid_type_param_default)]` it shouts at you saying its unsupported and will be a hard error one day.

Instead, this happened: defaults on GATs seem to function perfectly

[2022-07-13 08:49] lcnr commented on #99205
one issue is that we ignore defaults on the gat in impls
[code]

[2022-07-13 08:58] BoxyUwU opened #99206 "assoc type impl mismatch with trait assoc type doesnt mention where clauses"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-07-13 08:59] vakaras commented on #99160
Doing this would imply that the compiler consumers (for example, verifiers) would have to compute themselves whether `StorageLive` is allocation or reallocation. Compiler consumers can do that, but then they would not be able to check whether the compiler is doing the right thing (for example, I found #98896 just by trying to verify a simple example).

As a selfish guiding design principle, I pers

[2022-07-13 09:16] 5225225 commented on #99179
Also, looks like we're not emitting `noundef` for parameters and return values, we're only doing it for loads. But if you enable optimisations, params and return values seem to *get* noundef (if they're of a type that we say is noundef, like `char`). Also, the test required `#[no_mangle]` on the function that created the undef value. That could just be because it's a rather artificial test case?

[2022-07-13 09:19] nikic commented on #99179
We do emit noundef attributes for params and returns -- maybe you're testing `opt-level=0`? Not sure which test case you are referring to here.

[2022-07-13 09:30] apiraino commented on #99143
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399143.20Big.20file.20size.20regression.20on.20Windows)).

@rustbot label -I-prioritize +P-medium +I-heavy

[2022-07-13 09:33] 5225225 commented on #99179
What I don't get is *how*. Does noundef have no effect on unoptimised builds / is it ignored? (As in, in order to get the effect of memory sanitizer here, do you *have* to run an optimized build?)

I see that we have `scalar_load_metadata` that sets noundef metadata, is that used not just for loads, but also for parameters and returns? I can't see anywhere else that calls `noundef_metadata`.

http

[2022-07-13 09:35] dingxiangfei2009 commented on #98672
I believe the two tests in `test_borrow` shall be comparing to `0`. The reason is that `let _x = &(<expr>).0;` actually extends the temporary `<expr>` to the end of the block at the moment, which is the desired outcome.

[2022-07-13 09:38] apiraino commented on #99071
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399071.20Nightly.20stops.20to.20accept.20registers.20r8-15.20on.20thumbv6m)).

@rustbot label -I-prioritize +P-medium T-compiler

[2022-07-13 09:48] tmiasko commented on #99179
Attributes should be configured somewhere around here:

https://github.com/rust-lang/rust/blob/95e8b86c8c0aba65b2b0065265ce6d82d5a2c285/compiler/rustc_codegen_llvm/src/abi.rs#L46-L52
https://github.com/rust-lang/rust/blob/95e8b86c8c0aba65b2b0065265ce6d82d5a2c285/compiler/rustc_codegen_llvm/src/abi.rs#L75-L93

[2022-07-13 09:57] nikic commented on #99179
They are not set as a compile-time optimization. It would be fine to always emit them with memory sanitizer, as they impact its behavior.

[2022-07-13 09:59] apiraino commented on #99035
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399035.20.60.24.24crate.60.20unexpectedly.20fails.20to.20defer.20which.20crate.20.60.24.E2.80.A6)).

@rustbot label -I-prioritize +P-medium T-compiler

[2022-07-13 10:00] 5225225 commented on #99179
Ahhh! Thank you!

So https://github.com/rust-lang/rust/blob/master/compiler/rustc_middle/src/ty/layout.rs#L3223-3226= is where noundef is given to params/return values with validity invariants. And yeah, we don't tell LLVM that anything is noundef if we have no opts on.

Maybe we should, but only if memory sanitizer is enabled? (or unconditionally?) Since it's giving msan information it needs. Not

[2022-07-13 10:09] Nemo157 commented on #60896
I would really like a non-getting variant of `get_or_insert_owned`, for cases like a `HashSet<PathBuf>` where you want to try inserting a `&Path` and detect whether it already exists

[code]

and if the alternative of a full `Entry` API is followed, then I think `Entry::insert` should return a `bool` for consistency with `HashSet::insert`.

[2022-07-13 10:17] steffahn commented on #99035
This is not actually a regression, right? It's undesired behavior in a new feature.

I don't fully understand how this is sufficient reason for a beta backport of - essentially - changes to the feature; IMO the proper approach would be to revert stabilization of `$$` entirely and apply the desired changes on nightly for release in no-earlier-than 1.64 (even if those changes are only to *restrict*

[2022-07-13 10:56] apiraino commented on #99073
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399122.20ICE.20after.20cast.20to.20.60*const.20_.60)).

@rustbot label -I-prioritize +P-critical

[2022-07-13 11:10] shepmaster commented on #60896
@Nemo157  i think that’s the usual use case for https://doc.rust-lang.org/std/collections/hash_map/struct.HashMap.html#method.raw_entry_mut ?

[2022-07-13 11:35] apiraino commented on #99122
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399122.20ICE.20after.20cast.20to.20.60*const.20_.60)).

@rustbot label -I-prioritize +P-medium

[2022-07-13 11:41] Mark-Simulacrum commented on #99035
FWIW, I tend to agree that the preferred approach would be to back out the stabilization on beta; we can separately land #99193 for future versions (1.64+).

[2022-07-13 11:41] psumbera opened #99208 "1.62.0 build on Solaris fails with - error: `-Csplit-debuginfo` is unstable on this platfor"
While building Rust 1.62.0 on Solaris SPARC it fails with:

[code]

[2022-07-13 12:58] Mark-Simulacrum commented on #99116
@craterbot run name=beta-1.63-2 start=1.62.0 end=beta-2022-07-10 mode=build-and-test cap-lints=warn p=1 crates=https://crater-reports.s3.amazonaws.com/beta-1.63-1/retry-error-and-regressed.txt

[2022-07-13 13:42] jyn514 commented on #97339
@the8472 had a really great idea: we can also use this to determine what tests to run this in PR CI, so you can get feedback faster without waiting for the PR to be approved.

[2022-07-13 13:58] #96189 closed

[2022-07-13 13:58] #74713 closed

[2022-07-13 14:00] ehuss commented on #99208
Looks like this was caused by #95612 (cc @davidtwco).  It looks like that also caused issues with openbsd (#96597), I'm wondering if it would make sense to audit which platforms were affected to make sure they are all addressed?

Passing `-Zunstable-options` seems like a somewhat blunt solution. I would expect it to not pass `-Csplit-debuginfo` if the target does not support it and the user did no

[2022-07-13 14:14] est31 commented on #98672
@dingxiangfei2009 good point. What's important is that both the let-else and let-else free version are doing the same thing. Maybe one can add an additional block around the `let _x = ... assert_eq!(...);` and then add a second `assert_eq` to ensure it dropped after the block terminated?

Also note that when I wrote that test I didn't know about compiletest storing/checking the stdout of run-pass

[2022-07-13 14:15] leddoo opened #99211 "fn where clause "constrains trait impls" or something"
the code below should be pretty self-explanatory.
anyway, here's the run down:
- make a trait to extend the simd types (this should happen for any equivalently defined types, though i haven't tested that).
- implement the trait for all f32 simd types.
- define a generic function with the same trait bound as the extension trait.
- the trait impl is now constrained to the function's generic paramete

[2022-07-13 14:15] fee1-dead commented on #78586
This is probably not complete; we need to track it becoming a hard error in the future.

[2022-07-13 15:10] pierwill commented on #99021
https://github.com/rust-lang/rust/pull/99025#issuecomment-1183347428

[2022-07-13 15:10] #99021 closed

[2022-07-13 15:25] apiraino commented on #99208
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399208.201.2E62.2E0.20build.20on.20Solaris.20fails.20with.20-.20error.3A.20.60-Csplit.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-07-13 16:09] lyming2007 commented on #98062
I'm wondering why    `impl TryFrom<()> for S` in line 10 is conflicting with this implementation:
[code]
but if I don't implemen`t impl From<()> for S {`, the conflict gone ?

[2022-07-13 16:47] est31 commented on #98672
It might also be an idea to add a test for the inconsistency between if and if let: https://hackmd.io/@nikomatsakis/r1CpZqc8c#Side-note (no matter which side of the divide let else is on, make sure that there is no breakage of it in the future)

[2022-07-13 16:56] OhseyDev opened #99215 "Recursion in impls can result in stack overflow"
Hi Rust developers!
I have been working on a project and I accidentally found a bug.
I tried this code:

[code]
At first, I dereferenced self which, I realised could be problematic but thought that the Rust compiler would tell me off:
[code]

I expected to see this happen: to run the test successfully

Instead, this happened: program crashed due to a 'memory error'

`rustc --version --verbose`:
[c

[2022-07-13 16:57] lyming2007 commented on #98062
now I figured it out. It's because the implementation of `From<T> for U `it auto implements `Into<U> for T` and therefore it auto implements `TryFrom<T> for U`. So to fix this(emit the implementation of trait From) is to find out the automatic implementations trigged by the  the implementation of `From<T> for U ` which seems hard

[2022-07-13 17:01] cuviper commented on #98890
#98959 was backported to 1.63.0-beta in #99098 -- ready to close?

[2022-07-13 17:05] teenu4 commented on #25289
`apt-get install libpq-dev -y`resolved the issue for me (ubuntu)

[2022-07-13 17:08] joshtriplett commented on #69664
In https://github.com/rust-lang/rust/issues/40180 we mentioned wanting a (single) RFC for target-specific interrupt calling conventions; you may want to coordinate with that work in progress.

[2022-07-13 17:09] iliana commented on #98890
Is this worth a stable backport? The experience of developing async code with this issue isn’t great.

[2022-07-13 17:21] joshtriplett commented on #69835
We reviewed this in today's @rust-lang/lang meeting.

It seems like these fit into the general story of pointee metadata, and we should consider them together with that. They may potentially want to make use of that metadata rather than operating directly on the pointers.

[2022-07-13 17:27] CAD97 commented on #69835
cc also https://github.com/rust-lang/lang-team/pull/166 which includes an argument that it may make sense to restrict custom pointee layout to be calculable from the pointer metadata and not allow it to be address/pointee-sensitive.

[2022-07-13 17:37] bugadani commented on #99215
(Hi! I'm not a dev, just chiming in from the sidelines)

I've not been able to reproduce your issue. In particular:
 - `ExampleEnum` does not implement `PartialEq` so your example snippet doesn't compile.
 - Fixing the first issue, your example compiled and ran just fine.

Please provide a complete example that can be pasted to https://rust.godbolt.org/ directly and reproduces your issue. Also, pl

[2022-07-13 17:51] joshtriplett commented on #74727
ping @pnkfelix

[2022-07-13 18:07] scottmcm commented on #73358
We took at look at this in lang backlog bonanza today.  It appears that this was never implemented and never had an RFC, so we're going to close it (and #73557) as not existing.  As a language feature request, if anyone is interested in making a change related to this, you probably want the https://lang-team.rust-lang.org/how_to/propose.html before making any code changes.

[2022-07-13 18:07] #73557 closed

[2022-07-13 18:07] #73358 closed

[2022-07-13 18:10] joshtriplett commented on #93050
@rfcbot resolved ref
@rfcbot concern should-take-self-by-value

[2022-07-13 18:33] RalfJung commented on #91009
This is very strange. There is only one place in promotion where we treat a `const` different from regular functions:

https://github.com/rust-lang/rust/blob/c9dd1d9983b9a08159c2e3c86071d1a5ef7ebb20/compiler/rustc_const_eval/src/transform/promote_consts.rs#L637

and the only difference is whether we check for the presence of the `#[rustc_promotable]` attribute on a function before promoting it. Bu

[2022-07-13 19:07] joboet commented on #92958
@rustbot claim

[2022-07-13 19:16] fasterthanlime commented on #99188
I don't really know for sure when I'll be available for sync chat in the next couple weeks but I did just post a full write-up about looking for that bug, that does include some tracing work, in case that's helpful: https://fasterthanli.me/articles/when-rustc-explodes

Happy to share any of the materials I've collected there anywhere that's helpful.

[2022-07-13 19:38] zancas opened #99218 "cargo doc unexpectedly error'd out"
I run `cargo build`, and `cargo test --workspace` without surprising behavior against this commit:

https://github.com/zingolabs/zingolib/pull/43/commits/16f751b25f9740ab73a9e9c176074643bc31ac4a

When I run `cargo doc` I get the following error:

[code]
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

[code]

[2022-07-13 19:40] ohseyolivia commented on #99215
Right I know what happened. It still compiled but it was unsafe code that Rust didn't pick up.

I had a PartialEq implementation on ExampleEnum that then depended on the "dull" function.

[2022-07-13 19:44] ohseyolivia commented on #99215
Am I expecting too much of the Rust compiler to spot that kind of memory vulnerability?

[2022-07-13 19:54] #99071 closed

[2022-07-13 19:54] #87341 closed

[2022-07-13 19:54] #98917 closed

[2022-07-13 20:50] ohseyolivia commented on #99215
No no 'unsafe' block of code existed. It was safe rust.

[2022-07-13 20:51] bugadani commented on #99215
I'm not sure I understand your problem at this point. Would you provide a complete example that crashes on https://rust.godbolt.org/ please?

[2022-07-13 21:13] 5225225 commented on #99215
Keep in mind stack overflows probably look like a segfault, but are doable in safe code.

[2022-07-13 21:38] 5225225 opened #99220 "Recursive PartialEq implementation not detected"
Given the following code:  https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ed9fb2f62239c9485d43d48e3e0d419b

[code]

The current output is:

[code]
(no warnings)

Ideally the output should look like:

[code]

Note how we *do* warn about this if you do `self.eq(rhs)`. So I guess it's a matter of treating `==` as `.eq` for the purposes of recursion checking? Not sure.

Happe

[2022-07-13 21:56] eddyb commented on #99188
I was looking into why we get all that messy output, and it turns out that `Predicate` (which includes a `Binder<PredicateKind>`) and `Binder<{Trait,Projection,...}Predicate>` all implement `fmt::Display`.

So really, the problem is all in `Obligation<O>`, not the `O` it contains: https://github.com/rust-lang/rust/blob/c80dde43f992f3eb419899a34551b84c6301f8e8/compiler/rustc_infer/src/traits/struct

[2022-07-13 22:08] eddyb commented on #99188
I would expect those to be created in the leaves, by the uncached calls.

If you look [further down](https://fasterthanli.me/articles/when-rustc-explodes#self-profiling-deeper-with-jq), there's a list of `evaluate_predicate_recursively` inputs and their multiplicity, of which these are the last dozen lines (i.e. the most frequently duplicated ones):
[code]

My rough understanding is that if `evalu

[2022-07-13 22:12] tmiasko commented on #99220
See also https://github.com/rust-lang/rust/issues/57299#issuecomment-451111538 and #57965.

[2022-07-13 22:26] celinval opened #99221 "rustdoc: `cargo +nightly doc` panics when documenting a library that re-export std"
I tried to create a minimum example from an issue we've seen in our project (https://github.com/model-checking/kani). I tried running:

[code]

On the following crate:

[code]
`src/lib.rs`:
[code]

I expected to see this happen: *The command should succeed.*

Instead, this happened: *It crashed with an ICE*

### Meta

`rustc +nightly --version --verbose`:
[code]

<details><summary>Backtrace</summa

[2022-07-13 22:29] celinval commented on #99221
This issue may be related to #98032, however I can only reproduce it on the nightly build. On the stable channel, rustdoc succeeds.

[code]

[code]

[2022-07-13 22:47] 5225225 commented on #99220
Ah, couldn't find those.

That being said, I think a special case for this body in particular might be worthwhile for as long as we don't have a more general solution, since I've seen people do it more than a few times.

[2022-07-13 23:28] JkJ076 commented on #88903
When trying to run cargo fix on TrueNAS Core 13.0 via shell in the .cargo directory, I only get the response: error: could not find "Cargo.toml" in "root/.cargo" or any parent directory.

Trying to go deeper in the tree: cd bin
Still the same response.

Hope someone can help me...

[2022-07-13 23:30] alercah commented on #60405
Doesn't writing `MaybeUninit::uninit()` still write undef and not poison? Unless I'm quite mistaken, in [this playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=792d7fe81a846b47bfa4e32684da742d), it's `undef` and not `poison` that gets passed to `write_to_float`. And since undef *is* tracked bitwise, this all works out doesn't it?

Of course, if LLVM does [change

[2022-07-13 23:40] estebank commented on #84837
These labels are given with `rustc_on_unimplemented` annotations on the `Iterator` trait, so adding more conditions to them is relatively straightforward.

[2022-07-13 23:41] saethlin commented on #92958
@joboet I just implemented a version of this and went to claim it, you beat me to claim by a few hours.

I'm very interested to see what you come up with. Might even be worth taking a crack at this before looking at what I've done, I resorted to more `unsafe` than I would prefer.

Here's my attempt: https://github.com/rust-lang/rust/commit/eb536581529ac5bdc4b8d3a8f6143fb1701271ed

[2022-07-13 23:47] RalfJung commented on #99215
@ohseyolivia

We need the full source code so we can see what actually happens. :)
Ideally reduced to a form where it's all in a single file. But people here can help with that.

@5225225 on most platforms we should a nice error on stack overflow. [For example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1b43a9bbc22f7ebf3399b95292fa6357):
[code]

[2022-07-14 00:01] RalfJung commented on #94428
Cc https://github.com/llvm/llvm-project/issues/52930

[2022-07-14 00:03] RalfJung commented on #60405
Indeed, this was written assuming LLVM would switch to `poison` eventually.

Cc https://github.com/rust-lang/rust/issues/94428

[2022-07-14 00:24] leijurv commented on #99188
Related to #20304?

[2022-07-14 00:46] saethlin commented on #86313
@rustbot claim

[2022-07-14 00:48] cryptoquick commented on #94047
First of all, thank you for this, I needed that snippet. Also, if this ever gets merged, it'd be nice to have a clippy lint so I don't have to remember to remove where I've copied and pasted that snippet all over my codebase. :3

[2022-07-14 00:53] fprasx commented on #98861
Hi, I've been looking into this and I can't find an actual implementation of the `Write` trait. All I can find is implementations for types that contain a `dyn Write` already. Seems kinda like a chicken and egg problem, I can only find impl's when the trait has already been implemented. I looked at [`mod.rs` for `core::fmt`](https://doc.rust-lang.org/src/core/fmt/mod.rs.html#163), and all the impl

[2022-07-14 01:15] fasterthanlime commented on #99188
I applied this suggestion and this made the `tracing-tree` output more readable.

I generated outputs for levels 1 through 4 with commands like:

[code]

The depth 4 output is 25MB so it wouldn't upload on GitHub Gist.

  * [📝 Depth 1 (154KB)](https://gist.githubusercontent.com/fasterthanlime/4b19e6fd650134a8fef899bc843fc88a/raw/ce34697201a1ac68b38ca67d65d71baf2a8c8e5b/depth1.txt)
  * [📝 Depth 2 (

[2022-07-14 01:56] dertin commented on #73307
I have the same problem I use an HashMap<&'static str, MyEnum>
Is there any news about the cause and how to avoid it?
Thanks!

[2022-07-14 02:22] #55149 closed

[2022-07-14 02:23] rust-highfive opened #99224 "`miri` no longer builds after rust-lang/rust#97995"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#97995, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-07-14 02:41] joshtriplett commented on #87335
It looks like https://github.com/rust-lang/rust/issues/98672 has now been fixed. Is that the last blocker here? Should we r+ the stabilization PR and the documentation PR at this point, or does more need to happen before that?

[2022-07-14 04:45] JakobDegen commented on #98896
So slightly generalizing this, I'm interpreting this as "I want to lower MIR to an IR which does not support these semantics" - this seems like a good reason to me. LLVM is not the only IR that MIR needs to be lowered to, SMIR, gcc, etc. are also there, and this might make sense for that reason.

That being said, this is still not enough for the desired conclusion from the title that there is a do

[2022-07-14 05:07] #98476 closed

[2022-07-14 05:07] #98477 closed

[2022-07-14 05:30] matthiaskrgr opened #99228 "ICE: broken mir with let-else, -Zvalidate-mir"
### Code
`./src/test/ui/let-else/let-else-source-expr-nomove-pass.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/let-else/let-else-source-expr-nomove-pass.rs -Zvalidate-mir`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-14 05:31] matthiaskrgr commented on #99228
probably related to https://github.com/rust-lang/rust/pull/98574

[2022-07-14 06:36] WaffleLapkin commented on #99108
"The problem" with making rhs `usize` is that all atomic intrinsics are currently defined as `*mut T -> T -> T`, for example:
https://github.com/rust-lang/rust/blob/8a392a5992fda3f041726fc85e42569497dfd753/library/core/src/intrinsics.rs#L111

Making the second argument of a different type will probably require compiler changes.

[2022-07-14 07:21] ouz-a commented on #99228
@rustbot claim

[2022-07-14 07:48] est31 commented on #87335
There is this comment by @pnkfelix where he asks for more tests: https://github.com/rust-lang/rust/pull/93628#issuecomment-1055738523

#98574 has added a bunch of tests but only one that tests for the drop order. The test case it added can be expanded. It should be easy to make a PR for it. I want to do so in the coming days.

Outside of that I don't know of any blockers.

[2022-07-14 07:58] stephanemagnenat commented on #69821
I have a use case (currently I ended up using the `strum` and `num_traits` packages). I have a block-based visual programming language (see https://cand.li for a screenshot). Each block has possibly parameters (e.g. speed vector), and all blocks together are joined in a union. Sometimes, we want configurations where only a subset of blocks can be used (e.g. simple mode). It would be convenient to

[2022-07-14 08:05] inquisitivecrystal commented on #84056
Now that the [prerequisite work](https://github.com/BurntSushi/ucd-generate/pull/46) is done, nominating for T-libs-api consideration.

Problem statement: `is_numeric` checks the general category of a character to determine whether it is numeric. This behavior is guaranteed by its documentation. Unfortunately, this does not work for Han characters, where it is necessary to either check the Unihan

[2022-07-14 09:08] ChrisJefferson commented on #92958
@saethlin : Have you benchmarked your code? How much (if at all) faster is it?

[2022-07-14 09:17] Urhengulas commented on #98062
That's what I think as well... 🤔

But maybe there is a less optimal solution which is still better than the current one?

[2022-07-14 09:26] Amanieu commented on #48594
I used this feature in my code for a loop which needs to check some complex conditions for a special case, and otherwise fall back to a normal case:

[code]

[2022-07-14 09:52] ohseyolivia commented on #99215
Okay then it's probably that. Is that not intended for the Rust compiler to identify?

[2022-07-14 10:07] 5225225 commented on #99215
Well, it might not be a stack overflow, it would be best to show the full code if possible, including the PartialEq implementation too so we can check for sure what it is. Even if it is a stack overflow, then knowing *how* it was caused helps write better diagnostics to warn against it.

And rust does try to detect easy cases of infinite recursion, but it can be trickier in more complex cases.

Fo

[2022-07-14 10:34] SillyFreak commented on #99076
this has an interesting interaction with `cargo clippy --fix` though: clippy will rename the unused variables (and remove the `mut`), recognize that the code is now broken, and abort the fix.

with `--broken-code`, this is the result:

[code]

For the sake of tool support like this, I think it would make sense to treat these differently: in one case, fixing the unused variable results in correct c

[2022-07-14 10:37] 5225225 commented on #99076
Ah, that's a good point. An unused variable should be renamed automatically (MachineApplicable fix), but one whose only uses are *unreachable* cannot.

So splitting the two up into 2 different lints makes sense.

[2022-07-14 10:50] afonso360 opened #99233 "ICE: Failed to extract DefId: local_def_id_to_hir_id"
Hey, I hit this ICE while working on cranelift and I don't really know how to minimize it. Its a huge project.

 This seems to be related (possibly a dup) of #97143.

### Code

Since it may be incremental compilation (see #97143) related I have two branches, one before the ICE and one that triggers the ICE.

Here's the example code before the crash

https://github.com/afonso360/wasmtime/tree/rustc

[2022-07-14 11:00] rust-highfive opened #99234 "`rls` no longer builds after rust-lang/rust#98975"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#98975, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @jyn514, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-07-14 11:24] ohseyolivia commented on #99215
I understand the difficulties with detecting complex instances of recursion bugs. I have the repository on my profile but I tweaked the code to avoid the problem. I can fork it and then recreate the problem.

[2022-07-14 11:29] ohseyolivia commented on #99215
https://github.com/ohseyolivia/reblar/tree/rustcbug for the exact case

[2022-07-14 11:45] ohseyolivia commented on #99215
Oh also, the relevant file that includes the PartialEq implementation is in src/lex.rs

[2022-07-14 11:54] davidv1992 commented on #86442
I would like to propose that we stabilize these. Based on the feedback above, these are very useful to have in stable, and there seem to be no real risks. Concretely, this would mean marking the following as stable:
- `io::ErrorKind::HostUnreachable`
- `io::ErrorKind::NetworkUnreachable`
- `io::ErrorKind::NetworkDown`
- `io::ErrorKind::NotADirectory`
- `io::ErrorKind::IsADirectory`
- `io::ErrorKin

[2022-07-14 11:57] RalfJung commented on #99108
Indeed, and I think those compiler changes should be made. :)

[2022-07-14 12:08] dertin commented on #73307
[code]

[2022-07-14 12:14] ohseyolivia commented on #99215
Apologies for not being super clear. I am new to working collaboratively in regards to technical subjects so I have been anxious. Thank you all for being patient!

[2022-07-14 12:18] jyn514 commented on #99234
Yes, I think I'll have time to fix this today.

[2022-07-14 12:27] jyn514 commented on #97331
The last two issues have both been fixed :) and the first has been mitigated (it doesn't have the same error as it used to, but the new error is much more readable).
Let me know if there's any way I can help with the must_not_suspend lint.

[2022-07-14 12:39] jyn514 commented on #99224
I think https://github.com/rust-lang/rust/pull/98975 also broke this. Not sure why highfive didn't notice. Happy to make a PR fixing it :)

[2022-07-14 12:50] ohseyolivia commented on #99215
Should I close this issue now?

[2022-07-14 12:51] RalfJung commented on #99224
Miri was already in test-fail, so it didn't open a new issue for build-fail. Working as intended :)

[2022-07-14 12:51] camsteffen commented on #98672
The above test for "drop before else block" failed on master. Reopening.

[2022-07-14 12:55] BurntSushi commented on #84056
cc @Manishearth @SimonSapin do either of you have an opinion on this? Are there other folks we should CC?

One question I have is whether Unicode specifically has a recommendation for these sorts of APIs. I'm not aware of any.

It might also make sense to do a survey of how other standard libraries implement "is numeric" predicates.

[2022-07-14 13:01] camsteffen commented on #87335
Looks like it still does not drop before the `else` block so I reopened #98672. And also I think there needs to be a formal decision on *whether* temps should drop before the `else` block.

[2022-07-14 13:09] jyn514 commented on #98720
Found the issue. I broke this when I added `--all-targets` in https://github.com/rust-lang/rust/pull/88094. Not exactly sure why it's breaking, but it seems fine to me to only run `--all-targets` in stage 0.

Mentoring instructions: change https://github.com/rust-lang/rust/blob/601c5a2087b5c8acd8491c190e99715e91d020d8/src/bootstrap/check.rs#L143 to only run in stage 0.

[2022-07-14 13:15] jyn514 commented on #98720
The way it works is by building all of libstd before building the compiler: https://github.com/rust-lang/rust/blob/601c5a2087b5c8acd8491c190e99715e91d020d8/src/bootstrap/check.rs#L195-L202
That works fine and makes it ok not to call `add_to_sysroot` in check, but the same step is missing before checking tests and examples. That would be an alternate fix; call `builder.ensure(compile::Std)` before

[2022-07-14 13:22] mara-schulke opened #99238 "Unexpected compiler panic after restart"
While compiling my system was shutdown due to mussing power, after rebooting the compiler kept crashing

I tried this code: confidential, sadly

I expected to see this happen: the compiler shouldnt panic

Instead, this happened: .. the compiler paniced :D

### Meta
`rustc --version --verbose`:

rust:1.62-alpine docker container with volumes to the working dir (inkl. target)

[code]

[code]

</p>
<

[2022-07-14 13:23] jyn514 commented on #98720
Hmm, I wonder if we should start using `--extern noprelude:core` in bootstrap to avoid all these sysroot shenanigans. It would make the code a lot simpler I think, and avoid having to compile things twice.

[2022-07-14 13:32] fmease opened #99240 "Diagnostic misclassifies a complex expression as a unit enum variant when flagging an attempt to call a non-function"
Given the following code:

[code]

The current output is:

[code]

* It classifies the complex expression `(it.0.take())` as a (unit) enum variant in both the message and the note which is obviously incorrect.
* It does not mention anywhere that the expression is of type `Option<_>` which would've been really helpful. Looking at the current output, it's really hard to see why the expression is not

[2022-07-14 13:55] vakaras commented on #98896
Yes, exactly.

For Prusti, dead code is not a problem (as long as it is provably dead) because unreachable code is not analyzed. Whether it would be a problem for other compiler consumers, I do not know and would be open to discuss this.

Thanks! [I just did that](https://github.com/rust-lang/rust/pull/99239).

[2022-07-14 13:55] RalfJung commented on #99224
https://github.com/rust-lang/miri/pull/2372 fixes this :)

[2022-07-14 14:17] Havvy commented on #98861
The [implementors](https://doc.rust-lang.org/std/fmt/trait.Write.html#implementors) section shows that `String` and `Formatter<'_>` implement the trait. Neither implementation returns the error directly though.

[2022-07-14 14:19] ChrisDenton commented on #84056
For background information, see Chapter 4 of the [Unicode standard](https://www.unicode.org/versions/Unicode14.0.0/ch04.pdf). Specifically 4.5 and 4.6.

Basically there are two relevant things here. Each code point in the Unicode database belongs to a General Category. They can only belong to one category. From the standard (Chapter 4.5):

Code points also have properties. Specifically the `Numeri

[2022-07-14 14:20] eddyb commented on #99188
Single associated type example:
[code]

[code]

| Depth | Time | Relative time |
|-|-:|-:|
| `X * 1` | 0.24s | 1.00x |
| `X * 2` | 1.02s | 4.25x = 2<sup>2.08</sup>x |
| `X * 3` | 2.83s | 11.79x = 3<sup>2.25</sup>x |
| `X * 4` | 6.48s | 27.00x = 4<sup>2.38</sup>x |

So not only is it *at least* quadratic, but other effects accumulate and it could plausibly reach cubic (though it may take minutes/ho

[2022-07-14 14:22] ouz-a commented on #99228
@rustbot release-assignment

I don't think I know the _correct_ way to fix this. Final MIR after optimizations looks right, as reported in error something is wrong with the way mir body is built.
I managed to reduce the code a little bit.
[code]

[2022-07-14 14:44] oli-obk commented on #91009
I did remove the explicit difference where storage markers were often not generated at all.

What we still have is the fact that `construct_const` differs from `construct_fn` in that we don't wrap the const's body in a scope, but I don't see how that would affect anything, considering that manually putting it into a smaller scope inside the constant (by putting it into a shorter lived block), does

[2022-07-14 14:54] aliemjay opened #99245 "[NLL] loss of span for type outlives errors in closures/async blocks"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=aaf294b9353da9ea4ef76206ed0c0a76

[code]

The current output is:

[code]

Ideally the output should look similar to when constraint is generated in the main fn body:

[code]

@rustbot label A-NLL NLL-diagnostics D-terse regression-from-stable-to-beta

[2022-07-14 15:05] RalfJung commented on #61015
Oh, I see -- then I guess I misunderstood. The original issue description says

That sounded to me like a semantics-changing assumption, not an optimization backed by an analysis which ensures that it does not change program behavior.

Are the semantics of `borrowed_locals` described somewhere? Is *any* local that ever had `&` (or `addr_of!`) applied to it (or any part of it) considered "borrowed"

[2022-07-14 15:08] RalfJung commented on #61015
Looking at the analysis, it actually takes this into account. :)

https://github.com/rust-lang/rust/blob/1517f5de01c445b5124b30f02257b02b4c5ef3b2/compiler/rustc_mir_dataflow/src/impls/borrowed_locals.rs#L113-L123

but then, all locals that are dropped are also borrowed, which means that a `Drop` can never signal that storage is not needed again, which seems to contradict the original issue descrip

[2022-07-14 15:12] Xanewok commented on #99234
I pushed the latest update at https://github.com/rust-lang/rls/commit/ac4648b6514ed74a929ab5d137c83b5cb6507f38. @jyn514 is the failure above from the `x.py test` build here or in the RLS repo?

Rustfmt should be vendored here and should work as expected IIUC.

[2022-07-14 15:19] tmiasko commented on #61015
The implementation described in the original comment was reverted in #61373 and replaced with emission of storage markers.

[2022-07-14 15:19] 5225225 commented on #98780
Rust doesn't have typed memory, types only have effect on accesses, so if some memory *can* be interpreted as some type T and it's valid at that type, it's a properly initialized value of type T. Nothing remembers the "original type" of some data.

Just like how you can cast a `*const u32` to a `*const i32` and use them interchangeably. This is a safe operation if you use `bytemuck`, too.

[2022-07-14 15:19] fmease commented on #99240
This check is too lax: https://github.com/rust-lang/rust/blob/f1a8854f9be2e5cad764d630a53d26c7b72f8162/compiler/rustc_typeck/src/check/callee.rs#L396-L398

[2022-07-14 15:26] tmiasko commented on #91009
The reason I described the issue as applying to const / static initializers, is that there are no existing `rustc_promotable` functions to demonstrate the problem. With custom `rustc_promotable` functions it is possible. Sorry if the title was misleading.

To be effective `rustc_promotable` also needs stability attributes.The attribute also need to be applied to all functions in the promoted code,

[2022-07-14 15:38] Aegrithas opened #99247 "Unintuitive behavior with inferred lifetimes for closures"
I'm not sure this is a bug at all, but it's an unintuitive behavior, and I couldn't find any other issues about it, so I figured I would bring it to attention. I have a trait like so:
[code]
And a macro to generate `impl`s up to a certain arity, like so:
[code]
(For an example of how this kind of "custom Fn" trait can be useful, see [bevy's systems](https://docs.rs/bevy/latest/bevy/prelude/struct.

[2022-07-14 16:05] alienself commented on #60231
@nomeata @osa1 or anyone on this thread:
- how do I transform the liblib.rlib into a wasm file?
- how can I load the compiled shared library from another wasm file and bind those two using javascript?

[2022-07-14 16:41] kjetilkjeka opened #99248 "NVPTX: Debug section symbol naming in .ptx output"
When the panic machinery is used in a `ptx-kernel` it generates a symbol in the debug section that is generated in a different way than the symbol it refers to.

Today when compiling to ptx (`--target nvptx64-nvidia-cuda`) all debug info is stripped by ptx-linker [here](https://github.com/denzp/rust-ptx-linker/blob/master/src/linker.rs#L167). This decision predates debug info support on nvptx in l

[2022-07-14 16:43] kjetilkjeka commented on #99248
@rustbot label +O-NVPTX

[2022-07-14 16:44] RDambrosio016 commented on #99248
Not sure if relevant, but libnvvm broke if there were multiple DICompileUnits or something, i had to use rustc's patch thin lto function to get it to work https://github.com/Rust-GPU/Rust-CUDA/blob/master/crates/rustc_codegen_nvvm/src/nvvm.rs#L167

[2022-07-14 16:44] rob9315 opened #99250 "Unintuitive error when recursing with generic Fn closure borrow"
i understand why this error happens, it might just be nice to have some sort of system to detect
when this kind of recursion is happening and try to prevent it or at least hint at what the error
could be better.

Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1974b5d37cb10e1214937db3c0e779dc

The current output is:

[code]
`/playground/target/deb

[2022-07-14 16:46] eddyb commented on #99143
Btw as per https://github.com/rust-lang/rust/pull/98350#discussion_r919321117 a quick fix would be to make the (unconditional after #98350) `LLVMRustAddModuleFlag` call for `Dwarf Version` be conditional on `!is_like_msvc` (basically the opposite of the `Code View` one).

This should be perfectly backwards compatible as all MSVC targets had `None` in their target spec, for the DWARF version, befor

[2022-07-14 17:40] Manishearth commented on #84056
Précis: I don't think we should change the existing API, and I don't consider the existing API a "bug" beyond perhaps a less ambiguous choice of naming having been possible. I'm open to adding a new one to choose between. I do not think deprecation is the right way unless we are adding _two_ functions.

## Prelude: Unicode

Okay, so the main thing about _text_ is that handling text cross-language

[2022-07-14 17:50] lqd commented on #99143
I have access to a windows machine and can do that, but I wonder about the debuginfo sizes:

[code]

`stage1` is my local build of your suggestion. I wonder if #98350 impacted differently the stdlib debuginfo: the pdb would be half the size it was before the PR landed, on `nightly-2022-07-08` or stable.

I can open the PR if it unblocks clippy and possibly others. We could also revert #98350 if we

[2022-07-14 17:57] BurntSushi commented on #84056
Thanks @Manishearth. Probably the best and fastest response to a ping than I could ever hope for haha. What you say about focusing on actual use cases is exactly what I was hoping to see. :)

Given everything you said, I'm inclined to agree here. And absolutely in favor of better docs (perhaps even including some portion of your comment) giving folks more info to decide with.

Aye yeah I'd potenti

[2022-07-14 17:58] Manishearth commented on #84056
Yeah I think the way to go about it is to ask around for a use case and _then_ design such a function with a name appropriate for the use case.

[2022-07-14 18:03] eddyb commented on #99143
Since you're doing a local build, that will be highly impacted by `debuginfo-level-std` AFAICT.

https://github.com/rust-lang/rust/blob/24699bcbadff59693a89a5184afed87f6416cdea/src/ci/run.sh#L72-L75

Okay yeah looks like dist builds always set `debuginfo-level-std=1`.

[2022-07-14 18:16] eggyal commented on #84056
I wonder whether stdlib should simply provide a more generic method for querying Unicode properties, through which users can establish for themselves whether `Numeric_Type = Numeric` (or whether a given `char` has any other interesting Unicode property) instead of trying to capture every possible nuance of use cases in its API?  Certainly this delegates understanding/applying Unicode properties to

[2022-07-14 18:20] Manishearth commented on #84056
I'd rather that exist in separate crates; wanting to query Unicode properties is a pretty niche thing.

To some extent, even these methods are kinda niche and Rust has them because people _expect_ them, not because they are necessarily the _only_ way such methods would make sense.

[2022-07-14 18:28] lqd commented on #99143
Indeed, forcing this setting as @eddyb mentions, *and* doing the same build as https://github.com/rust-lang/rust/issues/99143#issuecomment-1181797800 instead of a debug build, it's looking good now.

I'll open a PR.

[2022-07-14 18:33] Alexhuszagh commented on #50890
This still doesn't solve the original issue, however: `mips64-unknown-linux-gnuabi64` and other targets are supposed to support soft-float, and the actual target has different specs:

For `mips64-unknown-linux-muslabi64`:

[code]

And for `mips64-unknown-linux-gnuabi64`:

[code]

It's great there's a new target that supports soft-float, but the targets are supposed to be soft-float but the actual

[2022-07-14 19:03] #98466 closed

[2022-07-14 19:03] #99208 closed

[2022-07-14 19:03] #90531 closed

[2022-07-14 20:32] lqd commented on #99190
note: if the 2 generic lifetimes are named and you relate them, then this will compile, because having one outlive the other will offer a "least choice" and be picked.

This looks to me to be #630033 indeed, and will be fixed by https://github.com/rust-lang/rust/pull/89056. The tests there are virtually the same as the examples in the OP.

[2022-07-14 20:33] eddyb commented on #99143
Out of curiosity, I also checked the MinGW target (`-windows-gnu`) which *does* use DWARF:
<details>
<summary>(click to expand <code>llvm-dwarfdump</code> output for <code>-windows-gnu</code> <code>rustc.exe</code>/<code>rustc_driver-*.dll</code>)</summary>

[code]

</details>

So they were able to use untrucated section names - a quick check with a hex viewer confirms that it is the COFF format d

[2022-07-14 20:38] nagisa commented on #94864
I believe this is a duplicate of https://github.com/rust-lang/rust/issues/82519. `rustc` has no heuristics to select a target specific linker and today it is the responsibility of the invoker to set up the environment, the flags and their build system accordingly to point them at the appropriate tools, including the linker.

There are some people who think adding such heuristics is a good idea. I

[2022-07-14 20:38] #94864 closed

[2022-07-14 20:40] inquisitivecrystal commented on #84056
One major disadvantage of this is that anything we add to std is going to end up in our binaries. We're already going to Herculean efforts to take up as little space as possible for the information we do have. Adding the ability to query any property would increase binary size, but would likely not be used by most applications.

[2022-07-14 20:42] PerfumedLeftist opened #99254 "broken MIR in DefId"
Only other code I can think of is the part that invokes the function "generate_function()" but i dont thin that matters. I'm trying to have async functions in a struct, and trying to use a Pin<> in this way made it break

The purpose of this program is a Discord bot, which I'm trying to associate each Command (struct) with a function (async)
My deps are
[code]

### Code

[code]

### Meta

`rustc -

[2022-07-14 20:50] PerfumedLeftist commented on #99254
Tested on nightly, the compiler does not do an ICE, here is the output:
[code]

[2022-07-14 21:08] mkmostafa commented on #56167
FYI

https://internals.rust-lang.org/t/interface-improvements-for-btreemap/16957

https://internals.rust-lang.org/t/comparator-for-btree-map-set-s/17011

[2022-07-14 21:22] est31 commented on #93951
This compiles successfully as of `rustc 1.64.0-nightly (87588a2af 2022-07-13)`, which includes #98574. So I'd say it's fixed, but it needs a test before the issue can be closed. #94012 includes a test for this, but it's not merged and probably not going to be.

The other test in that PR also looks interesting.

[2022-07-14 21:22] Logarithmus opened #99255 "Omit suffixes (e. g. `1_i32`) in const generic compilation errors"
I'm working on a library for compile time dimensional analysis. It uses const generics. On unit mismatch I get errors like this:
[code]
As you can see, `rustc` includes this `_i32` type suffix into each const generic parameter. I think it's redundant & only makes compilation errors longer (which is important especially if you have complex combinations of units), because if you really want to learn

[2022-07-14 21:50] #99143 closed

[2022-07-14 22:09] apiraino commented on #99143
thanks for the ping @flip1995 I have re-read this issue and you're right, this is much more impacting than I (mistakenly) understood. Even if the issue should be now solved I'll bump up the prioritization for historical records to `P-critical` to signal that it must have not progressed in the release cycle.

@rustbot label P-critical -P-medium

[2022-07-14 22:13] RalfJung commented on #61015
Oh, okay. So... is this issue resolved then? What is still being tracked here?

Certainly the issue description is entirely outdated. It should be updated, or the issue closed.

[2022-07-14 22:39] mqudsi opened #99256 "Source of lifetime coercion is not reported starting in 1.63"
When the lifetime of a value is coerced to a longer one due to the use of an associated function or trait member and the previous lifetime used by other call sites is no longer sufficient, rustc no longer includes any mention of the coercion site (and includes a red herring that forces one to go chasing after the wrong goose). This makes it much, much harder to figure out why code is not working a

[2022-07-14 22:50] mqudsi commented on #99255
I would say this is fairly minor, but if they should be omitted then they should only be omitted if they match (i32 and i32).

[2022-07-14 22:52] sffc commented on #91345
I would like `Result::inspect_mut` because it would enable me to set a field in the `Ok` form of a result before returning it.

[2022-07-14 23:29] tmandry commented on #61015
Ah thanks @tmiasko, I thought I remembered changing course at one point but it was a long time ago.

Then I don't think there's anything left to track and I agree the issue should be closed.

[2022-07-14 23:29] #61015 closed

[2022-07-14 23:36] compiler-errors commented on #99255
So const generics always have a type, so they _should_ always match, I think.

[2022-07-15 00:05] mqudsi commented on #98404
@rustbot label +A-diagnostics

[2022-07-15 00:06] mqudsi commented on #98357
@rustbot label +T-compiler +A-LLVM

[2022-07-15 00:08] mqudsi commented on #88566
@rustbot label +T-compiler +A-LLVM

[2022-07-15 00:18] mqudsi commented on #52124
triage: this appears to have been fixed.

Code currently provides the following output with rustc 1.63.0-nightly:

[code]

The error remains E0142 and not E0603, but that's arguably correct since there could be another `Foo` somewhere (as it's not a strongly-path type). The suggestions include a hint that `Foo` is available as `foo::Foo` but isn't visible.

[2022-07-15 00:18] #52124 closed

[2022-07-15 00:19] thomcc commented on #88566
I think this is deliberate. If an instruction is unavailable, we can't inline it because various code motion transformations may move it outside a conditionally executed branch -- for example, we don't want `if is_x86_feature_enabled!("bmi2") { call_function_using_bmi2(); }` to end up with bmi2 instructions outside the branch, and can't really guarantee that that won't happen if these things are i

[2022-07-15 00:31] #96358 closed

[2022-07-15 00:44] mqudsi commented on #88566
That's a good consideration, but I wonder if it is a provable mitigation for the issue in question?

Presumably, you have

[code]

but that only guarantees that the specific `bzhi` instruction won't be inlined.  If you have a second function using this function (in lieu of a `bzhi` instruction directly), that doesn't stop the calling function, with its call to `_bzhi_u32()`, from being inlined its

[2022-07-15 01:40] inflation commented on #84056
To further complicate the situation, consider the character "幺" (U+5E7A). It has the Numeric property and listed in the DerivedNumericType.txt. But it is used not only as a digit for "one" when reading phone numbers to prevent ambiguity ("幺幺零" for 110, the emergency line),but also as a surname and an adjective for least ("幺妹" for youngest, "least aged", sister).

This ambiguity is inherent from th

[2022-07-15 02:00] compiler-errors commented on #98629
Hi @TaKO8Ki, are you working on this issue? I've been keeping tabs on this one for a bit and I decided to look into it since it's been a few weeks.

I think I may have found a bug in the way that we resolve `const` items and I would like to put up a PR, unless you've already found a solution. :smile_cat:

[2022-07-15 02:05] Cryptex-github opened #99261 "ICE: index out of bounds: the len is 1 but the index is 2' in format macro"
### Code
I don't know how this ICE happened, nor can I reproduce it on another machine. It only occurs in CI.

CI Output:
https://github.com/jay3332/Turbine/runs/7350777961

Repo:
https://github.com/jay3332/Turbine/tree/d77c84af2eb0dbd06825045ae0deb3ae18d98672

### Meta

`rustc --version --verbose`:
[code]

Seems to be originating from this line: https://github.com/rust-lang/rust/blob/1219f72f9049

[2022-07-15 02:23] dertin commented on #73307
Memory is released but I did it with little knowledge of memory management and this doesn't seem performant.

[code]
I am writing a microservice that uses HashMap with keys str static and I cannot let the memory increase with use incoming new requests to server, I would like to control it.

[2022-07-15 02:41] compiler-errors commented on #99261
Reproduces a bit easier by making a blank cargo project with all of the `time` crate's features enabled. I'll look into this!

[2022-07-15 03:22] gbraad commented on #84056
Everyday Chinese do not use these numbers to express prices. Only for formal use. Like a year. 二〇二二年. Which includes a different zero... Is this a numeral?

The problem is that then also 百 (100)，千(1000)，万(10000) and so on needs to be recognized

 Is 一百 (100)  and 十万 (100.000) numeric.

What if the financial numbers are used, what is called capitalized numbers 大写? This al introduces a lot more comp

[2022-07-15 03:23] NobodyXu opened #99262 "Tracking Issue for `io_error_downcast`"
Feature gate: `#![feature(io_error_downcast)]`

This is a tracking issue for new API `std::io::Error::downcast`.

Existing APIs requires two separate calls to obtain the raw os error or the inner error and they both return `Option`.

Thus, users would have to first call `Error::get_ref` to check that we indeed has an inner error and checked that it [`is`](https://doc.rust-lang.org/std/error/trait.