[2021-08-18 19:45] sollyucko commented on #57543
There could also be cases where it's useful to have an enum with the possible options.

[2021-08-18 19:49] thomcc commented on #57543
Yeah, it's complicated by the fact that the integer version has no reason to be deprecated, but perhaps this doesn't actually matter.

This is already roughly PartialCmp with zero, no?

[2021-08-18 19:51] sollyucko commented on #57543
Yeah, that's a good point. The only case this doesn't handle is if you need to distinguish between positive and negative zero.

[2021-08-18 21:07] dancrossnyc commented on #35119
Note: this doesn't address the question about Intel syntax for a long jmp, but if it's easier, `global_asm!` supports `options(att_syntax)` so that you can continue using AT&T syntax if you like.

[2021-08-18 21:14] mark-i-m commented on #32408
I was actually thinking about this the other day. I think this would allow creating custom calling conventions (e.g. for interrupt handlers or custom syscall handling or whatever or accepting args to a naked function), which is something I've wanted for a while...

[2021-08-18 21:56] FabianWolff commented on #88097
Interestingly, this compiles (note the semicolon):
[code]
@rustbot claim

[2021-08-18 22:05] piegamesde commented on #87015
I just ran into this too. Took me quite a while to figure out the root of the problem. Btw this also applies if the `Eq` bound is missing. Minimal example ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1ab2ed2a0214e037f27c5114c26b9723)):

[code]

[code]

Maybe we could add a few words about this into `E0599`?

[2021-08-18 22:24] ExpHP commented on #36887
This functionality isn't being removed because it *never existed* in the first place.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=88aab65540b9a215ae0c67c74312516c

[code]

The only change is that the compiler now rejects the code, rather than (misleadingly) accepting it.

[2021-08-18 22:26] ibraheemdev commented on #87015
Hm, that error is significantly worse.

[2021-08-18 22:35] Ericson2314 commented on #44663
@mpizenberg Thanks for that info! One thing I am slightly unclear on is how the "coherence" of public deps is maintained. I think you might need equality constraints, like `a->c = a->b->c` for the case where a has a public dep on b and c, and b also has a public dep on c.

[2021-08-18 23:05] io12 commented on #74384
I can still reproduce the bug with rustc 1.54.0 (a178d0322 2021-07-26).

[2021-08-18 23:43] Aaron1011 commented on #57374
@lqd: Now that https://github.com/rust-lang/rust/pull/86700, what still needs to be done here?

[2021-08-19 00:14] Amanieu commented on #35119
I think the syntax is `jmp far 0x8:start_high`.

[2021-08-19 00:27] taqtiqa-mark opened #88148 "BUG: failed to parse .ll file: Failure(("define internal fastcc void @_Z...."
I tried:

[code]

with this code:

[code]

I expected to see this happen:

- dot file generated
- log file empty of errors

Instead, this happened:

- dot file empty
- log file with this error

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

The backtrace was too large to paste (Firefox froze).  The gist is [here](https://gist.github.com/taqtiqa-mark/8c412

[2021-08-19 00:29] jyn514 commented on #87785
@shivanandvp so, I spoke a little too quickly before, rustdoc does in fact distinguish items with different visibility, you just have to click through to the item itself instead of the module where it's listed:
![image](https://user-images.githubusercontent.com/23638587/129989019-ce512243-b655-4902-a08c-240686511ef0.png)
![image](https://user-images.githubusercontent.com/23638587/129989027-a94f70c

[2021-08-19 01:38] roxelo commented on #88114
@arora-aman I think you may have more context on this one

[2021-08-19 01:39] roxelo commented on #88118
@arora-aman Let me know how I can provide assistance on this one

[2021-08-19 01:41] roxelo commented on #88103
@arora-aman don't think I have much context on this one either

[2021-08-19 01:45] roxelo commented on #88118
@rust-bot label +A-closures +A-edition-2021 +T-compiler +I-ICE

[2021-08-19 01:45] roxelo commented on #88118
@rustbot label +A-closures +A-edition-2021 +T-compiler +I-ICE

[2021-08-19 01:46] arora-aman commented on #88118
@rustbot claim

[2021-08-19 01:47] vinc17fr commented on #52897
IEEE 754-2008 is obsolete. You should follow IEEE 754-2019, where the poorly designed minNum and maxNum operations (as being [non-associative](https://grouper.ieee.org/groups/msc/ANSI_IEEE-Std-754-2019/background/minNum_maxNum_Removal_Demotion_v3.pdf)) have been replaced by other operations, which handle qNaN and sNaN in the same way (except for the signaled invalid operation exception in case of

[2021-08-19 01:47] roxelo commented on #87814
@rustbot label +A-edition-2021

[2021-08-19 02:36] 89z commented on #82595
https://github.com/rust-lang/rustup/issues/1858

[2021-08-19 02:39] ohsayan commented on #36887
Better put, it's something that would be a good thing to have.

[2021-08-19 02:44] joshlf opened #88150 "ICE while computing layout with uninhabited type"
### Code

[code]

([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4df6dfc6b1bc889beb7633856f7a15b1))

### Meta

Running on the Rust Playground using 1.54.0 stable. Verified that the bug exists in the current beta and stable releases as well.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-19 02:49] inquisitivecrystal commented on #87745
wg-prioritization got confused about this too, which is part of why we had so much trouble prioritizing this correctly. @nicholasbishop pointed out to us that the old behavior was intentional. It's actually part of the documentation for the flag:

[code]

[2021-08-19 02:53] ehuss commented on #88113
There seems to be two issues here.

###  Duplicate diagnostic causes extra brackets.

[code]

The above will trigger two warnings for `bare_trait_objects`.  I thought the lint system had some deduplication support, so I'm unsure why that is happening (I also thought rustfix had some sort of overlap protection as well).  When the fixes are applied, it results in `<<dyn fmt::Debug>>::fmt(self, f)` w

[2021-08-19 03:34] jsgf commented on #87745
No it's a regression. The original intended behavior is to remap diagnostic paths as well.

[2021-08-19 03:45] #87611 closed

[2021-08-19 04:05] Manishearth opened #88152 "rustc disagrees with emcc about WASM struct ABI in parameters"
I have the following Rust code, being compiled with `cargo +nightly build --target wasm32-unknown-unknown`

[code]

And the following C++ code, compiled with `emcc -std=c++17 test.cpp target/wasm32-unknown-unknown/debug/libem.a -ldl -lpthread -lm -g -o main.html --emrun -sWASM=1` (using the [emscripten sdk](https://emscripten.org/docs/getting_started/downloads.html))

[code]

I expected to see thi

[2021-08-19 04:32] gorilych commented on #85827
@matthew-mcallister similar issue with `while` is described in rust book in [chapter 20](https://doc.rust-lang.org/book/ch20-02-multithreaded.html). I don't understand why mutexguard is not dropped right after recv() in listing 20-21 (as it happens inside loop in listing 20-20).

Can you share result of this discussion you were planning to create? Thanks in advance.

[2021-08-19 04:32] Manishearth commented on #88152
This _might_ be because I'm building with `--target wasm32-unknown-unknown`, however under `wasm32-unknown-emscripten` I get a bunch of link errors so it seems like that's not well suited for this:

[code]

[2021-08-19 04:36] arora-aman commented on #88118
This seems like a similar problem as #87814. We end up at a point where we [fail](https://github.com/rust-lang/rust/blob/6aa9937a768bf13e5f7bd0ee6dd8579403b39058/compiler/rustc_typeck/src/expr_use_visitor.rs#L127) to determine type of a variable and end up returning early without possibly capturing.

[2021-08-19 04:53] matthew-mcallister commented on #85827
@gorilych I [posted a comment](https://internals.rust-lang.org/t/lifetime-in-match-if-let-and-while-let/14304/6) on an existing thread about the same issue, but it hasn't resulted in any further discussion, unfortunately.

I haven't learned any more about the implementation since posting that, but my guess is that the compiler casts a very broad net to handle the case where the variable bound in a

[2021-08-19 05:04] jyn514 commented on #88110
The problem is that `no_run` has two meanings:
1. "don't run the generated binary"
2. "don't run any tests at all"

You expect it to have the first meaning, but rustdoc uses the second, as if you'd added `no_run` to the test directly. I do think the first meaning makes more sense - looking at https://github.com/rust-lang/rust/pull/83857 it looks like that's what @ABouttefeux intended to and the co

[2021-08-19 05:48] jyn514 commented on #88110
Mentoring instructions: https://github.com/rust-lang/rust/blob/6d300391ede6de79469670957b508072d132a2a0/src/librustdoc/doctest.rs#L969 is never being hit. Find out why and fix it.

[2021-08-19 06:09] hkratz commented on #88150
This bug seems related to debug info generation, it reproduces with  `rustc --edition=2018 src/main.rs -C debuginfo=2` but not with `rustc --edition=2018 src/main.rs -C debuginfo=0` or rustc --edition=2018 src/main.rs -C debuginfo=1`.

[2021-08-19 06:12] hkratz commented on #88150
[code]

[2021-08-19 06:17] hkratz commented on #88148
The error message comes from [cargo-call-stack](https://github.com/japaric/cargo-call-stack). It might be best to file an issue with them.

[2021-08-19 06:22] taqtiqa-mark commented on #88148
Yes, I'm in the process of opening an issue there.

[2021-08-19 06:22] #88148 closed

[2021-08-19 06:23] hkratz commented on #88150
@rustbot label +A-debug-info

[2021-08-19 06:24] hkratz commented on #88150
@rustbot label +A-debuginfo

[2021-08-19 06:27] #87991 closed

[2021-08-19 06:27] #78171 closed

[2021-08-19 06:27] #88054 closed

[2021-08-19 07:46] workingjubilee commented on #88152
Relevant commentary in https://github.com/rust-lang/rust/pull/83763

[2021-08-19 07:50] wrenger commented on #35119
Well I like the intel syntax more, but I am considering it. Currently I'm switching syntax only for this instruction with `.att_syntax`, which isn't that great either.

Unfortunately this also fails with an `unknown token` error (similar to jmp without far).

[code]

[2021-08-19 08:07] kennytm commented on #48731
There isn't a `slice` method in `str`

[2021-08-19 08:15] est31 commented on #52897
@vinc17fr there is a discussion about which IEEE 754 version to use in #83984 .

[2021-08-19 08:17] mpizenberg commented on #44663
@Ericson2314 for more details, I've written a new section in the guide specifically about implementing public/private dependencies. It is currently under review with @Eh2406 so it's not published yet. But if you want to participate in the review of this section it lives here: https://github.com/pubgrub-rs/guide/pull/4

[2021-08-19 08:55] apiraino commented on #87992
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387992.20link.20error.3A.20undefined.20reference.20to.20.60.3CT.20as.20core.3A.3Aconv.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-08-19 08:56] apiraino commented on #87814
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387992.20link.20error.3A.20undefined.20reference.20to.20.60.3CT.20as.20core.3A.3Aconv.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-08-19 08:59] apiraino commented on #83190
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387992.20link.20error.3A.20undefined.20reference.20to.20.60.3CT.20as.20core.3A.3Aconv.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-08-19 09:05] apiraino commented on #86610
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387992.20link.20error.3A.20undefined.20reference.20to.20.60.3CT.20as.20core.3A.3Aconv.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-08-19 09:17] vinc17fr commented on #83984
@kornelski Note that if some code does something equivalent to `y = x - x`, then `-y`, this will give a −0. Said that, it is likely that in almost all cases, the visible behavior after the subsequent operations will be equivalent to +0.

Concerning the min and max function, if the compiler can determine that the (+0,−0) or (−0,+0) case cannot occur, it can optimize. Ditto if the programmer gives s

[2021-08-19 09:40] m-ou-se commented on #61909
Even simpler test case:
[code]

[code]

This one did also not have a suggestion for `move` in 1.34, unlike the first example in this issue.

[2021-08-19 10:08] michaelwoerister commented on #88085
@gcoakes, yes that case is clearly just a bug in the implementation. I'm working on a fix.

[2021-08-19 10:20] lcnr opened #88155 "const trait checks allow calling non-const methods"
cc https://rust-lang.zulipchat.com/#narrow/stream/146212-t-compiler.2Fconst-eval/topic/const.20impl.20trait.20const.20check

This requires 2 different crates:
[code]
results in
[code]

relevant code
https://github.com/rust-lang/rust/blob/4968a8bbd19cea8713aabff9b1575ec60e208670/compiler/rustc_mir/src/transform/check_consts/check.rs#L889-L902

with #86986 we don't find any impl for `PartialEq` whic

[2021-08-19 11:53] jplatte commented on #86516
I don't understand why interaction with `--cap-lints` is so important. Isn't that only set for dependencies, where you wouldn't want `cargo fix` to do anything anyways (and so `--cap-lints` and `--force-warn` could just be made mutually exclusive)?

[2021-08-19 12:49] sea212 opened #88158 "'rustc' panicked at 'Found unstable fingerprints for evaluate_obligation(9931bc8d27ddda19-903113a1b80b9ecd): Ok(EvaluatedToOk)'"
### Code

I am not able to provide a minimal example, sorry! It occurred after the following changes: https://github.com/zeitgeistpm/zeitgeist/commit/43a84b66b3a2e67525be8e16e4d228e045dd8854

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-19 12:52] michaelwoerister commented on #87745
I also thought that the intended behavior has changed after https://github.com/rust-lang/rust/pull/70642 and the consensus was that diagnostics should _not_ be remapped, so that one gets "real" file system paths in error messages that one can click on / copy & paste, etc.

I'm wondering if we need to make this behavior configurable. It looks like there is no solution that is correct in all use cas

[2021-08-19 12:55] jyn514 commented on #51533
I think it might be possible to do this by using the date of the most recent commit, rather than the date the actual release process happens. The git command used would be the same between the release process and x.py, so because it's deterministic they'd pick the same one.

I don't know where the release process currently lives - is it in tree? If not it would be hard to coordinate the two PRs, t

[2021-08-19 12:56] RalfJung commented on #51533
The release process lives at https://github.com/rust-lang/promote-release, I think.

[2021-08-19 13:01] asquared31415 commented on #88158
This is likely #84341
`cargo clean` and then building again should fix the issue

[2021-08-19 13:09] #88158 closed

[2021-08-19 13:49] Stargateur commented on #48731
@kennytm One could say the same for slice `split_first()`:

[code]

[2021-08-19 14:45] Veykril opened #88160 "Suggest `#[repr({integer}]` for enums when using the wrong literal"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ffe26b2bc45f08e1a3d8e39def953f4e

[code]

The current output is:

[code]

I believe it would be helpful to suggest adding a `#[repr(i32)]` to the enum in this case.
Not sure how that should be rendered.

#### Another small diagnostic improvement for int-enums

Given the following code: https://play.ru

[2021-08-19 15:41] wykurz opened #88162 "Rust release 1.55 has a future date"
The RELEASES.md lists release 1.55 with date 2021-09-09, however it is 2021-08-19. I'm assuming this is a typo and the release should have been listed with 2021-08-09?

[2021-08-19 15:43] jyn514 commented on #51533
and the relevant code is at https://github.com/rust-lang/promote-release/blob/da325f0dded6ec10fcce8099561142c501cef79b/src/sign.rs#L121 :) thanks!

[2021-08-19 15:55] adamgemmell commented on #88162
1.54 is the current stable version. 1.55 is scheduled for release on that date: https://forge.rust-lang.org/

[2021-08-19 16:09] Mark-Simulacrum commented on #88162
Closing -- this is indeed expected.

[2021-08-19 16:09] #88162 closed

[2021-08-19 16:26] jsgf commented on #87745
@michaelwoerister In our use case, the one @dtolnay [presented above](https://github.com/rust-lang/rust/issues/87745#issuecomment-901372202), we're using `--remap-path-prefix` to map from temporary build locations to the real location that users can cut'n'paste, edit, open, etc, and also normalize out the cwd (which #87320 would also address).

I believe the idea to remap diagnostic paths came fro

[2021-08-19 17:47] fitzgen commented on #88152
Yeah, this is an unfortunate historical mistake, but one which can't be fixed without breaking a bunch of code (everything that uses `wasm-bindgen`).

The `wasm32-wasi` target agrees with `clang`'s `wasm32-wasi` target, fwiw, and linking C and Rust on that target is trivial.

I don't know anything about the emscripten target.

[2021-08-19 17:47] rahul-ar commented on #87211
The solution to this seems to be filtering the `rust_on_unimplemented` attribute of the Future trait with type `&impl Future` (for the last two errors) and using a customized label.

[code]

But this is not giving the expected result even though the type of `Self` seems to be `&impl Future` as see in the error label. The full error is the same as the original even after this change:

[code]

@tman

[2021-08-19 18:02] wesleywiser commented on #88043
Reopening to track the stable-to-stable regression.

[2021-08-19 19:11] asquared31415 commented on #88160
I agree on the second issue with pointing to *why* a type was expected.

But for the first issue I don't think it's possible to always be sure that the literal integer is the *wanted* type.  For example, what happens with something like
[code]
where perhaps a typo was made and the constant *should* be `isize` instead, or a user wasn't aware of the default `isize` representation and wants to go wit

[2021-08-19 19:16] JakubKoralewski opened #88167 "Can't call &mut method inside expression used as argument for a &mut method of the same struct"
I tried this code:

[code]

I expected to see this happen: print x twice

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-08-19 19:18] jonas-schievink commented on #88167
This is working as intended. Method receivers are evaluated before arguments, so the outer function call already borrows `xd` when the second call is evaluated.

cc https://github.com/rust-lang/rust/issues/49434

[2021-08-19 19:18] #88167 closed

[2021-08-19 20:59] matthiaskrgr opened #88171 "ICE: Broken MIR: generator contains type Vec<[u8; 16]> in MIR, but typeck only knows about X, Y, Z"
### Code
code from glacier fixed/74906.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./74906.rs  -Zunstable-options --edition 2018`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-19 22:13] cbeuw commented on #87745
@michaelwoerister My original RFC doesn't cover this (as it was solely to do with Cargo). In response to the RFC feedback, my https://github.com/rust-lang/rfcs/pull/3127#issuecomment-869199458 suggested that we have two extra remapping flags for rustc, one controlling only debuginfo and one controlling only `std::file!()` expansion (for panic messages). This is basically the set up in Clang and GC

[2021-08-19 23:12] #77650 closed

[2021-08-19 23:12] #79251 closed

[2021-08-19 23:12] #88020 closed

[2021-08-20 01:12] fosskers commented on #80437
How come it's a function and not a method?

[2021-08-20 02:03] CAD97 commented on #78855
Apparently this feature is removed from the current version of the compiler; this tracking issue should probably be closed and/or updated with the current status of item-scoped `macro_rules!`.

[2021-08-20 02:20] #87988 closed

[2021-08-20 02:38] rodrimati1992 commented on #88160
One issue with recommending the representation attribute is that it makes the enum larger.

Enums with the default representation currently only take up the smallest amount of space required to represent the values of the variants.
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=420c20d204b8660d0fb4463f5ddf8f3e
[code]
prints
[code]

[2021-08-20 05:00] #87987 closed

[2021-08-20 06:22] josephg commented on #60551
Just chiming in to say I'm running into the same problem.

I have a bunch of configuration parameters to tune a custom b-tree. Passing in a trait object for configuration makes my code much cleaner here; if for no other reason so I don't need to copy-paste `<E: EntryTraits, I: TreeIndex<E>, const INTERNAL_CHILDREN: usize, const INTERNAL_CHILDREN: usize>, ...>` in about 20 places throughout my code

[2021-08-20 07:42] JakubKoralewski commented on #88167
Thanks. Why is this the intended behavior though?

[2021-08-20 08:13] michaelwoerister commented on #87745
@jsgf Yes, I think I have read too much into the changes in #70642. I think this is a regression and I would consider it `P-high`.

I am wondering what to do about the `rust-src` case though. Since #70642 the compiler will detect if the source code of the standard library is available and remap paths into from the "virtual path" (i.e. `/rustc/$rustc_sha`) to the actual file system path. If the `ru

[2021-08-20 08:52] kennytm commented on #48731
`slice::split_first` has been stabilized 1.5.0. We can't retroactively destabilize a std method now even if better alternative exists.

[code]

Meanwhile `str::slice_shift_char` was considered redundant before 1.0.0 was released, so we could remove it without the stabilization guarantee.

I was just explaining the decision made ~&nbsp;2&nbsp;~ 5 years ago. If you would like to bring back `str::spl

[2021-08-20 09:07] Stargateur commented on #48731
I know all that, I just explain your argument could work the same for have refused `split_first()`.

[2021-08-20 09:30] lqd commented on #57374
There are still a few cases where "higher-ranked subtype error"s are emitted in their original terse style, including cases of type ascription like in the OP (but these exact samples don't trigger it anymore). Since the non-NLL errors are still better than the NLL ones here, we will still need to reach parity there in order to not degrade diagnostics. It's not as bad as before but not as good as m

[2021-08-20 09:59] Kazurin-775 commented on #88071
It seems that you don't even need to specify a trait bound in your code to cause this bug. The following code [breaks for me](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f124c588d03071dc68eed51a5341c771):

[code]

which gives the following very weird output on nightly:

[code]

(But anyway, there is a trait bound specified in `BTreeSet`'s source code. Hope this code he

[2021-08-20 10:38] cgrzemba opened #88181 "Compile firefox 91.0.1esr on Openindiana (Illumos) with rustc 1.54 I get (signal: 11, SIGSEGV: invalid memory reference)"
**Problem**

Build of firefox 91.0.1esr fails on Openindiana ( illumos-e31da75739 )

**Steps**

1. install current Cargo and Rust toolchain with rustup
2. Compile Firefox 91.0.1esr on Openindiana
3. build fails with:
    Caused by:
  process didn't exit successfully: `CARGO=/ws/grzemba/.rustup/toolchains/stable-x86_64-unknown-illumos/bin/cargo CARGO_CRATE_NAME=gleam CARGO_MANIFEST_DIR=/ws/grzemba/

[2021-08-20 11:45] klensy opened #88180 "rustc_attr::Stability inlined a lot of dublicates in rustc dependency crates rmeta's, increasing it's size"
Look at this place: this `Stability` value looks like const, but still inserted multiple times into *.rmeta file.
https://github.com/rust-lang/rust/blob/9ccf661694423895b02e513c69e6ad263b2f3d8e/compiler/rustc_passes/src/stability.rs#L716-L728

For example, text from `reason` (and other fields from `Stability`):
found 172 times in libaddr2line.rmeta
found 911 times in libhashbrown.rmeta
found 9590

[2021-08-20 11:48] jonas-schievink commented on #88167
Because the receiver is intentionally evaluated before arguments

[2021-08-20 12:02] HKalbasi commented on #86122
rustc, rustfmt and clippy are useful in playgrounds and educational tools that are browser-based. It also can be useful to run rustc and tools in wasm based sandboxes such as cloudflare workers or fastly serverless for CI proposes. So I think it would meet the tier 2 with host tools criteria.

@thomaseizinger Are you still interested in this?
@Mark-Simulacrum Is there any example of such a proposa

[2021-08-20 12:16] shhra commented on #83747
This should be handy when designing language processing algorithms.

[2021-08-20 13:18] ehuss commented on #88181
Transferred to rust-lang/rust, as this was a crash in the compiler.

That backtrace is for the main thread which ususally doesn't do much of anything. Can you perhaps show the backtrace for the other threads?

[2021-08-20 13:20] matklad commented on #88126
Found an interesting interaction between disjoint captures and `AssertUnwindSafe`.

The following program compiles on 2018 but fails on 2021:

[code]

The issue here is that the closure doesn't actually capture the AssertUnwindSafe wrapper, so it becomes `!UnwindSafe`. `let _ = &aus;` fixes that.

The example comes from a real-world code in https://github.com/rust-analyzer/rust-analyzer/pull/9961

[2021-08-20 13:38] cgrzemba commented on #88181
(gdb) info thread
  Id   Target Id         Frame
* 1    LWP    1          0x00007fffaee6d58a in __lwp_wait () from /lib/64/libc.so.1
  2    LWP    2          0x00007fff9821f5ca in rustc_mir_build::thir::pattern::deconstruct_pat::SplitWildcard::new ()
   from /ws/grzemba/.rustup/toolchains/stable-x86_64-unknown-illumos/lib/librustc_driver-59d606deb391e5dd.so
  3    LWP    3          0x00007fffaee66

[2021-08-20 13:39] cgrzemba commented on #88181
Thread 5 (Thread 2 (LWP 2)):
warning: Unexpected size of section `.reg2/2' in core file.
warning: Unexpected size of section `.reg2/2' in core file.
#0  0x00007fff9821f5ca in rustc_mir_build::thir::pattern::deconstruct_pat::SplitWildcard::new () from /ws/grzemba/.rustup/toolchains/stable-x86_64-unknown-illumos/lib/librustc_driver-59d606deb391e5dd.so
#1  0x00007fff9821edd0 in rustc_mir_build::thir:

[2021-08-20 13:42] cgrzemba commented on #88181
Similar on thread 2:
Thread 2 (LWP    2        ):
#0  0x00007fff9821f5ca in rustc_mir_build::thir::pattern::deconstruct_pat::SplitWildcard::new () from /ws/grzemba/.rustup/toolchains/stable-x86_64-unknown-illumos/lib/librustc_driver-59d606deb391e5dd.so
#1  0x00007fff9821edd0 in rustc_mir_build::thir::pattern::deconstruct_pat::Constructor::split () from /ws/grzemba/.rustup/toolchains/stable-x86_64-

[2021-08-20 14:13] JakubKoralewski commented on #88167
Sorry, I didn't mean to irritate. I just don't understand.

[2021-08-20 14:26] Manishearth commented on #88152
@fitzgen  thanks!

Seems like C++ is a bit more challenging, can't get iostream to work.

[2021-08-20 15:40] rustonaut opened #88184 "`--all-targets` is incompatible with `build-std`"
The `build-std` feature requires some target to be set,
`--all-targets` is not treated as some target

I tried this code:

[code]

Now while (probably) no one would call `cargo +nightly check --all-targets -Z build-std`, people might
call `cargo +nightly check --all-targets` while having a `.cargo/config` with:

[code]

I expected to see this happen:

At least commands like `check` (or clippy) sho

[2021-08-20 16:36] Cassy343 opened #88185 "Invariant lifetime incorrectly extended until value is dropped"
I tried this code:

[code]

I expected to see this happen:
The above code theoretically should compile because there is no feasible way that `Dummy` could "use" a `T` when it's dropped. First of all, `Dummy` only contains a `fn() -> T` as far as the type system is concerned. Second, its drop implementation states that `T` may dangle. Given these two facts, the compiler should be able to shorten th

[2021-08-20 16:41] arora-aman commented on #88126
Thank you for bring this up! We are aware of this and this case gets handled by the 2229 migration.

Reference issue: https://github.com/rust-lang/project-rfc-2229/issues/29

[2021-08-20 17:21] SkiFire13 commented on #88185
I think this is expected: `drop` is a function like any other so for the borrow checker `drop(dummy)` counts as an use. If you remove it and instead log when `Drop::drop` is called you'll see that dummy is still dropped after that `push`

[2021-08-20 17:21] tmandry commented on #88171
@rustbot label +AsyncAwait-Triaged

This looks like a probable const generics bug.

[2021-08-20 17:30] Cassy343 commented on #88185
That makes sense -- I often forget that `drop` has no "magical" compiler-added semantics around it. Thanks for pointing that out. I'll close the issue.

[2021-08-20 17:30] #88185 closed

[2021-08-20 18:00] jyn514 commented on #82839
@matthiaskrgr are you still hitting this now that LLVM 12 is merged?

[2021-08-20 19:53] tmandry commented on #87749
Other than the above issues there were some recursion limit regressions for macros, but I don't think it's worth opening an issue over:

- https://crater-reports.s3.amazonaws.com/beta-1.55-rustdoc-1/beta-2021-08-01/gh/skade.kyudo-tracker/log.txt
- https://crater-reports.s3.amazonaws.com/beta-1.55-1/beta-2021-08-01/gh/KSXGitHub.dirt/log.txt
- https://crater-reports.s3.amazonaws.com/beta-1.55-1/beta

[2021-08-20 19:57] jyn514 commented on #88184
`--all-targets` is not related, you'd get the same error without. The problem is that cargo has two different meanings of "target":
1. The platform to compile for (https://github.com/rust-lang/rust/blob/master/src/doc/rustc/src/platform-support.md)
2. The "build targets" to start, e.g. `--lib`, `--bins`, `--examples`.

`--all-targets` is using the second meaning, and build-std is using the first.

[2021-08-20 21:18] orlp opened #88195 "Documentation on `Result::map_or_else` uses very unfortunate wording"
The type signature of `Result::map_or_else`:

[code]
Note how `default` is the function that gets applied to the `Err` variant. Then, the docstring (emphasis mine):

I think this is a very unfortunate choice of words and should be changed.

[2021-08-20 21:34] Ten0 commented on #77404
Wouldn't this possibly be more efficient if it were to be implemented using `try_fold`?

[2021-08-20 22:09] nipunn1313 opened #88198 "Suboptimal error message when FuturesExt is not use'd"
Originally filed https://github.com/rust-lang/futures-rs/issues/2478 - but was redirected here

Here is an example:
[code]

I think - this is the most relevant advice
[code]

The other one about Future: Iterator - feels fairly rare to be the one looking for here.
Only a minor usability concern, but if there's some precedent for sorting the suggestions by usefulness.

I may be off base here (maybe

[2021-08-20 22:14] is8ac commented on #73298
Note that on latest nightly, I am still encountering this issue.

(Any time I use the `rand` crate and `SeedableRng` with `#![feature(const_generics)]`, I trigger this.)

[code]

Error:
[code]

[2021-08-20 22:15] cbeuw commented on #87745
@michaelwoerister Regarding #70642, could we just drop the virtual path on sysroot files when `rust-src` is available, and emit the local path everywhere by default unless they have been remapped by an explicit `--remap-path-prefix`? This will address #85463 as well. I'm happy to open an MCP on this if you think this is a big enough change

[2021-08-20 22:39] Rantanen opened #88199 "Random STATUS_ACCESS_VIOLATION when compiling release builds (2021-08-11 nightly)"
### Code

This is probably going to be a bit painful. The crate I'm compiling is ~6000 lines of code and the issue reproduces randomly (twice today, three or so times in total) so finding a minimal reproduction case is going to be difficult.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

This is a pure access violation in LLVM which terminates the process. No backtrace c

[2021-08-20 22:57] jhpratt commented on #76560
What's the current status of this, anyways? I see that it's still an incomplete feature — anything I might be able to assist with?

[2021-08-20 23:22] Milo123459 commented on #82778
I'm looking to implement this, and I personally think `dbg!(# foo)` should be the un-prettyprinted version.

Also - am I good to claim?

[2021-08-20 23:34] sunfishcode commented on #87074
The implementation PR is now [merged](https://github.com/rust-lang/rust/pull/87329)!

[2021-08-21 01:29] #87935 closed

[2021-08-21 02:47] thomaseizinger commented on #86122
I am yes. My usecase is to allow https://github.com/dprint/dprint-plugin-rustfmt to be compiled to WASM again. At the moment, the plugin works by executing the native `rustfmt` binary although it would be much nicer if it would run in the WASM sandbox again.

That being said, it is not a blocker per se which is why I couldn't invest any resources so far.

[2021-08-21 09:16] SadiinsoSnowfall opened #88204 "Slice::contains generates suboptimal assembly code"
Given `v: u8`, `slice: &[u8; 8]` and `arr: [u8; 8]`, I expected the following statements to compile down to the same thing :
[code]

  However, the resulting assembly differs quite a lot:
  * The `a` statement compiles down to a loop, checking one element at a time, except for `T = u8|i8` and `N < 16` where it instead call fall on the fast path of [`memchr`](https://github.com/rust-lang/rust/blob/

[2021-08-21 09:24] Volker-Weissmann commented on #76560
It would be nice if this code would produce
[code]

[2021-08-21 11:10] Commeownist commented on #72016
I'm working on the GCC backend and I'm trying to get inline assembly working. I'm a bit unsure how to deal with some corner cases so it'd be great if somebody from rustc dev team could comment on them.

I see this syntax is allowed:
[code]

LLVM translates it to this IR, allocating a spare register for the out operand:
[code]
But it doesn't make much sense to me. What is `out(reg_class) _` is supp

[2021-08-21 11:14] Amanieu commented on #72016
The C equivalent would be to assign the output to a variable and then discard it:
[code]

[2021-08-21 11:24] Commeownist commented on #72016
@Amanieu well yes, this is exactly what  LLVM does, but what purpose does it serve? Does it essentially mean, "Please allocate me a spare temporary register I can write to"?

[2021-08-21 11:24] Amanieu commented on #72016
Yes, essentially.

[2021-08-21 11:28] Commeownist commented on #72016
Also, erorrs for `in(reg) _` need to be improved.

[code]

[code]

Same for `inout`.

I'd prefer something like `_ cannot be used as input operand".

(I run lots of code samples as I'm trying to figure out details of the semantics, sorry for the spam).

[2021-08-21 12:00] m-ou-se opened #88206 "Confusing diagnostics on #[derive(X)] when X is imported only as trait"
Reported by @Hoverbear here: https://twitter.com/a_hoverbear/status/1428763621572501507

[code]

Output:
[code]

The diagnostics shows that `Serialize` is not found, and then complains that `Serialize` was imported and unused. Confusing.

(Only the trait `Serialize` is imported, not the `Serialize` derive macro, as the `derive` feature wasn't enabled on `serde`.)

[2021-08-21 12:03] m-ou-se commented on #88206
I have a patch that improves things a bit by adding a note to the error:

[code]

Will clean it up, add some tests, and send the PR later.

[2021-08-21 12:29] Kixunil commented on #83186
In the internals discussion @matklad pointed out that `is_file()` and `is_dir()` have same issue. I believe it may be even worse in their case. I wonder would it be reasonable to add those method within the scope of this feature or as a separate change?

[2021-08-21 12:55] hkratz commented on #88204
@rustbot label +I-slow

[2021-08-21 13:13] jweinst1 commented on #67939
I would say thread id's are somewhat useful for approaches to thread specific storage techniques, where you want to store things in a common data structure, that is safely separated by individual thread IDs. In theory, you can do this via just passing in a uniquely incremented `usize` when creating threads, but it would be nice to have a way to retrieve a unique one anywhere.

[2021-08-21 13:39] frogtd commented on #81872
The `drop` function call is useless BTW, but it could make it slightly more clear.

[2021-08-21 13:44] the8472 commented on #88204
It can be made vectorizer-friendly by using `as_chunks`. It also works for slices of unknown size.

https://rust.godbolt.org/z/4GKrxoKxz

[2021-08-21 14:45] kostko opened #88207 "Broken WASM codegen with u128 and wasm_abi"
It seems that the following code:
[code]

can result in invalid WASM being generated in case it is compiled with `lto = true`. I've created [a repository with the minimal example](https://github.com/kostko/rust-wasm-u128-fmt-bug) that reproduces the issue when built with (tested on `rustc 1.56.0-nightly (0035d9dce 2021-08-16)`):
[code]

Parsing the generated WASM will produce an error similar to t

[2021-08-21 15:42] hkratz commented on #88131
Fixed with the LLVM 13 merge.

[2021-08-21 15:42] #88131 closed

[2021-08-21 16:42] Kixunil commented on #49803
I'd like to give some initial feedback on this:

I wasn't aware of this feature until now that I was going to propose almost the same thing. I think it may lack visibility in the community which is also the reason there are so few experiments. Now that I know I intend to implement `metabuild()` in [`configure_me_codegen`](https://docs.rs/configure_me_codegen) ASAP.

It will be trivial for me becau

[2021-08-21 17:27] Kixunil commented on #49803
Report from testing:

* I realized I return `Result` from my function -  maybe we should make `metabuild` function return `Result<(), Box<dyn std::erro::Error>` (or some other type) too?
* I noticed I use some internal simple script for test cases. It could be kept as `build.rs` but maybe others will want to mix them with external crates?
* I found out that if `build.rs` is present then compilatio

[2021-08-21 17:53] jesyspa opened #88212 "ICE when lambda captures unsized local."
### Code

This is a simplified example taken from the [unstable rust book](https://doc.rust-lang.org/beta/unstable-book/language-features/unsized-locals.html).

[code]

### Meta

I'm getting this both on my system's rustc:
`rustc --version --verbose`:
[code]

and also the same issue on commit b6e334d87349502766be70d649e6fe4a73573482.

### Error output

From my dev build:

[code]

<details><summary

[2021-08-21 18:21] jyn514 commented on #88195
@orlp are you interested in making a PR to fix it? :) there are instructions in https://rustc-dev-guide.rust-lang.org/getting-started.html#building-and-testing-stdcorealloctestproc_macroetc

[2021-08-21 18:46] orlp commented on #88195
I could, but I think I'd prefer to bikeshed a bit first as to how it *should* be described.

[2021-08-21 19:47] sunfishcode commented on #87074
Examples of using the I/O safety types and traits in Rust Nightly in real-world codebases, with all tests passing:
 - https://github.com/yoshuawuyts/fd-lock/pull/14
 - https://github.com/sunfishcode/rustyline/commit/a6124cf4756cee04456af1f23b7476f8823da5f2

[2021-08-21 20:09] Sl1mb0 commented on #85931
I am assuming that when FileCheck says match not found, that means that the `CHECK ...` directives above the code snippets they correspond to are wrong. Is this correct?

For example, this is the code being tested, and the corresponding error:

(In this case, the asm code `lgr r{{[0-15]+}}, ... ` is wrong, and is why FileCheck is failing)

[code]

[code]

If the assembly in the check directive is

[2021-08-21 20:37] dtolnay commented on #74267
Closing because the godbolt link from the top of this issue (https://rust.godbolt.org/z/hr77qM) now produces effectively identical asm for all 3 functions.

[2021-08-21 20:39] dtolnay commented on #71514
- `Default` impls are tracked as part of #61415
- I would suggest that `TryFromIter` brainstorming move over to https://internals.rust-lang.org.

[2021-08-21 20:40] #71514 closed

[2021-08-21 20:47] jyn514 commented on #84738
@petrochenkov thanks for the reduction, that helped a lot. The problem is that rustdoc is considering each line on its own, when it should be considering the whole documentation for the item at once:
[code]
When there's a reference link, rustdoc will see the link text instead of the link target:
[code]
The fix is to use `item.attrs.collapsed_doc_value_by_module_level()` in `visit_item` instead of

[2021-08-21 21:33] dtolnay commented on #48043
What is the motivation for `impl From<LayoutError> for TryReserveError`? Could someone share an example of what a realistic use case would look like with and without this impl to show what difference it makes?

It doesn't seem straightforward that a `LayoutError` due to e.g. non-power-of-2 alignment would turn into a "capacity overflow" after the conversion.

[2021-08-21 22:37] kornelski commented on #48043
Is there a use-case for *creating* instances of `TryReserveError`?

One I can think of is someone creating a custom data structure, and wanting to mimic std API. But that's not a very strong case. 3rd party crates can use `io::ErrorKind::OutOfMemory` or just their own error type.

If there's no need to be able to create `TryReserveError` instances in user code, then it would be fine to remove the

[2021-08-21 23:57] jyn514 commented on #78744
@athei would you be interested in adding a test for this? I doubt we'll be able to track down the exact cause, but preventing it from regressing seems just as good :)

[2021-08-22 01:05] jyn514 commented on #79103
I profiled this recently, and it's down to 1.6 GB - still high, but a lot better than before. I'm going to close this until I find something more specific to track.

[2021-08-22 01:05] #79103 closed

[2021-08-22 01:31] jyn514 commented on #82741
@the8472 hmm, I'm not sure -j makes sense in this context - normally -j is intended for cpu-bound tasks, like compiling. But this is almost purely IO, so we should be able to potentially have thousands of files being written at once without too much resource contention.

[2021-08-22 01:42] jyn514 commented on #82741
Oh, I might be misunderstanding - @camelid are you using "rendering" to mean "generating the HTML" or "writing the HTML to disk"? I was assuming the latter.

[2021-08-22 01:43] camelid commented on #82741
Both, but mainly generating the HTML.

[2021-08-22 01:46] jyn514 commented on #82741
Ok, in that case `-j` probably does make sense. I'm working separately on making writing the HTML (right now it's windows only for some reason: https://github.com/rust-lang/rust/pull/60971#issuecomment-903199503)

[2021-08-22 01:47] camelid commented on #82741
That's weird!

[2021-08-22 02:47] zdiff opened #88221 "Unable to build rust compiler on Alpine Linux"
I am unable to successfully run `python3 ./x.py build` on Alpine Linux.

I am able to replicate this issue with Docker:
### Code

[code]

### Error output
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-22 03:53] jyn514 commented on #82381
@camelid this is actually not too hard to change; the tricky bit is that cloning SharedContext is stupid expensive to clone.

<details>

(this includes the changes from https://github.com/rust-lang/rust/pull/88222)

[code]

[2021-08-22 04:25] jyn514 commented on #82381
Ok, I found why this exists: otherwise the work order has to be sequenced, not parallel. In particular, `mod_item_in` and `mod_item_out` are very stateful with pushes and pops; if `Context` isn't cloned, then everything has to be iterated in preorder depth-first order, not whatever order we use today (postorder depth-first?).

[2021-08-22 04:32] jyn514 commented on #82381
I think we might be able to avoid `dst` by using the original `--output` passed by the user and combining it with the parent module of the current item, which we can get from the `tcx`.

I don't understand what `current` is doing - is it just the list of parent modules and the current item? That seems like we could also get it from the tcx.

`id_map` is probably the hardest - I think we can reset

[2021-08-22 04:38] jyn514 commented on #88221
This is while building LLVM. Can you build LLVM on its own without x.py?

[2021-08-22 04:45] #74721 closed

[2021-08-22 05:00] SimonSapin commented on #48043
I believe this `From` impl is used by the standard library’s implementation of `try_reserve`. Yes it could be removed and replaced by a manual conversion.

[2021-08-22 05:47] nbdd0121 commented on #48594
What's needed to keep this moving?

[2021-08-22 09:01] leonardo-m opened #88224 "[ER] Introduce an unused mut warning when get_mut() should be replaced by get()"
Here I'd like the rustc compiler to warn me that a `get()` suffices (this is equivalent to an 'unused mut warning'):

[code]

(Once the programmer has replaced the `get_mut` with a `get`, I'd like the rustc to also warn me that `data` doesn't need to be mutable in the function signature).

[2021-08-22 09:39] WiSaGaN opened #88225 "Incorrect label shadow warning"
I tried this code:

[code]

I expected to see this happen: *no warning regarding to label*

Instead, this happened: *got warning about label shadowing*

[code]

version
[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9b6bec99ce1b325bcbf04e2b511ffb14)

[2021-08-22 11:21] nikic commented on #83779
Fixed by #87570:

[code]

[2021-08-22 11:21] #83779 closed

[2021-08-22 11:41] Commeownist commented on #81088
How about `asm!("call {fn foo}")` for functions and `asm!("mov eax, {static BAR}"} for statics?

[2021-08-22 11:52] Commeownist commented on #72016
I'm a bit confused about the const operands. The RFC claims that floating point numbers are supported but it doesn't seem to be the case:

[code]

Is it just not _yet_ implemented but will be, eventually?

[2021-08-22 11:53] m-ou-se opened #88228 "Missing derive macro suggests importing regular macro"
Found while working on https://github.com/rust-lang/rust/issues/88206

[code]

[2021-08-22 12:13] calebzulawski commented on #69098
It looks like there haven't been any updates on this in a while--is there anything I can do to bring this closer to stabilization?

[2021-08-22 13:07] athei commented on #78744
Yes. I would be interested. Can you toss me in the general direction where this test would go (as in which test sub directory)?

[2021-08-22 13:07] steffahn opened #88231 "Weird sentence in comments in compiler/rustc_trait_selection/src/traits/coherence.rs"
https://github.com/rust-lang/rust/blob/e9cdcccfa8321363999a43ee30a18b3aadbc20de/compiler/rustc_trait_selection/src/traits/coherence.rs#L364-L383

The sentence

 Has a weirdly placed “a” and twice “only”. I’m not immediately sure how to best fix it without changing the meaning to something that isn’t meant.

 <hr>

 Found while doing #88230

@rustbot label T-compiler

<hr>

I suppose it might be co

[2021-08-22 13:09] jyn514 commented on #78744
@athei it depends what you need to test - it looks like the code here did compile successfully, it just didn't run, so you'd probably need a new run-make test.

[2021-08-22 13:10] nikic commented on #83087
Fixed by #87570, new IR does not have memcpy:

[code]

[2021-08-22 13:10] #83087 closed

[2021-08-22 13:11] m-ou-se commented on #88206
This adds notes to all 'macro not found' diagnostics where the name is in scope in some other namespace, or as another type of macro: https://github.com/rust-lang/rust/pull/88232

[2021-08-22 13:11] steffahn opened #88233 "Weird sentence in comments in src/test/ui/pattern/bindings-after-at/nested-type-ascription-syntactically-invalid.rs"
https://github.com/rust-lang/rust/blob/998cfe5aad7c21eb19a4bca50f05a13354706970/src/test/ui/pattern/bindings-after-at/nested-type-ascription-syntactically-invalid.rs#L1-L2

In the sentence above, I’m unable to figure out the grammatical role of the word “ascribing” and the two “a”s.

I’m not immediately sure how to best fix it without changing the meaning so something that isn’t meant.

 <hr>

 Fo

[2021-08-22 13:22] athei commented on #78744
Running isn't required I think. It would be OK to compile it and then look at the binaries imports and fail if there is anything.

[2021-08-22 13:26] #84955 closed

[2021-08-22 13:26] #84917 closed

[2021-08-22 13:33] nikic commented on #58625
After #87570 the uninitialized case results in:
[code]
The memcpy is eliminated, but we keep around a dead loop. The LoopDeletion pass runs before MemCpyOpt.

And the zero-initialized results in:
[code]
The memcpy is gone here as well, but we still perform memsets in a loop, instead of one large memset. I believe LoopIdiomRecognize would handle this, but it also runs before MemCpyOpt.

[2021-08-22 13:40] nikic commented on #84253
This is fixed by #87570. New IR folds to true/false:

[code]

[2021-08-22 13:40] #84253 closed

[2021-08-22 13:48] nikic commented on #62446
After #87570 we're now down to 0, 0, 1, 0 memcpys.

[2021-08-22 13:53] nikic commented on #75035
After #87570 the nested loop generates good code as well:
[code]

Worth noting that inclusive range loop optimization is very hit and miss, but at least this particular case is handled well now.

[2021-08-22 13:53] #75035 closed

[2021-08-22 14:01] jweinst1 opened #88235 "cargo test 'test-threads' uses more threads than specified"
## Summary

So I have noticed that `cargo test` actually uses more threads than is actually specified, and actually spawns a new thread for every test, as opposed to re-using threads in a pool. This is in many ways a bug because some tests the depend on thread local storage cannot be run in concurrent mode.

## Reproduction Steps

1. Create a fresh cargo project with a library.
2. Create a file ca

[2021-08-22 14:08] nikic commented on #82801
I'm not completely sure what I'm supposed to be looking for here, but I think this has *not* been fixed by the LLVM 13 upgrade. It looks like the IR substantially changed in 1.53 and there goal now is presumably to eliminate the branch that contains the `do_reserve_and_handle` call.

[2021-08-22 14:11] WaffleLapkin opened #88236 "ICE: impl for<'a> Hrtb<'a, Assoc = impl Send + 'a>"
### Code

[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8dde6ac701889ef40c0db3226bb9445d))

### Comment

I was [trying](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e5d430ddf64a1fb77415e69557bedc9c) to make an associated type of hrtb-`impl Trait` `Send` without changing the `Trait`. I was mostly expecting that this won't w

[2021-08-22 14:12] nikic commented on #83585
Unfortunately this has *not* been fixed by the LLVM 13 upgrade. Might be an unfortunate interaction with the migration from bitwise to logical and.

[2021-08-22 14:48] lukaslueg opened #88237 "Wrong suggestion for E0223 when using type alias"
Given the following code:

[code]

The current output is:

[code]

rustc gets confused by the type alias for `f64` via `Length`, leading it to suggest the fully-qualified syntax. If we replace `Length` with `f64` (the primitive type), we get the correct suggestion:

[code]

[code]

[2021-08-22 15:02] nikic commented on #83585
Upstream fix for the logical and/or issue: https://github.com/llvm/llvm-project/commit/be4b8366fbd2c67b48a743d3e34837e29d6b8d0e, https://github.com/llvm/llvm-project/commit/fafe5a6f44c6eebb723844bc04275d23b520400c

Might make sense to cherry-pick this to our fork to avoid waiting another release cycle.

[2021-08-22 15:10] nikic commented on #83585
For the case foo1b the MergeICmps pass would usually handle this in the backend, but it's getting blocked by additional `llvm.experimental.noalias.scope.decl()` calls.

[2021-08-22 16:17] MightyPork commented on #88195
To me these functions are so confusing that I practically never use them, the arguments are in the wrong order ... as repeatedly noted in both the [tracking issue](https://github.com/rust-lang/rust/issues/53268) and [stabilization PR](https://github.com/rust-lang/rust/pull/66322) that added it. It can't be changed, of course :/

I rather like the way it's documented in the corresponding method on

[2021-08-22 16:24] zdiff commented on #88221
Do I need to set `llvm-config` in `config.toml` to build LLVM without x.py?

[2021-08-22 16:57] RalfJung commented on #74267
Is there a test for this? Should we have one?

[2021-08-22 17:00] chorman0773 commented on #43781
One thing that may be nice would be the ability to provide user-defined text for the "x". I use a number of special features like `thread_impl="c11"`. While these typically don't appear in the public api, having "This is only supported on thread implementation c11" in internal documentation, rather than "This is only supported on thread_impl="c11"" might be nice.
Not necessarily a blocking feature

[2021-08-22 17:09] ehuss commented on #88225
Thanks for the report!  This is currently intentional, and a know issue.  The warning could be clearer, though. Closing as a duplicate of #24278 and #31745.

[2021-08-22 17:09] #88225 closed

[2021-08-22 17:40] SoniEx2 commented on #79524
could call it "sep" for separator?

[2021-08-22 17:51] Amanieu commented on #72016
The RFC is somewhat out of date now. The up-to-date documentation is in the [unstable book](https://doc.rust-lang.org/nightly/unstable-book/library-features/asm.html).

Floating-point constants used to be supported but were later removed because there wasn't a good enough use case for them.

[2021-08-22 17:59] MSxDOS commented on #82801
It wasn't fixed by LLVM 13, tested locally as the compiler on godbolt is outdated.

It fails to see that `self.len == self.buf.capacity()` inside `push` can't be true in the first place.
Adding
[code]
in the beginning of the loop removes the `reserve` branch entirely.

[2021-08-22 18:16] jyn514 commented on #88221
@zdiff I just mean in a separate checkout of LLVM, without using x.py build or the rust-ang repo at all.

[2021-08-22 18:17] hkratz commented on #81408
That is unfortunately still an issue with LLD from LLVM 13.

[2021-08-22 19:36] uweigand commented on #85931
The regular expression is incorrect, it should be %r[0-9]+ instead of r[0-15]+.

Note that regular expressions work on characters, they don't understand integer numbers.  [0-9]+ matches a sequence of at least one character in the range '0' .. '9', which matches any integer number.  [0-15]+ matches a sequence of at least one character in the range '0' .. '1' or '5', which (for example) does not mat

[2021-08-22 19:53] mmlinford opened #88241 "ICE: unsupported character `'{'`"
### Code

#### bug_report proc-macro crate

[code]

[code]

#### dependent crate
[code]
[code]

### Meta

stable:
`rustc --version --verbose`:
[code]

nightly:
`rustc --version --verbose`:
[code]

### Error output

[code]

Edited to add:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
*side note: the issue template says to use `RUST_BACKTRACE=1` but the stack trace didn'

[2021-08-22 20:23] #88022 closed

[2021-08-22 20:23] #77708 closed

[2021-08-22 20:23] #82034 closed

[2021-08-22 20:23] #85031 closed

[2021-08-22 20:23] #86953 closed

[2021-08-22 20:35] Aaron1011 commented on #88241
@mmlinford Did you get an ICE, or just a compiler error?

The error itself is correct (though the message could go into more detail). The delimiters `[`, `(`, and `{` must always be matched - as a result, it's not possible to construct them via `Punct::new`. Instead, you need to create a `Group` with `Group::new`.

[2021-08-22 21:07] nikic commented on #82801
Principally, a combination of loop load PRE and SCCP should be able to handle this. However, loop load PRE will currently fail for two reasons: First, the clobbering instruction (do_reserve_and_handle) is an invoke terminator, which would need edge splitting support in loop load PRE. Second, we don't have a guarantee that the call won't free the vec. The second issue is the more problematic one.

[2021-08-22 21:19] Sl1mb0 commented on #85931
I am curious what further testing should be done before I submit a PR.

These are the tests I have that pass:

- branching to an external function
- loading an external symbol
- 32/64-bit general registers
- 32/64-bit fp registers

[2021-08-22 21:36] cbarrick opened #88244 "False negative for "the trait bound `K: Ord` is not satisfied""
I tried this code:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=77d9f2d244245a27faedba8a04c6ca14

I expected it to compile.

Instead I get the error:

[code]

It complains that `K: Ord` is not satisfied.

But `K: Proto` and `Proto: Ord` therefore `K: Ord`.

The code also fails if I explicitly add the `K: Ord` trait bound to the impl.

### Meta

I tried using th

[2021-08-22 21:44] cbarrick commented on #88244
I should add that this used to compile. I noticed the error after updating my compiler.

I did not record the old version number, but it was very old. Maybe 1.51 or so.

[2021-08-22 21:52] mmlinford commented on #88241
I figured it was something like that (this is the first time I've written a proc-macro), but the console output did explicitly say that it was an ICE. It also gave me the link to create the ticket. Apologies for missing this error message when I created the ticket:

`
error: internal compiler error: unexpected panic
note: the compiler unexpectedly panicked. this is a bug.
note: we would appreciate

[2021-08-22 22:55] chorman0773 commented on #42202
Indeed. I have a use for this in my compiler project https://github.com/LightningCreations/lccc, which would allow me to write bindings to the C++ api in rust on MSVC (which I am able to do on other major compilers, but need thiscall for i386 windows).

[2021-08-22 23:04] #88228 closed

[2021-08-22 23:19] Amanieu commented on #81088
We already have this with the `sym` operand type. This issue is about labels defined in an asm code snippet.

[2021-08-23 00:10] kingledion opened #88246 "Linker failing when importing couch_rs"
Problem

The linker fails during the build process while trying to compile hyper when I have included couch_rs as s a dependency.

Steps

Use rustc version 1.54. The machine this error occurred on is Ubuntu 20.04. This error does not occur on a different machine running Ubuntu 18.04 and rustc 1.53.

Clone https://github.com/kingledion/tokio-webserver
git couch_rs-causes-linker-failure
cargo run --

[2021-08-23 00:14] carols10cents commented on #62640
Yeah, I just got bit by this is a very similar example, and I'm a bit disturbed because if this behavior is expected and type annotation is required in some closures, then I need to change some [language in TRPL](https://doc.rust-lang.org/stable/book/ch13-01-closures.html#closure-type-inference-and-annotation), like:

[2021-08-23 00:27] camelid commented on #82381
I think so, but it's possible there's some differences between it and the TyCtxt def path (re-exports? `doc(inline)`? etc.).

[2021-08-23 00:39] WiSaGaN commented on #88225
Ok. I digged up an exact duplicate here: https://github.com/rust-lang/rust/issues/81799

This warning is very unintuitive. @ehuss can you provide a link to the reason why this is intended?

[2021-08-23 00:49] WiSaGaN commented on #31745
Is there any reasonable possibility that we will actually implement the feature that has the future-imcompatibility issue? Is there a RFC/pre-RFC?

[2021-08-23 01:16] ehuss commented on #88225
I don't think there is any information beyond what is linked in those issues. This was something added before 1.0, and it hasn't been revisited since.  The *why* is primarily explained in https://internals.rust-lang.org/t/psa-rejecting-duplicate-loop-labels/1833, where there was an intent to add explicit syntax for labeling a region for a borrow, but that never got beyond the idea stage (AFAIK).

[2021-08-23 02:53] tianchengli commented on #87898
You should remove the `main` function wrapper and execute the tests with `cargo test`.

for unit tests, cargo will generate the test binary with generated test functions for you. you no need to wrapper a `main` function.

[2021-08-23 03:25] kawaemon opened #88247 "Weird ICE on edge-case input on stable"
### Code

For more context, please read [this repository](https://github.com/kawaemon/unexpected_ice) because it depends on another file.

We investigated for some time, and we found that this ICE also depends on length of path of working directory.
We reproduced with length of 32 and 48.

[code]

### Meta

We couldn't reproduce on `rustc 1.56.0-nightly (af140757b 2021-08-22)`.

`rustc --version -

[2021-08-23 04:59] oconnor663 opened #88248 "Tracking Issue for Cell::as_array_of_cells"
Feature gate: `#![feature(as_array_of_cells)]`

This is a tracking issue for `Cell::as_array_of_cells`, the const-generic counterpart to the existing `Cell::as_slice_of_cells`.

### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/87944
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-08-23 07:36] #87591 closed

[2021-08-23 08:12] extremegf opened #88251 "ICE: encountered incremental compilation error with evaluate_obligation(b12a69eb12e7e07d-80c9342bf2bd6aac)"
### Code
This is probably hard to minimize. If the issue report is not helpful without it, plase delete it.

### Meta

I tried it on nighly 1.56, but that failed for an unrelated reason.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-23 08:15] gergoerdi opened #88252 "AVR: Cannot compile compiler_builtins in either release or debug mode with nightly 2021-08-21"
Compiling a pretty much empty project for AVR brings in `compiler_builtins` as a dependency, but then building that fails with a segfault (with `--release`) or a a `ran out of registers during register allocation` error message.

To reproduce, make the following files:

# `Cargo.toml`

[code]

# `.cargo/config`

[code]

# `src/main.rs`

[code]

Build logs:

[code]

[code]

[2021-08-23 08:27] cboseck opened #88253 "Stdio::Pipe not working on Windows Server 2012"
I tried this code:

[code]

I expected to see this happen:

The Output of the started Powershell should not be visible in the Shell that I do 'cargo run'.
Under Windows Server 2019 and Windows 10 this works as expected.

Instead, this happened:
The spawned powershell starts in the foreground, and the ouput shows up in my original shell.

Output:
[code]

### Meta

`rustc --version --verbose`:
[code

[2021-08-23 08:28] scrabsha opened #88254 "Track stderr color in UI tests"
**Disclaimer**: the whole idea comes from @estebank on twitter ([link][estebank-original-tweet]). I'm just summarizing it here.

Now that we can emit super-fancy colored suggestions (PR #86532), it would be a good idea to track the color of the messages in the UI tests, perhaps by explicitly writing it in the `.stderr` files. This allows two things:
  - we can spot regressions,
  - AFAIK that only

[2021-08-23 08:34] apiraino commented on #88236
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388236.20ICE.3A.20impl.20for.3C'a.3E.20Hrtb.3C'a.2C.20Assoc.20.3D.20impl.20Send.20.2B.20'a.3E) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-08-23 08:49] bombless opened #88255 "rustup cross-compilation installation is broken"
Fresh install rustup on my Windows Subsystem for Linux, choose `stable-x86_64-apple-darwin` toolchain
after installation, run `rustc` it reports `~/.rustup/toolchains/stable-x86_64-apple-darwin/bin/rustc: 1: Syntax error: "(" unexpected`

Or if you choose `stable-x86_64-pc-windows-gnu`, run `rustc` after installation,
it reports `error: the 'rustc' binary, normally provided by the 'rustc' componen

[2021-08-23 08:50] rbtcollins commented on #82741
I would note that exceeding available work actors for any dimension will cause queuing or thrashing, whether that is IO or CPU; -j as a cap should be set to min(CPUs, maxconcurrentIOs) - more or less; unless more sophisticated things are available - so treating -j as 'CPU only' is likely to be problematic - particularly on esoteric machines where IO requires CPU to perform.

[2021-08-23 09:08] jDomantas opened #88256 "Unnecessary parentheses warning is printed twice"
This code:

[code]

Gives unnecessary parentheses warning twice:

[code]

Reproduced with stable 1.54.0 and nightly 2021-08-22 af140757b4cb1a60d107 on playground.

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0e09d8ccc2e03b877f205ffb16641f27)

[2021-08-23 09:17] apiraino commented on #81408
thanks @hkratz for the reminder, adding `I-nominate` so this gets prioritized during the T-compiler meeting.

@rustbot label +I-nominated

[2021-08-23 09:23] ishitatsuyuki commented on #44838
As some of the people who attempted to implement might have noticed, the "fallback" mechanism cannot be implemented in a sound way with specialization. I regret that I added that "fallback" mechanism in the last minute of RFC discussion without thinking about its interaction with the type system. Sorry in advance.

It's tempting to make a trait like `AlwaysDebug` with a fallback implementation as

[2021-08-23 09:29] Stargateur commented on #54279
If we choice to only return the dedup part, I believe we should rename `dedup_in_place`

[2021-08-23 09:32] bugaevc commented on #44838
A conservative approach would be to require the types to implement `Debug` (if they don't, it's an error). To use `assert!()` with a `!Debug` type the user would have to wrap the expression into a block explicitly: `assert!({ a == b })`. This restriction could then be relaxed later.

[2021-08-23 09:37] michaelwoerister commented on #87745
@cbeuw, I'm afraid that that would effectively re-introduce https://github.com/rust-lang/rust/issues/73167. Code instantiated from the standard library would again refer to the local path, even in debuginfo and panic messages, and there would be no way to opt-out of that short of uninstalling the `rust-src` component, right?

[2021-08-23 09:45] nikic commented on #88252
Just to double check, this is a regression in nightly 2021-08-21 and worked fine with the previous nightly? In that case it's almost certainly an LLVM 13 regression.

[2021-08-23 10:01] ishitatsuyuki commented on #44838
I don't see how this is conservative? This is a breaking change as a lot of existing code were written with types that do not implement Debug.

[2021-08-23 10:02] SimonSapin commented on #44838
I think it would be ok for `test::<'a, 'b>` to always call the non-specialized implementation, even when called with `'a == 'b == 'static`.

[2021-08-23 10:02] gergoerdi commented on #88252
I haven't tried Rust on AVR since 2017 so can't tell how recent this
regression is.

On Mon, Aug 23, 2021, 17:45 Nikita Popov ***@***.***> wrote:

[2021-08-23 10:15] michaelwoerister commented on #87745
Let's pull in @rust-lang/wg-diagnostics for feedback on the intended behavior here. Here is a summary of the problem:
- https://github.com/rust-lang/rust/pull/70642 implemented a feature in the compiler that makes it emit file paths to the actual source files in the standard library if the `rust-src` rustup component is installed. So instead of emitting
  - `/rustc/881c1ac408d93bb7adaa3a51dabab926

[2021-08-23 10:17] bugaevc commented on #44838
It's conservative in the sense that you don't have to figure out how to make specialization sound _now_, so you'd only make it work with a (large) subset of types. Then later it could be extended to types that don't implement (or conditionally implement) `Debug`.

The new `assert!()` macro could be predicated on an edition change.

[2021-08-23 10:18] cbeuw commented on #87745
@michaelwoerister user would have to manually supply a `--remap-path-prefix` that remaps the sysroot to something of their preference.

We could provide a special codeword in `--remap-path-prefix` which expands to the sysroot path, similar to the CWD proposal here https://github.com/rust-lang/compiler-team/issues/450

[2021-08-23 10:40] ishitatsuyuki commented on #44838
That matches [aturon's proposal](https://aturon.github.io/blog/2017/07/08/lifetime-dispatch/) but impls like `impl Debug for Box<T> where T: Debug` complicate things. It has also received less attention than "always applicable impls" and I think it's unlikely to get implemented in the compiler.

[2021-08-23 11:12] gergoerdi commented on #88252
OK so I just tried with some previous nightlies. On 2021-08-16 I am not getting a segfault; instead, it fails with:

[code]

I get the same error on 2021-05-21.

On 2021-02-22, I get:

[code]

[2021-08-23 11:17] leonardo-m commented on #75035
A problem isn't solved by the new LLVM. Is this worth reopening this issue or something?

[code]

[2021-08-23 11:37] m-ou-se commented on #88140
This FCP needs to start *today* to make it in time for 1.56.

[2021-08-23 11:39] m-ou-se commented on #88126
This FCP needs to start *today* to make it in time for 1.56.

[2021-08-23 11:43] m-ou-se commented on #88126
@cramertj @pnkfelix @scottmcm First one to click their checkbox wins a free emoji.

[2021-08-23 11:45] m-ou-se commented on #88140
@nikomatsakis I don't think that needs to block the start of the FCP, right? Can you resolve your concern? We can handle the reference while the FCP is in progress.

[2021-08-23 12:02] m-ou-se commented on #87814
(@apiraino That link links to the thread of another issue.)

[2021-08-23 12:38] ChrisDenton commented on #88253
Hm is this possibly a powershell issue on older versions of Windows? Does it work if you simply use `-` as the `Command`? E.g.:

[code]

[2021-08-23 12:47] catenacyber opened #88258 "Regression on nightly about sancov_cntrs"
### Code

Suricata is a project with both C and Rust code.
Its fuzz targets get compiled by oss-fuzz

To reproduce the bug, you can clone github.com/google/oss-fuzz
and run `python infra/helper.py build_fuzzers suricata`

I expected to see this happen: Compilation succeeds

Instead, this happened:
Compilation failed with multiple similar errors
[code]

A workaround is to use ld.gold instead of ld

[2021-08-23 12:51] nikic commented on #88252
Okay, that seems to be a long-standing issue then: https://github.com/rust-lang/compiler-builtins/issues/400

[2021-08-23 13:12] m-ou-se commented on #88126
@cramertj Here's your free emoji:

<img src="https://cdn.discordapp.com/attachments/765979591025229864/870587422763778048/crocodile.png" width="100px" alt="🐊">

[2021-08-23 13:14] nikic commented on #88258
Very likely related to LLVM 13 upgrade. I'm not very familiar with this functionality, is there possibly a requirement that the Rust and C code are compiled with the same LLVM version? That is, you need to use clang 13 for the C code?

[2021-08-23 13:53] dbofmmbt commented on #75744
Will it be stabilized in 1.55? It's in the [stabilized APIs section](https://github.com/rust-lang/rust/blob/master/RELEASES.md#stabilised-apis).

[2021-08-23 13:58] catenacyber commented on #88258
C code is compiled with
`clang version 12.0.0 (https://github.com/llvm/llvm-project.git 6de4865545da73687dd6d28d153cd345ed5e7918)`

The workaround of using ld.gold seems to show this is not a requirement, right ?

[2021-08-23 14:08] stephanemagnenat commented on #85508
Similarly, it is not possible to generalize over float types when using `min` and `max` because they are not `Ord`.

[2021-08-23 14:28] LeSeulArtichaut opened #88260 "`unused_unsafe` false negative in closures in unsafe functions"
### Code

I tried this code:

[code]

I expected to see this happen: compiler lints about the unnecessary unsafe block

Instead, this happened: code compiles without warnings

### Version it worked on

It most recently worked on: Rust 1.51.

[code]

### Version with regression

`rustc --version --verbose`:
[code]

@rustbot modify labels: +regression-from-stable-to-stable -regression-untriaged

[2021-08-23 14:57] jplatte commented on #82219
@rustbot label: +A-traits

[2021-08-23 15:39] nikomatsakis commented on #88103
I think the problem here is that we are using `type_implements_trait`:

https://github.com/rust-lang/rust/blob/0e41c6201f7a3f1823b3b668da61577d89bf76d4/compiler/rustc_typeck/src/check/upvar.rs#L796-L803

But that uses `evaluate_obligation_no_overflow`:

https://github.com/rust-lang/rust/blob/0e41c6201f7a3f1823b3b668da61577d89bf76d4/compiler/rustc_trait_selection/src/infer.rs#L120

which is the var

[2021-08-23 15:53] EFanZh opened #88261 "Don’t print a space after an empty struct name with `Formatter::debug_struct`"
I wish I can print a structure like an anonymous structure by specifying an empty structure name using `Formatter::debug_struct`, for example:

[code]

I expect `format!("{:?}", Item)` to be `"{ x: 2 }"`, instead, I get `" { x: 2 }"`.

[2021-08-23 16:20] Kannen opened #88263 "rustdoc does not filter correctly doctests when their name contain spaces."
Consider this file `main.rs`:

[code]
If one run `rustdoc main.rs --test --test-args 'Iter<T, P>::len'`, he will expect that only
the doctest of `Iter<T, P>::len` will be run. But the two doctests will be run.

Below is the output of `rustdoc main.rs --test --test-args 'Iter<T, P>::len'`
[code]

The problem seems to be the space: it looks like, in the example above, `rustdoc` will run all tests th

[2021-08-23 16:34] jstarks commented on #87074
Hi, I'm on the Windows team at Microsoft. Perhaps this deserves a separate issue, but posting here for now...

`OwnedHandle` claims that `INVALID_HANDLE_VALUE` is a valid value:

But this doesn't make sense for `OwnedHandle`. It's true that `INVALID_HANDLE_VALUE` can sometimes act as a valid handle for inputs. Specifically, the same value, -1, is used for the current process pseudo handle, which y

[2021-08-23 16:47] jstarks commented on #87074
Related question: does `HandleOrInvalid` belong in `std`? I like the type--it's a clever approach for dealing with `CreateFileW` and related APIs that return `INVALID_HANDLE_VALUE` on error. But I'm not sure that it really needs to be in `std`, since it really only needs to be used locally at FFI edges before converting to `OwnedHandle`. I would be very surprised to see it in a function signature

[2021-08-23 16:50] ehuss commented on #88255
I think there may be some confusion here.  There are two concepts in rustup, the toolchain host, and the standard library targets.  It looks like you may have installed toolchains for other hosts, which won't run.  You only need to install the toolchain for the host you are running on (so on WSL, it would be `stable-x86_64-unknown-linux-gnu`).  To cross compile, you only need to install the standa

[2021-08-23 16:52] RagibHasin commented on #84277
Why the implementation of `FromResidual` for `Result` uses trait `From` in stead of `Into`. According to the documentation of trait [`Into`](https://doc.rust-lang.org/stable/std/convert/trait.Into.html) and [`From`](https://doc.rust-lang.org/stable/std/convert/trait.From.html), we should

Clarification is welcome as an error type implementing only `Into` trait arises with associated error type on

[2021-08-23 17:06] bombless commented on #88255
Thank you! I'll have a try a few hours later when I can reach my machine.

[2021-08-23 17:07] steffahn commented on #84277
@RagibHasin

see https://github.com/rust-lang/rust/issues/31436#issuecomment-299482914
and https://github.com/rust-lang/rust/issues/31436#issuecomment-619427209
(and the following discusion, respectively)

[2021-08-23 17:08] sunfishcode commented on #87074
That makes sense, however there's another dimension: it's a somewhat established convention to use `ManuallyDrop<File>` and similar to construct temporary views to otherwise borrowed handles&mdash;with some care, the idiom can be done reasonably safely. In those situations, an `OwnedHandle` can hold a pseudo handle.

One thing we could easily do though would be to `assert!(handle > 0)` just before

[2021-08-23 17:27] #87461 closed

[2021-08-23 17:31] saolof commented on #87479
I'm in favour of the "no bikeshedding" camp.

I also mildly prefer the current status quo where the `where Self : 'a` annotation has to be made explicit (with the 'self syntax sugar in option 4 as a possible later quality of life update) due to the inherent complexity in opting out of this, but am primarily in favour of not letting this hold up the release.

[2021-08-23 17:38] Stargateur opened #88264 "create_dir_all doc is unclear"
Is very unclear for me. I think a clarification wouldn't hurt. Does this mean "If a directory doesn't exist and can't be create" ?

"could not be created as it was being created concurrently" is also not very clear.

Overall, I think this doc could be rewrite using more straightforward sentence, and more simple english.

[2021-08-23 18:22] scottmcm commented on #75744
@dbofmmbt Just the type itself was stabilized -- see https://github.com/rust-lang/rust/pull/85608.

This issue remains open to track the methods and associated constants on it which are *not* currently stabilized.

[2021-08-23 18:41] Chris--B commented on #86528
I ran this on https://github.com/vulkano-rs/vulkano/commit/ab01ae72f4abf838be66ee03c6a5789d319cfbd4 (`master` at the time of testing)
`cargo +nightly rustc -- -Zprint-type-sizes`

There is [an issue with Vulkano](https://github.com/vulkano-rs/vulkano/issues/1633) that overflows the stack because of some huge structs, and looking for a clippy lint I found this nightly flag. Gave it a go. Oops?

###

[2021-08-23 18:48] jstarks commented on #87074
Ah, interesting. In the case of `File`, there is (currently?) no pseudo handle that would be usable with any file API. But that could change in a future Windows release, I suppose. And this pattern might get used for other handle types in the future, I guess.

So that rules out the expanded niche. You could still assert, and require `transmute` instead of `from_raw_handle` for pseudo handles. But

[2021-08-23 19:00] memoryruins commented on #62965
With the stabilization of `std::ptr::addr_of_mut` in 1.51, initializing a struct field-by-field with `MaybeUninit` is now possible https://doc.rust-lang.org/std/mem/union.MaybeUninit.html#initializing-a-struct-field-by-field

[2021-08-23 19:09] Kixiron commented on #87800
Some code I was trying to write today:
[code]

[2021-08-23 19:19] nikomatsakis commented on #88118
@rustbot release-assignment

[2021-08-23 19:19] nikomatsakis commented on #88118
@rustbot claim

[2021-08-23 19:33] camsteffen commented on #87800
How about this?

[code]

[2021-08-23 19:41] drewcrawford commented on #70263
I've hit a similar issue involving futures, but I can't seem to adapt any of the workarounds to work on closures that case:

[code]

[2021-08-23 19:49] Kixiron commented on #87800
Doesn't really work, there's a significantly larger amount of work going on that I removed

[2021-08-23 19:59] camsteffen commented on #87800
Okay, then you still haven't demonstrated the usefulness of `Option::zip`.

[2021-08-23 20:12] prconrad commented on #88110
Actually, the test is being run. However, we're asking the compiler to only emit crate metadata.

https://github.com/rust-lang/rust/blob/6d300391ede6de79469670957b508072d132a2a0/src/librustdoc/doctest.rs#L365

Since we set the compiler output path the same way regardless of the `--no-run` flag, those output files are two totally different things. Without `--no-run`, it's the actual binary; with `-

[2021-08-23 20:22] jyn514 commented on #88110
@prconrad can you only do that if --preserve-doctests is passed? Otherwise it will compile the whole binary and then immediately delete it, which isn't helpful.

[2021-08-23 21:18] repnop commented on #87800
I don't think its particularly productive to argue over some arbitrary metric of "usefulness" that's entirely subjective since this it may come up more often in some domains compared to others -- if you have concerns with the method w.r.t its interactions with other parts of the language or the implementation, it's much more productive to discuss those. Plus, having the inverse operation for one t

[2021-08-23 21:42] BGR360 commented on #87401
@artemii235 I want to do a very similar thing to your `MmError`, but directly leveraging the `try_trait_v2`. For your reference, the workaround that I am experimenting with at my work is to simply write a new `Result<T, E>` type that wraps `std::result::Result<T, E>` and implement the `FromResidual` myself with `#[track_caller]`.

We considered if we could do it by just patching the std library to

[2021-08-23 21:45] prconrad commented on #88110
@jyn514 : Yeah, easy enough. See PR: #88269

[2021-08-23 22:07] BGR360 commented on #85133
Is this issue now resolved after @Moxinilian 's work?

[2021-08-23 22:08] camsteffen commented on #87800
I'm sorry for coming off rude.

[2021-08-23 22:15] Moxinilian commented on #85133
Right now it is not. Right now this is blocked by LLVM doing a sub-optimal transformation that loses the optimization at a very early stage, preventing the duplicated tails to be merged back into one. I've tried investigating if we could not merge them back directly in MIR. While possible in theory, my understanding was that MIR still abstracts away too much details (notably on the discriminant as

[2021-08-23 22:16] BGR360 commented on #84277
Hi, I'm keen to see this stabilized. Is there any work that can be contributed to push this forward? It would be my first Rust contribution, but I have a little experience working on compiler code (little bit of LLVM and KLEE in college).

[2021-08-23 22:32] Moxinilian commented on #85133
More on simplifying in MIR:

What LLVM is struggling with is keeping the fact that variant switches are exhaustive, so it can merge the blocks that do the same thing except for different constants (representing the variant IDs). What we could do is do that merging directly in MIR, in a pass close to the end of the pipeline. A naive approach would be to take a switch-terminated block `bb` that ends

[2021-08-23 22:50] Moxinilian commented on #85133
More on fixing LLVM:

Right now, rustc calls into LLVM with a pass pipeline that starts with the `SimplifyCFG` LLVM pass that uses the `LowerSwitch` utility to turn switches into lower level constructs. An issue with that pass is that it is opinionated in what is worth simplifying away, which includes unreachable switch targets. So for example, the following LLVM IR:
[code]
is turned into
[code]
w

[2021-08-23 22:53] sunfishcode commented on #87074
The io-lifetimes crate has something like this [here](https://docs.rs/io-lifetimes/0.3.0/io_lifetimes/trait.AsFilelike.html#tymethod.as_filelike_view). The feedback from the RFC was to move just the basics into `std` for now.

That's a good point, and Rust has had this behavior since the beginning, so it may not be simple to add these asserts.

[2021-08-23 22:55] #88206 closed

[2021-08-23 23:07] zoombinis commented on #22340
Not as useful as the above repro by @chughes-pika , and maybe this is a bit too domain specific, but I hit a lifetime issue with a closure using LALRPOP as shown here:
https://gitter.im/lalrpop/Lobby?at=61227b26aa48d1340c27ca4a

[2021-08-23 23:47] worldeva commented on #76661
@rustbot claim

[2021-08-24 00:45] GodTamIt commented on #49638
Happy to work on an implementation if there isn't too much opposition to it here

[2021-08-24 00:47] daxtens opened #88274 "`__rust_probestack` in binary despite no callers, LTO, and disabling stack-probes."
I'm finding that `__rust_probestack` appears in static libraries created by rust for a custom x86_64 target, even when the target specifies `  "stack-probes": { "kind": "none" }`, LTO is enabled, and there are no callers of `__rust_probestack`

I tried to build the following code:

[code]

With the following set in `Cargo.toml`:

[code]

And the following `cargo` invocation:
[code]

`target.json`

[2021-08-24 00:52] glandium opened #88275 "Panic backtrace doesn't traverse ffi code with panic=abort"
I tried this code:

`Cargo.toml`:
[code]
`build.rs`:
[code]
`foo.c`:
[code]
`src/main.rs`:
[code]
I expected to see this happen: the panic backtrace would traverse the ffi code, like it does without panic=abort.

Instead, this happened: the panic backtrace stops at `do_rust_panic`:
[code]

Without panic=abort:
[code]

### Meta

`rustc --version --verbose`:
[code]

Also reproducible with nightly:
[

[2021-08-24 01:02] CAD97 opened #88276 "Unary plus gives suboptimal parse error"
Given the [following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9d47f8301f8c0e7bbb81a74492c230b0):

[code]

The current output is:

[code]

Ideally, if we want to continue rejecting unary plus on number literals, the parser should recover the unexpected unary plus, and the output should look somewhat like:

[code]

Tested on 1.56.0-nightly (2021-08-22 af140757b4

[2021-08-24 01:21] BGR360 commented on #85133
Oh, that's annoying. But very intriguing. Thanks for the explanation!

[2021-08-24 01:24] scottmcm commented on #49638
Hmm, a struct with three options makes me feel like its semantics are cluttered, though I don't see any obvious subsetting that would help.

I wonder if it could make sense to have some sort of cursor/finger API that would make it easy to get the next/previous elements from a position...

[2021-08-24 02:21] 00sos00 commented on #88261
try using .trim()

[2021-08-24 02:33] EFanZh commented on #88261
I think it’s better to change `debug_struct`’s behavior so that everyone using it can have the same effect.

[2021-08-24 03:12] ehuss commented on #88256
Bisected the regression to #82854.

@estebank Do you happen to know why the deduplicator [here](https://github.com/rust-lang/rust/blob/de42550d0ac525f44ec79300a1cb349ade181c1a/compiler/rustc_errors/src/lib.rs#L960-L965) is not deduplicating these?  I ran into another strange duplicate diagnostic in another situation, too.

[2021-08-24 03:42] dcow commented on #83106
I tested 1.55 nightly with the new Xcode 13 beta (which uses llvm 12+). I no longer have an issue building or archiving.

[2021-08-24 03:50] asquared31415 commented on #88247
likely duplicate of #86085, fixed by #86104

[2021-08-24 03:58] #85071 closed

[2021-08-24 06:36] ubamrein commented on #79408
During this whole debugging process, I stumbled upon https://github.com/getditto/rust-bitcode, allowing to build rust with a specific Apple llvm-backend, to allow the usage of bitcode. Since I had the compiler checked out anyways, I tested it and it seems to work with current upstream rust.

[2021-08-24 06:57] ssbr opened #88283 "`Z miri-track-pointer-tag=untagged` fails (ICE)"
I'd like to be able to track untagged when debugging, but currently I think the only way to do this is `-Zmiri-track-raw-pointers`.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-24 07:51] jamesmunns opened #88284 "Missing Type Annotations Error Lacks Suggestions"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

IMO the output could include:

* A reminder of the explicit type syntax (e.g. `let y: TYPE = x.into()`)
  * This is well suggested in `rustc --explain E0282`, but it might be helpful in the rustc output as well
* A suggestion of potential candidate (e.g. in this case: `Foo` or `Bar`)

[2021-08-24 07:52] jamesmunns commented on #88284
Adding this because someone asked about it on [Rust Experts](https://ferrous-systems.com/rust-experts/), and was confused about how to fix the problem.

[2021-08-24 08:12] apexys opened #88285 "internal compiler error: encountered incremental compilation error with evaluate_obligation(8f355536e879b1da-8491299baef09943)"
So I read in https://github.com/rust-lang/rust/issues/84970 that you would still like to receive bug reports when this happens

When compiling our codebase https://git.geomar.de/digital-earth/digital-earth-viewer/-/tree/master/tileserver we from time to time get this problem:

[code]

I've seen this problem crop up repeatedly lately, but usually only the file `webserver.rs` and the crate `epsg-geo

[2021-08-24 08:32] ivan770 opened #88287 "Incorrect trait bounds check"
I tried this code:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d372b241527aa63df526377bfc532b31

I expected to see this happen: It compiles or gives me a detailed error.

Instead, this happened: Compiler suggests to add an already existing trait bound. Adding it one more time leads to compiler suggesting adding it once more and so on.

While the code example uses GAT a

[2021-08-24 09:23] cormacrelf commented on #79408
Update from me, which is of course still off-topic for the Rust repo, but hopefully useful.

Doing it the fully Xcode way finally hit a snag. My Swift code needs to re-export items from the FFI headers. Swift is generally bad at this, and if you do, it gets in the way of using module stability to make the final product work across different swift compilers than it was compiled with. There isn't an

[2021-08-24 09:40] athei commented on #78744
I guess that would still be a run-make test just that I don't run but inspect the binary?

[2021-08-24 10:11] gergoerdi commented on #88252
I had to go back all the way to rustc 1.47.0-nightly (2d8a3b918 2020-08-26) to get this to work, at least up to compilation (I haven't done linking yet).

[2021-08-24 10:29] cboseck commented on #88253
Indeed @ChrisDenton  you are right, Is working correct with Powershell Version 5.

[2021-08-24 10:29] #88253 closed

[2021-08-24 10:39] jyn514 commented on #78744
@athei yes, that's what I was imagining :)

[2021-08-24 11:25] GodTamIt commented on #49638
I thought about this kind of API but there were two main issues that would need to be sorted out:

- If the cursor is intended to be able to seek backwards and forwards with no bounds, then it'd actually need to keep and manage state that indicates the path to the current leaf.
- The semantics for the edge case where there is no element equal to the search key would need to be sorted out. Does it

[2021-08-24 11:48] Amanieu commented on #49638
I would recommend modeling it based on the `LinkedList` cursor API:
- https://doc.rust-lang.org/nightly/std/collections/linked_list/struct.Cursor.html
- https://doc.rust-lang.org/nightly/std/collections/linked_list/struct.CursorMut.html

[2021-08-24 12:45] Vurich commented on #76314
What is the reasoning behind it being invalid to cast from `&usize` to `&AtomicUsize` or the equivalents for other types? I would assume the UB invariants are the same as for `&T` to `&UnsafeCell<T>` (or, equivalently, `&T` to `&Cell<T>`) but I can't find any info on why that is invalid either.

[2021-08-24 13:03] CryZe commented on #76314
&usize is immutable, the compiler is allowed to assume the value behind the reference will never change. &AtomicUsize is "mutable" through it's atomic operations. So any sort of cast like that is unsound.

[2021-08-24 13:06] Vurich commented on #76314
Ah right, that makes sense. It's not the same as a `&T -> &mut T` cast but it causes the same issues with code motion.

[2021-08-24 14:24] eddyb opened #88290 "Transmute special-case doesn't take into consideration alignment or enum repr."
I was looking back on https://github.com/rust-lang/rust/issues/61956#issuecomment-505436119 and since the current implementation hasn't changed since, I decided to try to and see if I can create an example.

And yes, [here is a playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c73b8ce9f0bebd62b63082f97289aaea) showing *three* invalid `transmute`s, all stem

[2021-08-24 14:55] #79408 closed

[2021-08-24 15:41] pnkfelix commented on #86511
If anyone is interested in looking into this further, the steps I would recommend would be:

1. first confirm if [eddyb's instructions above](https://github.com/rust-lang/rust/issues/86511#issuecomment-886081386) do indeed reproduce the old order.
2. second, check if that actually addresses the regression.

Feel free to ping me on zulip if you are interested in looking into this, especially if you

[2021-08-24 16:15] MomoLangenstein opened #88296 "ICE in improper_ctypes lint for specialised associated type default"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-24 16:41] ijackson commented on #80695
The situation with Fuchsia has been discussed in #58590, where it seems to have been agreed that Fuchsia ought not to be treated as Unix.  The current situation, with the stub impls, is [considered fine for now](https://github.com/rust-lang/rust/issues/58590#issuecomment-853408264), apparently.  So I have ticked that box in the checklist.

I will propose an MR to stabilise this.

[2021-08-24 16:51] catenacyber commented on #88258
It looks like
`export RUSTFLAGS="$RUSTFLAGS -Zsanitizer=address -Cpasses=sancov -Cllvm-args=-sanitizer-coverage-level=4 -Cllvm-args=-sanitizer-coverage-trace-compares -Cllvm-args=-sanitizer-coverage-inline-8bit-counters -Cllvm-args=-sanitizer-coverage-trace-geps -Cllvm-args=-sanitizer-coverage-prune-blocks=0 -Cllvm-args=-sanitizer-coverage-pc-table -Clink-dead-code -Cllvm-args=-sanitizer-coverage-

[2021-08-24 16:52] akiirui opened #88297 "Windows Defender detects Trojan:Script/Wacatac.B!ml"
The Windows Defender detects the "Trojan:Script/Wacatac.B!ml" when I compiling a hello_world project.

<img width="356" alt="Snipaste_2021-08-25_00-37-28" src="https://user-images.githubusercontent.com/3736910/130655567-ccdea6e1-8926-4eae-8fe6-fc8a9dc440e6.png">

Environments:
- Windows 10 21H1
- Windows Defender Security intelligence version: 1.347.319.0
- Rust: stable-x86_64-pc-windows-gnu rustc

[2021-08-24 17:31] wesleywiser commented on #88297
I tried this but wasn't quite able to repro. After invoking `main.exe`, I got a popup which said Windows Defender was scanning the file and then it ran normally.

![image](https://user-images.githubusercontent.com/831192/130662499-5ab31f47-fa3a-4b7c-a0f8-59c581683f93.png)

Running the file again after that shows neither the popup nor a delay before execution.

- Windows 10 21H1
- Windows Defender

[2021-08-24 17:35] scottmcm opened #88302 "What is the stability guarantee of `#[track_caller]` locations?"
This is inspired by https://github.com/rust-lang/rust/issues/87401

The general version of that bug is that any time a call to a trait method that might have had `#[track_caller]` in its `impl` is moved or wrapped, then the location can change.  When, if ever, is a change to a location a breaking change?

[2021-08-24 17:41] #87429 closed

[2021-08-24 17:54] GuillaumeGomez opened #88304 ""jump to definition" feature is generating links to private item documentation pages"
More information on https://github.com/rust-lang/rust/pull/88292

[2021-08-24 17:56] bjorn3 commented on #88274
`__rust_stackprobe` and a couple of other functions llvm sometimes requires are defined in compiler-builtins. rust-for-linux uses `--emit obj` to avoid duplicate copies of it and other libraries.

[2021-08-24 18:03] gmorenz commented on #76560
In the following code, `const_main` fails to compile (apparently because it has a const generic parameter) while `main` (which has an identical body) compiles - i.e. commenting out `const_main` makes it work. I know the feature is incomplete but I found the behaviour surprising and thought it worth mentioning - also I believe it use to work (I haven't validated this exact code, but I'm trying to u

[2021-08-24 18:14] dvtkrlbs commented on #50297
Are there any progress on this ?

[2021-08-24 18:39] ijackson commented on #84908
@yaahc I have been thinking about this and have convinced myself that `impl From<ExitStatusError> for io::Error` is a thing we want to do now, before stabilising `ExitStatusError`.  So I thought I would continue our conversation about the error message implications, here:

I can't speak to Windows.  But on Unix, `.status()` can fail because:
 * The program to run cannot be found or is not executab

[2021-08-24 19:08] richkadel opened #88307 "Regression ICE - broken MIR under `-C opt-level=s` on `if let Some(v) = None as Option<...>`"
I tried this code (reduced from a macro expansion in previously working code):

[code]

I expected to see this happen:

Prior to a recent change, this compiles and running the program prints "end of test".

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

Note, I also tested with a version of the compiler just prior to the commit-hash above, and the program compiles

[2021-08-24 19:13] richkadel commented on #88307
@c410-f3r @matthewjasper - We're encountering this new ICE since early last week, and it looks like it started when #80357 landed. Can you take a look?

[2021-08-24 19:21] tmandry commented on #88307
[Playground](https://play.rust-lang.org/?version=beta&mode=release&edition=2018&gist=a6d46972ffcce1339cffde2f753cfbc4), ICE happens in release builds.

[2021-08-24 19:23] c410-f3r commented on #88307
Reduced. Wildcard does not  trigger ICE.

[code]

I will do my best to fix this issue but I might not be the fastest

[2021-08-24 19:30] nikomatsakis commented on #88114
We discussed this on Zulip. The root cause here is that *sometimes* `move` mode is not required for a thread-spawn because the closure the only upvar that a closure referenced, it used to *move* -- but now, in Rust 2021, because we have a more precise path, we are able to get away with a copy, which winds up being "by ref".

This is a migration failure but we decided to not fix it, it's a bit anno

[2021-08-24 19:33] c410-f3r commented on #88307
Looks like a joined block is dropping state only initialized on the "true/then" side.

[2021-08-24 19:36] yaahc commented on #84908
I think I agree that we probably want this and that the diagnostics won't be confusable but I'd like to add some tests for the various cases just to ensure we know exactly what output we're expecting. Just some basic tests in some new directory like `src/test/ui/error-display` that construct the errors and then compare them to the expected output so we can manually review the expected output to en

[2021-08-24 19:45] nikomatsakis commented on #87401
Can somebody describe to me what the original code was trying to do? Was it to dynamically reconstruct a stack trace around the `?` operator?

[2021-08-24 19:57] richkadel commented on #88307
FYI, I confirmed the problem was introduced in #80357.

[2021-08-24 20:09] jyn514 commented on #88304
To be clear, I'm not actually sure that's a private link, I didn't look at it in detail. It might just be doc(hidden) or something.

[2021-08-24 20:09] jackh726 commented on #87748
So, I think this is *mostly* just "intended"; the `'b: 'a` bound is required to hold regardless of it's used.

That said, I would *expect* `Self::Assoc<'static, 'static>` to work. Looking into it.

[2021-08-24 20:12] BGR360 commented on #87401
That is correct, to the best of my knowledge.

[2021-08-24 20:19] vks commented on #65931
If `arr` is changed to be a slice into an array of constant size, the bound checks are eliminated for Rust 1.54. So @nikic partial fix seems to be working.

[2021-08-24 20:21] GuillaumeGomez commented on #88304
I didn't either. Just that most of weird things happening are in `os`.

[2021-08-24 20:24] jackh726 commented on #87748
Err, no `Self::Assoc<'static, 'static>` shouldn't work...because that is "stricter" than the trait.

[2021-08-24 20:24] nikomatsakis commented on #87479
Hi all! I'm reading these responses and trying to summarize.

@P-E-Meunier what would be useful is to see not only the trait definition, but prospective *impl* definitions

@ammkrn the same! What does an impl for the trait `IsStored` look like? You mentioned that you prototyped your setup on nightly, can you link to that on the Rust playground perhaps?

[2021-08-24 20:27] RalfJung commented on #88290
We have such an assert in Miri, and indeed your code ICEs in Miri. But I am not sure about codegen.

[2021-08-24 20:49] glandium commented on #88275
The cause is given in the `backtrace` crate documentation:

[code]

[2021-08-24 20:52] Mark-Simulacrum commented on #86516
Wanted to reopen to let FCP complete (though it might be gone now automation wise) -- still have time to stop out.

[2021-08-24 21:16] scottmcm commented on #84277
@BGR360 Unfortunately the main blockers here are unknowns, not concrete-work-needing-to-be-done, so it's difficult to push forward.  It's hard to ever confirm for sure that people *don't* need the trait split into parts, for example.

Have you perhaps been trying it out on nightly?  It's be great to get experience reports -- good or bad -- about how things went.  (For example, https://github.com/r

[2021-08-24 21:30] KiChjang opened #88309 "ICE when installing cargo-spellcheck"
### Code

No code requried, but just the following command:

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-24 21:30] athre0z commented on #87748
Hmm, by "stricter", do you mean "more specific"? As in: because `Self::Assoc<'static, 'static>` is more specific than `Self::Asoc<'_, '_>`, it shouldn't work? I'd argue that this is "stricter" regardless of the presence of the `where 'b: 'a` and without the `where` constraint, it compiles fine.

[2021-08-24 21:42] jackh726 commented on #87748
Okay, so I've convinced myself that example 3 should work based on implied bounds. This is just a bug.

Example 1 is a little weird. When we check the trait fn, we can use implied bounds to prove that `'b: 'a`. We can't actually normalize `Assoc` because `Self` isn't know. But, when we try to check that the impl fn matches the trait, we then use `Foo` as `Self`, and we *can* normalize `Self::Assoc

[2021-08-24 21:56] GuilhermeWerner commented on #88297
This has happened to me a few times too, and after a second check windows defender didn't alert anymore.

But I would like to get more information on why this seems to happen, and for no apparent reason.

[2021-08-24 22:02] jonas-schievink commented on #88309
Presumably a duplicate of https://github.com/rust-lang/rust/issues/88307

[2021-08-24 22:02] #88309 closed

[2021-08-24 23:30] #87814 closed

[2021-08-24 23:34] akiirui commented on #88297
@wesleywiser Emm, It's still happened to me everytime.

It's cause by Windows Defender "Cloud security scan".

Disable "Cloud-delivered protection" in Defender can stop it, but it's not the best solution.

It seems that Microsoft Cloud Virus Database marks the output of rust compilation as "Trojan:Script/Wacatac.B!ml".

[2021-08-24 23:57] ijackson commented on #84908
:-).  Sorry for not mentioning this explicitly...

The tests in `library/std/src/process/tests.rs` already checked that the error had the right kind, for the most obvious kind of failure (program to run doesn't exist).  But because of the way `io::Error` works, different errors with the same kind can display differently.  So I added an explicit test of the precise string for `#[cfg(unix)]`.

I thi

[2021-08-25 00:19] chriscoomber commented on #35121
I noticed on nightly that you can write:

[code]

i.e. you can cast a `!` to `T` for any type `T`, which makes sense: `!` is the bottom type. This is pretty cool (and means that you can end expressions with `panic!()` no matter what type that expression is supposed to return).

Wouldn't it be cool if you could also cast `Foo<!>` to `Foo<T>` for any type `T` (for some covariant trait/struct/enum Fo

[2021-08-25 00:42] jackh726 commented on #87748
Okay I have a fix and the `Self:Assoc<'static, 'static>` example fell out naturally. Will make a PR shortly.

[2021-08-25 00:48] Wtoll opened #88311 "Error for self-referential type parameter bounds appears in presumptuous circumstances and is unclear"
According to [RFC-0447](https://github.com/rust-lang/rfcs/blob/master/text/0447-no-unused-impl-parameters.md) type parameters cannot be bound self-referentially. The justification for this is that "impls like this, when used, tend to result in overflow in the compiler, but it's more user-friendly to report an error earlier."

There are two issues with this assumption:
1. The error that is thrown (

[2021-08-25 02:25] programmerjake opened #88315 "PowerPC64 inline assembly doesn't support clobbering xer and cr"
I'm working on porting [power-instruction-analyzer](https://salsa.debian.org/Kazan-team/power-instruction-analyzer/) to use the new `asm!` macro instead of `llvm_asm!`, however I can't translate clobbers for `xer` and `cr` (which aren't included by not specifying `preserve_flags`).

`llvm_asm!` example (generated by a proc-macro, so excuse the naming):
[code]

attempted `asm!` translation:
[code]

[2021-08-25 02:56] tmandry commented on #87211
That's not terribly surprising, I wouldn't expect `rustc_on_unimplemented` to handle `impl Trait` very well.

You could find out why it's not handled (with debug logging). Or you can handle this case directly (for all `&T` where `T: Future`) in the diagnostic code that emits this error. That would be more general and I don't see how you'd express it in `rustc_on_unimplemented`.

We already print d

[2021-08-25 03:13] tmandry commented on #73632
Ah. I was imagining a relocatable object file, like what `ld -r` produces, for `staticlib`. Not sure what behavior is actually desirable in that case.

[2021-08-25 03:58] nzentzis opened #88317 "False-positive unused variable warning in the presence of `unimplemented!()`"
Given the following code: [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3d57bbf18fb502de8991d1f1b5affe09)

[code]

The current output warns about an unused parameter:

[code]

However, the `view` parameter is used in the match block, even though it'll never be executed as things stand. If I comment out the `unimplemented!()`, the warning goes away.

[2021-08-25 04:13] coreh opened #88318 "internal compiler error: encountered incremental compilation error with predicates_of(winit[a4e3]::dpi::Pixel)"
Hey :wave:  Just hit an incremental compilation bug in 1.54.0.

As per #84970, I'm filing a bug.

Edit: Ouch, just realized I used the wrong template for this. I can't seem to tag it with *I-ICE* or *T-Compiler*. Sorry!

### Meta
`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-08-25 04:28] QuineDot commented on #70780
[Here's a shorter reproduction.](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6318f8473b6d9aabbddaf7556b8714b8)
[code]

Even though the _type_ of the box is `Box<dyn 'static + Fn(&'lua())>`, the _lifetime_ of the type is bound by `'lua` ala RFCs 192 and 1214.  That lifetime then infects the closure in turn.  This will also fail the borrow checker, for example:
[code]

I'

[2021-08-25 04:45] taralx commented on #35121
I don't think that works. `Foo<!>` isn't necessarily the same representation as `Foo<T>`, so you're asking for the compiler to fill in a more complex conversion than I would expect from `as`.

[2021-08-25 04:57] sergeyboyko0791 commented on #87401
@nikomatsakis exactly. The main goal is to track sequentially the places where one error `E1` converts to another `E2`.
The location is tracked every time the `?` operator calls the `from` function tagged as `track_location`:

https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/common/mm_error/mm_error.rs#L131

[2021-08-25 05:41] yurivict opened #88319 "ld: error: undefined symbol: git_branch_name_is_valid"
I am trying to upgrade the FreeBSD port ```devel/gitui``` to 0.17 but it fails:
[code]

rust-1.53.0
FreeBSD 13

[2021-08-25 08:12] #84292 closed

[2021-08-25 08:27] paulzhang5511 opened #88322 "When I define very complex routes with axum web framework, the compilation time increases a lot"
When I define very complex routes with axum web framework, the compilation time increases a lot. This should be rustc's problem.

Example: https://github.com/paulzhang5511/axum-compile-slow
[code]

### Meta

[code]

[2021-08-25 08:28] tema3210 commented on #49733
Now, in prospect of allocators api box can be implemented without a language feature; given deref patterns being merged one of prime reasons to have that syntax is gone.

The last reason to have this feature are these tricky optimizations.

And AFAIK `Box` being a language item is then only valuable for special casing of its layout in several contexts.

[2021-08-25 09:11] Kixunil commented on #35121
@taralx `f32` also doesn't have same representation as `u32` yet you can cast them, so I don't think *that* would be an issue.

@chriscoomber I think this may break some use cases of `PhantomData`. Consider:

[code]

Type state is often implemented using uninhabited types, so that users don't mistakenly create instances of type states. If compiler allowed people to cast such structs it might be po

[2021-08-25 09:20] jonas-schievink commented on #88319
Why do you think this is a Rust bug? It looks like this is an issue with the installed libgit2

[2021-08-25 09:28] vorner commented on #35121
I don't think such conversion should be allowed _at all_ (in safe Rust). This compiles:

[code]

Yet, being able to convert this into `Vec<String>` would be very bad (as that `Vec` would have no choice than to remember the capacity of 10).

[2021-08-25 09:37] yurivict commented on #88319
Ok, thanks.

[2021-08-25 09:37] #88319 closed

[2021-08-25 09:45] Kixunil commented on #35121
@vorner that's even stronger reason. After casting to e.g. `String` and dropping it the destructor will call deallocation function with wrong value because `String` has a different layout than `!`.

[2021-08-25 09:58] EFanZh commented on #35121
Also, you should not cast `Fn(!)` to `Fn(i32)`.

[2021-08-25 10:11] ammkrn commented on #87479
@nikomatsakis

I put it in a `gat_nightly` branch, here are the impls for one base type and its pointer.
https://github.com/ammkrn/nanoda_lib/blob/4c46ec08cb80e12de1cf5a312f17c3fd67feb228/src/utils.rs#L370
https://github.com/ammkrn/nanoda_lib/blob/4c46ec08cb80e12de1cf5a312f17c3fd67feb228/src/utils.rs#L409

This application's state management is somewhat involved for performance reasons, but I thin

[2021-08-25 10:19] Kixunil commented on #35121
@EFanZh `fn(T)` is contravariant, though.

[2021-08-25 10:43] scrabsha commented on #88254
After some research in the codebase, i think this could be implemented by adding a new variant to [`Destination`] and [`WritableDst`] to represent the fact that we're writing html code. This variant would contain a type responsible for figuring out what to write when asked to [set a new color][WritableDst::set_color].

[`Destination`]: https://github.com/rust-lang/rust/blob/1a9ac38defd67ddb2b83000

[2021-08-25 11:24] QuineDot opened #88323 "Error messages sometimes incorrectly elide `dyn Trait` lifetimes when `dyn Trait` is behind an alias"
There's probably a better description but I couldn't think of a short one, sorry.  But the basic setup is that you can have a situation such as:
[code]
And rustc will expand this to `&'a (dyn Trait + 'static)`, as the lifetime elision does not penetrate the alias.  But error reporting will report this as `&'a dyn Trait` after normalizing the alias, and this is short for `&'a (dyn Trait + 'a)`.  Th

[2021-08-25 11:44] psumbera commented on #86163
@nagisa any suggestion how to proceed with this issue? Where to look, what to try? Thanks!

[2021-08-25 11:46] danielhenrymantilla commented on #87850
Potentially related:

[code]

  - [Context](https://discord.com/channels/273534239310479360/616791170340880404/880051368440762439)

[2021-08-25 11:57] LiamTheProgrammer commented on #21690
One possible solution could be to create an attribute which takes in a list of functions to make fast (e.g. sqrt) and converts all calls to them into calls to their faster counterparts (e.g. sqrt becomes fast_sqrt). There could be fast versions of every function that could be sped up in this way to allow for this. This is what this would actually look like:

[code]

This allows for a high amount o

[2021-08-25 12:12] SadiinsoSnowfall commented on #88204
It looks like something changed in the latest nightly version (`a49e38e67 2021-08-23` according to godbolt), the `contains` method is now full-unrolled by the compiler and produced a serie of `cmp` and jumps but almost never produce any SIMD code. Maybe using an unrolled loop like that is preferable for small slices. But when using larger slices, the compiler does not even unroll the loop.

I can'

[2021-08-25 12:12] chriscoomber commented on #35121
@vorner That's a good reason. I reckon you could do the cast with the simpler structs/enums. For example:

[code]

But you're right that for anything more complicated (e.g. messing with raw pointers, size_of, etc.) it won't work:

[code]

Since casting is not something that we can write code to assist with, I think I agree that this isn't what casting should be used for.

@Kixunil

Unfortunately I

[2021-08-25 12:17] LeSeulArtichaut commented on #87850
@danielhenrymantilla Interestingly, the code you provided is a different cycle (it doesn't involve `is_freeze` checks). I think it looks more like #78649, and it might be a great MCVE for that issue which doesn't seem to have one.

Ultimately I think both issues have the same root cause, i.e. the type system and the MIR builder being dependent on each other. Maybe fixing #78649 will fix this issue

[2021-08-25 12:18] LiamTheProgrammer commented on #88317
I thought this was intended behavior? The variable really is never used when the codes runs...

[2021-08-25 12:37] lambda-fairy commented on #35121
Note that we don't need full specialization; only the ability for impls-which-take-`!`-as-a-parameter to overlap. See [this comment above](https://github.com/rust-lang/rust/issues/35121#issuecomment-317326109), and the existing (unfortunately unstable) [`#[marker]` attribute](https://doc.rust-lang.org/nightly/unstable-book/language-features/marker-trait-attr.html).

[2021-08-25 12:43] kate-shine commented on #88322
Related to https://github.com/rust-lang/rust/issues/87924 (which was closed, because a workaround in Axum was introduced - workaround that solved the issue only partially it seems.)

Related Axum issue: https://github.com/tokio-rs/axum/issues/200

[2021-08-25 12:52] SadiinsoSnowfall commented on #88204
Apparently, both [Clang](https://godbolt.org/z/a831W549P) and [GCC](https://godbolt.org/z/nE4jjWEcn) also avoid using SIMD in this case (preferring unrolled loops or not depending on the targeted architecture). So it may be a non-issue.

[2021-08-25 13:03] dabretin commented on #20267
It seems that using `#![crate_type="..."]` in top of different source files could solve the problem...

static_lib.rs:
[code]

dynamic_lib.rs:
[code]

lib.rs:
[code]

[2021-08-25 13:16] danielhenrymantilla commented on #78649
Posting it here for the sake of visibility: in #87850 I showcase a minimal repro of actually the issue _here_: **featuring an auto-trait constraint on an existential type triggers this error**.

[2021-08-25 13:26] GuilhermeWerner commented on #20267
Unfortunately this doesn't work with cargo.

But I think this can solve this and other problems: https://github.com/rust-lang/cargo/issues/8628

[2021-08-25 13:43] sollyucko commented on #21690
How would the attribute work if `with_attribute` called `with_slow_sqrt` or vice versa?

[2021-08-25 13:49] glittershark commented on #62358
to put a little weight on one side of the discussion (though it might not be needed now) I actually *went looking* for `Option::contains` in my *autocomplete*, and was really happy to find it there, but disappointed to see that it was unstable. I'm pretty sure I'd never go looking for a function called `eq_some` - or any of the other names that have been proposed here. I know I'm just one person,

[2021-08-25 13:50] glittershark commented on #62358
Also, rust already considers Option a container (as well it should) - look no further than `Option::iter()` and `Option::into_iter()`

[2021-08-25 13:58] ehuss commented on #88317
Thanks for the report!  This is intended behavior, as the variables really aren't used since the "used" parts are in an unreachable block.  Closing as a duplicate of #78136.

[2021-08-25 13:58] #88317 closed

[2021-08-25 14:38] PoignardAzur commented on #32059
Any update on this?

[2021-08-25 14:43] jgarvin commented on #21690
@LiamTheProgrammer All the operations is vast because it includes intrinsics. [Anything here](https://software.intel.com/sites/landingpage/IntrinsicsGuide/) with `__mm512`, `__mm512d`, `__mm256`, `__mm256d`, `__mm128`, `__mm128d` etc.

Anecdotally in the C++ code bases I've worked on that used fast math they've generally done the inverse -- use fast math everywhere then by hand annotate specific f

[2021-08-25 14:51] Manishearth commented on #32059
Lack of people working on this

[2021-08-25 15:06] EliseZeroTwo commented on #88322
I am having similar issues while using Axum. Running the compiler with `-Z time-passes` shows the compiler getting caught in the following:

[code]

and your provided example shows similar results:

[code]

[2021-08-25 15:46] bjorn3 opened #88330 "Check codegen backends for compatibility with the loading rustc"
This would have helped with https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/.E2.9C.94.20How.20to.20load.20codegen.20backend.20when.20custom-built.20rustc where a codegen backend was accidentally built against the librustc_driver.so of a rustc different from the one which actually loaded the codegen backend.

Checking just the rustc version in the `.rustc` section of t

[2021-08-25 15:49] ehuss opened #88331 "ICE: error with disjoint closure returned as impl FnMut"
The following ICE was found migrating [`openvpn-parser`](https://crates.io/crates/openvpn-parser) 0.5.0 to 2021 during the latest crater run: https://crater-reports.s3.amazonaws.com/pr-87190-3/try%23a7a572ce3edd6d476191fbfe92c9c1986e009b34/reg/openvpn-parser-0.5.0/log.txt. Error was in [this closure](https://github.com/rusticata/openvpn-parser/blob/5efae2d828859d802de61c93e0f6fd480cc3e5a7/src/open

[2021-08-25 15:50] ehuss commented on #88331
cc @rust-lang/wg-rfc-2229

[2021-08-25 15:53] RalfJung commented on #35121
`Foo<!>` could also rely on `!: MyTrait` that has some associated type; `Foo<i32>` would use a completely unrelated associated type.

Generally there is no way in Rust to perform substitution "in generic argument positions", unless you make further assumptions.

[2021-08-25 16:03] roxelo commented on #88331
@rustbot claim

[2021-08-25 16:17] sourcefrog opened #88333 "errors after `cargo clippy --fix`"
With `clippy 0.1.56 (b03ccac 2021-08-24)` and `rustc 1.56.0-nightly (b03ccace5 2021-08-24)`
I ran `cargo clippy --fix` in a checkout of https://github.com/sourcefrog/conserve/commit/86137c34e4d5b8cae80bb401abc6c5aa08607c8c

and it asks me to file a bug here.

I'll attach a file of the changes made.
[20210825-conserve-clippy.diff.gz](https://github.com/rust-lang/rust/files/7048420/20210825-conserve

[2021-08-25 16:19] sourcefrog commented on #88333
Despite the warning both `cargo check --tests` and `cargo test` succeed.

[2021-08-25 16:23] jackh726 commented on #88318
cc @Aaron1011

[2021-08-25 16:34] sourcefrog commented on #88333
The heart of the problem seems to be that it's trying to simplify this test code to get rid of the `needless_collect`

https://github.com/sourcefrog/conserve/blob/86137c34e4d5b8cae80bb401abc6c5aa08607c8c/src/index.rs#L653

but it does it in a way that causes a type inference error.

[code]

[code]

[2021-08-25 23:08] ehuss opened #88347 "2021 prelude collision lint expands macros when used as an expression"
The `rust_2021_prelude_collisions` lint suggestion seems to expand the expression for a macro, but I don't think it should.  The following:

[code]

The suggestion recommends replacing it with:

[code]

which will not compile.  I would expect it to suggest:

[code]

Found during the crater run for:
* https://github.com/cedric-h/sorry - https://crater-reports.s3.amazonaws.com/pr-87190-3/try%23a7a57

[2021-08-26 05:27] ehuss opened #88351 "Large rlib unable to be loaded"
A user reported a strange error [here](https://github.com/rust-lang/cargo/issues/9838) when using [`llvm-sys`](https://crates.io/crates/llvm-sys) where `rustc` reports the cryptic error:

    error[E0463]: can't find crate for `llvm_sys`

After some digging, the error seems to be the crate reader is unable to read the rlib:

[code]

The user shared the rlib file, and it was over 4GB in size. Some

[2021-08-26 12:54] hlb8122 opened #88360 "Panic with GATs during lexical region resolve"
### Code

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3ee6652c9d7ef9f1bd9658a44e0e1215

Note that this [does not panic](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f36778d4aa90bd5e00715b7662bc7532) if we actually write correct Rust and switch to `fn copy(&self) -> T`.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[2021-08-26 15:32] lamafab opened #88365 "Compiler panic when indexing associated, constant array of generic length in test"
I tried to narrow it down as much as I could:

[code]

When executing `RUST_BACKTRACE=1 cargo test some_test`:

[code]

***

~~**NOTE**: Weirdly enough, this does not happen when running `cargo build` or even `cargo run`.~~ (see https://github.com/rust-lang/rust/issues/88365#issuecomment-906783659)

[2021-08-26 20:01] narpfel opened #88372 "Closure captures immutable reference when mutable reference is necessary"
### Code

I tried this code:

[code]

I expected to see this happen: The code should compile.

Instead, this happened: This compiler error is thrown:
[code]

### Version it worked on

It most recently worked on: `nightly-2021-07-11` (also works on stable 1.54). Starting from `nightly-2021-07-12`, I get the error shown above.

### Version with regression

`rustc --version --verbose`: current nightl

[2021-08-27 01:53] lougxing opened #88376 "$HOME/.cargo/env can‘t run in path "$home/.cargo""
`

lougxing@local:~/.cargo$ pwd
/home/lougxing/.cargo
lougxing@local:~/.cargo$ .  env
-bash: .: /usr/bin/env: cannot execute binary file
lougxing@local:~/.cargo$

/usr/bin/env  and .cargo/env are conflict.

Windows Wsl2;

lougxing@local:~/.cargo$ cat /etc/issue
Ubuntu 20.04.3 LTS \n \l

`

[2021-08-27 02:01] philliard3 opened #88377 "Trait bounds incorrectly reported, causing error in const-fn setting"
I tried this code:

[code]
[( Playground )](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0eb10255633ed5ba4461bcc08ed363b4)

I expected to see this happen:
I expected that this would behave as though this were a non-const function, and successor_len::<Tail>() would cause the compiler to inline the  implementation of successor_len.

Instead, this happened:
The compiler cl

[2021-08-27 08:14] fee1-dead opened #88383 "Duplicate bounds behave differently depending on their order for const_trait_impl"
I tried this code:

[code]

I expected to see this happen: It should be the same as
[code]

Instead, this happened: It errors for the former but does not error for the second example.

@rustbot label F-const_trait_impl

See https://github.com/rust-lang/rust/pull/88328/files#r697229693

[2021-08-27 09:49] simon-auch opened #88384 "ICE on const generic + static slice of fn()"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-27 20:24] ehuss opened #88403 "unused_variables gives bad suggestion for nested struct pattern"
I tried this code:

[code]

This generates an unused_variables lint for the pattern.  However, the suggestion it gives causes the code to fail to compile:

[code]

I think it should give the same suggestion it gives for a non-nested binding, like this:

[code]

Found during crater run for https://github.com/Kylebrown9/Slang

### Meta

`rustc --version --verbose`:
[code]

[2021-08-27 20:29] Lokathor opened #88404 "Rustc misunderstands when an @ is missing in a pattern and the error message is confusing"
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cc5abfabe1aaa2a33c26efe0530e1fde)

I should have typed `rest @ ..`, and to fix my problem I need to add the `@` between `rest` and `..`

Instead rustc tries to tell me three different ways that "rest.." is wrong, none of which are "hey did you forget the @ sign?"

[2021-08-27 20:48] kahomayo opened #88405 "Using GATs with other associated types sometimes claims those types don't satisfy their supertraits"
Using an associated type as an argument to a GAT will sometimes fail with an incorrect `[E0277]` "trait bound is not satisfied" error, when that type is used to constrain an associated type of another trait.

[code]
[Playground link including the other examples in this issue](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f434deb6a58e0c399a6cfae290688012)

This code shoul

[2021-08-28 00:00] #88155 closed

[2021-08-28 00:16] klensy commented on #56297
Looks resolved around 1.52 https://rust.godbolt.org/z/n14acj8sG

[2021-08-28 01:33] coreh commented on #88318
This is code for a personal project that I'm not really ready to open source/make publicly available at this time.

I can share it with you in private if it helps, but I don't recall the exact changes that I made that triggered this. I was working on the code in one day, came back one the next day and when I tried to compile it it failed like this.

[2021-08-28 01:46] spastorino commented on #86727
I think this issue can be closed now. I've built a table here https://hackmd.io/y1HwFSBUQS2ZKrSFuQ0Dnw?view with existing tests, some desired ones and ended creating new tests for the desired ones that were missing. The table reflects that showing PRs for cases that were uncovered.

Please whoever that is reading this and have time and energy :), please check it out and let me know if there's some

[2021-08-28 02:46] philipc commented on #88351
Published `object 0.26.2`.

[2021-08-28 03:11] camelid opened #88415 "rustdoc: Ayu syntax highlighting regression"
My guess is that the yellow inline code style is incorrectly being applied to code blocks too.

### Nightly (incorrect)

![image](https://user-images.githubusercontent.com/37223377/131204416-46bf2a26-34e0-4cac-8c5d-a30b481a5db4.png)

### Beta & stable (correct)

![image](https://user-images.githubusercontent.com/37223377/131204431-6b2af605-b630-4048-b15a-3d1c7c54db76.png)

[2021-08-28 03:15] camelid commented on #88415
cc @GuillaumeGomez since you're knowledgeable about rustdoc's CSS

[2021-08-28 03:58] fee1-dead commented on #88244
So #88328 just got merged, and that means instead of inferring bounds on const fns to be `const`, we now require an opt-in for those bounds. The latest nightly should work again.

[2021-08-28 04:36] Stargateur commented on #34158
I don't really get why this have been closed since it's still an issue ["How to assert io errors in Rust?"](https://stackoverflow.com/q/57234140/7076153), it's have be viewed 12k times I think we should consider this problem.

Maybe a:

[code]

But that only a shortcut. Most user would only need this.

maybe a:

[code]

should allow `assert(result.compare_kind(&expected))` still a shortcut.

Maybe

[2021-08-28 05:22] theo-lw commented on #87771
I'd like to try tackling this :)

[2021-08-28 05:23] mehcode commented on #87800
To add a concrete data point, I often run into needing this when dealing with databases. I'll have a nice rusty optional tuple of data that I need to transpose into a tuple of options to then pass into a query.

I'd love to see this for N variants. The itertools crate has a `izip!` for an N-variant `Option::zip` that is quite useful. But having a simple two-variant in the std is a useful building

[2021-08-28 05:57] alianse777 opened #88416 "if ... as T < ... && ... >= ... is treated as const generics"
I'm not sure if it is expected behavior or not.

I tried this code:

[code]

I expected to see this happen: the code compiles without errors

Instead, this happened:
[code]

If I change to (1 as f64) < 0.0 && 1 >= 0 it compiles.

Link to playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=48dbdf8fc80dde053da67f6b3db3d143

[2021-08-28 07:17] beroal commented on #76915
But the third `struct cmsghdr` in my code is within the bounds, and I wrote `__cmsg->cmsg_len` before calling `CMSG_NXTHDR` on `__cmsg`! So the macro you referenced shouldn't return `NULL` prematurely even without zeroing `cmsgs.data`. BTW, I can't find anything about this zeroing in the documentation.

BTW, I found the problem and wrote an answer. I believe, on my computer a different macro is us

[2021-08-28 07:44] beroal commented on #76915
You're right, my bad. ☺

On the other hand, I believe, the alignment is necessary just for writing `struct cmsghdr`. IMHO, if you replace
[code]
with
[code]
the alignment requirement may be dropped altogether.

[2021-08-28 08:27] goldwind-ting commented on #88416
If I change to ```if 1 as f64 <= 0.0 && 1 >= 0``` it also compiles, why is that?

[2021-08-28 09:05] GuillaumeGomez commented on #88415
I'll send a fix shortly.

[2021-08-28 09:21] nikic commented on #84314
The change has since been reapplied and is part of LLVM 13. We're now left with only one bounds check: https://rust.godbolt.org/z/bnqn4chGK

[2021-08-28 09:49] Enet4 opened #88420 "Incremental compilation ICE: Found unstable fingerprints for predicates_of(dicom_core[4803]::value::DicomValueType)"
I triggered ICE through incremental compilation (tracker issue #84970) while working on [DICOM-rs](https://github.com/Enet4/dicom-rs). This could be a similar problem to #88318. Unlike what was reported in #84341, `predicates_of` was called on a trait in the same workspace.

### Code

I was unable to reproduce this a second time in a fresh working space. When the ICE occurred, I saved the state of

[2021-08-28 10:03] ABouttefeux opened #88421 "ICE: could not fully normalize `&<MyType as std::ops::Index<MyType>>::Output"
### Code
[repo github](https://github.com/ABouttefeux/sudoku-solver/tree/const-generic)
Sorry I did not found a minimal code yet, I will try a bit more to find one

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-28 10:08] alianse777 commented on #88416
Because of <= instead of <

[2021-08-28 10:35] LinkTed commented on #76915
@beroal I am using arch Linux, too. I zeroed the buffer and it worked.

[2021-08-28 11:23] nikic commented on #83651
Godbolt: https://rust.godbolt.org/z/G6a1qrf6e

I'd expect that to work or not work depending on the exact code in the match arms. For `println!()` each branch works on a different `std::fmt::Arguments` alloca, so merging the code would require merging the allocas first, which LLVM doesn't do at all in the mid-end optimizer (only during stack coloring).

[2021-08-28 12:22] the8472 commented on #88204
Update to LLVM 13. #87570

[2021-08-28 12:30] kahomayo commented on #88405
I just re-ran the playground example and noticed that the issue seems to have vanished. The playground is running `1.56.0-nightly (2021-08-27 ac50a53359328a5d7f2f)` and my local installation is this:

[code]

I have no idea if this was an intentional fix or these issues just randomly vanished and the TAIT bug I linked still reproduces. I didn't find mentions of how to handle this case in any docs,

[2021-08-28 12:40] dtomvan commented on #58567
Is there a way to use rust's llvm through for example rustc?

[2021-08-28 12:49] beroal commented on #76915
It's because `cmsg_len` is now zero, so `CMSG_ALIGN` sees that the size of the control message is zero.

Adding
[code]
before
[code]
will make it work too.

This may be a bug in Glibc ([the file in their repository](https://sourceware.org/git?p=glibc.git;a=blob;f=sysdeps/unix/sysv/linux/bits/socket.h;h=a011a8c0959b9970f9784f431713a17b4ef7c682;hb=HEAD)).

[2021-08-28 12:54] jamesmunns opened #88423 "Match does not understand lifetimes of enum variants"
I tried this code:

[code]

I expected the match arm `a @ Example::TotallyOwned { .. } => a` to work, as this variant is completely owned.

Instead, I needed to completely destruct the enum variant, and create a new one, to "make Rust understand" I was creating a fully owned enum instance.

I can understand *why* this error exists: namely if I am returning a rebound instance of the original enum,

[2021-08-28 13:08] nikic commented on #80309
This is fixed on nightly by the LLVM 13 upgrade. Probably worth adding a test for this.

[2021-08-28 13:09] nikic commented on #80374
Closing this as the upstream issue is fixed and we have long since updated to LLVM 12.

[2021-08-28 13:09] #80374 closed

[2021-08-28 13:10] #87406 closed

[2021-08-28 13:10] #59306 closed

[2021-08-28 13:10] #73754 closed

[2021-08-28 13:10] #87257 closed

[2021-08-28 13:39] SkiFire13 commented on #86702
Is there any change to make this more permissible when it can be proven that if the normalized output type contains a lifetime then one of the input types must also contain it?

For example I would expect the following snippet to compile because the input and output types are the same, so there's no way only the return type contains a lifetime after normalization:

[code]

This is a more complicat

[2021-08-28 13:40] cynecx commented on #88405
Isn't it worth keeping this issue opened so we can add a proper test, so this bug doesn't regress?

[2021-08-28 13:45] nikic commented on #80630
With new DFA jump threading pass: https://rust.godbolt.org/z/v1a4c689E

[2021-08-28 14:04] PaulGrandperrin commented on #88420
Got a seemingly similar ICE, here's the output:
<details>
[code]
</details>

[2021-08-28 14:15] leonardo-m opened #88424 "New problem with const_trait_impl"
This code:

[code]

Using:

[code]

Gives:

[code]

I think this used to compile up to the precedent Nightly.

[2021-08-28 14:36] #78938 closed

[2021-08-28 15:00] beroal commented on #76915
@LinkTed Would you like to consider the pull request https://github.com/rust-lang/rust/pull/88425 ?

[2021-08-28 15:09] Sl1mb0 commented on #85931
Can this issue be closed now?

[2021-08-28 15:15] UebelAndre opened #88426 "'Unstable' flags should be more descriptive about the state of the flag"
This issue is inspired by a recent [zulip message](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/.E2.9C.94.20rustdoc.20--no-run.20option.20for.201.2E54.2E0/near/249140502) from @ehuss in a thread about `rustdoc` unstable flags.

[2021-08-28 15:17] jyn514 opened #88427 "Found unstable fingerprints for `item_children`"
I tried this code: https://github.com/rust-lang/rust/commit/5b9d468201e8825b0429ea7439e79cf3ff1bf3fd, and then renamed the top-level directory from `rust` to `rustc`.

I expected to see this happen: The compiler can bootstrap itself (possibly giving an error about the change in rustdoc, I forget if that code compiles).

Instead, this happened:

<details>

[code]
</details>

### Meta

`rustc --vers

[2021-08-28 15:19] nagisa commented on #85931
Yeah, thanks.

[2021-08-28 15:19] #85931 closed

[2021-08-28 15:22] Aaron1011 commented on #88427
This is fixed by https://github.com/rust-lang/rust/pull/87990

[2021-08-28 15:23] #88427 closed

[2021-08-28 15:51] beroal commented on #76915
[The `CMSG_NXTHDR` bug was discovered earlier.](https://stackoverflow.com/a/33893759/793392)

[2021-08-28 16:04] ehuss opened #88429 "non_fmt_panics suggestion breaks for some const functions"
I tried this code:

[code]

This provides a suggestion to replace the code with:

[code]

However, this will not compile in a const function:

[code]

I'm not actually sure what the correct suggestion should be, since `panic_any` is not const.

Found during the 2021 crater run for:
* https://crater-reports.s3.amazonaws.com/pr-87190-3/try%23a7a572ce3edd6d476191fbfe92c9c1986e009b34/reg/swiss-army-kn

[2021-08-28 16:07] the8472 commented on #76915
https://man7.org/linux/man-pages/man3/cmsg.3.html#DESCRIPTION

          When initializing a buffer that will contain a series of
          cmsghdr structures (e.g., to be sent with sendmsg(2)), that
          buffer should first be zero-initialized to ensure the correct
          operation of CMSG_NXTHDR().

[2021-08-28 16:07] nagisa commented on #88290
We used to emit some of the size mismatch errors from the old trans and were using [LLVM sizes to verify validity of the transmute](https://github.com/rust-lang/rust/blob/ee7687a5e5063dd57e7c790523c2ffea1cf49c5e/src/librustc_trans/trans/intrinsic.rs#L127-L165). This most likely was lost in migration to MIR based codegen, as I don't recall anything of the sort being present in the MIR codegen.

[2021-08-28 16:20] beroal commented on #76915
I see a conversion from `usize` to `u32` and backward:
[code]
I suppose it's because the type signatures of `libc::CMSG_LEN` and `libc::CMSG_SPACE` differ from [cmsg(3)](https://man7.org/linux/man-pages/man3/cmsg.3.html). Shouldn't we fix `libc` first?

[2021-08-28 16:21] SNCPlay42 commented on #88416
Output on rust 1.48.0 ([godbolt](https://rust.godbolt.org/z/11xq8WGGY)):

[code]

[2021-08-28 16:21] beroal commented on #76915
@the8472 thanks.

[2021-08-28 16:41] fee1-dead commented on #88424
You need `~const` on every bound when you require a const impl in a const context.

[code]

[2021-08-28 16:41] dylni opened #88430 "`#[should_panic]` ignores function-like macros"
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1268154aa9d34acf6833b9affa7e6b81

I expected to see this happen:
[code]

Instead, this happened:
[code]

Changing `concat!("a")` to `"a"` shows the expected error:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e0aa41c95b4cd19e82332b6f030987f5

@rustbot label A-libtest

[2021-08-28 16:42] dylni commented on #88430
@rustbot label +A-libtest

[2021-08-28 16:45] leonardo-m commented on #88424
I see. Thank you. So do I convert this into a diagnostic enhancement request asking for a helpful error message (or help message), or do I close this issue down and open another one for that?

[2021-08-28 16:50] tuxmark5 commented on #80630
Optimization breaks if you make `exec` as `pub`.

[2021-08-28 16:55] lqd commented on #57374
None that I'm personally aware of.

Note that the TAIT test triggering the `higher-ranked subtype error` is really triggering it, whereas the polonius ones were likely fixed by the 2 previous PRs: these blessed expectations haven't been updated yet (and CI doesn't validate them as of yet).

This issue is probably the closest/only issue tracking this specific diagnostic, so we could still use it to

[2021-08-28 17:16] ehuss opened #88431 "Cannot infer lifetime with disjoint capture."
I tried this code:

[code]

This compiles successfully without disjoint captures, but with them enable gives a lifetime error:

[code]

I would expect either it to compile successfully, or the `rust_2021_incompatible_closure_captures` lint to provide a suggestion to make it compile successfully.

Found in the 2021 crater run for https://crater-reports.s3.amazonaws.com/pr-87190-3/try%23a7a572ce3edd

[2021-08-28 17:55] carols10cents commented on #88318
I don't have a record of exactly what I changed just before getting the ICE, sorry... I can try to change my workflow to commit before each time I run rustc to try and catch it happening again, if that would be helpful?

[2021-08-28 18:11] #88047 closed

[2021-08-28 18:17] #88331 closed

[2021-08-28 18:49] camelid commented on #88415
#88093 looks to be the likely cause.

searched nightlies: from nightly-2021-07-01 to nightly-2021-08-25
regressed nightly: nightly-2021-08-20
searched commits: from https://github.com/rust-lang/rust/commit/3d0774d0dc98084d25d95cc1909a8051ebbd9cb1 to https://github.com/rust-lang/rust/commit/6d64f7f695943541fe12bb960971403f440d7225
regressed commit: https://github.com/rust-lang/rust/commit/6d64f7f69

[2021-08-28 19:02] matthiaskrgr opened #88433 "ICE: Region parameter out of range when substituting in region '_ (index=0) glacier fixed/69487-1.rs"
### Code
code from glacier/fixed/69487-1.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-28 19:05] matthiaskrgr opened #88434 "ICE: removal index (is 0) should be < len (is 0) / glacier fixed/81899.rs"
### Code
code from glacier fixed/81899.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-28 19:08] matthiaskrgr commented on #88434
This one also crashes beta and stable release channel.

[2021-08-28 19:37] orlp commented on #43244
I know this is quite an old issue, but I strongly feel that `drain_filter` should take a range argument.

[2021-08-28 20:40] leonardo-m commented on #88424
I'm battling several troubles in my code. This is an example:

[code]

[2021-08-28 21:13] zim32 commented on #65866
I am here due to the same issue. This annoying error bothers me again and again. And I spend hours and hours to figure out whats wrong with my lifetimes. This is very demotivating and frustrating.

I was trying to implement something like nom parser, there is a lot of generic code, macrorules and so on. And this lifetimes just makes me crazy.

Every time I see this message it makes my head explode

[2021-08-28 21:20] jonas-schievink opened #88438 "Excessive drop glue duplication in vtables can blow up compile times"
Currently, it seems like every CGU that contains a `&ConcreteType -> &dyn Trait` cast will instantiate the corresponding vtable and drop glue of `ConcreteType`. This can result in *massive* LLVM IR bloat that then slows down compile times.

We have observed this in rust-analyzer (https://github.com/rust-analyzer/rust-analyzer/issues/10065, also Zulip discussion [here](https://rust-lang.zulipchat.c

[2021-08-28 21:35] ehuss opened #88440 "2021 disjoint capture suggestion breaks macro_rules macro"
I tried this code:

[code]

The rust_2021_incompatible_closure_captures lint generates a suggestion which causes this to fail to compile:

[code]

I'm not exactly sure what this should do.  In this particular case, the suggestion is not required.  However, that's a fundamental problem with the `rust_2021_incompatible_closure_captures` lint, as it does not know when it is required.

In general, mod

[2021-08-28 21:53] ehuss opened #88442 "rust_2021_prelude_collisions suggestions cause compile error with generics"
Given the following code:

[code]

The `rust_2021_prelude_collisions` lint provides two suggestions, both of which fail with different errors.  The first:

[code]

fails with "type annotations needed" because the generics in the path `::<usize>` are lost.

The second:

[code]

fails with "the trait bound `(): From<u64>` is not satisfied".

Ideally I think the suggestions should be:

[code]

Found

[2021-08-28 21:57] C0D3-M4513R opened #88443 "Windows [UNC] Path substitutions on WOW"
I tried this code:
Important is, that this is run, as x86, on a x64 install (this process needs? to run under WOW), of Windows. Otherwise, this will work, as expected. I speculate further, that this is a problem, with (at least) every dll present in `c:\Windows\SYSWOW64`.
I tried running this code with `cargo +nightly-i686 run` and `cargo +stable-i686 run`

[code]

I expected to see this happen:

[2021-08-28 22:22] arora-aman commented on #88440
Some of my thought process:

My initial thoughts were we can just issue warnings for any closure that has a precise capture given it was defined within a macro.

Something like: Drop order/Trait might be affected, please check the edition guide on how to migrate. Without any specific suggestion and maybe we highlight macro a bit more in the edition guide.

But we can have a case where `capture_fro

[2021-08-28 22:54] ehuss opened #88444 "missing rust_2021_incompatible_closure_captures with async block boxed future thingy"
Given the following code:

[code]

With `feature` disabled, and the warning enabled, there is no warning issued.  With the feature enabled, this fails with the error:

[code]

I think it is missing a suggestion for `let _ = &connect` in the closure.

Found in the 2021 crater run for https://crater-reports.s3.amazonaws.com/pr-87190-3/try%23a7a572ce3edd6d476191fbfe92c9c1986e009b34/reg/gremlin-cli-0.

[2021-08-28 23:00] Aaron1011 commented on #57374
I'll start working on that

[2021-08-28 23:57] arora-aman commented on #88444
@rustbot claim

So this is a bug in the capture analysis. The inner closure captures the field `insecure` by move, but where we propogate captures from inner to outer closers, we treat move of copy types as an ImmBorrow

[2021-08-29 00:00] sffc opened #88446 "assertion failed: `(left == right)` in relate_tys.rs"
This is a bug potentially related to https://github.com/rust-lang/rust/issues/86702 or https://github.com/rust-lang/rust/issues/84937, possibly relating to lifetime resolution in a function argument that involves HRTBs.

I did my best to reduce the example, but I couldn't do it completely in isolation from the rest of the ICU4X project code.

To reproduce:

1. Check out https://github.com/sffc/omn

[2021-08-29 00:39] jyn514 commented on #88038
I think we should just change this; it's no different than https://github.com/rust-lang/rust/pull/66059 in that the code was already broken before and we just didn't happen to run it. If you're really worried we can do a crater run but I would honestly be ok with just landing this.

[2021-08-29 02:29] theo-lw commented on #87771
For reference, here's a smaller reproducible example.

### Code

[code]

<details>
    <summary>Details</summary>

### Meta

[code]

### Error output

[code]

### Backtrace

[code]
</details>

[2021-08-29 02:34] mdsn commented on #87799
@rustbot claim

[2021-08-29 03:01] SoniEx2 commented on #87074
How badly does this RFC break with `/dev/fd/` being fully safe?

[2021-08-29 03:09] jgarvin commented on #87479
I ran into a simple case using GATs where I didn't need the clause. I have a trait represent mutable pointers so that I write generic functions that work both with regular pointers and compressed pointers. Since it's for pointers, there are no lifetimes.

[code]

This is analogous in C++ to [`std::static_pointer_cast`](https://en.cppreference.com/w/cpp/memory/shared_ptr/pointer_cast) and related f

[2021-08-29 04:08] dylni opened #88453 "Private macros are documented"
### Code

I tried this code:

[code]

I expected to see this happen: `private_macro` is hidden from the documentation.

Instead, this happened: `private_macro` is shown in the documentation and has its own page. Private declarative macros are also shown.

### Version it worked on

It most recently worked on: rustc 1.56.0-nightly (8007b506a 2021-08-14)

### Version with regression

`rustc --version

[2021-08-29 04:09] dylni commented on #88453
@rustbot modify labels +requires-nightly

[2021-08-29 04:10] dylni commented on #88430
@rustbot modify labels +A-libtest

[2021-08-29 04:51] #82518 closed

[2021-08-29 05:14] inquisitivecrystal commented on #88453
Thanks for filing this issue!

This regression was almost certainly introduced in #88019. I'm looking into it.

[2021-08-29 07:32] #86945 closed

[2021-08-29 08:06] qiujiangkun opened #88455 "Seemingly a regression with std::error::Error on version `rustc 1.56.0-nightly (5eacec9ec 2021-08-28)`"
It used to compile, not now.
[project.zip](https://github.com/rust-lang/rust/files/7072120/project.zip)

[code]
[code]
https://github.com/dtolnay/anyhow/issues/164
https://github.com/clap-rs/clap/issues/2742

[2021-08-29 08:18] ChrisDenton commented on #88443
This is expected behaviour. By default x86 on x64 will automatically redirect certain paths. The `canonicalize` function shows the path it's redirected to. You can disable this using [`Wow64DisableWow64FsRedirection`](https://docs.microsoft.com/en-us/windows/win32/api/wow64apiset/nf-wow64apiset-wow64disablewow64fsredirection).

[2021-08-29 08:31] qiujiangkun commented on #88455
Seems like it's because of the version of `clap`

[2021-08-29 08:31] #88455 closed

[2021-08-29 09:40] Thomasdezeeuw opened #88457 "Internal compiler error: encountered incremental compilation error"
### Code

Since I have no idea what caused the issue I've pushed the state of the code in which the ICE occurred:
* Branch: https://github.com/Thomasdezeeuw/heph/tree/incremental_compilation_ice (won't live forever).
* Commit: https://github.com/Thomasdezeeuw/heph/commit/b6b1d7e411362314d5deaef30d4b5a1ccd3af0b1.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><su

[2021-08-29 09:40] estebank commented on #86102
I checked to see how hard it would be to accept emojis using [`rust-emoji-char`](https://github.com/open-i18n/rust-unic/tree/master/unic/emoji/char) and it wasn't hard. I haven't checked what the perf impact it might have yet, but the changes [aren't extensive](https://github.com/rust-lang/rust/commit/e54dad0553ba7964c670deb706358924ebe80dc2). Most of the logic would be in making sure we emit a si

[2021-08-29 09:50] C0D3-M4513R commented on #88443
Thank you. One can also do the following:

from https://docs.microsoft.com/en-us/windows/win32/winprog64/file-system-redirector

Mhmmm. That is interesting. Microsoft says this though. Isn't that conflicting?

Will close, since this is apparently 'expected' behavior.

[2021-08-29 09:50] #88443 closed

[2021-08-29 10:00] estebank commented on #86102
We should also use the confusables table to take whitespace and token like unicode chars (like greep question mark) error on them _in the lexer_ and translate them all to their valid ascii lookalike token. The confusable table we use isn't exhaustive but should be enough to improve the situation with things like smart quotes. We today recover somewhat, but have too many knock down errors afterward

[2021-08-29 10:03] ChrisDenton commented on #88443
No because the path string is being passed straight to the filesystem. However, for 32-bit applications, the filesystem has a filter added that redirects some file operations. This is a bit similar to the way symlinks work. If you access a path to a symlink it (by default) will be redirected to the symlinks target instead of opening the symlink itself.

[2021-08-29 10:21] C0D3-M4513R commented on #88443
"straight to the file system" and "filesystem has a filter" is the exact conflict here. Adding a conditional filter, in front of the filesystem, is not "straight to the filesystem" anymore. This is misleading.
I'll have to bash my head with Microsoft, with this one though, to get them to change the docs. (I won't)

Note: Here you need to escape backslashes, in Quotes.

[2021-08-29 11:36] Alexendoo commented on #79565
No longer ICEs since #87194

[2021-08-29 11:54] Alexendoo commented on #87573
No longer ICEs since #87875 and #80357

[2021-08-29 11:57] Alexendoo commented on #83474
No longer ICEs since #87875

[2021-08-29 12:06] Alexendoo commented on #83471
No longer ICEs since #87875, #86246 contains a test for it

[2021-08-29 12:08] Alexendoo commented on #83471
The other test in #86246 still ICEs however https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5a379643e4c068985b94ecfd666fe554

[2021-08-29 13:08] jackh726 commented on #63031
Closing as duplicate of #62529

[2021-08-29 13:08] #63031 closed

[2021-08-29 13:10] jackh726 commented on #68090
Closing since there's a similar regression test in#85499

[2021-08-29 13:10] #68090 closed

[2021-08-29 13:12] jackh726 commented on #79463
Closing as duplicate of #62529

[2021-08-29 13:12] #79463 closed

[2021-08-29 13:13] jackh726 commented on #79628
Closing as duplicate of #62529

[2021-08-29 13:13] #79628 closed

[2021-08-29 13:16] jackh726 commented on #80706
Fixed by #85499, but not sure how. Going to mark as needs-test, since this case is different from others.

[2021-08-29 13:17] jackh726 commented on #80956
I can see how this would be fixed by #85499, but we don't have a test like this. Marking as needs-test.

[2021-08-29 13:19] jackh726 commented on #81809
Fixed by #85499, not 100% sure what's going on here. But it's a different test case, so marking as needs-test.

[2021-08-29 13:21] jackh726 commented on #85455
Fixed by #85499, different enough that marking as needs-test

[2021-08-29 13:21] jackh726 commented on #86535
Fixed by #85499, marking as needs-test

[2021-08-29 13:30] geom3trik opened #88459 "Rustc can't infer GAT type when used as argument to Fn closure outside of trait"
I tried this code:

[playgorund](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0dcd779ee08f5b25260c4c212228933c)
[code]

I expected to see this happen: compiles with no errors.

Instead, this happened:
[code]
The error seems to suggest that rustc can't figure out that the associated type is `()` which should satisfy the bound in `f`.

### Meta
1.56.0-nightly ( https://gi

[2021-08-29 13:43] udoprog opened #88460 "E0277 (bound not satisfied) for bound on generic associated types when combined with HRTB"
I tried this code:

[code]

I expected it to compile since `T::Assoc<'a>` to my understanding does implement `Marker` when `T` is `Foo`.

Instead we get this error:
[code]

### Alternatives

An option is lift the `'a` bound to `test`, but that potentially causes other issues down the line like this ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7a63f2c0e506d

[2021-08-29 14:43] LinkTed commented on #76915
@beroal Looks good.

[2021-08-29 14:45] chenyukang commented on #88256
@ehuss  I have some investigation on this.
This is caused by two different hash values calculated in [here](https://github.com/rust-lang/rust/blob/de42550d0ac525f44ec79300a1cb349ade181c1a/compiler/rustc_errors/src/lib.rs#L960-L965).

The two diagnostics are the same, except that the first diagnostic has children, and the latter one doesn't have children.
I'm trying to make a fix on it.

[2021-08-29 14:45] LinkTed commented on #76915
It because `size_of` returns `usize` and `CMSG_SPACE` excepted an `u32`.

[2021-08-29 15:23] chenyukang commented on #88256
My draft [commit](https://github.com/chenyukang/rust/commit/ac700bbc617186f905697c8412f61867d3458159) fixed this issue, how do you think about it, @ehuss .
Need to add a test case for it.

[2021-08-29 17:02] arora-aman commented on #88444
So upon further thought the capture analysis doing the correct thing. We'd have seen similar behavior on Rust 2018.

I tried the following code that only uses a boolean within the closure:

[code]

I tried a rust build from early 2020 and it failed

[code]

This is another variant of #88114. It would've been nice if this suggested that the outer clouser should be a move a closure.

[2021-08-29 17:03] arora-aman commented on #88114
@nikomatsakis  another case: https://github.com/rust-lang/rust/issues/88444

[2021-08-29 17:46] #83241 closed

[2021-08-29 17:46] #88415 closed

[2021-08-29 17:56] arora-aman commented on #88431
@rustbot claim

[2021-08-29 18:16] camelid commented on #88453
Assigning priority as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388453.20Private.20macros.20are.20documented) in the prioritization working group.

@rustbot label: +P-high -I-prioritize

[2021-08-29 18:35] ehuss commented on #88256
I'm not an expert on the compiler, so I'm not the right person to ask.  However, I would say changing the hash might not be a good idea, since I think it would be bad to lose the children, or have it be non-deterministic which diagnostic gets emitted. It's also dangerous to have the Hash implementation out of sync with PartialEq since some code may be assuming those are in sync.

For this particul

[2021-08-29 19:39] arora-aman commented on #88372
Thank you for this!

[2021-08-29 20:41] barrowsys opened #88468 "ICE: rustdoc crash computing layouts in const generics"
### Code

[code]

### Meta
features:
- const_generics
- const_evaluatable_checked
[code]

### Error output

cargo doc
[code]
running the rustdoc command manually without --crate-version
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>
backtrace from the rustdoc command (without --crate-version)

[code]

</p>
</details>

[2021-08-29 21:42] ehuss opened #88470 "rust_2021_prelude_collisions bad suggestion with lifetime generics"
I tried this code:

[code]

This generates a suggestion to avoid the prelude collision with:

[code]

However, that does not compile because the generics for `PyTryFrom` is a lifetime parameter which should not be specified with `_`.  I believe the correct suggestion would be `<U as PyTryFrom>::try_from(self)` without the generic args.

Found in the 2021 crater run for:
* https://crater-reports.s3

[2021-08-29 21:44] ehuss commented on #88470
cc #88442 which is similar where `rust_2021_prelude_collisions` is having issues with generics.

[2021-08-29 21:56] camelid commented on #88434
Huh, why was this not detected earlier if it was tracked in glacier as fixed?

[2021-08-29 22:33] ehuss opened #88471 "rust_2021_prelude_collisions invalid suggestion when trait is glob imported"
I tried this code:

[code]

This has the suggestion to replace the code with:

[code]

which is invalid syntax.  The suggestion should be something like:

[code]

Found in 2021 crater run for:
* https://crater-reports.s3.amazonaws.com/pr-87190-3/try%23a7a572ce3edd6d476191fbfe92c9c1986e009b34/reg/pyportus-0.5.0/log.txt

### Meta

`rustc --version --verbose`:
[code]

[2021-08-29 23:35] Noble-Mushtak commented on #88434
If you add a `'static` annotation to the trait bound on `F`, then it no longer ICEs. Here's the code:
[code]

Output:
[code]

And if you add the two feature attributes the above messages ask you to enable, it still does not ICE, but correctly errors with "evaluation of constant value failed."
[code]

Based on some debugging which I [described here](https://rust-lang.zulipchat.com/#narrow/stream/18

[2021-08-30 00:38] aDotInTheVoid opened #88472 "Bad diagnostic when attemting to import private item via glob"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-08-30 01:35] rust-highfive opened #88473 "`miri` no longer builds after rust-lang/rust#88337"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#88337, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @eddyb, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-08-30 01:41] Nyanggi opened #88474 "why do i need fn main() {} always"
why

[2021-08-30 01:45] Fn79 commented on #88474
Code starts in the `main()` function

~~냥이님 안녕하세요~~

[2021-08-30 01:53] jonas-schievink commented on #88474
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2021-08-30 01:53] #88474 closed

[2021-08-30 02:43] ehuss opened #88475 "array_into_iter does not trigger for existing trait impl"
I tried this code:

[code]

This code will not emit the `array_into_iter` lint.  When updating to the 2021 edition, the code fails to compile:

[code]

I would expect the `array_into_iter` lint to give the appropriate suggestion.

Found in the 2021 crater run for:
* https://crater-reports.s3.amazonaws.com/pr-87190-3/try%23a7a572ce3edd6d476191fbfe92c9c1986e009b34/gh/dranikpg.simple-rays/log.txt

##

[2021-08-30 03:08] camelid commented on #88434
@Noble-Mushtak If you plan to work on this issue, I recommend claiming it so other people know that and don't start working on it too. You can claim the issue by commenting with `@rustbot claim`. More details about how to use rustbot are [in the rustc-dev-guide](https://rustc-dev-guide.rust-lang.org/rustbot.html).

You may also want to read the ["Getting Started" section](https://rustc-dev-guide.r

[2021-08-30 03:48] ehuss opened #88476 "missing rust_2021_incompatible_closure_captures with manual drop and move closure"
I tried this code:

[code]

This does not issue a warning for `rust_2021_incompatible_closure_captures`, however it fails to compile with `capture_disjoint_fields` enabled:

[code]

I would expect `rust_2021_incompatible_closure_captures` to give a suggestion to add `let _ = &f`.

Found in the 2021 crater run for:
* https://tiny.cc/oaaiuz/reg/stakker_async_await-0.0.1/log.txt
* https://tiny.cc/oaa

[2021-08-30 04:34] arora-aman commented on #88476
@rustbot claim

[2021-08-30 05:46] arora-aman commented on #88440
Maybe related to: https://github.com/rust-lang/rust/issues/87955

[2021-08-30 07:51] jethrogb opened #88479 "Run tests with compilter_builtins"
Rust CI is currently not gated on running the std tests on any targets that rely on compiler_builtins/libm. See e.g. this test failure https://github.com/rust-lang/rust/pull/85925#discussion_r654904770. This makes some sense, since none of these targets are tier 1. However, these components are used in many tier 2/tier 3 targets. This issue is to somehow run the Rust test suite with compiler_built

[2021-08-30 07:54] #88453 closed

[2021-08-30 08:34] hellow554 commented on #88446
MCVE:

[code]

Bisecting now

[2021-08-30 08:40] jorgecarleitao opened #88480 "Inlined iterator degrades performance when crosses crate boundaries"
Given the iterator

[code]

the bench

[code]

is about 20% slower than the equivalent "raw" implementation

[code]

However, when the iterator's code is copy-pasted to the bench file itself, there is no difference between `bench_baseline` and `bench_sum_count1`, indicating that `inline` is not being fully respected across crate boundaries.

Minimal repro with benches included: https://github.com/

[2021-08-30 09:12] hellow554 commented on #88446
searched nightlies: from nightly-2021-07-21 to nightly-2021-08-30
regressed nightly: nightly-2021-08-26
searched commits: from https://github.com/rust-lang/rust/commit/b03ccace573bb91e27625c190a0f7807045a1012 to https://github.com/rust-lang/rust/commit/0afc20860eb98a29d9bbeea80f2acc5be38c6bf3
regressed commit: https://github.com/rust-lang/rust/commit/0afc20860eb98a29d9bbeea80f2acc5be38c6bf3

<deta

[2021-08-30 09:18] #49012 closed

[2021-08-30 10:01] b-naber commented on #88459
This seems related to https://github.com/rust-lang/rust/issues/88382

[2021-08-30 10:12] matklad commented on #88438
Further investigation shows that the trait objects are an accidental detail here.

I've put a repro for the problem here:

https://github.com/matklad/repros/tree/f6ce0cb8cfff123ca95d3caa3feb874328e39fe5/drop-monomorphisation

It contains three crates.

`a` defines a generic type:

[code]

`b` defines a concrete type using some specific instantiation of `a`'s type:

[code]

`c` use the type from `b

[2021-08-30 11:15] hellow554 commented on #88421
Needs an external crate for it to work! In this case I use a `lib.rs` and `main.rs` in the same project.

_main.rs_:
[code]

_lib.rs_:
[code]

Regression in nightly-2020-09-25 8b4085359ae798dedb05c95ad42520557bd25320...e599b53e67ddd197a09a3

[2021-08-30 11:29] iCraft85 opened #88485 "Reciving this error message: error[E0658]: use of unstable library feature 'assoc_char_consts': recently added and error[E0658]: or-patterns syntax is experimental"
Hi! I am reciving this error message `error[E0658]: use of unstable library feature 'assoc_char_consts': recently added` and `error[E0658]: or-patterns syntax is experimental` when I am trying to build.
[code]

This is the full error message, I visited the github posts it guided me to but I didn't understand a thing that was going on there and cause of that couldn't really do anything.

[2021-08-30 11:33] jonas-schievink commented on #88485
Your Rust version is outdated.

[2021-08-30 11:33] #88485 closed

[2021-08-30 12:31] Noble-Mushtak commented on #88434
@rustbot claim

[2021-08-30 12:35] scambier opened #88487 "internal compiler error: encountered incremental compilation error with predicates_of(core[460f]::cmp::PartialOrd)"
Related to #84970, I'm filling this because cargo asked nicely :)

### Code

Context: this is an excerpt from a roguelike game that uses Legion as its ECS lib. I guess the bug was there, since it's the only place I'm using `.partial_cmp()`.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>

[2021-08-30 12:40] yoshuawuyts opened #88488 "ICE: "no entry found for key" while building stage0 tools"
Checked out the latest version of the compiler today to write a patch, but ran into an ICE when doing `py check`. I haven't changed anything recently, so not sure what's causing this.

### Code

Compiling the compiler at commit 13edc17f65bcad7fe9046720a16fc192e810970e

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p

[2021-08-30 13:48] apricot-quote opened #88489 "openbsd slow compile and patche q"
seem a lot of them and they not share back https://github.com/openbsd/ports/tree/master/lang/rust/patches
can be included official or only if person prs it? not sure why they not share, mmaybe dont care for oss or project?

do any patch there cause slow compile? seems openbsd objective slower than other os whhen building projects and is cause issue

[2021-08-30 13:53] Mark-Simulacrum commented on #88351
Working on a patch bumping object, going to try and make the test @ehuss suggested into a run-make test as well.

[2021-08-30 14:02] chenyukang commented on #88256
I have more debugging on this.

There are two execute paths finally flow to analyze the expr,

[code]
The C1 will finally call to [check_expr](https://github.com/rust-lang/rust/blob/master/compiler/rustc_lint/src/unused.rs#L790)
The C2 will finally call to [check_stmt](https://github.com/rust-lang/rust/blob/master/compiler/rustc_lint/src/unused.rs#L830)

Seems it's common in lint since a see some

[2021-08-30 14:13] chenyukang commented on #88256
These two test cases have similar duplicated warnings reported out:
https://github.com/rust-lang/rust/blob/master/src/test/ui/lint/outer-forbid.stderr
https://github.com/rust-lang/rust/blob/master/src/test/ui/lint/outer-forbid.stderr

[2021-08-30 14:23] chenyukang commented on #88256
How do you think @estebank , do you think custom Hash is the right way for this? I'm a beginner in hacking Rust compiler, maybe you have any more idea.

[2021-08-30 14:31] ShadowJonathan commented on #58590
An interesting addition to this conversation; [fuchsia doesn't have `..`](https://twitter.com/adambarth/status/1405201011157786630)

[2021-08-30 14:37] richkadel commented on #88307
@c410-f3r - Can you offer an update on the fix for this? Thanks.

[2021-08-30 14:43] qbit commented on #88489
@apricot-quote implying people (who have put _great_ effort into both rust _and_ OpenBSD) "dont care for oss or project" is absolutely not welcome.

The OpenBSD ports tree has a number of requirements that make patching some stuff necessary  (i'll leave you to determine why).  A lot of patches simply aren't suitable for upstreaming.

Before flinging blame or making accusations about the work peopl

[2021-08-30 15:04] Aaron1011 commented on #88487
This should be fixed by https://github.com/rust-lang/rust/pull/88414

[2021-08-30 15:53] cbarrick commented on #88244
I can confirm this works again in the playground.

[2021-08-30 15:53] #88244 closed

[2021-08-30 15:57] nikomatsakis commented on #88444
I agree this is a duplicate of #88114

[2021-08-30 16:47] newpavlov commented on #76354
In cryptographic code we **need** to be able to split `&[T]` into `&[[T; N]]` and `&[T]`, since the former gets passed to code which processes data in blocks, while the tail gets either padded or saved for future processing. `&[[T; N]]` may even get split into `&[[[T; N]; M]]` in code which is able to process several blocks in parallel.  The current `ArrayChunks` version of `array_chunks` is effec

[2021-08-30 16:49] m-ou-se commented on #88470
Similar problem (not found in hte crater results):

[code]

[code]

(The lifetime is now on the Self type, not on the trait.)

[2021-08-30 16:54] m-ou-se commented on #88470
The problem also exists for const generics. But I don't think we can solve that without `#![feature(generic_arg_infer)]`.

[2021-08-30 16:57] ibraheemdev opened #88494 "Tracking Issue for `tcp_linger`"
Feature gate: `#![feature(tcp_linger)]`

This is a tracking issue for the `TcpStream::linger` and `TcpStream::set_linger` methods that set the `SO_LINGER` option on the socket. Behavior works as expected on both Unix and Windows.

### Public API

[code]

### Steps / History

- [ ] Implementation: #...
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-08-30 17:23] she3o opened #88498 "Compiler error while building https://github.com/Kampfkarren/full-moon"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

I omitted the warnings produced by the compiler prior to panicking. They seemed irrelevant to the bug.

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-30 17:46] she3o commented on #88498
`rustup default stable` fixed this. Compilation is successful and no errors are produced.

`rustc --version --verbose`:
[code]

[2021-08-30 17:51] she3o commented on #88498
`rustup default beta` also fixed this. Compilation is successful and no errors are produced.

`rustc --version --verbose`:
[code]

[2021-08-30 17:57] she3o commented on #88498
This seems like a bug in `nightly` and was fixed in `beta`. Closing.

[2021-08-30 17:57] #88498 closed

[2021-08-30 18:07] m-ou-se commented on #88429
This is a known issue: https://github.com/rust-lang/rust/issues/85194

Closing this, as it's part of the unstable const_panic feature.

[2021-08-30 18:07] #88429 closed

[2021-08-30 18:25] m-ou-se commented on #88347
The same happens for arguments, not just for the receiver:

[code]

[code]

And worse: if the source code of `todo!()` in `core` isn't available, this ICEs.

[2021-08-30 18:49] m-ou-se commented on #88475
The lint specifically checks if it is libcore's IntoIterator::into_iter before producing the lint:

https://github.com/rust-lang/rust/blob/6cfa773583bb5123e630668f5bfe466716225546/compiler/rustc_lint/src/array_into_iter.rs#L69-L75

Maybe the check shouldn't be there. Maybe instead, it should check if the receiver is an array.

[2021-08-30 19:00] m-ou-se commented on #88475
Changing some of the checks to include this situation for that lint would result in a completely wrong diagnostic:

[code]

Instead, it'd have to do something more like the prelude collision lint. It'd have to generate the right fully explicit call syntax and some message about it becoming ambiguous in the new edition.

[2021-08-30 19:16] Mark-Simulacrum commented on #87341
The lang team discussed this last week and came to the conclusion that:

* Fixing repr(no_niche) to transitively apply seems like a clear win, we should do this immediately
* It may be possible that some types that contain UnsafeCell may still be able to allow niches in the UnsafeCell, such as Cell, with the appropriate codegen. But this is future design work and need not block fixing potential ga

[2021-08-30 19:36] m-ou-se commented on #88442
Looks like the turbofishes are swimming away!

*grabs turbofish food*

[2021-08-30 20:03] m-ou-se commented on #87621
The latest nightly no longer produces the wrong suggestion.

The error is still produced, but that's not a problem that rustc can solve. That's up to the `contracts` crate, to use the right spans.

Closing this.

[2021-08-30 20:03] #87621 closed

[2021-08-30 20:06] m-ou-se commented on #88115
This is an instance of https://github.com/rust-lang/rustfix/issues/198.

Closing this as duplicate.

[2021-08-30 20:06] #88115 closed

[2021-08-30 20:07] the8472 commented on #88480
[code]

That calls `::new` inside your benchmark loop. Since that method is neither generic nor `#[inline]` it it's not eligible for cross-crate inlining so that might hide important information from the optimizer.
Try adding the inline annotation to that.

[2021-08-30 20:09] m-ou-se commented on #88106
Closing this, as this is not something we will be fixing.

[2021-08-30 20:09] #88106 closed

[2021-08-30 20:14] anp commented on #58590
Updating with what I think are more concrete next steps:

1. Produce an experimental toolchain without `cfg(unix)` to identify Fuchsia's own crates.io dependencies that are broken
1. Work with maintainers of dependencies from (1) to get them compiling for Fuchsia without `cfg(unix)`
1. Roll dependency updates from (2) through to Fuchsia's source tree
1. Remove Fuchsia's `target_family`, leaving fi

[2021-08-30 20:15] m-ou-se commented on #88113
The first case doesn't seem to be a case of doubly-applied suggestions: https://github.com/rust-lang/rust/blob/6cfa773583bb5123e630668f5bfe466716225546/compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs#L936-L941

Changing the `<>` there to `«»` results in:

[code]

[2021-08-30 20:16] jorgecarleitao commented on #88480
Indeed that was the root cause. Interesting that even though it is not part of the loop, it still impacts the loop. Does this imply that we need to inline all `.iter`, `.into_iter`, `Iterator::new` for the hot loops to be inlined?

[2021-08-30 20:16] #88480 closed

[2021-08-30 20:24] m-ou-se opened #88508 "Invalid suggestion to change <Trait>::.. to <<dyn Trait>>::..:"
Split off from https://github.com/rust-lang/rust/issues/88113

Example here: https://crater-reports.s3.amazonaws.com/pr-87190-2/try%23d8627d19850b63702b76089d7b055730e9ddca14/reg/extended-primitives-0.3.5/log.txt

[code]

This suggests
[code]
which is not valid.

[2021-08-30 20:25] m-ou-se commented on #88113
I've split the `<< .. >>` issue into another issue: https://github.com/rust-lang/rust/issues/88508

[2021-08-30 20:26] the8472 commented on #88480
You might want to experiment with your code on https://rust.godbolt.org/

The _loop_ itself most likely is inlined, but the optimizer loses information about `slice` being passed through the non-inlined `new` method and then used in the loop afterwards. That leads to the loop being less optimized.

[2021-08-30 20:51] SkiFire13 commented on #87341
I wonder, do we really need a `#[repr(no_niche)]`? We already have a `#[repr(transparent)]` type that disables niches: `MaybeUninit`. Can't we reuse it? Something like:

[code]

[2021-08-30 20:54] Aaron1011 commented on #88488
It looks like old incremental compilation data is getting reused. I believe that this should be fixed by `https://github.com/rust-lang/rust/pull/86641`.

In the meantime, running `./x.py clean` should fix this.

[2021-08-30 21:05] ehuss opened #88510 "reserved prefixes break inline_python"
I tried this code:

[code]

This code will fail to compile in 2021 because `f"{y}"` is reserved.  However, `rust_2021_prefixes_incompatible_syntax` will cause a space to be inserted which will also fail to compile (because that is not valid Python syntax).

I don't think there is anything that can be done here, since reserved prefixes are fundamentally incompatible with what `inline_python` is try

[2021-08-30 21:07] m-ou-se commented on #88510
Yes, this was discussed at length before accepting the reserved prefixed change. I'll fix this on the side of inline-python, by accepting and removing whitespace in those situations. :)

[2021-08-30 21:12] m-ou-se commented on #88510
Moved the issue to the inline-python repository, as there's nothing to do on the side of rust: https://github.com/fusion-engineering/inline-python/issues/44

[2021-08-30 21:12] #88510 closed

[2021-08-30 21:14] #88372 closed

[2021-08-30 21:19] SNCPlay42 commented on #88498
This is backwards; the `nightly` branch has fresher code than the `beta` branch (which is in turn fresher than `stable`). So this was working fine in `stable` and `beta` but has regressed in `nightly`.

And while this does look similar to #88307, it also looks slightly different (there is no `as` cast involved here as far as I can tell from the [code](https://github.com/Kampfkarren/full-moon/blob/

[2021-08-30 21:25] sunfishcode commented on #87074
It doesn't break the RFC; see [the discussion of /proc/self/fd](https://github.com/rust-lang/rfcs/pull/3128#issuecomment-849576788) in the RFC, which also applies to /dev/fd, as well as [the discussion on internals.rust-lang.org](https://internals.rust-lang.org/t/pre-rfc-i-o-safety/14585/33).

[2021-08-30 21:30] eddyb commented on #87341
I mean, do we even need *anything* at all, other than the fact that `UnsafeCell` is known to the compiler?

Users might be fine with getting this effect, if they ever need it for some other reason, through either `UnsafeCell` or `MaybeUninit`.

[2021-08-30 21:49] cynecx commented on #84326
Instead of completely removing the methods from the implementors pages. Can we just show their signature without docs? That would certainly help with navigation, the same way it does with the associate types (which  https://github.com/rust-lang/rust/pull/88490 adds back).

@GuillaumeGomez, @jyn514 ?

cc https://github.com/rust-lang/rust/pull/88490

[2021-08-30 22:01] thomastaylor312 opened #88513 "Incremental compilation failure on build"
It looks like `predicates_of` is listed in the table in the issue, but both the compiler and #84970 say to report it, so here it is! I don't have a minimal example to reproduce this, but I'll drop in the error. If this isn't helpful at all, feel free to close!

### Code

Nothing to provide here. This happened when compiling [Bindle](https://github.com/deislabs/bindle) for reference

### Meta

`rus

[2021-08-30 22:56] ehuss opened #88514 "Diagnostic suggestions sometimes incorrectly point to external crates"
In some situations, rustc may provide a diagnostic suggestion in an external crate, which in general it shouldn't do.  These external crates may be in cargo's registry cache, which the user should not be modifying.  For example, `cargo fix` may stomp on changes outside of the package (which is a separate issue).  Usually rustc is good about avoiding this, so I'm not sure what is wrong in these sit

[2021-08-30 23:17] ehuss opened #88519 "`unused_parens` false positive on cast with match expression"
I tried this code:

[code]

This generates a warning about unused parentheses:

[code]

However, applying the suggestion causes it to fail to compile:

[code]

Found in the 2021 crater run for:
* https://crater-reports.s3.amazonaws.com/pr-87190-3/try%23a7a572ce3edd6d476191fbfe92c9c1986e009b34/reg/embly-wrapper-0.0.2/log.txt

### Meta

`rustc --version --verbose`:
[code]

[2021-08-30 23:24] ehuss commented on #88519
Another example:

[code]

https://crater-reports.s3.amazonaws.com/pr-87190-3/try%23a7a572ce3edd6d476191fbfe92c9c1986e009b34/gh/ashtuchkin.rypt/log.txt

[2021-08-30 23:40] Celthi commented on #70263
Got the same error for the following code.
[code]

[code]
The code is from https://play.rust-lang.org/?version=nightly&edition=2018&gist=60e4897af31d7e1dcee687ff49e0c41b
[code]

[2021-08-30 23:46] chenyukang commented on #88519
As the hint wrote, the parentheses should bed added in a different position:

[code]

[2021-08-30 23:49] chenyukang commented on #88519
The second is:

[code]

[2021-08-31 00:07] akiirui commented on #88297
Ok, I will do this, Thanks.

[2021-08-31 00:07] #88297 closed

[2021-08-31 00:55] nbdd0121 opened #88520 "`compiler-builtins` test no longer passing on `ppc64le`"
The current HEAD of compiler-builtin's master branch no longer passes CI tests. Error reports failing at `testcrate/tests/cmp.rs:34:9` for `powerpc64le-unknown-linux-gnu` target.

Bisection shows that the test still builds in nightly-2021-08-21 but fails in nightly-2021-08-22, so I suspect the issue is from LLVM upgrade #87570.

Initially discovered in rust-lang/compiler-builtins#405.

[2021-08-31 01:00] ayermolo opened #88521 "[DWARF] Crate Debug Info incomplete?"
Hello.

To preface this. I know nothing about RUST and its compiler. I am coming to this issue on toolchain side BOLT/DWP and dealing with debug information that is produced.

### High level summary:
I am seeing multiple Skeleton CUs that have exact same DWO ID. So for example with ThinLTO when Split dwarf is enabled in main binary there are multiple CUs that point to different .dwo files, but hav

[2021-08-31 01:23] iCraft85 commented on #88485
@jonas-schievink
I am still reciving this error even after I updated (I used this command to update: `rustup update`
[code]

[2021-08-31 01:25] jonas-schievink commented on #88485
Please ask questions about how to use Rust over on https://users.rust-lang.org/, it is likely that you're not using the rustup-installed Rust version to build.

[2021-08-31 02:03] theo-lw commented on #88037
I checked the playground link, and this seems to have been fixed in the latest nightly build (2021-08-29 2f662b14033c4369b0a7).

[2021-08-31 03:21] clarfonthey commented on #69835
Potential bikeshed: maybe these methods should be moved to the `ptr` module instead of `mem`, where they can drop the `_raw` suffix. There already is some precedent for methods in these modules sharing names (e.g. `ptr::swap` versus `mem:;swap`) and I think it feels more natural.

[2021-08-31 08:15] ptrojahn commented on #87791
@rustbot claim

[2021-08-31 08:17] vladbat00 opened #88526 "Introducing a GAT parameter leads to a false positive E0207 for another parameter constrained by Fn type"
I tried this code:

[code]

I expected it to compile. Instead, I've got the following error:
[code]

If I remove the GAT, the code compiles successfully. I've created the following two playground examples to play around with (the first one compiles, the second one doesn't):
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=15548086c5da59870ffbf5b4fe4de27a
https://play.rust-l

[2021-08-31 08:32] #88431 closed

[2021-08-31 08:45] vandenheuvel commented on #74400
On today's nightly, the error is now:
[code]
That seems correct, and with the extra lifetime, the snippet compiles:
[code]

[2021-08-31 10:37] Stargateur commented on #64266
So this feature is used to make breaking change to avoid breaking change ? The concept of `solf_unstable` don't make any sense for me, specially `#[deny(soft_unstable)]` if is default. It's just more complicate way that produce the same result. Or I'm missing something.

`#[stability(level=2.33333333, wind-strenght=5.3)]` (not from me, author probably wish to stay in shadow)

[2021-08-31 10:42] Kazurin-775 commented on #88071
Update: I'm not quite sure what happened, but it seems that this problem is already fixed in the latest nightly, and both code snippets can now be compiled without problem. Maybe it's time to close this issue.

(This issue should be some kind of regression introduced at some point between `nightly-2021-08-14` and `nightly-2021-08-15`, according to my tests.)

[2021-08-31 10:53] jyn514 commented on #88489
This is not really actionable; it's common for distros to patch the programs they package. @qbit you're of course welcome to upstream patches if you think they'd be useful for others :) but I skimmed through the patches and I agree most of them are BSD specific.

[2021-08-31 10:53] #88489 closed

[2021-08-31 11:05] jyn514 commented on #88521
@ayermolo I'm not familiar with debuginfo generation - you'll probably get a more prompt response if you ask in T-compiler on Zulip: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler

[2021-08-31 11:05] jyn514 commented on #88521
I'm curious though why this has never come up before? It sounds like a lot of tools depend on this.

[2021-08-31 11:17] Alexendoo commented on #80074
No longer ICEs since #88019

[2021-08-31 11:20] #88473 closed

[2021-08-31 12:21] gilescope commented on #64102
The rust cryptography working group were saying that they could achieve C-level performance with their algorithms if a black box function was stabilized. That seemed to be the MVP. ( https://www.youtube.com/watch?v=uSqXIPWr4-4 )

[2021-08-31 13:00] RalfJung commented on #64102
That doesn't quite sound right... this black box function being tracked here is purely advisory, it does not *force* the compiler to do anything -- so relying on it in a crypto implementation seems problematic?

[2021-08-31 13:00] m-ou-se opened #88531 "No way to get compile-time info from the type of local."
[code]

This doesn't work. There's no way to express here that the *value* of `x` is entirely irrelevant, and that `bla` only cares about the type of the argument.

If we had a magic `PhantomData::of(x)` that would work in const contexts regardless of whether `x` itself is const, we could do things like this:

[code]

[2021-08-31 13:00] m-ou-se commented on #88531
cc @oli-obk @eddyb

[2021-08-31 13:03] m-ou-se commented on #88531
The more 'obvious' alternative is `typeof`:

[code]

But I've been told that `typeof` is not and probably never going to work on locals like that.

[2021-08-31 13:46] Amanieu commented on #49638
That's not true: each node in the tree has a pointer to its parent, so you don't need to track this in the cursor itself.

I would recommend mirroring the API of `intrusive_collections::RBTree`, specifically these methods which all return cursors:
- [`find`](https://docs.rs/intrusive-collections/0.9.2/intrusive_collections/rbtree/struct.RBTree.html#method.find)
- [`entry`](https://docs.rs/intrusiv

[2021-08-31 14:02] #87812 closed

[2021-08-31 14:02] #88470 closed

[2021-08-31 14:02] #88471 closed

[2021-08-31 14:02] #88475 closed

[2021-08-31 14:02] #88508 closed

[2021-08-31 14:03] b-naber commented on #88433
@rustbot claim

[2021-08-31 14:11] ijackson commented on #64102
Yes.  This is a weakness with the current definition.  IMO the right answer is to give the crypto folks what they are asking for.  I don't think there is any difficulty with specifying what that would be.  The difficulty seems to be with LLVM, and that may be too hard to surmount :-/.

[2021-08-31 14:18] SkiFire13 commented on #88531
You can kind of emulate `typeof` with type-alias-impl-trait`, in particular this compiles on nightly:

[code]

[2021-08-31 14:55] ayermolo commented on #88521
Ok, I'll ask there.
No idea. As I said I am not familiar with Rust and just dealing with it's output on tools side of things. So any tips and whatnot are appreciated. Maybe my understanding of what's happening is completely wrong.

[2021-08-31 15:03] jyn514 commented on #88521
Note that modules, crates, and codegen units are all different. "Modules" in Rust only affect privacy, they don't affect codegen (it sounds like you were treating LLVM modules the same as Rust modules above, and they're not the same). "Crates" are "codegen units for the rust compiler", they're all compiled at once and there's various things you can do within a crate that you can't do outside it (e

[2021-08-31 15:09] spastorino commented on #83190
As noted on PR #88533 we need a reduction of the ICEing example from `bioyino-metric`.

@rustbot ping cleanup-crew

[2021-08-31 15:22] b8591340 opened #88534 "Associated const generic impl for extension trait does not pick up existing impl"
[`playground`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=498a600d51af0710f25709d2114a028f)

[code]

[code]

[2021-08-31 15:59] matthiaskrgr opened #88536 "ice: `SaveContext::typeck_results` called outside of body' with -Zsave-analysis"
code reduced from `./src/test/ui/symbol-names/const-generics-structural-demangling.rs`

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/symbol-names/const-generics-structural-demangling.rs --emit=mir  -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-31 16:01] theo-lw commented on #87105
I'd like to try my hand at this @rustbot claim.

[2021-08-31 16:12] oli-obk commented on #88531
![unknown](https://user-images.githubusercontent.com/332036/131538425-4087a984-2f70-4241-805f-d4af1d8c755e.png)

[2021-08-31 16:13] pitaj commented on #64102
I think the questions are:

- What would a definition that fits their use case look like?
- How would that guarantee be implemented in the compiler?

[2021-08-31 16:14] briansmith commented on #64102
Even benchmarking people don't want an "advisory" function. They want one that does what is requested, reliably, just like the crypto people. (I am in both sets of people.) That doesn't mean that a single solution needs to work for both benchmarking and crypto though.

My understanding is that the LLVM people within Google and the crypto people within Google do some work to ensure that clang compi

[2021-08-31 16:15] Aaron1011 commented on #88513
This should be fixed in the next nightly.

[2021-08-31 16:20] briansmith commented on #64102
I suggest we split out the talk of crypto stuff into its own RFC. I think a crypto black box function would be more limited in scope (e.g. less generic w.r.t. which types it operates on) and would need a more rigorous implementation and testing strategy. Even if in the end `hint::bench_black_box` and any crypto black box were to end up being implemented the same way under the covers, having them a

[2021-08-31 16:20] Lokathor commented on #64102
I don't expect that a programmer ever wants the advisory-only version.

[2021-08-31 16:30] rib opened #88537 "NLL non lexical lifetime not handling a (seemingly) simple case"
I tried this code:

[code]

I expected this to compile but it only compiles if I expand the scope that covers the locked write near the end so it encompasses `connection_status_handler` because otherwise the compiler will complain that `connection_status_handler` is not `Send` safe and might be used after the final `await`.

Considering that the await is at the end of the function (so there's no c

[2021-08-31 16:31] the8472 commented on #64102
I  disagree. For microbenchmarks it would certainly be _nice to have_ a function that's guaranteed to work. But practically speaking it's not _necessary_. At the end of the day when results look wonky I run `objdump` or look at the assembly in `perf` to see what's happening and when entire functions which I want to benchmark get replaced with a constant I know that I have to adjust the benchmark.

[2021-08-31 16:33] mqudsi opened #88545 "Generated docs on long pages render text on top of itself"
_I hope this is the right repo to report this, I wasn't sure if it should go in the main rust repo instead._

The generated docs for pages with a crazy number of items seem to give up on positioning and then just dump all subsequent entries on the same line past a certain point. It looks like it might be related to hardware acceleration, but I'm not sure.

For example, viewing https://doc.rust-lan

[2021-08-31 16:39] the8472 commented on #64102
That wouldn't necessarily help with optimizing wasm runtimes. Or other backends such as GCC and cranelift. To be part of core it would have to be something that can be guaranteed for all backends.

[2021-08-31 16:41] briansmith commented on #64102
Each backend would need to provide such an intrinsic, in order for these things to work reliably. A backend might not do a good job implementing the black box but that would be a bug in that backend. Perhaps not a high-priority one, and not a high severity one (for benchmarking) but a bug nonetheless.

[2021-08-31 16:52] hellow554 commented on #83190
This is my current MCVE:

[code]

combine is 0.4

try to reduce it further later or tomorrow (:

[2021-08-31 16:59] ibraheemdev opened #88539 "Tracking Issue for `slice_swap_unchecked`"
Feature gate: `#![feature(slice_swap_unchecked)]`

This is a tracking issue for `slice::swap_unchecked`, an unsafe version of `slice::swap` that does not do bounds checking.

### Public API

[code]

### Steps / History

- [ ] Implementation: TODO
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-08-31 17:07] ijackson commented on #64102
Instead of providing something which is documented to maybe do anything, perhaps it would be better to provide something which is documented to work, but only on the platforms where we can make it work.

[2021-08-31 17:09] ijackson commented on #64102
And, I should say, then we could perhaps stabilise it when it's available for supported platforms.

[2021-08-31 17:15] ibraheemdev commented on #57772
This is a docs issue. The docs imply that `sleep` is guaranteed to sleep for *at least* the specified duration, while that is not the case on windows.

[2021-08-31 17:15] ibraheemdev commented on #57772
Actually, the docs state this outright:

[2021-08-31 17:18] Amanieu commented on #64102
LLVM's profile-guided optimization has support for value profiling which records the range of values that a variable holds. Even if you hide a constant behind inline assembly, the optimizer can still use the profiling information to create a "fast path" if the runtime value coming out of the inline assembly matches a known constant.

My point is, the current `black_box` intrinsic does not provide

[2021-08-31 18:18] briansmith commented on #64102
@Amanieu those are good points. In the case of `bench_black_box` I think the issue is, should `bench_black_box` be stabilized before any/all built-in support for making it work reliably is implemented in back-ends. I don't have strong feelings on that, but I'd bias towards having something that sometimes doesn't work, and then incrementally improving on it. I think things would be different for a

[2021-08-31 18:22] usbalbin commented on #88037
Great! Thanks :)

[2021-08-31 18:22] #88037 closed

[2021-08-31 18:28] m-ou-se commented on #88440
The invalid syntax there is already fixed by https://github.com/rust-lang/rust/pull/87958

![image](https://user-images.githubusercontent.com/783247/131556606-71ec3194-d249-4f2d-9312-58d0aa48cb83.png)

[2021-08-31 18:51] spastorino commented on #83190
@hellow554 great if you come up with a standalone repro, please open a PR and feel free to assign it to me.

[2021-08-31 18:52] spastorino commented on #86727
All the open PRs about this are now closed.

[2021-08-31 19:33] #88347 closed

[2021-08-31 19:33] #88442 closed

[2021-08-31 19:44] RalfJung commented on #64102
I think you are underestimating how difficult this is to specify. I literally don't know how to do it. The current definition is a compromise because so far no proposal for a stronger specification has surfaced, at least nothing I would consider a proper formal spec.

I have some kind of an idea for what crypto people *do* want (assuming this is about what is called "constant time" in the crypto c

[2021-08-31 19:58] the8472 commented on #64102
Picking up an earlier conversation:

Would adding a hedge word do the job? `maybe_black_box`, `try_pessimize` or similar.

[2021-08-31 19:59] RalfJung commented on #64102
The issue is mostly that it is really hard to capture what black_box is *supposed* to do. Like most programming languages, the Rust spec uses an "as-if" rule -- if two programs are *observably* doing the same, they are considered equivalent. And the definition of "observation" here is solely about system calls (and volatile accesses). So it is entirely meaningless to claim guarantees about how lon

[2021-08-31 20:21] RalfJung commented on #64102
Optimizations are likewise not part of what is considered "observable" -- that's the only reason why the compiler is even allowed to just change your code to do something else (and hopefully faster): as long as the sequence of syscalls issued by the program stays the same, everything is fair game.

So, neither the presence nor absence of any optimization is actually "observable" in this sense. Hen

[2021-08-31 20:27] the8472 commented on #64102
Does it require syscalls though? Shared memory is also externally observable and I hope llvm provides explicit guarantees around that. So instead of the assembly approach we could also allocate a shared memory region and launder values through that (atomic? volatile?), although that might have more overhead than passing through registers.

[2021-08-31 20:32] RalfJung commented on #64102
I assume you mean memory shared across process boundaries? (For many people including me, "shared memory" means memory shared across *thread* boundaries.)

Well technically I think non-volatile accesses are not observable no matter the underlying memory, and compilers certainly optimize like that. But it turns out that in practice, if you have to keep other threads inside the same process happy (w

[2021-08-31 20:33] ojeda commented on #64102
This is basically the same discussion as for [N2682 `memset_explicit`](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n2682.htm).

In the C case, the two main avenues discussed to do so have been "intent semantics" (i.e. say what is expected, without any particular guarantee) and "implementation-defined semantics" (i.e. read your vendor manual to see if this is supposed to work).

And yes, formal

[2021-08-31 20:35] Lokathor commented on #64102
Using volatile can ensure that a value gets a real address at some point, but that's about as much as it can help with black boxing. The compiler could still pre-compute a full expression and just const fold it into a single value that then gets an address which is accessed with volatile.