[2019-03-07 20:18] jonas-schievink commented on #58997
Not sure this is a bug - libcore is opt-out just like libstd is, you need `#![no_core]`

[2019-03-07 20:23] kuviman commented on #51886
It looks like anything but `Box<T: FnMut()>` and `T: FnMut()` itself, cause this error:

[code]

[code]

Based on the warning, it looks like only `Deref` is being considered, and `DerefMut` is not

[2019-03-07 20:25] steveklabnik commented on #58997
Yes, this is expected behavior; see https://doc.rust-lang.org/stable/reference/crates-and-source-files.html#preludes-and-no_std

[2019-03-07 20:25] #58997 closed

[2019-03-07 20:25] gnzlbg commented on #58997
Can't do that in stable Rust =/

[2019-03-07 20:26] steveklabnik commented on #58997
That's tracked by https://github.com/rust-lang/rust/issues/29639

[2019-03-07 20:38] gnzlbg commented on #58997
The discussion on Discord suggested that this attribute was intended to be perma-unstable.

[2019-03-07 20:56] Lapz opened #59000 "Extern location does not exist when using RUSTFLAGS=-Zunpretty=hir,typed"
If you clone the project [rustyClash](https://github.com/Lapz/rustyClash) and then run

[code]
compilation will error out,stating
[code]
If the supplied arguments to the RUSTFLAGS env variable is removed nothing errors out and compilation proceeds successfully.

**Edit**:
My rustc version is rustc 1.35.0-nightly (a9da8fc9c 2019-03-04)

[2019-03-07 20:57] jethrogb opened #59001 "async: hidden type for `impl Trait` captures lifetime that does not appear in bounds"
[code]

[code]

I think this is a bug? The RFC says

so I'd expect the function to return `impl Future<...> + 'a`.

[2019-03-07 20:57] jethrogb commented on #50547
https://github.com/rust-lang/rust/issues/59001

[2019-03-07 21:01] mathstuf commented on #40062
My problem with that name is that it only removes the *first* matching item, not all that are `eq` (though I haven't read the relevant RFC to know whether the name has been hashed out already; I assume it has been).

[2019-03-07 22:11] pnkfelix commented on #57979
(Discussed in @Centril during T-compiler meeting, and clarified that when I said that this "slipped", I meant that the PR didn't manage to make it into nightly in time for the nightly-to-beta lift. @Centril had thought I meant that the bug had already leaked into the stable channel. Once we clarified that, @Centril retracted their objection.)

[2019-03-07 22:12] ejpbruel2 opened #59003 "Incorrect 'struct is never constructed' warning"
Consider the following code snippet:

[code]

This will trigger a 'struct is never constructed' warning, even though the struct is clearly constructed in the implementation of `From<u32>`.

The problem seems to be caused by  using `Self` as the constructor. If I replace `Self` with the name of the struct, as in the following code snippet, the warning goes away:

[code]

[2019-03-07 22:17] jonas-schievink commented on #59003
You seem to have posted the same snippet twice

[2019-03-07 22:19] ejpbruel2 commented on #59003
My bad! I've updated my comment.

[2019-03-07 22:20] Visic commented on #29661
In the following example, I was trying to use associated types to clean up programming against a generic trait. It seems to work fine for the "Self::Input" but doesn't work for "Self::Output". I don't know if this is a bug, or if my expectation isn't intended, but I at least wanted to share this in case something needs to be changed.

       #![feature(associated_type_defaults)]

        pub trait

[2019-03-07 22:27] steveklabnik commented on #59003
I *think* this is because `Foo` is not public, and so rustc can see that that trait implementation is never used. If you make it `pub`, the warning goes away. (With a new warning about inner never being used, which is also true, and if you make *that* `pub`, you get no warnings)

[2019-03-07 22:42] ckaran commented on #58375
@jethrogb OK, I don't have time at the moment, but I'll work on putting something together in my repo that outlines shows what I'm seeing.  `RUST_LOG=trace` generates an absolutely **enormous** amount of output, but I think that without doing that, you won't be able to see what I'm seeing, so that is what I'll do.

[2019-03-07 23:09] estebank commented on #24157
I believe there's little room for improvement here beyond what has been done so far:

[code]
[code]

[2019-03-07 23:30] GuillaumeGomez opened #59005 "rustdoc search tabs header are "moving" and selecting another one"
Small CSS fix I assume.

[2019-03-08 01:40] Ericson2314 commented on #29639
@gnzlbg makes a great point.

Additionally I'd like it if it was renamed to not mention the name of any create. If we get core depending on more crates, core might not seem so `core`-y. Something like `no_dependencies` is more future proof.

On the other hand, maybe we'll someday want to make primitives like `float` only available from come crate, removing them from the ambient prelude. That would

[2019-03-08 01:41] cuviper commented on #51886
It's happy if you force `DerefMut` like this: `(&mut *t)()`

[2019-03-08 01:56] oysterpack commented on #58888
I just ran into the same exact issue:

[code]

- the code compiles successfully via `cargo +nightly c` and `cargo +nightly bench`, but fails with the above error via `cargo +nightly test`
- the code is located at https://github.com/oysterpack/oysterpack/tree/master/oysterpack-trust
  - using the latest and greatest futures-preview = "0.3.0-alpha.13"

#### >  rustc +nightly --version --verbose
[cod

[2019-03-08 01:59] Nemo157 commented on #58888
As a workaround until the tree is reopened and the fix is merged you can use `--release` to disable debuginfo (or change the `dev` profile to not have debuginfo in the `Cargo.toml`, but I don’t know the exact invocation for that).

[2019-03-08 02:10] oysterpack commented on #58888
Thanks!!! That's an excellent suggestion as a temporary work around - and works like charm.

It's as simple as configuring the dev and test profiles in `cargo.toml`
[code]

https://doc.rust-lang.org/cargo/reference/manifest.html#the-profile-sections

[2019-03-08 02:28] jethrogb commented on #58452
There is a test in tcp:
[code]

However, the first buffer is the empty buffer, so some platforms don't write anything at all! From `src/libstd/sys/sgx/net.rs`:

[code]

The documentation for `write_vectored` leaves something to be desired:

I'm not exactly sure what the expected behavior here is.

[2019-03-08 02:33] sfackler commented on #58452
Oh, oops, I forgot to fix the SGX implementation. It should find the first nonempty buffer: https://github.com/rust-lang/rust/blob/master/src/libstd/io/mod.rs#L535-L537

[2019-03-08 02:34] Mark-Simulacrum commented on #58993
@bors retry

[2019-03-08 02:34] Mark-Simulacrum commented on #58993
@craterbot retry

[2019-03-08 02:38] Mark-Simulacrum commented on #58993
@craterbot retry

[2019-03-08 02:40] sfackler commented on #58452
#59009

[2019-03-08 02:41] Mark-Simulacrum commented on #58993
@craterbot run name=crater-current-ex-1 start=master#f22dca0a1bef4141e75326caacc3cd59f3d5be8e end=master#88f755f8a84df1d9e6b17cf10c96ae8b93481b2e mode=build-and-test assign=agent:aws-1 cap-lints=allow

[2019-03-08 02:46] dantodor opened #59010 "Compiler error when trying to use riker actors"
I'm trying to play with the riker actor library, with no luck.
The code is exactly the one described in the first page of the documentation, [Actors](https://riker.rs/actors/)
Using latest nightly, this is the result I get :

`error: internal compiler error: src/librustc_codegen_llvm/debuginfo/type_names.rs:176: debuginfo: Trying to create type name for unexpected type: impl std::future::Future`

[2019-03-08 03:57] pierzchalski opened #59011 "Identity macro 'launders' hygiene information"
Consider this hygiene demonstration ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2c5d69037bf893b013e9cf07280055e8)):
[code]
This prints `"y"`, as expected.

However, if we 'launder' the definition `macro x()` using an identity macro ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a974b31b219f9ed0bd40f93e2f1ffee6)):
[c

[2019-03-08 03:58] pierzchalski commented on #59011
Pinging the usual crowd: @alexreg @nrc @petrochenkov @dtolnay

[2019-03-08 04:22] seanmonstar commented on #56485
If I were to import an alias, I'd likely often do so to call the methods off the trait as well as to set bounds. It'd be surprising if it didn't. If there is a name conflict, we can differentiate the way we do already: using UFCS with the specific trait, instead of the alias.

Is this the last thing needed to decide on for stabilization? The tracking issue makes it look that :D

[2019-03-08 04:23] estebank commented on #59010
CC #58945

[2019-03-08 04:46] mikeyhew commented on #43561
@bovinebuddha how is your implementation coming along? I've done some work on object safety in the compiler would be happy to chat about it in Discord and look at your code.

[2019-03-08 05:01] alexreg commented on #56485
@seanmonstar That's the last "feature" that really needs to be implemented, yeah. I'd be glad to help fix it, but I'd need some advice from someone who understand the import system, really. I've not touched that before.

[2019-03-08 05:02] alexreg commented on #59011
I agree, this is strange. I'd expect the hygiene for the inner definition of the macro `x` to be almost the same in both cases (just an extra expansion mark in the second case?).

[2019-03-08 05:27] ipetkov commented on #54264
@daym you might be missing the `RUSTC_BOOTSTRAP=1` environment variable (which gets set somewhere by the build system). This should get past any errors about using unstable features.

Is the build issue with 1.28 still relevant, given that we've already bootstrapped later rustc version within Guix?

[2019-03-08 05:28] ipetkov commented on #42680
Not sure if this issue is still relevant, today Guix bootstraps rust starting with 1.19 (1.16 isn't built anywhere).

[2019-03-08 05:29] ipetkov commented on #45593
@daym is this issue still relevant?

We've had plenty of version of rust building in Guix with rustbuild so this issue may be out of date

[2019-03-08 05:30] ipetkov commented on #40698
@daym Not sure if this issue is still relevant, as today Guix bootstraps rust starting with 1.19 (1.16 isn't built anywhere).

[2019-03-08 06:06] sanxiyn commented on #42680
Does test_process_mask fail on current Guix?

[2019-03-08 06:32] csmoe commented on #59001
lifetime `'a` is not needed here cc https://github.com/rust-lang/rfcs/blob/master/text/2394-async_await.md#lifetime-capture-in-the-anonymous-future

[2019-03-08 06:34] jethrogb commented on #59001
@csmoe what do you mean "not needed"? You changed the signature of the function.

[2019-03-08 08:46] pietroalbini commented on #58160
AppVeyor said they fixed the underlying cause of this failure :tada:

[2019-03-08 09:08] RalfJung commented on #53491
Agreed.  I am a bit sad about losing the `into` prefix, but see no good way to retain it.

So what about `read`/`read_init` then? Is the similarity with `ptr::read` enough to trigger "you better make sure this is actually initialized"? Does `read_init` have issue similar to `into_init`, where it sounds like it *makes* it initialized instead of having that as an assumption? Should maybe `assume_ini

[2019-03-08 09:46] #58619 closed

[2019-03-08 10:56] pnkfelix commented on #58502
So, my immediate reaction here is that this strikes me as a *bug fix*, not a misfeature. (I'll address whether we should still treat it as a regression in a moment.)

In particular, I would expect the use of `#![allow(non_snake_case)]` in the macro-provider crate `bar` to only apply its lint-loosening effect to identifiers that occur textually within the crate `bar` itself.

I think that expectati

[2019-03-08 11:27] pnkfelix commented on #58502
Skimming over 7c0d145ec1603fd7d4de2ef38a70baeffbedaad2, I am not sure it is worth the effort to try to deploy a warning cycle here.

As I understand it, the change in behavior here was solely due to the narrowing of the span for this particular lint so that it focuses solely on the identifier, and not the whole item being defined.

Trying to deploy a warning cycle would probably involve threading

[2019-03-08 11:33] nox opened #59013 "Weird error span for a mix of proc macro attributes"
In [Servo](https://github.com/servo/servo), we have a `proc_macro_attribute` named `dom_struct` which [emits](https://github.com/servo/servo/blob/ac3c002138cb2b2ebeaf840436d7022d4bb72ffc/components/dom_struct/lib.rs#L18-L22) a bunch of other attributes on the types it adorns, among which a `derive` attribute. `Node`, being itself a DOM struct, obviously [uses](https://github.com/servo/servo/blob/a

[2019-03-08 11:44] #58886 closed

[2019-03-08 11:44] #58856 closed

[2019-03-08 12:15] ejpbruel2 commented on #59003
That seems reasonable, but in that case, I'd expect to get a warning if `struct Foo` is private, regardless of whether I instantiate it with `Foo` or `Self` in the implementation of `From`. As it stands, I only get a warning if I instantiate it with `Self`, which seems inconsistent?

[2019-03-08 12:49] aoikonomopoulos commented on #57924
Tried to figure out the root cause by creating a similar, but passing,  test case (using `Gcm` instead of `Self`). Looking at the differences of the debug logs, I ended up in `instantiate_value_path`. AFAICT the issue seems to be that

- the function builds `path_segs` starting from the `Def` of `SelfCtor`
- it then switches to the `def_id` of the replacement `StructCtor`
- it uses `path_segs` in

[2019-03-08 13:15] daym commented on #42680
Yes, same situation with rust 1.31.1.

[2019-03-08 13:48] raphaelcohn commented on #43467
And anything that lets me safely coerce a slice to an `iovec` would be most welcome...

[2019-03-08 13:51] jonas-schievink commented on #59010
Closing as a duplicate of #58945

[2019-03-08 13:51] #59010 closed

[2019-03-08 13:59] daym commented on #42680
A corresponding C program doesn't do the same, neither inside or outside the build container.

[code]

I get a test failure, with rc==4.

[2019-03-08 14:00] alexcrichton commented on #58907
This was discussed during libs triage the other day and the conclusion was that adding this to the release notes is fine, so denominating.

[2019-03-08 14:03] daym commented on #40698
We don't need that version in Guix anymore. But the bug report might still be relevant for other people running into the same problem with that release. But that's not for me to decide.

(I respectfully suggest to close this issue after rustc 1.16.0 is not supported anymore)

[2019-03-08 14:05] daym commented on #45593
No, it's from the 1.16.0 time where rustbuild was seriously rough at the edges. Works fine now and I guess one could always not use rustbuild for rust 1.16.0.

[2019-03-08 14:05] #45593 closed

[2019-03-08 14:10] daym commented on #54264
Nikolai Merinov backported a patch from https://github.com/rust-lang/rust/pull/51977 in order to work around the problem. It's very much still present in the original 1.28.0 release otherwise.

For the sake of others I respectfully suggest you to release 1.28.1 with just the patch above applied.

[2019-03-08 14:32] pnkfelix opened #59014 "Tracking issue for `nested_impl_trait` compatibility lint"
#### What is this lint about

Some occurrences of `impl Trait` that appear nested at certain points within the type structure of a larger `impl Trait` type are meant to be rejected by the compiler, because (at least in part) the assignment of concrete types to those nested `impl Trait` is [fragile and fails to provide a path for the user to be more explicit should inference fail][fragile].

[fragi

[2019-03-08 14:40] squirrelyman opened #59015 "uninitialized variable in loop gives incorrect error"
An uninitialized variable in a loop gives a confusing borrow checker error.

Example :
[code]

Expected:
[code]

Actual:
[code]

The move error is confusing because it implies the variable somehow got moved despite being declared right before it is used.

[2019-03-08 14:40] jakoschiko opened #59016 "Compiler panic when using a slice pattern"
I got ``thread 'rustc' panicked at 'expected `LazyConst` to contain a usize', src/libcore/option.rs:1038:5`` when using a slice pattern.

Example code:
[code]
Compiler output:
[code]
Compiler version:
[code]
Backtrace:
[code]

[2019-03-08 14:46] jonas-schievink commented on #59016
Also reproduces on nightly

[2019-03-08 14:54] niklasad1 opened #59017 "ICE on thumbv7em-none-eabi : `Cannot create local mono-item for DefID`"
When trying to compile this [branch](https://github.com/tock/tock/pull/1293/commits/0ec5817d411c106b74db801526a05d9362f96144l)

[code]

Note: I tried this on `nightly 88f755f8a 2019-03-07` with the same behaviour

[2019-03-08 14:58] jonas-schievink commented on #59017
Duplicate of https://github.com/rust-lang/rust/issues/58323

[2019-03-08 14:58] #59017 closed

[2019-03-08 15:02] euclio commented on #58826
Fixed by #58903.

[2019-03-08 15:02] #58826 closed

[2019-03-08 15:35] bjorn3 commented on #58969
I understand.

[2019-03-08 15:35] #58969 closed

[2019-03-08 15:58] estebank commented on #37736
The code now compiles without errors.

[2019-03-08 15:58] #37736 closed

[2019-03-08 16:05] estebank commented on #37935
The current output is a bit misleading in this case, as the diagnostic doesn't handle the non divergence of unreachable/panic:

[code]

[2019-03-08 16:16] estebank commented on #41003
Current output in stable

[code]

Don't see how we can improve over it.

@treeman1111 what version of rustc are you using in your classes? I'd advice tracking at the very least the latest stable, as error messages are improving all the time for the benefit of newcomers like your students.

[2019-03-08 16:16] #41003 closed

[2019-03-08 16:21] estebank commented on #40660
Current output

[code]

[2019-03-08 16:31] #55669 closed

[2019-03-08 16:45] gregberns opened #59019 "unexpected panic: called `Result::unwrap()` on an `Err`"
Hi, I got this compiler error, and am following the directions to report the issue. I searched for the same line number and I didnt find a similar error (but easily could have missed it).

I wish I could provide the code, but sorry. I will commit what I have and if I can run any more commands, please let me know and I will run them.

[code]

Thanks for a great project!

[2019-03-08 16:53] euclio commented on #59019
Probably #57512. Can you try updating to the latest nightly?

[2019-03-08 16:56] lespea opened #59020 "park_timeout not waking up after timeout on macs"
I was trying to troubleshoot this issue: https://github.com/jonhoo/bus/issues/18 and eventually we figured out that on my machine park_timeout wasn't waking up.  I wrote this simple test code which demonstrates the issue:

[code]

*Most* of the time it will only print this:
[code]

Every once in a while it will finish normally.  This behavior happens on stable and nightly and I tried a handfull of

[2019-03-08 17:00] gregberns commented on #59019
Confirmed #57512. I'll check the nightly next. Thanks

Broken:
[code]

Fixed
[code]

[2019-03-08 17:00] #59019 closed

[2019-03-08 17:25] sfackler commented on #59020
This definitely seems broken. Here's dtruss output:

[code]

[2019-03-08 17:32] sfackler commented on #59020
It's a deadlock on the ONCE here: https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/time.rs#L241

[code]

[2019-03-08 17:46] sfackler commented on #59020
As a workaround, everything should work fine as long as you construct an `Instant` at least once in your process before parking.

[2019-03-08 17:47] dlrobertson opened #59021 "ICE: Unexpected def description when inspecting MIR"
## Summary

When compiling the following:

[code]

with the following `rustc` command:

[code]

the following ICE occurs:

[code]

## Versions

This appears to be a regression from `stable` to `(beta|nightly)`. It occurs on `nightly` and `beta`, but I couldn't get the ICE to occur on `stable` (`1.33`).

## Backtrace

<details><summary>Backtrace</summary>

[code]

</details>

[2019-03-08 18:21] mtak- opened #59022 "`-> impl Fn()` fails with closures used as `FnMut` but actually Fn"
It's clear that the closure could implement `Fn`, but for some reason this code does not compile.

[code]

Error
[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a97dd1def3526265d57cfa1f8236e38a

This bit someone at our company who's relatively new to rust while trying to return a `std::iter::Map<.., impl Fn(..)->..>`. The `Iterator::map` function appears to have th

[2019-03-08 18:41] mtak- opened #59023 "impl Trait with < as Trait>::Type syntax does not work in return position"
Using the `as` syntax does not work as a generic to an impl Trait in return position.

[code]

Error
[code]

As a parameter it does work:
[code]

This issue looks related, but specifically calls out type equality constraints. https://github.com/rust-lang/rust/issues/53984

[2019-03-08 18:41] Manishearth opened #59024 "Allow lints to declare that they're pure"
Clippy and rustc both have a bunch of allow by default lints. Due to the way lint passes work, these have to be run even if never enabled, since lint passes may store state between `check_foo` calls.

Most lints don't do this, most lints are zero-sized.

It would be nice to allow LintPasses to declare that they are "pure", and have rustc omit allowed pure passes from the list of lint passes until

[2019-03-08 18:54] gilescope commented on #58930
Thanks - think I've got a v1 now. Will have a PR for review once I've got a passing test to go with it.

[2019-03-08 18:58] Zoxc commented on #59024
https://github.com/rust-lang/rust/pull/57293 effectively has this by declaring lints as suitable for incremental compilation. https://github.com/rust-lang/rust/pull/58019 also makes these lints run in parallel on modules.

[2019-03-08 19:03] Manishearth commented on #59024
Can that be made more first-class so that there doesn't have to be a single builtin lint pass that's known to work on a module?

Also avoid running ones which are disabled until they get enabled.

[2019-03-08 19:15] Manishearth commented on #59024
Oh, that can be used at the per pass level. Hmm

Still feel like this should be an optional method on the LintPass trait itself

[2019-03-08 19:32] Zoxc commented on #59024
The single builtin lint pass is there for performance reasons to avoid the virtual dispatch for lints and it also allows LLVM to do inter-lint optimizations.

[2019-03-08 19:32] Manishearth commented on #59024
Ah hmmm

[2019-03-08 19:38] nox opened #59027 "rustc emits a misguided "a crate with a similar name exists" help note"
[code]

A crate cannot be a type, so suggesting `inert<Dom<T>>` is wrong.

[2019-03-08 20:22] nox commented on #41817
It is kinda a papercut in the case of trait bounds on associated types.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b106643284f7eb37ce6a6f087743952d

[code]

[2019-03-08 20:25] gregberns commented on #59019
Yes, most recent nightly properly catches and reports the error.

Thanks!

[2019-03-08 20:31] lespea commented on #59020
Doesn't seem to help :(

#### Code

[code]

#### Output

[code]

[2019-03-08 20:37] sfackler commented on #59020
Oh right sorry, you actually have to *subtract* two Instants to force that Once to complete. If you instead do `time::Instant::now().elapsed()` at the start of main, it prevents the deadlock.

[2019-03-08 20:42] hcpl commented on #40471
Turns out, `rustc` does provide suggestions since Rust 1.16, but only for trait objects, not concrete values. This can be seen in https://github.com/rust-lang/rust/issues/58988.

[2019-03-08 20:44] hcpl commented on #51046
This looks like the same issue as https://github.com/rust-lang/rust/issues/40471.

[2019-03-08 20:53] lespea commented on #59020
Works perfectly now!  Thanks!

[2019-03-08 21:44] lachlansneff opened #59028 "Add "nightly" and "beta" cfg options."
We should be able to use `cfg(nightly)` and `cfg(beta)` instead of having to use features.

For example of why this is necessary:
The new ffi-unwinding behavior on nightly will crash when you unwind through an ffi-barrier. You can fix this by adding the `#[unwind(allowed)]` attribute, but this requires a nightly compiler. If we add a "nightly" cargo feature, it cannot be enabled by default if we w

[2019-03-08 21:57] seanmonstar opened #59029 "ICE with trait alias when alias refers to bare Self"
[code]

Related playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e29c998d2dc1d0c0ef60f4f3bd5ae934

The compiler outputs:

[code]

cc https://github.com/rust-lang/rust/issues/41517

[2019-03-08 21:58] seanmonstar commented on #41517
Hit another ICE today reported in https://github.com/rust-lang/rust/issues/59029

[2019-03-08 21:59] kaikalii opened #59030 "Struct field initialization code order matters"
Consider this struct:
[code]
In order to determine the metric, I might have some function:
[code]
If I want to initialize a `Foo`, writing the initialization for each field in the same order as the definition will not work:
[code]
This gives the error:
[code]
Reordering the field initializers fixes this error:
[code]
I know that this is a very small thing, but should which order you write the fiel

[2019-03-08 22:05] jonas-schievink commented on #59030
Struct initialization always executes from top to bottom right now, and changes to it are generally RFC territory. In your specific case automatically detecting that it wouldn't change semantics would also be impossible since `s_metric` might modify `s` through interior mutability.

Closing in favor of an RFC

[2019-03-08 22:05] #59030 closed

[2019-03-08 22:13] lachlansneff commented on #59028
As a stand-in, you can add the following code to your `build.rs`:

[code]

[2019-03-08 22:30] Mark-Simulacrum commented on #59028
I think this will need an RFC if we're to add it (seems potentially thorny) so I'm going to close this. If you'd be interested in filing one, see some docs here: https://github.com/rust-lang/rfcs/#when-you-need-to-follow-this-process

[2019-03-08 22:42] #59028 closed

[2019-03-08 22:51] alexreg commented on #59029
Thanks for the report. I don't *think* the fix for this is too difficult judging by your example. Unfortunately, I'm very busy right now. You've contributed to rustc before, if I'm not mistaken... would you be interested in taking up this fix if I mentored/reviewed?

[2019-03-08 22:56] seanmonstar commented on #59029
@alexreg I'd be happy to help. I spent a couple hours last night trying to figure out how to work on the related "import methods" issue, and was completely at a loss of how to find it.

[2019-03-09 00:01] GuillaumeGomez commented on #57093
This is working on stable so I'm closing it.

[2019-03-09 00:01] #57093 closed

[2019-03-09 00:03] GuillaumeGomez commented on #56885
Closing this issue since it has been fixed by #56884.

[2019-03-09 00:05] ghost opened #59032 "rustc segfault"
```[]$ rustup update```

[code]
[code]

```[]$ rustup self uninstall```

```[]$ curl https://sh.rustup.rs -sSf | sh```

```[]$ rustup show```
looked fine, no more error

[code]

```[]$ rustup install nightly```

```[]$ rustup default nightly```

```[]$ cargo new --bin whyyousegfault```

```[]$ cd whyyousegfault/```

[code]

```[whyyousegfault]$ rustup default stable```

[code]

Fedora 29

[2019-03-09 00:05] GuillaumeGomez commented on #56386
It'll be working once #59004 is merged.

[2019-03-09 00:22] joshlf commented on #54236
Has it been a while yet? :) I'd like to use this if stabilized.

[2019-03-09 00:23] Centril commented on #59016
Reduced:

[code]

[2019-03-09 00:31] Centril commented on #59023
cc @nikomatsakis, is this a lazy-norm issue?

[2019-03-09 01:04] nagisa commented on #59032
Please provide a backtrace for the rustc itself. Make sure it is the rustc and not the wrapper from rustup.

[2019-03-09 01:24] alexreg commented on #59029
@seanmonstar Super! I'd like to tackle method importing for both trait aliases and maybe type aliases too, but due to my lack of experience in that area, I'll probably need to chat it over with someone first. (@rust-lang/compiler, any ideas who would be good for this?)

This issue should be no problem though. Would you like me to post some general suggestions/pointers here, or chat about it? I'm o

[2019-03-09 02:22] #58980 closed

[2019-03-09 03:00] seanmonstar commented on #59029
@alexreg If you wouldn't mind leaving pointers here, it'll be easier to find later (like Monday). Or maybe someone can beat me to it. I got to this line from the panic message at least: https://github.com/rust-lang/rust/blob/b2ea6c86ae8b9f8845aaff5a1453e4f5ceb53d59/src/librustc/hir/map/mod.rs#L546

[2019-03-09 03:01] emilio opened #59034 "Rust's libLLVM-8.so doesn't work with clang"
Which means that programs that run `clang` from a build script, or from cargo in some other way, fail.

Steps to Reproduce:
0. Have a clang binary pointing to clang-8 installed and in your path.
1. rustup install nightly
2. git clone https://github.com/rust-lang/rust-bindgen && cd $_
3. cargo test

Actual results: /usr/bin/clang: relocation error: /lib64/libclangBasic.so.8: symbol _ZTIN4llvm14Fold

[2019-03-09 03:25] dlrobertson commented on #59021
Pretty sure this is happening when creating the constructor for the variants e.g. `TestMe::X(_1: usize)` and `is_function` is not set for `Def::Variant` [here](https://github.com/rust-lang/rust/blob/master/src/librustc_mir/util/pretty.rs#L600).

[2019-03-09 06:44] Manishearth opened #59039 "Resolve intr-doc-links on Self type implicitly"
With intra-doc-links, the following works:

[code]

but this does not:

[code]

For structs and impls we should try resolving things against `Self` anyway

[2019-03-09 07:22] skydig opened #59040 "ppc64 cross compile hello world Illegal instruction"
rustc -Vv
rustc 1.35.0-nightly (88f755f8a 2019-03-07)
binary: rustc
commit-hash: 88f755f8a84df1d9e6b17cf10c96ae8b93481b2e
commit-date: 2019-03-07
host: x86_64-unknown-linux-gnu
release: 1.35.0-nightly
LLVM version: 8.0

strace log:
munmap(0x3fffa2913000, 14223)           = 0
set_tid_address(0x3fffa290c0d0)         = 3111
set_robust_list(0x3fffa290c0e0, 24)     = 0
rt_sigaction(SIGRTMIN, {0x3fffa28

[2019-03-09 08:17] #58268 closed

[2019-03-09 08:17] #45219 closed

[2019-03-09 08:18] #58857 closed

[2019-03-09 08:18] #58815 closed

[2019-03-09 08:18] #56472 closed

[2019-03-09 08:18] #58888 closed

[2019-03-09 08:18] #58435 closed

[2019-03-09 08:18] #58813 closed

[2019-03-09 08:18] #50582 closed

[2019-03-09 08:18] #58712 closed

[2019-03-09 08:18] #58158 closed

[2019-03-09 08:18] #58983 closed

[2019-03-09 08:18] #58811 closed

[2019-03-09 08:38] Centril commented on #59039
Are you saying `[bar]` should work? If so, what if there's a free function `bar` in the module that's defined next to `Foo`?

[2019-03-09 08:44] petrochenkov commented on #59039
I'd rather stick to the language rules if possible.

[2019-03-09 08:46] Manishearth commented on #59039
Pick the function first, if it exists, and if not look for the method. You can always disambiguate with full paths.

I don't see how this is a problem, intra doc links already does a bunch of fallbacky things, this would be another.

I was going through intra doc failures in servo's deps (debugging a rustdoc regression and in the process noticing warnings) and it's common for people to do this and

[2019-03-09 08:53] Manishearth commented on #59039
(This may need an RFC, though, but it's worth getting it on file somewhere)

[2019-03-09 08:55] Centril commented on #59039
I think it could create confusion as to what the language rules are for some users. Such confusion will cease when users actually try `bar` and find that it doesn't work but it's still a surprise. Seems like a trade-offs to make between temporarily breaking mental models vs. convenience. You could argue that not having `[bar]` is the surprising behavior tho per "expect it to work already". Do we h

[2019-03-09 09:06] Manishearth commented on #59039
I disagree that intra-doc-links are fundamentally viewed as paths in the same way. The main use case is to name types and methods (so, rarely full paths, usually `Type` and `Type::method`), to me the mental model is that it's a markdown link that autoreferences the relevant type if it can find one, and being able to find one is a best-effort thing. If you type `[bar]` you're saying "link me to `ba

[2019-03-09 09:07] Manishearth commented on #59039
Actually I think the best way to look at intra doc links is that if you're doing ``[`blah`](somelink)`` you should be able to omit the `somelink` in as many cases as possible

[2019-03-09 09:19] Centril commented on #59039
@Manishearth You make a good case overall. I still think there's a bit of a risk for some users, but it may be small enough to not matter in the grand scheme. An RFC sounds like a good place to flesh it all out.

[2019-03-09 09:20] Manishearth commented on #59039
Sounds good. Might open one, depending on what the docs team feels about this feature overall.

[2019-03-09 09:31] Manishearth commented on #58849
This may actually be a regression in quote/proc-macro2.

I'm not yet sure if this is the thing causing long doc builds (some things in our server build history disagree with this hypothesis), but our mozjs_sys crate hits a ton of intra-doc-links failures in jsapi.rs, a bindgen-generated file. Normally this is fine, but on some versions of proc-macro2 bindgen is outputting a file that's basically a

[2019-03-09 09:41] Manishearth commented on #58849
I've narrowed down the regression range to between 2019-02-04 and 2019-02-10

[2019-03-09 09:43] Manishearth commented on #58849
No, the mozjs_sys issues are not the problem. They started becoming a problem at *some* point, but the [commit that did the rust upgrade does not have a giant log, and still takes 55minutes to build](https://treeherder.allizom.org/#/jobs?repo=servo-auto&tochange=be3ecc5dc1105c4c02fb5d8f9b33426871c10d06&selectedJob=230077919)

[2019-03-09 12:45] nox commented on #50264
I just started making use of [`inert`](https://github.com/nox/inert) and this crate provides an `Inert<T>` type which implements both `Deref<Target = T::Output>` and `AsRef<T::Output>`.

Using `Option::deref` let me avoid a quite verbose line of code.

I have a reference to an `Inert<Option<Dom<Node>>`, which derefs to `Option<Inert<Dom<Node>>>`, where `Inert<Dom<Node>>` derefs to `InertNode`. I w

[2019-03-09 13:39] koute opened #59048 "ICE on beta and nightly: `index out of bounds` in `RestoreSubsliceArrayMoveOut` MIR pass"
The main crate of [our profiler](https://github.com/nokia/not-perf) (commit `d2ec7ae`) stopped compiling on `beta` and `nightly`. The `stable` channel works fine, so this is a `regression-from-stable-to-nightly` and `regression-from-stable-to-beta`.

### Relevant Travis jobs

`nightly` (failed) - https://travis-ci.org/nokia/not-perf/jobs/504003420
`beta` (failed) - https://travis-ci.org/nokia/not-

[2019-03-09 15:26] zhuxiujia opened #59049 "println!("{}",...) not work in #[test] fn"
println!("{}",...)  not  work in #[test] fn

[2019-03-09 15:34] ordovicia commented on #59049
See: https://stackoverflow.com/questions/25106554/why-doesnt-println-work-in-rust-unit-tests

Stdout is captured in tests. You can disable this behavior by using `--nocapture` option.

[2019-03-09 15:38] Manishearth commented on #58849
These are all the PRs landing in master in that range

d173180116 Auto merge of #58266 - GuillaumeGomez:rollup, r=GuillaumeGomez
ad433894ab Auto merge of #58010 - Zoxc:parallel-passes, r=michaelwoerister
626e74d5f6 Auto merge of #58254 - kennytm:rollup, r=kennytm
825f355c74 Auto merge of #57998 - niklasf:align-enum, r=nagisa
1efdda10cd Auto merge of #58125 - taiki-e:libsyntax-2018, r=Centril
ff915

[2019-03-09 15:45] Manishearth commented on #58849
It's probably either https://github.com/rust-lang/rust/pull/58143 or https://github.com/rust-lang/rust/pull/57884 from #58266 , verifying that the problematic commit is indeed the rollup (sadly we don't store travis builds for rollup contents)

Servo does have crates with a _ton_ of items in them, so we may be hitting ranges where algorithmic complexity actually matters.

[2019-03-09 16:12] Manishearth commented on #58849
Confirmed, the perf regression is inside https://github.com/rust-lang/rust/pull/58266

[2019-03-09 16:13] kornelski commented on #40062
I don't think the naming issue has been resolved. The implementation is still using a confusing `remove_item` name.

[2019-03-09 16:14] euclio commented on #56885
This wasn't fixed by that #56884. Current output:

[code]

This is a problem with the lexer.

[2019-03-09 16:20] #59049 closed

[2019-03-09 16:59] varkor commented on #22892
There seem to still be issues with this test case on `armhf-gnu`: https://github.com/rust-lang/rust/pull/59046#issuecomment-471196612.

[2019-03-09 16:59] varkor commented on #28587
There seem to still be issues with this test case on `armhf-gnu`: https://github.com/rust-lang/rust/pull/59046#issuecomment-471196612.

[2019-03-09 17:02] GuillaumeGomez commented on #56885
Ah my bad. Reopening.

[2019-03-09 17:18] Mark-Simulacrum commented on #28587
Seems we aren't quite ready for a test case here.

@rustbot modify labels: -E-needstest.

[2019-03-09 17:49] Centril commented on #51929
👋 @joshtriplett @nikomatsakis @pnkfelix @withoutboats

[2019-03-09 19:38] dangdennis commented on #9826
For those wondering what Steve refers to as `cargo script`.
https://github.com/DanielKeep/cargo-script

[2019-03-09 20:21] hawkrives opened #59051 "rustc panics on invalid syntax `where T: !u64`"
I tried this code:

[code]

Now, I realize that that's invalid code, but I expected an error message instead of a panic?

For example, `rustfmt` reports:

[code]

## Meta

`rustup run nightly -- rustc --version --verbose`:

rustc 1.35.0-nightly (2a65cbeea 2019-03-08)
binary: rustc
commit-hash: 2a65cbeea78c2c79b1030a0012cdea475104a44f
commit-date: 2019-03-08
host: x86_64-apple-darwin
release: 1.35.

[2019-03-09 20:25] estebank commented on #59048
Interestingly, running with `RUST_LOG=debug`, I don't get the panic, but a cycle error:

[code]

[2019-03-09 20:28] jonas-schievink commented on #59051
Might be duplicate of https://github.com/rust-lang/rust/issues/58857 - please check with the next nightly, which should contain https://github.com/rust-lang/rust/pull/58861

[2019-03-09 20:41] hawkrives commented on #59051
Yep! Looks like a duplicate of that issue. I'll be sure to test the next nightly.

[2019-03-09 21:24] #52185 closed

[2019-03-09 21:24] #52590 closed

[2019-03-09 21:24] #52482 closed

[2019-03-09 21:34] piersfinlayson commented on #50583
Agree, this is fixed as of Rust 1.33

[2019-03-09 21:45] estebank opened #59052 "Improve multipart, multiline span suggestion cli output"
On multipart suggestions that affect multiple lines, we currently only show the code without any differentiator to the original code and hiding the content beyond 6 lines of fixed code. For example:

[code]

For comparison, the output for the same error without spanning multiple lines is

[code]

I would like for two things to be changed:

1) Use color to highlight the position of the changed code

[2019-03-09 21:53] nagisa commented on #59034
Is `clang` invoked from a build script? It is possible that cargo neglects removing the unnecessary `LD_LIBRARY_PATH` or similar environment variables before invoking the script in question.

[2019-03-09 21:54] nagisa commented on #59034
cc https://github.com/rust-lang/cargo/issues/2888

[2019-03-09 22:04] xd009642 opened #59053 "Use --no-run with doctests now there is --persist-doctests"
Now it is possible using unstable features to persist the doctest executables with `--persist-doctests` it should be possible to use `--no-run` with doctests when they aren't going to be deleted after the run.

[2019-03-09 22:09] estebank commented on #59051
Confirmed fixed in master:

[code]

[2019-03-09 22:09] #59051 closed

[2019-03-09 22:38] N5FPP commented on #58767
Just to confirm, this has not made it out to the nightly, correct? As of today I am still seeing the same error when attempting to build bobbin-hz as part of bobbin-sdk.

[2019-03-09 23:26] estebank commented on #58796
Ran using `-Zexternal-macro-backtrace`:

[code]

Getting the compiler to behave correctly in this case will be difficult, but making the macro itself handle this case and have [an appropriate compile time error](https://doc.rust-lang.org/nightly/std/macro.compile_error.html) might be reasonable. What does @rust-lang/libs think?

[2019-03-10 00:07] dtolnay commented on #58796
I opened https://github.com/rust-lang-nursery/log/pull/322 to fix the problem on log's side. The compiler was largely doing the right thing and I consider it a problem with the way log's macro was written that resulted in a misleading error.

There is something going wrong in the compiler here too though. Minimized:

[code]

[code]

The error points to something that is an identifier and says it e

[2019-03-10 01:12] estebank commented on #58796
I noticed that too. My guess is that it's just a token off by one error somewhere.

[2019-03-10 02:58] Manishearth commented on #58849
The regression is caused by https://github.com/rust-lang/rust/pull/57884 cc @GuillaumeGomez

Unsure what's casing it so far.

[2019-03-10 03:00] Manishearth commented on #58849
I suspect it's just that we have some truly giant crates (see https://doc.servo.org/script/) and we're hitting some pathological case

[2019-03-10 06:02] kyren commented on #54822
Okay, so I came here from the TWIR CFP post, and I thought I would take a stab at this.

This is the first time I have ever dug deeply into the internals of rustc itself, so take everything I'm about to say with a grain of salt.  I don't have a real understanding of most of the rustc internals yet, so I approached this bug purely experimentally.  It may be that what I'm saying is very obvious to s

[2019-03-10 07:44] aramazani commented on #40108
Why after build Rust sources reduced from 419481 to 171968 lines:
Failed Install using:
    ./x.py build && sudo ./x.py install
It seems the Source Doc:
    https://github.com/rust-lang/rust#building-from-source
needs update.

https://github.com/rust-lang/rust#building-from-source
says:
Building on *nix:
Clone the source with git:
    $ git clone https://github.com/rust-lang/rust.git
    $ cd rust

[2019-03-10 08:50] oli-obk commented on #58767
No, https://github.com/rust-lang/rust/pull/58784 is still open, I'll bump its priority

[2019-03-10 09:25] rust-highfive opened #59059 "`miri` no longer builds after rust-lang/rust#56732"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#56732, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Zoxc, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nominati

[2019-03-10 09:25] rust-highfive opened #59060 "`rls` no longer builds after rust-lang/rust#56732"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#56732, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Zoxc, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nominating

[2019-03-10 09:32] petrochenkov commented on #58499
The reproduction crate successfully builds on stable, beta and nightly channels, so I'm going to close as cannot-reproduce.

[2019-03-10 09:32] #58499 closed

[2019-03-10 09:37] moxian opened #59061 "Playground nightly toolchain times out trying to build anything."
When trying to run any code in playground with nightly toolchain ([example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e308bfc5ed1b9a2aac3d999d1783cf8c)), the compiler is (seemingly?) trying to compile _all_ the crates, and times out doing so.

Sample stderr output:
[code]

cc @shepmaster

[2019-03-10 09:46] alexheretic commented on #56980
This is still very much an issue. Here are some fresh tests, again running `rls --cli` a couple of times and waiting for idle. These tests are on regex `d4b9419`.

| Release | Idle memory usage |
|---|---|
| 1.31.1  |  62 MB |
| 1.32.0 | 1.6 GB |
| 1.33.0 | 800 MB |

[2019-03-10 10:48] kennytm commented on #54216
The error is reproducible by simply creating an empty project and add a dependency, then `cargo build` it.

[code]

Bisection:

| Nightly | Compiles? |
|----|----|
| nightly-2018-06-20 | ✓ |
| nightly-2018-08-02 | ✗ |
| **nightly-2018-07-11** | ✓ |
| nightly-2018-07-22 | ✗ |
| nightly-2018-07-16 | ✗ |
| **nightly-2018-07-13** | ✗ |

(No nightlies on 2018-07-12)

The error is introduced between e5f

[2019-03-10 10:49] GuillaumeGomez commented on #58849
The problem is that I currently re-read the JS a few times. It's worth taking a look at this giant crate now to see how I can improve it (I never focused on speed for it after all).

[2019-03-10 11:05] bjorn3 opened #59062 "Llvm memory corruption on duplicate static with one being weak and the other not"
[code]

[code]

[code]

[2019-03-10 11:12] Centril commented on #52652
Reopening since we reverted on stable (but not beta & nightly).

Decision about next stable is tracked in https://github.com/rust-lang/rust/issues/58794.

[2019-03-10 11:14] Matthias-Fauconneau opened #59063 "rustc panics documenting sr-api-macros"
From https://github.com/paritytech/substrate.git

[2019-03-10 11:17] Matthias-Fauconneau commented on #59063
My bad. Seems to have been fixed very recently

[2019-03-10 11:17] #59063 closed

[2019-03-10 11:26] SimonSapin commented on #52652
@Centril could you link to where the decision to revert was made? (Hopefully with discussion of why?) I thought we’d already landed this change and reverted it once several releases ago, and landed it again more recently.

[2019-03-10 11:30] SimonSapin commented on #52652
Ah, https://github.com/rust-lang/rust/pull/58795 links to https://github.com/rust-lang/rust/pull/58795

[2019-03-10 11:30] Centril commented on #52652
@SimonSapin The release team decided to revert because there was no explicit decision to go ahead with the change from the language team. See https://github.com/rust-lang/rust/issues/58794 for details. I am working on an FCP to confirm the change for 1.34 and beyond.

[2019-03-10 11:32] Xanewok commented on #59060
@Zoxc https://github.com/rust-dev-tools/rls-rustc/pull/11/files this should be a good starting point, right? (We now moved it under https://github.com/rust-lang/rls repo)

[2019-03-10 11:54] Centril commented on #58794
The current behavior on stable amounts to a soundness hole. For example, based on https://github.com/rust-lang/rust/issues/52652#issuecomment-408123653, we can write ([playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=da69c43933d083425e28c230b3118467)):
[code]
The behavior of this program is undefined on stable because we attach the [`nounwind`](https://llvm.org

[2019-03-10 12:09] dignifiedquire opened #59065 "cargo fix --edition failure (probably macros related)"
Tried converting my project using `cargo fix --edition`, but go the following output.

- source code: https://github.com/dignifiedquire/rpgp/tree/06458a8cf35927f165a2930ddcbd57e535148f5c
- rustc: `rustc 1.34.0-nightly (aadbc459b 2019-02-23)`

[code]

Full log: https://gist.github.com/dignifiedquire/d75bb480b0f51645dcb74b95bb88c10d

[2019-03-10 14:32] vickenty commented on #54822
I'm no expert either, but just from the test failures it seems that @kyren's fix is actually correct.

Test failures after applying the fix: https://gist.github.com/vickenty/1ea9ea56c97e5e4902f6158a5f2410f1

`ui/associated-const/associated-const-generic-obligations.rs` has an expected failure, but checked for specific error message, that this issue is about. After the fix the code is still (correc

[2019-03-10 15:17] magnet commented on #58945
I confirm the latest nightly where #58906 has been merged fixes the issue. :+1:

[2019-03-10 15:32] shepmaster commented on #59061
Progress being tracked in https://github.com/integer32llc/rust-playground/issues/469

[2019-03-10 16:09] Manishearth commented on #58849
@GuillaumeGomez Is the number of times you reread the JS dependent on the size of the crate?

I'm not yet sure if it is indeed this crate causing this problem, but the crate in question is Servo's script crate. It may also just be the sum total of all the crates being slow.

[2019-03-10 16:55] jethrogb commented on #58794
This change was tried twice, and twice it was reverted because important parts of the ecosystem broke. Do we really want to try merge it again without any changes?

The discussion on this topic is pretty fragmented, the internals thread mentioned in the top post has been quite active as well. I'm still waiting for the summary I requested https://github.com/rust-lang/rust/issues/58794#issuecomment-

[2019-03-10 17:00] Centril commented on #58794
This is untrue. The second time it was reverted it was reverted *__only__* because of the lack of a completed T-Lang FCP (which we are doing now).

[2019-03-10 17:07] jethrogb commented on #58794
I don't think so. If no one in the community would've complained about the change, I don't think this would've been reverted a day before the stable release even though no lang team discussion had happened yet.

[2019-03-10 17:30] Centril commented on #58794
@jethrogb It most definitely was the only reason; the release team cannot undue language team decisions and had there been one we would not have reverted.

[2019-03-10 17:37] jethrogb commented on #58794
@Centril I'm saying that if there wasn't any backlash there wouldn't have even been a proposal to undo the change.

[2019-03-10 17:41] Centril commented on #58794
@jethrogb Yes, there was backlash, but that was irrelevant to the acceptance or non-acceptance of the undo-PR itself. The sole reason for accepting the undo-PR was the lack of a completed T-Lang FCP.

[2019-03-10 17:55] rkruppe commented on #58794
I don't have enough information to argue about procedural details and people's rationale for r+'ing this or that PR, and I wouldn't be very interested in doing so anyway. I just want to say that in the light of the the ongoing discussions and continued lack of consensus on how to address the legitimate needs of some projects to unwind through FFI, it seems premature to me to take this step now, ju

[2019-03-10 17:59] GuillaumeGomez commented on #58849
Potentially. I'll take a look as soon as I can.

[2019-03-10 18:15] jethrogb commented on #58794
It was suggested to me in a private conversation that this might lead to performance loss. I'd like to see some numbers on that. Because things “work” most of the time right now, it seems to me that LLVM currently generates code that would be similar to the code it would generate without nounwind.

I wholeheartedly agree with @rkruppe. I feel like not emitting nounwind is a good alternative to fix

[2019-03-10 18:51] Centril commented on #58794
As long as the soundness hole is closed one way or the other (aborting, not emitting `nounwind`, ...) I think it's fine.

However, I think we should separate discussion about new mechanisms like `#[unwind(...)]` from fixing the soundness hole. It cannot be that people knowingly depend on UB (and some do it unknowingly) and that therefore, we are forced to accept more additions to the language as s

[2019-03-10 19:11] RalfJung commented on #58794
I don't feel it is helpful to draw such an antagonistic picture. There literally is no way to do FFI unwinding safely in Rust currently, and some people got frustrated enough by that that they went with something that "happens to work". I have hacked around limitations in ugly ways often enough that I can totally sympathize. Sure, they should instead have written an RFC to provide a safe way to do

[2019-03-10 19:21] SimonSapin commented on #50264
Turned into a tracking issue, since `#[unstable]` attributes point here.

[2019-03-10 19:29] rkruppe commented on #58794
@Centril It is indeed a possible outcome that the relevant teams ultimately decide "damn those programs and use cases, we won't provide a way to unwind through FFI". However, that would be a decision with severe downsides (more social ones than technical ones) which I don't think should be taken lightly, and IMO not at this very moment but rather after the other options have been explored and reje

[2019-03-10 19:29] SimonSapin commented on #55977
Closed by https://github.com/rust-lang/rust/pull/58576.

[2019-03-10 19:30] SimonSapin commented on #58045
Closed by https://github.com/rust-lang/rust/pull/58576.

[2019-03-10 19:30] #58045 closed

[2019-03-10 19:30] #55977 closed

[2019-03-10 19:40] SimonSapin commented on #32838
Every API left pointing here for a tracking issue is the `Alloc` trait or related to the `Alloc` trait. @rust-lang/libs, do you feel it’s useful to keep this open in addition to https://github.com/rust-lang/rust/issues/42774?

[2019-03-10 19:47] SimonSapin commented on #32836
Is there anything left to track here that’s not already covered by https://github.com/rust-lang/rust/issues/55149, or should we close?

[2019-03-10 19:51] SimonSapin commented on #58278
To the extend that `dbg!` is “just” sugar for `eprintln!`, should the latter also be supported in const contexts?

[2019-03-10 19:56] Dylan-DPC commented on #59048
I saw the same issue on a crater run:
Log: https://crater-reports.s3.amazonaws.com/beta-1.34-1/beta-2019-02-27/gh/viperscape.capsule/log.txt

cc @viperscape (though the crate looks abandoned but still keeping you in loop)

[2019-03-10 19:56] frewsxcv opened #59074 "Confusing error message when returning a closure that contains a borrowed parameter"
[code]

[Playpen](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=bddf698ebbb0ad211075c3d3bd3e418a)

Error:

[code]

-----------

Is it correct to say `xs` is owned by the current function? i.e. is it correct to think of `xs` as an 'owned' borrow? Is there better wording we can use here?

[2019-03-10 20:01] Matthias247 commented on #59001
@jethrogb This compiles for me on on [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5c5ddf89512760bcfe13b9a70af3e190).

[2019-03-10 20:04] oli-obk commented on #58278
`eprintln!` would be surprising I think, since it's not immediately meant as a debugging tool. Changing its behaviour in such a big way (not printing at runtime anymore) seems like it would warrant a lot more discussion.

[2019-03-10 20:10] Centril commented on #58794
I think there are also severe social downsides to not going ahead with this. Namely, we legitimize *"There's no way to do X currently, so we'll do something that happens to work"*.

I first heard of the existence of `#[unwind(...)]` during the T-Release meeting where we decided to revert the change on 1.33. It also didn't have [a tracking issue until 12 days ago](https://github.com/rust-lang/rust/

[2019-03-10 20:11] jethrogb commented on #59001
@Matthias247 that's strange. The playground appears broken currently, but when I compile that locally with the latest nightly I still get the original error.

[2019-03-10 20:47] SimonSapin commented on #58278
So, does this proposal involve making `dbg!` not print at runtime anymore?

[2019-03-10 20:53] Centril commented on #58278
(depending on the answer to @SimonSapin's question -- if the answer is "yes" then the following is moot):

cc @eternaleye -- Do you think there's any problem wrt. soundness of [`[u8; dyn bar(n)]` being the same type as `[u8; dyn bar(n)]` for two separate invocations of `bar(X)`](https://github.com/rust-lang/rust/pull/58363#issuecomment-465882140) given `const fn bar` if we let `dbg!(x)` work in `c

[2019-03-10 21:02] viperscape commented on #59048
Thanks for the heads up, it's just a skeleton app for creating basic LDAP connections via a web browser, so it's more of an example. Stable compiles and runs fine.

[2019-03-10 21:11] kyren commented on #54822
Oh, I should have paid more attention to what the tests actually *did*, thank you for looking at that!

[2019-03-10 21:14] mati865 commented on #53254
Can this issue get LLVM label?

Example reduced from `packed_simd` code, it works on Linux and fails on Windows and Wine using `windows-gnu` target:
[code]

Godbolt link:
https://godbolt.org/z/bqZn4-

[2019-03-10 21:21] ice1000 commented on #49733
In most cases people just want to simplify the `Box::new`s everywhere. I really want a shorter version and `box` syntax sounds like a great idea.
Is there a recent plan of stabilizing `box` syntax?

[2019-03-10 22:12] stefson commented on #58881
@emilio do you happen to know wether esr is affected as well? It has cubeb-0.4.1 pulled in, but I'm note sure if the logic here is that <=cubeb-0.5.0 is affected, or only =cubeb-0.5.0?

[2019-03-10 22:25] cr1901 opened #59077 "MSP430 compilation fails with "Error: r2 should not be used in indexed addressing mode"; fixed upstream"
Every Rust nightly as of approximately Jan 27, 2019 has [failed](https://travis-ci.org/cr1901/AT2XT/builds/504213832) to build my msp430 application due to assembler errors of the following form:

[code]

This is due to [a bug](https://bugs.llvm.org/show_bug.cgi?id=39993) in the LLVM backend that has been [fixed upstream](https://github.com/llvm-mirror/llvm/commit/647ece596da48d462294067b2d19e5add

[2019-03-10 22:28] goffrie commented on #50817
Not sure when, but this has been fixed:

[code]

[2019-03-10 22:28] #50817 closed

[2019-03-10 22:34] joshlf commented on #54822
Wow, fantastic work @kyren ! I'm not familiar enough with rustc to be able to say anything more than @vickenty has, but I guess just throw up a PR and we'll see what the reviewers say!

[2019-03-10 22:45] bovinebuddha commented on #43561
@mikeyhew I think I got the implementation down. There's a pull request at [https://github.com/rust-lang/rust/pull/57545](url). Please, check out the code and any suggestions or comments would be much appreciated!

I seem to have been stuck in review limbo unfortunately. I also had some conflicts to resolve, just rebased and pushed, hopefully it will pass on Travis. (I got some weird llvm errors b

[2019-03-10 23:03] steveklabnik commented on #44291
Triage: I don't believe there's been any change here. I'd expect this to work:

[code]

But it does not:

[code]

[2019-03-10 23:03] steveklabnik commented on #43804
It's been a few years; did anything come out of the discussion? Is this bug useful?

[2019-03-11 00:04] comex commented on #58794
On a philosophical level, I disagree.  It's not a question of "legitimizing".  It's a fact of life that people will rely on implementation details whether they're supposed to or not, unless you actively prevent them from doing so.  Ideally you do prevent them, like rustc does with `#[feature]` flags, or at least actively assist them in avoiding it, like the hypothetical undefined behavior checker

[2019-03-11 00:12] comex commented on #58794
Oh, one more thing (I'd edit this in, but that doesn't help people reading via email):

If the unwind attribute is stabilized, rather than `#[unwind(allowed)]`, I'd like to see something like `#[unwind(C)]`, indicating that you want to unwind across C code.  In the future there could be a separate `#[unwind(C++)]` and perhaps others.  There wouldn't necessarily be any way to verify that you chose

[2019-03-11 01:08] mikeyhew commented on #43561
@bovinebuddha great! I will take a look at your PR and comment there.

[2019-03-11 02:16] csmoe commented on #59001
cc @cramertj

[2019-03-11 02:59] Mark-Simulacrum commented on #43804
This bug doesn't seem to be useful so I'm going to close - we're discussing profiling elsewhere as part of the self profile working group.

[2019-03-11 02:59] #43804 closed

[2019-03-11 03:01] Mark-Simulacrum commented on #59077
I think we're generally speaking tracking trunk quite closely so should be feasible to bump here, cc @alexcrichton

[2019-03-11 03:35] jcotton42 commented on #29641
Bumping this since it's been 11 months and I'm also interested in this (don't have any specific use case, just interested)

[2019-03-11 03:37] dtolnay commented on #57391
@rfcbot resolve consider unit structs

Too confusing.

<br>

@rfcbot resolve clippy

I filed https://github.com/rust-lang/rust-clippy/issues/3866 to follow up in Clippy. This does not need to block stabilization.

<br>

@rfcbot resolve missed the point

I don't want to block on this if others feel that these constants are a better idiom than Duration::from_N. I would ask that we please not stabili

[2019-03-11 04:11] mnirfan commented on #59032
I experienced the same problem on Ubuntu 16.04

[2019-03-11 04:25] #58634 closed

[2019-03-11 04:25] #58767 closed

[2019-03-11 04:45] alexreg commented on #59029
@seanmonstar Unfortunately I didn't get a chance to have a proper look at this on the weekend, but I've just looked quickly, and I'm *hoping* the fix may be as easy as matching `ItemKind::TraitAlias` as well as `ItemKind::Trait` on https://github.com/rust-lang/rust/blob/b2ea6c86ae8b9f8845aaff5a1453e4f5ceb53d59/src/librustc/hir/map/mod.rs#L544

Let me know what this yields.

[2019-03-11 05:30] Globidev opened #59085 "Type alias used in async fn return type is wrongly reported unused"
With `rustc 1.35.0-nightly (26b4cb484 2019-03-09)`
The following code
[code]
produces the following warning
[code]
When `Bar` is clearly used here.
This seem to only trigger if the alias is used in the return type position

[2019-03-11 05:51] ishitatsuyuki commented on #43122
Has there been any discussions about avoiding more than one `Box` allocation when embedding an immovable generator inside another? That's basically what happens in C++ for optimization purpose, but in Rust we probably need that in the type system.

Another optimization question is about safe-to-move references: particularly, dereferenced `Vec` references will not change even if the generator moves

[2019-03-11 06:10] Nemo157 commented on #43122
No boxes are needed, see https://docs.rs/pin-utils/0.1.0-alpha.4/pin_utils/macro.pin_mut.html for stack pinning that works even for generators in generators.

[2019-03-11 06:12] nhynes opened #59086 "Possible to access borrow checker data (ideally in proc_macro)?"
Is there any way to get the dataflow graph from the borrow checker as a lightweight substitute for symbolic execution? Ideally, this would be possible from a proc_macro but this would require using the borrow checker as a standalone library.

I see Polonius but it doesn't look like it's usable as a library.

[2019-03-11 06:16] Matthias247 opened #59087 "async/await: Not directly awaiting an async fn doubles it's size"
Maybe a duplicate of #52924, but maybe also something else.

I observed that the sizes of `Future`s generated by async fns can grow exponentially.
The following code shows an async fn, which produces a 1kB future. Each layering in another async fn doubles it's size:

[code]

Output:
[code]

It doesn't matter whether the statement between the future generation and `await!` references the future or

[2019-03-11 06:54] lysannef opened #59088 "Test cases fail with 'received error for `TcpListener::bind(&addr)`: Cannot assign requested address (os error 99)'"
**python x.py test gives the following error:**
arch: **ppc64le**
environment: **Ubuntu:16.04 docker container**
[code]

Executing the command :

"/rust/build/powerpc64le-unknown-linux-gnu/stage0/bin/cargo" "test" "--target" "powerpc64le-unknown-linux-gnu" "-j" "3" "--release" "--features" "panic-unwind backtrace" "--manifest-path" "/rust/src/libstd/Cargo.toml" "-p" "std" "--" "--quiet"

Get the f

[2019-03-11 07:15] joshlf commented on #32838
Simple background question: What is the motivation behind the flexibility with ZSTs? It seems to me that, given that we know at compile-time that a type is a ZST, we can completely optimize out both the allocation (to return a constant value) and the deallocation. Given that, it seems to me that we should say one of the following:
- It's always up to the implementor to support ZSTs, and they can't

[2019-03-11 07:30] joshlf opened #59090 "Spurious private-in-public error for impl block"
The following code [results in a private-in-public error](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2b1919ea9dab750907c6e55437594543):

[code]

[code]

This seems wrong to me; though the impl block is on a public type, none of the methods in it are public.

[2019-03-11 07:37] petrochenkov commented on #59090
This currently works as expected, but https://github.com/rust-lang/rust/issues/48054 is going to change the rules once implemented, so the error will no longer be reported.

[2019-03-11 07:42] joshlf commented on #59090
OK, sounds good, thanks!

[2019-03-11 07:42] #59090 closed

[2019-03-11 08:04] gnzlbg commented on #32838
It's a trade-off.  Arguably, the Alloc trait is used more often than it is implemented, so it might make sense to make using Alloc as easy as possible by providing built-in support for ZSTs.

This would mean that implementers of the Alloc trait will need to take care of this, but more importantly to me that those trying to evolve the Alloc trait will need to keep ZSTs in mind on every API change.

[2019-03-11 08:31] oli-obk commented on #58278
Depends on how you're using it. Consider

[code]

If you call that function in runtime code

[code]

you get a runtime print of `84`.

but if you call that function in a const context

[code]

then you get a compile-time print of the sort

[code]

[2019-03-11 08:38] nox commented on #50264
About the name: As I'm mostly going to use it to replace a method named `r` in Servo, I would like to keep it short. The name `deref` is fine to me, and I could tolerate `as_deref`.

About the signature: I've yet to encounter a case where I'm fed something like `Option<&String>`, I usually take a reference to something owned somewhere, of type `Option<String>`. I would rather keep the current sign

[2019-03-11 08:49] gilescope commented on #57084
Test in place, move to close @nikomatsakis ?

[2019-03-11 09:03] oli-obk opened #59094 "Add convenience wrappers for `type_dependent_defs`"
Most uses of that method mostly directly unwrap or just want to know the `DefId`. So we could use several kind of convenience wrappers:

* [ ] `fn opt_type_dependent_def(&self, id: HirId) -> Option<Def>`
* [ ] `fn type_dependent_def(&self, id: HirId) -> Def`
* [ ] `fn type_dependent_def_id(&self, id: HirId) -> DefId`

[2019-03-11 09:07] stepnivlk commented on #59094
hey @oli-obk, happy to take this one if its still available

[2019-03-11 09:09] #58776 closed

[2019-03-11 09:12] oli-obk commented on #59094
Wow that was fast! Yes of course! If you have any questions, don't hesitate to ask here or on discord/zulip.

[2019-03-11 09:18] michaelwoerister commented on #43804
And we plan to support a format that both https://perf-html.io/ and the Chromium tools support.

[2019-03-11 09:26] RalfJung opened #59095 ""extern type" should use `opaque` type in LLVM"
Currently, in a situation like
[code]
we generate a zero-sized struct as the LLVM type for `Foo`. LLVM might use this  to assume that `BAR` has size 0, which would be fatal. And anyway it seems prudent for extern types, that should match C's declared-but-not-defined types, to match what Clang does for the corresponding C types -- which is to use `opaque`.

See https://github.com/rust-lang/rust/pul

[2019-03-11 09:32] michaelwoerister commented on #48184
We should verify that we get 100% re-use first.

[2019-03-11 09:39] bbqsrc commented on #53014
This is breaking production codebases at this point. Can this be prioritised?

[2019-03-11 09:41] Boiethios commented on #55467
Will this kind of code be allowed? I would be deeply unsatisfied, otherwise:

[code]

[2019-03-11 10:19] jonas-schievink commented on #59086
We try to keep this issue tracker for bugs only, so questions like this are better asked on the forum at https://users.rust-lang.org/ or some other place.

[2019-03-11 10:19] #59086 closed

[2019-03-11 10:23] stjepang commented on #57391
Not being able to import associated constants is a real bummer. Still, I prefer `n * Duration::SECOND` over `Duration::from_secs(n)` as constants make arithmetic on durations feel more natural.

In the ideal world, we'd probably only have importable associated constants. But it's interesting how there is some precedent for redundancy in other similar cases:

* [`std::u32::MAX`](https://doc.rust-la

[2019-03-11 10:25] Dylan-DPC opened #59097 "Use platform dependent mcount function"
From #57244:

mcount name. Added a test.

Since the PR was closed due to inactivity, this issue will track it.

cc @nagisa

[2019-03-11 10:30] jonas-schievink commented on #57084
Great, closing!

[2019-03-11 10:30] #57084 closed

[2019-03-11 10:33] pyfisch commented on #55467
@Boiethios the answer to this question will be unsatisfactory to you.

[2019-03-11 10:36] Dylan-DPC opened #59098 "Tweak `Span` encoding."
From #58458

Creating an issue to track this. cc @petrochenkov

[2019-03-11 11:04] mnirfan commented on #59032
In my case, I figured out that the reason my rustc become segfault was a preloaded library `libesets_pac.so` from ESET antivirus (my laptop is preinstaled with that). Here is my GDB backtrace:

`$ gdb --args rustc --version`
[code]

after removing the preloaded library from `/etc/ld.so.preload`, the rustc runs perfectly.
So, maybe ESET was blocked the rustc, but it doesn't give any notification.

[2019-03-11 11:38] emilio commented on #58881
@stefson I don't know off-hand, would need to test.

[2019-03-11 11:46] oli-obk commented on #58742
Fixed by https://github.com/rust-lang/rust/pull/58784

[2019-03-11 11:46] #58742 closed

[2019-03-11 11:55] lysannef commented on #59088
Thank you @parched , the work around helped , and it does not give the bind address error anymore.
Thanks for the heads up on debug info tests too.

[2019-03-11 11:55] #59088 closed

[2019-03-11 12:03] snsmac opened #59099 "Build fails in llvm with error: ‘IntRinsic’ has not been declared"
Build command:
./x.py build

Failure:

In file included from /home/jr/src/rust/src/llvm-project/llvm/lib/IR/Function.cpp:1030:
/home/jr/src/rust/build/x86_64-unknown-linux-gnu/llvm/build/include/llvm/IR/IntrinsicImpl.inc: In function ‘llvm::Intrinsic::ID llvm::Intrinsic::getIntrinsicForGCCBuiltin(const char*, llvm::StringRef)’:
/home/jr/src/rust/build/x86_64-unknown-linux-gnu/llvm/build/include/ll

[2019-03-11 12:21] jonas-schievink commented on #59099
Does it work with a lowercase `r`? :smile:

[2019-03-11 12:39] Dylan-DPC opened #59100 "rustc: remove unnecessary extern_prelude logic from ty::item_path"
From #56655 :

Since this only affects the user-facing "relative" mode, it shouldn't have interactions with linking, and the only observable effect should be sometimes-shorter paths in diagnostics.

Creating this issue as a tracking issue since the PR is closed due to inactivity.

[2019-03-11 13:00] nox commented on #52675
Any progress on that? I need this feature in Servo and the absence of lifetime elision is a huge papercut.

[2019-03-11 13:01] snsmac commented on #59099
Yeah, i did a clean rebuild and now it works, i have no clue where the uppercase R comes from

[2019-03-11 13:01] #59099 closed

[2019-03-11 13:47] pnkfelix commented on #58502
Having said that, I think I might have a plausible branch to do this.

I am still not sure if the machinery ends up being worth it, but I will at least try to put up a Pull Request illustrating the idea.

[2019-03-11 14:47] nhynes commented on #59086
Maybe someone should add an issue template that makes note of that. Thanks for manually pointing it out, though.

[2019-03-11 14:49] alexreg commented on #59029
@Centril Did you nominate this because of my questions about importing or what?

[2019-03-11 14:51] Centril commented on #59029
@alexreg I-ICEs are generally nominated for triage I think.

[2019-03-11 15:03] alexreg commented on #59029
Okay.

[2019-03-11 15:03] davidtwco opened #59103 "Highlight when errors have automatically applicable suggestions"
With `tool_only_span_diagnostics` having landed, some suggestions that can be automatically applied aren't shown to the user as labels with `help: ...` messages, so users who look for that to know they can automatically apply the fix won't know about those suggestions.

We should add some indicator that tells the user that an error can be automatically fixed.

See [this conversation](https://githu

[2019-03-11 15:04] sanxiyn commented on #59085
This is unrelated to async fn as one can reproduce with just impl Trait:

[code]

[2019-03-11 15:09] Centril commented on #53667
I'm working on implementing this in a 3+ PR step fashion based on discussions with @oli-obk.

[2019-03-11 15:19] oli-obk commented on #53667
for the record, the discussed step list is

1. remove `if` from `HIR` and make lowering emit a `match`
2. remove `if let` from `AST` and instead have a `let` expression
3. "do the rest of the work" (might get split up further).

[2019-03-11 15:24] LinusU opened #59104 "Add `peer_addr` function to `UdpSocket`"
Long background: https://users.rust-lang.org/t/query-wether-a-udpsocket-has-been-connect-ed/26076

I think it would be nice if we could add the `peer_addr` (from TcpStream & UnixStream) to `UdpSocket`, this would work exactly the same as TcpStream (`getpeername`) and return the address that was previously passed to `connect`.

I'd be happy to try and take a stab at this! :rocket:

[2019-03-11 15:26] alexreg commented on #53667
I can't imagine 3 would be a particularly large step (enough to merit splitting), but 3 steps sounds fair enough.

[2019-03-11 15:26] pnkfelix commented on #45495
There was [some semi-recent discussion](https://github.com/rust-lang/rust/pull/56813#discussion_r241944091) bemoaning the compilers undiscoverable environment variables; I [suggested](https://github.com/rust-lang/rust/pull/56813#discussion_r242133272) there that it might be a good idea to extend the `rustc --help -v` output to include a section dedicated to environment variables.

[2019-03-11 15:27] pnkfelix commented on #45495
(But in practice if we want such a list to be kept up to date, we'll need an API for defining the environment variables in active use by the compiler, much the same way that we define e.g. command line switches via a standard API...)

[2019-03-11 15:28] #59060 closed

[2019-03-11 15:44] joshlf commented on #32838
That all sounds reasonable.

Doesn't that imply that we should have the API explicitly not handle ZSTs rather than be implementation-defined? IMO, an "unsupported" error is not very helpful at runtime since the vast majority of callers will not be able to define a fallback path, and will therefore have to assume that ZSTs are unsupported anyway. Seems cleaner to just simplify the API and declare t

[2019-03-11 15:45] newpavlov commented on #57391
I think we should use associated constants and deprecate redundancies. Assuming that associated constant imports will work of course.

I always found absence of `u32::MAX` quite confusing. And `use std::u32::MAX;` looks like an import from primitive type, not from `u32` module.

I think if we'll get a working import of associated constants we can remove integer modules altogether in a backwards-co

[2019-03-11 15:45] Manishearth commented on #58849
It seems like the filesize for the generated docs is also just huge. It took forever to delete `target/doc`. I'm rebuilding it to see the difference against --disable-minification.

[2019-03-11 15:50] alexreg opened #59105 "Incremental compilation error building rustc (`-i --keep-stage 0`)"
I manage to successfully build the latest master revision of rustc, but then when I try to build it incrementally as `./x.py build -i --keep-stage 0`, I get the following error. Apparently, this is broken for others as well, as has been for a while.

[code]

[2019-03-11 16:14] burdges commented on #32838
Would specialization be used by `alloc` users to handle ZST?  Or just `if size_of::<T>() == 0` checks?

[2019-03-11 16:17] joshlf commented on #32838
The latter should be sufficient; the appropriate code paths would be trivially removed at compile time.

[2019-03-11 16:17] gnzlbg commented on #32838
For me, an important constraint is that if we ban zero-sized allocations, the `Alloc` methods should be able to assume that the `Layout` passed to them is not zero-sized.

There are multiple ways to achieve this. One would be to add another `Safety` clause to all `Alloc` methods stating that if the `Layout` is zero-sized the behavior is undefined.

Alternatively, we could ban zero-sized `Layout`s,

[2019-03-11 16:21] joshlf commented on #32838
It'd be interesting to consider whether there are ways to make this a compile-time guarantee, but even a `debug_assert` that the layout is non-zero-sized should be sufficient to catch 99% of bugs.

[2019-03-11 16:59] estebank commented on #59103
I believe some iteration of the following would be appropriate:

[code]

With proper coloring, this should be easy to follow.

Does `rustfix` apply `MaybeIncorrect` suggestions? If not, this should be only included for `MachineApplicable` suggestions.

CC @killercup

[2019-03-11 17:09] Manishearth commented on #58849
Nope, they're roughly the same size.

[2019-03-11 17:09] steveklabnik commented on #9461
Triage: there has been some small movement; by now, this issue is getting larger and larger, and is affecting more and more people. I hope to have a plan sometime in the near-ish future; we'l see.

[2019-03-11 17:14] killercup commented on #59103
rustfix only applies MachineApplicable suggestions, because… it's a
machine. Yeah, that's why, totally not to masquerade its AI superpowers or
anything.

On Mon, 11 Mar 2019, 17:59 Esteban Kuber, <notifications@github.com> wrote:

[2019-03-11 17:18] xNxExOx opened #59107 "canonicalizing paths on RAM disks fails"
I was trying to build tokio example but I encountered these errors. I tried both discord for Rust Programming Language, and tokio gitter, where I was told it is compiler error.
I have Windows 10 1803 in Czech language, so "Nesprávná funkce." would be something like "Invalid function." in English.

code example from:
https://github.com/tokio-rs/tokio/blob/master/examples/chat.rs

## Meta

`rustc --

[2019-03-11 17:20] steveklabnik commented on #16402
Triage: with the last comment here being a year and a half old, and with a lot of people seemingly having different but similar issues, and with many having fixed their issues, I'm going to give this one a close. If anyone on this thread is still having this problem today, please open a new bug with specific details, thanks.

[2019-03-11 17:20] #16402 closed

[2019-03-11 17:24] estebank commented on #59103
In that case, we should only provide the asterisk (or whatever we land on) for `MachineApplicable` suggestions.

The position of the asterisk and the last line text is bikeshedable to death:

[code]

[2019-03-11 17:25] steveklabnik commented on #19509
Triage: not aware of any movement here.

[2019-03-11 17:25] estebank commented on #59105
Stopgap: `./x.py clean` helps you get to a good state.

[2019-03-11 17:27] xNxExOx commented on #59107
`A:\` is my RAM drive, why output folder can not be on RAM drive?

[2019-03-11 17:28] steveklabnik commented on #21905
Triage: not aware of any changes at all here. There's not a ton of pressure to fix this.

[2019-03-11 17:31] steveklabnik commented on #22519
Triage: not aware of changes, guessing like last time it's still relevant

[2019-03-11 17:32] GuillaumeGomez commented on #58849
And what the rendering time difference?

[2019-03-11 17:32] steveklabnik commented on #39239
Triage: bytepos is still a u32: https://github.com/rust-lang/rust/blob/master/src/libsyntax_pos/lib.rs#L1210

I wonder what the easiest way to create a test case to reproduce this is.

[2019-03-11 17:33] steveklabnik commented on #28434
With no reproduction instructions in almost two years, I'm going to close this. Thanks!

[2019-03-11 17:33] #28434 closed

[2019-03-11 17:33] davidtwco commented on #59103
I'll kick off the bikeshed by saying that I prefer the fourth option.

[2019-03-11 17:34] Manishearth commented on #58849
--disable-minification takes a couple minutes, without it it takes 70

[2019-03-11 17:40] euclio opened #59109 "compiletest path normalization is too aggressive"
Notice that the backslashes in the help output for intra-doc link warnings are incorrectly converted to forward slashes:

https://github.com/rust-lang/rust/blob/de5c3c4b07fb37028bb36b2271271caf24eec6f3/src/test/rustdoc-ui/intra-links-warning.stderr#L8

The normalization is currently just a replace on all backslashes:

https://github.com/rust-lang/rust/blob/b244f61b77c42d7be695afd7901ee4418559e518/

[2019-03-11 17:45] alexreg commented on #59105
@estebank Yeah I know, but then I have to compile from scratch, and it takes forever. :-(

[2019-03-11 17:46] steveklabnik commented on #23113
Triage: I don't think anyone took mark up on his offer, as far as I know.

[2019-03-11 17:49] cramertj commented on #59087
Closing as a sub-issue of https://github.com/rust-lang/rust/issues/52924.

[2019-03-11 17:52] cramertj commented on #59087
cc @tmandry @Zoxc

[2019-03-11 18:13] mati865 opened #59110 "error: unknown debugging option: `dual-proc-macros` when running cross tests"
I'm working on tests for dynamic musl (https://github.com/rust-lang/rust/pull/58575) and since https://github.com/rust-lang/rust/pull/58013 I'm hitting:
[code]
Error comes from: https://github.com/rust-lang/rust/blob/f2ef283b7265a35ee4b6e250e1160ba28b33953a/src/bootstrap/bin/rustc.rs#L115

The configuration is very unusual because the builder is `x86_64-unknown-linux-gnu` and both the host and the

[2019-03-11 18:33] cramertj commented on #59001
Yes, this is a bug I'm currently working on fixing.

[2019-03-11 18:43] estebank commented on #58796
@dtolnay I can confirm that that incorrect diagnostic is caused by https://github.com/rust-lang/rust/pull/52397 :(

[2019-03-11 18:50] shepmaster commented on #44732
Is there some way of using this feature with some kind of fallback for stable Rust? I'd love to use this, but completely losing docs for any stable users would be a real deal killer.

[2019-03-11 19:03] jsgf commented on #58840
Is this likely to be in a 1.33.1 release?

[2019-03-11 19:06] pietroalbini commented on #58840
If we do a release and the fix is not risky to land in a point release probably yes, but there aren't other point release worthy issues to fix so I'm not sure if we'll end up doing one.

[2019-03-11 19:14] edef1c commented on #45323
Is there any particular reason not to add `fn buffer(&self) -> &[u8] { &[] }` to `BufWrite`?
It seems like a useful enough general-purpose API: "get me however many bytes you can easily give me".
Individual implementations could make stricter guarantees about the lower bounds, of which "at least the unconsumed fraction of the last `fill_buf`" would be a common one.

[2019-03-11 19:18] estebank opened #59112 "Provide suggestion for use after move caused by match expression"
Provide suggestion for use after move in match arm, either using `ref` in the pattern or borrowing the moved variable:

[code]

[Has the following output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6e7a3f8701fc86dd18b8af88258de375):

[code]

_Reported at https://mobile.twitter.com/mountain_ghosts/status/1105168489160032257_

---

A possible output:

[code]

[2019-03-11 19:40] killercup commented on #59103
+1 this comment if you think 1st option is best option

[2019-03-11 19:58] cramertj opened #59113 "Tracking issue for RFC 2592, futures_api"
This is a tracking issue for the `std::{future, task}` [RFC 2592](https://github.com/rust-lang/rfcs/pull/2592) under the feature gate `futures_api`.

### Steps:
- [x] Implement the RFC (https://github.com/rust-lang/rust/pull/57992)
- [x] Migrate `futures-preview` and some existing uses of it (Fuchsia) to the latest unstable API to ensure compatibility.
- [x] Make `RawWakerVTable` fields private an

[2019-03-11 20:12] carllerche commented on #59113
The `&Waker` argument comes with an implication of `Send + Sync + Clone`. It is also intended to be accessible from futures being polled **and** code that notifies the future (not necessarily in a future itself). Passing `&Waker` directly is a forwards compatibility hazard as it would limit extending the future API. In previous comments, I provides examples where it would be useful to pass in data

[2019-03-11 20:14] carllerche commented on #59113
The `RawWakerVTable` struct [contains all public fields and no constructor](https://github.com/rust-lang/rust/pull/57992/files#diff-5573182938909e346b0dfe09641235e1R58). This seems like a fowards compatibility hazard as I am not sure how methods could be added to the vtable in the future.

[2019-03-11 20:46] steveklabnik commented on #7463
Still getting a bunch of

[code]

[2019-03-11 20:50] pnkfelix commented on #59074
The diagnostic here does seem a bit frustrating.

----

I'll include my long-winded explanation here, if only to provide foundations for figuring out better messaging.

 * The occurrence of the identifier `xs` within the closure is going to be treated implicitly as a *borrow* of the first (and only) formal parameter to `wrap_vec_in_closure`. (That formal parameter is named `xs`.)
 * The formal par

[2019-03-11 20:51] alexcrichton commented on #58506
Build time time variance has leveled off in the recent week since this change was deployed on Travis's side, @kennytm do you know if this has come up much in the past week or so?

[2019-03-11 20:55] pnkfelix commented on #59032
incompatibilities with ESET were previously noted (or at least hypothesized) over [here](https://github.com/rust-lang/rust/issues/56736#issuecomment-446482960)

[2019-03-11 20:57] steveklabnik commented on #21204
Triage:

[code]

at least now properly errors. I'm not sure if the compiler's warning APIs are the same as when this bug was filed, or if this issue persists. Many @Manishearth or someone else from clippy knows?

[2019-03-11 21:03] steveklabnik commented on #18297
I know next to nothing about llvm attributes, but

[code]

gives

[code]

llvm says https://llvm.org/docs/LangRef.html

I'm not sure if the `local_` version is correct or not...

[2019-03-11 21:07] llogiq opened #59115 "Tracking issue for omit From::from from `?` lowering for existentials"
The idea is that this call clashes with type inference, so removing it for existentials and impl Trait should be a win. The proposed feature name is `fromless_try`.

Implementation in #58999

[2019-03-11 21:23] nikomatsakis commented on #53548
I did some more digging into this problem. This code will actually ICE if using a version of rustc built with debug assertions. Moreover, the follow example code -- which doesn't use generators at all -- will ICE in the same way:

[code]

the problem here ultimately has to do with the way that the WF code works. I left some [obscure notes on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/18

[2019-03-11 21:29] petrochenkov commented on #52307
Fixed in https://github.com/rust-lang/rust/pull/59058

[2019-03-11 21:30] petrochenkov commented on #53776
Fixed in https://github.com/rust-lang/rust/pull/59058

[2019-03-11 21:35] Nemo157 commented on #59087
There definitely seems to be something causing locals to be unnecessarily put into the generator struct instead of staying as true-locals. Using a simplified function (with the same `i_am_1kb` as above)

[code]

and running `cargo rustc -- -Z dump-mir=generator` to dump the mir, the liveness analysis shows that `inner` is [correctly considered dead after being moved to `pinned` in the `await!` mac

[2019-03-11 22:06] Manishearth commented on #21204
I'm pretty sure I've seen deny(warnings) apply to non-lint warnings (this broke a rustup for firefox where we weren't able to `#[allow()]` our way out without allowing all lints), but I need to check

[2019-03-11 22:10] Manishearth commented on #21204
Nope, this is still the case.

Check out:

[code]

(non-lint warning taken from https://github.com/rust-lang/rust/issues/42326 )

[2019-03-11 22:13] eternaleye commented on #58278
@centril Yeah, the usual framing of debug logging to make it a non-effect is that it's a noop or identity function that _happens_ to be a convenient thing for a debugger or runtime to instrument, along the lines of `fn debug<T>(x: T, msg: &'static str) { x }`.

Here, `dbg!()` is explicitly side-effecting - it writes to stderr, advancing the write cursor, etc. It both acts on the environment (an ef

[2019-03-11 22:14] cramertj commented on #59113
@carllerche

It has a constructor defined [here](https://github.com/rust-lang/rust/blob/e68bf8ae15ee6c052d0bcc9252386c5c5ee86de2/src/libcore/task/wake.rs#L39), right above the fields you linked. Those fields should indeed be private though-- I've added a bullet to the issue about that.

[2019-03-11 22:15] cramertj commented on #59113
@carllerche I didn't imagine we'd plan to add fields to that VTable in the future, but I have no opposition to future-proofing against that. I've added a bullet to the top of this issue.

[2019-03-11 22:16] Zoxc commented on #59110
Are you overriding the rustc version used to compile?

[2019-03-11 22:20] Zoxc commented on #59110
Oh wait, that's trying to cross compile using the stage0 compiler, when it should be using the stage1 compiler.

[2019-03-11 22:23] cramertj commented on #59113
@carllerche Can you say more about what you have in mind for `&Context` storage and downcasting? What is `Context` exactly in your mind? Just another opaque struct with a lifetime parameter and a single `fn waker(&self) -> &Waker`? And you'd imagine that things like e.g. `FuturesUnordered` would poll their subfutures with the `Context` provided but with the `waker` replaced?

This is what we used

[2019-03-11 22:27] Centril commented on #58278
@eternaleye Bummer, so I believe we have 3 options then?

1. Desugar `dbg!(x)` inside a `const fn` such that it cannot output anything.
2. Add a second macro `bikeshed!(x)` such that it behaves as in 1. but `dbg!(x)` cannot be used in `const fn`s.
3. Give up the determinism of function application of `const fn` during run-time. *(but this is a bad idea..)*

[2019-03-11 22:30] carllerche commented on #59113
@cramertj Yes, that is correct.

The primary reason is forwards compatibility. There are potential additions that can be made to the API but should not be explored immediately. I demonstrated how `&Waker` prohibits these additions.

Thread-locals do not work in environments that do not have access to thread-locals.

[2019-03-11 22:36] mark-i-m commented on #58278
My preference would be towards (2) where `bikeshed!(x)` prints a compile-time message.

[2019-03-11 22:42] Zoxc commented on #59087
@Nemo157 The generator transformation conservatively assumes that any borrow can be converted to a raw pointer and the locals can be accessed with that until their storage slot is dead. That's why `inner` is considered live during the `await!` here.

[2019-03-11 22:46] retep998 commented on #59107
Rust currently insists on canonicalizing paths, which unfortunately does not work on certain types of drives. To fix this libstd would need to gain a way of normalizing paths *without* canonicalizing them, and then rustc would be updated to use that everywhere.

[2019-03-11 22:48] mark-i-m commented on #58967
@michaelwoerister Could you add one more MVP item: document in rustc guide?

[2019-03-11 22:52] cramertj commented on #59087
Yeah, @eddyb and I discussed this at the all-hands, and that making a type implement `Copy` is actually a potential perf *regression* here, which is weird. For non-`Copy` types, you can assume no accesses after moving out of them, but for `Copy` types you can't necessarily do this.

[2019-03-11 22:53] cramertj commented on #59113
Yup-- these environments often don't have threads, either, though, so `static`s would be fine. But anyways, thanks for the quick response-- I'll open a PR to fix up both of those issues.

[2019-03-11 22:55] Nemo157 commented on #59087
Ok, so an optimisation to fix this example would be to add a less conservative check that can see when the borrow definitely wasn’t converted to a raw pointer. That seems relatively straightforward to check when the borrow never enters any unsafe code.

[2019-03-11 22:58] cramertj commented on #59113
@carllerche Do you care if it's `&Context` vs. `&mut Context`? It doesn't seem to matter greatly-- `&Context` would allow polling multiple futures with the same context, while `&mut` would potentially allow mutation (I'm assuming we're fine exposing that the `Context` type is both `Send` and `Sync`?).

[2019-03-11 22:58] retep998 opened #59117 "Add function to make paths absolute, which is different from canonicalization"
Many users want to turn relative paths into absolute paths, but the only tool that libstd currently offers is `canonicalize` which is bad because it has to hit the filesystem which has several downsides:

1. It takes time to hit the filesystem.
2. The path has to actually exist.
3. It fails on certain types of drives such as RAM drives on Windows.
4. The path it creates is a `\\?\` path which not

[2019-03-11 23:01] carllerche commented on #59113
@cramertj Should it be `Send` or `Sync`? My assumption would be that it does not need to be either, and shouldn't (unless there is an argument to make it so that I am not aware of).

As the use case for this argument is to pass "task context" into the future that is only usable from that `poll` call, i would say `&mut Context` is the safest. Especially if you consider the use case of potentially a

[2019-03-11 23:04] cramertj commented on #59087
Note that for this to be very useful at all it would have to be able to see through functions (via MIR inlining) and intrinsics (e.g. `size_of_val` above).

[2019-03-11 23:06] jethrogb commented on #59113
`&mut Context` is annoying because you'd have to reborrow if you want to invoke other futures.

[2019-03-11 23:06] cramertj commented on #59113
@jethrogb `&mut` automatically reborrows. It's what we used to do in futures 0.2.

[2019-03-11 23:09] jethrogb commented on #59113
Sorry, nevermind, I'm getting my compiler limitations confused :)

[2019-03-11 23:10] tmandry commented on #52924
#59087 was merged into this, but I'm not sure it would be fixed by the optimization we were discussing here. Taking this (simplified) segment:

[code]

Here, removing the `println!("");` statement does not change which variables are live across a yield point, but it does cut down the size of `composed_2` by half. So it seems something else is going on here. Am I missing something?

[2019-03-11 23:40] cramertj commented on #52924
@tmandry You're right, it wouldn't be fixed by the change we were discussing. I meant to pull it in under the general heading "generators are too big", but that wasn't clear-- I'll reopen the issue since it's tracking a different fix.

[2019-03-11 23:41] Nemo157 commented on #59087
Can it not trust the lifetimes on safe functions signatures? `size_of_val` does not have a lifetime dependency so should be relied on to not stash a raw pointer to the reference away somewhere. (I guess this is an UCG question whether safe function boundaries are barriers that require safety to be upheld, and whether future unsafe code can allow prior safe code to violate lifetimes, i.e. is [somet

[2019-03-11 23:44] cramertj commented on #59087
No, lifetimes in function signatures cannot necessarily be used to determine the scope of accesses to the resulting pointer. Without a memory model it's completely unclear when accesses would or wouldn't be allowed to the underlying memory. @ralfjung's work on stacked borrows is the only thing I'm aware of that would allow proper analysis, and in general anywhere there's a ref-to-ptr conversion, a

[2019-03-11 23:52] tmandry commented on #59087
Just want to emphasize that this is still a problem even when the variable is not borrowed:

So there is likely progress to be made here without doing the analysis being discussed by @Nemo157 / @cramertj.

[2019-03-12 00:07] Nemo157 commented on #59087
From skimming the MIR of

[code]

it looks like that could be related to the unwind edge from the function call (and `println!` expands to a few function calls). Another optimization related to the one mentioned in #52924 that could fix this would be to suppress moving values where their lifetimes only intersect during the move, essentially re-using the same stack slot for both `inner` and `pinned

[2019-03-12 01:29] Kingsquee commented on #59032
(I'm currently using my distro's version of rust to complete some work, will update this issue with the backtrace when time allows)

[2019-03-12 02:41] ipetkov opened #59122 "Rust 1.33.0 failing UI tests when run with single core"
I'm trying to package/build Rust 1.33.0 on Guix and I'm consistently getting some test failures regarding panic messages.

Several run-fail tests check that a `#[test]` with a name like `test_foo` prints a message like `thread 'test_foo' panicked...`, but instead the output will come out as `thread 'main' panicked...`.

I'm not really sure what can be the cause of the issue, but FWIW we build Rust

[2019-03-12 02:45] Nemo157 opened #59123 "Generator size: unwinding and drops force extra generator state allocation"
[code]

The two generators returned by `simple` and `complex` should be equivalent, but `complex` takes twice as much space:

[code]

---

[Dumping out the MIR](https://gist.github.com/Nemo157/5ad6014e20094d1193620be0e2c60695) (with `rustc 1.34.0-nightly (f66e4697a 2019-02-20)`) shows an issue with how unwinding from `foo` interacts with the two stack slots for `first` and `_second`, using a dynam

[2019-03-12 02:47] Nemo157 commented on #59087
Opened https://github.com/rust-lang/rust/issues/59123 about the unwinding and drop interaction.

[2019-03-12 02:50] Nemo157 commented on #59123
@rustbot modify labels: A-generators and T-compiler.

[2019-03-12 02:53] crlf0710 commented on #59113
I think another approach is add another field:
```user_data: unsafe fn(*const ()) -> *mut (),```
And different runtimes can interpret the `* mut ()` result themselves, like downcasting it into its own type?

[2019-03-12 03:01] Mark-Simulacrum commented on #59117
Semi-related issues/PRs: https://github.com/rust-lang/rust/issues/47402, https://github.com/rust-lang/rust/pull/47363, and https://github.com/rust-lang/rfcs/issues/2208.

[2019-03-12 03:03] Mark-Simulacrum commented on #47402
Closing in favor of https://github.com/rust-lang/rfcs/issues/2208, which is the more appropriate place to track this (since we don't have an implementation yet; see my comment there too: https://github.com/rust-lang/rfcs/issues/2208#issuecomment-471834637).

[2019-03-12 03:40] fintelia commented on #45323
Yeah, this has been a while. @SimonSapin @sfackler is this ready for a vote to merge?

[2019-03-12 04:33] Matthias247 commented on #59113
@crlf0710 How can you be 100% sure that you have been called by your runtime, and not another one, so that it's safe to cast? Futures are interoperable, so a task could be called from various runtimes, even if the code that is current processing the task belongs to a specific runtime (e.g. Tokio).

Regarding Context: I'm fine with having it. Maybe making it `&Context` makes it more convenient to p

[2019-03-12 05:17] crlf0710 commented on #59113
@Matthias247 There's indeed unsafety, but how can one expect the `Context` be inter-operable as well? i.e If i give call Tokio instance's future with another Tokio(or even Romio) instance's Context, how would the runtime recognize that this happens or proceed?

[2019-03-12 05:19] kennytm commented on #58506
@alexcrichton Nope, all 3-hour timeouts I knew in the past week were caused by Docker rebuild.

[2019-03-12 05:23] nhynes commented on #44580
I'm guessing that this doesn't yet work for `impl` blocks? I tried

[code]

but, as was indeed warned, the compiler crashed with

[code]

but props to Rust for even considering this feature. I had no idea if it'd work but the syntax seemed natural, I went for it, and lo rustc said it existed :)

[2019-03-12 05:40] HadrienG2 commented on #44580
I'm not surprised that it is not working, as this hotly anticipated feature is still being plumbed through the compiler as we speak (see e.g. #59008 and #58581 and the earlier work on #53645 which was abandoned because the PR was too big, but still kept open as a tracker to announce progress).

However, I'm not sure if out-of-bounds slice accesses should be expected of the current implementation s

[2019-03-12 05:43] jynnantonix opened #59125 "Memory leak with ASAN and RUST_BACKTRACE=1"
Hello,

There appears to be a memory leak when running a test that should panic with `RUST_BACKTRACE=1`.  To reproduce, create a new library crate and modify the `src/lib.rs` so that it contains:

[code]

Then run the tests with:

[code]

This results in the following memory leaks:
[code]

My rustc version is `rustc 1.35.0-nightly (9d71ec135 2019-03-10)`.  Please let me know if you need more infor

[2019-03-12 06:14] ry commented on #50547
When will `std::future::Future` be in stable? Does it have to wait for async await? I think it's a very nice design and would like to start porting code to it. (Is there a shim to use it in stable?)

[2019-03-12 06:33] mjbshaw opened #59126 "Unions with ZSTs are no longer usable"
It looks like this was broken in the release of 1.32.0 (and is still broken, even on nightly) (checked on https://rust.godbolt.org/). The following example program:

[code]

Fails to compile:

[code]

Interestingly, making the `union` `#[repr(C)]` fixes it.

My Rust version:

[code]

I know [`union` field accesses aren't stable](https://github.com/rust-lang/rust/issues/51909), but I don't think th

[2019-03-12 06:34] jynnantonix commented on #59125
These do seem like legitimate leaks.

I would guess that there needs to be a `free_abbrevs` and a `backtrace_free` call on [line 1599 in dwarf.c](https://github.com/rust-lang-nursery/libbacktrace/blob/master/dwarf.c#L1599).

The `read_line_header` function appears to set `hdr->filenames[i]` to either memory allocated via `backtrace_alloc` or a pointer into a struct declared on the stack in the sam

[2019-03-12 07:39] michaelwoerister commented on #58967
Good call! Thanks for the reminder, @mark-i-m!

[2019-03-12 07:54] niklasad1 commented on #58634
Thanks, I can verify that it is fixed in `rustc 1.35.0-nightly (e68bf8ae1 2019-03-11)`

[2019-03-12 07:56] Nemo157 commented on #50547
@ry see the fresh tracking issue for it: https://github.com/rust-lang/rust/issues/59113

[2019-03-12 08:23] glandium commented on #58862
Right. But only in some configurations. Firefox has an even weirder configuration than the cases where it might happen without all the Firefox weirdness.

And it is, to some extent, but there's also no escape hatch provided by rust.

It's possible, but that wouldn't solve the problem, because the it's not a problem with rust allocations. It's a problem with rust libstd deallocation of a buffer tha

[2019-03-12 08:29] xfix commented on #57127
For reference, `.map(|&x| x)` pattern is quite common according to https://codesearch.aelve.com/rust/search?query=%5C.%5Cs*map%5Cs*%5C(%5Cs*%5C%7C%5Cs*(%3F%3A%26%5Cs*%5Cw%2B%5Cs*%5C%7C%5Cs*%5C%7B%3F%5Cs*%5Cw%2B%7C%5Cw%2B%5Cs*%5C%7C%5Cs*%5C%7B%3F%5Cs*%5C*%5Cs*%5Cw%2B)%5Cs*%5C%7D%3F%5Cs*%5C)&insensitive=off&space=off&precise=off&sources=on

[2019-03-12 09:11] RalfJung commented on #59126
Interesting. Looks like a validation issue?

Cc @oli-obk

[2019-03-12 09:24] varkor commented on #44580
Yes, the warning is correct: const generics are not yet functional in any form. There are still a few more pull requests before they're ready to start getting played around with.

[2019-03-12 10:00] bluescreen303 commented on #49434
I ran into a very similar issue, borrow-after-move, where a generalized two-phase solution would help and would make behaviours more as expected.

Please see https://stackoverflow.com/questions/55117392/am-i-misunderstanding-evaluation-order-borrow-of-moved-value

[2019-03-12 10:14] bartsmykla commented on #33417
How can I help with documentation? :-)

[2019-03-12 10:20] SimonSapin commented on #33417
Oh I thought https://github.com/rust-lang/rust/pull/58015 had landed, but it hasn’t yet… Let’s discuss it there.

[2019-03-12 10:28] LinusU opened #59127 "Tracking issue for udp_peer_addr"
Tracking issue for making `peer_addr()` on `UdpSocket` stable: #59106, #59104

[2019-03-12 10:44] yoshuawuyts commented on #59113
I feel like I'm not understanding the reasoning for preferring `Context` over TLS. @cramertj [already pointed out](https://github.com/rust-lang/rust/issues/59113#issuecomment-471772271) that environments that don't have access to TLS likely also won't have threads, which means `'static`s can be used instead for the same purpose.

It also seems odd to me that stdlib would consider extending std str

[2019-03-12 11:28] pnkfelix commented on #59109
Could we perhaps use the [canonicalize](https://doc.rust-lang.org/std/fs/fn.canonicalize.html) method here?

[2019-03-12 13:25] shepmaster commented on #59113
Assuming that TLS == *thread* local storage (and not *task* local storage), does using this mechanism force a task to always be run on the same thread? If so, is that a problem?

If there are 10 threads and 100 tasks spread across those, would any implementation of task local storage on top of thread local storage require a hashtable-like solution, mapping a given task to its data? Would it still

[2019-03-12 13:29] theronic commented on #27800
What's the succession story for waiting on two channels and taking from the first one that yields a message?

[2019-03-12 14:34] houssemFat-DDF commented on #43039
Based on @Tomcc comment.
We need to install other sdk tools for windows 10. Below the list of VS C++ requirements for running the `hello word` example

![image](https://user-images.githubusercontent.com/34309592/54208444-3a1d3f80-44dc-11e9-9fb0-4db692f3583a.png)

[2019-03-12 14:38] BigBigos commented on #59113
Can't the executor set the current task-local-storage state in its thread's thread-local-storage before polling a task? A task should only be polled on one thread at a time and this state can move between threads, alongside the task.

That could even be integrated in the future without executor support. Simply wrap the task in a future that sets the current storage state in TLS on its poll() metho

[2019-03-12 14:51] dlrobertson opened #59131 "Use a different DefId for the Def::Variant and Def::VariantCtor"
The enum variant (`Dev::Variant`) and the enum variants constructor (`Def::VariantCtor`) share the same `DefId` making it impossible for `tcx.describe_def` to resolve a `DefId` to a `VariantCtor`.

This issue originates from the discussion [here](https://github.com/rust-lang/rust/pull/59036#discussion_r263991093).

Note: `tcx.describe_def` has not moved away from `NodeId`. It may be best for the f

[2019-03-12 15:15] ckaran commented on #58375
@jethrogb I've updated the repository at https://github.com/ckaran/rustc_issue_report_58375 with the output from `RUST_LOG=trace RUST_BACKTRACE=full cargo tarpaulin >> build_output.txt 2>&1`.  The resulting output is quite verbose; I hope that it will be of help to you.  More details can be found in the update second of the `README.md` for the repository.

If that still doesn't work for you, every

[2019-03-12 15:36] elichai opened #59133 "Tracking issue for `FromStr` trait usage in const fn"
Because Rust already have macros that evaluate on compile time to strings I think converting them to ints in a `const fn` is a very nice feature.

e.g. `env!("SOMETHING").parse::<usize>().unwrap()`

----------------------
I opened this Issue as part of: https://github.com/rust-lang/rust/issues/57563
Interested to hear if other people want this and if it's already exists as part of a different issu

[2019-03-12 15:37] elichai commented on #57563
@Lokathor https://github.com/rust-lang/rust/issues/59133

[2019-03-12 15:43] carllerche commented on #59113
@yoshuawuyts

Using thread-local state to store context is **not free**. In Tokio, the work of swapping out all the thread-locals before calling `poll` is noticeable in profiles. The futures API already pays the ergonomic cost of passing in a context argument. Allowing libs to inject context in the context struct would allow removing the cost of dealing with thread-local manipulation.

Also, the g

[2019-03-12 15:44] AGausmann commented on #34511
Has there been any discussion about extending `impl Trait` syntax to things like struct fields? For example, if I'm implementing a wrapper around a specific iterator type for my public interface:

[code]

It would be useful in those situations where I don't really care about the actual type as long as it satisfies certain trait bounds. This example is simple, but I've encountered situations in the

[2019-03-12 15:49] pnkfelix commented on #57464
(I've closed PR  #58839 since @matthewjasper found cases that it did not address. I will attempt to look into the root problem.)

[2019-03-12 15:50] seanmonstar commented on #59113
@yoshuauyts

This was the *exact* same reasoning against adding an argument to `poll`, but people didn't like it.

In my experience building and maintaining several heavily depended on libraries, forwards-compatibility is pretty important to consider. I'm not pushing for any particular extra feature beyond waking at the moment. I do think it's early to be absolutely certain we wouldn't want additi

[2019-03-12 15:58] Centril commented on #34511
@AGausmann The latest discussion on the subject is in https://github.com/rust-lang/rfcs/pull/2515. This would allow you to say `type Foo = impl Bar; struct Baz { field: Foo } ...`. I think we may want to consider `field: impl Trait` as sugar for that after stabilizing `type Foo = impl Bar;`. It does feel like a reasonable macro-friendly convenience-extension.

[2019-03-12 16:10] SimonSapin commented on #27800
Consider using another library such as https://crates.io/crates/crossbeam-channel

[2019-03-12 16:21] Smibu commented on #51393
@rustbot modify labels: I-hang O-macos.

[2019-03-12 16:30] jethrogb commented on #59113
@carllerche In the RFC thread, @brian0 [suggested](https://github.com/rust-lang/rfcs/pull/2592#issuecomment-457906184) task spawning be made available through the `Context`.

[2019-03-12 16:32] jethrogb commented on #59113
@yoshuawuyts In the RFC thread, @brian0 [suggested](https://github.com/rust-lang/rfcs/pull/2592#issuecomment-457906184) task spawning be made available through the `Context`.

[2019-03-12 16:35] arturoc opened #59134 "RLS ICE: "node_type: no type for node" when building bitflags"
When using this branch of bitflags: https://github.com/bitflags/bitflags/pull/172 through a patch in a local directory rls crashes with the following errors:

[code]

[2019-03-12 16:35] Smibu commented on #53734
@rustbot modify labels: A-edition-2018-lints.

[2019-03-12 16:42] withoutboats commented on #59113
**Moderation note:** This conversation about the Waker vs Context API is currently happening in two places, on the tracking issue and on a PR for a specific proposed API change. Could we please move all further discussion about replacing Waker with a further step of indirection to that PR?

---

@jethrogb that functionality used to exist, but was removed. You can find the discussion about it here:

[2019-03-12 16:43] Smibu commented on #55623
@rustbot modify labels: A-testsuite.

[2019-03-12 16:59] steveklabnik commented on #29323
Triage: no real movement on this

[2019-03-12 16:59] jethrogb commented on #58375
Can you run it again but with `strace`?

[code]

[2019-03-12 17:17] steveklabnik commented on #29994
Triage: there's been no other comments in over three years; given that people use cargo 99% of the time, and are not very likely to invoke rustc in this particular way, I'm not sure this is going to be implemented.

[2019-03-12 17:17] nikomatsakis commented on #59087
We discussed this issue and decided to label it as *deferred* for the purposes of stabilization -- it's a bit too broad. We might consider trying to fix specific instances of this problem. Certainly, to start, we would want to fix #52924 and revisit.

[2019-03-12 17:19] steveklabnik commented on #30003
Triage: this is still marked as needs-decision for @rust-lang/lang, but i'm not sure there was ever a discussion on it.

Personal opinion: the root issue here is the unsafe, and so it's not likely to be fixed.

[2019-03-12 17:20] nikomatsakis commented on #59001
Marking this as **blocking** as it is part of the lifetime refactoring work that @cramertj has already started doing and should be addressed by that (as discussed [here](https://rust-lang.zulipchat.com/#narrow/stream/187312-t-compiler.2Fwg-async-await/topic/meeting.202019.2E03.2E12/near/160589879)).

[2019-03-12 17:24] nikomatsakis commented on #58945
going to close this as fixed then, thanks @magnet !

[2019-03-12 17:24] #58945 closed

[2019-03-12 17:25] eddyb commented on #59095
Maybe `opaque` is different than what I was doing, which was to leave the body of the LLVM struct type unfilled? cc @nagisa

[2019-03-12 17:28] steveklabnik commented on #30112
Triage: I'm not great with asm, but https://godbolt.org/z/wj6kYl

It appears that `split_to` is partially unrolled in today's nightly, but still checks the bounds. split_to2, like was said above, compiles to very straightforward code with no checks.

[2019-03-12 17:30] steveklabnik commented on #29094
Triage: the error today:

[code]

It still does not suggest `'a`, so keeping open as per @estebank 's comment.

[2019-03-12 17:31] steveklabnik commented on #29118
Triage: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2e27bca5c3a888a7f1955969603a8101

No change

[2019-03-12 17:33] steveklabnik commented on #31320
I'm going to close this one; I use exclusively powershell for development with no issue, and it seems like this was related to old installers.

[2019-03-12 17:33] #31320 closed

[2019-03-12 17:35] steveklabnik commented on #28026
Triage:

[code]

[2019-03-12 17:37] steveklabnik commented on #27969
This... now seems to work?

[code]

compiles without error. I'm not sure what happened in the last two years to fix it. Other combinations work as well, like `Result::<i32, ()>::Ok(5)`.

[2019-03-12 17:37] #27969 closed

[2019-03-12 17:38] steveklabnik commented on #28498
Triage: feature gate still active, not aware of any work in this area.

[2019-03-12 17:40] steveklabnik commented on #29635
Triage: not aware of any change.

[2019-03-12 17:44] steveklabnik commented on #29634
Triage: pretty sure that this is still where it was back in 2017. Since the previous issue was with test harness stuff, I wonder if and when custom test harnesses happen, it will alleviate this or not.

[2019-03-12 17:47] steveklabnik commented on #37390
Triage: Digging through all the linked issues is tough, and it's not clear to me exactly what this warning is or does. @jseyfried can you maybe elaborate a little?

[2019-03-12 17:48] steveklabnik commented on #40180
Triage: not aware of any movement stabilizing this.

Personal note: this is one of my favorite rust features :)

[2019-03-12 17:49] steveklabnik commented on #42202
Triage: not aware of any movement on stabilizing this.

[2019-03-12 17:50] steveklabnik commented on #38487
Triage: not aware of any movement on stabilizing this.

[2019-03-12 17:50] steveklabnik commented on #38788
Triage: not aware of any movement on stabilizing this.

[2019-03-12 17:51] steveklabnik commented on #38864
According to the last comment here, it seems like maybe this is finished?

[2019-03-12 17:51] steveklabnik commented on #42877
Triage: no changes

[2019-03-12 17:54] steveklabnik commented on #42326
Triage: it's been a few years, and looks like nobody has visited this issue.

[2019-03-12 18:23] shepmaster commented on #59113
Could you provide a link to said PR for those of us who aren't currently following it?

[2019-03-12 18:46] petrochenkov commented on #37390
This needs to be turned into an error, i.e. behave like `use crate;` basically:
[code]

[2019-03-12 18:48] sgrif commented on #38864
The issue I raised still exists. I'm not sure how it was overlooked in the RFC, the example given from the RFC itself, and the text explicitly states that we'd like to be able to reference associated types from the trait being implemented. I agree that this is a fix that needs to happen in the trait system, not just syntactic support, but it is something the RFC calls out explicitly multiple times

[2019-03-12 18:49] GinjaNinja32 opened #59137 "Specific code layout can cause compiler panic with lto=true"
The specific setup I'm seeing to cause this is a three-crate workspace:
- `parent`, a binary, depending on `shared`
- `child`, a library, with `crate-type = ["dylib"]`, depending on `shared`
- `shared`, a library, also with `crate-type = ["dylib"]`

For my specific use case, there are many crates like `child`, and `parent` loads them dynamically via `libloading`, but this is not required to reprod

[2019-03-12 18:50] petrochenkov commented on #38864
Could you open a separate ticket please, focused on that specific bug?
This is a tracking issue for the feature in general, and the feature in general was implemented and stabilized.

[2019-03-12 18:50] #38864 closed

[2019-03-12 18:51] stepnivlk commented on #59094
@oli-obk Hi again :).
So I started implementing proposed methods and updating calls to them over the codebase and I noticed one `def_id` extracting pattern when there's something like this:
[code]
It seems to me like we can introduce fourth method:
`fn opt_type_dependent_def_id(&self, id: HirId) -> Option<DefId>`

Allowing us to rewrite previous example as:
[code]
Leading to little bit cleaner cod

[2019-03-12 18:52] yoshuawuyts commented on #59113
@shepmaster https://github.com/rust-lang/rust/pull/59119

[2019-03-12 18:59] oli-obk commented on #59094
Good idea!

[2019-03-12 19:03] jynnantonix commented on #59125
Looks like fixes have already been posted upstream:

[Fix memory leak in build_address_map](https://patchwork.ozlabs.org/patch/1004919/)
[Fix memory leak in loop in build_address_map](https://patchwork.ozlabs.org/patch/1004920/)

Maybe this issue should be moved to the libbacktrace repo.

[2019-03-12 19:06] cramertj commented on #29634
I've been meaning to start more chats about revamping the test harness anyways to work with `panic = "abort"`-- perhaps on an internals thread / mini-working-group?

[2019-03-12 19:08] pietroalbini opened #59140 "Investigate xcode 9.3 images deprecation"
We should ask Travis CI if they have a deadline for the deprecation of the xcode 9.3 images, and what would happen with our `-moar` images.

Announcement of the deprecation: https://blog.travis-ci.com/2018-07-19-xcode9-4-default-announce

[2019-03-12 19:14] rkruppe commented on #59095
If you use those words precisely in the sense LLVM documentation does, then that should do the trick. The easiest way to be sure would be to look at `--emit llvm-ir` output and see whether it says `opaque` or `{}`.

[2019-03-12 19:20] steveklabnik opened #59142 "error: unknown codegen option: `passes\`"
I've got a weird bug:

[code]

If you see there, it's doing `-C passes\=lint`.

Fails on both

[code]

I have no idea where that `\` is coming from. Any ideas?

[2019-03-12 19:55] ehuss commented on #59142
Everything between `--print=file-names` and `--crate-type` comes from user-configured rustflags (`RUSTFLAGS` from env, or `target.*.rustflags` or `build.rustflags` from `.cargo/config`).

[2019-03-12 20:02] steveklabnik commented on #59142
uuuuugh thank you. (Somehow an experimental RUSTFLAGS i was working on persisted across shell invocations, thank you!)

[2019-03-12 20:02] #59142 closed

[2019-03-12 20:43] Coder-256 commented on #44580
Sorry if this is not the right place to ask questions but I couldn't find anywhere better. Just 2 questions:

1. Can a single function be **conditionally** const? For example, a function could have 2 signatures like:
[code]
    In this case, **`foo` is const iff `A: const T`**; if `A` does not const implement `T`, it still satisfies the bound but `foo` is no longer const. It is also important for

[2019-03-12 20:49] rpjohnst commented on #44580
@Coder-256

1. Yes, see https://github.com/rust-lang/rfcs/pull/2632.
2. I am not sure whether that should even be possible, though given the above I'm not sure it's necessary either.

[2019-03-12 20:54] yodaldevoid commented on #44580
@Coder-256 Both of these questions are not related to const generics, but rather const functions. Const generics are for being generic over consts (e.g. `foo<2>()`) rather than functions being able to be run at compile-time. I imagine this is why you did not find the answers to your questions in RFC 2000.

[2019-03-12 20:56] Coder-256 commented on #44580
@rpjohnst Thank you, but I think I might have been unclear. I have already seen both rust-lang/rfcs#2632 and rust-lang/rfcs#2000, but I'm pretty sure that this is not mentioned in either. (but I could be wrong?) What I am asking about is **conditionally** const functions. See the examples I wrote since it is hard to describe.

@yodaldevoid Whoops you're right, where should I ask this?

As for the

[2019-03-12 21:02] varkor commented on #44580
Your `square_const` definition can be used in place of `square` (that is: it is coerced to a function with the equivalent signature at run-time). See https://github.com/rust-lang/rfcs/pull/2632 for discussion of this behaviour (also, that thread is the right place to ask questions about any interactions between `const fn` and trait bounds).

[2019-03-12 21:03] oli-obk commented on #58278
I don't know what 3. is, but I think we should have `dbg!` as I described above. Unchanged runtime behavior. At compile-time, you get a compile-time diagnostic instead.

The documentation of `dbg!` explicitly says

and

It does not talk about *how* it actually ends up getting that information to stderr. The `dbg!` macro can be seen as the "warning" variant of `panic` at compile-time, which also mo

[2019-03-12 21:05] oli-obk commented on #58278
The printing will either happen at compile-time (if you used the `const fn` in a constant), or at runtime, e.g. if you just called it in your main function.

For no_std situations it's not an issue, because `dbg` is in `std`, and not in `core`.

[2019-03-12 21:06] Coder-256 commented on #44580
@varkor I'm not convinced that that's the case (since the trait bounds change), but I'll ask in rust-lang/rfcs#2632.

[2019-03-12 21:07] oli-obk commented on #58645
Has been fixed in miri

[2019-03-12 21:07] #58645 closed

[2019-03-12 21:08] oli-obk commented on #50562
@gnzlbg this should have been fixed. Can you confirm?

[2019-03-12 21:09] jan-hudec commented on #34511
@Centril,

I don't think this would be reasonable. A struct field still has to have a concrete type, so you have to tell the compiler the return of which function it is tied to. It could infer it, but if you have multiple functions than it would not be that easy to find which one it is—and the usual policy of Rust is to be explicit in such cases.

[2019-03-12 21:11] oli-obk commented on #58325
Closing as duplicate of #54038

[2019-03-12 21:11] #58325 closed

[2019-03-12 21:17] joshlf opened #59144 "Inconsistent "attributes on expressions are experimental" error"
Given [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4f5147bf9cc2e3a12cdcaf37623fc66c):

[code]

There's an error generated about the `x = 1;` line, but not the `let mut x = 1;` line. I would expect that either a) neither of these are errors (since they're both statements, not expressions) or, b) both of these are errors.

(cc @cramertj )

[2019-03-12 21:18] estebank opened #59145 "Syntax error in patterns should elide missing field errors"
[The following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cf4b33bcebbe1179dcb77c25e1d5ea09)
[code]

produces the following error:

[code]

It shouldn't complain about the missing fields.

[2019-03-12 21:27] oli-obk commented on #54899
related to https://github.com/rust-lang/rust/issues/53678

both seem to not fully resolve all associated types

[2019-03-12 21:27] Centril commented on #58278
I don't think the issue is changing `dbg!`; I think the issue is permitting a *monomorphic* `const fn` to not behave in a deterministic fashion at run-time.

There's no problem with panics from `const fn`s at run-time; they occur in a deterministic fashion.

Yes but you would require that when `[T; dyn f(n)]` is applied twice, you can only assume `f(n) == f(n)` if and only if `f` is a `const fn` w

[2019-03-12 21:37] Centril commented on #34511
You would bubble up the requirement on defining uses to the parent type. It would then be all those functions in the same module which return the parent type. Doesn't seem all that difficult to me to find. I think however we want to settle the story on `type Foo = impl Bar;` before moving ahead with extensions.

[2019-03-12 22:10] ehuss commented on #59144
I suspect the attribute is binding tightly to the place expression, instead of the entire statement. Attributes on statements are stable, but attributes on expressions are limited. This is partially documented here: https://doc.rust-lang.org/nightly/reference/expressions.html#expression-attributes.  I'm curious if that precedence is intended. It makes sense to me, but I see how it is confusing.  A

[2019-03-12 22:25] xfix commented on #43497
Appears to be fixed, maybe with Edition 2018?

[2019-03-12 22:25] #43497 closed

[2019-03-12 22:27] xfix commented on #48969
I think the issue fixed itself.

[2019-03-12 22:27] #48969 closed

[2019-03-12 23:19] sanxiyn commented on #58729
Does it? For me warnings for unused functions only return span of function signatures, not bodies. Is that still annoying? Same for structs.

I think this is somewhat intentional as it is the item that is unused. Spanning the name usually means name resolution failure.

[2019-03-12 23:41] sanxiyn commented on #54234
I just confirmed that this is fixed by #59129. #47131 is unrelated as it is about impl header, not impl Trait.

[2019-03-12 23:53] mark-i-m commented on #58633
I'm running into the same problem with incremental builds, which makes incremental kind of useless...

[2019-03-12 23:59] jackmott commented on #58729
VSCode ends up highlighting the whole function, so if you are correct this bug should be closed and moved to that repo.  How can we verify?

[2019-03-13 00:38] yuanboli233 opened #59149 "rust-gdb give different info after adding optimization flag"
Rust-gdb give different information about generator in the code after I compile with opt-level=1 instead of opt-level=0.

This is the code:

[code]

I always set the break point at the "temp();" line at the end of the main function and print for "foo".

When I use opt-level=0, the value shows "foo = generator = {B, 3}".
When I use opt-level=1, the value shows "foo = generator = {B, 0}".

I am not

[2019-03-13 00:55] sanxiyn commented on #58729
It would help if you could provide a test case that reproduces the bug, preferably in the following format:

[code]

[2019-03-13 01:29] #10876 closed

[2019-03-13 01:29] #26448 closed

[2019-03-13 01:29] #26577 closed

[2019-03-13 01:29] #26619 closed

[2019-03-13 01:29] #27054 closed

[2019-03-13 01:29] #44127 closed

[2019-03-13 01:29] #44255 closed

[2019-03-13 01:29] #55731 closed

[2019-03-13 01:29] #57781 closed

[2019-03-13 04:16] estebank opened #59153 "Unused variables suggest `_prefix` for patterns with `ref` bindings when `_` wildcard would suffice"
[code]

The correct suggestion is either to remove the `ref e` and supply `_e` or to change the code to `ref e: _`.

[2019-03-13 04:40] ahomescu opened #59154 "E0587 error on packed and aligned structures from C"
When converting C structures that are both packed and aligned using either C2Rust or bindgen, such as:
[code]
the code that either tool produces looks something like:
[code]

This Rust code fails to compile due to error `E0587`:
[code]

We can work around this in C2Rust by emitting an aligned outer/packed inner structure pair (I think bindgen could do the same), but I'm wondering if it would be be

[2019-03-13 05:30] ehuss commented on #59153
I think this may be the same as #54180.

[2019-03-13 06:09] saleemjaffer commented on #58270
@gs0510 Are you working on this? Please let me know if I can work on this.

[2019-03-13 06:18] #58786 closed

[2019-03-13 06:19] #54822 closed

[2019-03-13 06:19] #59085 closed

[2019-03-13 06:19] #53548 closed

[2019-03-13 06:20] saleemjaffer commented on #57526
@spastorino @estebank I would like to take a shot at this.

[2019-03-13 06:22] saleemjaffer commented on #57431
@spastorino I would like to help with this.

[2019-03-13 06:27] saleemjaffer commented on #53848
@oli-obk I would like to take this up.

[2019-03-13 06:29] saleemjaffer commented on #53325
@oli-obk I would like to take this up.

[2019-03-13 06:34] estebank commented on #59153
It's very similar. It'll probably be fixed by the same code.

[2019-03-13 06:42] joshlf commented on #54822
@kyren I saw your PR got merged; thanks again for your work digging into this and for the fix!

[2019-03-13 06:44] petrochenkov commented on #59153
This may cause a "can't move out from `source`" error later.

It's longer and noisier, why is this better than `ref _e`?
The existing diagnostic looks like the best alternative to me.

[2019-03-13 07:06] saleemjaffer commented on #50727
@steveklabnik @estebank I would like to take this up.

[2019-03-13 07:35] sanxiyn commented on #54234
Fixed by #59129.

[2019-03-13 07:35] #54234 closed

[2019-03-13 07:44] timvermeulen commented on #53485
As I accidentally commented on the implementation PR thread instead of here:
- Would it be better to implement `Iterator::is_sorted_by_key` in terms of `map` and `is_sorted` rather than delegating it to `is_sorted_by`? It seems to me that `f` is currently called more often than necessary.
- Would it make sense to give `Iterator::is_sorted_by_key`'s `F` the bound `FnMut(Self::Item) -> K` instead of

[2019-03-13 08:08] AGausmann commented on #34511
@jan-hudec

Yes, but `impl Trait` is resolved to a concrete type at compile time, similar to the type inference of `let x = 2`. It's not the dynamic dispatch version of trait objects which are expressed as `dyn Trait`.

[2019-03-13 08:46] gnzlbg commented on #50562
yes

[2019-03-13 08:46] #50562 closed

[2019-03-13 09:12] kyren commented on #54822
No problem, glad to help 👍

It was more straightforward than I thought it was going to be.

[2019-03-13 09:15] hellow554 commented on #59137
Can you setup a repo with the example?

[2019-03-13 09:35] oli-obk commented on #58278
Can you elaborate on the non-determinism that you refer to? Is it about the `Debug` implementation potentially being nondeterministic? Because `const fn` will still require `const Debug` inside that function. Of course if you pass in a `&dyn Debug` or `impl Debug`, those aren't required to have `const Debug` impls at runtime, but that's exactly what the `impl const Trait` RFC allows.

[2019-03-13 09:43] oli-obk commented on #53848
Cool! So I think the changes necessary are

1. Remove the `Promoted` variant https://github.com/rust-lang/rust/blob/aa97448caf49ee25271a5ad58482283404b9144f/src/librustc/mir/mod.rs#L1914
2. Add an `Option<Promoted>` field to https://github.com/rust-lang/rust/blob/master/src/librustc/mir/mod.rs#L1920-L1923
3. Recompile and follow the fallout to always create a `Static` variant
    * Everywhere wher

[2019-03-13 09:54] oli-obk commented on #53325
So... Before we start out on this, we should bikeshed what the output should look like.

cc @rust-lang/wg-diagnostics I'm wondering if it would make sense to render the memory of a constant similar to how hex editors render memory. Then we could dump the rendered version in a virtual file that diagnostics can get spans into. For the given example above (where only half of a `u64` is initialzed) I'

[2019-03-13 09:58] kenta7777 commented on #49937
@oli-obk Could you open this issue because codes which should be fixed still remain?

[2019-03-13 10:22] GinjaNinja32 commented on #59137
https://github.com/GinjaNinja32/rust-issue-59137

[2019-03-13 10:25] jonas-schievink commented on #59154
The error message could be improved to say *why* these hints are incompatible

[2019-03-13 11:41] nagisa commented on #59095
From the assertion it appears that something somewhere is doing a GEP(i) on a pointer to an [opaque type](https://llvm.org/docs/LangRef.html#opaque-structure-types) (a different thing from a `{}`). Since the size of an opaque element is not known, obviously GEP(i) cannot work. `{}` will have a size and `GEP(i)s` will work, although will not necessarily produce an expected result.

[2019-03-13 11:41] davidtwco commented on #55809
This code compiles successfully when I check locally against nightly and a build of master, I've submitted #59156 with a regression test.

[2019-03-13 11:45] Xanewok commented on #59134
That's weird, I don't think RLS runs `cargo` with `--release` flag... Is that output from a regular `cargo build`? I'll try to run the RLS myself and come back with results.

[2019-03-13 11:57] pnkfelix commented on #59153
Longer, noisier, and invalid: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=06c7cae1ffb1b1d3cc61bf71cad28fc5)

The only thing I can think of that is actually valid code that looks like that in this context is `Variant { 0: ref _e }` ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5341a3a7a38bf734ba57d6bbf33f4af2))

but li

[2019-03-13 11:59] pnkfelix commented on #59153
Or maybe the intent is to suggest `Variant(_)` rather than `Variant(ref e)` ?

[2019-03-13 12:00] eddyb commented on #59095
I suspect it's caused by compiling code working with this:
https://github.com/rust-lang/rust/blob/aa97448caf49ee25271a5ad58482283404b9144f/src/librustc/ty/mod.rs#L591-L607

However, that would just be just "tail-opaque" and its *overall size* shouldn't matter.

[2019-03-13 12:01] pnkfelix commented on #59153
In any case, if we are indeed talking about tuple-structs, I don't see how the given suggestion as implemented is "incorrect." It may not be *ideal* (if I'm right that `Variant(_)` should always be a valid option here), but striving for the ideal is a feature request, not a bug fix

[2019-03-13 12:22] kenta7777 commented on #49937
Thanks!

[2019-03-13 12:31] hellow554 commented on #59137
Also happens on debug when `lto=true` is enabled.

[2019-03-13 12:34] hellow554 commented on #59137
Has nothing to do with child. When you delete it, the ICE is still present.

[2019-03-13 12:38] sntdevco commented on #59149
Would you mind sharing your output?

[2019-03-13 12:43] hellow554 commented on #59137
https://github.com/rust-lang/rust/blob/master/src/librustc_codegen_llvm/back/link.rs#L1399-L1401

CC #53031
ping @michaelwoerister

[2019-03-13 12:51] michaelwoerister commented on #59137
Thanks for the bug report, @GinjaNinja32! And thanks for already taking a look, @hellow554!

I suspect this is related to using `dylib` (i.e. "Rust dylibs") dependencies.

Nominating for priority assignment.

[2019-03-13 14:07] joshtriplett commented on #58794
@rfcbot concern need-documented-replacement

In the absence of a documented replacement for how people should handle errors in C libraries that *only* support handling through unwinding, closing this would break a common use case.

Another way to fix the UB would be to drop the LLVM "nounwind" attribute. We could also add `#[unwind]`, though it'll take some exploration of the details there.

I'm h

[2019-03-13 14:12] TheDan64 commented on #54502
This broke some of my doc test code in [inkwell](https://github.com/TheDan64/inkwell) while updating to 2018e which looked like this:
`assert_eq!(0b1110_0000i8 >> 1, 0b1111_0000i8);`

It was used as an example as to how sign extended bitshifting works.

I don't really understand why this isn't valid. For example, looking at an even simpler example:
`let _x = 0b1110_0000i8;` also won't compile:

[c

[2019-03-13 14:30] oli-obk commented on #54502
Rust's literals are not the bit representation of the final value. If they were, you'd get different result depending on whether you are on a big endian or a little endian machine (ok not for `u8` and `i8`, but everything else).

Instead the binary literals are the canonical binary representation of a positive integer, just like decimal literals are the canonical decimal representation of a positi

[2019-03-13 14:31] Manishearth commented on #58849
With `--disable-minification` the doc search no longer works

https://doc.servo.org/script/?search=websocket gives

[2019-03-13 14:31] theronic commented on #55743
Posted an [SO question](https://stackoverflow.com/q/55144120/198927) related to this.

[2019-03-13 14:38] jdm opened #59157 "--disable-minification breaks doc builds"
While working around #58849 which was caused by minification, we have discovered that the resulting non-minified docs have a broken search index (`ReferenceError: N is not defined`), and the resulting docs are limited to the single toplevel crate from the chosen manifest directory.

[2019-03-13 14:43] eddyb commented on #58794
Whenever you have incompatible exception handling machinery you can always wrap it on both sides (using `panic!` & `catch_unwind` in Rust, `throw` & `try`/`catch` in C++, `longjmp` & `setjmp` or compiler extensions in C) and pass something closer to `Result` across the FFI boundary.

There's nothing special about exceptions when doing this, they're like any other "unrepresentable ABI" problem with

[2019-03-13 14:59] arturoc commented on #59134
i had enabled dev overrides for dependencies in cargo.toml using:

[code]

removing that out the output from rls is not the normal debug flags but still the same errors:

[code]

[2019-03-13 15:05] Centril commented on #58278
Wait what? The RFC says nothing about allowing that...

That's not the issue for the reason you say.

When you say `eprintln!("[{}:{}] {} = {:#?}", file!(), line!(), stringify!($val), &tmp);` you are printing to the standard error. This will eventually end up in:
[code]

Now someone may either overwrite `LOCAL_STDERR` (not on stable tho), or there may simply not exist a `global_s ==> stderr`. In t

[2019-03-13 15:08] pnkfelix opened #59159 "Tracking issue for `mutable_borrow_reservation_conflict` compatibility lint"
This is the **summary issue** for the `mutable_borrow_reservation_conflict` future-compatibility warning and other related errors. The goal of this page is describe why this change was made and how you can fix code that is affected by it. It also provides a place to ask questions or register a complaint if you feel the change should not be made. For more information on the policy around future-com

[2019-03-13 15:14] joshtriplett commented on #58794
@eddyb Are you suggesting that any user of this should write C code to wrap any Rust callbacks and handle unwind there, and translate to/from a Rust Result?

[2019-03-13 15:19] oli-obk commented on #58278
https://github.com/rust-lang/rfcs/pull/2632/files#diff-93d98aeffe5c71a78e51f4c4dbdd1a4bR198

As an example:

[code]

You can extend this to `&dyn Foo` arguments without generics and the same rules and logic applies.

So the nondeterminism that can happen is that `stderr` is broken or user-defined? I personally don't see why that would be a problem (see also my argument for `const fn` at runtime be

[2019-03-13 15:35] hellow554 commented on #55743
But why?

[2019-03-13 15:39] eddyb commented on #58794
@joshtriplett Yes, if they want to be portable.
Also, if the non-Rust library is using C++ exceptions, the glue code *should* be in C++, not C.

If you need to "unwind through C code", you either need to compile the C code yourself with a compiler that supports a form of unwinding as an extension, or try to find another way, I believe that's one of the things that's impossible/UB in the general ca

[2019-03-13 15:46] gs0510 commented on #58270
Hi @saleemjaffer, yes I'm working on it. :) I will have a PR open by EOD today.

[2019-03-13 15:49] joshtriplett commented on #58794
@eddyb

Why not? This is precisely what those C libraries that only support unwind-based error handling expect callbacks to do.

[2019-03-13 15:50] Guang1234567 opened #59160 "[Bug] cannot borrow `s` as mutable more than once at a time"
Hello dev:

As we known `cannot borrow 's' as mutable more than once at a time`

but

[code]
is OK.

 Is sth wrong i missing?

[2019-03-13 16:05] RalfJung commented on #58794
Crates can reasonably do that by doing the build as part of `build.rs`.

[2019-03-13 16:09] eddyb commented on #58794
@joshtriplett One thing off the top of my head (but there might be more reasons): libraries written without unwinding support in mind and/or not compiled with `-fexceptions` (or equivalent) may be UB if certain code is skipped (e.g. a loop waiting for a mutex to be unlocked / a thread to exit).

[2019-03-13 16:18] jonas-schievink commented on #59160
This is just [non-lexical lifetimes](https://stackoverflow.com/questions/50251487/what-are-non-lexical-lifetimes#50253558) working as intended.

We try to keep this issue tracker for bugs only, so please post questions like this to the user forum or eg. on Stack Overflow.

[2019-03-13 16:18] #59160 closed

[2019-03-13 16:23] johnthagen opened #59162 "`cargo test` fails on #![no_main] crates"
`cargo test` behaves very strangely / incorrectly on `#![no_main]` projects.

[code]

[code]

[code]

Note that:

1 . The tests fail.
2. `Hello World` is printed, indicating that the `no_mangle`'d `main` was actually executed?

If `#![no_main]` and `#[no_mangle]` are removed, `cargo test` runs properly.

[2019-03-13 16:25] Centril commented on #58278
Oh that's fine... that's just the essence of effect polymorphism...

However:

[code]
or with extensions:
[code]

Yep; especially without involving any `unsafe { .. }`. I think if you could get it to abort rather than panic it might not affect soundness but all of this needs more careful thought and I think I'd need to consult with some type theorists (e.g. at my university).

[2019-03-13 17:40] Richard-W commented on #59162
The solution here is to use  `#![cfg_attr(not(test), no_main)]` instead of `#![no_main]`. Then `no_main` will only be active in non-test configurations.

[2019-03-13 17:41] mjbshaw commented on #58794
I don't think that works for API's like libjpeg's (at least not if these wrappers are "thin"). If you're using libjpeg, you cannot return from the error handler and don't have anywhere that a `Result`-like object can be passed back to Rust. The only way this works is if your wrapper is actually a very thick "wrapper" that does *all* of the interaction with libjpeg in a single function call. That's

[2019-03-13 17:42] seanmonstar commented on #56485
I was playing around with this, trying to discover where the error happens, when I found that this *doesn't* happen if you make the function generic on the trait.

[code]

As for if the trait alias contains multiple traits with the same name, the method conflict is already as expected: `"multiple applicable items in scope"`, and qualifying with `some_module::Fooz::foo(&object)` works.

[2019-03-13 17:47] alexreg commented on #56485
I'm not sure what you mean. Could you post a complete example on the playground?

[2019-03-13 17:54] seanmonstar commented on #56485
Seems like nightly on the playground is timing out for me, but works locally: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=92e4a4878c40c2a7a6af7a04f9cfd9ed

[2019-03-13 18:09] alexreg commented on #56485
Ah right, I see. That makes sense because the type system resolves the type alias then, and not name resolution.

Nightly on the playground has been broken for a while now...

[2019-03-13 18:14] MOZGIII commented on #58794
I'd say in *general* it's really UB, however we can have defined behavior with certain known conditions. For example, in [Elbrus](https://en.wikipedia.org/wiki/Elbrus_(computer)) architecture frames are explit on the CPU level, and stack unwinding is guaranteed to actually jump through the stack frames (no longjmp there). So, on Elbrus, for the whole platform is seems reasonable to assume that the

[2019-03-13 18:27] cramertj commented on #58794
Certainly unsafe code is allowed to assume its destructors won't be skipped when unrolling up the stack, otherwise things like the crossbeam scoped API would be completely unsound. I think the only thing being discussed here is whether it's okay to unwind past specific, known chunks of Rust code.

[2019-03-13 18:35] Centril commented on #59144
cc https://github.com/rust-lang/rust/issues/15701

[2019-03-13 18:37] estebank commented on #59153
This is what I get for creating tickets sleep deprived. I misread the error as having the problem in #54180. We can close this one.

[2019-03-13 18:37] #59153 closed

[2019-03-13 18:39] ehuss commented on #59144
Oh, I didn't see that the RFC specifies "Attributes bind tighter than any operator", so it is intended.

[2019-03-13 18:40] tmandry commented on #51719
Should this be tagged as AsyncAwait-Blocker?

[2019-03-13 18:43] RalfJung commented on #58794
We are mostly worried about unwinding past C code.

[2019-03-13 19:02] cramertj commented on #51719
Yup!

[2019-03-13 19:02] cramertj commented on #51719
(but it's also in the group of issues that would be obviously fixed by native syntax)

[2019-03-13 19:07] DevQps opened #59163 "Make the documentation of From and Into traits coherent."
# Description
I was reading on the From<T> and Into<T> traits and I got a little confused:

```From``` states:

whereas ```Into``` states:

### The Problem
This makes it seem like implementing ```From``` should be used for implementing relatively cheap operations (interpreting the word 'simple' as 'cheap') automatically gaining ```Into``` for free. Whereas implementing ```Into``` (and therefore no

[2019-03-13 19:14] MOZGIII commented on #58794
I'm confused. Unwinding Rust code can be made safe within the sequence of Rust frames, being that sequence the top-level app stack, or a callback inside of a C/C++/whatever passed the control to the Rust code, right? Problems and uncertantries arise when we unwind across Rust and non-Rust stack frames, like from Rust code (running in callback), to C++ code (that invoked the callback), running in R

[2019-03-13 19:18] lwshang opened #59164 "C runtime library is not linked on macOS"
**Problem**
cargo doesn't link C runtime library on macOS. I'm trying to write rust binding for a C library. That C library is shipped with my crate by a git submodule. The C library uses functionality provide by C runtime library. When I run `cargo test` without any special cargo configuration, it failed at linking stage because it cannot find the symbol  `__emutls_get_address` which is provided

[2019-03-13 19:19] steveklabnik commented on #59163
I'll respond more thoroughly to this later, but

This is a good thing, not a bad thing! The docs should be legible to those who are not experts. In many ways, I prefer feedback from someone like you than to someone who's been writing Rust for years!

[2019-03-13 19:21] lwshang commented on #59163
There is a good blog provide relative knowledge. https://ricardomartins.cc/2016/08/03/convenient_and_idiomatic_conversions_in_rust

Might be a good reference here.

[2019-03-13 20:04] kjeremy commented on #58188
This particular error doesn't seem to happen on nightly anymore.

[2019-03-13 20:05] kjeremy commented on #58291
Can reproduce on nightly too.

[2019-03-13 21:34] pnkfelix commented on #54940
triage. Pinged @nikomatsakis ; after I asked if there was any updated here, they [responded](https://rust-lang.zulipchat.com/#narrow/stream/122657-t-compiler.2Fwg-nll/topic/weekly.20meeting.202019.2E03.2E13/near/160720787):

[2019-03-13 22:31] sanxiyn commented on #57248
This is rust-lang/rust-clippy#1230. I agree it is out of scope for built-in unused_mut lint. Closing.

[2019-03-13 22:31] #57248 closed

[2019-03-13 22:34] lukaslueg commented on #58610
It seems this was indeed fixed by #58784

[2019-03-13 22:34] #58610 closed

[2019-03-13 22:41] sanxiyn commented on #59127
FYI, in Rust issue tracker, "tracking issue" is a jargon for stabilizing features already in nightly. As I understand, `peer_addr` is not yet in nightly?

[2019-03-13 22:52] GuillaumeGomez opened #59167 "rustdoc shouldn't generate `N` when --disable-minification is passed"
cf https://github.com/rust-lang/rust/issues/58849#issuecomment-472446134

[2019-03-13 22:54] jonas-schievink commented on #59127
@sanxiyn A tracking issue has to be opened before a feature can land in nightly, because the `#[unstable]` attribute needs an issue number to refer to. https://github.com/rust-lang/rust/pull/59106 has also been approved already, so it'll land in one of the next nightlies.

[2019-03-13 23:05] DevQps commented on #59163
@lwshang Thanks for the link! I hopefully will find some time to read it tomorrow. If the article gives me some insights that require changes in this issue I'll edit the description (Y).

[2019-03-13 23:22] estebank commented on #54516
After #59150, if you _add_ a comma where it asks for one the output is slightly better:

[code]

[2019-03-13 23:27] estebank commented on #34255
`Foo:foo()`/`String:from("Just a string.");` is handled in #59150.

`let two = 2:` case is already handled.

`x : i32 = 0;` is handled in the PR above.

`Test::Drill(field: 42);` case is not but I have a couple of ideas on some signaling the compiler can carry to handle it better.

The case in the first comment is not handled correctly at all:

[code]

[2019-03-13 23:28] yuanboli233 commented on #59149
@sntdevco I did not use cargo to build the file actually. Suppose the the file name is "main.rs", the commands I use to compile are
[code]

To use cargo to reproduce the same output, simply cargo new and replace the original main.rs with the one I use. Build it and check debugger output with the following commands
[code]

In the debugger the commands and output are:
[code]

For the O1 level optimi

[2019-03-13 23:29] nhynes opened #59168 "#[cfg(not(test))] doesn't work in dependencies"
I have something that looks like

[code]

[code]

but despite using `cargo test`, I still get a link error saying that `ext_fn` isn't found. Is `#[cfg(not(test))]` a valid attribute?

[2019-03-13 23:37] jonas-schievink commented on #59168
AFAIK `cargo test` only applies `cfg(test)` to the crate you run it in, not to any dependencies.

[2019-03-14 00:06] nhynes commented on #59168
That's unfortunate. It seems that a workaround is to use `[features] test = []`, but it'd be nice if conditional compilation flags were propagated through the entire graph.

[2019-03-14 00:12] estebank commented on #48016
I believe that #59150 covers a lot of ground of what disabling was meant to accomplish, although there are still cases where errors are not great, namely the following three:

[code]
[code]
[code]

[2019-03-14 00:34] cuviper commented on #59034
See also #55737.

We should probably set a custom suffix per #53987. Maybe even include the Rust version to help avoid bootstrap issues like what commit 2d21df8a3fd7 saw. (cc @Mark-Simulacrum)

[2019-03-14 00:49] ipetkov commented on #59122
I've managed to confirm that the issue occurs when the compiler is built with `vendor = true` set in the `config.toml`, the test suite will pass when built with the 1.33.0 tarball but `vendor = false`.

What is the process for creating the vendor directory when creating a source tarball of the compiler? Are there any tests that verify the right dependencies were vendored in?

[2019-03-14 01:01] Mark-Simulacrum commented on #59034
Yep, I think a suffix of rust version (or maybe LLVM submodule commit?) would be good.

I think we'd appreciate a PR for something like that; I would expect it to be a matter of making the version suffix default be `-rust-1.33.0-<sha>` or something along those lines.

[2019-03-14 01:08] alexbuzzbee opened #59171 "Segmentation fault (address boundary error) when optimizations off"
I think this shell session sums it up:

[code]

There's obviously something else wrong with my program (thus the panic (I've had to override the panic handler for... reasons)), but that's not Rust's fault.

I also used `gdb` to take a look at what's going on and found this around the point of the crash with `disassemble`:

[code]

With the `release` build (optimizations enabled), `disassemble` sho

[2019-03-14 01:14] Mark-Simulacrum commented on #59171
Full source would be appreciated (ideally in a form that is readily compilable, for reproduction purposes).

[2019-03-14 01:20] emilio commented on #59034
Sure, that sounds good, I can give that a shot.

[2019-03-14 01:22] cuviper commented on #59040
STVX is an AltiVec instruction for vector store, which should have broad support.

What is your target CPU model that you ran this on?

[2019-03-14 01:28] emilio commented on #59034
I sent https://github.com/rust-lang/rust/pull/59173 with a change that I _hope_ will address this, but see there why I cannot confirm it will :)

[2019-03-14 01:28] alexbuzzbee commented on #59171
Alright, the libraries and so forth can be found [here](https://gitlab.com/lens-os/) in several different projects. The program can be found [here](https://gitlab.com/lens-os/msgserver). Please forgive my un-idiomatic Rust, I'm working fairly directly with the Linux kernel syscall API and I haven't worked out all the niceties yet. It has to be compiled with its own `build.sh` because it needs to c

[2019-03-14 01:58] spastorino commented on #57431
@saleemjaffer I know more or less how to fix the issue but never found time to tackle it. So yeah, go ahead.

[2019-03-14 01:59] spastorino commented on #57526
@saleemjaffer go ahead!

[2019-03-14 02:01] Mark-Simulacrum commented on #59171
I *suspect* this is because of the `-Znostartfiles` that is being passed to the linker; at this point I'm guessing we're expecting a startup routine where there is none or something along those lines.

I'm able to reproduce the segfault with the following if I compile with `rustc -Zpre-link-arg=-nostartfiles main.rs`

[code]

[2019-03-14 03:54] RandomInsano commented on #34282
As this might help some others, on my Mac I was attempting to cross-compile `armv7-unknown-linux-musleabihf` and so here's my ".cargo/config":

[code]

[2019-03-14 05:02] ehuss commented on #48683
Are there any issues or details you think need to be addressed?

I feel like it is ready for stabilization. The only concern is that there are two changes being looked at that may affect how profiles work:
- Dedicated build profile: https://github.com/rust-lang/cargo/pull/6577
- Custom named profiles: https://internals.rust-lang.org/t/pre-rfc-cargo-custom-named-profiles/9538

These will probably n

[2019-03-14 05:07] skydig commented on #59040
powerpc t1042

[2019-03-14 05:25] sfackler commented on #59168
This would be best filed on cargo, not rustc itself, but I don't think we want to rebuild the entire dependency tree for tests necessarily.

[2019-03-14 05:25] #59168 closed

[2019-03-14 05:26] petrochenkov commented on #56485
@seanmonstar
Candidates from bounds on a type parameters are treated like inherent and are found even if the trait is not in scope (the relevant code is in `fn assemble_inherent_candidates_from_param`).

@Centril
The example seems equivalent to
[code]
, the ambiguity error is already reported during resolution of a specific method in this case.

[2019-03-14 06:03] Manishearth commented on #48683
I don't have a strong opinion. Weak preference towards shipping, however with custom profiles this feature can be designed better, perhaps (the original RFC used custom profiles to make this work, and it was pretty neat). Such designs can still be tacked on after the fact giving you multiple equivalent ways to do things.

As for proc macros I agree, we can add them to the build profile.

[2019-03-14 07:58] parched commented on #59171
What's the value of the stack pointer at the crash? Is it 16 byte aligned? If not, can you look at the backtrace to see where it got unaligned?

[2019-03-14 09:10] sntdevco commented on #59149
@yuanboli233 I'm checking it with Miri, please stand by

*Sorry for the delay*

[2019-03-14 09:25] hellow554 commented on #59171
[code]

(compile it with `rustc -Zpre-link-arg=-nostartfiles main.rs`)

@alexbuzzbe can you confirm that this code is roughly the same as your error?

In that case this is perfectly legal, because `_start` needs to call the [`exit` syscall](https://en.wikipedia.org/wiki/Exit_(system_call)) in order to exit the program properly.

(proof: a C program with

[code]
and compiled with `gcc -o c_main sta

[2019-03-14 09:25] sntdevco commented on #59149
@yuanboli233 I believe that's not a bug, because many trivial functions are *inlined* and hence it's not a thing to worry

[2019-03-14 09:37] eddyb commented on #53325
Hopefully we can bypass needing an actual `Span` in order to report a good-looking error.

Also keep in mind IDEs can't really show your "virtual hex dump" files, as we don't have a way to export them from the compiler (other than saving them in a temp dir), so it'd be nicer to make the long-form "rendered" message itself contain the hex dump.

Minor bikeshed: `Ⓧ` looks too much like a `0` or a `8

[2019-03-14 09:40] oli-obk commented on #53325
[code]

I like that one, it's very clear on a glance

[2019-03-14 09:46] solson commented on #53325
Underscores are also the format I used for undefined bytes in the original Miri report and slide deck, so +1 from me. :)

[2019-03-14 10:12] gnzlbg commented on #58760
IMO the only case in which we can guarantee this to work properly is if the code on the other side of the FFI is Rust compiled with the exact same toolchain.

I'd prefer if doing that required `extern "c++" { ... }`.

Currently we assume that the code at the other side of `extern { }` and `extern "C" { }` is C code. This code cannot unwind and we could add LLVM `nounwind` attribute to it by defaul

[2019-03-14 10:34] sntdevco opened #59177 "Shouldn't a non-miri flag be added for syntax-extension"
This is an excerpt from [syntax-extension-cfg](https://github.com/rust-lang/rust/blob/master/src/test/run-pass/macros/syntax-extension-cfg.rs)
[code]
Shouldn't the flag, as mentioned above be added (by the check comment)?

[2019-03-14 10:40] gnzlbg commented on #58794
C code compiled with C++ exceptions enabled is not C. ABI-wise it is probably more C++ than C.

If the aim is to convert Rust panics to C++ exceptions, and then catch C++ exceptions and convert them to Rust panics, supporting that via `extern "c++"` makes more sense to me.

[2019-03-14 11:03] pnkfelix commented on #58502
hmm. Did this manage to leak all the way to stable?

[2019-03-14 11:11] pnkfelix commented on #58502
Yes, apparently this change in behavior was actually part of 1.33:

[code]

I'm going to pause working on my supposed bug fix, and instead just try to focus on discussing the question of how we should handle issues like this (as a matter of policy) at the next compiler meeting.

(I am somewhat disappointed that the change made it into stable without my realizing it. I was relying too much on the e

[2019-03-14 11:21] oli-obk commented on #59177
cc @ralfjung

[2019-03-14 11:24] alexbuzzbee commented on #59171
Key point: `_start` has nowhere to return to. If it doesn't call `_exit`, it'll just jump off to some random garbage "return address" it finds on the stack and segfault. However, the issue I'm seeing is happening (apparently) while zeroing memory on the stack, which seems like a very different issue to me.

[2019-03-14 11:35] sntdevco commented on #59177
Closing at it supports panics but not `should_panic` tests or `catch_panic`

[2019-03-14 11:35] #59177 closed

[2019-03-14 11:43] alexbuzzbee commented on #59171
The error happens well before any possible return from `_start`, so that is not the issue. To double-check, I've added an `exit` call to the end of the program and the problem still occurs.

@parched No such luck; stack pointer is `0x7fffffffe3c8` at the crash.

[2019-03-14 11:50] pnkfelix commented on #58502
As a kind of post-mortem, here is a timeline of events:

 * January 14th: PR #57387 lands on nightly
 * January 17th: nightly is promoted to beta (via #57670)
 * February 15th: this issue (#58502) is reported, and points out the likely cause.
 * Feburary 16th: this issue is tagged as a stable-to-nightly regression (but I believe it was at point a stable-to-beta regression).
   * Since it required

[2019-03-14 12:01] johnthagen commented on #59162
@Richard-W Thank you for the work around. Would it make sense for this to be something that is handled by `cargo test` for the user? It does seem at least a little surprising behavior (and exposes some of the magic `cargo test` is doing for the user).

[2019-03-14 12:06] hellow554 commented on #59171
therefore it's not properly aligned.

That's the exact difference between the "unoptimized code" (`0x0000555555557cf1 <+145>:   movaps %xmm0,0x120(%rsp)`) and the "optimized code" (`0x0000555555555362 <+82>:    movups %xmm0,0xfa(%rsp)`).

movaps: Move Aligned ...
moups: Move Unaligned ...

You will need to properly align your pointer beforehand I guess. There happens a lot in `_start`, that may be

[2019-03-14 12:07] Jezza commented on #44580
**Crash Report:**

Code:
[code]

Compiler:
[code]

[2019-03-14 12:12] varkor commented on #44580
@Jezza: const generics isn't fully implemented yet and is not expected to work. We'll make an announcement when it's time to start experimenting with `#![feature(const_generics)]` (which you'll be notified about if you're subscribed to this issue).

[2019-03-14 12:17] alexbuzzbee commented on #59171
I see. Didn’t notice the difference in instructions. Many thanks, I suppose it’s not Rust’s fault after all.

[2019-03-14 12:17] #59171 closed

[2019-03-14 12:51] DevQps commented on #59163
@lwshang I was reading through the post and some things about costs caught my eye:

So this basically says that ```From```, ```Into```, ```TryFrom``` and ```TryInto``` say nothing about how costly the actual conversion is.

Does this mean that programmers that wish to convert references to references using an expensive conversion way should not use ```AsRef``` and ```AsMut```?

I have seen this qu

[2019-03-14 12:52] eddyb commented on #44580
@varkor Hang on, @Jezza's example has `_marker: PhantomData<(LOWER, UPPER)>` - those are two `const` parameters used as types, why didn't `rustc_resolve` produce an error?

[2019-03-14 13:04] pnkfelix commented on #58502
nominating for discussion.

(I'm inclined to close this as wont-fix at this point, but it needs to be lifted to group discussion, at *least* among T-compiler, and potentially among T-lang.)

[2019-03-14 13:14] pnkfelix commented on #58881
triage: assuming P-high since it originated as a Firefox build problem.

[2019-03-14 13:15] pnkfelix commented on #59029
triage: looks like a P-high ICE.

[2019-03-14 13:16] pnkfelix commented on #59029
triage: assigning to @seanmonstar

[2019-03-14 13:17] pnkfelix commented on #59048
triage: P-high due to being stable-to-beta regression and an ICE

[2019-03-14 13:19] pnkfelix commented on #59059
triage: P-high under assumption that miri is important piece of infrastructure.

[2019-03-14 13:19] varkor commented on #44580
Good point: I'll investigate this. Note that this is only a problem with `#![feature(const_generics)]`, so it's not a critical issue (using non-generic consts produces the error as expected). Maybe it never reaches `rustc_resolve`.

[2019-03-14 13:30] pnkfelix commented on #59137
triage: P-high. Leaving nominated for discussion at meeting.

[2019-03-14 13:37] RalfJung commented on #59177
That's a run-pass test for macros, Miri doesn't do anything with that (right now). But this might become relevant when progress is made on https://github.com/RalfJung/miri-test-libstd/issues/1.

[2019-03-14 13:39] pnkfelix commented on #59034
triage: P-high, assigning to @emilio

[2019-03-14 13:45] pnkfelix commented on #59059
From what I have read, it looks like rust-lang/miri#659 addressed this?

[2019-03-14 13:46] pnkfelix commented on #59059
closing as fixed under assumption that rust-lang/miri#659 did the trick.

[2019-03-14 13:51] mati865 commented on #59059
@pnkfelix `miri` repository builds fine.
`miri` submodule is outdated and doesn't build but it's not big deal right now because installing it via `rustup` still doesn't work.

[2019-03-14 14:01] RalfJung commented on #59059
Well Miri is still red at https://rust-lang-nursery.github.io/rust-toolstate/, I think we should track that here. But it's not really P-high I'd say.

[2019-03-14 14:13] pnkfelix commented on #53598
Discussed in T-compiler meeting. This is a blocker for the existential type feature. But there is no schedule yet set for stabilizing that feature. Thus, downgrading fixing this to P-medium.

[2019-03-14 14:45] pnkfelix commented on #59137
discussed at meeting. assigning to @mw

[2019-03-14 14:50] pnkfelix commented on #59065
discussed in T-compiler meeting. P-high. still needs assignment of someone to investigate though.

[2019-03-14 14:50] nikomatsakis commented on #59065
@dignifiedquire do you have any idea if this is a regression -- i.e., did it work with some older nightly builds? Is your crate nightly only?

[2019-03-14 14:50] nikomatsakis commented on #59065
If it is, it'd be great to try and bisect it.

[2019-03-14 15:08] oli-obk commented on #59016
Without closures:

[code]

I believe the issue is that we aren't normalizing constants before trying to access their content. This makes me wonder if all uses of `unwrap_usize` are actually wrong and should be attempting to evaluate in case of `Unevaluated`

[2019-03-14 15:09] petrochenkov commented on #58502
Looks like a bug fix to me.
The `non_snake_case` is about identifiers, so it should use the identifier span to determine whether it's "user provided" and the lint can be acted upon, or "from an external macro" and the lint is not actionable.

Lint improvements happen from time to time for different reasons and we don't normally consider them as regressions AFAIK.

[2019-03-14 15:15] oli-obk commented on #59016
After https://github.com/rust-lang/rust/pull/59178 this is actually doable in a reasonable way. Marking as blocked

[2019-03-14 15:45] raphaelcohn opened #59184 "ICE (ish): Segfault with the following code"
When trying to compile the code below in a file `asm.rs`, the Rust compiler segfaults (Segmentation Fault 11).

Example command line:-

[code]

(The presence of the `--edition` tag seems irrelevant).

When asking for LLVM IR output, a segfault does not occur, eg `rustc --emit llvm-ir -o asm.ir -v --edition=2018 asm.rs`.

The segfault also does not happen if the call to `read_after_raising_any_exce

[2019-03-14 16:07] steveklabnik commented on #28894
Triage: other than the new format, the error message remains the same:

[code]

[2019-03-14 16:11] sunjay commented on #56980
Currently experiencing this on what is a very small crate. I can get 9.5GB of memory usage if I try to work through the slowness for a while. It gets to 2.5 GB almost immediately.

[2019-03-14 16:44] ipetkov commented on #59122
Aha! I turns out it's not a *vendoring* issue, but rather *a number of test threads* issue!

I was able to reproduce *without* vendoring, but by invoking the test suite with a single core:
[code]

[2019-03-14 16:48] oberien commented on #54910
Is there an update on this? I'd like to see at least some of the new currently allow-by-default lints to become warn-by-default. Personally I'm missing `elided_lifetime_in_path` the most, because these kinds of elided lifetimes regularly lead to hard to spot bugs.

[2019-03-14 17:16] cuviper commented on #59040
OK, assuming you mean this [QorIQ T1042](https://www.nxp.com/products/processors-and-microcontrollers/power-architecture-processors/qoriq-platforms/t-series/qoriq-t1042-and-t1022-multicore-communications-processors:T1042), then its [e5500](https://en.wikipedia.org/wiki/PowerPC_e5500) is indeed lacking:

Rust uses the default ["ppc64" CPU](https://github.com/rust-lang/llvm-project/blob/ce9347ddd09e

[2019-03-14 17:29] ipetkov commented on #58907
Worth noting that this change may have led to #59122 and rust-lang/cargo#6746 which will break anyone trying to run tests for rust-1.33.0 from the source tarball, while running on a single core.

(Is there a workaround to telling rustbuild to tell cargo to use multiple test threads? using `./x.py test -j1 src/tools/cargo -- --test-threads=2` fails during invocation)

[2019-03-14 17:32] lwshang commented on #59163
### To you last comment

Agree, there is no implication for the cost of the conversion from these traits.

I believe that the reference to reference conversion usually do less copy so that it is cheaper. So if we have to do heavy calculation before we can return a reference of the new type, we should better not to use `AsRef` or `AsMut`.

I went through the [implementors](https://doc.rust-lang.org

[2019-03-14 17:34] hu-a opened #59187 "Cannot pass small struct by value across FFI on linux-gnu"
I am creating an FFI function that takes a tagged union as a parameter. It corresponds to a Rust enum with variant. The tagged union definition for the C++ code was generated with `cbindgen`. The problem is that the calling convention between Rust's `extern "C"` and the actual C calling convention aren't matching up, so it gets faulty values for the argument.

This looks like it's similar to #5744

[2019-03-14 17:40] RalfJung commented on #58907
Oh gosh, I had no idea.

Maybe it's better to revert that part of the PR and add a `cfg(miri)` for avoiding concurrency?

[2019-03-14 17:40] eddyb opened #59188 "Allow customising ty::TraitRef's printing behavior."
(Originally discussed in https://github.com/rust-lang/rust/pull/58140#discussion_r254136845)
Right now a `TraitRef` prints as ` <T as Trait<U>>` via "debug" (`{:?}`) and `Trait<U>` via "display" (`{}`) - this is used all over rustc to indicate what printed form of the trait is desired.

However, it would be overall cleaner for "display" and "debug" printing to match (or even for `fmt::Display` to

[2019-03-14 17:47] eddyb opened #59189 "Document and clean up ty::print some more."
In order to get #58140 merged before it bitrots again, and needs an eleventh rebase, I've left some of the review comments (by @nikomatsakis) unresolved.

There's also a few things, such as const generics, `$(...)?` in macros, etc. that weren't possible when the PR was originally authored, but can be taken into account now.

[2019-03-14 18:50] TheDan64 commented on #59154
Note that the aligned outer/packed inner workaround is still really limited. If the struct contains any struct fields with their own alignment, then you'll still hit this error. (The `xregs_state` example does have this exact problem, as its `i387: fxregs_state` field has an alignment of 16)

So I think it makes sense for rust to support this for repr C/FFI purposes at the very least.

[2019-03-14 19:04] #59059 closed

[2019-03-14 19:15] cuviper commented on #59022
I can reproduce this without `impl Fn`, just by constraining it different ways:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=73333612c7172c48eb68ca7cbc243c3b

[2019-03-14 20:27] pnkfelix commented on #34596
I'm prioritizing this as P-high because our ability (in the future) to change these warnings into hard errors is going to critically depend on actually *reporting the problems* to developers

[2019-03-14 21:31] ehuss commented on #58907
@ipetkov You can run `RUST_TEST_THREADS=2 ./x.py test -j1` to force tests to use 2 threads as a workaround.

I looked at Cargo's testsuite, and it looks like it will be a bit tricky to work around.  Because libtest does not have setup/teardown support, cargo's tests use thread-local storage to implement that.  Any test that uses thread-local storage, and assumes no other tests reuse the tls, will

[2019-03-14 21:31] xfix opened #59191 "thread 'rustc' panicked at 'internal error: entered unreachable code', src/libsyntax/ext/expand.rs:289:18"
This is nonsense code, but it probably shouldn't ICE.

[code]

# Cargo.toml

[code]

# src/lib.rs

[code]

# examples/example.rs

[code]

[2019-03-14 21:35] matthewjasper opened #59192 "Simplify handling of feature(bind_by_move_pattern_guards)"
Current handling of this feature goes through functions `allow_bind_by_move_patterns_with_guards` and `check_for_mutation_in_guard_via_ast_walk`. One or both of these functions should be removed.

cc #15287

[2019-03-14 21:50] steveklabnik commented on #46566
It's been over a year; does anyone know what the next steps should be?

[2019-03-14 21:56] aep commented on #46566
we completely pulled rust from all projects, so i cant test this.
But i believe this is fixed in gnu ld.
Since we're the only ones who used to do rust on low spec hardware we might just close this.

[2019-03-14 21:56] #46566 closed

[2019-03-14 21:57] matthewjasper opened #59193 "Remove `-Zborrowck=compare`"
This flag is mostly unused and adds complexity. This may be best to split across multiple PRs.

- [x] Remove the flag (#60513)
- [x] Remove from tests (#60513)
- [x] Remove error reporting from AST borrow check
- [x] Remove librustc_borrowck dependency on librustc_mir
- [ ] Remove error codes that are only emitted by AST borrow check
- [ ] Remove the `Origin` enum
- [ ] Remove `BorrowckErrors` tra

[2019-03-14 22:45] GuillaumeGomez opened #59194 "Update to last pulldown-cmark version"
Last version (0.3.0) is finally here!

[2019-03-14 23:38] IsaacWoods opened #59196 "Regression in decl_macro emitted item resolutions"
On the current nightly (`2019-03-13`), the following code fails ([link to the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6d73c384ad5f6ed59543869f51b5b60a)):
[code]
with the error:
[code]

This seems to be an issue with the `decl_macro` feature specifically - declaring the same macro with `macro_rules` works as intended.

[2019-03-14 23:55] estebank commented on #59196
CC @petrochenkov

[2019-03-15 00:52] ipetkov commented on #58907
@ehuss thanks, that appears to unblock me for the moment!

@RalfJung as someone who maintains building rust from a source tarball, it would be best to not have silent, unexpected behavior if possible (e.g. like switching cores). Ideally whether or not cargo uses a threadpool shouldn't have any observable impacts (like declaring the wrong thread name when a panic happens), but I don't know enough a

[2019-03-15 00:58] estebank commented on #59103
I personally feel that _all_ the presented options are suboptimal, but I don't care enough to fight too much. I think overall that either 1 or 4 lead the pack.

[2019-03-15 00:58] estebank commented on #59103
[code]

[2019-03-15 00:58] estebank commented on #59103
[code]

[2019-03-15 00:58] estebank commented on #59103
[code]

[2019-03-15 00:59] estebank commented on #59103
[code]

[2019-03-15 00:59] estebank commented on #59103
[code]

[2019-03-15 00:59] estebank commented on #59103
[code]

[2019-03-15 01:00] estebank commented on #59103
bikeshed-signal to @rust-lang/wg-diagnostics

[2019-03-15 01:01] ehuss commented on #59105
I think I see one way this happens. I think the issue is that [`clear_if_dirty`](https://github.com/rust-lang/rust/blob/bc44841ad2a2ad5f6c5e67b9e35ed8e7e71d4dc7/src/bootstrap/lib.rs#L478-L491) only knows about one output directory, but it does not consider the host directory (for stage1) where proc-macros and build scripts are located.

Here is one way to repro this:
1. `./x.py build`
2. Make a ch

[2019-03-15 01:44] Abdillah commented on #56501
It happened in Raspberry Pi Zero too. Trying to compile program with `uinput` dependency.
Actually, it hangs very long time then fails like attached. I have trying to run the `rustc` instruction directly and get the same result (wait then hang).

## Environment
OS: Linux raspberrypi 4.19.25+ #1205 Mon Feb 25 17:52:12 GMT 2019 armv6l GNU/Linux
CPU: ARM v6l

[code]

[2019-03-15 06:03] ExSidius opened #59202 "FFI to C on MacOS causes segmentation fault (works on Ubuntu)"
The following crate illustrates the issue I'm running into.

https://github.com/exsidius/rust_libpg_query

Running `cargo test` on Ubuntu causes no errors but on Mac will (inconsistently cause Seg. Faults).

The errors codes are as follows -

[code]

Occasionally, I will also run into a Utf8Error (may or may not be part of the same bug) -

[code]

I believe I'm using CStrings appropriately (and th

[2019-03-15 06:30] moxian commented on #59061
Playground is working again now.
Thanks!

[2019-03-15 06:30] #59061 closed

[2019-03-15 07:56] Lokathor opened #59203 "ARM needs a "thumb-mode" target-feature to fix a recent breakage that `stdsimd` caused."
So recently [stdsimd added an intrinsic](https://github.com/rust-lang-nursery/stdsimd/issues/702) that was too liberal. The intrinsic needs to only be allowed in in [specific circumstances](https://github.com/rust-lang-nursery/stdsimd/issues/702#issuecomment-471179422), like so:

[code]

Unfortunately we [don't currently](https://github.com/rust-lang-nursery/stdsimd/pull/704#discussion_r264111187)

[2019-03-15 08:06] eddyb commented on #59188
Blocked on #58140.

Also, in order to do this thoroughly, `fmt::Display` would need to be removed from `TraitRef` (comment-out its section in `src/librustc/ty/print/pretty.rs`) and all uses of formatting it with `{}` would have to be put through the new `.print_only_trait_path()` method instead.

Only after that is done and everything compiles again, can `fmt::Display` be re-enabled for `TraitRef`

[2019-03-15 08:15] mati865 commented on #56501
Can somebody obtain backtrace with gdb when the build fails with `SIGSEGV`?

[2019-03-15 08:32] petrochenkov commented on #59191
Crate level macro attributes are generally unsupported (see https://github.com/rust-lang/rust/issues/54726 for some explanations), but they certainly shouldn't ICE.

[2019-03-15 09:46] hellow554 commented on #59184
Maybe related to https://github.com/rust-lang/rust/issues/51130 ?

[2019-03-15 09:47] hellow554 commented on #51431
Note, that this does not ICE anymore on nightly, instead it gives me:

[code]

Can this be closed?

[2019-03-15 10:01] newpavlov commented on #52609
When you'll decide on how to deal with this issue, please also send a patch to [rand/getrandom](https://github.com/rust-random/getrandom).

[2019-03-15 10:39] nox commented on #27733
It turns out I actually have a use case in Servo where I can't use `try_borrow` or `try_borrow_mut` but still need to know the refcell's borrow state. What would be the way to go to try to reintroduce it here? Make a PR adding it back?

[2019-03-15 11:56] pietroalbini commented on #59140
They won't delete our image as long as we use it.

[2019-03-15 11:56] #59140 closed

[2019-03-15 12:03] pnkfelix commented on #58502
I essentially agree (and indeed, [said so above](https://github.com/rust-lang/rust/issues/58502#issuecomment-470889257)) that PR #57387 seems like a bugfix

But just to play devil's advocate: The main counter-argument that I can imagine is that the lint being applied here (`non_snake_case`) is only applied to identifiers that are used for certain kinds of definitions, and the particular *kind of d

[2019-03-15 12:45] LivingInSyn commented on #56501
I'm willing to do it with some instruction

[2019-03-15 12:53] matklad commented on #57126
Am I correct that this now awaits for a stabilization PR?

[2019-03-15 12:56] Jasper-Bekkers commented on #48683
This might be nit-picky or just a bug, but from a usability perspective right now if I specify for example:

[code]

I would expect `gltf` and all of it's dependencies to be compiled it -O3, however as it stands right now only the `gltf` crate would be compiled with -O3 and it's dependencies would be compiled as normal. To me this seems like a bit of a usability problem because either I have to sp

[2019-03-15 13:07] mati865 commented on #56501
Install `gdb` if you don't have it, `cd ~/syn`, `rust-gdb --args cargo build --verbose`. When `gdb` starts, type `r` and hit enter, wait for cargo to crash, then type `bt` and hit enter. That will print the backtrace, copy and paste it here, you can exit `gdb` with `exit` and enter.

[2019-03-15 13:50] SimonSapin commented on #57126
Yes.

[2019-03-15 13:57] oli-obk opened #59209 "`type_flags` method on `ty::Const` is a footgun"
Related discussion in https://github.com/rust-lang/rust/pull/59178#discussion_r265872655

Basically the `type_flags` method should be manually inlined into its use sites (and operations that are happening twice should be deduplicated)

[2019-03-15 14:06] oli-obk commented on #59103
Won't that asterisk (or any other symbol) just be very confusing if you don't already know what to look for? I'd prefer a nonsigil solution, so something like

[code]

[2019-03-15 14:06] oli-obk commented on #59103
or

[code]

[2019-03-15 14:06] oli-obk commented on #59103
or

[code]

[2019-03-15 14:12] davidtwco commented on #59103
Perhaps if `--teach` is provided (or something similar to that) then we could add a `(* means that the error is automatically fixable)` somewhere (or similar). Otherwise I'd be concerned that it will just be a lot of noise/clutter for those who do know what it means.

[2019-03-15 14:13] lzutao commented on #59103
s/autofixable/rustfix/

[2019-03-15 14:15] oli-obk opened #59210 "Factor out "value" variants of `ConstValue`"
Basically create a new enum `ConstKind` which has all the variants of `ConstValue` except for `Scalar`, `Slice`, `ByRef`. `ConstKind` should then have a variant (maybe `Evaluated` or just `Value`), which contains a `ConstValue`.

cc https://github.com/rust-lang/rust/pull/59178#discussion_r265554605

continuation of https://github.com/rust-lang/rust/issues/54738

This is actually just some mechanic

[2019-03-15 14:15] oli-obk commented on #54738
closing in favour of #59210

[2019-03-15 14:15] #54738 closed

[2019-03-15 14:19] raphaelcohn commented on #59184
Possibly.

[2019-03-15 14:28] pnkfelix commented on #59065
here is a reduced test case, built by just taking the `Box<dyn Iterator>` type under a macro definition and putting it into a freshly made crate:

[code]

[2019-03-15 14:35] pnkfelix commented on #59065
(I also don't know how we should actually fix this. I assume the problem is arising because `rustfix` is trying to rewrite the macro definition itself without actually knowing the roles of the identifiers that appear within the macro body.)

[2019-03-15 14:38] pnkfelix commented on #59065
(And in cases its not obvious, you can use any trait, e.g. `std::fmt::Debug`, if for some reason you'd like to reduce the test case further.)

[2019-03-15 14:41] pnkfelix commented on #59065
one other note: if the macro is unused in the crate (or if for some reason changing `dyn` to `r#dyn` happens to compile successfully), rustfix will perform the macro rewrite without error and commit the result to the disk.

This may be even worse than the error given above.

[2019-03-15 15:21] RalfJung commented on #59210
Do you mean `Slice` instead of `ScalarPair`?

[2019-03-15 15:22] sfackler commented on #59202
This is almost certainly a problem with the library, and you happen to get lucky on Ubuntu.

[2019-03-15 15:23] pnkfelix commented on #59065
I suppose the most direct thing to do is to try to fix this ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=2f6da921ca98888b5e2073eff2600c66)):

[code]

which currently emits this diagnostic:

[code]

[2019-03-15 15:27] pnkfelix commented on #59065
(Hmm that lint points to #49716 but I think that tracking issue is solely about linting the `async` identifier ... there should be a separate issue for `dyn`?)

[2019-03-15 15:27] pnkfelix commented on #59065
Ah this issue was known about back in November, see #56327 !

[2019-03-15 15:29] pnkfelix commented on #59065
okay i don't think there's anything useful in this ticket beyond what was already reported in #56327.

I'm going to close this as a duplicate of #56327 (but I'm also going to migrate some tags from this issue to that one, so that we'll discuss how to address this in the next compiler meeting.)

[2019-03-15 15:29] #59065 closed

[2019-03-15 15:30] oli-obk commented on #59210
whoops, yea, edited

[2019-03-15 15:43] Manishearth commented on #48683
No, this is by design, you are overriding a specific crate here. This kind of thing mostly should be done only after investigating the perf of your deptree, so it's largely fine. The use case in Firefox at least needs the ability to override single deps (not entire deptrees)

At some point the RFC had a proposal to allow `.gltf.*` or something but I think it got removed.

[2019-03-15 16:01] derekdreery opened #59214 "[docs] `ptr::eq` source does not mention smart-pointer comparison behavior."
The documentation at the [`ptr::eq` source] doesn't mention that smart pointers are compared in their totality, unlike pointer comparison which just compares the addresses. I found out about this behavior on [this urlo question](https://users.rust-lang.org/t/shallow-compare-for-slices/26321/3).

[`ptr::eq` source]: https://github.com/rust-lang/rust/blob/master/src/libcore/ptr.rs#L2476

[2019-03-15 16:27] lovasoa commented on #10184
@Aaron1011 an example of reproducible undefined behavior was [posted on reddit](https://www.reddit.com/r/rust/comments/b1efl5/why_do_these_3_numerical_conversions_f32_as_u8/) today:

[code]
(see [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c56d728658c2be88b26fb9f9c4d25c46))

[2019-03-15 16:30] Jasper-Bekkers commented on #48683
I think both use cases are valuable & valid. For example, in my case the bottleneck ended up (mostly) in the texture loading, which turned out to be in the `image` crate, which in turn turned out to be in the `png` crate, which in turn spent a lot of time in `inflate`. Setting `inflate` to `-O3` solve most of the issue, but not all of it - since other parts were still slow.

However, in my case I

[2019-03-15 16:33] oli-obk opened #59215 "Use `track_errors` instead of hand-rolling such a check"
Const eval asserts that reporting an error for statics actually worked. This is not only done in a wrong way (checks for no error having happened in the entire compilation), it's also very fragile. We should instead use the `track_errors` method around the `report_as_error` call, and in case `track_errors` returns `Ok`, we need to do the `delay_span_bug`.

The relevant code that needs to be change

[2019-03-15 16:35] Manishearth commented on #48683
Yeah, so having `overrides.foo` override an entire deptree means that there isn't much syntax that works the other way, whereas having `overrides.foo` override just one crate and using `.*` to do the deptree thing is nicer.

Perhaps we can RFC the deptree thing once this lands and more people ask for it. (or just RFC it anyway, but I'm wary of RFCing an extension to a feature while the feature is

[2019-03-15 16:36] Manishearth commented on #48683
Then again, that RFC may end up with a new design for this that can't be done backwards compatibly, so perhaps it's better to RFC `.*` now so people can make use of the wider design space.

(Feel free to ping me with RFC drafts for review if you're interested)

[2019-03-15 16:50] cuviper commented on #58996
I bisected this in LLVM and filed a bug: https://bugs.llvm.org/show_bug.cgi?id=41088

[2019-03-15 17:14] stepnivlk commented on #59210
Hey @oli-obk, happy to take this one :).

[2019-03-15 17:23] oli-obk commented on #59210
Awesome! Please do note that this is a ton of work and may get annoying with rebases, so it may require some endurance to get actually merged.

[2019-03-15 17:39] #55464 closed

[2019-03-15 17:39] rust-highfive opened #59218 "`rls` no longer builds after rust-lang/rust#58140"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#58140, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @eddyb, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @nikomatsakis, the PR reviewer, and @rust-lang/compiler -- nomi

[2019-03-15 17:57] kennytm commented on #59218
Error is caused by clippy-lints dependency.

[code]

[2019-03-15 18:17] mati865 commented on #59218
I'm on it.

[2019-03-15 18:59] Jasper-Bekkers commented on #48683
I'll write something up, what's a good way to reach you?

[2019-03-15 19:39] nagisa commented on #59202
Minimising to something that is a small, self-contained reproducer would help a lot.

[2019-03-15 19:50] thedataking commented on #44930
@dlrobertson We are working to use the `c_variadics` in the [C2Rust translator](https://github.com/immunant/c2rust). Things were going great until we took a closer look at the design of `VaList::copy`. It makes a lot of sense to ensure that the copy of the `va_list` can only be used inside the closure such that `copy` can call `va_end` before returning the result of the closure. However, this desi

[2019-03-15 20:05] eddyb commented on #59218
@mati865 I would like to review the resulting PR, if you don't mind. You can also PM me (on IRC/Discord) if you have any questions.

[2019-03-15 20:24] estebank commented on #59215
Wouldn't using `track_errors` cause the compiler to stop at const evaluation? Ideally we would want the compiler to choose a reasonable recovery value (just a binding of `TyErr`?) and continue to minimize the loop of "fix 5 errors, get 300 errors" (#39275).

[2019-03-15 20:26] Manishearth commented on #48683
Ping me on the Rust discord

[2019-03-15 20:41] joshtriplett commented on #50264
This seems great to me. This has been around for a long time; other than discussions around the name, is there any reason we shouldn't stabilize this?

[2019-03-15 20:52] oli-obk commented on #59215
`track_errors` doesn't actually stop anything. It just gives you a `Result::Err` if new errors occured and a `Result::Ok` otherwise.

[2019-03-15 21:02] tmandry opened #59219 "Consider appending to CLI list arguments rather than overwriting"
Right now with (at least) `-C` and `-Z` command line arguments that are lists, specifying the argument multiple times _overwrites_ the earlier options. It probably would be more logical to _append_ to that list, but this may be a breaking change for stable flags.

[2019-03-15 21:13] tormol opened #59220 "format_args! with certain arguments segfaults at run-time on x86_64-unknown-linux-gnux32"
Trying to display most types causes a segmentation fault at run time when compiled in debug mode for x32 ABI

Example:
[code]

* `println!`, `format!` and `format_args!` equally affected, `.to_string()` is not.
* Only happens in debug mode, works fine in release mode.
* Happens with all integer types from `i8` to `u128`, `f32`, `f64`, `bool`, `char` and `fmt::Argument`, but not with references to

[2019-03-15 21:35] ckaran commented on #58375
@jethrogb Done.  Pull the latest commit from the repository.  Thank you for looking into this!

[2019-03-15 21:41] alexreg commented on #44930
@thedataking `Drop` isn't getting used here for `va_end`. If you want those intrinsics to be exposed, we may be able to do that...

[2019-03-15 21:41] dlrobertson commented on #44930
It does take a bit more care and thought to convert code, and I'm not entirely sure how to do this automatically like c2rust is designed to do. It will take a lot to convince me that the API should be changed because I think the current API promotes a relatively safer use of `va_list`.

Opinions changed as we worked on it (see [this comment](https://github.com/rust-lang/rust/pull/49878#discussion_

[2019-03-15 21:45] jethrogb commented on #58375
Reproduced by doing
[code]
in crate proptest version 0.9.1

[2019-03-15 21:46] steveklabnik commented on #37638
Triage: we barely support XP at all anymore, I doubt this will be implemented.

[2019-03-15 21:46] tormol commented on #45417
I cannot reproduce this with Rust 1.33.0 and LLVM 8.0

However I've run into other issues with `println!` on x86_64-unknown-linux-gnux32 that also only happen in debug-mode, but they happen at run-time and felt different enough that I've opened a new issue: #59220

[2019-03-15 22:00] lachlansneff opened #59222 "#[panic_handler] does not work with std."
The `#[panic_handler]` attribute does not work when using the std library. Thus, there's no way for libraries to register custom panic handlers without resorting to a lazy_static or similar global initializer.

This seems like quite an oversight.

[2019-03-15 22:01] jethrogb commented on #58375
possible dupe of https://github.com/rust-lang/rust/issues/57131 or https://github.com/rust-lang/rust/issues/52478

[2019-03-15 22:02] ExSidius commented on #59202
@nagisa sounds good - let me work on that.

@sfackler I don't have a tonne of experience with C libraries and ffi. I can say for certain that when I run the C function independently (gcc/cc compiled) on both Linux and Mac, and run the same function repeatedly, I cannot reproduce the error. What would you need from me in order to convince you that this is an FFI issue? (in addition to a smaller rep

[2019-03-15 22:13] sfackler commented on #59202
I'd want to see some specific evidence that the compiler did a specific thing wrong.

[2019-03-15 22:26] ExSidius commented on #59202
That's fair. I'm not entirely sure how to go about that but will continue debugging and do my best to get you something credible and useful.

[2019-03-15 22:53] retep998 commented on #37638
The need for a way to specify the minimum version of the OS that is being targeted is still useful *in general*, and will remain so even as XP fades out of existence.

[2019-03-15 23:37] Mark-Simulacrum commented on #59222
cc @japaric -- I presume this is intentional, or at least a known limitation?

[2019-03-15 23:40] Mark-Simulacrum commented on #59220
cc @malbarbo who I believe initially added this target

Since this is not a tier 1 target I am not nominating for the compiler team to take a look (we don't have the resources to support it at this point).

[2019-03-16 00:20] japaric commented on #59222
`panic_handler` was designed for `no_std` use. Programs that link to `std` already had an stable API to set a panic handler (e.g. `std::panic::set_hook`) when `panic_handler` was designed.

Besides, I'm not sure how you could get `panic_handler` to work with non-`no_std` crates. Let's say we add a Cargo feature to `std` to remove its `panic_handler`; what happens to the *stable* `std::panic::set_h

[2019-03-16 03:52] Centril commented on #59196
Is this actually a bug?

[2019-03-16 04:12] lachlansneff commented on #59222
Would crate-specific panic handlers be a possible solution to this?

[2019-03-16 04:18] Centril commented on #59222
@japaric

Any non-`#[no_std]` crate that annotates a function with `#[panic_handler]` will get errors about:
[code]

Therefore we get to define the semantics if we want to. A reasonable way to do that would be similar to `#[global_allocator]`, that is, the `std` crate will add a `#[panic_handler]` if none is specified by the user.

As for `set_hook`, it could simply abort if other solutions are no

[2019-03-16 04:50] samuela opened #59224 "`thread 'rustc' panicked at 'src/librustc/session/mod.rs:809` with clean `cargo new` project"
I just created a new project with `cargo new rust-cli` and then cd'ed into the directory and ran `cargo build` but I got this error:

[code]
I made no changes to the generated project after running `cargo new`.

## Meta
I'm on macOS 10.14.2.

[code]

The project lives on an SMB file share. No idea whether that's relevant, but it's the only slightly unorthodox bit of my setup.

[2019-03-16 04:51] samuela commented on #59224
Problem does not exist when the project lives in the local filesystem.

[2019-03-16 05:52] salmans opened #59225 "Improve the help message for the error on using fully qualified syntax for nested associated types"
Here is a small example to reproduce the error and its help message:
[code]

Then I get the following error:
[code]

It looks like the word "`Trait`" in `<<Self as B>::Item as Trait>::Item` should be replaced with the trait name `A` so that the suggested expression compiles:
**help: use fully-qualified syntax: `<<Self as B>::Item as A>::Item`**.

[2019-03-16 05:58] U007D commented on #50264
FYI, I've already started work on the DerefMut side of things; if folks feel the current names are appropriate, I should be able to have the new PR ready by the end of the month, if not before (external commitments).

In terms of naming, I've been kicking around (no particular order):
`as_ref_deref/as_mut_deref` (describes &**, without being too pedantic (i.e. avoid as_ref_deref_deref),  and
`as_i

[2019-03-16 06:59] Centril commented on #59224
Backtrace suggests issues with incremental? cc @Zoxc

[2019-03-16 07:05] samuela commented on #23121
Any update on this? Being able to pattern match against Vecs and arrays is hugely important for many people coming from functional languages.

[2019-03-16 07:13] joshtriplett commented on #50264
On March 15, 2019 11:06:02 PM PDT, Brad Gibson <notifications@github.com> wrote:

Shorter seems preferable here; `as_deref` seems as long as it should get.

[2019-03-16 07:15] jethrogb commented on #23121
Rust has had basic slice patterns since 1.26. More advanced patterns are being discussed in https://github.com/rust-lang/rfcs/pull/2359.

[2019-03-16 07:17] tmccombs commented on #39880
is there an llvm issue open for this?

[2019-03-16 07:20] jethrogb commented on #23121
[`[T]::split_at`](https://doc.rust-lang.org/stable/std/primitive.slice.html#method.split_at) might work for you, depending on your usecase.

[2019-03-16 07:21] samuela commented on #23121
@jethrogb Ok, thanks. I'm hoping to be able to match against `[]` vs `x :: xs` in one fell swoop, but `split_at` with an `if` would technically work.

[2019-03-16 07:33] cuviper commented on #23121
You can match on `split_first()` for that.

[2019-03-16 08:52] oxalica opened #59228 "Unresolved names heavily slow down compilation in 2018 edition"
It occurs when there are lots of unresolved names when, for example, misspelling a commonly used struct name.

For type names [example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=46c788373818a06fd9f5cae493907bc6). Note that `A` is unresolved.
[code]

Command:
[code]

It can also be reproduced by [unresolved variable names](https://play.rust-lang.org/?version=nightly&m