[2022-04-01 22:33] AdrianDanis opened #95575 "Failure compiling Fuchsia compiler"
Building the Rust compiler for Fuchsia fails with an error when building libunwind since . I don't have a fully minimal set of build steps (actual steps are documented in https://fuchsia.dev/fuchsia-src/development/build/rust_toolchain?hl=en), but one relevant piece of the config.toml is that we set `llvm-libunwind = "in-tree"`

When running `x.py` the build fails with

[code]

This happens buildi

[2022-04-01 23:17] ehuss commented on #95549
This appears to be a duplicate of https://github.com/rust-lang/cargo/issues/10529

[2022-04-01 23:17] #95549 closed

[2022-04-01 23:27] Mark-Simulacrum commented on #94506
Going to go ahead and close then, thanks @steffahn!

[2022-04-01 23:27] #94506 closed

[2022-04-02 00:09] petrochenkov commented on #95561
It's actually both.

### Dependency order

The build script in `tirocks-sys/build.rs` gets the dependency order wrong.
`crocksdb` depends on both `rocksdb` and `stdc++`, and `rocksdb` also depends on `stdc++`, so the linking order should look like `-lcrocksdb -lrocksdb -lstdc++`.
Example of a possible fix:
[code]

### `+whole-archive`

`rocksdb` is a C++ library using global C++ constructors.
Smok

[2022-04-02 01:25] ffmichaelm commented on #92173
I am able to build ` ./x.py build --stage=2 src/tools/cargo` just fine

[2022-04-02 01:25] ffmichaelm commented on #92173
So it is the same error as described but I am able to reproduce it in a separate fashion, which I am unsure if that makes it the same issue,

[2022-04-02 01:35] scottmcm commented on #91126
@fbstj No, this came from a much less interesting place of wanting to be able to better lint typos like `isize::max as usize`, which very much doesn't do what you want 🙃

With https://doc.rust-lang.org/nightly/std/primitive.pointer.html#method.addr now available, I think this feature should just be deprecated.  To be nice, though, we shouldn't remove this for another 5 weeks or so, to give unstabl

[2022-04-02 01:38] kaylynn234 opened #95582 "Seemingly incorrect borrow analysis of disjoint code paths"
More specifically, it appears that disjoint code paths are being "merged" somewhere down the track, which results in a confusing error that doesn't really make sense.

I was able to find a fairly simple min repro:
[code]
I expected this code to compile. and print `Hello, world!` to standard output.

Instead, a confusing error is presented:
[code]
I've tried a few variations of something similar to

[2022-04-02 02:35] #95570 closed

[2022-04-02 02:43] nico opened #95584 "std::process::Command::spawn() leaks file descriptors on unix platforms that don't have pipe2()"
The [n2 project](https://github.com/evmar/n2) is a reimplementation of the [ninja](https://github.com/ninja-build/ninja) build system. As such, it launches many subprocesses. For every subprocess, it spawns a thread that runs `std::process::Command::spawn()`.

On macOS, `ninja -j250` runs fine, while `n2 -j250` runs out of file descriptors (n2 bug report: https://github.com/evmar/n2/issues/14). It

[2022-04-02 04:26] ffmichaelm commented on #92173
Upon further investigation I took the 1.51-dev I build and installed myself (with cargo) and tried rebuilding my project using that and it worked.  When I install rust with rustup does it not also compile it in some fashion?  Why does that not work?

[2022-04-02 04:35] ehuss commented on #95584
We ran into this issue with Cargo. There's more discussion at https://github.com/rust-lang/cargo/issues/7858#issuecomment-582166574 and https://github.com/rust-lang/cargo/issues/6344 and in #24237 where O_CLOEXEC support was added. Unfortunately I was never able to find a solution.

[2022-04-02 04:46] ehuss commented on #95582
I believe this is a known issue that is fixed with polonius (on nightly, you can run with `-Zpolonius`).  I think #54663 has more information about this situation.

[2022-04-02 04:59] #95429 closed

[2022-04-02 06:37] InfRandomness commented on #83518
The second step might need to get ticked since #95478 has been merged

[2022-04-02 08:19] BusyJay commented on #95561
I guess a topological sorting is necessary to get all dependencies order right.

[2022-04-02 09:36] myrfy001 commented on #13442
it seems that still can't set breakpoint in inlined functions now

[2022-04-02 09:49] BusyJay commented on #95561
I change to the link order you suggested, but then the smoke case fails on both MacOS and Linux with the stable toolchain. Changing it to ` -lrocksdb -lcrocksdb -lstdc++` fix the problem on stable though.

[2022-04-02 10:13] #95569 closed

[2022-04-02 12:01] h3n4l opened #95586 "rustup doc with open error"
I tried this code:

[code]

I expected to see this happen:
Open index.html in the web browser or other correct behavior

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-04-02 12:07] h3n4l commented on #95586
It seems like that there was no a folder named `html` in the path `~/.rustup/toolchains//stable-aarch64-apple-darwin/share/doc/rust/`:
[code]

[2022-04-02 14:04] Kobzol commented on #95297
@nnethercote I tried to look at this. `CodegenResults` is a struct that is serialized to `.rlink` files using the `Encodable/Decodable` machinery. I tried to create a wrapper struct that would serialize and deserialize a header to provide nicer messages, but it's not really easy to provide a custom message if decoding of the header fails currently, since you removed the `Result`s from `Decoder` me

[2022-04-02 14:10] bjorn3 commented on #95297
The crate metadata encodes and decodes the header separately from the contents. For crate metadata the header is of the form "rust" + 32bit be version number (currently 5 I believe) + 32bit offset of the crate root + rustc version string. During decoding the header is checked for "rust", the right version number and then the right rustc version. Only after that is a `Decoder` created to decode the

[2022-04-02 14:30] niluxv commented on #95533
Fixed by #95557, now merged into master so this can be closed I think.

[2022-04-02 14:30] ehuss commented on #95586
Thanks for the report!  Documentation for that target is not available in 1.59.  This will be fixed in the 1.60 release next week.  Closing as a duplicate of #69525.

[2022-04-02 14:30] #95586 closed

[2022-04-02 14:32] Kobzol commented on #95297
Thanks for the hint. I checked rmeta decoding and it basically decodes the magic header byte slice with `starts_with`, which should be easy, but then it uses `Lazy::<String>::decode` for decoding the rustc version, which will panic if the version is missing.

So with this approach we could have a nice error if header magic is missing, nice error if rust version is wrong, but weird error if rust ve

[2022-04-02 14:36] bjorn3 commented on #95297
Yeah, the header magic is supposed to be changed every time the rustc version needs to be decoded in a different way.

IMO it is ok.

[2022-04-02 15:12] kapouer commented on #48707
Does https://blog.antoyo.xyz/rustc_codegen_gcc-progress-report-10 means the missing piece is almost done ?

[2022-04-02 16:10] TDHolmes commented on #95569
Thanks @petrochenkov for the quick fix!

[2022-04-02 17:17] #95533 closed

[2022-04-02 17:44] the8472 opened #95595 "Tracking Issue for `*mut [T]::split_at_mut`"
The feature gate for the issue is `#![feature(raw_slice_split)]`.

This is a tracking issue for the `split_at_mut` method on raw slice pointers

### Public API

[code]

### Steps / History

- [ ] Implementation: #95594
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-04-02 18:09] scottmcm commented on #95488
Note that lang and libs both want a lint for ptr-to-int via `as` (https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Adding.20methods.20as.20more.20specific.20versions.20of.20.60as.60/near/238391074) so if anyone wants to pick that up it should hopefully be uncontroversial.

[2022-04-02 18:34] #64371 closed

[2022-04-02 18:40] izik1 commented on #91514
Just doing a cursory glance at the playground to see if this is still an issue: still happens on 1.59 stable (no surprise), 1.60.0-beta.7, and is _resolved_ on the nightly dated 2022-04-01 (eb82facb1626166188d4). Should this be closed as "solved on nightly"? It'd be nice to figure out which one it was resolved on.

[2022-04-02 18:48] niluxv commented on #95488
I would like to give it a try.
@rustbot claim

[2022-04-02 19:00] C0D3-M4513R opened #95598 "Misleading Error with &dyn"
[Given the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6d2a1542dd043198badb4121790bf504)

[code]

The current output is:

[code]

Stating, that &str does not have a known size at compile time is just wrong.
I think that rust sees, that the function parameter has a Borrowed type and that the function call also provides a borrowed type. So rust probably pr

[2022-04-02 19:10] C0D3-M4513R commented on #95598
My use case for this is the following function, which returns a predicate.
I have the borrow infront of the dyn, to make the type Sized (so it can be used in the closure).
[code]
To call it, I need to do the following.
The first borrow should be obvious. The second is due to `AsRef`.
[code]

Please correct me, but I do not think, that I can write this any better right now (without inlining the fun

[2022-04-02 19:55] SNCPlay42 commented on #95598
The message does not state that `&str` does not implement `Sized`, it states that `str` doesn't, which is true. And it does say why it needs this ("required for the cast to the object type `dyn ToString`"): only types of known size can be coerced into trait objects. This is because the representation of `&dyn Trait` provides no way to discern the length of the `str` being pointed to.

[2022-04-02 20:38] nagisa commented on #83869
FWIW I develop rustc on a mechanical storage too, and while it doesn't help the build times in general, it doesn't make them that terrible either.

---

26 hours definitely seems excessive, but it is also true that:

1. rustc developers largely never fully bootstrap the compiler, much like gcc developers don't bootstrap their compiler fully either;
  * `python` build in particular isn't a comparab

[2022-04-02 20:38] #83869 closed

[2022-04-02 20:48] nagisa opened #95601 "When `rustdoc` tests crash, it is very difficult to investigate the failure"
One of the rustdoc tests is crashing and the output is:

[code]

It is extremely difficult to actually debug this – I know rustdoc compiles a test binary and runs it, but there is no intuition whatsoever as to where to look for the executable in question!

On failures like these, I feel like we should print a path to the executable (much like cargo does).

[2022-04-02 20:53] C0D3-M4513R commented on #95598
Yes, but the whole message is missing the point, of what is actually happening. The Message is very unclear in what is says. Take the error message, without the hints. Misses completely what is going on.
[code]

Also can you please explain to me, why `str` needs to be Sized eventhough AsRef specifically lifts this requirement?

[2022-04-02 21:08] nagisa commented on #95601
Seems like a part of the reason it is so difficult is that `rustdoc` places the executables into a temporary directory and this directory is removed on exit.

[2022-04-02 21:31] compiler-errors commented on #91293
Since this is fixed on recent versions and 1.56.1 is quite old, closing this.

[2022-04-02 21:31] #91293 closed

[2022-04-02 22:01] compiler-errors commented on #92398
I'll close this then.

[2022-04-02 22:01] #92398 closed

[2022-04-02 22:02] vojtechkral commented on #81513
Excuse my ignorance, but how would `[[T]]` even work?

[2022-04-02 22:33] ThePuzzlemaker opened #95605 "Odd macro expansion errors with nested macros"
### Code

I apologize that I can't get a full MCVE going at the moment.
The macro is defined in [`calypso_diagnostic/src/types.rs`](https://github.com/calypso-lang/calypso/blob/main/libs/calypso_diagnostic/src/types.rs) and used in [`calypso_parsing/src/lexer.rs`](https://github.com/calypso-lang/calypso/blob/main/libs/calypso_parsing/src/lexer.rs#L276=). I originally thought this was related to #5

[2022-04-02 22:42] petrochenkov commented on #95561
Fixed in https://github.com/rust-lang/rust/pull/95606.

[2022-04-02 22:46] petrochenkov commented on #95605
Could you check whether it still happens with https://github.com/rust-lang/rust/pull/95571?

[2022-04-02 23:18] petrochenkov commented on #95575
I suggest removing `println!("cargo:rustc-link-lib=unwind");` for Fuchsia from the build script (`library\unwind\build.rs`).
It's unnecessary since the library is already linked using `#[link]` attributes.
(I would prefer not to do this myself because I don't want to prepare a testing setup for Fuchsia.)

As for the "overriding linking modifiers" error, it was indeed made too conservative in the s

[2022-04-02 23:29] dimpolo commented on #95311
I get the same error on code that I got minimized to:
[code]

[2022-04-02 23:39] #69228 closed

[2022-04-02 23:39] #95297 closed

[2022-04-02 23:41] AnimalStudioOfficial opened #95608 "Build and install error"
I run cp config.toml.example config.toml ans then ./x.py build && ./x.py install and I get:

$ ./x.py build && ./x.py install
downloading https://static.rust-lang.org/dist/2022-01-13/rust-std-1.58.0-x86_64-pc-windows-gnu.tar.xz
extracting G:\rust-1.59.0\rust-1.59.0\build\cache\2022-01-13\rust-std-1.58.0-x86_64-pc-windows-gnu.tar.xz
downloading https://static.rust-lang.org/dist/2022-01-13/rustc-1.5

[2022-04-02 23:51] alercah commented on #81513
I think `[U]` where the metadata of `&U` is allowed to vary between elements would be a ludicrous thing,[1]. because it would require `&[U]` to store a metadata for each element, which would make the pointer itself unsized. But there are some imaginable variations:

* `[U]` where `U` is unsized could be syntactic sugar for `[(<U as Pointee>::Metadata, U)]`, sort of a Pascal-style array. In this ca

[2022-04-03 00:03] Wilfred commented on #95561
FWIW [difftastic](https://github.com/wilfred/difftastic) is also affected by this: running `cargo build` worked in nightly-2022-03-30 but fails with a linking error on newer nightlies:

Build log: https://github.com/Wilfred/difftastic/runs/5791227463?check_suite_focus=true
build.rs: https://github.com/Wilfred/difftastic/blob/master/build.rs

[2022-04-03 01:28] ThePuzzlemaker commented on #95605
@petrochenkov No, it does not occur with the latest nightly (which I assume includes that PR). Thanks!

[2022-04-03 01:28] #95605 closed

[2022-04-03 01:54] ehuss commented on #95608
Can you say more about how you obtained and extracted the rust source?  If you downloaded and extracted from https://static.rust-lang.org/dist/rustc-1.59.0-src.tar.gz, the `src/tools/rust-installer` directory should be there.

[2022-04-03 02:20] #55713 closed

[2022-04-03 04:14] saethlin commented on #95332
The worst-case scenario appears to be this sort of shenanigans, which produces a ~58% regression (at a guess the 8% is related to deciding to enable the checks):
[code]
Simply putting the whole benchmark in an `unsafe` block or making every `fn` an `unsafe fn` does not produce anything measurably worse than the all-safe overhead (which I think I just drove down to 0.8%), because this check is slop

[2022-04-03 05:57] petrochenkov commented on #95561
@Wilfred
In case of `difftastic` the fix is to respect dependencies between C and C++ libraries.
[code]

It doesn't involve the "`+whole-archive` in rlib" case unfixable by user, so it won't be fixed by https://github.com/rust-lang/rust/pull/95606.

[2022-04-03 07:53] #83502 closed

[2022-04-03 08:45] #95582 closed

[2022-04-03 11:43] jmaargh opened #95614 "Documentation error in `with_capacity` family of methods"
As discussed [here](https://github.com/rust-lang/rust/issues/43490), methods like `Vec::with_capacity` are guaranteed to create a container with _at least_ the specified capacity, but are allowed to allocate more.

The easiest way to see this is with zero-sized types, since no allocation is necessary and capacity is always `usize::MAX` (I assume).

However, the documentation states "Constructs a n

[2022-04-03 13:23] RalfJung commented on #95332
So the check interacts badly with macros, or so? Because that should still all be unsafe code then, right?

[2022-04-03 13:29] #32610 closed

[2022-04-03 15:39] jain98 opened #95615 "Reference pattern matching on tuples behaves unexpectedly"
I'm seeing what looks like unsound behavior while using pattern matching on a tuple reference, where the tuple itself contains references - `&(&1, &2)` or `&(&"Hello".to_owned(), &"World".to_owned())`.

Below is a minimal reproducible example:

[code]
I ran into the error while using code like `(2)`, where I was using the `find` method on a map of `<String, String>` while iterating over the map us

[2022-04-03 15:59] plaes opened #95616 "Invalid suggestion for missing lifetime specifier when using const generics"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=de3e0cab5a0a3a72f2840b824066f6f1

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This issue is present with both stable (1.59) and nightly: `1.61.0-nightly -(2022-04-02 76d770ac21d9521db6a9)`

[2022-04-03 16:11] the8472 commented on #95239
The `/proc/<pid>/fd/*` symlinks are magical. Even if they don't resolve to a valid path you can still `File::open` them and then operate on that new file descriptor.

[2022-04-03 16:18] ehuss commented on #95615
There are a few things to explain why this is happening:

In your first example, `a` is `&&i32`.  Part of [match ergonomics](https://rust-lang.github.io/rfcs/2005-match-ergonomics.html), the pattern has an implicit `ref` which creates a reference to a reference.

The reason `let _: &i32 = a;` works is that a `let` statement with an explicit type will perform [implicit coercion](https://doc.rust-la

[2022-04-03 17:44] Wilfred commented on #95561
@petrochenkov that works perfectly, huge thanks for taking a look :)

Do you know why this changed on nightly? I see `RELEASES.md` doesn't have a changelog for items since the last stable release.

[2022-04-03 17:59] petrochenkov commented on #95561
@Wilfred

Due to https://github.com/rust-lang/rust/pull/93901.
Previously rustc implicitly linked static libraries as whole-archive in some cases (when linking static libraries directly into executables, for example).
After https://github.com/rust-lang/rust/pull/93901 we try to not implicitly use whole-archive if possible.

[2022-04-03 18:15] saethlin commented on #95332
I suspect the check interacts badly with _functions_. It's extremely local and sloppy, in the name of doing little work when there is no unsafe code. It could definitely be tightened up if you or Oli have suggestions on a more principled but :thinking: _appropriately thrifty_ way to do this.

Whenever we call `load_mir`, the HIR for the loaded Instance is searched for `unsafe` blocks. If one is fo

[2022-04-03 18:20] RalfJung commented on #95228
https://github.com/rust-lang/rust/pull/95588 expands the APIs and docs to also better explain what happens with *non-Strict-Provenance* code that does want to do pointer-usize-pointer roundtrips.

[2022-04-03 19:15] plaes commented on #95616
So, this is where the suggestion comes from. Unfortunately I can't yet find a place to move the value before the `const`:
[code]

[2022-04-03 19:34] surphury commented on #43262
Thanks for this!!!

[2022-04-03 20:10] RalfJung opened #95622 "`impl Read for &Stdin` is missing"
It is possible to write to a `&Stdout` thanks to `impl Write for &Stdout`, but it is not possible to read from a `&Stdin` as the corresponding `impl Read for &Stdin` is missing. This seems to be entirely an accident, given that [`read_line`](https://doc.rust-lang.org/nightly/std/io/struct.Stdin.html#method.read_line) *does* work on `&Stdin`.

Cc @rust-lang/libs-api

[2022-04-03 20:30] ehuss commented on #93784
@GuillaumeGomez Just FYI, there's still timeouts happening after #95470:

[code]

https://github.com/rust-lang-ci/rust/actions/runs/2086146075

[2022-04-03 20:47] vertexclique opened #95623 "ICE on nightly-2022-03-18 when compilation ordinary Rust project."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Extra
Full log here:
https://github.com/vertexclique/callysto/runs/5807959075?check_suite_focus=true

[2022-04-03 20:48] GuillaumeGomez commented on #93784
Thanks! Then I'll need for another way to wait for the search results.

[2022-04-03 20:54] QuineDot commented on #95421
Ah, sorry for not catching that -- I probably wouldn't have filed it as a regression if I had (though I guess it is still technically one).

[2022-04-03 20:55] AnimalStudioOfficial commented on #95608
I downloaded the source from here: https://github.com/rust-lang/rust/releases/tag/1.59.0
and the src/tools/rust-installer is there and is empty.

[2022-04-03 21:17] lazytype commented on #94940
To add another data point, I also ran into this when refactoring some code to use `allocator_api` which broke my blanket impls on traits that I added `A: Allocator` to.

[2022-04-03 21:30] compiler-errors commented on #95623
I believe this was fixed by #95020 -- @vertexclique, can you upgrade to the latest nightly and double check?

[2022-04-03 21:32] petrochenkov opened #95625 "Audit string literals in inline assembly syntax for correct unescaping"
When trying to refresh the status of https://github.com/rust-lang/rust/issues/60495 I noticed that `ast::InlineAsm` (and its nested structures) is the only AST structure that uses plain strings `String` and `Symbol`s.

Other literals in AST use either `ast::Lit` in contexts where arbitrary literals are supported, of `ast::StrLit` in contexts where only string literals (possibly raw) are supported.

[2022-04-03 21:32] vertexclique commented on #95623
Works on the latest nightly. Cool, thanks!

[2022-04-03 21:32] #95623 closed

[2022-04-03 21:33] ehuss commented on #95608
Ah, the tagged GitHub releases shouldn't be used.  They do not include the git submodules.  The link above is the one that should be used.

Unfortunately we don't have the ability to disable GitHub releases, but we can probably add an error message to x.py if it can detect this scenario.

[2022-04-03 21:38] lazytype commented on #94940
A workaround that seems to work is to change the type parameter to be an associated type

[2022-04-03 21:54] petrochenkov commented on #95625
If `StrLit` is used in AST for inline assembly, then `fn print_string`/`print_symbol` in `compiler\rustc_ast_pretty\src\pprust\state.rs` should also be eliminated.

[2022-04-03 21:54] petrochenkov commented on #60495
Current status of used escaping:

proc macro server
	- fn byte_string - escape_default
	- fn from_internal - DocComment - escape_debug
	- fn string - escape_debug
	- fn character - escape_unicode
parser
	- fn to_lit_token - ByteStr/Byte/Str/Char - escape_default
	- fn inlined_next_desugared - DocComment - no escaping, raw literal is used instead
pretty-printer
	- fn print_string - escape_debug - u

[2022-04-03 22:10] Manishearth commented on #95488
@Gankra regarding "lints that don't exist", there's a lint deprecation mechanism that allows you to register names as deprecated (and delete the impl), it's used often in clippy and occasionally in rustc

[2022-04-03 23:42] #81482 closed

[2022-04-03 23:42] rust-highfive opened #95627 "`miri` no longer builds after rust-lang/rust#95624"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#95624, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-04-03 23:44] AzureMarker commented on #94348
@carbotaniuman Here is a repo that reproduces the issue:
https://github.com/AzureMarker/reproduce-used-linker-function

The main issue spawns from a requirement in our rustc fork for the 3DS (to be upstreamed eventually). We don't want to link directly to the "libc" library on the 3DS because it's homebrew, and potentially causes legal issues (ex. using the low-level APIs of the 3DS kernel, see ht

[2022-04-04 00:05] AdrianDanis commented on #95575
Thanks for the suggestion. Editing the build script locally seems to work, will check if that's the preferred long term approach.

For what it's worth I also tested #94962 and it resolves the issue.

[2022-04-04 00:10] rodrimati1992 opened #95628 "Two ICE with `.into()` conversion into TAIT"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>First backtrace</strong></summary>
<p>

[code]

</p>
</details>

<details><summary><strong>Second backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-04 00:34] Cyborus04 opened #95629 "Tracking Issue for `slice_flatten`"
These methods stabilized in #125561 for rust 1.80 🎉

This issue is now tracking their const-stability.

---

Feature gate: `#![feature(slice_flatten)]`

This is a tracking issue for the methods `flatten` and `flatten_mut` on `[[T; N]]`, and `into_flattened` on `Vec<[T; N], A>`.

### Public API

[code]

### Steps / History

- [x] Implementation: #95579
- [x] Final comment period (FCP)
- [x] #125171

[2022-04-04 01:56] joshtriplett commented on #95622
Seems reasonable to me.

We'd need to FCP the resulting PR, since trait impls are insta-stable.

[2022-04-04 02:39] drmorr0 commented on #78022
This issue should be fixed at this point.

[2022-04-04 02:59] mrlazy1708 commented on #95210
Yes fixed. Closing now.

[2022-04-04 02:59] #95210 closed

[2022-04-04 03:51] jdm opened #95633 "ICE: panicked at 'no entry found for key' documenting std::i8 re-export with --document-private-items"
### Code

[code]

### Meta
The ICE appears with `cargo +beta doc --document-private-items` and `cargo +nightly doc --document-private-items`, but not `cargo +stable doc --document-private-items`.

Beta:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-04 04:19] hi-rustin commented on #95622
@rustbot claim

[2022-04-04 04:27] golddranks commented on #72599
There's not a lot of time left to merge the stabilization PR ( https://github.com/rust-lang/rust/pull/95431 ) if we want to get `total_cmp` to 1.61. It seems like @dtolnay is busy, is there anyone here with merge rights that could review instead? Also, since there are people that might have insight about the guaranees and semantics around floats, I'd appreciate comments in https://github.com/rust-

[2022-04-04 04:48] #95561 closed

[2022-04-04 05:48] davidtwco commented on #84673
I think that we should go ahead with stabilizing this, it's a small compiler feature that hasn't seen any major changes since it was implemented, and is useful for people invoking rustc through build systems other than Cargo.

**Stabilization PR:** rust-lang/rust#95635

@rfcbot fcp merge

## Brief summary
rustc currently detects the width of the terminal and will truncate diagnostic output when it

[2022-04-04 07:05] #94903 closed

[2022-04-04 07:34] pietroalbini commented on #95633
@rust-lang/rustdoc this is a regression affecting the release that is being prepared today.

[2022-04-04 07:57] asquared31415 opened #95638 "Bad error message for "relative paths are not supported in visibilities" error"
Given the following code:

[code]

When compiled using Edition 2018 or 2021

[code]

This error message is misleading and should likely be changed to "only supported in 2015 edition" or "not supported in 2018 edition or later"

[code]

[2022-04-04 08:56] GuillaumeGomez commented on #95633
I'll take a look.

[2022-04-04 09:00] matthiaskrgr opened #95640 "ICE: unimpl selecting .. during codegen with -Zmir-opt-level=3"
### Code
./src/test/ui/impl-trait/projection.rs	 or ./src/test/ui/impl-trait/issues/issue-93788.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

cc @compiler-errors I believe this might be caused by https://github.com/rust-lang/rust/pull/95031

[2022-04-04 09:10] compiler-errors commented on #95640
I'll look into it regardless

[2022-04-04 09:12] #78022 closed

[2022-04-04 09:43] hamza1311 commented on #63063
Take 2 of that was merged a couple of days ago: https://github.com/rust-lang/rust/pull/94081. What's left to be done? @oli-obk, if you comment an update or (preferably) update the issue so anyone unfamiliar with the progress can learn about what has happened

[2022-04-04 09:56] FlawlessDeveloper commented on #94808
The MVCE now compiles and also correctly outputs a warning

[2022-04-04 10:21] oli-obk commented on #77898
This has been fixed in https://github.com/rust-lang/rust/pull/94081 which also has tests that pass with it

[2022-04-04 10:21] #77898 closed

[2022-04-04 10:22] oli-obk commented on #87277
We have stabilized `-> impl Trait` on const fn, so there is no reason to forbid TAITs.

Closing as there is no further action required here

[2022-04-04 10:22] #87277 closed

[2022-04-04 10:27] allexgray commented on #95640
I was unable to reproduce same error perhaps it already fixed try updating your rust compiler

```  rustc --version --verbose ```

[code]

[2022-04-04 12:26] WaffleLapkin commented on #81513
When @oli-obk is talking about `[U], U: !Sized` they probably have in mind what is described in the @Gankra's [blog post] on this topic.

[blog post]: https://gankra.github.io/blah/dsts-are-polymorphic-generics/

---

Personally I think that `[U], U: !Sized` should mean that _every instance of `U` has the same metadata_. This has the advantages of
- Still leaving `[T]` homogeneous
- Still allowing

[2022-04-04 13:23] GuillaumeGomez commented on #15823
It seems to be a tricky issue to fix. I opened https://github.com/rust-lang/compiler-team/issues/504 so we'll see if it'll be able to fix this problem.

In the meantime, to add a test for this in rustdoc:

### src/test/rustdoc/alias-reexport.rs

[code]

### src/test/rustdoc/alias-reexport2.rs

[code]

### src/test/rustdoc/auxiliary/alias-reexport.rs

[code]

### src/test/rustdoc/auxiliary/alias-re

[2022-04-04 13:23] ian-h-chamberlain commented on #52331
@rustbot label +I-needs-decision

I hope this is the right way to ask for some input from the libs-api team. This issue has stagnated for a while without a clear path forward, and it would be nice if we had a way to support multiple platforms that use a path prefix scheme like this other than just Windows.

[2022-04-04 13:35] CryZe commented on #95629
This might be similar to `array`/`slice` `into_iter` in that array might get a flatten as well, so we may need to be careful when stabilizing this as `slice::flatten`.

[2022-04-04 14:18] m-ou-se commented on #93740
@kprotty Thanks! Will take a look at it.

Great work on https://github.com/kprotty/usync by the way. :)

[2022-04-04 14:44] WaffleLapkin opened #95647 "yet another ICE with HRTB and RPIT"
I tried this code:

[code]
[(play)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9eb1389a2e28dd14f2ca2e9fe2bc3051)

I expected to see this happen: the code compiles.

Instead, this happened: ICE.

On stable this segfault because of a stackoverflow, but this was fixed by #94081. Now, on nightly (1.61.0-nightly (2022-04-03 6af09d2505f38e4f1df2) this produces internal comp

[2022-04-04 14:53] WaffleLapkin commented on #95647
Another likely related example? (the failed assertion is different though)
[code]
[(play)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1cfc89ec2d7c8f06502eafb60a58ba74)
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-04-04 15:38] Cyborus04 commented on #95629
Adding `&[[T; M]; N] -> &[T; N * M]`  would change the type `[[1, 2, 3], [4, 5, 6]].flatten()` returns, but would that actually be a problem? Anywhere it expected it a slice, it could simple coerce into

[2022-04-04 15:41] RaviKappiyoor opened #95648 "Unrelated compiler errors affects inferring a type"
When I run this code (via `cargo run`):

[code]

I get the output I expected (i.e., a single line of output that says "My number is 42").

However, if I run this code (via the same `cargo run` with no other changes):

[code]

I get two compiler errors. The first error indicates that `foo` is not in scope - this makes sense, I have not defined `foo` anywhere. However, the second error indicates (pr

[2022-04-04 15:43] wwylele commented on #95629
I don't think we should rely on coercion for this. In more complicated code that relies on type inference, it might not be able to correctly coerce from array to slice.

[2022-04-04 15:49] Cyborus04 commented on #95629
Hmm, true.

Another point: the case `[[(); usize::MAX] usize::MAX]` would likely turn into a compile-time error rather than a panic, which would *technically* be a breaking change, if a rather niche one.

I like those names. For the mutable variants, `flatten_slice_mut` &`flatten_array_mut`, or `flatten_mut_slice` & `flatten_mut_array`? I prefer the `flatten_*_mut` ones.

[2022-04-04 15:59] pietroalbini commented on #94808
Great! Closing this issue then.

[2022-04-04 15:59] #94808 closed

[2022-04-04 16:22] eggyal commented on #77593
Wouldn't adding an `impl<'a, F> Pattern<'a> for F where F: FnMut(&char) -> bool` solve this?

[2022-04-04 16:29] justmike2000 commented on #92173
Now that I’ve built my own rust is there some doc how I can package and distribute a tool chain myself?

[2022-04-04 16:43] scottlamb commented on #93740
Worth also looking at IMHO: Google's `absl::Mutex` type ([design notes](https://abseil.io/about/design/mutex), [code](https://github.com/abseil/abseil-cpp/blob/master/absl/synchronization/mutex.h), [guide](https://abseil.io/docs/cpp/guides/synchronization)). Some interesting things about it:

*   it has great instrumentation that I'd personally love to see replicated in the Rust world some day. I

[2022-04-04 16:49] bjorn3 commented on #93740
How much of those efficiency gains are only existing in case of relatively homogeneous workloads on big servers with lots of ram and fast io vs on an average desktop system with rapidly changing workloads and relatively little ram and slower io? The kernel scheduler should be able to adapt better for the later use case due to having knowledge about the whole system, right? While google's fiber lib

[2022-04-04 16:50] ChrisDenton commented on #45572
The Windows specific part of this issue can be solved by using a larger buffer size. We currently [set a relatively small buffer size](https://github.com/rust-lang/rust/blob/2ed6786404be276874fbcc7c3540f3237a87e0f3/library/std/src/sys/windows/pipe.rs#L94-L95), at least compared to typical Linux defaults.

The more general issue is harder to solve within the std but maybe it can be mitigated somewh

[2022-04-04 17:00] scottlamb commented on #93740
AFAIK, the only scenario Google's fiber schedulers have been used is where a particular process is handed some more-or-less fixed slice of a machine's CPU to use (some fractional number of cores/hyperthreads) via Linux container groups. The efficiency advantages only come up when there are lots of busy threads within that process. The goal is to allow most of the efficiency of async with an easier

[2022-04-04 17:06] elibroftw opened #95651 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value',"
### Code

Follow https://github.com/elibroftw/modern-desktop-app-template

Run `yarn cross-env RUST_BACKTRACE=full yarn dev` which is nothing but `yarn cross-env RUST_BACKTRACE=full yarn tauri dev`

### Meta

`rustc --version --verbose`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-04 17:11] elibroftw commented on #95651
I updated rust and didn't encounter an error. A cargo clean probably would've fixed the issue too.

[2022-04-04 17:11] #95651 closed

[2022-04-04 17:25] compiler-errors commented on #95640
This is the same issue that I identified in #94238, but the bug identified and fixed in #95031 actually caused it to not be triggered until now.

The issue here is a "trivial bound" (`for<'a> &'a D: Tr,`) causing us to not select `<&D as Tr>::It => ()` but `<&D as Tr>::It => <&D as Tr>::It` in the MIR inliner. The caching bug actually caused the latter branch to happen _everywhere_, so when that b

[2022-04-04 17:26] petrochenkov commented on #60495
Some discussion about the motivation and requirements for this escaping can be found in https://github.com/rust-lang/rust/pull/95343#issuecomment-1086960435 and below.

[2022-04-04 17:31] cbiffle commented on #90357
This appears to still be reproducing as of `rustc 1.61.0-nightly (9c06e1ba4 2022-03-29)`; we're stuck on `2021-09-23` because basically anything newer breaks our debugger.

[2022-04-04 17:42] m-ou-se commented on #93740
It's definitely an interesting mutex. I worked at Google ~8 years ago, so I'm familiar with at least some parts of its design, since absl's version is similar in usage to the mutex that was around internally back then. Tracking the wait conditions inside of it is definitely very ergonomic in many situations, but it makes it a bit of a different beast than our std::sync::Mutex. So that's something

[2022-04-04 17:44] compiler-errors commented on #95648
I partially fixed this for `std::` and `alloc::` in #93469, but not in general. I am dissatisfied with this error message. I'll look into fixing it.

@rustbot claim

[2022-04-04 18:29] scottlamb commented on #93740
Ahh, yeah, it's just a new name. `absl::Mutex` is written everywhere in the internal codebase now, and I think the open source version matches it almost exactly. (There might be a few code blocks marked Google internal that get skipped on export.)

Makes sense.

The wait conditions are convenient, but the biggest reason I brought up `absl::Mutex` is that I hope to have something like its instrumen

[2022-04-04 18:55] jain98 commented on #95615
@ehuss Thanks for your comment!

The reason let _: &i32 = a; works is that a let statement with an explicit type will perform [implicit coercion](https://doc.rust-lang.org/nightly/reference/type-coercions.html#coercion-sites). There is a [blanket Deref](https://doc.rust-lang.org/std/ops/trait.Deref.html#impl-Deref-5) for &T, so &&i32 gets implicitly coerced to &i32.

I'm not confused by or concern

[2022-04-04 19:08] ehuss commented on #95615
I'm not sure I'm following.  In the original example (with `.find(|(k, v)| {…}`), `k` and `v` are `&&String`, which is the same as `a` and `b` which are `&&i32`.  They are both essentially the same.

[2022-04-04 20:18] cbiffle commented on #90357
So, after working out how to build a toolchain that includes our cross target and rust-lld and whatnot locally, I've tested today's mainline d5139f44690e7765df801ca33a7f627d128ac9e2 with a revert for PR #89041, commit d5de680e20def848751cb3c11e1182408112b1d3 -- which @luqmana had previously identified as the likely culprit.

I can confirm that DWARF output for our statics on thumbv7em and kin is r

[2022-04-04 20:45] oli-obk commented on #95628
Essentially a duplicate of https://github.com/rust-lang/rust/issues/84660

Opaque types in trait impl signatures should be illegal and we're just missing some checks for that

[2022-04-04 22:03] camelid opened #95657 "rustdoc: Mark public items, instead of private items, with `--document-private-items`"
Looking at the rustc API docs (doc.rust-lang.org/nightly/nightly-rustc), the result of #95024 still feels really noisy to me.

![image](https://user-images.githubusercontent.com/37223377/161451392-1aee96dc-a20d-4e13-9064-7472a9815db2.png)

I have two ideas for ways to improve it:

1. **Move the lock to the left "gutter"**, i.e. the left side of the name, but in a column to the left of all the name

[2022-04-04 22:32] #95411 closed

[2022-04-04 22:36] jsha commented on #95657
Another possibility would be to move the lock to the right-hand side, at the beginning of the documentation (if there is any).

I think we should really avoid putting things in the gutter wherever possible - the `[-]` and `§` are rare exceptions and have in common that they are UI elements, not documentation. That inclines me away from Option 1.

For option 2: I hesitate to draw the conclusion tha

[2022-04-04 22:49] riverar commented on #95490
Full disclosure: I'm not a Microsoft employee. I've just been working with Windows for a billion years and am a current Windows Development [MVP](https://mvp.microsoft.com/en-us/Pages/what-it-takes-to-be-an-mvp). So I wouldn't necessarily take [anything I wrote](https://github.com/microsoft/windows-rs/issues/1643) as gospel... but I did draw from experience and did review Windows OS manuals going

[2022-04-04 23:21] c410-f3r commented on #95152
Kind bump

[2022-04-04 23:52] and-rewsmith opened #95661 "Panic in `thread::sleep()` on arm32 Debian 10"
This issue reproduces consistently for multiple arm32 Debian 10 Buster devices (raspberry pi 2b). Running an ubuntu20.04 base image and calling `thread::sleep()` will result in the following panic:
[code]

I tried this code (simplified):

[code]

Full source code:
https://github.com/Azure/iotedge/blob/main/edge-hub/watchdog/src/child.rs#L103

I expected to see this happen: no panic, instead a prop

[2022-04-05 00:26] #67403 closed

[2022-04-05 03:42] ahrens opened #95665 "`Unexpected node ForeignItem` with extern generic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Also reproduces on 1.58.0 and 1.59.0.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>

<p>

[code]

</p>
</details>

[2022-04-05 04:13] saethlin commented on #95661
The panicking line is here: https://github.com/rust-lang/rust/blob/db9d1b20bba1968c1ec1fc49616d4742c1725b4b/library/std/src/sys/unix/thread.rs#L217

From some searching, it looks like real-time OSes can return EPERM from a sleep. What's the host OS here? You said you're running an Ubuntu image, but the point of containers is to share a kernel with the host. What's the host OS here?

[2022-04-05 04:16] and-rewsmith commented on #95661
Host OS: Debian 10 Buster

This doesn't happen with Debian 9 or Debian 11.

[2022-04-05 04:29] and-rewsmith commented on #95661
@saethlin

For the last 1-2 years we have been running ubuntu 18 base image containers on debian 9, 10, and 11 without issue. I know kernel's provide backwards compatibility of syscalls across versions, but I am thinking it could be going the wrong way here (trying to run newer kernel ubuntu 20 container on older debian 10 kernel).

Although there may be some workaround as the  error is coming fro

[2022-04-05 04:38] frank-king commented on #95486
I'm afraid this is by design, since there is a similar ui test
https://github.com/rust-lang/rust/blob/1b7c3bcef9dc88e65c4914887071e432436a0b04/src/test/ui/const-generics/defaults/doesnt_infer.rs#L1-L13

@rustbot release-assignment
@rustbot label: +A-const-generics +F-const_generics_defaults +F-const_generics +T-compiler
cc @rust-lang/project-const-generics

[2022-04-05 04:39] #87437 closed

[2022-04-05 04:39] #90970 closed

[2022-04-05 04:39] #91801 closed

[2022-04-05 04:39] #91803 closed

[2022-04-05 05:45] ejpcmac commented on #95486
Oh :( And what would be the rationale behind this decision? Because I feel this is kind a redundant to have to provide a type without the defaults. It does not look like usual Rust code.

[2022-04-05 05:51] fee1-dead commented on #91930
Parsing an integer is not converted to const code yet I believe. So you can't do this even in nightly.

[2022-04-05 06:59] #78696 closed

[2022-04-05 06:59] #94924 closed

[2022-04-05 07:21] the8472 commented on #95661
It would be quite silly, but maybe the container has a syscall filter that blocks `nanosleep` but not `clock_nanosleep`?

[2022-04-05 07:48] dhardy commented on #44491
For those looking for an alternative that works today using macros, try [impl-tools](https://crates.io/crates/impl-tools#impl-scope):
[code]
Obviously this has the same drawback as mentioned above: stronger bounds on the type than are required just to construct the type. I haven't found this much of an issue in my own usage, but appreciate that it could be in some cases.

[2022-04-05 08:12] nwalfield commented on #95406
I have a [somewhat small demo](https://gitlab.com/sequoia-pgp/rpm-sequoia/-/blob/ice-demo/src/lib.rs#L65) and I've narrow it down to a single line of code: when the closure, which is passed a marco `expr` is called I get the ICE.  When I replace that line of code with a `panic!()`, the code compiles:

[code]

[2022-04-05 08:40] GuillaumeGomez commented on #95657
I'm not a big fan of option 2 because it creates an incoherence between "normal" documentation rendering and private documentation rendering. Marking items that are always present in only a given case seems weird. I don't have an idea on how to reduce the noise though. I think the problem will remain the same in other crates if we add an icon on public items instead of private ones.

[2022-04-05 08:48] nwalfield commented on #95406
Here's an [even small demo](https://gitlab.com/sequoia-pgp/rpm-sequoia/-/blob/5037948d/src/lib.rs) with 3 ways to avoid the ICE:

[code]

It appears that the underlying bug has something to do with how closures are handled.

[2022-04-05 09:23] matthieu-m commented on #81513
Let's not assume any implementation; using a header of offsets (possibly Fenwick Tree) would give sublinear access.

[2022-04-05 09:29] SimonSapin commented on #81513
A container that uses `[(<U as Pointee>::Metadata, U)]` as storage is already the level of complexity I would expect from a library `struct` rather than a language primitive type like an hypothetical `[[U]]`. Something that uses a tree even more so.

[2022-04-05 09:38] ChrisDenton commented on #95490
The issue, imho, is cases where a `HANDLE` type can, in some contexts, also mean any random pointer/data. Consider [`WriteFileEx`](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-writefileex) which suggests using the `hEvent` member of [`OVERLAPPED`](https://docs.microsoft.com/en-us/windows/win32/api/minwinbase/ns-minwinbase-overlapped) for "its own purposes", which is then r

[2022-04-05 10:50] gimbles commented on #93344
@rustbot claim

[2022-04-05 11:18] jdahlstrom opened #95672 "{Rc,Arc}::new_cyclic documentation is insufficient"
As I [reported](https://internals.rust-lang.org/t/rust-1-60-0-prerelease-testing/16421/2?u=jdahlstrom) in the i.r-l.o prerelease thread, the documentation of the new(ly stabilized) `Rc` and `Arc` method `new_cyclic` could really use some elaboration before the 1.60 release.

I'm quite familiar with refcounting, strong/weak refs, etc. but just from the doc, I have no idea what problem the new metho

[2022-04-05 12:11] #79980 closed

[2022-04-05 12:11] #95272 closed

[2022-04-05 12:11] #95633 closed

[2022-04-05 13:14] KalitaAlexey opened #95677 "unwrap_unchecked is slower than unwrap in benchmarks"
[The repository](https://github.com/KalitaAlexey/test_return_self) containing the code.

OS: Windows 11 + WSL2.

The output:
[code]

[2022-04-05 13:16] Aloso commented on #95672
`r/new_acyclic/new_cyclic`

[2022-04-05 13:36] Dylan-DPC opened #95679 "failed to run LLVM passes: unknown pass name 'unknown-pass'"
found this in a [rollup](https://github.com/rust-lang/rust/pull/95675#issuecomment-1088706278)

[code]

[2022-04-05 13:55] jdahlstrom commented on #95672
Argh, thanks. Could've sworn I specifically double-checked that I wrote "cyclic"…

[2022-04-05 15:07] crlf0710 opened #95683 "`improper_ctypes` lint should cover "C" abi function pointer types."
I tried this code:

[code]

I expected to see this happen: `improper_ctypes` should trigger for this definition.

Instead, this happened: It is not linted.

[2022-04-05 15:41] jethrogb commented on #95672
I agree I had to read the documentation a few times to understand what this does.

[2022-04-05 15:59] RalfJung commented on #81513
I assume @eddy's position is explained in detail in [this excellent post](https://gankra.github.io/blah/dsts-are-polymorphic-generics/) by @Gankra.

However, this does leave a question open to me: that post basically postulates that `fn uwu(&dyn Trait)` is the polymorphically compiled version of `fn uwu<T>(&T)`. I agree with that part. However, the post then goes on to generalize this principle, a

[2022-04-05 16:36] jackh726 opened #95686 "[NLL] Poor spans for mismatched types"
The `src/test/ui/rfc1623.rs` test currently gives objectively worse output spans under NLL. Specifically, without NLL, we point to the specific field that isn't general enough. With NLL, we point at the outer struct creation.

Relevant excerpt with error labels:
[code]

[2022-04-05 16:38] jackh726 opened #95687 "[NLL] Loss of error codes for NLL errors"
In #95591, it is shown that many NLL errors lack error codes compared to non-NLL. The errors themselves are not objectively worse (usually better), but the loss of error codes is unfortunate.

[2022-04-05 16:46] #95616 closed

[2022-04-05 16:46] #95099 closed

[2022-04-05 16:50] Gankra commented on #81513
The premise of the post is that the binder is always attached to the Wide Pointer that "completes" the DST. This allows makes every DST *pointer instance* to pick different generic substitutions. So:

[code]

is

[code]

while

[code]

is

[code]

(Really pushing the limits of syntax)

It's possible there is a way to hoist this up the function bounds as HRTB (`for<T>`), but it's not clear to me ho

[2022-04-05 17:44] Gankra commented on #81513
Just to elaborate on this a bit: Swift absolutely distinguishes between "generics" and "[existentials](https://github.com/apple/swift-evolution/blob/main/proposals/0309-unlock-existential-types-for-all-protocols.md)" (Trait Objects) because this is a useful semantic distinction (heterogeneous vs homogeneous).

The metaphor to Swift is essentially that:

* they really wanted to polymorphically comp

[2022-04-05 17:48] RalfJung commented on #81513
That seems arbitrary to me. Specifically,
[code]
might just as well be
[code]

Both of these interpretation seem equally reasonable to me, and probably should be distinguished explicitly.

[2022-04-05 17:58] OleStrohm commented on #94543
I think that's the expected output, yes. Though I think there's a separate issue here, which I think I'll submit a new issue for

[2022-04-05 17:58] #94543 closed

[2022-04-05 18:08] Gankra commented on #81513
It's harder to rationalize the latter with unsizing `MyType<[T; N]>` -> `MyType<[T]>`, where we still only store metadata for [T] and all the types "wrapping" it don't care that it's happening (i.e. you can't store the metadata in MyType). Letting the binders nest would *basically* require "inlined" metadata or some radically more complex machinery for providing it on the side (because unlike vtab

[2022-04-05 18:43] GuillaumeGomez opened #95694 "Perf regression on rustdoc `--document-private-items` speed"
The regression was introduced in https://github.com/rust-lang/rust/pull/95645. It seems that we're trying to get too many items.

cc @petrochenkov

[2022-04-05 19:05] #69488 closed

[2022-04-05 19:05] #94371 closed

[2022-04-05 19:55] jyn514 opened #95698 "rustc_expand can be tricked into infinite loops"
I tried this code:

[code]

I expected to see this happen: Compilation succeeds or errors.

Instead, this happened: The compiler hangs indefinitely. GDB shows it stuck in https://doc.rust-lang.org/nightly/nightly-rustc/rustc_expand/mbe/macro_parser/struct.TtParser.html#method.parse_tt.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details

[2022-04-05 19:58] jyn514 commented on #95698
A workaround is to disambiguate the two macro arms with parentheses:
[code]

[2022-04-05 20:08] jackh726 commented on #55312
I'm going to go ahead and close this. As mentioned on [zulip](https://rust-lang.zulipchat.com/#narrow/stream/122657-t-compiler.2Fwg-nll/topic/nll.20diagnostics.20issues/near/277465747), I think it makes sense to actually do the opposite here: explicitly move tests with different NLL output to use revisions. This allows us to incrementally review test output differences and add error annotations to

[2022-04-05 20:08] #55312 closed

[2022-04-05 20:11] jyn514 commented on #95698
The fix here is probably to add a `recursion_limit` check somewhere, like there is for other similar macro fragments: https://github.com/rust-lang/rust/blob/f262ca12aac76152c4b46cefcf8300f0249a5eb2/compiler/rustc_expand/src/expand.rs#L624

[2022-04-05 20:11] jyn514 commented on #95698
@rustbot label +E-mentor +E-easy

[2022-04-05 20:16] jyn514 commented on #88038
@rustbot label +E-easy +E-mentor

[2022-04-05 20:16] pietroalbini commented on #95672
Hi! Just a quick note that changing the documentation for the Rust 1.60.0 release itself will likely not be possible, that'd require a full release rebuild.

[2022-04-05 20:17] jyn514 commented on #88038
Looks like https://github.com/rust-lang/rust/pull/88019 accidentally prevented these doctests from being run even if `--document-private-items` is passed :(

[2022-04-05 20:18] jackh726 commented on #54779
The example without `in_band_lifetimes`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d0d998218da2b4376859b07acc331644

The error message isn't the same as migrate mode, but is on-par in terms of information (pointing out that the anonymous lifetime doesn't live as long as `'static`). This issue can be closed by adding the above as a test.

[2022-04-05 20:26] jackh726 opened #95701 "[NLL] Loss of `'static` relaxation suggestion under NLL"
In the `src/test/ui/suggestions/impl-on-dyn-trait-with-implicit-static-bound.rs` test, we give the suggestion ```consider relaxing the implicit `'static` requirement``` under migrate mode. Under NLL, we lose that suggestion, and have a slightly less user-friendly error message.

Importantly, with the suggestion, the code is rustfix-able. Without the suggestion, it is not.

[2022-04-05 21:08] RalfJung commented on #94371
With https://github.com/rust-lang/rust/pull/94527 landed, we might want to revert https://github.com/rust-lang/rust/pull/94412?
@scottmcm wrote

but OTOH, it would be valuable to test the actual code path that is used in real code, so without conclusive benchmarks I would default to removing the `cfg(miri)`.

[2022-04-05 21:09] RalfJung commented on #69488
Thank you so much for fixing this, @oli-obk. This resolves 1 of the 2 long-standing hard-to-fix ways in which Miri differs from my mental model of the actual Rust Abstract Machine.

I guess I have to fix https://github.com/rust-lang/rust/issues/87184 some day now to also resolve the other one. ;)

[2022-04-05 21:39] JakobDegen commented on #68364
@RalfJung this is possible, but this model is slightly more restrictive than I think it needs to be. In particular, it doesn't only affect the resulting places on the RHS, but also their inputs. Because of this, I'd suggest instead this model:
 - Evaluate the LHS place expression to a place value.
 - Do the same for all place expressions appearing on the RHS.
 - Retag the LHS place
 - Retag the RH

[2022-04-05 21:52] AnimalStudioOfficial commented on #95608
I did ./x.py build && ./x.py install and got $ ./x.py build && ./x.py install
Building rustbuild
    Finished dev [unoptimized] target(s) in 1m 06s
warning: creating symbolic link `G:\rustc-1.59.0-src\rustc-1.59.0-src\build\x86_64-pc-windows-gnu\stage0-sysroot\lib/rustlib/src\rust` to `G:\rustc-1.59.0-src\rustc-1.59.0-src` failed with Incorrect function. (os error 1)
Building stage0 std artifacts

[2022-04-05 22:33] RalfJung commented on #94371
Oh never mind, Miri would still break on copying data with pointers at 'odd' offsets inside it due to https://github.com/rust-lang/rust/issues/87184.

[2022-04-05 22:41] RalfJung commented on #87184
FWIW, even with https://github.com/rust-lang/rust/pull/94527 landed this issue means https://github.com/rust-lang/rust/issues/94371 is not fully resolved, but the remaining problem causes an error rather than silent data corruption:
[code]
says
[code]

[2022-04-05 22:55] petrochenkov commented on #95694
Should be fixed in https://github.com/rust-lang/rust/pull/95706.

[2022-04-05 23:16] Diggsey commented on #95492
I think this signature is a problem, because it's not clear what provenance the resulting pointer has. Does the resulting provenance come from `self` or does the provenance come from `a`?

Strictly speaking we'd need two variants of each binary atomic operation: one which takes provenance from the left, and one which takes provenance from the right.

[2022-04-05 23:17] RalfJung commented on #95492
Indeed, the signatures will all be changed to take `usize` as the second operand.

[2022-04-05 23:20] jain98 commented on #95615
If that is the case then is your previous statement below, in contradiction?

And if in the original example (with `.find(|(k, v)| {…})`, `k` and `v` are `&&String`, then using the pattern `.find(|(&k, &v)| {…})` should copy a `&String` into k and v, no?

[2022-04-05 23:38] jain98 commented on #95615
@ehuss I think I understand what's going on now. I published [this](https://stackoverflow.com/questions/71650383/ambiguous-behavior-in-iterator-while-using-the-find-filter-methods/) StackOverflow question and recently chose a response as the answer.

[2022-04-05 23:39] jain98 commented on #95615
I think my confusion was stemming from the fact that I did not full understand (even after reading the match ergonomics rfc) what the compiler does while performing pattern matching on tuples. But [this](https://stackoverflow.com/questions/71731788/weird-type-when-pattern-matching-references/71732428#71732428) answer here does a pretty good job.

[2022-04-05 23:39] #95615 closed

[2022-04-06 01:22] #90073 closed

[2022-04-06 01:22] #95535 closed

[2022-04-06 01:36] Xuanwo commented on #86442
Personally, I want this feature to get stabilized.

There is no way for a lib to construct an error like `IsADirectory` with error context in stable rust as described in https://github.com/datafuselabs/opendal/pull/221.

[2022-04-06 02:17] lopopolo opened #95712 "rustdoc ICE: entered unreachable code when referring to an item with a path that starts with `::`"
### Code

https://github.com/artichoke/artichoke/runs/5843879077?check_suite_focus=true

https://github.com/artichoke/artichoke/tree/8e2def19b23f430f9356e16a885d0609a9cc18d4/spinoso-array

Minimum reproduction:

[code]

I used the `::` item prefix because in real code, there is a `smallvec` module that shadows the `smallvec` crate:

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error

[2022-04-06 02:28] fee1-dead opened #95713 "Automatically detect number of columns for test cases to display in terse mode"
#95709 reduce(d) the number of test cases to display from 100 to 88 to fit under a terminal with 100 columns.

As an improvement, we could automatically decide how many test cases to display in each row using detection, and fallback to a default if not displayed in terminal.

[2022-04-06 02:29] krishchanDr commented on #95177
Hello,
         we tried to use PARALLEL_MAKE  and tried to achieve the faster build.
Here are my observations,
8 Core  - Build completed successfully in 0:22:52
16 Core - Build completed successfully in 0:15:11
32 Core - Build completed successfully in 0:12:37
64 Core - Build completed successfully in 0:12:14
96 Core - Build completed successfully in 0:12:33
128 Core - Build completed successfull

[2022-04-06 03:13] lopopolo commented on #95712
Is https://github.com/rust-lang/rust/pull/95681 related?

[2022-04-06 03:36] fmease opened #95717 "rustdoc: `#[doc(hidden)]` associated items of traits re-exported from external crates are not hidden in certain `impl` blocks"
Minimal reproducible example (on stable and nightly):

[code]

[code]

Document crate `beta` and take a look at the generated pages of `Tr` and `Ty`:
You should be able to actually **see** the associated type `Assoc` in the `impl` block despite being **marked as hidden**. You probably need to click `[+]` (_expand_) first.
The `impl` block I refer to is in section

* _Implementors_ on the trait pag

[2022-04-06 03:45] #81357 closed

[2022-04-06 03:51] wvwwvwwv opened #95719 "Unexpected "the parameter type X may not live long enough" in asynchronous functions"
When a `Future` is wrapped in an `async` block or an `async` function, some of its traits are lost, e.g., Send, thus causing various issues.

I tried this code:

[code]

I expected to see no compiler errors: the returned `Future` from `async fn wrap` should be `Send`, because `g.get()` is `Send` and `async fn wrap` only wraps the code in an asynchronous code block.

Instead, this happened: the ret

[2022-04-06 06:08] #95575 closed

[2022-04-06 06:44] AurevoirXavier commented on #84970
Stalled?

[2022-04-06 07:42] light4 commented on #94244
https://github.com/light4/issue-94244
I cannot reproduce it here. Can you check it again?

[2022-04-06 08:33] petrochenkov commented on #95712
@lopopolo
https://github.com/rust-lang/rust/pull/95681 was supposed to fix this issue (previously reported in https://github.com/rust-lang/rust/pull/95337#issuecomment-1088426179), not to introduce it.

[2022-04-06 08:52] petrochenkov commented on #95712
I've just checked, this is fixed on master.

[2022-04-06 08:52] #95712 closed

[2022-04-06 10:41] Stargateur commented on #43301
I agree very much, if we take C, it's pretty much implementation behaviour to return any other value other than `EXIT_SUCCESS` and `EXIT_FAILURE`. Unfortunately it seems that over time we found out it's impossible to unify exit code of program even just taking linux. I believe keep a failure or success approach is probably the best instead of allowing user to return custom i32 that wouldn't mean m

[2022-04-06 10:58] honzasp opened #95728 "Internal compiler error in `rustc_resolve` when generating documentation"
When docs.rs [builds documentation for version 0.4.0 of the `turbojpeg` crate][crash], rustc (rustc 1.62.0-nightly (306ba8357 2022-04-05)) crashes:
[code]

[crash]: https://docs.rs/crate/turbojpeg/0.4.0/builds/537741

I managed to reduce the issue to a [single line of code][gist]:
[code]

[gist]: https://gist.github.com/honzasp/8897401bc9a1452b18abe0d86a94b861

### Reproducing

To reproduce the fu

[2022-04-06 11:12] bjorn3 commented on #84970
AFAIK we are still fixing and have recently fixed some of the bugs. I just think people forgot to link back to this issue.

[2022-04-06 12:17] mejrs opened #95729 "Unhelpful error when forgetting to handle a result and call a method on it"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=5b4d8737283c5f47fae36faae33ff754)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-04-06 12:36] #95728 closed

[2022-04-06 12:49] usamoi commented on #95311
Same error with this example:
[code]

[2022-04-06 15:10] SaadiSave commented on #93975
Does that pave the way for full std availability on riscv musl?

[2022-04-06 15:44] carols10cents opened #95732 "Change in behavior of debug format of strings containing `\0`"
I understand debug formatting is generally unstable, but wanted to raise this to make sure the change was intentional.

### Code

I tried [this test](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=e7f26a80b75f4c639d1a7cac1dc148d7):

[code]

This test passes with stable Rust 1.60.0 (7737e0b5c 2022-04-04) (the release candidate that's going to be released tomorrow)

I expected

[2022-04-06 15:47] RSSchermer commented on #50555
Apologies for resurrecting an old issue; I find myself in need of `for<'a, 'b: 'a> ...` and my google-fu turned up this thread, which makes it seem like it might have been possible at some point.

Is this a false impression, was it just that the syntax didn't trigger an error, but no semantics were attached to it? Or was this indeed a working feature that was removed (presumably for soundness reas

[2022-04-06 15:52] carols10cents commented on #95732
I see https://github.com/rust-lang/rust/pull/95345 now. Context: this real-world test: https://github.com/influxdata/influxdb_iox/blob/c244b0328125b3fd1773b58d4e1b1aaf47c83fd3/logfmt/src/lib.rs#L387

I see this has caused some churn in ripgrep too, up to you all if this change is worth the churn.

[2022-04-06 16:14] m-ou-se commented on #93203
Looks like `nll` will be stabilized soon: https://rust-lang.zulipchat.com/#narrow/stream/122657-t-compiler.2Fwg-nll/topic/nll.20diagnostics.20issues/near/277351711, https://github.com/rust-lang/rust/pull/95565

[2022-04-06 16:15] GuillaumeGomez opened #95733 "ICE in rustdoc intra-doc link"
We just got this ICE in [gtk-rs CI](https://github.com/gtk-rs/gtk-rs-core/runs/5848091971?check_suite_focus=true). The same code didn't crash with yesterday's nightly so the bug appeared in the meantime.

[code]

I'll try to make a minimum reproducible case as soon as possible.

Maybe it's linked to our recent changes @petrochenkov ?

[2022-04-06 16:18] petrochenkov commented on #95733
This should be fixed by https://github.com/rust-lang/rust/pull/95681.
Could you check whether that commit exists in the compiler branch that you are testing?

[2022-04-06 16:20] GuillaumeGomez commented on #95733
Even simpler: we can just re-check with tomorrow's nightly. :)

[2022-04-06 16:36] gabi-250 opened #95734 "`cargo check` results in SIGSEGV: invalid memory reference"
`cargo check` failed with `signal: 11, SIGSEGV: invalid memory reference`. It's the second time I've noticed `cargo check` segfaulting in the last couple of weeks or so (I don't have any output from when it first happened though).

### Code

I'm afraid I don't have a minimal example that reproduces the issue. Also, the project that triggered the segfault is proprietary, so I'm unable to share much

[2022-04-06 16:39] jyn514 commented on #95734
Demangled backtrace:

<details>

[code]

</details>

That last line points to `rustc_codegen_ssa::mir::codegen_mir::<rustc_codegen_llvm::builder::Builder>()`, so I suspect this is actually either an LLVM assertion failure or some bug in the LLVM bindings. Hard to tell without debug symbols

[2022-04-06 16:39] jyn514 commented on #95734
@rustbot label -I-ICE +I-crash +A-llvm

[2022-04-06 16:41] #95203 closed

[2022-04-06 16:48] jonhoo opened #95736 "rust-src does not include workspace Cargo.toml"
The `rust-src` component that gets installed by Rustup to `~/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust` includes a `Cargo.lock` that spans the standard library crates, but does not include a corresponding `Cargo.toml` (essentially [this `Cargo.toml`](https://github.com/rust-lang/rust/blob/master/Cargo.toml)).

Cargo's `-Zbuild-std` feature makes this work anyway by [c

[2022-04-06 16:54] jonhoo commented on #95736
A simple way to reproduce this is:
[code]

[2022-04-06 16:55] jonhoo commented on #95736
This also seems like a regression from https://github.com/rust-lang/rust/pull/44076

[2022-04-06 17:10] matklad commented on #95736
The absolute best for the editors would be if `/library` was a separate workspace with dedicated Cargo.toml, Cargo.lock, and vendored sourced of crates.io deps (such that cargo-metadata works without net).

Practically, this would allow us to not worry about "large" compiler codebase and only deal with the small set of library crates. Theoretically, it still feels to me that "compiler" and "librar

[2022-04-06 17:51] yaahc commented on #43301
We ended up also adding `From<u8> for ExitCode` since that range seemed to be fairly consistently supported across all platforms so we're already looking at supporting more than a binary `SUCCESS` / `FAILURE`. I'd be curious to know more about what issues you had with linux and if they would make us want to reconsider that decision before `Termination` lands on stable.

[2022-04-06 18:40] RalfJung commented on #95627
#95035 makes this somewhat tricky, Miri will have to support more ways of using `futex`. (It supported enough for the thread parker implementation, but now it seems we are using more of that API.)

[2022-04-06 18:41] mqudsi commented on #83973
fast_float.rs:
[code]

math.rs:

[code]

[2022-04-06 18:44] RalfJung commented on #95627
We support FUTEX_WAIT and FUTEX_WAKE, but not FUTEX_WAIT_BITSET.

@m-ou-se what would you say is a good place to learn about futex semantics, ideally suitable as a reference documentation that one can follow if one wants to do a reimplementation in an interpreter?

[2022-04-06 18:48] RalfJung commented on #50555
That was indeed the case. The bound got parsed, and then ignored.

[2022-04-06 19:32] lopopolo commented on #95712
Thank you! I'll bump my CI builds once the new nightly gets cut.

[2022-04-06 19:43] RalfJung commented on #95627
That would be great. :)

Best to start with `./rustup-toolchain 306ba8357fb36212b7d30efb9eb9e41659ac1445` (rather than the usual `./rustup-toolchain HEAD`) as otherwise you will have to also deal with other breakage that happened after the futex change.

[2022-04-06 20:11] apiraino commented on #95538
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2395538.20Nightly.202022-03-30.20ICE.3A.20Collection.20VecMap.28.2E.2E.2E.29.20shoul.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-04-06 20:19] Stargateur commented on #43301
I don't think it's important information and maybe have been said before.

To explain more clearly some program try to return different value for different error on linux, but in final it's meanness cause there is no standard about error code value, so each program ended having its own rules about error code cause each program is very different. I don't think support other value then SUCCESS or FA

[2022-04-06 20:38] zseri commented on #81513
Imo this is a pretty good explanation as-is, because it highlights that basically generics and existentials represent somewhat "opposing" quantors: "for-all" vs "exists".

* `<T>` generic = `for<T> ...`
* `impl T` generic is `for<T>` in argument position and `exists<T>` in return position
* `dyn T` is a somewhat runtime-version of `impl T`, but generally = `exists<T>` independent of the position (

[2022-04-06 20:49] vincenzopalazzo commented on #95698
@rustbot claim

[2022-04-06 20:56] nixpulvis commented on #43301
I don't see why something called `Termination` or `ExitCode` would fundamentally need to be restricted to only talking about success and failure, if that's what you mean @Stargateur. It's just another part of the external interface a program can define for itself.

Given my manual's definition of `exit` (from `man 3 exit`):
[code]
I could, for example, make an executable named `foo` which I define

[2022-04-06 20:59] jbr opened #95741 "ICE when building docs on nightly with unstable options and index page in github actions"
### Code

I have no idea, I think it's within rustdoc? `rustc_resolve[63bbea3e439f8aba]::Resolver>::resolve_rustdoc_path`

Here's everything I know about this ICE: https://github.com/trillium-rs/trillium/runs/5858209248?check_suite_focus=true#step:4:711 (let me know if for some reason that's not visible, backtrace copy-pasted below in case you can't view the actions build)

<details>

[code]
</det

[2022-04-06 21:04] compiler-errors commented on #95741
I think this is a duplicate of #95733 (and thus should be fixed by #95681)

[2022-04-06 21:08] pietroalbini commented on #94511
Can we close this then?

[2022-04-06 21:12] scottmcm commented on #41263
Friendly one-month pFCP ping, @Amanieu @BurntSushi @joshtriplett

[2022-04-06 21:14] m-ou-se commented on #95627
This adds (partial) support for FUTEX_WAIT_BITSET in Miri: https://github.com/rust-lang/miri/pull/2054

[2022-04-06 21:22] yaahc commented on #82223
I went ahead and submitted a PR to update the docs for `binary_search` to instead push people towards `partition_point`, hopefully that will significantly reduce the pressure to add `Result::into_ok_or_err`.

[2022-04-06 22:42] nixpulvis commented on #43301
The shell's usage of `&&` is a fantastic argument.

Are there any platforms with `exit` function that have the following declaration (sorry if I'm out of the loop)?

`noreturn void exit(boolean failure);`

[2022-04-06 23:16] Liamolucko commented on #74985
Has a version of `array_chunks` for iterators rather than slices been considered?

[2022-04-07 00:58] VladasZ commented on #38078
Any progress on this?

[2022-04-07 01:20] yaahc commented on #43301
Wasm is the closest example I can think of.

https://github.com/yaahc/rust/blob/master/library/std/src/sys/unsupported/process.rs#L156-L172

[2022-04-07 01:38] clarfonthey commented on #74985
Most of the iterator adapters that have been slowly added to libstd made their start in [itertools](https://docs.rs/itertools/latest/itertools/), so, you should probably start by looking what that offers, and then after that make a case for why it should be in libstd.

From what I understand, though, a lot of those methods are slowly being added to the `Iterator` trait directly, though.

This isn'

[2022-04-07 02:41] #87096 closed

[2022-04-07 03:07] djkoloski opened #95746 "`Allocator::grow` does not verify all safety conditions of `GlobalAlloc::realloc`"
`Allocator::grow` does not verify that the new allocation size, when rounded up to a multiple of `align`, does not overflow `isize::MAX`. This can cause it to call `realloc` with invalid arguments:

[code]

This sample panics at the assertion in `<MyGlobalAlloc as GlobalAlloc>::realloc`. It's not clear whether:

- The safety requirements of `Allocator::grow` need to include the missing clause from

[2022-04-07 03:12] djkoloski commented on #95746
@rustbot label +A-allocators +T-libs-api

[2022-04-07 04:27] AaronKutch opened #95750 "assertion failed at compiler\rustc_middle\src\mir\mod.rs:520:13"
This is on rustc 1.61.0-nightly (76d770ac2 2022-04-02). I am running out of free time so I haven't had time to reduce, but here is a branch with the last commit having the ICE: https://github.com/AaronKutch/awint/tree/ice1. When running `cargo t consts` I get some normal errors but then get:
[code]

[2022-04-07 05:20] joshtriplett commented on #43301
On Wed, Apr 06, 2022 at 01:20:02PM -0700, Antoine wrote:

Yes, programs still need this. While there's no universal standard for
program exit codes, *specific* programs can still define and document
exit codes, and some programs do. This includes both classic UNIX
programs, and current software that needs to distinguish between
various possible outcomes.

As an example, command-line tools that wra

[2022-04-07 05:35] Stargateur commented on #43301
(e.g. `yourcmd -a -b -c othercmd -x -y -z`) sometimes use specific error
codes for themselves to help distinguish their own failures from the
failures of the specified command.

As I explain stderr would do a better job doing that. In final user will not do a `echo $?` to know, they would just read stderr.

@joshtriplett My point is about the usefulness of such feature, I guess people would disadv

[2022-04-07 05:40] joshtriplett commented on #43301
Error messages are for humans. Exit codes aren't for humans, they're for programs invoking other programs. Other programs shouldn't (and *can't* reliably and robustly) parse the human-readable messages printed to stderr to find out what happened; they should check the exit code.

[2022-04-07 05:50] Stargateur commented on #43301
But as state there no standard, so no way to program handle error code. And here I feel I will have hard time to explain it in english. In your example what the program do ? ok it's the "subprogram" that fail so what ? well obviously I would inform the user with "the subprogram fail". But the shell would not care if that the subprogram that fail or not. In the end having return code to 127 change

[2022-04-07 06:07] joshtriplett commented on #43301
You don't need a standard to handle the exit code of a specific program whose behavior you know.

Also, there are various standards (e.g. POSIX or the Single UNIX Specification) for *specific* programs and their exit codes.

Not all errors are meant to be reported to users. Sometimes programs (or scripts) invoke other programs, and handle the errors of those programs by means other than reporting

[2022-04-07 06:20] Stargateur commented on #43301
@joshtriplett Why would you oppose to let such scenario be handle by `exit()` feature ?

[2022-04-07 06:23] joshtriplett commented on #43301
Because exit codes are a well-established mechanism that I'd like to see integrated with `?`-based error handling, and I don't see any reason *not* to offer first-class support for them. And because `exit` doesn't necessarily allow a program's cleanup to run, whereas returning from main does.

[2022-04-07 07:31] 2909081 opened #95756 "std::io::copy does not copy"
### issue
Specified that the std::io::[copy](https://doc.rust-lang.org/std/io/fn.copy.html) function should copy the data. But the data is not copied and transferred.

### Code
[code]

### Meta
`rustc --version --verbose`:

[code]

[2022-04-07 07:33] lcnr commented on #95150
To fix this issue, you can do the following steps:
- grep for "forbidden as the type of a const generic parameter"
- look at that function for a bit
- change it so that the second error isn't emitted on stable (probably actually change the control flow to start by branching on `tcx.features().adt_const_params`

In case you are interested but need more help to fix this, feel free to reach out to me

[2022-04-07 08:23] Pointerbender commented on #95439
I think the former might be the best, if it's unconditionally `Sync` then it would be possible to wrap `!Send` types (e.g. `Rc` or thread local storage values) in it and make it safe to share these between threads. At the very least it should be `Sync` if `T` is `Send`.

[2022-04-07 08:30] ChayimFriedman2 commented on #49682
Instead of disallow it, I think we should allow it but make the resulting generator `!Send + !Sync`.

[2022-04-07 08:43] compiler-errors commented on #95729
@rustbot claim

[2022-04-07 09:06] poliorcetics commented on #86630
`!` has the problem on nightly https://doc.rust-lang.org/nightly/std/primitive.never.html#blanket-implementations

[2022-04-07 09:07] poliorcetics commented on #86630
![image](https://user-images.githubusercontent.com/7951708/162163564-d6a98847-fc10-4116-a6e3-55ff98858db6.png)

They all point to the same impl:

![image](https://user-images.githubusercontent.com/7951708/162163644-18b31208-110c-4ff9-879e-10c25b5cd937.png)

[2022-04-07 09:13] ChrisDenton opened #95759 "Windows: `std::process::Command` may pass asynchronous pipes to child process"
Rust assumes stdio handles are opened for synchronous access (as will most other Windows processes). However, when passing `ChildStdOut`, `ChildStdIn` or `ChildStdErr` to a new `Command` the pipes passed in are asynchronous. For a full test case see [src/test/ui-fulldeps/stdio-from.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui-fulldeps/stdio-from.rs) but here's a shorter example:

[2022-04-07 09:30] insou22 commented on #82901
+1 -- was looking for this exact method today

[2022-04-07 10:08] CryZe commented on #95756
It seems to copy the data into the writer just fine. The problem is that the the Read trait internally needs to track where it is, and in case of the Read implementation on immutable slice references, it simply moves the beginning of the slice forward. So here the Read trait consumes your entire reader binding. The underlying slice however is entirely immutable, so it's really just your reader bin

[2022-04-07 10:15] 2909081 commented on #95756
I did not understand so deeply. I'm just learning Rust. Thanks for the explanation.

[2022-04-07 11:44] oli-obk commented on #95538
Still in beta, leaving open until we backport the PR

[2022-04-07 11:55] faern commented on #90091
I definitely want infallible (fail at compile time) split methods on arrays. I want to be able to cut arrays up into smaller array chunks without any bounds checks at compile time. I know there are issues currently that won't allow this API today. But I think we should aim for a future where we can do that.

Being able to parse the content of arrays without paying more more bounds or code bloat th

[2022-04-07 11:59] faern commented on #90091
This makes no sense IMO :thinking: Because the only time it would ever be `None` should be found at compile time. I know that's not possible now. But why introduce a large API surface and use up a bunch of good method names for something that's (hopefully)? a temporary limitation.

[2022-04-07 12:20] #94340 closed

[2022-04-07 12:20] #82866 closed

[2022-04-07 12:51] bstrie commented on #71213
Does anyone know what the status of this feature is?

[2022-04-07 12:54] gamelife1314 opened #95765 "【AppleM1】Rust cross compile， ld: unknown option: --as-needed"
In Apple M1, I'm ready to compile my rust code to linux X86_64，meet the following error?

[code]

[2022-04-07 13:09] lnicola commented on #43301
And error messages are often localized.

[2022-04-07 13:14] RalfJung commented on #95627
The next trouble is https://github.com/rust-lang/rust/pull/95469 -- somehow this broke printing to stdout in Miri on Windows targets, which now just loops infinitely. @ChrisDenton any idea what might be going on?

[2022-04-07 13:18] fmease commented on #95717
@rustbot claim

[2022-04-07 13:18] ChrisDenton commented on #95627
I made a quick summary in #95759 but still need to investigate properly. Short version is that in some cases we're passing asynchronous handles to child processes, which is unsound when read synchronously (but mostly seemed to work in practice).

Though I'm actually sure why that should make it loop infinitely since it's calling process abort?

[2022-04-07 13:37] ChrisDenton commented on #95627
Oh right! Hm... I'm not really sure why that be. The changes are limited to reading and writing from a handle.

[2022-04-07 14:37] usamoi opened #95768 "`cargo doc` ICE for crate `crossbeam`"
It looks related to https://github.com/rust-lang/rust/issues/93476.

### Code

`Cargo.toml`:

[code]

### Meta

`rustdoc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-07 14:40] petrochenkov commented on #95768
If this is not already fixed on nightly, then it should be fixed by https://github.com/rust-lang/rust/pull/95706 soon.

[2022-04-07 15:00] RalfJung commented on #95627
Yeah I bisected it to this PR in https://github.com/rust-lang/miri/pull/2056. (I can double-check later.)

[2022-04-07 15:04] mathstuf commented on #43301
It's also relevant to skipping tests in various test suites (`autoconf`'s `autotest` uses 77 to indicate that a test should skip. See [this pre-RFC IRLO thread](https://internals.rust-lang.org/t/pre-rfc-skippable-tests/14611) for more prior art there.

[2022-04-07 15:05] ChrisDenton commented on #95627
Then I'll admit to being stumped. 😕

[2022-04-07 15:11] Kobzol commented on #91857
Seems to be fixed by https://github.com/rust-lang/rust/pull/91919. Thanks!

[2022-04-07 15:29] c410-f3r commented on #70887
`NonZeroU*` now has everything but `log` and optimization can be done in a later stage.

So I guess at least for primitives, nomenclature is probably the only thing blocking stabilization.

[2022-04-07 15:46] jstarks commented on #87021
I was surprised to see that `as_raw(&self)` was added to `Waker`, but not `into_raw(self)`. This can be worked around via `transmute` or `as_raw` + `forget`, but it's probably still good to round out the API (`from_raw`, `as_raw`, `into_raw`).

[2022-04-07 16:02] RalfJung commented on #95627
Does the Windows stdout/stderr go through a "handle" or is it a separate code path?

[2022-04-07 16:05] ChrisDenton commented on #95627
Ah, I did recently change stdout/stderr to use a loop (in #95467). But it also uses new functions to do that (`WriteFIleEx` and `SleepEx`).

[2022-04-07 16:13] yaahc commented on #71941
I'd certainly appreciate one!

[2022-04-07 16:23] sassy-crick commented on #95177
To add to this: this is roughly what I observe as well: building with cores is not significantly slower than with 64 cores.
That said: the problem is that right now it is ignoring the `make -j 8` command and uses **all** available cores, real and virtual ones. That should not happen in my opinion.

[2022-04-07 17:01] #95741 closed

[2022-04-07 17:01] scottmcm commented on #70887
If you're wondering why I didn't put `log` on `NonZeroU*`, it's because it can still fail because of a bad base argument.  (And there's no `AtLeastTwoU*`.)  So `.get().log(b)` is probably fine there.

Whereas `log2` and `log10` are infallible on `NonZeroU*`, and thus they seemed more worth having to me.

👍 to resolving naming and getting stabilized!

[2022-04-07 17:33] RalfJung commented on #95627
But Miri works fine on bbe9d27b8ff36da56638aa43d6d0cdfdf89a4e57 which includes that PR...

[2022-04-07 17:45] lukaslueg commented on #95765
Please don't [cross-post](https://stackoverflow.com/questions/71782250/cross-compile-error-ld-unknown-option-as-needed) as a bug a question you already posted on StackOverflow.

[2022-04-07 17:46] sb64 opened #95774 "ICE when running `rustdoc` in crossbeam's CI"
I hit this error in a CI run for a pull request I submitted, crossbeam-rs/crossbeam#811. The command being run was:
[code]
[Here is a link to the CI run](https://github.com/crossbeam-rs/crossbeam/runs/5863056022)

### Meta
I can't run `rustc --version --verbose` on the CI runner, but the error message did offer this for the Rust version:
[code]

### Error output

[code]

<details><summary><strong>

[2022-04-07 17:48] sb64 commented on #95774
I saw #95768, which addresses the same issue, so I don't know that this issue is necessary. I'll leave it open for now, but it can probably just be closed.

[2022-04-07 17:53] RalfJung commented on #95627
Oh, I think it's pretty simple -- `NtWriteFile` is declared via `compat_fn`, and in Miri that function is just not available. Then what happens is that it panics, which triggers printing to stderr, so it trues calling `NtWriteFile` again, and the loop continues.

It doesn't make a lot of sense for `NtWriteFile` to be a `compat_fn` when the "fallback" branch consists in an infinite loop on any writ

[2022-04-07 17:56] ChrisDenton commented on #95627
Oh! Sorry! I did that without even thinking and it didn't even occur to me look at that again. The fallback should probably just abort or return an error. I'll make a PR.

[2022-04-07 18:06] neysofu commented on #91114
We're also hitting an ICE with a similar error message using `graphql_parser` as a dependency.

I'm in the process of building a minimal example here: https://github.com/graphprotocol/graph-node/tree/filippo/ice-minimal-example

[code]

[2022-04-07 18:08] ChrisDenton commented on #95627
The problem is these `Nt` functions really should be loaded at runtime. I guess we could technically do it at load time but we'd at least need to wait until the [raw_dylib](https://doc.rust-lang.org/nightly/unstable-book/language-features/raw-dylib.html) feature is stabilized because we can't necessarily count on users having the right import library.

[2022-04-07 18:11] RalfJung commented on #95627
An alternative might be a hack like this: https://github.com/rust-lang/rust/pull/95775.
Unfortunately I don't have the time to implement wild linker stuff in Miri for a platform that Miri only barely supports anyway...

[2022-04-07 18:30] robertbastian opened #95777 "Comparisons with concrete types break in the presence of inapplicable `where` bounds"
See https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f6449d0fee6e0875b3f92612a5be84bd

[2022-04-07 19:17] Veykril opened #95778 "Odd macro diagnostic "no rules expected the token ``" with empty `vis` fragment capture"
When capturing an empty token sequence with a `vis` fragment and failing to further match this capture in following macro invocations rustc emits the `no rules expected the token \`\`` message which is confusing given the lack of a token in the error.

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a6a7515732cc426c68cc418b25b4ed92

[code]

The cur

[2022-04-07 19:24] acfoltzer opened #95780 "ICE trying to compile very large file contents to wasm32-wasi and maybe x86_64-unknown-linux-gnu"
I'm messing around with some ill-advised inclusion of very large files in Rust programs, and finding ICEs and segfaults when targeting x86_64-unknown-linux-gnu and wasm32-wasi.

I suspect that some of the errors relate to incremental compilation, as when I began `cargo clean`ing before trying to repro, the x86_64-unknown-linux-gnu errors disappeared. The wasm32-wasi ICE is reproducible regardless

[2022-04-07 19:42] OliverMD commented on #95150
@rustbot claim

[2022-04-07 19:49] hydra commented on #54882
Another two cents:

* When working with a debugger you only usually care about a small subset of the system. Usually you trust the libraries (i.e. core,std) and external crates but not the code you've just written that you want to debug on a code-storage-constrained embedded system. (i.e. MCU with limited flash space).

Perhaps some options when building crates like 'ignore optimize attribute', 'd

[2022-04-07 19:55] botika commented on #57775
Is there any news about this issue? Is it included in any roadmap? Can I do something to speed up its implementation?
Especially for this case:
[code]

Thanks.

[2022-04-07 20:42] Stargateur commented on #43301
That false, exit code are not at all well established mechanism, they are on the contrary implemented behaviour so it's hard to rely on them outside of linux and even on linux it's a meh and some system doesn't support them at all. I listed some reason to not offer first class support for them. I think we must clearly document it as implementation behaviour.

My point was to use exit at the end of

[2022-04-07 21:13] jgarvin commented on #54882
@hydra Cargo already let's you override the optimization level for dependencies, it's great: https://doc.rust-lang.org/nightly/cargo/reference/profiles.html#overrides

I use it for gamedev so that ggez/bevy/etc are built optimized but my game logic is debug. But per function control is much more surgical and a nice feature.

[2022-04-07 21:28] yaahc commented on #43301
I'm gonna go out on a limb and say that this is a shortcoming of error handling in _bash_, not grep. The fact that bash makes properly handling error cases so incredibly difficult was a big factor in me getting further involved in Rust and Rust error handling in particular. I think you're absolutely right in that the state of exit codes is not okay, but this system exists, people rely on it, and w

[2022-04-07 21:37] hydra commented on #54882
@jgarvin cool, i'll check that out.  With regard to the per-module comment above I was sort of wanting something between a surgeon's knife (function attribute) and a spoon (dependency level) though. 😃

[2022-04-07 21:48] dead-claudia commented on #93203
I have a couple questions:

- Will `thread::scope` join all the constructed threads if the initializer panics?
- Will `thread::scope` try to join all the remaining threads if any of the joined threads panic?

Sorry if this has already been answered somewhere - I haven't looked through the minutes or related.

[2022-04-07 21:55] yaahc commented on #93203
those questions were discussed starting here: https://github.com/rust-lang/rust/issues/93203#issuecomment-1075343491

[2022-04-07 23:16] neysofu commented on #91114
See https://github.com/rust-lang/rust/issues/84970.

[2022-04-07 23:21] AaronKutch commented on #42587
I figured out how to get around this in a way that looks seamless to the end user, even with this absurdly strict situation: For technical performance reasons, my big integer crate [awint](https://github.com/AaronKutch/awint) has different digit sizes on different platforms. Awint is capable of big integer operations at compile time through a backing stack storage type `InlAwi<BW, LEN>`. It has tw

[2022-04-07 23:28] compiler-errors commented on #95777
This is probably due to [`SelectionContext::candidate_should_be_dropped_in_favor_of`](https://doc.rust-lang.org/stable/nightly-rustc/rustc_trait_selection/traits/select/struct.SelectionContext.html#method.candidate_should_be_dropped_in_favor_of) preferring param-env candidates (in the where-clause) over impl candidates.

The reason that `&1u8 == &2u8` works in the first function's first line is th

[2022-04-07 23:34] compiler-errors commented on #95777
Not exactly sure how to fix this without either:
1. adjusting [the logic here](https://doc.rust-lang.org/stable/nightly-rustc/src/rustc_trait_selection/traits/select/mod.rs.html#1665-1675), but I would expect that to have fallout in many other places
2. doing some hacks to infer the real types of the generic arguments we pass to, e.g., `<_ as PartialEq<_>>::eq`, but I fear that would mess with coe

[2022-04-08 02:24] davepacheco commented on #90785
I ran into this today as well.  I'm not sure how hard this is to fix.  Even if it's decided not to fix it, I think some better documentation around output capturing could help.  I understood it to be stdout/stderr that was captured, but it's really just thread-local `print!` and friends.  I ran into this because I was using `term::stdout()`, but I think you'd also be likely to see this in async te

[2022-04-08 03:19] vmingchen opened #95793 "rustc nightly build crashes when generating doc for crossbeam v0.8.1"
The crash happened during Glommio's Github "doc-nightly" check. It happened consistently for three times:

1. https://github.com/DataDog/glommio/runs/5870536608?check_suite_focus=true
2. https://github.com/DataDog/glommio/runs/5860399018?check_suite_focus=true
3. https://github.com/DataDog/glommio/runs/5860206267?check_suite_focus=true

### Code

[code]

### Meta
This is a bug about nightly build.

[2022-04-08 03:40] scottmcm commented on #55724
For `padding_needed_for`, it could be nice to have it take a specific type (see https://github.com/rust-lang/rust/pull/95361/files#diff-02049689ae3bb7ac98af3418ad8fdca219bfa1227cb6cad31afc72bdbae30e27R28) that's always a valid alignment, rather than needing to document that

[2022-04-08 04:37] usamoi commented on #95768
It was fixed by https://github.com/rust-lang/rust/pull/95706.

[2022-04-08 04:37] #95768 closed

[2022-04-08 06:04] nnethercote opened #95795 "Chance to improve "try ignoring the field" message"
I got this error message recently:
[code]
`kind: _` will work, but just removing `kind` completely from the pattern would be better.

E.g. the suggestion could be `help: try removing the field`.

The particular example was within rustc, but it should be very easy to replicate in a self-contained example.

[2022-04-08 06:11] stefson commented on #81334
@glaubitz there are reports of powerpc little endian toolchains still hitting this bug, can you imagine to push a simple patch to include the case of little endian as well?

example: https://github.com/void-ppc/void-packages/blob/master/srcpkgs/rust/patches/fix-ppc32.patch

[2022-04-08 06:18] neysofu commented on #84970
Seems like there's another `evaluate_obligation(EvaluatedToOk)` ICE. It's tracked in https://github.com/rust-lang/rust/issues/91114.

[2022-04-08 08:13] #80096 closed

[2022-04-08 09:22] usamoi commented on #95774
It was fixed in today's nightly.

[2022-04-08 09:43] nrc commented on #78485
Some more thoughts on this:

* It's actually pretty difficult to get the number of bytes read, there is no convenient length to use, so you have to do the following:

[code]

That is obviously less convenient than `let bytes_read = reader.read_buf(buf)?;` (it's also unsound because `read_buf` might switch out `buf`, but that's something we want to fix.

* The filled part of the buffer may shrink a

[2022-04-08 09:44] nrc commented on #93305
I think another example of unsound code in std for a similar readon is in the read_buf implementation for `Take`.

[2022-04-08 10:13] #91448 closed

[2022-04-08 10:21] jntrnr opened #95799 "Super-linear compile time growth for repeated expressions"
I was experimenting with a simple expression to make large files for parsing, and I noticed that rustc had a super-linear growth for this example:

[code]

If the expression is repeated 1000 times:
1sec 82ms 714us 458ns

If the expression is repeated 10000 times:
1min 18sec 912ms 125us 83ns

Arguably a completely synthetic compile time benchmark, but wanted to mention it in case it's related to so

[2022-04-08 10:35] jntrnr commented on #95799
I thought this might be related the warnings produced, but this also causes it:

[code]

[2022-04-08 10:39] Kixunil commented on #43301
Can you give some examples? I've been using various Linux distributions for ~14 years and never came across one that didn't support exit codes. It's true that very few programs do stupid shit around exit codes (especially not using them) but programs generally do stupid shit so that's no surprise. By limiting the API we would encourage more stupid shit, not less.

Agree with @yaahc that `set -e` i

[2022-04-08 10:43] anuvratsingh commented on #95795
Is this `[E0027]`? Where does this suggestion come from? Can I please get the path for it!

[2022-04-08 10:47] Neopallium commented on #92769
FYI, I was able to get coverage to work by using the Circle CI rust image `cimg/rust:1.60.0` and installing rust nightly.  Also image `rust:bullseye` seems to work too.

[2022-04-08 11:42] 91khr opened #95800 "Rustdoc panics at doc comments with only an line break"
### Code

[code]

Meanwhile, `/*! */` (any amount of spaces) and `#![doc=""]`, `#![doc="\n"]`, `#![doc=r#"(line break)"#]` can all be processed correctly; if there is anything more than just a line break (e.g. spaces before `*/` or after `/*!`), the doc comment can be processed correctly too.

### Meta

`rustc --version --verbose`:
[code]

### Error output

There is no output, the backtrace of `ru

[2022-04-08 11:48] m-ou-se commented on #93203
Yes, to both questions. Any other answer would be unsound.

[2022-04-08 11:53] #95765 closed

[2022-04-08 12:42] GuillaumeGomez commented on #95800
I'll take a look.

[2022-04-08 12:43] GuillaumeGomez commented on #95733
It was fixed by https://github.com/rust-lang/rust/pull/95681. Closing it then.

[2022-04-08 12:43] #95733 closed

[2022-04-08 13:32] camsteffen commented on #93203
Perhaps that should be clearly documented. I imagine it is easy to create a scenario where one thread panics and another thread never finishes, causing `thread::scope` to hang. That could be surprising.

[2022-04-08 14:33] yuvaldolev commented on #95795
@rustbot claim

[2022-04-08 15:39] LucioFranco opened #95812 "Doctests picking up non-code blocks"
It looks like doctests are picking up code that is not in a code-block. Below in the code example the `Timestamp timestamp` is being picked up and failing the test because its not actually rust code.

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c3b61be63d8b9c075a8c122a07fc0dc1

I expect doc tests to pass here since there is no code to actually test.

### Meta

`

[2022-04-08 15:53] GuillaumeGomez opened #95814 "Clean up librustdoc::html::format::print_where_clause"
The code is using a lot of `insert`, which is making it quite tricky to follow. It should be possible to make this function simpler.

[2022-04-08 15:54] GuillaumeGomez commented on #95812
Based on the commonmark spec, this is most definitely a code block. You can try it [here](https://spec.commonmark.org/dingus/?text=Example%201%3A%20Compute%20Timestamp%20from%20POSIX%20%60time()%60.%0A%0A%20%20%20%20Timestamp%20timestamp%3B%0A). Closing then.

[2022-04-08 15:54] #95812 closed

[2022-04-08 15:59] RalfJung commented on #95627
Miri CI finally passes again. :tada:

This took a lot more time than I actually have, so I think next time Windows breaks in obscure ways I will have to just disable the tests for that platform and hope someone else can maintain that code.

[2022-04-08 16:15] yaahc commented on #43301
@Kixunil please refrain from using ableist slurs.

[2022-04-08 16:26] pravic opened #95816 "Rustdoc 1.60 produces flat UI"
Rustdoc 1.59 and earlier used to produce a nice clean UI, Rustdoc 1.60 is weirdly flat and inconvenient.

### Version it worked on

1.59 and earlier:

![image](https://user-images.githubusercontent.com/724639/162482967-606d055a-0b26-4dee-abeb-77bc082f1d01.png)

### Version with regression

1.60 and later:

![image](https://user-images.githubusercontent.com/724639/162483019-f9c761e3-0ca2-416a-ba21-

[2022-04-08 16:28] pravic commented on #95816
@rustbot modify labels: +A-rustdoc-ui +A-rustdoc-themes

[2022-04-08 16:33] Urgau commented on #95816
See this blog post for more information about the changes: https://blog.guillaume-gomez.fr/articles/2022-04-08+rustdoc%3A+Recent+UI+and+UX+changes+in+generated+documentation

[2022-04-08 16:34] niluxv commented on #95488
#95599 contains lints for int-to-ptr and ptr-to-int `as` casts, and will likely be merged soon. @rustbot release-assignment

The exposing API methods introduced by #95588 might be linted against using clippy's [`disallowed_methods`](https://rust-lang.github.io/rust-clippy/master/index.html#disallowed_methods) lint (although it doesn't seem possible yet to specify raw pointer methods).

Regarding t

[2022-04-08 16:44] joshtriplett commented on #93203
Sounds like we may need to block this waiting for the nll feature to stabilize.

[2022-04-08 17:47] petrochenkov commented on #81490
Stabilization PR for the `bundle` modifier - https://github.com/rust-lang/rust/pull/95818.
It's currently blocked, but it documents the step-by-step path to merging it.

[2022-04-08 17:58] #95774 closed

[2022-04-08 18:09] eutampieri commented on #92769
Thanks, now that it’s on stable it’s been probably fixed

[2022-04-08 18:09] #92769 closed

[2022-04-08 18:50] Stargateur commented on #43301
Sorry I wasn't clear, linux only take 8 bits of int of `exit()`, that why the current plan is to impl `From<u8> for ExitCode`. This is because linux use the rest of the int as bitfield for other info. Windows doesn't do that so you don't have same value of linux for anything > 255 and negative value are unclear too. Here we have a big difference between two major OS, then yaahc said "i32 is the de

[2022-04-08 19:00] scottmcm commented on #95629
We could also use `into_flattened` for the array version, like we currently have for the `Vec` version.  That way it'd be distinct from the slice versions.  Looking at https://rust-lang.github.io/api-guidelines/naming.html#ad-hoc-conversions-follow-as_-to_-into_-conventions-c-conv , maybe `as_flattened()`, `as_flattened_mut()`, and `.into_flattened()`.

That'd also address feedback like https://gi

[2022-04-08 19:02] GuillaumeGomez commented on #95816
I removed a few labels. If you want to start a discussion about a change you didn't like, it's fine to do so. However please provide an alternative and some arguments to support it.

[2022-04-08 19:14] yaahc commented on #43301
oh, sorry about that. "going out on a limb" is a saying that refers to "climbing out onto tree branch (limb)" with the idea that the branch would not do a good job supporting you. In this situation, the branch represents the position I'm taking or argument I'm making, and I used that phrase to indicate that I felt I was risking push back by being critical of another language and that this is the k

[2022-04-08 19:18] LucioFranco commented on #95812
Oh TIL I've been writing markdown for years and didn't know that created a code block. Sorry for the noise!

[2022-04-08 19:25] maximveligan commented on #95311
Same error I got with this example

[code]
Defining it in a trait is fine though

[code]
But adding a function body results in a crash
[code]

[2022-04-08 19:29] CAD97 opened #95821 "generic_const_exprs + ptr_metadata = index out of bounds"
### Code

[[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e04d8056321db9f2665aa3e5b20b8b60)

[code]

Removing either the generic_const_expr on line A or the meta argument on line B causes the ICE to go away.

### Meta

`rustc --version --verbose`:
[code]

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</

[2022-04-08 19:32] kyren opened #95822 "Behavior of `let _ =` for captured variables in closure can be *very* strange"
In a project I'm working on, there was code like the following:

[code]

I can't bisect this right now across rust versions, but I could *swear* that at some point the behavior of this was to move `handle` into the closure and keep it alive until the closure was dropped.  That is not the case at least as of rust 1.60, as of the current rust, the `handle` value is dropped immediately when the outer

[2022-04-08 19:43] CAD97 opened #95823 "ptr_metadata + useless where clause = ICE in normalize_projection_ty"
### Code

[code]

Removing the `where ():` clause removes the ICE. Replacing `core::ptr::Pointee` with a non-lang trait with a blanket impl removes teh ICE.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Meta (playground)

Playground Nightly version: 1.62.0-nightly (2022-04-07 e745b4

[2022-04-08 19:44] CAD97 commented on #95823
Oops

@rustbot modify labels: +requires-nightly

[2022-04-08 19:45] CAD97 commented on #95821
Closing in favor of #95823 which I think is actually the same issue but better reduced, but reported separately due to local/playground nightly differences

[2022-04-08 19:45] #95821 closed

[2022-04-08 19:51] Cyborus04 commented on #95629
That would work for `[[T; N]; M]` -> `[T; N * M]` (indeed, I would like to include that), would it for `&[[T; N]; M]` -> `&[T; N * M]`?

I like that idea, seems more consistent that way

[2022-04-08 20:04] estebank commented on #57775
There has been no movement in supporting this at the lang level, and the diagnostic could do with some love to be clearer.

[2022-04-08 20:20] compiler-errors commented on #95823
This is fixed in #95315

[2022-04-08 20:20] compiler-errors commented on #95823
Well... probably. Haven't checked, but I can. @rustbot claim

[2022-04-08 20:25] compiler-errors commented on #95822
Note that the behavior differs between editions 2021 and 2018, because the closure capture rules changed I think. In edition=2018, case 3 behaves as case 1.

[2022-04-08 20:31] scouten-adobe opened #95825 "Compiling with `RUSTFLAGS="-C instrument-coverage"` changes dependency tracking for doctest builds"
I have a (currently) closed-source crate. I'm trying to use the new coverage tools built into Rust 1.60 stable and I'm seeing some unexpected behavior when trying to run unit tests with coverage enabled.

When I run:

[code]

I get hundreds of errors of the form …

[code]

… when it gets to the doctest portion of the test suite. (Ironically, this crate currently has no doc tests.)

If I add …

[co

[2022-04-08 21:05] wesleywiser commented on #91114
Thanks @neysofu for reporting this and generating a repro!!

I was able to trim a few pieces off your latest version:

[code]

[2022-04-08 21:20] ehuss commented on #95825
This might be a good idea.  I tried in a few projects and couldn't find a way to reproduce.

[2022-04-08 21:42] botika commented on #57775
I may be wrong, but if you do this, several static variables are already created.
[code]
I don't think it's impossible to create static variables of different sizes. I have no experience adding new features to a programming language, but I can learn. This feature is quite important in my implementations, could you help me?

Excuse me if I say something stupid, this is much more complex than I'm us

[2022-04-08 22:25] Badel2 opened #95829 "ICE with async functions inside extern block: No HirId for DefId"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

Note that this code should not compile, the two errors before the ICE are correct.
Affected versions: nightly 2022-04-07 and beta 1.61.0-beta.1 both ICE with the same message, stable 1.60 does not ICE.

<details><summary><strong>B

[2022-04-08 22:34] hoodmane commented on #93015
Closed as fixed, either by changes to Rust or to changes to Emscripten or both.

[2022-04-08 22:34] #93015 closed

[2022-04-08 22:49] tmandry commented on #94944
@rustbot label A-async-await

[2022-04-08 22:56] cuviper commented on #95734
Rust 1.60.0 updated to LLVM 14 -- does this problem still occur?

[2022-04-08 23:25] #84657 closed

[2022-04-08 23:26] cuviper commented on #95584
Are you sure it's that one? This is right *after* the attempt to use `posix_spawn`, only for when we need the manual fork/exec. So if that's your leaking pipe, `POSIX_SPAWN_CLOEXEC_DEFAULT` would already be out of the picture.

The other place that calls `anon_pipe` is `Stdio::to_child_stdio()` for the `MakePipe` variant:
https://github.com/rust-lang/rust/blob/2d5a21f63c98f8a1d5f3c3af93bcb0a8af19a

[2022-04-08 23:50] wesleywiser commented on #95825
Yeah, if you can point to a public crate that shows the issue that would be very helpful!

[2022-04-09 00:35] scouten-adobe commented on #95825
I am working on a repro case; hope to have something over the weekend.

[2022-04-09 00:46] EvanCarroll commented on #50784
This is a real gotcha. It's not clear to me why doc tests should not run on a binary, when the same code (in `src/main.rs`) generates code docs with `cargo doc`

[2022-04-09 00:54] nico commented on #95584
It's possible it's that other call.

[2022-04-09 01:55] RalfJung commented on #68364
This is non-compositional. The RHS is a value expression. I am rather opposed to anything that treats this not as an opaque value expression that is being evaluated to a value. In particular, we should *not* have to syntactically look "into" that expression -- that's just a disaster to reason about.

That said, @tmandry [points out](https://github.com/rust-lang/rust/pull/95320#discussion_r84576437

[2022-04-09 01:59] Knittybird opened #95834 "compiler crashed unexpectedly"
### Code

Unfortunately the code is proprietary. If I can find out more I will add it.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-09 02:07] #95627 closed

[2022-04-09 02:30] Knittybird commented on #95834
running cargo clean, with no changes in code made the compiler run successfully

[2022-04-09 03:56] scouten-adobe commented on #95825
Creating a repro case is proving "interesting." I've lost reproducibility several times by cutting away different pieces of the original case.

[2022-04-09 04:02] scottmcm commented on #95822
It's not at all -- a `_` pattern does literally nothing.  For example, [this is totally fine](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a9e596947870c29d7ac65a331254b016):
[code]

It's common to not expect that in `let _ =`, but it's consistent with how it works in patterns in general.  And it's important that it works like that for things like `if let Foo { a: _, b: 3

[2022-04-09 04:05] scottmcm commented on #95746
Given work like https://github.com/rust-lang/rust/pull/95295, I'm pretty sure it's not "realloc is supposed to work for sizes above `isize::MAX`".

[2022-04-09 04:10] TehPers commented on #80437
Somewhat minor, but I like that `Box::into_inner` can be used in method chains without requiring a closure. `.map(|x| *x)` is still shorter than `.map(Box::into_inner)`, but the latter more clearly describes what you're doing in my opinion. It can also help the compiler infer the type in the iterator/`Option<T>`/whatever at that point in the method chain for what it's worth. Otherwise you'd have t

[2022-04-09 04:22] chorman0773 commented on #40180
Note: This is unsound on 32-bit x86 (Protected mode) if llvm expects the `esp`/`ss` field.

When the processor is in legacy mode, `esp` and `ss` are pushed by the interrupt (and popped by `iret`) only if the interrupt crosses privilege levels (`gate.RPL<CPL` for interrupt, `retcs.RPL>CPL` for `iret`)

[2022-04-09 05:12] compiler-errors commented on #91114
So the issue here is with the projection cache and the fact that it doesn't store outlives predicates in the nested obligations of a [projection cache entry](https://github.com/rust-lang/rust/blob/master/compiler/rustc_infer/src/traits/project.rs#L26).

The issue starts when we try to evaluate `core::result::Result<Value, q::ValueInner<'static, alloc::string::String>>: core::ops::try_trait::Try`,

[2022-04-09 05:20] compiler-errors commented on #91114
There are several issues here, I think.

Firstly, I think the [`ProjectionCacheKey`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_infer/traits/struct.ProjectionCacheKey.html) is wrong -- why isn't it caching the `ParamEnv` that it's evaluated under? The selection cache does [here](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_middle/traits/select.rs.html#19), for example. Howe

[2022-04-09 05:23] compiler-errors commented on #95834
Just a note: you're running a rustc that is 3 versions old as of yesterday. I recommend upgrading to the latest stable, since we have historically had some incremental cache issues in the few previous versions before this.

Feel free to reopen if you see something like this on 1.60!

[2022-04-09 05:23] #95834 closed

[2022-04-09 05:35] sharnoff commented on #95816
Not the original poster, but I found the changes a little disorienting & thought I'd weigh in:

**TL;DR**: IMO it looks pretty, but I think it should have the separator lines (or some equivalent visual marker).

Overall: I think it looks significantly more aesthetically pleasing. However: previously, I used the separator lines as a distinct visual marker to easily glance to and between sections of

[2022-04-09 05:50] kyren commented on #95822
Thanks, your explanation makes a lot of sense, particularly the example using _ inside a struct pattern.  It makes sense why it has to work like that.

Still, while I am now content with the reasoning that `let _ = d;` does not move out of `d`,  I'm still left with this code:

[code]

printing

[code]

which still seems pretty surprising.  I guess in light of what you just told me.. it does make s

[2022-04-09 06:12] Venryx commented on #72353
For others looking for a short implementation of the approach mentioned above (of using `AtomicU64` along with `to_bits` and `from_bits`), here is the helper struct I'm using:
[code]

[2022-04-09 06:14] Venryx commented on #68614
For others looking for a short implementation of the approach mentioned above (of using `AtomicU64` along with `to_bits` and `from_bits`), here is the helper struct I'm using:
[code]

[2022-04-09 06:29] shahn commented on #92173
I am seeing a crash inside `./x.py test` with **stage0 rustfmt** as well. As I understand it, that's part of the pre-built stuff used to bootstrap, so any kind of fix would require a new stage0?

Exporting MallocStackLogging=1 before the `./x.py test` makes the crash go away, but of course slows down everything and creates a ton of debug output. But at least I can run the tests locally again :)

[2022-04-09 07:07] bjorn3 commented on #68364
For calls the LHS and RHS have to be disjoint lest we miscompile them with all existing backends. I think @tmandry's example is a bad example. It only happens because of a special case for AddAssign for small primitives (where it doesn't hurt) and can easily fixed using an extra temporary (which doesn't have any runtime cost with cg_clif and I think also with cg_llvm even without optimizations).

[2022-04-09 07:10] #95648 closed

[2022-04-09 07:10] #95800 closed

[2022-04-09 07:24] eddyb commented on #68379
(cross-linking) `TypeId` containing a mangled name would allow this more efficiently (in terms of binary size) than via `std::any::type_name`, and is arguably necessary for sound `TypeId` (at least one some platforms?): https://github.com/rust-lang/rust/issues/77125#issuecomment-894926005

[2022-04-09 07:24] eddyb commented on #61533
(cross-linking) `TypeId` containing a mangled name would allow this more efficiently (in terms of binary size) than via `std::any::type_name`, and is arguably necessary for sound `TypeId` (at least one some platforms?): https://github.com/rust-lang/rust/issues/77125#issuecomment-894926005

[2022-04-09 10:07] GuillaumeGomez commented on #95816
cc @jsha

[2022-04-09 10:17] GuillaumeGomez opened #95839 "Run button is not useable for users on mobile devices"
Currently, the run button is only displayed when the mouse cursor hovers the code block, preventing users without a mouse cursor to see the button. However, having the run button displayed all the time over the code isn't great either. An alternative would be to reduce its size and put it into its own line.

What do you think?

cc @jsha

[2022-04-09 10:50] JakobDegen commented on #68364
Yeah, this is a good point.

I've thought about this a bunch, and have a new suggestion that I think is compatible with existing code and not too bad to reason about. For rvalues `Use`, `Repeat`, and `Aggregate`, we use the model Ralf suggested above. For all other rvalues, we first evaluate the RHS to a value, then the LHS to a place, and store the value in the place (consequently allowing overla

[2022-04-09 11:37] shamatar opened #95842 "Move the MIR optimization to require lowers mir-opt level"
Some time ago I've implemented the optimization to use constant length for array length operations instead of degrading to length of the slice. At the moment it requires mit-opt level of 4 and I'd like to understand what can be done more move it to "safe" area

Optimization itself: https://github.com/rust-lang/rust/blob/master/compiler/rustc_mir_transform/src/normalize_array_len.rs

[2022-04-09 11:58] GuillaumeGomez commented on #95694
It was fixed in #95706.

[2022-04-09 11:58] #95694 closed

[2022-04-09 12:04] GuillaumeGomez commented on #95672
I'm sending a PR with explanations provided by @CAD97 so that it'll at least be in the next release.

@pietroalbini Why do you need a full release rebuild btw? Isn't it possible to regen the docs without rebuilding everything like the `--keep-stage` option on rustc?

[2022-04-09 12:15] GuillaumeGomez commented on #95672
I opened https://github.com/rust-lang/rust/pull/95843. Feedback is very welcome. :)

[2022-04-09 12:16] GuillaumeGomez commented on #95614
Interested into sending a fix maybe? Don't hesitate to ask if you need help.

[2022-04-09 12:21] GuillaumeGomez commented on #80557
It's a duplicate of https://github.com/rust-lang/rust/issues/15823 so closing.

[2022-04-09 12:21] #80557 closed

[2022-04-09 12:23] GuillaumeGomez commented on #95480
It's now fixed on beta as well. For the missing `source` links, it's not really a bug but more like a current rustdoc limitation. The issue about this is https://github.com/rust-lang/rust/issues/86632. Closing this issue then.

[2022-04-09 12:23] #95480 closed

[2022-04-09 13:15] #95717 closed

[2022-04-09 13:15] rust-highfive opened #95844 "`miri` no longer builds after rust-lang/rust#95840"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#95840, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-04-09 13:33] jmaargh commented on #95614
@GuillaumeGomez I'm happy to submit a PR to fix, just wanted to check that I wasn't missing something obvious before I put in the effort

[2022-04-09 13:35] name1e5s commented on #90520
@rustbot claim

[2022-04-09 14:13] RalfJung commented on #68364
This issue is about MIR assignments. Calls are not MIR assignments, they are a totally separate language construct that is just confusingly printed with the same `=` operator. See https://github.com/rust-lang/rust/issues/71117 for the discussion around calls.

[2022-04-09 14:36] rainy-me commented on #95283
@rustbot claim

[2022-04-09 14:37] name1e5s commented on #90520
@rustbot release-assignment

[2022-04-09 15:19] pietroalbini commented on #95672
Our release tooling only supports building everything at the same time.

[2022-04-09 15:47] nikomatsakis commented on #92980
@rfcbot reviewed

[2022-04-09 15:51] eddyb commented on #77125
Update: finally opened #95845 with a (v0) mangling-based `TypeId` representation (should unblock `const fn` `TypeId::of`, while at the same time making specific uses of `TypeId` incompatible with CTFE, for now).

[2022-04-09 15:54] eddyb commented on #68379
Update: finally opened #95845 with a (v0) mangling-based `TypeId` representation (which could eventually be used to allow runtime demangling of type names from `TypeId` and therefore `Any`).

[2022-04-09 15:55] eddyb commented on #61533
Update: finally opened #95845 with a (v0) mangling-based `TypeId` representation (which could eventually be used to allow runtime demangling of type names from `TypeId`).

[2022-04-09 15:56] eddyb commented on #10389
Update: finally opened #95845 with a (v0) mangling-based `TypeId` representation, which should mitigate hash collisions.

[2022-04-09 16:19] jyn514 opened #95854 "Make it possible to use `cargo test`, not just `x.py test`"
This sounds harder than it actually is, I think. We already have `default-members = ["bootstrap"]` in the root Cargo.toml, so we can implement this by adding an integration test in `src/bootstrap/tests` which calls `builder.ensure(test::X)` for all possible values of X; ideally we would reuse the logic from `x.py test` exactly so that `cargo test` runs all tests, `cargo test src/test/ui` runs UI t

[2022-04-09 16:21] jyn514 commented on #95854
@rustbot label +E-mentor +E-medium +E-help-wanted

[2022-04-09 16:37] RalfJung commented on #92512
@Gankra since you spoke up around `offset_from` in https://github.com/rust-lang/rust/pull/95837, I wonder what your thoughts are on relaxing the requirements of offset_from to just demand that both pointers are *derived from* the same pointer (to the same allocation), rather than actually requiring them to be in-bounds.

Knowing your stance on `wrapping_offset` I assume you won't like it, OTOH thi

[2022-04-09 16:43] bjorn3 commented on #95854
If this isn't possible you could put an alias from `cargo x` to `cargo run --` in `.cargo/config.toml`.

[2022-04-09 16:45] Gankra commented on #92512
Ah I see, the offsets going wonky is "fine" for miri as long as the provenance is known, because then everything is well-defined offsets? I definitely don't like encouraging wrapping_offset stuff, but I believe this would work even under CHERI, because they specifically guarantee that the address is always right, even if compression scheme falls over.

(The "slice" in the metadata is effectively d

[2022-04-09 17:29] Badel2 commented on #83968
Not anymore?

[2022-04-09 17:31] Badel2 opened #95856 "Searching for "length" in the documentation should return the "len" methods"
Currently searching for "length" results in no results:

https://doc.rust-lang.org/std/?search=length

According to #83968, it used to work.

[2022-04-09 17:50] jyn514 commented on #95854
@bjorn3 we should do that either way I think :) doesn't hurt and there's other commands we definitely can't support, like `cargo doc`.

[2022-04-09 17:52] jyn514 opened #95858 "Add an alias from `cargo x` to `cargo run --` in `.cargo/config.toml`."
This helps with https://github.com/rust-lang/rust/issues/94829 by  making more visually similar to the existing `src/tools/x` command.

_Originally posted by @bjorn3 in https://github.com/rust-lang/rust/issues/95854#issuecomment-1094082063_

[2022-04-09 18:05] c410-f3r commented on #83527
A stabilization attempt is available at https://github.com/rust-lang/rust/pull/95860

[2022-04-09 18:22] RalfJung commented on #92512
Yeah I think for CHERI none of this matters since we're ultimately not doing any memory accesses and producing an integer.

[2022-04-09 18:29] SNCPlay42 commented on #95856
These aliases were removed in #86852 in accordance with [this](https://std-dev-guide.rust-lang.org/documentation/doc-alias-policy.html) policy.

[2022-04-09 18:53] cherryleafroad commented on #92738
Also happens when compiling with `MAIN_MODULE=1`

[2022-04-09 18:56] hoodmane commented on #92738
As a workaround, I patch Emscripten as follows:

https://github.com/pyodide/pyodide/blob/cfafcda3f6dde8797266ac02c65e51c4614090a9/emsdk/patches/0001-fix-up-rust-linker-errors.patch

[2022-04-09 19:19] vincenzopalazzo commented on #95698
Today I tried to reproduce the problem on my machine and try to have simplify the minimal reproducible example.

[code]

In particular, it looks like the recursion problem happens when we have the optional parameter null!

[2022-04-09 19:21] cherryleafroad commented on #92738
Thanks for posting the patch! I'll check it out asap

[2022-04-09 20:06] luqmana opened #95862 "Build Filecheck is packaged instead of target for the LLVM tools downloaded from CI during build for cross-compiled targets."
I don't have Rosetta 2 enabled so I ran into  a bit of confusion trying to run some codegen tests on an M1 MacBook.

Looking at the LLVM binaries that were downloaded, `FileCheck` seems to be the odd one out:

[code]

Building LLVM locally definitely generates the right version, compare:
[code]

[2022-04-09 20:25] QuineDot opened #95863 "Tuple-type constructors are not full coercion sites"
[I tried this code:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=112b24cf9395fd2102dd4aabf9c8ec3e)

[code]

I expected to see this happen: Successful compilation due to the function item coercing to a function pointer.

Instead, this happened: E0271 due to coercion not applying through the trait projection:
[code]

### Further notes

As can be seen in the playground lin

[2022-04-09 20:35] QuineDot commented on #95863
Guess I should also mention the simple workaround: use a cast.
[code]

[2022-04-09 21:10] Badel2 commented on #95856
Thanks for pointing that out @SNCPlay42. This was unexpected because searching for "lengt" does return 103 results:

https://doc.rust-lang.org/std/?search=lengt

[2022-04-09 21:58] compiler-errors commented on #95863
Hmm, this is consistent with an equivalent function call though, I think..?

[code]

[2022-04-09 22:07] vincenzopalazzo commented on #95698
looks like a parser error, this is the list of tokens that return the workaround

<details>
  <summary>TokenStream produced with workaround solution!</summary>

[code]

<details>
  <summary>TokenStream produced with buggy code!</summary>

[code]

The Tokens continue to accumulate, and max deep is never reached.

@rustbot label +T-compiler

[2022-04-09 22:14] QuineDot commented on #95863
Ah, so the return type hinders coercion somehow.  And these both work.
[code]

[2022-04-09 22:43] #91071 closed

[2022-04-09 22:51] sharnoff opened #95865 "`std::hint::unreachable_unchecked`: docs note about compiler optimizations being sufficient?"
I don't know whether this is something that the docs team already has a particular policy on, so perhaps this is out of scope, but:

The docs for [`std::hint::unreachable_unchecked`](https://doc.rust-lang.org/std/hint/fn.unreachable_unchecked.html) give an example that -- with optimizations -- compiles to the same assembly using plain `unwrap` instead of `unwrap_or_else(|| unsafe { unreachable_unc

[2022-04-09 23:02] asomers opened #95866 "std lib build broken for uclibc"
Commit https://github.com/rust-lang/rust/commit/33fd73fedeb5cd61dbbb7562fd927c0b6994653a appears to have broken the build for uclibc.  This command fails:
[code]
The problem is that libc does not define that field for uclibc.  Whether that's an oversight in libc, or whether uclibc itself doesn't define that field, I don't know.

[2022-04-09 23:06] asomers commented on #95866
@skrap can you figure out whether the problem is in libc or uclibc itself?

[2022-04-09 23:49] tgnottingham commented on #37572
What do you think about adding a `trusted_len` method to this trait, which defaults to returning the upper bound of `size_hint` (as an `Option<usize>`), possibly with a debug assertion that the lower and upper bounds are equal?

Adding `trusted_len` creates the possibilty of a bug where it and `size_hint` are inconsistent with one another, but it eliminates bugs where clients of the trait incorrec

[2022-04-10 01:48] name1e5s commented on #95866
It seems that `libc` doesn't implement `fn si_addr` for `siginfo_t`, maybe we should partially revert #95688

[2022-04-10 02:07] RalfJung commented on #95736
FWIW, the lock file is included because I needed it to make Miri more reliable, and then just added it. I think a PR to simply add Cargo.toml to the list of shipped files would probably go through in a similar vein.

However, it is not clear to me whether you are saying the original Cargo.toml should be shipped, or whether it should be somehow modified before shipping. The latter will be more tric

[2022-04-10 02:08] Acciente717 opened #95871 "Wrong code generation in core library with ROPI-RWPI relocation model on ARMv7em."
### TL; DR version:
When targeting `thumbv7em-none-eabi` with `ropi-rwpi` relocation model, some generated instructions in `core::fmt::num` are wrong. The below naive example won't work in the **debug** build.
[code]

To reproduce, see the repo below:
https://github.com/Acciente717/ropi-rwpi-err-demo

### Detailed version:
Tracking down with GDB, the wrong instructions are in `_ZN4core3fmt3num3imp

[2022-04-10 02:10] RalfJung commented on #95736
Oh, you actually linked to me old PR that did that. :joy:

Looks like [this](https://github.com/rust-lang/rust/pull/44076#issuecomment-325127541) is where I had to remove the Cargo.toml because it caused trouble with distcheck that I didn't have the patience to debug.

[2022-04-10 02:17] RalfJung commented on #95323
Possibly related: https://github.com/rust-lang/rust/issues/46515

[2022-04-10 02:21] RalfJung commented on #95756
Specifically, here's how to avoid that:
[code]
prints
[code]
Note the `&mut {reader}`, which *copies* `reader` into a fresh temporary and then passes a mutable reference to that. (The fact that you lad to `let mut reader` in your example was a hint that something a bit odd was going on.)

[2022-04-10 02:23] RalfJung commented on #95427
Yes that sounds about right. Note that the array must have been specifically allocated with `Vec<u8>` to make sure the alignment matches. `String` acts like `Vec<u8>` in that regard (which we should probably also document).

[2022-04-10 03:08] QuineDot opened #95872 ""cannot construct with struct literal syntax due to inaccessible fields" could use an explain"
[Given the following code:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9f3e3c29a1dd0db9008d9683c108b330)
[code]

The current output is:
[code]

Ideally, the output should
* Explain more fully that there are private fields, perhaps via `--explain`
* [Not occlude E0451](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f5d9f7df78f71cb78471136384c928

[2022-04-10 04:13] kpreid opened #95873 "rustdoc displays `pub use ::foo` reexports as `pub use {{root}}::foo`"
Generate documentation for a crate containing just:

[code]

then the documentation shows `pub use {{root}}::std;`, which seems like some implementation detail leaking into the output. Without the leading `::`, it shows `pub use std;` which is more reasonable and what I expected to get.

(Of course, using `std` here is just for a self-contained example. It originally happened with a normal Cargo d

[2022-04-10 04:28] luqmana opened #95874 "When the new LLVM Pass Manager is enabled, `-Z verify-llvm-ir=yes` is ignored if `-C no-prepopulate-passes` is also given"
While investigating the issue fixed in #95864 I came across some surprising behaviour. In trying to figure out whether `rustc` was generating invalid IR or it was some subsequent LLVM pass, I realized that `-Z verify-llvm-ir` was essentially ignored with `-C no-prepopulate-passes` in the new LLVM Pass Manager. This lead me to (incorrectly) assume that the IR `rustc` generated was valid when it got

[2022-04-10 05:44] compiler-errors commented on #89137
The error has gotten (slightly) better on nightly since a recent change of mine:

[code]

It only suggests one of the missing bounds, adding `T: Debug` then another error suggests adding `T: Copy`...

[2022-04-10 06:14] compiler-errors commented on #89052
This error message seems consistent now:

[code]

Unless I am mistaken, I will close this then.

[2022-04-10 06:14] #89052 closed

[2022-04-10 06:15] compiler-errors commented on #82541
This error seems consistent now:

[code]

Specifically, note "this expression has type `Option<Vec<(usize, char)>>`". Will close then.

[2022-04-10 06:15] #82541 closed

[2022-04-10 07:15] leonardo-m commented on #95865
Also the example could be replaced with a better one where unreachable_unchecked gives an advantage.

[2022-04-10 07:15] usamoi commented on #80608
I saw `error: instruction requires the following: 'D' (Double-Precision Floating-Point)` in my `global_asm` on the `riscv64gc-unknown-none-elf` target, too, but only in release mode.

[2022-04-10 07:44] o01eg commented on #76526
Same error on f7b4824731483df9ac911cb5b60fe85f04162ad0 (still I was able to compile 5e57faa78aa7661c6000204591558f6665f11abc)

[code]

config.toml:
[code]

[2022-04-10 08:08] chuigda opened #95877 "Performance regression from 1.59 to 1.60"
### Code

I upgraded to rustc 1.60 today and benchmarked my [personal project](https://github.com/Pr47/Pr47). The benchmark
[code]
shown that the compilation product was 10%~15% slower on my machine.

I don't have a minimal reproducible example yet, so I'll collect as many information as I can.
*I have a somewhat minified version of `al31f`, I'll experiment it out as soon as I have spare time.*

#

[2022-04-10 08:09] chuigda commented on #95877
My CPU info:
[code]

Kernel info:
[code]

[2022-04-10 08:10] chuigda commented on #95877
Flamegraphs, raw perf data, and assemblies (created using objdump)

[rustc-1.60-regression.zip](https://github.com/rust-lang/rust/files/8458553/rustc-1.60-regression.zip)

[2022-04-10 08:42] matthiaskrgr opened #95878 "ICE: "unexpected resolution for an identifier in pattern""
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-10 08:57] #95447 closed

[2022-04-10 09:05] the8472 commented on #37572
It could be an associated function instead `TrustedLen::len(&Self)` rather than `TrustedLen::len(&self)`, then there's no issue with it being overridden or inconsistent with size_hint.

[2022-04-10 09:07] matthiaskrgr opened #95879 "rustdoc ice: 'internal error: entered unreachable code', compiler/rustc_resolve/src/lib.rs:3305:6"
I tried this code:

This code needs to be placed into `compiler/rustc_borrowck/src/diagnostics/mod.rs` (just overwrite the file).
My repo is currently at f7b4824731483df9ac911cb5b60fe85f04162ad0

[code]

If you then run `rustdoc ./compiler/rustc_borrowck/src/diagnostics/mod.rs`, rustdoc will crash:

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

<

[2022-04-10 10:02] petrochenkov commented on #95879
This was fixed by https://github.com/rust-lang/rust/pull/95681, most likely.
I'm not sure which `rustdoc` do you use, could you check whether it includes that PR?

[2022-04-10 10:16] matthiaskrgr commented on #95879
I used yesterdays/today(?) nightly which already contains https://github.com/rust-lang/rust/pull/95681 so I was a bit suspect of this being different issue :sweat_smile:

[2022-04-10 10:18] GuillaumeGomez commented on #95614
Not that I could see at least.

[2022-04-10 10:19] GuillaumeGomez commented on #95672
Well, at least it'll be present in the next release with a beta backport.

[2022-04-10 11:08] petrochenkov commented on #95879
Confirmed, this is a different case, and not even a regression from https://github.com/rust-lang/rust/pull/95337 like https://github.com/rust-lang/rust/issues/95879#issuecomment-1094235435, it reproduces with stable rustc as well.

[2022-04-10 12:53] Amanieu commented on #80608
I still don't know what the cause of this problem is (it seems to be in LLVM?). However I have found a workaround: you need to add `.attribute arch, "rv64gc"` to the assembly code to enable the `f` and `d` features in the assembler.

[2022-04-10 12:56] klensy opened #95882 "compiled artifact size increase between 2022-04-05 and 2022-04-06"
Checked on x86_64-pc-windows-msvc 1.62.0-nightly (306ba8357 2022-04-05) to 1.62.0-nightly (8f36334ca 2022-04-06)
https://github.com/rust-lang/rust/compare/306ba8357...8f36334ca
std.dll size increase: 5_957_632 to 6_094_848

Or maybe i too greedy?

@rustbot label +I-heavy

[2022-04-10 13:01] RalfJung commented on #95759
This has now made https://github.com/rust-lang/rust/pull/95848 fail 2 times in a row... is there some form of emergency patch that can be applied to resolve this issue?
Cc @rust-lang/infra since this will prevent unrelated PRs from landing.

[2022-04-10 13:03] klensy commented on #95759
There is #95841 fix, but it need to be reviewed :-)

[2022-04-10 13:13] ChrisDenton commented on #95759
Yeah, I had hoped increasing the pipe buffer size would work well enough to make failures less common until a proper fix was implemented. But unfortunately it's still quite prone to failures.

I'm trying a different reviewer for #95841 in case they're more available right now.

[2022-04-10 13:28] Urgau commented on #95871
*Given that the problem seems to be in the assembly code generated I'm tagging this as an LLVM related issue but feel free to remove the LLVM label if you disagree.*

@rustbot label +I-prioritize +A-llvm +T-compiler

[2022-04-10 13:37] petrochenkov commented on #95879
Minimized:
[code]

[2022-04-10 13:51] cherryleafroad commented on #66916
For the `.rmeta` problem, there's a patch fix [here](https://github.com/rust-lang/rust/issues/92738#issuecomment-1094110599=) which worked for me on emsripten 3.1.8.

Latest builds using Rust 1.59.0 and emscripten 3.1.8 are broken from the main thing, which can be fixed by fixing some stuff before entering the cmd:
[code]

Now that it builds however, you will still get `Module not found: Error: Ca

[2022-04-10 15:44] gimbles commented on #94217
@rustbot claim

[2022-04-10 15:44] gimbles commented on #94217
(Will send a PR after #95671 is merged)

[2022-04-10 16:01] 2909081 commented on #95756
But the instructions say that you need to use arguments in the form:
[code]

[2022-04-10 16:06] RalfJung commented on #95756
Yes, and that's what I did, didn't I? The code actually compiles and works, try it out. :)

[2022-04-10 17:01] 2909081 commented on #95756
Yes it works. I'm new to Rust and I wouldn't have guessed. I'm just reading the documentation and there is an example of how a method works that doesn't work. std::io::[copy](https://doc.rust-lang.org/std/io/fn.copy.html)

[2022-04-10 17:19] #95844 closed

[2022-04-10 18:11] paolobarbolini commented on #93305
Yes it seems like a similar attack could be done against it

https://github.com/rust-lang/rust/blob/18f32b73bdb3833c18c73fe3062bde8e1721ccca/library/std/src/io/mod.rs#L2584-L2601

[2022-04-10 18:18] petrochenkov commented on #95879
Fixed in https://github.com/rust-lang/rust/pull/95887.

[2022-04-10 19:28] jyn514 opened #95890 "Should libstd handle cross-filesystem renames?"
I found in https://github.com/rust-lang/rust/pull/95170 that python is smarter than rust about this:

https://docs.python.org/3/library/shutil.html

It might be nice to do the same in libstd, instead of giving a hard error when the source and destination are on different file systems.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/95170#discussion_r832226965_

[2022-04-10 19:41] o01eg commented on #76526
Looks like it was broken in https://github.com/rust-lang/rust/pull/88794

[2022-04-10 19:41] scottmcm opened #95892 "Tracking Issue for `sub_ptr` (feature `ptr_sub_ptr`)"
Feature gate: `#![feature(ptr_sub_ptr)]` & `#![feature(const_ptr_sub_ptr)]`

This is a tracking issue for the `<*const _>::sub_ptr` & `<*mut _>::sub_ptr` methods.

This is the produces-`usize` version of `offset_from`, the same way that `add` and `sub` are the takes-`usize` versions of `offset`.

It turns out that people almost always actually know which pointer is greater than which when doing th

[2022-04-10 19:43] jyn514 commented on #95858
@rustbot label +E-easy +E-help-wanted

[2022-04-10 21:11] compiler-errors opened #95898 "Incorrect add bounds suggestion when given type parameter like `<T:>`"
Given the following code:
[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Note: The `T:` bound is treated incorrectly.

[2022-04-10 21:12] peterbartha commented on #20866
Latest DIY steps for converting (any) **[Rust learning material](https://www.rust-lang.org/learn)** to EPUB (or other ebook formats).
Steps and required files: https://gist.github.com/peterbartha/54708ae739478a45b52612311d49717c

Samples:
<img width="620" alt="image" src="https://user-images.githubusercontent.com/7854312/162639910-d8e51d58-2bd0-48ee-874c-f5df428f5a3e.png">
---
<img width="616" alt

[2022-04-10 21:20] PoorlyDefinedBehaviour commented on #95898
@rustbot claim

[2022-04-10 21:42] vitali2y commented on #20866
What are principal improvements in comparison with [~3 years old receipt](#issuecomment-495962961)?

[2022-04-10 21:46] gheoan opened #95902 "unused attribute warning when using multiple crate_type"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cfb35aa70ccef56dfbb931a7c093d42b

The current output is:

[code]

Ideally there should be no output. When using command line arguments instead of the crate_type attributes, there is no output.

Note that the compilation process is successful: even with the warning, both an dylib and a rlib is produced

[2022-04-10 21:47] khuey opened #95903 "const bindings don't appear in debug info"
Consider the following

[code]

The DWARF produced for this looks like

[code]

The output for the static binding comes from `codegen_static` on `CodegenCx`. consts, however, get tossed much earlier and don't appear as `MonoItem`s so they can't be output at this stage. One possible solution here is to create a `MonoItem` for consts that's used solely to output debug info.

[2022-04-10 23:26] #95574 closed

[2022-04-10 23:26] #95608 closed

[2022-04-10 23:27] peterbartha commented on #20866
The following:
1. More readable source code (previously problems with nested `<pre>` tags, and pandoc optimizations),
2. Clickable "Table of Contents" section added,
3. Code legend (Ferris) is present (instead of removing from the samples),
4. Handle unsupported HTML tags (i.e. `<details>`),
5. (Optional) Consistent stylesheet for the ebook.

[2022-04-10 23:34] ehuss commented on #95902
I have posted #95910 to fix this.

[2022-04-11 00:06] compiler-errors commented on #95872
I also agree that this seems like a regression.

1. Firstly, I think that the word "inaccessible" is vague. I think "private" is pretty standard Rust terminology.
2. In both cases (where all fields are provided, even the provided ones, and when some are missing) we sould probably continue to mention that the struct can't be constructed due to private fields
3. In the case that not all private fiel

[2022-04-11 04:01] PoorlyDefinedBehaviour commented on #95898
You mean that `suggest_traits_to_import` does not handle `T:` correctly, right?

[2022-04-11 04:04] compiler-errors commented on #95898
Correct, the suggestion reads `T: Clone:` which is not syntactical. The fix would be to detect this case and correctly suggest `T: Clone`

[2022-04-11 04:21] PatchMixolydic opened #95919 "Suggestion for `fuzzy_provenance_casts` on a macro uses its expansion"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=09132e5a9f7eb35718611c6b3db3a4e3)):

[code]

The current output is:

[code]

Note that the block passed to `with_addr` is the body of `memoffset::offset_of!`:

[code]

Ideally, the suggestion should just use `offset_of!`:

[code]

@rustbot modify labels: +A-strict-provenance +D-papercut

[2022-04-11 04:49] jsha commented on #95839
It actually is usable - I just tested on both Android Chrome and iOS
Safari, and tapping the code block shows the Run button. I believe those
browsers effectively treat a top as toggling the `:hover` state. There's
still a bit of a problem with discoverability - how do you know to tap on
the code block? But the same is true on a browser with a pointing device.
How do you know to hover?

Overall I

[2022-04-11 05:04] compiler-errors commented on #95919
This is kinda a general error with suggestions that use expr spans that originate from macros... e.g.

[code]

On nightly renders with:
[code]

... It's somewhat unsatisfying for it to be underlining `0` instead of `foo!()`.

While I think the choice of whether to choose the macro's inner expression contents or the macro usage span depends a bit on the type of error, at least for `expr as Ty` sugg

[2022-04-11 05:12] 8573 commented on #59346
If @rust-lang has ownership of `annotate-snippets` on GitHub, should it have ownership on Crates.io too? It currently doesn't.

[2022-04-11 05:13] lcnr commented on #54940
I intend to look into this in the somewhat near future

@rustbot claim

[2022-04-11 05:36] oli-obk commented on #59346
Yes, those permissions should be in sync

[2022-04-11 05:45] aliemjay opened #95921 "HRTB with nested lifetimes and explicit lifetime bounds fails."
I tried this code:

[code]

I expected to see this happen: *code compiles fine*

Instead, this happened: *`Implementation is not general enough` Error*

Removing the explicit lifetime bound on the impl fixes the problem:
[code]

### Meta

Reproduced on both the current stable and nightly branches.

`rustc --version --verbose`:
[code]

<details><summary>Error Output</summary>
<p>

[code]

</p>
</de

[2022-04-11 06:34] aliemjay opened #95922 "TAIT regression: requires unnecessary explicit lifetime bound"
I tried this code:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3b4c470458a245ff1f8a032101641de2))

This code used to compile fine prior to #95519. It now requires an explicit lifetime bound `Req: 'a` to the impl.

Unfortunately, adding a lifetime bound may not be an option when used with HRTBS due to bugs like #95921. This caused a major breakage

[2022-04-11 07:06] bugadani opened #95924 "`std` no longer compiles for `riscv32imc-esp-espidf`"
I'm trying to cross-copmile for an `espidf` target from Windows, but in the latest nightly compilation (or in this case, `cargo c`) fails with the following errors:

`cargo c --target=riscv32imc-esp-espidf -Z build-std=std,panic_abort`

[code]

[2022-04-11 07:07] bugadani commented on #95924
I haven't tried bisecting it, I can only confirm that the same code compiles fine with `nightly-2022-04-01`

[2022-04-11 07:51] aliemjay commented on #95922
I thought this breakage is an unnecessary side effect to the PR, but this maybe the very unsound case that the PR tries to fix :sweat_smile: .

I'd appreciate a comment from @oli-obk @compiler-errors.

If it is unsound, wouldn't that make the following unsound as well?
[code]

[2022-04-11 08:02] joshtriplett opened #95926 "rustc 1.59/1.60 builds musl binaries that segfault, when compiling with musl-gcc wrappers, due to static-pie default"
With the `x86_64-unknown-linux-musl` target installed:

[code]

A `gdb` backtrace shows the segfault in `_start_c () at ../src_musl/crt/../ldso/dlstart.c:141`.

This segfault happens because the `musl-gcc` wrappers (including cross-compile wrappers like `x86_64-linux-musl-gcc` and `aarch64-linux-musl-gcc`) don't support static-pie in the way rustc is invoking them.

This is a regression in Rust 1.

[2022-04-11 09:38] eddyb commented on #95736
Cross-posting (potentially relevant) https://github.com/rust-lang/rust/pull/78790#issuecomment-1078599609 (note that that PR was reverted):

[2022-04-11 09:43] mchernyavsky opened #95930 "`rustc --version` hangs on WSL 2 while using GitHub Actions"
I have a workflow with the following configuration:

[code]

It hangs on `Check environment` step for some reason:
https://github.com/mchernyavsky/test-wsl/runs/5969420585

I'm not sure what the problem is, but if I change the environment to `windows-2019` everything works just fine:
https://github.com/mchernyavsky/test-wsl/actions/runs/2147461891
(`windows-2019` uses WSL 1)

Previously I reported

[2022-04-11 10:41] matthiaskrgr opened #95934 "ICE: rustc -Ztranslate-lang=de"
`rustc -Ztranslate-lang=de`

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-11 10:49] bjorn3 commented on #95736
I think we should just split the sysroot into a new workspace and use it as part of bootstrapping instead of generating a new workspace in the dist step. That may also simplify the tidy license check by not requiring to check if a crate is a dependency of the sysroot to apply stricter license checks. Instead it can apply them to the entire contents of `library/Cargo.lock`.

[2022-04-11 11:31] oli-obk commented on #95922
The problem is a bit roundabout.

Basically there is an implicit `Req: 'a` on your method, so

[2022-04-11 11:36] oli-obk commented on #95922
Nope, that case is easier, because the implicit `Req: 'a` (implied from `&'a Req`) exists for the desugared type alias, too.

[2022-04-11 12:23] aliemjay commented on #95922
Thanks. So to conclude, this use case is indeed unsound and I'm happy it's now rejected.

One problem though I faced while redesigning the trait, TAIT now seems at a disadvantage to writing the full type:

Given the following example:
[code]

This still fails and requires the explicit bound `Req: 'a` despite that, without TAIT, It is accepted and, I believe, is correct since the bound is implied b

[2022-04-11 13:39] jyn514 opened #95937 "Consolidate subcommand parsing in bootstrap"
We should consolidate the subcommand parsing to be consistent - currently, there's many different places where commands are parsed, leading to inconsistencies where they don't match up (so to speak :P).

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/95875#pullrequestreview-937288662_
cc @aswild

@rustbot label +A-bootstrap

[2022-04-11 13:43] memoryruins commented on #77463
This has been stabilized last month in https://github.com/rust-lang/rust/pull/93827 and will likely be in the next release, 1.61.

[2022-04-11 13:46] oli-obk commented on #95922
While digging into this I noticed that `-Zchalk` will immediately fix this, because it does exactly what I wanted to do. But... just enabling this unconditionally (and not just in chalk), causes libcore to stop compiling 😱

Pretty sure I know why, too. This is gonna be a rabbit hole

[2022-04-11 14:03] clarfonthey commented on #84605
AFAIK, the only breaking change that might need to be made is naming the attribute `#[coverage(never)]` or something similar as @nagisa suggested. I'm kind of in favour, but wouldn't be distraught if this weren't done.

The feature is far from done, but we could stabilise the attribute before everything is there since we don't really make guarantees about coverage, and the syntax is really the mai

[2022-04-11 14:11] PoignardAzur commented on #84605
Yeah, I'd be in favor of merging a MVP as soon as possible.

Breaking changes can always be done later in an edition change.

[2022-04-11 14:16] wesleywiser opened #95939 "Tracking Issue for `debugger_visualizer`"
This is a tracking issue for [RFC 3191](https://github.com/rust-lang/rfcs/pull/3191).
The feature gate for the issue is `#![feature(debugger_visualizer)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant

[2022-04-11 14:32] mutantbob opened #95940 "core::str::validations::next_code_point only accepts an Iterator<&u8> and can not accept an Iterator<u8>"
`core::str::validations::next_code_point` only accepts an `Iterator<Item=&u8>`.  Unfortunately my code that needs to convert a byte stream to characters can only have an `Iterator<Item=u8>`.  My specific use case is a string constant stored in progmem on an AVR (Arduino Uno), which requires special machine code to access, because the data exists in a separate address space from regular RAM.  Other

[2022-04-11 14:33] oli-obk commented on #95922
Side note:

[code]

may be more what you are looking for, but without knowing more about your use case, I can't be sure. (This issue requires solving regardless, but using a different scheme may unblock you)

[2022-04-11 14:36] clarfonthey commented on #84605
Editions don't exist to rush basic design decisions. Please be patient; the feature already works on nightly and can be used there in the meantime.

[2022-04-11 14:49] Zildj1an commented on #38129
So what is the workaround if I get this error?

[2022-04-11 14:54] PoignardAzur commented on #84605
Well, yes, but in the case of `coverage(never)` vs `no_coverage`, it's less of a basic design decision and more of a bikeshedding one.

I didn't mean "breaking changes" in the sense of fundamentally changing what the attribute did.

[2022-04-11 15:42] nikomatsakis commented on #94944
The error seems ok for async functions; the bad case is specifically async blocks from what I can tell:

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d17e1f89aababd8c1daa12be2fa3c793)

[2022-04-11 15:44] eholk commented on #94944
Yeah, this error message could definitely be improved. It seems like a good polish bug for someone to take on. I added it to the async project board.

@rustbot label AsyncAwait-Triaged

[2022-04-11 15:59] eholk commented on #95404
We talked about this in our triage meeting today. This sounds like the same issue as #63033, so I'm going to close it as a duplicate.

It looks like what's going on is that the `boop` parameter would normally be `Box<dyn std::error::Error + 'static>`, but the compiler finds an opportunity for subtyping with the future and changes it to `Box<dyn std::error::Error + 'a>`, but then it needs to pick a

[2022-04-11 16:34] mvtec-bergdolll commented on #95228
Initially just reading the documentation I found `expose_addr` very confusing and it took me some time to spot the subtle difference to `addr`. Expose in the name made me think somehow it was connected to the return type/value. Some alternatives:

* `leak_provenance` + `fabricate_provenance` or `fake_provencance` Would tie into the existing Box leak, where you leak the box but the 'content' remain

[2022-04-11 17:32] thomcc commented on #29603
Yeah, I think that we should avoid conflating these if we ever decide to expose this as a feature. Weak imports behave quite well on darwin (where they're extremely widely used, usually via the macros like `__OSX_AVAILABLE`, which switch to a weak import when if your minimum target OS version isn't that recent).

That said, it's not clear what we need to do to make our implementation of them actua

[2022-04-11 17:36] digama0 commented on #95228
Using a different word than "provenance" is not a good idea. This is a term-of-art: the fact that it does not have a common use in english is a strength since it makes it easier to find references to the technical concept online. Using a synonym will only confuse matters, since once you start digging into the concept you will soon have to consult documentation in other sources like LLVM or the C s

[2022-04-11 17:56] jyn514 opened #95943 "Give a better error when using an undeclared macro variable"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a17456ca7139db13e945cbde87ae6fbd

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

@rustbot label +A-macros

[2022-04-11 18:04] skrap commented on #95866
Looks like @pfmooney has a good-looking PR out to add those accessors into libc!

[2022-04-11 18:11] matklad commented on #64888
Note that cargo stabilized `--timings` option. I think it'll be best if we name libtest option the same.

[2022-04-11 18:18] jessa0 opened #95945 "Found unstable fingerprints for `def_ident_span`"
Recompiling this minimal example using `rustc 1.60.0 (7737e0b5c 2022-04-04)` or `rustc 1.62.0-nightly (1f7fb6413 2022-04-10)` crashes with `Found unstable fingerprints for def_ident_span(foo[c936]::{impl#0}::deserialize::{impl#0}::One): Some(src/lib.rs:5:5: 5:8 (#0))`:

### Code

Since this is an incremental compilation bug, there are "before" and "after" code snippets, where a `cargo build` happe

[2022-04-11 18:19] mejrs opened #95946 "Compiler error fails to show unsatisfied bounds on trait implementation"
[code]

The current output is:

[code]
In fact, this error is caused by `Py<PyAny>` not implementing `Hash` (and `Eq`). But this is not shown in the error message!

Somehow the unsatisfied bounds on the `FromPyObject` trait are lost. For reference, this is its [definition](https://github.com/PyO3/pyo3/blob/main/src/types/dict.rs#L342-L356):
[code]

When trying to create a minimal example (by just

[2022-04-11 18:23] mejrs commented on #95946
cc @davidhewitt

@rustbot label: +D-confusing

[2022-04-11 18:45] fanninpm commented on #94345
As v1.60 has been released, is it time to close this and move on?

[2022-04-11 18:47] Mark-Simulacrum commented on #94345
The previous release issue is typically closed when the next release issue is opened and runs queued, which hasn't happened yet.

[2022-04-11 18:59] workingjubilee commented on #95228
I think if we come up with *new* terms of art, that's fine. But I say **new** because they would have to not also risk semantic collision: `leak` implies it is the same as other `leak` operations, like `Box::leak`, which leak allocations, and it is very not. We cannot afford confusing these matters here, so I think `leak` is right out.

`guess` implies the wrong semantics, also, because "guess", i

[2022-04-11 19:08] gilescope commented on #89065
Excellent, glad these have landed. Am discussing having these MIN/MAX available from traits:
https://internals.rust-lang.org/t/please-can-we-add-a-basic-num-trait/16449/9

[2022-04-11 19:11] jsha commented on #95816
Thanks for the feedback!

Interestingly, there is indeed a separator line (the scrollbar track) on both the light and the dark themes:

![image](https://user-images.githubusercontent.com/220205/162811537-4fa3f900-8197-4436-a9f1-f58c9dfb54f8.png)

The ayu theme is unique in making the scrollbar track invisible (same color as background). I think it would make sense to change that, both for consiste

[2022-04-11 20:33] RalfJung commented on #95228
In a sense this "guessing" is actually extremely intelligent -- if there is a correct guess, it will be taken! Here, "correct" is defined as "avoiding UB".

[2022-04-11 21:17] PatchMixolydic commented on #95943
This scenario is caught by [`meta_variable_misuse`](https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#meta-variable-misuse), which almost produces the desired diagnostic except for the span pointing at the macro matchers ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=84fce95a7eaa4b537ecf844e3476ad94)):
[code]

It would be beneficial if thi

[2022-04-11 21:25] digama0 commented on #95228
60% joking: `recover_provenance_by_magic()`

[2022-04-11 21:27] jyn514 commented on #95943
It seems strange that's a lint and not just a built-in diagnostic? I'd at least expect it to warn by default ...

[2022-04-11 21:32] ShadowJonathan commented on #95228
2c for `expose_addr` replacement; `pluck_addr`, "plucking from thin air"

[2022-04-11 21:41] thorjelly opened #95951 "False conflicting implementation with `generic_const_exprs` and `adt_const_params`"
This code fails to compile:

[code]

However, it compiles if `#![feature(generic_const_exprs)]` is removed.

It also only appears to be the case with complex generic types. This compiles too:

[code]

[2022-04-11 21:43] jrtc27 commented on #95228
Can we please not be stupid like this? There are 26 participants in this issue, I assume at least most are still subscribed, and specific aspects of this tracking issue have already been split out into distinct issues/PRs to keep the length of this issue manageable. I don't want an email for every silly name people come up with (some of which, I will add, are totally backwards), but I do want an e

[2022-04-11 21:50] thorjelly commented on #95951
Did an inadequate job of searching for this issue; appears to be a duplicate of #92186.

[2022-04-11 21:50] #95951 closed

[2022-04-11 21:54] khionu commented on #95228
@jrtc27 While you are in the right for wanting the conversation to be redirected to a more suitable venue, it'd be better if you didn't bring intelligence into the matter. I'd encourage you to focus on constructive, and succinct phrasing; simply asking "can we take this to a more appropriate venue?" would communicate everything necessary.

[2022-04-11 22:48] matklad commented on #74465
I ... have a new naming proposal:

* `OnceCell` for !Sync version
* `OnceLock` for `Sync` version

I think I **really**  like OnceLock:

* It *is* a lock! (blocking inside)
* It make the semantics clear (locking rather than racy publication)
* It "rhymes" with `RwLock`

[2022-04-11 23:57] sharnoff commented on #95816
@jsha the scrollbar track is definitely a big component of it!

Here's the result of setting it to `#1d232b`, which seemed to match the other themes:

<details>
<summary>Screenshot</summary>
<img src="https://user-images.githubusercontent.com/29154784/162846992-920ce7fd-b458-4d34-89c9-0e959e6984e1.png">
</details>

While I was tinkering with the css, I decided to see if there were any other bits I

[2022-04-12 00:04] keepsimple1 opened #95955 "why is SocketAddr needed when creating a new socket?"
https://github.com/rust-lang/rust/blob/90ca44752a79dd414d9a0ccf7a74533a99080988/library/std/src/sys_common/net.rs#L491

Although the above code passes in `addr` to `Socket::new()`,  the `addr` is only used to check for the address family,  in [Unix](https://github.com/rust-lang/rust/blob/90ca44752a79dd414d9a0ccf7a74533a99080988/library/std/src/sys/unix/net.rs#L62-L67) and [Windows](https://github.

[2022-04-12 00:15] landaire commented on #39699
Wanted to voice my support for this for usage in [fazi](https://github.com/landaire/fazi) and also suggest that this should expand to whole packages. e.g. I would not like to instrument *any* code in Fazi, but any callers of Fazi should be instrumented.

[2022-04-12 01:17] Oya-Tomo opened #95957 "I couldn't run "cls" with std::pocces::Command."
# Error description
I tried to execute ```cls``` in powershell with  ```std::pocces::Command``` . But it didn't work.
I can build my code, but when I try to run the exe I get an error.
Please tell me the solution to this problem?
I'm sorry I'm not good at English.

# Environment
+ windows11
+ rustc 1.60.0 (installed using scoop)
+ cargo 1.60.0

code
[code]
Error message
[code]

[2022-04-12 02:51] wwylele commented on #95957
`cls` isn't a program. It is a shell command of Windows cmd/powershell. `std::process::Command` doesn't run through any shell, and doesn't interpret any shell commands.

[2022-04-12 03:27] Oya-Tomo commented on #95957
Thank you for your response.☺

Your answer is that Rust can't execute Windows commands, right?
I'm making a cli text editor. I need to clear the console lines.
Can you tell me how to clear the console?

[2022-04-12 03:29] PoorlyDefinedBehaviour commented on #95898
It's my first time contributing and i was taking a look at `suggest_traits_to_import` and didn't find a way to detect `T:`.

So i ended up adding a flag to `hir::GenericParam`, setting it in `parse_ty_param` and checking the flag in `suggest_traits_to_import` to handle the `T:` case.

Does that seem reasonable?

[2022-04-12 03:46] compiler-errors commented on #95898
Adding a new flag to `hir::GenericParam` seems a bit heavy. I was thinking you could one of the methods on [`Span`](https://doc.rust-lang.org/stable/nightly-rustc/rustc_span/span_encoding/struct.Span.html) to detect if there is a colon following the generic param.

Also hmm... I think @WaffleLapkin was also looking at [trying to solve this](https://rust-lang.zulipchat.com/#narrow/stream/147480-t-c

[2022-04-12 03:48] tyler274 commented on #93203
It works perfectly fine without NLL for most use cases, holding it on that seems a waste of time.

I've provided some uses of the API [here](  https://github.com/tyler274/rusty-hasher) in the form of a generic threadpool.

[2022-04-12 04:58] name1e5s commented on #95957
You may instead use `Command::new("cmd").arg("/C").arg("cls")` to clear the console.

[2022-04-12 05:54] #95874 closed

[2022-04-12 06:57] gilescope commented on #27728
It is useful. I needed it to test the optimised number parsing algorithm, so the _tests_ of std lib now include this functionality even if we do not want to expose it. Personally it seems asymmetric to have one function and not the inverse. (If we already have this code somewhere else in the std lib test code then let me know and I will call that and remove the implementation that I introduced)

h

[2022-04-12 07:13] mvtec-bergdolll commented on #95228
Obviously names are the easiest thing to bikeshed, but names are also really important. Because often if you can't come up with a good name for something, it means you don't properly understand what you are trying to do.

I tried to give some ideas for a specifically asked question, that no one else had answered here before.

[2022-04-12 07:40] hadrizi commented on #95872
@rustbot claim

[2022-04-12 07:43] ChayimFriedman2 commented on #95228
As a counterargument, `addr()`/`expose_addr()` is a nice symmetry.

[2022-04-12 08:54] Oya-Tomo commented on #95957
Thank you for your kind answer !
My problem was resolved.😀

[2022-04-12 09:11] the8472 commented on #95955
If you're looking for APIs that create unbound sockets you can use the [socket2](https://crates.io/crates/socket2) crate. The `std` APIs are somewhat simplified and don't expose everything BSD sockets can do.

[2022-04-12 09:16] hniksic opened #95969 "Add u8::to_ascii_digit()"
When writing parsers for textual or semi-textual data received from an external source, one often gets octets that need to be interpreted as decimal numbers. For example:

[code]

While the compiler might be able to optimize this code sufficiently, a function like `u8::to_ascii_digit()` would allow us to operate on `u8` directly, making the meaning clearer. It would be analogous to the already exi

[2022-04-12 09:42] jonay2000 opened #95972 "Bad error message on trait coercion"
Given the following code:
[play.rust-lang.org](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3ddfef978d2cb89a32b6a59a6e94d98b)

[code]

The current output is:

[code]

It should name the traits are attempted to be coerced, maybe tell me why that's not allowed (yet), etc. Right now it just highlights
the entire line. The original example I had that made me run into this is

[2022-04-12 09:56] GuillaumeGomez commented on #95839
What do you think about adding this icon over the code block instead of on top? That would make it easier to add a "show hidden lines" button too.

[2022-04-12 10:11] ChayimFriedman2 commented on #84435
Another case of this bug (https://users.rust-lang.org/t/strange-type-annotations-needed-error/74117?u=chrefr):
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=94818406f96dfe5f1a086ccd01cf35a7
[code]

[2022-04-12 12:47] oli-obk commented on #63063
I am currently in the process of resolving the unsoundness bugs left for type alias impl trait. After that I'm going to go through the list of open issues related to type alias impl trait (https://github.com/rust-lang/rust/labels/F-type_alias_impl_trait) and once I'm confident that we don't have any more future incompatibility issues left, push to move this feature towards stabilization

[2022-04-12 13:06] #95902 closed

[2022-04-12 13:06] #95919 closed

[2022-04-12 13:06] #95638 closed

[2022-04-12 14:01] matthiaskrgr opened #95978 "ICE: broken mir: Cannot compare unequal types fn(&str) and for<'r> fn(&'r str) with -Zvalidate-mir"
### Code
code from glacier / fixed/91636.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

`rustc   ./91636.rs   -Zvalidate-mir`

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-04-12 15:11] lqd commented on #95945
Bisection points to #93095 for this, but it may be a different manifestation of the earlier issue the PR was supposed to fix ?
In any case, cc PR author @Aaron1011 and reviewer @cjgillot.

[2022-04-12 15:32] hi-rustin commented on #95622
Sorry, I didn't have time to add it. So see if any other contributors would like to add it. Unassign myself.

[2022-04-12 15:33] #93344 closed

[2022-04-12 15:33] #95150 closed

[2022-04-12 15:33] aliemjay commented on #95922
Unfortuanltely, I hit another blocker when using GATs as recommended:

[code]

This requires the bound `S: 's`, but when added to the associated type rustc complains:
[code]

So again adding the bound to the impl seems to be the only option.

[2022-04-12 15:33] #76526 closed

[2022-04-12 15:34] kckeiks commented on #95622
@rustbot claim

[2022-04-12 16:00] 12101111 commented on #95926
Can you provide the linker command?
It's fixed in 2018: https://git.musl-libc.org/cgit/musl/commit/?id=7dad9c212587267818de919dd9c5886f18f99779
(Unless you are using Ubuntu 18.04 which is unfixed)

[2022-04-12 16:26] keepsimple1 commented on #95955
I'm not looking for APIs that create the raw socket. I was wondering since `Socket` is internal, maybe it can be refactored to accept the "address family" as parameter, instead of actual SocketAddr.

[2022-04-12 16:27] joshtriplett commented on #95926
[code]

[2022-04-12 16:37] scouten-adobe commented on #95825
Please see https://github.com/scouten-adobe/rust-bug-95825. 100% reproducible for me with this project.

[2022-04-12 17:08] hadilq commented on #92499
I have a similar problem that made me nut, because I need to wrap the errors to be able to track them back! This is my case if you ask:

[code]

It raises
[code]

I need the `Service` trait because I'm injecting the implementation later, but if you think there's a simple solution to this please let me know.
Anyway, I didn't touch the Rust compiler before, but if you think I can help to fix this, j

[2022-04-12 17:20] Mark-Simulacrum opened #95983 "Crater runs for 1.61"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2022-04-12 17:22] Mark-Simulacrum commented on #95983
@craterbot run name=beta-1.61-1 start=1.60.0 end=beta-2022-04-10 mode=build-and-test cap-lints=warn p=1

[2022-04-12 17:23] Mark-Simulacrum commented on #95983
@craterbot run name=beta-1.61-rustdoc-1 start=1.60.0 end=beta-2022-04-10 mode=rustdoc cap-lints=warn p=1

[2022-04-12 18:08] 12101111 commented on #95926
https://github.com/rust-lang/rust/blob/327caac4d01aef74d6577b87c295270608be09fa/compiler/rustc_codegen_ssa/src/back/linker.rs#L382-L402

The musl-gcc wrapper don't recongnize -static-pie/-pie/-no-pie, but do recongnize -static. The combination of `-dynamic-linker` and `-static` also break lld.

[code]

Fedora fix this https://src.fedoraproject.org/rpms/musl/blob/rawhide/f/musl-1.2.0-Support-static

[2022-04-12 18:15] luqmana commented on #82775
Trying to collect together the current state of things:

`assert_matches!` is currently a `decl_macro` defined at `core::macros::assert_matches` but exported as `core::assert_matches::assert_matches`. `libstd` then re-exports it at `std::assert_matches::assert_matches`.

Originally introduced without the submodule (and as a regular `#[macro_export] macro_rules`) in #82770, it unfortunately caused

[2022-04-12 18:17] pfmooney commented on #95866
After the next release of libc, whenever that may be, the change from the now-integrated rust-lang/libc#2750 should help address this.  A stopgap fix might be justified in the mean time.

[2022-04-12 18:21] jyn514 opened #95988 "Fix `x.py clippy` to be less janky"
I hacked this together when I implemented it originally (https://github.com/rust-lang/rust/pull/77351) and it breaks quite frequently because it uses the host toolchain instead of being managed by bootstrap.

I think ideally the fix would look something like:
- Download clippy for the bootstrap toolchain in `bootstrap.py` (look for `add_component`)
- Remove all this hacky code running rustc --vers

[2022-04-12 18:22] jyn514 commented on #95988
@rustbot label +A-rustbuild +E-mentor +E-medium

[2022-04-12 18:33] matthiaskrgr commented on #95988
Note: right now an easy workaround that works 99% of the time for running x.py clippy is to just use clippy from the master toolchain (via rtim, switch master toolchain to the default one) and then run x.py clippy :innocent:

[2022-04-12 18:50] compiler-errors commented on #95972
@rustbot claim

[2022-04-12 18:57] jyn514 commented on #95988
Yes, that works. But it would be nice to not need the workaround.

(I think `cargo +beta clippy` should also work? but haven't tested in a while)

[2022-04-12 19:52] gyscos commented on #95924
A `uid()` function is called with a u32, but it expected a u16.

The function is called here:
https://github.com/rust-lang/rust/blob/master/library/std/src/os/unix/process.rs#L166
Here the argument (we know it's a u32 from the error message) depends on the `target_os`; it's u16 for vxworks, and u32 for everything else.

The function is defined here:
https://github.com/rust-lang/rust/blob/master/li

[2022-04-12 20:33] ivmarkov commented on #95924
Will be fixed once this is merged: https://github.com/rust-lang/rust/pull/94609

[2022-04-12 20:35] CAD97 commented on #95746
There is, however, the option that `GlobalAlloc::realloc` is required to not be UB and return an allocation failure for `size > isize::MAX`.

Personally, I don't really like that option, as the goal of #95295 is to make it so that the `isize::MAX` rule is automatically enforced by the type system, and developers don't have to think about the rule, it's just automatically followed.

There's two way

[2022-04-12 20:41] JakobDegen commented on #71117
If address inequality is something we have to guarantee, then we actually have a real problem here. I unfortunately can't make this actually miscompile today because 1) dest prop is off by default and also broken and 2) MIR building emits extra copies in the cases we care about (for reasons unrelated to this, and in a pretty fragile way). This means that, as far as I can tell, we have three option

[2022-04-12 20:47] kckeiks commented on #83158
@ABouttefeux Are you still working on this? I would like to pick this up.

[2022-04-12 20:48] adumbidiot commented on #59726
I’d also like to add that this has resulted in a security issue in [tower-http](https://rustsec.org/advisories/RUSTSEC-2021-0135.html) and [warp](https://github.com/seanmonstar/warp/issues/937), and the latter isn’t fixed yet. `is_absolute` isn’t good enough as the path is also replaced if the segment contains a prefix, and there doesn’t seem to be an easy way to check for that.

[2022-04-12 20:59] Alexendoo commented on #78628
This (and #77359) no longer ICE since #95125, seems to be the case for any opt level

cc @JakobDegen is that intentional or is #94177 still pending?

[2022-04-12 21:09] JakobDegen commented on #78628
This is only the case because the changes to MIR make that opt completely broken and just never fire under any circumstances. #94177 needs to be revised because of that change, but the plan is still for it to fix these bugs for real

[2022-04-12 21:11] Alexendoo commented on #69487
https://github.com/rust-lang/rust/issues/69487#issuecomment-984897859 errors rather than an ICE now (#95125)

[code]

[2022-04-12 21:12] thomcc commented on #29603
Nope! That was wrong. It turns out that the way it works on apple is that the symbol must exist at link time (e.g. on the host system) or you get the undefined symbol error. This is orthogonal to it being weak reference/import, which just indicates whether it's allowed to resolve. I suppose this might be to save people who try to weakly link against `_get_entropy` rather than `_getentropy`, and th

[2022-04-12 21:12] #95862 closed

[2022-04-12 21:38] PoorlyDefinedBehaviour commented on #95898
I took a look at you PR, that's way better than my solution.

I will use the method you added to `GenericParam` to fix this issue if you aren't working on it as well.

[2022-04-12 22:49] jyn514 opened #95992 "Drop support for `DebuggerTools` being invoked from the top-level bootstrap CLI"
@mark-simulacrum mentioned we'd also need some work to ensure they're in dist tarballs, but it looks like they're already present: https://github.com/rust-lang/rust/blob/52ca603da73ae9eaddf96f77953b33ad8c47cc8e/src/bootstrap/dist.rs#L433-L435
So I think this is as simple as changing https://github.com/rust-lang/rust/blob/52ca603da73ae9eaddf96f77953b33ad8c47cc8e/src/bootstrap/dist.rs#L455-L459 to `

[2022-04-12 22:50] jyn514 commented on #95992
@rustbot label +A-bootstrap +E-easy +E-mentor

[2022-04-12 22:50] jyn514 commented on #95992
@rustbot label +A-rustbuild +E-easy +E-mentor

[2022-04-12 22:50] jyn514 commented on #95992
I double checked and this is never invoked by any scripts in-tree, not even in CI.

[2022-04-12 23:00] Mark-Simulacrum commented on #95992
That sounds right to me -- I think what I meant is that it's possible we should make sure they're present in regular sysroots (i.e., those produced by compile::Assemble like stage1/...), so that tests can pick them up as needed. That's a separate action item here but might be easy enough to bundle in.

[2022-04-12 23:06] jyn514 commented on #95937
@rustbot label +A-rustbuild +E-easy

[2022-04-12 23:23] HackerFoo commented on #46796
Using [`panic = 'abort'`](https://doc.rust-lang.org/book/ch09-01-unrecoverable-errors-with-panic.html) seems to give a better stack trace. The stack trace printed by `panic` is useless if you can't access console logs, and unwinding destroys most of the useful information.

[2022-04-12 23:49] DemiMarie commented on #69487
That error is completely bogus.  A better fix would be for const eval to run typechk and borrowchk itself if necessary.

[2022-04-13 00:04] jyn514 commented on #95518
@rustbot label +S-blocked

(waiting for bjorn3 to rewrite his shell scripts before spending too much time on this)

[2022-04-13 01:28] jyn514 commented on #90244
I think I found the issue. The stamp file is written in `run_cargo`, but for stage 2 we just copy the files rather than rebuilding a third time. https://github.com/rust-lang/rust/blob/f6cef572d6d75a3b7dea5f496d3bd981986e94ca/src/bootstrap/compile.rs#L1377

[2022-04-13 02:02] Dylan-DPC commented on #95957
Closing this as issue has been resolved

[2022-04-13 02:02] #95957 closed

[2022-04-13 02:28] jyn514 opened #95994 "Nearly all compiler/ doctests are broken"
[test-output.log](https://github.com/rust-lang/rust/files/8477746/test-output.log)

I haven't tried `--stage 2` but I don't expect it to matter; most of these aren't build errors, they're just because the tests aren't valid syntax.

Found while investigating https://github.com/rust-lang/rust/issues/95515.

@rustbot label +T-compiler +A-testsuite +C-bug

[2022-04-13 02:30] jyn514 commented on #95994
The scary thing to me is how *long* these have been broken - I guess we never run library tests in CI? I think it might be worth considering adding them.

[2022-04-13 02:33] Mark-Simulacrum commented on #95994
We "should" be running them, but it's relatively easy today for us to accidentally stop running tests. I have a long-term project in mind to track all executed tests (and target info) to give us positive presence (tests passing) indication rather than just negative (tests failing) as we have today. But that's a somewhat involved endeavor that I haven't had the time to invest in yet - probably a fe

[2022-04-13 02:38] jyn514 opened #95995 "Track which tests are run in CI"
Currently, it's pretty easy to accidentally miss tests in CI - e.g. I recently found that compiler doctests haven't been enforced in a while: https://github.com/rust-lang/rust/issues/95994. It would be great to track which tests are being run.

@mark-simulacrum did you have some ideas for this already in mind? How were you expecting the generated output to look / what sort of granularity did you w

[2022-04-13 02:39] jyn514 commented on #95995
@rustbot label +A-testsuite +A-rustbuild

[2022-04-13 02:43] HackerFoo commented on #46796
I thought this fixed it, but it wasn't enough. Based on a [Stack Overflow thread](https://stackoverflow.com/questions/13777446/ios-how-to-get-stack-trace-of-an-unhandled-stdexception), I think I've found a solution.

In Rust:
[code]

and in Swift:

[code]

Now, the actual `panic!()` line is in the stack trace.

[2022-04-13 02:46] Mark-Simulacrum commented on #95995
I think there's been several off hand comments but nothing super well documented. Likely https://github.com/rust-lang/rust/pull/93717 or something like it would be done to prepare files, though for this we'd want to integrate into compiletest and/ory libtest to get per-test

[2022-04-13 02:47] jyn514 commented on #95994
Mentoring instructions: For each test, decide whether it's meant to be a test or just a code comment. Then, add `ignore` to comments or fix the failing test.

For example, this test is just a comment, because it's not meant to be valid syntax:
[code]

but this one can easily be a doctest:
[code]

@rustbot label +E-help-wanted +E-mentor

[2022-04-13 02:50] jyn514 commented on #95995
Ooh, https://github.com/rust-lang/rust/pull/93717 looks really cool :) I'll keep an eye on that.

Oh wow, per-test granularity! That would be awesome if it worked :D what would we compare it to? Is the idea to make sure that all CI runners are running the same tests? More tests are being added constantly so we couldn't use a golden reference or anything like that.

[2022-04-13 02:52] Mark-Simulacrum commented on #95995
(updated comment).

[2022-04-13 03:02] jyn514 commented on #95995
Got it, makes sense :) I am worried though about what happens if tests are renamed - git rename detection is pretty imprecise, and it's not *terribly* rare to rename tests (e.g. https://github.com/rust-lang/rust/pull/91037).

Doctests are also likely to cause trouble, although we probably don't need to know each individual code block being run, just whether the test runner itself is built / run.

[2022-04-13 03:10] jyn514 opened #95996 "Run `test --stage 0 library/std` in CI"
These tests were recently broken by https://github.com/rust-lang/rust/pull/95449. It shouldn't be possible for these to be broken on master - nearly everyone who contributes to the standard library uses `--stage 0`, and this makes it very hard to verify changes.

We should get these running in mingw-check or some other builder.

@rustbot label +P-high +A-testsuite +T-libs

_Originally posted by @M

[2022-04-13 03:10] jyn514 commented on #95996
@rustbot label +P-high +A-testsuite +T-libs

[2022-04-13 03:14] Mark-Simulacrum commented on #95995
My hope is that libtest integration (probably environment variable or so, and dumping JSON into a file) is enough to work for all of compiletest, rustdoc, and direct libtest usage - which would work out great for us in terms of ease of deploying it. (Those files would be consumed and repackaged by rustbuild to associate with target and other metadata, probably).

I'm not particularly worried about

[2022-04-13 03:41] #86411 closed

[2022-04-13 03:41] #94652 closed

[2022-04-13 03:41] #95878 closed

[2022-04-13 03:41] #84660 closed

[2022-04-13 04:28] dalcde commented on #61537
In the same vein, the following does not work but "should":
[code]
Rust is unable to infer that `Ty: Tr<B>` for all `B`.

[2022-04-13 04:43] simbleau opened #96001 "Toolchain 'aarch64-unknown-linux-gnu' does not come with cc for official Docker Image."
I'm trying to build a docker image for a Raspberry Pi 4 which uses Trunk to build a web page.

Pretty common use-case, right? I would think so. It doesn't build on Arm64v8 architecture and fails to find cc.

I checked `/usr/local/rustup/toolchains/1.60.0-aarch64-unknown-linux-gnu/lib/rustlib/aarch64-unknown-linux-gnu/bin` and confirmed cc does not exist, but gcc/g++ is installed.

Here was my Dock

[2022-04-13 05:29] oli-obk commented on #69487
We tried that, it's unclear why it didn't work here yet and requires further analysis.

[2022-04-13 06:37] matthiaskrgr commented on #95978
another case
`src/tools/miri/tests/run-pass/issue-91636.rs`

[code]

[code]

[2022-04-13 06:59] fee1-dead commented on #94803
Issue seems to be resolved after #94901.

[2022-04-13 06:59] #94803 closed

[2022-04-13 07:25] matthiaskrgr commented on #95978
Probably caused by https://github.com/rust-lang/rust/pull/95320 cc @JakobDegen

[2022-04-13 07:40] bjorn3 commented on #95995
Maybe we could have a fuse filesystem which checks that all files are accessed at least once and if not prints out a list? That wouldn't help with doc tests, but it may help with other kinds of tests and dead files in general.

[2022-04-13 07:50] #82446 closed

[2022-04-13 07:50] #95204 closed

[2022-04-13 08:18] lqd commented on #95945
Since this repro depends on `serde_repr`, and in turn `serde`, `syn`, etc it would be good to have an MCVE so that we can turn it into a test ?

[2022-04-13 08:34] nrc commented on #83701
Summarising the Zulip discussion, there was mostly discussion on whether and how to support `impl Trait` in explicit generic arguments, rather than about the feature itself. In particular a path for converting an `impl Trait` type to a generic type. There was nobody against stabilising this feature and implied or explicit support for it from everyone involved.

To paraphrase, I think the only risk

[2022-04-13 08:52] petrochenkov commented on #83701
Until today I thought that `explicit_generic_args_with_impl_trait` is exactly for explicitly specifying `impl Trait` implicit generics.
[code]
But looks like it's not the case, so it further cements the approach that implicit generic parameters introduced by `impl Trait` are special magic, and not just sugar for regular generic parameters.
So the main goal of explicit `T` and `impl Trait` being in

[2022-04-13 09:02] petrochenkov commented on #83701
I'm not sure why this is an issue.
Type parameters for `impl Trait`s are created in "left to right" aka DFS order.
Complex nesting is rare in practice so this works fine.
C++ does this too.

[2022-04-13 09:08] a1phyr commented on #71213
I don't think we want to stabilize this feature while WASI is not stable itself.

[2022-04-13 09:16] oli-obk commented on #83701
As long as we keep the door open to allowing argument position impl trait to be specified later (via the mentioned `foo<u32, ...>()` syntax, which could be useful in general), I think it would be fine to punt on the exact way to specify them to later

[2022-04-13 09:20] JakobDegen commented on #95978
Oops. That's my b, I'll have a PR up in 10 minutes

[2022-04-13 09:30] scottmcm commented on #83701
While I'm a fan of offering `foo::<u32, ..>()` to avoid `foo::<u32, _, _, _, _>()` (analogously to tuple struct patterns), it not obvious to me that we ever *need* to allow turbofishing an APIT.

Given that it appears in an argument, there's always a way to specify it other than by turbofishing, right?

[2022-04-13 10:18] gabi-250 commented on #95734
It happened again with Rust 1.60.0, but this time I was compiling a different (but related) project.
[code]

[code]

This time it failed in ` llvm::MetadataTracking::track(void*, llvm::Metadata&, llvm::PointerUnion<llvm::MetadataAsValue*, llvm::Metadata*>) ()`:
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

In both instances where the segfault happened I was r

[2022-04-13 11:08] oli-obk commented on #83701
Not right now. You can cast your type, but that may break inference. You could use a generic identity helper and specify the generic param of that.

The problem stays that you can't make your APIs prettier without a breaking change, because users may already be turbofishing your functions.

[2022-04-13 11:58] XxSNiPxX opened #96007 "Possible i32 bug ."
from_str_radix  returns PosOverflow while the same method for u32 does not . tried this code:

This returns an error
[code]

This does not
[code]

I expected to see this happen: Expected a conversion from radix to i32 little endian

Instead, this happened: PosOverflow error

[2022-04-13 12:06] #96007 closed

[2022-04-13 12:31] #50614 closed

[2022-04-13 12:36] iliekturtles commented on #73420
@Mark-Simulacrum @spastorino With this documented in the [1.45.0 compatability notes](https://github.com/rust-lang/rust/blob/master/RELEASES.md#compatibility-notes-15) are there still open questions that need action or are we good to close this issue?

[2022-04-13 12:38] yescallop commented on #57775
I also ran into this issue when I tried to do some compile-time assertions based on generic parameters from outer function.
Here's one workaround I thought of, which I hope will help:
[code]

[2022-04-13 12:39] Mark-Simulacrum commented on #73420
I think we can close. I'm not fully happy about the explanation we have, but it seems good enough for the time being.

[2022-04-13 12:39] #73420 closed

[2022-04-13 13:46] fmease opened #96009 "The lint `unused_doc_comments` classifies all kinds of `#[doc …]` attributes as documentation comments"
The lint `unused_doc_comments` triggers on _any_ `#[doc …]` / `#![doc …]` (on any token stream inside the attribute) when it should only trigger on actual documentation comments i.e. `#[doc = …]` / `#[doc = …]`.

E.g. the following code incorrectly labels `#[doc(hidden)]` as a doc _comment_:

[code]

[code]

@rustbot label A-lint
@rustbot claim

[2022-04-13 14:15] jyn514 opened #96011 "compiletest: only take a `--python` argument and remove the `--lldb-python` / `--docck-python` args"
Compiletest currently has two different arguments telling it which python to use. Since https://github.com/rust-lang/rust/pull/95441, both are always the same. We should change it to just one `--python` argument to simplify things.

Mentoring instructions: Change https://github.com/rust-lang/rust/blob/f38c5c8e5d76ea9a87fece143425ef7c703c706a/src/tools/compiletest/src/main.rs#L64-L65
to be a single

[2022-04-13 14:20] jyn514 commented on #96009
@fmease if you change this, I think you should also make sure that `unused_attributes` is being run for `doc(hidden)` attributes and not just built-in attrs.

[2022-04-13 14:24] jyn514 opened #96012 "rustc_resolve: entered unreachable code in resolve_rustdoc_path"
### Code

"all of rustdoc"

### Meta

`rustc --version --verbose`: rustc 1.62.0 (23a96e02d 2022-04-13)

@rustbot label +T-rustdoc +A-resolve

### Error output

See the logs for https://github.com/rust-lang-ci/rust/runs/6005865530?check_suite_focus=true.

@petrochenkov this may not be worth investigating until I find a way to reproduce locally - just tagging you in case it's a simple fix.

<details

[2022-04-13 14:25] michaelwoerister opened #96013 "Remove impl_stable_hash_via_hash!()"
I came across `impl_stable_hash_via_hash!()` the other day and it seems very problematic because one can easily generate invalid `HashStable` implementations without even noticing:

[code]

I think we should just remove the macro (or keep it local to the module that implements `HashStable` for basic types). `#[derive(HashStable_Generic)]` is available as a safe alternative.

`rustc_lint_defs::Leve

[2022-04-13 14:25] jyn514 commented on #96012
https://github.com/rust-lang/rust/blob/f38c5c8e5d76ea9a87fece143425ef7c703c706a/compiler/rustc_resolve/src/lib.rs#L1826-L1835

[2022-04-13 14:31] apiraino commented on #95926
thanks @12101111 for the investigation. This looks like a distro specific issue that should be probably handled by them, correct? Just trying to understand if there's an actionable on out side.

[2022-04-13 14:33] michaelwoerister commented on #96013
I plan to fix this on Friday if nobody beats me to it.

[2022-04-13 14:36] PatchMixolydic opened #96014 "Using macros 2.0 single-matcher shorthand with `macro_rules!` results in an invalid suggestion"
Given the following code ([playground](https://play.integer32.com/?version=nightly&mode=debug&edition=2021&gist=044bfb218a6c674af58d48ab60892f7f)):

[code]

The current output is:

[code]

Neither of the suggestions in the first diagnostic are valid syntax:
[code]

[code]

[code]

[code]

Ideally, the first diagnostic shouldn't appear in this case.

@rustbot modify labels: +A-macros +D-incorrect

[2022-04-13 14:38] nikomatsakis commented on #95331
This is a problem with for and the lack of implied bounds (which I would like to fix), but I think it is fairly orthogonal from GATs.

What is happening here is that the `&'b mut dyn for<'a> FnMut(Self::Item<'a>)` is only well formed if `dyn for<'a> FnMut(...): 'b`. Normally, we would add an implied bound that indicates that this is the case, but because of the higher-ranked region `'a` we don't d

[2022-04-13 14:49] nikomatsakis commented on #92985
Fascinating. This is indeed problem case #3. Usually the workaround is to convert from `let x = common; if condition(x) { return x; }` to

[code]

But, in this case, we can only execute `next` once. Very interesting!

[2022-04-13 14:56] nikomatsakis commented on #92096
Is this a dup of https://github.com/rust-lang/rust/issues/71723 ? I guess the error looks different.

[2022-04-13 15:02] petrochenkov commented on #96012
This should be fixed either by https://github.com/rust-lang/rust/pull/95681 or by https://github.com/rust-lang/rust/pull/95887.

[2022-04-13 15:07] jyn514 commented on #95995
@bjorn3 fuse sounds fun but it seems like strictly more work since we already have pretty intimate access to compiletest and libtest. Also I think FUSE only works on linux, and one of the goals here is to compare tests between different OSs.

[2022-04-13 15:08] jyn514 commented on #96012
https://github.com/rust-lang/rust/pull/95681 is in the commit history for https://github.com/rust-lang/rust/commit/23a96e02d620767e71ce4810a925e92db595a497, but I can try again when https://github.com/rust-lang/rust/pull/95887 is merged :+1:

[2022-04-13 15:13] lqd commented on #95945
Note: this issue was fixed by #95656 which will be available in tomorrow's nightly.

[2022-04-13 15:14] PatchMixolydic commented on #93925
Note that `unused_must_used` not firing on block returns is documented/intentional behaviour. [Quoth the Reference](https://doc.rust-lang.org/reference/attributes/diagnostics.html#the-must_use-attribute):

At the time I opened this issue, I thought that applying this lint to `unsafe` blocks greatly decreased the utility of `#[must_use]` on `unsafe fn`, as it is common practice to scope `unsafe` bl

[2022-04-13 16:07] joshtriplett commented on #95926
@apiraino The action on the Rust side would be to roll back the use of this by default until it's more widely supported. Or, alternatively, aren't m attempt to detect the use of the wrapper and roll it back in that circumstance, but that seems fraught.

[2022-04-13 16:08] joshtriplett commented on #95926
(Also, long-term, we could fix this by making the wrappers not necessary anymore for cross compiling with musl.)

[2022-04-13 16:11] m-ou-se commented on #85434
This has been fixed on Linux. We no longer use pthread locks on Linux. :)

[2022-04-13 16:16] Elliot-Roberts commented on #95994
Hi I could try to do this.
I understand how to find the failing doctests, but for the second example (code that is in a doc-comment but not a code block) is there any good way to find those? And in that particular case, while it could be a made a doctest, it was probably written just as text because it's the style not the function that is relevant. Is it important to have those converted to doctes

[2022-04-13 16:23] petrochenkov commented on #78301
In band lifetimes were removed, so closing this.

[2022-04-13 16:23] #78301 closed

[2022-04-13 16:24] nrc commented on #83701
This seems really nasty to explain, having to specify a search order seems the opposite of intuitive.

I don't think this makes it OK for Rust, given how painful C++ generics are in general, this is probably a reason not to do it

Type ascription?

Sugar or magic is an implementation issue. We should strive to do what is best for the user.

Main goal for whom? This seems like a nice to have rather

[2022-04-13 16:46] AlecGoncharow commented on #96011
@rustbot claim

[2022-04-13 16:49] dogukanakkaya opened #96017 "Provided allocation has wrong size for slot count"
I am trying to build [signalapp/zkgroup/ffi/j](https://github.com/signalapp/zkgroup/blob/master/ffi/java/Makefile)
But got an error

[code]

[2022-04-13 18:21] Aaron1011 commented on #95945
I have a minimized test locally - unfortunately, ai don't think it can be made to work with the revision system. I work on converting to a run-make test that manually edits the file.

[2022-04-13 18:30] danielhenrymantilla opened #96018 "Regression w.r.t. lazy evaluation of cfg predicates"
### Code

I tried this code:

[code]

I expected to see this happen: code compiles fine, since the previous cfg resolves to `true`, short-circuiting the `any` until it reaches `__super_useful_macro_rules_hack = 42`

Instead, this happened: on a non-stable Rust compiler, these last attributes are nonetheless evaluated, and the compiler triggers an error for code that otherwise compiles fine.

### V

[2022-04-13 18:32] m-ou-se commented on #74465
That sounds great. I'm wondering if this means they shouldn't live in the `{core, std}::lazy` module, but instead in `core::cell` and `std::sync`.