[2019-09-16 07:50] #57298 closed

[2019-09-16 07:51] jonas-schievink commented on #55172
This should be fixed by https://github.com/rust-lang/rust/pull/64250

[2019-09-16 07:51] #55172 closed

[2019-09-16 08:04] nox commented on #64371
If you really want markup, then IMO each trait item should be in its own `li` tag. A trait contents are a list of trait items, after all.

[2019-09-16 08:15] pnkfelix commented on #62896
My main option for trying to test this scenario would be on QEMU, and its been a while since I messed around with that.

So, before I invest the time in figuring out how to get that going on my machine (which may be trivial, since historically the project has used QEMU as a way to test ARM targets): Can someone easily check whether this problem does or does not reproduce on a QEMU target? In other

[2019-09-16 08:28] stefson commented on #62896
The missmatch of toolchains between release and CI seems to make the output of CI doubtfull to me, so is there a way to fix this missmatch of CI configuration then? @msizanoen1

I tried to run this in gdb, but need rustc+cargo with debug symbols for helpfull output. It's not possible for me to build or run that, maybe someone owning a rpi4 with 2 or even 4gb of ram can jump in to help.

[2019-09-16 08:29] H-ZeX opened #64501 "num(f64) >u64::MAX cast to u64 has no panic"
[code]
This program has no panic.

`u64::MAX` can not be repesented by 64bit num(IEE756) precisely, so `u64::MAX` as `f64` will get a num bigger than `u64::MAX`, that can not be represent by 64bit integer. So I think `u64::MAX as f64 as u64` should panic, because there is overflow. **And  this is undefined behavior**.

**I think for any `undefined behavior`, should panic, and let the user avoid to

[2019-09-16 08:31] fenhl commented on #62896
@stefson I have a 4GB RPi4, how can I help?

[2019-09-16 08:32] jonas-schievink commented on #64501
Duplicate of https://github.com/rust-lang/rust/issues/10184

[2019-09-16 08:32] #64501 closed

[2019-09-16 09:18] RalfJung commented on #64107
Personally, I think a one-liner comment in `Vec::append` saying "`set_len` cannot panic (unless there already was a bug before)" would be reasonable, but not required.

[2019-09-16 09:53] stefson commented on #62896
No offense, but I meant to find someone running my own distro (gentoo), since I can't simply copy over a binary from debian.

[2019-09-16 10:08] RalfJung commented on #64484
I am pretty sure it is. Rust has ["values" and "places"](https://doc.rust-lang.org/reference/expressions.html#place-expressions-and-value-expressions), and that use of the term "value" aligns with what I said. It also does *not* align with what `Rc` does. This is also how we are using the [term "value" in the UCG](https://rust-lang.github.io/unsafe-code-guidelines/glossary.html#value).

So why are

[2019-09-16 10:29] raidwas commented on #44580
I ran into the same problem, but found a  workaround using `MaybeUninit`:
https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=3100d5f7a4efd844954a6fa5e8b8c526
It's obviously just a workaround to get properly initialized arrays, but for me this is sufficient until a proper way is made available.
Note: I think the code should always work as intended but if someone finds a bug

[2019-09-16 10:44] gnzlbg commented on #64484
That sounds reasonable to me.

Indeed. The`Rc::ptr_eq` only compares the addresses of the buffer where the `T` is stored. So for example if we were to implement it in such a way that it were to create `&T`s internally, then those would be invalid if the `T` has been dropped, resulting in UB.

[2019-09-16 10:46] acnologia000 commented on #64453
@hellow554 its the first time i am seeing that cargo has clean command

[2019-09-16 12:14] msizanoen1 commented on #62896
If you are using debian:
[code]
After then download the armv7 rustc manually, binfmt_misc will make it execure transparently under QEMU.

[2019-09-16 12:32] oli-obk opened #64506 "ICE when const evaluating UB"
This ICEs on stable, probably since March 2018, but it requires the user to do UB in constants, so...

I think a possible fix would be to enable validation in const eval (cc @RalfJung 	), though we should benchmark the perf considerations around that first. Alternatively we can just not ICE here and instead emit an error.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug

[2019-09-16 12:39] steveklabnik commented on #64484
I don't see any of those things that suggest any sort of demands around identity; Rust clearly has *values*, it's the "does not have any identity beyond mathematical interpretation" bit.

I tend to see this language around OOP languages that are adding "value types" to the currently existing "object types", but Rust doesn't have those. It's all just values.

[2019-09-16 12:46] steveklabnik commented on #45774
Triage: the codegen has changed, but the two functions are still different:

[code]

[2019-09-16 12:53] steveklabnik commented on #32969
Triage: Changing `hello world` to a panic.

Compiling with `msvc`:

[code]

With `gnu`:

[code]

These are pretty close to each other; has this been fixed?

[2019-09-16 12:57] steveklabnik opened #64507 "Backtracing pretty print regression?"
I was investigating some backtracing stuff, and I noticed that backtraces look like this:

[code]

Now, they *used* to look like the mingw target:

[code]

Note the lines from `std`; they're not showing the full path. There *are* still details wrong (using both `\` and `/` for example) but I think this is a regression in pretty-printing? It's also not clear to me why the backtrace crate's full pat

[2019-09-16 12:59] varkor commented on #64445
I think the "defining uses" for TAIT are far too restrictive at the moment. I know that @alexreg was intending to look into similar issues.

[2019-09-16 13:02] steveklabnik commented on #46662
Triage: no changes.

That said, I'm not 100% sure that this is incorrect; given that an extern type is "some type we don't know the size or layout of", how would we possibly get a `Debug` implementation for it?

[2019-09-16 13:04] steveklabnik commented on #46147
Given that there's a way to do this today, and no other comments in the (almost) two years since this was posted, I'm going to give this a close. Thanks!

[2019-09-16 13:04] #46147 closed

[2019-09-16 13:05] steveklabnik commented on #39492
Triage: I'm not aware of any movement on this issue since Alex posted the path forward.

[2019-09-16 13:12] steveklabnik commented on #40613
It's been two years, and the borrow checker has been replaced entirely. I cannot compile the old minimal example due to a glib dependency mismatch.

I think I'm going to give this a close, as it seems like this is known/intended behavior, and doesn't seem to be tracking some sort of huge adjustment we want to make to the borrow checker. If we get a new minimal example (preferably one with no exter

[2019-09-16 13:12] #40613 closed

[2019-09-16 13:13] steveklabnik commented on #50560
Triage: it's been over a year. We're on LLVM... 8? now? Is this ticket still relevant?

[2019-09-16 13:15] steveklabnik commented on #28959
Triage: the error message is fundamentally the same here, just with the new format:

[code]

[2019-09-16 13:15] steveklabnik commented on #29598
Triage: I'm not aware of any movement on this feature, neither to remove, fix up, nor stabilize.

[2019-09-16 13:23] steveklabnik commented on #35535
Triage: is there a way to reproduce this today, easily? Is this issue still tracking something useful?

[2019-09-16 13:24] steveklabnik commented on #33577
Triage: no changes here that I'm aware of.

[2019-09-16 13:28] steveklabnik commented on #41607
Triage: given the discussion above, and that there hasn't been any other real comments on this issue (other than @mitsuhiko who seems to have fixed it), I'm going to give this a close. Thanks!

[2019-09-16 13:28] #41607 closed

[2019-09-16 13:29] steveklabnik commented on #47133
Triage: the error message is the same today, and I'm not aware of anyone working on the "point to the 'use' site" idea either.

[2019-09-16 13:34] SimonSapin commented on #39492
We’ve since added *more* Unicode-related functionality to libcore (and do not have a `libstd_unicode` crate anymore), on the basis that the linker should eliminate from the final binary any table that is unused.

I suppose this issue is relevant from cases where `<str as fmt::Debug>fmt` *is* used, and space is very restrained. However there is probably not much to do here until std-aware Cargo (an

[2019-09-16 13:54] sfackler commented on #64507
cc @alexcrichton @cramertj I'd guess fallout from #64152?

[2019-09-16 14:05] RalfJung commented on #64506
Interesting. ICEs in Miri with `-Zmiri-disable-validation` are also bugs, so I'd say doing more validation is not the right call.

Do you have a backtrace? Which code is responsible for ICEing here and how hard/bad would it be to just error instead?

[2019-09-16 14:21] sfackler commented on #46662
Extern types are commonly used with FFI, so an implementation could look something like:

[code]

[2019-09-16 14:31] KrishnaSannasi commented on #44580
@raidwas you are dropping uninitialized memory when you use the `=` operator to initialize uninitialized memory. Do this instead,

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5d962ce7c553e850030240244608ec00

[2019-09-16 15:07] raidwas commented on #44580
@KrishnaSannasi thanks, good catch :D

[2019-09-16 16:07] ExpHP commented on #64464
The only method that can possibly be implemented is `as_ne_bytes`. (native endian)

`as_le_bytes` would be impossible to implement on BE systems, for precisely the same reasons that you cannot write your own function.  Sure, `num` may be alive, but that does not matter because `num` would not contain those bytes in little-endian order.

I daresay I've never heard anyone mention over-alignment befo

[2019-09-16 16:28] KrishnaSannasi commented on #44580
Technically, dropping even floats is undefined, but it isn't exploitable right now.

[2019-09-16 16:32] donnellycolton opened #64511 "Cargo build fails to spawn thread"
I've written a small client program for connecting to a server using TCP/TLS. The code successfully compiles on my local machine, but fails to compile on a remote server. The compilation error only happens during the phase where the crates are compiled.

Crates:
bufstream v0.1
clap v2
openssl v0.10
openssl-sys v0.9

Compiler output: [gist](https://gist.github.com/donnellycolton/ed18a989f275f6fed5e

[2019-09-16 16:37] alexcrichton commented on #64507
@steveklabnik can you detail what you're doing, what targets you're using, and what rustc versions were involved? I wasn' able to easily reproduce on mingw stable/beta/nightly and msvc has the same behavior going back to at least 1.35.0

[2019-09-16 16:58] donnellycolton commented on #64511
I found the problem on the server: I reached the "disk quota" set by the server admin for my account. However, shouldn't cargo display this information?

[2019-09-16 16:58] Aaron1011 commented on #64494
I think we actually need to ban all generic parameters from const expressions in trait impl `where` clauses.

Consider this code:

`impl<T> MyTrait for T where Is<{type_name::<T>()}>: True`.

This would require coherence checking to determine if any other impls have a const equal to *the name of the type the trait is implelented on* - or in general, any `const fn` of the name.

While this introduc

[2019-09-16 17:05] nikomatsakis opened #64512 "async fn drop order for temporaries in return expression does not match sync"
This asynchronous function:

[code]

will drop first y, then x, then the temporary D. However an equivalent synchronous function ([playground]) would drop the temporary, then y, then x. The problem is our desugaring for async fn, which looks something like this:

[playground]: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=99694c2815ff09142b1cc51c10b29111

[code]

here, t

[2019-09-16 17:05] nikomatsakis commented on #64512
Proposed fix is to alter the desugaring to:

[code]

Changing to `return $body;` (note the semicolon!) will cause any temporaries in the tail expression of the body to be scoped to that final statement, and hence to be dropped *before* the parameters.

[2019-09-16 17:09] nikomatsakis commented on #64512
I've got a branch in my repository that adds a testcase for this:

https://github.com/nikomatsakis/rust/tree/issue-64512-drop-order-tail-temp

[2019-09-16 17:12] Aaron1011 commented on #64494
Actually, there is one alternative: for the purposes of coherence checking, deliberately over approximate the cases where this kind of impl can apply.

That is, we would treat an impl like

[code]

as though the user had written
[code]

That is, we treat the `where` cause as always applying, which means that this impl would be considered to conflict with any other impl of `MyTrait`.

The impl woul

[2019-09-16 17:32] mati865 commented on #63848
Status update:
I believe https://github.com/rust-lang/rust/pull/64381 should have fixed this issue for `rustc` executable.
https://github.com/rust-lang/rust/pull/64384 removed removed `rand` dependency from `rustc-workspace-hack` which should allow tools to upgrade their `rand` dependency.

@lienke could you try next nightly (it will be released on 2019-09-17 00:00 UTC)?

[2019-09-16 17:36] nikomatsakis commented on #64391
I can confirm that this is actually a duplicate of #64512, so this is a genuine bug. An alternative workaround is `return config.connect(tls).await`

[2019-09-16 17:45] Nemo157 commented on #64477
There's a similar issue hitting any usage of `format!` within an `.await`ed expression, it creates `!Send` temporaries that are now live across the await point ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a1469cd10ae5f64b7a2439525bb47a11)):

[code]

[code]

[2019-09-16 17:46] RalfJung commented on #64484
I see, so this is about the identity on values, not what they refer to? But, if "5" is a value in Rust (in `let x = 5`, for example), then how can there be anything else that makes up its identity? I mean, for two things to be distinct, there has to be *something* about them that's different, and when just talking about the abstract "5" vs. the abstract "5", I cannot think of what that would be. F

[2019-09-16 17:51] RalfJung commented on #63848
To be fully precise, it'll be released around 1h later than that (the release process *starts* shortly after midnight UTC but it has to shuffle quite a lot of data around so it takes a bit).

[2019-09-16 17:57] RalfJung commented on #64351
What are the rules a type has to satisfy to be a "well-behaved" object-safe receiver type? Is there a "checklist" such that we can be sure a type that checks all the boxes is good to go as objcect-safe receiver type? This should be documented somewhere persistently, IMO *before* we go on stabilizing more of those.  I am, naturally, particularly interested in any interaction with unsafe code and gu

[2019-09-16 18:15] Lokathor opened #64514 "Needed: `cfg(target_feature)` support for hardware floating point detection."
Currently there seems to be no way to detect at compile time if the target will have hardware floating point support.

Depending on the target arch, this is sometimes expressed in LLVM as a feature named "hard-float", or as a feature named "soft-float", or even as features named "f" and "d". It's entirely possible for there to be hardware `f32` support but not `f64` support on some platforms. LLVM

[2019-09-16 18:20] RalfJung commented on #61849
@tmandry the semantics would be the same as `StorageDead(x); StorageLive(x);`, right? It's just compressed for performance reasons? That should be clearly documented as such.

So you plan to only insert this for generators? That's not great, but I can understand why.
Can we have a `-Z` flag (that Miri will set) to insert them everywhere? We already have `-Zmir-emit-retag`, this would be similar in

[2019-09-16 18:32] RalfJung commented on #64490
https://github.com/rust-lang/rfcs/pull/2764

[2019-09-16 18:42] varkor commented on #64494
It would be sensible for now to forbid arbitrary const expressions in `where` clauses, and just allow generic parameters. We could extend this later once we've figured out all the subtleties.

[2019-09-16 18:50] varkor commented on #64494
Note to self: the example in the first post is a good test candidate for using the correct `ParamEnv`, as it currently fails.

[2019-09-16 19:18] raidwas opened #64519 "ICE with const_generic + associated type + double return statement"
<short summary of the bug>

I tried this code:

[code]

I expected to see this happen:
It should build.

Instead, this happened:
rustc crashed with:
`error: internal compiler error: src/librustc/infer/unify_key.rs:143: equating two const variables, both of which have known values`

Possible workaround:
replace `Self::Item` with `[u8;D]`.

## Meta
playground: https://play.rust-lang.org/?version=nig

[2019-09-16 19:20] nikomatsakis commented on #64477
Yeah, this is the same issue. I've written up a [long report on the change that caused this and its motivations](https://gist.github.com/nikomatsakis/fee0e47e14c09c4202316d8ea51e50a0). The report also discussed whether we should consider revering that change, and what that would mean.

[2019-09-16 19:23] nikomatsakis commented on #64391
Minimized test case is just this:

[code]

[2019-09-16 19:29] #64022 closed

[2019-09-16 19:29] #64339 closed

[2019-09-16 19:29] #64410 closed

[2019-09-16 19:29] #31496 closed

[2019-09-16 19:32] nikomatsakis commented on #64512
I'm working on a fix, so self-assigning.

[2019-09-16 19:40] MarkMcCaskey opened #64521 "Passing a function to the host from Wasm gives incorrect index"
Hello! I was doing some experimenting with Wasm callbacks and ran into 2 issues.

The code for the guest is compiled with Rust `1.37.0` on OSX with `--target=wasm32-unknown-unknown` and `--release`.

[code]

The host imports `call_guest_fn` and `call_guest_fn2` are identical, they just assume a signature and call the function as well as print out the value that it gets as an argument.

The relevan

[2019-09-16 19:50] Mark-Simulacrum opened #64523 "rustbuild: ensure single location for -Dwarnings"
https://github.com/rust-lang/rust/pull/64316 will move us back a bit due to regressing on not handling external/internal tools differently but we should be able to recover from that relatively easily. This issue tracks said work.

[2019-09-16 19:53] olegnn opened #64524 "Weird compiler error for type annotations"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=73744b7df66775143e8be375ebbece8e))

Error will be
[code]

Which is a little bit confusing because there's no type parameter `F` in `std::result::Result<i32, E>`.

On the other hand, if we place `let handler = |(a, b)| Ok(a + b);` before `let result = spawned_result.map_err(|e| e.into());`, we will receive

[2019-09-16 20:20] phil-opp commented on #62918
@cavedweller I took a detailed look at your work-in-progress implementation at https://github.com/cavedweller/rust/commit/11c94220a62cd937090e9e6a04e50bb5f434ba6e today. I think the next step would be to adjust the MIR transformation in `librustc_mir/transform/generator.rs`, which transforms generators into "normal" state machines. I assume that we would need to adjust the code generated for `yiel

[2019-09-16 20:36] programmerjake commented on #44580
I would have expected that dropping any `Copy` type, even uninitialized ones, is a no-op. Maybe that's worth changing.

[2019-09-16 20:40] matklad commented on #63689
Fond next obstacle: in macros by example, `quoted::TokenTree` erases jointness information, so

[code]

produces `= =`. Note that jointness seems to be correctly *preserved* by macro invocations. I guess we should change `quoted::Delimited` to store token trees with jointness, to better mirror the `TokenStream`.

[2019-09-16 20:41] matklad commented on #63689
@petrochenkov is ^ a good plan? Or are there any bigger plans for refactoring quote, which we should do first?

[2019-09-16 20:43] novacrazy commented on #44580
It's still technically UB. While safely dropping defined `Copy` values is a no-op, the compiler may decide to do some unexpected optimizations if you attempt to drop uninitialized memory of any type (e.g. remove all code that ever possibly touches that value), which could possibly break things. That's my understanding of it.

[2019-09-16 20:49] LukasKalbertodt commented on #44580
Not to be impolite, but ≥ 60 people get notified about comments on this thread, so we should probably keep the off-topic discussion to a bare minimum. Let's rather use this to coordinate the work on const generics as that's what we all want to happen.

[2019-09-16 20:54] petrochenkov commented on #63689
I never thought about this case.
Preserving jointness would probably be a good start unconditionally.

IIRC, the stuff in `syntax::ext::tt::quoted` should behave exactly like usual token streams, it's just re-hashed slightly for more convenient work with `macro_rules` DSL.
(Maybe it doesn't even add too much convenience and can be removed? Who knows.)
Anyway, if it behaves differently than regular

[2019-09-16 20:58] matklad commented on #63689
Hm, so that we represent `$var:ty` as literally `$var:ty`, and just match them on the fly while transcribing? I guess I'll try this approach for [mbe](https://github.com/rust-analyzer/rust-analyzer/blob/ba583091e60553633dd3cc9ab37a1d9f64827a1e/crates/ra_mbe/src/lib.rs) in rust-analyzer. Currently, we blindly copy rustc approach with duplicated TokenStream.

For rustc, I feel like it's better to st

[2019-09-16 21:16] jonhoo commented on #64445
This is also becoming increasingly common for people writing their own `impl Future` blocks as library authors move to `async fn` and `-> impl Future` functions (e.g., [`tokio::TcpStream::connect`](https://docs.rs/tokio/0.2.0-alpha.4/tokio/net/tcp/struct.TcpStream.html#method.connect)), since it is now impossible to name the return type so that it can be embedded in other (custom) futures. You can

[2019-09-16 21:18] tmandry commented on #61849
Sorry this was unclear. The main reason to introduce a new kind of statement it is so that it can be ignored in codegen, and any MIR passes which wish to be conservative. Then over time we can start using it in more passes. Specifically I don't want LLVM relying on this yet, since it could break unsafe code in the wild. Performance is a secondary benefit.

[2019-09-16 21:56] RalfJung commented on #61495
@vertexclique any update on this?

[2019-09-16 22:55] solson commented on #41079
I was just looking at C++20's `midpoint` function (the (2) variant for pointers) and I went looking to see if Rust had something similar on raw pointers, which brought me here. I think `ptr::midpoint(a, b)` would be a neat little addition to Rust to make unsafe algorithm implementations a little more readable, without much libstd maintenance burden.

`ptr::midpoint(a, b)` would be equivalent to (a

[2019-09-16 23:14] estebank commented on #64524
I believe the `F` it's referring to here is the one in [`thread::spawn<F, T>(f: F)`](https://doc.rust-lang.org/std/thread/fn.spawn.html), while the `E` it should be talking about is the one in [`Result<T, E>`](https://doc.rust-lang.org/std/result/enum.Result.html). I believe we're mixing the type argument name from the return and the input.

[2019-09-16 23:15] Aaron1011 commented on #64251
@LukasKalbertodt: It turns out that this issue was unrelated. I've opened a PR to fix it.

[2019-09-16 23:19] LukasKalbertodt commented on #64251
@Aaron1011 I see. Thanks for your work on this :)

[2019-09-16 23:52] matklad commented on #63689
Note there's another place, besides `tt` matcher, where we leak jointness: separators in repetitions:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0785664402fd7d00f2ff8cbf068b871d)

[2019-09-17 01:06] #64363 closed

[2019-09-17 02:03] steveklabnik commented on #52469
Both PRs that were said to fix this have been closed; given that this issue is over a year old, and that it's going to be hard to reproduce, I'm going to give this a close. @SimonSapin if you have a way to reproduce this today, let me know and we can re-open!

[2019-09-17 02:03] #52469 closed

[2019-09-17 02:05] steveklabnik commented on #43255
Triage: I'm not aware of any movement on this issue. @bluss's comment seems to indicate that this is an improvement if we could make it happen.

[2019-09-17 02:07] steveklabnik commented on #50778
Triage: it's been over a year, and apparently nobody has run into this issue? @Geobert @Keats have you seen this since the last time you commented? Any way of reproducing?

[2019-09-17 02:10] steveklabnik commented on #27627
Triage: it's been almost four years; doesn't seem like anyone has looked into this. We don't use jemalloc by default anymore.

[2019-09-17 02:13] steveklabnik commented on #25820
Triage; not aware of anyone having implemented this, which, given the fact that all of this is unstable, isn't that surprising. It would be nice to have, but it's unclear that it's a good idea to keep this issue open.

[2019-09-17 02:35] CDirkx opened #64537 "const_generics ICE when propagating const parameter within inherent implementation"
The following compiles:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=d5a905f7a12dd19a13c074e9960f654b)

And so does:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=8cf56520e3f4a3fd01816109548c9ef6)

However, the following does not:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=r

[2019-09-17 04:40] Stebalien commented on #43255
This looks like it has been implemented. At least in Vec, HashMap, BTreeMap, and String.

[2019-09-17 04:40] #43255 closed

[2019-09-17 04:47] bobbobbio opened #64538 "Confusing error message for recursive type"
I recently had a very frustrating issue. I wrote some code that didn't compile, but the error was really hard to track down. I've written a small example to illustrate the issue.

[code]

The above code doesn't compile and errors with the following error:
[code]
The code doesn't compile because the combined use of Take + generics + recursion resulted in a type that was recursively defined. Adding

[2019-09-17 06:37] RalfJung opened #64539 "rustdoc: missing docs for core::ptr::{copy, copy_nonoverlapping, write_bytes}"
The `copy`, `copy_nonoverlapping` and `write_bytes` methods are exposed both via `core::ptr` and `std::ptr`. In fact, `std::ptr` as just a re-export of `core::ptr`.

However, when comparing the two pages, [`core::ptr`](https://doc.rust-lang.org/nightly/core/ptr/index.html) is missing a few items compared to [`std::ptr`](https://doc.rust-lang.org/nightly/std/ptr/index.html): `copy`, `copy_nonoverla

[2019-09-17 06:44] RalfJung opened #64540 "No new nightly for 2019-09-17"
Seems like no nightly was released today. That might be related to https://github.com/rust-lang/rust/pull/64451? Unfortunately I don't think I have access to the logs.

Cc @pietroalbini @rust-lang/infra

[2019-09-17 07:04] RalfJung commented on #61849
What kind of code would be broken by this? Or, to ask basically the same question, where do you want to emit those instructions?

[2019-09-17 07:19] pietroalbini commented on #59637
https://github.com/rust-lang/rust/pull/64517 also disabled LLVM assertions on the following builders:

* i686-gnu
* i686-gnu-nopt
* i686-msvc-1
* i686-msvc-2
* x86_64-msvc-cargo

[2019-09-17 07:29] pietroalbini commented on #64540
Logs are missing on the server, let me start a manual release...

[2019-09-17 07:47] pietroalbini commented on #64540
[code]

[2019-09-17 07:52] RalfJung commented on #64540
Well that is odd. You wouldn't know what commit is is using? (`git_commit_hash` file in the `rust` tarball, if I recall correctly.)

[2019-09-17 07:53] RalfJung commented on #64540
Is there a way for me to download the "dist" artifacts for better testing? Right now I am manually grabbing a bunch of files from https://s3-us-west-1.amazonaws.com/rust-lang-ci2 (and we only get dir listing for alt builds there it seems so I am using those). That's not very convenient at all.

[2019-09-17 07:57] pietroalbini commented on #64540
Apparently not all commits are pushed to toolstate ([toolstate commits](https://github.com/rust-lang-nursery/rust-toolstate/commits/master) vs [rustc merges](https://github.com/rust-lang/rust/commits?author=bors)), for example the latest one (5670d048c0f88af9976b5505c7853b23dd06770d) is missing in toolstate [as there was nothing to commit](https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e3

[2019-09-17 08:03] pietroalbini commented on #64540
Reverting the cause in the meantime -- https://github.com/rust-lang/rust/pull/64543.

[2019-09-17 08:05] martinellison opened #64550 "Please include rustup in the stand-alone installers"
**Describe the problem you are trying to solve**
I installed Rust using a stand-alone installer, but then I could not install additional Rust components.

**Describe the solution you'd like**
The stand alone installers should include Rustup, and anything else that installs using `rustup-init`.

**Notes**
After I installed Rust using a stand-alone installer, there was no way to install Rustup, exce

[2019-09-17 08:06] RalfJung commented on #64540
Alternatively we could land https://github.com/rust-lang/rust/pull/64542 which will just skip of the toolstate is not found.

That installs a toolchain based on these artifacts, but I don't think it gives me access to the tarballs.

FTR, for now I did
[code]

So we are only committing when the toolstate *changed*? Ouch. That kills my entire approach :(

[2019-09-17 08:07] pietroalbini commented on #64540
It should print the URLs it's downloading though.

[2019-09-17 08:37] RalfJung commented on #60301
My PR is [getting reverted](https://github.com/rust-lang/rust/pull/64543) because I was incorrectly assuming that all commits have their toolstate recorded in the toolstate repo. Reopening.

[2019-09-17 08:40] SimonSapin commented on #52469
I suspect that other things have been stabilized in the meantime and this is no longer relevant.

[2019-09-17 08:46] gnzlbg commented on #27627
cc @nnethercote

[2019-09-17 08:47] RalfJung commented on #60301
FTR, for testing `build-manifest`, I downloaded some artifacts:
[code]
then I edited my `config.toml`:
[code]
and finally I ran
[code]
This produces stuff in `build/dist`.

[2019-09-17 08:56] RalfJung commented on #60301
So @pietroalbini @kennytm  looks like we have logic in `change_toolstate` that specifically does not commit to the toolstate repo if nothing changed:

https://github.com/rust-lang/rust/blob/5670d048c0f88af9976b5505c7853b23dd06770d/src/ci/docker/x86_64-gnu-tools/checktools.sh#L112-L113

Unfortunately, this means that we cannot easily fetch the toolstate of the to-be-produced release in build-manife

[2019-09-17 09:05] Geobert commented on #50778
It's fine with me to close this issue for now. Didn't see it for a long time indeed :)

[2019-09-17 09:23] mati865 commented on #60301
Wouldn't it be simpler to save list of "good" components to something like `available_components` and upload it alongside tarballs?
Running `curl 'https://s3-us-west-1.amazonaws.com/rust-lang-ci2/rustc-builds/<hash>/available_components'` would show what you need.

[2019-09-17 10:04] mati865 commented on #64519
cc @varkor: https://github.com/rust-lang/rust/commit/b872e6358549f6627fac1fa7028a547042152806

[2019-09-17 10:38] msizanoen1 commented on #62558
Setting verbose=2 exposes the cause that causes clippy to fail with fmt_macros not found:
[code]
The rustc command above does not have --target flag so it seems like Cargo built it for the host. This expect host stage2 rustc (instead of target stage2) to be available which is not the case in cross compilation.
Removing `plugin = true` line in clippy's Cargo.toml (which causes it to be compiled for

[2019-09-17 10:40] RalfJung commented on #60301
I guess we could upload the two JSON files from the two tool runners somehow? Not sure which would be the right places to hook for that, though.

[2019-09-17 11:24] hskang9 commented on #64453
I ran `cargo clean`, and still got the same compiler error. This is the code

code:
[code]

[2019-09-17 11:29] hskang9 commented on #64453
Both code used file I/O library. In my case, my code worked before I applied writing files. Maybe borrowing check makes an error in writing files in current rust nightly compiler.

My compiler environment is : ` nightly-x86_64-unknown-linux-gnu - rustc 1.39.0-nightly (96d07e0ac 2019-09-15)`

[2019-09-17 12:30] gnzlbg commented on #44839
@jethrogb there is a PR open that fixes the accidental stabilization: #64534 .

[2019-09-17 12:38] steveklabnik commented on #64507
[code]

[2019-09-17 12:40] steveklabnik commented on #64507
It is, in theory, possible that I'm forgetting and MSVC has always had not-pretty backtraces. I don't look at backtraces *that* often, and it's possible that I'm mis-remembering.

[2019-09-17 12:58] aep opened #64547 "mips-linux-musleab is broken again because it uses the wrong crt for static pie"
somewhen between nightly-2019-08-30 and nightly-2019-09-15 the link call was changed to "-static" "-pie" but the crt in mips-linux-musleabi has't changed. it should be rcrt, but instead links the one intended for call via libc via .interpr

result is segv in dlstart

the correct solution is to not ship crt, but since that seems to have no agreement, the intermediate fix would be to either remove -

[2019-09-17 13:01] Electron-libre commented on #61132
No sorry, my son is born ( :heart_eyes: ) few days after my last comment and then I forgot about this issue.
I will not invest time in OSS contributions the next months.
Someone else should pick this issue.

[2019-09-17 13:06] steveklabnik commented on #64484
I think this is the core of it; I would say that there are two different values, both of which have a bit pattern that corresponds to `5`, but they're not conceptually the same thing. That is, identity *is* memory location.

I cannot either; I suspect that it's coming from two different terminology traditions. That's usually what happens in these kinds of situations, anyway.

Re-reading the origin

[2019-09-17 13:08] matklad commented on #63689
This worked out quite nicely for rust-analyzer: https://github.com/rust-analyzer/rust-analyzer/pull/1858. I think we should maybe do this for rustc as well, but probably after moving to disjoint model.

[2019-09-17 13:31] olegnn opened #64548 "Incorrect compiler hint for complicated type handler"
I was trying to implement custom macro parser but fall into strange issue.
Having following code
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=152a53351e6dd8c92e275a3a4ea59739))

I got an error

[code]

So I added ```where impl Peek<Token = T>: std::ops::Fn<(syn::lookahead::TokenMarker,)>``` to the code and then situation became worse:
[code]

For th

[2019-09-17 13:33] CDirkx commented on #64537
Updated title to reflect that the ICE occurs in all inherent implementations (struct, union, enum).

Trait implementations however, do compile:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=a121219c37201cb8d5b3f1fffe6b6e8d)

[2019-09-17 13:33] mati865 commented on #64547
It'd be really helpful if you could bisect this issue to the single nightly.

[2019-09-17 13:36] luser commented on #34681
This seems to work fine now in Firefox 69. For reference it looks like this behavior was changed in Firefox in https://bugzilla.mozilla.org/show_bug.cgi?id=1565942, which landed in Firefox 69 and was backported to 68.0.2.

[2019-09-17 13:45] CDirkx commented on #64537
Slightly reduced error case:

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=c40d17001d8b5b61755839cc8862095e)

[2019-09-17 14:06] oli-obk commented on #41079
Before I can continue with https://github.com/rust-lang/rust/pull/63810 (making `offset_from` const fn), we need to figure out what the expected semantics are. From the docs I would presume that the doctests actually perform UB:

[code]

The second assert looks to me like it violates

because `ptr1` is smaller than `ptr2`, we need to wrap around the address space in order to get the offset to `ptr

[2019-09-17 14:08] PvdBerg1998 opened #64549 "Latest nightly STATUS_ILLEGAL_INSTRUCTION"
On the latest nightly, the following code exits with `STATUS_ILLEGAL_INSTRUCTION` when compiled in release mode:
[code]
It also happens on the playground: https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=fb4cf0ac79a0b792d5c806b28b4ea489.

[2019-09-17 14:11] alexcrichton commented on #64550
I've moved this issue to rust-lang/rust from Cargo, since the installers are built here.

[2019-09-17 14:15] mati865 commented on #64549
@rustbot modify labels: +C-bug +I-nominated +T-compiler

[2019-09-17 14:26] mati865 commented on #64549
Stack trace from release build looks useless but debug build shows useful info:
`thread '<unnamed>' panicked at 'attempt to add with overflow', main.rs:5:13`

<details>
<summary>Click here for details</summary>

[code]

[code]

</details>

@PvdBerg1998 do you know exact nightly release when it started?

[2019-09-17 14:28] nikic commented on #64549
Probably #28728?

[2019-09-17 14:30] alexcrichton opened #64551 "azure: CI doesn't fail if msys2 fails to install"
The "Install MSYS2" step of [this build](https://dev.azure.com/rust-lang/rust/_build/results?buildId=8318&view=logs&j=4bc7ef66-8a59-503f-fa7a-b9533d6853d5) failed, but the build kept going and failed later with obscure errors. We should fix this so that if msys2 installation fails the build fails immediately!

[2019-09-17 14:39] olegnn commented on #64548
[code]
solved the problem but compiler hints in this case only made this little problem looks so terrifying.

[2019-09-17 14:41] Mark-Simulacrum commented on #64550
I personally think that we shouldn't do this; a user who wants to use rustup should get rustup directly, rather than from a tarball containing other things.

[2019-09-17 14:43] leo60228 opened #64552 "Strange error when iterating over BTreeMap in async fn"
[code]
[(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=12ee6a660148c7ba94503fc301a443a0)

[code]

[2019-09-17 14:43] #64540 closed

[2019-09-17 15:07] mjbshaw commented on #41079
I'm not sure I agree with that interpretation. Rather, I think the requirements regarding "wrapping around" mean that you can't have an "object" split in memory (at the end of the address space and wrapping around to the beginning). That's not the case here; the array (and all objects in Rust) are not split. Perhaps the requirement can be clarified, though.

Perhaps the docs could be clarified fur

[2019-09-17 15:24] olegnn commented on #64548
Final solution looks ugly but it works for different token types
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3b4877fcc36dd50bc49c6642e90f9d94))

Is there any way not to pass functions and not to have hardcoded tokens?

[2019-09-17 15:24] PvdBerg1998 commented on #64549
Aren't overflow checks disabled in release compilations? Perhaps that is related.

[2019-09-17 15:51] oli-obk commented on #41079
Oh I fully agree, my problem is that `2` is not a valid address inside the allocated object

[2019-09-17 15:52] Centril commented on #64484
Some discussion in https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/rc-terminology.

I think we should go with:

[2019-09-17 15:58] jonhoo commented on #64477
Another example of this (if we want more test-cases) is:
[code]

[2019-09-17 16:10] mjbshaw commented on #41079
I don't think the docs are talking about the offset value (`2` and `-2` in this case). They're talking about the `offset` function's input pointer and returned pointer.

[2019-09-17 16:53] oli-obk commented on #41079
I assume `starting` to be the argument ("from" which we want the offset) and `other pointer` to be the `self` (the address we want to know the offset relative to the `from` argument). I'm not sure how else to read this. The docs need significant improvements if they are interpreted differently.

[2019-09-17 17:07] ExpHP commented on #64549
If I add a side effect (volatile pointer read) to the loop, it stops crashing.  Inspection of the LLVM-IR shows that, when there are no side-effects, this rather suspicious deletion is made:

[code]

That leads me to write this minimized example:

[code]

In other words: Yeah, it's #28728.

[2019-09-17 17:09] ExpHP commented on #28728
In case anybody wanted to play test case code golf:

[code]

[2019-09-17 17:11] davidtwco commented on #64130
@rustbot claim

[2019-09-17 17:13] mjbshaw commented on #41079
The `offset` documentation uses slightly different wording (you quoted the `offset_from` documentation). I think `offset`'s documentation is reasonably clear:

"starting" is the `self` pointer and "resulting pointer" is the return value.

[2019-09-17 17:22] dtolnay commented on #64477
@nikomatsakis -- your report has this under "Longer lifetime for temporaries results in things \\"living\\" across await that did not used to". In my code at the top, I can't figure out what temporary might be at play. It seems like the only types that exist in the async block before the await are `f::<T>`, `&T`, and `Pin<Box<dyn Future<Output = ()> + Send>>` which all three implement Send. Are we

[2019-09-17 17:23] nikic commented on #64549
Closing as duplicate of #28728 then.

[2019-09-17 17:23] #64549 closed

[2019-09-17 17:24] gilescope commented on #64493
@rustbot claim

[2019-09-17 17:27] nikomatsakis commented on #64433
This too is fallout from https://github.com/rust-lang/rust/pull/64292, similar to #64477.  I've written up a [long report on the change that caused this and its motivations](https://gist.github.com/nikomatsakis/fee0e47e14c09c4202316d8ea51e50a0). The report also discussed whether we should consider revering that change, and what that would mean.

Let's keep discussion about the pro/con of the decis

[2019-09-17 17:28] nikomatsakis commented on #64477
(Marking as blocking as we must  reach a decision one way or the other.)

[2019-09-17 17:30] gilescope commented on #61115
@rustbot claim

[2019-09-17 17:30] Nemo157 commented on #64477
It could be the temporary from the reborrowing of `x`, `f(x)` expands to `f(&*x)`. Although that making it all the way in to the generator type seems odd.

[2019-09-17 17:31] csmoe commented on #63710
@rustbot claim

[2019-09-17 18:02] gilescope commented on #61115
Looks the same issue as #64493.

A little inelegant but if
[code]
we can suppress the lint I think...

[2019-09-17 18:34] birkenfeld opened #64555 "Rustdoc: condense "auto traits" section for types?"
At the moment we have 5 auto traits documented for each type, and there will likely more in the future (e.g. from @oli-obk's consteval talk: `ConstSafe`, `ConstRefSafe`).

For the majority of types where all auto traits are always either impl or !impl, I propose to condense the section, e.g. like in this mockup:

![image](https://user-images.githubusercontent.com/144359/65069219-85804100-d98a-11e9

[2019-09-17 19:23] skinny121 commented on #62456
As of rustc 1.39.0-nightly (96d07e0ac 2019-09-15) it gives an ICE with the following message:
error: internal compiler error: src/librustc/ty/subst.rs:597: const parameter `N/#0` (Const { ty: usize, val: Param(N/#0) }/0) out of range when substituting substs=[]
Which is the same ICE #61747 currently gives.

[2019-09-17 19:45] skinny121 commented on #61747
After investigating, the current ICE is caused by the `AnonConst`(`C`) inside of `Const<{C + 1}>` not being able to locate the generic parameter it is trying to substitute for.

The code at fault is:
https://github.com/rust-lang/rust/blob/9150f844e2624eb013ec78ca08c1d416e6644026/src/librustc_typeck/collect.rs#L903-L916
Which should try and find `Const<...>` based on the `AnonConst`(`C`), but the c

[2019-09-17 20:30] Aaron1011 opened #64557 "Suggest dereferencing boolean reference when used in 'if'"
The following code:

[code]

gives the following errors:

[code]

Note that the first error is missing the "help: consider dereferencing the borrow: `*a`" suggestion.

For consistency, Rust should suggest dereferencing a boolean reference when used in an 'if' expression.

This issue has been assigned to @XiangQingW via [this comment](https://github.com/rust-lang/rust/issues/64557#issuecomment-5329

[2019-09-17 20:31] Aaron1011 commented on #64557
@rustbot modify labels to +A-lint

[2019-09-17 20:32] Aaron1011 commented on #64557
@rustbot modify labels to -A-lint +A-suggestion-diagnostics

[2019-09-17 20:34] the8472 commented on #64379
Have you looked into the [net2](https://crates.io/crates/net2) crate? It supports many additional socket options?

[2019-09-17 20:48] Aaron1011 opened #64559 "Nonsensical suggestion when trying to move value in 'for' expression into closure"
This code:

[code]

gives the following error:

[code]

Rust suggests writing `&||` to avoid borrowing. This suggestion is completely wrong - it is `orig` that should be borrowed (i.e. `&orig`). Attempting to follow the suggestion might lead a user to write `let _closure = &|| orig;`, which is still wrong.

Rust should properly suggest `&orig` in this scenario.

[2019-09-17 20:48] Mark-Simulacrum commented on #64336
I'm afraid not. Can you provide a full log, along with steps to reproduce, ideally starting with `git clone` of rust-lang/rust?

[2019-09-17 20:50] Mark-Simulacrum commented on #64341
Hm, so I think historically the mindset here has been that there's no point in landing a PR that updates tools if we don't actually fix the tools in said PR. Can you clarify why that's a bad policy to have? I myself don't see much point in bumping a submodule if it doesn't actually net us anything.

[2019-09-17 21:03] rodrimati1992 opened #64561 "Ommiting "C" in `extern "C" fn` in derive input causes spans to get lost."
For some reason ommiting the `"C"` in `extern "C" fn` causes the spans to get lost in error messages.

I've created [this repository](https://github.com/rodrimati1992/fn_abi_span_issue) to demonstrate it,simply git clone it and try to build the `using_proc_macro` crate.

The `proc_macro_crate` crate:
[code]

The `using_proc_macro` crate:

[code]

The error message

[code]

The first error is for `

[2019-09-17 21:12] BaoshanPang opened #64563 "the trait std::error::Error is not implemented for getrandom::error::Error |"
I am seeing this issue when building rust libstd unit test:

error[E0277]: the trait bound getrandom::error::Error: std::error::Error is not satisfied
--> /folk/prj-rust-dev/bpang/ala-diab-pb19l/fix_bugs/latest/.cargo/git/checkouts/rand-cc8f5b7ec2d3b6d9/64a4000/rand_core/src/er
ror.rs:150:28
|
150 | Error { inner: Box::new(error) }
| ^^^^^^^^^^^^^^^ the trait std::error::Error is not implemented f

[2019-09-17 21:13] Mark-Simulacrum commented on #64113
I'm going to close this as a duplicate of https://github.com/rust-lang/rust/issues/63478 since I think the other problem is sort of unsolveable (we should do better at poisoning, probably, but not exactly sure).

[2019-09-17 21:13] #64113 closed

[2019-09-17 21:13] Mark-Simulacrum commented on #64563
How are you building unit tests?

[2019-09-17 21:15] dtolnay commented on #64561
Thanks! This is one example of a general problem of the compiler losing span information that is being tracked in https://github.com/rust-lang/rust/issues/43081.

[2019-09-17 21:26] petrochenkov commented on #64561
This one is very easily fixable though, by changing `Abi` to `Option<Abi>` in AST.
(I'm going to reopen and mark as easy/mentor.)

[2019-09-17 21:32] alexcrichton commented on #62896
This was brought up transitively through https://github.com/rust-lang/rust/issues/62933 at the infra team meeting today. I noticed there [was a request](https://github.com/rust-lang/rust/issues/62896#issuecomment-517310276) to use a compiler that has debug and LLVM assertions enabled to hopefully weed out this segfault in LLVM, and I was thinking I could try to help out here.

For those of you who

[2019-09-17 21:34] Mark-Simulacrum commented on #63478
The reproduction in this issue fails to compile in a total of 1.3 seconds with 1.24 seconds spent in name resolution -- and duplicating the set a couple times only gets me up to around ~7 seconds so I feel like this can probably be closed now? It seems sort of "expected" that tons of errors will be slow...

[2019-09-17 21:34] #63478 closed

[2019-09-17 21:37] petrochenkov commented on #64561
`ast.rs` before:
[code]

`ast.rs` after:
[code]

[2019-09-17 21:40] BaoshanPang commented on #64563
I am using this command line:
./x.py test --stage 1 --target aarch64-wrs-vxworks src/libstd

[2019-09-17 21:40] Lokathor commented on #62896
So download, unpack, then use that rustc to try and build any project that currently segfaults?

[2019-09-17 21:45] alexcrichton commented on #62896
Indeed! The `install.sh` script inside can also be used to assemble everything together in a desired directory. If the compiler still segfaults without any helpful messages or [doesn't look much different than this trace](https://github.com/rust-lang/rust/issues/62896#issuecomment-518018268) then it's probably not related to LLVM assertions and this new compiler won't help much.

[2019-09-17 21:45] BaoshanPang commented on #64563
And I also use the crate getrandom at https://github.com/Wind-River/getrandom.git to have the supporting for vxWorks:
[patch.crates-io]
getrandom = { git = 'https://github.com/Wind-River/getrandom.git', branch = 'master' }

[2019-09-17 21:47] Lokathor commented on #62896
Will try this with my Raspberry Pi 4 within the next 24 hours.

[2019-09-17 22:21] #64512 closed

[2019-09-17 22:35] xTachyon commented on #62896
Hopefully I did it right.
https://gist.github.com/xTachyon/fe13814490464ad7535604ccad47a8fc

Looks like there are few more information than the previous trace, but I can't tell if it does help.

[2019-09-17 22:40] Mark-Simulacrum commented on #62896
appears to be new from that trace, but it also seems quite odd -- I would not expect that error...

[2019-09-17 22:43] alexcrichton commented on #62896
@xTachyon judging by this line:

[code]

I'm not sure that you're using the custom compiler? That looks like it's using a standard rustup nightly compiler.

[2019-09-17 22:44] nikomatsakis commented on #64477
@Nemo157 hmm, that is actually not a temporary by the definition I am using here.

@dtolnay good point, perhaps I misdiagnosed.

[2019-09-17 22:44] nikomatsakis commented on #64477
Let me dig a bit more deeply.

[2019-09-17 22:50] xTachyon commented on #62896
Well, I ran the install.sh ..
I don't know, would it be better to five the full path to rustc ?

[2019-09-17 23:01] Aaron1011 opened #64565 "Invalid bound suggestion for argument-position impl trait"
The following code:

[code]

gives the following error:

[code]

The suggestion `where impl Sync: std::marker::Send` is invalid: it should be `impl Sync + Send`

[2019-09-17 23:24] xTachyon commented on #62896
Okay, I'm pretty sure I got it this time. I updated the gist with a new file named `new`.

[2019-09-17 23:39] tmandry commented on #61849
Any code which does something like this:

[code]

I suppose reading the bytes too, but using them for anything is already UB.

I don't know of any code which does this in the wild, but it may well exist. I don't know of an easy way to check for it today.

After moves. Today, just in generators (both to be conservative, and because adding it elsewhere is likely to regress performance).

This is bas

[2019-09-17 23:41] Centril commented on #64341
Suppose you are making a rollup with 10 PRs, 2 of them are for rustfmt/rls/miri-up and clippy-up.
Clippy-ups fail frequently but the others don't. With the current scheme, if Clippy's toolstate is not improved, the whole rollup will also fail wasting many hours where 9 PRs could have landed. Moreover, suppose that both Miri and Clippy fail. In that case, we could have still landed the 8 PRs.

The

[2019-09-18 00:14] Mark-Simulacrum commented on #55625
I'm going to close in favor of https://github.com/rust-lang/rust/issues/4287 which is the same bug (infinite loop on dropck)

[2019-09-18 00:14] #55625 closed

[2019-09-18 00:28] Mark-Simulacrum commented on #64341
Interesting. So I guess the perspective is that it's fine if we don't actually improve things since ultimately we'll just land another PR. I think this should then be reasonable to implement.

[2019-09-18 00:28] Mark-Simulacrum commented on #9232
I am going to close this since I don't think a test here is super helpful.

[2019-09-18 00:28] #9232 closed

[2019-09-18 00:34] Mark-Simulacrum commented on #7539
I believe this can be closed now as we're eventually looking to switch to the new mangling scheme, and in particular this is already listed as an unresolved problem on the tracking issue (https://github.com/rust-lang/rust/issues/60705); we can open a new bug if there's extensive discussion on the subject in the future.

[2019-09-18 00:34] #7539 closed

[2019-09-18 00:36] Mark-Simulacrum commented on #60320
Closing since we think this is okay.

[2019-09-18 00:36] #60320 closed

[2019-09-18 00:36] Mark-Simulacrum commented on #60321
Closing since we believe this is okay.

[2019-09-18 00:36] #60321 closed

[2019-09-18 00:40] Mark-Simulacrum commented on #60322
This has since been fixed, as far as I can tell.

[2019-09-18 00:40] #60322 closed

[2019-09-18 00:59] Mark-Simulacrum commented on #7463
Running a full x.py build I can't seem to get any warnings today so I'm going to presume we've fixed this (or LLVM has moved on and doesn't emit as many lints as previously); either way, closing until we get a reliable reproduction.

[2019-09-18 00:59] #7463 closed

[2019-09-18 02:13] #60425 closed

[2019-09-18 02:24] BaoshanPang commented on #64563
Sorry, the problem is in the getrandom crate used by me.

[2019-09-18 02:24] #64563 closed

[2019-09-18 02:25] withoutboats commented on #64351
Being represented as a pointer to the type and (transitively) safely dereferencing to it.

[2019-09-18 02:25] n-salim commented on #64563
See https://github.com/rust-random/getrandom/pull/105 for resolution.

[2019-09-18 02:29] bIgBV commented on #64205
Okay, something is weird, after pulling in the latest master and making the exact changes in the patch you provided, there are over 8000 failing tests. I want to check if there is something obviously wrong going on, but I might not get back until tomorrow, as each test run takes close to an hour on my laptop.

[2019-09-18 02:30] TyPR124 opened #64568 "Can the Sized bound be removed from Pin::set ?"
https://doc.rust-lang.org/beta/src/core/pin.rs.html#599-604

I am looking closely at pinning for the first time and noticed that set requires the target to be sized. This feels like an unnecessary restriction to me. An unsized read or write is simply a no-op, and it's possible to create a `Pin<Box<()>>`, for example.

Of course, it doesn't make much sense to have a pinned unsized type, but it stil

[2019-09-18 04:07] blitzerr commented on #60424
@nikomatsakis Any notes on this one ?

[2019-09-18 04:14] TyPR124 commented on #64568
This was a dumb question, as I realized/remembered that 0-sized types are still Sized.

[2019-09-18 04:14] #64568 closed

[2019-09-18 05:15] msizanoen1 commented on #62896
@alexcrichton (This reproduces in QEMU)[https://github.com/KomodoPlatform/atomicDEX-API/issues/501#issuecomment-525991377].

[2019-09-18 05:50] msizanoen1 commented on #62896
No assertion triggered, still segfault:
[code]

[2019-09-18 06:42] RalfJung commented on #61849
I see, makes sense.

Having Miri test for this (everywhere, not just in generators) would be a good first step towards finding at least some uses in the wild, I guess.

[2019-09-18 07:22] kcrazy opened #64571 "How to generate SEH code"
Hello!
I am developing a Windows driver and need some SEH code.
These codes are implemented in C as follows:
[code]
Compile this C code with the Microsoft compiler
[code]
I am now going to use rust instead of C to write windows drivers.
How should I generate similar code with rust?
Thanks

[2019-09-18 07:42] stefson commented on #62896
this is my attempt to get a backtrace:

[code]

this is propably another bug showing here, I've never heard of a thing called `futex-internal.h`

[2019-09-18 07:46] oli-obk commented on #41079
`offset` and `offset_from` are very different operations, so let's disect this

[code]

means that `a` and `c` must be part of the same object. So you can use this to access array elements, no problem. This also means that

[code]

is UB, because the resulting `1` is clearly not part of the allocation `x`

Now if we apply this logic to `offset_from`, using the same variables from above  to invert

[2019-09-18 07:48] mati865 commented on #62896
@stefson `Thread 2 "cargo" received signal SIGUSR1` unfortunately this trace not useful.

[2019-09-18 08:24] IlyasAzeem opened #64573 "Survey on Pull Request Prioritization"
Dear Pull Requests integrators,
We are an international group of researchers investigating Pull Requests management activities. We implemented an automated approach, named CARTESIAN, for prioritizing Pull Requests (PRs) received by an open-source project according to the likelihood of acceptance/response. We would like to evaluate whether CARTESIAN can help integrators when reviewing PRs.
As we no

[2019-09-18 08:40] jonas-schievink commented on #64571
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-09-18 08:40] #64571 closed

[2019-09-18 08:41] #16420 closed

[2019-09-18 08:41] #64251 closed

[2019-09-18 08:41] jonas-schievink commented on #64573
The issue tracker is not the right place for this.

[2019-09-18 08:41] #64573 closed

[2019-09-18 09:01] dtolnay commented on #60658
I hit this in https://github.com/dtolnay/async-trait/issues/34 and minimized to a quite similar looking minimal repro but with the associated type in argument position rather than return position.

I believe this code should compile as written, but right now I am totally stuck on what missing bound is being expected. Is there anything similar to @Nemo157's hrtb that would unblock this one?

[code]

[2019-09-18 09:51] rkruppe commented on #64514
Trying to classify chips as "has / lacks hardware support for floating point" (even if f32 and f64 are distinguished) is too coarse-grained and runs into too many edge cases to be useful IMO.

Since you mentioned sqrt as motivation: it is perfectly possible to implement the basic arithmetic operations in hardware but lack a hardware sqrt instructions, which means you definitely have "hardware floa

[2019-09-18 10:09] andrewchambers commented on #56971
Guys you need tarballs so people packaging rust can download rust source code. The archives on github don't have the vendor directory. I can't understand the reason you can't generate single html file listing releases.

[2019-09-18 11:05] ksqsf opened #64577 "Confusing error messages when there are version conflicts"
[code]

This error message is too confusing and should be improved, e.g. point out the version numbers, or warn that there are possible conflicts before checking.

[2019-09-18 11:43] Mark-Simulacrum commented on #64577
Duplicate of https://github.com/rust-lang/rust/issues/22750.

[2019-09-18 11:43] #64577 closed

[2019-09-18 13:07] Lokathor commented on #64514
Unfortunately that low level of granularity is the granularity that the LLVM target features deal in.

To be clear, if the target device has a hardware sqrt ability _but it's not configured for the current build_ because the user did something like "+soft-float" on their `x86_64`, we must respect that. Which is why we need to divine what target features are being used for this build or not.

[2019-09-18 13:14] nikomatsakis commented on #64477
OK, I think @Nemo157 was correct -- the code which computes which types may be live across yields is over-approximating the result here to include a number of intermediaries, far more than is needed. This includes the value of type `*x`, despite it not really being a temporary.

[2019-09-18 13:15] nikomatsakis commented on #64477
Specifically, this clause seems to be the problematic one:

https://github.com/rust-lang/rust/blob/64c09694a6ecc434cd3a61ade89beb1de17770c5/src/librustc_typeck/check/generator_interior.rs#L188-L191

[2019-09-18 13:46] mjbshaw commented on #41079
Agreed.

That's a compiler error. `&x[1] as *const i8` is a pointer type, which does not coerce to `isize`. The `b` expression must be an `isize`.

I'm not sure what you mean by the "resulting `1`".

Agreed, but that expression is a very different. Where is `1 as *const i8` coming from?

No, it results in a very different value (even ignoring UB and the fact that `offset_from` returns an `isize` a

[2019-09-18 14:01] oli-obk commented on #64506
It's ICEing in https://github.com/rust-lang/rust/blob/64c09694a6ecc434cd3a61ade89beb1de17770c5/src/librustc_mir/interpret/place.rs#L387 and we could indeed just emit a UB error here, but it seems very... odd, since the field access check has very little to do with UB at a first glance. The layout is a union with zero fields, because it's essentially `!`.

[2019-09-18 14:25] oli-obk commented on #41079
:man_facepalming: 	I realized now that the tests use `offset` and not `offset_from`. Sorry that I did not listen to you and instead went off on a rant.

[2019-09-18 15:02] XiangQingW commented on #64557
@Aaron1011 I'd love to be assigned to the issue.

[2019-09-18 15:26] varkor opened #64579 "Suggest adding a generic lifetime parameter"
[code]
gives the error:
[code]
but does not suggest the solution: adding a new lifetime parameter `'a` to `foo` and giving both variables the same lifetime.

[2019-09-18 15:35] ChrisGreenaway commented on #61798
I'm now getting this warning even for functions that loop but eventually return. It worked fine with nightly-2019-08-21, but the latest nightly (2019-09-17) is broken.

For example, this code generates a warning:
[code]

with the warning repeated twice:
[code]

[2019-09-18 16:26] PvdBerg1998 commented on #64433
I hit the same issue with something like this:
[code]

[2019-09-18 17:24] Mark-Simulacrum commented on #56971
Source tarballs, among others, are published for all releases to static.rust-lang.org.

https://manifests.rust-lang.org/manifests.txt is what I've come up with to hopefully satisfy @jethrogb's demands at least. Note that the format here is unstable, and we may stop updating this / remove it / etc at any time. It currently contains all nightly, beta, and stable manifests in the static.rust-lang.org

[2019-09-18 17:24] Aaron1011 commented on #64557
@XiangQingW: You can use `@rustbot claim` to assign the issue to yourself.

[2019-09-18 17:28] jethrogb commented on #56971
I like to think of them as request :smile:

I think the stable manifests are missing.

[2019-09-18 18:09] Aaron1011 commented on #64552
Minimized:

[code]

It seems as though the manual `Send` impl is confusing some async-related code. The code compiles if you remove `unsafe impl<'a, T: 'a> Send for MyStruct<'a, T> {} `, even though it's not actually adding any additional region constraints.

[2019-09-18 18:44] nikomatsakis commented on #64477
I opened #64584 which addresses @dtolnay's original example. In general, we are known to overapproximate the set of captures, though, so I wouldn't be surprised if we find more cases that are worth looking at.

[2019-09-18 19:36] RalfJung commented on #64351
`ManuallyDrop` is not a pointer type though.
How does it determine how many indirections to take? Like, `ManuallyDrop<&Self>` and `Box<&Self>` look "syntactically similar" but are obviously different in terms of representation.

Well, we better make sure the std-privileged types we add are actually safe. That's hard to do until we have a proper handle of what that actually means.

[2019-09-18 19:37] maaku opened #64585 "Suggest giving recommending substitution based on naming conventions with available"
New rustacean here. In writing simple programs to get a feel for the language, I tried testing if a string slice is empty as the conditional for a if/else statement. Something like the following:

    if mystr.empty() {
        // ...
    } else {
        // ...
    }

Of course the correct method is `.is_empty()`. I would suppose that this is a common mistake for people coming from languages like

[2019-09-18 19:46] withoutboats commented on #64351
@RalfJung yes, `ManuallyDrop<Self>` is not object safe as a receiver just like `self` is not.

[2019-09-18 19:53] nikomatsakis commented on #61849
I do think it'd be great to know whether this pattern exists in the wild, but I also feel pretty strongly that we are going to want to call it UB in the end. It seems like this comes up fairly regularly when discussing possible optimizations.

In any case, I'm in favor of moving forward with steps towards allowing us to recycle memory, but I don't really think this has to be done before/after asyn

[2019-09-18 19:58] varkor opened #64586 "Match ergonomics means bindings have different types inside and outside of patterns"
Consider the following:
[code]
Here, the variable binding `y` has type `&u32` outside the pattern. However, inside the pattern it has type `u32`. The fact that these types do not align is confusing, as it means you can't dereference `y` inside the pattern like this:
[code]
and instead have to dereference it outside the pattern:
[code]
Is there any reason this was chosen to be the case, or is requi

[2019-09-18 20:06] varkor commented on #64585
If https://github.com/rust-lang/rust/issues/51398 was implemented, we could add `empty` as a synonym. However, we might also be able to improve our word-distance heuristic to catch examples such as this ("is_empty" shouldn't be very far from "empty").

[2019-09-18 20:38] RalfJung commented on #64351
Oh, and receiver types don't "nest", right? So all of the ones you are listing in the OP are exactly one pointer indirection.

However, `Rc` and `Arc` do not dereference to `&self` -- at least not in the sense of the MIR-level `*` operator. Or do you mean that the `Deref` impl is called?

[2019-09-18 20:39] RalfJung commented on #61849
In case the question was directed at me, I am totally fine making that code UB. I'd just hope we can have it fail in Miri *before* we do optimizations based on it. ;)

[2019-09-18 20:40] richtourist opened #64587 "String.find("") returns 'Some(0)' when searching for the empty string; expected 'None'."
Hey, Ferris. Thanks for Rust.
I was surprised by the result of following code, though...

fn main() {
    let s = "Ferris".to_string();
    println!("{:?}", s.find("F"));
    println!("{:?}", s.find("e"));
    println!("{:?}", s.find("r"));
    println!("{:?}", s.find("Q"));
    println!("{:?}", s.find(""));
}

I expected:
Some(0)
Some(1)
Some(2)
None
None

But I got:
Some(0)
Some(1)
Some(2)
None

[2019-09-18 20:43] Mark-Simulacrum commented on #64587
I believe this is consistent with `s.contains("")` for any string returning true, and in any case, we cannot change the behavior at this point, so I'm going to close.

[2019-09-18 20:43] #64587 closed

[2019-09-18 20:57] withoutboats commented on #64351
@RalfJung yea, I meant the deref impl, which in those cases has to also do the offset past the reference counts.. In terms of nesting, currently they don't, but cramertj has a PR to allow them, though any that are double indirection (or more) would not be object safe.

My understanding is that if the type guarantees that `Self` is valid, there shouldn't be an intersection with UCG. That's why we'v

[2019-09-18 20:59] RalfJung commented on #64351
Why that?

On first sight, that sounds like a reasonable assumption.

[2019-09-18 21:01] estebank commented on #64586
I thought that this was the case where you'd want to use `ref`.

[2019-09-18 21:19] Lokathor commented on #62896
Well I tried with that `.tar.gz` file, and I got this https://gist.github.com/rust-play/e4f74a89ecc145a2cb95164b28f452e4, which has output for  `cargo build --release` as well as `RUSTBACKTRACE=1 cargo build --release`

I'm not entirely sure if I did it right, because there is no backtrace that's apparent, but there is a difference between the two runs at least.

[2019-09-18 21:23] alexcrichton commented on #62896
Alas! Looks like this is unrelated to LLVM assertions in that case given the new traces.

[2019-09-18 21:24] varkor commented on #64586
@estebank: could you clarify?

[2019-09-18 21:29] nikomatsakis commented on #64130
OK let me try to leave a few notes here.

First, we need to decide how this error should look. I created a gist that shows *roughly* what I'm going after, but it's not ideal:

https://gist.github.com/nikomatsakis/ac95488236dec61976c92e523df622f9

First off, the messages like this:

[code]

are generated by the `note_obligation_cause_code` function:

https://github.com/rust-lang/rust/blob/dece57302

[2019-09-18 21:39] sfackler commented on #64391
#64525 doesn't seem to have fixed this for my specific case, it seems:

[code]

[code]

[2019-09-18 21:42] #64074 closed

[2019-09-18 21:45] nikomatsakis commented on #63710
## Mentoring instructions

Thanks, @hirschenberger, for the tip, I think that's exactly the right spot in the code. We basically want to copy the pathways in the code that we use for tracking (e.g.) whether a function is a `const fn`.

For that case, you can see in the code that we invoke the tcx query `is_min_const_fn` to check:

https://github.com/rust-lang/rust/blob/3287a65fc05028dce3b521765f46

[2019-09-18 21:50] estebank commented on #64586
@varkor my bad, I misunderstood what you were talking about. Using `S(ref y)` makes `y` be `u32`. I believe this is only a problem because `u32` is `Copy`, but [if it weren't then `y` would be `&u32` inside the match arm block as well](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=00a921251e1c98dfdfd88dbdc5de910e).

[2019-09-18 21:50] Aaron1011 opened #64590 "Confusing 'unreachable code' error message when macro is involved"
This code:

[code]

Gives the following warning:

[code]

This warning is misleading - it suggests that the entire `return` statement, including the call to `early_return!()` is unreachable.

This also occurs in the more 'obviously wrong' case of:

[code]

In general, it could be hard to decide what kind of warning message to generate. I think there are two things we could do to improve error mess

[2019-09-18 21:54] RalfJung commented on #64506
TBH this looks like a bug to me. That's the layout of which type, `ChildStdin`? It should have a field, and it should not be a union.

Cc @eddyb

[2019-09-18 22:04] jaredforth commented on #64561
If no one else is taking this issue, I am up to work on it

[2019-09-18 22:24] khionu commented on #44732
Bumping, this is a really needed feature.

[2019-09-18 22:35] petrochenkov commented on #44732
@abonander

No, both methods end up as strings in the `#[doc]` attribute after expansion.
The string tokenization is done later by rustdoc itself.

[2019-09-18 22:39] josephlr opened #64593 "Unnecessary improper_ctypes warning for extern "Rust""
The following code generates an `improper_ctypes` warning:
[code]
I would expect this sort of warning for an `extern "C"` declaration, but it seems incorrect for an `extern "Rust"` declaration. Am I misunderstanding something, or is this a warning that is safe to disable?

[2019-09-18 23:06] smokku commented on #60363
This just happened to me.
[code]

[2019-09-18 23:09] varkor commented on #4287
[This issue was recently discussed on Zulip.](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/dropck.20optimization)

[2019-09-18 23:13] withoutboats commented on #64351
I think its just an implementation limitation on how we access the vtable right now, @mikeyhew would know more.

[2019-09-18 23:15] lqd commented on #64391
Reduced:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c60a599834166b2c6b6567fb95062e08)

[2019-09-18 23:36] andrewchambers commented on #56971
@Mark-Simulacrum the link you posted is not valid.

[2019-09-18 23:51] andrewchambers opened #64596 "Please publish release tarballs with vendor directories filled."
It has come to my attention there doesn't seem to be a way to download rust release tarballs which have dependencies vendored and submodules cloned.

The stable link here: https://forge.rust-lang.org/infra/other-installation-methods.html gives a 404 error.

The github release tarballs don't have dependencies bundled.

[2019-09-18 23:53] Mark-Simulacrum commented on #56971
Ah, we've since decided we don't need a separate domain, so it should be semi-permanently at https://static.rust-lang.org/manifests.txt now.

I can't find any links to the source tarballs right now (we should add them to https://forge.rust-lang.org/infra/other-installation-methods.html, feel free to file a PR at https://github.com/rust-lang/rust-forge/); but they are published. For example, https:

[2019-09-18 23:54] Mark-Simulacrum commented on #64596
I'm going to move this over to forge as per my note [here](https://github.com/rust-lang/rust/issues/56971#issuecomment-532909764) we do actually publish these, we're just apparently not documenting it anywhere, and we should do that.

[2019-09-18 23:57] andrewchambers commented on #56971
Note, those rustc tarballs don't have dependencies included, which seems to be a big oversight to me.

[2019-09-19 00:02] alexcrichton commented on #64507
Hm I may be a bit confused, but it looks like nightly/stable in your snippet have basically the same output? I think `stable` and `nightly` are MSVC toolchains, so this looks like it's basically a difference between the MSVC and the MinGW toolchains? Have you seen differences over time within each toolchain?

[2019-09-19 00:04] varkor commented on #63857
What's the context for this issue?

[2019-09-19 01:42] XiangQingW commented on #64557
@rustbot assign me

[2019-09-19 01:45] XiangQingW commented on #64557
@rustbot claim

[2019-09-19 02:28] estebank commented on #63390
Hi @johnfercher! Thank you for wanting to contribute. At this point we first need to evaluate whether suggesting anything in this case is useful or detrimental to newcomers. The actual implementation part is straightforward and I can help you with it, but first we need to confirm we want to add such a suggestion to the compiler. Does that make sense?

[2019-09-19 05:25] bjorn3 commented on #63857
It makes life easier for people who have to implement `HasDataLayout` and `HasTargetSpec` on a type themself. For example codegen backends.

[2019-09-19 06:47] hirschenberger commented on #63710
Oh, seems I was too late :disappointed:

[2019-09-19 07:49] CryZe commented on #64586
I think we should absolutely have either `S(&y)` or `S(move y)` as otherwise you sometimes you still have to resort to the old style of matching, which is just confusing for everyone.

[2019-09-19 07:55] abbychau opened #64602 "RFC: Better/Shorter syntax to declare multiple variables"
When we have multiple variable to be declared, we need to write something like this:

[code]
There are two obvious factorizations:

The first part is to factorize the `mut` decorator, so to be `let mut (a, b, c, d)`.
Another part is to spread the value tuple, so to be `false`.

That
[code]

is short while intuitive.

---

Last, in the long form
[code]
if the type is required there, then it is able

[2019-09-19 08:08] memoryruins commented on #64602
For mut shorthand, there is a previous rfc and discussion in https://github.com/rust-lang/rfcs/pull/2401

[2019-09-19 08:16] hellow554 commented on #64453
Minimized it:

[code]

Occurs also on stable (rustc 1.37.0 (eae3437df 2019-08-13)). Bisecting now

[2019-09-19 08:49] jonas-schievink commented on #64602
Hi! Large additions to the language or standard library need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2019-09-19 08:49] #64602 closed

[2019-09-19 09:04] RalfJung commented on #64073
I think this is less "UB" and more "unspecified behavior": `Vec` is `repr(Rust)` so you cannot transmute it because you cannot rely on how it is laid out.

Exactly. PRs welcome. :D

The docs should probably also mention what came up in https://github.com/rust-lang/rust-clippy/issues/4484: if you do this at home, make sure the size *and alignment* of both types is *the same*, because otherwise the

[2019-09-19 09:26] RalfJung commented on #56443
Looks like https://github.com/rust-lang/cargo/pull/7353 might be related or even solve this issue, but I have not taken a closer look yet.

[2019-09-19 09:26] realcr commented on #64391
I recently tried to compile my codebase on nightly-2019-09-13 and I seem to have similar issues. I have hundreds of errors like @sfackler mentioned. Just to be sure I'm having the same issue, here is an example:

[code]

This is the compilation error I get:

[code]

Indeed saving the result into a temporary variable `x` and then returning it seem to satisfy the compiler.

[2019-09-19 09:35] hellow554 opened #64605 "Huge increase of size of std between 2019-07-07 and 2019-07-08"
[code]

this is a difference of around 120MiB :/
`librustc` alone has been increased by 60Mib that night together with `librustc_driver` with another 54Mib plus 30Mib in `rustc_mir`.
Is there a reason for that huge peak?

[2019-09-19 09:39] jonas-schievink commented on #64605
Looks like https://github.com/rust-lang/rust/issues/62486

[2019-09-19 09:40] hellow554 commented on #64453
It has been introduced somewhere between 37ff5d388...8869ee03d
It has been fixed somewhere between 78ca1bda3...0b680cfce

[2019-09-19 09:44] hellow554 commented on #64605
Wow.. I say that issue, but I my mind the date didn't match. You're right. closing it.

[2019-09-19 09:44] #64605 closed

[2019-09-19 09:54] nox commented on #27774
Note that with the recent effort to reduce the amount of dependencies in some projects, we end up downstream copying the functions in their own crate rather than having one more dependency.

This is IMO quite unfortunate and that's more unsafe code to review for everyone.

https://github.com/CraneStation/cranelift/blob/c47ca7bafc8fc48358f1baa72360e61fc1f7a0f2/cranelift-codegen/src/ref_slice.rs#L1-

[2019-09-19 10:02] Marwes commented on #27774
@nox These were brought back to life quite some time ago https://doc.rust-lang.org/std/slice/fn.from_ref.html https://doc.rust-lang.org/std/slice/fn.from_mut.html

[2019-09-19 10:16] nox commented on #27774
OH WOW, I never saw that. Thanks!

[2019-09-19 10:46] PvdBerg1998 commented on #61798
Can confirm. I believe this regressed somewhere after nightly 09-09-2019.

[2019-09-19 10:49] PvdBerg1998 commented on #64590
Updating to todays nightly, all my async functions where the last expression diverges (because they should return before that) emit unreachable expression warnings. Since it regressed recently, maybe this issue is more relevant than https://github.com/rust-lang/rust/issues/61798 where I posted originally.

[2019-09-19 11:03] mati865 commented on #52378
I inspected generated CMake files and LLVM is built with `-O3` nowadays but Rust is still using `opt-level=2`.

How can I see if reapplying `opt-level=2` works without possibly breaking CI?

[2019-09-19 11:44] hellow554 commented on #64365
Related: https://github.com/rust-lang/rust/issues/64453

[2019-09-19 11:44] stefanhoelzl opened #64607 "compiler rejects to use self in match arm"
Hi,

I have the following Code [(Playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c436b46fba25c33930edf4f984feec38)
[code]
where I want to use `self` in the match arms, but the Compiler rejects to do so
```^ expected one of `::`, `=>`, `if`, or `|` here```

But I do not know or understand why this should not be allowed?
Can I achieve this somehow else?

`rustc 1

[2019-09-19 11:47] Mark-Simulacrum commented on #64607
No, the left hand side of a match arm is a pattern, and `self.first` is not a pattern.

You can do something similar with
`_ if self.first == v => "first"` but it may be easier to use an if/else if/else block at that point

Closing since this is not a bug, general discussion should happen on users.rust-lang.org.

[2019-09-19 11:47] #64607 closed

[2019-09-19 11:50] Mark-Simulacrum commented on #6759
I think we shouldn't really do anything here, and it seems like if we decide to do something we can open an actionable issue and/or try it out by manually doing it -- closing.

[2019-09-19 11:50] #6759 closed

[2019-09-19 12:16] calixteman opened #64608 "Unit struct appears to be a NoType in pdb files"
A unit struct has the following debug metadata:
"'()", DW_ATE_unsigned
and when reading the type data from generated pdb file I get a <no type> for it.
[code]

Compile it, read pdb data from the pdb file in target/debug :
[code]
and you'll get something like:
[code]
It's probably because the size of an unit struct is zero (am I correct ?) and then when dumping into pdb then it is converted into no

[2019-09-19 12:34] pnkfelix commented on #64453
triage: stable-to-stable regression. Fixed in beta. Once release happens (scheduled for next week), it will be fixed.

[2019-09-19 12:36] pnkfelix commented on #64453
(only remaining question I have is whether to add the reduced example as a regression test or not. The [example](https://github.com/rust-lang/rust/issues/64453#issuecomment-533021533) looks different enough from https://github.com/rust-lang/rust/issues/62107#issuecomment-505269591 that I think a regression test may be warranted.)

[2019-09-19 12:41] saleemjaffer commented on #57431
Yeah I can pick this up in a few days!

On Wed, 11 Sep 2019, 15:09 Felix S Klock II, <notifications@github.com>
wrote:

[2019-09-19 12:42] pnkfelix commented on #64426
@Mark-Simulacrum asked:

Wouldn't you still face the problem of the duplication arising within a single crate? Are you assuming that the PR merging process would always catch that as a merge conflict? (Because I'm not sure that holds in general; people don't necessarily plug the new error codes that they allocated into the same rustc source line, right?)

----

Just to check my understanding, it s

[2019-09-19 12:43] pnkfelix commented on #64426
triage: P-high (to resolve the question of whether we still want the lint or not), leaving marked as I-nominated.

[2019-09-19 12:50] varkor commented on #64426
These should already error, as an error code definition can only be provided once by `syntax::register_diagnostics!`, no? Throwing an error for duplicate definitions rather than duplicate usages seems completely sufficient for detecting merge conflicts.

[2019-09-19 13:08] Mark-Simulacrum commented on #64426
Yes, the current state is that we will catch definition duplication within a single crate by error code, and cross-crate ignore it (silently skipping the second definition). This is easily fixable to instead panic rather than ignoring second definition in a different crate.

[2019-09-19 13:11] pnkfelix commented on #53014
triage: this bug has seen zero activity since april, apart from my own notes in failed attempts to reproduce it.

So, I'm going to close it for now. If  someone else believes they are encountering it and find this thread, please do reopen the ticket, and include all relevant info (including what version of Windows and Visual Studio you are using, and whether it is 32- or 64-bit platform).

[2019-09-19 13:12] pnkfelix commented on #57373
triage: reassigning to self (for either investigation or delegation).

[2019-09-19 13:16] pnkfelix commented on #42516
triage: realistically we are not (and cannot) prioritize this effort (beyond what we have already done that is). Downgrading from P-high to P-medium.

[2019-09-19 13:20] pnkfelix commented on #60297
triage: it is silly to act like this platform is getting the attention of a P-high bug.

I'm going to leave this nominated (in hopes of finding someone to take it on), but downgrade from P-high to P-medium, because I need to get the set of P-high issues under control.

[2019-09-19 13:20] pnkfelix commented on #60297
(also, can we at least check what our behavior is for this target under QEMU?)

[2019-09-19 13:21] oli-obk commented on #64426
Could we just move to error names similar to lint names? If names collide that seems either intentional or the naming was poorly chosen, but the likelyhood of collisions should go down significantly.

[2019-09-19 13:22] pnkfelix commented on #59494
triage: assigning self.

[2019-09-19 13:24] oli-obk commented on #64506
It's not a bug. Just like `ScalarPair` layout for a newtype with a single field is not a bug (E.g. `struct Foo(&'static [u8]);`).

[2019-09-19 13:25] Mark-Simulacrum commented on #64426
I would prefer to leave that discussion out of scope for this issue. It seems like a good fit for a planning meeting perhaps?

[2019-09-19 13:25] z0mbie42 commented on #64421
Hi,

I'm not sure why but after `cargo clean` the project, it now works with at least `nightly-2019-09-13` and `nightly-2019-08-17` while it segfaulted before...

I think we can close

[2019-09-19 13:27] nikomatsakis commented on #64391
OK, so I dug into this a bit. The errors are... correct-ish, but horrific. They are an outcome of the current temporary-lifetime rules, and this is in that sense a dup of https://github.com/rust-lang/rust/issues/46413. That said, there is some imprecision here, and it may be possible to work-around the problem by increasing the precision of our analysis without actually changing the dynamic semant

[2019-09-19 13:28] pnkfelix commented on #61560
hey @nagisa , do you think you will get around the bisection at some point? Or shall I assign to someone else?

[2019-09-19 13:33] pnkfelix commented on #61539
Some points made during aforementioned meeting that I thought were worth transcribing here:

 * nagisa: "the warning message based on just linker version would lead to false positives more often than not, but I don’t know of any other solution that’s not reenabling plt by default."
 * pnkfelix: " is there particular pattern of codegen we could associate the diagnostic with, to try to lower the fal

[2019-09-19 13:39] pnkfelix commented on #61188
visiting for triage. I agree with @matthewjasper about potentially moving to a trait-based approach.

part of me is tempted to jump into implementing that. But it probably makes more sense for me to write up mentorship instructions, maybe.

[2019-09-19 13:45] z0mbie42 commented on #64421
here is the repository of the failing project: https://gitlab.com/bloom42/phaser

[2019-09-19 13:49] pnkfelix commented on #60218
ping @nikomatsakis , any progress here?

[2019-09-19 13:52] pnkfelix commented on #63154
triage: assigning to self for investigation.

[2019-09-19 13:53] nikomatsakis commented on #64391
Looked into this a bit. Here are a few tips of what I've found so far:

We have a notion of a "local operand". This refers to an operand that is going to get freed when the expression is done, and it includes call arguments:

https://github.com/rust-lang/rust/blob/9b9d2aff8de4d499b4ba7ca406e000f8d3754ea7/src/librustc_mir/build/expr/as_operand.rs#L10-L22

We create call arguments by invoking that m

[2019-09-19 13:55] pnkfelix commented on #54108
@jonas-schievink then potential unsoundness that you posited above: is that based on the part of the description stating that they think `type Size = <Self as SubEncoder>::ActualSize;` should have caused errors due to trait bounds on `Size` being unfulfilled?

Or is it something else that caused you to note that?

Because I'll just post a reminder that under the current rustc, we don't check trait

[2019-09-19 13:57] pnkfelix commented on #54108
(in other words, #51626 type stuff should not be a source of unsoundness.)

[2019-09-19 13:58] pnkfelix commented on #54108
((I'm tempted to downgrade this (#54108) to P-medium, but I'll wait until I see a response from @jonas-schievink before I make any decision there.))

[2019-09-19 14:17] jonas-schievink commented on #54108
Yeah, instead of getting an `Unimplemented` error during codegen. I agree with making this P-medium unless someone manages to cause actual unsoundness with this.

[2019-09-19 14:23] HymanZHAN commented on #25289
With the hint from @kentkrantz, I solved my error on Fedora by
[code]

[2019-09-19 14:24] janderholm commented on #49359
I would also like duration output as part of the output. Furthermore when running multiple suites at the same time there's no way of knowing what test belong to what suite. It would be nice to name the suite somehow. Possibly connect it to the source file relative to the workspace root?

Here's a slimmed down example:

[code]

Since both the parent crate and the subcrate have test modules called "

[2019-09-19 14:35] gnzlbg opened #64609 "-C target-feature/-C target-cpu are unsound"
In a nutshell, target-features are part of the call ABI, but Rust does not take that into account, and that's the underlying issue causing #63466, #53346, and probably others (feel free to refer them here).

For example, for an x86 target without SSE linking these two crates shows the issue:

[code]

The ABI of `B::foo` is ` "sse" "Rust"` but the ABI defined in `A::foo` is just `"Rust"`, no SSE, s

[2019-09-19 14:35] pnkfelix commented on #60297
Someone said they heard on twitter that it's working now. Closing!

[2019-09-19 14:35] #60297 closed

[2019-09-19 14:50] varkor commented on #64493
Duplicate of https://github.com/rust-lang/rust/issues/61115.

[2019-09-19 14:50] #64493 closed

[2019-09-19 14:59] jaredforth commented on #64561
@petrochenkov

I added the `pub enum Extern` to `ast.rs` without any issues, but when I added `pub ext: Extern` to `pub struct BareFnTy` the compiler complains because the struct signature has changed.

The errors are below:

[code]

Is the solution to change code in `check.rs`, `ty.rs`, and `pprust.rs` or is there an alternate solution that I am just missing?

[2019-09-19 15:01] RazrFalcon opened #64610 "Compiler crashes during borrow checking."
[code]

[code]

Crashes on stable and nightly.

[2019-09-19 15:06] nikomatsakis commented on #64391
I'm experimenting in a branch here. I actually took a slightly different tack than what I described above -- I'm not "removing" the drop but just recording that the operand was moved, and taking advantage of that info on the non-unwind path. We'll see how it goes, but it seems simpler.

[2019-09-19 15:15] petrochenkov commented on #64561
@jaredforth
Yes, ABI uses outside of `ast.rs` need to be adjusted to use the new `Option<Abi>` and `Extern`.

[2019-09-19 15:30] gilescope commented on #62071
+1, Link 'owned value' to the book?

[2019-09-19 15:36] thatcathatechat commented on #64610
Any mentor here. I would like to work on this one.
Can you guide me.

[2019-09-19 15:37] basvandijk opened #64612 "SIGILL when statically linking with libc++.a on MacOS"
I've a Rust project that dynamically links to `libc++` which I'm trying to statically link. Unfortunately building this project on MacOS results in a SIGILL error.

I've simplified the project to the following minimal test case:

https://github.com/basvandijk/sigill-error/

Building it on MacOS results in a:
[code]

The crash disappears when I either comment out [`use failure;`](https://github.com

[2019-09-19 15:37] nikomatsakis commented on #64391
OK, my patch works, though I'm not entirely sure how happy I am with it. =)

[2019-09-19 15:45] nikomatsakis commented on #63232
I want to add a link to https://github.com/rust-lang/rust/issues/55993 here -- this is an issue concerning what the appropriate license would be the `apfloat` library. As described by @sunfishcode  in that issue:

@eddyb [notes](https://github.com/rust-lang/rust/issues/55993#issuecomment-502466788) that the code in question has been recently relicensed to Apache 2:

But this seems like something t

[2019-09-19 15:53] nikomatsakis commented on #64433
The original example, at least, is fixed by #64584

[2019-09-19 15:53] nikomatsakis commented on #64433
Also this is likely a duplicate of #64391 at this point

[2019-09-19 15:56] nikomatsakis commented on #64391
Checking rust-postgres with #64584. I have checked out the commit b7fe6bece5dd11ffc04d8178d5105f9e1a354ebd with the following diff applied:

[code]

I can confirm it does not build with nightly, but it does with #64584.

[2019-09-19 16:04] Mark-Simulacrum commented on #63892
Closing as expected breakage (cc @rust-lang/libs, but this is so minimally breaking and was an unstable use).

[2019-09-19 16:04] #63892 closed

[2019-09-19 16:05] Mark-Simulacrum commented on #63890
Closing as won't fix / expected breakage.

[2019-09-19 16:05] #63890 closed

[2019-09-19 16:11] mtib opened #64614 "Omitting struct field name in cast"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e202b404caa46b101868e1d867439ad3))

I would argue that one should also be able to write:

[code]

and the compiler should infer the field name.

[2019-09-19 16:15] petrochenkov commented on #64614
Relevant internals thread: https://internals.rust-lang.org/t/idea-puns-in-simple-patterns/10533.

[2019-09-19 16:22] jonas-schievink commented on #64614
Hi! Large additions to the language or standard library need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2019-09-19 16:22] #64614 closed

[2019-09-19 17:54] DutchGhost commented on #64610
This is a duplicate of https://github.com/rust-lang/rust/issues/64173 and https://github.com/rust-lang/rust/issues/56445

[2019-09-19 17:57] Centril commented on #64610
Closing as a dupe of ^---.

[2019-09-19 17:57] #64610 closed

[2019-09-19 18:47] bstrie commented on #53639
As suggested by the comments at https://github.com/rust-lang/rust/issues/53639#issuecomment-415527558 and https://github.com/rust-lang/rust/issues/53639#issuecomment-432704837 , there's no need to wait for an edition to pursue this. Deprecation of `static mut` could be considered as soon as alternatives are ergonomic enough to use, which is to say whenever `const fn` passes some minimum threshold

[2019-09-19 18:52] arxanas opened #64620 "Compiler panic when yielding array element from non-generator"
Steps to reproduce:

1. Run `cargo new --lib crash`.
2. Replace `src/lib.rs` with this content:

[code]

3. Run `RUST_BACKTRACE=full cargo +nightly build --verbose` to get this output:

[code]

[2019-09-19 19:00] jonas-schievink commented on #64521
@MarkMcCaskey can you provide the full code needed to reproduce the second issue?

[2019-09-19 19:06] Centril commented on #56375
@rfcbot reviewed

[2019-09-19 19:06] Aaron1011 commented on #64552
I think the bug occurs here: https://github.com/rust-lang/rust/blob/9b9d2aff8de4d499b4ba7ca406e000f8d3754ea7/src/librustc_typeck/check/generator_interior.rs#L124-L144

I believe that 'knowledge of the exact relationships between them isn't particularly important' is incorrect. If an auto trait impl imposes region constraints (as with `MyStruct`), then the relationship between regions *does* matter

[2019-09-19 19:11] MarkMcCaskey commented on #64521
main.rs:
[code]

[code]

This is a more minor issue than the one I thought I initially had.  The reason I think it's an error is just that it exposes LLVM errors directly, if that's not an error then this is the correct behavior.  To be clear: given how the table works, this Rust code doesn't make much sense and probably shouldn't work.  It may not be possible to detect this on the Rust frontend b

[2019-09-19 19:32] SimonSapin commented on #63892
Ouch, it turns out an unstable trait in the prelude can be *named* without any `#![feature(…)]` opt-in.

https://github.com/echupriyanov/tls-ws/blob/d458e2edfabc7e28494482987afbb5eebba1de7f/src/bin/server.rs#L117 reduced:

[code]

Not to say that we should revert or do anything else here, but to keep in mind next time we consider adding an unstable trait in the prelude. Or should we consider that

[2019-09-19 19:35] joshtriplett commented on #63787
We discussed that further in today's lang team meeting.

We don't see any obvious downsides to using raw pointers for `Ref`.

@withoutboats made the point that we may want to use `NonNull`, and may wish to comment on that further.

That aside, we do think that changing Ref seems like the best option here.

[2019-09-19 20:36] Centril commented on #63787
(@RalfJung may want to clone the current implementation as a Miri test to use as a canary or something.)

[2019-09-19 20:51] Mark-Simulacrum commented on #63892
Yeah, looks like a compiler bug (probably similar to the other stability problems with 'absolute' paths -- if we're importing it for you it probably bypasses stability by looking like a root path?

[2019-09-19 20:55] bkchr commented on #54114
I'm not sure that this is the same problem, but I have found the following:
[code]

See [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6e07239ee57df16c42f6e85809f9353a) for the code.

If I change `fn test(data: <[u8] as Test>::Type);` to `fn test(data: <&[u8] as Test>::Type);` to make the resolution work, it compiles without any problem.

Without the `extern "C"`, i

[2019-09-19 21:38] estebank commented on #56190
The current output for

[code]
is
[code]

[2019-09-19 21:56] RalfJung commented on #56190
The thing is, if you replace `*const` by `&`, this is safe code, and there is no UB. So it is not clear to me that we *want* a stronger warning?

[2019-09-19 22:44] Aaron1011 commented on #64552
Concretely, I think we could implement this as follows:

1. Add a `List<RegionOutlivesPredicate>` [to GeneratorWitness](https://github.com/rust-lang/rust/blob/9b9d2aff8de4d499b4ba7ca406e000f8d3754ea7/src/librustc/ty/sty.rs#L169). This would store a list of predicates involving any 'internal' regions variables. This list would be created [here](https://github.com/rust-lang/rust/blob/9b9d2aff8de4d49

[2019-09-19 23:29] tmandry commented on #62807
Fixed in https://github.com/rust-lang/rust/pull/62797

[2019-09-20 00:28] scottmcm commented on #44109
We discussed this again at the @rust-lang/lang team meeting today.

The discussion centred around the trade-offs between the existing attribute syntax an the potential alternative syntax of `..`, to parallel what this requires in patterns, as was also discussed in the RFC.  The outcome, as I understood it, is that while some members would prefer one or the other, people were _satisfied_ with havin

[2019-09-20 01:19] jonhoo commented on #44109
Possibly also tag as `relnotes`?

[2019-09-20 01:48] Centril commented on #44109
Will be done on the stabilization PR. Up for that, @davidtwco?

[2019-09-20 02:09] ayazhafiz commented on #63078
@fakenine are you still interested in this?

[2019-09-20 02:43] #64590 closed

[2019-09-20 02:43] #62138 closed

[2019-09-20 02:43] #39858 closed

[2019-09-20 02:43] #60394 closed

[2019-09-20 02:44] Eh2406 commented on #46477
This came up in conversation at a meetup recently. Several of us thought it would be interesting to see how big in impact it makes. None of us have any experience working on the compiler. How hard is this for a new contributor? Is there mentorship available? Alternatively does someone want to do some kind of remote presentation for our meetup, guiding us on this?

[2019-09-20 05:05] joshtriplett commented on #53639
Lock-free algorithms exist that intentionally write through shared (raw) pointers without mutex synchronization.

[2019-09-20 05:21] comex commented on #53639
Those algorithms can and must use atomics.  Racing non-atomic writes are UB.

[2019-09-20 05:41] #53688 closed

[2019-09-20 05:53] fakenine commented on #63078
@hafiz Sorry, I forgot about this issue! You can take it if you want. I don’t think I will have the time to address it at the moment.

[2019-09-20 06:05] joshtriplett commented on #53639
@comex Such algorithms are often specifically designed to *not* use atomics, as atomic operations are slower and incur more synchronization overhead. (Racing non-atomic reads are more common in such algorithms than racing non-atomic writes, but cases of both exist.)

Speaking about architectures for a moment, not about languages: non-atomic reads or writes of word-sized word-aligned values have de

[2019-09-20 06:13] comex commented on #53639
That is what `Ordering::Relaxed` is for - it compiles to the same instruction as a normal load/store but has stronger semantics from the compiler's point of view.

Races without atomics are UB in both Rust and C.

[2019-09-20 06:18] joshtriplett commented on #53639
I see; I thought you were implying "must use atomic operations". "must use atomics" does not to me immediately translate to "must use atomic types (but not necessarily atomic operations)".

[2019-09-20 06:33] skade commented on #46871
This becomes a prevalent problem in the trainings I give, when people learn about:

`Box<dyn std::error::Error>`

[2019-09-20 07:00] comex commented on #53639
\*shrug\* Even a `Relaxed` load/store is an atomic operation in the literal sense that it cannot tear.  That's not guaranteed for normal loads/stores, even if the architecture normally guarantees it, because the compiler is allowed to split them.  But I'm getting off topic.

[2019-09-20 07:23] RalfJung commented on #53639
What dos `const fn` have to do with `static mut`?

@joshtriplett

Racing non-atomic reads and writes are both UB in Rust in all circumstances (where "non-atomic read" is "any read not performed via one of the atomic-read intrinsics").

As you are aware though, that argument is entirely irrelevant when talking about Rust. Non-aligned reads or writes are also well-defined on x86 and still UB in Rust

[2019-09-20 07:24] RalfJung commented on #53639
But also, @joshtriplett do you have any example where using `static mut` for concurrency works better / is more ergonomic than using `static` + interior mutability (and then maybe an `Atomic*` type)? The latter should always be preferred. In particular, the `Atomic*` types are the only way we expose on stable to perform atomic operations.

[2019-09-20 07:28] RalfJung commented on #64506
Precisely by analogy with `ScalarPair`, I think this is a bug. Your `Foo` has a `TyLayout` with exactly 1 field, matching what is declared. It does *not* have 2 fields which would be the case if it had a "pair layout". So, transparent layout changes the `abi`, but it does *not* change how many "fields" a type is considered to have. Similarly, `struct Foo(&'static [u8], (), ())` has 3 fields in its

[2019-09-20 07:43] SimonSapin commented on #50264
These APIs now point here:

[code]

Any remaining issue with them? Or shall we

@rfcbot fcp merge

[2019-09-20 07:43] gnzlbg commented on #53639
That's what they were actually implying?

There is no difference. Atomic types are just type wrappers that provide methods for doing atomic operations, there is nothing special about them, e.g., we could add such methods to raw pointers.

Atomic operations are just operations that happen as a unit (no tearing). Their `Ordering` argument just states how these must be ordered relative to each other,

[2019-09-20 07:57] oli-obk commented on #64506
oh... right. Yea we should totally fix that

[2019-09-20 08:00] hellow554 commented on #64519
Also ICEs without explicit feature gate enabled :/

[code]

[2019-09-20 08:04] RalfJung commented on #53639
Note that this is a hardware-centric view of things; for the purposes of Rust, atomic operations are operations on which race conditions are permitted. There is no "tearing" in the Rust Abstract Machine.

In particular, while a `u8` read cannot actually tear, it is *still* non-atomic unless performed with one of the atomic intrinsics. So, I think it is wrong to equate "atomic" and "no tearing".

A

[2019-09-20 08:39] gnzlbg commented on #53639
Doesn't the abstract machine also guarantee that races using atomic operations will not observe partial modifications?

Yes I agree.

[2019-09-20 08:48] davidtwco commented on #44109
Of course, I'll get right on this.

[2019-09-20 08:52] burdges commented on #50264
We dislike simply forwarding the `Deref` and `DerefMut` impls somehow?
[code]
It cannot be made consistent for `Result` but..

[2019-09-20 09:34] pnkfelix commented on #46413
@estebank yes, at this point I think the diagnostics are as good as we might expect them to get (and they are much improved over what this bug was reporting when it was originally filed).

The main movement I could imagine at this point would be to actually *change* the dynamic semantics to try to make them have temporary lifetimes that are more "intuitive." But that would be a pretty serious (and

[2019-09-20 09:34] #46413 closed

[2019-09-20 09:40] dhardy commented on #64593
For context, see: https://github.com/rust-random/getrandom/pull/109

`Error` is `pub struct Error(NonZeroU32);` so both this and `Result` are not C types.

[2019-09-20 09:47] pnkfelix commented on #21114
The issue in #49616 is that you have a `RefMut` created as a temporary, and it is dropped after the `RefCell` it refers to.

The reason the destructor runs at that time is because the temporaries in the tail expression of a block are specified as being dropped *after* the locals of that block are dropped.

I don't know if there's a reasonable way to resolve that, apart from changing the language t

[2019-09-20 09:53] pnkfelix commented on #42574
@estebank I don't think #49616 is same as whats occuring here; I posted argument as to why over [here on #21114](https://github.com/rust-lang/rust/issues/21114#issuecomment-533487338).

[2019-09-20 09:58] choller opened #64629 "Rust should not link sanitizer runtimes unconditionally"
I've noticed today that apparently Rust adds sanitizer runtimes such as the ASan runtime during linking and I found this runtime inside a static archive.

As far as I know, these runtimes should not be part of static archives or DSOs, they should only be linked when creating an executable. Adding them to DSOs causes two runtimes to exist when loading the DSO into an ASan binary (we had this proble

[2019-09-20 10:02] pnkfelix commented on #49616
(or really, at this point I might argue its a duplicate of #46413 ...)

[2019-09-20 10:20] josephlr commented on #64593
Also the `&mut [u8]` is not a C type either. The main issue seems to be that the compiler checks all `extern` declarations as if they were `extern "C"`, which I don't _think_ is right (but `extern "Rust"` isn't documented as much as `extern "C"`).

[2019-09-20 10:29] nox commented on #50264
`Deref::deref` and `DerefMut::deref_mut` must return references, what you suggested is not possible.

[2019-09-20 11:31] Baranowski commented on #52082
I would like to work on this as I'm currently learning Rust, if you don't mind.

[2019-09-20 11:39] #41781 closed

[2019-09-20 11:39] #42855 closed

[2019-09-20 11:39] #46658 closed

[2019-09-20 11:39] #48099 closed

[2019-09-20 11:39] #63143 closed

[2019-09-20 12:04] oli-obk commented on #52082
Great! you can reserve this issue via `@rustbot claim`

[2019-09-20 12:07] Baranowski commented on #52082
@rustbot claim

[2019-09-20 12:44] Migi commented on #47048
@daniel-shimon & @tspiteri: this workaround is not compiling for me. It gives the following 2 warnings and 2 errors:
[code]

Updating from gcc 5.4.0 to gcc 7.4.0 did not fix this (on MinGW 64 bit, Windows 7).

[2019-09-20 12:55] funnyzpc commented on #25289
If you use Apple Computer ,You can try  this command to install toolchain to fix this problem" xcode-select --install " , and if you use brew install Rust,Please uninstall Rust and then to install by
Rust Official installation guide ～

[2019-09-20 12:57] funnyzpc commented on #60149
you don't install toolchain ，please exec this commond to install “ xcode-select --install ”

[2019-09-20 12:59] steveklabnik commented on #64507
Yes.

Yes, sorry for not being more clear about that; I forgot you need `-vV` to get this in the output. My bad!

This is *mostly* true; if you look at MinGW, you'll see that some lines like `7: std::panicking::begin_panic` have the weird path in front, even though most don't.

I never use the GNU toolchain, and only installed it to triage another ticket. So I don't have a great feel for the split

[2019-09-20 14:56] fominok opened #64630 "Async struct method, <_'> lifetime shadowing"
Hello, I ran into a problem using `<'_>` lifetime with async struct methods, here is the example:

    struct Foo<'a> { swag: &'a i32 }

    impl Foo<'_> {
        async fn bar(&self) -> i32 {
            1337
        }
    }

The error is:
`error[E0496]: lifetime name `'_` shadows a lifetime name that is already in scope`

Everything is fine if I use explicit lifetime like `'a`.

Version: 1.39 Ni

[2019-09-20 15:35] #64551 closed

[2019-09-20 16:22] nikomatsakis opened #64631 "Tracking issue for `rustc_reservation_impl` attribute"
## Background

The `#[rustc_reservation_impl]` attribute was added as part of the effort to stabilize `!`. Its goal is to make it possible to add a `impl<T> From<!> for T` impl in the future by disallowing downstream crates to do negative reasoning that might conflict with that.

**Warning:** the effect of this attribute is quite subtle, and it should be used with caution! In particular, adding a

[2019-09-20 16:31] nikomatsakis opened #64633 "How to handle reservation impls in rustdoc / error messages"
I've opened this issue for discussion on how to handle reservation impls (see https://github.com/rust-lang/rust/issues/64631) in rustdoc and how to handle their error messages.

[2019-09-20 16:32] nikomatsakis commented on #64633
My take:

We should not show reservation impls in rustdoc at all. They don't exist and they may never exist. I'm not convinced users want to see them. Moreover, they are only relevant if you're trying to rely on negative reasoning about `From<!> for T`, which seems unusual in practice.

[2019-09-20 16:35] nikomatsakis commented on #64633
The current error message is this:

[code]

I think this is pretty clearly not good enough. However, I also don't think we're going to do a lot better in the error message. I suggest opening an issue for each use of `#[rustc_reservation_impl]` and explaining the situation there. Then we can say something like:

[code]

[2019-09-20 16:36] nikomatsakis commented on #64633
Nominating for @rust-lang/lang discussion -- I'd love to get feedback on how to handle these errors, so that we can land this feature and unblock the `!` stabilization.

[2019-09-20 16:36] joshtriplett commented on #64633
@nikomatsakis That error text sounds good to me.

[2019-09-20 16:48] Centril commented on #64633
I think diagnostics and rustdoc is squarely a T-compiler and T-rustdoc matter. I have no opinion other than to say that @nikomatsakis's suggestion seems reasonable but this is not my decision to make.

[2019-09-20 16:49] joshtriplett commented on #64633
I think there ought to be documentation of "you may not make any impl like this" *somewhere*. How about this: we lint on a `rustc_reservation_impl` that doesn't have a doc comment, we explain in the doc comment, and rustdoc just emits the doc comment but not the impl?

[2019-09-20 17:10] tacomorphism opened #64636 "async functions with `unimplemented!()` are marked as unreachable"
can reproduce with

[code]

results in
[code]

using nightly-2019-09-18

Seems related to #61798

[2019-09-20 17:39] papertigers commented on #55553
@nagisa we are looking at driving this forward again.  There is work in https://github.com/jasonbking/rust/tree/illumos that needs to be rebased before we can open a PR.

That being said we are running into issues where rust requires multiple versions of different crates such as rand.  Where some versions of rand have a bug fixed for illumos but some parts of rust pull in an older versions of the

[2019-09-20 18:06] nagisa commented on #55553
Awesome!

Updating just the old (non-working) versions of rand should be sufficient. I think it is fine for it to happen as part of the whole PR that introduces illumos support, but it is also fine to split the work in smaller pieces and submit upgrades to rand to upstream – here – first.

[2019-09-20 19:29] DutchGhost opened #64638 "ICE with return outside of function body"
The following ICE's on stable, beta and nightly:

[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

Running a quick test in godbolt, the first occurrence of the ICE is in stable 1.25.
Feel free to close if this is a dupe of https://github.com/rust-lang/rust/issues/64620

[2019-09-20 20:44] davidtwco commented on #44109
I've opened #64639 to stabilize this feature.

[2019-09-20 21:00] nikomatsakis commented on #60218
I did some investigation. This bugs turns out to have been fixed -- well, more likely it was worked around by https://github.com/rust-lang/rust/pull/58592. I'm going to land a test for it so that when I get around to reversing https://github.com/rust-lang/rust/pull/58592, I can fix it then.

[2019-09-20 21:08] dtolnay commented on #44109
Exciting!

Once (something along the lines of) https://github.com/rust-lang/rust/issues/44109#issuecomment-521781237 is implemented, I'll be able to leverage this in Syn. Would this require a lang RFC?

[2019-09-20 21:15] cuviper commented on #64593
There are instances of this in `liballoc` and `libcore` too:

https://github.com/rust-lang/rust/blob/9ad1e7c46cf690b7ec6953b142430d21ca2d8799/src/liballoc/alloc.rs#L243-L247

https://github.com/rust-lang/rust/blob/9ad1e7c46cf690b7ec6953b142430d21ca2d8799/src/libcore/panicking.rs#L73-L78

[2019-09-20 22:05] estebank commented on #61728
[With nll enabled, the output is](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f73d98a6b703bef4f32221e75e8346ea):

[code]

[2019-09-20 22:51] bstrie commented on #53639
@gnzlbg To give an actual example I suspect this could be referencing algorithms such as [Hogwild](https://people.eecs.berkeley.edu/~brecht/papers/hogwildTR.pdf), which, while extremely UB even in C, is apparently used to great effect in the ML field. I do happen to know at least one ML startup that has implemented this algorithm in Rust and has told us, to our horrified and confused faces, that i

[2019-09-20 23:54] AGausmann commented on #44109
I've got an idea to make it work - it would still be quite a significant change, but it seems reasonable to me.

What about making the `non_exhaustive`ness of matching entirely optional for users? Convert the hard error to a deny-by-default lint so to preserve the expected behavior, but allow the use an attribute at the `match` statement like `#[cfg_attr(test, allow(non_exhaustive_match))]` (lint

[2019-09-21 00:05] cuviper commented on #64548
#64565 offers a more succinct version of that hint, suggesting `where impl Trait` bounds that aren't actually valid to write. But any hint along those lines would still be misleading in your case.

[2019-09-21 00:18] comex commented on #53639
I took a (very) quick look at the Hogwild paper, and it looks like it's based on compare-and-swap, which isn't even possible to use (in any language) without atomics.  If there's some part of it that uses standard loads and stores, then, as I said, you can use relaxed atomics to generate identical assembly.  Rust *should* and *does* support this use case.

[2019-09-21 00:54] scottmcm commented on #44109
I think that loses the advantage of this attribute for the library author, as it means that adding a new variant again becomes a breaking change, which is exactly what the attribute is trying to prevent.

[2019-09-21 00:54] est31 commented on #44109
@AGausmann All lints are capped at non-path crates e.g. ones you got from crates.io. As usually more code is in the dependencies of a crate than the crate itself, for most code you compile, the lint would actually be turned off. Of course, you could rely on the build step that is run before uploading to crates.io, but that step only checks the specific platform of the uploader and the default feat

[2019-09-21 01:12] tmandry commented on #64636
This also happens with loops which return (first reported in https://github.com/rust-lang/rust/issues/61798#issuecomment-532740943).

Minimal example:

[code]

[code]

These might be separate issues, but they appeared around the same time so I'm going to assume they're related.

[2019-09-21 01:49] jebrosen commented on #64477
It looks like @Nemo157's case in https://github.com/rust-lang/rust/issues/64477#issuecomment-531882958 (with `format!()`) was not fixed by #64584 after all, with the same error occurring in the 2019-09-20 nightly.

[2019-09-21 02:26] AGausmann commented on #44109
@scottmcm The point is that it only becomes breaking if it is explicitly `allow`ed. Maybe "optional" is the wrong word to use as it implies opt-in. What I'm describing is more of an explicit opt-out, only where the user *wants* it to break.

Regardless, @est31 has made a good point

[2019-09-21 03:57] jturner314 commented on #44095
One thing that IMO is worth considering in more detail is one-sided clamping of `f32`/`f64`. The discussion seems to have touched on this topic briefly but not really considered it in detail.

In most cases, if the input to a one-sided clamp is NAN, it's more useful for the result to be NAN than for the result to be the clamping boundary. So, the existing `f32::min` and `f64::max` functions don't

[2019-09-21 06:26] Seeker14491 opened #64650 "Unhelpful error "one type is more general than the other" in async code"
The following code does not compile:

[code]

It produces this error message:

[code]

In this case, the code can be made to compile by adding `move` in two places on this line:

[code]

Some possibly related issues: #57362, #60658

**rustc version:** `1.39.0-nightly (97e58c0d3 2019-09-20)`

[2019-09-21 09:21] Bunogi opened #64651 "Invalid `unreachable_code` in `async fn`."
From Rust `nightly-2019-09-16` to `nightly-2019-06-18`, something has caused the following code to start throwing an unreachable expression warning. Changing it from an `async fn` to an `fn` throws no warnings.

[code]

[code]

A more recent nightly(2019-09-21) specifies the warning more closely:
[code]
[code]

[2019-09-21 10:03] lithic opened #64652 "will rustc have a cranelift backend ?"

[2019-09-21 10:09] lithic opened #64653 "Language specification?"

[2019-09-21 10:10] bjorn3 commented on #64458
I am currently using

[code]

as test for cg_clif.

[2019-09-21 10:12] lithic opened #64654 "Why using github? It is a proprietary software."

[2019-09-21 10:13] cstorey opened #64655 "Drop implementations not being called on panic with Fat LTO."
Hi,

It looks like calls to `Drop::drop()` are getting removed when using `lto = "fat"` for a release build. It doesn't seem to occur with `lto = "thin"` or `lto = "no"`.

I've got a test case here: https://github.com/cstorey/fat-lto-drop-repro, which can be reproduced like this:

[code]

(more details in the [transcript](https://github.com/cstorey/fat-lto-drop-repro/blob/master/README.md))

For c

[2019-09-21 10:52] Centril commented on #44109
@dtolnay Probably just an FCP on the PR in question since it's a forward compat lint, assuming it doesn't cause major slowdown in the compiler or something.

[2019-09-21 11:02] GuillaumeGomez commented on #34681
Awesome! I guess we can close it then.

[2019-09-21 11:02] #34681 closed

[2019-09-21 11:04] GuillaumeGomez commented on #55160
It was for RLS iirc. Not sure if removing it is fine but I'd like to remove it.

[2019-09-21 11:25] #64654 closed

[2019-09-21 11:26] Mark-Simulacrum commented on #64653
If you truly are interested in discussing this, please file a more detailed post explaining why you're interested on internals.rust-lang.org. As it stands, I'm closing this issue as it is unhelpful and (currently) out of scope for this repository.

[2019-09-21 11:26] #64653 closed

[2019-09-21 11:27] Mark-Simulacrum commented on #64652
We may eventually gain a cranelift backend. Discussion of this should happen on internals.rust-lang.org.

[2019-09-21 11:27] #64652 closed

[2019-09-21 11:42] lithic commented on #64653
Without a spec everything in rust is undefined

[2019-09-21 11:43] lithic commented on #64654
?

[2019-09-21 12:01] niruix commented on #64651
Same thing here, let me increase the sample size a bit then: https://www.reddit.com/r/rust/comments/d79bzv/this_async_fn_triggers_unreachable_code_but_why/

[2019-09-21 12:29] jonas-schievink commented on #64651
Duplicate of https://github.com/rust-lang/rust/issues/64636

[2019-09-21 12:29] #64651 closed

[2019-09-21 12:48] phaylon commented on #44109
I do believe a lint would have advantages, but not for the testing case. In some cases you'd want to have exhaustive matches even if the library author doesn't guarantee stability.

When I'm writing an application and not a library, sometimes I need to translate or categorize things like errors. If a library author introduces a new error, I'm forced to wait for a runtime panic or similar to know I

[2019-09-21 13:06] oli-obk commented on #64353
Alternative suggestion:

get rid of the fields on [`TyS`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/struct.TyS.html) and make the typeflags a query as well as the `outer_exclusive_binder: DebruijnIndex` something that is "computed" on the fly (most types are just `innermost`, but the few that aren't can have this info in their variant)

[2019-09-21 14:14] haecker-felix opened #64659 "Rustc panics while compiling gstreamer in RLS"
RLS cannot build my project, which uses gstreamer. Compiling it normally with rustc works fine.

`rustc 1.39.0-nightly (eceec57f7 2019-09-18)`
`x86_64-unknown-linux-gnu`

Affected project for reference: https://gitlab.gnome.org/World/Shortwave

I launched RLS manually with `RUST_LOG=rls=debug rls --cli`

[code]

[2019-09-21 14:19] jonas-schievink commented on #64659
Probably unearthed by https://github.com/rust-lang/rust/pull/64250

[2019-09-21 14:19] jonas-schievink commented on #64659
cc @Xanewok

[2019-09-21 14:37] haecker-felix commented on #64659
Recompiled everything with `rustc 1.39.0-nightly (97e58c0d3 2019-09-20)`, same issue.

[2019-09-21 15:17] haecker-felix commented on #64659
`2019-09-13` works fine.

[2019-09-21 15:31] Xanewok commented on #64659
I’m sure it’s what @jonas-schievink - it’s an unearthed bug when you pass -Zsave-analysis, hence why it crashes only when using RLS.

[2019-09-21 15:42] guanqun commented on #63983
@estebank  I created a PR, could you please help review. I took a look at your suggestion of updating all the errors to `help: missing struct fields..`, that seemed too many changes, not sure if it was necessary, so I just added the tuple case.

[2019-09-21 16:18] alex commented on #51911
FWIW, the use case I have for this is to create `#[repr(transparent)]` DSTs as consts:

[code]

[2019-09-21 17:23] Patryk27 opened #64662 "ICE: enum discriminant depends on generic arguments"
Following code ICEs on today's nightly (97e58c0d3 2019-09-20):
[code]
What's peculiar is that no ICE is shown when the `Foo` enum contains only one item:
[code]

[2019-09-21 18:13] #64238 closed

[2019-09-21 18:13] #64593 closed

[2019-09-21 18:13] #64559 closed

[2019-09-21 18:15] Centril commented on #60406
Stabilization is done; documentation will be done in the reference. Closing as nothing remains to do.

[2019-09-21 18:15] #60406 closed

[2019-09-21 18:19] Centril commented on #64662
Backtrace:
[code]

[2019-09-21 18:57] estebank commented on #54082
Current output:

[code]

[2019-09-21 18:57] #54082 closed

[2019-09-21 19:13] c410-f3r commented on #60406
It was a long journey and I would like to thank @Robbepop for the RFC and all the PR reviewers, specially @petrochenkov and @Centril.

[2019-09-21 19:13] joshtriplett commented on #53639
On Fri, Sep 20, 2019 at 12:24:29AM -0700, Ralf Jung wrote:

Something that translates to a hardware atomic operation, such as a lock
or xadd.

In any case, just a terminology difference, not an actual issue here.

[2019-09-21 19:18] theduke commented on #60406
Also thanks from me, this is much needed for improving proc macro ergonomics in juniper

[2019-09-21 19:22] sam09 commented on #64585
@varkor I looked at `src/libsyntax/util/lev_distance.rs` which has a function `find_best_match_for_name`. The function uses [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance) to find the closest match to a given word from a list of words.

My guess is that this function is the one used to suggest alternatives to the user in case there is no method with a given name. The cav

[2019-09-21 19:30] smokku opened #64667 "Rust Language Server panicked at 'Box<Any>',"
Using repo https://github.com/amethyst/amethyst-starter-2d.git @ fd8bff9ea61
`rustc 1.39.0-nightly (9b9d2aff8 2019-09-19)`
`cargo 1.39.0-nightly (3596cb86b 2019-09-19)`
`rls 1.39.0 (d9aa23a 2019-09-15)`

I start `RUST_BACKTRACE=1 rls --cli` in `$ .../amethyst-starter-2d` and get:
[code]

## Meta
[code]
[code]
[code]

[2019-09-21 19:37] smokku commented on #64667
`cargo build` runs fine. Only `rls` fails.

[2019-09-21 19:39] RalfJung commented on #53639
There is no concept of partial modifications, so I guess you could say that -- but it's a strange way of saying things.

or xadd.

There is no operation in Rust that is *guaranteed* to translate to a hardware atomic operation. ("atomic volatile" would provide that guarantee, but we don't have that.) Even when you use `Atomic*`, the compiler is allowed to compile that to non-atomic accesses if it c

[2019-09-21 19:43] jonas-schievink commented on #64667
Duplicate of https://github.com/rust-lang/rust/issues/64659

[2019-09-21 19:43] #64667 closed

[2019-09-21 19:44] mattheww opened #64668 "Outdated `--explain` text for E0432 "An import was unresolved.""
See [E0432][1] for the current text.

[1]: https://doc.rust-lang.org/error-index.html#E0432

It currently includes:
«
Paths in `use` statements are relative to the crate root. To import items relative to the current and parent modules, use the `self::` and `super::` prefixes, respectively.
»
The first sentence is untrue in Rust 2018, and so the advice about `self::` is unhelpful.

It also says
«
O

[2019-09-21 20:14] joshtriplett commented on #53639
On Fri, Sep 20, 2019 at 03:52:03PM -0700, Ben Striegel wrote:

That's a little more extreme than I had in mind. I was thinking of RCU,
and other lock-free data structures.

[2019-09-21 20:37] bikeshedder commented on #64659
I have the same error when using rust nightly and directly or indirectly referencing the `petgraph` crate. The project builds fine but `rls` crashes.

**Steps to reproduce:**
- Create a new project
- Add `petgraph = "0.4"` to the `Cargo.toml`
- Run `rls --cli`

Downgrading to `rustc 1.39.0-nightly (eb48d6bde 2019-09-12)` and `rls 1.39.0 (412fb00 2019-09-09)` makes the error go away.

[2019-09-21 20:51] Nadrieril commented on #53820
I've thought about this some more, and there's an issue that might prevent the simple solution from working: witnesses. Take the following:
[code]
This is non-exhaustive, and the compiler will report something like `pattern [true, _, _, _, _] not covered`, with enough underscores to get the correct length. This is a problem because in order to generate this witness, we need the matrix to have as m

[2019-09-21 21:01] estebank commented on #29061
Current output:

[code]

[2019-09-21 21:01] ehuss opened #64671 "Tracking issue for dual-proc-macros"
Implemented in #58013
Cargo side is https://github.com/rust-lang/cargo/pull/6547

This feature causes Cargo to build a proc-macro crate for both the target and the host, and for rustc to load both.

I'm not sure if this is a perma-unstable feature for the compiler-only, or if there is any need to use it elsewhere. But a tracking issue may be helpful for anyone looking for more information.

[2019-09-21 21:07] estebank commented on #29096
Current output:
[code]

[2019-09-21 22:18] estebank commented on #33652
Current output:
[code]

[2019-09-21 23:08] estebank commented on #33575
The underlying cause is that we have two maps for `HirId`→`Ty`, a general one and one for locals. When type checking we write to the general one but the one for locals is only written to once, during initialization, and the we _read_ from it. If we kept it up to date or read from the general map, the knock-down error wouldn't appear.

[2019-09-21 23:56] Aaron1011 commented on #64494
It turns out that [libcore is currently doing this](https://github.com/rust-lang/rust/blob/ed8b708c1a6bf6d94f860eeb6a6b0b442c380d7f/src/libcore/array.rs#L415) - it's generating impls of the form `impl<T> Default for [T; 32]`, `impl<T> Default for [T; {32 - 1}]`, etc. We could add some kind of opt-out for libcore, but that seems like it could be more trouble than it's worth.

I think it would make

[2019-09-22 00:48] Mark-Simulacrum commented on #55226
To my knowledge this is essentially unfixable without implementing a linker ourselves or somehow catching the linker errors and re-displaying them in a nicer way, both of which seem impossible or out of scope, so I'm going to close this. I agree with folks that this is not a soundness issue.

[2019-09-22 00:48] #55226 closed

[2019-09-22 01:02] Mark-Simulacrum commented on #60758
Closing in favor of https://github.com/rust-lang/rfcs/issues/2771 as the only feature request ("bug") here is that the cdylib has no nice way of exporting the symbol.

[2019-09-22 01:02] #60758 closed

[2019-09-22 01:08] Mark-Simulacrum commented on #60663
Closing. I agree that this is not generally desirable, specific (simple) bug fixes can come as PRs; issues are not appropriate (as we don't _want_ it, but don't object to it).

[2019-09-22 01:08] #60663 closed

[2019-09-22 01:09] Mark-Simulacrum commented on #60661
I'm going to close this since I think this is not a bug. See also https://github.com/rust-lang/rust/issues/60663.

[2019-09-22 01:10] Mark-Simulacrum commented on #59000
Closing as HIR printing is not supported as a mode of compilation (and this issue does not have a MCVE).

[2019-09-22 01:10] #59000 closed

[2019-09-22 01:13] Mark-Simulacrum commented on #58031
Closing as dupe of https://github.com/rust-lang/rust/issues/13573.

[2019-09-22 01:13] #58031 closed

[2019-09-22 01:16] Mark-Simulacrum commented on #14808
Closing. I personally think this is not something that we should settle on long-running issues and it seems no one cares too much about this today.

[2019-09-22 01:16] #14808 closed

[2019-09-22 01:23] Mark-Simulacrum commented on #15070
I'm going to close this as we don't have consensus (and, I, for one don't even think we should do anything here).

[2019-09-22 01:23] #15070 closed

[2019-09-22 01:28] Mark-Simulacrum commented on #15618
I'm going to close this -- this essentially I believe comes down to [this if](https://github.com/rust-lang/rust/blob/ed8b708c1a6bf6d94f860eeb6a6b0b442c380d7f/src/libsyntax_ext/deriving/cmp/partial_ord.rs#L64-L72) -- which I think we can't remove in a completely backwards compatible manner today. If I'm wrong then we can reopen (but it becomes a really easy bug then I suspect, so it's odd that this

[2019-09-22 01:28] #15618 closed

[2019-09-22 01:32] Mark-Simulacrum commented on #14466
I'm going to close this as what we should do here is not for this issue -- and I believe the tracking issue for the 1826 RFC lays this out in better detail: https://github.com/rust-lang/rust/issues/44687

[2019-09-22 01:32] #14466 closed

[2019-09-22 02:04] estebank commented on #38063
Current output:

[code]

[2019-09-22 02:04] #38063 closed

[2019-09-22 02:08] estebank commented on #36775
Current output:

[code]

Fixed in https://github.com/rust-lang/rust/pull/64498.

[2019-09-22 02:08] #36775 closed

[2019-09-22 02:10] estebank commented on #39942
Current output:

[code]

I don't think we'll get to suggesting dereferencing for these cases in the short term.

[2019-09-22 02:25] estebank commented on #41850
Multiple primary spans are supported by using a `MultipSpan` as the primary span, but we won't add support to have a label apply to multiple spans at the same time (as the ascii art required for it doesn't compose well). I believe that the current output for this case in particular looks as good as we can get, but today we can also have:

[code]

[2019-09-22 02:25] #41850 closed

[2019-09-22 05:32] msizanoen1 commented on #62896
Looking at the distribution configuration, rustc is compiled against a very old glibc version (2.16) which may have bugs affecting LLVM 9.
(For anyone wondering how you can have old bugs on new distributions: https://stackoverflow.com/questions/2856438/how-can-i-link-to-a-specific-glibc-version)

[2019-09-22 05:51] msizanoen1 commented on #62896
If we set the env var `MALLOC_CHECK_` to 1 then glibc will perform some extra malloc checks and we could have clearer backtraces.

[2019-09-22 05:55] msizanoen1 commented on #62896
After enabling malloc check:
[code]

[2019-09-22 06:04] msizanoen1 commented on #62896
It still sometime segfaults even with malloc checking enabled.

[2019-09-22 06:22] msizanoen1 commented on #62896
The CI also statically link libstdc++ so it may also be caused by old toolchain version.

[2019-09-22 06:32] #63983 closed

[2019-09-22 06:32] #63962 closed

[2019-09-22 06:39] hch12907 commented on #64464
It is possible to workaround that by creating a struct, which is a reversed iterator, and return that struct instead for non-ne functions.

That might seem to be too much work for such a simple function though... Or we can just implement `as_ne_bytes` only.

[2019-09-22 07:51] Bejaenka commented on #64482
Sorry for the late reply. Backtrace:

stack backtrace:
   0: std::panicking::default_hook::{{closure}}
   1: std::panicking::default_hook
   2: rustc::util::common::panic_hook
   3: std::panicking::rust_panic_with_hook
   4: std::panicking::continue_panic_fmt
   5: rust_begin_unwind
   6: core::panicking::panic_fmt
   7: core::panicking::panic
   8: <rustc_codegen_llvm::back::archive::LlvmArchiveB

[2019-09-22 08:16] jedisct1 commented on #62896
Compilation still fails with `codegen-units = 1` when LTO is enabled.

[2019-09-22 08:19] msizanoen1 commented on #62896
You use `-C lto=fat` or `-C lto=thin`?

[2019-09-22 08:36] msizanoen1 commented on #62896
Looks like ThinLTO causes this:
[code]

[2019-09-22 08:54] Ploppz opened #64680 "Compiler crash when using RLS"
Trying to use RLS in neovim (https://github.com/autozimu/LanguageClient-neovim/issues/889#issuecomment-533800654)
[code]

[2019-09-22 08:59] Lonami commented on #64680
Duplicate of #64667 and #64659.

[2019-09-22 09:06] kurnevsky opened #64681 "Wrong infered type when an additional constrain added"
In the function `f` I have to specify `bool` explicitly while `f` differs from `g` in constrains only:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f3bfa6c5cea44b4239677476b7e03cf4)

Not sure if it's an actual bug but it looks like the type inference should work the same way in both cases.

[2019-09-22 09:07] #64680 closed

[2019-09-22 09:42] bbqsrc opened #64682 "proc-macro param attrs dropping first attrs in impl fns"
I have been able to reproduce https://github.com/rust-lang/rust/issues/64282.

If an `fn` inside an `impl` has a param attr on the first parameter, no matter how many, they are not visible in the `TokenStream`.

Repro repo: https://github.com/bbqsrc/params-attribute-example

Source:

[code]

Printed output:

[code]

As you can see, `hello` and `hello2` are missing their attrs on the `a` param. The

[2019-09-22 09:43] bbqsrc commented on #64682
Ping @Centril

[2019-09-22 09:50] bbqsrc commented on #64682
Also pinging @c410-f3r due to impact on https://github.com/rust-lang/rust/pull/64010.

[2019-09-22 09:57] jedisct1 commented on #62896
I use whatever `lto = true` in `cargo` does :)

[2019-09-22 10:11] gnzlbg opened #64684 "Misleading error message, privacy error reported as type error"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=db546b8ab3361a008f7cd421658e15aa))

Errors:

[code]

The error message here is incorrect. Whether the types match or not is irrelevant, because the field is private. The error should say something like this instead ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c2a74

[2019-09-22 10:21] #64636 closed

[2019-09-22 11:11] lienke commented on #63848
Compiled with:
`cargo build --all-features && cargo run --all-features`
and compile **failed** with several messages about `ld` not finding several items.

Recompiled with:
`cargo build`
and finished **successfully**.
Versions used:
[code]
Thanks to all for dealing with this ... cheers, drl

[2019-09-22 11:32] jonas-schievink commented on #64482
It's probably one of the `.unwrap()`s in this function, which would fail if some paths are not valid UTF-8. Do you know if this is the case on your system?

https://github.com/rust-lang/rust/blob/4ff32c07da9d97e6dc315a4a5c9ffbb797cb27bb/src/librustc_codegen_llvm/back/archive.rs#L221-L312

[2019-09-22 12:10] oli-obk commented on #64352
For me, this doesn't clarify anthing. It just means I'm gonna learn another name that means nothing.

I liked the `GenericArg` suggestion, since it matches the AST/HIR naming for the equivalent values.

[2019-09-22 12:25] nox commented on #50560
Closing it.

[2019-09-22 12:25] #50560 closed

[2019-09-22 12:26] nox commented on #64454
Where would one need to start to do such a change? Cc @GuillaumeGomez

[2019-09-22 12:27] nox commented on #64310
So did that help, @michaelwoerister?

[2019-09-22 12:28] korken89 commented on #43081
Hi, how is this issue progressing? The core foundational crates (e.g. `cortex-m`, `cortex-m-rt`) for the embedded ecosystem are heavily dependent on proc macros and not getting sane error messages (with lost span information) really hinders development and adoption for beginners.

I'm not sure how to "rattle the tree" to have this issue get more attention, if you have tips I'm very open help impro

[2019-09-22 12:52] Mark-Simulacrum commented on #43081
For many cases, I think we can trivially get incremental wins here -- e.g. you'll note that https://github.com/rust-lang/rust/issues/64561 is E-easy and E-mentor -- but solving this problem entirely I think is somewhat up in the air as to how to do so, though we do have some ideas. @matklad in particular has been doing some work to move us over to using more TokenStream rather than ASTs as input t

[2019-09-22 14:17] varkor commented on #64585
@sam09: I think this is the right function. I agree that it'd be helpful to have a higher cutoff for smaller words. You could try using a slightly different default distance function, and see if there are many changes after running `x.py test src/test/ui --bless`. I almost feel Levenshtein distance isn't the right metric — inserting consecutive new characters should have a lower distance than the

[2019-09-22 14:24] xd009642 opened #64685 "Linker error because `-wL as-needed` conflicts with `-C link-dead-code`"
When a project has the `[lib]` tag in the `Cargo.toml` the `-wL as-needed` flag is added to the projects linker flags. However, if a project uses `-C link-dead-code` the two flags conflict causing a linker error of `undefined reference` for any functions in the lib.

This was discovered because link-dead-code is used for code coverage in tarpaulin. I spent some time seeing if there was a way aroun

[2019-09-22 14:34] steveklabnik commented on #47606
Triage; Looks like Pietro has added a bit of testing, but it's "just a start"

[2019-09-22 14:34] mattheww opened #64686 "Incorrect description of std::prelude name resolution in standard library docs"
The [documentation for `std::prelude`][1] states:

[1]: https://doc.rust-lang.org/std/prelude/index.html

But I believe the second part of that is no longer a correct description of how the prelude works, as far as user-visible behaviour is concerned.

In particular, the following code compiles, but doesn't if I remove the `use` statement:

[code]

And the following doesn't compile (saying «`Strin

[2019-09-22 14:37] varkor commented on #53820
@Nadrieril: ah, that's a very good point. I think you're right: we're going to have to handle these large witnesses specially. (Maybe after a certain cutoff, we start using `..` rather than being explicit.) I wonder whether we can still use a modified version of the "treat arrays like slices" approach. However, when we get to the point where we're going to print diagnostic messages involving the w

[2019-09-22 14:39] steveklabnik commented on #32663
Triage: not aware of any better diagnostic here yet!

[2019-09-22 14:40] steveklabnik commented on #31155
Today, the feature is no longer in nightly, and we get fully optimized results for both:

[code]

closing!

[2019-09-22 14:40] #31155 closed

[2019-09-22 14:50] steveklabnik commented on #46571
Triage: looks like the original PR didn't get merged. We've been making more and more stuff `const fn`, what's the current status here?

[2019-09-22 14:54] steveklabnik commented on #30904
Triage: The ICE has been fixed, and the error message is now:

[code]

[2019-09-22 14:57] steveklabnik commented on #41631
Triage:

1. the code still does not optimize properly today
2. @jrmuizel confirmed that it's because we removed the `noalias` stuff
3. since this has been filed, we've re-enabled and then re-disabled `noalias` again.
4. this means that this is an effective dup of https://github.com/rust-lang/rust/issues/54878; the new 're-enable noalias' bug.

Closing! Thanks for the report.

[2019-09-22 14:57] #41631 closed

[2019-09-22 15:00] steveklabnik commented on #49010
Triage: looks like the energy to reproduce this one kinda petered out. Can anyone reproduce this today?

[2019-09-22 15:00] Bejaenka commented on #64482
thanks for your help!

Then it's probably either these commands
     export AR=/Users/bianca/Library/Android/sdk/ndk/20.0.5594570/toolchains/llvm/prebuilt/darwin-x86_64/bin/aarch64-linux-android-ar
     export TARGET_CC=/Users/bianca/Library/Android/sdk/ndk/20.0.5594570/toolchains/llvm/prebuilt/darwin-x86_64/bin/aarch64-linux-android29-clang

or this part from my cargo config file
[target.aarch64-

[2019-09-22 15:02] steveklabnik commented on #37930
Triage: `future` has changed a lot, and so the output is likely to change. I'm not great at future internals yet, but someone wanting to reproduce this bug should port the code in @alexcrichton 's comment and see how it optimizes.

[2019-09-22 15:03] steveklabnik commented on #49653
Triage: not aware of any changes here, the problem is still the same.

[2019-09-22 15:07] steveklabnik commented on #47561
Triage; It's been a while. @Marwes lots has changed since you've filed this issue; do you still track this stuff on combine?

[2019-09-22 15:16] oli-obk commented on #46571
@Gankra https://github.com/rust-lang/rust/pull/63770 solves your problem, albeit not with `size_of_val`

[2019-09-22 15:31] steveklabnik commented on #29499
Triage: no discussion on this bug in almost *four years*!

The code is slightly different now:

[code]

The errors are spiritually similar, though different:

[code]

My understanding is that auto traits won't be stable any time soon, if ever. I'm not sure, but I think we should close this.

[2019-09-22 15:33] steveklabnik commented on #53155
Triage:

I agree, though we should get @rust-lang/libs signoff before re-categorizing this bug.

[2019-09-22 15:34] steveklabnik commented on #30924
Triage: not aware of anyone working on this.

[2019-09-22 17:10] banool commented on #50373
Any updates here? I'm running into this error as we speak on nightly and it's very unclear what I'm meant to actually do.

[code]

[2019-09-22 17:14] banool commented on #27812
A lot of people probably end up here because the compiler points you here when you see the `rustc_private` error. For people who know nothing about the compiler and are wondering why you're seeing this error, it might be worth trying to get some traction on this issue: https://github.com/rust-lang/rust/issues/50373.

[2019-09-22 17:18] Nadrieril commented on #53820
Ok, so running tests takes > 5min which makes it quite hard for me to try things out. Since the functionality of match exhaustiveness is quite independent from the rest of rustc, I thought I'd add some unit tests directly in the file instead of adding them in `src/test/ui/...`.
Would that be ok ? Would anyone know the correct `x.py`/`cargo` invocation to only rebuild and test `librustc_mir` ?

[2019-09-22 17:35] gnzlbg commented on #49653
@steveklabnik we don't have a label for accidental stabilizations, which makes them hard to find (there are a couple of accidental stabilizations issues opened). It might make sense to create a label for it and start using it. cc @jonas-schievink

[2019-09-22 18:35] jonas-schievink commented on #49653
There's `A-stability`, which kinda fits

[2019-09-22 18:54] ExpHP commented on #64464
I think the benefits of an iterator over the existing `to_{b,l}e_bytes` methods seem nebulous.  That is to say, in whatever use case motivates this feature request (where the author needs a slice instead of an array), I can't imagine how an iterator would help.

[2019-09-22 19:08] gnzlbg commented on #44109
preserve backwards compatibility when new fields/variants are added.

Do we have a list of potentially backward-incompatible things that downstream crates can technically do but maybe shouldn't? For example, can downstream crates call `size_of::<NonExhaustive>()`, `align_of::<NonExhaustive>()`, etc. ?  If so, they probably shouldn't write code that "relies" on those values because they can change

[2019-09-22 19:33] Ralith commented on #44109
I think this is similar to the situation with types that transitively contain private fields, i.e. just something that people need to be careful of.

[2019-09-22 19:41] gnzlbg commented on #44839
@jonas-schievink this should probably be marked with A-stability as well, since an accidental stabilization was reported here.

[2019-09-22 19:53] CryZe opened #64692 "No error for private type in public async fn"
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4cfeed4e56df13be164fe7e46608e39a)
[code]
This compiles just fine, despite the async fn returning a private type. There is a warning, but that's about it.
[code]
I don't think the warning was intended for async fn. This seems like it slipped through for async fn.

[2019-09-22 20:21] jyn514 commented on #43244
Any progress on this? Is the name the only thing that's still in limbo?

[2019-09-22 21:11] Lokathor opened #64693 "Request: add an impl for `f32::try_from(i32)`"
It appears that there's no `TryFrom` support on the `f32` type.

[2019-09-22 21:12] Lokathor commented on #44109
You shouldn't write code that relies on those values being _a particular number_, but using those values in general is entirely correct.

[2019-09-22 22:11] Lokathor commented on #64693
Also, `u32`, `i64`, `u64`, etc

And `f64` versions.

[2019-09-23 00:25] sfackler opened #64697 "Type parameters of associated consts have unexpected lifetime constraints"
This simple trait fails to compile:

[code]

[code]

However, `T`'s lifetime obviously has nothing to do with the lifetime of a pointer to a function that includes `T`.

[2019-09-23 00:44] sfackler commented on #64697
Note that a version of the trait with a function returning `&'static fn(T)` does compile:

[code]

[2019-09-23 02:07] Centril commented on #64697
cc @nikomatsakis -- I seem to recall us having discussed `&'static fn(T)` at some point.

[2019-09-23 02:19] tomjakubowski commented on #16017
Update: still working on this, I've found a path to a solution and will submit a PR soon.

[2019-09-23 02:25] #61860 closed

[2019-09-23 03:34] fralalonde commented on #55467
Reading the RFC, I couldn't help to notice that

Which scares me a bit as it looks like [Z̆̊͊҉҉̠̱̦̩͕ą̟̹͈̺̹̋̅ͯĺ̡̘̹̻̩̩͋͘g̪͚͗ͬ͒o̢̖͇̬͍͇͓̔͋͊̓](https://stackoverflow.com/questions/6579844/how-does-zalgo-text-work) could be used to craft some pretty identifiers. But it could also have, ah, interesting uses for obfuscation.

While I understand the drive for allowing non-latin identifiers, I feel like th

[2019-09-23 03:50] dtolnay commented on #50264
Do we have any known uses for Result::as_deref or Result::as_deref_mut? It seems like it would be quite rare that those would be what you want.

@rfcbot concern do we need the Result methods that deref both

[2019-09-23 03:57] dtolnay commented on #50264
I would prefer dropping Result::as_deref and renaming as_deref_ok to as_deref, similar for mut. This matches the way we have Result::map to operate on the Ok value and Result::map_err to operate on the Err value.

[2019-09-23 04:44] Serentty commented on #55467
The security implications have already been discussed, and mitigations (mostly lints) are mostly decided upon, but actually implementing them is what is holding this up.

[2019-09-23 05:14] stephaneyfx commented on #64697
Can `&'a T` be valid if `T` contains a lifetime `'b` and `'a` strictly outlives `'b`? Or formulated differently, does it make sense for a type involving lifetime `'a` to exist outside of the scope defined by `'a`? I think the answer is no by definition: `'a` defines a scope which type definitions using this lifetime `'a` cannot escape as they wouldn't be usable outside of this scope (what would `'

[2019-09-23 05:14] estebank commented on #41343
Triage: no change for the OP. For the case brought up in StackOverflow, the current output is

[code]

and if you follow the compiler advice you get

[code]

which nudges you in the right direction:

[code]

The first message already mentions "this function's return type contains a borrowed value with an elided lifetime, but the lifetime cannot be derived from the arguments", which could use a rep

[2019-09-23 05:16] stephaneyfx commented on #64697
It looks like `&'static fn(&'a i32)` implicitly adds `'a: 'static`.

If I try to provide an implementation for the [trait @sfackler defined](https://github.com/rust-lang/rust/issues/64697#issuecomment-533934012) and use it with something not `'static`, [the code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ce588c7b492133f78c677cea20643fad) is rejected:
[code]
[code]

[O

[2019-09-23 05:17] estebank commented on #40900
Triage: no change other than `&T` -> `&dyn T`.

[2019-09-23 05:19] estebank commented on #40850
Current output:
[code]

[2019-09-23 05:33] sanboxrunner opened #64701 "Two function generic type bounds creates nonsense"
This is rather silly --
[code]
This function will compile except that no one can call it. If you only put in one parameter, it yells to have two, if you put in two, it yells to have one.

This doesn't seem like good behavior

[2019-09-23 05:57] stephaneyfx commented on #64701
[This is possible to call it on nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6fa4720ff7adb9524d2b1604458642c9):
[code]

[2019-09-23 06:38] #26271 closed

[2019-09-23 06:38] #33575 closed

[2019-09-23 06:38] #44504 closed

[2019-09-23 06:38] #64519 closed

[2019-09-23 07:57] martinellison commented on #64550
@mark how do I install rustup if I have run the stand alone install? Rust-install doesn't all this.

[2019-09-23 08:28] gnzlbg commented on #44109
This code compiles today without warnings ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9082e469cee7b32d84fe665a744ca6af)):

[code]

FFI safety requires layout compatibility but `#[non_exhaustive]` is saying "don't rely on the layout of this type" so... shouldn't the `improper_ctypes` lint at least warn about this?

Or how is this code supposed to work corr

[2019-09-23 09:23] gentoid opened #64704 "rustc panicked in RLS. "node type <G>::NodeId (...) cannot be placed in TypeckTables with local_id_root""
Not sure if there are similar issues, so I open a  new one.

In my project https://gitlab.com/gentoid/oxyfy/merge_requests/7 I updated deps (see [the diff](https://gitlab.com/gentoid/oxyfy/merge_requests/7/diffs?diff_id=55967431&start_sha=ef363f13ee24afe36fa22dc7c131cd9bc9c278cb)) and updated nightly Rust to the latest available. And after that I noticed, that RLS in VS Code cannot compile the pro

[2019-09-23 09:37] pnkfelix commented on #50776
(I grabbed .dmg images of old installation media, since Apple does keep those available for download, but I was not able to use them with vmware, even after converting them to .iso's in Disk Utility... so, no progress yet in replicating this...)

[2019-09-23 10:00] pnkfelix commented on #51838
Closing based on report that going back to running in spawned thread by default (PR #56813) fixed this.

[2019-09-23 10:00] #51838 closed

[2019-09-23 10:04] pnkfelix commented on #52577
There has been significant changes to the code [is hypothesized to have](https://github.com/rust-lang/rust/issues/52577#issuecomment-407810669) injected this bug.

We've gone back to running rustc in a spawned thread by default (in PR #56813; though that did not restore all aspects of the code from before PR #48575 landed). And then well after that, PR #56732 got rid of `rustc_driver::driver` enti

[2019-09-23 10:08] qnighy commented on #64653
You may be interested in discussions like https://users.rust-lang.org/t/is-there-a-plan-to-get-a-formal-rust-language-specification-at-some-point/21622 and https://internals.rust-lang.org/t/formal-semantics-type-rules/584

[2019-09-23 10:09] jonas-schievink commented on #64704
Duplicate of https://github.com/rust-lang/rust/issues/64659

Please search for similar issues before opening a new one. Thanks!

[2019-09-23 10:09] #64704 closed

[2019-09-23 10:12] jonas-schievink commented on #64701
This is expected behavior and can also be caused by using `Copy + Drop` as a bound. We could emit a lint for this, but new lints need to go through the RFC process, or should be added to Clippy instead, so closing.

[2019-09-23 10:12] #64701 closed

[2019-09-23 10:19] Nadrieril commented on #54883
I'd be interested in implementing the exhaustiveness-checking part of this feature, since I've become familiar with the exhaustiveness algorithm

[2019-09-23 11:51] Mark-Simulacrum commented on #29499
Yes, I think this is correctly returning an error / we somewhat expect this to not work, indeed "type inequality" is generally something that I believe we try to make impossible to represent with traits today, so I agree that we can close this.

[2019-09-23 11:51] #29499 closed

[2019-09-23 12:19] Evrey opened #64705 "ICE when `cargo doc` on `lexical-core`: attempted .def_id() on invalid res: Err"
<short summary of the bug>

I tried this code: Running `cargo doc` on a project that has `lexical-core 0.6.2` as its direct or indirect dependency.

I expected to see this happen: All packages documented.

Instead, this happened: `error: internal compiler error: src/librustc/hir/def.rs:345: attempted .def_id() on invalid res: Err` — also fails on `docs.rs`.

## Meta

`rustc --version --verbose`:

[2019-09-23 12:38] pnkfelix commented on #58517
I would like to double-check the running hypothesis that this was caused by the addition of `FusedIterator` in PR #35656 .

I briefly attempted to make a standalone test case that does not rely on `core::str` nor `core::iter` by transcribing the relevant traits and structure definitions, but the pieces here are pretty gnarly.

 * (Basically the choices for further minimization, as I see them, are

[2019-09-23 12:42] raidwas opened #64707 "ICE with const_generic and integration test"
Searched a bit, but did not find the same issue. When using const_generics and trying to get an integration test (or benchmark) to run, the compiler ICEs.

I tried this code:
src/lib.rs:
[code]
tests/foo.rs:
[code]
Cargo.toml:
[code]
Commandline:
`CARGO_INCREMENTAL=0 cargo test`

I expected to see this happen: It should build and the test should run without any problems.

Instead, this happened: T

[2019-09-23 12:50] choller commented on #64629
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1533213

[2019-09-23 12:57] Centril commented on #50264
This is neat! Personally, my interest has mainly been for `Option::as_deref`, which I've been happily using in the compiler.

[2019-09-23 13:37] ollie27 commented on #64693
See https://internals.rust-lang.org/t/tryfrom-for-f64/9793

How would it be implemented and what would it be used for?

[2019-09-23 13:46] bjorn3 commented on #53142
Is this still an issue?

[2019-09-23 13:55] SimonSapin commented on #50264
I made a stabilization PR and separate FCP for just the `Option` methods: https://github.com/rust-lang/rust/pull/64708

[2019-09-23 14:05] lienke commented on #63848
Installed missing libraries, allowing build to complete, but with warnings. Assuming `nu` folks will deal with that. Thanks ... cheers, drl
[code]

[2019-09-23 15:20] GuillaumeGomez commented on #64454
You already have a list of all items. Also, different types can have the same name. For me, it seems better to keep it this way.

[2019-09-23 15:44] emilio opened #64710 "cmp::max changed behavior in nightly"
This program ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8cac9661ef1e135fc25d94f33027c9f0)) changed behavior between https://github.com/rust-lang/rust/compare/97e58c0d3...1dd188489.

And broke bindgen as a result in funny ways.

[code]

I suspect https://github.com/rust-lang/rust/pull/64047.

[2019-09-23 15:45] emilio commented on #64710
cc @timvermeulen

[2019-09-23 15:46] emilio commented on #64710
Sorry, changelog is https://github.com/rust-lang/rust/compare/97e58c0d3...ed8b708c1, which discards the llvm upgrade.

[2019-09-23 15:48] emilio commented on #64710
Looking at this further, I think what's going on is that `Ord` and `PartialOrd` don't agree. This may just be a bug in bindgen, who expected (looks like, I didn't write that code) `PartialOrd::partial_cmp` to be called instead of the `Ord` trait...

[2019-09-23 15:51] Centril commented on #64710
@emilio which means that this issue should be closed since it's a contract violation on bindgen's end?

[2019-09-23 15:55] Centril commented on #54883
@Nadrieril Take a look at https://github.com/rust-lang/rust/pull/63688/files#diff-11dbfaea8934544f878f807e6285a221 -- it may be that @dlrobertson has already solved the issue there, but we could expedite this part. Also, we should include some tests for some non-exhaustive cases (the exhaustive cases may need further work in MIR to not ICE). It might be best to fix this once https://github.com/rus

[2019-09-23 15:55] SimonSapin commented on #64710
Yes, I think this std change only exposed an existing bug in bindgen. While it is a behavior change, it likely only occurs with contradictory impls:

https://doc.rust-lang.org/std/cmp/trait.Ord.html#how-can-i-implement-ord

Closing, thanks for investigating @emilio!

[2019-09-23 15:55] #64710 closed

[2019-09-23 16:43] varkor commented on #64707
This is probably https://github.com/rust-lang/rust/issues/61624.

[2019-09-23 16:48] ChrisJefferson opened #64711 "Incorrect suggestion given private function"
In `constants.rs` I have a private method: `fn defaultConfig() -> bool { ... }`.

If I import all members into another file using: `use crate::constants::*`, then call `defaultConfig`, I get the following error:

[code]

However, the suggested fix won't help. Adding `use crates::constants::defaultConfig` suggests adding `pub` to `defaultConfig`. Suggesting `crates::constants::defaultConfig` isn't

[2019-09-23 16:52] andswitch opened #64712 "Compiler option to augment implicitly typed variables in the code with explicit type information"
Hi,

Type inference is nice. You can write code faster since you don't have to change type annotations all over the place when you change the type of one thing somewhere. On the other hand, I also think that in some cases it takes more time to grok implicitly typed code, especially if the problem domain and/or the architecture is new to you. You have to dig more into the code to figure out just wh

[2019-09-23 16:59] Mark-Simulacrum commented on #64712
I believe this is pretty much out of scope for the compiler itself today and is somewhat non-trivial; there is `rustc --unpretty=hir,typed` I believe but it (probably) doesn't provide this directly.

I think RLA and RLS both provide some level of types-on-hover already, and will only be better at doing so faster and such in the future, making this sort of already done on the editor level.

[2019-09-23 16:59] #64712 closed

[2019-09-23 17:01] jhpratt commented on #57563
Would it be possible to special-case `bool && bool`, `bool || bool`, etc.? They can currently be performed in a `const fn`, but doing so requires bitwise operators, which is sometimes unwanted.

[2019-09-23 17:04] Centril commented on #57563
@jhpratt Please move this to the relevant tracking issue (https://github.com/rust-lang/rust/issues/49146).

[2019-09-23 17:10] daboross commented on #60374
This seems related to https://github.com/rust-lang/rust/issues/20671

[2019-09-23 17:10] jhpratt commented on #49146
(copying from #57563 per request)

Would it be possible to special-case `bool && bool`, `bool || bool`, etc.? They can currently be performed in a `const fn`, but doing so requires bitwise operators, which is sometimes unwanted.

[2019-09-23 17:11] RalfJung commented on #64454
Which list do you mean?

An enum and a struct cannot have the same name just like two structs cannot have the same name -- only if they are in different modules. So what do you mean by "different types can have the same name"?

[2019-09-23 17:11] estebank commented on #64712
The desired information is only in scope for the compiler when it comes to diagnostics themselves, and we're moving in that direction. As @Mark-Simulacrum the request seems to be more appropriate for the RLS and Rust Analyzer projects.

[2019-09-23 17:13] RalfJung commented on #49146
They are already special-cased in `const` and `static` items -- by translating them to bitwise operations. But that special-casing is a huge hack and it is very hard to make sure that this is actually correct. As you said, it is also sometimes unwanted. So we'd rather not do this more often.

Doing things right will take a bit, but it'll happen. If we pile on too many hacks in the mean time, we mi

[2019-09-23 17:25] matklad commented on #61129
@jonhoo would you like to send a stabilization PR? I feel like this is pretty uncontroversial and useful, to the point that I first type `mem::take` and than recall that it is not stable yet :-)

[2019-09-23 17:35] nikomatsakis commented on #64633
@joshtriplett

I'm not 100% sure what you are suggesting. I think maybe you are suggesting we extend the documentation of the `From` trait (in this case) with a special "Note" or something like that which says:

"Note that we intend to add `From<!> to T` in the future, which implies some limitations on the kinds of impls you can make, see #12345 for details"?

We could do that, though it feels lik

[2019-09-23 17:48] nikomatsakis opened #64715 "Tracking issue for reserved impl `impl<T> From<!> for T`"
## Background

This is a **tracking issue** for a temporary limitation related to the `From` trait and the `!` type. Specifically, we wish to eventually add an impl like the following:

[code]

We cannot do so now because it would overlap with existing impls. Specifically, the impl `impl<T> From<T> for T` as well as impls of the form `impl<T> From<T> for Foo<T>`, which exist for a number of smart

[2019-09-23 17:48] nikomatsakis commented on #64633
I created https://github.com/rust-lang/rust/issues/64715 as a first stab at a "user-readable" tracking issue.

[2019-09-23 17:56] jonhoo commented on #61129
@matklad done in #64716

[2019-09-23 18:48] najamelan commented on #43466
It doesn't seem to work for me...

[2019-09-23 18:48] bstrie commented on #50547
The stabilization PR at #63209 notes that "All the blockers are now closed." and was landed into nightly on August 20, therefore heading for the beta cut later this week. It seems worth noting that since August 20 some new blocking issues have been filed (as tracked by the AsyncAwait-Blocking tag). Two of these (#63710, #64130) appear to be nice-to-haves that would not actually impede stabilizatio

[2019-09-23 18:56] joshtriplett commented on #64633
@nikomatsakis I think I'm just suggesting that we have a doc comment on the reservation impl, and put the contents of that doc comment (however we choose to explain it) in the documentation. That doesn't seem like it would be a *huge* amount of change to rustdoc to just add that one comment.

[2019-09-23 19:27] Centril commented on #50547
@bstrie We are just reusing "AsyncAwait-Blocking" for lack of a better label to note them as "high priority", they are not actually blocking. We should revamp the labeling system soon to make it less confusing, cc @nikomatsakis.

[2019-09-23 19:33] Centril commented on #44109
@gnzlbg Seems like a reasonable concern. It's strictly back-compat to start emitting the lint later, but we might as well fix it from the outset.

@rust-lang/lang does anyone object to having `improper_ctypes` account for `#[non_exhaustive]`, and if not, could you extend the lint, @davidtwco?

[2019-09-23 19:50] dlrobertson commented on #54883
@Nadrieril great to see that you're interested in helping out! Due to the shift in the style of implementation ("expanding" the or-pattern at the `Candidate` level instead of manually manipulating the CFG) the exhaustiveness changes will be made in the MIR generation PR. That being said, as @Centril noted tests etc will definitely be needed/appreciated.

[2019-09-23 20:27] gnzlbg commented on #44109
FWIW my [concern](https://github.com/rust-lang/rust/issues/44109#issuecomment-533908904) is that it's unclear to me how `#[non_exhaustive]` constraints the assumptions that downstream crates can make about layout. `extern "C"` declarations is one place where that can matter, another one is `repr(C)` types. For example, for a `#[non_exhaustive] #[repr(Rust)] enum/struct` it doesn't matter where a n

[2019-09-23 20:35] nikomatsakis commented on #64391
Now that #64584 has landed, I'm going to close this again, since afaik we've fixed all the known bugs here.

[2019-09-23 20:35] #64391 closed

[2019-09-23 21:29] ericyoungblut opened #64718 "std::process::Command doesn't follow Unix signal safety in forked child"
These lines from spawn can cause a deadlock. It's wrong to assume that you can lock in the parent and the unlock in the child. Read man 2 fork and man 7 signal-safety on Linux.

        // Whatever happens after the fork is almost for sure going to touch or
        // look at the environment in one way or another (PATH in `execvp` or
        // accessing the `environ` pointer ourselves). Make sure

[2019-09-23 21:54] nikomatsakis commented on #64130
I talked about this with @yoshuawuyts today and we settled on something like this as a pretty decent error message (and, I think, achievable). One of the key changes is that it does not attempt to explain *each step* of how we got from the `foo()` to `bar()`, it just jumps in to the most important point. It also avoids talking about the mutex guard until we are in the body of `bar()`.

[code]

[2019-09-23 23:33] yoshuawuyts commented on #64130
In addition to what @nikomatsakis has said so far, I wanted to highlight something else in the example:

This line is intended to inform people that:

1. Futures optionally implement `Send`
2. Indicate _when_ a future implements `Send` (in this case it doesn't, and we explain why)

The goal is to inform people of these rules so they can start forming intuition about them. Because conditional `asyn

[2019-09-23 23:39] cramertj commented on #29599
@devsnek nope, most use cases can be solved by using https://github.com/dtolnay/paste though.

[2019-09-23 23:43] cramertj commented on #64445
Yes, the current set of defining uses is significantly reduced from what is allowed by the RFC.

[2019-09-23 23:51] cuviper commented on #64681
For posterity, here's the error where it inferred `S` instead of `bool`:

[code]

If `f`'s constraint is changed to `Standard: Distribution<bool>`, it infers `bool` just fine.

I also tried `Distribution<S> + Distribution<bool>` and vice versa, but either way infers `S`.

[2019-09-24 00:13] Centril commented on #64343
I'm getting this when running `./x.py clean && ./x.py test` reliably: https://gist.github.com/rust-play/467eb762d03985ed871d1c0c72cbe32d.

[2019-09-24 00:23] devsnek commented on #29599
@cramertj will that allow `fn concat_idents!(x, y)() {}`? If so that's great, but it still feels like concat_idents not working on identifiers in definition positions is an abstraction leak of however the parser works.

[2019-09-24 01:09] boustrophedon opened #64723 "Unused variable warning is emitted on trait method with default implementation"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1229cc645454ceb61ca781b7ad4a6116

If you have a default implementation of a trait inline with the declaration, in which you don't use a parameter, the compiler will warn about the unused variable and suggest that you add an underscore.

However, the underscore in this case is undesirable because it will appear in your document

[2019-09-24 01:54] steveklabnik commented on #34430
Triage: error message is different now:

[code]

[2019-09-24 01:55] steveklabnik commented on #43415
Triage: It's been two years. Is this bug still relevant?

[2019-09-24 01:56] steveklabnik commented on #46995
Triage: not aware of any fixes here

[2019-09-24 01:58] steveklabnik commented on #30002
Triage: years later, there's a different error:

[code]

[2019-09-24 01:59] steveklabnik commented on #36861
Triage: not aware of any movement on adding `relative_parent`

[2019-09-24 02:00] steveklabnik commented on #34634
Triage; not aware of any test added. Still gives the good code when compiled.

[2019-09-24 02:01] steveklabnik commented on #50604
It's been a while; has anyone seen this lately?

[2019-09-24 02:03] steveklabnik commented on #33434
It's been a while; are we still seeing this?

[2019-09-24 02:07] steveklabnik commented on #49766
I'm on Windows, but I cannot reproduce this today.

[2019-09-24 02:09] steveklabnik commented on #48371
Triage; we've changed the defaults around this a bunch of times, but I'm not sure what they are today.

[2019-09-24 02:36] novacrazy commented on #63959
Any luck with this? I'm still stuck on 07e0c3651ce2a7b326f7678e135d8d5bbbbe5d18 because of it.

[2019-09-24 04:24] PlasmaPower commented on #56445
I've been trying to trace this down, and I think it's due to #43408 (or at least it's the same code that needs fixed there, in rustc_typeck::collect::generics_of). I believe the UniversalRegionIndices aren't being properly populated for the constant, because in the HIR the constant doesn't have a parent. ConstraintConversion needs the UniversalRegionIndices to convert the ReEarlyBound into a Regio

[2019-09-24 05:59] Lokathor opened #64727 "Request: Lossy way to move `Vec<u8>` into a `String`"
If you have a `Vec<u8>` of utf8 data there's three ways to get a `String`:

* `from_utf8(vec: Vec<u8>) -> Result<String, FromUtf8Error>`
* `from_utf8_lossy(v: &'a [u8]) -> Cow<'a, str>`
* `unsafe fn from_utf8_unchecked(bytes: Vec<u8>) -> String`

There doesn't appear to be any way to hand over the existing `Vec<u8>` and have any necessary character changes into `�` be done _in place_. The `std::st

[2019-09-24 06:34] TheSamsa commented on #64684
I would like to tackle this as a first timer, if that is okay?
A little pointer where to begin my trip would be awesome, thanks in advance!

[2019-09-24 07:20] oliver-giersch commented on #55132
Bumping again, would like to see this stabilized.

[2019-09-24 08:10] gnzlbg commented on #64684
cc @estebank

[2019-09-24 08:21] staticfloat opened #64729 "`rustc` v1.37.0 freezing when passed `--emit`"
I am distributing `rust 1.37.0` (obtained through `rustup`) inside of an Alpine linux-based container for cross-compiling software for a large number target architectures.  While I have successfully managed to install `rustc` in such a way that I can compile (using `rustc --target=${RUST_TRIPLET} -C linker=${TRIPLET}-gcc -o hello hello.rs`) for all the different architectures I want, I have notice

[2019-09-24 08:31] mtnmts commented on #64727
@Lokathor - I would like to implement this (I have no contributions yet in the project).

May i please claim the request?

[2019-09-24 08:31] GalOz666 opened #64730 "error: internal compiler error: src/librustc_metadata/decoder.rs:483: entry: id not found: DefIndex(86) in crate aljabar with number 15"
Hey everybody :) I was trying to test matrix*vector in aljabar crate by
running "cargo test" on:
[code]

  and got this:

Not sure if it's a known issue or not but if there's anything else you need from me please let me know :)

[2019-09-24 08:33] GalOz666 commented on #64730
version:

[2019-09-24 08:35] Lokathor commented on #64727
I think that normally the Libs team is given a chance to comment on the issue (it's only been 3 hours), but the worst that can happen is that they reject your PR.

All I can say for sure is that I will not be implementing this particular patch myself.

[2019-09-24 08:38] mtnmts commented on #64727
Thanks for letting me know, I will wait until someone from the lib team will respond.

[2019-09-24 08:39] GalOz666 commented on #64730
verbose trace:

[2019-09-24 09:18] oli-obk commented on #53820
technically it should be `./x.py test src/librustc_mir --stage 1`, but I don't know if that does what it appears it should, never tested it

[2019-09-24 09:52] hellow554 commented on #64723
In that case you can use `#[allow(unused_variables)]` (although I see your point here)...

[2019-09-24 09:55] dhardy opened #64731 "Clarify when dependencies are linked"
The reference documents that [exern crate](https://doc.rust-lang.org/reference/items/extern-crates.html) has some documentation on linkage of dependencies, but appears to relate to Edition 2015 (or at least not mention linking without `extern crate`).

We are considering use of `extern "Rust"` and `#[no_mangle]` for custom backends [in getrandom](https://github.com/rust-random/getrandom/pull/109)

[2019-09-24 10:01] phaazon commented on #44109
Wait, I just knew about that feature, which is, I have to say, very interesting and appealing as it would solve several issues I’ve been facing.

However, I haven’t found in the RFC an alternative that would be way easier to implement and would solve that problem (and probably others too): `pub` on variant.

[code]

I apologize in advance if that has already been pointed out (I haven’t read the wh

[2019-09-24 10:21] jcdyer opened #64732 "Incorrect error message for byte literal with single quotes"
When creating a byte literal with single quotes, like `b'hello\0'`, The error message says:
[code]

But following the directions would not give us a `str` literal, it would give a `[u8]` literal.

[2019-09-24 10:32] josephlr commented on #64731
I think this is mainly an issue of documenting @alexcrichton's comment here: https://github.com/rust-lang/rust/issues/64402#issuecomment-530852886

To summarize: Cargo dependencies and the `--extern` `rustc` flag just make crates candidates for linking, you have to actually _use_ the crate to link it.

[2019-09-24 10:34] taiki-e commented on #29864
The current `#[feature(overlapping_marker_traits)]` certainly seems to be able to break the guarantee that pin-project provides: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a4a94d17a6acc0f58e446a5f7b8f82bc)

cc https://github.com/taiki-e/pin-project/issues/105

[2019-09-24 10:44] Havvy commented on #44109
@gnzlbg I imagine the full constraint there would be that you could only add new enum variants at discriminants that aren't yet used and that you cannot add a new variant that has a bigger maximum size than the current largest enum variant. But it wouldn't be strictly wrong to use them together AFAIK.

For structs, you'd basically have to also make sure on the Rust side to only add fields at the e

[2019-09-24 10:49] michaelwoerister commented on #64310
Unfortunately not. Specifying this  gives me:
[code]

[2019-09-24 11:00] varkor commented on #64732
This should be easy to fix, by replacing the message with:
[code]
when the literal is prefixed by `b`.
https://github.com/rust-lang/rust/blob/60895fd1f9ad24ee41bb3dac67fc2c5f127ecdb4/src/libsyntax/parse/unescape_error_reporting.rs#L57
You may need to see work out which call `emit_unescape_error` is originating from (in `src/libsyntax/parse/lexer/mod.rs`) to pass information about the nature of the

[2019-09-24 11:25] varkor commented on #63856
@bjorn3: what do you mean by "unnecessary"? None of the code requires the bound on the trait itself (though it is required in the impl), but that's also true for the other bounds, not just `HasParamEnv `.

[2019-09-24 11:33] bjorn3 commented on #63856
I cant find anything referencing `self.param_env()` insidr the impl.

[2019-09-24 11:36] Centril commented on #64730
It would help if you can reduce the problem to a minimal reproducer without the crate.

(Also note that ICEs are common for `const_generics`.)

[2019-09-24 11:42] varkor commented on #63856
It's used transitively by the ```rustc_target::abi::TyLayoutMethods<'_, C> for `&ty::TyS<'_>``` impl.

[2019-09-24 11:44] Centril commented on #44109
I think we should allow `pub` on variants as well as it is a more generally useful feature. The main reason this approach isn't used is that for `enum`s, it necessitates adding an extra variant. That makes it non-zero-cost.

[2019-09-24 11:53] gnzlbg commented on #44109
@Havvy I think I would also be fine with the answer that `#[non_exhaustive]` is not intended to help with future-proofing layout in any way, and that if you rely on any aspect of layout (call ABI, field offsets, ..), then you are on your own. From the RFC and associated discussion it wasn't clear to me whether this is an explicit goal of the feature or not - I did not see this being discussed anyw

[2019-09-24 11:58] gnzlbg opened #64734 "repr attributes can be applied at module level"
Spot what's wrong with this code:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fda6cbd1d9bcae478712b342a354ee1d))

For some reason, top-level `#![repr(..)]` attributes are allowed, so `Foo` isn't `repr(C)`. Sadly,
@rust-lang/underhanded isn't a thing.

[2019-09-24 12:04] phaazon commented on #44109
@Centril what about a marker, like a `PhantomData`?

[2019-09-24 12:04] jonas-schievink commented on #64734
I don't think attributes that affect codegen are checked for validity at all. The same thing happens for `#[cold]`, `#[inline]`, etc.

[2019-09-24 12:10] bjorn3 commented on #63856
I get it. I think `FnTypeExt` should always use `ParamEnv::reveal_all()` though, as it is used only after monomorphization.

[2019-09-24 12:17] gnzlbg commented on #44109
@phaazon the problem is that adding a new variant means that the enum discriminant now has to support it because it could be constructed - even if it is private, some `unsafe` code somewhere could activate it - a marker wouldn't change that. One way to change that would be to make the variant uninhabited (e.g. `enum Foo { pub PublicField, PrivateFieldZeroCost(!) }` ), but without a more precise mo

[2019-09-24 12:46] phil-opp commented on #42639
I think it's worth revisiting this issue given that the CI situation has considerably changed. AFAIK, Microsoft now sponsors the CI builders, so maybe it is possible to add this additional builder now?

[2019-09-24 12:49] phaazon commented on #44109
Ah right, good point. 👍

[2019-09-24 13:46] rkruppe commented on #64734
Some attributes including `#[repr]` and `#[inline]` [*are* checked](https://github.com/rust-lang/rust/blob/43a5ff4222e1f217ac14331afd59f82ec4204d12/src/librustc/hir/check_attr.rs), it appears it's just not visiting the root module. [Nested modules do get checked](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0cce4d60cb3f81fa5359f7fd934f17b9).

[2019-09-24 13:51] Centril commented on #64734
*In case* it turns out that many people rely on this, we could give reasonable (and arguably desirable) interpretation to `#![inline]` and `#![repr(C)]`: apply these recursively in the module to e.g. `struct`s and `fn`s (unless there is conflict, in which case the most-local attribute is chosen).

[2019-09-24 15:03] nikomatsakis commented on #44109
I am mildly opposed to linting if `#[repr(C)]` is combined with `#[non_exhaustive]`, but I do think @gnzlbg raises a good point that we should document how `#[repr(C)]` interacts with semver.

The question comes down to "what sorts of changes are breaking changes" -- and in particular when is adding a variant or field a breaking change (or changing the name/type of a field). I don't believe `#[rep

[2019-09-24 15:10] nikomatsakis commented on #64633
First, we should definitely cc @QuietMisdreavus at minimum -- not sure what is the best alias for rustdoc folks?

In any case, @joshtriplett, that seems pretty reasonable. In fact, I see rustdoc is already including doc comments, so I'll push a quick comment on the one existing impl. The main question *then* is whether to "badge" the impl or something (maybe just mark it as unstable).

[2019-09-24 15:11] Centril commented on #44109
@nikomatsakis That's a good rationale...

...but I wonder about this aspect. Would it make sense to make the `improper_ctypes` lint trigger *outside* of the current crate but not *inside*? That seems congruent with the intent of `#[non_exhaustive]`?

[2019-09-24 15:11] alexreg commented on #64445
@varkor @cramertj I think we need a new summary-post (issue?) detailing the defining uses. I will expand it to consts/statics for sure, but within fn bodies is more subject to debate (and trickier to implement).

[2019-09-24 15:13] Centril commented on #64633
cc @rust-lang/rustdoc

[2019-09-24 15:33] nikomatsakis commented on #44109
@Centril I see, maybe I misunderstood what was being proposed. I agree that this may make sense, but if it does trigger, it should probably also trigger for structs with private fields? At least I think the situation is quite analogous.

I suppose one difference is that it is ambiguous whether a struct with private fields may change size, but a `#[non_exhaustive]` attribute explicitly declares a d

[2019-09-24 15:40] Centril commented on #44109
@nikomatsakis I think you understood right, but I took your feedback into account and changed the suggestion. ;) Good point regarding usage on structs with private fields.

[2019-09-24 15:46] onehr commented on #64732
Can I work on this? @varkor

[2019-09-24 16:12] aidanhs commented on #62933
So, I think there are two pieces here:

1. https://github.com/rust-lang/rust/issues/62932 relates to cross compiling using xargo - the only blessed way of building libcore is via x.py, which I believe is tested. Outside of that is generally best effort and subject to breakage
2. https://github.com/rust-lang/rust/issues/62896 relates to using an arm-host compiler to build libc (also doesn't mention

[2019-09-24 16:12] #62933 closed

[2019-09-24 16:22] cramertj commented on #64445
[RFC 2071](https://github.com/rust-lang/rfcs/blob/master/text/2071-impl-trait-existential-types.md#reference-existential-types) specified that any unification site inside the module could count as a defining use.

[2019-09-24 16:24] cramertj commented on #29599
@devsnek `concat_idents` basically does not work, and there is no intention to stabilize it as it exists today.

[2019-09-24 17:07] gnzlbg commented on #62933
Each Rust compiler is a cross-compiler. We do test, for some cross-compilers, that they are able to cross-compile to some targets, e.g. the Linux x86_64-unknown-linux-gnu compiles libcore, etc. for all targets for which we do ship these components with rustup.

AFAICT, we don't test that each cross-compiler can actually cross-compile to all the targets it support, e.g., we don't test anywhere that

[2019-09-24 17:13] cramertj commented on #64692
We should look into turning the future-compat warning into a hard error for uses inside `async fn`, but given that we do already issue a future-compat warning I don't think this is a blocking issue.

[2019-09-24 17:16] cramertj commented on #64630
This is happening because the desugaring of `async fn` uses the `'_` lifetime. This is sort of unfortunate, but seems backwards compatible to fix, so I don't think we should block on this.

[2019-09-24 17:21] #64433 closed

[2019-09-24 17:28] cramertj commented on #64382
We could also consider suggesting an `async move` block, similar to the hints we provide for closures.

[2019-09-24 17:29] nikomatsakis commented on #64176
Quite likely related to https://github.com/rust-lang/rust/issues/64552

[2019-09-24 17:42] nikomatsakis commented on #64477
The `format!` errors are not, afaict, spurious. I created the expanded version of the example, and I see this:

[code]

To simplify:

[code]

we are making temporaries to store those `[...]` arrays. Those temporaries live until the end of the innermost enclosing statement, which occurs *after* the `await` -- hence they are live across the `await`. Unfortunately, the `format!` temporaries include `

[2019-09-24 17:49] gilescope commented on #64130
FYI: When reading the error message for the first time I was looking for the 'where clause' in the error message. I guess the `T: Send` is a where clause (in `fn is_send<T: Send>`) but I was looking for an explicit 'where ...'.

[2019-09-24 17:51] nikomatsakis commented on #64477
I'm going to close this issue for now, as a result.

[2019-09-24 17:51] #64477 closed

[2019-09-24 17:55] jebrosen commented on #64477
A bit sad, but understandable. And a glance through #45198 suggests that fixing the `format!` machinery to preserve `Send`ness would not be so easy either.

[2019-09-24 18:10] najamelan opened #64744 "ICE 'index out of bounds: the len is 0 but the index is 0', src/librustc_typeck/check/pat.rs:729:23"
commit that introduced ICE: https://github.com/najamelan/pharos/commit/fa9b467ad928d4c1b42cef9637e44915e816ab82

The ICE happens on `cargo check`.
The most fundamental change here I imagine is introducing `continue` inside the match...

<details><summary>Backtrace</summary>
<p>

[code]
</p>
</details>

[2019-09-24 18:30] jonas-schievink commented on #64744
Can reproduce on the current nightly (rustc 1.39.0-nightly (66bf391c3 2019-09-23)), but not on rustc 1.39.0-nightly (9b91b9c10 2019-08-26), so it's a regression.

[2019-09-24 18:31] Marwes commented on #47561
Reran on the old branch so I could use 1.19
[code]
Regression still seems to exist.

[2019-09-24 18:42] najamelan commented on #64744
Ok, this tries to eliminate stuff, but it doesn't fix the ICE: https://github.com/najamelan/pharos/commit/8b1db4ceca552428940acf4c96096c8b04682f82

[2019-09-24 18:46] Centril commented on #64744
Minimal reproducer:

[code]

Problem was introduced in https://github.com/rust-lang/rust/pull/64619.

Specifically the line: https://github.com/rust-lang/rust/blob/6ef275e6c3cb1384ec78128eceeb4963ff788dca/src/librustc_typeck/check/pat.rs#L729
is the problem... Seems we neglected to account for the nullary tuple case (`()`). The fix is to account for the lack of any elements in deciding what spans

[2019-09-24 18:47] Centril commented on #64744
cc @estebank @sam09

[2019-09-24 19:14] nikomatsakis commented on #64744
Can we use [cargo-bisect-rustc](https://github.com/rust-lang-nursery/cargo-bisect-rustc) to narrow this down to a specific PR?

[2019-09-24 19:24] alexcrichton commented on #61185
We've since switched to azure, so I don't think this issue is serving much any more, so I'm going to close.

[2019-09-24 19:24] #61185 closed

[2019-09-24 19:28] Nemo157 commented on #64477
A simpler change might be to introduce an extra block inside the `format!` expansion to reduce the temporaries lifetimes, since they're guaranteed unused after the `String` is created ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2d577e7cf6aeccf3dc4ac2684275e801)):

[code]

[2019-09-24 19:30] alexcrichton commented on #48827
Hasn't happened in quite some time so closing

[2019-09-24 19:30] #48827 closed

[2019-09-24 19:32] alexcrichton commented on #58506
Haven't seen this in quite some time now, so closing.

[2019-09-24 19:32] #58506 closed

[2019-09-24 19:43] estebank commented on #64744
@Centril I see you self-assigned, just add `&& !subpats.is_empty()` to the `if` expr.

[2019-09-24 20:04] sam09 commented on #64744
@Centril In case you haven't started, I can help with this.

[2019-09-24 20:06] Centril commented on #64744
Investigating a possibly better solution than @estebank's for the zero case, I'll let you know how it pans out.

[2019-09-24 20:09] oconnor663 commented on #36861
Another tricky example of the current behavior to think about for whoever decides to wrestle with this dragon:

[code]

That's wacky because if you canonicalize both of those, it's saying that the "parent" of `a/b` is `a/b/c`.

---

Thinking more about @nagisa's comment, it could be possible to have an internal global `Vec<PathBuf>` behind some kind of spinlock. When the path library needs somethi

[2019-09-24 21:17] Centril commented on #64744
Fixed in https://github.com/rust-lang/rust/issues/64744.

[2019-09-24 21:34] alexcrichton opened #64750 "Parallel compiler jobserver management strategy"
I tested out a full crate build of the Cargo crate graph in release mode with a parallel rustc compiler today but it unfortunately regressed the build time relative to nightly by about 20%! The cause of the regression appears to be an enormous amount of time spent in the kernel, particularly related to jobserver management (although there's some other thread-related stuff in the profile too like w

[2019-09-24 21:44] staticfloat commented on #64729
Upon investigating this further, this is almost certainly a problem in our patched glibc; Initially I thought that `dl-load.c` was in rust, but it's actually within `libc`, so the most likely issue is that `rustc` is triggering a codepath that nothing else in our system does.  I will re-open if this turns out to be something pathological inside `rustc`, otherwise sorry for the noise!

[2019-09-24 21:44] #64729 closed

[2019-09-24 21:45] alexcrichton opened #64752 "Parallel rustc spends a lot of time creating threads"
[After some discussion on zulip](https://rust-lang.zulipchat.com/#narrow/stream/187679-t-compiler.2Fwg-parallel-rustc/topic/slowdown.20compiling.20Cargo/near/176509042) it looks like `rayon` will immediately spawn all threads for the thread pool on startup, but this isn't neessarily suitable for rustc's use case. In a profile I captured of compiling Cargo the first set of crates being compiled spe

[2019-09-24 22:01] varkor commented on #64445
As long as each use uniquely defines the underlying type, it should be permitted as a defining use. That's as I understand the intention, and the one that makes the most sense (one that albeit might be trickier to implement in some cases).

[2019-09-24 22:03] varkor commented on #64732
@onehr: go ahead! :)

[2019-09-24 22:40] alexreg commented on #64445
@varkor Yeah, it certainly will... I think I'm going to need some advice on how to implement it inside of bodies, in this case!

[2019-09-24 22:51] varkor commented on #64445
We can start with the easier cases, and then slowly address the remaining cases. Let's get consts and statics working first.

[2019-09-24 23:05] estebank commented on #40127
The output is now

[code]

[2019-09-24 23:05] #40127 closed

[2019-09-24 23:11] estebank commented on #39275
Quite a bit of work has been put into this and we'll continue to do so. I'll close this ticket but we can reopen more focused and actionable tickets in this front.

[2019-09-24 23:11] #39275 closed

[2019-09-24 23:33] varkor commented on #64662
This is because the discriminant assignment code tries to increment the discriminant of the previous variant, which was an error, and thus fails in a different way to the first. However, the code looks like it handles that case, so I'm not yet sure what's going wrong here.

[2019-09-25 00:20] senderista commented on #60363
RLS is crashing on nightly 2019-09-22:

[code]

[2019-09-25 00:22] jhpratt commented on #39473
Any updates on this? Documentation at a minimum would be great, since it's a very odd issue to run into given the present error message.

Some of the functions, like `.abs()`, `.signum()`, etc. seem relatively trivial to rewrite in Rust. Is this something that is desired? I'd be up for a PR if so.

@Mark-Simulacrum?

[2019-09-25 00:22] c410-f3r commented on #64682
I'm rather busy this week and I can only take a look into it this weekend

[2019-09-25 00:36] Mark-Simulacrum commented on #39473
This is pretty hard -- I don't have a link handy, but there are a bunch of considerations that need to go into doing this correctly. I believe some folks are working on it though... I recall a PR or two flying by in the past couple weeks.

[2019-09-25 01:46] #63677 closed

[2019-09-25 01:46] #63797 closed

[2019-09-25 01:46] #64744 closed

[2019-09-25 04:20] retep998 commented on #36861
Also more fun is Windows with `C:\foo\..` vs `\\?\C:\foo\..`. Because `..` is resolved by the win32 subsystem and not the filesystem, the former refers to `C:\` while the latter actually refers to the literal entry `..` in `C:\foo`. So you need to look at the path prefix to understand whether `..` is referring to the parent directory or not.

[2019-09-25 04:25] MOZGIII commented on #61798
I think I have this in my code here: https://github.com/MOZGIII/netsound/blob/cc16cd94c3b5d0e75e18719f223e205f4aaaadb0/src/net/recv.rs#L46

Can somebody confirm this? If not I'll file another bug report.

[2019-09-25 05:25] PlasmaPower opened #64755 "GAT impl with type parameter causes ICE, even without feature enabled"
This also applies to stable rust, since it still ICEs without the feature gate, though of course on stable there's no way to encounter it without having another error due to the feature not being enabled. It's similar to #60654 but with type parameters instead of lifetime parameters. Here's an example ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=347f9e

[2019-09-25 05:53] #63710 closed

[2019-09-25 05:53] #64084 closed

[2019-09-25 06:01] TheNeikos commented on #57054
I have also encountered this issue, and after several hours of investigation: it seems to happen when a proc-macro is re-emitting tokens from a macro call.

This can be reproduced in the playground: https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=a3c0361aeaaa7ed6257e79136f3aa6be

Anything put into the function body that was put in by the macro will not have any associated

[2019-09-25 06:27] semarie commented on #63476
I have the same problem with upcoming stable 1.38.0 on OpenBSD, when built with libgit2-0.28.1

[2019-09-25 06:40] semarie commented on #63476
@jbeich I took your patch for OpenBSD. Thanks for have restored the compatibility

[2019-09-25 09:22] Baranowski commented on #52082
I would appreciate some hand-holding here.

From `check_field`, I have access to `ty::ParamTy`. It seems that if I also had `ty::Generics` available, I could map `ty::ParamTy` to `ty::GenericParamDef`, extract `DefId` from that, and get a step closer to span (which I suspect is stored somewhere in `hir::`). Perhaps I should add `ty::Generics` to `rustc_typeck::check::FnCtxt`?

[2019-09-25 09:42] GalOz666 commented on #64730
Not sure if i can manage that. Could be over my head.

[2019-09-25 09:46] ohadravid opened #64760 "Incorrect note for expected type in E0271 when using an associated type"
With the following code:
[code]

the diagnostic (in nightly & stable) wrongly complains about the expected type:
[code]

It should be the reversed.
This makes it difficult to understand that the `into_iter` should be changed to `iter`.

[2019-09-25 09:53] nliberg opened #64761 "Missing backslash in std::ascii::escape_default docs due to faulty rustdoc rendering"
In the [documentation for std::ascii::escape_default](https://doc.rust-lang.org/std/ascii/fn.escape_default.html) the doc comment fragment ```Double quote is escaped as `\"`.``` is incorrectly rendered as

(note the missing backslash) instead of the expected:

Judging by [this comment](https://github.com/raphlinus/pulldown-cmark/issues/356#issuecomment-516100285) this seems to be due to a bug that

[2019-09-25 10:01] imp opened #64762 "Lint `unreachable_pub` got easily confused by multiple items in a single `pub use ...` statement"
This code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6f6d3006c4df35712474dc8fa6ab8442)) trips `unreachable_pub` lint (while being completely legit).

[code]

However, if we break the top-level `pub use ...` statement into two separate statements ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d48e646d8acdb673edf2d2f55

[2019-09-25 10:08] jonas-schievink commented on #64761
This is already fixed on beta/nightly and will also be fixed in the next stable release

[2019-09-25 10:08] #64761 closed

[2019-09-25 12:43] oli-obk commented on #52082
The `self` object has a `body_id` field which should allow you to get at the `DefId` (I think `tcx.hir().body_owner_def_id(self.body_id)`) which you can then use with `tcx.generics_of`

[2019-09-25 13:27] bkchr commented on #64450
@petrochenkov I had the same error with a different crate. It involves cross compilation, but as said by @thiolliere, this can be fixed by not including the `proc-macro` crate with renaming in the `Cargo.toml` file. So, I'm not entirely sure if that is that is a duplicate of the linked issue.

Any chance that this can be fixed in the near future? Could we maybe help you fixing this?

[2019-09-25 13:49] #46610 closed

[2019-09-25 13:54] nikomatsakis commented on #60424
OK, so I have been doing a bit of digging into this. Our previous efforts to fix those were focused on keeping the existing desugaring. But @Centril was suggesting that we should modify the HIR and I think they are correct.

Let's walk through what happens here. First off, I'll run with this example:

[code]

This presently gets desugared to an async block, but in the compiler that async block is