[2015-04-21 14:42] steveklabnik commented on #6842
Moving to the RFCs repo, like other wishlist items: https://github.com/rust-lang/rfcs/issues/1081

[2015-04-21 14:42] #6842 closed

[2015-04-21 14:48] steveklabnik commented on #20842
This code sample no longer compiles due to changes in Rust. Do you have a smaller reproduction maybe, @spacejam ?

[2015-04-21 15:00] lambda commented on #24658
Ah, you're right. There are a bunch of those cases in `libc`. I guess that means that the `cfg(doc)` approach probably won't work.

Agreed, especially since you couldn't have just those three choices, you would need to be able to switch based on any `cfg` option that could affect the set of methods available.

Given that it looks like it will need to support displaying different signatures for dif

[2015-04-21 15:05] alexcrichton commented on #14807
I agree!

[2015-04-21 15:05] #14807 closed

[2015-04-21 15:06] SimonSapin commented on #24658
Perhaps `std::os::*` modules are enough of a special case that we should generate separate docs for them specifically? Can rustdoc be instructed to document only one module and its contents?

[2015-04-21 15:19] #13317 closed

[2015-04-21 15:21] tamird commented on #18157
@manuels this code no longer compiles. Perhaps you could reduce the test case while you're looking at it again?

[2015-04-21 15:28] tamird commented on #18943
This now compiles:
[code]

[2015-04-21 15:32] tamird commented on #18998
Still an issue:
[code]

[2015-04-21 15:36] tamird commented on #19404
This doesn't compile, but it doesn't ICE.

[2015-04-21 15:41] tamird commented on #17959
Adapted this code to modern syntax:
[code]
It doesn't compile, but it doesn't ICE:
[code]

[2015-04-21 15:48] tamird commented on #19380
Seems to no longer ICE:
[code]
[code]

[2015-04-21 15:50] tamird commented on #19500
@0x1cedc0ffee can you include your code that triggers this?

[2015-04-21 15:53] tamird commented on #19206
No longer ICEs:
[code]
$ rustc src/bin/main.rs
src/bin/main.rs:9:12: 9:27 error: the type of this value must be known in this context
src/bin/main.rs:9     AnyFoo(box Foobar as _);
                             ^~~~~~~~~~~~~~~
error: aborting due to previous error
[code]

[2015-04-21 15:57] tamird commented on #19635
Needs a repro case

[2015-04-21 15:58] tamird commented on #17001
Still an issue.

[2015-04-21 16:01] steveklabnik commented on #19206
Thanks @tamird !

[2015-04-21 16:01] #19206 closed

[2015-04-21 16:10] manuels commented on #18157
Sure, I'm gonna have a look at it when in a week when I'm back from vacations.

[2015-04-21 16:17] tamird commented on #20108
This doesn't compile today - can you refresh this to modern syntax?

[2015-04-21 16:17] tamird commented on #17289
Is this good to close?

[2015-04-21 16:17] tamird commented on #18953
Stale; needs test case.

[2015-04-21 16:18] tamird commented on #19675
Needs reproducible test

[2015-04-21 16:44] #15679 closed

[2015-04-21 16:44] #15878 closed

[2015-04-21 16:44] #15882 closed

[2015-04-21 16:44] #15883 closed

[2015-04-21 16:59] gz opened #24666 "rustc --target argument hard-coded in generated libraries"
Using --target feature in rust will hard-code the provided path in the library. Linking these libraries against applications will fail if they use same target.json but with a different (e.g., relative) path.

I tried this code:
lib.rs:

[code]

main.rs

[code]

Now, I compile the lib.rs as a library

[code]

...and main.rs as an application using liblib.rlib (I'm in folder play):

[code]

Instead,

[2015-04-21 17:30] petevine opened #24668 "32bit linux binary illegal instruction crash"
The official beta2 binary crashes on my 32bit athlon xp processor.

[code]

[2015-04-21 17:30] nerdrew commented on #17289
I think so. I had to unset `DYLD_LIBRARY_PATH` to get a recent-ish version to work (recent-ish = a couple of weeks ago).

[2015-04-21 17:35] steveklabnik commented on #17289
I do too. If anyone has something new, please just open a new issue, thanks!

[2015-04-21 17:35] #17289 closed

[2015-04-21 17:41] oblitum commented on #17289
#16029 should be included in this analysis of issue closing.

[2015-04-21 17:42] petevine commented on #24668
Btw, if this crash is caused by cross compiling on a 64bit machine leaving all SSE instruction sets on, you've just created a circular dependency in the 32bit build process (i.e. it won't be possible to build rust from source which requires a working rustc binary)

[2015-04-21 19:27] tamird commented on #18957
Rebased that branch in https://github.com/servo/servo/pull/5777 and could not reproduce the ICE. Suggest closing this.

[2015-04-21 19:29] tamird commented on #19840
Not actionable without a test case. @steveklabnik is it appropriate to close stale issues such as this?

[2015-04-21 19:30] steveklabnik commented on #19840
Yes, it's been a number of months, with no activity.

@tupshin if you can reproduce, please let us know, and we'll re-open. Thanks

[2015-04-21 19:30] #19840 closed

[2015-04-21 20:22] tamird commented on #19217
Dupe of #18048 which was closed on 2014-12-30. @steveklabnik would you please close this?

[2015-04-21 20:27] #19217 closed

[2015-04-21 20:28] XMPPwocky commented on #24443
Is it worth writing tests for this? I'm not really sure how it could break, but better safe than sorry I suppose...

[2015-04-21 20:30] alexcrichton commented on #24443
Yeah but just some simple tests would be fine to have

[2015-04-21 20:43] tamird commented on #18957
@steveklabnik this should be good to close.

[2015-04-21 20:47] #18957 closed

[2015-04-21 20:48] steveklabnik commented on #18957
Let me know if you need this re-opened, @Ms2ger

[2015-04-21 20:53] tamird commented on #19181
@steveklabnik I think this should not be tagged I-ICE since it is strictly a `rustdoc` issue.

[2015-04-21 20:54] tamird commented on #20318
triage: still panics

[2015-04-21 21:06] tamird commented on #20184
triage: still reproduces.

[code]

[2015-04-21 21:08] tamird commented on #15694
triage: still reproduces with slightly updated code:

[code]

[2015-04-21 21:14] tamird commented on #19440
Unable to repro this with slightly updated code:
[code]

Compiles without error. @steveklabnik close?

[2015-04-21 21:16] tamird commented on #12644
@steveklabnik this should have been closed by https://github.com/rust-lang/rust/pull/23013. Would you do the honours?

[2015-04-21 21:18] steveklabnik commented on #19440
Sounds good. @wizeman , please let me know if you're still seeing this.

[2015-04-21 21:18] #19440 closed

[2015-04-21 21:31] alexcrichton commented on #12644
Steal!

[2015-04-21 21:31] #12644 closed

[2015-04-21 21:36] tamird commented on #13368
Triage: this is worse now - no longer an ICE, this now causes all kinds of failures:
[code]

[2015-04-21 21:39] tamird commented on #13973
I am no longer able to reproduce this on `rustc 1.0.0-dev (f46c4e158 2015-04-20) (built 2015-04-20)`

[2015-04-21 21:41] tamird commented on #14695
None of these examples ICE today. I think this was fixed by https://github.com/rust-lang/rust/pull/23638.

@steveklabnik close?

[2015-04-21 21:45] tamird commented on #14965
@steveklabnik probably time to close as stale

[2015-04-21 21:46] tamird commented on #15268
The provided repro case hasn't been updated since June. @steveklabnik close?

[2015-04-21 21:48] #14965 closed

[2015-04-21 21:49] tamird commented on #15402
This once again does not ICE:
[code]
@steveklabnik E-needstest?

[2015-04-21 21:52] kmcallister commented on #13368
I don't remember whether we now disable LLVM assertions by default, but that might explain the change.

[2015-04-21 21:52] nagisa commented on #24668
https://github.com/rust-lang/cargo/issues/958 related. Especially relevant is [this comment](https://github.com/rust-lang/cargo/issues/958#issuecomment-64322368).

[2015-04-21 21:55] Stebalien commented on #24214
@pnkfelix `skip` can call `nth` on the underlying iterator and the underlying iterator can optimize `nth` if possible.

[2015-04-21 21:55] tamird commented on #15477
No longer reproducible.

[2015-04-21 21:55] tamird commented on #11824
No longer reproducible.

[2015-04-21 21:57] tamird commented on #20433
Triage: still ICEs.

[2015-04-21 21:57] tamird commented on #20753
Triage: still ICEs.

[2015-04-21 21:59] #15477 closed

[2015-04-21 22:00] #11824 closed

[2015-04-21 22:00] nagisa commented on #24668
It might be nice to have builds for absolute baseline architecture (8086-ish with 8087?) so one could run rust on ancient hardware. Not sure whether LLVM even supports that, though.

[2015-04-21 22:01] pnkfelix commented on #14695
@tamird I think at this point we just want to add regression tests (and/or at least check that all of the examples given here are reasonably covered by the existing test suite).

[2015-04-21 22:04] tamird commented on #14695
@pnkfelix I think your tests at https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/reject-specialized-drops-8142.rs cover this.

[2015-04-21 22:06] pnkfelix commented on #24214
@Stebalien I think that is my point: You say "the underlying iterator can optimize `nth` if possible", but I claim to allow that would require changing the specification of `nth`, which currently is specified as "going through `n` iterations", which I interpret as "calls the `next()` method `n` times" -- a side-effectful iterator chain (e.g. one using `inspect`) can observe the difference between

[2015-04-21 22:08] pnkfelix commented on #14695
@tamird While I'd love for that to be true, skimming over that test suite, I do not see any tests of parameter bounds that use the associated-item constraint syntax like `<A, T: Iterator<Item=A>>`.  So there may still be room for improved testing here.

[2015-04-21 22:10] aturon commented on #24214
Oh dear, I seem to've lost track of this thread, sorry to everyone who was waiting on me to organize things!

I think probably the first place to start is just to get a list of the public iterators in std, which we can turn into a checklist and track assignees for. Part of the work will just be figuring out which cases are actually opportunities for doing better.

Anyone interested in putting such

[2015-04-21 22:12] aturon commented on #24214
(And if no one is in a position to make a list, I can put one together tomorrow.)

[2015-04-21 22:13] tamird commented on #22645
Agree with @edwardw. Either way, this does still repro with:

[code]

[2015-04-21 22:14] tamird commented on #19976
Still reproducible, though the code in this issue no longer compiles. I'd close this as there's a [repro case](https://github.com/rust-lang/rust/issues/22645#issuecomment-94958361) in #22645. @steveklabnik?

[2015-04-21 22:15] tamird commented on #18623
triage: still [reproduces](https://github.com/rust-lang/rust/issues/22645#issuecomment-94958361)

[2015-04-21 22:16] Stebalien commented on #24214
@pnkfelix It doesn't because:
1. Skip can assume that the underlying iterator correctly implements `nth`.
2. Some iterators (e.g. `slice::Iter`) have side-effect-free `next` methods. These iterators can implement optimized `nth` functions.

So `vec![1, 2, 3, 4, 5].iter().skip(2)` can have a constant time skip given an optimized `slice::Iter::nth` method. Unfortunately, as implemented, ranges can't

[2015-04-21 22:17] tamird commented on #19982
Hey, this should have been closed by https://github.com/rust-lang/rust/commit/3a93bdb92c195cab90103743f11c14c837e84598! @steveklabnik would you mind?

[2015-04-21 22:28] tamird commented on #20046
This doesn't compile and the proposed pattern match is much deeper now due to changes to `io::Error`.  @ebadf could you try to refresh the test case?

[2015-04-21 22:29] tamird commented on #20085
[code]
No longer produces an ICE.

[2015-04-21 22:35] tamird commented on #20918
This no longer overflows the stack - it triggers an LLVM assertion instead. I've reduced the repro case:
[code]
[code]

That said, I'm not really sure what the expected behaviour is.

[2015-04-21 22:39] tamird commented on #20913
Unable to repro:
[code]

Seems like the ICE was somewhere in regex-macros, and is now either fixed or worked around. @steveklabnik maybe close this? Doesn't look actionable.

[2015-04-21 22:40] huonw commented on #24660
Oh, this is possible due to our handling of "small" aggregates, e.g. `Option<i32>` (as used in the code above) is packed into a single `i64`, and LLVM seemingly doesn't like that. Changing `0` to `0i64` makes the code fold properly.

The implementation of `Range::next` is

[code]

which appears in the given code: the first `cmpl` is the first line, the `setl`/`movzbl` are conditionally adding one

[2015-04-21 22:41] killerswan commented on #15268
I've been busy elsewhere, and it's probably not worth re-syncing this extension right now.   The bigger issue: does anyone know if ICEs inside syntax extensions still look like rustc ICEs?

[2015-04-21 22:44] #19982 closed

[2015-04-21 22:45] #20085 closed

[2015-04-21 22:45] tamird commented on #21007
Does not repro:
[code]

[2015-04-21 22:45] #20913 closed

[2015-04-21 22:46] tamird commented on #21017
Unable to repro:
[code]

[2015-04-21 22:52] tamird commented on #21037
@aidanhs can you either reduce this test case or public `tclscan` on crates.io? As it stands, this is a difficult bug report to verify.

[2015-04-21 22:52] tamird commented on #21064
This is not actionable. @steveklabnik close?

[2015-04-21 22:57] tamird commented on #21068
@frankmcsherry in the minimum number of steps: how do I reproduce this?

[2015-04-21 22:58] tamird commented on #20494
This doesn't look actionable, unfortunately. @steveklabnik close?

[2015-04-21 23:01] tamird commented on #21073
Triage: still ICEs. Reproduces without using macros:

[code]

[2015-04-21 23:04] #21007 closed

[2015-04-21 23:05] tamird commented on #21139
@Manishearth this no longer compiles. Can you update the MWE?

[2015-04-21 23:07] tamird commented on #21174
No longer repros.
[code]
compiles now.
[code]
Fails with:
[code]
But no ICE.

[2015-04-21 23:08] steveklabnik commented on #21017
Same, this has been fixed.

[2015-04-21 23:08] #21017 closed

[2015-04-21 23:09] tamird commented on #21177
No longer ICEs.
[code]

[2015-04-21 23:11] tamird commented on #21250
looks like a dupe of #21200. @steveklabnik close?

[2015-04-21 23:11] tamird commented on #21200
Looks like this was a dupe of #20676 which was fixed in #21089. @steveklabnik close?

[2015-04-21 23:13] tamird commented on #21216
@alexchandel could you reduce this to a self-contained test case?

[2015-04-21 23:14] tamird commented on #20222
Seems to work now.

[code]
compiles without error.

[2015-04-21 23:15] steveklabnik commented on #20494
Yup, I agree. If anyone disagrees, please let me know!

[2015-04-21 23:15] #20494 closed

[2015-04-21 23:15] steveklabnik commented on #21064
Same, yeah. If anyone thinks that's wrong, let me know.

[2015-04-21 23:15] #21064 closed

[2015-04-21 23:16] steveklabnik commented on #20222
Agreed!

[2015-04-21 23:16] #20222 closed

[2015-04-21 23:16] #21200 closed

[2015-04-21 23:16] #21250 closed

[2015-04-21 23:17] tamird commented on #20204
Can't repro this on OS X, inside valgrind or otherwise.

[2015-04-21 23:18] alexcrichton commented on #20204
Yay!

[2015-04-21 23:18] #20204 closed

[2015-04-21 23:19] tamird commented on #19987
@steveklabnik this looks non-actionable as well

[2015-04-21 23:20] tamird commented on #14698
Still an ICE.

[2015-04-21 23:22] tamird commented on #15484
No longer ICEs.
[code]
compiles without issue.

[2015-04-21 23:23] tamird commented on #17631
Compiles without issue.

[code]

[2015-04-21 23:24] tamird commented on #17631
cc @jakub- because #18538

[2015-04-21 23:26] #21633 closed

[2015-04-21 23:27] tamird commented on #17987
Still ICEs.

[2015-04-21 23:30] tamird commented on #18027
**Not** a dupe of #17631 - this still ICEs. Here's a slightly reduced test case for my homies:
[code]

[2015-04-21 23:31] tamird commented on #18829
Still ICEs.

[2015-04-21 23:32] tamird commented on #13325
@farcaller can you refresh your code above to today's syntax? I was not quite able to get the reported error.

[2015-04-21 23:33] tamird commented on #18216
Looks like this is not actionable. @steveklabnik close?

[2015-04-21 23:34] tamird commented on #18805
This is now a segfault:
[code]
[code]

[2015-04-21 23:35] tamird commented on #19748
No longer reproduces.
[code]

[2015-04-21 23:39] tamird commented on #21335
No longer an ICE. Here's a safer repro:
[code]

[2015-04-21 23:39] tamird commented on #21349
@compwron can you reduce this to a standalone test-case?

[2015-04-21 23:42] tamird commented on #19826
Triage:

@lgvz's code no longer produces an error.

@tomjakubowski/@japaric's gist no longer compiles.

[2015-04-21 23:44] tamird commented on #19001
No longer ICEs. Both examples compile without error:

[code]
[code]

[2015-04-21 23:45] tamird commented on #21451
No longer ICEs.

[code]
[code]

[2015-04-21 23:46] tamird commented on #14695
@pnkfelix would you mark this E-needstest?

[2015-04-21 23:49] tamird commented on #21176
Unable to repro. `bar.rs` no longer compiles because `error: Implementations of Drop cannot be specialized [E0366]`.

cc @pnkfelix

[2015-04-21 23:49] tamird commented on #21449
Triage: still ICEs.

[2015-04-21 23:50] tamird commented on #21461
No longer gets that far:
[code]

@blaenk can you update this?

[2015-04-21 23:53] tamird commented on #20549
Triage: still repros:
[code]

[2015-04-21 23:53] alexcrichton commented on #21451
Yay!

[2015-04-21 23:53] #21451 closed

[2015-04-21 23:54] alexcrichton commented on #21176
Yes I believe this was fixed as part of the `#[unsafe_destructor]` removal

[2015-04-21 23:54] #21176 closed

[2015-04-21 23:56] tamird commented on #21599
Doesn't look like a dupe to me, and still ICEs with minor changes:
[code]
[code]

[2015-04-21 23:57] tamird commented on #21638
No longer ICEs:
[code]
compiles without error.

[2015-04-21 23:57] tamird commented on #21081
@indirect can you reduce this down to a standalone repro case?

[2015-04-22 00:14] #21638 closed

[2015-04-22 00:16] Aatch opened #24676 "Unsigned negation in for inferred expressions doesn't warn"
While this warns about unsigned negation:

[code]

This does not:

[code]

This especially egregious in places like range expressions where it can cause a loop to not run at all when the lower bound is negative (and therefore becomes a large unsigned integer).

[2015-04-22 00:19] steveklabnik commented on #19001
I get a strange error for the first:

[code]

and the second both.

[2015-04-22 00:19] #19748 closed

[2015-04-22 00:20] #18216 closed

[2015-04-22 00:20] tamird commented on #19001
[code]
@steveklabnik what do you have?

[2015-04-22 00:21] #17631 closed

[2015-04-22 00:21] #15484 closed

[2015-04-22 00:21] #19987 closed

[2015-04-22 00:22] steveklabnik commented on #19001
[code]

[2015-04-22 00:23] tamird commented on #21137
No longer ICEs.
[code]

[2015-04-22 00:23] tamird commented on #19497
Is there an action here?

[2015-04-22 00:25] tamird commented on #20875
Triage bump: still ICEs.
[code]

[2015-04-22 00:26] tamird commented on #18164
No longer ICEs.
[code]
[code]

Fixing that makes it compile without error:
[code]

[2015-04-22 00:27] tamird commented on #18360
Unable to repro:
[code]
[code]

[2015-04-22 00:32] ghost opened #24677 "Rustc: error while loading shared libraries: librustc_driver--4e7c5e5c.so"
When I run a cargo build command, I get the following errors:

Process didn't exit successfully: `rustc -vV` (exit code: 127)
--- stderr
rustc: error while loading shared libraries: librustc_driver-4e7c5e5c.so: cannot open shared object file: No such file or directory

My computer is running the latest version of arch linux, and I installed rust using the curl command: curl -sf -L https://static.r

[2015-04-22 00:35] #18360 closed

[2015-04-22 00:35] #18164 closed

[2015-04-22 00:35] #21137 closed

[2015-04-22 00:37] tamird commented on #21044
Yep, looks fixed.
[code]
[code]

[2015-04-22 00:49] tamird commented on #19351
No longer ICEs.
[code]
Compiles without error.

[2015-04-22 00:50] tamird commented on #18977
The original example no longer ICEs. @steveklabnik close?

[2015-04-22 00:50] tamird commented on #21682
No longer ICEs.

[2015-04-22 00:51] #21682 closed

[2015-04-22 00:51] tamird commented on #21476
Original code from @reem now compiles without error. @steveklabnik close?

[2015-04-22 00:52] tamird commented on #21840
@SnareChops can you include the code you were attempting to compile?

[2015-04-22 00:53] tamird commented on #21887
This code now compiles without error. @steveklabnik close?

[2015-04-22 00:55] tamird commented on #21975
I believe this is not actionable. @steveklabnik close?

[2015-04-22 00:55] aidanhs commented on #21037
tclscan is public at https://github.com/aidanhs/tclscan, I've not got round to crates.io yet.
I've had a quick try and can't reproduce on latest rust/docopt - a lot has happened in the last four months :)
I can try and bisect when it got fixed it if you're interested but it was probably just addressed as part of something else.

[2015-04-22 00:56] aidanhs commented on #21037
(and it's not even as if this program should have compiled flawlessly anyway, it was clearly buggy)

[2015-04-22 00:57] tamird commented on #21037
So this no longer reproduces? Let's close if so.

[2015-04-22 00:58] tamird commented on #19001
@steveklabnik could yours have been built against a different LLVM version? cc @alexcrichton because I don't know how the buildbots do their thing

[2015-04-22 00:59] tamird commented on #22053
Triage: lots of warnings, but no ICE. I think this is good to close. @steveklabnik?

[code]

[2015-04-22 01:03] tamird commented on #16763
@tupshin how does one reproduce this? https://gitlab.com/Bastacyclop/rust_box2d at cbc7aa25707532de40e1c0f98107f2b6753346c3 no longer works with current cargo because it uses a build script written in shell, and cargo expects rust.

[2015-04-22 01:06] tamird commented on #22062
The ICE example no longer compiles:
[code]
Same goes for the original example:
[code]
@dschatzberg can you update this?

[2015-04-22 01:07] tamird commented on #21913
This now compiles without error. @steveklabnik close?

[2015-04-22 01:07] tamird commented on #18845
triage: still ICEs.
[code]

[2015-04-22 01:08] tamird commented on #19424
No longer ICEs.
[code]

[2015-04-22 01:08] Manishearth commented on #21139
Not sure if I can, things seem to have changed a lot.

[code]

produces a _different_ ICE

[code]

[2015-04-22 01:10] tamird commented on #22312
@nefigah this example is incomplete. Can you add the definition of `Index`?

[2015-04-22 01:11] tamird commented on #22314
This now compiles without error.

[2015-04-22 01:14] tamird commented on #14748
@alexcrichton this must be the 5th instance of this issue :(

I suggest we close this - it seems not actionable.

[2015-04-22 01:15] tamird commented on #21716
No longer ICEs.
[code]

[2015-04-22 01:15] tamird commented on #22354
@chronweigle can you provide a smaller, self-contained example?

[2015-04-22 01:17] tamird commented on #22209
https://github.com/jeremyletang/rgtk @ cbb9c869 no longer compiles. Perhaps @jeremyletang can help specify the issue?

[2015-04-22 01:19] tamird commented on #21533
Triage: no longer ICEs.

The original case:
[code]
as well as the reduced test case now compile without error.

[2015-04-22 01:20] tamird commented on #21397
Triage: still ICEs.
[code]

[2015-04-22 01:24] #21037 closed

[2015-04-22 01:24] aidanhs commented on #21037
Done

[2015-04-22 01:25] nefigah commented on #22312
@tamird I'm afraid I don't understand. The bound on my trait is just referring to [std::ops::Index](http://doc.rust-lang.org/nightly/std/ops/trait.Index.html) – (which was recently changed to take the argument of `index()` by value, instead of by reference like at the time I reported this issue and previously)

[2015-04-22 01:27] tamird commented on #21601
`extern crate attribute;` no longer works, so I'm not able to reproduce this.

[2015-04-22 01:28] tamird commented on #22387
Triage: still ICEs.

[2015-04-22 01:29] tamird commented on #22312
@nefigah ah, thanks.

Triage: no longer ICEs.
[code]
[code]

[2015-04-22 01:31] tamird commented on #21867
Triage: no longer ICEs.
``rust
use std::net::{IpAddr, ToSocketAddrs};

struct Foo;

impl ToSocketAddrs for (IpAddr, Foo) {
    fn to_socket_addrs(&self) -> Result<ToSocketAddrs::Iter> {
        unimplemented!()
    }
}

fn main() {}
[code]
------
[code]
[code]

[2015-04-22 01:32] tamird commented on #20319
triage: still ICEs

[2015-04-22 01:33] tamird commented on #21111
triage: both examples still ICE

[2015-04-22 01:35] tamird commented on #22465
Hi @kmcallister, @GyrosOfWar - do you guys have an example of this with otherwise-compiling code?

[2015-04-22 01:37] tamird commented on #22508
This is probably another stale metadata issue. There's not much that can be done unfortunately.

Is this resolved by recompiling your libcore? If so, this is probably good to close :(

[2015-04-22 01:37] tamird commented on #22554
Triage: no longer ICEs.
[code]

[2015-04-22 01:41] tamird commented on #19397
triage: still ICEs.
[code]

[2015-04-22 01:43] tamird commented on #22603
Triage: still ICEs with updated code.
[code]

[2015-04-22 01:45] tamird commented on #22066
as @edwardw says, the ICE here is fixed. @steveklabnik could you remove the label?

[2015-04-22 01:46] tamird commented on #22565
Triage: still ICEs.
[code]

[2015-04-22 01:47] tamird commented on #21140
Triage: @shepmaster's example still ICEs.

[2015-04-22 01:48] tamird commented on #17336
Triage: still ICEs.

[2015-04-22 01:49] tamird commented on #22713
This example is unfortunately quite stale:
[code]

@kmcguire3413 can you update this please?

[2015-04-22 01:49] tamird commented on #22746
Still ICEs.
[code]

[2015-04-22 01:50] tamird commented on #22789
Still ICEs.

[2015-04-22 01:50] tamird commented on #22790
Still reproduces.

[2015-04-22 01:51] tamird commented on #22773
No longer ICEs.
[code]

[2015-04-22 01:51] alexcrichton commented on #14748
I agree, thanks @tamird!

[2015-04-22 01:51] #14748 closed

[2015-04-22 01:52] tamird commented on #22812
No longer gets this far.

[code]

[2015-04-22 01:53] tamird commented on #22781
Still ICEs.

[2015-04-22 01:53] tamird commented on #22863
Still ICEs.

[2015-04-22 01:56] alexcrichton commented on #22508
agreed that it's probably a stale metadata issue, but feel free to reopen if it reproduces!

[2015-04-22 01:56] #22508 closed

[2015-04-22 02:02] tamird commented on #17824
Updated code:
[code]
Compiling with `$ rustc -Z unstable-options --pretty typed main.rs` no longer ICEs.

[2015-04-22 02:38] #17824 closed

[2015-04-22 02:39] #22812 closed

[2015-04-22 02:39] #22773 closed

[2015-04-22 02:39] #22554 closed

[2015-04-22 02:40] #21867 closed

[2015-04-22 02:41] #21716 closed

[2015-04-22 02:41] #22314 closed

[2015-04-22 02:41] #19424 closed

[2015-04-22 02:42] steveklabnik commented on #19001
I'm just doing whatever `multirust` installed.

[2015-04-22 02:42] #22053 closed

[2015-04-22 02:42] #21913 closed

[2015-04-22 02:42] #21975 closed

[2015-04-22 02:43] #21887 closed

[2015-04-22 02:43] #21476 closed

[2015-04-22 02:43] #18977 closed

[2015-04-22 02:43] #19351 closed

[2015-04-22 02:43] #21044 closed

[2015-04-22 03:19] skeuomorf commented on #24677
I have the same problem running latest version of arch linux, running ``rustc`` generates the same error (without running cargo).

[2015-04-22 03:24] P1start commented on #20222
It compiles without error, but it should probably give a warning, like the equivalent version without a `where` clause:

[code]

[2015-04-22 03:26] zaeleus commented on #24677
Add `/usr/local/lib` to your `LD_LIBRARY_PATH` (or include it in your `/etc/ld.so.conf` so `ldconfig` searches it when run).

This doesn't happen just on Arch. Most non-Debian systems don't trust anything outside `/lib` and `/usr/lib` by default. Because rustup installs to `/usr/local`, `ldconfig` doesn't see the newly installed libraries.

[2015-04-22 03:29] tamird commented on #21903
Looks like warnings are now generated for this case, but not consistently[0].

Should this be a compile-time error instead?

[0] https://github.com/rust-lang/rust/issues/20222#issuecomment-95012057

[2015-04-22 03:29] tamird commented on #20222
@P1start I mentioned this on https://github.com/rust-lang/rust/issues/21903 - I think this should probably be a compile error until the enforcement is there.

[2015-04-22 03:37] skeuomorf commented on #24677
Ah, I see. You're correct @zaeleus.

For anyone else who faces this problem:
1- Edit the file ``/etc/ld.so.conf`` and add ``/usr/local/lib`` to it, you will need ``sudo`` rights to be able to write changes to the file.
2- Run ``sudo ldconfig`` to update the ldconfig cache.
3- Profit!

[2015-04-22 04:45] seanmonstar opened #24680 "Incomprehensible error message when inference fails for closure"
[code]

Gives:

[code]

Playpen: http://is.gd/E7sskd

Couldn't tell if this was #16473, @reem thinks it might be different. Either way, this hurts using hyper's server easily: `Server::http(|req, res| {}).listen(8080)`.

[2015-04-22 04:51] indirect commented on #21081
@tamird I doubt it, I'm not very familiar with rust. Is being able to check out the exact code that reproduces the error not enough to debug it?

[2015-04-22 04:59] frankmcsherry commented on #21068
Sorry, this was about three months ago. I just pulled the commit to see if (by chance) there was still an ICE, but it doesn't build because it was written against pre-beta Rust and the language has changed so much. Closing as "can't reproduce", I guess?

[2015-04-22 04:59] #21068 closed

[2015-04-22 05:00] tamird commented on #21081
it's virtually a certainty that that code will not compile with today's `rustc` for reasons other than the ones reported here :(

[2015-04-22 05:35] Magast-Carr opened #24682 "Internal compile error when adding sized constain with assoicated type"
Adding a sized constraint to a trait caused an internal compile error.

I tried this code:

    trait A: Sized {
        type N:One;
        fn new(x:Self::N) -> Self;

        fn x() -> Self<N=Self::N> {
            Self::new(Self::N::one())
        }
    }

    trait One {
        fn one() -> Self;
    }

    impl One for i32 {
        fn one() -> i32 {
            1i32
        }
    }

    impl

[2015-04-22 06:09] erickt commented on #24518
@alexcrichton: Regarding `ptr::read_and_drop`, the primary user of this code is `syntax::ptr::P::map`, which uses it to avoid an alloc when folding over ast. I could copy that functionality into libsyntax at the cost of having to copy some [unstable drop code](https://github.com/rust-lang/rust/blob/master/src/libcore/mem.rs#L336) as well, which seems slightly risky. I could also reimplement `map`

[2015-04-22 06:11] critiqjo opened #24684 "Large executable file generated for trivial codes"
This is a nonissue.

true.rs:
``` fn main() { } ```

true.c:
``` int main() { return 0; } ```

compile:
[code]
The file generated by rustc is almost 100 times bigger. Is there a way to optimize executable file size? (I tried `-C opt-level=3 -C debuginfo=0`, but made no difference)

Motivation (not directly related): https://www.computer.org/cms/Computer.org/ComputingNow/issues/2015/04/mso201502001

[2015-04-22 06:16] GuillaumeGomez commented on #22209
As said on the rgtk repo, it is now deprecated. Go to rust-gnome/gtk repo and then try again.

[2015-04-22 06:17] erickt commented on #24518
@alexcrichton: Interestingly enough, I just added another variation that modified `P::map` into:

[code]

And it's ~66% faster. So maybe I should just replace all the users with that pattern. It's unfortunately a little less convenient, but it might not be that bad if most of the users are isolated to `syntax::fold`.

[2015-04-22 06:18] tamird commented on #8762
This is the same as https://github.com/rust-lang/rust/issues/15477, which is fixed. I've confirmed independently that this no longer reproduces.

[2015-04-22 06:18] tamird commented on #12511
This no longer reproduces:
[code]

[2015-04-22 06:21] tamird commented on #22209
@steveklabnik I believe this won't be actionable since it's too stale.

[2015-04-22 06:26] tamird commented on #18801
This is stale :( @steveklabnik close?

[2015-04-22 06:27] tamird commented on #13520
Triage: this segfaults the compiler.

[2015-04-22 06:29] tamird commented on #20853
I believe this should be closed by #20920.

[2015-04-22 06:30] tamird commented on #21410
Triage: still overflows.

[2015-04-22 06:37] #15628 closed

[2015-04-22 06:37] #24538 closed

[2015-04-22 06:37] #24639 closed

[2015-04-22 07:02] terpstra commented on #24292
This bug has nothing to do with RC. It has everything to do with thread::scoped. Observe:

use std::thread;

fn helper<'a>(jg : &mut std::thread::JoinGuard<'a, ()>) {
  let mut x = 99;
  let mut bad = thread::scoped(move || { loop { x = 33 }});
  std::mem::swap(&mut bad, jg);
}

fn main() {
  let mut jg = thread::scoped(move || { });
  helper(&mut jg);
  // bad is still running, mutating a now-dea

[2015-04-22 07:29] tomjakubowski commented on #24659
Presumably /std/ will be (or redirect to) the stable channel docs, right?

[2015-04-22 07:44] reem commented on #24292
@terpstra since you use the `move` keyword to instantiate the closure passed to `scoped` in `helper`, the closure is `'static`. `'static` coerces to all other lifetimes, so it can be converted to `'a`. Note that in isolation you could replace the call with `spawn` and you would not get a lifetime error there.

If you remove the `move` keyword and actually cause a stack reference to be captured, yo

[2015-04-22 08:07] reem commented on #24680
cc @aturon @nikomatsakis do you think it would be feasible to fix this by the 1.0 release? It's a pretty unfortunate papercut for both iron and hyper.

I remember I recently helped @brson with this problem when he was using iron.

[2015-04-22 08:09] ptal commented on #21601
I just tried this, and it works. However, my example is misguiding because `attribute` is the `libA`, look at the `--crate-name attribute` option.

[2015-04-22 08:40] nagisa commented on #21599
@tamird, your is separate ICE. Please open a new ticket.

[2015-04-22 08:43] killercup commented on #24684
You might be interested in http://mainisusuallyafunction.blogspot.de/2015/01/151-byte-static-linux-binary-in-rust.html

[2015-04-22 08:43] nagisa commented on #21335
llvm-ir still fails with same error.

[2015-04-22 08:55] nagisa commented on #21599
The backtrace for above:

[code]

[2015-04-22 08:58] nagisa commented on #9307
Still asserts with

[code]

[2015-04-22 09:27] manuels commented on #18157
I just updated the file (https://gist.github.com/manuels/8c264818252cabe3081c) and with the latest rustc 1.0.0-beta2 the bug vanished ;)

[2015-04-22 09:27] #18157 closed

[2015-04-22 11:24] bluss commented on #14695
The issue was probably due to a configuration that can't be reached today -- Drop with two type parameters and struct with just one. The following compiles on nightly

[code]

[2015-04-22 11:25] dotdash commented on #13368
LLVM assertions are off by default now, only with `--enable-llvm-assertions` or `--enable-debug` and the nightly channel have them enabled. @tamird could you please check whether LLVM assertions are enabled in your rustc, and if not, re-check this and any other issues that you triaged that were about LLVM assertions? Thanks!

[2015-04-22 11:39] ghost opened #24686 "rustdoc: `Methods from Deref<Target = T<U>>` is imprecise (contains false positives)"
[code]

The `Methods from Deref` for `Bar` will contain both `get_i32` and `get_u32`, but should only contain `get_i32`.

[Image](http://i.imgur.com/bUEO5pb.png)

[2015-04-22 11:44] nwin opened #24687 "ICE in codemap::CodeMap::bytepos_to_file_charpos"
I’m getting an ICE when compiling https://github.com/nwin/gif/tree/cef32bb49589ff55135745b23ac54978ee6edecf using `cargo test`

    $ rustc --version
    $ rustc 1.0.0-nightly (abf0548b5 2015-04-15) (built 2015-04-15)

    note: the compiler unexpectedly panicked. this is a bug.
    note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-reports

[2015-04-22 12:38] bluss opened #24690 "Emit helpful `note` messages only once"
Example: Adding `#![deny(lint_name)]` to a crate will point out the location of this line for every time the lint fires (`note: lint level defined here`). This should be listed only once. It should be reasonably easy to deduplicate these based upon equal span and message.

[code]

[2015-04-22 12:40] liigo commented on #24441
to be clear: Chrome 41, Windows 7, x86_64.

[2015-04-22 12:58] SimonSapin opened #24691 "Remove or unstabilize all deprecated items in 1.0.0"
Previously: http://internals.rust-lang.org/t/remove-or-unstabilize-all-deprecated-items-in-1-0-0/1945

Per SemVer, major releases are the only time when we get to remove stuff. If 1.0.0 final contains any `#[deprecated]` item, we’ll be stuck with them until 2.0 (which hopefully will be in a very long time!)

Proposal: Make sure that all `#[deprecated]` items in 1.0.0 are also marked `#[unstable]`.

[2015-04-22 13:04] critiqjo commented on #24684
Thanks! I was curious if there was any default method provided by rustc itself.

[2015-04-22 13:04] #24684 closed

[2015-04-22 13:07] bstrie commented on #24691
Figuring that removing deprecated things is worth such a late-stage nomination.

[2015-04-22 13:11] aturon commented on #24691
@alexcrichton has been planning a patch to remove all deprecated items before 1.0.

[2015-04-22 13:31] farcaller commented on #13325
The closest I managed to get is
[code]

That fails with ```error: the trait `core::marker::Sync` is not implemented for the type `*const usize` ```. I'm not sure I know how to fix it for modern rustc.

[2015-04-22 13:41] Stebalien commented on #24214
Here's core:

* slice::Iter(Mut): count, last, nth
* slice::Windows: count, last, nth
* slice::Chunks(Mut): count, last, nth
* char::{EscapeDefault, EscapeUnicode}: count, last, nth (techically but probably not worth it)
* str::Bytes: count, last, nth
* iter::Chain: count, last, nth
* iter::Enumerate: count, nth
* iter::Peekable: count, last, nth
* iter::Skip: count, last, next (should call nth),

[2015-04-22 14:02] tamird commented on #21335
@nagisa I don't get a failure with `llvm-ir` either:
[code]

[2015-04-22 14:13] logicchains commented on #16229
Unfortunately I don't have that ARM system setup now. I could test it in an
x86 chroot Arch Linux without mounting sysfs and proc, would that be any
use?

On 21 April 2015 at 10:22, Steve Klabnik <notifications@github.com> wrote:

[2015-04-22 14:19] aochagavia commented on #24575
What about methods that take `&mut self`? Should we hide those too?

[2015-04-22 14:32] dschatzberg commented on #22062
I wrote the original example. It can be updated by just making <T as DerefMut> into T

    use std::ops::DerefMut;

    struct Foo<T>
    where T: DerefMut
    {
      member: *mut T::Target,
    }

    trait Bar<T>
    where T: DerefMut
    {
      fn foo<'a>(&'a self) -> &'a Foo<T>;
      fn member<'a>(&'a self) -> &'a *mut T::Target {
        &self.foo().member
      }
    }

The ICE example ca

[2015-04-22 14:34] tamird commented on #22062
Ah, thanks. The ICE example no longer ICEs:
[code]
[code]

[2015-04-22 14:38] dschatzberg commented on #22062
To be clear my original issue still remains. Logically I don't see why I should have to specify a bound on T to use a reference to T::Target

[2015-04-22 14:38] nagisa commented on #21335
@tamird I, from the little information you’ve provided, predict your rustc has been compiled with (llvm) assertions disabled. It is a bad idea to go out and triage (`A-llvm`) ICEs with such compiler.

[2015-04-22 14:38] alexcrichton commented on #24691
This was completed in https://github.com/rust-lang/rust/pull/24636 which is now merged.

[2015-04-22 14:40] tamird commented on #9217
[code]
compiles now. I think this is too stale to be meaningfully useful, and probably should be closed. @steveklabnik?

[2015-04-22 14:40] alexcrichton commented on #24575
@aochagavia nah I think including those is fine because they are applicable to a `DerefMut` implementation. In theory the "most correct" thing to do would be to detect whether `DerefMut` is implemented or not but it's also fine to not do that for now.

[2015-04-22 14:41] tamird commented on #21335
Yeah, I wasn't aware llvm assertions were disabled by default - I'm recompiling my toolchain and will revisit.

[2015-04-22 14:49] alexcrichton commented on #19001
@tamird this probably has to do with LLVM assertions being disabled by default in nightly

[2015-04-22 14:51] alexcrichton commented on #24518
@erickt if we could get by with the `&mut T` variant I think that would be best. The current implementation is not panic-safe into the future as eventually there will be no drop flag and calling `read_and_drop` followed by an arbitrary closure will not be sound (e.g. a panic in the closure will drop invalid data).

You can also just replace the `map3` function with `foo(&mut ptr)` due to deref coe

[2015-04-22 14:51] #8762 closed

[2015-04-22 14:51] SimonSapin commented on #24691
I found a few that feel through the cracks and are still `#[deprecated]` and `#[stable]`:
* `std::fs::soft_link`
* `f64::is_positive` and `f64::is_negative` (inherent methods)

[2015-04-22 14:52] #20853 closed

[2015-04-22 14:56] steveklabnik commented on #16229
It depends. This was filed a long time ago, and we haven't heard of anything from anyone since, so maybe just giving it a close is appropriate, since it no longer affects you?

[2015-04-22 14:58] steveklabnik commented on #13325
Okay, well, in that case, I'll just give this a close, as the ICE probably went away with the old syntax. If anyone can reproduce, let me know!

[2015-04-22 14:58] #13325 closed

[2015-04-22 14:59] alexcrichton commented on #24691
The goal of that PR was to remove all deprecated items that were slated for deletion before 1.0. The `soft_link` method was deprecated *very* recently and will make its way into 1.0 (at virtually no overhead). The `f64::is_{positive,negative}` methods were also deprecated very very recently and don't necessarily warrant a breaking change.

[2015-04-22 14:59] steveklabnik commented on #24684
Yes, you could dynamically link, you could use LTO... they're in the blog post. :)

[2015-04-22 15:01] steveklabnik commented on #14695
Seems good then :+1:

[2015-04-22 15:01] #14695 closed

[2015-04-22 15:03] steveklabnik commented on #24659
Yes, once we have a stable channel :)

[2015-04-22 15:03] SimonSapin commented on #24691
So it is a decision to keep them in 1.0 and be stuck with them “forever”? (Really until 2.0, but in a way not making a 2.0 for a very long time is a sign of success.)

[2015-04-22 15:04] #18801 closed

[2015-04-22 15:04] #22209 closed

[2015-04-22 15:06] steveklabnik commented on #21081
From a glance, the code looks like it should work, with the new `extern crate` annotation.

[2015-04-22 15:07] steveklabnik commented on #24677
/cc @brson , in theory, we made rustup.sh run `ldconfig` to fix this.

[2015-04-22 15:10] alexcrichton commented on #24691
It's a fact of life that we're going to grow deprecated functions over time, so we need to be comfortable with it no matter what. "Being stuck" with these functions has very little overhead to us as the remaining ones are all minor renamings basically and the compiler/tests don't depend on them at all (unlike the old `std::num` traits).

[2015-04-22 15:20] SimonSapin commented on #24691
Alright, fair enough. Thanks for #24636!

[2015-04-22 15:20] #24691 closed

[2015-04-22 15:57] SimonSapin commented on #24659
I’d like to revisit the decision to have URLs synonymous on purpose, which can be bad for search engines, and use redirects instead.

[2015-04-22 16:00] aturon commented on #24214
Thanks @Stebalien! I've added this as a checklist to the top of the issue.

Anyone on thread: feel free to let me know if you want to take on a particular module/crate and I can put your name next to the item to "claim" it.

[2015-04-22 16:03] steveklabnik commented on #24659
There's a second ticket open for `rel=canonical`, but I think that the reason that there can't be redirects is that they're just files on S3. /cc @alexcrichton

[2015-04-22 16:16] SimonSapin commented on #24659
S3 seems to support redirects: https://aws.amazon.com/blogs/aws/amazon-s3-support-for-website-redirects/ (though I haven’t looked into details).

[2015-04-22 16:54] tamird commented on #22812
With minor updates this compiles without error:
[code]

[2015-04-22 16:57] tamird commented on #22062
@steveklabnik could you remove the I-ICE?

[2015-04-22 18:24] wldcordeiro commented on #24214
I'm interested in this @aturon would I just fork the repo and work on master or should I make a separate branch like `rust-lang/slice-iter` or something?

[2015-04-22 19:17] eddyb commented on #13325
@farcaller make a wrapper for the pointer(s) and `unsafe impl Sync for PtrWrapper {}`.

[2015-04-22 19:20] steveklabnik commented on #10151
Okay, so after some discussions, this ticket feels like something we'd want well-defined for a formalism, but rarely comes up when you're writing Rust code. as such, i'm going to close it, because once we start formalizing, we'll want a systematic attack, but for now, random issues about it aren't helpful.

[2015-04-22 19:20] #10151 closed

[2015-04-22 19:20] steveklabnik commented on #24163
Notes from talking to @aturon

borrow is used in things like hashmap, where you have a key, and the map needs to store the owned version, but you want to look things up by the borrowed version. `HashMap<String, i32>`, but you want to look up by string literals: `&str`.

for most types, you want T and &T. but for things that take slices, there's a few different slice types. Borrow is good for this

[2015-04-22 19:55] aturon commented on #24214
@wldcordeiro

It usually works best to fork, and then create a branch in your local copy that tracks the master branch on this repo. We use the "fork and pull" model [here](https://help.github.com/articles/using-pull-requests/).

Once you get cooking, write a comment here to say which modules you're taking so we can avoid overlap. Thanks!

[2015-04-22 20:06] Thiez commented on #24660
The rust iterator trait states:

So I don't think that is unfortunate at all.

[2015-04-22 20:10] tamird commented on #15738
Depends on https://github.com/rust-lang/rust/issues/18227

[2015-04-22 20:15] dotdash commented on #24660
FWIW, changing `next()` in the generated IR to return `{ i32, i32 }` instead of `i64` (like we did in the past) does not allow the optimization to happen with the current pass setup. Only after another run of `opt -O2` we get the optimal result. So given that the iterator protocol allows for the implementation that optimizes well, I think we should use that. You want to compare against `n` in the

[2015-04-22 20:28] steveklabnik commented on #24658
Rustdoc operates on crates, just like everything else. It needs to be able to compile the crate to run doc tests.

[2015-04-22 20:37] steveklabnik commented on #12905
Okay, so at this point:

-    transmute/casting - covered in the casting chapter
-   the Unsafe type (for inner mutability) - would be nice to have in a guide, but api docs work too
-    the relevance of the various kinds - same
-    static mut, including atomics and static mutexes - covered in the statics chapter, could beef up atomics/mutexes though
-    #[no_std] in more detail: - has its own c

[2015-04-22 20:37] #12905 closed

[2015-04-22 20:54] #24442 closed

[2015-04-22 20:54] tamird commented on #14564
This no longer errors at all. Compiling @lht's code:
[code]

[2015-04-22 21:00] tamird commented on #15981
The specific case reported here now results in:
[code]
This should probably be closed?

[2015-04-22 21:08] tamird commented on #13968
With minor updates to get this code compiling:
[code]
[code]
The result is:
[code]

Which seems like a pretty good error message. This might be good to close.

[2015-04-22 21:17] huonw commented on #24660
I think the `std` iterators should endevour to be as well-behaved as possible, especially something as fundamental as `Range`.

[2015-04-22 21:19] reem commented on #24660
@huonw users can always use `fuse` to get back the old behavior if it is important to their use case. In this case, I think it's more important to be fast, specifically because this is something as fundamental as `Range`.

[2015-04-22 21:22] Stebalien commented on #24214
I have one for `Iter(Mut)`. However, I'm not happy with the performance of nth (see the inline comment). Issue linked above ^.

[2015-04-22 21:31] huonw commented on #24660
Yes, I understand that, but this is the sort of thing which subtly results in broken programs (similar to overflow assertions): most situations won't think to call `.fuse()`.

[2015-04-22 21:36] tshepang opened #24702 "README mentions a stage3 compiler"
... but it looks like we only have stages 0-2. Is it outdated?

[2015-04-22 21:40] reem commented on #24660
You're right, it's a tradeoff, I just think that the vast majority of iterators are used in for loops or other standard constructs which will just quit after the first `None`. In my experience very few uses of iterators ever call `next` after `None` has been returned once.

[2015-04-22 21:46] alexcrichton commented on #15981
Yeah I think this is safe to close now.

[2015-04-22 21:46] #15981 closed

[2015-04-22 21:48] alexcrichton commented on #24702
Yeah it's pretty rarely used but the snapshot compiler is a stage3 compiler.

[2015-04-22 21:48] #24702 closed

[2015-04-22 21:49] #13968 closed

[2015-04-22 22:08] huonw commented on #24660
I've submitted https://github.com/rust-lang/rust/pull/24705 with the intention that it's a temporary work-around.

[2015-04-22 22:15] alexcrichton commented on #15738
Interpreting the flags today is not stable and for now I'm going to close this in favor of the internals thread about this topic: http://internals.rust-lang.org/t/stabilising-formatter-flags/1927/2

[2015-04-22 22:15] #15738 closed

[2015-04-22 22:17] tamird commented on #9564
This has some complications in today's rust - it would look like this:
[code]
Unfortunately `CString::new()` has two unaccounted-for-in-this-discussion features:
- it returns a result (failure if the argument passed in contains a null byte)
- it mutates the argument by appending a null byte (meaning the argument must be copied)

I'm not sure there's a sane way to address this issue without violati

[2015-04-22 22:26] Thiez commented on #24660
If you *really* want well behaved iterators in the standard library I would suggest having them `panic!()` when `next()` is called after `None`. This way people will not start to rely on `None` being returned forever, which is exactly as it should be, according to the protocol.

[2015-04-22 22:52] tamird commented on #21335
@nagisa yep, LLVM assertion now.

[2015-04-22 23:03] bluss commented on #24660
You need to differentiate the (non-)guarantees of the trait and of specific implementations. I (and probably others) happily rely on the sanity of the standard slice iterator implementation, because I know I can.

[2015-04-22 23:07] tamird commented on #23459
This should have been closed by #24003 I believe

[2015-04-22 23:07] #23459 closed

[2015-04-22 23:54] alexcrichton commented on #24659
Last I looked into redirects they won't work for `static.rust-lang.org`, but that site is not linked from anywhere so I don't think that we should be worried about it. The other two I feel like are fine to have, we can use the `rel=canonical` trick to disambiguate, but I don't want either to go away.

[2015-04-23 00:00] tzeskimo opened #24707 "ICE with &[str]"
Hi Folks,

Just ran into a compiler panic.  I'm still learning rust, so it's probably related to a stupid syntax error on my part, but rustc suggested I file a bug report, so here I am...

Here's the error:

thread 'rustc' panicked at 'assertion failed: slice_layout_is_correct(cx, &member_llvm_types[..], element_type)', /home/rustbuild/src/rust-buildbot/slave/nightly-dist-rustc-linux/build/src/lib

[2015-04-23 00:48] a-jamesregan commented on #24677
Thanks @skeuomorf, what you suggested worked.  It's worth nothing that when you say to add `/usr/local/lib` to the file, you should do this *literally*.  I got confused because the file by default contains a single line starting with `include /etc/ld.so.conf.d/*.conf`.  If you place an `include` before `/usr/local/lib` the fix doesn't work.

@steveklabnik, should I mark this issue as closed now?

[2015-04-23 00:59] hyunsik opened #24709 "ICE: translating unsupported cast: *const u8 (cast_pointer) -> *const [u8] (cast_other)"
Hi folks,

I'm getting an ICE from the following code fragment:

[code]

rustc version is
[code]

backtrace results:
[code]

[2015-04-23 01:12] rajatgoel opened #24710 "Possible issue with optin_builtin_traits"
It is not clear why this code is not compiling - http://is.gd/rLiwGC

Just want to make sure this is something not yet implemented/supported and not a bug in compiler.

[2015-04-23 02:44] jdm commented on #24709
Looks like a duplicate of #22955.

[2015-04-23 02:44] #24709 closed

[2015-04-23 02:48] shepmaster opened #24712 "std::convert docs mention the "to" convention, but don't implement it"
The [std::convert docs](https://github.com/rust-lang/rust/blob/6790b0e51967b1487728d155e0800a1ed03a30d3/src/libcore/convert.rs#L13-L14) say:

(emphasis mine)

However, there isn't a `To` trait, and none of [`AsMut`](http://doc.rust-lang.org/std/convert/trait.AsMut.html) / [`AsRef`](http://doc.rust-lang.org/std/convert/trait.AsRef.html) / [`From`](http://doc.rust-lang.org/std/convert/trait.From.htm

[2015-04-23 04:25] rprichard commented on #14808
Did anyone ever consider having stdout convert LF to CRLF automatically on Windows?

[2015-04-23 05:07] TyOverby opened #24713 "LLVM ERROR: Attributes 'readnone and readonly' are incompatible!"
When I use cargo to set `[profile.dev]` to use `opt-level = 1`, `cargo build` fails with this error.  Any other opt-level and it's fine.

[code]

The project that I'm getting this error on is private for now, but it is breaking when compiling [typemap v0.2.1](https://github.com/reem/rust-typemap#bdaf7a23).

[2015-04-23 06:03] csherratt opened #24716 "ICE when using simd Shl/Shr."
The following code:
[code]

Will cause an ICE:
[code]

Tested with:
```rustc 1.0.0-nightly (00978a987 2015-04-18) (built 2015-04-19)```

[2015-04-23 09:01] logicchains commented on #16229
Sure, closing it would be fine with me. I only opened it because the
compiler told me to.

On 23 April 2015 at 00:56, Steve Klabnik <notifications@github.com> wrote:

[2015-04-23 09:04] Bastacyclop commented on #16763
@tamird I just made [a quick update](https://gitlab.com/Bastacyclop/rust_box2d/commit/0fa16a4820e9a2817e52233a18627966b39aedb6) for rust nightly, however I still use the workaround I found around the ICE. So if you really want to try to reproduce this, I'd say putting back the incriminated structure on top of this update should do the trick. I believe [this commit](https://gitlab.com/Bastacyclop/r

[2015-04-23 10:03] critiqjo commented on #23856
Isn't there a simpler version of it which compiles:
[code]
http://is.gd/GM6NKt

[2015-04-23 11:38] steveklabnik commented on #24712
Typo, I think. /cc @aturon

[2015-04-23 12:57] Ryman commented on #24680
Very similar case based on nickel's usage of hyper:

[code]
Playpen: http://is.gd/OEkSd4

The fact that it works with a wrapping function means it's possible to get things done with convenience macros, which suggests the compiler is at least able to reason about this at some level.

[2015-04-23 13:46] steveklabnik commented on #24707
Yup! even syntax errors shouldn't crash the compiler. thanks for reporting.

[2015-04-23 13:47] steveklabnik commented on #24710
[code]

[code]

Seems to make sense to me?

[2015-04-23 13:59] laumann commented on #24707
I cannot reproduce this from the given code in nightly: http://is.gd/XgQ75P

@tzeskimo I think you need to provide more context from the code you wrote

[2015-04-23 14:02] jdm commented on #24707
Note that any attempt to reproduce should ensure that debuginfo is being generated.

[2015-04-23 14:08] laumann commented on #24707
@jdm Right - I'm probably missing something

[2015-04-23 14:10] rajatgoel commented on #24710
What the compiler is saying is true. What is not clear is that why is it complaining about that on line 39 where we are converting from `Y` to `X` and not from `String` to `X`. `Y` implements `Error + NotString` and thus it should use the `From` implementation on line 12 to convert to `X`.

[2015-04-23 14:13] petrochenkov commented on #24710
Add `impl NotString for Y { }` to the program and it will compile.
When you implement `!NotString` for some type `T` it automatically becomes implemented for all types containing `T` - `Option<T>`, `Vec<T>`, `Y(T)` etc. and you have to override this automatic impls.
This is weird, but this is how OIBIT work, they are just not supposed to be used for specialization, but for "viral" traits like `Sen

[2015-04-23 14:13] fhahn commented on #23491
I have added 2 tests based on @talchas example, one using the `box` syntax and one using `Box::new`. Interestingly, using `Box::new` causes a compile time error:

    issue-23491-2.rs:5:41: 5:49 error: mismatched types:
         expected `Node<[isize]>`,
         found `Node<[isize; 0]>`
     (expected slice,
        found array of 0 elements) [E0308]
    issue-23491-2.rs:5    let x: Box<Node<[isi

[2015-04-23 14:19] petrochenkov commented on #23519
Closing, this is by design.
If `!NonRef` is implemented for `&T` it also becomes implemented for `S<&T>` or any other type containing `&T`. It is weird, but it's how OIBIT work, they are just not designed to be used for specialization.

[2015-04-23 14:19] #23519 closed

[2015-04-23 14:20] rajatgoel commented on #24710
@petrochenkov ah, that makes sense (if T is !Send .. anything containing it will also be !Send, etc). And thanks for suggesting the fix too.

[2015-04-23 14:20] #24710 closed

[2015-04-23 14:33] Stebalien commented on #24214
To add to the list, `nth` should be overridden in the by_ref iterators (`impl<I: Iterator> Iterator for &(mut) I { .. }`

[2015-04-23 14:43] steveklabnik commented on #16676
https://github.com/rust-lang/rust/pull/24721

[2015-04-23 15:50] tomjakubowski commented on #24686
Just wondering (to help prioritize this), is there an example of this bug in the standard library docs?

[2015-04-23 15:51] mdinger opened #24723 "reference grammar: no_struct_literal_expr undefined"
In the [reference](http://doc.rust-lang.org/reference.html) `no_struct_literal_expr` is [used](http://doc.rust-lang.org/reference.html#while-loops) in the grammar but isn't defined

Reference meta bug https://github.com/rust-lang/rust/issues/16676

[2015-04-23 15:58] mdinger commented on #24723
Is the grammar moving out of the reference into grammar? Then each section could just link to the correct grammar section or are they both going to be maintained?

[2015-04-23 16:01] tamird commented on #16763
@Bastacyclop could you try it? This issue is pretty stale; I'm reluctant to reapply an old patch to code that has now drifted this much.

[2015-04-23 16:05] bstrie commented on #24028
`std::rc::Weak`. The reason given for instability, "weak pointers may not belong in this module", seems easy enough to address. An example of a project blocked on this: https://github.com/aepsil0n/carboxyl/issues/47 (from http://blog.ebopp.de/blog/2015/04/23/interactive-2d-apps/).

[2015-04-23 16:11] Bastacyclop commented on #16763
@tamird I can, but I'll take my time

[2015-04-23 16:13] steveklabnik commented on #24723
Yes, I've been meaning to just remove it in favor of GRAMMAR.md

[2015-04-23 16:48] mdinger commented on #24723
Okay. That's easy.

[2015-04-23 17:14] rkruppe commented on #16676
Audited section 5, Crates and source files. Filed PR #24727 to fix it.

[2015-04-23 17:14] TimNN commented on #24682
I think the following minimal test case produces the same ICE:

[code]

[2015-04-23 17:40] brson commented on #24680
Nominating because I hit this quickly trying to use Iron, the error was impenetrable and I had to ask for help.

[2015-04-23 18:03] ebfull opened #24730 "Reference should mention tuple/parenthesis disambiguation"
Using (a,) to disambiguate from (a).

[2015-04-23 19:04] emosenkis opened #24732 "Illegal instruction building struct that recurses inside boxed array"
The following code produces an "Illegal instruction (core dumped)" when run (on linux/x86_64, both in debug and release mode):

[code]

[2015-04-23 19:09] whataloadofwhat commented on #24686
I don't think there's anything which matches this particular example exactly.

The closest thing that I could find was `DerefVec` which includes all methods of `Vec` and doesn't separate them into different bounds like it does for `Vec`. So someone reading the docs for `DerefVec` *may* think that you can `dedup` on any `DerefVec<T>`, when in fact you can only do it  where `T: PartialEq`.

http://d

[2015-04-23 19:09] nagisa commented on #24732
@emosenkis does that mean you could compile the code successfully?

---

On rustc with LLVM assertions enabled this ICEs:

[code]

[2015-04-23 19:19] nagisa commented on #24716
Backtrace:
[code]

Related: https://github.com/rust-lang/rust/issues/11900

cc @pnkfelix, because you implemented overflow checking.

[2015-04-23 19:22] tomjakubowski commented on #24686
Ah yeah. Preserving bounds in the deref is related but distinct enough it would be worth creating a new issue for it.

As an aside: when I tried to do the "methods available through Deref" feature myself, a couple months ago, I got stuck enumerating all of these miscellaneous issues and pondering pie in the sky solutions for them. I'm so happy acrichto stepped in to ship something covering the 95%

[2015-04-23 19:39] #22021 closed

[2015-04-23 19:46] bstrie opened #24735 "Type inference fails to infer the type of a closure when calling a function with an argument bounded by a trait implemented for a closure which takes a reference argument"
This code fails to compile:
[code]
Error message:
[code]
This error can be solved by explicitly annotating the type of the closure:
[code]
This problem does not arise when the argument to the closure is not behind a reference:
[code]
This error first observed in @brson's blog "httptest" blog post: https://github.com/brson/httptest#4-mutation , where it is described as a bug in type inference rathe

[2015-04-23 20:04] bstrie commented on #24735
Closing as a dupe of #24680.

[2015-04-23 20:04] #24735 closed

[2015-04-23 20:05] bstrie commented on #24680
Accidentally duped this bug, but not before coming up with a more minimal test case:
[code]

[2015-04-23 20:12] emosenkis commented on #24732
@nagisa, yes, it builds just fine (rustc 1.0.0-beta.2 (e9080ec39 2015-04-16) (built 2015-04-16))

[2015-04-23 20:22] nagisa commented on #24713
Minimized case

[code]

This is bug in our codegen, I fear (especially because we *do* dereference pointers we get), since we indeed emit both `readonly` and `readnone`. Interesting this is only caught by an optimisation pass, though...

[2015-04-23 20:36] nagisa commented on #24707
Reproducible running
[code]

This should fail at typecheck, I think, because `str` is unsized and slice of unsized items is a borderline wrong.

[2015-04-23 21:00] bluss commented on #16676
I'm reading 8.1, the types chapter.

[2015-04-23 21:01] joliv commented on #16676
Audited 7.2.4 (Unit expressions) and filed #24738

[2015-04-23 21:04] mbrubeck commented on #16676
Audited 3.3 (Comments).  Filed #24740 for a small clarification.  Aside from that it looks good, although I think the EBNF is a little sketchy.  (`character` is not defined anywhere, for example, and I think perhaps it needs the restriction that it can't include `*/`?)

[2015-04-23 21:15] mbrubeck commented on #16676
Audited 3.5.1 (Keywords). Filed #24742 to add two missing keywords.

[2015-04-23 21:16] pnkfelix commented on #24549
The plan of record is for some sort of scheme for contextual keywords in some form.  We'll figure it out after 1.0, but we do not need to make this change before 1.0.

Closing.

[2015-04-23 21:16] #24549 closed

[2015-04-23 21:21] pnkfelix commented on #24658
We *should* fix this to some degree for 1.0.  There are both short-term solutions and long-term solutions.

[2015-04-23 21:22] pnkfelix commented on #24658
P-medium.

[2015-04-23 21:23] brson commented on #24658
As an immediate solution we might upload docs for all three tier-one platforms.

[2015-04-23 21:26] joliv commented on #16676
6.1.4 (Type Aliases) looks good to me.

[2015-04-23 21:27] nikomatsakis commented on #24680
I updated the title to reflect the fact that the error message is really bad here. It'd be nice to improve the inference, but in short term error message is priority.

[2015-04-23 21:27] pnkfelix commented on #24680
P-high : provide better feedback in the error message to guide the user towards adding type annotations on the closure arguments.

[2015-04-23 21:30] aturon commented on #17606
Hm, I would prefer P-medium here; I think this is a very important piece of documentation to provide.

[2015-04-23 21:34] SimonSapin opened #24745 "Can not impl trait from another crate for Vec<T> with T from this crate"
Test case:

a.rs

[code]

b.rs

[code]

In rustc 1.1.0-nightly (90cc83015 2015-04-22) (built 2015-04-23):

[code]

Note _the impl does not reference any types defined in this crate_. This is not true, `Bar` is defined is this crate.

This indicates a bug either in the coherence rules (this program should be valid and the error not be shown) or in the error message, which is misleading.

CC @nikoma

[2015-04-23 21:42] SimonSapin commented on #24745
In either case, the work-around / fix is to make a new type that wraps `Vec<Bar>` and implement the trait on that.

[2015-04-23 21:42] P1start commented on #24745
I think this is an intentional result of #23086 (RFC 1023).

[2015-04-23 21:49] shepmaster commented on #24712
I'd guess that `Into<Foo> for &Bar` is really the equivalent of the old `Bar::to_foo(&self)`, while `Into<Foo> for Bar` is the equivalent of `Bar::into_foo(self)`. If correct, maybe that's what can be added somewhere.

[2015-04-23 21:53] retep998 opened #24746 "Broken inline code spans in rustdoc"
Using Windows 8.1 x64 with `rustc 1.1.0-dev (e9e9279d8 2015-04-22) (built 2015-04-22)`
![](http://i.imgur.com/S2DrW5v.png)

[2015-04-23 22:23] huonw opened #24747 "Provide more info when a trait impl cannot be found, but can be found for a different type with the same name"
[code]

[code]

It's not obvious what the issue is, especially if there are reexports involved: one checks the docs for `Trait` and sees `Trait<Type> for u8` listed.

It would be nice if the diagnostics were something like:

[code]

Came from http://stackoverflow.com/q/29830005/1256624

[2015-04-23 22:25] huonw opened #24748 "`std::num::ParseFloatError` != `<f64 as FromStr>::Err`"
[`impl FromStr for f64`](https://github.com/rust-lang/rust/blob/24e4e60ae8579d674c1eebb0298ee61471ddb6e6/src/libcore/num/mod.rs#L1341-L1382) uses [`core::num::ParseFloatError`](https://github.com/rust-lang/rust/blob/24e4e60ae8579d674c1eebb0298ee61471ddb6e6/src/libcore/num/mod.rs#L1512) which `std::num` *doesn't* reexport. It defines [a new type of the same name](https://github.com/rust-lang/rust/b

[2015-04-23 22:29] Ryman commented on #24680
@nikomatsakis Should I open another issue for the example I added? I don't know of any syntax available for type annotating the return type with lifetime requirements other than wrapping with a function?

[2015-04-23 22:29] pnkfelix commented on #24214
@Stebalien wrote:

I think I see.  So you are saying `vec![...].iter()` would provide the optimized `nth` (and thus could be used in an optimized fashion by the `skip` method), while `vec![...].iter().map(...)` and `vec![...].iter().inspect(...)` would be forced to fall back to calling `next()` n times, right?

[2015-04-23 22:30] brson commented on #24292
Retriaging as P-medium. The immediate threat to 1.0 has subsided since this API is unstable.

[2015-04-23 22:33] brson commented on #19051
@rprichard I think #23301 can be done as a bug fix later.

[2015-04-23 22:35] brson commented on #19051
Re-triaging as P-medium. There doesn't seem much momentum to make any drastic improvements here and the bar to getting into 1.0 is pretty high.

[2015-04-23 22:35] nrc commented on #10184
ping @pnkfelix is this covered by the new overflow checking stuff?

[2015-04-23 22:36] pnkfelix commented on #24680
@Ryman I'm not sure whether opening a separate issue is necessary, *as long as* we make sure not to *close* this one with whatever error message improvements we land to address the P-high part of this.

[2015-04-23 22:37] nrc commented on #16293
Hmm, what still needs to be done here? Anything other than self argument destructuring (see the above two comments).

[2015-04-23 23:12] pnkfelix commented on #20616
triage: P-backcompat-lang (1.0)

[2015-04-23 23:13] pnkfelix commented on #22020
I think all of the backwards compatibility issues have now been resolved.

[2015-04-23 23:14] pnkfelix commented on #22020
Not sure how important that lint was.  Nominating for discussion at next triage mtg.

[2015-04-23 23:14] pnkfelix commented on #22020
triage: P-medium

[2015-04-23 23:15] pnkfelix commented on #22020
(oops I added a "triage:" comment and then deleted it, but of course rust-highfive cannot turn back time.)

[2015-04-23 23:15] pnkfelix commented on #22020
My intent was to nominate, but also suggest a P-medium assignment for the remaining work here.   I will put back the P-backcompat-lang label.

[2015-04-23 23:16] pnkfelix commented on #21192
triage: P-medium

[2015-04-23 23:19] pnkfelix commented on #23611
(i think i have a plausible patch for this worked out.)

[2015-04-23 23:35] tamird commented on #14808
#24696 generated enough resistance that I think we should not pursue this. I'm not sure how to get to a decision, but it'd be nice to lock this down.

[2015-04-24 00:40] tynopex commented on #16676
#24753 - describe Range expressions

[2015-04-24 00:58] vadimcn commented on #24601
For me, building glium with `cargo build --release` on 1.0.0-beta.2 finished eventually, though LLVM module passes took more than an hour to complete.
I think this issue should be re-labeled `I-compiletime` (unless @tomaka has tried waiting that long).

[2015-04-24 01:04] jackm321 commented on #16676
If the unit type is no longer present, will unit-like structs be renamed to something else?

[2015-04-24 01:09] Stebalien commented on #24214
@pnkfelix Exactly. It should also be possible to optimize methods like any, all, min, max, etc. by avoiding bounds checks but I don't know if it's worth it. However, it probably is worthwhile to optimize those methods for the Bytes/Chars iterators because doing so will allow us to read in large chunks instead of byte-by-byte.

[2015-04-24 01:34] asolove commented on #24335
I don't understand the relationship between the term repo and the libterm folder in this repo. But over in the term repo, I am working on an already-extant issue add more features to the `Terminal` interface. Presumably if that lands there, it could get merged in here and be available for this PR.

[2015-04-24 01:49] blaenk commented on #24335
I'm not so sure myself, but my understanding is that since rustc doesn't use cargo, they embed the crate directly into this source tree.

[2015-04-24 01:58] chuckries opened #24755 "building dylib on windows fails"
[code]
lib.rs:
[code]
'rustc lib.rs' fails with:
[code]

[2015-04-24 02:13] Diggsey commented on #24745
I think the rationale is so that Vec<_> could be made to implement the trait later on without breaking backwards compatibility (it would conflict with your implementation of the trait otherwise).

[2015-04-24 02:19] cmf028 opened #24756 "Incorrect method selection with trait objects"
The following code compiles fine, but crashes with an illegal instruction:
[code]
output:
[code]
rustc 1.0.0-beta.2 (e9080ec39 2015-04-16) (built 2015-04-16)

[2015-04-24 02:20] huonw commented on #24756
cc @nikomatsakis

[2015-04-24 04:23] semarie commented on #24609
I have run a bisect in order to have some informations.
the `check-stage3-rpass-full` target start failing with 50f4a0ec7458a4c14d4814cc71b289bf12b5ce6b (more than one year ago), with the introduction of `macro-crate` test in `run-pass-fulldeps`.

so basically it say (if I understand well) that macro export don't work with rustc stage3.

[2015-04-24 05:09] SimonSapin commented on #24745
@Diggsey by “later on”, do you mean “in a future version of the crate that defines `Vec`?” Ok, that’s understandable. In that case, this issue is about reformulating the error message.

[2015-04-24 05:32] swgillespie opened #24761 "ICE in span_to_lines, 'capacity_overflow'"
Building https://github.com/swgillespie/gccjit.rs/tree/rustc-ice causes this for me.

[code]

[2015-04-24 05:37] retep998 opened #24763 "Create import library to go with dylib on Windows"
On Windows, in order to link to a `.dll` you actually link to an import library instead, either `.a` or `.lib`. When creating a `.dll` with `rustc --crate-type=dylib` however, no such import library is created, thus making it difficult to link to from C/C++.
If an import library is created, the metadata could be moved from the `.dll` to the library, thus solving #23366.

[2015-04-24 05:53] tomaka commented on #24601
:O

I admit that I only waited 45mn.

Note that I used to compile glium with the 32bits rustc on release fairly often, and it took at most 5 minutes.

[2015-04-24 05:55] retep998 opened #24764 "staticlib is ridiculously large."
An empty `main.rs` compiled with `$ rustc main.rs --crate-type=staticlib -Copt-level=3 -Clto -Cdebuginfo=0` results in `libmain.a` which is a whopping 3,669 KB.
For comparison the `.rlib` is only 4 KB.

[2015-04-24 06:03] vadimcn commented on #24763
`rustc --crate-type=dylib -C link-args=-Wl,-out-implib,library.lib ...` will cause linker to create an import library in addition to the .dll.

[2015-04-24 06:49] #19853 closed

[2015-04-24 06:50] aatxe commented on #19853
This disappeared at some point along the road.

[2015-04-24 08:19] pnkfelix commented on #22932
(The backwards-compatible strategy for addressing this would be to just *warn* when  format string literal is passed to unary `panic!`.  I had something hacked up for this in PR #24370, but I ran into trouble getting it past the stability checker -- which probably represents a bug somewhere in the macro system and/or stability checker.  Anyway, again, that strategy would be a backwards-compatible

[2015-04-24 09:32] nikomatsakis commented on #24622
Yes, I see the problem. It lies in some of the logic around type parameter outlives rules -- we assume type parameters outlive the current fn, and we assume the same of projections, which is clearly wrong. I've been wanting to revisit these rules about projections and how long they live (https://github.com/rust-lang/rust/issues/23442) though not for soundness reasons.

[2015-04-24 09:33] nikomatsakis commented on #24622
triage: P-high

[2015-04-24 09:36] nagisa commented on #24764
staticlib must include all its rust dependencies. Use `--emit=obj` to produce object file without bundled dependencies.

[2015-04-24 09:39] nikomatsakis commented on #24756
Argh. The problem is that our vtable generation is apparently still making the assumption that it only needs to track the trait, not the type parameters to the trait.

[2015-04-24 09:39] nikomatsakis commented on #24756
triage: P-medium

Rationale: Definitely should be fixed ASAP, but nobody could rely on this behavior.

[2015-04-24 09:58] nwin commented on #24687
I was able to trace down the bug. It is due to me using a unicode character in the documentation of a function this somehow triggers the compiler bug. A minimal example is:

## src/main.rs

    extern crate lzw;

    fn main() {
        let mut v = vec![];
    	let _ = lzw::Encoder::new(lzw::LsbWriter::new(&mut v), 8);
    }

## Cargo.toml

    [package]
    name = "rustbug"
    version = "0.1.0"

[2015-04-24 10:56] pnkfelix opened #24767 "std::fmt future-proofing: should `precision` be static error for integral types?"
(spawned off of #24662)

The docs for the `precision` formatting parmeter http://doc.rust-lang.org/nightly/std/fmt/index.html#precision currently say:

What that text apparently means today is "we silently ignore any such parameter"

The phrase "has no meaning currently" to me implies that we might add meaning in the future.

I do not even know if we *could* make this be a static error in a reason

[2015-04-24 10:56] pnkfelix commented on #24767
nominating.

[2015-04-24 10:58] TimNN commented on #22645
I think #23825 is also a dupe of this.

The following code reproduces the same issue:

[code]

Note that even though `a` is explicitly typed, this still causes the ICE.

[2015-04-24 11:00] bruno-medeiros commented on #19535
"Adding docs to the installer has already drawn consternation for the bloat" Really?.. Hah, I'm surprised in this day an age people are still picky about that.
Still, surely that mustn't be much of an issue for the standard library sources? I reckon they should be just a couple of few Mbs, properly compressed. I couldn't check it myself since I can't quickly  figure out from the Rust sources which

[2015-04-24 11:15] thepowersgang opened #24768 "Implicit +'static bounds on trait objects can cause cryptic error messages"
Seen in revision acce46751ef985189fd0eeb3bf7c7dd577e69e74 of thepowersgang/rust_os, implicit +'static bounds can cause cryptic error messages, e.g. (this was caused by omitting a lifetime parameter from `impl ::async::Waiter`, which is completely unmentioned in the error.

[code]

I will create a smaller reproduction of the error later this evening.

[2015-04-24 11:36] SkylerLipthay commented on #16676
Good:
* 3.5.2.1.1
* 3.5.2.1.2
* 3.5.2.1.3
* 3.5.2.1.4

Bad:
* 3.5.2.1.5

3.5.2.1 is all good once #24769 is accepted.

[2015-04-24 12:12] pnkfelix opened #24770 "`infer_ty(IntVar)` should not print as `_` in user error messages"
spawned off of https://github.com/rust-lang/rust/pull/24728#issuecomment-95911488

In an example like:

[code]

which yields the error message:
[code]

i find it frustrating that the first line prints the integral type variable as just `_`.

It is not a completely unconstrained type; it must be some kind of integer.

(It is true that one should be able to figure this out from the third line.  But

[2015-04-24 12:14] pnkfelix commented on #24770
(it might also be interesting to try to just write `core::slice::Iter<'_, _>::Item` when there is no other trait in scope that defines an associated type named `Item`, to further condense this error message to its core.  But I digress.)

[2015-04-24 12:20] pnkfelix commented on #24770
also, from #14007 i infer that we *used* to do better here ?  Was it a deliberate choice to stop printing `<generic integer #1>` and print `_` instead?

[2015-04-24 12:21] pnkfelix commented on #24770
cc @nikomatsakis

[2015-04-24 12:24] pnkfelix commented on #24770
Seems like the use of `_` for int-type variables was introduced in commit a2624fc90891b8265550229e38bc255e61a9d335 ; I am not sure what code paths produced the print outs that @zwarich referenced in #14007

[2015-04-24 12:27] pnkfelix commented on #24770
ah, seems like it was a deliberate choice, based on the argument presented [here](https://github.com/rust-lang/rust/pull/18264#issuecomment-61160859) by @nikomatsakis

But I think that the code in this ticket's description is a strong counter-example to that claim: the failure to unify `&T` with `<integral typevar>` is *precisely* due to the distinction between normal type variables and integral o

[2015-04-24 12:49] GuillaumeGomez opened #24771 "Beautiful printing for rustc --explain command"
I open this issue to allow people to follow this feature status and I'd also like to do it myself if no one is against it.

This issue was "proposed" in #24523.

[2015-04-24 13:52] bombless commented on #24601
tips: use 64-bit version rustc to compile faster :)

Actually 64-bit rustc compiles about 3 times faster when bootstrapping.

[2015-04-24 13:54] tomaka commented on #24601
I can't use 32-bits rustc because I need to link to 32bits C libraries :(

[2015-04-24 14:51] steveklabnik commented on #24746
I'm adding the 'windows' tag because the docs for the site are generated on linux and look just fine.

[2015-04-24 14:56] aturon commented on #24712
Yes, this comment was left in from the initial implementation, which included `To`.

What we found eventually was that bounding by `To` doesn't make a lot of sense; as @shepmaster points out, `Into` can cover both the `to` and `into`-style conversions, and using `Into` instead gives the caller more flexibility (since they can pass in an owned object of the target type, or one that requires convers

[2015-04-24 14:57] nikomatsakis commented on #24770
Some thoughts:

1. This error message is bad.
2. In general I don't like how we do integral variables, it seems like it may limit us in the future.

[2015-04-24 14:58] pnkfelix commented on #24770
Another option i just thought of while brainstorming is to print  `i32` for `infer_ty(IntVar)`.  The argument for doing so is that if we have not yet seen some constraint forces this to be a more specific `int` type (e.g. `u8`), then there's a good chance that all of the evidence we have so far (and maybe all of the evidence we will ever see in this compilation unit) will still lead us to just app

[2015-04-24 14:59] steveklabnik commented on #16676
https://github.com/rust-lang/rust/pull/24744

[2015-04-24 15:20] steveklabnik opened #24773 "`-Z time-passes` has poorly formatted output"
[code]

There seems to be extra indents going on in a number of these lines. The rest are all left-aligned.

[2015-04-24 15:30] vadimcn commented on #24601
64-bit rustc can generate 32-bit binaries, can't it?

[2015-04-24 15:40] erickt commented on #24518
@alexcrichton: Regarding BitSet, it's only used in [attr.rs](https://github.com/rust-lang/rust/blob/master/src/libsyntax/attr.rs#L32) in order to speed up tracking if an attribute has been used or not. We got three options for syntex:

1. Replace it in libsyntax with `HashSet` with the assumption that we don't actually have that many attributes, that the overhead of using a whole `usize` might not

[2015-04-24 15:40] dotdash commented on #24773
The indented ones are "external" passes.  And "LLVM passes" is the
cumulative time for the for indented passes above it, so there's a reason
for them being indented.
Am 24.04.2015 17:21 schrieb "Steve Klabnik" <notifications@github.com>:

[2015-04-24 15:47] tomleb commented on #23360
First running 'make' alone and then running 'sudo make install' solved it for me.

[2015-04-24 16:04] FuGangqiang opened #24774 "the trpl `README` page have not the next page link"
[TRPL Intrododuction page](http://doc.rust-lang.org/nightly/book/README.html)

Other pages all have previous and next link page at bottom.

[2015-04-24 16:15] sfackler commented on #24767
A somewhat related question would be "do we even make any back compat guarantees with respect to the output of formatters?" We obviously won't want to do anything totally crazy like making the default output format for integers hex, but will/should anyone care if we do start using the precision parameter in the future?

As one example, the [`Debug` improvements RFC](https://github.com/rust-lang/rf

[2015-04-24 16:16] steveklabnik commented on #24773
Ah, that wasn't very clear at all.

[2015-04-24 16:16] #24773 closed

[2015-04-24 16:23] mbrubeck commented on #16676
#24775 (updates to 7.2.20 and a formatting tweak to 6.3.13)

[2015-04-24 17:11] alexcrichton commented on #24764
@nagisa is correct in that a staticlib must include all rust and native dependencies, so if we take a look at the actual contents of the archive (for me it's 1.9MB) we get:

* `main.o` - 163K, the public symbols here being `rust_begin_unwind`, `rust_eh_personality`, `rust_eh_personality_catch`, and `rust_stack_exhausted`. Some of these are required by `morestack.o`, but in general this is not a so

[2015-04-24 17:22] alexcrichton commented on #24755
This is a dupe of https://github.com/rust-lang/rust/issues/18807, but thanks for the report!

[2015-04-24 17:22] #24755 closed

[2015-04-24 18:06] larsbergstrom opened #24776 "Support targeting Windows XP"
It would be great for Rust to be able to build code that targets Windows down to Windows XP SP2. There are still a significant number of Firefox users on that platform, so any Rust code built into Firefox would also need to run on that platform.

The only issue I am aware of preventing this today is the use of condvars in std.

cc @brson

[2015-04-24 18:29] alexcrichton commented on #24776
This is a dupe of https://github.com/rust-lang/rust/issues/12842, and I believe @vadimcn's [list of APIs](https://github.com/rust-lang/rust/issues/12842#issuecomment-76674381) is mostly still applicable today for things we're using that are not on XP.

[2015-04-24 18:33] alexcrichton commented on #24776
Er as clarified with @larsbergstrom on IRC it possible to interpret #12842 as having the compiler run on XP and this as targeting XP, which are separate issues.

[2015-04-24 18:49] alexcrichton commented on #24518
@erickt in general I'm hesitant to contort libsyntax too much, so I would optimize for the least invasive solution. I'm not sure what the stability track is for `BitSet`, as that may be a plausible course of action.

[2015-04-24 18:51] tsion opened #24779 "LLVM invalid linkage error from nested closures"
Code:
[code]

Error:
[code]

[2015-04-24 19:36] insaneinside opened #24780 "Should not claim to expect `>` for "error: expected one of ..., `>`, ... or an operator, found `>`""
[Test-case playpen.](http://is.gd/khyi4o)

This currently happens for both beta and nightly.

[2015-04-24 20:30] nham commented on #23134
@wesleywiser Are you still working on this?

[2015-04-24 20:46] wesleywiser commented on #23134
No, I ran into some issues trying to figure out how to get at the file
descriptors.

On Fri, Apr 24, 2015, 4:31 PM Nick Hamann <notifications@github.com> wrote:

[2015-04-24 21:45] tamird commented on #10356
This is confirmed still broken on Android :(

[2015-04-24 22:12] kstenerud opened #24788 "Cargo fails to build"
### System:
Macbook pro running OSX 10.9.5

### Rust version:
1.0.0-beta.2 (Mac installer)

### Meta:
    $ rustc --version --verbose
    rustc 1.0.0-beta.2 (e9080ec39 2015-04-16) (built 2015-04-16)
    binary: rustc
    commit-hash: e9080ec39d9a44eb0773d648b348575b19f655e5
    commit-date: 2015-04-16
    build-date: 2015-04-16
    host: x86_64-apple-darwin
    release: 1.0.0-beta.2

### Steps to

[2015-04-24 22:12] cybergeek94 opened #24789 "`std::rc::try_unwrap()` should only consider the strong refcount"
From [this reddit thread][1].

[`std::rc::try_unwrap()`][2] returns `Err` if the `Rc` is not unique, which includes weak references. This fails intuition as the logic is the same as when the last `Rc` is dropped, which only considers strong references when deciding whether to drop the contained value, except it keeps the contained value from being destroyed. I fail to see how it is unsafe to unwra

[2015-04-24 22:39] bluss opened #24791 "Unstable indexing permitted in beta channel"
I just discovered you can slice the slice iterator. It's neat, but unstable. `.as_slice()` as well as the `Index` implementations for the `slice::Iter` are marked unstable, but you can still use the slicing syntax in the beta channel.

Compiles in rustc 1.0.0-beta.2 (e9080ec39 2015-04-16) (built 2015-04-16)

[code]

The effect is that converting iterators to slices isn't closed down like it was in

[2015-04-24 22:41] bluss commented on #24791
Not sure if it's intentional or not.

[2015-04-24 22:41] bluss commented on #24791
cc @aturon

[2015-04-24 22:42] brson commented on #17136
Renominating. Are we going to go with this as is?

[2015-04-24 22:45] alexcrichton commented on #22830
This was fixed and backported to beta recently, yay!

[2015-04-24 22:45] #22830 closed

[2015-04-24 22:46] brson commented on #14232
Hopefully this is a bug that can be fixed in the fullness of time, because the API is not changing now.

[2015-04-24 22:48] alexcrichton commented on #24791
This is an unfortunate fallout of our current stability system, although it looks like we don't currently have another open bug on this. The consequence is that the stability of an `impl` is not tracked, only the stability of the trait itself is considered when evaluating the stability of a method call.

(unfortunately).

[2015-04-24 22:49] brson commented on #4955
There are no numeric traits now and this won't happen.

[2015-04-24 22:49] #4955 closed

[2015-04-24 22:50] alexcrichton commented on #24788
Could you gist the contents of the `Cargo.toml` you wrote? It looks like the `version` key needs to be updated with an extra numeric component (e.g. the book's version is `0.0.1`)

[2015-04-24 22:53] brson commented on #24290
Not happening for 1.0. Hopefully can be done backwards-compatibly later.

[2015-04-24 22:53] kstenerud commented on #24788
It's very simple so I'll post it here. The first error was caused by this `Cargo.toml` (copied from the book):

    [package]

    name = "hello_world"
    version = "0.0.1"
    authors = [ "somebody" ]

The second error (the parse error) was caused by this `Cargo.toml`:

    [package]

    name = "hello_world"
    version = "1.0"
    authors = [ "somebody" ]

[2015-04-24 22:54] brson commented on #23969
Demoting this to P-medium. Somebody should get on it though!

[2015-04-24 22:58] alexcrichton commented on #24788
Is that second `Cargo.toml` in the book? Otherwise this is a legitimate error that Cargo is saying.

[2015-04-24 23:00] kstenerud commented on #24788
I just copied from (http://doc.rust-lang.org/1.0.0-beta.2/book/hello-cargo.html), where it says:

Put this inside:

    [package]

    name = "hello_world"
    version = "0.0.1"
    authors = [ "Your name <you@example.com>" ]

[2015-04-24 23:01] brson commented on #20616
Removed 1.0 milestone. Still need a fix.

[2015-04-24 23:01] kstenerud commented on #24788
Oh sorry the second one. No, for the second one I had just assumed that you could put any dotted number like `1.0` in the version field. It seems to only work if the first digit is `0`.

[2015-04-24 23:02] steveklabnik commented on #24788
What about "1.0.0"?

[2015-04-24 23:02] alexcrichton commented on #24788
Ah so the version field is required to be a valid [semver](http://semver.org/) which requires three components (period separated). Other than that though it looks like everything is working as intended here, so closing, but thanks for the report!

[2015-04-24 23:02] #24788 closed

[2015-04-24 23:05] #22779 closed

[2015-04-24 23:08] kstenerud commented on #24788
OK cool, but what do I need to put in the original `Cargo.toml` file to make it work? The book doesn't say.

[2015-04-24 23:11] alexcrichton commented on #24788
@steveklabnik's suggestion of using "1.0.0" as the version should do the trick!

[2015-04-24 23:16] kstenerud commented on #24788
Oh yes, that solves the version issue, but there's still the main issue that it fails with this:

    Caused by:
        either a [lib] or [[bin]] section must be present

So I'm guessing that rust has changed since this section of the book was written, but as a result, I don't know what to put in a `lib` or `bin` section.

[2015-04-24 23:20] GBGamer opened #24794 "In core::ptr, weird thing about impl<T: ?Sized>"
So the implementation itself is for T: ?Sized, but the actual functions themselves are for T: Sized.

i.e.

[code]
This makes absolutely no sense. First: why would you `impl<T: ?Sized>` and then not allow you to call any functions on `T: !Sized`. Second, why can you only call `is_null` on `T: Sized`? Makes absolutely no sense.

[2015-04-24 23:28] alexcrichton commented on #24788
Ah that just means you need to have either `src/lib.rs` or `src/main.rs` to build.

[2015-04-24 23:28] kstenerud commented on #24788
Oh I think I found the problem:

I hadn't created the `src` directory, and instead had everything at the top level:

    $ tree
    .
    ├── Cargo.toml
    └── main.rs

    0 directories, 2 files

If you do this, it gives a misleading error:

    $ cargo build
    failed to parse manifest at `/Users/karl/Projects/rust/hello/Cargo.toml`

    Caused by:
      either a [lib] or [[bin]] section must

[2015-04-24 23:36] aturon opened #24795 "Audit and document the system calls made for each "primitive" IO API"
Now that [IO reform](https://github.com/rust-lang/rfcs/blob/master/text/0517-io-os-reform.md) is complete, we have a large number of "primitive" IO APIs -- functions in Rust that roughly correspond to a single system API, like opening a file or extracting its metadata.

We need to go through all of these APIs and add a section like `# Platform notes` which details which system API(s) are being use

[2015-04-24 23:40] alexcrichton commented on #24794
This is actually currently intentional! The `T: ?Sized` means that the `impl` block is maximally generic by default (we only have one). Each method then adds bounds as necessary, and in this case the `is_null` method currently requires that `T` is sized.

At the time this function was written, it was an ICE if `T` was not sized (hence `*const T` was a fat pointer). It is intended that one day that

[2015-04-24 23:40] #24794 closed

[2015-04-24 23:40] aturon opened #24796 "Tracking issue for std::fs extensions (RFC #1044)"
https://github.com/rust-lang/rfcs/pull/1044

[2015-04-24 23:44] frewsxcv commented on #22638
Status update: my code no longer has an ICE, but instead has:

[code]

[2015-04-24 23:50] bombless commented on #24788
Normally you have a `src/lib.rs` for your library.
If you don't, you need `[[bin]]` or `[lib]` otherwise cargo doesn't know what to build.

[2015-04-24 23:54] frewsxcv commented on #15522
Can anyone confirm if this is still an issue?

[2015-04-24 23:55] frewsxcv commented on #22864
I can confirm this is still an issue with the latest 1.0 beta:

[code]

[2015-04-25 00:06] frewsxcv commented on #20174
All of the codeblocks in this issue are working for me with 1.0 beta2. Can this be closed?

[2015-04-25 00:06] GBGamer commented on #24794
Ah okay cool. We should probably make a comment about that?

[2015-04-25 00:07] frewsxcv commented on #22968
This is still an issue

[code]

[2015-04-25 00:08] alexcrichton commented on #24794
I'd be down with that!

[2015-04-25 00:11] frewsxcv commented on #22894
This is still an issue in Rust 1.0 beta2

[code]

[2015-04-25 00:13] frewsxcv commented on #22999
The original code block no longer compiles in Rust 1.0 beta2

[code]

[2015-04-25 00:15] frewsxcv commented on #21275
@Ericson2314 Are you able to reproduce this issue with the latest beta Rust?

[2015-04-25 00:22] frewsxcv commented on #22874
I reduced this even further:

[code]

This is still an issue with Rust 1.0 beta 2

[code]

[2015-04-25 00:28] frewsxcv commented on #23253
Running with

[code]

@tioover's code block

[code]

@shepmaster's code block

[code]

I can't reproduce the ICE. Can this be closed?

[2015-04-25 00:29] frewsxcv commented on #23302
Can confirm this is still an issue in Rust 1.0 beta 2

[code]

[2015-04-25 00:51] frewsxcv commented on #22257
Can confirm this is still an issue using Rust 1.0 beta 2

[code]
[code]

[2015-04-25 00:56] frewsxcv commented on #22799
In order to compile @gkoz's code block, I removed the `#![feature(core)]` line

That said, this still results in an ICE using Rust 1.0 beta 2

[code]
[code]

[2015-04-25 00:58] frewsxcv commented on #22919
Can confirm this is still an issue

[code]

[code]

[2015-04-25 01:03] frewsxcv commented on #23024
The original codeblock either needs to be updated to compile with the latest beta, or this is no longer causing an ICE.

[2015-04-25 01:05] frewsxcv commented on #23032
This is still an issue using Rust 1.0 beta 2

[code]

[code]

[2015-04-25 01:10] frewsxcv commented on #23003
This is still an issue using Rust 1.0 beta 2

Full error message: https://gist.githubusercontent.com/frewsxcv/c74c589b42675c5e5df7/raw/f0d4224d119fcf51db9d48c83fa266c0e955f4bd/gistfile1.txt

[code]

[2015-04-25 01:11] frewsxcv commented on #23003
The I-ICE label can probably be removed, unless there is still an ICE issue here

[2015-04-25 01:13] frewsxcv commented on #23042
When compiling the original codeblock with Rust 1.0 beta 2:

[code]

I no longer get an ICE.

[2015-04-25 02:36] frewsxcv commented on #24655
Looks like it got added in https://github.com/rust-lang/rust/commit/0a46933c4d81573e78ce16cd215ba155a3114fce#diff-e0f884b85741a0964cc4b7722e0e6fadR351

[2015-04-25 03:23] GBGamer opened #24799 "ICE: Assertion `R == 0 && "Already initialized this value register!"' failed"
With the asm! templates.

You can see the code at https://github.com/GBGamer/os-dev/blob/master/kernel/low_level.rs

The specific assertion is:

[code]

[2015-04-25 03:49] mbrubeck opened #24800 "Document object safety in the reference"
The official docs don't currently mention how to determine whether a trait is object-safe.  For reference:

* http://huonw.github.io/blog/2015/01/object-safety/
* https://github.com/rust-lang/rfcs/blob/master/text/0255-object-safety.md

[2015-04-25 03:50] mbrubeck commented on #16676
8.1.11 (Object types) should probably mention object safety. Filed issue #24800.

[2015-04-25 04:02] tbelaire commented on #20591
@bagedevimo How'd it go?  Can I try my hand at it now?

[2015-04-25 04:21] canndrew opened #24801 "Make more of `syntax::parse::parser::Parser`'s methods public"
I'm writing a syntax extension and there are methods that would be useful to me which are private inside `syntax::parse::parser::Parser`. Specifically I'd like access to `parse_struct_def` but there seems to be plenty of methods which are private for no apparent reason.

[2015-04-25 04:21] vadimcn commented on #24776
AFAIK, it was always understood that the compiler itself will never run on XP.

[2015-04-25 04:56] tbelaire opened #24802 "Explain the different style of tests in CONTRIBUTING.md"
I feel like it would be really helpful if the different kinds of tests were explained nicely somewhere, since there are a lot of different kinds, and it's a little hard to guess which kind I'll need to write, so I have to look at a lot of examples each time.

In particular, the semantics of the lines such as:

     //~^ HELP ...

are clear enough when reading, but I'm not really sure how it works

[2015-04-25 05:03] joshtriplett commented on #19004
I just ran into this one today, with 'f' being 'self'; that seems like a rather common case, which will come up any time you write self.somefield.method(|| { ... self.otherfield.method(...) ... }) (and at least one of the methods wants a &mut).

Based on some discussion in the #rust IRC channel, this seems potentially feasible to fix.  The closure desugaring just needs to recognize references to f

[2015-04-25 05:24] bagedevimo commented on #20591
Go ahead. I totally ran out of time and didn't get to this one.
On 25/04/2015 4:02 pm, "Theo Belaire" <notifications@github.com> wrote:

[2015-04-25 05:43] #24656 closed

[2015-04-25 05:43] #24712 closed

[2015-04-25 05:43] #24774 closed

[2015-04-25 05:45] GBGamer commented on #24799
If you're wondering why this assert is running, it's because I'm using intel syntax without specifying the intel syntax option.

[2015-04-25 06:08] GBGamer commented on #24799
The smallest program that shows this behavior:

[code]

[2015-04-25 06:29] SkylerLipthay commented on #16676
Good:
* 3.5.2.2 (Character and string literals)
* 3.5.2.2.1 (Character literals)
* 3.5.2.2.2 (String literals)
* 3.5.2.2.3 (Character escapes)
* 3.5.2.3.2 (Byte string literals)
* 3.5.2.3.3 (Raw byte string literals)
* 3.5.2.4 (Number literals)
* 3.5.2.4.1 (Integer literals)
* 3.5.2.4.2 (Floating-point literals)

Bad:
* 3.5.2.3.1 (Byte literals) — #24803

[2015-04-25 07:09] huonw commented on #24799
Register constraints are written with `{...name...}`, and literals with double `$$` (this design is definitely subpart and is part of the reason that `asm!` is unstable). The following compiles fine:

[code]

(It's not necessary to specify the exact width.)

Thanks for filing but this isn't a bug.

[2015-04-25 07:09] #24799 closed

[2015-04-25 08:21] pnkfelix commented on #24767
I think someone using `format!` to generate output that is intended to be read by other tools would very much care if we were to silently change the behavior of the `precision` parameter for the `Display` trait.

(I also think that we would be within our rights to arbitrarily change the output behavior for the `Debug` trait.)

[2015-04-25 08:28] pnkfelix opened #24805 "dropck: Ignore bounds for traits without any items"
As stated in [RFC 769](https://github.com/rust-lang/rfcs/blob/master/text/0769-sound-generic-drop.md#the-drop-check-rule), the Drop Check rule is supposed to ignore any trait bounds for traits that do not have associated methods (or perhaps that needs to be strengthened to associated items, as implied by this ticket's title).

However, the current dropck implementation is not so general -- I belie

[2015-04-25 08:29] pnkfelix commented on #24805
(In particular, I discovered this while doing some prototyping work on stabilizing allocators by adding a `Raw` OIBIT bound as part of some future-proofing plans.)

[2015-04-25 10:58] gnutick opened #24808 "Inline asm: The "=m" constraint causes an illegal instruction error"
Hi!

Rust ends with an illegal instruction error when I try to compile this:
[code]
Maybe because it generates wrong LLVM IR.

Rust/LLVM IR:
[code]
Clang/LLVM IR:
[code]

## Meta
`rustc --version --verbose`:
rustc 1.1.0-dev (2214860d4 2015-04-24) (built 2015-04-25)
binary: rustc
commit-hash: 2214860d4a979fe24d935277a74bd4d67e9bdb9f
commit-date: 2015-04-24
build-date: 2015-04-25
host: x86_64-unknow

[2015-04-25 11:06] luqmana commented on #23261
Problem seems to be with matching on DST structs. Here's a reduced test case:

[code]
[Playpen](http://is.gd/FjqsXi)

[2015-04-25 12:33] mdup opened #24810 "ICE with associated type on trait"
Given the following code,

[code]

the compiler crashes:

[code]

As a sidenote, I've played with it and was not able to find the correct syntax. The goal is to have a trait requires all implementers be able to add to themselves.

[2015-04-25 12:41] rkruppe commented on #16676
Good:

- 1 Introduction
- 2 Notation
- 2.1 Unicode productions
- 2.2 String table productions

Fixed in #24811:

- 3.2 Special Unicode Productions
- 3.2.1 Identifiers
- 3.2.2 Delimiter-restricted productions

[2015-04-25 12:52] mdup commented on #24810
I believe I might have finally got the syntax right; the error message disappears. However, the ICE remains.

[code]

[2015-04-25 13:33] nagisa commented on #24808
Citing @huonw:

Anyway, duplicate of https://github.com/rust-lang/rust/issues/16383

[2015-04-25 13:56] Diggsey commented on #19004
Capturing the individual fields rather than "self" would significantly increase the size of the closure. It should be possible to internally capture just the "self" pointer, but make it appear for all intents and purposes that the fields were captured individually.

[2015-04-25 14:40] tbelaire commented on #20591
@nrc How do you get the logging statements to show up?
I can getting some output from ` export RUST_LOG=debug`,
but it's all lines like
[code]

[2015-04-25 14:49] larsbergstrom commented on #24776
@vadimcn That other issue, #12842, has mixed comments and partial results evaluating both whether the toolchain runs on XP (which I do not care about) and whether binaries produces by rustc can run on XP (which I *do* care about). As long as the two are tracked separately - since I also suspect that running rustc.exe on XP is a non-goal - whatever selection of issues is fine by me.

[2015-04-25 15:05] simnalamburt commented on #17170
This issue has been fixed, tested with `rustc 1.0.0-nightly (07560d233 2015-04-20)`. Please close this.

[2015-04-25 15:34] tbelaire commented on #20591
I'm currently basing this code off of the code for rejecting duplicate function definitions, since that has a similar note to what we want.  Line 217 of build_reduced_graph.rs seems to be promising,
and I'd like to put some of that at line 905 of resolve_imports.rs.

Why does `self.session.span_note`, and `self.resolve_error` get used, as opposed to `span_error!`?

[2015-04-25 15:42] tbelaire commented on #24780
Just inlining the example and error:
[code]

[2015-04-25 15:46] tbelaire commented on #24771
So, I think it'd look best with the markdown rule of blank line + 4 space indent denotes a code block, same as ``` does, and that is a cleaner fallback when printing it to the terminal I feel.  Does that make sense?

[2015-04-25 15:52] GuillaumeGomez commented on #24771
You mean writing error explanation like this:

[code]

?

[2015-04-25 16:07] romanb commented on #22776
Just another update: Reproduced with Rust Beta2 and a newer version of byteorder (which accidentally but thankfully reintroduced the issue but is now patched again, so there is a recent commit that compiles with the latest rustc). Specifically:

  * Host: Ubuntu 14.10
  * NDK: r10d
  * Emulator: Android 5.0.1 (armeabi-v7a)
  * byteorder commit: https://github.com/BurntSushi/byteorder/commits/e5cb8

[2015-04-25 16:18] GBGamer commented on #24799
@huonw It is still a bug. There is an llvm assertion here. Even if this isn't correct, there should not be an llvm assertion.

If this is true, then it's a bug with the documentation, where it still shows this syntax.

[2015-04-25 17:33] belbert opened #24816 "rename missing description details"
[`std::fs::rename`](https://github.com/rust-lang/rust/blob/2fc2e12687ba7e48aef1c1d8efc6588a90e24010/src/libstd/fs.rs#L734) is missing the explicit description that you can also move a file outside of the current folder with it, as long as it's on the same file system.
This can be irritating.

[2015-04-25 18:08] tbelaire commented on #20591
Hmm, that approach does do something, but it's not exactly what I had in mind

[code]

My approach gives
[code]
which isn't exactly what I want, but it is interesting.

[2015-04-25 18:32] mdinger commented on #16676
Note: the grammar has been removed from the reference https://github.com/rust-lang/rust/pull/24729 so related fixes should be targeted at the [grammar](https://github.com/rust-lang/rust/blob/master/src/doc/grammar.md) and not the reference. This does include the keyword table and the EBNF grammar.

[2015-04-25 18:41] rkruppe commented on #16676
@mdinger So should grammar-related prose also be removed? For example, 3.2 Special Unicode Productions does contain important information, but most of it defines productions (just not in EBNF).

[2015-04-25 18:44] kballard commented on #24556
Presumably saying `{:.17}` will still produce 17 decimal digits even if they're all `0`, right?

I just suggested in [a comment](https://github.com/rust-lang/rfcs/issues/1074#issuecomment-96258495) on rust-lang/rust#1074 that we might want to consider adding a format modifier `:f` that produces a "simpler" display, e.g. no `-` on `-0.0` and trimming off all trailing zeroes (including the `.0` if t

[2015-04-25 18:51] tbelaire commented on #24771
No, check it out, this is a code block

    this is a code block.

Source:
[code]

[2015-04-25 18:52] tbelaire commented on #24771
Here's the spec for it: http://daringfireball.net/projects/markdown/syntax#precode

[2015-04-25 18:57] tbelaire commented on #20591
@nrc
Has `expect_view_item` been removed since you added it?  I don't see it anymore.
What would you recommend instead?

[2015-04-25 18:58] gsingh93 opened #24819 "Compiler panic: 'index out of bounds'"
Playpen link: http://is.gd/LITiE8
Example:
[code]
Output from playpen:
[code]
Happens for me on `rustc 1.1.0-nightly (f9e53c7f2 2015-04-24) (built 2015-04-25)`, and playpen is using beta, so it happens on that as well.

[2015-04-25 19:13] tbelaire commented on #20591
Well, I've got something that compiles, at least in `stage0`.  I'm sure it's not exactly the best looking at this moment, but how'd you make this more idiomatic?

[2015-04-25 19:14] kballard commented on #14505
Hmm, I thought `print!()` and `println!()` were supposed to *ignore* failures when printing to stdout. But the code explicitly panics:

[code]

Note that the docs on [`print!()`](http://doc.rust-lang.org/nightly/std/macro.print!.html) / [`println!()`](http://doc.rust-lang.org/nightly/std/macro.println!.html) do not actually document how they handle errors, but the natural assumption would be to ig

[2015-04-25 19:19] mdinger commented on #16676
@rkruppe I don't know what else should move but it should definitely be decided. @steveklabnik should know or be able to direct to someone who does.

[2015-04-25 19:40] asolove commented on #22597
I am interested in improving the trace_macros output, but there is a strongly-worded note that `trace_macros` "is a nasty hack that will certainly be removed." If it's going to be around for a while, though, I might take a crack at this.

The program:

[code]

currently outputs:

[code]

What is the desired output? I suspect it includes showing the span of the currently-expanding macro and then sh

[2015-04-25 19:47] tbelaire commented on #20591
Alright, looks like it's reasonable, though I had a type that needed fixing.

[2015-04-25 20:19] steveklabnik commented on #16676
I would think it should be moved, yeah.

[2015-04-25 20:22] kballard opened #24821 "Don't panic when println!() fails"
Right now `print!()` and `println!()` explicitly panic when they get an error writing to stdout. This is undocumented. It's also surprising, partially because printing to stdout is not _usually_ considered "critical" functionality for a program, and partially because all precedent I'm aware of in other languages for "print this thing to stdout" does not abort if the print fails.

Anyone printing i

[2015-04-25 20:26] larsbergstrom commented on #24687
@brson I believe Servo is also currently hitting this in the script crate during our current rust upgrade.

[2015-04-25 20:28] SimonSapin commented on #24687
Yes, at least the failing assertion is the same. Removing non-ASCII characters from doc comments didn’t seem to help, though.

[2015-04-25 20:33] kballard opened #24822 "#[derive(FromPrimitive)] should use the num crate"
The compiler still supports `#[derive(FromPrimitive)]` but it uses `std::num::FromPrimitive` which doesn't exist anymore. The compiler should remove its built-in support for `#[derive_FromPrimitive]` and the `num` crate should implement it instead.

Alternatively, to avoid the need for `#![feature(custom_derive)]`, the compiler's built-in support could be adjusted to use `num::traits::FromPrimitiv

[2015-04-25 20:44] kballard opened #24823 "Add #[derive] on C-like enums for From impls from the various numeric types"
C-like enums used to be able to say `#[derive(FromPrimitive)]` to allow for converting from integral types into enum variants. This no longer works as `std::num::FromPrimitive` has been removed (see #24822).

It seems reasonable to say that the "correct" replacement is `From` impls for various integral types. It would be great if we could derive those impls. `#[derive(From)]` is perhaps a bit non-

[2015-04-25 20:47] kballard commented on #24823
We may also want to consider being able to derive `Into` for the numeric types as well, although that's not as interesting because the enum variants can be converted into integral types with `as` (but it's still potentially useful).

Note that we can't derive `From<T> for i32`, which would be preferred, as that requires `T` to be public and I'm not aware of any precedent for `#[derive]` only worki

[2015-04-25 20:51] jooert commented on #24543
Triage: Closed by #24563, I guess?

[2015-04-25 20:52] steveklabnik commented on #24543
Yes!

[2015-04-25 20:52] #24543 closed

[2015-04-25 20:54] kballard opened #24824 "Cannot implement `From<T> for U` where T is private and U is public"
I assume this is a logical consequence of the current trait coherence rules, but I admit I'm not really up to speed on what rules we ended up setting on. But the end result is that I cannot derive `From<T>` for a public type if `T` is a private type. The resulting error message is `error: private type in exported type signature`.

Example:

[code]

It is possible to implement the inverse trait `In

[2015-04-25 20:57] kballard commented on #24821
I don't believe this should be considered a breaking change. It's undocumented behavior, so we're making no guarantees at all about what happens when stdout has been closed, which means nobody should be relying on this behavior. Anyone that does need to abort if the write fails should be using something like `writeln!(io::stdout(), ...).unwrap()` already.

[2015-04-25 21:05] rkruppe commented on #16676
Gotcha, filed PR #24825

For the task list, nothing changes. The sub-sections of 3.2 are gone and the name of 3.2 changed (to "Identifiers"), but that counts as "audited and fixed", right? ;-) Luckily the numbering of the following sections is not affected.

[2015-04-25 22:03] joshtriplett commented on #24484
Just ran into this today; I'd really like to have links from the impls in the Implementors section to the source containing the impl.

[2015-04-25 22:11] rkruppe commented on #16676
Files PR ... for

- 3.3 Comments
- 3.4 Whitespace

Also to be checked off:

- 3.5 Tokens (Only the introduction, not the many many subsections)
- 3.5.1 Keywords (removed by @mdinger in #24729)
- 3.5.2 Literals
- 3.5.2.1 Examples (Has no content of its own, and @SkylerLipthay took care of all subsections)

[2015-04-25 23:10] joshtriplett opened #24827 "Macro parsing ambiguity rules overly strict about repetition of the same token"
RFC 550 (https://github.com/rust-lang/rfcs/blob/master/text/0550-macro-future-proofing.md) restricted macro syntax to future-proof against changes to Rust syntax.  However, this breaks a case that can be handled unambiguously, namely repetition of the same token that splits off the rightmost rather than leftmost item:

[code]

This produces the following error:
error: local ambiguity: multiple par

[2015-04-25 23:16] joshtriplett commented on #24827
Note that this applies even if the macro requires a delimiter between the tokens:

[code]

[2015-04-25 23:40] #20616 closed

[2015-04-26 00:21] joshtriplett opened #24830 "Macro to run a macro over each tuple type"
In the course of implementing the Bounded trait for tuples (https://github.com/rust-lang/num/pull/89), I implemented a generic macro that runs the macro passed as its argument over every tuple type up to 20:

[code]

There are other instances of this pattern in Rust libraries; for instance, see https://github.com/rust-lang/rust/blob/8f5b5f94dcdb9884737dfbc8efd893d1d70f0b14/src/libcore/hash/mod.rs#

[2015-04-26 00:23] Valloric commented on #24644
I'm getting the same ICE as well.

[2015-04-26 00:45] bombless commented on #24556
I suggest we use Grisu2 for Debug printing f32/f64.
We can add a {:g} format for 1.0, and let's do it right in 1.1
Here's the weird behavior we have today:
fn main() {
    let a = 0.57 * 100f64;
    let b = 57f64;
    assert_eq!(format!("{:?}", a), format!("{:?}", b));
    assert!(a != b)
}

[2015-04-26 01:32] GBGamer opened #24831 "Compiler should catch when your #[lang = ""] items are not equal to what it expects"
By making the lang-item `index` not equal what it is in core:

[code]

This causes the assertion:

[code]

If instead you change it to a *const instead of an &'a, you get

[code]

However, if you change from `&'a` to `&'a mut`, nothing happens.

[2015-04-26 01:36] GBGamer opened #24832 "Cannot change the implementation of lang items (specifically, index)"
What is the point of lang-items if you aren't allowed to change the implementation (within reason)? This doesn't allow for safe variants of the core library, where index (for example) returns an Option.

[code]

trying to call this code with a[0]: `error: cannot index a value of type u32`

[2015-04-26 01:43] GBGamer commented on #24832
I've gotten why this isn't possible. It annoys me, but I get it. I'm closing this issue. Hopefully, in the future, we can get this working.

[2015-04-26 01:43] #24832 closed

[2015-04-26 02:15] ebfull commented on #22638
@frewsxcv That's good. Most of these code snippets should result in that sort of error. The type inference is hiding a recursive type definition which will necessarily arise during monomorphization. These are impossible to express statically.

By the way, here's a reduced example of the stack overflow:

[code]

I think because it's otherwise impossible to express recursive type definitions in code

[2015-04-26 05:02] FillZpp opened #24836 "How can i set timeout now?"
My project used the `Timer` in `old_io`, so that i can set timeout by `oneshot`.
Now i find the `old_io` module has been removed and how can i set timeout?

[2015-04-26 05:08] Manishearth commented on #24687
cc @pnkfelix

might this be another overflow error?

[2015-04-26 07:27] #22897 closed

[2015-04-26 07:27] #23041 closed

[2015-04-26 07:27] #23966 closed

[2015-04-26 07:27] #24013 closed

[2015-04-26 12:43] #15962 closed

[2015-04-26 12:43] #16472 closed

[2015-04-26 12:43] #16617 closed

[2015-04-26 12:43] #16987 closed

[2015-04-26 12:43] #17397 closed

[2015-04-26 13:55] bluss opened #24838 "Documentation text on trait impl methods is hidden in docs"
I use documentation on my trait impls to tell users about how my types behave:

[code]

This documentation is not rendered anymore. I expect to see it under the entry for the `Index` implementation of the `Graph` type.

I think this was lost after (the otherwise very awesome!) documentation changes by @alexcrichton

[2015-04-26 13:57] Stebalien commented on #24836
Please as support questions on the discourse forum: https://users.rust-lang.org. Regarding you question, does `std::thread::sleep_ms` do what you want?

[2015-04-26 14:01] bluss commented on #24838
Note: Documenation on top of the `impl` item itself is properly rendered. If you too agree this is adequate, please close the issue again.

[2015-04-26 14:18] bluss commented on #24821
I want to think  `println!()`

[2015-04-26 14:22] bluss commented on #24821
I want to think about what a typical Rust program's evolution is going to be. A mature program is going to want to handle this error case gracefully, does that mean that at some point of the development of a typical rust program it's going to have to replace all its `println!()` calls with more complicated `writeln!` invocations? (Probably using an internal macro to keep sanity.)

I think that if

[2015-04-26 14:31] FillZpp commented on #24836
No. What i want is the `Timer.oneshot()` in `old_io`. Its result can be used in macro `select!` with `std::sync::mpsc::Receiver` to set the timeout of `Receiver`.

[2015-04-26 14:31] nagisa commented on #24831
dupe of https://github.com/rust-lang/rust/issues/9307

[2015-04-26 14:35] nagisa commented on #24819
Duplicate of https://github.com/rust-lang/rust/issues/23583. I’d close the linked issue, though, because this one has minimal example.

---

[code]

[2015-04-26 14:40] Stebalien commented on #24836
As far as I know, those are gone for the time being. You could roll your own or try using mio instead of the built-in channels.

[2015-04-26 15:04] #23433 closed

[2015-04-26 15:13] steveklabnik commented on #23583
Closing in favor of the dup, as it has a minimized example

[2015-04-26 15:13] #23583 closed

[2015-04-26 15:13] #24831 closed

[2015-04-26 15:18] SimonSapin opened #24840 "--enable-debug seems to imply --disable-optimize"
I build rustc from source with `--enable-debug` to get output from `RUST_LOG` to chase down an ICE, and the resulting compiler is about 25 times slower than Nigthly on the same commit. (Servo’s script crate takes ~50 minutes instead of ~2 to trigger the same ICE, #24687.)

@huonw said on IRC:

… which would explain the slowdown, but I didn’t find an issue filed for it, so here it is.

This may be

[2015-04-26 15:27] SimonSapin commented on #24687
@Aatch recommended on IRC to build with `RUST_LOG=syntax::codemap`, but log output seems to be disabled in Nightly. So I built Rust with debugging enabled and tried again. (This took forever because of #24840.) There was **a lot** of output, here is just the end of it:

[code]

[2015-04-26 15:32] dotdash commented on #24840
See #24416 and #24405. The latter is specifically about optimizations and supposed to be fixed by #24408. Is this still a problem (again) or are you building an older version of the compiler?

[2015-04-26 15:32] bombless commented on #24840
Oh you can explain it in different ways, see https://github.com/rust-lang/rust/issues/24405

[2015-04-26 15:33] bombless commented on #24840
`--enable-debug --enbale-optimize` should be good enough btw

[2015-04-26 15:43] SimonSapin commented on #24840
I’m building 0d8309ec0 2015-04-25.

I believe #24416 (which I had found) is not related but #24405 kind of is.

I can try `--enable-debug --enable-optimize` as #24405 suggests, but since `./configure --help` lists `--disable-optimize` and not `--enable-optimize` I was lead to believe that enabling optimizations was the default. Is it not? Or is is tied to `--enable-debug`? If so, why?

[2015-04-26 16:12] pnkfelix commented on #24840
@SimonSapin i think this may be "by design", according to discussion on #24205 and #17665.  Although then again it is not clear that there was consensus on #17665 that `--enable-debug` should imply `--disable-optimize` (though my reading of the comments there that at least *some* of the participants were in favor of it having that effect).

The intention, as I understand it, is that if you do `--e

[2015-04-26 16:20] Zoxc opened #24841 "thread 'rustc' panicked at 'capacity overflow"
When compiling https://github.com/Zoxc/RustParser/tree/4f9284bb576bd4b68054bfe1b96c146b0bfd7e48

On rustc 1.1.0-nightly (90cc83015 2015-04-22) (built 2015-04-23) and rustc 1.1.0-nightly (da623844a 2015-04-25) (built 2015-04-26).

[code]

[2015-04-26 16:29] SimonSapin commented on #24687
This is 4013523 lines / 299MB of output.

[2015-04-26 16:42] SimonSapin commented on #24840
I can imagine the logic behind this, but in practice this is far from ideal.

It’s only one data point, but here is how my thought process and experience went:

* I hit an ICE and I don’t know the exact cause
* Asking on IRC, I’m recommended to retry with `RUST_LOG=syntax::codemap`
* There is no log output. I assume logging is disabled on my Rust build
* I decide to try making another build where

[2015-04-26 16:47] tamird commented on #14282
@kballard could you include a small reproduction snippet to help make this issue more concrete?

[2015-04-26 16:56] GBGamer commented on #24841
I get this issue compiling libcore when there are a lot of errors, as well.

[2015-04-26 17:04] #7205 closed

[2015-04-26 17:23] pyfisch commented on #24263
How is the progress here? I want to use it in a package, but I don't think it will be 1.0, right? Will it be included in 1.1?

[2015-04-26 17:48] IcyTesseract commented on #7970
Yes calling `println!()` results in:

[code]

[2015-04-26 17:56] Eljay opened #24843 "rustc crash when trying to reference static export from another crate"
https://gist.github.com/Eljay/24d13b4a27c4f6735b05

rustc just crashes with no useful errors. I guess you're not supposed to be able to do this anyway and it works if either are const instead of static but it shouldn't crash.

Tested with latest nightly and 1.0.0-beta.2 on windows 64-bit.

[2015-04-26 18:06] tamird commented on #4952
There's a whole host of duplication in `librustc_resolve/lib.rs`, but refactoring it would require lots of closure-passing. I'm not really sure it's appropriate to mark as E-easy :(

[2015-04-26 18:39] frewsxcv opened #24845 "No git tag for beta.2"
There is one for `beta`, but not `beta.2`, even though it has been released.

[2015-04-26 18:46] frewsxcv commented on #24845
Answer from IRC:

[code]

[2015-04-26 18:46] #24845 closed

[2015-04-26 19:56] tomjakubowski commented on #20098
This and #19834 are still serious and might be masking bugs in programs exporting a native interface. I'll see if I can revive my PR from a few months ago.

[2015-04-26 21:06] mdinger commented on #24723
This is fixed since the grammar isn't in the reference anymore. The grammar has many many similar issues and this nitpick won't  really help any alone.

[2015-04-26 21:06] #24723 closed

[2015-04-26 21:14] mdinger commented on #22699
PERLD and it's friends seem to be gone which fixes this. What crate did they move into?

[2015-04-26 21:14] #22699 closed

[2015-04-26 22:21] thomasbratt commented on #20525
@GildedHonour  As of 1.0 you can use this syntax:

`let value = temp.parse::<u32>();`

[2015-04-26 22:45] bluss opened #24851 "Overflow in Range<A> size_hint()"
`size_hint` is not implemented correctly for the ranges, it overflows:

[code]

Expected result: 128

With other compilation settings, the result is:

    'Error: arithmetic operation overflowed'

[2015-04-26 23:08] compwron commented on #21349
Sorry, that is hard and other stuff is more pressing. Feel free to close this. :/

[2015-04-26 23:18] soltanmm commented on #24830
This seems related to the future possibility of [variadic generics](https://github.com/rust-lang/rfcs/issues/376) in terms of application.

[2015-04-26 23:24] steveklabnik commented on #20525
@GildedHonour whoops! Sorry I missed this. @thomasbratt is correct.

[2015-04-26 23:24] steveklabnik commented on #20525
You can also `let value: u32 = temp.parse()`.

[2015-04-26 23:52] mkpankov opened #24852 "Wording in "Unsized Types" chapter of TRPL is unclear"
"With this impl" seems to refer to previously mentioned

[code]

but it's unclear from the sentence which `impl` is being referred to.

@steveklabnik says he meant `impl Foo for str {` ([link](https://botbot.me/mozilla/rust/msg/37622615/))

[2015-04-27 00:45] cmr opened #24853 "Rename built-in crates"
`rand` etc conflict with `crates.io` crates and causes confusion. We should rename them `private_rand` or `rustc_rand` etc.

[2015-04-27 00:48] cmr commented on #24853
I think we should rename:

- `rand`
- `log`
- `rbml`
- `term`
- `syntax`
- `serialize`
- `rbml`
- `graphviz`
- `getopts`
- `flate`
- `arena`
- `alloc`

[2015-04-27 04:22] abhi-bit opened #24856 "Memory leak with 1.0.0-beta.2 on Mac"
Sample code used:

[code]

Valgrind output from Linux:

[code]

Valgrind output from Mac(Yosemite):

[code]

Please let me know if you aren't able to replicate this issue, I could pass valgrind output with `--leak-check=full --show-reachable=yes`

Rust Version info:

[code]

[2015-04-27 05:00] kballard commented on #14282
@tamird I filed this issue almost a year ago. I don't recall the circumstances surrounding it, beyond what I put in the ticket. From re-reading this, I'm pretty sure that what I was saying is that if a syntax extension uses `quote_expr!()` after having previously invoked `cx.span_err()` it aborts immediately, instead of continuing the macro expansion phase (`span_err()` usually doesn't abort the c

[2015-04-27 05:42] sfackler opened #24857 "Type parameter default not respected with enums"
[code]

[code]

[2015-04-27 06:21] sfackler commented on #24857
This may actually just be "RFC 213 hasn't been implemented yet". Any idea, @nikomatsakis?

[2015-04-27 06:22] mindcat opened #24858 "Infinite memory use with nested * repetition in macro"
Play rust link: http://is.gd/DVjBtk
[code]

[2015-04-27 06:57] alexcrichton commented on #24856
Can you pass the extra flags to valgrind? It's possible that this could just be a bunch of false positives

[2015-04-27 06:59] sfackler commented on #24856
I don't think this has anything to do with Rust. A noop C program (`int main() {}`) has the same leakage:

[2015-04-27 07:35] nham commented on #6477
Bumping for triage. This is still an issue as of:

    rustc 1.1.0-nightly (21f278a68 2015-04-23) (built 2015-04-24)

The error with glob imports is:

    test_6477.rs:8:10: 8:13 error: use of undeclared type name `Foo`
    test_6477.rs:8      x : Foo
                            ^~~
    error: aborting due to previous error

Without is:

    test_6477.rs:6:8: 6:16 error: type `Foo` is private

[2015-04-27 08:02] nham commented on #18651
Visiting for triage. Attempting to compile

    struct MyStruct;

    fn main() {
        let v1: Vec<MyStruct> = Vec::new();
        let v2: Vec<MyStruct> = v1.clone();
    }

now results in:

    $ rustc --version
    rustc 1.1.0-nightly (da623844a 2015-04-25) (built 2015-04-26)
    $ rustc test_18651.rs
    test_18651.rs:5:32: 5:39 error: type `collections::vec::Vec<MyStruct>` does not implemen

[2015-04-27 08:33] P1start commented on #18651
Huh, weird. I would argue that this bug displayed the intended behaviour, and that the new behaviour is wrong. Oddly, this bug sort of works if `v1` is referenced manually, but only when the type of `v2` is explicitly declared:

[code]

[2015-04-27 08:46] P1start commented on #18651
To be precise, it seems that auto-deref is no longer taken into account when looking for trait implementations:

[code]

Does anyone know if this is intentional, or if an issue should be opened for it? In any case, I believe this issue should be closed—the only reason my last example worked was because `(&v1).clone()` was of type `&Vec<MyStruct>` (because of the impl of `Clone` for `&T`), which th

[2015-04-27 09:38] jooert commented on #22673
Tests added in #24829.

[2015-04-27 09:39] jooert commented on #23253
Tests added in #24828.

[2015-04-27 09:54] abhi-bit commented on #24856
valgrind dump with extra flags: https://gist.github.com/abhi-bit/94e1f4dd11a227aae24f

@sfackler maybe right, I suspect.

[2015-04-27 10:04] killercup opened #24861 "Rustdoc should specify maximum image size"
I just saw http://huonw.github.io/cogset/cogset/, a rustdoc page with an image. On small screens, the image doesn't resize and is just cut off.

I know images are probably quite rare in documentation, but adding `img {max-width: 100%}` to the rustdoc main css file is a trivial thing.

[2015-04-27 10:46] dhardy commented on #16676
Checked 3.5.2.2*; one pull request: https://github.com/rust-lang/rust/pull/24863

[2015-04-27 10:52] apasel422 commented on #24857
Item 2 from RFC 213 hasn't been implemented yet, so default type parameters aren't used as fallbacks for inference. The same issue occurs with structs:
[code]
[code]

CC #21939.

[2015-04-27 10:55] bluss commented on #23501
This is important for iterators -- with this we can clone most iterator pipelines. In fact, most don't even need captures at all and would be the cheapest to clone.

[2015-04-27 11:48] jooert commented on #19986
@Gankro `append` and `split_off` for `VecMap` were implemented in #22494, could you update the todo list?

Oh, and the names of some collections have changed (https://github.com/rust-lang/rfcs/blob/master/text/0580-rename-collections.md#detailed-design), for example `Bitv` is now `BitVec`

[2015-04-27 12:15] huonw commented on #17170
Tagged as needstest, thanks @simnalamburt!

[2015-04-27 12:22] Marwes commented on #20492
Any work on fixing this? It seems like the impl for Any only misses the ?Sized bound but adding ?Sized to `impl<T> Any for T where T: Reflect + 'static` causes the compiler to ICE (coherence error) in `impl Any  { ... }`.

[2015-04-27 13:20] nikomatsakis commented on #18651
@P1start I think what you wanted was to implement the trait on `[T]`, not `&'a [T]`, or else use `fn(self)`, not `fn(&self)`. At some point we did have a "double auto-ref" operation to handle this case, but it was removed at some point (it was a holdover from the days before DST, when there was no alternative).

[2015-04-27 13:21] nikomatsakis commented on #18651
@P1start to spell that out a bit more, `Vec<T>` derefs to `[T]`, which can then be auto-ref'd to `&[T]`, but what your trait requires is `&&[T]`

[2015-04-27 14:45] #24613 closed

[2015-04-27 14:51] polyfractal commented on #24100
Adding another report, with a similar setup.  Encountered this in my code, boiled it down to this test...looks very similar to @robn's ICE, since it is trying to cast "same" -> "same".

Seems to only happen when trying to cast a struct to itself with `as`.  If you use primitive types, there is no ICE.  I tried deriving `Copy`/`Clone` to see if that was the problem, but it still threw an ICE.

[cod

[2015-04-27 15:57] aturon commented on #24791
We've talked about `#[cfg(nightly)]` in the past, but it didn't occur to me that it would also help with situations like this one. We should look into it.

In the meantime, I think we just need to decide whether we're willing to stabilize this functionality. I think it's unstable mostly because it was a relatively recent addition.

[2015-04-27 16:40] alexcrichton commented on #24821
I thought I commented to this effect elsewhere, but I haven't found an example of any language that ignores all errors by default from printing. Everything is "ignored" in C because no one checks the return value of `printf`, which would be akin to Rust returning a `Result` from `print!`

[2015-04-27 16:45] #24441 closed

[2015-04-27 16:57] alexcrichton commented on #24856
@abhi-bit yeah it looks like @sfackler is right, so closing this. Thanks for the report though!

[2015-04-27 16:57] #24856 closed

[2015-04-27 18:46] #17841 closed

[2015-04-27 19:15] aturon commented on #24214
Note that in the long run, we'll need full "specialization" in order to optimize chained cases -- so this issue is primarily about the lowest-hanging fruit that we can tackle with today's trait system.

[2015-04-27 19:47] alexchandel commented on #24292
It's funny but I always expected this to be the case. Creating a strong ref-cycle shouldn't call the destructor, even if the cycle goes out of scope. But should **not** be safe to do this.

It should not be safe to create or leak ref-cycles. It probably shouldn't even be safe to have a RefCell to an Rc.

[2015-04-27 20:51] XMPPwocky opened #24872 "XSS vulnerability in src/doc/not_found.md"
Example: (copy into browser; Github URL-encodes URLs, which breaks this)
````http://doc.rust-lang.org/std/trait.Any.html#method.hullo"><img src="nope" onerror="alert('hi');">````

Method name should be sanitized properly.

[2015-04-27 22:17] tzeskimo commented on #24707
Sorry, just got back from out of town.  @laumann Given the comment from @nagisa do you have enough to reproduce, or would you still like more context?

[2015-04-27 22:27] geofft commented on #24585
I feel like this should be stronger than a medium-priority lint. I feel like rustc should reject programs that attempt to `impl Drop` on a `#[repr(C)]` struct, for as long as that changes the size of that struct.

In particular, not fixing this by 1.0 would foreclose the ability to change the drop flag after 1.0, since that would change the size / ABI of `#[repr(C)]` structs, right? Or is ABI stab

[2015-04-27 22:30] aturon opened #24874 "Tracking issue for Duration Reform (RFC 1040)"
https://github.com/rust-lang/rfcs/pull/1040

[2015-04-27 22:46] #23611 closed

[2015-04-27 23:07] mind opened #24875 "slice pattern bug"
The following program prints 102. Commenting out the match arm for either 100 or 102 causes the correct value (101) to be printed. I believe the first and third cases are being merged as they have the same form (but different guards), ruining the priority.

    #![feature(slice_patterns)]

    fn main() {
        let v = vec![1, 2];
        println!("{}", test(&v));
    }

    fn test(a: &[u64]) -

[2015-04-27 23:21] iopq commented on #24418
I have gcc installed on my system that's 32 bits for something else

you can't assume I don't have it installed for your program to work

[2015-04-28 00:31] huonw opened #24876 "--emit=asm,link -C opt-level=1 causes "Instruction does not dominate all uses!""
[code]

Compiling with `rustc --emit=asm,link -C opt-level=1` (with `1.1.0-nightly (da623844a 2015-04-25) (built 2015-04-26)` gives:

[code]

[2015-04-28 00:39] retep998 opened #24877 "ICE source trait is private"
With this code: https://github.com/retep998/term/commit/2b94c822fc0590a5f9bdc99fad541d0c3518f2a3
I get an ICE

[code]

Backtrace by @kballard using rustc 1.1.0-nightly (5fb0259ed 2015-04-26) (built 2015-04-26)

[code]

[2015-04-28 00:43] kballard commented on #24877
If I alter the example as

[code]

it avoids the ICE and correctly reports the span of the error:

$ cargo run --example something
   Compiling term v0.2.7 (file:///Users/kevin/Dev/rust/Scratch/term)
examples/something.rs:19:13: 19:47 error: source trait is private
examples/something.rs:19     let _ = writeln!(&mut out, "Hello World!");
                                     ^~~~~~~~~~~~~~~~~~~~~~~~

[2015-04-28 00:57] kballard commented on #24877
Besides the ICE, this error is confusing. I assume the problem is that `std::io::Write` is not in the prelude and the example did not say `use std::io::prelude::*`. But the error shouldn't be saying "source trait is private", it should be saying something along the lines of `error: type Foo does not respond to any method write_fmt`. Although even there I think that's incorrect, because the type he

[2015-04-28 00:59] gsingh93 opened #24878 "Always scroll to the top after searching for something in rustdoc"
If you are looking at the documentation for a function and have a URL that looks something like:  http://doc.rust-lang.org/collections/struct.BitVec.html#method.get, with the `#method.<name>` at the end, if you type something in the search box and hit enter quickly, the search results page will scroll down to somewhere in the middle. If you wait instead of hitting enter quickly, then everything is

[2015-04-28 02:30] talchas opened #24880 "arc::get_mut/Arc::make_unique are racy"
Both of these essentially check that ```inner().strong == 1 && inner().weak == 1``` to check that ```&mut self``` is the only reference to the Arc's data. However in between the checks a Weak pointer could be promoted and the Weak pointer dropped, resulting in both checks succeeding. Adding an additional strong check afterwards won't help as the second strong pointer could then be demoted again.

[2015-04-28 03:02] kballard commented on #24880
I think you're right.

I'm tempted to say this could be fixed by switching from a strong/weak pair to a num_ptrs/num_weak pair, where every pointer (whether strong or weak) is counted in num_ptrs and then weak pointers are also counted in num_weak. This does lower the number of total pointers (strong + weak) that we can have outstanding, but it's not as restrictive as actually dividing a `usize` i

[2015-04-28 03:19] sfackler commented on #24880
Using num_ptrs + num_weak shouldn't actually lower the total number of pointers since each `Arc` or `Weak` is larger than 1 byte so you'd exhaust the address space before overflowing num_ptrs.

[2015-04-28 03:27] kballard commented on #24880
Upon reflection I suspect that num_ptrs + num_weak fails for the same reason that get_mut fails, because the destructor of `Arc` needs to know how many strong references there are, and the only way to get num_strong is with two loads.

[2015-04-28 03:28] kballard commented on #24880
Although it's possible that using num_ptrs + num_strong instead might possibly work.

[2015-04-28 03:33] 0X1A opened #24882 "std::path::Path::starts_with documentation unclear"
The [current documentation](https://doc.rust-lang.org/std/path/struct.Path.html#method.starts_with) for `std::path::Path::starts_with` does not specify that it uses components as `base`. For example as described in the current documentation I expected to be able to use characters as `base` to find hidden files/directories as such:

[code]

As described in the documentation I expected `is_dot(&Path

[2015-04-28 03:34] talchas commented on #24880
If that works (which sounds plausible) it has the disadvantage of requiring two atomics on clone() (though they're probably the same cacheline, so it's not as horrible as it might be).

[2015-04-28 03:37] arbitrary-cat opened #24883 ""unresolved import" for no apparent reason."
The following code generates compiler errors which don't make sense.

[code]

Expected result: A working rust binary which does nothing.

Actual result: The following error messages:

[code]

## Meta

[code]

[2015-04-28 03:57] sfackler opened #24885 "Uninhabited-ness isn't propagated through references"
This compiles:
[code]
But this doesn't:
[code]
[code]
but an instance of `&Void` can't exist any more than `Void` can.

[2015-04-28 04:44] #24313 closed

[2015-04-28 05:09] retep998 commented on #24883
Possible dupe of #4865 or #18083

[2015-04-28 05:43] pnkfelix commented on #24585
Yeah this label got auto renamed.   I'm up'ing the priority

[2015-04-28 05:44] pnkfelix commented on #24585
triage: P-high

I'll assign to self too

[2015-04-28 05:48] pnkfelix commented on #24585
( @geofft I'm pretty confident we could fix this post 1.0, e.g. adding new warnings is allowed, and the representation issue would be "just a bug to be fixed."  Nonetheless I I do I do want I do want to fix.)

[2015-04-28 06:05] kballard commented on #24880
I still haven't thought it entirely all the way through, but I think that num_ptrs + num_strong will work (as long as num_strong is always modified before num_ptrs). As you say, this will require two atomics on clone().

The other alternative that I think would work is using the low bit of the `strong` counter as a "has weak" flag that, when set, is never un-set. Once it's set, a spinlock is then

[2015-04-28 07:09] mindon opened #24887 "make failed with wrong Makefile path of llvm under OS X"
key logs
# environment

rvm_path = /usr/local/rvm
# makefile (from 'Makefile.config', line 111)

LLVM_ON_UNIX := 1
# makefile (from 'Makefile.config', line 59)

PROJ_SRC_DIR := /home/lab/rust/src/llvm/home/lab/rust/x86_64-apple-darwin/llvm

it's said caused by "built-in implementation of realpath in Make" http://stackoverflow.com/questions/4763381/no-rule-to-make-target-makefile-needed-by-makefile

[2015-04-28 07:22] richo commented on #24887
Can you upload the full output of `./configure` and `make` ?

[2015-04-28 07:29] mindon commented on #24887
configure log
-----------------------------------
configure: looking for configure programs
configure: found program cmp
configure: found program mkdir
configure: found program printf
configure: found program cut
configure: found program head
configure: found program grep
configure: found program xargs
configure: found program cp
configure: found program find
configure: found program uname
configu

[2015-04-28 07:30] mindon commented on #24887
make log
------------------------
cfg: version 1.1.0-dev (2b8c9b12f 2015-04-28) (built 2015-04-28)
cfg: build triple x86_64-apple-darwin
cfg: host triples x86_64-apple-darwin
cfg: target triples x86_64-apple-darwin
cfg: host for x86_64-apple-darwin is x86_64
cfg: os for x86_64-apple-darwin is apple-darwin
cfg: good valgrind for x86_64-apple-darwin is
cfg: using CC=clang (CFG_CC)
cfg: using CXX=cla

[2015-04-28 07:32] mindon commented on #24887
make error
------------------
make[2]: *** No rule to make target '/home/lab/rust/src/llvm/home/lab/rust/x86_64-apple-darwin/llvm/Makefile', needed by 'Makefile'.  Stop.

[2015-04-28 08:27] robinst commented on #23542
(Blocked by #23416 then, I guess.)

[2015-04-28 08:37] laumann commented on #24707
@tzeskimo Yes, I think @nagisa's example is a good minimal example - the important thing is the `-g` flag (as @jdm also pointed out)

[2015-04-28 08:37] bguiz opened #24889 "Error message for missing return value with Result type is unclear"
The error message that I get looks like this:

[code]

The highlight is on the leading `Ok`, which is misleading. The actual fix was to either precede the statement with `return`, or to drop the trailing `;`. It would be great if the compiler were to suggest this as well, as the current error message alone is cryptic.

[2015-04-28 08:42] bguiz commented on #24889
CC @huonw

[2015-04-28 08:47] pnkfelix commented on #18845
Indeed, it doesn't even need `box_syntax`:

[code]

Does this at least continue to ICE even if LLVM is compiled without assertions?  If not, we may want to up the priority on this ticket.

[2015-04-28 08:52] huonw commented on #24889
Code example:

[code]

[2015-04-28 09:27] bguiz commented on #24889
Perhaps this should trigger `[E0269]` instead

[2015-04-28 09:28] michaelsproul commented on #24889
An ideal error message would be like the one generated here:

[code]

[code]

[2015-04-28 09:34] robinst commented on #24407
I'm looking at E0013.

[2015-04-28 09:38] michaelsproul commented on #24407
@robinst :smile:

[2015-04-28 09:40] GuillaumeGomez commented on #24407
@michaelsproul: could you take a look at #24728 please ? I'm kinda stuck to see what to add and/or improve (and @pnkfelix doesn't know what would be missing).

[2015-04-28 10:11] bluss commented on #24880
Split the Arc struct in two: Give Arc another marker type parameter that decides statically if the type should support weak pointers or not. Use default type parameters to make  `Arc<T>` equivalent `Arc<T, NoWeak>`

Only the NoWeak Arc will permit `get_mut` and `make_unique`. Since the Arc source references boost a lot, I tried to find any indication of how this is solved in the boost sphere, and

[2015-04-28 10:46] pnkfelix opened #24895 "Copy: Clone has made dropck implementation unsound!"
Sample code ([playpen](http://is.gd/Ov9K3m)):

[code]

The Drop Check rule, as specified in [RFC 769](https://github.com/rust-lang/rfcs/blob/master/text/0769-sound-generic-drop.md), requires that no methods be attached to the trait in question.  The trait `Copy` used to qualify under that criteria, but with the addition of the `Copy: Clone` bound, it no longer does.

The original `dropck` implemen

[2015-04-28 10:49] pnkfelix commented on #24895
To my mind, we should obviously fix the `dropck` implementation to check for methods properly.  (I have a patch that does this; that's how I actually found this problem -- because the regression test I added was also checking that it still accepts `Copy`, but of course it *shouldn't*, by the reasoning above.)

The remaining question is: Do we continue to have `Copy: Clone`?  Or does we remove that

[2015-04-28 10:49] pnkfelix commented on #24895
cc @nikomatsakis

[2015-04-28 10:52] jruderman opened #24896 "Docs for core::ptr::Unique have messed-up "Safety" sections"
https://doc.rust-lang.org/core/ptr/struct.Unique.html

There are "Safety" sections for a few methods.
- They are H1, too big and not following document structure. They should be H5, or not be sections at all.
- They have the same ID. They should have unique IDs, or no IDs at all.

I think it would be best to make them anonymous inline-headers:

[2015-04-28 11:00] jruderman opened #24897 "Docs for core::ptr::Unique list several methods twice"
https://doc.rust-lang.org/core/ptr/struct.Unique.html

`is_null`, `offset`, and `as_ref` are listed twice. This is confusing and makes the HTML invalid. I'm not sure what's going on here.

[2015-04-28 11:24] pnkfelix commented on #24895
triage: P-high

[2015-04-28 12:20] jorisgio opened #24899 "Add opensearch support to doc.rust-lang.org"
[Opensearch](http://www.opensearch.org/Home) is a common API to allow querying search engine. It is for instanced used to add search engines to the firefox search bar and to chrome.

It would be nice if doc.rust-lang.org supported opensearch to enable support of doc query directly from firefox.

cc @steveklabnik

[2015-04-28 12:23] jakub- commented on #24899
Unfortunately, search for doc.rust-lang.org is performed client-side using a precompiled index so this would require a dedicated Web service, which is a non-trivial complication infrastructure wise.

[2015-04-28 12:25] jorisgio commented on #24899
I see. It probably doesn't worth the trouble then.

[2015-04-28 12:35] huonw opened #24900 "Lints could have error codes"
Lint messages don't always explain the error in much detail, and so would often benefit from a detailed `--explain` explanation just like normal errors, e.g. this will hit a dead_code warning, but that doesn't really help diagnose the problem (that `mod foo;` is private), a detailed explanation could include discussion of the privacy/modules aspect of the lint.

[code]

[code]

[code]

It might al

[2015-04-28 12:37] jakub- commented on #24899
Well, this could just as well be a simple Heroku app that implements http://www.opensearch.org/Specifications/OpenSearch/Extensions/Suggestions/1.1 using http://doc.rust-lang.org/search-index.js from the rust nightly. It's doable.

[2015-04-28 12:41] michaelsproul commented on #24900
I like it. We could even namespace lints differently, like L0001.

[2015-04-28 12:45] huonw commented on #24900
Interesting.

Namespacing has the downside of exposing implementation details that may not hold true in future, e.g. if a lint moves around/uses some different infrastructure it may no longer make sense to be classed as L..., but changing numbers isn't really possible. However, it seems likely to me that there is a hard distinction between lints and compiler errors that will always be true: the fo

[2015-04-28 14:03] penguin42 opened #24901 "book sidebar jumps to top when following forward/back links"
When reading the book, if you have scrolled down on the left hand sidebar so you can see the current section and what comes soon, when you click on the link at the bottom of the current section to move to the next section, the sidebar then flips back to the top.  This is gently annoying.

[2015-04-28 14:14] steveklabnik commented on #24901
Hmmm, I thought this was a dup, but maybe not.

[2015-04-28 14:18] steveklabnik commented on #24899
Heroku's free tier is going to basically be inappropriate with their next pricing adjustment.

@jorisgio , I agree this would be cool, but I doubt that we're going to tackle this any time soon.

[2015-04-28 14:54] untitaker commented on #24446
I also can't reproduce this with ``rustc 1.1.0-nightly (f9e53c7f2 2015-04-24) (built 2015-04-25)``.

[2015-04-28 14:58] untitaker commented on #21751
This SIGILLs for me at `rustc 1.1.0-nightly (f9e53c7f2 2015-04-24) (built 2015-04-25)`.

[2015-04-28 15:02] untitaker commented on #20626
This prints `4` on all opt levels for me at `rustc 1.1.0-nightly (f9e53c7f2 2015-04-24) (built 2015-04-25)`.

[2015-04-28 15:08] pnkfelix commented on #21751
indeed, removing the E-needstest label.

[2015-04-28 15:12] pnkfelix commented on #21751
Interestingly, adding explicit labels to both of the loops and then making the `break` go directly to either label exhibits entirely different behaviors -- in particular, breaking out of the `for` seems to work fine, and attempting to break out of the `while` from its own condition is statically rejected.

I wonder if this means that this is some sort of `trans` issue where it is simply guessing i

[2015-04-28 15:20] untitaker commented on #21751
Removing the wrapping braces around `break` gives the correct behavior.

[2015-04-28 15:28] pnkfelix commented on #14232
In the notes from triage, I noted that this should happen for 1.0:

Has this documentation actually happened?  Should we open a separate issue?

[2015-04-28 16:28] sqweek opened #24907 "rustc should suggest implementing current traits rather than deprecated ones"
I had fun on my bus ride this morning debugging some code; I tried to pass one of my structs into `format!` and was greeted with:

[code]

Fair enough, I've been putting that off for awhile. I wasn't online to look up the trait documentation so I started a partial-implementation -> compile loop to extract the required signatures from rustc, one tiny step at a time. I had to laugh when I got to the

[2015-04-28 16:34] kballard commented on #24880
@bluss That seems like a very heavy-handed approach. The creator of the `Arc` instance may not know ahead of time whether any code is going to want to create a `Weak` instance. And at such time as that decision is made, all code that touches the `Arc` would have to be updated even though that code doesn't really care whether there's a `Weak` reference.

As for Boost, I glanced at it yesterday and

[2015-04-28 16:42] alexcrichton commented on #24897
The bug here is that `*const T` and `*mut T` are classified as the same kind of pointer, so when the `Deref` implementation is seen it inlines the inherent methods from those two pointer types, and both have an `is_null` method. This would likely be dealt by not having both pointer types be represented as the same type in rustdoc.

[2015-04-28 16:53] alexcrichton commented on #14232
The documentation has not changed yet, but it's not something I'd want to block the release on, so I'm not sure a new bug is worth it (it would still be nice to do though)

[2015-04-28 17:50] steveklabnik commented on #24836
Yes, this is no longer in the standard library, and you'll have to implement it yourself for now.

[2015-04-28 17:50] #24836 closed

[2015-04-28 17:52] steveklabnik commented on #24808
Yes, this is a duplicate. Thanks though!

[2015-04-28 17:52] #24808 closed

[2015-04-28 17:53] steveklabnik commented on #24801
/cc @aturon

[2015-04-28 17:57] steveklabnik commented on #24764
Yup, closing as not exactly actionable. Improvements like Alex is talking about could be nice, but should probably be thier own tickets, rather than some sort of general heading, especially when it's not clear that they'll be a significant improvement.

[2015-04-28 17:57] #24764 closed

[2015-04-28 17:57] steveklabnik commented on #24763
@retep998 did @vadimcn's suggestion solve this issue?

[2015-04-28 18:12] steveklabnik commented on #11818
Triage: nothing has changed. I share skepticism that this is super useful.

[2015-04-28 18:12] steveklabnik commented on #12447
Traige: this lint still does not exist.

[2015-04-28 18:12] steveklabnik commented on #12695
Traige: no change.

[2015-04-28 18:13] lucy commented on #24746
Can reproduce locally on linux (running d8b64c7fb2809eeba8ff9125cc95c4c38efb9a8a).

[2015-04-28 18:13] steveklabnik commented on #13938
Traige: unsure if this has changed, but I doubt it.

[2015-04-28 18:15] steveklabnik commented on #13226
Triage: i don't have android to test.

[2015-04-28 18:18] steveklabnik commented on #10607
Triage: don't think anything has happened with this in a while.

[2015-04-28 18:21] steveklabnik commented on #10304
Triage: still no lint, still same error message.

[2015-04-28 18:21] steveklabnik commented on #13983
Triage: @alexcrichton did a bunch of Rustdoc work, but I don't think that it improved this area at all.

[2015-04-28 18:24] steveklabnik commented on #13951
Triage: `static_assert` is behind a feature gate, and it doesn't look like it's being used anywhere at all in the codebase. We still warn.

[2015-04-28 18:25] steveklabnik commented on #10492
Triage: @cmr what do you think of this today?

[2015-04-28 18:25] steveklabnik commented on #7610
Triage: no changes here.

[2015-04-28 18:30] steveklabnik commented on #14617
Compiling this today, I don't see either of those symbols in `nm -a`. So I suspect I'm missing something.

[2015-04-28 18:32] steveklabnik commented on #8614
Triage: nothing has changed here.

[2015-04-28 18:32] steveklabnik commented on #14791
@alexcrichton whats the status of this today?

[2015-04-28 18:33] steveklabnik commented on #7459
Triage: no changes here.

[2015-04-28 18:35] bluss commented on #24880
It is heavy-handed, but didn't we already want to make Weak pointers optional? (What other reason are they unstable for?)

See boost [Smart Pointers doc, it has weak_ptr](http://www.boost.org/doc/libs/1_58_0/libs/smart_ptr/smart_ptr.htm)

[2015-04-28 18:37] steveklabnik commented on #13138
Triage: so much has changed with this code, I'm not sure how to update it.

[2015-04-28 18:38] steveklabnik commented on #14599
Triage: no change.

I think it's fine to use 'type' in this context, but maybe it could be renamed to something else.

[2015-04-28 18:38] steveklabnik commented on #3482
Triage: no change

[2015-04-28 18:40] steveklabnik commented on #15128
Triage:

[code]

commenting out the `foo!` in `main` does not warn about never using `foo!`.

[2015-04-28 18:40] steveklabnik commented on #15391
Triage: unsure if this is still a problem, exactly. @brson how do you feel about this now?

[2015-04-28 18:41] steveklabnik commented on #5657
previous_comment.clone()

[2015-04-28 18:41] steveklabnik commented on #15509
Traige: no specific improvements I know of.

[2015-04-28 18:48] pnkfelix commented on #15391
I think we still encounter this (though maybe the finer grain scopes added due to dropck have made *slightly* different scopes, and thus shifted the rage slightly).

@brson's suggestion of at least acknowledging when the spans are identical might still be a good idea for the short term.

[2015-04-28 19:05] kballard commented on #24880
@bluss I'm not really sure why they're unstable, the message just says "Weak pointers may not belong in this module".

And you're right, Boost does have `weak_ptr`, the link I followed before (from the comments of `Arc`) didn't show it. Looking through Boost's `weak_ptr` and `shared_ptr` it appears that `shared_ptr::unique()` ignores weak pointers entirely and returns `true` even if there are exis

[2015-04-28 19:13] #24895 closed

[2015-04-28 19:37] steveklabnik commented on #5181
triage: test is still failing

[code]

[2015-04-28 19:49] seanmonstar opened #24909 "Error for using a by-ref closure when by-move was needed could be improved"
[code]

Errors with:

[code]

When the real solution here is to add the `move` keyword to the closure, but the error message leaves everyone quite confused.

[2015-04-28 20:02] kballard commented on #24880
I think what we should do today is remove `Arc::make_unique` and `alloc::arc::get_mut`. They're both marked as `#[unstable]` so this is acceptable. Without those two functions, our existing reference-counting implementation works fine. Then we can explore ways to re-add that functionality in the future. It appears that there are zero clients of `Arc::make_unique` in rust-lang/rust, although checki

[2015-04-28 20:03] thchittenden commented on #14617
I just tested this against the nightly and it seems to be fixed. `sym` was the only undefined symbol in the rlib. Compiling and linking the above program against a library with `sym` defined worked as expected.

[2015-04-28 20:05] kballard commented on #24880
@alexcrichton You added `Arc::make_unique` in the first place, and @aturon you updated it to check weak refs. Any thoughts?

[2015-04-28 20:05] steveklabnik commented on #3170
So, sometime in the last 11 days:

[code]

soooo seems like it's already regressed?

[2015-04-28 20:06] steveklabnik commented on #3478
/cc @nikomatsakis : what do you think of what @cmr is saying?

[2015-04-28 20:08] tamird commented on #3170
Guh, this was my mistake. I made the above report using a toolchain compiled with LLVM assertions disabled (which I didn't know was the default).

[2015-04-28 20:08] steveklabnik commented on #4294
Well, it's been a few months. With our current installers and such, I think we should try to handle specific instances of this issue, but I don't think that there's anything specifically actionable here.

[2015-04-28 20:08] #4294 closed

[2015-04-28 20:11] steveklabnik commented on #3615
https://github.com/rust-lang/rust/commit/6b95d8bed8afff7262ec5623677e320bf63d2230

[2015-04-28 20:11] #3615 closed

[2015-04-28 20:39] kvark commented on #24880
@kballard I added `arc::get_mut()` in order to use it for parallel ECS [proof of concept](http://www.reddit.com/r/rust_gamedev/comments/31xh9o/proof_of_concept_parallel_ecs_processing_based_on/). I don't know if any real projects use it at the moment, so it should be safe to kill, but I'm going to miss it anyways.

[2015-04-28 20:51] steveklabnik commented on #2234
https://github.com/rust-lang/rust/pull/21452 added `make check-grammar`.

[2015-04-28 20:51] #2234 closed

[2015-04-28 21:16] kballard commented on #24880
@kvark I would really like to have `Arc::get_mut()`, I think it's potentially useful, but as long as there's no clients in rust-lang/rust that depend on it right now, I think we should just kill it for 1.0 and investigate ways to *safely* re-add it in the future.

[2015-04-28 21:30] bluss commented on #24880
Since weak_count and strong_count are public, `get_mut` can be implemented as it is today, outside of the crate too. At least I think you can, you would be effectively converting `&T` to `&mut T`, but isn't that legal if you go through raw pointers?.

[2015-04-28 21:42] GBGamer opened #24912 "librustc/README.md is completely out of date"
Someone who understands how it all works should probably update that.

[2015-04-28 21:45] steveklabnik commented on #24912
In general, all of these internal docs are. I'm not sure to what degree we expect them to always be great / current.

[2015-04-28 21:51] kballard commented on #24880
@bluss True, you could reimplement the current logic of `get_mut`, but since that logic is *broken* I don't think it's something we should be telling people to do.

Well no, that doesn't make it legal. If you construct a `&mut T`, you need to guarantee it's not aliased by anything else. This means you need to guarantee that there are no `&T` references to the same value (and that you can't constru

[2015-04-28 22:03] huonw commented on #24880
cc https://github.com/rust-lang/rust/issues/24564

[2015-04-28 22:32] steveklabnik commented on #5172
There's been a lot of ongoing work to move away from `usize` to specific sizes where it makes sense, so I don't think this ticket is particularly useful anymore.

[2015-04-28 22:32] #5172 closed

[2015-04-28 22:41] sharnik opened #24913 "Compiler panic"
I get an unexpected compiler panic error when I try to compile this code: https://gist.github.com/sharnik/3d1973950e6fb21640a3
(It's already been stripped of what I could remove with the error still happening)

I try to compile it with the following rust version: rustc 1.0.0-beta (9854143cb 2015-04-02) (built 2015-04-02). The backtrace is included in the code gist.

Let me know if I can add anythi

[2015-04-28 22:45] steveklabnik commented on #24913
can confirm on `rustc 1.1.0-nightly (5fb0259ed 2015-04-26) (built 2015-04-27)` on Linux as well.

[2015-04-28 22:56] ptal opened #24914 "Unexpected interpolate tokens in `quote_item!` macro"
Recent changes (I guess #23085) make interpolated items unexpected when quoting items. The error is:`expected one of `const`, `extern`, `fn`, `pub`, `type`, `unsafe`, or `}`, found `an interpolated item``.  The full failing code is available https://github.com/ptal/Rust.peg/commit/20ddd3d76e09d390150e9f5401d92fc2bd95ab71 and a snippet is below:

[code]

On `rustc 1.1.0-dev (441b3f0c2 2015-04-28) (

[2015-04-28 22:58] tamird opened #24915 "associated constants can't be `use`d"
https://is.gd/vYwA6X

main.rs:

[code]

rustc:

[code]

I'm not sure if this is specifically not intended, but it seems to me that it would be convenient to mirror the behaviour of enums in this way. cc @quantheory

[2015-04-28 22:59] steveklabnik commented on #6508
Revisiting a few months later, we have a good story with how we ensure lack of breakage here, through stability attributes. So giving this a close.

[2015-04-28 22:59] #6508 closed

[2015-04-28 23:02] steveklabnik commented on #15842
Triage: don't think anything has changed here.

[2015-04-28 23:08] alexchandel commented on #24397
Rust should install to `C:\tools\`, just like Ant, Python, and many others. `C:\tools\` is the place for developer tools that have a known folder. `C:\Program Files\` is badly named (compare to `C:\ProgramData\`), poorly suited for command line tools, and clutters the already hideous PATH more than `C:\tools\`.

[2015-04-28 23:10] steveklabnik commented on #24397
/cc @brson

[2015-04-28 23:18] mdinger opened #24916 "split_whitespace example is failing on playpen"
The [str::split_whitespace()`](http://doc.rust-lang.org/nightly/std/primitive.str.html#method.split_whitespace) example isn't working. It's example fails on playpen and I think it used to work previously. It's not [marked](https://github.com/rust-lang/rust/blob/master/src/libcollections/str.rs#L1774) as *no test* so I'm not sure how this got past the testsuite.

[2015-04-28 23:18] mdinger commented on #24916
cc https://github.com/rust-lang/rust-by-example/issues/560

[2015-04-28 23:41] alexcrichton commented on #24916
This is because `split_whitespace` was added in nightly but the playpen uses beta by default, so it looks like this is working as intended.

[2015-04-28 23:41] #24916 closed

[2015-04-28 23:42] mdinger opened #24918 "std libs collapse doesn't work anymore"
The collapse button at the top right on the std lib [docs](http://doc.rust-lang.org/nightly/std/) doesn't work anymore. It should.

[2015-04-28 23:42] mdinger commented on #24918
[beta](doc.rust-lang.org/std/) doesn't work either.

[2015-04-28 23:44] alexcrichton commented on #14791
No proress

[2015-04-28 23:49] Diggsey commented on #24397
Neither Ant nor Python install to C:\tools\ by default, and searching I can't find any reference to C:\tools\ even being a thing? Both Python and Ant install to C:\Python<Version> and C:\ant, which is incredibly annoying, so please don't do that!

[2015-04-28 23:49] mdinger commented on #24916
@alexcrichton It definitely works now but didn't work when I filed it on nightly. This [rbe example](http://rustbyexample.com/str.html) was failing at the time too and rbe uses nightly specifically.

Weird.

[2015-04-29 00:11] quantheory commented on #24915
This isn't intended to work; associated types and methods can't be used in this way either, so this behavior is consistent with those cases, although I can see how `use` of associated constants would be convenient. I think that this has been proposed before, but AFAIK there hasn't been an RFC to allow `use` of associated items yet.

A workaround would be to just declare a copy/alias of the constan

[2015-04-29 00:20] Diggsey commented on #24918
The problem is in "main.js" in the "toggle-all-docs" event handler, which is attempting to use the HTML entities for '+'/'−' in a javascript string. This was likely broken when '[-]' was changed to '[−]'. It should use a unicode escape sequence.

[2015-04-29 00:21] quantheory opened #24919 "Type check rejects valid code that uses an alias of an associated type"
This example does not compile, but the code compiles and runs if the non-associated `Bar` is changed to a typedef for `i8` directly, or if it is simply not used and `x` is defined using `<Foo as FooTrait>::Bar`.

[code]
Error message:
[code]

[2015-04-29 00:22] bluss commented on #24880
unsafe functions require the caller to check any required conditions themselves. This is just one of those cases.

[2015-04-29 00:52] quantheory opened #24922 "ICE on ambiguous associated const reference"
I plan to fix this one very soon because it is easy, but I thought that it deserved a bug report in any case. Note the comment by @nikomatsakis [here](https://github.com/rust-lang/rust/pull/23606#issuecomment-88416969) with a test case.

[2015-04-29 00:55] alexcrichton commented on #10381
(a few still ignored)

[2015-04-29 01:00] gsingh93 opened #24923 "Benchmark example is broken in the book"
The benchmark example here does not compile: https://doc.rust-lang.org/book/benchmark-tests.html

Error message when running `rustc foo.rs --test`:
[code]

[2015-04-29 01:54] cmr commented on #10492
@steveklabnik I think this is still desirable, even more so for tools like Cargo to "understand" what rustc is outputting.

[2015-04-29 02:16] #24851 closed

[2015-04-29 02:43] frewsxcv opened #24925 "std::net::UdpSocket documentation about returned data is misleading"
https://github.com/rust-lang/rust/blob/c4b23aec4c5ddf32df1e0ba3cc23212327cd8b1f/src/libstd/net/udp.rs#L67-L68

Considering the return type is `Result<usize, Error>`, it doesn't seem like 'nothing' is an option

[2015-04-29 02:50] alexchandel commented on #24397
@Diggsey I might be mistaken, but installing both through [chocolatey](https://chocolatey.org/) stuck them in `C:/tools/` for me. I'd recommend anyone with a machine running Vista or later use chocolatey. And there's a trend in chocolatey to have packages extract to `C:/tools/` when they aren't self-contained enough for `C:/ProgramData/chocolatey/lib/`.

[2015-04-29 02:59] alexchandel commented on #24397
For an OS without much filesystem hierarchy, `C:\tools\` is a decent place for developer and command-line packages, similar to `/opt` on some unices. But I'd much rather see a [chocolatey package for Rust](https://chocolatey.org/packages/rust/1.0.0-alpha2) that actually obeyed chocolatey's conventions and extracted an archive to `C:\ProgramData\chocolatey\lib\rust\`, with no installer/registry inv

[2015-04-29 03:15] sunng87 commented on #24914
I confirm the same issue with my little Derive macro [tojson_macros](https://github.com/sunng87/tojson_macros)

[2015-04-29 03:43] Hoverbear opened #24928 "[Not serious] Language not unstable enough"
I mentioned on IRC to @bstrie that I  built a fresh [Raft](https://github.com/hoverbear/raft) which hadn't been bumped in 22 days and it still compiled.

This is obviously a bug. I'd like to propose we reopen #666 for good measure.

[2015-04-29 03:48] LaylConway commented on #24928
+1 this, I was appalled when after a weekend away from a project, it still compiled AND worked as intended.

[2015-04-29 03:49] bstrie commented on #24928
There's been some concern in the community that a Rust without overwhelming, unceasing breakage is a betrayal of Rust's *joie de vivre*. It would be great if the developers could commit to some sort of "Instability Guarantee" to restore our faith in their leadership.

[2015-04-29 03:51] bstrie commented on #24928
As we speak I'm working on a patch that changes the `fn` keyword to `func` in order to deliberately break every Rust program that has ever been written. Accepting this change in a timely and efficient manner would be just the show of good faith that the community needs right now.

[2015-04-29 03:52] Hoverbear commented on #24928
@bstrie I propose something more complicated than something that could be fixed with a simple regex. We should implement hoisting one master, then decide it was a bad idea a few weeks later, just to keep things fresh.

[2015-04-29 03:53] bstrie commented on #24928
While we're at it, is it too late to change the name of the language? What is "Rust" supposed to stand for, anyway?

[2015-04-29 03:57] LaylConway commented on #24928
@Hoverbear What if to allow a function to borrow a value, it must call "promise_to_give_it_back" before doing anything else?

[2015-04-29 03:58] Hoverbear commented on #24928
@bstrie Because it's where the metal interfaces with us air breathers.

[2015-04-29 03:58] LaylConway commented on #24928
As well, is it too late to propose Rust support for the compile-time politeness enforcement feature that INTERCAL programmers enjoy?

[2015-04-29 04:55] vadimcn commented on #24397
The idea was to deprecate the .exe installer once .msi is known to be working satisfactory.

[2015-04-29 04:56] HeroesGrave commented on #24928
I propose we rename `isize`/`usize` again.

[2015-04-29 06:31] pnkfelix commented on #24687
my current hypothesis is that this [addition in creader.rs](https://github.com/rust-lang/rust/blob/master/src/librustc/metadata/creader.rs#L667) is the problem; it is at the very least very suspicious considering that five lines up in the previous statement we are normalizing the position to zero by *subtracting* the `start_pos`, not adding it.

[2015-04-29 06:35] Ericson2314 commented on #24292
What are the situations where non-`'static` `Rc` is useful?

Here is some rough speculation: Say that the interface was tweaked so that to create a non-`'static` `Rc`, one must specify a "extra-strong reference". The idea is that when the extra-strong reference is dropped, the whole graph of `Rc`s associated with it is destroyed regardless of reference count. I hope using a sort of "strictly outli

[2015-04-29 07:14] pnkfelix commented on #24687
(other good news: I have figured out how to make a regression test for this that will integrate into the rust test suite.)

[2015-04-29 07:42] liigo commented on #24593
It was fixed by PR https://github.com/rust-lang/rust/pull/24717 (commit: https://github.com/liigo/rust/commit/76a590d0ef15506ed805a943b3a19ce65651903f)

[2015-04-29 08:38] jooert commented on #24923
Oh, i forgot to change this part of the docs in #24783, where it was decided to have unit tests in a submodule `tests` rather than `test` because of exactly the same problem you're describing here. PR is #24931.

[2015-04-29 08:58] LaylConway commented on #24928
Additionally, I suggest that any code within an unsafe block should not be written in Rust. Unsafe blocks should instead be written in Malbolge to disincentivice using unsafe blocks.

[2015-04-29 09:07] soltanmm commented on #24928
Whatever the changes are, please ensure that they come with formal proofs of more headaches from the borrow checker.

[2015-04-29 10:04] nrc commented on #20591
@tbelaire argh, sorry I missed your questions here, I've been remiss in checking my email the last few days. I'll have a look at your PR tomorrow.

[2015-04-29 10:46] ptal commented on #24919
This is certainly identical to https://github.com/rust-lang/rust/issues/21814

[2015-04-29 10:55] pnkfelix opened #24937 "rustc fails if passed `-g -g`; `make check` breaks under --enable-debug."
rustc fails if passed `-g -g`:

[code]

make check breaks:

[code]

[2015-04-29 10:59] killercup commented on #24928
Well, now that the breaking language changes are coming to an end, I suggest we instead focus on introducing breaking changes to the most popular crates with patch-level version bumps!

[2015-04-29 11:08] petrochenkov opened #24938 "ICE with associated constants"
While trying to migrate `i32::BYTES` and friends to associated constants I have encountered this ICE. It's caused by some code in libstd, but the precise location is not clear.
The branch reproducing the ICE can be found here: https://github.com/petrochenkov/rust/tree/primod

cc @quantheory

[code]

[2015-04-29 11:11] pnkfelix commented on #24937
(This looks easy to fix.  It probably was a consequence of adding `-g` to `--enable-debug`, though if that's true, it seems sad that the original author of that patch must not have run `make check` under `--enable-debug` after doing this?)

[2015-04-29 11:48] caspark commented on #24900
I want to emphasize that the most useful portion of such lints would be an explanation of how to turn them off or suppress them, both globally or in the specific case.

As such, perhaps it would make sense to have a generic reusable explanation of `#[blah]` vs `#![blah]` (perhaps as `L0000`).

For the extended message for the dead_code case specifically, it might also make sense to have a pointer

[2015-04-29 12:02] bluss commented on #24880
It's a systems language, we don't tell them what to do. We tell them what's possible and where the boundaries lie. We give them unsafe blocks for when they feel they can take over the reins themselves.

Obviously. I didn't say it was a sufficient criterium. Anyway, let's not do this kind of thing where we out-nitpick each other.. All I suggested was if wouldn't it be possible to implement outside

[2015-04-29 12:16] oli-obk opened #24939 "FromStr is not implemented for char"
I'm not sure if this is an oversight. But the implementation should be trivial. I'll add tests and implement it, if it is fine.

[code]

[2015-04-29 12:33] #24687 closed

[2015-04-29 12:42] tailhook commented on #24928
I think we should introduce another "unsafe"-like construct. I.e. every non-pure function should be marked with "side_effects" marker.

[2015-04-29 12:50] GuillaumeGomez commented on #24928
Closures haven't changed in a while, we need to fix that !

[2015-04-29 12:55] alfiedotwtf commented on #24928
@bstrie with the 1.0 release coming in only a few weeks, please refrain from introducing new keywords. If you don't like "fn" for functions, how about swapping "fn" with "if" (i.e Is a Function). "fn" could then be the mnemonic for "ForseNda", which means "condition" in Icelandic.

[2015-04-29 13:00] ekiwi commented on #23717
@rudib I'm currently trying to accomplish the same thing: compile rust code into a static lib and then link it to C code for a cortex-m4 target.

I was successful in compiling my rust code to an _object file_ and then using `gcc` to link it with my c code. However, when I try to build a _static library_, I get the `could not find native static library compiler-rt` error.

Right now I'm trying to f

[2015-04-29 13:10] killercup commented on #24928
A very good idea, @alfiedotwtf! I'd like to make loops more explicit by prefixing every loop construct with the `loop` keyword: `loop while`, `loop for`, `loop loop`, etc.

[2015-04-29 13:11] GuillaumeGomez commented on #24928
@killercup: Oh nice ! And then, to be even more precise on the condition, we could do `loop while for loop`, just in case. We're never sure.

[2015-04-29 13:17] pnkfelix commented on #24937
(there is also a IMO reasonable argument that the better fix here would be to make it so that `--enable-debug`'s addition of `-g` into the compilation flags had *no effect* on the flags used for running the test suite; the latter was not the fix I was originally aiming for, but it may be an appropriate change as well.)

[2015-04-29 13:39] rudib commented on #23717
Yeah, I just use gcc to link the Rust library and all of its dependencies (.rlib) into the final executable (firmware image). So, from Rust's side: liballoc, libcollections, libcore and libunicode. Here are the compiler commands to compile these base dependencies:
[code]

And for my final library:
[code]

Pass all of these libraries to your final gcc build and it should find all the required symbo

[2015-04-29 13:45] Stebalien commented on #24928
@killercup
No no no. We don't need all these fancy loop variants. Just get rid of them and add guard statements to `loop` expressions:
[code]

[2015-04-29 13:53] pnkfelix opened #24940 "How to I-nominate a closed PR tagged with beta-nominated+beta-accepted?"
How to I-nominate a closed PR tagged with beta-nominated+beta-accepted?

For example #24724 ?  The latter is closed, and so the usual search for I-nominated tagged issues will miss it, since we usually only look at *open* issues tagged as such.

(I suspect that it might actually suffice to just *open* an issue each time this event occurs, since I suspect it should be a relatively rare occurrence.)

[2015-04-29 13:54] pnkfelix commented on #24940
triage: I-nominated

This is both a process issue at the meta-level, but it also serves as a proxy for the (closed, beta-nominated, beta-accepted) PR #24724.

[2015-04-29 13:55] bluss commented on #24939
Strings aren't indexable and .len() doesn't count the number of chars.

What comes to mind first is an iterator inspecting the two first chars:

[code]

[2015-04-29 13:59] oli-obk commented on #24939
xD I didn't test my code, but you get the gist.
I had a `chars()` impl at first, but then edited it

[2015-04-29 14:34] bombless commented on #10481
Luckily `ToPrimitive` was gone so we don't have this problem in std any more.

[2015-04-29 14:35] bytwise opened #24944 "Beta Regression: cannot reference Self from where clause for inherent impl"
The following code compiles with `rustc 1.0.0-beta (9854143cb 2015-04-02) (built 2015-04-02)` but does not compile with `rustc 1.0.0-beta.2 (e9080ec39 2015-04-16) (built 2015-04-16)`

[code]

[2015-04-29 14:39] bombless commented on #15919
[code]
Seems that it is not an issue any more.

[2015-04-29 14:39] pnkfelix commented on #24944
Specifically, the error message one gets (at least with my beta build) is:
[code]

[2015-04-29 14:41] pnkfelix commented on #24944
However, this may be deliberate.  At least, I don't remember what the rules are about when `Self` is in scope, if at all, within `impls` -- I tend to only use it within `trait` definitions, myself.

[2015-04-29 14:47] bombless commented on #17811
[code]
Same issue today.
Seems relatively easy to fix, I'll work on it.

[2015-04-29 14:50] bombless commented on #24944
No way, this is definitely wrong.
`Self` is a keyword, the compiler should never print error message like that.

[2015-04-29 14:56] pnkfelix commented on #24944
@bombless there's a difference nonetheless between a poor error message and a regression in the compiler itself.  I'm trying to identify exactly what this is.

[2015-04-29 14:58] pnkfelix commented on #24944
(I have a strong suspicion that this change was injected by PR #23998, which was a fix for #23909.  I am doing some builds to try to verify that suspicion now.)

[2015-04-29 15:13] alexchandel commented on #24397
@vadimcn Can we have a zip release too, that contains Rust and Cargo like the others? Linux and OS X have an archive release. Those are preferred in chocolatey because they don't involve the registry or any other Windows components.

[2015-04-29 15:17] tamird commented on #24937
I think I was probably the author of said patch :(

Anyway, looks like there's a natural place to strip `-g` from the test suite: https://github.com/rust-lang/rust/blob/master/mk/tests.mk#L625

I'll open that PR in a few hours if you don't beat me to it.

[2015-04-29 15:17] pnkfelix commented on #24937
I'm about to take care of it.  :)

[2015-04-29 15:19] alexchandel commented on #21216
No idea, it occurred deep in the conrod example, which has been extensively refactored since then. If you're capable of Boxing a non-moving FnMut that modifies its environment, and passing it to a function that takes a Box, at least 5 times in one function, then it may have been fixed in rustc since then.

[2015-04-29 15:28] bombless commented on #18154
+1 for this, but I guess it's too late for 1.0.x

[2015-04-29 15:28] quantheory commented on #24938
I don't yet know what the exact problem is, but I think that it is related to this failing test case:

[code]
Output:
[code]

There are a few similar cases that I will open bugs for, some of which have a common cause, I think.

[2015-04-29 15:33] quantheory opened #24946 "ICE using a trait-associated const in a range match pattern"
Failing test case:
[code]

The problem here seems to have a similar or the same cause as that in #24938, namely that `select` is looking for a `Self` type in a `Substs` derived from a node's `item_substs`, but it is not finding it.

[2015-04-29 15:39] quantheory opened #24947 "ICE using a trait-associated const in an array size"
This only seems to be triggered if the size has to be evaluated by `typeck`; for instance you can use `size_of` on such an array without triggering the issue.

Test case:

[code]

In fact, it's fine to use the inherent impl above (in the definitions of `y` and `z`), but the trait-associated constant causes a problem that resembles #24946 and #24938. I'm not sure if it would have the same solution,

[2015-04-29 15:41] tshepang commented on #24928
@Stebalien I actually like that syntax proposal. Is there anything wrong with it that I don't see?

[2015-04-29 15:45] Stebalien commented on #24928
@tshepang
1. for loops store the iterator expression (`loop if let Some(x) = a.map(...).filter(...)` won't work).
2. It's guaranteed to needlessly confuse new users from other languages.

[2015-04-29 15:54] tshepang commented on #24928
I don't understand (1). Do you mean your syntax can't work, or that it doesn't work?

[2015-04-29 15:56] quantheory opened #24949 "Associated const references using UFCS can bypass `check_static_recursion`"
Currently, `check_static_recursion` is run after `resolve`, but before `typeck`. This made sense before, because after `resolve` it was possible to determine which constants referenced one another, and running before `typeck` ensured that we don't fall into an infinite loop during type checking. However, when referencing an associated constant with some UFCS forms, we can't resolve the constant un

[2015-04-29 15:56] Diggsey commented on #24928
I think everyone's missing the obvious here: now would be the perfect time to introduce significant whitespace.

However, due to the disagreement about spaces vs tabs, it would be best to standardise on a unicode "em space" character, and error on any other character identified as whitespace according to the unicode spec.

[2015-04-29 15:58] pnkfelix commented on #24944
(no, from locally building at 926f38e it seems like PR #23998 is *not* the source of the "regression" here.)

[2015-04-29 16:11] tshepang commented on #24928
This:

    for Some(x) in iterator {
        foo(x);
    }

could be mere sugar for:

    loop if Some(x) in iterator {
        foo(x);
    }

[2015-04-29 16:15] Manishearth commented on #24928
I'm rather disappointed by the lack of PRs introducing ICEs in Rust. A compiler without errors is no compiler at all.

Additionally, where is all the undocumented code? I thought @steveklabnik was supposed to ensure that the majority of code is undocumented so that people instead figure stuff out by reading the beautiful Rust source!

[2015-04-29 16:23] pythonesque commented on #24928
It is kind of disappointing.  How am I supposed to know whether a project has been abandoned or not when its source code doesn't have to have been updated within the last few weeks for it still to be working?

[2015-04-29 16:25] Stebalien commented on #24928
@tshepang This syntax **can't** cover that use case (you'd need some sort of `loop with iter = a.map(..).filter(..) let Some(x) = iter.next()`).

[2015-04-29 16:31] nikomatsakis opened #24950 "method call fails to upcast trait objects, resulting in overlong borrows"
@SimonSapin encountered an error in servo that I reduced to the following test case <http://is.gd/w7HPbJ>:

[code]

The errors you get are:

[code]

There are various possible workarounds:

1. http://is.gd/frmXsT
2. http://is.gd/FgrEfZ

but the gist (no pun intended, I kill me) is to ensure a coercion from `self` to `&mut Flow`, which allows us to upcast the lifetime in the trait object. The easie

[2015-04-29 16:31] nikomatsakis commented on #24950
triage: P-medium -- annoying, but there exists a workaround

[2015-04-29 16:35] nikomatsakis commented on #24950
I assigned myself but have not yet actively started working on this... it occurs to me it is not entirely clear when this upcast should be done in method dispatch. Perhaps just whenever the (fully transformed) receiver is of the form `&Foo` or `&mut Foo` trait object? And this kind of relates to the general desire to do upcasting to allow for calls implemented on supertraits.

The most obvious thi

[2015-04-29 16:46] kballard commented on #23600
I just hit this. It happens even with arrays whose element type is zero-sized (and therefore the entire array should be zero-sized):

[code]

[2015-04-29 16:51] pnkfelix commented on #24950
Note for future people triaging this bug: there are easy modifications of @nikomatsakis 's test that exhibit the same compile failure that will not infinite loop after this is fixed; for example, this:

[code]

[2015-04-29 17:17] SimonSapin commented on #24950
The work around exists, but is hardly discoverable… unless “every one ask Niko about their borrowck errors” is acceptable ;)

[2015-04-29 17:25] pnkfelix commented on #24556
@bombless we're already planning to land the Grisu2 PR (#24612 ), but it is not planned to be part of 1.0.  I cannot tell if that matches with what you were promoting or not; I just thought I'd mention the plan-of-record.

[2015-04-29 17:43] Stebalien commented on #24944
It is according to rust-lang/rfcs#522.

[2015-04-29 18:07] pnkfelix commented on #24944
@Stebalien it is (what) according to rust-lang/rfcs#522 ?   Supposed to be allowed?  Behaving as specified?

[2015-04-29 18:12] rkruppe commented on #24556
To be clear, the PR adds Grisu3 + Dragon4, not Grisu2. That is, it always finds the shortest representation at the cost of more code (and needing significantly more time and memory on about 0.5% of all possible floats). In the issue, I promoted Grisu2 in an attempt to keep implementation effort a bit lower, not knowing that @lifthrasiir already solved all problems. Forget about Grisu2 and celebrat

[2015-04-29 18:19] tamird commented on #17578
As of this writing the bots are running API 18.

[2015-04-29 18:30] kballard commented on #24556
How does Grisu3 + Dragon4 compare to [Burger & Dybvig](http://www.cs.indiana.edu/~dyb/pubs/FP-Printing-PLDI96.pdf)? This is basically the same thing as David Gay's algorithm, but was developed separately, and apparently differs slightly. More importantly, David Gay's C implementation is "mind-numblingly complex" and was written to prioritize speed over everything else, but the algorithm described

[2015-04-29 18:30] kballard commented on #24556
(And of course, how does it compare to Grisu2?)

[2015-04-29 18:34] gsquire opened #24954 "Compiler Panic (capacity overflow from CodeMap::span_to_lines )"
Code:
I got an unexpected compiler panic today when trying to compile this [gist](https://gist.github.com/gsquire/82c51f9bfacaee5b6d60).

Back trace:
I realize the code does not build on my end, but the compiler panicked and output [this](https://gist.github.com/gsquire/a384107af7d5b015f46a) with `RUST_BACKTRACE=1`.

## Meta

`rustc --version --verbose`:
* rustc 1.0.0-beta.2 (e9080ec39 2015-04-16)

[2015-04-29 18:45] arielb1 commented on #24944
@bombless

This is just the standard error message you get when you try to use `Self` outside of a trait, e.g.
[code]

[2015-04-29 18:45] ubsan opened #24955 "With a ridiculous amount of errors, ICE (capacity overflow)"
check out the gist: https://gist.github.com/GBGamer/e5e6b049fd715b219db4

This is my own modification of the compiler which has no bounds checks (but which makes it unsafe to index). This is an issue whenever you have a ridiculous amount of errors, however.

[2015-04-29 18:45] GBGamer commented on #24955
This should never be encountered normally, but, you know, still an ICE.

[2015-04-29 18:53] Stebalien commented on #24944
IMHO, it should be allowed.

[2015-04-29 18:53] rkruppe commented on #24556
Dragon4 is the algorithm of Burder and Dybvig. I didn't find the name in the paper but it's stated [elsewhere](http://www.serpentine.com/blog/2011/06/29/here-be-dragons-advances-in-problems-you-didnt-even-know-you-had/) that this is a semi-official name, even attributed to the authors.

As for comparisons:
Grisu3 is, by the benchmarks in the paper, several times faster than Dragon4 and the `sprint

[2015-04-29 19:16] tamird commented on #21216
Something like this?
[code]
This compiles without error.

[2015-04-29 19:17] arielb1 commented on #18937
Still broken after the fix of #22779 (http://is.gd/rZ0MgK)

[2015-04-29 19:25] tamird commented on #21216
Alternatively:
[code]
Attempts to leak an environment-mutating closure out of its closure, and fails without ICE:
[code]

I think this issue should be closed; it's unlikely to yield anything actionable. @steveklabnik?

[2015-04-29 20:01] pnkfelix commented on #24955
is this really actionable without a backtrace?

[2015-04-29 20:14] arielb1 opened #24956 "ICE when run-pass test match-arm-statics is compiled with debuginfo"
Compiling the test match-arm-statics with debug information (`rustc -g src/test/run-pass/match-arm-statics.rs`) causes an ICE:

[code]

This affects various versions of rustc including `6b95d8bed 2015-04-09` and `551a74ddd 2015-04-29`, and causes `make test` to fail when rustc is configured with `--enable-debuginfo`.

[2015-04-29 20:26] arielb1 commented on #24956
Minified:
[code]

[2015-04-29 20:37] pnkfelix commented on #24944
cc @nrc : was this an intentional side-effect of  #23998, or is this an inadvertent bug that we should fix?

(If its a bug, I'm assuming we can prioritizing fixing it based on how much breakage we observe on crates.io ?)

[2015-04-29 20:42] ericsink opened #24957 "unsized enums don't work"
`rustc` is not checking that all types that are put into a sized-context are in fact sized.

Consider for example:

[code]

This yields an ICE:
[code]

Original bug report follows
----

    erics-air-2:Elmo eric$ rustc --version
    rustc 1.0.0-beta.3 (5241bf9c3 2015-04-25) (built 2015-04-25)

I'm on MacOS X Mavericks.

Here's the source file that causes the problem (I'm a rust newbie):

    enum

[2015-04-29 21:03] tamird opened #24958 "LLVM assertion: "stdcall" with return value on Android"
main.rs:

[code]

Triggers an LLVM assertion when targeting Android:

[code]

[2015-04-29 21:06] brson opened #24959 "64-bit beta's include 32-bit libraries"
Build master is not passing --enable-dist-host-only to configure.

[2015-04-29 21:23] pnkfelix commented on #24954
@gsquire if you cannot reduce it down to a standalone set of files, it might be easier for us if you share a cargo repo and commit id, rather than us having to guess what version of the external crates we need to attempt to reproduce.

[2015-04-29 21:31] gsquire commented on #24954
@pnkfelix Would you like me to post my Cargo.toml file? Would that be sufficient?

[2015-04-29 21:32] pnkfelix commented on #24954
@gsquire yeah that would be great

[2015-04-29 21:33] pnkfelix commented on #24959
wait, is that a bug, or a feature ... ?

[2015-04-29 21:35] gsquire commented on #24954
@pnkfelix Here it is:

[code]
Sorry I didn't think to add that in the first place. If there is anything else you need, let me know.

[2015-04-29 21:46] bluss opened #24963 "Newtype impedes vectorization"
In the following example, the newtype is not zero-cost in practice since it seems to impede optimizations in llvm. The plain u32 sum vectorizes while Foo(u32) does not. The newtype fold needs 3 times the runtime of the plain u32 fold.

rustc version: rustc 1.1.0-nightly (97d4e76c2 2015-04-27) (built 2015-04-28)

code [(playpen link)](http://is.gd/FrGoDm)

(The code has been updated)

[code]

bench

[2015-04-29 21:50] pnkfelix commented on #24954
(okay I've replicated locally now)

[2015-04-29 22:05] konstin commented on #24928
Now that you can't do real breaking changes for Rust 1.0 anymore, you should start writing Rust 2 which changes one of the key concept, e.g. replace the borrow checker with a garbage collecter, so you have to maintain two versions at once, which will ensure there are enough bugs for everyone in every version.

[2015-04-29 22:12] pnkfelix commented on #24957
hmm, that looks like an unsized type (since some of the variants carry e.g. `[T]` for various types `T`), but then it is also being embedded into contexts that expect solely sized types (e.g. `[BsonValue]`, `[(String,BsonValue)]`)

[2015-04-29 22:12] pnkfelix commented on #24957
(in other words, I bet this is a failure in the well-formedness check.)

[2015-04-29 22:19] pnkfelix commented on #24957
(updated description with a simpler test case.)

[2015-04-29 22:27] alfiedotwtf commented on #24928
@konstin how about going full-circle: introduce manual memory allocation with two new keywords:

    * malloc
    * free

[2015-04-29 22:28] ruud-v-a commented on #24407
I encountered a very misleading instance of E0282 just yet. I’m writing the long documentation for it as we speak and I improved the error message.

By the way, if any one wants to have a go at 298, 299 or 300, feel free to do so, I have not been able to reproduce them yet.

[2015-04-29 22:47] Stebalien commented on #24928
@alfiedotwtf Keywords are so 20th century:

[code]

[2015-04-29 22:56] Stebalien commented on #24963
That second one should be `|a, &b|` which is slightly faster but still 3x slower on my machine. Destructuring (`|Foo(a), &Foo(b)| Foo(a + b)`) is the same as `|a, b|` and slower than `|a, &b|`.

[2015-04-29 23:33] bombless opened #24968 "Wrong error message when using `Self` in some places"
[code]
[code]

`Self` is a keyword, this error message indicates that it can be used to define type, which is misleading.

[2015-04-29 23:35] bombless commented on #24944
@arielb1
You're right, filed an issue https://github.com/rust-lang/rust/issues/24968

[2015-04-29 23:37] pnkfelix commented on #17166
yeah to my knowledge not one of the auto-builders does a build with `--enable-debug`.  It has allowed various bugs to creep in at times (e.g. #24405, #24937)

[2015-04-30 00:06] GBGamer commented on #24955
@pnkfelix I just copy-pasted the output RUST_BACKTRACE=1 make

[2015-04-30 00:18] pnkfelix commented on #24955
@GBGamer funny, okay.  I'm used to seeing the backtraces at the bottom after my error listings.

[2015-04-30 00:24] blaenk opened #24969 "ICE when using &Path bind"
I'm not sure if this is a regression of #23133 or what, but the following has produced an ICE ever since I can remember. I commented on the above issue that it had been fixed at the time I made such a comment, so I guess this is a regression of some sort.

[code]

[playpen](http://is.gd/gWjyh8)

crashes on beta and nightly

[code]

[2015-04-30 00:27] blaenk commented on #24969
cc @aturon perhaps (if not, disregard)

[2015-04-30 01:29] lifthrasiir commented on #24556
I think others already have explained algorithms, but to recap:

* Dragon4 (aka Burger and Dybvig) is a bignum-based algorithm, is slow but always produces the shortest and accurate result. It is particularly slow when the absolute magnitude of the number printed is very large or very small.
* David Gay's `dtoa.c` is a hybrid algorithm using bignum and various optimizations, and is known to produc

[2015-04-30 01:45] GBGamer commented on #24955
@pnkfelix yeah, I know, I was weirded out too :P

[2015-04-30 02:03] #24796 closed

[2015-04-30 02:03] #20780 closed

[2015-04-30 02:03] #24118 closed

[2015-04-30 02:03] #24872 closed

[2015-04-30 02:03] #24923 closed

[2015-04-30 02:03] #17437 closed

[2015-04-30 02:03] #24585 closed

[2015-04-30 02:03] #24937 closed

[2015-04-30 02:03] #24925 closed

[2015-04-30 02:03] #9116 closed

[2015-04-30 02:26] Anachron commented on #24928
How about swapping all symbols with their name?

'''rust
let my_var be 1
let mut my_copy_var be a value reference to 2
'''

This will make it easier for people to code Rust, as they wont have to find the symbols in their keyboard anymore, thus speeding up the development even more.

[2015-04-30 02:38] Stebalien commented on #24928
[code]

[2015-04-30 02:59] Anachron commented on #24928
This would be the second step, which should follow after all people have successfully migrated to the new command, still allowing underscores in variable names and numbers. This will be a two step migration path leading to more acceptance.